[2018-11-07 09:57] petrochenkov commented on #55618
@eddyb
This is fixed on my branch.
[code]

[2018-11-07 10:13] computersarecool commented on #12393
@steveklabnik I am also interested in an answer to this.

[2018-11-07 10:23] RalfJung opened #55747 "Rc/Arc for DST compute layout incorrectly"
https://github.com/rust-lang/rust/pull/54922 introduced a critical bug where the layout of an allocation is computed incorrectly, leading (at least) to a deallocation with a different size than the allocation.

This is easily demonstrated by cherry-picking https://github.com/RalfJung/rust/commit/c2e59333d94233f40952c75fff4cbc5fc63b11d1 and running `./x.py --stage 1 test src/liballoc` (left is the

[2018-11-07 10:32] RalfJung commented on #55747
Hm, that would however change the behavior of a stable type. (`extend()` is unstable, but `Layout::from_size_and_align` is stable). Not sure if we can do that.

The default allocator could at least `debug_assert!` that size is divisible by alignment, though?

[2018-11-07 10:36] gnzlbg commented on #55747
cc @Amanieu @SimonSapin

[2018-11-07 10:48] pnkfelix opened #55748 "NLL: investigate ascription when a `_` wildcard tyvar is repeated"
Spawned off of https://github.com/rust-lang/rust/pull/55637#issuecomment-436277516

Update: I had updated this description with a demo. But reading over it now, I don't know why I thought the "demo" had anything to do with this bug *as described*. That is, I believe demo is showing *a bug*, but not necessarily *this bug*...

Nonetheless, I'm not going to spawn off yet another bug quite yet. Instea

[2018-11-07 11:05] pnkfelix commented on #55744
There's some truly ancient history here, see e.g. #12451 and [meeting from 2014-06-10](https://github.com/rust-lang/meeting-minutes/blob/master/weekly-meetings/2014-06-10.md#hygiene-and-lifetimes)

[2018-11-07 11:19] macabeus opened #55749 "Formatted print doesn't work as expected with debug + enum"
If you use the debug print and a formatter such as `{: <3?}` with a `enum` to print the case name, the code does not work as expected.

[code]

It's only work if the enum has a value:

[code]

Maybe we should fix this behaviour?

[Also, I've open a question at Stackoverflow about this behaviour.](https://stackoverflow.com/questions/53183198/why-debug-print-does-not-formatted-an-enum-as-expected)

[2018-11-07 11:20] gnzlbg commented on #55618
@withoutboats

[code]

[produces (playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=558e3853c8705a5b6f272e349c9591cc):

[code]

appears to be an appropriate way to deal with the paper cut you mention. We can always error on these ambiguities right ? Or are there cases where in an ambiguous situation one of them is silently picked ?

---

Maybe it would be worth

[2018-11-07 11:44] Stargateur commented on #55743
That clearly specified in the doc:

https://doc.rust-lang.org/std/io/trait.BufRead.html#method.lines

So I don't agree about "This is counterintuitive".

Also this is only used on very old system according to wikipedia:

https://en.wikipedia.org/wiki/Newline#Representation

The only one "recent" is OS-9, I think it's not useful to add `\r` to `lines()` function.

[2018-11-07 11:51] Amanieu commented on #55747
Maybe add a method called `pad_to_align()` which rounds the size of a `Layout` up to the next multiple of its alignment?

[2018-11-07 12:40] ortem commented on #55586
Thanks a lot for a link to "Rust Debugging Quest", I'll monitor the progress of it!

I ran it, but got this:
[code]

After `export LLDB_DEBUGSERVER_PATH=~/.rustup/toolchains/nightly-x86_64-apple-darwin/lib/rustlib/x86_64-apple-darwin/bin/lldb-server`, I got this:
[code]
Could you please help me find a way to use it?

The current state of LLDB pretty-printers is poor. The main problem is they don't

[2018-11-07 12:49] hellow554 commented on #55749
As already said on Stackoverflow, this might be related to https://github.com/rust-lang/rust/issues/55584

[2018-11-07 12:51] hellow554 commented on #55743
Some embedded systems use `\r` for their newlines as well. Sad, but true.

But I would not mind to use `split` instead of `lines` TBH.

[2018-11-07 12:52] phaylon commented on #55618
I hope I'm not missing something, but wouldn't anchored paths increase the regularity when it comes to root/module differences? For example, if I have a module `mymod` in any module I can write `use crate::mymod::SomeType` to get at the type. But at the root level, `mymod` is just a submodule, so in the `main.rs` a simple `use mymod::SomeType` would work.

This seems to go against the idea that cr

[2018-11-07 12:55] SimonSapin commented on #55747
`extend` is currently documented as returning a layout equivalent to that of a two-field struct with `#[repr(C)]`, which would imply this rounding up. But yes, indeed we’d only want to round once if a single "struct" with more than two fields.

[2018-11-07 12:56] dhardy commented on #44208
I just tried to write the following, and it failed. Feels like a bug given the incorrect bound, but seems to be related to the story here. Shall I open a new report?
[code]
Error:
[code]

[2018-11-07 13:02] hellow554 commented on #55620
Sorry, but I don't get you. `Some(ref path)` is correct in this case and should be used, because you have a `&Box`.
Yes you can omit the `ref` and just write `Some(path)` but then you move the value, which is not always possible, but `ref` is.

[2018-11-07 13:03] hellow554 commented on #55620
[code]

for example cannot be solved by removing `ref`, because you would move the value out of content, so I think this is totaly fine.

[2018-11-07 13:50] eddyb commented on #55744
I thought we had to pass lifetimes to macros to make things work, are they hygienic *sometimes*?

[2018-11-07 13:56] petrochenkov commented on #55744
Only labels are hygienic (if those can be counted as lifetimes).

[2018-11-07 14:18] gnzlbg opened #55752 "Incorrect coherence diagnostic"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=646489805ed41f94a56e0a2077e0437d))

Errors:

[code]

This is incorrect because the error message states:

but the `impl` does reference one type defined in this crate: `MyError`.

[2018-11-07 14:43] mersinvald opened #55756 "Lifetimes bug on beta 1.31: the associated type may not live long enough"
A reduced test case ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=95c6cf5b6f9d53cfb7136cfa1bbd0b7e)):

[code]

Error diagnostic output in details block below

<details>

[code]

</details>

## Original bug report

#### Versions
rustc 1.31.0-beta.4 (04da282bb 2018-11-01)
cargo 1.31.0-beta (efb7972a0 2018-10-24)

#### Expected behavior
Everything compiling correctl

[2018-11-07 14:46] pnkfelix opened #55757 "Various tests break if `optimize-tests = false` in `config.toml`"
Some number of tests in the test suite will break if you turn off optimization. (The breakage is usually not terrible; e.g. sometimes its mild difference in diagnostic output.)

This is nonetheless a real problem because there is no good way to work around it. For example, there is no way for a test to specify that it *requires* a certain opt-level.

[2018-11-07 14:48] pnkfelix commented on #54153
This is an instance of #55757

[2018-11-07 14:52] pnkfelix commented on #55757
Hmm, @oli-obk points out that one can add `// compile-flags: -O` to such tests to sidestep the behavior.

And that's true: One can pass `-O` multiple times to the compiler.

I had thought you couldn't, because what you *cannot* do is pass `-O -C opt-level=0`. I.e., there's a still a problem in that tests cannot specify that they *require* optimizations to be turned off.

[2018-11-07 15:02] RalfJung commented on #53491
Status update: To make progress with https://github.com/rust-lang/rust/pull/54668, we likely need someone to tweak layout computation for unions. @eddyb is willing to mentor, but we need someone to do the implementation. :)

[2018-11-07 15:14] pnkfelix commented on #54654
ping @Boscop can you provide more information about how to reproduce this bug please?

[2018-11-07 15:42] gnzlbg commented on #40628
We might want to make this change for Rust2018.

---

Also, why are these traits and `AssertUnwindSafe` not available in `core::panic` ?

[2018-11-07 15:45] jonhoo commented on #34681
Looking back, this might be part of the reason I wanted #54772. I was opening docs locally in Firefox, and kept seeing the awful fonts that the browser falls back to when it fails to load the rustdoc fonts. I think the situation would be significantly improved (though not entirely fixed) by making the font stacks be *only* the loaded font + the font style. So, for example, today we have
[code]
The

[2018-11-07 15:57] alexcrichton opened #55759 "2018 idioms: incorrect suggestion for root module and crate of same name"
First reported at https://github.com/rust-lang/cargo/issues/6273

this code:

[code]

[when compiled](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=b3d0b4244408b208f6dc9ad9b60f7fa5) gives a warning that, when applied, produces code that doesn't compile

[2018-11-07 15:58] alexcrichton commented on #55759
@ehuss notes that [this code](https://github.com/rust-lang/rust/blame/15d770400eed9018f18bddf83dd65cb7789280a5/src/librustc_typeck/check_unused.rs#L184-L187) is likely relevant here.

[2018-11-07 16:03] pnkfelix commented on #55511
Just a quick note: this one *is* rejected by NLL.

[code]

From looking at the MIR generated for the first example, perhaps the problem stems from this ?

[code]

[2018-11-07 16:04] ollie27 commented on #32129
This needs to be reopened. There are still broken links (e.g. #55666) and this issue can't be closed until the whitelist in linkchecker is removed: https://github.com/rust-lang/rust/blob/8315b11b6352cbd91ee096571c31ae7d3ac9613d/src/tools/linkchecker/main.rs#L134-L148

[2018-11-07 16:15] QuietMisdreavus commented on #55690
Bisecting: Doesn't work on `rustc 1.31.0-nightly (4bd4e4130 2018-10-25)`, does work on `rustc 1.31.0-nightly (3e6f30ec3 2018-10-26)`, so i'm pretty sure that it was https://github.com/rust-lang/rust/pull/55258 that fixed it.

[2018-11-07 16:46] Timmmm opened #55762 "Add File::open_with() function to open files with options (e.g. read/write)"
The current way to open a file is this:

[code]

But if you want to open a file in with any options you do this:

[code]

It's [weird](https://stackoverflow.com/a/50039389/265521) that the options object does the actual opening. I propose that we deprecate `OpenOptions::open()` and add `File::open_with(path: &str, options: &OpenOptions)`.

[code]

[2018-11-07 17:00] luser commented on #39819
This was fixed in https://github.com/rust-lang/rust/issues/44582

https://github.com/rust-lang/rust/blob/master/RELEASES.md#stabilized-apis

Hooray!

[2018-11-07 17:11] paul-hammant opened #55763 "Avira anti-virus marks this item as infected"
`rustc-1.30.0-src/src/tools/lldb/unittests/SymbolFile/DWARF/Inputs/test-dwarf.exe`

It is installed for some unit test with Rust for some purpose ?

Relates to (Mac):

`Homebrew/downloads/1d49ea42373b3bc3a966ce08027f958cb636942ca4e1d2273dd608b9c29a0485--rustc-1.30.0-src.tar.gz`

[2018-11-07 17:29] jonas-schievink commented on #55763
It's part of LLDB's test suite and likely a false positive

[2018-11-07 17:31] rpjohnst commented on #55618
@phaylon That is accurate, but does not make the crate root special- uniform paths let you remove the `crate::path::to::here::` prefix in any module, not just the crate root.

[2018-11-07 17:38] QuietMisdreavus commented on #55321
Looks like this error has been there the whole time that synthetic impls have been there - that sample fails all the way back to 1.26.0.

[2018-11-07 17:39] phaylon commented on #55618
@rpjohnst What I mean is: Will there ever be a need to use `crate::` in the root module, or examples or such? The special-ness being "`crate::` is only for submodules". I sometimes (unsure how often) see people refer to `crate::` as paths for "your own modules", but it would be more of a semantic root marker.

This might just be something that is relevant when it comes to documentation. There coul

[2018-11-07 18:02] paul-hammant commented on #55763
I'll inform Avira that https://github.com/llvm-mirror/lldb/blob/master/unittests/SymbolFile/DWARF/SymbolFileDWARFTests.cpp (or the exe from it) is innocent.

[2018-11-07 18:02] #55763 closed

[2018-11-07 18:37] RustyYato opened #55765 "ICE compiler panics on type inference when using proc macro (stable)"
I was working on yet another implementation of the builder pattern, and pushing the type system to hold info about whether a type has been initialized. I used a proc macro to handle the boiler plate code. When I was testing it I ran into this ICE.

The code I wrote should fail to compile, but it shouldn't cause an ICE.

I tried creating a minimal example, but when I inline the macro call, the ICE

[2018-11-07 18:39] KrishnaSannasi commented on #55765
This is the minimal set of impls for the traits in `partial_init_core` that create the ICE:
[code]

[2018-11-07 18:39] withoutboats opened #55766 "[Stabilization] Pin APIs"
@rfcbot fcp merge
Feature name: `pin`
Stabilization target: 1.32.0
Tracking issue: #49150
Related RFCs: rust-lang/rfcs#2349

This is a proposal to stabilize the `pin` library feature, making the "pinning"
APIs for manipulating pinned memory usable on stable.

(I've tried to write this proposal as a comprehensive "stabilization report.")

## Stabilized feature or APIs

### `[std|core]::pin::Pin`

T

[2018-11-07 18:46] withoutboats commented on #55766
@rfcbot fcp merge

[2018-11-07 19:16] steveklabnik commented on #55599
Knowing if this will ship in 1.31 or not is important for the book, for the reasons that @Nemo157 mentioned. Could we maybe get an answer here?

[2018-11-07 19:35] estebank commented on #55752
This could be fixed by changing the wording to "the impl does not reference only types defined in this crate" either only for cases like this if easy, or always.

[2018-11-07 19:42] QuietMisdreavus commented on #55690
Bisection complete, https://github.com/rust-lang/rust/pull/55258 was the fix, i'm nominating for backport.

[2018-11-07 19:48] KrishnaSannasi commented on #55765
here is a [link](https://github.com/KrishnaSannasi/partial-init) to the full code

the run crate contains the test code
the partial-init-core contains necessary traits and structs for partial-init-derive
partial-init-derive contains the proc-macro

[2018-11-07 19:51] alexcrichton commented on #55766
Thanks for the detailed writeup here @withoutboats! I've also sort of been historically confused by the various guarantees of `Pin`, and I've currently got a few questions about the APIs being stabilized here wrt the safety guarantees. To help sort this out in my own head though I figured I'd try to write these things down.

In trying to start writing this down though I keep running up against a w

[2018-11-07 19:52] tinaun commented on #55766
if i have got this correct, every type that is not self referential (ie: not a generator) is Unpin

[2018-11-07 19:52] alexcrichton commented on #55729
AFAIK this has always been the case, `nm` has never been able to process all entries in an archive.

[2018-11-07 20:02] alexcrichton opened #55768 "2018 idioms: duplicate suggestion for anonymous lifetime"
First [reported here](https://github.com/rust-lang/cargo/issues/6273#issuecomment-436684533) this code:

[code]

[when compiled](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=307ad8068feba5ab5a4591fdf0de889f) yields two warnings to insert anonymous lifetimes. While we as humans can figure this out pretty well, Cargo as a merciless program can't figure this out and `cargo fi

[2018-11-07 20:03] gnzlbg commented on #55729
Damn, I've used the system's nm a lot in the `mach` crate and never had an issue with it, but maybe the archives generated don't trigger the issues that the `jemallocator` ones do.

[2018-11-07 20:12] jminer opened #55769 "No console colors on Windows 7"
I just updated Rust at work, and now rustc has no colors in the console (Cargo still does). I'm using Windows 7 64-bit with Rust MSVC 32-bit. I tried 1.29 stable and it worked, but 1.30 stable and the latest nightly don't work. I have tried both cmd.exe and PowerShell and both look the same. This is a big regression in usability, so I'll probably downgrade back to a working version.

![rustc_no_co

[2018-11-07 20:13] #54705 closed

[2018-11-07 20:13] #51947 closed

[2018-11-07 20:13] #55374 closed

[2018-11-07 20:14] Nemo157 commented on #55766
It's not just self-referentiality, there are some other use-cases for stable memory addresses that `Pin` can also support. They are relatively few and far-between though.

How I understand `Unpin` being safe to implement is that by implementing it you may violate an invariant required of other unsafe code you have written (crucially, only you may write this unsafe code, no external code can be rel

[2018-11-07 20:35] tromey opened #55771 "gdb BTreeMap pretty printer is incorrect"
As noted [here](https://github.com/rust-lang/rust/pull/53357#issuecomment-436333097), the `BTreeMap` pretty-printer for gdb only works for a small number of elements.

For example, this works:
[code]

However, if you change the 10 to 15, it will stop working:

[code]

[2018-11-07 20:37] rep-nop opened #55772 "Out of bound index cast causes ICE"
It seems like any in-place cast to `usize` that is out of bounds is causing an ICE. rustc fails on both current stable and nightly. not sure if #52432 is related or not.

minimal reproduction:
[code]

playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=53b64af01f09b42643ff9283679016ca

full backtrace:

[code]

[2018-11-07 20:43] jonhoo commented on #34681
From `#docs` on Discord:

[2018-11-07 20:46] In-line commented on #55648
Thanks!

[2018-11-07 20:46] #55648 closed

[2018-11-07 20:47] alexcrichton commented on #55766
Hm I still don't really understand `Unpin`. I'm at first just trying to understand what it means to implement or not to impelment `Unpin`.

First off, it's probably helpful to know what types implement `Unpin` automatically! It's mentioned above that common pointer types (Arc/Rc/Box/references) implement `Unpin`, but I think that's it? If this is an auto trait, does that mean that a type `MyType`

[2018-11-07 21:04] lbrande commented on #55752
I would like to give this a try. I haven't worked on this repo before so if possible I would appreciate some guidance.

[2018-11-07 21:33] withoutboats commented on #55766
This was one of the trickiest parts of the pinning API, and we got it wrong at first.

Unpin means "even once something has been put into a pin, it is safe to get a mutable reference to it." There is another trait that exists today that gives you the same access: `Drop`. So what we figured out was that since `Drop` is safe, `Unpin` must also be safe. Does this undermine the entire system? Not quit

[2018-11-07 21:36] estebank commented on #12182
Current status:
 - [We have a way to test spans visual output](https://github.com/rust-lang/rust/blob/master/src/libsyntax/test_snippet.rs)
 - We have a way to test the UI output for the entire test suite
 - We have a way to test the code generated from applying suggestions (`.fixed` test files when adding `// run-rustfix` to test file)

@steveklabnik @sanxiyn do you think we can close this ticket

[2018-11-07 22:00] KrishnaSannasi commented on #55765
@estebank could you add a type-inference label, as I think that type inference is where the compiler is going wrong.

[2018-11-07 22:15] ehuss commented on #35183
@QuietMisdreavus I think it sounds interesting.  I opened an issue at rust-lang/cargo#6279 to track the feature request.  Feel free to add to it or correct anything that I may have misinterpreted.  The team is currently doing long-term planning and may be a little busy in the short term, and I'm not aware of anyone who would push it forward right now. But we can definitely talk about it more.

[2018-11-07 22:22] phil-opp opened #55773 "Combine 32-bit and 64-bit code"
I'm trying to write a x86 bootloader in Rust, that initializes the CPU from 16-bit real mode to 32-bit protected mode to 64-bit long mode. This means that I have to combine code for the different modes in a single executable. I'm currently using global_asm for the 16-bit and 32-bit code (together with the `.code16` and `.code32` inline assembly flags), but I would like to port the 32-bit stage to

[2018-11-07 22:44] steveklabnik commented on #12182
Sounds good to me. Let's close! <3

[2018-11-07 22:44] #12182 closed

[2018-11-07 23:33] estebank commented on #54541
I believe it's the same underlying issue as #55772.

[2018-11-08 00:21] alexreg commented on #50753
@mikeyhew Still interested in tackling this by chance? Mainly out of curiosity, since I'm too busy with other PRs right now, and it would be a while until I could get to this...

[2018-11-08 03:29] spease commented on #55743
@Stargateur Maybe it's an age thing, but I've thought of "\r", "\n", and "\r\n" as being the trio of possible newlines to be truly crossplatform.

@hellow554 The problem is that split('\r') means that I no longer split on '\n', so it won't work for files using that newline separator. And since BufRead only appears to provide either read_line (which doesn't cover '\r') or read_until (which only cov

[2018-11-08 03:52] mikeyhew commented on #50753
@alexreg I actually tried replacing the loop with `predicate_must_hold` and `predicate_may_hold`, but the former was too restrictive and the latter had false positives that resulted in code failing to compile. I'm not sure what to do at this point.

[2018-11-08 04:05] #55020 closed

[2018-11-08 05:09] Matthias247 commented on #55766
Shouldn't an async state machine have a `Drop` implementation? Things that are on the "stack" of the async function (which probably equals fields in the state machine) need to get destructed when the async function completes or gets cancelled. Or does this happen otherwise?

[2018-11-08 06:33] euank opened #55775 "Regression in `Command::exec`'s PATH resolution"
Using `env_clear()` + `exec()` currently exhibits different behaviour on nightly and stable.

I believe the first nightly to regress was `2018-11-02`.

A minimal reproduction is the following code:

[code]

On stable, it prints no error. On nightly, it prints `error: No such file or directory (os error 2)`.

Using `strace -e trace=execve`, we can see the difference:

[code]

## Meta

[code]

[2018-11-08 06:53] phansch commented on #55775
Probably due to https://github.com/rust-lang/rust/pull/55359

[2018-11-08 06:56] flagello opened #55776 "Non-deterministic bytes within newly init, unsafely extended vector"
~Nightly-only failure as far as I can see.~ I am able to reproduce in a few single runs locally on nigthly, [while an infinite loop did the trick within the playground on both nigthly](
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=92eadab21e26625996b08d4a388da2c9) and [stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015). _(Update: Am I missing so

[2018-11-08 08:03] RalfJung commented on #54541
That seems likely. `const_prop` strikes again :/

[2018-11-08 08:21] nnethercote commented on #54274
#55778 fixes some of these, the ones that show up in profiles. There are still a couple more that were more annoying to fix.

[2018-11-08 08:52] jonas-schievink commented on #55776
I don't see any reason why this should have ever worked, uninitialized memory can contain anything. The behaviour might have changed with the move to the system allocator.

[2018-11-08 09:04] flagello commented on #55776
I see. I was unaware I need zero-out if I am expecting them to be there. Thanks!

[2018-11-08 09:04] #55776 closed

[2018-11-08 09:06] SimonSapin commented on #55766
I guess what matters in this context is whether an `impl Drop for Foo {…}`  item exists, which would run code with `&mut Foo` which could use for example `mem::replace` to "exfiltrate" and move the `Foo` value.

This is not the same as "drop glue", which can be called through `ptr::drop_in_place`. Drop glue for a given `Foo` type will call `Drop::drop` if it’s implemented, then recursively call th

[2018-11-08 09:18] Nemo157 commented on #55766
Also, while a generator (and therefore an async state machine) has custom drop glue, it's just to drop the correct set of fields based on the current state, it promises to never move any of the fields during drop.

[2018-11-08 09:32] ortem commented on #55771
The problem is this pretty-printer gets the data only from the root node and doesn't take into account the structure of B-tree. It is necessary to implement the iteration over all tree, so the bug is not so easy to fix. I will try to do it in the near of future, together with the [HashMap](https://github.com/rust-lang/rust/issues/41082), but not sure if I can handle it.

[2018-11-08 09:33] dtolnay opened #55779 "Compile-time stack overflow when trait impl contains extern crate"
I have two crates:

#### helper/src/lib.rs

[code]

#### repro/src/main.rs

[code]

Notice that the implementation of `helper::Trait` contains an `extern crate helper`. Something is not happy about that.

[code]

This currently affects Serde trait impls that use a private helper type with a Serde derive, which is a common pattern.

[code]

The following script reproduces the issue as of rustc 1.31

[2018-11-08 09:46] dtolnay commented on #55779
Mentioning @petrochenkov who seems to know about extern_prelude.

[2018-11-08 09:54] Stargateur commented on #55743
Well, you need a more low level feature, and `BufRead` actually have this feature:

[code]

But that indeed require some work.

[2018-11-08 10:19] petrochenkov commented on #55596
From what I've seen no annotations usually mean forgotten annotations.

Annotations also make compile-fail tests readable - you can see what the test is testing, what lines have issues. Otherwise you have to compare the source and the output side-by-side and that's hard and unreliable, especially given that line numbers in `.stderr` files are partially anonymized.

I'd prefer to keep this minor an

[2018-11-08 11:11] withoutboats commented on #55766
The terminology I use (though I don't think there's any standard): "drop glue" is the compiler generated recursive walking of fields, calling their destructors; "Drop implementation" is an implementation of the `Drop` trait, and "destructor" is the combination of the drop glue and the Drop implementation. The drop glue never moves anything around, so we only care about Drop implementations.

[2018-11-08 12:02] lbrande commented on #55752
Thanks, will try to get things set up later today.

[2018-11-08 12:17] #55505 closed

[2018-11-08 12:35] stjepang commented on #48055
While playing with the `unsized_locals` feature, I ran into a stumbling block: `mem::forget()` and `mem::drop()` don't accept `T: ?Sized`.

What's the plan for allowing `?Sized` types in these and related functions?

[2018-11-08 13:10] eddyb commented on #48055
@stjepang sounds like an oversight, feel free to open a PR to relax those bounds.

[2018-11-08 13:20] ortem commented on #41082
Is there any progress on this issue?

I suppose it is impossible to get the key (value) type from a HashMap, because it is even impossible to get a generic type from an empty `struct S<T>`. I'm not sure, but probably the compiler should use `Substs` from `ty::Adt` inside `prepare_struct_metadata` (from `src/librustc_codegen_llvm/debuginfo/metadata.rs`), like inside `prepare_tuple_metadata`?
@trome

[2018-11-08 13:20] withoutboats commented on #44874
@mikeyhew thanks, that makes sense. I don't think its important how its implemented, but ideally nothing new would show up in the public API, since this just a hack to let us use std defined pointers on stable. Is it possible to make the `Receiver` trait private and only check that its implemented if the `arbitrary_self_types` feature flag is *not* enabled (i.e. on stable)?

[2018-11-08 13:44] pnkfelix commented on #55596
I personally agree that no annotations usually mean forgotten (or at least unanticipated) annotations.

And I'm certainly a strong proponent of using annotations when one really wants to ensure that daagnostics are actually associated with particular points in the code.

Personally I think we should require them for ERROR  (*)

But I don't want to require them in all cases for NOTE or HELP; that w

[2018-11-08 13:44] pnkfelix commented on #55596
Lets discuss this at the compiler meeting.

[2018-11-08 13:47] Mark-Simulacrum commented on #55775
Cc @rust-lang/libs @alexcrichton

[2018-11-08 13:53] Gankro commented on #55766
Is someone on the hook to write a nomicon chapter on futures? It seems incredibly necessary given how subtle this is. In particular I think examples, especially examples of buggy/bad implementations and how they're unsound, would be illuminating.

[2018-11-08 14:15] pnkfelix commented on #55526
triage: assigning to self to look at either Friday or Monday.

[2018-11-08 14:16] pnkfelix commented on #55511
triage: assigning to self

[2018-11-08 14:30] crypto-universe commented on #47168
Is there any work to be done in this task?

[2018-11-08 14:35] alexcrichton commented on #49247
I believe this is largely done so I'm going to close this

[2018-11-08 14:35] #49247 closed

[2018-11-08 14:42] SoniEx2 commented on #10389
[eventbus](https://crates.io/crates/eventbus) crate uses *a lot* of Any, as it encourages you to use a lot of different event types and emulated inheritance. this could become an issue...

[2018-11-08 14:42] mathw commented on #55618
Getting rid of the requirement to say `self::` all the time is to me really important for ergonomics, so I'm in favour of uniform paths - but I really don't like how it makes that relative path syntax exactly the same as external crate path syntax.

Require `::` or `extern::` on the front of a path going to an external crate and I'd be very happy. I suspect there'll be lints and coding standards f

[2018-11-08 14:47] pnkfelix commented on #46901
Visited for T-compiler triage. I cannot imagine us blocking the release on this (even though it is of course desirable.)

I-nominating for discussion at next *WG-compiler-nll* meeting

[2018-11-08 14:49] pnkfelix commented on #46702
Visited for T-compiler triage. I cannot imagine us blocking the release on this, given that there are not known bugs linked directly to this code...

I-nominating for discussion at next WG-compiler-nll meeting. Removing from Release milestone.

[2018-11-08 14:53] SoniEx2 commented on #10389
What if, instead of making TypeId bigger, we add another implementation detail that works like eventbus?

Calls to Any, TypeId, etc are converted into a set of static usize that get initialized at runtime.

https://internals.rust-lang.org/t/static-generics/8734?u=soni

[2018-11-08 14:54] pnkfelix commented on #22323
Visited for T-compiler triage. Removing NLL-fixed-by-NLL issues from the Release milestone, but continue to leave them open as issues themselves.

[2018-11-08 14:54] pnkfelix commented on #46413
Visited for T-compiler triage. Removing NLL-fixed-by-NLL issues from the Release milestone, but continue to leave them open as issues themselves. That seems like it strikes the right balance here.

[2018-11-08 14:56] pnkfelix commented on #53773
This is fixed, presumably by PR #54343

[2018-11-08 14:56] matklad commented on #55618
As a remainder, this is already the case in Rust 1.30 for all paths except thouse in use use-statements. This code compiles without errors on stable, if you have regex dependency in Cargo.toml

[code]

[2018-11-08 14:58] pnkfelix commented on #53773
I spoke too soon.

The current output, according to [play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=ec4e521f3ec7029816198f0d79584a37), is:

[code]

so, we still have the "in later iteration of loop" in the diagnostic.

[2018-11-08 15:01] pnkfelix commented on #54528
there are still 27 entries in the "investigate further" column. I'll try to get to them; if I dont resolve them by Monday, I'll unassign myself.

[2018-11-08 15:07] pnkfelix commented on #50412
visted for T-compiler triage. It seems like progress here has ... stalled? Does someone own the remaining steps here, given that it is on the 2018 Release Milestone?

[2018-11-08 15:10] pnkfelix commented on #51043
visited for T-compiler triage. It seems like it *was* blocked on stabilization of the pattern-parentheses feature. So what are the next steps, and who wants to own this?

[2018-11-08 15:11] pnkfelix commented on #50412
also, tagging as P-high

[2018-11-08 15:11] pnkfelix commented on #51043
more triage notes: P-high. @varkor has agreed to take this on and/or mentor it.

[2018-11-08 15:13] pnkfelix commented on #52509
T-compiler triage. Tagging P-high. Leaving assigned to self.

[2018-11-08 15:17] pnkfelix commented on #53797
visited for T-compiler triage. Marking P-high, since it is on the 2018 Release milestone.

[2018-11-08 15:19] phaylon commented on #55618
I admit I do hope there is the possibility of a lint to enforce use statements at some point. At top-level I only import namespaces, so the head of my files will contain no mention of external crates it uses (besides `std`).

Example:

[code]

which would be

[code]

in the future.

If there were an optional lint to ensure I `use failure` (et al) my file header would provide more (even most) infor

[2018-11-08 15:22] Centril commented on #50412
@pnkfelix I believe that everything edition sensitive has been done wrt. keyword reservation and such.

[2018-11-08 15:22] withoutboats opened #55786 "[Stabilization] Stablize using some arbitrary self types defined in std"
Feature name: `arbitrary_self_types`
Stabilization target: 1.32.0
Tracking issue: #44874
Related RFCs: rust-lang/rfcs#2362

This is a proposal to stabilize a subset of the `arbitrary_self_types` feature,
making it possible on stable to use valid "arbitrary" self types that have been
defined in the standard library, but not to define your own new self types.

## Stabilized feature or APIs

Today, o

[2018-11-08 15:22] withoutboats commented on #55786
@rfcbot fcp merge

[2018-11-08 15:23] GuillaumeGomez commented on #55723
Works fine for me. Anything else besides the given information?

[2018-11-08 15:23] withoutboats commented on #55786
@rfcbot concern raw-pointers-metadata

I don't have a position, but the lang team should decide: shall we require that raw wide pointers (like `*const dyn Trait`) always have valid metadata, or shall we require that methods using raw pointers as the receiver type always be marked `unsafe`?

[2018-11-08 15:24] GuillaumeGomez commented on #55686
You mean it should be in the "hidden undocumented items" section?

[2018-11-08 15:34] pnkfelix commented on #55748
putting on Release milestone, to ensure we actually find out whether this is *even a problem* (i.e. make some examples of soundness bugs that are actually getting through due to this) before we do the Release.

[2018-11-08 15:40] pnkfelix commented on #55756
visiting for T-compiler triage. P-high. Assigning to self for initial investigation.

[2018-11-08 15:42] alexcrichton commented on #55775
Thanks for the report! I'm... not actually sure how this ever passed on stable, it wasn't really ever intended to. https://github.com/rust-lang/rust/pull/55359 is almost for sure the cause of this, though

cc @alex too

[2018-11-08 15:46] pnkfelix commented on #54524
visited for T-compiler triage. marking P-high. It has a PR and @oli-obk and @pnkfelix have been repeatedly trying to get it to land successfully...

[2018-11-08 15:56] alex commented on #55775
I'm not sure I understand what the desired behavior is. We look up `$PATH` in the child process's environment, that's the decided on behavior. If the child is modifying unrelated environment variables, `$PATH` is the same as the parent's, and if `$PATH` itself is modified we use that. Is the desired behavior here that if env is _cleared_ then we should look at the parent's `$PATH` instead? And doe

[2018-11-08 15:58] Mark-Simulacrum commented on #55775
I believe we've backported the relevant PR to beta as well so marking as regression from stable to beta

[2018-11-08 15:59] alex commented on #55775
Beta backport hasn't landed yet, #55611.

[2018-11-08 16:06] pnkfelix commented on #55465
T-compiler triage. Tagged this stable-to-stable regression with T-compiler.

It needs a P-priority tag. I don't think powerpc-*-netbsd is a Tier 1 platform ... I don't know whether that means this should be considered P-medium ...  it would probably be a good idea to at least double-check what happened here.

(It seems like it should in theory be relatively easy to make a standalone test for this

[2018-11-08 16:10] pnkfelix commented on #55596
Discussed at T-compiler meeting.

The general consensus was that we should do what @petrochenkov suggests (in that we should require tests in the `ui` (and `run-pass`) suite to have accurate `//~ ERROR` and `//~ WARN` annotations.

My main hesitation about this was about the barrier this would introduce for test authors. But then I was reminded that if a test wants to opt out, it can just add `#![

[2018-11-08 16:18] kennytm commented on #55769
@alexcrichton previously i did have tested on cmd.exe, but i haven't followed the recent changes which might have broken it

[2018-11-08 16:18] alexcrichton commented on #55775
@alex there's not really a "desired behavior" in this case, at this point it's just whack-a-mole of trying to rationalize with what we have so far.

The original implementation happened to have the side effect of using the child's PATH to do the binary lookup. This was then duplicated on Windows. That was probably a mistake. The ship has sailed, however, and now we need to make sure bugs are fixed

[2018-11-08 16:19] alexcrichton commented on #55769
Hm ok, that's worrisome! If https://github.com/rust-lang/rust/pull/55788 doesn't do the trick I can try to investigate later, but it'll be quite awhile before I have a windows computer to test on again

[2018-11-08 16:21] alex commented on #55775
Ok. I'll try to get a patch for this by this evening.

[2018-11-08 16:21] ubsan commented on #10389
Why not use a pointer comparison of an `inline` symbol? VTables should work well, if we remove the thing where vtables can be distinct across TUs.

(in C++)
[code]
We could do a similar translation for Rust.

[2018-11-08 16:42] ubsan commented on #10389
@rkruppe ah, yeah, forgot about dynamic linking. It's likely we'd have to do a strcmp then, in the case where addresses are distinct, so you'd likely get a fast path and a slow path.

@ralfjung it's absolutely possible and, in fact, quite easy.

[2018-11-08 16:57] rkruppe commented on #10389
What strings do you want to compare? Lacking a global namespace, the only way I know of to get a "type name" that won't be the same across different crates is using the crate disambiguator, which is a hash, which is therefore susceptible to the same sort of collision. Or can we arrange for such collisions always resulting in a linker error, even when the crates are only linked together dynamically

[2018-11-08 17:00] ubsan commented on #10389
@rkruppe the name of the type, I think? That should be globally unique.

`crate_name::foo::bar::Baz`

[2018-11-08 17:01] rkruppe commented on #10389
Crate names are not globally unique, and neither are (crate name, version) tuples.

[2018-11-08 17:18] kennytm commented on #55786
Do we need this exception given unsized rvalues (#48055)?

The raw pointers don't implement `Deref` the trait though. Probably further justifying not stabilizing them.

[2018-11-08 17:18] mark-i-m commented on #55618
I think this is largely a matter of taste. The fact that external crates are just like everywhere else (no `extern crate foo`, no leading `::` or `extern::`) was the biggest ergonomics win of the edition IMHO.

[2018-11-08 17:18] ubsan commented on #10389
@rkruppe huh! then I guess whatever information we pass to the hash function :P

[2018-11-08 17:33] rkruppe commented on #10389
The disambiguator is passed in using the `-C metadata` argument, rustc doesn't know where it comes from. Arguably that places it outside of the domain of rust and thus not *our* soundness problem, but let's consider Rust workflows more broadly. Typically it's computed by Cargo, and AFAIK it includes a whole ton of things that are impractical to put into the binary.

[2018-11-08 17:39] SoniEx2 commented on #10389
You can work around the generic statics issue the same way eventbus does it currently.

Language support would be an improvement over using a macro, tho.

[2018-11-08 18:29] mikeyhew commented on #44874
Technically it couldn't be private, since it's used in liballoc. But I could use `#doc(hidden)` if you want

[2018-11-08 18:43] jnqnfe commented on #55680
Oh, okay, thanks :+1:

[2018-11-08 18:43] #55680 closed

[2018-11-08 18:44] mglax commented on #32129
There are indeed, a HUGE amount of broken links

[2018-11-08 18:46] joshtriplett commented on #55786
@rfcbot concern do-not-stabilize-raw-pointers

[2018-11-08 18:47] pnkfelix commented on #54524
So the backport landed before the original PR’s code in master ...???

[2018-11-08 18:56] Centril commented on #55786
I agree with @joshtriplett here re. raw pointers; I don't think sufficient justification is given for either approach mentioned so it is hard to determine what the right course of action is.

Tho I wonder a bit about process here... we haven't accepted any RFC to stabilize the rest either yet... is that OK?

[2018-11-08 19:02] rpjohnst commented on #55618
@phaylon Coming from C#, that particular issue doesn't seem to cause problems. People will occasionally write out a full path without a `using` for it, but a) it's uncommon and b) those stand out anyway based both on their name and on the way the IDE colors it. Knowing the project-level dependencies is easily done by reading the project system (or `Cargo.toml`) instead of one particular file's hea

[2018-11-08 19:08] jnqnfe opened #55791 "Rustdoc's generated IDs overlap with manually written HTML"
I noticed a bug in generated documentation in 1.29, still affecting 1.30, where the second heading is incorrectly given the wrong CSS attributes, causing overlapping content.

Specifically it seems to only occur if the second heading is "Results" or "results", and only for the second heading. These are the only combinations I've seen it happen for.

The heading is given an `absolute: relative` att

[2018-11-08 19:12] oli-obk commented on #54524
I think I figured it out what happened. This indeed appears fixed on stable, but still exists on master to best of my knowledge

[2018-11-08 19:13] oli-obk commented on #54524
The fix was not landed in master, but this particular issue just doesn't exist on stable yet.

[2018-11-08 19:14] phaylon commented on #55618
@rpjohnst I'm interested in what the current module/file is connected to. `Cargo.toml` is of no use for that. See the above example, where a complete header gives a nice overview. It's by no means absolute, I'll also have trait imports inside functions. But I still find it very informative. It's also nice when things show up when I grep for `use failure;`.

But as said above, that's another thing

[2018-11-08 19:19] Centril commented on #48055
@eddyb  shouldn't we wait until `unsized_locals` is stabilized before doing that?

[2018-11-08 19:39] Centril commented on #50412
@scottmcm yeah I think we can close it... should we perhaps open a new tracking issue for `try { ... }` ?

[2018-11-08 19:40] Centril commented on #31436
@scottmcm Of course, as you know, I agree with retaining `Ok`-wrapping ;) and I agree that the issue should be considered settled.

[2018-11-08 19:49] estebank commented on #47168
I do not believe so. I think this is blocked on [`TryInto` stabilization](https://github.com/rust-lang/rust/issues/33417), unless we come to an agreement that suggesting `as` is a good idea (which I don't think will happen).

@scottmcm we could potentially suggest `as` with warnings that it truncates... (I believe that was in the original impl.)

[2018-11-08 19:53] estebank commented on #55752
Another possible output (which might be easier to accomplish) could be:

[code]

[2018-11-08 19:54] newpavlov commented on #43122
Why `Generator` trait cares about immovability of the implementer, while `Iterator` does not? I am afraid `Generator` development is too heavily influenced with async use-cases, which results in an unfortunate disregard towards potential synchronous uses.

[2018-11-08 19:58] cramertj commented on #48055
@Centril It seems unlikely that we'd see anyone relying on them accepting `?Sized` on stable without using the `unsized_locals` feature, but I suppose it is technically possible to do so.

[2018-11-08 20:15] andrewtj opened #55794 "UdpSocket receive to short buffer behaves differently on Unix and Windows"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/55794)*

On Unix receiving to a buffer shorter than the incoming payload silently truncates the read. On Windows the read is completed but an error is returned. Not being that familiar with Windows I found this behaviour surprising.

The following comment in [`sys/windows/net.rs`](https://github.com/rust-l

[2018-11-08 20:34] kazcw opened #55795 "static array of zeroes can take minutes to lint check"
This program takes an inordinate amount of time and memory to compile (it's worse if the array is actually used, but this is a minimal test case):

    const SIZE: usize = 1 << 30;
    static SLICE: [u8; SIZE] = [0u8; SIZE];
    fn main() {}

I was hoping this would be a viable way to get a big chunk of `.bss` so I don't have to depend on an `mmap` crate to get a lot of static zeroes, but the effe

[2018-11-08 21:08] alexreg commented on #50753
@mikeyhew Hmm, sounds tricky. Maybe @eddyb or @nikomatsakis could advise?

[2018-11-08 21:14] clarcharr commented on #43122
I'm fairly certain that `Iterator` would get the same treatment if it could be changed in a non-breaking way.

[2018-11-08 21:18] euank commented on #55775
Yes, `env_remove` also technically exhibits the same regression, though it seems somewhat less likely to me that someone might accidentally remove PATH via `env_remove("PATH")` than via `env_clear()`.

Perhaps it could be argued that the `env_remove` case is unlikely to impact anyone... though, with a github search, I found  [one use of`env_remove`](https://github.com/seven1m/froman/blob/11a1c4f50

[2018-11-08 21:18] rinon commented on #50485
This looks like a duplicate of https://github.com/rust-lang/rust/issues/48102

[2018-11-08 21:40] jneem opened #55796 "ICE in compute_type_of_item"
The following two trait definitions cause an ICE in current nightly, beta, and stable.

[code]

The error is:
[code]

Here is a playground link demonstrating the issue: https://play.rust-lang.org/?version=beta&mode=debug&edition=2015&gist=ff49511ceb983c9d173452b455b574f8

[2018-11-08 22:11] thomcc commented on #50007
It's not a duplicate of #36342, which is about reexporting functions defined in C AFAICT. We've been struggling with this in https://github.com/mozilla/application-services.

This doesn't seem to happen with all targets. In particular, `x86_64-apple-darwin` seems unaffected, while `i686-linux-android` is effected (really all android targets seem to be affected).

I have a simple reproducable case

[2018-11-08 22:14] cramertj commented on #55766
@Gankro Sure, you can put me down for that.

[2018-11-08 22:14] ncalexan commented on #50007
For more context: the Android toolchains are all specifying a stand-alone Android NDK toolchain, in particular a clang-based toolchain.  I believe our Desktop targets (like `x86_64-apple-darwin`) are GCC based.  So we may just be seeing a `clang`-ism as it passes linking through to an Android NDK toolchain GNU `ld`.  I haven't tried `lld` to get to the bottom of this.

[2018-11-08 22:15] eddyb commented on #48055
@cramertj I don't see how, moves ~~aren't~~ shouldn't be allowed out of `!Sized` places, on stable.
(looks like my intuition was wrong, see might have some bugs, see https://github.com/rust-lang/rust/pull/55785#issuecomment-437162862)

[2018-11-08 22:29] Nemo157 commented on #43122
@newpavlov note that only `static` generators are immovable. If you look at the testcases in the linked PR (e.g. https://github.com/rust-lang/rust/pull/55704/files#diff-d78b6984fcee145621a3415c60978b88) there's no unsafety required to deal with a non-`static` generator anymore, you just have to wrap references in `Pin::new()` before calling resume.

This also means you can have a fully safe generi

[2018-11-08 22:53] pnkfelix opened #55797 "the test(s) from issue 25579 should be ported to NLL run-pass tests"
The work on reviewing the diagnostic differences between AST-borrowck and NLL leads me to conclude that NLL is (probably) correctly accepting the regression test we added for #25579

Namely this:

https://github.com/rust-lang/rust/blob/653da4fd006c97625247acd7e076d0782cdc149b/src/test/ui/issues/issue-25579.rs#L16-L28

We should make the original test be AST-borrowck only (via `-Z borrowck=ast`) an

[2018-11-08 23:08] estebank commented on #55796
This is caused by a lifetime check failing. I have a small patch that will side-step this issue and fix the ICE.

[2018-11-08 23:14] Nemo157 commented on #43122
@newpavlov also, not supporting immovability drastically lowers the usefulness of generators for pretty much all usecases, e.g. an iterator-generator as simple as

[code]

runs afoul of `error[E0626]: borrow may still be in use when generator yields`.

[2018-11-08 23:33] pnkfelix commented on #54528
There are still potential work items on the cards that remain. E.g. I have noted on a number of them that e.g. a given test should be revised to use `// revisions` rather than `compare-mode=nll`. But *those* work items do not block the Release milestone.

[2018-11-09 00:04] earthengine commented on #28796
The same code I posted above compiles, but when you run the miri check it gives ICE in the playground.

[code]

Where should I report issue for the miri check?

[2018-11-09 00:43] alexreg commented on #28796
@earthengine Report it as a separate issue (referencing this one) on this repo.

[2018-11-09 00:46] jeppeter opened #55812 "Windows incremental compilation error: Data Area Passed to a System Call Is Too Small"
**Problem**

**Steps**

1. cargo new hello
2. cargo run --

output

[code]

if i run with release mode ,there is no error code

cargo run --release --
that is running ok

i used virtual disk on ram file system on z:
i run in windows 7 sp1

**Possible Solution(s)**

**Notes**

Output of `cargo version`:

[2018-11-09 00:55] mark-i-m commented on #28796
Perhaps somebody should add a test for that case before we FCP?

[2018-11-09 01:19] QuietMisdreavus commented on #52509
I've opened https://github.com/rust-lang/rust/pull/55804 to make `pub use some_crate` turn into a plain re-export in the docs, which should at least help this out.

[2018-11-09 02:09] Mark-Simulacrum commented on #54524
I've beta nominated and accepted https://github.com/rust-lang/rust/pull/55717 as well per the marking here (stable/beta regression).

[2018-11-09 02:11] Mark-Simulacrum opened #55806 "apint fails to compile on beta"
apint fails to compile (https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/apint-0.2.0/log.txt) on beta. Note that the crate must be compiled in test mode.
[code]

[2018-11-09 02:13] Mark-Simulacrum commented on #55806
cc @Robbepop -- I believe this is your crate, though it seems plausible this is a bug in the compiler

[2018-11-09 02:17] Mark-Simulacrum commented on #55756
Based on crater run, looks like this also affects:
 * [etclient](https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/etclient-0.3.0/log.txt), cc @sorpaas
 * [evm-stateful](https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/evm-stateful-0.9.2/log.txt), cc @sorpaas
 * [sputnikvm-stateful](https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg

[2018-11-09 02:36] aturon commented on #49150
@crlf0710 see the [stabilization proposal](https://github.com/rust-lang/rust/issues/55766).

[2018-11-09 03:09] agrif opened #55809 "Mixing async functions and &mut leads to overflow evaluating requirement"
Code:

[code]

[Playground.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03484499bcefb4228e5542ec1c377776)

This fails to compile:

[code]

This might be related to #50674, except that the code that triggers it seems more likely to be valid. I ran into this bug when trying to use `tokio` to read data and pass it off to `serde`. At the very least, the error message is *

[2018-11-09 03:48] Mark-Simulacrum commented on #55806
cc @rust-lang/compiler -- beta/stable regression, would be good to proactively triage before meeting if possible

[2018-11-09 03:51] Mark-Simulacrum commented on #54467
Interestingly, this is not fixed on current beta (or perhaps re-regressed); I'm reopening and retagging.

Specifically at least postgis is failing to build: https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/vectortile-0.2.2/log.txt

[2018-11-09 03:52] Mark-Simulacrum commented on #54467
cc @arielb1 @pnkfelix @rust-lang/compiler

[2018-11-09 04:02] daboross commented on #49048
@clarcharr do you think you could elaborate on your concerns in https://github.com/rust-lang/rust/pull/52547#issuecomment-406647231?

It seems to me that the consensus is generally that `-5 remainder x` is negative and `-5 modulo y` is positive. As other's have said in this thread, the distinction was purposeful.

----

There's was already quite a bit of discussion in https://github.com/rust-lang/

[2018-11-09 04:08] Mark-Simulacrum opened #55810 "romaji fails to build on beta,"
[romaji](https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/romaji-0.1.1/log.txt), cc @uzimith

With a few minutes of time invested I wasn't able to narrow this down to a smaller example that still succeeded on stable.

[code]

cc @rust-lang/libs

[2018-11-09 04:13] Mark-Simulacrum opened #55811 "Name _ defined multiple times"
https://crater-reports.s3.amazonaws.com/beta-1.31-1/beta-2018-10-30/reg/type_level_examples-0.0.22/log.txt, https://crates.io/crates/type_level_examples/0.0.22

[code]

This appears to ICE on nightly so maybe that's the underlying cause?

cc @petrochenkov

[2018-11-09 04:29] dtolnay commented on #55810
Minimized:

[code]

[2018-11-09 04:36] dtolnay commented on #55810
@rust-lang/compiler because this doesn't look to be caused by a library change.

[2018-11-09 04:38] alexcrichton commented on #55812
Thanks for the report! I've transferred this to the rust-lang/rust repo as this looks like a bug activated by incremental compilation. The error here looks quite scary!

[code]

The implementation of `canonicalize` for Windows [is here](https://github.com/rust-lang/rust/blob/653da4fd006c97625247acd7e076d0782cdc149b/src/libstd/sys/windows/fs.rs#L717-L725) and comes from [this location](https://gith

[2018-11-09 04:41] gliderkite opened #55813 "Unexpected doc errors when using --nocapture and compile_fail"
**Problem**
`cargo test -- --nocapture` outputs error logs for documentation tests even when specifying the `compile_fail` argument.

**Steps**

1. Create a new project with `cargo new <project name>`
2. Add a `lib.rs` file to `src`
3. Add the following method with documentation and code example which is supposed to fail compilation (the section code will contain invalid Rust code):

[code]

4. Ru

[2018-11-09 04:42] alexcrichton commented on #55813
Thanks for the report! I've transferred this to the rust-lang/rust repository as this looks like it's a bug with `rustdoc` rather than Cargo.

This can be reproduced with the following:

[code]

executed with:

[code]

[2018-11-09 04:57] Lokathor opened #55814 "thread 'main' panicked at 'librustc_metadata\creader.rs:546: proc-macro crate not dylib', librustc\util\bug.rs:47:26"
[code]

I made a commit of the exact state of my repo when it happened: https://github.com/rust-console/gba/commit/4c99082b20acaf4617eb875961df73bc12bc11ac

[2018-11-09 05:25] earthengine opened #55815 "ICE on miri check: self.meta.is_none()"
In a recent test for #28796 the following code

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=947218014e7f41d16d90d5372432e2ce)

can compile and can run in the playground, but the Miri check tool gives

[code]

[2018-11-09 05:58] ehuss commented on #55814
In `gba-proc-macro`, you need to set `proc-macro = true` in the `[lib]` section *instead* of setting the `crate-type`.  A few days ago I posted rust-lang/cargo#6256 to avoid this particular footgun, but it might be a bit before it hits nightly.

As for the panic, I'm unsure if there's anything that needs to be done there.  Cargo was kinda doing the wrong thing, but I'm not sure it deserves a panic

[2018-11-09 05:59] Ekleog commented on #54214
Just coming back here, I think this should be tagged I-unsound, given it's generating unsafe code with only safe code. Especially now that `panic_implementation` has stabilized.

[2018-11-09 06:06] mbilker commented on #34538
I found that this happens to me too. I may go and modify the panic handler to use a `Mutex` rather than an `RWLock` so I can find out why this program I am writing is panic-ing on Windows XP Embedded.

[2018-11-09 06:11] Ekleog commented on #54214
Actually nevermind, this really is a duplicate of https://github.com/rust-lang/rust/issues/28728 anyway, so I guess I can close it.

[2018-11-09 06:11] #54214 closed

[2018-11-09 06:15] pnkfelix commented on #55810
Hmm I wonder if this is some sort of bad interaction between 1. the new way to do pat variables in guards and 2. Method lookup and/or autoref...

[2018-11-09 06:39] pnkfelix commented on #54467
Maybe we need to reconsider backporting PR #54701 ... will investigate...

[2018-11-09 06:48] Matthias247 commented on #55766
Thanks for the explanation everyone!

I personally am super new to async Rust and the Pin APIs, but I have played a bit around with it during the last days (https://github.com/rust-lang-nursery/futures-rs/pull/1315 - where I tried to exploit pinning for intrusive collections in async code).

During experimentation I got some concerns with these APIs:

- The concept of pinning seems very hard to fu

[2018-11-09 07:03] eddyb commented on #55806
@oli-obk Could this be promotion-related?

[2018-11-09 07:08] eddyb commented on #55810
This can be caused by the typeck order. To make this work, all arms' patterns must be checked before any guards are.

[2018-11-09 07:43] glaebhoerl commented on #55766
Minor nit w.r.t. the stabilization report:

I'm guessing this is actually an `unsafe fn`?

[2018-11-09 07:51] oli-obk commented on #55806
Yea. The call to `into_iter` on arrays does not actually do what it advertises, it derefs to a slice and then does `into_iter`. We stopped allowing const fns in promoteds  https://github.com/rust-lang/rust/pull/53851. `max_value` is still marked as promotable, so that shouldn't be the issue. I'll investigate later today when I get back to a PC

[2018-11-09 08:16] he32 commented on #55465
Note that this problem also appears when (cross-)building for NetBSD/earmv7hf.
That platform also has `char == u_char`.  And I believe we would also see this when
building for NetBSD/aarch64; it has the same feature that `char` is unsigned.

[2018-11-09 08:43] J-Light opened #55818 "ICE - expected specialization failed to hold"
Hi
Trying to compile the simple example [PyO3](https://github.com/PyO3/pyo3) and get the following error

**`./Cargo.toml`**
[code]

**`src/lib.rs`**
[code]

Error message
[code]
Compiler Information (Nightly active in directory):
[code]

[2018-11-09 09:33] Robbepop commented on #55806
@Mark-Simulacrum yeah that's my crate thanks for linking!

I have already stumbled upon this CI error but couldn't yet find time to wrap my head around it.
Though I thought it was a bug in a former version of the borrow checker that now got fixed.

[2018-11-09 09:34] RalfJung commented on #52922
Thanks to @oli-obk's const-query-error PR, this is now fixed.

@oli-obk should this get a dedicated regression test? My impression is that we already have tons of tests like this.

[2018-11-09 09:41] oli-obk commented on #52922
Yea, there's enough things testing this. The only concern I see now is that if you `allow(const_err)` you have no idea anymore what's going on with the constant, rustc just tells you

[code]

without any further info.

[2018-11-09 09:44] #49740 closed

[2018-11-09 09:44] #55608 closed

[2018-11-09 09:44] #54388 closed

[2018-11-09 09:44] #54690 closed

[2018-11-09 09:44] #55718 closed

[2018-11-09 09:44] #55344 closed

[2018-11-09 09:44] #55276 closed

[2018-11-09 09:44] oli-obk commented on #55806
minimal repro

[code]

Nope, it's a new bug that I was sure we had regression tests against.

[2018-11-09 09:56] gnzlbg commented on #55344
Thank you all!

[2018-11-09 09:57] dbrgn commented on #55608
Thanks @pnkfelix!

[2018-11-09 09:59] SimonSapin commented on #28796
I view FCP as an opportunity for anyone to object to a proposal, or to some details of it. At this point I believe there is strong consensus that we can and will make `Box<dyn FnOnce()>` work eventually, it’s "only" a matter of implementation effort.

So, while it’d probably be premature to deprecate `FnBox` right now, I think FCP to decide we want to do it once the replacement works is fine.

[2018-11-09 10:03] pnkfelix commented on #55806
This was injected between rustc 1.31.0-nightly (5597ee8a6 2018-10-03) and rustc 1.31.0-nightly (8c4ad4e9e 2018-10-04)

[2018-11-09 10:05] pnkfelix commented on #55806
(hmm I wonder if this could somehow be a consequence fo #54447 ...?)

[2018-11-09 10:15] Nemo157 commented on #55766
This actually makes me wonder whether there's a couple of missing methods on `Pin`,

[code]

These could be used in the [`pin_utils::unsafe_unpinned!`](https://github.com/rust-lang-nursery/pin-utils/blob/master/src/projection.rs#L71) macro.

I'm trying to work out _why_ this macro claims to be unsafe. If we are `!Unpin` and have a `Unpin` field, why would it be unsafe to project to this field?

Th

[2018-11-09 10:35] oli-obk commented on #55806
Full diff: https://github.com/rust-lang/rust/compare/5597ee8a6483238421750fce4eb7031b12852428...8c4ad4e9e42f4bcbdbb784692b936c2462061abc

https://github.com/rust-lang/rust/pull/53851 (limiting promotability of const fns) also fell in there.

[2018-11-09 10:35] pnkfelix commented on #55810
This was injected between rustc 1.31.0-nightly (46880f41b 2018-10-15) and rustc 1.31.0-nightly (bef62ccdd 2018-10-16)

Log of bors commits in that time in the details block

<details>

% git log 46880f41b..bef62ccdd  --author bors --format=oneline
bef62ccddb911b9cd7677717a69348a62cf61f96 Auto merge of #54486 - orium:obligation-forest-graphviz, r=nikomatsakis
8a7048b72b7e9499dfae3f946baa92fc9e62a6b

[2018-11-09 10:36] pnkfelix commented on #55810
Hmm this line in the description of #55067 set off some alarm bells in my head:

 typeck: don't collect into a vector when unnecessary

[2018-11-09 10:42] oli-obk commented on #55806
I even added unit tests, but never any for promoting functions from the libstd.

https://github.com/rust-lang/rust/blob/0ee045ea09127e5318e9cb1fff85ec34b9e3e6eb/src/librustc/ty/constness.rs#L88 will only work if a function call is promoted in the same crate where the `rustc_promotable` function is declared.

I think the solution is to make the const qualifier eagerly call `is_promotable_const_fn`

[2018-11-09 10:54] mati865 commented on #47048
I'm not sure who is responsible for Windows GNU, @retep998?

I assume libs from https://github.com/rust-lang/rust/issues/47359 are necessary for people who don't have GCC in their PATH. However they are an issue for people with GCC/MinGW versions different from Rust ones.
They are built in specific environment and the fact they work in (some) other environments is just a coincidence that shouldn't

[2018-11-09 11:01] eddyb commented on #28796
This seems confusing to me. It's already fully implemented, isn't it?
(ignoring the `miri` bug that @earthengine found - which is not relevant to Rust itself)

[2018-11-09 11:49] pnkfelix commented on #55806
Discussed a bit with @oli-obk and investigated independently. Some details of note:

 * The implementation of `#[rustc_promotable]` relies on `#![feature(staged_api)]`. If you don't have the latter, the former will essentially be *silently* ignored, AFAICT.
 * It seems like there are some holes in @oli-obk 's analysis above. In particular, I attempted to make a unit test with multiple crates, and

[2018-11-09 11:49] pnkfelix commented on #55806
reassigning to @oli-obk for followup investigation and hopefully fixing.

[2018-11-09 12:18] Robbepop opened #55820 "Possible type inference regression in guarded match arms"
Inspecting the CI of [this crate](https://github.com/Robbepop/stevia) I just found out that type inference for it no longer works. This happened about 23 days ago.

The code below is a reduced example that fails with the same error. [Link to playground.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015)

[code]
**NOTE**: The compiler **can** infer the types correctly if we swap

[2018-11-09 12:44] pnkfelix commented on #15287
unassigning this from myself; I've done the porting to the NLL test suite, but I have higher priority things on my plate to take care of before I go on leave.

(I invite anyone to come and pick up the torch for following through on the remaining steps here!)

[2018-11-09 12:59] newpavlov commented on #43122
@Nemo157
I guess I will repeat the question (couldn't find an answer with a cursory search), but could you remind me why `Generator` can not be implemented only for pinned self-referential types? In other words your snippet will automatically pin the generator closure.

[2018-11-09 13:20] withoutboats commented on #55766
@Nemo157 Those map functions are unsafe because I could `mem::swap` on the `&mut T` the function passes me before returning an `&mut U`.

[2018-11-09 13:33] pnkfelix commented on #42574
Under the NLL migration mode, we get the existing (bad) error messaging.

But under `#![feature(nll)]` proper, we get this:

[code]

[2018-11-09 13:33] withoutboats commented on #55766
There's no theoretical difference, but there are pragmatic ones. For one, `Iterator` is stable. But as a result, unless we figure out something very clever, you'll never be able to run a `for` loop over a self-referential generator without a double indirection, even though that should be completely safe without it (because the for loop will consume and never move the generator).

Another important

[2018-11-09 13:35] pnkfelix commented on #42574
My personal take is that the error message under `#![feature(nll)]` is sufficiently clear.

I have tagged this as NLL-fixed-by-NLL, but it is worth pointing out that this is *not* fixed by the NLL migration mode. Do we need a separate tag for issues that require migrating from migration to `#![feature(nll)]` itself?

[2018-11-09 13:36] pnkfelix commented on #42574
Nominating for discussion at NLL meeting, just in terms of determining how this should be tagged to ensure that we keep it open until `#![feature(nll)]` is out of migration and totally stabilized.

Also, it needs tests that encode the current semantics.

[2018-11-09 13:41] Nemo157 commented on #55766
Ah, damn, forgot about that part of it :frowning:

[2018-11-09 13:43] Nemo157 commented on #43122
With #55704 we can distinguish between potentially self-referential and guaranteed movable generators, they're named `Generator` and `Generator + Unpin` respectively. Neither of them require any unsafe code to interact with.

[2018-11-09 13:44] newpavlov commented on #43122
My point is that I am looking forward to using `Generator` in a [synchronous code](https://internals.rust-lang.org/t/6625) and baking `Pin` semantics into the trait seems suspicious to me.

[2018-11-09 14:00] pnkfelix commented on #46413
At this point I think the diagnostic improvements added by NLL are all that that feature (NLL) is going to do to improve things here.

There's obviously still some potential work here to be done, in any of the following areas:
 1. better educate developers about the rvalue-temporary lifetime semantics,
 2. provide diagnostic feedback on cases that might behave in ... surprising ways ... at runtime

[2018-11-09 14:07] pnkfelix commented on #37612
Just doing some triage.

I do not believe this to be a duplicate of #21114.

Some people connected the two issues due to this comment https://github.com/rust-lang/rust/issues/21114#issuecomment-74438455  and my response https://github.com/rust-lang/rust/issues/21114#issuecomment-74508522, but its important to note a couple things.

First, the specific comment from that example (https://github.com/

[2018-11-09 14:17] Nemo157 commented on #43122
It's trivial to opt-out of pinning and use `Generator` still, I think this is a key part of providing all the potential power of generators, then allowing more user-friendly abstractions to be built on top of them that might restrict that in some way. Since `Iterator` can't be adapted to support pinned values directly you just opt-out in the adaptation layer and force users to pin any self-referen

[2018-11-09 14:20] pnkfelix commented on #21114
I actually think this issue as described is effectively resolved now, under NLL at least.

There are related topics in terms of temporary lifetimes being unintuitive (#37612, #46413) and proposals to improve them (#15023).

But this specific issue was about how the dropck rules caused a number of cases to appear to regress, and as far as I can tell, NLL fixes those instances.

So I am going to tag

[2018-11-09 14:20] qnighy commented on #48055
As I said in https://github.com/rust-lang/rust/pull/51131#issuecomment-394076603, I've once attempted to add `Sized`ness check for function arguments (it would solve https://github.com/rust-lang/rust/issues/50940 too); that, however, turned out to be difficult. The problem case was something like this:

[code]

Here `P::Searcher: Clone` implies `P::Searcher: Sized`. As bounds take precedence in tr

[2018-11-09 14:21] newpavlov commented on #43122
So why use this approach instead of the `UnsafeGenerator` which I've proposed earlier? IIUC both are essentially equivalent to each other, but with yours users have to learn about `Pin` semantics even if do not work with self-referential structs.

[2018-11-09 15:15] pnkfelix commented on #55748
Oddly, so far the instances of this problem that I have been able to identify are *not* leveraging the code injected in PR #55637 ...

[2018-11-09 15:18] pnkfelix commented on #32382
#54812 added the test.

[2018-11-09 15:49] pnkfelix opened #55825 "NLL: spurious error emitted on body of (erroneous) const fn body"
Spawned off of #54528 (specificially [this card](https://github.com/rust-lang/rust/projects/10#card-14187258) in the project).

Consider the following code:

[code]

With AST-borrowck, you get ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=72bb00525112d521bcd693ae453a9cf0)):

[code]

With NLL (here using migration a la 2018 edition), you get ([play](https://play.r

[2018-11-09 15:51] pnkfelix commented on #54528
Okay I finished the review.

As noted above, there are still work items on the cards on the project (https://github.com/rust-lang/rust/projects/10).

But the main thing I wanted to address for the Release milestone, namely the actual review task, is now dealt with.

[2018-11-09 15:52] pnkfelix commented on #54528
marking as NLL-deferred to reflect the lower priority nature of going through the set of work items on the project cards.

[2018-11-09 15:53] scampi commented on #55713
@eddyb This is the associated message:

[code]

[2018-11-09 16:12] retep998 commented on #47048
Rustup does not currently offer a way to opt out of the bundled MinGW, but there is a way to work around that. If you use the `x86_64-pc-windows-msvc` toolchain and add the `86_64-pc-windows-gnu-target` you will be able to cross compile to `x86_64-pc-windows-gnu` without any bundled MinGW and instead relying entirely on your locally installed MinGW.

[2018-11-09 16:29] QuietMisdreavus commented on #55723
I can't seem to reproduce that ICE with that nightly. Are there any other details about your project that you can tell us about? The panic itself seems to originate in libsyntax, in a function about tracking multi-byte characters in source files:

https://github.com/rust-lang/rust/blob/36a50c29f6c5c386fba6ab685818755ac55152e5/src/libsyntax/source_map.rs#L840-L842

[2018-11-09 16:34] SimonSapin commented on #55766
This is because, so far, *all* iterators are defined using a type and an `impl Iterator for …` block. When state needs to be kept between two iterations, there is no choice but to stash it in fields of the iterator type and work with `&mut self`.

However, even if this is not the primary motivation for including generators in the language, it would be very nice to eventually be able to use generat

[2018-11-09 16:40] dtolnay commented on #55820
Closing in favor of #55810.

[2018-11-09 16:40] #55820 closed

[2018-11-09 17:06] Nemo157 commented on #55766
`Unpin` and `Pin` already have to be lang items to support safe immovable generators.

[2018-11-09 17:11] alexcrichton commented on #55766
Ok thanks for the explanations all! I agree with @Gankro that a nomicon-style chapter about `Pin` and such would be massively useful here. I suspect that there's a lot of development history for why various safe methods exist and why unsafe methods are unsafe and such.

In an effort to help myself understand this though I wanted to try again to write down why each function is safe or why it's `uns

[2018-11-09 18:05] euank commented on #55775
I wouldn't say that what I have is a use-case per-se, it's simply code that happened to work with `env_clear` and then eventually broke on nightly. I don't mind setting my own `PATH` in my code if needed -- `env_clear` was meant as a shorthand to remove a bunch of other variables, not to do anything `PATH` related.

My reason for reporting this issue is because it's a regression which might impact

[2018-11-09 18:17] sdroege commented on #54406
@etaoins This is still not optimal: it's not possible to silence the warning, and doing what the warning suggests makes compilation fail with current stable and older releases.

As such, running nightly clippy (and soon stable clippy) will always produce warnings unless the codebase drops support for an older toolchain version.

[2018-11-09 18:40] tikue commented on #55766
Adding `T: Unpin` to mem::swap would mean it couldn't be used on certain types even when they're not inside a Pin.

[2018-11-09 18:40] RalfJung commented on #55766
That would break all generic code: If you write a function in today's stable rust for some `T` without constraints, you can call `swap` on it. This has to keep working.

Nobody has demonstrated a way to add non-movable types to Rust *in a backwards-compatible way* without complexity *significantly* exceeding what is being proposed for stabilization here. You should find some of these old proposals

[2018-11-09 18:42] Gankro commented on #55766
Also mem::swap is a red herring, because it isn't at all an interesting function. It's literally just

[code]

[2018-11-09 18:48] tikue commented on #55766
@Gankro doesn't it use unsafe code? Afaik it's not possible to write that literally.

[2018-11-09 18:56] alexcrichton commented on #55775
Ok thanks for the info! Just wanted to confirm at least, and the report is still very much appreciated!

[2018-11-09 19:23] jfirebaugh commented on #46391
I think this is happening for beta too?

[code]

[2018-11-09 19:58] Matthias247 commented on #55766
If Unpin is automatically derived (in the same fashion as `Sync`/`Send` are then this shouldn't be an issue.

But this one obviously is. Didn't thought about the fact that trait bounds need to be explicitly propagated in Rust.

Thanks, I will read up a bit more on the previous work on this if I find some time. Obviously lots of thoughts and effort already have went into this, and I certainly don't

[2018-11-09 20:01] tromey commented on #41082
I'm not totally sure which aspect you are thinking of here, but if you mean finding the actual types of generic parameters, I am working on that in #55010.

[2018-11-09 20:07] tikue commented on #55766
@Matthias247

I'm not sure if I was clear. To clarify, it's perfectly safe to move around a `!Unpin` type. It's only unsafe to move a type `T: !Unpin` after it's pinned, i.e. inside of a `Pin<P<T>>` .

[2018-11-09 20:10] ubsan commented on #49048
@demurgos This is not a "mod operation", mathematically, this is a remainder operation. "mod operation" doesn't make sense - modular arithmetic is about equivalences, not operators.

[2018-11-09 20:13] ubsan commented on #49048
Also, the names are too short - `div_euclidean` is a much better name.

[2018-11-09 20:15] ubsan opened #55829 "Rust's release-mode overflow mode with division is slightly weird"
This is not technically a bug, but is odd. For most operations, `overflow-checks = false` makes `x + y` equivalent to `x.wrapping_add(y)`, for example - however, for division and remainder that isn't true. `x / y` is actually equivalent to, well, `x / y` in debug mode. Is this intentional?

[2018-11-09 20:16] estebank commented on #41082
I believe that once that is merged, it should enable decoding the actual values using the type info, right? So this ticket would remain open until _that_ work is done.

[2018-11-09 20:19] varkor commented on #49048
There [_is_ such a thing as a mod(ulo) operation](https://en.wikipedia.org/wiki/Modulo_operation). It's analogous to modular arithmetic, but it's a distinct concept.

This is exactly the point under discussion. Personally, I find the full `_euclidean` suffix to be too verbose, considering it's the most common choice for negative operands in many contexts (the RFC thread contains many examples).

[2018-11-09 20:31] sfackler commented on #55829
Division by 0 is undefined behavior in LLVM so the checks need to stay in unconditionally I believe: https://llvm.org/docs/LangRef.html#udiv-instruction

[2018-11-09 21:11] varkor commented on #49048
I'm not sure why the mathematics versus programming distinction should be made, but even then, the definition for programming languages seems like the most appropriate anyway.

As you say, the precise definition is language-specific anyway, but:

Rust chose the name "remainder" specifically because it produced negative results for negative dividends. This is either described in the commit history

[2018-11-09 21:13] QuietMisdreavus commented on #55686
Yes, but the situation may be more complicated than it seems. I left a longer comment in the issue i linked in the OP (https://github.com/rust-lang/rust/issues/36035#issuecomment-435735090) that describes what i think is going on.

[2018-11-09 21:20] weiznich opened #55832 "Strange platform specific overfow in trait resulution"
I've seeing a strange type overflow on diesels ci. (See the windows_sqlite stable build [here](https://dev.azure.com/diesel-rs/diesel/_build/results?buildId=9&view=logs) for example.)
The strange thing is that this only happens on windows, all other (tested) platforms are working fine. Diesel [does not](https://github.com/diesel-rs/diesel/search?l=Rust&q=%23%5Bcfg%28windows%29%5D) contain any rele

[2018-11-09 21:37] mbilker commented on #34538
Would there be too much of a performance hit if `RWLock` checks for SRW lock support at runtime like `Mutex`? Could always implement it and do a crater run to find out myself.

Mutexes work on XP since it falls back to using `CriticalSection*` functions.

[2018-11-09 21:56] ubsan commented on #49048
@varkor that doesn't change the fact that even in CS, "mod" does not imply positive. It's only used that way, afaict, in Haskell - other languages use `mod` to just mean remainder.

[2018-11-09 22:06] ubsan commented on #55829
@sfackler ah, interesting! It would be good to make sure that `(MIN / -1) = MIN` is valid behavior in release mode, even if it's not the behavior we follow in rustc.

[2018-11-09 22:06] #55829 closed

[2018-11-09 22:17] Centril commented on #55467
Re. `less_used_codepoints`: I propose that we bring the bikeshed to a halt in favor of `uncommon_codepoints` because "meh".

I was personally in favor of `rare_codepoints` but `uncommon_codepoints` is basically the same and also works for me so... 🤷‍♀️

Everyone OK with this?

[2018-11-09 22:21] Centril commented on #55618
We have the future compat bits in place so if this has to wait until the next cycle it has to wait until the next cycle. Better safe than sorry!

[2018-11-09 22:30] kevinpoitra opened #55833 "Incorrect cross-platform file path resolution with include_str!"
Last night, I updated my local copy of Rust (stable-x86_64-windows-gnu), and updated the dependencies within my project (which mainly consists of GTK/Relm related libraries). The file structure of my project is like so:

- src
  - assets
    - style.css
  - views
    - view1.rs
    - view2.rs
    - ...
  - main.rs

The project itself is built in two ways: Locally, on my Windows 10 machine, and via

[2018-11-09 22:45] petrochenkov commented on #55618
@Centril

We don't have all the future compat bits in place - that's the point, so the reimplementation is going to land on the current beta (next week, most likely), but it's somewhat risky to stabilize it immediately after that without testing on complex crates with macros, globs and everything (e.g. Servo).

[2018-11-09 22:49] Centril commented on #55618
@petrochenkov right, OK; so we should get all the future compat bits in place and then wait a bit until you are comfortable with the implementation having been tested by Servo and other crates. I'm down with that. I think we can defer the appropriate moment to stabilize to you. :) (and we need the stabilization report done anyways...)

[2018-11-09 22:53] cramertj commented on #55618
@rfcbot resolve idiomatic_use

[2018-11-09 22:54] Mark-Simulacrum commented on #54406
I'm going to reopen this so that we can look and see if there's some warning-free way of doing this.

[2018-11-09 23:08] andrewtj commented on #55794
mio [emulates](https://github.com/carllerche/mio/blob/50c4af5c3f8959af36d97aa8afed8475f6c663c2/src/sys/windows/udp.rs#L159-L160) the standard library and so tokio inherits this behaviour too. So if I'm not an outlier in finding this behaviour unusual it's likely that this error is mishandled in a lot of code.

To test that supposition I thought I'd do a quick survey of servers. I didn't find many

[2018-11-09 23:41] clarcharr commented on #49048
I personally think that `_euclid` is a good suffix; it's not as verbose as `_euclidean` while still feeling natural and unambiguous. Additionally, even as a mathematically inclined person, I don't immediately read "euc" as "Euclidean," whereas I feel that even non-mathematically-inclined people would read "euclid" as "Euclidean."

As far as the distinction between "modulo" and "remainder," I feel

[2018-11-09 23:43] clarcharr commented on #49048
Side note-- I really think that Rust should have somewhere in the documentation for `Div` that division is truncated, rather than floored. I don't know all of the places where this would be relevant, but I feel like having that officially clarified is important, considering how C used to have floored division and then changed.

[2018-11-09 23:47] clarcharr commented on #43122
I do agree that the burden of figuring out how to work with self-referential structs should be put on the creators of the self-referential structs, rather than in the API for something like `Generator`.

For example, why is it that we can't just use `&mut self` as usual and pass in an `&mut PinMut<'a_ T>` instead? It seems silly, but it does get around having to put this weird API in the `Generato

[2018-11-09 23:52] yuriks commented on #43122
If your generator is `Unpin`, then all someone has to do to use it is to do `Pin::new(generator)`. In return, people who have generators that are *not* `Unpin` can also use your code and abstractions on their generators. The Pin API was designed so that pointers to structs which are *not* self-referential can be easily be put in and out of a Pin. Having a separate `UnsafeGenerator` trait would for

[2018-11-09 23:53] djc commented on #55794
Cc @Ralith as well.

[2018-11-09 23:54] yuriks commented on #43122
Also, you keep implying that somehow self-referential generators are only relevant for async i/o use cases, but that's not at all true. Any generator that uses borrows to local variables (like [this example](https://github.com/rust-lang/rust/issues/43122#issuecomment-437191073) in this thread) will need to be self-referential.

[2018-11-10 00:07] newpavlov commented on #43122
Why is that? I don't see why `impl<T: UnsafeGenerator> Generator for Pin<T> { .. }` wouldn't work.

[2018-11-10 00:20] Ralith commented on #55794
Is the current Unix behavior the right default? If quinn were to ever receive into a shorter buffer (which is possible, since maximum packet size is negotiated by QUIC and memory isn't always cheap), we might prefer to detect and discard truncated packets, since they would be deemed malformed soon after anyway. Note that the windows behavior should be implementable on POSIX-compatible systems by u

[2018-11-10 00:30] bluejekyll commented on #55794
Do you happen to have a backtrace for this?

[2018-11-10 00:59] Lokathor commented on #55814
seems to have solved it.

[2018-11-10 01:37] andrewtj commented on #55794
@bluejekyll https://gist.github.com/andrewtj/8429d9f3b9396e0a4170c8e95d92b7a7

[2018-11-10 01:45] Ralith commented on #55794
The other weird Linux UDP behaviors I'm aware of are:
- `sendmsg` rarely yields `EPERM`, I think when the kernel's buffers are full and the datagram was therefore dropped locally
- `recvmsg` yields `ECONNRESET` when an ICMP destination unreachable(?) message is received, which is sometimes useful, but certainly shouldn't kill a server, and e.g. is ignored outright by quinn because an off-path atta

[2018-11-10 02:38] mikeando opened #55836 "RLS crash on nightly"
I upgraded rust to latest nightly, on my OS X box.

[code]

After restarting VSCode to get RLS to restart I got this in the RLS debug output (when running with RUST_BACKTRACE=1)

Note: `cargo test` and `cargo build` seem to run OK.

Let me know if you need anything more.

[code]

[2018-11-10 03:14] Centril commented on #55600
@rfcbot close

Per @petrochenkov's notes above I propose that we remove `extern::` once the 2018 edition has shipped.

[2018-11-10 03:18] Centril commented on #55208
cc @rust-lang/lang

I'm in favor of doing this change; all of it. But do we need this to go through an RFC first?

[2018-11-10 03:40] jonhoo commented on #50907
@Centril should this also be tagged with `relnotes` when stabilized?

[2018-11-10 03:42] Centril commented on #50907
@jonhoo we tag the PR that stabilizes it with `relnotes`.

[2018-11-10 03:56] mikeando commented on #55836
I'm using rocket - so I'm guessing this is a dupe of #1117.
Sorry for the noise.

[2018-11-10 03:56] #55836 closed

[2018-11-10 04:15] #52323 closed

[2018-11-10 05:02] ZhangHanDong commented on #55723
@GuillaumeGomez @QuietMisdreavus

try this:

[code]

[2018-11-10 05:42] Pauan commented on #43122
@newpavlov Just to make it clear: `Pin` has absolutely nothing whatsoever to do with asynchronous vs synchronous.

The reason for `Pin` is to allow for borrowing across yield points, which is necessary/useful for *both* asynchronous and synchronous code.

`Pin` just means "you cannot move this value", which allows for self-referential references.

If your struct does not need to pin anything, then

[2018-11-10 06:36] Centril commented on #43302
Closing as completed.

[2018-11-10 06:36] #43302 closed

[2018-11-10 06:49] retep998 commented on #54875
I suspect this may be due to Rust canonicalizing paths when it only needs normalization.

[2018-11-10 06:52] retep998 commented on #55833
Somewhere a path has been canonicalized into a `\\?\` path, and appending a relative path that uses `/` onto that will break because `\\?\` paths do *not* interpret `/` as a path separator.

[2018-11-10 06:57] retep998 commented on #55812
There are already multiple existing issues open of Rust having issues with canonicalization on RAM drives.

[2018-11-10 08:05] Centril commented on #28160
Triage, @nikomatsakis any updates?

[2018-11-10 08:36] gnzlbg opened #55842 "Bump minimum LLVM version to LLVM 6"
It's that time of the year again - almost 6 months since we bumped the minimum supported system LLVM to version 5 (#51899). Now that emscripten has been updated to LVM 6.0.1  (#55626 - thank you @nikic ) I wanted to bump the minimum supported version to 6.

However, there has been some controversy about the minimum supported LLVM version lagging too much behind the bundled one, resulting in a lot

[2018-11-10 08:45] gnzlbg commented on #55842
cc @djc

[2018-11-10 09:33] nikic commented on #55842
I think there is a bit of a misapprehension around how the rust LLVM fork works. The fork basically only contains two types of patches:

 * Build fixes for CI, because it uses very old glibc. This is not relevant for distros (or they already have their own patches anyway).
 * Backports of upstream commits. The baseline requirement is that all patches going into the fork must be reviewed and commit

[2018-11-10 09:42] oli-obk commented on #54524
Still needs a backport

[2018-11-10 11:43] kevinpoitra commented on #55833
Yeah that seems to be it, or related to it in some way. For what it's worth, I did some more digging:

On Windows:
- `assets/style.css` outputs `couldn't read src\views\assets/style.css: The system cannot find the path specified. (os error 3)`
- `assets\\style.css` outputs `couldn't read src\views\assets\style.css: The system cannot find the path specified. (os error 3)`
- `\\assets\\style.css` ou

[2018-11-10 12:13] petrochenkov commented on #55842
LLVM 5.0 is barely a year old, and you are suggesting to abandon it already.
This is a requirement for people supporting LLVM forks (e.g. custom targets) to move at a quite speedy fashion.

[2018-11-10 12:44] GuillaumeGomez commented on #55723
Still working fine.

[2018-11-10 13:20] daniel-fontaine opened #55846 "Internal Compiler Error in 1.30 and 1.31"
This library compiled without issue in rust versions prior to 1.30.

[code]

[2018-11-10 13:35] leonardo-m opened #55847 "[ICE] on Nightly 2018-11-09 with simple u128 shift"
This code:

[code]

Compiling with just:

`rustc test.rs`

With the last nightly:

[code]

Gives:

[code]

[2018-11-10 13:50] gnzlbg commented on #55842
To put things in perspective with respect to the release train: LLVM 5.0 was released in August 2017. If we decide to bump the minimum version, until the PR lands on nightly we are talking end of November 2018, 6 weeks later it lands in beta (mid January 2019) and 6 weeks afterwards in stable ~March 2019. By March 2019 LLVM 5.0 will be ~1.5 years old., and Rust master will be using LLVM 9@trunk.

[2018-11-10 13:52] gnzlbg opened #55848 "std::arch documentation examples fail to compile on nightly"
[code]

fails with

[code]

[2018-11-10 13:52] gnzlbg commented on #55848
cc @QuietMisdreavus

[2018-11-10 14:30] Centril commented on #50907
Stabilization proposal filed in https://github.com/rust-lang/rfcs/pull/2591.

[2018-11-10 14:35] ZhangHanDong commented on #55723
@GuillaumeGomez

you can try this github reps: [test_ice](https://github.com/ZhangHanDong/test_ice)

[2018-11-10 14:54] shepmaster commented on #55842
We recently upgraded to LLVM 8 (based on 3480ac2a805f8755f41dba2f081446df9d572986) thanks to @TimNN, so I don't believe we are a concern here.

[2018-11-10 15:02] gnzlbg commented on #55848
Particularly, this crate compiles, but then the doc tests fail:

[code]

[2018-11-10 15:06] gnzlbg commented on #55848
Putting the first config on its own line fixes this:

[code]

[2018-11-10 15:54] QuietMisdreavus commented on #55848
Duplicate of https://github.com/rust-lang/rust/issues/55713

[2018-11-10 15:54] #55848 closed

[2018-11-10 15:56] swiftcoder commented on #55741
This seems to have been a misunderstanding on my part of cargo's dependency resolution behaviour. It does (mostly) work when I explicitly give cargo a path dependency to `rustc_driver` in a local copy of the rust source tree.

I'm not quite clear why nightly cargo can't fetch the compiler crates without a local copy of the source tree, though.

[2018-11-10 16:02] DutchGhost opened #55850 "ICE with generators and NLL"
The following ICE's on nightly 2018:

[code]

This is an NLL issue, on 2015 nightly *without* NLL turned on, the compiler complains that `s` does not live long enough. *with* NLL turned on in 2015, I get the same ICE.

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2018-11-10 16:55] cuviper commented on #55842
As you mentioned, Fedora 28 is still on LLVM 6, and it's non-trivial to upgrade the main LLVM package for the distro.  And now that 29 is out, we'll be trying even harder not to rock the boat on 28, as many people use release-1 as a more conservative (stable) Fedora choice.

If hard-pressed, I could add an llvm7 compat package, leaving the main one alone -- but that's not usually done for *newer*

[2018-11-10 17:04] gnzlbg commented on #55842
@cuviper Could you mention why is it worth it to avoid the bundled LLVM ?  Other distro packagers mentioned in the internal threads that they have decided to always use the bundled LLVM anyways.

IIRC LLVM recommends projects that depend on it but are hosted outside their main repo to follow trunk as closely as possible because its C++ API does not guarantee any kind of backwards compatibility and

[2018-11-10 17:18] eddyb commented on #28796
Ah, sure, I'm only trying to point out that the only bug we're aware of relates to `miri` supporting this, which shouldn't block anything, it's not relevant to the language itself.

[2018-11-10 17:33] gnzlbg commented on #55842
Thank you, all of that makes sense!

To implement this in a useful way we would have to stop making rustc require pre-release LLVM versions to work properly.

[2018-11-10 17:44] nagisa commented on #55773
Compile all the binaries separately (into statically linked static relocation executables, not libraries) and combine them all into a single binary as the final link step by placing binary executables. This is commonly done in e.g. embedded to achieve separation between the bootloader and the application (making application firmware updatable).

The usual approach is this:

1. Pick which binary wi

[2018-11-10 17:44] #55773 closed

[2018-11-10 17:48] gnzlbg opened #55851 "error message when creating a closure and directly calling not very clear"
Creating a closure and directly calling it:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=71d1d0422049f8b5b9b0bb866da117e7))

Errors:

[code]

Which doesn't really hint at what the problem is. The problem is that the closure must be surrounded by `()` - [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=080dab281694

[2018-11-10 18:19] ljedrz opened #55853 "Possible enhancement for nll::region_infer::RegionInferenceContext"
I noticed that `constraints`, `constraint_graph` and `universal_region_relations` (all members of the `RegionInferenceContext` struct) are wrapped in `Rc`s, but it doesn't seem necessary - none of them are `clone`d anywhere. I thought this might be done in order to reduce the size of the `RegionInferenceContext` struct, but the same could also be done to its other components that are bigger than `

[2018-11-10 18:47] memoryruins commented on #55847
I'm unable to recreate on Linux and Windows (gnu/msvc).
``rustc 1.32.0-nightly (36a50c29f 2018-11-09)``

However, I did not have mingw installed to try in there.
Does it happen for you outside of mingw?

[2018-11-10 19:49] varkor commented on #55523
E0212 is on the list, so it's probably better just to use #32777 as the tracking issue for this code.

[2018-11-10 19:49] #55523 closed

[2018-11-10 20:37] djc commented on #55842
So, as a Gentoo packager, here's my take:

- In terms of support window, it would be nice to be able to support previous major version in addition to current major version, just so that we can provide a stable version to our users. System packages like LLVM can take a while to bake in our stable tree, so longer support would be nice. We definitely don't have a need for LLVM 5, though.

- On the ot

[2018-11-10 20:51] phayes opened #55855 "[ICE] Panic in nightly rustc"
I ran into a compiler panic when running "cargo test" on this code:

https://github.com/phayes/tallyman/tree/rustc-panic

(Note the branch should be set to `rustc-panic` where I've captured the code to reproduce).

Command: `RUST_BACKTRACE=1 cargo test --verbose`

Version: `rustc 1.32.0-nightly (36a50c29f 2018-11-09)`

<details><summary>Click to See Output</summary><p>

[code]

[2018-11-10 21:34] retep998 commented on #54760
Mucking about with enabling and disabling inheritance on handles is inherently racy and a bad idea.

We really just need to implement the solution in https://blogs.msdn.microsoft.com/oldnewthing/20111216-00/?p=8873

[2018-11-10 21:55] pietroalbini commented on #55846
Uh, this looks like a regression. What's the library?

[2018-11-10 22:07] Centril commented on #55766
I have some assorted questions about this:

1. Given the importance of `Pin<T>` for `async` and for generators and potential for unsoundness when interacting with other parts of Rust (e.g. `swap` & `replace`), has any *formal verification* (e.g. by @jhjourdan or @RalfJung) been done of the variant of the pinning API that is proposed here?

2. Does this API give any new guarantees about the abstrac

[2018-11-10 22:08] daniel-fontaine commented on #55846
It's currently a private library. It's a constraint programming solver.

Dan

On Sat, Nov 10, 2018, 4:55 PM Pietro Albini <notifications@github.com>
wrote:

[2018-11-10 22:10] pietroalbini commented on #55846
Can you reduce the bug to a subset of the library you can publish? Unfortunately it's hard for us to investigate an error without the code that's causing it.

cc @rust-lang/compiler

[2018-11-10 22:12] daniel-fontaine commented on #55846
Yes, I'll try later today. Thanks.

On Sat, Nov 10, 2018, 5:10 PM Pietro Albini <notifications@github.com>
wrote:

[2018-11-10 22:46] #52457 closed

[2018-11-11 00:18] daniel-fontaine commented on #55846
Here is a single file example where it occurs.

Dan

On Sat, Nov 10, 2018 at 5:10 PM Pietro Albini <notifications@github.com>
wrote:

[2018-11-11 00:29] daniel-fontaine commented on #55846
Below is a rust file with the error.

[compiler_error.txt](https://github.com/rust-lang/rust/files/2568931/compiler_error.txt)

[2018-11-11 03:35] Centril commented on #51994
@rfcbot merge

# Stabilization report & proposal

Feature name: `#![feature(self_struct_ctor)]`
Version target: 1.32 (2019-01-18)

Originally accepted in https://github.com/rust-lang/rfcs/pull/2302, I propose that we stabilize `self_struct_ctor`.
This has been in nightly since 2018-09-15 which is ~8 weeks ago.

The proposed change is not a blocker for anyone but it is a nice quality of life featur

[2018-11-11 04:03] Centril commented on #49303
@rfcbot merge

# Stabilization report & proposal

Feature name: `#![feature(self_in_typedefs)]`
Version target: 1.32 (2019-01-18)

Originally accepted in https://github.com/rust-lang/rfcs/pull/2300, I propose that we stabilize `self_in_typedefs`.
This has been in nightly since 2018-08-19 which is ~12 weeks ago.

The proposed change is not a blocker for anyone but it is a nice quality of life featu

[2018-11-11 04:16] Centril commented on #54881
Setting earliest date for stabilization proposal: 2018-11-22 (11 days from now).

[2018-11-11 04:26] kennytm opened #55861 ""died due to signal 11" in collectionstests on arm-android"
Symptom: The `arm-android` test failed with the following messages:

[code]

Previous instances:

* https://github.com/rust-lang/rust/pull/55717#issuecomment-436880394 (2018-11-08T05:44:13Z)
* https://github.com/rust-lang/rust/pull/55859#issuecomment-437641355 (2018-11-11T03:44:11Z)
* https://github.com/rust-lang/rust/pull/55052#issuecomment-437990710

This might be caused by a mis-optimization li

[2018-11-11 04:33] pcpthm commented on #55766
This is because there is no way to implement that safely using a function API.

What about API like this?
[code]

[2018-11-11 04:43] Centril commented on #51999
@oli-obk I think sufficient time has passed for us to stabilize this... how do you feel about doing that? If you feel alright with that maybe you could write up a stabilization report?

[2018-11-11 04:49] Centril commented on #48216
@petrochenkov any progress?

[2018-11-11 04:50] Centril commented on #48683
@Manishearth uhm -- why is this T-lang? was that a mistake?

[2018-11-11 04:55] Centril commented on #46062
@nikomatsakis there has been no movement here for a year now so I think we can close it?

[2018-11-11 05:10] Centril commented on #36247
@joshtriplett what's to be done here?

[2018-11-11 05:15] Centril commented on #35118
@mark-i-m any developments re. `repr128`?

[2018-11-11 05:30] Manishearth commented on #48683
uh.....

yes :smile:

oops

[2018-11-11 06:00] estebank commented on #55846
[No longer repros in beta or nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=1a759198d9c90fb5e29a1dc1401be7d0), [present in stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=43edddcd58174ac225945b45f717ffe9).

[2018-11-11 06:32] kevinpoitra commented on #55833
I don't think this is an error with Rust itself anymore, so I'll close this for now.

Based on my last two observations from my previous comment, I originally thought there was something wrong around [this line within the res_rel_file function](https://github.com/rust-lang/rust/blob/25a42b2ceb46887e9941cec667eac99844dd7ad0/src/libsyntax/ext/source_util.rs#L201), used by `include_str!`. With no rec

[2018-11-11 06:32] #55833 closed

[2018-11-11 06:46] pnkfelix commented on #55846
Identifying the nightly where this was fixed via bissection would be a good start to determining what fixed it (and thus evaluating whether a backport to stable is reasonable). But a problem has to meet a pretty high bar to justify a backport to the stable channel... a rare ICE may not cut it

[2018-11-11 09:07] #24010 closed

[2018-11-11 09:07] #55747 closed

[2018-11-11 09:07] #54541 closed

[2018-11-11 09:07] #55772 closed

[2018-11-11 09:07] #55796 closed

[2018-11-11 09:07] #55394 closed

[2018-11-11 09:07] #55806 closed

[2018-11-11 09:09] RalfJung opened #55864 "stage 0 libtests are broken"
The command `./x.py test --stage 0 src/libstd --no-doc` used to be a good way to test libstd without having to build a full compiler. However, it is currently broken:
[code]

Cc @alexcrichton

[2018-11-11 09:30] nagisa opened #55866 "Nightly cannot be installed today"
x86_64-unknown-linux-gnu nightly (I believe [2018-11-11](https://static.rust-lang.org/dist/2018-11-11/index.html)) will not install when running `install.sh` script.

[code]

[2018-11-11 09:31] RalfJung commented on #55464
@oli-obk Any idea what this could be caused by? Any hints where I could start debugging this?

[2018-11-11 09:53] leonardo-m commented on #55847
The successive Nightly doesn't show the problem (but I think it's still a good idea to investigate):

[code]

[2018-11-11 10:03] gnzlbg commented on #55842
That is, if currently Rust is using LLVM8@trunk, would LLVM7 be enough? Or would you rather have LLVM6 ?

Would it help if, e.g., the release notes would contain the LLVM version + commit of the bundled LLVM used for stable Rust releases? (maybe with a link to the branch uses by rust's bundled LLVM fork?)

@cuviper had the same request and this is a pretty hard constraint. To expand on this:

* so

[2018-11-11 10:30] RalfJung commented on #39575
Here is an example for an API that successfully maintains an invariant (on an OS pipe), but that gets broken by `before_exec`:
[code]

@alexcrichton If I replace that `assert!(res.len() <= 1)` by something that causes UB, you have an example of `before_exec` introducing memory unsafety.

[2018-11-11 11:32] petrochenkov commented on #49303
I still feel that this brings some harm in terms of code readability/searchability and should be *generally* discouraged.

Additionally, interactions with https://github.com/rust-lang/rust/issues/51994 are not yet implemented and value `Self` inside of a struct does not refer to the struct's constructor.

[2018-11-11 11:37] petrochenkov commented on #55268
The doc PR has landed, so I'm closing this.

[2018-11-11 11:37] #55268 closed

[2018-11-11 11:39] petrochenkov commented on #48216
It's in the queue, but with lower priority than uniform paths.

[2018-11-11 11:56] nikic commented on #33923
Unfortunately #55633 did not fix this, because LLVM is still missing support for differing src/dst alignment in SelectionDAG construction.

[2018-11-11 13:14] RalfJung commented on #55724
FWIW, we actually have explicit tests that allocate with size 8, alignment 16 -- i.e., with a size that is not a multiple of the alignment: `heap::alloc_system_overaligned_request` and `heap::std_heap_overaligned_request`.

[2018-11-11 13:31] mark-i-m commented on #35118
Not that I'm aware of... but I just did the stabilization.  I'm not sure if if anyone has claimed ownership of that task yet...

[2018-11-11 14:10] DutchGhost opened #55872 "ICE: Type parameter W/#1 out of range when substituting"
Playing with async/await, using
- Futures: futures-preview = "0.3.0-alpha.9"
- Tokio: tokio = { version = "0.1.0", features = ["async-await-preview"] }

and some nightly features, I stumbled upon this ICE.
(possibly related to https://github.com/rust-lang/rust/issues/55265)

[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

*No* ICE happens when writing the trait and implementati

[2018-11-11 14:17] tormol opened #55873 "ICE when macro produces multiple functions each with "wrong number of type arguments" turbofish errors"
Minimal repro:

[code]

Produces this error and backtrace:

[code]

The ICE does not occur if the type list does not contain a macro parameter, or both usages are in the same function:

[code]

I discovered this ICE with a macro containing mirrored `PartialEq` impls using `.as_ref()` for turning the
local type into the type to compare against. Reduced version:

[code]
A single impl but with both `

[2018-11-11 14:44] bstrie commented on #24955
Given that we can no longer access the code to reproduce and that it seems to suggest that it requires bespoke modifications to the compiler, I'm inclined to close this unless @ubsan or someone can recreate the test case to show it's still relevant on today's compiler.

[2018-11-11 15:24] ZhangHanDong opened #55875 "build rust from source fail on macos 10.13.6"
build rust from source code in macOS High Sierra 10.13.6:

[code]

I got the following errors :

[code]

[2018-11-11 15:35] Centril commented on #51999
@Nemo157 this basically permits `panic!("foo")` at the moment and not much more.

[2018-11-11 15:45] alexreg commented on #49303
We allow it pretty much everywhere else. I don’t see a difference here.

[2018-11-11 15:45] oli-obk commented on #51999
Yea, without control flow this feature is useless except for `unimplemented!()` working in const functions

[2018-11-11 15:47] alexreg commented on #49683
Any updates on this lately, @tlively? :-)

[2018-11-11 15:48] Centril commented on #49303
@petrochenkov

I think searchability and readability are not the same thing; `Self` is less good generally for searchability if used in `impl`s or in type definitions; I don't think this is special to type definitions such that `impl`s don't have that problem.

However; when it comes to readability, given that we chose to have an implicit head parameter to traits in the form of `Self`, we might as

[2018-11-11 15:51] Centril commented on #35118
@mark-i-m aw; bummer :(

Let me try some one else at random...

@nagisa 👋

[2018-11-11 15:57] petrochenkov commented on #49303
Well, you need something contrived to get it, but something like
[code]
should not result in the "cannot find value `Self` in this scope" error.

[2018-11-11 16:11] Centril commented on #49303
@petrochenkov Oh I see; so to make actual use of it you would need to write:

[code]

(enum discriminants or https://github.com/rust-lang/rfcs/pull/1806 might be more realistic use cases...)

--------------------

 I re-checked the RFC now and apparently [I wrote](https://github.com/rust-lang/rfcs/blob/master/text/2300-self-in-typedefs.md#reference-level-explanation):

It explicitly says type cont

[2018-11-11 16:18] nagisa commented on #35118
Nothing has changed re `repr128`… It is still the case that at least LLVM’s debuginfo API blocks us from implementing it at all. There’s very little incentive to work on it, though, and I’m not planning to do anything in that direction until a very convincing use-case for 128-bit enum discriminants comes up.

[2018-11-11 17:04] cjdelisle opened #55876 "ICE on OSX compiling rust-crypto (non-release)"
Reproducable with nightly and stable.

Versions:

OSX Yosemite 10.10.5

[code]

Command:

[code]

LLDB backtrace:

[code]

[2018-11-11 17:55] jethrogb commented on #50547
NB. The name of this tracking issue is async/await but it is assigned to the task API as well! The task API currently has a stabilization RFC pending: https://github.com/rust-lang/rfcs/pull/2592

[2018-11-11 19:01] infinity0 opened #55877 "size_of::Option<bool> is 1, size_of::Option<(bool * 8)> is 8"
Tested on 1.31.0 and also the playground:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=5b8b38ab0ad25f17e0336967412a7528

Note that `()` and `Option<()>` are 0 and 1 as expected.

[2018-11-11 19:06] infinity0 commented on #55877
nvmd, brain fart moment. size_of returns sizes in bytes not bits, and rustc isn't yet smart enough to represent (bool * 8) as a single byte.

[2018-11-11 19:06] #55877 closed

[2018-11-11 19:52] #55651 closed

[2018-11-11 19:52] #55652 closed

[2018-11-11 20:06] Noxime opened #55878 "Dumb bugs are dumb, but still bugs: Huge types generate illegal instructions"
Having huge data structures (larger than `u64::MAX`) results in incorrect binaries being built.

I tried this code:
[code]

I expected this to happen: Output of `Size: 18446744073709551616`, or a compiler error telling me the structure is too big
Instead, this happened: Binary compiled successfully, but running it results in `Illegal instruction (core dumped)`

## Meta
`rustc --version --verbose`

[2018-11-11 21:04] hamedsh commented on #55866
change file llvm-tools-preview/manifest.in to this (note:replace "file" with "dir"):

dir:lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-nm
dir:lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-strip
dir:lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-profdata
dir:lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-objdump
dir:lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-objcopy
dir:lib/rustlib/x86_64-unknown

[2018-11-11 22:32] rkruppe commented on #55878
This:

[code]

gives a graceful error: `the type `[u8; 18446744073709551615]` is too big for the current architecture`.

Taking a reference, however, reproduces the illegal instruction:

[code]

The LLVM IR for the latter function, by the way, is just a call to `llvm.trap`. So I guess it's because of promotion to static: the size_of call fails in const eval and this causes the `llvm.trap` call to

[2018-11-11 22:40] glandium commented on #55842
This reminds me... `rustc --version --verbose` prints the plain LLVM version. That is, current nightly says: 8.0. That is essentially useless information, since this is *not* 8.0 at all.

[2018-11-12 00:27] dtolnay opened #55881 "Remove the !Send and !Sync impls for proc_macro::LineColumn"
https://doc.rust-lang.org/1.30.0/proc_macro/struct.LineColumn.html

https://github.com/rust-lang/rust/blob/ca79ecd6940e30d4b2466bf378632efcdf5745c7/src/libproc_macro/lib.rs#L396-L404

https://github.com/rust-lang/rust/blob/ca79ecd6940e30d4b2466bf378632efcdf5745c7/src/libproc_macro/lib.rs#L406-L409

This struct consists of two public fields. It holds a line number and a column number. Given that al

[2018-11-12 00:34] nrc commented on #55766
Does packed mean that fields can be moved dynamically? That is a bit scary. Are we sure that llvm will never generate code to move fields in other circumstances? Likewise is it possible that pinned values  on the stack might be moved by llvm?

[2018-11-12 00:35] nrc commented on #55766
Despite the subtlety, this seems like a really nice API. Good work!

[2018-11-12 02:04] aldanor commented on #32077
@fintelia Don’t think there’s any workarounds...

[2018-11-12 02:05] cynecx opened #55883 "docs.rs css issues with rustdoc (responsiveness)"
docs.rs and rustdoc aren't playing nicely together as we can see here (it's pretty much broken):

![docsrs](https://user-images.githubusercontent.com/5961244/48321831-9e122300-e624-11e8-9f38-6085fe7aa3fb.png)

To fix this, we should modify the selector from `body > .sidebar` to `.rustdoc > .sidebar`.

https://github.com/rust-lang/rust/blob/775eab58835f9bc0f1f01ccbb79725dce0c73b51/src/librustdoc/ht

[2018-11-12 02:10] shepmaster commented on #53491
I think a method that moves out of the wrapper, replacing it with an uninitialized value, would be useful:

[code]

Shall I submit this?

[2018-11-12 02:14] Amanieu commented on #53491
@shepmaster This feels very similar to the existing `into_inner` method. Maybe we can try to avoid duplication here?

[2018-11-12 02:16] petrochenkov commented on #55618
Reimplementation PR - https://github.com/rust-lang/rust/pull/55884.

[2018-11-12 04:28] eddyb commented on #55881
Yeah, pretty much.

[2018-11-12 04:51] earthengine opened #55886 "Miri check does not support `slice::align_to` method"
The following

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=d5228295a3c12be6aa1d36eed2cd41d8)

prints `m.len()=49` in normal run, but `m.len()=0` in Miri check.

[2018-11-12 05:02] herquan opened #55887 "Fail to download files during bootstrap"
I tried run command to build:
`python x.py build`
But failed with this error message:
[code]
I checked the code and found we download bootstrap files through powershell command, which I guess is not necessary. So attachment is my fix, using urllib rather than external dependencies.

[patch.diff.txt](https://github.com/rust-lang/rust/files/2570600/patch.diff.txt)
The HEAD before my change is `06118

[2018-11-12 06:47] #55606 closed

[2018-11-12 06:59] ehuss commented on #55887
See #55840 for the proposed fix.

[2018-11-12 08:07] RalfJung commented on #55886
This is not a bug, this is expected behavior. `align_to` is explicitly documented to give a best-effort answer:

The reason is that miri cannot know "how aligned" the allocation is. The `49` in a normal run can change from execution to execution, it depends on which base address got picked. miri does not pick a base address.

[2018-11-12 08:16] gnzlbg opened #55890 "Include llc with the llvm-tools component"
Its useful to be able to use the same `llc` as rust when trying to debug codegen issues.

[2018-11-12 09:19] RalfJung commented on #55878
Backtrace for the miri error:
[code]
Looks like `layout_of` fails and we do not handle that very gracefully?

[2018-11-12 09:28] stjepang opened #55891 "Suggestions in errors ignore `move` before closure arguments"
Source: https://travis-ci.org/rust-lang/cargo/jobs/453802414#L938-L949

[code]

The suggestion is to use: `let doit = |_| {`
But I think it should be: `let doit = move |_| {`

We should probably respect other modifiers like `static` and `async`, too.

[2018-11-12 09:31] RalfJung opened #55892 "Add allow-by-default lint when using item deprecated in the future"
With https://github.com/rust-lang/rust/issues/30785 resolved, there now is a way to deprecate an item "for the future".  It would be nice to be able to e.g. clean libstd from using such future-deprecated items and then to make sure that future PRs will not re-introduce new uses of that item again. I am thinking, for example, of when we will deprecate `mem::uninitialized` in favor of `MaybeUninit`:

[2018-11-12 09:31] RalfJung commented on #30785
I think it wold sometimes be useful to get warnings for using items deprecated in the future, see https://github.com/rust-lang/rust/issues/55892.

[2018-11-12 09:32] withoutboats commented on #55766
@Centril Ralf has written about pinning [on his blog](https://www.ralfj.de/blog/2018/04/05/a-formal-look-at-pinning.html).

The pin APIs involved no language changes at all, and are entirely implemented in the standard library using pre-existing language features. It has no impact on Rust the language and doesn't foreclose on any other language feature.

`Pin` is really just a clever implementatio

[2018-11-12 09:34] withoutboats commented on #55766
Negative impls are currently unstable.

[2018-11-12 09:38] davidtwco commented on #55766
🤦‍♂️ That makes sense, should have thought about that for a little bit longer.

[2018-11-12 10:20] pnkfelix commented on #54654
Since I have not been able to reproduce and we have not received any further information on this bug,I am going to close this as non-actionable at this time.

@Boscop : if you are able to provide more precise information in the future, please do so and reopen! Thanks!

[2018-11-12 10:20] #54654 closed

[2018-11-12 10:41] oli-obk commented on #55878
The problem is the reporting in https://github.com/rust-lang/rust/blob/d1d79ae3ad36e82e2be33bea108d6a4e98ddce0b/src/librustc_mir/const_eval.rs#L693 which makes https://github.com/rust-lang/rust/blob/8315b11b6352cbd91ee096571c31ae7d3ac9613d/src/librustc/mir/interpret/error.rs#L114-L117 assume that the error has already been reported.

We should keep reporting these as a hard error if we are in a `R

[2018-11-12 10:46] pnkfelix opened #55895 "#[link_args] attribute is always linted as unused"
Spawned off of https://github.com/rust-lang/rust/issues/29596#issuecomment-368060862

This code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=d728ae6e5e092b07bb57e7dee82301d0)):

[code]

issues the following diagnostic output:

[code]

(It doesn't matter what you put into the `link_args` string argument; I just chose an empty string to demonstrate a case where th

[2018-11-12 11:39] RalfJung commented on #55766
No, not from our side. The blog posts I mentioned above contain some thoughts for how I'd start formalizing this, but we haven't actually gone through and done it. If you give me a time machine or an interested PhD student we'll do it. ;)

That is the intention.

Uh, I have no idea how to answer that question with any confidence. The space of possible additions is just too large and also too high-

[2018-11-12 12:18] GuillaumeGomez commented on #55723
Ah nice, thanks!

[2018-11-12 12:31] agnxy commented on #55388
Hi @oli-obk @tom7980 ,
Thanks for your guidance.
I made a little progress with the following prototype.
[code]

But I haven't figured out how to use `mk_substs` to create substs as a parameter of `Instance::resolve`. I tried something like `tcx.mk_substs(std::iter::once(Kind::from(drop_type)))` but got ICE when compiling std. And another question is, after we get an `Instance`, is the next step fo

[2018-11-12 12:57] axos88 opened #55897 "Super-weird compiler bug, and seemingly paradox behaviour when using non-absolute imports in 1.30"
Repro repo: https://github.com/axos88/out_dir_bug/blob/master/src/foo.rs#L1

Apparently that line causes `env!("whatever")` to resolve to "false", so the `include!` fails, because it cannot find the file.

I'm a bit baffled on why this doesn't create a more meaningful compile error. Seems like it gets confused due to there being a module named `env` and a macro named `env!` in std?

By completing

[2018-11-12 13:00] axos88 commented on #55897
Scratch that, by changing the use to `std::env`, the result will change from `false` to `0`. WTF?!

[2018-11-12 13:16] axos88 commented on #55897
Actually the case is much more complex:

[code]

[2018-11-12 13:17] axos88 commented on #55897
@petrochenkov

[2018-11-12 14:01] norru commented on #55480
https://github.com/rust-lang-nursery/rls/issues/1117

[2018-11-12 14:02] norru commented on #55480
https://github.com/rust-lang/rust/pull/55879

[2018-11-12 14:07] petrochenkov commented on #55618
Just in case, if something goes wrong with enabling uniform paths by default (e.g. too many "resolution is stuck" errors), then it's always an option to turn on the in-scope resolution on demand with something like `in::foo::bar`, so that local imports like
[code]
are still possible to write.

[2018-11-12 14:44] shepmaster commented on #53491
Sure, so the **implementation** would basically be `ptr::read`, but from a usage point of view I would encourage framing it as replacement of a valid value with an uninitialized value.

I have no strong objection, as I expect the implementation of one to call the other. I just don't know what the final state would be.

[2018-11-12 15:12] pnkfelix commented on #55756
Bisected against when https://source.that.world/source/evm-rs.git stopped building.

Successfully built: rustc 1.30.0-nightly (4141a4079 2018-09-25)
Error during compilation: rustc 1.30.0-nightly (ae7fe84e8 2018-09-26)

[2018-11-12 15:13] pnkfelix commented on #55756
Heres the bors merge record from that time frame:

% git log 4141a4079..ae7fe84e8 --format=oneline --author=bors
ae7fe84e8cf7523f6853d9786e28e9d066d4e5cd Auto merge of #54561 - matthiaskrgr:clippy_up, r=kennytm
c7df1f530b8a88f471e60e933868e7ddf456974d Auto merge of #54453 - nikomatsakis:nll-issue-53121-shred-outlives, r=pnkfelix
6846f22a13c7c896e86714736d597128fdfea94d Auto merge of #51946 - japar

[2018-11-12 15:27] lachlansneff opened #55898 "Suboptimal code generation with nested enums and structs."
Rust 1.30 with `opt-level=3` compiles

[code]

into

[code]

as per this godbolt link: https://godbolt.org/z/G67blU.

As far as I can tell, both `cmp` instructions don't need to be there and the whole function should be compiled to just `mov rax, qword ptr [rdi + 16]`.

[2018-11-12 15:32] ababo opened #55899 "Cannot export statics for cross-compilation to bare metal"
I need some non-referenced static variables to be included in output binary image, but failing to achieve that.

[code]

Building with the following target:
[code]

Here is a build log (from `cargo-xbuild`):
[code]

You can reproduce the problem using [these sources](https://github.com/ababo/octopus/tree/704f17672bfc4c9ebaaf998ce5b9c21babdaa66f).

rustc version: `rustc 1.32.0-nightly (8b096314a 20

[2018-11-12 15:43] alexcrichton commented on #55769
For posterity there was [some discussion](https://github.com/rust-lang/rust/pull/55788#issuecomment-437632954) of why this isn't actually fixed on nightly right now, and @kennytm [has a PR to `termcolor`](https://github.com/BurntSushi/termcolor/pull/10) which should fix this

[2018-11-12 15:46] pnkfelix commented on #55756
Also, this is fixed when you turn on NLL...

[2018-11-12 15:54] lachlansneff commented on #55898
If you change `match_test` to take `Foo` by reference (`&Foo`), the whole function optimizes down to what it should.

[2018-11-12 15:58] pnkfelix commented on #55756
Here is a reduced test case ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=95c6cf5b6f9d53cfb7136cfa1bbd0b7e)):

[code]

[2018-11-12 16:08] GuillaumeGomez opened #55900 "[tracking-ish issue] Doc pages are very slow to render"
Message from [discord](https://discordapp.com/channels/442252698964721669/443492145567891458):

Related:

- [x] [Minification makes JS parsing slower](https://github.com/rust-lang/rust/issues/57754)
- [ ] [Open
search-index.js slows down documentation browsing](https://github.com/rust-lang/rust/issues/56545)
- [ ] Others?

[2018-11-12 16:08] pnkfelix commented on #55756
I am not sure if I'm going to have time to look into this further before I go on leave (for ~2 weeks), and yet it seems like a potentially important thing to address. Unassigning self.

[2018-11-12 16:10] pnkfelix commented on #55526
I didn't get a chance to look at this. Its still P-high, but it bears repeating that NLL migration gives us breathing room here (i.e. other P-high items should probably be P-higher)

[2018-11-12 16:11] pnkfelix commented on #55511
didn't get a chance to look into this further today. Unassigning self (I'll be back from leave in ~2 weeks, but I want to make sure other people know that this is available to hack on in the meantime).

[2018-11-12 16:17] pnkfelix commented on #45142
The aforementioned "minimal example" used cfg blocks to include both working and non-working variants.

AFAICT, the non-working one still errors.

I haven't read the thread carefully yet, but I *think* the intention is that the non-working one should in fact work...

[2018-11-12 16:21] pnkfelix commented on #55756
I have now confirmed that PR #54453 is what injected this regression.

cc @nikomatsakis

[2018-11-12 16:50] ollie27 commented on #55900
The HTML for that page is currently about 12.5MB thanks to #51885. We're now rendering a copy of every trait method for every impl. We could revert #51885 or only render methods that have documentation in the impl.

[2018-11-12 16:57] alexcrichton commented on #55766
Ok thanks @RalfJung, makes sense! Some follow-up questions...

When you say "never moved until dropped", this means that `Drop` may be called where `&mut self` has moved from the address of `Pin<&mut Self>`? Destructors can't rely on interior pointers being accurate, right?

My worry when looking at `set` was how panics would be handled, but I think that this is a non-issue after digging into the

[2018-11-12 17:11] varkor commented on #55892
This should be very straightforward to add by essentially copying what the current `deprecated` lint does, but limited to future deprecations.
https://github.com/rust-lang/rust/blob/d6828cefd3787e8a732991d6273afc8793104cc3/src/librustc/lint/builtin.rs#L217-L222
I can provide more detailed mentoring for those interested in tackling the issue, but I imagine one should be able to figure out the detai

[2018-11-12 17:13] oli-obk commented on #55886
Closing since it is working as intended as per the RFC https://github.com/rust-lang/rfcs/pull/2043

If anything is unclear about the motivation or documentation, don't hesitate to open an issue about that or ask here

[2018-11-12 17:13] #55886 closed

[2018-11-12 18:08] Nemo157 commented on #55766
@alexcrichton my understanding was that means never moved until after `Drop::drop` returns. Otherwise some usecases (intrusive collections and stack allocated DMA buffers at least) become impossible.

[2018-11-12 18:44] withoutboats commented on #55766
Destructors can rely on something never having been moved *if* they can prove it was previously in a `Pin`. For example if a state machine can only enter a state through an API which requires it to be pinned, the destructor can assume that it was pinned before it was dropped if it is in that state.

[2018-11-12 18:52] RalfJung commented on #55766
I mean that the data will never move (in the sense of not going anywhere else, including not being deallocated) until `drop` was called. And yes, `drop` can rely on running on the pinned location, even though its type cannot express that. `drop` *should* take `Pin<&mut self>` (for all types), but alas, too late for that.

This allows, for example, an intrusive linked list where the destructor of a

[2018-11-12 20:04] QuietMisdreavus commented on #44732
I was just able to get it working with the following, running `cargo +nightly doc --features docinclude`:

[code]

It's worth noting that the feature gate is `external_doc`, not `external_docs` which you have in your sample. One other note is the location of `asdf.md` here was right next to `lib.rs`. (However, since you say it works *without* the `cfg_attr`, these are probably not that useful...)

[2018-11-12 20:04] nikomatsakis commented on #55222
(I still plan on following up on this, though I'm focusing my immediate energy more on the universe transition and lazy normalization.)

[2018-11-12 20:12] thedodd commented on #44732
@QuietMisdreavus sorry, I noticed my typo of `external_docs` earlier when I transcribed it here, but forgot to update. I am using `external_doc` in the code though.

Well, that's quite strange. I will keep hacking on it and see if I can get it to work. Thanks for the feedback.

[2018-11-12 20:16] #55594 closed

[2018-11-12 20:29] pnkfelix commented on #24955
I agree with @bstrie

[2018-11-12 20:29] #24955 closed

[2018-11-12 20:32] Mark-Simulacrum commented on #55866
cc @alexcrichton @nrc

[2018-11-12 20:59] alexcrichton commented on #55866
This looks like it's likely specifically related to the `llvm-tools-preview` component, and doesn't empirically seem to affect all nightly installations.

[2018-11-12 21:44] allen-marshall opened #55903 "ICE: "unexpected predicate" when using multiple lifetime parameters in existential type"
I have encountered an internal compiler error using Rust 1.32.0 nightly. It seems to occur when using multiple lifetime parameters in an existential type.

I can reproduce the error by using the following code in `lib.rs`. I am not sure if this code should compile or not (I am new to Rust and trying to learn how existential types work), but I know it shouldn't cause an ICE. (The `Clone` trait boun

[2018-11-12 22:01] thedodd commented on #44732
@QuietMisdreavus  so, after hacking on this a bit more, it appears as though I can compile the following code on stable (this time, exact copy-paste):

lib.rs
[code]

`Cargo.toml`:
[code]

The command I run: `cargo clean && cargo build --features docinclude`.

Cargo version:
[code]

Rustc version:
[code]

The end result is that the build goes through, but still no included docs.

Running the same

[2018-11-12 22:06] alexcrichton commented on #55861
Added https://github.com/rust-lang/rust/pull/55052#issuecomment-437990710 to the list

[2018-11-12 22:22] alexreg commented on #47659
@ZerothLaw Did you make any progress on this lately? I can maybe help give you more pointers, if needed.

[2018-11-12 22:30] ollie27 commented on #44732
@thedodd it's `doc(include = "../../README.md")` not `doc(include("../../README.md"))`. It should be a compile error if you don't specify a filename to `#[doc(include)]` but currently it's just ignored.

[2018-11-12 22:36] thedodd commented on #44732
So, another pertinent bit of information is that this repo is a workspace with two crates, `wither` & `wither_derive`. When I cd down into the `wither` directory and then `cargo build --features docinclude`, the compiler errors out as expected. Invoking with `+nightly` causes compilation to succeed.

However, once again, the docs do not appear when running from the crate specific directory (as opp

[2018-11-12 22:37] thedodd commented on #44732
@ollie27 you may have just saved my life ... testing that out now.

[2018-11-12 22:45] thedodd commented on #44732
@ollie27 thanks for being the greatest human alive right now. It's always the small things. Thanks for clearing that up for me. I must have edited the attribute at one point while I was setting up the `cfg_attr` bits and thought that it was working the same way.

[2018-11-12 23:13] QuietMisdreavus opened #55907 "rustdoc intra-doc links: false positive on trait impls from other crates"
In crate `inner`:

[code]

Crate `outer` only needs to link against `inner`, and since my testbed is set to 2018 it's just the following:

[code]

Building docs for `outer` will generate false positives for the items in `inner`: (My testbed uses `asdf` for `outer` and `qwop` for `inner`, but the message should be the same)

[code]

[2018-11-12 23:35] cuviper commented on #55842
FYI, #55835 is updating to a newer trunk snapshot.

[2018-11-12 23:51] gnzlbg commented on #55842
FYI, to put that in context, there are people collaborating to specify 128-bit SIMD for WASM, implement that in LLVM, and exposing that from Rust. This is iterative work that requires keeping the spec, llvm, and Rust, in sync. And this is not the only feature that requires this kind of synchronization.

So rust-lang/master following LLVM trunk is pretty much a hard requirement for progress in some

[2018-11-13 00:00] Centril commented on #55222
🙏

[2018-11-13 02:22] ZerothLaw commented on #47659
I haven't made any attempt on this. Any suggestions?

[2018-11-13 03:04] alexreg commented on #47659
@ZerothLaw @cramertj provides a good approach in [his comment](https://github.com/rust-lang/rust/issues/47659#issuecomment-415094603). To be specific, you might want to start by:
* Add a new field to the `AssociatedTypeNormalizer` struct for storing already-seen types (values of `ty` parameter to `fold_ty`) that you're folding with. (I think @cramertj's suggestion of using the def-ids for the type

[2018-11-13 03:50] #55044 closed

[2018-11-13 04:12] Brekcel opened #55911 "ICE: Slice pattern matching with constant slice and slice literal"
Attempting to pattern match a slice with a constant value and THEN a slice literal causes an ICE.

Simple test case:
[code]

However simply changing the order to test the slice literal and then the const slice compiles fine:
[code]

Error message:
[code]

rustc version:
[code]

[2018-11-13 05:03] ZerothLaw commented on #54283
This seems to now be resolved on latest master branch.

[2018-11-13 05:15] csmoe commented on #55891
cc https://github.com/rust-lang/rust/pull/52647
@estebank that's a bit strange, why the prefix is missed in suggestions?

[2018-11-13 05:58] Skyfold opened #55913 "Compiler panic while compiling iterator with match"
In all honesty this code is a bit contrived and nonsensical. I just happen to run into this panic while coding. It seems to have something do with both the `.iter()` and match on `u64::max_value()`.

I tried this code:

[code]

https://play.rust-lang.org/?version=beta&mode=debug&edition=2015&gist=4280b3c650ed29ba3645dc6f2a348ef5

https://gist.github.com/4280b3c650ed29ba3645dc6f2a348ef5

I expected

[2018-11-13 07:29] oli-obk commented on #55903
Whoops. I couldn't produce this variant back when I wrote the impl. seems it was as easy as that. I believe we can just make this a nop as privacy is irrelevant for lifetime bounds

[2018-11-13 07:42] oli-obk commented on #55913
While officially tracked by https://github.com/rust-lang/rust/issues/24111 I'll abuse this issue as a more targeted tracking issue just for the const fn calls in patterns feature.

The code is actually supposed to compile successfully. there's not supposed to be any difference between tuple struct constructors and const fns except that you can't have patterns as the arguments of const fns. The arg

[2018-11-13 07:51] hellow554 opened #55914 "assert! and assert_eq! generate different assembly"
Concidering this simple code

[code]

The generate very different [assembly](https://rust.godbolt.org/z/_kFRkv)

[code]

There is a difference regarding the parameter formatting in the "assert_false" branch `LBB7_1` and `LBB8_1`, but what's even worse is, that the assert itself does differ and I don't see a reason why.

[2018-11-13 09:10] RalfJung commented on #39575
@alexcrichton I'm afraid I disagree. Strongly. I think these cases are miles apart. I am also somewhat disappointed that we are now playing these definitional games where I come up with counterexamples and you just define them away. :/

The reasons I see a huge difference between `/proc/self/mem` and this case are as follows:

* First of all, `/proc/self/mem` is a somewhat special platform-specifi

[2018-11-13 11:02] phil-opp commented on #55773
@nagisa Thanks a lot for the explanation!

Sorry for opening an issue for this. I wasn't sure whether the duplicate symbols and the linker errors are intended or maybe a bug. I will ask at other places first in the future.

[2018-11-13 12:09] RalfJung commented on #39575
I am adding the lang team, because this concerns fundamental limits of safe abstractions and unsafe code.

[2018-11-13 12:14] yaplu56 opened #55917 "nightly install fails since since rustc 1.32.0-nightly 2018-11-10"
Installing the nightly on linux fails since 2018-11-10.
Message is
install: copying file /home/christoph/apps/rust-nightly/bin/rustfmt
install: installing component 'llvm-tools-preview'
install: copying file /home/christoph/apps/rust-nightly/lib/rustlib/x86_64-unknown-linux-gnu/bin/llvm-nm
cp: -r wurde nicht angegeben, daher wird das Verzeichnis '/home/christoph/xfer/rust-nightly-x86_64-unknown-li

[2018-11-13 12:39] hellow554 commented on #55866
Also godbolt is not able to use nightly atm https://rust.godbolt.org/z/rjZtBJ

[2018-11-13 12:43] RalfJung commented on #55596
This will also remove warnings from the `stderr` file though. Currently one can test warnings via the stderr file only, that would no longer be possible. Any test that adds `allow(warnings)` because of this is a test that tests *fewer* things than it does right now.

[2018-11-13 12:56] petrochenkov commented on #55596
With `unused` allowed by default warnings are rare and can be easily annotated with `//~ WARN`, not need to `allow(warnings)`.

We should actually make a pass through tests and remove `allow(...)` annotations when possible.
There are few exceptions, like some test checking name resolution conflicts may want to disable the noise from  `non_camel_case_...` and similar lints.

[2018-11-13 13:16] oli-obk commented on #55911
So... I do have a fix for byte slices, but that just exposed that we have the same ICE for other slices:

[code]

This can be fixed, too, but I need to wait for https://github.com/rust-lang/rust/pull/55915 to be merged before being able to do this in a reasonable way.

[2018-11-13 13:42] weiznich commented on #55832
That was caused by a configuration mistake that leads to missing code generation.

[2018-11-13 13:42] #55832 closed

[2018-11-13 14:48] rustonaut opened #55920 "Schouldn't `File::sync_all` use`libc::fcntl(fd, libc::F_FULLFSYNC)` on macos/ios"
As far as I know `fsync` doens't sync data _onto_ disk on macos.
(Depending on kernel & file system it might not do so on linux either).

Which is why `sync_data` does use  `fcntl` on mac for `sync_data`
and `sync_all` implies syncing data, so shouldn't it use fcntl, too?

[2018-11-13 15:38] liviu99 opened #55924 "Setup Indy SDK build environment for Windows"
I am trying to setup Indy SDK build environment for Windows following https://github.com/hyperledger/indy-sdk/blob/master/doc/windows-build.md steps.
Unfortunately, after I run **cargo build** command, I get the following error:
failed to parse manifest at Cargo.toml.

Caused by: could not parse input as TOML

Caused by: unexpected character found: '\u{0}' at line 1

[2018-11-13 15:52] jonhoo commented on #55766
I've been reading through all I can find on `Pin`, `Unpin`, and the discussion leading up to it all, and while I _think_ I now understand what's going on, there is also a lot of subtlety around what the different types mean, as well as the contract that implementors and users must follow. Sadly, I see relatively little discussion of that in the docs for `std::pin` or on `Pin` and `Unpin` specifica

[2018-11-13 16:24] riendegris opened #55925 "internal compiler error"

[2018-11-13 16:24] #55925 closed

[2018-11-13 16:29] crocme10 opened #55927 "internal compiler error"
Internal Compiler Error on building documentation

I tried this code:

While building the documentation for `kay`,

[code]

I expected to see this happen:  documentation built

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[2018-11-13 16:47] marmistrz opened #55928 "Rust incorrectly infers the type"
When trying to compile the following code, the compiler will incorrectly infer the type as `()`.
It shouldn't happen, since the returned type is `Result<U, _>` and `context` doesn't change the generic value type in `Result.`

[code]

The dependencies in `Cargo.toml`:
[code]

This happens on both Rust 1.30.1 and 1.32.0-nightly (65204a97d 2018-11-12)

[2018-11-13 16:49] pcpthm opened #55929 "cannot infer an appropriate lifetime due to conflicting requirements"
Original code using [combine](https://crates.io/crates/combine) v3.6.2 (self-contained reproduce code can be found below):
[code]
The code should compiles.
Instead, this happened:
[code]

With NLL, error is stranger:
[code]
However, slightly modified code
[code]
compiles fine.

I made a self-contained repro:
[code]

## Meta
[code]
Also reproduced on playground's stable/beta/nightly.

[2018-11-13 17:34] bjorn3 opened #55931 "Linker: "file not recognized: File truncated""
[code]

[2018-11-13 17:35] bjorn3 commented on #55931
I had to remove the incremental directory to fix this.

[2018-11-13 17:45] nikomatsakis commented on #55756
I did a bit of investigation.

**Some internal notes:**

In the *reduced* test case, anyway, the problem seems to arise precisely because we are now a bit more flexible than we used to be. In particular, the type of `state` is something like `<D as Database<'x>>::Guard` but the region `'x` is not directly constrained. The constraints arise because we have constraints like

[code]

and we *used* to

[2018-11-13 17:45] nikomatsakis commented on #55756
Also, it's interesting that NLL makes this test case pass. Off hand, I'm not sure entirely sure why that is.

[2018-11-13 17:54] steveklabnik commented on #39915
We have switched to lld for some targets: https://rust-embedded.github.io/blog/2018-08-2x-psa-cortex-m-breakage/

I believe for wasm as well?

[2018-11-13 18:03] cramertj commented on #55914
These two things give different output. With `assert!(x == y)`, you get

[code]
while `assert_eq!(x, y)` gives
[code]

[2018-11-13 18:34] fintelia commented on #50202
@sfackler is there any reason not to move forward with stabilization on this? @rivertam correctly observes that it has been unstable for quite a while

[2018-11-13 18:36] nikomatsakis commented on #55756
OK, so I investigated NLL a bit. The reason is actually somewhat interesting.

NLL introduces an additional *liveness check* -- it says:

This rule is much "cruder" than the outlives check here. In particular, if you have a variable `x: <D as Database<'a>>::Guard`, then for it to pass this liveness check, `'a` must include all points where `x` occurs.

We could adopt a similar distinction in lexic

[2018-11-13 19:06] mominul commented on #55892
I'd like to take this issue! If I get struck, I'll ask on the discord channel.

[2018-11-13 19:46] bstrie commented on #43038
This appears to have been implemented and is sitting behind the as_ref feature flag. Would anyone like to make any motions toward stabilization, or did the long discussion in the implementation PR cast doubts on the design?

[2018-11-13 19:51] svenstaro commented on #52478
Same observation here when using proptest and cargo-tarpaulin.

[2018-11-13 20:16] nikomatsakis commented on #51043
Removing from the milestone, as idiom lints are not part of the Rust 2018 release.

[2018-11-13 20:20] nikomatsakis commented on #51881
Removing from the release milestone, as functional Idiom Lints are not part of our Rust 2018 release goals. But we oughta' fix this =)

[2018-11-13 20:20] nikomatsakis commented on #53773
Removing from the Rust 2018 Release milestone.

[2018-11-13 20:22] nikomatsakis commented on #52509
@QuietMisdreavus would you call this a "blocker" for the final release? Do you think we should backport our fixes?

[2018-11-13 20:35] nikomatsakis commented on #54256
Removing from the Rust 2018 milestone -- this is not a Rust 2018 blocker.

[2018-11-13 20:40] nikomatsakis commented on #55748
Removing from the milestone. This feels sufficiently obscure that it should not be categorized as a Release Blocker

[2018-11-13 20:42] nikomatsakis commented on #55511
Removing from milestone — sufficiently obscure that it need not be a release blocker

[2018-11-13 20:45] nikomatsakis commented on #54940
Demoting from release milestone. This is really effectively blocked on lazy normalization so going to focus on that.

[2018-11-13 20:48] nikomatsakis commented on #54105
Tagging as A-traits too because @scalexm is expanding this code as part of their work on the trait system unification code, and we may wind up fixing it then. Still need to come up with a test case.

Removing from the Rust 2018 milestone.

[2018-11-13 20:56] nikomatsakis commented on #53773
Created a topic for this on zulip ([link](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/topic/.2353773.20erroneous.20loop.20diagnostic)) and assigned @spastorino

[2018-11-13 21:09] euclio commented on #43466
I wonder if the standard library crates will need special treatment by this feature? For example, the link to the `REPLACEMENT_CHAR` constant in `String` docs needs to resolve to `std::char::REPLACEMENT_CHAR` or `core::char::REPLACEMENT_CHAR` depending if the `String` docs are being rendered as part of the libstd or liballoc docs.

[2018-11-13 21:32] QuietMisdreavus commented on #52509
@nikomatsakis The bug, as it stands today, is benign and has a small workaround, namely adding `#[doc(no_inline)]` to the re-export. I'm okay if https://github.com/rust-lang/rust/pull/55804 is not backported, if we're okay with advertising that fix for one version.

The broader question of "do we want to adapt docs to look like a different edition from what it was compiled for" is something i want

[2018-11-13 21:36] steveklabnik commented on #52509
I feel like the *right* thing is "based on the edition passed to rustdoc", but I'd be fine with either, to be honest.

[2018-11-13 22:17] #55321 closed

[2018-11-13 22:19] dwijnand commented on #51795
I can confirm this is fixed, tested using the 2018-11-09 nightly I have installed.

[2018-11-13 22:19] Havvy commented on #52509
I said prior on Discord that it'd be nice to have a toggle on the page itself without giving it too much thought. A little more thought, and I realized that since we can `cargo doc` and get docs of all dependencies as well, we can just render based on the edition of the crate we are ultimately working on. Though how that works for online docs is a bit iffy. It'd be nice to see the stdlib docs in e

[2018-11-13 22:24] QuietMisdreavus opened #55938 "rustdoc doesn't handle #![feature] attributes"
With the following crate:

[code]

Attempting to build it on stable will fail as expected, but generating docs will pass, no problem:

[code]

The output docs also happily use the feature in question:

![image](https://user-images.githubusercontent.com/5217170/48446990-614b4680-e760-11e8-8a25-2bd2691eaf0b.png)

I would expect rustdoc to also choke on the `#![feature]` attribute, but it turns out t

[2018-11-13 22:43] estebank commented on #55891
The closure span includes everything between the pipes, the pipes and any prefix modifier. In the suggestion, we replace _the entire_ span. We should probably add a new way of obtaining closure spans to account for this, to be used in suggestions. The fix itself will be fairly small.

[2018-11-13 22:59] #51795 closed

[2018-11-13 23:03] tiras-j opened #55942 "Adding new crate-type target increases size of another crate-type target"
**Problem**
Adding an additional crate-type listing appears to affect the size of other crate types, specifically moving from `crate-type = ["cdylib", "staticlib"]` --> `crate-type = ["cdylib", "staticlib", "rlib"]` appears to increase the size of the "cdylib" output (in this case a Linux `.so` ELF) by 100% (2MB -> 4MB) which is suspiciously close to the size of the "rlib" output.

The motivation

[2018-11-13 23:17] sfackler commented on #50202
The stability of u128 was the blocker previously, but that's now no longer a problem.

@rfcbot fcp merge

[2018-11-13 23:41] sgeisler opened #55940 "Tracking issue for `time_checked_add` feature"
This is a tracking issue for PR #55527 .

This feature adds a `checked_add(&self, &Duration) -> Option<SystemTime>` function to `std::time::SystemTime` and as a prerequisite also for all platform specific time structs. This also led to the refactoring of many `add_duration(&self, &Duration) -> SystemTime` functions to avoid redundancy (they now unwrap the result of `checked_add_duration`).

[2018-11-13 23:47] Boscop commented on #36277
Sorry if this is too off-topic: How can I exclude ALL nightlies from causing Windows Defender to scan the files they create? I.E. all exe files under `D:\Program Files\.multirust\toolchains`.
It seems I can only add **individual** .exe files under "Excluded processes" and I can only enter directories for "Excluded files and locations" but when I add `D:\Program Files\.multirust\toolchains` to that

[2018-11-13 23:47] jeekobu commented on #33417
There were no concrete problems pointed out with that in this issue or #35121.  There was one concern around the possibility of `!` being special in some way uninhibited types are not.  But no concerns in the PR and it's clear from the code review comments that the enum becoming stable was a possibility (though that never happened).  Here are links to what I found.

[Original concept](https://gith

[2018-11-13 23:58] cuviper commented on #55914
It's implemented like this:

[code]

Note how the `match` is used to save the value of each `expr`, so they can be printed in the panic message.  Whereas the plain `assert!` doesn't need to keep any part of its expression alive.

In your case it's still using the original register for the actual comparison, `cmp edi, esi`, but that extra stack preparation is only used in the panicking case.  I won

[2018-11-14 00:17] abonander commented on #55938
It would actually be neat if `rustdoc` rendered information about the nightly features a crate uses in the root docs.

[2018-11-14 00:25] Firstyear opened #55941 "Add X to crate attributes to enable message is not very clear"
[code]

The message above is what I get attempting to use try_from. The issue is that it's not clear *where* crate attributes are, or whey they go. The rust book makes little mention of them. Adding this to "lib.rs",  causes new errors such as:

[code]

As a result, it's really not clear how to resolve this error.

The descriptive error rustc --explain E0658 also doesn't demonstrate what to do cor

[2018-11-14 00:47] jonhoo commented on #55099
@estebank Maybe also tag with `A-impl-trait` since it's related to existentials? And possibly `T-compiler` (or is this `T-lang` terretority?)

[2018-11-14 01:11] goffrie commented on #54524
#55849 landed, so this is done, right?

[2018-11-14 01:15] goffrie commented on #55810
Fixed by #55893?

[2018-11-14 01:18] #54975 closed

[2018-11-14 01:18] #55028 closed

[2018-11-14 01:19] #55480 closed

[2018-11-14 01:30] aldanor commented on #30422
@dwijnand I've been using something very similar myself, almost exactly the same. However, it becomes more of a pain when trying to test multi-threaded code (e.g. there is a segfault and you need to find a subset of tests that makes it fail), then you have to use test names like `fn test_group1_group2_group3_some_test()` so you can split them up and call them in groups...

[2018-11-14 02:03] alexcrichton commented on #55942
I've also transferred this issue to rust-lang/rust because I believe this is largely a compiler issue rather than a Cargo issue

[2018-11-14 02:38] tiras-j commented on #55942
I see! Yea I was speculating it might be compiler being a bit too clever in optimizing build times by re-using some incremental steps that were much larger for the rlib target. I wonder if changes the order of the crate-type targets would have an impact? I'll try to throw together a simple project that demonstrates this behavior - hopefully it shouldn't be too hard.

In the mean-time do you have a

[2018-11-14 07:34] SimonSapin commented on #50202
I couldn’t find all the details in this issue, grepping through the code shows that this tracking issue is for:

[code]

[2018-11-14 07:38] bjorn3 commented on #49177
PR #52153 has been merged.

[2018-11-14 08:00] RalfJung commented on #53491
I feel `into_inner` is a way too innocent function name. People, probably without reading the docs too carefully, still do `MaybeUninit::uninitialized().into_inner()`. Can we change the name to something like `was_initialized_unchecked` or so that indicates that you must only call this after the data has been initialized?

I think the same probably applies to `take`.

[2018-11-14 08:00] dwijnand commented on #30422
Yeah more recently I've been adding my initials to the name of the tests I want to run.

I'm still happy to work on this, if someone has any free mentoring bandwidth! 🙂

[2018-11-14 08:04] JeanMertz commented on #44732
I wanted to quickly note that I too love this feature.

I like to document my libraries as much as is required to make them easy to use by anyone interested. But obviously, I dislike having outdated docs no longer reflect the reality of the code. This works really well when using documentation examples that get automatically added to the test suite.

One downside to this approach is that if you wa

[2018-11-14 08:09] eddyb commented on #53491
While a bit awkward, something like `unchecked_into_initialized` might work?

[2018-11-14 08:10] SimonSapin commented on #53491
Or should those methods be removed entirely and docs give examples with `x.as_ptr().read()`?

[2018-11-14 08:12] RalfJung commented on #53491
@SimonSapin `into_inner` consumes `self` though which is nice.

But for @shepmaster's `take`, doing `as_mut_ptr().read()` would do the same... though of course then why would you even bother with a mutable pointer?

[2018-11-14 08:12] nnethercote commented on #52452
It's no longer reproducing for me, either.

[2018-11-14 08:13] SimonSapin commented on #51418
I kinda dropped the ball here and nobody picked it up. The 2018 edition is stable in Rust 1.31 which is now in beta so it’s likely too late for this, closing.

[2018-11-14 08:13] #51418 closed

[2018-11-14 08:21] retep998 commented on #55924
Why does your `Cargo.toml` start with a `NUL` byte?

[2018-11-14 08:48] jethrogb commented on #53491
How about `take_unchecked` and `into_inner_unchecked`?

[2018-11-14 09:02] ortem opened #55944 "gdb VecDeque pretty printer is incorrect"
As noted [here](https://github.com/intellij-rust/intellij-rust/pull/3017#issuecomment-438426382), the `VecDeque` pretty-printer doesn't take into account the ring buffer structure.

Example:
[code]
Run gdb with `b 10`:
[code]

[2018-11-14 09:08] ZhangHanDong commented on #55875
anyone help ？

[2018-11-14 09:09] RalfJung commented on #53491
That would be a backup plan I guess, but I'd prefer if it could indicate that you must have initialized.

[2018-11-14 09:51] RalfJung commented on #53491
`assume` is unstable API, a stable example of assume vs assert is `unreachable_unchecked` vs `unreachable` and `get_unchecked` vs `get`. So I think `unchecked` is the right term.

[2018-11-14 09:51] lnicola commented on #50202
This may be a stupid question, but is `u128` available on all platforms that Rust supports?

[2018-11-14 10:02] eddyb commented on #51418
We can still do the libcore/libstd organizational changes, right?
If only to provide a precedent for Rust 2021 to build upon.

[2018-11-14 10:11] code-brewer opened #55946 "why bother to declare extern crate your_xxx_crate before use it"
I have code a demo project as bellow, where code run well but i do not declare `extern crate greetings;`

I wonder why many rust examples online write `extern crate xxx;` clause  before to use xxx crate ?
It seem unnecessary from my demo project.

Can somebody explain when need to  declare  `extern crate xxx;` ?

├── Cargo.lock
├── Cargo.toml
├── greetings
│   ├── Cargo.toml
│   └── src
│       └─

[2018-11-14 10:47] SimonSapin commented on #51418
Sorry, it’s been a while. What changes are those?

[2018-11-14 10:48] petrochenkov commented on #55599
@aturon and @steveklabnik wanted to stabilize this for the edition release on #edition-planning discord channel.

This should be ready for stabilization and backport to 1.31 beta once https://github.com/rust-lang/rust/pull/55884 lands (or some fixes for *this* feature are extracted from that PR).
I'll prepare a stabilization report.

[2018-11-14 10:53] eddyb commented on #51418
I just mean having e.g. `std::prelude::{rust2015, rust2018}` etc. instead of `v1` (we can't remove `v1`, but we could deprecate it).

[2018-11-14 11:34] StyMaar commented on #55946
It used to be necessary, but it's not anymore in [the 2018 edition](https://rust-lang-nursery.github.io/edition-guide/rust-2018/module-system/path-clarity.html?highlight=exte#no-more-extern-crate).

[2018-11-14 11:44] liigo commented on #55618
Should hold off edition 2018 until next year, and rename it to edtion 2019. Not just uniform paths, we have other important features not completed, e.g. async/await.

[2018-11-14 11:49] rkruppe commented on #55842
I'm not super involved in these matters but my impression from the issues I see filed against Rust and later categorized as LLVM bugs is that a lot of issues are not caught by our existing tests when we upgrade LLVM but rather found in the wild by end users. So I'm scared that shipping nightlies with bleeding edge LLVM and stable with an older LLVM would just lead to taking longer to notice LLVM i

[2018-11-14 13:55] pietroalbini commented on #54524
Yep.

[2018-11-14 13:55] #54524 closed

[2018-11-14 13:56] mark-i-m commented on #55618
I was under the impression that boat has already sailed. Either way, the only thing that really needs to be in 1.31 is any breaking changes that can't be done except across an edition boundary.

[2018-11-14 14:11] ikostia commented on #54760
@retep998: you are talking about https://github.com/rust-lang/rust/issues/38227, right?

The problem I personally have with that approach is that it may be very hard to know which handles are intended to be inheritable and thus need to be passed in `STARTUPINFOEX`.

I will ask a question under that issue to keep the discussion centralized.

[2018-11-14 14:12] ikostia commented on #38227
What is the API vision here? Does `std::process::Command::spawn` decide which handles to pass down by itself or can an engineer ask for a handle to be inherited explicitly?

[2018-11-14 14:47] SimonSapin commented on #53891
This was https://github.com/rust-lang/rust/pull/53892.

[2018-11-14 14:47] #53891 closed

[2018-11-14 15:12] tromey commented on #52452
I'm closing it, if someone else reproduces please re-open or re-file.  Thanks.

[2018-11-14 15:29] shepmaster commented on #53491
I'd say that `foo_unchecked` only makes sense when there is a corresponding `foo`, otherwise the sheer nature of the function being `unsafe` indicates to me that something "different" is going on.

<sub>This bikeshed is clearly the wrong color</sub>

[2018-11-14 15:43] rkruppe commented on #53491
With this specific API, we've already seen and will continue to see programmers assume that the unsafety is because "uninitialized data is garbage so you can cause UB if you handle it carelessly", rather than the intended "it is UB to call this on uninitialized data, period". I don't know for sure whether an arguably redundant ⚠️ like `unchecked` will help with that but I'd rather err on the side

[2018-11-14 15:44] nathanawmk opened #55950 "A Rust Keystone Enclave SDK for Secure Enclaves"
I have a privacy-preserving requirement for blockchain-based/anchored identity and I believe a Rust-based SDK coupled with Open-source Secure Hardware Enclave such as the Keystone Enclave is the way forward.

Would like to know if this is a feasible idea?

https://crypto.stackexchange.com/questions/64009/rust-keystone-enclave-sdk

https://keystone-enclave.org/

Nathan Aw

[2018-11-14 15:58] shepmaster commented on #53491
Remember that a vast majority of people will likely be using an IDE with some form of autocomplete, so a long name is a minor roadbump.

[2018-11-14 16:00] #55946 closed

[2018-11-14 16:00] rkruppe commented on #53491
I do not particularly care for the ergonomics of using this function, but I do think past a certain point names tend to be skimmed rather than read, and this name really should be read to understand what's happening. Additionally, I expect this function will be discussed/explained almost as often as it's actually used (since it's relatively niche and very subtle), and while typing long identifiers

[2018-11-14 16:04] jonas-schievink commented on #55950
Discussions and questions like this are better suited for the users forum (https://users.rust-lang.org/) or IRC, not this issue tracker (which is for bugs and tracking RFCs only)

[2018-11-14 16:15] Centril commented on #53491
@shepmaster Sure; I use an IDE with auto completion as well; but I think a longer name with `unchecked` inside including inside an `unsafe` block would give at lest myself some extra pause.

@rkruppe

I would make that trade-off. If a name is a bit special that can even make it more memorable. ;)

Any of (or similar names that include the same semantic connotations):
+ `was_initialized_unchecked`

[2018-11-14 16:20] alexreg opened #55951 "Bad "possible candidate is found in another module" suggestion"
I encountered this when doing some work on the compiler. I started using the `Binder` type in code, then compiled, and correctly received an error that the type isn't in scope. However, the "possible candidate is found in another module" help message suggests a path that is private, rather than the public re-export at `ty::Binder`. I think the candidate search algorithm ignores the visibility of t

[2018-11-14 16:34] retep998 commented on #38227
Ideally it would know which of the stdio handles it would have to pass down by itself, but would also provide an API for the programmer to ask for additional handles to be inherited.

[2018-11-14 17:24] norru commented on #55480
@nrc @Xanewok

Still broken on `rustc 1.32.0-nightly (9fefb6766 2018-11-13) running on x86_64-unknown-linux-gnu`

I am not able to reopen this.

[2018-11-14 17:29] alexcrichton opened #55954 "Update Cargo with fixes to `--broken-code`"
This is intended to be a tracking issue to incorporate https://github.com/rust-lang/cargo/pull/6312 into the current beta branch for the Rust 2018 release, as we'll be relying on that in documentation that we're writing.

[2018-11-14 17:29] alexcrichton commented on #55954
The Cargo backport is happening here - https://github.com/rust-lang/cargo/pull/6316, and after that needs a PR to the beta branch in this repository

[2018-11-14 17:31] alexcrichton opened #55955 "Update documentation of edition idioms lints to mention the `--broken-code` flag"
This is intended as a tracking issue for the upcoming Rust 2018 release to ensure that https://github.com/rust-lang/rust/issues/55954 is incorporated in the documentation around the edition idioms lints. We want to clearly message that the idiom lints are not ready for prime time (unlike `cargo fix --edition`), but if you'd like to migrate idioms over time you can use `--broken-code` to work aroun

[2018-11-14 17:32] alexcrichton commented on #55404
This happened in https://github.com/rust-lang/rust/pull/55550

[2018-11-14 17:32] #55404 closed

[2018-11-14 17:38] tromey commented on #54614
@infinity0 can you try this again with git master?  I think these were all fixed by #54004.

[2018-11-14 18:09] Aaron1011 commented on #55927
This is an issue with the [compact](https://github.com/aeickhoff/compact) crate. It isn't specific to `cargo doc` - running `cargo build` triggers the error as well.

[2018-11-14 18:36] nikic commented on #33923
I've submitted https://reviews.llvm.org/D54471 for supporting src/dst alignment in SelectionDAG.

[2018-11-14 18:43] sfackler commented on #50202
@lnicola Yep, it should be available on all platforms.

[2018-11-14 18:56] steveklabnik commented on #36277
@Boscop help questions are best posed on users.rust-lang.org

[2018-11-14 19:06] tiras-j commented on #55942
I see - that should be simple enough to put together! I'll still try to throw together a quick project that demonstrates this behavior to link here just for future investigation.

Thanks for the help!

[2018-11-14 19:10] euclio commented on #55951
cc https://github.com/rust-lang/rust/issues/21934

[2018-11-14 19:33] Kimundi commented on #55766
I haven't used this API much yet myself, so I'll trust the technical judgement that its in a good state now. However, I think the names `Pin`, `Pinned` and `Unpin` are too similar and inexpressive for what are very different types/traits and a relatively complex API, which makes understanding it harder (as evidenced by a few comments on this thread).

They seem to follow the naming conventions for

[2018-11-14 19:39] mark-i-m commented on #55766
PhantomPin and PinNeutral strike me as particularly nice names.

[2018-11-14 19:44] tikue commented on #55766
Just to provide a counterpoint, I've found `Unpin` intuitive (once I understood it). `Pinned` is harder to keep straight, granted I haven't used it in my own code. What about changing `Pinned` to `NotUnpin`?

[2018-11-14 19:56] jonhoo commented on #55766
I agree that finding better names may be a worthwhile bikeshedding exercise for the purposes of making pinning easier to talk about. I propose:

 - `Pin` -> `Pinned`: When you're given a `Pin`, that's really a promise that what you're given _has been pinned_, and will _remain_ pinned forever. I don't feel *too* strongly about this though, as you _could_ also talk about being given a "pin of a valu

[2018-11-14 19:58] tikue commented on #55766
I still think that `Pinned` should end up being `NotX` where `X` is whatever `Unpin` ends up being named. The only job of `Pinned` is to make it so the enclosing type does not implement `Unpin`.

[2018-11-14 20:02] jonhoo commented on #55766
@tikue In some sense I feel the same, but in reverse. I think `Unpin` should be phrased in the negative "this is _not_ constrained by `Pin`", whereas `Pinned` should be phrased in the positive "this _is_ constrained by `Pin`". Mostly just to avoid the double negative. But that's a detail; I do like the idea of there being a duality. Maybe: `s/Unpin/TemporaryPin`, `s/Pinned/PermanentPin`?

[2018-11-14 20:07] tikue commented on #55766
@jonhoo I think the main reason I prefer the opposite is because `Pinned` prevents a trait from being implemented, so that is, in the plainest sense to me, the true negative.

[2018-11-14 20:34] tikue commented on #55766
`Pin` is hard to explain because it doesn't always make the pinned value immovable. `Pinned` is confusing because it doesn't actually pin anything. It just prevents escaping a `Pin`.

`Pin<P<T>>` could be explained as a pinned value: pinned values can't move unless the value is a type that can escape a pin.

Some quick googling seems to show that in wrestling, when one is pinned, breaking out of a

[2018-11-14 20:38] QuietMisdreavus opened #55957 "rustdoc doesn't honor `#![doc(html_no_source)]` across crates"
There's an attribute you can apply to your crate, `#![doc(html_no_source)]`, that tells rustdoc to not generate `[src]` links or their corresponding files for that crate. However, if a *dependency* of this crate doesn't add this attribute, and then re-exports something from that crate, it will happily generate `[src]` links... to nonexistent pages. We should probably track this flag on a per-crate

[2018-11-14 20:58] alexcrichton commented on #55954
This is now submitted as https://github.com/rust-lang/rust/pull/55958

[2018-11-14 20:59] zroug commented on #55766
I also like the term escape instead of `Unpin` but I would go for `EscapePin`.

[2018-11-14 21:04] Matthias247 commented on #55766
Lots of good thoughts here!

One general thing: For me as a non-native speaker `Pin` and `Unpin` are mostly verbs/actions. While `Pin` makes sense, since the object is pinned to one memory location at a time, I can't see the same for `Unpin`. Once I receive a reference of `Pin<&mut T>`, T will always be pinned in the sense that it's memory location is stable, whether it's `Unpin` or not. It's not

[2018-11-14 21:08] jonhoo commented on #55766
@Matthias247 I don't think that you are guaranteed that `P::Target`'s address is stable if `P: Unpin`? I could be wrong about this though?

[2018-11-14 21:10] tikue commented on #55766
@Matthias247

Can you clarify what you mean by this? Given a `T: Unpin` you can write the following:

[code]

[2018-11-14 21:11] Matthias247 commented on #55766
@jonhoo Actually a good question. My reasoning was that the futures get boxed, and then their `poll()` method will be called on the same memory address. But that obviously only applies to the top level task/future, and the intermediate layers might may move futures around when they are `Unpin`. So it seems like you are  right.

[2018-11-14 21:14] qwerty19106 commented on #55259
Yes, I forgot to add `edition = "2018"` in my Cargo.toml.
Thanks for your reply!

It is true code for this case:
[code]

[link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=23598da23fbfbf38b7f36ab53b8a47a4)

[2018-11-14 21:14] #55259 closed

[2018-11-14 22:02] QuietMisdreavus commented on #55723
Log with backtrace from a local rustdoc build:

<details><summary>Full backtrace</summary>

[code]

</details>

Based on that backtrace, it looks like it's a problem with the reporting of intra-doc link resolution errors, and the span we're calculating from the link reference. These spans are constructed from byte ranges we calculate in `html::markdown::markdown_links`, when scanning markdown for

[2018-11-14 22:13] Mark-Simulacrum commented on #55540
@craterbot run name=beta-1.31-2 start=1.30.0 end=beta-2018-11-13 cap-lints=warn p=5

[2018-11-14 22:14] pietroalbini commented on #55540
@craterbot start=1.30.1

[2018-11-14 22:36] brunoczim opened #55960 "Address Sanitizer is Failing to Compile with libfuzzer With Optimization and with Doc Tests in Any Mode"
Using `rustc 1.32.0-nightly (9fefb6766 2018-11-13)`

NOTE: target is `x86_64-unknown-linux-gnu`. Adding a flag with a target does not change the outcome.

1. Clone this repository: <https://github.com/brunoczim/lockfree>
2. Run `RUSTFLAGS='-Z sanitizer=address' ASAN_OPTIONS=detect_odr_violation=0 cargo test --doc`
Output I get is (I had to put it in a gist because of size): <https://gist.github.co

[2018-11-14 22:36] alexcrichton commented on #55955
I've posted a PR for this at https://github.com/rust-lang-nursery/edition-guide/pull/120

[2018-11-14 23:14] Aaron1011 commented on #55960
Duplicate of https://github.com/rust-lang/rust/issues/53945

[2018-11-14 23:15] #55955 closed

[2018-11-14 23:46] stearnsc commented on #39364
I'm not sure if this is the same issue or if I should open a new one, but I'm getting an _extremely intermittent_ panic: `thread 'tokio-runtime-worker-1' panicked at 'upgrading again', libstd/sync/mpsc/oneshot.rs:225:22`, that happens on a `clone` (instead of on recv, as above).

My basic structure is the tx of a channel is cloned for each incoming request in an async hyper service, then moved alo

[2018-11-14 23:57] Centril commented on #39364
@stearnsc

please do :)

[2018-11-15 00:15] stearnsc commented on #39364
@Centril here ya go :)
[code]

[2018-11-15 00:59] QuietMisdreavus opened #55964 "rustdoc: intra-doc link errors give incorrect spans on certain block doc comments"
Given the following source:

[code]

The span conversion calculation in the error reporting will give the wrong offset when reporting the resolution failure, leading to a confusing report:

[code]

Strangely enough, putting either the leading `/**` or the closing `*/` on its own line will cause the report to change to something that looks correct, if a little too broad:

[code]

[code]

I believe

[2018-11-15 01:12] #55775 closed

[2018-11-15 02:36] Boiethios commented on #52625
Thanks for your tip, I replaced the following line:

    crate_type = ["proc-macro"]

with

    proc-macro = true

and now I can generate the documentation without ICE.

[2018-11-15 02:39] nrc opened #55965 "Update Rustfmt to 1.0"
Tracking for the edition. Blocking issues on Rustfmt are at https://github.com/rust-lang-nursery/rustfmt/issues?q=is%3Aopen+is%3Aissue+milestone%3A%221.0+%28edition+rc1%29%22 though none of these will actually block, so I think I'll update on Monday and be done.

[2018-11-15 02:40] nrc opened #55966 "Update RLS to release version"
Potentially blocking issues are at https://github.com/rust-lang-nursery/rls/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Edition+RC1%22, they need triaging though

[2018-11-15 02:42] nrc opened #55967 "Tracking issue: edition manifest changes"
- [ ] - rename rls and rustfmt to not include `-preview`
- [ ] - add profiles

cc @alexcrichton

[2018-11-15 02:47] glaebhoerl commented on #55766
W.r.t. the latest bikeshedding:

 * `Unpin`: what about `MoveFromPin`? If I'm not *still* missing some subtleties, I think this directly states what capability the trait actually enables: if the type is within a `Pin`, you can still move it.

   Crucially it kind of says the same thing as `Unpin`, but framed as a positive assertion, so instead of the double-negative `!Unpin` we now have `!MoveFrom

[2018-11-15 04:59] mark-i-m commented on #44524
I wonder, would it be reasonable to stabilize only in-band lifetimes on _functions_ (not methods)? AFAICT, there is no ambiguity about where those lifetimes come from, right?

[code]

[2018-11-15 05:02] mark-i-m commented on #44524
To be clear, I mean that we would stabilize a useful subset now as long as it is future-compatible with the rest of in-band lifetimes.

[2018-11-15 08:04] alexcrichton commented on #55954
Done!

[2018-11-15 08:04] #55954 closed

[2018-11-15 08:54] nox opened #55972 "Erroneous self arguments on bare functions emit subpar compilation error"
When refactoring methods as bare functions and forgetting to remove the self argument, the compiler fails to parse the new function entirely instead of emitting a better error.

[code]

[2018-11-15 08:57] RalfJung commented on #55825
Cc @oli-obk might be something in (min) const qualification?

[2018-11-15 09:12] oli-obk commented on #55825
TLDR: The issue with this is that we have a bunch of separate checks relating to const things, and most of these are spaghetti entangled into one. @eddyb and I are working towards fixing that, but it's nontrivial to say the least.

Details:

We have the following checks that we need to run on MIR (which relate to const):

* min_const_fn compliance
* const_fn compliance
* promotion of runtime value

[2018-11-15 10:17] Nemo157 commented on #55766
Re: `Repin`, I would expect this to be something like

[code]

which could be used to support `!Unpin` types inside a `Vec`-like collection that occasionally moves its contents (this is not a proposal for adding such a trait now or ever, just my first impression from the trait name).

[2018-11-15 10:46] alok opened #55975 "max and min of treeset/treemap?"
Since trees are naturally based on ordered types, it would be nice to have a method to access the min and max values of a tree (or keys in the case of a treemap). This isn't high priority, but is something I noticed when trying to implement some data structures in Rust.

[2018-11-15 10:49] gnzlbg commented on #55842
I wasn't suggesting this. I was suggesting that beta could _also_ be tested with the minimum LLVM version that we support.

Some distros are already shipping stable Rust releases that do not use the bundled LLVM, they are using this to compile critical code that they are also shipping to their users, and I suspect that no distro is testing this properly.

Reducing the minimum supported LLVM versio

[2018-11-15 11:37] gnzlbg commented on #55842
Why ? `rustup` would still ship Rust's using the bundled LLVM - I was not suggesting otherwise.

[2018-11-15 11:40] Nemo157 commented on #53491
When [manually implementing a self-borrowing generator](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d98b9b624501c2cc6fb6257552d1cdbd) I ended up using `ptr::drop_in_place(maybe_uninit.as_mut_ptr())` multiple times, it seems like this would work well as an inherent method `unsafe fn drop_in_place(&mut self)` on `MaybeUninit`.

[2018-11-15 11:47] rkruppe commented on #55842
Ok then I must have misunderstood. If we don't ship rustcs compiled against old LLVM releases to users, then how do you propose we test them more exhaustively than we already do? Where do we get those extra test cases? We run in-tree tests with an old LLVM on CI and crater persumably already ran back when we first upgraded our bundled LLVM to approximately the release that is now our lower bound.

[2018-11-15 12:13] scalexm commented on #49600
Implemented in #55203 and #55649.

[2018-11-15 12:13] #49600 closed

[2018-11-15 12:43] #50452 closed

[2018-11-15 13:13] TChatzigiannakis opened #55976 "rustc seemingly generates invalid IR"
I may have found a bug in the compiler.

### Source
The entirety of the code to reproduce this bug is this:

[code]

### Expected behavior

The program should build successfully, assuming the rustc type checker does not detect any errors at the level of the Rust type system.

### Actual behavior

The rustc type checker seems happy with the program. However, presumably after the LLVM IR generation

[2018-11-15 13:22] gnzlbg commented on #55842
We currently only have one build bot (`x86_64-unknown-linux-gnu`) using the minimum LLVM version. That's all the testing that we do with it AFAIK.

There are also a lot of dependencies that rust-lang/rust assumes to work correctly (libc, stdsimd, jemalloc-sys, rayon, miri, chalk, clippy, rustfmt, etc.). None of these is tested against the minimum LLVM AFAIK (not by us, not by the distros themselve

[2018-11-15 13:31] SimonSapin opened #55977 "Tracking issue for std::iter::from_fn"
**Update:** API modified in https://github.com/rust-lang/rust/pull/58062:

[code]

----

This API is being proposed in https://github.com/rust-lang/rust/pull/55869:

<del>

[code]

</del>

`unfold` was [previously in the standard library](https://doc.rust-lang.org/1.2.0/std/iter/struct.Unfold.html) but was deprecated and then removed in Rust 1.3 for not having “gained enough traction to retain its

[2018-11-15 13:43] alexcrichton commented on #55775
The backport of the fix for this (https://github.com/rust-lang/rust/pull/55939) is posted at https://github.com/rust-lang/rust/pull/55978

[2018-11-15 14:14] thedavidmeister opened #55979 "nixos: `note: rust-lld: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory `"
`note: rust-lld: error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory`

when building `wasm32-unknown-unknown` on nixos

seems similar or the same as this IRC log https://logs.nix.samueldr.com/nixos/2018-09-15#1568323;

cause wasm to fail to build

[code]

[2018-11-15 14:20] withoutboats commented on #55766
I don't think `Pin` or `Unpin` should change, the alternatives all add verbosity without clarity in my opinion, or are even quite misleading. Also we had this conversation already, reached a decision to use `Pin` and `Unpin`, and none of the arguments brought up in this thread are new.

However, `Pinned` was added since the previous discussion, and I think it makes sense to make it `PhantomPinned`

[2018-11-15 14:33] SimonSapin commented on #53491
There is precedent with `ManuallyDrop::drop`.

[2018-11-15 14:40] Thomasdezeeuw opened #55981 "Tracking issue for weak_ptr_eq"
This is a tracking issue for `rc::Weak::ptr_eq` and `sync::Weak::ptr_eq`.

Feature gate: #![feature(weak_ptr_eq)].

Steps:

- [x] Implement the RFC (#55987).
- [ ] Stabilization PR.

---
Old issue:

`Rc` has a function called `ptr_eq` it compares if the `Rc` points to the value, not the values themselves. I would like to add the same function to `Weak`. I got an implementation but have two questio

[2018-11-15 14:45] durka commented on #44524
I question whether partially adding such a feature simplifies anything,
since even if one believes leaving out lifetime declarations is a good
thing, we would actually be adding *more* rules about where that's allowed.
And it still makes situations like the following harder to read.

[code]

On Thu, Nov 15, 2018, 00:03 Who? Me?! <notifications@github.com wrote:

[2018-11-15 14:49] jonhoo commented on #55766
@withoutboats could you provide a link to the previous discussion around these names where the arguments brought up here have already been argued through?

[2018-11-15 14:53] withoutboats commented on #55766
Here is one thread, though it was certainly also discussed on the RFC thread and tracking issue https://internals.rust-lang.org/t/naming-pin-anchor-move/6864

[2018-11-15 14:56] skippy10110 commented on #55766
Is Unpin supposed to be read as short for Unpinnable? Unpinnable as in you can't actually keep the value pinned, even though it's inside a Pin. (Is that even a correct understanding on my part?)

I've looked through some of the docs and comment threads and didn't see any reference to Unpinnable specifically.

[2018-11-15 15:02] withoutboats commented on #55766
Unpin is not supposed to be short for anything. One thing that I think is not obvious to a lot of users, but is true, is that the standard library style guide is to prefer verbs as trait names, not adjectives - hence `Send`, not `Sendable`. This hasn't been applied with perfect consistency, but it is the norm. `Unpin` is as in "to unpin," as in it is possible to unpin this type from the pin you ha

[2018-11-15 15:04] nagisa commented on #55756
@nikomatsakis says they know what the problem is and hope to have a fix soon (today).

[2018-11-15 15:06] Nemo157 commented on #55766
It may not be short for it, but that's exactly how I read it. Since traits are verbs, you have to manually transform it to an adjective if you want to use it to describe a type rather than an operation on a type; `std::iter::Iterator` is implemented by something that is iterable, `std::io::Seek` is implemented by something that is seekable, `std::pin::Unpin` is implemented by something that is unp

[2018-11-15 15:06] skippy10110 commented on #55766
@withoutboats I 100% was reading that Unpin as an adjective and reading it as a verb makes so much more sense to me now, thank you! It's Unpin, because you can unpin it. :)

[2018-11-15 15:09] alexcrichton commented on #52652
I've opened a PR for this at https://github.com/rust-lang/rust/pull/55982 which does the "easy thing" of basically flipping the defaults.

I personally disagree that we need to take any further action at this time. We've got a long history of a "stable default" in Rust where the opt-out is unstable (allocators are the first that come to mind). Eventually the opt-out is stabilized in its own right,

[2018-11-15 15:19] #52873 closed

[2018-11-15 15:20] nagisa commented on #52873
Closed since 1.30.1 was released already.

[2018-11-15 15:24] nagisa commented on #52509
Removing T-compiler, as it seems that this issue is not critical for Rust2018 and involvement of T-compiler to help getting this fixed ASAP is not necessary.

[2018-11-15 15:31] oli-obk commented on #54912
The RFC did not discuss `static _: T = ...;`. Is that supposed to work, too? (the implementation does in fact allow this, accidentally even without a feature gate)

Fix for the stability hole is in https://github.com/rust-lang/rust/pull/55983

[2018-11-15 15:38] jethrogb commented on #55981
This is a small API introduction, it doesn't require an RFC. You can just file a PR.

[2018-11-15 15:40] #54382 closed

[2018-11-15 15:40] #55883 closed

[2018-11-15 15:40] #54348 closed

[2018-11-15 15:40] #55587 closed

[2018-11-15 15:40] #54274 closed

[2018-11-15 15:40] chrysn opened #55984 "`?` can not use assiciated type constraints usable by `.into()`"
When an error type is guaranteed to come `From<>` a result error type by means of a trait constraint in a generic function with a constant result type, the idiom `some_result.map_err(|e| e.into())` works, but the should-be equivalent `Ok(some_result?)` does not and produces:

    the trait `std::convert::From<<W as Worker>::Error>` is not implemented for `GenericError`

That can be alleviated by e

[2018-11-15 15:41] jethrogb commented on #55917
Dupe of #55866 ?

[2018-11-15 15:43] mark-i-m commented on #44524
Hmm... I hadn't thought about nested functions...

[2018-11-15 15:44] newpavlov opened #55985 "step_by + skip produce incorrect results"
The following snippet demonstrates the problem:
[code]

It prints:
[code]

I expect second iterator to produce the same result as for the third one.

[2018-11-15 16:03] liviu99 commented on #55924
I've done again all the steps within the tutorial and now works. Thank you!

[2018-11-15 16:03] #55924 closed

[2018-11-15 16:08] alexcrichton commented on #55967
So nowadays I'm sort of terrified about doing anything with rustup, so I've attempted to run this through its paces to make sure that if we deploy this change whether it will actually work. Unfortunately it looks like it doesn't work?

I played around with our dev artifacts, and I was specifically applying a few changes for an updated manifest:

* All instances of `rls-preview` were replaced with

[2018-11-15 16:23] estebank commented on #55972
https://github.com/rust-lang/rust/blob/9649c1f70fddd01843024932df97fb5a2b10bfe8/src/libsyntax/parse/parser.rs#L5386

should have a call on the first argument to

https://github.com/rust-lang/rust/blob/9649c1f70fddd01843024932df97fb5a2b10bfe8/src/libsyntax/parse/parser.rs#L5463

which if the result is `Ok(Some(_))` a custom diagnostic should be raised pointing at the argument.

You can look at

htt

[2018-11-15 16:28] jethrogb commented on #55985
Regression from 1.28.0 to 1.29.0. Introduced in https://github.com/rust-lang/rust/pull/51601

[2018-11-15 17:21] nikomatsakis commented on #39575
FWIW, I find @RalfJung's arguments quite persuasive.

[2018-11-15 17:51] tikue commented on #55766
@withoutboats any specific problem with some of the other names that don't have the verb issue, e.g. `Escape` or `EscapePin`? Understood that this discussion has happened before, but presumably a lot more eyes are on this now, so I'm not sure it's a completely redundant rehash...

[2018-11-15 17:53] withoutboats commented on #55766
One thing I think is true is that its unfortunate that `Pin` and `Unpin` could be read as a pair (some types are "pin" and some are "unpin"), when `Pin` is supposed to be a *noun*, not a *verb*. The fact that `Pin` isn't a trait hopefully clarifies things. The argument in favor of `Pinning` makes sense, but here we run up against the name length problem. Especially since method receivers will have

[2018-11-15 17:57] tikue commented on #55766
This rubs me the wrong way -- is the community's experience report undesired? I personally didn't see a clear issue with `Unpin` until some of the other comments in this thread, as well as the juxtaposition with `Pinned` double negative.

[2018-11-15 17:59] tikue commented on #55766
Rust doesn't perform escape analysis, so I'm not sure if see that as a real issue.

[2018-11-15 18:45] m1el commented on #55985
The problem is interaction between `StepBy::nth` and `StepBySpecIterator::spec_next`. `spec_next` ignores the inner working of StepBy.

Test-case reduced to using `StepBy` without `Skip`.

[code]

[2018-11-15 18:57] nikomatsakis commented on #55756
Hmm, so, I have a fix. Though looking more closely at the test, I think I see a *nicer* fix.

The problem is that we now observe two potentially applicable rules when trying to find bounds for `<T as Database<'0>>::Guard`:

    <T as Database<'a>>::Guard: 'a // from the where clauses
    for<'b> { <T as Database<'b>>::Guard: 'b } // from the trait definition

Because of this, we decide to take no

[2018-11-15 18:58] tromey commented on #55586
I think everything here is fixed -- the rust lldb solves some of the problems, and disabling some pretty-printers for rust-enabled gdb fixed the rest.  So if you concur I'd like to close it.

[2018-11-15 19:07] steveklabnik commented on #49410
Triage: https://github.com/rust-lang/rust/issues/49584 was merged.

Given the previous comment:

I think this can be closed. @matthiaskrgr please let me know if this is wrong!

[2018-11-15 19:07] #49410 closed

[2018-11-15 19:14] tromey commented on #29154
I think this is solved, so I am closing it.

[2018-11-15 19:14] #29154 closed

[2018-11-15 19:30] nikomatsakis commented on #54467
### Test results

postgis 0.6.0

- ❌ nightly (2018-11-13)
- ❌ beta (1.31.0-beta.9)
- ✅ stable (1.30.1)

combine-language 3.0.1:

- ✅  nightly (2018-11-13)
- ✅  beta (1.31.0-beta.9)
- ✅ stable (1.30.1)

[2018-11-15 19:30] nikomatsakis commented on #54467
Seems like postgis-0.6.0 simply wasn't fixed.

[2018-11-15 19:33] Kixunil commented on #55467
@Manishearth Sorry, I didn't mean to argue that the example is unsolved, I just wanted to provide *actual code* for those who might have difficulties imagining how to turn this feature into something malicious.

I wonder though, why confusables lint is not mandatory (according to RFC). It sounds to me like making borrow checker non-mandatory. My understanding is that Rust should be safe *by defaul

[2018-11-15 19:43] Kixunil commented on #43301
I don't know about you guys, but when I write quick "scripts", I just `unwrap()` the shit out of everything. It's 100 times better, because it has backtraces which provide me contextual information. Without it, in case I have `let ... = File::open()` more than once in my code, I already can't identify which one failed.

[2018-11-15 19:54] nikomatsakis commented on #54467
Trying to investigate more deeply. (Also, I realize now that @Mark-Simulacrum this is likely the issue you were talking about when you were talking about re-regressing..?)

[2018-11-15 19:58] Lucretiel commented on #43301
This is actually why I feel so strongly about `Display`, since generally what I do in this case is do a `map_err` that attaches the filename and other relevant contextual information. Generally the debug output is less helpful for tracking down what actually went wrong, in my experience.

[2018-11-15 20:03] tromey commented on #48762
I have a patch for this but I'm still looking at how to write a test for it.

[2018-11-15 20:29] jonhoo commented on #55766
I'd still like to see documentation improvements as outlined in https://github.com/rust-lang/rust/issues/55766#issuecomment-438316891 before this lands :)

[2018-11-15 20:55] tromey commented on #27514
I don't think we really need any new tests here.  Printing is covered reasonably well by other existing tests.  Therefore, I'm closing this.  Feel free to reopen if you disagree with this assessment, but if so be sure to indicate what is missing.  Thanks.

[2018-11-15 20:55] #27514 closed

[2018-11-15 21:44] alexreg commented on #49431
Well, my case is similar but slightly different... the code is too tangled to post here. Does anyone fancy taking this on as a PR?

[2018-11-15 23:01] scampi opened #55991 "Invalid span of a struct's generics in presence of a where clause but no parameter"
This is an issue that was reported initially to `rustfmt` in https://github.com/rust-lang-nursery/rustfmt/issues/3194.
The problematic code was based on the `Generics.span` field, which gave a wrong `BytePos` in case of a `struct` with a `where` clause but no parameter.

# Problem

Below is an explanation of the problem, and there is a runnable example below to test it out.

## Observed

With the

[2018-11-15 23:18] Manishearth commented on #55467
This isn't a matter of safety in the way that Rust describes it.

Making the warnings on by default has been discussed. Please let's not use this tracking issue to relitigate things which have already been decided through a rather long RFC.

[2018-11-15 23:29] bemeurer commented on #55866
This has broken the Mozilla Nix overlay for all nightly releases past 2018-11-10.

[2018-11-15 23:51] cramertj commented on #55766
I've opened https://github.com/rust-lang/rust/pull/55992 to add the documentation suggested above and rename `Pinned` to `PhantomPinned`.

[2018-11-15 23:57] sunfishcode opened #55993 "Factor out rustc_apfloat into a standalone crate"
[librustc_apfloat](https://github.com/rust-lang/rust/tree/master/src/librustc_apfloat) is a Rust translation of [LLVM's APFloat library](https://github.com/llvm-mirror/llvm/blob/master/lib/Support/APFloat.cpp), written in C++, and provides software implementations of `f32`, `f64`, and other floating-point types, which are useful for performing host-independent floating-point computation. We made a

[2018-11-16 00:09] tikue commented on #55766
I think `Pinned` (and `PhantomPinned`) encourages conceptualizing a "pinned" value as one that cannot move out of a `Pin`, which means that many values in a `Pin` (those whose type impls `Unpin`) are *not* "pinned"!

That seems confusing. I find it easier to conceptualize all values in a `Pin` as pinned while they're in the pin, and whether or not being pinned is *permanent* is what the thing form

[2018-11-16 00:10] eddyb commented on #55993
`software_float` is a bit long, I'd rather expect something like `softfloat`.

cc @rust-lang/compiler

[2018-11-16 00:11] eddyb commented on #55993
Also, I *think* we need to figure out copyright. I remember talking to a few people about it and our licensing setup deals with LLVM, but I'm not sure about a crate in isolation.
cc @alexcrichton

[2018-11-16 00:49] cramertj commented on #55766
`PhantomNotUnpin` :P

[2018-11-16 01:34] bstrie commented on #55993
What's there about copyright to figure out? The copyright header of that LLVM file implies it's licensed under the Illinois Open Source License, which is an FSF- and OSI-approved permissive license.

[2018-11-16 02:13] myconix commented on #44937
Making porting any RNG not the worst experience ever, for starters. Or something like cyclic redundancy checks, which assumes twos-complement arithmetic and depends on a memoized array of coefficients. Basically any code where placing `Wrapping()` around every integer constant is tedious at best, and destructive of code transparency at worst.

[2018-11-16 02:35] F001 opened #55995 "Range<Wrapping<_>> can be used as an expression but not a pattern"
Test case as below:
[code]
I expected this test can pass, but compile failure occurs.
`Wrapping(0_u8) .. Wrapping(255_u8)` can be used as an expression but not a pattern.
Is this an expected behavior? It seems counter intuitive to me.

[2018-11-16 02:41] myconix commented on #44937
Something like http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/MT2002/CODES/mt19937ar.c or https://github.com/aappleby/smhasher/blob/master/src/MurmurHash3.cpp

[2018-11-16 02:48] myconix commented on #44937
https://github.com/libtom/libtomcrypt/blob/develop/src/hashes/md5.c for a less trivial example

[2018-11-16 02:52] dtolnay commented on #44937
- If you were porting any of that code today without `From` impls, what would it look like?
- If we were to add `From` impls then what would the ported code look like?

I am trying to see concretely what improvement there would be.

[2018-11-16 03:00] myconix commented on #44937
Right now, Wrapping doesn't allow for operating with plain integers, even literals, That, combined with the fact that there's no succinct way to specify a Wrapping literal, means that EVERY integer literal in those code snippets would need a `Wrapping()` constructor around it. That's messy and time-consuming, in the very best case.

[2018-11-16 03:32] myconix commented on #44937
I can't do that in a reasonable time frame. The quicker explanation is that they can all be reduced to:
`use std::num::Wrapping;

fn main() {
    let mut x = Wrapping(3);

    x *= 4;

    println!("{}", x);
}`
Giving an error at compile time. To get this to work, you need to explicitly make the 4 wrapping as well:
`use std::num::Wrapping;

fn main() {
    let mut x = Wrapping(3);

    x *= Wrappi

[2018-11-16 03:44] dtolnay commented on #44937
@myconix I am going to continue to insist on seeing:

- real Rust code that compiles today without `From` impls, and
- the same code written using the `From` impls requested in the subject of this issue

because I really don't believe that adding these impls would improve the use cases you are writing about.

I've locked the thread because I don't see the discussion here moving in a productive dir

[2018-11-16 03:51] euclio commented on #55964
I'm working on this.

[2018-11-16 04:44] scottmcm commented on #55975
Since the iterators are sorted and double-ended, can't you just do `.iter().next()`/`.iter().next_back()`?

[2018-11-16 05:06] kamyuentse commented on #44899
Thanks @fulmicoton , I am closing this now.

[2018-11-16 05:06] #44899 closed

[2018-11-16 07:39] thedavidmeister commented on #55979
maybe dupe https://github.com/rust-lang/rust/issues/51304

[2018-11-16 07:52] scampi commented on #55991
@nrc Looking at the example code once again, maybe having the generics' span being `(0, 0)` is ok given that `generics.params` is empty ?
Then, the use of the generics' span in `rustfmt` was wrong to begin with, and there is nothing to fix for that span as written in the `Expected` section of the issue.

[2018-11-16 08:32] alexcrichton commented on #39575
@RalfJung you're talking specifically about file descriptors and inheritance, though, which is a system-level concern that we really can't provide many guarantees about.

Let's say that we did want to provide a guarantee that you can control file descriptors and guarantee uniqe access to file descriptors. That has consequences like:

* We've never said this before. Community bindings are not prepa

[2018-11-16 08:46] gnzlbg opened #55996 "issue-44056.rs was incorrectly moved to compile pass and should not if hardware does not support AVX2"
See https://github.com/rust-lang/rust/pull/55667.

There are two problems:

* the issue-44056.rs test was incorrectly moved from run-pass (https://github.com/rust-lang/rust/issues/44056) to compile-pass: this test must be executed

* the issue-44056.rs test should not run on non-AVX2 hardware, and this cannot be checked in the test itself. That is, the test runner has to detect whether the host su

[2018-11-16 08:47] eddyb commented on #55993
@bstrie `rustc_apfloat` is not currently explicitly licensed in any way different from any of the other Rust code in the repo, but apparently this is okay because of the `COPYRIGHT` file or something.
IANAL so no clue what we'd need to do here, I just remember being told things are okay.