[2020-05-06 20:29] carols10cents opened #71957 "Can't allow `elided_lifetimes_in_paths` inside a module that denies `rust_2018_idioms`, other lints work"
## What happened

This code fails to compile:

[code]

with the error:

[code]

and I expected the inner `allow` to override the outer `deny`.

## Variations

What's weird is that this code, with `unused_variables` instead of `rust_2018_idioms`, compiles (with other warnings) as I expect:

[code]

(and removing the `allow` causes it to not compile as I would expect)

AND this code compiles (with o

[2020-05-06 20:33] #10184 closed

[2020-05-06 20:40] BartMassey commented on #44095
Came here today looking for vaguely-remembered `clamp()` and read the discussion with interest.

I would suggest using the "option trick" as a compromise between allowing arbitrary ranges and having several named functions. I know this is not popular with some, but it seems to capture the desired semantics nicely here:

[code]

If this were included in `std` a blanket implementation could also be

[2020-05-06 20:42] vioan commented on #69140
@Datarecovery09 did you solve this issue? I also got the same problem when I run some containers. I have a few of them running but now I can not start anymore new containers. And I think we are discussing about the same "host", perhaps Strato. :)

[2020-05-06 20:43] jendrikw commented on #51754
I think I hit this bug as well. This is my code:

[code]

On my system, rustc allocated 13GB of RAM before being terminated by the OOM killer.

[2020-05-06 20:45] pnkfelix commented on #55693
Is this actually still a problem, given that #55596 has been resolved?

[2020-05-06 20:45] jonas-schievink commented on #69140
(Closing since this is not a Rust issue)

[2020-05-06 20:45] #69140 closed

[2020-05-06 20:46] pnkfelix commented on #55693
assigning to self to follow-up and determine if this is even a problem at this point.

[2020-05-06 21:00] RalfJung commented on #52856
With [this xargo patch](https://github.com/japaric/xargo/pull/291), it succeeds at building a libstd for Miri.

However, later all tests fail when it tries to use that libstd:
[code]
That's expected I guess -- the libstd is loaded by the rustc built into Miri which is the one created by "stage 0 compiler artifacts", but that is not the rustc that built this libstd.

So I think we *have to* make xa

[2020-05-06 21:04] pnkfelix commented on #69096
nominating for discussion as part of attempt to burn down set of *unassigned* P-high issues at an otherwise light triage meeting.

[2020-05-06 21:06] pnkfelix commented on #68430
triage: visited as part of general query of unassigned P-high non-ICE issues. But it looks like @nellshamrell is taking a look at this, so I'm marking as assigned to nell for now.

[2020-05-06 21:08] pnkfelix commented on #65391
triage: visiting as part of general attempt to burn down set of *unassigned* P-high non-ICE issues. I note that I "threatened" to close this issue as "nothing further for T-compiler to do here" back in November of 2019, but it sounds ike recent reports say that there may be evidence that this is target agnostic.

Nominating for discussion at T-compiler meeting, mostly to see if anyone there has re

[2020-05-06 21:09] pnkfelix commented on #55779
triage: nominating for discussion as part of attempt to burn down set of *unassigned* P-high issues at an otherwise light triage meeting.

[2020-05-06 21:12] Cogitri commented on #67481
Hm, I don't think we experienced failures on our builders, quite possibly ever since we upgraded to LLVM10. I'll go ahead and do a few test builds to confirm. Thanks! :)

[2020-05-06 21:17] richfelker commented on #67481
Oh, I missed that. Indeed it sounds like it might be the same issue then.

[2020-05-06 21:35] RalfJung commented on #71800
Here's an example of an ICE caused by being able to make `const_err` not hard errors, that would be quite annoying to fix I think (other than what this issue proposes):
[code]
This is just an example of the kind of problem we have because one part of the compiler cannot rely on other parts actually properly reporting good hard errors in certain situation. The code where we currently call `delay_sp

[2020-05-06 22:01] ashtneoi commented on #65391
My RISC-V repro ([this branch](https://github.com/ashtneoi/rust-lld-repro/tree/master)) still works on the latest Rust nightly, and it works with a couple changes on x86 too ([this branch](https://github.com/ashtneoi/rust-lld-repro/tree/x86)). I've been meaning to do it without cargo too, but I haven't gotten around to that yet.

[2020-05-06 22:07] fanninpm commented on #71260
I tried adding this to the [glacier](https://github.com/rust-lang/glacier/) (which uses nightly), but I couldn't get an ICE from your minimum code example.

[2020-05-06 22:38] tnielens opened #71961 "hir span of `ty` in `QPath::TypeRelative(ty, .. ) ` is unexpected"
### Code
[code]
At line `Foo::new()`, I expected the span of the hir `ty` in `QPath::TypeRelative(ty, ..)` to cover only `Foo`, but it covers the whole `QPath` `Foo::new` instead.

### `Foo::new()` hir-tree
[code]

### Meta
`rustc --version --verbose`:
[code]

[2020-05-06 23:31] nnethercote commented on #43212
With recent changes, #70458 and #71528 in particular, rlibs created during LTO builds now only contain metadata and LLVM bitcode, but no object code. Previously they did contain object code. IIUC, that addresses the original complaint of this issue.

[2020-05-06 23:31] #43212 closed

[2020-05-06 23:53] mibac138 commented on #66736
@rustbot claim

[2020-05-07 00:03] #70475 closed

[2020-05-07 00:03] #71353 closed

[2020-05-07 00:04] rust-highfive opened #71963 "`miri` no longer builds after rust-lang/rust#71958"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#71958, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-05-07 02:37] myrrlyn commented on #53718
Can we stabilize the `const_int_conversion` gate, or is there a standing issue preventing stabilization? As has been mentioned upthread, these functions have equivalent `const`-able expressions, but as they are still unstable, these [must be copied](https://github.com/myrrlyn/bitvec/blob/master/src/macros/internal.rs#L472-L546) into each crate that needs them. This copying is [bug-prone](https://g

[2020-05-07 03:31] #41884 closed

[2020-05-07 03:31] #32594 closed

[2020-05-07 03:31] #34844 closed

[2020-05-07 03:31] #40161 closed

[2020-05-07 04:13] samrat commented on #71898
If my understanding is correct, `Derive`s(custom and builtin) will always be defined in a crate that will be external to the one using them. And it seems we turn off suggestions for lints originating from external crates: https://github.com/rust-lang/rust/blob/2454a68cfbb63aa7b8e09fe05114d5f98b2f9740/src/librustc_middle/lint.rs#L224

My original approach to this issue was to avoid adding the `#[al

[2020-05-07 04:40] joshtriplett commented on #64796
I agree that nightly `1.45` shouldn't pass a `cfg(version("1.45.0"))` check. Beta should, though.

This kind of complication is a big part of why I'd like to see `cfg(accessible(...))` used much more often, and `cfg(version(...))` used only as a last resort.

[2020-05-07 04:57] euclio opened #71968 "Bad spans from type error within code expanded from proc macro attribute"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7d0f526db1b816572e927bbaaad2750e

[code]

I expected to see this happen: Type error reported on `Ok(())`

Instead, this happened: Got this diagnostic:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-05-07 05:19] tspiteri commented on #53718
@myrrlyn It's already stabilized in beta.

[2020-05-07 05:23] HeroicKatora commented on #69488
Are the LLVM semantics those which we want, considering that `mem::MaybeUninit` is an instance of such a union? Also const-eval is not fully consistent with the LLVM semantics. The type `[T; 1]` has the same llvm representation as `T` itself and thus `MaybeUninit<[i64; 1]>` [is as well a `i64`](https://play.rust-lang.org/?version=stable&mode=release&edition=2018). But in const-eval, as noted above

[2020-05-07 06:21] ldm0 opened #71971 "`const fn` in Trait implementation."
For code like this:
[code]
This currently emits:
[code]
It would be extremely useful if we could have const fn in trait implementation (especially for operator overloading). And I saw this is also mentioned in the [RFC 0911](https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md#alternatives).

[2020-05-07 06:32] RalfJung commented on #69488
Fair.

I think that is an open question.

The LLVM way to say "bag of 64 bits that can individually be poison" would be `[i1 x 64]`, but LLVM optimization passes can handle that much less well than `i64`, so switching to this "bit vector" could lead to severe performance regressions. (I actually think we want a "bag of bytes", which would be `[i8 x 8]`, but that may or may not be any better.)

[2020-05-07 06:35] pickfire commented on #64796
Yes, but `cfg(accessible(...))` have some complications right now IIRC, such as not able to match all different kind of paths? Correct me if I am wrong.

[2020-05-07 07:01] Datarecovery09 commented on #69140
Hi @vioan ,
I'm sorry to report that I had to "solve" the problem by switching to another host.
And yes, it was Strato.^^

[2020-05-07 07:04] ldm0 commented on #71971
Interestingly, I found the #68847 and it has been merged. So new we can have code below compiles:
[code]
But that have not directly solves the problem in this issue. Since some trait may contains more than one functions and only some of them are able to be const function.

[2020-05-07 07:21] ldm0 commented on #69615
@DutchGhost This additional code not ICEs anymore.

[2020-05-07 07:26] crlf0710 commented on #55467
How about this:
Split the `confusable_lints` lint into two:
* `confusable_idents`: which is based on unicode confusables.txt but excluding the pairs between ASCII codepoints. This is warn-by-default.
* `confusable_idents_ascii`: which is based on unicode confusables.txt but only including the pairs between ASCII codepoints. This is permanently allow-by-default.
I think this way i can make it less

[2020-05-07 07:33] pyfisch commented on #55467
Since most programming fonts clearly distinguish potentially confusing ASCII codepoints we don't need to warn about them IMHO. The `confusable_idents` can be amended to discard any warning between two ASCII-only identifiers. This avoids warnings in existing code and should be easier to implement than excluding ASCII confusables on a character basis.

I don't think a `confusable_idents_ascii` is st

[2020-05-07 07:57] DutchGhost commented on #69615
The issue has been fixed in https://github.com/rust-lang/rust/pull/69642

[2020-05-07 09:11] xy137 commented on #70924
got the same issue after using `git reset --hard`

it seems like `cargo clean` fixed it though

[2020-05-07 09:22] lcnr opened #71977 "or_patterns: incorrect unreachable pattern warning"
[code]
Results in the following incorrect warning:
[code]
Removing `F::A` causes a non-exhaustive patterns error as expected.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4e3fbb48fc2d34cd43bc0896ce01940)

[2020-05-07 12:20] steveklabnik commented on #46475
Triage:
![image](https://user-images.githubusercontent.com/27786/81293548-21061500-9033-11ea-98c5-928ae6c4220f.png)

@sgrif have you seen this bug lately?

[2020-05-07 12:22] steveklabnik commented on #41446
Triage: MIR produced today is

[code]

[2020-05-07 12:29] steveklabnik commented on #37464
Triage: no change

[2020-05-07 12:44] crlf0710 commented on #55467
@pyfisch Mind PR to the original RFC and clarify? After that i will amend the implementation accordingly.

[2020-05-07 12:52] oli-obk commented on #41446
I believe this issue is fixed.

[code]

produces

[code]

so the function call to `f` is removed and replaced by an `unreachable` terminator, which is exactly what the original miri issue was about.

[2020-05-07 12:52] #41446 closed

[2020-05-07 12:54] yoshuawuyts commented on #70887
@scottmcm This was brought up before in the PR. Reiterating [my reasoning](https://github.com/rust-lang/rust/pull/70835#issuecomment-612002668) here:

I think @tspiteri correctly points out that there doesn't appear to be a precedent for float-based operations on integers in the stdlib. But there is a precedent for integer-based operations on floats, suffixed with `i` for integer and `f` for float

[2020-05-07 13:01] oli-obk commented on #52856
ah yes, that makes sense. Can we make xargo use the miri binary to produce the artifactsß

[2020-05-07 13:23] RalfJung commented on #52856
uh...
We'd need some magic flag or so to tell Miri to be a normal compiler and not an interpreter.

[2020-05-07 13:24] ipkiss42 opened #71982 "Confusing error message "this doc comment doesn't document anything" when there is a syntax error right after a comment"
I tried this code:

[code]

I expected to see this happen: a clear error message telling me about the mistake (`async` before `pub`).

Instead, this happened:

[code]

This is a confusing error message. Without the comment, the error is clearer (though arguably still not completely obvious):

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

[2020-05-07 13:31] mjbshaw commented on #55467
Why not just have the implementation match the RFC, and only lint on **mixed script** confusables? Warning on same-script confusables was explicitly "outside the scope of this RFC" and is something that in my opinion should go through its own RFC or be left to clippy.

[2020-05-07 13:34] RalfJung commented on #52856
But yeah that is probably the cleanest solution. What is the best way to just say "behave like the `rustc` binary would"?

The main thing I am worried about is that it means all the codegen stuff in Miri will be reachable, so the binary might become bigger. But OTOH I doubt that the linker currently is clever enough to actually remove all that stuff, so... whatever.

[2020-05-07 13:40] Manishearth commented on #55467
@mjbshaw the RFC explicitly calls for [a confusable in-scope identifiers lint](https://rust-lang.github.io/rfcs/2457-non-ascii-idents.html#confusable-detection).

However, the RFC does not make it mandatory. Honestly I think we can do wthout this lint for a first pass, the others are good enough mostly. We can introduce this if people ask for it.

[2020-05-07 13:43] mjbshaw commented on #60405
I have two questions:

1. Why is that not a problem if you omit `#[repr(transparent)]`?
2. Why is this so bad? You just poisoned `f`; I'm not sure what else you'd expect to happen, with or without `#[repr(transparent)]`.

I'm still not sold on the "bag of bits" idea. I've tried to put an alternative forward but instead of receiving a good rebuttal for why my alternative is inferior it instead go s

[2020-05-07 13:46] jonas-schievink commented on #69459
Duplicate of https://github.com/rust-lang/rust/issues/67649

[2020-05-07 13:46] #69459 closed

[2020-05-07 13:49] spastorino commented on #70924
We would need reproduction steps, maybe ICE-Breakers Cleanup Crew can help here.

@rustbot ping cleanup

[2020-05-07 13:54] hanna-kruppe commented on #60405
Since repr(Rust) unions have no ABI commitments, we can just represent them as a literal byte array. That allows each byte to be poison-or-not independently.

[2020-05-07 14:02] mjbshaw commented on #60405
@hanna-kruppe That's true, but I'm not sure it's useful to allow such granularity for poison because you still can't read `f`. You can only memcpy the non-poison bytes of `f`, which I'm not sure Rust should guarantee you can do because it's such a big footgun (and I can't think of any real value it provides).

[2020-05-07 14:03] oli-obk commented on #52856
the llvm backend is a dylib anyway, and the rest... yea, I doubt that gets optimized away.

Run

https://github.com/rust-lang/rust/blob/master/src/rustc/rustc.rs#L30

[2020-05-07 14:08] hanna-kruppe commented on #60405
That goes more into your second question (why/how this observation matters), which I deliberately didn't go into because it's a more complex topic and my time is currently very limited.

[2020-05-07 14:27] nikomatsakis commented on #70819
@pnkfelix mentioned in the compiler-team meeting today that P-medium didn't seem high enough for this bug. I'm inclined to agree. I think we ought to fix this. I wouldn't call it *P-critical*, but seems like P-high?

[2020-05-07 14:29] nikomatsakis commented on #71265
I think an MCP would be appropriate to describe the plan.

[2020-05-07 14:32] pnkfelix commented on #69096
discussed at [T-compiler meeting](https://zulip-archive.rust-lang.org/131828tcompiler/27154weeklymeeting2020050754818.html#196778074). Reprioritizing as P-medium, since its not a true regression and not an active soundness hole.

[2020-05-07 14:37] pnkfelix commented on #65391
discussed at [T-compiler meeting](https://zulip-archive.rust-lang.org/131828tcompiler/27154weeklymeeting2020050754818.html#196778934). Self-assigning to look at @ashtneoi 's x86 repro, and see if I can isolate if this an upstream lld bug or not.

[2020-05-07 14:42] pnkfelix commented on #55779
discussed at [T-compiler meeting](https://zulip-archive.rust-lang.org/131828tcompiler/27154weeklymeeting2020050754818.html#196779695). Assigning to @eddyb

[2020-05-07 15:14] dekellum commented on #64796
This is unproductive rehash/relitigation of same issues raised during RFC. Making attempts to optimize this for "maximum robustness" WRT to nightly, is likely to mean people will just keep using `rustc --version` in build.rs, and without any additional nightly considerations. That doesn't sound like it really matches your goals.

[2020-05-07 15:16] pickfire commented on #70624
I got the same error message with `doc` and building on top of another macro.

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8026a63548ffa4560b31207d69a4dd67

<details>
  <summary>Error log</summary>

[code]

[2020-05-07 15:17] yoshuawuyts opened #71983 "Tracking Issue for feature arc_mutate_strong_count"
The feature gate for the issue is `#![feature(arc_mutate_strong_count)]`.

### Steps

- [x] Adjust documentation ([see instructions on rustc-dev-guide][doc-guide])
- [x] Stabilization PR ([see instructions on rustc-dev-guide][stabilization-guide])

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr
[doc-guide]: https://rustc-dev-guide.rust-lang.o

[2020-05-07 15:19] steffahn commented on #70924
I’m unhappy with the labeling of this issue. We neither want to minimize anything (needs-mcve) nor bisect anything yet (needs-bisection), instead what’s missing is a way to reproduce the bug. IMO this would need a different, possibly new label.

Perhaps, since a complete and verifiable example _is_ needed, so something like “needs-cve”,  or is mcve meant like “minimal, yet still complete”? Then pe

[2020-05-07 15:20] petrochenkov commented on #70624
Closing as a duplicate of https://github.com/rust-lang/rust/issues/55414.

[2020-05-07 15:20] #70624 closed

[2020-05-07 15:22] mati865 commented on #68647
It's LLD bug, the same thing happens for `windows-gnu` target (when using `.def` file instead of version-script).
If symbol listed in `.def` contains dot it will be written to the import library with truncated name.
I'm working with LLVM developer on fixing that.

[2020-05-07 15:25] pickfire commented on #70624
@petrochenkov But that have a different error.

[2020-05-07 15:25] shika-blyat opened #71984 "Ok(T) is not an irrefutable pattern even when its type is Result<T, !>"
I tried this code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=165744f32b174e1068e0813fe906735f

[code]

I expected the code to compile, because Err is obviously an irrefutable pattern here.

I'm not even sure this is a bug (maybe rust's typesystem cannot understand that n inconstructible pattern on a n + 1 variants enum make the last pattern irrefutable ?)

[2020-05-07 15:51] petrochenkov commented on #70624
Which one?
I only see the "non-eager expansion without a parent scope" one, which is a known issue with known reasons.

[2020-05-07 16:12] roblabla commented on #64796
@dekellum Does `cfg(accessible)` not work for your use-case? It'd help to know what you're using `cfg(version)` to gate your code for.

[2020-05-07 16:29] KrishnaSannasi commented on #69459
Here is another workaround,

[code]

[2020-05-07 16:37] jplatte opened #71986 "Const generics: Bounds like `T: Foo<{ value }>` don't work"
This is probably due to lazy normalization not being here yet, but I don't find any issues for this specifically so maybe this is a good additional test case for #71973 or a later PR?

[code]

I wouldn't even expect this to work necessarily, since the equivalent thing with an associated constant instead of a const generic argument produces `cannot constrain an associated constant to a value` (alth

[2020-05-07 16:37] Cogitri commented on #67481
We haven't seem this issue for quite some time on our builders and I wasn't able to reproduce this locally, so I think this has been fixed with the LLVM10 upgrade. Thanks!

[2020-05-07 16:37] #67481 closed

[2020-05-07 16:39] jplatte commented on #71986
Ah, nevermind, the linked PR already has a very similar test case. I guess this still tracks an issue until that PR has been merged, but I will close afterwards.

[2020-05-07 16:49] RalfJung commented on #60405
[code]
The Rust semantics as they exist in my head and as it is [drafted here](https://github.com/rust-lang/unsafe-code-guidelines/blob/master/wip/value-domain.md) would guarantee that this program prints 0. This is what "unions are just bags of bytes" means.

But it turns out LLVM actually says "nope this is UB as all of `u2` is poisoned. So, the desired semantics is not implementable with LLVM w

[2020-05-07 16:54] pietroalbini opened #71987 "Bors links to the wrong build in GitHub Actions"
When bors reports that a build failed in GitHub Actions, it links to the "bors build finished" meta-job instead of the actual job tha failed. This makes the UX for our contributors worse.

[2020-05-07 17:07] pietroalbini opened #71988 "macOS builders randomly stops working on GitHub Actions"
We started noticing that occasionally one of our macOS builders stop working, marking the job as either failed or canceled and providing no logs for the build. Examples of such failed builds are:

- #71934 - https://github.com/rust-lang-ci/rust/runs/648528503
- #71951 - https://github.com/rust-lang-ci/rust/runs/649952440
- #71925 - https://github.com/rust-lang-ci/rust/runs/651724911
- #69406 - htt

[2020-05-07 18:03] fanninpm commented on #62529
Mind if I added these to the glacier?

[2020-05-07 18:34] ananthp opened #71990 "lint checker wrongly marks private method used in test as dead_code"
Consider this code:

[code]

struct `Foo` has a private method `valuable_insight_only_used_in_test` that's not referred to in the rest of the struct's implementation, but is used in test. Compiler wrongly issues a `dead_code` lint warning.

[code]

Note: When this code is run on [Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0b8cb094dbafc172a3bbeb6096c50

[2020-05-07 18:38] jonas-schievink commented on #71990
This is expected behavior due to the use of `#[cfg(test)]`. When not building in test mode, the `test` module is missing, so the function is unused from the lint's perspective. You can annotate the function with `#[cfg(test)]` or silence the lint for it.

[2020-05-07 18:38] #71990 closed

[2020-05-07 19:18] lcnr commented on #71986
Its novel enough to be added as an additional test :+1:

We still need a lot of tests for const generics if we want to ever make them stable.

[2020-05-07 19:24] LeSeulArtichaut commented on #70819
(Added `I-prioritize` to discuss this issue with the Prioritization WG)

[2020-05-07 19:38] #29988 closed

[2020-05-07 19:46] lcnr commented on #34979
This behavior is still a bug, this code snippet should compile afaict

[2020-05-07 19:55] lcnr commented on #34979
This only occurs if bounds have different lifetimes. Completely identical bounds work fine:
[code]

[2020-05-07 20:16] joshtriplett commented on #64796
We discussed the unresolved question (as explained in https://github.com/rust-lang/rust/issues/64796#issue-498617312) in today's lang team triage meeting.

We had general consensus on the following behavior:

Version | `cfg(version("1.48"))` | `cfg(version("1.49"))` | `cfg(version("1.50"))`
------------ | ------------- | ------------ | -------------
1.48 stable | true | false | false
1.49 beta | t

[2020-05-07 20:42] ecstatic-morse commented on #71971
@ldm0, rust-lang/rfcs#2632 is still actively being designed. Perhaps you'd like to participate on the discussion around that PR?

I'll close this since I don't think it's actionable. If the initial implementation is not working as the RFC specifies, feel free to reopen.

[2020-05-07 20:42] #71971 closed

[2020-05-07 21:07] JohnTitor commented on #34979
@lcnr Ahh, I missed that!

So, if someone fixes this issue, then please also tweak the test (I'll add a FIXME to it later).

[2020-05-07 21:41] lily-commure commented on #71984
The example code compiles with [`#![feature(exhaustive_patterns)]`](https://github.com/rust-lang/rust/issues/51085)

[2020-05-07 21:48] dekellum commented on #64796
That's lame.

[2020-05-07 21:53] jhpratt commented on #64796
Please be constructive.

[2020-05-07 23:17] shika-blyat commented on #71984
Oh i wasn't aware of this feature, tyvm, i'm closing this 😄

[2020-05-07 23:17] #71984 closed

[2020-05-07 23:47] joshtriplett opened #71997 "Optimize away bounds check in loop indexing into slice, given an assertion"
I wrote a simple loop indexing into a slice, to test rustc's ability to optimize away bounds checks if it knows an index is in bounds. Even with this very simple test case, I can't seem to get rust to omit the bounds checks no matter what `assert!` I add. (I know that I could trivially write this code using iterators instead, but I'm trying to figure out rust's ability to optimize here.)

Test cas

[2020-05-07 23:49] ctaggart opened #71998 "panicked in libstd/macros.rs: inconsistent resolution for an import"
I tried this code:
I'll try to create a minimal test repository. I get this after adding rustfmt from master with the code similar to https://github.com/rust-lang/rustfmt/issues/4132#issuecomment-616587989 .

I expected to see this happen: the code to build without panic.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[cod

[2020-05-07 23:56] petrochenkov commented on #71998
Interesting.
A self-contained reproduction would be appreciated.

[2020-05-08 00:14] rbtcollins commented on #38998
I think this should be reopened, or something...

https://doc.rust-lang.org/cargo/commands/cargo-bench.html documents the #[bench] attribute - I quote
[code]

No mention of stability is made there.

Either the docs should not specify using `#[bench]`, or they should specify the stability requirements, or the bug here is that the crate can be replaced, not that bench was available - since it was do

[2020-05-08 00:16] ecstatic-morse commented on #71997
Did you mean `end < slice.len()`?

[2020-05-08 00:23] ctaggart commented on #71998
Here is a minimal reproduction:
https://github.com/ctaggart/rust-lang_71998

It is a combination of `target = "wasm32-unknown-unknown"` and `rustc-ap-rustc_span = "656.0.0"`.

[2020-05-08 00:34] petrochenkov commented on #71998
The issue happens only during cross-compilation, so it's likely a duplicate of https://github.com/rust-lang/rust/issues/56935 https://github.com/rust-lang/rust/issues/64450.

[2020-05-08 00:57] pickfire commented on #64796
@joshtriplett How do we teach others this? This looks like weird condition that people might not expect. I think we should keep the version for nightly with it coming with a warning when people are checking current version on nightly. We could also do this but I think a warning is better than just `false` which may make people go looking why does it not work.

[2020-05-08 01:52] ramosbugs opened #72002 "Index chosen over IndexMut when coercing index type"
We've run into an issue where we have a type that implements both `Index<&str>` and `IndexMut<&str>`. Passing an index value of `&String` causes rustc to choose `Index` instead of `IndexMut`, even if a mutable reference is required. If we first call `String::as_str` and use that as the index, `IndexMut` is chosen, as expected.

Example repro by @idubrov (see https://play.rust-lang.org/?version=sta

[2020-05-08 03:29] ctaggart commented on #71998
I thought I might be able to reproduce it by compiling librustc_span with wasm32, but I was wrong. It worked fine:
[code]

[2020-05-08 04:39] #69683 closed

[2020-05-08 04:39] #71584 closed

[2020-05-08 04:39] #36073 closed

[2020-05-08 04:39] #67204 closed

[2020-05-08 06:08] joshtriplett commented on #71997
@ecstatic-morse I tried including that as well, and it didn't change the in-loop bounds check.

[2020-05-08 07:33] moxian opened #72004 "constant reference has unstable address acrosss compilation units."
Consider the following code, split across two crates:

[code]
This behavior is mildly surprising - effectively inlining a function changes the computation result.

[The reference](https://doc.rust-lang.org/reference/items/constant-items.html) mentions a similar situation:

however, as written, this is not applicable to the code above - there's only *one* reference to a constant, not multiple. It i

[2020-05-08 07:37] xfoxfu opened #72005 "Enhance Error Message For Misusing Methods As Functions"
Consider the following example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=56822f4bd3c9bb8bf0bdaa8f3e75e967)):

[code]

If there is `fn some(&self);`, and I called `s::some()` instead of `s.some()` (the correct one), the compiler wil emit `error[E0433]: failed to resolve: use of undeclared type or module 's'`. I think this is hard for developers to underst

[2020-05-08 07:47] moxian commented on #71924
The OP issue seems to be inside a type declaration, but this also often happens in expression context, e.g.
[code]
and in these cases it would be a good compiler suggest to add an anonymous type, i.e. "Consider changing this to `Vec<_>`"

[2020-05-08 08:22] AurevoirXavier opened #72006 "thread 'rustc' panicked at 'failed to open bitcode file'"
[code]

First compile is ok, after I modify some contents. It failed. I've to `cargo clean`. Then works.

[2020-05-08 08:24] AurevoirXavier commented on #72006
I don't know how to setup a minimal env to reproduce this.

[2020-05-08 08:48] est31 commented on #64796
@pickfire I'd explain it this way: during a nightly cycle, the features that comprise the new release are being assembled on nightly. The release is considered unfinished. The `#[cfg(version)]` is based on the last finished release and ignores all unfinished releases. The story of nightly is: "we don't know yet what it's going to include". The story of beta is "we know what it will include and ask

[2020-05-08 09:02] pickfire commented on #64796
Yes, I understand that here after reading it in the above posts, but how does someone who did not read this comments understand our reasoning? Is there anyway to let other people using the command know? Preferably without reading any docs since they may read the wrong docs or misread some tiny details like this.

So from what I will say, rather than implicitly disable it, we explicitly warn about

[2020-05-08 09:33] mati865 commented on #68647
Update:
The fix has been posted https://reviews.llvm.org/D79619
I'll try it and consider backporting to MSYS2 lld package over the weekend.

[2020-05-08 10:00] RalfJung commented on #71800
Ah I think that ICE will actually be fixed by https://github.com/rust-lang/rust/pull/71665... or at least behavior will change (likely to a duplicate error [as discussed here](https://github.com/rust-lang/rust/pull/71665/files#r417229780)).

Right now, interning fails on that constant, [raises a Miri error](https://github.com/rust-lang/rust/blob/29630cea47506125fb0b94318104b1b93a59b052/src/librust

[2020-05-08 10:55] #71963 closed

[2020-05-08 11:03] the8472 commented on #71997
Adding `std::intrinsics::assume(i < slice.len())` inside the loop eliminates the check and vectorizes it.

[2020-05-08 11:16] RalfJung commented on #72004
Cc @rust-lang/wg-const-eval

The reference doesn't say "multiple". Each use of a const is basically equivalent to inlining the const definition at that place, except address identity might or might not be preserved.

So, this is definitely behavior as intended (if you need stable addresses, use `static`).

We're open to suggestions for how to make the reference more clear on this. :)

[2020-05-08 11:20] RalfJung commented on #71997
Looks like LLVM is unable to propagate what it learned on an earlier conditional, into the later loop?

[2020-05-08 11:45] RalfJung commented on #69823
Can I take this to mean you plan to look into this? :)

[2020-05-08 11:59] leonardo-m commented on #71935
Perhaps it's not because of step_by. This code:
[code]
If I replace the while loop with an apparently equivalent for loop:
[code]
The version with `for` has a call to `panic_bounds_check`. The version with the `while` (that in theory should be nicer for static analysis because you can't change `r` inside the loop) doesn't have such call. (Also adding an `assume(r < NR);` inside the `for` loop remo

[2020-05-08 12:03] pietroalbini commented on #71988
New one: https://github.com/rust-lang-ci/rust/runs/656100319

[2020-05-08 12:04] matklad opened #72009 "std::process::Command should probably implement Display"
At the moment, `Command` does not implement `Display`. However, it's often useful to display `Command` for the end user, the most common case being that the command failed, and you want to display an error message. If `cmd.to_string()` returned something like `cargo --metadata --manifest-path ./foo/Cargo.toml`, that would be sweat.

It's also instructive to compare it with `Path`s. `Path` delibera

[2020-05-08 12:05] GuillaumeGomez commented on #71822
It seems weird to me as well but I wasn't the one enforcing it and I don't remember the reason. Let's wait to hear from @rust-lang/rustdoc first.

[2020-05-08 12:17] Mark-Simulacrum commented on #69823
Yes, I've been running out of time these past couple days but hopefully will get to it soon.

[2020-05-08 12:23] nikomatsakis commented on #64796
Another piece of rationale that I found convincing was that declaring that "version" is testing the *most recent beta* version (and not the "nightly version") enables you to do something, but declaring that version is the nightly version doesn't give any new capabilities.

* If we say that `version` is testing the "beta version", then you can build crates that successfully build with any version o

[2020-05-08 12:35] jonas-schievink commented on #56935
Posting a typical message and backtrace here to make this issue easier to find:

[code]

[2020-05-08 12:35] the8472 commented on #72009
There's some misuse potential if someone tries to copy-paste and manually reexecute the output, which may not work if arguments contain whitespaces or are (similar to paths) bags of bytes.

[2020-05-08 12:37] GuillaumeGomez commented on #69905
No, sorry but we don't want this. In C, you start a multiple line comment with `*` to make it look better but it's definitely not mandatory. Therefore, I don't see any reason why rustdoc would want to handle them differently. Rust doc comments are interpreted as markdown and you should therefore take it into account.

If you want to prepend your doc comment lines with something, you can use `//!`.

[2020-05-08 12:37] #69905 closed

[2020-05-08 12:40] Amanieu commented on #71701
`=m` constraints are broken and have always been. Use `=*m` and pass the address of the memory instead of the memory itself.

I would also like to point out that your code is also broken in multiple ways:
- The compiler is free to insert arbitrary code between `llvm_asm!` blocks. This means that there is no guarantee that the registers will keep the value you set them to.
- Your instruction operan

[2020-05-08 12:40] GuillaumeGomez commented on #69758
This is not a rustdoc issue, indeed. We do not modify the content when someone is copying a codeblock content to clipboard. Please open the issue on the correct repository. :)

[2020-05-08 12:40] #69758 closed

[2020-05-08 12:42] GuillaumeGomez commented on #69673
Exact match is exact match for the full word. However, this is a fair point. Maybe we should stop making it match over the full sentence and just expect an item's name to contain it.

What do you think @rust-lang/rustdoc ?

PS: Also, all searches are case-insensitive.

[2020-05-08 12:43] Nemo157 opened #72011 "cfg_accessible does not respect feature gating"
(Since `cfg(version)`'s support for nightly is under discussion, I decided to check how `cfg(accessible)`'s support was going. I realise it is far from done, but since it's possible to write a testcase for this now I thought it would be worth having an issue to make sure it's not forgotten.)

[code]

This code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8

[2020-05-08 12:44] csmoe commented on #72005
the error message already mentions `type` and `module`, implies what is expected here, kind of obvious I think?

[2020-05-08 12:44] Nemo157 commented on #72011
@rustbot modify labels to F-cfg_accessible, T-lang, B-unstable

[2020-05-08 12:46] xfoxfu commented on #72005
I think it would be better to provide a fix suggestion.

[2020-05-08 12:48] GuillaumeGomez commented on #67904
This is because there is a JS execution error. Fixing it.

[2020-05-08 12:48] Nemo157 commented on #72011
@rustbot modify labels: +requires-nightly, -B-unstable

[2020-05-08 12:54] GuillaumeGomez commented on #67904
The problem is coming from your code. You have HTML tags in it. Here's the diff to fix it:

[code]

[2020-05-08 12:54] #67904 closed

[2020-05-08 12:58] GuillaumeGomez commented on #67872
Ok, then I'll add the :-1: emoji for deprecated items!

[2020-05-08 12:59] hanna-kruppe opened #72012 "target_feature_11 allows bypassing safety checks through Fn* traits"
(Moved from https://github.com/rust-lang/rust/issues/69098#issuecomment-622946310 with an added PoC.)

The following program ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ad057fac476c8f2aaeced9c0329c32d2)) demonstrates how current implementation of `target_feature_11` allows using a target_feature from safe code without ensuring it's actually available:

[c

[2020-05-08 13:00] hanna-kruppe commented on #69098
Filed #72012 for the unsoundness discussed above (I think this is how T-lang tracking issues are supposed to be used now).

[2020-05-08 13:00] petrochenkov commented on #64797
Status:
 - the surface of the feature was implemented in #69870 as an attribute `#[cfg_accessible(path)] item`. The attribute can configure or unconfigure the `item` and wait until the predicate "`path` is accessible" becomes determinate.
- the predicate itself is not implemented, it either returns truth if the path is certainly available, or indeterminacy if we need to try again later, or reports

[2020-05-08 13:01] ehuss commented on #72006
cc @alexcrichton Is this maybe related to #71754? (Although this sounds like the opposite of that, where it is missing the **bit** code.)

[2020-05-08 13:03] petrochenkov commented on #72012
Proposed resolution: https://github.com/rust-lang/rust/issues/69098#issuecomment-622946958.

[2020-05-08 13:07] petrochenkov commented on #72012
Or perhaps the RFC should be revised to still require writing `unsafe fn` and only unsafety checker need to be enhanced to allow calling unsafe functions without unsafe blocks in the situations known to be safe.

That would be even less magic, which is good, IMO.
The ergonomic regression would be minor because `unsafe` would still be not required at call sites.

[2020-05-08 13:09] Amanieu commented on #70596
Duplicate of #68136. As a workaround you can use `foo as usize`.

[2020-05-08 13:09] Amanieu commented on #68136
As a workaround you can use `foo as usize`.

[2020-05-08 13:09] #70596 closed

[2020-05-08 13:14] nikomatsakis commented on #72012
Good catch. Another option is that I think my expectation was that referencing, not *calling*, a target-feature function is unsafe, but I guess that is a bit given that *this* already compiles ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bc068a8e3879bfd24f13fb7467bad876)):

[code]

In other words, accessing a safe target feature 1.1 function would be unsafe

[2020-05-08 13:18] hanna-kruppe commented on #72012
For example, a whole bunch of `core::arch::*` functions take raw pointers and use them to access memory, so they need to be unsafe even if the respective target feature is enabled in the calling context.

[2020-05-08 13:20] petrochenkov commented on #72012
Ah, right, that's a good argument.
The "unsafety checker enhancement" should only affect unsafe functions that are made unsafe through `#[target_feature]`, but not other means (explicit `unsafe` or `extern` block).

[2020-05-08 13:36] kinnison commented on #71822
It seems odd to me that they're not treated equivalently.

[2020-05-08 13:42] nikomatsakis commented on #71800
I am 👍 with making it a future-incompatibility lint, if it's not already, and I would be in favor of moving to a hard error. I'm not sure of the timeline on those two steps, but I imagine that doing a crater run with a hard error would be a good way to augment the data that @Shnatsel gathered in terms of assessing the impact (the ripgrep suggests "not much", right?).

[2020-05-08 13:42] nikomatsakis commented on #71800
I wonder if an RFC is an appropriate idea here.

[2020-05-08 14:01] nikomatsakis commented on #53487
So, specifically, we have the mechanism of "inherent impls" that are only accessible from within the standard library. I think what we need here is not an exception for `Box` but rather an exception for `dyn Error`, so that you can create a custom inherent impl for `dyn Error` in the standard library that adds a `downcast` method. I'm fine with that, though I think it's the kind of thing I would h

[2020-05-08 14:16] mjbshaw commented on #60405
Thanks for the demo, @RalfJung. I personally think this should have the same behavior as `#[repr(transparent)] struct S { f: u32 }`. I'll take some time to read through the draft you linked to, though.

[2020-05-08 14:17] Amanieu opened #72016 "Tracking Issue for inline assembly (`asm!`)"
This is a tracking issue for the RFC 2873 (rust-lang/rfcs#2873).
The feature gate for the issue is `#![feature(asm)]`.

### Stabilization

- ~~Blockers: https://github.com/rust-lang/rust/issues/72016#issuecomment-761616910~~
- ~~Blockers: https://github.com/rust-lang/rust/issues/72016#issuecomment-819519824~~
- Stabilization report: https://github.com/rust-lang/rust/issues/72016#issuecomment-96418

[2020-05-08 14:21] Amanieu commented on #29722
In light of the upcoming changes to inline assembly, most of the discussion in this issue is no longer relevant. As such, I'm going to close this issue in favor of two separate tracking issue for each flavor of inline assembly we have:
- Tracking Issue for LLVM-style inline assembly (`llvm_asm`) #70173
- Tracking Issue for inline assembly (`asm!`) #72016

[2020-05-08 14:21] #29722 closed

[2020-05-08 14:27] RalfJung commented on #60405
@mjbshaw do you still think that if we replace `U` by `MaybeUninit<u32>`? Since `MaybeUninit` is `repr(transparent)`, that's basically the same type.

[2020-05-08 14:30] sfackler commented on #53487
I'd also prefer to handle that via a core/std merge rather than adding more coherence hacks.

[2020-05-08 15:04] kinnison commented on #69673
I think I'd be okay if `"exact"` was essentially `_?exact_?` in terms of regex and was only applied to item names.  That wasy `"then"` would match `then()` and `and_then()` but not `thence()` which to me seems right.  If others would want it to match `thence()` too, then I suppose just treating `"foo"` as a substring match against item names would be good enough.

Obviously the closest match shoul

[2020-05-08 15:06] estebank commented on #72005
We can do what we do in other errors and lookup the identifier in the other namespaces. Implying is not enough, not everybody has the same level of familiarity with rust and what counts as obvious can depend on how caffeinated one is 😊

[2020-05-08 15:33] yaahc commented on #53487
Would it still be possible to expose `Error` in `core/std` when alloc is disabled if `Backtrace` is part of its API? like, would there be conditional compilation where some functions are only part of the trait when using the full verison of `std`?

[2020-05-08 15:36] sfackler commented on #53487
Yeah. The idea would be that core/alloc/std/etc would all just be combined into one std crate, and then there would be Cargo features controlling the existence of things like Error::backtrace, std::alloc, etc.

[2020-05-08 15:39] est31 commented on #53487
Right now std uses a bunch of crates from crates.io like hashbrown, cfg-if, libc, etc. that are all `#![no_std]` but not `#![no_core]`. How could they be both used by and rely on a unified core/std crate?

[2020-05-08 15:44] yaahc commented on #53487
Questions:

* How far off is this in theory?
* Has there been an RFC for this kinda thing yet?
* Would it be possible to do the inherent `dyn Error` short term to get `Error` into core and then merge it all together with the eventual theoretical merger down the line without breaking backwards compatibility?

[2020-05-08 15:47] alexcrichton commented on #72006
Some digging shows that this is a preexisting bug in rustc:

[code]

I believe that this is only showing up now because Cargo is only just now passing `-Clinker-plugin-lto`

[2020-05-08 15:53] petrochenkov commented on #56935
It would be great if someone come up with a short-term fix for this, perhaps hacky.

Otherwise I hope to get to this in June and fix it together with a few other issues in crate loading.

[2020-05-08 16:32] alexcrichton commented on #72006
I've posted a fix for this at https://github.com/rust-lang/rust/pull/72020

[2020-05-08 16:58] oli-obk opened #72022 "[mir-opt] optimization idea: bubble `return` terminators to predecessor blocks"
cc @rust-lang/wg-mir-opt

if we have a basic block with no statements and just a return terminator, any other basic block that just `goto`s into that block could just as well call `return` itself. Or do we have some rule that we can only have a single return terminator per `mir::Body`?

Maybe we can generalize this and bubble any terminator of a statement-less block into its predecessor terminator

[2020-05-08 17:20] ehuss commented on #38998
@rbtcollins Posted an update to the docs here: https://github.com/rust-lang/cargo/pull/8227

[2020-05-08 17:33] ecstatic-morse commented on #71997
@joshtriplett Nevertheless, you should update your example. Without checking `end < slice.len()`, `f(&[0], 0, 1337)` will trigger an index-out-of-bounds panic without hitting the assertion.

[2020-05-08 17:47] Gankra commented on #64490
For the sake of end-user documentation, I'd like a clarification on this loose note at the end of the RFC:

I believe this is in reference to a historical spookiness in the language that `mutable_ref as *mut as *const` is actually semantically different from `mutable_ref as *const` -- the former creating a mutable pointer which is legal to write to, while the latter doesn't (roughly speaking). I w

[2020-05-08 17:48] joshtriplett commented on #71997
@ecstatic-morse Done; edited the code and provided the new corresponding assembly. Doesn't affect the code of the loop, which still includes the bounds check.

[2020-05-08 17:56] cuviper opened #72023 "Bad size_hint() for Range<i64> on powerpc64le"
I tried this code:

[code]

I expected to see this, which does work in debug mode:

[code]

But in release mode, this happened:

[code]

However, it does work in release mode if that `start  < len` assertion is uncommented.

### Meta

[code]

This is not new -- it comes from a failure noted in rayon-rs/rayon#585 in July 2018, which unfortunately I forgot to followup on until now. It's fine on x86_

[2020-05-08 17:58] the8472 commented on #71997
This works and considering that an exclusive range is used it presumably also is the intended use of that function

[code]

[2020-05-08 18:08] cuviper commented on #72023
We have Rust built with LLVM 10 in Fedora 32, but that doesn't fix it:

[code]

[2020-05-08 18:27] joshtriplett commented on #71997
@the8472 I can confirm that that code eliminates the bounds check. And interestingly, if I reverse the two arguments to `min`, that does *not* eliminate the bounds check.

This works (no bounds check, vectorized):

[code]

This doesn't work (includes the bounds check in the loop):
[code]

[2020-05-08 18:40] joshtriplett commented on #71997
The only differences between the two argument orders to `min` are the direction of the comparison and *which argument gets returned if they compare equal*. And sure enough, I can confirm that open-coding the equivalent only works if we use `slice.len()` in place of `end` in the case where `end == slice.len()`.

This works (no bounds check in the loop):

[code]

This doesn't work (bounds check in t

[2020-05-08 18:46] joshtriplett commented on #71997
It looks like there are two separate bugs here:
1) rustc should optimize away the bounds check given just the `assert!`, without needing the redundant call to `min` or the equivalent open-coded change to `end`.
2) The optimization shouldn't require assigning `end = slice.len()` in the case where `end == slice.len()`.

[2020-05-08 18:47] euclio opened #72024 "rustc stack overflow while using serde"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=56914d5ac20726d98a92eb173281eb09

[code]

I expected to see this happen: Get a type error. This is reduced from a much larger example.

Instead, this happened: `rustc` overflows its stack.

### Meta

`rustc --version --verbose`:
[code]

This bug is also present on nightly.

<details><summary>Backtrace</sum

[2020-05-08 18:48] euclio commented on #72024
Actually this looks like a dupe of #55779.

[2020-05-08 18:48] #72024 closed

[2020-05-08 19:03] oli-obk opened #72025 "const validation hides sibling validation errors"
If a const validation finds an invalid part of a constant, it reports that one error and bails out, this means that

[code]

gives us just

[code]

While it would be trivial to change https://github.com/rust-lang/rust/blob/29630cea47506125fb0b94318104b1b93a59b052/src/librustc_mir/const_eval/eval_queries.rs#L192 to continue after errors, that would just give us more of these verbose diagnostics.

F

[2020-05-08 19:09] joshtriplett commented on #71997
I produced a corresponding set of (naively translated) C++ test cases, and confirmed the same behavior from clang trunk.

The following C++ code does not optimize away the bounds check:

[code]

Nor does this:

[code]

But this does (note the `>=` in the `if`):

[code]

[2020-05-08 19:14] RalfJung commented on #72025
Hm, interesting idea for the visualization. However, this will fail horribly on big arrays.

I am also a bit worried that the size of the output is proportional to the size of the data structure, and not the number of errors.

[2020-05-08 19:43] oli-obk commented on #54038
I'm closing this as a duplicate, as tracking it separately doesn't give us any benefit until the root issue has been fixed (which will likely just fix this one, too)

[2020-05-08 19:43] #54038 closed

[2020-05-08 19:47] Alfriadox commented on #62529
not quite sure what "the glacier" is but yes please do

[2020-05-08 19:49] bjorn3 commented on #62529
https://github.com/rust-lang/glacier/ checks every day if ICEs still happen.

[2020-05-08 19:56] ehuss commented on #70781
I just ran into this. A reproduction is to run `cargo +1.40.0 doc` on a project with some dependencies, and then run `cargo doc --no-deps` with a version of 1.41 or newer.  This causes the `search-index.js` file to retain the old format (from 1.40) mixed with the new format (presumably from #66828).

@GuillaumeGomez is it intended that shared, persistent files (like `search-index.js`) are not nece

[2020-05-08 20:04] oli-obk commented on #72025
We could hide all valid fields in structs by using `..` and hiding consecutive occurrences of `VALID` in arrays by displaying `/* N valid fields skipped */`. In general we could replace `VALID` with `_`, because I see no way around showing valid fields in tuples and arrays.

Otherwise we can move to a completely php like printing, so the above example would become:

[code]

This would hide *all* v

[2020-05-08 20:17] mbrubeck commented on #68833
Can I nominate this for stabilization? It's a straightforward API with no real alternatives possible, and I had a real-world use case for it recently.

[2020-05-08 20:36] oli-obk commented on #70584
So... the bug is fairly simple, albeit not easy to fix. The problem is that any use of a static anywhere like

[code]

becomes

[code]

This has various positive effects on rustc, making many implementation things easier, but it also means that it broke promoting reading from statics within other statics, because we will never ever support promoting `*` beyond `&*` reborrows. So now we need to spe

[2020-05-08 20:49] sfackler commented on #53487
@est31 This is getting a bit off topic, but we could e.g. directly pull them in as modules rather than crates like we do right now with stdarch iirc.

@yaahc There hasn't been an RFC, just informal discussions at past Rust all-hands; there are probably notes somewhere on a Dropbox Paper. It would be a fairly significant move but I think doable. Moving Error into core would directly prevent the imp

[2020-05-08 21:18] JohnTitor commented on #68833
CC @rust-lang/libs --^?

[2020-05-08 21:27] sfackler commented on #68833
@rfcbot fcp merge

[2020-05-08 21:30] steveklabnik commented on #36221
Triage: I agree with what @Mark-Simulacrum said back in 2017, and I think that the lack of movement in the last few years bears that out. I'll leave it to the compiler team to decide, I guess.

[2020-05-08 21:41] Mark-Simulacrum commented on #36221
There has been potentially some movement on the LLVM side with their new pass manager, but I don't know to what extent that has implications here.

I suspect that rolling our own pass list is likely to be fraught with difficulty and may even lead to things like miscompilation or hangs and such (because LLVM's tests no longer test what we do), but that's pure speculation.

[2020-05-08 21:49] steveklabnik commented on #50280
Triage: no change. This program: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=844d632aee1147f2dc9e7d05d3ef9462

[code]

gives this error:

[code]

[2020-05-08 21:56] yaahc commented on #53487
@sfackler yea, thats kinda what I'm aiming for, I think the right approach is to remove the `backtrace` fn part of this rfc, stabilize `Backtrace`, `source` is already stable, and then implement [this rfc](https://github.com/rust-lang/rfcs/pull/2895) which provides the same functionality as `backtrace` but generalized which then lets us move this to core immediately. And i know ppl area already de

[2020-05-08 22:09] ehuss commented on #71957
I think the issue is that `allow`/`warn`/`deny`/`forbid` for `elided_lifetimes_in_paths` can only be specified at the crate root (all other locations are ignored).  [This line](https://github.com/rust-lang/rust/blob/7b805396bf46dce972692a6846ce2ad8481c5f85/src/librustc_ast_lowering/path.rs#L326) looks suspicious, but I don't know the compiler internals too well, either.

[2020-05-08 22:15] xpepermint opened #72028 "TcpSocket broken pipe"
I'm using `async-std` but I feel I have to post this issue here. I'm building a proxy that forwards requests from A to B and then responses from B to A. Simple.

Most of the time everything works but randomly it fails with broken pipe error or the response shows only X% of data. I noticed that if I filter the buffer and remove all `0u8` bytes before I write bytes it seems that the problem goes awa

[2020-05-08 22:48] sfackler commented on #72028
TcpStream does not look at the contents of buffers passed to write. A broken pipe error is returned from the OS when the other end of the connection has been closed.

[2020-05-08 22:48] #72028 closed

[2020-05-08 23:45] #30276 closed

[2020-05-08 23:45] #71998 closed

[2020-05-08 23:46] petrochenkov commented on #46034
https://github.com/rust-lang/rust/pull/71825 suggests introducing `-Z strip=[none|debuginfo|symbols]`.

[2020-05-08 23:47] petrochenkov commented on #71757
https://github.com/rust-lang/rust/pull/71825#issuecomment-626063051 suggests introducing `-Z strip=[none|debuginfo|symbols]`.

[2020-05-09 00:03] jonas-schievink opened #72032 "Visiting a MIR `return` should visit the return place too"
The `return` terminator conceptually moves out of the return place `_0`, but this is not currently reflected by the visitor infrastructure.

This can lead to incorrect dataflow solutions for `_0`. For example, `MaybeLiveLocals` reports that `_0` is dead before a `return`, which is wrong (it must always be live there). These don't currently cause any harm, since use of `_0` is fairly limited, but t

[2020-05-09 00:29] overdrivenpotato opened #72034 "Including a linker script with a built in target"
Hello! I'm filing an issue here after being redirected through Discord and Zulip. I'm trying to add support for a new target which requires an associated linker script. I can confirm it works locally with `rust-lld` and a custom JSON target file. I can't seem to find a way to add this linker script to rustc, so I am asking for help.

For context, the platform is the Sony PSP. It's essentially a ba

[2020-05-09 00:31] petrochenkov commented on #30868
Fixed in https://github.com/rust-lang/rust/pull/71769.

[2020-05-09 00:56] rbtcollins commented on #38998
Thanks!

[2020-05-09 00:58] petrochenkov commented on #55407
@nagisa
I suspect this is no longer relevant?

Partial LLVM rebuilds were implemented, broken, implemented again several times over the last few years.

[2020-05-09 03:09] rust-highfive opened #72037 "`miri` no longer builds after rust-lang/rust#71418"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#71418, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @hbina, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-05-09 05:37] RalfJung commented on #72037
I'll take care of fixing Miri.

[2020-05-09 06:27] #66627 closed

[2020-05-09 07:38] oli-obk commented on #72032
I think any alternative will be more complex than that simple assertion. Conceptually the `TerminatorKind::Return` should contain a `Local` which is always `_0`, but then we'd need to have assertions keeping that in place, so you don't gain anything.

I don't think we can generalize returning to allow using different places than `_0`, which is the only way we'd get around having to assert somethin

[2020-05-09 08:25] RalfJung commented on #71193
All right, the first round of renames landed. :) Thanks @hbina!

For the second round, here are some more names in `librustc_middle/mir/interpret` that should be changed:
* `ScalarMaybeUninit::not_undef` -> ... hm @oli-obk  how do we call this, `not_uninit` is a bit weird. what about `init`? `check_init`?
* `Allocation::undef` -> `uninit`
* `check_defined_and_ptr` -> `check_init_and_ptr`
* `is_def

[2020-05-09 09:27] RalfJung commented on #52856
I like making Miri behaving like rustc when told so, then actually cargo-miri can just always invoke the Miri binary and thus we never have the problem that the rustc and Miri we are using are incompatible! I think we can kill the sysroot check when/if this works. :D

However, in the context of rustbuild it gets me all sort of build failures for the build scripts needed by libcore... they don't ha

[2020-05-09 09:45] oli-obk commented on #71193
yea, `check_init` sounds good. `not_undef` always was a bit odd

this makes me wonder whether it should be `is_initialized` and `check_initialized`

`any_bytes_init`?

[2020-05-09 09:48] oli-obk commented on #52856
There's also the `RUSTC_WRAPPER` env var, which behaves slightly differently from the `RUSTC` env var.

[2020-05-09 10:07] RalfJung commented on #52856
Yes, but one env var just takes precedence over the other, and either choice is wrong.

We need the bootstrap `RUSTC` to pick up Miri as the rustc binary... maybe it needs its own env var for "wrapper chaining" or so. ;)

[2020-05-09 10:15] RalfJung commented on #52856
Ah, we have `RUSTC_REAL`, that'll do. :D

That gets us through the xargo phase. Now we get:
[code]
That's the opposite error. Something somewhere is using the host rustc for target (Miri) things...

[2020-05-09 10:25] RalfJung commented on #52856
Yay, I git it to work. :D
https://github.com/rust-lang/miri/pull/1405

[2020-05-09 10:27] RalfJung commented on #71193
`init` is short and `unint` has a lot of precedence, so I think I'd prefer that.

I guess it depends on the caller which naming is more apt. But I feel like an "all" statement is intuitively clearer than an "any" statement.

[2020-05-09 10:33] elichai commented on #48683
Hi,
Now that we can override profiles in the config file, anyway we can get `profile.*.rustflags` too?
I'd like to pass specific compiler flags only when compiled with release profile (like `target-cpu=native`)

[2020-05-09 10:35] petrochenkov commented on #56527
I agree that it's a bug and will try to fix it.

[2020-05-09 10:36] hanna-kruppe commented on #72022
I don't know if we have such a rule in (any part of) rustc, but in my experience this is a convenient assumption for some analyses and transforms. So depending on the expected value of "bubbling up" `return`s (at a glance, it seems low to me), I'd be cautious about doing it just because we can.

[2020-05-09 10:43] EdorianDark commented on #44095
I think, that `clamp(a,b,c)` should behave the same was as `min(max(a,b), c)`.
Since `max` and `min` are not implemented for `PartialOrd` neither should `clamp`.
The issue with `NaN` was already [discussed](https://github.com/rust-lang/rfcs/pull/1961#issuecomment-289893089).

[2020-05-09 10:46] EdorianDark commented on #70887
@yoshuawuyts Are there any other functions for integers and floats with the same name, but return different results?

[2020-05-09 10:55] kw217 opened #72038 "rustc panic in proc_macro_server with bad rust-peg grammar"
I made a typo in a peg rule using the `peg` crate, and the compile failed with a rustc panic.

Not sure if this is a duplicate of https://github.com/rust-lang/rust/issues/70787 ; if so, please feel free to close in favour of that issue.

## Code

I used `peg` version `0.6.2` with the following `lib.rs`:
[code]
I expected to get an error that `'0` wasn't terminated, but instead I got the panic show

[2020-05-09 11:06] petrochenkov commented on #72038
Duplicate of https://github.com/rust-lang/rust/issues/59998

[2020-05-09 11:07] petrochenkov commented on #70787
Closing as a duplicate of https://github.com/rust-lang/rust/issues/59998

[2020-05-09 11:07] #70787 closed

[2020-05-09 11:20] tib888 commented on #42721
I have run into pretty much the same situation.
"conflicting implementation" check should consider the type constraints!

[2020-05-09 11:27] nguiard opened #72040 "rustc 1.43.1 panic "inconsistent resolution for an import" specific to x86_64-pc-windows-gnu"
### Minimal reproduction

Create a new project, add `clap-v3 = "3.0.0-beta.1"` in Cargo.toml. Compiles fine on linux, mac, windows with msvc toolchain, but panics on x86_64-pc-windows-gnu.

Tried with `cross build --target x86_64-pc-windows-gnu` on a linux server, but also `cargo build --target x86_64-pc-windows-gnu` on a Windows 10 VM. Both fail. Also fail if you do a `--release` build.

Interest

[2020-05-09 11:27] #72038 closed

[2020-05-09 11:31] petrochenkov commented on #72040
Looks like a duplicate of https://github.com/rust-lang/rust/issues/56935.
The issue is specific to cross-compilation rather than to windows-gnu.

[2020-05-09 11:51] nguiard commented on #72040
@petrochenkov  Interesting. So it is considered cross-compiling when I'm on the Windows 10 VM doing `cargo build --target x86_64-pc-windows-gnu`? Is it because host != target like the issue you reference?

Do you think that would be an approachable issue to try and hack on for me (not much knowledge of the compiler internals)?

[2020-05-09 12:03] petrochenkov commented on #72040
That's purely due to host != target, IIRC.

I don't know ¯\_(ツ)_/¯
The problem should be isolated in `librustc_metadata/creader.rs` and `librustc_metadata/locator.rs`, but the logic there is pretty messy.
The issue here is that we may attempt to load a crate with the same name more than once, but the second time doesn't hit the cache of "already loaded crates" and produces a new crate ID.

[2020-05-09 12:15] petrochenkov commented on #56935
Alternative short term solution just to make things compile (probably): disable the validation asserts mentioned here and in the linked issues if host != target.
The validation provided by the host = target case should be good enough for checking that there are no issues in name resolution itself.

Someone need to try it and check whether it works.
It's quite possible that the crate ID multiplicat

[2020-05-09 12:16] the8472 commented on #71997
A more intuitive way to achieve the desired result:

[code]

[2020-05-09 12:16] petrochenkov commented on #72040
@nguiard
An alternative "fix" that should be much easier to try - https://github.com/rust-lang/rust/issues/56935#issuecomment-626167114.

[2020-05-09 12:31] #52856 closed

[2020-05-09 12:50] yoshuawuyts commented on #70887
@EdorianDark yes, multiplication (`mul`) and division (`div`) work much the same way:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=60d1f781a6989f32751c50553e976b80)

[2020-05-09 13:02] FSMaxB opened #72046 "Potential for data race with VecDeque::as_mut_slices on separate threads"
According to my understanding `VedDeque::as_mut_slices` is potentially problematic because it allows creating multiple mutable slices into the same contiguous memory region.

Consider the following scenario: The `VecDeque` ist almost at capacity, meaning the first and the last element of one and the other mutable slice are within a few bytes from each other, meaning they are potentially in the sam

[2020-05-09 13:12] Mark-Simulacrum commented on #72046
The two slices don't overlap and to my knowledge, data races do not occur at the cache line level. It is perfectly legitimate for two threads to write to adjacent bytes without synchronization; it is only not acceptable for them to write to the same byte(s) without synchronization.

[2020-05-09 13:17] jonas-schievink commented on #72046
Yes, unsynchronized accesses within the same cache line are fine (if slow).

Otherwise this would mean that any heap-allocation would have to be cache-line-padded, and would also imply that scoped-thread APIs are unsound, unless all variable bindings are similarly padded (since a scoped thread can access arbitrary locals from the surrounding function).

[2020-05-09 13:17] #72046 closed

[2020-05-09 13:18] FSMaxB commented on #72046
Thank you for clearing this up!

[2020-05-09 13:32] noonien commented on #44095
@EdorianDark agreed. min, max should also only require PartialOrd.

[2020-05-09 13:43] RalfJung commented on #52856
I confirmed that with latest Miri master, `./x.py test --stage 1 src/tools/miri` works.

This makes me so happy. :D

[2020-05-09 14:27] jyn514 opened #72050 "Bad error for misplaced & in pattern"
I tried this code:

[code]

I got this error:

[code]

Instead, I expected a suggestion to use `for &(a, _) in &tuples {`. This error message is pretty bad and I make this error pretty often.

### Meta

`rustc --version`: `rustc 1.43.0 (4fb7144ed 2020-04-20)`
The problem is also present on nightly.

[2020-05-09 14:27] jyn514 commented on #72050
@rustbot modify labels A-diagnostics D-papercut D-confusing

[2020-05-09 14:46] bjorn3 opened #72051 "Huge compilation time for small snippet using async and explicit lifetimes"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94b3c45982d1724b0b4d29954915b81a))

Errors:

[code]

Backtrace:

[code]

@rustbot modify labels: +I-hang +T-compiler +C-bug +A-lifetimes

[2020-05-09 15:01] tmiasko commented on #70117
There is a mismatch between `rust_eh_personality` predefined by rustc (which has `i32` return type and variadic arguments) and one from the crate. The issue can be reproduced with code below, but observing it might require enabled LLVM assertions:

[code]

[code]

Using the same type signature seems to work fine, although it requires ZST to workaround requirement for at least one named argument.

[2020-05-09 15:05] Ixrec commented on #53487
Although a core/alloc/std merge has never been _explicitly_ RFC'd, at least half of https://github.com/rust-lang/rfcs/blob/master/text/1868-portability-lint.md is _very heavily implying_ that's the direction we want to go in. But it remains true that this is not likely to hit stable in the forseeable future, and shorter-term solutions for this are likely worthwhile.

[2020-05-09 15:29] lcnr commented on #72051
somewhat minimized:
[code]
To replicate this I needed:
- async
- two other arguments by ref
  - at least one arg must not be bound to `'a`, `async fn query<'a>(_: &'a (), _: &'a (), params: (&(dyn std::any::Any + 'a),) ) {}` compiles quickly
- the problematic argument must be contain an indirection(`&&(dyn std::any::Any + 'a)` compiles fine.
  - `Vec<&(dyn std::any::Any + 'a)>` and `[&(dyn std::an

[2020-05-09 15:54] EdorianDark commented on #44095
@noonien `min` and `max` are defined since Rust 1.0 and they require `Ord` and have a definition for `f32` and `f64`.
This is not the right place to discuss these function.
Here we can can only take care that `min`, `max` and `clamp` behave comparable and not surprisingly.

[2020-05-09 15:57] EdorianDark commented on #70887
@yoshuawuyts  Yes am aware that the operators behave differently.
But as far as I know there are up till now no functions with the same name and a completely different result.

[2020-05-09 16:23] petrochenkov commented on #31322
Is this issue obsolete now?
It's been 3 years since https://github.com/rust-lang/rust/pull/40113 was merged.

[2020-05-09 16:35] yoshuawuyts commented on #70887
@EdorianDark The same statement I shared above could be written as:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=651a4dc0fb714eee4118f3cc62197ced)

We can yet again observe the exact same methods being called with the exact same inputs yielding different results. One performs "integer division / multiplication" the other "float division / multiplicati

[2020-05-09 16:45] mati865 commented on #31322
Yes, it is.

[2020-05-09 16:46] petrochenkov commented on #31322
Closing then.

[2020-05-09 16:46] #31322 closed

[2020-05-09 16:51] RalfJung commented on #64490
No.

This is in reference to the fact that MIR lowering of `mut_ref as *mut _` actually generated `&mut *mut_ref as *mut _`. Since `&mut` is a very meaningful operation for Stacked Borrows, replacing that by `&raw mut mut_ref` is a huge difference. See [this PR](https://github.com/rust-lang/miri/pull/1163); the `shr_and_raw` failed before this change.

The `mutable_ref as *const _` situation is st

[2020-05-09 17:47] gyscos opened #72056 "Rustdoc fails to follow path after re-export."
When re-exporting modules from another crate, documentation for this crate does not follow rust paths correctly.

A simple workspace to showcase the issue:
* A `foo` crate, with a `foo` module and a `Foo` struct in this module. The `foo` module has documentation linking to the `Foo` struct.
* A `bar` crate which depends on `foo` with the line `pub use foo::*;`
From there, compiling documentation w

[2020-05-09 17:51] crlf0710 opened #72057 "#71819 Broke windows bootstrap."
In #71819, this code is added in bootstrap.py
[code]
And on windows, this error is emitted:
[code]

@jyn514  cc @Mark-Simulacrum

[2020-05-09 17:53] Mark-Simulacrum commented on #72057
This is fixed by https://github.com/rust-lang/rust/pull/71964

[2020-05-09 17:53] #72057 closed

[2020-05-09 17:56] petrochenkov commented on #37406
@varkor

It's better to make a new issue (or remove reference to this issue from the feature gate).

[2020-05-09 17:59] estebank commented on #72050
The machine applicable suggestion to remove the borrow from `&a` addresses all the potential issues in these cases, every since match-ergonomics were introduced. Before then we did suggest the correct pattern, but the current style is indeed to write `for (a, _) in &tuples {` and let the compiler figure out the correct borrows and dereferences.

What is the full output you would have preferred?

[2020-05-09 18:10] CAD97 commented on #55724
Status update:

#69362 stabilized (in 1.44) `Layout::align_to`, `pad_to_align`, `extend`, and `array`, and #70362 added `Layout::dangling` to this feature gate.

[2020-05-09 18:49] varkor opened #72059 "`link_cfg` feature gate is associated to closed issue"
https://github.com/rust-lang/rust/blob/f8b796b10b3282b02a6bb6f5b5be9dc8dc0dbf94/src/librustc_feature/active.rs#L334-L335
Relevant issue: https://github.com/rust-lang/rust/issues/37406.

I'm not sure what the state of this feature is, but we may want to use this issue as a new tracking issue.

[2020-05-09 18:50] varkor commented on #37406
I've opened https://github.com/rust-lang/rust/issues/72059, though I haven't had time to look into the state of this feature.

[2020-05-09 19:22] alecmocatta commented on #69214
Closing as this is fixed in latest nightly, I suspect by #71960. Thanks @estebank!

[2020-05-09 19:22] #69214 closed

[2020-05-09 19:53] jyn514 commented on #72050
Removing the `&` means that the struct is now borrowed, since the `&a` in `for &a in &tuples` means to automatically dereference the value. For example, this example does not compile if you use `for (s, _) in &tuples {`:

[code]

[Without the borrow](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3ad90c4a04d71f17e39db1099ddb6ce4):

[code]

The output I would have preferred

[2020-05-09 20:01] nagisa commented on #55407
I haven’t built rustc in a long time (and also have since removed failure modes causing linking to fail sometimes) so couldn’t possibly tell.

[2020-05-09 20:11] petrochenkov commented on #55407
I'll close this issue then as old and likely fixed.
If partial rebuilds don't work in some cases, those cases can be reported as new issues.

[2020-05-09 20:11] #55407 closed

[2020-05-09 20:17] overdrivenpotato commented on #72034
Closing for now, opted to use a temporary file in #72062.

[2020-05-09 20:17] #72034 closed

[2020-05-09 20:17] TheEnbyperor opened #72063 "Weird nonsesnical 'one type is more general than the other' error"
Getting mismatched types error despite exactly the same types. Works when called from some areas of project, fails from other areas.

I tried this code:
https://github.com/AS207960/whois-email, function send_mail in client.rs, called from sender.rs line 161.

I expected to see this happen: Works as if called from main.rs line 101

Instead, this happened:
[code]

### Meta

`rustc --version --verbos

[2020-05-09 20:21] ehuss commented on #72056
This appears to be a duplicate of #65983.

[2020-05-09 20:35] TheEnbyperor commented on #72063
Appears to be so yes.

[2020-05-09 20:38] TheEnbyperor commented on #64552
Any specifics on how/where to use this? Tried to use it to fix #72063 and caused absolutely no change.

[2020-05-09 20:55] #65440 closed

[2020-05-09 20:55] #71233 closed

[2020-05-09 20:58] dtolnay commented on #72051
@lcnr's repro is a regression in 1.43. It compiles immediately with 1.39 through 1.42.

[2020-05-09 21:15] rinon commented on #71817
It looks like clang does this before the IR hits the backend, so this would need to be done in rustc.

Clang -O2 output for your example (https://godbolt.org/z/qcwGTs):
[code]

[2020-05-09 21:22] joshtriplett commented on #71997
@the8472 As mentioned in the original comment, I understand that I could rewrite the loop in a way that Rust can figure out how to optimize. However, I'd like to see Rust optimizing the original code, which it has enough information to do; I expect that doing so will substantially improve quite a bit of existing Rust code.

[2020-05-09 21:23] rcoh commented on #70528
@rustbot claim

[2020-05-09 21:26] gyscos commented on #72056
Arf, missed that, sorry!
The source post from #65983 looks more complex though, with `[Baz]` expected to point back to the source, though that may be just a superficial difference.

[2020-05-09 21:26] #72056 closed

[2020-05-09 21:28] rakshith-ravi commented on #68437
@varkor would you mind if I take this up?

[2020-05-09 21:28] gyscos commented on #72056
Actually in my case I'd be very much fine with local resolution, pointing to the re-exported item as long as the module structure is the same.

[2020-05-09 21:44] kchibisov commented on #71817
It's done by this LLVM pass https://github.com/llvm/llvm-project/blob/master/llvm/lib/Transforms/Scalar/SimplifyCFGPass.cpp . You don't have control on what to generate from your match/switch IIRC. You can easily verify that by running clang with:

[code]

However it really depends on what you mean here. rustc can generate switch table now IIRC, however it fails on that particular case.

This code

[2020-05-09 22:12] jxs commented on #70314
thank you all for the support! :heart:
i finally took some time, and with the of the demo above was able to understand the problem, I fixed it by resorting to the default case which still works: having the macro being called on the top level of a mod file.

[2020-05-09 22:12] #70314 closed

[2020-05-09 22:15] estebank commented on #72050
But we _can't_ know that was the original intent with enough certainty. If we were to suggest this we would have to 1st check that `s`'s type is `Copy` _and_ that it is being used in such a way that needs to be owned, otherwise [we would get the following error after applying the proposed suggestion](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a46a47cb5006bfa872b89506f

[2020-05-09 22:16] Elinvynia commented on #71260
I have also been unable to reproduce this on the latest nightly with the provided minimal example.

[2020-05-09 22:17] jyn514 commented on #72050
Ok, so the lint will no longer be machine-applicable. Or we can only give the suggestion if `a` is `Copy`. It's still better than the current suggestion which changes the semantics.

[2020-05-09 22:22] jonas-schievink commented on #71260
This very much looks like a bug in a system library, not in Rust, so closing.

[2020-05-09 22:22] #71260 closed

[2020-05-09 22:37] varkor commented on #68437
@rakshith-ravi: you're very welcome to! Let me know if you need any guidance in tackling this issue!

[2020-05-09 22:38] insanebaba commented on #25289
This is still happening after 3+ years

[2020-05-09 22:59] Elinvynia commented on #33503
I am also unable to reproduce this anymore.

[2020-05-09 23:10] Elinvynia commented on #47527
I am unable to reproduce this:
`failure_derive` pinned to v0.1.1
RUSTFLAGS set to `-Ctarget-cpu=native -Zthinlto=on -Zmir-opt-level=3 -Zmutable-noalias`
rustc --version --verbose:
[code]

[2020-05-09 23:22] Elinvynia commented on #47517
I was unable to reproduce this using `Docker version 19.03.8, build afacb8b7f0` on ` 4.19.0-8-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux`
(otherwise the same rust image, repo, etc)

[2020-05-09 23:30] Elinvynia commented on #47438
I was unable to reproduce this on:
[code]

[2020-05-09 23:33] Elinvynia commented on #55927
Trying to build https://github.com/aeickhoff/compact v0.2.15 on
[code]
Results in just a warning:
[code]

[2020-05-09 23:41] Elinvynia commented on #55876
I am able to reproduce https://github.com/rust-lang/rust/issues/55876#issuecomment-441133094 on:

[code]
which results in: ```thread 'rustc' has overflowed its stack
fatal runtime error: stack overflow
Aborted (core dumped)```

also
[code]
which results in: `thread 'rustc' has overflowed its stack`

[2020-05-09 23:49] rinon commented on #71817
My bad, I was too quick and assumed the IR output was before optimization, not after.

Could SimplifyCFG be failing to combine this because the rust version has two PHIs to build a fat pointer rather than a simple integer sized global value?

[2020-05-10 00:27] jimblandy commented on #67387
Another case: it'd be nice if executors' `JoinHandle<T>` type could be `must_use` when `T` is `must_use`. I just wasted a bit of time on something that reduced to this:
[code]

Here, `spawn` returns a `JoinHandle<impl Future>`, the future of `foo`'s completion, which is dropped without comment.

[2020-05-10 00:48] estebank commented on #72002
I have a hacky solution to this in #72068. Looking this code up in godbolt I can reproduce it all the way to 1.0, earlier versions giving a type error (`&str` vs `&String`), then an ICE in the 1.2x (that I was causing during my experiments to fix this: `error: internal compiler error: re-trying op failed`) and finally the current error. The problem is caused (somehow) in `convert_place_op_to_mutab

[2020-05-10 01:36] lzutao commented on #70887
What about voting for the name in internals.rust-lang.org/ ?

[2020-05-10 02:42] timotree3 commented on #65682
I can still reproduce this on the playground with nightly-2020-05-08 and stable 1.43.1

[2020-05-10 02:45] timotree3 commented on #72002
In case this helps to find the root problem, #65682 gives a similar error: "`IndexMut` is not implemented" even though it really is.

[2020-05-10 02:49] OoLunar opened #72070 "thread 'rustc' panicked at 'failed to lookup `SourceFile` in new context', src/librustc_middle/ty/query/on_disk_cache.rs:456:17"
I was attempting to use [rocket.rs](https://rocket.rs) as a file server. Using Rust Analysis from the [VSC Rust extension](https://marketplace.visualstudio.com/items?itemName=rust-lang.rust), the code seems to be fine. When compiling on Rust Nightly, I get this lovely error:
[code]
Here's everything that _I think_ is required:
Backtrace: https://haste.natsumi.dev/acadolikuz.txt
[code]
Cargo.toml:

[2020-05-10 03:25] estebank commented on #72002
It seems closely related but #72068 sadly doesn't change the behavior on that ticket. I'll take a look at it though.

[2020-05-10 04:04] oddg commented on #35941
Thanks @oli-obk for the detailed approach. I'll take a stab at it if no one is working on it already.

[2020-05-10 04:41] #71297 closed

[2020-05-10 04:51] csmoe commented on #72070
Duplicate of #70924

[2020-05-10 04:51] #72070 closed

[2020-05-10 05:24] ehuss commented on #70924
I have a reproduction, not sure if it is the same thing other people are running into, but might give a clue.

If the source mapping of a file changes between builds, then the panic happens. One way to trigger this is to install (or remove) the rust-src component from rustup between builds.

1. `cargo new foo`
2. `cd foo`
3. `cargo build`
4. `rustup component remove rust-src`   (or `rustup compone

[2020-05-10 05:52] nfwatsoncom commented on #49773
Ditto from @tpn-station  ...  I likewise have source on WSL2 (Ubuntu-20.04 w/ native Kernel) filesystem with Ubuntu's root FS mounted as drive "N:" in Windows.  To Windows it looks like a network drive.  My Rust project is configured for Windows build (as opposed to running CLion in Ubuntu).

I also tried avoiding the "N:" drive-letter mapping and specifying source files directly as "'\\wsl$\Ubunt

[2020-05-10 06:08] alvardes commented on #71740
@RalfJung This is now fixed in serde. It is not released yet.

However I still think the error message is confusing. If the warning is generated because of incorrect use of references into packed fields in the derived code, then that is what the warning message should say instead of saying that the type doesn't derive `Copy` (when in fact it does).

[2020-05-10 08:12] RalfJung commented on #71740
Agreed, the rustc diagnostic should be improved. What it says is correct for the built-in `derive` but does not make sense for user-defined `derive`.

[2020-05-10 08:25] #72006 closed

[2020-05-10 09:48] sergey-melnychuk opened #72075 "Make sure empty struct always derives Default"
I was wondering if requiring an explicit derive(Default) for empty struct makes sense. It feels right that *empty* (for whatever reason) struct should derive Default, well, by default :)

This is my first issue in rust-lang, so any feedback is welcome. If such suggestion makes sense, I'd like to implement it with very little guidance from more experienced Rustaceans.

[code]

([Playground](https:/

[2020-05-10 09:49] he32 commented on #71743
It looks like this problem has been there for a while; it's also present in 1.41.1,
and probably in earlier versions as well (I didn't check earlier versions).

I've replicated it outside of the pkgsrc setup, and it's indeed being triggered by
a non-null DESTDIR in the environment passed to x.py when doing the "dist" target.
I have a workaround for the pkgsrc context by unset'ing DESTDIR.

[2020-05-10 09:51] augusto2112 commented on #38885
@rustbot unclaim

[2020-05-10 09:52] augusto2112 commented on #38885
@rustbot release-assignment

[2020-05-10 09:59] EdorianDark commented on #70887
The functions `mul` and `div` are the functions implementing the operators, so they have to have the same name because of the design of the operators.

Maybe lets looks at what other languages do for `log` on an integer:
* C++: [integer is cast to double and then log is called](https://en.cppreference.com/w/cpp/numeric/math/log)
* C: [integer is cast to double and then log is called](https://en.cp

[2020-05-10 10:14] matthewjasper opened #72076 "ICE: associated type missing default with default impl"
I tried this code on nightly:

[code]

I expected to see this happen: Mismatched type error

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-05-10 10:40] ratijas commented on #31383
The "best" (or at least working) solution I've seen so far is through [usage of `quote!`](https://github.com/woboq/qmetaobject-rs/blob/260d03d21d0fb99e75dde87f2bd47b74354b301d/qmetaobject_impl/src/qrc_impl.rs#L408) macro in procedural macro crates.

[2020-05-10 11:16] Elinvynia commented on #60447
I am unable to reproduce this anymore
`#1 SMP Debian 4.19.98-1 (2020-01-26)`
[code]

and WSL:
[code]

[2020-05-10 11:32] GopherJ opened #72078 "trait and struct functions conflicts resolving inconsistence"
[code]

This works fine, by default if we didn't use syntax like `TTest::say_hi(&t)` it uses struct's method.

consider another:

[code]

This won't work, it called trait's method while it should call just struct's method

[2020-05-10 11:36] GopherJ commented on #72078
I would like to have this working because in my situation I would like different struct shares the same trait.

They all have an immutable function, but in their own implementation, they can have different signatures and by default they'll be able to have different behaviour while having also a common shared behaviour using trait

[2020-05-10 11:51] GopherJ commented on #71186
I think we can also let `b.iter_async` accepts an executor, no need to have an executor in rust std side

[code]

Currently it's a pain to benchmark async code....

[2020-05-10 12:00] rakshith-ravi commented on #68437
@rustbot claim

[2020-05-10 12:23] Mark-Simulacrum commented on #71743
Ah, okay. Sounds like we probably need to unset DESTDIR internally when building LLVM? I'd be happy to accept a PR for that, but probably won't get to it myself.

[2020-05-10 12:40] jonas-schievink commented on #72075
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-05-10 12:40] #72075 closed

[2020-05-10 12:43] Elinvynia commented on #55812
Could this be a duplicate of https://github.com/rust-lang/rust/issues/48249 ?

[2020-05-10 12:52] ThibsG commented on #70360
I believe this issue can be closed now.

[2020-05-10 12:53] yoshuawuyts commented on #70887
@EdorianDark I'm glad we can agree these methods have the same names but behave differently. Similar examples could be written for non-trait based methods such as [`u32::div_euclid`](https://doc.rust-lang.org/std/primitive.u32.html#method.div_euclid) vs [`f32::div_euclid`](https://doc.rust-lang.org/std/primitive.f32.html#method.div_euclid).

---

@EdorianDark I think this is something worth explor

[2020-05-10 12:54] bjorn3 commented on #72051
I am currently bisecting this using

[code]

[code]

[code]

[2020-05-10 12:55] Elinvynia commented on #55818
I am unable to reproduce this on:
[code]

Compiling `pyo3 v0.4.1` just results in the following warning:
[code]

[2020-05-10 12:57] #70360 closed

[2020-05-10 12:59] bjorn3 commented on #72051
regression in 8498c5f5b02dbb4ed58a1eb4901b0b733342c35f

[2020-05-10 13:06] kpp commented on #68324
Did anyone try to make MRE?

[2020-05-10 13:15] RalfJung commented on #72009
As @the8472 indicated, arguments should be properly escaped when needed to make this unambiguous.

[2020-05-10 13:49] petrochenkov commented on #71651
Some history in links: https://github.com/rust-lang/rust/pull/71586#issuecomment-626328134

[2020-05-10 13:50] petrochenkov commented on #71647
Some history in links: https://github.com/rust-lang/rust/pull/71586#issuecomment-626328134

[2020-05-10 13:55] petrochenkov commented on #71647
@smaeul
I do not agree with what alexcrichton said https://github.com/rust-lang/rust/pull/55566, it's mostly a "it mostly works, so don't touch it because you may break something" position motivated by lack of resources and people ready to take responsibilities for this work on the Rust side.

We can *at least* make an experiment (possibly using crater, possibly landing this on nightly and reverti

[2020-05-10 14:08] fanninpm commented on #71639
In my effort to add this to the [glacier](https://github.com/rust-lang/glacier), I found that I'm having trouble replicating this on the latest nightly. Has this been fixed on your end?

[2020-05-10 14:28] fanninpm commented on #71506
I've confirmed that this also happens on the latest nightly on my platform (Mac).

[2020-05-10 14:54] sourcefrog opened #72081 "`warn(private_doc_tests)` warns about republished items"
I have doctests on a type in a private module, that's then republished into the crate's top-level module. I think this is a pretty common pattern in Rust?

Here's a simplified example:

[code]

If you run rustdoc on this, you'll see

1. The example is visible under the top-level `A` struct.
2. You get a warning about "documentation test in private item"

[code]

If you run rustdoc, it does build a

[2020-05-10 15:03] JOE1994 opened #72082 "Make 'cargo bench' to output iteration counts and other statistics?"
**Describe the problem you are trying to solve**

Display results of `cargo bench` currently doesn't give the user any info on
* How many times the benchmark was executed
* standard deviation of execution time among multiple executions

[code]

**Describe the solution you'd like**

I think `cargo bench` would be more helpful if it gave us info as below
* How many times the benchmark was executed
*

[2020-05-10 15:04] ehuss commented on #72082
Transferred to the rust-lang/rust repository. The bench harness is part of libtest which lives in this repo.

Also, I might encourage you to look at other benchmarking libraries like [criterion](https://crates.io/crates/criterion). The built-in bench harness hasn't had much attention to it.

[2020-05-10 15:12] fanninpm commented on #71427
I have a few questions for reproducibility reasons:

1. What level of MIR are you using? (I'd like to know a specific `cargo` or `rustc` command so I can add it to the [glacier](https://github.com/rust-lang/glacier).)
2. Does this still ICE on the latest nightly?

[2020-05-10 15:22] #71926 closed

[2020-05-10 15:42] EdorianDark commented on #70887
For operators like `*` or `/` and with them the functions `mul` and `div` the expectation is, that they operate within the the types of their arguments.

The logarithm is a [continuous function defined on all positive real numbers](https://en.wikipedia.org/wiki/Logarithm). The examples I listed show, that the expectation for `log` is to behave like the logarithm, mapping into floating point number

[2020-05-10 15:46] w93163red opened #72084 "Encounter STATUS_STACK_BUFFER_OVERRUN when compiling diesel on windows 10"
When I compile Diesel, I encounter this error:

[code]
![image](https://user-images.githubusercontent.com/7308728/81502799-2a4ee600-92ae-11ea-8437-fc1ce0d5ed65.png)

### Meta
[code]

</p>
</details>

[2020-05-10 15:50] ThouCheese opened #72085 "`Iterator::unzip` not zero cost"
In my attempt to move some code to a more functional style I found that the performance regressed significantly. I have narrowed this regression down to the `Iterator::unzip` function.

I tried this code:
[code]

I expected to see this happen:
I expect these benchmarks to yield the same results, since they both attempt to do the same thing.

Instead, this happened:
The benchmark results are:
[code

[2020-05-10 15:54] csmoe commented on #61482
tls prerequisite was removed from future.

[2020-05-10 15:55] #61482 closed

[2020-05-10 16:08] mati865 commented on #72084
cc @nagisa @oli-obk
Could it be regression from https://github.com/rust-lang/rust/pull/55617?

[2020-05-10 16:13] mati865 commented on #72040
This is the definition of cross-compilation 😄

[2020-05-10 16:21] bjorn3 opened #72086 "test/ui/numbers-arithmetic/saturating-float-casts.rs requires >2GB of memory to compile with latest nightly"
[code]

[2020-05-10 16:22] bjorn3 commented on #72086
@rustbot modify labels: +I-compilemem

[2020-05-10 16:24] nagisa commented on #72084
it is plausible if our redzone is not large enough, or if there are places where we forgot to add stack capacity checks.

Especially as the default primary stack size got reduced back to sanity…

That said, this needs a stacktrace and perhaps a MCVE.

[2020-05-10 16:25] nagisa commented on #72084
Also, apparently it can mean many other things too https://devblogs.microsoft.com/oldnewthing/20190108-00/?p=100655

[2020-05-10 16:30] estebank commented on #65682
There seems to be something unaccounted for in mir's `check_access_permissions`.

CC @oli-obk in case they have context around this already

[2020-05-10 16:35] nguiard commented on #72040
Yeah but in common terms, you're not doing cross-compilation when you're compiling on a Windows host for that very Windows host (whatever the toolchain at use, `gnu` or `msvc` etc). Host "platform" (architecture, vendor, system) is exactly the same as target. The only difference is ABI. I understand now, but not knowing much about these details when reporting the issue, I found it at first surpris

[2020-05-10 16:39] RalfJung commented on #71427
You need to use [Miri](https://github.com/rust-lang/miri/) to trigger this ICE. I am not sure if it makes sense to track it in glacier.

[2020-05-10 16:40] RalfJung commented on #71427
Actually, I think it is probably best to just close this in favor of https://github.com/rust-lang/miri/issues/1038, so let me do that.

[2020-05-10 16:40] #71427 closed

[2020-05-10 16:52] doctorn commented on #71036
minimised
[code]

[2020-05-10 16:54] dtolnay commented on #72051
FYI @nikomatsakis, @Centril, @matthewjasper who had context on #65232.

[2020-05-10 17:00] w93163red commented on #72084
I tried to run with RUST_BACKTRACE=1, but it did not show additional information.

[2020-05-10 17:03] nagisa commented on #72084
The stacktrace needs to be obtained with a debugger, as this is not a rust panic.

[2020-05-10 17:08] dwrensha commented on #64401
Here is a self-contained reduced example from that code. It can probably be reduced a lot more.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d7e1215d25002ec716b39015f9d82b6f

[code]

[2020-05-10 17:10] YYTVicky commented on #72084
Thanks for the quick reply~
Is there some guide I can follow through? Since it is a very large private project, it takes time to provide the MCVE... And also I notice that when I compiled this project on Mac, I did not encounter that two diesels are compiled at the same time, but in Windows:

![image](https://user-images.githubusercontent.com/61596169/81505748-9be36000-92bf-11ea-83bf-c2cf8342fc54.

[2020-05-10 17:13] w93163red commented on #72084
Thanks for the quick reply~
Is there some guide I can follow through? Since it is a very large private project, it takes time to provide the MCVE... And also I notice that when I compiled this project on Mac, I did not encounter that two diesels are compiled at the same time, but in Windows:

![image](https://user-images.githubusercontent.com/61596169/81505775-c0d7d300-92bf-11ea-8fac-aac626425cd2.

[2020-05-10 17:20] nagisa commented on #72084
@mati865 They are using the rustc version from a couple of weeks ago (04-25) so it cannot be the stacker PR.

@w93163red can you please try with a more recent compiler version? I’m unable to reproduce when building diesel with

[code]

---

As for the debugger, you should be able to just copy the failing command (which is shown in the "process did not execute successfully" message) and run it unde

[2020-05-10 17:26] programmerjake commented on #70887
I'd argue for *not* using just `log`, `log2`, or `log10` for integer logarithm because, even if we never intend to add int -> float logarithms, quite a few other common programming languages (C, C++, Python, Java, JavaScript, etc.) use just plain `log[2|10]` to mean the float form and quite a lot of people will assume that Rust's variants are the same float functions without checking the docs beca

[2020-05-10 17:34] programmerjake commented on #70887
Integer division doesn't really have the same naming issue as integer logarithm, since there are quite a few other programming languages where integer division uses the same operator as float division (C, C++, Java, etc.) so is much less of a learning obstacle.

[2020-05-10 17:38] CleanCut commented on #60447
The problem is still present for me on macOS even on nightly:
[code]

[2020-05-10 17:45] w93163red commented on #72084
The latest version also failed.

I will try to use x64dbg to show some dump info.

[2020-05-10 18:10] fanninpm commented on #64833
I know it's been roughly seven months since there's been any activity on this issue, but in my efforts to add things to the [glacier](https://github.com/rust-lang/glacier), I can't get an ICE from this. Have you tried the latest nightly?

[2020-05-10 18:29] estebank commented on #65682
Looking further I think that the problem is that the `place` for `i[()]` is a `Deref` instead of `DerefMut` before we get to the MIR borrow checker, which is why it rejects it as not mutable. This makes me think that somewhere in `typeck` we _don't_ flow the mutable obligation from the `i[()]()` call back to the `i[()]`. This also explains why `(&mut i[()])()` works, because the mutable obligation

[2020-05-10 18:29] fanninpm commented on #62649
In my efforts to add things to the [glacier](https://github.com/rust-lang/glacier), I couldn't get the MVCE to ICE on the latest nightly.

[2020-05-10 18:31] Vlad-Shcherbina commented on #71639
Yes, I'm able to reproduce the ICE with the minimal example by steffahn.
[code]

[2020-05-10 18:40] fanninpm commented on #71639
Thanks! It turns out the problem was on my end, and now I'm able to get it to ICE.

[2020-05-10 18:42] Pzixel commented on #62290
Sorry if I missed it, but what's the motivation under this feature? IMO It just adds a slightly different syntax for existing thing (`async ||` vs `|| async`), introducing confusion with no foreseeable benefit. Or at least this is what I see here.

Could you elaborate on that, please?

[2020-05-10 18:48] ecstatic-morse commented on #51003
I looked into this this morning. A few roadblocks remain.

For one, the MIR has no record of statements like `let _ = x` even before `SimplifyCfg`. More complex expressions seem to be lowered even when they are assigned to `_`, so I think the solution is to look for an assignment of an `ExprKind::VarRef` specifically and lower it to a `FakeRead` of some kind.

There's also the issue of associating

[2020-05-10 19:06] mati865 commented on #72084
@nagisa sorry, I should have looked at the date...

[2020-05-10 19:47] matthewjasper commented on #51003
The only reason `Span`s work while `HirId`s don't is because the incremental tests make stable hashing ignore spans. I think just using `HirId`s and clearing the `VarBindingInfo` after borrow checking so that it only affects unoptimized MIR would be fine.

[2020-05-10 20:06] khionu commented on #62290
`|| async { }` is not an async closure, it's a closure that contains an async block.

[2020-05-10 20:20] Pzixel commented on #62290
Yes, I see it, but what's the difference from the user perspective?

[2020-05-10 20:23] doctorn commented on #71036
As far as I can tell, the error originates from here:
https://github.com/rust-lang/rust/blob/bad3bf622bded50a97c0a54e29350eada2a3a169/src/librustc_trait_selection/traits/select.rs#L1854
When trying to prove coherence for the `DispatchFromDyn` impl, the compiler tries to prove `&'a &'a T: DispatchFromDyn<&'a &'a U>`. Somehow this winds up generating `<&mut T as std::marker::Unsize>` as an obligatio

[2020-05-10 20:26] doctorn commented on #71036
@rustbot claim

[2020-05-10 20:26] petrochenkov commented on #44815
Also rustc:
- doesn't canonicalize the feature list like clang does - there may be duplicates, same features with both `+` and `-`. I tried to find places in LLVM where this could break things, but found a couple at best. Memory sanitizer perhaps? https://github.com/rust-lang/llvm-project/blob/rustc/9.0-2019-12-19/llvm/lib/Transforms/Instrumentation/MemorySanitizer.cpp#L3738
There's at least one s

[2020-05-10 20:53] aloucks commented on #56546
The generated rustdocs seem to have regressed over the past few years.

For example the cgmath [Point3](https://docs.rs/cgmath/0.17.0/cgmath/struct.Point3.html) docs from January of 2019 have the traits expanded by default and the traits from the crate seem to be sorted to the top:

![image](https://user-images.githubusercontent.com/221559/81510236-4f5b4d00-92de-11ea-8092-e7ce781caa27.png)

Today,

[2020-05-10 21:13] estebank commented on #65682
I'm not sure what the correct thing will be, but I suspect that changing the following so that it modifies the adjustments for `callee_expr` to be mutable `Deref`/`Borrow` will do the trick, but I am not overly familiar with this part of the codebase:

https://github.com/rust-lang/rust/blob/1ccb0b4a020cac07a9772d0da722869096a46cef/src/librustc_typeck/check/callee.rs#L149-L164

[2020-05-10 21:14] GopherJ commented on #72078
I believe it's not only on `diagnostics` because from the print I can see it called trait's method

[2020-05-10 22:12] Nemo157 commented on #62290
There may be differences in how lifetimes in the arguments are treated once they’re supported. Also elaborating the return type is not possible with the closure to async block ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5340a05b0a17feba7309a80765b5edd9))

[2020-05-10 22:19] marmeladema commented on #71820
The issue is due to an AST simplification pass: `ReplaceBodyWithLoop`.
Before this pass, the name resolution pass creates a `DefId` for the macro with the closure expression as parent:
`fn main -> block -> closure -> block -> macrodef`
But later on, during `ReplaceBodyWithLoop`, the closure expression layer is removed and the AST ends up looking like:
`fn main -> block -> block -> macrodef`

Then,

[2020-05-10 23:05] w93163red commented on #72084
@nagisa I am not familiar with obtaining the stack trace...
Is this what you want?
![image](https://user-images.githubusercontent.com/7308728/81512777-1b3d5780-92f1-11ea-95f4-ff6b2d67f5bb.png)

[2020-05-10 23:15] nagisa commented on #72084
That’s close, but there are a couple of issues:

1. The stack trace is not symbolized; don’t remember if x64dbg has a way to make it happen here, if there’s no way to make symbols to show up in x64dbg, you might need to try a different debugger;
2. The stack trace is for cargo, not the crashing rustc invocation.

[2020-05-10 23:15] w93163red commented on #72084
When only executing the command:
![image](https://user-images.githubusercontent.com/7308728/81512940-9f440f00-92f2-11ea-983f-13b71282fb48.png)

[2020-05-10 23:22] retep998 commented on #72084
`STATUS_STACK_BUFFER_OVERRUN` has nothing to do with stack sizes or stack capacities or redzones (Windows on x86_64 does not even have a redzone). Rather it indicates some sort of fatal condition was detected and it did a fail fast abort.

https://devblogs.microsoft.com/oldnewthing/20190108-00/?p=100655

You're not getting any symbols from an `-msvc` build unless you have the associated PDB files.

[2020-05-10 23:27] w93163red commented on #72084
@retep998
If I understand correctly:
1. build a rustc with debuginfo enabled
2. run the above steps again with Visual Studio's debugger.
Am I right?

[2020-05-10 23:29] retep998 commented on #72084
That is what I would do to obtain a backtrace with full symbols, yes.

[2020-05-10 23:30] ollie27 commented on #72084
`STATUS_STACK_BUFFER_OVERRUN` is the error code you get from aborts. Given the screenshot contains:

[code]

This is almost certainly an OOM abort which is all the more likely on a 32-bit host (`i686-pc-windows-msvc`).

[2020-05-10 23:31] w93163red commented on #72084
My sys info: i7 8700 + 32 GB
Windows 10 pro 64 bits

[2020-05-10 23:32] retep998 commented on #72084
Even though your PC is 64-bit and has lots of memory, you're still *using* a 32-bit Rust.

[2020-05-10 23:33] nagisa commented on #72084
As of couple of days ago `stacker` has been integrated into rustc (and the default stack size has been reduced significantly) so technically we do have all of these things to consider as part of `stacker` (even if the underlying implementation on Windows is using Fibers).

That is why I thought it might be related to stack initially (but that cannot be true anymore because the rustc in question wa

[2020-05-10 23:35] w93163red commented on #72084
![image](https://user-images.githubusercontent.com/7308728/81513289-60fc1f00-92f5-11ea-8036-236d97edba74.png)
Just ~230MB?

[2020-05-10 23:36] nagisa commented on #72084
230MB is just the size of the allocation that eventually caused rustc to hit the memory limit for a 32-bit process. At the time this allocation occurred, the process likely already had somewhere around 3.something GB allocated.

[2020-05-10 23:37] retep998 commented on #72084
It also has to be able to allocate that 230MB as a single contiguous block. If there's some fragmentation from earlier allocations then it can fail even if there is enough space otherwise.

[2020-05-10 23:48] Ekleog opened #72095 "thread 'rustc' panicked at 'no label after fn', src/libcore/option.rs:1188:5"
### Code

[edit: better minified version in the next comment]
[code]

With, in `Cargo.toml`:
[code]

(If I didn't make a mistake in the process, I haven't been able to reproduce by reproducing manually what the `async_trait` crate does, so I'd guess it's probably related to it actually being a proc macro)

### Meta

`rustc --version --verbose`:
[code]

Also failed with:
[code]

### Error output

[

[2020-05-10 23:55] Ekleog commented on #72095
I've just found a better minified version:
[code]

Note that when removing the `,` after the `dyn Future<Output = Res>`, the ICE vanishes (hence my originally thinking I couldn't simplify the example more, as my auto-format would remove the comma)

[2020-05-11 00:05] petrochenkov commented on #56527
Fixed in https://github.com/rust-lang/rust/pull/72094.

[2020-05-11 00:12] #71757 closed

[2020-05-11 01:03] steveklabnik commented on #57227
Triage: no changes

[2020-05-11 01:04] joshtriplett commented on #64796
@pickfire Warning on `cfg(version)` would introduce noise for code that's trying to use `cfg(version)` to decide if it should use a feature or not.

[2020-05-11 01:33] w93163red commented on #72084
For x86_64 msvc, it still complains the same result:
![image](https://user-images.githubusercontent.com/7308728/81516450-e7206180-9305-11ea-935d-6d34207ccf7a.png)

[2020-05-11 01:39] joshtriplett commented on #55467
On Wed, May 06, 2020 at 06:38:16AM -0700, Niko Matsakis wrote:

I agree as well. The intention of the "confusables" lint was to handle
cases of Unicode characters with identical or near-identical rendering,
such as the Cyrillic capital 'A' that renders identically to the
Latin/English capital 'A'. I think warning on `l` vs `1` vs `I` by
default would generate far too much noise and lead people to

[2020-05-11 01:41] joshtriplett commented on #55467
On Thu, May 07, 2020 at 06:31:24AM -0700, Michael Bradshaw wrote:

Agreed. Let's not special-case ASCII here; we should be warning about
confusing characters between two different scripts.

[2020-05-11 01:43] Manishearth commented on #55467
I think this means we should just not implement the confusables lint, and stick to the mixed script confusables one

[2020-05-11 02:16] joshtriplett commented on #55467
On Sun, May 10, 2020 at 06:43:57PM -0700, Manish Goregaokar wrote:

I agree. I'm tempted to say we should just call the resulting lint
"confusables" rather than `mixed_script_confusables`, though, for
the simplicity of adjusting that lint. If we decide we want a
same-script confusables lint in the future, we could call that
`same_script_confusables`, since it'll be less common.

(Please don't take

[2020-05-11 02:18] ehsanul commented on #26951
Looks like there is now an unstable `alloc_error_handler` feature gate. Tracking issue: https://github.com/rust-lang/rust/issues/51540

[2020-05-11 02:37] ehsanul commented on #43596
Making allocation errors default to panic has undergone FCP successfully: https://github.com/rust-lang/rust/issues/66741

I wonder if there's a point to this cargo-level feature anymore?

[2020-05-11 03:02] w93163red commented on #72084
Thanks to @retep998 's help, a current workaround is using x64 rustc host to cross-compile 32 bit binary.

[2020-05-11 03:11] tavianator opened #72098 "Asymmetric "overflow evaluating the requirement" error with associated type constraint"
This code gives an error:

[code]

[code]

Yet, moving the constraint to `T` instead of `Self` works fine:

[code]

Since `T = Self` in the context of `Qux`, it's surprising this makes a difference.

### Meta

`rustc --version --verbose`:
[code]

[2020-05-11 03:23] jaybosamiya opened #72099 "Internal compiler error due to failed typecheck (on no_core)"
Bad types can lead to an internal compiler error, rather than an error message when compiling. Only affects `no_core` on nightly.

## Code
[code]

## Expected
[code]

## Reality
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2020-05-11 03:29] gh2o opened #72100 ""future cannot be sent between threads safely" error too conservative, doesn't account for moved/dropped objects"
I tried this code:

[code]

I expected to see this happen: Successful compilation

Instead, this happened: Following error was produced:

[code]

It looks like the compiler is a bit too conservative about when `ns` is dropped. In the case of the `if` branch being taken, `ns` gets dropped before await and thus should be a "dead" variable by the time the await occurs, but the compiler still thinks t

[2020-05-11 03:33] tavianator commented on #72098
It seems like this worked in Rust 1.3.0, but has been broken since 1.4.0

[2020-05-11 06:19] csmoe commented on #69938
Fixed in latest nightly
[code]

[2020-05-11 06:19] #69938 closed

[2020-05-11 07:45] leonardo-m opened #72101 "[ER] Partial inference for const generics too"
This is an enhancement request. I think it's good to accept partial generic arguments, allowing all this code to compile:

[code]

[2020-05-11 08:11] lcnr commented on #72101
This is fairly similar to https://github.com/rust-lang/rust/issues/70754, which already has some discussion on what needs to change in order to support this.

[2020-05-11 08:21] GuillaumeGomez commented on #70781
It's not supposed to be compatible between versions, indeed. Cleaning the `doc` repository would be a great idea!

[2020-05-11 08:32] bkchr commented on #59367
@GuillaumeGomez any progress on this?

[2020-05-11 08:59] leonardo-m commented on #72101
Thank you.

[2020-05-11 08:59] #72101 closed

[2020-05-11 09:31] jeroen commented on #34538
Hi all,

I would like to build a version of librsvg that runs on Windows 2008 (Vista). I am going to try to build a custom version of rust just to accomplish this.

Currently we get the rust dll error that about [missing SetThreadErrorMode in the system api](https://github.com/rust-lang/rust/issues/35471). Would a patch like this help? https://github.com/jeroen/rust/pull/1

[2020-05-11 09:56] Nemo157 commented on #53487
Given a core+std merge defining the `Backtrace` type unconditionally is relatively easy and 99% already implemented

[code]

Without the merge it's a little harder but still possible, using "inherent impls" and type erasing the capture

[code]

[2020-05-11 09:57] jethrogb opened #72104 "Bootstrap fails to build when switching between submodule and subtree"
When switching between git trees where one contains clippy as a submodule and one contains clippy in tree, x.py fails to initialize the submodule correctly in some cases, resulting in a failed build. For example:

[code]

[code]

Full output: [xpy-clippy.txt](https://github.com/rust-lang/rust/files/4608861/xpy-clippy.txt)

`/tmp/rust/src/tools/clippy/Cargo.toml` should be in the clippy submodule b

[2020-05-11 09:58] jethrogb commented on #72104
@rustbot modify labels: +A-rustbuild

[2020-05-11 10:07] RalfJung commented on #34538
@jeroen  This bug hare is about Windows XP; Vista+ have the SRW lock that panics use so your problem is likely unrelated. Please open a new issue.

[2020-05-11 10:26] matthiaskrgr opened #72105 "ICE: expected memory, got Static(DefId(0:6 ... ice-zst-static-access.rs with --emir mir"
Command: `rustc src/test/ui/consts/ice-zst-static-access.rs   --emit mir`

### Code
This code is from `src/test/ui/consts/ice-zst-static-access.rs`
[code]

### Meta

`rustc --version --verbose`:
The compiler is at revision aeb473803d1ead96fab51224ba3e366f44883423
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-11 10:31] willir opened #72106 "Unhelpful error messages for trait with unbound lifetime"
I was trying to implement [FromSql](https://docs.rs/rusqlite/0.13.0/rusqlite/types/trait.FromSql.html) of `rusqlite` for my reference type (with lifetime). And I faced an unclear error message, later I was explained that the trait does not allow the return type to borrow from the value argument since it doesn't specify lifetime parameter explicitly.

However, I thought that it worth filing a bug r

[2020-05-11 10:45] bjorn3 commented on #72086
This problem exists at least since `nightly-2019-08-01` (earlier versions don't work with `cargo bisect-rustc`: `error: Unrecognized option: 'json'`) if I change the test to avoid newer features:

<details>

[code]

</details>

[2020-05-11 11:15] yaahc commented on #53487
Sure, but if we just use the generic member access logic we don't even have to change the definition of Backtrace just to make it legal to reference it in core.

[2020-05-11 11:23] crlf0710 commented on #55467
@Manishearth Personally i think the RFC accepted mixed script confusable lint is quite weak in my opinion. The RFC is relying `confusable_idents` to provide confusable detection between similar identifers of both same script and mixed script, and `mixed_script_confusables` to detect suspicious or accidental usages of ad-hoc unicode scripts. The later doesn't really cover much.

[2020-05-11 11:26] jonas-schievink commented on #72100
Duplicate of https://github.com/rust-lang/rust/issues/57478

[2020-05-11 11:26] #72100 closed

[2020-05-11 11:49] RalfJung commented on #63197
Btw @axos88 I think we never got to the bottom of whether `RegisterBlock` contains MMIO memory? Because if it does, this
[code]
is wrong. `&RegisterBlock` gives the compiler permission to perform arbitrary reads from the memory the reference points to, even if the code would never read from that memory. Last time I tried to discuss this, we got derailed.

So, what is that `RegisterBlock` type? It

[2020-05-11 11:55] pietroalbini commented on #71988
Two new ones in a row from #72083:

* https://github.com/rust-lang-ci/rust/runs/661212134
* https://github.com/rust-lang-ci/rust/runs/661326448

[2020-05-11 11:56] lcnr commented on #72086
Relevant code on the playground: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cbddd20d91618d013375e30848178b3d). This test does not compile on the playground itself, as it requires too many ressources.

[2020-05-11 12:05] csmoe commented on #67087
Close as cannot reproduce on latest stable/beta/nightly.

[2020-05-11 12:05] #67087 closed

[2020-05-11 12:24] crlf0710 commented on #55467
Created a topic on zulip:
https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/nonascii.20identifiers(rfc.202457)

[2020-05-11 12:32] roblabla commented on #53487
@Nemo157 but that would cause coherence issues? Or are you suggesting adding a coherence exception to Backtrace as well?

[2020-05-11 12:57] lcnr commented on #72086
It may be a good idea to split both `main` and `casts` into smaller functions, as this is probably a general problem of `typeck` and `borrowck` with large functions. Not sure what makes this especially horrible though :thinking:

`summarize` of this test:
[code]

[2020-05-11 12:58] RalfJung commented on #72105
This [happens on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0660d014af7df17f153be8372e767a40), too.

Cc @rust-lang/wg-const-eval

[2020-05-11 12:59] Nemo157 commented on #53487
Yes, that would rely on `Backtrace` using the same sort of coherence exception to add new inherent methods to it. I also just realised it would need an exception to add `Drop` to it as well, which is probably much more of a problem.

[2020-05-11 13:03] lcnr commented on #72106
Minimized:
[code]
Error message:
[code]

[2020-05-11 13:04] RalfJung commented on #72099
The ICE is caused by a missing lang item:

https://github.com/rust-lang/rust/blob/3fe4dd2dda2826643c4ce4ee7307707a90e08d25/src/librustc_typeck/check/demand.rs#L637

Perhaps the error isn't great, but generally missing/wrong lang items leading to ICEs is not considered a bug. If you opt-out of the default lang items, it is your responsibility to figure out what to do. There's a reason `no_core` is

[2020-05-11 13:09] RalfJung commented on #72099
That said, probably it would be better to use [`require_lang_item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.TyCtxt.html#method.require_lang_item) unstead of `unwrap`; that should give a nicer error.

Or maybe the diagnostic could be skipped if the deref trait is missing.

[2020-05-11 13:10] gendx commented on #70924
I can confirm that in Tock (https://github.com/rust-lang/rust/issues/70924#issuecomment-617228202) we're doing `rustup component add rust-src` at some point during the build: https://github.com/tock/tock/blob/ba44dd690f2db52ab9c928975f85c34c1c6f5bea/boards/Makefile.common#L112

[2020-05-11 13:25] bjorn3 commented on #72086
Relevant massif output:

![image](https://user-images.githubusercontent.com/17426603/81566485-3bc1ec00-939b-11ea-80e4-41f3fafa5b7f.png)
![image](https://user-images.githubusercontent.com/17426603/81566548-51371600-939b-11ea-95ae-d771e4bed851.png)

(note: I didn't run it till the end)

[2020-05-11 13:42] SimonSapin commented on #43596
https://github.com/rust-lang/rust/issues/66741 is only relevant in programs where `libstd` is not used at all. This issue is about the behavior of `libstd`.

[2020-05-11 13:45] matthiaskrgr commented on #72105
Not very surprising imo since the original corresponding tickets ( #71612 , #71709 ) are only ~2 weeks old.

[2020-05-11 13:48] nagisa commented on #72084
Closing as inactionable on our end.

[2020-05-11 13:48] #72084 closed

[2020-05-11 14:06] nikomatsakis commented on #71550
Crater run from the fix [suggested 16 non-spurious regressions](https://github.com/rust-lang/rust/pull/71896#issuecomment-626287453) (thanks to @bjorn3 for the analysis).

I was thinking about that and I realize that it's *plausible* that we could do variance inference on associated types and use that to inform the variance for `dyn` types. It is sensible, for example, that a `dyn Iterator<Item =

[2020-05-11 14:10] LeSeulArtichaut commented on #72086
Assigning `P-medium` as [discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372086.20test.2Fui.2Fnumbers-arithmetic.2Fsaturating-fl).

[2020-05-11 14:13] nikomatsakis commented on #51003
I think this agrees with what @matthewjasper said, but I want to encourage us not to do anything "clever" around incremental -- that is to say, we should not try to tweak hashing schemes or something (imo), we should hash all the data. If we don't want something to be hashed, the right way is to remove it from the struct itself (which should then prove we don't have a dependency on it).

That said

[2020-05-11 14:23] nikomatsakis commented on #67387
Interesting example.

[2020-05-11 14:42] nikomatsakis commented on #41875
It's probably worth adding a bit of context here. We discussed this in our recent @rust-lang/lang team meeting and the general feeling was that this feature just felt like it wasn't adding enough value, given the potential for confusion and misuse.

[2020-05-11 14:42] RalfJung commented on #72105
Those tickets report different ICEs, from what I can see.

[2020-05-11 14:54] carols10cents commented on #71957
Oh that's... unexpected and undocumented...

[2020-05-11 15:15] petrochenkov opened #72110 "Tracking issue for `-Z strip=val` option"
Option `-Z strip=val` controls stripping of debuginfo and similar auxiliary data from binaries
during linking.

Supported values for this option are:

- `none` - debuginfo and symbols (if they exist) are copied to the produced binary or separate files
depending on the target (e.g. `.pdb` files in case of MSVC).
- `debuginfo` - debuginfo sections and debuginfo symbols from the symbol table section

[2020-05-11 15:19] petrochenkov commented on #46034
Closing in favor of the tracking issue for `-Z strip=val` - https://github.com/rust-lang/rust/issues/72110.

[2020-05-11 15:19] #46034 closed

[2020-05-11 15:23] matthiaskrgr commented on #72105
Reduced:
[code]

when I use an underscore binding `_` instead of `x`, the ICE no longer occurs:
[code]

[2020-05-11 15:28] est31 commented on #46034
There's also #34651 which is about putting debuginfo into separate files (instead of deleting it completely like `-Z strip=val` does).

[2020-05-11 15:57] nikomatsakis commented on #64490
So I've been thinking about this. I've started to lean back towards "we should just add the `&raw mut|const` operator, even though it's not ultimately the "end user" experience I think we want. More generally, I think we ought to be looking to make steady, incremental progress on unsafe code guidelines and fixing cases (like taking the address of fields in packed structs, or perhaps https://github

[2020-05-11 15:59] nikomatsakis commented on #71033
I believe so.

[2020-05-11 16:26] nellshamrell commented on #68430
Hello all - looking at my list of things to do, I realized I'm not going to be able to get to this in the immediate future. Taking my name off the issue for now so someone else can pick it up if they have time before I do.

[2020-05-11 16:27] DutchGhost opened #72113 "ICE: unable to turn pointer into raw bytes"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-11 16:34] RalfJung commented on #64490
@nikomatsakis  That's fine for me, too. :D So what would be the next step along that line? File a stabilization PR for `&raw` and FCP it? Or is it too soon for that?

[2020-05-11 17:08] DutchGhost opened #72115 "ICE: The type checker should prevent reading from a never-written local"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This code seems to hit the same ICE as https://github.com/rust-lang/rust/issues/69487, except *this* also ICE's on stable, rather than https://github.com/rust-lang/rust/issues/69487 only on nightly

[2020-05-11 17:14] ecstatic-morse commented on #51003
@nikomastsakis FWIW, my plan was to encapsulate this so that it would be clear to both contributors and reviewers when this `HirId` was used for something besides diagnostic spans or suggestions.

Regardless, switching `VarBindingForm` to be a single `HirId` seems to be somewhat contentious, and doing it is not necessary to fix this issue, since we can encode the spans ahead of time like #51275 di

[2020-05-11 17:30] Gankra commented on #64490
I also agree &raw is a healthy improvement over the status quo that should be made available as soon as possible.

In particular I like that this tiny step includes the clunkiness of `&raw const` for two reasons:

* Being slightly longer means folks are still subtly encouraged to make `&raw mut` and avoid the aforementioned const provenance issues. (and folks who want the variance properties of co

[2020-05-11 17:37] redradist commented on #69757
From my point of view this issue should be fixed, because it is completely not obvious that the same trait object has different fat pointers ... :(

[2020-05-11 17:42] estebank commented on #72106
Duplicate of #66406. CC https://github.com/rust-lang/rust/pull/67460.

[2020-05-11 18:07] estebank commented on #72115
Introduced in 1.36. Previous output:

[code]

[2020-05-11 18:13] #71033 closed

[2020-05-11 18:23] qutesy opened #72117 "confusing diagnostic for incorrect type parameter on BoxFuture"
I tried this code:

[code]

I expected to see this happen:
I wish the compiler had suggested that I should change `f: Option<BoxFuture<'a, F>>` to `f: Option<BoxFuture<'a, F::Output>>`,

Instead, this happened:
[code]

### Meta
Rust compiler version (stable version on play.rust-lang.org).
[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=753bd1e14656

[2020-05-11 20:01] Aaron1011 opened #72119 "Rustc fails to suggest 'consider borrowing here'"
The following code:

[code]

produces the following errors:

[code]

Both `use_it(a)` and `use_it(b)` fail due to a missing borrow. However, we only suggest adding a borrow for `use_it(b)`, which makes the `use_it(a)` error difficult to understand.

This is caused by the fact that `use_it(b)` fails when we try to equate the argument types, while `use_it(a)` fails when we try to fulfill the obligat

[2020-05-11 21:19] casey commented on #44034
@LukasKalbertodt If `config!()` is read-only configuration and doesn't need to be Rust code, one solution is to add it as metadata to the root `Cargo.toml`:

[code]

One potential issue is ensuring that macros are re-expanded whenever the metadata key changes, which I'm not sure how to accomplish.

[2020-05-11 21:28] arlosi commented on #70924
I was able to reproduce the issue on both sides of #69718, so I think the biseciton may be off.

I bisected it to #70642. cc @Mark-Simulacrum @eddyb
`c520802785e5f2b4312f1a364f53577d9a521815` => Pass
`c53e4b38779c3c074ae571b8520ab08e5bb0b904` => ICE

After #70642, rustc internally remaps the paths to files in the standard library *if* they are present on disk.

When the path for a file changes, so

[2020-05-11 21:53] ehuss commented on #70924
Ah, apologies @arlosi! I'm not sure what went wrong with my bisect script. I didn't notice those two PRs landed within a day of each other, else I would have looked closer.  Thanks for taking a look!

[2020-05-11 22:00] jsgf commented on #66510
@glandium I had a quick look at implementing it for Windows, but it seems pretty complex.

- If we pass `lpApplicationName`, then Windows does minimal processing to it (nothing aside from adding the current dir if none is supplied). It doesn't add an extension.
- The existing Rust impl does a path search and adds a `.exe` extension, but none of that used if it can't find the file. In that case it

[2020-05-11 23:21] estebank opened #72122 "Typo in docs for E0307"
[We refer to "Arbintrary self types"](https://doc.rust-lang.org/error-index.html#E0307), where it should be "Arbitrary self types".

_CC https://twitter.com/sgrif/status/1259982082417192961_

This issue has been assigned to @Rustin-Liu via [this comment](https://github.com/rust-lang/rust/issues/72122#issuecomment-628360874).

[2020-05-12 01:16] digitalnomd opened #72124 "Rustc fails to suggest an easy fix; instead provides a confusing error message"
The following code produces an unexpected error message:

[code]

I expected the compiler to give me a warning like "`ok_or_else` needs to return the trait `std::error::Error`. Instead you are returning `()`. Suggestion: remove the `;`.

Instead, I received the following error message which was hard to parse:
[code]

The rust compiler version that I am using is `1.43.1`. This behavior also exists

[2020-05-12 01:42] anandijain commented on #69131
I'm also wondering about this, in the (rust book)[https://doc.rust-lang.org/1.0.0/book/crates-and-modules.html]

there is this snippet
[code]
to have in the subdirectories' mod.rs, but I'm not getting cargo run to work with `pub use self::foo` and then `mod foo`.

[2020-05-12 02:06] est31 commented on #58713
More prior art: C# [has attributes](https://docs.microsoft.com/en-us/dotnet/framework/interop/specifying-an-entry-point) similar to Rust.

[2020-05-12 02:44] #67872 closed

[2020-05-12 02:44] #70813 closed

[2020-05-12 03:52] Aaron1011 commented on #69757
If we don't want to guarantee that vtables are unique, then I think a lint would need to effectively "deprecate" the `Eq/PartialEq` impls for `*[const/mut] T` and `[&/&mut] T` when `T: !Sized` (assuming that we want to lint on something like `HashSet<*const T>` where `T: !Sized`). The only alternative I could see would be to do some kind of post-monomorphization check, which I think could lead to

[2020-05-12 05:16] clarfon commented on #53487
This is why I brought up the stuff with `StrExt` and `SliceExt`; @SimonSapin was tired of the fact that these traits existed due to a limitation in the compiler and because it was a long time before any merge of core, alloc, and std was going to happen, he just did it by adding an unstable compiler feature. Don't think it's that bad of an idea to do this for `Error` too -- it seems relatively easy

[2020-05-12 07:09] oli-obk commented on #72115
duplicate of #69487

[2020-05-12 07:09] #72115 closed

[2020-05-12 07:11] oli-obk commented on #69487
this is a general issue with const eval. Typeck needs to const eval certain constants, for which we may not have invoked typeck yet. This ordering issue has existed since 1.0 afaik.

[2020-05-12 07:12] oli-obk commented on #69487
A simpler repro (from #72115) is

[code]

[2020-05-12 07:12] DutchGhost commented on #72115
Except this happens on stable, #69487 needs some opaque feature enabled. Should I make a comment there?

[2020-05-12 07:27] hellow554 commented on #72113
Little bit short:

[code]

`const` or `static` doesn't matter, if inside `main` or outside, doesn't matter. Just writing `&()` doesn't ICE:

[code]

[2020-05-12 07:30] hellow554 commented on #72086
@bjorn3 in that case use your own `test.sh` and run `rustc src/main.rs` and check the error code/grep for "internal compiler error" directly, that will fix the issue.

[2020-05-12 07:42] oli-obk commented on #72115
Yea, it's the same issue :) just that you found a nice minimal example compared to the other issue. I thought we had a dedicated issue for evaluating not-typecked constants, but I wasn't able to find it.

[2020-05-12 08:00] lcnr opened #72129 "Post lazy normalization for consts cleanup (#71973)"
While #71973 implements lazy normalization for constants,
there are still some bugs we need to deal with afterwards.

This issue is a collection of things not explicitly mentioned with `FIXME(lazy_normalization_consts)` so we don't forget anything.

[2020-05-12 08:03] lcnr commented on #72129
Add `src/test/ui/const-generics/issues/issue-69654.rs` back in, which causes an unrelated stack overflow once lazy normalization is enabled.
[code]
Also add the following similar test, which should compile but also causes a stack overflow.
[code]

[2020-05-12 08:23] ISibboI opened #72130 "Compiler suggests giving types to typed variables"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ad048dca4d3e79391488adb66bd91d7))

Errors:

[code]

The compiler seems to fail to infer that I want to divide f64 by f64 here. I am no master of the type system so I just gotta accept that. The error message is confusing though, as it points me to give variables a type that are already typed. Rust versio

[2020-05-12 08:40] hellow554 commented on #72076
## Regression found in the compiler

searched nightlies: from nightly-2020-05-03 to nightly-2020-05-05
regressed nightly: nightly-2020-05-05
searched commits: from https://github.com/rust-lang/rust/commit/65b448273dd280401cd440a6740a7cd891525ba3 to https://github.com/rust-lang/rust/commit/2454a68cfbb63aa7b8e09fe05114d5f98b2f9740
regressed commit: https://github.com/rust-lang/rust/commit/d6823ba166

[2020-05-12 08:56] lcnr commented on #72129
Taken from a comment by @nikomatsakis

[code]

[2020-05-12 11:30] leonardo-m opened #72136 "Suggest some usage of super:: in modules?"
This is wrong code:
[code]
Rustc currently (1.45.0-nightly 99cb9ccb9 2020-05-11) gives:
[code]
But I think it could suggest to write `super::once(1);` instead.

[2020-05-12 11:53] Alexendoo commented on #66371
Fixed by #72020

[2020-05-12 11:53] #66371 closed

[2020-05-12 12:29] steveklabnik commented on #49839
Triage: no chane

[2020-05-12 13:05] nikomatsakis commented on #59976
This came up again in the rust-analyzer RFC discussion, since some folks were complaining about the high cost of having to save in-progress edits over networked file systems.

[2020-05-12 13:06] RalfJung commented on #72136
Is using parent module imports like that considered good style? I'd rather add a `use` in the `mod`, to make each `mod` self-contained.

[2020-05-12 13:06] soldate commented on #25289
Hi, i try to build parity bitcoin and get this error.

They say to do:
- cargo build -p pbtc

but i do just
- cargo build

then i get this error. To solve i have to clean and make the right command.
- cargo clean
- cargo build -p pbtc

[2020-05-12 13:27] Mark-Simulacrum commented on #59976
I've personally been coming around to the idea of something like this. I think we would want any design we come up with to work well with extensions to proc macros that permit file loading. I guess build scripts aren't feasible to patch at all to work with a filesystem overlay.

I would also like it if whatever we did worked as more than just an overlay, i.e., you could specify a mode where the fi

[2020-05-12 13:39] zzeroo commented on #12859
For a project of mine I hit this error. I can't belive this issue dates from 2014 RLY?

https://gist.github.com/zzeroo/2f4168364eda226c7ec808a9153ad472

I try to set up a cross compilation environment to compile win32 binaries from a linux box. For separation I use docker containers, sorry that's all I can do to simplify the problem. Please see: https://gitlab.com/zzeroo/rust-crosspile the Dockerf

[2020-05-12 13:59] #72032 closed

[2020-05-12 14:09] Deluvi opened #72140 "LTO and no_builtins: undefined references to standard Rust symbols errors at link time"
It seems that depending on a Rust library that has the attribute `#![no_builtins]` prevents the linker to provide the needed symbols to the library.

I made a repository to demonstrate this issue with a minimal reproduction case: [Deluvi/bug-no-builtins-lto-rust](https://github.com/Deluvi/bug-no-builtins-lto-rust). The instructions to run the example are in the README.

Here is an example error li

[2020-05-12 14:42] mati865 commented on #12859
@zzeroo it's your distribution issue.
It's fixed in Fedora 32 but `fedora:latest` in your Dockerfile still points to Fedora 31 according to this page: https://hub.docker.com/_/fedora?tab=description

[2020-05-12 15:15] jonas-schievink commented on #49601
This error was introduced as a fix for https://github.com/rust-lang/rust/issues/32330. It seems to intentionally ignore projection inputs:

https://github.com/rust-lang/rust/blob/d903a9def4c29846ec6215ccc7fa76d39428f577/src/librustc_middle/ty/fold.rs#L966-L990

The reasoning there makes sense to me. Allowing this would potentially (depending on the `IntoIterator` impl) allow late-bound regions to

[2020-05-12 16:08] zzeroo commented on #12859
@mati865 thank you for this fast help. Sorry for that stupid question.

[2020-05-12 16:39] hbina commented on #72122
`Note: this error code is no longer emitted by the compiler.` So what happened to them? I still consider them to be faulty code, but I assume there's a discussion that led to the removal of this error. There ought to be more information about that on the page.

[2020-05-12 16:55] Systemcluster opened #72145 "Incorrect compilation / STATUS_ACCESS_VIOLATION when linking with lld with target-cpu set"
The compilation of crates fails in various ways when a certain combination of rustflags is set.

[code]

With this configuration I encountered the following issues:

* During installation of the `sd` crate (version 0.7.5), rustc crashes with a `STATUS_ACCESS_VIOLATION`. See the detailled error output below.
* When installing `starship`, the resulting binary doesn't work correctly ([see the issue h

[2020-05-12 16:58] estebank commented on #72122
I do not see that note for E0307 (but do see it for others, like E001). We do not remove documentation for error codes because people can use older compilers and might need help when googling for those errors they might see. As to what happened to them, they sometimes get superseded by other, more specific errors, and other times the compiler started accepting the code due to new features.

[2020-05-12 17:07] leo60228 commented on #72085
Usage of `extend` is irrelevant here, `vec.extend(Some(x))` has the same performance as `vec.push(x)` when it's benchmarked on its own.

[2020-05-12 17:23] tmandry commented on #72117
cc @estebank, I think the suggestion shouldn't be applied here. Is there a way we can target it more precisely?

[2020-05-12 17:26] tmandry commented on #72117
Triage: wg-async-foundations will track this until the incorrect suggestion is removed, other improvements to the suggestion are out of scope for us.

[2020-05-12 17:47] #72037 closed

[2020-05-12 17:51] tmandry commented on #71671
Triage: This error message is clearly confusing. We should see how we can improve it, or if this is already part of #64650 or #64552.

[2020-05-12 17:51] estebank opened #72147 "Suggest '_ lifetime when appropriate for dyn Trait"
We already suggest restricting the lifetime of return position `impl Trait` to `'_` when `'static` is inferred, but [we don't do so for `Box<dyn Trait>`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f784a8b13a73dcdcaa13d35a765f18d6).

Given

[code]

[we now produce](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f784a8b13a73dcdcaa13d35a765f18d6)

[2020-05-12 17:57] fanninpm commented on #67684
Curiously, I can't get the latest MVCE to ICE on the latest nightly for Mac, even though it ICEs just fine on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=01d73b0f3cc52bd8743333f15947cea7).

[2020-05-12 17:58] tmandry commented on #71072
Triage: This is an idea that has come up within wg-async-foundations. @LucioFranco last expressed interest in it, I think. Marking On Deck since I think it's something we definitely want.

[2020-05-12 18:02] jimblandy opened #72148 "Everything an async fn ever touches must be Send, if you want its futures to be Send"
I tried to compile this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=62b096a37946fa73586123ae9a1584ae):
[code]
but Rust complains that the future of `consume_result`'s completion is not `Send`. Same results if I assign an `Rc` to `r` and drop it on the next line. Note that `r` is not live across any `await` or the function's initial suspension.

This i

[2020-05-12 18:07] jonas-schievink commented on #72148
You can enclose it in a block

[code]

Duplicate of https://github.com/rust-lang/rust/issues/57478

[2020-05-12 18:07] #72148 closed

[2020-05-12 18:08] leo60228 commented on #72085
Wait, what? `extend` seems to be only *sometimes* worse than `push`...

[2020-05-12 18:15] fanninpm commented on #66768
I can't get the MVCE to ice on the latest nightly. Can anyone confirm?

[2020-05-12 18:55] estebank commented on #72117
Some extra filtering in the following will be needed, but without further checking I can't tell for sure what the check should be:

https://github.com/rust-lang/rust/pull/69082/files#diff-1d1b0d29a2e8da97c6bfb6e364d920c7R5070-R5089

[2020-05-12 19:05] Systemcluster commented on #72145
I was able to reproduce the errors by specifying (in addition to `linker-flavor`) the `target-feature`s `+fma` or `+avx` instead of setting a `target-cpu`. Other `target-feature`s (e.g. `+sse3,sse4.1`) work fine as far as I can tell.

Possibly related to #64609?

[2020-05-12 19:09] leonardo-m commented on #72136
If you think this is a suboptimal idea then I'll close this issue down.

[2020-05-12 19:29] haraldh commented on #70117
Oh, you are right.. I can totally remove it and it does not segfault anymore!
Thanks!

[2020-05-12 19:34] RalfJung commented on #72136
In no way do I have the power to discard this idea outright.^^ I just provided my input -- before/during an actual implementation of this, the relevant team(s) should be consulted, that is all.

[2020-05-12 19:35] haraldh commented on #70117
so, I added `#[cfg(debug_assertions)]` to `rust_eh_personality` because it's only needed in the debug profile, and seems to cause the segfault in release.

[2020-05-12 19:42] leonardo-m commented on #72136
It's OK, thank you. (In the title of this issue I've added a question mark because this is just a moderate suggestion, I am not sure it's worth having. Other my enhancement requests are more "sure" and don't have a question mark).

[2020-05-12 19:43] RalfJung commented on #72136
Raising the question certainly makes sense so thanks for the suggestion. :)

[2020-05-12 19:47] jonas-schievink commented on #64796
This feature seems to require that rustc's versioning scheme (along with the language features supported in each version) will be part of the Rust language forever, unless alternative implementations are supposed to use *their own* version number for this. I don't think the RFC is sufficiently clear on what's meant by this. The [reference-level explanation](https://rust-lang.github.io/rfcs/2523-cf

[2020-05-12 20:10] joshtriplett commented on #64796
@jonas-schievink I'm hoping that `cfg(accessible)` satisfies much of the demand for feature detection, and I think we may potentially provide other feature detection in the future. `cfg(version)` is intended as a last resort for subtle things that don't correspond to a specific feature. People can already do the same detection via build scripts, so we're not giving access to a capability people di

[2020-05-12 20:21] xliiv commented on #66509
Perhaps related to https://github.com/rust-lang/rust/issues/54172

[2020-05-12 20:33] redradist commented on #69757
@Aaron1011

I am not sure if Rust should to have different vtables for implementation of trait for the same object
because it does not seems like Zero-Overhead Abstraction !!
We have two vtables instead of one and for lots of traits it increases the binary size !!

I think the best that could be done is to stabilize trait object vtable address for the same object ...

[2020-05-12 21:35] rjsberry opened #72154 "ManuallyDrop constructed with properly initialized data via MaybeUninit fails ASan"
The minimum example I can get this down to is:

[code]

<details>
<summary>ASan output</summary>
<br>
<pre>
<code>
$ RUSTFLAGS="-Z sanitizer=address" cargo run --target x86_64-unknown-linux-gnu
=================================================================
==231==ERROR: AddressSanitizer: stack-use-after-scope on address 0x7fff9245bcc0 at pc 0x5590c6b16160 bp 0x7fff9245bbd0 sp 0x7fff9245b398
WRI

[2020-05-12 21:37] AlienKevin opened #72155 "Why does `>>&` compile?"
Hi, I found a weird "operator" that's not listed on the [list of operators](https://doc.rust-lang.org/reference/expressions.html#expression-precedence).

I tried this code:

[code]
the space between `>>` and `&` doesn't matter.

I expected to see this happen:
Compiler error telling me that Rust expects an expression after `>>` or something similar.

Instead, this happened:
It actually compiles and

[2020-05-12 21:40] jonas-schievink commented on #72155
There are two operators there. `&` takes a reference, `>>` is a right shift.

[2020-05-12 21:40] #72155 closed

[2020-05-12 21:41] lcnr commented on #72155
note: this is `2 >> (&1)`, which is implemented here: https://doc.rust-lang.org/nightly/std/ops/trait.Shr.html#method.shr-184

[2020-05-12 21:48] lcnr opened #72156 "Change opaque types to not be structural match."
The following currently passes the structural match check and causes an ICE later on:
(now that #72153 has landed, this emits an error)
[code]

I believe we have to either leak the structural match property of opaque types,
(similar to `Send` and `Sync` afaict) or forbid this entirely.

I am in favor of the second option for now. It should not be a breaking change to go from the
second to the firs

[2020-05-12 22:06] lcnr commented on #72156
The same problem probably also exists for `Generator` and `GeneratorWitness`, which are currently implicitly accepted.

[2020-05-12 22:18] Aaron1011 commented on #69398
This is the same type of issue as `https://github.com/rust-lang/rust/issues/67696`, except that it occurs in a different pass.

I wonder if we should just skip most (or all?) MIR passes on bodies that have inconsistent (always unsatisfiable) bounds. Ideally, we would still run borrow-checking, but I think trying to run all of the normal MIR passes is going to result in a steady stream of ICEs from

[2020-05-12 22:46] nbdd0121 opened #72157 "Rustc file lock not working on WSL"
WSL1 does not support `fcntl`-based advisory locks, therefore the current [src/librustc_data_structures/flock.rs](https://github.com/rust-lang/rust/blob/master/src/librustc_data_structures/flock.rs) implementation does not work.

This issue can be observed by running `cargo doc` on a repository with many crates. The `search-index.js` can miss crates.

According to my test `libc::flock` is working

[2020-05-12 22:51] AlienKevin commented on #72155
Thanks for the clarification 🙏 and sorry for bothering.

[2020-05-12 23:20] cuviper commented on #72157
The minimum [platform support](https://forge.rust-lang.org/release/platform-support.html) is Linux 2.6.18, so that seems fine. If we can get away with switching _all_ `unix` hosts to `flock`, even better.

[2020-05-12 23:34] nbdd0121 commented on #72157
Cool.

Sure.

[2020-05-12 23:44] xabxx commented on #71583
@ryzokuken hi there. Are you still working on this? :)

[2020-05-13 00:09] ThouCheese commented on #72085
In my experiments i got some significantly different results by _just_ replacing `.push(a)` with `.extend(Some(a))`, so I think that usage of extend is definitely relevant here.

[2020-05-13 00:20] cuviper commented on #72085
There's no common `push`/`with_capacity` methods -- `unzip` has to work with its constraints:

[code]

However, I'm playing with adding those as optional methods on `Extend`...

[2020-05-13 00:36] leo60228 commented on #72085
@cuviper The root cause seems to be that `vec.extend(Some(x))` has very poor performance in some scenarios. I think we should try to fix that instead of working around it.

[2020-05-13 00:43] cuviper commented on #72085
@leo60228 Another possibility is to add `SpecExtend` for `option::IntoIter`. That won't help with pre-allocating capacity, but it can at least be streamlined to act like `push`. However, specialization is still unstable, while new `Extend` methods could help any user's collection type.

Quick preview doing it my way, before:

[code]

After:

[code]

[2020-05-13 00:59] Havvy commented on #64796
Rust the language and rustc the compiler have the same release cadence and release versions. They're still technically two different version numbers.

[2020-05-13 01:20] Aaron1011 commented on #15701
What's the status of this issue?

[2020-05-13 02:43] estebank commented on #72130
[The output in nightly is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=98405b128184c5bf5012f04feef8b4c1)

[code]

Fixed by #71960.

[2020-05-13 05:08] ryzokuken commented on #71583
@xabxx couldn't find the time to look into this deeper, sorry. Feel free to pick it up.

[2020-05-13 06:03] ExoticMatter commented on #32739
Another workaround is to have an unreachable variant

[code]

With `exhaustive_patterns` it gets treated like a true empty enum, allowing an empty `match`:
[code]

It would be neat to have phantom data in an enum without needing an unreachable variant for it, though. Regardless of whether the enum is empty or not.

[2020-05-13 07:00] ISibboI commented on #72130
Thank you, then this seems to be resolved.

[2020-05-13 07:00] #72130 closed

[2020-05-13 07:49] FabienTregan opened #72165 "Add a white glow or background on the favicon."
Hi,

The Rust favicon is black and transparent. On dark browser themes, it is not easy to see. Since rust book and github also have this particularity, it's hard to find the tab among the other ones.

Not really important, but if it is cheap to fix that would help :)

My tabs right now:
![image](https://user-images.githubusercontent.com/2663407/81784921-e4885c80-94fd-11ea-8f0c-6ce617f7ce7f.png)

[2020-05-13 07:59] petrochenkov commented on #15701
The parsing priorities need to be reworked, IMO (needs an RFC).

Expansion needs a rewrite (especially treatment of trailing expressions, https://github.com/rust-lang/rust/issues/61733). This is in my plans for this summer.

Overall, the demand for this doesn't seem too high given the [expr -> stmt workaround](https://github.com/rust-lang/rust/issues/15701#issuecomment-449900562), so it's not a to

[2020-05-13 08:27] andreytkachenko opened #72167 "Error: implementation of `std::iter::Iterator` is not general enough"
I tried this code:
[code]

I expected to see this happen:  compiled

Instead, this happened: compilation failed with error:
[code]

### Meta

`rustc --version --verbose`:
[code]
<details>
<summary>Notes</summary>
<p>
This code compiles:

[code]
</p>
</details>

[2020-05-13 08:57] RalfJung commented on #72156
(similar to Send and Sync afaict)

I don't know what "leak" means.

But forbidding it for now seems best. :D

[2020-05-13 09:20] lcnr commented on #72156
This is what I've meant with "leak":
[code]

[2020-05-13 09:32] RalfJung commented on #72156
Ah I see -- auto traits are "leaked" through opaque ("impl Trait") types.

`Structural(Partial)Eq` are not auto traits though and likely can't be...

[2020-05-13 09:44] jonas-schievink commented on #72167
Duplicate of https://github.com/rust-lang/rust/issues/71671

[2020-05-13 09:44] #72167 closed

[2020-05-13 09:50] lcnr commented on #72156
I don't see the connection between auto traits and leaking through opaque types rn.
At least to my understanding we theoretically could completely leak the actual type and allow stuff like
[code]

[2020-05-13 09:56] RalfJung commented on #72156
AFAIK all auto traits currently leak through opaque types and nothing else does. That seems like a pretty direct connection to me?^^

[2020-05-13 10:04] lcnr commented on #72156
Didn't know we leak leak `Unpin` :eyes:

[2020-05-13 10:49] leudz commented on #64833
I got this error using:

I also noticed a few things:
- `left` is always the number of lines of the last block comment and `right` is always `1`
- adding anything after the block comment prevents the crash, even an empty line

[2020-05-13 11:01] xliiv commented on #70802
Block by (or at least related to) https://github.com/rust-lang/rust/issues/54172

[2020-05-13 13:39] nikomatsakis commented on #64490
We discussed this recently in the meeting and I believe we had some sense that while everyone would like to move forward promptly, we would overall prefer a macro like `raw_ref!(path)` rather than the `&raw` syntax. This macro would have to be "well known" to the compiler in some way -- I'll defer the discussion of how to implement that to a Zulip topic, since it doesn't seem that important.

We d

[2020-05-13 14:02] ebeasant-arm opened #72171 "clippy is not installed to destination dir if 'tools' config variable not explicitly defined."
Found whilst performing a extended tools release bootstrap build on aarch64:

Unless 'tools' is explicitly specified in config.toml with an extended build config, clippy is not installed, it is explicitly skipped as it does not appear in builder.config.tools (src/install.rs, Line: #158, Line: 222)
Clippy is actually built for stage 2, but not installed by install.py.
Of the default extended tools

[2020-05-13 14:06] nikomatsakis commented on #56604
@RalfJung

I have a point of information: Does anyone know what the C (and C++) rules are with respect to `const` pointers/references? In particular, if I 'const cast' away a const reference, am I limited in any way with what kinds of things I can do to the resulting pointer/reference? My understanding is that I am not but this is something I've never felt totally confident about.

I think I would

[2020-05-13 14:14] nikomatsakis commented on #44524
@redradist

This change does not affect the code you are describing. Both before and after this change, there is no need for a lifetime annotation on the `&mut self` parameter (i.e, the `'c` in your trait definition is not needed), but you would be expected to write `-> &'a mut MyStruct` (otherwise, the lifetime in the return type would be treated as being equal to the lifetime of the self paramet

[2020-05-13 14:16] elichai commented on #56604
In C/C++ the const qualifier is a "recommendation" and only matters in variable declaration, ie:
given this function:
[code]

This is valid:
[code]
This is UB:
[code]

[2020-05-13 14:26] wesleywiser commented on #72145
Possibly related to #71504?

[2020-05-13 14:30] WildCryptoFox commented on #65934
[Update: This still triggers an ICE on the latest nightly.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c7f4d896e2f383d33131b83b30a76ce2)

[2020-05-13 14:32] WildCryptoFox commented on #66768
@fanninpm [The playground agrees](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=018a604791021f06f9e2f3ab060d89ee) using @jethrogb 's [reduction](https://github.com/rust-lang/rust/issues/66768#issuecomment-568478614).

@Andlon Status for your project?

[2020-05-13 14:50] pietroalbini commented on #71987
There isn't a trivial way to implement this without changing bors, and the issue might be "solved" by enabling RLA for GHA. This is not a blocker for migrating to GHA, but it would be nice to get it fixed anyway.

[2020-05-13 14:59] RalfJung commented on #64490
Why would it have to be well-known? It could be implemented with the unstable syntax and `allow_internal_unstable`?

[2020-05-13 15:08] RalfJung commented on #56604
This makes sense to me, from the perspective of the borrow checker. However, does that mean that with `x: &T` we also permit `x as *mut _` because that is just a read?

---

If the decision is to adjust borrow checking like that, the next question is how to adjust Stacked Borrows. Currently, the type of the *new* reference/pointer fully determines the permissions of that pointer: when you reborrow

[2020-05-13 15:43] Mark-Simulacrum commented on #71848
I'm going to go ahead and close this as won't fix but cc @XAMPPRocky -- I've tagged this relnotes as a compat note, will it get picked up?

[2020-05-13 15:43] #71848 closed

[2020-05-13 15:44] Mark-Simulacrum commented on #72171
cc @oli-obk probably fallout from the subtree migration

[2020-05-13 16:10] spastorino commented on #70924
Assigning `P-high` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2370924.20'rustc'.20panicked.20at.20'failed.20to.20lookup.20.60S) and removing `I-prioritize`.

[2020-05-13 16:17] leo60228 commented on #72085
I don't believe this is possible. You can't currently specialize on trait generics, only the type the trait is implemented for.

[2020-05-13 16:22] nikomatsakis commented on #64796
I think the answer is that this is testing the version of Rust the language, and that a new version of Rust the language is released every six weeks. That seems ok to me. That pace of evolution may slow down at some point, or it may not.

It's true that, as a result of this feature, if there is some alternative rust compiler out there (let's call it alt-rustc), it would have to know which version

[2020-05-13 16:35] cuviper commented on #72085
I don't know why you say that -- if you look at each of the implementations below, they're all `for Vec<T>`, just specializing based on the `I` type parameter.

https://github.com/rust-lang/rust/blob/4802f097c86452cd2e09d44e88dbcb8e08266552/src/liballoc/vec.rs#L2059-L2061
https://github.com/rust-lang/rust/blob/4802f097c86452cd2e09d44e88dbcb8e08266552/src/liballoc/vec.rs#L2090-L2092
https://github.

[2020-05-13 17:39] Lokathor commented on #64490
I think the _idea_ is that the `raw_ref!` macro would be a "compiler builtin", so it doesn't expand to any real code that you could ever write, even on Nightly. It just expands directly to the MIR operation.

[2020-05-13 18:35] RalfJung commented on #64490
That would certainly be a possible implementation, but I do not see why that would be better than what I proposed.

[2020-05-13 18:40] jonas-schievink commented on #64796
That sounds very reasonable.

[2020-05-13 19:14] leo60228 commented on #72085
I tried that and got coherence errors, and I asked on Discord and that was the answer I got. Perhaps it's just a diagnostics issue: I was using `Option`, not `option::IntoIter`.

[2020-05-13 19:27] cuviper commented on #72085
Hmm, for coherence I'm guessing that it couldn't _guarantee_ whether or not `Option` overlaps those generic `I` specializations, whereas `option::IntoIter` should be a strict subset.

[2020-05-13 19:27] spastorino commented on #72076
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372076.20ICE.3A.20associated.20type.20missing.20default.20wit) and removing `I-prioritize`.

[2020-05-13 19:32] redradist commented on #44524
@nikomatsakis

Okay, seems like should be written another proposal for such life-time inference because I have already described in trait `B` life-time ...

It does not make sense to repeat it in implementation ... !

[2020-05-13 19:32] XAMPPRocky commented on #71848
Currently no, the `relnotes` tool only looks at pull requests, but I was already planning a small rewrite that will change that. If I don't get to that in time however I have saved this issue so I don't forget to include it.

[2020-05-13 19:53] Jonathas-Conceicao commented on #62290
One nice advantage of having async closure is the type signature for the closure's return. While with `async_closure` we can simply have:
[code]

Without it it's hard to annotate it's return type, since we have a generic `Future` and it has to be `Sized`:
[code]

[2020-05-13 20:01] joshtriplett commented on #67939
There's value in not reusing the IDs, such as if you use them as unique identifiers for log files.

[2020-05-13 20:04] noonien commented on #66118
Any update on this?

[2020-05-13 20:09] johnso51 opened #72174 "ICE: SIGILL in std::panicking::rust_panic_with_hook"
Illegal instruction executed in `rust_panic_with_hook` when `std::fmt::Display` panics. When attempting to print the backtrace it will output `thread panicked while processing panic. aborting.` then exits with a SIGILL.

I am working on getting together an example for this behavior. The code that caused it is quite large, and is currently proprietary. It looks like there are multiple panics happen

[2020-05-13 20:18] mahkoh opened #72175 "Document FromRawFd unsafety"
Currently the documentation of FromRawFd uses vague language:

What kind of memory safety issues is this quote referring to?

Using the nix crate it is not hard to write FromRawFd using only safe code:

[code]

This is the simplest way but you can also use `close` on the returned file descriptor and then call `File::open` again to create two `File`s with the same underlying file descriptor.

What

[2020-05-13 20:20] tmiasko commented on #72154
Minimized test case (in terms of generated LLVM IR):

[code]

Sanitizer enables emissions of lifetime markers to detect use after scope bugs. Alloca for array in `assume_init`  will not have one, but the one in `Wrap::new` will. Both functions are inlined into `main`, but inliner is asked NOT to add additional lifetime markers. Inliner notices that array allocas have disjoint lifetimes and merges

[2020-05-13 20:41] falk-hueffner opened #72176 "wrapping_neg generates unnecessary instructions"
I tried this code:

[code]

I expected to see this happen: when optimizing, both compile to the same code of basically one instruction.

Instead, this happened: Starting from 1.42.0, redundant instructions are emitted:

[code]

See here: https://rust.godbolt.org/z/H2YFAV

[2020-05-13 20:44] eddyb commented on #27732
Came across this again and... how did https://github.com/rust-lang/rust/issues/27732#issuecomment-480075569 result in nothing? Not even a comment?

Re-nominating (low priority, but should still not be unnominated before a decision).

[2020-05-13 21:15] sfackler commented on #72175
That would be a breaking change.

[2020-05-13 21:19] jonas-schievink commented on #72154
Is this actual UB that may be miscompiled, or just something the sanitizers complain about?

[2020-05-13 22:11] tmiasko commented on #72154
If similar incorrect transformation were performed under different circumstances that could have quite bad consequences.

At the same the impact of this particular issue is rather limited, since it requires opt-level=0 so that inliner does not introduce lifetime markers, and an enabled sanitizer so that lifetime markers are emitted during codegen (otherwise this happens only for opt-level != 0).

[2020-05-13 22:37] matthiaskrgr commented on #69398
This testcase inside clippy also seems to trigger the ICE with `--emit mir`:
`./src/tools/clippy/tests/ui/crashes/trivial_bounds.rs`
[code]

[2020-05-13 22:41] matthiaskrgr commented on #72105
The same ICE also triggers on this file in the miri submodule: `./src/tools/miri/tests/compile-fail/stacked_borrows/unescaped_static.rs` (with --emit mir)
[code]

[2020-05-13 22:49] matthiaskrgr opened #72181 "ICE: index out of bounds: the len is 0 but the index is 0' with --emit mir and mir-opt-level >1"
### Code
This miri test code `./src/tools/miri/tests/compile-fail/never_transmute_void.rs`

[code]
Causes an ice when compiled with `-Zmir-opt-level=2 --emit mir` (but not with opt-level <2 or missing --emit mir)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-13 23:47] doctorn commented on #71036
The obligation is generated here:

https://github.com/rust-lang/rust/blob/750db09fa800dceebba57d609d42969172118c92/src/librustc_trait_selection/traits/error_reporting/suggestions.rs#L756

Clearly some effort has already been made to avoid similar ICES:

https://github.com/rust-lang/rust/blob/750db09fa800dceebba57d609d42969172118c92/src/librustc_trait_selection/traits/error_reporting/suggestions.rs

[2020-05-13 23:49] ehuss commented on #72174
I think this is a duplicate of #69558, which should be fixed on 1.44 (beta). Can you try it on beta?

[2020-05-14 03:06] mimoo commented on #66140
getting the same error as well

[2020-05-14 03:14] Rustin-Liu commented on #72122
@rustbot claim

[2020-05-14 03:42] Caxpy opened #72185 "Symbol matching on experimental "or pattern" causes nightly compiler to crash"
Symbol matching an entire or pattern does not work. Not sure if this is allowed or not but I would expect and error message or something if disallowed, not a compiler crash.

I tried this code:

`#![feature(or_patterns)]`
`#![allow(incomplete_features)]`
`fn main() {`
`  match 1 {`
`    i @ (10..=20 | 30..=40) => println!("{} is between [10, 20] or [30, 40]", i),`
`    i => println!("{} is not bet

[2020-05-14 04:54] steveklabnik commented on #48654
Triage: no change

[2020-05-14 06:11] mahkoh commented on #72175
You're right.

Maybe the correct way would be to add a new trait `FromRawFdSafe` and a blanket impl of `FromRawFd` for `T: FromRawFdSafe`? Or maybe a new safe default function `from_raw_fd_safe` in `FromRawFd`? Both ideas seem extremely ugly.

Assuming that `dup2` should not be unsafe, I don't think there is currently a correct way to implement an actually unsafe `FromRawFd`. You can always create

[2020-05-14 06:55] oli-obk commented on #72105
I'm guessing it's https://github.com/rust-lang/rust/blob/09c817eeb29e764cfc12d0a8d94841e3ffe34023/src/librustc_middle/ty/print/pretty.rs#L962 so we need to match on the result of the `global_alloc` and print different output depending on it

[2020-05-14 07:28] daboross opened #72186 "Read::read_exact docs unnecessarily scare off users"
In a recent URLO post, someone saw the "no guarantees" paragraph in `read_exact`, and this convinced them not to use it (and to instead use `read`).

The post: ([link](https://users.rust-lang.org/t/can-i-use-bufreader-with-capacity-for-large-file/42595/10?u=daboross))

The paragraph:

While the caution is (or at least was) legitimate, I think for today's rust it's a bit negative. And if this is a

[2020-05-14 07:33] jfrimmel commented on #72185
Cannot reproduce with the latest nightly (both locally and on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fcc6084172c83da0c2782ae9fa8465e8)):
[code]

You're using a very old nightly (almost half a year). Update your compiler to a more recent version and the ICE will be gone.

Note: the backtrace is the sort of output you're getting, if you run the comp

[2020-05-14 09:10] Nemo157 opened #72188 "Add an allow-by-default lint against #[no_mangle]"
Given that [`#[no_mangle]` is unsafe](https://github.com/rust-lang/rust/issues/28179) there should be a lint that is capable of detecting it (there was a suggestion that `unsafe_code` should also detect it, but it might make sense to be able to lint it individually too).

[2020-05-14 09:13] retep998 commented on #70394
A similar issue exists here: https://github.com/rust-lang/rustc-perf/issues/181

[2020-05-14 09:50] djc opened #72190 "Incorrect diagnostics while referencing supertrait associated const"
I tried this code:

[code]

I expected to see this happen: an error that would help me write the correct code.

Instead, this happened: rustc tells me to duplicate the supertrait bound:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a60b4876d5d432ebe824d2dbfa93830d

This happens on both stable and nightly.

(I think it should potentially suggest `<Self as SuperTr

[2020-05-14 09:54] djc opened #72192 "Cannot access supertrait items in trait definition"
I tried this code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d962e9ed3712729d2d9150df48ecddf

I expected to see this happen: compiled without errors.

Instead, this happened:

[code]

I'm not sure whether rustc is incapable of accessing the supertrait items (because Chalk, I guess), or whether it's erroneously detecting an error.

[2020-05-14 09:58] #66855 closed

[2020-05-14 10:50] jonas-schievink commented on #72192
Since `fn array() -> usize { <Self as SuperTrait>::SIZE }` works fine, this is a duplicate of https://github.com/rust-lang/rust/issues/43408

[2020-05-14 10:50] #72192 closed

[2020-05-14 10:54] jonas-schievink commented on #72185
Closing as fixed.

[2020-05-14 10:54] #72185 closed

[2020-05-14 11:12] Mark-Simulacrum commented on #70394
Seems reasonable to track this just on rustc-perf for now, so going to close this in favor of that.

[2020-05-14 11:12] #70394 closed

[2020-05-14 12:04] lcnr opened #72195 "Prevent ICE on missing lang items."
There are currently quite a few locations in the compiler similar to the following:

https://github.com/rust-lang/rust/blob/7c34d8d6629506a596215886e5fc4bb2b04b00ae/src/librustc_typeck/check/mod.rs#L5301

This causes an internal compiler error in case the expected lang item is not defined,
for example when using `#![no_core]`. (see https://github.com/rust-lang/rust/issues/72099)

A better way to d

[2020-05-14 12:14] doctorn commented on #72195
Ah! This is my bad...

[2020-05-14 12:14] doctorn commented on #72195
@rustbot claim

[2020-05-14 12:26] RalfJung commented on #71988
This broke the 2nd rollup in a row: https://github.com/rust-lang/rust/pull/72187
Makes it kind of hard to land anything, really.^^

[2020-05-14 13:01] pietroalbini commented on #71988
We have a call with Github today, if there is no news we'll rollback the gate on GHA.

[2020-05-14 13:45] spastorino commented on #71359
This is really a `libs-impl` thing, fixing labels accordingly.

[2020-05-14 13:47] johnso51 commented on #72174
Aha, looks like I missed that one in my search, sorry about that. Confirmed the issue is fixed in 1.44 beta.

[2020-05-14 13:47] #72174 closed

[2020-05-14 13:51] spastorino commented on #68536
This is really a `libs-impl` thing, fixing labels accordingly.

[2020-05-14 13:56] spastorino commented on #67599
This is really a `libs-impl` thing, fixing labels accordingly.

[2020-05-14 13:58] RalfJung commented on #72188
So maybe `unsafe_code` should be a lint group, and include this new lint?

I am suggesting that because I think `deny(unsafe_code)` should suffice to trigger the new lint.

[2020-05-14 14:03] RalfJung commented on #72186
I think I authored or at least reviewed the changes that made the `read` docs more clear. The docs are prepared for a future where the passing of an uninitialized buffer itself is not UB, but of course if you call arbitrary safe code (via `Read::read`) and give it an uninitialized buffer that is still unsound and can cause UB depending on what the code does. I was not aware `read_exact` contains t

[2020-05-14 14:06] RalfJung commented on #72154
The original code is technically speaking UB for calling `assume_init` on an uninitialized `usize`. However, as far as I know it lowers to well-defined LLVM IR, so I do not think that is the source of the problem.

[2020-05-14 14:09] nixomose opened #72196 "rustup update causes clion debugging to fail"
A guy I was working with told me that there were new rustfmt features available in stable, and it was my task to reformat the code in our project so I did rustup update and it updated from 1.40.0 which is what I had to 1.43.1
the fmt features weren't there "fn_params_layout" doesn't work apparently in 1.40.0 it's called "fn_args_layout" but what we were looking for was "fn_call_width" which accord

[2020-05-14 14:39] estebank commented on #72190
What you're trying to write is not currently representable. The diagnostic needs to be fixed as it has for cases inside blocks already.

[2020-05-14 14:52] alexcrichton commented on #67599
A bisection pointing to https://github.com/rust-lang/rust/commit/d1040fe329a8db99ae0aae47975830a0829d7792 likely indicates that the implementation in the `backtrace` crate is different from the implementation that was previously in the standard library. Regardless though it looks like this bug is only on macOS, and it looks to me like it's a bug in libbacktrace itself.

From what it looks like I t

[2020-05-14 14:54] alexcrichton commented on #68674
A bit late to report on this, but if someone runs into this can the `backtrace` crate be tested out? A few bugs have been fixed as-of-late and I'm curious if it reports the right version of the backtrace here.

[2020-05-14 15:10] vitorenesduarte opened #72197 "`format!` debug fails even though Debug is implemented"
I tried this code:

[code]

When trying to compile it, I get:

[code]

The`[derive(Debug)]` alone seems to work since the program compiles without the `format!`.

### Meta

`rustc --version --verbose`:
[code]

[2020-05-14 15:23] vitorenesduarte commented on #72197
I've tried to remove the `#[derive(Debug)]` and add the obvious implementation and the code compiles.

[code]

However, when I run it, I get:

[code]

[2020-05-14 15:27] DutchGhost commented on #72197
The generated Debug impl expanded is:
[code]

Since`S1` does *NOT* implement Debug, `S2<S1>` does not either, so a call to `format!()` fails

[2020-05-14 15:28] doctorn commented on #72197
Adding `#[derive(Debug)]` to `S1` should fix.

[2020-05-14 15:28] oli-obk opened #72198 "Tracking Issue for const fn `<*T>::is_null`"
This is a tracking issue for making the `is_null` method on raw pointers `const fn`
The feature gate for the issue is `#![feature(const_ptr_is_null)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for

[2020-05-14 15:29] DutchGhost commented on #72197
Here you call `write!("{}", self)`, which calls the debug implementation of `S1<T>`, which calls the debug impl of....infinite recursion!

[2020-05-14 15:30] jonas-schievink commented on #72197
You are running into https://github.com/rust-lang/rust/issues/26925 and https://github.com/rust-lang/rust/issues/57965, so closing in favor of those

[2020-05-14 15:30] #72197 closed

[2020-05-14 15:33] vitorenesduarte commented on #72197
Thanks for pointing it out. Replacing `self` with `self.a` solves the issue.

[2020-05-14 15:38] sjep opened #72199 "Primitive vs struct antipattern?"
This is coming from a stack overflow [question](https://stackoverflow.com/questions/61732690/why-is-it-allowed-to-have-both-immutable-and-mutable-borrows-of-a-vector-of-nume/61734260#61734260).

My answer didn't sit well with me. While it's true that the `add_assign` isn't called in the primitive case, the fact that it's called shouldn't cause a compilation failure because the Vec isn't being pass

[2020-05-14 15:59] Nemo157 commented on #72188
I've got the basic lint working now. @RalfJung do you think it's worth adding it as a separate lint, renaming `unsafe_code` to something else (which I can't think of a name for), and adding them both as lints in an `unsafe_code` group; or better to just integrate it into the current `unsafe_code` lint?

[2020-05-14 16:11] estebank commented on #64490
It would prevent ossification of an "in progress" nightly syntax, particularly on crates that want to use this new syntax but also target stable through cfg flags. It also makes it easier to write custom diagnostics for incorrect cases. That being said, beyond those two points the difference is minimal.

[2020-05-14 16:18] zbraniecki opened #72201 "proc_macro in an existing library crate"
In multiple crates that I work on, `proc_macro` is used as a performance optimization helper for a parsing library.

For example, in case of [`unic_locale`](https://github.com/zbraniecki/unic-locale) I use it to allow users to specify a valid locale identifier at build time with no runtime cost:

[code]

The former validates at build time and spits out a pre-computed struct.

Unfortunately, `proc_

[2020-05-14 16:21] RalfJung commented on #72188
I'll defer to @rust-lang/wg-diagnostics for that :D

[2020-05-14 16:22] jonas-schievink commented on #72201
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-05-14 16:23] Manishearth commented on #72201
@jonas-schievink My understanding is that this is already a planned feature, are there any links to previous plans for this?

[2020-05-14 16:34] jonas-schievink commented on #72201
@Manishearth I'm not aware of any, outside of some vague language that does confirm that this is desirable in RFC 1566 [here](https://rust-lang.github.io/rfcs/1566-proc-macros.html?highlight=procedural,macro#proc-macro-crates). As it still seems fairly unclear how this feature would behave and how it would be implemented, I believe an RFC is in order (unless there are indeed some previous in-depth

[2020-05-14 16:40] zbraniecki commented on #72201
Filed on the internal as https://internals.rust-lang.org/t/proc-macro-in-an-existing-library-crate/12345

[2020-05-14 16:50] sjep commented on #72199
The slice version does mut dereference first. So the struct behavior between slice and vec both deref the left-hand side then the right-hand side. Slice doesn't call Index or IndexMut though, it dereferences directly from the slice.

I'm sure there is some desugaring going on to cause the behavior, but I'm not sure it should work this way?

[2020-05-14 17:01] nikic commented on #72176
The corresponding IR pattern gets optimized by LLVM 10 (but not LLVM 9): https://llvm.godbolt.org/z/taqx37

So probably this will be fixed by the LLVM 10 upgrade. Assigning myself to keep track.

[2020-05-14 17:25] RalfJung commented on #64490
I can see the diagnostics argument. But I think feature flags are a well-tried mechanism against "ossification" of unstable syntax.

[2020-05-14 17:26] retep998 commented on #48247
Status update, this is still an issue. Using latest nightly.
[code]

[2020-05-14 18:20] Ten0 opened #72207 "Specifying one associated type makes Rust forget about the constraint on the other ones"
I tried this code:

[code]

It does compile: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2a998f955ecf30d5debe97b01f2658df

If however we specify the values for the associated type `E` in `f` and `f2`, so that code calling `f2()` can depend on knowing the type `E`:
[code]
The compiler seems to forget that any `X::F2` implements `Fn(Self::E)`, and stops compiling: https:/

[2020-05-14 18:36] pietroalbini commented on #71988
GitHub is going to continue looking into this :heart:

In the meantime I'll remove the double-gate, to let the queue run more smoothly.

[2020-05-14 18:36] retep998 commented on #46043
Would it be possible to have a lint for this, even in unsafe blocks? I'd like to be able to detect code that does borrows of packed fields to fix them, but much of that code would already be inside unsafe blocks and not detected by this warning.

[2020-05-14 18:37] estebank commented on #72188
I am partial towards having a hard error when encountering multiple `no_mangle` functions with the same name in a given workspace, [as originally suggested](https://github.com/rust-lang/rust/issues/28179#issuecomment-137279496).

Adding this to `unsafe_code` might be problematic in the wild. Let's make a PR that rolls it into `unsafe_code` and see the behavior in the wild with a crater run, but if

[2020-05-14 18:42] Nemo157 commented on #72188
There's other ways of using `no_mangle` which create UB than just overriding within a workspace, e.g. the example in https://github.com/rust-secure-code/cargo-geiger/issues/104. While adding a hard error for cases that can be detected would be nice, I don't think it's possible in general.

[2020-05-14 19:02] ecstatic-morse commented on #68983
@DemiMarie-parity Sorry I missed your comment.

They could be, although the generated code would likely be worse than the branchy version. `#![feature(const_if_match)]` is close to being stabilized (see #49146), so I would prefer to wait until that occurs. If it is delayed for some reason, we could revisit.

[2020-05-14 19:31] gralpli opened #72210 "Improve error message when moving a captured value out of a closure"
I tried this code:

[code]

I got this error:

[code]

The error message is because the closure is not `FnOnce()` – it could be called multiple times. So this is correct.

But I think the error message is confusing, because it says something about moving **out of** `foo`. What’s happening instead is that the captured `foo` is moved out of the closure that needs it to stay there for a second call.

[2020-05-14 19:33] jonas-schievink commented on #72210
That sounds correct – *values* are moved, not bindings like `foo`, so saying that a value is moved out of its binding `foo` seems right to me.

[2020-05-14 19:42] bugadani opened #72211 "Bad machine is generated when"
Hi!

I am developing an application for an armv7 embedded device. I'm holding the application state in a stack-allocated enum, where one of the enum variations is 16k (total memory is 64k)

Switching to the huge app state, my microcontroller hard faults. I have played with a short repro on [godbolt.org](https://godbolt.org/z/fosnuv) and I found that a particular pattern reserves stack space where

[2020-05-14 19:43] DemiMarie-parity commented on #68983
@ecstatic-morse my experience in practice (albeit in Haskell) has been the opposite ― the lookup table is significantly faster.

[2020-05-14 19:45] neivv opened #72212 "static `extern "stdcall" fn()` causes linker error on i686-msvc"
Trying to compile the following code on i686-pc-windows-msvc fails.
The issue seems to be that for some reason `fn second`'s name is being mangled without `@0` that stdcall functions are expected to have?

`rustc main.rs --crate-type bin -C opt-level=2 -C codegen-units=5 -Clto=no`

[code]
link.exe is VS2019 version, though I believe the issue would reproduce on other Visual Studio versions as well

[2020-05-14 19:47] ecstatic-morse commented on #68983
You're welcome to try it out. If it is indeed faster, that would be a valuable addition to the standard library. I will point out that the obvious microbenchmark will put the lookup-table in the L1 cache, so it won't be fair unless you're calling these functions in a tight loop. Perhaps that's the most common mode of use?

[2020-05-14 19:50] pietroalbini commented on #71988
Removed the gate on GHA.

[2020-05-14 20:01] DemiMarie-parity commented on #68983
My tests were done several years ago, and indeed involved calling these functions in a tight loop.  I have no idea if that is the most common use, though.

[2020-05-14 20:05] doctorn commented on #72211
`fun` has to pass a return address pointer to `init`, what you’re observing is that the return address pointer that gets passed is a stack allocated temporary. The solution to this would be to detect situations in which return values are immediately written and pass the target of the write as the return address pointer instead.

[2020-05-14 20:06] jonas-schievink commented on #72211
This is a classic example of something that would be fixed by an NRVO pass.

[2020-05-14 20:08] ecstatic-morse commented on #68983
I think if you were able to demonstrate that a lookup table based approach was faster in rust, the libs team would seriously consider switching to it. I'm not on the libs team, so I don't know how they weight time vs. memory trade-offs such as this.

If you have any questions about writing microbenchmarks in rust, I'm happy to answer them. If you're not interested, consider opening an issue so som

[2020-05-14 20:08] doctorn commented on #72211
@jonas-schievink is this something that the MIR optimisation wg is looking at?

[2020-05-14 20:10] RalfJung commented on #46043
@retep998 certainly, long-term the lint should be entirely independent of whether there is an unsafe block or not.

Shorter-term... I suppose we could already add that lint and make it allow-by-default, would that work?
I'm afraid a warn-by-default lint is probably not going to be received well when there's no stable alternative we can point people to.

[2020-05-14 20:11] doctorn commented on #32966
@jonas-schievink should this be `A-mir-nrvo`?

[2020-05-14 20:13] ecstatic-morse commented on #72211
FWIW, with #72205, this results in the following assembly for `fun` on x86.

[code]

Versus nightly:

[code]

[2020-05-14 20:14] RalfJung commented on #71988
@pietroalbini thanks!
Does this take effect on the already running https://github.com/rust-lang/rust/pull/72202#issuecomment-628845457 ?

[2020-05-14 20:17] pietroalbini commented on #71988
It should.

[2020-05-14 20:21] ajtribick commented on #70336
This also affects `f64`:

[code]

gives

[code]

[2020-05-14 20:22] alexheretic opened #72213 "rustc panic when running `cargo doc` in AutoTraitFinder::find_auto_trait_generics"
rustc panic when running `cargo doc`. The crate otherwise seems to test, run & work fine.

### Steps to reproduce
* Checkout https://github.com/alexheretic/glyph-brush rev `ca74e6a25b26eed68b9513363bb45167a3729cd3`.
* Run `cargo doc -p glyph_brush_layout`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

<

[2020-05-14 21:08] RalfJung opened #72215 "Miri interning: what to do with dangling pointers?"
What should the const interner do when encountering a pointer that doesn't point anywhere? Right now it does `throw_ub_format!`, but inside a const that is actually a lint that can be allowed. Also the error is not very informative as it doesn't say *where* in the const the dangling pointer is. With https://github.com/rust-lang/rust/pull/71665 it does `tcx.sess.span_err`, at least guaranteeing to

[2020-05-14 21:21] lcnr opened #72217 "Type mismatch mentioning trait as type"
[code]
Causes the following error:
[code]
This is somewhat confusing, especially since `std::cmp::PartialEq` is not a type.

This issue has been assigned to @ayrtonm via [this comment](https://github.com/rust-lang/rust/issues/72217#issuecomment-663166876).

[2020-05-14 21:22] jaybosamiya commented on #72099
Thanks for looking into this! I understand that `no_core` is unlikely to be stabilized and it's the user's job to figure out what to do, but with the suggested fix and PRs, it makes it a much nicer experience for the user, rather than a direct ICE.

Thanks for being a wonderful language, project, and community <3

[2020-05-14 21:31] RalfJung commented on #53020
I either forgot this exists or was never aware.^^ But it is certainly scary... pointer equality is a really complicated subject.

But also, so far the feature flag doesn't actually let you do anything, does it?  `binary_ptr_op` still always errors in the CTFE machine, and [even unleashed Miri cannot do pointer comparison](https://github.com/rust-lang/rust/pull/72218).

[2020-05-14 21:35] hansihe commented on #50007
Hitting this issue as well.

My use-case is exporting some functions from my executable, then loading a dynamic library that needs to link to those symbols.

[2020-05-14 22:03] nikomatsakis opened #72219 "Tracking issue for Lazy Normalization of Constants"
As a subpart of https://github.com/rust-lang/rust/issues/60471, this tracks the work around normalizing constants that began with https://github.com/rust-lang/rust/pull/71973.

## Background and links to reading material

There is a [hackmd](https://hackmd.io/S8cE-e-ORtCqjJzyOU5cLQ) that sketched out some notes and a basic plan, though it's evolved some since then.

## FIXMEs and issues to be reso

[2020-05-14 22:27] steveklabnik commented on #55529
Triage: `asm` is being replaced wholesale in #69171 ; I am not sure if it changes this behavior or not.

[2020-05-14 23:06] retep998 commented on #46043
An allow-by-default lint is perfectly fine for now. Even a clippy lint would be fine.

[2020-05-14 23:09] #71290 closed

[2020-05-14 23:09] #72051 closed

[2020-05-14 23:09] #72099 closed

[2020-05-14 23:09] #71036 closed

[2020-05-14 23:40] rodrimati1992 commented on #72217
This looks similar to what I reported in https://github.com/rust-lang/rust/issues/59865

[2020-05-15 00:47] ecstatic-morse commented on #72022
The docs for `TerminatorKind::Return` do say that "this should occur at most once". I don't know how many places depend on this, however.

[2020-05-15 00:50] euclio commented on #69733
Likely caused by #45216.

[2020-05-15 00:52] 9il opened #72223 "precision loose in Fp mul"
Fp Multiplication result should be normalized for the extended 128-bit mantissa representation before round-to-even rounding. Otherwise, it may lose a bit of precision if both arguments are normalized and more bits if they weren't.

https://github.com/rust-lang/rust/blob/a74d1862d4d87a56244958416fd05976c58ca1a8/src/libcore/num/diy_float.rs#L24

Affects dec2float conversion.
https://github.com/rust

[2020-05-15 01:00] CAD97 commented on #48117
The links appear to have lost their original position.

Does the original concern still stand? (Does it stand with #69659?)

[2020-05-15 01:10] euclio commented on #68876
Message is different now:

[code]

[2020-05-15 06:17] nbdd0121 opened #72225 "Confusing diagnostics when calling FnMut through DerefMut."
The following code

[code]

produces the following error

[code]

The help message is especially confusing, since `DerefMut` is clearly implemeneted for `std::sync::MutexGuard<'_, A>`. This might be related to #68590.

[2020-05-15 06:37] hellow554 commented on #72213
somewhat minified:

[code]

[2020-05-15 06:38] #54172 closed

[2020-05-15 06:38] #69337 closed

[2020-05-15 06:48] hellow554 commented on #72213
Somewhat interesting:

nightly-2018-01-17 gives me:

[code]

and cargo check as gives me the same error message.

On nightly-2019-01-17 on the other hand cargo doc panics and cargo check does not complain any more:

[code]

[2020-05-15 07:12] Kixunil commented on #60728
Hmm, I don't know about that `as_ptr`. Forcing the user into using `into_ptr` is a great lint that would've prevented some bug's I experienced in C++ code had C++ have it. @CAD97 use case is legit, though. Does that one use case justify "removing a lint"?

[2020-05-15 07:24] hellow554 commented on #72213
Regression in nightly-2018-12-08 (14997d56a...4a45578bc) (nightly-2018-12-07 is not available)

The "no output" regression (from rejecting the program as such and giving no output at all) is in nightly-2018-09-13 (2f1547c0a...f2302daef)

[2020-05-15 09:10] xliiv commented on #66509
@mzabaluev is this duplicate of https://github.com/rust-lang/rust/issues/54172 ?
If so we could close it.

[2020-05-15 09:32] xliiv commented on #43466
This should be fixed now. See
* issue, https://github.com/rust-lang/rust/issues/54172
* MR, https://github.com/rust-lang/rust/pull/72173

[2020-05-15 09:38] vorner commented on #60728
@Kixunil Can you explain what you mean? It was renamed to `as_ptr` to hint that it should not be interchangeable with the `into_raw`. The documentation no longer suggests it should be possible to use `as_ptr` to re-create it with `from_raw` and then forget it. So I think your concern was already resolved?

[2020-05-15 09:43] RalfJung commented on #72198
Cc @rust-lang/wg-const-eval

[2020-05-15 09:46] RalfJung commented on #72198
Isn't this blocked on https://github.com/rust-lang/rust/issues/53020 ? Right now, `(&0 as *const _).is_null()` will error even with Miri unleashed (and that is good, ptr comparison is a complicated subject).

[2020-05-15 10:33] jonas-schievink commented on #72213
The latter is an intended change caused by https://github.com/rust-lang/rust/pull/53793

[2020-05-15 11:09] lcnr commented on #72219
cc #72129

[2020-05-15 11:35] zakarumych commented on #64260
For the case mentioned above
[code]

wouldn't it look nice to write this instead

[code]

Which would be possible by implementing `std::ops::Try for bool`

[2020-05-15 11:39] oli-obk commented on #72198
yeaaa... I was a bit overexcited about this one. As my implementation quickly exploded to exactly what you're saying there. I'll close this issue again, there's no point in tracking it here. I'll just add it to the skill tree

[2020-05-15 11:39] #72198 closed

[2020-05-15 13:26] Alexendoo commented on #68013
Fixed by #72194

[2020-05-15 13:26] #68013 closed

[2020-05-15 13:42] lzutao commented on #53488
Concern: How does this feature interact with self-referential struct?

[2020-05-15 13:45] RustyYato commented on #53488
@lzutao Rust has no native support for self referential types, so you will just have to be careful with the unsafe code you write.

[2020-05-15 13:49] lzutao commented on #53488
I know. But with [polonius](https://github.com/rust-lang/polonius), there might be support for self-referential types. So for future design space we need to care about how to interact this feature with self-referential types.

[2020-05-15 14:49] rust-highfive opened #72231 "`rls` no longer builds after rust-lang/rust#69659"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69659, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @CAD97, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-05-15 14:49] rust-highfive opened #72232 "`rustfmt` no longer builds after rust-lang/rust#69659"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69659, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @CAD97, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-05-15 15:50] hanna-kruppe commented on #72223
Does this actually lead to incorrect results in dec2float? I've long since paged this stuff out, but from a cursory glance both `big_to_fp(f)` and `power_of_ten(e)` seem to give normalized values.

[2020-05-15 16:49] rjsberry commented on #72154
Hi @RalfJung, I appreciate this is slightly off topic but could you clarify the UB in the original code?

FWIU the `assume_init` on `[MaybeUninit<usize>; 1]` is safe as this doesn't require proper initialization as per the `MaybeUninit` docs. The first element is then properly initialized and transmuted to the initialized type.

[2020-05-15 16:54] bodil opened #72237 "Integer overflow on String::drain() with an inclusive range"
I would expect this code to panic at the `drain()` because `usize::max_value()` is an out of bounds index:

[code]

Instead, it succeeds and returns an empty iterator. Looking at the [implementation for `String::drain()`](https://doc.rust-lang.org/src/alloc/string.rs.html#1542), I'm assuming an integer overflow happens at line 1542 `Included(&n) => n + 1` and the range is taken to be `0..0`. Hones

[2020-05-15 17:32] Lokathor opened #72238 "[docs inaccurate] Not all the `addcarry` intrinsics are marked with the appropriate required CPU feature"
The following functions use the `adx` CPU feature but in their docs they aren't marked as such:
* core::arch::x86::_addcarry_u32
* core::arch::x86_64::_addcarry_u32
* core::arch::x86_64::_addcarry_u64
* core::arch::x86::_subborrow_u32
* core::arch::x86_64::_subborrow_u32
* core::arch::x86_64::_subborrow_u64

This issue has been assigned to @creativcoder via [this comment](https://github.com/rust-l

[2020-05-15 17:35] doctorn opened #72240 "Make lang items private"
#72170 and #72216 put some effort in to try and prevent some potential ICEs that can occur in `#![no_core]` due to how we currently reference lang items.

@oli-obk pointed out:

I'm opening this issue to start a discussion about how we could take this forward.

[2020-05-15 17:42] doctorn commented on #72240
Here are my thoughts at the moment:

- The main thing we want to avoid is calling `tcx.lang_items().<item>().unwrap()` as in `#![no_core]` this is a hard panic
- Using `tcx.require_lang_item(<Item>, span)` trivially resolves this
- Ideally we would just remove all uses of `tcx.lang_items().<item>()` and remove those methods from the lang items API
- There's a problem in that the following is a pat

[2020-05-15 17:46] thomasjfox commented on #71502
Just wanted to say thank you for the quick fix and happy birthday to Rust!

Also Rust 1.43.1 compiled itself without problems.

[2020-05-15 17:51] oli-obk commented on #72240
If we want to make it clear that this should only be used for diagnostics, we could name the function `check_lang_item_for_diagnostic` or sth similar. It's a mouth full, but at least this means noone will mis-use it. Another alternative is to make it a method on `DiagnosticBuilder` that takes a closure and only invokes the closure if the `DefId` is the specified lang item. This way it definitely c