[2021-06-28 00:25] Skepfyr commented on #86528
"Minimised" to a reproducer involving 3 crates, 2 of which are empty: [repo containing repro](https://github.com/Skepfyr/rust-issue-86528).

The crates are laid out like so:
[code]
root and my_macro are both empty, dep contains the following code:
[code]

Using that repro I used cargo-bisect to find the offending commit:
searched nightlies: from nightly-2021-03-28 to nightly-2021-06-27
regressed n

[2021-06-28 00:32] inquisitivecrystal commented on #86613
@rustbot label A-io T-libs

[2021-06-28 00:32] Skepfyr commented on #86528
It's worth adding that this was triggered by syn, so it will probably occur for all crates that depend on a proc macro that depends on syn (i.e. basically everything).

[2021-06-28 00:35] inquisitivecrystal commented on #86672
@rustbot label A-const-eval A-destructors A-lifetimes T-compiler

[2021-06-28 00:37] inquisitivecrystal commented on #86677
@rustbot label A-diagnostics A-patterns C-enhancement T-compiler

[2021-06-28 00:43] inquisitivecrystal commented on #86675
@rustbot label A-macros A-proc-macros T-compiler T-lang T-libs

I apologize if I've gotten the teams wrong. I'm not 100% sure they're all applicable, but I've seen related issues linking to all 3. Feel free to remove any that don't make sense.

[2021-06-28 00:45] inquisitivecrystal commented on #86629
@rusbot label C-cleanup T-rustdoc

[2021-06-28 00:51] leonardo-m commented on #86677
I'm glad that Reddit thread gave birth to this issue :)

[2021-06-28 00:58] inquisitivecrystal commented on #86628
@rustbot label A-lints T-compiler

[2021-06-28 02:05] jyn514 commented on #86528
Uhh https://github.com/rust-lang/rust/pull/84767 is not the PR I would have expected but I guess cc @scottmcm just in case you know why this broke?

[2021-06-28 02:16] Serentty commented on #71668
Honestly, I worry that with this change, which makes unsafety much more verbose, many people will just be lazy and write an unsafe block inside their function (since the compiler wants them to), without bothering to mark the function as unsafe to call, even if it is. You can say “But they're not supposed to! That's now how any of this works!” But if you have to argue that, then you're dealing with

[2021-06-28 02:19] zhuxiujia opened #86681 "Implementing Add traits for Custom struct invalidates String+&String"
error[E0277]: cannot add `&std::string::String` to `std::string::String`
for example：
[code]

[2021-06-28 02:47] jturner314 opened #86682 "Unstable methods can interfere with stable method calls which use auto-dereferencing"
Given the following code:

[code]

([Rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=34698fdfbff0ffe1f6ada0bd84a2d5fe))

The current output is:

[code]

Ideally, the example will compile without errors, since auto-deref should result in a call to the stable [`Range::is_empty`](https://doc.rust-lang.org/std/ops/struct.Range.html#method.is_empty) method. Curr

[2021-06-28 04:28] inquisitivecrystal commented on #86682
It doesn't feel like there's a great solution here. The current state of affairs breaks the invariant that adding an unstable method shouldn't affect stable code, whereas the proposed change would break the invariant that stabilizing a method shouldn't change anything for people who have already opted into it as unstable. The latter is probably more acceptable, but neither of them seems great to m

[2021-06-28 04:53] jturner314 commented on #86682
Good point. There are two cases of interest:

1. The user has not opted-in to the unstable feature (i.e. they're on stable, beta, or nightly without enabling the feature).

   IMO, in this case, the compiler should ignore the unstable feature for the purpose of compiling the code. In other words, the only thing the compiler should do with not-enabled unstable features is to suggest that the user e

[2021-06-28 05:30] estk commented on #77654
I have encountered this

[2021-06-28 06:24] #84214 closed

[2021-06-28 06:36] scottmcm commented on #86528
Repros on godbolt, so the 2 empty crates don't seem needed: https://rust.godbolt.org/z/KEW4Koz7a

Agreed, @jyn514, I'm also completely surprised that the `?` change would break this.

Only thing I could think of would be that somehow it propagated a different type that somehow still compiled, but I've never seen an example of that.  And the layout stuff is using `LayoutError`, which is quite well-

[2021-06-28 06:41] inquisitivecrystal commented on #85894
If we don't have a way to add lint aliases, we should add that. I've come up with some possible lint renamings, based on [the relevant guidelines](https://rustc-dev-guide.rust-lang.org/diagnostics.html#lint-naming), though there are quite possibly better ones that still comply with the guidelines. As an aside, why are so many lints being added with noncompliant names?

**Meaning**
`or_patterns_bac

[2021-06-28 07:11] RalfJung commented on #71668
@Serentty in which way do you think that this RFC makes things any worse there? I wouldn't call "huge `unsafe fn` without any fine-grained `unsafe` control inside it" to be a "pit of success" -- that's also a failure, just a different kind.

[2021-06-28 07:37] HanWangwang commented on #79489
I had the same problem.
But I fix the problem in a way I can't understand.
I deleted MinGW/bin from environment variable PATH, rust project complied successful.
I added MinGW/bin to enviroment variable PATH, rust project complied failed.
I just install one MinGW program,but I find  some MinGW exe dll in .rustup/toolchains/stable-x86_64-pc-windows-gnu.
The program can barely run, but I'm still conf

[2021-06-28 07:45] m-ou-se commented on #85894
@inquisitivecrystal Thank you! That's very helpful.

We'll have to check which of these we can still change without causing too much churn.

It just seems that many contributors and reviewers aren't aware of the guidelines. (I wasn't aware until someone pointed it out after I added a lint with a noncompliant name.)

This one also warns about changed Sync/Send implementations on closures. Might mak

[2021-06-28 08:19] hellow554 commented on #86679
Looks like a dup of #84957

[2021-06-28 08:22] hellow554 commented on #86642
Looks like a dup of #83919

[2021-06-28 09:09] mendess commented on #75744
I have re implemented a subset of this in a small project of mine since this enum just has really good names for many usecases and I want to use it when it becomes stable, I have to say that the constants `CONTINUE`/`BREAK` are really useful as my usecases haven't needed to use something other than `ControlFlow<(), ()>`. So I would be glad if these constants made it to the final release so I don't

[2021-06-28 09:16] amaomaoa opened #86686 "1"
use std::collections::BinaryHeap;
pub fn main() {
    let mut heap = BinaryHeap::new();
    let v = [32, 423, 12, 324, 123, 312, 43, 543];
    for &i in v.iter() {
        heap.push(i);
    }
    println!("{:?}", heap.peek());
}

编译出现了错误
编译器版本
rustc 1.53.0 (53cb7b09b 2021-06-17)

在https://play.rust-lang.org/上面可以通过显示  Some(543)

错误信息
thread 'rustc' panicked at 'called `Result::unwrap()` on an `Err`

[2021-06-28 09:43] Serentty commented on #71668
For very long functions, that is a risk. For very short functions, I think the risk is in the other direction though.

[2021-06-28 10:25] #86686 closed

[2021-06-28 12:28] vamolessa commented on #86679
Oh, you're right!
Sorry about the dup, I found it hard to describe this issue so I didn't know what to search for.

Should we just close this then?
Is there value in pasting this code on that thread?

[2021-06-28 12:34] hellow554 commented on #86679
No worries! I happens to me a lot as well ;)

I try to search for the line that causes the ICE, in your case I would search for [`compiler\rustc_mir\src\borrow_check\region_infer\mod.rs`](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+compiler%5Crustc_mir%5Csrc%5Cborrow_check%5Cregion_infer%5Cmod.rs)

Yes please :)

Totally!
You could add a post saying "I used this code and have t

[2021-06-28 12:42] atagunov commented on #70230
Could it be

- writing a partial cache line requires CPU to first fetch that line from RAM + write it back
- writing a full cache line requires CPU to do writing only?

[2021-06-28 12:49] vamolessa commented on #86679
Alright, thanks!

[2021-06-28 12:49] #86679 closed

[2021-06-28 12:51] vamolessa commented on #84957
I also had this issue happen to me and I could reproduce it like this:
[code]

I think it's worth noting that the error goes away if we either:

I think it's worth noting that the error goes away if we either:
- we remove the `f` field from `Thing` (or just remove the `for<'a>` from the function signature and replace the `PhantomData<&'a ()>` with just  `PhantomData<()>`);
- we substitute both cal

[2021-06-28 14:19] jorendorff commented on #80351
#85499 will probably fix this.

[2021-06-28 14:33] jackh726 commented on #80351
@jorendorff excellent analysis here! You hit the nail on the head on the problem here. Indeed #85499 will fix this.

I'm going to close this issue as a duplicate of #62529. There are lots of examples and MCVEs of this.

[2021-06-28 14:46] Allen-Webb commented on #71668
@Serentty Do you have an ideas on how to resolve your concern? I would argue that laziness on the part of some developers should not be an excuse to prevent developers who are not lazy from being able to narrow the scope of the unsafe code in their code. It seems like to me that same argument could be applied to any Rust code---if people are lazy and don't want to solve the safety issues properly

[2021-06-28 15:15] nikomatsakis commented on #85894
We should rename `disjoint_capture_migration`, but `disjoint_capture_drop_reorder` doesn't sound right because it's incomplete. I think I like something like `edition_incompatible_closure_captures`?

[2021-06-28 15:17] nikomatsakis commented on #85894
This prefix (`rust_2021_incompatible`) makes sense for things that are "allow by default" -- that is, something you wouldn't warn about except as part of a migration.

[2021-06-28 15:35] #85512 closed

[2021-06-28 15:35] asquared31415 commented on #86590
Slightly cleaner example
[code]

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8c3abf0c994153e2d2c41e0722bd93b2)

[2021-06-28 15:37] nikomatsakis opened #86691 ""Manual" crater run for edition migration"
Before doing the public test, we should do a manual crater run. Here are the crates.io top-downloaded crates:

* rand
* syn
* libc
* rand_core
* quote
* unicode-xid
* proc-macro2
* cfg-if
* serde
* bitflags

[2021-06-28 16:35] lqd commented on #80351
Should we add all these minimal examples as tests on the PR then ?

---

The repro code above currently ICEs with #85499:

[code]

[2021-06-28 16:52] jonhoo commented on #86654
Oh, right, `fn` itself is a pointer here, so `&fn` is a pointer to a pointer, and the question is where that intermediate pointer is stored. Makes me wonder how the compiler makes the cast work in the first place — it can't just be a constant, since that doesn't have a memory address. I'm guessing it's probably an anonymous static then, which is also weird that the cast can generate implicitly.

S

[2021-06-28 17:22] bunnie opened #86693 "64-bit Array Pointer Misalignment on riscv32i"
I think this is a bug, which is exhibited in a riscv32imac, but not an x86 target.

I tried this code (see it on [goldbolt](https://godbolt.org/z/K8MK1v6f9) / [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=66f078fdf69a3cf2a578261740326f09) ); the version below has the `log` statements in there so you can line up the code against log data I provide later in thi

[2021-06-28 17:25] jackh726 commented on #80351
Thanks @lqd. There's over a dozen issues that are basically duplicates of #62529; I added several of the MCVEs in the PR itself, but ultimately they're generally testing the same thing.

Seems like this has an extra twist to it that will need further debugging (something I haven't seen for the other MCVEs).

I'm going to go ahead and assign this to myself to follow up on after #85499 lands.

[2021-06-28 17:42] FabianWolff commented on #86654
I think constants _do_ have memory addresses, just not necessarily stable ones. See the [reference](https://doc.rust-lang.org/reference/items/constant-items.html):

But they need to have some address, because you can create references to them.

---

What is the use case here? I can only imagine that you might want to add a method `m` to `Foo` that calls the function/data pointer, but then you alre

[2021-06-28 17:45] jackh726 commented on #44265
@lachlansneff yes, it's a pretty reasonable target

Here's my current take on a timeline:
- Soon™ - land #85499; this is basically only waiting on a review and possibly some perf regression fixes
- Soon after - land #84623; blocekd on #76826, which is closed by the above. Other than that, simple to review.
- Soon after - write a blog post; this will basically give a brief summary of the feature an

[2021-06-28 17:56] jackh726 commented on #80351
@jorendorff if you still want to help out here, feel more than checkout #85499 and run the repro. I imagine we're probably just missing a `normalize` call somewhere.

If you have questions, I can answer questions or chat on zulip or here.

(If you aren't interested anymore or don't have time, no worries!)

[2021-06-28 18:20] guswynn commented on #70263
Is this: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=343c55dbef8f6854799af4b8b328b6c1 another example of this?

[code]

To me this is saying, you have a fn that works for any lifetime, but its saying that is implements the trait for only 1 lifetime

I am following advice in https://users.rust-lang.org/t/hrtb-on-multiple-generics/34255 to pull my `for<'a>` bound into a t

[2021-06-28 19:11] #86188 closed

[2021-06-28 19:11] #65384 closed

[2021-06-28 19:11] #86286 closed

[2021-06-28 19:17] m-ou-se commented on #82913
We discussed this in the edition meeting, and weren't too enthusiastic about making this an edition change without also adding an automatic migration for it. Breakage on upgrading to Rust 2021 without automatic migration is a reason for not upgrading at all, which we want to avoid. Adding a migration lint for this is also not easy.

@nikomatsakis encouraged a discussion of this general issue (macr

[2021-06-28 19:19] nikomatsakis commented on #86411
I think for the time being, we should just forbid opaque types from appearing in impl headers altogether.

Eventually it might be something we could support.

[2021-06-28 20:55] Manishearth opened #86702 "E0581/E0582 (lifetime not found in input type) occurs even when the lifetime is in traits used as inputs"
[code]
([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4d8eb38921dd99e09c690cc7208280f9), also tested on `rustc 1.54.0-nightly (fe72845f7 2021-05-16)`)

produces

[code]

The lifetime is used in the inputs, just behind a trait.

[2021-06-28 21:56] Manishearth commented on #86702
A workaround to this bug is to just add an `&'a ()` parameter to the function. Ultimately, you are still allowed to write closures that borrow from the other parameter.

[2021-06-28 21:56] Manishearth commented on #86702
cc @eddyb @tmandry

[2021-06-28 22:06] Serentty commented on #71668
I agree as long as it's a lint that can be turned on, and doesn't get cranked up to being on by default or worse, an error.

My concern is one about the amount of ceremony required in order to use unsafe code with this. Yes, I understand the conceptual motivation of separating unsafe to call from performing an unsafe operation. On the other hand, requiring too much ceremony can make Rust less ergo

[2021-06-28 22:13] Serentty commented on #71668
I should add that I _do_ sometimes write code which would benefit from this, by the way. But the use case that I described in the previous post where I have lots of very small functions which do things like poke hardware registers is _also_ a major way I use unsafe code, and I don't think it's really a bad or unidiomatic one, but rather a nice and modular one.

[2021-06-28 22:20] phil-opp commented on #71668
Even if the lint was changed to warn by default you could still `#[allow(...)]` it at the crate/module/impl level for crates that use a lot of unsafe.

[2021-06-28 22:35] Manishearth opened #86703 "OutputTypeParameterMismatch error under -Clink-dead-code"
### Code

I haven't been able to minimize this but the two tests in https://github.com/Manishearth/icu4x/blob/yoke-ice/utils/yoke/src/yoke.rs#L474-L551 fail when run under `-Clink-dead-code`

Steps:
 - check out the `yoke-ice` branch of https://github.com/Manishearth/icu4x
 - `cd utils/yoke`
 - `RUSTDOCFLAGS="-Clink-dead-code" cargo +nightly test`

Adding code that makes use of the functions defin

[2021-06-28 23:10] Serentty commented on #71668
So then unsafe functions will be in a limbo land where they're still technically all one big unsafe block, but there's a lint against using them the way that they technically work. I think it makes more sense to just reserve some syntax for “function which is an unsafe block (and also unsafe to call)” separate from functions which are just unsafe to call. That way there's no ambiguity over what “u

[2021-06-28 23:18] Manishearth commented on #86703
This _may_ be related to https://github.com/rust-lang/rust/issues/86702

[2021-06-28 23:20] Manishearth commented on #86703
The weird thing is that even if I make sure all of the functions are used, I still do not get the error without `-C link-dead-code`, and still get the error with `-C link-dead-code`

[2021-06-29 01:03] nellshamrell commented on #80658
I've opened a PR with at least a partial fix for this issue:  #86705

[2021-06-29 01:07] dtolnay commented on #80996
@rfcbot poll libs-api Delete `core::ops::Bound::as_mut` because it is useless as far as any of us can tell
@rfcbot poll libs-api Keep `core::ops::Bound::as_mut` because wherever a `as_ref` exists, so must `as_mut`, even if useless

[2021-06-29 01:08] dtolnay commented on #80996
@rfcbot poll libs-api Keep `core::ops::Bound::as_mut` because wherever a `as_ref` exists, so must `as_mut`, even if useless

[2021-06-29 01:15] SergioBenitez opened #86706 "`#[allow(private_in_public)]` at "private" use site has no effect"
The use of a private type in a `where` clause in a trait impl currently results in an erroneous (https://github.com/rust-lang/rust/issues/34537#issuecomment-468161091) `private_in_public` warning. It appears that using `#[allow(private_in_public)]` on the `impl` itself has no effect. That is, the following still emits the lint warning:

[code]

Instead, to silence the warning, the lint has to be a

[2021-06-29 01:19] SergioBenitez commented on #34537
It seems like this hasn't happened yet, is that right?

What's more, I am unable to silence this warning by adding `allow(private_in_public)` at the "private" use site. That is, this still warns:

[code]

I've opened https://github.com/rust-lang/rust/issues/86706 for this specific issue.

[2021-06-29 01:26] glittershark commented on #80996
That poll wording seems a little... leading, doesn't it? I think calling`as_mut` decisively useless isn't quite right - what if you want to call an associated function on the endpoint of a bound that takes `&mut self`?

[2021-06-29 01:52] Manishearth commented on #86703
Jonas says this might be https://github.com/rust-lang/rust/issues/62529

[2021-06-29 01:52] Manishearth commented on #62529
Here's another: https://github.com/rust-lang/rust/issues/86703

[2021-06-29 02:01] xobs commented on #86693
To add more information,

I've simplified the program to this:

[code]

When I run this on a desktop Rust, it works just fine. However, building for an embedded RISC-V target, running this program produces the following output:

[code]

There is no unsafe code here, yet the pointer appears to be changing.

[2021-06-29 02:34] Manishearth commented on #86703
The ICE here is fixed by https://github.com/rust-lang/rust/pull/85499, however it gets replaced with the following (incorrect) error:

[code]

[2021-06-29 02:43] Mark-Simulacrum commented on #86597
@craterbot retry

Let's see if it's spurious...

[2021-06-29 02:48] #86633 closed

[2021-06-29 02:48] #86667 closed

[2021-06-29 02:49] jonhoo commented on #86654
I _think_ that's only in the contexts of _other_ constants referring to them, as suggested by the following text:

This ties back to the fact that constants are inlined everywhere:

Which means that while I suppose they may have an address in any _given_ place, they don't have one in general. At least I don't see how they could?

---

It's not prohibitive really, though very slightly unfortunate f

[2021-06-29 04:46] BaoshanPang opened #86708 "fail to build on Ubuntu 18.04"
[code]

[2021-06-29 04:48] chengniansun commented on #83483
A duplicate.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-29 04:51] chengniansun commented on #79699
Another duplicate.

[code]

[2021-06-29 05:15] #85680 closed

[2021-06-29 05:22] DoumanAsh commented on #57563
Do we have missing issue for `MaybeUninit::assume_init`?

In source code it is marked as `const_maybe_uninit_assume_init`
[code]

[2021-06-29 05:39] FH0 opened #86709 "can't move variable into closure in special case"
[code]

I want to move rx into closure but failed.
![image](https://user-images.githubusercontent.com/32861476/123742648-99d2cb00-d8de-11eb-9e43-050a0510092a.png)

I checked a lot of information but still can't solve it.
- https://github.com/hyperium/hyper/blob/master/examples/http_proxy.rs#L30-#L33
- https://github.com/rust-lang/rust/issues/41790
- https://stackoverflow.com/questions/53038935/can

[2021-06-29 06:33] xobs commented on #86693
What should the alignment be of a `u64` on `RV32I`? Should it be 32-bits or 64-bits? The LLVM IR seems to indicate it's 64 bits, but the actual pointer is only 32-bit aligned.

I think the strangest thing here is that `x_u64_ptr_second == x_u64_ptr_first` yet `x_u64_ptr_second & 7 != x_u64_ptr_first & 7`

[2021-06-29 06:33] fee1-dead commented on #86709
You expect the closure to be `FnMut`, but it can't. This is because you can't call it multiple times, since calling it moves `rx` into an async block.

[2021-06-29 06:47] bunnie commented on #86693
Updated the bug title to reflect the further root cause found. In summary:

- our data layout is defined as `"data-layout": "e-m:e-p:32:32-i64:64-n32-S128",`
- we can see from IR inside Godbolt that a 64-bit-aligned data structure is being requested:
[code]
- however, test cases show that we are getting 64-bit data structures that are aligned on odd-word boundaries (last 3 bits of pointer == 4, no

[2021-06-29 06:50] xobs commented on #86693
As mentioned by @bunnie , the root issue appears to be that `u64` is not getting aligned like it should.

Here's a minimum reproduction:

[code]

On `riscv32imac-unknown-none-elf`, this prints the following:

[code]

So it should be aligned, and some optimizations are turned on assuming that it is aligned, however it isn't actually aligned.

[2021-06-29 06:56] bunnie commented on #86693
Summarized as a haiku:

alignment is 8
u64 address: twelve
maintainers, please help!

[2021-06-29 07:18] usbalbin commented on #57563
That, I believe, was added in #79621. Do you want me to create a tracking issue?

[2021-06-29 07:19] RalfJung commented on #57563
Yeah, creating a tracking issue for the `const_maybe_uninit_assume_init` feature would make sense.

[2021-06-29 07:30] memoryruins commented on #57563
@DoumanAsh

[Nightly rustdoc](https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html#method.assume_init) hides the `const` before fn and displays `(const: unstable)` next to the version number (where "unstable" would link to a tracking issue if there was one). It will take a couple releases before this rustdoc feature makes it to stable docs.

[2021-06-29 08:31] markbt commented on #83527
### Update (2021-06-29)

Still no progress, as I haven't had any spare time to work on this project.  I'm still planning to work on it, and hopefully will get some time soon.

[2021-06-29 09:08] hellow554 commented on #86703
Reduced to this:

[code]

looks related at least

[2021-06-29 09:08] #66386 closed

[2021-06-29 09:19] lucassardois commented on #81061
I'm also interested in the stabilization of this API for the same reason as @Robbepop. However, I also agree that `filter_map()` should be named `try_map()` since it returns a `Result`. As an API user it makes more sense to me.

[2021-06-29 09:44] hrektts opened #86710 "Link fails with hidden symbol isn't defined"
This code [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3b264f273b6331f72d7cf3ef3d253457)

[code]

could not be compiled due to the following linker error:

[code]

This error disappears by commenting out part A and uncommenting either part B or part C.

### Meta

`rustc --version --verbose`:

[code]

[2021-06-29 10:15] CryZe opened #86711 "ABI: Ownership transfer through pointer involves unnecessary copies"
Let's say we have a reasonably large struct that doesn't get passed through registers:
[code]
Then we have some method on it that requires ownership transfer:
[code]
And then we have some sort of function that just passes ownership through to that method:
[code]
In C you would expect a "copy" of the struct to get passed into the function, as we pass the struct by value. And that's exactly what Rus

[2021-06-29 10:21] lqd commented on #86703
The subtlety with reducing this is that it quickly falls into an actual duplicate of #62529, losing what made it slightly different under #85499. That PR will successfully compile this reduction, but not the OP.

[2021-06-29 10:49] hellow554 commented on #86703
@lqd you're right. Here's what needs to be done, to be able to trigger the ICE with `-C link-dead-code` again:

[code]

which seems plausible, because that's what `link-dead-code` is supposed to do, right?
Is that enough or am I missing something?

[2021-06-29 10:50] FH0 commented on #86709
I did some attempts and it can only be called once. Finally I solved the problem using macros.

[2021-06-29 10:50] #86709 closed

[2021-06-29 11:04] BurntSushi commented on #80996
@glittershark Could you perhaps elaborate a bit more? Is it possible to show a short code sample?

I think that if `as_mut` is quite literally useless---in that there really no possible use for it---then I'd be against its inclusion. Principally because I would see its presence as confusing. e.g., "Why is std giving me a routine that has no possible use?"

But if it affords a little extra flexibil

[2021-06-29 11:05] Nemo157 commented on #71668
One solution I remember being mentioned (probably somewhere in the RFC thread) is expression functions to reduce the nesting (I'm not sure whether there's any issue open to track proposing these, IIRC they were something Centril planned on working on):

[code]

[2021-06-29 11:14] lqd commented on #86703
I guess it depends on your reduction goals :)

If you want the minimal ICE regardless of the intent of the OP, that's valuable for tests and debugging.

Similarly valuable, we could reduce to try to understand why the OP doesn't compile, [even without the ICE](https://github.com/rust-lang/rust/issues/86703#issuecomment-870183743): there could be
- an existing rustc bug that manifests today as this

[2021-06-29 11:18] rocallahan opened #86712 "Rust musl build segfaults on startup when linked with LLD 12"
Steps to reproduce:

[code]

Since the code is literally
[code]
I expected it to not segfault.

[2021-06-29 11:19] rocallahan commented on #86712
[code]
If I actually use `ld.bfd` the problem goes away, so this is quite possibly an LLD bug, though it might not be.

[2021-06-29 11:21] rocallahan commented on #86712
The segfault is in musl's `__libc_sigaction`. The segfault is at this instruction:
[code]
`0x7f844d0ee000` is unmapped memory. Looks like a linker relocation points somewhere wild.

[2021-06-29 11:21] rocallahan commented on #86712
If I remove the `use` statement the problem goes away.

[2021-06-29 11:35] eddyb commented on #86702
Sadly, it's not "used" in the specific sense that `rustc` cares about here ("constrained by" is much better IMO).
`<Y as Yokeable<'a>>::Output` is not obligated to keep `'a` (once normalized), this is why projections don't count as "(constraining) uses" of parameters. You can always have a blanket impl with `type Output = ();`, for example.

And the important thing is that not only the generic for

[2021-06-29 12:19] Serentty commented on #71668
Wow, that's just a tiny bit more verbose than I would find ideal, but it's a huge improvement. I definitely think that a good syntax should be added before making the lint the default. If there is a concise syntax added, I don't have as much of a problem with any of it.

[2021-06-29 12:37] gilescope commented on #84970
This is the one I was getting. I tried over the weekend to catch it with something smaller but it was hiding.
Is this one of the two known open issues or is this something else?

[code]

[2021-06-29 13:41] FabianWolff commented on #86654
Thanks for the interesting discussion by the way, @jonhoo!

I see your point, but I think we both mean more or less the same thing: Constants are usually inlined, so they conceptually don't have an address in memory, but if you take a reference to a constant, it has to point somewhere, so the compiler will create some (conceptually) ad-hoc storage location for the constant and make the reference p

[2021-06-29 13:45] xobs commented on #86693
Note that a workaround is to use a newtype. For example:

[code]

Then you can refer to it using something like:

[code]

I'm not clear why the align needs to be so large, but anything else causes it to not be properly aligned. It could be a misunderstanding of what `align(S)` means, and `S` is in units of bits and not bytes. At any rate, I've observed that `#[repr(align(32))]` remains aligned for

[2021-06-29 13:47] runiq commented on #71668
I don't see a big difference between that :point_up: and this :point_down::

[code]

[2021-06-29 13:53] Robbepop commented on #71668
You do as soon as your favorite Rust formatter goes brrrrrrrr
[code]
Fewer braces reduce the cognitive complexity for readers for non trivial examples.
However, I personally am not in favor of the expression short hand syntax although I also do not feel strongly about it either.

[2021-06-29 15:02] rossmacarthur commented on #79847
Also encountered this error, while using Clippy (on nightly only), reduced it to the following:

`cargo +nightly clippy`

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-06-29 15:25] GuillaumeGomez opened #86715 "Add search for external crates"
In gtk-rs, a lot of crates are provided and have been split into 3 repositories: `core`, `gtk3` and `gtk4`. Both `gtk3` and `gtk4` link to `core` using `--extern-html-root-url`, however it doesn't allow to look for items in `core` from neither of them.

The idea would be to query the `search-index.js` file from rustdoc front-end. However it brings the potential following issues:
 * The file could

[2021-06-29 15:27] GuillaumeGomez opened #86716 "Add the possibility to filter on more than one crate"
Currently, the search can only filter on one crate. Instead, it could be interesting to be able to pick more than one crate (and replace the `<select>` with a dropdown menu with tickboxes).

What do you think @rust-lang/rustdoc ? (In particular @jsha)

[2021-06-29 15:28] Manishearth commented on #86715
I don't quite understand what's being proposed in this one: are you proposing we try and find the file on disk somehow?

I also don't understand what is being proposed here.

[2021-06-29 15:28] Manishearth commented on #86716
ooh that sounds interesting. A good UI definitely sounds tricky  though

[2021-06-29 15:29] Manishearth commented on #86702
Yeah I definitely think this situation should have a diagnostic that at a minimum talks about the soundness issue and perhaps proposes the workaround.

[2021-06-29 15:45] GuillaumeGomez commented on #86716
I had something like that in mind:

![Screenshot from 2021-06-29 17-43-33](https://user-images.githubusercontent.com/3050060/123828294-a61c4f80-d901-11eb-8585-0201ca06b241.png)

Eventually a button "select all" or something. Well, I'd prefer to wait for @jsha's return for this for the UI. :)

[2021-06-29 15:48] GuillaumeGomez commented on #86715
Let me try to improve the explanations then:

In case you only document your current crate and not its dependencies, in the doc pages, if you use `--extern-html-root-url` it'll link to the correct page if you click on a type from one of the dependencies. However, you can't "search" for this type because it's not in the search index. It was brought to my attention that it could be useful to have th

[2021-06-29 16:18] Manishearth commented on #86716
Yeah I understood that part, I meant that it's tricky to make _good_

[2021-06-29 16:19] Manishearth commented on #86715
Ah, so this is about cases where the entire deptree isn't being documented. This would probably affect docs.rs too (cc @jyn514)

I still don't quite get the solutions being proposed though.

[2021-06-29 16:39] jyn514 commented on #86715
cc https://github.com/rust-lang/docs.rs/issues/494

[2021-06-29 16:49] kubo39 opened #86718 "Use copy_file_range(2) only on Linux >= 5.3"
In case copy_file_rang(2), [Linux's man page][linux-man] says:

       Areas of the API that weren't clearly defined were clarified and
       the API bounds are much more strictly checked than on earlier
       kernels.  Applications should target the behaviour and
       requirements of 5.3 kernels.

       5.3.  Older kernels will return -EXDEV when cross-filesystem
       copies are attempted.

[2021-06-29 17:18] chengniansun opened #86719 "ICE: compiler/rustc_mir/src/borrow_check/universal_regions.rs:533:26: expected defining type for `DefId(0:10 ~ mutant[317d]::{impl#0}::foo::{closure#0})`: `[type error]`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-29 17:23] chengniansun commented on #86238
A different, slightly simpler version

[code]

[2021-06-29 17:27] chengniansun opened #86720 "ICE with `--crate-type staticlib`: compiler/rustc_codegen_llvm/src/intrinsic.rs:306:18: unknown intrinsic 'rustc_peek'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-29 17:34] chengniansun opened #86721 "ICE: compiler/rustc_middle/src/hir/map/mod.rs:744:18: expected item, found assoc constant T in T::T (hir_id=HirId { owner: DefId(0:4 ~ mutant[317d]::T::T), local_id: 0 })"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-29 17:47] Nemo157 commented on #86715
IMO this would have to be at least opt-in, as it would expose implementation details about facade-style crate-trees.

[2021-06-29 17:50] GuillaumeGomez commented on #86716
Which is why we need @jsha 😆

[2021-06-29 17:53] GuillaumeGomez commented on #86715
@Nemo157: I think so too. :)

@Manishearth: It's mostly about either we merge search indexes (with a little tweak in the externals URLs) when generating docs and trying to get external search index from a remote location.

[2021-06-29 17:53] Manishearth commented on #86715
Right, I'm unclear as to _how_ you're proposing it

[2021-06-29 17:56] GuillaumeGomez commented on #86715
Simply because I'm unclear about it as well. For the first case, I was thinking about adding an option to rustdoc to only generate the search index, but that would require to also use the `--extern-html-root-url` into account when generating docs for the crate (for the items from the external crates in the search index).

[2021-06-29 17:58] Manishearth commented on #86715
Right, you've proposed two solutions for it and haven't picked one yet, but I don't understand what those solutions are.

[2021-06-29 18:28] usbalbin opened #86722 "Tracking Issue for const_maybe_uninit_assume_init"
Feature gate: `#![feature(const_maybe_uninit_assume_init)]`

This is a tracking issue for turning the methods `assume_init`, `assume_init_ref`, `assume_init_mut`,  `slice_assume_init_ref`, `slice_assume_init_mut` of `MaybeUninit` into `const fn`s. Note that the implementation of the latter two slice related methods are currently behind `maybe_uninit_slice` #63569, while the constness is behind `co

[2021-06-29 18:31] usbalbin commented on #57563
Done, tracking issue #86722 created for `const_maybe_uninit_assume_init`

[2021-06-29 18:33] #86324 closed

[2021-06-29 18:33] rust-highfive opened #86723 "`miri` no longer builds after rust-lang/rust#86475"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86475, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @crlf0710, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-06-29 19:00] jsha commented on #86716
I'm still around for a little bit (though trying to limit my computer time). My rough initial feedback would be:

1. We should have a concrete use case. Who are we building this for, and how do we expect them to use it? Presumably not docs.rs or doc.rust-lang.org. Local dev? Self-published crate docs that include all dependencies? What sort of problems are people going to solve with it?
2. What ar

[2021-06-29 19:02] Manishearth commented on #86716
This is a _really_ good idea imo!

[2021-06-29 19:11] GuillaumeGomez commented on #86716
I can describe the use case I had in mind (even though I'm not completely convinced about this feature): in [gtk3](https://gtk-rs.org/gtk3-rs/stable/latest/docs/gtk/index.html) docs, it happens that I'm looking for a "common" method but I'm only interested in it in either gdk or gtk but can't filter only those two crates at the same time. So as you can see, it's not a huge need on my end, just tho

[2021-06-29 19:32] the8472 commented on #86718
Is that issue not covered by the workaround in #75428?

[2021-06-29 19:49] rossy62 commented on #43468
I had the *same* problem doing a cbindgen install today.  I'm just past the "hello world" stage, and preparing to use RUST to build libraries/DLLs that I would call from C/C++ code.
I started using the Visual Studio developer powershell and this *seems* to be OK for some tasks.  I don't know what web page suggested I do this to get X64 environment.
At any rate doing a cargo install cbindgen fails

[2021-06-29 20:04] nikomatsakis opened #86727 "Reconcile TAIT tests"
The draft [stabilization report](https://hackmd.io/o9KO-D8aSb6bJgQ1froVTA) for "min TAIT" includes a series of test scenarios:

We need to go through the existing tests and either give examples of each scenario or add new ones. You can just edit the draft stabilization report hackmd directly.

[2021-06-29 20:05] nikomatsakis commented on #86411
@rustbot assign @lqd

[2021-06-29 20:14] Serentty commented on #71668
I agree with @Robbepop that in concept, more braces tends to mean more cognitive overhead. When you conceptually have multiple scopes, that's justified, but in a case like this, the obvious way of doing it with the existing syntax turns what was one scope into one nested in another, I think it definitely increases line noise and mental parsing effort. It's not even nice and symmetric because it cl

[2021-06-29 20:32] nikomatsakis opened #86729 "remove the F-impl-trait-in-bindings code"
This code is not implemented in the correct way, and it is common source of ICEs and other problems. We should remove this logic for now and simply report errors when `impl Trait` is used in let position.

[2021-06-29 20:34] nikomatsakis commented on #53092
If we limit this to `min_type_alias_impl_trait`, the ICE goes away, so I am not tagging this with `F-min_type_alias_impl_trait`

[2021-06-29 20:36] nikomatsakis commented on #53398
Using min-type-alias-impl-trait ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bcb63c9ce529e5186506f2f06fef587e)), you get an error.

I think this is ok, though, as it is we don't support cyclic types like this.

I'm going to mark this as E-needs-test.

[2021-06-29 20:37] nikomatsakis commented on #53398
If we adopted a different model of impl trait, one where they were more "nominal" and hence could be cyclic, that'd be a different thing.

[2021-06-29 20:37] ChrisDenton commented on #43468
Hopefully this should be fixed in the next version of Rust (1.54).

Usually Rust can automatically find the right libraries to use but the problem here is that the developer powershell, by default, puts the  x86 libraries and linker in environment variables where as Rust is compiling for x64. So Rust needs some way to know they're wrong and that it should go looking for the right ones. Which is wh

[2021-06-29 20:38] nikomatsakis commented on #55997
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4482e84c63014aa20c2a42b3111890aa) using `min_type_alias_impl_trait`

[2021-06-29 20:40] lqd commented on #84660
just noting that this issue and #86411 are likely duplicates

[2021-06-29 20:41] nikomatsakis commented on #55997
I think this is "behaving as expected". It's certainly not a blocker for stabilization. It would be nice if this worked, but it's ultimately expected based on the current implementation.

[2021-06-29 20:50] jackh726 commented on #77989
This actually works now, even with `min_type_alias_impl_trait` (though it shouldn't)

[2021-06-29 20:50] pnkfelix opened #86730 "Expr non-terminal has diverged between parser and macro matcher"
Spawned off of PR #84364, based on discussion from lang team meeting ([youtube](https://youtu.be/5hmVDeNc1t0?t=776)).

The meaning of the non-terminal "expr" according to the rustc parser has changed (or would like to change) from its meaning according to the current rustc macro matcher.

Concretely:
 * The `inline_const` feature has already added a production roughly of the form `EXPR ::= const {

[2021-06-29 20:56] pnkfelix commented on #86730
Also, lang team discussion has concluded that we don't *have* to solve this problem until one of `inline_const` (#76001) or `let_chains` (#53667) is being stabilized.

[2021-06-29 20:57] jackh726 commented on #77898
This works now with `min_type_alias_impl_trait`, but also requires `impl_trait_in_bindings`

[2021-06-29 20:58] nikomatsakis commented on #77989
We should decide whether `const X: Foo` is a "defining use" for TAIT. I think my rule is roughly "if `impl Trait` can be used there to mean "existential type", it is a defining use". Presently this [does not include](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eea4f69a1e416659aadf931e73c18a3c) const, so this should not be accepted by `min_type_alias_impl_trait`.

Howev

[2021-06-29 20:59] Allen-Webb commented on #71668
Is there a parsing reason why we cannot have the following?
[code]

[2021-06-29 21:02] nikomatsakis commented on #63204
If this is still relevant, I at least couldn't find the code. Going to close.

[2021-06-29 21:02] #63204 closed

[2021-06-29 21:07] nikomatsakis opened #86731 "`min-type-alias-impl-trait` should not accept impl trait in assoc. type binding"
The following example represents an illegal use for `min_type_alias_impl_trait`

[playground of more complete code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bdc2c62cd370e09e559253de5c81cf2e)

[code]

But we are not reporting it that way.

[2021-06-29 21:08] nikomatsakis commented on #63355
This example should be disallowed with `min_type_alias_impl_trait` but is not. I filed https://github.com/rust-lang/rust/issues/86731 to cover that.

[2021-06-29 21:09] nikomatsakis commented on #63355
I agree with @Nemo157 that the behavior here is a bug, I don't think we handle `impl Trait` appearing in these sorts of contexts very well, at least within the defining module.

[2021-06-29 21:09] lqd commented on #86411
Since there's already a simple check, added in #76940, my thoughts were to handle the more complex cases at the same place: https://github.com/rust-lang/rust/blob/e98897e5dc9898707bf4331c43b2e76ab7e282fe/compiler/rustc_typeck/src/coherence/orphan.rs#L236-L242

Is the idea to instead use a TypeFolder or visitor there on the trait ref substs, and emit basically the same error ?

[2021-06-29 21:12] nikomatsakis opened #86732 "`min_type_alias_impl_trait` doesn't report an error when impl Trait is used in a struct field"
This example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=25016f6db9b1562946cf6b5a968a5bd6)):

[code]

should report an error because the use of `X` in that position is not permitted with `min_type_alias_impl_trait`. But it does not.

(Spun out from https://github.com/rust-lang/rust/issues/64445)

[2021-06-29 21:13] nikomatsakis commented on #64445
This should not be permitted under `min_type_alias_impl_trait` but is; filed #86732.

[2021-06-29 21:14] nikomatsakis commented on #66426
For `min_type_alias_impl_trait`, I believe this is covered by #86732

[2021-06-29 21:14] jackh726 commented on #72793
cc #85499 which probably fixes this

[2021-06-29 21:15] nikomatsakis commented on #86732
Also we should test in enum fields

[code]

[2021-06-29 21:16] nikomatsakis commented on #66426
The minimized example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=339dbf8636930ba8cb5195793dae51da):

[code]

gives what appears to me to be the correct error:

[code]

but the diagnostics are not very good.

[2021-06-29 21:17] nikomatsakis commented on #66426
In particular, the value of `Foo` is not constrained at all by this function. If you extend to

[code]

then it works.

[2021-06-29 21:19] nikomatsakis opened #86733 "min_type_alias_impl_trait: poor diagnostics"
The minimized example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=339dbf8636930ba8cb5195793dae51da):

[code]

gives what appears to me to be the correct error:

[code]

but the diagnostics are not very good.

_Originally posted by @nikomatsakis in https://github.com/rust-lang/rust/issues/66426#issuecomment-870924733_

[2021-06-29 21:21] nikomatsakis commented on #66723
Example test:

[code]

Outputs:

[code]

This seems ok. I'm not sure how we get to that code otherwise. I'm going to close the issue as "good enough".

[2021-06-29 21:21] #66723 closed

[2021-06-29 21:22] JohnTitor commented on #63355
Thanks for triaging, we still should a regression test to prevent ICE at least, right?

[2021-06-29 21:22] janpaul123 commented on #58179
Yeah, that's what I'm basically doing right now — I run a nightly build in CI just for the purpose of getting notified when features hit stable. So that's a workaround for now, but not a great user experience.

[2021-06-29 21:25] nikomatsakis commented on #69137
For `min_type_alias_impl_trait`, this is #86731

[2021-06-29 21:34] rossy62 commented on #43468
Yeah I dug in and discovered that the link I had read about using the Visual Studio command shell explicitly called for the X64 variant.
I have so many versions of VS2019 installed, and so many command line options, murphys law dictates I would have selected the x86 variant.  Once I saw the x86 vs x64 in the link errors it “pinged” something in my head.
After that I was able to get where I was goi

[2021-06-29 21:46] petrochenkov commented on #86730
It's not only `expr`, other matchers may be affected too.
The matcher logic needs to be audited and implemented in terms of "reused parser code" + "explicit exceptions for backward compatibility", instead of the inconsistent ad hoc mess that is used now.

The "explicit exceptions for backward compatibility" part can be made conditional on an edition, but that's a technicality.

[2021-06-29 21:53] mark-i-m commented on #71668
@Allen-Webb In my opinion, the method header should contain only things that are relevant to the caller, not things that are relevant to the implementer. I think that's what makes the current state of `unsafe fn` so confusing to being with. The syntax you proposed better, but still IMHO sets a bad precedent...

[2021-06-29 22:17] nikomatsakis commented on #63355
Yep, that's good

[2021-06-29 23:03] Volker-Weissmann opened #86734 "Semi-Reproducible Linking error"
Hello,

sometimes (1 in 20 times maybe) when I run `cargo run` on my project I get this error message (full output at the bottom)

[code]

If I run `cargo run` again, it builds succesfully.

I will also send this bug report to bug-gnu-utils@gnu.org

My Project: https://gitlab.com/volkerweissmann/math_dsl_macro

OS: Arch Linux

$ rustc --version
rustc 1.55.0-nightly (ce1d5611a 2021-06-18)

$ cargo

[2021-06-29 23:39] #86629 closed

[2021-06-29 23:57] ehuss commented on #86734
Transferred to rust-lang/rust since cargo is not involved with linking.

[2021-06-30 00:19] programmerjake commented on #71668
How about:
[code]

[2021-06-30 00:36] pcwalton commented on #73740
I've run into this as an annoyance that cost me about an hour of debugging. An alternative would be to simply print the original, unremapped path alongside the remapped one.

[2021-06-30 01:05] inquisitivecrystal commented on #84056
@rustbot claim

It seems like everyone agrees that we either need a new API for this, or we need to change the existing one. It's for the libs team to decide which. In the meantime, there's some background work I can get started on.

[2021-06-30 01:07] inquisitivecrystal commented on #86579
I've concluded that this is beyond my current ability. It's open for someone else to claim.

[2021-06-30 02:26] kubo39 commented on #86718
Ahh, sorry I should've looked into more deeply. I think this is covered by #75428 so close.

[2021-06-30 02:26] #86718 closed

[2021-06-30 03:19] JinAirsOs opened #86736 "[BUG] in std lib, trim_start_matches"
I tried this code:

[code]

I expected to see this happen: *:0 is printed*

Instead, this happened: *0:1*

### Meta

`rustc --version --verbose`:
[code]

[2021-06-30 03:25] dralley commented on #48854
@nalply I think the answer is https://github.com/rust-lang/rust/issues/48854#issuecomment-372341953 but I'd love clarification on this also.

[2021-06-30 03:49] Seadragon91 commented on #86736
The function [trim_start_matches](https://doc.rust-lang.org/std/primitive.str.html#method.trim_start_matches) returns the modified string.
Change
`ans.trim_start_matches('0');`
to
`let ans = ans.trim_start_matches('0');`

Then it's correct.

[2021-06-30 04:58] jay-invariant opened #86738 "Adding `From` instances can make previously valid programs fail type inference"
# Minimal example

This works:
[code]

Now add the following:
[code]

This causes compilation to fail with:
[code]

The problem is that these pieces of code can be in completely different crates.  In my opinion, the first snippet should also fail, since it can be broken by seemingly innocent changes in dependencies.  More generally, the compiler should not assume that "there's only one type I know

[2021-06-30 07:39] apiraino commented on #86721
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386721.20ICE.3A.20compiler.2Frustc_middle.2Fsrc.2Fhir.2Fmap.2Fmod.2Ers.3A744.3A18.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-06-30 07:49] circumspect commented on #86738
I did some testing in the playground, and here's what I found ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7929ea375af94bf30a97c4eadf45f54c)):

[code]

[2021-06-30 08:38] andy-thomason opened #86741 "f64::from_str rounding error"
`f64::from_str` does not seem to round correctly in this case.

I tried this code:

[code]

I expected to see this happen:

f=0.5562426561917236
f.next()=0.5562426561917237

Instead, this happened:

f=0.5562426561917235
f.next()=0.5562426561917236

The latter number is closer to 0.55624265619172355

fails for
0.5562426561917235
0.5562426561917236
0.5562426561917237
0.5562426561917238

passes for
0

[2021-06-30 09:34] JohnTitor commented on #86736
Closing as it works as expected.

[2021-06-30 09:34] #86736 closed

[2021-06-30 09:35] fee1-dead opened #86742 "`impl const B` only needs `impl A` for `trait B: A`"
From https://github.com/rust-lang/rust/pull/86571#issuecomment-870223279.

I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b5a0eb39d99c19b481dea5bfd12f9f2b)):

[code]

I expected to see this happen: The compiler might error because `Foo` does not `impl const A`

Instead, this happened: This code has no compiler errors.

**This is for discuss

[2021-06-30 10:08] Jake-Shadle opened #86743 "New ICE in 1.55.0-nightly 6d820866a 2021-06-29"
### Code

Unfortunately, trying to make a minimized repro for this ICE was too difficult, as this particular struct impl is extremely entangled and in quite large, minimizing it resulted in no ICE, so I'm just reporting this immediately in the hopes that it will ring a bell as this is a change that occurred between

`nightly-x86_64-unknown-linux-gnu - rustc 1.55.0-nightly (a435b49e8 2021-06-28)` (

[2021-06-30 10:10] Jake-Shadle commented on #86743
To add a little more info, the `#1` line in the query stack

is calling out the entire impl body of the MLHost struct, and the `experiment_config_to_ffi` method is the last method in that impl, if that helps investigation in any way.

[2021-06-30 10:18] #86723 closed

[2021-06-30 10:30] fee1-dead commented on #86743
Please don't provide a block of code that does not reproduce the issue. At least attach a link to a repository of some kind.

[2021-06-30 10:34] Jake-Shadle commented on #86743
The repository is currently private, otherwise I would have.

[2021-06-30 11:00] pickfire commented on #79524
I did `join` for `Iterator` in the past https://github.com/rust-lang/rust/pull/75738 which accepts the current `Join` that does both but it wasn't accepted because it requires allocation or `Iterator` is in `std` so it couldn't be implemented, splitting it as two functions works but may not be that discoverable.

In a sample code in helix,
[code]
How to join `String` or `&String` easily with `&str

[2021-06-30 11:02] Jake-Shadle commented on #86743
I forgot https://github.com/rust-lang/cargo-bisect-rustc existed, running that now to pin down the exact commit that introduced this ICE.

[2021-06-30 11:23] Jake-Shadle commented on #86743
I've bisected the change to be in https://github.com/rust-lang/rust/commit/1ea0e283b4949a9a600824813f8b934d6d7c4cf5, will attempt to narrow it down further.

[2021-06-30 11:34] jonas-schievink commented on #86738
This is working as expected, and is not something that can be fixed

[2021-06-30 11:35] #86738 closed

[2021-06-30 11:38] andy-thomason commented on #86741
Apologies as this may not be a bug at all. The decimal representation is not the gold standard here, but the proximity to the f64 representation. I'm checking this now.

[2021-06-30 11:44] #86741 closed

[2021-06-30 11:47] Time0o opened #86745 "Rust does not perform cross language LTO for C functions forwarding to C++"
I believe that cross language LTO does not work correctly when calling C++ code from Rust via intermediate C functions.

Consider [this example](https://github.com/Time0o/rust-cross-lang-lto), here a C++ function `foo::do_something` (defined in `cc/foo_cc.h`) is wrapped in a C function `foo_do_something` (declared in `c/foo_c.h`) which is then called from Rust via its FFI (in `rust/foo_main.rs`).

[2021-06-30 12:27] jonas-schievink commented on #85314
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2021-06-30 12:27] #85314 closed

[2021-06-30 12:28] jonas-schievink commented on #85314
Trait object *up*casting on the other hand is currently being implemented in https://github.com/rust-lang/rust/pull/86264

[2021-06-30 12:30] jonas-schievink commented on #82237
The error generally already tells you what is missing: a trait implementation of `Foo` for the type `Bar`. If you have a concrete case where this error is unclear, please open another issue that includes a code example to reproduce the issue.

[2021-06-30 12:30] #82237 closed

[2021-06-30 13:51] xfix commented on #86721
This is a regression considering it doesn't happen in beta.

[2021-06-30 13:53] FabianWolff commented on #66425
I think this is the intended behavior; see the [reference](https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute):

i.e. you will get the warning if you turn your `match` into an expression statement of type `Foo`:
[code]
[code]

[2021-06-30 13:54] pickfire commented on #86551
Seemed like `cargo doc` is affected as well, `cargo check` works but both `cargo run` and `cargo doc` does not work. Both have similar errors but not exactly the same. Same thing, it happened after git rebase. I tried remove `target/doc/` and did `cargo doc` again but it have the same issue.
[code]
[code]

[2021-06-30 14:01] xfix commented on #86276
I don't think this is necessarily wrong, unless I'm missing something `macro` and `macro_rules!` are equivalent from user's point of view. Considering `macro` is not stable at this point it may be less confusing to show `macro_rules!` in documentation, even if strictly speaking it's incorrect.

[2021-06-30 15:51] mathstuf commented on #60845
[This IRLO thread](https://internals.rust-lang.org/t/path-to-lexical-absolute/14940) may be of interest.

[2021-06-30 16:05] m-ou-se commented on #86112
Note that that suggestion is from Rustc, not from clippy. It's the `unused_variables` lint, which is enabled by default.

So this situation is detected, but the warning is not clear enough. Maybe we can improve the lint, or add a more specific `unused_binding` lint with a more specific message.

[2021-06-30 16:15] rylev opened #86751 "Failure to update `dyn` usage in Rust 2018 to 2021 transition"
To reproduce:
* Clone [`serde`](https://github.com/serde-rs/serde).
* Run `cargo +nightly fix --edition` (this updates `serde` from Rust 2015 to Rust 2018).
* Add the edition field to the Cargo.toml with "2018" and commit changes.
* Run `cargo +nightly fix --edition` (this updates `serde` from Rust 2018 to Rust 2021).
* Change the edition field to "2021" (ensure `cargo-features = ["edition2021"]`

[2021-06-30 16:24] rohitjoshi opened #86752 "Compiler in release mode not resolving to library symbols and considering multiple/duplicate symbols"
Issue: https://github.com/rust-rocksdb/rust-rocksdb/issues/535

rustc 1.55.0-nightly (7c3872e6b 2021-06-24)

[2021-06-30 16:24] rylev opened #86753 "ICE when running `cargo +nightly fix --edition` on tokio"
When running `cargo +nightly fix --edition` on [tokio](https://github.com/tokio-rs/tokio/commit/0531549b6ea66d22d301044910ddc6a77e8c7f1e), I get the ICE seen below. This seems to happen when compiling benchmarks.

I have been unable so far to reproduce this with a plain `cargo` or `rustc` invocation. For example, `cargo +nightly c --bench fs` works fine.

This also seems to happen in [`reqwest`](h

[2021-06-30 16:29] rylev commented on #86691
Here is a running list of issues found in manual crater testing the edition migrations:
* https://github.com/rust-lang/rust/issues/86753
* https://github.com/rust-lang/rust/issues/86751

[2021-06-30 16:30] rylev commented on #86753
This looks to be related to https://github.com/rust-lang/rust/issues/86743.

[2021-06-30 16:38] rylev commented on #86691
If you'd like to run this "mini" crater yourself, please take a look at my absolutely horrendous Ruby code [here](https://gist.github.com/rylev/79440dcfc04513a607bf6fdb9b458255).

[2021-06-30 16:40] jay-invariant commented on #86738
If std or some other commonly used crate added impls like above, all that code would also break, but most people do not consider adding impls for your own types to be a breaking change.  I think it would be preferable to break it soon, with a clear error message.

In any case, I will look into writing an RFC when I have more time.

[2021-06-30 17:49] RustyYato commented on #67738
Just bumping, because this bug makes it impossible to write a complete blanket impl for any trait that has a lifetime parameter and associated types,

[code]
(playground also has some other variants which work, but aren't satisfactory)
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ba8f1ded62c094d69fd99dc7261d71ff

[2021-06-30 17:59] chengniansun commented on #86535
A duplicate.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-30 18:05] chengniansun opened #86756 "ICE: compiler/rustc_middle/src/ty/subst.rs:538:17: type parameter `T/#2` (T/2) out of range when substituting, substs=[FreshTy(0), [type error]]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-30 18:16] Sjord commented on #20866
I recently used [mdbook-epub](https://github.com/Michael-F-Bryan/mdbook-epub) to build an epub version of several mdbooks, and this worked reasonably well.

[2021-06-30 18:27] arora-aman commented on #86743
I think this coming from the precise capture lint. I saw something similar when trying to run the lint on the compiler last night.

There is an additional [check](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/upvar.rs#L994-L1003) in the Drop part of the migration that checks for bugs in the existing code that seems to be causing the issue.

Removing it seems to fix

[2021-06-30 18:43] lqd commented on #86743
Does this lint/migration check run on code that doesn't enable the `capture_disjoint_fields` gate nor the 2021 edition ?

[2021-06-30 18:51] arora-aman commented on #86743
The lint has been added part of the edition lint, I'm not sure if it gets run on its own. But the backtrace confirms it goes through the lint part of code.

[2021-06-30 19:29] rohitjoshi commented on #86752
Similar to issue: 70489

[2021-06-30 19:29] #86752 closed

[2021-06-30 19:45] estebank commented on #81614
Triage: I don't believe the assertion is being triggered anymore on master (changing the `debug_assert` with `assert` and the snippet in the previous comment didn't trigger an ICE).

[2021-06-30 21:11] cuviper commented on #85863
I'm trying to understand how this would work. Your example has a subtype that _does_ implement `FusedIterator`, but the supertype does not. So for `Fuse` to specialize that subtype, wouldn't it need a constraint that makes an assertion about all supertypes?

[2021-06-30 21:29] cuviper commented on #85863
I also realized that all of this was not a problem with the old `done`-flag version of `Fuse` before #70366. The difference used to be just that the specialized version didn't check or maintain the `done` flag, but the iterator always stuck around. So if variance moved us in and out of `FusedIterator` sub/supertypes, it would only have a logic bug whether things are fused, not unsoundness.

[2021-06-30 21:33] voidc opened #86758 "UI test issue-64655-extern-rust-must-allow-unwind.rs#fat0 triggers LLVM assert when compiled for i686 target"
This was discovered in https://github.com/rust-lang/rust/pull/81825#issuecomment-869691262, which adds support for Linux pidfds to standard library. With the changes in the PR, the `issue-64655-extern-rust-must-allow-unwind` test triggers an LLVM assertion during compilation. This is similar to the issue described in https://github.com/rust-lang/rust/issues/83854.
As a workaround, the failing test

[2021-06-30 21:35] Aaron1011 opened #86759 "Error message becomes worse when lifetime is elided via `'_`"
Given the following code:

[code]

The current output is:

[code]

However, if we explicitly name the lifetime:

[code]

the error message is much better:

[code]

We should emit the same error message when the lifetime is elided (referring to it as 'this elided lifetime' or something similar).

[2021-06-30 21:37] steffahn commented on #85863
Interesting observation. I wasn’t aware of this change / earlier design. AFAICT it’s indeed true that the worst that could happen with a done-flag design is that a non-`FusedIterator` typed iterator gets extra `next()` calls after `None` was first returned. However, following the approach in this issue, this is only possible if the iterator type is a subtype/supertype of an iterator type that _doe

[2021-06-30 21:44] steffahn commented on #85863
@cuviper

I think it’s the other way.

My example uses
[code]
and
[code]

The former implements `FusedIterator`. But `MyEmptyIterator<fn(&'static ())>` is a supertype of `MyEmptyIterator<fn(&())>`. The way to not mess this up is to think about the fact that you can always coerce a subtype into a supertype. A supertype is more general in the sense that a “every Foo is a Bar” relationship makes “Bar

[2021-06-30 22:17] varkor commented on #85077
@JulianKnodt: could you add a short description of what this tracking issue concerns, for anyone who is unfamiliar with this feature?

[2021-06-30 22:24] JulianKnodt commented on #85077
@varkor Done, let me know if it makes sense

[2021-06-30 22:26] cuviper commented on #85863
Ah, right, function are contravariant in their parameters. In my defense, you also wrote in the OP:

[2021-06-30 22:36] cuviper commented on #85863
It's been a while, but I don't think there was any concrete misuse of `Fuse` at hand. The idea was basically just to guard against bugs in the implementation, where we might forget to check `done` in some instance. I first implemented that change along with `Chain` in #70332, and I think that one did have such state bugs over the years.

[2021-06-30 22:39] steffahn commented on #85863
Fair point, I’ll fix that. As you can tell by my lengthy reply above I’ve needed to double-check everything thoroughly myself, too, to make sure I’m not correcting you on something that you didn’t get wrong. These things are highly non-intuitive.

By the way, it doesn’t have anything to do with contravariance of `fn` arguments. `for<'a> fn() -> &'a T` vs `fn() -> &'static T` would work the same, t

[2021-06-30 22:54] ehuss commented on #86751
For reference, the cause is that cargo is using `--force-warns=rust-2021-compatibility` and `--cap-lints=warn`, and serde uses `#![allow(bare_trait_objects)]` and the interaction seems to be broken by #86009.

[2021-06-30 23:11] workingjubilee commented on #85863
I am having trouble following this conversation, so I won't claim to have a deep opinion, but since there is a lot of confusion about which way the variance goes &etc., more cleanly expressing the subtype/supertype relationships seems desirable if we're going to expand the syntax for universal quantification. This is largely aside from the point, though.

[2021-06-30 23:42] dns2utf8 opened #86767 "rustdoc: align .stab to the right on desktop"
The informative tags/labels/stabs have been moved to the left column to improve the mobile experience.
Now the table feels a bit crammed.

* One possibility is to increase the gaps between the symbol and the tags.
* Another is to align the tags to the right on the desktop.

## Current nightly 2021-06-30

![image](https://user-images.githubusercontent.com/739070/124043946-bc0e3b00-d9fb-11eb-8d07-7a

[2021-06-30 23:45] cuviper commented on #85863
I opened #86765 and #86766 with reduced and eliminated specialization, so we can compare performance.

I also considered just changing those `intrinsics::unreachable()` to `unreachable!()` panics, but I think that's a bad move. It would avoid the unsound case, but it still implies that the user did something _wrong_, which isn't really true.

[2021-07-01 03:49] #86721 closed

[2021-07-01 04:09] jonhoo commented on #66425
Hmm, this feels like the definition is then wrong — the code doesn't have an expression for `_f` (or make it `f` if you prefer), but it _definitely_ "has" a `Foo` that it's supposed to use lest it violate the lint.

[2021-07-01 04:22] jonhoo commented on #86654
Likewise!

Hmm, yeah, that's a good point that the caller expects to get a reference _to_ a function pointer, and not "just" a function pointer. I suppose in my case the way to work around that would be to have the trait take `self` and implement it for `&mut ...`, though that does feel like a bit of a hack. Makes me wonder even more how the cast even makes this work though!

[2021-07-01 05:39] stanly-johnson opened #86771 "encountered incremental compilation error with evaluate_obligation"
### Code

https://github.com/valibre-org/vln-node/blob/master/runtime/src/lib.rs

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-01 06:55] tubzby commented on #63033
Coming to this too, a little google drives me here.

[code]
Remove any of the parameters will fix this, but I can't.

This thread is almost 2 years old, is there any solution or plan to fix this?

[2021-07-01 07:58] illicitonion opened #86772 "Tracking Issue for enum_as_repr"
Feature gate: `#![feature(enum_as_repr)]`

This is a tracking issue for traits to convert primitive enums into their repr (`core::enums::AsRepr`), and attempt to convert reprs into primitive enums (`core::enums::FromRepr`). `AsRepr` is automatically implemented for all relevant enum types, as well as `std::mem::Discriminant`, and `FromRepr` may be derived.

### Public API

[code]

### Steps / Hist

[2021-07-01 08:26] apiraino commented on #86756
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386756.20ICE.3A.20compiler.2Frustc_middle.2Fsrc.2Fty.2Fsubst.2Ers.3A538.3A17.3A.20t.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-07-01 09:16] hellow554 commented on #86771
Hey @stanly-johnson

please take a look at the pinned issue #84970

This is (sadly) known. To circumvent this you can run `cargo clean` and then the ICE should vanish.

[2021-07-01 09:20] #86110 closed

[2021-07-01 09:23] #86771 closed

[2021-07-01 10:01] JohnTitor commented on #86708
It'd be great if you could provide more information e.g. your env, your config.toml, and if it happens after `./x.py clean` (or cleaning up manually).

[2021-07-01 10:32] nikomatsakis commented on #86743
@rustbot assign @arora-aman

Is this the ICE we were talking about yesterday, where we had to remove the check that was meant to catch 'code that wouldn't have compiled anyway?')

[2021-07-01 10:35] nikomatsakis commented on #86753
@rustbot assign @arora-aman

I'm hoping this is the same as #86743!

[2021-07-01 12:03] #84160 closed

[2021-07-01 12:03] #86196 closed

[2021-07-01 12:08] dns2utf8 commented on #86578
Implemented with #86594, potentially improved by #86767

[2021-07-01 13:24] Logarithmus commented on #71515
@1000teslas provided that C libraries have been fixed in https://github.com/rust-lang/rust/pull/86740, what's the next thing to do to finally use `lld` by default? It's more than a year since this issue was created!

[2021-07-01 13:28] 1000teslas commented on #71515
@Logarithmus I have no idea to be honest. I was pretty much just following what @Gankra suggested.

[2021-07-01 14:13] Diggsey commented on #86027
@dtolnay That seems very magical, and while equality on vtables is already broken, this would mean that there could never be a 1:1 correspondence between (trait/type pair) and (vtable pointer).

Also, the way that this "abort on panic" property sticks around indefinitely on the value, even outside of the `catch_unwind` code is quite surprising.

IMO, the best option is just to change existing code

[2021-07-01 14:56] mbrubeck commented on #81872
I don't think this needs to require `T: Sized`.  Should it be moved to `impl<T: ?Sized> Mutex<T>`?

[2021-07-01 15:02] skysch opened #86781 "ICE when using serde derives with an invalid inner doc comment"
I'm hitting an ICE when using serde derives with an invalid inner doc comment. This occurs on the playground on both stable and nightly.

### Code

[code]

### Meta

This is the version on my machine:

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-01 15:31] nazar-pc commented on #63033
@tubzby explicit lifetimes on references should fix the issue for you until compiler is smart enough to figure that out on its own

[2021-07-01 15:50] arora-aman commented on #86743
Yes @nikomatsakis. I'll have PR up today

[2021-07-01 15:57] jackh726 commented on #86703
Here is a smaller reproduction of this that passes on current master but fails in #85499. It's `no_core` and doesn't need `-C link-dead-code`

[code]

[2021-07-01 16:21] Manishearth commented on #86703
I find the -Clink-dead-code to be an interesting part of the bug as well fwiw since i don't think we have bugs like that anywhere.

[2021-07-01 16:35] spencergilbert commented on #49359
We'd love to help or champion getting JSON output stabilized (wanting to get JUnit compatible output). Is there any thing we can do to help push this forward?

[2021-07-01 16:44] mark-i-m commented on #81872
I can make a PR for that...

[2021-07-01 17:02] adamgemmell commented on #81857
[This](https://github.com/rust-lang/rust/blob/64de4979e8979836e7c029d69eb96e6f7da66185/src/test/ui/asm/type-check-2.rs#L30) example used to ICE but is now picked up by E308, at least on x86_64/aarch64-unknown-linux-gnu

[2021-07-01 17:13] DRvader opened #86784 "stack overflow/infinite recursion in rustc"
I uploaded the code that causes the issue to [rust-stack-overflow](https://github.com/DRvader/rust-stack-overflow). The stack overflow occurs on both the nightly and stable compilers only when building in debug mode.

I dumped the process, and it appears that the recursion is occurring inside the regex_automata crate in the rustc_driver.

<details>

[code]
</details>

[2021-07-01 17:24] ralpha opened #86786 "`rustup-components-history` page outdated"
I was checking the https://rust-lang.github.io/rustup-components-history/ page.
But it seems to be almost a month out of date. (last update "2021-06-09" and it is now "2021-07-01")
I have seen it go out of sync in the past. But it now has not been updated for almost a month.

I find this page very helpful when updating nightly docker containers to check if components are ready.
Hope this will be f

[2021-07-01 17:41] AidanConnelly opened #86787 "Slightly confusing error message when using where with GATs"
I tried this code https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=374040a5ff329e636d37acd10f828a69:

[code]

I expected to see this happen: *A slightly better error message*

Instead, this happened: *A slightly confusing error message*

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-07-01 18:06] JohnTitor commented on #86786
The issues like this should go to https://github.com/rust-lang/rustup-components-history. In this case, I think it should be resolved by https://github.com/rust-lang/rustup-components-history/pull/35. Thanks for reporting anyway!

[2021-07-01 18:06] #86786 closed

[2021-07-01 18:18] JohnTitor commented on #86333
Going to close in favor of the above, thanks for reporting!

[2021-07-01 18:18] #86333 closed

[2021-07-01 18:20] spencergilbert commented on #85563
Also commented on #49359 - but we'd love to help stabilize either of these, primarily to support [Datadog CI](https://docs.datadoghq.com/continuous_integration/setup_tests/junit_upload/)

[2021-07-01 18:28] andoriyu commented on #85563
Done via #86359

[2021-07-01 18:31] gilescope commented on #49359
Use it on projects and report back with issues? Ideally there should be a
way to use this with stable but being behind a -Z flag… at the moment I
feel like we are in a catch 22 - it’s not going forward because not enough
people using it and not enough use it because it’s not available on stable?

On Thu, 1 Jul 2021 at 17:35, Spencer Gilbert ***@***.***>
wrote:

[2021-07-01 19:15] JohnTitor commented on #86083
Indeed fixed by that PR and it has some regression tests which should also cover this case, so closing. Thanks for reporting!

[2021-07-01 19:15] #86083 closed

[2021-07-01 19:19] JohnTitor commented on #86086
Closing as duplicate, added this case to https://github.com/rust-lang/rust/issues/81804#issue-802457600 just in case.

[2021-07-01 19:19] #86086 closed

[2021-07-01 19:53] JohnTitor commented on #86569
Going to close as the information to reproduce is missing. Feel free to re-open with it. Thanks for reporting!

[2021-07-01 19:53] #86569 closed

[2021-07-01 20:39] danielhenrymantilla commented on #85863
#### A diagram with some subtyping relationships

To recap, here is a hopefully illustrative diagram summarizing the basic subtyping relationships:

![image](https://user-images.githubusercontent.com/9920355/124182334-ff79af80-dab6-11eb-8e1d-0b061893e45b.png)

  - [source](tinyurl.com/rust-subtyping)

  - [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7e6b75e9

[2021-07-01 20:51] steffahn commented on #85863
@danielhenrymantilla I believe that writing “outlives” as “⊇” also has potential for confusion. It might be useful if you’re thinking of lifetimes as a set of lines/places in your source code, but I wouldn’t necessarily want to introduce it as actual notation, because a correspondence between **super**sets (“⊇”) and **sub**types – both using `:` and both being strongly related due to reference typ

[2021-07-01 21:00] cuviper commented on #85863
That diagram would be a great addition to the reference!
https://doc.rust-lang.org/reference/subtyping.html

[2021-07-01 21:18] the8472 commented on #85863
I'm not entirely convinced of this point yet, although @steffahn made a similar one in another thread.

It is the `#[rustc_unsafe_specialization_marker]` (`FusedIterator` is one of those) that lets specializations be bounded on arbitrary user-provided types. `#[rustc_specialization_trait]` is more restrictive, it wouldn't allow these kinds of shenanigans.

To adapt the example from the initial com

[2021-07-01 21:25] steffahn commented on #85863
@the8472 The original example works just as well with a generic
[code]
instead of just
[code]

The former kind of `impl` is _not_ prohibited even for “`#[rustc_specialization_trait]`”. This means: even thou “`#[rustc_specialization_trait]`” has more restriction, does in fact still fully support

[2021-07-01 21:35] the8472 commented on #85863
Objection retracted.

[2021-07-01 21:43] jonhoo commented on #49359
Anecdotally, see [this discussion](https://internals.rust-lang.org/t/mechanism-for-beta-testing-unstable-features/14280) and its derivatives on testing unstable features on stable.

[2021-07-01 21:45] rust-highfive opened #86792 "`miri` no longer builds after rust-lang/rust#86749"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86749, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @bjorn3, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-01 21:54] ibraheemdev opened #86793 ""expected opaque type, found different opaque type" with type alias impl trait"
[code]
[code]

Is this expected behavior? I would think this should work as they are the same type... although I guess it would have semver implications.

[2021-07-01 22:31] dcow commented on #79408
I just have different target JSON files rather than modifying a single one with `jq`.

I'm able to run on the simulator using the script I posted above, that all works fine. After running `fat.sh`, my project looks like:

[code]

We're not using Carthage, just pure SwiftPM. I have a swift package project that includes Swift code to interface with the FFI. I build the binary xcframework using the a

[2021-07-01 22:36] yaahc commented on #86369
Yes, to either option, whichever you prefer. I'm not confident the `remaining_len` ident will pass muster during stabilization, so if I had to lean one way I'd say just remove it since you only really needed the slice method afaik, and it's not a long jump from getting a slice to getting the len.

[2021-07-01 23:36] jyn514 commented on #86597
cc https://github.com/rust-lang/crater/issues/532

[2021-07-01 23:54] jyn514 commented on #86620
Smaller reproduction (only 2 crates):
[code]

[2021-07-02 00:01] cuviper commented on #86681
Normally, there is only `Add<&str> for String`, so that impl is chosen and your `&String` gets coerced to `&str`.

When you add a new `Add<_> for String`, you make it ambiguous, so there's no coercion.

[2021-07-02 00:02] jyn514 commented on #86620
MCVE (requires at least 2 crates):
[code]

[2021-07-02 00:15] #85855 closed

[2021-07-02 01:23] jyn514 opened #86798 "rustdoc: Some items in `cache.paths` are non-local"
I tried this code:

[code]

I expected to see this happen: No change in behavior; according to the comment, all items stored in `paths` are local.

Instead, this happened: Rustdoc panics on nearly every test case in `src/test/rustdoc`. Here is an example:

[code]

 ## Why is this bad?

Various parts of rustdoc depend on `paths` being local. For example, https://github.com/rust-lang/rust/blob/56dee

[2021-07-02 01:27] jyn514 commented on #86798
Fortunately this is only written in a couple places, so hopefully it will be easy to fix ????????
[code]

[2021-07-02 01:44] jyn514 commented on #86798
yeah I have no idea why I thought this would be simple, adding a `if def_id.is_local()` check to the first insert fails a bunch of tests:
[code]

[2021-07-02 01:47] jyn514 commented on #86798
I think a more correct fix is to unify `paths` and `extern_paths`, and check `def_id.is_local()` explicitly for places that need to care about it.

[2021-07-02 02:56] inquisitivecrystal commented on #44690
Is this done after #83216, or is there more left to do?

[2021-07-02 02:59] jyn514 commented on #44690
Well, register_tool is still unstable. I think it's tracked elsewhere, I forget which issue.

[2021-07-02 03:08] #86681 closed

[2021-07-02 03:23] BaoshanPang commented on #86708
It turns out I have installed a defect 'curl' from snap on my ubuntu 18.04, removed it and installed the one from "apt-get" makes the issue disappear.

[2021-07-02 03:23] #86708 closed

[2021-07-02 04:51] fee1-dead commented on #83937
Fixed by #86750.

[2021-07-02 04:51] fee1-dead commented on #84846
Fixed by #86750

[2021-07-02 07:58] steffahn commented on #85863
A day later, I still think that moving back to a `done`-flag design is the best way of fixing this issue. Especially, if it really doesn't come with any significant performance impact.

[2021-07-02 08:52] hellow554 commented on #86781
In case somebody is interested in the bisection:

searched nightlies: from nightly-2021-01-01 to nightly-2021-06-01
regressed nightly: nightly-2021-04-12
searched commits: from https://github.com/rust-lang/rust/commit/a836d9b6413d9d593be6c09463ff8c4c70e56599 to https://github.com/rust-lang/rust/commit/a8661245649f3d1c0dc5b23270bdac0bbd2d8f64
regressed commit: https://github.com/rust-lang/rust/comm

[2021-07-02 08:54] fourbytes opened #86800 "thread 'rustc' panicked at 'assertion failed: !erased_self_ty.has_escaping_bound_vars()'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-02 09:04] tversteeg opened #86802 "Cannot compile std with atomics feature on `wasm32-unknown-unknown` target"
I tried compiling an empty library, created with `cargo init --lib`, with the following flags:

[code]

<details>
<summary>Cargo.toml</summary>

[code]

</details>

I expected it to compile properly. Instead, I got the following error:

[code]

<details>
<summary>Full output</summary>

[code]

</details>

### Meta

`rustc +nightly --version --verbose`:
[code]

[2021-07-02 09:12] jyn514 commented on #86120
@LeSeulArtichaut this was fixed by #86334, right?

[2021-07-02 09:21] LeSeulArtichaut commented on #86120
If we consider that the link not going to the type alias page is not a bug, this is fixed

[2021-07-02 09:24] #86120 closed

[2021-07-02 09:28] jyn514 commented on #83859
https://github.com/rust-lang/rust/pull/83866 was relanded in https://github.com/rust-lang/rust/pull/85052.

[2021-07-02 09:34] jyn514 commented on #81371
Added in https://github.com/rust-lang/rust/pull/86473

[2021-07-02 09:34] #81371 closed

[2021-07-02 09:36] jyn514 commented on #79587
@ehuss could you please move this to rust-lang/cargo?

[2021-07-02 09:40] jyn514 commented on #78096
@camelid have you run into this recently? I'm inclined to close otherwise.

[2021-07-02 09:41] jyn514 commented on #76865
I think this is a duplicate of https://github.com/rust-lang/rust/issues/79663.

[2021-07-02 09:47] jyn514 commented on #76040
Added in https://github.com/rust-lang/rust/pull/78984

[2021-07-02 09:47] #76040 closed

[2021-07-02 09:49] jyn514 commented on #75497
https://github.com/rust-lang/rust/pull/75522 was closed as won't fix since there are already ways to do this and it's not standard to duplicate attributes as arguments.

[2021-07-02 09:49] #75497 closed

[2021-07-02 10:01] jyn514 commented on #69264
This should be fixed since https://github.com/rust-lang/rust/pull/83813/files#diff-04002bbcf90fc0a3356db4344dee8f1e03d868fa6c0f666713affa7fa2679b6f, I don't think it's tested through.

[2021-07-02 10:03] jyn514 commented on #70646
You said "global" in the title, but your example is not global. Did you want this to be specific to included docs? Note that `--no-run` already exists if you want to do this for *all* Doctests.

I'm also unsure why this is useful - why not just add no_run to the file you're including?

[2021-07-02 10:05] jyn514 commented on #66842
Rustdoc calls it `summary_line` internally. I don't think we name it in any user-facing documentation.

[2021-07-02 10:09] jyn514 commented on #62909
Rustdoc could do this by checking `def_id.krate` for each of these impls. I think this should go on the impl block itself, not the method, since it's impossible for the same impl to span multiple crates.

[2021-07-02 10:11] jyn514 commented on #60753
I'm going to close this, I don't think rustdoc can do much about taking up slightly more stack space than rustc.

[2021-07-02 10:11] #60753 closed

[2021-07-02 10:14] jyn514 commented on #59249
This is fixed on stable: https://doc.rust-lang.org/std/vec/struct.Vec.html#method.sort_by_key

[2021-07-02 10:14] #59249 closed

[2021-07-02 10:14] hellow554 commented on #86784
Easiest MCVE of my live 😂
All you need is a function with at least 2593 variables:

<details>

<summary>Huge file incoming</summary>

[code]

</details>

`cargo build` is required to trigger the ICE. It's very fast to compile as well. I try to bisect it now.

[2021-07-02 10:16] jyn514 commented on #58190
This is not a rustdoc issue, it needs to be handled by the website directly to take into account new versions.

[2021-07-02 10:16] #58190 closed

[2021-07-02 10:21] jyn514 commented on #52182
https://github.com/rust-lang/rust/pull/54014 decided #[inline] should *never* be shown.

[2021-07-02 10:21] #52182 closed

[2021-07-02 10:22] hellow554 commented on #86784
searched nightlies: from nightly-2021-01-01 to nightly-2021-07-01
regressed nightly: nightly-2021-03-05
searched commits: from https://github.com/rust-lang/rust/commit/476acbf1e9965b5e95c90f0d7d658709812b7003 to https://github.com/rust-lang/rust/commit/45b3c28518e4c45dfd12bc2c4400c0d0e9639927
regressed commit: https://github.com/rust-lang/rust/commit/409920873cf8a95739a55dc5fe5adb05e1b4758e

<deta

[2021-07-02 10:23] hellow554 commented on #86784
Hey @JohnTitor

this seems to be a problem with the LLVM12 upgrade. Would you think pinging the LLVM ice breaker crew is worth it?

[2021-07-02 10:28] jyn514 commented on #45599
Closing in favor of https://github.com/rust-lang/rust/issues/67295, this is covered by cfg(doctest). If you need doctest to behave the same as test, you can use `cfg(any(test, doctest))`.

[2021-07-02 10:28] #45599 closed

[2021-07-02 10:32] jyn514 commented on #40065
I'm going to close this since it's a rare issue with an easy workaround.

[2021-07-02 10:32] #40065 closed

[2021-07-02 10:33] jyn514 commented on #86145
Duplicate of https://github.com/rust-lang/rust/issues/36035

[2021-07-02 10:33] #86145 closed

[2021-07-02 10:45] jyn514 commented on #28056
Duplicate of https://github.com/rust-lang/rust/issues/14475

[2021-07-02 10:45] #28056 closed

[2021-07-02 10:55] jyn514 commented on #78734
@Dante-Broggi are you still running into this issue?

[2021-07-02 11:00] jyn514 commented on #65031
@cjgillot addressed most of this inhttps://github.com/rust-lang/rust/pull/70951. Do we still need to keep this open? rustc_middle is now only medium-large, and rustc_query_impl is very big but comparable to rustc_mir and a few others.

[2021-07-02 11:07] runiq commented on #44690
#66079

[2021-07-02 11:09] JohnTitor commented on #86784
Thanks for bisecting!
I'm not sure how much of an impact this has on the real use-case but just in case:
@rustbot ping llvm

[2021-07-02 11:54] JamieCunliffe commented on #78226
According to a bisect it was caused by #85891 not sure why that revert is causing it yet though.

Given there is already a revert open (#86143) what's the best way to test it on the beta CI to see if it was actually the cause?

[2021-07-02 12:27] FabianWolff commented on #86800
Might be related to #83693.

[2021-07-02 13:16] FabianWolff commented on #82830
Slightly simplified:
[code]

[2021-07-02 13:35] FabianWolff commented on #81809
Reduced (same ICE as above):
[code]

[2021-07-02 14:23] #61356 closed

[2021-07-02 17:07] cuviper commented on #85863
The other downside of the `done` flag is that it adds `align_of::<I>()` bytes, whereas `Option<I>` may use a niche.

The performance of #86765 looks stable enough that this would be my preference, although it does lose in-place iteration.

[2021-07-02 17:16] nikomatsakis commented on #63033
@rustbot release-assignment

I haven't had time to write up any mentoring instructions here, I'm afraid. :(

[2021-07-02 17:19] #86792 closed

[2021-07-02 17:20] nikomatsakis commented on #84841
Potentially related to https://github.com/rust-lang/rust/issues/86743

[2021-07-02 17:21] nikomatsakis commented on #86743
Potentially related to https://github.com/rust-lang/rust/issues/84841

[2021-07-02 17:25] tmandry commented on #72956
Doing triage cleanup.

@rustbot release-assignment

@osa1 if you're still working on this, feel free to re-claim

[2021-07-02 17:26] tmandry commented on #71723
Doing triage cleanup.

@rustbot release-assignment

@Vooblin if you're still working on this, feel free to re-claim

[2021-07-02 17:33] tmandry commented on #66731
Doing triage cleanup.

@rustbot release-assignment

@henryboisdequin if you're still working on this, feel free to re-claim

[2021-07-02 17:36] nikomatsakis commented on #66731
Here is my memory of how far we got:

@henryboisdequin was investigating and discovered that adding the `HirId` to [`DesugaringKind`] was a bit harder than it looks, because that type is defined in `rustc_span`, but [`HirId`] is defined in `rustc_hir` (which depends on `rustc_span`). We pursued the idea of adding a `(u32, u32)` into the span and converting that to a HIR, but it didn't feel very ni

[2021-07-02 17:58] joshtriplett commented on #80690
@rfcbot concern name

Registering a concern so that this FCP doesn't complete until we finalize the name.

I agree that `into_parts` makes sense here; this is a safe method returning safe objects, unlike `Vec::into_raw_parts` which is unsafe and returns a raw pointer.

[2021-07-02 18:10] joshtriplett commented on #80690
@ijackson If the *only* thing that changes is the name, we don't need to delay stabilization (other than to wait for the PR changing the name). If something more substantive changes, we can consider if that impacts the evaluation we've done so far or not.

[2021-07-02 18:10] JohnTitor commented on #84210
The current nightly output:
[code]

The suggestion itself is now correct but the span position is wrong.

[2021-07-02 18:28] halvnykterist commented on #86269
The calling convention for this bit me, I've never encountered a library where lerp was (t, a, b) rather than (a, b, t), and (foolishly) assumed that the warning for there being a new function that collides with my own lerp interpolation on f32 I'd just be able to swap them right over.
I'm ambivalent on whether this should be implemented on ranges rather than floats (or even both), but _please_ ma

[2021-07-02 18:51] lqd commented on #86753
Reduced the one happening in `reqwest`

[code]

`rustc +nightly --edition=2018 --crate-type=lib --cap-lints=warn --force-warns rust-2021-compatibility -Zunstable-options main.rs` will ICE:

[code]

[2021-07-02 19:25] pnkfelix commented on #85447
Hey @SimonSapin , I self-assigned this and then didn't follow up. I'm looking at it more carefully now.

[2021-07-02 19:34] pnkfelix commented on #85447
Looking at the reduction from https://github.com/rust-lang/rust/issues/85447#issuecomment-843879967, I added a bit of instrumentation to the compiler to see which `ty` is causing resolution to return `Ok(None)`. Answer:

[2021-07-02 19:48] CAD97 commented on #86269
`interpolate( t, v0, v1 )` seems to be more common in more mathy applications, where `lerp( v0, v1, t )` seems to be more common in more gamey applications.

Right now, based on the discussion in Zulip, my current feeling is that the next task here is to open a community RFC to determine

1) what properties of `lerp` are most desired to uphold for different applications, and which ones it's practi

[2021-07-02 20:00] koalefant commented on #86269
That was exactly my experience: first reaction: sweet, there is now standard lerp coming. Second: I have to reorder my lerp arguments, but only for f32. 🤦

[2021-07-02 20:32] alan-signal opened #86820 "int.rs:230:13: expected int of size 8, but got size 1"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[code]

</p>
</details>

[2021-07-02 20:33] joshtriplett commented on #80970
`rustc --print cfg` should print `target_abi`. Right now, `rustc --target arm-unknown-linux-gnueabi --print cfg` and `rustc --target arm-unknown-linux-gnueabihf --print cfg` have the same output.

[2021-07-02 21:24] Nemo157 opened #86824 "`uncommon_codepoints` is ignored unless specified at crate level"
I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bc2ad8390779175ff263dd0ff53caebe):

[code]

I expected to see this happen: warning-free compilation

Instead, this happened:

[code]

### Meta
Tested on 1.53 stable and 1.55.0-nightly (2021-07-01 7100b311df0367c4d906)

[2021-07-02 21:33] programmerjake commented on #86269
[code]

[2021-07-02 21:54] ChrisDenton commented on #39044
Is this still an issue? I note that Rust now has some helpful messages for when the MSVC linker isn't found or returns unexpected output. E.g. [here](https://github.com/rust-lang/rust/blob/3cb1c1134050c059a15d9ca7a00d4dd89111a373/compiler/rustc_codegen_ssa/src/back/link.rs#L954-L977) and [here](https://github.com/rust-lang/rust/blob/3cb1c1134050c059a15d9ca7a00d4dd89111a373/compiler/rustc_codegen_s

[2021-07-02 21:56] K900 commented on #39044
Looks like we can close this then.

[2021-07-02 21:56] #39044 closed

[2021-07-02 22:15] tema3210 commented on #71083
Maybe wrong issue, but I guess that this question might be better answered in prospect of specialization:  what if we do:

* `type T = impl Trait` => abstract type `T` known to implement Trait, unspecializable, but the concrete type can be change in different `impl`s.
* `default type T = impl Trait` =>  opaque type declaration, same as previous; can be specialized, but only by an opaque type decla

[2021-07-02 22:15] orvij opened #86829 "rustc panics cross-compiling riscv64gc-unknown-uefi target"
### Code

[code]
`riscv-unknown-uefi.json`:

[code]

### Build command

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

### Compiler flags

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-02 22:22] tlyu commented on #43234
Could we please have a brief status summary near the top of the issue description? I think this is great work and I appreciate the large amount of effort that went into it. As a relative newcomer, it is frustrating to not be able to know the current details about how the borrow checker works. It looks like the Reference might be out of date with respect to the NLL changes? Also, there might some l

[2021-07-02 22:41] #70703 closed

[2021-07-02 22:41] #83492 closed

[2021-07-02 22:41] #86802 closed

[2021-07-02 22:59] FelixMo42 commented on #42168
It seems like it would be a good idea for `forward` & `backward` to be given the beginning and endpoint,  That way more complex areas can be represented, such as Vector 2s.

[code]

For anything requiring this wouldn't be any intrinsic order to the values in between, but I think that Range iteration is still a meaningful full notion that could be useful.

(sorry if I didn't format this well, first

[2021-07-02 23:18] notgull commented on #58520
Shouldn't the iterator proper implement `FusedIterator`?

[2021-07-02 23:45] ExpHP commented on #42168
That's an interesting thought.  I don't think it would be possible to backwards compatibly add support for this later, so it might be worth discussing now.  So I guess the idea is having methods like

[code]
making it possible to implement the above loop?

I see numerous disadvantages:
* `Step` already has 6 methods.  This could potentially bring the number up to 12.
* The new methods would be req

[2021-07-02 23:47] Mark-Simulacrum opened #86831 "regression: infallible residual could not convert error"
* https://crater-reports.s3.amazonaws.com/beta-1.54-1/beta-2021-06-23/reg/sierra-proc-demo-0.1.0/log.txt

I assume this is something subtle in the new Try trait -- would be good to investigate. Looks like only one case found in crater, so probably not too big a deal, but ideally we'd have zero regressions from the new design.

cc @scottmcm

[2021-07-02 23:47] Mark-Simulacrum commented on #86597
* https://github.com/rust-lang/rust/issues/85574 (47 regressions; soundness fix)
  * git2 [0.13.18](https://crater-reports.s3.amazonaws.com/beta-1.54-1/beta-2021-06-23/gh/PRL-PRG.codedj-examples-ecoop-2021/log.txt) (33), [0.13.19](https://crater-reports.s3.amazonaws.com/beta-1.54-1/beta-2021-06-23/gh/EbonJaeger.soltools/log.txt) (14) -- patched version 0.13.20 released
* https://github.com/rust-la

[2021-07-02 23:52] Mark-Simulacrum commented on #86831
I'll put https://crater-reports.s3.amazonaws.com/beta-1.54-rustdoc-1/beta-2021-06-23/reg/twelf-0.1.7/log.txt under this issue for now as well since it looks like it caused by the try migration as well, though maybe distinct. Is that intentionally broken? I recall discussions about the NoneError conversions...

[2021-07-02 23:57] ExpHP commented on #42168
Actually, I just realized.  Beyond even all of that:  It's impossible!

[The fields of Range are public](https://doc.rust-lang.org/std/ops/struct.Range.html).  When `Iterator::next` is called, it updates the `start` field in-place.  *The original lower bound of the range is not recorded or saved anywhere.*

[2021-07-03 00:34] yume-chan commented on #74319
This **doesn't** compile:

[code]

But this **does**: ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=849f85cd45c5361647d3787269decf47))

[code]

The [doc of `IndexMut`](https://doc.rust-lang.org/std/ops/trait.IndexMut.html) says

No, clearly not.

---

But this **doesn't** compile

[code]

**Nor** this:

[code]

---

What's the difference?

[2021-07-03 02:21] #84879 closed

[2021-07-03 02:30] dtolnay commented on #58520
That's not obvious. There is no documented requirement on https://doc.rust-lang.org/1.53.0/std/error/trait.Error.html#method.source that it behave in a fused way.

[2021-07-03 02:47] notgull commented on #58520
Apologies if I'm misinterpreting something, but once the `Error` object returns a `None`, that's the end of the error chain, isn't it? You can't get another `&(dyn Error + 'static)` out of that. I guess you could create an infinite loop, but ending is not required for fused iterators.

[2021-07-03 03:09] mathstuf commented on #58520
Nothing says the error can't change its mind about what its source is:

[code]

[2021-07-03 03:13] notgull commented on #58520
Is it a requirement for fused iterators to not involve randomness? All I'm saying is that `std::error::Chain` could implement `FusedIterator`, since, unless there are plans to change the way that it is implemented, it could get a marginal win in the albeit rare case where one passes it into a function that fuses it.

[2021-07-03 03:19] mathstuf commented on #58520
I guess my example might still not be enough as `std::error::Chain` will assume it's over. The rule for `FusedIterator` is that once `None` is returned, `None` will *always* be returned on subsequent `.next()` calls. I suppose whether the last `Error` is delegated to or if there is some implicit `FusedIterator` assumption in `std::error::Chain` would answer this question.

[2021-07-03 04:12] rlee287 opened #86832 "`BufReader::Seek` should not flush the buffer when seeking to `SeekFrom::Current(0)`"
The documentation for `BufReader` states that

and this is true both with implementation of `BufReader` on [the current stable](https://doc.rust-lang.org/src/std/io/buffered/bufreader.rs.html#370-393) (1.53.0 as of the time of writing) and on [the current nightly](https://github.com/rust-lang/rust/blob/798baebde1fe77e5a660490ec64e727a5d79970d/library/std/src/io/buffered/bufreader.rs#L370-L393) (79

[2021-07-03 04:12] #85848 closed

[2021-07-03 04:12] rlee287 commented on #86832
On a related note, it should also be possible to implement `seek`s using `SeekFrom::Current` to call `self.inner.seek(SeekFrom::Current(0))` to get the current stream position, perform the seek with `self.seek_relative`, and calculate the new stream position from the old one and the offset value. If this could work, then I can file a separate issue requesting this code change.

[2021-07-03 05:43] crlf0710 commented on #86356
`Unsize` trait is also special.
https://doc.rust-lang.org/stable/std/marker/trait.Unsize.html#implementors

[2021-07-03 06:02] wigy-opensource-developer commented on #63033
Big sad. I wish I was more into the compiler details. I love what async-await did to learnability for newbies and this issue hunts down them after getting their first successes.

[2021-07-03 06:58] crlf0710 commented on #27751
Opened a removal pr at #86833.

[2021-07-03 07:00] michailVestnik opened #86834 "Not actual example on the main page of the official site"
Hi!

## OS & setup cmd

- Linux Debian 10
- curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

## Problem

I decided to try Rust for the very first time.
On the main page I did step by step as it says in the instructions and ended up with an error!
This is not a very pleasant encounter... (
How do I fix this?

![Снимок экрана от 2021-07-03 15-56-05](https://user-images.githubuserconte

[2021-07-03 07:16] 834772509 opened #86835 "There may be a bug in the msvc detection part of rustc"
I created a new project using cargo, and then created a build.rs file with only an empty main function.
Then I execute `\VC\Auxiliary\Build\vcvarsall.bat x86` and then execute `cargo build --release --target=i686-pc-windows-msvc` and it will report an error: "The library computer type "x86" conflicts with the target computer type "x64" "
I think there may be a bug in the msvc detection part of Rus

[2021-07-03 07:49] the8472 commented on #86831
Looks like it https://github.com/rust-lang/rust/issues/46871#issuecomment-852663986

[2021-07-03 08:20] scottmcm commented on #86831
For the sierra thing, it looks like this is a place where they unwittingly used never type on stable, and that's the core of why it changed.

The code that broke is
[code]
where the function is
[code]
Repro: https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=f90e3876b81fc12b185284b5006457ba

It actually works fine if it's changed to
[code]
https://play.rust-lang.org/?version=bet

[2021-07-03 08:20] michailVestnik commented on #86834
Fix with command: `sudo apt install gcc`

[2021-07-03 08:20] #86834 closed

[2021-07-03 08:34] m0lese opened #86836 "My Primary Programming Language."
I use Rust lang on my daily basis. Live Long Rust!

[2021-07-03 08:34] #86836 closed

[2021-07-03 08:59] Stupremee commented on #86798
@rustbot claim

[2021-07-03 08:59] scottmcm commented on #86653
Hmm, `dyn Drop` is pretty weird.  Notably, [`drop_in_place`](https://doc.rust-lang.org/nightly/std/ptr/fn.drop_in_place.html) doesn't have a bound on `Drop`.

I think a warning is still appropriate for this code, even if perhaps it's in a supoptimal place.

[2021-07-03 09:17] RalfJung commented on #86649
Ah, I was already wondering why the error message says `Success`. :joy:

[2021-07-03 09:19] RalfJung commented on #86436
Possibly the fix landed after 1.53 was branched?

Anyway, the stable release tarballs do not contain Miri any more (they were never intended to), so I'd say this is fixed by https://github.com/rust-lang/rust/pull/86568.

[2021-07-03 09:21] RalfJung commented on #86436
Yeah, the git fix landed with https://github.com/rust-lang/rust/pull/85402 which reached stable with 1.54.0.

[2021-07-03 09:23] RalfJung commented on #86436
I should also mention that Miri is simply not supported on stable. I don't know how exactly you are building rustc from that tarball, but you might have enabled too many "extra tools"?

[2021-07-03 09:28] tmiasko commented on #61849
Code generation of StorageRefresh as a pair of lifetime.end and lifetime.start in LLVM makes it possible to detect use after move with AddressSanitizer and MemorySanitizer. That would be quite useful to canvas the usage in the wild and detect bugs.

<details><summary>AddressSanitizer detecting use after move</summary><p>

[code]

[code]
</p>

</details>

Potential utility for LLVM stack coloring t

[2021-07-03 09:35] lambinoo commented on #69630
I am interested in working on this! Could I get assigned to this? I already have a PR for this I think

[2021-07-03 09:56] yerlaser commented on #67984
Sorry for hijacking this discussion, but could you also consider shortening of the format! macro to fmt! or even f!.
This will make using it much simpler in cases like:
println(fmt!"Hello \{name\}")
or
println(f!"Hello \{name\}")

[2021-07-03 10:04] ChrisDenton commented on #86835
Thanks for the report! Could you try with the nightly compiler in case this is fixed in the next version? If you're using rustup you can use nightly like this:
[code]

[2021-07-03 10:13] whjpji commented on #84970
I got this error while compiling. It is probably because I changed the target directory in the global `cargo/config.toml`.

My operations are:

- First I set `[build] target-dir = "A"`, then run `cargo build`, and I encountered with a write error due to no free space on my disk storage.
- Then I set `[build] target-dir = "B"`, and move the directory A to B. Then run `cargo build`.
- Then the compi

[2021-07-03 10:25] 834772509 commented on #86835
ok, I tried the nightly version, it can be built normally, and I look forward to stabilizing this function as soon as possible

[2021-07-03 10:47] JohnTitor commented on #86835
This is fixed by #85649 and the next stable version (1.54) should have that fix. Thanks!

[2021-07-03 10:47] #86835 closed

[2021-07-03 10:49] JohnTitor commented on #83043
@ChrisDenton So, #85649 fixed this issue?

[2021-07-03 10:56] Alovchin91 commented on #83043
@JohnTitor  I'm going to check that today. There was another commit to cc-rs to further improve this, so it might need to be updated again: https://github.com/alexcrichton/cc-rs/pull/605

[2021-07-03 11:12] JohnTitor commented on #83043
@Alovchin91 Nice! If alexcrichton/cc-rs#597 and alexcrichton/cc-rs#605 can close this issue, we need a new release to include the latter.

[2021-07-03 12:07] Alovchin91 commented on #83043
@JohnTitor  Would the GitHub PR pipeline produce a runnable build?  I've never bootstrapped the compiler before and I'm a bit afraid it would take me another week to get it right 😅

[2021-07-03 12:40] pickfire commented on #86551
I had this issue again. From what I see, in helix. It happens always whenever I did a rebase or cherry-pick. I am not sure how to reproduce a minimum reproducible example.

[2021-07-03 12:46] JohnTitor commented on #83043
Hmm, IIRC the GHA itself doesn't, but we upload the build artifacts to s3 so it may be possible. But it needs t-infra's help and I'm not sure how hard it is.
The easiest way I think is to update `cc` crate and try to use a nightly. At least alexcrichton/cc-rs#605 fixes one issue and it's worth doing so.
@alexcrichton Any thoughts on this?

[2021-07-03 13:02] GuillaumeGomez commented on #86276
Even though it's a low priority, it still remains a bug that needs to be fixed. I'll take it from here.

[2021-07-03 13:09] FabianWolff commented on #86793
Reduced:
[code]
[code]
So your point is that `Concrete` should have been inferred as whatever concrete type `foo()` returns, due to the defining use as the return type of `bar()`?

[2021-07-03 13:23] #85383 closed

[2021-07-03 15:02] Mark-Simulacrum commented on #86597
Took a quick look at rustdoc -- looks like actually not too much interesting. Only one new regression: https://crater-reports.s3.amazonaws.com/beta-1.54-rustdoc-1/beta-2021-06-23/reg/twelf-0.1.7/log.txt.

[2021-07-03 15:11] jyn514 commented on #86597
That happens while checking, not documenting, it's not related to rustdoc.

[2021-07-03 15:25] Sherlock-Holo opened #86842 "liftime analysis error when return mutable reference"
I tried this code:

[code]

I expected to see this happen: `cargo check` won't report error

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-07-03 15:39] ibraheemdev commented on #86793
Yes, that is how I would expect it to work. I am not sure though, because if it did work this way, changes to the body of the function could break type aliases.

[2021-07-03 15:57] mati865 commented on #86436
Just have hit this error with 1.53 tarball with `extended = true` but `tools` commented-out.
Turns out when you do `./x.py install` it will try to install miri and cargo-miri as well (remember we are using stable tarball).
This fails when building **not** in a git repository. You can see log from MSYS2 CI when it's building inside git repository: https://github.com/msys2/msys2-autobuild/runs/29457

[2021-07-03 16:09] kvinwang commented on #86842
Looks like a duplicate of https://github.com/rust-lang/rust/issues/58910

[2021-07-03 16:16] crlf0710 commented on #86842
Indeed, let's close this in favor of that one.

[2021-07-03 16:16] #86842 closed

[2021-07-03 16:27] tlyu opened #86845 "Tracking Issue for owned locked stdio handles"
Feature gate: `#![feature(stdio_locked)]`

This is a tracking issue for adding owned locked handles to stdio.

Especially for beginners, using stdio handles can involve intimidating problems with locking and lifetimes. First, the user has to call a free function (`stderr()`, `stdin()`, `stdout()`) to get a handle on the stream; then, the user might have to call the `lock()` method (for example, to

[2021-07-03 16:29] jonhoo commented on #86653
For context, this code is used in a library that does deferred memory reclamation, so I want to store a heterogeneous collection of elements "to be dropped". I don't know what other type to use in that context than `dyn Drop` — it _seems_ like exactly the right thing to use. I could introduce an empty placeholder trait instead, but that only adds unnecessary complexity.

[2021-07-03 16:54] RalfJung commented on #86436
The bug will, I think, be fixed in the next release since Miri is simply not part of the tarball any more.

I think the bug you are asking is already open: https://github.com/rust-lang/rust/issues/74709

[2021-07-03 17:27] mati865 commented on #86436
I have just found https://github.com/rust-lang/rust/pull/86568 which should solve the issue on nightly but ideally it'd be backported to beta and stable.

[2021-07-03 17:58] RalfJung commented on #86436
Backporting to stable makes little sense (unless there's a point release, which I wouldn't expect).

Backporting to beta already happened in https://github.com/rust-lang/rust/pull/86413.

[2021-07-03 18:57] bstrie commented on #31407
I've added a test case to this issue that also takes into account the 17 failures encountered in this comment: https://github.com/rust-lang/rust/issues/31407#issuecomment-274364899 . As of this writing all 18 of these literals still fail to parse with `error: could not evaluate float literal (see issue #31407)`.

[2021-07-03 19:25] bstrie commented on #44048
I'd like to make a test case here but I'm unclear on what the issue is. The PR that closed this added tests for the width/fill/alignment formatting flags, and I can't think of what other flags would apply to Path. I'm also not sure what "it" means in the sentence "not just when it's conveniently already a &str".

[2021-07-03 19:27] camelid commented on #78096
I have not, though it's possible that the original sample from the standard library still reproduces.

[2021-07-03 19:29] RalfJung commented on #31407
https://github.com/rust-lang/rust/pull/86761 looks like it might fix these problems?

[2021-07-03 19:35] jyn514 commented on #78096
Ok. I'm going to close this until you run into it again, it's not really actionable right now.

[2021-07-03 19:35] #78096 closed

[2021-07-03 19:42] bstrie commented on #53340
You say the modern versions have almost closed the gap in performance; can you look at the modern assembly and see what still might be worse than 1.24, and what has improved since 1.25?

[2021-07-03 19:45] Cryptjar opened #86850 "const generics with struct panic"
### Code

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=96cd1cff1ba15032bb36f836d0b0acc0)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Possibly related to: #86530

[2021-07-03 19:53] bstrie commented on #53823
I'm not fluent in asm but it looks as though the problem still exists.

1.24:
[code]

1.55-nightly:
[code]

[2021-07-03 19:54] pedrocr commented on #53340
My knowledge of x86 assembly is rudimentary, sorry.

[2021-07-03 22:09] GuillaumeGomez opened #86851 "Add copy button for code blocks"
As discussed in https://github.com/rust-lang/rust/pull/86363, we could add a button allowing to copy the content of the source code. For this, I'll unify the content for the "run" button as well so it's not duplicated in case the run button is there as well. Or we could simply generate the button content when clicking on it using JS (because the "copy to clipboard" can only be done with JS), meani

[2021-07-03 22:23] nbdd0121 commented on #74319
`container[index]` is indeed just a syntactic sugar, but it does not have two-phase borrow enabled, while two-phase borrow is enabled for a plain method call. This is actually intentional.

https://github.com/rust-lang/rust/blob/96859dbaf6229f131fbd427a32aaa95d4f9cb132/compiler/rustc_typeck/src/check/place_op.rs#L376-L380

Related: #49434

[2021-07-03 22:51] the8472 commented on #53340
I have a potential fix in #86823 if you want to benchmark it you can grab the try build for `5c392fe307a7b9c6ca1d328ad7dbed69fb03897d`

[2021-07-03 23:25] LeSeulArtichaut commented on #69630
@lambinoo You can use the `@rustbot claim` command

[2021-07-03 23:45] bstrie commented on #60375
I reduced the failing test case:
[code]
Take note of the asserts; the failure only happens on boxed trait objects. It took me a while to realize that `Any`'s blanket impl is only on `T: 'static`, so what's happening is that without `Any` in scope, method resolution autoderefs until it reaches `<() as Resource>::type_id`. But with `Any` in scope, it still autoderefs `&dyn Resource` (because it's no

[2021-07-03 23:55] bstrie commented on #32498
deavid's minimized reproduction compiles and runs for me (Rust 1.53). comex's original example still fails, but the error messages are different, and it's no longer possible to bypass the error by commenting out usage. Since this bug report is less along the lines of "types should be allowed to recurse indefinitely" and more along the lines of "too-large types shouldn't require usage in order to b

[2021-07-04 00:32] Dante-Broggi commented on #78734
Yes. I still have to use `build` instead. I haven't looked into this further.

[2021-07-04 01:20] jyn514 opened #86854 "Unify cargo and rustc's error reporting"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
Right now, cargo and rustc operate basically independently of each other. The summary ("aborting ..." and "could not compile ...") is repeated twice, and both have different, incompatible ways to get more info about what went wrong. There's no reason to repeat these twice; we could inclu

[2021-07-04 03:19] jyn514 commented on #56935
@alexcrichton do you remember what you meant by this? Why could they be different crates? Proc-macros are always compiled for the host, so they should be the same even when cross-compiling.

In general, I'm not sure when this could go wrong - the compiler already checks if the target doesn't match and gives an error:
[code]
So I'm not sure why we have to check again when loading the dependency. I

[2021-07-04 04:04] #85242 closed

[2021-07-04 04:57] #86742 closed

[2021-07-04 05:14] TrueDoctor commented on #56935
@jyn514 does it also make sense to add the test case described in https://github.com/rust-lang/rust/issues/85386#issuecomment-842457820 ?
Would be nice if the ICE got resolved by your change as well

[2021-07-04 06:34] #27751 closed

[2021-07-04 07:39] gilescope commented on #84970
Stats from me: I ran into this 3-4 times in 7 days of rust dev which is bearable.

[2021-07-04 07:58] the8472 commented on #53823
Note that #74024 significantly changed the binary_search implementation in the meantime so they are no longer comparable. Instead you'll have to copy the old implementation into godbolt to retain comparability. That said, the issue still exists there too.

https://godbolt.org/z/8cqKdxG4K

[code]

[2021-07-04 10:09] the8472 commented on #47321
@wecing Indeed, the examples given in https://github.com/rust-lang/rust/issues/47321#issue-287456949 and https://github.com/rust-lang/rust/issues/47321#issuecomment-357055162 do inline read_exact on current nightlies and only call out to println machinery.

@adrian17 Can you check if the issue still occurs for you and if so provide a reduced example? Since the given link is not pointing to a speci

[2021-07-04 10:14] the8472 commented on #83528
@Lucretiel #78515 should provide the necessary control to solve this issue by switching stdout to immediate mode, right?

[2021-07-04 11:32] the8472 commented on #53823
I have tested several older revisions of the binary_search and partition_point implementations. All of them had their conditional moves converted to cmp + branch due to this llvm change.

[This LLVM issue comment](https://bugs.llvm.org/show_bug.cgi?id=40027#c8) suggests that the primary heuristic which turns off this optimization only looks for binary tree searches (unpredictable pointer chasing)

[2021-07-04 11:56] #79601 closed

[2021-07-04 11:57] rust-highfive opened #86863 "`miri` no longer builds after rust-lang/rust#86255"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86255, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Smittyvb, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-04 12:37] est31 commented on #86793
This is a deliberate design choice of the `impl Trait` in return position feature, for the reasons stated above. It's not a bug.

[2021-07-04 12:48] Alexendoo commented on #85350
No longer ICEs since #86795

[2021-07-04 13:21] Smittyvb commented on #86863
@rustbot claim

[2021-07-04 14:18] adrian17 commented on #47321
I think it's good now, thank you :)

[2021-07-04 14:18] #75196 closed

[2021-07-04 14:28] adrian17 commented on #80277
After half a year, looks like the generated code looks much better, and most benchmarks I mentioned above are nearly equal - in particular, my "hand-optimizations" do not appear to be necessary anymore.

The idiomatic Cursor code is still ~20% slower than the Slice code in my microbenchmark, but I'm guessing that's just unavoidable with an extra abstraction layer, so I'm gonna close this issue.

[2021-07-04 14:28] #80277 closed

[2021-07-04 14:35] the8472 commented on #47321
Closing since all reported cases now inline as expected.

[2021-07-04 14:35] #47321 closed

[2021-07-04 15:43] insanitybit opened #86865 "Improvement to write! macro with wrong type for string literal argument"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4c5ff2fc026afd1a666633cba4c31865

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

So this is super trivial, but I just ran into this and I haven't used `write!` in a while so I sorta did a double take and it took me a second to figure out why it was suggesting wha

[2021-07-04 15:43] jackh726 commented on #85350
Uh actually this is a problem that I didn't realize.

The debug_assert in Binder::dummy should be an assert.

@JohnTitor do you have the time to open a PR for this? I imagine we'll at the very least see a perf regression. But we might also see test failures or, in cases like this, new issues.

Another alternative that @nikomatsakis and I discussed would be to add a `-Zvalidate-binders` option that

[2021-07-04 15:44] jackh726 commented on #85350
Going to not mark this as needs-test, because this shouldn't be passing.

[2021-07-04 16:39] Mark-Simulacrum commented on #84970
@gilescope Can you say more about which version of Rust that's with (nightly? which nightly?) -- my impression from meetings and such was that we expect the error rate to be even lower than that.

[2021-07-04 16:45] nikomatsakis opened #86868 "refactor queries that don't accept inference variables to use canonicalization"
In https://github.com/rust-lang/rust/pull/86866 we found various queries that were ICEing when used with inference variables. https://github.com/rust-lang/rust/pull/86866 worked around these ICEs via simple checks or imprecision, but these queries likely out to be rewritten to use canonicalization or other less hacky techniques.

Discussion with @arora-aman in [this Zulip topic](https://zulip-arch

[2021-07-04 16:45] nikomatsakis commented on #86868
In the code, some of the places that have to change are marked with FIXME(#86868).

[2021-07-04 16:48] est31 commented on #84970
@Mark-Simulacrum from @gilescope 's [shared ICE error message](https://github.com/rust-lang/rust/issues/84970#issuecomment-870562963), it seems to be a recent nightly from June 22.

On a surface level, the `EvaluatedToOk` reads similar to #86771 which I think shouldn't have been closed.

[2021-07-04 16:49] est31 commented on #84970
Most importantly, both @gilescope 's compiler and the compiler of the person who filed #86771 has included PR #85186 which has fixed `EvaluatedToOk` according to the table, but maybe it's a different `EvaluatedToOk` error... no idea.

[2021-07-04 16:51] Aaron1011 commented on #84970
There's still at least one open `evaluate_obligation` issue: https://github.com/rust-lang/rust/issues/85360

[2021-07-04 16:59] dvdplm commented on #84970
FWIW me and @gilescope work on the same code base. I run nightly, updated every morning. The number of occurrences of this ice is roughly equal over the past few weeks.

[2021-07-04 18:33] oli-obk commented on #57563
I am locking this issue. Please open individual issues or a zulip thread, and don't use this issue for discussion.

[2021-07-04 19:04] ajdust opened #86870 "Compiling small program with -C opt-level=2 takes hours or never finishes without -Cinline-threshold flag"
Hi!

### Background

I generated a small identical program in Rust and C++. See for instance:

- [C++ with 20 functions](https://gist.github.com/ajdust/5e92cab52ffab5ea2a52edbd47aa348a)
- [Rust with 20 functions](https://gist.github.com/ajdust/9cf976ed2935ad428ee5465cbdef7d56)
- [C++ with 500 functions](https://gist.github.com/ajdust/64abc3434ada7d9439df8e0a24923d68)
- [Rust with 500 functions](ht

[2021-07-04 20:00] #84841 closed

[2021-07-04 20:00] #86753 closed

[2021-07-04 20:08] tawfik741 opened #86872 "error: internal compiler error: encountered incremental compilation error with item_children(canvas[d547])"
This occured when trying to install servo using MSVC on windows:

[code]

[2021-07-04 20:10] jonas-schievink commented on #86872
Presumably this is a duplicate of https://github.com/rust-lang/rust/issues/85019

[2021-07-04 20:10] #86872 closed

[2021-07-04 21:24] davidhewitt commented on #67984
@yerlaser you don't need to combine `format!` with `println! ... with this feature you would just write `println!("Hello {name}")`, and on current stable you can do `println!("Hello {}", name)`

[2021-07-04 21:35] GilRtr commented on #83871
Is there anything holding this back?

[2021-07-04 22:20] jyn514 commented on #68427
https://github.com/rust-lang/rust/pull/83738 was reverted in https://github.com/rust-lang/rust/pull/85749.

[2021-07-04 22:29] camelid commented on #86716
There are several times I've wanted a feature like this when searching the rustc API docs, so I'm definitely intrigued!

In my use case, it *would* be doc.rust-lang.org ;)

For my use case, it would be around 60 crates.

I agree that this sounds promising! I imagine it's much more common to either want to search the whole workspace or (in a smaller number of cases) to want really fine-grained filt

[2021-07-04 22:39] camelid commented on #86309
@LeSeulArtichaut That's okay! Thanks for fixing this :)

[2021-07-04 22:40] fanninpm commented on #86530
Have you been able to reproduce this ICE with the latest nightly?

[2021-07-04 22:45] nbdd0121 commented on #85194
Is it possible to special-case Rust 2021 `panic!("{}", expr)` to mean Rust 2015 `panic!(expr)`?

[2021-07-04 22:59] klensy commented on #86870
With opt-level 0 or 1 it compiles instant both versions. With `0` level it reports
[code]
Is it expected for your code?

[2021-07-04 23:10] pacak commented on #86530
Playground link is not failing, I guess it's a good sign.

[2021-07-05 00:06] ajdust commented on #86870
That's right klensy. This generated code was more about stressing the compiler than actually running the resulting program. With low optimization or debug compilation the code triggers 'attempt to multiply with overflow'. The higher opt-level such as 2 turns off that check I believe. The 20 function versions - `test_20.rs` which takes a minute+ to compile by default and `test_20.cpp` which takes a

[2021-07-05 00:09] pedrocr commented on #53340
Does the build system save its artifacts anywhere? I don't think I can currently build rustc on this machine.

[2021-07-05 00:42] Cryptjar commented on #86870
You know, I though if the arithmetic should wrap around, why not use `Wrapping`, right?

So, I, actually, try it out and replaced all the `i32` with `Wrapping<i32>` (and wrapped the literals too). And what should I say, it just compiles 3.2 s on my machine, whereas the C++ code with `clang++` takes me 2.3 s, so fairly comparable. But I want to add, that Rust seem to do a better job, as the resulti

[2021-07-05 01:03] #76905 closed

[2021-07-05 01:03] #69323 closed

[2021-07-05 01:18] tubzby commented on #63033
@nazar-pc I want to ensure that, is it because the read_loop function might execute after the scope of self reference?
If so, how can I explicitly set the lifetime of read_loop  is greater than the reference?

[2021-07-05 01:28] insomnimus commented on #74327
I have the same exact issue.

[2021-07-05 01:31] jyn514 commented on #56935
@TrueDoctor how is that test case different from https://github.com/rust-lang/rust/compare/master...jyn514:56935-target-crate-num ?

[2021-07-05 02:20] camelid commented on #86640
I found it: #42066.

[2021-07-05 02:40] #86640 closed

[2021-07-05 03:05] thomcc commented on #73935
I did this in bytemuck a while ago: https://github.com/Lokathor/bytemuck/blob/6db9c1944b0604171a70e178bcdd1db1a4ce4dd2/src/offset_of.rs#L69-L75, which Renders as https://docs.rs/bytemuck/1.7.0/bytemuck/macro.offset_of.html#usage-with-reprpacked-structs.

The idea came from @nvzqz who does the same stuff in some of his crates.

I think I'd prefer more a more general thing than just warnings, but I'

[2021-07-05 04:16] TrueDoctor commented on #56935
@jyn514 I my testing I found that the compiler shows an error when you import one proc macro and panics with an ICE as soon as you import two or more proc macros from the same crate.
I would suspect your change fixes both but we might still to check just to be sure

[2021-07-05 04:43] lambinoo commented on #69630
Oooh, thanks! :D

[2021-07-05 07:27] #86208 closed

[2021-07-05 07:29] gilescope commented on #83430
I'm concious that alloc_error_handler is the last unstable piece of the puzzle for some people getting off nightly.
If we ban non-rust abis calling the fn, are we then happy to stabilise alloc_error_handler? - I.e. do we think stabilising alloc_error_handler will have any bearing on whatever potential solution we plan for getting track_caller working? If we don't have to have a hard dependency bet

[2021-07-05 07:51] the8472 commented on #53340
You can use https://github.com/kennytm/rustup-toolchain-install-master to install CI builds as rustup toolchain.

[2021-07-05 09:07] rylev commented on #9082
Triage: no change.

I was expecting this example to trip the `noop_method_call` lint, but unfortunately [it does not](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=3f1b1cf35dc01042a2bb7d54c3dd0aa8).

[2021-07-05 09:14] b-naber commented on #86868
I could work on this, or do you want to take this, @arora-aman ?

[2021-07-05 09:21] m-ou-se commented on #85194
@nbdd0121 Those are not the same:

- `panic!("{}", 123);` throws a `String` containing `"123"`. `panic!(123)` throws an `i32` with the value `123`.
- `panic!("{}", &some_temporary)` is valid, while `panic!(&some_temporary)` is not.

We can make `panic_any(expr)` work in constants, but that function only exists in std, not in core.

[2021-07-05 09:35] rylev commented on #9607
Triage: the current error message is pretty good IMO. [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6c373b243509f2c09c2ff3bde0455d94)

[code]

Perhaps the only improvement could be to point to the specific derive macro that is causing this?

[code]

Removing `D-confusing` and `D-invalid-suggestion` as I don't believe that's true anymore.

[2021-07-05 09:52] rylev commented on #14007
Triage: the error message has improved but still does not point to the source of the expectation [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=856bbd8205c502a349bb7b5ccebfc185).

[code]

[2021-07-05 09:57] rylev commented on #15457
Triage: no change [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=06432a402731d79d7955d991d5b7826b).

I believe the original suggestion of pointing to `map` as taking `self` and thus trying to move out of a `&self` is the right way to go to close this issue.

[2021-07-05 10:21] #86512 closed

[2021-07-05 11:38] m-ou-se commented on #86288
Sounds good. Closing this.

[2021-07-05 11:38] m-ou-se commented on #86288
No wait, we still need to do this part. :)

[2021-07-05 12:25] m-ou-se commented on #80690
The 'raw' here refers to the fact that unlike .into_inner(), this function does not attempt to flush the data but just directly gives you the 'raw' parts of the buffer, without trying to process them.

I can see how it can be confusing with our other uses of the word *raw*, but just calling it `.into_parts()` might not make clear what the difference with `.into_inner()` is. (Though on the other ha

[2021-07-05 12:47] danielhenrymantilla commented on #63033
@tubzby note that your code can be automatically fixed by the tool I mentioned in [my previous comment](https://github.com/rust-lang/rust/issues/63033#issuecomment-843566481):

<img width="838" alt="Screen Shot 2021-07-05 at 14 33 31" src="https://user-images.githubusercontent.com/9920355/124472093-fed66700-dd9d-11eb-84b2-1b39e947f84d.png">

A reliable fix that doesn't change the semantics of the

[2021-07-05 13:11] #86863 closed

[2021-07-05 13:34] oli-obk commented on #86854
I'm not sure whether making the decision on the error format scheme is the right way to go. I can't think of any reason not to do it, unless the implementation is messy, so 👍

[2021-07-05 13:46] hsivonen commented on #82024
Indeed, [this is now fixed](https://rust.godbolt.org/z/oM4nPbnvT). Thanks.

[2021-07-05 13:46] #82024 closed

[2021-07-05 13:57] michaelwoerister commented on #86745
Thanks for the bug report, @Time0o! It would be helpful if you could provide the LLVM IR files for all files involved. The Rust compiler can generate those via `--emit llvm-ir`.

[2021-07-05 14:04] insou22 opened #86882 "Feature Request: Focusing search results when directly navigating to docs.rs search"
When users type something like `!rust Box` into a search engine like DuckDuckGo, it will navigate you to the docs.rs std search like this: https://doc.rust-lang.org/std/?search=Box

The behavior I would like to see is that once I reach the search page, I can simply hit `Enter` to navigate to the first result: `std::boxed::Box`, or alternatively navigate between the different options just by immedi

[2021-07-05 14:05] Nemo157 commented on #86882
The search page is actually part of rustdoc, docs.rs just hosts it for non-`std` crates, so I've transferred the issue over.

[2021-07-05 14:16] AzureMarker opened #86883 "Incorrect "expected associated type, found tuple" error in trait implementation"
When generically implementing a trait with an associated type (along with some other specific circumstances), there is an error which essentially says that type A doesn't equal type A.

Minimized:

[code]

Error message:
[code]

Changing line 11 by expanding the associated type like so produces a new error:
[code]
[code]

### Meta

This error appears in stable and nightly.

`rustc --version --verb

[2021-07-05 14:23] gilescope commented on #82775
Well if we're agreed on leaving it as is then we can head towards stabilising it...

[2021-07-05 14:39] TethysSvensson opened #86884 "ICE in codegen_fulfill_obligation"
### Code

[code]

### Meta
I get an ICE on 1.21.0, 1.53.0 and current nightly:

`rustc --version --verbose`:
[code]

I do not get an ICE on 1.20 (though it does not compile either).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-05 15:03] jonas-schievink commented on #86884
This is probably https://github.com/rust-lang/rust/issues/62529

[2021-07-05 15:18] crepererum commented on #51981
This not only affects the panic message but also the location reported by `gdb`, which is a bit confusing. Also it makes debugging in multi-line macros (like the `foo` macro above) quite cumbersome, because you cannot set breakpoints properly.

[2021-07-05 15:45] Lokathor commented on #75243
Even if this method is useless in 99% of cases, it lets people write default arrays. So for that _alone_ it's worth it.

And the 99% figure is itself hyperbolic.

[2021-07-05 16:04] aticu commented on #82071
I hit a similar issue, so I decided to look into this.
The code you provided should indeed error, since there is an ambiguity.

[code]

If the repetition (2) is parsed as empty (as is the case here), then the commas (4) and (5) could be parsed by both repetition (1) and (3) (either the first or the second being empty and the other containing the comma).
In this particular case the issue could be w

[2021-07-05 16:04] jsha commented on #86716
A couple of interesting examples to possibly draw from:

[eBay's search results page](https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313&_nkw=battery&_sacat=0) lists a bunch of categories with checkboxes. I think the categories are automatically created (and ranked) based on what's in the search results. We could potentially do the same at the module level, not just the crate le

[2021-07-05 16:55] Manishearth commented on #86851
So i think having just a regular copy button for copying the examples _as shown_ would be nice. However I think in  #86363 folks were discussing this as a way to show the "hidden" code that's in examples to make them run -- I don't think a "copy" button should ever copy text that it is not being displayed.

I do think if we want to make the hidden text visible we should have an "expand" button tha

[2021-07-05 17:02] jyn514 commented on #56935
@TrueDoctor I can't replicate that ICE.

[code]

[2021-07-05 17:02] btzy commented on #59878
Are there any updates on this?  It does seem like a waste of the edition update if this isn't going into Rust 2021.  There're a number of places in our codebase where we're doing `Vec::from(boxed_slice).into_iter()` currently, which would benefit from this.

I wouldn't mind spending some time to get this working, if we're just waiting for someone to get around to writing the implementation.  (But

[2021-07-05 17:05] jsha commented on #86851
Agreed that we should only copy visible text. Here's an idea: when you click the "copy" button it shows "Copied ✓. To reveal and copy hidden boilerplate, click here." And it could show the latter part only when there actually is hidden boilerplate.

[2021-07-05 17:08] rylev commented on #51176
Triage: this is still an issue. Here's the code updated code considering the lint changed since this issues was filed:

[code]

[2021-07-05 17:16] Manishearth commented on #86851
Would be weird to only expose the "reveal hidden boilerplate" option when you click copy, I'm thinking adding a second button with an "expand" icon on it

[2021-07-05 17:30] GuillaumeGomez commented on #86851
I can do that as well. I already have the code ready for the "copy to clipboard" so I can add an expand button as well.

[2021-07-05 17:32] jyn514 opened #86890 "download-ci-llvm does not include llvm-tblgen"
In particular, this means you have to *rebuild* llvm for the host when cross-compiling.

I tried this code: `x build --host i686-unknown-linux-gnu`.

I expected to see this happen: The compiler builds successfully.

Instead, this happened:

[code]

I think there's a secondary bug which is that x.py hard-codes `llvm` instead of `ci-llvm/`. But that seems easier to fix.

### Meta

`rustc --version -

[2021-07-05 17:55] TrueDoctor commented on #56935
@jyn514 I can still replicate the issue, both with stable and nightly:
[code]
I'm using this repo for testing: https://github.com/GraphiteEditor/Graphite/tree/ice-debugging

[2021-07-05 17:58] TrueDoctor commented on #56935
The only difference I can spot in which file `use proc_macro::TokenStream;`is, I have it in the proc macro crate and you seem to have in in the main file (unless the lines just got mixed up in your comment)

[2021-07-05 20:47] m-ou-se commented on #80218
Thinking a bit about the signature: Considering `Read` is already implemented for `&mut impl Read`, shouldn't this function just take an `R` instead of `&mut R`?

[2021-07-05 21:07] goffrie opened #86893 "ICE generating debuginfo for non-primitive const generics"
### Code

[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1b9d4f551009ebe3b997df537c512a2f)

### Meta

`rustc --version --verbose`:
[code]

This ICE is a regression. Bisection implicates https://github.com/rust-lang/rust/pull/85269.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-05 21:08] goffrie commented on #86893
This also occurs with types like `[u32; 2]`, [causing e.g. packed_simd to break](https://github.com/rust-lang/packed_simd/issues/324).

[2021-07-05 21:09] m-ou-se commented on #85811
@weiznich Yeah, the default resolver change is quite a different beast than the other edition changes, as it is outside the language. I don't think the problem you describe is a big one though, because having both `edition = "2021"` and `resolver = "1"` in your Cargo.toml is perfectly valid. In some way, it means both the Rust language and the cargo tool have different 'editions' now. And to keep

[2021-07-05 21:21] m-ou-se commented on #78186
Hm, interesting. `Pin::static_ref` was the one I needed. I only added `Pin::static_mut` for completeness.

Use case (e.g. in the standard library):

[code]

Instead of having all its methods unsafe with the requirement that it hasn't been moved, the methods require `Pin<&Self>` and can be safe. Pin::static_ref can be used on statics, because the `'static` lifetime already promises that the thing w

[2021-07-05 21:25] AaronKutch opened #86894 "Workspaces turning on `dev-dependencies` flags when they should not"
I expect `dev-dependencies` to affect compilation only if I run `cargo test`, `cargo doc`, or some other non-`cargo build` or non-`cargo check` task (the cargo book says "Dev-dependencies are not used when compiling a package for building"). However, I ran into a problem where `dev-dependencies` activates feature flags in a workspace unexpectedly.

I have a repository [here](https://github.com/Aar

[2021-07-05 21:26] dwrensha opened #86895 "internal compiler error: the following error was constructed but not emitted"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2021-07-05 21:27] dwrensha commented on #86895
searched nightlies: from nightly-2021-02-10 to nightly-2021-05-01
regressed nightly: nightly-2021-03-19
searched commits: from https://github.com/rust-lang/rust/commit/36f1f04f18b89ba4a999bcfd6584663fd6fc1c5d to https://github.com/rust-lang/rust/commit/1705a7d64b833d1c4b69958b0627bd054e6d764b
regressed commit: https://github.com/rust-lang/rust/commit/81c1d7a1506e5f4bcc5f12fb49f3b6e9bb87c605

<deta

[2021-07-05 21:34] jonas-schievink commented on #86894
Does this get resolved when using the [new resolver](https://doc.rust-lang.org/stable/cargo/reference/resolver.html#resolver-versions)?

[2021-07-05 21:46] AaronKutch commented on #86894
It does get resolved, thanks

[2021-07-05 21:46] #86894 closed

[2021-07-05 21:51] jackh726 commented on #86884
Yes, closing as duplicate of that issue. There are plenty of MCVEs.

[2021-07-05 21:51] #86884 closed

[2021-07-05 21:52] #40230 closed

[2021-07-05 21:52] #85149 closed

[2021-07-05 22:03] camelid commented on #86716
Unfortunately, I can't think of a good example off the top of my head. I'll try to remember if I come across a situation where it would be useful :)

I actually find it somewhat annoying that the current crate selection persists across different pages, but I don't use it that much because I find it too limited—usually it's just faster to type in the full qualified path. I think I would need to try

[2021-07-05 22:15] camelid commented on #86851
I read through this thread and the linked playground-url PR, but I wasn't able to find a description of why the copy and expand features would be useful. I would like to understand why people want this feature because they add visual weight to the docs, and as we've discussed before, the docs already have a lot of visual components that make them harder to read. For me personally, I have very rare

[2021-07-05 22:31] workingjubilee commented on #65439
### Recap

- m-ou-se suggests `File::open_options()` as an alternative, because it sorts directly next to `File::open(Path)` in the method overview, and proposes other shorthands like `File::open_rw()`, `File::open_append()`, or `File::create_new()`.
  - Question: Is the function sorting algorithm for rustdoc stable or likely to change?
  - Question: Where does `create_new()` come in here? How exa

[2021-07-05 22:38] CAD97 opened #86897 "E0493 emitted without drop when destructuring"
Given the following code:

[code]

The current output is:

[code]

This error is clearly wrong: `self` is not dropped, as it's been moved out of. In fact, no destructors are run, so this _should_ be able to compile. If it shouldn't compile, the error should be changed to not be incorrect.

This seems to be an issue in the drop suppression when moving out field-wise; using e.g. `mem::forget` works

[2021-07-05 22:40] camelid commented on #17539
I have an idea on how to improve this error. @rustbot claim

[2021-07-05 22:51] bstrie commented on #86269
Any API for this in std should balance user expectation with Rust idioms. I'm sympathetic to the familiarity of `a, b, t` from other languages. At the same time, `a.lerp(b, t)` reads like an abuse of method syntax. If it must be `a, b, t`, and if it isn't `(a..b).lerp(t)`, then make this an associated function rather than a method: `f32::lerp(a, b, t)`.

Also note that Rust isn't exactly a strange

[2021-07-05 23:17] workingjubilee commented on #65439
A quick skim of grep.app for [`open_options`](https://grep.app/search?q=open_options&case=true&words=true&filter[lang][0]=Rust) reveals that the dominant use of it is "a variable or struct field that is OpenOptions". In one or two cases it is in fact used as "open with this OpenOptions".

Searching for the regexp [/`fn open_.*\(`/](https://grep.app/search?current=13&q=fn%20open_.%2A%5C%28&regexp=t

[2021-07-06 00:00] JohnTitor commented on #83120
Triage: Turned out this was a duplicate of #84841 and the issue has been fixed by #86866. Just closing as that PR has a regression test for this case.

[2021-07-06 00:00] #83120 closed

[2021-07-06 00:01] Amanieu commented on #72016
Update on the stabilization blockers:
- We're still blocked on `inline_const` (#76001) for `const` operands. We would like that feature to be stabilized first since `const` operands are very similar: any breaking changes in one would likely affect the other.
- Some progress has been made on #81092: we can now properly express clobber constraints even for registers that we disallow for inputs/outpu

[2021-07-06 00:07] bstrie commented on #72016
Does there exist the possibility of shipping an MVP for `asm!` that doesn't permit const operands, or is that a non-starter?

[2021-07-06 00:09] programmerjake commented on #86269
Well, if you want `t` to be last, how about:
[code]

[2021-07-06 00:10] Amanieu commented on #72016
I suppose that with what we have at the moment we could envisage a minimal stabilization that:
- Only supports a few architectures (ARM/AArch64/x86/x86_64/RISC-V are a good start).
- Doesn't support `sym` and `const` operands.

[2021-07-06 01:08] ajdust commented on #86870
Nice Cryptjar! I hadn't thought about using `Wrapping<i32>`. Sure enough that brings the compile time back down just like using the `-Cinline-threshold=1000` flag does.

To add to that, on my machine at least, compiling with `-Cinline-threshold=1000` is a bit speedier than the `Wrapped` version, and `Wrapped`+`-Cinline-threshold=1000` is the fastest.

Actually running the 300 functions test execut

[2021-07-06 02:28] pymongo opened #86899 "SIGABRT on `std::env::current_dir()` after closedir"
I tried to traverse directory recursive from `/` diretory:

[code]

These code SIGABRT output:

[code]

**these code also SIGABRT on playground** run on stable: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=37ae5b3324fd951dcfe572a2f664169b)

I know this line is a bug

should be

Why **`closedir`** wrong would cause **`std::env::current_dir()`** SIGABRT ?

[2021-07-06 02:45] insou22 commented on #86882
Oh I didn't realise -- thanks for that!

[2021-07-06 02:59] jyn514 opened #86900 "Rustdoc is being documented without --document-private-items on nightly-rustc"
Compare https://doc.rust-lang.org/beta/nightly-rustc/rustdoc/ to https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/.

This is almost certainly caused by https://github.com/rust-lang/rust/pull/86737.

[2021-07-06 03:35] ehuss commented on #86899
I believe the `closedir` causes a use-after-free.  Based on the error message, it looks like the malloc structures are corrupted.  `env::current_dir()` needs to dynamically allocate memory for the path.  Once you start getting memory corruption due to referencing freed memory, the wheels on the bus have come off and anything can happen when it eventually crashes.

Questions like these are best ask

[2021-07-06 03:35] #86899 closed

[2021-07-06 03:45] jyn514 commented on #79630
I found the issue. `links()` explicitly skips the check to `href()` for primitives, which *only* leaves hard-coded URLs as the fallback: https://github.com/rust-lang/rust/blob/d5a406bb665213a0ceb6980921a39617d35a2e2d/src/librustdoc/clean/types.rs#L483-L488
In particular, the check for `extern_locations.get(&self.def_id.krate)` is completely bogus, that's the crate of *the item being documented*, n

[2021-07-06 03:47] jyn514 commented on #79630
... which will never be in `extern_locations` because it's always the current crate :facepalm:

[2021-07-06 05:25] inquisitivecrystal commented on #57569
Going to see if I can figure this out.

@rustbot claim
@rustbot label C-bug T-compiler

[2021-07-06 07:15] 3541 commented on #79248
Is anyone aware of a way to work around this issue at the moment?

[2021-07-06 07:28] RalfJung commented on #72016
It should also be possible to do something similar to `const` in array repeat expressions, maybe? That would mean supporting direct uses of constants (and literals), but not inline const expressions:
[code]

[2021-07-06 07:59] hyd-dev commented on #86897
I believe this is [fixed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7279fab510f9092ffe47dbd384ada5ad) by [`#![feature(const_precise_live_drops)]`](https://github.com/rust-lang/rust/issues/73255).

[2021-07-06 08:10] halvnykterist commented on #86269
I use `a.lerp(b, t)` in several places, it feels perfectly natural to me. Read as "lerp A towards B by T".

There are other methods on f32 in the standard library that might feel similarly "weird" to you, but are still not associated functions:
`y.atan2(x)`
`a.min(b)`
`a.max(b)`
`x.hypot(y)`
If you don't like the look of them you can always just call them using associated function syntax.

And wha

[2021-07-06 08:21] tubzby commented on #63033
@danielhenrymantilla thanks, I will try that.

[2021-07-06 08:28] GuillaumeGomez commented on #86851
I originally wanted to add the "run" button in every case to be able to have all the code so I can edit it. Therefore it was suggested to simply add a button to copy it and another one to expand/collapse the code block.

As for the visual weight, I intend to make all the code blocks' buttons hidden by default until you hover the code block. That should reduce the visual weight quite a lot.

[2021-07-06 10:02] matklad commented on #53487
Observation which didn't occur to me before: folks using `core` often care about optimizing code size. The `Error` trait is `: Debug + Display`, so it brings in formatting machinery. Formatting machinery in core [causes code bloat](https://jamesmunns.com/blog/fmt-unreasonably-expensive/).

So, there's an unfortunate tradeoff between being inter-operable with errors ecosystem and opening up avenues

[2021-07-06 10:17] roblabla commented on #53487
AFAIK, the formatting machinery only causes code bloat when actually used afaict. And the majority of the code bloat comes from the call to `format_args!()`, not from the debug implementation itself, so I don't think it's such a huge deal. It's unfortunate, but it doesn't really add more footguns than were already there (after all, Debug and Display already exists).

[2021-07-06 10:27] tpisto commented on #84395
Hi! Any update about this issue?

[2021-07-06 11:17] Hywan commented on #78917
Hey :-). Any news on that front? #79454 has been closed due to inactivity. Anyone willing to take it? Can I take it?

[2021-07-06 11:32] #85999 closed

[2021-07-06 11:47] jyn514 commented on #78917
@Hywan sure thing, feel free to open a PR :)

[2021-07-06 12:31] m-ou-se opened #86902 "2021 prelude migration lint: Check if trait is actually implemented"
(As I mentioned [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/'Manual.20crater.20run'.20results/near/244166619):)

I tried out the migration lints on some of my own code, and ran into one false positive:

- A `StructOpt` struct being used with `Opt::from_iter`
[code]

This doesn't actually become ambiguous when FromIterator is imported, because Opt doesn't imp

[2021-07-06 12:42] m-ou-se commented on #86902
(If we don't end up doing this, we should at least change the wording to say `"might become ambiguous"` instead of `"will .."`.)

[2021-07-06 12:52] PonasKovas commented on #75243
I don't know if this is the right place for this, but I'd like to report that `array::map` uses the stack excessively and operating on larger arrays result in unexpected stack overflows.

Minimal example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2d96e8f66b3432a8d1ecf0ca4331f85a

In the example, at some point more than 16 times more stack is used than the original ar

[2021-07-06 12:58] m-ou-se commented on #86902
@nikomatsakis Which exact function on which type do you mean? Do you have some pointers here?

[2021-07-06 13:12] jyn514 commented on #86902
@m-ou-se Maybe Niko meant evaluate-obligation https://doc.rust-lang.org/nightly/nightly-rustc/rustc_trait_selection/traits/query/evaluate_obligation/trait.InferCtxtExt.html#tymethod.evaluate_obligation ?

[2021-07-06 13:24] bstrie commented on #86269
Functions like `a.min(b)` are part of my point, as they are widely derided. That you can use UFCS to call them as `f32::min(a, b)` is true, but also highly obscure; I have had to explain this feature to many an experienced Rust user who came to me griping about `a.min(b)`. The rationalization for the existence of `a.min(b)` is 1) we want a trait, so that people can bound on `T: Ord`, and because o

[2021-07-06 13:38] m-ou-se commented on #86902
Okay I have an implementation that uh.. compiles. And seems to work, maybe? (:

[2021-07-06 13:42] sfackler commented on #72016
I would definitely be in favor of that minimal stabilization!

[2021-07-06 14:02] rust-highfive opened #86905 "`rls` no longer builds after rust-lang/rust#86143"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86143, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @bjorn3, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-06 15:00] weiznich commented on #85811
@m-ou-se

First of all https://github.com/rust-lang/cargo/issues/9450#issuecomment-839943412 clearly states that cargo is covered by rusts stability guarantee.  At least for me this implies that we cannot just say: "both the Rust language and the cargo tool have different 'editions' now" and hide that behind the a unified edition tag. That written: Yes, technically it's possible to "just revert" t

[2021-07-06 15:26] booleancoercion opened #86908 "UB in example code for E0617"
I was browsing through some errors and I noticed the explanation for E0617:
[code]
(replaced backticks with quotes to fix the formatting issues)

The diagnostic itself is fine and correctly suggests how to fix the error, however I think the code in question is troublesome - passing a null pointer to `printf` is undefined behavior! As a language that prides itself in avoiding UB, I find it odd that

[2021-07-06 16:00] Lokathor commented on #75243
Works in release at least.

In general, Rust debug performance has problems like this all the time, and can hit stack size limits easily. Particularly on embedded for example.

I think Rust can work on this problem, but it's not specifically the fault of array_map.

[2021-07-06 16:20] Legend-of-iPhoenix commented on #51132
It's worth noting for people coming across this issue in the future that inlining the function being called (in this case, `parse`) generally resolves this error.

Not sure what to do when the function being called is sizable/too messy to inline, though :)

[2021-07-06 16:28] mcy opened #86910 "Description of E0495 failure difficult to parse"
Given the following code: https://godbolt.org/z/6ndY3zx7q

[code]

The current output is:

[code]

I run into this (the "bad variance diagonistic") whenever I'm doing anything particularly difficult with lifetimes. Even though most people would say I'm a very advanced Rust user, this particular class of diagnostics is extremely time-consuming for me to unwind. This error always means one of two th

[2021-07-06 16:34] Stupremee commented on #86900
@rustbot claim

[2021-07-06 16:50] #57182 closed

[2021-07-06 16:56] programmerjake opened #86912 "array::map stack usage"
I don't know if this is the right place for this, but I'd like to report that `array::map` uses the stack excessively and operating on larger arrays result in unexpected stack overflows.

Minimal example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2d96e8f66b3432a8d1ecf0ca4331f85a

In the example, at some point more than 16 times more stack is used than the original ar

[2021-07-06 17:07] programmerjake commented on #86912
I did some analysis for the similar code:
https://rust.godbolt.org/z/vssb3dEqx
[code]

After some `sed` magic (I'm on my phone and rustup can't find any toolchains for `aarch64-linux-android`)...<br/>
Functions sorted by stack usage:
[code]

[2021-07-06 17:13] programmerjake commented on #75243
created #86912 to track that stack usage issue

[2021-07-06 17:14] FabianWolff commented on #86719
Could be a duplicate of #83919.

[2021-07-06 17:25] jbr opened #86914 "Unterminated block comment that contains /* anywhere, including in a doctest"
I tried this code:

[code]
[https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1a47ac30baafb8ad5bd90d566e00d4d9](playground)

(I actually encountered this when trying to document a router and included a doctest with the literal `"/*"`, but the cheerleader is more fun)

I expected to see this happen: compilation success

Instead, this happened:
`error[E0758]: unterminated bloc

[2021-07-06 17:26] jonas-schievink commented on #86914
Rust supports nested block comments. The `*\o/*` opens a nested comment, which is closed by the `*/` on line 3, but the original comment is never closed.

[2021-07-06 17:28] jbr commented on #86914
Thanks for the incredibly prompt response! Why does rust support nested block comments? What does that signify?

[2021-07-06 17:32] ijackson commented on #80690
`into_inner` gives you just an inner writer; `into_parts` gives you all the parts.  I don't have a particularly strong feeling about this but I think `into_parts` is somewhat better.  So I'll go and deal with the review comment on the fixups MR #85901.

[2021-07-06 17:38] jbr commented on #86914
It makes a bit more sense with my cheerleader example that this might be a nested block comment, but what about [this example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=76897ff82a15e2c14c0d147b26f47b67)

[code]

(space added in fence for github display)

Is the issue that the outer comment parser is unaware of fenced code blocks and it's all undifferentiated text oth

[2021-07-06 17:45] hargoniX opened #86915 "rustdoc: Searching for types with generics"
Over here https://github.com/rust-lang/rfcs/issues/658 I read that rustdoc is able to search for type signatures which works okay-ish when looking for rather primitive type signatures. However I think it would be cool if one could search for generic types (which is also possible in the "role model" of this feature, hoogle). For example on `Result<T>` and `Option<T>` there are lots of conversion fu

[2021-07-06 17:55] halvnykterist commented on #86269
They are? If that's the case, shouldn't the examples in the docs at least be calling them as `f32::min(a, b)` then?

how methods work we have to pick _something_ to be the receiver, 2) there are only two arguments, so one of them has to be the receiver, and 3) even though `Ord` isn't implemented on floats, we want the interface to be consistent with integers, so we implement this as an inherent me

[2021-07-06 18:01] jonas-schievink commented on #86914
Pretty much, yeah. The nested comment here is opened by the `route/*"`.

Since changing this would be a breaking change, I'll relabel this as a diagnostics improvement.

[2021-07-06 18:05] jbr commented on #86914
Is this something that could change between editions?

[2021-07-06 18:10] koalefant commented on #86269
If lerp becomes a method of `t` it becomes impossible (or at least difficult) to overload it for other algebraic types such as vectors or quaternions.

All of these  will require construction of useless temporary objects.

There is a number of existing algebraic crates (listed above) that use `a.lerp(b, t)` convention. A single std-function is unlikely to change this convention, this will only int

[2021-07-06 18:15] pedrocr commented on #53340
That tool worked really well. Gave me an installed toolchain and then the benchmarking automation just worked. Here's the result of running that branch compared to the other recent toolchains:

[code]
Hopefully the patch doesn't have any soundness issues because it seems to fix things completely. The same code now becomes ~8% faster.

[2021-07-06 18:16] programmerjake commented on #86269
It's simple with a `Lerp` trait:
[code]

[2021-07-06 18:20] jonas-schievink commented on #86914
Maybe, if you manage to convince the language team

[2021-07-06 18:24] programmerjake commented on #86269
They're not useless, arrays allow easily being generic over `lerp` and higher-order Bezier Curves, while also making it extremely obvious which arguments are the endpoints and which argument is `t`. Just seeing `a.lerp(b, c)` you can't tell for sure if `t` is `a` or `c` without having to go see what specific definition the code's author is using today. For `[a, b].lerp(c)` or `c.lerp([a, b])` it's

[2021-07-06 18:33] programmerjake commented on #86269
There is Rust code that uses `lerp(t, a, b)`:
A project I partially finished several years ago:
https://github.com/programmerjake/hashlife3d/blob/15551958ebbfe3ac6e58508a8f1cde9d797a6e0a/src/block/mod.rs#L715

I'm probably far from the only one...

[2021-07-06 18:43] koalefant commented on #86269
Use of array causes suboptimal code generation (both debug and optimized) even for f32. Here is an example: https://godbolt.org/z/zT7Pr1Pjb
For larger types this trait is likely to cause two undesired copies.

[2021-07-06 18:55] jbr commented on #86914
Would that entail an RFC with the proposed change? Or just mentioning the right people on this issue?

[2021-07-06 19:02] Stargateur commented on #86870
maybe compiler use bigint to compile time the result

[2021-07-06 19:05] bstrie commented on #72016
So then let's say for now that the hard blockers for an MVP are:

1. clobbers
2. namespacing
3. a lint for labels

With the rest being left as future work for "full" stabilization.

WRT to namespacing, as the author of the issue I'll go through today and make one final summary of the arguments, and then Amanieu can nominate that issue for libs team discussion at the next meeting.

[2021-07-06 19:05] Mark-Simulacrum commented on #78226
Thanks for the bisection! I suspect the best way is to try to land a revert (of the revert? not sure how revert-y we've gotten there) on the beta branch, while enabling this test (reverting 793b0055d2aa8dd63b6d24425bf1e3abdafaa89b).

It seems plausible at least that this is not an entirely *correct* bisection in terms of underlying root cause based on a cursory inspection of these PRs. My guess is

[2021-07-06 19:08] PonasKovas commented on #86912
Someone analyzed a similar problem on reddit: https://www.reddit.com/r/rust/comments/oeqqf7/unexpected_high_stack_usage/

[2021-07-06 19:11] jonas-schievink commented on #86914
You'll probably want to get buy-in on Zulip first, then write an RFC

[2021-07-06 19:18] programmerjake commented on #86269
They produce identical code with optimizations on once the `impl`s are decorated with `#[inline]` like they should be in `std`:
[code]

https://godbolt.org/z/o7esvxssa

If optimizations are turned off, passing arrays/separate-args to `lerp` is the least of your worries...

That's inherent in having larger types passed across non-inlined function call boundaries -- caused by current rustc inheritin

[2021-07-06 19:21] programmerjake commented on #86269
additional crate that uses `fn lerp(t, a, b)`:
https://docs.rs/splines/4.0.0/splines/interpolate/trait.Interpolate.html#tymethod.lerp

Has nearly 67k downloads.

[2021-07-06 19:31] #86751 closed

[2021-07-06 20:01] bjorn3 commented on #78226
It changes symbol names and probably the order of some hashmaps. This might have changed the codegened code just enough to expose a pre-existing bug I would guess.

[2021-07-06 20:26] nagisa commented on #86912
Alas, the high stack usage when using large types by value, including arrays, is going to be a commonly recurring theme. There's a lot of reliance on optimization here to remove intermediate locals and to inline functions so that copies when passing arguments aren't necessary.

[2021-07-06 20:37] nagisa commented on #86870
The code necessary to panic for each checked operation is going to be quite large, and introduce a fair number of additional basic blocks. Ideally compilation would still be linear wrt the amount of code (rather than superlinear).

[2021-07-06 21:24] nbdd0121 commented on #81088
How about
[code]

`label` just generates a unique label and is substituted similar to an allocated register operand.

[2021-07-06 21:43] bstrie commented on #84019
Now that an `asm!` MVP [may be on the horizon](https://github.com/rust-lang/rust/issues/72016#issuecomment-874373791), I propose that this issue has spent long enough percolating. I've reviewed the comments from all the prior threads and will here summarize what I believe to be the status of this issue, so that the libs team can make a final decision.

## Question

Should the `asm!` macro be defin

[2021-07-06 21:45] bstrie commented on #72016
https://github.com/rust-lang/rust/issues/84019#issuecomment-875101919 is ready for nomination, and I'm willing to implement whatever the libs team decides.

[2021-07-06 21:47] joshtriplett commented on #80970
@nvzqz For `x86_64-fortanix-sgx`, I think "sgx" should remain the "os" and "fortanix" should be moved from "vendor" to either "abi" or "env".

[2021-07-06 23:58] jonhoo opened #86918 "Tracking Issue for `pin_deref_mut`"
Feature gate: `#![feature(pin_deref_mut)]`

This is a tracking issue for `Pin::as_deref_mut`.

The feature adds the method `as_deref_mut` to `Pin`, which allow a safe transformation from a `Pin<&mut Pin<P>>` to a `Pin<&mut P::Target>`.

### Public API

[code]

### Steps / History

- [x] #81363
- [x] #129449
- [ ] #129424

### Unresolved Questions

- None yet.

[2021-07-07 03:26] jyn514 commented on #4287
I'm going to close this since it now gives a type-length-limit error.

[2021-07-07 03:26] #4287 closed

[2021-07-07 03:51] jyn514 commented on #36691
This works fine on nightly (once you add some cargo crates and change `rustc_macro` to `proc_macro`):

[code]

[2021-07-07 03:51] #36691 closed

[2021-07-07 03:55] jyn514 commented on #37201
Triage: the output looks a little odd because it doesn't keep the alignment, but the bug reported here is now fixed:
[code]

[2021-07-07 04:02] jyn514 commented on #37663
Triage: this is now fixed.
[code]

[2021-07-07 04:02] #37663 closed

[2021-07-07 04:04] Gankra commented on #71515
@1000teslas oh wow, great work!

All that's left to do is advertise the new flag and provide some instructions for people to test out if it works correctly/and how it performs. I know there was some discussion about the final flag name, could you post instructions on how to use it here? Then someone more familiar with community rallying can encourage people to check it out.

[2021-07-07 04:09] jyn514 commented on #37794
Triage: this still happens today.

![image](https://user-images.githubusercontent.com/23638587/124698809-98de0280-deb7-11eb-86ca-048ed152c338.png)

[2021-07-07 04:13] jyn514 commented on #38425
Triage: this still happens today: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=262957a6d4b0b3172ffa8580cb7cb995

[2021-07-07 04:14] jyn514 commented on #38678
@pnkfelix would you still find this useful? I don't know how many people are still using tags now that rust-analyzer works reasonably well on the compiler.

[2021-07-07 04:14] 1000teslas commented on #71515
It is used like this: `-Z gcc-ld=lld`.

[2021-07-07 04:19] jyn514 commented on #39213
Triage: duplicate of https://github.com/rust-lang/rust/issues/78482 (or the other way around), fixed on nightly by https://github.com/rust-lang/rust/pull/84814.

![image](https://user-images.githubusercontent.com/23638587/124699556-ffafeb80-deb8-11eb-8dee-c3495eed26fd.png)

[2021-07-07 04:19] #39213 closed

[2021-07-07 04:30] jyn514 commented on #40905
Triage: on nightly, these now happen to match the source order, but I think because they're in alphabetical order, not because rustdoc is trying to match the original order; Borrow is shown after AsRef even though it comes earlier in source order.
![image](https://user-images.githubusercontent.com/23638587/124700070-0ab74b80-deba-11eb-8bcb-1db734cb447f.png)
![image](https://user-images.githubuserc

[2021-07-07 04:32] jyn514 commented on #41407
Triage: this now compiles.

[2021-07-07 04:32] #41407 closed

[2021-07-07 04:35] jyn514 commented on #42451
Triage: I'm not sure how to reproduce the original error, since neither `futures::Future` nor `core::future::Future` has `Item` or `Error` associated items. I would expect this to probably be fixed though since impl-trait is no longer experimental.

[2021-07-07 04:38] jyn514 commented on #47348
Triage: the error message for `foo0` is now
[code]
Maybe that's helpful enough? This definitely doesn't seem like a bug though, I'm going to change it to a diagnostic request.

[2021-07-07 04:45] jyn514 commented on #54729
Triage: I think this is a duplicate of https://github.com/rust-lang/rust/issues/41078.

[2021-07-07 04:50] jyn514 commented on #54600
Triage: the first example still gives an ICE.
[code]

[2021-07-07 04:52] jyn514 commented on #59631
Triage: the current error for this is
[code]

@oli-obk why do you say this should compile? It seems strange that you could have a completely unconstrainted type, FOO has no defining use.

[2021-07-07 04:55] jyn514 commented on #69096
Triage: this now compiles and runs successfully.

[2021-07-07 04:55] #69096 closed

[2021-07-07 04:59] jyn514 commented on #66057
Both the original and reduced example now compile.

[2021-07-07 04:59] #66057 closed

[2021-07-07 05:01] jyn514 commented on #67751
The original code now compiles and runs.

[2021-07-07 05:03] jyn514 commented on #66523
Triage: the current output is
[code]
Which seems pretty good to me - should this be closed as a duplicate of https://github.com/rust-lang/rust/issues/69882 ?

[2021-07-07 05:37] bstrie opened #86921 "Make lifetime elision rules for closures consistent with lifetime elision rules for functions"
The following code does not compile:
[code]
Output:
[code]
For `function`, the lifetime of the return type is properly inferred to be equal to the only input lifetime, as per the lifetime elision rules:

However, for `closure` this is not done, and the return type is assigned a distinct lifetime from the input. AFAIK it is only an accident of history that closures do not have the same lifetime eli

[2021-07-07 06:12] #86288 closed

[2021-07-07 06:12] rust-highfive opened #86923 "`miri` no longer builds after rust-lang/rust#86920"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86920, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-07 06:30] lqd commented on #54600
For people following at home, `impl-trait-in-bindings` is on its way of being removed and reimplemented: https://github.com/rust-lang/rust/issues/86729

[2021-07-07 06:32] P-E-Meunier commented on #42451
Yes, definitely fixed.

[2021-07-07 06:32] #42451 closed

[2021-07-07 06:36] xobs commented on #86693
Update: the issue was due to `$sp` only being 4-byte aligned.

The current ABI assumes the stack is aligned to 16-bytes. Unfortunately on the target system, the stack was only 4-byte aligned. As a result, some optimizations were triggered that were causing this unfortunate miscompilation.

Aligning `$sp` solves the issue.

[2021-07-07 06:51] blinkingso opened #86924 "rust1.53.0 lifetime and borrow rules unclear"
`fn main() {`
    `let mut a = String::from("owned string");`
    `let a_ref = &mut a;`
    `a_ref.push('!');`
    `// cannot borrow `a` as immutable because it is also borrowed as mutable on previous revision. but passed in 1.53.0`
   `println!("{}", a);`
`}`

[2021-07-07 07:37] hniksic commented on #67751
@jyn514 What compiler version does it compile with? When I try it with the 1.55.0-nightly (2021-07-05) currently in the Playground, it fails with the same error message as before. Note that the first snippet is just a setup, the [second one](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f43b7b261c6560dbdcf8c24831fe1eb9) is the one that actually fails.

[2021-07-07 07:45] RalfJung commented on #85181
Closing as intended behavior [per this RFC](https://rust-lang.github.io/rfcs/3027-infallible-promotion.html).

[2021-07-07 07:45] #85181 closed

[2021-07-07 08:09] inquisitivecrystal commented on #57569
I have what I think is a solution implemented, but still need to do final testing. Fingers crossed.

[2021-07-07 08:38] gilescope commented on #81684
Did it work in the end? ( @richkadel you might be interested in this? )
Would be super cool to be able to do coverage on wasm code.

[2021-07-07 08:38] deltragon commented on #86924
This does not seem to be a 1.53 change, but rather the non-lexical lifetimes introduced in 1.31/1.36, see https://doc.rust-lang.org/edition-guide/rust-2018/ownership-and-lifetimes/non-lexical-lifetimes.html for more information.

[2021-07-07 08:51] petrochenkov commented on #37201
If this is fixed, then the tests need to be un-ignored, reopening until that is done.

[2021-07-07 09:25] rylev opened #86929 "Incremental compilation warning "Error finalizing incremental compilation session directory" when building compiler on Windows"
*When building the compiler* on Windows with incremental turned on I often get the following warning:

[code]

Compilation continues after this and leads to a successful build.

A similar issue has been reported before (https://github.com/rust-lang/rust/issues/48700), but that is a panic during compilation of a normal crate.

[2021-07-07 09:28] rylev commented on #86895
I'm going to take a look at this.

@rustbot claim

[2021-07-07 10:19] #86924 closed

[2021-07-07 10:59] ChrisDenton commented on #86929
Seems to be an [`fs::rename` operation](https://github.com/rust-lang/rust/blob/d04ec4735810553224eb5eaf948ec78f84eac06c/compiler/rustc_incremental/src/persist/fs.rs#L362) failing? The likely cause would be a file handle that is still open.

[2021-07-07 11:58] tspiteri commented on #70887
@m-ou-se Should this be reopened now that #80918 has been merged?

[2021-07-07 12:00] rylev commented on #85894
With #86717 merged, we can close this issue.

[2021-07-07 12:00] #85894 closed

[2021-07-07 12:01] m-ou-se commented on #70887
@tspiteri Yes. Thanks!

[2021-07-07 12:10] Amanieu commented on #81088
This is how I planned for `asm!(foo: "jmp {foo}")` to be represented internally in the compiler, but I don't like the fact that you have to declare the label name twice.

[2021-07-07 12:13] luyikk opened #86931 "ubuntu libc malloc and free will core dump"
All kinds of crashes come from libc malloc and free. This is one of them. When I don't use default global_allocator, it's OK to use mimalloc,the error will come from String, Vec<T>, Box<T>..... random core dump.
that makes me wonder about default global_ Allocator robustness.

I expected to see this happen: *explanation*
Instead, this happened: *explanation*

This is just a piece of normal code bu

[2021-07-07 12:22] rylev commented on #86516
Work that needs to be done to stabilize:
- [ ] Decide on a name. The name `--force-warns` was not really discussed. We may want to consider changing it.
- [ ] Remove from the unstable book.
- [ ] Update the rustc book.
- [ ] Create a [stabilization report](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report).
- [ ] Make usage stable.

[2021-07-07 12:37] jonas-schievink commented on #86931
Please provide a way to reproduce this issue

[2021-07-07 12:38] afranchuk opened #86934 "Fn trait associated type (return type) considered unconstrained"
I tried this code:

[code]

I expected to see this happen: `G` should be considered a constrained type.

Instead, this happened:
[code]

Note that if you use `'_` as the lifetime instead of `'a`, it works. It also works if there is no lifetime on the input parameter (e.g. if it's not a reference). However I want to constrain `G` to the same lifetime (eventually) so that's not an option. Is this an

[2021-07-07 12:43] rylev opened #86935 "Tracking Issue for "More Qualified Paths""
This is a tracking issue for the "more qualified paths" feature. This feature originally grew out of a bug report https://github.com/rust-lang/rust/issues/79658 where structs with qualified paths could not be constructed or used in patterns.

For instance:

[code]

See the implementation PR [#80080](https://github.com/rust-lang/rust/pull/80080) for more detailed discussion.

The feature gate for t

[2021-07-07 14:33] Nikitos3026 commented on #86934
89917481080
Watsap

[2021-07-07 14:36] Nikitos3026 opened #86939 "89917481080"
89917481080
Watsap
Play to video)))
_Originally posted by @Nikitos3026 in https://github.com/rust-lang/rust/issues/86934#issuecomment-875656855_

[2021-07-07 14:37] apiraino commented on #86895
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386895.20internal.20compiler.20error.3A.20the.20following.20error.20was.20con.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-07-07 14:44] joshtriplett commented on #80970
Implementation in progress at https://github.com/rust-lang/rust/pull/86922

[2021-07-07 14:47] apiraino commented on #86820
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386820.20int.2Ers.3A230.3A13.3A.20expected.20int.20of.20size.208.2C.20but.20got.20size.201) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-07-07 14:48] apiraino commented on #86784
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386784.20stack.20overflow.2Finfinite.20recursion.20in.20rustc) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-07-07 14:49] richkadel commented on #81684
Yes I'm interested. I didn't expecting coverage to work for WASM, but very excited if Adam has a workable path forward!

[2021-07-07 14:58] m-ou-se opened #86940 "Prelude collision lint: invalid suggestion for T::from_iter when T is generic."
For generic types, the prelude collision lint can produce suggestions that do not compile:

Code:
[code]
Suggestion from the prelude collision lint:
[code]
Error after applying the suggestion:
[code]

[2021-07-07 15:05] adamgemmell opened #86941 "Stabilise std::is_aarch64_feature_detected"
This issue constitutes the stabilisation report as per the [rustc dev guide](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report)

### Summary

I'm hoping to stabilise [std::is_aarch64_feature_detected](https://doc.rust-lang.org/std/macro.is_aarch64_feature_detected.html) which allows for runtime feature detection on aarch64 platforms. It was recently update

[2021-07-07 15:06] m-ou-se commented on #86940
cc @nikomatsakis @jam1garner

[2021-07-07 15:13] Ericson2314 opened #86942 "Tracking Issue for `more_fallible_allocation_methods`"
Feature gate: `#![feature(more_fallible_allocation_methods)]`

This is a tracking issue for adding more fallible allocation methods, i.e. ones where allocation failure will return `Err(_)` rather than calling some diverging global handler.

It overlaps a bit with #32838, since the most general methods will be fallible and allocator-agnostic.

### Public API

Basically, all the methods in the `allo

[2021-07-07 15:29] #86939 closed

[2021-07-07 15:33] Gankra commented on #71515
I've prodded the compiler folks to do a writeup, we should be able to take care of the rest for you. I'll post a link the the internals/users thread when it's ready (hopefully very soon, sorry for the slow response on your initial ping).

[2021-07-07 15:39] Alexhuszagh opened #86944 "Improve Error Output for In Parentheses"
When using closures when used with other arguments, a missing comma can lead to fairly verbose and non-descriptive error output. Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=80ae9a22520368b1f01b66541d6a87cd):

# Closure as Parameter

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

# Simpler Example

The ou

[2021-07-07 15:42] pnkfelix commented on #85447
Hmm, no, this doesn't seem like a sufficient explanation, at least not in this trivialized form. Here's why: I took a whirl at running the same test case on a build immediately prior to PR #81172, and in the debug output from that run, I see *successful* `visit_fn_use` direct resolution calls on higher-kinded types, including the exact one of interest here:

[code]

[2021-07-07 15:48] Gankra opened #86945 "Get gcc-ld=lld working on macos"
#71515 has progressed to the point where there is now a `-Z gcc-ld=lld` flag for linux builds. On a lark, I tested what happens on macos. Surprisingly, it wasn't immediately rejected. Unsurprisingly, it exploded. I'm not 100% sure if macos and linux are similar enough environments that the same mechanism *should* just work, but I *think* it should?

<details>
 <summary> build log </summary>

[code

[2021-07-07 15:51] Gankra commented on #86945
Oh interesting, ok so with [rust-minidump](https://github.com/luser/rust-minidump/) it's blowing up in build scripts, but it seems to build [thin-vec](https://github.com/Gankra/thin-vec) (something with no dependendies) fine!

[2021-07-07 15:58] Gankra commented on #86945
(I do not have a readily available linux env to test if this failure mode is uniquely macos or just the usual "build-scripts and plugins have weird interactions with compiler flags" problem)

[2021-07-07 16:21] Gankra commented on #86945
Using `cargo rustc -- -Z gcc-ld=lld` gets farther on rust-minidump's [minidump-stackwalk binary](https://github.com/luser/rust-minidump/tree/master/minidump-stackwalk), but still blows up at the final link:

<details>
<summary> build log </summary>

[code]

</details>

[2021-07-07 16:28] notriddle commented on #86944
The problem with the first example is that it's *actually valid*. Here's what it looks like when you define the missing variables.

[code]

[2021-07-07 16:28] LordHavelockVetinari opened #86948 "Parse error on labeled loop after break"
While playing with labels in Rust, I noticed that labeled loops can be used as expressions, but aren't parsed correctly after ```break```:
[code]

Output:
[code]

This only happens when the label comes immediately after ```break```, so this does compile:
[code]

### Meta

`rustc --version --verbose`:
[code]
(The same thing happened on all the platforms and versions I have tried.)

</details>

[2021-07-07 16:49] yerlaser commented on #67984
That is good, indeed. I just saw above some mentions of using a println function instead of macro.
However, a shortened format! macro can still be useful in cases like writing to stderr or a file, etc.

[2021-07-07 16:54] RalfJung commented on #67984
@yerlaser please check our API docs, we do have macros for that as well, e.g. `writeln!`.

[2021-07-07 17:15] #86944 closed

[2021-07-07 17:16] #86854 closed

[2021-07-07 17:18] 1000teslas commented on #71515
Unfortunately, it seems like my PR only works for a stage1 toolchain. I tried to dogfood my PR using a nightly toolchain from rustup on one of my pure-Rust projects and I get some weird errors. When I use ldd on the rust-lld from the nightly toolchain provided by rustup, I see:
[code]

[2021-07-07 17:22] bjorn3 commented on #71515
[code]

`libLLVM-12-rust-1.55.0-nightly.so` should be available in `$(rustc --print sysroot)/lib`. You may need to set `LD_LIBRARY_PATH`. Alternatively you can run `rustup run nightly ldd /path/to/rust-lld`.

[2021-07-07 17:27] tschuett commented on #86945
Maybe your lld is too old? I can build my workspace with:
`RUSTFLAGS="-C link-arg=-fuse-ld=/Users/xxx/modules/clang/git/bin/ld64.lld" cargo build`

[2021-07-07 17:33] 1000teslas commented on #71515
@bjorn3 Are you saying that even if my system's `ldd` can't find the location of `libLLVM-12-rust-1.55.0-nightly.so`, when `rust-lld` is invoked by rustc, it knows where to find `libLLVM-12-rust-1.55.0-nightly.so`?

Anyway, I get errors that look like
`
error: linking with `cc` failed: exit status: 1
<bunch of cc gobbledygook>
  = note: collect2: fatal error: execvp: No such file or directory
`

[2021-07-07 17:34] joshtriplett commented on #83527
@markbt If you don't expect to find the bandwidth in the near future, would you potentially be interested in seeking help in the form of another owner for this initiative? If you're still interested in driving this, that's fine, but if you'd like us to switch gears from pinging you to broadcasting that the project could use help, we'd be happy to do that.

[2021-07-07 17:35] anp commented on #81684
I think the WASI path could work but I'm a bit skeptical -- the coverage runtime relies on `mmap` and some other functions which didn't have full implementations in WASI when I last checked. It might end up blocked on some gnarly POSIX compatibility issue.

I think the best path forward for wasm-bindgen is probably be to find a way to use [minicov](https://github.com/Amanieu/minicov/) as [suggeste

[2021-07-07 17:49] bstrie commented on #71515
@1000teslas I'd like to help get the word out about testing this more broadly, would you be able to join us in the compiler team's Zulip so that we can hash out the details? https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Need.20users.2Finternals.20thread.20for.20gcc-lld/near/245177775

[2021-07-07 17:54] Sup3Legacy opened #86953 "Internal compiler error on implementation with 'complex' constant trait bounds"
### Code

The code fragment is located here : [code](https://github.com/Sup3Legacy/stack-bitset/blob/0d5f9f2b6bcd452ab413c366a6035006eca4c1c6/src/lib.rs#L196)

I narrowed down the error to the following block :

<details><summary><strong>Code fragment</strong></summary>
<p>

[code]

</p>
</details>

### Context

I am experimenting with a naive implementation of bitsets, relying heavily on some (as

[2021-07-07 18:02] nikomatsakis commented on #74727
Hey @Lokathor -- so we discussed this in our planning meeting today. Re-reading the April update you posted, it seems like this may indeed be ready for stabilization. Do you know whether anyone is using it in practice? In the blog post I publish today I can put out a "call for testing", as well.

[2021-07-07 18:42] durin42 opened #86954 "`[build] submodules = false` no longer skips updating LLVM submodule"
After #86015 there's once again (see #85647) no way to prevent the build system from force-updating the LLVM submodule, which is a problem if you're trying to experiment with LLVM patches.

[2021-07-07 18:47] joshtriplett commented on #60375
We reviewed this in today's @rust-lang/libs meeting. Sorry that this took so long for us to get to!

This kind of issue is why we don't normally implement methods on `Box` or `Rc` or `Arc`, but `Any` has a blanket implementation for *all* static types. We talked this through, and we don't see any way around this; we'd recommend renaming the method, or calling it with the type explicitly named rath

[2021-07-07 18:47] #60375 closed

[2021-07-07 18:47] nikomatsakis commented on #86465
@rustbot assign @nikomatsakis

I have been working on this. It might also make sense to assign to @oli-obk instead though.

[2021-07-07 18:47] nikomatsakis commented on #86465
@rustbot assign @oli-obk

[2021-07-07 18:48] m-ou-se commented on #73030
It seems like this has been fixed. @froydnj Is this still an issue?

[2021-07-07 18:48] froydnj commented on #73030
AFAIK, this has been fixed.

[2021-07-07 18:48] #73030 closed

[2021-07-07 18:59] joshtriplett commented on #80804
We're merging https://github.com/rust-lang/rust/pull/85953 to fix this issue for the time being.

We also plan to start the conversation about when to drop support for older versions of macOS. But for now, this should restore support for older macOS.

[2021-07-07 18:59] #80804 closed

[2021-07-07 19:23] Lokathor commented on #74727
I've only heard from the five or so people working on the `gba` crate. We have working examples of using the attribute in the examples folder of the crate.

[2021-07-07 19:29] pkgw commented on #80804
Thanks! Should we expect this fix to appear in 1.54, or will it take longer than that to make it to stable?

[2021-07-07 19:41] joshtriplett commented on #84019
We discussed this in today's @rust-lang/libs-api meeting. Our consensus was to put `asm!` in `core::arch::asm!`.

@bstrie plans to send in a PR that moves `asm!` to `core::arch::asm!` and re-exports it from the prelude. We can decide before stabilization whether to keep the re-export in the prelude.

(Thank you to @bstrie for the detailed summary of the alternatives and tradeoffs.)

[2021-07-07 19:50] Smittyvb commented on #86953
Here's a minimized example:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=70bd29883132666cc0885c663a834474)

This seems like a duplicate of #79251.

[2021-07-07 20:00] inquisitivecrystal commented on #80804
It will definitely be in 1.55. It will only be in 1.54 if the libs team decides to backport it to beta. I personally think that might be a good idea, but I'm not on the team, I just happened to be the one who who wrote the fix PR.

[2021-07-07 20:25] asquared31415 commented on #72016
I would be willing to implement a lint for named labels if nobody is working on that already

[2021-07-07 20:43] b-naber commented on #86934
@rustbot claim

[2021-07-07 20:44] ehuss opened #86958 "force-warns panics with unknown lint name"
Using the `--force-warns` option with an unknown lint name causes an ICE.

[code]

I expected to see this happen: Issue a E0602 error.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

cc @rylev

[2021-07-07 22:10] ExpHP opened #86959 "Unnecessary parentheses warning for (A | B) as :pat in 2018 edition"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=30f392098326a970e468c3125f7c5413
[code]

The current output is:

[code]

While it would be true that these parentheses are unnecessary in 2021 edition, they are required in 2018 edition because `:pat` cannot match `'a' | 'A'` in this edition, making the warning a nuisance.

[2021-07-07 22:39] voidc commented on #86733
I'd be interested in taking a stab at this. However, I'm not quite sure what the desired behavior is. I looked at PR https://github.com/rust-lang/rust/pull/66431 which implemented the fallback to a non-defining use for unconstrained opaque types. One possibility would be to somewhere store every location at which such a fallback occurs, to later show a warning/note when no other defining use is fo

[2021-07-07 22:48] ink-splatters opened #86961 "Panic while building encoding_rs_io v0.1.7 as a dependency of ripgrep v13.0.0"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-07 23:12] bstrie commented on #60705
If v0 becomes the default, will it also become the default for the stdlib? The argument in favor of making this the default assumes that anyone who doesn't want it will be able to turn it off, but you won't be able to "turn it off" for std unless you recompile std yourself.

[2021-07-07 23:21] zacknewman opened #86964 "std::net::Ipv4Addr parsing violates the "strict" form in IETF RFC 6943 Section 3.1.1."
According to the `std::net::Ipv4Addr` [documentation](https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html), "The four octets are in decimal notation, divided by . (this is called 'dot-decimal notation'). Notably, octal numbers and hexadecimal numbers are not allowed per IETF RFC 6943"; however the parsing of the `&str` `127.0000.0.1` violates the "strict" form mentioned in [Section 3.1.1.](http

[2021-07-08 01:08] inquisitivecrystal commented on #86958
@rustbot claim

I'm going to take a look at this. I'm also going to see if I can fix the problem you mentioned at https://github.com/rust-lang/rust/pull/86009#issuecomment-871558583 while I'm at it.

[2021-07-08 02:01] ehuss commented on #86958
Just FYI, the cap-lints issue has been fixed by #86572.

[2021-07-08 04:36] luyikk commented on #86931
My own MEM is out of bounds. This issue is closed

[2021-07-08 04:36] #86931 closed

[2021-07-08 05:15] mbartlett21 commented on #86964
I believe that the second input (`127.0.0.001`) is *not* valid, since the spec explicitly says that *octal* numbers are disallowed, and `001` *is* an octal number in the loose form.

If you read the source code where the ipv4 address is parsed, it specifically disallows that:

https://github.com/rust-lang/rust/blob/d2b04f075c0ce010758c4c8674152ff89d1d73f3/library/std/src/net/parser.rs#L141-L142

R

[2021-07-08 06:00] bjorn3 commented on #60705
Why would you not want it? I would assume that the old symbol mangling scheme will be removed somewhere after the switch.

[2021-07-08 06:46] #86628 closed

[2021-07-08 06:46] #86895 closed

[2021-07-08 07:33] inquisitivecrystal commented on #86958
Good to know!

[2021-07-08 07:38] Urgau commented on #86964
From the [release note of 1.53](https://github.com/rust-lang/rust/releases/tag/1.53.0):

[2021-07-08 08:58] Amanieu commented on #72016
@asquared31415 Sure!

[2021-07-08 09:12] #86923 closed

[2021-07-08 11:43] jyn514 commented on #86961
@ink-splatters does this also happen on stable?

[2021-07-08 11:55] michaelwoerister commented on #78226
The linker certainly can be a source for PGO related errors, e.g. if the profiling runtime doesn't get linked in correctly.

[2021-07-08 12:29] alex opened #86972 "-Zinstrument-coverage showing missed coverage on _part_ of function signature (with proc-macro?)"
Starting with an apology that I have not yet figured out how to reduce this to something smaller than "our entire project".

We use `-Zinstrument-coverage` in pyca/cryptography for capturing coverage. With a recent upgrade to pyo3, we're seeing missing coverage for part of the function signature. A screenshot from codecov (https://codecov.io/gh/pyca/cryptography/src/120e804d8a36b4adfa71b2e5700a773

[2021-07-08 13:11] zacknewman commented on #86964
I'm confused by these comments. Padded zeroes is not unique to the base-8 numeral system. Base-2, Base-3, etc. all have the property of having an _infinite_ number of padded zeroes with the convention being to truncate them all. After all `127.0.0.1` is also valid in base-8, base-9, etc. The documentation is quite clear that the octets are to be interpreted in base-10 though, so this problem of ho

[2021-07-08 13:42] iamyulong commented on #51540
Hi Team,

Are we still on track to stablize `#[alloc_error_handler]`? The PR has been merged for two years and it seems #83430 is the only blocking issue.

My team is building a product based on `no_std` + `alloc` and is blocked from using the stable rust toolchain because of this issue.

Thanks for your attention!

[2021-07-08 13:53] pnkfelix commented on #86511
(I find it hard to believe that #85702 is in any way truly related to the problem described here.)

[2021-07-08 14:10] Nokel81 opened #86975 "Suggestion to use import to unstable feature on stable"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

If I select the third option and compile again I get the following error:

[code]

### Meta

`rustc --version --verbose`:
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3345aaf81ba391e16679c6af042c537f