[2022-09-10 23:39] mejrs opened #101667 "ICE Object safety violation when creating RPITIT trait object"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e938a287f3d9ebbdf40a73190b7c00ad)

### Code

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

@rustbot label F-return_position_impl_trait_in_trait
cc @compiler-errors

[2022-09-10 23:51] CrendKing commented on #101645
Basically, currently there are only two options when handling the stdout/stderr: inherit or pipe. I think there should be a third option: isolated - make the child handle its console by itself. For example, if user calls `.stdout(std::process::Stdio::null())` and `.stdout(std::process::Stdio::null())`, he basically says "the parent process doesn't care about the child's output". It is the same as

[2022-09-11 00:24] lqd commented on #101653
So removing the [`--target` argument](https://github.com/rust-lang/rust/blob/2287107588d92889d282e6cd3c1ca5df34cd34a5/compiler/rustc_codegen_ssa/src/back/link.rs#L2768-L2773) fixes it for me on the x64 machine: it manages to use `rust-lld` 15.0.0.

On this osx/sdk/etc, clang does find `gcc-ld/ld64.lld` without the `--target` mentioned in https://github.com/rust-lang/rust/issues/97402#issuecomment-

[2022-09-11 02:02] Flippette opened #101669 "#![no_std] build fails if lib.rs exists"
### Code
[ice.tar.gz](https://github.com/rust-lang/rust/files/9541639/ice.tar.gz)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-11 02:54] tjdevries commented on #101446
Thanks for the ping @matklad :) this is a super interesting thread. I can try to write up my thoughts sometime in the next few weeks, but I'm mostly away from my computer at the moment since my wife and I just had a baby girl :heart_eyes: . I'll tag in @olafurpg in case he wants to chime in at all -- otherwise I'll respond later.

Super excited about this!

[2022-09-11 03:07] jyn514 commented on #101669
Looks like one of the fluent templates has a typo in the variable name, cc @davidtwco

[2022-09-11 03:31] BGR360 commented on #101601
Awesome, thank you for working on the fix!

[2022-09-11 03:31] #101601 closed

[2022-09-11 03:34] BGR360 commented on #101351
Interesting, okay. What would be an example of one of those "cycles"?

[2022-09-11 04:11] jackh726 commented on #89352
This now compiles, since NLL stabilization.

[2022-09-11 04:12] jackh726 commented on #89352
Actually, this was a bug test that got properly moved during stabilization. Closing.

[2022-09-11 04:12] #89352 closed

[2022-09-11 04:21] programmerjake commented on #91079
it isn't actually backward compatible because IEEE 754-2008 `maxNum` behaves differently than IEEE 754-2019 `maximumNumber` for signalling NaNs: `maxNum` is defined to return a quiet NaN if either input is a signalling NaN, whereas `maximumNumber` returns non-NaN if either input is non-NaN, even if the other input is a signalling NaN.

background on min/max in IEEE 754-2019: https://grouper.ieee.o

[2022-09-11 04:59] Rageking8 commented on #101627
I understand that this may be a bit excessive, but I want the recovery to be slightly more uniform across the board. As mentioned above similar issues are already implemented and the above recovery suggestions are mostly keywords from other languages, which the user may have mistyped due to muscle memory coming from said language. In addition to `extern` and `mod`, `mut` may also be misspelled as

[2022-09-11 06:17] tgross35 opened #101674 "Feature request: function in core to ease `&str -> [c_char]` write in no_std"
Copying a string to a provided buffer is a common pattern in C, and hence in FFI. However, there is really no easy way to perform this action from a Rust `&str` to a FFI buffer `&[c_char]` without going through a `CString`.

Another problem is that `CStr` is moving to `core` (great!) but it is _not_ straightforward to construct a `CStr` from `&str`, since a buffer is needed. The FFI issue is prese

[2022-09-11 07:06] compiler-errors commented on #101662
The span is fixed by #101676:

[code]

But, for example, this code:

[code]

Still mentions `{opaque#0}`, see:

[code]

I'm not sure if I know a better way of explaining "required by a bound in an RPITIT in `Foo::bar`" -- do you have thoughts on what you would've wanted to see here @Nilstrieb, since you commented on that?

[2022-09-11 07:14] cppforliving commented on #101585
Thank you for the analysis and the fix :)

[2022-09-11 07:44] Rageking8 commented on #101626
@rustbot label -E-needs-bisection

[2022-09-11 08:03] nikic commented on #91079
While this is technically true, this comes with the caveat that people don't actually use the IEEE 754-2008 definition of maxNum and instead use "maxNum, but with sNaN treated the same ways as qNaN". So basically, what IEEE 754-2008 maxNum is in practice, is IEEE 754-2019 maximumNumber with unspecified signed zero behavior.

Here is Rust's own definition:

And this is LLVM's more extensive definit

[2022-09-11 10:11] SkiFire13 commented on #101674
There are crates like `bytemuck` that allow safely doing such transmute and in the future hopefully this will be integrated in the stdlib with project safe transmute.

[2022-09-11 10:25] tigregalis commented on #43244
I came across this feature (would be great to see it stabilised!) but what I actually wanted was something like `drain_filter_map` i.e. what [`filter_map`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.filter_map) is to [`filter`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.filter).

An illustration:
[code]

As a side note, because of the analogy of `filter_map` v

[2022-09-11 11:01] Rageking8 opened #101683 "Recover from accidental usage of `let` in struct definition"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f96314249d209ba928390d7c211ca8e3)

[code]

The current output is:

[code]

Since normal variable declaration are done using a `let` or other keywords in front and I accidentally made that typo due to muscle memory from creating regular variables. I think the ideal output for such a typo will b

[2022-09-11 11:44] Nilstrieb opened #101685 "Repeating an enum does not generate a memset"
I tried this code: [godbolt](https://rust.godbolt.org/z/WT4v9Mnar)

[code]

I expected to see this happen: This should compile to a memset, or the equivalent unrolled SIMD stores

[LLVM IR](https://rust.godbolt.org/z/qdG4hPMEc)

Instead, this happened: It compiles to a bunch of movs.

I think this happens because we transform this to a bunch of stores of the discriminant, without touching the data

[2022-09-11 11:48] Nilstrieb commented on #101685
@rustbot label A-codegen

[2022-09-11 11:58] danielrab commented on #101685
there is also an issue which is probably related, where this doesn't get vectorized at all
[code]
[godbolt](https://rust.godbolt.org/z/vrjaa74EE)

[2022-09-11 12:14] gimbles commented on #101683
@rustbot claim

[2022-09-11 12:16] gimbles commented on #101659
@rustbot claim

Yummy.

[2022-09-11 12:23] chylex commented on #90056
How should the `--target` flag be used for the workaround? Do you mean switching from `x86_64-pc-windows-msvc` to `x86_64-pc-windows-gnu`?

[2022-09-11 12:36] gifnksm opened #101687 "Rustdoc-Json: some item IDs are missing in `paths` field."
#101531 fixed an issue that some IDs in the `links` field are incorrect.
Now, IDs in the `links` field are correct, but some IDs are missing in the `paths` field.

I tried this code:

[code]

[code]

I expected to see this happen: `links` field contains the IDs of link targets, and we can retrieve the path of the item from `paths` field.

[code]

Instead, this happened: `paths` does not contain so

[2022-09-11 12:37] ehuss commented on #90056
No, just `--target x86_64-pc-windows-msvc`.  That changes cargo to behave differently (it won't set rustflags for host-only things like proc macros).

[2022-09-11 13:28] Urgau commented on #101687
`paths` ahve being broken for a while. They also don't take into account re-export. We should just remove `paths` completely.

cf. https://github.com/rust-lang/rust/issues/93522

[2022-09-11 13:32] Urgau commented on #93522
I would be in favor of removing it completely. Handling re-export is very complicated and even if we were to handle them I still don't see how it could distinguiesh between the "real" location and what the "user" might want.

It could see be re-introduce later but in the mean time I would be I favor of just removing it.

[2022-09-11 14:08] Rageking8 opened #101689 "Improve and make missing `dyn` help suggestion more uniform"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=87f85ad7ab15806e099c71a26587c1b5)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
Above changes: use a more common `+` convention for the help suggestion and make the target trait more explicit by mentioning it.
<hr>

Since most of the other help suggestio

[2022-09-11 14:24] fmease commented on #101669
Potentially a duplicate of #101640.

[2022-09-11 14:29] #101669 closed

[2022-09-11 15:48] jyn514 opened #101691 "Copy stage0 binaries into stage0-sysroot"
Currently, the beta binaries are only present in `build/stage0/bin`; `build/stage0-sysroot` has *only* the standard library, not any binaries. That causes two issues:
1. `rustup toolchain link` doesn't work with stage0-sysroot, meaning there's no way to change the standard library and use those changes at runtime without doing a full stage 1 build
2. `x dist --stage 0` doesn't work. This is very r

[2022-09-11 15:48] jyn514 commented on #101691
We should also consider renaming `stage0-sysroot` to something else; the name is very confusing.

[2022-09-11 16:13] WaffleLapkin commented on #96284
So, our options for resolving the unresolved question:

1. Leave as-is, `assert!(align.is_power_of_two())`
   - **Pros**: notifies users of about invalid usages
   - **Cons**: in some cases adds an additional check/panic
2. Make behavior is case of `!align.is_power_of_two()` implementation defined (non-sensible result, `debug_assert!`, etc)
   - **Pros**: no performance penalty, ever
   - **Cons**

[2022-09-11 16:39] jyn514 commented on #101687
cc https://github.com/rust-lang/rust/issues/86798

[2022-09-11 16:56] jackh726 opened #101694 "Need new test for incomplete `compute_implied_outlives_bounds` fulfillment"
In #101680 (https://github.com/rust-lang/rust/pull/101680/commits/af619eb84f1df35fa95f7b7f43aa63948b89117d#diff-f699f7fa1d6499f96d393ebaf6be4031125d026a7b6a18d6ecb8ee4e875fa197R161), I changed the `Err(NoSolution)` to a `bug!()`.  The `issue-42552` test originally covered this case, but seems like that's not the case anymore. Instead, when attempting a try run the `hyper-0.14.18` benchmark in rust

[2022-09-11 17:00] aDotInTheVoid opened #101695 "Rustdoc-Json: List `impl`s for primitives"
[code]

Gives
[code]

but doesn't show the trait impls for `bool`.

@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-09-11 17:03] aDotInTheVoid commented on #101687
@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-09-11 17:09] DavidVonDerau opened #101696 "ICE: can't project out of PlaceTy"
### Code

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e1f37488310d72e62fde9ec19c072203
[code]

The following causes the same ICE:

[code]

This is a trivial example of using the direct type, just to prove that the type is well-formed -- this works:

[code]

This causes an `ambiguous associated type` error:

[code]

[code]

### Meta

[code]

### Error output

[code]

<de

[2022-09-11 17:29] chloekek opened #101697 "Ill-formed doc attributes on trait methods are silently ignored"
I tried this code:

[code]

I expected to see this happen: the compiler should reject the input due to unexpected expression `x()`, like it does with `#[doc = x()] fn f() { }` outside a trait definition.

Instead, this happened: the compiler accepts the input and ignores the doc attribute.

### Meta

`rustc --version --verbose`:
[code]

I can also reproduce this on all channels on the [playground]

[2022-09-11 18:45] tgross35 commented on #101674
That's pretty cool, I wasn't familiar with it. I feel like that functionality would allow simplifying this implemenation in the future, but imho it still seems worth having - even without the transmute there's the `\0` checks and the extra `\0` set on top of just copying from a slice

[2022-09-11 18:47] jackh726 commented on #101694
This actually might not be the cause, will update later.

[2022-09-11 18:49] #101640 closed

[2022-09-11 18:49] leonardo-m opened #101699 "False never used function warning"
I'm not sure if this is expected. In this code I've used a const test function, and I call it inside a const assert:

[code]

This code works correctly, but rusts gives a "warning: function `test` is never used".

[2022-09-11 19:13] compiler-errors commented on #101689
This is a bug in the rendering code!

[2022-09-11 19:48] est31 commented on #101699
Smaller reproduction:
[code]
It works if you replace the `_` with `FOO` and print the `FOO` somewhere else. I guess what's missing is the special treatment of `_`.

[2022-09-11 21:00] jsha commented on #98413
PR is up: #101702

[2022-09-11 22:19] #60076 closed

[2022-09-11 22:32] tanchihpin0517 opened #101704 "Wrong dead code warning"
I got dead_code warning but I'm sure that code was used.
Here is some snippets of my code:

lib.rs:
[code]

python.rs:
[code]

The building message from calling `cargo build`:
[code]

Apparently Python::new is used in lib.rs, but the compiler report that as dead_code.
(If I remove Python::new, the compiling won't pass)
I guess it's a bug.

[2022-09-11 22:52] ehuss commented on #101699
I think this is nearly a duplicate of #96952. See also #101532.

I think it's very possible that when using `const _`, the compiler assumes the value is never "used", and thus evaluating the const expression has no effect. However, that is no longer true since #89508 where panic support was added. (Just an idle speculation.)

[2022-09-11 23:02] est31 commented on #101699
Oh yeah it's a duplicate. That's why it was so familiar to me. I guess this issue should be closed as dupe.

[2022-09-11 23:08] BGR360 commented on #92113
This is fixed on stable. Not sure exactly what fixed it, but I suspect https://github.com/rust-lang/rust/pull/93298.

[code]

[2022-09-11 23:08] #92113 closed

[2022-09-11 23:33] Firstyear commented on #74895
@Timmmm I'm happy to merge our PR's or close mine in favour of yours, what do you prefer :)

[2022-09-11 23:41] BGR360 commented on #101704
Can you please link to the repository or post a new one that contains the code that gives the warning, or make a [playground](play.rust-lang.org) example that shows the warning? The snippets you gave aren't really enough for anybody to reproduce the issue.

[2022-09-12 00:30] BatmanAoD commented on #101469
Let me rewind back to @nbdd0121's final statement above:

As I mentioned, "correctly" here just means that the correct frames are deallocated. So the question is essentially "how does the runtime know where to jump to," correct?

It sounds like the only platforms where we think this is an issue are the ones that use `glibc`, since other `libc` implementations don't use forced unwinding to implemen

[2022-09-12 00:32] BatmanAoD commented on #101469
Or, to put it another way: in the case of a forced unwind, the runtime must solve the problem of "where to stop unwinding" _somehow_, and since the place to stop unwinding should never be a Rust frame (because we _don't_ abort on _forced_ unwind), I think it simply doesn't matter whether or not there are any Rust frames in a thread being `pthread_cancel`led.

[2022-09-12 00:57] camsteffen opened #101705 "Can't coerce closure to fn in a tuple"
The following code:

[code]

Produces this error:

[code]

But I think it should compile by coercing the closures to `fn` types. The following compiles:

[code]

[2022-09-12 00:57] c410-f3r commented on #101283
Closing due to the lack of activity.

[2022-09-12 00:57] #101283 closed

[2022-09-12 01:23] jackh726 commented on #101694
Okay, so the failure was actually caused by the other changes in that PR (specifically, that project predicates without bound vars were accidently not getting registered).

In hyper, it's this method that ICEs: https://github.com/rust-lang/rustc-perf/blob/ff4e6fb9246ac08771107f4498bdb4e3f84007a0/collector/benchmarks/hyper-0.14.18/src/service/make.rs#L84

The key predicate is the `T: for<'a> Servic

[2022-09-12 01:25] tanchihpin0517 commented on #101704
Sorry for unclear report. Here is the repository for reproduction: https://github.com/tanchihpin0517/rust_issue_report

[2022-09-12 01:47] nbdd0121 commented on #101469
Correctly means that the unwinding runtime can actually perform unwinding at all. Some unwinding runtimes *require* unwinding information to exist to perform unwinding at all; some unwinding runtimes try to unwind frames without any unwinding information at all by using the frame pointers alone. For the latter if force-frame-pointers is off, it can clobber the stack pointer and cause memory safety

[2022-09-12 02:09] nbdd0121 commented on #101469
Actually, just went into a deep dive into how libgcc and libunwind's unwinder was implemented, it turns out none of them are performing unwinding of frames with no unwinding information by using frame pointers. Both of them just bail out and say "this is the end of stack" when such function is found. Perhaps my memory was off recalling similar things from gdb or Linux kernel. This is good since we

[2022-09-12 02:12] BatmanAoD commented on #101469
@nbdd0121 So is there not actually a problem in that case, then?

[2022-09-12 02:13] TheButlah opened #101707 "ICE when compiling `eyre` on `no_std`"
### Code
Please note that the error disappears when the `eyre` dependency is removed.
https://github.com/SlimeVR/SlimeVR-Rust/tree/ice-1

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-12 02:19] BGR360 commented on #101704
Figured it out. You've got `mod component` in both `lib.rs` and `main.rs`. So although you use `Python::new` in the `myenv` library crate, you don't use the one defined in the `component` module in the `myenv` binary crate.

[2022-09-12 02:24] nbdd0121 commented on #101469
Well, without unwind tables, it essentially makes pthread_exit behave like longjmp, so it's okay over Rust POFs. If there are some C++ frames or C frames with `__cleanup__` then there will be behavioural difference for them, but probably that's not something for us to worry about.

I am not sure about other use (are there any?) of forced unwind, though.

[2022-09-12 02:36] BGR360 commented on #101707
Shoot, I'm unable to attempt a repro on my machine since `ovr_overlay_sys` won't build on Mac :/

[2022-09-12 02:43] BGR360 commented on #101707
Is there any chance you could work to put together a more minimal repro with fewer dependencies? I know that's a lot to ask but it would be a massive help.

Also, can you clarify: is it just adding `eyre` to your Cargo.toml that breaks things? Or are you doing something with it? The backtrace looks vaguely like it's coming from trying to expand a proc_macro. Are you using some macro from the `eyre

[2022-09-12 02:47] BGR360 commented on #101705
@rustbot label C-bug T-compiler A-closures A-coercions

[2022-09-12 03:12] james7132 commented on #98468
This seems to be fixed in nightly (at least with the version Godbolt is currently running): https://godbolt.org/z/9PzKWfY1K.

[2022-09-12 03:24] #101505 closed

[2022-09-12 03:30] BatmanAoD commented on #101469
@nbdd0121 I believe there are not; but in any case, it still seems to me that if there are, it's not on the Rust compiler to ensure that unwind tables are used or available.

[2022-09-12 03:32] BatmanAoD commented on #101469
So we just need to ensure, somehow, that forced unwinds don't cause an automatic `abort` due to `"C-unwind"`.

[2022-09-12 03:48] tanchihpin0517 commented on #101704
OH, I See! Thanks for your explanation!

[2022-09-12 03:48] #101704 closed

[2022-09-12 03:52] compiler-errors commented on #101707
I think this is #101640

[2022-09-12 04:03] BGR360 commented on #101658
@rustbot label A-inline-assembly T-compiler

[2022-09-12 04:05] BGR360 commented on #101625
Does the issue persist after doing a `cargo clean`? I notice that the `OnDiskCache` is involved in the backtrace, so perhaps it's a weird incremental compilation bug.

[2022-09-12 04:07] BGR360 commented on #101605
@rustbot label T-libs

[2022-09-12 04:10] BGR360 commented on #101567
@rustbot label T-compiler A-layout

[2022-09-12 04:12] BGR360 commented on #101637
@rustbot label T-compiler A-diagnostics D-terse

[2022-09-12 04:14] BGR360 commented on #101540
@rustbot label D-terse

[2022-09-12 04:29] BGR360 commented on #101319
Removing the bug label since it's not a compiler bug but rather a limitation of type parameter defaults, as @SkiFire13 mentioned. We could probably do something to improve the diagnostics, though. Like if the type parameter that the user needs to annotate is known to have a default, we could make the diagnostic give a better hint about that.

@rustbot label -C-bug +D-confusing +A-diagnostics

[2022-09-12 04:29] programmerjake commented on #101469
here's a c++ equivalent that works: https://gcc.godbolt.org/z/8aWxr45jP maybe have rustc mostly duplicate that?

[2022-09-12 04:31] BGR360 commented on #101291
@rustbot label A-diagnostics T-compiler

[2022-09-12 04:33] Rageking8 commented on #101689
Oh, I didn't know, thought it was the old rendering convention. Haha.

[2022-09-12 04:40] BGR360 commented on #101247
For future reference, try to clarify up front whether it's the Rust compiler that's segfaulting / crashing or the application that you compiled. Upon reading your issue a second time.

Could you please provide a link to a GitHub repository that demonstrates the issue so that someone can try to reproduce the problem?

@rustbot label O-macos O-aarch64

[2022-09-12 04:44] BGR360 commented on #101226
I presume by "helix" you're referring to https://github.com/helix-editor/helix

[2022-09-12 04:49] BGR360 commented on #101704
Wow, looks like someone had the same problem two weeks ago! https://github.com/rust-lang/rust/issues/101164

[2022-09-12 04:51] BGR360 commented on #101125
@rustbot label I-ICE

[2022-09-12 05:04] BGR360 commented on #100882
FYI here are other issues I know of that discuss this problem:
* https://github.com/rust-lang/rust/issues/90907
* https://github.com/rust-lang/rust/issues/89254
* https://github.com/rust-lang/rust/issues/88630
* https://github.com/rust-lang/rust/issues/44345

[2022-09-12 05:36] thomcc commented on #101247
Can you run `sysctl -a hw.optional` and post the output somewhere? It may be that we're compiling things with the wrong hardware flags for M2.

[2022-09-12 06:07] not-rusty commented on #101226
@BGR360  yes

I guess that to try to reproduce this, one should compile the helix editor with the cranelift_codegen backend

[2022-09-12 06:14] TheButlah commented on #101707
I can attempt to make a more minimal example. Will take some work, but will update when its done. Probably won't happen in the next day or two though.

[2022-09-12 06:28] chenyukang commented on #101691
@rustbot claim

[2022-09-12 06:33] #101699 closed

[2022-09-12 06:51] SOF3 commented on #43244
@tigregalis see also https://github.com/rust-lang/rfcs/issues/3299

[2022-09-12 07:55] Rageking8 opened #101712 "Add help suggestion for `inline` attribute with invalid argument"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a7d617b01109c188334cd6f0e06fe426)

[code]

The current output is:

[code]

Since attributes like `repr` already have a help suggestion that states the list of valid arguments when an invalid argument is passed in, I think we should be able to extend this to the `inline` attribute as well.

<hr

[2022-09-12 08:46] #101097 closed

[2022-09-12 08:46] #100478 closed

[2022-09-12 08:56] MathieuDutSik commented on #101651
Thank you for looking at this. No it does not happen with a hello-world program nor some non-trivial code llike tokio library. I will try to isolate the problem further.

[2022-09-12 09:16] Aandreba commented on #80437
I see `DerefMove` as a bad idea. To me it looks like "ups, we added a bad exception for a type, let's solve it by making it possible to apply the same exceptions to other types". I think `into_inner` is a better alternative.

[2022-09-12 09:19] LDVSOFT opened #101714 "[Meta] RELEASES.md isn't rendered on GitHub.com"
Hi, Rust contributors!

Take a look at Rust releases file: https://github.com/rust-lang/rust/blob/master/RELEASES.md. For me, GitHub just states that rendering it took too long, so it won't show it. In my opinion rendering Markdown shouldn't be so hard to render a rarely updated half-megabyte file, but it's to GitHub developers who are managing the platform and their workload might dictate the lim

[2022-09-12 09:21] GoldsteinE opened #101715 "Unhelpful suggestion for “remove the `.await`”"
Given the following code ([playground]):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

It’s reproducible on playground’s latest stable, beta and nightly (1.63.0, 1.64.0-beta.6 and 1.65.0-nightly (2022-09-11 59e7a308e40fbc6b0901)) respectively.

Possibly related to #94877?

[playground]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gis

[2022-09-12 09:42] ChrisDenton commented on #101714
This is also being [discussed on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/241545-t-release/topic/Release.20blob.20too.20large/near/298298181) but it's good to have an issue to track it.

[2022-09-12 10:06] GuillaumeGomez commented on #67799
Actually, it seems like @notriddle solved this issue in https://github.com/rust-lang/rust/pull/93605 and https://github.com/rust-lang/rust/pull/93569. I think the missing thing now is to make the stabilization PR.

[2022-09-12 10:18] GuillaumeGomez commented on #67799
## Stabilization Report

### Implementation History

- Initial implementation (https://github.com/rust-lang/rust/pull/77119).
- Expanded to HTML comments (https://github.com/rust-lang/rust/pull/77753).
- Added suggestions to turn the unclosed HTML tag into a codeblock (https://github.com/rust-lang/rust/pull/93569).
- Fixed the duplicated warnings with the intra-doc link features (https://github.co

[2022-09-12 10:59] Rageking8 commented on #101714
Another thing that may be of interest is that the RELEASES.md successfully renders on GitHub Android App although it's a bit jittery. Might be web specific.

[2022-09-12 11:01] Rageking8 commented on #101714
@rustbot label +A-meta

[2022-09-12 11:36] #101465 closed

[2022-09-12 11:40] nbdd0121 commented on #101469
Interesting, I was under the false impression that clang will abort when forced unwind crosses a noexcept frame (because that's why #48572 existed, so our behaviour is different from clang's). But apparently that's only on MSVC and *not* on Linux.

Clang generates `catch ptr null` instead of `cleanup` for landing pads when the function is `noexcept` -- that's like a `catch (...)` in C++ which catc

[2022-09-12 12:10] WaffleLapkin opened #101719 "Tracking Issue for `const_cstr_methods`"
Feature gate: `#![feature(const_cstr_methods)]`

This is a tracking issue for `CStr` methods as `const` functions.

### Public API

[code]

### Steps / History

- [x] Implementation: #100291
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-09-12 12:21] davidtwco commented on #101109
Despite the existence of a real-world case, I don't think this will come up too much in practice because the vast majority of our diagnostics have test cases which would catch this - it's just some of the edge-case diagnostics like metadata loading failures that might not.

I assume that it isn't possible to introduce uses of new variables when doing actual translations in Pontoon, so as long as t

[2022-09-12 12:25] Amanieu commented on #101469
This aborts with `terminate called without an active exception` on both GCC and Clang. So our behavior is the same as C++ in this regards.

[2022-09-12 12:33] nbdd0121 commented on #101469
Now this is getting even more interesting. On my machine (x86_64, GCC 10.2.1, Clang 11.0.1, Linux 5.10.74, glibc 2.31) both GCC and Clang produced binaries complete without issue. What's your environment?

[2022-09-12 12:34] chenyukang commented on #101109
Yes, avoid ICE and give a firendly output is a good way.

And except for adding it in compile-time, an alternative is add a testing case, which will load Fluent resources and checking with derived diagnostic, just like static code anaylysis.

[2022-09-12 12:37] Amanieu commented on #101469
x86_64, GCC 12.2.0, clang 14.0.6, Linux 5.17.8, glibc 2.36.

With `clang -stdlib=libc++` this still fails, but with a `libc++abi: terminating with uncaught foreign exception` message instead.

I think the key difference might be in the glibc version, specifically in the way it is throwing the forced unwind.

[2022-09-12 12:40] Amanieu commented on #101469
Actually it could also be a difference in the libgcc unwinder (it's still used even with `-stdlib=libc++`).

[2022-09-12 12:48] GuillaumeGomez commented on #67799
It's to stabilize it as a `warn`. I forgot to mention it. Sending a PR for it.

[2022-09-12 13:26] georgebarwood opened #101721 "Error message for missing * could be more helpful"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e2ff6627b932dbf1b8a2fab7facc58e1

[code]

The current output is:

[code]

The action needed is a dereference &* rather than &.

The compiler might be able to suggest that.

See discussion here for how the issue arose after following a clippy suggestion:
https://users.rust-lang.org/t/clippy-fix-re-bor

[2022-09-12 13:40] davidtwco commented on #101109
I think this would be much more involved than any other `tidy` check currently is: it would need to parse the Fluent resources, and then for each message, find the diagnostic type in rustc for it, parse it, and then check the field exists. That's a bunch more involved than anything else tidy is currently doing to my knowledge.

[2022-09-12 14:00] mikebenfield commented on #101567
I'm working on this. I'm introducing the concept of a `Flag`. A `Flag` is an extra scalar field that may be associated with a `Niche`. The flag must be set to a particular value to indicate we should find the discriminat in the `Niche`. Maybe I'll come up with a better name than `Flag`.

I've also got a commit to improve the flexibility of niche-optimized enums by allowing the fields of a tagged v

[2022-09-12 14:26] FedX-sudo commented on #101625
In more testing it appears to be an issue with running builds outside a Nix sandbox. If I use a flake, and run `nix build` or `nix run` it compiles without issue.

[2022-09-12 14:42] GuillaumeGomez commented on #67799
I'll start the FCP once #101720 is merged then.

[2022-09-12 15:07] shirshak55 commented on #101247
@thomcc

[code]

[2022-09-12 15:08] Nemo157 commented on #67799
It doesn't seem like it should be enabled by default until stabilized. Otherwise users that compile on nightly will start receiving the warning already (since it doesn't appear to be feature-gated, and instead just works already when you use the nightly compiler).

[2022-09-12 15:10] shirshak55 commented on #101247
@BGR360 I have posted the code in my original post. It segfaults on tokio hello world if I use the process feature. I think the issue is probably due to some formatting in the std library.

And, it is not just one library, other libraries like cargo what features, etc. also seg faults. So, I think it is something from Rust Std library.

[2022-09-12 15:14] guidomb opened #101725 "ICE on 1.63 stable"
### Code

The code I'm working at the moment is closed source, so I can't share the repo but the function being pointed as the one failing the fingerprint check is an implementation of function defined in trait that I owned over a type I don't (from a 3rd party dependency). The problematic function as pointed out by the stacktrace bellow is `parse_object_id` in file `lib.rs` line 707.

[code]

`Op

[2022-09-12 15:17] bjorn3 commented on #101691
The name is correct though. It is a directory you can pass in as `--sysroot` argument to rustc.

[2022-09-12 15:17] Nemo157 commented on #67799
There have been unstable lints in the past, I was trying to find one to test the behavior of but the only one I could think of was stabilized already (https://github.com/rust-lang/rust/pull/79208).

[2022-09-12 15:23] jyn514 commented on #101691
@bjorn3 so is `stage0`. I'm not saying the name is wrong, just that it's ambiguous and not intuitive.

Honestly I would rather rename *all* the `stageN` directories to `stageN-sysroot` and change `stage0-sysroot` to `stage0-sysroot-with-libstd` or something.

[2022-09-12 15:24] bjorn3 commented on #101691
`stage0-sysroot-with-libstd` is confusing too as `stage0` already has a libstd. Just one from the bootstrap compiler rather than compiled from the current source.

[2022-09-12 15:41] robinhundt commented on #100177
@Anders429 Well, kind of.

As I wrote in the initial OP, I wanted to unify `Sink` and `Stream` in a `Channel` trait. What I wanted was to use `Channel::T` to refer to the error in a Stream of `Result<Item, Error>`. I noticed that the futures crate also offers the `TryStream` trait ([link](https://docs.rs/futures/latest/futures/stream/trait.TryStream.html)). I came up with the following:
[code]

wh

[2022-09-12 15:44] eholk commented on #101135
We discussed this in the [wg-async triage meeting](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/Triage.20meeting.202022-09-12/near/298406210) today. Fixing this bug is something I'd like to see, but it sounds like it might be hard from a semantics standpoint. @tmandry points out that we don't know anything about about what `use_non_send` does, and that it could save a point

[2022-09-12 15:53] Nemo157 commented on #67799
I would stabilize and change the default level in the same PR that goes through the FCP process.

[2022-09-12 15:57] #101626 closed

[2022-09-12 15:57] #101667 closed

[2022-09-12 16:07] GuillaumeGomez commented on #67799
Then let's start the FCP process to hear everyone's opinion about this. I think it should be at warn level by default before the stabilization because after would finally be the same problem as the new warning would appear from nowhere for users.

Nominating for discussion. Also kicking off an FCP: shall we make it a warning before or after stabilization?

@rfcbot merge

[2022-09-12 16:07] jyn514 commented on #101135
@tmandry I don't understand how this would invalidate any code that was sound before; the value is dropped before the await, so any unsafe code using it afterwards is already UB.

[2022-09-12 16:10] jyn514 commented on #101691
Ok, then maybe `stage0-sysroot-with-recompiled-libstd` :shrug: nearly anything would be less confusing than just appending `-sysroot` IMO

[2022-09-12 16:10] crumblingstatue commented on #31436
I'm curious about the stabilization state of try blocks.
Is insufficient type inference the only thing blocking it?
And if so, is solving it a backwards-compatibility hazard?
I personally think try blocks are already very useful, even if it needs explicit type annotations.

[code]
is not the most unergonomic thing in the world.

I propose we should attempt stabilizing it, if type inference is not

[2022-09-12 16:12] bjorn3 commented on #101691
Maybe rename stage0 to bootstrap and stage0-sysroot to stage0, matching stage1-...?

[2022-09-12 16:15] Rageking8 opened #101726 "Add help suggestion for incorrect placement of `unsafe` for trait declaration"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fd39227fcb966a74964eaefce4930c23)

[code]

The current output is:

[code]

Ideally the output should suggest switching the order of `trait` and `unsafe`. Thanks.

[2022-09-12 16:22] Kixunil commented on #79995
I think it just needs an ACP and approval.

[2022-09-12 16:24] est31 commented on #62924
As the FCP is close to starting (only one more approval needed), I've opened a PR to stabilize the `map_first_last` feature: #101727 .

[2022-09-12 16:28] jyn514 commented on #101691
`bootstrap` is confusing with the artifacts for `src/bootstrap`, but maybe `bootstrap-sysroot` would work, keeping stage0-sysroot as is and renaming stage1 to stage1-sysroot

[2022-09-12 16:57] Kixiron commented on #101646
I'm fairly sure I fixed this in #97861 but I haven't worked on that PR in a while

[2022-09-12 17:00] Manishearth opened #101728 "Tracking Issue for De-RFC 3307: Remove type ascription"
This supersedes https://github.com/rust-lang/rust/issues/23416

This is a tracking issue for the RFC "3307" (rust-lang/rfcs#3307).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussio

[2022-09-12 17:01] Manishearth commented on #23416
Superseded by #101728 due to the landing of [RFC 3307](https://github.com/rust-lang/rfcs/pull/3307)

[2022-09-12 17:01] #23416 closed

[2022-09-12 17:28] Nemo157 opened #101730 "Tracking Issue for `rustdoc::missing_doc_code_examples`"
This is a tracking issue for the lint `rustdoc::missing_doc_code_examples`.
The feature gate for the issue is `#![feature(rustdoc_missing_doc_code_examples)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* me

[2022-09-12 18:02] Nilstrieb commented on #101662
Maybe we should just say `required by this bound in `Foo::bar`. If we find a neat and obvious way to tell it that it's the RPITIT specifically it would be great, but I think just pointing at the function would be enough.

[2022-09-12 18:47] GuillaumeGomez commented on #67799
Just realized I should put it on the PR directly and not here...

@rfcbot cancel

[2022-09-12 19:06] dpaoliello commented on #58713
Good catch: looks like this is broken, I'll open a PR soon with the fix.

[2022-09-12 19:16] hudson-ayers commented on #101113
A much simpler MCVE that triggers this same ICE:

[code]

running today's clippy (Clippy version: clippy 0.1.65 (59e7a30 2022-09-11)) on this source causes the ICE in this issue.

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5643cbd7ce11d350c914088429b6e2e

[2022-09-12 19:27] hudson-ayers commented on #101113
Before anyone asks "why would you create a constant that contains a Cell" the answer is that this is inside a macro where we wanted to create a `static` array of non-copy types of variable length. Toy example:
[code]

[2022-09-12 20:32] asutherland commented on #43606
As a follow-up for searchfox (https://github.com/mozsearch/mozsearch) plans:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1761287 continues to be the bug we will track any work on the transition to RS+SCIP or RA+LSIF
- Currently the expectation is that @emilio will end up fixing this reactively when save-analysis is removed.  (Although it's possible we could end up with some clangd synergies in

[2022-09-12 21:18] 89z commented on #82595
closing for lack of interest

[2022-09-12 21:18] #82595 closed

[2022-09-12 21:23] nbdd0121 commented on #101469
Okay, I am able to replicate @Amanieu's behaviour. So there are two versions of `pthread_exit`, one provided in `libc` and one provided by `libpthread`. If I just compile the file with `g++`, then it gets linked to the libc version, and if I compile with addition `-pthread`, it gets linked to the libpthread version. Only the latter will perform unwinding.

I was attempting to try to understand the

[2022-09-12 22:03] matthiaskrgr opened #101739 "ICE: -Zsave-analysis: The given `Const` must be an ADT"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc 2abbbf3c158d6067aa29f0c337a40e687485635b.rs -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-12 22:08] matthiaskrgr commented on #101739
reduced a bit
[code]

[2022-09-12 22:11] toadslop commented on #96374
I think what was meant was that the author didn't want to bikeshed, so it was named the first thing that came to mind. Perhaps the thought that giving it that name would mean that the main thing someone who doesn't know much about the implementation or what it's for would be able to do nothing but bike-shed the name. And would happily do so.

[2022-09-12 22:16] #101649 closed

[2022-09-12 22:54] Dimaking900 opened #101742 "https://dimaking900.viplatinum.net/user/bonus"
![czbihajT0OE](https://user-images.githubusercontent.com/113393629/189772345-064d012b-d193-4e08-9a27-73932c8142c3.jpg)

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-09-12 23:33] jyn514 commented on #96524
I think this won't be possible after https://github.com/rust-lang/rust/pull/101710, because DepKindStruct will be defined in rustc_query_system which doesn't have access to QueryCtxt. I guess it could use type parameters though.

[2022-09-12 23:38] fakedrake commented on #91611
It seems this has been asleep for a while, is it blocked? is it dead? Does it need more love?

[2022-09-13 00:03] tbu- commented on #93610
`unwrap_or_clone` sounds like a bad name to me: `unwrap` has a connotation of potentially panicking code in Rust. The other suggested names in #91589 all sound better to me.

(Couldn't comment on the thread in IRLO as it has been closed.)

[2022-09-13 00:19] cmpute opened #101743 "The doc contents are incorrectly made bold under certain situation"
### Problem

This bug happens when an associated constant is generated from a generic const function. The brackets surrounding the generic parameters are interpreted as an HTML tag.

### Steps

If the documentation is like this in the code:
[code]
The documentation looks like:
![Snipaste_2022-09-12_20-17-34](https://user-images.githubusercontent.com/9154441/189780607-17d8259c-83c0-4bda-9d19-d174ef

[2022-09-13 00:28] ehuss commented on #101743
Transferred to rust-lang/rust as that is where rustdoc issues are tracked.

[2022-09-13 00:56] compiler-errors commented on #101707
I wouldn't bother -- can you try updating your nightly compiler and seeing if this persists?

[2022-09-13 01:19] #100183 closed

[2022-09-13 01:19] #101211 closed

[2022-09-13 01:19] #101715 closed

[2022-09-13 01:27] cassaundra commented on #77139
Yeah, this seems like intended behavior to me. The width specifier indicates the width of entire format parameter, so you would use `format!("{:#06x}", a)` instead, for example.

[2022-09-13 01:29] thomcc commented on #77139
Yes, this is the reason. It's admittedly a bit odd that the padding counts the `0b` and `0x` despite being on the right-hand side of it, but it's not like we can change it at this point.

[2022-09-13 01:49] tgross35 commented on #29639
Imho, I think that it would be good to give Rust some hooks that would allow for use in safety-critical systems that could potentially eliminate the need for a separate core (for at least the basic SIL levels) - which would probably have benefits to the language as a whole. Some things I've considered that would help that -
- `#![no_panic]` being used to classify a any potential panics as UB. This

[2022-09-13 02:29] semicoleon opened #101746 "Overflow evaluating type occurs after adding a comment without cleaning"
Note: This sample was shared with me on twitter, and I'm replicating it here with permission

I tried this code:

[code]

I expected to see this happen: Adding the comment as indicated on line 44 built successfully

Instead, this happened: Running the code as written, adding the comment, and then running *without cleaning* causes
[code]

Cleaning between adding the comment and running the code cau

[2022-09-13 02:50] semicoleon opened #101747 "Hitting the recursion limit when evaluating a type does not provide a useful error message"
Inspired by this [incredible Twitter thread](https://twitter.com/thingskatedid/status/1569406491886764032)
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f877afe944810b870c7ce4aa5e349a97)

[code]

The current output is:

[code]

This error message doesn't really communicate the problem to anyone who isn't aware of rustc internals. It

[2022-09-13 05:03] m-spitfire opened #101749 "Help message: use `.` instead of `::` when accessing a method of an object"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d70350eea1ed1dc1dc3a75226a71c8ea

[code]

The current output is:

[code]

Ideally the output should look like(additionally):

[code]

The output is the same in nightly too.

[2022-09-13 06:17] avl commented on #62924
Random bystander here.

Wouldn't it make sense for either @Amanieu , @yaahc or @m-ou-se  to either approve this, or provide some guidance on what further work is needed before this can be approved?

[2022-09-13 06:24] EFanZh commented on #101080
@saethlin I have done some tests on my project, using `nm` to check for symbols:

1. Using `lto=thin`, `Poll::map` does not get inlined;
2. Using `lto=fat`, `Poll::map` gets inlined;
3. Using `lto=thin` and `build-std`, add `#[inline]` to standard library source code, `Poll::map` gets inlined;

`nm` reports that each `Poll::map` is about 68 to 96 bytes.

[2022-09-13 06:25] Amanieu commented on #62924
I've been away for the past few weeks and haven't had much time to check up on Rust-related things. I've checked my box, this API looks fine to me.

[2022-09-13 06:54] chenyukang commented on #101749
@rustbot claim

[2022-09-13 07:14] dtolnay commented on #82901
@rfcbot concern is this in the same category as resize_default

Many years ago we deleted `vec.resize_default(n)` because it just wasn't worth having when `vec.resize_with(n, T::default)` is equally suitable.

- https://github.com/rust-lang/rust/issues/41758
- https://github.com/rust-lang/rust/pull/57656
- https://github.com/rust-lang/rust/pull/77850

It seems like it came down to just not being w

[2022-09-13 07:57] xxchan opened #101750 "Cannot resolve TAIT when used with impl/dyn Trait inside RPIT"
The condition seems complex, but a practical instance is `async fn foo() -> Result<TAIT>`

I tried this code:

[code]

I expected to see this happen: *it compiles*

Instead, this happened: *error*:
[code]

Notes:
- It compiles in `nightly-2022-08-12`, but failed in `nightly-2022-09-13`
- `fn() -> Result<TAIT>` works, and `async fn() -> Option<TAIT>` works

### Meta

`rustc --version --verbose`:
[c

[2022-09-13 08:18] oli-obk opened #101751 "Can we add a new `StableLintExpectationId` type so we can remove unstable Hash impls"
_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/101620#discussion_r967552010_

[2022-09-13 08:23] MathieuDutSik commented on #101651
One example of a public code that shows the same problem is **https://github.com/jvff/ghti** with the precise error being **/home/mathieu/.cargo/registry/src/github.com-1ecc6299db9ec823/ring-0.16.20/pregenerated/x86_64-mont-elf.S:1144: Error: no such instruction: `adcxq %rax,%r12'** (along with other bugs of course).

[2022-09-13 08:25] xxchan commented on #101750
@rustbot label F-type_alias_impl_trait

[2022-09-13 08:51] xxchan commented on #101465
Thanks for your incredible work! The ICE doesn't occur in our code anymore.

[2022-09-13 09:58] MitchellRhysHall commented on #59944
I fixed this issue by creating a manual buffer on the main thread using mpsc::sync_channel. As noted by [jonas-schievink](https://github.com/jonas-schievink) this is caused by a tight loop in the worker thread sending more messages than can be handled properly by the main thread.

[2022-09-13 10:46] vi opened #101755 "`placeholder _` is referred when there is a trait const with no type whatsoever."
Given the following code:

[code]

(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a84a11a114f0dcb9aa8f1ea1987db82f)

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-09-13 12:08] harudagondi opened #101758 "Line numbers does not line up with source code OR rustdoc does not respect browser font preferences"
This issue is found when accessing the source code of any library (and even std). The line numbers respect the font preference set in the browser settings, but the source code does not. For example:

## The line numbers 165-169 does not line up with the definition of the Mutex definition

![The line numbers 165-169 does not line up with the definition of the Mutex definition](https://user-images.g

[2022-09-13 12:36] #44265 closed

[2022-09-13 12:49] spastorino commented on #91611
@fakedrake we are working on this thing, there's some support work being done by my RPIT Refactor and by RPITIT PR that just landed. You can see discussions on https://rust-lang.zulipchat.com/#narrow/stream/330606-wg-async.2Fasync-fn-in-trait-impl

[2022-09-13 13:23] bstrie opened #101760 "Update axum to fix cargo-deny check"
cargo-deny is reporting a vulnerability in axum, so we need to upgrade:

[code]

[2022-09-13 13:24] bstrie commented on #101760
The axum dependency comes from drawbridge, so we'll need to update that first.

[2022-09-13 13:34] bstrie commented on #101760
Agh, never mind, I'm in the wrong frickin' repo. :facepalm:

[2022-09-13 14:02] aviramha commented on #73628
Any news on this?

[2022-09-13 14:09] bjorn3 commented on #101650
Maybe, maybe not. At the very least I think we should prevent this from accidentally starting to work as that would prevent ever returning to the old code even if the new code is found to have severe issues.

[2022-09-13 14:11] DzenanJupic opened #101761 "ICE 'index out of bounds: the len is 20 but the index is 21'"
### Code
Unfortunately not open source :(

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-13 14:19] saethlin commented on #101080
What about `lto=thin` and `#[inline]` added to the standard library code, but without using `-Zbuild-std`?

If that configuration gets these functions inlined I think this is worth doing because it unlocks additional useful optimizations for users, but if the optimization is gated behind `-Zbuild-std` it's a bit less certain if this is a win.

@nikic Do you or any other LLVM folks have insight int

[2022-09-13 14:20] pro465 opened #101762 "exhustiveness checking in commented code suggests duplicating comments"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=enum%20S%20%7B%0A%20%20%20%20O%2C%0A%20%20%20%20P%2C%0A%20%20%20%20Q%2C%0A%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20match%20S%3A%3AO%20%7B%0A%20%20%20%20%20%20%20%20S%3A%3AO%20%3D%3E%20%7B%7D%0A%20%20%20%20%20%20%20%20%2F*%0A%20%20%20%20%20%20%20%20%20*%20stuff%2C%20stuff%2C%0A%20%20%20%20%20%20%20%20%

[2022-09-13 14:29] TaKO8Ki commented on #101762
I think this has already been fixed in #100305.

[2022-09-13 14:33] NULLx76 opened #101763 "no compilation error on impossible bitshift if not used"
When creating a library that contains an impossible bitshift, e.g. `1u32 << 32`

I expected to see this happen: the library doesn't compile.

Instead, this happened: the library compiles as long as the code is never used in the library but does fail to compile when used in another crate.

Other ways to fail compilation like `compile_error!` or `let a: u8 = -5` do stop the library from compiling ev

[2022-09-13 14:45] jonay2000 commented on #101763
note that these expressions (255u8 + 1 or 1u32 << 32) already fail to compile when they are imported in another crate. They do not need to be used in the other crate.

While in the same crate, they compile when not used but don't compile when used (not eliminated as dead code)

[2022-09-13 14:54] xxchan commented on #101750
`nightly-2022-08-18` works, and `nightly-2022-08-19` breaks

[2022-09-13 15:15] msrd0 commented on #78585
Just spent 10 minutes trying to figure out why rust wants me to put a `:` here. Turns out I was missing a `=>` as well.

[code]

[code]

[2022-09-13 15:30] xxchan commented on #101750
[code]

[2022-09-13 15:33] #101689 closed

[2022-09-13 15:48] matthiaskrgr opened #101766 "missing `generic_associated_types` stabilisation version?"
[code]
with rustc master `rustc 1.65.0-nightly (5338f5f1d 2022-09-13)`

[code]
looks like the stabilisation version is borked? :sweat_smile:
cc @jackh726

[2022-09-13 15:50] matthiaskrgr commented on #101766
Hm, it actually says it like this in the code :D
https://github.com/rust-lang/rust/pull/96709/files#diff-307e0d3a2037c11a3fa16822fbaa0fec08e57ac7d0d6e7354f6005c9482a9e26R165

[2022-09-13 15:58] jackh726 commented on #101766
This is correct, but not ideal: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#updating-the-feature-gate-listing

cc @est31 maybe we want to special case this in the diagnostics

[2022-09-13 17:31] est31 commented on #101766
Yeah seems I've missed correcting that lint. For GATs, the stabilization version will be adjusted very soon, in the coming days, as we are close to the release cycle. But this needs to be fixed for future stabilizations as well. Working on a PR. @rustbot label bug

[2022-09-13 17:37] est31 commented on #101766
Yeah it warns correctly for lib features so only lang features are affected:

[code]

[2022-09-13 18:08] cjgillot opened #101771 "Compute `shallow_lint_levels_on` by `LocalDefId` instead of `HirId`"
Besides the great improvement on the incr-patched cases, there is a ~2 % regression on the incr-unchanged case.  I suspect this is due to the query overhead.  One possible solution would be to change the granularity of the `shallow_lint_levels_on` query to be per HIR-owner, instead of per HirId.  I'd like to leave this as a follow-up.

_Originally posted by @cjgillot in https://github.com/rust-lan

[2022-09-13 18:09] est31 commented on #101766
PR filed: #101772

[2022-09-13 18:14] nikomatsakis commented on #93333
@Amanieu great! Can you open a PR with that revert?

[2022-09-13 18:16] nikomatsakis commented on #99104
@rfcbot fcp cancel

Given that this RFC has been pending since August and there is still a need for more details, I'm going to cancel it for now, we can re-start when there's a concrete proposal we want to move forward.

[2022-09-13 18:25] #99104 closed

[2022-09-13 18:32] nikomatsakis commented on #54503
Removing nomination.

What's needed for this to go forward is:

* A write-up that lays out the alternatives that were discussed on this thread
* Summarizes the edge cases that occur
* [Propose a design meeting for lang-team to review](https://github.com/rust-lang/lang-team/issues/new?assignees=&labels=meeting-proposal%2C+T-lang&template=meeting-proposal.md&title=%28My+meeting+proposal%29)

Speakin

[2022-09-13 18:45] nikomatsakis commented on #100513
Discussed in lang-team meeting. We are removing the nomination. The current behavior seems clearly surprising and also not in accordance with the RFC.

[2022-09-13 18:49] nikomatsakis commented on #100954
Discussed in lang-team meeting to general happiness and accord. Based on current attendance (not everyone), we would welcome a PR implementing this change and we could FCP that PR to confirm.

An alternate phrasing of the rule is:

* Ignoring any 1-ZST fields, you can have at most one field in your struct.

[2022-09-13 18:50] nikomatsakis commented on #100954
@tmandry proposes:

"You can have at most one field in your struct, ignoring any 1-ZST fields."

[2022-09-13 18:50] nikomatsakis commented on #100954
Anything that doesn't include a double negative works for me :P

[2022-09-13 18:56] xxchan commented on #101750
Caused by https://github.com/rust-lang/rust/pull/99860

[2022-09-13 19:06] jyn514 commented on #81930
@bjorn3 suggests deleting the `stage1` and `stage0-sysroot` directories when using download-rustc, to avoid caching issues like this. `rustdoc +stage1` still won't do the right thing, but it will at least give a hard error instead of silently using the wrong version.

[2022-09-13 19:29] m-ou-se commented on #100422
We discussed this again in the libs-api meeting, and we concluded pretty much the same as @scottmcm's rule, meaning that these functions should panic on zero in all compilation modes, since it's not a modulo-2<sup>N</sup>-correct result.

[2022-09-13 19:31] m-ou-se commented on #70887
It seems there's a consensus on the log(0)-handling: https://github.com/rust-lang/rust/issues/100422#issuecomment-1245864700

Once the behaviour and documentation is updated (PR welcome!), we can move forward with the FCP here.

[2022-09-13 19:42] mqudsi opened #101775 "Aggressive optimizations lead to incorrect or unexpected results using `thread::scope()` with closed-over variables instead of local `static mut` variables."
With the recent stabilization of `std::thread::scope()`, I expect we'll see a number of users try to port some code using global/local `static` variables in conjunction with `std::thread::spawn()` to using regular local, mutable variables and `std::thread::scope()` instead. Unfortunately, while the revised approach may be sound in theory, in practice it may be untenable due to aggressive optimizat

[2022-09-13 19:59] cameron1024 commented on #101771
@rustbot claim

I'd be keen to take this on. I'll have a look at the linked issue to see where to get started.

[2022-09-13 20:10] TheButlah commented on #54727
I came here from: https://github.com/danakj/dynpath/issues/1

But reading this issue, I have very little clue how this feature relates to the place I tried to use it in code

[2022-09-13 21:08] lukas-code commented on #101761
This might be fixed by #99928. Can you still reproduce this on the latest nightly?

[2022-09-13 21:15] derekdreery commented on #93610
There is precedence for this pattern: `Option::unwrap_or` for example.

On Tue, 13 Sept 2022, 01:03 Tobias Bucher, ***@***.***> wrote:

[2022-09-13 21:51] yshui commented on #81693
Update based on discussion happened on zulip.

Some suggested using polonius, but the example code doesn't compile with polonius enabled either.

@danielhenrymantilla reduced it to

[code]

So there needn't be a `match` to trigger this problem.

Quoting:

[2022-09-13 21:56] yshui commented on #81693
For people stumbling across this looking for a workaround, one option is putting the `Drop` variable in a `ManuallyDrop`, and make sure to drop it manually.

For using this example:

[code]

Change it to:

[code]

[2022-09-13 22:02] JohnTitor commented on #82223
FCP is now complete and #100604 has been merged, closing.

[2022-09-13 22:02] #82223 closed

[2022-09-13 22:28] jonay2000 commented on #101763
So I have taken a look through the compiler. I'm a bit new to this, so I may be wrong (though I already feel I learned quite a bit!)

I don't quite get why this bug occurs. It seems to me that this is the order of rust's passes:
![image](https://user-images.githubusercontent.com/22172241/190020050-e46e7703-8a26-43ec-ae9a-70ea2399fe69.png)

Dead code elimination is part of rustc_passes:

![image](h

[2022-09-13 23:42] hanar3 commented on #101666
Claiming this. If @jyn514  someone could bring some color on whether `key` is always a valid `rustc_query_impl::keys::Key` in this context as per the discussion on [#83122 (comment)](https://github.com/rust-lang/rust/issues/83122#issuecomment-799582396) would be very helpful as this is the first issue I'm taking on.

If `key` is guaranteed to be a valid key, we could call `key.query_crate_is_local

[2022-09-13 23:42] hanar3 commented on #101666
@rustbot claim

[2022-09-14 01:08] scottmcm commented on #100954
I was going to add an induction definition (one-field is fine; adding 1-ZST fields is fine), but it turns out that this is [legal](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b011df693851876832c760190063c24b):

[code]

Which means that the current rule isn't actually

And thus I'm even more in favour of the "at most one" version of the rule, since that seems to be what

[2022-09-14 01:26] tyler274 commented on #96284
Could these methods be made `const`

[2022-09-14 01:28] siketyan commented on #100657
Experiencing this when building for custom target (JSON file) on macOS (aarch64-apple-darwin) using Rust toolchain v1.65.0-nightly (2022-09-02)

[2022-09-14 01:36] jyn514 commented on #101666
@hanar3 yes, all keys must implement Key or they can't be used as the argument to a query in the first place. `query_key_is_local` is already used in that macro :) https://github.com/rust-lang/rust/blob/8d113ae658eec2feb3a5be0a782eabbfacfb0f2b/compiler/rustc_query_impl/src/plumbing.rs#L250

[2022-09-14 02:06] kpreid commented on #101775
I think this is not “the optimizer” but the language semantics. By making `SHARED` into a `let` variable, you've made it one of the captured variables of the thread closure, which is `move`, so it moves/copies all its captures, and `ThreadMessage` implements `Copy`, so each thread gets its own copy of the current value of `SHARED` moved into the thread closure.

The typical solution to this proble

[2022-09-14 02:21] mqudsi commented on #101775
I think you’re right. I should have studied this more before posting.

[2022-09-14 02:21] #101775 closed

[2022-09-14 03:26] EFanZh commented on #101080
@saethlin: It seems that changing standard library source code only works with `build`. Do I need to compile a customized version of Rust in order to test it?

[2022-09-14 04:03] shirshak55 commented on #101247
Solved!

I was using mold linker. Thanks for mentioning it.

[code]

[2022-09-14 04:03] #101247 closed

[2022-09-14 04:31] compiler-errors commented on #101761
Yeah this is definitely fixed by #99928.

[2022-09-14 05:37] BGR360 commented on #90665
I think I've narrowed down the cause to this part of `rustc_trait_selection`:

https://github.com/rust-lang/rust/blob/88a192257ce110e7fb1732aa2b65e481f811db7a/compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs#L140-L156

This is inside of `candidate_from_obligation_no_cache`. What it's saying is that if there is exactly one candidate impl for the obligation, then return it rath

[2022-09-14 05:52] BGR360 commented on #90665
I would love some help coming up with a plan for how to improve this. I'm thinking I could do one of two things:

1. Do some really involved logic after the fact in `rustc_trait_selection::traits::error_reporting` (I already saw one example where the error reporting code just re-calls `select_from_obligation`).
2. Add a special case to `candidate_from_obligation_no_cache`: if "winnowing" down the

[2022-09-14 06:25] gimbles commented on #101683
I feel like adding Kotlin into the diagnostic message also might help the developer.

Kotlin "structs" are defined like
[code]

[2022-09-14 07:11] Wyvern commented on #101653
Any progress on it? Nightly build 2022-09-13 still reproduce the problem.

[2022-09-14 07:19] jplatte opened #101788 "Follow token restriction disallows keywords after path fragment specifier (and likely others)"
I just wanted to add match guard support to the [as_variant](https://docs.rs/as_variant/latest/as_variant/) crate I published yesterday, but found that it was impossible without turning the macro into a token muncher (something I'm not familiar enough with and also find rather unappealing).

Basically, I tried this:

[code]

and got the error

[code]

which seems wrong.

Actually after writing mos

[2022-09-14 07:43] oli-obk commented on #101470
duplicate of #98444

[2022-09-14 07:43] #101470 closed

[2022-09-14 07:44] oli-obk commented on #98408
duplicate of #98444

[2022-09-14 07:44] #98408 closed

[2022-09-14 08:12] steffahn commented on #98444
Labels from the closed #101470, @rustbot label A-diagnostics, A-lint, A-mir-opt, T-compiler.

[2022-09-14 08:15] Rageking8 opened #101791 "Complete raw identifier help suggestion for all applicable keywords used as identifiers"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=576d9ef1b3ae7e78337fb17b80f8d125)

[code]

The current output is:

[code]

Out of all the keywords (strict, reserved and weak), all of them suggest adding the `r#` prefix to make it a raw identifier when used in the above setting, except the ones listed above or those that cant be made into a

[2022-09-14 08:34] fencekicker commented on #33159
I've hit a similar issue while running rust-gdb on Ubuntu 20.04 (I have version 1.59.0+dfsg1~ubuntu1~llvm-1~ubuntu1~20.04.2):

Traceback (most recent call last):
  File "/usr/lib/rustlib/etc/gdb_load_rust_pretty_printers.py", line 2, in <module>
    import gdb_lookup
  File "/usr/lib/rustlib/etc/gdb_lookup.py", line 5, in <module>
    from rust_types import *
ModuleNotFoundError: No module named '

[2022-09-14 08:44] Rageking8 opened #101793 "Slight refinement to wording of help suggestion as a result of `not` being used"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6a7c3c414c4a2ed446ef138d60dc11b0)

[code]

The current output is:

[code]

The above phrasing AFAIK should say "bitwise not" instead of "logical negation" as the above literal is not interpreted as a Boolean.
The following shows a slightly different input and output which has the right phrasin

[2022-09-14 09:01] mversic commented on #70473
From the looks of it, it seems that `str` is already guaranteed to have the same repr as `[u8]`. Actually, it's more than that. I suspect that `&str` has a guaranteed representation as `&[u8]` even though references/pointers to slices don't have a defined representation. This is used all over the `core::str` to transmute string slices into byte slices. [Here](https://github.com/rust-lang/rust/blob

[2022-09-14 09:03] Rageking8 commented on #101793
@rustbot label +D-papercut

[2022-09-14 09:13] laurmaedje opened #101794 "Function type with HRTB and associated type argument unifies inconsistently"
This is a similar issue as #84937, #89436, and #90875. Those were fixed by #90887, but it seems like the issue still exists (on stable and nightly). It is pretty flakey: In this case, it can be fixed by adding a type annotation and even by changing the order of the `exec` function's arguments.

[code]

### Full Diagnostic
<details>

[code]

</details>

### Meta
`rustc --version --verbose`:
[code]

[2022-09-14 09:22] bastbu opened #101795 "Clarification for bounds in `where` clause"
### Location

https://doc.rust-lang.org/std/keyword.where.html

### Summary

From the documentation of the standard library:

While this is accurate, the section ["Where clause grammar" from the RFC](https://github.com/rust-lang/rfcs/blob/master/text/0135-where.md#where-clause-grammar) clarifies that the `BOUND` can be of _any type_. I remember that I saw the following pattern a few times in the s

[2022-09-14 09:26] ChrisDenton commented on #70473
To be clear, the standard library is allowed to depend on implementation details that aren't necessarily stable. That `core` does something internally is not a guarantee that it'll work in future (or past) versions of Rust. The std is distributed with the compiler so can change as and when needed.

[2022-09-14 09:30] dtolnay commented on #70473
This is what we should have at the top of every single file instead of license headers.

[2022-09-14 09:31] mversic commented on #70473
Ofc, I am aware. I just thought it's worth pointing out. Though in this particular case I don't know how they would do it any other way.

[2022-09-14 09:47] Bunch-of-cells opened #101796 "Wrong error location when slicing a slice"
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The error location should be in main.rs, and not library/core/.../index.rs

[2022-09-14 09:49] clubby789 commented on #101685
This regressed between `nightly-2022-02-25` -> `nightly-2022-02-26`

[2022-09-14 10:06] Rageking8 opened #101797 "Suggest associated const for incorrect use of `let` in traits"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3ee5f1570a9f674943f2f756d464877b)

[code]

The current output is:

[code]

Ideally the output should suggest changing the `let` to a `const` for associated const. Thanks.

[2022-09-14 10:36] fmease commented on #101796
This should already be fixed on nightly via #107059. Can you confirm this? This issue is probably a duplicate of #100696.

[2022-09-14 10:45] crlf0710 commented on #101685
This works fine though.

[code]

[2022-09-14 13:09] onestacked opened #101803 "Tracking Issue for `feature(const_fn_trait_ref_impls)`"
Feature gate: `#![feature(const_fn_trait_ref_impls)]`

This is a tracking issue for the implementation of const Fn* on references of const Fn* Items.

### Public API

[code]

### Steps / History

- [x] Implementation: #101802
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.

[2022-09-14 13:32] onestacked opened #101804 "Tracking Issue for `feature(const_slice_split_at_mut)`"
Feature gate: `#![feature(const_slice_split_at_mut)]`

This is a tracking issue for spliting mutable slices in const context.

### Public API

[code]

### Steps / History

- [x] Implementation: #101800
- [x] https://github.com/rust-lang/rust/pull/124678
- [x] Wait for https://github.com/rust-lang/rust/issues/57349 to be stabilized.
- [ ] Wait for #130403 since from_raw_parts_mut is used internally

[2022-09-14 13:55] raldone01 commented on #92391
Any reason why `impl const PartialEq for Ordering {}` is not added by this feature?

[2022-09-14 13:58] raldone01 commented on #92391
Should I create a pull request that adds it to this feature or create a new feature?

[2022-09-14 14:05] pro465 commented on #101762
@TaKO8Ki oh yeah it does seem to be fixed in nightly, thanks for notifying!

[2022-09-14 14:05] #101762 closed

[2022-09-14 14:08] aDotInTheVoid commented on #100961
`ItemEnum::ForeignType` should be `ExternType`, as foreign refers to a different rust crate, but it's actually a non rust type

[2022-09-14 14:32] Kampfkarren commented on #89554
I would like to file a complaint about the lint message here, unsure if you would want a separate bug report.

Currently, I get the following error message:

[code]

This error message is correct, but not helpful, and confused the person writing the pull request who hit this issue. It does not show what the variants are or where the match is. I would file a repro but I'm fairly sure non_exhaustive

[2022-09-14 14:42] saethlin commented on #101080
That's what I do. It's a very slow workflow.

[2022-09-14 14:54] apiraino commented on #65991
Signaling the [above comment](https://github.com/rust-lang/rust/issues/65991#issuecomment-1238528625) with a `S-blocked` label

@rustbot label s-blocked

[2022-09-14 14:59] y86-dev commented on #99793
I also encountered this issue on
[code]
The following code also works (seems like a general workaround):
[code]

[2022-09-14 15:02] dtolnay commented on #65991
@rustbot label -S-blocked

Niko's comment was _"this is blocked on lang decisions"_. This issue was already labelled https://github.com/rust-lang/rust/labels/S-waiting-on-team https://github.com/rust-lang/rust/labels/T-lang which captures this &mdash; _"awaiting decision from the relevant subteam"_. https://github.com/rust-lang/rust/labels/S-blocked means something different &mdash; _"blocked on s

[2022-09-14 15:35] camelid commented on #89554
Hmm, it does seem like a bug that no source code is shown. Can you file an issue? I'm not sure I followed why the MCVE wouldn't be possible, but if you could provide something like that, that would be helpful.

[2022-09-14 15:39] RReverser commented on #70473
Yeah, that's why this issue, like the referenced issue about Box, is more about documenting and settings things in stone rather than changing behaviour.

[2022-09-14 15:45] hanar3 commented on #101666
Awesome, thanks for the reply! This is what I have in place so far.
[code]

The compiler, however, is not happy with me calling `key.query_crate_is_local()`
[code]

This is the macro  definition, I noticed it uses`tt` for every argument of fn.
https://github.com/rust-lang/rust/blob/c97922dca563cb7f9385b18dbf7ca8c97f8e1597/compiler/rustc_middle/src/ty/query.rs#L178

Is it right to assume that the `

[2022-09-14 15:53] camelid commented on #81930
Great idea! That would be very helpful.

[2022-09-14 15:54] apiraino commented on #101623
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101623.20ICE.3A.20no.20type.20for.20node)).

@rustbot label -I-prioritize +P-medium

[2022-09-14 16:12] Kampfkarren commented on #89554
Sure. An MVCE is possible, but non_exhaustive is only enforced when the non_exhaustive item is in a separate crate, so it just can't be a *playground*.

[2022-09-14 16:16] jyn514 commented on #101666
@hanar3 hmm, I think I was wrong before - the problem is that the key only needs to implement the `Key` trait if the macro has the `separate_provide_extern` modifier. Maybe you can add a new `get_default_provider` macro; that will give a better error anyway since it can distinguish "you added a local provider but not an extern provider" from "you never added a provider at all".

[2022-09-14 16:17] aDotInTheVoid commented on #101743
@cmpute I cannot reproduce, can you post the definition of Word, Repr, etc..

---

When I try

[code]

I get

![image](https://user-images.githubusercontent.com/28781354/190207749-2518c8d0-fcb9-47fd-b3d4-ba195b376717.png)

Which looks correct.

It's also possible that I'm on a more recent version of rustdoc, and that this has been fixed, and needs a test

[code]

[2022-09-14 16:29] aDotInTheVoid commented on #101758
How have you configured firefox to override fonts? I can't reproduce this issue

![image](https://user-images.githubusercontent.com/28781354/190210439-b5911adf-a389-47c9-bccc-a9ff858158eb.png)

![image](https://user-images.githubusercontent.com/28781354/190210484-92cd5f65-a79b-4797-87f6-2ac0b0a7ec43.png)

![image](https://user-images.githubusercontent.com/28781354/190210557-a79e19b0-1db7-4922-bc3b

[2022-09-14 16:32] BGR360 commented on #90665
Some discussion here: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/trait_sel.3A.20Advice.20for.20.2390665

[2022-09-14 16:58] Tearth opened #101814 "Poor optimization of iter().skip()"
Using iter().skip() functions leads to poor optimization compared to the manually done loop with range.
https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=b7ed8bf9e4fc3341a92f301fa5185cc5

[code]

This produces the following asm output:
[code]

Considering the zero-cost abstraction rule and the fact that the compiler knows the size of the array, it should optimize test_1 to

[2022-09-14 17:38] apiraino commented on #100615
Visited during last weeks' T-compiler [meeting on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-09-08/near/297800045), relaying Felix's comment here for visibility:

@cjgillot are you planning to put back the suggestion? Alternatively, do you think that might be a nice small task for a new contributor to pick up?

[2022-09-14 17:45] cmpute commented on #101743
I tried to use nightly locally and get the same result as yours. Thanks!

Notice that your rendering output for `BASE` is

[code]

rather than my rendering:
[code]

This actually avoid the problem of parsing the generic parameters `<B>` as HTML tag, so I think it's fixed in the latest version.

[2022-09-14 17:45] #101743 closed

[2022-09-14 18:02] #101766 closed

[2022-09-14 18:13] diegooliveira commented on #100717
I made a pull request rustc_passes.

https://github.com/rust-lang/rust/pull/101815

[2022-09-14 18:51] MatiF100 commented on #101814
Rewriting the function the following way produces the same assembly as the better optimized variant. Seems like the issue happens when using both iterators and for loop at the same time.
[https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=bcb4551c22ef765a682c1d6c41eb285f](url)
[code]

[2022-09-14 19:02] nikic commented on #101814
This general class of problem is well known -- optimization of exterior iteration in Rust is very challenging. Using interior iteration (as in the previous comment) will generally optimize much better.

That said, in this case optimization is likely feasible. Looking at the IR (https://rust.godbolt.org/z/cevdKWcTn) there is a clear opportunity for peeling based on phi invariance here, which should

[2022-09-14 19:57] Tearth commented on #101814
Thanks, I wasn't aware that the compiler can have this kind of trouble with exterior iterations, but it's understandable - I will leave this issue open if you're saying that this case has the potential to improve.

[2022-09-14 20:15] camelid commented on #89554
Ah, I see what you mean. Yeah, an MCVE would be good even if it can't be on the playground.

[2022-09-14 20:30] marmeladema opened #101822 "Borrowed value does not live long enough beta regression"
### Code

I tried this code:

[code]

I expected to see this happen: it compiles successfully

Instead, this happened:

[code]

Beta: https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=3f293aff3e5dc16ad303940d4613514a
Stable: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3f293aff3e5dc16ad303940d4613514a

### Version it worked on

It most recently worked

[2022-09-14 20:34] marmeladema commented on #101822
Creating `scheme` *before* `configuration` solves the issue but it is still a regression between stable and beta (and nightly)

[2022-09-14 20:36] apiraino commented on #65991
@dtolnay it was just a convenience when I scan every week issues waiting on team to find the oldest ones to mention [for the T-compiler meeting](https://hackmd.io/P5_PrNfwR6Sp89yQ_S3-jg#Oldest-PRs-waiting-for-review).

but it's fine, I won't bikeshed labels meaning :)

[2022-09-14 20:38] ash2x3zb9cy opened #101823 "Writing `float::pow(int)` causes rustc to suggest using `powf`, not `powi`"
While trying to raise a float to an integer power, if the user tries to write `float.pow(int)`, rustc suggests using `powf`, which then results in a type error. rustc then suggests casting the int to a float with `as`. The correct fix would instead be to use `powi`.

Given the following code: [[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7d07e5ca1f680d90b18c

[2022-09-14 20:39] lukas-code commented on #101822
This was caused by #99413.
See also #100544.

[2022-09-14 20:56] WaffleLapkin commented on #96284
@tyler274 they can't, CTFE engine (compile time function execution) does not (necessarily) have a notion of "address" of a pointer. Since you can't take the address (e.g. it's UB to `transmute::<*const (), usize>()` in CTFE) you also can't check if it's divisible by something.

[2022-09-14 21:05] marmeladema commented on #101822
Thank you for your fast reply @lukas-code!
Its unfortunate that a fix like this lead to a backward incompatible change.
Error reporting is already awesome but a note in the error message saying this was previously accepted but isn't anymore would have been awesome 👍

[2022-09-14 21:06] sdroege opened #101827 "rustc panicked at 'Failed to extract DefId...' on incremental builds"
### Code

I can't provide code to reproduce it because it's private code. The problem happens reproducibly every time but disappears after a `cargo clean`, so the problem is probably corrupted incremental build state. Because of that I also can't check with latest nightly because the problem doesn't happen then.

The code where it crashes according to the bottom of the backtrace (`#1 [typeck] type

[2022-09-14 21:23] jrmuizel opened #101829 "Do not copy data from the stack to `Box` when it can be avoided"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1787715 (currently not public for security reasons) we ran into a stack overflow when flate2 calls `Box::<CompressorOxide>>::default()` in `DeflateBackend::make()` here:
https://github.com/rust-lang/flate2-rs/blob/cc5ed7f817cc5e5712b2bb924ed19cab4f389a47/src/ffi/rust.rs#L131

`DeflateBackend::make()` is getting compiled with a call to `chkstk(65664)`

[2022-09-14 21:29] jackh726 commented on #101822
Closing as duplicate of #100544

[2022-09-14 21:29] #101822 closed

[2022-09-14 23:04] compiler-errors commented on #75899
It's been some time this issue was touched, so let me take a look at it.

[2022-09-14 23:18] lijiaqigreat commented on #63063
I'm not sure if this is the right place to comment, or if it's too late to change the syntax. But here is a suggestion:

Using this as an example:
[code]
One issue of this syntax is that by looking at `bar` itself, we can't know if Bar is a concrete type and if the argument type is the guaranteed to be the same type as the return.

I propose we change the syntax to:
[code]
This way, we always know

[2022-09-14 23:26] rpjohnst commented on #63063
In your first example, `Bar` is already guaranteed to be the same type in argument and return position. It is a type alias for a single opaque type, for basically the same reason that a function returning `impl Foo` can only return one concrete type. One syntactic `impl Trait` gives you one opaque type; making an alias for it and using it in multiple places does not change that.

[2022-09-14 23:39] lijiaqigreat commented on #63063
Maybe I'm misunderstanding the rules. Will this compile under current rfc?
[code]

And what about this slightly different example?
[code]

If I understand rust correctly, both of these will compile if we use `impl Debug` in place of `Foo`.
And if I understand the rfc correctly, they will also compile if we use `Foo`.

[2022-09-14 23:49] ibraheemdev commented on #63063
@lijiaqigreat An impl trait alias is a single, opaque, concrete type. What you are thinking of is a different feature that doesn't exist.

[2022-09-14 23:57] jyn514 commented on #101172
@thomcc how did you get that far in the build? When I try it I get
[code]

[2022-09-14 23:57] jyn514 commented on #101306
Hi @reez12g, have you had time to work on this? Let me know if anything is confusing and I'm happy to help out :)

[2022-09-15 00:00] jyn514 commented on #101172
`download-ci-llvm` worked`

[2022-09-15 00:11] harudagondi commented on #101758
![Settings for fonts](https://user-images.githubusercontent.com/14072899/190283944-73683756-dd6b-45fe-a172-76b249a2ace5.png)

It seems that unchecking the option for allowing pages to use their own font resolves the problem. Howeve, I think that the source code has their own preferred font, but the line numbers did not. Thus this settings does not override the font for the source code, but the lin

[2022-09-15 00:23] jyn514 commented on #101172
To reproduce this I also needed to have the llvm submodule checked out so https://github.com/rust-lang/rust/blob/ed3711120500157d7ad93613266e665b0d41b69a/src/bootstrap/compile.rs#L318 would trigger.

[2022-09-15 00:52] jyn514 commented on #101144
I was not able to reproduce this locally :/ I tried
[code]
and it checked out the submodules successfully. I'm using
[code]

[2022-09-15 00:58] jyn514 commented on #101070
Blocked on https://github.com/rust-lang/rust-analyzer/pull/13128.

[2022-09-15 01:21] WaffleLapkin commented on #101144
For me this happens only _sometimes_. Most of the time when I checkout an old branch.

I think I've got a reproduction (by checking out an old commit and pushing a branch to my fork), probably has unnecessary steps, but it seems to be "working" for me.
[code]

git version:
[code]

[2022-09-15 01:25] #46060 closed

[2022-09-15 01:27] jyn514 commented on #101144
To make @WaffleLapkin's steps reproducible - HEAD is currently https://github.com/rust-lang/rust/commit/750bd1a7ff3e010611b97ee75d30b7cbf5f3a03c

[2022-09-15 02:42] #95094 closed

[2022-09-15 03:30] tjhance opened #101836 "negative impl for Copy fails in a strange way"
I tried this code on nightly:

[code]

I expected to see this happen: the code should compile successfully, or print a better diagnostic

Instead, this happened: The following compile error:

[code]

I _think_ this is a bug, and that the code ought to compile.

If not, then at the very least, the error message could be improved.
Currently, the error message explains why rustc is not able to implem

[2022-09-15 04:37] compiler-errors commented on #101796
This is indeed fixed on nightly. Thanks for reporting the issue, closing now!

[2022-09-15 04:37] #101796 closed

[2022-09-15 05:25] scottmcm commented on #29635
I think improving the current behaviour of this might be a blocker for #32838, since it's not at all obvious that we want to let people implement things for `Box<T, CustomAllocator>`, but it seems like that's what the `#[fundamental]` currently does.

[2022-09-15 05:28] chenyukang commented on #101823
Levenshtein based suggestions do not checking the type matching of arguments for candidates,
and only will give one final suggestion.

[code]

[2022-09-15 05:31] chenyukang commented on #101797
@rustbot claim

[2022-09-15 05:32] scottmcm commented on #32838
`Box` being [`#[fundamental]`](https://github.com/rust-lang/rust/issues/29635#issuecomment-1247598385) means that one [can](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a5107d38cef18e25be4bd7ef46ad522d) implement core traits for `Box<i32, MyCustomAllocator>`, and that probably ought to be prevented before stabilizing the type parameter.

[2022-09-15 05:43] thomcc commented on #32838
I have a lot of concerns about the current API -- t's not a good fit for existing allocators leading to perf losses, and it's story is quite poor when used with dynamic dispatch (a common use case for allocators).

It's a bit surprising that this apparently has finished FCP with merge disposition, but IMO there's more than just the issue around `#[fundamental]` that needs work here.

[2022-09-15 05:58] RalfJung commented on #32838
I'd also prefer if we had at least a solid plan for how to properly solve the problems arising from Box being both a primitive type (for purposes like noalias and align attributes) and having arbitrary user-defined data inside it. It looks like for now the ICE wack-a-mole slowed down but architecturally in the compiler it is still somewhat messy.

[2022-09-15 06:49] crlf0710 opened #101840 "Tracking Issue for aligning Unicode version to 15.0 (year 2022)"
Unicode is released on a yearly basis, so we update the data files we used accordingly after each Unicode release in the Rust project. (Keep in mind that new dependencies might be added over time.)

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions

[2022-09-15 06:51] thomcc commented on #101840
`unicode-bdd` is updated with the libcore update.

[2022-09-15 07:11] ogoffart commented on #101336
I am wondering if this solution was not dismissed too early.

For reference, C++, another zero-cost abstraction language, does null check in `static_cast` that do pointer adjustment:   https://godbolt.org/z/jd4n7YvPW
I'm not seeing upcasting raw pointer as a frequent operation. Most likely this would be done next to actually using this pointer anyway which would probably allow to optimize the null

[2022-09-15 07:32] TehPers commented on #80437
I'm curious what makes the move-on-derefence behavior bad for `Box<T>`? To me, it seems like a very useful convenience, given how many functions take `self` and how often you work with boxed values. On the other hand, generalizing it seems like it would open the possibility for alternate pointer types to take advantage of that behavior. That being said, discussion around `DerefMove`  specifically

[2022-09-15 07:43] nnethercote commented on #43606
I have created #101841 which removes save analysis, just to see how hard it was: not particularly hard.

[2022-09-15 07:53] Aandreba commented on #80437
Agreed. But the point was being made that with `DerefMove::deref_move`, `Box::into_inner` would be unnecessary (which I agree). My point was "I don't think DerefMove is a good idea, so I hope it never comes to bee. If it doesn't, we'll still have the same problem as now"

Well, I don't think anybody is arguing we should remove the special behavior `*` has on boxes. The Rust team has made a clear c

[2022-09-15 08:02] RalfJung commented on #101336
And what should dyn calls (of safe functions) do when the vtable is null? If we want to say "UB" we'd have to make them unsafe somehow; otherwise the only option I can think of is to make them panic and that sounds bad.

[2022-09-15 08:19] grtlr opened #101844 "ICE while compiling `tower` for `tonic` on `nightly`"
An ICE occurs when compiling `tower` as dependency for `tonic:0.8.1` using the `rustc nightly` compiler.

### Code

`main.rs`:
[code]

`Cargo.toml`:
[code]

I've created a repository with a `Cargo.lock` file to help reproduce this error:
https://github.com/grtlr/rustc-ice-tower-2022-09-15

Please let me know if there is anything that I can do to help solve this. Thank you!

### Meta

`rustc --vers

[2022-09-15 08:22] ac-khaos opened #101845 "About macro custom definition"
I have a require:

let name = "123";
macro_rules! test {
     ($str: expr) => {
         let x = $str;
     };
}

I want output: let x = "123";
but: let x = name;

How do

Lisp: '(def x ;(some-function))

[2022-09-15 08:28] #101845 closed

[2022-09-15 08:34] Timmmm commented on #74895
I'll merge some of yours into mine if that's ok? I think your change is clearer that a) it's Unix-*like* that it applies to so it includes Mac, and b) the `set_readonly()` only applies to the in-memory setting.

[2022-09-15 08:50] conradludgate commented on #80437
This is just syntax. Syntax can be changed in editions, and I have heard people genuinely suggesting we should remove the `*` special behaviour.

Logically, `*` makes sense for box. We use `*` to get to the referee. In the case of `&T`, either we need to copy `T` or we need to immediately `&` it again otherwise this is not valid. However, since we have `Box<T>` as an 'owned pointer', it does make

[2022-09-15 08:53] reez12g commented on #101306
@jyn514
Thank you!!
Sorry for the delay in catching up.

Am I correct that this Issue is about "at some point, make sure to automatically download rustfmt"?
If so, I'm still not sure which file to fix.

I think I somehow understood that this Issue is related to[ this](https://github.com/rust-lang/rust/issues/94829) (i.e., no dependence on python scripts?)

[2022-09-15 09:15] chenyukang commented on #101793
@rustbot claim

[2022-09-15 09:25] Rageking8 commented on #101540
@rustbot claim

[2022-09-15 09:29] estebank commented on #96645
Nominating for @rust-lang/compiler discussion because it seems like a latent bug or regression in incr-comp with nll borrowck.

[2022-09-15 09:42] DzenanJupic commented on #96645
Might be relevant: https://www.reddit.com/r/rust/comments/xercaw/odd_compile_error_which_resolves_with_new_line

[2022-09-15 10:06] estebank commented on #101490
Doing the "correct" thing and emitting an always correct "add `!` here" suggestion will require delaying a parse error until resolution is available, which is quite hard to do. Alternatively, we could customize the check to *tentatively* mention macros when encountering `ident[<parse error>` not dissimilar to [how we treat `ident{<parse error>`](https://play.rust-lang.org/?version=stable&mode=debu

[2022-09-15 10:23] Alex6323 commented on #101844
Same here.
[code]

[2022-09-15 10:33] tspiteri opened #101848 "feature `bigint_helper_methods`: use of signed `carrying_add` is not clear"
Carrying addition is aimed at bigint helpers, but currently `carrying_add` seems to confuse carry with signed-overflow. For unsigned numbers, carry and overflow are pretty much equivalent, but not for signed.

For example, consider 127 + 10 in `i16`. It should result in 137 with no overflows and no carries. However if we break it up into two 8-bit additions, we should first get (127 + 10 carry in

[2022-09-15 10:43] tspiteri commented on #101848
I'm seeing the documentation "This signed function is used only on the highest-ordered data, for which the signed overflow result indicates whether the big integer overflowed or not."

Maybe the methods are working as expected. But I don't find that statement clear enough. I think the meaning is that these methods on signed integers are only meant for the most significant digits ("highest-ordered

[2022-09-15 10:47] WalterSmuts opened #101849 "Addition does not commute in generic_const_exprs"
I tried this code:

[code]

I expected that both `append` and `prepend` would compile because they evaluate to the same expression.

Instead, I realise that addition does not commute and that you can switch which implementation does not compile by switching `N` and `M`.

I realise that [](https://github.com/rust-lang/rust/issues/76560) is still unstable. Just thought I'd add it here for visibility

[2022-09-15 11:04] apiraino commented on #100266
IIUC by the comments, this is caused by a fix to possibly unsound code and updating the code is here the desired behaviour. I'm going to close this but don't hesitate to reopen if in disagreement. thanks!

@rustbot -regression-from-stable-to-stable -I-prioritize

[2022-09-15 11:04] #100266 closed

[2022-09-15 11:13] tspiteri commented on #101848
Closing this as I think this can be discussed elsewhere and it's not clear there is a bug.

[2022-09-15 11:13] #101848 closed

[2022-09-15 11:16] tspiteri commented on #85532
For the signed `carrying_add` and `borrowing_sub` that have been added, I was misled by the names. I expect `carrying_add-> (i, bool)` to return carry as the second tuple field, just like `overflowing_add -> (i, bool)` returns overflow. Maybe a better name would be `overflowing_add_carry`/`overflowing_sub_borrow`, since the returned bool is an overflow flag, not a carry flag.

[2022-09-15 11:19] nmoutschen commented on #101844
Same here, managed to isolate it to `tower` with the `balance` feature. See this repo: https://github.com/nmoutschen/repro-ice/blob/main/Cargo.toml#L9

[code]

[2022-09-15 11:25] apiraino commented on #92109
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392109.20Instrumentation.20.28-Zinstrument-mcount.29.20broken.20due.20to.20.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-09-15 11:56] idanarye commented on #29635
@scottmcm Only if the entire type is made fundamental. If the fundamentalness is limited to one generic parameters, as per my suggestion, then one could implement traits for `Box<T, CustomAllocator>` only in the crate that defines the `T` (or the trait). So you can't just implement things for `Box<i32, CustomAllocator>` because you don't own `i32`'s definition.

[2022-09-15 12:18] Luro02 opened #101852 "internal compiler error: opaque type with non-universal region substs"
### Code

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=pub%20fn%20ice(%0A%20%20%20%20x%3A%20impl%20AsRef%3Cstr%3E%2C%0A)%20-%3E%20impl%20IntoIterator%3CItem%20%3D%20()%3E%20%7B%0A%20%20%20%20vec!%5B%5D.append(%26mut%20ice(x.as_ref()))%3B%0A%0A%20%20%20%20Vec%3A%3Anew()%0A%7D%0A%0Afn%20main()%20%7B%0A%7D%0A)

### Meta

`rustc --version --verbose`:
[cod

[2022-09-15 12:48] jackh726 commented on #101350
Going to nominate this for types team. This seems pretty rough, as it's a pretty simple repro. It would be nice to have someone look at this. Not sure if its implied bounds related or something else.

[2022-09-15 12:50] lcnr commented on #101350
@rustbot claim

issue with user type annotations, going to take a look and try to fix this

[2022-09-15 14:04] jyn514 commented on #101306
That was the motivation for https://github.com/rust-lang/rust/pull/97507, right, we want to move all the logic out of the python script eventually.

Not just at some point - it should be done on every invocation of bootstrap (assuming it hasn't been downloaded yet). Right now we only download it when someone runs x.py fmt.

If you look at the PR I linked, it's currently in format.rs - I think movi

[2022-09-15 14:25] jyn514 commented on #100134
We determine the channel from the `rust.channel` field in config.toml, not the tarball itself. I suppose we could start adding the metadata to `src/channel` or something like that so we can use that as the default rather than unconditionally using `dev` as the default.

[2022-09-15 14:26] jyn514 commented on #100139
I don't think this is the right fix, see https://github.com/rust-lang/rust/issues/100134#issuecomment-1248179340.

[2022-09-15 14:26] #100139 closed

[2022-09-15 14:37] tdelabro opened #101856 "ICE in nightly while compiling tower"
### Code

I don't know what part of my code is responsible for this.

### Meta

`rustc +nightly --version --verbose`:
[code]

### Error output
[code]

###
[code]

[2022-09-15 14:43] fmease commented on #101836
@rustbot label F-negative_impls

[2022-09-15 14:43] fmease commented on #68318
Should manually implementing `!Copy` be allowed (#70849)? I assume it should.

[2022-09-15 16:06] jackh726 commented on #101844
This seems to be getting hit quite a bit. Let's figure out which PR is responsible for this.

[2022-09-15 16:07] lqd commented on #101844
I believe it's https://github.com/rust-lang/rust/commit/a92669638461836f41f54f95e396f9082bb91391 and of these, https://github.com/rust-lang/rust/pull/101433 looks like the most likely.

[2022-09-15 16:07] jackh726 commented on #101856
Duplicate of #101844, I think. But thanks for the report!

[2022-09-15 16:07] #101856 closed

[2022-09-15 16:09] jackh726 commented on #101844
I'm actually just going to mark as critical, since this has been hit by multiple people and beta cut is tomorrow

[2022-09-15 16:14] jackh726 commented on #101844
Gah okay. Well, I guess let's work on getting an MCVE. I'm not sure if I'll have time to investigate a proper fix, but I can at least put up a revert.

[2022-09-15 16:27] hanar3 commented on #101666
Hi @jyn514, if I understood correclty, the key is not guaranteed to implement the `Key` trait on the code snippet I provided, so we can't reliably call `query_crate_is_local()` due to that, which is fine.

To your point on the new `get_default_provider` macro, I tried a few takes, since I'm not very knowledgable on the macros, and haven't found many docs around them, I tried a few takes basing mys

[2022-09-15 16:31] lqd commented on #101852
This regressed in `nightly-2022-03-31`, and out of these:

- #95448 - Dylan-DPC:rollup-wpj5yto, r=Dylan-DPC
- #95455 - RalfJung:miri, r=RalfJung
- #94081 - oli-obk:lazy_tait_take_two, r=nikomatsakis
- #95466 - Dylan-DPC:rollup-g7ddr8y, r=Dylan-DPC
- #95241 - Gankra:cleaned-provenance, r=workingjubilee
- #94963 - lcnr:inherent-impls-std, r=oli-obk,m-ou-se
- #95458 - calebcartwright:sync-rustfmt-sub

[2022-09-15 16:36] lqd commented on #101852
This ICEs on stable since 1.61 so the correct label is `regression-from-stable-to-stable`, right ?

I'll mark it untriaged, so people can correct me.

[2022-09-15 16:49] Nemo157 commented on #56232
I finally got round to writing a little script that manages to run clippy against doctests using the currently available (unstable) options: https://github.com/Nemo157/dotfiles/blob/master/bin/cargo-rustdoc-clippy

I haven't tested it very widely, and it doesn't have the greatest output because you still see all the rustdoc test-runner output, but it works quite well on the few crates I've tried i

[2022-09-15 16:52] c410-f3r opened #101863 "Overflowing "complex" arithmetic operations of known local integers aren't reported"
[code]

Intuitive stuff like `let _ = i32::MAX + 1` is already reported but the above snippet is a trivial example of known local integers that overflow and should be reported as such.

[2022-09-15 17:04] cuviper commented on #45742
@JanBeh

I've updated the top issue text -- hope that helps!

[2022-09-15 17:39] tewi0000 opened #101866 "Incorrect help suggestion on E0790 with parameterized traits"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The suggested code when trying to call associated function on trait without specifying the corresponding `impl` type does not compile, as the type parameter is in the wrong place.

[2022-09-15 18:09] Alxandr commented on #68318
@fmease when is `Copy` ever implemented automatically?

[2022-09-15 18:14] #99228 closed

[2022-09-15 18:14] #99975 closed

[2022-09-15 18:14] rust-highfive opened #101867 "`miri` no longer builds after rust-lang/rust#101410"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#101410, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @dingxiangfei2009, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-09-15 18:24] fmease commented on #68318
@Alxandr Never, I know. This is just a corner case lacking practical relevance I think. I am just asking here to be able to decide whether the issue I linked is a diagnostics problem only or if the compiler is actually too strict. There should be no harm in implementing `!Copy` as a signal to library users.

[2022-09-15 18:32] Rageking8 commented on #101866
@rustbot label +D-invalid-suggestion

[2022-09-15 19:16] fmease commented on #101836
My reasoning: Since `struct X; impl !Copy for X {}` is already allowed, your code failing seems to be caused by an oversight in the compiler.

[2022-09-15 20:10] asquared31415 commented on #101849
Here's an example that very clearly shows the shortcoming and the error is much more obvious what's going wrong:
[code]
[(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3bb7b9c2fb8d052ce18a6d574202528b)

Errors with (nightly 2022-09-14)
[code]

[2022-09-15 20:10] asquared31415 commented on #101849
@rustbot label +A-const-generics

[2022-09-15 20:34] iajoiner opened #101869 "internal compiler error: no errors encountered even though `delay_span_bug` issued"
### Code

One GitHub Action in Apache Arrow Rust involving docs has been failing since about 23 hours ago.
[code]

### Meta

I do not have access to the exact configs but this is what we have now
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-15 20:43] djensen1997 opened #101870 ""TRUE" does not parse into boolean"
# Summary of the issue

When taking input into my program, I ran into a situation where the user would pass "TRUE" into a field that I was attempting to use the .parse() method into a boolean:
[code]

when I split this specific line of code into a fresh rust project:

[code]
I got the output:
```thread 'main' panicked at 'NOPE: ParseBoolError', src/main.rs:20:34```

## What I expect to happen

I w

[2022-09-15 20:54] raldone01 opened #101871 "Tracking Issue for comparing `TypeId` in const items"
Feature gate: `#![feature(const_cmp_type_id)]`

This is a tracking issue for comparing `TypeId` in const items.

### Public API

[code]

### Steps / History

- [ ] Implementation: #101698
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-09-15 20:57] raldone01 commented on #92391
@fee1-dead Now that #101810 has been merged you should consider adding `impl const PartialEq for Ordering {}` to the tracking issue. Maybe also add it to `Steps / History -> Implementation`.

[2022-09-15 21:17] mikebenfield opened #101872 "Performance regression with niche optimization"
After PR #94075 for more niche optimizations was merged, there were [some performance regressions](https://perf.rust-lang.org/compare.html?start=c2804e6ec2c29a5c7368600ea173b890e2655c3d&end=512bd84f51ba6963c84506f408840e5341abe499&stat=instructions:u).

Some performance regressions are possibly just due to the extra arithmetic and branch or cmov required when getting a discriminant out of a tag. B

[2022-09-15 21:19] Nilstrieb commented on #101844
I've minimized it down to a bunch of 70 freestanding lines of complex trait impls. I don't have time to minimize it further, so if anyone wants to look into it more, feel free :)
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f657596f7a4b63350356399bd9ec40da

[2022-09-15 21:22] CollinEMac commented on #101870
It looks like Rust properly parses "true" and "false" in lowercase to a boolean but not the capitalized "TRUE" or "FALSE".

This is documented here:
https://doc.rust-lang.org/std/primitive.bool.html#examples-16

[2022-09-15 21:39] yanchen4791 commented on #99824
@rustbot claim

[2022-09-15 22:03] FedericoStra opened #101874 "Improve styling of <span class="stab"> tags in the documentation's main body"
# The Problem

If one tries to put feature labels in the main body of the documentation (what goes inside `<div class="docblock">`) they get styled differently from the one automatically inserted by `rustdoc` running with `#![feature(doc_auto_cfg)]`. In particular the layout is bad and can cause the appearance of scrollbars on the right hand side of each involved paragraph.

Here is an example pic

[2022-09-15 22:12] lijiaqigreat commented on #97601
This seems very restrictive on the number of elements at the same time. Would be nice to have a version that supports Vec or Iterator of some sort. We don't have to support the general form now, but should think about how to design the API that adding general form is easy.

[2022-09-15 22:13] iajoiner commented on #101869
Looks like this is identical to https://github.com/rust-lang/rust/issues/101844

[2022-09-15 23:30] Firstyear commented on #74895
Sounds great to me :)

[2022-09-15 23:48] #75899 closed

[2022-09-16 00:09] scottmcm commented on #96284
That's assuming it would be stored as [`log_2(align)`](https://github.com/rust-lang/rust/blob/cf9ed0dd5836201843d28bbad50abfbe1913af2a/library/core/src/mem/valid_align.rs#L53-L55), but that's not necessary.  In fact, the type that `Layout` uses internally today stores it [as the power of two](https://github.com/rust-lang/rust/blob/cf9ed0dd5836201843d28bbad50abfbe1913af2a/library/core/src/mem/valid

[2022-09-16 00:18] federicomenaquintero opened #101876 "clippy missed some parentheses?"
Rust 1.63.0:

Clippy figured out that I'm doing `foo.abs() as u8` and suggested `unsigned_abs()` instead.  But it seems to have missed the parentheses in the expression of which I was computing the `abs()`:

[code]
I.e. the "replace with" should have parentheses.

[2022-09-16 00:38] CraftSpider commented on #32838
I'd also chime in that there was, fairly recently, discussion on zulip about a storages proposal. Stabilizing the current API would likely render implementing such a proposal in a backwards-compatible way impossible. I personally would like to at least have time for such a proposal to be made and decided on before stabilizing allocators as-is

[2022-09-16 01:01] jacobmealey commented on #93440
Hello, I did some digging into this issue and I noticed some weird behavior. If you reproduce the steps outlined you get the same error (which is good) but if you change the linker path to be a relative path pointing to `ld` or `lld` it does not complain about finding the linker. It fails in the same way if you tell it to link with `gcc` as well.

[2022-09-16 01:12] frank-king commented on #101353
I do think this is confusing, especially for some beginners. Here are some discussions about the slice type with my friends:

After this discussion, I think the docs of slices are kind of confusing. And would like to open an issue about the docs. Then I reached this related issue.

I tried my best to explain the difference between `[T]` and `&[T]` or `&mut [T]` to my friend, but since they use the

[2022-09-16 01:26] frank-king commented on #101353
I think the most confusing point may be: `[T]` as an unsized type, its *size* is unknown at the compile-time; however, `&[T]` and `&mut [T]` as a fat pointer, it has a fixed *length*. Here the unknown size v.s. the fixed length looks contradictory, I think.

[2022-09-16 03:04] teor2345 commented on #101844
Same here, also due to `tonic`:
[code]

[2022-09-16 03:57] chenyukang commented on #101876
Fixed in latest version:

[code]

[2022-09-16 04:52] Threadzless opened #101879 "Generic unsafe traits require bounding that already exists"
I tried this code:

[code]

I expected this to compile, but cargo emits error E0277:

[code]

Since the compiler is telling me to add a bound that is already present, I assume at the very least this is not the correct error message for my code.

What I find to be notable is that this only happens under these conditions:
- Passing a generic reference of an unsafe trait (`raw_window_handle::HasRawWi

[2022-09-16 05:06] Threadzless commented on #101879
here are my cargo dependencies, just in case its relevant:
[code]

[2022-09-16 05:12] Kaligule opened #101880 "Better error messages: Tell programmer about forgotten `let`"
As a python programmer, forgetting a `let` in an assignment to a variable that didn't exist before is an easy mistake to make.

## example code

[code]
([link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=88813b174b69cde519fe84abf6cedfcb))

Rust sees two uses of an undefined variable here (E0425 twice):
[code]
[code]

## What I would hope for

While the sec

[2022-09-16 05:49] Rageking8 opened #101883 "Suggest missing `.` for typo in ranges"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0300f4461f842bd97174008ab25938a4)

[code]

The current output is:

[code]

Ideally the output should suggest adding a `.` due to the typo. Thanks.

[2022-09-16 05:54] Rageking8 commented on #101880
This is the right place, however you should use the "diagnostic" template when creating issues like this. Thanks for the issue though.

@rustbot label +T-compiler +A-diagnostics

[2022-09-16 05:58] Rageking8 commented on #101872
@rustbot label +T-compiler +regression-untriaged

[2022-09-16 06:16] DzenanJupic commented on #96645
I found a way to reliably reproduce the error locally (win 10). It, unfortunately, does not work in WSL or docker 😐.
Just published a repository, with the code I used to reproduce it: https://github.com/DzenanJupic/96645-reproduction

It's more or less a fuzzer, that generates random code from all the examples that were posted in this thread. It also sets up the exact same toolchain situation as o

[2022-09-16 06:45] w41ter opened #101884 "Incorrect generic parameter parsing when using const type_name."
I tried this code:

[code]

I expected to see this happen: both functions should compile and pass.

Instead, this happened: function `do_something_depends_on_name_1` cannot be compiled, and the error message given by the compiler is:

[code]

### Meta

Build using the Nightly version: 1.65.0-nightly (2022-09-15 cf9ed0dd5836201843d2). See: https://play.rust-lang.org/?version=nightly&mode=debug&edit

[2022-09-16 07:01] DzenanJupic commented on #96645
Cannot reproduce it with the latest stable/nightly on my machine

[2022-09-16 07:49] makemeunsee opened #101888 "compiler error - matchit 0.5.0"
### Code

None, the error happened while compiling a dependency.

### Meta

[code]
and
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-16 07:55] Nilstrieb commented on #101870
It's not clearly documented what exactly is and is not supposed to be parsed, but I think that the current behaviour of only parsing `true` and `false` is the best solution here, and changing the behaviour of functions like this is generally a breaking change.

For comparison, here's what a few other languages do:
- [Java](https://docs.oracle.com/javase/7/docs/api/java/lang/Boolean.html#parseBoole

[2022-09-16 07:56] Nilstrieb commented on #101888
Thank you for your report! This is a duplicate of #101844

[2022-09-16 08:16] oli-obk commented on #101852
This went from an error to an ICE in 1.61 yes

[2022-09-16 08:43] chenyukang commented on #101880
@rustbot claim

[2022-09-16 09:42] GuillaumeGomez opened #101891 "Add GUI test for "notable trait" item"
The test is linked to https://github.com/rust-lang/rust/pull/101494.

[2022-09-16 09:47] lqd commented on #96645
I feel there are multiple issues at play here, due to the multiple lifetime resolution on AST & incremental compilation issues, whose introduction and fixes spanned a release.

Some of these examples look similar to #98890, which matches that timeline:
- an incremental compilation bug introduced in https://github.com/rust-lang/rust/pull/91557 a few days before this issue and comments
- present whe

[2022-09-16 09:48] yehuthi opened #101892 "rustc doesn't seem to acknowledge llvm-args's dwarf-version flag"
I'm trying to get DWARF version 3 in my binary with `rustc main.rs -o ./out -g -Cllvm-args="--dwarf-version=3"` but it doesn't seem to work:

[code]

For context: the reason I want to do this is because I want to use the [Coz profiler](https://github.com/plasma-umass/coz) with Rust and it seemingly doesn't like DWARF version 5 which Rust generates (its dying words are: `unknown compilation unit ve

[2022-09-16 09:57] #100800 closed

[2022-09-16 10:17] lukas-code commented on #101884
The error is correct. You cannot use the generic arguments of functions on [items](https://doc.rust-lang.org/reference/items.html), including constants, defined in functions. This is because items in functions work exactly like "global" items outside of functions, except they can only be accessed from the function.

[code]
[code]

In your example you could replace the constant with a `let` binding

[2022-09-16 10:53] Amanieu commented on #93333
https://github.com/rust-lang/reference/pull/1270

[2022-09-16 11:17] oli-obk opened #101896 "The number of arguments on Builder::bind_pattern are getting out of hand"
We should clean up [bind_pattern](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir_build/build/struct.Builder.html#method.bind_pattern) and other methods on the same type. I don't know yet how, we should first investigate the call sites and see if there are common patterns that can be merged:

* two option args that are always both Some or both None
* Maybe add an argument struct that def

[2022-09-16 11:42] w41ter commented on #101884
@lukas-code Oh I see, thanks for your explanation!

[2022-09-16 11:42] #101884 closed

[2022-09-16 11:54] veber-alex commented on #101879
I believe the problem here is that your crate uses version 0.3.0 of `raw-window-handle` while `wgpu` uses 0.4.0.
The compiler treats those as different crates so the bound wgpu has is really not satisfied with the constraint on your type.

It would be nice if the compiler could detect that something weird is going on and give a better error message.

[2022-09-16 12:15] Urgau commented on #101892
I believe setting the dwarf version with `-Cllvm-args` is not supported because `rustc` always sets the version in the LLVM-IR.

However there is a nightly flag [`-Zdwarf-version`](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/dwarf-version.html) to set the dward version.
You should be able to set version 3 like this: `-Zdwarf-version=3`.

[2022-09-16 12:39] toiglak opened #101897 "TAIT: Compiler struggles to infer the type"
I tried this code:

[code]

I got the exact errors visible in the comments.
I expected this to compile, but it didn't.

I tried making the following changes as a workaround:

[code]

But I got another error visible in the comment.

As a last resort, I tried adding a parameter to `Temp<'a, T>`, but the resulting error doesn't even make sense.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-09-16 12:40] Rageking8 commented on #101712
@rustbot claim

[2022-09-16 13:02] LegionMammal978 opened #101899 "#95295 causes unsoundness in multiple existing crates"
I was recently looking through the draft release notes when I noticed #95295. While it makes sense for `Layout::from_size_align()` to restrict allocations to `isize::MAX` bytes, this restriction was also added to `Layout::from_size_align_unchecked()`, which is a public and widely used API. Some crates were sound under the previous overflow property, usually panicking or returning an error after ch

[2022-09-16 13:26] FedericoStra commented on #101874
This issue should probably have labels `A-rustdoc-ui` and `T-rustdoc`.

[2022-09-16 13:34] xxchan commented on #101750
`nightly-2022-05-24` also works (a version before #97346 which is reverted by #99860

[2022-09-16 14:20] oli-obk commented on #99685
can you check whether https://github.com/rust-lang/rust/pull/99806 does not have the same issue?

There's a try build that you can download at 2a2d919ccd8dc0e7f8c61e9e8d07f865fb05e842

[2022-09-16 14:24] oli-obk commented on #101750
TAIT and RPIT were made to work the same in the revert, thus TAIT was changed from before #97346 instead of just reverting to the old behaviour.

I will need to look at some typeck logs to see what's goin on here

[2022-09-16 14:26] oli-obk opened #101903 "TAIT fails where RPIT works"
I tried this code:

[code]

I expected to see this happen: it compiles, just like

[code]

Instead, this happened:

[code]

[2022-09-16 14:37] pnkfelix commented on #74705
At this point I don't think this tracking issue is serving much purpose. My understanding is that LLVM 15 has removed support for the old pass manager.

I do see that the `-Z` flag is still around. I don't know if that's to accommodate users who are linking to an older version of LLVM. (I also don't know if such a scenario is tested in our CI or supported at any level.)

I'm going to close this is

[2022-09-16 14:37] #74705 closed

[2022-09-16 14:52] lcnr commented on #74925
discussed in a compiler meeting: https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-09-16.20JIT.20backlog.20b'za/near/299173821

closing as the information provided here is also part of the const-eval skill tree where it's probably more discoverable: https://rust-lang.github.io/const-eval/

[2022-09-16 14:52] #74925 closed

[2022-09-16 15:26] pietroalbini commented on #100542
Fix backported.

[2022-09-16 15:26] #100542 closed

[2022-09-16 15:26] pietroalbini commented on #100541
Fix backported.

[2022-09-16 15:26] #100541 closed

[2022-09-16 15:27] #100469 closed

[2022-09-16 15:28] nox commented on #82775
I think `assert_matches` should have a `#[deny(unused_variables)]` on the success arm.

I found this at work:

[code]

This emitted two warnings about `expected_metadata` being unused, but nobody noticed and the commit landed. I fixed the issue (by using `assert_eq`), but it turns out the test don't actually pass hah.

If there was `#[deny(unused_variables)]`, it would not compile at all and the p

[2022-09-16 15:29] GOVYANSONG opened #101905 "compiler error: parenthetical notation is only stable when used with Fn-family"
this error is produced by https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/astconv/errors.rs as hinted by the compiler. I am trying to mimic defer! macro implementation with async functions (see defer-lite at https://github.com/rodrigocfd/defer-lite). I have following code:
[code]
I wonder if there is a way to either somehow bypass this compiler error or implement what i wan

[2022-09-16 15:41] Urgau commented on #101892
This is probably because the one how are not at version 3 comes from the pre-compiled standard libraries. Those are not affected by your `-Zdwarf-version=3` and are compiled with the default settings.

I don't think it's a incorrect behavior because it's doing what you told him to do. Which is the compile the your crate and it's dependencies (if they are not already compiled, like for core, alloc,

[2022-09-16 15:51] GOVYANSONG commented on #101905
I tried to extend trait FnOnce but still received the same compiler error:

#[async_trait]
trait AsyncFnOnce<Args> : FnOnce(Args) {
    async fn call(mut self, args: Args) -> Self::Output;
}

[2022-09-16 16:04] vext01 opened #101906 "Can't make an extern "C" definition of `main()`."
After upgrading my rust toolchain, I am now unable to extern declare `main` in a library crate.

[code]

Gives:
[code]

I'm not sure if this is a bug, or a user error. Should this work?

Why do this? I need the address of `main()` in a library crate. Is there a way? (other than using `dlsym()`).

[2022-09-16 16:23] jachris opened #101907 "Merge commits break LLVM CI download"
While PRs are not allowed to have merge commits, they can still be useful locally (or for not rewriting history for longer-running branches).

However, they break the commit detection logic for downloading CI artifacts.

### Steps to Reproduce

1. `git checkout <old-commit>`
2. `git merge --no-ff master`
3. `./x.py build library/std`

### Expected Result

Builds fine.

### Actual Result

[code]

[2022-09-16 16:29] Mark-Simulacrum commented on #101907
Can you say more about their usefulness? What are you merging in? We can maybe support merging non-bors commits, though it brings some complexity (e.g., which parent do we follow for the "nearest" bors commit, and what does nearest mean at that point), so in general I would be inclined to say this isn't supported and you should build locally.

[2022-09-16 16:40] jachris commented on #101907
I don't think it's a must-have. I'm personally fine with building locally or rebasing. But this would allow longer-running branches to use the CI artifacts without rewriting history due to rebasing. Also, the current behavior can be a little bit confusing if one is not aware of this issue.

[2022-09-16 16:46] #101797 closed

[2022-09-16 17:01] bossmc commented on #55352
There are two "markings" at play here:

1. The compiler marking addresses with debug information (mainly intended for consumption by `gdb`/`lldb`/etc.
2. KCov marking lines of source code as hit/unhit

Which are you asking about?  Are you exploring if Rustc can detect the unhittable landing pads and not emit debug information for them?  Or if kcov can tell if a given debug info line corresponds to

[2022-09-16 17:09] astoycos commented on #100219
Just saw this or something very similar with version: `rustc 1.65.0-nightly (cf9ed0dd5 2022-09-15) running on x86_64-unknown-linux-gnu`

See https://github.com/redhat-et/bpfd/actions/runs/3069412722/jobs/4958034146#step:11:106

[2022-09-16 18:09] jonhoo opened #101913 "Backtraces do not work for binaries loaded through ld.so"
When a Rust binary that is executed through ld.so — the [Linux dynamic linker](https://unix.stackexchange.com/questions/400621/what-is-lib64-ld-linux-x86-64-so-2-and-why-can-it-be-used-to-execute-file) — triggers a panic, the backtraces are useless. I've included a discussion of why executing through ld.so is valuable below, but first, to reproduce, build a simple binary that panics on execution:

[2022-09-16 18:11] SimonSapin commented on #82775
I think the ideal would be for `assert_matches!` to warn if it is given any irrefutable pattern

[2022-09-16 18:51] thomcc commented on #101906
Hm, while I don't think we guarantee this works, I'd expect this to, and think it's surprising it does not. Can you give more information about the versions of Rust you're using?

[2022-09-16 18:57] wwylele commented on #101906
I remember seeing something similar in my old project and it never worked in the first place. What I did was to conditionally remove `main` for `test` https://github.com/wwylele/chocopy-rs/blob/master/chocopy-rs-std/src/lib.rs#L215

[2022-09-16 18:58] thomcc commented on #101906
Hm, in that case you're much better off using `dlsym` to get it -- which should work pretty reliably (although on macOS if you're dynamically linked it may fail due to the 2-level namespace).

[2022-09-16 19:00] Jake-Shadle commented on #100219
We are experiencing the same failure as @astoycos within `tower`.

[2022-09-16 19:43] Mitiko commented on #27336
What's the difference between `T::` and `<T>::`?
Can somebody explain to me why this hack actually works?

[2022-09-16 19:44] #101844 closed

[2022-09-16 20:31] estebank commented on #101883
We might also want to handle the opposite case: `let _: f64 = 0..10;`

[2022-09-16 20:36] DonielMoins opened #101916 "Compiler panics while compiling `cc`."
Sadly I could not reproduce this error. But a compiler bug is still a bug. If I manage to reproduce it, I'll make sure to update this thread.

### Code

Errors occured during compilation of cc and backtrace.

### Meta

(I couldn't because I tried to compile again, and the compiler did not panic...)

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace<

[2022-09-16 20:37] oli-obk commented on #101899
cc @rust-lang/libs-api

[2022-09-16 20:42] Mark-Simulacrum commented on #101899
This will hit stable in ~5-6 days (next Thursday), so would be great to get some eyes on quickly. If possible, I think ideally we'd back it out of the upcoming release (cc @pietroalbini).

[2022-09-16 20:57] afitzek opened #101917 "Compiler panic"
I don't really have any idea what is going on here, just reporting the bug as the output suggested.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-16 21:00] thomcc commented on #101899
FWIW, even though one of my crates was impacted, I think this is plausibly fine? I at least think that it was known to be an issue in advance. (Certainly the discussion in https://github.com/rust-lang/rust/pull/95295 seems that way).

Concretely, the amount of unsoundness this produces is probably less than the amount of unsoundness that the change allows us to avoid.

[2022-09-16 21:01] jsha opened #101919 "rustdoc: display problem for tooltip on error index page"
Steps to reproduce (Chrome on Linux):

1. Visit https://doc.rust-lang.org/nightly/error_codes/E0283.html
2. Hover the (i) icon.

Results:

![image](https://user-images.githubusercontent.com/220205/190733995-54e966f3-d62e-48df-8e49-3f1601651d4d.png)

There is a little spur of black hanging below the tooltip.

cc @GuillaumeGomez

[2022-09-16 21:02] jonas-schievink opened #101920 "Suggestion for using function call instead of method call syntax incorrectly marked machine applicable"
[code]

Current output:
[code]

However, the "help: use associated function syntax instead: `Box::<{integer}>::into_raw`" suggestion is internally marked as "machine applicable", even though it contains the `{integer}` placeholder. Running `cargo fix --broken-code` on this code, or using rust-analyzer's check-on-save feature and applying the quickfix thus results in invalid code:

[code]

[2022-09-16 21:31] LegionMammal978 commented on #101899
I looked through the issue; the change seems to be mainly to make the job of `Layout` consumers such as `alloc()` somewhat simpler. But are there any underlying `alloc()` implementations in practice that can successfully return more than `isize::MAX` bytes? Certainly, it would be possible to create one on top of, e.g., `mmap()` on Linux, but libcs generally refrain from actually allowing it, due t

[2022-09-16 21:57] cuviper commented on #74705
LLVM 13 is now our minimum, and we default to newPM everywhere -- *except* on s390x due to #89609, where that was only resolved in LLVM 14 since #94764. If it weren't for that, I'd say go ahead and remove the option, along with all of the code supporting oldPM.

I have a local branch for updating the minimum to LLVM 14, and while I don't think we're ready for that quite yet, I can add this removal

[2022-09-16 22:40] SoniEx2 commented on #50213
we believe this can be closed now

[2022-09-16 22:51] tbu- commented on #93610
True, I overlooked it.

[2022-09-16 22:59] #97463 closed

[2022-09-16 23:19] mejrs commented on #101917
This compiles for me (both on current and 1.61, on Windows).

Can you try
- `cargo clean` and try again
- upgrade to the latest stable rust and try again (perhaps it has already been fixed)

[2022-09-16 23:21] iloveabm3 commented on #101917
cargo clean

[2022-09-16 23:42] cuviper commented on #74705
Here's a preview `git diff --stat`, not bad! :slightly_smiling_face:

[code]

[2022-09-17 00:05] Threadzless commented on #101879
@veber-alex that was indeed the issue, and changing it got rid of the error.

Hopefully a more useful error message can be added to future versions of rust, as I would never have figured this out on my own

[2022-09-17 00:06] #101879 closed

[2022-09-17 01:39] CAD97 opened #101925 "Inferred closure argument lifetime is too specific; we should suggest annotating the type to use the more general lifetime"
... also for some reason the diagnostic is getting printed multiple times.

Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2e75228ef27080e0ed5fe1c8f760819c)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-09-17 01:54] juanky201271 commented on #100219
Me too, since yesterday I can't build my rust library with the nightly version, some idea....?

[2022-09-17 01:55] compiler-errors commented on #100219
@Jake-Shadle @juanky201271 Please file separate bugs for this, "Broken MIR" type errors are a wide class and this is probably due to a different root cause.

[2022-09-17 02:01] tmandry opened #101926 "assertion failure when building rustdoc json output for std"
Commit: 1ec9b66a12eca9a415ef083235985ab9324d5edc (beta branch)

[code]

<details>
<summary>Backtrace</summary>

[code]

</details>

[2022-09-17 02:39] SKumarMetro opened #101927 "the compiler unexpectedly panicked"
[code]

[2022-09-17 02:49] SKumarMetro commented on #101927
export RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off"

These are the flags used, when I remove -Zprofile then don't see the compier panic.

[2022-09-17 03:51] TaKO8Ki commented on #101927
Could you please share the code to reproduce this ICE?

[2022-09-17 04:59] saethlin opened #101930 "-Zbuild-std with cargo-fuzz causes: 'called `Option::unwrap()` on a `None` value', compiler/rustc_monomorphize/src/collector.rs"
### Code
[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-09-17 05:18] MomoLangenstein opened #101932 "`StorageLive already live` in const `let else` regression"
I tried this code:

[code]

I expected to see this happen: The code should compile and print "42 2".

Instead, this happened: The evaluation of the constant `B` fails with `StorageLive on a local that was already live`.

This code last compiled with `nightly-2022-09-15-x86_64-unknown-linux-gnu (750bd1a7f 2022-09-14)` and first failed with `nightly-2022-09-16-x86_64-unknown-linux-gnu (cf9ed0dd5 202

[2022-09-17 05:25] BatmanAoD commented on #101469
For what it's worth, that phrasing seems very apt to me. I don't believe the C++ standard makes any attempt to define "forced unwinding" or characterize its behavior, so it's unsurprising that the behavior isn't consistent.

@nbdd0121 Do you still feel like you know how to proceed here?

[2022-09-17 06:32] est31 commented on #101932
Dupe of #101867 , fixed by #101894

[2022-09-17 06:33] est31 commented on #101932
There is also some discussion in: https://github.com/rust-lang/rust/pull/101410#issuecomment-1248689621

[2022-09-17 06:59] afitzek commented on #101917
`cargo clean` worked! Thank you very much! :)

[2022-09-17 06:59] #101917 closed

[2022-09-17 08:44] GuillaumeGomez commented on #101919
Thanks! I'll take a look tomorrow.

[2022-09-17 09:04] matthiaskrgr commented on #101927
Duplicate of https://github.com/rust-lang/rust/issues/101844 , should be fixed with todays nightly

[2022-09-17 09:04] #101927 closed

[2022-09-17 09:12] nox commented on #82775
There is no existing lint for irrefutable patterns in `match` expressions, as they are expected there. What's not expected is the unreachable pattern for the failing path, and that indeed already emits a warning currently.

I still think this should emit an error. I understand that `unused_variables` is a warning in the general case, as you may have forgotten to use the variable, but there is no w

[2022-09-17 09:46] wonchulee commented on #100717
I didn't have a lot of free time to work these days, so I couldn't finish `builtin_macros` all, and I uploaded what I've been working on a PR (https://github.com/rust-lang/rust/pull/100780). I don't want to obstruct the development of this change, so if there is someone who will continue the work, please take it over but I will continue to update from time to time until someone takes it.

[2022-09-17 12:09] makemeunsee commented on #101888
shall I close it myself as duplicate?

[2022-09-17 13:19] #101888 closed

[2022-09-17 13:37] #87335 closed

[2022-09-17 13:37] #99205 closed

[2022-09-17 13:37] #101755 closed

[2022-09-17 14:30] yshui opened #101940 "ICE with GAT and TAIT: cannot relate region: LUB(ReEarlyBound(0, 'a), ReErased)"
### Code

[code]

### Meta
********************************************************************************
Regression in 2287107588d92889d282e6cd3c1ca5df34cd34a5 (#98559)
******************************************************************************

searched nightlies: from nightly-2022-09-09 to nightly-2022-09-15
regressed nightly: nightly-2022-09-11
searched commit range: https://github.com/ru

[2022-09-17 14:38] yshui commented on #101940
Before the ICE regression, the error message was.. pretty weird:

[code]

[2022-09-17 14:42] yshui commented on #101940
Ok, I think this is duplicate of #100267

[2022-09-17 14:43] yshui commented on #100267
This just upgraded from bad diagnostics to ICE on latest nightly.

[2022-09-17 17:22] Kolsky commented on #99923
It is a documented behaviour since stabilization of std::mem::transmute. It clearly says:

[2022-09-17 20:22] Alexendoo opened #101948 "Margin drift in large `these functions exist but are inaccessible` diagnostic"
In clippy if you add `check()` somewhere in `clippy_lints` where the function isn't found (e.g. in `clippy_lints/src/lib.rs`) the note will tell you about all the inaccessible functions called `check` of which there are many. That's handy, but there is a rather large margin applied to each function snippet. Starting in the ~middle there's a right to left 'sweep' of a veritcal bar in the multiline

[2022-09-17 20:25] est31 commented on #101932
@rustbot label F-let-else

[2022-09-17 20:51] nikic commented on #74705
I think it would be fine to drop legacy PM support without dropping LLVM 13 support. That just means that the particular combination of s390x + LLVM 13 may have some issues -- but I don't think we're obligated to care given that this is both a tier 2 architecture *and* an old LLVM version. I'd even expect that that particular intersection (s390x + llvm13 + nightly rustc) has exactly zero users.

[2022-09-17 21:01] TheButlah commented on #101707
I no longer get an ICE, instead I get a bunch of errors about missing types, presumably because `once_cell` was not passed the `no_std` flag

[2022-09-17 21:01] #101707 closed

[2022-09-17 21:35] kyoheiu opened #101950 "std::path::Path::canonicalize convert ``"
I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-09-17 21:37] #101950 closed

[2022-09-17 21:39] geeklint opened #101951 "E0477 triggered with current nightly"
I discovered that some code I had previously been using no longer compiles with the current nightly.  It gives E0477 which, as other issues have pointed out, is incorrectly described as "no longer emitted by the compiler".

### Code

[Link to Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4978275d01d9462b7fd8d5487350ccbb)

I expected to see this happen: *The c

[2022-09-17 22:04] #101747 closed

[2022-09-17 23:05] steffahn commented on #101951
The error message behaves funny, too, with the ˋtype must outlive the anonymous lifetime as define hereˋ part. If you change the ˋimplˋ to use ˋadd_building<'s>(&'s self, ...)ˋ then it points to the next anonymous lifetime in the signature. If you change it to also use explitic ˋ&'t mut Pretty...ˋ in the second argument it points to the ˋ'_ˋ. Once you've eliminated all of the elided lifetimes, it

[2022-09-17 23:22] QuineDot opened #101956 "Don't suggest feature-gated paths on stable"
This might well be a duplicate, but I couldn't find an existing bug.  I ran into this with `c_int`.

[Given the following program:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ceccee586bd86293bf6fee500ebdc17d)
[code]
The output (with no dependencies) is
[code]

Ideally the output should look like:
[code]
[as `core::ffi::c_int` is unstable:](https://play.rust-lang.org/?v

[2022-09-17 23:29] schteve opened #101957 "Unable to allow clippy::similar_names"
I am unable to disable (allow) the `clippy::similar_names` lint the way I expect. Usually I would place `#[allow(clippy::x)]` before the offending line, and the lint error would go away. In this case the allow seems to have no effect.

For example, this code shows the lint error being given despite being allowed on the `testb` line ([playground](https://play.rust-lang.org/?version=stable&mode=debu

[2022-09-18 00:12] hanar3 commented on #101666
Hi @jyn514,
After some digging, I couldn't find a way to reliably add `local` / `external` to the message based on the key - so I ended up just improving the message without it specifying which crate the error is referring to.

[2022-09-18 00:45] #100364 closed

[2022-09-18 00:57] cr1901 commented on #99685
@oli-obk I wasn't sure how to download the try build, so I checked out the PR, compiled it locally, and then compared it to a recent commit (48de123) I _also_ compiled:

[code]

Short version, _assuming that commit I checked is close enough_, looks like #99806 does _not_ have the same issue and is good to go :).

## `AT2XT`
### `oli-fix`
[code]

### 48de123
[code]

## `msp430-size`

### `oli-fix`

[2022-09-18 01:23] jyn514 commented on #101691
Reverted in https://github.com/rust-lang/rust/pull/101942

[2022-09-18 01:26] jyn514 opened #101961 "Rename sysroot directories to be more clear"
These are effectively user facing because they're used for `rustup link`. So far this has worked reasonably well, but after https://github.com/rust-lang/rust/issues/101691 `stage0-sysroot` will become user facing as well, at which point it will become extremely confusing that there's both that and `stage0`.

I suggest renaming `stage0` to `bootstrap-sysroot`, keeping stage0-sysroot as is and renam

[2022-09-18 01:27] matthiaskrgr opened #101962 "ICE: broken mir: wrapping_mul() with copy bound"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-18 04:03] matthiaskrgr opened #101964 "ICE: type mismatch when copying"
### Code

[code]
EDIT:
reduced:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-18 04:09] matthiaskrgr commented on #101964
There is a similar file in the rustc repo `src/test/ui/mir/ssa-analysis-regression-50041.rs	` which does not crash:
[code]

[2022-09-18 04:37] faithanalog opened #101965 "rustc segfaults when targeting AVR and compiling core in debug mode"
code to reproduce at https://github.com/faithanalog/rustc-avr-bug-repro

searched nightlies: from nightly-2022-06-05 to nightly-2022-09-15
regressed nightly: nightly-2022-06-27
searched commit range: https://github.com/rust-lang/rust/compare/20a6f3a8a8ce5ae18d06b12cd7904bc5294ca753...c80c4b8fdcf3da69cd483e2fec172c9b1f95842c
regressed commit: https://github.com/rust-lang/rust/commit/788ddedb0d88e40

[2022-09-18 06:01] #101919 closed

[2022-09-18 06:58] Rua commented on #86555
I'm eagerly awaiting stabilisation of this feature! Is there anything that still needs to be done?

[2022-09-18 07:28] inquisitivecrystal commented on #101951
CC @lcnr as the author of the relevant PR.

[2022-09-18 07:30] zsfVishnu commented on #101306
Is this picked up or shall i work on it? @jyn514

[2022-09-18 07:36] jmillikin commented on #85410
I'm also interested in seeing this feature stabilized, and made an attempt at moving the API into `SocketAddrExt`: https://github.com/rust-lang/rust/pull/101967

[2022-09-18 07:39] jmillikin commented on #96256
FYI: The same modules are also being touched as part of the work on supporting abstract socket addresses -- see https://github.com/rust-lang/rust/issues/85410 and https://github.com/rust-lang/rust/pull/101967 for details.

I tried to keep the code intact (merely relocated), so hopefully there won't be any major conflicts.

[2022-09-18 07:57] arduano opened #101968 "Fn trait doesn't allow impl returns (impl Fn() -> impl Trait), which is inconsistent with all other traits"
I've been working on a functional interface for a library which relies on code generation, so I have functions returning functions, however I've hit a roadblock with functions returning closures which return traits (without resorting to dynamic dispatch).

The compiler doesn't allow `impl Fn() -> impl Trait` while allowing `impl Trait<T = impl Trait>` which seems inconsistent.

Here is my minimal

[2022-09-18 08:47] crlf0710 opened #101970 "Inference failure with `type_changing_struct_update`"
In the crater run #98456, `fajita` crate regression exhibited inference failure. Here's a minimal repro:
// when feature gate is enabled below, the compilation fails.
[code]

[2022-09-18 08:48] crlf0710 commented on #101970
Just creating an issue for easier tracking.

cc #86555

[2022-09-18 09:05] segeljakt opened #101971 "ICE when compiling `console-subscriber`"
### Code

Create a new project and add this dependency: `console-subscriber = "0.1.8"`

### Meta

The bug only happens on nightly for me.

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-09-18 09:31] mati865 commented on #74705
Also this is an unstable flag that is unusable on stable (at least without hacks) and vendors typically only provide stable toolchains.

[2022-09-18 09:31] QuineDot opened #101972 "Reference to trivial block coerces more than reference to a value"
[I tried this code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f31733ae963310bcb1a6e5871d2a03b5)

[code]

I expected to see this happen: The same behavior from all three calls to `foo`.  Based on my reading of [RFC 401](https://rust-lang.github.io/rfcs/0401-coercions.html) and [the reference,](https://doc.rust-lang.org/reference/type-coercions.html) all three should c

[2022-09-18 09:42] crlf0710 commented on #86555
Yes, i created #101970 to track it

[2022-09-18 09:49] Amanieu opened #101973 "Incorrect code generated by MIR optimization on nightly"
[code]

This code normally prints `0xfffffffff0000000` but when compiled with `O -C debug-assertions=on -Zmir-opt-level=2` it produces `0x0` instead. This was noticed because MIR optimization is enabled by default on the current nightly.

This is the LLVM IR for the `inner` function with `-C no-prepopulate-passes`. Notice how the inputs to `llvm.fshr.i32` (used by `rotate_right`) are `0`, which is

[2022-09-18 10:18] nikomatsakis commented on #101970
We certainly knew this was a possibility when authoring the RFC -- based on the [Zulip conversation](https://rust-lang.zulipchat.com/#narrow/stream/293397-project-type-changing-struct-update/topic/Work.20needed.20to.20finish.20out.20RFC/near/291275986), I believe that there were a number of inference failures of this kind, right?

The options on the table that I see are:

* Make the change anyway,

[2022-09-18 10:18] nikomatsakis commented on #101970
@rustbot labels +I-lang-nomianted

[2022-09-18 10:18] nikomatsakis commented on #101970
@rustbot label +I-lang-nominated

[2022-09-18 10:21] WaffleLapkin commented on #101970
For some context, there is a [zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/293397-project-type-changing-struct-update/topic/Work.20needed.20to.20finish.20out.20RFC/) about finishing work on type-changing struct update.

And here is a [MRE](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=edf52ad50ccee0cc34bd2a22a1936ebd) of this particular problem:
[code]

I

[2022-09-18 10:32] matthiaskrgr commented on #101973
@rustbot prioritize

[2022-09-18 10:33] lqd commented on #99685
You can use [rustup-toolchain-install-master](https://github.com/kennytm/rustup-toolchain-install-master/) with `rustup-toolchain-install-master 2a2d919ccd8dc0e7f8c61e9e8d07f865fb05e842` to download the `try` build artifacts.

[2022-09-18 10:34] matthiaskrgr commented on #101971
duplicate of https://github.com/rust-lang/rust/issues/101844 , should be fixed with latest nightly

[2022-09-18 10:34] #101971 closed

[2022-09-18 10:58] Rudxain opened #101974 "Optimize for energy or memory"
`rustc` can only optimize for speed (time) or binary storage use, but there's no option (AFAIK) to optimize for energy or main-memory use.

Related:
- https://www.embecosm.com/services/energy-efficient-compilation
- https://github.com/llvm/llvm-project/issues/6582

[2022-09-18 12:12] QuineDot commented on #101972
@steffahn pointed out that this can't actually happen (without impractical levels of magic); I'll try to file an issue against the reference if someone doesn't beat me to it.

The different behavior based on the presence of `{}` is still surprising, but can probably also be considered an incorrect or incomplete documentation issue; I'll probably close this unless there is some indication that some

[2022-09-18 12:16] steffahn commented on #101972
I’ve added a comment to an existing issue [#1258](https://github.com/rust-lang/reference/issues/1258); but feel free to open a new one if you think that’s more useful.

[2022-09-18 12:40] pietroalbini commented on #101899
Adding the regression label to make sure I have eyes on it during the release process.

[2022-09-18 12:50] timthelion commented on #94729
This is definitely confusing, especially if there are multiple variables being moved. It would be much better if the error showed WHICH variable is causing the problem rather than simply complaining about the entire closure. See https://veganbuddies.org/blog/stream23/ and https://stackoverflow.com/questions/73757235/how-can-i-use-a-channel-between-an-async-closure-and-my-main-thread-in-rust/737626

[2022-09-18 12:52] timthelion commented on #94729
Is this not a dup of https://github.com/rust-lang/rust/issues/69750?

[2022-09-18 13:03] m-ou-se commented on #101650
This isn't a "bug", in the sense that this behaviour is as expected. However, that doesn't mean that we shouldn't consider changing the behaviour.

The problem is that `format!("{}{}", a, b)` currently erases the types of `a` and `b`, but we don't want to accidentally keep the non-Send `a` around if `b` is an `.await` expression. So the type-erased argument (`ArgumentV1`) is simply never `Send`, s

[2022-09-18 13:34] dylni opened #101978 "Invalid environment variable names for `Command` are not rejected"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f3e035599c38c2bea88c8331a0b94da1

I expected to see this happen: an error that the environment variable name contains `=`

Instead, this happened:

[code]

There was a PR for to give errors for these variables, but it was closed due to inactivity: #39338

### Meta

`rustc --version`:
[code]

[2022-09-18 14:09] m-ou-se commented on #93740
@thomcc I implemented that approach here: https://github.com/m-ou-se/atomic-wait/blob/main/src/macos.rs

Unfortunately, it doesn't have any timeout functionality. :(

[2022-09-18 14:11] jacobmealey commented on #93440
@rustbot claim

[2022-09-18 14:16] jacobmealey commented on #93440
I realized I had a pretty old version of the source code pulled down when I was doing my testing. When I pulled down the latest commit it resolved the issues described in the original post. I think this ticket can be closed.

[2022-09-18 14:17] #93440 closed

[2022-09-18 14:17] jyn514 commented on #93440
Thanks for testing this!

[2022-09-18 14:20] jyn514 commented on #101306
@zsfVishnu no, @reez12g is already working on it.

[2022-09-18 14:29] fmease opened #101980 "The allow-by-default lint `missing_copy_implementations` does not honor `!Copy` impls"
I would expect the following code to compile successfully since we explicitly opt out of implementing `Copy`:

[code]

However, the code fails to compile with the following error message:

[code]

@rustbot label C-bug A-lint F-negative_impls

[2022-09-18 14:31] fmease commented on #101980
The compiler only checks if the type implements `Copy` already to return early and not emit the lint diagnostic but it doesn't check if it implements `!Copy`:
https://github.com/rust-lang/rust/blob/4af79ccd5e23c7cbaabcd7aefdda3b715abde606/compiler/rustc_lint/src/builtin.rs#L753

[2022-09-18 15:27] zsfVishnu commented on #101306
cool

[2022-09-18 15:35] kprotty commented on #93740
Could implement futex for darwin using a global hash table + pthread primitives like parking_lot does?

[2022-09-18 15:41] thomcc commented on #93740
Ah, yeah, that's unfortunate... FWIW I did convince @complexspaces to ask Apple engineers about stabilizing `__ulock*` when they met with them in a Lab at the most recent WWDC. They were apparently positive on the idea, but no movement has happened since then, AFAIK.

Might be fine on Darwin given that webkit does it, but may need different tuning than the existing impls, since spinning tends to d

[2022-09-18 15:41] bjorn3 commented on #93740
A global hash table doesn't scale well to many threads.

[2022-09-18 15:58] fee1-dead opened #101982 "Compiler doesn't think that an associate type implements const trait"
I tried this code: [play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2b1dbe6ff6380e4e6a3faa4dc90f09e2)

[code]

I expected to see this happen: Compiles

Instead, this happened: errors

[code]

[2022-09-18 16:03] fee1-dead commented on #91187
Coming back at this. I realized my description was a bit inaccurate. Hiding const trait bounds was deliberate. `const_trait_impl` is provisional and its RfC was not approved. Showing an unstable syntax in rustdoc should be avoided.

[2022-09-18 16:11] kprotty commented on #93740
@bjorn3 This is how [futex](https://elixir.bootlin.com/linux/v6.0-rc5/source/kernel/futex/core.c#L115) [is](https://github.com/ziglang/zig/blob/e5e6eb983159df0a089e7d1c8efcea9006e253a9/lib/std/os/windows.zig#L3442) [implemented](https://github.com/freebsd/freebsd-src/blob/837b7203f0c7356a35d59ed903053b9df4530164/sys/kern/kern_umtx.c#L155) [under](https://github.com/NetBSD/src/blob/1f66147ac166fcc2

[2022-09-18 16:18] RalfJung opened #101983 "Scoped threads violate 'dereferenceable for function call' requirement of references"
Scopes threads as currently implemented are potentially unsound due to passing a reference to a function where the memory the reference points to is potentially deallocated while the function still runs.

Specifically, [this main function here](https://github.com/rust-lang/rust/blob/d13699d0be14c47e57d1c8961d7e7348d93017fc/library/std/src/thread/mod.rs#L502) takes as implicit argument its closure

[2022-09-18 16:21] norman784 opened #101984 "assertion failed: !value.has_escaping_bound_vars()"
I'm working in a project using Trunk + Dioxus, so this happens when running `trunk serve` with the following code, it seems that somehow the Dioxus `Component` has something to to with it, if I change the `Component` type with a `String` rustc does not panic.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></su

[2022-09-18 16:26] bjorn3 commented on #93740
Linux uses `roundup_pow_of_two(256 * num_possible_cpus())` to calculate the hash table size. `num_possible_cpus()` is not something we can't get in userspace due to cpu hotplugging. In addition Linux has a single `roundup_pow_of_two(256 * num_possible_cpus())` sized table for the entire system, while doing this in user space would duplicate such a table for each process. Say you have a 64 core sys

[2022-09-18 16:38] thomcc commented on #93740
FWIW, I don't think anybody is suggesting we switch to this on Linux. It would only be used as the fallback on platforms where there's no stable futex-like API. I think Darwin is the main case here, although there are probably a few tier2 platforms that would get it as well.

I don't think Darwin supports CPU hotplugging to increase the number of CPUs beyond what you boot with, so I believe this i

[2022-09-18 16:56] thomcc commented on #101983
I believe https://github.com/rust-lang/rust/pull/98517 included a fix for this.

[2022-09-18 17:19] pinkforest opened #101987 "[E0308] off-scope `std::process:exit` misses unreachable"
If using `std::process::exit` off-scope this seems to make rustc not being able detect unreachable statements

This becomes a problem with `let-if-let-else pattern` where someone wants to capture value such as:

[code]

Or even basic assignment from match gives same error:

[code]

Results E0308 that shouldn't be there if rustc would detect unreachable w/ `std::process::exit` here correctly:

[cod

[2022-09-18 17:34] kprotty commented on #93740
@bjorn3 A userspace implementation doesn't have to copy linux verbatim. The equivalent would be `std::thread::available_parallelism()` but linux's approach in general is still sub-par for userspace as it requires dynamic heap allocation (the allocator may require the Mutex so its a circular dependency as you note).

Yes, the table doesn't have to be large and its fine to be per-process. This is wh

[2022-09-18 17:38] pinkforest commented on #101987
Ahhh.. diverging functions! my fault sigh thought about it - too used to void's

[2022-09-18 17:38] #101987 closed

[2022-09-18 17:44] jacobmealey commented on #77150
@jyn514 I see this ticket is a couple of years old, are you still willing to mentor it / is the work still relevant?

[2022-09-18 17:51] cuviper commented on #74705
It still matters for stable since the implicit fallback behavior happens without the unstable option, and for example Fedora 35 is a downstream that builds on LLVM 13. I don't know how active Fedora s390x really is, nor if any other distros care. For that matter, Fedora 35 EOL will be around the end of November, before the current 1.66 nightly releases on December 15.

I'll go ahead and open a PR

[2022-09-18 17:58] jam1garner opened #101991 "Stabilize proc_macro Span::source_text"
In the interest of improving error/diagnostic quality for macros I'd like to try and get some of the `proc_macro_span` feature stabilized.

While some of these APIs don't seem to have consensus on their effect on IDE/language server support, the `source_text` API seems both well-tested and to have consensus that its result only being invalidated by edits to the contents of the macro makes it a non

[2022-09-18 18:35] zachs18 commented on #101968
Note that writing `impl Fn<(), Output = impl Future<Output = bool>>` with `#![feature(unboxed_closures)]` does not give the error, so perhaps its something to do with how `Fn() -> Ret` syntax is parsed or converted to a bound?
([link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=98f83eb73a474f69c4b0e3630f7b0fae))

[2022-09-18 18:41] WaffleLapkin commented on #97762
@rustbot claim

[2022-09-18 18:44] zachs18 opened #101992 "Apparent duplicated diagnostic note for type mismatch involving type with defaulted type parameter."
Given the following code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=15e3017cac972e1fdb1c0614e56b56a1))

[code]

The current output is:

<details><summary>Current output</summary>

(`*_no_param` show the ideal diagnostics, `*_default_param` show cases where the diagnostic appears to the user to be completely duplicated, `*_with_param` show cases where the

[2022-09-18 18:49] steffahn commented on #101973
@rustbot label regression-from-stable-to-nightly, I-unsound, A-mir-opt, T-compiler

[2022-09-18 18:53] RalfJung commented on #101983
Doesn't look like it -- the user-provided closure seems to be handled exactly the same as currently?

[2022-09-18 18:56] thomcc commented on #101983
Ah, I read too quickly and misunderstood, apologies. It solves a different potential unsoundness (one more similar to the Arc drop issue).

[2022-09-18 19:05] Hawk777 opened #101993 "MSI installer is missing clippy and rustfmt"
I installed Rust 1.63.0 in Windows via the MSI installer. I enabled all optional features during the installation process. However, it seems that `clippy` and `rustfmt` are not available via the MSI installer. It seems that the MSI installer is oriented at development use and not just building existing Rust code from source for deployment (otherwise it wouldn’t include RLS, which is only useful fo

[2022-09-18 19:17] jyn514 commented on #77150
I'm willing to mentor, but I honestly don't know if it's still relevant. The first step would be to find where the code is today and see if it still has the original issue I posted.

[2022-09-18 19:20] compiler-errors commented on #101970
For context, here's the experimentation I have done:
* without any additional inferences changes (1687 regressed): https://github.com/rust-lang/rust/pull/98456#issuecomment-1166366084
* With some inference hacks (13 regressed): https://github.com/rust-lang/rust/pull/98456#issuecomment-1166399219

But even with those inference hacks there are still cases where we get failures.

The inference hack i

[2022-09-18 19:23] RalfJung commented on #101983
Yeah, it looks like an alternative fix for the `dereferenceable` part of https://github.com/rust-lang/rust/issues/98498.

[2022-09-18 19:26] Antikyth commented on #91345
I don't know how much help I can be to the process, if at all (please let me know if there are things to read about how I can help at all^), but I would like to mention that I have found myself wanting to use this functionality quite often. It makes for clean code in a pretty common situation.

^I'm relatively new to Rust, and haven't contributed to it before. I would love to learn more about what

[2022-09-18 21:05] matthiaskrgr commented on #101984
https://github.com/rust-lang/rust/issues/99647 for same ice msg but without external dependency

[2022-09-18 21:06] compiler-errors commented on #101984
Probably a different root cause, even if they have the same message.

[2022-09-18 21:12] vegerot opened #101998 "[diagnostic] Add better diagnostic for Result types"
Given the following code:

[code]

The current output is:

[code]
https://godbolt.org/z/4KMY53974

Ideally the output should look like (suggestions appreciated):

[code]

Rationale:
Rust is known for its fantastic error messages.  One things that many Rust newcomers struggle with is `Result` vs. patterns in other languages (like throwing exceptions).  I feel like this specific situation occurs pre

[2022-09-18 21:40] bcpeinhardt commented on #64260
Hey there! I've just come from fixing a bug I created. What's the reasoning behind `false.then_some(expr())` not short circuiting/ would there be support for a short circuiting verison, like `then_eval_some`? I realize you can use `then` and it will effectively short circuit because the closure won't be called, but it's a little clunky with methods that return a Result because you end up transposi

[2022-09-18 23:31] jyn514 commented on #101993
Hmm, there's code for clippy in `dist.rs` - not sure what's going wrong there, someone would need to investigate. https://github.com/rust-lang/rust/blob/ed3711120500157d7ad93613266e665b0d41b69a/src/bootstrap/dist.rs#L1617-L1633

Rustfmt does appear to just be omitted altogether, that should be a simple fix.

[2022-09-19 01:17] jyn514 commented on #101961
Mentoring instructions: change the names in https://github.com/rust-lang/rust/blob/405f0c21608cb41aabc512eed73b2ff707391cab/src/bootstrap/compile.rs#L1107-L1111

[2022-09-19 01:27] jyn514 commented on #99610
Oh fun, this isn't possible to test unless the proc-macro ABI changed in the last release :facepalm:

[2022-09-19 01:27] jyn514 commented on #97481
@the8472 are you still running into this problem?

[2022-09-19 01:31] jyn514 opened #102002 "Delete the `stage1` and `stage0-sysroot` directories when using download-rustc"
@bjorn3 suggests deleting the `stage1` and `stage0-sysroot` directories when using download-rustc, to avoid caching issues like this. `rustdoc +stage1` still won't do the right thing, but it will at least give a hard error instead of silently using the wrong version.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/81930#issuecomment-1245843954_

[2022-09-19 01:33] jyn514 commented on #102002
Mentoring instructions: in https://github.com/rust-lang/rust/blob/405f0c21608cb41aabc512eed73b2ff707391cab/src/bootstrap/compile.rs#L1113-L1124 delete the sysroots `stage1` and `stage0-sysroot` folders, not just the current sysroot.

Some background info: https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html#what-is-a-sysroot

[2022-09-19 01:56] jyn514 opened #102003 "Make the status messages emitted by bootstrap more clear"
I'm currently having an extended discussion in https://rust-lang.zulipchat.com/#narrow/stream/326414-t-infra.2Fbootstrap/topic/Stage.20numbering.20for.20tools about what the stage numbering for bootstrap means and how it should work. Part of the confusion, as pointed out by @the8472, is that it's unclear whether "Building stage1 std artifacts" refers to the compiler being run or the artifact being

[2022-09-19 02:01] jyn514 commented on #102003
This is "easy" but a lot of work; these messages are printed in a *lot* of different places across bootstrap and it's going to be a lot of manual work to update them all. https://github.com/rust-lang/rust/pull/86022 had some WIP effort to make the status message autogenerated, but that will likely be even more work than updating the messages by hand.

[2022-09-19 02:07] sundeep-kokkonda commented on #100687
Can I get some help here?

[2022-09-19 02:10] jyn514 commented on #83455
I'm going to close this until I hear back about whether `make prepare` does what you want. https://github.com/rust-lang/rust/pull/98464#issuecomment-1166449013

[2022-09-19 02:10] #83455 closed

[2022-09-19 02:28] jmillikin commented on #76915
I'm interested in this feature and have time to work on it. However, the current API is very different from what I would expect:
- The current API for `AncillaryData` is closely tied with UNIX sockets and doesn't seem to have any support for ancillary data from (for example) TCP/IPv6 sockets.
- Putting an enum for possible `SCM_*` values into `std::os::unix` prevents use of OS-specific values such

[2022-09-19 02:39] jyn514 commented on #81431
Yes, it should copy the binaries from stage1-tools-bin to stage1/bin.

[2022-09-19 02:40] jyn514 commented on #81431
Mentoring instructions: Add a new argument to the `bootstrap_tool` macro that says whether the tool should be added to the sysroot, then copy it into the sysroot in https://github.com/rust-lang/rust/blob/4a7e2fbb7bfdb7ddcb65b6fcf23bb5b272e66d42/src/bootstrap/tool.rs#L223-L224

[2022-09-19 02:41] jyn514 commented on #80815
I'm going to close this since it looks like bootstrap doesn't have enough information in a `--pure` shell to do its job.

[2022-09-19 02:41] #80815 closed

[2022-09-19 02:43] jyn514 commented on #79334
Looks like this was fixed in https://github.com/rust-lang/rust/pull/100811 :) thanks @czzrr !

[2022-09-19 03:35] Shoeboxam commented on #54725
Use case: I'm working on a rust library that provides LaTex proof files adjacent to each rust source file. I'd like to use a proc-macro to enrich my public documentation with links to the .tex sources and rendered .pdfs. Without a way to retrieve the source file from the span, I need to maintain relative paths to proof files in each invocation of the proc macro.

[2022-09-19 03:41] asquared31415 commented on #82015
This was fixed at some point, in 1.63 the output is
[code]

[2022-09-19 03:41] #82015 closed

[2022-09-19 04:56] #101383 closed

[2022-09-19 06:51] pinkforest opened #102007 "Enhance incompat errors on diverging fn return `!`"
## Issues

I think these may be Error enhancements to flag unreachable and / or E0308 at fn return incompat ?

1) Return on Incompatible [diverging](https://doc.rust-lang.org/rust-by-example/fn/diverging.html) `!` is allowed

2) Unreachable is not errored with used diverging `!` function -- EDIT: do we need to enhance error priorities here ?

3) Also the default unit or `()` type is allowed to be

[2022-09-19 06:58] chenyukang commented on #102002
@rustbot claim

[2022-09-19 08:46] JakobDegen commented on #101973
Can someone execute the snippet with `-Zdump-mir=all` and upload the resulting `mir-dump` directory somewhere? That should allow me to debug from my phone 😆

[2022-09-19 09:07] Amanieu commented on #101973
https://gist.github.com/Amanieu/183f034864c71a580b2f3347abc5b83d

[2022-09-19 09:20] steffahn commented on #101973
I’ve made a gist originally, too, but it looks like you can’t see all the files there.
Here’s a repo https://github.com/steffahn/rust_issue_101973/tree/master/mir_dump

[2022-09-19 09:58] scottmcm commented on #100518
Note that if you need an iterator to be *forced* fused for certain, you can always use

[code]

And do `DefinitelyNotFused(it).fuse()` instead of just `it.fuse()`.

That's really short because it doesn't forward anything but `next`, but if you can't trust `FusedIterator` implementations, I don't see why you'd be able to trust its `any` or `fold` impls either -- they might be wrong/inconsistent too

[2022-09-19 10:07] scottmcm commented on #100518
Hello libs-api folks!

I had #100517 on me about this, which was closed, and now there's #102006 open for something different.  But I think it needs an API decision for what, if anything, *should* be done, before I can do a review.

A couple of possibilities:
- There's no reason to do anything here without a concrete example of this causing non-contrived problems in the wild.
- Things are fine as

[2022-09-19 10:35] #101623 closed

[2022-09-19 10:40] chansuke commented on #101961
@rustbot claim

[2022-09-19 11:19] lcnr commented on #101951
it's caused by this line:
https://github.com/rust-lang/rust/blob/503e19d01e941b88bf6d5b28e9108d046abcfa2d/compiler/rustc_typeck/src/check/compare_method.rs#L277

region check is also bad at dealing with ambiguity so it now fails because it probably has two "equally valid" assumed bounds to choose from, so it just chooses neither

going to look into this a bit deeper now

[2022-09-19 12:17] oli-obk opened #102011 "Wrong diagnostic when using constant of TAIT type in pattern"
The test src/test/ui/type-alias-impl-trait/structural-match-no-leak.rs (copied below to preserve its state)

[code]

reports an error about "depends on a generic parameter", when there are no generic parameters anywhere. The issue is that we only have a single `TooGeneric` variant in https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/interpret/enum.ErrorHandled.html#variant.TooGeneri

[2022-09-19 12:27] oli-obk commented on #99685
Thanks for checking! I'm going to go ahead and close this issue then.

[2022-09-19 12:27] #99685 closed

[2022-09-19 12:27] lcnr commented on #102011
i do think we should experiment with adding the too generic type to `TooGeneric`, i tried splitting that variant which was more annoying than helpful

[2022-09-19 12:28] y86-dev opened #102012 "Tracking Issue for `const_waker`"
Feature gate: `#![feature(const_waker)]`

This is a tracking issue for `const`ifying the following functions:
- `Context::from_waker`
- `Context::waker`
- `Waker::from_raw`

### Public API

[code]

### Steps / History

- [x] Implementation: #101798
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-l

[2022-09-19 12:28] y86-dev commented on #102012
r? @lcnr

[2022-09-19 12:53] pietroalbini opened #102014 "replace-version-placeholder should not recurse into the rustc-dev-guide"
Right now, running `./x run replace-version-placeholder` causes among other things this unwanted diff:

[code]

We should change it not to recurse into submodules, or at least that submodule.

cc @Mark-Simulacrum @est31

[2022-09-19 12:57] workingjubilee commented on #101974
Per what Chris Lattner said:

If you have research that shows otherwise, I recommend starting a discussion on https://internals.rust-lang.org/

[2022-09-19 12:57] #101974 closed

[2022-09-19 13:07] Rudxain commented on #101974
@workingjubilee The article I linked explains that some memory alignments reduces the switching frequency of transistors, therefore reducing energy use, but not necessarily being faster.

And this issue is also about memory optimization, not just energy. I know that in the majority of cases, optimizing for storage size also reduces memory footprint, but that isn't always the case

[2022-09-19 13:07] m-ou-se commented on #101899
As I mentioned [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/241545-t-release/topic/1.2E64.20release/near/299560849), I think we should revert [#95295](https://github.com/rust-lang/rust/issues/95295) for now so we have time to consider this issue before stably adding the `isize::MAX` promise.

[2022-09-19 13:26] pietroalbini commented on #101899
Backed the PRs responsible for this (https://github.com/rust-lang/rust/pull/95295 and https://github.com/rust-lang/rust/pull/99136) off the 1.64.0 release, cc @CAD97. Those are still present in beta 1.65 and nightly 1.66 for now, unless someone reverts them from there (won't have time myself unfortunately).

[2022-09-19 13:26] est31 commented on #102014
PR filed:  #102017

I didn't notice this because back when I ran the tool locally for testing, https://github.com/rust-lang/rustc-dev-guide/pull/1443 hadn't been merged yet, so it wouldn't show up as change. I didn't run it again later. Anyways, I'm glad that it went so smooth so far outside of this one bug.

[2022-09-19 13:42] CAD97 commented on #101899
On 64-bit, no, but yes on 32-bit. Any crate relying on such an allocation failing is unsound. The std bug which prompted making this change was with `Rc` allowing creating an allocation of over `isize::MAX` bytes succeeding and creating unsoundness due to that.

Backing out for this release is prudent. For later releases, it might be a reasonable state to treat a size > `isize::MAX` as library UB

[2022-09-19 14:21] pnkfelix commented on #50005
Visiting for wg-debugging triage.

I am trying to figure out whether the nature of the files being described here are things that one might expect end-users to customize (so that they can pick and choose which crates count as "their code"), or if these files are things that we can only reasonably expect `rustc` (perhaps with some help from `cargo`) to generate.

In particular, @wesleywiser notes "

[2022-09-19 14:28] pietroalbini commented on #102014
Thanks for the quick fix!

[2022-09-19 14:29] wesleywiser commented on #50005
Reposting my comment during the triage discussion:

We might also want this for diagnostic reasons. We could then potentially suggest changes to code in other crates in the current workspace if that gives a better solution to the compiler error we've generated.

@pnkfelix said:

[2022-09-19 14:32] pnkfelix commented on #39795
Visiting for wg-debugging triage

Its been so long since this issue was touched, we should have someone go and confirm that it still reproduces. I'm adding E-help-wanted to reflect that.

@rustbot label: E-help-wanted

(also, @wesleywiser notes that this may have the same root cause as #101913 .)

[2022-09-19 14:40] pnkfelix commented on #43564
Visiting for wg-debugging triage

Its been so long since this issue was touched, we should have someone go and confirm that it still reproduces. I'm adding E-help-wanted to reflect that.

@rustbot label: E-help-wanted

[2022-09-19 14:42] thomcc commented on #43564
I have definitely profiled rust code in Instruments in the last few months, and it worked. I can check again later today though.

I will note that I believe it worked for me back in 2017 as well.

[2022-09-19 14:42] tmiasko commented on #101973
With an assertion instead of println:

[code]

Individual builds from https://github.com/rust-lang/rust/pull/101152#issuecomment-1230950321, point to #100239 cc @RalfJung

[2022-09-19 14:53] pnkfelix commented on #37646
Discussed in wg-debugging [triage](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/.5Btriage.20mtg.5D.202022-09-19/near/299577427)

We propose that a community member should file a compiler [MCP](https://forge.rust-lang.org/compiler/mcp.html) here, suggesting that we change the choice of symbol name to better accommodate this scenario.

@wesleywiser says that

[2022-09-19 14:54] pnkfelix commented on #45854
Visiting for wg-debugging triage

Its been so long since this issue was touched, we should have someone go and confirm that it still reproduces. I'm adding E-help-wanted to reflect that.

@rustbot label: E-help-wanted

[2022-09-19 14:56] pnkfelix commented on #59373
Visiting for wg-debugging triage

Its been so long since this issue was touched, we should have someone go and confirm that it still reproduces. I'm adding E-help-wanted to reflect that.

@rustbot label: E-help-wanted

[2022-09-19 15:00] pnkfelix commented on #59246
Visiting for wg-debugging triage

1. We should have someone go and confirm that it still reproduces.
2. If it *does* still reproduce, then leave E-help-wanted on, but now the E-help wanted will become a request for someone to help turn the issue into something that we can file on the LLVM bug repository.

I'm adding E-help-wanted to reflect the two steps above.

@rustbot label: E-help-wanted

[2022-09-19 15:03] pnkfelix commented on #59479
Visiting for wg-debugging triage

Its been so long since this issue was touched, we should have someone go and confirm that it still reproduces. I'm adding E-help-wanted to reflect that.

@rustbot label: E-help-wanted

[2022-09-19 15:32] pnkfelix commented on #55352
I'm asking about the expected/desired experience for an end-developer. I expect some people are going to want to test the control-flow paths that correspond to panics for certain library routines. But I also expect some set of people to treat some panic paths as something they do not attempt to test.

What is the right way to serve both groups? Is it to ask people to add certain attributes to thei

[2022-09-19 15:40] RalfJung commented on #101973
Ouch. That probably means the unsoundness was already possible before my PR (as explained there, the check it removes was ineffective), but is easier to trigger now.

Cc @oli-obk @rust-lang/wg-mir-opt something is wrong in ConstProp handling of shifts and/or casts and/or bit-ops.

Is there a reproducer that does not need shifts *and* casts *and* a bitop? That would make the issue easier to track d

[2022-09-19 15:41] RalfJung commented on #101973
FWIW it prints 0xfffffffff0000000 in Miri so the interpreter is probably fine, and it's probably a problem with the ConstProp pass itself.

[2022-09-19 15:43] Amanieu commented on #101973
The original code was much more complex. I minimized it as much as I could, but at this point even removing a useless `>> 0` will cause the bug to no longer trigger.

[2022-09-19 15:43] RalfJung commented on #101973
Yeah I quite appreciate that it does fit in a few lines now. :)

[2022-09-19 15:50] RalfJung commented on #101973
The `-Zmir-opt-level=2` is not needed, but indeed the bug needs `-O -C debug-assertions=on` to trigger. And inlining. Very strange.

ConstProp code is super hard to read and full of subtle (usually barely documented) invariants, so... this could be an interesting one to track down.

[2022-09-19 15:55] WaffleLapkin commented on #96097
@clarfonthey with the current implementation, `MaybeUninit<[T]>` is not possible at all, `MaybeUninit` requires `T: Sized`.

[2022-09-19 15:56] nikomatsakis commented on #101336
OK, so this FCP is complete. The question is, what do we do now to close the issue? :)

Option A. Edit the reference or perhaps necronomicon.

Option B. Edit API documentation -- somewhere? I'm not sure if we have an "API page" for "dyn types" in general.

Option C. Open an issue on unsafe-code-guidelines repository and link to this?

@RalfJung or @JakobDegen -- what do people typically do? Have w

[2022-09-19 16:06] xxchan opened #102024 "Add track_caller to iterator methods"
I'm trying to add `track_caller` to [`Itertools::zip_eq`](https://docs.rs/itertools/latest/itertools/trait.Itertools.html#method.zip_eq), but:

[code]
reports `Iterator::fold`

[code]

[code]
reports `alloc::vec::...`
[code]

Is it possible to improve it?

[2022-09-19 18:14] the8472 commented on #102024
Closures can be executed pretty deep inside iterators, plumbing `#[track_caller]` through all possible call paths seems a bit much. It is very cheap, but not entirely free of cost since it sort of introduces an inlined wrapper function that passes the location information under the hood which makes life a tiny bit harder for the optimizers. It can lead to regressions when you put it on very hot co

[2022-09-19 18:18] federicomenaquintero commented on #100125
I can reproduce this with librsvg.  Both with grcov 0.8.11:

* Rust 1.62.0 - coverage seems OK, at 91.7%
* Rust 1.63.0 - coverage goes down to 76.85%, shows some toplevel comment lines as uncovered, `use somecrate::Something;` lines as uncovered, etc.

`RUSTFLAGS="-Zprofile -Ccodegen-units=1 -Clink-dead-code -Coverflow-checks=off"`

(I'm using -Zprofile because -Cinstrument-coverage produces incor

[2022-09-19 18:53] CAD97 commented on #100041
Status: still happens. #100046 is [blocked on implied bounds for unnormalized types](https://github.com/rust-lang/rust/pull/100046#issuecomment-1243953943).

[2022-09-19 19:17] haohui opened #102029 "lifetime rules are overly restricted in 1.65 nightly / beta"
I tried this code:

[code]
The rustc in 1.63 compiles the code successfully while rustc 1.65.0-nightly (cf9ed0dd5 2022-09-15) fails to compile it:

[code]

Are there any changes in the language specifications that have tighten the lifetime rules?

[2022-09-19 19:19] mejrs commented on #102029
@rustbot label +regression-untriaged, +regression-from-stable-to-beta +A-lifetimes

[2022-09-19 19:23] haohui commented on #102029
Link to the playground:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ead14d6086e83065f74c8a081fc5fee7

[2022-09-19 19:37] pnkfelix commented on #59479
(I did a little digging here, you can see my notes in [zulip](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/walkthrough.20E-help-wanted/near/299583848).

I *think* it is possible that the behavior observed in the issue persisted up through Rust 1.38, but then went away in Rust 1.39. I am not yet sure though if the actual issue was resolved in some way, or if

[2022-09-19 20:09] #101932 closed

[2022-09-19 20:13] Aaron1011 commented on #70919
Minimized:

[code]

[2022-09-19 20:30] asquared31415 commented on #100518
Sorry about that previous PR, that was not a productive solution.

What motivated me to make a PR actually making the behavior consistent was yet another complaint from someone that they found a case where they wanted a fused iterator from a generic iterator that may or may not *actually* fuse, but couldn’t use `Iterator::fuse` because it can’t be trusted, despite returning a type that is impossib

[2022-09-19 20:34] asquared31415 commented on #100518
In relation to the possible changes listed, #102006 currently uses a new `unsafe trait` for specialization that only `iter::Fuse` implements, to avoid setting the inner iterator to `None` at each level of nesting, since that seemed to be the primary complaint that the `FusedIterator` RFC aimed to solve.

[2022-09-19 20:41] the8472 commented on #100518
Were they writing unsafe code?

[2022-09-19 20:43] joshtriplett commented on #101991
Nominating to consider for partial stabilization.

I remember we had a lot of conversation about some of the proc_macro APIs in the past. I don't remember this one in particular being of concern.

Does anyone on @rust-lang/libs-api know of any blockers for stabilizing this?

[2022-09-19 20:44] yoshuawuyts commented on #70887
So far I've been driving the FCP, but I'm not quite sure what needs to change. Can @scottmcm or someone else who understands what needs to change either explain or file a PR with the necessary changes?

[2022-09-19 22:28] ehuss commented on #102029
Thanks for the report!  Sorry you're running into that situation.  This was a correctness fix, intentionally changed as part of #98835. Closing as a duplicate of #100544.

[2022-09-19 22:28] #102029 closed

[2022-09-19 22:31] est31 commented on #63012
`cargo-udeps` uses the feature since the 0.1.33 release to figure out which dependencies were actually used during compilation, since save-analysis is going to be removed.

[2022-09-19 23:42] cuviper commented on #45854
I just ran a scratch build on Fedora 35 with full debuginfo enabled, and the 32-bit targets still failed.

Here's i686 (`i686-unknown-linux-gnu`):
https://koji.fedoraproject.org/koji/taskinfo?taskID=92194813

[code]

Here's armv7hl (`armv7-unknown-linux-gnueabihf`):
https://koji.fedoraproject.org/koji/taskinfo?taskID=92194812

[code]

[2022-09-20 00:05] jhpratt commented on #101991
Most of the discussion was related to either user-defined diagnostics or the line/column information being exposed. I see no reason this can't be stabilized.

[2022-09-20 02:10] jackh726 commented on #102029
Indeed this was changed due to a correctness fix.

For clarity, you code can be fixed by changing `let b0 = Self::broke(b)?;` to `let b0 = Foo::broke(b)?;`

[2022-09-20 02:17] chenyukang commented on #101993
I see `rustfmt` is not called with `prepare`, but `clippy` is there:

[code]

[2022-09-20 02:33] chenyukang commented on #101993
have a diff from `cargo --list` between `rustup` from installation and MSI installer:

[code]

seems `miri` also missing.

[2022-09-20 03:03] SparrowLii commented on #101970
I understand the cause of the problem to some extent and should be able to submit a PR soon (by tomorrow) to try and fix it

[2022-09-20 03:14] Jules-Bertholet commented on #81513
With [RFC 2884](https://github.com/rust-lang/rfcs/pull/2884) or some variation of it, this would become possible. And I don't think it's *a priori* implausible or useless.

[2022-09-20 03:17] Hawk777 commented on #101993
Here’s a list of the files in the `bin/` subdirectory of my install directory, in case it’s relevant:
- `cargo.exe`
- `rls.exe`
- `rustc_driver-17b2400b2defcd83.dll`
- `rustc_driver-17b2400b2defcd83.pdb`
- `rustc.exe`
- `rustc_main-6addbff947989b19.pdb`
- `rustdoc.exe`
- `rust-windbg.cmd`
- `std-2e5a4fde2066d4f2.dll`
- `std-2e5a4fde2066d4f2.pdb`
- `test-2fc9b45aeebba85a.dll`
- `test-2fc9b45aeebba8

[2022-09-20 03:21] haohui commented on #102029
I thought `Self` is just a syntactic sugar. Just curious how does it affect the binding of lifetime?

[2022-09-20 03:37] cr1901 commented on #99685
@lqd I will try `rustup-toolchain-install-master` with `2a2d919ccd8dc0e7f8c61e9e8d07f865fb05e842` just for completeness' sake, but... how do I get past this error?

[code]

I'm _pretty_ sure I've seen this before, but have since forgotten (the MCVE requires `build-std=core`)...

[2022-09-20 03:42] SparrowLii commented on #101970
@rustbot claim

[2022-09-20 03:45] jackh726 commented on #102029
`Self` here is `Foo<'a>`, whereas `Foo` is `Foo<'_>`. So in the former, the closure captures the `'a` lifetime, where in the latter, it captures *some lifetime* `'_`

[2022-09-20 04:14] jyn514 commented on #100991
CC https://github.com/rust-lang/rust/issues/81091

[2022-09-20 04:27] nnethercote commented on #101872
#102035 is a related example, where increased use of niche-filling causes some small but widespread instruction count regressions.

[2022-09-20 05:01] #101712 closed

[2022-09-20 05:01] #102014 closed

[2022-09-20 05:35] jyn514 opened #102039 "Crash documenting a mangled version of diesel"
### Code

I haven't had time to make an MCVE. https://github.com/jyn514/diesel/tree/mangled-diesel-ice

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-20 05:37] jyn514 commented on #102039
Uncommenting `T::Values: Default` for `impl Insertable for Option` on line 201 makes the crash go away.

[2022-09-20 06:20] lqd commented on #99685
IIRC you can use -c when you initially install the try build artifacts.

[2022-09-20 06:26] gilescope commented on #93557
I got this once as a sporadic error. Commented and then uncommented some wasm bindgen calls and the problem went away.

[2022-09-20 07:03] inquisitivecrystal commented on #101951
Assigning priority in accordance with [the discussion of the Prioritization Working Group](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101951.20E0477.20triggered.20with.20current.20nightly/near/299365464).

[2022-09-20 07:28] inquisitivecrystal commented on #102011
Triage note: I was going to add one or more of the `D-` family labels, but wasn't sure which ones were appropriate. The OP and linked post don't really help me to understand what's going on and why it's a problem. I'm sure they're perfectly comprehensible to those who understand the situation better than I do, but a little bit of elaboration might help make this issue clearer. :)

[2022-09-20 07:41] oli-obk commented on #102011
Oof, yea, sorry about that. I added some explanation including what should actually be done.

[2022-09-20 08:34] lcnr commented on #102011
my idea was
[code]
`Ty<'tcx>` might not be perfect, e.g. sometimes we fail to resolve an instance, so there using `Ty<'tcx>` is wrong :thinking: maybe `TooGeneric(&'tcx TooGenericCause<'tcx>)` with `TooGenericCause<'tcx>` being an enum with the variants we care about :thinking:

this should give us pretty good error messages with a hopefully acceptable perf impact

[2022-09-20 09:45] RalfJung opened #102043 "invalid_value misses some clearly bad enum initialization"
The `invalid_value` lint has no issue with the following type being zero-initialized or left uninit:
[code]
That seems like a case we should be able to handle.

I think for non-`is_multi_variant` enums, we probably can compute the variant that does exist, and then we can recursively check if that one is valid? We'd also need a smarter `is_multi_variant` that can handle some dataful variants (ensur

[2022-09-20 10:01] Maleware commented on #94967
Hey guys,

since this issue is still open, I would like to present a solution which worked out for us.

You can leverage cargo --target <platform>, specifications can be retrieved via the list function.
From here you have to link the compiler and linker in your environment, we choose to do so with the ONBUILD option.

The example can be seen here: https://github.com/stackabletech/docker-images/blo

[2022-09-20 10:34] RalfJung commented on #101973
The inlined code looks fine, but it has the basic blocks in a strange order, which might explain why the ConstProp bug only occurs if inlining happens first.

The code just before ConstProp has this
[code]
One possible explanation would be if ConstProp iterated the basic blocks in order, then by the time it reaches `rotate_right`, the last assignment to `_4` it saw is `_4 = const 0_u32` in bb0. Th

[2022-09-20 10:51] RalfJung commented on #101973
Turns out the actual problem was an early return that Ia dded which skipped more code than it should have -- fixed by https://github.com/rust-lang/rust/pull/102045.

[2022-09-20 11:41] lcnr opened #102047 "ICE: borrowck for user-type with inferred higher ranked type"
[code]

with the currently nightly/master:

[code]

[2022-09-20 11:50] lcnr opened #102048 "relating projection substs is unsound during coherence"
[code]
this currently compiles even though the following crate would mean that both impls overlap:
[code]
however, it seems like rustc generally has issues with both of these impls, so it actually believes that none of these impls apply :grin: see also #102047 where the first impl results in an ICE.

[2022-09-20 11:53] lcnr commented on #102048
cc @rust-lang/types

[2022-09-20 11:59] BoxyUwU commented on #102048
#96912 fixes this but it'll be a while before it can be merged

[2022-09-20 13:21] GOVYANSONG commented on #101905
FYI i used async_std to block_on the inner async logic.

[2022-09-20 13:21] #101905 closed

[2022-09-20 13:35] joshtriplett commented on #101991
@rfcbot merge

[2022-09-20 14:07] apiraino commented on #102048
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102048.20relating.20projection.20substs.20is.20unsound.20during.20cohere.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-09-20 14:21] apiraino commented on #101899
removing prioritization label since it looks it's waiting on T-libs ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101899.20.2395295.20causes.20unsoundness.20in.20multiple.20existing.20crat.E2.80.A6)).

@estebank do you think we can remove also `T-compiler` or better keep them in the loop?

@rustbot label -I-prioritize

[2022-09-20 14:25] aliemjay opened #102052 "trait selection fails for projections under binders"
This fails to compile, but it shouldn't:
[code]

@rustbot label C-bug T-types A-traits A-associated-items

[2022-09-20 14:28] aliemjay commented on #102047
Debugging leads to #102052, but I'm still surprised that we don't catch this during hir typeck.

[2022-09-20 14:35] LegionMammal978 commented on #101899
Are you talking about #95334? That seems more like a Miri oddity than an issue in practice. It successfully allocates more than `isize::MAX` bytes when emulating 32-bit targets, even when the actual targets' libcs unconditionally reject it:
[code]

What I'm asking is, should allocators on 32-bit targets *actually* be capable of fulfilling a request for more than `isize::MAX`/`PTRDIFF_MAX` bytes? B

[2022-09-20 14:37] crlf0710 commented on #101970
Posted my thoughts in Zulip https://rust-lang.zulipchat.com/#narrow/stream/293397-project-type-changing-struct-update/topic/Work.20needed.20to.20finish.20out.20RFC/near/299733175

[2022-09-20 14:57] lcnr commented on #102052
with this fixed without coherence being fixed we should increase the severity of #102048 as it then becomes exploitable

[2022-09-20 14:58] the8472 commented on #101899
Rust's minimum supported glibc version for i686-unknown-linux-gnu is 2.17.

[2022-09-20 15:16] m-ou-se commented on #96284
Question from the libs-api meeting: How often would one use `is_aligned_to` given that `is_aligned` exists? (Or maybe a `is_aligned_for::<T>()` might suffice for most cases?)

How often does one want to check a calculated alignment rather than a constant alignment? With e.g. `.is_aligned_to(16)`, the check would be optimized away, making the `usize` argument fine. Using a separate `Alignment` type

[2022-09-20 15:21] apiraino commented on #101973
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101973.20Incorrect.20code.20generated.20by.20MIR.20optimization.20on.20nig.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-09-20 15:31] LegionMammal978 commented on #101899
Indeed. However, there's not much we can do about that, given the state of the C ecosystem. To fix this, either the immovable object must be moved (updating the libc or patching its allocator), or the unstoppable force must be stopped (fixing every C library that makes the `PTRDIFF_MAX` assumption, and preventing them from becoming broken again). Looking at glibc in particular, it looks like the b

[2022-09-20 15:36] m-ou-se commented on #100518
We discussed this in the libs-api meeting just now. Those of us present think we shouldn't change anything about this method and trait right now. The behaviour as expected (and documented), similar to how an invalid Hash implementation would break a HashMap.

However, we'd be open to seeing concrete examples that show the value of an unsafe 'TrustedFusedIterator' trait.

[2022-09-20 15:45] the8472 commented on #101899
The OP does not link to the source locations instantiating those `Layout`s. Some context why crates are doing that and whether we need to provide alternatives would help.

[2022-09-20 15:55] jpalaciosdev commented on #101968
Just a quick note: compilation still fails for some code using the latest nightly builds (though it used to compile fine with older ones, such as nightly-2022-06-29). For example, the following code:

[code]
Compilation output:

[code]

[Link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=be7376b28f0a33c07827d41461c36ddc).

[2022-09-20 16:02] reitermarkus commented on #29599
I'd like for this to also support concatenating with integer literals, e.g.

[code]

[2022-09-20 16:03] Nemo157 opened #102057 "`format!` error has wrong span when using encoded `{`"
I tried this code:

[code]

I expected to see this happen: a "no value found" error pointing at the `a` token

Instead, this happened: a "no value found" error pointing at the `x7Ba`:

[code]

[2022-09-20 16:10] BoxyUwU commented on #100518
an unsafe `TrustedFusedIterator` is a terrible idea unless #102006 is merged, it would make the existing unsound specialization even "more" unsound since now you'd be incorrectly assuming a type implements an unsafe trait instead of a safe one

[2022-09-20 16:17] apiraino commented on #101872
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101872.20Performance.20regression.20with.20niche.20optimization)).

@rustbot label -I-prioritize +P-medium

[2022-09-20 16:55] compiler-errors commented on #102039
Can't seem to reproduce when checking out and running `cargo +nightly doc`?

[2022-09-20 17:00] compiler-errors commented on #102039
Got this instead:

[code]

[2022-09-20 17:18] estebank commented on #101899
Better to leave it. The team can remove it ourselves on the next t-compiler meeting if we collectively decide not to track this as closely (and rely on t-libs notifying us if we need to revisit).

[2022-09-20 17:26] lyming2007 commented on #101208
commit the fix https://github.com/rust-lang/rust/pull/102062

[2022-09-20 17:32] adamgemmell commented on #101658
Smaller views of a base register are considered equivalent to the base register, so the vreg class should be used instead. @CryZe was able to solve their issue by using template modifiers: `{z:d}`

[2022-09-20 17:38] weiznich commented on #100712
@lcnr Yes that seems like a duplicate. Will close that one and subscribe to the other issue. Is it planed to fix that someday or not? I'm asking because I'm currently trying to design a proc marco derive where such impls would be nice to have, otherwise I need to find other ways to implement the required functionality.

[2022-09-20 17:45] Sciencentistguy opened #102063 "Diagnostic for comparison between Option<&str> and Option<String> suggests unconditional allocation"
Given the following code:

<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=79254307273b4f3879568ed37ef40f43>

[code]

The current output is:

[code]

I think a better suggestion would be to use `Option::as_deref()` or similar here, rather than unconditionally allocating a new string.

[2022-09-20 17:51] cuviper commented on #102024
Stated another way: the `zip_eq` function itself is not panicking yet, only returning the lazy `ZipEq` iterator. The actual panic won't be raised until the iterator is advanced that far, which may happen under any arbitrary combination of iterator methods.

The similar change proposed in rayon-rs/rayon#977 does work because `IndexedParallelIterator` already knows its length, so its `zip_eq` can im

[2022-09-20 18:00] cuviper commented on #102024
It would be interesting if the `#[track_caller] fn zip_eq` could directly access and store something like `panic::Location` within `ZipEq`, so that could be reported in the later assertion message.

[2022-09-20 18:02] rdvdev2 commented on #100717
I have to abandon `rustc_passes` (more details in #100870). Feel free to continue to work on it.

[2022-09-20 18:15] cuviper commented on #102024
Oh, I think you *can* do that with [`Location::caller()`](https://doc.rust-lang.org/std/panic/struct.Location.html#method.caller) -- have you tried that?

[2022-09-20 18:24] the8472 commented on #102024
It might be possible to do this on a best-effort basis by checking whether there's any overlap between the `size_hint`s.

[2022-09-20 18:25] hkmatsumoto opened #102065 "Importing `rustc_driver` interferes with `rustc_codegen_llvm` items and leads to a linking error"
I tried this code, which builds and runs without problem:

[code]

However, after I make this change:
[code]
I expected to see this happen: The compiler builds without errors.

Instead, this happened: The linking process fails with the message shown in "Output" section below.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Output</summary>
<p>

[code]

</p>
</details>