[2021-04-26 13:52] jyn514 opened #84588 "rustdoc: Get rid of `Cache::extern_locations` and calculate the info on-demand"
Right now, `extern_locations` is populated like this: https://github.com/rust-lang/rust/blob/d81d7ab203207c4110fbf1919a99345f7e9c1498/src/librustdoc/formats/cache.rs#L158-L171

All of these can be computed on-demand with only the CrateNum, TyCtxt, and `extern_html_root_urls`. We should do so to avoid doing more work than necessary (and taking up lots of memory).

Mentoring instructions:

1. Add fu

[2021-04-26 13:53] jyn514 commented on #84588
Note that this is blocked on https://github.com/rust-lang/rust/pull/84494 so you can construct an ExternalCrate with only the CrateNum.

[2021-04-26 14:16] #25725 closed

[2021-04-26 14:52] nikomatsakis commented on #61997
I am beginning work towards stabilizing this.

@rustbot claim

[2021-04-26 15:11] infinity0 commented on #79799
This is still not fixed, I see the test failures still in 1.51 https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=s390x&ver=1.51.0%2Bdfsg1-1%7Eexp2&stamp=1619448544&raw=0

[2021-04-26 15:12] infinity0 commented on #79799
e.g. on s390x:

[code]

[2021-04-26 15:16] oli-obk commented on #79799
we need the same fix (as the one in #79999 ) for mir::Constant

[2021-04-26 15:17] steffahn opened #84591 "HRTBs are unsound: HRTB transfers to subtraits with weaker implied bounds."
I’m giving an exploitation below at the end of this description. This is my interpretation of where exactly the unsoundness lies:

If I have a trait hierarchy
[code]
then a higher ranked bound
[code]
does/should only apply to such lifetimes `'a`, `'b` that fulfill the outlives-relation `'a: 'b`.

However, the bound
[code]
seems do imply the bound
[code]
and in this one, the lifetimes `'a` and `'b`

[2021-04-26 15:32] wabain opened #84592 "Malformed suggestion for filling in multiple placeholder return lifetimes"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9e30134f99564e5092d0d3656558a43a).

I tried this code:

[code]

I expected to see an error message suggesting adding a named lifetime `'a` to the returned type `TwoLifetimes<'a, 'a>`.

Instead, the suggested substitution is the malformed `TwoLifetimes<'_<'a, 'a>, '_>`.

[code]

The linked playground shows that th

[2021-04-26 15:48] joshlf commented on #74985
Same API, but iterating backwards. I have a use case in which I need to convert either a prefix or a suffix of a slice to an array reference. This API is perfect for the prefix use case, and I'd love to be able to use it for the suffix use case as well.

[2021-04-26 15:54] nikomatsakis opened #84593 "Blog post announcing Rust 2021 feature set"
We plan a blog post announcing the Rust 2021 Feature Set and introducing the key ideas of the edition. This issue is a placeholder to track that work item on the [Rust 2021 Project Board](https://github.com/orgs/rust-lang/projects/7).

[2021-04-26 15:54] nikomatsakis commented on #84593
@rustbot assign @m-ou-se

[2021-04-26 15:57] lrh2000 commented on #79009
@rustbot claim

I encountered this issue on Arch Linux using GDB 10.1. Then I built the latest GDB from source and the problem remains the same. So I spent some time to investigate why the problem occurs.

As said by @infinity0, there are actually two separate problems. The first one is minor. It simply means that with respect to the Rust language, GDB won't try to interpret pointers as strings an

[2021-04-26 15:58] nikomatsakis opened #84594 "Migration lints for 2021 prelude"
The 2021 Edition plans to have a new prelude, which will include a number of new traits. This means that new methods will be in scope which could introduce ambiguities into some code bases if they are using methods with the same name (but from different traits). We need a migration lint that detects such cases and suggests a rewrite into fully qualified form: e.g., `x.foo()` would become something

[2021-04-26 16:01] nikomatsakis commented on #84594
@rustbot assign @djc

I believe @djc was planning to write mentoring instructions here, so I'm assigning to them. We discussed it a bit on zulip; [my plan](https://zulip-archive.rust-lang.org/268952edition2021/55892TheWeeklyEditionoftheEditionUpdatesEdition5.html#235205451) and @djc's [somewhat simpler plan](https://zulip-archive.rust-lang.org/268952edition2021/55892TheWeeklyEditionoftheEditionUpd

[2021-04-26 16:02] jackh726 commented on #84591
Just wanted to write a couple thoughts:
First,
[code]
is kind of the wrong naming. Here `Subtrait` is actually a supertrait of `Supertrait`. Naming is backwards.

Second, I wonder if this might just be solved to make this `fn convert<T: ?Sized>(x: &'a T) -> &'b T;` not allowed as-is. Theoretically, that shouldn't be WF unless `'a: 'b`.

[2021-04-26 16:03] nerosnm opened #84595 ""Unexpected `(` after qualified path" when constructing an otherwise valid path"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=23d8fee53f05f5656d51ae3b6525395d

The current output is:

[code]

This arises from trying to construct an expression like `<$foo as Foo>::Error::Corge(_)`, but seems to only be a syntactic problem, because the following alternative is allowed:

[code]

I'm not sure whether to suggest that the diagnost

[2021-04-26 16:03] newpavlov commented on #74985
@joshlf
Both slice of arrays and custom iterator type would implement the [`DoubleEndedIterator`](https://doc.rust-lang.org/beta/std/iter/trait.DoubleEndedIterator.html), so your use case does not need a separate reverse method.

[2021-04-26 16:06] estebank commented on #84595
cc @petrochenkov

[2021-04-26 16:07] steffahn commented on #84591
How did I miss this… One moment, let me fix this……

Why should it not be WF? The implementation could just `panic!()` unconditionally. The only bounds necessary for the type are `T: 'a` and `T: 'b`. By the way are you referring to the declaration of the implementation of this method that should be rejected?

[2021-04-26 16:08] nerosnm commented on #84595
Come to think of it, the linked playground was meant to demonstrate the kind of situation in which this might arise, but a more minimal repro is possible:

[code]

[2021-04-26 16:34] Aaron1011 commented on #84429
This is caused by the fact that we currently map `ExpnId::root()` from a foreign crate to `ExpnId::root()` frrom the current crate during hygiene decoding. However the two root `ExpnIds` may have a different edition, so we end up using the current crate's edition instead of the foreign crate's edition.

[2021-04-26 16:41] newpavlov commented on #74985
Ah, I misunderstood your use case, you want `[0, 1, 2, 3, 4, 5, 6]` to be split into `[4, 5, 6], [1, 2, 3], [0]`, not into `[6], [3, 4, 5], [0, 1, 2]`. It indeed requires a separate method.

[2021-04-26 16:56] klensy opened #84596 "nightly docs missing methods"
Currently nightly docs on https://doc.rust-lang.org/ broken:
1. For some pages methods not shown in main area, for example: https://doc.rust-lang.org/nightly/std/primitive.str.html (no methods in main area, clicks on methods in left part don't scroll to methods)
2. For some methods links on the left side not clickable, for example https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html try to cl

[2021-04-26 16:57] joshlf commented on #74985
Yep, exactly 😃

[2021-04-26 17:21] RalfJung commented on #84538
The latest version 716 of `rustc-ap-rustc_ast` is still too old, it does not yet use the `const_fn_unsize` feature gate... shouldn't new versions be published automatically?

[2021-04-26 17:27] tdelabro commented on #84588
@rustbot claim

[2021-04-26 17:49] YaLTeR opened #84598 "E0605 suggests invalid cast"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=46a86936d28608b95d4e28854b854d80

[code]

The current output is:

[code]

However, this does not make a valid cast. The valid cast would use `&*f` as far as I can tell (it still can't be called but regardless).

[2021-04-26 17:53] ehuss commented on #84596
I believe this is being fixed in #84552.

[2021-04-26 18:03] shepmaster commented on #82656
Duplicate of #70919?

[2021-04-26 18:31] hkratz commented on #68455
The compatible API in [simdutf8](https://github.com/rusticstuff/simdutf8) v0.1.1 is now as a fast on small valid inputs and up to 22 times faster on large valid non-ASCII strings (three times as fast on ASCII) - x86-64 with AVX 2 support.

![image](https://user-images.githubusercontent.com/3736990/116132319-b4fe4000-a6cd-11eb-8b26-4befe47f0ece.png)

If there is a way forward to get this into std o

[2021-04-26 18:46] nikomatsakis opened #84599 "Implement RFC: Reserved prefixes in the 2021 edition"
Implementation issue for RFC https://github.com/rust-lang/rfcs/pull/3101.

General tracking issue: https://github.com/rust-lang/rust/issues/84978

This issue has been assigned to @lrh2000 via [this comment](https://github.com/rust-lang/rust/issues/84599#issuecomment-840435689).

[2021-04-26 19:27] Aaron1011 commented on #84572
Duplicate of https://github.com/rust-lang/rust/issues/84341

[2021-04-26 19:30] calebcartwright commented on #84538
They get published weekly, on Tuesday's

However, depending on how big an impact this round of updates has, we may end up resolving this with #82208 (convert to subtree and drop the AP crate dependencies)

[2021-04-26 19:56] scottmcm commented on #46871
@Halkcyon Sorry for replying super-late here.

The meeting was https://blog.rust-lang.org/inside-rust/2020/04/10/lang-team-design-meetings.html#try-blocks-try-traits-functions-that-try-oh-my, though I'm not able to find minutes from there.

But https://github.com/rust-lang/rfcs/pull/3058 merged last week, which explicitly blocks the `?`-on-`Option`-in-`Result`-functions possibility, and (as it obv

[2021-04-26 20:05] petrochenkov commented on #84595
This should be fixed once https://github.com/rust-lang/rust/pull/80080 is merged.

[2021-04-26 21:02] #69912 closed

[2021-04-26 21:05] comex commented on #38298
This also applies when the associated type mentioned by the trait's `where` clause belongs to a *different* trait.  In that case, a `where` clause on the associated type would not be a substitute.

Example [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a62a995a27b312aed31d67edfd5fc563):
[code]

[2021-04-26 21:40] jyn514 commented on #84596
Duplicate of https://github.com/rust-lang/rust/issues/84558

[2021-04-26 21:40] #84596 closed

[2021-04-26 22:40] #79885 closed

[2021-04-26 23:23] nagisa commented on #84576
You probably end up linking two distinct libcs into your binary. One static from self-contained rust build and other dynamic through dynamic dependencies on native C libraries (e.g. openssl).

In which case this would be a duplicate of https://github.com/rust-lang/rust/issues/82193

[2021-04-27 00:36] AdrianDanis opened #84604 "Duplicate symbol error when building with -Zinstrument-coverage"
We are getting a duplicate symbol build error when compiling with `-Zinstrument-coverage`. The error itself is

[code]

(Full build [here](https://ci.chromium.org/ui/p/fuchsia/builders/try/core.x64-coverage-rust-qemu_kvm-subbuild/b8848859926706728144/overview) with a RUST_BACKTRACE)

The demangled symbol is `<core::fmt::ArgumentV1>::new::<alloc::boxed::Box<dyn predicates_core::core::Predicate<str>

[2021-04-27 00:42] calebzulawski commented on #80108
Playing around with this some more in godbolt.

x86_64-unknown-linux-gnu without optimization generates:
[code]

wasm32-unknown-unknown without optimization generates:
[code]

Is it expected that `self` is not taken by reference?  Playing around with more examples indicates to me that for wasm32, vectors are never taken by reference.  It looks to me like an assumption was made somewhere that vecto

[2021-04-27 00:49] AdrianDanis commented on #84604
Although there's nothing that looks like a cause, the actual code change that triggered the build failure was [https://fuchsia-review.googlesource.com/c/fuchsia/+/514541/](https://fuchsia-review.googlesource.com/c/fuchsia/+/514541/)

[2021-04-27 01:02] thomcc commented on #74985
Yeah, array_rchunks is definitely worth having.

[2021-04-27 01:10] calebzulawski commented on #80108
I think I see the problem, more or less.

Here the SIMD field is extracted:
https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/compiler/rustc_codegen_ssa/src/mir/operand.rs#L214-L217

and then here it is bitcast:
https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/compiler/rustc_codegen_ssa/src/mir/operand.rs#L223-L228

I'm not sure, but I t

[2021-04-27 01:35] richkadel opened #84605 "Tracking issue for function attribute `#[coverage]`"
This issue will track the approval and stabilization of the attribute `coverage`, needed to give developers a way to "hide" a function from the coverage instrumentation enabled by `rustc -Z instrument-coverage`.

The `Eq` trait in the `std` library implements a marker function that is not meant to be executed, but results in an uncovered region in all rust programs that derive `Eq`. This attribute

[2021-04-27 01:35] richkadel commented on #84605
cc: @tmandry @wesleywiser

[2021-04-27 01:36] ehuss commented on #84417
Thanks for the report!  Incremental builds requiring working file locks is a known issue (#49773, #59224, #66513, #76251). I believe there are some limitations of smb on macOS. The compiler at least shouldn't panic.

Some workarounds are to use a target directory on the local filesystem, or disable [incremental](https://doc.rust-lang.org/cargo/reference/profiles.html#incremental).

Since there are

[2021-04-27 01:36] #84417 closed

[2021-04-27 04:46] #84558 closed

[2021-04-27 05:37] bjorn3 commented on #80108
Yes, https://github.com/rust-lang/rust/blob/6eb956fcbb040d9d4276d97944b5c6df2f84ede8/compiler/rustc_middle/src/ty/layout.rs#L2905-L2930

[2021-04-27 08:40] RalfJung commented on #84538
Oh, just once a week? Wow yeah that sounds like a high-friction workflow...

Looks like the updates are out. And looks like the build failures are all related to https://github.com/rust-lang/rust/pull/82608 which changed many things in and around `TokenStream` -- Cc @Aaron1011
[code]
The missing associated const is easy, but I am not good enough at type golf to figure out the other two problems.^^

[2021-04-27 08:52] TsuITOAR opened #84607 "can't invoke sin() on a &{float}"
I tried this code:

[code]

I expected to see this happen: s.sin() converted to (*s).copy().sin()

Instead, this happened: no method named `sin` found for reference `&{float}` in the current scope

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-04-27 09:56] #83792 closed

[2021-04-27 09:58] lefth opened #84608 "Docs: Arguments are described in the reverse order for map_or and map_or_else"
[Result](https://doc.rust-lang.org/std/result/enum.Result.html#method.map_or) and [Option](https://doc.rust-lang.org/std/option/enum.Option.html#method.map_or) have map_or and map_or_else functions. In each case, the first parameter is used when the struct contains no value (or contains an error), while the second parameter is used when there is a value in the struct. The documentation mentions th

[2021-04-27 10:33] lcnr opened #84611 "checking for structural recursion can cause a stack overflow"
[code]
has the following output:
[code]
the stack overflow should not happen ^^

[2021-04-27 10:38] lcnr commented on #84611
the recursion happens in https://github.com/rust-lang/rust/blob/e1886935b78e62a6c23a243e48f81815ae7fd141/compiler/rustc_middle/src/ty/util.rs#L1001-L1017

Because `Foo` is not trivially self recursive this check is never hit and we keep looking into `Foo<[Bar; 1]>`, `Foo<[[Bar; 1]; 1]>` and so on.

[2021-04-27 10:53] In-line commented on #84607
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f8d962c2a867b3aaa84440074875a57f)

[2021-04-27 10:56] In-line commented on #84607
But this [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9170cd83e3f2733dab4d7bf2dd4db5b5) works

[code]

[2021-04-27 11:15] TsuITOAR commented on #84607
thx :)
rust-analyzer told me it's f64, but indeed it's {float}. now it works

[2021-04-27 11:15] #84607 closed

[2021-04-27 11:47] vext01 commented on #84395
Looked into this a little more this morning.

Here if the bytes are indeed LLVM bitcode boundaries, then we have 4 modules in the `.llvmbc` section:
[code]

I used dd to get these four parts of the dumped section into different files, e.g.:
[code]

Then used `llvm-dis` on the four resulting files. They all succeeded to disassemble.

So this confirms that rustc is encoding many modules of bitcode i

[2021-04-27 11:54] lcnr commented on #84611
cc #74224

[2021-04-27 12:21] #84408 closed

[2021-04-27 12:26] bjorn3 commented on #84395
I got it locally setup using:

[code]

I tried passing ` -Clink-arg=-flto=full`, but that didn't have any effect.

Looking at https://reviews.llvm.org/D68213 which implemented this it seems to be the case that `EmitBitcodeSection` is called before the importer pass of LTO. To be precise at line 338 of `LTOBackend.cpp`.

[2021-04-27 12:27] nagisa commented on #84605
Nit: should probably follow the pattern of `#[coverage(...)]` much like `#[inline]` and many other attributes.

[2021-04-27 12:37] Swatinem commented on #84605
Just a wish that I have:
Instead of making this a *function level* attr, it should work equally on mod or even just blocks.

Another thing I wish for would be a crate-level attr that would disable coverage for every `#[test]` fn.

[2021-04-27 13:29] JohnTitor commented on #78652
Panicking has been removed by #84547. I'm going to just close this as it's an internal attribute hence a regression test doesn't make much sense.

[2021-04-27 13:29] #78652 closed

[2021-04-27 13:34] vext01 commented on #84395
@bjorn3 In the above do you get a "multi-module" bitcode section too?

I've been pouring over this code recently too (but it's changed a little since the review you linked).

The linker plugin supports three embedding modes: `DoNotEmbed`, `EmbedOptimized` and `EmbedPostMergePreOptimized`.

For`EmbedOptimized` and the bitcode is embedded in `codegen()` which is called after `opt()` which is where a

[2021-04-27 13:38] bjorn3 commented on #84395
Yes

In `codegen()` after `EmitBitcodeSection` there is the following code:

[code]

Or at least there was as of https://reviews.llvm.org/D68213.

[2021-04-27 14:02] vext01 commented on #84395
It's moved around a little, but it looks like the ordering is:

 * a [closure is first defined to do optimise and codegen](https://github.com/llvm/llvm-project/blob/4b99f9c7db262aa55d56d3af2f228e624ff7b55f/llvm/lib/LTO/LTOBackend.cpp#L572-L582) (I assume that's what that is -- my C++ skills are comical).
 * Then [importing is done](https://github.com/llvm/llvm-project/blob/4b99f9c7db262aa55d56d3af

[2021-04-27 14:32] vext01 commented on #84395
Just to add, this may not be correct, since `world.map.4.ll` doesn't contain a `main()`.

[code]

[2021-04-27 14:36] bjorn3 commented on #84395
Can you try to put a function in one module and then call it from another module. This function should be inlined by LTO. If on of the the `world.map.*.ll` files corresponding to an input cgu still contains the function, it is pre-lto llvm-ir. Otherwise it is post-thin-lto llvm-ir.

[2021-04-27 14:38] bjorn3 commented on #84395
world.map.4.ll may be the allocator shim. Does it contain functions of form `__rust_*`?

[2021-04-27 14:39] vext01 commented on #84395
Looks like you may be right:
[code]

[2021-04-27 14:55] bjorn3 commented on #84395
I looked at the llvm ir of all the extracted bitcode files and it seems to be completely unoptimized.

[2021-04-27 15:00] vext01 commented on #84395
I think you are also right about this. It looks like we are not seeing any post-LTO bitcode.

[code]

The definition of the "other" sting and it's pointer is here in `world.2.ll`:
[code]

And its use is in a function not `main` (so `f`):
[code]

So the linker plugin isn't doing anything?! Surely not?

[2021-04-27 15:03] qiujiangkun opened #84617 "Too strict inferencing conflicting implementations with generic associate types"
I tried this code:

[code]

I expected to see this happen:
**Either** form 1 or form 2 compiles. Because form 1 and form 2 are basically the same.

Instead, this happened:
**Only** form 2 compiles. The compiler fails to inference that in `impl<T: MyTrait<Value = i32>> From<T::Value>`, `T::Value` is the same as `i32`.
[code]
### Meta
`rustc --version --verbose`:
[code]

[2021-04-27 15:08] bjorn3 commented on #84395
I think the difference between clang and rustc is that rustc directly puts llvm bitcode into the "object" files while clang believe wraps them in elf files.

[2021-04-27 15:11] vext01 commented on #84395
I don't think that's true. It's one of the things I investigated earlier:
[code]

[2021-04-27 15:28] jyn514 opened #84619 "Documentation on re-exports is ignored if the item is defined in the same crate"
I tried this code:

[code]

I expected to see this happen: The documentation is added, like it is for cross-crate re-exports:
![image](https://user-images.githubusercontent.com/23638587/116268750-9a6aac00-a74b-11eb-9a39-49b69445bd59.png)

[code]

Instead, this happened: The documentation is ignored:

![image](https://user-images.githubusercontent.com/23638587/116268785-a22a5080-a74b-11eb-8e4e-cce8

[2021-04-27 15:39] jyn514 commented on #43935
Duplicate of https://github.com/rust-lang/rust/issues/83375 (this was reported earlier, but doesn't have an MCVE).

[2021-04-27 15:39] #43935 closed

[2021-04-27 15:55] vext01 commented on #84395
Well, I'm baffled. I put prints all over libLTO (and an abort, as rustc consumes stderr otherwise):

[code]

And we get:
[code]

Which tells us that `EmbedBitcode == LTOBitcodeEmbedding::EmbedOptimized`...

It occurs to me that the std rlibs have to be "hybrid" files: executable code, but with a `.llvmbc` section (as opposed to a pure bitcode file). Because std has to be prepared to build with and

[2021-04-27 16:11] vext01 commented on #84395
And looking at the binary, `f()` **was** inlined it seems:
[code]

[2021-04-27 16:27] gidon285 commented on #36185
i have the same bug, if you still want to reproduce it, i have.

[2021-04-27 17:18] alarsyo commented on #68982
Hi @estebank, sorry for the late reply.

I think I can try and build something for the alternative to the "correct" fix you mention, i.e. manually merge an associated type equality constraint bound with another bound if the other bound is about `Foo` as well.

Making sure I understand this correctly, the difference with the previous idea would be correcting the user when he writes the equality con

[2021-04-27 17:22] jyn514 commented on #84608
Fixed in https://github.com/rust-lang/rust/pull/84609.

[2021-04-27 17:22] #84608 closed

[2021-04-27 17:30] camelid commented on #84558
Should be fixed on next nightly.

[2021-04-27 17:40] alarsyo commented on #68982
I'll start working on that "unification". Looking at #70908, I'm having a hard time identifying where I'd get started though :sweat_smile: `rustc_middle`, `rustc_typeck`, `rustc_ast_passes`...

[2021-04-27 18:10] scottmcm commented on #83595
We discussed this in the lang team meeting today.

This is an intentional bugfix to resolve a place where attributes weren't being checked but were supposed to have been.  Note that this never did anything, so any `unsafe` code that was expecting this to align things is *potentially unsound*.

(There have been a few of these, recently -- for example 1.49 fixed this on enum variants.)

---

`repr(R

[2021-04-27 18:11] #83595 closed

[2021-04-27 18:31] pnkfelix opened #84621 "Use of step_by causes some optimizations to fail to engage"
Here is some code I put on [godbolt](https://godbolt.org/z/8Wx483PET)

[code]

(I think all three of these have equivalent behavior.)

I expected to see this happen: The assembly code for all three should be optimized about the same. (In an ideal world, they would get some auto-vectorization optimizations applied, but we can talk about that separately.)

Instead, this happened: v1 yields  78 lines

[2021-04-27 19:34] nikomatsakis opened #84625 "refactor lint mechanism to support "error in new edition, lint in older editions" pattern"
We've been adding lints that, in newer editions, become hard errors. Right now we do this by manually creating either an error or a lint. (see e.g. https://github.com/rust-lang/rust/pull/83213/). We should introduce an API where we write one specification and the compiler decides, based on the edition of a particular span, whether to introduce a hard error or not.

[2021-04-27 19:37] nikomatsakis commented on #84625
I've marked this as E-mentor. I'm game to help someone with it!

Some mentoring notes:

* [rustc-dev-guide section on errors](https://rustc-dev-guide.rust-lang.org/diagnostics.html)
* Check out #83213 to see some examples of how the code to be cleaned up looks.

[2021-04-27 19:40] SkiFire13 commented on #84621
Just for the sake of comparison, replacing the `for` loop with a `for_each` yields 46 lines of assembly, the main difference with the v3 being that the first iteration is executed before the loop. [godbolt](https://godbolt.org/z/d7dj71o71)

[2021-04-27 19:41] petrochenkov commented on #84625
`BARE_TRAIT_OBJECT` is not a good case for using such mechanism - https://github.com/rust-lang/rust/pull/83213#issuecomment-800603507.

[2021-04-27 19:48] Manishearth opened #84626 "Ability to run non-toolstate-dependent tests only"
Currently if you want to run the full Rust testsuite, you have to run `./x.py test`.

However, this fails when e.g. `rustfmt` is broken. We're hoping to fix that in https://github.com/rust-lang/rust/pull/82208 , but ideally it would be possible to ask `x.py` to run all the tests that Rust CI guarantees will pass.

(I may also be missing a config option)

Thoughts?

[2021-04-27 19:55] Aaron1011 commented on #84538
I've opened https://github.com/rust-lang/rustfmt/pull/4817 to fix the rustfmt breakage

[2021-04-27 20:02] nikomatsakis commented on #84625
OK; the mechanism may not be used enough to warrant existing =)

[2021-04-27 20:02] camelid commented on #83595
Should `I-nominated` be removed now that the issue is closed?

[2021-04-27 20:19] #84131 closed

[2021-04-27 20:23] cuviper opened #84628 "run-make-fulldeps/c-link-to-rust-va-list-fn fails on s390x"
`./x.py test run-make-fulldeps` fails this test on native `s390x-unknown-linux-gnu`:

[code]

(This is not a new failure, but I am cleaning up issues from downstream Red Hat bugzilla.)

[2021-04-27 20:24] cuviper commented on #44930
Note that s390x hits an `LLVM ERROR` in the test for this feature -- #84628.

[2021-04-27 20:33] camelid commented on #83542
I've been trying to work on this a little bit, but I've been running into a lot of ICEs. It seems like this code might need a lot of other cleanup...

[2021-04-27 20:40] Timmmm opened #84629 "cfg(test) is not set during integration tests"
`#[cfg(test)]` is not set when running [integration tests](https://doc.rust-lang.org/book/ch11-03-test-organization.html#integration-tests). That page says:

But that sounds to me more like it's talking about `pub`, `pub(crate)` and so on.

There's [an unsatisfying workaround](https://stackoverflow.com/a/47698997/265521) but it would be a lot simpler if `#[cfg(test)]` was simply enabled for integr

[2021-04-27 20:45] Mark-Simulacrum commented on #84626
It... doesn't fail? Or at least, the intent is that it should succeed, just printing out some failed tests prior to doing so. It may be necessary to configure a toolstate file for this to happen, I'm not sure.

[2021-04-27 20:46] Mark-Simulacrum commented on #84626
I think a "only build/test what is guaranteed to work" is likely somewhat duplicating https://github.com/rust-lang/rust/issues/74709, in some sense.

[2021-04-27 20:50] mbrobbel opened #84630 "Trait bounds of methods from `Deref` impls are not rendered"
In https://github.com/rust-lang/rust/pull/80653 methods from `Deref` targets were added to `rustdoc` output. However, it seems that trait bounds on these methods are not rendered.

I tried this code:

[code]

I expected to see this happen:

The relevant methods added by the `Deref` impls on `Baz` and `Qux` are added to the output of `rustdoc`. For `Baz` this is `generic`, and for `Qux` this is `ge

[2021-04-27 20:54] Oli-Ar opened #84631 "Compiler crash on trying to return Self::Output from function using const generics."
### Code

The compiler crashes on this function, specifically with the return type being `Self::Output`

[code]

I can get the code to compile by changing the return type of `mul()` to be `Matrix<T, X, Y>`. I've tested changing the value of `Self::Output` but the error doesn't change until I return something which isn't `Self::Output`.

<details><summary><strong>Matrix struct definition</strong></

[2021-04-27 21:04] Nemo157 opened #84632 "rustc stack overflow with self-recursive concat! macro"
I tried this code:

[code]

I expected to see this happen: An error message about exceeding some recursion limit

Instead, this happened:
[code]

### Meta
Tested on stable 1.51.0 + `1.53.0-nightly (2021-04-26 9684258936dabda2ba49)`

[2021-04-27 21:20] Nemo157 opened #84633 "Cannot determine resolution for absolute-path-reexported-macro-generated-`#[macro_export]`ed-macros in some contexts"
I tried this code:

[code]

I expected to see this happen: It compiles and prints `Hello Ferris`

Instead, this happened:

[code]

This is a very specific case, if the macro `m` was not macro-generated, it works fine:

[code]

If instead `m!()` is not evaluated within the `concat!` context it also works fine:

[code]

### Meta
Tested on stable 1.51.0 and `1.53.0-nightly (2021-04-26 9684258936dabda

[2021-04-27 21:24] ehuss commented on #84626
If a tool like `rustfmt` fails to build (for a test), it should be ignored (x.py should exit 0). If the tests fail to run, then it does exit with an error (and I don't think that can be overridden).  The checktools script just ignores if x.py itself fails (tool errors are reported in the toolstate).

@Manishearth Is there some scenario you are running into where `./x.py test` is failing in a way t

[2021-04-27 21:42] Nemo157 opened #84634 "rustdoc shows the anonymous lifetime in the foreign implementations section of re-exported traits"
Compare the docs for [`futures_core::stream::Stream`](https://docs.rs/futures-core/0.3.14/futures_core/stream/trait.Stream.html) vs [`futures::stream::Stream`](https://docs.rs/futures/0.3.14/futures/stream/trait.Stream.html) which is just a re-export of the former. In the original docs the anonymous lifetime on the `impl<T: Stream + Unpin> Stream for &mut T` is not shown, in either the sidebar or

[2021-04-27 22:07] marmeladema commented on #60705
GDB 10.2 has been released with the new rust demangler: https://www.gnu.org/software/gdb/news/

Does this mean we can start the crater run?

[2021-04-27 22:30] jonas-schievink commented on #84633
Looks like it only happens for certain builtin macros in place of `concat!`. Replacing it with `assert!($crate::foo::m!() == "")` makes the error go away, while `format_args!($crate::foo::m!())` and `include!($crate::foo::m!())` still reproduce it.

[2021-04-27 22:35] danielhenrymantilla commented on #84633
I believe it is related to the eager expansion mechanisms tied to some built-in macros, such as:

  - `concat!`
  - `include{,_bytes}!`
  - `format_args!`
  - `{,option_}env!`
  - and potentially other `rustc_builtin_macro` macros. `assert!`, for instance, is not a built-in macro.

[2021-04-27 22:38] jonas-schievink commented on #84633
`assert!` is built-in, but you're right that it can be due to eager expansion (I was initially excluding this possibility since `format_args!` is not an eager macro in the rust-analyzer implementation)

[2021-04-27 22:55] nikomatsakis commented on #84570
Hmm

[2021-04-27 22:56] nikomatsakis commented on #84570
I don't think you can remove the `undo_log`, that's needed for probes and other things, but I might be forgetting something. There might be some simplifications possible.

[2021-04-28 00:01] camelid commented on #84632
Note that the crash also occurs without `#[macro_export]`.

Based on testing with Godbolt, this doesn't seem to be a regression, or at least not a recent one.

[2021-04-28 01:59] carols10cents opened #84637 "rustc_deprecated suggestions don't always cargo fix correctly"
Rust version: stable 1.51.0

Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d2ca5441d3a7474ee44cde763a2dc8a4) that uses [the `std::str::trim_left` function that is marked `rustc_deprecated`](https://github.com/rust-lang/rust/blob/4137088d9da94f693b287f35e2b17782c0b1a283/library/core/src/str/mod.rs#L1835-L1840):

[code]

The current output is:

[c

[2021-04-28 02:29] jsha opened #84639 "rustdoc: "copy path" icon should have a title attribute"
To indicate what it does, i.e. "Copy use declaration to clipboard." Also, right now the action is triggered by an `onclick=` attribute in the HTML. It would be slightly nicer to use `addEventListener` in main.js, so it's easy to see in one place where all handlers are added.

[2021-04-28 03:23] jyn514 commented on #84637
2 |     let foo = str::trim_left("   aoeu");
  |                    ^^^^^^^^^ help: replace the use of the deprecated associated function: `trim_start`

Yes, I think that would work - but it seems like a slightly less friendly error. If you suggested `str::trim_start` instead that should fix the new code while keeping the same span.

[2021-04-28 03:25] jyn514 commented on #84637
Oh, I guess that doesn't work if it's `s.trim_start()` instead of `str::trim_start(&s)`. In that case, yes, shrinking the span seems like a good approach.

[2021-04-28 03:56] calebcartwright commented on #84538
Yeah it's a real time sink to say the least :upside_down_face:

That's great to hear. It sounds like a much better approach for working on tools, and I'm super excited that we're finally moving rustfmt to this model. I think the additional change to a subtree will help us out a lot too, but even on the off chance we end up going back to a submodule, not being constrained by the auto publish crates

[2021-04-28 04:05] hameerabbasi commented on #84632
Assigning `P-medium` as part of the prioritization working group discussion [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384632.20rustc.20stack.20overflow.20with.20self-recursive.20concat!.20mac.E2.80.A6) and removing `I-prioritize`.

@rustbot modify labels -I-prioritize +P-medium

[2021-04-28 04:25] 756445638 commented on #84631
what is Data struct Definition?

[2021-04-28 05:59] smrjdhv commented on #84534
**Here are my machine specs:**
MacBook Pro (15-inch, 2017)
2.9 GHz Quad-Core Intel Core i7
16 GB 2133 MHz LPDDR3
Intel HD Graphics 630 1536 MB
macOS Big Sur, version 11.2.1

[2021-04-28 06:07] ubamrein opened #84641 "Clang-sys does not build on rust 1.53 Nightly"
I was building some library, which depended on `clang-sys` but it fails on `rustc 1.53.0-nightly (d0695c908 2021-04-12)` with a lot of error messages. When looking for the error, old issues from 2017 come up, related to `rustc-serialize`.

A prototypical example of the hundreds of errors:

[code]

### Meta

This bug only happens on nightly.

`rustc --version --verbose`:
[code]

I also created an i

[2021-04-28 06:42] rcls commented on #29625
Is it intentional that the code below compiles? It looks wrong to me, as it appears to move out of a mutable reference.
[code]
For comparison, this doesn't compile:
[code]

[2021-04-28 06:44] hellow554 commented on #82820
Funny enough, when using `_` as variable name, the suggestion will get displayed correctly:

[code]

[code]

[2021-04-28 06:48] hellow554 commented on #82820
This seems to be fixed on nighlty, but not on beta... Let me try to find it

[2021-04-28 06:55] cuviper commented on #29625
@rcls I think that's not calling *your* `FnOnce`, but rather the blanket `impl<F: FnMut> FnOnce for &mut F`, and you'll have infinite recursion.

[2021-04-28 06:57] Oli-Ar commented on #84631
It is this trait alias:
[code]
I've updated the original issue too to show this

[2021-04-28 07:02] oli-obk commented on #83276
This is expected behaviour.

[code]

Has the same lint, so we shouldn't have different behaviour here

[2021-04-28 07:02] #83276 closed

[2021-04-28 07:04] hellow554 commented on #82820
But, as a sidenote: How could this ever be commited to master? I mean, it's obviosly wrong so say `&a: str` :/

I hope, that in the future the review process can be improved to detect such errors early on.

[2021-04-28 07:51] RalfJung commented on #84538
Agreed. :) If you have any questions about how we're solving some specific issue that comes up in Miri, feel free to ping me any time. :) (But we haven't moved to subtrees yet with Miri, so for subtree-specific questions, the clippy people would probably be the right people to ask. When clippy moved from submodule to subtree, it took a few weeks to iron out the kinks and get all the tooling around

[2021-04-28 07:55] Urgau commented on #84641
cc https://github.com/rust-lang/rust/issues/84162
Fixed by https://github.com/rust-lang/rust/pull/84130

[2021-04-28 07:57] #84641 closed

[2021-04-28 08:43] Luro02 commented on #27721
This might be obvious for some of you, but it has not been mentioned yet:

Before stabilizing the API (seems like this might take some time) one should consider waiting for https://github.com/rust-lang/rust/issues/44265:

[code]

I think using an associated lifetime for the `Searcher` makes more sense, because it depends on the lifetime of the haystack, which is passed as a parameter to the functi

[2021-04-28 09:34] JohnTitor commented on #84533
Assigning `P-critical` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384533.20It.E2.80.99s.20possible.20to.20have.20the.20validity.20of.20a.20function.20ret.E2.80.A6) and removing `I-prioritize`.

[2021-04-28 09:36] JohnTitor commented on #84591
Assigning `P-critical` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384591.20HRTBs.20are.20unsound.3A.20HRTB.20on.20supertrait.20provides.20HTRB.20.E2.80.A6) and removing `I-prioritize`.

[2021-04-28 09:48] the8472 commented on #84621
Shouldn't that kind of code be written with [align_to](https://doc.rust-lang.org/std/primitive.slice.html#method.align_to) instead of stepping?

[2021-04-28 09:57] apiraino commented on #84429
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384429.20matches!.20problem.20with.20edition.202021) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-28 09:58] apiraino commented on #84455
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384455.20no.20MIR.20available.20for.20DefId) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-28 10:03] matklad opened #84647 "derive(Clone, Debug) should not prevent "field is never read" from firing"
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ddbb661ad3a117642c4f750b31da4b18

Only `A`'s field triggers the warning. It's clear why `B` doesn't do this, but it clearly should. Doesn't seem easy to fix though :(

[2021-04-28 10:46] #84180 closed

[2021-04-28 10:46] #81656 closed

[2021-04-28 11:20] leonardo-m opened #84649 "Vec::push_in_capacity ?"
This enhancement suggestion looks a bit silly to me, but I think it's worth asking for an opinion in this bug tracker.

I think this is a reasonable usage pattern of `Vec::spare_capacity_mut` and `Vec::set_len`. I've used it with a larger SomeData to avoid both an useless initialization and the use of `Vec::push` that in those cases is slightly slower, the disadvantage is that this code contains `

[2021-04-28 11:33] SkiFire13 commented on #84621
Isn't that `unsafe`? I would rather use the unstable [`as_chunks`](https://doc.rust-lang.org/std/primitive.slice.html#method.as_chunks) which even auto-vectorizes ([godbolt](https://godbolt.org/z/sP3oPPzbf)) or the stable counterpart [`chunks_exact`](https://doc.rust-lang.org/std/primitive.slice.html#method.chunks_exact) which however is only unrolled ([godbolt](https://godbolt.org/z/j4zxnh5cK)).

[2021-04-28 11:49] pickfire commented on #68455
@hkratz What about arm and those cpu without simd? Will there be a regression?

[2021-04-28 12:08] hkratz commented on #68455
On arm we would just use the current standard library `from_utf8()` implementation until the required SIMD intrinsics are implemented. On older x86 CPUs without SSE 4.2 or AVX 2 we fall back to the scalar implementation at runtime after the initial detection. The overhead is one additional fn pointer call on subsequent from_utf8() calls.

[2021-04-28 12:13] the8472 commented on #84621
I was thinking of working on a pre-aligned buffer so you can cast pairs directly to u16. But yeah, if you have to take arbitrary input then `as_chunks` will be the correct choice.

[2021-04-28 12:16] hi-rustin commented on #84637
@rustbot claim

I want to try it.

[2021-04-28 12:23] hellow554 commented on #84637
This one is very interesting and I'm not really sure if it's still `E-easy`.

So, my first step was to modify https://github.com/rust-lang/rust/blob/76a04dd3f8b2500d9e524dca122814fd5a3e25e4/src/test/ui/deprecation/suggestion.rs#L27 and add something like this:

[code]

Next the https://github.com/rust-lang/rust/blob/76a04dd3f8b2500d9e524dca122814fd5a3e25e4/src/test/ui/deprecation/suggestion.fixed#

[2021-04-28 12:31] BoxyUwU commented on #84631
having trouble reproducing this, could you make an example on the rust playground that gives this ICE?

[2021-04-28 12:47] Nemo157 opened #84651 "`format!` error messages point to wrong characters when using macro-generated literals"
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

Another more complicated example, is using `include_str!` (with a self-include to make playground testing easier):

[code]

Similar to https://github.com/rust-lang/rust/issues/81070 it'd be very nice if this was able to point to the location in the included file, but if it can't it should probably ha

[2021-04-28 12:58] JohnTitor commented on #84167
cc #84341

[2021-04-28 13:05] #83309 closed

[2021-04-28 13:11] fee1-dead commented on #84649
@rustbot label C-enhancement

[2021-04-28 13:11] fee1-dead commented on #84649
@rustbot label -C-enhancement C-feature-request

[2021-04-28 14:17] weiznich commented on #79560
This likely can be closed as diesel is part of the rustc test suite since 99a33b3

[2021-04-28 14:46] Geobert opened #84656 "Warning about "panic message is not a string literal" on `assert!` could be improved"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f8bcc7c1d5be93360f283c8662411b59

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

idea from https://old.reddit.com/r/rust/comments/mzpr3p/panic_message_is_not_a_string_literal/gw57qz8/

[2021-04-28 15:08] dalcde commented on #84649
It might be better to return a `Result<(), T>` instead to let the user handle the failure case.

[2021-04-28 15:30] steffahn opened #84657 "Type alias impl trait doesn’t properly enforce outlives relations."
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0cc5cc0200664652a55a3387404bc5a1))

I would’ve expected rustc to complain about the `_defining_use` not matching the `type Converter<'a, 'b>` with a suggestion to turn it into `type Converter<'a: 'b, 'a>`.

@rustbot modify labels: A-typesystem, A-lifetimes, A-traits, A-impl-trait, F-type_alias_impl

[2021-04-28 15:31] spastorino commented on #79560
Thanks @weiznich, closing this issue then.

[2021-04-28 15:31] #79560 closed

[2021-04-28 15:43] erickt commented on #78485
Have we considered extending `ReadBuf` to be generic on the type, rather than be constrained to `u8`? I'm guessing much of `ReadBuf` is generic over the type.

This came up because I'm looking into fixing some [UB in rayon](https://github.com/rayon-rs/rayon/issues/851), which is passing around uninitialized `&mut [T]` in its collect iterator. I think the main thing making rayon use this over a `&m

[2021-04-28 15:44] FrederikTheDane opened #84659 "Trait with a lifetime parameter, associated constant, and an associated type can trigger an ICE"
The code below will trigger an ICE on the latest nightly build
This is as small as i could make it while still triggering the error

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-28 15:46] #83601 closed

[2021-04-28 15:53] djc commented on #78485
I made very similar points here:

https://internals.rust-lang.org/t/readbuf-as-part-of-rust-edition-2021/14256/9?u=djc

[2021-04-28 16:26] GuillaumeGomez commented on #83332
Currently working on methods and trait implementations.

[2021-04-28 16:44] steffahn opened #84660 "Types defined with type_alias_impl_trait can be used for dispatch in trait impls. Which is unsound."
Let’s define a type:
[code]

Well, a straightforward trait implementation does not work:
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ca0203907352dece29a4645be0e5bfba))

But `rustc` doesn’t complain about anything slighty more complex at the moment, e.g.
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&

[2021-04-28 16:46] steffahn commented on #84660
@rustbot label: -A-lifetimes

[2021-04-28 17:15] leonardo-m commented on #84649
An extra note. Currently on this code:
[code]
I think LLVM12 isn't able to see that code will never really and doesn't need a bound test:

[code]

[2021-04-28 17:30] NieDzejkob opened #84664 "Suggest removing `let` when unused variable shadows another variable"
Inspiration: [this StackOverflow post](https://stackoverflow.com/questions/67296177/rust-book-listing-10-15when-i-use-let-largest-item-the-largest-cant-be)

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Some [discussion on how to implement this](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/get.20all

[2021-04-28 17:37] scottmcm opened #84666 "The `type_name` of tuple-structs and their ZST function item are the same"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f6fa0a5aa4d0a3d422c2db601a77c304

[code]

I expected to see this happen:
The two names would be different, so that in logging I'd be able to notice I passed the wrong thing.

Instead, this happened:
[code]

Context:
This came up in the bevy discord server: https://discord.com/channels/691052431525675048/742

[2021-04-28 17:39] steffahn commented on #77026
@camelid that’s not a crash though, right? @rustbot label -I-crash

[2021-04-28 18:02] JAicewizard opened #84667 "In latest nightly observing a to-be returned variable changes its value."
### Code

I have not been able to reproduce this with pure c code. I found this while working with cgo+rust, and managed to make a small-ish reproducible setup.
I tried this code:

lib.rs
[code]
toml file
[code]
positrs.h
[code]
c file
[code]
run
[code]
And you will see that this prints `00011110000111010100101001000110⏎`
This is (to me) clearly wrong since dividing a negative number with a positi

[2021-04-28 18:49] alexcrichton commented on #74372
**tl;dr;** I'd like to ask if a @rust-lang/libs team member would be willing to
propose an FCP on this issue for stabilization.

---

Ok I think enough things have landed now that I'd like to propose that this
issue is considered for stabilization. I've read over the OP and it's still
quite accurate, the only difference is that the [WebAssembly SIMD
proposal][simd] is now at [phase 4] which is Web

[2021-04-28 19:25] pubfnbar opened #84669 "more generic const expr linker errors"
You can also see a somewhat similar compilation error on Rust Playground [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b7143007ecb6190ca675d0112f83a99f).

### Code

I tried this code:

[code]

And I get this compilation error:
[code]

### Version it worked on

It most recently worked on: rustc 1.53.0-nightly (5e65467ef 2021-03-26)

### Version with regression

`ru

[2021-04-28 19:31] tmiasko commented on #84667
The binprintf contains undefined behaviour because result of a bitwise shift is not representable (which may or may not be relevant to the issue if any).

[2021-04-28 19:35] hameerabbasi commented on #84669
Bisected:

searched nightlies: from nightly-2021-03-01 to nightly-2021-04-28
regressed nightly: nightly-2021-03-28
searched commits: from https://github.com/rust-lang/rust/commit/5e65467eff3d1da4712586d8402d1d2e1d6654bc to https://github.com/rust-lang/rust/commit/9b0edb7fddacd6a60a380c1ce59159de597ab270
regressed commit: https://github.com/rust-lang/rust/commit/9b0edb7fddacd6a60a380c1ce59159de597a

[2021-04-28 19:42] nikomatsakis commented on #51999
Can someone summarize the differences in behavior under discussion here? I am not following closely enough to really tell.

[2021-04-28 19:48] CryZe commented on #74372
I'm still somewhat skeptical of those being the names for the `v128.const` constructor functions as that means no such types could ever live in this module, and idk if we truly want to block off that possibility forever. I agree that for now just a v128 type and these free standing functions is fine, but maybe those constructor functions could be named with a `_const` prefix like the actual instru

[2021-04-28 19:54] hameerabbasi commented on #84455
I can't reproduce with the latest nightly and cargo.

[code]

Are there any further instructions for reproducing this?

[2021-04-28 19:57] apiraino commented on #84669
Assigning priority as discussed as part of the [Prioritization Working Group procedure](#) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium +requires-nightly -regression-from-stable-to-nightly

[2021-04-28 19:58] jonas-schievink commented on #84669
With `associated_type_bounds` removed:

[code]

Note that removing the `const_generics` feature gate makes it compile and run without a problem.

[2021-04-28 19:59] MabezDev commented on #84455
Apologies, forgot to mention you'll need to add

[code]

Or build for a target that does not have panic unwinding enabled by default.

[2021-04-28 20:02] nikomatsakis commented on #84526
That makes sense to me

[2021-04-28 20:09] richkadel commented on #84605
I considered this, and discussed it in the initial PR. I'll copy those comments to this tracking issue, to make it easer to read and reply:

@tmandry said:

@richkadel replied:

@tmandry replied:

[2021-04-28 20:11] JAicewizard commented on #84667
note that the wrong behaviour is without the printf, and that simply observing x is enough to "fix" it. even comparing to 0 makes it work.

[2021-04-28 20:15] JAicewizard commented on #84667
Some more possibly usefull informatio, I have a bunch of very similar functions, with the only diference being the operation being done on `a` and `b` (*,+,sqrt, round, truncate) and this is the only one showing this behaviour.

The bitpattern itself is also not interesting, as long as the result of the operation is negative it gives this result. Wen pluging in 2 positive posit bit values or 2 neg

[2021-04-28 20:27] richkadel commented on #84605
@Swatinem - Can you expand on this? What are the use cases for disabling coverage at the crate level, or in crate tests?

For example, the use case addressed in PR #83601 is clear: The implementation of `Eq` required adding a special marker function (which gets added in every `struct` that derives from `Eq`) that was not intended to be called. Every `struct` that derived from `Eq` could never achi

[2021-04-28 20:31] richkadel commented on #84605
One more comment for clarity:  PR #83601 has been merged and adds the feature-gated `#[no_coverage]` attribute. The attribute can be enabled on an individual function (by also adding `#[feature(no_coverage]`) or at the crate level.

[2021-04-28 20:34] richkadel commented on #84605
I should have added: This tracking issue will remain open until the attribute is stablized. This means there is still an opportunity to change the attribute, based on the tracking issue feedback.

Thanks!

[2021-04-28 20:49] tmiasko commented on #84667
The `mask` calculation in `binprintf` on the C side, which as far as I can see is consistently used to demonstrate the issue, shifts 1 by 31 which is undefined behaviour. Anything it prints should be considered untrustworthy until it is fixed.

[2021-04-28 20:51] petrochenkov commented on #28937
This RFC was implemented in https://github.com/rust-lang/rust/pull/84401.

[2021-04-28 20:53] JAicewizard commented on #84667
oh that. Well the bug originally came from go, where there is well-defined binary printing, and the bug shows there too.
I can try to just print the value and just check if its negative as an easy test, will do in a minute.

[2021-04-28 21:03] wesleywiser opened #84670 "Debuginfo for niche-layout enums can be corrupted due to duplicate type names"
Niche layout enum variants do not get distinct type names that include type parameters which can cause duplicate type names for variants like `Option::Some`. This in turn will causes debugger to randomly pick one of the various type layouts when inspecting values which can cause invalid results.

[code]

![image](https://user-images.githubusercontent.com/831192/116471920-3c20f480-a843-11eb-91dd-90

[2021-04-28 21:17] pnkfelix commented on #81813
I want to discuss this at the T-compiler meeting.

The on-going breakage of the debuginfo tests (and subsequent failure to catch such breakage in CI) is pretty worrisome, and frustrating as a contributor when all you want to do is run `x.py test` and let it go, without having to think too hard about "well which test suites are going to run that may be broken and that I have to skip myself by hand.

[2021-04-28 21:22] wesleywiser opened #84671 "WinDbg does not understand niche-layout enums"
WinDbg does not understand niche-layout enums and the information provided is not very useful unless you understand how niche-layout works. Even then, aside from simple cases like the `0` niche for references, it can be non-trivial to decode what variant of the enum is active when either the niche is not 0 or the enum contains multiple tag only variants, not just one like `Option` does.

[code]

!

[2021-04-28 21:34] ehuss opened #84673 "Tracking Issue for `-Z terminal-width`"
**Status**: The `rustc` side has been stabilized in 1.64 as the `--diagnostic-width` option. This tracking issue is still open for the cargo side of changes. See https://github.com/rust-lang/rust/issues/84673#issuecomment-1179096971.

This is a tracking issue for the `-Z terminal-width` flag.  This flag tells `rustc` the width of the terminal so that it can truncate long lines in diagnostic output

[2021-04-28 21:35] JAicewizard commented on #84667
I dont even think shifting is undefined for non-negative integers, but here you go:
[code]
same problem same "fix".

[2021-04-28 21:35] ehuss commented on #84673
cc @rust-lang/wg-diagnostics Hope you don't mind I open this. If anyone knows of any unresolved questions or blockers for this, I would appreciate if you could update the issue (or perhaps there is no desire to carry this forward?).

[2021-04-28 21:37] ehuss opened #84674 "Tracking Issue for rustdoc `--test-run-directory`"
### Summary

This is a tracking issue for the `--test-run-directory` flag in rustdoc.  This flag changes the directory where doctests are run. This was added to support changing the directory used while running `rustdoc --test` in a Cargo workspace. See https://github.com/rust-lang/cargo/issues/9427 for more information.

### Unresolved Questions

None at this time.

### Implementation history

*

[2021-04-28 21:54] steffahn commented on #84305
To be clear: on further thought, I don’t think that the `impl StaticDefaultRef + '_` return type in the original example is problematic. The actual problem is that the compiler does infer an implied bound `'a: 'b` from a type `&'b impl StaticDefaultRef + 'a` in a closure body (where `impl …` refers to some concrete opaque return type of a function).

It all becomes a bit more explicit and visible

[2021-04-28 22:00] tmiasko commented on #84667
Anyway, bisection points to 635ccfe01c0be19d9fb0a99facbd9e06290f0ab1.

[2021-04-28 22:05] Amanieu commented on #78485
Note that we now have a [`spare_capacity_mut`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.spare_capacity_mut) method on `Vec` which gives you a `&mut [MaybeUninit<T>]` for the uninitialized part of a vector.

[2021-04-28 22:24] Luis-Hebendanz opened #84676 "global_asm! rejects real mode far jmp even if correct"
I tried this code:
[code]
A repo with minimal sample code: https://github.com/Luis-Hebendanz/rust_asm_error

I expected to see this happen:
Compile without errors because it is valid asm. The gas assembler can compile it without problems.

Instead, this happened:
It fails with an `error: unexpected token in argument list`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace<

[2021-04-28 23:48] antonok-edm opened #84678 "`std::io::Error::get_ref()` return value changed in Nightly"
### Code

[Three tests](https://github.com/brave/adblock-rust/blob/94b377ca106dda88d301d6089639271daea1117a/src/engine.rs#L399-L460) for the `adblock` crate have begun failing in Nightly. At the [core](https://github.com/brave/adblock-rust/blob/master/src/data_format.rs#L112-L123) of these tests, a backward-compatible data format is deserialized by `rmp_serde` from a buffer:

[code]

The second br

[2021-04-29 00:01] jonas-schievink commented on #84678
The exact chain of I/O errors the standard library produces are not really part of our stability guarantees. It also is not a very good idea to check the string representation of the error, since that can also freely change between Rust versions.

[2021-04-29 00:17] antonok-edm commented on #84678
Gotcha. I wasn't sure, but I figured it was worth raising just in case the change wasn't intentional.

Totally agree; unfortunately it looks like that particular error is represented internally as a string (`Repr::SimpleMessage`), and the only non-deprecated way of retrieving it is through the `Display` and `Debug` implementations on `std::io::Error`...

[2021-04-29 00:42] dalcde commented on #84649
The naive implementation of `push_in_capacity`
[code]
already optimizes out the reallocation case with `-O2`. Since (parts of) the reallocation code is inlined into `push`, this would give smaller code size ([godbolt](https://godbolt.org/z/YWTv1T8o1)).

Here is a use case that I encounter fairly frequently: I want to construct a `Vec`, so I preallocate one and push elements into it. However, if th

[2021-04-29 00:48] crlf0710 commented on #84569
Now #84401 is ready to land, let me think more about this.
The current process is this:
1. `rustc_expand` properly detected this case, and emitted the error.
2. However a `DefId` is still allocated for this malformed structure. But a `HirId` is never did.
3. `rustc_resolve` is able to give this `DefId` as resolution output, despite it's malformed.
4. #84401 Sent it to `fn_sig` and other queries
5.

[2021-04-29 02:08] fee1-dead commented on #84632
Issue might be in this line:
https://github.com/rust-lang/rust/blob/50ca3ac24f08cc6c8bbef9ac27245f83f30bc749/compiler/rustc_builtin_macros/src/concat.rs#L13

Calls `get_exprs_from_tts`, which then calls `fully_expand_fragment`:
https://github.com/rust-lang/rust/blob/ba6275b6a9fc05fd5d93220e9a67fe64d663cb62/compiler/rustc_expand/src/base.rs#L1191

And sets `current_expansion.depth` to `0`, which wo

[2021-04-29 02:24] bsikar commented on #77098
Does this still need to be done?

[2021-04-29 04:26] bIgBV commented on #83310
@nikomatsakis @tmandry I've begun working on this implementation, but I would really appreciate if you or someone you can point to can drop some mentoring instructions to help me get started. The general idea I have so far is this:

1. Create a new `TypeFlag` for tracking if a type has the `#[must_not_suspend]` attribute present on it
2. During type construction (when the interned `Ty` is construc

[2021-04-29 04:31] bIgBV commented on #83310
As a note, I think made an implicit assumption of the propagation behavior in my previous comment. I think we should propagate the lint to nested types. I would like to do the work to apply this to the `#[must_use]` lint as well.

[2021-04-29 05:35] bIgBV commented on #83310
The other approach I was thinking of was provide a new `Query` which answers the presence of a flag or the presence of an attribute on a type. I think this approach would allow us to apply this behavior to the `#[must_use]` attribute as well.

[2021-04-29 05:37] jsha opened #84686 "rustdoc: large source views hang Chrome and Brave on Android"
Chrome 90.0.4430.91
Android 11 on Pixel 2

Steps to reproduce:

1. Visit a doc page with a large source page, like https://doc.rust-lang.org/nightly/core/slice/struct.Iter.html or https://docs.rs/log/0.4.14/log/.
2. Click any `[src]` link on the page.
3. Browser shows part of the page, and then hangs. Eventually the OS pops up an "app not responding" dialog.

I've reproduced this on both Chrome an

[2021-04-29 05:41] hellow554 commented on #84659
Also occurs on stable! Regression from 1.50 to 1.51

@rustbot modify labels: -requires-nightly +regression-from-stable-to-stable

[2021-04-29 07:02] avl commented on #77026
Ah, you're right. I saw the "error[E0275]: overflow evaluating the requirement `Either<!, _>: From<!>`", and thought for some reason it was an overflow in the compiler itself. But it's more an overflow resulting from the parsing of the input program, not quite the same.

[2021-04-29 07:21] tmiasko commented on #84667
The relevant part of diff looks as follows:

[code]

The change of `push %rax` to `sub $0x8,%rsp`, clobbers SF which is used by `sets %r15b`.

@rustbot modify labels: +A-LLVM

[2021-04-29 07:31] RalfJung commented on #84538
https://github.com/rust-lang/rustfmt/pull/4817 landed, what's next? Does just updating the submodule work, or is there more work required?

[2021-04-29 07:42] #76246 closed

[2021-04-29 07:42] #82461 closed

[2021-04-29 07:42] #75883 closed

[2021-04-29 07:42] #80779 closed

[2021-04-29 07:45] Emoun commented on #77098
I tried looking for update to the release notes that #78690 did but I cannot seem to find it on current master.
Was that PR not merged?

[2021-04-29 07:56] glandium commented on #84428
This causes problems on crates that _use_ rental too, which is the case of Firefox (and since things are vendored in Firefox, anyone building Firefox doesn't count towards the rental download counts).

[2021-04-29 08:02] witling commented on #64684
I don't believe that this is a good first time issue. Type checking is done before executing privacy checks. ([see here](https://github.com/rust-lang/rust/blob/ada102456de38e462b4f00473dd923f15dc3f296/compiler/rustc_interface/src/passes.rs#L816))
Changing the order seems to have a negative performance impact in a lot of cases as type errors seem to be way more common. At least that is what my 20 m

[2021-04-29 08:22] hameerabbasi commented on #84659
Bisected:

searched nightlies: from nightly-2020-01-01 to nightly-2021-04-29
regressed nightly: nightly-2021-01-18
searched commits: from https://github.com/rust-lang/rust/commit/8a6518427e11e6dd13d6f39663b82eb4f810ca05 to https://github.com/rust-lang/rust/commit/4253153db205251f72ea4493687a31e04a2a8ca0
regressed commit: https://github.com/rust-lang/rust/commit/4253153db205251f72ea4493687a31e04a2a

[2021-04-29 08:28] hameerabbasi commented on #84659
@hellow554 Would you mind expanding on how to reproduce it on stable, because it seems feature gated to me.

[2021-04-29 08:29] taralx commented on #81823
😢

[2021-04-29 08:33] hellow554 commented on #84659
@hameerabbasi just because something is gated doesn't mean it can't crash on stable ;)
Use the above code and try to build it on the playground or compile it with a stable compiler, it will ICE.

[2021-04-29 08:49] tmiasko commented on #84667
LLVM bug report https://bugs.llvm.org/show_bug.cgi?id=50165.

[2021-04-29 08:50] apiraino commented on #84659
We briefly discussed this on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384659.20Trait.20with.20a.20lifetime.20parameter.2C.20associated.20constant.E2.80.A6).

@hellow554 I'd revert some labels here because we think this is a nightly-only issue due to the unstable `const_generics` feature. The fact that it compiles and reproduces o

[2021-04-29 08:51] hellow554 commented on #29541
I'm not sure if this is still relevant. The original code can't be compiled anymore, because outdated dependencies e.g.:

[code]

and a lot more of that.

Even when updating all dependencies with `cargo update` it still does not compile.

So... can this be closed?

[2021-04-29 08:54] hellow554 commented on #84659
@apiraino sure enough ;)

but just to be clear, even without `#![allow(incomplete_features)]` this results in an ICE on stable

[2021-04-29 10:09] steffahn commented on #84366
For the record, `async` blocks do, unsurprisingly, come with the same problem:
[code]

[2021-04-29 10:28] Swatinem commented on #84605
This might be a bit personal preference, but is also done that way in other language ecosystems.
You generally want to have coverage for the code under test, not the test code itself. Having coverage metrics for test code provides zero value to me as developer.

[2021-04-29 11:18] est31 commented on #84428
I've only glossed over the message [that rental is no longer maintained](https://github.com/jpernst/rental/commit/213671ab3aab3452efd7e2290c6bb714ee327014):

So I guess instead of attempting to contact the author, we should maybe follow the wishes of the maintainer, create a fork, and put any fixes/changes there.

There are also a bunch of rental alternatives:

* [selfstack](https://crates.io/crat

[2021-04-29 11:18] nagisa commented on #84605
Note: there are previous initiatives to introduce inheritable/scoped/propagated attributes, e.g. for the [optimize](https://github.com/rust-lang/rust/issues/54882) attribute, but implementing the propagation behaviour there seemed to be pretty involved to me at the time and IMO any attempts to introduce such attribute propagation mechanisms should be a standalone RFC introducing a mechanism in a m

[2021-04-29 12:02] jyn514 commented on #84678
Is there a reason you needed to look at the string in the first place? Looking at the implementation, it seems like it's *only* used for display, it doesn't change depending on why the error happened:
[code]
[code]

[2021-04-29 12:25] jyn514 opened #84694 "Rustdoc omits source line numbers in diagnostics if they originate in a macro"
I tried this code:

https://github.com/rust-lang/rust/blob/9d170be94454340e212e186413d1cf738cfef7c7/compiler/rustc_session/src/options.rs#L97-L104

I expected to see this happen: Rustdoc shows the line number of the broken link, like it does normally:

[code]

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:

_Originally posted by @rust-log-analyzer in https://github.com/rus

[2021-04-29 12:27] jyn514 commented on #84694
I think the fix is to extend `source_span_for_markdown_range` to work with macros: https://github.com/rust-lang/rust/blob/78c963945aa35a76703bf62e024af2d85b2796e2/src/librustdoc/passes/collect_intra_doc_links.rs#L1702

[2021-04-29 12:43] Stargateur commented on #84428
as far as I remember I tried alternative of rental but no one seem to do what I needed.

[2021-04-29 13:03] JohnTitor commented on #83641
Triage: ICE has gone by #83713, I'm going to mark this as `E-needs-test` since it seems that PR doesn't have a regression test for the issue.

[2021-04-29 14:06] dalcde opened #84696 "rustdoc: Support building docs for examples"
Examples are often documented but said documentation cannot be rendered as far as I can tell. It is especially useful to use top-level documentation to provide usage notes.

From a presentation point of view, they can be treated as extra crates or listed after modules/macros/functions/etc. In the latter case, it would also serve as an enumeration of examples accompanied with short descriptions.

[2021-04-29 14:16] pnkfelix commented on #84591
Discussed in [T-compiler triage meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/19557weekly2021042954818.html). Added relevant labels. Believed to be known long-standing issue, and something that the traits WG wants to address alongside improvements to trait infrastructure.

But: Not a release blocker, so downgrading to P-high.

[2021-04-29 14:19] pnkfelix commented on #84533
Discussed in [T-compiler triage meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/19557weekly2021042954818.html). Believed to be known long-standing issue, and something that the traits WG wants to address alongside improvements to trait infrastructure.

But: Not a release blocker, so downgrading to P-high.

[2021-04-29 14:23] CodesInChaos commented on #51999
I find it a bit weird to allow non-literals as argument to const panic, when that functionality will be disabled in Rust 2021.

I'd rather restrict it to literals, and look into allowing trivial patterns as next step (all format arguments are `&str` and the pattern doesn't contain any format options), which would aloow functions like `Option::Expect` to be const without relying on traits.

[2021-04-29 14:30] dralley opened #84698 "Intereleaved text in "cargo test" output"
**Problem**

The following image is two screenshots, side by side, of the output of "cargo test" from two test runs seconds apart with the same code.  As you can see, there seems to be a race (or race-like behavior) causing text written to the stdout buffer to be interleaved together.

This is exclusive to when `--nocapture` is specified.  I cannot reproduce if `--nocapture` is not specified.

![S

[2021-04-29 14:33] pnkfelix commented on #82465
Discussed in [T-compiler triage meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/19557weekly2021042954818.html#236680594). We're going to revert PR #80653 as a way to fix this in the short-term, while the kinks get worked out in the appropriate fix to get this all working (with #80653) again.

[2021-04-29 14:34] alexcrichton commented on #74372
There was a small bikeshed [here](https://github.com/rust-lang/stdarch/pull/1096#discussion_r600713612) about those names where `_const` was a bit of a misnomer since the arguments aren't required to be constant. Other prefixes like `_make` or `_new` seem fine to me!

I [don't think, though, that this prevents us](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d918b98dc119

[2021-04-29 14:42] Aaron1011 commented on #84428
I don't think forking `rental` will allow us to remove the underlying pretty-print hack in any reasonable amount of time. crates.io shows hundreds or thousands of daily downloads - all of those users will need to switch to the fork (directly, or by updating whatever crate pulls it in as a transitive dependency). Considering all of the difficulties that we've had getting crates like `syn` and `proc

[2021-04-29 14:46] pnkfelix commented on #84667
Discussed in T-compiler [triage meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/19557weekly2021042954818.html#236682306).

We are going to revert PR #77885 on nightly and beta. probe-stack=inline-asm seems like its a little bit too buggy for us to rely on as of right now.

[2021-04-29 14:49] est31 commented on #84428
idk proc-macro-hack and syn seem to have far more users than rental. It's doable, also given that users should switch to something that has at least some basic level of maintenance *anyways*.

[2021-04-29 14:56] Stargateur commented on #83125
If I resume, we didn't make the breaking when it was still early to do it so we did a hack and now 3 years have passed and everyone use the bugged behavior. Isn't the worst possible thing to do ?

[2021-04-29 15:08] jyn514 commented on #84696
@dalcde you can do this with `doc = true` under the example.

cc https://github.com/rust-lang/docs.rs/issues/238#issuecomment-724579558

[2021-04-29 15:13] nikomatsakis commented on #84591
Strongly related to #25860

[2021-04-29 15:15] dalcde commented on #84696
Is there a way to do so without enumerating all examples?

[2021-04-29 15:17] jyn514 commented on #84696
I don't think so, no. This is really a cargo question - @ehuss could you move this to rust-lang/cargo?

[2021-04-29 15:18] jamesmunns opened #84700 "Diagnostics: Suggest Unit Variant Enum in match"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5a6b1a3497842e4ddc883b2345febd8f

[code]

The current output is:

[code]

Ideally the output should look like:

I'd like it to say "try to use a ~~tuple~~ unit variant like "FarmAnimal::Cow" instead".

For example, here's what happens if you use Tuple syntax instead of Struct syntax:

[code]

So I'd like the new diagnostic to

[2021-04-29 15:19] jamesmunns commented on #84700
This is an example Ferrous Systems uses in our trainings, and some of our participants have tripped over this lack of suggestion here.

The compiler DOES provide diagnostics when you use a struct syntax instead of a tuple syntax.

[2021-04-29 15:23] apiraino commented on #81813
Issue has been discussed in T-compiler meeting [on Zulip](https://zulip-archive.rust-lang.org/238009tcompilermeetings/19557weekly2021042954818.html#236685766). This will probably need a follow up with `T-infra`.

Thus removing nomination:
@rustbot label -I-nominated

[2021-04-29 15:23] CryZe commented on #74372
Seems like it prevents the type from being a tuple struct though: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=40b1e2abd2ade54dd598db826ed594bf

But as long as using a non-tuple struct for those types doesn't cause any problems such as repr(simd) or so not working anymore, then I guess it's fine.

[2021-04-29 15:26] Soveu commented on #84676
For some reason, `jmp segment:pointer` doesn't work in inline asm
`ljmp segment, offset pointer` has to be used

[2021-04-29 15:29] jyn514 opened #84702 "bootstrap tries to patch the wrong cargo on NixOS when `download-rustc` is set"
I tried this code: `x.py check`

I expected to see this happen: x.py patches stage0/cargo

Instead, this happened: x.py tries to patch ci-rustc/cargo, fails, and never patches stage0/cargo, causing a build failure.

[code]

In particular, `ci-rustc/bin/cargo` does not exist:
[code]
and stage0/bin/cargo is never patched.

### Meta

[code]
78c963945aa35a76703bf62e024af2d85b2796e2

[2021-04-29 15:32] CodesInChaos commented on #67441
@jhpratt `Option::expect` passes more than one argument to `panic!` (and the second argument isn't const), so it'll need more work than the minimal version of const panics considered for stabilization at the moment.

[2021-04-29 15:32] jyn514 commented on #84702
Hmm this seems to be related to caching somehow - if I delete stage0/ altogether it works properly.

[2021-04-29 15:38] jyn514 commented on #84702
I was not able to replicate this :( checking out 41b315a470d583f6446599984ff9ad3bd61012b2 without clearing the cache didn't reproduce the bug.

[2021-04-29 16:32] nikomatsakis commented on #83641
Hmm, I'm not sure if we need a regression test for this -- it's a regression test for a feature that no longer exists and may well never be added again -- but I guess it doesn't hurt.

[2021-04-29 16:35] m-ou-se commented on #84593
https://github.com/rust-lang/blog.rust-lang.org/pull/825

[2021-04-29 16:37] JohnTitor commented on #83641
Ah, good call, I'm not familiar with the context. @nikomatsakis feel free to just close if you like :)

[2021-04-29 16:53] nikomatsakis commented on #83310
@bIgBV

Happy to help! Here are some bits of code to investigate to get started.

First, you might want to look a bit at the `must_use` lint, although I think that this lint wants to be implemented somewhat differently. (I wouldn't use a lint pass, for example.) That said, the logic that `must_use` uses to decide if a type is `MustUse` is probably roughly what we want. That code doesn't use a `Typ

[2021-04-29 17:02] leonardo-m commented on #84700
Alternatively the help could suggest a more direct: "Remove the parenthesis here".

[2021-04-29 17:03] jgarvin commented on #44265
#81823 is now closed. Just three to go! :D
(Only mentioning this since it looks like the checkboxes don't update themselves?) Also this was one of the things that @jackh726 listed as preventing marking the feature as complete.

[2021-04-29 17:16] kornelski commented on #48043
I've got an idea for an express path to stabilization of `try_reserve` — hide it in the `io::Write` implementation! `vec.write_all(s)` is equivalent to `vec.try_extend_from_slice(s)`.

https://github.com/rust-lang/rust/pull/84612

[2021-04-29 17:38] #66955 closed

[2021-04-29 17:47] steveklabnik commented on #42706
Triage: here's the error today:

[code]

[2021-04-29 18:14] lcnr commented on #84669
looks like we aren't normalizing `type Output = [u8; 1 + 2];` here. That shouldn't happen.

#81351 is what introduced this but is imo not at fault.

[2021-04-29 18:15] tlyu commented on #84495
I'd also like to suggest adding D-newcomer-roadblock because I've seen several other newcomers on Discord run into this confusing diagnostic.

[2021-04-29 18:22] workingjubilee commented on #74015
Which zero to return?

[2021-04-29 18:52] Oli-Ar commented on #84631
I have now also tried to reproduce this in rust playground but have been unable to. However, I can verify this issue is not exclusive to my machine as I get the same crash on both my desktop and laptop, and my friend also gets the crash on his machine.

I can post the entire project in which the code causes the crash if that could be helpful?

[2021-04-29 19:45] workingjubilee commented on #72327
Related to, but not a duplicate of, #73288.

[2021-04-29 19:46] camelid commented on #51999
@nikomatsakis

If you are referring to the discussion about const panic in relation to `const_err`, then the difference would be whether const panic emits a deny-by-default `const_err` *lint*, or its own hard error. I believe the plan is to eventually turn `const_err` into a hard error, and because const panic is currently an unstable feature, we could make it a hard error now, rather than waiting

[2021-04-29 19:50] Lokathor commented on #51999
I *think* the main reason to allow a const error currently is because of the lack of const panic, so if const panic was stable then we're probably good.

or are there other reasons to keep allowing const errors that can't just be a const panic instead?

[2021-04-29 20:01] camelid commented on #51999
Could you link to an example of how `allow(const_err)` would be used due to the lack of const panic? I've only used simple constants so I don't have knowledge of what kind of issues come up.

[2021-04-29 20:05] BlueGhostGH opened #84711 "Nightly compiler doesn't error on UB while the stable one does"
I decided to implement linked lists on my own for educational reasons, mainly as a gateway to learning Unsafe Rust. However, I soon ran into UB, which my compiler didn't error about. I decided to go over and try my code on the Rust playground, where I discovered that my code errors out on the stable branch of the compiler but compiles just fine on the nightly one.

[Here is a playground link](http

[2021-04-29 20:09] jonas-schievink commented on #84711
`NonNull::as_ref` was changed to allow unconstrained output lifetimes in https://github.com/rust-lang/rust/pull/80771

[2021-04-29 20:10] Lokathor commented on #51999
Oh, turns out I'm thinking `allow(unconditional_panic)`, my mistake.

[2021-04-29 20:10] leonardo-m commented on #74015
The same as f32::from(0_u8), that should be a +0.0.

[2021-04-29 20:12] workingjubilee commented on #83984
Most modern application processor architectures I have seen the pipeline diagrams for actually have their pipelines combined for floating point operations and SIMD, because they have combined floating point and SIMD registers, so integral SIMD math would use the same pipelines, and may actually outstrip floating point performance. Floating point performance on its own does matter, of course, which

[2021-04-29 20:15] BlueGhostGH commented on #84711
My bad, I didn't spot this difference!

[2021-04-29 20:15] #84711 closed

[2021-04-29 20:19] workingjubilee commented on #67329
In #78361, a large amount of support for AVX512 features was added to the compiler, including all the ones (afaict) that IceLake included, resolving this issue.

[2021-04-29 20:19] #67329 closed

[2021-04-29 20:28] bIgBV commented on #83310
@nikomatsakis thanks for the pointers! My initial plan was actually to follow the implementation of the `must_use` lint, but @tmandry suggested to go down the `TypeFlags` route if we wanted to propagate the attribute to nested types as it would be more performant.

Also, does my suggestion of using a query make sense? I was coming it at from a forward looking perspective, as there seem to be many

[2021-04-29 20:39] spastorino commented on #83641
Yes, this can be closed now.

[2021-04-29 20:39] #83641 closed

[2021-04-29 20:46] joshtriplett opened #84715 "Tracking Issue for feature(unix_chroot)"
Feature gate: `#![feature(unix_chroot)]`

This is a tracking issue for the `unix_chroot` feature, which adds `std::os::unix::fs::chroot` to change the root directory of the current process.

### Public API

[code]

### Steps / History

- [x] Implementation: #84716
- [x] Final commenting period (FCP): https://github.com/rust-lang/rust/pull/88177#issuecomment-902430723
- [x] Stabilization PR: https:

[2021-04-29 20:58] BoxyUwU commented on #84631
A link to the project could work too yea

[2021-04-29 21:03] TheDutchMC opened #84723 "Invalid code after std::process::exit will cause compilation to fail"
I'm honestly not sure if Cargo's repository is the place to file this issue, if it is not, apologies! (Where should I file it then?)

**Problem**

When using std::process::exit, the code after it will prevent you from compiling if it is invalid. Take the following codeblock
[code]

Practical demo:
I ran into this while debugging some API call, instead of deserializing the json I just wanted to pri

[2021-04-29 21:44] RalfJung commented on #84510
With https://github.com/rust-lang/rust/pull/84556 having landed, the `const_fn` feature gate is now dead code. We can start removing it everywhere, and then eventually mark the feature gate itself as removed in the compiler (so it is rejected during the build).

[2021-04-29 21:47] joshtriplett opened #84721 "rustdoc: Structured suggestion for intra-doc links based on current crate name"
Within a crate `xyz`, the link ```[`xyz::path::some_item`]``` gives an error. This would be challenging to fix in the rustdoc resolver. However, we could provide a rustfix-applicable structured suggestion on the error, suggesting ```[`xyz::path::some_item`][`crate::path::some_item`]```

[2021-04-29 21:49] jyn514 commented on #84721
Oh, I was proposing that rustdoc suggest `extern crate self as xyz;` in the crate root, which means you only have to do it once instead of for each link. But suggesting `[crate::` also works.

[2021-04-29 21:49] jyn514 commented on #84721
Note that rustfix currently doesn't work for rustdoc: https://github.com/rust-lang/rustfix/issues/192

[2021-04-29 21:54] pnkfelix commented on #83139
Discussed in T-compiler meeting today.

Due to this issue, and issue #84667, we are reverting PR #77885 on master and beta.

I will look into making regression tests for these issues.

[2021-04-29 21:55] pnkfelix commented on #84667
(also, I will look into making regression test for this issue, in order to ensure that future attempts to land PR #77885 do not forget to deal with this problem.)

[2021-04-29 22:01] Aaron1011 commented on #83310
Bikeshed - using `must` in the attribute name seems too strong for something that triggers an `#[allow]`-able lint. I think something like `#[should_not_suspend]` would better reflect the fact there may be legitimate reasons to suspend with such a type in scope, and than the annotated type itself can *not* assume that consumers will never suspend.

While there is precedent in the form of `#[must_u

[2021-04-29 22:09] ehuss commented on #84723
Transferred to rust-lang/rust as this is a language issue.

However, I think it is working as expected. The reason your second example works is because exit returns the never type (!). The never type can be coerced into any other type, so that is why that example is valid.

There have been requests to have things like `todo!` or `unimplemented!` squelch unused warnings, but I don't think they have

[2021-04-29 22:10] jonas-schievink commented on #84723
This is working as intended, all parts of the program need to be well-typed, even if they are unreachable at runtime.

[2021-04-29 22:10] #84723 closed

[2021-04-29 22:19] Aaron1011 commented on #84428
We still haven't completed the migration for `proc-macro-hack` - a recent attempt showed almost 100 regressions (https://github.com/rust-lang/rust/pull/81863). Note that the the PR mentions `time-macros-impl`, but that's because the issue with `proc-macro-hack` ended up producing an error when compiling the `time-macros-impl`.

I can do a Crater run that just disables things from `rental`, to see

[2021-04-29 22:28] camelid commented on #82820
It looks like that PR caused a bunch of small diagnostics changes, so the reviewers probably just missed that bug.

[2021-04-29 22:44] Manishearth commented on #84626
@durin42 was hitting this whilst trying to test Rust against LLVM trunk (https://buildkite.com/llvm-project/rust-llvm-integrate-prototype).

I don't have an example of a failing build offhand, our quickfix was to select the testsuites to run manually. I believe the failure was caused by the lack of rustfmt though.

[2021-04-29 23:21] truchi opened #84727 "ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
Same in 1.52.0-nightly, same in 1.51.0.

### Error output

[code]

`RUST_BACKTRACE=1 cargo build`:
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Good luck!
<3

[2021-04-29 23:25] camelid commented on #82820
Assigning myself for adding a test. @rustbot claim

[2021-04-29 23:29] joshtriplett commented on #84721
@jyn514 Suggesting the `extern crate` solution seems potentially workable, though it's unfortunate to suggest the use of `extern crate` when it's otherwise unneeded in Rust 2018.

Perhaps `use crate as xyz;`? (Or `use crate::self as xyz;` if `use crate` doesn't work?)

[2021-04-29 23:33] jyn514 commented on #84721
Oh nice, I didn't expect that to work. Yes, that sounds better :)
[code]

[2021-04-29 23:34] jyn514 commented on #84721
Oh wait, that only works for the top-level, it doesn't affect submodules:
[code]
So I do think the `extern crate self` approach works better here.

[2021-04-30 00:12] calebcartwright commented on #84538
We typically have to first update racer, ensure we've got a release or branch in the rustfmt repo  for RLS, and then update RLS before the submodules can be updated here. It's a fun dance.

Those are other pieces are in flight already and will post updates here as they move along

[2021-04-30 00:46] jyn514 commented on #84678
Ok great, that sounds like a good PR if you want to make one :) I'm going to close this in the meanwhile since the exact chain of errors isn't covered by the stability guarantee.

[2021-04-30 00:46] #84678 closed

[2021-04-30 01:01] SergioBenitez commented on #51999
For the record, I don't think anything _but_ a hard error makes sense. Otherwise, the panic _will_ unequivocally occur at runtime, even though the compiler would have trivially prevented it, so why shouldn't it?

[2021-04-30 01:41] calebcartwright commented on #84538
Actually it looks like we could need another round of updates for the auto publish crates. I think this _may_ have some correlation to the items discussed/addressed in #84614 as the compile errors I'm seeing now using 2021-04-29 are related to `const_fn_trait_bound` on lock_api, which gets pulled in to the dep trees of both racer and rustfmt via the auto published version of rustc_data_structures

[2021-04-30 01:54] #83737 closed

[2021-04-30 01:54] #84604 closed

[2021-04-30 02:00] DemiMarie commented on #83994
This is definitely a problem.  `std::process::exit` is a safe function, but calling it from a library can race with the main program (not necessarily written in Rust) exiting.  Does `quick_exit` have the same requirement?

[2021-04-30 02:13] camelid commented on #84721
Yeah, stuff in the parent module (like `use`s) doesn't usually show up in child modules.

[2021-04-30 02:14] TopologicallySpeaking commented on #83288
I ran into what I believe is the same issue. For what it's worth, I found this much shorter example:

[code]

[2021-04-30 02:40] camelid commented on #84429
Increasing to `P-high` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384429.20matches!.20problem.20with.20edition.202021) in the prioritization working group.

[2021-04-30 02:52] camelid opened #84731 "rustdoc: Replace `crate::` with the name of the crate in intra-doc links"
This would solve the issue described in https://github.com/rust-lang/rust/pull/84716#discussion_r623424304, and wouldn't require using `extern crate`.

A link like ``[`crate::collections::HashMap`]`` in `std` would be rendered as [`std::collections::HashMap`](#), and would continue to link to `HashMap`'s docs.

I don't think there are any use cases where a library author would want `crate::` to sh

[2021-04-30 03:11] #29541 closed

[2021-04-30 03:13] jyn514 commented on #84731
I think this might be helpful, but it doesn't replace those issues. For this to be useful you have to know ahead of time that
1. the name of the crate won't work
2. crate:: will automatically be replaced
And I think 1. is the stumbling block. Given how easy the workaround is, I don't think we should special case this.

[2021-04-30 03:14] camelid commented on #51999
Unless I'm misunderstanding, using `allow(const_err)` will still cause compilation to fail, just with a confusing error message:

[code]

[code]

[2021-04-30 03:16] camelid commented on #84731
Is `extern crate self as std;` the workaround you're referencing?

[2021-04-30 03:18] jyn514 commented on #84731
Yes.

[2021-04-30 03:19] camelid commented on #84731
I think the issue with that is then people are going to have to add `extern crate` everywhere. If in order to not have verbose intra-doc links, you have to use this workaround, then what's the purpose of having `crate::`?

[2021-04-30 03:24] camelid commented on #77026
Correct, thanks for correcting that! It's possible this isn't even a bug in the compiler, but I don't know enough about specialization to tell.

[2021-04-30 04:23] tmandry opened #84733 "`-Zlink-native-libraries=no` causes link to fail with missing `__libc_start_main` on fuchsia"
[This test](https://github.com/rust-lang/rust/blob/a45f0d724ed7116ed475fb0d628bc118418e7cbf/src/test/ui/issues/issue-70093.rs), which is built with `-Zlink-native-libraries=no -Cdefault-linker-libraries=yes`, fails on fuchsia with a linker error due to missing `__libc_start_main`.

The feature (#70093) it's trying to test should work on Fuchsia (and probably Windows? it isn't clear why that's disa

[2021-04-30 04:46] joshtriplett commented on #83994
Rust can't do anything about calls from outside Rust. And even just returning from `main` could potentially invoke the same race.

[2021-04-30 04:48] joshtriplett commented on #84731
I think this is an improvement, in that rendering `crate::xyz` as `the_actual_crate_name::xyz` is what people will generally want.

However, the issue motivating this was making reference to `the_actual_crate_name::xyz` in documentation, and expecting that to work, and being surprised when it generated an error even though the same reference in a doctest worked.

[2021-04-30 04:48] DemiMarie commented on #83994
Which means that `std::process::exit()` should be `unsafe`.

[2021-04-30 06:29] AE1020 opened #84735 ""unstable fingerprints for predicates_of" with Clone trait"
**This appears to be a transient error in an incremental build.**  I wrote up this issue and saved the stack when I got it.  But when I did `cargo clean` and then `cargo build` it would not reproduce.

I had done `rustup default nightly` at some point, probably (?) without a `cargo clean`.  There had been successful builds after that with nightly, but perhaps never a clean one.  In case that had s

[2021-04-30 06:38] bluss opened #84736 "`clone_from_slice` doc can be updated after specialization"
Current `clone_from_slice` doc says that the user might prefer to use `copy_from_slice` for `Copy` types, but since #81854 we automatically take care of this with specialization. We can consider to clarify docs.

The most careful action would be to let the current docs stand, if we don't want to say anything about the implementation details. I would prefer to remove the sentence about `copy_from_s

[2021-04-30 06:43] JSH32 opened #84737 "Broken MIR with const_generics and async/await"
### Explanation
This error will surface if the `test` arg has been accessed at least once(i did this with `println!`) and if there is an async function that is awaited in the body. If I remove the await for `test_async_fn` it will run as normal. This error happened while I was using actix-web so I reproduced the simplest version of my code.

### Code

[code]

### Meta

`rustc --version --verbose`:

[2021-04-30 07:16] RalfJung commented on #84538
Argh, sorry. :/ This is caused by https://github.com/rust-lang/rust/pull/84556. We can revert that PR if needed...

Is there a way to trigger a rustc-ap release? Just making a new release *now* would really help, all that is needed is a tiny change in rustc_data_structures...

[2021-04-30 07:18] Soveu commented on #84676
@rustbot label: +A-inline-assembly +O-x86

[2021-04-30 07:24] joshtriplett commented on #83994
That would be a massively breaking change, and not one that I think is warranted here.

If on some platform concurrent calls to `exit` cause a race (which may or may not be true on all platforms; needs investigation), we could consider adding a lock on those platforms to at least prevent that from happening from Rust. That would be worth doing, to make sure that a call within Rust can't race with

[2021-04-30 07:30] XAMPPRocky opened #84738 "Index out of bounds when running `cargo doc` in `rustc_metadata/src/creader.rs`"
EDIT(camelid): This issue is now being used to track a different, but related, bug. The discussion starting [here](https://github.com/rust-lang/rust/issues/84738#issuecomment-950370740) is current.

### Steps

- Clone [`rust-gpu`](https://github.com/EmbarkStudios/rust-gpu/tree/2f451ee9939c021b54214d2aeb986ecb7a6d7382).
- `cargo doc -p spirv-std --no-deps`

### Meta

`rustc --version --verbose`:
[c

[2021-04-30 07:30] hyd-dev commented on #83994
I believe so. Quoting from a C standard draft:

[2021-04-30 07:36] jyn514 commented on #84738
@XAMPPRocky this is probably related to #83761 somehow. I don't plan to investigate any of the proximate issues until the underlying problem is fixed. Feel free to take a look yourself if this is blocking your work, but it won't be easy.

[2021-04-30 07:39] jyn514 commented on #84738
Oh, I guess this could also be a missed case from https://github.com/rust-lang/rust/pull/83738. That should be easier to fix.

[2021-04-30 07:48] buzmeg commented on #80107
I also hit this problem with winit.  I also concur that matching on _ should suppress the warning:

[code]

[2021-04-30 07:48] CodesInChaos commented on #51999
With `allow(const_err)` you get a compiler error if the constant is used, but it's compile if it's unused.

Without `allow(const_err)` you get a compiler error even if the constant is unused.

[2021-04-30 07:57] jyn514 commented on #84738
If you can come up with an MCVE it would be easier to tell which of the two issues it is.

[2021-04-30 08:09] DemiMarie commented on #83994
I have strongly recommended having these functions `panic!` if more than one thread is running, and continue to do so.  Changing the environment while other threads are running is rarely useful and a major footgun.

[2021-04-30 08:10] DemiMarie commented on #83994
That is unfortunate.  @richfelker: how difficult would it be to wrap `exit` and `quick_exit` in a process-wide mutex to prevent problems here?

[2021-04-30 08:13] michaelwoerister commented on #60705
We might want to get https://github.com/rust-lang/rust/issues/83611 before that. @camelid has opened https://github.com/rust-lang/rust/pull/83767 to that end but I'm not quite sure what the state of that PR is.

[2021-04-30 08:14] buzmeg commented on #49171
I'd also like to chime in on this, I hit it on this (obviously cut down) snippet of code:

[code]

The issue here is that the innermost loop is a 60 FPS rendering loop.  The outer loop is a window resize loop.  So, at the B: conditional, if the issue is resize, we can possibly adjust the window and recover and go back to rendering, but sometimes we can't.

So, while I do overwrite the value, I nee

[2021-04-30 08:43] jyn514 commented on #48612
I'm going to close this since plenty of people  are using nix - see https://rustc-dev-guide.rust-lang.org/building/suggested.html#using-nix-shell for a nix-shell that should work.

[2021-04-30 08:43] #48612 closed

[2021-04-30 08:48] jyn514 commented on #80849
I think this is a duplicate of https://github.com/rust-lang/rust/issues/76661.

[2021-04-30 08:53] jyn514 commented on #77579
I'm going to close this, download-ci-llvm should be working on every tier 1 platform and I'd rather recommend that than system llvm.

[2021-04-30 08:53] #77579 closed

[2021-04-30 08:58] jyn514 commented on #51748
I think this is a duplicate of https://github.com/rust-lang/rust/issues/44293.

[2021-04-30 09:04] jyn514 commented on #72104
This will become relevant again once #82208 is merged.

[2021-04-30 09:21] jyn514 commented on #77498
It might be easier to make this a tidy check.

[2021-04-30 09:22] rust-highfive opened #84741 "`miri` no longer builds after rust-lang/rust#84401"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#84401, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @crlf0710, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-04-30 09:23] jyn514 commented on #76616
@Mark-Simulacrum do you still think this would be useful?

[2021-04-30 09:28] jyn514 commented on #75987
@kornelski do you think disabling the line length check is enough? https://github.com/rust-lang/rust/pull/77675
Or do you think other checks should be disabled too?

I do think tidy (and all tests really) should suggest how to replicate exactly what went wrong without running a full x.py test, I'll open a separate issue for that.

[2021-04-30 09:29] jyn514 opened #84742 "Suggest how to recreate a build failure with the fewest possible steps"
Tidy (and all tests really) should suggest how to replicate exactly what went wrong without running a full x.py test. That helps people fix their mistakes much more quickly without waiting for a full build.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/75987#issuecomment-829967515_

[2021-04-30 09:32] jyn514 commented on #75156
I'm going to close this since no one's been able to reproduce the issue. Feel free to reopen if you can replicate this.

[2021-04-30 09:32] #75156 closed

[2021-04-30 09:35] jyn514 commented on #74212
This seems like an upstream cargo issue, so I'm going to close it in favor of that:
https://github.com/rust-lang/cargo/issues/8462

[2021-04-30 09:35] #74212 closed

[2021-04-30 10:02] eddyb commented on #80127
@tmiasko Oops, I saw this sooner, but that's very much not it. That's only meant for optimizations, and LLVM makes the mistake of having multiple meanings on one attribute (`align` causes it to aligns `byval` stack slots whereas normally it just informs LLVM of alignment guarantees).

I wrote more here, but it looks like we're missing an entire dimension of ABI we weren't aware of (i.e. correct al

[2021-04-30 10:39] truchi commented on #84727
This happens on top of too much code for me to take the time to minimalize this issue, sorry.
Though I'll try to file the fixing patch.

[2021-04-30 10:51] eddyb commented on #81028
That looks like an ancient way to emulate [the `#[used]` attribute](https://rust-lang.github.io/rfcs/2386-used.html) - could we maybe do that instead?

[2021-04-30 10:52] captain-yossarian opened #84743 "Unexpected error after installing Rust VS Code extension"
### Code

1) Clone https://github.com/zellij-org/zellij project
2) run `cargo make run` - should work

3) install Rust extension in Visual Studio Code
4) run `cargo make run` - throws an error

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
More context [here](https://github.com/zellij-org/zellij/iss

[2021-04-30 10:53] kornelski commented on #75987
Line length has been the major issue, so perhaps just this is enough.

[2021-04-30 10:55] eddyb commented on #61486
@michaelwoerister It's been resolved already (as part of #77554):
https://github.com/rust-lang/rust/blob/bcd696d722c04a0f8c34d884aa4ed2322f55cdd8/compiler/rustc_symbol_mangling/src/v0.rs#L541-L550

That `p` doesn't have a type before it. So we're now using the "improved" approach I was describing in that comment.

[2021-04-30 11:02] eddyb commented on #61486
@michaelwoerister Actually, to answer the more interesting question: `<const> = <type> "p"` is wrong and largely unworkable - `<const>` *cannot* start with `<type>` without severely overcomplicating the encoding of ADT constants.

So the current implementation only supports `<const>` starting with `<basic-type>`. And ideally we'd reuse the non-basic type constructor letters for values. Say, `Ai1_i

[2021-04-30 11:02] jackh726 commented on #84659
Okay so this is a bit complicated. Because while this does has `feature(const_generics)`, is still ICEs on stable. That said, *not* including the feature gate doesn't ICE.

Given that, I think the current labels are appropriate, except maybe `requires-nightly`. It is *technically* a stable to stable regression, but it requires a feature to ICE, and I'm not sure that's the *spirit* of what that lab

[2021-04-30 11:13] ABouttefeux commented on #84700
@rustbot claim

[2021-04-30 11:24] eddyb commented on #79565
cc @oli-obk It's just that value mangling isn't implemented, `legacy` only *happens* to work because it doesn't mangle generics *at all*. See also #61486.

[2021-04-30 11:29] jonas-schievink commented on #84482
closing in favor of https://github.com/rust-lang/rust/issues/84341

[2021-04-30 11:29] #84482 closed

[2021-04-30 11:29] jonas-schievink commented on #84743
duplicate of https://github.com/rust-lang/rust/issues/84341

[2021-04-30 11:29] #84743 closed

[2021-04-30 11:30] bjorn3 commented on #81028
[code]

Does not result in an executable with an `.abc` section of `FOO` symbol. Executables never export any symbols except for `main` and certain symbols used by libc or created by the linker itself. Because of this `--gc-sections` will simply gc the `.abc` section.

[code]

From the linked rfc:

[2021-04-30 11:33] eddyb commented on #26978
I should've renamed the title of this issue, I believe (based on my comments in this thread) that this issue was specifically about `str` not working the same was `[T]`.

I doubt your example ever worked, because the block gets `i32` as the expected type and *that* is `Sized`, so there's no way to rule it out as the type of the block.

[2021-04-30 11:35] truchi commented on #84727
Wait! I made it!

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2f0a2217c4965088a460c44031cfccf5)

[code]

This issue revolves around L.31. Comment to see the ice go away.
Interestingly, comment L.40 (or the whole impl L.37-45) to see ice go away as well.
Commenting L.47-56 does not make ice go away.
Commenting L.13-22 should raise another error (as L.31 is s

[2021-04-30 12:12] apiraino commented on #84659
@jackh726 agreed on the labels, I've got the context partially wrong here.

@rustbot modify labels: -requires-nightly

[2021-04-30 12:41] oli-obk commented on #79565
https://github.com/rust-lang/rust/pull/83234 makes it possible to fix this

[2021-04-30 12:49] jyn514 commented on #75987
Ok. I'm sorry you had a frustrating experience. I'll see if I can implement https://github.com/rust-lang/rust/issues/84742 today or this weekend.

[2021-04-30 12:49] #75987 closed

[2021-04-30 12:52] m-ou-se opened #84745 "ICE: found unstable fingerprints for evaluate_obligation"
This keeps happening consistently in our code base when building a second time. Building fresh (after `cargo clean`) always works fine.

~~I didn't see any other unstable fingerprints issue that mention `evaluate_obligation` like this assertion message does, so filing a new issue.~~

[code]

Unfortunately, I'm not able to share any of the code. Ping me on Zulip if I can help by trying out some thi

[2021-04-30 12:52] m-ou-se commented on #84745
cc @Aaron1011

[2021-04-30 12:54] m-ou-se commented on #84745
Since the `rust-src` component seems relevant on some related issues: This happens too on a machine that does not have (and never had) `rust-src` installed.

[2021-04-30 13:07] m-ou-se commented on #84745
Oh, looks like i just made a typo while searching for it. There are other issues with it spelled correctly. ^^'

[2021-04-30 13:30] jyn514 commented on #84745
This is a duplicate of https://github.com/rust-lang/rust/issues/83538 I thikn.

[2021-04-30 13:35] pwnorbitals commented on #83243
Just faced this error, that's confusing !

[2021-04-30 13:38] rylev opened #84748 "Bad diagnostic on second borrow of mutable self"
The following code:

[code]

Gives the following diagnostics:

[code]

This diagnostic mentions `autoref`, anonymous lifetimes, and more which can be very confusing. One way to fix this is to not capture `self` which is a mutable reference into the closure passed to `map` like so:

[code]

I'm not exactly sure what the right approach is, but perhaps pointing out that `self` is being captured by th

[2021-04-30 13:59] #84745 closed

[2021-04-30 14:08] jyn514 commented on #84702
It did try to patch cargo this time, though:
[code]

[2021-04-30 14:11] crlf0710 commented on #28937
#84401 has landed. Want to say thank you to @petrochenkov for your patient mentoring!

There's a small piece of codegen changes to support foreign crate imported `main` fn case. The PR is now up at #84507 .

[2021-04-30 14:12] jyn514 commented on #84702
Ok, this looks suspicious: it's downloading the `cargo-nightly-x86_64-unknown-linux-gnu` component, but cargo does *not* show up in ci-rustc/bin/cargo. I think the issue is it successfully patches stage0 cargo, extracts ci-rustc cargo *to the wrong folder*, overwriting the patched version, and then tries to patch the correct folder. I think the fix is to just not try to download cargo for the ci-r

[2021-04-30 14:34] elidupree commented on #84487
I have a very similar error (likewise, completed build followed by rebuild, and setting `incremental = false` works around it)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-04-30 14:40] jyn514 commented on #73445
Update: this no longer ICEs, it just gives an error about duplicate macros:
[code]
Marking this as blocked on https://github.com/rust-lang/rust/issues/83761.

[2021-04-30 14:51] jyn514 commented on #73445
Oh I take it back - that's the error for `std`, core works just fine now :) might have been fixed by https://github.com/rust-lang/rust/pull/83738. Making a PR shortly.

[2021-04-30 14:51] Mark-Simulacrum commented on #76616
Seems plausible to be helpful. No particular opinion; if it complicates the implementation quite a bit I wouldn't do it I suspect.

[2021-04-30 15:56] Mark-Simulacrum commented on #82890
Fixed in 1.52 by https://github.com/rust-lang/rust/pull/84271 as well, backporting #84230.

[2021-04-30 15:56] #82890 closed

[2021-04-30 16:11] richkadel commented on #84018
I think the easiest way to resolve this would be to just disable simplification of unreachable blocks (due to const eval), if `-Zinstrument-coverage`.

Is there an option for that? I haven't looked yet.

[2021-04-30 16:22] crlf0710 commented on #84569
@jyn514 Thanks! Let me give it a try.

[2021-04-30 16:52] pietroalbini commented on #81626
This was a regression affecting beta 1.51, closing this.

[2021-04-30 16:52] #81626 closed

[2021-04-30 16:56] pietroalbini commented on #81658
My understanding [of this comment](https://github.com/rust-lang/rust/pull/81473#issuecomment-799562071) is that the PR causing this regression was reverted on beta 1.51 but was *not* reverted on master, as it was assumed that https://github.com/rust-lang/rust/pull/83004 would land before 1.52.0 is released. Is that correct @pnkfelix?

If that's so, we need to either merge #83004 or revert that PR

[2021-04-30 17:03] pietroalbini commented on #83123
This affected 1.51.0, the regressed behavior is also present on stable. Changing the labels.

[2021-04-30 17:05] Mark-Simulacrum commented on #82668
Closing - this was expected/accepted breakage.

[2021-04-30 17:05] #82668 closed

[2021-04-30 17:08] pietroalbini commented on #83541
Fixed on beta by https://github.com/rust-lang/rust/pull/84722. Closing this.

[2021-04-30 17:08] #83541 closed

[2021-04-30 17:10] tmandry commented on #84737
Maybe related to #83972.

@rustbot label +requires-nightly +AsyncAwait-Triaged

[2021-04-30 17:15] tmandry commented on #84292
@rustbot assign @tmiasko

[2021-04-30 17:21] Oli-Ar commented on #84631
[Here](https://github.com/Oli-Ar/compiler-bug) is the repository with the bug showcased. To see the bug use `cargo test`.

[2021-04-30 17:36] scottmcm commented on #49171
At least one of those initializations can be trivially removed:
[code]

`rustc` knows that `loop` always runs at least once, so you don't need to initialize it with a value.  The later assignment at the top of the loop is sufficient.

[2021-04-30 17:43] Mark-Simulacrum commented on #82913
https://github.com/rust-lang/rust/pull/84759 takes care of the regression in beta (1.52), but we'll need a similar revert for 1.53 (branching ~today), and a proper fix for 1.54.

[2021-04-30 17:47] DrOptix opened #84760 "Internal Compiler Error"
I tried to isolate the best I can the problem. I would say it is because of how I wrote the `Event::emit()` function.
Let me know if I can provide more context.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-04-30 17:48] tmiasko commented on #84297
#81238 turned `core::ptr::copy` & `core::ptr::copy_nonoverlapping` functions into rexeports of intrinsics. This was a breaking change, because functions can be coerced into function pointers while intrinsics currently cannot be.

This change also exposed an ICE that might occur when an attempt is made to coerce intrinsics into a common type. The ICE was turned into error by #84404, but I would con

[2021-04-30 17:51] Riku32 commented on #84737
Looks like someone used the wrong variable in one of the two places

[2021-04-30 17:56] BoxyUwU commented on #84631
This ICE is caused by not having `#![feature(const_evaluatable_checked, const_generics)]` in the tests crate when its enabled in the `matrix` crate. if you add the feature gates to your test file it should be fixed:
[code]

[2021-04-30 18:14] durin42 commented on #84626
If I do a bare `python3 x.py test` today, on revision 7506228e2e688517ae142fc385f13b30c4ce07f1, I get:
[code]
this continues for a long time, and then
[code]
with an exit code of 1. So I'm not sure it's even `rustfmt` related, as this appears to be a `rust-tidy` error.

[2021-04-30 18:16] Oli-Ar commented on #84631
That was it. Thank you! Should I close the issue?

[2021-04-30 18:37] fanninpm commented on #84760
Have you tried this on the latest version of nightly?

[2021-04-30 18:46] ehuss commented on #84626
Those look like remnants from when stdarch lived in a different location. It should now live in `library/stdarch`. That was moved back in June. When git submodules are moved, git doesn't delete the old files.  If you aren't doing anything with stdarch, then I would recommend just deleting `src/stdarch`.

[2021-04-30 18:48] #84025 closed

[2021-04-30 18:52] stanislav-tkach opened #84761 "Suspicious scope parsing (compile error)"
I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff63ae010848e64b5578f39cadad0e34):

[code]

I would expect it to compile successfully, but I got the compile error instead:

[code]

It is a minimal reproducible example, so it triggers the "unnecessary braces around block return value" warning. In the real code an unsafe block that cannot be removed is use

[2021-04-30 19:37] ehuss commented on #84761
Thanks for the report!  I believe this currently is expected behavior due to lookahead concerns. There is some more discussion in #7909 and #54482. Similar confusion has also been reported in #74854. There's a bit of a description in https://doc.rust-lang.org/nightly/reference/statements.html#expression-statements that discusses how the tail expression of a block is handled:

In this situation, th

[2021-04-30 19:46] jackh726 commented on #84760
I don't reproduce this at all in the playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=98ac6b0031af7018ab69d8178dd663a9

[2021-04-30 20:07] ehuss commented on #71249
I have posted a proposal to rename `cargo describe-future-incompatibilities` to `cargo report future-incompatibilities` at https://github.com/rust-lang/cargo/pull/9438.

[2021-04-30 20:10] stanislav-tkach commented on #84761
@ehuss Thanks for the explanation! I'm going to close this as a duplicate.

[2021-04-30 20:10] #84761 closed

[2021-04-30 20:22] BoxyUwU commented on #84631
should be fine to close this :)

[2021-04-30 21:02] DrOptix commented on #84760
Just now I've noticed that `rustup` is skipping some nightly versions when I do an update because some nightly builds are missing some modules.
[code]

I will try to do some more tests

I've noticed this too, but I guessed it is worth reporting as the compiler panic itself invited me to report the issue.

[2021-04-30 21:05] jackh726 commented on #84760
@DrOptix Did you try to minimize it before posting? Seems like maybe the minimization wasn't quite correct and didn't capture the error.

[2021-04-30 21:07] #84631 closed

[2021-04-30 21:37] DrOptix commented on #84760
Just to be here for potential future reference.

I went back to the version of nightly and rechecked and it spit out this with `RUST_BACKTRACE=full`, but without a `cargo clean`:
https://pastebin.com/b25UR2Mb

After I did a `cargo clean`, running with `RUST_BACKRACE=full`:
https://pastebin.com/JDZcwm6K

[2021-04-30 22:21] #84741 closed

[2021-04-30 23:02] tmandry opened #84766 "Support building and testing std with panic=abort"
`panic=abort` is needed in resource-constrained environments, wasm, and when building with the [cranelift backend](https://github.com/bjorn3/rustc_codegen_cranelift/blob/6d30315d055e92464026c2ac0d7f3ad8b02539b6/scripts/test_rustc_tests.sh#L24-L41).

Building and testing std with `panic=abort` today is fraught for two reasons:

1. `panic=unwind` is still needed for proc macros, so setting target-sp

[2021-04-30 23:48] Manishearth opened #84768 "ICE: 'assertion failed: !substs.has_escaping_bound_vars()', compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs:1477:9"
[code]

([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bbd5944104a01aaa5a6552bc9d396720))

Yes, this code is broken, but I'm surprised to get an ICE :smile:

[code]

[2021-05-01 00:11] PatchMixolydic opened #84769 "On nightly rustc, E0599 emits a massive diagnostic to suggest wrapping the receiver in every combination of `{Box,Pin,Rc,Arc}::new({,&,&mut} expr)`"
Given the following code ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=d129ca6f7559fe24438efcefc14eec4c)):

[code]

The output on `1.53.0-nightly (2021-04-29 478a07df05e3fe8df964)` is:

<details>
<summary>Long diagnostic</summary>

[code]
</details>

`Box`, `Pin`, `Arc`, and `Rc` are suggested three times each: once for `x`, once for `&x`, and once for `&mut x

[2021-05-01 00:20] PatchMixolydic commented on #84769
My mistake, each repetition is actually different in that two suggest taking a reference to `x`:
[code]

This still seems like a fairly massive diagnostic, though.

[2021-05-01 02:26] jonhoo opened #84772 "More helpful output for slightly-wrong dyn with multiple traits."
I recently tried to [demonstrate why `dyn Trait1 + Trait2` doesn't work](https://www.youtube.com/watch?t=3801&v=xcygqF5LVmM&feature=youtu.be). I ended up writing ([all examples below on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=448b239f9c24149069485dd748e47432)):

[code]

and because I was in my editor, I only saw the first part of the error: "ambiguous `+

[2021-05-01 02:30] abdelmonem17 opened #84773 "Can't create a package for a library"
I have compiler errors when I try to call a 'cargo package' and this is because I use a build script in this library to generate rust code using tonic-build  so I there a way to solve this problem to run build.rs when using 'cargo package'.
Thank you in advance.

[2021-05-01 02:43] jonas-schievink commented on #84773
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-05-01 02:43] #84773 closed

[2021-05-01 02:58] jyn514 commented on #76371
@ehuss this should be fixed since https://github.com/rust-lang/rust/pull/81603, right?

[2021-05-01 03:47] calebcartwright commented on #84538
No worries! It's really easy for these crates to get knocked out of sync and happens fairly regularly.

It is possible to trigger an early release, and we typically do so via empty commits in the publish repo that Alex manages. I've opened https://github.com/alexcrichton/rustc-auto-publish/pull/31 to get that started

[2021-05-01 03:59] jyn514 commented on #82301
My understanding is that `cfg(parallel_compiler)` applies to rustdoc itself just fine, the issue is that rustdoc ignores the cfg when *documenting*. Is that correct?

[2021-05-01 04:20] jyn514 commented on #82301
@cjgillot I can't reproduce this. I ran the following locally:
[code]
and all the commands succeeded.

[2021-05-01 04:21] jyn514 commented on #82301
Oh, I forgot to set `parallel-compiler = true`. Yes, with that I can reproduce.

[2021-05-01 04:33] jyn514 commented on #80124
This also reproduces with `--stage 0`.

[2021-05-01 04:45] jyn514 commented on #80124
I think the issue is that bootstrap passes `--lib", "--bins", "--examples", "--tests", "--benches"` to the target, and that isn't valid for this target. This fixes the issue:
[code]
I've suggested "--no-doc" (and similar things) to the cargo team before, but I don't think there's currently an RFC for it.

[2021-05-01 04:48] jyn514 commented on #80124
Also it seems like a bug that cargo tries to compile unit tests for the crate even though they're disabled: https://github.com/rust-lang/rust/blob/b52769b804a12b7045ee1bce893a64045cdb974a/library/panic_abort/Cargo.toml#L11
@ehuss do you happen to know if there's an open issue for that?

[2021-05-01 05:57] scottmcm opened #84782 "RustDoc: Links to trait aliases go to `trait.Foo.html` but the pages are `traitalias.Foo.html`"
Found as part of my change in #84767.

CI build failure: https://github.com/rust-lang/rust/pull/84767/checks?check_run_id=2480989637#step:24:3504
[code]

Checking locally, the generated file is
[code]

Trait, as well as its uses, are in <https://github.com/rust-lang/rust/pull/84767/commits/ee4aa516ea5ce210e62fe3a16877610c28915f89#diff-b5736412f785f181ff3fcd768a2ea5f3bc1c6313af38a0094e5ef49c0e489c4

[2021-05-01 06:08] jyn514 commented on #66581
This has been subsumed by `download-rustc` I think; I don't have any plans to make this work with rust-toolchain directly.

[2021-05-01 06:08] #66581 closed

[2021-05-01 06:11] jyn514 commented on #64827
`x.py check` now supports `--all-targets`, which is a superset of `--tests`.

[2021-05-01 06:11] #64827 closed

[2021-05-01 06:12] jyn514 commented on #63978
This is closely related to https://github.com/rust-lang/rust/issues/76653.

[2021-05-01 06:26] jyn514 commented on #54491
I'm going to close this since it seems to be working.

[2021-05-01 06:26] #54491 closed

[2021-05-01 06:31] jyn514 commented on #46955
This was added in https://github.com/rust-lang/rust/pull/81064.

[2021-05-01 06:31] #46955 closed

[2021-05-01 06:34] jyn514 commented on #46180
I'm going to close this since it's not actually a bug. I do want to mention that if you're *only* changing documentation, you can use download-rustc which doesn't have to do a full build even once.

[2021-05-01 06:34] #46180 closed

[2021-05-01 06:36] jyn514 commented on #42240
I'm going to close this, I expect it was fixed a while ago.

[2021-05-01 06:36] #42240 closed

[2021-05-01 06:42] jyn514 commented on #36610
This looks like cargo's `-Z build-std` feature which has plenty of tracking issues already; I'm going to close this one in favor of  https://github.com/rust-lang/wg-cargo-std-aware.

[2021-05-01 06:42] #36610 closed

[2021-05-01 07:48] luojia65 commented on #43122
Generator traits are extremely helpful in developing asynchronous operating system kernels. We can regard user applications as generators, use `resume` to run them, and it will yield when any interrupt happens. When it yields, it will provide us with why the program has interrupted, fill into return value, thus the `resume` function returns. After processing the interrupt in executor, we may conti

[2021-05-01 07:51] RalfJung commented on #84538
@calebcartwright lock_api 0.4.4 has been released; updating to that should also solve this problem.

[2021-05-01 08:01] scottmcm commented on #84782
Oh, curious, this has different behaviour in `core` and `std`.

In `core` (the crate where it's defined) it doesn't link the trait alias at all:
![image](https://user-images.githubusercontent.com/18526288/116775599-4dd8e680-aa53-11eb-9d93-a44cf7895cda.png)

Whereas in `std` it generates a link, but to the wrong place:
![image](https://user-images.githubusercontent.com/18526288/116775611-6a751e80-a

[2021-05-01 09:59] #84561 closed

[2021-05-01 10:23] crumblingstatue commented on #75263
@jyn514

Is there a way to remove that information? Since --remap-prefix doesn't seem to affect it.

[2021-05-01 10:32] RalfJung commented on #84297
The fact that this ever worked is kind of an accident that was introduced by https://github.com/rust-lang/rust/pull/57997...

but yes, if you think this needs to keep working, then https://github.com/rust-lang/rust/pull/81238 needs to be reverted (and some more `ptr` functions should probably be changed to call the intrinsic directly).

[2021-05-01 10:57] crumblingstatue commented on #75263
A workaround I found to remove the home dir data from the .wasm binary I'm distributing:

`-Z build-std` generates duplicate lang item errors, but building with xargo worked.

Xargo.toml:
[code]

`xargo build --target=wasm32-unknown-unknown --release`

This removes all mentions of my home dir from the .wasm binary.

[2021-05-01 11:38] rukai commented on #84639
Another observation to hopefully improve UX a bit, as I was very confused as to what this new feature did at first.
On crates.io the copy crate name icon looks like this:
![image](https://user-images.githubusercontent.com/5120858/116781131-59182a80-aac4-11eb-80e9-e9480d50cbc8.png)

Whereas the copy button looks like this:
![image](https://user-images.githubusercontent.com/5120858/116781240-10ad3c8

[2021-05-01 13:30] jyn514 commented on #75263
Can you open an issue about that with more details?

[2021-05-01 14:15] Aaron1011 commented on #84769
cc @estebank

[2021-05-01 14:19] Aaron1011 commented on #84341
This was fixed by https://github.com/rust-lang/rust/pull/84233/files, but still needs a regression test.

[2021-05-01 14:20] Aaron1011 commented on #84735
Duplicate of https://github.com/rust-lang/rust/issues/84341

[2021-05-01 14:20] #84735 closed

[2021-05-01 14:20] Aaron1011 commented on #84735
This should be fixed in the latest nightly

[2021-05-01 14:37] Stupremee commented on #78482
@rustbot claim

[2021-05-01 15:28] ehuss commented on #80124
For now, that is intentional behavior, so that you can override the setting via the command-line.  I feel like it is a toss-up which behavior is better, but for now it's working as intended.

[2021-05-01 15:32] ehuss commented on #76371
The original issue should be fixed, so I think this can be closed.  I kept it open for the idea of rewriting error-index-generator to use a different technique.  However, I personally have no plans to do that.

[2021-05-01 15:45] jyn514 commented on #76371
Ok, I'll close this issue then - the linkchecker is already somewhat tracked by https://github.com/rust-lang/rust/issues/80096.

[2021-05-01 15:45] #76371 closed

[2021-05-01 15:56] Zenithsiz opened #84789 "ICE with `feature(trait_alias)` when using `dyn` with type alias"
### Code

[code]

Tested on the playground.
[code]

### Error output

With just `2`:
[code]

With just `1`:
[code]

Backtrace:
Note sure how to generate a backtrace on the playground, unfortunately

[2021-05-01 16:59] richkadel commented on #82853
@scole66 PR #84582 was merged this morning. I believe the change also resolves this issue.

The commits from that PR should be available in the next nightly (tonight or tomorrow).

If possible, can you verify this next week and update/close this issue?

Thanks!

[2021-05-01 17:14] the8472 commented on #84736
Do the docs currently admit any optimizations that happen through specialization? The only one that I can think of is the zero-optimization in `vec!`, and even that hedges with a "may be".

[2021-05-01 17:14] jyn514 opened #84790 "`RUSTDOCFLAGS=--show-coverage cargo doc` deletes any existing docs"
I tried this code: `cargo doc && RUSTDOCFLAGS='-Z unstable-options '--show-coverage cargo doc`

I expected to see this happen: There is documentation in `target/doc/crate_name`

Instead, this happened: The docs get deleted.

### Meta

searched nightlies: from nightly-2021-04-28 to nightly-2021-04-29
regressed nightly: nightly-2021-04-29
searched commits: from https://github.com/rust-lang/rust/comm

[2021-05-01 17:15] jyn514 commented on #84790
@ehuss looks like this is related to the recent rustdoc changes.

[2021-05-01 17:16] jyn514 commented on #84790
For context, this causes problems for docs.rs because we always run coverage after the docs are generated. We can work around it for now by running coverage before instead, but it would be nice to fix this.

[2021-05-01 17:25] jyn514 commented on #84790
Is there a reason cargo deletes things between each *invocation*? It should only need to delete things if the toolchain or source files change.

[2021-05-01 17:36] PatchMixolydic commented on #84789
Backtrace for 1:
<details><summary>Backtrace</summary>

[code]

</details>

`rustc +nightly -vV`
[code]

[2021-05-01 17:47] nagisa commented on #84676
To be very pedantic, what valid ASM for the purposes of rustc looks like is dictated by LLVM, not the GNU (or any other, for that matter) toolchain. As LLVM postdates use of the real mode by a lot it is very plausible that its assembly parser(s) will be quite spotty in that respect.

[2021-05-01 18:03] #59053 closed

[2021-05-01 18:32] DrOptix commented on #84760
I'm closing this one. Anyway all the info I could give is posted.

[2021-05-01 18:32] #84760 closed

[2021-05-01 18:48] Aaron1011 commented on #84428
Unfortunately, `rental` is checking for a trailing comma in the pretty-printed input: https://github.com/jpernst/rental/blob/213671ab3aab3452efd7e2290c6bb714ee327014/rental-impl/src/lib.rs#L29

However, that comma does not actually exist in the original input: https://github.com/jpernst/rental/blob/213671ab3aab3452efd7e2290c6bb714ee327014/src/lib.rs#L94-L96

A pretty-printing change along can't fi

[2021-05-01 19:02] C34A opened #84792 "Rustc suggests creating a Box<Box<Box<(...)File>>> when std::io::Write isn't imported"
Given the following code:
play.rust-lang.org: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=320bd0fa60b7736e04ac82df5a77c760
It isn't able to run in the online thing, but the rest of the code is at https://github.com/C34A/vm1/blob/files/src/main.rs
[code]

The current output is:

[code]
Boxing `output_file` results in:
[code]
... and so on.

The issue is that I don't have

[2021-05-01 19:22] 5225225 commented on #84792
This might be the same issue as https://github.com/rust-lang/rust/issues/84272 which was fixed a few days after that nightly.

Try removing rustfmt to allow rustup to upgrade past that and see if it works correctly after that.

[2021-05-01 19:27] Aaron1011 commented on #84428
cc @jpernst - I would normally post this on the `rental` issue tracker, but since the repository is archived, I can't open any new issues.

TL;DR - it would be extremely helpful if you could make one final point release of `rental`, adding trailing commas after all of the `Input = ` variants. This would be an enormous help to the Rust ecosystem, and would be the only change needed to keep `rental`

[2021-05-01 19:31] PatchMixolydic commented on #84769
Might be a duplicate of #84792, or at least fixed by the same PR that fixed it

[2021-05-01 19:35] C34A commented on #84792
Yep, I think you're right. With the nightly from 2021-04-30 this seems to be fixed.

[2021-05-01 19:35] #84792 closed

[2021-05-01 20:26] djc commented on #84594
The latest version of this is now in RFC 3114 ([rendered](https://github.com/djc/rfcs/blob/prelude-2021-traits/text/0000-prelude-2021-traits.md)).

[2021-05-01 20:53] digitalatigid opened #84795 "ICE `rustc' panicked at expected `NodeId` when using `if let` in combination with a boolean test"
### Code
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f6c4cd7d48b722c8a675ad0072b34e4)
[code]

### Meta

`rustc --version --verbose`:
[code]
<details><summary>rustc 1.53.0-nightly (42816d61e 2021-04-24) gives a reasonable error message and does not panic:</summary>

[code]

</details>

### Error output

[code]

<details><summary><strong>Backtrace</strong></

[2021-05-01 21:12] nikic commented on #84621
Doesn't address the step_by issue, but https://github.com/llvm/llvm-project/commit/db9d00c5e7b02b5fe77cb8f3c7c40405c5f1222a removes the bounds check on the tail.

[2021-05-01 21:37] lattice0 opened #84796 "one type is more general than the other, but they are not (I guess)"
In this example, I'm trying to pass a function pointer to the argument `f: for<'b> fn(Arc<Mutex<Self>>, &'b Message) -> BoxFuture<'b, Result<R, Error>>`:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b86fbf2dbd5d4e805e5aea9cf963a65b)

Error:

[code]

I don't see any error on the signatures. My function is a particular case of the function `f` expecte

[2021-05-01 21:40] workingjubilee commented on #84769
Even if it was considered reasonable to suggest each and every possible type combination, there is no pressing reason for it to generate the intervening lines as well.

[2021-05-01 21:42] jyn514 commented on #84790
Closing this in favor of the cargo issue tracker: https://github.com/rust-lang/cargo/issues/9447

[2021-05-01 21:42] #84790 closed

[2021-05-01 21:57] Nemo157 commented on #84012
Something I'm sure I saw someone else mention ages ago, and which I really like, is to use `--print coverage` and `--print coverage-json` for consistency with `rustc`'s `--print` options (though it doesn't have any that has both a pair of "user-facing" and machine-readable).

[2021-05-01 22:13] richkadel commented on #84018
Replying to my own question:

This would not have worked. I noticed (and found in-code comments to confirm) that dead code cannot be left in the MIR.

But I solved this in a better way (see PR #84797) by simply saving coverage code regions from dropped `BasicBlocks` as `Unreachable` coverage, adding them to the `START_BLOCK`. This seems to work really well.

[2021-05-01 22:21] AaronKutch opened #84798 "rustdoc: implementations are starting contracted"
I updated Rust nightly to `rustc 1.53.0-nightly (42816d61e 2021-04-24)` after a long break and found that some recent change to rustdoc is making all my documentation start contracted. I have this complicated crate with several impl blocks spread across several files, and previously the documentation would look like this:
![image](https://user-images.githubusercontent.com/32419308/116796211-763b02

[2021-05-01 22:27] FenrirWolf opened #84799 "`rust-lld` error: unrecognized relocation R_ARM_THM_JUMP8 when cross compiling to `armv7-unknown-linux-musleabihf`"
I came across the following linker error when attempting to cross compile a project I've written to `armv7-unknown-linux-musleabihf` using `rust-lld` as the linker:

[code]

It seems to have something to do with `ioctl` calls generated by the `nix` crate, as I was able to reproduce the issue with just the following code:

main.rs:
[code]

.cargo/config:
[code]

build steps:
[code]

Meanwhile using

[2021-05-01 22:46] camelid commented on #84769
AFAICT, this is *not* present on beta, and is only present on nightly, so it's a stable-to-nightly regression.

[2021-05-01 22:46] popey456963 opened #84800 "assertion failed: `(left == right)`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-05-01 22:47] richkadel commented on #84159
@dvente - Just letting you know that last PR was merged a few days ago and should be in Rust nightly now. (You may need to add `--force` to `rustup` since `rustfmt` seems to be broken in nightly again.)

Let me know if this doesn't fix your problem. Thanks!

[2021-05-01 22:51] chuckcscccl opened #84801 "unexplainable behavior"
// I encountered the following strange behavior while trying to implement
// String-key'ed Tries in Rust.

// I've gotten rid of all the other code that doesn't matter, and have
// simplified the situation that caused the error as much as I can.  The
// commented-out version of the function 'getndoe2' will not compile,
// while getnode does compile.  The only difference is the 'if true ..'

// I g

[2021-05-01 22:52] popey456963 commented on #84800
No such error on stable.

[2021-05-01 23:05] apogeeoak commented on #66773
A `starts_with` method on `fmt::Arguments` would be nice. In the meantime your code can be shortened, not down to a single line but ever so slightly.

[code]

[2021-05-01 23:11] camelid commented on #84012
I like that idea, but `rustc --print` *still compiles your code*, while rustdoc's hypothetical `--print` *would not generate documentation*. My understanding is this issue is open *because* people thought `--show-coverage` would also generate docs.

That said, I do like the idea of `--print coverage` :)

[2021-05-01 23:15] jyn514 commented on #84012
@camelid rustc --print does not compile your code.
[code]

[2021-05-01 23:16] #83466 closed

[2021-05-01 23:19] camelid commented on #84012
It does for some uses of `--print`, just not `--print crate-name`:

[code]

[2021-05-01 23:21] steffahn commented on #84769
searched nightlies: from nightly-2021-01-01 to nightly-2021-04-24
regressed nightly: nightly-2021-04-09
searched commits: from https://github.com/rust-lang/rust/commit/361bfce305b8829eda7f3d133fe82a118685de1f to https://github.com/rust-lang/rust/commit/2e495d2e845cf27740e3665f718acfd3aa17253e
regressed commit: https://github.com/rust-lang/rust/commit/21185265915d0d472f3f0f54642700c7c693c7d7

That

[2021-05-01 23:42] camelid commented on #60705
Yeah, I've been meaning to work on that again. I'll hopefully be able to get to that soon.

[2021-05-02 00:17] arekbulski opened #84807 "Rust Learning Zone (weekly competitions)"
Hello everyone. On behalf of Hackerspace Lodz Poland I would like to invite you all to our two new channels, Rust Learning Zone (and also Python Learning Zone). We are learning together and regularly do competitions (every week, from Monday to Friday). This week has the 7th competition.

(Telegram chats)
RUST ZONE: https://t.me/joinchat/MMF-5_t8Nes4ODNk
PYTHON ZONE: https://t.me/joinchat/WHE7gcaUj

[2021-05-02 00:22] estebank commented on #84769
Yes, yes, I introduced this regression. Mea culpa, everybody. In my defense I keep flip-flopping between being too restrictive and too permissive for new suggestions and someone always ends up getting the short end of the stick. This week, I'm leaning towards "too permissive" and if the suggestion triggers too often, _then_ detect the cases and make it more constrained, because the alternative is

[2021-05-02 00:31] jonas-schievink commented on #84807
This is an issue tracker

[2021-05-02 00:31] #84807 closed

[2021-05-02 00:39] Lokathor opened #84810 "ICE: "Missing span for DefIndex" on `pub macro_rules`"
Compiling gba v0.4.0 (D:\dev\gba)
thread 'rustc' panicked at 'Missing span for DefIndex(967)', compiler\rustc_metadata\src\rmeta\decoder.rs:715:32
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-la

[2021-05-02 00:51] Aaron1011 commented on #84800
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 00:51] #84800 closed

[2021-05-02 00:52] Lokathor commented on #84810
This is *very likely* related to [pub macro rules](https://github.com/rust-lang/rust/issues/78855), because it's what i most recently added before the ICE, and when I take it out the ICE goes away.

[2021-05-02 00:58] Aaron1011 commented on #84504
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 00:58] #84504 closed

[2021-05-02 00:59] Aaron1011 commented on #84487
Duplicate of https://github.com/rust-lang/rust/issues/83538

[2021-05-02 00:59] #84487 closed

[2021-05-02 00:59] Aaron1011 commented on #84497
This is fixed in the latest nightly

[2021-05-02 00:59] #84497 closed

[2021-05-02 01:00] Aaron1011 commented on #84572
This is fixed in the latest nightly

[2021-05-02 01:00] #84572 closed

[2021-05-02 01:00] Aaron1011 commented on #84167
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:40] Aaron1011 commented on #84169
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:40] #84169 closed

[2021-05-02 02:40] Aaron1011 commented on #84315
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:40] #84315 closed

[2021-05-02 02:41] Aaron1011 commented on #83741
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:41] #83741 closed

[2021-05-02 02:41] Aaron1011 commented on #83710
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:41] #83710 closed

[2021-05-02 02:41] Aaron1011 commented on #83473
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:41] #83473 closed

[2021-05-02 02:42] Aaron1011 commented on #83523
Duplicate of https://github.com/rust-lang/rust/issues/84341. This is fixed in the latest nightly

[2021-05-02 02:42] #83523 closed

[2021-05-02 03:21] jyn514 commented on #84810
@Lokathor can you paste a backtrace of the ICE?

[2021-05-02 03:24] jyn514 commented on #84798
Fixed by #84552

[2021-05-02 03:24] #84798 closed

[2021-05-02 03:29] scole66 commented on #82853
I've been eagerly typing `rustup update` all week long. ;) As soon as it's in the nightly channel, I'll give it a look.

[2021-05-02 04:26] daltonclaybrook commented on #82412
Any update on this?

[2021-05-02 05:14] crlf0710 commented on #84810
That functionality is reverted in #83713 .

[2021-05-02 06:43] BoxyUwU opened #84812 "Compiler "suggests" boxing type to access method that is not callable without bringing trait into scope"
Given the following code: [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8bf7e9ea86539eab4abd04de958b9dd9)

[code]

The current output is:

[code]

uncommenting the `let mut rng = Box::new(rng);` line gives the following output:
[code]
and this just keeps adding more `Box<Box<Box<Box<Box<...<ThreadRng>>>>>>>>>` forever if you keep boxing in an attempt to access the

[2021-05-02 06:54] PatchMixolydic commented on #84812
Might be a duplicate of #84792

[2021-05-02 07:38] #84167 closed

[2021-05-02 08:39] PSeitz opened #84813 "Suboptimal code generation in 8byte copy loop"
In this loop the 8 byte copy gets converted to a memcpy and then inlined, which is quite slow compared to copying 8byte.

https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=21b5eb51917947a25123dfafc9ed7959

[code]

Oddly, when the step size is 16bytes, the call to memcpy disappears and the assembly looks fine

https://play.rust-lang.org/?version=nightly&mode=release&edition

[2021-05-02 08:46] JohnTitor commented on #84769
Assigning `P-high` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts) and removing `I-prioritize`.

[2021-05-02 08:50] leonardo-m commented on #84813
Could you move the pointer management upstream and let this function take two &[u8; 8]/&mut [u8; 8] as arguments?

[2021-05-02 08:58] nikic commented on #84813
I don't see a call to memcpy in your first example?

[2021-05-02 09:22] #84702 closed

[2021-05-02 09:45] leonardo-m opened #84816 "No stdlib import (use) help for some usages of Ordering"
I've noticed that rustc gives an import help only if Ordering is used as type instead for its variants:

[code]

rustc (1.54.0-nightly 4de757209 2021-05-01) gives:

[code]

[2021-05-02 09:46] PSeitz commented on #84813
true this was a wrong assumption that this instructions are the memcpy inlined, I'll update the message

[2021-05-02 10:02] PSeitz commented on #84813
The generated code looks fine here. (they are not 100% equal though)

With bounds checks
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=f850dc3f2318071bf36b693b662bbab3

Without bounds checks
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=571d2d0e87d432bed25973cb10e88e68

[2021-05-02 11:20] Stupremee commented on #82449
Should this also apply to normal trait implementations, as suggested by @abonander?

I feel like they should only be separated by either "from std or not" or "derived or not", but not both at the same time since that would add too many sections IMO. If we separate by "from std or not", it's also partially separated by "derived or not" since most std-traits are implemented by `derive`

[2021-05-02 11:38] rmsk2 opened #84817 "'rustc' panicked at 'LocalTableInContext: key not found', compiler/rustc_mir/src/borrow_check/diagnostics/mutability_errors.rs:512:30"
When compiling the following program with  `rustc 1.51.0 (2fd73fabe 2021-03-23) running on x86_64-apple-darwin` the compiler panics. The resulting error message is:

[code]

Here the program that I tried to compile:

[code]
As far as I can tell the program is in fact invalid as the variable `simple_format` should be mutable as it is borrowed as mutable in the function call following its definition

[2021-05-02 12:11] klensy commented on #84817
On current nightly 01-05-21 no ICE
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0ca1d358a97de3da571c072a8c40a67a

[2021-05-02 12:12] Zerotask opened #84819 "Improve compiler help for missing module error (E0583)"
I created a fresh project with `cargo init`, a new empty folder `user`
![image](https://user-images.githubusercontent.com/20150243/116812669-3895b200-ab50-11eb-8982-df9cca4e6bc3.png)

 and my main.rs looks as following:

[code]

If I execute `cargo run`, the compiler gives me the help:
![image](https://user-images.githubusercontent.com/20150243/116812561-a42b4f80-ab4f-11eb-8c04-97e9195ce853.png)

[2021-05-02 12:20] rmsk2 commented on #84817
So it seems to be already fixed. Cool!

Do I close the issue or the rust team?

[2021-05-02 12:20] #84129 closed

[2021-05-02 13:45] badboy commented on #82412
With the [Target tier policy](https://doc.rust-lang.org/nightly/rustc/target-tier-policy.html) written out I plan to post a MCP next week to get the process kicked off.

[2021-05-02 13:57] HindrikStegenga commented on #63997
It seems assignment is currently broken, complaining about casts, even though no such casts are actually performed. (A const function simply assigning a function ptr basically). https://github.com/rust-lang/rust/issues/83033

[2021-05-02 15:20] pickfire opened #84824 "rustdoc: allow searching by trait bounds"
https://docs.rs/hyper/0.14.7/hyper/client/conn/struct.Builder.html

![image](https://user-images.githubusercontent.com/4687791/116817839-f776bf80-ab9a-11eb-996f-f33848462768.png)

Some libraries have trait bounds more complicated and more that one items, some of it could be automatically-derived or some could be specifically implemented for a certain structs/enums. Other libraries such as diesel a

[2021-05-02 15:52] Mark-Simulacrum opened #84825 "rustdoc pub trait definition source"
e.g., the Hasher trait definition source, when expanded, contains "pub" in front of each function. This is not valid Rust, so likely is a bug somewhere.

Appears to have been a regression introduced between 1.49.0 and 1.50.0, based on the Hasher trait docs - https://doc.rust-lang.org/1.50.0/std/hash/trait.Hasher.html.

[2021-05-02 16:16] Stupremee commented on #84825
This seems to be the same error as #81274

[2021-05-02 16:17] Mark-Simulacrum commented on #84825
Indeed, closing as duplicate.

[2021-05-02 16:17] #84825 closed

[2021-05-02 17:03] de-vri-es opened #84827 "rustdoc fails to properly resolve `Self` in a submodule when the type is not in scope"
When a doc comment refers to `Self` inside an `impl` block for a type that is not in scope, `rustdoc` can't properly resolve `Self`.

It does resolve `Self` to a more specific name (`Foo` in the example below), but then it can't find that name.

A minimum example:
[code]

This produces a broken link in the documentation and the following warning:
[code]

### Meta

I tested this using:

* rustdoc 1

[2021-05-02 17:13] de-vri-es commented on #84827
Also related: if you do import a type with the same name, then rustdoc will think that is `Self`.

That can be demonstrated with this example:
[code]

Which produces the following warning:
[code]

And if I add a field with the same name, it really links to the wrong `Foo`.

[2021-05-02 17:15] Zerotask opened #84828 "Update compiler error message for E0761"
The compiler error message for E0761
![image](https://user-images.githubusercontent.com/20150243/116821252-70fdb600-ab79-11eb-89fd-d38a2e7accb4.png)

should include the **src** folder and it should **use double quotes**, similar to the **help message** of compiler error E0583:

![image](https://user-images.githubusercontent.com/20150243/116821273-8246c280-ab79-11eb-8fb8-be8db5afee57.png)

### Befo

[2021-05-02 17:17] pickfire commented on #61061
I tried this using `#[must_use]` but it does not seemed to complain when the part of `#[must_use]` is not used, is the the correct behavior?
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7034a76d4d9d38154798fa3aec48f972

I hit this when doing https://docs.rs/hyper/0.14.7/hyper/client/conn/struct.Builder.html#method.handshake where I didn't use `connection` part of

[2021-05-02 17:19] GuillaumeGomez opened #84829 "Move header CSS classes (such as "method"/"function"/etc) from h3/h4 into their parent"
This issue comes from [this discussion](https://github.com/rust-lang/rust/pull/84754#discussion_r624576806). Moving the CSS classes into the `<summary>` parent or into the `<details>` grand-parent would allow to simplify the JS handling and keep the HTML size the same.

To be discussed when @jsha when he's back. :)

[2021-05-02 17:20] #76005 closed

[2021-05-02 17:20] #79009 closed

[2021-05-02 17:20] #62572 closed

[2021-05-02 17:29] calebcartwright commented on #84538
Thanks @RalfJung! I think on the rustfmt side we're more likely to get this sorted with the subtree conversion. I'll check with the folks that support racer to see if they'd like to go that route or wait for the next auto publish bump to address things in RLS

[2021-05-02 17:31] cynecx commented on #84579
Rendering the `IntoIterator` declaration without the attributes and outside core/std works just fine:

![image](https://user-images.githubusercontent.com/5961244/116822037-05b5e300-ab7d-11eb-9f2b-8ddf5529d4e1.png)

[2021-05-02 17:32] Stupremee commented on #81274
@rustbot claim

[2021-05-02 17:36] bioglaze opened #84831 "ICE when compiling code"
Crashes when running `cargo build`.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-02 17:46] RalfJung commented on #84538
lock_api 0.4.4 is senver-compatible, so why can't you just bump its version in the rustc and rustfmt `Cargo.lock` and proceed with the already released ap crates?

[2021-05-02 17:51] asmita-mf commented on #25289
I am having error while running "cargo build --release" command for substrate-node-template.

[2021-05-02 17:53] asmita-mf commented on #25289
I am having error while running "cargo build --release" for substrate-node-template ,
Error - cc linking error.
I have tried by installing gcc, cmake, libssl-dev
But after all these also I am facing this error

[2021-05-02 18:01] jyn514 commented on #56935
The error for this currently looks like
[code]
which comes from https://github.com/rust-lang/rust/blob/e10cbc33c1fd2fcd446cab5cdcc57332d154721c/compiler/rustc_metadata/src/creader.rs#L356-L360

I think https://github.com/rust-lang/rust/blob/e10cbc33c1fd2fcd446cab5cdcc57332d154721c/compiler/rustc_metadata/src/creader.rs#L258 is the function that determines whether a CNum should be reused.

[2021-05-02 18:33] Aaron1011 commented on #84429
I made an initial attempt at changing the `ExpnId` 'tree' into a forest - that is, we have multiple independent root `ExpnData`, one for each crate. However, this breaks a large amount of code that uses `ExpnId::is_descendant_of`. Previously, you could walk up the tree and be guaranteed to eventually have this method return `true` (when you reached the root at the latest). Now, you can two `ExpnId

[2021-05-02 18:38] jackh726 commented on #84796
The problem here is that `connection_retrier` wants a
[code]
(i.e. the lifetime on `'b` can be *any* lifetime) but the `'a` on `send_and_expect` is in the `R: 'a` bound, so it can't be *any* lifetime. The easiest fix is to just to change the bounds on `send_and_expect` to `<'a, R: Default + Send>`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f8cb60ba09f9be57395bab30af9

[2021-05-02 18:52] programmerjake commented on #84391
maybe change the title to disambiguate from other `derive(PartialEq)` issues? (such as forcing both `lhs` and `rhs` to have matching lifetimes.)

[2021-05-02 19:05] nikic commented on #84621
Having looked a bit closer, the step_by() based implementation is simply broken. It will panic for any input slice of odd length. As such, there's probably nothing worth optimizing here.

[2021-05-02 19:07] nikic commented on #83585
Upstream review: https://reviews.llvm.org/D101232

[2021-05-02 19:17] calebcartwright commented on #84538
it's not just a matter of changing the lockfile in rustfmt. We're just about over the finish line of converting rustfmt to a subtree and in doing so have removed our dependency on the auto publish crates entirely which is why #82208 will resolve this toolstate issue for rustfmt.

in order to address the toolstate via the auto publish crate route, the below would need to be done (largely in sequenc

[2021-05-02 19:58] jyn514 commented on #84827
This is basically the issue from https://github.com/rust-lang/rust/issues/83761#issuecomment-813026026, rustdoc should use the DefId instead of strings.

[2021-05-02 20:00] jyn514 commented on #84827
Relevant code in case someone wants to take a look: https://github.com/rust-lang/rust/blob/e10cbc33c1fd2fcd446cab5cdcc57332d154721c/src/librustdoc/passes/collect_intra_doc_links.rs#L837-L838

[2021-05-02 20:01] Nemo157 commented on #84579
Ooooh, it works on [`core::iter::IntoIterator`](https://doc.rust-lang.org/nightly/core/iter/trait.IntoIterator.html), it's only on the re-exported [`std::iter::IntoIterator`](https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html) that it has this issue. Similarly on 1.48.0 `core` showed the associated type bound nicely, only `std` showed it as a `where` clause.

[2021-05-02 20:04] jyn514 commented on #84827
Basically the way to do this is to only do the string munging in https://github.com/rust-lang/rust/blob/e10cbc33c1fd2fcd446cab5cdcc57332d154721c/src/librustdoc/passes/collect_intra_doc_links.rs#L490-L518 if `self_id.is_none()`; otherwise use `self_id` in the place of `ty_res`.

[2021-05-02 20:05] jyn514 commented on #84827
Ditto for https://github.com/rust-lang/rust/blob/e10cbc33c1fd2fcd446cab5cdcc57332d154721c/src/librustdoc/passes/collect_intra_doc_links.rs#L490-L518

[2021-05-02 20:14] jyn514 commented on #82449
I think "from std" is maybe more useful - you can derive Serialize and Deserialize (and even Error/Display), but those are still important to show near the top.

[2021-05-02 20:19] jyn514 commented on #84810
Closing this since the feature is no longer part of the compiler.

[2021-05-02 20:19] #84810 closed

[2021-05-02 20:35] Mark-Simulacrum opened #84836 "no_coverage feature-gated on function, not crate?"
It looks like the no_coverage attribute was added by checking for feature(no_coverage) on the function, but this isn't how feature gating usually works. Additionally, I don't believe that restricts usage of this on stable/beta, since nothing is actually checking this feature gate.

Noticed based on the test case (https://github.com/rust-lang/rust/blob/master/src/test/ui/feature-gates/feature-gate-

[2021-05-02 20:36] Mark-Simulacrum commented on #84836
cc https://github.com/rust-lang/rust/issues/84605

[2021-05-02 20:46] RalfJung commented on #84538
Oh I see... yeah that's even worse than I thought.^^ I figured during the subtree conversion so short before the release would be risky. But I'll leave you to it, sorry for assuming that I know more about this than I actually do.

[2021-05-02 20:52] Soveu opened #84837 "Confusing/incorrect "&mut &mut [T] is not an iterator""
Given the following code:

[code]
[code]

The current output is:

[code]
[code]

Ideally it would say that `&mut &mut T` is not an iterator and _maybe_ suggest removing `&mut`.
On the other hand, `for _ in &mut &mut (0usize..)` just derefs and works fine.

@rustbot label: A-diagnostics D-incorrect D-confusing

[2021-05-02 20:53] tdelabro commented on #84827
@rustbot claim

[2021-05-02 20:54] Mark-Simulacrum commented on #84538
Release is no longer attached to the master branch (we've effectively branched) so there's no worry there.

[2021-05-02 21:58] clarfonthey opened #84839 "Adding `where Self: Sized` to a required method forces implicit `Sized` bounds on trait"
Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=efbde4267fa53c01fd24ee88c52727c9

Essentially, here's my contrived example:
[code]

Whether you include or remove the `Test::test` method for `[u8]`, this refuses to compile, as `[u8]: !Sized`.

I'm not sure if this is intentional or not, but considering how adding `where Self: Sized` to optional methods works

[2021-05-02 22:58] kskjer opened #84841 "Internal compiler error with async, const generics, and ?-operator"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

The error also occurs on beta and nightly.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-02 23:26] scottmcm commented on #61061
@pickfire putting it into a binding, even an unused one, is considered a use, like how `let _ = something_must_use();` doesn't lint.  With just calling `t()` it lints: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2dc6ffbd470b5f098e4b1bdf653d57f

[2021-05-03 00:17] #73533 closed

[2021-05-03 00:21] TallonRain opened #84844 "ICE when compiling code"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-03 00:45] qinsoon opened #84846 "const_trait_impl does not work for a dependent crate"
I tried this minimal example.

One crate `int` that declares an `Add` trait with `const_trait_impl`. It works fine and we can declare a constant using the add trait:

[code]

A dependent crate that uses the above crate. I can use the add trait in the dependent crate, but I cannot declare a constant using the trait:

[code]

This error was given:
[code]

### Meta

`rustc --version --verbose`:
[code

[2021-05-03 01:55] zarniwhoop73 opened #84847 "Will 1.52.0 fix CVE-2021-31162 ?"
https://github.com/rust-lang/rust/issues/83618 has a related CVE, CVE-2021-31162.

I see that gentoo have work in progress to patch 1.51.0 for this and other recent CVEs, but the description suggests that versions before 1.53.0 are vulnerable. So, will the fix for this be included in 1.52.0 ? If so, you might wish to dispute the CVE, or at least the details. I see that 1.52.0 is due this week, but

[2021-05-03 02:30] #81274 closed

[2021-05-03 02:30] #84700 closed

[2021-05-03 02:30] #84782 closed

[2021-05-03 02:30] rust-highfive opened #84848 "`miri` no longer builds after rust-lang/rust#84840"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#84840, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-05-03 03:00] ExpHP commented on #80967
`bool::then_some` still links to the old tracking issue in the documentation...

[2021-05-03 03:51] calebcartwright commented on #84538
Good point about the release, glad to know that won't be a potential issue, and no worries, the auto publish crate utilization sometimes feels like a bit of a rube goldberg machine :laughing:

[2021-05-03 04:31] thomcc opened #84849 "`dsymutil` hits SIGBUS during `cargo build`, and spams warnings like "could not find object file symbol for symbol""
When building `evcxr_repl` on macOS (via, e.g. `cargo build -p evcxr_repl`), around the end of the build, I sometimes (often) get these warnings:

[code]

Not just `_anon.$hash.$counter` tho, in the output it also has a bunch of static vars and the like:

[code]

Anyway, this is abridged. It has about 6000 more lines with similar complaints. It doesn't cause the build to fail, but seems undesirabl

[2021-05-03 05:57] hellow554 commented on #84795
Duplicate of https://github.com/rust-lang/rust/issues/82290#issuecomment-782114654 which has been fixed by https://github.com/rust-lang/rust/commit/f0637e4e185e8c3dda694004d1dfd31126ed1fbd so it should not occur on nightly and next stable. Can you check that please @digitalatigid

[2021-05-03 05:59] hellow554 commented on #84844
Probably duplicate of https://github.com/rust-lang/rust/issues/84341.

@TallonRain you can run `cargo clean` to get rid of the ICE and start compiling again.
If you encounter this ICE again, please try to remember what code you changed after you ran your last `cargo build` (or check or run, ...) and post it here.

[2021-05-03 06:02] hellow554 commented on #84841
<details>
<summary>complete backtrace</summary>

[code]
</details>

Does not occur on stable 1.50.0, but on 1.51.0

@rustbot modify labels: A-async-await regression-from-stable-to-stable

[2021-05-03 06:16] hellow554 commented on #84841
Regression in nightly-2020-05-17 between ed084b0b8341c974769a0328f61851b0e1fc17fa...dd927a5b0f29342f7ad919fb52ca29510d2e7362

[2021-05-03 06:17] xry111 commented on #84847
It's backported into beta as 836fef007ea502fb37a9308be394ad5a4a889d8f.

[2021-05-03 06:25] hellow554 commented on #84831
Regression in nightly-2020-10-28 between fd542592f08ca0d1f7255600115c2eafdf6b5da7...07e968b640e8ff76fa8be4b48b70ab80ea577800

[2021-05-03 06:31] richkadel commented on #84836
Correct. The driving reason for adding the feature was to resolve #83601, and that issue occurred because `core`/`std` pushes a hidden function into everything that derives `Eq`, and we need to hide that function. So the only way to gate the issue at the crate level would be to automatically enable the feature in any crate that derives `Eq` (which is just about every crate).

Feature gating at the

[2021-05-03 06:51] hameerabbasi commented on #84831
This is an error->ICE case, with a nice error as well.

<details><summary>full build output</summary>

[code]
</details>

[2021-05-03 06:55] hameerabbasi commented on #84841
@rustbot labels -I-prioritize +P-high

As discussed in the prioritization working group [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384841.20Internal.20compiler.20error.20with.20async.2C.20const.20generics.2C.20.E2.80.A6)

[2021-05-03 07:06] hellow554 commented on #84637
hey @hi-rustin how are you doing on this?

[2021-05-03 07:22] hi-rustin commented on #84637
Yes, I would like to solve it. But I haven't had a chance to code it yet, so if you already have a solution you can just submit a PR. It's OK for me.

[2021-05-03 07:23] hi-rustin commented on #84637
If you want to submit a PR you can let me know and I can unassign myself.

[2021-05-03 07:25] hameerabbasi commented on #84831
@rustbot modify labels -I-prioritize +P-high

As discussed in the prioritization working group [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384831.20ICE.20when.20compiling.20code)

[2021-05-03 07:35] bkaestner commented on #80703
This issue was probably introduced between 9310e3bd4f425f84fc27878ebf2bda1f30935a63 and 215f2d3294b08dbdcf8f7d40de21ef1e7eae0a2d. Unfortunately, I lack the experience to bisect Rust's source further, or rather I encounter unrelated issues. Hopefully, that range can help someone else.

For completeness (and to make sure that I actually did the correct thing), here's how I found the range: with `iss

[2021-05-03 07:42] hi-rustin commented on #84828
@rustbot claim

[2021-05-03 07:51] RalfJung commented on #83033
A type cast *is* happening here. `dummy_fn` is an expression denoting a function item which has a "function item type" -- a type of size 0 that uniquely denotes the function to be called (a "singleton type" in type theory lingo). This type needs to be cast to a "function pointer type", and that cast is forbidden inside `const fn`.

The cast is *allowed* inside `const`, as you noted. This, too, is

[2021-05-03 07:53] RalfJung commented on #63997
See my response at https://github.com/rust-lang/rust/issues/83033#issuecomment-831089437 -- short summary: there is in fact a cast going on here; see [the reference on "function item types"](https://doc.rust-lang.org/nightly/reference/types/function-item.html) for more detailed.

[2021-05-03 08:01] hellow554 commented on #84637
I haven't done anything yet but the initial post ;) So you can work on it as you like.

[2021-05-03 08:07] steffahn commented on #84841
The bisection seems accurate, but (just so nobody misses this) this does mean it _does_ also occur on 1.50 and all the way back to 1.45. Also this is seems const-generics related: @rustbot label A-const-generics.

PRs in the relevant range:
[code]

[2021-05-03 08:56] steffahn commented on #84831
Minimized
[code]

[2021-05-03 09:18] steffahn commented on #84831
Interesting thing… my minimized example only regresses at `nightly-2020-11-16` (98d66340d6e63eda115afc8b0da1d87965881936 to 603ab5bd6e0ffefafa7411cd8bd23a6ca82bcff0), however I can confirm the regression at `nightly-2020-10-28` (fd542592f08ca0d1f7255600115c2eafdf6b5da7 to 07e968b640e8ff76fa8be4b48b70ab80ea577800) for the original example.
[code]
AFAICT likely #77502.

[2021-05-03 09:19] XAMPPRocky opened #84855 "`x.py install` does not support Windows MSVC."
Running `x.py install` currently attempts to run `sh` shell scripts on Windows platforms, which isn't available in the prerequisite  tools for MSVC. `x.py install` should be able to be run on Windows without `sh`.

### Error

[code]

[2021-05-03 09:25] steffahn commented on #84831
Ah, that makes sense… the later regression is due to #79016. Using `std::<x as y>` takes it back to `nightly-2020-10-28`.

[2021-05-03 10:42] Mark-Simulacrum commented on #84836
It should be possible to adjust the normal feature gating to correctly handle macro expanded sources - that is, allow the built-in derives to generate it without it being stabilized. We do this for the Structural trait impls somehow, for example; possibly enough to set the span appropriately. If necessary, I can either provide or track down someone who can, further hints. It might be good to look

[2021-05-03 10:43] mautamu commented on #84738
Not exactly an MCVE, but I think I'm able to reproduce this with only a handful of files @jyn514. The line
```thread 'rustc' panicked at 'index out of bounds: the len is 8 but the index is 8', compiler/rustc_metadata/src/creader.rs:137:21```
 does change slightly though:
```thread 'rustc' panicked at 'index out of bounds: the len is 20 but the index is 20', compiler/rustc_metadata/src/creader.rs:1

[2021-05-03 11:01] lcnr opened #84857 "auto trait candidate selection is unsound"
[code]

---

There are two impls of `Send` for `Foo`, the explicit `impl<U: False> Send for Foo<u32, U>` and the implicit one if all fields are `Send`. The implicit one always holds in this example.

Candidate selection only acknowledges the existence of the implicit impl if the explicit one is known to not apply even when ignoring where bounds.

For `Foo<T, U>: Send` candidate selection can't use

[2021-05-03 11:04] lcnr commented on #84857
modifying main to the following this unsoundness exists since version 1.0
[code]

[2021-05-03 11:05] caius-iulius opened #84859 "error[E0117] provides misleading explanation."
Given the following code: [rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=impl%20Drop%20for%20u32%7B%7D%0A%0Afn%20main()%7B%0A%20%20%20%20println!(%22Hey!%22)%0A%7D)
(This is straight-up copypasted from the error docs for E0117)

[code]

The current output is, amongst other things:

[code]

The sentence "impl doesn't use only types from inside the current

[2021-05-03 11:10] steffahn commented on #84857
Using e.g. `UnwindSafe` instead of `Send` allows you to remove the `unsafe`.

[2021-05-03 11:38] steffahn commented on #84831
Confirmed #77502 as the regression point.
cc @varkor @estebank

[2021-05-03 11:58] badboy commented on #82412
[MCP posted](https://github.com/rust-lang/compiler-team/issues/428)

[2021-05-03 12:22] steffahn commented on #84831
@rustbot label -A-meta

[2021-05-03 12:38] WiSaGaN commented on #81415
Should this be closed now that the implementation is merged?

[2021-05-03 12:39] steffahn commented on #84831
Nevermind, further minimization to
[code]
puts the regression point _earlier_ than #77502.
[code]

[2021-05-03 13:09] jyn514 commented on #84738
I think the issue is that the crate is first used in a dependency, so it isn't loaded in https://github.com/rust-lang/rust/blob/e327a823d8b64e294e490efeca7829f383aa119d/src/librustdoc/passes/collect_intra_doc_links/early.rs#L30-L31

Maybe a fix is to recursively traverse the docs of re-exports? That sounds kind of expensive, but the only other option (besides fixing #83761) is to revert and re-ope

[2021-05-03 13:11] jyn514 commented on #84738
An easy workaround is to link to `spirv_types` somewhere in the crate re-exporting the docs, even something like this would work:

[code]

[2021-05-03 13:24] digitalatigid commented on #84795
Beta and Nightly do not panic when compiling and instead show an appropriate error message. (`rustc 1.52.0-beta.7 (9a1dfd2dc 2021-04-30)` and `rustc 1.53.0-nightly (42816d61e 2021-04-24)`)

[2021-05-03 13:28] jyn514 commented on #84738
Hmm, this setup didn't reproduce the issue, not sure why:
[code]

[2021-05-03 13:29] jyn514 commented on #84738
Maybe the proc macro is related somehow?

[2021-05-03 14:02] hellow554 commented on #84795
Then you can close this issue (:

Thanks for the report!

[2021-05-03 14:02] jamesmunns commented on #84700
I just wanted to mention @ABouttefeux, [we wrote a little bit of context and details from Ferrous' perspective on this fix](https://ferrous-systems.com/blog/compilers-as-teachers/), and I wanted to thank you personally for implementing this diagnostics improvement so quickly! Let me know if you have a blog or twitter you'd like us to link to (rather than your GH profile).

[2021-05-03 14:11] tmplt commented on #79524
`weave` is not on the list of terms I would search for when looking for the expected behavior. I'd even consider it vanity.

A verbose function name describes its effect better. More so if the term is uncommon; there is then less ambiguity. `intersperse` does exactly what is says: intersperse elements with a common separator.

[2021-05-03 14:21] hameerabbasi commented on #84738
********************************************************************************
Regression in 640ce99bfe70375a24c6775a937d6a258b40398b
********************************************************************************

searched nightlies: from nightly-2021-01-01 to nightly-2021-04-24
regressed nightly: nightly-2021-04-04
searched commits: from https://github.com/rust-lang/rust/commit/138fd56cf9598b

[2021-05-03 15:07] scole66 commented on #82853
... hits the nightly channel along with rls and rustfmt, anyway...
[code]

[2021-05-03 15:07] steffahn commented on #84831
The regression of the `std::<0>` example happens at #70284.

cc @lcnr

[2021-05-03 15:18] hellow554 commented on #84831
As a reminder: Please add [both][0] code [snippets][1] as testcases. They seem to be triggered differently, therefore it shouldn't hurt to add them both.

[0]: https://github.com/rust-lang/rust/issues/84831#issuecomment-831123197
[1]: https://github.com/rust-lang/rust/issues/84831#issuecomment-831232546

[2021-05-03 15:28] ehuss opened #84869 "Adjust OR_PATTERNS_BACK_COMPAT lint level"
The [OR_PATTERNS_BACK_COMPAT](https://github.com/rust-lang/rust/blob/c825bc431ee5b815847b9bab693c59c43986fc4b/compiler/rustc_lint_defs/src/builtin.rs#L3177-L3209) lint level should be adjusted for the 2021 edition.  Either the lint should be warn-by-default always, or it should be a 2021 future-incompatible lint.  This is needed to smoothly migrate projects to 2021.

There is some appeal to making

[2021-05-03 15:29] Azgrom opened #84870 "Unstable fingerprints at 'predicates_of(...)' error"
Hi there! I was practicing this [CodeWars kata](https://www.codewars.com/kata/54bf1c2cd5b56cc47f0007a1/train/rust) and stumbled with the following compiler error:

### Code
As I was in the middle of the solution, this code's logic does not what it is intended to.
[code]

### Meta

`rustc --version --verbose`:
[code]

Don't know if it is relevant, but I have updated rustup. But the problem is the s

[2021-05-03 15:46] hi-rustin commented on #84869
@rustbot claim

Maybe it it should be a 2021 future-incompatible lint?

[2021-05-03 15:54] FabianWolff commented on #84801
It is not unexplainable if you recall that before optimization, the compiler doesn't "know" that an `if true` will always take the then-branch: To the borrow checker, an `if true` looks like any other conditional branch, i.e. it will take both possible branches into account. I've changed your example to make this explicit, and also simplified it to not use any loops, hash maps, etc. `foo1()` below

[2021-05-03 15:54] ABouttefeux commented on #84700
Hello, linking to my GH profile is fine. I did not know I would contribute to such an interesting learning experience.
Anyway thank you for mentioning me in your blog post 😄.

[2021-05-03 16:01] richkadel commented on #84836
@Mark-Simulacrum: I just uploaded a PR to fix this, as an alternative to reverting: #84871

Your call.

Thanks!

[2021-05-03 16:20] durin42 commented on #84626
Ugh, I can't figure out what I was seeing. Maybe it's been fixed, maybe I misremembered.

[2021-05-03 16:29] Stupremee commented on #82449
@rustbot claim

[2021-05-03 16:31] crumblingstatue commented on #75263
Looks like there are already similar issues about this.

- https://github.com/rust-lang/cargo/issues/7359
- https://github.com/rust-lang/wg-cargo-std-aware/issues/56

[2021-05-03 17:00] #84828 closed

[2021-05-03 17:01] nikomatsakis commented on #53934
This issue is blocking progress on the 2021 Edition. Mara and I did a read-through. I wanted to document the current state as I understand it and propose a resolution.

## Current state

As currently used, the set of suggestions ('spans') in the JSON potentially include many exclusive or incompatible edits. It is not possible to reliably determine which set of edits belong to one logical change.

[2021-05-03 17:02] nikomatsakis commented on #53934
cc @zackmdavis -- I know it's been a while, but as the author of this issue I just wanted to make sure you saw that ☝️ and had a chance to give your opinion on it =)

[2021-05-03 17:03] pnkfelix commented on #81658
PR #84864 embedded 381f1318ad1884e542c82ca664adc806fde4d941 which (again) reverts PR #81473

[2021-05-03 17:30] Manishearth commented on #84626
Gonna close this for now but we can reopen if you see this again @durin42? You can try using `./x.py test` again and report things if they break.

[2021-05-03 17:30] #84626 closed

[2021-05-03 17:34] richkadel commented on #82853
`rustup update --force` is what I've used to bypass this.

[2021-05-03 17:45] olix0r opened #84873 "Compile time+memory regression between 1.49.0 and 1.50.0"
Our compile times and memory footprint regressed substantially between Rust 1.49.0 and 1.50.0.

This regression is a hard blocker for us to be able to upgrade our project from 1.49.0. As this is a severe issue for us, please let us know if there's anything we can do to provide more diagnostics, test changes, etc.

This may be related to other recent issues that describe similar behavior:

* https:

[2021-05-03 17:55] jyn514 commented on #84873
@olix0r can you paste the output of `cargo rustc -- -Z time-passes`? It should have some output before it hangs.

[2021-05-03 17:56] jyn514 commented on #84873
If you can come up with a smaller example than "linkerd" that would also be helpful, but it will be more difficult than just running time-passes.

[2021-05-03 18:01] jyn514 commented on #84847
You can tell by looking at the milestones on the PR:
![image](https://user-images.githubusercontent.com/23638587/116913859-fe8fe300-ac17-11eb-9b7d-8e4f91f7373d.png)
(and you can find the PR by looking at the issue:
![image](https://user-images.githubusercontent.com/23638587/116913910-0fd8ef80-ac18-11eb-83f7-909ac6ce341f.png))

[2021-05-03 18:01] #84847 closed

[2021-05-03 18:22] olix0r commented on #84873
[code]

[code]

[2021-05-03 18:24] olix0r commented on #84873
We're going to try to see if we can avoid this with boxing, which may help us identify a smaller repo, but this may take some time...

[2021-05-03 18:27] Mark-Simulacrum commented on #84297
Bumping milestone to 1.53 as 1.52 should be fixed by the revert of #81238 in #84864. We may want to consider breaking this code, but I don't want to do that in the few days before a release; I suspect it's a hard sell to break working code here though.

[2021-05-03 18:32] nikomatsakis commented on #82940
See https://github.com/rust-lang/edition-guide/pull/232. This lays a lot of the groundwork for this issue.

[2021-05-03 18:41] alexcrichton commented on #44025
This was implemented in https://github.com/rust-lang/rust/pull/83416 as:

[code]

[2021-05-03 18:53] jyn514 commented on #84873
Wow, that is a *lot* of memory in LLVM and a lot of time in `partition_and_assert_distinct_symbols`. I wouldn't expect that to be so expensive: https://github.com/rust-lang/rust/blob/716394d6581b60c75cfdd88b8e5b876f2db88b62/compiler/rustc_mir/src/monomorphize/partitioning/mod.rs#L350-L362

Not sure who to ask about that - maybe @wesleywiser has ideas what's going on?

[2021-05-03 18:55] jimblandy opened #84877 "Standard library documentation for alternatives to [T]::contains suggests Borrow is needed when it is not"
The documentation for `[T]::contains where T: PartialEq<T>` suggests that, if this method is not applicable because the type you need to compare with is not exactly `T`, you should use `.iter().any()`. This is good advice, but it goes on to suggest that somehow a `Borrow` implementation is a necessary part of the solution, when it is not.

The documentation should suggest the use of `iter().any` w

[2021-05-03 18:56] jimblandy commented on #84877
CC: @RalfJung , since they're the author of the comment.

[2021-05-03 19:01] Soveu commented on #84859
Well, in this case yes, you can't redefine `u32` because it's a built-in type, but consider this
[code]
`SomeType` is implemented outside of your crate, but you can also define your own type named `SomeType`

The reason it's not possible in Rust to implement external traits for external types is that there can be other crates relying on `SomeType` not having certain traits (for example `Drop` or `

[2021-05-03 19:19] jackh726 commented on #84857
I think there was some discussion previously in wg-traits that an implicit impl should never be considered if there is an explicit impl. And I think that makes sense and would fix this. It isn't fully backwards compatible though, but I'm unsure how often that would get run into in practice.

[2021-05-03 19:20] #84795 closed

[2021-05-03 19:20] GuillaumeGomez commented on #84326
Done in #84754. Don't hesitate to re-open if I missed something but from what I read, it's now done.

[2021-05-03 19:22] GuillaumeGomez commented on #83332
I updated https://github.com/rust-lang/rust/issues/83332#issuecomment-822937616. So now only remains two things:

* the documentation for non-exhaustiveness (e.g. on ErrorKind - see discussion on #84309)
* the global doc comment

[2021-05-03 19:28] nikomatsakis opened #84879 "add back support for inner attributes on non-block expressions?"
In #83312, @petrochenkov proposed the removal of inner attributes on non-block expressions. In the [2021-04-27](https://github.com/rust-lang/lang-team/blob/master/minutes/2021-04-27.md#parser-remove-support-for-inner-attributes-on-non-block-expressions-rust83312) meeting, the @rust-lang/lang team noted a few concerns, but I didn't get around to raising those concerns on the PR itself before it was

[2021-05-03 19:53] nikomatsakis commented on #81415
Sounds good.

[2021-05-03 19:53] #81415 closed

[2021-05-03 20:24] richkadel opened #84884 "`-Z instrument-coverage` shows missing coverage for unbraced closures invoking only a macro"
I expect something that looks like the result, for a similar (non-macro) closure:

[code]

But instead we get results like the following:

[code]

This issue is demonstrated in the coverage results from the test: https://github.com/rust-lang/rust/blob/031c756d16290f3f8ed25a64126ff82cca17123d/src/test/run-make/coverage/closure.rs#L136

I have a new PR in progress to show more examples, and those ex

[2021-05-03 20:28] ehuss commented on #65262
Sorry for the slow reply.  We don't have any process for evaluating if and when something should be stabilized.  Has anyone tested this feature?  I realize that is difficult since it is nightly only, but even if people do some local testing against their own packages or with `path` dependencies, I think that would be helpful. Kick the tires and see if it works as expected, and if other people can

[2021-05-03 20:39] richkadel commented on #84884
I suspect the problem is related to how the expansion is handled for the macro body. When defined without braces, it is (likely) "de-sugared" (adding braces perhaps?) in a way that confuses the macro expansion handling in `transform/coverage/spans.rs`.

[2021-05-03 20:40] richkadel commented on #84884
@rustbot +A-code-coverage

fyi: @tmandry @wesleywiser

[2021-05-03 20:41] apiraino commented on #84857
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2384857.20auto.20trait.20candidate.20selection.20is.20unsound) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-high

[2021-05-03 20:51] djc commented on #65262
I was waiting for a pronouncement on the name, since in Zulip some people expressed preferences for another name. If there is consensus about the current name, I'll start to make some noise to invite testing.

[2021-05-03 20:56] stechu opened #84885 "Cargo check panicked (`nightly-2021-04-24`)"
Running on Ubuntu 20.04.2 LTS on AMD Ryzen 5900

### Code
running
[code]
of https://github.com/Manta-Network/Manta

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-05-03 21:02] petrochenkov commented on #74690
In https://github.com/rust-lang/rust/pull/84029#discussion_r622603746 @Xanewok has some concerns about the module structure.
It should be somehow harmonized with a similar interface for tracking files (https://github.com/rust-lang/rust/pull/84029).

[2021-05-03 21:15] stechu commented on #84885
fix by using the workaround suggested https://github.com/rust-lang/rust/issues/84341.

[2021-05-03 21:15] #84885 closed

[2021-05-03 21:16] ehuss commented on #65262
Yep, sorry again about the delay. The team did talk about it in our last meeting and we felt like `rust-version` hit the right balance between the alternatives.  Our meetings have been pretty full so it takes a while to get through things.

[2021-05-03 21:37] djc commented on #65262
Cool, thanks, I'll see if I can shake loose some testing efforts.

[2021-05-03 22:27] nikomatsakis commented on #83310
@bIgBV well, so type-flags can help to propagate through the types that are "visible". So for example `Vec<Foo>` would combine the type flags of `Vec` and `Foo`. But if you are going to look at the *felds* defined in `Vec`, `TypeFlags` isn't really what you want. This kind of thing is always a touch tricky to do.

I guess there's a question of which part to work on first. I personally would work o

[2021-05-03 22:29] #84801 closed

[2021-05-04 00:27] #79617 closed

[2021-05-04 00:55] est31 commented on #84873
Maybe a bisection could shed some light onto the regression causing change? https://github.com/rust-lang/cargo-bisect-rustc/blob/master/TUTORIAL.md

[2021-05-04 01:13] clarfonthey commented on #76560
I figure this isn't even something that would be considered during MVP, but is there any way we could potentially make:

[code]

work with the existing MVP? Right now `transmute` will always fail if two types' sizes fail to unify, rather than acting at monomorphisation time. Probably something to consider with existing design.

[2021-05-04 01:41] sollyucko commented on #79489
What have you tried and what exactly is the issue you're facing? Have you tried all the different versions of `gcc.exe` that exist on your computer?

[2021-05-04 02:01] kryptan opened #84890 "Native CPU is not reported on Raspbian"
Executing `rustc --print target-cpus` or `rustc -Ctarget-cpu=help` on Raspberry Pi 4 prints the following:

[code]

In contrast, executing the same command on Windows or Ubuntu on x86-64 also prints native CPU:

[code]

In [source code](https://github.com/rust-lang/rust/blob/fed59d669c5ca3c0e9c39dcb1f6510b5876ede64/compiler/rustc_llvm/llvm-wrapper/PassWrapper.cpp#L397) there is check for cross com

[2021-05-04 02:03] clarfonthey opened #84891 "rustdoc computes array constants but not const generics"
Minimal example, a new crate with `src/lib.rs` set to the below. Run `cargo doc` and then open the page for `Test`.

[code]

In the list of implementations of `Test`, it will simplify `[u8; 1 + 1]` to just `[u8; 2]`, but it will leave `Array<u8, {1 + 1}>` as-is instead of converting it to `Array<u8, 2>`, as shown below:

![Screenshot from 2021-05-03 22-04-07](https://user-images.githubusercontent.

[2021-05-04 02:04] scole66 commented on #82853
Nice. Didn't know about that. Seems like `matches!` needs your marker:
[code]

But it does seem like all the `assert_eq!` are fixed now.

[2021-05-04 02:08] richkadel commented on #82853
Awesome (mostly 😉 )

Please feel free to update the issue title for the specific issue with `matches!` or close this and open a new one.

Thanks so much for the feedback!

[2021-05-04 02:10] jyn514 commented on #67857
I tried this change:
[code]
Unfortunately it doesn't work very well; I think the spans don't match up between sessions.
[code]

[2021-05-04 02:17] jyn514 commented on #67857
This also doesn't work well:
[code]
[code]

[2021-05-04 02:22] richkadel commented on #84884
I looked into this (reviewing debug logs) and the issue it not exactly a macro problem, I think.

The closure tests I used all call `println!()`, and that macro is defined as follows:

[code]

Note the expansion starts with `{`. That creates a closure that looks like it starts:

[code]

Since the opening brace comes from the macro, the closure MIR body source starts within the macro.

Generating t

[2021-05-04 02:23] jyn514 commented on #84891
This is https://github.com/rust-lang/rust/issues/82852 I think.

[2021-05-04 02:23] clarfonthey commented on #84891
Ah, it appears so. This was hard to search for.

[2021-05-04 02:23] #84891 closed

[2021-05-04 02:24] clarfonthey commented on #82852
Provided another example in a (now closed) duplicate issue:

[code]

![screenshot of docs](https://user-images.githubusercontent.com/15850505/116953578-a11d8580-ac5b-11eb-88bc-d602c6c138cf.png)

[2021-05-04 02:28] scole66 opened #84892 "-Zinstrument-coverage and matches!()"
When using `-Zinstrument-coverage` on a recent (first-week-of-May-2021) nightly, the `matches!` macro is no longer marked covered. (This is likely related to macro coverage rules recently adjusted.) The macro was marked covered earlier in April.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-05-04 02:29] scole66 commented on #82853
Ticket for new coverage issue: #84892.

_This_ issue (i.e. `assert_eq!()`) is done.

[2021-05-04 02:29] #82853 closed

[2021-05-04 02:38] scole66 commented on #84892
/cc @richkadel

[2021-05-04 03:39] olix0r commented on #84873
I was able to identify the nightly date that goes bad:
[code]

My system is having trouble running the git-based bisect, but I'll report back when that completes...

For reference, I created a cgroup with limited memory so I could make the build to fail without waiting ~40 minutes (RSS is reliably under 2GB for good versions).

[2021-05-04 04:00] bIgBV commented on #83310
@nikomatsakis ah, that's fair. And yes, I agree, I think we need to solve the problem of propagating attributes for both this and the `#[must_use]` attributes. I've begun working on a basic implementation based on the notes that you've provided, but I'd love to come up with ideas on how to unify the behavior for both these lints, but also for the future ones. I think a syntax like `#[must(not_susp

[2021-05-04 04:19] est31 commented on #84873
Commit range is eb4fc71dc...f74583445

[2021-05-04 04:31] olix0r commented on #84873
searched nightlies: from nightly-2020-12-18 to nightly-2020-12-19
regressed nightly: nightly-2020-12-19
searched commits: from https://github.com/rust-lang/rust/commit/eb4fc71dc9024f15a0c9cc44bcc10c861e9d585e to https://github.com/rust-lang/rust/commit/f74583445702e2e27ec4415376f2c540a83d7ded
regressed commit: https://github.com/rust-lang/rust/commit/1954756aa53d03e59e40669eaa47a15d8497c352

<deta

[2021-05-04 05:14] davyzhu opened #84893 "== cannot be applied to type HashSet"
I wrote a wrapper for Hashset, and tried to compare two set with same elements. But compiler complained `== cannot be applied to type HashSet` even if I derived PartialEq(Hashset implement PartialEq and Eq traits).

Compiler suggest `add #[derive(Debug, Eq, PartialEq + std::cmp::PartialEq)]`.
I asked question at [forum](https://users.rust-lang.org/t/cannot-be-applied-to-type-hashset/59313), and so

[2021-05-04 05:58] QuineDot opened #84895 "Reported patterns not covered in non-exhaustive pattern error (E0004) are incorrect"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0422011b7f957ede7bbbcd6f8083d24a)):
[code]

The current output is:
[code]

Ideally the output should look like:
[code]

Tested via playground on stable, beta, and nightly.

[2021-05-04 06:36] hellow554 commented on #84893
Somewhat reduced:

[code]

[code]

@rustbot modify labels: A-diagnostics A-suggestion-diagnostics D-invalid-suggestion

(more labels are better? :) )

[2021-05-04 06:42] hellow554 commented on #84895
if guards are not directly part of the match pattern, therefore it isn't considered when doing a covered check, as the following example shows:

[code]

[code]

This was always the case and I think there's an issue for that, but I can't find it right now :/ Maybe someone smarter than me finds it and can link it to you.

[2021-05-04 07:08] nappa85 commented on #84245
Sorry for the long silence, it took me more than 10 days to prove Lenovo support that there were hardware problems even if tests passes. Now with a brand new hardware everything is stable. Closing the issue

[2021-05-04 07:08] #84245 closed

[2021-05-04 07:27] kennytm commented on #22639
It has been over half a year since https://github.com/rust-lang/rust/pull/77640#pullrequestreview-511263516, and the indexing question is rejected in https://github.com/rust-lang/rust/pull/79728#pullrequestreview-633030341, so I guess we can submit another stabilization attempt? 😉

[2021-05-04 08:05] RalfJung commented on #76560
I don't think `transmute` will become smart like that. You can use `transmute_copy` though which has no size check (and is "even more unsafe" than `transmute`).

[2021-05-04 08:16] mariomatic opened #84898 "Rustc panicked at 'found unstable fingerprints..."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-04 08:33] QuineDot commented on #84895
Thanks.  Duplicate of issue 72377 or issue 74277 then I guess.  I'll let someone else decide for sure though, as arguably this could be pivoted to an RFE: Make [E0004](https://doc.rust-lang.org/stable/error-index.html#E0004) more explicit regarding match guards.

[2021-05-04 08:57] QuineDot commented on #84895
After pondering why I thought this would work for a little bit, I realized I was thinking of this:
[code]
Which indeed gives the expected error.  See also issue 67264.  Not sure if it's feasible to make this a compiler hint though.

[2021-05-04 09:07] lcnr commented on #76560
yes, and while I might be missing something, I expect us to change transmute to use a `size_of::<T>() == size_of::<U>()` bound once this feature works well enough.

@RalfJung why do you expect this to not be possible?

[2021-05-04 09:09] RalfJung commented on #76560
Maybe I am underestimating the power of full-blown const generics.^^

[2021-05-04 09:13] GuillaumeGomez opened #84901 "Add test to ensure that index is valid when using --emit=toolchain-shared-resources"
From this comment: https://github.com/rust-lang/rust/pull/84176/files#r625362701

[2021-05-04 09:35] JohnTitor commented on #84898
Should be a duplicate of #84341, it has been fixed on the latest nightly. Updating the toolchain or running `cargo clean` (or turning off the incremental compilation) should get rid of the ICE. If you still find an ICE, feel free to re-open. Thanks!

[2021-05-04 09:35] #84898 closed

[2021-05-04 09:54] leonardo-m opened #84902 "[ER] Array bound test for capped index"
Title:
Currently certain optimizations are brittle:

[code]

rustc 1.54.0-nightly (716394d65 2021-05-03) gives:

[code]

[2021-05-04 09:55] hellow554 commented on #84895
What do you mean by "this"? Trying to convince the user to convert the `if guard` into a match pattern directly? I don't think that that is feasible, because if guards can be arbitrary complex and I don't think it's worth the time to investigate the expression.

That being said: maybe it would be a good candidate for a clippy lint? E.g. `simple_if_guard_that_could_be_converted_to_match_expression`

[2021-05-04 10:51] nikic commented on #84902
Godbolt: https://rust.godbolt.org/z/4GefGqsMP

I think I already fixed this one upstream.

[2021-05-04 12:08] jyn514 opened #84906 ":boom: Unable to create a status for (422 No commit found for SHA: d624549bf84ee7110771ff0b5fe2b63ebcc21e9a)"
:boom: Unable to create a status for d624549bf84ee7110771ff0b5fe2b63ebcc21e9a (422 No commit found for SHA: d624549bf84ee7110771ff0b5fe2b63ebcc21e9a)

_Originally posted by @bors in https://github.com/rust-lang/rust/issues/84017#issuecomment-831839544_

[2021-05-04 12:09] jyn514 commented on #84906
Wrong repo, sorry, meant to open this on homu. Github mobile is really bad.

[2021-05-04 12:09] #84906 closed

[2021-05-04 12:12] jyn514 commented on #84891
No worries, it's hard to find rustdoc issues because they're buried in everything else. Filtering for A-rustdoc usually helps.

[2021-05-04 12:16] jyn514 commented on #84873
Oh interesting, this is related to symbol names like you suspected: https://github.com/rust-lang/rust/pull/80122.

cc @davidtwco @nagisa

[2021-05-04 13:35] steffahn commented on #83123
Reduced:
[code]

[2021-05-04 13:51] ijackson opened #84908 "Tracking Issue for ExitStatusError"
Feature gate: `#![feature(exit_status_error)]`

This is a tracking issue for `ExitStatusError` (and `ExitStatus::exit_ok`).

This feature makes it convenient to properly check the exit status of subprocesses (such as from `Command`)

### Example

[code]
### Public API

(In pseudo-syntax:)

[code]

### Steps / History

- [ ] Implementation: #82973
- [ ] Final commenting period (FCP)
- [ ] Stabiliza

[2021-05-04 13:53] wesleywiser commented on #84873
#80122 reverted part of #76030 but that had only landed a few months prior. Does this also fail to build prior to say 1.47 before the original PR was merged?

[2021-05-04 14:32] Mark-Simulacrum commented on #84879
One thing that I had brought up during the lang team discussion, though not a concern shared by others I think, is that the meaning of the inner attribute can be somewhat ambiguous in expression positions (e.g., tuples). I don't think this merits a straight removal but we had discussed this point and I think I wasn't able to communicate my point too well, and was asked to write up a comment.

When

[2021-05-04 14:37] olix0r commented on #84873
FWIW, on 1.46.0, we hit a type length limit after 20 minutes, though the heap only makes it to around 600MB.

[code]

[2021-05-04 14:38] Mark-Simulacrum commented on #51999
Hm. It seems plausible that the program could do a number of useful things before it reaches the panic, and just like in regular code adding an unimplemented!() and continuing to work on other pieces is useful, the same seems true of const-expr. I think it makes sense for the compiler to warn (and maybe even error) by default on such cases, but entirely refusing to compile code that will eventuall

[2021-05-04 14:40] jyn514 commented on #84901
I wonder if it would be feasible to do a full build with docs.rs and see if there were regressions ... it would be super expensive but it would save us *so* much trouble.

[2021-05-04 14:40] pietroalbini commented on #84667
A fix for this is available from 1.53 onwards (nightly and soon enough beta), and it's been backported to 1.52 stable. Closing the issue. If this is still happening please leave a comment and we'll reopen it!

[2021-05-04 14:40] #84667 closed

[2021-05-04 14:41] pietroalbini commented on #83139
A fix for this is available from 1.53 onwards (nightly and soon enough beta), and it's been backported to 1.52 stable. Closing the issue. If this is still happening please leave a comment and we'll reopen it!

[2021-05-04 14:41] #83139 closed

[2021-05-04 14:53] DoumanAsh commented on #51999
Panic should evaluate to compile error only at compile time, if `const` expression is not evaluated at compile time compiler wouldn't be able to detect it at all so I don't think it would be possible to detect such panic and error at all?

[2021-05-04 15:01] m-ou-se commented on #77998
That sounds like a use case for the recently stabilized [`split_once`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.split_once).