[2020-08-27 11:52] bugadani opened #75978 "Unnecessary instructions generated"
I'm trying to figure out why certain iterator-based algorithms get const-optimized, while others don't and I stumbled upon this case.

[example](https://rust.godbolt.org/z/191WM4)

Compiling `fn1` results in the expected machine code, but `fn2` has extra stack reserve/free instructions that are not necessary, since the function's contents are optimized away completely. The stack size equals the si

[2020-08-27 12:03] matthiaskrgr commented on #75977
Likely caused by https://github.com/rust-lang/rust/pull/72784

[2020-08-27 12:16] lzutao commented on #75935
The comment in code says that it's because of an optimization for ZST:
https://github.com/rust-lang/rust/blob/118860a7e76daaac3564c7655d46ac65a14fc612/library/core/src/slice/mod.rs#L4009-L4014

[2020-08-27 12:18] mitchmindtree commented on #42066
Can you elaborate on what you mean by per-page?

Personally, I'm interested in disambiguating between all of the types with the same name within the current crate *and* all its dependencies - not just potential name conflicts that appear on the current page.

When reading docs, I'd like to be able to know which of the possible set of types is being referred to (of all public types that share the s

[2020-08-27 12:34] bugadani opened #75980 "Inconsistent iterator optimization"
I'm not sure if this is the fault of const propagation (probably not?), but these [examples](https://rust.godbolt.org/z/Ks48Ke) result in unexpected code.

Some of the examples aren't that different from each other, and (for me at least) surprisingly the more complicated examples are optimized, while some of the less complicated ones aren't.

[2020-08-27 12:37] Alexendoo commented on #71699
Fixed by #75893

[2020-08-27 12:37] #71699 closed

[2020-08-27 12:42] matklad opened #75981 "Next-generation syntax highlighting for rustdoc"
At the moment, rustdoc uses only the lexer to do syntax highlighting (#75775). This has the benefits of simplicity & performance, and gets us 80% of the way quality wise, but it is not perfect. For example, lexer-based highlighting can't properly detect contextual keywords, glued/split operators, etc.

We can and probably should make this better, though this requires a lot of fundamental work on I

[2020-08-27 13:05] sdroege commented on #75935
If you had a counter that would work basically the same way, you'd just check `idx==len` or `remainder==0` or similar. For ZST the current encoding seems just like a way to make it possible to not worry about ZST special cases in most other places of the code.

[2020-08-27 13:14] matthiaskrgr opened #75982 "ICE: Expected module, found DefId"
Found in the `pr-75180` crater run:

[code]
ICEs:
[code]

This ICE happens on:
`rustc 1.47.0-beta.1 (0f91f5c28 2020-08-25)`
`rustc 1.47.0-nightly (2d8a3b918 2020-08-26)`
but `rustc 1.45.2 (d3fb005a3 2020-07-31)` only shows a compiler error.

[2020-08-27 13:20] jyn514 commented on #42066
So, obviously this is very confusing and should be fixed (from https://github.com/rust-lang/rust/issues/74924, https://docs.serde.rs/serde_json/struct.Error.html#trait-implementations):
![image](https://user-images.githubusercontent.com/23638587/91446737-d577b100-e845-11ea-9678-55cd3569312d.png)

But what about `impl std::io::Error for MyError`, when there's no other `Error` type in scope?
![image

[2020-08-27 13:22] matthiaskrgr opened #75983 "ICE: unexpected predicate TraitPredicate on opaque type"
Found in the `pr-75180` crater run:
[code]
ICEs:

[code]

This ICE happens on:
`rustc 1.47.0-beta.1 (0f91f5c28 2020-08-25)`
`rustc 1.47.0-nightly (2d8a3b918 2020-08-26)`
but rustc `1.45.2 (d3fb005a3 2020-07-31)` builds fine.

[2020-08-27 13:32] Alfriadox commented on #64260
What about a function `on_true` that takes a closure and returns an option as I think has already been discussed here.

[2020-08-27 13:53] csmoe commented on #75977
sorry, my bad, and it's ./src/test/ui/async-await/issues/issue-61986.rs ?

[2020-08-27 14:19] SNCPlay42 opened #75986 "Late unused trait import warnings do not suggest removing"
[code]

A tool-only suggestion to remove `use bar::T` is emitted but no such suggestion is emitted for `use bar::Trait` ([output JSON on godbolt](https://godbolt.org/z/4b4q8a)).

[2020-08-27 14:27] kornelski opened #75987 "Tidy on UI tests is annoying"
I've added a single word to an error message, and it broke tests for a silly reason:

[code]

The line has to be that long, otherwise it's not testing the message. I don't know what to do about this.

[2020-08-27 14:33] pnkfelix commented on #73908
I'm throwing a link to https://github.com/rust-lang/rust/issues/74820 on here because I suspect we'll want to better understand *that* bug before we can stabilize a Tier 1 ARM target.

[2020-08-27 14:39] jonas-schievink commented on #75045
Also happens with `-Copt-level=z`. This can affect anyone using recent versions of the [nrf-hal](https://github.com/nrf-rs/nrf-hal/).

[2020-08-27 14:49] mitchmindtree commented on #42066
If the `serde` crate is a dependency of `hexponent`, then I would still opt to disambiguate the trait name. I would do so because it is still just as unclear which trait is being implemented for `ParseError`.

E.g.
[code]

Knowing that serde is a dependency, it is unclear which `Error` trait is being implemented without using the mouse to hover over the `Error` name or click on it.

I would love t

[2020-08-27 14:49] nikomatsakis commented on #75791
This is almost certainly due to #72493. The error seems legit, as discussed [here](https://zulip-archive.rust-lang.org/238009tcompilermeetings/49871weeklymeeting2020082754818.html#208226050). The error *message* is quite misleading, what's really happening is that the type of `std::fs::remove_file` doesn't implement `for<'a> FnMut(&'a Path)` but just `FnMut(&'b Path)` for some `'b`. We have some s

[2020-08-27 15:24] estebank commented on #75983
Is this going out in the new stable?

[2020-08-27 15:25] kornelski commented on #75987
Ok, I've found `// ignore-tidy-line-length`. But I think it should be the default for UI tests.

[2020-08-27 15:32] jonas-schievink commented on #75983
Oh, this crate is full of unstable features, so no need to worry about stable

[2020-08-27 15:35] alasher commented on #74508
My commit landed just over a week ago, we should be able to close this issue.

[2020-08-27 15:42] chansuke commented on #75577
Hi. I'd like to work on this issue

[2020-08-27 15:44] alepauly commented on #71988
@pietroalbini We continue looking at this and I wanted to confirm you are still seeing the exact same symptoms of disconnects. We're been able to curve the cases where the runner disconnects and are now focusing more on perf issues that might be leading to timeouts. I browsed a few workflows and noticed timeouts such as [this](https://github.com/rust-lang-ci/rust/actions/runs/225385358). Is this a

[2020-08-27 16:19] pickfire opened #75988 "Rustdoc show rustc_layout"
It would be good to be able to understand the size, abi and debug stuff related to `rustc_layout`. Instead of needing users to manually add `#[rustc_layout(debug)]` to `struct` and `enum` on nightly, why not just show it on rustdoc generated pages, this may only be limited to concrete struct and enum, otherwise it may not be as useful since currently `rustc_layout` is not so useful on those.

CC @

[2020-08-27 16:21] jonas-schievink commented on #75988
If this ends up getting implemented, please make sure to clarify that the layout is implementation-defined and unstable unless `#[repr]` is used.

[2020-08-27 16:22] #74508 closed

[2020-08-27 16:39] hniksic commented on #64260
@djc Please merge my and @jdahlstrom's proposal, as they are the same. My comment just argued for it more elaborately because I thought it was under-appreciated and possibly went under the radar.

For example:

11. @jdahlstrom proposed and @hniksic argued for a simple `bool::as_option() -> Option<()>` conversion, which provides a single method and leaves further transformations to methods already

[2020-08-27 16:46] aspenluxxxy commented on #73908
Does _that_ bug affect any 64-bit ARM targets? Or just ARMv7?

[2020-08-27 17:58] Shnatsel commented on #74420
Why does rustc link to `zlib` and not simply use [`miniz_oxide`](https://github.com/Frommi/miniz_oxide)? The latter is 100% safe Rust and is mature enough to be the default backend for `flate2`.

I suspect that rustc opted for `zlib` over `miniz` (in C) back when `miniz_oxide` (in Rust) was not yet available.

[2020-08-27 18:01] jethrogb commented on #74420
It's an LLVM dependency, not `rustc`.

[2020-08-27 18:13] nicholasbishop opened #75992 "Increasingly slow compilation as more levels of `async` are added in Rust 1.46"
I upgraded from 1.45 to 1.46 today and a crate I'm working on seems to hang forever while compiling. I've attempted to create a somewhat minimal test case. For convenience here's a repo that includes the code below: https://github.com/nicholasbishop/rust146hang

Cargo.toml:
[code]

src/lib.rs:
[code]

I've found that the slowness seems tied to the depth of the async call chain. In the example code

[2020-08-27 18:19] simonvandel opened #75993 "MIR building: Place should be moved if not used later"
The following MIR can be improved by converting a copy to a move: https://godbolt.org/z/jnKK4f .
**Observed**
[code]
**Expected:** _2 is moved into the switchInt as it has no uses later. _4 could similarly be moved into the Ne comparison
[code]
<details>
  <summary>Original issue - no longer relevant</summary>

In the following snippet https://godbolt.org/z/6f3xs3 , I would have expected `_2` to b

[2020-08-27 18:21] jonas-schievink commented on #75993
We don't have a pass that promotes copies to moves, but that's something that could probably be implemented.

[2020-08-27 18:29] jyn514 commented on #75992
Possible duplicate of #72408?

[2020-08-27 18:34] pietroalbini commented on #71988
@alepauly thanks for getting back to us! Indeed, it seems like the runner disconnects are not appearing anymore! I'll monitor closely the build results in the coming week to see if they appear.

Regarding the cancelled builds, like the one you mentioned, that's a mistake on our end :sweat_smile:. Since our build matrix is so big [we built an action to cancel builds once a new commit is pushed to t

[2020-08-27 18:55] roalyr opened #75997 "Filesystem warning supress-ability"
As described previously here https://github.com/termux/termux-packages/issues/4921#issue-565954999 this warning appears when incrementally compiling on the Android device, and there seems to be no way to disable it.

The more linked libraries are there within the workspace the more this warning pops up, consuming the terminal output.

I know I am in the minority here, but maybe, just maybe, making

[2020-08-27 18:58] NeoRaider commented on #71789
The [src] links on the page I linked are still absolute links pointing at the nightly docs, but on the nightly doc page [src] links are relative. So unless there is a difference in the stable and nightly doc build process that could explain the difference, it has likely been fixed in nightly.

[2020-08-27 19:01] petrochenkov commented on #75987
I disagree that this is an issue, various tidy checks are still very much useful for test code.

`//~ ERROR` annotations in `*.rs` files are not required to contain full messages and can be trimmed to their "essential part" if necessary, `*.stderr` files will contain full messages anyway.
`// ignore-tidy-line-length` and other `// ignore-*` directives are tools of last resort and should only be us

[2020-08-27 19:20] kellerkindt commented on #75992
Noticed the same issue. A crate that compiled previously in ~4-5 minutes, now the last step does not seem to complete at all. (rustc at one core 100% for at least 25minutes before I cancelled it)

[2020-08-27 19:29] jyn514 commented on #75992
Interestingly, this only happens with `cargo build`, not `cargo check`.

[2020-08-27 19:30] jyn514 commented on #71789
Oh I see what you mean. Yes, on the beta page this points to /beta and not /nightly: https://doc.rust-lang.org/beta/alloc/alloc/struct.Layout.html and https://doc.rust-lang.org/beta/src/core/alloc/layout.rs.html#26-38.

[2020-08-27 19:30] #71789 closed

[2020-08-27 19:32] programmerjake commented on #55002
@gnzlbg

Assuming LLVM generates the x86 `pause` instruction, it actually has defined behavior on pre-SSE2 processors:
https://www.felixcloutier.com/x86/pause

it disassembles to a `rep nop` instruction, where the `rep` prefix is ignored by processors that don't understand the `pause` instruction.

[2020-08-27 19:43] nikomatsakis opened #76001 "Tracking Issue for const expressions and patterns (RFC 2920)"
This is a tracking issue for the RFC "Inline `const` expressions and patterns" (rust-lang/rfcs#2920).
The feature gate for the issue is `#![feature(const_expr)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not*

[2020-08-27 19:47] sazzer commented on #75808
Just an FYI that my CI build just auto-updated to the new stable 1.46.0 and this is now happening there too.

A build at 0822 BST worked successfully on rustc 1.45.2, and a build at 2033 BST failed, now using rustc 1.46.0. There were zero changes to the Rust code between those two builds, and the only difference is that because I'm using `actions-rs/toolchain@v1` which auto-installs the latest Sta

[2020-08-27 19:59] #75904 closed

[2020-08-27 20:43] ojeda commented on #75992
Well, it is a nearly perfect exponential fit!

[2020-08-27 20:46] ehuss commented on #71789
Just a note: I was a bit confused in my comment above about it fixed in 1.46.  It is actually fixed in 1.47.  I forgot that beta is promoted a few days early, so it will actually be fixed in 6 weeks on the stable URL.

[2020-08-27 21:02] spastorino commented on #74820
Lowering priority to `P-medium` as [discussed during compiler team meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-08-27.20.2354818/near/208223645)

[2020-08-27 21:53] clarfonthey commented on #55002
One (not required for stabilisation) thing that may also useful to mention is that `spin_loop` can also be used for embedded contexts, although I don't have any useful examples that aren't antequated x86 OS code, so, I'm sure that someone more active with embedded stuff can comment.

Essentially, there are times where you can't outright halt the CPU until the next interrupt *and* you also have to

[2020-08-27 21:55] Aaron1011 opened #76005 "Compute `Upvar.span` after typecheck"
In https://github.com/rust-lang/rust/pull/75933, I added code to determine a better upvar span when emitting borrow check errors. This span is stored in `ty::UpvarCapture`.

Ideally, we would return this span from the `upvars_mentioned` query - however, the better span depends on typeck (so we can tell if the upvar is inferred to be by-value), and typeck uses `upvars_mentioned`.

[2020-08-27 22:25] douglascorrea opened #76006 "lldb debugging is not working from version 1.46"
I tried this code:

[code]

I expected to see this happen: *To be able to use lldb commands as I can if I use lldb directly*

Instead, this happened: *error: file specified in --source (-s) option doesn't exist: 'lldb_commands'*

### Meta

`rustc --version --verbose`:
[code]

The same happens on a macOS machine

---

I saw that `lldb_commands` is on `src/etc/` directory together with `rust-lldb` s

[2020-08-27 22:30] ehuss commented on #76006
cc @ortem who introduced `lldb_commands` in #72357.  I also notice the script references `$RUSTC_SYSROOT` which isn't set anywhere.

[2020-08-27 22:47] amberisvibin commented on #25289
also having this issue on ubuntu 20.04.

[2020-08-27 23:22] #75623 closed

[2020-08-27 23:57] aloucks commented on #48556
Are the [half-precision x86/64 functions](https://doc.rust-lang.org/core/arch/x86_64/fn._mm_cvtph_ps.html) intended to remain unstable? The stable compiler errors and the documentation points to this issue, but it was closed quite a while ago along with the [stabilization PR](https://github.com/rust-lang/rust/pull/49664).

[2020-08-28 00:03] scottmcm opened #76007 "Suggest returning an owned type instead of a reference in E0106"
Lifetime elision doesn't allow the following:
[code]

The current message has a great hint, but only suggests `-> &'static str`.

It would be nice if it could also suggest `-> String`, which would be the better choice for this example.

So maybe it would result in an error something like the following:
error[E0106]: missing lifetime specifier
 --> src/lib.rs:1:18
  |
1 | fn fizzbuzz() -> &str {

[2020-08-28 00:20] douglascorrea commented on #76006
The issue happens because `rust-lldb` expects `lldb_commands` and its dependencies resides on the current directory.

Just to let you know that I got it working doing this:

- Cloned this repo on `~/repos/rust`:
- then

[code]

[2020-08-28 00:33] oft opened #76008 "why rust can't infer this type"
I tried this code:

[code]

[code]
why rust can't infer this type

[Cannot infer type](https://users.rust-lang.org/t/cannot-infer-type/47902)

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-08-28 00:33] douglascorrea commented on #76006
Another important highlight, as @ehuss mentioned, this is a recent change, so 1.45 was working fine and the issue appeared only on 1.46

[2020-08-28 01:18] CraftSpider opened #76009 "Add support for exporting symbols in binary"
When creating an executable, even if you mark a function pub, the resulting file will not export the function. This is handled by this line:
https://github.com/rust-lang/rust/blob/b97e9b5dc74e705cd01603c5f735652a04460a60/src/librustc_codegen_ssa/back/linker.rs#L508
There seems to be no way to get around this, aside from creating a new target with a list of override_symbol_exports, which require ma

[2020-08-28 02:14] jyn514 commented on #76008
It's something to do with `G`, using `fn(i32) -> i32` instead works fine. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a44f87df026d79a2d62da356e73be07c

[2020-08-28 03:18] kentfredric commented on #66623
Technically I think the other bug is the dupe, being newer, but not sure what standard conventions for this are on github

[2020-08-28 03:19] jhpratt commented on #76001
With regard to the lint, is there any semantic difference between the two? Intuitively I would expect them to behave identically (static lifetimes).

[2020-08-28 03:24] jyn514 commented on #66623
Ah well, you're right and I just happened to see the other first 😆 feel free to comment there if it's missing info you had here.

[2020-08-28 03:35] tmandry commented on #74820
If the lock is being poisoned by another panic we need to see what that one is. Consider building with `-Cpanic=abort` so we can see what's going on in the first panic.

I don't see why the linked change would be causing something like this, but it's certainly possible.

[2020-08-28 03:35] shutton commented on #73329
This issue occurs on FreeBSD 10.4 with the 1.46.0 (stable) compiler.  Downgrading to 1.45.2 resolves it.

[2020-08-28 03:37] jyn514 opened #76011 "Suggest `async {}` for `async || {}`"
This code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=988c3dd515555a1e28500cb19ca7d303)):
[code]
prints out
[code]
This is pretty unhelpful for beginners - normally this happens when they try to use `await` in a closure, which tells them they need async:
[code]
But when they do they get an error about async being unstable, which they have no idea how to so

[2020-08-28 03:40] tmandry commented on #74820
Oh nevermind, I skipped over the `#[should_panic]` test, panic=abort wouldn't work here.

There must be something misconfigured on this target. Something in libtest relying on libunwind symbols that used to be exported from libstd, perhaps? But why would it only happen on armv7?

[2020-08-28 03:43] lzutao commented on #73329
Please open a new issue for this bug because your comment may get lost.
Beware that FreeBSD is tier-2 target, not many developer have machine
to test on. So including more details is really helpful You could like back to this issue if you want.

[2020-08-28 04:17] lzutao opened #76012 "Remove the tidy exceptions of custom-named tests module in std"
In https://github.com/rust-lang/rust/pull/75979#discussion_r478452260, Petrochenkov suggest
to merge `src/thread/local/dynamic_tests.rs` to `src/thread/local/tests.rs`. Note that `dynamic_tests` mod is gated
any platform cfgs but tests mod is. I'm not sure what would need to be done but one should wait until #75979
merged to start to work on this issue.

@rustbot modify labels: C-enhancement A-tes

[2020-08-28 05:04] shutton commented on #73329
After downgrading and upgrading, and then starting over with a fresh cargo environment, I'm no longer able to get a repro.  I'll open a new issue if I see it again.

[2020-08-28 05:50] rodrimati1992 opened #76013 "ICE with `const _: () = panic!(String::new());`"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-28 06:02] sdroege opened #76014 "Tracking Issue for slice::split_at_unchecked() and split_at_mut_unchecked()"
This is a tracking issue for the `slice::split_at_unchecked()` and `slice::split_at_mut_unchecked()` functions.
The feature gate for the issue is `#![feature(slice_split_at_unchecked)]`.

### API

[code]

### Steps

- [x] Implement (https://github.com/rust-lang/rust/pull/75936)
- [x] FCP (https://github.com/rust-lang/rust/issues/76014#issuecomment-1954560830)
- [ ] Stabilization PR

### Unresolved

[2020-08-28 06:27] #75965 closed

[2020-08-28 07:20] sdroege commented on #75935
I can do an implementation of `slice::iter()` that does counting next week, but what would be the best way to check this doesn't cause any performance regressions elsewhere? How are such things usually checked?

[2020-08-28 07:35] DutchGhost commented on #66693
Im hitting this ICE on stable _without feature flag_:
[code]

[2020-08-28 08:21] RalfJung commented on #66693
Hm indeed, that is interesting:
[code]
@rust-lang/wg-const-eval any idea why we go on here after seeing an error? Does this kind of behavior mean *any* part of CTFE is reachable on stable somehow?

[2020-08-28 08:26] scottmcm commented on #55082
Triage: still repros on the current nightly.

[2020-08-28 08:29] oft commented on #76008
@jyn514

I know how to resolve it, but i think that rust should infer this type.

[2020-08-28 09:08] Keruspe opened #76020 "1.46.0 fails to build with llvm-libunwind enabled"
On one of my systems which is entirely based on llvm/clang/libc++/llvm-libunwind 1.46.0 builds fine, but on the other "traditional" ones, it fails with

[code]

1.45.2 compiles fine.

I'm currently doing some testing but I suspect that 21abc8879cddd0002ca1da2eaa0f8e27ef09fa99 is the culprit

[2020-08-28 09:22] Keruspe commented on #76020
I can confirm that reverting #72746 fixes the build

[2020-08-28 09:29] scileo commented on #75902
As far as I know, [sysinfo] allows to detect mounted partitions and is cross-platform. It would allow us to create a hashmap of mount point -> FS type. Then, calling [Path::ancestors] and doing a lookup to the hashmap would allow us to find the partition type in which the whole rust repository is located.

This applies for Linux for sure, but maybe other UNIXes.

I am not aware of a way to check i

[2020-08-28 09:34] lzutao commented on #75980
Please come up with minimal example to show what you mean about missed-optimization.
The code in godbolt link you show look to be optimized OK. No surprise to me.

[2020-08-28 09:39] bugadani commented on #75980
All right, highlighted 2 from that mess: https://rust.godbolt.org/z/EjW13c

One sums the array, other sums every second element.

[2020-08-28 09:39] hug-dev commented on #42839
The PR which implements this issue is ready for review 🚀
#75148

[2020-08-28 09:42] jmjoy opened #76021 "1.46.0: Throw "SIGSEGV: invalid memory reference" when building in alpine."
### Code

[code]

### Meta

[code]

### Error output

The last step:

[code]

[2020-08-28 09:44] lzutao commented on #74028
Will be closed by  #73461 when it get merged.

[2020-08-28 09:48] lzutao commented on #75980
This seems like a duplicate of #73825 .
In short, if you use `let s = &[1, 2, 3, 4, 5, 6, 7];` (not the borrow "&"), both function should be optimized.

[2020-08-28 09:48] lzutao commented on #75980
maybe const prop in LLVM after inlining.

[2020-08-28 09:50] kellerkindt commented on #75992
FYI, issue present in
  - rustc 1.46.0 (04488afe3 2020-08-24)
  - rustc 1.47.0-beta.1 (0f91f5c28 2020-08-25)
  - rustc 1.48.0-nightly (397b390cc 2020-08-27)

It seems to not matter whether `--release` is set

[2020-08-28 09:58] jmjoy commented on #76021
Not only crate rand, but replacing rand with log will also have this error:

[code]

[2020-08-28 09:59] glaebhoerl commented on #64260
Just a very small note (based on Ctrl-F for various words it doesn't *seem* to have been specifically mentioned before) that one of the benefits of consistent naming for methods on `bool` resp. `Option` would be the ability to "guess" their existence, without having to look it up in the docs -- "I know this method I need exists for `Option`, hmm, *start typing*, ah, it exists for `bool` too, cool!

[2020-08-28 10:06] bugadani commented on #75980
Thanks for the info. So if I make the arrays `const`, their respective functions get evaluated. So the int-array cases are a duplicate of #73825 and the string cases are duplicate of #75618

[2020-08-28 10:13] bugadani commented on #75980
Although, to be fair, it's still not clear why an extra `iterator.next` messes things up.

[2020-08-28 10:33] lzutao commented on #75980
This is the thing I don't know. After comparing the MIR with and without "&",
"&[1, 2, 3, 4, 5, 6, 7]" is promoted while plain array isn't.

[2020-08-28 10:35] elichai commented on #52652
Does anyone knows what is the current situation? because this seem to contradict the reference:

https://github.com/rust-lang/reference/blob/master/src/items/functions.md#extern-function-qualifier

[2020-08-28 10:39] lzutao commented on #75978
Two observations:
* `-O ` in this case optimize code better than `-C opt-level=3`
* Just like  #75980, adding `&` to array in fn2 also make it optimizable.

[2020-08-28 10:45] lzutao commented on #73825
There are missed-optimizations like #75978. One has to borrow the static array to make optimization happens.
But there are plans to demote static slice,which may cause optimization losses.
Not sure what to do, but I will cc @RalfJung about MIR.

@rustbot modify labels: A-mir-opt A-LLVM

[2020-08-28 10:52] kellerkindt commented on #75992
Got you an example on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8a04cebc149c96ebda98a1c50e40b504)

Just adjust the number in here:

[code]

[2020-08-28 11:01] RalfJung commented on #73825
No, only mutable things are planned to not be promoted any more (and fallible operations, but not slice creation).

[2020-08-28 11:18] kornelski commented on #75987
Tidy has been a nightmare.

1. The build failed. Tidy didn't like line lengths that were exceeded by a few characters.
2. So I've had to find and add the `// ignore-tidy-line-length`
3. The build failed, because the ignore lines have changed line numbers in the tests.
4. I've had to rebuild and bless tests again (it's a slow process)
5. The build failed. I've added one ignore too many, and it fail

[2020-08-28 11:46] petrochenkov commented on #75987
Perhaps it's annoying for the first time, but updating failing tests doesn't require any rebuilds and take ~5 minutes at most after the initial build.

- You run `x.py test --bless src/test/ui tidy` for the first time, this is the long part.
- A number of tests fail due to wrong or overlong `//~ ERROR` annotations, they are fixed by updating or trimming the `//~ ERROR` annotations.
- `x.py test --

[2020-08-28 11:51] eddyb commented on #70334
@marmeladema Apologies for the delay! Please PM me on Zulip or elsewhere if I don't see something on GitHub (I'm still months behind on most notifications).

I think this is overkill, we can "just" return a two-variant `enum` and force the callers to handle the two cases separately.
I'm imagining something like this (renaming `as_symbol`, for clarity, though not extremely happy with these names):

[2020-08-28 12:20] danielvschoor opened #76024 "Thread 'rustc' has overflowed its stack"
I've seen a few of these issues with the same names, although most of them seems to have been resolved already, while I am still having this issue.

I tried this code:
`cargo build`

I expected to see this happen: The project builds

Instead, this happened: Compiling fails with error: `thread 'rustc' has overflowed its stack`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtr

[2020-08-28 12:22] #70381 closed

[2020-08-28 12:42] jbg commented on #64496
I have just started hitting this when I upgraded to 1.46.0 today. Several crates in a large workspace started failing to compile with this error (which I've never seen before), usually referring to `LocalKey`.

The value it suggests for the `type_length_limit` increases each time I update it to the suggested value, although I did eventually find values that worked. Also, the error message does not

[2020-08-28 12:58] withoutboats commented on #55002
Let's have at least 1 release cycle between stabilizing `hint::spin_loop` and deprecating `atomic::spin_loop_hint`, so proactive people can have 6 weeks to make the change at their own convenience without getting a warning?

[2020-08-28 13:03] jjpe commented on #68354
While I love that there are now people willing to take this up, in the past month life has gotten much, much busier for me.
So even though I'd really like to do this, I cannot at this time.

[2020-08-28 13:27] kellerkindt commented on #75992
Hmm, seems like there are actually two separate issues. The example I provided above behaves the same on rustc 1.43.0 to current (1.42.0 and before are even slower).
But the repo provided by @nicholasbishop and my local project compile fast on <=1.45.* and **really slow** with 1.46 and later.

[2020-08-28 13:48] jyn514 commented on #75992
Sounds like the first example might be https://github.com/rust-lang/rust/issues/72408, then.

[2020-08-28 13:51] lzutao commented on #76021
Actually I just need libc = "0.2" to reproduce the issue.

# Bisection result
searched nightlies: from nightly-2020-06-19 to nightly-2020-06-21
regressed nightly: nightly-2020-06-20
searched commits: from https://github.com/rust-lang/rust/commit/e55d3f9c5213fe1a25366450127bdff67ad1eca2 to https://github.com/rust-lang/rust/commit/2d8bd9b74dc0cf06d881bac645698ccbcf9d9c5e
regressed commit: https://gi

[2020-08-28 14:03] lzutao commented on #76021
Related issue: #74757

[2020-08-28 14:06] kellerkindt commented on #75992
I am able to somewhat limit it to argument parameters (being references).
In the following example there is 2x compilation time difference between 1.45 and 1.46.

Create the file `template.rs`:
[code]

The execute:
[code]

Which results in:
[code]

[2020-08-28 14:10] 12101111 commented on #76021
I can't repoduce this on my musl based Gentoo linux system, which use musl 1.2.1.
[code]
Alpine 3.8 use [musl 1.1.19](https://pkgs.alpinelinux.org/package/v3.8/main/x86_64/musl) but rust CI use [musl 1.1.24](https://github.com/rust-lang/rust/blob/master/src/ci/docker/scripts/musl-toolchain.sh#L6), and I'm sure musl don't have any binary forward compatibility (Yestday I try to downgrade musl to 1.1

[2020-08-28 14:16] lzutao commented on #76021
Cool. @jmjoy so the answer is to upgrade alpine to newer version (easy) or just upgrade musl (hard).
This could be closed as won't fix.

[2020-08-28 14:29] Robbepop commented on #54279
One of my projects could definitely profit from having these functions stabilized.
To answer the above questions from my point of view as potential user:

For my personal use case I could use the second returned value but infering all information I need can also be done by only the first without overhead.
The main use of these functions is for constrained or performance critical code. If we can in

[2020-08-28 14:34] SkiFire13 commented on #20671
Interestingly this issue doesn't affect trait aliases. I don't know if it's possible but couldn't the compiler use the same logic to elaborate the where clauses in normal traits? I would expect them to work the same.

[code]

[2020-08-28 14:47] Alfriadox commented on #64260
I think that since `bool`s are language primitives, it's acceptable for them to break with the naming style on `Option` and `Result`.
In general forcing everything to match the convention only makes sense when they are used for the same purpose. `Option` and `Result` are both generic and store something. Methods like `then` or `map` indicate to me the operating on a value stored inside the struct

[2020-08-28 15:07] donchoi25 commented on #62194
Hi! I'd like to work on this.
@rustbot claim

[2020-08-28 15:30] pickfire commented on #59039
I don't know if `Self` would be good but I think using the parent module would be good since it is quite common to do `env::arg`. In the docs, this will align with the parent item import.

[2020-08-28 16:13] samrrr opened #76031 "doc.rust-lang.org Cant compile"
https://doc.rust-lang.org/stable/rust-by-example/std/vec.html
Code from this page have compile errors.

[2020-08-28 16:16] jonas-schievink commented on #76031
rust-by-example is maintained at https://github.com/rust-lang/rust-by-example, so please open the issue there (or send a PR)

[2020-08-28 16:16] #76031 closed

[2020-08-28 16:19] Amjad50 commented on #68354
@rustbot claim

[2020-08-28 16:24] Nicholas-Baron commented on #75550
@rustbot unclaim

I am too distracted to finish the pull request.

[2020-08-28 16:38] Amjad50 commented on #68354
I'll start working on stabilizing this feature

[2020-08-28 17:01] vkcz commented on #75612
[code]
It seems to be no. (I did `debug = true`)
`cargo run --release -- example.png` gives `error: process didn't exit successfully: target\release\oxipng.exe example.png (exit code: 0xc000001d, STATUS_ILLEGAL_INSTRUCTION)`

[2020-08-28 17:45] GuillaumeGomez opened #76036 "Clean up rustdoc tests"
A lot of rustdoc tests are in the middle of the code. I think we should centralize them in one place (like in `librustdoc/test/`) and then organize the tests in there directly (grouping them by what they actually test).

[2020-08-28 18:00] mati865 commented on #75612
In this case you'd have to type `d` in gdb.

[2020-08-28 18:10] petrochenkov commented on #76036
@GuillaumeGomez
What do you mean?
We have a tidy check that forces tests to be in separate files named `tests.rs` rather than in the middle of the code, so all rustdoc tests look like this:
[code]

[2020-08-28 18:15] oli-obk commented on #66693
yes. We're not gating CTFE on whether there were stability (or any other static checks) failing. I've been abusing this since 1.0 to demo things on the stable compiler and never got around to fixing it. I don't even know if we have a tracking issue for it.

[2020-08-28 18:34] Spferical opened #76037 "Disk cache ICE with big array"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

I see similar behavior in stable `1.46.0`:

[code]

The example always succeeds to compile the first time, but uses a large amount of time and memory. `time cargo build`:
[code]

Upon incremental re-compilation, I almost always see one of the following errors.

I saw other open issues with a similar error message as the 1.46.0 output

[2020-08-28 18:40] GuillaumeGomez commented on #76036
I guess it's up to debate but this issue came up recently because a contributor (cc @matklad) needed to add a fixture file, making the whole very messy in my point of view. So what I had in mind was to move the files "out of tree" into something looking like this:

[code]

Or something like this:

[code]

(I have to admit that I prefer the second one.)

[2020-08-28 18:42] RalfJung commented on #66693
:rofl:

So what would be a possible approach here? Replace such consts by `Error` early enough that their MIR never actually gets evaluated?

We might as well use this issue, IMO...

[2020-08-28 18:45] richkadel opened #76038 "rustc `-Clink-dead-code` causes MSVC linker to produce invalid binaries when LLVM InstrProf counters are enabled"
This reports a bug with the `-C link-dead-code` option is enabled, when targeting MSVC and when LLVM InstrProf counter reports are enabled. The bug is probably not specific to InstrProf, but InstrProf sets the conditions for exposing the bug.

I hope someone with better familiarity with the `-C link-dead-code` option, and the MSVC linker options it enables and/or interacts with, can help determine

[2020-08-28 18:48] Dirbaio commented on #63063
I've been playing around with this feature and found some surprising behavior. I'm not sure if it's by design, or a bug, or I'm misunderstanding something, so I thought I'd share it here.

given this...

[code]

why doesn't this compile? [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f5408f83ca35c6600cf993ca248f0f7c)

[code]

It seems to me that calling a f

[2020-08-28 18:52] richkadel commented on #76038
Note: This issue was also called out in Issue #64685 because there are some similarities (both involve coverage profiling, and exposed a bug related to `-C link-dead-code`); however the symptoms and the targets are actually different, with _this_ issue being specific to InstrProf counters, built into Rust via `profiler-builtins`, and the failure of only the MSVC linker (as far as I know).

[2020-08-28 18:55] richkadel commented on #64685
After some sidebar discussions, I think the issue with `-Z instrument-coverage` and `-C link-dead-code` (which is only present when targeting MSVC and using the MSVC linker) is different. I've created a new bug report, Issue #76038 , and referenced this one, just in case someone sees a relationship.

[2020-08-28 18:56] oli-obk commented on #66693
That would require us to mutate all MIR and potentially even HIR. Other possible solutions:

* poison the mir Body if const checks fail (by adding a field like https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TypeckResults.html#structfield.tainted_by_errors or by just nuking the body by replacing it with `_0 = ConstKind::Error; return;`) and thus make allow const eval

[2020-08-28 18:58] Dirbaio opened #76039 "`Mismatched type` when trying to use async fns with feature(type_alias_impl_trait)"
I've been playing around with this feature and found some surprising behavior. I'm not sure if it's by design or a bug, but it looks like very surprising/counterintuitive behavior for me, so I thought I'd share it here.

Given this:

[code]

why doesn't this compile? [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f5408f83ca35c6600cf993ca248f0f7c)

[code]

I

[2020-08-28 19:01] GuillaumeGomez opened #76040 "Add an equivalent of "--check" on rustdoc"
In a recent conversation, it came up that `cargo check` wasn't running rustdoc lints. I then realized that there was no easy way to just run an equivalent of `cargo check` with rustdoc to get those lints. So the question is mostly: how should we do it? Extend `cargo`? Add an option on rustdoc and then call it through cargo?

cc @rust-lang/rustdoc

Also tagging @yaahc who brought up the issue.

[2020-08-28 19:09] jyn514 commented on #76040
Another thing mentioned is that it's not clear which lints belong to rustdoc and which belong to rustc. If we added `doc::` in front it would be more clear the lints are only run with `rustdoc`.

[2020-08-28 19:11] dessalines commented on #64496
I'm also getting this issue, but with `future-utils`:

[code]

[2020-08-28 19:42] steveklabnik commented on #60617
Triage: not aware of any updates here

[2020-08-28 19:43] steveklabnik commented on #59281
Triage: no change

[2020-08-28 19:44] steveklabnik commented on #61301
Triage: given that we're not longer using Azure pipelines, I imagine this issue can be closed. Anyone from @rust-lang/infra who can confirm?

[2020-08-28 19:51] Mark-Simulacrum commented on #61301
Indeed! Closing.

We're still using macOS on Azure, but I don't think we've seen these failures there recently at least.

[2020-08-28 19:51] #61301 closed

[2020-08-28 20:24] tspiteri opened #76042 "incorrect code generation for i686 release build for 1.47 beta and nightly"
[code]

The test passes for 1.46.0 i686 stable release builds, for i686 beta/nightly debug builds, and for x86_64 beta/nightly release builds, but fails for i686 beta/nightly release builds.

CI logs from this code on GitLab:

https://gitlab.com/tspiteri/fixed/-/pipelines/183281142

[2020-08-28 20:28] matthiaskrgr commented on #62387
Urgh I just ran into this AGAIN. :sob:

My code was something like this:

[code]

The error shown:
[code]

So I changed it to `|&mut container|` and was greeted with
[code]
which made me wonder if I was better off with the origin `|container|`.

I really wish rust could somehow detect the `.iter().bla(|x|  fn_that_requires_mut(x)` pattern and suggest to use `iter_mut()` :(

[2020-08-28 20:28] tspiteri commented on #76042
The `println!` prints `combine_lo_then_shl(0, 1536, 4) -> (1536, true)`, but `combine_lo_then_shl(0, 1536, 4)` should return `(96, false)`.

[2020-08-28 22:05] vkcz commented on #75612
Typing `d` in `gdb` (immediately after `run` or after `st`) gives no output -- not even a `Undefined command`.

[2020-08-28 22:05] LeSeulArtichaut commented on #75983
Then I guess it would be worth minimizing this to check that we're unable to reproduce this with no unstable features, and if we can't, it would still be good to have a test case for the "culprit feature".

[2020-08-28 22:12] LeSeulArtichaut commented on #75992
I think **`@kellerkindt`**'s example above should be good enough to do some bisection, but of course it would be great if we could minimize this further.

@rustbot ping cleanup

[2020-08-28 22:29] LeSeulArtichaut commented on #76021
Tagged this issue as `O-musl`, please correct me if that's wrong

[2020-08-28 22:37] LeSeulArtichaut commented on #76042
Let's try to find the culprit for this regression.
@rustbot ping cleanup

[2020-08-29 00:02] Dylan-DPC commented on #76042
Marking this as P-critical based on the [wg-prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376042.20incorrect.20code.20generation.20for.20i686.20rele.E2.80.A6)

[2020-08-29 00:05] Skepfyr commented on #75983
I got it down to this, I haven't been able to remove `trait_alias` so I think short term it's fine.
[code]

[2020-08-29 00:16] matklad opened #76046 "Removing `StringReader::retokenize`"
`StringReader` contains a `retokenize` function, which allows to to, well, retokenize existing span:

https://github.com/rust-lang/rust/blob/d006f5734f49625c34d6fc33bf6b9967243abca8/src/librustc_parse/lexer/mod.rs#L73-L88

There's only caller of this function:

https://github.com/rust-lang/rust/blob/d006f5734f49625c34d6fc33bf6b9967243abca8/src/librustc_save_analysis/span_utils.rs#L46-L61

And ther

[2020-08-29 00:39] Nicholas-Baron commented on #75992
@kellerkindt I think you credited the example incorrectly. It should go to @nicholasbishop.

[2020-08-29 01:48] #72721 closed

[2020-08-29 02:28] tmandry commented on #75929
The error may be correct, but it's confusing and doesn't offer any guidance, particularly for beginners who might not realize that they can pass a borrow "directly" without needing an &. What I think should happen here is a suggestion to do just that.

[2020-08-29 03:36] #57820 closed

[2020-08-29 06:30] Amjad50 opened #76049 "documenting pattern with by-move & by-ref bindings"
This is to stabilize #68354.

To be documented in:
- [x] The reference (rust-lang/reference#881)
- [x] Rust by example (rust-lang/rust-by-example#1377)

@rustbot modify labels: T-doc, T-lang, A-patterns, F-move-ref-pattern

[2020-08-29 06:30] Amjad50 commented on #68354
Process for stabilization:

- [x] Implementation (#68376)
- [x] [decision to stabilize](https://github.com/rust-lang/rust/issues/68354#issuecomment-654425636)
- [ ] Documentation (#76049)
- [ ] Stabilizing PR
- [ ] Stabilized

[2020-08-29 08:11] algesten commented on #75992
I think I have a related error. My lib compiled fine under 1.45, but `cargo build` (and `test`) breaks under 1.46.

[code]

The code is [here](https://github.com/algesten/hreq), master branch is failing

[2020-08-29 08:23] tspiteri commented on #76042
I have a [reduced test case](https://gitlab.com/tspiteri/rust76042/).

[code]

Note that if I move the doc test to a lib test, I cannot trigger this bug. On i686 beta/nightly release test, the doc test fails with:
[code]

`baz` is somehow returning `(128, true)` instead of `(8, false)`.

https://gitlab.com/tspiteri/rust76042/-/pipelines/183379486

[2020-08-29 08:44] csmoe commented on #76039
They're distinct type indeed, the async function desugars to `fn my_future() -> impl Future<Output=u32>`, the compiler generates a hidden type for the return type(let's name it as `AsyncFnReturn`), `AsyncFnReturn` has nothing to do with the `FutureType` you defined.
for details, checkout https://github.com/rust-lang/rfcs/blob/master/text/2515-type_alias_impl_trait.md

[2020-08-29 08:44] #76039 closed

[2020-08-29 08:52] kellerkindt commented on #75992
Yeah, this might be related to #54540. (https://github.com/rust-lang/rust/issues/54540#issuecomment-678827051)

[2020-08-29 08:54] petrochenkov commented on #76046
I'd suggest the second alternative (move hack's implementation to in librutc_save_analysis), save analysis is a home of many hacks already and one more until save analysis is deprecated in its entirety won't hurt.
Adding span for `*` would be ok if it were useful for anything else at least.

[2020-08-29 09:25] leonardo-m commented on #39078
I have updated the first test code (note that N_ITER should be 60, unlike in the old version):

[code]

Now it runs in about 0.86 seconds, on the same machine (rustc 1.48.0-nightly d006f5734 2020-08-28).

[2020-08-29 09:29] tcz717 commented on #48665
I have the same issue even after 2 years (2020)

[2020-08-29 09:41] arora-aman commented on #70334
That is probably because of this: https://github.com/rust-lang/rust/blob/d8424f6b426f91ae39dbeacd631a82aad5d733f4/src/librustc_middle/ty/print/pretty.rs#L1464

[2020-08-29 10:06] Dark-Legion opened #76053 "#[forbid(unreachable_code)] incompatible with the Try ('?') operator"
I tried this code:

[code]

Both on debug and release it generates an error saying that `#[allow(unreachable_code)]` was overridden by the `#[forbid(...)]` attribute, while pointing at the "try" expression.

### Meta

`rustc --version --verbose`:
[code]

[2020-08-29 10:07] #75836 closed

[2020-08-29 10:20] kellerkindt commented on #75992
Did my own bisection (4 times). Each time it identified the regression in nightly-2020-08-14.

**One** time (probably a timing error/blurp?) the result was:

searched nightlies: from nightly-2020-05-03 to nightly-2020-08-27
regressed nightly: nightly-2020-08-14
searched commits: from https://github.com/rust-lang/rust/commit/576d27c5a6c80cd39ef57d7398831d8e177573cc to https://github.com/rust-lang/r

[2020-08-29 10:45] tmiasko commented on #76042
Without rustdoc:

[code]

[code]

[code]

[2020-08-29 10:56] stlankes opened #76061 "1.48.0: Throw "SIGSEGV: invalid memory reference" when building in RustyHermit."
Building [libhermit-rs](https://github.com/hermitcore/libhermit-rs) with the latest nightly compiler failed with a SIGSEV and the error message _"invalid memory reference"_. My local version based on PR #75843 works fine on my system.

You see the problem also at [Travis CI](https://travis-ci.com/github/hermitcore/uhyve/jobs/376714176), where I test our unikernel on top of our hypervisor. Do you h

[2020-08-29 11:03] algesten commented on #75992
I bisected here https://github.com/algesten/hreq/issues/11

It pointed to #0a49057

********************************************************************************
Regression in 0a49057dd35d9bd2fcc9760a054809c30eee2a58
********************************************************************************

searched nightlies: from nightly-2020-08-12 to nightly-2020-08-15
regressed nightly: nightly-2020-

[2020-08-29 11:08] pickfire commented on #74825
Any idea on how to improve the docs for this?

[2020-08-29 11:14] RalfJung opened #76064 "Invalid (unstable, ill-formed, ...) const code is evaluated even after emitting error"
Nightly-only ICEs are exposed on stable because array lengths are evaluated even when they are invalid:
[code]
This first emits an error that a feature flag is missing, but then const-evaluates the array length *anyway* and later leads to an ICE. This is not a stability hole (there's an error, the code will not compile), but it's an ICE on stable, so it's a bug.

While the ICE should also be fixed

[2020-08-29 11:14] RalfJung commented on #66693
On second thought, let's leave this issue for the ICE, and make a new one for "we can trigger nightly-only const code on stable because we don#t abort compilation early enough": https://github.com/rust-lang/rust/issues/76064.

[2020-08-29 11:21] matklad opened #76065 "Removing FatalErrors from StringReader"
[`StringReader`](https://github.com/rust-lang/rust/blob/1dc748fb3d2c54f536e6abd74f1ad34b3624f640/src/librustc_parse/lexer/mod.rs#L30) uses a bunch of Fatal (panicking) errors:

https://github.com/rust-lang/rust/blob/1dc748fb3d2c54f536e6abd74f1ad34b3624f640/src/librustc_parse/lexer/mod.rs#L30

(search for `.raise`)

All of these unwinding errors should be replaced with "normal" error reporting. But

[2020-08-29 11:23] matklad commented on #76065
@estebank is there some existing best practices for doing `FatalError`s without unwinding?

[2020-08-29 11:35] gilescope commented on #74867
I‘m thinking _surely_ this is already possible?

[2020-08-29 11:42] gilescope commented on #74867
There’s a —no-fail-fast flag, but maybe we need a —fail-first flag.

[2020-08-29 12:04] Dirbaio commented on #76039
@csmoe Why is that the case?

This function

[code]

returns the return value of my_future (of type `AsyncFnReturn`) in a function returning `FutureType`. This would allow the compiler to infer that `FutureType` is a type alias for `AsyncFnReturn`, so they should be effectively the same type.

[2020-08-29 12:08] Dirbaio commented on #76039
ie, desugaring after type inference should give this::

[code]

which does compile fine [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bef14fda1d064278ad3071bfb418bd00)

[2020-08-29 12:14] pickfire commented on #42412
This is also available in https://cheats.rs/#standard-library-types

[2020-08-29 12:18] jyn514 commented on #75992
cc @lcnr, this regressed in https://github.com/rust-lang/rust/pull/75443

[2020-08-29 12:19] SNCPlay42 commented on #76039
The purpose of `impl Trait` as a return type or type alias is to *hide* what the actual type is. So code other than the defining use is not allowed to know what the actual type is.

[2020-08-29 12:19] jyn514 commented on #75992
https://github.com/rust-lang/rust/issues/75992#issuecomment-682595159 is an MCVE.

[2020-08-29 12:25] workingjubilee commented on #64260
I acknowledge that the `map`/`and_then` parity would be great for discoverability, but I am skeptical about after. Yes, people do think about code in terms of raw literal chars and what raw chars we can put in, in other words, typographically, to get certain results. So it's obvious it would help that. But our ability to quickly **exploit** discoveries actually depends on the consistency of less i

[2020-08-29 12:31] #75977 closed

[2020-08-29 12:57] ZaneHannanAU commented on #64260
I think on_true implies that it'd always be the default value on false, ie

[code]

which is fine, but not great. My personal preference now is towards `and_then<T> -> Option<T>`, `and_then_else<T, E> -> Result<T, E>`, or possibly `unwrap_true<T> -> T`. Simply put:

[code]

[2020-08-29 13:46] najamelan commented on #64496
@eddyb I saw you commented on reddit that this check is removed because it generates to many false positives. Could you clarify here? What is the milestone, is this solved for 1.47 or does it need more action?

[2020-08-29 14:12] good-praxis commented on #71669
#74285 has been merged, so this issue could be closed methinks

[2020-08-29 14:36] #75144 closed

[2020-08-29 15:06] link2xt commented on #64496
Related issue: #54540

[2020-08-29 15:37] pickfire commented on #42412
@Dylan-DPC Maybe we can label `hacktoberfest`?

[2020-08-29 16:12] Mark-Simulacrum commented on #76049
Is there a reason for a separate issue tracking this beyond the tracking issue for the feature itself? It looks like upstream PRs have already been filed and maybe we could close this?

[2020-08-29 16:15] Amjad50 commented on #76049
Thought if there is discussion specific to documentation should be here. But closing it will clean things maybe

[2020-08-29 16:17] #76049 closed

[2020-08-29 16:44] Mark-Simulacrum opened #76070 "Crater runs for 1.47"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2020-08-29 16:45] Mark-Simulacrum commented on #76070
@craterbot run name=beta-1.47-1 start=1.46.0 end=beta-2020-08-29 mode=build-and-test cap-lints=warn p=10

[2020-08-29 16:46] Mark-Simulacrum commented on #76070
@craterbot run name=beta-1.47-rustdoc-1 start=1.46.0 end=beta-2020-08-29 mode=rustdoc cap-lints=warn p=5

[2020-08-29 17:12] tmiasko commented on #76042
LLVM bug report https://bugs.llvm.org/show_bug.cgi?id=47278.

[2020-08-29 17:19] Skepfyr commented on #75808
Minimized (as best I could) to:
[code]
Bisected to find the regression in #75443, all of which suggests it's another take on #75992.

[2020-08-29 17:24] Dylan-DPC commented on #42412
we normally don't label issues for hacktoberfest :P

[2020-08-29 17:30] marmeladema commented on #75700
On it!

[2020-08-29 17:51] RalfJung commented on #76001
They behave identically. The point of the lint is to have a single "idiomatic" form.

The issue title calls it "const expressons" so maybe that should also be on the list.

I prefer "inline const" because it emphasizes that this is a totally separate body of code that is just written inline. That's much more like a closure than normal blocks.

---

Also, is anyone up for implementing this? (I can'

[2020-08-29 17:58] Lokathor commented on #76001
"const block" is clearly correct.

it matches "unsafe block" that way.

[2020-08-29 17:59] RalfJung commented on #76001
That false parallel with "unsafe block" is exactly why it is not correct. An unsafe block inherits scope, execution environment, everything from its parent block. An inline const does not.

[2020-08-29 18:06] LeSeulArtichaut commented on #76053
According to Godbolt this is the case since 1.22.0 where the `Try` trait was implemented on `Option`.

[2020-08-29 18:12] estebank opened #76072 "Handle missing turbofish with multiple type params in the parser"
We currently emit an appropriate error when encountering a path with type parameters that isn't using the turbofish:

[code]

but [we apparently fail to handle this when multiple type parameters are provided](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ce3ddad057ecfe15b1d7858003543c67):

[code]

[2020-08-29 18:13] LeSeulArtichaut commented on #76053
This bug can also be reproduced with a `Result`:

[code]

Which allows to find out that this regressed in 1.16.0.

[2020-08-29 18:15] Veetaha opened #76073 "Intra-doc links are unresolved on `pub use _ as _` items"
I tried this code:

[code]

I expected to see this happen:
If I run `cargo +nightly doc` I get no warnings/errors.

Instead, this happened:
[code]

Note that if I remove `pub` from the `use` statement, no warnings are emitted...

### Meta
`rustc --version --verbose`:
[code]
`rustdoc --version --verbose`:
[code]

[2020-08-29 18:46] RalfJung commented on #75968
We already have a lint for this: `invalid_values`.

That's not true. Any `union` instead of `MaybeUninit` will also work. And ZST are not insta-UB either.

[2020-08-29 18:48] RalfJung commented on #75968
I am working on strengthening that existing lint in https://github.com/rust-lang/rust/pull/71274. But there's a *lot* of crater regressions, so help would be appreciated.

[2020-08-29 18:49] jyn514 commented on #65354
Presumably you would still want to keep symbol disambiguators, right? So `fn@Name` would be rendered as `Name`, but `Name()` would still be rendered the same?

[2020-08-29 19:15] the8472 commented on #42412
std already has several pieces of documentation that exempt themselves from stability guarantees. E.g.

* https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html#method.is_reserved
* https://doc.rust-lang.org/std/fs/fn.copy.html#platform-specific-behavior

Maybe it would make sense to have a standard marker for these kinds of things. E.g. w3c specs oven have special [non-normative sections](https:/

[2020-08-29 19:21] kornelski opened #76077 "E0063 should not suggest adding inaccessible private fields"
This error message could be more helpful:

[code]

It complains about lack of a private field in the initializer, but this problem can't be solved by adding the field. The implied solution is impossible, and will only lead to another dead-end error.

It would be better to explain in general that this struct can't be constructed from a literal syntax here, because it contains private fields. Bonus

[2020-08-29 19:28] tmiasko commented on #46313
This issue should be closed. The test case had been rewritten and there haven't been any failures for quite some time.

[2020-08-29 19:31] tmiasko commented on #46126
This issue should be closed. The test case had been rewritten and there haven't been any new failures (previously optimizations enabled by ThinLTO removed memory allocations that were supposed to be leaked).

[2020-08-29 19:35] tmiasko commented on #64629
This was fixed in #65497 & #65241.

[2020-08-29 19:45] tmiasko commented on #54365
As mentioned earlier, MemorySanitizer requires all code to be instrumented. [The documentation](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html#memorysanitizer) describes how to instrument the Rust standard library using cargo build-std functionality.

This should be closed along with #49893.

[2020-08-29 19:51] tmiasko commented on #59125
This was fixed either by one of backtrace-rs upgrades or switch to gimli in #74682.

[2020-08-29 20:01] tmiasko commented on #41807
Is this still an issue? Could you provide updated reproduction steps?

[2020-08-29 20:04] jyn514 commented on #76073
[code]
This is a bug in rustdoc, it should resolve relative to the current module.

[2020-08-29 20:07] davnav opened #76079 "I can see the system file in playground . Not sure that is an security issue."
When I did dome directory experiments in rust playground , I can see the system files. I am not sure that is an issue!!

[code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a08da156eca1ba0b508224870c20f856)

![playrust](https://user-images.githubusercontent.com/1313332/91645260-84f48500-e9f8-11ea-8dd6-18a0118a636b.png)

[2020-08-29 20:08] Lokathor commented on #75968
Fair point on unions and zsts

[2020-08-29 20:09] jyn514 commented on #76073
This will break #75756 until fixed.

[2020-08-29 20:11] jhpratt opened #76080 "error: component 'rust-std' for target 'x86_64-unknown-illumos' is unavailable for download for channel stable"
Pretty self explanatory one here: Illumos should be available, at least from my interpretation of the [platform support](https://doc.rust-lang.org/nightly/rustc/platform-support.html) page.

[2020-08-29 20:12] jyn514 commented on #76073
For some reason `tcx.parent()` returns `None` on `pub use` items 🤔

[2020-08-29 20:16] nrabulinski commented on #40062
Thank you. I was referring to those "remove examples" as to whether I should append them to what we currently have in docs for `Vec::remove`, put them somewhere else or perhaps modify examples for `Vec::remove` to include removal of specific element

[2020-08-29 20:16] jonas-schievink commented on #76079
The playground is sandboxed, so this is not an issue.

[2020-08-29 20:16] #76079 closed

[2020-08-29 20:23] jonas-schievink commented on #76080
Pretty sure https://github.com/rust-lang/rust/pull/71272 is only on beta, not stable

[2020-08-29 20:31] jyn514 commented on #76073
Hmm, even after that's fixed it doesn't display the documentation anywhere ... @Veetaha did you expect it to show up above the re-export?
![image](https://user-images.githubusercontent.com/23638587/91645678-0d811e80-ea15-11ea-9930-ce7665d3a2b1.png)

Or on the index page for the module?
![image](https://user-images.githubusercontent.com/23638587/91645684-1eca2b00-ea15-11ea-8725-e20593b5edc1.png)

[2020-08-29 20:35] Veetaha commented on #76073
Well, I would expect it to appear at least somewhere :D
Might it be an oversight in rust or rustdoc design that it is allowed to write doc comments which on items where these doc comments are not rendered?
At the very least (even if unrendered) I would expect validation of the intra-doc link happening...

[2020-08-29 20:38] jyn514 commented on #76073
Right, https://github.com/rust-lang/rust/pull/76082 fixes the incorrect error. If you don't have a preference I might put it on the `pub use`, although I wonder if maybe rustdoc should just give an error instead that you tried to put docs on a re-export.

[2020-08-29 20:42] Veetaha commented on #76073
Reexports are part of the crate's public API. I think it is reasonable to apply docs to them and have them rendered. We may collect more opinions on that before further decisions

[2020-08-29 21:41] Cassy343 opened #76083 "Generics can leak private types into public interfaces"
Simplest reproduction:

[code]

While this seems innocuous at first, the end result of this is that the type `Public<Private>` cannot leave the scope in which it is initially created without losing information about the original type parameter `T`.

### Meta
This bug happens on both stable and nightly:

`rustc +stable --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

[2020-08-29 21:55] Minoru opened #76085 "Segfault in llvm_gcda_start_file in a mixed C++/Rust program"
I have a program where C++ code calls into Rust code. To calculate test coverage, I compile the Rust part with a Nightly, and C++ part with Clang 8. I then run a C++ test suite. This worked fine [until recently](https://travis-ci.com/github/newsboat/newsboat/jobs/375196970), but [now segfaults](https://travis-ci.com/github/newsboat/newsboat/jobs/377355448). C++ test suite receives SIGSEGV while wr

[2020-08-29 21:57] jonas-schievink commented on #76083
This is currently working as expected. There have been some proposals about changing the private-in-public check in the past, but they have not been implemented yet.

[2020-08-29 21:57] #76083 closed

[2020-08-29 21:58] jyn514 commented on #59367
I'm going to close this since it looks like it's a duplicate of https://github.com/rust-lang/rust/issues/56922, which was fixed. Feel free to re-open if you're still having trouble!

[2020-08-29 21:58] #59367 closed

[2020-08-29 22:03] jhpratt commented on #76080
Confirming that the target is available on beta. Guess I just jumped the gun on this one.

[2020-08-29 22:03] #76080 closed

[2020-08-29 22:05] Veetaha commented on #48214
There might be a potential drawback we haven't discussed yet. The API guideline for asserting on trait impls may not be applied if this feature is landed, cc https://github.com/rust-lang/api-guidelines/issues/223

[2020-08-29 22:16] AaronKutch commented on #51999
There is a workaround for this issue now in stable 1.46 that indexes outside of an array when we want to panic:
[code]
When executed at compile time, it will show the message in the string, but unfortunately the runtime error is unhelpful.

[2020-08-29 22:17] iximeow opened #76086 "Misleading type error when generic parameter is sole mismatch."
Some Rust ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fd15e1f6a89ee0556aaea1fee0928cdf)):
[code]
yields an error about the mismatched type of `inner`:
[code]
but I know it _should_ be `()` - the return type on `foo` also expects `T` to be `()`! The second error is somewhat more helpful:
[code]

The _actual_ issue I'd had writing this was `Self { inner: ()

[2020-08-29 22:34] ecstatic-morse commented on #76001
I'm happy to mentor, although by no means am I an expert on all the parts of the compiler you'll need to touch. There's already an `AnonConst` type in the AST and the HIR that should for the most part have the same rules as an inline `const` (e.g. no outside generic parameters), which should make the lowering part of this pretty easy.

If no one takes this on in the next few weeks, I'll try to set

[2020-08-29 22:42] #75970 closed

[2020-08-29 23:20] jyn514 commented on #63351
Ok, the bits that are actually used from `Res` are:
- For primitive types, just the URL fragment from `is_primitive` and the fact that it's a primitive
- For ADTs, it calls `register_res` and stores that `DefId`. It also stores a URL fragment but I'm pretty sure that's just user defined and not tied to the `Res`.
  + `register_res` which mostly just calls

[code]

The URL fragment is independent o

[2020-08-29 23:21] marmeladema commented on #75700
@matklad once this is merged, should other sub-crates that depend on `once_cell` also be updated? Like `librustc_interface` for example. Also, what about `lazy_static`? Some usage can probably be replaced by `Lazy`.

[2020-08-29 23:32] rodrimati1992 commented on #51999
@AaronKutch
But this compiles in Rust 1.33
https://rust.godbolt.org/z/fThezn
[code]
Also, replacing the `30` with a `0` errors with index out of bounds as expected.

[2020-08-29 23:37] leonardo-m opened #76089 "Possible Vec::truncate improvement"
The docs of Vec::truncate say:

"If len is greater than the vector's current length, this has no effect."

And indeed if you look at the source code:
https://doc.rust-lang.org/nightly/src/alloc/vec.rs.html#740-742

There's:

[code]

But isn't it better to use `len >= self.len` instead?

[2020-08-29 23:40] matklad commented on #75700
We definitely should actively remove once_cell crate from all rustc’s crates, because having two difference sources of the same data structure feels bad.

Replacing lazy_static with std::lazy would also be good!

[2020-08-29 23:52] marmeladema commented on #75700
I'll try to take of it once this issue is fixed :+1:

[2020-08-30 00:04] ecstatic-morse commented on #76089
See #74172.

[2020-08-30 00:52] camelid commented on #75080
@jyn514 By the way, these have been merged, so you can mark them as complete:

* library/core/src/future/future.rs
* library/core/src/num/dec2flt/mod.rs
* library/core/src/array/iter.rs

[2020-08-30 00:57] pickfire commented on #76089
This doesn't just improve `truncate` itself but also `resize`. Resize runs truncate even on the same size which runs the rest of the code.

The previous change results in an additional branch but we could still improve this if we could prevent that.

[2020-08-30 01:05] LeSeulArtichaut commented on #76065
I’d like to try to work on this

[2020-08-30 01:23] Dylan-DPC opened #76091 "Validity of get_mut on MaybeUninit"
Creating this issue to track the discussion on whether this is valid or not, from this [FIXME note](https://github.com/rust-lang/rust/blob/5e208efaa850efaa97495e81c49cf0f5767e8f49/library/core/src/fmt/float.rs#L21):

         `MaybeUninit` (here and elsewhere in this file). Revisit this once
         we decided whether that is valid or not.
         We can do this only because we are libstd and co

[2020-08-30 01:23] Dylan-DPC opened #76092 "Fix incorrect use of MaybeUninit::assume_init_mut in flt2dec"
Creating this issue to track this [FIXME note in float formatting](https://github.com/rust-lang/rust/blob/5e208efaa850efaa97495e81c49cf0f5767e8f49/library/core/src/fmt/float.rs#L21):

         `MaybeUninit` (here and elsewhere in this file). Revisit this once
         we decided whether that is valid or not.
         We can do this only because we are libstd and coupled to the compiler.
         (

[2020-08-30 01:33] camelid opened #76094 "Clarify docs for "`!` and traits""
The section "[`!` and traits](https://doc.rust-lang.org/std/primitive.never.html#-and-traits)" says:

Yet it doesn't explain *why* you should `impl` your traits for `!`. I think it would be good for someone who understands `!` well to write up a sentence or two about why you should `impl` your traits for `!`. I myself don't quite understand what the reason for doing so is ;)

@rustbot modify label

[2020-08-30 01:42] jyn514 commented on #76094
https://github.com/rust-lang/rust/blob/a888b02884883de41d0ce08aa62a6cd6d4790951/src/librustc_interface/util.rs#L575-L582 might shed some light.

[2020-08-30 01:45] rocallahan commented on #75385
`-C code-model=large` does not always work unfortunately :-(.

[2020-08-30 01:46] camelid commented on #76094
So does that mean that `!` coerces to any concrete type, but not to an `impl Trait`?

[2020-08-30 01:47] jyn514 commented on #76094
Correct. `!` does not implement all traits, and if it does not implement `impl Trait`, then `unimplemented!()` as the body of a function returning `impl Trait` will be a type error.

[2020-08-30 01:47] jyn514 commented on #76094
See also https://github.com/rust-lang/rust/issues/65863 and related issues linked from there.

[2020-08-30 01:48] iximeow opened #76095 "Confusing error when impl is available only on RefCell contents"
Some Rust ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=227b1cd9bb00ec3fae00686900972efc)):
[code]
yields an error about no method `do_work` being found:
[code]
where `do_work` _does_ exist, but on a different type. Specifically, `WorkDoer<'_, i32>`.

In the above example, `WorkDoer` should be made from a borrow of the `RefCell`, like `WorkDoer { f: &*f.borr

[2020-08-30 02:19] iximeow commented on #45402
Looks like this is similar to https://github.com/rust-lang/rust/issues/51132 which suggests it's addressed with polonius. And indeed, building with `-Zpolonius` looks to succeed:
[code]

[2020-08-30 02:29] AaronKutch commented on #51999
I should have stated that it probably compiled before the current stable, but I did not know it would compile that long ago.

[2020-08-30 02:36] #75739 closed

[2020-08-30 02:36] #73215 closed

[2020-08-30 02:36] #76006 closed

[2020-08-30 02:36] #76046 closed

[2020-08-30 02:39] estebank commented on #59112
We now suggest using `ref` in the pattern, which will always work, if not be completely stylistic.

[2020-08-30 02:39] #59112 closed

[2020-08-30 02:42] estebank commented on #67910
Current output:

[code]

[2020-08-30 02:42] #67910 closed

[2020-08-30 02:57] ecstatic-morse commented on #76064
Putting this on `ConstQualifs` seems reasonable. It seems better than adding more cruft to `mir::Body` at first glance. Currently each field of `ConstQualifs` is tied to an implementer of the `Qualif` trait but this isn't a hard requirement.

[2020-08-30 06:16] AlexApps99 commented on #72110
This option needs to accept `true` and `false`, where `true` would be the equivalent of `symbols` and `false` to `none`.
Currently both `lto` and `debug` also support configuration using `true` for the highest level, and `false` for disabled.

Including this option would make a lot of sense and simplify usage of it (but would not remove the old functionality either)

[2020-08-30 06:32] #75880 closed

[2020-08-30 07:12] RalfJung commented on #76091
Something went wrong and two issues got created, closing in favor of https://github.com/rust-lang/rust/issues/76092.

[2020-08-30 07:12] #76091 closed

[2020-08-30 07:13] RalfJung commented on #76092
Besides the float code, there's also the `Read` code doing something similar for allowing reads into uninitialized buffers. However, https://github.com/rust-lang/rfcs/pull/2930 should resolve that I think.

[2020-08-30 07:36] gilescope commented on #73917
Will try and attempt this as part of #75594

[2020-08-30 07:52] gilescope commented on #48612
Move to close - there's quite a few rust devs building from source with nixos.

If you clone https://github.com/gilescope/nix-all you'll find some rust devs and can see how they are setup for building rustc on nixos. In particular have a look through David's config: https://github.com/davidtwco/veritas

[2020-08-30 09:29] danielhenrymantilla commented on #76092
Could we rename it to _validity of `.assume_init_mut()` on uninitialized `float`(s)_? or or _`&mut` on uninitialized floats_?

___

Regarding the issue at hand, obviously only `libstd` and other internal crates can rely on the internals of the `rustc` it is released with, so technically, we could go ahead with #76047 and "ignore" the FIXME, as long as we have this issue to remind us of fixing that

[2020-08-30 09:55] RalfJung commented on #76092
The issue is not really specific to floats, it is tight to whether references are allowed to refer to uninitialized data.

So this is basically the rustc side of (a part of) https://github.com/rust-lang/unsafe-code-guidelines/issues/77.

[2020-08-30 09:56] RalfJung commented on #76092
Agreed for the `Read` side. For the float usage, really that code should be converted to raw pointers.

[2020-08-30 10:40] ArekPiekarz opened #76102 "Unstable Book: assoc_char features lead to a closed tracking issue"
In Unstable Book sections for [assoc_char_consts](https://doc.rust-lang.org/nightly/unstable-book/library-features/assoc-char-consts.html) and [assoc_char_funcs](https://doc.rust-lang.org/nightly/unstable-book/library-features/assoc-char-funcs.html) contain links to tracking issues leading to the same closed issue - https://github.com/rust-lang/rust/issues/71763.

As mentioned there, either that i

[2020-08-30 10:50] stlankes commented on #76061
Maybe this issue is related to #75922

[2020-08-30 10:52] RalfJung commented on #75968
Ouch, that was silly of me... we actually have two things that try to guard against such bugs, a lint and runtime panics. However, the runtime panics only apply to `mem::uninitialized()`, not to `MaybeUninit::uninit().assume_init()`, as the latter case cannot easily be detected at runtime. The PR is about the latter.

---

So regarding the lint, I think it is in a pretty good shape already. The on

[2020-08-30 10:55] RalfJung commented on #75786
Indeed, multiplication and division *should* be consistent across platforms. Can you confirm that this is the case here? If yes, we should remove their mention from the issue title.

`tan`, on the other hand, doesn't have a precise spec -- so basically, this is expected behavior. I guess if we want to improve the situation here, we'd want to have a pure-Rust fast and precise implementation of `tan

[2020-08-30 11:26] arzg commented on #75602
I’ve never worked on the Rust compiler before, so I doubt I’ll be of any help here, but I quickly ran a GitHub search for `RustaceansAreAwesome` on this repo and found [this](https://github.com/rust-lang/rust/blob/76e83339bb619aba206e5590b1e4b813a154b199/src/librustc_trait_selection/traits/object_safety.rs#L613). No idea what it means but hopefully is helpful in some way.

[2020-08-30 12:30] jonas-schievink commented on #76102
Reopened it, thanks!

[2020-08-30 12:30] #76102 closed

[2020-08-30 13:16] #75850 closed

[2020-08-30 13:56] ArekPiekarz opened #76105 "Unstable Book: const_caller_location leads to a closed tracking issue"
In Unstable Book the section [const_caller_location](https://doc.rust-lang.org/nightly/unstable-book/library-features/const-caller-location.html) leads to a closed tracking issue https://github.com/rust-lang/rust/issues/47809 about a general caller tracking. There is a forked new issue about [tracking callers for closures](https://github.com/rust-lang/rust/issues/74042), but it seems unrelated to

[2020-08-30 14:04] jyn514 opened #76106 "intra-doc links: `crate::ptr` on a re-export of core::slice is not resolved in alloc"
It's something to do specifically with the re-export because using `ptr` instead of `crate::ptr` works, possibly because it's available in both `alloc::slice` and `core::slice`.

I don't understand why this is failing :/ the error is being returned directly from `rustc_resolve`:

[code]

In fact if you look at the debug logging it says itself that it's looking at core: `parent DefId(1:6606 ~ core[

[2020-08-30 14:05] jyn514 commented on #76106
Direct link to the failing intra-doc link: https://github.com/rust-lang/rust/pull/75932/commits/6aae4a2fe68f0025d0bae0e97e614bfd3540eb97#diff-e5a4dbd27d5eadb7a3cf746c396f5420R6430

[2020-08-30 14:12] tanguc opened #76108 "recursion limit reached while expanding `$crate::format_args_nl!`"
Hello,

The code (part of a private repository):

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2745c1b4ed912d408e7eeb09249754f3

The error :

[code]

I expected to not have recursion types/macro issues when printing/logging the code from lines
[code]
(line 17)

These are variants of the same issue which I've also tried and which don't work as well:

[code]

[code]

[code

[2020-08-30 15:04] lzutao commented on #76105
You could make this issue an tracking issue for that feature.
Could you rename the issue and make a PR to change this line ?
https://github.com/rust-lang/rust/blob/b1d092c15942ab2e59152dde6f1af77e888473c8/library/core/src/panic.rs#L235

[2020-08-30 15:07] #73829 closed

[2020-08-30 15:17] eddyb commented on #70334
@arora-aman Hmm, that doesn't apply to the "anonymous" `DefPathData` cases, like closures, because `print_dis` is always `true` when `.get_opt_name().is_none()`.
Also, `dis != 0` only turns on printing disambiguators when `-Zverbose` is active.

So even for this example, we'd only show `main::f#1` with `-Zverbose` (maybe we should always show it?):
[code]
You can see the difference here: https://g

[2020-08-30 15:34] tanguc commented on #76108
Few investigation notes:

I've enabled the macro traces, and it looks like by reading procedurally my code, the error shown above is not where it's coming from eg.

[code]
there are like hundreds of them...

The real error is just before all these same patterns/logs happens. So can I conclude there is a kind of bug in how https://github.com/rust-lang/rust-gha/blob/f50d6ea348c2dd7c2f76e35ecde6560d8

[2020-08-30 16:23] LeSeulArtichaut commented on #75961
This regressed in 1.44.0.

[2020-08-30 16:37] zhuxiujia opened #76111 "Closures cannot access variables"
rust version:    1.45.1

I tried this code:

[code]
### cargo run this code：
[code]

[2020-08-30 16:40] Aaron1011 commented on #76111
The closure you're using captures a variable from the enclosing function (`arg`). This prevents it from being cast to a function pointer, since a function pointer cannot store any state. However, the error message should definitely explain this.

You can change `do_fn` to take a `FnOnce` closure, which will allow you to pass in either a closure or a standalone function

[2020-08-30 16:52] zhuxiujia commented on #76111
maybe ,Should the rust compiler tell me what works?

[2020-08-30 17:08] zhuxiujia commented on #76111
### can not have two  F:FnOnce  args

[code]

[code]

[2020-08-30 17:09] tmiasko commented on #75742
Did you mean write trait implementation that does nothing?

The formatting in format macro is eager and so it does have side-effects, but
they are usually localized to a single memory buffer. To remove the formatting
code, the optimizer would not only have to see that the result of formatting is
unused, but also see through all the code responsible for the formatting.

At the same time there is an

[2020-08-30 17:19] tanguc commented on #76108
More verbose logs there: https://filebin.net/5l3ozl6i00v2uiw1

[2020-08-30 17:29] camelid commented on #46180
What's the status of this?

[2020-08-30 17:33] YaLTeR opened #76112 "Cannot infer type when indexing an array inside closure with an argument"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=25b1f2e69b52049319de33877b9b4981)):

[code]

I expected to see this happen: no errors

Instead, this happened:
[code]

Replacing it with `a[0]` compiles, removing `.pow(1)` also compiles. Extracting `a[p]` into a variable as so:
[code]
also results in an error suggesting giving `x` an explicit t

[2020-08-30 17:38] CDirkx opened #76113 "Tracking issue for const `Ordering` methods"
Constify methods of `core::cmp::Ordering` under feature `const_ordering`.

Current methods made const:
 - `reverse`
 - `then`

Tracking issue for `const fn`: #57563.

[2020-08-30 18:03] LukasKalbertodt commented on #40062
That sounds fine to me. Feel free to just open a PR and we can still see about the specifics then :)

[2020-08-30 18:31] #76111 closed

[2020-08-30 18:33] zhuxiujia opened #76116 "Using json!() Macro but prompt unused import"
## Using   json!()  Macro but prompt not used

I tried this code:

[code]

[2020-08-30 18:40] Amjad50 commented on #68354
Does this feature removes Error `E0007`?

messge: `cannot bind by-move with sub-bindings`

Example:
[code]

[2020-08-30 18:53] LukasKalbertodt opened #76118 "Tracking Issue for `array_methods`"
This is a tracking issue for a couple of basic methods on arrays. The feature gate for the issue is `#![feature(array_methods)]`. Currently, this includes the following methods:

- `as_slice`, `as_mut_slice` #76120
- `each_ref`, `each_mut` #75490

Note: these methods were all collected under the same `array_methods` feature name as I suspect many (often small) methods to be added to array in the n

[2020-08-30 18:55] jonas-schievink commented on #76116
Cannot reproduce. Please provide the full source code needed to reproduce this.

[2020-08-30 19:04] zhuxiujia commented on #76116
[code]

[code]

[2020-08-30 19:05] jonas-schievink commented on #76116
`#[test]` functions to not participate in compilation when the library is built normally, so the warning is expected.

[2020-08-30 19:05] #76116 closed

[2020-08-30 19:17] Lokathor opened #76121 "[rustdoc] When calculating docs percentage, ignore items marked `allow(missing_docs)`"
## Request

The `--show-coverage` unstable option should not count items marked as `allow(missing_docs)` when calculating the docs percentage.

#### Use Case

I have a crate full of "bitfield" types, where the useful data is bit packed into integers ([example](https://docs.rs/gba-types/0.0.2/gba_types/struct.DmaControlSetting.html)). Each pseudo-field has a getter and a setter. I would like to doc

[2020-08-30 19:24] zhuxiujia commented on #76116
## edit to  mod test{} , this code  also  warning: unused import: `serde_json::json`
[code]

[2020-08-30 19:25] jyn514 commented on #76121
Mentoring instructions: Add a new argument `should_have_docs: bool` to `fn count_item`: https://github.com/rust-lang/rust/blob/dadde88ebacd5e209922928206e0d85a99009203/src/librustdoc/passes/calculate_doc_coverage.rs#L39
Then pass in whether the item has `allow(missing_docs)`, which can be found from `attrs`: https://github.com/rust-lang/rust/blob/dadde88ebacd5e209922928206e0d85a99009203/src/librus

[2020-08-30 19:27] GuillaumeGomez commented on #76121
It's not only `should_have_docs`: it shouldn't be counted as an item either.

[2020-08-30 19:49] edsrzf opened #76122 "ICE: index out of bounds when trying to use associated const in array size"
### Code

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e531c045b6135d1ddfd64074feaaab5d)

[code]

(I now realize that the thing I was trying to do was misguided and wrong, but hey, an ICE is an ICE.)

### Meta
`rustc --version --verbose`:
[code]

The bug also exists on nightly as of the time of this report.

### Error output

[code]

<details><summary><

[2020-08-30 20:00] LukasKalbertodt commented on #76118
Just for the protocol, I plan to add the following methods in the near future:

- `cloned`, `copied` and `unzip`: blocked by figuring out how we best add additional impl blocks for arrays (e.g. `[&T; N] where T: Clone`)
- `zip`: waiting for #75717 or #75644 to get merged; otherwise this method would add duplicate code

(discussions about the usefulness of those method should be had in the dedicate

[2020-08-30 20:03] jonas-schievink commented on #76122
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2020-08-30 20:03] #76122 closed

[2020-08-30 20:20] #67740 closed

[2020-08-30 20:20] camelid commented on #75981
What do you mean by this?

[2020-08-30 20:25] matklad commented on #75981
![image](https://user-images.githubusercontent.com/1711539/91668781-9c726180-eb0f-11ea-976e-adff994632cb.png)

Note how modules, macros, trait and enums all have different colors in imports

[2020-08-30 20:25] estebank commented on #60384
This has been fixed.

[2020-08-30 20:25] #60384 closed

[2020-08-30 20:38] LukasKalbertodt opened #76124 "Documentation for `[T; N]` lacks "Methods from Deref<Target = [T]>" section"
For example, see [that section for `Vec`](https://doc.rust-lang.org/std/vec/struct.Vec.html#deref-methods). The section is missing from [the array docs](https://doc.rust-lang.org/nightly/std/primitive.array.html).

[2020-08-30 20:45] gersonpas opened #76125 "Exemplo Rust Lang_300820"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b09a443cd48c58309157ca39ca4e0edc))

Output:

[code]

Errors:

[code]

[2020-08-30 20:47] #76125 closed

[2020-08-30 20:47] camelid commented on #75981
Oh, that's cool!

[2020-08-30 21:30] vadixidav commented on #75243
This feature is currently breaking [`arraymap::ArrayMap`](https://docs.rs/arraymap/0.1.1/arraymap/trait.ArrayMap.html) without enabling the feature:

[code]

This code started breaking on more recent Rust versions as it seems that it thinks I am attempting to use the map method on array created by this feature, but actually I am using [`arraymap::ArrayMap::map`](https://docs.rs/arraymap/0.1.1/arra

[2020-08-30 21:41] JulianKnodt commented on #75243
Ah I didn't know this crate existed, thanks for the heads up. I'm not quite sure how to resolve this, but will investigate.

[2020-08-30 22:42] estebank commented on #57341
Fixed.

[2020-08-30 22:42] #57341 closed

[2020-08-30 22:45] estebank commented on #55322
[Fixed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cf3d1b0f28e271254cbf6401e7e7130c):

[code]

[2020-08-30 22:45] #55322 closed

[2020-08-30 22:53] robojumper commented on #76124
`[T; N]` does not implement `Deref`. `[T; N]` coerces to `[T]` through Unsizing.

[2020-08-30 22:55] estebank commented on #61065
We no longer suggest `try_into`:

[code]

[2020-08-30 22:55] #61065 closed

[2020-08-30 23:06] nagisa commented on #75045
If a MCVE is produced, I’m willing to take a look at the LLVM side of things.

[2020-08-30 23:14] #75492 closed

[2020-08-30 23:33] stlankes commented on #76061
Close this issue because we remove all naked function to avoid this problem. See hermitcore/libhermit-rs#95 for more details.

[2020-08-30 23:33] #76061 closed

[2020-08-30 23:43] jonas-schievink commented on #75045
(currently running bugpoint, will post result tomorrow)

[2020-08-31 02:00] fintelia opened #76140 "confusable_idents lint diagnostic is confusing"
If you have a program containing two variables named `ρ` and `p` (that is the Greek letter Rho and the English letter P respectively), you'll get a warning like this:
[code]

This lint is an extremely clever way to detect possible homoglyph issues. However, I think that this message could be worded better to help the programmer if the non-ascii indentifier was actually intentional.

To start, ther

[2020-08-31 05:03] #75050 closed

[2020-08-31 05:55] fuyumatsuri opened #76144 "Use of Tuple in Macro results in 'use of moved value'"
I tried this code:

[code]

On use of `$pair.1` in a macro results in this error:

[code]

I am able to get around this by binding the members of the tuple to different variables first:

[code]

My expectation would be that the two versions of this macro would behave the same.

### Meta

`rustc --version --verbose`:
[code]

(Tested on stable and nightly, as well as on play.rust-lang.org)

<details

[2020-08-31 07:17] #61139 closed

[2020-08-31 07:18] rust-highfive opened #76145 "`rls` no longer builds after rust-lang/rust#76027"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#76027, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @davidtwco, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-31 07:18] rust-highfive opened #76146 "`rustfmt` no longer builds after rust-lang/rust#76027"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#76027, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @davidtwco, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-31 08:09] scottmcm opened #76147 "Undocumented soundness fix between 1.34 and 1.35"
I compiled a rather old project of mine for the first time in quite a while and was surprised that it no longer compiled on stable, which it did way back in 1.34.

Non-minimized regression demo: https://rust.godbolt.org/z/f9n6h8

The core of the problem is this bit of code:
[code]

It turns out that it was always wrong -- I meant to get a `*mut Entry`, not a `*mut &mut Entry` -- so I think this is

[2020-08-31 08:23] RalfJung commented on #76147
Going over the git log doesn't show anything like an associated type soundness fix. We should at the very least make sure this is covered by a test.^^

@rustbot ping cleanup-crew  Would be good to get this nailed down via a bisect. The regression range is 1.34..1.35.

[2020-08-31 08:24] lcnr commented on #76147
minimized
[code]

[2020-08-31 08:26] RalfJung commented on #76147
@lcnr that minimized version also fails to compile with Rust 1.34, though? So it doesn't represent the regression.

[2020-08-31 08:28] lcnr commented on #76147
you need `--edition=2018`
[code]

[2020-08-31 08:32] lcnr commented on #76147
This does compile though, even in on the current nightly, so I am not quite sure what's the intended behavior here:
[code]

[2020-08-31 08:41] lcnr commented on #76147
As a completely selfcontained example:
[code]
https://godbolt.org/z/ME5Te1

[2020-08-31 08:51] lcnr commented on #71669
We are still missing codegen tests for many intrinsics, but I am not sure how useful this issue is to track that, so I will just go ahead and close this.

@good-praxis in case you were interested in working on this issue, that might be something you can look into

[2020-08-31 08:51] #71669 closed

[2020-08-31 08:53] RalfJung commented on #76147
That one should compile. The `&mut v` can have an arbitrarily short lifetime because it is turned into a raw pointer immediately.

[2020-08-31 09:21] LukasKalbertodt commented on #76124
Ohhh right. Would it make sense to include the methods of `[T]` anyway? I mean for most programmers, the only thing that matters is "what I can call with the dot method syntax", I guess?

[2020-08-31 09:29] lcnr commented on #75992
Will spend some time looking into this this week, cc @eddyb @nikomatsakis, this seems like an unfortunate side effect of looking into opaque types and I don't yet have a good idea on how to fix this

[2020-08-31 09:35] r-52 commented on #76121
@jyn514/ @Lokathor  could I take a look at this one, please?

[2020-08-31 09:37] GuillaumeGomez commented on #76121
Go ahead.

[2020-08-31 09:49] Byron opened #76149 "'Dropping temporaries' prevents borrow check to succeed in match arm without shared ownership"
I tried this code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2$018&gist=600023f2e68e84725c3ce3edc73e2d88)):

[code]

I expected to see this happen:

The code compiles. Especially it's possible to call `owner.do_something_else()` in the match branch dealing with the error, which does not borrow from `owner`.

Instead, this happened:
[code]

According to [The Ru

[2020-08-31 09:54] lcnr commented on #76147
I don't yet see the difference between `&mut v` and `&mut ok(v)` here. Why does the same not apply to `&mut ok(v)`.
Do we implicitly reborrow in the `&mut v` case?

[2020-08-31 09:55] matthewjasper commented on #76147
I think this is #58673

[2020-08-31 09:59] jonas-schievink commented on #75045
Reduced to:

[code]

[2020-08-31 10:32] jonas-schievink commented on #76144
This is working as expected. The macro pastes `("a", val)` twice, so `val` is moved twice.

[2020-08-31 10:32] #76144 closed

[2020-08-31 10:39] mchernyavsky opened #76151 "Libtest produces invalid JSONs for doctests on Windows"
Example project:
* `lib.rs`
[code]

I run the following command:

[code]

This produces the following output:

[code]

For example, this JSON
[code]
can't be parsed, because contains unescaped `\` character.

### Meta

`rustc --version --verbose`:
[code]

[2020-08-31 11:05] mchernyavsky commented on #76151
P.S. - On Unix, I also can create a directory with backslash in name (e.g. `mkdir 'qwe\qwe'`).

[2020-08-31 11:09] RalfJung commented on #76147
`v` is a *place expression*, so `&mut v` borrows an existing place.
In contrast, `ok(v)` is a *value expression*, so this value has to be stored somewhere before we can create a borrow to it.

That said, I thought that `let x = &mut foo;` was equivalent to `let _tmp = foo; let x = &mut _tmp;` (the "enclosing scope" rule). Is that not the case here?

[2020-08-31 11:28] ArekPiekarz commented on #76105
Thanks for the suggestion, I'll create another issue as tracking so I don't have to edit this one and so this conversation does not look out of place, then make a PR.

[2020-08-31 11:45] matklad commented on #76151
Relevant code is here: https://github.com/rust-lang/rust/blob/8bfe289886af727150c1b9ec502cbfd7bbf425e8/library/test/src/formatters/json.rs

Not sure why this doesn't use serde/rustc-sereialize, but, if the reason is "we want to be as simple as possible", I have a super-simple library for outputting JSON here: https://github.com/matklad/write-json/

[2020-08-31 12:13] chansuke commented on #75577
@rustbot claim

[2020-08-31 12:32] ArekPiekarz opened #76156 "Tracking Issue for const_caller_location"
This is a tracking issue for the const part of RFC 2091: track_caller (rust-lang/rfcs#2091).
The feature gate for the issue is `#![feature(const_caller_location)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *no

[2020-08-31 12:54] jonas-schievink commented on #36718
Triage: Also happens with the new inline assembly, but that even accepts this code on x86_64:

[code]

[2020-08-31 12:59] #66816 closed

[2020-08-31 13:49] nagisa commented on #75045
Here's what happens:

[code]

So it is replacing `SUBC` with a… `SUBC` but the replacement is different enough that the node always ends up back in the processing queue and gets analyzed again, ad nauseam.

https://bugs.llvm.org/show_bug.cgi?id=47366

[2020-08-31 13:53] calebcartwright commented on #76146
Will have to bump the rustc-ap crates in rustfmt to resolve. At a minimum the steps will include:

* [ ] (1) land #76115
* [ ] (2) publishing new versions of rustc-ap crates
* [ ] (3) bump rustc-ap* in racer and publish new version on crates.io
* [ ] (3) bump rustc-ap* on rustfmt 1.x branch and publish new version on crates.io
* [ ] (4) update racer and rustfmt references in rls
* [ ] (5) update r

[2020-08-31 13:56] calebcartwright commented on #76145
Refs https://github.com/rust-lang/rust/issues/76146#issuecomment-683792763

[2020-08-31 14:10] robojumper commented on #76124
I feel like it'd make sense. `rustdoc` currently doesn't seem to have any knowledge about the automatic `Unsize` implementations (empty [Implementors list](https://doc.rust-lang.org/core/marker/trait.Unsize.html)).

[2020-08-31 15:15] euclio commented on #76151
libtest can't easily depend on crates: they need the "rustc-dep-of-std" hack. That's probably why serde wasn't used here.

[2020-08-31 15:17] csmoe commented on #76149
As you might notice in the reference, [the scrutinee of match isn't a  temporary scope](https://doc.rust-lang.org/stable/reference/destructors.html#temporary-scopes), so temporary inside `ower.share()` will live until the end of `match { ... }`

[2020-08-31 15:25] #68647 closed

[2020-08-31 15:25] #75700 closed

[2020-08-31 15:59] jyn514 opened #76165 "Make the default stage for x.py configurable"
The defaults are a lot better after #73964, but they still aren't ideal for everyone. Some issues that have been mentioned:

- `x.py test` does not run `ui-fulldeps` (and inherently can't with `--stage 1`): https://github.com/rust-lang/rust/pull/75404#issuecomment-672574511
- `x.py doc` uses stage 0 by default which is not my preference, I almost always want `---stage 1`. But new contributors will

[2020-08-31 16:04] LeSeulArtichaut commented on #76065
I tried to remove a few calls in #76133. As expected this comes with a few cascading diagnostics, I blessed the UI tests if someone wants to take a look.

[2020-08-31 16:40] ririsoft opened #76168 "ICE: cannot convert `RePlaceholder` to a region vid"
Hello,

I am getting an ICE while "playing" with [`unboxed_closure`](https://github.com/rust-lang/rust/issues/29625)

### Code

MCVE can be found here: https://github.com/rust-lang/rust/issues/76168#issuecomment-683910817

<details><summary>Original</summary>

[code]
</details>

### Meta

`rustc --version --verbose`: (from Playground)

[code]

### Error output

[code]

<details><summary><strong>Ba

[2020-08-31 16:41] WaffleLapkin opened #76169 "Current implementation of `#[doc(spotlight)]` doesn't handle any type alises"
The current implementation of `#[doc(spotlight)]` (tracking issue #45040) doesn't work with any type aliases (`Self` inclided):
[code]
![image](https://user-images.githubusercontent.com/38225716/91743675-da7b8e00-ebc0-11ea-81fe-f9c3933e0626.png)
![image](https://user-images.githubusercontent.com/38225716/91743731-f121e500-ebc0-11ea-9515-112188b20693.png)
(`cargo 1.47.0-nightly (51b66125b 2020-08-1

[2020-08-31 16:42] ririsoft commented on #76168
A project maintainer might want to add the `F-unboxed_closures` label.

[2020-08-31 16:48] matklad commented on #76065
Yeah, I think we should avoid cascading diagnostics here. If there's an unpaired `"`, we shouldn't really report any diagnostics *in this file* (it might or might not b fine to emit diagnostics in other files).

My gut feeling is that `Handler::emit_error` should set a flag if a `Fatal` diagnostic is ever emitted, and drop all subsequent diagnostics on the floor. I don't think we should stop **all

[2020-08-31 17:11] SNCPlay42 commented on #76168
Reduced, no nightly features:

[code]

Output on stable:

[code]

ICEs on beta and nightly.

[2020-08-31 17:20] SNCPlay42 commented on #76168
Adding a `F: 'static` bound as suggested gives this ICE on stable:

[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

Which looks like #71546.

[2020-08-31 17:34] apiraino commented on #75961
@rustbot ping cleanup-crew
This issue could use a bisection to nail down where it starts. I *think* it regressed in between 1.43..1.44

[2020-08-31 17:45] apiraino commented on #75983
@rustbot ping cleanup-crew
I've tried roughly bisect some nightlies, it happens somewhere between 2020-06-09...2020-07-09.

[2020-08-31 17:46] RefinedSoftwareLLC opened #76173 "parser error hint: generic type parameters do not need dereferences"
I tried this code:
[code]

I expected to see this happen:
[code]

Instead, this happened:
```| expected one of `#`, `>`, `const`, identifier, or lifetime```

### Meta
`rustc --version --verbose`:
[code]

[2020-08-31 18:17] sdroege commented on #76014
This is now merged but not as public API.

I think this would be useful to have though, at least the mutable version as it's dealing with raw pointers and it's much harder to use `split_at_mut_unchecked()` wrong than to do a mistake when reimplementing it. I also checked some of my code and there are various places where this would be useful to use (and I have a couple of ad-hoc implementations of

[2020-08-31 18:17] steveklabnik commented on #57028
Triage: almost two years later, it's not clear to me exactly what this would be tracking these days.

[2020-08-31 18:56] tgnottingham commented on #74890
@rustbot claim

[2020-08-31 19:26] ckaran opened #76177 "Accessing uninitialized memory."
I need some help figuring out how to gather more data for this bug report.  I've copied in what I have below, but I doubt that this is enough to figure out what is going on.

The issue is that I'm using [bolero](https://crates.io/crates/bolero) to test my code.  On a fairly regular basis, my tests fail, always with something like that below.  Since the failure ends with `SUMMARY: ThreadSanitizer:

[2020-08-31 19:43] tmiasko commented on #76177
To avoid false positives when using ThreadSanitizer all code needs to be
instrumented, including the standard library. This can be done with cargo
-Zbuild-std. See [documentation][0] for further details.

The cargo-fuzz already [enables cargo -Zbuild-std when using MemorySanitizer][1],
the same logic should probably apply to the ThreadSanitizer as well.

[0]: https://doc.rust-lang.org/nightly/unst

[2020-08-31 19:43] nikomatsakis commented on #75239
Discussed in a (rather small) @rust-lang/lang meeting today:

Those present felt a lint would make sense. If somebody wanted to go ahead and try to author one, please feel free and nominate the resulting PR for discussion.

[2020-08-31 19:46] Skepfyr commented on #75983
I'm not sure why I didn't bisect this as I'm all set up to do it..... the regression was in nightly 2020-06-22, specifically somewhere in this rollup: https://github.com/rust-lang/rust/commit/7058471adec80a2a1e6092443e08546768c9c894

[2020-08-31 19:47] nikomatsakis commented on #75647
Discussed in the @rust-lang/lang meeting today:

* We agreed that this seems like a harmless extension (specifically: permitting zero variant enums to be `as` to a usize).
* We don't feel an RFC is required and we would recommend somebody creating a PR that fixes this and nominates the PR for lang-team consideration, we can do an FCP directly on the PR.

[2020-08-31 19:55] Dylan-DPC commented on #75992
Marking this as P-[high] based on the [wg-prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375992.20Increasingly.20slow.20compilation.20as.20more.20l.E2.80.A6)

[2020-08-31 20:24] ckaran commented on #76177
@tmiasko OK, I just reran everything:

[code]

[code]

[code]

[code]

[2020-08-31 20:27] tgnottingham commented on #74890
Thanks @sethp, your project was instrumental in helping me find a repro.

I'm still exploring this, but thought I'd post the analysis thus far, in case the root cause is obvious to anyone.

The issue happens when you modify a function such that its span end position changes, without changing its start or length. When the optimized_mir query runs for this function, the cached result is used, but th

[2020-08-31 20:30] valarauca commented on #66151
Will the unstable methods associated with `MaybeUninit` be stabilized along with or as part of this change?

I agree this is a positive change for the language, but with a large amount of the `MaybeUninit` API unstable/nightly only this change feels premature. There's a lot of patterns which simply are not allowed in non-nightly `MaybeUninit`, and having it suggested as an upgrade path from `mem::

[2020-08-31 21:00] tmiasko commented on #76177
The standard library is still not being rebuild (all backtraces contain `/rustc/...` for standard library file paths).

I am unfamiliar with bolero, and custom cargo commands have their own ways of doing things. But based on https://github.com/camshaft/bolero/blob/7cd550f1d07beb21677679b1f6ea22db0a524ff9/cargo-bolero/src/project.rs#L49-L50 I would try using `--build-std` roughly at the same place

[2020-08-31 21:07] zacps opened #76179 "Associated type bounded on another associated type with a default fails"
I tried this code:

[code]

I expected to see this happen: `View::Deserializers` has the as of yet unspecified type `Deserializer<Item=Self::RequestParams>`.

Instead, this happened:

[code]

This error does not occur when the default is removed.

### Meta

`rustc --version --verbose`:
[code]

---

See also: [My initial question on the internals forum](https://internals.rust-lang.org/t/error-in-in

[2020-08-31 22:15] RalfJung commented on #75239
@ayrtonm all right, so if you want to open a PR, everything is settled for that. :)

[2020-08-31 22:34] Cobrand opened #76180 "functions that return direct static references to const fns fail to compile"
When having a function that returns a static reference, you can return borrows to direct structs such as `A(5)` but not `const fn`s which return the same struct such as `A::new(5)`. It's kind of tricky to explain, the example is easier to understand.

# Example

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=875acd7ddacf56661862f3658420308f)

## Curren

[2020-08-31 22:37] jonas-schievink commented on #76180
`const fn` calls are deliberately not promoted to statics. Please refer to https://github.com/rust-lang/const-eval/issues/19 for details on why that is. Closing as expected behavior.

[2020-08-31 22:37] #76180 closed

[2020-08-31 22:39] tmiasko opened #76181 "cycle detected when optimizing MIR with mir-opt-level=2"
[code]

[code]

[2020-08-31 22:50] ckaran commented on #76177
@tmiasko You were right, including `--build-std` did the trick!  The issue now is that the output is too long to pasted into the comments.  What is the best way to get the output to the team for analysis?

Below is a culled list containing only the summary output from the thread sanitizer:

[code]

[2020-08-31 23:16] Aaron1011 opened #76182 "Leading pipes in patterns need to be preserved in the AST"
The following code:

[code]

is currently pretty-printed as:

[code]

If this occurs in a macro invocation, it leads to an instance of https://github.com/rust-lang/rust/issues/43081

[2020-08-31 23:20] CDirkx opened #76183 "Incorrect error suggestion when using a type that does not recursively derive PartialEq, Eq"
The following code
[code]

[results in the error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d40ece64e4d71f357d1bf4a72b9a0db3)

[code]

Which is not correct: `Outer` does derive `PartialEq` and `Eq`.

The true error is that `Inner` does not derive the traits (or implements `StructuralEq` and `StructuralPartialEq`), however it is probably not a good idea to leak this t

[2020-08-31 23:50] danielhenrymantilla commented on #76182
Extra info (but it boils down to what @Aaron1011 said):

Using

[code]

I get the following log:

[code]

Rendered diff: https://www.textcompare.org/index.html?id=5f4d8b98086a55001745f791

[2020-08-31 23:51] naomijub opened #76184 "Take_while removes extra char from std::str::Chars"
I tried this code:

[code]

I expected to see this the following output:
[code]
`take_while` should stop at `' '` and it should be included in `Chars([])`.

Instead, this happened:
[code]
Chars doesn't have `' '`

### Meta

`rustc --version --verbose`:
[code]

[2020-08-31 23:51] tmiasko commented on #76177
This looks like some form of code instrumentation that is incompatible with ThreadSanitizer, most likely sanitizer coverage with inline 8bit-counters (which is why report includes functions that wouldn't participate in data races under any normal circumstances).

[2020-08-31 23:56] estebank commented on #50489
Triage: only change is [pointing at the correct argument](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6250489e42fbc42a77945b59b8b73991).

[2020-08-31 23:59] jonas-schievink commented on #76184
The `' '` was consumed by `take_while`. It has to do this because it has no way to put an element back into the iterator when the closure returns `false` for the element. Closing as expected behavior (but if you think the `take_while` documentation can be improved to clarify this, feel free to send a PR).

[2020-08-31 23:59] #76184 closed

[2020-09-01 00:33] Byron commented on #76149
Thanks for taking the time. I suspected that this might actually be documented behaviour, but hope there is a shared understanding that this behaviour is surprising and undesirable. To the 'user' of the match statement, it does look like it's clear that in the match arm there is nothing with a constructor anymore, it seems like the Result has already been 'destructured'. Also there is no obvious w

[2020-09-01 00:47] workingjubilee commented on #76001
Does `const { }` differ from normal [block expressions](https://doc.rust-lang.org/reference/expressions/block-expr.html), however?
I think either "inline const" or "const expression" should be favored. Everyone's going to call it a constexpr anyways because of C++ user bleedover, and I don't think it's worth offering that much pushback this time. :^)

Hm... I need to fix my computer still. Guess I

[2020-09-01 00:54] taladar opened #76185 "Lifetime '2 not defined in error message for "lifetime may not live long enough""
I tried to return an async block using the parameter value of a closure and got a "lifetime may not be long enough" error message with "returning this value requires that `'1` must outlive `'2` but it never actually mentioned what it named `'2`

I tried this code (Edition 2018, Dependencies serenity 0.9.0-rc.0 features framework, standard_framework, rustls_backend, collector and tokio 0.2 with fea

[2020-09-01 01:15] jyn514 commented on #59864
I have a proposal for explaining this better in https://github.com/rust-lang/rustc-dev-guide/pull/843. Please let me know if that helps at all and if not, what I could do to make it better :)

[2020-09-01 01:16] jyn514 commented on #57963
I have a proposal for explaining this better in https://github.com/rust-lang/rustc-dev-guide/pull/843. Please let me know if that helps at all, and if not, what I could do to make it better :)

[2020-09-01 01:41] SNCPlay42 commented on #76185
See #74497.

[2020-09-01 02:09] #44990 closed

[2020-09-01 02:21] Byron commented on #76149
I am now working around this issue by [disabling the drop code of the box by leaking it temporarily](https://github.com/Byron/gitoxide/blob/2d469c66ec47be2e1bc3e0b1f3d17dfea5050970/git-protocol/src/fetch.rs#L135). This being possible, to my mind, hints at the current handling of destructors in `match` being a technical shortcoming rather than a necessity.

For the example provided here in this iss

[2020-09-01 02:22] naomijub commented on #76184
Now that you have said it makes sense. Can't we just use .peekable().peek() to prevent taking elements like what happen here?

[2020-09-01 02:25] memoryruins commented on #76001
`const {}` does not inherit the same scopes as block expressions do.

It can be a useful comparison when introducing C++ users to Rust's `const` and `const fn`, yet I have not seen most users conflate them. Additionally, C++ does not have `contexpr { ... }`.

There are no mentions of `constexpr` or C++ on this issue before or the RFC. I find it unproductive to label it as pushback from _that_. The

[2020-09-01 02:39] Avi-D-coder opened #76187 "Bad GAT usage causes rustc to continue infinity"
[code]

[2020-09-01 02:41] csmoe commented on #76149
Not sure the scrutinee temporary case can be improved, but the error message should be more informative at least, reopen for better suggestion.

[2020-09-01 02:45] workingjubilee commented on #76001
Alas, I was trying to make a rather more casual and conversational remark rather than something that I expected to be picked over with a fine-tooth comb and labeled "unproductive".

However, when discussing consts, someone literally referred to a similar expression as a "constexpr", to me, **today**, when they were thinking about trying to write a macro that attempted to implement this feature. Yo

[2020-09-01 02:45] Byron commented on #76149
Having received some pain from this issue, I should be able to come up with a message that would have helped me.
It's a tough one, as to me it made (and still makes) no sense to have the whole match expression as drop scope, which is quite clearly indicated by the message already.

A helpful suggestion would be one that helps working around the issue, and I don't know if the 'leak and unleak' work

[2020-09-01 03:01] memoryruins commented on #76001
I was not responding to the idea of using constexpr unproductive, and I mentioned that the comparison to it can still be useful. I specifically referred to describing current naming discussions as "pushback" to be unproductive. I believe we have had a misunderstanding, and I would be open to discussing this more in a direct message on discord. I do not think we should continue this here.

[2020-09-01 03:08] Amanieu commented on #48556
I think someone just needs to send a stabilization PR for that feature. But first we need to ensure that all the intrinsics covered by the f16c feature are properly implemented.

[2020-09-01 05:16] #75619 closed

[2020-09-01 06:38] petrochenkov commented on #76182
This applies to all trailing separators in theory (except that the separator is leading rather than trailing in this case), but in other cases the difference is fixed up by fuzzy comparison in `tokenstream_probably_equal_for_proc_macro`.

[2020-09-01 07:27] rust-highfive opened #76190 "`miri` no longer builds after rust-lang/rust#76047"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#76047, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-09-01 07:36] Typas opened #76191 "Matching a const Range"
When I was doing rustlings, I found out it is possible to match with a range which is coded like this:
[code]

but when I trying to replace the range with a const,
[code]

the compiler gives error:
[code]

I have no idea why matching a literal range is possible but not matching a constant which type is RangeInclusive.

[2020-09-01 08:20] matprec commented on #76191
This is probably https://github.com/rust-lang/rust/issues/76001

[2020-09-01 08:56] workingjubilee commented on #76191
Sort of, integrating consts properly into pattern matching has been a long story. #74446 has been the latest chapter. :upside_down_face:

[2020-09-01 09:03] matklad opened #76192 "Replace `lazy_static` and `once_cell` crate in rustc crates with std::sync::lazy"
Follow up to #75700

cc @marmeladema

[2020-09-01 09:05] marmeladema commented on #76192
Sure I'll take care of it, I already have some commits locally 👍

[2020-09-01 09:07] RalfJung commented on #66151
@valarauca `MaybeUninit` has been stable for quite a while. The remaining unstable methods are just convenience, they do not limit functionality. For example, instead of `get_mut` (just renamed to `assume_init_mut`) you can do `&mut *x.as_mut_ptr()`. The safety rules are the same as for `assume_init_mut`: the data must be already fully initialized before you create a mutable reference.

Which patt

[2020-09-01 09:10] shellchocolat opened #76193 "llvm_asm segfault when making an attempt to call mnemonic"
Hello,

Trying to make a call to a label in an inline assembly using the llvm_asm macro:
[code]

I get a segfault error (core dump)

Any idea why i cannot make a call to a label?

Is it because there is no way to push/pop on stack (and the call push the next address on stack obviously) ??

Thanks

[2020-09-01 09:37] ishitatsuyuki commented on #26925
I don't know what rustc used to be but it seems that today rustc will happily accept bounds like `where String: PartialEq<T>`? If so, what's blocking this from being implemented?

[2020-09-01 09:50] lebensterben commented on #70086
There's one use case, suppose foo and bar are Option<Vec<T>>.
With this new feature, we can have foo.zip_with(bar, Vec::extend) for example.
If we use zip() and map(), that'd be foo.zip(bar).map(|first, second| first.extend(second))
That's just unnecessarily long.

[2020-09-01 10:19] gilescope commented on #73917
In compiler/rustc_codegen_llvm/src/coverageinfo/mod.rs fn save_map_to_mod, they do llvm::add_global. Is that a good way to add a symbol?

[2020-09-01 10:23] bjorn3 commented on #73917
You could do it similar to the dylib metadata writing: https://github.com/rust-lang/rust/blob/85fbf49ce0e2274d0acf798f6e703747674feec3/compiler/rustc_codegen_llvm/src/base.rs#L57-L72

[2020-09-01 10:29] jonas-schievink commented on #76184
That might work for your use case, but using that in `take_while` might incur additional overhead that not all users need to pay.

[2020-09-01 10:31] jonas-schievink commented on #76191
This is currently the intended behavior of const patterns – they just compare the matched expression with the constant. The diagnostic could be improved though.

[2020-09-01 11:33] JesHansen opened #76194 "rustdoc lint missing_doc_code_examples not working on stable"
I wanted to try out the missing_doc_code_examples rustdoc lint, but it seems to
be bugged.

I tried following the example given in [the book](https://doc.rust-lang.org/rustdoc/lints.html#missing_doc_code_examples).

Steps to reproduce:

Create a new crate:

[code]

Then edit the src/main.rs file:

[code]

I would now expect to get a linting error when building the crate, since the add
 function is

[2020-09-01 11:43] RalfJung commented on #74265
While using these methods for an upcoming PR, I noticed one thing: there is no const-to-mut coercion for raw pointers (at least not for slices, or maybe method lookup just is unable to use it), so one *has* to use `get_unchecked_mut` on `*mut [T]`.

I wonder if it would make sense to just not have the `mut` in the name (but it would likely be inconsistent).

[2020-09-01 12:47] ckaran commented on #76177
OK, so is this something that the rust team needs to be concerned about?  That is, should I go ahead and close this bug report?

[2020-09-01 14:06] howard0su commented on #26179
Do we consider the standard error handling in Rust like
match result  {
     Ok(xyz) => ....,
     Err(_) => ....,
}
In such case, we can safely assume Ok() path is more common. And some applies to Option<> as well. Will this benefit the performance?

[2020-09-01 14:13] lcnr opened #76200 "Tracking issue for future-incompatibility lint `const_evaluatable_unchecked`"
This is the **summary issue** for the `CONST_EVALUATABLE_UNCHECKED` future-compatibility warning. The goal of this page is to describe why this change was made and how you can fix code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For more information on the policy around future-compatibility warnings, see our [

[2020-09-01 14:16] Mark-Simulacrum commented on #75647
I have opened https://github.com/rust-lang/rust/pull/76199 to fix this issue.

[2020-09-01 14:20] Pzixel commented on #26179
No, we can't. Rustc has no idea what `Ok` or `Err` is

[2020-09-01 14:25] CryZe commented on #26179
Similar to the attributes on match cases, the attributes could be applied to enum variants, so it would be
[code]

[2020-09-01 14:26] rylev commented on #29864
@nikomatsakis do you have thoughts on whether an RFC is required for stabilizing the name `#[marker]`?
@Centril brought up good concerns on negative trait impls, which was never fully resolved. How can we continue the discussion? Are Niko's [ideas](https://github.com/rust-lang/rust/pull/68004#issuecomment-575760294) what we want to stabilize?

[2020-09-01 14:41] jgarvin commented on #26179
C compilers have to rely on heuristics to try and guess the error case, the cool thing about Rust's more expressive type system is that Err is a strong indicator you're in an unlikely case and is used universally. The combination of being able to say "this variant itself is unlikely" and "this case is unlikely" is you can use the declaration on the variant to get 99% of the annotations you would o

[2020-09-01 14:44] dbdr commented on #73631
I was also expecting inner functions to inherit the target-feature annotations of the outer function. Can this question fit here or does it warrant a separate issue?

[2020-09-01 14:55] tmiasko commented on #76177
There is no official support for sanitizer coverage in rustc. Additionally I wouldn't expect rustc to diagnose the use of incompatible LLVM options enabled manually with `-C llvm-args=... -C passes=...`, which is what is happening there. So for the time being I would close the bug report.

[2020-09-01 15:05] ehuss commented on #76194
The lint only works on nightly, the docs should probably be updated.

[2020-09-01 15:13] Trolldemorted commented on #38963
Do you have any idea when this will be supported? Not being able to catch structured exceptions makes it impossible to use file views which [throw an exception when an IO error occurs](https://docs.microsoft.com/en-us/windows/win32/memory/reading-and-writing-from-a-file-view) (including network errors when the file is on a network share).

What happens if an exception is thrown right now? I assume

[2020-09-01 15:15] johnmarkwayve commented on #64496
Can confirm this bug on stable 1.46.0, reverting to 1.45.2 fixed the issue. How did this get past crater and into stable? Similarly to @helinwang applying the compiler-suggested fix only increases the suggested `type_length_limit`

[2020-09-01 15:26] danylaporte commented on #75860
I have the same issue, with my own code. When I run `cargo check`, it works but when I run `cargo build`, the compiler run forever. I have the issue using the nightly and the latest stable compiler (1.46). It works correctly on stable 1.45.2.

[2020-09-01 15:31] jonas-schievink commented on #75860
@danylaporte Can you provide the source code needed to reproduce that? The reproduction we have so far also hangs on 1.45.2 and older.

[2020-09-01 15:36] SkiFire13 commented on #76149
This could be a variation of #47680, but it doesn't compile when using `-ZPolonius`.

Also note that this is related to the use of `+ '_`. If `share` returned a `Result<&'_ dyn ToString, ()>` or a `Result<Box<&'_ dyn ToString>, ()>` it would work.

Another way to make it work would be to manually drop the value returned from `share` in the `Err` branch. This can be done by either saving the result

[2020-09-01 15:40] lcnr commented on #75913
Feel free to ping me on all issues related to const generics

@bors claim

[2020-09-01 15:58] danylaporte commented on #75860
@jonas-schievink Sorry, the code is private and I cannot produce a repro easily.

[2020-09-01 16:18] paullgdc opened #76202 "Internal compiler error with feature type_alias_impl_trait on nightly"
The error happens when implementing traits on alias `impl Trait`

### Code

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=164bb6bece3a71b4a8b11abe60673c2c)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-01 16:20] samwightt commented on #50784
Just hit this roadblock today with a smaller bin project that I was working on and it was very annoying. Doc tests should be standard across all project types, not just library.

[2020-09-01 16:40] jyn514 commented on #76194
These docs live in https://github.com/rust-lang/rust/blob/master/src/doc/rustdoc/src/lints.md. To fix this, add 'and is **nightly-only**' to the first sentence.

[2020-09-01 16:41] jyn514 commented on #76185
Closing as duplicate of https://github.com/rust-lang/rust/issues/74497

[2020-09-01 16:41] #76185 closed

[2020-09-01 16:43] jyn514 commented on #74072
@SNCPlay42 are you interested in following up on https://github.com/rust-lang/rust/issues/74072#issuecomment-661942271? I don't see a linked PR with those changes, but even if they're not perfect it would be great to have something :)

[2020-09-01 16:52] CDirkx opened #76205 "Constify `std::net::IpAddr`, `Ipv4Addr`, and `Ipv6Addr`"
Due to recent stabilizations of const integer arithmetic and const control flow, all methods of types `std::net::IpAddr`, `Ipv4Addr`, and `Ipv6Addr` can be made const. This issue provides an overview of all methods and steps that need to be taken:

# `Ipv4Addr`

Methods already stable const:

- `new`
- `is_unspecified`

Methods unstable const by [PR#76142](https://github.com/rust-lang/rust/pull/76

[2020-09-01 17:28] tmandry commented on #64496
We've seen a further and more recent regression on nightly on Fuchsia, but we should bisect them separately.

[2020-09-01 17:28] tmandry commented on #64496
@rustbot ping cleanup

We need to bisect to figure out where this regression occurred.

[2020-09-01 17:56] raptortech-js opened #76208 "Typo'd Imports Result in Confusing Error Message"
I wanted to use the chrono crate, so I added it to Cargo.toml and put an import at the top of main.rs: `use chono::prelude::*`, where I typo`d chrono as chono. I got this error message:

[code]

I didn't see the typo, and I was confused because I thought I must have put the import in the wrong place, because it said I hadn't declared the module that I was declaring on that line. I checked the docs

[2020-09-01 18:10] ckaran commented on #76177
Will do, thank you!

[2020-09-01 18:10] #76177 closed

[2020-09-01 18:35] ArekPiekarz opened #76209 "Unstable Book: const_unreachable_unchecked leads to a closed tracking issue"
Unstable Book in section for [const_unreachable_unchecked](https://doc.rust-lang.org/nightly/unstable-book/library-features/const-unreachable-unchecked.html) leads to a closed issue https://github.com/rust-lang/rust/issues/53188 where that feature was proposed. Should it be reopened as a tracking issue until it is stabilized?

[2020-09-01 18:41] cuviper commented on #26925
Even if they're public types, it's questionable to expose the types of private fields in the constraints.

[2020-09-01 18:43] sarvi opened #76211 "associated functions don't seem to be working as intended for cdylib, but works for dylib"
The suspicion on the RUST forum is that assocaited functions are not working correctly for cdylib
Associated RUST forum thread
https://users.rust-lang.org/t/ld-preload-works-as-dylib-and-doesnt-as-cdylib-which-is-the-right-choice/48174

I am building an LD_PRELOAD library.
It was recommended  in the rust forum that I use cdylib as crate type to build the Rust LD_PRELOAD shared library I am working

[2020-09-01 18:43] petrochenkov commented on #76208
This is one of few cases for which typo suggestions are not yet implemented (https://github.com/rust-lang/rust/issues/30197#issuecomment-272618423).

[2020-09-01 18:49] JesHansen commented on #76194
I created PR #76212 to update the documentation. Thanks for clarifying. :-)

[2020-09-01 18:49] #76194 closed

[2020-09-01 19:01] matthiaskrgr opened #76213 "llvm segfaults during bootstrap of rustc_middle in stage 1"
When bootstrapping rustc, I can observe a crash inside llvm when building `stage 1` `rustc_middle`.

[code]

In `dmsg` I could see this:
[code]

I did a bisect and found out that the crash happens since 1d22f75c9f75cad2e408a145861904898ac982dd
cc @davidtwco

my cpu is a `Intel(R) Core(TM) i5-7200U CPU `

The timing of the crash makes me think that this might happen somewhere during LTOing of the r

[2020-09-01 19:03] davidtwco commented on #76213
cc @eddyb

[2020-09-01 19:19] xd009642 commented on #74727
@pnkfelix do you mind if I message you for guidance once I have a more concrete idea of what my questions are?

[2020-09-01 19:58] cuviper commented on #45842
I believe this has been implemented since #54032, commit 06a041cbd399dc641cadef2bc22c6e519b01856e.

[2020-09-01 19:58] #45842 closed

[2020-09-01 20:00] Aaron1011 commented on #76213
@matthiaskrgr: Was a coredump generated? If so, should be able to generate a backtrace by running `gdb corefile`, followed by the `bt` command.

[2020-09-01 20:00] RazrFalcon opened #76214 "rustc/llvm segfault when compiling the float-cmp crate with -Ctarget-feature=sse2"
### Code

https://github.com/mikedilger/float-cmp/commit/c28b1c8bfd865cd3d3b761e8d8dc8c732a2edb2e

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

No backtrace.

Same error on `rustc 1.48.0-nightly (d006f5734 2020-08-28)`

`-Ctarget-feature=sse2` or `-Ctarget-feature=-sse2` produce an error. `-Ctarget-feature=+sse2` is not.

No error on hello world app.

[2020-09-01 20:03] #70929 closed

[2020-09-01 20:19] cuviper commented on #63713
#64131 added `StableMap` and `StableSet` that don't let you access the "unstable" iterators, only `into_sorted_vec()`, but I don't see anything using these types yet. We also have `FxIndexMap` and `FxIndexSet` aliases for `indexmap` that keep insertion order, and these are used in quite a few places. Is there anything else needed?

[2020-09-01 20:28] mati865 commented on #76214
I think it's basically duplicate of https://github.com/rust-lang/rust/issues/65844

[2020-09-01 21:01] RazrFalcon commented on #76214
Thanks. Wasn't able to find it via search.

[2020-09-01 21:01] #76214 closed

[2020-09-01 21:20] marmeladema commented on #59159
FYI, I've opened #76104 in order to put the lint in deny mode by default since its been 1 year and a half since the warning has been merged.

[2020-09-01 21:21] guswynn commented on #76191
I might take a look at improving this diagnostic (fair warning, would be my first contribution)

[2020-09-01 21:41] nikomatsakis commented on #72651
So in our call today we dug into this (will post video later). I'm pretty sure that the problem is this:

* When we build the MIR for a match arm, if there is a pattern guard expression, we wind up creating references to all the bindings that appear in the pattern for use within that expresssion. (So `y if is_even(y) => ...` is kind of desugared to `is_even(*r_y)` where `r_y` is a reference to whe

[2020-09-01 21:41] jonhoo commented on #70929
Will be released in `1.48` :tada:

[2020-09-01 21:49] estebank commented on #51155
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f131b10b9220466fe891e2b02d4ab7ae):

[code]

[2020-09-01 21:49] #51155 closed

[2020-09-01 22:02] ArekPiekarz commented on #76156
I wasn't sure if there was anything else needed to fully implement the RFC for const, but I preferred to stay on the safe side and left it unchecked when creating this issue.

[2020-09-01 22:03] #75930 closed

[2020-09-01 22:06] D1plo1d opened #76220 "Stdlib SyncChannel blocks indefinitely after receiver is disconnected (intermittent timing issue)"
After the receiver is dropped `SyncSender::send` sometimes randomly blocks forever instead of returning an Error as expected.

This is a follow up to a SledDB thread in which @spacejam managed to recreate the issue and narrow it down to a suspected issue with the SyncChannel implementation: https://github.com/spacejam/sled/issues/1152

I tried this code:

[code]

More context: https://github.com/s

[2020-09-01 22:07] matthiaskrgr commented on #76213
[code]
does this help?

[2020-09-01 22:10] spastorino commented on #76001
@ecstatic-morse I'd like to take this issue if it's not taken yet.

[2020-09-01 22:15] estebank commented on #73457
Current output:

[code]

[2020-09-01 22:55] tmiasko commented on #76181
1. Attempt is made to inline `h` into `g::{{closure}}#0` which requires computing optimized MIR for `h`.
2. Optimized MIR for `h` executes ConstProp, which computes layout for locals, one of which is a generator.
3. Computing layout of this generator involves computing optimized MIR for `g::{{closure}}#0` completing the cycle.

The issue might be addressed at some point by changes in #68828.

[2020-09-01 23:39] CDirkx opened #76225 "Stabilize enum `is_variant` methods as const"
Recently const control flow was stabilized, which enables a lot of methods within the standard library to be made stable const; specifically all of the enum `is_variant` methods:

- `Option`: `is_some` and `is_none`
- `Result`: `is_ok` and `is_err`
- `Poll`: `is_ready` and `is_pending`
- `Cow`: `is_borrowed` and `is_owned` (methods themselves are unstable)
- `IpAddr`: `is_ipv4` and `is_ipv6`
- `st

[2020-09-02 00:44] camelid opened #76228 "meta: Release tags show as "Unverified""
See for example the tag for 1.46.0:

![image](https://user-images.githubusercontent.com/37223377/91919368-94830080-ec7a-11ea-8853-6fe6fac1acb9.png)

Is there any way to remedy that? Likewise, the Git CLI shows:

[code]

---

@rustbot modify labels: A-meta T-release C-bug

[2020-09-02 01:12] Mark-Simulacrum commented on #76228
I don't think so, because the release key is not associated with any particular GitHub user. I suppose @pietroalbini and I could upload it to our accounts, but that seems like a bad idea (it's not *our* key after all).

Realistically GitHub not having the public key doesn't really matter, the signing is targeted more towards local checking for *very* dedicated people.

[2020-09-02 01:12] eleanor-em opened #76230 "ICE panic because the compiler failed to spawn a thread"
While compiling my (rather large) Cargo project, I hit an ICE panic because `rustc` failed to start a new thread. This was because my system was overloaded, which makes sense, but I assume the compiler shouldn't panic in this case and instead exit gracefully? I asked on the Rust Discord and was advised to post the report here.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code

[2020-09-02 02:02] estebank commented on #71341
Current output:

[code]

[code]

[2020-09-02 02:04] estebank commented on #63082
Current output:

[code]

[2020-09-02 02:05] camelid commented on #76228
Hmm, I wonder what other large projects do.

[2020-09-02 02:06] estebank commented on #63027
Triage: no change.

[2020-09-02 02:08] camelid commented on #76228
It looks like with Python the person releasing signs it with their personal key. Same with Node. Though I like Rust's model of signing it with the project's key. Is the release key the same as the key listed on the security policy page?

[2020-09-02 02:16] CDirkx commented on #76225
These were all the instances of enums with `is_variant` methods I could find in the standard library.

PRs opened for all of them, @ecstatic-morse

[2020-09-02 02:30] Mark-Simulacrum commented on #76228
No, it's a different key. I don't know that we publish it ourselves anywhere, but it is on the OpenPGP key server, for example: https://keys.openpgp.org/search?q=108F66205EAEB0AAA8DD5E1C85AB96E6FA1BE5FE

We should probably publish the fingerprint somewhere at least.

[2020-09-02 02:32] camelid commented on #76228
Yeah, maybe on the website at the bottom of the page? I wonder why there isn't a way to associate a PGP key with an organization on GitHub...

[2020-09-02 02:43] rocallahan commented on #71341
I agree, thanks for fixing this!!!

[2020-09-02 02:43] #71341 closed

[2020-09-02 02:55] Byron commented on #76149
It gets more interesting than that. When trying to use 'owner' once more after the match expression, there seems to be no way to accomplish this as according to borrowcheck, there is still a borrowed value. The usual 'smartness' doesn't seem to apply.

The only way I could make this work is by using a scope - the usual explicit `drop(…)`s  don't work at all.

[playground](https://play.rust-lang.or

[2020-09-02 03:17] #76094 closed

[2020-09-02 03:28] jyn514 commented on #75080
I'll take `library/std/src/net/ip.rs` and `library/std/src/fs.rs` (not currently tracked)

[2020-09-02 04:21] jyn514 commented on #75080
Updated regex, ignoring primitives that can't be linked to, documentation that's not code, and files that have already been claimed:
[code]
If you're working on core you can also add `| rg -v 'struct.(Box|String|Vec|VecDeque|HashMap|HashSet).html'`, which ignores structs in `alloc` that can't be linked to.

[2020-09-02 04:46] smmalis37 commented on #75961
********************************************************************************
Regression in dae90c195989b09475b6c0225a3018cbd7afa587
********************************************************************************

searched nightlies: from nightly-2020-04-21 to nightly-2020-09-02
regressed nightly: nightly-2020-05-03
searched commits: from https://github.com/rust-lang/rust/commit/7f65393b9abf5e

[2020-09-02 04:51] Deuchier commented on #22666
Serve has a library for easy query of heap size at [here](https://github.com/servo/heapsize) (Though they have switched to an internal tool `malloc_size_of` in the Servo project).

Jemalloc, which Rust uses by default, has [support](https://github.com/jemalloc/jemalloc/wiki/Use-Case%3A-Heap-Profiling) for monitoring memory usage.

I think it is a nice and feasible component to be added into the st

[2020-09-02 05:06] camelid commented on #75080
@jyn514 I think you probably want some backslashes before your dots to only match dots instead of matching anything, right?

[2020-09-02 06:10] scottmcm opened #76237 "tidy should stop reporting CRs in a file after a while"
Because I hadn't cleaned out my workspace, I got a gigantic flood of tidy errors.

Here's a small sample:
[code]

It seems like it wouldn't be uncommon for the usual mode here to be for the line endings to be in the wrong order, at which case it failing like this would be expected.

But it's be nice to not get 898 lines or tidy errors for a 898-line file 😆

Maybe it could just stop looking after t

[2020-09-02 07:25] matklad commented on #75704
Note that tokio is in theory removable from RLS. RLS has relatively modest IPC requirements and should be fine with blocking JSON over stdio. However, this might require writing somewhat more code, as IIRC there are no ready-made libraries for blocking IPC.

[2020-09-02 07:49] arora-aman opened #76239 "Improve diagnostics returning types defined within anon namespaces"
For the following code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8b0131faa8c3dc06c622d08e071c8e8a))

[code]

One of the lints is to put a semicolon and the other is to add a return type `fn f() -> f::{{closure}}#0::Foo `

It is accurate that `f` requires a return type, but the suggested return type is inaccurate. If I do use the lint as is, I get
[code]

[2020-09-02 08:04] pietroalbini commented on #76228
We could associate it to @rust-lang-owner, even though we'll also need to add rust-key@ as one of its verified email addresses.

[2020-09-02 08:05] dtolnay commented on #68048
Opened a PR with an implementation of this: #75857.

[2020-09-02 08:11] sdroege commented on #37572
Closely related to `TrustedLen` is `TrustedRandomAccess`, which doesn't seem to have a tracking issue. Should there be one, should it forever stay unstable or should it become part of this one?

[2020-09-02 08:40] #76192 closed

[2020-09-02 08:48] jbg commented on #64496
I've found that it does eventually reach a `type_length_limit` where it will compile, but it can take many iterations. Combined with the significant compile-time regression in 1.46.0 this can be quite painful.

[2020-09-02 10:32] RalfJung commented on #76092
Actually, let's use https://github.com/rust-lang/rust/issues/42788 for the `Read` part (there's another FIXME in the code referencing that already).

This is just for flt2dec, and will be fixed by https://github.com/rust-lang/rust/pull/76241.

[2020-09-02 11:31] vandenheuvel commented on #74865
@rustbot claim

[2020-09-02 11:39] raw-bin commented on #68812
Hi @berkus.

A data point: I just had a play with your reproducer on a native AArch64 machine:

[code]

On the face of it, it appears that the test succeeds with nightly. There are some assumptions in the test that couple it to nightly so I couldn't test other versions.

Can you confirm that this is expected ?
Is there anything else you would like us to try ?

Thanks

[2020-09-02 11:47] RalfJung commented on #55005
Turns out `crossbeam` as a similar bug to `Arc` (https://github.com/crossbeam-rs/crossbeam/issues/545), and it can even be [triggered deterministically](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d85bf9f78366b4628f949c0dc39576b). Adding an exception for `UnsafeCell` would have helped here as well; I am not sure how hard it would be for them to port everything to raw p

[2020-09-02 12:05] jyn514 commented on #75080
For the `.rs` and `.html` you mean? In theory yes but in practice I didn't see any false positives.

[2020-09-02 12:47] jyn514 commented on #76106
Some more test cases from https://github.com/rust-lang/rust/pull/76235:
[code]

[2020-09-02 13:34] pietroalbini commented on #76228
The key is available at https://static.rust-lang.org/rust-key.gpg.ascii btw.

[2020-09-02 13:50] ArekPiekarz opened #76246 "Unstable Book: "foo" leads to an unrelated tracking issue, it's not a real feature"
The Unstable Book in section [foo](https://doc.rust-lang.org/nightly/unstable-book/library-features/foo.html) leads to a tracking issue https://github.com/rust-lang/rust/issues/1234, which is about an unrelated topic `rust-mac1 bot has issues`. The naming of both the feature and the issue leads me to believe they are only given as examples in the code and are being incorrectly picked up by the doc

[2020-09-02 13:52] calebsander commented on #42327
This would make `Try` behave as the `&&` operator on `bool`s. As others have pointed out above, there are also use cases for short-circuiting on success, in which case `Try` should behave as `||`. Since the `&&` and `||` operators aren't much longer to type out, I also don't see much of an advantage to having this implementation.

[2020-09-02 14:00] viktorchvatal opened #76247 "Large performance drop in compiled binary in stable rust 1.45.2 vs 1.44.0 on x86_64 linux"
I have experienced more than 300% longer execution time in specific functions that use loops along with indexing into slices. After several hours of work with a profiler, I was able to isolate the problem from a 60K lines codebase into the following short program

[code]
Code is also available in the following [repository](https://github.com/viktorchvatal/rust-perf-demo)

With rust 1.44.0, I obser

[2020-09-02 14:02] tmiasko opened #76248 "type parameter `M/#0` (M/0) out of range when substituting, -Z mir-opt-level=2"
### Code

[code]

### Error output

[code]

The ICE happens during codegen, but it seems to be caused by MIR inliner.

[2020-09-02 14:02] lzutao commented on #76237
Windows loves Linux. How is this possible?

.. it is a joke ?

If you have Windows Subsystem for Linux , `dos2unix` should help convert CR .

[2020-09-02 14:08] ArekPiekarz opened #76249 "Unstable (de facto internal) library feature `gen_future` links to a closed tracking issue (for async/await)"
Unstable Book in section [gen_future](https://doc.rust-lang.org/nightly/unstable-book/library-features/gen-future.html) leads to a closed tracking issue https://github.com/rust-lang/rust/issues/50547 titled `Tracking issue for async/await (RFC 2394)`.

There are a few solutions to this:
\- reopen the tracking issue, or
\- create a new tracking issue and a PR updating the issue number in documentat

[2020-09-02 14:14] jyn514 commented on #76247
It would be interesting to see if this is fixed on nightly, since that has the LLVM 11 bump.

[2020-09-02 14:18] viktorchvatal commented on #76247
No significant change with nightly and LLVM 11
[code]

[2020-09-02 14:20] mati865 commented on #76237
Git has stupid default setting which converts LF to CRLF on Windows.

Or MSYS2.

[2020-09-02 14:23] ArniDagur opened #76250 "Add Min-Max Heap to `std::collections`"
I just read a blog post about the Min-Max heap being faster than the Binary Heap on modern processors, while being strictly more powerful since you can pop from both ends: https://probablydance.com/2020/08/31/on-modern-hardware-the-min-max-heap-beats-a-binary-heap/

Given these benefits, and since [`BinaryHeap`](https://doc.rust-lang.org/std/collections/struct.BinaryHeap.html) is included in `std:

[2020-09-02 14:26] jonas-schievink commented on #76250
This can be written as an external crate, has that been done already?

[2020-09-02 14:36] jonas-schievink commented on #76250
Also, if this really ends up being a more powerful and faster `BinaryHeap`, but with the same requirements on the user, then `BinaryHeap` can just be changed to a Min-Max heap internally. No new API needed.

[2020-09-02 15:05] jyn514 commented on #75808
Closing as duplicate of https://github.com/rust-lang/rust/issues/75992

[2020-09-02 15:05] #75808 closed

[2020-09-02 15:08] bbqsrc commented on #58520
Anything blocking this from stabilization?

[2020-09-02 15:11] spastorino commented on #76053
Assigning `P-low` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376053.20.23.5Bforbid(unreachable_code).5D.20incompatibl.E2.80.A6) and removing `I-prioritize`.

[2020-09-02 15:13] spastorino commented on #76021
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376021.201.2E46.2E0.3A.20Throw.20.22SIGSEGV.3A.20invalid.20memory.20.E2.80.A6) and removing `I-prioritize`.

[2020-09-02 15:16] spastorino commented on #75982
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375982.20ICE.3A.20Expected.20module.2C.20found.20DefId) and removing `I-prioritize`.

[2020-09-02 15:17] apiraino commented on #76247
@rustbot ping cleanup
We have a [good MCVE](https://github.com/rust-lang/rust/issues/76247#issue-691048136), probably could use a bisection to isolate the culprit

[2020-09-02 15:24] jyn514 commented on #76237
Preferably `x.py` would be able to clean up empty directories that used to be submodules. But this seems like an easy workaround that makes the left-over submodule less annoying.

[2020-09-02 15:25] allenzhao64 opened #76251 "error: incremental compilation: could not create session directory lock file: Input/output error (os error 5)"
I tried this code:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-09-02 15:26] allenzhao64 commented on #76251
some other observation:

The `cargo build`  works only when using a local device path.

`cargo build --release` works fine,

The file is hosted on a NFS device

[2020-09-02 15:31] spastorino commented on #75961
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375961.20ICE.20during.20codegen.20of.20function.20that.20can.E2.80.A6) and removing `I-prioritize`.

[2020-09-02 15:31] jyn514 commented on #76230
Maybe rustc should block when trying to start a thread instead of using O_NONBLOCK?

The number of panics makes it look like you have many cargo processes running at once, are you running `cargo build` with `make -j` or something?

[2020-09-02 15:31] dylni opened #76252 "Correctly using intra-rustdoc links in no_std crates is difficult"
AFAICT, if your crate has this line:

[code]

and you use a intra-rustdoc link for any [`std`](https://doc.rust-lang.org/std/) item, these lines must be added to build documentation with `--no-default-features`:

[code]

Then, to use items from the prelude in documentation, you'll also want:

[code]

However, this defeats the purpose of the prelude being imported automatically. Would it be possibl

[2020-09-02 15:34] jonas-schievink commented on #76252
Depending on the target documentation is built for, libstd might not exist, so these lines cannot be added automatically without breaking a lot of embedded crates. However it seems like a bug that rustdoc does not inject the core library and libcore prelude instead.

[2020-09-02 15:43] dylni commented on #76252
I figured there was something I was missing about this. That seems reasonable, but the problem would still exist when using items only defined in `std` or `alloc`.

I'm not sure what the best resolution for that would be, but if crates use `extern crate std` to have it in scope, the documentation would also fail to build on those targets. Could rustdoc default to a target that libstd is build for?

[2020-09-02 15:47] spastorino commented on #75983
possibly https://github.com/rust-lang/rust/pull/72788

[2020-09-02 15:48] jyn514 commented on #76252
Some thoughts, not for or against this feature yet:

[code]
This will break if another crate depends on your docs: https://github.com/rust-lang/rust/pull/75855

This is a more general problem than intra-doc links: https://github.com/rust-lang/rust/issues/73423

Rustdoc should do this already, no? This works fine locally:

[code]

Hmm ... that would break any crate that uses `cfg(target = "...")` a

[2020-09-02 15:50] spastorino commented on #75983
Assigning `P-medium` given this `requires-nightly` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375983.20ICE.3A.20unexpected.20predicate.20TraitPredicat.E2.80.A6) and removing `I-prioritize`.

[2020-09-02 15:50] jyn514 commented on #76252
I think I would recommend passing `--feature std` when documenting your crate. Adding a silent `--target` seems very liable to break, and adding `extern crate std` means that you _can't_ document the crate for targets without the standard library.

[2020-09-02 15:52] jyn514 commented on #76252
Actually you just made me remember why `extern crate std;` isn't possible - that means you can't document either `std` or `core`.

[2020-09-02 15:52] clouds56 commented on #42327
@calebsander thanks for kindly reply.
That's true for some simple cases, but I don't think it is often the case, especially we could never have assignment statment like `let x = v.get_mut(key)?` in expression.
If `&&` and `||` would always do the trick, we could as well play with `.unwrap_or_else()`, `.and_then()` for `Option` and `Error` cases.
Could you express the flowing code in `&&` and `||`?

[2020-09-02 15:59] jyn514 commented on #76252
I'll leave this open because I think the discussion is useful, but I don't think rustdoc is going to change it's behavior here.

[2020-09-02 16:04] spastorino commented on #76247
This seems to have happened in the LLVM 10 upgrade.

@rustbot ping llvm

[2020-09-02 16:08] FedericoPonzi commented on #75763
It looks like it's correctly complied on rustc 1.48.0-nightly:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3c6f489ca24c8ea66c9759f990a19f5a

[2020-09-02 16:09] spastorino commented on #75860
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375860.20Compiler.20hang.20on.20function.20return.20type) and removing `I-prioritize`.

[2020-09-02 16:10] dylni commented on #76252
I wasn't aware dependencies are build without `cfg(doc)`. That does make the idea pretty useless.

I'm not sure I understand, but I agree it's not a great idea.

Right, I guess this would almost require rustdoc to know how to map each item to its documentation link, which seems error-prone.

My specific problem is that I am using an `alloc` type in documentation for a `#![no_std]` trait. In docume

[2020-09-02 16:13] infinity0 opened #76253 "Windows SOCKET type defined inconsistently between libc vs std::os::windows"
- https://github.com/rust-lang/rust/blob/master/library/std/src/sys/windows/ext/raw.rs says u32/u64
- https://github.com/rust-lang/libc/blob/master/src/windows/mod.rs#L51 says uintptr_t aka usize

For some reason official MS SDK docs likes to [keep the actual definition a secret](https://docs.microsoft.com/en-us/windows/win32/winsock/winsock-structures)

- https://github.com/mirror/mingw-w64/blob/

[2020-09-02 16:43] jyn514 commented on #76252
Hmm, that seems like something we could change without too much trouble. cc @rust-lang/rustdoc , what do think about setting `cfg(doc)` for dependencies?

There could be items that are only documented on certain platforms, e.g. winapi is an empty crate on Linux. So if rustdoc overrides the target the documentation would be wrong.

In this particular case, if you had `extern crate alloc` that would

[2020-09-02 16:44] calebsander commented on #42327
Well, unless I misunderstand your proposal, just implementing `Try<Ok = (), Error = FalseError>` for `bool` wouldn't allow this. You would also need to `impl From<NoneError> for FalseError` so that the `?` operator could convert `None` into `false`. (And similarly, if you want to apply `?` to a `Result<T, E>` inside a function that returns `bool`, you would need to `impl From<E> for FalseError`. I

[2020-09-02 16:56] ollie27 commented on #76124
Duplicate of #62992

[2020-09-02 16:56] #76124 closed

[2020-09-02 17:16] dylni commented on #76252
I see what you mean now. I actually meant that rustdoc could only use that default when resolving `std` links, without changing the build target. However, that wouldn't work anyway if no libstd target is installed.

I should have given a better example. The [crate-level documentation](https://docs.rs/uniquote) references [`println!`](https://doc.rust-lang.org/std/macro.println.html), so it still n

[2020-09-02 17:30] spastorino commented on #76247
This was [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376247.20Large.20performance.20drop.20in.20compiled.20bina.E2.80.A6)

[2020-09-02 17:35] #76092 closed

[2020-09-02 17:52] mati865 commented on #76253
From MSVC headers:
[code]

Unfortunately this would be breaking change since that type is public.

[2020-09-02 17:53] tgnottingham commented on #74890
Here's the root cause analysis, using the following example:

Before:

    fn main() {
        foo();
    }

    fn foo() {
        println!("hi");

    }

After:

    fn main() {
        foo();
    }

    fn foo() {
        println!("hi");//
    }

The ICE occurs when we try to deserialize and reuse the result of the optimized_mir(foo) query from the previous compilation session. In particular, w

[2020-09-02 17:55] steveklabnik commented on #60682
Triage: pretty sure this is the same as what @Mark-Simulacrum said a year ago

[2020-09-02 17:57] Daniihh commented on #60302
Would like to help with this, too. Is there a possibility to share an issue?
Specifically, I have my eyes on [core::num](https://github.com/rust-lang/rust/blob/master/library/core/src/num/mod.rs).

[2020-09-02 17:58] nvzqz commented on #29603
What work is needed to stabilize `#[weak]` in `extern "C"` blocks?

[2020-09-02 18:00] Mark-Simulacrum commented on #60682
I am going to close. I think continuing to track this is not too useful, and self-profile has made great strides since then making it even more useful.

[2020-09-02 18:00] #60682 closed

[2020-09-02 18:04] ecstatic-morse commented on #76001
Go for it @spastorino!

[2020-09-02 18:07] yoshuawuyts commented on #56533
I'd love to see this feature make it's way eventually. Cross-linking [a conversation on internals](https://internals.rust-lang.org/t/unixstream-on-windows/12305/6) for discoverability.

[2020-09-02 18:19] mati865 commented on #53254
I think we can close this issue, there is nothing to fix on Rust side. Also MMX may get removed from LLVM: https://www.phoronix.com/scan.php?page=news_item&px=LLVM-Goodbye-MMX-Maybe

[2020-09-02 19:58] ehuss commented on #62940
Yea, I'm going to close as I think this is mostly a cargo issue.

[2020-09-02 19:58] #62940 closed

[2020-09-02 20:05] haraldh commented on #58520
see https://github.com/rust-lang/rust/issues/58520#issuecomment-554912556 and following

especially https://github.com/rust-lang/rust/issues/69161 is annoying

[2020-09-02 20:24] DutchGhost commented on #75763
I dont think this should compioe at all. After all, we cause UB, the value of the const generic does not comply with the rules of `&str`.

[2020-09-02 20:56] khionu commented on #75633
@rustbot claim

[2020-09-02 21:00] richkadel commented on #76038
I just noticed this recent PR (https://github.com/rust-lang/llvm-project/pull/72 ) by @mati865 that seems to be fixing a similar problem on Windows binaries. That PR fixes a problem for the MinGW GCC target, not MSVC, but considering the clues documented in _this_ issue point to a function alignment problem, I have to wonder if the MSVC fix would be similar.

Note, my detailed notes include a dump

[2020-09-02 21:06] calebsander commented on #76250
https://crates.io/crates/min-max-heap seems to be an existing implementation

[2020-09-02 21:12] matthiaskrgr commented on #76213
config.toml via `cat config.toml | grep -v  "^\#" | grep "."`

[code]

[2020-09-02 21:31] tmiasko opened #76259 "LLVM ERROR: Do not know how to split this operator's operand! with -Zmir-opt-level=2"
[code]

[code]

This looks like an interaction between MIR inliner and `#[target_feature(...)]`.
Most likely inlining shouldn't take place in-between functions with incompatible target features.

[2020-09-02 21:47] mati865 commented on #76038
@richkadel that PR only fixes linking to libprofiler built by MinGW GCC, it segfaults when running instrumented executable: https://github.com/rust-lang/llvm-project/pull/72#issuecomment-681039263
Clang didn't have that issue with or without that PR.

[2020-09-02 21:53] richkadel commented on #76038
@mati865 - Yes, agreed. I did say that in my comment. I assume your fix would not resolve the MSVC issue directly, but I'm wondering if there is a similar fix that should be made for MSVC.

Yes, the MSVC bug described here has the same symptom. The instrumented executable segfaults.

I wanted to link to your PR in case it gives some insights that might help someone solve _this_ issue for MSVC.

I

[2020-09-02 22:01] jonas-schievink commented on #74727
I'll write up some pointers.

* The symbols to be used in the attribute syntax have to be added to [`symbol.rs`](https://github.com/rust-lang/rust/blob/80fc9b0ecb29050d45b17c64af004200afd3cfc2/compiler/rustc_span/src/symbol.rs).
* The `instruction_set` attribute has to be added as a gated attribute in [`builtin_attrs.rs`](https://github.com/rust-lang/rust/blob/80fc9b0ecb29050d45b17c64af004200afd3c

[2020-09-02 22:04] xd009642 commented on #74727
So I've added the symbols to symbol.rs, and instruction_set to CodegenFnAttrs added an InstructionSet enum, updated codegen_fn_attrs (although not all of the sub-bullet points, it's very happy path only right now).

I'll look at the target stuff next since that seems to be the biggest part I'm missing in `codegen_fn_attrs` and I guess talk to @Lokathor to see what thumb targets I need to do this f

[2020-09-02 22:07] mati865 commented on #76038
@richkadel do you have backtrace for MSVC segafaults? I don't think GCC and MSVC segfaults are the same but maybe there is the same issue underneath...

[2020-09-02 22:09] scottmcm commented on #76250
Hmm, can it?  I thought that `Vec::from(BinaryHeap::from(vec))` was defined to return the items in binary heap order, on which someone could potentially be depending.  [As you've said before](https://github.com/rust-lang/rust/issues/59278#issuecomment-564790108), though, it sure would be nice to have `.into_iter()` be both sorted and double-ended for heaps...

[2020-09-02 22:10] matklad commented on #76250
I wonder if it's possible to do better than min-max heap by forgoing min-max property? Ie, an array can pack three interleaving tetrary max heaps.This give you the same parallel comparisons + four consequtive chilren in a row property.

[2020-09-02 22:19] howard0su commented on #26179
Can we extend [cold] attribute to able to annotate a **enum**. So that when we parse match or "if let", we can integrate this type of information via insert unlikely into the IR.

[2020-09-02 22:43] richkadel commented on #76038
The best I can do is show you the comparison between debugging Clang (on the left) and debugging rustc (on the right), where things first go wrong:

https://github.com/richkadel/rust/blob/coverage-msvc-segfault-discuss/coverage-msvc-segfault-notes.md#debugging-differences-in-1-first-available-breakpoint-line-in-__llvm_profile_write_file-2-locals-shown-by-rust-as-optimized-away-and-3-available-call

[2020-09-02 22:54] infinity0 commented on #76253
The types have the same representation, so I imagine if anyone is converting between the two (std vs libc) they are already using `try_into` which is what the current rustc error message recommends.

Otherwise, any code that depends on the current incorrect definition (being identical to u32/u64) should be fixed anyway.

[2020-09-02 23:06] eleanor-em commented on #76230
@jyn514 it's just `cargo build --release --all --all-targets`, with 5 projects in the workspace (I think project is the right name?)

No `make -j`, just the usual core allocation from `cargo`. I do have 12 virtual CPUs though so it's expected that it would spawn a lot of threads.

[2020-09-02 23:11] richkadel commented on #76038
No worries. Thanks for taking a look!

Hopefully someone with those skills (that I also lack!) will be helped by both your PR and these notes.

Thanks!

[2020-09-02 23:53] jyn514 commented on #60302
Seems like a good idea. You need
- a list of the files to be split up
- instructions for how to split them up (more detailed is better, but simple is fine as long as you update it along the way)
- someone to keep the tracking issue up to date as people claim files. Maybe in this case that would be @varkor?

[2020-09-03 00:07] Daniihh commented on #60302
Oh sweet, thanks! This'll be my first contributions to the rust standard library. 😄
I personally don't think we'll need instructions on splitting the files up as long as everyone's respectful. Although, it is @alex-griffiths decision.
If no one minds I'm gonna list out the files that need truncating.

[2020-09-03 00:08] ecstatic-morse opened #76264 "Warn when a borrow expression is unused"
Borrowing an expression is side-effect free, so there should never be a reason to write the first instead of the second.

[code]

If you really wanted to do this you could assign the result to an unused variable:

[code]

Therefore, we should add a lint for unused borrows to the compiler. Why is this important? A misplaced semi-colon before an `&&` operator in a multi-line boolean expression cause

[2020-09-03 00:14] scottmcm commented on #75744
@rustbot release-assignment

[2020-09-03 00:15] Daniihh commented on #60302
- [src/test/ui/issues/issue-29466.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/issues/issue-29466.rs)
- [src/test/ui/issues/issue-72933-match-stack-overflow.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/issues/issue-72933-match-stack-overflow.rs)
- [alloc::vec](https://github.com/rust-lang/rust/blob/master/library/alloc/src/vec.rs)
- [core::tests::iter](https://git

[2020-09-03 00:24] alex-griffiths commented on #60302
I believe changes to rustc_resolve need to be handled in a different manner.
https://github.com/rust-lang/rust/pull/75701#issuecomment-676266089

[2020-09-03 00:25] toplinuxsir opened #76266 "rust ffi link error"
with rust 1.46

I link c++ libray (libmylib.so ) , with g++ -lmylib , It works ok, and link success,
But with rust ,I have pass the -lmylib, compiles ok, and always link error:
'
/usr/bin/ld: callc.d2qs7r1b-cgu.0:(.text._ZN5callc4main17h70fed83690e9e7b8E+0x106): undefined reference to USB5622E_GetNetCfgA' /usr/bin/ld: callc.d2qs7r1b-cgu.0:(.text._ZN5callc4main17h70fed83690e9e7b8E+0x351): undefined

[2020-09-03 00:40] Aaron1011 opened #76267 "Avoid 'not found' terminology when there is only one potentially applicable method."
The following code:

[code]

gives the following error:

[code]

If we change the call to `my_fn()` to call some completely nonexistent method (e.g. `missing_method()`), we get the following error.

[code]

These two error messages are quite similar - however, they really mean two completely different things. The first error is due to a trait bound error - there's only one in-scope method that the

[2020-09-03 01:11] jyn514 opened #76268 "Tracking Issue for moving UI tests for libstd into unit tests"
This is a tracking issue for switching UI tests in `src/test/ui` which only test the standard library into unit tests.

### Rationale

This will:

- Improve compile times for the test suite as a whole, since fewer binaries are being linked and run
- Make it easier to find the code corresponding to a failing test
- Allow running more tests without having to first build the stage1 compiler
- Allow r

[2020-09-03 02:15] #68887 closed

[2020-09-03 02:15] #76181 closed

[2020-09-03 03:07] Lokathor commented on #74727
I don't know the best way to, from inside the compiler, tell if the target is an ARM arch target. And, even then, to tell if the default codegen will be a32 or t32.

I can say that, looking at the [platform support](https://doc.rust-lang.org/nightly/rustc/platform-support.html) page, all the tier2 and tier3 targets that start with `arm` are ARM with a32 as the default codegen, and then all the tar

[2020-09-03 03:22] ketsuban commented on #74727
If there's already a way to tell a target that starts with `arm` from one that starts with `thumb` (which tells you whether the default is `-thumb_mode` or `+thumb_mode`) I think I agree with @jonas-schievink that the best way forward is probably a new boolean field (`has_thumb_interworking`?) in the target spec.

[2020-09-03 03:28] dtolnay opened #76270 "Regression in proc macro panics being reported as compiler bugs"
Between nightly-2020-08-29 and nightly-2020-09-02, the following began printing an ICE message (despite compiling successfully).

The relevant compiler commit range is https://github.com/rust-lang/rust/compare/d006f5734f49625c34d6fc33bf6b9967243abca8...130359cb05246fcacdde61baa2613419ef6570c7. #75082 appears extremely relevant so mentioning @Aaron1011 @petrochenkov. From the PR description it soun

[2020-09-03 03:35] Aaron1011 commented on #76270
It looks like I misunderstood how `BridgeState` works. I'll PR a fix tomorrow.

[2020-09-03 03:41] scottmcm opened #76271 "`try` blocks don't parse after `return`"
[Simple demo](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=07df9b541c92246337c207b8f151909b) that won't compile but should be a type error:
[code]

But it gives a parse error instead:
[code]

(It works if you put parens, like `return (try { 4 });`)

[2020-09-03 03:59] jumbatm commented on #75993
Hi, I'm interested in implementing this. @simonvandel -- I know this issue came up on your PR. Were you intending on also taking this?

[2020-09-03 05:34] simonvandel commented on #75993
Go ahead 🙂

[2020-09-03 05:35] jumbatm commented on #75993
Great, thanks!

@rustbot claim

[2020-09-03 05:55] Manishearth commented on #76252
I feel like this breaks metadata-only dep doc builds

[2020-09-03 07:21] viktorchvatal commented on #76247
I have created a script that returns nonzero exit code in case that bianry run time is larger than 3.0 seconds (reasonable threshold on my system) that can be used as script with `cargo bisect-rustc`
[code]

My particular result so far is
[code]
Waiting for the rest to complete...

[2020-09-03 07:44] viktorchvatal commented on #76247
found 7 bors merge commits in the specified range
  commit[0] 2020-05-20UTC: Auto merge of #72378 - Dylan-DPC:rollup-m87bp2d, r=Dylan-DPC
  commit[1] 2020-05-20UTC: Auto merge of #67759 - nikic:llvm-10, r=Mark-Simulacrum
  commit[2] 2020-05-21UTC: Auto merge of #70705 - lcnr:generic_discriminant, r=nikomatsakis
  commit[3] 2020-05-21UTC: Auto merge of #72205 - ecstatic-morse:nrvo, r=oli-obk
  comm

[2020-09-03 07:58] tronta opened #76276 "Memory overflow when compiling"
When compiling this code the compiler starts using more and more memory trill it gets terminated by signal: 15, SIGTERM: termination signal
That's the best minimal code I could come up with...

### Code

[code]
[reduced.zip](https://github.com/rust-lang/rust/files/5167039/reduced.zip)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</str

[2020-09-03 08:12] jbakker-atmind opened #76277 "ICE: resolve_instance: AssocItem not found"
Hi,

the last month I got a compiler error, what I wasn't able to work around. I tried to create a minimal verifiable example, but was not able to isolate it. It seems to fail in 'to_markup_when_not_zero' and sometimes 'to_estimated_string'. I can reliable reproduce this error on my code base. I can provide more details if needed.

My current fallback is to use `nightly-2020-07-01` If desired I ca

[2020-09-03 08:24] lcnr commented on #75763
A str being valid utf-8 is not a language invariant, so this should not be UB to my knowledge.

cc @RalfJung

I do expect this to be the correct behavior, so marking as `E-needs-test`

[2020-09-03 08:32] lcnr commented on #75763
We do have to compare the `str`s to check for equality though, which might cause library ub so :shrug:

[2020-09-03 08:54] Timmmm opened #76279 "Option to output compressed executables"
Because Rust links everything statically it can generate rather large executables. One hacky workaround for this is to compress them using [UPX](https://upx.github.io/). For example I have a fairly small Rust program that ends up as an 11.4 MB executable, but is 2.9 MB when compressed with UPX. Startup time is veeery slightly affected (I haven't measure but it feels like around 0.1-0.2s) but the t

[2020-09-03 09:09] pietroalbini commented on #71988
It seems [a runner disappeared only one time](https://github.com/rust-lang-ci/rust/runs/1062301475) across the whole week, which is definitely an improvement!

I'll propose during the next weekly infrastructure team meeting to try and double-gate macOS on both Azure and GitHub Actions, to see what the impact would be on our queue size.

[2020-09-03 09:36] DutchGhost opened #76280 "`min_const_generic` takes precedence over `const_generics`"
I expect the code below code to compile, but it fails. `const_generics` should allow more than just the types whitelisted in `min_const_generics`, but it seems rustc only looks at the `min_const_generics` flag in this case.

[code]

The error message is:
[code]

[2020-09-03 10:09] jonas-schievink commented on #76279
This should not be in the compiler imo. Just use an external packer.

[2020-09-03 10:10] jonas-schievink commented on #76266
Please provide instructions to reproduce this issue.

[2020-09-03 10:12] emilk opened #76281 "rustc hangs when compiling for wasm32"
### hang.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
I compile with this:

[code]

And that hangs `rustc`.

### Details

`opt-level` must be 2 or higher, and `--target` must be `wasm32-unknown-unknown`.

It does NOT hang with `rustc 1.48.0-nightly (d006f5734 2020-08-28)`, so possibly this is a bug that has already been fixed.

[2020-09-03 10:21] Amjad50 commented on #76280
You are right

https://github.com/rust-lang/rust/blob/08deb863bdebfcbbb71c18acf903eca84f1df4e7/compiler/rustc_typeck/src/check/wfcheck.rs#L293-L310

But why would you want to use the two of them?

[2020-09-03 10:28] matthiaskrgr commented on #76213
There is no segfault if I build without `-Ctarget-cpu=native`

[2020-09-03 10:28] sMitea opened #76282 "thread 'rustc' panicked at 'assertion failed: self.is_struct() || self.is_union()'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-03 10:32] jonas-schievink commented on #76282
Duplicate of https://github.com/rust-lang/rust/issues/75977

[2020-09-03 10:32] #76282 closed

[2020-09-03 10:38] DutchGhost commented on #76280
I imagine this to happen whenever at first you only decide to use `min_const_generics`, but then later also switch to `const_generics`. You might just follow rustc, which tells you to add `#![feature(const_generics)]` to your project, so you do, but then you get the behaviour as described in this issue.

This could also perhaps get triggered in a more subtle way where you write a library that uses

[2020-09-03 11:01] Amjad50 commented on #76280
what do you think @lcnr ?

[2020-09-03 11:19] mati865 commented on #68887
`-C link-self-contained` has been stabilised in nightly and MinGW detection was reworked in the next nightly.

If somebody still encounters the issue with tomorrow's nightly, please open new report.

[2020-09-03 11:41] leonardo-m opened #76284 "[ER] Cargo features fix suggestions"
Please tell me if I have to move this diagnostic Enhancement Request elsewhere (into the the Cargo stuff).

In a new Cargo project I create in vec_test\src\main.rs:
[code]

It doesn't compile and it doesn't explain how to fix the problem:

[code]

What I'd like: it to explain that this error is caused by Cargo features and I'd also like it to suggest how to fix it, replacing this line of Cargo.tom

[2020-09-03 12:19] jyn514 commented on #76106
GitHub was overeager, this is not fixed, just worked around.

[2020-09-03 12:22] jonas-schievink commented on #76284
I don't think it is feasible to implement this in the compiler, since it doesn't know anything about Cargo features (let alone Cargo features in *upstream* crates)

[2020-09-03 12:23] pcpthm commented on #76247
Changing the code a bit:

[code]

makes the compiler generate an even better code on both 1.44.0 and 1.45.2:

[code]

It suggests LLVM is struggling with the conversion between boolean vectors and integer vectors.

[2020-09-03 12:23] lzutao commented on #76284
Rust skips item/mod that have inactive `cfg(feature = ?)`, so I don't think that's possible at all.
But it could suggest user to try enabling other crate features.

[2020-09-03 12:26] jonas-schievink commented on #76284
That suggestion would almost always be wrong without deeper knowledge of Cargo features though

[2020-09-03 12:30] lzutao commented on #76279
Do we have any UPX crates ?

[2020-09-03 13:07] lcnr commented on #76280
It probably makes sense to instead check if we are not using `feature(const_generics)` here, but there are a quite a few places were we check for `feature(min_const_generics)`, we maybe want to instead emit an error/warning when using both `const_generics` and `min_const_generics` in the same crate.

[2020-09-03 13:15] jyn514 commented on #76252
You mean like when documenting with `--no-deps` from cargo? I thought that didn't run rustdoc at all and only ran `cargo check`.

[2020-09-03 13:23] retep998 commented on #76253
From what I remember back when `winapi` was switching from `u32`/`u64` to `usize`, it was the breaking change risk that stopped `std` from changing this definition. I'd love if it could be fixed.

Is crater able to actually test Windows specific changes like this yet?

[2020-09-03 13:41] SkiFire13 commented on #76250
The current comment for `BinaryHeap::into_vec` says that it "returns the underlying vector in arbitrary order", while the `impl<T> From<BinaryHeap<T>> for Vec<T>` just states "Performs the conversion" so I guess it shouldn't be considered a breaking change,

@matklad if you want to benchmark that you should probably remove those bound checks.

We should also consider removing branches from `sift_d

[2020-09-03 13:52] D1plo1d commented on #76220
Update: Copying and pasting the stdlib-relevant aspects of @spacejam's debugging results here:

So `SyncSender::send` can deadlock in it's destructor.

[2020-09-03 14:19] pnkfelix opened #76288 "Why didnt our test suite catch lldb breakage?"
I am posting this issue mostly as a reminder that we should investigate why our current test suite didn't seem to catch the breakage from #76006 on any of our CI platforms

[2020-09-03 14:34] RalfJung commented on #75763
@lcnr I think you are free to decide on your own invariant here -- assuming that two `str` are equal if and only if the underlying `[u8]` are equal, it's your call whether you want to allow non-UTF-8 `str` in types or not.

What is the plan for other library types? Like, imagine a user defined a newtype around `u8` that must be even. The compiler cannot even know that such an invariant exists so i

[2020-09-03 14:42] pnkfelix commented on #75791
discussed in T-compiler meeting. Assigning to @estebank to see if they can make progress on it over next week. Also nominating to ensure we circle back around to it next week if progress *isn't* made

[2020-09-03 14:47] spastorino commented on #74400
This is now a stable regression.

[2020-09-03 14:48] pnkfelix commented on #74400
Discussed in T-compiler meeting. Seems related to (or potential duplicate of) #75791 ?

[2020-09-03 14:49] spastorino commented on #75791
Is this one a stable regression now?, also is it the same as https://github.com/rust-lang/rust/issues/74400 ?

[2020-09-03 15:04] spastorino commented on #76247
@viktorchvatal @pcpthm do you know if an issue about this exist on LLVM? can you file one there maybe?.

[2020-09-03 15:04] Stzx commented on #62631
Is there any progress?

[2020-09-03 15:42] D1plo1d commented on #76220
Oops, I misread that. Appears the issue is in Sled after all. Closing this issue.

[2020-09-03 15:42] #76220 closed

[2020-09-03 16:10] lqd commented on #75791
yes that's on [stable now](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=949c55a051453a5d0934f0cfc18a91a9)

[2020-09-03 16:14] Aaron1011 commented on #76270
PR is up at https://github.com/rust-lang/rust/pull/76292

[2020-09-03 16:22] lcnr commented on #75763
:+1: yeah, see https://github.com/rust-lang/rust/issues/72396 for more details here I guess

One concern is that we probably want to print `str`s in `std::any::type_name` and in encodings, so we need to either deal with invalid utf there or forbid it entirely :thinking: Will have to keep that in mind before stabilizing `str` parameters.

[2020-09-03 16:25] RalfJung commented on #75763
Yeah, you could either use `from_utf8_lossy` (so any special treatment of `str` is confined to the printing code) or make `str` a very special compiler-understood type even for the type system itself. The former seems more principled to me but that is just a slight preference.

[2020-09-03 16:32] connorskees commented on #76277
@jbakker-atmind Could you share the `Cargo.toml` / dependency version numbers? I am not able to reproduce this with `cargo +nightly-2020-08-29 b`

`rustc +nightly-2020-08-29 --version --verbose`

[code]

Additionally, I found it necessary to modify the `maud` import to be `use maud::{html, Markup};`. Is this not the case for you?

[2020-09-03 17:08] lcnr commented on #75763
`from_utf8_lossy` won't work for symbol mangling, as otherwise two distinct types can have the same symbol: https://rust.godbolt.org/z/ox7f8W (current ICE is unrelated, as const generics is not yet fully supported there)

Printing invalid utf8 as bytes might be simpler there :thinking: I guess cc @eddyb about that

[2020-09-03 17:11] RalfJung commented on #75763
Oh, this is not just pretty-printing but needs to be injective?

Then I guess some `\i{...}` or so (for "invalid") would work.

[2020-09-03 17:30] guswynn commented on #75907
I may be interested in helping make this better (this definitely has bitten me before), but I am new to rustc, so I am asking zulip for implementation advice!

[2020-09-03 17:52] Amjad50 commented on #76280
Created a way to produce an error in case of incompatible features, like this one

[2020-09-03 18:04] #76190 closed

[2020-09-03 18:04] andrewbanchich opened #76294 "Add file owner to os::windows::fs::MetadataExt"
`os::unix::fs::MetadataExt` has [a uid method](https://doc.rust-lang.org/std/os/unix/fs/trait.MetadataExt.html#tymethod.uid) for getting the file owner, but there is no equivalent for `os::windows::fs::MetadataExt`.

It would be great to have this as an option.

[2020-09-03 18:08] jbakker-atmind commented on #76277
The code snippet above is an extract from a large project. I could have made a mistake during extraction. The snippet alone does not fail, only inside the context of the project.

The Cargo.toml
[code]

[2020-09-03 18:25] Nemo157 opened #76296 "--extern-html-root-url uses library names to identify dependencies, failing to handle multiple versions"
With this package that uses dependency renaming:

[code]

[code]

I tried to build documentation that can link to both of the upstream docs.rs documentation pages:

[code]

[code]

This failed to link to either of the non-inlined exports because it seems that `--extern-html-root-url` expects the library name instead, changing to use that:

[code]

[code]

This successfully added links on both, but

[2020-09-03 18:32] infinity0 commented on #76253
Since rust is a young language, I'd say that breaking some old incorrectly-written code is better than forcing all future as-yet-unwritten code to contain pointless workarounds like `try_into`.

[2020-09-03 19:00] spastorino commented on #75899
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-09-03.20.2354818/near/208979165) removing nomination. @eddyb please feel free to keep the discussion going on Zulip or even re-nominating it if you consider a re-discussion important.

[2020-09-03 19:01] spastorino commented on #76247
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-09-03.20.2354818/near/208980501) removing nomination.

[2020-09-03 19:37] alepauly commented on #71988
We'll look at it on our end, we expect this to be better but not fully solved yet. Thanks for the report.

[2020-09-03 20:04] ollie27 opened #76298 "`#![doc(alias = "...")]` is ignored as a crate level attribute"
Either the alias should show up the search results like aliases on other things or it should be disallowed.

[2020-09-03 20:05] ollie27 commented on #50146
Sorry for the delay.

@rfcbot resolve use-cases

seems reasonable

@rfcbot resolve naming

I can't think of a better name.

@rfcbot resolve associated-items

Fixed by #71724

@rfcbot resolve invalid-forms

This is mostly done, only #75888 to go.

---

There is still a weird `.replace("\"", "")` that needs to be removed or a reason for it needs to be found: https://github.com/rust-lang/rust/blob/3e

[2020-09-03 20:08] GuillaumeGomez commented on #76298
I'll fix it tomorrow.

[2020-09-03 20:13] sarvi opened #76300 "Seems like the bug is with $:block macro expansion"
I tried this code:
the problem is tracked in the paste crate here, but the paste deveoper thinks it is a bug in rustc
https://github.com/dtolnay/paste/issues/50

This fails to compile. It uses the paste crate for symbol expansion inside macros
[code]
Erroring out as
[code]

This compiles fine, without using paste, The only difference is the use of the paste! macro which does symbol expansion, thou

[2020-09-03 20:19] lqd commented on #75791
and to answer the question: both are indeed duplicates of each other, they are higher-ranked subtype errors involving placeholder regions. NLL's nice region error reporting code doesn't kick in because [it handles TraitRefs](https://github.com/rust-lang/rust/blob/3edf11cf811707cde49b30a80896c24189649d95/compiler/rustc_infer/src/infer/error_reporting/nice_region_error/placeholder_error.rs#L30-L48)

[2020-09-03 20:24] HactarCE commented on #58554
I'm new to the rustc codebase, but it seems like something akin to this could work:
[code]
This should still include the `S::fmt` call in @programmerjake's example.

[2020-09-03 20:47] DutchGhost commented on #76280
I have one question, how does using 'incompatible feature' cause _maybe_ undefined behavior?

Are there other incompatible features?

In this case, wouldn't it be better to produce an error message like "feature(const_generics) is a superset of feature(min_const_generics)"?

[2020-09-03 20:49] ehuss commented on #58554
@HactarCE Have you tried the latest beta?  `RUST_BACKTRACE=1` has been significantly shortened (via #75048).  I believe this issue may be resolved.

[2020-09-03 20:50] workingjubilee commented on #75704
I think that could still be easier than recursively updating the community dependencies of `jsonrpc-*` in RLS. RLS is being moved off-of, and I wouldn't want to break it while it is still technically the main RLS, but those libraries are dated enough that writing a few extra lines for doing the IPC in a direct blocking fashion and simplifying RLS's overall dep state could be much better. This is b

[2020-09-03 20:54] Nemo157 commented on #76296
An idea for supporting all dependencies, we could run a first `cargo check --message-format=json` and extract all the `.rmeta` filenames for all crates built, then pass flags using those as the key instead

[code]

[2020-09-03 21:02] scottmcm commented on #75744
Congrats on your first core libraries PR, @NoraCodes!

Want to take on the generic parameter reordering (that morse brought up in https://github.com/rust-lang/rust/pull/76204#discussion_r481357223) next?

[2020-09-03 21:20] #38386 closed

[2020-09-03 21:20] #48332 closed

[2020-09-03 21:20] #49430 closed

[2020-09-03 21:20] #62741 closed

[2020-09-03 21:20] #73474 closed

[2020-09-03 21:35] nagisa commented on #64340
As per https://github.com/rust-lang/rust/issues/65610 you are required to annotate the extern blocks with `#[link(name=...)]` of the originating library to get correct behaviour.

[2020-09-03 21:50] haraldh commented on #66741
Anybody already working on this, or is it worth starting a new PR?

[2020-09-03 22:07] NoraCodes commented on #75744
Thanks @scottmcm! I definitely do want to do that. I'll put in a PR either this weekend or Tuesday.

[2020-09-03 22:45] tmandry commented on #76020
Can you provide more details about how you're building Rust? Are you using out-of-tree LLVM?

[2020-09-03 23:38] the8472 commented on #76279
Is that before or after [the usual tricks](https://github.com/johnthagen/min-sized-rust)?

[2020-09-03 23:51] toplinuxsir commented on #76266
@jonas-schievink

rust link the ffi C++ lib  ( mylib.so ) , It's function name is mangled ,for example , function  USB5622E_AI_SendSoftTrig   name mangled to _Z24USB5622E_AI_SendSoftTrigPv , rustc use gcc to link the lib , But if I use g++ link  no error.

[2020-09-04 00:51] CDirkx commented on #76280
Note that:

[code]

results in a [compile error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=223ce61924e1a2df6825fee6ae0125ee):

[code]

So currently `const_generics` is _not_ a superset of `min_const_generics`.

[2020-09-04 01:11] tmandry commented on #64496
Bisected the issue on Fuchsia to #75443, which was backported to appear in 1.46 and is likely the cause for all the recent regressions people are noticing.

cc @lcnr @nikomatsakis

[2020-09-04 01:11] estebank commented on #75791
I can get the following output:

[code]

But I feel it is not yet ideal.

[2020-09-04 01:15] lzutao commented on #76253
Could we land the renaming and revert it back to get a working compiler for testing ?

[2020-09-04 01:17] Amanieu commented on #66741
I don't think anyone has started working on this yet. You can claim the issue by following [these instructions](https://github.com/rust-lang/triagebot/wiki/Assignment).

[2020-09-04 02:08] tmandry commented on #64496
As noted above, @eddyb [has said](https://www.reddit.com/r/rust/comments/iingya/compiler_regression_on_1460/g38281x/?utm_source=reddit&utm_medium=web2x&context=3) we should just get rid of this check. @nikomatsakis I'm curious to hear your thoughts on that.

For reference, here's [a change](https://fuchsia-review.googlesource.com/c/fuchsia/+/421822/4) to raise all the limits we needed to in Fuchsi

[2020-09-04 02:35] lzutao commented on #60302
I am doing core::slice splitting.

[2020-09-04 03:33] caass commented on #27709
Hey so I think PR #76098 covers this stuff but I'm not sure? It's basically just an extension of #66584.

[2020-09-04 04:23] clouds56 commented on #42327
No, I don't want to `impl From<T> for FalseError`, maybe we could do `result.ok()?`

I think it somehow natural when we have [`bool::then`](https://doc.rust-lang.org/std/primitive.bool.html#method.then) that map `true` to `Some`.

[2020-09-04 04:47] Aaron1011 commented on #76300
I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/75800

[2020-09-04 04:49] HactarCE commented on #58554
@ehuss Yep, just switched to `nightly` and everything before `begin_panic` is excluded. :) Should this issue be closed?

[2020-09-04 05:17] djc commented on #64496
Can we close either this or #54540, please? It looks like a bunch of work was done here that was already done for the other one. Should just close one of them to prevent further bifurcation.

[2020-09-04 05:33] KodrAus opened #76314 "Tracking Issue for atomic_from_mut"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/76314)*

Feature gate: `#![feature(atomic_from_mut)]`

### Public API

[code]

Each one is gated on `#[cfg(target_has_atomic_equal_alignment = "..")]` and is only available on platforms where `Atomic<size>` has the same alignment as `u<size>`.

### Steps / History

- [x] Implementation: #74532
- [x] #92671

[2020-09-04 05:59] DutchGhost commented on #76280
You are missing a `!` in your feature. I still think const_generics are a superset of min_const_generics, _but_ rustc just suggest using the smaller one in this case becouse that's the subset aiming to be stabilized for now

[2020-09-04 06:36] runiq commented on #43466
Triage: https://github.com/rust-lang/rust/pull/74489 has been merged, so its mark can be checked, I believe?

[2020-09-04 07:21] lzutao commented on #60302
Hi @alex-griffiths, Would you mind if I take care of `core::str` part ?

[2020-09-04 07:42] Keruspe commented on #76020
I package rust for Exherbo (source-based) and I build it using its package manager.
For stable rust, we use the system llvm by default indeed

[2020-09-04 07:45] siddharthzs commented on #75430
I would like to take this up.

[2020-09-04 07:55] lqd commented on #75791
Is there enough information at this point of type-checking to output either previous errors (or both ? the E0631 seems more user-friendly, but these spans look more like the previous E0271), so that even if the message doesn't improve it at least doesn't regress anymore ?

Maybe having the previous signatures would be clearer ?
[code]

I wonder how we should explain these kinds of errors, maybe li

[2020-09-04 09:06] RalfJung commented on #76268
This will improve compile times, as well as make it easier to find the code corresponding to a failing test.

This will also help https://travis-ci.org/RalfJung/miri-test-libstd/ which only runs unit tests, not UI tests. So, we'll have better Miri libstd test coverage.  :)

[2020-09-04 09:16] leonardo-m opened #76321 "[ER] Suggest usage of .try_into().unwrap() for desired slices => array"
This is an Enhancement Request. This wrong code:

[code]

With rustc (1.48.0-nightly 0d0f6b113 2020-09-03) gives:

[code]

To encourage the usage of arrays I suggest to add a note (similar to the one given for numbers) that suggests to use ".try_into().unwrap()" leading the programmer to write code like this:

[code]

(There is also the possibility to write code as `<[u32; 2]>::try_from(&a[1 ..]).

[2020-09-04 09:18] leonardo-m commented on #76321
rustc is able to remove that unwrap:

[code]

[2020-09-04 09:20] RalfJung commented on #66219
I did `maybe_uninit.rs` as part of https://github.com/rust-lang/rust/pull/76217, not realizing that this was still an ongoing effort.^^ I checked the box above.

[2020-09-04 09:33] neeldug commented on #69210
Hi! Just wondering if there could be an implementation to remove an element from a linked list using a reference to the element for faster removal times?

[2020-09-04 10:15] Dengjianping opened #76323 "Calling line!() in a macro doesn't show the real line number"
I tried to call line!() in a macro, but it doesn't show the real location where line!() is called.

[code]
Just print **8** instead of **3**.

Is this expected or just a duplicated issue, someone reported it already?

Here's the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8daa395be2829e938f1383a3217ed7be)

[2020-09-04 10:17] jonas-schievink commented on #76323
This is expected behavior: `line!()` is expanded after `line_num!()`.

[2020-09-04 10:17] #76323 closed

[2020-09-04 12:12] jyn514 commented on #60302
@lzutao maybe do `core::num` first since alex is in the middle of splitting `core::str`

[2020-09-04 12:16] lzutao commented on #60302
Yeah, he also did `alloc/vec.rs` in #75701 . But he seems to having trouble in splitting `core/str.rs`.
I would like to help him a hand.

[2020-09-04 12:30] lzutao commented on #60302
I'm doing core::num.

[2020-09-04 12:38] jyn514 commented on #75430
@siddharthzs this is not trivial to fix ... but if you want to help it would be great to find out when the error first started happening (or if it's always been a bug). There's instructions for bisecting search regressions in https://github.com/rust-lang/rust/issues/74780.

[2020-09-04 13:02] woshilapin commented on #55813
As I was browsing issues (what a nice hobby!) looking for something else, I went through another issue #26309 that might be related. I'm just pointing to it, it might help to whoever is gonna work on this.

[2020-09-04 13:04] woshilapin commented on #45724
Looks like a duplicate of #26309.

[2020-09-04 15:15] NovaDenizen commented on #65822
This is still an issue.  #53224 has been closed.  1-48-0-nightly still produces no warnings or errors.

[2020-09-04 15:20] Aaron1011 commented on #76070
There was some confusion in the Crater runs for https://github.com/rust-lang/rust/pull/73084 prior to merge.

I wrote an initial backwards-compatibility hack, made a `try` build, and started a Crater run, which showed that both of the targeted regressions (`time-macros-impl` and `js-sys`) were fixed. I then modified the backwards-compatibility hack to use filenames from spans, and a Crater run was

[2020-09-04 15:21] lzutao commented on #65822
Here: https://github.com/rust-lang/rust/pull/75573

[2020-09-04 15:45] AlexKornitzer commented on #64340
@nagisa understood, but as these files are the output of `bindgen` does that mean it needs to change how it outputs extern blocks, as noted above?

[2020-09-04 16:24] CDirkx commented on #76280
Ah of course, my bad 😅

I was confused looking at some ui tests for const generics, and missed that those now have support differentiating between expected behavior under `const_generics` and `min_const_generics`, and thought a particular error was always being thrown, instead of only under `min_const_generics`.

[2020-09-04 16:37] BijanT commented on #69210
That's a good idea, but I don't think it's possible with the way the LinkedList struct is set up.
LinkedList<T> is defined as:
[code]
With just a reference to the element alone, you would not have access to the `next` and `prev` references, so you wouldn't be able to remove it from the list in constant time. You could do it if you had a reference to the `Node<T>` of the element you want to remove,

[2020-09-04 16:39] joshtriplett commented on #72274
Would this make it easier to decide at build time whether to statically or dynamically link libc, for targets that currently always dynamically link libc?

[2020-09-04 16:57] petrochenkov commented on #72274
@joshtriplett
I don't think so?
This issue applies to two specific groups of targets, and both of them can currently link libc statically.

[2020-09-04 17:36] neeldug commented on #69210
Right I understand you now, but surely making `Node<T>` public wouldn't be too much of an issue if it provides with such a huge speedup in removal times. Like for instance, when creating any cache using a linked list, surely having O(1) would outweigh the API clutter, having access to nodes seems necessary in my opinion.

[2020-09-04 18:01] infinity0 opened #76333 "1.47 beta cross-compiling broken: tries to run the reverse cross-compile"
config.toml:

[code]

build log tail:

[code]

That line `Building stage1 std artifacts (armv5te-unknown-linux-gnueabi -> x86_64-unknown-linux-gnu)` does not look like it should be there.

[2020-09-04 18:07] Mark-Simulacrum commented on #76333
Can you gist the full log somewhere? It should have enough information to know what caused this.

[2020-09-04 18:12] infinity0 commented on #76333
@Mark-Simulacrum thanks for taking a look, it's here, 4MB: https://gist.github.com/infinity0/f0100323593bfc86247c7d8f86a1a3e9

[2020-09-04 18:41] ketsuban opened #76336 "Is rustc missing an optimisation in this short code sample?"
Here are two samples of source code - a [Rust sample](https://rust.godbolt.org/z/7er15d) compiled with Rust 1.46.0 using the `thumbv4m-none-eabi` target, and a [C sample](https://godbolt.org/z/nPqGaP) compiled using clang 10.0.0. (The results are identical using Rust nightly and clang trunk.) They are as far as I can tell functionally identical.
[code]
[code]
However, Rust is one instruction slowe