[2017-05-04 10:44] kennytm commented on #41744
The error comes from the `test_bit_0` and `test_bit_1` in `src/types/mod.rs`.

[2017-05-04 11:04] steveklabnik commented on #29370
@mgattozzi done, thank you for the reminder!

[2017-05-04 11:06] steffengy commented on #41744
That was fast.

Just to add a bit of context:

`test_bit_0` and `test_bit_1` are tests that ensure that different types work
when passed as query parameters.

The difference between `test_bit_0` and `test_i8` is only in
what the following two traits return for a specific value
(`test_bit_0` tests for `bool` [more specific for false], `test_i8` for `i8`, ...):
[code]

`ColumnData` is an enum of sev

[2017-05-04 11:29] petrochenkov commented on #41740
This issue is not related to struct constructors in general, it's related to what `path` matcher accepts in macros.
Minimal example:
[code]

There are two flavors of paths (syntactically) - with disambiguating "turbofish" (`a::<b>`) and without it (`a<b>`). `::` is required in expressions for disambiguation, but in other contexts it's not necessary and should probably just be optional, but is curr

[2017-05-04 11:38] sunjay commented on #33417
Regarding "This enum is slightly awkward: it will never actually exist."

Is there a reason why the error type couldn't just be unit? Why bother with the unique ParseError struct if the conversation can never error?

[2017-05-04 11:52] Mark-Simulacrum commented on #33506
Go ahead! Let us know what we can do to help you. You can reach out either here or on IRC (`#rustc` on irc.mozilla.org).

[2017-05-04 11:56] Mark-Simulacrum commented on #22694
...No. This is what comes of trying to triage issues while nearly asleep.

[2017-05-04 12:01] petrochenkov commented on #34303
@mikeyhew
This is a good issue to start working on the compiler frontend.
You may want to start with taking [@sgrif's patch](https://github.com/rust-lang/rust/pull/33135) and rebasing it on the current master, and then making sure the tests pass.
Then you'll have to add a feature gate for `lifetime` matcher and some docs (unstable book section) (see https://github.com/rust-lang/rust/pull/41012/com

[2017-05-04 12:03] Mark-Simulacrum commented on #33871
We now generate this error, which to me is still largely incomprehensible. This is better, though; @mbrubeck Could you provide the "ideal" error message so we can either implement that or as close as possible?

[code]

[2017-05-04 12:05] Mark-Simulacrum commented on #26615
As noted above, non-nested macro invocations are now fixed, and those are tracked separately (#33871). Closing.

[2017-05-04 12:05] #26615 closed

[2017-05-04 12:15] Mark-Simulacrum commented on #23524
Changing the code to not use unsized enums which currently aren't supported fixes this ICE. Since this no longer ICE's, I'm going to close.

[code]

[code]

[2017-05-04 12:15] #23524 closed

[2017-05-04 12:16] Mark-Simulacrum commented on #26406
No longer ICEs:

[code]

[2017-05-04 12:16] #26406 closed

[2017-05-04 12:27] Mark-Simulacrum commented on #33764
This has since been fixed, closing.

[2017-05-04 12:27] #33764 closed

[2017-05-04 12:30] Mark-Simulacrum commented on #33923
I don't know how to triage this since I don't really understand assembly, but this is what we get today: https://gist.github.com/Mark-Simulacrum/c1e2b1b651ed7c99a8257ee3f8b52fac.

[2017-05-04 12:34] Mark-Simulacrum commented on #23950
I'm going to close, since the diagnostic appears to be fine today: it provides the type that isn't implementing `Send`. Please reopen if you disagree.

[code]

[2017-05-04 12:34] #23950 closed

[2017-05-04 12:36] Mark-Simulacrum commented on #33969
Is there a chance you could attempt to reproduce today and check if this is still a problem?

[2017-05-04 12:38] Mark-Simulacrum commented on #10732
Could someone take a look at this issue and decide whether this is still the case? I believe I saw a few PRs somewhat recently that may have related to this, but I'm uncertain...

[2017-05-04 12:39] Mark-Simulacrum commented on #21821
Without more information, including unreadable gists, and the age of this issue, I'm going to close--but if someone with access to a chrooted Arch environment tests and finds this is still a problem, we'd be happy to reopen.

[2017-05-04 12:39] #21821 closed

[2017-05-04 12:43] Mark-Simulacrum commented on #30706
We now install `rust-gdb` and `rust-lldb` on macOS.

[2017-05-04 12:43] #30706 closed

[2017-05-04 12:47] Mark-Simulacrum commented on #24099
What is intended to happen here? As far as I know, the print on panic behavior isn't really possible to change, though we do have features that are either stabilized or on track that solve this (e.g., `panic::set_hook`). Perhaps the right thing to do is to close, then? If people want this behavior (no printing), they should use a custom hook.

[2017-05-04 12:50] Mark-Simulacrum commented on #29658
@michaelwoerister Do you know if this has been fixed?

[2017-05-04 13:02] Mark-Simulacrum commented on #21487
I believe this is no longer an issue on the LLVM side, and while we can certainly do more optimizations in rustc, there is nothing concrete that could be done to fix this, so I'm going to close this.

[2017-05-04 13:02] #21487 closed

[2017-05-04 13:12] kennytm commented on #41744
Reduced test case:

[code]

(`Tc` is the `ToSql` or `ToColumnData` trait in the real code).

[2017-05-04 13:20] kennytm commented on #41744
LLDB Stack trace:

[code]

[2017-05-04 14:02] pmarcelll commented on #41732
`racer` also uses `syntex`, so it might be important for `rls`.

[2017-05-04 14:06] michaelwoerister commented on #29658
I don't really know what the state of GDB on Windows is these days. @brson would know more about what we distribute on which platforms. My statement from before is still true: I have no problem with distributing the python scripts on Windows and someone would need to test if the `.debug_gdb_scripts` section causes problems. But I also still think that GDB should not be considered a tier 1 tool on

[2017-05-04 14:12] kennytm commented on #41744
**Can't repro on the master version.**

Probably already fixed. I suggest you wait for tomorrow's nightly.

[2017-05-04 14:25] mgattozzi commented on #29370
@steveklabnik ChildStdin and ChildStdout PR was merged so we can check that off as well!

[2017-05-04 14:33] burdges commented on #27969
Just ran into this.  It feels inconsistent with `Struct::<T>::method()`.  If its painful to fix, then maybe the error message could explain where the type parameters should go.

[2017-05-04 14:42] nateozem opened #41748 "AttributeError: 'NoneType' object has no attribute 'pretty_printers'"
I'll get the following error when trying to source 'gdb_load_rust_pretty_printers.py' file from within `gdb`

	$ sudo rust-gdb
	GNU gdb (GDB) 7.12.1
	Copyright (C) 2017 Free Software Foundation, Inc.
	License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
	This is free software: you are free to change and redistribute it.
	There is NO WARRANTY, to the extent permitted by law

[2017-05-04 14:56] rap2hpoutre commented on #29378
Ok so I still need some mentoring! Here is a (working) example I quickly wrote for `std::thread::Result`.

[code]

I think (but not sure) this example could help because type is explicit, so the user know what he can do with this `std::thread::Result`.

@steveklabnik asked:

But I'm not sure to understand what does "use std::thread; thread::Result" means. I read an other example in std on `io::Res

[2017-05-04 15:07] steveklabnik commented on #29378
It's what you wrote, specifically

[code]

that is, you use this style instead of `use std::thread::Result;` which would be more conventional generally speaking. The reason why is so you don't shadow `std::result::Result` from the prelude.

I think this example is _okay_, but we might be able to make it better! What about a function that does the spawn and join, and returns the result? then, you w

[2017-05-04 15:12] nikomatsakis commented on #10184
OK, I've just re-read this whole conversation. I think there is agreement that this operation should not panic (for general consistency with `as`). There are two leading contenders for what the behavior ought to be:

- Some sort of **defined result**
    - Pro: This I think is **maximally consistent** with our general philosophy thus far.
    - Con: There doesn't seem to be a truly portable way to

[2017-05-04 15:18] nikomatsakis commented on #10184
After having written that out, my preference would be to maintain a deterministic result. I feel like every place that we can hold the line on determinism is a win. I am not really sure *what* the result ought to be though.

I like saturation because I can understand it and it seems useful, but it seems somehow incongruent with the way that `u64 as u32` does truncation. So perhaps some sort of res

[2017-05-04 15:26] Yamakaky commented on #33969
Well, `bindgen_plugin` development was stopped and removed, so I think we can close this issue.

[2017-05-04 15:28] #33969 closed

[2017-05-04 15:41] oli-obk commented on #10184
My code gives the correct value for things in the range 0..2^64 and deterministic but bogus values for everything else.

floats are represented by mantissa ^ exponent, e.g. `1.0` is `(2 << 52) ^ -52` and since bitshifts and exponents are the same thing in binary, we can just reverse the shift (thus the negation of the exponent and the right shift).

[2017-05-04 15:50] rap2hpoutre commented on #29378
Okay, I think you mean:

[code]

But...

From there I'm a bit lost: my example has _still_ no sense (what's that `spawn_and_join` function and why?), but I don't know how to create something with sense in a few lines. Maybe I should call something that _could_ panic? Something like:

[code]

But it's a "not real" example too. Should I give up?

[2017-05-04 15:56] jorendorff commented on #10184
+1 for determinism.

I see two semantics that make good sense for humans, and I think we should pick whichever one is faster **for values that are in range, when the compiler can't optimize away any of the computation**. (When the compiler knows that a value is in range, both optimizations give the same results, so they are equally optimize-able.)

* Saturation (out-of-range values become `IntType

[2017-05-04 15:57] TimNN commented on #41744
Still fails on master for me, did you build with LLVM Assertions, @kennytm?

[2017-05-04 16:01] est31 commented on #31847
See also issue https://github.com/rust-lang/rust/issues/41743 .

[2017-05-04 16:01] kennytm commented on #41744
@TimNN Ah `llvm.assertions = false` by default. So right it is likely still not fixed. Sorry.

[2017-05-04 16:02] jorendorff commented on #10184
@oli-obk What about signed integer types?

[2017-05-04 16:04] brson commented on #40966
@rust-lang/lang says this is a bugfix.

[2017-05-04 16:04] #40966 closed

[2017-05-04 16:06] brson commented on #36799
Thanks for reopening @urschrei. Vexing problem.

[2017-05-04 16:08] nikomatsakis commented on #31260
It seems like @eddyb implemented a **partial** fix in #40398 but suggests that there are backwards incompatibility issues to be considered that preventing him from going further. I'm not quite sure what he had in mind there, perhaps he can elaborate.

[2017-05-04 16:09] brson commented on #41270
Next step here is to update the documentation for both PartialOrd and Ord to indicate that the two must agree on the ordering of any types they are implemented on.

[2017-05-04 16:10] nikomatsakis commented on #36799
Seems like we didn't take any action to reduce the sizes of various MIR constructs, is that correct?

[2017-05-04 16:11] brson commented on #41696
cc @michaelwoerister

[2017-05-04 16:11] nikomatsakis commented on #41696
Presumably this problem could also be triggered by using a larger number of codegen-units (instead of incremental), right?

[2017-05-04 16:19] brson commented on #41727
XIB = "expected impl breakage"

[2017-05-04 16:20] nikomatsakis commented on #41727
triage: P-high

We have to figure out the real cause here. Will investigate.

[2017-05-04 16:21] brson commented on #41685
Needs verification after llvm backport lands.

[2017-05-04 16:23] nikomatsakis commented on #41727
Based on a quick inspection of the code, I would guess that this is fallout from my PR <https://github.com/rust-lang/rust/pull/40570>.

[2017-05-04 16:25] NikVolf opened #41750 "ERROR_ON_UNDEFINED_SYMBOLS=1 always passed for emcc effectively prevents any dynamic linking"
the following rust code is failing to compile using wasm32-unknown-emscripten target

[code]

with
[code]

correct me if I'm wrong, I might be terrible wrong with this, but `#[link]` without `kind=static` implies dynamic linking, and the above code should not fail to compile?

As for emscripten itself, it has no problem compiling C code like this:
[code]

with `emcc <source above.c> -O3 -s WASM=1

[2017-05-04 16:39] alexcrichton commented on #31847
All major stakeholders have checked in with checkboxes above, and this was re-reviewed during tools triage yesterday, and I've now opened a PR: https://github.com/rust-lang/rust/pull/41751

[2017-05-04 16:40] nikomatsakis commented on #28126
We discussed this back when feature-gate system was being first put into place. The decision was that it was better to have advance notice of upcoming method-name conflicts, and hence we decided not to alter the behavior. (In some cases, when the resulting problems are widespread, we have rolled back changes or renamed methods as a result, as well.) Therefore, I'm going to close this issue. Thanks

[2017-05-04 16:40] #28126 closed

[2017-05-04 16:41] brson commented on #28072
Updated example:

[code]

doesn't seem to repro

[2017-05-04 16:43] brson commented on #28072
cc @jseyfried just seeing if this is interesting to you, or you know how to fix it.

[2017-05-04 16:44] brson commented on #29944
Still repros.

[2017-05-04 16:46] brson commented on #29981
Currently generates an error

[code]

[2017-05-04 16:48] brson commented on #23481
Current error

[code]

[2017-05-04 16:49] alexcrichton commented on #37406
This was discussed at tools triage recently and the decision was to go ahead and stabilize `-C target-feature=+crt-static`, but we will avoid stabilizing `#[cfg]` accessors as that's connected [elsewhere](https://github.com/rust-lang/rust/issues/29717)

[2017-05-04 16:49] nikomatsakis commented on #29981
I think this is effectively a dup -- or at least a variant of -- https://github.com/rust-lang/rust/issues/20671. The problem, I believe, is that the trait checker doesn't "elaboate" the requirement that `type Assocated: Trait` into the requirement that `Output` will be sized as well.

[2017-05-04 16:54] brson commented on #28544
Seems like a worthy idea. Let's see if the tools team wants to consider it.

[2017-05-04 16:55] brson commented on #29126
Is this fixed upstream yet? Can we close? cc @retep998

[2017-05-04 16:56] nagisa commented on #28544
The name can be printed “before” status (in time, not space) by using some escape sequence tricks to reset the cursor to the original position (i.e. in the similar manner progress bars are implemented)

[2017-05-04 16:57] brson commented on #13733
Assuming this is still a problem. Any updates?

[2017-05-04 16:59] TimNN commented on #41744
Introduced in the rollup #41717 which leads me to highly suspect #41625 (cc @nikomatsakis).

[2017-05-04 16:59] nagisa commented on #29877
Downside is that not every alternative linker out there might support the flags.

[2017-05-04 17:00] brson commented on #29877
@alexcrichton do recall if we've done anything here? I don't see 'relro' in the source.

[2017-05-04 17:11] eseraygun opened #41753 "core::num::dec2flt interprets the rounding mode incorrectly for negative numbers"
`core::num::dec2flt` interprets the floating-point rounding mode incorrectly for negative numbers. The assumption in the implementation that negative numbers can be handled by just flipping the sign bit is wrong in the general case.

## Observed Behavior

`core::num::dec2flt` rounds negative numbers upwards when the rounding mode is set to downwards and vice versa.

Here is the code that demonstra

[2017-05-04 17:19] alexcrichton commented on #29877
er didn't mean to close

[2017-05-04 17:20] cuviper commented on #29877
FWIW, I also apply `-Clink-arg=-Wl,-z,relro,-z,now` in Fedora.

[2017-05-04 17:30] jonas-schievink commented on #41753
`fesetround` is likely causing undefined behaviour since LLVM [doesn't support it](https://bugs.llvm.org//show_bug.cgi?id=8100) (causing misoptimizations)

[2017-05-04 17:40] retep998 commented on #29126
Yes, LLD fixed this.

[2017-05-04 17:40] #29126 closed

[2017-05-04 17:43] durka commented on #31847
Removing `--pretty` also breaks `cargo expand`.

[2017-05-04 17:59] Mark-Simulacrum commented on #33984
I don't have a MSVC environment to test this on. Could someone check if this has been fixed?

[2017-05-04 18:00] eseraygun commented on #41753
I get the same output when the optimizations are off and the strings are `black_box`ed.

It can still be said that the result of `core::num::dec2flt` is undefined when `fesetround` is used. However, that's only because of the aforementioned assumption about negative numbers. I believe a rounding mode agnostic implementation should not be much harder than the existing one: Just do subtractions inst

[2017-05-04 18:00] Mark-Simulacrum commented on #34024
All three forms now compile, so I'm going to close.

[2017-05-04 18:01] Mark-Simulacrum commented on #24066
The example in the issue description now compiles. Closing.

[2017-05-04 18:02] Mark-Simulacrum commented on #34024
Not again, I tested in the wrong directory. Re-opening....

[2017-05-04 18:02] Mark-Simulacrum commented on #24066
Not again, I tested in the wrong directory. Re-opening....

[2017-05-04 18:04] Mark-Simulacrum commented on #34024
I'm going to close this in favor of #24066. That contains the same problem (masking other impls with a where clause).

[2017-05-04 18:04] #34024 closed

[2017-05-04 18:05] alexcrichton commented on #31847
@durka we've spent the last year printing that this is going to become an error. `cargo expand` will still work on nightly, as is expected.

[2017-05-04 18:07] Mark-Simulacrum commented on #38071
Can someone confirm that this is #24066? I think it is, since it's masking other impls, but I'm uncertain.

[2017-05-04 18:09] Mark-Simulacrum commented on #38308
Closing in favor of #38071, which may be a duplicate of #24066, but since we're uncertain not closing both--these two issues (this and #38071) are highly likely to be identical, though.

[2017-05-04 18:09] #38308 closed

[2017-05-04 18:18] Mark-Simulacrum commented on #34008
This has been fixed. Closing.

[2017-05-04 18:18] #34008 closed

[2017-05-04 18:23] jseyfried commented on #28072
This is a known limitation of `macro_rules!` -- only local variables (and labels) are hygienic, not items (including paths). As @nrc [mentioned](https://github.com/rust-lang/rust/issues/28072#issuecomment-154876112), this would be a breaking change to fix.

This is fixed in [declarative macros 2.0](https://github.com/rust-lang/rust/pull/40847) (it will "just work"), see [this test case](https://gi

[2017-05-04 18:27] michaelwoerister commented on #41696
I don't quite understand how incremental compilation or the number of codegen units could interact with landing pad generation.

[2017-05-04 18:28] arielb1 commented on #41696
Yeah

[2017-05-04 18:30] TimNN commented on #41744
The problem appears to be that in https://github.com/rust-lang/rust/blob/master/src/librustc_trans/mir/constant.rs#L419 `ConstantExpr::getTrunc` is called with a bool constant and bool type as an argument, which causes the assertion because `1 > 1` is obviously false.

I don't know enough about that part of the compiler / LLVM to decide what the fix here should be.

[2017-05-04 18:31] arielb1 commented on #41696
No codegen-units needed:

[code]

[2017-05-04 18:32] Mark-Simulacrum commented on #33031
This no longer ICEs.

[2017-05-04 18:32] #33031 closed

[2017-05-04 18:33] Mark-Simulacrum commented on #34281
Closing as duplicate (and #33031 is also closed now).

[2017-05-04 18:33] #34281 closed

[2017-05-04 18:34] arielb1 commented on #31260
Making sure we remember to look at this.

[2017-05-04 18:57] llogiq commented on #40921
Good idea – warning on lints has some precedent in stable, and the clippy plugin could be loaded on demand.

[2017-05-04 19:03] Gankro commented on #29944
I suggest closing this as "wont fix", honestly.

[2017-05-04 19:07] rkruppe commented on #29944
One thing someone could do with little effort is replacing `PI / 180` with the correctly rounded constant, which would hopefully improve accuracy slightly in some cases. Other than that, I agree with WONTFIX.

[2017-05-04 19:14] eddyb commented on #31260
@nikomatsakis What I did is I computed a "light hint" (which becomes "strong hint", i.e. forcing coercion, if it reaches a block, and it's enough to help integer inference for #40355).

This is a common problem with coercion hints, in that unless there's enough type information to prevent them from triggering, they *will* trigger early even if that breaks later.

The thing to try here is to replac

[2017-05-04 19:25] nikomatsakis commented on #31260
@eddyb ok, I was mostly wondering if you encountered actual regressions in practice, or just theorize that this might lead to problems.

[2017-05-04 19:30] eddyb commented on #31260
@nikomatsakis I don't think I got the chance to do a crater run and then I lost track of it.

[2017-05-04 19:30] nikomatsakis commented on #41744
Off-hand, I see no reason that #41625 would be "at fault" here, or would even change the MIR being generated, but I guess I can't rule that out. It might also have just exposed an underlying problem, I'm not sure. Certainly it looks like the most suspicious member of #41717

[2017-05-04 19:35] nikomatsakis commented on #40902
Some thoughts I had:

- We should be publishing the crate docs somewhere "official" (many thanks to @Manishearth for filling the gap)
- We should generate a list of all types in the compiler, sorted by how often they are used, and make sure that the top N have doc comments and useful explanations

[2017-05-04 19:36] TimNN commented on #41744
Here is the diff of `--emit=mir -Zno-trans`: https://gist.github.com/TimNN/0bf68095617926e0046fa7e5205e5c5e

[2017-05-04 19:44] Manishearth commented on #40902
Please please please official internals docs 😄

[2017-05-04 19:49] nvzqz commented on #35428
I'm very much in favor of a separate `IsEmpty` trait as described by @bluss.

One solid use case of `is_empty()` is in a chess engine. They commonly use a `Bitboard` type that can be implemented as an exact size iterator of 64 bits that map to squares. `len()` would be implemented via `count_ones()` on a `u64`. However, `is_empty()` can be made faster by simply checking if the internal `u64` is ze

[2017-05-04 19:53] TimNN commented on #41744
Ah, so with `-Zmir-opt-level=0`, the assertion also occurs before #41625 (and also (long) before the LLVM 4.0 upgrade).

[2017-05-04 19:56] nikomatsakis commented on #39817
One problem I had trying to use this feature was the type inference for the expected type of arguments doesn't work. For example, this code does not compile <https://is.gd/FNoLWg>:

[code]

[2017-05-04 19:57] nikomatsakis opened #41755 "expected types of closure arguments are not inferred when coercing to a `fn`"
Type inference for the expected type of arguments doesn't work when coercing from a closure expression. For example, this code does not compile <https://is.gd/FNoLWg> (at least, not without an explicit `x: Vec<u32>` annotation):

[code]

[2017-05-04 19:57] scottmcm commented on #33417
@sunjay `()` is the type system representation of "this can happen, but there's nothing interesting to tell you when it does".  Uninhabited types (like `!` and `std::string::ParseError`) are the opposite, the way the type system says "this situation *cannot* happen ever, so you don't need to deal with it."

[2017-05-04 19:59] nikomatsakis commented on #41755
Some brief mentoring instructions to fix this:

The expected type for closure arguments are deduced using various bits of code in `src/librustc_typeck/check/closure.rs`. In particular, the function `deduce_expectations_from_expected_type()` examines the expected type (which will be `fn(Vec<u32>) -> usize` in this case). Right now, it only works for trait objects like `&Fn()`. It needs to be extend

[2017-05-04 20:01] TimNN commented on #41744
With `-Zmir-opt-level=0` this was introduced between `nightly-2017-01-08` and `nightly-2017-01-12` ([Changes](https://github.com/rust-lang/rust/compare/47c8d9fdc...2782e8f8f)).

[2017-05-04 20:07] aturon opened #41756 "Reordering where clauses can change program behavior"
Here's a contrived example:

[code]

In the order given, the output is `false`. If you swap the order as suggested in the comment, the output is `()`.

What's happening here is a combination of a few things. The `Join` impl creates obligations in order of its where clauses, and the solution to each obligation informs inference, which affects future obligations. At the same time, when it comes time

[2017-05-04 20:07] aturon commented on #41756
cc @nikomatsakis @arielb1 @eddyb @withoutboats

[2017-05-04 20:10] TimNN commented on #41744
I've looked over the PRs merged in that period and suspect this was a pre-existing bug which was exposed by #38837. Other potentially interesting PRs in that range: #38813, #38989

[2017-05-04 20:19] Mark-Simulacrum commented on #29908
I'm going to close this. I don't think there's any actionable step that can be taken here, and in general we're semi-deprecating `RustcEncodable`/`RustcDecodable` in favor of Serde, which doesn't experience this issue from what I can tell.

[2017-05-04 20:19] #29908 closed

[2017-05-04 20:21] Mark-Simulacrum commented on #32594
Closing since there's no code to allow reproducing this now.

[2017-05-04 20:23] Mark-Simulacrum commented on #33527
Closing as per previous comment.

[2017-05-04 20:23] #33527 closed

[2017-05-04 20:27] Mark-Simulacrum commented on #34064
No longer runs for a long time or takes up more and more memory.

[2017-05-04 20:27] #34064 closed

[2017-05-04 20:28] Mark-Simulacrum commented on #34069
@durka Did that cleanup ever happen? The errors are still the same today.

[2017-05-04 20:29] Mark-Simulacrum commented on #33165
Closing since this presumably worked since 1.9.0 per the previous comment.

[2017-05-04 20:29] #33165 closed

[2017-05-04 20:30] durka commented on #34069
Um... I have no idea what I was planning to do.

[2017-05-04 20:33] durka commented on #34069
What should be done (IMO) is to refactor [`is_in_follow()`](https://github.com/rust-lang/rust/blob/838e9c5123b6fdfbfc551e529a178e04e7aacf9a/src/libsyntax/ext/tt/macro_rules.rs#L746) so that instead of a `match`, it uses a map from `&str` to some kind of `FollowSet` type which is a list of tokens/idents and also has a `Display` impl, so then the error can do:

[code]

[2017-05-04 20:39] Mark-Simulacrum commented on #34116
Hmm, I think there's not much we can change here. It would confuse me when the compiler said that `&mut T` is borrowing T as immutable--and that confusion seems worse than the double-borrow confusion. Ideally, we'd specify that `Foo::new` doesn't take a mutable borrow, but when to do that is hard to decide on--detecting an existing warning and only then doing that is probably nearly impossible. As

[2017-05-04 20:39] #34116 closed

[2017-05-04 20:49] cramertj commented on #41756
Is there some reason this isn't just considered a bug in inference? I'd have expected this to fail to infer `_` in the call to `<T as Join<_>>::test()`, since there are multiple valid choices for `_`. It seems reasonable to make that change as long as a crater run doesn't turn up tons of nastiness. IIRC we've allowed breaking changes to inference in the past as a result of adding trait impls (see

[2017-05-04 20:49] Mark-Simulacrum commented on #24771
This does not seem to be a concrete issue, so I'm not sure that we should keep it open. @GuillaumeGomez Could you maybe update the description with at least one or two things that we should do?

[2017-05-04 20:49] cyplo commented on #18330
Hello !
The message seems to be different now, is it what you would expect, @bkoropoff ?

[code]

`rustc 1.18.0-nightly (28a742997 2017-04-13)`

[2017-05-04 20:51] Mark-Simulacrum commented on #30181
I'm going to close this. Please reopen if this is still a problem, preferably with a reproduction on today's master.

[2017-05-04 20:51] #30181 closed

[2017-05-04 20:54] Mark-Simulacrum commented on #30306
I can't run the configure.py as suggested above (`error: didn't find 'aarch64-elf-objcopy' program`) and my attempts to get this program weren't very fruitful, so closing--this bug is also 2 years old. Please reopen if you're still running into this problem today, and ideally with a smaller example.

[2017-05-04 20:54] #30306 closed

[2017-05-04 20:58] Mark-Simulacrum commented on #30510
Updating code to modern functions and traits in `std::panic` makes this compile, so I'm going to close.

[2017-05-04 20:58] #30510 closed

[2017-05-04 21:02] nikomatsakis commented on #35896
I don't have a good feeling for current status. @jseyfried?

[2017-05-04 21:03] Mark-Simulacrum commented on #33150
Neither example ICEs today, closing.

[2017-05-04 21:03] #33150 closed

[2017-05-04 21:03] alexcrichton commented on #37406
I've opened a [stabilization PR](https://github.com/rust-lang/rust/pull/41757) to reflect this conclusion.

[2017-05-04 21:04] Mark-Simulacrum commented on #33040
The previous comment reports that this issue has been resolved, so closing.

[2017-05-04 21:04] #33040 closed

[2017-05-04 21:08] Mark-Simulacrum commented on #18290
Triage:
  - Original error reproduces.
  - [This example](https://github.com/rust-lang/rust/issues/18290#issuecomment-151975236) reproduces.
  - [This example](https://github.com/rust-lang/rust/issues/18290#issuecomment-270276615) seems unrelated, more due to test code being `#[cfg(test)]` (so really unused).

[2017-05-04 21:10] Mark-Simulacrum commented on #34142
The example given compiles with only unused code warnings today, so closing.

[2017-05-04 21:10] #34142 closed

[2017-05-04 21:15] joshlf opened #41758 "Tracking issue for Vec::resize_with and resize_default"
Currently, `Vec` has a [`resize`](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.resize) method which takes a `new` parameter so that if the resize involves growing the vector, the `new` parameter is cloned into each newly-created cell in the vector. `T` must implement `Clone` in order for this method to be available.

It would be useful to add a `resize_default` method that instead requ

[2017-05-04 21:22] Mark-Simulacrum commented on #34144
Could someone attempt to reproduce this and report back? I don't have access to a windows system.

[2017-05-04 21:59] alexcrichton commented on #41416
Thanks for the report @lilydjwg! Looks like @mbrubeck is spot on in a diagnosis.

The critical change is that the order of arguments passed to the linker is different than before:

[code]

Previously code [partitioned](https://github.com/rust-lang/rust/blob/5c94997b6b1cca3e65ecfc5ba40c033d6838019b/src/librustc_trans/back/link.rs#L1024-L1057) linked libraries into static first then dynamic. That wa

[2017-05-04 22:07] rkruppe commented on #41753
Rust in general doesn't care about/support changing rounding modes at all (partly as a consequence of LLVM not supporting it well, but also because our numerical story is rather naive in general). Furthermore, even if it did in some contexts, it's far from obvious to me that parsing should respect the rounding mode (e.g., it may conflict with the goal of perfect round-tripping of float formatting)

[2017-05-04 22:24] #41630 closed

[2017-05-04 22:24] #41672 closed

[2017-05-04 22:24] #41685 closed

[2017-05-04 22:31] Mark-Simulacrum commented on #34163
I can't reproduce due to unrelated errors much like this one:

[code]

[2017-05-04 22:31] #34163 closed

[2017-05-04 22:40] sga001 commented on #41416
@alexcrichton I think that I follow the issue that you explain but not the solution. In the example here: https://github.com/sga001/rust-linking-issue, which exhibits the same issue, what would be the solution?

I tried adding:
[code]
at the end of the build script and it did not fix the issue (perhaps the println statements appear first? in which case, how should I go about fixing this?). More im

[2017-05-04 22:53] nikomatsakis commented on #33307
So, to spell this out:

- The problem is not that "closures that must be sync" should be move -- that is overly broad and might not help anything.
- Rather, the problem is:
    - the closure must be `Send`
    - it is not `Send` because it captures some variable "by ref"
    - and that variable's type is not `Sync`

I think we have to be careful to not go advising `move` all the time when it won't

[2017-05-04 22:55] Mark-Simulacrum commented on #34203
I no longer encounter this, so I'm going to close.

[2017-05-04 22:55] #34203 closed

[2017-05-04 23:18] Mark-Simulacrum commented on #7462
Match checking currently takes the most time, which is rather unsurprising since I think it's O(n^2) code. So I'm going to leave this open for the time being, though realistically matches with this many arms are... excessive, but I plan on taking a look at the code and seeing if it's possible to optimize it a little soon, so I'll leave it open till then.

[code]

[2017-05-04 23:23] viraptor commented on #28544
Is this still a problem, now that `cargo test` uses green / red colours in the output?

[2017-05-04 23:26] aturon commented on #41756
@cramertj It's not a bug per se -- it's the direct result of intentional behavior. In particular:

[code]

This program prints `false`, because the where clause on `foo` trumps the blanket impl and guides inference. That trumping behavior is done deliberately, but it's the cause of most of these issues.

Now the obvious question is: why did we want that trumping behavior in the first place? I don'

[2017-05-04 23:28] Mark-Simulacrum commented on #9737
Closing as per previous comments.

[2017-05-04 23:28] #9737 closed

[2017-05-04 23:34] Mark-Simulacrum commented on #24915
Do we want this? It feels sort of weird to allow `use` to import associated constants but not other items from traits/impls. I almost feel like I saw an issue about expanding use to allow this somewhere recently, but I can't find it.

[2017-05-04 23:48] z1mvader commented on #41755
I'd like to work on this issue

[2017-05-04 23:55] Mark-Simulacrum commented on #32958
This no longer ICEs.

[2017-05-04 23:55] #32958 closed

[2017-05-05 00:07] comex commented on #32594
Here: https://play.rust-lang.org/?gist=dfc63278a57e83fc2b1020ac087b5a43&version=stable&backtrace=0

That's 10,000 nested loops, but I think you can make it happen sooner by using other constructs in between.

[2017-05-05 00:26] vadimcn commented on #41416
Although not officially specified anywhere, we pass libraries to the linker in this order:

1. The local object that LLVM just generated.
2. Local native libraries, in the order they were processed by the compiler.  This means that the relative order of #[link] attributes within the same module is preserved.  There's also some deterministic ordering between the modules, but I am not quite sure wha

[2017-05-05 00:27] eseraygun commented on #41753
I didn't intend to imply that the conversion consists of simply summing up the weighted digits. What I tried to imply was that it is a series of standard floating operations that ultimately converges to the result. That still may be wrong of course. Also, as you rightly said, the rounding logic of the conversion may conflict with that of the CPU.

I checked the implementation of `stdtod` in GNU C

[2017-05-05 01:16] valarauca commented on #34144
I've played around with this and I've _slightly_ managed to reproduce on Windows with other projects.

It appears when you read/write/delete something too often windows defenders locks you out to flag it and upload it to home base to ensure it isn't a virus.

[2017-05-05 01:59] jseyfried commented on #35896
@withoutboats

We can enable it for `#[macro_export] macro_rules!` in extern crates (and derive procedural macros in extern crates) but not crate-local `macro_rules!` (since crate-local `macro_rules!`'s scopes are too different from items' scopes).

This works today with `#![feature(use_extern_macros)]`, which is implied by `#![feature(proc_macro)]` and `#![feature(decl_macro)]` (the latter has no

[2017-05-05 02:05] withoutboats commented on #35896
Is it impossible to make crate local macro_rules! macros work with this? Probably we'd need some kind of syntactic change to avoid breakages? (Maybe just a visibility modifier?)

I think declarative macros 2.0 is pretty far off, because there are going to be many design decisions we'll be able to reconsider with the new syntax, and that's going to take time to work through. It'd be nice to support

[2017-05-05 02:24] lilydjwg commented on #41416
@alexcrichton yes reordering works for me, but it's not as simple as moving lines, since I need to know the include files before compiling my C code. I have to do like this like @vadimcn said:

[code]

IMO this thing should be documented somewhere easy to find. I knew it should be ordering issues but I didn't see there was ordering that I could change in the beginning.

[2017-05-05 03:19] #34144 closed

[2017-05-05 03:37] cramertj commented on #41756
@aturon Absolutely!

The trumping behavior makes sense to me when it's giving priority to a `where` clause over an external blanket impl, but I don't understand why the _order_ of the `where` clauses should matter.

[2017-05-05 03:41] withoutboats commented on #41756
It seems like a 'correct implementation' of this trumping would find "two trumps" - `?U = bool` and `?U = ()` and it should therefore be ambiguous, whereas in the example in aturon's second comment there is only one trump, `?U = bool`.

[2017-05-05 03:56] #31847 closed

[2017-05-05 04:39] cramertj commented on #41756
@withoutboats Exactly.

[2017-05-05 05:55] aturon commented on #41756
The trumping behavior works exactly as you say: it only applies when there's exactly one where clause.

The thing that makes this example cause problems, nevertheless, is that we have two distinct trait bounds for the `Join` impl, and that in general in type inference, solving one bound needs to provide inference information for the next bound to solve. In detail:

- There's a call to `test`, whic

[2017-05-05 05:57] aturon commented on #41756
Oh and [here](https://github.com/rust-lang/rust/blob/master/src/librustc/traits/select.rs#L927)'s the code that drives the overall "impl selection" process, which in turn drives inference. You can see, in particular, that it insists on winnowing down to a single "candidate" to yield back meaningful information. But part of that winnowing is removing all impls if there are applicable where clauses.

[2017-05-05 06:25] #33506 closed

[2017-05-05 08:02] cramertj commented on #41417
@nikomatsakis If you get a chance, can you update the checklist above? I'm not entirely sure which sections have been finished since we've both been working on it and there are a couple of PRs open rn. If you'd like, I'd be happy to post the list of all the ones I think we've done so we can double-check.

[2017-05-05 08:41] arielb1 commented on #41756
Winnowing can't be the cause because it runs inside a probe - the order dependence occurs at the "outermost level" of trait selection:

[code]

[2017-05-05 08:42] GuillaumeGomez commented on #24771
I think there's no point keeping it open now. People are working on this and it's on the roadmap iirc. Let's close it then.

[2017-05-05 08:42] #24771 closed

[2017-05-05 09:01] dhardy commented on #40800
It sounds to me like your original rules are more intuitive and less likely to lead to weird behaviour (e.g.  under the current rules, `foo(return, 22)` is allowed, but `bar(22, return)` for `fn bar(y: !, x: usize)` is not allowed). So surely the only question is whether changing the rules now breaks much existing code?

[2017-05-05 09:25] matklad commented on #41686
IJ inspection: https://github.com/intellij-rust/intellij-rust/pull/1211

I'll try to add an automatic fix to `rustfmt` as well. Not sure it's a great idea, but I want to try :)

[2017-05-05 09:26] dhardy commented on #40801
Apparently `Option<!>` is already a legal type, with size 1: `assert_eq!(mem::size_of::<Option<!>>(), 1)`, but having `None` default to `Option<!>` when the type is otherwise unconstrained is a bit weird.

Perhaps here the problem isn't that `None` is considered `Option<!>` when its value is not used, but that metadata dependent on that value (i.e. the size of the type) can be tested even though t

[2017-05-05 09:37] Diggsey opened #41767 "Test generated manifests against rustup"
Several times, PRs have changed the format of the manifests in such a way that they can no longer be installed by rustup. This results in the corresponding nightlies being uninstallable, and doesn't give much time to fix it before the next nightly: https://github.com/rust-lang-nursery/rustup.rs/issues/1092#issuecomment-299374487

We should add tests to catch these problems before they occur.

cc @

[2017-05-05 09:59] ranma42 commented on #41767
cc me

[2017-05-05 11:28] gamazeps commented on #29378
@steveklabnik Hey ! I'm a bit rusty (haven't rusted in a year or so), so I'm looking to get back to it by helping with the docs, which item still need documentation in the list ?

Cheers

[2017-05-05 13:09] liranringel commented on #39006
`close_read_wakes_up` actually pass on my pc (windows 10 x64).

[2017-05-05 14:10] alexcrichton commented on #41767
Seems like a good idea! The best location for this may actually be the final integration point, [rust-central-station](https://github.com/alexcrichton/rust-central-station) as that's where the manifest is actually generated. If someone would like to implement this I can try to help guide you through the steps!

[2017-05-05 14:20] steveklabnik commented on #29378
@gamazeps wonderful! Everything except the last one is still open, and that's because there's a PR open, but not merged, hence no checkmark.

[2017-05-05 14:32] z1mvader commented on #29378
@steveklabnik I believed that the Thread docs were good enough :(

[2017-05-05 14:39] Veedrac commented on #38865
#28546 was closed in favour of this, but that issue was in some ways more general because an arbitrary `fn()` can in theory be converted to `&static Fn()`. See [this comment](https://github.com/rust-lang/rust/issues/28546#issuecomment-144935274) which redirects to [this discussion](https://www.reddit.com/r/rust/comments/3n6izx/why_cant_you_cast_fn_to_static_fn/). As I understand it, this proposal

[2017-05-05 14:40] stbuehler commented on #31436
Hi; in #31954 the upcast for the error type is done using `From` (and similar the same in [current head](https://github.com/rust-lang/rust/blob/54ef80043a3864495555c96791118ab3a725fe6b/src/librustc/hir/lowering.rs#L2242)), but [RFC 243](https://github.com/rust-lang/rfcs/blob/master/text/0243-trait-based-exception-handling.md) clearly states `Into` should be used for the conversion.

Is there any r

[2017-05-05 14:44] eddyb commented on #38865
@Veedrac This proposal gives you `&'static typeof(foo)` from `&foo` if `foo` is a function definition, and if `typeof(foo): Fn()` then you can coerce it to `&'static Fn()`.

[2017-05-05 15:17] aturon commented on #41756
@arielb1 See my explanation [here](https://github.com/rust-lang/rust/issues/41756#issuecomment-299387776). Winnowing is a crucial part of why this example works, but is not the direct source of order dependence. Fulfillment is.

[2017-05-05 15:24] Veedrac commented on #38865
@eddyb Unless I'm misunderstanding, though, it doesn't allow for

    fn foo() {}
    let bar: fn() = foo;
    &bar as &'static Fn();

[2017-05-05 15:31] gamazeps commented on #29378
@steveklabnik Ok, sign me in for:

- Thread has very little and very boring docs.
- panicking could use some more advice on when to use this.
- park should have its module documentation inlined here, and cleaned up.
- park_timeout could use links to park
- spawn needs a lot more docs generally. It's the main interface to this module!

Should be done by wednesdy in the worst case scenario :)

[2017-05-05 15:36] eddyb commented on #38865
@Veedrac According to https://github.com/rust-lang/rust/issues/28546#issuecomment-144935274 that issue wasn't about `fn` pointers.

And the example you gave is `&fn() -> &Trait` where `fn(): Trait`, which *cannot* shed the extra indirection: it's an instance of `&T -> &Trait` where `T: Trait`.
I suspect you want a `fn() -> &'static Fn()` coercion where the function pointer is used as the data poin

[2017-05-05 15:49] alexcrichton commented on #41416
Ok glad to hear it's now working @lilydjwg! Also to confirm @sga001, you've gotten your example to work now as well, right?

At the absolute bare minimum I'll tag the [relevant PR](https://github.com/rust-lang/rust/pull/40805) with `relnotes`. I'm personally leaning towards not reverting though if this is easy enough to patch up locally. In some sense the now-present behavior is "more correct" tha

[2017-05-05 15:54] glaebhoerl commented on #31436
(FWIW as the author of RFC 243 I didn't think very hard about whether `From` or `Into` is preferable, and may or may not have made the right choice. Which is just to say that the question should be decided on the merits (which at this point may include backwards compatibility), rather than what's written in the RFC.)

[2017-05-05 15:57] Veedrac commented on #38865
@eddyb I think you understand the suggestion correctly. I'm not following what you're saying the problem with copies is, though. Surely "`Code`" is just an unsized, non-`Copy` type, so you can't copy it around without specifically-defined functions?

[2017-05-05 16:04] alexcrichton commented on #41607
Ok so drilling more into this regression:

* Win32 toolchains only require `-lgcc_eh` to be passed to keep working
* Pthread toolchains require both `-lgcc_eh` and `-lpthread`
* If you have the rust-mingw package installed, then that's now a pthread toolchain, which means it's basically impossible to get working. Even if you override `-C linker` it won't work because we bundle the pthread-requirin

[2017-05-05 16:04] alexcrichton commented on #41607
Also cc @rust-lang/tools, there may be more opinions on this as well.

[2017-05-05 16:37] bstrie opened #41770 "Replace miniz.c with a pure-Rust implementation"
As of today, it looks like the only two in-tree C dependencies are libbacktrace and miniz. Unlike libbacktrace, the existence of pure-Rust (de)compression libs sounds broadly useful and feasible to implement. Determine which functions in miniz we actually need and explore whether or not any crates in our library ecosystem can serve as a suitable replacement.

[2017-05-05 16:51] cramertj commented on #40204
@est31 That's related to https://github.com/rust-lang/rust/issues/39706, https://github.com/rust-lang/rust/issues/32600, and https://github.com/rust-lang/rust/issues/41078. Inference doesn't work quite right for lifetime-generic closures.

[2017-05-05 16:53] nikomatsakis commented on #40204
@cramertj @est31 that's actually a different bug. I would say it is https://github.com/rust-lang/rust/issues/41755 -- in particular, if we were getting the expected type correctly, this inference error would go away.

[2017-05-05 16:54] nikomatsakis commented on #41755
@z1mvader great! :) Let me know if my instructions suffice, or if you feel you need some more help. I do try to keep up with GH notifications, so you can ask questions here, but you'll definitely get a "snappier" response on IRC or gitter.

[2017-05-05 17:02] tspiteri commented on #41607
About cross-compiling from `x86_64-pc-windows-msvc` to `x86_64-pc-windows-gnu`, `stable-msvc` (or `nightly-2017-04-06-msvc`) fails to compile the test executable, and `beta-msvc` (or `nightly-2017-04-07-msvc`) passes the test executable but is not even trying the doc test. Since the original issue was with the doc test, this seems to not fix anything, and only succeeds to the same level as `cargo

[2017-05-05 17:05] cuviper commented on #39699
Is there any plan for stabilization here?  Even if it remains x86_64-only for now, with only a few of the available sanitizers, it will still be quite useful to have.  I have users that want this ([rhbz1447423](https://bugzilla.redhat.com/show_bug.cgi?id=1447423)), but now that [-Z is forbidden](https://github.com/rust-lang/rust/pull/41751) I want to wait for properly-supported sanitizer options.

[2017-05-05 17:05] kennytm commented on #41770
miniz is only used in the `flate` crate, which probably could be replaced by an external crate (`flate2`? `deflate`?) as a whole. Compression speed seems to be a primary concern.

[code]

[2017-05-05 17:11] vadimcn commented on #41607
@tspiteri, does it link correctly if you declare a dependency on libpthread in gmp-mpfr-sys's build script?

[2017-05-05 17:26] cramertj commented on #41417
It would also be useful to mark off or otherwise indicate which ones were skipped because they're used in `librustc_resolve`.

[2017-05-05 17:35] tspiteri commented on #41607
@vadimcn, your suggestion works, though I needed `gcc_eh`, not `pthread`. In `try/build.rs` I added this line:
[code]
and both `cargo +stable-gnu test` and `cargo +beta-gnu test` work for both the test executable and for the doc test.

Note that compiling `gmp-mpfr-sys` takes a long time to compile its three C libraries, and the crate in `try.zip` in https://github.com/rust-lang/rust/issues/41607#

[2017-05-05 17:36] cramertj commented on #41417
Used in `librustc_resolve`:
-`visibility`
-`associated_item_cloned`
-`dep_kind`
-`export_macros`
-`crate_name`
-`struct_field_names`
-`item_children`
-`load_macro`
-`extern_mod_stmt_cnum`

[2017-05-05 17:40] joshlf commented on #32838
Is there a timeline for when this will land? I'm working on some allocator stuff, and it'd be nice if this stuff were there for me to build off of.

If there's interest, I'd be happy to lend some cycles to this, but I'm relatively new to Rust, so that might just create more work for the maintainers in terms of having to code review a newbie's code. I don't want to step on anybody's toes, and I don

[2017-05-05 17:53] eddyb commented on #38865
@Veedrac I meant "copy" as in "the `memcpy` required for moves", and if you only *ever* started with references, *I suppose* you can't end up there, IIRC @nikomatsakis thought the same.
A similar point is made by proponents of using types like `&OpaqueData` in FFI, I suppose.

I'd comment on #1037 and/or open a new issue/RFC about it if I were you - personally I don't see any problem with a coerci

[2017-05-05 18:09] est31 commented on #40204
okay, but [if you spell out the type annotations](https://is.gd/r9QVfT), the example compiles fine. Does that mean this bug is fixed?

[2017-05-05 18:19] sga001 commented on #41416
@alexcrichton: yeah it was easy to fix. Thanks for the help.

[2017-05-05 18:26] nikomatsakis commented on #40800
@dhardy yes. I suspect the impact is quite minimal, but hard to know until we put in the implementation effort. I should probably write up some mentoring instructions; I know I don't have time to pursue it myself.

[2017-05-05 18:27] nikomatsakis commented on #41417
@cramertj will do! I'll do a sweep with what I can find, and you can compare.

[2017-05-05 18:36] est31 commented on #41770
There is also compiler-rt, but its being replaced by a [pure rust implementation](https://github.com/rust-lang-nursery/compiler-builtins).

[2017-05-05 18:38] clarcharr commented on #41758
This would be an interesting addition for types which support `Default` but not `Clone`. I'll try and make a PR for it.

In the future, just FYI, feature requests should go in the RFCs repository.

[2017-05-05 18:41] nikomatsakis commented on #41417
Updated -- I tagged with all the PRs.

[2017-05-05 18:46] joshlf commented on #41758
Ah OK, noted. That's even for feature requests like this one that don't deserve an RFC?

[2017-05-05 18:55] dhardy commented on #40800
Ah, I see. One of these days I should put in the effort of learning the Rust codebase.

[2017-05-05 18:57] vadimcn commented on #41607
Okay, so here's what I think is happening:
- The `__emutls_get_address` is exported from the `libgcc_eh.a` library. (A bit strange place for it, since libgcc_eh is supposed to be about exceptions and stack unwinding.  I'd have expected TLS-related stuff to be in libpthread.   But whatever).
- The only standard crate that depends on `libgcc_eh` is `panic_unwind`, (to which it is specified as "stati

[2017-05-05 19:10] nikomatsakis commented on #40801
@dhardy

I see. So, yeah ,basically, the reason that `Option<!>` feels *natural* is because, in a way, you can't observe it -- but you're pointing out that, indeed, you *can* observe it, through things like sizeof. There are other ways too, through traits, though you have to work harder at it. I also feel like ultimately we have to accept that fallback to `!` will leak out in some places -- I was

[2017-05-05 20:32] est31 commented on #40204
Okay, I've obtained a copy of the compiler that ICE'd and apparently it doesn't ICE when you spell out the type annotation. So I'd say the ICE is fixed, and only  #41755 remains?

[2017-05-05 20:40] cramertj commented on #41417
@nikomatsakis Great, thanks! It looks like almost all the rest are ones I put off because they don't have a single `DefId` argument. I'll plan to have a PR out tonight updating the `provide` macro to allow for other arguments.

[2017-05-05 21:05] jseyfried commented on #35896
It's possible with a visibility modifier (e.g. `pub macro_rules! m { () => {} }` could have item scope), but then
 - the scope would be inconsistent with `macro_rules! m { () => {} }`
 - if we don't support `pub custom_macro! { ... }` in general, `pub macro_rules!` would be a strange special-case
 - @nrc would be unhappy (IIUC) since people might think `macro_rules!` is "good enough", reducing mac

[2017-05-05 22:28] mooman219 opened #41774 "Borrow Checker allowing mutable and immutable reference out on a vec [Nightly]"
When using array indexing, the borrow checking is allowing for both an immutable and mutable reference to be taken out on a vec.

Playground: https://play.rust-lang.org/?gist=558d7e98834c5e269eed35b335823220&version=nightly&backtrace=0

Version: rustc 1.19.0-nightly (59f1a2f94 2017-05-04)

Offending Code:
[code]
Expected Result:
[code]
Actual Result:
`[Data { x: 6, y: 9 }, Data { x: 6, y: 8 }, Dat

[2017-05-05 22:35] Mark-Simulacrum commented on #33638
Discussed in infra team meeting. Moved to cargobomb's repo: https://github.com/brson/cargobomb/issues/7.

[2017-05-05 22:35] #33638 closed

[2017-05-05 22:38] SpaceManiac commented on #41774
Here's an even more compressed example demonstrating the bad behavior:
[code]

[2017-05-05 22:44] withoutboats commented on #35896
I'm personally not concerned about making macro_rules "good enough" - I think there will be enough improvements over the current system in `macro` macros, and I'm not against just straight up issuing deprecation warnings if you write a macro_rules macro someday. And I'm also alright with the special case.

However, I want the story about when macros use normal namespacing and when they don't to be

[2017-05-05 22:52] jrmuizel opened #41775 "Dwarf Error: Cannot find DIE at 0x2a09d803 referenced from DIE at 0x2a131f6e from GDB"
I get this error debugging Firefox in GDB.

The relevant portion of a dwarfdump on libxul.so is:

< 6><0x000fc2da GOFF=0x2a131f5e>              DW_TAG_subprogram
                                                DW_AT_linkage_name          _ZN3std11collections4hash3map8{{impl}}8capacityE
                                                DW_AT_name                  capacity

[2017-05-05 22:53] Mark-Simulacrum commented on #25633
@rust-lang/compiler: I feel like this should be prioritized since it is very painful to deal with for newcomers to Rust. Could we nominate and discuss at next meeting? I don't know what can be done, but at least saying where the `_` is would be amazing: `Vec<_>`.

[2017-05-05 22:54] Mark-Simulacrum commented on #32295
I'm going to close this in favor of #25633. I have re-read the discussion here, and I don't see anything actionable here aside from what's noted in that issue.

[2017-05-05 22:54] #32295 closed

[2017-05-05 23:01] Mark-Simulacrum commented on #34228
@aidanhs: Can you comment on this? I think you're somewhat familiar with git submodule related issues (caching, non-deep cloning, etc.)

cc https://github.com/rust-lang/rust/issues/40474 since potentially helpful for resolving that.

[2017-05-05 23:02] Mark-Simulacrum commented on #40474
Potentially interesting to look at #34228 to help with git submodule related issues.

[2017-05-05 23:05] est31 opened #41776 "ICE regression: "missing expansion backtrace""
The following code ICE's on nightly and beta, but does not ICE on stable:

[code]

For an example that doesn't give an immediate compile error (but later on bc it can't find the file):

[code]

The ICE looks like:

[code]

[2017-05-05 23:08] nikomatsakis commented on #41697
I see the problem. PR coming soon.

[2017-05-05 23:36] Mark-Simulacrum commented on #32891
Without a stack backtrace or location in the code, and with this being suspiciously only with sqlite3, I'd suspect that while we shouldn't ICE here it's not really actionable to keep this around. If anyone can reproduce with `RUST_BACKTRACE=1` we'd gladly reopen.

[2017-05-05 23:36] #32891 closed

[2017-05-05 23:51] Mark-Simulacrum commented on #14663
Okay, to triage this issue a little, I think this is about us using llvm-config's output to generate gcc parameters, which breaks on external LLVM's, since those can get built with different gcc/linker params.

The current situation appears to be unchanged, but cc @brson for confirmation.

[2017-05-06 00:00] BurntSushi commented on #41770
Do you need flate specifically? The snap crate is a pure Rust snappy implementation.

[2017-05-06 00:02] Mark-Simulacrum commented on #31859
Since there are no reproduction instructions, I'm going to go ahead and close this. I suspect that there's likely still a bug here, but I can't get an ICE when testing locally on rustc itself. I still get errors, but I have no real idea why, and this issue isn't the place to track that.

[2017-05-06 00:02] #31859 closed

[2017-05-06 00:07] Mark-Simulacrum commented on #34326
There is now dominator code in MIR, but as far as I can tell, these are not cached. @nikomatsakis Perhaps caching dominators could be a mentored issue? I don't really know what the difficulty level with that is.

[2017-05-06 00:10] briansmith commented on #39817
I tried to use thing in *ring* here: https://github.com/briansmith/ring/commit/44170d4936b477d2de6135e1ab668a881d8d6943.

However, I got the error:

[code]

The type of `elem_sqr_mont` is: `elem_sqr_mont: unsafe extern fn(r: *mut Limb, a: *const Limb)`.

The problem is that the implementation doesn't allow closures where `unsafe fn()` is expected.

[2017-05-06 00:19] est31 commented on #41776
Last working nightly: `rustc 1.17.0-nightly (e1cec5d4b 2017-03-29)`
First broken nightly: `rustc 1.18.0-nightly (5c94997b6 2017-03-30)`
[list of commits in between](https://github.com/rust-lang/rust/compare/e1cec5d4bf626f151a779323e16d62fe60117086...5c94997b6b1cca3e65ecfc5ba40c033d6838019b).

[2017-05-06 00:26] est31 commented on #41776
cc @jseyfried

[2017-05-06 00:33] est31 commented on #39817
Yeah, converting to extern "C" is not really possible right now. Implementing that to a satisfying degree is a bit bigger than the initial implementation. First the ABI of the closure needs to be inferred, and then the code that creates the actual closure function needs to be changed, to use the inferred type. Also, one needs to create an error when you put the closure into a local variable and us

[2017-05-06 00:39] nikomatsakis commented on #41774
Seems to have been introduced between nightly on 2017-04-30 (correctly errors) and 2017-05-01 (no error).

[2017-05-06 00:41] nikomatsakis commented on #41774
[code]

[2017-05-06 00:42] nikomatsakis commented on #41774
Based purely on the log, most likely candidate seems to be #41651  (cc @arielb1).

[2017-05-06 01:03] Mark-Simulacrum commented on #31905
I think the best thing to do here is to add  `N filtered out` to the test result line.

Here are some instructions on what to do to fix this, but it's **probably best to wait on others' approval before working on this**, since it's not entirely decided this is the right approach to take. However, if you'd like to work on this, this should be what needs to be changed in libtest. Once you've done th

[2017-05-06 01:22] nikomatsakis commented on #41697
Fix at #41777

[2017-05-06 01:26] Mark-Simulacrum commented on #22888
I think this is technically correct, though an oddity. `&mut W as Foo` means that `self` in `Foo` will be `&mut W`, which will then mean that in order to call foo, you need to pass `&mut &mut W`, and in order to make that work, you'd need to have `w` be mutable. I think this is because `W` is `?Sized`, which means that it technically doesn't implement `Foo` itself, i.e., `impl<W: Write> Foo for W

[2017-05-06 01:26] #22888 closed

[2017-05-06 01:29] nikomatsakis commented on #41774
OK, I can confirm that #41651 is at fault (tested before/after). I don't have time now to look in more depth at the patch itself.

[2017-05-06 01:30] cuviper commented on #41569
OK, I think that branch is ready to start reviewing.

@alexcrichton I did this as an in-place port, but re-reading your original description, it sounds like you envisioned something entirely new.  Well, from here we can take this whatever direction you want.  Do you think this should still be used as a rust-installer submodule, or a new crate pulled into rust's own repo?

Either way, we should be

[2017-05-06 01:32] Mark-Simulacrum commented on #31905
After discussion on IRC, since there's probably some solution here, feel free to take this! Directions above, let us know if you need anything to help make this happen.

[2017-05-06 01:33] Mark-Simulacrum commented on #41569
It's probably easiest to review if you put up the code as a PR. Could you do that?

[2017-05-06 01:37] Mark-Simulacrum commented on #22872
Today, this produces the following, which is presumably correct? Either way, marking as E-needstest.

[code]

[2017-05-06 01:38] Mark-Simulacrum commented on #34373
This no longer ICEs, E-needstest.

[code]

[2017-05-06 01:42] Mark-Simulacrum commented on #34382
I suspect that this is no longer an issue judging by the comments, with the proper solution being `target-feature=+bmi`. The original issue is likely impossible to reproduce today since the llvmint crate has not received updates in 2 years. As such, I'm going to close.

[2017-05-06 01:42] #34382 closed

[2017-05-06 01:46] #41570 closed

[2017-05-06 01:46] #41679 closed

[2017-05-06 01:46] #24106 closed

[2017-05-06 01:53] Mark-Simulacrum commented on #34421
So this fell through the cracks, and was a stable to nightly/beta regression. It still is a regression, in a way, but only of diagnostics. @jseyfried Could you take a look?

[2017-05-06 01:54] Mark-Simulacrum commented on #24827
This compiles successfully today. Marking as E-needstest.

[2017-05-06 01:56] Mark-Simulacrum commented on #17684
Can someone comment on whether thread locals are broken on Windows MinGW-w64 today? What are the reproduction steps?

[2017-05-06 02:35] MasonRemaley opened #41778 "Missing environment variable `TARGET`"
I'm trying to log the target triple when my application starts up, and according to [the cargo docs](http://doc.crates.io/environment-variables.html#environment-variables-cargo-sets-for-build-scripts) I should be able to get it from an environment variable named `TARGET`. However, this variable does not seem to be set. I'm not sure if this is a rustc bug or a Cargo bug, or if I'm just misunderstan

[2017-05-06 02:50] Mark-Simulacrum commented on #34451
Small testcase compiles without errors. E-needstest.

[code]

[2017-05-06 02:51] jmesmon commented on #41778
Those environment variables are for build scripts only.

Also, note that they are set when the build script is executed, not compiled, so one will want to use `std::env::var` or `std::env::var_os` instead of `env!`

[2017-05-06 03:00] Mark-Simulacrum commented on #34430
@eddyb Is this https://github.com/rust-lang/rust/issues/30867? It looks similar...

[2017-05-06 03:02] MasonRemaley commented on #41778
Heh it does say that in the section of the docs I linked doesn't it. :) Makes sense, thanks!

[2017-05-06 03:02] #41778 closed

[2017-05-06 03:02] Mark-Simulacrum commented on #30472
Is this https://github.com/rust-lang/rust/issues/30867? It looks similar, but uncertain.

[2017-05-06 03:15] Mark-Simulacrum commented on #27324
Closing due to lack of ability to reproduce. Please do provide an example if you can, and we'll happily reopen!

[2017-05-06 03:32] eddyb commented on #34451
No, it shouldn't compile, I just don't think we ever bothered banning it.

[2017-05-06 03:36] Mark-Simulacrum commented on #34451
Removing E-needstest. @eddyb That seems.. bad. Is that just because in this case the type isn't really used anywhere?

[2017-05-06 03:38] eddyb commented on #34451
The ICE here is a mismatch between LLVM's view of the type and ours but the LLVM type is computed in such a way that I don't think that mismatch is ever possible. Some operations might still ICE.

[2017-05-06 03:44] eddyb commented on #22872
@Mark-Simulacrum Is that with debug assertions enabled?

[2017-05-06 03:59] cuviper commented on #41569
OK, see rust-lang/rust-installer#62.

[2017-05-06 04:03] Mark-Simulacrum commented on #22872
I think so. The way I check is with `RUST_LOG=debug`, which outputs debug logging... this is also on a rustc compiled locally with `debug-assertions = true` in the config.toml.

[2017-05-06 05:48] Mark-Simulacrum commented on #12590
I personally thought that `--pretty` expanding modules was a feature. Is that incorrect? It seems like it's a good idea, not a bad one--unexpanded modules would make `--pretty expanded` less useful on multi-file codebases, since it wouldn't show expansion of anything but the crate root, which is non-ideal.

[2017-05-06 05:53] kennytm commented on #12590
But the original report is about `--pretty=normal`, not `--pretty=expanded`... @Mark-Simulacrum

[2017-05-06 05:58] cbreeden commented on #24939
I recently wanted this in code I was writing.  I needed to convert a 4 digit numeric from a `.chars()` into a `char`.  For example, to convert `"0020".chars()` into a `' '`.

What I did:

[code]

What I desired:
[code]

[2017-05-06 06:03] kennytm commented on #41770
@est31 compiler-rt is imported as a submodule, so it is out-of-tree and off-topic for this issue I guess? Otherwise we would need to consider hoedown, jemalloc, graphviz and LLVM as well 😉.

[2017-05-06 06:30] blanham commented on #31752
I believe this was fixed in PR #41523

[2017-05-06 08:56] semarie opened #41779 "rustbuild with verbose fails with custom `cargo` path"
When rustbuild is invoked with `-v`, `extra_help` variable is populate using `metadata::build()` (for any command). It will call `cargo metadata` for several crates.

The build configuration used is at this place is `Config::default()`.

As I use `config.toml` to set `cargo` binary path, the setting is ignored, and rustbuild fails when `-v` is on command-line: by default it uses `stage0_root` path

[2017-05-06 08:57] cyplo commented on #37572
As the referenced code is merged - is this still an issue ? thank you !

[2017-05-06 08:59] cyplo commented on #13019
It's still an issue with rustc 1.18.0-nightly (28a742997 2017-04-13)

[2017-05-06 09:13] bluss commented on #37572
Yes, tracking issue keep note on the code while it is still an unstable feature; they are closed when the feature is stabilized or removed.

[2017-05-06 09:31] rkruppe commented on #41770
For how compression is used in the compiler, see https://github.com/rust-lang/rust/issues/37086 for prior discussion and some experiments.

@kennytm @est31 Submodule or not, all these things are still used by and potentially merit discussion &mdash; just not *in this issue* since it's specifically about miniz.c. Separate issues might be worthwhile for some of them, and also for native libraries th

[2017-05-06 10:15] MagaTailor commented on #33908
Whatever.

[2017-05-06 10:15] #33908 closed

[2017-05-06 10:20] MagaTailor commented on #39266
The issue is not present in clang 4.0 so it's definitely another rust fuckup.

[2017-05-06 10:28] alexbool commented on #37572
By the way, what is holding stabilization right now?

[2017-05-06 10:52] TimNN commented on #41685
@mzji: Can you try again with the latest nightly? That should fix the issue.

[2017-05-06 11:06] HadrienG2 commented on #41671
@leoschwarz : Sorry for the slow reply. @GuillaumeGomez initially suggested that I post this here, but I can be convinced to move/link this issue in the book bugtracker if you think that's where such documentation should be located.

Another possible place which I was thinking about is the Reference, which also already has some quick discussion of standard traits, e.g. when discussing operatros...

[2017-05-06 11:08] cyplo commented on #36867
It still gives lifetime errors on rustc 1.18.0-nightly (28a742997 2017-04-13):
[code]

[2017-05-06 11:16] liranringel commented on #40246
@alexcrichton is right, llvm passed /MD.
I added the following lines to llvm-config/CMakeLists.txt, after `LLVM_CFLAGS` and `LLVM_CXXFLAGS` are set:

        LLVM_CFLAGS
        LLVM_CXXFLAGS
        )
foreach(CompilerFlag ${CompilerFlags})
  string(REPLACE "/MD" "/MT" ${CompilerFlag} "${${CompilerFlag}}")
endforeach()

That indeed resolved the issue, but it probably be better if we could achieve

[2017-05-06 11:31] chrivers commented on #35784
I came here because I wasn't sure what -Oz did - now I know. I would like to point out that "size1" and "size2" is not much better, imho. Ok, so there's a size difference. But which one is supposed to be smaller? The bigger number, because it tries more agressively to make it smaller, or the smaller number, for intuitive reasons?

I can see the parallel with O1, O2, O3 -> increasing optimization f

[2017-05-06 11:34] jdm opened #41781 "Error when trait bound not satisfied for function argument should point at argument"
[code]
This yields:
[code]

When there are multiple arguments, this is much less helpful than if the span pointed at the argument in question.

[2017-05-06 11:51] tspiteri commented on #41607
I just noticed that nightlies from `nightly-2017-04-26-x86_64-pc-windows-gnu` on also require a `"cargo:rustc-link-lib=static=pthread"`. However, this will break current `stable` (1.17) with an ``error: could not find native static library `pthread`, perhaps an -L flag is missing?`` Interestingly, the `i686` toolchain does not require the explicit `pthread` link.

My current build script workaroun

[2017-05-06 11:52] MaikKlein opened #41782 "Long build times for the crate `gltf`"
I created a simple repository to reproduce this

https://github.com/MaikKlein/buildtimes

Rebuilding this simple example takes 20 seconds on my machine.  My project jumps from 4 to 25 seconds if I use `Gltf::open`. This seems very high, could it be some kind of regression?

I tested it with the current stable and nightly version of rustc. I am on ubuntu 16.04

[2017-05-06 11:56] jFransham opened #41783 "No way to not comment a line beginning with a # in rustdoc"
I have a doctest in my [`shell_parse`](https://github.com/jFransham/shell_parse) crate that includes a shell-style comment at the start of a line, inside a code block. Minimal example:

[code]

This causes the hash to be stripped out in `cargo doc` output (which is annoying, because it's part of the example), and causes the parsing to fail and the doctest to fail as a result. Using the same code i

[2017-05-06 12:00] mzji commented on #41685
@TimNN Ok, I'm testing now

[2017-05-06 12:03] Mark-Simulacrum commented on #12590
Oh. Yeah, that's true. I'm not even really sure what the intended purpose of `--pretty=normal` is, I can't really think of any cases where it'd currently be the right solution. `rustfmt` is better if you just want pretty code...

[2017-05-06 12:06] Binero commented on #41782
Takes 2:22 minutes on my machine, dependencies not included.

[2017-05-06 12:12] Mark-Simulacrum commented on #41783
This behavior is actually intentional. rustdoc strips out lines that begin with `#` to make it easier to write partial examples (e.g., without showing `fn main` or helper functions that were perhaps shown in examples given before the current one). Does that make sense?

[2017-05-06 12:15] jFransham commented on #41783
Ok, but there doesn't seem to be a way to _intentionally_ include lines beginning with a single hash, either with `##` or with `\#`, both interpolate that literal string into the output.

[2017-05-06 12:18] Mark-Simulacrum commented on #31752
Agreed, closing.

@jonhoo notes that the diagnostic for assignment isn't quite as good, but as shown below we still highlight the span for the variable assignment which doesn't work, so I suspect it's fairly clear which variable can't be assigned to. If you disagree, please open a new tracking issue for that.

[code]

[code]

[2017-05-06 12:18] #31752 closed

[2017-05-06 12:25] MaikKlein commented on #41782
I don't think it is a bug with rust anymore. The crate had a generic method `open` inside the big Gltf struct which restricted it from being compiled ahead of time.

Here is the fix if you care

https://github.com/MaikKlein/buildtimes/tree/faster-compiles

[2017-05-06 12:25] #41782 closed

[2017-05-06 12:56] stbuehler commented on #31436
Sadly there would be a regression. If no (non-trivial) `From<...>` instance for an error type is implemented, the compiler can deduce the type in certain cases, where it cannot deduce it when using `Into` (the set of `From` instances is limited by the current crate, the full set of `Into` instances is not known while compiling a crate).

See https://play.rust-lang.org/?gist=6d3ee9f93c8b40094a80d34

[2017-05-06 13:46] binarybana commented on #34857
For naming, how about `read_as_str` to indicate that it is allocating a new `String` for you?

[2017-05-06 14:03] bluss commented on #31436
There's a new RFC which will supersede the old in terms of describing `?`: #rust-lang/rfcs/pull/1859

[2017-05-06 14:14] Mark-Simulacrum commented on #29598
Can we deprecate `log_syntax`? Or at least, can someone explain what the intent is? On https://github.com/rust-lang/rust/issues/3065, it's not clear whether it's meant to provide an expansion "backtrace" or just print what it expanded to.

[2017-05-06 14:22] Mark-Simulacrum commented on #24335
So I'm not entirely sure that this is a good idea for rustc itself, especially since it seems that tools like [`cargo fancy`](https://github.com/alexcrichton/cargo-fancy) are feasible. Should we be tracking "compilation progress in a fancy way" here? `-Ztime-passes` works, though is unstable and not at all pretty.

[2017-05-06 14:31] frewsxcv commented on #39187
I think this might be fixed now:

https://manishearth.github.io/rust-internals-docs/rustc/index.html

[2017-05-06 15:02] Mark-Simulacrum commented on #34557
I feel like this isn't a bad thing. Fully qualified paths seem somewhat more useful. @nagisa Is there a specific reason other than the name that you wanted non-qualified paths?

[2017-05-06 15:10] Mark-Simulacrum commented on #34588
I believe that these problems still exist today. I feel like with today's error diagnostics being generated through a Rust plugin (as far as I can tell), this is quite hard to change.

@alexcrichton Do you feel like the right approach here would instead be to change the error format that currently exists in Rust to be stored in something like a directory tree and then loaded (perhaps by the same p

[2017-05-06 15:17] nagisa commented on #34557
IMHO at this point the issue should serve as an "tracking" issue for type_name intrinsic redesign, which it badly needs.

As for specific reasons, we used this intrinsic like this in the compiler to automatically derive the name of MIR passes and, obviously, nobody wants to see the crate name prefix in those. We had to hack it with some quick'n'dirty string manipulation.

[2017-05-06 15:22] Mark-Simulacrum commented on #34472
From what I can tell, on macOS today, `rustc --crate-type=cdylib -Cpanic=abort test.rs` completes successfully. However, the file generated is only 4 KB in size compared to the 4 MB on Linux. I suspect this is because the file is practically empty (see below for objdump). Indeed, it seems that we now are in a worse situation -- we appear to have been successful, but in fact it seems that linking a

[2017-05-06 15:26] Mark-Simulacrum commented on #34557
Could you provide a list of things that would be preferable over the existing `type_name` output, in the original issue description? That would help make this bug more helpful to those visiting it, so that others may be able to help out and make this happen or people visiting for triage could diagnose whether this has happened.

[2017-05-06 15:31] nagisa commented on #34557
So ideally the intrinsic would eventually return data about the type in a structured way. Could be something as simple as `struct Ty { name: &str, path: &str, generic_args: &[Ty], lifetimes: &[&str], ... }`. I’m pretty sure this is written down somewhere else already, but I can’t remember where.

[2017-05-06 15:48] #33674 closed

[2017-05-06 15:54] Mark-Simulacrum commented on #34641
I'm going to close this in favor of #28925, since that has a more detailed explanation of the issue.

[2017-05-06 15:54] #34641 closed

[2017-05-06 15:54] alexreg commented on #39187
Yep, it looks to be fixed. I noticed that a couple of weeks ago.

[2017-05-06 15:56] #39187 closed

[2017-05-06 15:57] Mark-Simulacrum commented on #34640
As far as I can tell, a15dfca54f1b6e54226797fa12fe0d7a2bf9252e made this statically impossible (it removed the panic), so I'm closing.

[2017-05-06 15:57] #34640 closed

[2017-05-06 16:00] Mark-Simulacrum commented on #26810
Today, all of the examples in this issue are "unsupported cyclic reference"s, so I don't know that it's worth keeping this open, so I'm closing. Please reopen if that's the incorrect decision.

[2017-05-06 16:00] #26810 closed

[2017-05-06 16:04] Mark-Simulacrum commented on #34680
@eddyb Is this still an issue? There are no reproduction steps here so it's hard to judge.

[2017-05-06 16:12] jFransham commented on #41783
That's a great fix, thanks a lot.

[2017-05-06 16:17] #27415 closed

[2017-05-06 16:19] Mark-Simulacrum commented on #34706
Closing in favor of https://github.com/rust-lang/rust/issues/33953.

[2017-05-06 16:19] #34706 closed

[2017-05-06 16:22] Mark-Simulacrum commented on #34505
I'm going to close this. We've enabled MIR by default at this point, and I don't really recall what effect it had on the benchmarks. I feel like it was a regression, but... uncertain. This isn't tracking anything anyway, so closing.

[2017-05-06 16:22] #34505 closed

[2017-05-06 16:31] Mark-Simulacrum commented on #34673
@jseyfried This function is unused within this repository; can you comment on what kind of testing you mean? Is this compile-fail/run-pass tests? I don't think so; since it's unused.

[2017-05-06 16:36] Mark-Simulacrum commented on #34586
I seem to recall seeing a tmp directory inside build, but I can't seem to recreate it now. Maybe it only appears temporarily during some particular steps and I've deleted it.

@alexcrichton What do you see as the steps for removing the tmp directory inside build/? Or is the solution to leave that and move the tmp directory created in the root into the build/ directory?

[2017-05-06 16:53] jonhoo commented on #31752
Hmm, I still think it'd be better if the error was:
[code]
to bring it in line with the non-closure case...

[2017-05-06 17:21] leonardo-m opened #41789 "Missed bound check removal"
A little test program:

[code]

If I compile it with:
nightly-x86_64-pc-windows-gnu - rustc 1.19.0-nightly (f4209651e 2017-05-05)

Using:
rustc -C opt-level=3 --emit asm test1.rs

I get this asm for the loop:

[code]

Apparently the bound check isn't removed. To remove it I need to use get_unchecked_mut(), or code like this (with the same main function):

[code]

Now the look gives a clean asm:

[

[2017-05-06 17:26] jethrogb commented on #23121
We already support matching on &str on literals and constants. Could we similarly allow (stabilize) matching slices on literals and constants, while we're still pondering on some of the more advanced uses?

[2017-05-06 17:26] Mark-Simulacrum opened #41790 "Cannot assign to captured outer variable in an `FnMut` closure diagnostic"
[code]

produces

[code]

but should produce

[code]

cc @estebank, you implemented a similar change for moves: #41523.

[2017-05-06 17:27] Mark-Simulacrum commented on #31752
Opened https://github.com/rust-lang/rust/issues/41790 to track the assignment case.

[2017-05-06 17:30] Mark-Simulacrum commented on #34735
Unfortunately, I don't think this is a viable bug to fix. The reproduction code doesn't compile on its own, so it's hard for someone to debug this. There's also not actually a workable backtrace. Closing.

[2017-05-06 17:30] #34735 closed

[2017-05-06 18:03] cesarb commented on #41654
After a few tries, I found a workaround.

- First I tried `make -j4 dist install`, but that tried to run the `dist` and `install` steps at the same time, so I canceled the build.
- Then I tried just `make dist`, which failed within the `make-win-dist.py` step, since it couldn't find a `gcc.exe`.
- Finally I tried `./x.py dist src/libstd` directly (there doesn't seem to be a rule for that in the `M

[2017-05-06 18:16] eddyb commented on #34680
A testcase can be synthesized ([try on playpen](https://play.rust-lang.org/?gist=98fc4aca3c521de033200907c05e200d&version=nightly&backtrace=1)):
[code]

Right now it's no longer failing in LLVM but a proper ICE (thanks to MIR trans).
We won't likely get it working correctly until miri is being used to evaluate constants.

[2017-05-06 18:18] Mark-Simulacrum commented on #32796
So I'm not really clear what this issue is addressing. I think it's about attributes working on some expression and not others... but I don't see representative examples. Could someone summarize the current situation (@nrc?)?

[2017-05-06 18:26] Mark-Simulacrum commented on #34766
So I think this is effectively now the tracking issue for core_float. Is that correct?

[2017-05-06 18:29] Mark-Simulacrum commented on #34775
This no longer ICEs. Marking as E-needstest.

[code]

[2017-05-06 18:30] edmccard commented on #33417
@jimmycuadra

@scottmcm

Here's my use case: I have a config file format where values can be bool, numeric, or string, and a macro for writing literal config values where the keys can be either enum variants or string. For example:

    let cfg = config![
        BoolOpt::SomeCfgKey => true,
        "SomeOtherCfgKey" => 77,
    ];

Long story short, the macro ends up expanding to a list of `($k, $

[2017-05-06 18:31] Mark-Simulacrum commented on #34775
Well, actually, this is maybe(?) never was a compiler bug, so closing and removing E-needstest. I'm not even sure what we would really be testing here...

[2017-05-06 18:31] #34775 closed

[2017-05-06 18:43] Mark-Simulacrum commented on #14406
I suspect that this is superseded by https://github.com/rust-lang/rust/issues/17642. If you'd like to reopen with a specific set of attributes that should be handled, then we can do so (for example, `#[used]` is now special-cased: https://github.com/rust-lang/rust/pull/41637).

[2017-05-06 18:43] #14406 closed

[2017-05-06 18:53] Mark-Simulacrum commented on #28233
The scgi example doesn't reproduce when building. json-benchmark current doesn't build (proc_macro crate isn't found). Closing.

[2017-05-06 18:53] #28233 closed

[2017-05-06 18:58] Mark-Simulacrum commented on #34809
Does anyone know why this is? It was added by @aturon, and it seems it was intended to be implemented for more types: https://github.com/rust-lang/rust/pull/23549#r26862139. I suspect that this is a side-effect of #23545 since it causes inference regressions, but I'm uncertain (and that seems odd, since I'd expect most/all uses of shifting operations to have the types fairly well defined explicitl

[2017-05-06 19:00] vadimcn commented on #41607
Yeah, the old tool mingw chain did not bundle libpthread, AFAIR.

[2017-05-06 19:04] vadimcn commented on #41607
There short term solution might be too change rustc to always emit `-lgcc_eh -lpthread`, even though Rust crates don't need them.
This sucks, we did a bunch of work to be able to pass `-nodefaultlibs` to gcc. :(

[2017-05-06 19:10] Mark-Simulacrum commented on #27054
Verified as fixed by MIR, marking as E-needstest.

[2017-05-06 19:30] Mark-Simulacrum commented on #27868
So the internals thread says this: "before MIR, we were actually quite inconsistent here, in that borrowck and trans disagreed on some of the particulars. MIR eliminated that inconsistency, but there are still some matters that we should try to resolve -- and quick!" If that's the case, then this should be closed. @nikomatsakis Is this the case?

[2017-05-06 19:59] Mark-Simulacrum commented on #34820
Closing as something that we shouldn't track on rust-lang/rust.

[2017-05-06 19:59] #34820 closed

[2017-05-06 20:26] Mark-Simulacrum commented on #18236
I presume this happens today? Could someone confirm that? It seems that this would indeed be better suited to the RFC repo as an issue...

[2017-05-06 20:49] jonas-schievink commented on #18236
There is no such API, and I don't think we're doing this automatically. `jemalloc(3)` indicates that this can be done via a call to `mallctl` (or, as the OP mentions, by setting the `MALLOC_CONF` environment variable). After global allocators are stabilized, someone could write a `jemalloc` crate that provides an API around that. I agree that this should go into the RFC repo, though.

[2017-05-06 21:09] withoutboats opened #41792 "Associated consts cannot elide `'static"
[code]
https://play.rust-lang.org/?gist=84bbc056b2289ed71e169e8a4b9236df&version=nightly&backtrace=0

[code]

@eddyb

[2017-05-06 21:12] eddyb commented on #41792
@withoutboats This was an intentional decision (in the RFC, I believe) that could be relaxed in `impl` blocks with no lifetime parameters.

[2017-05-06 21:17] withoutboats commented on #41792
Can associated consts depend on the lifetime variables in scope? Was the decision just to avoid ambiguity?

[2017-05-06 21:22] eddyb commented on #41792
I'm not sure, to be honest. https://github.com/rust-lang/rfcs/pull/1623#issuecomment-239559757 is the RFC's conclusion.
cc @rust-lang/lang

[2017-05-06 22:30] brson opened #41793 "Rust 1.18 regression - ieee754-0.2.1, from_bits"
[code]

This is due to a new unstable inherent method introduced in https://github.com/rust-lang/rust/pull/39271.

Mentioned already [here](https://github.com/rust-lang/rust/issues/40470#issuecomment-295313690).

cc @est31 @huonw

[2017-05-06 22:30] brson commented on #41793
Also affects audrey-0.1.0 cc @mitchmindtree

[2017-05-06 22:36] est31 commented on #41793
`lewton` 0.5.1 stops depending on ieee754. audrey afaik only needs the crate due to lewton, so afaik the problem should be resolved for audrey, given a Cargo.lock update.

[2017-05-06 22:44] brson opened #41794 "Rust 1.18 regression, cargo-update-0.8.0"
https://github.com/nabijaczleweli/cargo-update

[code]

[code]

[code]

cc @nabijaczleweli @alexcrichton

[2017-05-06 23:00] brson opened #41795 "Rust 1.17 regression - chipmunk-0.0.2, invalid fragment specifier"
I don't see this already reported but it feels familiar. Looks weird.

https://github.com/TyOverby/chipmunk

[code]

[code]

[code]

cc @TyOverby @jseyfried

[2017-05-06 23:03] nagisa commented on #41793
XIB. We could consider an alternative name.

[2017-05-06 23:04] nabijaczleweli commented on #41794
I can tell you right now that this is an issue I've encountered before, in that the default main file changed from `src/main.rs` to `src/bin/$EXEC_NAME.rs`. Dunno why when though.

[2017-05-06 23:17] est31 commented on #41793
Quoting @rkruppe 's comment from the linked thread:

When implementing the feature, I was inspired by the name, but didn't think it would cause breakage, instead the ieee754 crate would shadow it. Sorry for that!

I think `from_bits` is the best name for it, but given the breakage its choice causes I'm neutral.

[2017-05-06 23:18] brson opened #41796 "Rust 1.18 regression, constrained-0.1.0, cannot infer type"
https://github.com/dylanede/constrained

[code]

[code]

[code]

cc @dylanede

[2017-05-06 23:19] brson commented on #41796
Oh the failure is actually in sprs-0.3.0 cc @vbarrielle.

[2017-05-06 23:32] brson commented on #41793
XIB = "expected interface breakage"

[2017-05-06 23:33] durka commented on #32796
Right now `[1, #[cfg(unix)] 2, 3]` is accepted on stable with no feature flag, so I'm not sure there is anything left to talk about here.

[2017-05-06 23:40] brson opened #41797 "Rust 1.18 regression, crates-io-cli 2.0.1, no such file or directory"
https://github.com/Byron/crates-io-cli-rs

[code]

[code]

[code]

cc @Byron @alexcrichton

Maybe related to https://github.com/rust-lang/rust/issues/41794

[2017-05-06 23:44] durka commented on #29598
I'm not sure what `log_syntax!` was intended to do, but as it is it essentially calls `stringify!` on whatever you pass to it, and has the compiler `println!` that at compile time. It's sort of a dual -- as `trace_macros!` can show you the input of a macro, `log_syntax!` can help you debug the output:

[code]

I use `log_syntax!` less than I use `trace_macros!`. It also overlaps with `--pretty=exp

[2017-05-06 23:46] brson commented on #41797
Also affects eclectica-0.0.9 cc @markelog

[2017-05-07 00:02] nagisa commented on #41793
It seems to me like the ideal fix would be expedited stabilisation of the function in question. The behaviour of implementation in the crate is mildly different from the implementation in libstd, but it doesn’t seem to me like that would alter functionality of the crate in a detrimental way.

Of course, if we do that,  we must keep in mind that fixing this by stabilising a somewhat incompatible (a

[2017-05-07 00:04] TyOverby commented on #41795
weird, looks like this never should have compiled

[2017-05-07 00:25] brson opened #41798 "Rust 1.18 regression, hamt-0.2.2, sigill"
https://github.com/michaelwoerister/hamt-rs

[code]

[code]

[code]

cc @michaelwoerister

[2017-05-07 00:27] est31 commented on #41793
@BurntSushi wanted to review the function before that happens.

[2017-05-07 00:31] brson commented on #41797
Also igo-0.2.1 cc @yshryk

[2017-05-07 00:33] brson commented on #41797
Also isbfc-0.0.1 cc @ids1024

[2017-05-07 00:33] brson commented on #41794
Closing in favor of https://github.com/rust-lang/rust/issues/41797

[2017-05-07 00:33] #41794 closed

[2017-05-07 00:34] brson commented on #41797
Also cargo-update-0.8.0 (https://github.com/rust-lang/rust/issues/41794) cc @nabijaczleweli

[2017-05-07 00:41] est31 opened #41799 "Casting u128::MAX to f32 is undefined"
Given this code ([playpen](https://play.rust-lang.org/?gist=ad04681bc210d7b1e5a3bd8589b2f91d&version=nightly&backtrace=0)):

[code]

It should print `Ok(2742605)`. In release mode, that happens, but in debug mode, it prints `Err("Overflow")`.

The value is mostly irrelevant, it would also work for `42.0`.

cc @nagisa
cc #35118 tracking issue

[2017-05-07 00:50] nagisa commented on #41799
`u128::MAX as f32` is undefined. It ends up being as `float undef` in LLVM. This issue is in a similar vein as the float to integer casts. All we really need is a decision on how to handle this. For u128->f32 it seems pretty obvious to simply produce an infinity.

[2017-05-07 00:56] brson opened #41800 "Rust 1.18 regression, quick-error 1.1.0"
https://github.com/tailhook/quick-error

[code]

[code]

This looks like quick-error's test suite was depending on the text of an error message, so I doubt we'll do anything here, but interesting to note.

cc @tailhook

[2017-05-07 00:58] brson commented on #41793
Also affects radix-heap 0.2.0 cc @Noctune

[2017-05-07 01:03] brson opened #41801 "Rust 1.18 regression, rotor-http-0.6.0"
http://github.com/tailhook/rotor-http

[code]

[code]

[code]

cc @tailhook

[2017-05-07 01:04] brson commented on #41801
By the name of the test maybe this is checking something exact about the ABI.

[2017-05-07 01:07] brson opened #41802 "Rust 1.17 regression, rotor-stream 0.6.2, private struct constructors"
[code]

Presumably this is expected breakage. cc @tailhook

[2017-05-07 01:10] brson opened #41803 "Rust 1.18 regression, rustasm6502 0.1.2, no rules expected token 'main'"
https://github.com/jonas-schievink/rustasm6502

[code]

[code]

[code]

cc @jonas-schievink @jseyfried

[2017-05-07 01:21] brson opened #41804 "Rust 1.18 regression, rust_utp 0.8.1"
https://github.com/meqif/rust-utp

[code]

[code]

[code]

cc @meqif

[2017-05-07 01:27] brson opened #41805 "Rust 1.18 regression, size of Self cannot be statically determined"
https://github.com/AskePit/note_gen

[code]

[code]

[code]

cc @AskePit

[2017-05-07 01:27] jonas-schievink commented on #41803
I've turned on nightly Travis builds so I get notified when something breaks. This crate seems like a good candidate for finding regressions in macros earlier.

[2017-05-07 01:38] wesleywiser commented on #41568
@alexcrichton How should I test my change? I tried running `./x.py dist src\librustc` but it fails with:

[code]

and I'm not sure how to install `gcc.exe` on Windows.

[2017-05-07 01:40] brson opened #41806 "Rust 1.18 regression, yggie/mach, type annotations needed"
https://github.com/yggie/mach

[code]

[code]

[code]

cc @yggie

[2017-05-07 01:41] brson commented on #41797
Also https://github.com/zargony/advent-of-code-2015 cc @zargony

[2017-05-07 02:32] est31 commented on #10184
Related https://github.com/rust-lang/rust/issues/41799

[2017-05-07 04:07] kennytm commented on #41801
It is testing the mem::size_of of a structure. Broken by struct field reordering I guess. The RHS is actually already changed from 88 to 80 last year.

https://github.com/tailhook/rotor-http/commit/f86e4424216e3d82c953456743d247e125d012b5#diff-b195878d7b1f805e376168d3d3039ef3L701

[2017-05-07 04:51] retep998 commented on #41568
@wesleywiser You'd follow the instructions in the readme to install msys2 and use that to acquire MinGW.

https://github.com/rust-lang/rust/blob/master/README.md#mingw

[2017-05-07 05:23] #22552 closed

[2017-05-07 05:35] ishitatsuyuki commented on #39882
I believe this should have a high priority since ASan is completely useless if such code is generated for std.

I wasn't able to determine how it generates store instructions, but this should be simple for devs who're familiar with LLVM.

[2017-05-07 05:48] jseyfried commented on #34673
@Mark-Simulacrum Unit testing that it behaves correctly.

[2017-05-07 05:55] jseyfried commented on #35896
@withoutboats Yeah, that makes sense, but I'm not sure it's worth the complexity of another dimension due to making namespacing orthogonal to macros 1.0 vs macros 2.0.

[2017-05-07 07:03] ishitatsuyuki opened #41807 "AddressSanitizer: odr-violation with zero size"
[code]

As you can see, they are both 0 sized, which means this is some kind of internally generated code.

[code]

[2017-05-07 07:33] setharnold commented on #39175
Other modules show this problem:

[code]

Thanks

[2017-05-07 10:12] cpichard opened #41808 "Broken MIR, bad field access when matching constants"
Hi,
I tried to match constant strings inside a struct and wasn't able to compile the following code:
[code]
The compiler returns an internal compilation error.

I managed to compile using:
`ref v @ MyStruct(_) if *v == CONSTANT => println!("it compiles"),`

The first version, matching directly the CONSTANT would be easier to read and understand.

## META
rustc 1.17.0 (56124baa9 2017-04-24)
binary:

[2017-05-07 10:15] eddyb commented on #39882
@japaric Is this still a problem after #40367?

[2017-05-07 10:17] ishitatsuyuki commented on #39882
@eddyb yes, reproduced locally 2017-05-03 build.

[2017-05-07 10:24] eddyb commented on #39882
Ah, I see, the `{}` alloca for the return is gone but the stores are still there.

[2017-05-07 10:29] ishitatsuyuki commented on #39882
A note on implementing: apart from alloca, [copy_intrinsic](https://github.com/rust-lang/rust/blob/6d841da4a0d7629f826117f99052e3d4a7997a7e/src/librustc_trans/intrinsic.rs#L645) should also be fixed.

There should also be a test similar to [this](https://github.com/rust-lang/rust/blob/master/src/test/codegen/mir_zst_stores.rs), on read, read_unaligned, write and write_unaligned.

[2017-05-07 11:16] Kixunil commented on #29661
What about a compromise: if default method mentions the associated type in it's signature, then this type is allowed to be default and then, if you override such type, only those methods that use the type in signature would see the type being default.

Would this still be unsound/surprising?

[2017-05-07 11:22] vbarrielle commented on #41796
Hello,

I can fix this with a simple type annotation, but the trouble is, this comes from a fairly old version of sprs (0.3.0, but I'm developping over version 0.5.0 with several breaking changes). I cannot patch version 0.3.0 and submit a fixed version on crates.io, since there are already versions 0.3.x published.

On solution I can see is for constrained to depend upon version 0.3.3 or later, a

[2017-05-07 11:37] petrochenkov commented on #41792
Duplicate of https://github.com/rust-lang/rust/issues/38831

[2017-05-07 11:49] eddyb commented on #39882
@istankovic That test could house `ptr::write` and `ptr::write_unaligned` as well.

[2017-05-07 11:51] ishitatsuyuki commented on #39882
@eddyb wrong name :P

Yeah, we can put all the things to that test, but I wanted to separate because that file is labeled with MIR.

[2017-05-07 11:53] meqif commented on #41804
I assume "0.8.1" is a typo, the latest version until a few minutes ago was 0.6.3.
That issue was caused by a missing `#repr(C)` in a `struct`, and it was fixed in the `master` branch. I publish a new version (0.7.0) of the library to crates.io with the fix. Thank you for poking me.

Is there anything else I can help with?

[2017-05-07 11:55] eddyb commented on #39882
Ah, I see what's happening, the test was added when MIR trans was opt-in, whereas this is a long-standing problem with the rest of trans that got carried over.

[2017-05-07 12:11] #41792 closed

[2017-05-07 13:16] #41783 closed

[2017-05-07 13:21] Mark-Simulacrum commented on #22290
I believe this should be fixed by the [`use_extern_macros`](https://github.com/rust-lang/rust/issues/35896) feature, once that stabilizes.

[2017-05-07 13:32] Mark-Simulacrum commented on #24210
@arielb1 Unassigning you since this isn't being worked on as far as I know.

with x:
[code]

with y:
[code]

[2017-05-07 13:47] Mark-Simulacrum commented on #24958
Neither example crashes today. Closing, since I don't see any good opportunity for a test here (it'd have to be something like `only-arm` and that's probably not worth it).

With `arm-linux-androideabi` (original example):

[code]

Updated @nagisa's example:

[code]

[code]

[2017-05-07 13:47] #24958 closed

[2017-05-07 13:49] Mark-Simulacrum commented on #34914
This has since been done, and there are numerous compile-fail tests already which mention this. Closing.

[code]

[2017-05-07 13:49] #34914 closed

[2017-05-07 13:54] Mark-Simulacrum commented on #31518
Closing in favor of https://github.com/rust-lang/rust/issues/32872.

[2017-05-07 13:54] #31518 closed

[2017-05-07 13:55] Mark-Simulacrum commented on #26925
There are also cases where `derive` is more conservative than it should be, see https://github.com/rust-lang/rust/issues/32872 and https://github.com/rust-lang/rust/issues/31518.

[2017-05-07 13:55] Mark-Simulacrum commented on #32872
Closing in favor of #26925.

[2017-05-07 13:55] #32872 closed

[2017-05-07 14:03] Mark-Simulacrum commented on #34913
This has since been fixed, in #34942, which it looks like also added a test, so closing.

[2017-05-07 14:03] #34913 closed

[2017-05-07 14:04] bluss commented on #26925
(Some contrivance ahead.)

If the bounds would be dropped when possible for existing code, the following would lose its good and intended meaning. The effect would be that `RefMut<'a, T>` were suddenly `Copy`, which is something that we imagine is not desirable, even a memory error.

[code]

[2017-05-07 14:11] Mark-Simulacrum commented on #21906
So reading the [internals thread] makes me feel like this isn't fixable (even with NLL). Can someone confirm? (@eddyb?)

[internals thread]: https://internals.rust-lang.org/t/relaxing-the-borrow-checker-for-fn-mut-self-t/3256

[2017-05-07 14:15] Mark-Simulacrum commented on #34947
Assembly produced today is correct, and as expected. Closing.

[code]

[2017-05-07 14:17] bluss commented on #26925
With that I think that even if the bounds are plain wrong, they are part of the stock recipe that one can conjure with derive, it's “part of what you order” and we can't change that backwards incompatibly.

Derive can however grow bells and whistles, like the bound customization that rust-derivative and serde offer.

[2017-05-07 14:22] Mark-Simulacrum commented on #34958
I think that `no-stdlib.md` no longer exists, and `lang-items.md` in the Unstable Book ignores all `no_std` tests. Closing.

[2017-05-07 14:22] #34958 closed

[2017-05-07 14:22] Mark-Simulacrum commented on #34506
MIR has been launched -- so keeping this open isn't all that helpful. Closing.

[2017-05-07 14:22] #34506 closed

[2017-05-07 14:41] eddyb commented on #21906
cc @rust-lang/lang

[2017-05-07 14:41] ollie27 commented on #41799
If it is currently UB then maybe #10185 needs to be reopened.

[2017-05-07 14:47] jonas-schievink commented on #10185
This has now happened

[2017-05-07 14:55] Mark-Simulacrum commented on #35008
I think this is https://github.com/rust-lang/rust/issues/21114, closing in favor of that.

[2017-05-07 14:55] #35008 closed

[2017-05-07 14:58] Yamakaky opened #41810 "[minor] replace libtest/lib.rs:FnBox by std::boxed::FnBox"
https://github.com/rust-lang/rust/blob/master/src/libtest/lib.rs#L134-L142

https://doc.rust-lang.org/std/boxed/trait.FnBox.html

I can do it if wanted

[2017-05-07 14:59] Mark-Simulacrum commented on #34947
Reopening as E-needstest. This should get a codegen test.

[2017-05-07 15:01] Mark-Simulacrum commented on #31682
I'm told that @nikomatsakis is the person to speak to why tuples aren't fundamental. @arielb1 says that they aren't sure why this is the case.

[2017-05-07 15:09] Mark-Simulacrum commented on #35007
I'm going to close in favor of https://github.com/rust-lang/rust/issues/31322, since that has a lot more discussion and seems to be a duplicate.

[2017-05-07 15:09] #35007 closed

[2017-05-07 15:19] nagisa commented on #41799
`u64::MAX` to f32 converts just fine.

[2017-05-07 15:21] Mark-Simulacrum commented on #29988
This has been fixed, we now only load 12 bytes: `{i64, i32}` instead of `{i64, i64}`. Marking as E-needstest.

[code]

[code]

[2017-05-07 15:34] frewsxcv opened #41812 "Program fails to compile with new trait implementation"
playpen: https://is.gd/asNxA7

[code]

If you uncomment that trait implementation, here's the error:

[code]

[2017-05-07 15:57] steveklabnik commented on #29378
@gamazeps I think you pinged me on IRC, but i wasn't on until you were gone. Sorry!

About `thread::park`, it contains this line "See the module documentation for more detail.". That's this: https://doc.rust-lang.org/std/thread/index.html#blocking-support-park-and-unpark

These docs really belong on park, rather than in the module, so moving it there is what I meant by "inlining." does that make s

[2017-05-07 16:09] arielb1 commented on #41812
That's to be expected. We only use traits to advance inference when we can resolve to an impl.

[2017-05-07 16:11] frewsxcv commented on #41812
Can you expand on that? I'm confused how adding a new trait implementation can cause seemingly unrelated breakage

[2017-05-07 16:19] kennytm commented on #41812
You should write `bbox.contains(self)`, not `bbox.contains(&self)`. (`&self` has type `&&BBox`.)

[2017-05-07 16:21] frewsxcv commented on #41812
@kennytm I can understand that part, but then why does it compile at all without uncommenting that block?

[2017-05-07 16:23] alexcrichton commented on #41568
@wesleywiser my recommendation would probably be to just run it directly in the sense that I'd run the old script and then the new script. If the outputs are the same then we should be good to go!

[2017-05-07 16:27] Mark-Simulacrum commented on #33077
Closing in favor of https://github.com/rust-lang/rust/issues/21934.

[2017-05-07 16:27] #33077 closed

[2017-05-07 16:30] alexcrichton commented on #34588
What I think should be done to solve this:

* Add a build script to the error index test generator and/or error index generator which probes for `diagnostic.rs` scripts throughout the repository.
* Add definition of the `register_long_diagnostics!` and `reigster_diagnostics` macro in the error index generator.
* `include!` all diagnostics, using the local deifnition of registering diagnostics.

Th

[2017-05-07 16:31] arielb1 commented on #41808
This is because const eval doesn't handle adjustments at all. I suppose this can wait until MIRI.

[2017-05-07 16:32] alexcrichton commented on #34586
I'd advocate to move the root tmp directory into the build/ directory, personally. The strategy here is to track down what's creating that dir (I'm not sure myself) and just update it to all use the build/ dir

[2017-05-07 16:34] Mark-Simulacrum commented on #28415
Not sure what I was talking about before, but today the following error is reported. I believe this indicates that `$c` is now two tokens, so accepting a single tt doesn't work. @jseyfried Can you confirm that interpretation as correct?

[code]

[2017-05-07 16:35] gamazeps commented on #29378
Yup, I copied some of them in `park`, but I will move them all if that's good with you

[2017-05-07 16:39] Kixunil opened #41813 "Compiler panics when generating documentation on full disk"
When running cargo doc, rustc panics if disk is full. Not a huge issue, just an invalid call of `.unwrap()` and since the message says it's a bug, I'm filling a report.

Error message (with removed file path):
[code]

Might be related to #20438 somehow?

[code]

[2017-05-07 16:45] alexcrichton commented on #41654
Ah yes so there's a few things at play here.

1. We don't really recommend the makefiles nowadays and would instead advocate `./x.py` invocations instead. Otherwise yes we don't currently have a way to run the make steps one at a time, hence the parallel invocations. A patch to improve that would be most welcome!
2. The `make-win-dist.py` is written to be executed in an MSYS environment, it's not

[2017-05-07 16:46] aturon commented on #41414
@scottmcm Great! Ping me or @nikomatsakis on email or IRC to get things cooking?

[2017-05-07 16:49] aturon commented on #24939
PRs welcome!

[2017-05-07 16:50] arielb1 commented on #41812
@frewsxcv

The problem is that rustc has to figure out how much autoderefs to insert in order to make the program valid. That's an "ambiguity" - the type of the expression `&self` (aka `& $0`) is `&&Bbox`, so either 0 or 1 derefs can be inserted (+1 reborrow) looking only at the type.

Because of the predicate `Bbox: Contains<$0>` must hold, having 0 derefs is not "globally" valid. However, when r

[2017-05-07 16:53] tromey commented on #29423
This has been in upstream gdb for a while now, and IMO this bug can be closed.

[2017-05-07 16:58] #29423 closed

[2017-05-07 17:16] tromey commented on #41252
The original gdb thread starts here: https://sourceware.org/ml/gdb-patches/2012-11/msg00492.html

It seems that the idea was to use producer sniffing to decide when the DWARF prologue information can be trusted; but it was done in a way that is specific to clang.  LLVM doesn't seem to mention its own presence generically in the producer; that is, for clang I see just "clang version 3.8.1 (tags/REL

[2017-05-07 17:24] cedenday commented on #41799
Yes, because the maximum value of a u64 fits in a f32 fine.

[2017-05-07 17:29] tromey commented on #29392
I looked at this today.

Upstream output is more or less the same, just more clear that pointer points to a tuple.
[code]

Dereferencing still needs a lot of typing, but it's now Rust syntax at least:
[code]

For `print *f.ptr` -- I think making that work in gdb would require gdb knowing that the type implements `Deref` (currently not in the DWARF).  And, then it might also require a non-inlined c

[2017-05-07 18:20] aidanhs commented on #40474
There are a few different locations that git is used and can fail that I'm aware of. I'll give a brief update on each of these and what their status is.

 - Initial clone
    - Rarely fails I believe (the log @Mark-Simulacrum shows above is the first I've seen to be honest). The most likely thing to fail is PR builds, due to PR branch checkouts not being shallow. I have an open PR on travis CI (ht

[2017-05-07 18:28] eddyb commented on #28415
I believe this has been fixed by one of @jseyfried's many token/macro refactors.
(Feel free to wait for proper confirmation, of course)

[2017-05-07 18:42] est31 commented on #41252
IMO gdb should check for the presence of "clang" or for "LLVM". Then all languages like Rust that use llvm can put "LLVM" into their producer string when encountering the bug. We can then kindly ask clang to include "LLVM" into its producer string as well, and long term the "clang" check in gdb can be removed some day.

[2017-05-07 18:46] #34808 closed

[2017-05-07 18:56] aidanhs commented on #34228
This is an interesting issue because it talks about the experience of users on slow connections, rather than CI (which has been my focus) - the solution I have in mind for CI (caching) doesn't end up with any benefits for users. Let's pretend "github doesn't allow shallow submodule clone" was resolved (for the sake of discussion):

 - I could imagine us accepting a PR adding a `--fast-submodule-ge

[2017-05-07 19:07] tromey commented on #41252
Yeah, that would be an improvement. I wonder though if gdb can just blacklist producers instead though. I plan to try that.

[2017-05-07 19:18] nagisa opened #41816 "“type must outlive the static lifetime” makes no sense"
For the following code

[code]

The diagnostic looks like this:

[code]

The note here makes no sense, because the static lifetime is the longest lifetime of all and cannot really be outlived. We should reword the note so it doesn’t say “outlive”.

Bonus points for explaining where the lifetime requirement comes from, because it is not entirely clear what here introduces the requirement, when the

[2017-05-07 19:21] nagisa opened #41817 "The span for “trait bound not satisfied” is weird"
For following code

[code]

The error is

[code]

Note the span is pointing at `Arbitrary`, despite error really being about the generic bound `A`. It should point at `A` instead.

[2017-05-07 19:26] willemv commented on #23818
I haven't seen anyone of the rust team react to the proposal to flush stdout when reading from stdin. It seems like a good compromise to me, because it is typically in these use cases that the non-flushing behaviour catches newcomers off-guard.

Are there any performance or deadlocking issues with this, at first glance?

[2017-05-07 20:09] nagisa commented on #32976
We can stabilise AtomicU8 and AtomicI8 the same way we have stabilised AtomicBool – by using Atomic{I/U}Size operations everywhere.

[2017-05-07 20:18] nagisa commented on #23818
Deadlocking is certainly possible and always will be. If we begin flushing implicitly, the code which relies on `stdin` operations to not take a lock for `stdout` will break.

I explained this in more depth [two years ago](https://github.com/rust-lang/rust/issues/23818#issuecomment-87763093).

[2017-05-07 20:20] Mark-Simulacrum commented on #32981
This works today, closing.

[code]

[2017-05-07 20:20] #32981 closed

[2017-05-07 20:23] ranma42 commented on #23818
@nagisa why is locking required for flushing? Concurrent writes needs mutual exclusion to avoid races, but it is not obvious that flushing requires locking as well.

[2017-05-07 20:53] Gankro commented on #10185
Sad

[2017-05-07 20:53] nagisa opened #41819 "CString should implement FromIterator"
So one could collect bytes into it.

[2017-05-07 21:04] sfackler commented on #23818
@ranma42 You need to synchronize the manipulation of the global buffer between writers and flushers.

[2017-05-07 21:09] nagisa commented on #40380
The into_boxed_* methods do not have associated tracking issue set.

Also, I really dislike the `_` between `c/os` and `str` in the method name.

[2017-05-07 21:17] clarcharr commented on #40380
Currently this is to be consistent with methods that already exist, like `as_os_str`. We could rename them and deprecate the methods with the old naming scheme, though.

[2017-05-07 21:20] ranma42 commented on #23818
I am pretty confident a lock-less flush would be possible. If this was the case, would this be an acceptable solution? In https://github.com/rust-lang/rust/issues/23818#issuecomment-169350435 I already said I would be willing to work on an implementation, if it was deemed useful and acceptable.

[2017-05-07 21:25] clarcharr commented on #40380
Also I'm confused on what you mean about them lacking a tracking issue; all of them link to here.

[2017-05-07 21:32] durka commented on #41517
I think #24010 (allowing aliases to set associated types) should be mentioned here.

[2017-05-07 22:15] nagisa commented on #23818
@ranma42 Consider this:

* thread 1 locks stdout;
* thread 1 writes half of the message;
* thread 2 flushes the stdout;
* thread 1 writes the rest of the message (without newline, so implicit flush does not happen);
* thread 1 unlocks stdout

People have half of the output and are complaining. Not entirely plausible use case, but certainly a possible one.

[2017-05-07 22:20] ranma42 commented on #23818
@nagisa wouldn't the same possibly happen even if thread 2 did not flush stdout? (i.e. in the current state of std)?

 - thread 1 locks stdout;
 - thread 1 writes half of the message (which is automatically flushed, for example because the buffer capacity is now full);
 - thread 2 initiates a read;
 - thread 1 writes the rest of the message (without newline, so implicit flush does not happen);
 -

[2017-05-07 22:32] vadimcn commented on #23818
My 2c: Let's not make perfect the enemy of good.  C's approach of flushing stdout upon reading stdin at least solves the problem for the single thread case.
Partial line flushing can already happen today, right?

[2017-05-07 22:43] devurandom opened #41821 "src/bootstrap/cc.rs: Support specifying AR in config or via environment variable"
`src/bootstrap/cc.rs` currently derives `AR` from `CC` via `build_helper.cc2ar()`. However, it would be very helpful if `AR` could be specified in `config.toml`, like `CC` can. Alternatively, it would be desirable to be able to provide the binary name via a environment variable.

[2017-05-07 22:47] leodasvacas commented on #8472
Triage: This is fixed as noted above, `stmt_expr_attributes` is stable now.

[2017-05-07 22:49] leodasvacas commented on #30385
Triage: Still a bug, no change. Could use A-typesystem tag.

[2017-05-07 23:18] nagisa commented on #40380
There’s no tracking issue linked in the stable docs, which is why I was confused.

[2017-05-07 23:22] clarcharr commented on #40380
I initially forgot to add a tracking issue before the cut, so, they're probably on the beta docs but not stable. I thought that I had gotten it in before the changes were merged but I guess not.

[2017-05-07 23:30] #8472 closed

[2017-05-07 23:48] nagisa opened #41822 "std::process::Child should provide a way to ask it to exit gracefully"
Currently the only way to terminate children processes early is to use `kill` which is specified to send `SIGKILL`. Sending `SIGKILL` is way overkill and in most cases should not be done. Instead `SIGTERM` should be used.

A method which terminates children processes gracefully should be provided.

[2017-05-08 00:07] Mark-Simulacrum commented on #41776
fe151194e9a919ab23c2bb356767a5cbfa3811e7 is the commit which broke this, PR #40597.

[2017-05-08 00:38] retep998 commented on #41822
Would this API be cross platform, and if so, how would it be implemented on Windows?

[2017-05-08 00:40] nagisa commented on #41822
I’m not sure, but I’m sure Windows’ task manager has both ability to "kill" the process (equivalent of SIGKILL) and "terminate" the process (equivalent of SIGTERM).

[2017-05-08 00:42] nagisa commented on #41822
Hmm, I might be misremembering something, because I do not see anything similar anymore, but I’m sure there were at least two ways to "terminate" a process in task manager.

[2017-05-08 01:01] frewsxcv commented on #41819
what happens if the last item isn't a null byte?

[2017-05-08 01:16] ofek commented on #38584
Just fyi everything works fine (for me, Windows 7) with standalone VS 2017 C++ Build Tools http://landinghub.visualstudio.com/visual-cpp-build-tools

[2017-05-08 01:56] comex commented on #26925
*If* there's a good way to make derive do the right thing, the backwards incompatibility issue sounds like the kind of thing epochs could handle.

[2017-05-08 02:03] InsidiousMind opened #41823 "Cannot Relate Bound Region on const in Trait, compiler panic"
I tried this code:

[code]
The repo with this exact code is here: https://github.com/InsidiousMind/smpd/tree/e4e5842ee6c80f3d7e8319c4ceecdb3b0ef36c8f

the file being: https://github.com/InsidiousMind/smpd/blob/e4e5842ee6c80f3d7e8319c4ceecdb3b0ef36c8f/SPC_DSP/src/SPC_DSP.rs

The code i added was the `const m:State<'a> = State::new()` (specifically panicked at the lifetime, 'a. Did not expect this c

[2017-05-08 02:14] mikeyhew commented on #24111
I don't see a strong argument that private helper functions shouldn't be implicitly `const`, when possible. I think @solson was saying that making `const` explicit, even for helper functions, forces the programmer to pause and consider whether they want to commit to that function being `const`. But if programmers are already required to think about that for public functions, isn't that enough? Wou

[2017-05-08 02:15] Mark-Simulacrum commented on #41806
Seems to be caused by 84be2df0e9dac63a4e730c4f5652deb872060ad8 (#41236), cc @cengizIO. Note: This may be wrong, experimental bisect tool used.

[2017-05-08 02:28] Mark-Simulacrum commented on #41805
Introduced in 910c4816fdee01a1299d11a5e85ebb4aceee6d1a -- rollup PR #41246. Most likely caused by #41232, cc @arielb1

[2017-05-08 02:31] rschulman commented on #38805
Is wasm support broken in the latest versions? I've got `rustc 1.18.0-nightly (3b5754e5c 2017-04-10)` and
`emcc (Emscripten gcc/clang-like replacement) 1.37.12 (commit ccaf4e74fa9abf51cff8d1d4823f0b4d84bf3eab)` and doing a `cargo build --target=wasm32-unknown-emscripten` on a generic "Hello, world" is giving me a standalone javascript file in the output directly, but no .wasm file to be found anyw

[2017-05-08 02:32] Mark-Simulacrum commented on #41803
Introduced by fe151194e9a919ab23c2bb356767a5cbfa3811e7 -- https://github.com/rust-lang/rust/pull/40597, cc @jseyfried

[2017-05-08 02:46] Rufflewind commented on #41453
Moved to: https://github.com/rust-lang/rfcs/issues/1995

[2017-05-08 02:46] #41453 closed

[2017-05-08 02:56] zombiefungus commented on #41701
isn't this issue closed now?

[2017-05-08 02:56] Mark-Simulacrum commented on #41798
da32752d92589e99feab80921b9eecb6090cf310 -- rollup PR https://github.com/rust-lang/rust/pull/41237

Most likely caused by struct reordering: https://github.com/rust-lang/rust/pull/40377.

[2017-05-08 03:19] Mark-Simulacrum commented on #41797
Rust commit: 910c4816fdee01a1299d11a5e85ebb4aceee6d1a (looks like bug isn't here)

Cargo commit: https://github.com/rust-lang/cargo/commit/c416fb60b11ecfd2a1ba0fb8567c9a92590b5d28, which seems correct. https://github.com/rust-lang/rust/issues/40955 is the stable/nightly issue, https://github.com/rust-lang/rust/pull/41166 is the PR updating cargo submodule to fix this, which probably needs to be ba

[2017-05-08 03:26] Mark-Simulacrum commented on #41796
84be2df0e9dac63a4e730c4f5652deb872060ad8 -- #41236 (second time)

[2017-05-08 03:43] durka commented on #41819
@frewsxcv I assume it would add one, just like `CString::new` does.

[2017-05-08 03:44] nagisa commented on #41819
In fact, I believe that it should mirror the behaviour of `CString::new` and panic if iterator yields any null bytes at all.

[2017-05-08 03:45] durka commented on #41819
Yeah, `CString::new` returns an error actually, so it kinda sucks if the `FromIterator` impl has to panic. We can't `impl FromIterator for Result<CString, NulError>`, can we?

[2017-05-08 03:46] nagisa commented on #41819
I wonder. We have a way to collect into `Result<_, _>`. Might conflict with that one.

[2017-05-08 03:49] durka commented on #41819
Seems to be incoherent, unfortunately.

[2017-05-08 03:59] durka commented on #41819
Nevermind, if the impl were in `core::iter` it [seems to work](https://is.gd/T0QSJz).

[2017-05-08 03:59] Mark-Simulacrum commented on #41701
Oh, wait, not the pull request is still open.

[2017-05-08 08:54] CryZe commented on #38805
It was broken in these versions but it has been fixed for a few weeks now.
Try updating your compiler.

Ross Schulman <notifications@github.com> schrieb am Mo. 8. Mai 2017 um
04:32:

[2017-05-08 09:14] arielb1 commented on #41805
This looks correct. After all, this variant does not work on stable too:

[code]

I don't think you can actually *implement* this on an unsized type, however.

[2017-05-08 09:29] michaelwoerister commented on #41798
Yes, that seems very likely. I'll try if `repr(C)` will fix this before the next triage meeting.

[2017-05-08 10:10] michaelwoerister commented on #41798
This was indeed caused by struct reordering and is not a regression since the code relies on C memory layout but did not specify `repr(C)`. Closing.

[2017-05-08 10:10] #41798 closed

[2017-05-08 11:22] arielb1 commented on #41801
Why did struct field reordering make things *increase* in size?

[2017-05-08 11:48] kennytm commented on #41801
@arielb1 The test was checking `assert_eq!(size_of::<Parser>(), 88)`, and the LHS is reduced to 80 in beta.

[2017-05-08 12:07] stnma7e opened #41825 "Confusing error message with derived Traits"
I was trying to drain a referenced HashSet into a Vec to sort it before another operation,

[code]

but when I tried to clone the HashSet so that I could mutate it, this error appeared.

[code]

After cloning the HashSet I assumed that I should be able to use it in a moved, mutable context, so I tried to foce the type of the variable in the declaration, which gave me this error:

[code]

The issue

[2017-05-08 13:08] carols10cents commented on #40474
Not sure if this is what @aidanhs's travis-ci/travis-build#1020 will fix or not but wanted to track: https://travis-ci.org/rust-lang/rust/jobs/229744891 (about to retry so not sure if that link will remain valid):

[code]

[2017-05-08 14:15] carols10cents commented on #40672
I think I'm seeing some instances of this. Not sure if these links will stick around so taking screenshots.

On [Build #52099](https://travis-ci.org/rust-lang/rust/builds/228742236), I see 4 apple builds with a ❗️ status:

<img width="957" alt="screen shot 2017-05-08 at 10 12 50 am" src="https://cloud.githubusercontent.com/assets/193874/25808077/f603cec6-33d6-11e7-99ae-fca45a7650a4.png">

[Job #52

[2017-05-08 14:23] arielb1 commented on #41801
@kennytm

Missed that we're talking about 0.6.0 rather than the most recent 0.7.0. In that case, smaller structs are better, aren't they?

[2017-05-08 15:10] nagisa commented on #10185
We *already* have an issue for this (https://github.com/rust-lang/rust/issues/41799) which also has some code to reproduce the issue. Re-closing this as duplicate.

[2017-05-08 15:10] #10185 closed

[2017-05-08 15:11] nikomatsakis commented on #41755
OK, so, reading a bit *more* into that code, I see that it's use of `Binder` is a bit... icky (I can say that since I wrote it). But I'm just going to go with it. Here is a slightly more detailed account of what needs to be changed:

In `deduce_expectations_from_expected_type()`, when we match a `TyFnPtr(sig)`, this variable `sig` will be a `PolyFnSig<'tcx>`. This means that it's a **function sign

[2017-05-08 15:14] nagisa commented on #35118
We’ll have to figure out https://github.com/rust-lang/rust/issues/41799 before stabilising.

[2017-05-08 15:17] nagisa commented on #41799
Cross-linking https://github.com/rust-lang/rust/issues/10184.

[2017-05-08 15:18] Manishearth commented on #10184
Throwing another proposal into the mix: Mark u128 casts to floats as unsafe and force folks to explicitly choose a way of handling it. u128 is pretty rare currently.

[2017-05-08 15:24] nagisa commented on #10184
@Manishearth I’d hope for similar semantics integers → floats as floats → integers. Since both are UB-ful, and we cannot make float→integer unsafe anymore, we should probably avoid making integer→float unsafe as well.

For float→integer saturating will be faster AFAICT (resulting in a sequence of `and` and test+jump). I personally couldn’t care less for what exact behaviour we decide on as long as

[2017-05-08 15:27] CryZe commented on #10184
Wouldn't it make sense to make it behave like overflow? So in a debug build it would panic if you do a cast with undefined behaviour. Then you could have methods for specifying the casting behaviour like `1.04E+17.saturating_cast::<u8>()`, `unsafe { 1.04E+17.unsafe_cast::<u8>() }` and potentially others.

[2017-05-08 15:31] Manishearth commented on #10184
Oh, I thought the issue was only for u128, and we can make that unsafe both ways.

@cryze UB should not exist even in release mode in safe code. The overflow stuff is still defined behavior.

That said, panic on debug, and <some safe solution> on release would be great.

[2017-05-08 15:34] ollie27 commented on #41799
Don't forget #15536.

[2017-05-08 15:36] oli-obk commented on #38564
This has now a

[2017-05-08 15:42] Gankro commented on #10184
This affects:

* `f32 -> u8, u16, u32, u64, u128` (`-1f32 as _` for all (?), `f32::MAX as _` for all but u128)
* `f32 -> i8, i16, i32, i64, i128` (`f32::MAX as _` for all)

f64 is even bigger, so `f64::MAX` is out of bounds for all integers, and thus UB.

[2017-05-08 15:43] durka commented on #41822
At least there used to be separate "End Task" and "End Process" options. It seems the difference is [closing windows vs terminating the process](https://serverfault.com/a/151788).

[2017-05-08 15:45] durka commented on #41819
Thinking about it more, that doesn't seem quite fair to crates. We might want a `TryFromIterator` RFC.

[2017-05-08 15:52] nagisa commented on #10184
`f32::INFINITY as u128` is also UB

[2017-05-08 15:54] dwrensha commented on #41807
Related cargo-fuzz pull request: https://github.com/rust-fuzz/cargo-fuzz/pull/32

[2017-05-08 16:02] jwilm opened #41829 "Incremental compilation fails on clean build of Alacritty"
I received [a report] recently that Alacritty fails to compile when using `CARGO_INCREMENTAL=1`.

Repro instructions (courtesy of @mindriot101)

[code]

The master sha at time of writing is cbabef36edd39e179391685bc9368d92df1d5a01.

I've attached the build log in case it's of use. It's *quite* large at a whopping 2.1MB. Appears to have failed spectacularly during linking.
[build.txt](https://githu

[2017-05-08 16:07] nikomatsakis commented on #41727
Minimal reproduction:

[code]

Not yet sure which PR is at fault, but #40570 still seems like a likely candidate. Note that the inference here is extremely fragile; removing the `collision = collision.map_or...` line and just changing to `collision.map_or(...)` breaks it, for example. So it could be that we changed the order of unifying the return types or something else.

@thiolliere -- btw, you

[2017-05-08 16:12] jonhoo commented on #41829
I believe this is a dupe of #40034.

[2017-05-08 16:31] mikeyhew commented on #41182
I ran into this bug last night. My case is similar to others.

@Zalastra's first example can be fixed using separate lifetime parameters for the argument and the return value:

[code]

[2017-05-08 16:33] tommyip commented on #39635
I would like to take this issue. So should we have the SHA length set to 9 for both rustup and cargo?

[2017-05-08 16:48] nikomatsakis commented on #41727
OK, so, I **think** the problem is specifically due to me fixing https://github.com/rust-lang/rust/issues/18653 (as part of #40570). I believe what's happening is that, when we call `map_or`, we have an expected result of `Option<?A>`. We deduce an expected type for the first argument of `Option<?B>` -- I suspect we used to deduce `Option<?A>`. In any case, the type of `Some(22_u32)` doesn't wind

[2017-05-08 16:54] alexcrichton commented on #41607
@tspiteri ah yes sorry, I forgot about that! Cargo indeed does not run doctests on "cross compiles", e.g. where the host is not the exact same as the target.

@vadimcn yeah I'm not sure what the best solution is here. I think your diagnosis is indeed correct though! FWIW I think we pass `-lgcc_eh` everywhere before because it was defined with the "dylib" link kind in the panic_unwind crate (or std

[2017-05-08 17:31] Ericson2314 commented on #29634
Sorry to hijack a bit, but are any of the others currently stable? I'd like to get a definitive list of what would benefit from a general solution to the "needs provides" problem.

[2017-05-08 18:17] jleedev commented on #25507
This particular error pops up on me occasionally, so I have some more insight/complaints about my example. Let `it: &Option<X>`:

These three all give "cannot move out of borrowed content":

    it.unwrap();
    *it;
    Option::unwrap(*it);

But this gives "expected type `std::option::Option<_>`, found type `&std::option::Option<X>`", which I think is more in line with my intent.

    Option::unw

[2017-05-08 18:21] oyvindln opened #41831 "Boxed array initialisation with Box::new does not seem to optimise properly"
One would expect that the compiler would be able to avoid putting a temporary array on the stack when creating a boxed array, at least in release mode. However this doesn't seem to be the case at the moment.

Looking at [this example](https://play.rust-lang.org/?gist=1251a52617638d1b271a2166dc320325&version=nightly&backtrace=0) one would expect `Box::new([100;100])` to produce a similar assembly o

[2017-05-08 18:21] jseyfried commented on #28415
@Mark-Simulacrum  Yeah, that interpretation is correct -- that changed was caused by fixing #39403 in #39419.

[2017-05-08 18:28] vadimcn commented on #41607
Well, it does work with pure-Rust software.   The more complex projects usually do end up with C components, but this is by no means universal.

As far as I'm concerned, the primary reason for pc-windows-gnu is to have a toolchain that does not depend on any 3-rd party software.  See, for example, how pc-windows-msvc toolchain got borked by VS2017 changing its install directory structure.

I'm try

[2017-05-08 18:30] nikomatsakis commented on #27054
Yes, MIR would've fixed this.

[2017-05-08 18:31] nikomatsakis commented on #27868
Well, we're not yet running the borrowck on MIR, so I'm not sure.

[2017-05-08 18:31] nikomatsakis commented on #27868
But certainly the example seems to work ok now.

[2017-05-08 18:32] nikomatsakis commented on #32796
It's so clearly useful... I think I'd be against trying to remove it. But I'd like to know the current status too.

[2017-05-08 18:39] #28415 closed

[2017-05-08 18:40] nikomatsakis commented on #21906
This is indeed NLL and, if I'm not mistaken, it would be fixed by the various proposals that I have made. This roughly corresponds to "problem case \#3" from [my first blog post](http://smallcultfollowing.com/babysteps/blog/2016/04/27/non-lexical-lifetimes-introduction/). The basic idea (in terms of [the formulation from the latest blog post](http://smallcultfollowing.com/babysteps/blog/2017/02/21

[2017-05-08 18:42] nikomatsakis commented on #10184
Keep in mind that `as` conversions never panic at present (we don't do overflow checking with `as`, for better or worse).

[2017-05-08 18:47] nrc opened #41832 "Rust 1.19 regression: compiler hangs at 100% CPU compiling syntex"
Reported here: https://github.com/rust-lang-nursery/rustfmt/issues/1517

Hangs at env_logger when compiling Rustfmt, I suspect it is one of the syntex crates, rather than env_logger causing problems. Reported on x64 and ARM (both Linux). I couldn't reproduce on x64 Linux.

[2017-05-08 18:47] nikomatsakis commented on #41727
OK, I did a build before #40570, and my hypothesis is correct: `expected_inputs_for_expected_output()` was (incorrectly) forcing the return type to be equal to the input type. However, the current behavior seems a bit *looser* than it has to be, too. If we preserved the subtyping predicates, then this example would work again. But somehow that makes me nervous. Trying to put my finger on why.

[2017-05-08 18:47] nikomatsakis commented on #29634
@Ericson2314

other whats?

[2017-05-08 18:50] cramertj commented on #29634
@nikomatsakis The entry points `#[start]`, `#[lang = "start"]`, and `#[main]`. I think @Ericson2314 was referencing [this comment](https://github.com/rust-lang/rust/issues/29634#issuecomment-260497562).

[2017-05-08 18:51] nikomatsakis commented on #41712
I don't know that dependencies "fall out" from the query interface in particular -- first off, these are "linear" queries (since we don't want to be copying the MIR interface). So if you "demand" the result of a query, and someone else does, you'll get an error (this all depends on how we model linear queries, I suppose, which is https://github.com/rust-lang/rust/issues/41710).

[2017-05-08 18:54] nikomatsakis commented on #25633
@Mark-Simulacrum current output for this example:

[code]

In a sense, I think this issue is fixed, though we decided to punt on figuring how to display the "partial type information" we have available.

[2017-05-08 18:55] nikomatsakis commented on #34326
I think we should probably just close this, I feel like the future of how MIR opts should look is a bit too unclear (let me know if anyone disagrees).

[2017-05-08 18:55] #34326 closed

[2017-05-08 18:55] nikomatsakis commented on #39817
@est31

I would think we would generate a wrapper for the closure's (internal) function.

[2017-05-08 18:57] nikomatsakis commented on #34421
Nominating for prioritization.

[2017-05-08 19:00] nagisa commented on #41822
So, let me describe the primary difference between SIGKILL and SIGTERM. SIGTERM and SIGKILL by default both terminate the process immediately. The difference between them, however, is that you can register a signal handler for SIGTERM and ignore the signal (or do some cleanup before quitting). You cannot register a signal handler for SIGKILL.

In that sense [`TerminateProcess`](https://msdn.micros

[2017-05-08 19:03] nagisa commented on #41831
Duplicate of https://github.com/rust-lang/rust/issues/41160

[2017-05-08 19:03] #41831 closed

[2017-05-08 20:03] Xion opened #41834 "Comma after struct expansion is a syntax error"
On rustc 1.17:

[code]

(playground link: https://is.gd/2wvenA)

This feels very inconsistent, as Rust has no problems with extra commas anywhere else. It is also an extremely "natural" mistake to make, so even if it's rightly signaled & easily corrected, it is still quite annoying.

[2017-05-08 20:05] retep998 commented on #41822
The problem with `ExitProcess` is that you cannot invoke it on another process. Sending a `WM_CLOSE` if the application has a window registered, or generating a console ctrl event if it doesn't, is probably the best option for requesting that the application exit.

[2017-05-08 20:05] comex commented on #10184
FWIW, the "kill undef" thing would, in fact,  provide a way to fix the memory unsafety, but leaving the result nondeterministic.  One of the key components is:

poison.  If the input is poison, then it returns an arbitrary, but fixed,
value. (like old undef, but each use gets the *same* value), otherwise it
just returns its input value.

The reason undefs can be used to violate memory safety today

[2017-05-08 20:11] brson commented on #41804
Thank you for investigating @meqif. Sounds like there's nothing left to do here.

[2017-05-08 20:11] #41804 closed

[2017-05-08 20:19] brson commented on #41796
@vbarrielle let's see if it's a bug on our side before you work around it.

[2017-05-08 20:31] jonhoo opened #41835 "No nightly last night?"
It looks like [no nightly](https://rusty-dash.com/nightlies) was released for 2017-05-07, and there were also no build failures? A new version *was* pushed to `dev-static`, but not to `static`:
[code]

[2017-05-08 20:34] #41835 closed

[2017-05-08 20:35] nagisa commented on #41835
Feel free to reopen if nightlies do not go in the right place again.

[2017-05-08 20:37] Mark-Simulacrum commented on #25633
Though to me it's relatively obvious, so I might be inferring too much here, I think it would be amazing if we change "cannot infer type for `T`" to `cannot infer type for `T` in Vec<T>`. That would make it clear where the generic is, since it's not always easy to tell from the function, and the user code shown has no `T` anywhere.

I'm fine with closing this if we disagree, though.

[2017-05-08 20:38] nagisa commented on #41822
@retep998 it is still windows kernel that is ultimately running these processes and difference in handling `SIGTERM` and `SIGKILL` *has* to be handled somehow.

[2017-05-08 20:57] isislovecruft commented on #41799
Hi! Sorry if this is a stupid suggestion… but as someone who uses u128 (in several cryptographic libraries) and doesn't use floats, I wonder how many `u128` users actually need safe casting to floats? Is this something one would do in graphics development? If there isn't much use for it, perhaps a simple fix would be to disallow `42u128 as f32` casts, i.e. they should have to first cast to `u64`.

[2017-05-08 21:13] retep998 commented on #41822
@nagisa The windows kernel itself does practically nothing. The Windows executive will destroy the process object when asked via `NtTerminateProcess`, but to do a softer request for the process to gracefully exit involves the win32 or WSL subsystem. The win32 subsystem is where `WM_CLOSE` and console ctrl events are handled, and the WSL subsystem is where signals are handled.

[2017-05-08 21:26] nikomatsakis commented on #34430
Related, certainly. In general we don't really normalize under binders (Yet! Coming Soon, I hope!) which leads to a lot of problems.

[2017-05-08 21:49] jwilm opened #41839 "Non-optimal derived PartialEq for POD struct"
Given a struct like

[code]

I would expect generated asm to be doing a dword comparison to check for equality. However, that's not what is seen unless explicitly transmuting before the comparison: https://godbolt.org/g/kYPaOh.

Is this an optimization we should expect to be handled automatically?

[2017-05-08 21:49] jrmuizel commented on #41775
Here's the [object](http://people.mozilla.com/~jmuizelaar/tmp/gkrust-bcbb9c2502fcc111.0.o) that has the bad debug info

[2017-05-08 21:51] Valloric commented on #41839
I'd say this is a fairly important missed optimization.

[2017-05-08 22:39] rschulman opened #41841 "Compiling to Webassembly quickly fills up available RAM and crashes computer"
When compiling to wasm on a Dell XPS 13 running Ubuntu 16.10, rustc begins using more and more RAM until the computer begins thrashing and eventually becomes unusable.

rustc version: `rustc 1.19.0-nightly (f4209651e 2017-05-05)`

Judging by the `--verbose` output, cargo doesn't even get as far as calling `emcc` before compilation gets bogged down.

Happy to help debug further.

[2017-05-08 22:40] brson commented on #41841
@rschulman does this happen when compiling any code base or a specific code base?

[2017-05-08 22:43] rschulman commented on #41841
@brson It has happened on both a bog-simple Hello world (literally just the file that cargo deposits for you) as well as a more complex program with SDL and mouse interaction.

[2017-05-08 23:04] rschulman commented on #41841
One other note is that I *believe* this happens on Linux but not OS X. I'm pretty sure I compiled something to wasm on my work laptop with this same configuration but I will have to check tomorrow when I'm back at work.

[2017-05-09 00:56] rschulman commented on #41841
Update: Doing a `cargo clean` in the Hello World directory and building again was successful. Trying the same in the SDL/mouse program was NOT successful, however. Building there still failed.

[2017-05-09 01:22] Mark-Simulacrum commented on #32300
@fivejjs Could you check if this happens today?

[2017-05-09 01:29] Mark-Simulacrum commented on #35045
Judging by https://forge.rust-lang.org/platform-support.html, I believe that this is a tier 3 target today. @alexcrichton Are we interested in tracking "we want X target"? It feels like the kind of thing where tracking it isn't all that helpful, though I could be wrong.

[2017-05-09 01:38] Mark-Simulacrum commented on #35065
This appears to work today. I think it could use a run-make test, so E-needstest.

[code]

[2017-05-09 02:24] Firstyear commented on #39699
Hi,

If I understand this issue, you would like to block certain -Z features from coming to stable rust. Sanitisers seems to be one of these. We have a very good use case for them though. When you have a C + Rust with FFI, and the C code is linked to libasan, the rust component will fail to link as it's missing libasan. For us it's important to get sanitisers into rust stable as we have an extensi

[2017-05-09 03:03] F001 commented on #41834
I agree this is annoying and need to be fixed.
@petrochenkov , I guess this minor issue doesn't require RFC process, right?
This issue seems related to https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L2369 . I'll submit a fix soon.

[2017-05-09 03:40] alexcrichton commented on #35045
Nah we typically haven't tracked this in the past, although it would be good to know what are the "most popular" candidates for promotion/demotion among tiers

[2017-05-09 03:45] Mark-Simulacrum commented on #35045
Okay, I'm going to close in that case. If author is still interested, I'd recommend starting a thread on internals.rust-lang.org to gather interest and then propose changes in an issue here with a link.

[2017-05-09 03:45] #35045 closed

[2017-05-09 05:58] #22597 closed

[2017-05-09 05:58] #40624 closed

[2017-05-09 05:58] #41726 closed

[2017-05-09 05:58] #41742 closed

[2017-05-09 05:58] #41774 closed

[2017-05-09 05:58] #41755 closed

[2017-05-09 06:20] yggie commented on #41806
simplest reproduction of the problem based on my codebase: https://is.gd/5JTVVw, looks like it has trouble inferring the types when using a temporary variable

[2017-05-09 06:39] azriel91 opened #41849 "Rust 1.19 regression: cyclic reference detected for rusttype"
Prior to `rustc 1.19.0-nightly (f1140a331 2017-05-08)`, [rusttype](https://crates.io/crates/rusttype) 0.2.1 could compile okay. Now it gives the following error:

[code]

*Steps to reproduce:*

[code]

A minimal example that reproduces this (playpen's nightly is still on `f4209651e 2017-05-05` so it compiles):

[code]

I have no idea why that reproduces it; I broke my brain coming up with that cod

[2017-05-09 07:10] kennytm commented on #41801
@arielb1 This should be an expected implementation breakage.

[2017-05-09 07:36] rkruppe commented on #41849
cc @nikomatsakis looks like fallout from a recent query-fication.

[2017-05-09 08:01] #41801 closed

[2017-05-09 08:03] rkruppe commented on #41839
It seems that this optimization simply doesn't exist in LLVM today. The IR we generate seems conductive to such a transformation: we're loading and comparing i8s (though this is partly due to a workaround for an optimizer bug), the loads have range metadata (and it's preserved through the optimization pipeline), the `&Foo` arguments have the `dereferencable(4)` attribute, etc.

However, there's an

[2017-05-09 08:30] Nickforall opened #41850 "Avoid having both primary and secondary underlines on the same spans by supporting multiple primary errors."
While working on #41256, @jonathandturner proposed a specific syntax for having multiple primary errors on one line, like the example below. This required changes to the way the `DiagnosticBuilder` works and since I don't have enough knowledge of the codebase I am writing this follow-up issue.

An error with multiple unused arguments will look like the example below after merging #41256.

[code]

[2017-05-09 09:36] F001 commented on #41568
@alexcrichton , Are there other scripts need to be rewritten? I am glad to contribute too.

[2017-05-09 10:09] Thinkofname opened #41851 "Moving into a closure within a loop produces a confusing error message"
I was helping someone out and they encountered the following error produced by (reduced) code like this:
[code]
[code]

The error makes no reference to the loop which is why the value can't be moved due to it being moved in an previous iteration.
Removing the closure gives a much clearer error about the problem.

[code]

[2017-05-09 10:20] arielb1 opened #41852 "improve "method `XYZ` exists but the following trait bounds were not satisfied" error"
The error message has several problems:

## No obligation deduplication:

[code]

This gives the following error:
[code]

The 2 errors - `[closure@<anon>:2:33: 2:41] : std::ops::FnMut<(&_,)>` and `std::iter::Filter<std::option::IntoIter<()>, [closure@<anon>:2:33: 2:41]> : std::iter::Iterator` - are implied by the same cause, which is also an existing error. There's no reason to report both of them

[2017-05-09 10:28] arielb1 commented on #41852
## And-or tree flattening

For example (thanks @insaneinside):
[code]

We report this:
[code]

Somehow candidates from multiple arms of the and-or tree get mixed up.

[2017-05-09 11:09] arielb1 commented on #41727
@nikomatsakis

I think we had that discussion on the PR - "this function is already a total hack, but I'm afraid this makes behavior depend on the mood of the union-find algorithm: if a set of (possibly-preexisting) type variables is equated and returned, we'll return one of them "at random""

[2017-05-09 11:16] infinity0 commented on #40557
Confirmed this bug exists on 1.17.0 with Debian GDB 7.12-6 and that @nodakai's patch works, thanks!

[code]

[2017-05-09 11:20] qnighy commented on #41834
Just for remark: the `...` in `extern "C" { fn foo(x: &str, ...); }` doesn't allow a trailing comma either (in current Rust stable/nightly). I like the trailing comma for struct update syntax though!

[2017-05-09 11:25] gamazeps commented on #29378
@steveklabnik what exactly do you have in mind for the documentation of `thread::spawn`, the only thing I could thing of is to add more examples and a link to `thread::Builder` for 'advanced' use.

[2017-05-09 11:36] est31 commented on #40204
With #41838 merged, this issue seems to be resolved. @nikomatsakis  does this issue need a regression test or can it be closed?

[2017-05-09 11:37] arielb1 commented on #40204
duplicate of #40000.

[2017-05-09 11:37] #40204 closed

[2017-05-09 12:45] vrusinov opened #41855 "./x.py dist --install doesn't warn that --install does nothing(?)"
I can't seem to be able to build 1.17.0 from source:

[code]

Here's what happens:

[code]

I.e. it seems like it ignores stuff from config.toml (in $CONFIG of my script) and 'dist --install' just repeats build with default config.

[2017-05-09 13:25] coder543 commented on #39446
Just bumping this issue, it looks like GCC has issued a performance fix for this: https://www.phoronix.com/scan.php?page=news_item&px=GCC-Inefficiency-Fix-67

[2017-05-09 14:18] oli-obk opened #41858 "suggestion prints expanded macros"
should be

at the minimum. Even better would be to suggest `*s` for the `s` on the lhs of the assignment.

[code]

produces

[code]

[2017-05-09 14:45] steveklabnik commented on #29378
@gamazeps I think pointing out the `'static` constraint is a good idea, as well as `Send`, and talking about why those things exist. Maybe even calling out to the idea of "scoped threads", and linking to https://crates.io/search?q=scoped%20threads is okay...

[2017-05-09 14:48] alexcrichton commented on #41568
@F001 if you're *super ambitious* there's also `src/etc/platform-intrinsics/generator.py`. That's a relatively complicated script and generates the `src/librustc_platform_intrinsics` crate, although with Cargo and build scripts now we could generate that all at build time instead of checking in generated sources.

If you're interested in tackling that one I could make a tracking issue separately t

[2017-05-09 15:04] gamazeps commented on #29378
@steveklabnik do you want me to add this to #41854 ? Or in another PR ?

[2017-05-09 15:46] steveklabnik commented on #29378
Either works; whatever is more convenient for you 😄

[2017-05-09 15:53] gamazeps commented on #29378
I usually prefer to get things merge as soon as possible, but I have no strong opinions about that.

Once the current PRs are merge I think we can tick off:

- Thread has very little and very boring docs.
- panicking could use some more advice on when to use this.
- park should have its module documentation inlined here, and cleaned up.
- park_timeout could use links to park

I'll add a part on `S

[2017-05-09 16:11] cuviper commented on #39699
FWIW, it's not just certain -Z features, but -Z as a whole being blocked as unstable now.

[2017-05-09 16:21] rschulman commented on #41841
Another update: This does NOT occur on my Macbook Air at my office.

One possibly important note: The build folder is shared across architectures between Mac and Ubuntu.

[2017-05-09 16:27] steveklabnik commented on #29378
Sounds wonderful! Thank you so much for all your work here.

[2017-05-09 17:24] GuillaumeGomez commented on #41816
I'll fix the simple version.

[2017-05-09 18:09] alexcrichton commented on #41832
Hm are we sure that's a regression? It looks a lot like the "this is actually compiling syntex_syntax and that takes forever" rather than hanging at env_logger

[2017-05-09 18:10] sgrif commented on #33094
@Mark-Simulacrum I disagree. The fact that the "real" error message is hidden behind `<T as Trait>::method`, which most people wouldn't even think to try (especially newer developers) is extremely confusing. This is particularly bad when dealing with crates like tokio or diesel, which will produce extremely large types, meaning the only real way to get it is `<_ as Trait>` which is even more obscu

[2017-05-09 18:12] alexcrichton commented on #41821
Makes sense to me! Should be relatively easy to implement, and if anyone's interested in doing so I don't mind helping out!

[2017-05-09 18:16] SimonSapin commented on #27753
This was removed without any replacement :(

[2017-05-09 18:17] SimonSapin commented on #27753
To clarify, since the first message of this thread mentions `i32`, I only care about one `const` for the size of `usize`/`isize`/pointers, since that’s the only one that changes per platform.

[2017-05-09 18:23] GuillaumeGomez commented on #41810
Then go ahead. :)

[2017-05-09 19:30] nikomatsakis commented on #41849
triage: P-high

[2017-05-09 19:40] nikomatsakis commented on #41796
Possibly related to #41677

[2017-05-09 20:10] Yamakaky commented on #41810
Waiting for https://github.com/rust-lang/rust/pull/41815 to be merged

[2017-05-09 20:13] nikomatsakis commented on #41727
TL;DR -- I'm inclined to call this a "not fix". It is a result of fixing #18653, which was a bug where inference would not give itself the required "degrees of freedom" in some cases to find a correct solution. As a result of this, we were able to (correctly, in this case) propagate type information from the return value to the expected input types more aggressively in the older compiler than we d

[2017-05-09 20:23] nikomatsakis commented on #41805
I agree that the new error seems correct.

[2017-05-09 20:37] nagisa commented on #41816
In addition to everything, the span is pretty bad. The type which must satisfy any of the lifetimes here is the implementor, not the trait.

[2017-05-09 20:45] nagisa commented on #31436
I’m -1 on having `catch` blocks at all, when they are much more concise already with the closures.

[2017-05-09 20:47] juanibiapina commented on #41832
Found this issue but when I came back to the terminal I saw that the compilation had finished after about 6 minutes.

[2017-05-09 20:52] nikomatsakis commented on #41806
I'm pretty sure this is actually the same as #41677. Will verify.

[2017-05-09 20:53] nikomatsakis commented on #41806
I can confirm that https://github.com/rust-lang/rust/pull/41716 fixes this problem in my local tests.

[2017-05-09 20:57] nikomatsakis commented on #41796
Good news, this seems to build on my PR https://github.com/rust-lang/rust/pull/41716, which is a fix for #41716.

[2017-05-09 21:46] spirali opened #41865 "Confusing error message when using CellRef"
Hello,

It took me some time to understand the following problem.

The following code ends with error:
[code]

[code]

However, the similar construction works in many other situation and a natural fix (let sb : &S =  &s.borrow();) does not work. I was not able to understand the problem until @gavento pointed out that the problem is with ``use std::borrow::Borrow;``. When the line is removed, the c

[2017-05-09 21:50] mbrubeck commented on #37649
Duplicate of #15747.

[2017-05-09 21:50] #37649 closed

[2017-05-09 22:11] Mark-Simulacrum commented on #41849
Bisected to 42a4f373c9bcb819b4485c97ef0df4b7d7fe98c5 -- rollup #41773, probably https://github.com/rust-lang/rust/pull/41734. (confirming that it's probably fallout from queryfication).

[2017-05-09 22:14] Mark-Simulacrum opened #41866 "Collecting into a PathBuf from Iterator<Item=Component> is hard."
See discussion here: https://github.com/rust-lang/rust/pull/41531.

To summarize, the following should work, but currently doesn't. It's likely that implementing `impl<P: AsRef<OsStr>> FromIterator<P> for PathBuf` would solve this, but I haven't tested.

[code]

[2017-05-09 22:27] cengizIO commented on #32175
Hello
Any updates? I've just bumped into this.

cc @steveklabnik

[2017-05-09 22:34] steveklabnik commented on #32175
hey @cengizIO 👋

Not yet, no. There's some linked issues/PRs in the comments above, but it has not yet been fixed.

[2017-05-09 22:44] SimonSapin commented on #15747
https://github.com/rust-lang/rust/issues/37649#issuecomment-259175327

[2017-05-09 23:06] clarcharr commented on #33417
I actually really like the idea of:

[code]

Because anyone who wants `TryFrom<Error=!>` can implement it, but people can still implement `From` if they like. Perhaps we could ultimately deprecate `From` but we don't have to.

[2017-05-09 23:32] Mark-Simulacrum opened #41867 "Nightly docs lack search bar"
I believe due to the jQuery removal, nightly docs no longer have a search bar.

See https://doc.rust-lang.org/nightly/std/, for example, which has no search bar.

cc @GuillaumeGomez (I think you removed jQuery, but not sure)

[2017-05-09 23:34] ollie27 commented on #41866
The following already works fine:

[code]

Maybe `Component` should implement `AsRef<Path>` as it already implements `AsRef<OsStr>` and `OsStr` implements `AsRef<Path>`.

[2017-05-09 23:37] ollie27 commented on #41867
Works fine for me in Firefox 53.0.2 on Window 10, what browser are you using?

[2017-05-09 23:48] chrivers opened #41868 "Feature associated_type_defaults fails to resolve type equality"
As far as I can tell, this is a legitimate bug, and I have not been able to find any similar reports on github.

I have a project where I have greatly simplified my codebase using associated_type_defaults. However, it seems like the type checker can't figure out that the literal type of the default case is the same as the default case. I have condensed my problem to the following test-case.

I fee

[2017-05-09 23:56] Mark-Simulacrum commented on #41867
Chrome Version 58.0.3029.96 (64-bit) on macOS. Note the errors in console below as well as the lack of a search bar.

![image](https://cloud.githubusercontent.com/assets/5047365/25877446/bf41e5b6-34e0-11e7-828b-b53d12a7f87d.png)

[2017-05-09 23:57] Mark-Simulacrum commented on #41866
Component implementing `AsRef<Path>` seems like a good idea.

[2017-05-10 00:07] F001 commented on #41568
@alexcrichton ,  it sounds great! I'm excited to tackle this one.

[2017-05-10 00:59] Mark-Simulacrum commented on #35136
I'm not sure that there's much to be done here. The test runner does grab stdout by default, and I don't think that's going to change. Tests, I think, can call something along the lines of `set_print(io::stdout())` before running if they want to return it to the default, but that's obviously non-ideal (and just passing `--nocapture` is probably easier). I'm going to close this as non-actionable, b

[2017-05-10 01:09] Mark-Simulacrum commented on #35164
As far as I can tell, this hasn't happened. @jonathandturner This feels like it may be an E-easy bug. Could you provide some more instructions, perhaps?

[2017-05-10 01:35] frewsxcv commented on #41812
You lost me on the specifics, but I mostly understand at a high level.

The particular frustration here is that as a maintainer/release-manager for crate, I would have expected adding a new `impl` to _not_ be a breaking change. The fact that we do these sorts of optimizations in some cases, but not others makes it hard to understand what exactly constitutes a breaking change.

[2017-05-10 01:37] frewsxcv commented on #41812
@arielb1 also, forgot to thank you for putting the effort into your previous message, so thanks, I really do appreciate it 🙇

[2017-05-10 01:39] Mark-Simulacrum commented on #35173
Closing, this is better tracked in https://github.com/rust-lang/rust/issues/37646, and this specific issue isn't specific enough to keep open.

[2017-05-10 01:39] #35173 closed

[2017-05-10 01:40] Mark-Simulacrum commented on #35160
I'm going to mark this is a diagnostics issue since it's likely an error centering on the type alias's definition site would be a lot more helpful here.

[2017-05-10 01:43] Mark-Simulacrum commented on #35177
It looks like this is a case of insufficient normalization.

[2017-05-10 01:47] Mark-Simulacrum commented on #41083
Duplicate of #35146, closing.

[2017-05-10 01:47] #41083 closed

[2017-05-10 01:53] Mark-Simulacrum commented on #35146
@eddyb I seem to recall another issue about something similar to this that you commented on (maybe https://github.com/rust-lang/rust/issues/25041?); I think this isn't an issue--that is, B isn't really being used by anything in the struct definition (`trait ExampleTrait<B>` doesn't use B since nothing in the trait can access that information--I guess?) but I'm uncertain.

[2017-05-10 01:53] Mark-Simulacrum commented on #35188
I don't think MIR is possible to disable today, closing.

[2017-05-10 01:53] #35188 closed

[2017-05-10 01:56] Mark-Simulacrum commented on #35199
@alexcrichton I think the build script doesn't point to config.toml with `rerun-if-changed`; is it possible we could make this into an E-easy issue? I get the feeling that this would also make a decent intro into rustbuild.

[2017-05-10 01:58] Mark-Simulacrum commented on #33053
Closing in favor of https://github.com/rust-lang/rust/issues/35237, since it has more detailed explanation.

[2017-05-10 01:58] #33053 closed

[2017-05-10 01:59] Mark-Simulacrum commented on #24092
This is basically the same as https://github.com/rust-lang/rust/issues/35237, closing.

[2017-05-10 01:59] #24092 closed

[2017-05-10 03:22] durka opened #41871 "Badly worded note for non-constant array length"
[code]

rustc 1.0.0 - 1.11.0: `error: expected constant integer for repeat count, found variable`
rustc 1.12.0 - 1.15.0: `non-constant path in constant expression`
rustc 1.16.0 - present: `non-constant used with constant`

Can we have the first one back please?

[2017-05-10 03:25] cbreeden commented on #41871
To clarify, the problem is in the note:

[code]

[2017-05-10 03:44] alexcrichton commented on #35199
Certainly!

I think we'll need to pass the path of config.toml via an env var, but that shouldn't be too onerous to do in rustbuild either. If anyone's got any questions please feel free to ask!

[2017-05-10 05:22] kennytm commented on #41867
@Mark-Simulacrum Have you tried force-refreshing?

[2017-05-10 05:31] kennytm commented on #41871
Message introduced in #35858, using the exact wording from #35801.

I think the note should be reworded to "non-constant used **as** constant".

[2017-05-10 05:59] StefanoChiodino commented on #41867
Works for me on MacOS with Chrome v 58.0.3029.96 (64-bit) even after hard refresh

[2017-05-10 06:06] #41655 closed

[2017-05-10 07:19] eddyb commented on #40557
Huh, has anyone opened a PR yet? I (incorrectly) assumed we did all the detection we reasonably could and that it wasn't enough.

[2017-05-10 09:42] samkhawse commented on #35968
This commenter on HackerNews has succeeded in using Bitcode generated from Rust on macOS and iOS. The thread has some detailed information on how to enable bitcode for rust binaries, which sounds like a great news!

https://news.ycombinator.com/item?id=14305084

[2017-05-10 10:46] SimonSapin commented on #41620
RFC 1445 is about `const` constants. Why are float literals restricted as well?

[2017-05-10 10:51] SimonSapin commented on #41620
This is a breaking change (rejecting previously-accepted programs) but as far as I can tell this one is *not* part of an accepted RFC.

[2017-05-10 10:53] SimonSapin commented on #41620
Is this a duplicate of #36890?

[2017-05-10 11:05] SimonSapin commented on #36890
All the language changes that I can find mandated in https://github.com/rust-lang/rfcs/blob/master/text/1445-restrict-constants-in-patterns.md are about using in patterns `const` constants of struct or enum types.

This breaking change is **not** part of an accepted RFC, as far as I can tell. The only part of RFC 1445 that mentions struct literals is one example in the motivation section. Am I mis

[2017-05-10 11:05] xfix opened #41874 "Two variant enum null value optimization"
Language could optimize enums with two variants where at least one of variants stores a value that cannot be 0 (that would be affected by `Option<T>` optimization). For instance, the following `enum`.

[code]

Is currently represented as:

1. tag (0 - `One`, 1 - `Many`)
2. `One`: usize, `Many`: pointer
3. `One`: unused, `Many`: length

This can be optimized as such:

1. `One` when 0, otherwise poi

[2017-05-10 11:14] eddyb opened #41875 "Tracking issue for non_static_type_id"
This is a tracking issue for the RFC "1849" (rust-lang/rfcs#1849).

**Steps:**

- [ ] Implement the RFC
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-guide.html
[doc-guide]: https://forge.rust-lang.org/stabilization-guide.html#updating-do

[2017-05-10 11:21] eddyb commented on #41875
Implementation instructions:
* remove the `'static` bound from [the `type_id` intrinsic](https://github.com/rust-lang/rust/blob/58b33ad70cdd11f9ce7b5874c6effab9627e51aa/src/libcore/intrinsics.rs#L653)
* add more cases to [the `typeid-intrinsic` test](https://github.com/rust-lang/rust/blob/58b33ad70cdd11f9ce7b5874c6effab9627e51aa/src/test/run-pass/typeid-intrinsic.rs):
  * in a function that has an

[2017-05-10 11:43] GuillaumeGomez commented on #41867
@Mark-Simulacrum: Funny, you seem to have old js code with new html one. Try a force refresh like suggested above.

[2017-05-10 11:55] MaikKlein opened #41878 "Version specific trait errors"
Today I run into the following issue

https://gist.github.com/MaikKlein/aaa678c457920d870fb8850e6e05fa95

I recently split my crate into many small crates and I needed to serialize a type `Vertex` which lives in a crate called `breeze-gfx`. It uses types from `breeze-math`. Those types `VecN` implement Serialize/Deserialize from serde, but I got the following error message.
[code]

This raised som

[2017-05-10 12:28] stjepang opened #41879 "Docs: implementors list could be more readable"
Stable Rust: https://doc.rust-lang.org/std/ops/trait.Deref.html#tymethod.deref
Nightly Rust: https://doc.rust-lang.org/nightly/std/ops/trait.Deref.html#tymethod.deref

The docs on stable look better than on nightly.

The problem with nightly is that all these impls written one after another look rather messy.
A few ideas that might help:

1. Add some spacing between consecutive impls.
2. Place eac

[2017-05-10 12:52] Mark-Simulacrum commented on #41867
Yeah, that fixed it. Closing the issue.

[2017-05-10 12:52] #41867 closed

[2017-05-10 12:58] Mark-Simulacrum commented on #35146
In that case I think we can just close this, since I don't know of anything actionable that can be done here. Let me know if I misunderstood.

[2017-05-10 12:58] #35146 closed

[2017-05-10 13:02] frewsxcv commented on #41879
relevant to https://github.com/rust-lang/rust/pull/41084

[2017-05-10 13:03] palango opened #41880 "Compiler panicked: Ty::fn_sig() called on non-fn type: [type error]"
I was playing around with some code which can be found [here](https://is.gd/t8CHlr) and is attached below.

When I click on `Mir` output I get the following output:
[code]

I don't have a rust installation locally right now, so I cannot create the backtrace. I'll add it later today.

The code which triggers this:
[code]

[2017-05-10 13:16] oli-obk commented on #41874
This is already tracked in https://github.com/rust-lang/rfcs/issues/1230

[2017-05-10 13:18] skade opened #41882 "Allow rustdoc to generate noindex meta tags for a library"
There's currently a problem that when searching for the documentation of a crate in any search engine, chances are you find the documentation of a _different_ project that publishes their full documentation along with all dependencies.

To avoid that, allow rustdoc to generate the following meta tag for all documentation of a library:

[code]

This makes most crawlers not index the page. The featu

[2017-05-10 13:20] steveklabnik commented on #41882
That's https://github.com/rust-lang/rust/issues/9461

[2017-05-10 13:21] ehiggs opened #41883 "rustc should warn about unused traits."
[code]

This won't yield a compiler warning. However the equivalent with a struct will:

[code]

https://play.rust-lang.org/?gist=0787e43a11bb28969e9f4978954c3fdc

rustc 1.19.0-nightly (d3abc80b3 2017-05-09)

[2017-05-10 13:22] steveklabnik commented on #29349
This is now done! 🎊

[2017-05-10 13:22] #29349 closed

[2017-05-10 13:23] steveklabnik commented on #41874
Yes, @oli-obk is right. Discussing this over there is the right place, I'm going to give this a close. Thank you!

[2017-05-10 13:23] #41874 closed

[2017-05-10 13:26] skade commented on #9461
I see the problem that projects may want their official doc pages as the canonical page. Making docs.rs the canonical URL by default might give credit where no credit is due.

A stopgap would be a noindex tag for dependencies (#41882).

[2017-05-10 13:29] skade commented on #41882
Thinking this further through, a blanket "noindex" for dependencies might lead to problems, though, if a project publishes docs for set of crates on the same domain, buy just building the topmost one.

[2017-05-10 13:49] eddyb opened #41884 "Use stacker to prevent stack overflow from depth-first query evaluation."
[`stacker`](https://docs.rs/stacker) is:

Recent PRs that might be relevant: #41625 (MIR inlining) and #41676 (macro expansion).

Also related: https://github.com/rust-lang/rust/issues/40161, a meta issue for places where deep recursion arise.

cc @rust-lang/compiler

[2017-05-10 13:49] eddyb commented on #41884
(Blocked on #41847 which will make it easier to use crates.io libraries in the compiler)

[2017-05-10 14:13] #40201 closed

[2017-05-10 14:15] kallisti5 commented on #38212
jessicah: Do you have any documentation on how you did it? I'd like to build a dist package for rust.

The following seems to not be enough alone:

[code]

Include and library paths aren't getting picked up as mentioned before.

[2017-05-10 14:16] jonas-schievink commented on #41884
Stacker only seems to support i686 and x86-64 at the moment

[2017-05-10 14:20] jonas-schievink commented on #41884
(did GitHub eat my previous comment?)

Note that stacker only supports i686 and x86-64 at the moment. While this does cover all tier 1 platforms, it might make maintaining the lower tiers harder.

[2017-05-10 14:22] kallisti5 commented on #38212
Ah... I bet you're making wrappers...

[code]

[2017-05-10 14:24] alexcrichton commented on #41800
I believe this is the same as https://github.com/rust-lang/rust/issues/40961, previously closed, so closing this as well.

[2017-05-10 14:24] #41800 closed

[2017-05-10 14:25] alexcrichton commented on #41793
Discussed this at libs triage our conclusion was that we're unlikley to back out these methods, but if any crates have difficulty updating we can reconsider!

[2017-05-10 14:48] alexcrichton opened #41885 "Rewrite platform intrinsic generation as a build script"
Right now the compiler has a [`rustc_platform_intrinsics` crate](https://github.com/rust-lang/rust/tree/master/src/librustc_platform_intrinsics) which is basically a database of all platform intrinsics with their inputs/outputs and LLVM names, etc. This is the information the compiler uses to typecheck all intrinsics and also generate code for them with LLVM. An example generated file looks like [

[2017-05-10 14:48] alexcrichton commented on #41568
@F001 awesome! I've [opened an issue](https://github.com/rust-lang/rust/issues/41885) to help track that script.

[2017-05-10 14:49] kennytm commented on #41880
Stack trace:

[code]

(There is no ICE with `--emit mir` (nothing generated either due to type error). Perhaps playpen should use `--emit mir` instead.)

[2017-05-10 14:56] kennytm commented on #41880
@palango You can get backtrace on playpen here:

![screenshot_2017-05-10 22 54 43_busuip](https://cloud.githubusercontent.com/assets/103023/25905176/db15acfc-35d3-11e7-9e00-307aa0d7c1c6.png)

[2017-05-10 15:39] z1mvader commented on #41875
I'd like to participate on this :)

[2017-05-10 15:50] dwrensha opened #41888 "program segfaults when compiled with opt-level>0"
The following program (reduced from https://github.com/shepmaster/fuzzy-pickles/issues/62) segfaults when compiled with optimizations in `panic=abort` mode using beta or nightly `rustc`.

<details>
<summary> code </summary>

[code]

[code]

</details>

[2017-05-10 15:51] dwrensha commented on #41888
[code]

[2017-05-10 15:58] dwrensha commented on #41888
Apparently `panic=abort` is not necessary. I still see the segfault when compiling with

[code]

[2017-05-10 15:59] tailhook commented on #41802
Yes, this is expected breakage. It was discussed in #38932. While this one is easy to fix, there are other issues with new rust or some other dependency, so I'm not going to spend time on that. Basically, the project is abandoned.

[2017-05-10 16:02] Gankro commented on #27730
I would like to propose we stabilize these APIs now that my changes in #41064 have landed. They have varying levels of controversy, so here's my priority's prefs:

* Shared should absolutely be stabilized ASAP. I don't think it needs any more work.

* Unique should probably be stabilized, but doesn't really need to be, and might want some more scrutiny. Anyone who wants to use it can use Shared, b

[2017-05-10 16:04] kennytm commented on #41888
Without `-Cpanic=abort`, segfault only happens at opt-level=1. No repro at 0, 2 or 3.

With `-Cpanic=abort`, segfault happens at opt-level=1,2,3.

[2017-05-10 16:25] est31 commented on #41620
Hmm a quick glance over the RFC seemed to confirm this. Let's discuss this in #36890, okay?

No, its separate. There are two separate lints. This one is about literals, the one tracked in that issue is about constants. I have opened the PR #41293 after finding out about #41255.

[2017-05-10 16:59] Gankro opened #41890 "Tracking Issue for needs_drop"
About to submit a PR for exposing intrinsics::needs_drop under mem. Needs a tracking issue.

Here it is!

[2017-05-10 17:11] shepmaster commented on #41888
@dwrensha and I have been fuzzing my library. I assumed that was the source of this issue, so I'm surprised about that.

[2017-05-10 17:16] scottmcm opened #41891 "Tracking issue for slice_rotate"
Implemented in https://github.com/rust-lang/rust/pull/41670; merged 2017-06-02.

[2017-05-10 17:23] dwrensha commented on #41888
@shepmaster: I hit this bug while running cargo-fuzz with `--sanitizer leak`.

[2017-05-10 17:24] tommyip commented on #41885
I would like to work on this issue!

[2017-05-10 17:34] brson commented on #38800
This is still a critical wasm bug, and not a difficult one to fix. Run the test suite against the wasm target to see how it's currently broken. Most should simply be failing to load the wasm correctly. It should be possible to get verbose output from the test suite, then take that output and run the node.js test command by hand to figure out the correct invocation; then modify compiletest to do it

[2017-05-10 17:40] withoutboats commented on #41620
From my perspective, primitive literals (as opposed to destructuring struct literals) are a kind of constant. The same questions raised by consts in that RFC are raised by primitive literals.

[2017-05-10 17:47] alexcrichton commented on #41885
@tommyip oh I believe @F001 in also expressed interest earlier in https://github.com/rust-lang/rust/issues/41568 for this issue. Just in that y'all may want to coordinate to make sure no toes are stepped on!

[2017-05-10 17:47] alexcrichton commented on #41885
(not sure why that issue link didn't show up...), also sorry, should have mentioned that in the issue earlier!

[2017-05-10 17:54] SimonSapin commented on #41620
Yet the example given in #36890 uses literals.

Given that we have a language keyword named `const`, I think it is reasonable to assume that constants are `cont` items and nothing else. If a different definition of the term is intended, it should absolutely be defined explicitly. This is not the case in this RFC.

[2017-05-10 17:56] SimonSapin commented on #41255
Was a crater run made, in the end?

This breaks Servo, which unfortunately is not part of Crater.

[2017-05-10 18:01] tommyip commented on #41885
ok no problem, I guess I should leave this to @F001 .

[2017-05-10 18:03] SimonSapin commented on #27730
1. Big +1 to stabilizing `Shared`
2. If `Unique` can always be replaced with `Shared` (plus maybe impls for `Send` or `Sync`), why shouldn’t it be removed entirely?
3. Of all the potential uses of `NonZero` that I know of, all but one can/should use `Shared` (which in turn uses `NonZero` internally). The remaining one is `string_cache`, it can not use `NonZero` in its current API either because `N

[2017-05-10 18:07] Amanieu commented on #27730
I'm actually most excited about `NonZero` myself. It's very useful for integer ID values, where a value of 0 is an invalid ID. Wrapping these types in `NonZero` would allow them to be wrapped in an `Option` at no extra cost in space. Using an `Option` is much more ergonomic than checking for `0` everywhere (it's basically the same issue as nullable pointers).

[2017-05-10 18:19] est31 commented on #41620
The example quoted in the tracking issue you linked never was implemented that way. I have [asked about](https://github.com/rust-lang/rust/issues/41255#issuecomment-293954936) whether to create a separate lint or add the check to the existing one, and it was decided [to create a separate lint](https://github.com/rust-lang/rust/pull/41293#issuecomment-298095594).

I guess the example should be remo

[2017-05-10 18:24] kennytm commented on #41888
Somewhat reduced, but only repro in `-Copt-level=1 -Cpanic=abort` in nightly (interesting, also in `-Copt-level=2,3 -Cpanic=abort` in stable):

[code]

<details>
<summary>Versions</summary>

[code]

</details>

[2017-05-10 19:12] SimonSapin opened #41893 "Diagnostic: "constant evaluation error" without further details"
[code]

rustc 1.19.0-nightly (d3abc80b3 2017-05-09)

[code]

The error message doesn’t say what’s wrong with this pattern. Based on code in `src/librustc/middle/const_val.rs` it looks like more info should be printed, with `ConstEvalErr::description`.

CC @eddyb

[2017-05-10 19:16] eddyb commented on #41875
@z1mvader Great! Don't forget to put "r? @eddyb" in your PR when you open it.

[2017-05-10 19:18] Mark-Simulacrum commented on #41888
Bisection isn't quite working for me, for various reasons (unrelated to the segfault), but I think the failure might have been introduced in the rollup PR #39199. I haven't investigated beyond that, though, and this might be completely wrong.

[2017-05-10 19:20] Mark-Simulacrum commented on #35282
Cannot reproduce today, closing.

[2017-05-10 19:20] #35282 closed

[2017-05-10 19:25] nikomatsakis commented on #41620
I would definitely say that the RFC was intended to apply equally to all constants, whether they are literals or not. Clearly there is room for other opinions (since @SimonSapin read it differently).

Personally, I am on the fence here. I somewhat agree with @SimonSapin that the number of regressions here feels too high. Part of the reason that I agree to go with a warning was to highlight this qu

[2017-05-10 19:32] Mark-Simulacrum commented on #35295
This is still the case today. The example below, when navigating to `Bar`'s documentation, does not show the method `happy`.

[code]

[2017-05-10 19:35] Mark-Simulacrum commented on #28785
@nikomatsakis Could you either provide some instructions here, or otherwise unmark as E-mentor?

[2017-05-10 19:36] newpavlov opened #41894 "Moving function into a separate crate results in a more effective code for some reason"
While working on optimizations for [crypto-hashes](https://github.com/RustCrypto/hashes) I've notice a very strange behaviour described in the title. I've isolated the relevant code into this [repository](https://github.com/newpavlov/md5-optimization), so you can run it yourself.

Enabling lto produces the same slow result for separate case as for in-crate one. Optimal code generated only if `#[in

[2017-05-10 19:41] Mark-Simulacrum commented on #35316
This is still the case today; however, I'm not sure that there's much purpose in keeping this issue around since it doesn't track anything specific other than "errors in unreachable code need to not happen," which as far as I can tell is really only fixable with constant propagation -- which this doesn't track.

[2017-05-10 19:45] nikomatsakis commented on #27730
I frequently use `NonZero` with integers as well; though what I **really** want is `NonMax` (since I am always doing this with indices, and `0` is a perfectly good index). I tend to write some newtype to mask it for me.

[2017-05-10 19:46] Mark-Simulacrum commented on #35148
As far as I know nothing has been done related to this. @nrc @jseyfried This seems relevant to the macros 2.0 work, perhaps that will solve or help some of this?

[2017-05-10 19:53] Mark-Simulacrum commented on #17954
So since it seems we don't want the `'thread` lifetime (judging by comments on this RFC: https://github.com/rust-lang/rfcs/pull/1705, should we close this as well? It seems we can't implement this without that RFC's thread lifetime, and as such it's not worth keeping this open. Arguably, maybe `#[thread_local]` should be deprecated and removed in favor of `thread_local!`, though I don't know the d

[2017-05-10 19:54] Mark-Simulacrum commented on #35035
So I think discussion above seems to indicate that we should close this as a somewhat-duplicate of #17954, so I'm going to close in favor of it.

[2017-05-10 19:56] Mark-Simulacrum commented on #34881
This is https://github.com/rust-lang/rust/issues/30128, closing in favor of that.

[2017-05-10 19:56] #34881 closed

[2017-05-10 20:01] Amanieu commented on #27730
Or -1, which is commonly used to indicate an invalid index. One way to do this with the current `NonZero` is to add 1 to whatever value you are storing (0 => None, 1 => Some(0), 2 => Some(1), etc).

[2017-05-10 20:02] #40159 closed

[2017-05-10 20:04] IvankoB opened #41895 "Feature proposal: named return variables"
Possibly with default return values, to achive functionality of Delphi's function "Result" auto variable or as shown in the below "Go" code:
-------------------------
func OpenPrinter(name string) (success bool, printer HANDLE) {
	openPrinter := winspool.NewProc("OpenPrinterA")
	Cname := unsafe.Pointer(C.CString(strToAnsi(name)))
	defer C.free(Cname)
	Cret, _, _ := openPrinter.Call(uintptr(Cname),

[2017-05-10 20:50] eddyb commented on #17954
I still want the semantics that make thread-local accesses like function arguments: can't let them escape.
In @nagisa's list, it's the last option. IMO the only one we can be certain of soundness for (or at least it allows no more than what `thread_local!` already does) and it's fairly straight-forward to implement.
If you want you can assign to me (famous last words).

[2017-05-10 20:51] Mark-Simulacrum commented on #35442
@jonathandturner Could you give an update on this? I presume that not much has been done here, but perhaps we could write up what we want to test with regards to unicode and make it an E-easy bug?

[2017-05-10 20:52] comex commented on #35968
As the commenter in question, quick notes:

- I used `-C lto --emit llvm-bc` to get rustc to emit one .bc file containing the current crate and all dependencies.  This works, but is essentially a hack; in particular, it doesn't work for C dependencies, including jemalloc (though that isn't used on iOS anyway).  It would be better if rustc properly supported emitting Mach-Os with "embedded bitcode"

[2017-05-10 21:06] Mark-Simulacrum opened #41897 "Functions and closures with incorrect return types should have better diagnostics"
We should do better on the diagnostic in this case, since presumably the author of the code meant to return the 10, so we should suggest that the function needs a return type, somewhat as we currently give the "remove `;`" suggestion.

[code]

[code]

Filing this to close out https://github.com/rust-lang/rust/issues/35478, https://github.com/rust-lang/rust/issues/21838, https://github.com/rust-lan

[2017-05-10 21:06] Mark-Simulacrum commented on #35478
Closing in favor of collective issue for this general problem: https://github.com/rust-lang/rust/issues/41897.

[2017-05-10 21:06] #35478 closed

[2017-05-10 21:06] Mark-Simulacrum commented on #21838
Closing in favor of collective issue for this general problem: https://github.com/rust-lang/rust/issues/41897.

[2017-05-10 21:06] #21838 closed

[2017-05-10 21:06] Mark-Simulacrum commented on #22216
Closing in favor of collective issue for this general problem: https://github.com/rust-lang/rust/issues/41897.

[2017-05-10 21:06] #22216 closed

[2017-05-10 21:07] Mark-Simulacrum commented on #18595
Closing in favor of collective issue for this general problem: https://github.com/rust-lang/rust/issues/41897.

[2017-05-10 21:07] #18595 closed

[2017-05-10 21:35] comex commented on #35968
(As a test, I just tried compiling Rust against the Xcode 8.2.1 Clang.  `rustllvm` fails to build, because its nest of `#if LLVM_VERSION_GE(..)` conditionals, which are meant to allow it to compile against both older and newer LLVM, gets confused by this branch - which claims to be LLVM 3.9svn, but API-wise is somewhere in between 3.8 and 3.9.  Probably not worth fixing, since Xcode is almost due

[2017-05-10 21:35] Mark-Simulacrum commented on #26258
So I seem to recall an RFC and implementation recently regarding CRTs, does that fix this issue? Or at least update it in some way?

[2017-05-10 21:40] SimonSapin commented on #41893
I was able to learn more with:

[code]

Let’s keep this issue about the error description not being shown. I’ll file a separate issue about the unimplemented bit.

Smaller test case with same results:

[code]

[2017-05-10 21:40] Mark-Simulacrum commented on #35479
Yeah, I'm going to close this in favor of #31259.

[2017-05-10 21:40] #35479 closed

[2017-05-10 21:44] derekdreery commented on #38800
I'm going to have a look at this but I make no promises so someone else who wants to take it should do so.

[2017-05-10 21:44] SimonSapin commented on #27730
Stabilizing `NonZero` probably involves stabilizing the `Zeroable` trait and re-exporting them in `std`. Is `core::nonzero` / `std::nonzero` the desired module name?

[2017-05-10 21:49] Mark-Simulacrum commented on #35284
Today, I think just `src/librustc_mir/diagnostics.rs` and `src/libsyntax/diagnostic_list.rs` aren't picked up. Either way, closing in favor of https://github.com/rust-lang/rust/issues/34588 and adding a note there.

[2017-05-10 21:49] #35284 closed

[2017-05-10 21:49] Mark-Simulacrum commented on #34588
https://github.com/rust-lang/rust/issues/35284 notes that some long diagnostics aren't even registered properly and can't be used with `rustc --explain` today. I've closed that issue in favor of this, but something to keep in mind.

[2017-05-10 21:58] SimonSapin opened #41898 ""unimplemented constant expression: tuple struct constructors" for NonZero const"
I came across this when experimenting with using intermediate `const` items to work around `NonZero`’s field being private and be able to use it in patterns.

Reduced test case:

[code]

Output with rustc 1.19.0-nightly (d3abc80b3 2017-05-09)

[code]

This error message is incomplete because of #41893, but hacking the compiler yields `unimplemented constant expression: tuple struct constructors`.

[2017-05-10 21:58] Mark-Simulacrum commented on #35543
I'm marking this as E-easy and E-mentor; we need to add a `fs::create_dir_all` call [here](https://github.com/rust-lang/rust/blob/20de961226de41a18ca1d9b166c6bc607f3a597a/src/librustc_mir/util/pretty.rs#L107) on the parent directory of the file path. Let me know if you'd like to work on this.

[2017-05-10 22:03] Mark-Simulacrum commented on #35544
I cannot reproduce locally, closing. Please let us know if you can still reproduce, preferably on nightly so we can get a better stacktrace.

[2017-05-10 22:03] #35544 closed

[2017-05-10 22:03] Gankro commented on #27730
Zeroable shouldn't need to be stabilized, I don't think?

[2017-05-10 22:06] Mark-Simulacrum commented on #35059
I think the conclusion here is mainly that this is not really a rust-lang/rust problem; and I can't build the relevant commit today. I also feel like in general `MacResult` will be less used with time as we move towards macros 2.0, so I'm going to close this issue since I can't reproduce.

[2017-05-10 22:06] #35059 closed

[2017-05-10 22:08] F001 commented on #41885
Thanks. I will work on this.

[2017-05-10 22:16] Mark-Simulacrum commented on #41895
This would best go on the rust-lang/rfcs repository. Could you open an issue there?

[2017-05-10 22:19] marti1125 commented on #41581
@brson I would like to contribute with this

[2017-05-10 22:25] Mark-Simulacrum commented on #35580
Updated title. Today's error is really bad, I think, since it doesn't mention the return type or `Box` in any way, which is where the heart of the issue lies, I believe.

[code]

[2017-05-10 22:32] Mark-Simulacrum commented on #35474
From https://github.com/rust-lang/rust/pull/36512#issuecomment-258009942, I believe this has landed "upstream" in the compiler-builtins repo, so I'm going to close this issue since it's not really tracking anything. For those interested, https://github.com/rust-lang-nursery/compiler-builtins/issues/66 is probably the best place to watch.

[2017-05-10 22:32] #35474 closed

[2017-05-10 22:44] Mark-Simulacrum commented on #35471
I don't believe there's anything we can do about this, but I may be wrong. Perhaps @retep998 could comment? I feel like we should close this...

[2017-05-10 22:48] Mark-Simulacrum commented on #35604
Error looks more comprehensive today: https://github.com/rust-lang/rust/blob/978d2cfee1ee9da704c960c8047e978a7003b582/src/tools/compiletest/src/runtest.rs#L2351, closing.

[2017-05-10 22:48] #35604 closed

[2017-05-10 23:20] Mark-Simulacrum commented on #35589
Looks like another regression that slipped through. cc @alexcrichton @brson; I don't know what we want to do about this issue, but if the regression is no longer a priority, it can be closed as a duplicate. Nightly output today, without release optimizations, is below. With them, it simply hangs.

[code]

[2017-05-10 23:53] Mark-Simulacrum commented on #35624
I feel like I've recently triaged a very similar issue, but I can't find it. The error here does seem really odd, as it points to the function's span even though the function has no lifetimes or anything itself.

[code]

[2017-05-10 23:59] Mark-Simulacrum commented on #35548
I cannot reproduce today, closing.

[2017-05-10 23:59] #35548 closed

[2017-05-11 00:01] Mark-Simulacrum commented on #35636
I can't reproduce with recent nightly, so I'm going to go ahead and close.

[2017-05-11 00:01] #35636 closed

[2017-05-11 00:08] Mark-Simulacrum commented on #35650
triage: Macros still don't backtrack. I can't find an issue for that, though I do suspect that one exists in some form. Labeling as A-macros, though.

[2017-05-11 01:17] Mark-Simulacrum commented on #32519
That seems valid, since I presume that `type Target` can be specialized separately from the function, though I haven't followed specialization closely. cc @aturon Is that correct?

[2017-05-11 01:17] nagisa commented on #32110
We certainly should move non-allocating inherent slice methods into libcore as *inherent* methods, and not the trait mess we’re currently in.

I’m fairly sure we could hack the compiler enough to allow multiple inherent `impl` blocks across the `libcore` and `libcollections` crates with some attribute or something.

[2017-05-11 01:33] InsidiousMind opened #41902 "Allow the use of expressions w/ known constants to be evaluated at compile-time"
I should be able to create an array with some expression that is using already-established values (ie, consts, literals, initialized values, etc) to be evaluated at compile time. I feel this might be a fit for the "2017 ergonomics" push, though i may be wrong.

I tried this code:
[code]

Link to Rust Playground: https://is.gd/STgFNN

I expected to see this happen: Compile without issue

Instead, t

[2017-05-11 01:42] mersinvald commented on #31905
@Mark-Simulacrum I'd like to take that, please assign me

[2017-05-11 01:44] Mark-Simulacrum commented on #31905
Sounds good! I don't think I can assign you, but it's yours. Let me know if you need any help, and please cc me on the pull request when you open it. Let me know if you need any help!

[2017-05-11 01:47] Mark-Simulacrum commented on #35685
Technically, today's message is correct. Ideally we'd error on the whole expression instead of each arm, but I'm going to close since we no longer say anything about incompatible types of arms.

[code]

[2017-05-11 01:47] #35685 closed

[2017-05-11 01:50] Mark-Simulacrum commented on #35678
So I think this is about making `./x.py test` not run certain tests. Is that the correct interpretation, @nagisa? Or did you want something else?

[2017-05-11 01:52] vi opened #41903 ""[src]" links point to the place items are defined, not to the re-export"
https://docs.rs/remove_dir_all/0.2.0/remove_dir_all/fn.remove_dir_all.html

durka42 states that it's a bug in rustdoc and the entire doc is wrong.

[2017-05-11 01:53] Mark-Simulacrum commented on #41903
It seems like rustdoc is pulling the stdlib's source in instead of the crate's, but I'm not sure.

[2017-05-11 01:53] jonhoo commented on #35729
@alexcrichton I'm not sure what you mean in your recommendation to @briansmith? I want to take a generic slice index argument (i.e., may be a range), and then use it to index into a slice. If I copy the trait into my own crate, I can't then take something implementing that trait and pass to `slice::get`?

[2017-05-11 02:00] Mark-Simulacrum commented on #34955
@nikomatsakis Is there a chance you could give some initial guidance on what needs to be done here to make this issue more accessible to potential mentees?

[2017-05-11 02:02] Mark-Simulacrum commented on #35716
Marking as a diagnostics issue, to fix this we need to improve the error about unsafe blocks not affecting items in them.

[2017-05-11 02:38] BartMassey commented on #35136
I think maybe you could provide functionality that allows a test to re-grab the old stdout temporarily? It would require saving it somewhere. Perhaps some sort of "with" closure?

[2017-05-11 02:43] Mark-Simulacrum commented on #35136
Hm, yeah, I think it's possible. I'll reopen; cc @rust-lang/libs, would we be interested in an API (probably in libtest) that allowed temporarily returning stdout/stderr for a given test? We could just have a `#[no_capture]` annotation as well, I think.

[2017-05-11 02:44] Mark-Simulacrum commented on #35757
Closing in favor of https://github.com/rust-lang/rust/issues/31905.

[2017-05-11 02:44] #35757 closed

[2017-05-11 02:53] durka commented on #35650
@Mark-Simulacrum here is [one](https://github.com/rust-lang/rust/issues/26444) (closed).

[2017-05-11 02:57] mersinvald commented on #31905
@Mark-Simulacrum can you explain how issues work here and why you closed it before my PR is merged? Just curious, I found nothing about it in CONTRIBUTION.md
Thanks!

[2017-05-11 02:58] withoutboats commented on #41620
@nikomatsakis I don't think this needs to be entangled with const generics, we just need to transition to a solution for that as well as whatever we decide for match. Just renaming the attribute is probably fine.

I do feel that literals and consts should behave the same, but I don't have a strong opinion about *how* they need to behave.

[2017-05-11 03:38] durka commented on #41903
It's getting the doc comments from std, too.

[2017-05-11 04:10] ollie27 commented on #41903
rustdoc can only generate docs for one platform at once (#1998). I don't know what platform docs.rs uses by default but it's clearly [`not(windows)`](https://docs.rs/remove_dir_all/0.2.0/src/remove_dir_all/lib.rs.html#10-11). The docs for Windows seem fine: https://docs.rs/remove_dir_all/0.2.0/x86_64-pc-windows-msvc/remove_dir_all/fn.remove_dir_all.html.

[2017-05-11 04:13] durka commented on #41903
Aha so I was right and it *is* a re-export.

On Thu, May 11, 2017 at 12:10 AM, Oliver Middleton <notifications@github.com

[2017-05-11 04:18] IvankoB commented on #41895
Opened there. Thanx.

[2017-05-11 04:18] #41895 closed

[2017-05-11 04:21] durka commented on #41903
TRWTF is that rustdoc shows no indication at all that you're looking at
re-exported docs.

On Thu, May 11, 2017 at 12:12 AM, Alex Burka <durka42@gmail.com> wrote:

[2017-05-11 04:30] est31 commented on #41902
Minimized:

[code]

The issue here is you are indexing an array created with let in a constant expression context.

With const, this works just fine (although the indexing part is unstable atm):

[code]

[2017-05-11 04:41] nagisa commented on #35678
Certain groups of tests, as is stated in the original issue description.

[2017-05-11 04:43] Gankro commented on #27336
It's really unfortunate that this is blocking #32838. Is there anything I can do to help push this forward, outside of implementation work?

[2017-05-11 06:44] eddyb commented on #35035
It's not a duplicate though.

[2017-05-11 06:47] eddyb commented on #41898
Yeah we can probably do it. Seems easier than bringing miri in which isn't happening as fast as I wanted to.

[2017-05-11 07:01] parched commented on #39266
Hi @MagaTailor, if you can provide some more details on how reproduce this, I will investigate. Can you give both the C code and Rust code you are comparing, along with the exact compiler switches you are using and what target you are testing on?

[2017-05-11 07:40] MagaTailor commented on #39266
https://pastebin.com/X3ZTp1c0

[2017-05-11 07:54] nagisa commented on #41890
The PR is https://github.com/rust-lang/rust/pull/41892

[2017-05-11 08:35] Ericson2314 commented on #27336
I don't think it's blocking that. We can always just newtype all of collections in std, and move hashmap into collections while we are at it.

It's an ugly solution, but only a temporary once. The allocator traits are far enough behind schedule that we should seriously consider it.

[2017-05-11 08:47] gavento opened #41906 "Naming collision of Borrow::borrow() and Rc::borrow()"
The trait `std::borrow::Borrow` and type `std::rc::RefCell` both have a method `borrow()`. This leads to ambiguity, possibly hard-to-understand errors and most importantly breaking unrelated code by adding `use std::borrow::Borrow;`.

Consider the following code:
[code]
[(Rust playground link)](https://play.rust-lang.org/?gist=261852bc9a7c357851f32b4f858209f3&version=stable&backtrace=0)

This code

[2017-05-11 09:20] nagisa commented on #41888
<details>
<summary>This slightly more minimised sample</summary>

[code]

</details>

results in read of uninitialized memory:

[code]

[2017-05-11 09:23] parched commented on #39266
Thanks, and what compiler switches and what target?

[2017-05-11 09:39] #40557 closed

[2017-05-11 10:14] mersinvald commented on #31905
@Mark-Simulacrum how can I install compiler and cargo with my changes to make sure cargo test works as expected?

[2017-05-11 11:18] leonardo-m opened #41908 "f64::hypot is very slow"
A little program:

[code]

Compiled with `-O` this is the asm of the two versions, in foo1 the hypot is not inlined and this is a problem:

[code]

Compiling in a more aggressive way (`-C opt-level=3 -C target-cpu=native`) the situation is about the same:

[code]

This has signficant practical consequences. Code adapted from:
https://users.rust-lang.org/t/rust-optimisation/10738/6

[code]

Compili

[2017-05-11 11:22] dwrensha commented on #41697
I'm still seeing this issue, on the latest nightly and on master.