[2016-07-13 17:54] danburkert commented on #27787
I commonly use sorted maps to store intervals, but it requires having a `floor` operation (find greatest key less than or equal to some value).  Perhaps the `Bound` enum could be extended to have `Floor` and `Ceil` variants.  A sketch of how it would work:

[code]

[2016-07-13 17:58] oli-obk commented on #34798
it also happens (although with a slightly different message) when the type is not ZST: https://is.gd/8529c8

[2016-07-13 17:58] alexcrichton commented on #27709
@therealbstern probably, yeah. Most of the instability here is just because of a lack of motivation to push them towards stable, but if they're well accepted concepts elsewhere that can be documented, we'd be fine stabilizing!

[2016-07-13 18:00] danburkert commented on #27787
and to be clear about what I mean about storing intervals, consider a data set with the following intervals:

[code]

and I frequently want to ask questions like `get me the interval (if it exists) which contains the value 22`, or `give me all intervals which intersect with the interval [22, 125)`:

[code]

[2016-07-13 18:17] Amanieu commented on #27787
@danburkert I don't understand, can't you already do this with the existing bounds?

[code]

[2016-07-13 18:33] michaelwoerister commented on #34793
Yes, I didn't really mean that to be a serious option.

[2016-07-13 18:36] danburkert commented on #27787
An interval tree is used for overlapping intervals, and is consequently much more complex.  What I'm asking for is common, and supported by the Java NavigableSet API and the C++ map API.

[2016-07-13 18:41] michaelwoerister commented on #34793
The problem with this is that MIR-trans does not solve the problem, it just allows for implementing a solution, which would then not be restricted just to MinGW. If we implement this solution (making an internal copy of closures in every codegen unit), we have to use MIR-trans of closures everywhere.

We could do some special casing for MingW, where closures are treated differently on just that pl

[2016-07-13 18:42] whitequark opened #34806 "Misleading error caused by incorrect target specification"
Using rustc 1.10.0-dev (cfcb716cf 2016-07-03), and the following specification (it's incomplete, but that's irrelevant):

[code]

This is the error I get:

[code]

It's an ICE, which is a bit more scary than it ought to be, but that's fine. What's not fine is that it says there's no target-pointer-width but really what it doesn't like is that the value is not a string. Took me a while.

[2016-07-13 18:48] Amanieu commented on #27787
@danburkert In that case what you're probably after is a `Cursor` interface to a `BTreeMap`. Have a look at my [`RBTree`](https://amanieu.github.io/intrusive-rs/intrusive_collections/rbtree/struct.RBTree.html) type in `intrusive-collections`. The `lower_bound` and `upper_bound` methods return a `Cursor` objects which points to a single element in the tree. You can then move the cursor to the next/

[2016-07-13 18:54] danburkert commented on #27787
@Amanieu do you have any reasons *not* to have `Floor` and `Ceil` bound variants?  I agree that cursors would be also solve my specific usecase, but as far as I can tell they aren't being considered for the standard library.

[2016-07-13 18:56] Veedrac commented on #25982
I've run into this again from the argument side with implicit casts for `fn(A) -> B {name}` types:

    trait Trait {
        fn method(&self) { println!("doing"); }
    }

    impl Trait for fn() {}

    fn function() {}

    fn main() {
        // This doesn't work
        function.method();

        // This does
        let f: fn() = function;
        f.method();
    }

[2016-07-13 19:00] Amanieu commented on #27787
@danburkert It's just that I don't really understand what you mean by those bounds. How exactly do they differ from `Included` & `Excluded`. Also they don't really fit in with the other enum variants. I should probably write an RFC for cursors at some point...

[2016-07-13 19:45] jonas-schievink commented on #25982
@Veedrac that seems like a different issue (I think only deref coercion is applied to the method receiver, you need an `fn` pointer reification)

[2016-07-13 19:56] danburkert commented on #27787
I think my interval example is muddying the waters.  The definition of floor and ceiling bounds are:

`Floor(n)` - a bound inclusive of the greatest element less than or equal to `n`
`Ceil(n)` - a bound inclusive of the smallest element greater than or equal to `n`

There is no way to simulate this with just `Inclusive` or `Exclusive` unless the resulting `Range` can be expanded (similar to a curs

[2016-07-13 20:11] rocallahan commented on #27787
@ogoodman:

Yes, I'm pretty sure that works and could be packaged into something quite convenient to use (outside std).

@danburkert:
I'm using this interface for intervals myself. I find the greatest element less than or equal to `n` using `range(Unbounded, Included(n)).next_back()`, and the smallest element greater than or equal to `n` using `range(Included(n), Unbounded).next()`.

[2016-07-13 20:33] Havvy opened #34808 "Revisit rustc-ux-guidelines with updates"
[Rustc UX Guidelines doc](https://github.com/rust-lang/rust/blob/master/src/doc/rustc-ux-guidelines.md).

It's been awhile since it's been updated. Here's two changes that haven't been merged into this document yet:
- [Long error code explanations normalization](https://github.com/rust-lang/rfcs/blob/master/text/1567-long-error-codes-explanation-normalization.md)
- [Error message overhaul](33240)

[2016-07-13 21:11] rkruppe commented on #34792
cf. #24066

[2016-07-13 21:20] michaelwoerister commented on #34793
OK, so I have a WIP implementation of the "require MIR-trans on MinGW" option here:
https://github.com/michaelwoerister/rust/commits/internal-closures

It might be even less intrusive than expected since it only requires MIR-trans if one is compiling with more than one codegen-unit per crate. Most people probably wouldn't even notice.

[2016-07-13 21:25] ogoodman commented on #27787
@apasel422 Yes, that looks about right. I'm still learning rust so I didn't feel in a position to propose a signature.

@alexcrichton My first message here gave an example which is difficult with the current range bounds, namely: given a key type of `(A,B)` lexicographically ordered, come up with a range which matches a fixed `a` and any `b` in `B`. If `B` has minimum and maximum elements you can

[2016-07-13 22:10] johnnyman727 commented on #25289
on macosx with the simplest application:
[code]

[2016-07-13 23:27] #9456 closed

[2016-07-13 23:41] DemiMarie commented on #34560
Here is a thought that might work, at least for debuggers: have the code that is upstreamed be only stub code.  Rust would then provide the real interface code as a plug-in (a shared object loaded at runtime).

[2016-07-13 23:54] apasel422 commented on #33197
As a variant of @gereeter's second bullet point, the structural check can be done as a post-processing step in which we walk up the tree from both handles, keeping track of the path we take as we go (i.e. the index of the edges). Once we finish ascending, we compare the paths lexicographically, and return an empty `Range` if the comparison indicates that the bounds were specified in the wrong orde

[2016-07-14 00:09] DemiMarie commented on #34457
Do we need to worry about man-in-the-middle attacks on the insecure `git://` clone?  I would definitely worry about them.  If someone can do the clones who is a GDB committer they should use their `ssh://` clone instead.

[2016-07-14 00:38] mstagg commented on #23818
The intended function of `print!()` is to display a string on the command line. Having to flush the buffer to display what I want feels counter intuitive and absolutely feels to be pushing against the purpose of the macro. This function fulfills basic functionality and should behave the way I expect, without any 'gotchas'.

[2016-07-14 01:31] jethrogb opened #34809 "Wrapping<_> implements ShX<usize> but wrapping_shX takes u32"
This is mostly just slightly confusing.

[`impl ShX for Wrapping<_>`](https://github.com/rust-lang/rust/blob/master/src/libcore/num/wrapping.rs#L103-L118) (the code refers to #23545, I'm not sure how this is related).

[`wrapping_shX`](https://github.com/rust-lang/rust/blob/master/src/libcore/num/mod.rs#L816-864)

[2016-07-14 01:42] DemiMarie commented on #25088
Just how fast can TLS get?  I thought that on x86-64 it could indirect off of a segment register or something like that, and be really fast.

[2016-07-14 03:31] Manishearth commented on #34457
Presumably we'd have a fork on github, so no.

[2016-07-14 03:32] Manishearth commented on #34560
That works for lldb, but not gdb

[2016-07-14 06:12] gyscos commented on #32077
I'd say methods from the original type that apply should be shown here, just like methods from `Deref`s would.

[2016-07-14 06:29] jseyfried opened #34812 "`include!` uses the wrong search path when it is inside an `asm!` macro invocation"
For example, `include_str!` invocation [here](https://github.com/QuiltOS/libfringe/blob/6f30dc8e12025ad2ab426bc82d8974619143dd24/src/arch/x86/mod.rs#L8) in [this expansion](https://github.com/QuiltOS/libfringe/blob/6f30dc8e12025ad2ab426bc82d8974619143dd24/src/arch/x86_common.rs#L24) should search in `src/arch` but instead searches in `src/arch/x86`.

[2016-07-14 06:29] jseyfried commented on #34812
cc @Ericson2314

[2016-07-14 06:36] DanielKeep commented on #29598
The problem with the switch is that it turns it on for *everything*.  Due to the way it's output is formatted (spread across multiple lines), this can make debugging a badly behaving macro in the midst of lots of *other* macro expansions *completely hellish.*

If we could keep only one, I'd keep `trace_macros!`.  It's *overwhelmingly* more flexible.

And just to reiterate what durka said: this is,

[2016-07-14 08:33] jseyfried commented on #34812
It looks like this is actually a problem with `ext::base::expr_to_string`, not `codemap.source_callsite()`, so it is only an issue for `include!` / `include_str!` macro invocations inside `asm!`, `format!`, or `env!` macro invocations.

[2016-07-14 09:45] #34796 closed

[2016-07-14 09:53] daschl opened #34815 "Use Hoehrmann algorithm for utf-8 decode validation?"
Hi folks,

I've stumbled across this algorithm for utf8 decoding by Bjoern Hoehrmann: http://bjoern.hoehrmann.de/utf-8/decoder/dfa/

According to my research the rust code does not use this algorithm to validate utf8 (see https://doc.rust-lang.org/src/core/up/src/libcore/str/mod.rs.html#1172).

As far as I can see @lifthrasiir implemented the algorithm already in rust for his encoding library: htt

[2016-07-14 11:15] hsivonen opened #34817 "Clarify the meaning of reference-typed constants"
I used `pub const FOO: &'static Bar = &Bar { // crate-private stuff here ... };` in a crate. Within that crate, `FOO as *const Bar` was consistently the same address. However, when used in another crate, `FOO as *const Bar` became another address.

Apparently what's happening is that the RHS of `const` is inlined but within a given crate (effectively allowing a crate to inline stuff that's private

[2016-07-14 11:38] petrochenkov commented on #34817
Some relevant docs can be found here: https://github.com/rust-lang/rfcs/blob/master/text/0246-const-vs-static.md
`const` references are described there as references to implicitly defined `static`s, I don't think that's correct given that address stability for these references is not guaranteed.

[2016-07-14 14:15] cynicaldevil commented on #34787
@alexcrichton  Ok, here's what I got after scanning the source code:

- We only need to hit TLS if there's a panic, so the code for checking whether a panic has occurred (this code [here](https://github.com/rust-lang/rust/blob/3085ec78487712ed77a506d9cba8d69cd3a44684/src/libstd/panicking.rs#L239-260)) can be moved out of the closure.
- If, and only if we get a panic, we access TLS and decrement th

[2016-07-14 14:39] nielsle commented on #24187
Just for reference. The following compiles now
[code]
https://gist.github.com/38b7e06f15ad75ac3da66521dc7baa29

[2016-07-14 15:19] nagisa commented on #34809
The same way `Shr`/`Shl` are implemented for all primitive integrals with all primitive integral types for RHS, `Shr`/`Shl` should be implemented  ∀ `Wrapping<T>`, where T: primitive with all primitive integral types for RHS.

[2016-07-14 15:26] nagisa commented on #34787
That’s a well known pattern called rethrowing.

You also should check that `PANIC_COUNT` is `0` after decrement in this case, as otherwise you’re either double-panicking or there’s a bug (underflow). While, I believe, the `panic!()` should handle the double-panic just fine even inside the `catch_panic`, I feel like it will not properly handle a bug where panicking did not increment `PANIC_COUNT` f

[2016-07-14 15:30] nagisa commented on #34784
As far as I remember, the constant-evaluated initializer expression gets used as a pattern, i.e. the code below and in the report are equivalent for MIR builder:

[code]

Which is caught by the proper-typeck and is why the mir-typeck is complaining.

[2016-07-14 15:32] nagisa commented on #34774
Seems like a weird name for such a function IMO. Also, I believe, this should go into the RFC repo.

[2016-07-14 15:34] nagisa commented on #34815
If such an integral algorithm is made faster, I’m pretty sure it would get merged in some form.

[2016-07-14 15:44] digama0 commented on #34774
@nagisa Java has a similar function for comparators, called `thenComparing`. The idea is that you can read a comparison function like

    self.name.cmp(other.name).then(self.address.cmp(other.address))

as "compare by name, **then** by address". The `then` / `and_then` difference with a closure is inspired by Rust's function names for `Option` like `or` (by value) / `or_else` (by closure).

I don

[2016-07-14 15:47] alexcrichton commented on #34787
@cynicaldevil

Yes I believe that's correct. I *think* it should be ok to add this at the end of the function (for both the success and happy paths):

[code]

@nagisa

Unfortunately this is actually entirely different in how you'd be supposed to codegen it. Thinking more on this now, I've been informed that if you're in a *cleanup pad* then it's undefined behavior to raise another exception on MSV

[2016-07-14 16:05] brson commented on #28514
Triage: Moving this to P-medium since nobody is working on it. cc @rust-lang/lang @petrochenkov

[2016-07-14 16:06] alexcrichton commented on #28514
also ping @jseyfried, if this is [no longer an issue](https://github.com/rust-lang/rust/issues/28514#issuecomment-188730439), could you provide a summary as to why as well? It'd be great to close out!

[2016-07-14 16:07] ollie27 commented on #33417
I have a few questions about the purpose of these traits.

1. Which types in `std` will these be implemented for?
2. Which types should get implementations like `impl TryFrom<T> for T`?
3. Which types should get implementations like `impl TryFrom<U> for T` if they already have `impl From<U> for T`?

[2016-07-14 16:08] brson commented on #31287
@rust-lang/lang nominated for retriage. Still looks bad. Can we make progress now?

[2016-07-14 16:08] alexcrichton commented on #31287
As an update, still segfaults both on normal and MIR trans (example above)

[2016-07-14 16:10] brson commented on #18937
Triage: still a bad problem. @nikomatsakis will think about it when he returns.

[2016-07-14 16:12] brson commented on #33364
Triage: still blocked on https://github.com/rust-lang/rust/pull/34573, which is actively being pursued.

[2016-07-14 16:14] brson commented on #19925
Triage: still blocked on turning the lint to deny https://github.com/rust-lang/rust/issues/34198

[2016-07-14 16:15] alexcrichton commented on #19925
Updated title to reflect pending work to be done

[2016-07-14 16:16] brson commented on #34535
@jseyfried make any progress on this last week?

[2016-07-14 16:19] alexcrichton commented on #29149
triage: @aturon would you like to still be assigned to this P-high bug?

[2016-07-14 16:19] alexcrichton commented on #29149
@pnkfelix we took a look in triage today and decided to leave as P-high for now, but we definitely do need a bit of a changeup of the P- tags!

[2016-07-14 16:21] brson commented on #24263
Triage: making progress! Thanks @durka !

[2016-07-14 16:24] brson commented on #6834
Far future pipe dream! Closing.

[2016-07-14 16:24] #6834 closed

[2016-07-14 16:27] jseyfried commented on #28514
@alexcrichton I believe this issue can only happen if a public trait has a private parent, which is already a `public_in_private` future incompatiblity warning.

[2016-07-14 16:28] steveklabnik commented on #22932
Triage: this does reproduce today, printing

    thread '<main>' panicked at '{}', foo.rs:2

[2016-07-14 16:30] alexcrichton commented on #22932
This is very similar to the recently closed https://github.com/rust-lang/rust/issues/30143, so I'm going to tag this as such (rust-2-breakage-wishlist) and close.

[2016-07-14 16:30] #22932 closed

[2016-07-14 16:31] phillipp opened #34820 "bad-style check suggestion: Guard clauses"
Hi,
I tried Rust today and I really like what you created!

I noticed that there are lint warnings regarding bad style. I wonder how far this should be taken, but I wanted to suggest that the compiler warns if a guard clause would make the code more readable (IMHO). I think of situations where a complete block has only one expression that is an if, e.g.:

[code]

It might be easier to read (becaus

[2016-07-14 16:31] alexcrichton commented on #19051
All compiler flags at this point are essentially stable, modulo `-Z`, which is covered by https://github.com/rust-lang/rust/issues/31847, so closing in favor of that.

[2016-07-14 16:31] #19051 closed

[2016-07-14 16:31] bjorn3 opened #34821 "Llvm assertion failed when using malformed? asm!() parameters"
When I try to compile this code I get a llvm assertion:

[code]

The assertion is:
[code]

It's build using the nightly the playground is using when I write this issue.

[2016-07-14 16:32] eefriedman commented on #27054
Looks like this is fixed by MIR.

[2016-07-14 16:33] brson commented on #31847
Nominating to consider converting to an error.

[2016-07-14 16:36] brson commented on #24290
Triage: old issue. Lot's has happened around enums since. @rust-lang/lang what do?

[2016-07-14 16:37] alexcrichton commented on #28514
Awesome! I @rust-lang/lang, thoughts about closing? (also applying a nomination for bringing it up)

[2016-07-14 16:40] alexcrichton commented on #24950
triage: P-low

We've gone this long w/o a fix, probably not P-medium anymore (esp b/c there's a workaround). Also removing @nikomatsakis as an assignee as I don't think this is actively being worked on.

[2016-07-14 16:40] michaelwoerister commented on #34793
The solution implemented in the branch mentioned above looks pretty good. It passes `make check`, it allows for compiling Servo with MingW, and most of its ugliness will go away once we don't have to support legacy trans anymore. I'll make a PR and we'll see if people are OK with merging it.

[2016-07-14 16:42] alexcrichton commented on #24210
triage: P-low

Note a P-medium issue by today's standards, and also hasn't gone fixed for quite awhile! Also cc @jonathandturner, issue about diagnostics. Also removing the assignee of @nikomatsakis as I believe this isn't actively being worked on

[2016-07-14 16:43] brson commented on #21878
Unassigning @nikomatsakis from ancient bug.

[2016-07-14 16:45] brson commented on #21878
Nominating for close.

[2016-07-14 16:48] brson commented on #24002
Closing old vague bug cc @nikomatsakis

[2016-07-14 16:48] #24002 closed

[2016-07-14 16:48] alexcrichton opened #34822 "trace_macros-gate.rs fails distcheck"
[code]

This also happened on beta and I had no idea why, so I committed this fix: https://github.com/rust-lang/rust/commit/8dc253bcf3a565deb575108992b9f2e7d985aa17.

I believe this is specifically related to distcheck, which the auto bots don't run. Something about that configuration is different in terms of how errors are reported.

[2016-07-14 16:48] steveklabnik commented on #24002
@jonathandturner you might want to look at this thread for inspiration

[2016-07-14 16:49] alexcrichton commented on #34822
Note that this currently causes nightlies to be broken :(

cc @jseyfried were you working in this area recently? (may be a totally random cc!)

[2016-07-14 16:50] brson commented on #10520
Triage: closing. Old wishlist. Do RFC.

[2016-07-14 16:50] #10520 closed

[2016-07-14 16:52] rco-ableton opened #34823 "Unexpected compiler panic with a static Vec"
Hello,

During some attempts at figuring out how to maintain a `static` vector (something I'm still not sure is actually possible, except maybe via `lazy_static`?) through the lifetime of a program, I came across this compiler bug:

[code]

The code sample that triggers it is the following (prepare your eye baths now):

[code]

The output of `rustic --verbose --version` is:

[code]

Hope this is u

[2016-07-14 16:54] brson commented on #12466
Closing in favor of specific linked bugs.

[2016-07-14 16:54] #12466 closed

[2016-07-14 16:57] brson commented on #12609
Triage: nominating for retriage. Seems like a serious issue without updates in a long time. cc @rust-lang/lang @rust-lang/compiler .

[2016-07-14 17:00] alexcrichton commented on #15702
cc @jseyfried, @petrochenkov, do either of you know if recent work has made this easy to knock out?

Also removing @aturon as assignee as it's not actively being worked on

[2016-07-14 17:01] alexcrichton commented on #34822
This is now making me think that `make check` on beta will probably fail. Should probably just ignore this test and backport that to beta as well.

[2016-07-14 17:02] brson commented on #18469
Triage: ancient RFC tracking bug slipping through the cracks cc@rust-lang/lang what's up?

[2016-07-14 17:06] brson commented on #28229
Triage: P-low. ICE is problematic though would be great to fix it. Can anybody mentor?

[2016-07-14 17:09] steveklabnik commented on #23286
/cc @jonathandturner

[2016-07-14 17:11] brson commented on #23286
cc @imperio @Manishearth @jonathandturner this is actually a pretty horrible diagnostics bug. Anybody want to take it on as P-high?

[2016-07-14 17:12] brson commented on #23286
@nikomatsakis can still mentor.

[2016-07-14 17:15] brson commented on #28784
Probably a good beginner bug for someone familiar with parsing.

[2016-07-14 17:18] brson commented on #28024
Triage: still a problem.

@nikomatsakis Long time since any update. Do you know how to fix this and can mentor?

[2016-07-14 17:18] steveklabnik commented on #28024
So it's worth noting that this will compile (modulo some minor fixes), but, if you try to actually use `show()`, it won't work:

    struct Foo;

    fn show<T: std::fmt::Debug = Foo>(t: T) {
        println!("{:?}", t)
    }

    fn main() {
        let f = Foo;
        show(f);
    }

[2016-07-14 17:21] brson commented on #27554
Nominating for retriage. Old type system issue.

[2016-07-14 17:22] steveklabnik commented on #5846
Updated example:

[code]

error:

[code]

[2016-07-14 17:24] durka commented on #34820
Seems like a matter for [clippy](https://github.com/Manishearth/rust-clippy).

[2016-07-14 17:26] brson commented on #5846
Triage: This is an ancient P-low bug but per @sanxiyn it actually comes up in the wild a lot - macro writers have to know how to do this workaround. Can this be escalated? Is there a solution somebody could mentor?

[2016-07-14 17:27] brson commented on #17344
Whatever.

[2016-07-14 17:27] #17344 closed

[2016-07-14 17:31] eefriedman commented on #34823
Nightly gives:

[code]

[2016-07-14 17:31] alexcrichton commented on #34822
Oh I can just remove assertions about NOTE, that way we still test things just not that piece, nvmd.

[2016-07-14 17:32] brson commented on #18154
Triage: probably impossible to fix this in a satisfying way now, but there may be mitigations. Can we decide the fate here? If we make it a lint, can somebody mentor?

[2016-07-14 17:34] TimNN commented on #34823
This was fixed by #33852.

[2016-07-14 17:34] steveklabnik commented on #18154
New lints need RFCs nowadays.

[2016-07-14 17:36] brson commented on #20489
Closing in favor of https://github.com/rust-lang/rust/issues/31434

[2016-07-14 17:37] #20489 closed

[2016-07-14 17:37] brson commented on #31434
Nominating for status update.

[2016-07-14 17:37] alexcrichton commented on #34823
Yay!

[2016-07-14 17:37] #34823 closed

[2016-07-14 17:38] brson commented on #31434
@nikomatsakis status update?

[2016-07-14 17:39] brson commented on #23110
Old bug with no repros.

[2016-07-14 17:39] #23110 closed

[2016-07-14 18:27] TI-AviBerko opened #34825 "Windows installers aren't digitally signed"
Both the GNU and MSVC installers for 1.10 aren't digitally signed.

Note: The 1.5 installer isn't signed either

[2016-07-14 18:29] steveklabnik commented on #34825
Sorry @TI-AviBerko , I found the issue while you were filing this one: https://github.com/rust-lang/rust/issues/25457

[2016-07-14 18:29] #34825 closed

[2016-07-14 18:35] petrochenkov commented on #34537
Making `private_in_public` an error also fixes https://github.com/rust-lang/rust/issues/28514

[2016-07-14 18:42] petrochenkov commented on #28514
I think this can be requalified to E-needtest and closed when https://github.com/rust-lang/rust/pull/34206 lands. I should probably add this test to https://github.com/rust-lang/rust/pull/34206 itself.

[2016-07-14 18:55] petrochenkov commented on #15702
I don't think this can be done now, too much breakage (?).

Nothing that I know about.
Stability checks can be moved to resolve in a similar way like path privacy checks were moved there. This will help to check reexport stability as well. This has a cost of turning resolve into hodgepodge of various random checks. Giving path segments node ids and recording def_id's of path components is probably

[2016-07-14 18:57] alexcrichton opened #34826 "Tracking issue for enabling new error format by default"
This is a tracking issue for the default error format specified in https://github.com/rust-lang/rfcs/pull/1644.

The only major outstanding issue is to ensure that editor integration works just as well as it did before, *proven out* in a few editors like command line ones and larger IDEs. Full-integration in all editors isn't necessary and can happen just after we turn the errors on by default.

[2016-07-14 18:58] alexcrichton opened #34827 "Tracking issue for --explain expansion"
Tracking issue for the `--explain` related portions of https://github.com/rust-lang/rfcs/pull/1644

Current open questions are:
- Let's look at an implementation! Does it end up being reasonable?
- Is there a way to deprecate `--explain <CODE>` and instead use `--explain` to activate these errors?
- Is it easy to template these longer explanations for authors?

cc @jonathandturner (feel free to fi

[2016-07-14 19:07] jseyfried commented on #15702
Perhaps we could have resolve construct a map from paths to lists of `DefId`s.

[2016-07-14 19:09] jseyfried commented on #15702
Perhaps we could have `resolve` construct a map from paths to a list of the resolutions of the path's components (i.e. a list of `Def`s of `DefId`s) and use that map during the stability checking pass.

[2016-07-14 19:14] nagisa commented on #34774
You don’t need a full RFC, only this issue should be in *that* repository, since this issue (as well as many other feature requests) are RFCs in their most primitive form.

When you put it like this it seems to make sense, but I feel like there still may be better ways to call it, especially for `and_then` variation.

[2016-07-14 19:16] DemiMarie commented on #34457
@Manishearth how will that fork be cloned/updated?

[2016-07-14 19:52] nagisa commented on #24263
Crossposting the link to [an idea](https://github.com/rust-lang/rust/pull/34785#issuecomment-232769670) for more people to see.

[2016-07-14 20:06] #34790 closed

[2016-07-14 21:15] nrc commented on #5846
Discussed at lang meeting, we believe this should remain p-low since we don't know a very easy fix. It should be fixed by converting macro_rules to expand to pure tokens then parsing, rather than mixing the two steps (which we hop would be back-compat).

cc @jseyfried

[2016-07-14 21:17] aturon commented on #12609
Lang team discussed, and we don't feel that this is a very serious issue -- in particular, this only comes up when matching against an empty type, which is very rare to begin with, and the lack of exhaustiveness checking there is unlikely to hide any serious bugs. P-low.

[2016-07-14 21:20] nrc commented on #18469
Discussed at the lang meeting. I will go through the checklist to make sure it is up to date. We think it should remain p-medium since periodic check ins will be worthwhile.

[2016-07-14 21:23] alexcrichton commented on #15702
I wouldn't necessarily be *too* worried about the breakage here as we could turn these new stability violations into warnings for quite some time. We basically just want to communicate to people that the API they are accidentally using is actually stable somewhere else, and it's in their own best interest to use that instead.

If it's very difficult to implement in the compiler, though, this could

[2016-07-14 21:24] aturon commented on #24290
cc @durka

[2016-07-14 21:25] aturon commented on #24290
@eddyb checked into this; we currently choose the repr based on the value range, so we're closing as resolved.

[2016-07-14 21:25] #24290 closed

[2016-07-14 21:27] aturon commented on #28514
Switching to needstest!

[2016-07-14 21:27] alexcrichton commented on #33417
cc @sfackler, could you expand on the current set of impls and some of the rationale as well?

[2016-07-14 21:29] aturon commented on #31287
Moving to compiler team; we believe this is blocked on MIR borrowck.

[2016-07-14 21:30] aturon commented on #34708
This is not blocking the move to MIR, as @arielb1 notes.

[2016-07-14 21:33] #34822 closed

[2016-07-14 21:36] alexcrichton commented on #18154
Closed erroneously! (sorry)

[2016-07-14 22:13] bstrie commented on #14560
Closing in favor of https://github.com/rust-lang/rust/issues/30783

[2016-07-14 22:13] #14560 closed

[2016-07-14 22:22] bstrie commented on #18512
As far as I can tell, the resolution to this bug was originally implemented in https://github.com/rust-lang/rust/pull/21186 , which was postponed while waiting for the decision on the RFC at https://github.com/rust-lang/rust/pull/21186 , which was eventually rejected in favor of https://github.com/rust-lang/rfcs/pull/1236 , which is now implemented and stabilized. @aatch, do you think we can make

[2016-07-14 22:26] bstrie commented on #18236
Triage: this sounds like something that ought to be relocated to the RFCs repo.

[2016-07-14 22:31] bstrie commented on #30783
I propose that we revisit this around February 2017, since that's approximately the Stretch release date, by which point Wheezy will be even more emphatically obsolete. Which isn't to suggest that we shouldn't care about people still using Wheezy by then, but we need to prioritize the needs of the greatest proportion of our users, and gold-by-default is a significant speed win.

[2016-07-14 22:34] bstrie commented on #11763
I'm content to close this now, what's left is just cleanup work.

[2016-07-14 22:34] #11763 closed

[2016-07-14 22:36] bstrie commented on #29938
Closing in favor of https://github.com/rust-lang/rust/issues/30783

[2016-07-14 22:36] #29938 closed

[2016-07-14 22:47] bstrie commented on #31164
@mikosdikos , our work on MIR is about ready for widespread use, I'd be interested to see a comparison between compiling exa with and without MIR on your machine. To enable MIR, set the environment variable `RUSTFLAGS=-Zorbit` on the most recent nightly build of Rust.

[2016-07-14 23:19] bstrie commented on #18785
It wouldn't be wholly unprecedented to have a lint which gradually progressed from allow to deny, but it would require an RFC. I suggest someone write one. :)

[2016-07-14 23:40] glaebhoerl commented on #12609
Not just matching directly on an empty (uninhabited) type, but also on a composite type involving one. In particular types like `Result<Foo, !>` might become more common if #1216 lands, and right now the exhaustiveness checker doesn't see that the `Err` variant is impossible. ([Another example.](https://www.reddit.com/r/rust/comments/4e9xb5/error_enum_thoughts/d1yc0j0))

(Not disputing the priorit

[2016-07-15 00:31] wuranbo commented on #24346
As @emoon saying, lldb can do it. Thanks.

[2016-07-15 03:12] Manishearth commented on #34457
There are two of us with access to ssh gdb sources.

Though this is a very narrow threat model which I don't expect to happen, really.

[2016-07-15 04:26] nrc opened #34831 "Apparent 1000% regression in llvm phase of bootstrap"
See [perf](http://perf.rust-lang.org/graphs.html?start=Mon%20Jun%2013%202016%2019%3A51%3A42%20GMT%2B0000%20(UTC)&end=Wed%20Jul%2013%202016%2020%3A26%3A57%20GMT%2B0000%20(UTC)&kind=rustc&crates=total&phases=LLVM%20passes%2Ctranslation&group_by=phase)

Given that there has been no shouting, this could be due to something which only affects the perf server. Should still investigate.

cc @rust-lang/co

[2016-07-15 04:47] jseyfried commented on #34822
@alexcrichton hmm, this looks like it might be related to #33749 or maybe #33712, but both of those landed about a month ago.

[2016-07-15 05:21] alexcrichton commented on #34822
Hm in theory the bug should have shown up the night after b/c distcheck on the nightly builders would be broken, so not sure why it only turned up now! No worries though, was able to just ignore a tiny bit of the test.

[2016-07-15 06:22] #34275 closed

[2016-07-15 07:41] timkofu opened #34833 "A --static switch for rustc that "just works""
Ran with the above switch, rustc will produce a self contained binary that can run on the specified target without dependencies. Whatever size the resulting binary will be will be acceptable.

[2016-07-15 08:15] SimonSapin opened #34834 "Spurious (?) "trait bound not satisfied" with associated type constructors"
I’m using the technique mentioned at https://github.com/rust-lang/rfcs/pull/1598/files/8e922c0cede49b0b07ac6fcf29ea736aab29acb9#r68995241 and used at https://github.com/nikomatsakis/nll/blob/master/graph-algorithms/src/lib.rs to have in a trait an associated type constructor that takes a lifetime parameter.

rustc 1.12.0-nightly (7ad125c4e 2016-07-11)

[code]
[code]

Since`<ExampleImpl as TypeCons

[2016-07-15 09:36] retep998 commented on #34833
I think this would be better as an RFC that details what exactly will happen on each platform. A self contained binary on Windows is a very different matter than one on Linux which is in turn different from one on Mac OS X.

[2016-07-15 10:42] cynicaldevil commented on #34787
@alexcrichton If we were to add that statement, then TLS would be accessed anyway, regardless of whether there was a panic or not, which is what we are trying to avoid. I think it must only be added for the path in which a panic occurs.

[2016-07-15 11:28] TimNN commented on #34571
Note that adding a second variant reports no error at all:

[code]

[2016-07-15 11:39] alsam opened #34835 "ICE for nightly rustc 1.12.0-dev (b6c1ef374 2016-07-14) when compiling regex crate"
Hello,
I've got an internal compiler error with
[code]
How to reproduce it:
[code]

a backtrace:
[code]

Thanks

[2016-07-15 11:48] TimNN commented on #34571
Probably relevant from #25651:

[2016-07-15 12:13] jirutka commented on #31322
@japaric I’m trying to compile rustc using [your script](https://gist.github.com/japaric/52b8816a4c86f5a4699bcc50ebc3e020) and it always fail in the last phase with:

[code]

I’ve tried it with gcc 5.3.0 and 5.2.0, with and without `--enable-llvm-static-stdcpp`, but with no difference.

Do you have some idea what’s wrong?

[2016-07-15 12:28] nagisa commented on #34787
Yes, that's correct there's no point in checking that in the panic-less
case.

On Jul 15, 2016 13:42, "Nikhil Shagrithaya" <notifications@github.com>
wrote:

[2016-07-15 12:36] vlastachu commented on #32368
I thought that in rust every `if` expression should ends with semicolon (if result not used). It looks ugly, of course, but it is have different semantic in functions last expressions.

In short, I was trying to fix it, but compilation aborts on `libcore/num/flt2dec/mod.rs:361`:

[code]

And now it looks like that this behavior of `if` expression will never implemented. Btw user can call methods a

[2016-07-15 13:26] TimNN commented on #34835
Looks like a duplicate of #34780.

[2016-07-15 13:39] sfackler commented on #33417
I think in general the intuition should be exactly the same for that of `From`/`Into`, except when the conversion can fail. Just like we gradually add implementations of `From` and `Into` to standard library types, I expect we'll do the same for `TryFrom` and `TryInto`. The most important guideline here is that the conversion should be the "canonically obvious" one - if there's more than one reaso

[2016-07-15 13:44] dbrgn commented on #22750
I also got bitten by this issue multiple times. Once with `hyper` + `iron`, once with `r2d2_redis` + `redis`. I found this issue through https://www.reddit.com/r/rust/comments/4sy81y/best_practice_for_exposing_library_dependencies/.

I'd support a syntax like the once mentioned by @shepmaster. It provides a way for the user to differentiate between "I want this version of hyper" and "I simply want

[2016-07-15 14:05] SimonSapin commented on #33417
When a `TryFrom` conversion happens to be infallible the error type should be `enum Void {}`, right? (Or a similar enum with some other name.) Which by the way sounds to me like a good reason to have a general purpose `Void` type in `std`.

[2016-07-15 14:21] sfackler commented on #33417
@SimonSapin that would break an `IntoConnectParams` style API as well as the integer conversion use case outlined in the RFC since the error types of the infallible and fallible conversions wouldn't match.

[2016-07-15 14:28] eddyb commented on #34834
I believe this is #30472, although I'm not sure that is the canonical version, and that @soltanmm and @nikomatsakis have been pushing for "lazy normalization" to solve this.

[2016-07-15 14:58] aturon commented on #12609
@glaebhoerl Yes, my summary was a little to brief -- the match against an empty type could occur in the context of another type.

It is a good point that the introduction of `!` could make this situation more common, but I think that until we start hearing reports that the lack of exhaustiveness checking there is causing trouble in practice, we can safely leave this at P-low.

[2016-07-15 15:08] nagisa commented on #34833
That’s exactly what the `-musl` targets are for on linux. You will get a fully static binary.

I doubt you can make a fully static binary on windows or [OS X](https://developer.apple.com/library/mac/qa/qa1118/_index.html)¹ though.

[2016-07-15 15:47] alexcrichton commented on #34787
@cynicaldevil ah yeah sure in debug mode it'll hit TLS, but it'll get optimized away in release mode and it's a good sanity check in theory (not required though)

[2016-07-15 15:48] #34697 closed

[2016-07-15 15:48] #29364 closed

[2016-07-15 16:10] alsam commented on #34835
Yes, and duplicate of this one too https://github.com/rust-lang/rust/issues/34791
Thanks for noticing.

[2016-07-15 16:17] alexcrichton commented on #34835
Indeed!

[2016-07-15 16:17] #34835 closed

[2016-07-15 16:18] alexcrichton commented on #34780
triage: I-nominated

(just in case this is a regression)

[2016-07-15 16:34] abusse commented on #28352
Thank you @steveklabnik for the very fast answer and shame on me for not replying for such a long time, but I got stuck with a very urgent project the next day until recently.

My issue does not regard the error message, but the error itself. I get the same result as you when compiling @klieth  's example. However, when I do not define the panic function I get stuck at the linking error as @klieth

[2016-07-15 16:47] glaebhoerl commented on #33417
@SimonSapin #1216

[2016-07-15 16:56] steveklabnik commented on #28352
Okay, so, I don't think this is a bug, then. You have to define these lang items; https://doc.rust-lang.org/stable/book/no-stdlib.html has some examples, though they are out of date. https://github.com/rust-lang/rust/issues/33677 has been open for this; I'm just going to do it right now.

I would encourage you, if you're still having trouble, to open a thread on users.rust-lang.org about this, wit

[2016-07-15 16:56] #28352 closed

[2016-07-15 16:58] steveklabnik commented on #34176
This was actually fixed at some point; the fix is currently in beta, so will be part of Rust 1.11. Thanks!

[2016-07-15 16:58] #34176 closed

[2016-07-15 17:23] kennytm commented on #34803
Rust support `#[cfg(anything)]` when you pass `--cfg anything` to rustc. Cargo is just passing `--cfg feature=foo` to the compiler.

The documentation could be improved to mention the `--cfg` flag though.

[2016-07-15 17:24] steveklabnik commented on #34833
I echo what both other commentors said; this would need an RFC to spell out exactly what happens on non-Linux platforms, and on Linux today, you can do this with `-musl`. Please pursue one if this is important to you!

[2016-07-15 17:24] #34833 closed

[2016-07-15 17:24] Ericson2314 commented on #33417
@sfackler Not if you use plain `From` for the error types(e.g. `try!`)! `impl<T> From<!> for T` can and should exist for that purpose.

[2016-07-15 18:13] steveklabnik opened #34839 "Last night's nightly ICEs on regex crate"
https://travis-ci.org/steveklabnik/semver/jobs/145070460

[code]

/cc @BurntSushi

(I can try to get a stacktrace later if it's important)

[2016-07-15 18:31] abusse commented on #28352
Again, thank you for the fast answer. Are you absolutely sure it is not a bug? Even though, I am trying to define these language items the compiler/language is simply not **allowing** me to define `panic`. It works perfectly fine for `eh_personality` and `panic_fmt` as you described in the document above, but the compiler simply refuses to accept my definition for `panic` as duplicated. However, a

[2016-07-15 18:33] steveklabnik commented on #28352
Yes, you should not be defining a "panic function." panic isn't even a function in Rust; it's a macro. The exact code would be extremely helpful here.

[2016-07-15 18:34] jonas-schievink commented on #34839
See #34780 and #34791

[2016-07-15 18:36] steveklabnik commented on #34839
Gah! I should have searched better. It seems like this is a duplicate.

[2016-07-15 18:41] benaryorg opened #34840 "compiler error: cannot relate bound region"
My [nightli.es](https://nightli.es) build of one of my first experiments with rust just panicked when compiling on travis.
[log.txt is on Pastebin](https://pastebin.com/vV8EGZKw)

The error was that: `error: internal compiler error: ../src/librustc/infer/region_inference/mod.rs:734: cannot relate bound region: '_#0r <= ReEarlyBound(TypeSpace, 0, 'r)`

Everything should be in that logfile, for conv

[2016-07-15 18:44] jonas-schievink commented on #34840
See #34780 and #34791

[2016-07-15 18:44] steveklabnik commented on #34840
I just opened https://github.com/rust-lang/rust/issues/34839 which was also a duplicate of other issues

[2016-07-15 18:45] benaryorg commented on #34840
Okay, sorry for the duplicate then.

[2016-07-15 18:45] #34840 closed

[2016-07-15 18:53] alexcrichton commented on #34400
We're upgrading compiler-rt in https://github.com/rust-lang/rust/pull/34743 as part of an LLVM upgrade, and it's again unfortunately quite an ordeal due to the sheer number of patches we need to apply (many of which don't apply cleanly any more).

[2016-07-15 19:00] abusse commented on #28352
Sorry that I can give you the minimal example just now, it took me some time to strip down the code and still maintain the problem as it contains a lot of complicated wrapping to C code. Take this gist as example:
https://gist.github.com/abusse/ad35d7d6a36002f8cb521ab862efd4b5
When I compile it with `rustc -g --emit obj` and do an object dump I get the following:
https://gist.github.com/abusse/94c

[2016-07-15 19:23] cuviper commented on #34400
@alexcrichton Can you give a brief overview of what sort of compiler-rt patches there are?  That will help me decide the feasibility of using the distro package.  (FWIW, I already have makefile patches semi-working to allow external compiler-rt, and hope to send a PR soon.)

[2016-07-15 19:24] shepmaster commented on #34400
I believe this will be quite useful when it comes time for the AVR port to use exotic tools like the formatting infrastructure, so I'm very excited for this!

[2016-07-15 19:38] steveklabnik commented on #28352
Please open a thread on users for this.

[2016-07-15 19:43] #10607 closed

[2016-07-15 19:59] alexcrichton commented on #34400
@cuviper 100% of our patches are build system nonsense and compiling on not-x86 platforms, so if distros can provide a pre-built compiler-rt that should work just fine for our use cases!

For posterity though it probably can't hurt to describe the patches. This information is based on the [rust-2016-06-16](https://github.com/rust-lang/compiler-rt/tree/rust-2016-06-16) branch on github which we're

[2016-07-15 19:59] alexcrichton commented on #34400
Also now reading over that list, it's not 100% related to build system stuff, there's a few minor things for the ARM personalities and whatnot.

[2016-07-15 20:36] alexcrichton commented on #24250
Fixed by #34700

[2016-07-15 20:36] #24250 closed

[2016-07-15 20:53] TimNN commented on #34839
@steveklabnik: I think one of the issues regarding the ICE in the regex crate needs to be reopened:

* The regex crate compiles successfully on 2016-07-12 but fails on 2016-07-15
* The snipped from #34780 fails on 2016-07-12 as well (and on 2016-04-22 as well, which was the earliest nightly I had still locally installed).

[2016-07-15 21:00] pthariensflame commented on #34511
@aturon Can we actually put the RFC in the repository?  (@mbrubeck commented there that this was a problem.)

[2016-07-15 21:03] aturon commented on #34511
Done.

[2016-07-15 21:04] TimNN commented on #34839
Looking at the stacktrace, I assume this has been caused by #34755 (although I don't believe that #34755 is the root cause).

[code]

[2016-07-15 21:05] abusse commented on #28352
I think I figured out what the issue is. Just for the record in case someone else comes about this issue: I assumed that `[no_std]` already gives me a bare-metal setup, but apparently also `[no_core]` is needed as well otherwise the core library has to be linked against the final binary. Thanks again for the quick support, it's really good to see that people are so dedicated to this project!

[2016-07-15 21:06] TimNN commented on #34780
#34791 does not seem to be a duplicate of this issue, see also https://github.com/rust-lang/rust/issues/34839#issuecomment-233067248:

[2016-07-15 21:08] TimNN commented on #34780
Also, I can reproduce this issue (with `#![feature(associated_consts)]`) on stable 1.9.0 & stable 1.10.0.

[2016-07-15 21:16] alexcrichton commented on #34839
Ok, thanks for the analysis @TimNN!

cc @jonas-schievink

[2016-07-15 21:17] alexcrichton commented on #34780
Ok, de-nominating due to #34791 now tracking the regex crate regression, and otherwise this at least looks feature gated.

[2016-07-15 21:23] michaelwoerister commented on #32753
OK, I just took a closer look at the [current SVH implementation](https://github.com/rust-lang/rust/blob/3cc3ad11e6fadcba443cc50ba6ed03ab04d34355/src/librustc_incremental/calculate_svh.rs), gauging its suitability for being used as ICH. My assessment is that we are almost there. Here are the specific points that need to be addressed from my point of view:

- The most important shortcoming of the c

[2016-07-15 22:30] brson commented on #20130
@hgallagher1993 How's it going?

[2016-07-15 22:35] brson commented on #30961
@bitshifter Oh, awesome!

Yes, you got it right. First submit the LLVM patch to [our fork](https://github.com/rust-lang/llvm). It looks like the branch you want to submit to is `rust-llvm-2016-03-13`. You can go ahead and submit the Rust PR that depends on it at the same time, and link to the LLVM PR, mentioning the dependency.

This sounds like the kind of LLVM change that might get pushback to u

[2016-07-15 22:35] cuviper commented on #34400
Awesome, thanks!  It does sound we dodge a lot of bullets by using the distro build.

Regarding the ARM stuff, I noticed that both the [makefiles](https://github.com/rust-lang/rust/blob/4db1874f4c26a2c88acb5e46b413e9c4adce3477/mk/rt.mk#L284) and [rustbuild](https://github.com/rust-lang/rust/blob/4db1874f4c26a2c88acb5e46b413e9c4adce3477/src/bootstrap/native.rs#L169) only map to builtins-armhf if it

[2016-07-15 22:37] TimNN commented on #34839
Alright, I've been staring at some debug log output (there's lots of it!) and the current progress is that the ice happens when `VariantSizeDifferences` is processing

[code]

[2016-07-15 23:07] cuviper commented on #34400
Oh, I guess that's a consequence of the "3 logical ARM builds" patch.  Hmm...

[2016-07-15 23:11] brson commented on #28784
Make the rustc parser behavie like parser-lalr, per the op.

[2016-07-15 23:18] TimNN commented on #34839
In case it helps anyone, the debug log ist at https://gist.github.com/TimNN/bb6b3a7396d8b8b71899bba4eee231db

[2016-07-16 00:32] alexcrichton commented on #34400
Ah rustbuild just copied the makefiles and the makefiles are just literally the first thing that worked, so I'd believe that they may be wrong!

[2016-07-16 00:42] cuviper commented on #34400
I think it is right in the context of the "3 logical ARM builds" patch, but the distro doesn't have that.

I was having my change for external compiler-rt specify a directory, so rust could pick out whatever filename it wants from there.  Maybe I should just give the full path to the actual library file that the distro has.  That won't help cross-compilation, but Fedora only compiles on native hos

[2016-07-16 00:49] Ryman opened #34843 "rustdoc prioritises documenting reexports from the type namespace"
If there's multiple items referred to by a reexport, rustdoc seems to only document the one in the type namespace.

[code]

The example `main.rs` below shows that resolve allows users to access `sync` in both capacities, so rustdoc should probably document both instances:

[code]

Related issue (it's about globs): https://github.com/rust-lang/rust/issues/31337#issuecomment-177763636
An example in

[2016-07-16 01:18] bheesham commented on #34839
I ran into this while trying to install rustfmt using the nightly build on Linux.

Here's the backtrace, should anyone find it useful.

[code]

[2016-07-16 01:39] brson commented on #34839
Lots of them on crater: https://internals.rust-lang.org/t/regression-report-stable-2016-07-05-vs-nightly-2016-07-15/3699

[2016-07-16 02:44] TheDan64 commented on #34839
Also seeing this issue when trying to install racer via cargo on nightly & Linux.

Stack trace: http://pastebin.com/74GQLdms

[2016-07-16 03:57] DemiMarie opened #34844 "ICE on extremely deeply nested syntax"
The following shell scripts all cause a stack overflow in the compiler:

[code]

This should be fixed (perhaps by making the parser non-recursive, or by setting an explicit recursion limit).

[2016-07-16 04:27] kdar commented on #22290
Would also be nice to be able to only import certain macros.

[2016-07-16 05:33] bitshifter commented on #30961
@brson thanks! I've created a couple of PRs per your suggestion.

Regarding mainline LLVM, I could create a bug for llc  printing duplicate information. I couldn't see anything similar in their bug tracker, potentially a similar fix could be applied upstream (expose details and print explicitly rather than implicitly).

[2016-07-16 05:54] tioover commented on #34780
[code]

[2016-07-16 06:25] TimNN commented on #34780
@tioover: Your issue looks more like #34839 rather than this one.

[2016-07-16 06:55] jseyfried commented on #34535
@brson sorry for the delay on this.

[2016-07-16 07:09] 0tt commented on #28237
I don't have any useful insights, but I'd like for inclusive ranges to exit "experimental" status. As I was going through Rust By Example, I found one snippet that could benefit from this:

[code]

[2016-07-16 07:13] jseyfried commented on #34535
I'm having trouble reproducing this (I've tried on a two different Linux machines).
Can someone else try to reproduce it? (cc @arielb1)

[2016-07-16 08:19] #34516 closed

[2016-07-16 08:43] jonas-schievink commented on #34839
I've got a fix almost ready

[2016-07-16 10:11] zensh opened #34851 "Large vec is much slower than Node.js Buffer"
Create and copy `256MB` data, Node.js `317 ms` VS Rust `12 sec`!

[code]

[code]

[2016-07-16 10:17] jonas-schievink commented on #34851
Did you compile in release mode?

[2016-07-16 10:23] zensh commented on #34851
@jonas-schievink

release mode is faster than debug mode, but still slower than Node.js

➜  test target/release/hello_world
create Duration { secs: 0, nanos: 871399084 }
copy Duration { secs: 2, nanos: 215459729 }
➜  test target/debug/hello_world
create Duration { secs: 11, nanos: 601338291 }
copy Duration { secs: 1, nanos: 516260097 }

[2016-07-16 10:31] jonas-schievink commented on #34851
I don't think `append` matches `copy`. `copy` will overwrite the target, while `append`, well, appends `buf1` to `buf2`.

No idea why copy became slower in release mode. Is that reproducible?

[2016-07-16 10:36] ranma42 commented on #34851
`append` also consumes the source, as per the [example](https://doc.rust-lang.org/collections/vec/struct.Vec.html#examples-16)

[2016-07-16 11:05] zensh commented on #34851
@jonas-schievink @ranma42 There is no `copy` method for vec. When I use `push` with `Iterator`, it is much slower than `append`

[2016-07-16 11:22] jonas-schievink commented on #34851
@zensh I mean the `copy` from Node.js doesn't do the same thing as Rust's `append`

[2016-07-16 11:58] nagisa commented on #34851
The way you do the copy in Node is equivalent to

[code]

in Rust, all the uninitialized stuff and unsafety included.

---

That being said, I still find this bug very valid. We could certainly:

1. Specialize various methods of `Vec` to do `memcpy` with `T: Copy` elements (i.e. do what the snippet I just posted above does);
2. Specialize `Vec<T: Copy>::extend_with_element` to a `memset`,

because

[2016-07-16 12:11] zensh commented on #34851
I have implemented a `copy_vec` function for my use case, it is very fast now.

### Code:
[code]

### Result:
[code]

[2016-07-16 12:13] zensh commented on #34851
@nagisa `copy_from_slice` can only use for `slice`, that would not be large(< 2MB) because of stack size limit.

[2016-07-16 12:15] jonas-schievink commented on #34851
The use of `get_unchecked_mut` makes the function unsafe, you should use normal indexing instead or mark `copy_vec` as `unsafe`.

[2016-07-16 12:46] zensh commented on #34851
@jonas-schievink Here https://github.com/iorust/msgp-rust/blob/master/src/lib.rs#L19 is my use case, it work fine.

[2016-07-16 12:46] #34851 closed

[2016-07-16 13:31] jonas-schievink commented on #34851
@zensh slices obtained from a `Vec` point into its backing storage, which is always on the heap

[2016-07-16 14:46] japaric commented on #31322
@jirutka

While building `libunwind-40c0f24bb84d756d.rlib`? That looks like a new error to me.

Are you following the gist instructions "to the letter"? In particular, are you using a Ubuntu 15.10 docker image? Because, IIRC, there some was some bug in the Ubuntu 16.04 `binutils` package that also caused a linker error (don't remember the details). That's why the instructions say: use Ubuntu 15.10

[2016-07-16 15:10] arielb1 commented on #34851
@zensh

Rust `char`s are 32-bit long, so you are actually copying 1GB of data. Use `String` if you want that. Node.js characters are 8-bit long, right? (using UTF-8). Using 8-bit characters is fast as it should.

[2016-07-16 15:16] zensh commented on #34851
@jonas-schievink You are right, thank you.

@arielb1 yeah I have taken otice of that, I changed it to `b'a'` in my test. Github's editor have some thing wrong I can't edit the issue~ thank you.

[2016-07-16 15:18] arielb1 commented on #34851
@zensh

I see a `memcpy` being emitted in both cases.

[2016-07-16 16:31] #34812 closed

[2016-07-16 16:40] arielb1 commented on #34535
I was also not able to reproduce. Could you help us @aochagavia?

[2016-07-16 17:16] ollie27 commented on #33417
That doesn't appear to have happened yet so I don't know if it's because nobody has got round to it or there are no applicable types in `std`. If there are applicable types in `std` it would be nice to see some implementations for them. For example are any of the following good implementations?

`impl TryFrom<u32> for char`
`impl TryFrom<char> for u8`
`impl TryFrom<Vec<u8>> for String`
`impl TryFr

[2016-07-16 18:35] brson commented on #31436
Is anybody working to move this forward? No updates here in a while. Are the remaining tasks in the OP still accurate? Can anything here be E-help-wanted?

[2016-07-16 18:45] brson opened #34857 "Add fs::read_to_string"
Every time I want to load the contents of a file to a `String` I think this same thing: "there should be a fs::read_to_string".

It looks like to me the most convenient way to do this once `?` is stable (which doesn't seem to be near) might be `File::open(path)?.read_to_string()?`, assuming you've got the `Read` trait imported. It's just not as nice.

We as @rust-lang/libs can be more aggressive a

[2016-07-16 19:17] danielwaterworth opened #34858 "rustc hangs"
This issue may well be a duplicate, but I don't know enough about rust internals to make that judgement.

I'm using `rustc 1.10.0 (cfcb716cf 2016-07-03)`. [This](https://github.com/DanielWaterworth/qbf-rust/commit/c56692832bf32ddb66c39ddcf1edc24fd75c49f2) is the commit in my project that makes it hang.

Here's the output with time-passes:

[code]

[2016-07-16 19:25] eddyb commented on #34792
Looks like this is caused by [using `find`](https://github.com/rust-lang/rust/blob/d5b9850d79beb87c0e498e0a0b8097e4a11bfae6/src/librustc/traits/select.rs#L1221) on the set of bounds from the trait, but that is just find the first one (in the order they are internally stored), this needs to filter and produce a vector of bounds or something similar.

cc @rust-lang/compiler

[2016-07-16 19:49] jonhoo opened #34859 "Cannot move out of boxed value during deconstruction"
On stable, the following code does not compile:

[code]

The compiler says that extracting `b` is a "use of moved value: `x`", and that `x` was moved when extracting `a`. The issue also occurs if using `match`, or when using the `box_patterns` feature. However, this clearly should be legal to do.

The following code also breaks in a similar way, but with a different error message ("use of collater

[2016-07-16 19:54] jonhoo commented on #34859
Should also mention that the code works correctly is `s/String/i32/`, presumably because `i32` is `Copy`, and so only `b` is really moved.

[2016-07-16 20:16] retep998 commented on #34857
What if we had a `read_to_vec` instead and then you convert that into `String`?

[2016-07-16 20:28] jrmuizel opened #34861 "Inefficient codegen for function returning String"
The following code seems generate inefficient code compared to the C++ equivalent:

[code]

gives:

[code]

vs.

[code]

The rust code has an additional alloca and a memcpy

[2016-07-16 20:49] aochagavia commented on #34535
I tried to reproduce it, but the compiler hit an ICE when compiling `xml-rs v0.3.4`, which is one of the dependencies, so I can't check if the current nightly is still wrong.

[2016-07-16 20:50] jrmuizel commented on #34861
pub fn goo() -> String {
"https://".to_string()
}

Gives:
define void @_ZN8rust_out3goo17h4b78ef91328cd5a8E(%"3.std::string::String"* noalias nocapture sret dereferenceable(24)) unnamed_addr #0 {
entry-block:
  tail call void @"_ZN80_$LT$string..String$u20$as$u20$core..convert..From$LT$$RF$$u27$a$u20$str$GT$$GT$4from17hfac1f2dc216f571bE"(%"3.std::string::String"* noalias nocapture nonnull sret der

[2016-07-16 20:52] Blaisorblade opened #34865 "The Book discusses ownership after vectors, but some text claims otherwise"
Ownership, borrowing and lifetimes are discussed after vectors and before methods, but the text seems written with another order in mind.

In particular, there's an inaccuracy in https://doc.rust-lang.org/book/ownership.html, which says:

Should this be removed/rephrased/dealt with some other way? I might try a PR for this (removing the inaccuracy) myself.

[2016-07-16 21:15] eddyb commented on #34535
@aochagavia What about nightlies from a few days ago?

[2016-07-16 21:24] Blaisorblade commented on #34624
The original issue appears addressed in #34625, which was merged (though it's not yet reflected in the manual, https://doc.rust-lang.org/book/loops.html).

There's still the comment of @xitep to address, and I agree with him.

[2016-07-16 21:33] petevine opened #34867 "compiler-rt doesn't build with cmake"
Trying to use system LLVM 3.8 located in `/usr` fails:

[code]
[code]
because it's located in `/usr/share/llvm-3.8/cmake/LLVMConfig.cmake`

This particular `aarch64` Ubuntu 16.04 image used to work fine 3 weeks ago but, IIRC, `cmake` wasn't used at the time.

[2016-07-16 21:37] jethrogb opened #34868 "`Fn`s with different arguments should be different types"
Currently you can't write something like this:
[code]
This results in an error about conflicting implementations. This is because there might exist a type that implements both `FnMut()` and `FnMut(usize) -> usize`. In reality such a type will of course never exist.

Potential dupe of #19032 but I'm not sure

[2016-07-16 21:39] compressed opened #34869 "Mac - linking error (dyld: Symbol not found: __cg_jpeg_resync_to_restart) in beta but not stable"
This came up in https://github.com/sgrif/pq-sys/issues/1. It seems when trying to run/test anything using beta or later this crate fails to run (not build) with the below error.

Note: I don't have `DYLD_LIBRARY_PATH` set as an env var anywhere. It seems to be picking up the wrong `libJPEG.dylib` in beta (`/usr/local/lib`) instead of in the OSX library location (`/System/Library/Frameworks/ImageIO

[2016-07-16 21:47] Blaisorblade opened #34870 "The Book discusses lifetimes in a way that could be improved"
As mentioned in #34865, ownership, borrowing and lifetimes are discussed after vectors and before methods, but the text seems written with another order in mind.

In particular, more confusingly than #34865, lifetimes are discussed without warning before structs, methods, etc., but the text relies on these concepts—see https://doc.rust-lang.org/book/lifetimes.html#impl-blocks.

Since lifetimes hav

[2016-07-16 21:56] hgallagher1993 commented on #20130
@brson I actually haven’t had a chance to even look at it, long hours in the office all last week. It's going to have my undivided attention for the next few days :smiley: I'm probably going to need a bit of this as well @Manishearth

[2016-07-16 21:57] bsteinb commented on #28147
@constituent I think you might be interested in https://github.com/contain-rs/discuss/issues/13

[2016-07-16 22:29] TimNN commented on #34868
Actually, I'm pretty sure that it is easily possible for a type to implement both, since the Fn traits can be implememted for a type like any other traits, ie. you can do `struct A; impl Fn() for A { ... }`.

[2016-07-16 23:33] andrey-gvrd opened #34872 "Nightly compiler error - Early bound region when generalizing"
Building `xml-rs` crate fails with:

[code]

Reproduction steps:

[code]

I'm using rust 1.12-nightly (4db1874f4 2016-07-15).

[2016-07-17 00:33] nagisa commented on #34869
Where the dependency on `ImageIO` comes from? Is it the pgsql library itself?

My initial impression is UB caused by a miscofigured system rather than an actual regression (i.e. its a miracle it worked before). Given the compilation succeeded, the linker got the right library/framework/etc and linked the binary up properly. After that, its all in the loader’s hands.

[2016-07-17 00:39] alexcrichton commented on #34400
I've taken an initial stab at this in https://github.com/rust-lang/rust/pull/34873, although not moving to a build script just yet, only redoing the build system.

[2016-07-17 00:40] #34839 closed

[2016-07-17 00:40] DemiMarie opened #34874 "Varargs extern functions are Copy but not Clone"
Varargs extern functions are `Copy` but not `Clone`.  This causes problems when trying to use bindgen on a C header file that contains stucts that contain extern function pointers.

[2016-07-17 00:41] nagisa commented on #34868
Once implementing `Fn`-traits is [made stable](https://github.com/rust-lang/rust/issues/29625), what @TimNN said is correct. Such case could also occur once we get something like default arguments, resulting in one value implementing multiple ways to call it – and thus multiple `FnOnce` implementations.

This issue is likely inactionable.

[2016-07-17 00:43] DemiMarie commented on #12695
What about Julia's [OpenLibM](https://github.com/JuliaLang/openlibm)?

[2016-07-17 01:18] nagisa commented on #34874
Duplicate of https://github.com/rust-lang/rust/issues/28229.

[2016-07-17 02:59] m4b opened #34877 "large stack arrays cause segfaults in safe code (even with ulimit unlimited)"
Note, first make sure to set `ulimit -s unlimited` before running the program below.

Something like the following has problems with bad ASM stack offsets/accesses being generated due to 32-bit overflow.

Looks like this is something known in LLVM: https://groups.google.com/forum/#!topic/llvm-dev/g4sF46a47_w

This also only seems to cause segfaults in `--release` mode

Note however, it's not entir

[2016-07-17 03:21] retep998 commented on #34877
On 64-bit Windows I compiled the program as provided using `rustc -O` and upon running it I got `thread 'main' has overflowed its stack`. If the issue is that a segfault occurs which isn't a standard stack overflow, it would help if you described which platform/target specifically is running into the issue.

[2016-07-17 04:09] #33677 closed

[2016-07-17 04:56] sanxiyn commented on #34867
Yes, this is unfortunate. Copying or symbolic linking `cmake` directory works. See `src/etc/Dockerfile` for an example.

[2016-07-17 06:21] sankha93 opened #34878 "Nightly compiler error: cannot relate bound region"
Came across this error while building on the nightly compiler on Travis: https://travis-ci.org/troposphere/boron/jobs/145311447

Relevant log lines:
[code]

[2016-07-17 07:23] eefriedman commented on #34877
(See also #16012.)

[2016-07-17 07:44] TimNN commented on #34878
This is probably #34839 and should be fixed in the next nightly.

[2016-07-17 07:48] TimNN commented on #34872
This is #34839 and should be fixed in the next nightly.

[2016-07-17 08:13] RobertWHurst commented on #19535
Any progress on this?

[2016-07-17 08:46] nodakai commented on #18785
@DemiMarie

Some system programs might want to issue the exit(2) syscall via [`process::exit()`](https://doc.rust-lang.org/std/process/fn.exit.html) and skip any pending calls to destructors as the final step of an "infinite" recursion. Super edge case, though.

[code]

[2016-07-17 09:42] Kerosene2000 commented on #28237
Up ? 😄

[2016-07-17 10:52] phil-opp opened #34881 "Strange error message on empty asm! macro"
The following code produces a strange error:

[code]

The error is:

[code]

[Playpen link](https://is.gd/tkXVzi)

The error does not contain any file or line information, so it's pretty hard to find the offending line. The error also occurs on stable, where inline assembly isn't even allowed.

[2016-07-17 10:55] arielb1 commented on #18785
@nodakai

Functions may also call some other function with an infinite loop
[code]

[2016-07-17 10:59] arielb1 commented on #34868
Yea. Not a bug. Implementing `FnOnce` with different input types is intentionally allowed.

[2016-07-17 10:59] #34868 closed

[2016-07-17 11:30] W4RH4WK opened #34882 "Add next_if to Peekable"
I'd like to propose the addition of a convenience function to `Peekable`. The `next_if` method takes a predicate and returns the next item iff it evaluates to `true` and the iterator has not been exhausted.

Note that the iterator is _not_ advanced if the predicate does not evaluate to `true`, hence this is only available in `Peekable`. Something like this:

[code]

[2016-07-17 12:22] petevine commented on #34867
I'd tried symlinking but it didn't work either:

[code]

The file is found in `/usr/lib/llvm-3.8/lib/` or `/usr/lib/llvm-3.8/build/Release/lib` so after adding two more symlinks to `bin` and `lib` in `build`, I got this:
[code]

This library doesn't exist period.

[2016-07-17 12:27] sanxiyn commented on #31847
This will break using `-Z time-passes` with stable compiler.

[2016-07-17 12:27] #31164 closed

[2016-07-17 12:29] arielb1 commented on #27554
Not `I-wrong`.

[2016-07-17 12:40] arielb1 commented on #34784
This is more general than raw pointers

[code]

However, other cases result in a const-eval error:

[code]

I think this is the right solution.

[2016-07-17 12:42] arielb1 commented on #34784
Problem line: https://github.com/rust-lang/rust/blob/1.10.0/src/librustc_const_eval/eval.rs#L340

[2016-07-17 12:45] arielb1 commented on #23286
Will mentor @hilasha2

[2016-07-17 12:56] DanielWaterworth commented on #34858
I started looking into this, but gave up. Slow compile times and a segfault when I was building rustc effectively lost you a contributor.

[2016-07-17 13:50] sanxiyn commented on #34858
I believe this is the same case as #33502.

[2016-07-17 13:55] aochagavia commented on #34535
Using `rustc 1.11.0-nightly (ab0b87458 2016-06-13)` triggers the issue (testing on [this commit](https://github.com/aochagavia/snake/tree/cd1b56c39d02cb7b6a0aa06b32f3e02e36b986e3)) on my machine (Windows 10 x64). I am using the GNU ABI.

[2016-07-17 14:10] DanielWaterworth commented on #34858
Yep, same thing, same stack trace.

[2016-07-17 14:24] petrochenkov commented on #34784
Since you generalized this issue, https://github.com/rust-lang/rust/issues/34782 can probably be closed as a duplicate.

[2016-07-17 14:39] arielb1 commented on #34782
duplicate of #34784

[2016-07-17 14:39] #34782 closed

[2016-07-17 14:39] arielb1 commented on #34784
cc @oli-obk

[2016-07-17 14:40] arielb1 commented on #34858
segfault while building rustc?

[2016-07-17 14:44] arielb1 commented on #33502
Not sure what is the best way to resolve this. Maybe we could add a polymorphic monomorphization recursion checker that detects cases of `foo<T> requires foo<X<T>>`. Problem is, there can be loops involving associated types. Maybe just drop them? But that will just cause confusion.

[2016-07-17 14:51] DanielWaterworth commented on #34858
yes

[2016-07-17 14:53] petrochenkov commented on #34784
One more test, for thin pointers:
[code]
Gives `internal compiler error: ../src/librustc_trans/collector.rs:983: find_vtable_types_for_unsizing: invalid coercion *const [u8; 4] -> &[u8]` currently.

[2016-07-17 15:08] sanxiyn commented on #34359
Another way to get this is `(return)();`. `return();` is special cased in the parser so that it does not parse as a call. `break();` will get the same treatment if we adopt RFC 1624.

What should be the error message here? I am inclined to close unless there is a good idea.

[2016-07-17 16:22] compressed commented on #34869
@nagisa thanks for the insight! Yes, I believe postgres requires `libjpeg`.

Your comment led me to an interesting finding: when running the built binary directly on my shell, it doesn't generate the linking error... Only when invoked with `cargo run` does this occur. Maybe an issue with cargo then?

Stable cargo:
[code]

Beta cargo:
[code]

[code]

Now if I run the built binary manually it works:

[2016-07-17 16:50] DanielWaterworth commented on #34858
Is there a work around that works with `FnOnce` closures?

[2016-07-17 16:56] jonas-schievink commented on #34878
Fixed in current nightly

[2016-07-17 17:15] compressed commented on #34869
Got it - this is due to this cargo change https://github.com/rust-lang/cargo/pull/2763, which explains why stable and beta have different behavior. Error starts with the 2016-06-07 nightly.

[2016-07-17 17:15] #34869 closed

[2016-07-17 17:20] DanielWaterworth commented on #34858
Here's a much smaller test case:

[code]

[2016-07-17 17:26] shepmaster commented on #34821
It's unclear to me what you are trying to accomplish, but I believe your syntax is incorrect.

The complete syntax for `asm!`, so far I know is:

[code]

And it appears you are trying to use an output-only variable as input. Changing to this compiles:

[code]

Also, I just learned you have give variables names through the macro; all my assembly has the terrible `$0`, `$1` auto-generated names!

[2016-07-17 17:36] Stebalien commented on #34857
Alternatively, we could make it generic:

[code]
`SomeTrait` could just be `Write` but that would be a bit inefficient (it would require an intermediate buffer).

[2016-07-17 17:42] arielb1 commented on #34858
details?

[2016-07-17 17:56] alexcrichton commented on #34878
Yay!

[2016-07-17 17:56] #34878 closed

[2016-07-17 17:56] alexcrichton commented on #34872
(nightly is out)

[2016-07-17 17:56] #34872 closed

[2016-07-17 17:58] eefriedman commented on #34359
Well, I can see a few weaknesses in the error message:

1. No extended error explanation (`E****`).
2. The error message is describing the error from the compiler's perspective, not the user's perspective, and is overly generic.  It would be a lot more clear if the compiler said "not enough information to compute type of callee".
3. No note describing what we expect the user to do to fix the probl

[2016-07-17 18:10] shepmaster commented on #34821
Actually, I'm not sure that you can. The code I posted earlier does the annoying thing of just eating the malformed assembly with no errors; it's not present in the disassembled output. I think it's trying to write to the `loc` register, which doesn't exist. The syntax for specifying a symbolic name would look something like `[loc] "r" (&loc)`, which isn't parsed by the current macro.

[2016-07-17 18:24] bjorn3 commented on #34821
Why does llvm crash, instead of rust giving me a error?

[2016-07-17 18:31] DanielWaterworth commented on #34858
@arielb1, I didn't think it would be reproducible, but it was. I have a core dump. Here's a backtrace:

    #0  llvm::DenseMapBase<llvm::DenseMap<llvm::MDNode*, std::vector<llvm::TypedTrackingMDRef<llvm::MDNode>, std::allocator<llvm::TypedTrackingMDRef<llvm::MDNode> > >, llvm::DenseMapInfo<llvm::MDNode*>, llvm::detail::DenseMapPair<llvm::MDNode*, std::vector<llvm::TypedTrackingMDRef<llvm::MDNode>,

[2016-07-17 18:32] infinity0 commented on #24958
I'm hitting this when I tried to run tests for 1.10.0 on arm64 (aarch64-unknown-linux-gnu). The build succeeds otherwise. I'm just adding `ignore-arm` and `ignore-aarch64` to `src/test/debuginfo/type-names.rs` for the time being.

[2016-07-17 18:46] shepmaster opened #34887 "Enhance inline assembly to support symbolic names"
It would be nice to support [syntax like this](https://gcc.gnu.org/onlinedocs/gcc/Extended-Asm.html):

[code]

Instead of the current position-based `$0`, `$1`, etc.

[2016-07-17 19:13] arielb1 commented on #34858
cc @alexcrichton

[2016-07-17 19:14] TimNN commented on #34571
This has become a regression (probably since #34846 was merged):

The following compiles fine on stable, beta and nightly-2016-07-12 but fails on later nightlies.

[code]

[2016-07-17 19:33] shepmaster commented on #34821
I don't know how to answer that in a useful manner. Presumably LLVM has an assertion because they expect no one to ever trigger that case and Rust doesn't guard against it because the inline assembly is (mostly) directly handed to LLVM.

It appears that clang does some amount of sanitization before directly handing it to LLVM:

[code]

[2016-07-17 19:46] jonas-schievink commented on #34571
Interestingly, it's only a regression if the enum was completely unused before. @eddyb's type layout code will be invoked for all types that are lowered down to an LLVM representation, which doesn't happen if the type is unused. This ICEs on stable, too:

[code]

[2016-07-17 19:58] dragostis opened #34891 "Performance regression in nightly"
Running `cargo bench` in [pest](https://github.com/dragostis/pest) on `nightly-2016-07-02-x86_64-apple-darwin`:
[code]

On current nightly or `nightly-2016-07-10-x86_64-apple-darwin`:
[code]

[2016-07-17 20:03] gkoz commented on #34857
An `fs::read_to_string` would encourage trying to slurp files regardless of their size. Going through `Read` you can use `take` (but it won't tell you if the input is too big :disappointed:).

BTW is trying to read the whole file into memory an anti-pattern? Apparently `toml-rs` only parses `&str` but not `T: Read`. If it did take any reader would you still need to `read_to_string` so often?

[2016-07-17 20:12] TimNN commented on #34891
I can reproduce this (also on os x), just as another data point,`nightly-2016-07-07` is still good

[2016-07-17 20:15] jonas-schievink commented on #34891
Can confirm on x86_64 Linux, `nightly-2016-07-12` is already bad

[2016-07-17 20:25] TimNN commented on #34891
Enabling LTO has no effect on `07-07` but `07-10` are now only ~2000ns worse.

[2016-07-17 20:30] TimNN commented on #34891
Also with optimisations completely disabled no performance difference is noticeable.

[2016-07-17 20:42] jonas-schievink commented on #34891
I *think* this happened between `nightly-2016-07-08` and `nightly-2016-07-09`:

[code]

[2016-07-17 20:42] TimNN commented on #34891
So, I'm by no means an llvm expert, but from staring at some bytecode I believe that one of the differences (maybe even the key difference) is that before the regression the benchmarking closure gets inlined and afterwards it does not.

[2016-07-17 21:12] nagisa commented on #34891
Similar regression range to https://github.com/rust-lang/rust/issues/34831.

As far as optimisations go, they usually have some sort of fuel supply in order to not take forever. It is likely this particular inlining/optimisation which caused the regression simply didn’t get the consideration.

Either way, I’m not aware of any translator changes that occurred in that date range (OTOH, I haven’t bee

[2016-07-17 21:16] jonas-schievink commented on #34891
I'm having a hard time using git, but #33890 seems to be in `nightly-2016-07-09`. I originally suspected #34728, but I don't think that landed in time. At least git isn't listing it in my search. :whale:

[2016-07-17 21:21] nagisa commented on #34891
That’s a viable candidate, yes. It is quite a big change in how we translate our functions.

Is codegen-units ≠ 1 used by anybody here?

cc @michaelwoerister I wonder whether weak_odr linkage could prevent inlining or other cross-function optimisations for some reason (other than the function definition being in another unit, of course).

[2016-07-17 21:23] nagisa commented on #34831
According to https://github.com/rust-lang/rust/issues/34891#issuecomment-233204630 https://github.com/rust-lang/rust/pull/33890 may be the cause,

[2016-07-17 21:26] TimNN commented on #34891
@jonas-schievink: I came to the same conclusion (#33890 is the likeliest suspect, #34728 is not included in `2016-07-09`).

@nagisa: I'm not setting `codegen-units` explicitly anywhere so I assume the cargo default of 1 is used.

[2016-07-17 22:05] eefriedman opened #34892 "Inference failure with mutable reference to closure"
[code]

Gives:

[code]

[2016-07-17 22:07] jonas-schievink commented on #28644
As far as I can tell, this was done in #33443. Can this now be fully implemented?

[2016-07-17 22:17] eddyb commented on #28644
@jonas-schievink Hmm, I suppose you can always look at lifetime parameter definitions in custom user types, so this would work. *However*, [the current implementation](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/rscope.rs) takes advantage of the Debruijn index representation of late-bound lifetimes to avoid actually touching the lifetime parameter definitions.

[2016-07-17 22:47] jseyfried commented on #33231
c.f. [this comment](https://github.com/rust-lang/rust/pull/33997#issuecomment-225426854)

[2016-07-17 22:53] #33231 closed

[2016-07-17 23:00] eefriedman opened #34893 "Weird behavior with FnOnce::Output and unboxed_closures"
The following compiles on nightly:

[code]

It seems like there should be an error somewhere.  The key seems to be the `where F : Fn<A>` bound.

[2016-07-17 23:23] Stebalien commented on #34857
@gkoz I think this is one of those "pay for what you use" things. If you want to do things efficiently, manually read the file one chunk at a time; if you just need to read the file into memory and know it isn't malicious (e.g., a config file), you can use the helper function. However, your two caveats should definitely be mentioned in the documentation.

[2016-07-18 00:38] apasel422 commented on #34859
Thanks for the report! Closing as duplicate of #30564 (and a few other closed issues, e.g. #33550).

[2016-07-18 00:38] #34859 closed

[2016-07-18 02:20] nagisa commented on #34891
Yes, it seems like `weak_odr` prevents inlining opportunities. All of the closures ended up not being inlined due to having `weak_odr` – changing them to internal linkage promptly inlined all of them.

Should be fixed by https://github.com/rust-lang/rust/issues/34793.

[2016-07-18 02:24] nagisa commented on #34793
`weak_odr` linkage seems to also cause inliner to miss inlining opportunities within the same crate, which is the cause of somewhat-steady influx of perf regression reports.

[2016-07-18 03:03] m4b commented on #34877
Sorry, did a quick write up on Saturday.  I'm running Linux:

[code]

with 8GB of memory.

So I just receive a segfault; several people on IRC reported the same (one user was on Ubuntu iirc).  No warning about main overflowing stack, just a regular segfault.

[2016-07-18 03:10] m4b commented on #34877
@retep998 so on Linux the stack size for userland programs is configurable as an environment variable; `ulimit -all` displays the current values for the current session/shell, and by default, linux sets the stack size to 8KB.  So if you have an array (or struct or whatever) larger than 8KB on the stack you'll run into trouble.

Briefly googling, looks like the windows per thread stack is 1MB? http

[2016-07-18 03:22] retep998 commented on #34877
@m4b On Windows all functions that use over a page of stack have a stack probe at the beginning. Rust currently doesn't emit stack probes on any other platform, only Windows. This means that if you allocate a giant array on the stack, on platforms other than Windows you can very easily touch a page beyond the guard page of the stack and cause a segfault. On Windows the stack probe will first probe

[2016-07-18 03:33] m4b commented on #34877
It might be both.  IIRC the last explanation we had attempted to come to is that the debug version wasn't segfaulting (and properly printing the values) because it wasn't inlining the array creation code function, which then reduced the total stack size required for main.

However, @eddyb (and I assume the github user @emk (with same irc handle)) did confirm bad codegen.  For example, in many case

[2016-07-18 03:45] m4b commented on #34877
Oh, and I should add that there shouldn't be any problems with a 1GB stack on linux (once ulimit is set appropriately).  This C program runs fine once ulimit is set.

[code]

[2016-07-18 04:19] arielb1 commented on #34893
elaborated:
[code]

where is the problem here?

[2016-07-18 04:24] doomrobo commented on #34792
Update: using filter and then calling `candidates.extend` on all matching bounds does not fix this issue.

[2016-07-18 04:30] alexcrichton commented on #34858
This may get fixed by https://github.com/rust-lang/rust/pull/34743 where we're upgrading LLVM, but that's purely a guess. Maybe worth trying after it's merged though?

It may also be possible to not compile with debuginfo as that may be the culprit here

[2016-07-18 05:25] arielb1 commented on #34892
Yeah. Higher-ranked inference is a mess.

[2016-07-18 06:18] bjorn3 commented on #34821
Ok, I will close this.

[2016-07-18 06:18] #34821 closed

[2016-07-18 06:26] cybergeek94 commented on #34713
@bugaevc has a good point, though one (weak) counterpoint is `pub` fields annotated with `#[doc(hidden)]`, which Rustdoc will treat as private but the compiler will still allow access to (necessary for the implementation details of some macros).

[2016-07-18 07:21] michaelwoerister commented on #34891
I haven't had time to look into this yet, but I'll do so shortly. If `weak_odr` is that bad for inlining, we should avoid it (note that there is https://github.com/rust-lang/rust/pull/34830, which does so on MingW only, but could easily be adapted to do so on all platforms).

However, we had been using `weak_odr` for generics for months without anybody noticing that marked a performance drop *and*

[2016-07-18 08:03] bugaevc commented on #34713
When there are hidden fields, we may want to go with "private and hidden fields omitted", if it's worth it.

[2016-07-18 08:04] eefriedman commented on #34893
Err, hmm, I guess I was just getting confused by the conversion of the bound type to a concrete type.  Nevermind, it seems to work consistently.

[2016-07-18 08:04] #34893 closed

[2016-07-18 09:10] GuillaumeGomez commented on #34359
@eefriedman: In the case the value with the unknown type isn't used, can't rustc just get over it and give it any matching type under the hood?

[2016-07-18 09:14] michaelwoerister commented on #34891
I can confirm that current master is still slow compared to the nightly mentioned above (on Linux x86_64). However, comparing the LLVM IR of both versions, it does not seem likely that `weak_odr` linkage has something to do with the slowdown: The slower version contains only one `weak_odr` function -- and that isn't called anywhere.

[2016-07-18 09:23] michaelwoerister commented on #34891
I ignore that last comment, I was accidentally looking at the IR of the library, not of the benchmark-executable.

[2016-07-18 09:24] eddyb commented on #34792
@doomrobo I believe your problem is [this logic](https://github.com/rust-lang/rust/blob/34f35ed29c8acdbe1e3c172786fc41d6f4fb6090/src/librustc/traits/select.rs#L1706-L1708).
Right now it works fine because the `if victim.candidate == other.candidate` above would trigger for `ObjectCandidate` vs `ObjectCandidate` or `ParamCandidate` vs `ParamCandidate`.

However, it's incorrect with your changes as

[2016-07-18 10:09] dhardy commented on #34803
Something's slightly odd with the doc though, because [this](https://doc.rust-lang.org/nightly/reference.html#conditional-compilation) says that the `feature="foo"` form is only allowed with compiler-defined configuration options, which means `feature` is compiler-defined.

[2016-07-18 10:21] kennytm commented on #34803
Probably outdated, or the reference is misinterpreting the meaning of [RFC 194](https://github.com/rust-lang/rfcs/pull/194).  The following works:

[code]

[code]

[2016-07-18 10:47] Manishearth opened #34896 "Diagnostics for cloning references are terrible"
[code]

https://is.gd/f2AX0B

This gives the very unintuitive error:

[code]

You expect `y.clone()` to return `(*y).clone()`, i.e. a `Foo`. It mysteriously returns an `&Foo` instead.

Because `&T` has a clone impl, it too, can be cloned (really, copied), returning a reference of the same lifetime. This is an operation you rarely want to do explicitly, except when dealing with generics.

This erro

[2016-07-18 10:57] Manishearth commented on #34896
cc @nikomatsakis @jonathandturner

[2016-07-18 11:03] emk commented on #34877
I don't know if you mean me? I have definitely found LLVM bugs in the past, but I don't remember any recently.

[2016-07-18 12:34] oli-obk commented on #34784
The issue is that the mir-building process calls `eval_const_expr` (https://github.com/rust-lang/rust/blob/f93aaf84cb50dfaaba44b08c05bd51320263f592/src/librustc_mir/hair/cx/pattern.rs#L68) while the old trans calls `consts::const_expr` (https://github.com/rust-lang/rust/blob/f93aaf84cb50dfaaba44b08c05bd51320263f592/src/librustc_trans/_match.rs#L288). The latter does things like unsizing and other

[2016-07-18 12:47] jonas-schievink commented on #13019
We just had 2 new Rust learners hit this...

[2016-07-18 12:54] sanxiyn commented on #34359
I created a patch which changes the error to `error: cannot determine the type of this callee`.

[2016-07-18 13:39] sanxiyn commented on #34535
I too can't reproduce on Linux. All of stable, beta, nightly-2016-06-14 terminates promptly with 3 errors.

[2016-07-18 14:00] eddyb commented on #34535
Is it entirely Windows-specific?

[2016-07-18 15:33] pnkfelix opened #34900 "`rust-call` call ABI is not feature gated in all points of declaration"
Test case [playpen](https://is.gd/b3Yq4i)

[code]

[2016-07-18 15:34] pnkfelix commented on #34900
cc @eddyb @nikomatsakis

[2016-07-18 15:34] japaric commented on #19535
@RobertWHurst PR #34366 is a requisite for this.

[2016-07-18 15:44] eddyb commented on #24204
Current stable (`rustc 1.10.0 (cfcb716cf 2016-07-03)`) requires `trait Trait: Sized {...}` but even then a proper error is produced instead of an ICE:
[code]

[2016-07-18 15:53] jupp0r commented on #31322
Wouldn't it make sense for the stage0 rustc to be statically linked in general?

[2016-07-18 15:53] pnkfelix opened #34901 "`rust-call` call ABI is not feature gated at call-sites"
Note: This may be a feature, not a bug.  But I wanted to make the point explicit.

If I make a crate named `defs` with this:
[code]

and then a bin crate `uses` with a dependency on `defs` and this for its `main.rs`:
[code]

Compiling the former obviously provides the feature gate it needs to define something with the `rust-call` ABI.

But compiling the latter does not require any feature gate, ev

[2016-07-18 15:59] emkw commented on #34877
@m4b: I'm on IRC under emk- (with minus), and here with w. @emk memory is coherent and in a good shape ;).

Some more insight on this for those interested:
LLVM allocas which sums up over 2GB in a single function starts generating memory access on the wrong end of stack.

[diff3 of asm generated from rust code with 1GB, 2GB and 3GB (each minus few hundred bytes), array on stack.](https://github.co

[2016-07-18 16:05] sharpjs commented on #31682
I've also run into this issue.  @jashephe My workaround was just to make my own tuple-like struct and implement the trait for that struct instead.

[code]

My quick search did not find any RFC for making tuples `#[fundamental]`.  I'm not opposed to writing an RFC for this.  I've been rusting since 1.0, but only learned about `#[fundamental]` a few minutes ago.  I'd need to do a bit of research bef

[2016-07-18 16:37] eddyb commented on #34877
I can't find a LLVM bug report matching this, although who knows how, if ever, this was reported.
cc @rust-lang/compiler

[2016-07-18 16:40] steveklabnik commented on #34870
Yes, some stuff has shifted around over time. More forward references would be good. However, given that I'm currently re-writing the book, I'm not going to be making big changes like this. If someone wants to send in a PR, feel free, but since it's going to be eventually fixed by the new book, I'm giving it a close. Thanks!

[2016-07-18 16:40] #34870 closed

[2016-07-18 16:40] infinity0 opened #34902 "Bit-for-bit deterministic / reproducible builds"
It would be good if rustc could generate bit-for-bit reproducible results, even in the presence of minor system environment differences. [Currently](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/rustc.html) we have quite a large diff: e.g. see [txt diff for 1.9.0](https://tests.reproducible-builds.org/debian/dbdtxt/unstable/amd64/rustc_1.9.0+dfsg1-1.diffoscope.txt) or perhaps

[2016-07-18 16:41] steveklabnik commented on #34624
Everything lands on nightly, then makes its way through the trains. So you can see it https://doc.rust-lang.org/nightly/book/loops.html , and it'll make it into 1.12's docs.

[2016-07-18 16:42] steveklabnik commented on #34865
A PR for this would be great; I would say "in a later chapter" and create a forward reference.

[2016-07-18 16:49] steveklabnik commented on #34902
In general, being reproducible is something we're interested in; we try to tackle it bug by bug.

[2016-07-18 17:35] jonas-schievink commented on #34678
Seems like this was done deliberately in #13431

[2016-07-18 17:36] petrochenkov commented on #34900
One more interesting example:
[code]
I'll fix this.

[2016-07-18 17:49] nikomatsakis commented on #34900
D'oh. Does seem like we ought to feature-gate this. I don't envision a lot of trouble.

[2016-07-18 18:02] eefriedman commented on #34902
This probably has some obvious cause:
[code]

If someone wants to look at the code generation differences, it's probably best to start with libcore.  The diff you linked isn't that useful for that because it doesn't recognize .rlib files as archives.

[2016-07-18 19:12] infinity0 commented on #34902
Thanks for the heads up, I [just added AR support in diffoscope](https://anonscm.debian.org/cgit/reproducible/diffoscope.git/commit/?id=9415dd7d5ea7be1d65e506f06b31ad205b4bcbbb) and hopefully the diff output will see that in the next few weeks, when the website updates.

[2016-07-18 19:26] SplittyDev opened #34903 "Add missing information on underscore usage to the book"
I noticed that there is virtually no information on the usage of underscores in numeric literals in the book.

The [syntax index][syntax_index] only mentions underscores in the context of pattern matching as `"ignored" pattern binding`, so I suggest adding the other use of underscores to the [syntax index][syntax_index] too.

[syntax_index]: https://doc.rust-lang.org/book/syntax-index.html

[2016-07-18 19:27] steveklabnik commented on #34903
I would be willing to mentor anyone who wants to help with this issue.

[2016-07-18 20:00] nikomatsakis commented on #27554
I believe that there is no bug here: the compiler is doing the right thing, essentially. I've been meaning for some time to write-up an amendment to the OIBIT (now: auto trait) RFC to talk about it for some time. My current thoughts (more-or-less) are embedded in [this gist](https://gist.github.com/nikomatsakis/d5fe4a4b5b075b3d0ec9), which also covers the connection to negative reasoning.

[2016-07-18 20:05] infinity0 commented on #33809
You can fix the `atomic-lock-free` error by installing `binutils-multiarch` which contains a version of `nm` that can read foreign-architecture binaries. Then it passes, at least for me with 1.10.0 (Debian).

I don't get your other errors, but I do get an error for `run-make/relocation-model`:

[code]

[2016-07-18 20:06] arielb1 opened #34905 "new-school type mismatch label can be overly long"
## Meta

[code]
## STR

[code]
## Result

[code]

Observe the deeply nested label containing both "expected" and "found".

[2016-07-18 20:50] petevine commented on #34867
https://github.com/rust-lang/rust/pull/34873

[2016-07-18 21:06] johnnyman727 opened #34906 ".min and .floor operations for f64 types are non-functional on MIPS"
I'm building [Rust code for Tessel 2](https://tessel.io) using some instructions created by @badboy [here](https://gist.github.com/badboy/8b951981aaf8bc1700b4703f9c201484).

Simple scripts compiled on the Rust playground and my personal computer work fine but fail for different reasons on Tessel (which has a MIPS architecture).

[code]

Let me know if there are any other details I can provide to h

[2016-07-18 21:18] brson commented on #34857
Libs team discussed and is amenable to a convenience, though the design may need some consideration still. Some concrete points brought up:

* Taking `&mut String` like `Read::read_to_string` probably the wrong choice for the convenience method - should return `String`
* If it doesn't take `&mut String` then the name `read_to_string` may not be right because it doesn't look like `Read::read_to_str

[2016-07-18 22:08] arielb1 commented on #18937
Note: actually *adding the check* is easy. The problem is that we need to add the requirements as implied bounds so that things compile.

[2016-07-18 22:51] brson commented on #20130
OK, thanks for the status update!

[2016-07-18 23:21] jseyfried commented on #5846
Fixed in #34908.

[2016-07-18 23:21] jseyfried commented on #22819
Fixed in #34908.

[2016-07-18 23:23] alexcrichton opened #34909 "Cannot link to `--crate-type dylib`"
[code]

I believe that there's no reason this executable *couldn't* be created, it should just use all dependencies through the dylib that was created in the previous step.

[2016-07-18 23:23] nagisa commented on #34906
Output of `--emit=llvm-ir,asm` (should output two files with `.ll` and `.s` extensions) would be useful.

Contradiction with the issue title. Moreover `assert` is a macro (you’re missing a `!`) and `assert!(testVal.floor(), 546);` wouldn’t compile due to a type error.

[2016-07-18 23:24] nikomatsakis commented on #34792
I guess that you didn't just call `filter`, but are also packaging up the specific bound that was matched? Anyway, not having seen the full diff, the general direction of these changes make sense to me.

[2016-07-18 23:25] nikomatsakis commented on #34896
Interesting. This does seem like it would require some pretty special-case code to achieve, but I agree it'd be a nice case to capture.

[2016-07-19 00:40] Aatch commented on #18512
Looks like C functions are marked `nounwind` now.

[2016-07-19 00:40] #18512 closed

[2016-07-19 01:24] kevinmehall commented on #34906
I suspect this is due to a mismatch of float ABI (Tessel's OpenWrt uses soft float, while Rust's mipsel-unknown-linux-gnu default target uses hard float).

The following program succeeded on Tessel 2 with a [custom target.json](https://gist.github.com/kevinmehall/16e8b3ea7266b048369d#file-tessel2-json). I rebuilt libstd using that target, using a compiler-rt built with the GCC from the OpenWrt bui

[2016-07-19 03:36] nrc commented on #34678
Based on #13431, looks like we should not do this.

[2016-07-19 03:36] #34678 closed

[2016-07-19 04:13] durka commented on #31847
Have any of the useful flags people mentioned (no-trans, time-passes,
pretty-expanded, trace-macros) been moved to stable
equivalents/alternatives? (I think the answer is no.) If not, I think we
shouldn't make this an error yet, since (supposedly) the intent was to keep
useful functionality available, while being mindful about what gets
stabilized. Without that it's kind of a bait-and-switch.

On

[2016-07-19 04:21] insaneinside opened #34913 "`N.pow(M)` returns zero, does not overflow for unsigned `N` and both `N` and `M` even (sometimes)"
Today I learned that eight to the power of eight is zero.  Who'da thunk?

Incorrect:
`2u8.pow(500)` :arrow_right: `0` :x:
`8u8.pow(8)` :arrow_right: `0` :x:
`4u32.pow(1000)` :arrow_right: `0` :x:

Correct:
`8u8.pow(7)` :arrow_right: overflow :white_check_mark:
`8i8.pow(8)` :arrow_right: overflow :white_check_mark:
`2u8.pow(9)` :arrow_right: overflow :white_check_mark:

Oddly enough, this one break

[2016-07-19 04:22] alexcrichton commented on #27709
The libs team has also decided to throw the methods introduced in https://github.com/rust-lang/rust/pull/34694 into FCP, which is just all of these methods that are shared between v4 and v6 addrs also being exported from `IpAddr`

[2016-07-19 04:36] japaric commented on #34906
@kevinmehall Note that you are mixing different ABIs here: The OpenWRT toolchain is using uclibc and the Rust target (`mips*-*-*-gnu`) expects glibc. These two libcs are not ABI compatible (actually, uclibc never became ABI stable). This combination is not guaranteed to *always* work.

(Thought most of the problems you observed are likely caused by the float ABI mismatch.)

[2016-07-19 04:51] eefriedman commented on #34913
#28248 was supposed to fix this; looks like it missed the unsigned version?

[2016-07-19 04:54] Manishearth commented on #34896
A relatively easy way to catch _most_ instances of this is to

 - Pick up the expression which has a type error like this
 - If it is a method call, check if that method call is a clone() call resolving to `<&T as Clone>::clone`
 - If it is a variable, find the variable's def
 - If the def is a local def, look at the init expr, check if it's a bad clone

This will miss things, but I think the majo

[2016-07-19 04:55] japaric commented on #31322
@jupp0r The stage0 snapshots are getting deprecated though. The new plan is to bootstrap from a previous stable release (cf. #32942). Unless you mean that we should always bootstrap from a stable `rustc` with `host=x86_64-unknown-linux-musl` (which doesn't exist right now)?

[2016-07-19 05:05] ranweiler opened #34914 "Add a compiler error number, explanation for attempts to initialize a struct with nonexistent field"
## Summary

When a struct literal is initialized with a field name that does not belong to the struct, the result is a compiler error. This error does not have a code which can be looked up with `--explain`.
## Repro

To reproduce, attempt to compile the following:

[code]

I would expect an error like:

[code]

...where `XXXX` is an appropriate error code. Then, when I invoke `rustc --explain EXX

[2016-07-19 05:31] alexcrichton commented on #34906
Thanks for the investigation @kevinmehall! Sounds like this is expected from ABI differences, so I'm going to close.

[2016-07-19 05:31] #34906 closed

[2016-07-19 05:36] alexcrichton commented on #31847
@sanxiyn yes that's the intention, if it's a desirable flag to be on stable it should be stable.

@durka no, nothing has change, but that's because there doesn't seem to be that much desire to move these flags to stable.

[2016-07-19 06:11] infinity0 opened #34915 "Remove obsolete no_stack_check attribute and test"
Here is the start of the failure

[code]

After this basically everything is broken which you can see in more detail [here](https://gist.github.com/infinity0/8ce7179052e1f0ce0131737015068112). However, I see that `no_stack_check` isn't used in the code anywhere any more - there is only one `grep` result for `stack[-_]check` that excludes this test itself, and one of them says this:

[code]

So I w

[2016-07-19 06:20] #34874 closed

[2016-07-19 07:19] insaneinside commented on #34913
[This playpen](https://is.gd/eTh5ie) says that `8u8.pow(8)` is `0` on nightly.

[2016-07-19 08:14] eefriedman commented on #34913
I meant that #28248 fixed this for pow() on signed integers, but not on unsigned integers; it looks like the implementation is copy-pasted for some reason.

[2016-07-19 11:02] johnnyman727 commented on #34906
Thanks @nagisa for pointing out the syntax/functional issues with my example. I've updated for posterity's sake.

Thanks @kevinmehall for investigating the ABI.

[2016-07-19 11:12] sanxiyn commented on #31847
#34858 is an example of using `-Z time-passes` with stable, in this case to diagnose hang.

[2016-07-19 11:58] ticki commented on #33029
#34918

[2016-07-19 12:08] michaelwoerister commented on #32015
I think this is implemented (mostly via #32016) except for correctly handling access to inlined HIR.
As far as I can see, there is no special handling of inlined HIR anywhere, which means that the following will happen:

1. When an item gets inlined during trans, we will add a new HIR-depnode for the inline-copy of the item.
2. This inline-copy has a local DefId, thus its hash will be stored with

[2016-07-19 13:05] rkruppe opened #34920 "VecDeque docs should mention in which direction indices go"
It's not clear to me whether index 0 is the front or the back of the deque. For example, the `std::collections::vec_deque` module docs only say "It also has O(1) indexing like a vector." and the documentation of `VecDeque::get` only states "Retrieves an element in the VecDeque by index." and the example retrieves the middle element of a three-element deque. From the iteration order, or the example

[2016-07-19 13:45] durka commented on #31847
I mean, why even ask in this issue for people's use cases if the answers
weren't going to matter? Sure, go ahead and error everything out and see
who complains.

On Jul 19, 2016 07:12, "Seo Sanghyeon" <notifications@github.com> wrote:

[2016-07-19 15:34] GuillaumeGomez commented on #34914
Ok, sounds like a nice idea. If no one is against it, I'll start in the next days to come.

[2016-07-19 15:36] nikomatsakis commented on #31847
Hmm, I think we should considering making a stable variant of `-Z no-trans` at least -- and probably the other flags too.

Regarding the other flags that were mentioned (time-passes, pretty-expanded, trace-macros):

All of these have in common that I feel more comfortable with stabilizing the ability to access said functionality than I do with stabilizing anything about the output. For example, I'

[2016-07-19 16:04] porglezomp commented on #34913
Could I take a stab at this?

[2016-07-19 16:41] eefriedman commented on #34913
Sure; feel free to ask if you have questions.

[2016-07-19 17:06] nagisa commented on #34915
The test probably should go.

[2016-07-19 17:07] nagisa commented on #34915
I think its also a time to deprecate the attribute by now. cc @rust-lang/compiler @rust-lang/lang

[2016-07-19 17:50] alexcrichton opened #34922 "Change mipsel-musl to soft float"
It was [pointed out](https://github.com/rust-lang/rust/pull/34910#issuecomment-233694689) by @japaric that the mipsel-musl toolchain should use soft float like the mips-musl toolchain as almost all devices it targets all have soft float. Changing this will require a few pieces:

* [x] Change the [linux-cross docker image](https://github.com/rust-lang/rust-buildbot/blob/master/slaves/linux-cross/Do

[2016-07-19 18:54] brson commented on #23286
Thanks @hilasha2 and @arielb1!

[2016-07-19 19:34] brson commented on #29436
Triage: `ConstrainVarSubReg` still exists. Help still wanted.

[2016-07-19 19:36] brson commented on #26902
This is quite a speculative wishlist task, not updated in nearly a year. Closing. Performance improvements always welcome.

[2016-07-19 19:36] #26902 closed

[2016-07-19 19:39] brson commented on #24106
Triage: still repros. Error shows a bit more

[code]

[2016-07-19 19:42] brson commented on #21837
@arielb1 This seems to have been fixed by RFC 1214. Can it be closed?

[2016-07-19 19:48] brson commented on #21528
Closing per @fhahn .

[2016-07-19 19:48] #21528 closed

[2016-07-19 20:00] brson commented on #18579
Triage: no change.

[2016-07-19 20:08] brson commented on #2873
I think @alexcrichton's second solution is a reasonable and simple way to reduce the effect of this problem: the test runner should flag tests that run very slow, on the assumption that they are deadlocking. The main loop should keep a list of outstanding tests, their start times and whether they've already been flagged, and set a high receive timeout (maybe 60 seconds, maybe even higher). Every t

[2016-07-19 20:18] nagisa commented on #34922
Just to mirror what I [said] in the PR which spawned this issue, I’m against changing this target to soft-float before we collect information on what ABI conventional linux distributions, and not OpenWRT, use.

[said]: https://github.com/rust-lang/rust/pull/34910#issuecomment-233739886

[2016-07-19 20:25] nagisa commented on #34922
For what its worth, the Debian MIPS ports are all hard-float.

[2016-07-19 20:38] alexcrichton commented on #34922
@nagisa perhaps yeah, but I believe that OpenWRT/@japaric are the primary users of mips-musl right now, as in we don't actually have any demand for mips-unknown-linux-musl that's *not* openwrt that I know of.

[2016-07-19 20:41] alexcrichton commented on #2873
I think it'd be a fine solution. I've only *very rarely* seen tests take that long (if at all) and perhaps a ping to say "this is still running" would be good anyway

[2016-07-19 21:36] moosingin3space opened #34926 "Improve rustdoc formatting of long function names"
This could integrate with `rustfmt` to make long function names easier to read.

In particular, http://tailhook.github.io/unshare/nix/sys/socket/fn.recvmsg.html
would be easier to read as:

[code]

[2016-07-19 21:38] steveklabnik commented on #34926
I would assume that `rustfmt` integration is the only way to go here; otherwise, we have to re-hash all of its decisions.

[2016-07-19 21:56] nagisa commented on #34926
What it really should do is just reuse the formatting of the declaration/definition as in source, with some leading spaces removed.

[2016-07-19 22:28] frewsxcv opened #34928 "Tuple-struct signature in generated docs is misordered."
[In the source](https://github.com/georust/rust-geo/blob/8369162ccc7431c3584d68ae18a5e18387556bae/src/types.rs#L239):

[code]

[In the generated documentation](https://georust.github.io/rust-geo/geo/struct.GeometryCollection.html):

[code]

[2016-07-19 22:35] alexcrichton commented on #34922
Ok, I've published `alexcrichton/rust-slave-linux-cross:2016-07-19`, the next step is to update it on the bots. I unfortunately *just* restarted the bots this morning due to some corrupt images. I'd like to try to land https://github.com/rust-lang/rust/pull/34873 first to help along the LLVM upgrade to unblock MIR, but after that I can try to restart.

[2016-07-19 22:37] michaelwoerister commented on #34915
If the attribute doesn't have any effect anymore, the test case should be removed (while making sure that's it's still possible to break on a function, which might mean that we have to write another test case if that isn't covered anywhere else).

[2016-07-20 00:04] japaric commented on #34922
@nagisa, are those ports musl based or glibc based?

[2016-07-20 00:08] eddyb opened #34929 "Pattern referring to nonexistent variant causes ICE on beta."
[code]

Produces, on beta:
[code]

On stable and nightly it triggers an appropriate resolution failure error. cc @petrochenkov

[2016-07-20 00:21] nagisa commented on #34922
@japaric while Debian itself uses `glibc`, as the example of `x86_64-unknown-linux-musl` demonstrates, the `-musl` targets are better known as the targets which produce fully static binaries, rather than targets which target a certain kind of distribution.

I guess since musl is built-in and linked to statically, either soft and hard float will be correct… as long as the binary doesn’t link to any

[2016-07-20 00:36] japaric commented on #34922
@nagisa Ohh, I thought you were suggesting running `mips-musl` Rust binaries on a MIPS device running Debian.

The `mips(el)-musl` Rust binaries are **not** statically linked though; they are dynamically linked to libc like pretty much every other target. Statically linked Rust binaries for MIPS are not currently possible because those binaries must be statically linked to libunwind, and `libunwin

[2016-07-20 00:51] porglezomp commented on #34913
Is overflow checking off in the libcore tests? It'd be nice to be able to write some standard `#[should_panic]` tests for overflow, but they seem to not panic even on cases that should right now.

[2016-07-20 01:26] nagisa commented on #34922
Yes, I was. I had produced a `-musl` binaries for various architectures that were supposed to run on some sort of Debian/Fedora/Arch in the past, and I’d expect a binary targeting `mips-unknown-linux-musl` to work on a generic MIPS distro such as Debian too. Making `musl` targets soft-float essentially breaks that use case.

I’d rather make my own `mips-unknown-linux-musl` target (just like I need

[2016-07-20 02:39] Aatch commented on #34928
This is because for record structs, the syntax is `struct Foo<T> where T: Bar { /***/ }`, so tuple structs will need some special-casing here.

[2016-07-20 02:44] Aatch commented on #34929
Be nice to know what change fixed it again so we can backport it into beta.

[2016-07-20 04:03] eefriedman commented on #34913
Overflow checking in unit tests (`#[test]`) should reflect whether the whole compiler was built in debug or release mode.

If you need to specify the overflow mode, you can use a separate test which explicitly specifies `-C debug-assertions`, like #28248.

[2016-07-20 04:22] DemiMarie commented on #34892
Can the compiler be made to loop this way?

[2016-07-20 04:36] mitchmindtree opened #34931 "Tracking issue for `mpsc::Receiver::try_iter`"
Tracking issue for the new non-blocking `mpsc::Receiver` iterator API introduced in #34724.

The API is currently gated behind the unstable `receiver_try_iter` feature.

The API includes:
- `std::sync::mpsc::Receiver::try_iter`
- `std::sync::mpsc::TryIter`

cc @alexcrichton

[2016-07-20 05:13] alexcrichton commented on #34595
This unfortunately has happened quite a bit recently. I believe it's isolated to rustbuild currently because the `./configure` step (which is where the makefiles deal with submodules) is an uninterruptible step in buildbot. That at least means I think the fix only needs to be in rustbuild!

The only fix here that I can think of is that we detect this failure, then detect *where* it failed, blow aw

[2016-07-20 06:32] BartMassey commented on #31471
As noted in #33173 just writing the libraries note to stdout instead of stderr would help a lot. Heck, create a .libs-needed file and write to that.

Better yet, can someone finish @rillian's #31875, or can we just merge it and add the lack of tests and docs as a separate issue? I feel like waiting for better tests and docs would be nice, but this is kind of an obnoxious situation and it looks lik

[2016-07-20 06:36] DanielKeep opened #34932 "In 1.11 beta, `#![cfg]` does not mask `#![feature]`"
It looks like `rustc` is checking `feature` attributes *before* processing `cfg` attributes.  If so, this is a problem, because it looks like this makes it impossible to write code that optionally uses unstable features.

In the example below, the 1.10 compiler correctly ignores the test involving unstable features, but beta *does not.*  In my specific case, this means my [CI testing on beta for `

[2016-07-20 06:50] neunenak commented on #28784
I'm reaaonably familiar with parsers and I'd like to take a crack at this bug.

[2016-07-20 07:28] petrochenkov commented on #34929
It's https://github.com/rust-lang/rust/pull/34365/commits/a397b60ebba531fb4de7e88111e0d489e44c549e, I'll extract the minimal fix for beta.

[2016-07-20 09:43] Thinkofname opened #34933 "Unexpected definition for an identifier in pattern Err"
[code]

Happened on a private project so I can't release the source and I haven't been able to reduce it down to a small test case yet. It happened when I removed a large number of modules to move into a crate without updating the `use`s.

[code]

[2016-07-20 09:50] Thinkofname commented on #34933
This actually triggers #34929 on beta so chances are they are the same issue or at least related?

[2016-07-20 09:53] Thinkofname commented on #34933
And a test case: https://is.gd/tDdrzI
[code]

[2016-07-20 09:57] petrochenkov commented on #34933
Interesting, thanks.
I didn't expect `resolve_identifier` to return `Def::Err`, but it can happen with import error recovery, as your example shows. I'll fix this.

[2016-07-20 11:06] nagisa commented on #34932
You should be using [`cfg_attr`][cfgattr] in the first place. I don’t remember anything said about evaluation order of separate attributes.

[cfgattr]: https://doc.rust-lang.org/stable/book/conditional-compilation.html#cfg_attr

[2016-07-20 12:14] aidanhs commented on #21906
Non lexical borrows feature discussion: https://github.com/rust-lang/rfcs/issues/811

[2016-07-20 12:18] adjivas opened #34934 "impl Error on Enum with str type"
Hello, I repport this issue.

I tried this code:

[code]

I expected to see this happen:

[code]

[2016-07-20 12:36] apasel422 commented on #34934
Thanks for the report! Closing as duplicate of #16812.

[2016-07-20 12:36] #34934 closed

[2016-07-20 12:49] michaelwoerister commented on #33727
@jonas-schievink Wow, thanks a lot for this listing! That's very impressive `:)`

[2016-07-20 12:50] DanielKeep commented on #34932
On the one hand, good point.  That *does* solve the issue; I think I didn't try that because I didn't expect it to behave any differently.  I retract my "impossible" accusation.

On the *other* hand, this *is* an observable change in behaviour.

[2016-07-20 12:55] pnkfelix commented on #21837
@brson I think it needs a test. I probably should not be assigned to it since I don't plan to spend time making a test.

[2016-07-20 13:29] rillian commented on #31471
Yeah, I haven't been able to work more on this. Would be very happy to have someone finish it up!

[2016-07-20 14:15] petrochenkov commented on #33118
I wanted identifiers in syntactically unambiguous contexts to always be interpreted as fresh bindings, i.e.
[code]
but this issue needs to be fixed first because together they can result in some ridiculous behavior:
[code]
`C(2)` is interpreted as a fresh binding and not constant `C(0)`, because it's first resolved as local `C(1)` and this resolution is rejected in favor of a fresh bindings.
(Note

[2016-07-20 14:30] est31 opened #34938 "Unused lint warnings for macros"
If you declare a variable, and not use it, you get an unused code warning.

The same should be true for macros (that don't have the `#[macro_export]` attribute). So if you have a private macro like:

[code]

It should give you a warning. Same goes if you use a macro, but not all of its match arms:

[code]

Note that this is no dupe or not even against #24580. That issue is about unused code inside

[2016-07-20 14:46] GuillaumeGomez commented on #34920
Interested in doing it? It is quite an easy change. :)

[2016-07-20 14:53] GuillaumeGomez commented on #34827
Some error explanations are (I think) very easy to update to this new RFC. Some others (the longest or most "general" ones) are almost impossible as is. Some rework on these last ones is needed first (split them in smaller errors for example).

[2016-07-20 14:59] GuillaumeGomez commented on #34795
@Razaekel: Here you go:

https://github.com/rust-lang/book
http://rust-lang.github.io/book/

[2016-07-20 15:01] Razaekel commented on #34795
Wow, those look nice! Thanks!

On Jul 20, 2016 11:00 AM, "Guillaume Gomez" <notifications@github.com>
wrote:

[2016-07-20 15:07] mcarton commented on #34938
That's hard. Macro expansion happens before Clippy is run (so if you write `do_something!(2)` clippy actually only sees `2 + 20`). We can know that something happened because of a macro but I don't know whether we can even get macro definitions and I'm sure we have no way to know what branch of the macro the expansion that comes from.

[2016-07-20 15:07] mcarton commented on #34938
(oups, I somehow though this was reported on clippy)

[2016-07-20 15:28] jonathandturner opened #34940 "Span for asm error too large"
Looking around the compile-fail test suite, I noticed this example:

[code]

The span on the asm line seems a bit much.  Ideally, I think we'd show them where the assignment is happening so they don't have to look for it.  Something like:

[code]

Or even:

[code]

[2016-07-20 16:14] nagisa commented on #34940
In the compiler inline assembly is one big opaque blob. I doubt its worth much spending effort on such unstable feature yet.

[2016-07-20 16:22] jonathandturner commented on #34940
@nagisa - I was wondering.  It does open up questions about how to make macros give better errors but perhaps there is a better forum for that design question.

[2016-07-20 16:51] retep998 commented on #34795
@GuillaumeGomez Now we just need the same for the rustdoc documentation.

[2016-07-20 17:17] jakllsch commented on #29977
Looked at this more.  https://nxr.netbsd.org/xref/src/lib/libc/compiler_rt/Makefile.inc?r=1.30#29 and https://nxr.netbsd.org/xref/src/share/mk/bsd.own.mk?r=1.938#127 shows that gcc_personality_v0.c is only used on EABI ARM machines, which rustc for NetBSD does not currently target.  I'll probably have a patch to address that just forces HAVE_UNWIND_H=OFF on NetBSD/non-ARM.

[2016-07-20 18:23] brson commented on #28784
@neunenak You got it!

[2016-07-20 18:31] brson commented on #28784
@nikomatsakis @nrc @pnkfelix Can you confirm the right thing to do here is make libsyntax behave like the reference parser as described in the OP?

[2016-07-20 19:35] steveklabnik commented on #34795
Given that this isn't going to be fixed before the new book happens, and that it will address this issue, I'm going to give it a close. Thanks!

[2016-07-20 19:35] #34795 closed

[2016-07-20 22:41] notriddle commented on #29931
The C/C++ standards define long as a number with no less capacity than an int and no more capacity than a long long. That's it. On Mac OS X (which @kajalsinha is using, based on the console paste), [it's one word long: 32-bits on 32-bit OSX and 64 bits on 64-bit OSX](https://software.intel.com/en-us/articles/size-of-long-integer-type-on-different-architecture-and-os/). For a fair comparison with R

[2016-07-20 22:42] notriddle opened #34943 "Vec belongs in std::collections"
It is a collection, so there's really no reason for it to be separated like that.

[2016-07-20 22:45] nrc commented on #28784
It's probably worth addressing any inconsistencies between the parser the reference on an individual basis. I don't have enough faith in the reference to say it is always right.

My opinions on the issues in the OP:

I think `return` starts a new context, so it is OK to accept a struct literal after it. I don't see a parsing ambiguity there, so I think it is OK. Since the parser and reference agre

[2016-07-20 22:59] jonathandturner opened #34945 "Bad error when passing around self and &mut self"
In this example:

[code]

I'm getting this fairly confusing error message:

[code]

Notice that I'm both told to put in let where let already exists, but also the primary span of the error is squiggle something that seemingly is okay.  We may want to lay out why it's not okay more clearly as well as not give hints for things that are already there.

[2016-07-21 01:15] eugene-bulkin commented on #22590
The current error message is this:

[code]

That looks like it covers most of the bases, right?

[2016-07-21 02:04] alexcrichton commented on #34506
@brson I believe you "ran crater on Windows", right? Could you post the results here as well?

[2016-07-21 02:34] eefriedman opened #34947 "Loop isn't optimized in pow() with constant power"
Testcase:

[code]

Produces the following asm in release mode:

[code]

I would expect it to generate straight-line code with just three multiplies.

It's possible this will be fixed by upgrading LLVM; there have been some recent changes to unrolling heuristics.

[2016-07-21 03:03] eefriedman opened #34948 "u32 saturating_mul is slower than a multiply+compare"
[code]

Resulting timings (x86-64 Linux, Ivy Bridge processor):

[code]

Maybe not a perfect benchmark, but there's probably something worth looking at.  Originally reported at https://users.rust-lang.org/t/unexpected-performance-from-array-bound-tests-and-more/6376/5 .

[2016-07-21 03:18] eefriedman commented on #34948
Did a bit more testing... apparently the constant "3" makes a substantial difference (presumably because one version gets transformed into an LEA).  Still potentially interesting, but maybe not quite in the same way.

[2016-07-21 04:01] eefriedman opened #34949 "u32 saturating_mul+compare slower than u64 mul+compare"
[code]

Originally reported at https://users.rust-lang.org/t/unexpected-performance-from-array-bound-tests-and-more/6376/5 .

The two different code sequences:

[code]

[code]

There also seems to be some effect on loop unrolling.

[2016-07-21 05:34] cmr commented on #34943
I don't think this is worth it. Vec would be duplicated in the rustdocs and the public API. It's already in the prelude.

[2016-07-21 06:23] mitsuhiko commented on #31436
I played around last weekend if it would be possible to write a [Sentry](https://getsentry.com/) client for Rust that makes any sense. Since most error handling is actually based on results now instead of panics I noticed that the usefulness of this is severely limited to the point where I just decided to abandon this entirely.

I went to the crates.io codebase as an example to try to integrate an

[2016-07-21 06:25] IvanUkhov commented on #24124
Moreover, the language reference [says](https://doc.rust-lang.org/reference.html#floating-point-literals) that

So, if the reference was respected, it would default to `f64` and call the right method.

[2016-07-21 06:36] jhod0 commented on #32777
I am working on errors around E0470

[2016-07-21 07:07] IvanUkhov opened #34950 "Do not suggest internal crates in error messages"
The following [code](https://is.gd/PvsEaT):

[code]

produces the following error:

[code]

The fact that unsuffixed floating-point numbers don’t currently default to `f64` has already been discussed in #24124. The point of this issue is the error message: it suggests using `rand::FloatMath`, which is confusing as it’s an internal crate.

Regards,
Ivan

[2016-07-21 07:25] Ericson2314 commented on #27730
N.B. `*move` from https://github.com/rust-lang/rfcs/pull/1646 would almost surely replace this.

[2016-07-21 08:27] Xazax-hun opened #34952 "View Rust Book as single page"
It would be great to be able to open the rust book as a single page. This way it could be saved using pocket and read from the phone on the go.

[2016-07-21 09:24] arielb1 commented on #34949
LLVM?

[2016-07-21 09:25] GuillaumeGomez commented on #32777
@jhod0: Thanks!

[2016-07-21 10:08] michaelwoerister commented on #33727
OK, I see two basic approaches for implementing this:

1. Conservative - If there is a change in a commandline argument that might affect any cached artifact, delete the whole cache.
2. DepGraph-based - Commandline arguments are represented as nodes in the dependency graph. The regular dependency system takes care of deleting invalidated cache entries.

**Advantages of the Conservative Approach**

[2016-07-21 11:29] arielb1 commented on #34784
@oli-obk

The problem is *that the code compiles*.

[2016-07-21 11:46] petevine commented on #25270
Just hit this issue trying to compile cargo with `lto` and `-g`. BTW, I never enabled assertions during LLVM build - did the default change?

[2016-07-21 12:31] jimmycuadra opened #34953 "Book: Provide more information on why lifetimes are needed"
The book has a good "meta" section that gives some context about lifetimes before starting to explain how they work. I think this section could be improved by better explaining exactly *why* lifetimes (especially ones the compiler doesn't automatically infer) are needed. It's suggested that the reason is to provide memory safety as a zero-cost abstraction, but it doesn't really explain the exact n

[2016-07-21 13:20] arielb1 commented on #23286
That error message would be far too long a line

[code]

[2016-07-21 15:02] nikomatsakis commented on #34596
@hgallagher1993 glad to hear you are interested! I never did take a look, but I can do so now!

[2016-07-21 15:20] nikomatsakis opened #34955 "Make incremental compilation smarter about copying when reusing data"
In the PR I'm about to open :), the code will copy object files into the incremental compilation directory upon completion, and then copy them out if they can be re-used. But it does more copying than needed in the case of reuse, since it will then copy them back in to the incr. comp. directory at the very end, even though the files are precisely the same.

(In all these cases, when I say copy, I

[2016-07-21 15:41] abhijeetbhagat commented on #34920
I can work on this.

[2016-07-21 16:07] steveklabnik commented on #34953
I am not currently working on major changes to the book. That's because I'm actually re-writing it entirely. So, I agree that this stuff would be great to add, but since I'm not going to do it, I'm going to give it a close.

If you or anyone else wants to do this, I would welcome a PR!

[2016-07-21 16:07] #34953 closed

[2016-07-21 16:37] infinity0 commented on #34915
fwiw, this test *does* pass on x86, x86-64 and even arm64

[2016-07-21 16:53] nagisa commented on #34955
What you really want here is a reflink when possible, and hadlink only then.

[2016-07-21 17:02] nikomatsakis opened #34957 "Avoid modifying incr-compilation directory unless compilation completes normally"
In https://github.com/rust-lang/rust/pull/34956, we modify the incremental compilation directory a bit wantonly. For example, when first starting up, we will delete work products if it looks likes things have changed -- and we serialize the dep-graph and only later serialize the work-products file.

It seems to me it would be better if we avoided making changes until the end of compilation. In som

[2016-07-21 17:04] infinity0 opened #34958 "no_std rustdoctest failures on armhf"
The `no_std` tests in `no-stdlib.md` and `lang-items.md` fail on armhf ([harris.debian.org](https://db.debian.org/machines.cgi?host=harris)) with errors like the following:

[code]

@eddyb has suggested that these could just be ignored, and I have done this as a temporary measure for our Debian package - but they do pass on x86, x86-64 and even arm64, so perhaps you'd like to keep testing it there

[2016-07-21 17:11] Stebalien commented on #27787
Recently, I've been trying to use this API and ran across a limitation (probably the same as @ogoodman's) in the interaction between `range`, `Borrow` and `Ord`. Basically, given some set `BTreeSet<(A, B, C)>` it would be nice to be able to (generically) query for all `(a, b, *)`. This isn't currently possible without knowing some `C::MIN`, `C::MAX`. So, I'd like to propose an alternative solution

[2016-07-21 17:16] retep998 opened #34959 "rustbuild should warn on quotes in PATH"
I have had two people already get an ambiguous `failed to execute command: The system cannot find the file specified.` error when running rustbuild, and both times it was determined to be as a result of quotes in their `PATH`. Rustbuild should detect this ahead of time and warn/error.

cc @alexcrichton

[2016-07-21 17:18] alexcrichton opened #34960 "The check against LLVM's data-layout needs to be relaxed/updated"
Discovered in #34743, LLVM's data layouts are changing over time. If we assert that our own data layout agrees with LLVM's then if we change to a newer LLVM we break compatibility with older LLVMs. It looks like the change to the data layout was backwards compatible, I think, so we probably just need a different check here.

cc @eddyb

[2016-07-21 17:19] eddyb commented on #34960
Previous thoughts at #33446, but that never materialized.

[2016-07-21 17:19] alexcrichton commented on #34958
These tests should probably just get disabled on all platforms, it's just pure chance they're running everywhere else successfully.

[2016-07-21 17:21] arielb1 commented on #34959
Merely having quotes somewhere random in the path is not the problem. The problem is that cmake (or some other program) is found in a path that contains quotes.

e.g. if you do
[code]

[2016-07-21 17:22] #34624 closed

[2016-07-21 17:25] GuillaumeGomez commented on #34920
@abhijeetbhagat: Please do.

[2016-07-21 17:29] michaelwoerister commented on #32754
I've been thinking about a different synchronization mechanism lately, one that takes more of a persistent data structure than a mutex approach. It goes roughly like this:

1. When starting a compilation session, create a sub-directory `<session-id>-working` within the incr. comp. directory, where `<session-id>` is a newly generated UUID.
2. Spawn a "cleanup process" that will delete this director

[2016-07-21 17:40] jethrogb commented on #27752
I was integer_decode to [compute an integer's next-highest power of 2](https://graphics.stanford.edu/~seander/bithacks.html#RoundUpPowerOf2Float)

[2016-07-21 17:42] alexcrichton commented on #33727
Makes sense to me to take the conservative approach to start out at least, and the proposed strategy here seems reasonable to me. I agree that Cargo should probably deal with the separate incremental compilation directories, it'll just have one for debug/release mode. Additionally in practice the arguments shouldn't change much unless the cache actually needs to be invalidated because Cargo'll pas

[2016-07-21 17:49] retep998 commented on #34959
`"` is an invalid character for filename paths, and serves absolutely no purpose in `PATH`, so I'd argue rustbuild should always warn/error about quotes in `PATH` since it is an obvious mistake, and even if it doesn't break the build, it would be nice to inform the user.

[2016-07-21 17:56] alexcrichton commented on #32754
In the last step the old cache directory is deleted, but concurrent rustc invocations means that the old cache may be in use, right? Basically step (3) needs to be resilient to the cache disappearing, but that seems reasonable?

I'm somewhat wary about spawning a cleanup process, the behavior on Unix at least for a ctrl-c is to typically kill the entire process group, which in this case includes t

[2016-07-21 17:57] sourtin opened #34961 "Enums not being stored as compactly as possible"
I noticed that some enums seem to not be stored as compactly as they could be considering they should equate to unions. The two enums below, `Foo` and `Bar`, consist of two variants each. Each variant is <= 8 bytes, so the total size should fit within (8+tag) bytes, and they should take up the same space as each other. It seems however that the data is being stored adjacently rather than overlappi

[2016-07-21 18:00] nagisa opened #34962 "[LLVM] Use the LLVMInitializeAllTargets* functions"
LLVM has the functions to initialize all supported targets already. We should get rid of [this] monstrosity and use the functions instead.

The problem is that these functions are currently `static inline` and thus have no symbol of their own. In order to be able to use them in rustc, we need to create a binding for it.

For now the migration would look something like this:

* [ ] Implement `RustL

[2016-07-21 18:03] michaelwoerister commented on #33727
I prototyped the DepGraph approach the other day and there I extended the options! macro in sess::config to require that one specifies the DepNode that the option should be mapped to. Something similar (but simpler) can also be done here, I guess. A whitelist seems good too.

On July 21, 2016 7:42:41 PM GMT+02:00, Alex Crichton <notifications@github.com> wrote:

[2016-07-21 18:05] eddyb commented on #34962
Do we get any benefits from this, if we still support older LLVM versions? cc @alexcrichton @badboy

[2016-07-21 18:09] michaelwoerister commented on #32754
Regarding the concurrent access: we should be fine with missing files. If the file is actually copied and there is any chance of a halfway copied file, we'd also need to store some kind of checksum to prevent those from being used.

Regarding cleanup: I was thinking about the 'delete unreasonably old working dirs' approach too, as an additional backup. It would probably also be OK to do only that.

[2016-07-21 18:10] nagisa commented on #34962
Primary benefit is an ability to target `rustc` at stuff other than the list of targets we currently hardcode if LLVM is not distributed by us (linked dynamically by distro or something).

[2016-07-21 18:12] alexcrichton commented on #32754
We can emulate spawning an independent process on Unix by changing process groups at least, but it does seem like a surprising thing for a *compiler* to do, so I'd be somewhat wary of doing that. On Windows with job objects at least I believe it's impossible to spawn an independent process.

[2016-07-21 18:15] nagisa commented on #34962
Secondary benefit is that it would not force the dynamically linked LLVM to actually provide all those targets (i.e. if some distro distributes LLVM which can only do some of the targets we currently hardcode).

Of course that would introduce an error-case for [this call](https://github.com/rust-lang/rust/blob/7ed6068d3e528167e95b684d086a39e099fd26f1/src/librustc_trans/back/write.rs#L215) which wo

[2016-07-21 18:21] notriddle commented on #34943
The old location can be deprecated, or even hidden, in the documentation.

[2016-07-21 18:23] jonas-schievink commented on #34961
I believe the tag is stored first, followed by padding such that the `i64` or `i32` is aligned to 4 Bytes, which is why the tag seems to take up 8/4 Bytes.

[2016-07-21 18:25] nikomatsakis commented on #32754
@michaelwoerister sounds pretty related to https://github.com/rust-lang/rust/issues/34957

[2016-07-21 18:33] sourtin commented on #34961
Ah ok, that makes sense. Thanks!

[2016-07-21 18:33] #34961 closed

[2016-07-21 18:33] brson commented on #34506
Here's the link: https://internals.rust-lang.org/t/enabling-mir-by-default/3555/48?u=brson. TL;DR Of the crates I compiled and tested on x86_64-pc-windows-msvc I found no functional regressions. Didn't test perf. I didn't have an OpenSSL build so there were some failures due to that, but I was able to build perhaps ~2500 crates.

[2016-07-21 18:37] michaelwoerister commented on #32754
Yes, it is a bit surprising. On the other hand, I personally would be OK with the compiler starting a daemon process to support incremental compilation. Especially if it's just an enhancement that keeps my disk from filling up. For example, the way Sublime Text build systems work, I have to manually kill long-running rustc processes all the time. I'd probably end up with a few hundred unused worki

[2016-07-21 18:40] jonas-schievink commented on #34961
In case you're interested, here's an issue about improving the layout optimizations the compiler does: rust-lang/rfcs#1230

[2016-07-21 18:41] michaelwoerister commented on #32754
Maybe a `rustc` process could use a filelock on its working directory. Then, everytime a new process starts it tries to delete all working directories it finds. It can only succeed if the process holding the lock to its own working dir has died.

[2016-07-21 19:24] arielb1 commented on #30191
now it is https://github.com/rust-lang/rust/blob/1.10.0/src/librustc/traits/select.rs#L652

[2016-07-21 19:31] arielb1 commented on #30191
With the orphan rules, anyone can implement `FromStr<MyType> for User` and cause overlap.

[2016-07-21 19:31] jhod0 commented on #32777
I wrote out the `register_long_diagnostics` for a few errors, ran `make rustc-stage1` as described above - but `./x86.../stage1/bin/rustc --explain <error>` says there is no extended information for the error?

All the descriptions I added are in the `rustc_metadata/diagnostics.rs`.

stage1 built without error messages, so I am unsure what the problem is

[2016-07-21 19:34] nikomatsakis commented on #30191
So, I believe the orphan check is doing the right thing here. The danger is that a downstream crate might do something like:

[code]

which they [are legally able to do](https://is.gd/87nOki), for better or worse.

One solution here would be to adopt one of the negative impl proposals (such as [what I describe in this gist](https://gist.github.com/nikomatsakis/d5fe4a4b5b075b3d0ec9)]) that would pe

[2016-07-21 19:35] nikomatsakis commented on #30191
Another solution that @aturon and I considered at some point but rejected is to implicitly derive the fact that the impls in the parent crate are only consistent if `!FromSql<T> for User`, but it seemed like this ultimately led to a real complexity problem, since every downstream crate would have to re-check **all** impls from upstream crates for independence, leading to an `O(n^2)` computation wh

[2016-07-21 19:35] nikomatsakis commented on #30191
Also, I think this is definitely a dup of #19032.

[2016-07-21 19:36] nikomatsakis commented on #31682
I think treating tuples as fundamental makes sense. We should probably write up an RFC for it.

[2016-07-21 20:06] ghost opened #34966 "Return codes of libc functions are checked for errors only in debug mode."
In libstd/sys/unix there are numerous cases where return code is checked for
error using following pattern:

[code]

That means, that error checking is performed only when compiled in
non-optimized mode or after explicitly enabling debug assertions.  This is a
little bit worrying, especially when used on platforms where those functions
can indeed fail and break safety.

[2016-07-21 20:14] pnkfelix commented on #34915
It seems odd that the test is failing in this context, but not in the other targets that @infinity0 mentioned.

Nonetheless, the compiler team concluded we should:

 1. kill this test,
 2. kill this attribute,
 3. kill any compiler flag that exposing a similar thingie.

[2016-07-21 20:15] nikomatsakis commented on #34915
I'll happily mentor someone to do this.

[2016-07-21 20:15] nikomatsakis commented on #34792
Related: https://github.com/rust-lang/rust/pull/34912

[2016-07-21 20:15] pnkfelix commented on #34792
triage: P-medium

[2016-07-21 20:17] alexcrichton commented on #34929
Fixed in https://github.com/rust-lang/rust/pull/34964

[2016-07-21 20:17] #34929 closed

[2016-07-21 20:17] pnkfelix commented on #34754
triage: P-high

[2016-07-21 20:19] alexcrichton commented on #34922
Ok, buildbot is restarted, next patch should be good to land!

[2016-07-21 20:25] pnkfelix commented on #31847
Compiler team's current thinking: Its too soon to switch off all support for all current `-Z` flags. There is a set of useful flags for debugging that we have no means of expression via `-C` or other stable interface.

But something we may be able to do in the short term is white list a small subset of `-Z` flags to be still accepted in nightly (as today), and make all others an error.

What small

[2016-07-21 20:25] arielb1 commented on #31847
The contentious flags are these used for debugging user code. I don't feel like they should have the same stability semantics as normal flags. Maybe have `-Z debug-mode` or something.

[2016-07-21 20:26] pnkfelix commented on #31287
triage: P-medium

[2016-07-21 20:27] alexcrichton commented on #32754
File locks work pretty well minus NFS, but we could have a scheme like:

* First, you make a scratch directory
* Then you crate a "well known" file in it, acquiring an exclusive lock
* When cleaning out old directories (maybe those >2s old), you try to grab the lock
* If grabbing the lock fails, the process must be running
* If grabbing the lock succeeds, the process must have died so you clean it

[2016-07-21 20:29] Stebalien commented on #27787
Something like:
[code]

[2016-07-21 20:30] pnkfelix commented on #18154
triage: P-low

[2016-07-21 20:30] pnkfelix commented on #18154
triage: P-low

[2016-07-21 20:31] nrc commented on #18154
cc @Manishearth in case he wants to add it to Clippy

[2016-07-21 20:31] nikomatsakis commented on #18154
I do think a lint is the only fix here.

[2016-07-21 20:31] pnkfelix commented on #18154
(consensus of compiler team is that this should be *some* form of lint)

[2016-07-21 20:37] pnkfelix commented on #34535
(reassinging to niko in hopes that he can reproduce it on his windows box)

[2016-07-21 20:39] pnkfelix commented on #33364
reassigning bug to @nikomatsakis

[2016-07-21 20:40] pnkfelix commented on #33364
triage: P-medium

[2016-07-21 20:41] #25388 closed

[2016-07-21 20:42] nikomatsakis commented on #34349
perhaps related to #33364?

[2016-07-21 20:43] arielb1 commented on #34349
The issue is that upvar inference mutates the `closure_kinds` map while calling trait selection.

[2016-07-21 20:50] pnkfelix commented on #34932
Its not clear to me how `#![cfg(...)]` at the crate level should even work, or what it means.

In other words: I would normally be sympathetic to the idea that this is a regression, but I am currently wondering if this was just a latent language bug that the code worked before at all.

[2016-07-21 20:58] nikomatsakis commented on #34831
triage: P-high

[2016-07-21 21:04] retep998 commented on #34932
It simply means the entire contents of the crate should be ignored. I use it in `winapi` for non-windows platforms.

[2016-07-21 21:57] nrc commented on #34932
cc @jseyfried did you make this change? I seem to remember you did it deliberately and for good reason, but I don't remember that reason.

[2016-07-21 22:02] pnkfelix commented on #34932
I find this semantics odd. Since the crate is still present (just empty), while if this `#![cfg(...)]` attribute were to appear within a *module*, that would cause the `mod` item itself to disappear (right?), rather than just being an empty module.

I'm willing to accept that its a small discontinuity in the semantic of `#![cfg(...)]` when it appears at the root of a crate, but we should make sure

[2016-07-21 22:04] parched commented on #26449
@gz You need to add the `+soft-float` target feature

[2016-07-21 22:07] pnkfelix opened #34968 "Special case behavior of `#![cfg(..)]` at crate root needs documenting"
Spawned off of https://github.com/rust-lang/rust/issues/34932#issuecomment-234397781

If you put the inner attribute `#![cfg(..)]` at a crate root, this (apparently) causes an empty crate to be generated. I.e., it is as if the crate itself still exists, but all of its contents have disappeared.

This is slightly different than the behavior of `#![cfg(..)]` elsewhere (e.g. in a `mod` item), where s

[2016-07-21 22:09] rocallahan commented on #27787
@Stebalien why is https://github.com/rust-lang/rust/issues/27787#issuecomment-231277344 not working for you?

[2016-07-21 23:09] jseyfried commented on #34932
@nrc I unintentionally made this change in #34272 -- fixed in #34969.

[2016-07-21 23:10] Stebalien commented on #27787
@rocallahan the `Borrow` trait explicitly forbids this. That is, `a.borrow().cmp(b.borrow) == a.cmp(b)` for all `a` and `b` (the same is true for `Hash` and `Eq`). Also, `Borrow` can only return a reference to values so you can't just "make" things. You *can* play some games with transmute and newtypes but this is very limited and not recommended.

[2016-07-21 23:15] rocallahan commented on #27787
OK, thanks for pointing that out.

Pulling https://crates.io/crates/compare into the standard library would be another way to fix this.

[2016-07-21 23:27] eefriedman commented on #34966
(For anyone who was confused by the given example, pthread_mutexattr_init can fail with ENOMEM.)

[2016-07-22 00:24] petevine commented on #34248
Hey, where did the crash go? (@glandium's patches look OSX specific but maybe they helped too)

[2016-07-22 00:24] #34248 closed

[2016-07-22 01:08] DemiMarie commented on #34457
Update: HTTPS access to GDB was broken due to a bug; this has now been fixed (at least I managed to check out the sources).

[2016-07-22 03:36] mitchmindtree commented on #25725
Just thought I'd give this a +1 and add that I come across this quite frequently. I even occasionally resort to `once(a).chain(once(b)).chain(once(c))` during some calls to `flat_map` just so I can remain on the stack when the only other alternatives are `vec![a, b, c]` or having to import another crate like arrayvec.

At least 90% of my use cases for this are for arrays where the elements are `Co

[2016-07-22 04:08] jhod0 commented on #32777
Ok - It looks like the problem was `rustc_driver` was not loading the diagnostics from `rustc_metadata`!

[This](https://github.com/rust-lang/rust/blob/9f58fb776a74a44f4fcc2cb57084d33c55530aa4/src/librustc_driver/lib.rs#L1081) function only loads diagnostics from a few support libraries, which did *not* include `rustc_metadata`.

Someone else had already written a few diagnostics for `rustc_metada

[2016-07-22 05:43] tmiasko commented on #34966
On some platforms types like pthread_mutex_t, pthread_cond_t, etc., are "fat"
structures that have sufficient size to hold everything necessary and their
initialization will never fail (unless initialized incorrectly). But on others
they are opaque pointers to `void*` and require an additional memory
allocation. Search for those typedefs in libc crate, gives a rough
approximation of affected platf

[2016-07-22 05:55] Manishearth commented on #18154
https://github.com/Manishearth/rust-clippy/issues/1116

[2016-07-22 06:56] eefriedman opened #34971 "Bad handling of thread join deadlock in standard library"
[code]

Gives (on playground):

[code]

There are two problems here:
1. The error message is absolutely terrible.
2. For the sake of safety, we might need to do something other than panic if this happens.  This could affect crates which require that join() never returns early, like crossbeam.

[2016-07-22 10:04] nikomatsakis commented on #34603
Dup of https://github.com/rust-lang/rust/issues/23856 I believe ... this probably isn't too hard to fix. Just something we never got around to.

[2016-07-22 10:04] nikomatsakis commented on #34603
Closing in favor of https://github.com/rust-lang/rust/issues/23856

[2016-07-22 10:04] #34603 closed

[2016-07-22 10:05] nikomatsakis commented on #34603
Note that:

[code]

**is** a super-trait bound.

[2016-07-22 10:27] michaelwoerister commented on #34754
I'll see that I'll take care of this next week.

[2016-07-22 10:40] michaelwoerister commented on #32754
That sounds like a pretty promising approach. NFS we won't be able to support, I'm afraid, but that seems OK to me.
What about filesystems that don't support hardlinking? A lot of potential data copying is involved there (which also widens the time window for two process interfering with each other). Can we tell people to "just use a proper file-system"? `:)`

[2016-07-22 11:06] #33724 closed

[2016-07-22 11:26] arielb1 commented on #18154
closing.

[2016-07-22 11:26] #18154 closed

[2016-07-22 11:36] OlliV commented on #34955
Uh, what's the point of copying .o files? Doesn't that ruin the whole performance gain? I don't think I have ever seen a build system that would copy .o files, usually out-dated files are just overwritten. Maybe I'm missing something?

[2016-07-22 11:49] michaelwoerister opened #34973 "Warn or abort if -Zincremental is used without -Zorbit"
Because of #34151, incremental compilation cannot work reliably without MIR-trans. We should make sure that we can't run into this accidentally.

cc @nikomatsakis

[2016-07-22 12:33] alexbool commented on #32979
What a nasty bug, reproduced in one of my projects too. Any info on it?

[2016-07-22 13:05] abhijeetbhagat commented on #34903
I can update.

[2016-07-22 13:10] abhijeetbhagat commented on #34903
@SplittyDev btw there is text about using underscores in integer literals [here](https://doc.rust-lang.org/reference.html#integer-literals)

[2016-07-22 15:08] Stebalien commented on #27787
@rocallahan I don't really see how that helps.

[2016-07-22 15:18] rocallahan commented on #27787
`bst::TreeMap` is parameterized by a type C which is a subtype of `Compare<K, K>` *and* `Compare<Min,K>`/`Compare<Max,K>` for the range bounds, and it definitely allows you to use any types `Min`/`Max` as long as your C parameter supports them.

[2016-07-22 15:20] rocallahan commented on #27787
So `BTreeMap` could use the same approach ... if `Compare` is pulled into the standard library.

[2016-07-22 15:39] Stebalien commented on #27787
I see. However, that's not nearly as flexible.

1. It doesn't allow one to write custom queries over external maps/sets (the query logic is built-in to the map/set, not the query).
2. The solution I posted above is significantly more ergonomic: `set.query(1..100)`, `set.query(("LastName",))`, etc...

[Here's](https://gist.github.com/Stebalien/19e9828f0455e63eda4ba570d24a297e) a version that attemp

[2016-07-22 16:06] alexcrichton commented on #32754
On Windows we actually can't delete a file if someone's opened it, and on Unix if you delete a file I believe all open references still have the same underlying data, so in theory that should be roughly ok if hard linking isn't supported? I'd also be fine saying that we don't work *great* on things like FAT32. Or at least not to start out

[2016-07-22 17:02] alexcrichton opened #34978 "MUSL target doesn't link on nightly"
This was a recent regression:

[code]

The [diff between the nightlies](https://github.com/rust-lang/rust/compare/bbfcb471db0799a7d92d62e66cf44bbd68051675...27e766d7bc84be992c8ddef710affc92ef4a0adf) looks innocuous, so it looks like it was some change in deployment or images.

[2016-07-22 17:03] alexcrichton commented on #34978
This is perhaps related to https://github.com/rust-lang/rust-buildbot/commit/417ddbfb6db9d58364d57e610256749a331a507e, specifically the update to the `linux-cross` build.

[2016-07-22 17:05] alexcrichton commented on #34978
Er no, the `linux` container, not the `linux-cross` container

[2016-07-22 17:09] alexcrichton commented on #34978
Ok, looks like this is due to the update to Ubuntu 16.04. I've got a [suite of docker containers](https://github.com/alexcrichton/port-of-rust) which are [built each night](https://travis-ci.org/alexcrichton/port-of-rust) which is how I discovered this regression. I'm personally running Ubuntu 14.04 on my computer (in the description), and the [relevant Dockerfile](https://github.com/alexcrichton/

[2016-07-22 17:50] arcnmx opened #34979 "Mismatched types error with mixed lifetimes in trait bounds"
This was encountered from a [derive plugin that created where bounds for all member types](https://github.com/serde-rs/serde/issues/443#event-731862636). Occurs on stable, beta, and nightly.

[code]

[code]

[playpen repro](https://is.gd/UgB9SI)

[2016-07-22 17:52] alexcrichton commented on #34959
Just to clarify what needs to happen here, should the logic basically be to call `as_str` on `env::var("PATH")` and check to see if it contains `"`? If that happens then abort saying that command execution may not work?

I'm curious why `cmd.exe` would work when rustbuild doesn't, should we perhaps spawn processes differently?

[2016-07-22 17:54] eefriedman commented on #34978
0x2a is R_X86_64_REX_GOTPCRELX; newer versions of binutils generate it, but it isn't supported by older versions of binutils.

I'm guessing the cause is that you upgraded binutils on your nightly builder.

[2016-07-22 18:02] nikomatsakis commented on #34349
@arielb1 so I looked into this some. Is the problem related to caching? That is, we solve the trait once with `closure_kinds` set to `Fn`, and then cache the result?

[2016-07-22 18:06] nikomatsakis commented on #34349
Because basically I think things are largely working as they are supposed to -- and an error would be expected, except that I think a cache is kicking in. Disabling caching for these sorts of predicates would probably fix the problem (I'll try it), though of course it'd be nice in a way if we could surface the closure kind up into the key (not sure how that would work though).

[2016-07-22 18:07] brson commented on #34535
My results building cd1b56c39d02cb7b6a0aa06b32f3e02e36b986e3 with the command `cargo build`:

* 1.9.0-i686-pc-windows-msvc - resolve errors in snake, keyboard.rs
* 1.9.0-i686-pc-windows-gnu - build errors
* 1.9.0-x86_64-pc-windows-gnu - build errors
* nightly-x86_64-pc-windows-gnu (b5ad2779e 2016-07-16) - build success
* nightly-x86_64-pc-windows-gnu (936bfea94 2016-07-20) - ICE resolving keyboard

[2016-07-22 18:07] alexcrichton commented on #34978
Interesting! Could you clarify what you mean by newer versions of binutils generating it? The error here I believe is just using an object generated by what is presumably a newer gcc, not necessarily something linked with a newer linker. In that sense is there a flag we can pass to gcc to disable this behavior?

[2016-07-22 18:09] retep998 commented on #34959
@alexcrichton It is just `cmd` which is special and handles `PATH` in a special way (probably for backwards compatibility reasons). Even powershell can't work with paths that have quotes in them. So we're not doing anything wrong.

Anyway yeah, just scan `PATH` for any `"` and emit an error if there is one.

[2016-07-22 18:18] eefriedman commented on #34978
I mean the assembler ("as") is generating it.

It looks like there's a flag `-mrelax-relocations=no` to turn it off... you might be able to pass `-Xassembler -mrelax-relocations=no` or something like that to gcc.  Or you could build with clang, where the integrated assembler doesn't do this by default.

[2016-07-22 19:07] brson commented on #34535
* nightly-x86_64-pc-windows-gnu (ab0b87458 2016-06-13) - build errors
* nightly-i686-pc-windows-gnu (ab0b87458 2016-06-13) - build errors

[2016-07-22 19:09] nikomatsakis commented on #29149
@arielb1

So, if we were to impose this rule:

Can you elaborate on how you think this would still cause a problem? you mentioned associated types before, but I'm not quite sure what you meant by that. You gave this example:

[code]

I think I can see what you are getting at, but I think that this example does not pose a problem. It is true that for `S` to be `Copy`, `T: Foo` must hold and (furthe

[2016-07-22 19:49] petevine commented on #34949
`aarch64` is affected too:

[code]

[2016-07-22 19:49] petevine commented on #34948
`aarch64` is affected too, and unless you were simply demonstrating the difference (let's say under load), the absolute `x86_64` performance seems way to low.

[code]

[2016-07-22 20:48] alexcrichton commented on #34959
Ok! In that case I'll tag this as E-easy

[2016-07-22 20:50] nikomatsakis commented on #31436
We were discussing this in the @rust-lang/lang meeting. Some things that came up:

First, there is definite interest in seeing `?` stabilizing as quickly as possible. However, I think most of us would also like to see `?` operating on `Option` and not just `Result` (but not, I think, `bool`, as has also been proposed). One concern about stabilizing is that if we stabilize without offering any kind

[2016-07-22 20:55] nikomatsakis commented on #34349
OK, I have a simple patch that fixes this. It moves the computation of the closure-kind into a temporary table; the final results are copied into the main table only when done. The result is that the `ClosureKind` obligation is not resolved until the final results are available, as expected.

[2016-07-22 20:55] nikomatsakis commented on #34349
Doing final testing now, hopefully have a PR up soon.

[2016-07-22 21:03] nikomatsakis opened #34981 "Allow all literals in attributes (Tracking Issue for RFC #1559)"
Tracking issue for rust-lang/rfcs#1559 -- allow all literals in attributes.

[2016-07-22 21:24] jhod0 commented on #32777
I looked into it more, and it looks like the following libraries' long error messages are not properly registered:

* `libsyntax`
* `librustc_passes`
* `librustc_plugin`
..However, the `register_long_diagnostics!` declaration in `librustc_plugin` is empty
* `librustc_mir`
* `librustc_lint`
* `librustc_metadata`

i.e. running the following for anny `errno` in the above libraries will fail:
[code]

[2016-07-22 21:33] eddyb commented on #34981
@cgswords Should this be assigned to you?

[2016-07-22 22:04] rkjnsn commented on #31436
I heartily agree with this.

[2016-07-22 22:10] brson commented on #28784
`return` is mostly an expression because most everything's an expression, but it does serve some purposes, like allowing it to appear in match arms.

[2016-07-22 22:16] brson commented on #22590
@nagisa what do you think of @eugene-bulkin's output above?

[2016-07-22 22:40] brson commented on #34400
Current status: we're building compiler-rt builtins ourselves using rules defined in `mk/rt.mk` and `src/bootstrap/native.rs` (if i recall correctly).

Potential next steps:

* Create an entirely new crate, I'd suggest calling it `rustc-builtins` (because it's going to be *just* the compiler-rt builtins, not the same as compiler-rt).
* Make that crate a dependency of core. This will involve diffir

[2016-07-22 22:47] cuviper commented on #34400
Why?  Are you intending to *fork* that code, or just vendor it?

With my eye towards wanting to use an external build of these builtins (from the distro), a submodule makes it a lot clearer what's being vendored.

[2016-07-22 23:23] alexcrichton commented on #34400
Yeah eventually we intend to rewrite all this in Rust.

[2016-07-23 00:09] alexcrichton opened #34984 "libbacktrace symbols are exposed from libstd"
We should compile libbacktrace I... think with `-fvisibility=hidden`, but I don't think that we are. This causes the symbols to be exported when they shouldn't be:

[code]

cc https://bugzilla.mozilla.org/show_bug.cgi?id=1288173
cc @froydnj

[2016-07-23 00:09] alexcrichton commented on #34984
This should be a relatively easy bug to tackle if anyone's interested, but I'm not convinced of the solution so I'm not gonna tag E-easy just yet. If you've got a Linux machine though it'd be great to play around on!

[2016-07-23 00:11] alexcrichton commented on #34984
For reference we compile libbacktrace in two places currently:

* [The makefiles](https://github.com/rust-lang/rust/blob/master/mk/rt.mk#L635-L676)
* [libstd's build script](https://github.com/rust-lang/rust/blob/master/src/libstd/build.rs#L63)

Both will need to be modified with the same solution once we figure it out.

[2016-07-23 00:17] alexcrichton opened #34985 "LTO preserves too many `extern` symbols"
Right now the standard library ends up exporting a bunch of `extern` symbols from liblibc:

[code]

These are all defined in the libc crate, but LTO should be stripping them out.

I believe the reason that this is happening is we attempt to preserve `extern` symbols from upstream crates (as they may be part of the ABI), but we don't check for `#[no_mangle]` (which none of these functions have).

I

[2016-07-23 00:17] alexcrichton commented on #34985
cc https://bugzilla.mozilla.org/show_bug.cgi?id=1288173
cc @froydnj

[2016-07-23 00:19] zhangyt26 opened #34987 "MUSL dynamic linking support"
i noticed current musl target doesn't support dynamic linking:
https://github.com/rust-lang/rust/blob/936b32a514b73c1d3dfcbd9d17818f9f18bf4883/src/librustc_back/target/linux_musl_base.rs#L63

i was working to make an executable shared lib, but linked statically with musl, so that the library doesn't expect glibc from host system, and it can also be called from other languages dynamically. i was ho

[2016-07-23 00:22] alexcrichton commented on #34493
I've updated the title of this bug to indicate that it's not just Windows nor is it just cdylib.

The solution I [mentioned before](https://github.com/rust-lang/rust/issues/34493#issuecomment-228837159) may not be *too* hard to implement. I believe that the logic which decides to export these functions (for LTO at least) is [here](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/ba

[2016-07-23 00:23] alexcrichton commented on #34493
Also note that this "whitelist" should also consider symbols like:

* `rust_eh_personality`
* `rust_eh_personality_catch`
* `rust_begin_unwind`

It's basically the same thing there where once we have LTO none of them need to actually get exported all the way, just linked up.

[2016-07-23 00:27] alexcrichton commented on #34987
Right now this is unfortunately not possible without modifying the compiler because, as you've noticed, the compiler hard-codes that it's linking statically to musl. We can probably change this, however, by adding a new target or adding some flags!

[2016-07-23 00:31] alexcrichton commented on #34978
Hm I unfortunately can't seem to find any documentation pertaining to that flag, do you have any links on hand with the information here? Also, thanks for the investigation!

[2016-07-23 00:32] zhangyt26 commented on #34987
@alexcrichton thx for the quick reply!
how about using --whole-archive to convert the musl staticlib to dynamic lib? do you have any knowledge to know if it actually makes sense?
i'm not sure how rust compiler currently packages the staticlib, but usually you can do that for c code....

[2016-07-23 00:36] alexcrichton commented on #34987
It may be possible yeah to take the same objects and use them, but the linkage of the C library and other related pieces are hardcoded in places that may be difficult to change, so this likely won't be a small patch one way or the other.

[2016-07-23 00:47] eefriedman commented on #34978
https://www.sourceware.org/ml/binutils-cvs/2016-02/msg00038.html .  Taking another look, I'm not sure it's actually part of any released binutils version. :(

[2016-07-23 00:49] alexcrichton commented on #34978
Weird, surely I'm not using *that* old of a distribution, Ubuntu 15.10 is less than a year old? There's got to be some way we can change how we compile these objects, because the standard glibc target works ok, just musl is broken?

[2016-07-23 01:04] eefriedman commented on #34978
Compiling them with clang should work, I think.

It looks like you'll only end up with the relocation in question if code computes the address of a global using a GOT lookup, so it's possible the glibc target is just getting lucky.

[2016-07-23 03:21] cuviper commented on #34400
OK, sounds good, thanks.

[2016-07-23 03:41] eefriedman commented on #34978
Err, actually, hang on; why are we building code targeting musl with -fPIC in the first place?

[2016-07-23 05:00] jhod0 commented on #32777
Sorry for all the text, but I found something odd: There are two E0519s!

* One in [librustc_metadata](https://github.com/rust-lang/rust/blob/9f58fb776a74a44f4fcc2cb57084d33c55530aa4/src/librustc_metadata/diagnostics.rs#L110)
* And one in [librustc_lint](https://github.com/rust-lang/rust/blob/b5ad2779ea155f6a1b2b61415bc804dcbb23400c/src/librustc_lint/types.rs#L37)

It looks like the one in `lint`

[2016-07-23 05:42] sorear commented on #34987
Are we sure musl actually supports that?  Having two separate libcs in one process sounds like a recipe for problems (both due to symbol interposition, and unique kernel resources like SIGRT1).

[2016-07-23 09:06] GuillaumeGomez commented on #32777
I think we had found this earlier and no ones knows actually haha.

@Manishearth: Do you know something about it. I think we already found this issue but don't remember what we said about it.

[2016-07-23 09:14] nikomatsakis opened #34991 "ICEs with incremental compilation building glium"
@jonas-schievink writes in https://github.com/rust-lang/rust/pull/34956:

[2016-07-23 09:19] abhijeetbhagat commented on #34915
I can work on this.

[2016-07-23 09:19] nikomatsakis commented on #32015
@michaelwoerister

I agree -- however, it seems like inlined HIR is going away. That is, once we transition to MIR trans, this point will no longer be an issue, right?

[2016-07-23 11:36] nagisa commented on #22590
The output is better now, I’m still confused as to why compiler would even begin considering the `impl <T: B> A for T`. While I have some intuition as to why the compiler would report error as it currently does, I think reporting

[code]

is preferable in this particular case.

OTOH, reporting an error message the way as it is done currently automatically improves diagnostics involving marker trai

[2016-07-23 11:40] nagisa commented on #22590
Perhaps something like

[code]
could be an option.

[2016-07-23 12:15] arielb1 commented on #34349
@nikomatsakis

Last time I checked the problem wasn't caching, but that the "[closure ...]: Fn" obligation, left over from type-checking, was incorrectly marked as resolved.

[2016-07-23 12:26] nagisa commented on #34831
https://github.com/rust-lang/rust/pull/34917 (might be a fix) landed 19 hours ago only.

[2016-07-23 12:33] jonas-schievink commented on #34991
This happens on stable too, btw

[2016-07-23 12:36] hgallagher1993 commented on #20130
@Manishearth I've been looking at this task and I was just wondering could I get some direction on how to start this...still completely new to the compiler :smile:

[2016-07-23 12:54] Aaronepower opened #34992 "ICE: internal unnamed_addr constant %str_slice"
# Code
https://github.com/Aaronepower/rust-test

# Error
[code]

# Rustc version
[code]

# Cargo version

[code]

[2016-07-23 12:58] Aaronepower opened #34993 "OSX Travis builds stack overflowing"
[https://github.com/travis-ci/travis-ci/issues/6177](https://github.com/travis-ci/travis-ci/issues/6177). As mentioned there this isn't an actual problem on actual OSX devices, only happens on Travis OSX builds.

[2016-07-23 13:00] #34992 closed

[2016-07-23 13:00] Aaronepower commented on #34992
This ICE is already known.

[2016-07-23 13:25] arielb1 commented on #34535
ICE?

[2016-07-23 13:32] nagisa commented on #34993
The error happens while running the build script. Its likely a real stack overflow. Size of stack is not guaranteed to be the same between machines so it is not surprising it could overflow the stack on some machines and not others.

[2016-07-23 13:50] glaebhoerl commented on #31436
Another question we had agreed to gate stabilization on was nailing down the contracts that `impl`s of the `From` trait should obey (or whatever trait we wind up using for `Err`-upcasting).

[2016-07-23 14:15] jhod0 commented on #32777
Great: Just making sure the team is aware of it!

[2016-07-23 14:42] #6994 closed

[2016-07-23 16:01] nagisa commented on #34962
Apparently the `LLVMInitializeAllTarget*` stuff is all `static inline`, which is why I never noticed them before.

[2016-07-23 16:12] Stebalien commented on #34285
Is there any way to recover the key used in the *entry* from an occupied entry? That is, I'm trying to write a multimap like with the following insert definition:

[code]

I don't want to *remove* the key/value pair from the hash-map, I just want my key back!

[2016-07-23 16:19] wesleywiser commented on #34985
I'd like to give this a shot if that's ok. What's the best way to test a fix? Running the above test case?

[2016-07-23 17:15] alexcrichton commented on #34985
@wesleywiser sure! I'm not sure there's a great test case we can check in for this, but to manually test it yeah the commands in the description should be good enough.

[2016-07-23 17:22] alexcrichton commented on #34993
@Aaronepower it looks like you're using serde to expand the entire crate, and additionally serde is compiled in debug mode (as opposed to release). Debug programs tend to consumer more stack space, and expanding an entire crate can also be a costly operation, so as @nagisa said the stack overflow here is probably legitimate. Your options here include:

* In the build script spawn a thread with a m

[2016-07-23 17:22] #34993 closed

[2016-07-23 17:23] alexcrichton commented on #34285
@Stebalien I believe not currently, no, but it is the subject of an RFC or two

[2016-07-23 17:53] Stebalien commented on #34285
Got it. I just want to make sure the APIs play well together. Specifically, given that we want a way to to move keys out `Entry`, `VacentEntry`, and `OccupiedEntry`, I'd do the following:

1. Remove `VacentEntry::into_key`.
2. Rename `remove_pair` to `remove` or `take` as opposed to replacing it with an `Into<(K, V)>` implementation.
3. Add `Into<K>` implementations for converting entries back int

[2016-07-23 19:12] polazarus opened #34997 "Chained constant expressions causes stack overflow"
Rustc's constant expression evaluation overflows in stack while compiling this kind of code:

[code]

On my machine (linux 64): ~350 constants on the chain is enough with rustc 1.10.0 (cfcb716cf 2016-10-03). What is quite troubling to me is that rustc seems to do the work for each constant and does not rely on previously computed results. One could think that Rust just always draws the short straw

[2016-07-23 20:03] brson opened #34998 "Major compile time regression for regex crate"
You can see it on http://perf.rust-lang.org/graphs.html around 6/30.

[2016-07-23 20:25] qdot opened #34999 "Documentation for flush() function of Write trait is incorrect"
The flush() function to the write trait is documented (at https://doc.rust-lang.org/std/io/trait.Write.html) as

[code]

However this results in the following error in code:

[code]

The return value is expected to be Result<(), std::io::Error>.

[2016-07-23 20:28] jonas-schievink commented on #34999
That's a `std::io::Result<()>`, not `std::result::Result<(), ?>`

[2016-07-23 21:21] retep998 commented on #34999
If you click on the `Result` it will take you to the page for `std::io::Result`  where you will see that it is defined as `type Result<T> = Result<T, Error>;`. Therefore not a bug, although it is confusing.

[2016-07-23 21:36] frewsxcv commented on #34999
If we changed the function signature in the source from:

[code]

to:

[code]

would it display the `io::` prefix in the documentation? In my opinion, I think it would make sense to do this if so.

[2016-07-23 21:37] goldenHairDafo opened #35000 "error: internal compiler error: unexpected panic"
Panic wihle compiling

I tried to compile the following repository:

github.com/goldenHairDafo/gifsy

and got a panic from the compiler. Sorry the code isn't very good, I'm an nooby!

##Meta
[code]

[2016-07-23 21:56] goldenHairDafo commented on #35000
I found the problem in my code:

pub fn somewhat() -> Result<(), Error> {
    Ok(())  // should be Ok({})
}

// this causes the compiler to panic, but only if somewhat() is actually called

[2016-07-23 22:17] arielb1 opened #35002 "Investigate making the buildbots network-access-free"
Currently, the Rust buildbots (bors) all clone LLVM and other libs from Github. This seems to occasionally hang and cause mysterious spurious failures, possibly due to rate-limiting.

It could be better if we would do the `git submodule update` once and push the updated directory to the buildbots. We need to figure out how this interacts with lazy LLVM recompilation, but it should be possible.

cc

[2016-07-23 22:31] jimblandy commented on #21102
You actually don't want to hard-code an `int 3` into your code. GDB will recognize that as not being a breakpoint that it inserted, but rather as part of the program itself&mdash;which is completely correct, but it means it's no different from a call to `abort`. (I believe GDB will then have trouble stepping over the `int 3`, because it believes it's an important instruction that must be executed,

[2016-07-23 23:23] apoelstra commented on #32722
Another example:
[code]

[2016-07-24 00:03] zonyitoo commented on #33368
It seems that someone is going to add coroutine support directly to LLVM, which means that it is possible to tell LLVM not to inline TLS calls between context swaps.

https://internals.rust-lang.org/t/llvm-coroutines-to-bring-awarness

[2016-07-24 03:47] frewsxcv commented on #34999
[code]

I'm actually not sure if this is even possible since this line comes straight from `libstd/io/mod.rs`.

[2016-07-24 04:24] sfackler commented on #34999
rustdoc does not pay attention to the way items are declared in that way.

[2016-07-24 04:53] JustAPerson commented on #24666
So, running into this again. Given that the existing solution (compare exact paths given to `--target` is rather non-robust), perhaps we can loosen the requirement to just comparing filenames?

[2016-07-24 07:49] nagisa commented on #34998
Duplicate of https://github.com/rust-lang/rust/issues/34831.

[2016-07-24 08:49] nwin opened #35005 "rustc should warn about private types in re-exported interfaces"
If one does not re-export a public type of a private module no warning is emitted. This is something that which is described in #34537 als a “workaround” and thus apparently intended as a feature.

This is actually pretty bad because it effectively renders the whole `private_in_public`-checker useless as it becomes unreliable. Why do we need a lint, if one can accidentally circumvent it? It hit us

[2016-07-24 09:49] nwin commented on #35005
No, they can only be re-exported from `outer` since `inner` is private. `Private` cannot be accessed from anywhere else. Even rustdoc won't link it.

[2016-07-24 10:54] petrochenkov commented on #35005
That's how the privacy system works. Marking something as `pub` gives everyone permission to access it.

This is allowed. Privacy guarantees that private things cannot be accessed, not that public things can be accessed.

If you need `interface` to be private to `outer` you have to specify it like this:
[code]

[2016-07-24 11:17] nwin commented on #35005
Interesting, that syntax does not seem to be documented anywhere.

[2016-07-24 11:30] pornel commented on #31752
I've ran into this too.

[code]

The error does not say that the problematic variable is `c`.

In real code, with multiple variables used and type inference hiding the details, it is really hard to figure out what this error is about.

[2016-07-24 11:34] nxnfufunezn commented on #34984
I would like to give it a shot..

[2016-07-24 12:47] TimNN commented on #35000
I believe this is a duplicate of #34008.

[2016-07-24 12:56] TimNN commented on #35000
@goldenHairDafo: In you specific case the problem can be fixed by changing [line 101 of `main.rs`](https://github.com/goldenHairDafo/gifsy/blob/master/src/main.rs#L101) to:

[code]

[2016-07-24 12:58] 8l opened #35007 "build rust on x86_64_alpine-linux-musl"
Hi, i am trying to build on alpinelinux.

i have musl libc based llvm,
https://github.com/8l/llvm2

and trying congfigure rust

[code]

[2016-07-24 13:11] nagisa commented on #35007
x86_64-unknown-linux-musl should be good enough for you.

[2016-07-24 13:24] paomian opened #35008 "RefCell value lifetime check error"
when I use RefCell like after code.

[code]

https://is.gd/T8Wmps
will trigger a compile error

[code]

[code]

[2016-07-24 13:45] goldenHairDafo commented on #35000
@TimNN Thanks! You're write this is a duplicate of #34008. Sorry for that.

BTW: I created a tag rust_bug_35000 in the repository, if some wan't to reproduce this problem.

[2016-07-24 13:45] #35000 closed

[2016-07-24 13:54] rkruppe commented on #35002
This is not only messing with PRs, it also killed the last three nightlies.

[2016-07-24 15:20] japaric commented on #34400
I'm working on this. I think I got everything but the Makefiles done. I'm smoke testing right now by cross compiling std to `arm-unknown-linux-gnueabi`. I want to cross compile a binary that actually uses compiler-rt intrinsics.

[2016-07-24 15:25] japaric commented on #35007
Unfortunately, you can't bootstrap `rustc` on a musl system because there is not stage0 snapshot. The only available route is to cross compile from a host with glibc. But there are issues with that approach, see #31322 for details.

[2016-07-24 16:45] TimNN opened #35011 "run-pass tests are failing on travis with "fatal runtime error: failed to initiate panic, error 3""
For example https://travis-ci.org/rust-lang/rust/builds/147001444

Log excerpt:

[code]

From the timing I suspect this is related to #34832, cc @alexcrichton @vadimcn

**Edit**: The failing test is probably either `run-pass/backtrace.rs` or `run-pass/backtrace-debuginfo.rs`.

**Edit2**: very likely caused by #34832, since it's travis build is the first to exhibit this error.

[2016-07-24 19:54] vadimcn commented on #35011
Any ideas what's different about Travis?  This test passed on my local builds (as well as on buildbots, obviously).

(BTW, am I the only one who's always getting confused about which test has failed?  I don't see anything in the compiletest's output to indicate the culprit).

[2016-07-24 19:59] TimNN commented on #35011
No idea what's different about travis, everything worked fine locally for me as well. We may want to just do a PR with some additional logging to see which one (if any) of the `return _URC_FATAL_PHASE1_ERROR` triggers the error.

Yeah, I can also only guess, I'm believe compiletest only prints something *after* running the test...

[2016-07-24 22:47] jethrogb opened #35016 "path attribute on modules is useless in nested modules"
My crate has some test support data in `tests/support/mod.rs`. When trying to load this module for unit tests like this:
[code]
I get an error like this:
[code]
In fact, specifying pretty much any path is going to fail, because the `src/tests/` directory does not exist, because I'm using a nested module and not a separate file. When using nested modules, I think the path at which relative path res

[2016-07-24 23:14] cuviper commented on #23366
Note that it's not actually easy to strip these notes according to #26764.

Another fun aspect is that systems which use `.gnu_debugdata`, described [here](https://sourceware.org/gdb/onlinedocs/gdb/MiniDebugInfo.html), will end up duplicating the entire `.note.rustc`.  The given procedure uses `objcopy --only-keep-debug`, which also preserves notes, then further strips into a mini_debuginfo file w

[2016-07-24 23:47] cuviper opened #35017 "Several tests fail with --disable-jemalloc"
I currently can't run a full `make check` when using `--disable-jemalloc`, because there are a few tests that assume they have multiple allocators to play with.  Those I found were:
- `src/test/compile-fail/allocator-dylib-is-system.rs`
- `src/test/compile-fail/allocator-rust-dylib-is-jemalloc.rs`
- `src/test/run-pass/allocator-default.rs`

All three of these are at least conditional on `target_os

[2016-07-25 00:25] flosse commented on #27745
Any progress here?

[2016-07-25 00:35] alexcrichton commented on #35011
@vadimcn I wonder if it's different ubuntu versions on Travis here? It may be some glibc version thing going on. If you execute tests in the dockerfile it should in theory reproduce.

[2016-07-25 01:16] Aatch commented on #35008
Looks like it's related to #31723. Not quite the same issue, but likely the same cause.

[2016-07-25 01:29] Aatch commented on #35016
@jethrogb `#[path="../../tests/support/mod.rs"]` should work.

I guess the issue is that both behaviours are reasonable, it depends on your mental model of how `rustc` finds module files. The thing is, the current behaviour is, well, what we currently have, meaning that changing it is technically a breaking change. It's also not obvious to me that "relative to the current file" is strictly better

[2016-07-25 02:17] jethrogb commented on #35016
Given that one option results in unresolvable paths, I'd say the other option is better. I think it could be non-breaking by testing whether the current way works, and if it doesn't work try the other way.

[2016-07-25 02:19] cgswords commented on #35011
I'm experiencing this on #35018 and it's working fine locally.

[2016-07-25 02:26] cgswords commented on #35011
This has also caused the following PRs to fail:
- #35001
- #35003
- #35004
- #35009
- #35010
- #35012
- #35013
- #35015

[2016-07-25 02:55] paomian commented on #35008
This issue is seem to related to #31723 ,but not same completely.so I can not know whether or not it is smage issue.

[2016-07-25 04:02] KiChjang opened #35022 "`@ + identifier` not documented"
I have seen some Rust macros that use something like `@var` to select which arm of the macro to recursively call itself. This usage, however, is not documented anywhere, in the book or otherwise.

One usage of the @ identifier can be seen [here](https://github.com/rust-lang-nursery/bitflags/blob/master/src/lib.rs#L213).

[2016-07-25 04:43] alexcrichton commented on #35002
I'd love to do this! I also have no idea how to do this easily though :(

I have no idea why LLVM clones are timing out so much, I sent mail to GitHub but haven't gotten much of a response...

[2016-07-25 04:44] alexcrichton commented on #34984
Sure thing, thanks @nxnfufunezn! If you need any help feel free to ping me here or on IRC

[2016-07-25 04:44] sfackler commented on #35022
The `@var` syntax is just a convention of some kinds of macros, it's not a special syntactic feature. It doesn't mean anything special other than a literal sequence of characters.

[2016-07-25 04:45] alexcrichton commented on #35007
Yes unfortunately as @japaric mentioned bootstrapping for Alpine doesn't work right now as there are no compilers which are compiled against MUSL available.

That being said, I'd personally be fine adding a `x86_64-alpine-linux-musl` target which dynamically links to musl instead of statically, and then we could ship that to work on Alpine I believe.

[2016-07-25 04:46] alexcrichton commented on #34831
Copying over regression/I-slow tags from https://github.com/rust-lang/rust/issues/34998, which I"m closing in favor of this.

@nikomatsakis as a P-high bug, do you know if someone would be suitable to assign to this?

[2016-07-25 04:46] alexcrichton commented on #34998
Closing (and copying tags to that issue)

[2016-07-25 04:46] #34998 closed

[2016-07-25 04:49] cuviper opened #35023 "atomic-lock-free test doesn't account for LLVM support"
In `run-make/atomic-lock-free/Makefile`, it attempts to build its script for many different architectures.  However, when using an external LLVM build, it may not have all architectures available, so the test will fail despite anything Rust could do.  For example, on Fedora 24 I have:

[code]

In particular this doesn't have "Mips", so the `mips` and `mipsel` targets will fail in `atomic-lock-free

[2016-07-25 04:54] alexcrichton commented on #34285
Hm yeah that's actually a good point about `Into<(K, V)>` having odd behavior by mutating the map. I also agree that if we have key recover it'd be good to be consistent across entry types. Thanks for the good points @Stebalien!

[2016-07-25 04:57] alexcrichton commented on #34978
I thought `-fPIC` was required to build position-independent executables at the end?

[2016-07-25 05:19] japaric commented on #35007
I'm looking into this but without creating a new target. Instead I'm just hacking the existing `x86_64-musl` target to make it link dynamically. My goal is to verify that we can build a `rustc` dynamically linked to musl that actually works (My experiment with a `rustc` statically linked to musl didn't yield good results...).

But assuming that works...

- I'm wary of equating `vendor=alpine` to "

[2016-07-25 05:27] alexcrichton commented on #35007
@japaric If we do go the `x86_64-alpine-linux-musl` route I definitely agree it's not great and is a bit of a hack. I wouldn't necessarily think of it as "alpine == dynamic linking" but rather on alpine everyone dynamically links so we wouldn't do much else with alpine in the name. I do agree though that I'd prefer to avoid an explosion of `x86_64-*-linux-*` triples as it's probably not worth it i

[2016-07-25 05:29] jethrogb commented on #35016
Another option is to let rustc, instead of the OS, resolve `..`, but doing path resolution in userspace is error-prone.

[2016-07-25 05:34] pijul opened #35024 "Panic on a simple type error"
Rust 1.9.0 panics on the following (wrong) code:

[code]

(but works fine with `String::new()` instead of `Vec::new()`).

[2016-07-25 05:40] TimNN commented on #35024
I'm pretty sure that this was fixed by #33852 and should work fine in nightly.

[2016-07-25 05:43] pijul commented on #35024
I have no way to run nightly on my machine, feel free to close if fixed.

[2016-07-25 06:07] abhijeetbhagat commented on #34920
r? @GuillaumeGomez

[2016-07-25 06:16] eefriedman commented on #34978
You could build with -fPIE instead.  But nevermind, it looks like that doesn't actually help here.

[2016-07-25 06:32] DemiMarie opened #35025 "bors should clone via HTTPS or SSH, not git://"
bors currently clones via the insecure `git://` protocol (which should never have existed in the first place), so someone who MITM'd the clone could cause bors to build the wrong thing.

[2016-07-25 06:45] Manishearth commented on #20130
So the warning is here: https://github.com/rust-lang/rust/blob/6cc49e51de7ea9b0cc4aff437975544233c57107/src/librustc_driver/driver.rs#L1275

RIght now we warn if the number of unnamed output types is more than one. The actual condition is "if the number of output types is more than one AND if one of the unnamed emit options is `link`"

The emit options are stored in a hashmap in `sess.opts.output_

[2016-07-25 06:48] alexcrichton commented on #35025
Oops, looks like this was just an oversight! Fixed now.

[2016-07-25 06:48] #35025 closed

[2016-07-25 07:19] nagisa commented on #35023
See https://github.com/rust-lang/rust/issues/34962 (this would be a first step to fix the issue).

Rustc currently *requires* LLVM to support `x86`, `aarch64`, `arm`, `mips`, `powerpc` and `nacl` targets. You cannot omit any of these unless you patch rustc code in various places.

[2016-07-25 07:24] nagisa commented on #34831
We *still* haven’t any measurements with nightly containing the PR I linked above. 2016-07-13 seems to be the last measurement done. @nrc is there anyway a manual run could be invoked?

[2016-07-25 07:52] abhijeetbhagat commented on #34915
So this is as simple as just deleting `/src/test/debuginfo/function-prologue-stepping-regular.rs` and removing this:
` // Not used any more, but we can't feature gate it`
` ("no_stack_check", Normal, Ungated),`
from feature_gate.rs ?

[2016-07-25 07:58] sanxiyn commented on #35023
We "sort of" support LLVM configured with different targets since #27937. It is not the case we don't have any code to support that use case.

[2016-07-25 07:58] vadimcn commented on #35011
If I read our Dockerfile correctly, it uses LLVM 3.7 release, not whatever dev version is currently in rust-lang/llvm?  I think that's far more likely to cause codegen differences than a different glibc.

[2016-07-25 08:04] nagisa commented on #34915
You’ll also need to remove [this flag](https://github.com/rust-lang/rust/blob/9316ae515e2f8f3f497fb4f1559910c1eef2433d/src/librustc/session/config.rs#L640). Getting the things you mentioned along with this flag deleted sounds correct.

[2016-07-25 08:46] oli-obk commented on #34997
@eddyb: is it worth fixing this in the current const evaluators? Miri already has a cache, and doesn't use recursion to solve such constant chains.

[2016-07-25 09:51] abhijeetbhagat commented on #34915
I created three different pull requests because i did not know how to create a single pull request for multiple files. How can i do this in the future?

[2016-07-25 10:12] nagisa commented on #34915
Did you perhaps make the PRs using [github’s edit file feature](https://help.github.com/articles/editing-files-in-your-repository/)? I do not think that feature was ever meant for anything more than quickly changing a typo in a single file.

The proper workflow (which allows for multi-file patches as well) is to:

* Fetch the project to your device;
* Change the files (as many of them as you want)

[2016-07-25 10:23] waywardmonkeys opened #35030 "Confusing error message due to type parameter name"
This code is wrong, but the error message is confusing:

[code]

Because I used `bool` accidentally as a type name when not using the right syntax ... this is pretty confusing:

[code]

[2016-07-25 11:25] michaelwoerister commented on #34991
You mean, if you specify `-Zincremental` on stable?

[2016-07-25 11:27] michaelwoerister commented on #34973
I added this to the milestone, since it's easy to do and can only lead to trouble once people try out the alpha.

[2016-07-25 11:55] GuillaumeGomez commented on #34920
@abhijeetbhagat: I need a PR to review. :stuck_out_tongue:

[2016-07-25 11:57] jonas-schievink commented on #34991
@michaelwoerister Yes

[2016-07-25 12:31] sharpjs commented on #31682
Well, then, I'll attempt to write it!

[2016-07-25 12:53] oli-obk commented on #35024
jup, works fine on nightly: https://is.gd/UeG59L

[2016-07-25 12:55] pijul commented on #35024
Ok, sorry for the noise.

[2016-07-25 12:55] #35024 closed

[2016-07-25 15:28] Stebalien commented on #34285
We can't actually write those `Into` impls due to coherence... :cry:.

[2016-07-25 15:56] alexcrichton commented on #35011
@vadimcn ah yeah that makes sense too yeah

[2016-07-25 16:25] jonathandturner opened #35031 "Doc examples not helpful in std::fmt"
Was just trying to read through std::fmt to understand how format values to a particular decimal point.  I came across this set of examples, which don't do a good job of explaining the output of each, so it's difficult to visually pattern match what I type in to what comes out:

[code]

[2016-07-25 16:33] pmarcelll commented on #34831
@nagisa I wanted to benchmark my small BF interpreter (it slowed down a bit after the 2016-06-24 nightly) but unfortunately there's no released nightly containing that PR, the bots are failing due to #35002. @alexcrichton is there a way to temporarily increase the timeout length on the bots? It would be a short-term solution and we would have a new nightly (hopefully).

[2016-07-25 16:59] alexcrichton commented on #34831
@pmarcelll yeah I'm trying to get a nightly out, not sure what's all been going on :(

[2016-07-25 17:37] eddyb commented on #35022
It is literally two tokens, `@` and an identifier, they can be separated by any number of spaces without changing the meaning.
To expand on what @sfackler said, `macro_rules` macros can match on any sequence on tokens (except for `$`, due to a lack of escaping in macros).
This ended up being used with `@` in a lot of macros, among other things, because `@` has only one use in the language atm, `id

[2016-07-25 17:52] christomlinsonrentalcars commented on #34959
I'd like to take this one..

[2016-07-25 17:55] c3st7n commented on #34959
I'd like to take this one..

[2016-07-25 18:00] retep998 commented on #34959
@c3st7n Sorry to disappoint you but someone already opened a PR to fix this a couple days ago. https://github.com/rust-lang/rust/pull/34996

[2016-07-25 18:00] jhod0 commented on #35011
This is also causing #34970 to fail

[2016-07-25 18:10] ticki opened #35035 "Remove the `Sync` requirement for `#[thread_local]` statics."
This restriction can be very bothersome, and has no real purpose. `thread_local`s always belongs to a single thread, thus interior mutability won't cause data races.

[2016-07-25 18:11] arielb1 commented on #35002
You can clone and `git submodule update` on a dedicated machine and push the result directory to the buildbots.

[2016-07-25 18:20] c3st7n commented on #34493
I'd be interested in looking at this if I could get a mentor.

[2016-07-25 18:29] brson commented on #34831
It would be a huge mistake to release another version of Rust without fixing this.

[2016-07-25 18:31] cuviper commented on #35023
Thanks for the links.

@nagisa Where else would you expect problems?  I found the entire "make check" was fine except for this one `atomic-lock-free` test.

Anyway, Fedora's LLVM maintainers agreed to add "Mips" next time they rebuild, so I guess this isn't a huge issue for me.  But if Rust ever decides to add another "required" target, it would be good to understand how urgent that is to comply.

[2016-07-25 18:40] arielb1 commented on #34831
I could not see any regression with `-Z orbit`.

[2016-07-25 18:58] michaelwoerister commented on #34831
If the compile time regression is indeed related to the collector-driven trans changes, then my guess would be that the increased amount of IR pushes LLVM over the amount of memory fitting into the RAM of the perf.rust-lang machine or something similar. I don't think I've run into such a pronounced increase of bootstrapping time when building locally.

[2016-07-25 20:26] steveklabnik commented on #35022
Closing as "not a bug". Thanks!

[2016-07-25 20:26] #35022 closed

[2016-07-25 20:29] steveklabnik commented on #35005
/cc @rust-lang/lang I'm not sure this is a bug.

[2016-07-25 20:32] jseyfried opened #35038 "diagnostics: The `compile-fail/lifetime-inference-give-expl-lifetime-param.rs` test is unreliable"
The "consider using an explicit lifetime parameter" notes depend on the ids of interned strings, so they can differ between platforms after #34856.

[2016-07-25 20:33] jseyfried commented on #35038
cc @nikomatsakis

[2016-07-25 20:34] steveklabnik commented on #27377
I'm going to give this one a close, in favor of https://github.com/rust-lang/rust/issues/29661 , the one tracking stabilizing associated types.

[2016-07-25 20:34] #27377 closed

[2016-07-25 20:37] steveklabnik commented on #29994
Triage: still reproduces today.

[2016-07-25 20:41] steveklabnik commented on #33216
Yes, I am pretty sure that this isn't a bug. @rust-lang/lang ?

[2016-07-25 20:45] steveklabnik commented on #33174
/cc https://github.com/rust-lang/rust/issues/32409

[2016-07-25 20:47] steveklabnik commented on #33136
Can confirm that this reproduces on

[code]

[2016-07-25 20:49] steveklabnik commented on #33010
Closing as "not actually a bug", then. :smile:

[2016-07-25 20:49] #33010 closed

[2016-07-25 20:54] glennw commented on #34434
I tried this and get "error: -g and -C debuginfo both provided" reported from several of our (and upstream) crates. I'm not sure what's causing that yet.

[2016-07-25 20:57] nrc commented on #33216
Yeah, I don't consider this a bug. It's not specific to enums:

[code]

[2016-07-25 20:59] eddyb commented on #12033
The fix in #12134 was partial, `if` with an `else` is still broken:
[code]

[2016-07-25 21:01] nrc commented on #35005
Not a bug. I think @petrochenkov is correct in his interpretation.

One could imagine adding this check as an off-by-default Clippy lint (cc @Manishearth)

[2016-07-25 21:01] alexcrichton commented on #34493
@c3st7n sure!  If you need any help or pointers to get start just let me know

[2016-07-25 21:01] steveklabnik commented on #31383
Closing as "not a bug".

[2016-07-25 21:01] #31383 closed

[2016-07-25 21:05] nikomatsakis commented on #12033
Nominated. Seems clear to me that this is a bug we should fix -- the main question is whether to be concerned about backwards compatibility, and -- if so -- what to do about it.

I think this is mostly a question for @rust-lang/compiler team to decide, but I tagged this issue with T-Lang too in case @rust-lang/lang members want to weight in on whether the behavior is indeed a bug. But it seems cle

[2016-07-25 21:08] gitxpj opened #35039 "on macOS Sierra rustc it's not working"
![image](https://cloud.githubusercontent.com/assets/3187335/17117511/d9d95b5e-52ee-11e6-8d2a-f57e94b3d2cd.png)

it's not working on macOS Sierra. i don't know why.

[2016-07-25 21:10] gitxpj commented on #35039
Duplicate #34674 Sorry.

[2016-07-25 21:10] #35039 closed

[2016-07-25 21:37] nikomatsakis commented on #34831
Has anyone tried to reproduce the regr? That is, comparing:

- just before
- just after
- trunk

[2016-07-25 22:27] scottcarr commented on #34831
@nikomatsakis I just tried and I can't reproduce it.

I built hyper.0.5.0 which according to perf.rust-lang.org has a 365% slow down.

I get:

nightly-2016-06-23: 28.8s
nightly-2016-07-07: 30.31s
self built master on 2016-07-25: 28.8s

[2016-07-25 22:48] scottcarr commented on #34831
I donn't reproduce the regression.

Without -Z orbit I get:

nightly-2016-06-23: 31.41s
nightly-2016-07-07: 31.61s
master (as of 2016-07-25): 29.40s

With -Z orbit I get:

nightly-2016-06-23: 33.40s
nightly-2016-07-07: 32.52s
master (as of 2016-07-25): 28.89

[2016-07-25 23:39] srdqty commented on #35005
This seems to be an error to me. It enables one to publicly expose a function without exposing the identifiers that are necessary to declare its type. There is the case of wanting to seal the implementation details of a type, but the name of the type still must be exposed in that case.

Given that the example above compiles successfully, one would expect the example below to also compile successfu