[2019-09-25 13:55] nikomatsakis commented on #60424
Ah, actually, I realize something even *easier*. We already supply a flag to the generator code that indicates this is a generator. If we supply a flag that indicates that this is the "async move from an async fn body", we could supply the correct typing hints in type-check.

[2019-09-25 13:55] nikomatsakis commented on #60424
I may take a stab at this in a few, else I'll poke somebody to give it a try in Zulip.

[2019-09-25 14:42] nikomatsakis commented on #60424
Oh dang it, I just realized the obvious complication -- the return type of the function is actually a future, so what we really need to do is to extract the `Output` of that. This is going to be an annoying amount of code, though it remains plausible.

[2019-09-25 15:08] varkor commented on #64352
How about `GenericVal`, which doesn't imply it's just used for arguments?

[2019-09-25 15:51] mversic opened #64767 "move of mutably borrowed content results in a 'use-after-move' bug"
Having played around with rust I encountered something I consider to be violating rust's ownership rules and manifests as a dreaded _use-after-move_ bug.

I managed to reduce the error to the next example of a linked list where use-after-move manifests as an endless loop. Maybe an example can be made where this bug results in some variant of the **SegmentationFault** so the priority of this issue

[2019-09-25 15:58] Mark-Simulacrum commented on #64767
`        if let Some(node) = self.0 {` in the Iterator impl is copying a `Option<&'a T>` which is always copy as it's just a shared reference. Your example has a lot of code and it's not really clear why you believe this is a problem -- annotating it with some comments of "move here" "use after move here" would be good if you believe this is indeed a compiler bug.

[2019-09-25 16:12] moonheart08 opened #64768 "ICE when using target_feature with a const"
The following code snippet triggers a ICE:
[code]

`rustc 1.37.0 (eae3437df 2019-08-13) running on x86_64-unknown-linux-gnu`

Bug was found on playground

[2019-09-25 16:14] mversic commented on #64767
@Mark-Simulacrum Yes, it seems that I misinterpreted the issue. I am sorry to have bothered you

[2019-09-25 16:14] #64767 closed

[2019-09-25 16:23] ehuss opened #64769 "stray "not covered" diagnostic in JSON output"
Since #64271, the E0005 error has begun emitting a strange "not covered" span in the JSON output. This does not appear in the normal "human" rendered output.

Sample code:
[code]

With `--error-format=json`, this includes the following span which looks broken to me:

[code]

For tools that consume JSON output, this results in a strange message being displayed.

cc @Centril

[2019-09-25 16:55] axos88 opened #64770 "Issue with #[used] static being removed"
[code]

For release build it gets removed:
[code]

For debug build it's there:
[code]

Linker script:
[code]

[2019-09-25 16:56] axos88 commented on #64770
(default target is thumbv6-none-eabi)

[2019-09-25 17:00] BaoshanPang opened #64771 "error: cannot find derive macro `Copy` in this scope"
I am seeing this issue when building latest rust with latest libc:
[code]
The issue can be reproduced with follow steps:

1. get rust
$ git clone https://github.com/rust-lang/rust.git
2. add libc = { git = 'https://github.com/rust-lang/libc.git' } to Cargo.toml under section [patch.crates-io]:
[patch.crates-io]
libc = { git = 'https://github.com/rust-lang/libc.git' }
3. update Cargo.lock
$ cargo u

[2019-09-25 17:09] Centril commented on #64769
Can you check if this reproduced for `match` before the PR?

Seems to be a cross crate issue?

[code]
shows `not covered`.

Relevant code: https://github.com/Centril/rust/blob/6ef275e6c3cb1384ec78128eceeb4963ff788dca/src/librustc_mir/hair/pattern/check_match.rs#L502

cc @estebank

[2019-09-25 17:12] PvdBerg1998 commented on #61798
@MOZGIII yeah that's the same, the function can "never" return from the unconditional loop.

[2019-09-25 17:15] estebank commented on #64769
It's likely pointing at a `DUMMY_SP`, consistent with

[code]

This is probably coming from desugaring. We can add a test around the `span_label` for this case, but we probably just do the same thing we do in the visual output and ignore `DUMMY_SP`s.

[2019-09-25 17:16] ehuss commented on #64769
Oh, I see. Yea, it works correctly for your example.  I guess it is trying to point to the definition of `Option`, but it is a dummy span.

[2019-09-25 17:17] estebank commented on #64769
How critical is this? Namely, how quickly do we need a fix? Fixing for this one test is a small pr, fixing the general case will be more arduous, I think.

[2019-09-25 17:19] ehuss commented on #64769
For me, not critical at all.  It would be nice to eventually get it fixed, but there is absolutely no rush.

[2019-09-25 17:24] cramertj commented on #60424
I'm sure this has already been considered, but this bug would be trivially fixable if it were possible to have types from the AST appear twice in the HIR. It also seems plausible that such a thing would be useful elsewhere. Is there a sensible path to allowing this?

[2019-09-25 17:25] Mark-Simulacrum commented on #64771
I think we should not try to fix things here until this is in nightly at least -- cc @gnzlbg though

[2019-09-25 17:29] Mark-Simulacrum commented on #64770
I've labeled as needing an MCVE as the example given isn't really standalone compilable; ideally we'd also track down who is removing the static -- is it LLVM or the linker?

[2019-09-25 17:31] BaoshanPang commented on #64771
Hi Mark,

Just want to understand the problem better. So the problem is in rust(not in libc) and we don't want to fix it at this point?

Thanks,
Baoshan

[2019-09-25 17:33] cuviper commented on #64750
One of `rustc-rayon`'s forked additions is the acquire/release thread handler, which is being used for jobserver tokens. So when a rayon thread starts working, it grabs a token, and it releases when going idle. The independent `rustc` thread also releases its own token while waiting for rayon tasks. But since this isn't a direct handoff, I suspect you're seeing a race where a different process int

[2019-09-25 17:33] Mark-Simulacrum commented on #64771
Just blindly patching libc might not work for a host of reasons, notably libc is a bit interesting in that libc is a dep of std. (Of course, I could be wrong -- and this is actually a bug). If a normal libc compilation (e.g., on nightly, or even with a stage1/stage2 compiler off master) doesn't hit then there's probably no reason to be concerned and we can just proceed as is.

[2019-09-25 17:38] gnzlbg commented on #64771
@BaoshanPang can you check if this PR fixes your issue ?

[2019-09-25 17:43] BaoshanPang commented on #64771
@gnzlbg

I am seeing a different error:
   Compiling libc v0.2.64 (https://github.com/gnzlbg/libc.git?branch=fixs#fe67d7d9)
error: no rules expected the token `(`
  --> /folk/bpang/.cargo/git/checkouts/libc-2d0b80a096c2fb1e/fe67d7d/src/unix/linux_like/linux/gnu/b64/x86_64/align.rs:3:27
   |
3  |     pub struct max_align_t([f64; 4]);
   |                           ^ no rules expected this token in

[2019-09-25 17:47] alexcrichton commented on #64750
Yes I believe that would do it! I saw similar behavior when implementing jobserver stuff recently in `cc` since I used the same strategy there. While I think it was ok for `cc`, though, I think we need to improve the management for rustc. The purpose of jobservers I believe are twofold: one is to limit the CPU parallelism but another is to limit the number of active processes and pressure on memor

[2019-09-25 17:54] alexcrichton commented on #63626
A bit late to this, but note that wasm32-unknown-unknown hasn't been vetted for interop with the C/clang. The [ABI definition file](https://github.com/rust-lang/rust/blob/acf7b50c737cfb8f4003477559305bedf3c316fe/src/librustc_target/abi/call/wasm32.rs) for wasm is extremely bare bones and I suspect clang is matching more [what the emscripten ABI looks like](https://github.com/rust-lang/rust/blob/ma

[2019-09-25 18:26] Boscop opened #64775 "Rustc should show an unused_attribute warning when #[inline] is used on trait methods without body"
Re: https://github.com/rust-lang/rust/issues/47475
https://github.com/rust-lang/rust-clippy/pull/2367#issuecomment-358255935

[2019-09-25 18:28] carbotaniuman commented on #64734
I feel the standard warn by default, deny by default, hard write approach is the easiest way to handle this.

[2019-09-25 18:34] AnthonyMikh commented on #64447
Closing as fixed by #64721

[2019-09-25 18:34] #64447 closed

[2019-09-25 18:35] rust-highfive opened #64777 "`clippy-driver` no longer builds after rust-lang/rust#64766"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64766, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/c

[2019-09-25 18:42] tema3210 commented on #63997
whats about?
``
pub trait Reflector {
	fn Reflect(&mut self)-> (const fn(Cow<str>)->Option<Descriptor>);
}
``

[2019-09-25 18:50] Centril commented on #54883
On 2019-09-25, https://github.com/rust-lang/rust/pull/64508, written by @Centril and reviewed by @matthewjasper, @varkor, and @nikomatsakis, landed. The PR adjusted the HIR and HAIR to consistently use or-patterns at the top & nested levels. Moreover, liveness, typeck, and dead_code analyses were adjusted also. Notably, The PR did however not adjust exhaustiveness checking. Tangentially, https://g

[2019-09-25 19:09] Boscop opened #64779 "build.rs: `rerun-if-env-changed` should mean "changed compared to last execution of the same kind" (check vs build/run)"
Currently, it seems that build.rs scripts share the same environment when run by `cargo build`/`cargo run` and `cargo check`.
This is a problem which leads to unnecessary rebuilds of `libsqlite3-sys` whenever I have `cargo watch -x run` running in cmd.exe, when I then do `cargo check` in my editor (so that I can jump to errors/warnings easily).
This causes a [rebuild of `libsqlite3-sys`](https://g

[2019-09-25 19:16] csmoe commented on #64779
@Boscop should be a Cargo issue, please "mv" this to https://github.com/rust-lang/cargo

[2019-09-25 19:16] #64779 closed

[2019-09-25 19:22] Centril commented on #64777
This is due to https://github.com/rust-lang/rust/pull/64508. @Manishearth is working on a fix.

[2019-09-25 19:31] dancrossnyc commented on #62558
(Confirming this is still broken on at least FreeBSD.)

[2019-09-25 19:41] BaoshanPang commented on #64771
@gnzlbg
The build pass with your latest change in branch fixs.
Thanks for the quick action.

[2019-09-25 20:06] bluetech commented on #44109
I haven't read all of the discussion, but I searched for "Swift" in the RFC text, the RFC discussion and this issue and didn't find it referenced. So I'd mention that Swift has an (accepted and implemented) [RFC](https://github.com/apple/swift-evolution/blob/master/proposals/0192-non-exhaustive-enums.md) for this feature, although without exposing the capability to user-defined enums. Of particula

[2019-09-25 20:34] jonas-schievink commented on #64771
Closing this as resolved

[2019-09-25 20:34] #64771 closed

[2019-09-25 21:08] Centril commented on #64768
Backtrace:

[code]

[2019-09-25 21:34] onehr commented on #64732
@varkor Hi, I have been doing some work in this issue, cause this is the first time I'm sending PR to rust, can you give me some feedback. Thanks!

[2019-09-25 21:36] lily-commure commented on #36481
Now that https://github.com/rust-lang/rust/pull/58623 is merged, the `HashMap` implementation uses quadratic probing instead of linear or Round-Robin.  Is this bug still open?

[2019-09-25 21:40] matthewjasper opened #64784 "Declarative macros can create infinite glob import cycles"
The following code results in `A` being cyclicly glob imported from `x` into `y` and back with a different identifier (it gains a new mark on each import).

[code]

<details>

<summary>Backtrace</summary>

[code]

<details>

[2019-09-25 21:42] #64777 closed

[2019-09-25 22:10] axos88 commented on #64770
Can't reproduce anymore... WTH?

[2019-09-25 22:10] #64770 closed

[2019-09-25 23:16] HeroicKatora opened #64788 "Cargo fails building `image` on osx nightly"
See this build job:

https://travis-ci.org/image-rs/image/jobs/589672851

There is no backtrace or error, just:

It has already reproduced a second time on that exact job. However, it's only been tested on Travis and not a local machine.

[2019-09-25 23:19] Mark-Simulacrum commented on #64788
Known bug, should be fixed soon. See https://github.com/rust-lang/cargo/pull/7429.

[2019-09-25 23:19] #64788 closed

[2019-09-25 23:34] Boscop opened #64789 "Suggestion: Option::take_if()"
Suggestion: Adding `Option::take_if()`.
It takes a predicate (similar to filter, but for conditional `.take()`):
[code]

[2019-09-25 23:58] Centril commented on #57895
- NLL Error => Warning downgrades are removed in https://github.com/rust-lang/rust/pull/64221.
- AST borrowck is removed in https://github.com/rust-lang/rust/pull/64790.

[2019-09-26 00:03] Centril commented on #57895
I believe the only things that remain now are dealing with https://github.com/rust-lang/rust/issues/57642 and https://github.com/rust-lang/rust/issues/59159 and then we can remove migrate mode.

[2019-09-26 00:40] rinon commented on #64343
This test is also failing for me with GDB 8.3 on Arch. Same error.

As of GDB 8.3, batch mode causes GDB to exit with non-zero exit status if a command failed, per https://www.gnu.org/software/gdb/news/

We either need to execute the "failing" command (the print that accesses invalid memory) from python in gdb and ignore the exception thrown, or ignore the return code of gdb for this test.

[2019-09-26 00:47] eliasrg opened #64792 "ICE when combining wrong syntax with Unicode string literal"
In syntactically erroneous inputs, non-ASCII string literals can cause a compiler panic.

Being a dilettante with fingers used to C++, I tried to initialize a struct without calling its `new` method, and it so happened that I was passing it a non-ASCII string. This gave me a compiler panic. Here's a small example:

    struct X {}

    fn f() {
        let x = X("ö");
    }

## Meta
I am using the

[2019-09-26 00:55] novacrazy commented on #63959
Odd. On my personal project, this appears mostly fixed on the latest nightly (`6ef275e6c 2019-09-24`), but the issue still occurs on the `cargo_metadata` example.

[2019-09-26 00:57] Centril commented on #64792
Reduced:
[code]

Backtrace:

[code]

[2019-09-26 01:00] Centril commented on #64792
Cannot reproduce on beta or nightly (1.39.0 both).

[2019-09-26 02:28] Centril opened #64796 "Tracking issue for RFC 2523, `#[cfg(version(..))]`"
This is a tracking issue for `#[cfg(version(..))]` (rust-lang/rfcs#2523).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang.github.io/rustc-guide

[2019-09-26 02:30] Centril opened #64797 "Tracking issue for RFC 2523, `#[cfg(accessible(::path::to:thing))]`"
This is a tracking issue for `#[cfg(accessible(::path::to::thing))]` (rust-lang/rfcs#2523).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang.git

[2019-09-26 02:31] rust-highfive opened #64798 "`miri` no longer builds after rust-lang/rust#64785"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64785, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Manishearth, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Manishearth, the PR reviewer, and @rust-lang/compiler

[2019-09-26 02:37] #63848 closed

[2019-09-26 02:42] Manishearth commented on #64798
I suspect miri just needs a compiletest update cc @RalfJung

[2019-09-26 03:47] felix91gr commented on #29722
While reading through this thread, I had an idea and had to post it. Sorry if I'm answering to an old post, but I thought it was worth it:

@main

Maybe instead of inline asm, what we really need here are function attributes for LLVM that told the optimizer: "optimize this for throughput", "optimize this for latency", "optimize this for binary size". I know this solution is upstream, but it would

[2019-09-26 03:48] felix91gr commented on #29722
While reading through this thread, I had an idea and had to post it. Sorry if I'm answering to an old post, but I thought it was worth it:

@main-- said:

Maybe instead of inline asm, what we really need here are function attributes for LLVM that told the optimizer: "optimize this for throughput", "optimize this for latency", "optimize this for binary size". I know this solution is upstream, but i

[2019-09-26 04:30] Vurich commented on #29864
I think reverting to having the trait opt-in is better. This also means that you don't have to break backwards compatibility to add items to a trait.

[2019-09-26 05:42] scottmcm commented on #64693
There's a bunch of disagreement on what the expected semantics of this implementation would be.
See discussion in https://github.com/rust-lang/rfcs/pull/2484

[2019-09-26 06:07] scottmcm commented on #29864
@Vurich note that the opt-in is the new direction ([FCP](https://github.com/rust-lang/rust/pull/53693#issuecomment-416355324)), so there isn't any reverting needed.

So I think there's a PR opportunity here of removing `overlapping_marker_traits` (the new one is `marker_trait_attr`), if anyone's interested in making one.

[2019-09-26 06:16] scullionw opened #64803 "error: internal compiler error: unexpected panic: inconsistent resolution for a macro"
Compiling this:

https://github.com/scullionw/eseabuddy/tree/compiler_bug

[code]
Results in an ICE:

[code]
Different error on nightly:

[code]

Backtrace for stable:

[code]

[2019-09-26 06:18] Lokathor commented on #64693
@ollie27 I understand it's non-trivial. However, that issue is closed up and a lot of people don't even read those forums, so I think an issue about the missing impl is appropriate.

@scottmcm I've actually seen that RFC before long enough ago to have totally forgotten about it. Unfortunately it seems to have stalled.

[2019-09-26 06:35] oli-obk commented on #64662
It's not a regression. Stable shows

[code]

I don't see how we could be keeping state. Maybe it's happening because there's no "cannot infer type for `T`" error on anything but the first item? So `A` is never evaluated, thus not causing an ICE.

[2019-09-26 07:53] upsuper opened #64806 "Should warn when trying to cast between a fat pointer and a non-fat pointer"
Please see the following piece of code (I came up with when discussing in our Rust group):
[code]

It builds fine but confusingly segfaults. The reason is that boxed slice and its pointer (`*mut [String]`) are fat pointers, and casting it to `*mut c_void` is losing information.

I believe there should at least be a compiler warning for this kind of conversion, since it is very likely to be broken.

[2019-09-26 07:56] upsuper commented on #64806
In this specific case, I think the compiler may encourage people to go through `Vec` in order to get both pointer and length.

Rust can probably also add support to cast this kind of fat pointer to `(*mut T, usize)`.

[2019-09-26 08:42] #64353 closed

[2019-09-26 08:43] rust-highfive opened #64808 "`clippy-driver` no longer builds after rust-lang/rust#64513"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64513, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @varkor, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @eddyb, the PR reviewer, and @rust-lang/comp

[2019-09-26 09:51] davidlt commented on #62117
Seems that Rust moved to LLVM 9.0.0 which has support for riscv64 (not experimental anymore). Thus targeting Linux should be possible now.

[2019-09-26 09:55] upsuper commented on #64806
Hmmm... `*mut Box<[String]>` is not a fat pointer, so the conversion back doesn't have problem. This issue is probably not valid.

[2019-09-26 09:55] #64806 closed

[2019-09-26 11:08] GuillaumeGomez opened #64811 "Add a lint to force adding at least one test for each error code?"
A lot of error codes currently don't have ui tests nor long error explanation, therefore we cannot know if they're still thrown by the compiler which isn't an ideal situation... Should we add lint/check for this?

cc @rust-lang/compiler

[2019-09-26 11:12] varkor commented on #64662
Hmm, perhaps. In that case, it's simplest just to `delay_span_bug` instead.

[2019-09-26 11:25] varkor commented on #64734
Given that occurrences of `#![repr(C)]` currently do nothing, and it's easy to search for in a codebase (and thus remove or audit), I don't see a strong reason not to start emitting errors, rather than just linting, on these.

[2019-09-26 11:36] pnkfelix commented on #64808
triage: P-medium (though I'm happy to entertain counter-arguments for P-high). Has PR in #64810. Removing nomination tag.

[2019-09-26 11:40] pnkfelix commented on #64803
triage: tagging as P-high for initial investigation as to severity. Doesn't seem like it warrants discussion at T-compiler meeting. Removing nomination tag.

[2019-09-26 11:40] pnkfelix commented on #64798
triage: P-medium. Removing nomination label.

[2019-09-26 11:45] pnkfelix commented on #64792
triage: P-medium. Would be good to identify point where it was fixed by bisection, and maybe add a test if one doesn't already exist. Removing nomination.

[2019-09-26 11:48] pnkfelix commented on #64768
pnkfelix: triage: P-high. Assigning to @davidtwco . Removing nomination label.

[2019-09-26 11:52] pnkfelix commented on #64682
triage: P-high. Leaving nominated in hopes to find someone to look into it, since @c410-f3r  won't have time for next few days.

[2019-09-26 11:58] pnkfelix commented on #64659
pre-triage: not sure what priority to assign to this. Probably P-high but I want to discuss with team. Leaving I-nominated unprioritized for now.

[2019-09-26 12:04] pnkfelix commented on #64655
triage: P-high. Assigning to self. Removing nomination label.

[2019-09-26 12:10] pnkfelix commented on #64638
triage: P-medium. has fix in PR #64649 (thanks @estebank !). Assigning to latter and removing nomination label.

[2019-09-26 12:16] pnkfelix commented on #64343
pre-triage: not certain what priority to assign (tempted to do P-medium). Leaving nominated for dicsussion of priority at T-compiler meeting.

Also, I think I'll nominate #60826 for discussion there too.

[2019-09-26 12:29] pnkfelix commented on #64426
This issue was [discussed](https://zulip-archive.rust-lang.org/131828tcompiler/23649weeklymeeting2019091954818.html#176104297) in last week's compiler meeting. Main conclusion/action item was: We want to make sure we check for no duplicate definitions but otherwise we will not readd functionality of use site checking

[2019-09-26 12:30] pnkfelix commented on #64426
triage: Now that the question has been resolved, removing nomination label and downgrading to P-medium.

[2019-09-26 12:39] mark-i-m commented on #29722
@felix91gr That doesn't solve usecases that require emitting an exact sequence of instructions, eg interrupt handlers.

[2019-09-26 12:44] felix91gr commented on #29722
@mark-i-m of course not. That's why I put a literal quote! 🙂

My point was that even though you might solve the "compiler optimizes in a way opposite of what I need" (which is classic in their case: latency vs throughput) by using inline asm features, maybe (and imo definitely) that use case would be served better by more fine-grained control of optimizations :)

[2019-09-26 12:55] pnkfelix commented on #63967
@nathanwhit just in case you didn't see, the attempt to fix this with your PR #64387 failed the rollup, see https://github.com/rust-lang/rust/pull/64387#issuecomment-533755695

[2019-09-26 13:03] pnkfelix commented on #63959
visiting for triage. Its not clear to me whom on our team can investigate this; has anyone from @rust-lang/compiler managed to reproduce this locally? Sounds like the answer to that is likely "no."

[2019-09-26 13:09] petrochenkov commented on #64450
I'll look into fixing it this weekend or the next week.
A minimized reproduction already exists, so the only helpful thing I can imagine is someone actually writing a fix and submitting a PR instead of me :)

[2019-09-26 13:13] pnkfelix commented on #62430
triage: prioritizing as P-medium.

removing @nagisa from assignment. reassigning to self (for the bisection if nothing else.)

[2019-09-26 13:13] pnkfelix commented on #61560
triage: reassigning to self.

[2019-09-26 13:45] GuillaumeGomez commented on #64454
https://doc.rust-lang.org/nightly/std/all.html for example. There is a "see all items" button in the root module file.

Sorry, I had in mind the insensitive naming in mind... Then I just didn't understand the issue (and still don't).

[2019-09-26 13:47] pnkfelix commented on #62742
visiting for triage: @nikomatsakis do you plan to investigate or delegate in near term?

[2019-09-26 13:47] varkor commented on #64734
We should fix this too, in the same manner as @rkruppe [pointed out](https://github.com/rust-lang/rust/issues/64734#issuecomment-534565928). (Either as part of this issue, or in a new issue.) Lack of validity checking can cause concrete problems, as in https://github.com/rust-lang/rust/issues/64768.

[2019-09-26 13:50] pnkfelix commented on #61960
visiting for triage. Downgrading to P-medium and re-assigning back to self.

[2019-09-26 13:54] varkor commented on #62504
I think this is another instance of https://github.com/rust-lang/rust/issues/43408. However, we can leave this issue open to remember to add a test case when it's fixed.

[2019-09-26 13:56] pnkfelix commented on #61561
triage: assigning to self for initial investigation.

[2019-09-26 14:03] bkchr commented on #64450
Nice, ty! :)

[2019-09-26 14:28] pnkfelix commented on #64682
assigning to @Centril

[2019-09-26 14:38] pnkfelix commented on #64659
triage: P-high. Cc @Xanewok (can you take point on this?)

[2019-09-26 14:57] moonheart08 commented on #64768
Of note: The reason I was attempting to use target function on a const was because the const needed a different value on different targets.
For AVX2 targets, it needed a value of 7, for AVX512 targets, a value of 15, and for other targets, a value of 3. Pointers on how to do it right are appreciated.

[2019-09-26 15:06] pnkfelix commented on #64343
topic is too big to handle in triage meeting. Plan is now to allocate steering meeting to topic; see: https://github.com/rust-lang/compiler-team/issues/186

[2019-09-26 15:07] pnkfelix commented on #64343
for now, tagging P-high because this is causing pain for T-release. Hopefully we'll figure something out in the aforementioned planning meeting. Removing nomination.

[2019-09-26 15:24] nox commented on #64454
This issue is about merging the list of structs, enums, unions and types on [this kind of page](https://docs.rs/syn/1.0.5/syn/#structs).

[2019-09-26 15:25] nox commented on #64454
(Because there is no reason for `Expr` to be that far away from `ExprIf`, for example.)

[2019-09-26 16:02] varkor commented on #64662
Reopening, as we should have a test.

[2019-09-26 16:11] Mark-Simulacrum commented on #63520
We can probably just remove that test, it doesn't seem worth the pain of having it if it's causing people problems. It sounds like we don't have a test case that would work universally even on *nix platforms, right? Or that's my interpretation of https://github.com/rust-lang/rust/issues/63520#issuecomment-521709829 at least.

It's also pretty unclear to me that ICE-ing on non-utf8 output from link

[2019-09-26 16:13] #64352 closed

[2019-09-26 16:24] estebank commented on #57994
Current output:

[code]

[2019-09-26 16:28] estebank commented on #58092
Current output for the first case:

[code]

No change in the second.

[2019-09-26 16:35] fenhl commented on #62896
This has now hit stable.

[2019-09-26 16:42] jedisct1 commented on #62896
They just don't care about non-x86_64 targets.

[2019-09-26 16:56] spease commented on #64421
I’m seeing this error in stable now when I run clippy. Haven’t localized it to a package yet. This may block us from adopting 1.38

[2019-09-26 17:00] estebank commented on #57527
Current output:

[code]

I don't know what team this falls under. `T-lang`?, `T-doc`?

[2019-09-26 17:01] estebank commented on #57226
Current output:

[code]

Still same reversal.

[2019-09-26 17:03] estebank commented on #57266
Current output:

[code]

The suggestion to use `Box<dyn Trait>` could be interesting as text, but giving a structured suggestion would be quite difficult.

[2019-09-26 17:11] estebank commented on #56183
Current output after #63907:

[code]

I'll close it given that and the existence of #63711, but if that output is not enough feel free to comment in #63711 and give your current input.

[2019-09-26 17:11] #56183 closed

[2019-09-26 17:12] estebank commented on #63711
[Case from](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=b5efe3d4ff62ae55cf04d104f2466ae1) #56183:

[code]

[2019-09-26 17:13] SoniEx2 commented on #44732
unpopular opinion but I think this should be strictly for translated docs.

by default rustdoc should take the doc from the source. if a specific language/translation is desired it'll use the docfile. this makes it easier to browse the source as you have the docs straight on the source so you just read things as normal. but you also get the benefits of translation.

[2019-09-26 17:18] estebank commented on #56181
CC https://github.com/rust-lang/rust/issues/37384, https://github.com/rust-lang/rust/issues/42499

[2019-09-26 17:21] tema3210 commented on #10389
But usage of more than 64 bit will change size of 'TypeId' struct. That's the worse. I like idea of making crate id bits a part of TypeId.
If we change the size of TypeId to 128 bits, then we can make first 64 bit be a crate id and second to crate local typeid which,in that case, can be built buy perfect hash function.

[2019-09-26 17:22] Centril commented on #57527
Diagnostics fall under t-compiler.

[2019-09-26 17:23] Centril commented on #64421
cc @oli-obk @Manishearth @phansch @yaahc

[2019-09-26 17:26] estebank commented on #64760
CC https://github.com/rust-lang/rust/issues/53965

[2019-09-26 17:31] estebank commented on #53809
Current output for 3 and 4:

[code]

[code]

Note the suggestions are accurate and fix the issue.

[2019-09-26 17:31] #53809 closed

[2019-09-26 17:36] estebank commented on #51937
Current output, no material change:

[code]

[2019-09-26 17:40] estebank commented on #51154
Current output:

[code]

It doesn't handle the closure case in any special way, and it should.

[2019-09-26 17:42] estebank commented on #50085
Current output:

[code]

[2019-09-26 17:42] #50085 closed

[2019-09-26 17:43] estebank commented on #49431
Triage: no change.

[2019-09-26 17:43] estebank commented on #56423
CC https://github.com/rust-lang/rust/issues/48812

[2019-09-26 17:55] varkor commented on #50085
@estebank: do we have test cases for this sort of problem? It might be worth adding the test in the issue.

[2019-09-26 18:06] est31 commented on #48683
Update: #64316 has been merged.

I wonder whether this feature can be stabilized. Is it ready for an FCP yet?

[2019-09-26 18:17] Nadrieril commented on #53820
@oli-obk Thanks !

So I've started working on this, and so far I've refactored some things here and there to make the code easier to follow. I'm not sure my decisions are good and this actually improves the code though. Also this is not strictly necessary to fix this particular issue. Is that an ok thing for me to be doing ? Should I maybe push those changes as a separate refactor PR ?

[2019-09-26 18:21] estebank commented on #46644
Triage: no change.

[2019-09-26 18:23] estebank commented on #46375
Triage: no change.

[2019-09-26 18:25] estebank commented on #43608
Triage: no change.

[2019-09-26 18:27] estebank commented on #45109
Closing as duplicate of https://github.com/rust-lang/rust/issues/45109.

[2019-09-26 18:27] #45109 closed

[2019-09-26 18:27] Centril commented on #53820
Not only is it OK, it's awesome to first refactor and then implement. :) If it is a large refactor it might make sense to split things into different PRs.

[2019-09-26 18:52] alistair23 commented on #42779
Is there an update on this?

I was hit by this issue as well. I hit the problem when compiling a tock app (baremetal-ish and jumped to by the tock OS)

A naked function with arguments would produce this prolog (RV32):

Which would result in an invalid access as s0 would be 0.

Removing the arguments would remove the prologue and fix the problem.

Removing the naked cfg would also work as teh stack

[2019-09-26 19:09] tema3210 commented on #57563
What about `const async`,unsafe pointer arihmetics?

[2019-09-26 19:25] ehuss commented on #48683
To be clear, there are two or three features here which may be possible to stabilize independently.

Some blockers:

profile-overrides:

- I'd like to wait for [named profiles](https://github.com/rust-lang/cargo/pull/6989) to land, to make sure there aren't any unforeseen interactions.  It looks like it should be OK, but that PR needs to land first at a minimum.  It looks like it is getting close

[2019-09-26 19:40] elichai commented on #49137
Will this ever be available to users?
i.e. https://play.rust-lang.org/?gist=5c8f2f2438da9952963f88449bf0239e

[2019-09-26 19:42] Xanewok commented on #64659
Yup, assigning to myself, shouldn’t be hard to fix

[2019-09-26 19:48] sunjay commented on #42327
Are there any plans to replace the `Try` trait with any of the alternatives suggested in this thread? [The version](https://github.com/rust-lang/rust/issues/42327#issuecomment-379955253) suggested by @scottmcm seems fine. I want to continue to use the `?` operator with `Option`, and I think the `Try` trait should be changed to not force `Result` semantics on `Option`.

Using @scottmcm's alternativ

[2019-09-26 19:50] pm215 commented on #45109
Am I confused, or did you just close this bug as a duplicate of itself? I'm guessing you either meant to close some other bug, or to mark this a dup of some other bug...

[2019-09-26 20:02] kinnison opened #64821 "Internal compiler error but only when running under rls"
I wasn't sure if it was right to report this here or elsewhere, so here it is for now...

Trying to compile [Hagrid](https://gitlab.com/hagrid-keyserver/hagrid.git) with `rustc 1.39.0-nightly (6ef275e6c 2019-09-24)` works, but running the `rls --cli` from the same toolchain results in the following:

[code]

[2019-09-26 21:01] tyranron commented on #54361
Is there any discussion or reasoning of why such duplicative interface was chosen?

It seems that a generic interface like `from_secs<T>(secs: T) -> Duration` will feel more natural/idiomatic for such generics-adopted language like Rust is.

I've found only [this mention](https://github.com/rust-lang/rust/pull/59102#issue-260002954):

But one can argue that in this situation another add-hoc inner

[2019-09-26 21:17] jonas-schievink commented on #64821
looks like https://github.com/rust-lang/rust/issues/64659

[2019-09-26 21:37] tlively opened #64822 "-rpath argument passed even when disabled in target"
This occurs specifically when building libcore, libstd, liballoc, etc. for Emscripten, as observed in https://github.com/rust-lang/rust/pull/63649. A workaround was added upstream in https://github.com/emscripten-core/emscripten/pull/9475, but we would be able to remove that workaround if this issue were fixed in the rust build.

[2019-09-26 21:39] ehuss commented on #61978
I'm sorry for being dense, but what is the reason for having two copies of the compiler?  That is, each distribution contains the duplicates `lib/librustc_driver-7f45b60a9f549617.dylib` and `lib/rustlib/x86_64-apple-darwin/lib/librustc_driver-7f45b60a9f549617.dylib` (among many others).

[2019-09-26 21:48] GuillaumeGomez commented on #64633
We tend to implement things when we're somewhat sure that they'll get merged. However, if you need it, we can always talk about it?

[2019-09-26 21:56] GuillaumeGomez commented on #43466
@najamelan This comment isn't very helpful... Can you provide us details like the markdown, the context, etc... ?

[2019-09-26 22:05] cuviper commented on #61978
`lib/*` are host libraries installed by the `rustc` component, and `lib/rustlib/$target/lib/*` are target libraries installed by the `rust-std` component. The latter may be used for cross compilation too.

But yes, that duplication is unfortunate.

[2019-09-26 22:08] najamelan commented on #43466
Fully reproducible example:
[code]

[code]

[2019-09-26 22:27] ehuss commented on #61978
Can you explain more what purpose they serve for cross compilation?  Targets which do not have host builds do not include a second copy of the compiler.  Is it to support projects that link the compiler directly with `extern crate rustc`?  I'm not sure I see how the target's `librustc_driver.so` is relevant for cross compiling.

[2019-09-26 22:30] cuviper commented on #61978
Yes, you could cross compile something using rustc libs -- unstable, of course. But if #64823 goes through, we won't include this in `rust-std` anymore, probably just another optional component.

[2019-09-26 23:02] RalfJung commented on #64798
@Manishearth  So, the compiletest-update was semver-breaking?

[2019-09-26 23:03] RalfJung commented on #64798
The failure seems to be a panic in cargo...?
[code]

[2019-09-26 23:05] Manishearth commented on #64798
@ralfjung, not quite, nightly rustc broke compiletest and we play catch up with that since the nightly feature is "current nightly"

the cargo panic you're seeing is an osx bug in cargo that got fixed

[2019-09-26 23:34] estebank commented on #50085
@varkor we do, can try and find them for you, but I'm 99% sure we already cover these cases.

[2019-09-26 23:42] estebank commented on #50375
Current output:

[code]

[2019-09-26 23:43] estebank commented on #45109
Indeed I meant to reference https://github.com/rust-lang/rust/issues/40660.

[2019-09-26 23:43] estebank commented on #40660
CC https://github.com/rust-lang/rust/issues/45109, https://github.com/rust-lang/rust/issues/60497, https://github.com/rust-lang/rust/issues/57621, https://github.com/rust-lang/rust/issues/52544.

[2019-09-26 23:44] varkor commented on #50085
I thought it was likely we did. They should be sufficient.

[2019-09-26 23:45] estebank commented on #64426
One thing I don't see mentioned is the lint for at least one usage being present. Is that lint still in place?

[2019-09-26 23:47] Mark-Simulacrum commented on #64426
Yes, if there are no uses of an error code within the crate then we'll error out (via the normal unused checking).

[2019-09-27 00:15] #31567 closed

[2019-09-27 00:15] #38899 closed

[2019-09-27 00:15] #45157 closed

[2019-09-27 00:15] #53432 closed

[2019-09-27 00:15] #27868 closed

[2019-09-27 00:15] #47366 closed

[2019-09-27 00:15] #64732 closed

[2019-09-27 00:22] Centril commented on #60350
@matthewjasper We now have two errors instead... is there anything more to do here, e.g. improving diagnostics?

[2019-09-27 00:39] estebank commented on #39942
Closing as duplicate of #45109 and #40660.

[2019-09-27 00:39] #39942 closed

[2019-09-27 00:47] varkor opened #64827 "`x.py check` should support `--tests` and `--all`"
`cargo check` supports these flags, but it seems `x.py` does not. This means issues in tests can be overlooked, as in https://github.com/rust-lang/rust/pull/64813#issuecomment-535729781.

[2019-09-27 01:00] oliviabrown9 commented on #63526
@iluuu1994 Are you still working on this?

[2019-09-27 02:18] divinerapier opened #64829 "Compiler error message is confusing"
I don't know what caused this error. Sorry, I can't provide simple code to reproduce it.

![rust-compiler-error](https://user-images.githubusercontent.com/21213088/65736836-0b308900-e10f-11e9-9a1a-c6ef879fbc4a.jpg)

[code]

Thanks.

[2019-09-27 02:38] csmoe commented on #64829
You will benefit from reading the [book](https://doc.rust-lang.org/book/ch18-01-all-the-places-for-patterns.html?highlight=misma#let-statements) first.

[2019-09-27 03:09] divinerapier commented on #64829
@csmoe thank you for your reply. I mean the error message is useless. It says the types mismatched, but there is no context in the error message, so how can I fix it. I know how to fix but I don't know where to fix.

[2019-09-27 03:13] csmoe commented on #64829
@divinerapier sorry, reopen.

[2019-09-27 03:14] divinerapier commented on #64829
@csmoe thank you very much

[2019-09-27 04:04] Centril commented on #64829
Unfortunately, this is report is not actionable without knowing more about the situation, which we will need to know about to fashion a more tailored error message.

[2019-09-27 05:05] RalfJung commented on #64798
Is this a recent bug? It looks (in Miri CI) as if the bug occurred with *stable* cargo.

[2019-09-27 06:29] eddrift opened #64832 "1.38: internal compiler error running `cargo clippy` on project with `mysql_common` dependency"
[code]

[2019-09-27 06:32] eddrift commented on #64832
This is on macOS 10.14.6. The stack trace with `RUST_BACKTRACE=1` is pretty content-free:

[code]
for 69 frames

[2019-09-27 06:34] eddrift commented on #64832
cargo clippy worked on this project with rust 1.37, and non-clippy builds seem to be fine with 1.38

[2019-09-27 06:51] matthiaskrgr commented on #64832
Duplicate of https://github.com/rust-lang/rust-clippy/issues/4579

[2019-09-27 07:16] iluuu1994 commented on #63526
@oliviabrown9 Nope, feel free to take over.

[2019-09-27 07:53] mati865 commented on #64798
@RalfJung this bug [recently](https://github.com/rust-lang/rust/pull/64743) appeared in nightly and got fixed on the next day. Could you cargo version from CI (after installing master toolchain)?

[2019-09-27 07:54] Manishearth commented on #64798
It's recent, but not on stable, maybe you're seeing something else.

[2019-09-27 07:55] olegnn opened #64833 "Failed to run `cargo rustc --profile=check -- -Zunstable-options --pretty=expanded` on simple code with comments"
Code:
[code]
Command (used to expand macros):
[code]
Result:
[code]

[2019-09-27 08:17] joelwurtz opened #64834 "Segfault when using rust inside a go program"
This is really a weird bug that occurs on one of our program, i managed to make a reproducable example under this repository: https://github.com/joelwurtz/segfault-golang-with-rust

This only happens when calling a specific function on the https://github.com/servo/html5ever library with a specific parameter, and i also make an issue on this library: https://github.com/servo/html5ever/issues/393

H

[2019-09-27 08:52] faern commented on #54361
Yeah, having standard library traits for floats and ints implemented by all corresponding types would be good for many places. But this is probably not the place to discuss that in particular.

I also feel this API is very duplicating. My interpretation is that the reasoning behind it is that there is some loss of precision involved with using floats, and people want that to stand out so it does n

[2019-09-27 09:18] pnkfelix commented on #61631
I think I have a patch for this. PR forthcoming.

[2019-09-27 09:26] pnkfelix commented on #61631
@eddyb [wrote](https://github.com/rust-lang/rust/issues/61631#issuecomment-506409368):

Hey @eddyb, what were you referring to when you said `impl` here?

An `impl<generics ...> Trait for Type` (or `impl Type`) isn't an ADT definition, so I don't know where it would fall in your characterization of `Self` being an implicit type parameter (either the first one, in the case of `trait`, or the last o

[2019-09-27 09:43] iamsauravsharma opened #64835 "Rust beta crash when running cargo clippy with index out of bound error on travis ci osx"
Rust beta currently crash out when cargo clippy in run on travis CI. https://travis-ci.com/iamsauravsharma/cargo-trim/jobs/239695854#L121
If I am correct this issue was fixed by #64774 over nightly but it didn't land over beta rust branch so beta rust is still failing on travis CI OSX.
rust version
`rustc 1.39.0-beta.1 (968967007 2019-09-24)`
cargo version
`cargo 1.39.0-beta (b6c6f685b 2019-09-19)

[2019-09-27 09:56] eddyb commented on #64829
@Centril That's not the problem, the problem is there's no span at all.

@divinerapier Are you using any custom derives? That's the only thing I can think of that could be able to cause this. If you can provide a list of your (`proc-macro`) dependencies, that could help a lot.

If you want to try to reduce your code, you can start by taking various functions and replacing their bodies with `unimpl

[2019-09-27 10:18] eddyb commented on #63526
This issue seems to be about associated type bindings, but the title mentions type parameters.
The whole `to_opt_poly_trait_ref` check results in hiding all the bounds that aren't trait bounds.

Due to `impl Foo + Bar` existing, I think this is harder than the `dyn Trait` case, because you have to pair up projection bounds to the right trait, kind of like how rustdoc does for displaying something

[2019-09-27 10:48] matthiaskrgr commented on #64835
Looks like https://github.com/rust-lang/cargo/issues/7427
Should be fixed once https://github.com/rust-lang/rust/pull/64773 is merged and a new beta is released.

[2019-09-27 10:52] jonas-schievink commented on #64835
Yeah, duplicate of rust-lang/cargo#7427

[2019-09-27 10:52] #64835 closed

[2019-09-27 10:57] #64832 closed

[2019-09-27 11:05] pedrocr commented on #53340
1.38 recovers roughly half this regression:

[code]

The `chunks_exact` version is unchanged so it doesn't seem to be some other thing that has improved to make this faster.

[2019-09-27 11:08] lzutao commented on #64808
Fixed in #64819 .

[2019-09-27 11:16] GuillaumeGomez commented on #43466
So, trait methods aren't working. Thanks for the feedback. Adding it to the points.

[2019-09-27 11:19] GuillaumeGomez commented on #64454
Ok, now I understand. Well, I personally don't care much about this but if other @rust-lang/rustdoc people agree with this, I'm fine adding it. Just one note though: I'd like to keep the color code.

As a sidenote: I could add a new setting in order to have this enabled/disabled depending on users. That could allow us to see if people like it enough to make it the default.

[2019-09-27 11:23] nox commented on #64454
Why keep the color code? I sometimes have to wrap my union types in structs just so they appear like plain old structs, because the fact that they are unions is an implementation detail.

Why is it useful for end users to know that `MaybeUninit` is an union, for example?

That means more JS, and such settings often break for me on docs.rs.

<hr>

On a more general note about this suggested change,

[2019-09-27 11:28] GuillaumeGomez commented on #64454
We have the color code everywhere. It wouldn't make sense to remove it from here. People might not care about the type, but at least they can have an idea when looking at the color. Having it isn't an issue whereas the opposite might be.

I agree on this but unfortunately, this is a "big" thing you're asking for. Getting an agreement on this might take a while, it was just an idea I had in order t

[2019-09-27 11:32] nox commented on #64454
It is not that "big" of a thing: it's a fix. The discrimination can lead users to believe structs, enums, type aliases and unions live in different namespaces when they are not.

As for the colours, I'm not suggesting we remove them entirely, I'm suggesting we don't use different colours for things in the same namespace.

[2019-09-27 11:33] nox commented on #64454
We don't colour procedural macros and `macro_rules` macros differently.

[2019-09-27 12:23] Boscop opened #64839 "`remap-path-prefix` is not convenient to use in .cargo/config for privacy"
Let's say when building your executable for release, you have this goal: Maximum privacy, strip all paths associated with the build machine from the release executable. Requirements:
- it should be doable with no cmd line flags (just a fixed `.cargo/config`)
- it should work regardless of which machine the build is done on
- it should work regardless of what the path to the project is on the build

[2019-09-27 12:50] GuillaumeGomez commented on #64454
It **is** that big of a thing: it's a UI change. Also, you're the only one until now that seemed to have this issue. I never heard users saying that they thought because of that they different types lived in different namespaces.

It's another debate.

[2019-09-27 13:52] rust-highfive opened #64843 "`clippy-driver` no longer builds after rust-lang/rust#64813"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64813, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @varkor, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/co

[2019-09-27 14:32] jfrimmel opened #64844 "Misleading documentation in `std::option` module"
The current [`std::option` module](https://doc.rust-lang.org/std/option/index.html#options-and-pointers-nullable-pointers) states, that

Which is obviously wrong. There are no null references (`&T`),  but there may be raw null pointers (`*const T`).
Maybe the docs should have used the terminology of __smart__ pointers, which would be less misleading and be correct :smile:

[2019-09-27 14:53] RalfJung commented on #64454
@nox is not alone asking for this change here in this thread.

Is there procedure for how to get consensus on rustdoc changes?

[2019-09-27 15:32] khionu commented on #44732
That it's beneficial for translation discounts other use cases... why?

[2019-09-27 15:39] kevgrasso commented on #57413
Hello, I'd like to implement this feature.

[2019-09-27 15:49] SoniEx2 commented on #44732
the point of having in-source documentation is that you don't need to look elsewhere. you can integrate it into your workflow more easily, and thus the documentation more accurately reflects the code and vice-versa.

I would never work on a project where documentation is separate from source code, unless such documentation is a translation of the embedded documentation. and I'd be strongly against

[2019-09-27 15:57] AGausmann commented on #26925
Why not make the derives generate something like this: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d5a4ffe3e8e6faff05e68955581d0f9d))

[code]

[2019-09-27 16:06] mathstuf commented on #44732
For things like guide-level documentation, these don't really belong in the source, but are very useful on `docs.rs` (there is an issue to run `cargo-external-doc` on docs.rs, but I think it'd be nicer to just have it be part of `cargo doc` anyways). Having to place `///` before every line instead of just saying "read this markdown file over here" (where editors could actually give syntax highligh

[2019-09-27 16:15] shepmaster commented on #44732
I am in favor of having the capabilities of external docs. To respond to a few points...

That's fine; this feature will not force you to use it. I would assume documentation in the source will always be available due to backwards compatibility guarantees if nothing else.

I don't see why but it frankly doesn't matter — you can choose to use or ignore any project for any reason, and adding this ca

[2019-09-27 16:17] SoniEx2 commented on #44732
by "language tags" do you mean `--trbasedir=./foo/pt-BR/` and a "doclangs" array in Cargo.toml?

I honestly strongly prefer guide-level documentation, DSL specifications (e.g. regex string description), etc to be in the source file itself. if you need them separate do it like Rust: write a book.

[2019-09-27 16:28] remexre commented on #26925
@AGausmann

[code]

As the trait resolver chugs along, it'll solve

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cf21f1baafd8d6d135319cd8a6f02a50

[2019-09-27 16:36] mathstuf commented on #44732
Even for things like deployment guides and such? These can be a handful of pages, but should not be anywhere near book-size. In other words: there's definitely a middle ground between "API docs" and "book" in the world.

[2019-09-27 16:48] mgjm opened #64848 "ICE: Associated constant and impl trait"
When the associated constant of an impl trait is referenced it creates an ICE:

[code]

## Meta

This panics on stable and nightly. Tested on play.rust-lang.org, macOS and in Docker:

`rustc --version --verbose`:
rustc 1.38.0 (625451e37 2019-09-23)
binary: rustc
commit-hash: 625451e376bb2e5283fc4741caa0a3e8a2ca4d54
commit-date: 2019-09-23
host: x86_64-unknown-linux-gnu
release: 1.38.0
LLVM version

[2019-09-27 16:54] SoniEx2 commented on #44732
if you're documenting an app... consider using the right tool for the job.

keep in mind rustdoc is itself documented with a rustbook.

[2019-09-27 17:03] shepmaster commented on #26925
Please make sure to read through the *entire* thread, and remember that GitHub collapses long discussions be default. It appears that your suggestion was first mentioned [in 2015](https://github.com/rust-lang/rust/issues/26925#issuecomment-129698062). That same comment mentions the private-in-public issue.

[2019-09-27 17:15] estebank commented on #64811
Introducing it will be hard to do precisely because I'm sure a non insignificant amount of them are unreachable now.

[2019-09-27 17:25] #64808 closed

[2019-09-27 17:27] #57180 closed

[2019-09-27 17:49] AGausmann commented on #26925
I'd argue that self-referential trait bounds are perfectly fine, disregarding self-referential types without indirection like `struct Foo(Foo)` which have a bunch of other problems anyway.

If `LinkedList<i32>: Clone requires LinkedList<i32>: Clone`, that is _always_ satisfied as long as the other bounds are satisfied.

[2019-09-27 17:54] lnicola commented on #26925
I feel there's a version of Russell's Paradox hiding in here.

[2019-09-27 18:04] Centril commented on #64848
cc @oli-obk

[2019-09-27 18:08] alistair23 commented on #32408
I have opened an RFC on the argument issue: https://github.com/rust-lang/rfcs/pull/2774

[2019-09-27 18:45] estebank commented on #64829
This is a problem that needs to be solved. I'm pretty sure it's a duplicate of https://github.com/rust-lang/rust/issues/51635.

[2019-09-27 18:48] estebank commented on #60595
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=191cf5d33552a16d1610c77a46d118fa):

[code]

It mentions all of the types that need the associated type set, but the span is still the same.

[2019-09-27 18:52] bIgBV commented on #64205
@phansch sorry for the late reply, I got a little caught up but finally got around to making the changes and doing a fresh build and test. there are 18 failing tests on the latest stable rustc build.

[code]

I'm guessing I need to move on to the next step as you detailed in the issue right? Could you give me some context into what an annotated snippet is and why it matters that it spans multiple

[2019-09-27 19:04] tema3210 commented on #51909
I think, unsafe code should remain unsafe even in const contexts, things we should explicitly prohibit is 1) dereference of any ref. or ptr. 2)returning pointers to values created inside const fn. 3) usage of non const environmental variables. Thus, casting references to pointers and pointers to integers and back should be allowed. Ideally, miri should track pointers even if they are casted to num

[2019-09-27 19:12] oli-obk commented on #51909
@tema3210 I'm not sure what you mean. This issue is about unions and no one is trying to make using them safe.

[2019-09-27 19:34] ehuss opened #64853 "Should async/await be strict keywords?"
My impression is that `async` and `await` should be strict keywords.  They are currently marked as "unused" or "reserved" ([unused](https://github.com/rust-lang/rust/blob/6d07874e883ae4334b42ef3ab04cc3f52ee711ee/src/libsyntax_pos/symbol.rs#L1093-L1095), [unstable](https://github.com/rust-lang/rust/blob/6d07874e883ae4334b42ef3ab04cc3f52ee711ee/src/libsyntax_pos/symbol.rs#L88-L90)).  I think the mai

[2019-09-27 19:57] Cogitri commented on #63476
This has hit Alpine Linux too.

[2019-09-27 20:04] matthiaskrgr opened #64854 "push() onto const Vec is doing nothing, no warning either"
[code]

[code]

This code looks like it should work, no compiler warning or error is generated.
The println will put out `[]` however.

If I replace `const` with `let mut`, I correctly get `[3,4,5]`.
Shouldn't `let mut` and `const` work the same way here?

[2019-09-27 20:23] remexre commented on #26925
@AGausmann How about https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=703ce6fed86c2cc2e49326a1e4a70585 then:

[code]

---

As a side note, for threads like this, it might make sense if some moderator-type person edited the original post with a sort of "all the ideas that don't work without significant overhauls of rustc" list?

[2019-09-27 20:38] colin-daniels opened #64855 "ICE "unexpected region in outlives inference: ReEmpty""
Internal compiler error `unexpected region in outlives inference: ReEmpty` when missing `Self` bound on struct. Reproducible on stable/beta/nightly on [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a3b57d05596def04acd1f181d43b33ce).

Also, not sure if it already has it's own issue, but `rustc` is causing an illegal instruction error when you run it with `BACK

[2019-09-27 20:48] sfackler commented on #64854
No - a constant is roughly like a `#define`. Your code is equivalent to

[code]

Clippy has a lint for taking mutable references of constants for this kind of issue.

[2019-09-27 20:51] jonhoo commented on #64477
@Nemo157 did you ever end up filing a PR for that change? This keeps biting me, and fixing it at the root would save a bunch of work. Do you see any drawback with making your proposed change?

[2019-09-27 20:52] AGausmann commented on #26925
Yikes ... that is hard to reason about, but it seems that it is a case that the compiler can't currently handle anyway. I tried using `#[derive(Clone)]` and replacing your bounds with `T: Clone`, but neither finished compiling.

[2019-09-27 21:16] Mark-Simulacrum commented on #64854
Indeed; this is expected and not a bug -- I believe there are other issues that track the fact that we don't warn on 'useless code' so to speak here so I'm going to close (and it's not clear that we could -- technically, this code does quite a bit -- allocating and such).

[2019-09-27 21:16] #64854 closed

[2019-09-27 21:17] #64843 closed

[2019-09-27 21:17] jonhoo commented on #64477
@Nemo157 filed it in https://github.com/rust-lang/rust/pull/64856.

[2019-09-27 21:25] Frizi commented on #62529
Adding slightly smaller repro than any of the mentioned above ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=28cbf73713fe63e37840011faee95f34)).

[code]

Seems like the issue is actually triggered on `f(d.out())` line, when the `call` function is monomorphised with the passed closure. Substituting that line with `unimplemented!()` macro makes the code compile.

Pre

[2019-09-27 21:49] tlively opened #64857 "Need to cherry pick LLVM support for wasm exceptions"
[This LLVM commit](https://github.com/llvm/llvm-project/commit/5c3cdef84b82464756bb571c13c31cf7773860c3) makes Emscripten's LLVM backend exception handling scheme work with aggregate types returned by value. This commit needs to be included in Rust's LLVM fork in order to re-enable Emscripten's exception handling support after switching to the upstream LLVM backend in https://github.com/rust-lang/

[2019-09-27 22:17] comex commented on #42779
This is an LLVM bug.  Has it been reported upstream?

[2019-09-27 22:44] kornelski commented on #57266
Addition of the line where the type comes from is a significant improvement. Shall I close the issue?

[2019-09-28 00:25] Centril commented on #64855
cc @matthewjasper

[2019-09-28 01:08] divinerapier commented on #64829
@eddyb When I reduce some code, I find when `function_name::named` is deleted, the error message will be correct. I hope this will help.

[crate function_name](https://crates.io/crates/function_name)

[2019-09-28 01:42] varkor commented on #50247
Closing as a duplicate of https://github.com/rust-lang/rust/issues/10184.

[2019-09-28 01:42] #50247 closed

[2019-09-28 01:45] varkor commented on #50571
The example in the issue now compiles. If we don't have existing tests for this, we ought to add one.

[2019-09-28 01:48] varkor commented on #50540
cc @rust-lang/libs [for a FCP](https://github.com/rust-lang/rust/issues/50540#issuecomment-518925090).

[2019-09-28 01:53] varkor commented on #51232
Current error:
[code]

[2019-09-28 01:53] #51232 closed

[2019-09-28 03:04] jrmuizel opened #64863 "src/librustc/ich/impls_ty.rs:209: ty::TyKind::hash_stable() - can't hash a TyVid _#1t."
The following
[code]

gives

[code]

[2019-09-28 04:07] Centril commented on #64863
Hmm... I cannot reproduce this with playground.

[2019-09-28 06:16] comex commented on #60919
In the other thread, alistair23 found that [Clang automatically marks naked functions as noinline.](https://github.com/llvm/llvm-project/blob/master/clang/lib/CodeGen/CodeGenModule.cpp#L1539)

[2019-09-28 06:16] gz opened #64865 "rustc assertion failure (librustc_codegen_llvm/consts.rs:459)"
I'm not sure this has already been reported, but I ran into this today. Unfortunately I don't have a good idea what's causing it, it suddenly appeared after refactoring some code. Deleting `target` and building from scratch did not help.

[code]

Since the assertion seems to be related to TLS, the particular code-base where the error happens is using `#![feature(thread_local)]`.

[2019-09-28 07:27] gardell opened #64866 "Trait bound not satisfied when using trait constant in array expression"
The following code fails on `nightly`/`beta`/`stable`

[code]
with the following error:
[code]

See playground at https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94152b99b38a0faec9ef4231543cdc94

This is similar to the issues https://github.com/rust-lang/rust/issues/61021 and https://github.com/rust-lang/rust/issues/43580

However, the above compiles with a change of the of

[2019-09-28 07:27] #49347 closed

[2019-09-28 07:27] #60790 closed

[2019-09-28 07:27] #64768 closed

[2019-09-28 07:28] rust-highfive opened #64867 "`clippy-driver` no longer builds after rust-lang/rust#64864"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64864, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/c

[2019-09-28 07:42] Centril commented on #64866
Duplicate of https://github.com/rust-lang/rust/issues/43408.

[2019-09-28 07:42] #64866 closed

[2019-09-28 07:45] Centril commented on #64865
Can you please include a backtrace in the message ^--- ?

[2019-09-28 07:58] petrochenkov commented on #64853
Keywords are supposed to migrate from the "reserved-unused" category to "used" immediately after or together with their stabilization. (There are some related comments on the keyword lists in `symbol.rs`).
Stable `async`/`await` is already on beta, right? Then it's time to mark the keywords as "used" as well.

[2019-09-28 08:37] matthewjasper commented on #64863
This requires `-C incremental` to reproduce

[2019-09-28 09:14] no111u3 opened #64869 "async dyn Trait type deduction"
For standart functions rust deduct conversion from `Box::new(something)` to `Box<dyn Trait_name>`, but in async we need use `as Box<dyn Trait_name>`:
[code]
So I think it's may be better without `as Box...`

[2019-09-28 10:18] memoryruins commented on #64869
Duplicate of #60424

[2019-09-28 11:06] #64869 closed

[2019-09-28 12:07] bjorn3 opened #64872 "linking of libtest failed"
Probably regressed in #64324 (Fix mixing crates with different `share_generics`)

[code]

[2019-09-28 12:24] bjorn3 commented on #64872
When replacing getopts/src/lib.rs with `#[derive(Debug)] enum Name { Short(char) }` and replacing libtest/lib.rs` with `use getopts;`, it still fails to link with:

[code]

[2019-09-28 12:28] laanwj commented on #62117
Great progress! Does that mean it's possible to compile rust code for the hard-float (lp64d) ABI? Will the `riscv64gc-none-` target be changed to this too?

[2019-09-28 12:54] bjorn3 commented on #64872
It fails to link on macOS. It works fine on Linux however. I haven't tested Windows.

[2019-09-28 12:56] bjorn3 commented on #64872
@rustbot modify labels: +O-macos

[2019-09-28 14:21] steveklabnik commented on #64844
I'd accept a PR to change "pointer" to "reference" here.

[2019-09-28 14:42] RalfJung commented on #64798
FWIW, the trouble was that Travis on the auto branch used a beta cargo, not a stable one, due to caching.

[2019-09-28 14:43] ehuss commented on #64853
Thanks, I'll take a look at updating it.

[2019-09-28 15:13] gz commented on #64865
Yes, not sure it's very helpful since it can't seem to do symbol resolution on my mac (10.14.6):

[code]

[2019-09-28 15:45] gz commented on #64865
Removing the #[thread_local] annotation on my variable makes the bug go away.

[2019-09-28 16:24] estebank commented on #57266
Let's keep it open focused on getting some span labels pointing at those places and nothing else.

[2019-09-28 17:02] khionu commented on #62290
Hi, what's the next step for this issue?

[2019-09-28 18:54] estebank opened #64879 "Detect match arm guard preceded by `|` in the parser"
Detect and recover [the following incorrect code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81fbc7b20fd10c78f5078956c0dcee50):

[code]

which currently emits

[code]

The parser should instead detect it is parsing a match arm guard.

[2019-09-28 19:38] Dylan-DPC commented on #58914
closing this since it is intended behaviour

[2019-09-28 19:39] #58914 closed

[2019-09-28 19:52] steveklabnik commented on #46698
Triage: this reproduces today on pc-windows-gnu:

[code]

[2019-09-28 19:54] skinny121 commented on #60814
The current ICE is:
error: internal compiler error: src/librustc_mir/borrow_check/nll/universal_regions.rs:741: cannot convert `ReEarlyBound(0, 'a)` to a region vid
<details>

[code]
</details>

[2019-09-28 21:10] Kixunil commented on #22750
@pickfire yes, thank you, I corrected it.

[2019-09-28 23:02] Centril commented on #37390
Relevant code is here:
https://github.com/rust-lang/rust/blob/488381ce9ef0ceabe83b73127c659e5d38137df0/src/librustc_resolve/build_reduced_graph.rs#L467

Should be easy to turn that into `.struct_span_err` and then do a crater run.

[2019-09-28 23:07] Centril commented on #40572
@sgrif so the reproducer would be:

[code]
?

[2019-09-28 23:50] sgrif commented on #40572
I believe so, yes

[2019-09-29 02:01] nagisa commented on #64834
This is the relevant stack-trace

[code]

`Mutex<T>::new` requests for `0x18098` bytes of stack. That’s around 96kB of it, which is fairly reasonable, given that stacks are usually megabytes in size. This request occurs most likely because `T` is very large. `__rust_probestack` attempts to verify for sufficient stack, of which there isn’t, which is why this is failing. As go runtime is responsible

[2019-09-29 02:01] #64834 closed

[2019-09-29 02:33] #60561 closed

[2019-09-29 02:33] #63947 closed

[2019-09-29 02:33] #63967 closed

[2019-09-29 02:33] #64853 closed

[2019-09-29 04:52] Centril commented on #34596
Reassigning to @pnkfelix since they are doing the work on this right now.

[2019-09-29 06:09] popzxc opened #64888 "Tracking issue for `report-time`"
Tracks stabilization for the `report-time` and `ensure-test-time` `libtest` options.

[2019-09-29 06:20] Centril commented on #64682
Investigation thus far: I don't think the problem is in pretty printing but somewhere else.

[code]

results in:

[code]

[2019-09-29 06:38] XVilka opened #64889 "error: internal compiler error: src/librustc/ty/context.rs:513: node_type: no type for node `expr 8 (hir_id=HirId { owner: DefIndex(3061), local_id: 87 })`"
Running `cargo clippy` on a [scryer-prolog]() Rust project with a latest master (commit https://github.com/mthom/scryer-prolog/commit/5ec4dfedb0f7f2440316dc02792869ca45b91df0) checkout makes compiler fail:
[code]

[2019-09-29 09:10] ishitatsuyuki opened #64892 "Support AutoFDO (sample-based PGO)"
AutoFDO is a variant of PGO with less compile-time tradeoff. A few modifications are needed on rustc side to make it possible:

- "profile-sample-use": a LLVM option to load the profile. This is very similar to "profile-use" and can be trivially implemented.
- "debug-info-for-profiling": a very complicated option that has multiple effects in LLVM as well as the frontend (in the original impl, clan

[2019-09-29 10:35] jonas-schievink commented on #64889
Duplicate of https://github.com/rust-lang/rust-clippy/issues/4579

[2019-09-29 10:35] #64889 closed

[2019-09-29 11:14] howaboutsynergy commented on #58633
Seeing this one here: https://github.com/rust-lang/rust/pull/64764#discussion_r329345358
ie.
[code]

I attempted some kind of whitelisting just as you did in PR #59525, but I'm thinking it will only work if I attempt recompilation with a rustc that has that whitelisted already?
Either way, I'm not sure where to Whitelist it, since it appears as **`gated!`** too:
[code]
(notice how the filename mov

[2019-09-29 11:16] earthengine commented on #50547
... Not good... we missed async-await in the expecting 1.38. Having to wait for 1.39, just because some "issues“ that didn't count...

[2019-09-29 13:41] #64412 closed

[2019-09-29 14:08] aspera-non-spernit commented on #62649
I encountered this but too today. rustc 1.38.0 (625451e37 2019-09-23)

Did exactly the same. Had a trait and made it a struct later on. Different name and field though, which remained the same.

[2019-09-29 15:31] petrochenkov commented on #64450
This may be a slightly different issue from #56935, but the same workaround with adding `extern crate` to the crate root explicitly is confirmed to work.
(Like `extern crate curve;` for the reproduction example.)

[2019-09-29 15:34] AndreaCatania opened #64897 "Rust playground Favicon"
I'm not sure that this is the right place to post this issue, but let's try.

The actual Rust Playground https://play.rust-lang.org/ doesn't have a Fivicon and it looks really bad in the bookmark bar.

If there aren't any specific issue with it, is it possible to add one?

[2019-09-29 15:38] jonas-schievink commented on #64897
This should be filed at https://github.com/integer32llc/rust-playground

[2019-09-29 15:38] #64897 closed

[2019-09-29 16:41] RalfJung commented on #63713
I was told once that `FxHashMap` does not have a seed in its hasher method and hence it actually is deterministic. Was that wrong information, or did things change since then?

[2019-09-29 16:41] RalfJung commented on #63713
Cc @eddyb; I *think* it was them who told me that (but I might misremember)

[2019-09-29 16:43] johnfercher commented on #63390
Hi, @estebank totally make sense. How we proceed to confirm this?

[2019-09-29 16:59] jonas-schievink commented on #63713
That seems to be correct: https://docs.rs/rustc-hash/1.0.1/src/rustc_hash/lib.rs.html#59-61

[2019-09-29 17:04] RalfJung commented on #63713
But then, what is the purpose of the new `StableMap`? (Unfortunately the link to he original context links to the entire PR with >200 comments instead of the concrete comment triggering this, so I do not know the context of this.)

[2019-09-29 17:21] bjorn3 commented on #63713
https://github.com/rust-lang/rust/pull/58281#discussion_r315305040

If an entry is added to a `FxHashMap`, can that affect the order of the entire map? For example when needing to resize?

[2019-09-29 17:34] RalfJung commented on #63713
Yes I think it can.
However, the order is fully deterministic: Given the same sequence of inserts and removes, the order of iteration will always be the same. If that is not sufficient for what you want, you are looking for a property that is stronger than determinism. (So, the issue title and OP text here are confusing.)

[2019-09-29 17:48] bjorn3 commented on #63713
+1

Yeah, I guess so. It is just confusing and annoying that adding a single extra element to a `FxHashMap` causes the whole iteration order to change. It means that seemingly innocent changes can lead to big changes in the compilation result.

[2019-09-29 17:56] RalfJung commented on #63713
Fair.

Even for the same domain, if the sequence of inserts/removes is different, iteration order might differ.

[2019-09-29 18:12] eddyb commented on #63713
It would probably still be nice to disallow misusing a hashmap without performance losses, regardless of what that would mean theoretically.
I would even just call it `Map`, but that might be confusing?

[2019-09-29 18:56] perfect7gentleman opened #64903 "rust-1.38: bootstrap linker=clang: error: failed to run custom build command for `ryu v1.0.0` // Caused by: process didn't exit successfully: `.../work/rustc-1.38.0-src/build/bootstrap/debug/build/ryu-deb3460cf2bb47d1/build-script-build` (signal: 11, SIGSEGV [...]"
[code]
LLVM/Clang-9.0
[code]
[code]
[code]

[2019-09-29 19:26] Centril commented on #56375
Closing accordingly ^-- as wont-fix.

[2019-09-29 19:26] #56375 closed

[2019-09-29 20:43] jakubadamw commented on #58344
This has been fixed in 1.38.0 as, while I can reproduce the ICE in 1.37.0, I am not observing it in neither of: stable, beta nor nightly.

@rustbot modify labels: E-needstest

[2019-09-29 20:56] jakubadamw commented on #58022
The example provided does not produce any ICE in the nightly channel (it does in stable and beta).

@rustbot modify labels: E-needstest

[2019-09-29 21:09] jakubadamw commented on #57399
The very first snippet has been successfully compiling since 1.35.0.

@rustbot modify labels: E-needstest

[2019-09-29 22:20] tema3210 commented on #57349
Generally, const function must not have side effects, function to stay pure(what equals) must:
1. Do not change anything, references from outside world point to.
2. Do not use static values as they can be changed.
3. Do not change anything inside types providing interior mutability.

&mut to something can be used as usize for arithmetic, so in this case it will not cause side effect.

[2019-09-29 22:21] #40799 closed

[2019-09-29 22:21] #60813 closed

[2019-09-29 22:21] #63773 closed

[2019-09-29 22:21] #64682 closed

[2019-09-29 23:00] lopopolo opened #64905 "VecDeque constant time reverse?"
The only way to reverse a `VecDeque` is to call `swap` to do an in-place reversal, which is O(n).

My understanding is that `VecDeque` is implemented as a ring buffer which means we should be able to implement reverse in constant time with no element swaps by changing the direction in which the ring is traversed.

Even if this is unacceptable, could `VecDeque` get a `reverse` API to match `Vec`?

[2019-09-29 23:36] scottmcm commented on #64905
"changing the direction of traversal" is called `Iterator::rev`; I believe an extra flag that would always need to be checked on every operation would be unacceptable as an always-there feature in `VecDeque`.

For "add an api to `VecDeque` that `Vec` has", you can probably just open a PR and get feedback from there from libs.  (Though of course `reverse` is technically on slices, not `Vec`.)

[2019-09-29 23:54] jonhoo commented on #50547
@earthengine I don't think that's a fair assessment of the situation. The issues that have come up have all been worth taking seriously. It wouldn't be good to land async await only for people to then run into these issues trying to use it in practice :)

[2019-09-30 00:34] lopopolo commented on #64905
@scottmcm I think this can be done without flags by flipping the sign on the "move to next index for insertion" operation.

When I refer to "changing direction of traversal", I mean internally to the data structure as it figures out which slots to insert elements into, not the external view of the data structure.

[2019-09-30 00:46] andygrove opened #64908 "ICE building Apache Arrow PR in `librustc_traits/normalize_erasing_regions.rs:42`"
See https://travis-ci.org/apache/arrow/jobs/591264273 for failed build

[code]

[2019-09-30 01:27] Centril commented on #64908
Could you please provide a backtrace for the ICE?

[2019-09-30 06:01] #64798 closed

[2019-09-30 06:17] splitice commented on #64903
I can confirm same results on armv7l

[2019-09-30 06:30] xtowerlink commented on #51064
Thank you so much ! It's work well

[2019-09-30 07:48] SimonSapin opened #64913 "Less codegen parallelism than expected with `-C codegen-units=16`"
This is the output of `cargo build -Z timings` for Servo, on a 14 cores / 28 threads machine, filtered with "Min unit time" at 10 seconds.

![a4fd0099519ccbda2e31718d46f1ff0e546886d6](https://user-images.githubusercontent.com/291359/65858292-dcf8b680-e365-11e9-8689-80c52a34fbcc.png)

For most of codegen for the `script` crate only 3 to 4 threads seem to be CPU-bound, leaving other cores idle, desp

[2019-09-30 07:55] Guang1234567 commented on #53589
Hello @KrishnaSannasi:

I implement this `Cacher` whithout `Copy` trait.  But confuse is it correct?

Because use `mem::replace(current, Some(v));`  to change the member. Could you give me some suggestion?

[code]

**Test command**

[code]

**Output**

[code]

[2019-09-30 09:23] pnkfelix commented on #64655
Doing some bisection. This was introduced between Rust 1.32 and 1.33

[2019-09-30 09:35] pnkfelix commented on #64655
More specifically, this was introduced between nightly-2018-12-08 and nightly-2018-12-14:

[code]

[2019-09-30 09:37] pnkfelix commented on #64655
These are the PR's that bors merged between those two points:

[code]

[2019-09-30 10:59] jerry73204 opened #64917 "Two recursive trait strategies. Only one compiles."
## Overview

I made an example to define a list in type level, and wrote two ways to recursively insert a new typed key into the list. The complete example is in the gist link.
https://gist.github.com/jerry73204/364c4b61d884c1150807cdcc9357890d

In brief, the first way is to define a vanilla recursive trait like this. Then, impl cases on _found the key_ termination step and _not the key_ non-termi

[2019-09-30 11:06] GuillaumeGomez commented on #64811
The lint can add a list of error codes to ignore in a first time. I'm currently going through error codes and adding explanations/tests.

[2019-09-30 11:22] eddyb commented on #62649
@aspera-non-spernit You can reproduce with `rustc` if you pass `-C incremental=some-directory` (Cargo passes `-C incremental=target/incremental` I think).

[2019-09-30 12:17] DomantasJ opened #64919 "Suggested fix does not account for operator precedence"
This fails (as expected):

[code]

However, the help message is wrong:

[code]

It should suggest `(1 + 2).to_string()` instead.

Rust version: 1.38.0 (stable)

[2019-09-30 12:46] Keruspe commented on #62525
Seems to be fixed at least in 1.39 beta

[2019-09-30 12:46] #62525 closed

[2019-09-30 13:28] pnkfelix commented on #64655
According to my bisection via local builds, this was injected by #55982 (!)

[2019-09-30 13:41] pnkfelix commented on #64655
(Have I mentioned before that we probably need to be doing more testing of the various LTO configurations? Would it be feasible to run our test suite in all of the lto modes from {`lto=no`, `lto=thin`, `lto=fat`} ?

[2019-09-30 13:41] SimonSapin commented on #62195
`Box::leak` is an associated function instead of a method to avoid shadowing a possible `Foo::leak` method in `Box<Foo>`, normally accessible through auto-deref.

This is less relevant to `Vec::leak` since `Vec<T>` dereferences to `[T]`. There is no `[T]::leak` method in the standard library, so making `Vec::leak` a method would only shadow such a method if it’s defined in a user trait.

@cramertj

[2019-09-30 14:29] sam09 commented on #64919
I would like to pick this up, in case nobody is working on it

[2019-09-30 14:43] varkor commented on #64919
@sam09: go ahead!

[2019-09-30 14:44] KrishnaSannasi commented on #53589
You could just do `*current = Some(v)` instead of replace, also I would delay the Fn bound to the `value` function and remove the type parameter `R` from the type.

[code]

[2019-09-30 15:12] cyanidee opened #64920 "Can't return value from inside an if statement without return keyword"
Minimal working example:
[code]

Error message:
[code]

[2019-09-30 15:15] jonas-schievink commented on #64920
This is working as expected. Only the last expression in the body is implicitly returned.

[2019-09-30 15:15] #64920 closed

[2019-09-30 15:16] ISibboI commented on #57399
Amazing. The project this code was for actually is over, but if it helps I can try to find the old commit and check if it compiles without ICE on the current nightly. Would that be required for this issue to move forward?

[2019-09-30 15:54] alexcrichton commented on #50540
@rfcbot fcp merge

I believe the stabilization includes `core::{f32, f64}::{LOG2_10, LOG10_2}`.

[2019-09-30 16:58] fdubois1 opened #64924 "proc-macro derive panicked"
I have a macro and it defines an attribute called "async".  When I use it, I add r# in front of it. I have this :

#[cowrpc(r#async)]
struct Handshake {
...}

Since 1.38.0, it fails with
error: proc-macro derive panicked
 --> src/cow/den_server_iface.rs:3:10
  |
3 | #[derive(CowRpcIface)]
  |          ^^^^^^^^^^^
  |
  = help: message: "r#async" is not a valid ident

error: proc-macro derive panic

[2019-09-30 17:09] eddyb commented on #64506
This being a layout bug would trivially break codegen, why is only miri affected?

[2019-09-30 17:26] #50592 closed

[2019-09-30 17:32] petrochenkov commented on #64924
Looks very similar to https://github.com/rust-lang/rust/issues/63894 (pretty-printing change making raw identifiers to be printed precisely).

[2019-09-30 17:35] petrochenkov commented on #64924
I suspect the attribute or derive expects identifier `async` in its input, but doesn't expect `r#async`.

(It would be nice if someone could check how the expanded code looks like and whether my guess is correct.)

[2019-09-30 18:48] Aaron1011 opened #64926 "Tracking issue for `const extern fn` and `const unsafe extern fn`"
This is a tracking issue for implementing and stabilizing defining a `const extern fn` and `const unsafe extern fn`

- [X] Add a test according to https://github.com/rust-lang/rust/pull/64906#issuecomment-539902772 (added in https://github.com/rust-lang/rust/pull/68370)

### Stabilizaton Report

## Summary

This allows writing `const unsafe extern "calling-convention" fn` and `const extern "callin

[2019-09-30 18:52] Aaron1011 commented on #57563
https://github.com/rust-lang/rust/issues/64926 shoule be added to this tracking issue

[2019-09-30 20:00] olegnn opened #64929 "Provide more information about call stack in case of stack overflow during compilation"
Compiling code with custom macros
[code]
results in
[code]
That's full message with no information about place in code which caused a problem and with no call stack even if ```RUST_BACKTRACE=full``` set.
It would be better if compiler could handle this type of exceptions and provide some debug information (call stack at least).

[2019-09-30 20:12] fdubois1 commented on #64924
@petrochenkov  How can I see what the expanded code looks like ?

Thanks

[2019-09-30 20:13] kyle-mccarthy commented on #64908
[code]

[2019-09-30 20:15] ijt commented on #64169
@sjmann, are you still working on this?

[2019-09-30 20:25] andjo403 commented on #64913
the problem is the single threaded mir to llvm-ir codegen that can not provide work for all the threads in the parallell llvm-ir to machinecode codegen, as this is a debug build there is not that much that llvm do resulting in low cpu usage maybe is better for a release build

![image](https://user-images.githubusercontent.com/844398/65913112-993a9700-e3cf-11e9-8483-8da4075f42f2.png)

thread0 is s

[2019-09-30 20:41] howaboutsynergy commented on #52262
I have one with:
[code]

Source code here: https://github.com/howaboutsynergy/memdb/tree/write_move_shouldnt_be_possible
just run `./go`

output:
[code]

<details><summary> with backtrace </summary>

[code]
^ yes it's stuck there, not sure why! I will C-c after a while, been a few minutes. It's probably cargo's doing?

</details>

[2019-09-30 20:45] petrochenkov commented on #64924
[`cargo expand`](https://crates.io/crates/cargo-expand) is able to show expanded code for whole crates with dependencies.

[2019-09-30 20:57] nagisa commented on #64929
This will not happen; we are going to add stretchy stacks in rustc instead. cf. https://github.com/rust-lang/rust/issues/41884

[2019-09-30 20:57] #64929 closed

[2019-09-30 21:17] howaboutsynergy commented on #52262
here's a simplified version but beware that it doesn't show the ICE on playground:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=666c4fdb2df458f87edce89277024726

ICE shown only locally,
or could it be that my (locally built)"nightly" is too old now (couple of days) and this ICE is gone? or more likely playground strips ICE from output?

[2019-09-30 21:20] howaboutsynergy commented on #52262
the [better testcase](https://github.com/rust-lang/rust/issues/52262#issuecomment-490452056) mentioned above also ICEs only locally, and the ICE cannot be seen on playground.

<details>

[code]

</details>

[2019-09-30 21:37] SimonSapin commented on #64913
Thanks for looking into it @andjo403! Below is `-Z timings` or release mode. It’s notable that linking is almost 3× as fast. As to codegen for the `script` crate we do see good CPU utilization but only for some of that time. I’ll try `-Z self-profile` at some point.

![Screenshot from 2019-09-30 23-34-00](https://user-images.githubusercontent.com/291359/65918817-dd7f6480-e3da-11e9-86ec-cb9225ba7e8

[2019-09-30 22:02] jonas-schievink commented on #63598
Just ran into this myself:

[code]

[code]

[2019-09-30 22:05] fdubois1 commented on #64924
FYI, here is the macro: https://github.com/Devolutions/cowrpc-rs/tree/master/cowrpc_derive/src

I looked the code generated in my case. I'm not sure to understand your point when you say that it expects identifier async in its input.  I looked the macro code (https://github.com/Devolutions/cowrpc-rs/tree/master/cowrpc_derive/src), it is true that it compare the ident name with "async" (https://git

[2019-09-30 22:28] arxanas opened #64934 "Unhelpful trait bound diagnostic hint for arbitrary self types"
Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3d9fb14075d8fb9de8dea454fbb663e9

<details>
<summary>Code</summary>

[code]
</details>

Error message:

[code]

The error message hint is unhelpful because `Generator` is already a bound for `T`. Note that `Generator::resume` takes a `Pin<&mut Self>` as its `self`.

[2019-09-30 23:17] Centril commented on #64908
cc @nikomatsakis @oli-obk

[2019-10-01 00:19] nagisa commented on #56153
Duplicate of #49078

[2019-10-01 00:20] #56153 closed

[2019-10-01 00:59] estebank commented on #63390
@Centril who should be involved in this conversation?

[2019-10-01 01:01] Centril commented on #63390
I'm not sure, but let's wait until `!` has been stable for a bit tho, yea?

[2019-10-01 03:03] RalfJung commented on #64506
Codegen might skip the field access because the type is uninhabited?

[2019-10-01 03:08] RalfJung commented on #64926
Could you explain a bit more what this means and what the point is? What does the bare `extern` keyword even do? `extern "Rust" fn` and `fn` are the same thing, after all. (`extern fn` is poorly named; AFAIK it really is about specifying the ABI and has little to do with extern visibility.)

[2019-10-01 03:10] Aaron1011 commented on #64926
@RalfJung: The point is to be able to define an `const extern fn` (i.e. `extern "C" const fn`), which has a C-compatible ABI and can be invoked from const contexts.

[2019-10-01 03:43] lzutao opened #64940 "`saturating_add` doc is not clear enough"
Godbolt link: https://godbolt.org/z/9rm4jF

So I expect these two functions has the same assembly:
[code]

But the result is not:
[code]

[2019-10-01 03:47] lzutao commented on #64940
@rustbot modify labels:  C-bug I-slow T-compiler

[2019-10-01 04:48] hman523 commented on #64940
Hey I tried solving this but wasn't really sure how to. I believe the implementation to the LLVM generation is right here.
 https://github.com/rust-lang/rust/blob/22bc9e1d9ca49ee4f5cd953088ab09c238a6dd26/src/librustc_codegen_llvm/intrinsic.rs#L471-L508
Hope someone can solve this!

[2019-10-01 05:12] lzutao commented on #64940
Turn out I was wrong! The `saturating_add` is working correctly (i.e. those two functions
are not equivalent): https://github.com/rust-lang/rust/pull/58003/files#diff-01076f91a26400b2db49663d787c2576R885-R891

I would add some doctests to show that and close this issue.

[2019-10-01 06:16] #64662 closed

[2019-10-01 06:22] eddyb commented on #64506
I wouldn't be so sure, codegen calls `.field` on layouts a lot without checking.

Can the ICE print the whole `TyLayout`? That might be more useful here.

[2019-10-01 06:30] hellow554 commented on #52262
@howaboutsynergy your compiler looks incorrect to me, or am I missing something?

vs

[2019-10-01 06:54] oli-obk commented on #64506
yea but we can't use `field` because that ICEs during const prop in the array case. I have a local branch that I'm playing with to get the entire picture

[2019-10-01 07:00] eddyb commented on #64506
You can literally remove the assert to get the same effect. But if the field count is wrong I'd rather have an assert in both places and fix the count (if possible).

[2019-10-01 07:19] rodrimati1992 opened #64945 "ICE: const eval error with an empty slice."
This code:
[code]
Errors on `rustc 1.40.0-nightly (22bc9e1d9 2019-09-30) running on x86_64-unknown-linux-gnu` with this message:
[code]

[2019-10-01 07:28] nhynes commented on #43392
I'm getting the same on 1.39-nightly. It makes for deceptively large wasm release builds (but at least there's great tooling for shrinking them :)

[2019-10-01 07:47] jakubadamw commented on #57399
@ISibboI, thank you for your offer but I don't think that's strictly necessary! :slightly_smiling_face: I added the `E-needstest` label, which means that for this issue to be closed a regression test will need to be added to the test suite. There are dozens of issues with the tag open¹ and every now and then contributors go over them, often adding test cases en masse.

¹ https://github.com/rust-la

[2019-10-01 07:58] Centril commented on #64945
cc @ecstatic-morse @oli-obk

[2019-10-01 08:07] glandium opened #64947 "Mixed signals from errors about trait const fns"
I was trying to define a trait method as const, but it turned out in an error, which, according to [RFC911](https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md) is a design decision, and the [tracking issue for const fn](https://github.com/rust-lang/rust/issues/57563) doesn't seem to indicate any change in that matter.

However, the errors I got from the compiler give mixed signals

[2019-10-01 09:12] howaboutsynergy commented on #52262
@hellow554 yeah, I've compiled rust locally, but here's with current latest nightly:

<details>

[code]

that's running the example from [this](https://github.com/rust-lang/rust/issues/52262#issuecomment-536757193) comment above.

</details>

[2019-10-01 09:55] howaboutsynergy commented on #52262
that's odd, I have it in `.cargo/config` as
[code]
but I'd think it only triggers if at least 5 errors were encountered, not just 1.
even works with `"-Z", "treat-err-as-bug=500"` heh.
Nice catch!

[2019-10-01 10:56] hellow554 commented on #64945
regression in 0bbab7d99dde8620604fb265706dc8bff20345a7

[2019-10-01 11:16] jonas-schievink commented on #63598
This is a regression introduced by 1.31.0 (Rust 2018). 1.30.0 prints:

[code]

[2019-10-01 11:18] petrochenkov commented on #52924
I recently had to deal with a special-purpose implementation of mini stackless coroutines based on LLVM IR and used for [running GPU shaders with barriers on CPU](http://compilers.cs.uni-saarland.de/papers/karrenberg_opencl.pdf).
Some approaches that I noticed there that could be used for minimizing state saving/restoring at suspension points:
- Some variables that are alive at suspension point ar

[2019-10-01 11:47] pnkfelix commented on #64655
For what its worth, @RalfJung 's PR #63909 fixes this.

[2019-10-01 11:50] #49629 closed

[2019-10-01 11:50] #49476 closed

[2019-10-01 11:50] #50571 closed

[2019-10-01 11:50] #64879 closed

[2019-10-01 11:50] #58022 closed

[2019-10-01 11:50] #58344 closed

[2019-10-01 11:50] #61798 closed

[2019-10-01 12:02] johnlepikhin opened #64953 "rustc panic on pattern matching when no unit type instance is specified"
I forgot to add () inside Some():

[code]

Got panic:

[code]

## Meta

rustc 1.39.0-beta.1 (968967007 2019-09-24)
binary: rustc
commit-hash: 9689670079a48b06b5c440cc41844dab663e9dca
commit-date: 2019-09-24
host: x86_64-unknown-linux-gnu
release: 1.39.0-beta.1
LLVM version: 9.0

[2019-10-01 12:04] Mark-Simulacrum commented on #64953
This is fixed on the most recent beta. Thanks for the report!

[2019-10-01 12:04] #64953 closed

[2019-10-01 12:09] bjorn3 commented on #64865
Could you provide a link to the code which crashes rustc?

[2019-10-01 12:10] bjorn3 commented on #64865
It crashes at

https://github.com/rust-lang/rust/blob/702b45e409495a41afcccbe87a251a692b0cefab/src/librustc_codegen_llvm/consts.rs#L458-L459

[2019-10-01 12:14] cstorey commented on #64655
Thanks for tracking this down @pnkfelix!

[2019-10-01 12:18] eddyb commented on #55993
Once we move this out of tree we might want to have (as per https://github.com/rust-lang/rust/pull/63416#issuecomment-524545946):

This would even allow upstreaming some of the changes to LLVM, but at our own pace.

[2019-10-01 12:52] GuillaumeGomez commented on #64454
I said I accepted this change under the conditions I gave. We're debating the conditions as far as I can tell.

[2019-10-01 13:19] spastorino opened #64957 "tidy should skip RLS files"
tidy should skip RLS files or even more, it should probably skip untracked files.

[code]

[2019-10-01 13:37] oli-obk commented on #52262
`treat-err-as-bug` is solely a debugging option for rustc and was never meant to be used outside rustc debugging. It is meant to generate ICEs.

That said, it should probably work as advertised. Not sure why it's bailing out so early.

[2019-10-01 13:39] eddyb commented on #63818
We should probably implement this as `Pin` stripping `noalias`, in a similar fashion to `Box` adding it (since `struct Box<T>` just contains a raw pointer): https://github.com/rust-lang/rust/blob/702b45e409495a41afcccbe87a251a692b0cefab/src/librustc/ty/layout.rs#L2309-L2316

[2019-10-01 14:06] eddyb commented on #62879
@ranweiler Perhaps, at first glance this is an instance of #43408.

The cycle error happens to be the canonical result of fixing #43408 without lazy normalization (which is what happened here for direct uses of `const` generics as the whole array length expression).

@PvdBerg1998 First off, we're not even supposed to allow `const` generics with types other than a few whitelisted primitives, initia

[2019-10-01 14:45] aidanhs commented on #62933
I can believe that we don't test all 528 (8 tier 1, 66 tier 2) possible build combinations :smile: though I note that this is a different issue again, i.e. it would be item 3 from "1. support xargo, 2. check validity of built cross-compiled artifacts, 3. attempt to build all possible cross-compilation targets"

On this third point, the logic is likely that the backend process should remain identic

[2019-10-01 15:14] stevecheckoway commented on #63916
Reduced further:
[code]

I don't know if this is an issue of the compiler help being wrong (as `T` has the `Sized` bound already) or if this is a bug in the compiler.

[2019-10-01 15:17] jonhoo opened #64960 "Cannot await in scope that contains call to format!"
As part of #64477, it was identified that the following code no longer compiles (https://github.com/rust-lang/rust/issues/64477#issuecomment-531882958):

[code]

This is as a result of [this issue](https://gist.github.com/nikomatsakis/fee0e47e14c09c4202316d8ea51e50a0), and @nikomatsakis goes into some more detail as to why the borrow checker rejects the code in https://github.com/rust-lang/rust/is

[2019-10-01 15:21] jonas-schievink commented on #63916
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2019-10-01 15:21] #63916 closed

[2019-10-01 15:53] oli-obk commented on #64506
The full `TyLayout` is

[code]

and so far I haven't figured out how that can happen

[2019-10-01 16:22] nox commented on #64454
There are four other persons in @rust-lang/rustdoc who didn't chime in.

[2019-10-01 16:51] ecstatic-morse commented on #64945
I'm still building a compiler with graphviz debugging enabled so I can have a closer look, but I have a theory.

I believe the problem is that we are too conservative when marking locals as [indirectly mutable](https://github.com/rust-lang/rust/blob/702b45e409495a41afcccbe87a251a692b0cefab/src/librustc_mir/dataflow/impls/indirect_mutation.rs#L17). Because we pessimistically assume that type `T` is

[2019-10-01 17:10] pietroalbini opened #64962 "Crater runs for Rust 1.39.0"
cc @rust-lang/release

[2019-10-01 17:10] pietroalbini commented on #64962
@craterbot run name=beta-1.39-1 start=1.38.0 end=beta-2019-09-28 mode=build-and-test cap-lints=warn p=10

[2019-10-01 17:11] pietroalbini commented on #64962
@craterbot run name=beta-1.39-rustdoc-1 start=1.38.0 end=beta-2019-09-28 mode=rustdoc cap-lints=warn p=5

[2019-10-01 17:22] eddyb commented on #64506
Ah so that's a micro-optimization. Maybe we should compute the right thing.

[2019-10-01 17:33] nikomatsakis commented on #64382
Marking this as a **focus** item.

@rustbot assign @csmoe

[2019-10-01 17:35] nikomatsakis commented on #64630
We decided to **focus** on this one in the WG meeting -- @matthewjasper you still interested in working on it?

[2019-10-01 17:36] nikomatsakis commented on #57017
@rustbot claim

I'm assigning this to myself not to necessarily **fix** but to organize a call where we can dig a bit into what it would **take** to fix this, especially if we can move the MIR construction earlier.

[2019-10-01 17:39] smvoss commented on #59932
Any movement on this?

[2019-10-01 17:52] gnzlbg commented on #62933
Again, the issue here is that the tier-1 cross-compiler for
x86_64-unknown-Linux-gnu hosts cannot compile libcore for all the targets
that it advertises as supported on stable Rust.

You closed this issue because you believe that we test that
x86_64-unknown-Linux-gnu compiles libcore for all targets it advertises as
supported. If that were the case, it would be impossible for the errors
that we ar

[2019-10-01 17:52] matthewjasper commented on #64630
Yes, I'm still interested in working on this. I don't think that this should be too hard to fix though if someone else wants it.

[2019-10-01 18:21] Mark-Simulacrum commented on #62933
We can't test everything. I think in this case, it doesn't make sense to spend our CI time testing this specific scenario. Ideally, perhaps we would, but it's sort of out of scope for our testing infrastructure at this point IMO. Of course, hearing about specific cases where this happens is good, and we can try and fix those as they come up - usually, that means the normal process: file an issue o

[2019-10-01 18:21] ChrisJefferson commented on #54501
Just as an update, I tried this in the latest nightly and it still present.

[2019-10-01 18:29] estebank commented on #52262
Changing this https://github.com/rust-lang/rust/blob/702b45e409495a41afcccbe87a251a692b0cefab/src/librustc_mir/borrow_check/mod.rs#L1947-L1954

to `self.infcx.tcx.sess.delay_span_bug` should fix the ICE with no other ill-behavior.

[2019-10-01 18:30] gnzlbg commented on #62933
So it is unfeasible to spend 4 min per build job to test that
cross-compilation targets that we advertise as supported actually work?

[2019-10-01 18:34] gnzlbg commented on #62933
As in, my 6 year old dual core laptop compiled libcore in 5 seconds. A
tier-1 Rust toolchain with support for 50 targets would need to compile
libcore 50 times. Assuming a 6 year old laptop CPU, but with a single core,
that’s 250 seconds or ~4 min.

I can only guess about how long this takes using gnu parallel on a 4 core
CPU on Azure... but we might be talking about on the order of 1 minute or
so

[2019-10-01 18:37] Manishearth opened #64964 "ICE while compiling hyper (`StableHasher: unexpected region '_#0r`)"
Hyper fails to compile on Rust master (702b45e40)

[code]
<details>

[code]

</details>

[2019-10-01 18:38] Manishearth commented on #64964
fyi @seanmonstar

[2019-10-01 18:40] Manishearth commented on #64964
I also get this with `cargo check --all-targets` on futures-rs

<details>

[code]
</details>

[2019-10-01 18:42] GuillaumeGomez commented on #64454
We are four. :p Also I can always put my veto so not really a better way of handling things... But I'm curious what they think about this change.

[2019-10-01 18:47] alexcrichton commented on #64913
This is actually something you may want to investigate with the `script` crate more deeply, but it's unfortunately difficult to do so. This may also be indicative of a compiler bug!

Translation to LLVM IR is currently single-threaded, and so in debug mode we're firing off LLVM modules to get codegen'd in the background, but they codegen so quickly that's why it seems to never get cpu usage off th

[2019-10-01 19:16] Mark-Simulacrum commented on #62933
It is unclear to me exactly what you're proposing to test. However, I would personally be against this sort of general belief that we should be testing everything possible on our CI -- that's my read of this issue. To me it doesn't really matter that this specific ask might be relatively easy/low on resources. Ultimately these sorts of bugs will need to get caught in beta/nightly before they land

[2019-10-01 19:19] nikic commented on #62933
Reminder that the two bugs mentioned in the description would not be caught by what is proposed here: For thumbv6m-none-eabi we *already* build libcore and that succeeded -- xargo just uses different compilation option. The armv7-unknown-linux-gnueabihf issue only occurs when using it as a host compiler, not during cross-compilation.

[2019-10-01 19:22] steveklabnik commented on #45691
Triage: I know that we've changed our name mangling implementation, but am unsure if it includes this info or not. I think @eddyb would know?

[2019-10-01 19:29] steveklabnik commented on #48951
Triage: no changes

[2019-10-01 19:46] euclio commented on #64957
This is a regression; it was reported at #52158 and fixed in #55213.

[2019-10-01 20:11] oli-obk commented on #47809
Ping @ayosec do you have time to address this or is it OK with you if someone else takes over?

[2019-10-01 20:35] fhartwig commented on #64376
@rustbot claim

[2019-10-01 20:56] andjo403 commented on #64913
did a run with -Z self-profile for the release build and @alexcrichton is correct there is one cgu that is extra long I do not know what the cgu contains due to I do not know how to only build the script crate to save the llvm-ir files.
![image](https://user-images.githubusercontent.com/844398/65999885-978bd480-e49e-11e9-966e-0c2e554cd447.png)

[2019-10-01 21:12] kpp commented on #64496
Still failing on rustc 1.40.0-nightly (22bc9e1d9 2019-09-30)

[2019-10-01 21:15] alexcrichton commented on #64913
Man those graphs are so cool! It's so visually appalling what's happening there. You can easily see the waterfall of codegen units being spawned for optimization, you can see the brief serial period, and then everything getting optimized at once. Neato!

But yeah so from that we can clearly see that the ThinLTO passes are taking forever on one particular codegen unit, and the normal optimization p

[2019-10-01 21:27] rinon opened #64970 "Const eval incorrectly computes that mutable param is zero"
The following code results in a const eval divide by zero error, when it cannot actually error at runtime:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ee4964acbb7fe290cfdaa573fddf5195

[2019-10-01 21:44] Mark-Simulacrum commented on #64957
Hm so to be clear it is currently broken but was previously already fixed?

We probably just need to re-add target to the filter_dirs list [here](https://github.com/rust-lang/rust/blob/4107eda9350b9411a1768481da630ce245993b5a/src/tools/tidy/src/lib.rs#L55).

[2019-10-01 21:50] gz commented on #64865
@bjorn3 The code that crashes rustc is closed-source unfortunately. I can try to see if I can create a minimal, reduced example.

[2019-10-01 22:46] Seeker14491 commented on #64650
Here's an updated reproduction that doesn't use the `runtime` crate:

[code]

Error:

[code]

**ructc version:** `rustc 1.40.0-nightly (22bc9e1d9 2019-09-30)`

[2019-10-01 23:12] eddyb commented on #45691
I think "specializations" in the title should be "instantiations" (the former confused me at first).

And we haven't *changed* the mangling yet, or at least not the default.
You need `-Z symbol-mangling-version=v0` right now to get the new mangling.

But all such information should be there in the new mangling.

[2019-10-01 23:47] AnthonyMikh opened #64976 "The behaviour of `librustc_errors::Handler::reset_err_count` seems to contradict its documentation"
The function: https://github.com/rust-lang/rust/blob/702b45e409495a41afcccbe87a251a692b0cefab/src/librustc_errors/lib.rs#L473

Citing the doc comment for this function:

[code]

However, in the body of this function the field `emitted_diagnostics` (which is `FxHashSet<u128>`) is rewritten by `Default::default()`, so it effectively frees the allocated memory instead of reusing it. Although the comm

[2019-10-01 23:50] howaboutsynergy commented on #64964
getting this while trying to compile rust itself(702b45e409495a41afcccbe87a251a692b0cefab):

<details>

[code]

</details>

[2019-10-01 23:51] Mark-Simulacrum commented on #64976
Note that it says reuse a _Parser_; clearing out the memory is just a performance hit not really all that important. I don't personally think it's worth tracking this since if anything it's a minor performance optimization (less allocations) -- in particular since this is intentional based on that commit.

[2019-10-01 23:51] #64976 closed

[2019-10-02 00:46] ayosec commented on #47809
I'm still working on it very slowly, but feel free to take it if you want. I can try to implement another issue once I get more time.

[2019-10-02 01:00] Manishearth commented on #64964
Confirming bisection range is #64946

[2019-10-02 01:27] howaboutsynergy commented on #64964
guessing it's PR https://github.com/rust-lang/rust/pull/63674
attempting rust compilation with reverted like so:
<details>

[code]

</details>

this might take a while...

[2019-10-02 02:01] #64919 closed

[2019-10-02 02:01] #64940 closed

[2019-10-02 02:09] sekineh commented on #59278
Hi,

I've implemented both API in the local rust tree.
I see some problems in the API and I'm proposing the better version at the bottom of this comment.

Any ideas?

# Currently proposed API
## `.into_ordered_iter(self)`

[code]

## `.drain_ordered(&mut self)`

[code]

## Problems I see

* (P1) Too many iters: New users won't get to the right one.
* (P2) Code duplication: The impl of .into_ordere

[2019-10-02 02:18] scottmcm commented on #59278
Both owning and borrowing versions are useful.  I can't return a version that borrows from a local variable, but I can return the version that moves it.

That said, I agree that `drop(foo.drain_ordered());` should result in an empty `foo`.  But that can be accomplished by just clearing in the iterator's drop (assuming it's safe [so doesn't need to amplify](http://cglab.ca/~abeinges/blah/everyone-p

[2019-10-02 02:23] aelbore commented on #44787
Installing VC++ 2015 or 2017  resolved my issue

[2019-10-02 02:36] howaboutsynergy commented on #64964
It's not it, surprisingly enough(for me). (manually)Reverting that PR fails the same. (that is, applied this [patch](https://github.com/rust-lang/rust/issues/64964#issuecomment-537296558) on top of rust commit 702b45e409495a41afcccbe87a251a692b0cefab )

<details>

[code]

</details>

[2019-10-02 03:52] abonander commented on #53487
It would be nice to have something like `Backtrace::was_captured()` that returns `status() == BacktraceStatus::Captured` so we don't have to import that enum.

[2019-10-02 03:55] abonander commented on #53487
The lack of `PartialEq` and `Eq` impls for `BacktraceStatus` is also pretty painful.

[2019-10-02 04:23] sekineh commented on #59278
Thanks @scottmcm for the comment. I updated my comment accordingly.

@jonhoo, are you still working on PR for this?

[2019-10-02 04:47] sinkuu commented on #64964
#64895? This PR adds `generator_interior_types` to typeck-table which is stable-hased, and the hyper's ICE is happening on `async fn` by querying that table, which looks relevant to me.

[2019-10-02 04:51] sekineh commented on #58769
This issue seems to be already done as of 2019-08-12:
[code]

[2019-10-02 04:55] sekineh commented on #58769
Included in:
https://github.com/rust-lang/rust/pull/63486

[2019-10-02 05:11] ecstatic-morse commented on #64970
Regression caused by 488381ce9ef0ceabe83b73127c659e5d38137df0. cc @wesleywiser @oli-obk

[2019-10-02 05:26] scottmcm commented on #58769
Agreed, @sekineh; thanks for commenting!

[2019-10-02 05:26] #58769 closed

[2019-10-02 05:40] howaboutsynergy commented on #64964
I've reversed-applied the patch from https://github.com/rust-lang/rust/pull/64895.patch (aka reverted PR #64895 ) on top of rust 7130fc54e05e247f93c7ecc2d10f56b314c97831 like this `patch -R -p1 -i 64895.patch`, and the results are(74mins later, at least):

(I will edit this when done compiling)

[2019-10-02 06:18] hellow554 commented on #64970
Fun thing, it doesn't even depend on the conditions in the if clause:

[code]

also ICEs

[2019-10-02 06:50] tyranron commented on #53487
@abonander

Why? I cannot figure out situation where I should compare multiple backtraces for equality.

[2019-10-02 06:54] est31 commented on #53487
@tyranron `BacktraceStatus` is not a complete backtrace but only a C-like (non-ADT) enum with three variants.

[2019-10-02 07:04] tyranron commented on #53487
@est31 oh... misread that 😵. Thanks!

[2019-10-02 07:25] abonander commented on #53487
@tyranron There's currently no way to check if a backtrace was captured besides

[code]

which seems like a significant oversight.

[2019-10-02 07:27] Vlad-Shcherbina opened #64984 "Missed optimization: Vec::splice() is not zero-cost"
To reproduce, compile the following two functions with, say, `-C opt-level=3` using, say, `rustc 1.38.0`:
[code]
[Godbolt](https://godbolt.org/z/CHJXuU)

Since they are obviously equivalent, they should compile to comparable code.
Instead, the `splice` version performs a lot of unnecessary work.

[code]

[2019-10-02 07:33] SOF3 opened #64985 "ICE: StableHasher: unexpected region '_#0r"
[code]

I am not sure what exactly causes this error. I have created a backup of my current code. Feel free to ask for more information, since I don't want to upload the whole thing directly.

[2019-10-02 07:50] SOF3 commented on #64985
Appears to be a duplicate of #64964

[2019-10-02 07:50] #64985 closed

[2019-10-02 08:13] withoutboats commented on #53487
I would gladly r+ a PR adding Eq and PartialEq to `BacktraceStatus`.

[2019-10-02 08:47] sinkuu commented on #64964
Minimized test-case:

[code]

[2019-10-02 08:54] davidtwco commented on #64964
Thanks @sinkuu, self-assigning to look into this (since I caused it with #64895) - if anyone else wants to look into fixing also, please feel free.

[2019-10-02 08:57] sinkuu commented on #64964
I have a WIP fix: https://github.com/sinkuu/rust/commit/8f6e132810324969fec3a34b0651039b43c16848

[2019-10-02 09:02] oli-obk commented on #64506
#64987 computes the layout for structs but keeps returning the never layout for enums without inhabited variants

[2019-10-02 09:22] GuillaumeGomez opened #64988 "Bad page rendering with js disabled"
For example in here: https://docs.rs/slab/0.4.2/slab/struct.Slab.html

No sections is shown because they're hidden by default. It should be overloaded with noscript so that they show by default in such case.

[2019-10-02 09:26] GuillaumeGomez commented on #64988
cc https://github.com/rust-lang/docs.rs/issues/419

[2019-10-02 09:50] oli-obk commented on #62785
I opened https://github.com/rust-lang/rust/pull/64990 with the `_fltused` symbol added to libcore

[2019-10-02 10:00] #64638 closed

[2019-10-02 10:27] howaboutsynergy commented on #52262
@estebank confirmed working(no more ICE), thank you! tested with stage1 rust

[code]

[2019-10-02 10:46] oli-obk opened #64992 "Tracking issue for unsizing casts in const fns"
Right now we don't allow unsizing casts (array -> slice or type -> dyn Trait) in const fns on stable.

While we can't allow unsizing to `dyn Trait` until we've figured out trait bounds in const fns, we can easily allow unsizing casts for slices, there's no reason not to have them. The only reason we didn't have them in the initial min_const_fn feature gate was the fact that we preferred overly agg

[2019-10-02 10:58] oli-obk commented on #52262
If you open a PR about this, please also adjust the comment explaining why we need a `delay_span_bug` instead of just aborting

[2019-10-02 11:07] howaboutsynergy commented on #52262
I won't open one, I've no idea how/why this works. All I know is that it works xD and I trust that it's correct.

[2019-10-02 11:10] michaelwoerister commented on #49180
@alexcrichton & @nnethercote: Thanks to you we have pipelining now and our bootstrap time should be quite a bit shorter, right? (according to this: https://gistpreview.github.io/?74d799739504232991c49607d5ce748a)

Can we switch compiler back to `-Ccodegen-units=1`? That might be a 10% performance win right there!

[2019-10-02 11:55] Mark-Simulacrum commented on #49180
We're unfortunately way too close to 4 hours and frequently going over I think today to be able to afford going back to codegen-units=1. Pipelining I think doesn't help us too much on CI since we only have 2 cores currently so we're not getting the advantage of -j28 like that graph shows :)

[2019-10-02 12:01] bjorn3 commented on #49180
I am suprised that the simple rustc_codegen_utils takes 18s, while the way more complex rustc_codegen_ssa takes 24s in the timings of @michaelwoerister.

[2019-10-02 12:15] michaelwoerister commented on #49180
:scream:

[2019-10-02 12:45] andjo403 commented on #49180
But as there only is 2 cores are we sure that codegen-units=1 is not faster?

[2019-10-02 12:53] spastorino commented on #64957
This was changed in [this commit](https://github.com/rust-lang/rust/commit/61729b3bf0e439ebe6cd785b3e6ae02ab24592c0) by @petrochenkov. I guess there may be good reasons to remove all these directories, I'd say that we need to skip things that are listed on .gitignore :).

[2019-10-02 12:59] petrochenkov commented on #64957
I assumed `target` was only created next to the top level `Cargo.toml`.
If that's not the case, please feel free to re-add it (with a comment, if possible).

[2019-10-02 13:10] Mark-Simulacrum commented on #49180
My understanding is that LLVM is faster at optimizing smaller modules (not altogether non-obvious, I think, though certainly interesting). That means that splitting the same IR into more modules can produce faster builds, even with just one core.

[2019-10-02 13:30] drdozer commented on #62408
I was just bitten by this. Had assumed that `truncate()` was an O(1) op for Vec<u8>.

[2019-10-02 13:37] oli-obk commented on #64908
cc @wesleywiser more const prop fallout?

[2019-10-02 13:37] michaelwoerister commented on #49180
On the other hand we'd skip the entire ThinLTO step... let me give it a try locally.

[2019-10-02 14:05] nikomatsakis commented on #60424
Got a pending fix in #64999

[2019-10-02 14:09] wesleywiser commented on #64908
Seems likely. I'll have some time tonight to look at it.

[2019-10-02 14:14] Mark-Simulacrum opened #65000 "FCP for toolstate changes"
Manual FCP for this change. Please leave a comment if you can't tick the box due to lack of permissions or, preferably, ping me on Discord/Zulip (`@simulacrum`).

The [PR](https://github.com/rust-lang/rust/pull/64977) has a more detailed explanation of this change, but the general summary is that if we proceed with this change, submodule changes will no longer be gated when landing into master (mo

[2019-10-02 14:19] mitsuhiko commented on #53487
I know that exposing frames is not yet an option, but I wonder if we could add a method or function somewhere that lets one collect at least the IPs into a vector from a backtrace. Right now I cannot use this backtrace object without regex parsing the debug output.

[2019-10-02 14:22] sam09 commented on #61709
@estebank Can I pick this up? I don't have much of an idea about this, but would like to get involved

[2019-10-02 14:24] mathstuf commented on #53487
Is there a reason that couldn't be a future RFC? That is, isn't it just additional API and types on top of `Backtrace` and nothing that's a fundamental redesign (of its public API)? I'd rather see the `Error` trait get fixed earlier rather than later so that crates can start using it. I've had a number of "improve error handling" PRs held up on this RFC already.

[2019-10-02 14:24] pnkfelix commented on #64655
Okay I added some instrumentation to the compiler and I think I know where the problem here is coming from.

Here's the executive summary:
 * PR #55982 changed the logic for where we add the LLVM attribute `no_unwind`
 * PR #63909 has asserted, from the beginning, that some of that new logic was wrong. In particular, it noted that:

I myself was confused by this comment, because it looked to me li

[2019-10-02 14:25] dtolnay opened #65001 "Regression in spacing of left margin in diagnostics"
[code]

#### `$ cargo +nightly-2019-10-01 check`

This is the correct output.

[code]

#### `$ cargo +nightly-2019-10-02 check`

Notice that one of the errors has a column of whitespace between the line number and the pipes, the next does not.

[code]

Commit range: https://github.com/rust-lang/rust/compare/22bc9e1d9...702b45e40

[2019-10-02 14:27] dtolnay commented on #65001
Mentioning @AnthonyMikh @estebank who made changes in librustc_errors. Could this be from #64935?

[2019-10-02 14:30] pnkfelix commented on #64655
The short version of my previous comment is that I bet I could make a small change that just reordered the two branches in order to fix *this* bug.

[2019-10-02 14:58] alexcrichton commented on #49180
I would personally agree with @Mark-Simulacrum that we're extremely strapped for time budget on CI right now, and the longest builders are the Windows release builders. We should be extremely careful about making them slow (aka losing parallelism) and we're also hoping to get 4-core machines at some point which may change the calculus in terms of whether 2 cores + pipelining gives us sufficient pa

[2019-10-02 15:00] dtolnay commented on #65001
It looks like this can cause the wrong line number to be printed. :(

If you bump the problematic line down to line 100, it prints as 10:

[code]

[2019-10-02 15:14] estebank commented on #65001
It seems like it might be.

[2019-10-02 15:23] matthiaskrgr opened #65003 "wrap llvm messages"
When using `-Cpasses=lint`, llvm prints its messages directly into stderr
[code]

I wonder if we could wrap them so that it is easier to figure out that they are coming from llvm when parsing cargo/rustc output.

`LLVM lint-pass: Unusual: unreachable...`

[2019-10-02 15:35] HeroicKatora opened #65005 "Inconsistent `const_err` on index access to array in polymorphic functions"
Stable currently allows indexing an array with invalid constant indices in polymorphic functions without warnings. A recently nightly change has apparently changed this behaviour into an error. The following builds on stable without warnings but errors on nightly:

[code]

It should be noted that in monomorphic functions this is already an error in both version, though I do not know when this was

[2019-10-02 15:57] ecstatic-morse opened #65006 "`IndirectlyMutableLocals` analysis is unsound in the presence of unsafe code"
#64470 added an `IndirectlyMutableLocals` analysis to track whether a local could possibly be mutated through a pointer at a given point in the program. However, this analysis overlooked the fact that a shared reference to a `Freeze` field of a struct could be converted to a shared reference to a `!Freeze` field of that same struct by offsetting a pointer.

This does not currently cause any unsoun

[2019-10-02 16:07] wesleywiser commented on #64908
Minimal repro:

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a91bcfc2e70d2163a77a61990546db0b)

[2019-10-02 16:09] Daniel-B-Smith opened #65008 "Entire program seems to be optimized away"
I've come across a situation where the presence or absence of a comment changes the program behavior. With the comment present, the program does exactly what I expect (prints a bunch of stuff). Without the comment, the program does nothing and terminates with exit code 0.

I have an example (including Dockerfile) where I've stripped out everything proprietary and some extraneous code here: https:/

[2019-10-02 16:41] AnthonyMikh commented on #65001
Indeed. Upon closer inspection I've found out that 7b4c5c62aaa86301c2f358623bf3bfee39e7beef actually changes the semantics of method: after applying this commit, if `children` is not empty, then `max` of them is not compared with `primary`, although `primary` could actually be greater.

The correct code should rather look like this:

[code]

Although it might be not the bug responsible for this is

[2019-10-02 16:48] estebank commented on #65001
Subtle. That seems about right.

[2019-10-02 16:52] Centril commented on #44109
On Thursday's language team meeting (2019-09-26), we discussed the subject of interactions between `improper_ctypes` and `#[repr(C)] #[non_exhaustive]` along the lines discussed here. In particular in light of https://github.com/rust-lang/rust/issues/44109#issuecomment-534601202 and https://github.com/rust-lang/rust/issues/44109#issuecomment-534617778.

The consensus of the meeting was that `impro

[2019-10-02 17:09] estebank commented on #52262
@howaboutsynergy could you show us the minimum set of errors that rustc emits while originally reproducing the ICE? That might help us create a minimized repro case.

[2019-10-02 17:14] jfrimmel commented on #62633
Small and very minor documentation note:

If this has landed, we should adjust the #[must_use] attribute of `Option::is_none()` to keep symmetry with `is_some()`.

Currently the hint on `is_some()` is _"if you intended to assert that this has a value, consider `.unwrap()` instead"_, whereas the one for `is_none()` is longer and more verbose: _"if you intended to assert that this doesn't have a val

[2019-10-02 17:20] davidtwco commented on #44109
Sure thing, will take a look at doing this.

[2019-10-02 17:21] howaboutsynergy commented on #52262
If you run nightly on [this](https://github.com/rust-lang/rust/issues/52262#issuecomment-536757193) code, it should show you the errors, with `RUST_BACKTRACE=1`. Or, am I misunderstanding the question? xD

[2019-10-02 17:31] cuviper commented on #62633
@jfrimmel yes, that's the third item in the checklist here.

[2019-10-02 17:33] jfrimmel commented on #62633
Oh, excuse me. Note to myself: read the issues completely before commenting. Sorry again. How to mark the comments as resolved?

[2019-10-02 17:42] estebank commented on #61709
@sam09 of course! I can take a look at https://github.com/rust-lang/rust/pull/54946 and https://github.com/rust-lang/rust/pull/47613 for some changes made to this code, the [currently up to date documentation for the feature](https://doc.rust-lang.org/unstable-book/language-features/on-unimplemented.html). You will probably have to take a look at `fn report_selection_error` and find a way to get t

[2019-10-02 17:48] michaelwoerister commented on #49180
My local test for `./x.py -j2 dist` on Linux gave me ~40 minutes for 1 CGU and ~37 minutes for 16 CGUs, so the one CGU case is indeed a bit slower (although it's not as extreme as in the past).

[2019-10-02 18:08] mati865 opened #65014 "Updating Cargo.lock can result in dependency cycle"
Bumping few packages can result in dependency cycle.

Single command reproducer:
[code]

cc @alexcrichton

[2019-10-02 18:14] estebank commented on #25507
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ddfb47abef5393c81150ef7a6db38537):

[code]

[2019-10-02 18:16] jerry73204 commented on #64917
Any update here? or should a post it on StackOverflow?

[2019-10-02 18:18] estebank opened #65015 "Point at duplicated dot in method access"
[The following incorrect code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=afabf424606627e723a6faed1bcde8e9)

[code]

[code]

has a typo where two dots where written where one for method access was meant. It is not made clear enough in the output due to complaining about finding `Range` but not pointing at the two dots that caused the range to be there.

[2019-10-02 18:20] estebank commented on #15457
Current output:

[code]

[2019-10-02 18:56] the8472 commented on #64988
Using [<details>/<summary>](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) for all sections that can be toggled would be a noscript-compatible, interactive solution. It can still be enhanced by javascript to respect global toggles.

Edge doesn't support it but that just means edge users will have to rely on javascript as they already do today.

[2019-10-02 18:59] monarrk opened #65017 "Internal Compiler Error When Making Requests With Hyper"
I've been staring at this error all day long and finally decided to file a report for it, so here we are.

I'm attempting to make a request using identical code to the [hyper client.rs example](https://github.com/hyperium/hyper/blob/master/examples/client.rs), but I continue to get [this error](https://pastebin.com/BwzguXMD) (invoked by `RUST_BACKTRACE=full cargo build --verbose`. Frankly I don't

[2019-10-02 19:07] matthiaskrgr commented on #65017
Looks like this is a duplicate of https://github.com/rust-lang/rust/issues/64964

[2019-10-02 19:25] lukaslueg opened #65019 "Suggest .err().expect() if .expect_err() is not implemented"
If `T` in `Result<T, _>` is not `fmt::Debug`, the following will fail to compile. The compiler rightfully blames `fmt::Debug` not being implemented for `Result<Foo, ()>`.

[code]

However, users may get stuck if they can't - for whatever reason - add `fmt::Debug`. A simple workaround is

[code]

which has a somewhat degraded error message in the panic case, yet does what it's being asked for. Mayb

[2019-10-02 19:25] cuviper commented on #64857
Instructions for LLVM backports are here:
https://rust-lang.github.io/rustc-guide/codegen/updating-llvm.html#bugfix-updates

I can attempt this if you're not able, just let me know.

[2019-10-02 19:30] monarrk commented on #65017
that does seem to be the case, sorry about that

[2019-10-02 19:30] #65017 closed

[2019-10-02 20:03] tlively commented on #64822
I found the underlying issue, which was that `src/bootstrap/builder.rs` was explicitly adding the rpath argument. I just had to add emscripten to the list of targets for which it should not do that. This has been done as part of #63649.

[2019-10-02 20:03] #64822 closed

[2019-10-02 20:04] tlively commented on #64857
Thanks for the pointer! I can take care of it.

[2019-10-02 20:09] wesleywiser commented on #65005
I think this is related to #64419 which made the `ConstProp` pass a bit smarter. What should be happening is that you get a warning which, by default, is treated as an error. If you add `#[allow(const_err)]` to `bugs()`, it should continue to compile.

I believe this behavior is covered under [RFC 1129](https://github.com/rust-lang/rfcs/blob/master/text/1229-compile-time-asserts.md) so this is exp

[2019-10-02 20:32] rinon commented on #64970
Thanks @wesleywiser!

[2019-10-02 20:40] HeroicKatora commented on #65005
That RFC only seems to argue for not erroring. It remarks that this is a breaking change and one that would not be forseeable by the user since the compiler may get arbitrary additional powers of evaluating constant expression and goes on to specify that it should only warn if the context is not a true `const` expression. The function is not marked `const`, so the expression in question it is not

[2019-10-02 20:40] alexcrichton commented on #65014
Looks like Cargo is correct here but it's a bad error message. I'll work on the error message independently, but the real error is:

[code]

This happens because `cc` now has the `parallel` feature enabled when updating `libgit2-sys`. I'm gonna close this since I'm about to fix the error message in Cargo and otherwise I believe this is a legitimate error.

[2019-10-02 20:42] #65014 closed

[2019-10-02 20:46] alexcrichton commented on #65014
Note that this is an instance of https://github.com/rust-lang/cargo/issues/4866 where the *host* `cfg-if` shouldn't have `rustc-dep-of-std` enabled, but it does.

[2019-10-02 20:57] dtolnay commented on #58818
Still the same behavior as of rustc 1.40.0-nightly (702b45e40 2019-10-01).

[2019-10-02 21:03] cpcloud opened #65022 "Possible beta to nightly regression (from"
Possible regression from beta-1.39 to nightly-1.40, exposed by [`tonic`](https://github.com/hyperium/tonic)

I tried this code (using the [rust nix overlay](https://github.com/mozilla/nixpkgs-mozilla/blob/master/rust-overlay.nix)):

[code]

I expected to see this happen: a successful build

Instead, this happened: a build error

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2019-10-02 21:05] mati865 commented on #65022
Duplicate of https://github.com/rust-lang/rust/issues/64964

[2019-10-02 21:05] nagisa commented on #65022
Duplicate of https://github.com/rust-lang/rust/issues/64964

[2019-10-02 21:05] #65022 closed

[2019-10-02 21:05] cpcloud commented on #65022
Thanks!

[2019-10-02 21:06] petrochenkov commented on #58818
It's still in my queue, just not with a high enough priority :(

[2019-10-02 21:11] mati865 commented on #65014
Oh it's nasty one. Thanks for the explanation, it's clear now.

[2019-10-02 21:12] spastorino opened #65023 "error: unused attribute const_fn_union with incr-comp"
Every time I try to recompile the compiler using incremental compilation with `./x.py build -i --stage 1 --keep-stage 1 src/libstd` I get the following error ...

[code]

[2019-10-02 21:30] JohnTitor commented on #52237
Current output:

[code]

[2019-10-02 21:52] archshift opened #65024 "Allow building for hard-float targets in RISC-V"
Currently Rust does not support compiling/linking with LLVM's `-target-abi=lp64d` option, which enables the hard-float ABI in riscv64.

This feature is necessary for Rust interop with C code on hard-float targets.

[2019-10-02 22:02] Centril commented on #64947
I think the most honest thing to do here would be to point at the RFC. cc @oli-obk

[2019-10-02 22:08] gz opened #65025 "type parameter `A/#0` (A/0) out of range when substituting (root type=Some(*const A)) substs=[]"
Minimal example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=814876c654b0b3ad162d52ba64064b02

[code]

I'm on nightly but it also crashes on stable.

[2019-10-02 22:14] rep-nop commented on #65008
Are you sure its not an issue with the Dockerfile somehow? Because [this](https://github.com/Daniel-B-Smith/compiler_example/blob/8489759110d9b5abc45f7ec33d5e99436b2ecb18/Dockerfile#L18) is exactly that -- a program that does nothing and exits with exit code 0.

[2019-10-02 22:16] petrochenkov commented on #64450
I started investigating in https://github.com/rust-lang/rust/pull/65026, but didn't get to ICEs themselves yet.

[2019-10-02 22:34] glandium commented on #64947
I think pointing at the RFC in E0379 *and* not emitting E0658 would be better.

[2019-10-02 22:35] #54165 closed

[2019-10-02 22:35] #63324 closed

[2019-10-02 22:35] #64453 closed

[2019-10-02 22:35] #64945 closed

[2019-10-02 22:35] #64964 closed

[2019-10-02 22:35] #64970 closed

[2019-10-02 22:59] krisselden opened #65028 "regression in 2019-10-01 nightly"
I will try to make a reproduction later, but just wanted to open an issue now.  The code worked when compiling with the beta and the prior nightly.

[code]

[2019-10-02 23:06] Rantanen opened #65029 "libsyntax JSON output bytes counts ignore CRLF normalization"
Recently there was a change in rustc to normalize newlines (CRLF -> LF) early during processing (#62948). This caused a change in the JSON output offsets. While the line/column values were unaffected (since they do not include the newlines in the counts), the `byte_start`/`byte_end` values were affected as they are calculated from the spans that use post-normalization positions.

As a result, the

[2019-10-02 23:10] jonas-schievink commented on #65028
Duplicate of https://github.com/rust-lang/rust/issues/64964

[2019-10-02 23:10] #65028 closed

[2019-10-02 23:22] novacrazy commented on #63959
Just noticed it's fully broken again on `702b45e40 2019-10-01`.

[2019-10-02 23:49] nnethercote opened #65031 "The `rustc_query_impl` crate is too big, which hurts compile times for the compiler itself"
EDIT(Centril): The crate was renamed to `rustc_middle` in https://github.com/rust-lang/rust/pull/70536.
EDIT(jyn514): Most of rustc_middle was split into `rustc_query_impl` in https://github.com/rust-lang/rust/pull/70951.

The [results](http://gistpreview.github.io/?74d799739504232991c49607d5ce748a) from @ehuss's new `cargo -Ztimings` feature really drive home how the size of the `rustc` crate hur

[2019-10-02 23:57] alexander-irbis opened #65033 "An ICE when awaiting an async method."
I tried this code:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2019-10-03 00:08] sinkuu commented on #65033
This seems to be https://github.com/rust-lang/rust/issues/64964. Are you hitting the same `bug!` ("StableHasher: unexpected region")?

[2019-10-03 00:11] nagisa opened #65034 "`SocketAddr{V4,V6}` or `Ip{V4,V6}Addr` should have `ANY`/`any` constructor"
A commonplace difference between Windows and other targets is that to bind to "all" interfaces, you need to use `LOCALHOST` on Windows and `UNSPECIFIED` everywhere else. We should make this easy via e.g. associated methods like these:

[code]

[2019-10-03 00:13] Centril commented on #65005
It is our normal policy that warnings may be turned into deny-by-default lints. The specific lint has been deny-by-default for a long time. What we cannot do is turn these into hard errors. That is, I think @wesleywiser is correct that this is expected behavior and I'm closing the issue accordingly.

[2019-10-03 00:13] #65005 closed

[2019-10-03 00:15] alexander-irbis commented on #65033
@sinkuu Huh, I lost this line while copy-pasting the backtrace.

[2019-10-03 00:16] Centril commented on #65023
@oli-obk, J'Accuse…! :)

[2019-10-03 00:20] HeroicKatora commented on #65005
@Centril Okay, so this was a misunderstanding on the exact wording, and you cleared up what the RFC was meant to express. However, this *never showed up as a warning* in the first place. [Indeed, stable is silent even if the warning is explicitely enabled](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2b354179863513345ec2d0c33dc42089). There was no way to diagnose this be

[2019-10-03 00:24] nnethercote commented on #49180
@michaelwoerister said this at the start:

From subsequent comments it seems like this point might be getting overlooked? We wouldn't do this for all CI builds, just those generating stable releases. How often are stable releases generated?

[2019-10-03 00:25] Centril commented on #65005
It sometimes happens, such as in this case, that we extend existing lints to more cases. To avoid that we would need to split `const_err` into two lints: one that is warn-by-default, one that is deny-by-default. It is not clear to me that this would be an easy distinction to maintain but maybe @wesleywiser feels differently.

[2019-10-03 00:28] Centril commented on #65025
Reduced:
[code]

[2019-10-03 00:28] Mark-Simulacrum commented on #49180
We build stable artifacts approximately once every 6 weeks. While I believe the CI platform we're currently on, Pipelines, does not have strict timeouts, I would rather avoid having to wait for more than the existing 4+ hours for a full stable build. Plus, optimizations in this area are plausibly likely to introduce regressions, right? I guess that might be rare, but I believe it is non-theoretica

[2019-10-03 00:30] gyscos commented on #43087
Would a type alias work in this case?

[code]

I think a type alias works almost identically as a re-export (only it shows up in a different rustdoc category).

[2019-10-03 00:30] Centril opened #65035 "ICE: src/librustc_lint/types.rs:858: unexpected type in foreign function: T"
[code]

backtrace:
[code]

[2019-10-03 00:31] Centril commented on #65035
Related to https://github.com/rust-lang/rust/issues/65025.

[2019-10-03 00:51] HeroicKatora commented on #65005
@Centril True, it would add uncertain complexity. To aid cost/benefit analysis, we're talking about `image >= 0.19` here (I suspect there was no crater run, but do you happen to know what the next one after or including `nightly-2019-09-26` was?). Also placing `warn(const_err)` on the macro block in question would be a suitable (shorterm) fix I suppose, right?

But more generally, doesn't continui

[2019-10-03 01:11] sinkuu commented on #65005
To me this seems like a loophole in what `--cap-lints` wants to achieve. Can `--cap-lints` on the crate where a macro is declared be propagated to macro-expanded spans in downstream crates?

[2019-10-03 01:18] HeroicKatora commented on #65005
@sinkuu Just to clarify, the macro in question is declared in the `image` crate as well, it only helps with redundant implementation details. But the lint failing the build does propagate to downstream consumers, right?

[2019-10-03 01:22] dtolnay commented on #65033
Closing as a duplicate of #64964. I believe this is already fixed in nightly-2019-10-03.

[2019-10-03 01:22] #65033 closed

[2019-10-03 01:29] sinkuu commented on #65005
@HeroicKatora Oh, the failing macro is used only in `image` crate? Then downstream consumers does not break, IIUC. Cargo sets `--cap-lints allow` to (non-path) dependencies, which silences even `deny` lints.

[2019-10-03 01:36] Aaron1011 opened #65036 "Intermittent failure in src/test/ui/reify-intrinsic.stderr"
The test `src/test/ui/reify-intrinsic.stderr` appears to be intermittently changing its output. Usually, it prints:

`unsafe extern "rust-intrinsic" fn(_) -> _ {std::intrinsics::transmute::<_, _>}`

but sometimes it prints:

`unsafe extern "rust-intrinsic" fn(_) -> _ {std::mem::transmute::<_, _>}`

See https://github.com/rust-lang/rust/pull/64906/commits/a4cad414ad42d36adfe27ac4b9271831e8af5125 fo

[2019-10-03 01:42] sailfish009 commented on #61561
with latest rust and gcc (from ubuntu 19.10), this bug looks like solved.

$ ./rustc -vV
rustc 1.40.0-dev
binary: rustc
commit-hash: unknown
commit-date: unknown
host: x86_64-unknown-linux-gnu
release: 1.40.0-dev
LLVM version: 9.0

$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/x86_64-linux-gnu/9/lto-wrapper
OFFLOAD_TARGET_NAMES=nvptx-none:hsa
OFFLOAD_TARGET_DEFAUL

[2019-10-03 01:43] Aaron1011 commented on #43087
I believe this is fixed on the latest nightly.

[2019-10-03 01:43] RalfJung commented on #65000
My main concern with this is that when I make a PR that updates Miri, I usually say it "Fixes: #xxxx" for the issue tracking that Miri is currently broken -- and with this change, that might end up being just wrong (so the issue will need manual re-opening).

[2019-10-03 01:45] RalfJung commented on #65000
The PR landing this contains the statement

(Not sure why that statement is only made there, not in the discussion issue here.)

So is not the case for Miri. When I update Miri, I always intend that to be an update that either fixes Miri or keeps Miri working (but most of the time Miri was broken and gets fixed). Not a single time have I updated Miri when it was broken, and not cared about this fi

[2019-10-03 01:50] Manishearth commented on #65000
Note: that statement was made specifically for clippy, which breaks quite often and sometimes incremental updates are needed.

I do feel that we should make this configurable per-tool.

Note that when you go from broken -> broken this will still leave the warning comment which will let you know that stuff is still broken.

[2019-10-03 01:52] RalfJung commented on #65000
So the intention is to post that comment if the PR *either* regressed the toolstate *or* (updated the submodule and did not fix the tool)?

[2019-10-03 02:00] hbina commented on #60205
Is this issue still available to be picked up? I would like to work on it.

[2019-10-03 02:06] csmoe commented on #60205
@hbina rfc-2229 is paused now, you can subscribe to this workgroup in complier-team repo to get the latest update once it restarts.

[2019-10-03 02:12] Manishearth commented on #65000
Yes

[2019-10-03 02:43] HeroicKatora commented on #65005
@sinkuu I wasn't aware of that and of course only tested by downloading and then adding a path replacement.. That's very calming to know :smile:

[2019-10-03 02:56] Aaron1011 commented on #65036
This is blocking https://github.com/rust-lang/rust/pull/64906 - some builders are printing `std::mem::transmute` while other are printing `std::intrinsic::transmute`, making it impossible to merge.

[2019-10-03 03:48] limira opened #65041 "an empty `:vis` doesn't work in trait declaration"
I want to create a macro that generate `fn`s that use in both `impl Item...` and `trait TraitName`. In `trait`, `pub` must be omitted, but in `impl SomeStruct` I need `pub`, so the macro need a `$vis:vis` like this:

[code]
Expected result: `create_method!(method_of_t1);` in `trait T1` should works.

(**Edit**: a better comment about the `:vis` in `impl Struct`)

[2019-10-03 03:53] talglobus commented on #54727
@Centril why cc this issue?

[2019-10-03 04:21] yodaldevoid commented on #44109
@Centril Is there a recording of said meeting? I would be interested to hear the discussion that lead to this decision.

[2019-10-03 04:24] Centril commented on #44109
@nikomatsakis ^--- iirc you recorded said meeting but it's not uploaded at https://www.youtube.com/playlist?list=PL85XCvVPmGQg-gYy7R6a_Y91oQLdsbSpa yet.

[2019-10-03 04:30] Aaron1011 opened #65042 "Add an unstable 'extra randomization' compile-time flag for hashers"
When working on https://github.com/rust-lang/rust/pull/64906, I ran into a latent dependency on the iteration order of a `HashMap`. This resulted in the PR becoming unmergeable - since a `FxHashMap` was being used, the iteration order ended up differing between platforms, which made it impossible to make the tests pass on all platforms.

It would be nice to have a way of exposing these kinds of hi

[2019-10-03 04:38] gyscos commented on #43087
Indeed! Thanks.

A related question: when pub-using an undocumented `enum` from another crate, I can re-document the `enum` itself but not the variant (similarly for a `struct`, I couldn't document the fields).

Is there a way to add some attribute to `#[doc()]` so that I can document these inner elements from outside?

[2019-10-03 04:47] hbina commented on #60205
@csmoe oh, I didn't know thats a thing. Heading over there now!

[2019-10-03 05:04] anp commented on #47809
I'm eager to pick this up, opened a [PR starting from your branch](https://github.com/rust-lang/rust/pull/65037).

@Centril recommended splitting this into a few PRs, so here are the remaining TODOs I summarized from @arielb1's instructions:

## add separate LLVM path

* [ ] add a `ReifyShim` that is similar to `VirtualShim` in behavior (see #54183)
* [ ] split `ty::Instance::resolve` to `ty::Inst

[2019-10-03 05:07] Firstyear opened #65044 "restrict type parameter `Self` error is unclear."
The following example code yields an error:

[code]

[code]

It's unclear from this error message how to proceed - I'm not sure of the syntax, location, or where I should be putting the "GetString" trait bound.

It should be shown with a better example or link when this error is presented, as the current message is not sufficient for a resolution to be arrived at.

[2019-10-03 05:42] Centril commented on #65044
cc @estebank

[2019-10-03 06:02] #64252 closed

[2019-10-03 06:02] #64957 closed

[2019-10-03 06:02] #65001 closed

[2019-10-03 07:00] anp opened #65047 "UI Tests that check ICEing thread names break with `parallel-compiler = true`"
When I run `./x.py test` locally on a clean checkout of master with `parallel-compiler = true`, I see a couple of failures that seem to be related to the name of the rustc thread which ICEd in the tests. I turned parallel-compiler off, reran the test command, and the tests passed.

Here's the stderr diffs of the failing tests:

[code]

My assumption is that the parallel-compiler flag doesn't resul

[2019-10-03 07:05] mati865 commented on #61561
@sailfish009 it has never affected targets other than windows-gnu.

[2019-10-03 07:56] GuillaumeGomez commented on #64988
I'm not sure it'd fix the initial issue which made us add this auto-parts hiding. We're doing a lot of changes into the DOM so the goal is to not render it in order to make the rendering way faster.

[2019-10-03 08:01] petrochenkov commented on #65029
cc @matklad

[2019-10-03 08:05] Centril commented on #36770
I don't think this tracking issue is actually tracking anything today so I'll close it for now.

[2019-10-03 08:05] #36770 closed

[2019-10-03 08:07] petrochenkov commented on #65031
`librustc` still has a lot of code that's "just implementation code" and not something infrastructural like types or traits used in the rest of the compiler.

If we look e.g. at `rustc/middle`: `resolve_lifetime.rs` - just a pass, can be moved to `rustc_resolve`, `stability.rs` - just a pass, can be moved to `rustc_passes` or something.

[2019-10-03 08:08] goffrie commented on #64792
Fixed by #63508, presumably (it bisected to a rollup).

[2019-10-03 08:21] petrochenkov commented on #65041
@Centril
This looks relevant to https://github.com/rust-lang/rust/pull/64910#issuecomment-536552629 and the parser work you've been doing recently.

[2019-10-03 08:26] petrochenkov opened #65049 "Tracking issue for `Span::mixed_site`"
This is a tracking issue for `Span::mixed_site` API providing direct access to `macro_rules` hygiene to proc macros.

Introduced in https://github.com/rust-lang/rust/pull/64690.

[2019-10-03 08:35] markand opened #65051 "Build with pure LLVM toolchain on Linux"
Hello,

I'm creating a Linux distribution that does not use GCC and use LLVM/Clang and their libraries by default (libc++, libc++abi, compiler-rt and libunwind). No libstdc++ or gcc installed. The distribution is based on musl as well.

I'd like to build rust with that pure LLVM toolchain and since nobody did that before I'm having few issues and unable to find many resource on this topic. Alpine

[2019-10-03 08:46] ishitatsuyuki commented on #49180
I grepped for past PRs and I have no idea what's the current state of distribution builds: it seems the last documented change was https://github.com/rust-lang/rust/issues/45444, which means that `codegen-units=1` and `lto=no`? (Of course that seems a bit old, which is weird.)

What is the current state?

[2019-10-03 09:02] Centril commented on #65041
This bit doesn't seem right; when I remove the `pub` it works (which is expected because the `impl T2 for Struct {` works).

Looking at `fn parse_trait_item_` there seems to be something odd going on. In particular we have:

- `self.eat_bad_pub();`

- `} else if let Some(mac) = self.parse_assoc_macro_invoc("trait", None, &mut false)? {`

   (note the `None` here -- for `fn parse_impl_method` we in

[2019-10-03 09:17] Centril commented on #65041
...actually it's not that odd. This code was likely written before we had the `vis` matcher.

I think what we want to do is to use `let vis = self.parse_visibility(false)?;` in`parse_trait_item_` as well and then do a check right after to see if the visibility is not "empty" -- that would probably fix the issue here and allow us to discuss semantic vs. syntactic errors for `pub fn foo` in trait de

[2019-10-03 09:19] MaskRay commented on #65051
Configure llvm with `-DCLANG_DEFAULT_RTLIB=compiler-rt` so that clang will link against `libclang_rt.builtin*.a` instead of `-lgcc` `-lgcc_s` or `-lgcc_eh`.

[2019-10-03 09:21] jplatte commented on #60804
I'm working on this currently :)

[2019-10-03 09:35] srinivasreddy commented on #65034
I would like to take this.  Okay to raise PR or scheduled for a future release?

[2019-10-03 09:40] markand commented on #65051
Thanks for the answer,

Obviously, my LLVM and clang compiler are already built with those options and that's why by default clang++ will link to libc++, libunwind and use compiler-rt by default without any switches.

See:

[code]

What I suspect is that -lgcc_s is probably "hardcoded" in the bootstrap tools and forced while re-building rustc with this bootstrap itself.

[2019-10-03 10:14] alexander-irbis commented on #65033
Yes, I checked now with 2019-10-03. It is fixed.

[2019-10-03 10:15] mati865 commented on #65051
Correct, IIRC gcc libs were hardcoded in multiple places in the past (don't really know about how it currently is).
You can replace this one with `unwind` but then your toolchain will require compatible libunwind installed in the system https://github.com/rust-lang/rust/blob/ad7c55e1fc55d9af4787b285cec1c64e3480ae84/src/libunwind/lib.rs#L25

[2019-10-03 10:16] markand commented on #65051
For the moment, I'm fooling the build process by creating a fake libgcc_s.so which simply contains:

[code]

It's a bit hackish but I went further into the build process now.

[2019-10-03 10:30] the8472 commented on #64988
The content of details is hidden by default, only the summary is shown until you open it. So it would keep that property

I don't see any problems though

|  | IE | Edge | Browsers with `<details>` support |
| ------------| ------------ |------------ | -------------|
| javascript | CSS, JS solution<br> as good as current | CSS, JS solution<br> as good as current | `<details>` + JS solution, better

[2019-10-03 11:08] GuillaumeGomez commented on #64988
The advantage of the current situation is that it works on all supported browsers whereas `details` would just show everything and slow down the page rendering on old web browsers which are already the slowest. Once we drop old browsers support, I'm all for it but for now, not too much like I said...

[2019-10-03 11:27] Mark-Simulacrum commented on #65042
Isn't the correct way to deal with this to ... not use hashmaps? Like, FxHashMap is known to have an unstable iteration order, so we should either a) replace it with something that has a stable iteration order (maybe IndexMap, or I saw on Discord that this might have something to do with 32-bit vs. 64-bit systems hashing differently...).

I think this feature as-is isn't tenable, it's just too pro

[2019-10-03 11:28] the8472 commented on #64988
Details does not show things by default unless you add the [`open` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Attributes).

The same behavior can be implemented in old browsers with CSS rules. Javascript would only have to toggle the attribute.

<details><summary>Lorem ipsum </summary>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et sem et lacu

[2019-10-03 11:35] eddyb commented on #47809
A good example of this that landed recently is the `VaList` you get for something like this:
[code]

There it's `c_variadic` in the signature, instead of an attribute, but it's similar in that HIR and MIR bodies have one more input than the signature and a bunch of places have to account for it (see #63492).

[2019-10-03 11:38] the8472 commented on #65042
Instead of randomized iteration order you could start at a randomized offset and wrap around, that should be more cache-friendly than fully randomized memory accesses.

[2019-10-03 11:56] Mark-Simulacrum commented on #65000
We can fairly easily make this change exclusive to some tools, e.g. maybe even just clippy for now, since most of the books get updated somewhat rarely in one rollup submodule bump PR.

I would personally want to see the issue get closed by the "bot" when we go back to working toolstate, leaving comments on the issue for every change to the relevant submodule, regardless of whether it actually cha

[2019-10-03 12:08] pnkfelix commented on #65047
triage: P-high, since fixing this is presumably high impact for WG-parallel-rustc. Removing nomination label.

[2019-10-03 12:09] mati865 commented on #65047
Would it be enough to normalize output of those two tests similarly to this? https://github.com/rust-lang/rust/blob/0221e265621a5fcc68ca62bdcdeabad1882a0e9a/src/test/ui/consts/miri_unleashed/mutable_references_ice.rs#L4

[2019-10-03 12:09] pnkfelix commented on #65047
(also, I'm tempted to remove the ICE label. Its a little weird that we have tests that are checking the output format of ICEs, but regardless of that, this bug is *not* about addressing any ICEs in the compiler itself.)

[2019-10-03 12:10] pnkfelix commented on #65047
Yes I suspect something like that might well suffice.

[2019-10-03 12:11] the8472 commented on #65042
Isn't the actual issue that `FxHashMap` doesn't use `RandomState`, i.e. that the iteration order appears to be the same for all instances on a platform? In the hierarchy of *per-platform -> per-execution -> per-instance -> per-iteration* couldn't the issue also have been avoided if it were randomized per-execution or per-instance?

Per-iteration randomization may lead to unexpected results such as

[2019-10-03 12:11] pnkfelix commented on #65047
(I'm willing to mentor fixes to this bug. I suspect there are very easy solutions available.)

[2019-10-03 12:14] GuillaumeGomez commented on #64988
That doesn't answer my concerns at all:

[2019-10-03 12:15] pnkfelix commented on #65042
triage: leaving nominated for discussion, to see if there is any buy-in from any compiler team members. W.r.t. priority... I'll leave this unprioritized for now. (My instinct is that it is P-low, but if that's the case, that's ammunition for just closing it.)

[2019-10-03 12:17] nagisa commented on #65034
You are welcome to implement this, but bear in mind that this issue is my personal feature request and there is no guarantee T-libs will accept it.

[2019-10-03 12:24] pnkfelix commented on #65035
triage: P-medium, removing nomination label.

[2019-10-03 12:25] pnkfelix commented on #65025
triage: P-medium. removing nomination label.

[2019-10-03 12:27] Centril commented on #65035
Curiously, this seems specific to `static`s... `fn` items correctly error:
[code]

[2019-10-03 12:30] pnkfelix commented on #64872
triage: P-high for now (until I can prove to myself it deserves lower priority). Removing I-nominated label. Assigning to self.

cc @alexcrichton and @michaelwoerister

[2019-10-03 12:34] pnkfelix commented on #64867
triage: P-medium. I am not thrilled that highfive is assigning seven people to the bug.

@Manishearth can we narrow the assignment down to a smaller set of people who will assume responsibility (and that I could follow-up with in the future if necessary?)

[2019-10-03 12:35] the8472 commented on #64988
simplified compatibility shim for IE, omitting the caret styling:

[code]

This way it would not show everything by default and still would have to be unfolded via JS, exactly the same as today. No negative impact on rendering performance.

[2019-10-03 12:39] pnkfelix commented on #64855
triage: P-high, removing nomination label (has PR).

[2019-10-03 12:42] pnkfelix commented on #64848
triage: P-medium. Removing nomination label.

[2019-10-03 12:43] pnkfelix commented on #64821
cc @Xanewok

[2019-10-03 12:44] pnkfelix commented on #64821
triage: P-high. Removing nomination label.

[2019-10-03 12:45] hbina commented on #65047
I will try to reproduce this error, if I can I want to try to take it down!

[2019-10-03 12:50] pnkfelix commented on #64908
Cc me

[2019-10-03 12:52] flip1995 commented on #64867
This issue can be closed, since Clippy toolstate is currently test-pass (fixed in #64963) https://rust-lang-nursery.github.io/rust-toolstate/

Maybe we could add a list of "fixers", which are not necessarily maintainers, to the script:
https://github.com/rust-lang/rust/blob/0221e265621a5fcc68ca62bdcdeabad1882a0e9a/src/tools/publish_toolstate.py#L24-L27
"fixers" are then people who regularly do rus

[2019-10-03 12:53] #64867 closed

[2019-10-03 13:01] sanxiyn commented on #64355
Closing as a duplicate.

[2019-10-03 13:01] #64355 closed

[2019-10-03 13:04] pnkfelix commented on #64343
there's a planning meeting scheduled to discuss debuginfo; this will hopefully be addressed as part of that. See https://github.com/rust-lang/compiler-team/issues/186

[2019-10-03 13:06] pnkfelix commented on #64343
self-assigning to at least look into this as part of prep work for aforementioned planning meeting.

[2019-10-03 13:07] pnkfelix commented on #64153
nominating for discussion at T-compiler meeting, in hopes of finding someone to address this.

[2019-10-03 13:15] pnkfelix commented on #63959
triage: @mati865 are you still looking at this? should I try to identify someone else with this hardware setup who might be able to help further?

[2019-10-03 13:16] pnkfelix commented on #63154
(haven't had a chance yet to look at htis.)

[2019-10-03 13:18] pnkfelix commented on #63150
its hard to act on cases like this since its very difficult to reproduce incremental compilation bugs based solely on a snapshot of the source code. Normally we need a transcript of some delta (preferably small)  between versions of the code in order to have a hope of reproducing the bug locally

[2019-10-03 13:20] petrochenkov commented on #64803
I'll try to look at this during the weekend.
This is not a regression, so the priority is probably not especially high.

[2019-10-03 13:23] pnkfelix commented on #62896
(Note There is the workaround of using codegen-units=1 . Its not ideal by any means, but there's a lot of work to go around and sometimes fall through the cracks.)

[2019-10-03 13:32] pnkfelix commented on #62742
nominating for reassignment.

[2019-10-03 13:33] pnkfelix commented on #62649
reassigning to self

[2019-10-03 13:35] spastorino commented on #65023
The following change could be used as a workaround ...

[code]

[2019-10-03 13:37] pnkfelix commented on #61560
nominating for reassignment (want to get things that can be delegated off my plate)

[2019-10-03 13:45] pnkfelix commented on #61323
triage: Downgrading to P-medium. I still want to resolve this, but it simply does not warrant revisiting every week during T-compiler triage.

[2019-10-03 13:50] pnkfelix commented on #61188
triage: this is probably easy to resolve but I have not had time myself to write up mentorship instructions. Marking bug accordingly (i.e. "need-mentor" is to be interpreted as "if you are willing to help make some instructions, I'd love it...")

[2019-10-03 13:51] pnkfelix commented on #60363
assigning back to self for initial investigation

[2019-10-03 13:56] pnkfelix commented on #58017
triage: I personally don't think this should be P-high, as in I don't think it should be part of the triage docket for T-compiler every week.

But I won't downgrade it yet.

First, lets tag it as E-needs-mentor, and see if anyone steps up to provide instructions for a solution here.

[2019-10-03 13:56] nikomatsakis commented on #62742
I can look at it, although maybe @tmandry might be a good fit, too.

[2019-10-03 13:57] sitius2 opened #65058 "Type Inference issue with Option<Box<dyn Trait>>"
My current project uses a wrapper struct that wraps every occuring error in a struct that has a field of the type Option<Box<dyn std::error::Error>>. During implementation of the From<*> traits I encountered the issue shown in the picture:
![Screenshot 2019-10-02 at 20 12 35](https://user-images.githubusercontent.com/35724051/66131987-a4bad780-e5f4-11e9-9158-26bcdc835ccc.png)

However, when I move

[2019-10-03 13:59] pnkfelix commented on #57373
triage: downgrading to P-medium because having this in weekly triage does not make sense.

[2019-10-03 14:06] Lokathor commented on #62896
(Note that work around _doesn't_ actually always work around the problem)

[2019-10-03 14:11] alexcrichton commented on #49180
@nnethercote to add to what @Mark-Simulacrum already mentioned I personally think we also derive a lot of value from stable/beta/nightly releases all being produced exactly the same way. That way we can exclude a class of bugs where stable releases are buggy due to how they're built but beta/nightly don't have the same bugs. (for example this would help prevent a showstopper bug on either beta or

[2019-10-03 14:22] jonas-schievink commented on #65058
This is expected behavior, also see the nomicon chapter on coercions: https://doc.rust-lang.org/nomicon/coercions.html

[2019-10-03 14:22] #65058 closed

[2019-10-03 14:32] mati865 commented on #63959
I'll try to find time to setup environment with older C toolchain today (to workaround https://github.com/rust-lang/rust/issues/61561).

[2019-10-03 14:48] bjorn3 opened #65059 "line num capped to 2 digits in errors"
[code]

Compare `sysroot_src/src/libtest/lib.rs:1627:42` with `16|     let result = Ok(testfn());`.

[code]

[2019-10-03 14:49] nikomatsakis commented on #65042
Some thoughts:

* I could see something like this being useful with flushing out non-deterministic in builds
* But maybe we could instead have a lint (clippy-style) against iterating over a `FxHashMap` at all? We could set it to deny in the compiler crates
* Then we would provide a `unordered_iter` method where you're expected to comment why the ordering doesn't matter
* Or else you should use an

[2019-10-03 14:49] nikomatsakis commented on #65042
(It seems like a less intrusive and more reliable way of solving the problem.)

[2019-10-03 14:49] nikomatsakis commented on #65042
During the meeting I said that a design meeting felt like overkill, but I'm mildly changing my mind here. =) It seems like it could be fruitful to put some thought into the best way to solve this category of bug in general.

[2019-10-03 14:50] alexcrichton commented on #64872
Would it be possible to get a reduced test case that involves just poking around rustc to work with?

[2019-10-03 14:54] bjorn3 commented on #64872
@alexcrichton https://github.com/rust-lang/rust/issues/64872#issuecomment-536184496 has been my reduced test case for now. I tried to reproduce it with a standalone example, but I failed. I may be able to reduce it more in a few days, when I get to use a macOS again.

[2019-10-03 14:56] alexcrichton commented on #64872
Ah true yeah, but I'm also curious if this can be reproduced without using the cranelift backend, because it seems like this could be a bug in that backend vs in the common shared code?

[2019-10-03 14:58] anp opened #65060 "`incremental = true` as the default in config.toml?"
I'm curious whether it would make sense for `incremental = true` to be the default for rustbuild in the absence of another setting.

Per @eddyb on IRC:

[code]

Searching around for incremental-related compiler perf issues it does seem to me that most of them are closed.

[2019-10-03 14:59] Mark-Simulacrum commented on #65059
There is already a fix in-queue for this I believe (possibly even landed) and this is a duplicate of another issue.

[2019-10-03 14:59] #65059 closed

[2019-10-03 15:00] bjorn3 commented on #64872
It can be reproduced without the cranelift backend. I thought that it was a bug in the cranelift backend at first, but when I couldn't find a difference between cg_llvm and cg_clif, I tried to use cg_llvm, which failed too. Running `cargo build` is enough. I linked to the cg_clif repo, because I know that that specific setup to compile libtest fails.

[2019-10-03 15:05] limira commented on #65041
Sorry for the confusion by the comment. I edit the post, hope it is better now!

[2019-10-03 15:08] alexcrichton commented on #64872
Ok I want to poke around, but it doesn't currently reproduce because patches fail. Would it be possible to fix that and/or try to reduce further to not require a bunch of rustup stuff and patching sysroot files directly?

[2019-10-03 15:10] Daniel-B-Smith commented on #65008
After additional testing, that appears to be the case. I was thrown off since that Dockerfile works as expected for the mass majority of cases. My apologies for the noise.

[2019-10-03 15:10] #65008 closed

[2019-10-03 15:18] eddyb commented on #65060
cc @Mark-Simulacrum

[2019-10-03 15:18] bjorn3 commented on #64872
I am not sure if those patches are actually required to reproduce the problem. I am currently working on fixing the patches though.

[2019-10-03 15:22] bjorn3 commented on #64872
Pushed a new set of patches.

[2019-10-03 15:22] Mark-Simulacrum commented on #65060
We can definitely make incremental the default and just switch it off on any build configured with a non-dev channel. I think that's all CI, not sure, can confirm.

[2019-10-03 15:28] markand commented on #65051
I got further in the build with the fake libgcc_s.so file and the proposal to change gcc_s in lib.rs file from libunwind. But it looks like something is still not linked to LLVM's libunwind because after stage1 I get:

[code]

[2019-10-03 15:50] mati865 commented on #65051
@markand could you paste here output of `ldd rustc-1.37.0-src/build/x86_64-unknown-linux-musl/stage1/lib/librustc_driver-297236e98e3b11ce.so`?

[2019-10-03 15:55] nmattia opened #65061 "x86_64-unknown-linux-musl: bad linker for target and unknown __fprintf_chk symbol"
I'm trying to build a static musl target from source. I'm using the source release for 1.38.0. Here's the build config for `x.py`:

[code]

the output is a bit verbose but basically `build` and `host` are `x86_64-unknown-linux-gnu` and `target` is `x86_64-unknown-linux-musl`. The generated `rustc` cannot link a simple main.rs (`fn main() {}`):

[code]

The first odd thing is that the `linker` is _

[2019-10-03 15:55] markand commented on #65051
There are lot of missing symbols.

[code]

It clearly isn't linked to libunwind as readelf shows.

[code]

[2019-10-03 15:56] llogiq opened #65062 "Suggest &mut T for &T and vice versa for missing trait bound if applicable"
As seen on [Twitter](https://twitter.com/khyperia/status/1179518655790374912?s=19):

Missing trait does not hint (im)mutable reborrowing, at least in that specific case.

[2019-10-03 15:58] hbina commented on #65047
Tested it on Ubuntu 18.04, and it did panic. Waiting on instructions, I have little clue as how to proceed.

[2019-10-03 16:03] Aaron1011 commented on #65042
@Mark-Simulacrum  The idea here is to detect incorrect dependencies on HashMap iteration order. Unless you're suggesting removing *all* HashMaps from the compiler, I'm not really sure what you mean,

@the8472: Yes, I believe that the issue would have been expoesd earlier if `FxHashMAp` used `RandomState`.

@the8472: That's fine - the point of this is to catch issues, not to be actually be used by

[2019-10-03 16:05] GuillaumeGomez opened #65063 "Port rust python scripts to python3"
Since python2 support will stop at the end of the year, I think it's time to move on. Will send the PR tomorrow.

[2019-10-03 16:08] Mark-Simulacrum commented on #65042
Well, to be more concrete, we have ways of dealing with "iteration order is unstable". For example, Niko [mentions](https://github.com/rust-lang/rust/issues/65042#issuecomment-537979113) that we could fairly easily lint against iterating over hashmaps, and provide a `iter_unordered()` and friends within the compiler. That to me sounds like a much more likely way to expose these problems in an easy

[2019-10-03 16:14] #60424 closed

[2019-10-03 16:27] Manishearth commented on #64867
@pnkfelix I'm not sure I understand why the compiler team would ever need to follow up on these. Perhaps these autocreated issues should also be autotriaged?

Either way,  you can consider @oli-obk and me as the people to contact

[2019-10-03 16:30] Mark-Simulacrum commented on #65063
We will want to also track LLVM pretty closely here.

[2019-10-03 16:32] BO41 commented on #52378
https://github.com/rust-lang/rust/blob/master/Cargo.toml#L33

mentions LLVM7.0. Rust recently [update to LLVM9.0](https://github.com/rust-lang/rust/pull/64634).
So is this still an issue?

[2019-10-03 16:37] mati865 commented on #65051
This is expected, at least when it comes to missing Rust libraries. You'd have to set `LD_LIBRARY_PATH` to avoid it but it doesn't matter right now.

I'd expect it to be linked at this point but I can be wrong.

---

IIRC libunwind doesn't provide `_Unwind_Resume` on it's own but relies on `libgcc` or `compiler-rt`. I assume that's why it's missing.
Can you confirm your libunwind or one of the lib

[2019-10-03 16:42] jonhoo commented on #59278
@sekineh nope, not currently working on a PR

[2019-10-03 16:49] hbina commented on #64165
Hello, I would like to work on this, but I am not entirely sure what to do here? Should I manually remove the duplicate tests from this "text" file?

[2019-10-03 16:49] cuviper commented on #65047
Yes, and I have a commit to add thread names in #64358, https://github.com/rust-lang/rust/pull/64358/commits/4152abe49492a8f95293ddd9a980948a6e080aba. We could easily apply that separately without waiting for the new rustc-rayon to be published.

[2019-10-03 17:13] lqd commented on #61560
I can repro on `lv2rs-core`, but looking at the logs, this was interesting:

Before:
[code]

After:
[code]

This suggests a rustdoc change that detects more tests rather than resolution changes.

Started failing in `1.36.0`.
Bisected to `nightly-2019-04-24`, and commit 0550766699a6602a51e361e8cb2825b540b7cce8 which is an update to rustdoc's markdown parser.

In this case, I think the old tests did

[2019-10-03 17:34] lqd commented on #61560
Looking around similar issues, there's #61562 and [this comment](https://github.com/rust-lang/rust/issues/61562#issuecomment-499643833) mentioning the same theory.

Puzzling, the code in the specific `lv2rs-core` doctest may have been ... correct ? `cargo test` still fails on 1.37.0 but passes on 1.38.0, or the latest nightly for example.

@pnkfelix what do you want to do with this issue ?

[2019-10-03 17:37] mgostIH opened #65065 "Error while building rustc on Windows MSVC (cl.exe returns 2)"
Building with x.py on Windows, I already have Rust working thru rustup, but I wanted to build a patched rustc.
However this error comes before stage1 begins and is related to cl.exe not compiling something I haven't touched; I made sure to update all the submodules with git and solved some errors I had with earlier stages of bootstrapping, but I don't know how to fix this.

Run with RUST_BACKTRACE

[2019-10-03 17:39] cramertj commented on #60728
@rust-lang/libs is there any opposition to stabilizing at least `.as_raw()`? It's hard to imagine wanting that function looking any different than it does today, and it's pretty useful (I don't know another way to deduplicate weak pointers to the same object).

[2019-10-03 17:40] lnicola commented on #39915
For anyone ending up here, the magic incantation is `RUSTFLAGS="-C link-arg=-fuse-ld=lld" cargo build`.

[2019-10-03 17:44] mati865 commented on #39915
@lnicola note it works only when using GCC 9 or Clang as CC.

[2019-10-03 18:38] Nokel81 commented on #44109
I know that I didn't participate in the RFC discussion (only learned about it later) but would adding an attribute on the wildcard pattern to warn if there are any unimplemented variants be within scope?

[2019-10-03 18:51] markand commented on #65051
Thanks again for the quick answer, libunwind.so has `_Unwind_Resume` symbol, yes.

[code]

[2019-10-03 18:55] nikomatsakis commented on #64633
This is how it currently looks, and I think it's "good enough". Going to close the issue.

![image](https://user-images.githubusercontent.com/155238/66155518-ccf30800-e5ed-11e9-8112-c9780ec32dd9.png)

[2019-10-03 18:55] #64633 closed

[2019-10-03 19:54] estebank commented on #65062
dupe of https://github.com/rust-lang/rust/issues/63619

[2019-10-03 19:54] #65062 closed

[2019-10-03 19:54] estebank commented on #63619
CC https://github.com/rust-lang/rust/issues/37914

[2019-10-03 19:58] pnkfelix commented on #61560
@lqd it sounds to me like something we can either  hand off to the T-rustdoc team, or simply close outright.

[2019-10-03 20:15] #64855 closed

[2019-10-03 20:19] lqd commented on #61560
OK, I'll keep bisecting the other crates, and also check if the failures reproduce on recent stables/nightlies, to see if we need to open more specific issues, and/or hand this one to T-rustdoc.

[2019-10-03 20:29] pnkfelix commented on #31434
There is #62614, which is a bug that led us to rollback on #62411 . We should fix both of those things.

I'm not sure what the plan is with respect to exhaustiveness checking, but that check-box remains unchecked.

[2019-10-03 20:44] pnkfelix commented on #59790
nominating: I want to know if there's actual action items here that we are planning to take, or if we are going to consider this an artifact of an (exceptional?) process failure.

[2019-10-03 21:03] petrochenkov opened #65071 "`x.py test` generates several `dot` files in the source directory root"
[code]

If they are necessary, then they should be generated somewhere inside the build directory.
cc @ecstatic-morse

[2019-10-03 21:58] mati865 commented on #63959
Status update:
I built current master for `windows-gnu` with `verify-llvm-ir` and assertions for both rustc and LLVM but it does *not* reproduce the crash.
I can still reproduce in on nightly though.

[2019-10-03 22:06] mgostIH commented on #65065
Apparently I was able to overcome this one issue by downloading the latest VC++ build tools and running `python x.py build` from the dev console, however now the problem comes in the next pass, still related to LLVM, except here the linker is failing with a different error message, possibly related to some UTF8 encode error, as I tried switching to the x64 version of cl aswell by changing the PATH

[2019-10-03 22:13] abonander commented on #53487
Can we patch all error types in the stdlib to capture backtraces now? At least `io::Error::new` if nothing else, I think. The trace will end up in `src/sys` most of the time but it should still provide a lot of helpful context. Maybe we could figure out how to drop frames from the trace which are just implementation details in the stdlib (the same way panic traces shouldn't show a bunch of frames

[2019-10-03 22:17] davemilter commented on #53639
May be I don't undernstad something, but this is not true.

Let's take for example JNI aka [Java Native Interface](https://en.wikipedia.org/wiki/Java_Native_Interface), this is the way to make possible to call "native" code via C API from Java.

The common way to deal with this API is to cache references to Java classes/methods in function `JNI_OnLoad` in your cdylib crate, un-cache in`JNI_OnUnloa

[2019-10-03 22:29] AnthonyMikh commented on #65059
Indeed: this issue is duplicate of #65001 and was fixed in #65010 that was included in rollup #65038

[2019-10-03 22:42] retep998 commented on #65065
When you run in the dev console there are many environment variables that are set that are architecture specific, not just `PATH`. Since it looks like you used the 32-bit dev console but are building for 64-bit, there's a mismatch and stuff fails to link. If you're going to use the dev console make sure you use the 64-bit dev console.

[2019-10-03 22:44] nagisa commented on #53639
I’m by no means a person to debate Java implementations, but a quick search suggests that JVM does not synchronize calls to `JNI_On{,Un}Load`. If this is indeed true, that would make your example racy without additional locking and is therefore an example of incorrect use.

[2019-10-03 22:45] retep998 commented on #53639
The cost of using an atomic is negligible especially when there is no contention (and if there was contention then not using an atomic would be UB) and even more so when it is a relaxed atomic (literally exact same instruction as a non-atomic access on x86).

Also Java inherently makes *all* reads and writes relaxed atomic operations by default to prevent data races.

[2019-10-03 22:57] cuviper commented on #65063
AFAIK they all work with python3 already, so this would mostly be a matter of defaults, like the `#!` line in `x.py` and the `try` commands in the `configure` script. Plus CI updates to install python3 at all.

Installed scripts like `rust-gdb` and `rust-lldb` need to match whatever is used by that debugger on the target system -- it's best IMO if we can keep those bilingual for python 2/3. For ex

[2019-10-03 23:02] davemilter commented on #53639
@nagisa @retep998

Your comments looks odd. May be I need example:

Rust code:

[code]

`JNI_Onload`  is called before JVM call other methods, like `Java_org_example_Foo_do_1f1` which is  `Foo.do_f1` on Java language. So there is no need for synchronization. The other methods may be called from different threads, this is depend on Java program, but it has only read-only access to global variables.

[2019-10-03 23:07] davemilter commented on #53639
@retep998

This is obviosly not true, each access would contains check like this:

[code]

if the cost of it would be negletable, then cost of bound check for array access would be also negeltable, this is also just check:

[code]

but bounds checking sometimes 2x slow down, so why read only atomic check can not cause such problem?

[2019-10-03 23:32] Mark-Simulacrum commented on #65063
So we probably want to switch our CI and such to use python 3 by default but be careful when accepting patches to ensure compat with python 2, right? Is that a correct read of the situation?

[2019-10-03 23:40] AnthonyMikh commented on #28481
Do we currently have any specific requirements to field drop order for this method? The docs are too vague. This can actuallly cause problems. For example, [the following code](https://play.rust-lang.org/?gist=83bb4d5741dc4105ce86498085b10ae5):

[code]

prints:

[code]

, but if we uncomment custom implementation of `clone_from`, then it prints:

[code]

This can break the code which relies on spe

[2019-10-03 23:42] retep998 commented on #53639
@davemilter

What atomic check are you talking about? Atomics are simple primitives that can be initialized at compile time, so there's no initialization checks on atomics.

[2019-10-04 00:13] KrishnaSannasi opened #65078 "Some bounds on associated types prevent object-safe"
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b33e91b1b5bbcc0de0a646cf9622f74c)

[code]

Doesn't compile with the error,

[code]

But this doesn't make sense, because `Self` (being the type erased thing in `dyn Foo`) is never referenced in *any* bound. `Self::Bar` is referenced, but this should be fine in a object-safe trait because all associated types have

[2019-10-04 00:14] Boscop opened #65079 "unboxed_closures syntax is not consistent"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=02e56c54b3189d4098e6dc06550461e5

[code]

[2019-10-04 00:16] estebank commented on #64165
@hbina thank you for wanting to help. Sadly this was already fixed in https://github.com/rust-lang/rust/pull/64937 a couple of days back. Feel free to look at other tickets labeled `E-easy` and `E-mentor` for good first tickets to work on!

[2019-10-04 00:16] #64165 closed

[2019-10-04 01:28] csmoe commented on #65079
[code]
it's not a valid closure_sig, should be the  same as the one you written in `fn a()`:
[code]
so they are consistent actually.
note: `A(...)` vs `A<...>`

[2019-10-04 01:28] #65079 closed

[2019-10-04 01:30] dtolnay opened #65080 "TokenStream manipulations are 1000x too slow"
Context: https://github.com/illicitonion/num_enum/pull/14
Switching a proc macro from being token-based to operating on strings with just a final conversion from string to TokenStream can be a 100x improvement in compile time. If we care that people continue to write macros using tokens, the performance needs to be better.

I minimized the slow part of the num_enum macro to this benchmark:
https:/

[2019-10-04 01:33] cuviper commented on #65063
Yep -- maybe even leave one CI deliberately on python2.7 to be sure.

[2019-10-04 02:29] Mark-Simulacrum commented on #65080
This is (AFAICT) from a brief analysis because the code appears to be allocating a fresh vector for the entire tokenstream each time we append one token. I believe that is because our `Extend<TokenTree> for TokenStream` implementation maps the token tree to a token stream with two elements: [tree, and `NonJoint`](https://github.com/rust-lang/rust/blob/032a53a06ce293571e51bbe621a5c480e8a28e95/src/l

[2019-10-04 02:31] Mark-Simulacrum commented on #65080
cc @nnethercote as well

[2019-10-04 02:40] nagisa commented on #65061
This is expected – this flag will be used to link the rustc itself, not the programs that will be subsequently built by Rust. I don’t recall there being a way to set default linkers like these at compiler build time and I doubt we want to support that use-case.

I’m amused by the `__fprintf_chk` issue. I suspect that something somewhere ended up using the `glibc`’s headers when building libunwind.

[2019-10-04 02:43] nagisa commented on #65061
Knowing this is nix, it is plausible that the gcc wrapper that you supply as the musl gcc might have references to the gcc libraries?

[2019-10-04 03:20] nnethercote commented on #49180
I agree that we should release what we regularly test. Thanks for pointing that out.

[2019-10-04 03:35] #60218 closed

[2019-10-04 03:35] #61524 closed

[2019-10-04 03:35] #61631 closed

[2019-10-04 03:36] rust-highfive opened #65084 "`rls` no longer builds after rust-lang/rust#65076"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65076, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @tmandry, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @tmandry, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-10-04 03:36] rust-highfive opened #65085 "`rustfmt` no longer builds after rust-lang/rust#65076"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65076, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @tmandry, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @tmandry, the PR reviewer, and @rust-lang/compiler --

[2019-10-04 03:42] lopopolo opened #65086 "Ephemeral borrow on a RefCell that extracts a Copy struct member in func argument position does not drop the borrow before making the funcall"
Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=be4dfa9fda3dbe2c8ccb42c3785bd658

This code panics and I do not think it should.

[code]

[2019-10-04 03:51] lzutao commented on #65085
Breakage by #64690

[2019-10-04 04:22] eddyb commented on #65080
I remember the FIXME but I also remember this not being that big of a problem for some reason. I guess if the first impl wasn't ending up using the second impl, it would be faster?

`TokenStreamBuilder` could totally take individual `TokenTree`s as well, AFAIK, and you could at least keep one builder for the entire `extend` (but if it's called with `iter::once(tt)` that would require even more opt

[2019-10-04 04:27] eddyb commented on #65080
One nice way of doing this (if all else fails) is representing `TokenStream` on the server side (for proc macros not rustc in general) as `TokenStream | TokenStreamBuilder` and finishing the builder when any of the `TokenStream` methods are used which we can't easily implement on the builder itself.

[2019-10-04 06:19] nnethercote opened #65088 "Add support for `-Ztimings` to `x.py`"
Cargo's new experimental `-Ztimings` flag is really cool. See [here](https://gistpreview.github.io/?74d799739504232991c49607d5ce748a) for sample output. It would be great to add support for this to `x.py`. It would help a lot with #65031.

I tried and failed to get `-Ztimings` working with rustc, according to some instructions [here](https://internals.rust-lang.org/t/exploring-crate-graph-build-ti

[2019-10-04 06:56] rkruppe commented on #64223
I just realized, if we cared enough we could also provide our own equivalent of these functions in src/rustllvm (and just remove them when we drop LLVM 6 support). The C API was just lagging behind, the C++ APIs have supported it for much longer.

[2019-10-04 07:11] he32 commented on #62558
Confirming this is still broken on at least NetBSD with rust 1.38.0, even after applying the patch given in #64862 (build errors listed as a comment there).

[2019-10-04 07:12] vorner commented on #60728
When you bring it up, what needs to be done for stabilizing it all? The API follows the one on `Arc`, so I don't think any of this could look differently.

There's the problem with unsized `T`s ‒ currently, they are simply not supported (because of the interaction with dangling & null pointers). But relaxing the restriction later would be backwards compatible change, so I don't think a decision wh

[2019-10-04 07:53] mitsuhiko opened #65090 "Star Import Precedence Regression in Beta"
The goblin tests started failing in beta because there seem to be a change in order for how star imports are applied. This PR changes the imports so nothing shadows any more: https://github.com/m4b/goblin/pull/184

Annoyingly I cannot produce an isolated test case that shows this behavior.

[2019-10-04 07:58] msizanoen1 commented on #62558
For somebody looking for a temporary hack: https://github.com/termux/termux-packages/issues/4324#issuecomment-538288499

[2019-10-04 07:59] petrochenkov commented on #65090
Doing a bisection here would be very helpful.

[2019-10-04 08:01] petrochenkov commented on #65090
I don't recall any changes to globs specifically, so perhaps this is an accidental effect from some other change.

[2019-10-04 08:54] mitsuhiko commented on #65090
I'm completely at a loss here. I thought I could reproduce it with this, but I cannot. The issue comes the moment the `dynamic::Dyn` gets imported into the inner modules that are created by the macro expansion but an isolated test does not show it.

I'm also not sure how this can be bisected.

[2019-10-04 09:24] jonas-schievink commented on #65086
Temporaries like `interp.0.borrow()` live until the end of the containing statement (in this case, the call to `func`), so this is expected behavior.

[2019-10-04 09:24] #65086 closed

[2019-10-04 09:39] chessnokov opened #65093 "Is panic message stabilized?"
Can I parse output from a program "**thread** 'main' **panicked at** '**called** `Result::unwrap()` on an `Err` value: ()" to detect what panic has occurred?

[2019-10-04 09:41] oli-obk commented on #53639
@davemilter

Deprecating `static mut` would in no way invalidate your use case (or make it less performant). You wouldn't have additional runtime checks, but instead you can encode your unsafe expectations in your code:

[code]

The additional atomic operation requires zero additional overhead on `x86` and even on platforms where it would have some overhead, that is negligible (especially compared

[2019-10-04 09:47] nmattia commented on #65061
@nagisa you're absolutely correct. I fixed that and now everything builds fine. Thanks!

I'm somewhat confused. I thought "target" related to "runtime", but I've never fully grasped the cross-compiling terminology. Is the following correct?

* build (cc,cxx,linker): used when building the dependencies (llvm, etc) of the stage(1,2) compilers.
* host (cc,cxx,linker): used when build the stage(1,2) c

[2019-10-04 09:47] #65061 closed

[2019-10-04 09:51] mitsuhiko commented on #65090
This is a minimal repo. It requires the `SizeWith` macro from the `scroll` crate:

[code]

`cargo-expand` claims this expands to the following

[code]

[2019-10-04 09:56] mitsuhiko commented on #65090
This to me looks like a bug that was fixed actually. Because removing the `def_test!` macro and inlining what it expands to makes this code also fail on stable.

[2019-10-04 10:04] mgostIH commented on #65065
Using the x64 dev console seemed to help, as now I started getting on stage 1.
However soon after there's linker errors regarding symbols not being resolved when building hashbrown:
[code]

[2019-10-04 10:06] petrochenkov commented on #65090
Thanks for minimizing, I'll try to look at this during the weekend.

FWIW, we have existing bugs (not regressions) with globs that try to import something macro-expanded (https://github.com/rust-lang/rust/issues/56593), perhaps some change made that bug to appear (or disappear) for this code.

[2019-10-04 10:19] lqd commented on #61560
Update:
- `oysterpack_testing-0.1.2`, reproduces on the `beta-2019-05-30` tested in this crater run, but does not reproduce for the released 1.36 (or nightly), so it seems already fixed.
- `test-generator-0.2.2`, the setup seems complicated, there are proc_macros to help writing tests. These doctests rely on the unstable `#[bench]` feature, and was accepted e.g. on 1.35. It fails on `beta-2019-05-

[2019-10-04 10:29] davemilter commented on #53639
@retep998

I am talking about std::sync::Once or analog from crate on crates.io that can be used
instead of `lazy_static`.

@oli-obk

Actually real code looks like:
[code]

And you can use these variables in loop.

For example if you want to call callback (Java call Rust code and Rust code call Java callback)
in the loop you need access this cached variables in the loop.

[code]

So this is not "o

[2019-10-04 10:38] lqd commented on #64266
`#[deny(soft_unstable)]` is on by default, but the error message ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f24c5d070928af2b2c38e8e55b6757da)) still has a lint-like note warning mentioning it will become a hard error in the future:
[code]

 do we need an issue for this ?

[2019-10-04 10:41] eddyb commented on #61631
I was talking about `Self` as an "alias" for `Adt<generics...>` *or* `Type` (in an `impl`), *not* an implicit parameter.

The reason we should disallow it in ADTs' type parameter defaults is because it contains *all* the parameters by necessity and expanding it by hand would always produce an error anyway.

[2019-10-04 10:46] crlf0710 commented on #65031
On my windows box, crate `rustc` takes about 2000 seconds to build... Grateful to anything that makes the compilation process faster.

[2019-10-04 11:00] oli-obk commented on #53639
You can use a single static for all values and you can fetch the value once in front of the loop. Also as I said before, your function call will be the expensive operation, not the synchronized fetch of a global. Just because the non x86 platforms use special instructions instead of the regular unsychronized ones doesn't mean they are expensive. Would you be so kind and create a small benchmark sh

[2019-10-04 11:14] sfackler commented on #65093
I would probably not consider it stable, but you can set your own panic hook to produce output that you do know the structure of: https://doc.rust-lang.org/std/panic/fn.set_hook.html

[2019-10-04 11:21] rust-highfive opened #65096 "`clippy-driver` no longer builds after rust-lang/rust#65087"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65087, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/c

[2019-10-04 11:42] Palladinium commented on #62896
I'm getting an inconsistent segfaults with `codegen_units = 1` and `lto = "fat"`, though if I keep trying compilation eventually succeeds.

[2019-10-04 11:58] JohnTitor commented on #65096
Caused by #64874

[2019-10-04 12:12] flip1995 commented on #65096
I'm working on this.

[2019-10-04 12:14] Blub commented on #64960
Since assigning the formatted string to a variable first makes this work, I wonder if it is the same issue as with `std::slice::from_raw_parts{,mut}()`, like the two cases of which one works the other fails in this playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=319431dd1b0f8a05c351ccad03b19d0b

[2019-10-04 12:27] nagisa commented on #65061
I always have trouble with these too, it usually takes me a couple attempts to get them right, but your description sounds fairly accurate to me. None of those, however, make the final compiler itself intrinsically aware of the cross-compilers it should use – these flags only affect the how rustc itself and its standard library are built.

[2019-10-04 12:28] eddyb commented on #42340
Could they be moved to the binder? `dyn Foo` -> `dyn<X: Foo> X` would result in `Ty::Dyn` having all the information in the binder and then substs would have just an anonymous type variable (bound at the aforementioned binder) or be empty for now.

[2019-10-04 12:28] lqd commented on #61560
As summarized earlier, this issue collects other issues, which were at the intersection of
- the rustdoc behaviour change from 0550766699a6602a51e361e8cb2825b540b7cce8 and tracked in #61562
- and other rustc problems (possibly related to resolution) which have since been fixed, or are already tracked elsewhere (eg `#[bench]` accepted on stable).

While we could bisect _those_ problems to look for

[2019-10-04 12:28] #61560 closed

[2019-10-04 12:43] GuillaumeGomez commented on #65063
@cuviper We still have some `__future` imports so not sure we're fully compatible with python3. In any case, we can enforce it.

[2019-10-04 13:52] TimDiekmann commented on #48043
Another concern: If we decide to forbid zero sized allocations (https://github.com/rust-lang/wg-allocators/issues/16) the allocator would probably take a `NonZeroLayout` or similar.
In order to not block this issue even more, I propose to mark `layout` in `AllocError` as unstable, too, until the WG found a consens.

[2019-10-04 15:03] oli-obk commented on #53639
Also: ignoring whether your `static mut` use case is UB or not (I haven't looked closely, but it seems it's at least easy to get wrong), you can get the exact same behaviour back by using a `struct MyUnsoundFoo<T>(UnsafeCell<*mut T>);` and manually implementing `Sync` for `MyUnsoundFoo`. You can then access the memory of a static via the `UnsafeCell`. This way you have exactly the behaviour (defin

[2019-10-04 15:05] STPR opened #65104 "A single method to rotate slices or vecs"
Hello,

I know there's already 2 methods to rotate slices or vec (rotate_right and rotate_left).
But they both accept unsigned numbers exclusively.

Why not a single method which could accept a signed number ?
A positive number would turn to the right and a negative one to the left

[2019-10-04 15:13] Mark-Simulacrum commented on #65093
Closing per the above. Certainly the thread name here can change.

[2019-10-04 15:13] #65093 closed

[2019-10-04 15:15] bluss commented on #60896
Even though there is a borrow relation, there is no guarantee that the lookup key and inserted key are equivalent, I guess that's an acceptable loss? But it would be important to point out in that case.

Consider `s[..1].to_string()` as function

[2019-10-04 15:27] psumbera commented on #40531
I wonder how it's supposed to work? Only x86_64-sun-solaris continues work for me:

[code]

This change make it harder for Mozilla Firefox to decide which target to use...

[2019-10-04 15:28] cuviper commented on #65063
The `__future__` module still exists in 3:
https://docs.python.org/3.7/library/__future__.html

[2019-10-04 15:44] GuillaumeGomez commented on #65063
Oh? I didn't know this, thanks for the info! Anyway, doesn't hurt to get rid of it in full python3 source code. :)

[2019-10-04 15:51] JohnTitor commented on #62536
Could you check the ICE still appears? I cannot reproduce it with latest nightly on playground.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3504980d8445be3ee76087f26bf37bc8
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=271dd5b69ac5d8c5cd6f206ccf921f8b

[2019-10-04 15:59] #64988 closed

[2019-10-04 16:02] JohnTitor commented on #62265
Cannot see the ICE with the above playground link.

[2019-10-04 16:08] JohnTitor commented on #62187
Cannot see the ICE with the above example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d133d93476dd78b835476a4c93a5ef75))

[2019-10-04 16:19] JohnTitor commented on #61732
Cannot reproduce the ICE with the above MCVE on latest nightly ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2f05ddc0caa820d0dbd57f84d9286f2c))

[2019-10-04 16:20] JohnTitor commented on #61516
Cannot reproduce the ICE with the above playground link.

[2019-10-04 16:36] #62265 closed

[2019-10-04 16:36] #62187 closed

[2019-10-04 16:39] lzutao commented on #62187
Should we add a regression test for this?