[2022-08-14 20:13] Mark-Simulacrum commented on #100541
I think given that we have only 1 case detected by Crater a backport doesn't seem necessary, but it's also a small PR. No strong opinion.

[2022-08-14 20:18] asquared31415 commented on #100518
Also even if `Fuse` is technically correct, why would we want it to be intentionally malicious? As far as I am aware, it very well *could* be correct always, and it would be a simpler implementation, and incur no major additional costs. Being as well behaved as possible under sub-optimal circumstances is a positive.  There's many places library types or the compiler could do a lot more, but choose

[2022-08-14 20:21] the8472 commented on #100518
APIs are not required to state "does misbehave if traits aren't upheld". Adding those notes are a courtesy. The absence of such statements is not a guarantee in itself. Otherwise we would be forced to document implement details (this calls X, Y and Z and relies on their behavior) on even the most trivial things.

E.g. iterator adapters don't tell you either which methods they forward. The default

[2022-08-14 20:43] ehuss commented on #100544
I think these are two separate (unrelated) issues.

#98835 had a crater run where these regressions were identified: https://github.com/rust-lang/rust/pull/98835#issuecomment-1177391852

#99413 had a crater run where there were quite a lot of regressions, but nobody has reviewed it: https://github.com/rust-lang/rust/pull/99413#issuecomment-1208946281

There are quite a few regressions in #99413, b

[2022-08-14 20:43] SoniEx2 commented on #100493
e.g.

[code]

[2022-08-14 20:52] asquared31415 commented on #100518
If they offer the same guarantees, at least one has incorrect docs, because a safe marker trait offers no guarantees, but `Fuse`'s docs claim to have some specified behavior.

[2022-08-14 21:04] Nilstrieb commented on #100513
I've opened a [zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/fixing.20let_chains/near/293442089) about fixing them,

[2022-08-14 21:06] Nilstrieb commented on #100513
That's was a misclick 😆

[2022-08-14 21:07] compiler-errors commented on #100541
I'll do it. It's very possible that people can trigger it while doing a refactor, for example.

[2022-08-14 21:20] Timmmm commented on #71684
I'd be a bit surprised if most users *have* moved off it. I still use it precisely because it's in the standard library and not going to be abandoned like `dirs` was, and because the reasons for deprecation is just incredibly minor (it gives *arguably* unexpected results on mingw and cygwin). So minor that I would be inclined to agree that it could just be fixed... except that the broken behaviour

[2022-08-14 21:20] aabizri opened #100550 "ICE when compiling nalgebra 0.25.4 in Release mode"
### Code

ICE is triggered when building `nalgebra 0.25.4` in file `src\geometry\quaternion.rs` in release mode. I'm not able to reproduce when building in debug mode.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-14 21:26] asquared31415 commented on #100518
Additionally, after some (admittedly limited) testing, I have not found a case where the specialization on `FusedIterator` improved codegen.  It either was equivalent when the iterator was actually fused, or *regressed* codegen because it did not actually fuse.

[2022-08-14 21:36] the8472 commented on #100518
They all promise the same thing, phrased slightly differently.

[2022-08-14 22:04] Mark-Simulacrum opened #100551 "regression: socket type changes"
Filing this mostly so that we're aware of scope of impact per [Crater](https://crater-reports.s3.amazonaws.com/beta-1.64-2/index.html) run and can potentially use this as a landing ground for complaints/concerns (probably should have *some* issue for that even if not this one, maybe pinned). The scope of impact is pretty depressing, but I don't think the decision by libs-api will change since this

[2022-08-14 22:05] Mark-Simulacrum commented on #100541
Yeah, I think I saw a few more cases as well (outside of just this one root regression according to Crater).

[2022-08-14 22:05] Mark-Simulacrum commented on #100327
* regression: transmute_copy validates sizing #100545
*  regression: socket type changes #100551
*  regression: X does not live long enough #100544
*  regression: delayed good path bug: trimmed_def_paths constructed #100542
*  regression: ICE -- no type for node #100541
*  regression: can't compare X with _ in const contexts #100543

[2022-08-14 22:15] compiler-errors commented on #100550
cc @cjgillot this seems like those mir-inliner bugs :thinking:

[2022-08-14 22:21] ehuss commented on #100550
Bisected to #99014 which is likely #96856 (similar as issues #99866 and #99852).

[2022-08-14 22:31] Mark-Simulacrum commented on #100550
Saw a couple of these in Crater, though typically with some *other* ICEs too (which is why I didn't file bugs). But tagging as 1.64 and beta regression.

[2022-08-14 22:35] benpye opened #100553 "Regression evaluating `impl` bounds with `generic_const_exprs`"
### Code

I tried this code:

[code]

I see the following compilation error:
[code]

If the const generic parameter to `FixedStorage` is a single value, rather than expression it builds successfully.

### Meta

I see the error when running `rustc --version --verbose`:
[code]

This previously worked with `rustc --version --verbose`:
[code]

[2022-08-15 00:16] #100197 closed

[2022-08-15 00:16] #100480 closed

[2022-08-15 00:21] winksaville commented on #79649
Here is a possible example, I created [exper-code-coverage](https://github.com/winksaville/exper-code-coverage), where I was comparing [cargo-tarpaulin](https://crates.io/crates/cargo-tarpaulin) and [cargo-llvm-cov](https://crates.io/crates/cargo-llvm-cov) crates. I created `short_circuit_and()` and `if_short_circuit_and()` with identical tests and if I run `cargo llvm-cov` **I get 100% coverage,

[2022-08-15 00:29] compiler-errors commented on #100553
This regressed in #98542

[2022-08-15 00:29] fee1-dead commented on #100543
I'm going to look into this later, but it seems like a case of wf checks requiring const bounds.

[2022-08-15 00:38] fakedrake commented on #97362
I bumped on this issue and I would like to share some code that maybe someone knowledgeable could comment on whether we are likely to get the features demonstrated or similar (in summary it's getting `for<>` for async closures):

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=75475a141e376a2c0711ecac8461d20e)

[2022-08-15 01:45] WaffleLapkin commented on #97362
@fakedrake I think your `AsyncF`/`asyncF` are wrong. You are using a single `F` type, that is supposed to implement `for<'a> Future<Output = S<'a>>`, where in reality you have a `for<'a> F<'a>: Future<Output = S<'a>>` type.

If you change the `AsyncF` trait to be something like the following:
[code]
Then your example [works](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=

[2022-08-15 02:07] Lokathor commented on #82223
I wanted to get a reader on an RrLock and also put a type on the binding so that it was clear what was going on, to do that using or-patterns you have to write... this entire thing:
[code]

So I don't really think that or-patterns are as good a solution as having a method, because to make them work nicely you end up being nearly forced to not write down as many types in the code.

[2022-08-15 02:16] arniu commented on #83400
Why not just `impl TryFrom<f32 | f64> for Duration`?

[2022-08-15 02:22] chenyukang commented on #100527
@rustbot claim

[2022-08-15 02:25] dtolnay commented on #82223
@Lokathor if I understand correctly, you want to write this?

[code]

I think `into_ok_or_err` immediately following `map_err` is especially poorly motivated when `unwrap_or_else` already exists.

[code]

[2022-08-15 02:49] mbartlett21 commented on #83400
Because it isn't clear from `TryFrom` that it is meant to be seconds. It could be milliseconds or hours or days or some other reasonable measurement.
This is the same reason why `Duration` doesn't impl `From<u128>` or something. It could likewise be a lot of other units.

[2022-08-15 03:03] MediosZ opened #100558 "Memory leaks detected when using rustc_interface."
I was trying to use `rustc_interface`, but when building with `RUSTFLAGS="-Z sanitizer=address"`, I get some memory leaks.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

Here's the log of `valgrind --tool=memcheck --leak-check=full`.
<details><summary><strong>Valgrind</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-15 04:44] Lokathor opened #100560 "E0277 focuses on the wrong part of the line."
So i've got some code like this:
[code]

**What is wrong:** The `delimited_by` takes a parser for what occurs immediately before and immediately after the parser you call the method on. So it has a `: Parser<I, O>` trait bound. Except that `Punctuation('[')` is a *token*, not a *parser for a token*. What I should have written is `just(Punctuation('['))`.

**What Rustc Tells You:**
[code]

**The Pr

[2022-08-15 05:29] seahurt commented on #71684
It's really funny to retire a std function and let user choose a third-party lib.

[2022-08-15 05:30] compiler-errors commented on #100560
Can you minimize this or provide a few more signatures for all the methods being called here?

[2022-08-15 05:34] sharnoff opened #100562 "Different (suboptimal) assembly generated for `match` expr vs `if`-`else if`s"
Possibly an LLVM issue instead of rustc. Godbolt: https://godbolt.org/z/WqMqEn13v

The following two functions *should* be identical, and small:

[code]

(with `fn lt()`, `fn eq()`, and `fn gt()` are defined elsewhere, and not inlined)

However, the `if` version, on x86-64 generates much better assembly than the one using `match`:

[code]

I also tried manually inlining the `Ord::cmp` implementati

[2022-08-15 05:35] #100393 closed

[2022-08-15 05:38] compiler-errors commented on #100550
For the record, that PR probably revealed this bug but is likely not the cause of it.

[2022-08-15 05:56] compiler-errors commented on #100560
oh, lol, it's chumsky. good to have known that -- didn't see the file path in your error output.

so the root cause here is that both

[2022-08-15 05:57] Lokathor commented on #100560
Oh, right, my bad. It's the [Parser::delimited_by](https://docs.rs/chumsky/latest/chumsky/trait.Parser.html#method.delimited_by) method in this case:
[code]

So the `L` generic has the trait bound, which isn't being satisfied, and then it's highlighting the method as being the error point rather than the argument to the method as being the problem.

I'm not entirely sure how to make the example mo

[2022-08-15 05:58] Lokathor commented on #100560
oh you even already know the name of the lib >_> i hope they're not the source of _a lot_ of error message reports

[2022-08-15 05:59] compiler-errors commented on #100560
haha no i just saw in the file path of the error you pasted, and i recognized the name

no worries, i think i understand the root cause. let me "minimize it".

@rustbot claim

[2022-08-15 06:02] compiler-errors commented on #100560
Minimized:

[code]

[code]

[2022-08-15 06:30] ChayimFriedman2 opened #100563 ""malformed attribute" for `should_panic` missing closing quotes"
Given the following code:  https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f5f8842e55751ce384c7d40390bde7e1

[code]

The current output is:

[code]
Note that in `#[should_panic(expected = "reason)]` we miss the closing quotes.

This is because the attribute template is missing it:

https://github.com/rust-lang/rust/blob/80ed61fbd64936ed676c2050e7e660b5ad78c9f2/compiler/rus

[2022-08-15 07:53] Rageking8 commented on #100563
@rustbot claim

[2022-08-15 08:34] fakedrake commented on #97362
Thank you very much. I have seen people vaguely complaining about the primitive state of async closures but besides this niche case I have found that they have worked pretty well. Is there an issue tracking the problems with them?

[2022-08-15 08:49] the8472 commented on #100518
Ah, I realize I was arguing from the perspective of safe code. For unsafe code the situation changes somewhat. At least the standard library knows its own implementation and so knows which safe parts unsafe code can trust. The situation is less clear for 3rd party unsafe code because it's not allowed to rely on implementation details.

[2022-08-15 09:13] cjgillot commented on #100550
Indeed, that's the "usual" normalization failure ICE we have with the MIR inliner.
When enabling the MIR inliner, I only added a check that we don't have such type mismatch at the signature, but I did not attempt to check all types that appear in the MIR for such mismatch.
If we want to fully avoid this ICE, we'd need to fully visit the callee body to check for those type mismatches.

@compiler-er

[2022-08-15 09:15] estebank commented on #100545
I believe this is the same as https://github.com/rust-lang/rust/issues/99923

[2022-08-15 09:16] estebank commented on #99923
From the crater run, [regression on `transmute_copy` was found](https://github.com/rust-lang/rust/issues/100545), which I believe is the same as this.

[2022-08-15 09:19] Nilstrieb commented on #100550
Hmm, maybe this is fixed by #100121, but I don't have time to investigate this right now.

[2022-08-15 10:12] estebank opened #100572 "Detect cases of lifetime errors caused by closures using a lifetime of its enclosing item and suggest anon lifetime"
[code]

compiles on 1.63 but [will stop compiling in 1.64](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=7cf9ce98fd64f1bf3d680c5bc9325534) with the following error because of https://github.com/rust-lang/rust/pull/98835#issuecomment-1177391852 (https://github.com/rust-lang/rust/issues/100544):

[code]

We should detect cases of lifetime errors caused by closures using a lif

[2022-08-15 10:12] estebank commented on #100544
From https://github.com/rust-lang/rust/pull/98835#issuecomment-1177391852:

I wish this had been flagged as a potential diagnostic issue back when this was identified. Filed https://github.com/rust-lang/rust/issues/100572.

[2022-08-15 10:15] crepererum opened #100573 "`PhantomData`, mutable references and `drop` interaction unclear"
I tried this code:

[code]

([Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=63d7b626cf9ce70281178dcbc009bd7c))

### I expected to see this happen:

It fails to compile because we hold a mutable reference to `s` and call `use_it`.

### Instead, this happened:

It compiles and the output is:

[code]

### Meta
Happens on both stable (currently `1.63.0`) and

[2022-08-15 10:18] yujiri8 commented on #71684
I don't think it's *always* inappropriate to do that, but in this case I think it's definitely functionality that should be in std. And if it isn't, there should *at least* be a specific crate blessed as the official solution, and it should be named in the deprecation notice, and it should be a crate that is >=1.0, and does not call the deprecated function itself.

[2022-08-15 10:38] ojeda opened #100575 "Intra-doc links to methods should link to a "good default""
Intra-doc links to methods should link to a "good default". This is particularly important until https://github.com/rust-lang/rust/issues/93398 is closed, but it would be nice even then.

For instance, in `MaybeUninit`, [links to `assume_init`](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#method.assume_init) point to the `Box` implementation, instead of the method one would expect.

Wo

[2022-08-15 10:44] Mark-Simulacrum commented on #100550
@cjgillot Do you think it may make sense to disable the MIR inliner on beta to give it some more time to bake? I think it was switched on mid-cycle in 1.64, right?

[2022-08-15 10:46] estebank commented on #100572
CC https://github.com/rust-lang/rust/issues/100002

[2022-08-15 10:47] Mark-Simulacrum commented on #100545
Seems like a much easier issue to explain, at least - not sure I would quite call it "same as" pointer/integer transmutes :) Though the overall effect of breaking unsafe code seems quite similar.

[2022-08-15 11:07] estebank commented on #100551
Have we looped in the tokio/mio people already?

[2022-08-15 11:41] Mark-Simulacrum commented on #100551
I think this is all from old versions and yes, but it seems like a good idea to re-check-in, especially since bug reports directed at them aren't implausible.

[2022-08-15 11:42] dtolnay commented on #82223
@rfcbot fcp close

https://github.com/rust-lang/rust/issues/82223#issuecomment-1065985610

Nothing compelling has been brought forth since then. I would like to remove this method.

<img src="https://user-images.githubusercontent.com/1940490/184628178-63b7a177-db7b-43bd-bcba-ba4986185638.png" width="500">

That's right; I don't understand how this would possibly be controversial.

[2022-08-15 12:11] cjgillot commented on #100550
@Mark-Simulacrum I qualify this as a bug in type normalization that MIR validation exposes. It's not a bug in the MIR inliner.

There are 3 ways to address this:
1. add more exceptions to the MIR inliner to avoid those bugs (easy but cumbersome, https://github.com/rust-lang/rust/pull/100571);
2. fix type normalization (very hard);
3. relax MIR validation (tentative in https://github.com/rust-lang/

[2022-08-15 12:12] dtolnay commented on #82223
- I think we've seen that this method existing (even unstable) misleads people into thinking they need it. I consider it likely that this negative effect dwarfs the rare instances of anyone legitimately benefiting from this method.

- We've also seen confirmation of @leonardo-m's comment: _"the API surface of Result/Option is quite large already […] it's getting harder for me to remember and use a

[2022-08-15 12:15] Thomasdezeeuw opened #100580 "Linking error: ld: file too small (length=0)"
I got the following error

[code]

I can reproduce it by removing `target` and recompiling, but I wouldn't know how to share minimal reproduction.

[2022-08-15 12:18] Nilstrieb commented on #100550
Stopping to validate MIR sounds like a really bad idea to me. MIR validation (in released compilers) has caught many critical issues already like #98608 (I found it while investigating a MIR validation failure because the mir typeck found something typeck let through) and the most recent let_chains problem which was also found because of a MIR validation ICE.

[2022-08-15 12:49] estebank commented on #89038
Yeah, that seems good to me.

[2022-08-15 12:49] #89038 closed

[2022-08-15 13:13] RalfJung commented on #100545
The issues seem entirely unrelated to me, in which sense are they "the same"?

[2022-08-15 13:13] RalfJung commented on #99923
@estebank I don't see how they are even related. The transmute_copy regression is caused by https://github.com/rust-lang/rust/pull/98839, this here is caused by https://github.com/rust-lang/rust/pull/97684. Seems entirely unrelated to me?

[2022-08-15 13:15] RalfJung commented on #100545
Or did you mean they are broadly the same category, being related to UB detection? But even then, https://github.com/rust-lang/rust/issues/99923 is about compile-time UB, and this here is primarily about run-time UB, and those are very different in how we treat them.

[2022-08-15 13:28] fee1-dead commented on #100543
Repro:

[code]

[2022-08-15 13:35] 5225225 commented on #100545
The easiest justification for the panic is "`transmute_copy` has a safety precondition that `U`, the return type, is not larger than `T`, the input type, this can be checked with zero runtime cost, so a panic was inserted in the UB case". As in, "it's UB because we wrote that it was UB" (it would be an out of bounds read internally, is the main reason it's marked as UB)

Maybe also mention `RUST_B

[2022-08-15 13:41] RalfJung commented on #100545
Yeah, we could have a `cfg_attr(debug_assertions, track_caller)` but that would only help once we have a good system for letting people use a debug build of the standard library...

[2022-08-15 13:54] estebank commented on #99923
It seemed to me to be the same *category* of issue, where we break backwards compatibility in const unsafe code that currently compiles. Whatever decision is made about how to deal with such cases applies for that case. Am I wrong in my reading?

[2022-08-15 13:56] DesmondWillowbrook commented on #91345
Any progress on an FCP?

[2022-08-15 14:01] estebank opened #100584 "Detect likely attempts to use interpolation in string literals"
Given

[code]

we currently emit a warning about `x` being unused.

We should additionally point at the `x` inside the string literal and mention that if we wanted string interpolation, it's not gonna work because it needs to be inside of a `format!()` invocation.

_https://www.reddit.com/r/rust/comments/wo3id0/media_noob_question_why_are_my_parameters_unused/_

[2022-08-15 14:11] RalfJung commented on #99923
https://github.com/rust-lang/rust/issues/100545 is more about runtime than const UB I think? Certainly it *also* applies at runtime, which this one here does not.

And anyway the question in this issue currently isn't whether we'd back out https://github.com/rust-lang/rust/pull/97684, we already pretty much decided against that. The question is what else we can do to help people. And we have [a pl

[2022-08-15 14:12] scottmcm commented on #82223
👍 to close.  To be useful, this needs either an `Err` that's not an error or an `Ok` that *is* an error, both of which aren't something worth *de-facto* encouraging by the existence of this method.  The pattern or `.unwrap_or_else(identity)` or whatever are fine if really needed.

And @Stargateur's comment above (https://github.com/rust-lang/rust/issues/82223#issuecomment-1142041767) reinforces th

[2022-08-15 14:16] wesleywiser commented on #52728
Visited during wg-debugging's triage meeting. It looks like this is still the case

https://github.com/rust-lang/rust/blob/4c5665583815a0f0f3e22516441efb43ea6dede2/compiler/rustc_codegen_ssa/src/back/link.rs#L989

[2022-08-15 14:21] wesleywiser commented on #10381
Visited during wg-debugging triage. We still have 11 tests that `// ignore-android` https://cs.github.com/rust-lang/rust?q=ignore-android%20path%3A%2F%5Esrc%5C%2Ftest%5C%2Fdebuginfo%5C%2F%2F

[2022-08-15 14:31] 5225225 commented on #100518
`Iterator::fuse()` *does* say

(And by extension, Fuse acts like that too, sine `fuse()` is the way to get a `Fuse`)

Which means if you actually need a fused `I: Iterator` for safety, `.fuse()` is not useful to you, you'll presumably need to just write your own `Fuse`. There's no `.fuse_but_usable_for_safety()`.

If we *did* want `.fuse()` on Iterator to always fuse, then we'd presumably need to

[2022-08-15 14:35] wesleywiser commented on #50256
Visited during wg-debugging. We decided to close this because the crash data is no longer available and there have been many improvements to our line number generation since this was opened, including reporting useful line numbers in the panic message itself via `#[track_caller]`. If this is still occurring, we can re-open.

[2022-08-15 14:35] #50256 closed

[2022-08-15 14:38] aDotInTheVoid opened #100587 "Rustdoc-Json: Document Stripped Fields for enum varients"
At some point their should also be a `has_striped_fields` for `Variant`, and probably a way to tell what position each of the non stripped items are, as currently each of these 3 variants are documented with the same inner.

[code]
but HTML gets a good representation:

![](https://user-images.githubusercontent.com/28781354/184654153-b02269b2-eee6-4d7d-aef2-3b88f3414e60.png)

The solution is probab

[2022-08-15 14:40] wesleywiser commented on #48807
Visited during wg-debugging triage. It looks like the `//ignore macos` annotation on this test has turned into a more generic `// ignore lldb` annotation. There is some work happening to re-evaluate these kinds of disabled tests in (https://github.com/rust-lang/rust/pull/95696) so this might get changed there. If not, the first step here is to retest on a recent macOS & XCode release.

[2022-08-15 15:00] pnkfelix commented on #55352
This still reproduces.

I want to dig in with a little private investigation to understand the scenarios where the cleanup path is marked as unreached, and to know how one should be expected to avoid such marking in cases like this (e.g. should we require a `#[no_panic]` attribute on the function signature of `fn get_age` to signal that tools can assume it doesn't panic?)

I also want to understan

[2022-08-15 15:00] the8472 commented on #100518
`Flatten` and `FlatMap` rely on `Fused` for correctness (but not for safety afaict). So changing it could affect any flattening iterator.

[2022-08-15 15:01] Lokathor commented on #82223
This is certainly not the place to have that extended discussion, which I think you already know, so I don't know why you brought it up.

[2022-08-15 15:08] aDotInTheVoid opened #100588 "JsonDocCk: Automaticly infer file name"
Right now in jsondocck all commands have the form `// @<commandname> <file> <command args>`

This form was inherited from htmldocck.py. However unlike HTML, the JSON output only produces 1 file. Therefor currently `-` can be used to imply the file for the previous command. Only the first command must specify the file.

It would be nice to automatically infer the name of the relevant file, so `-` i

[2022-08-15 15:34] Manishearth commented on #100513
@joshtriplett given https://github.com/rust-lang/rustfmt/pull/5203#issuecomment-1206802238 , can we use this opportunity to also ensure that there is a style decision put forth by the lang team in place before restabilizing so that rustfmt is able to merge formatting for let_chains?

[2022-08-15 15:47] tmandry commented on #100013
This is an unfortunate error message. Since GATs is close to stabilization, does it make sense to nominate for types team discussion?

@rustbot label +I-types-nominated

[2022-08-15 15:50] eholk commented on #100013
Yeah, I'd like to hear from the types team on this. @nikomatsakis or @jackh726, is adding I-types-nominated the way to do that?

@rustbot label +AsyncAwait-Triaged

[2022-08-15 15:51] eholk commented on #99492
@rustbot label AsyncAwait-triaged

[2022-08-15 15:53] tmandry commented on #99492
t-compiler: I nominated this for discussion because of the following:

This points to deeper compiler issues and is probably at least P-high.

@rustbot label +I-prioritize +E-needs-mcve +E-needs-bisection

[2022-08-15 16:13] WaffleLapkin commented on #97362
There is a tracking issue for async closures: #62290

[2022-08-15 17:19] OliveIsAWord commented on #93050
Adding my own data point in support of `is_none_or`. My current use case is parsing a language with significant whitespace.
[code]
I hope you agree that using `is_none_or` provides the shortest and most readable solution.

[2022-08-15 17:32] #94944 closed

[2022-08-15 17:34] estebank commented on #79648
Triage: Current output (fallout from NLL stabilization):

[code]

[2022-08-15 17:51] #85401 closed

[2022-08-15 18:58] golddranks commented on #92750
Could you elaborate on that? I get that `/foo/a` and `/bar/a` could point to the same directory `a` if, for example `/bar/a` is a symlink; do you mean that `..` is required to take you to the "physical" parent of the directory, thus requiring a filesystem access?

[2022-08-15 19:07] rustrust opened #100597 "Pretty Good Supply Chain Security"
It would be nice if rust had a pretty good answer to "why is this date formatting library reading from disk and talking to the network?"

Constantly monitoring significant numbers of rust crates across the ecosystem doesn't scale well. Is there an effective way to get Pretty Good supply chain security in rust packages? I am interested to find out whether the rust community has a method of solving

[2022-08-15 19:12] ChrisDenton commented on #92750
Yes. sorry I worded that badly. The `absolute` function doesn't use the file system to resolve paths so it can't know which directory `..` should resolve to. Instead, canonicalize must be used to properly resolve such paths. It's the same reason why [Path::components](https://doc.rust-lang.org/std/path/struct.Path.html#method.components) normalizes `.` but not `..`.

[2022-08-15 19:30] fadeevab commented on #100125
@fanninpm Could "regression-untriaged" be removed?

[2022-08-15 19:30] m-ou-se commented on #93050
I'd be happy to approve a PR that adds `is_none_or` as an unstable function. :)

[2022-08-15 19:46] wizzwizz4 commented on #100597
Crates can be divided into three categories:

  * "Pure": doesn't modify any global state, except that reachable by function arguments. (That could include plenty of side-effects, but it can't do anything behind the caller's back.)
  * "Pure" + [`alloc::alloc::Global`](https://doc.rust-lang.org/alloc/alloc/struct.Global.html): "pure" but also allowed to make global allocations. The distinction is

[2022-08-15 20:06] linkdd commented on #100597
I think this also must impact dependency resolution.

Let's say we have 2 crates: `A` and `B`.

Crate `A` depends on crate `B`:

[code]

If crate `B` requires the capability `network` or `disk`, then the crate `A` transitively requires it as well.

---

Now let's say, none of `A` and `B` requires any capabilities. But as you saw above `A` depends on `B>=1.0.0,<1.1` (python notation).

What if `B`

[2022-08-15 20:07] ehuss commented on #84536
Here's a simpler example with a single crate:

[code]

I'm guessing it is trying to point at the `Clone` trait's `Sized` requirement, but that is in an external crate.

[2022-08-15 20:10] m-ou-se commented on #82223
I agree we should close this. We have very few cases where we use a `Result<T, T>`.

For `binary_search`, one should probably use `partition_point` instead when the difference between `Ok` and `Err` doesn't matter.

The equivalent of the now deprecated `compare_swap` involves a `compare_exchange` followed by a `into_ok_or_err`, but the vast majority of cases just checks if the returned value equal

[2022-08-15 20:15] linkdd commented on #100597
What about:

[code]

This way, this would apply to indirect dependencies as well.

[2022-08-15 20:28] rustrust commented on #100597
I think something like this would be more desirable:

[code]

This would behave somewhat like app permissions on your phone. Note that I am thinking that unsafe probably should be a capability for a crate. If tokio contained code which tried to access your disk, those disk access attempts would simply trigger a capability error in the above Cargo.toml.

[code]

[2022-08-15 20:32] c410-f3r commented on #96535
This issue was fixed ~1 month ago

[2022-08-15 20:35] winksaville commented on #79649
I've now dug a little deeper and used `cargo asm` to look at the generated code. It seems build in `debug` mode the code for `if_short_circuit_and()` and `short_circuit_and()` are basically the same code. And in `release` mode they are actually the same code, see details below.

**Based on this I conclude that this example provides an indication that "branch coverage" should be an improvement.**

[2022-08-15 20:42] fanninpm commented on #100125
Not until it has been triaged by the appropriate team. @apiraino may be more privy to the triaging processes that go on around here.

[2022-08-15 21:04] steffahn commented on #99492
Reduced:
[code]

[2022-08-15 21:09] #95795 closed

[2022-08-15 21:09] wizzwizz4 commented on #100597
For checking crates on crates.io (the "server-side", doesn't-modify-cargo approach), we could check all compatible dependency versions and complain if _any_ of them required extra capabilities. That'd defend against this attack.

[2022-08-15 21:09] #100242 closed

[2022-08-15 21:09] #100252 closed

[2022-08-15 21:09] #100191 closed

[2022-08-15 21:09] #100529 closed

[2022-08-15 22:01] jackh726 commented on #100544
In theory, we could back out of #98835, maybe with a future compat warning.

[2022-08-15 22:52] steffahn commented on #99492
Reducing further, I came across a second similar error message. This is what I’ve got at the moment:
[code]
[code]

Commenting out all the `// xxx` lines or all the `// yyy` lines makes either error go away. Commenting out the `// zzz` line makes all errors disappear.

In this reduced example, the errors stay the same between 1.62 and 1.63. As well as older versions and nightly, so there’s nothing

[2022-08-15 23:06] steffahn commented on #99492
Here’s a further reduction to the non-closure-involving error
[code]
error in 1.62
[code]
error in 1.63
[code]

[2022-08-15 23:13] steffahn commented on #99492
The original code example from #90656 seems to be behaving similar to the code in this issue, including the change to a “higher-ranked lifetime error” in 1.63.

[2022-08-15 23:16] RalfJung commented on #98862
@joshtriplett

Clarification question: what is 'the warning' -- do you mean the warning caused by the fact that `mem::uninitiailized` is `#[deprecated]`, or the 'invalid_values' lint (which fires not only on `mem::uninitiailized`)?

This program currently shows two warnings:
[code]

[2022-08-15 23:19] steffahn commented on #99492
@tmandry

Note that even though the code that changed was “in another file”, this action-at-a-distance is explainable due to auto-traits. The `: Send` requirement was in one place, and the `async fn` body it ultimately depends on in another one. You can see in my initial reduction (which did involve one step of inlining some other call into `execution_process` during the reduction) how directly re

[2022-08-15 23:39] tgeoghegan opened #100605 "`rustc` suggests `&None.as_ref()` as well as `None`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9d89810932e63366d4910a3d8cca200e

[code]

The current output is:

[code]

The error is correct, but I think the diagnostic is wrong. The second recommendation to call `takes_option(None)` is sound, but the first one (`&None.as_ref()`) seems like bad advice.

This reproduces on `rustc` 1.61 (on my work

[2022-08-16 00:25] chenyukang commented on #100605
Intresting..

This code also make wrong help, https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9d89810932e63366d4910a3d8cca200e

[code]

The current output is:
[code]

Using `&res.as_ref()` is a bad advice.

[2022-08-16 00:27] chenyukang commented on #100605
@rustbot claim

[2022-08-16 01:15] Rageking8 opened #100607 "Slightly improve no return for returning function error"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=5eb617461b6c4128c6201c83b00f0d47)

[code]

The current output is:

[code]

Ideally the output should look like have a small note directly behind "- help: remove this semicolon" that says " for implicit return". As I have witness a beginner getting confused as to why certain lines of code in

[2022-08-16 01:24] tmandry commented on #99492
Ah, I see – thanks @steffahn! At first read it looked like these were totally unrelated, but I hadn't looked too closely at the code.

In that case I'm going to put this back through async triage and skip the t-compiler nomination for now. Maybe this is the same as another issue, like #90656 as you said.

@rustbot label -AsyncAwait-Triaged -I-compiler-nominated -I-prioritize

[2022-08-16 04:09] matthiaskrgr opened #100612 "ICE: repr 128 + debuginfo"
`./src/test/ui/enum-discriminant/issue-70509-partial_eq.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-16 06:52] reez12g commented on #100607
@rustbot claim

[2022-08-16 07:54] #100563 closed

[2022-08-16 07:54] #100448 closed

[2022-08-16 07:54] rust-highfive opened #100614 "`miri` no longer builds after rust-lang/rust#100611"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100611, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-16 08:05] Toru3 commented on #48043
The comment of example code is seems wrong.
If size of `data` is about 60% of system memory, `try_reserve` might success because OS doesn't allocate physical memory immediately.
Writing to allocated memory causes page fault and OS allocates memory.
Sum of size of old data and new data is about 120% of system memory.
So, OOM might occur.

[code]

[2022-08-16 08:22] estebank commented on #85417
The output of this is regressing in 1.64.

1.63:

[code]

1.64:

[code]

[2022-08-16 08:24] estebank opened #100615 "Anon lifetime in `impl Trait` no longer suggests adding a lifetime parameter"
Given `fn foo(_: impl Iterator<Item = &u32>) {}`.

In 1.63:

[code]

In 1.64:

[code]

[2022-08-16 08:27] estebank commented on #74497
Current output of the original test case:

[code]

[2022-08-16 09:19] crepererum commented on #80437
One application could be the interplay with `Any`. If I'm not mistaken, you can move `Any` types only in boxes, i.e. `Box<dyn Any>`. Now if you downcast to a concrete type you end with `Box<MyType>` but there is no way to remove the box in the end.

[2022-08-16 09:51] aurantiaco-sucus opened #100618 "rustc does not detect incorrect (generic) enum structure and overflow its stack instead"
I tried this code:

[code]

I expected to see this happen: *rustc refuses to compile this enum and tell me this (definition) does not work*

Instead, this happened: *rustc overflows its stack and the compile process ends abruptly*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-08-16 09:54] aurantiaco-sucus commented on #100618
Formerly discussed [here](https://users.rust-lang.org/t/rustc-overflows-its-stack-with-enums/79948/5).

[2022-08-16 09:55] SkiFire13 commented on #100573
AFAIK this is intended, the lifetime is only required to outlive the last use of the value containing it, and in your example the `PhantomData` is not used anymore after `s.create_ref()`. This see through fields unless the type implements `Drop`, which is why implementing `Drop` for `Ref` changes the behaviour.

[2022-08-16 10:01] Lymia opened #100619 "undefined reference to `__atomic_load_4` when compiling the `agb` crate"
If you try to compile the [agb](https://github.com/agbrs/agb) crate with `just build-roms`, it fails with the following error:

[code]

This seems to be a regression from `nightly-2022-08-12` to `nightly-2022-08-13`, and my best guess for the change that caused it is this pull request: https://github.com/rust-lang/rust/pull/99464

[2022-08-16 10:05] steffahn commented on #100618
@rustbot label I-crash
@rustbot label A-codegen (presumably)

Trying to [reproduce on Godbolt’s Compiler Explorer](https://godbolt.org/z/63eKddf1b), I noticed that the crash only happens if `-C debuginfo=2` is provided to `rustc`.

[2022-08-16 10:14] weiznich opened #100620 "Rustdoc fails to build diesel documentation on current nightly"
### Code

I tried this code:

[code]

I expected to see this happen: Rustdoc compiles the documentation as for older toolchains (stable, < nightly-2022-08-10) or as it is happening for `cargo build`/`cargo check`

Instead, this happened: Rustdoc reports an compiler error

[code]

### Version it worked on

It most recently worked on: nightly-2022-08-09

### Version with regression

`rustc --version

[2022-08-16 10:38] taiki-e commented on #100619
Filed https://github.com/rust-lang/rust/pull/100621 to fix this.
A short-term workaround is to enable the `atomics-32` target feature (`-C target-feature=+atomics-32`).

@rustbot claim

[2022-08-16 11:13] marmeladema opened #100623 "`Ipv4Addr` hash regression in beta 1.64.0 and nightly"
### Code

I tried this code:

[code]
It uses `fnv` crate version `1.0.7` but the issue should not be related to the hashing algorithm itself.

I expected to see this happen: the assertion should succeed

Instead, this happened: the assertion fails because the hash has changed value to `4241519267947859505`

### Version it worked on

It most recently worked on: Rust 1.63.0
But also worked fine prio

[2022-08-16 11:18] marmeladema commented on #100623
Minimized a bit more:
[code]

[2022-08-16 11:19] aDotInTheVoid commented on #100623
Rust doesn't garentee that `Hash` impl's will always pass the same values: [From the docs](https://doc.rust-lang.org/stable/std/hash/trait.Hash.html#portability)

[2022-08-16 11:21] marmeladema commented on #100623
Understood.

Is there a viable alternative to get a stable hash for standard library types?

[2022-08-16 11:24] Mark-Simulacrum commented on #100623
If you need a stable hash (across compiler versions), you probably need to compute it yourself (i.e., with a custom trait or so).

Note that Hash also differs today across architectures, in case that's important for your use case.

[2022-08-16 11:27] marmeladema commented on #100623
Ok, will do then. It's a bit unfortunate to not have a StableHash trait provided by the stdlib though

[2022-08-16 11:40] Mark-Simulacrum commented on #100623
It's a significantly wider design space (e.g., cross platform compatibility, across Rust versions, how to deal with extensibility of a type) - and I'm not aware of significant ecosystem experimentation in this area, so little prior ground to stand on.

(rustc has a stable hashing trait, but it's not what you want: not stable across compiler versions).

[2022-08-16 11:40] #100623 closed

[2022-08-16 11:46] Nemo157 commented on #99630
We do have some features that change rustdocs behaviour, like `doc_auto_cfg`, that seems like it could be an ok model to allow opt-in for new features we might want to make default in the future?

[2022-08-16 12:06] GuillaumeGomez commented on #100620
I think the bug is coming from https://github.com/rust-lang/rust/pull/100221.

cc @compiler-errors

[2022-08-16 12:07] GuillaumeGomez commented on #100588
I'll do it tomorrow.

[2022-08-16 12:12] weiznich commented on #100620
Reducing compiler errors coming from diesel is quite hard and takes a lot of time. Diesel is already part of the rust compiler tests-suite, although in an older version. So it might be easier to just update this version to a current diesel version.

[2022-08-16 13:00] compiler-errors commented on #100620
This is due to my PR. @rustbot claim

[2022-08-16 13:02] GuillaumeGomez commented on #100620
`diesel` is not documented inside the compiler so it wouldn't be very helpful unfortunately. Also, I didn't ask you specifically, just thought it might be useful to say it, so don't worry if you don't have time for it. :wink:

Thanks @compiler-errors !

[2022-08-16 13:07] weiznich commented on #100620
The corresponding test code is here: https://github.com/rust-lang/rust/blob/14a459bf37bc19476d43e0045d078121c12d3fef/src/tools/cargotest/main.rs#L85

I think it did not catch this issue as it uses an older diesel version (and it does not enable the corresponding feature flag).

[2022-08-16 13:45] m-ou-se commented on #99878
We discussed this briefly in the libs-api meeting last week. Reverting it seems okay, even though it's technically a breaking change. It seems like nothing relies on it, as they would have gotten panics anyway. The crater run seems to confirm that.

[2022-08-16 13:47] #95079 closed

[2022-08-16 13:58] gimbles commented on #100597
Do note however that if the intention here is that "Crate doesn't have capabilities by default", this will be a *gigantic* breaking change, one which would be non-trivial to be cargo-fix'd.

Although I do like the idea, I guess something similar to Deno's runtime capabilities system made granular to crate level could prevent a load of supply chain security attacks.

This might even make *finding*

[2022-08-16 14:05] lcnr opened #100631 "`TyCtxt::get_attr` should check that no duplicates are allowed"
`get_attr` currently happily ignores any additional attributes in case there are more than one. While this is fine for attributes which don't care about duplicates or emit a warning/error in case there are more than one, this isn't currently checked in the compiler, potentially causing bugs.

https://github.com/rust-lang/rust/blob/a39bdb1d6b9eaf23f2636baee0949d67890abcd8/compiler/rustc_middle/src/

[2022-08-16 14:09] m-ou-se commented on #91079
Nominated at the request of @Urgau.

[2022-08-16 14:10] mversic commented on #36464
The following code doesn't trigger `improper_ctypes` lint. Should it not?
[code]

Referred to in [this issue](https://github.com/eqrion/cbindgen/issues/777)

[2022-08-16 14:13] awakecoding commented on #21727
I concur, the issue does appear to be fixed by PR #95847 (closed without merging) and #88130 (closed without merging) - now the real question is, how do we get this fixed upstream? I've never made my own custom, patched Rust distribution before, and that doesn't look like a very simple thing to do, and even if it was, that's the kind of work that would likely take days of trial and error until it

[2022-08-16 14:17] TCROC commented on #21727
It would be great to get these fixes merged into the official Rust distro! :)

[2022-08-16 14:18] messense commented on #21727
See https://github.com/rust-lang/rust/pull/95847#issuecomment-1099458356

[2022-08-16 14:26] awakecoding commented on #21727
What I see is an actual fix to the current issue for which a [Major Change Proposal](https://github.com/rust-lang/compiler-team/issues/new?assignees=&labels=major-change%2C+T-compiler&template=major_change.md&title=%28My+major+change+proposal%29) was requested, causing the author of the pull request to close it because of lack of time. I could probably re-open a new pull request with exactly the s

[2022-08-16 14:28] crepererum commented on #100573
Is this documented somewhere? (I guess so, but I'm failing to find it or to know what to search for)

[2022-08-16 14:31] dtolnay commented on #80437
Not correct, `*` removes the Box. There is no need at all for into_inner in that situation.

[2022-08-16 14:33] mladedav opened #100632 "armv7-unknown-linux-gnueabihf toolchain has wrong types for some ffi functions"
I tried this code (I know it is not correct to pass a pointer obtained this way to the function, but the type should be correct):

[code]

I expected it to compile. (this happens on `x86_64-pc-windows-msvc` and `x86_64-unknown-linux-gnu`)

Instead, it does not compile on `armv7-unknown-linux-gnueabihf` with the following error:
[code]

According to [documentation](https://docs.rs/rustc-std-workspa

[2022-08-16 14:33] messense commented on #21727
There was a quite lengthy discussion in https://github.com/rust-lang/rust/pull/77716 which might provide more context.

[2022-08-16 14:37] steffahn commented on #93774
Let me remove the bisection label and mention the relevant PR #85499 (cc @jackh726)

@rustbot label -E-needs-bisection

[2022-08-16 14:39] steffahn commented on #100544
I bisected charcoal, dkr, both pointing to caee496150a551fe1b9f77b3a58f7e66d54bc824 which does contain #98835.
And I bisected operator, pointing to af7ab3447079fddc51c6c7749b160d24769f7c16 which contains #99413.

[2022-08-16 14:44] mversic commented on #36464
I guess the question above is: do arrays and structs follow the same calling convention? If no, then `improper_ctypes` lint should be improved to warn in the previous example

[2022-08-16 14:48] gilescope commented on #73014
Just wanted to say that I very much enjoy using bevy's `default()` function. It's fairly common in struct initialisation, so it does make a tangible difference to the enjoyment of rust have such a shorthand.

[2022-08-16 14:58] chenyukang commented on #100631
@rustbot claim

[2022-08-16 15:10] RalfJung commented on #98862
Looks like the very popular itoa crate [will not get a backport](https://github.com/dtolnay/itoa/issues/36#issuecomment-1216748147) to fix the use of `mem::uninitialized`. So if we do an FCW for *all* uses of `mem::uninitialized`, there'll be a lot of warnings without a semver-compatible fix.

The author of itoa is fine with `mem::uninitialized` being removed in future editions, but if we have bot

[2022-08-16 15:15] jplatte commented on #98862
Well, `itoa` is practically never a public dependency, or a direct dependency. So it should be possible to have a `cargo update` upgrade most of its overall users from 0.4.y to 1.x.y, it just requires other library authors to release new minor releases depending on itoa 1.x.y (e.g. https://github.com/BurntSushi/rust-csv/issues/271).

[2022-08-16 15:19] RalfJung commented on #98862
"just" is the wrong term here. ;) There's [a lot of crates](https://crates.io/crates/itoa/reverse_dependencies) that depend on itoa.

[2022-08-16 15:23] Mathspy commented on #80437
The only reason I am (and probably a bunch of others) are subscribed to this issue is because when I was unfamiliar with `Box` it didn't instantly occur to me that I can just `*boxed_value` to get the value, so I looked up `Box::into_inner`, found this method and was confused it was not stable, opened the issue and subscribed and then realized from the comments "Oh I can just use `*`, I am silly".

[2022-08-16 15:25] jplatte commented on #98862
Okay, it's certainly harder than itoa getting a backport for its `mem::uninitialized` usage, but many of the reverse dependencies are on itoa 1.x already, and there's probably a strong correlation between overall usage of a crate with such a dependency vs. with an older itoa dependency.

[2022-08-16 15:27] 5225225 commented on #98862
By the way, https://lib.rs/crates/itoa/rev shows reverse dependencies sorted by download count, and highlights non-latest dependencies.

[2022-08-16 15:28] jplatte commented on #98862
redis seems to have upgraded already, just not released that. num-format doesn't seem to be maintained, there's [a PR](https://github.com/bcmyers/num-format/pull/22) to upgrade dependencies (excluding `itoa`) that's >1.5y old and the last commit is even older 😕

[2022-08-16 15:36] m-ou-se commented on #70887
@rfcbot concern log(0) behavior

[2022-08-16 15:37] Rageking8 opened #100635 "Suggest valid reverse for loop if an invalid variant is used"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=49a30b4055a511f0d80fc147c410a71a)

[code]

The current output is:

[code]

Ideally the compiler should check if the range's start >= end and inform the user that its an empty iterator.

Then for the above few incorrect variants (and possibly more), suggest the correct way to write a reverse fo

[2022-08-16 15:43] lyming2007 commented on #100584
Do you mean, we should emit like this?
[code]

[2022-08-16 15:57] estebank commented on #100584
Ideally, it would look something like this:

[code]

[2022-08-16 16:38] Gankra commented on #36464
I believe this the ctypes lint isn't working correctly on that transparent array input, yes.

[2022-08-16 17:02] estebank commented on #82921
Triage, [current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=664fd354249f7be109a4e17370660610):

[code]

[2022-08-16 17:04] compiler-errors commented on #100560
I've now gotten it to point at the arg even if there's a duplicate argument in the signature:

[code]

Now to deal with all the other fall-out of these changes...

[2022-08-16 17:26] 5225225 commented on #100635
Clippy seems to have a lint like this, https://rust-lang.github.io/rust-clippy/master/index.html#reversed_empty_ranges

Looks to emit a suggestion too.

It *doesn't* handle `step_by(-1)` because that doesn't compile. So yeah, rustc itself would probably need to handle that.

[2022-08-16 17:43] CJKay opened #100638 "Footnotes are squished together by rustdoc when there's no empty line between them"
### Problem

Footnote lines, when written on adjacent lines, squish into a single footnote:

[code]

![Screenshot 2022-08-16 at 18 39 09](https://user-images.githubusercontent.com/1470499/184943780-fa48dd00-4cbe-4b98-883e-9ea76729a3f4.png)

### Steps

1. Copy-paste the following snippet at the top of a new module:

[code]
2. Run `cargo doc`.
3. Observe that the footnotes have been incorrectly rend

[2022-08-16 17:59] obeis commented on #100635
@rustbot claim

[2022-08-16 18:15] immolo opened #100639 "Rust bootstrap - x.py --dist using the wrong Cargo.toml location"
Whilst learning how to bootstrap rust for building on different architectures I ran into a strange bug where running `x.py --dist --build i686-unknown-linux-gnu --host i686-unknown-linux-gnu --target i686-unknown-linux-gnu` would pull the Cargo.toml file from the directory above the one I'm working in currently.

I feel this is a million to one bug I hit from a mistake in copy and pasting from my

[2022-08-16 18:32] nikomatsakis commented on #48594
@rfcbot reviewed

[2022-08-16 18:33] ehuss commented on #100638
I think this is somewhat working as intended.  Footnote definitions need to be separated by blank lines.

That is not ideal, and I think https://github.com/raphlinus/pulldown-cmark/issues/20 is the closest thing tracking this issue.

[2022-08-16 19:09] nikomatsakis commented on #67264
@rfcbot reviewed

[2022-08-16 19:12] nikomatsakis commented on #74727
@rfcbot concern documentation-pr

We need an open PR adding this to the Rust reference!

[2022-08-16 19:14] nikomatsakis commented on #67264
@rfcbot concern rust-reference

Is there a PR adding this to the rust reference?

[2022-08-16 19:15] nikomatsakis commented on #93333
@rfcbot concern rust-reference

Is there a PR adding this to the rust reference?

[2022-08-16 19:15] nikomatsakis commented on #93333
@rfcbot reviewed

[2022-08-16 20:25] Amanieu commented on #93333
No, but the addition is pretty small. It's basically a revert of [this](https://github.com/rust-lang/reference/commit/c41b359723f2459b387d690153050fbb1f3c9939#diff-8446b9df5013451106cbd2e594f27924bef78bb3b9995697c4881cbc3c6ee4a7L92-L96).

[2022-08-16 20:50] #100527 closed

[2022-08-16 20:51] xd009642 commented on #74727
@nikomatsakis PR opened with an initial go at the docs: https://github.com/rust-lang/reference/pull/1253

[2022-08-16 20:54] miam-miam100 opened #100648 "named_arguments_used_positionally suggestion does not take into account debug displaying"
The suggestion that rustc gives is incorrect and seems to not take into account what characters are in the format argument.
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]
### Meta
Using beta.2/nightly

`rustc --version --verbose`:
[code]

[2022-08-16 21:16] lyming2007 commented on #100584
@rustbot claim

[2022-08-16 21:36] plugwash opened #100650 "fetch_max broken for atomici8 and atomici16 on some targets."
The rust atomic crate was recently uploaded to Debian, unfortunately on a number of Debian architectures it's tests failed.

[code]

[code]

The debian architectures where it failed and the corresponding rust architectures are listed below.

armel -> armv5te-unknown-linux-gnueabi
mips64el -> mips64el-unknown-linux-gnuabi64
mipsel -> mipsel-unknown-linux-gnu
powerpc -> powerpc-unknown-linux-gnu

My

[2022-08-16 23:03] cuviper commented on #100632
You're looking at docs for `rustc-std-workspace-std`, which is a kludgy implementation detail.

The normal docs for [`CString::from_raw`](https://doc.rust-lang.org/alloc/ffi/struct.CString.html#method.from_raw) show this signature:

[code]

The unfortunate truth is that `c_char` may be signed or unsigned, `i8` or `u8`, depending on the target platform.

---

Note that a `Vec::new` pointer is not a

[2022-08-16 23:05] vincenzopalazzo commented on #100648
@rustbot label -S-C-bug +S-A-diagnostics +S-T-compiler

[2022-08-16 23:06] vincenzopalazzo commented on #100648
@rustbot claim

[2022-08-16 23:50] #100531 closed

[2022-08-17 01:47] tgross35 commented on #34261
Can anyone advise - is this issue blocked by `pulldown-cmark` adding support?  Their issue on the subject [is located here](https://github.com/raphlinus/pulldown-cmark/issues/6), but I am unsure whether or not this is a direct blocker for `rustdoc`.

[2022-08-17 02:27] gco opened #100657 "Build fails with `-Csplit-debuginfo` is unstable on this platform"
Building rust on Solaris-x86_64 for the past few releases (now 1.63.0), it seems that late in the build process it still uses the bootstrap compiler where it fails with:
[code]
from this code: [compiler/rustc_session/src/config.rs:build_session_options()](https://github.com/rust-lang/rust/blob/1.63.0/compiler/rustc_session/src/config.rs#L2459)

The compiler is invoked with -Csplit-debuginfo=off, b

[2022-08-17 03:03] gco commented on #100657
I take that back, -Csplit-debuginfo=packed is being passed (at least some of the time).

[2022-08-17 03:07] Gankra commented on #65111
Just a little update on abi-checker:

* We now set the exit code if any tests fail
* We now have [a system for specifying test expectations](https://github.com/Gankra/abi-checker/issues/9#issuecomment-1211170745)
* We now have machine-readable output via either --output-format=json (very verbose megareport) or --output-format=rustc-json (uses libtest's format, kinda jank)
* [rustc_codegen_cranelif

[2022-08-17 03:14] Gankra commented on #65111
Possibly one annoyance remaining is that we currently use rustc by literally invoking `Command::new(rustc)`, which works well for a rustup user but may be annoying for rustc itself. I can potentially change this to accept some sort of configuration if desired. Or I could use the RUSTC that [built](https://docs.rs/built/latest/built/) picks up. It's already mildly important that abi-checker itself

[2022-08-17 05:55] scottmcm commented on #100612
Note that the repr(i128) tracking issue mentions this problem: https://github.com/rust-lang/rust/issues/56071

[2022-08-17 06:06] workingjubilee commented on #100650
Correct, unfortunately. This will likely require building from source.
Please feel free to open any issues you run into if you do that.
Also, we currently use a version of LLVM 15, recently upgraded from LLVM 14. It would be useful to know if using the old LLVM is what decides the matter.

Unfortunately, LLVM has reduced their support for atomics on some platforms, and Rust attempts to avoid expos

[2022-08-17 06:14] workingjubilee commented on #100597
Feature requests may be more productive to discuss on [irlo](https://internals.rust-lang.org).

You may be interested in the extensive feature work on [IO safety](https://github.com/rust-lang/rust/issues/87074), which is a prerequisite to anything even vaguely resembling this, as well as crates like [cap-std](https://github.com/bytecodealliance/cap-std).

[2022-08-17 06:46] rlee287 opened #100665 "`RUSTFLAGS='-Z sanitizer=address'` produces linker-related errors with proc-macro dependencies"
Reproduction: Add `thiserror` to a new Cargo library project and copy the code below (taken from the `thiserror` example code) into the `src/lib.rs` file:

[code]

I do not have experience with writing proc-macro crates, so I am currently unable to provide a minimal MCVE with a minimal proc-macro.

A compilation error results when building with `RUSTFLAGS='-Z sanitizer=address'`:
[code]

Expected

[2022-08-17 06:52] taiki-e commented on #100665
You need to pass `--target` flag.

See also [documentation of `-Z sanitizer`](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html#build-scripts-and-procedural-macros):

[2022-08-17 07:06] workingjubilee commented on #43080
pardon, is this still an issue in 2022?

[2022-08-17 07:56] davidtwco commented on #100477
I think @chenyukang is correct. We don't look at code from derives during dead code analysis, if we did then it would be really easy to miss fields that aren't used anywhere other than a derive - so I don't think we want to change this. `println!` does require the `Debug`, but its expansion doesn't itself use the `value` field. I'll close this but feel free to comment if you disagree or think of a

[2022-08-17 07:56] #100477 closed

[2022-08-17 08:27] Nemo157 commented on #99919
@craterbot run mode=rustdoc crates=list:bradleyharden/fft_iter_bench,hans-arn/SEC_2,stuartZhang/scaffold-wizard,belong,catboost2-sys,easy_proc,tzdb,vue-sfc cap-lints=allow start=nightly end=nightly+rustdocflags=-Zunstable-options\ -wjson

[2022-08-17 08:29] xuruiray commented on #80346
rustc 1.57.0 (f1edd0429 2021-11-29)
binary: rustc
commit-hash: f1edd0429582dd29cccacaf50fd134b05593bd9c
commit-date: 2021-11-29
host: x86_64-unknown-linux-gnu
release: 1.57.0
LLVM version: 13.0.0

meet this problem in docker

[2022-08-17 08:46] Swatinem commented on #77654
Indeed, the playground example now works fine.

[2022-08-17 08:46] #77654 closed

[2022-08-17 09:02] apiraino commented on #100476
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100476.20.60rustc.60.20hangs.20on.20a.20recursive.20function.20marked.20with.20.60.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-17 09:27] mladedav commented on #100632
Right, thanks. I didn't know about  `rustc-std-workspace-std` and all the building details around it so I've been looking at the wrong docs (where some platform-specific details seem to be filled in). The thing that confused me the most is that rust-analyzer also shows `*mut i8` instead of `*mut c_char` in the docs in IDE but I'll try to raise that with them.

I realize that the example I provided

[2022-08-17 09:27] #100632 closed

[2022-08-17 09:46] apiraino commented on #100542
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100542.20regression.3A.20delayed.20good.20path.20bug.3A.20trimmed_def_path.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-17 09:51] zirconium-n opened #100672 "ICE: no errors encountered even though `delay_span_bug` issued. With `impl Fn` and GAT"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-08-17 09:56] elichai commented on #75834
If anyone has any directions in to how to fix it I can give it a try :)

[2022-08-17 09:58] uarif1 opened #100673 "std::io doesn't work when stdout/stderr has O_NONBLOCK set"
When stdout/stderr uses tty and has O_NONBLOCK set, the kernel driver returns -EAGAIN (https://elixir.bootlin.com/linux/v5.19/source/drivers/tty/tty_io.c#L952). This causes rust to panic, rather than try to print the same buffer again.

An example of when O_NONBLOCK is set on stdio is when using qemu serial.

I made an attempt to handle EAGAIN for std::io(https://github.com/rust-lang/rust/pull/100

[2022-08-17 10:09] apiraino commented on #100615
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100615.20Anon.20lifetime.20in.20.60impl.20Trait.60.20no.20longer.20suggests.20ad.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-17 10:39] apiraino commented on #100543
Just to be sure I understood: is the regression about code that should compile in the next Rust 1.64 or is that code now invalid code and the regression is just a bad diagnostic? thanks!

[2022-08-17 10:41] fee1-dead commented on #100543
@apiraino The code is valid. It should compile in the next Rust 1.64. Hope that helps.

[2022-08-17 10:49] apiraino commented on #100543
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100543.20regression.3A.20can't.20compare.20.60X.60.20with.20.60_.60.20in.20const.20con.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-17 10:58] the8472 commented on #100673
C++ stdio streams [don't support nonblocking IO](https://stackoverflow.com/a/62790979/1362755). I suspect they silently drop the writes because [fail()](https://cplusplus.com/reference/ios/ios/fail/) wasn't checked?

----

re @famz (https://github.com/rust-lang/rust/pull/100594#issuecomment-1217833068): I think it's better to continue the discussion here since changing behavior as in that PR is no

[2022-08-17 11:10] the8472 commented on #100673
Nominating for discussion. Do we want a) document that nonblocking stdio is unsupported b) add polling fallbacks. In the latter case the question is whether it should be added only for the stdio wrappers or for all FD wrappers.

Recent changes to windows (#98950) point in the direction of adding a fallback?

[2022-08-17 11:17] apiraino commented on #100550
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100550.20ICE.20when.20compiling.20nalgebra.200.2E25.2E4.20in.20Release.20mode)).

@rustbot label -I-prioritize +P-critical

[2022-08-17 11:22] uarif1 commented on #100673
I just tried the example in stack overflow and cout.fail is 0, but as mentioned in the article, it seems to only affect macOS and not linux, and I am testing on linux. The output for me looks like:

stdout O_NONBLOCK is: 2048
stdin O_NONBLOCK is: 2048
  fgvbhln;j;jblhcbwnoi wiejnocje ocweo cewoj coj weoj cowejojewohewouspuweoche njwpihbeh wjo erouhep hv reough er
  fgvbhln;j;jblhcbwnoi wiejnocje o

[2022-08-17 11:32] jplatte opened #100679 "Sidebar links for methods from Deref are wrong if the type has a method of the same name"
On https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html, there's two `is_empty` methods, one from `Vec` (why does `Vec` even have its own rather than relying on the slice one?? 😅) and one from `[T]` which `Vec` deref's to:

- https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.is_empty (`Vec`)
- https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.is_empty-1 (`[T]`)

[2022-08-17 11:34] jplatte opened #100680 ""Methods from Deref<Target = [T]>" doesn't render const"
The documentation for [`[T]::is_empty` on `Vec`s documentation page](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.is_empty-1) don't show that it's a `const fn`, while the documentation for [the same method on `[T]`s documentation page](https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.is_empty) correctly show that it is a `const fn` since 1.39.0.

@rustbot label

[2022-08-17 11:37] jplatte commented on #71835
This seemed wrong to me, so I looked it up. Apparently the `[T]` methods are `const`, but `Vec` has its own `len` and `is_empty`¹ that aren't `const`. I also discovered two [rustdoc](https://github.com/rust-lang/rust/issues/100679) [bugs](https://github.com/rust-lang/rust/issues/100680) while looking this up 😅

¹ so `vec.len()` is not exactly equivalent to `(*vec).len()` for some reason

[2022-08-17 11:41] dtolnay commented on #71835
Actually a very good reason, if I recall correctly. `vec.len()` can get the len right out of the `Vec`'s len field without materializing a reference to the heap data. Whereas taking the `&Vec`, derefing it to `&[T]`, and then getting len via slice's `len()` method would needlessly invalidate all outstanding raw pointers into the heap data which are later used for mutable access.

[2022-08-17 12:15] uarif1 commented on #100673
A couple of points for considering between stdio fd only vs all fd:
- Currently, we make an exception of retrying for ErrorKind::Interrupted for all fds.
- ErrorKind::WouldBlock is just a suggestion from kernel to try again later, so maybe it should be for all FD wrappers, so that it doesnt panic when the kernel returns -EAGAIN?

[2022-08-17 12:54] jyn514 commented on #99919
Hmm weird, looks like we still have 8 root regressions?

[2022-08-17 13:10] m-ou-se commented on #99683
Closing this as acceptable.

[2022-08-17 13:20] famz commented on #100673
Whether or not sharing the same stdio is usually a sysadmin decision rather than program developers', e.g.:

[code]

In this case 3 subprocesses in the subshell share the same stdout.

If `/usr/local/bin/yes` was developed in Rust and used println, and some_other_program happens to set stdout to non-block, we will see a panic.

So, who is here to blame? The sysadmin who wrote this script? The deve

[2022-08-17 13:58] carols10cents commented on #96865
Is this related to/duplicate of #64552?

[2022-08-17 14:09] 5225225 opened #100683 "Reference to `std::fmt::Debug` not using full path in "multiple applicable items in scope" error"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=970c9bebd80f042e27af0cdfb3309579

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

If you apply the original suggestion, you get a compile error, because `Debug` (the *trait*) is not in scope. `Debug` (the *derive macro*) is, however. I suspect that's what's causin

[2022-08-17 14:18] obeis commented on #100683
@rustbot claim

[2022-08-17 14:22] joshtriplett commented on #100673
I think we *could* make println do polling if it gets an `EAGAIN`, but I'm not sure we *should*. We shouldn't try to make `write` and similar Just Work (they should return an error that the user will have to handle). I think having stdout or stderr in non-blocking mode is an unusual configuration that we shouldn't be expected to transparently handle.

[2022-08-17 14:47] famz commented on #100673
Hi Josh! From your reply I assume it's not a bad idea if we make `println!` return errors that's ready for the user to handle, instead of panic? Then the user can define another macro that "retries" upon EAGAIN, `println_all`.

Or, such a wrapper can be a good addition to std too?

By then, why is it so important that we don't just call it `println`?

I understand changing behaviour of what's wide

[2022-08-17 14:52] alexschrod opened #100684 "ICE with bounds on non-present generic type parameter"
### Code

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6d72a3365fa7e42bcfe2a23e17f48678)

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-17 14:57] mati865 commented on #37939
We are fast again (at least for the examples given above) since Rust 1.52 which contains LLVM 12 upgrade!

Once somebody adds test (or confirms that similar test already exists) this issue could be close.

[2022-08-17 15:03] crepererum commented on #80437
One argument could be that `into_inner` is easier to find than the special "`DerefMove`" semantic of `Box`. There could be a clippy lint on top that suggest replacing `into_inner` with `*`. It's a somewhat weak argument though to add stdlib features just for learners.

[2022-08-17 15:05] Rageking8 opened #100686 "If `True` is not in scope and is used, suggest the valid `true`"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=131e3aa966bc4494cbffd42a313f0b35)

[code]

The current output is:

[code]

Ideally the output should suggest something like "if this is meant to be a boolean, consider changing it to `true`", since `True` is used for other languages.

[2022-08-17 15:18] alamb commented on #80437
In my unlearned opinion the reason for the function to exist is because newcomers to rust expect it to exist and thus are confused when it doesn't.

Expert rust programmers will use `*` and clippy could guide newcomers to the correct usage of `*` as @crepererum  suggests in https://github.com/rust-lang/rust/issues/80437#issuecomment-1218133185

[2022-08-17 15:22] uarif1 commented on #100673
I agree with this, and I would say not only for stdio but maybe for all fds, If a write returns -EAGAIN, it seems like an extreme reaction to panic!, when kernel is requesting to try again.

[2022-08-17 15:24] joshtriplett commented on #100673
That would be a backwards-incompatible change. If you want to handle errors, call `writeln!` instead.

I would suggest that having stdout/stderr in non-blocking mode is an unusual configuration that the user shouldn't do without expecting to handle it.

@uarif1 `write`/`writeln` don't panic; they return the error for the user to handle. `println` is defined to panic if write returns an error.

[2022-08-17 15:24] #100673 closed

[2022-08-17 15:25] sundeep-kokkonda opened #100687 "LLVM ERROR: Not supported instr" on 'mips64-poky-linux-gnun32-gnu' target"
I am getting this error when compiling the rust application for mips n32 arch abi on Yocto project.

[code]
What could be the reason for this error and how to fix it? I suspect the data layout causing this issue. Below is the data layout used.
[code]
How do I derive a correct data layout for a specific arch? (Like the one given in https://github.com/rust-lang/compiler-builtins/issues/400#issuecomm

[2022-08-17 15:27] joshtriplett commented on #100673
That said, a PR adding documentation to both the `std::io` module and to `println`/`print`/eprintln`/`eprint` (the latter being one sentence and a link to the former which could have a longer explanation) would be welcome.

[2022-08-17 15:38] joshtriplett commented on #100551
We've discussed this pretty extensively in libs-api, and we're comfortable with this change; we do need a release note here, though.

[2022-08-17 15:41] the8472 commented on #100551
The PR is appropriately labeled.

[2022-08-17 16:42] dtolnay commented on #80437
I am skeptical of a claim that newbies expect it to exist without looking at the Box docs, especially if that's in the form of correctly guessing Self::assocfn syntax over .method() syntax, which is idiosyncratic to Box. None of this strikes me as a thing newbies guess.

If instead, newbies expect it to exist because they look at the Box docs and it exists, then that that is relatively easy to fix

[2022-08-17 16:47] famz commented on #100673
Well, this is not that hard to hit. Just start this in the background (`cargo run &`)

[code]

Then start a tmux session in foreground.

Then the hello world program crashes.

One would think a relatively quiet app may be fine to run in the background where tmux runs in foreground, expecting a line or two outputs to slightly clutter the tmux display (easy to fix with Ctrl-L), but that is not the c

[2022-08-17 16:48] rustrust commented on #100597
It might be worthwhile to think about ways of making these capabilities as specific as possible without being a nuisance. For example capabilities might be specified at the level of a specific function call, at the level of a code block, or at the level of a use statement.

example:
[code]

[2022-08-17 17:23] Kobzol commented on #37939
There's [this](https://github.com/rust-lang/rust/blob/master/src/test/codegen/try_identity.rs) codegen test, but I'm not sure if it's enough to check for this.

[2022-08-17 17:24] rlee287 commented on #100665
It does build successfully with a specified `--target`, thanks.

[2022-08-17 17:24] #100665 closed

[2022-08-17 17:30] #100619 closed

[2022-08-17 17:41] bwsw commented on #86658
@grahac Thank you for the insight.

[2022-08-17 17:45] urben1680 opened #100689 "Compiler error when repeating GAT in FnMut signature instead of using Self::AssociatedType syntax"
The original problem I tried to solve can be found here:
[Referencing to a value with lifetime to pass it to a FnMut](https://users.rust-lang.org/t/referencing-to-a-value-with-lifetime-to-pass-it-to-a-fnmut/79986).
This code causes an ICE:

### Code

[code]

The behavior differs when I replace `FnMut(&'b Foo<'a>` with `Self::FooRef<'b>`. Then the compiling fails without an ICE:

[code]

The compil

[2022-08-17 17:48] passy opened #100690 "Mismatched closure arguments are no longer expanded in rustc 1.64 and later"
*Sorry, this is not necessarily the smallest possible example. Please let me know if this is unhelpful and I'll come up with something more concise.*

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8a1f669598035e38e7e141eb799d6738

[code]

The output in current stable (1.63.0) is:

(Please note the "expected closure with ... found closure with ...

[2022-08-17 18:09] StefanoD commented on #37939
According to this [blog post](https://agourlay.github.io/rust-performance-retrospective-part3/), Rust has to this date (Rust 1.62.1) performance problems with the question mark operator, resulting in a 4% performance loss.

[2022-08-17 18:15] scottmcm commented on #37939
Definitely not -- you'll notice it's both `-Zunsound-mir-opts` and `FIXME: broken`.

But there's good news!  LLVM 15 merged a few days ago, bringing the fix mentioned in https://github.com/rust-lang/rust/issues/85133#issuecomment-1072168354.

With that, both of these are nops now:
[code]
<https://rust.godbolt.org/z/71dYnrMf6>
[code]

For comparison, on 1.63 even the `match` version needs a bunch o

[2022-08-17 18:20] Nilstrieb commented on #100690
searched nightlies: from nightly-2022-06-01 to nightly-2022-08-11
regressed nightly: nightly-2022-07-23
searched commit range: https://github.com/rust-lang/rust/compare/62b272d25c5bb8b6bb8ac73797d82b8b9a1eabda...848090dcd18553b790461132ca9d2a020aeea9a2
regressed commit: https://github.com/rust-lang/rust/commit/e7a9c1141698bc4557b9da3d3fce2bf75339427f

<details>
<summary>bisected with <a href='http

[2022-08-17 18:21] Nilstrieb commented on #100690
Looks like it was caused by #99539, which is pretty big diagnostics PR in that rollup. cc @compiler-errors

[2022-08-17 18:22] compiler-errors commented on #100690
Of course I caused it.

[2022-08-17 18:37] the8472 commented on #100673
If tmux wants to use O_NONBLOCK and at the same time support other processes accessing the underlying TTY then it should reopen the stdio file _descriptors_ so it has separate file _descriptions_ which don't share the fcntl state.

Concidentally someone [submitted a patch to qemu](https://lore.kernel.org/all/0b88a3432f2fcfee1e57abfa9420ca6c5c386b49.1453954698.git.sam.bobroff@au1.ibm.com/) that wou

[2022-08-17 18:49] steffahn commented on #100690
@rustbot label -E-needs-bisection

[2022-08-17 19:08] steffahn commented on #100544
json2rss is also #99413
(by the way, I have opened PRs to multiple affected crates, including json2rss and operator, those two are already merged ^^)

FGS regresses at the same nightly as #98835, as does wonnx

ft-cli is most definitely #99413 (the `html_handlebars` method `render` was involved in a lot of other #99413-regressions, too). I didn’t bisect or send a patch, since the repo is archived

[2022-08-17 19:11] riking commented on #100417
Diagnostics part of issue is covered in #40543

[2022-08-17 19:21] sgued commented on #95240
It seems that `-C incremental=...` is the cause of the slowness. See [this repo](https://github.com/sgued/rust-slow-repro) which contains the example file found [here](https://github.com/rust-fuzz/cargo-fuzz/issues/303) and two scripts, slow.sh and fast.sh which have for only difference the `-C incremental=..`

On my machine, with  `rustc 1.65.0-nightly (86c6ebee8 2022-08-16)`, the compilation tim

[2022-08-17 19:34] Enselic commented on #99919
@jyn514 Hmm which ones do you mean?

[2022-08-17 19:42] kupiakos opened #100695 "#[deny(overflowing_literals)] is not triggered on proc macro output without a source span"
Proc macros will not trigger `#[deny(overflowing_literals)]` if the violating output literal is not associated with an input span. This is unexpected, as an overflowing literal should always be checked regardless of what generated it.

proc macro lib.rs:
[code]

test:
[code]

`rustc --version --verbose`:
[code]

[2022-08-17 19:46] carols10cents opened #100696 "panic msg for slicing used to contain path to user's code, now contains path to core"
I just noticed this regression from 1.60 to 1.61 because TRPL reasons.

### Code

I tried this code:

[code]

I expected to see a panic with this message, pointing to the line in my code that caused the panic, which is what I see if I run `cargo +1.60 run`:

[code]

Instead, if I run `cargo +1.61 run`, I see a panic with a message pointing to a path in core:

[code]

For clearer viewing:

[code]

[2022-08-17 20:18] Kobzol opened #100698 "`Result<u32, u32>` uses less efficient ABI than `Result<i32, u32>`"
I noticed this while writing a codegen test for https://github.com/rust-lang/rust/issues/37939#issuecomment-1218345560.
It seems that `Result<u32, u32>` and `Result<i32, i32>` are passed as two 32-bit numbers, while `Result<i32, u32>` and `Result<u32, i32>` are passed as a single 64-bit number.

Compiler: `rustc 1.65.0-nightly (86c6ebee8 2022-08-16)`

<details>
<summary>Code</summary>

[code]
</de

[2022-08-17 20:24] DropDemBits opened #100699 "Suggest changing `-> T<U>` to a `-> T<&U>` when trying to return a `T<&U>`"
Given the following code: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a33eca3ff60c0fa5b2f73dc3e34c362f>

[code]

The current output is:

[code]

Ideally, there should be a suggestion to add a `&` to the inner type

[code]

[2022-08-17 21:03] xfbs commented on #31844
Any updates on this? @balanceglove2 have you been able to contact anyone?

[2022-08-17 21:13] mankinskin commented on #31844
I think they are just waiting for pull requests at this point.

[2022-08-17 21:59] compiler-errors commented on #100699
Hm, this suggestion in particular is very specific to `T` itself, and also the signature of the function (i.e. it's only meaningful to suggest a reference with an elided lifetime in the return type -- like `&T` -- if there's a lifetime that matches in the inputs...).

This also changes the meaning of the function. It's equally likely, I think, that the user could've forgotten an `Option::copied` m

[2022-08-17 22:19] vincenzopalazzo commented on #100686
@rustbot claim

[2022-08-17 22:46] cr1901 commented on #43080
`--emit=asm` works fine when combined with `-Z build-std=core`. I do not use `xargo` anymore, so I'm not able to test the exact conditions.

[2022-08-17 23:18] jyn514 commented on #99919
Ugh, GitHub was being buggy and showing me https://github.com/rust-lang/rust/issues/99919#issuecomment-1214358217 as the latest comment. Sorry for the noise.

[2022-08-17 23:32] kpreid opened #100704 "E0603 "note: the trait … is defined here" not showing any detail"
Given the following code:

[code]

The current output is:

[code]

The `note` is useless and confusing since it doesn't say what “here” is. Better output would be any of:

* **A suggestion to use the public path** (`std::marker::Unpin` in this case) would be most helpful to anyone using an unfamiliar type (this could occur in third-party libraries as well as `std`).
* Include file and code snippet

[2022-08-18 01:08] compiler-errors commented on #100620
I minimized this:

[code]

And fix PR incoming.

[2022-08-18 01:34] compiler-errors commented on #100704
Probably just need to check the span of the note with `rustc_span::DUMMY_SP` (there's `Span::is_dummy` to do this)

[2022-08-18 01:36] compiler-errors commented on #100704
We also probably have the `visible_parent_map` and could use that to suggest the correct path here.... I think? At least for foreign traits that we have the cmeta for.

[2022-08-18 02:14] SparrowLii commented on #97706
Tried to minimize it:
[code]

[2022-08-18 02:19] tmandry opened #100706 "Tracking Issue for refined trait implementations"
This is a tracking issue for the RFC "Refined trait implementations" (rust-lang/rfcs#3245).
The feature gate for the issue is `#![feature(refine)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for lar

[2022-08-18 02:25] Mathspy commented on #80437
A bit of an anecdotal evidence here: the only reason I ever subscribed to this issue was because I rarely work with Box and one time when I was doing so I needed to “unbox” and so my initial thought was to look for an into_inner method similar to the ones on Mutex and other types.
I found the method and was surprised it wasn’t stabilized, expected it to be a 1.0.0 stable, opened the issue and subs

[2022-08-18 02:27] tmandry commented on #87919
This RFC was revised and generalized by rust-lang/rfcs#3245, which is now tracked in #100706.

[2022-08-18 03:17] SparrowLii commented on #97706
It may be fixed by #100092

[2022-08-18 03:18] DropDemBits commented on #100699
Yeah, I probably reduced the example too much when making the issue.
This snippet is a closer approximation of the original code:

[code]

Though this also falls under the same reasoning as the previous example (an `Option::cloned` could've been forgotten).

---

I was definitely confused initially because I'd first seen the error text in vscode (and thus from r-a), and the presentation of the err

[2022-08-18 04:54] compiler-errors commented on #100696
I didn't bisect this, but I'm about 90% sure that this is due to #94657 cc @fee1-dead

[2022-08-18 06:59] conradludgate commented on #80437
Similar experience here, but I'm with @dtolnay on this one. I was confused by the `into_inner` method and I assumed it was the only way. If it hadn't autocompleted in my editor I would have most likely searched the box docs more thoroughly.

The only argument I have for `into_inner` is slowly moving us away from magic box-deref into some other language feature, but I don't think I've seen much pro

[2022-08-18 07:57] Alkeryn opened #100711 "std::net::TcpStream::connect() and .to_socket_addrs() segfault when address is "localhost:8080", build is static and /etc/hosts is empty on arch linux."
I tried this code:

[code]

I expected to see this happen: the address is resolved

Instead, this happened: the program segfault

### Meta

`rustc --version --verbose`:
[code]

For the backtrace, RUST_BACKTRACE did not work and gave the following output :
[code]
<details><summary>Backtrace</summary>
<p>

so here is a backtrace made with gdb (don't mind the gef plugin being installed
[code]

</p>
<

[2022-08-18 08:02] weiznich opened #100712 "Rustc reports trait implementations as conflicting even if they are not conflicting"
I tried this code:

[code]

I expected to see this happen: The code compiles without errors, as all trait implementations are not conflicting (as demonstrated by the impls on `Bar`)

Instead, this happened: Compilation fails with the following error message:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-18 08:22] apiraino commented on #100690
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100690.20Mismatched.20closure.20arguments.20are.20no.20longer.20expanded.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-18 08:46] fee1-dead commented on #100696
This is a flaw in the `const_eval_select` intrinsic's implementation. We currently rewire it to use the implementation which calls the functions from the FnOnce trait. That call cannot be `track_caller`, and therefore panics will trace to the closure call instead. The previous design was to use lang item machinery to rewire it to call function items, which would fix this.

[2022-08-18 08:58] Urgau commented on #100711
I'm unable to reproduce the issue. I tried stable, beta, nightly, with/without `/etc/hosts`, ...

I'm also seeing thanks to your gdb backtrace that the crash seems to be inside `/usr/lib/libnss_myhostname.so.2` which is a systemd library. This doesn't indicate that the rust code isn't responsible for the crash but it pass trough the `glibc` `getaddrinfo` function which should have rejected invalid

[2022-08-18 09:14] plazmoid commented on #100000
Love this community, hi from Russia!

[2022-08-18 09:43] Alkeryn commented on #100711
Hey, yea, i was unable to reproduce it on my debian based vps.

on the system it does occur,

systemd-libs version is 251.4-1
glibc version is 2.36-2

yes, i updated it this morning
isn't it odd that it tries to use that library knowing it is a static build however ?

[2022-08-18 09:47] Alkeryn commented on #100711
@Urgau oh wait, i did put part of my original issue in a comment block, the condition were missing.
you need to compile with  `rustc -C target-feature=+crt-static main.rs`
sorry, i missed that it was missing.

[2022-08-18 09:49] crlf0710 commented on #99551
Seems no longer panicks on today's playground: 1.65.0-nightly
(2022-08-16 86c6ebee8fa0a5ad1e18)

Is it worth bisecting what has changed in this month?

[2022-08-18 09:50] #100684 closed

[2022-08-18 09:51] Xiretza opened #100714 "SessionDiagnostic derive does not consider `#[label = "..."]` on Span field valid"
I tried this code:

[code]

I expected to see this happen: As explained in the current [rustc-dev-guide](https://rustc-dev-guide.rust-lang.org/diagnostics/diagnostic-structs.html#reference), the error message is fetched from `parser_if_expression_missing_condition`, and the attributes `.condition_label` and `.block_label` of this fluent resource are used to create two note subdiagnostics.

Instead

[2022-08-18 09:52] Xiretza commented on #100714
@rustbot label +A-translation

[2022-08-18 09:54] davidtwco commented on #100714
That's just somewhere that the dev guide is out of date unfortunately. We used to refer to Fluent slugs as strings, like in these examples, but then we switched to always referring to them using the "typed identifiers" that we generate, as that provides a degree of compile-time validation.

So in these examples, `#[label = "bar_foo_qux"]` becomes `#[label(bar::foo_qux)]` and that expands to `rustc

[2022-08-18 09:54] davidtwco commented on #100714
I'll close this because it's not really a rustc bug, just some out of date documentation in the dev guide.

[2022-08-18 09:56] Xiretza commented on #100714
So it's not possible to group multiple labels/notes/etc together with their respective diagnostic?

[2022-08-18 09:57] davidtwco commented on #100714
It's still possible. `#[label(typeck::definition_label)]` expands to `rustc_errors::fluent::typeck::definition_label` which corresponds to `<whatever-the-primary-slug-is>.definition_label`.

[2022-08-18 09:58] Urgau commented on #100711
Okay, thanks for the info.

Well, yes but mostly no. Generally a static build include mostly/every library it is dynamically linking to but sometimes some libraries aren't linked trough at linked time but figured out at run-time and here that's the case for the domain resolution, because there are many different ways it could be done and including all of them isn't possible.

you need to compile w

[2022-08-18 10:03] Xiretza commented on #100714
Huh, that's slightly confusing, but good to know! So attributes really aren't attributes of slugs, but rather also part of the global namespace? In other words, you'd get a name clash if you had both `typeck_foo.definition_label` and `typeck_bar.definition_label`, because they both correspond to `rustc_errors::fluent::typeck::definition_label`?

[2022-08-18 10:07] davidtwco commented on #100714
Not quite - we cheat a little here. `typeck_bar.definition_label` and `typeck_foo.definition_label` are distinct in Fluent, and would both generate a `rustc_errors::fluent::typeck::definition_label`, so we just generate that once.

The trick is that `rustc_errors::fluent::typeck::definition_label` is a `SubdiagnosticMessage` type, which only contains the `"definition_label"` string. It is entirely

[2022-08-18 10:14] Xiretza commented on #100714
That's a little hacky, but also means that manually derived `SessionSubdiagnostic`s can use their parent `SessionDiagnostic`'s attributes, which is great (and something I hadn't realized until now)! Thanks a lot for the very fast and thorough explanations.

[2022-08-18 10:34] davidtwco commented on #100714
https://github.com/rust-lang/rustc-dev-guide/pull/1436

[2022-08-18 10:46] Ajkcki opened #100715 "ICE: called `Option::unwrap()` on a `None` value, compiler/rustc_metadata/src/rmeta/decoder.rs"
This happened when `cargo build` substrate (https://github.com/paritytech/substrate)

### Meta

`rustc --version --verbose`:
[code]

`OS Info`:
[code]

### Error output

[code]

[2022-08-18 10:57] Alkeryn commented on #100711
@Urgau thanks !
i do wonder why i can't reproduce it on a debian server, but not that important.

i see, still i wouldn't have expected to segfault a rust program without using unsafe, even though it segfault from glibc, couldn't rust handle it gracefully in one way or another ?

anyway, thanks for the tips.

[2022-08-18 11:52] Mark-Simulacrum commented on #100696
This seems like a pretty unfortunate regression in ability to debug these - do we have line of sight to fixing that? If I follow the PR, it's for unstable indexing or so? (i.e., perhaps we should revert it if we can't improve the diagnostic quality here)?

[2022-08-18 12:06] fmease commented on #100680
This was intentionally introduced in #91291 as fix for #90855 and it is going to be removed once `const_trait_impl` is stable (#67792).

[2022-08-18 12:14] vmarkushin opened #100716 "`cargo test` doesn't always pass `test` flag"
I tried this code:

[code]
with `cargo test`

I expected to see this happen: compiles successfully

Outputs the following:
[code]

# Update
Explanation [here](https://doc.rust-lang.org/cargo/commands/cargo-test.html#target-selection). To run the test properly, one needs to specify the target, e.g.: `cargo test --package a --lib <test_name>`

[2022-08-18 12:30] Urgau commented on #100711
I also tested on a debian-based system and couldn't reproduced the crash. The problem probably comes from the recent `glibc` upgrade done in archlinux. This may be a recent regression in `glibc`, but as I said `glibc` advise against static-linking so I don't know if they will do something about it.

The segfault is not in the rust code it's in the `systemd` lib probably because `glibc` passed some

[2022-08-18 12:42] apiraino commented on #100696
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100696.20panic.20msg.20for.20slicing.20on.20non-char.20boundary.20used.20to.20.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-18 13:45] the8472 commented on #93731
They generate the same assembly on nightly. Most likely due to the recent llvm upgrade.

[2022-08-18 13:45] #93731 closed

[2022-08-18 13:46] davidtwco opened #100717 "Diagnostic Translation"
The Rust Diagnostics working group is leading an effort to add support for internationalization of error messages in the compiler, allowing the compiler to produce output in languages other than English. This issue tracks the current status of the effort, which was announced in the [*"Contribute to the diagnostic translation effort!"* post on *Inside Rust*](https://blog.rust-lang.org/inside-rust/2

[2022-08-18 13:53] nidnogg commented on #100717
I took up `rustc_const_eval`  and `rustc_expand` for the time being. Kudos for the further write-up! 🚀

[2022-08-18 13:57] fee1-dead commented on #100696
I'll try to fix this without reverting. If you don't hear from me within the next four hours, feel free to do a revert.

[2022-08-18 14:02] ehuss commented on #100716
Maybe I am misunderstanding the intent, but the following:

[code]

will unconditionally cause a compile error with `cargo test`. Can you say more about what this is trying to illustrate or what the intent is?

[2022-08-18 14:10] alamb commented on #80437
To be clear, it is my opinion that adding the following would make rust easier for newcomers.

[code]

I clearly can't speak for all newbies -- only my past self. I read various rust books, thought I understood `&` and `*` and all was good and then I had a `Box` and had to get the value out of it. I was expecting some function to do so and finding none it took a few minutes  go google / get out of

[2022-08-18 14:12] compiler-errors commented on #86800
Re-opening due to #99860

[2022-08-18 14:23] conradludgate commented on #80437
To be extra clear. This tracking issue is for:

[code]

Making it a method is a breaking change

[2022-08-18 14:30] JeanCASPAR commented on #100717
I'm migrating `rustc_ast_lowering`

[2022-08-18 14:42] pnkfelix commented on #65991
@rustbot label: I-lang-nominated

I am seeking an answer to the question, requoted here:

[2022-08-18 14:45] vmarkushin commented on #100716
Maybe it's because of how compilation works: `cargo build --features=a` is running first (which doesn't pass `test` flag), and only then runs `cargo test`

[2022-08-18 14:49] vmarkushin commented on #100716
Fixed the expected behavior

[2022-08-18 14:57] fee1-dead commented on #100696
Tried and it is a bit hard. Feel free to revert now and I will followup later.

[2022-08-18 14:58] IntQuant commented on #100717
I'll probably look into migrating `rustc_infer`

[2022-08-18 15:32] vmarkushin commented on #100716
I've figured out the issue. (see description)

[2022-08-18 15:32] #100716 closed

[2022-08-18 15:41] #100614 closed

[2022-08-18 16:06] dtolnay commented on #80437
That's right, speaking for the library API team, a `.into_inner()` method is not a thing we would consider adding. Ease of learning is relevant but that is not a solution to it.

[2022-08-18 16:15] Xiretza commented on #100717
I'm working on `rustc_parse`.

[2022-08-18 17:08] gxxcastillo commented on #57966
For any other noobs like myself:  I was getting "Import resolution is stuck, try simplifying macro imports" and my fix was to move my dependency declaration in the Cargo.toml file from `[dev-dependencies]` and into `[dependencies]`.

[2022-08-18 17:09] RalfJung commented on #48594
To be clear, I assume it is allowed if both the break and the label are inside the closure/generator/async -- what is forbidden is cross that boundary?

[2022-08-18 17:33] 5225225 commented on #100717
I'm doing the zero diagnostic crates in one PR, will constantly edit this comment to keep track of which ones they were.

Currently: `rustc_apfloat`, `rustc_arena`, `rustc_traits`

[2022-08-18 17:38] superblaubeere27 commented on #100717
I'm working on `rustc_typeck`.

[2022-08-18 17:41] JhonnyBillM commented on #100717
Working on `rustc_type_ir` (zero diagnostic)
PR: #100721

[2022-08-18 17:53] alamb commented on #80437
Well, not your preferred solution, perhaps

[2022-08-18 17:53] CleanCut commented on #100717
@5225225  `rustc_log` seems to be zero diagnostics as well. Do you want to add that to your PR?

I'll continue to look for something unclaimed and small...

[2022-08-18 17:58] CleanCut commented on #100717
🤷🏻‍♂️ I can't find this one. Should I be on a branch other than `master`?

[2022-08-18 18:00] 5225225 commented on #100717
Update your checkout. It's on `master`, but I think it's fairly new. (I believe it's the safe transmute people)

[2022-08-18 18:07] CleanCut commented on #100717
🤦🏻‍♂️ Thanks! I was working off a clone of my fork. I'm glad I discovered this now.

[2022-08-18 18:08] 5225225 commented on #100717
Also if you want something small, rustc_monomorphize has 16 errors.

[2022-08-18 18:09] CleanCut commented on #100717
Working on `rustc_monomorphize`

[2022-08-18 18:24] #99536 closed

[2022-08-18 18:52] finalchild commented on #100717
Working on `rustc_ast_passes`

[2022-08-18 18:55] eholk commented on #97333
This should be fixed as of #97962!

[2022-08-18 18:55] #97333 closed

[2022-08-18 19:09] Andrepuel opened #100725 "Borrow checking for static methods became more strict"
### Code

I tried this code:

[code]

I expected to see this happen: I don't know what should be the behavior. Looks like it all boils down to what is going to be `'a` within `Bigger::<'a>::other`. In stable version of Rust, the code was accepted.

Instead, this happened: Using nightly version of the compiler a borrow checker error happened.

### Version it worked on

It most recently worked on: c

[2022-08-18 19:15] jyn514 commented on #97331
I think all of these have been fixed :) @eholk what are the next steps? Another Crater run?

[2022-08-18 19:22] workingjubilee commented on #43080
I'm going to mark this as "good enough" then! Thank you for following up!

[2022-08-18 19:32] eholk commented on #97331
@jyn514 - Yup! Let me rebase #97334 and then we should be able to run just the failed ones from last time.

[2022-08-18 19:41] 5225225 commented on #100725
searched nightlies: from nightly-2022-01-01 to nightly-2022-08-16
regressed nightly: nightly-2022-08-05
searched commit range: https://github.com/rust-lang/rust/compare/1b57946a405d5b2a87e612335db033edb2c3427f...f6f9d5e73d5524b6281c10a5c89b7db35c330634
regressed commit: https://github.com/rust-lang/rust/commit/caee496150a551fe1b9f77b3a58f7e66d54bc824

<details>
<summary>bisected with <a href='http

[2022-08-18 20:17] b-naber commented on #100712
@rustbot claim

[2022-08-18 20:17] #43080 closed

[2022-08-18 20:19] Facel3ss1 commented on #100717
Working on `rustc_ty_utils`

[2022-08-18 20:34] CrimsonVoid commented on #100513
I'm not sure if this is the right place to provide feedback, but has there been any consideration on disabling 'irrefutable pattern' warnings for cases like `if let _ = rx.read_exact(&mut buf).await? && buf != info_hash`. I find myself repeating this pattern often enough that the compiler warnings are starting to get be kind of much.

I'd like to piggyback on @Manishearth's comment on possibly rev

[2022-08-18 20:36] ciphergoth commented on #48594
That's the behavior of the implementation right now https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=02c73a78c1098db8fe2e8dd1624f205b

[2022-08-18 20:52] T-Dark0 commented on #100513
This isn't the proper place to discuss the feature, to my knowledge. That would probably be an IRLO thread (internals.rust-lang.org), or a Zulip one

[2022-08-18 20:56] Storyyeller opened #100727 "Type inference for todo!() breaks inside a tuple"
Type inference for `todo!()` works if it is the sole element returned from a map closure, but breaks as soon as it is placed inside a tuple. playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1cfae6d57f44f603fa2eb258d332c7ab

I tried this code:

[code]

I expected to see this happen: compiles

Instead, this happened: compile error
[code]

### Meta
I checked "n

[2022-08-18 20:56] steffahn commented on #100725
Yes, that’s definitely #98835, but an interesting new case AFAICT.

[2022-08-18 20:58] Storyyeller commented on #100727
Note: This is a simplified example based on an issue I ran into in a much larger project when using todo!() as a placeholder while incrementally refactoring some code.

[2022-08-18 21:03] steffahn commented on #100725
So for some context/explanation, the compiler used to (arguably somewhat “incorrectly”) act more like as if the closure was
[code]
instead of
[code]
and hence accepted `item` to be _shorter-lived_ than `'a`.

[2022-08-18 21:03] edward-shen commented on #100727
Smaller repro:

[code]
[repros on  1.65.0-nightly (2022-08-16 86c6ebee8fa0a5ad1e18)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b7a64c762bc9a23c0d117b942bfb922a)

[2022-08-18 21:06] edward-shen commented on #100727
Oh, this just fails with just tuples: [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f3fa5c3a432803bfc1b6cc4e27b3dffc)
[code]

[2022-08-18 21:20] fakedrake opened #100728 "`Box<dyn FnOnce(T)>` doesn't seem to be really contravariant with T"
I tried this code:

[code]

I expected it to compile but I got the following:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=976d6bff8e3e107fff3b5d093bb4cddb)

[code]

I asked this on [stackoverflow too](https://stackoverflow.com/questions/73408274/covariance-of-boxdyn-fnoncet-in-rust) hopefully I am not misinterpreting something about variance.

[2022-08-18 21:43] Andrepuel commented on #100725
In fact, I am glad that the new version of the compiler flagged that error. That helped me into fixing an unnecessary overly-specific lifetime constraint that slipped through the code review process.

I've reported this as the regression worried me.

[2022-08-18 21:53] compiler-errors commented on #100717
I marked off all of the crates in @5225225's #100723

[2022-08-18 21:55] compiler-errors commented on #100727
For the record, changing `todo!()` to `{ todo!() }` in both of these examples tells the coercion machinery to treat `todo!()` has having type `_` and not `!`, which makes inference work.

That being said, in some cases adding `{}` to generalize things causes its problems, for example:

[code]

[2022-08-18 21:59] CleanCut commented on #100717
I can't figure out how to do an optional `#[note = "..."]`. If someone could take a look at [my draft PR](https://github.com/rust-lang/rust/pull/100730) and steer me in the right direction, that'd be most helpful. :smile:

[2022-08-18 22:00] eholk commented on #97331
Bummer, looks like there's another test that broke in the meantime: https://github.com/rust-lang/rust/pull/97334#issuecomment-1219902302

[2022-08-18 22:04] steffahn commented on #100725
Rightfully so, better be safe than sorry.

FYI, I don’t think removing the compiler error entirely will happen, so even if this kind of regression is addressed, the usefulness of the compiler will not be reduced; as you noted it’s a useful error message, (and also the new check is there to prevent lots of *new* cases that would otherwise compiler successfully with the newly enabled full NLL-only b

[2022-08-18 22:58] Rejyr commented on #100717
Working on `rustc_lint`

[2022-08-18 23:35] sunshowers commented on #99740
If rustc bundles musl, can it just rely on the fact that it ships with this method?

[2022-08-19 00:03] cuviper commented on #99740
Well, in theory musl is supposed to allow external sysroots too, but it currently uses the self-contained mode for all `crt-static` builds. If this FIXME is addressed, then we can't just rely on what we ship.

https://github.com/rust-lang/rust/blob/0b79f758c9aa6646606662a6d623a0752286cd17/compiler/rustc_codegen_ssa/src/back/link.rs#L1570-L1573

Otherwise, we could ask the question in terms of mini

[2022-08-19 00:39] fakedrake commented on #100728
I looked into the issue a bit carefully and the problem seems to be that the type checker seems to treat the `Fn`/`FnMut`/`FnOnce` traits just like any other trait w.r.t. to variance, making them [invariant](https://github.com/rust-lang/rust/blob/master/compiler/rustc_middle/src/ty/relate.rs#L342) to their argument lifetimes. Unfortunately by the point when the point when variance is checked I can

[2022-08-19 00:48] jsha opened #100736 "error-index is slow to load and shows docs for wrong item while loading"
Steps to reproduce:

1. In an IDE using rust-analyzer, write code with an error
2. In the resulting error message, click the link for more details of the error message.

Expected result:

Page shows the appropriate error message.

Actual result:

Page briefly shows E0001 while loading, then jumps to the correct error message:

![image](https://user-images.githubusercontent.com/220205/185517885-61c

[2022-08-19 02:04] gabrielBusta commented on #100717
Working on `rustc_trait_selection`

[2022-08-19 03:06] zirconium-n commented on #100728
Might be related https://github.com/rust-lang/rust/pull/23938#issuecomment-89038581

[2022-08-19 03:51] evopen commented on #100717
working on `rustc_query_system`

[2022-08-19 04:43] Lucretiel commented on #70436
I wrote up a quick implementation of the proposed design. It's a pretty straightforward elaboration of `advance_slices` that takes care to preserve the original version of the current `IoSlice` and restores it each time the `&[IoSlice]` is advanced one step. It also restores on drop to help keep `io::Error` returns clean.

[code]

Then, `write_all_vectored` is basically the same as it is now, but

[2022-08-19 05:22] WaffleLapkin opened #100739 "`src/tools/lint-docs` has incorrect testing stage by default"
When `src/tools/lint-docs` tests fail, x.py outputs the following suggestion:

However, this command doesn't work, because some documentation tests require a nightly compiler (namely `unused_allocation` lint [uses](https://github.com/rust-lang/rust/blob/6c943bad02626dddc5e5135b23c77429b6e4a063/compiler/rustc_lint/src/unused.rs#L1151) `#![feature(box_syntax)]`) so at least stage 1 compiler is requi

[2022-08-19 05:42] AndyJado commented on #100717
working on `rustc_borrowck`

[2022-08-19 05:52] LuisCardosoOliveira commented on #100717
Working on `rustc_session`

[2022-08-19 07:17] detrumi commented on #95734
I ran into this as well, it's happening consistently on [this commit](https://github.com/detrumi/chalk/commit/8da2e1d59beda72b3975b2aa3b5b687481160c31).

<details><summary><strong>rustc --version --verbose</strong></summary>

[code]
</details>

<details><summary><strong>Output</strong></summary>

[code]
</p>
</details>

[2022-08-19 07:20] Alkeryn commented on #100711
Well thank you for all the details ! :)
should we close the issue or report it to glibc devs ?

[2022-08-19 07:37] estebank opened #100741 "Parse and reject "typescript-style" anonymous enums"
Given

[code]

we currently point at the `|` and complain about it not being expected.

Ideally, this should parse and explicitly state that anonymous enums are not supported, and provide a structured suggestion for

[code]

At least, we should emit a note suggesting the above in text without a structured suggestion (which will be easier to produce).

[2022-08-19 07:59] 5225225 commented on #100717
Working on `rustc_mir_dataflow`

[2022-08-19 08:02] eddyb opened #100742 ""implementation of `...` is not general enough" started getting a redundant diagnostic in 1.63."
This is a classic demonstration of the limitations of ("early-bound") generics wrt HRTB:
[code]
<sup>(I don't know what issue we have open about it - #30904 is too specific, there must be one about generic functions - and also if we ever fix this it will likely require `for<'x> typeof(type_generic::<LtGen<'x>>)` function types, which I've brought up to @nikomatsakis before but I haven't seen any o

[2022-08-19 08:07] estebank commented on #100742
cc @compiler-errors as you were just looking at something similar, @rust-lang/wg-diagnostics

[2022-08-19 08:24] eddyb commented on #100742
Unsurprisingly, `cargo-bisect-rustc` points to this (cc @jackh726):
* #95565

(though what *is* surprising is that I'm on the 2021 edition, should I have used `#![feature(nll)]` for testing?)

<hr/>

Sorry, that sounds like I didn't make my point clearly. The problem is that *only* borrowck can tell you about lifetimes, in a useful way. The `'1` and `'2` are *the modern* rendering of lifetimes, th

[2022-08-19 08:28] davidtwco commented on #100717
It's so exciting to wake up to all this interest and progress, I've updated the list with what everyone is working on.

[2022-08-19 08:28] estebank commented on #100742
Fair, makes sense to do that. We also need to check for all the places where E0308 is currently being emitted as the only output for these (I believe that anecdotally there are a few). We should also give the "not general enough" error not only a wording makeover, but also its very own Error Code where we can talk about hrlts, that fun topic that keeps on giving.

[2022-08-19 09:03] asahilina opened #100743 "#[repr(align(N))] fields not allowed in #[repr(packed(M>=N))] structs"
I tried this code:

[code]
I expected that `#[repr(align(4))]` fields, such as `AtomicU32`, would be allowed inside a `#[repr(packed(4))]` struct, since the minimum alignment is >= the required alignment.

However, the compiler complains:

    error[E0588]: packed type cannot transitively contain a `#[repr(align)]` type

Use case: I have some fixed-layout shared memory structs I need to interact w

[2022-08-19 09:17] hampuslidin commented on #100717
I would like to work on `rustc_attr`.

[2022-08-19 09:21] davidtwco commented on #100717
A bonus task for someone who is interested, @compiler-errors makes the good suggestion that we could replace `emit_err`, `emit_warn` and `emit_fatal` (after #100694) with a single function which is generic over the `EmissionGuarantee`-impl'ing type that separates these different kinds of diagnostics.

(https://github.com/rust-lang/rust/pull/100730#discussion_r949712629)

[2022-08-19 09:26] Urgau commented on #100110
https://github.com/rust-lang/rust/issues/100711 seems that it might to be related (also does some networking stuff) and have a much simpler MCVE:

[code]
with `rustc -C target-feature=+crt-static main.rs`

[2022-08-19 09:28] davidtwco commented on #100717
Another small task that someone could take on - we have `LintDiagnostic` which shares a lot of the same infrastructure as `SessionDiagnostic`. `LintDiagnostic` structs shouldn't use `#[primary_span]` because they are invoked through [`emit_spanned_lint`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TyCtxt.html#method.emit_spanned_lint) which takes the primary `Spa

[2022-08-19 09:37] eddyb commented on #100742
Did a 1.51.0 to 1.52.0 bisection and found a likely candidate in https://github.com/rust-lang/rust/compare/152f6609246558be5e2582e67376194815e6ba0d...0148b971c921a0831fbf3357e5936eec724e3566:
* https://github.com/rust-lang/rust/pull/81972

So I believe that @matthewjasper intentionally improved the error here to *not* look like the extra error we're getting again in 1.63.0, but to what's been cons

[2022-08-19 09:42] bjorn3 commented on #100364
Which directory are you invoking `./x.py` from? Is it the source directory or somewhere else? I think the `.cargo/config.toml` necessary for vendoring to work may be missed if you invoke it from another directory than the source directory.

cc @jyn514

[2022-08-19 09:54] semarie commented on #100364
`x.py` is invoked from outside the source directory. I will check that

[2022-08-19 10:03] lcnr commented on #98543
fixed by #99217

[2022-08-19 10:03] #98543 closed

[2022-08-19 10:10] semarie commented on #100364
ok, I confirm that invoking from inside the source directory solves the problem. now I need to use `--config` and `--build-dir` to keep my original behavior to build outside the source directory, but it isn't a big deal.

it might be something to mention in changelog file. I think it is common in downstream dsitribution to use a different build and source directories.

thanks for the help @bjorn3

[2022-08-19 10:13] bjorn3 commented on #100364
I think we should support building outside the source directory again.

[2022-08-19 10:24] SoniEx2 commented on #50213
ran into this issue with GATs as well. see: https://users.rust-lang.org/t/how-can-we-make-this-crate-support-sized/80078

[2022-08-19 10:33] Xiretza commented on #100717
I'll look into that - I guess that would mean replacing the `#[error(...)]`/`#[warning(...)]` struct attributes with a generic `#[message(...)]` or somesuch?

[2022-08-19 10:36] davidtwco commented on #100717
Not quite - we'd keep the `#[error(..)]`/`#[warning(..)]` as they are. Those will let us generate `SessionDiagnostic` impls with the appropriate `EmissionGuarantee` type, so `#[error(..)]` generates a `impl SessionDiagnostic<'_, ErrorGuaranteed> for Foo`, and `#[warning(..)]` generates a `impl SessionDiagnostic<'_, ()> for Foo` (and `#[fatal(..)]` is similar, but with a `!`). Instead of using `emi

[2022-08-19 10:54] gimbles opened #100749 "Ipv4Addr can't parse perfectly valid IP address"
I tried this code:

[code]

I expected to see this happen: OK

Instead, this happened: It panicked and failed.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=278845b668106e1318e431ba7c81eb47

___

IP addresses can contain different representations in every chunk, the IP address is completely valid. For eg. running `ping` on it, is completely fine.
![image](https://user-im

[2022-08-19 11:09] alexschrod commented on #100749
This is explicitly stated not to be supported [in the docs](https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html#textual-representation):

[2022-08-19 11:24] aDotInTheVoid commented on #100587
Related: #92945

[2022-08-19 11:27] gimbles commented on #100749
Ah, interesting. Alright then. Closing. 👍🏻

[2022-08-19 11:27] #100749 closed

[2022-08-19 12:07] aDotInTheVoid commented on #92945
This happens because we add all the inner items here

https://github.com/rust-lang/rust/blob/6c943bad02626dddc5e5135b23c77429b6e4a063/src/librustdoc/clean/types.rs#L774

[2022-08-19 12:27] WaffleLapkin commented on #95134
A bit more minified example:
[code]

[2022-08-19 12:29] Xiretza commented on #100717
Since I'm working on that code anyway, I'll pick this up as well.

[2022-08-19 12:39] jyn514 commented on #100364
https://github.com/rust-lang/rust/pull/98526 fixed a bunch of these issues - @semarie can you try with a tarball from the latest nightly and see if it's fixed there?

[2022-08-19 12:45] ehuss commented on #100739
`./x.py test --keep-stage=0 src/tools/lint-docs` should work. Can you say more about what your config is and the complete output from the failing command?

The default stage is 1, except for "library" users, which probably aren't working on the compiler.

The `--keep-stage=0` syntax means to not rebuild the compiler. If the source is modified just to edit a comment, we don't want it to be rebuilt

[2022-08-19 13:01] Enselic commented on #99879
I can reproduce with **nightly-2022-06-28** but not with **nightly-2022-06-29** so this must have been fixed by https://github.com/rust-lang/rust/pull/98577

To reproduce I copy-paste the following to a terminal:

[code]

[2022-08-19 13:02] bjorn3 commented on #100364
That PR only changes the rust code of rustbuild, not the python code. This issue is while compiling rustbuild. The problem is that .cargo/config.toml is not in the current working directory when compiling rustbuild and as such ignored.

[2022-08-19 13:12] WaffleLapkin commented on #100739
For some reason I have `profile = "library"` 🤦🏻

nevermind then

[2022-08-19 13:12] #100739 closed

[2022-08-19 13:17] calebzulawski opened #100752 "Consider renaming the `avx512gfni` feature to just `gfni`"
While GFNI has (optional) AVX-512 instructions, there is at least one microarchitecture (Tremont) that has GFNI without AVX-512.

This is further confirmed by running:
[code]

Unlike other AVX-512 features, `avx512f` is not enabled, so I'm not sure this should be considered an AVX-512 feature.

[2022-08-19 13:18] #93588 closed

[2022-08-19 13:20] calebzulawski commented on #100752
The same goes for `avx512vaes` to `vaes`, which seems to be implemented on Zen 3 without AVX-512.

[2022-08-19 13:37] rcolomina commented on #80863
`RUSTFLAGS=-Awarnings` flag works for me removing all the warnings. I am most interested on errors rather than warnings.  When you provide this a flag, all cranes are re-complied.

[2022-08-19 14:08] LYF1999 commented on #100741
@rustbot claim

[2022-08-19 14:13] adhesivee opened #100755 "Unclear error message on async closure"
Trying to setup async closures and it took awhile to figure out what was happening.

It is when types are defined as `Box<dyn Fn() -> (dyn Future<Output = ()>)>`
More can be seen here: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7eab934ef04fb7171121c4e4180f7f4d

The current output is:

[code]

Above was apparently caused by lack of `Pin<Box<_>>` on the future. Once adde

[2022-08-19 14:19] robertbastian opened #100756 "`split_inclusive`'s `DoubleEndedIterator` implementation is unexpected"
I would expect `next_back()` to include the separator *before* the string, i.e. the separator that separates the item from the next one. However:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a7f053be65f68d69a472642b53c6b0b)

If this behaviour is intended, it should be documented.

[2022-08-19 14:23] davidtwco opened #100758 "Tracking Issue for `#[collapse_debuginfo]`"
This is a tracking issue for the `#[collapse_debuginfo]` attribute (rust-lang/compiler-team#386).
The feature gate for the issue is `#![feature(collapse_debuginfo)]`.

### About tracking issues
Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *n

[2022-08-19 14:42] SoniEx2 commented on #75899
is this the same as #50213?

[2022-08-19 15:10] Miksel12 commented on #96710
I think `round` should be changed to round ties to even, both [x86](https://xem.github.io/minix86/manual/intel-x86-and-64-manual-vol1/o_7281d5ea06a5b67a-102.html) and [ARM](https://developer.arm.com/documentation/dui0475/k/floating-point-support/ieee-754-arithmetic-and-rounding) use it as the default rounding mode and [IEEE 754](https://irem.univ-reunion.fr/IMG/pdf/ieee-754-2008.pdf) states it sho

[2022-08-19 15:13] matthiaskrgr opened #100771 "ICE with -Zextra-const-ub-checks: normalization works on validated constants"
code from rustc `./src/test/ui/consts/packed_pattern.rs`

[code]

this causes a new panic when executed via miri:
[code]

[2022-08-19 15:17] bnpfeife commented on #97117
Hello @wolffcm @petrochenkov,

My apologies for the radio silence on this issue. I found that the root cause was musl-cross-make. musl still requires a patch to enable "static-pie". However, when I cross-compile musl itself for x86_64 and aarch64, I can build and link a "static-pie" executable. I believe this can be closed as https://github.com/rust-lang/rust/issues/95926 summaries the original is

[2022-08-19 15:19] bnpfeife commented on #97117
Issue with musl-cross-make, not Rust!

[2022-08-19 15:19] #97117 closed

[2022-08-19 15:34] gdennie opened #100764 "No search results for macro, `repr`"
The macro, `repr`, does not show up in the `std` or `beta` version of the documentation based on search results for, `https://doc.rust-lang.org/beta/std/?search=repr`.

It does get covered in [Rust Reference](https://doc.rust-lang.org/reference/type-layout.html?highlight=repr#the-c-representation).

Perhaps the documentation could be amended with an entry linking to the reference documentation for

[2022-08-19 15:49] semarie commented on #100364
I confirm that the latest nightly doesn't build outside the directory.

also, please note that currently the problem is in both beta and nightly channels.

[2022-08-19 15:54] jyn514 commented on #100364
Ah, I see. That seems possible to fix, we can run the command from the source root. The working directory of the build itself shouldn't affect any of the runtime configuration.

[2022-08-19 16:22] meisme-dev commented on #100000
Love this community, hi from Egypt!

[2022-08-19 16:23] tspiteri commented on #100422
Doesn't `leading_zeros` implicitly include a check for zero in the code generated? \[[godbolt](https://godbolt.org/z/xKM1b69vs)\]

[2022-08-19 16:34] b-naber commented on #100712
As far as I understand, this is actually intended behaviour, though admittedly confusing. The reason that we can't normalize that projection during the coherence check is, afaict, that we have to be conservative with trait refs that don't obey the orphan rules (which `<PgConnection as Connection>` doesn't), since there might be conflicting impls for that trait ref in upstream crates.

Might make s

[2022-08-19 16:38] tspiteri commented on #100422
Also, since the `ilog` methods are implemented for signed integers as well, another issue would be the log of negative values. For example for floating-point, `0f32.log2()` would return &minus;&infin;, but `(-1f32).log2()` would return NaN. So if `0i32.ilog2` would return some value for &minus;&infin;, would `(-1i32).ilog2()` panic anyway, or return some value?

[2022-08-19 16:54] Facel3ss1 commented on #100717
Working on `rustc_plugin_impl`

[2022-08-19 17:00] XiangYyang opened #100766 "cargo test failed on no_std Rust"
I'm using no_std Rust like this:

[code]

Then I found that the `cargo test` is failed:

[code]

Here is my environment:

[code]

A similar issue I found is [https://github.com/rust-lang/rust/issues/48665](https://github.com/rust-lang/rust/issues/48665)

[2022-08-19 17:23] jdahlstrom commented on #100422
I don't think it makes sense to do anything other than panic in the case of negative values, which in turn is probably an argument for panicking on zero as well. I guess one *could* argue that "wrapping" means wrapping the *preimage* to fit in the function's *domain*, but IMO that would be entirely unintuitive and unhelpful as well.

[2022-08-19 17:35] matthiaskrgr commented on #100550
Weird, this one crashes with `--crate-type lib -Copt-level=2` but I couldn't get this to trigger with just mir-opt-levels :thinking:

[2022-08-19 17:45] estebank commented on #90286
Triage: [fixed in current beta](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=09298ca11e5ce81741baf87b99abe57d):

[code]

[2022-08-19 17:46] WaffleLapkin commented on #75899
@SoniEx2 yes, that's the same thing, unsize coercion doesn't properly consider associated types. (maybe it's time for me to return to this 👀 )

[2022-08-19 17:47] estebank commented on #48121
Triage: [current output in beta is correct](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=9003e29b10878b303fcabcf90bc864f5):

[code]

[2022-08-19 18:12] scottmcm commented on #100422
@tspiteri

That's only the case on old chips.  As I linked in the OP (https://github.com/rust-lang/rust/issues/100422#issue-1336409466), that happens in the instruction generation very-last-bit of LLVM on old chips, and on newer chips it knows to emit a different instruction instead of the branching code: <https://rust.godbolt.org/z/1KM5zqTMG>.

The good news is that it looks like newer LLVM has g

[2022-08-19 18:32] matthiaskrgr opened #100770 "rustc panics if output is set to directory while pretty printing"
`rustc 1.65.0-nightly (0b79f758c 2022-08-18)`

If you `rustc ./a.rs -o/tmp/`, you get a normal error like
[code]
but if you try to `-Zunpretty` at the same time: `rustc ./a.rs -o/tmp/ -Zunpretty=ast-tree`
rust will panic which is a bit weird. Mayne that panic should be demoted to a regular error?

[code]

[2022-08-19 19:11] alexschrod commented on #100756
When you `rev()` an iterator, you expect to get the exact same elements as you do when you don't `rev()`, but in the opposite order. I.e. `"a+", "b+", "c"` becomes `"c", "b+", "a+"`, the reverse of the former.

[2022-08-19 19:15] RalfJung commented on #100771
Yeah let's move this to the rustc repo.

[2022-08-19 19:22] alexschrod commented on #100756
You seem to be looking for the behavior I'd expect of an `rsplit_inclusive()`, which is not a thing. At least not yet.

[2022-08-19 19:28] SoniEx2 commented on #75899
if there's anything we can do to help, feel free to poke us; we want this for uazu/qcell#37. =^-^=

[2022-08-19 19:33] matthiaskrgr opened #100772 "ICE: -Zsanitizer=cfi with allocator_api; transform_ty: unexpected `Param(T/#0)`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./78459.rs  -Zsanitizer=cfi -Clto`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-19 19:39] matthiaskrgr commented on #100770
To reproduce:
[code]

[2022-08-19 19:43] rajputrajat commented on #100717
started working on `rustc_resolve`

[2022-08-19 19:54] dkg opened #100774 "rust_eh_personality exported in cdylibs"
If i have two shared objects, each created by rust using a `cdylib` crate, and they are both invoked from an external (non-rust) executable, it's unusual that both of these libraries will implement and export a `rust_eh_personality` symbol.

If, for whatever reason, the external executable tries to invoke `rust_eh_personality`, which library's function call will be invoked?

If the two dylibs are

[2022-08-19 20:23] robertbastian commented on #100756
The other split methods don't implement `DoubleEndedIterator` when the reverse search doesn't contain the same elements. From the docs:

A reverse search here doesn't yield the same elements, so this should not implement `DoubleEndedIterator`.

[2022-08-19 20:40] zertyz commented on #98253
Still a thing in Rust 1.63

[2022-08-19 21:23] matthiaskrgr opened #100778 "ICE: encode_const: unexpected type `[usize; 1]` with -Clto -Zsanitizer=cfi"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc 97007.rs -Clto -Zsanitizer=cfi`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-19 22:15] wonchulee commented on #100717
I'm working on `rustc_save_analysis`

[2022-08-19 22:23] #99575 closed

[2022-08-19 22:23] #100476 closed

[2022-08-19 22:23] #91633 closed

[2022-08-19 22:23] #100679 closed

[2022-08-19 22:23] rust-highfive opened #100779 "`miri` no longer builds after rust-lang/rust#100740"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100740, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-19 22:24] nicbn opened #100781 "global_allocator does not work with -C prefer-dynamic"
Could not find anything related to this online. Using `RUSTFLAGS="-C prefer-dynamic" cargo run` on this does not panic.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-19 22:29] gmorenz commented on #82523
I've scrolled through the thread and haven't seen anyone else mention this, so I guess it's only me using it (and not at all frequently or in important code, hence why I only noticed the warning/planned change now), but this error disallows sound code where you have a packed struct nested inside an unpacked repr(C, align(_)) struct, and the outer struct forces the inner struct to be aligned correc

[2022-08-19 23:15] matthiaskrgr opened #100783 "LLVM ERROR: Broken module with -Cdebuginfo=2 -Zsanitizer=cfi -Clto"
### Code
`./src/test/ui/issues/issue-27901.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./issue-27901.rs -Cdebuginfo=2  -Zsanitizer=cfi -Clto`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-20 00:05] wonchulee commented on #100717
started working on `rustc_builtin_macros`

[2022-08-20 00:37] clarfonthey opened #100784 "Tracking Issue for slice::reverse in const contexts"
Feature gate: `#![feature(const_reverse)]`

This is a tracking issue for usage of `slice::reverse` in const contexts.

### Public API

[code]

### Steps / History

- [x] Implementation: #100663
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-08-20 01:09] compiler-errors commented on #100766
What exactly is the bug here? The `note` seems pretty clear what the issue is.

[2022-08-20 01:47] XiangYyang commented on #100766
Thanks for your reply.

In fact, I want to use the std crate in the test environment:

[code]

What puzzled me was that it didn't seem to work.

[2022-08-20 01:49] chenyukang commented on #100770
@rustbot claim

[2022-08-20 02:32] compiler-errors commented on #100766
What platform are you building this on? Does a `cargo build` succeed?

[2022-08-20 02:41] XiangYyang commented on #100766
Yes. `cargo build --target x86_64-pc-windows-msvc` is succeed.

But `cargo test` or `cargo test --target x86_64-pc-windows-msvc` is failed.

I think the key of this issue is `cargo test` was not linked `std` crate, and it's failed. So I tried  `#![cfg_attr(not(test), no_std)]` to linking it and it does not work.

[2022-08-20 02:44] compiler-errors commented on #100766
Sorry, I think I understand the issue. Yeah, it does look like #48665 is the same issue as this.

[2022-08-20 02:49] #100766 closed

[2022-08-20 03:00] XiangYyang commented on #48665
I have the same issue [https://github.com/rust-lang/rust/issues/100766](https://github.com/rust-lang/rust/issues/100766).

It doesn't seem to be well resolved.

However, I found some options in [Cargo test](https://doc.rust-lang.org/cargo/commands/cargo-test.html) :

I noted that I can use the `--lib` to special some libraries what I want to link. So I tried to special linking the `test` library:

[2022-08-20 03:28] compiler-errors commented on #99655
@PrestonFrom did you fix this or does this need to further fixed? (Just asking, no pressure for you to do it if it's not fixed by your previous PRs)

[2022-08-20 03:31] RalfJung commented on #82523
Hm yeah that is indeed a false positive of this error. You do need to use both the `align` and the `packed` attribute to achieve this, so it's probable rather rare, but I could imagine the diagnosis being improved in the future.

Implementing just that check is not actually too hard, I think. What is trick is that we probably *don't* want to accept this if `Baz` is defined in a different crate, to

[2022-08-20 03:33] PrestonFrom commented on #99655
@compiler-errors Oh, sorry! I believe this is fixed by previous PRs.

[2022-08-20 03:34] compiler-errors commented on #99655
No worries. Just trawling the issues backlog :smile:

[2022-08-20 03:37] PrestonFrom commented on #99655
Just checked and unless I'm mistaken all the cases in this issue are covered.

Is it okay to close this?

[2022-08-20 03:39] #99655 closed

[2022-08-20 03:39] CAD97 opened #100790 "Bad generic error for incorrectly placed `where` clause for tuple struct"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4dc80bbbe0a909a632ad92055ffba8df)

[code]

The current output is:

[code]

What appears to be happening is that we're trying to parse this as a unit struct (which *can* have a `where` clause), and thus trying to parse the struct tuple as a type to bound.

With a tuple visibility:

[code

[2022-08-20 03:41] DemiMarie commented on #85836
Totally wild (and probably bad) idea: could we avoid _borrow-checking_ unreachable code?  After all, the purpose of borrow-checking is to prevent memory unsafety at runtime, but unreachable code cannot be memory unsafe, because it never executes!

[2022-08-20 03:43] RalfJung commented on #100779
This is strange, tests are passing locally...

[2022-08-20 03:44] RalfJung commented on #100779
Oh, it needs https://github.com/rust-lang/miri/pull/2473.

[2022-08-20 04:27] timvermeulen commented on #100756
It does in your initial example. Do you have an example where it doesn't hold?

[2022-08-20 04:38] gmorenz commented on #82523
I think I'd consider adding a field before `foo` a breaking change anyways if `foo` is public. It's a `#[repr(C)]` struct, consumers of the api are presumably allowed to assume the memory layout of the parts that they can see. Rustdoc publicly notes a struct's repr ([example](https://docs.rs/libc/0.2.132/libc/struct.dirent64.html)), so I don't think it's just an implementation detail. It also seem

[2022-08-20 05:04] CAD97 opened #100792 "Lifetimes block the nice "reached the recursion limit while instantiating" error and get an evaluation overflow instead"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=85b7297adf55fd3983851375ed079c50)

[code]

The current output is:

[code]

If we remove the lifetimes, however: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=425487fd6a17e771ede444e5bff16b2a)

[code]

[code]

These are both post monomorphization

[2022-08-20 05:47] Hiten-Tandon opened #100795 "Renaming eq_by to related_by"
Take a look at the following code [[Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=42d35540d79d41353a5ca600cdcf0398)]
[code]

eq_by name suggests that the function can only be used for checking if the two iterators are equal however, as you can see, the function can check for any relation, not just equality thus it should be renamed to related by.

Instea

[2022-08-20 05:59] scottmcm commented on #85836
@DemiMarie We already do!  As a [quick demo](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6f87ff72f966a381cc24a7fd03231e7f),
[code]

(But this isn't really the right issue to discuss possible extensions to that.)

[2022-08-20 08:11] timvermeulen commented on #100795
FWIW, this variant is usually spelled `*_by_key` in the Rust standard library, `Iterator` just happens to not have `eq_by_key`.

For comparing two iterators, the `Iterator` trait has the `eq`/`eq_by`, `cmp`/`cmp_by`, and `partial_cmp`/`partial_cmp_by` method pairs, as well as `ne`/`lt`/`le`/`gt`/`ge` methods with no `*_by` or `*_by_key` counterparts. IMO those last five don't add much value to `It

[2022-08-20 08:37] joboet commented on #100422
$\mathrm{ilog2}(x)$ is supposed to find the largest $k \in \mathbb{N}_0$ so that $2^k \leq x$. Since computers use wrapping arithmetic, the equation is better put as $2^k \mod{2^{bits}} \leq x$. The largest $k < 2^{32}$ satisfying this equation in the case $x = 0$ is $2^{32} - 1$ (aka `u32::MAX`).

So if we consider a wrapping `ilog2` to be the inverse of `2.wrapping_pow`, `u32::MAX` makes perfect

[2022-08-20 08:44] Hiten-Tandon commented on #100795
I have that in mind, that's why I said equivalent, instead of equal, however, I should've been more specific so, I'll just fix it right now.

Well, in that case, eq_by_key is also fine, because it does convey similar meaning, just eq_by by itself, checking for relations, seems a bit misleading, though it's not catastrophically misleading, because one look at docs and you'd know what it's doing but

[2022-08-20 08:50] fmease commented on #100790
Note that tuple struct can indeed have a where clause albeit *after* the fields not before them:

[code]

The proposed diagnostic should suggest to *move* the where clause.

[2022-08-20 09:36] scottmcm commented on #100422
Note that's already how `ilog2` works [today](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5230bc7c73d102ea42d4a1e1207ca299).  It's just that it wraps to `0` in release right now -- this issue doesn't propose removing the panic in debug behaviour, just to figure out what the best value for release would be.

[2022-08-20 10:21] #99426 closed

[2022-08-20 10:21] #100605 closed

[2022-08-20 10:21] #99751 closed

[2022-08-20 10:39] davidtwco commented on #100717
Another day of great progress, really excited to see all the pull requests and activity!

[2022-08-20 10:44] Nilstrieb commented on #100764
This isn't specific to `repr` but a problem for all attributes (`repr` isn't a macro but an attribute). For example, the `non_exhaustive` attribute doesn't show up either. https://doc.rust-lang.org/std/?search=non_exhaustive

I agree that rustdoc should handle built-in attributes (just like how it [handles keywords](https://doc.rust-lang.org/std/?search=while)).

[2022-08-20 11:10] 0x53ee71ebe11e opened #100800 "Explicitly stated argument-type of a closure gets overwritten by its type alias"
I tried this code:
[code]

The type of the closure's argument is explicitly stated and not inferred. Therefore, the closure-body should be aware of the type of its argument as it was stated (`u32`) and the code should compile correctly.

Instead, this code behaves as if the type was inferred to be its type alias (`Input`). This hides the `Display` implementation of `u32` and results in an error:
[

[2022-08-20 11:11] TheOddGarlic commented on #100717
I'm working on `rustc_mir_build`

[2022-08-20 12:01] istanbul-not-constantinople commented on #77125
to work around #97156 and #99186, surely we can just add a new `const unsafe fn const_of() -> TypeId` to `TypeId` or even a new `ConstTypeId` type that uses the v0 mangled type. it seems the only problem with making `TypeId::of()` `const` is that it must be either non-`const` and safe or `const` and `unsafe` and since making a method `unsafe` is a breaking change, we cannot make it `const`. it see

[2022-08-20 12:27] glandium opened #100802 "Iterator::sum requires type annotations in seemingly simple cases"
Even with type annotations, Iterator::sum is not handled very nicely:
[code]
fails to build with:
[code]

The converse:
[code]
fails to build with:
[code]

[2022-08-20 12:27] Celthi commented on #92858
I met a similar problem. My code is
[code]

The error is
[code]

I need to work around this limitation by adding a useless line at  https://github.com/Celthi/calltrace/blob/e811127607baa731a99deabeb23966af864f42e5/src/calls/mod.rs#L62

[2022-08-20 12:32] Celthi commented on #92858
My code could be simplified as follows
[code]

[2022-08-20 12:36] SkiFire13 commented on #100756
For example `"a+++b".split_inclusive("++")` will yield `["a++", "+b"]` when iterated forward, and `["a+++", "b"]` when iterated backwards.

[code]

Mixing calls to `next` and `next_back` is even more broken:

[code]

[2022-08-20 12:46] Celthi commented on #92858
I also asked this  in https://users.rust-lang.org/t/error-reinitialization-might-get-skipped-actually-will-not-get-skipped-in-this-case/80132/2

[2022-08-20 12:55] cbeuw commented on #98339
This looks like the same as #97017

[2022-08-20 13:27] RalfJung commented on #82523
That is fairly misleading though. When there are private fields, rustdoc will not even show fields in the correct order. There is AFAIK general consensus that a `repr(transparent)` on its own does not constitute any kind of promise on behalf of the library author; at the very least, the non-ZST field also needs to be public. (Cc https://github.com/rust-lang/rust/issues/90435 https://github.com/rus

[2022-08-20 13:45] timvermeulen commented on #100756
Ah, with string patterns, yes. `split_inclusive` with a string should not have implemented `DoubleEndedIterator` — it looks like `SplitInclusive`'s `DoubleEndedIterator` implementation incorrectly requires that its searcher is a `ReverseSearcher` rather than a `DoubleEndedSearcher`.

[2022-08-20 13:56] GKFX commented on #100802
That is as expected. More than one type might have `Sum<usize>` implemented for it. E.g.
[code]

Adding `1usize` doesn't disambiguate anything because it might be possible for more than one type to have `Add<usize>` implemented too,

[2022-08-20 14:30] SkiFire13 commented on #100717
I'm working on `rustc_interface`

[2022-08-20 14:50] mousetail commented on #53667
Celebrated too soon :(

[2022-08-20 15:51] Mark-Simulacrum commented on #92976
#100536 makes progress here for a subset of proc-macro dependencies; it's not an exhaustive list though and we don't have tests verifying we're doing the right thing here for now. It would be good to add those in the future.

[2022-08-20 20:08] #100690 closed

[2022-08-20 20:14] RalfJung commented on #100493
The `drop` does nothing here.

Also in that code the lifetime of the `&x.foo` borrow does end when `x` stops being used, so this is perfectly fine by the CStr docs.

And FWIW it's not just `CStr`; [`slice::from_raw_parts`](https://doc.rust-lang.org/nightly/std/slice/fn.from_raw_parts.html) has been documented like this for quite a while. `CStr` was just recently fixed to be consistent with everyth

[2022-08-20 20:32] SoniEx2 commented on #100493
well yes it needs to be reborrowed because it can't be coerced but reborrows are kinda weird. like, this is a reborrow:

[code]

but how do you talk about reborrows in docs. we should be able to talk about reborrows in docs. the docs for `CStr` and `slice::from_raw_parts` should reflect the true borrow semantics of safe rust, instead of being more restrictive than them. (unsafe is literally never

[2022-08-20 20:52] RalfJung commented on #100493
Indeed. But we'll need to figure out the precise rules first, and we don't want to document anything that might end up not working with those precise rules.

They do. The borrowing in safe Rust is entirely defined by lifetimes.

The tricky part is defining the precise borrow semantics in *unsafe* Rust, and that is work that has started but is not finished yet.

I have no idea what you mean by this

[2022-08-20 21:05] BattyBoopers opened #100818 "Compiler crash with type_alias_impl_trait on the very latest version"
### Code

[code]

This crashes with the very latest version (`cargo +nightly-2022-08-19 run`), but not with the previous version (`cargo +nightly-2022-08-18 run`)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-20 21:10] matthiaskrgr commented on #100818
This is probably a duplicate of https://github.com/rust-lang/rust/issues/97099 of which the fix was reverted recently

[2022-08-20 21:10] Nilstrieb commented on #100818
Yes, bisection points at the revert

searched nightlies: from nightly-2022-08-01 to nightly-2022-08-20
regressed nightly: nightly-2022-08-19
searched commit range: https://github.com/rust-lang/rust/compare/9c20b2a8cc7588decb6de25ac6a7912dcef24d65...0b79f758c9aa6646606662a6d623a0752286cd17
regressed commit: https://github.com/rust-lang/rust/commit/8064a495086c2e63c0ef77e8e82fe3b9b5dc535f

<details>

[2022-08-20 21:18] SoniEx2 commented on #100493
we mean we use it instead of you (2nd person neopronouns).

so uh, would you be willing to consider `ltptr` as part of that work?

[2022-08-20 21:18] MinnDevelopment commented on #95661
Could this be an issue with docker filtering `nanosleep` calls? I found this potentially related stackoverflow post: https://stackoverflow.com/questions/67117744/32-bit-executables-not-sleeping-inside-a-docker-container

If that is the case, then running the container with `--privileged` or `--security-opt=seccomp:unconfined` should solve the problem

[2022-08-20 22:03] scottmcm commented on #93145
Another thought here: since [GCC Rust is trying to use an unmodified `core`](https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Add.20.60.23.5Brustc_safe_intrinsic.5D.60.20attribute.20compiler-team.23546/near/294482760), this would be even more of a help.  It's just annoying to update the llvm+cranelift+gcc backends when adding an intrinsic.  But updating GCC at

[2022-08-20 22:16] jmeggitt commented on #77125
@eddyb What is the reasoning behind disallowing a structural match? While I can not name any specific reasons for its inclusion, I also can not think of any reasons to remove it either.

Take for example this code. It does not perform any complex pattern matching or require that a `match` statement be used, but it arguably makes the code a bit cleaner and easier to read than the alternative.
[code

[2022-08-20 22:49] #100484 closed

[2022-08-20 22:49] #100289 closed

[2022-08-20 22:49] #100369 closed

[2022-08-20 22:49] #100485 closed

[2022-08-20 23:20] vincenzopalazzo commented on #100802
cc @compiler-errors

[2022-08-20 23:34] vincenzopalazzo commented on #100790
@rustbot claim

[2022-08-20 23:42] lopopolo commented on #56925
Hi folks, I've integrated this unstable flag into some code coverage infra for Artichoke Ruby. Results are published here: https://codecov.artichokeruby.org/.

I've filed a bug where it seems that doc comments with multiple examples only seem to persist one of the examples. `grcov` then reports some doc tests as uncovered.

I'm not sure if this is a rustdoc bug, a grcov bug, or a bug in how I have

[2022-08-20 23:47] CAD97 opened #100825 "Parenthesized match guards should have a specific parser error (and suggestion)"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=50cbb8aafd2bd1cb1bb6f749ee2f1a34)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

As-is, results in `unused_parens` warning. Alternative help that doesn't:

[code]

Bonus points:

- Stash this error while parsing and tweak it later when types are a

[2022-08-21 00:40] danjl1100 commented on #87800
I stumbled upon a use case similar to the posts above, and I think this would be useful. :+1:

To clarify (and possibly strengthen the argument for stabilizing)...
Is the general consensus that is only for **2-tuples** `Option<(T, U)>` (and not that "larger N-tuples" `Option<(T, U, V, ...)>`) because the current `Option::zip()` method only operates on 2-tuples?

This seems like a natural rationale

[2022-08-21 00:53] scottmcm commented on #96284
For the unresolved question: another option might be to expose https://stdrs.dev/nightly/x86_64-unknown-linux-gnu/core/mem/valid_align/struct.ValidAlign.html and use it as the parameter type.

[2022-08-21 02:11] eddyb commented on #77125
The problem is any *future* changes to `TypeId` that would require address-based comparison in a *custom* `PartialEq` implementation.

(See all previous discussion across this issue and my two closed PRs on the matter of non-trivial `TypeId` representations)

Honestly, our structural match rules are very loose and prone to bite us eventually.
What that is means that *in principle* no core/alloc/st

[2022-08-21 04:16] RalfJung commented on #100493
(I have only been using gender-neutral pronouns, and I am happy to stick to that.)

The example you gave [here](https://users.rust-lang.org/t/is-this-technically-sound/79783) is something we hope to allow. I don't know which other patterns `ltptr` is intended to support, but here are some important factors:
- the original pointer, `first`, is not used again after `mutate_ffi_string` is called
- if

[2022-08-21 04:21] #100530 closed

[2022-08-21 05:18] Kampfkarren opened #100830 ""Consider borrowing here" message does not show up when argument is a format call"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ee83cc45a558eccd6b784e17065e71a5

[code]

The current output is:

[code]

Using `String::from` directly tells us we can borrow it with `&`. Using `format!` does not.

[2022-08-21 05:52] ncihnegn opened #100833 "std::path::Path prefix parsing in Windows is inconsistent with other OS's"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

[2022-08-21 05:54] matthiaskrgr opened #100834 "llvm assertion failure when trying to compile sha2 crate for skylake (with llvm+rustc debug assertions)"
I have a `Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz`, so when compiling with `-Ctarget-cpu=native` this is equivalent to `-Ctarget-cpu=skylake`.

I have a rustc+llvm that has debug assertions enabled and when I try to compile `sha2 v0.10.1` this apparently hits a debug assertion inside llvm:

`RUSTFLAGS="-Ctarget-cpu=skylake" RUSTC=/home/matthias/vcs/github/rust_debug_assertions/build/x86_64-unknow

[2022-08-21 06:22] chenyukang commented on #100830
@rustbot claim

[2022-08-21 06:58] WaffleLapkin commented on #93145
So, I was thinking about working on this ever since @scottmcm mentioned it in #96946. Today I've finally started looking into it...

- Ast changes seem to be trivial, we just need to disable a check that intrinsic don't have bodies
- In lowering we just need to lower the block if it's present
- In HIR mostly adding `Option<BodyId>` field and visiting it in visitors + returning the body from variou

[2022-08-21 08:05] ChrisDenton commented on #100833
This is intentional. `Path` is an abstraction over the paths of the platform it's used on. On Unix this is a POSIX path and on Windows it's a Win32 path. So they are not expected to work the same across platform.

In this case the path `//tmp/abs_evil2.txt` is parsed as a Win32 [UNC path](https://docs.microsoft.com/en-us/dotnet/standard/io/file-path-formats#unc-paths) on Windows. Note also that Wi

[2022-08-21 08:07] ChrisDenton commented on #100833
@rustbot label +O-windows +A-io

[2022-08-21 11:48] adriantombu commented on #100717
I'll have a try at `rustc_driver`

[2022-08-21 13:10] Mark-Simulacrum commented on #53667
Reopening this tracking issue, since it's not currently stable.

I'd also like to flag https://github.com/rust-lang/rust/pull/94927#issuecomment-1165156328 which leads me to believe that perhaps stabilization was actually premature for that reason as well? It's not clear to me that we ever had a follow-up to #97295 which actually adjusted our restrictions further, and [this error](https://github.c

[2022-08-21 14:46] SoniEx2 commented on #100493
we ask you to rephrase these:

to use "it" instead of "you", like so:

- - -

The same example, using `ltptr`, looks like so:

[code]

Where `from_lt_ptr` is defined here: https://docs.rs/ltptr/0.1.4/ltptr/trait.FromLtPtr.html#impl-FromLtPtr%3Ci8%3E-for-CStr

And we believe this should be okay, even tho the lifetime is clearly `'a`. (Tho, it is covariant we guess.)

(Note also that `ltptr` is stil

[2022-08-21 15:38] clbrunet opened #100849 "False "error[E0502]: cannot borrow `VARIABLE` as mutable because it is also borrowed as immutable""
The following code : "https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8dcba376fd1970e3e5686bbe18326dbd", produce a "error[E0502]: cannot borrow `self.foo` as mutable because it is also borrowed as immutable".

But this code does not : "https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6cedeec41d9e0aceec4d0f4720f49c55".

Why does exporting the same code

[2022-08-21 16:10] jyn514 commented on #48594
@RalfJung yes, exactly what you said. I updated the stabilization report (the bit starting with "cannot cause control flow to exit a closure").

[2022-08-21 16:35] #100779 closed

[2022-08-21 17:54] jhgg commented on #100849
If you look at the elided lifetimes:

[code]

Then the issue becomes clear. Your first implementation borrows `Parent` for the lifetime of the returned `Vec`.  The borrow checker is not smart enough to understand that you are only using `self.bars`, nor should it be, because the implementation of the function could very well cause a breaking change if the variables it might capture change.

Here i

[2022-08-21 18:12] Ayush1325 opened #100853 "Building lld fails on master"
Building lld using the `lld = true` option fails on latest master (31302033095dc75608675cd6f9b884d1692054f0). Here is my `config.toml`:
[code]

I am getting the following error output:
[code]

I was able to build fine until rebasing to master, so I think this might be caused due to llvm update that recently took place.

# System Information
- OS: Fedora Silverblue 36
- cmake version: 3.22.2

# Add

[2022-08-21 18:20] Mark-Simulacrum commented on #100853
I believe we don't currently support building LLD when download-ci-llvm is used.

[2022-08-21 18:33] Mythra commented on #90080
Hey, sorry to revive this, checking in on any potential updates/blockers. I tried converting some const functions which used `.wrapping_mul`, `.wrapping_sub`, etc. to use `Wrapping` types, and it pointed to this issue.

[2022-08-21 18:34] irelativism commented on #93157
@est31 thank you very much forr sharing this, this surrvey shows intent which is allways good

[2022-08-21 18:54] c410-f3r commented on #53667
#98633 was merged after #97295 and then the underlying solution was refined in #99731 and #100011.

`issue-92893.stderr` now correctly denies undesired `let` expressions in the parser as well as other `let` locations like `if let Some(elem) = _opt && [1, 2, 3][let _ = ()] = 1`. Therefore, it seems that everything related to https://github.com/rust-lang/rust/pull/94927#issuecomment-1099605024 is fi

[2022-08-21 18:56] benpye commented on #98254
I'm not sure I totally understand why the link failure is for `__chkstk` rather than `__rust_probestack`?

If I borrow the implementation of `__chkstk` [from LLVM's compiler-rt](https://github.com/llvm/llvm-project/blob/main/compiler-rt/lib/builtins/aarch64/chkstk.S#L23) it seems to behave correctly. Unfortunately setting the target's `"stack_probes"` to `"inline"` doesn't seem to make any differe

[2022-08-21 18:56] gdennie commented on #100764
Thanks for the insight. :)

Since the UI to the world of Rust is the language, things that are different should look different. Specifically, if its syntax is a macro then they should document like a macro even though the functionality it delivers may not be replicated by any user definable macro.

[2022-08-21 19:04] Ayush1325 commented on #100853
Yeah, it builds when using `download-ci-llvm = false`. Guess it was just luck that it built fine before rebase

[2022-08-21 19:04] #100853 closed

[2022-08-21 20:07] AlexApps99 commented on #90080
Misclick! I can't think of any blockers, since const-ifying these operations doesn't necessitate tests when it uses already-const arithmetic.

It would be good to consult with somebody who can stabilize it, to get their thoughts

[2022-08-21 22:57] mstankus opened #100858 "older version of nalgebra builds in debug mode but not release mode"
Reproducing error:
1. cargo new bug
2. cd bug
3. cargo add nalgebra
4. edit Cargo.toml and change line to: nalgebra = "0.25.1"
5. cargo build --release
Notes:
1. Many older versions of nalgebra don't build in release mode.
2. Some (maybe all) of the older versions of nalgebra do build in debug mode.
3. Using edition="2021" also fails to build.
4. When I switched to stable branch, the code  built.

[2022-08-21 22:57] jreiser opened #100859 "abuse of DT_GNU_HASH descriptor"
Some executable Rust programs in ELF file format for Linux, often involving the **musl** low-level library, use undocumented "features" of the DT_GNU_HASH descriptor for run-time symbol information in an ELF file.  The DT_GNU_HASH descriptor itself is undocumented by GNU binutils, so the "corner case" usage by Rust compounds the problem of deterioration of software environment by not agreeing or c

[2022-08-21 23:39] ehuss commented on #100858
I believe this is a duplicate of #100550.

[2022-08-22 00:34] #100560 closed

[2022-08-22 01:46] compiler-errors commented on #100858
Yes, this is a duplicate!

[2022-08-22 01:46] #100858 closed

[2022-08-22 05:21] soooch opened #100867 "Compiler bug related to evaluating requirement on recursive type"
### Code

https://github.com/soooch/AdventOfCode/tree/ICE/2021/day16/part2

If packet.rs:133 is uncommented, the crate compiles without issue.

If instead you comment out packet.rs:98, the crate does not compile, but we get an error message about an overflow while evaluating a type.

This error message is perhaps what we should expect to see when compiling the original code.

[code]

### Meta

`ru

[2022-08-22 05:27] ncihnegn commented on #100833
I think it is incorrect to parse a POSIX path into a Win32 path.

A path should be parsed as UNC only if it starts with ```\\```, not when it starts with ```//```.

[2022-08-22 06:46] Kobata commented on #100833
There is no difference, as pointed out above Windows will accept either `/` or `\` mostly-equivalently[1].

It's fairly easy to see, for instance in `cmd` running something like `dir "//./C:/"` (you do need the quotes for it to think it's a path) is equivalent to `dir //./C:/` (which is *also* equivalent to `dir "C:/"` and `dir C:\`)

[1] The exception is paths that begin with *exactly* `\\?\`, us

[2022-08-22 06:54] rdvdev2 commented on #100717
Started working on `rustc_passes`

[2022-08-22 07:16] ncihnegn commented on #100833
Is there any way to force POSIX path parsing or disable UNC parsing?

[2022-08-22 08:42] gimbles commented on #100867
@rustbot label +needs-mcve

[2022-08-22 08:49] CLOVIS-AI commented on #100266
Sorry for the bump, but I really don't understand why this is necessary.

[2022-08-22 10:07] SkiFire13 commented on #100849
Also see https://smallcultfollowing.com/babysteps/blog/2018/11/01/after-nll-interprocedural-conflicts/ for other possible alternatives.

[2022-08-22 10:25] timvermeulen commented on #100756
But it does: repeated `next` calls yield `"a+"`, `"b+"`, `"c"`, whereas repeated `next_back` calls yield `"c"`, `"b+"`, `"a+"`. Those are the same items, in opposite order. `split_inclusive(x).rev()` is not meant to behave like `rsplit_inclusive(x)`, it would violate the `DoubleEndedIterator` contract if it did.

It's also not the case for e.g. `split("aa")`, because a forward search may find diff

[2022-08-22 10:36] WaffleLapkin commented on #90286
Hm, it seems like there are already tests for `as_ref` suggestion, namely [`option-content-move.rs`](https://github.com/rust-lang/rust/blob/a9bb589cd678e034d194193fa892942315b10e2a/src/test/ui/suggestions/option-content-move.rs), [`as-ref.rs`](https://github.com/rust-lang/rust/blob/a9bb589cd678e034d194193fa892942315b10e2a/src/test/ui/suggestions/as-ref.rs) and [`as-ref-2.rs`](https://github.com/ru

[2022-08-22 11:14] #92777 closed

[2022-08-22 11:14] #95134 closed

[2022-08-22 11:15] robertbastian commented on #100756
Yeah we're talking past each other. I'm talking about the concept of searching a string from the back, which can return different items than searching the string from the front. For `split_inclusive` this even happens when the separator is a `char`. Now for all other `split` functions `DoubleEndedIterator` implements this concept of searching a string from the back (if the pattern supports bidirec

[2022-08-22 11:19] estebank opened #100873 "Improve diagnostic for missing `IndexMut: HashMap`"
The following is invalid

[code]

[code]

Because the entry `&5` *must* exist before it can be assigned to. We should propose the use of the `Entry` APIs or `.insert` method.

_https://users.rust-lang.org/t/problematic-errormessage-indexmut-is-required-to-modify-indexed-content/80158_

[2022-08-22 11:32] ChayimFriedman2 commented on #100873
@rustbot claim

[2022-08-22 11:41] pymongo commented on #100711
Reproduce on manjaro `Linux ww 5.10.136-1-MANJARO` with glibc 2.36, same backtrace

[2022-08-22 11:46] juie887 opened #100874 "VCRUNTIME140.dll missing on target machine"
Whenever Itry to run a program compiled in rust on a target machine, it gives me an error code saying VCRUNTIME140.dll missing. How can I avoid this without any extra installations on the target machine

[2022-08-22 11:50] psionic12 opened #100875 "thread 'rustc' panicked at 'no label after fn'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-22 11:52] estebank commented on #100849
The diagnostic should mention the lifetimes in the method definition, as well as suggesting either to modify the method to return an owned value or inlining the code from the method.

[2022-08-22 11:55] kamulos commented on #58713
Would the Linux implementation of this feature enable Rust to link to an older glibc than the version on the system I am compiling on?

[2022-08-22 11:56] oli-obk commented on #93145
I think we'll want to avoid the `extern "rust-intrinsic"` logic entirely. Ideally we'll be able to just annotate all the integer functions that forward to an intrinsic with `#[rust_intrinsic = "name"]`, even if that means multiple functions are annotated with the same intrinsic name. For an MVP we should probably start with a single such function to keep the diff small.

We can keep the existing l

[2022-08-22 11:57] timvermeulen commented on #100756
That makes sense — whenever `split` implements `DoubleEndedIterator`, it behaves exactly like `rsplit`. In that sense, `split_inclusive` is more like `chunks` which can be reversed but (in general) doesn't behave like `rchunks`.

[2022-08-22 12:13] estebank commented on #100696
Lets make sure we add a regression test, regardless of the solution (revert or fix).

[2022-08-22 12:13] est31 commented on #100513
Note that one doesn't have to follow the RFC, what gets stabilized in the end can sometimes deviate from the things that an RFC decides upon. I'm not saying that the current drop order is good for stabilization though, it isn't. One could e.g. drop temporaries more early on, as in, before the `else` block runs. Then stuff accessed in the if expression can safely be re-used from the `else` block.

[2022-08-22 12:14] fee1-dead commented on #100696
#100759 is in the queue and contains a regression test.

[2022-08-22 12:16] robertbastian commented on #100756
So let's document? And implement `rsplit_inclusive`?

[2022-08-22 12:32] nicoburns commented on #41620
I would like to add my voice to this being reconsidered for literal values.

I have just had to replace the following code (yes, I do mean to match specifically on positive infinity):
[code]
with
[code]

Due to this lint. And IMO the latter is significantly less readable than the former

Is there any reason why we couldn't have an `ANY_NAN` pattern that simply specifies all possible combinations?

[2022-08-22 12:48] ChayimFriedman2 commented on #100873
The code responsible for generating this error is in compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs, but I don't feel like polluting it with detection of `HashMap` (and `BTreeMap`). Do you have a better idea?

[2022-08-22 12:54] AndyJado opened #100877 "thread 'rustc' panicked at 'no entry found for key'"
I tried this code:

I pulled the latest, played some rebase

[code]

I expected to see this happen: *please show no error*

Instead, this happened:
👀
[code]
### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-08-22 12:58] CryZe commented on #100874
Look into `crt-static`: https://www.reddit.com/r/rust/comments/ekts0d/how_to_link_crt_statically_when_building_with_msvc/

[2022-08-22 12:58] paolobarbolini opened #100878 "thread 'rustc' panicked at 'to_const_int doesn't work on scalar pairs'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

---

## Bisection

searched nightlies: from nightly-2022-02-19 to nightly-2022-04-04
regressed nightly: nightly-2022-03-25
searched commit range: https://github.com/rust-lang/rust/compare/9f4dc0b4db892271cd0dada6e072775b5b5d

[2022-08-22 13:07] TaKO8Ki commented on #100875
I think #98609 fixed this problem.

[2022-08-22 13:22] est31 commented on #100513
The irrefutable pattern lint was specifically extended to let chains in #94951 , after my [comment](https://github.com/rust-lang/rust/pull/94927#issuecomment-1067078300) on the tracking issue received only positive responses (see the thumbs up reactions). As for the right place to provide feedback, it is let chains related I would say, but despite that, this specific thread is the wrong place to d

[2022-08-22 13:28] timvermeulen commented on #100756
It looks like `rsplit_inclusive` was part of https://github.com/rust-lang/rust/pull/91546, which has been put on hold.

[2022-08-22 14:01] ChrisDenton commented on #100874
If you just want to static link vcruntime (and not the whole CRT), [here's a crate](https://crates.io/crates/static_vcruntime) for that. It's used from a build script (`build.rs`).

Though if you do want to statically link everything then only follow the instructions at the bottom:

[2022-08-22 14:11] estebank commented on #100875
These should be easy to fix. We need to change the `expect` with `return None;` in `generate_local_type_param_snippet` and `generate_fn_name_span`. We should also look at all the callers and replace them with alternatives, instead of synthesizing spans.

[2022-08-22 14:18] EFanZh opened #100880 "Implement `From<&[T; N]>` and `From<&mut [T; N]>` for `Vec<T>` where `T: Clone`?"
Currently we have [`impl From<&[T]> for Vec<T> where T: Clone`](https://doc.rust-lang.org/stable/std/vec/struct.Vec.html#impl-From%3C%26%5BT%5D%3E) and [`impl From<&mut [T]> for Vec<T> where T: Clone`](https://doc.rust-lang.org/stable/std/vec/struct.Vec.html#impl-From%3C%26mut%20%5BT%5D%3E), should `From<&[T; N]>` and `From<&mut [T; N]>` also be implemented for `Vec<T>` where `T: Clone`?

[2022-08-22 14:22] CrimsonVoid commented on #100513
Ah yes, the [black swan theory](https://en.wikipedia.org/wiki/Black_swan_theory) of RFCs. Well, consider this to be your first black swan.

Well that puts me in a tough spot; either I reply to your comment here and continue to derail the thread or let you have the last word. 🦆

[2022-08-22 15:04] est31 commented on #100513
The third option is do what was suggested: open a zulip thread, github issue, or internals thread, or such where you can make your case. You could have made that instead of making that comment to complain on how I have the last word. I didn't open a thread because that's your responsibility: you are the person who has the complaint, not me, and so far you haven't delivered convincing points why a

[2022-08-22 15:23] #100381 closed

[2022-08-22 15:29] kamulos opened #100882 "Type inference breaks from a seemingly unrelated change"
I was just making changes in one of the crates in my workspace, when the code broke in another crate of the workspace. Rust is no longer able to infer the type automatically, with an explicit annotation it works again.

Feel free to close this bug report if this is to be expected, but to me this seems very unusual for Rust.

This is the code:

[code]

Uncomment the `serde_json` line to trigger the

[2022-08-22 15:44] TaKO8Ki commented on #100875
@estebank I will work on this!

[2022-08-22 15:49] eddyb commented on #48594
Should the `'b:` have been on the `{}` in `_ => {}`, or is `match` just not usable as an example here?
(the `{...}` of a `match` contains *match cases*, it's pretty much unrelated to block expressions AFAIK)

[2022-08-22 16:22] Guyutongxue opened #100884 "Command::spawn failed in Windows after some Console API operation"
I tried this code:

[code]

I expected to see this happen: *The notepad.exe should be launched*.

Instead, this happened: *Call to `spawn` returns an error*.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

I cannot got the backtrace info. The error from `spawn` is:

[code]

I've also encountered an `os error 50 (The request is not supported.)` in another

[2022-08-22 16:43] ChrisDenton commented on #100884
I suspect that `AllocConsole` sets the stdio handles but `FreeConsole` doesn't unset them. Therefore the std handles are invalid.

Not tested this but a workaround might be something like:
[code]

[2022-08-22 16:58] Guyutongxue commented on #100884
Thank you! This code works like a charm.

[2022-08-22 16:58] #100884 closed

[2022-08-22 17:17] compiler-errors commented on #100266
It's probably possible to use this API you've written to turn a `&'a T` into a `&'static T` by accident, for example. I haven't really looked into it, but I know for certain in general this in #92285 is a soundness fix.

[2022-08-22 17:51] CJKay commented on #95268
I've also run into this, and as far as I've been able to ascertain there is no workaround short of placing the lifetime bound on `B`:

[code]

[code]

[2022-08-22 18:05] oli-obk commented on #100136
maybe we should just start allowing mutable references but not dereferencing them ^^

[2022-08-22 18:06] compiler-errors commented on #100136
I was thinking about that yesterday. It should be easy to deny just the derefs in MIR right?

[2022-08-22 18:17] 5225225 commented on #100882
Right... This does seem to be intentional, but it's very not clear.

The issue is that you're doing `usize != <some type>`. Normally, the only other type that `<some type>` can be is `usize`, since you cannot compare a usize and anything else. So it's inferred to be `usize`, and everyone's happy.

But if you have `serde_json` being used (even just a `use serde_json;`), then that provides a `usize

[2022-08-22 18:24] camshaft opened #100886 "exponential build times when returning `impl T`"
I work on the [`s2n-quic`](https://github.com/aws/s2n-quic) project. We have [`Client`](https://docs.rs/s2n-quic/latest/s2n_quic/client/struct.Builder.html) and [`Server`](https://docs.rs/s2n-quic/latest/s2n_quic/server/struct.Builder.html) builders that allow applications to configure the behavior of the library through several "providers":

[code]

We noticed that as the number of configured pro

[2022-08-22 18:29] cynecx commented on #95268
I've always wanted to write higher-ranked trait bounds the following way:

[code]
The code from the og becomes:

[code]

and @CJKay's becomes:

[code]

[code]

[2022-08-22 18:33] Nilstrieb commented on #99854
There are still a few issues that should be improved: <https://github.com/rust-lang/rust/pull/99908#discussion_r933527397>

[2022-08-22 18:42] ChrisDenton commented on #100833
Disabling UNC parsing wouldn't make sense, even if it were possible it's still a Windows path so `//` wouldn't be a root. What you're looking for is [`UnixPath`](https://github.com/rust-lang/rust/issues/66621) which doesn't yet exist in std. Currently you'd have to use a third party crate (or make your own).

[2022-08-22 18:42] estebank commented on #100873
It is not that uncommon for us to have weird one-off detection of types, although we do try to avoid it. Given that this is about `HashMap` and something a newcomer might reasonably attempt, I feel it is reasonable to do so. You should move the logic to its own method to avoid cluttering the happy path, though.

[2022-08-22 18:46] RalfJung commented on #100136
So basically, the same thing we did for function pointers themselves?

I don't have a good idea for which doors we might be closing that way, so it might be slightly safer to just stop traversing the types inside `fn`? Are there any types other than `&mut` that we are currently rejecting in this way?

[2022-08-22 20:05] shepmaster opened #100889 "Using a macro as the tail expression in a function that doesn't return a value should prompt to add a semicolon"
Given the [following code](https://play.integer32.com/?version=nightly&mode=debug&edition=2021&gist=073a8eed6ad2b2dfa85e7a13296ebb70):

[code]

The current output is:

[code]

Note that the `subpar` function does not have help for adding a semicolon.

Ideally the output should look like:

[code]

Note that the `subpar` function now has help for adding a semicolon.

[2022-08-22 20:28] #99606 closed

[2022-08-22 20:28] #100222 closed

[2022-08-22 20:28] #100543 closed

[2022-08-22 20:29] #97898 closed

[2022-08-22 20:44] Nilstrieb commented on #100781
Does this also happen with `-Cpanic=abort`? Unwinding from `GlobalAlloc` is [UB](https://doc.rust-lang.org/std/alloc/trait.GlobalAlloc.html#safety), so it would be useful to see a non-UB example.

[2022-08-22 20:45] juie887 commented on #100874
Hello Chris,
I just tried this and I get an error code when building error: linking with `link.exe` failed: exit code: 1120

How do I fix this please

[2022-08-22 20:47] Nemo157 commented on #100781
Non-UB (I believe) example that fails for me (SIGSEGV normally, completes successfully with `-C prefer-dynamic`):

[code]

[2022-08-22 20:50] nicbn commented on #100781
You can't use `panic=abort` with `-C prefer-dynamic`, because the stdlib you are linking against unwinds (or at least I never managed to get these flags together to compile). But you can do anything inside the function, `loop {}`, or just return `ptr::null_mut()`. It just won't do it.

[2022-08-22 20:55] Nilstrieb commented on #100781
That's a very interesting case. Now, calls to GlobalAlloc are allowed to be optimized out, so this behavior isn't technically illegal, but it's certainly very odd and deserves some deeper investigation.

[2022-08-22 20:58] nicbn commented on #100781
Optimization is not the cause of what is going on. Also the allocator will be called before the `Box::new` by the runtime. You can try any usage for the allocator really, even calling `alloc::alloc()` directly.

[2022-08-22 21:11] NoraCodes commented on #24135
I just wanted to chime in here. Many use cases can indeed work around this issue, but I'm currently hitting one that's pretty much insoluable as far as I can see. I have a stream of `Result<Bytes, MyError>` which uses a channel to communicate that it's finished to another async task - so, in other words, I need to return a `MyError` and send a duplicate `MyError` through the channel. `MyError` is

[2022-08-22 21:11] oli-obk commented on #100136
Immutable references to interior mut data are checked the same way. About a month ago @amanjeev was trying to replicate and add tests for the issues we had around mutable references, and we can't reproduce any of the examples even via godbolt on older compilers. So before I disappeared for 3 weeks I was planning on proposing stabilization of mutable references after documenting all the things we'r

[2022-08-22 21:17] matthiaskrgr commented on #100834
I had a quick look into the crate and it seems to have some special avx2 related code, so there might be some unsafe that rustc cannot judge which later causes the assertion failure in llvm :thinking:

[2022-08-22 21:22] ChrisDenton commented on #100874
It's a bit hard to diagnose with just that error code but you could try doing `cargo clean` before rebuilding. Btw here's two "hello world" example projects:

* [example using `.cargo/config.toml`](https://github.com/ChrisDenton/static_vcruntime/tree/crtstatic/example)
* [example with `static_vcruntime`](https://github.com/ChrisDenton/static_vcruntime/tree/main/example)

[2022-08-22 21:39] juie887 commented on #100874
Hello Chris,

It gives that error code and my build fails. It says something about the
MSVC conflicting with the defaultlib:libraries is there any code I ought to
edit before building

On Mon, Aug 22, 2022, 17:22 Chris Denton ***@***.***> wrote:

[2022-08-22 21:48] vincenzopalazzo commented on #100889
@rustbot assign

[2022-08-22 21:53] vincenzopalazzo opened #100891 "Improve the `get_positional_arg_spans` to take into count the format types"
As discussed in https://github.com/rust-lang/rust/pull/100826#discussion_r951587455

Suggested-by @TaKO8Ki

[2022-08-22 21:53] vincenzopalazzo commented on #100891
@rustbot claim

[2022-08-22 21:57] vincenzopalazzo commented on #100891
@rustbot label +T-compiler +A-diagnostics

[2022-08-22 21:58] ChrisDenton commented on #100874
Do either of the examples work for you?

[2022-08-22 22:04] vincenzopalazzo commented on #100880
@rustbot claim

[2022-08-22 23:09] #68105 closed

[2022-08-22 23:18] saethlin opened #100894 "Way too much (unhelpful) help is provided when mistakenly calling .borrow_mut() on a struct"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7da23c03f267a3483798d0615ee24563

[code]

The current output is:

[code]

The output gets really out of control if you have a struct with 50 fields or so, which is what I'm currently looking at.

At the moment this only happens on nightly.

[2022-08-22 23:19] compiler-errors commented on #100894
ugh I added this. I can cut it down.

[2022-08-23 01:01] saethlin commented on #100894
FWIW, I was aiming for a field in the struct that is a `RefCell`. I just did `struct.borrow_mut().field` instead of `struct.field.borrow_mut()`.

IMO the biggest problem with this suggestion at the moment is that it's suggesting that I call a method on a trait that's not in scope, when the `RefCell` method is, and that seems like the better suggestion to me. But maybe that's just bias from this pa

[2022-08-23 01:01] compiler-errors commented on #100894
Yeah, I fixed that too. PR incoming.

[2022-08-23 01:22] digama0 opened #100896 "Incorrect explanation for upvar move in FnMut closure"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ffd0246c53be868166cd6d6ee0b9b726)):

[code]

The current output is:

[code]

The error is correct, but the diagnostic points to `upvar.take()` as the reason why the value is moved, while the real culprit is the match expression `if let Some(_s) = upvar {}`, which is not indicated.

Occurs

[2022-08-23 01:34] TaKO8Ki commented on #100891
I think he following are where we need to fix:

https://github.com/rust-lang/rust/blob/015a824f2dffe32707fceb59c47effaf7b73486c/compiler/rustc_builtin_macros/src/format.rs#L445

https://github.com/rust-lang/rust/blob/015a824f2dffe32707fceb59c47effaf7b73486c/compiler/rustc_builtin_macros/src/format.rs#L456

[2022-08-23 02:50] JhonnyBillM commented on #100717
Working on `rustc_codegen_ssa` while I understand better how to proceed on [how to migrate rustc_errors](https://rust-lang.zulipchat.com/#narrow/stream/336883-i18n/topic/.23100717.20migrating.20rustc_errors).
I can un-assign any of them if needed or desired.

Also from [my previous comment](https://github.com/rust-lang/rust/issues/100717#issuecomment-1219761885), working on:
- `rustc_transmute` _(

[2022-08-23 03:16] sundeep-kokkonda commented on #100687
Can I get some help here?

[2022-08-23 05:11] CAD97 opened #100905 "Closure returned as `impl FnOnce` incorrectly borrows captured used-by-value iff it is `Copy`"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cded1210deaa0723964283a361306aea) (with the other cases as well)

[code]

The current output is:

[code]

***If you remove the `Copy` implementation, then this compiles without error.***

APIT also compiles without error, but TAIT also causes an error.

<details><summary>Without <code>

[2022-08-23 05:21] CAD97 commented on #100905
I suspect this is due to how closures "sufficiently" capture the captured variables; for a `Copy` type, it is sufficient to capture it by-reference to use it by-copy.

However, this behavior is imho nondesirable, as it makes the semantics visibly (because of lifetimes) change to treat the type differently because it is known to be `Copy`.

[2022-08-23 05:22] #100588 closed

[2022-08-23 06:01] AndyJado commented on #100877
I suppose it was becuase I accidently deleted some file in `src/tool/miri` and I committed my change, so git won't restore or sth.

anyway, I fixed it by some serious rebase and  run `x clean`, then `x check` passed like usual

[2022-08-23 06:01] #100877 closed

[2022-08-23 07:03] juie887 commented on #100874
Hi Chris,

I used the code below in my .cargo/config and when I tried installing on target pc I didn't get any runtime error but my program ceased to install. Now I'm even more confused

[target.x86_64-pc-windows-msvc]
rustflags = ["-C", "target-feature=+crt-static"]

[2022-08-23 07:31] lcnr opened #100910 "wfcheck incorrectly assumes unnormalized types to be wf"
[code]
this compiles with #100676 because we now assume unnormalized types in the impl header to be well formed when computing implied bounds. We don't check that when using the impl so we should be able to transmute lifetimes with this, though I haven't tried that yet.

Going to fix that myself once I am back home in 2 weeks. cc @rust-lang/types

[2022-08-23 07:33] lcnr commented on #100910
assigned `P-critical` even if the unsoundness is very difficult to exploit by accident, because it's something I definitely don't want to slip through. If this were an existing unsoundness it would be `P-normal` or `P-high` I think

[2022-08-23 07:38] lcnr commented on #100910
assigning `P-critical` after a very long and deep discussion in https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100910.20wfcheck.20incorrectly.20assumes.20unnormalized.20types.20to.20b.E2.80.A6

[2022-08-23 07:44] ChrisDenton commented on #100874
It is very hard to diagnose such issues remotely and with limited information. My best guess is that a dependency of your application is set up for dynamic linking (it would explain the errors you encountered earlier). But that is just a guess. You may need to use a debugger to find out why it isn't working.

One other option is to give up trying to statically link and redistribute just the dll in

[2022-08-23 07:46] #99662 closed

[2022-08-23 07:46] #100533 closed

[2022-08-23 07:46] #100771 closed

[2022-08-23 08:38] Victor-N-Suadicani commented on #84277
I haven't followed the discussion closely, but I have just run into a situation where I think this would help.

Basically I have an enum `Response` of possible responses from a server, including successful responses and error responses. It would be great if I was able to use the `?` operator to easily "short circuit return" when certain other function return errors. For instance, if I get a `Err(e

[2022-08-23 08:48] Cl00e9ment opened #100914 "LLVM miscompiles large stack allocations"
I tried this code:

[code]

I expected the program to exit normally.
Instead, this happened:

[code]

### Meta

Tested on Linux with the following Rust versions :

- `rustc 1.63.0 (4b91a6ea7 2022-08-08)`
- `rustc 1.64.0-beta.3 (82bf34178 2022-08-18)`
- `rustc 1.65.0-nightly (015a824f2 2022-08-22)`

Only reproducible with `--release`.
Can be reproduced on Windows inside a [Rust Docker container](ht

[2022-08-23 09:42] GuillaumeGomez commented on #100638
This is the expected behaviour from commonmark as you can see [here](https://spec.commonmark.org/dingus/?text=Reference%20to%20footnotes%20A%5B%5E1%5D%2C%20B%5B%5E2%5D%20and%20C%5B%5E3%5D.%0A%0A%5B%5E1%5D%3A%20Footnote%20A.%0A%5B%5E2%5D%3A%20Footnote%20B.%0A%5B%5E3%5D%3A%20Footnote%20C.).

Closing then.

[2022-08-23 09:43] JohnTitor commented on #92470
Triage: Fixed by #100757, I think it has a regression test that should cover this case, closing.

[2022-08-23 09:44] JohnTitor commented on #92004
Triage: Fixed by https://github.com/rust-lang/rust/pull/100757, I think it has a regression test that should cover this case, closing.

[2022-08-23 09:45] GuillaumeGomez commented on #100421
I can't reproduce this bug. It is using `<details>` now, not sure if it was merged before or after you opened this issue though. Can you double-check you still have it please?

[2022-08-23 09:50] GuillaumeGomez commented on #100225
I'd be in favor of not changing anything as it would very likely make us shift away from the commonmark spec.

[2022-08-23 10:16] Geobert opened #100916 "[doc_auto_cfg] feature gated macros are not marked with feature badge"
I have some macros behind a feature flag and when generating the doc, they don't have the feature badge.
I had to mark each of them manually with `doc(cfg(feature = "my_feature"))` (and in an `cfg_attr` to keep compiling on stable)

I'm not sure if this is intended or not but I couldn't find anything on the subject on this repo :)

[2022-08-23 10:25] uselessgoddess opened #100917 "`STATUS_ACCESS_VIOLATION` in unstable `thread_local` feature on `windows-gnu`"
I tried this code:

[code]
But it breaks down inside `RefCell`:
`error: process didn't exit successfully: 'target\debug\sandbox.exe' (exit code: 0xc0000005, STATUS_ACCESS_VIOLATION)`

Debugger comes to here:
![image](https://user-images.githubusercontent.com/68294279/186135245-e29dd6ba-e61e-43d6-a205-4d2fb4196ff4.png)

[code]

[2022-08-23 11:22] jplatte commented on #56232
This would be very very helpful for rust-analyzer as well, I think. Currently when writing non-trivial example code, I have no inline errors in my editor which reduces my productivity a bunch.

[2022-08-23 11:26] CJKay commented on #100638
Hi @GuillaumeGomez, CommonMark does not support footnotes at all. RustDoc is very explicit that it does, so the behaviour of RustDoc's footnotes probably be based on whatever library it uses for Markdown parsing rather than actual CommonMark.

You can see from this simple example that [CommonMark does not support footnotes](https://pandoc.org/try/?text=Hello%2C+World%5B%5E1%5D%21%0A%0A%5B%5E1%5D%3

[2022-08-23 11:28] cjgillot commented on #100875
https://github.com/rust-lang/rust/pull/99249 should fix it.

[2022-08-23 11:43] GuillaumeGomez commented on #100638
Oh I see, my apologies. Reopening the issue then.

[2022-08-23 11:55] RalfJung commented on #88862
Looks like the stopgap measure is causing problems... at least if the analysis in https://github.com/rust-lang/miri/issues/2433 is correct, the 'fix' is causing ICEs in Miri when rustc is built with debug assertions.

[2022-08-23 12:05] yiya1989 commented on #34282
Thanks your replay, I tried add these to `.cargo/config.toml`, it works.
[code]

[2022-08-23 12:09] zseri commented on #90286
should we wait for the commits which seem to fix this to hit stable, or can we close this already?

[2022-08-23 12:46] Mark-Simulacrum commented on #60707
I'm going to go ahead and close this per https://github.com/rust-lang/rust/issues/53667#issuecomment-1221601412; it seems like the majority or all of this is no longer the case today. I tried poking around in the compiler to find related code but didn't see anything that stood out as particularly relevant. hir::ExprKind has an If variant today, for example.

[2022-08-23 12:46] #60707 closed

[2022-08-23 12:55] Mark-Simulacrum commented on #60571
It looks like today the match-generated MIR is basically the same "complexity" at least based on a visual inspection, so I'm going to go ahead and close this -- we can circle back if there's concrete results today that show otherwise.

For

[code]

we get:

[code]

[2022-08-23 12:55] #60571 closed

[2022-08-23 12:55] Mark-Simulacrum commented on #53667
Ah, I missed that we're emitting a "spurious" feature gate error even though the syntax itself is denied in a separate error in that case. Seems OK.

[2022-08-23 12:55] RalfJung commented on #73255
I wonder if it is possible to make our existing const drop checks a bit smarter so that at least `Option::unwrap` can be accepted, without the future-compat hazard of letting dropck do the checking? It would be great to unblock (parts of) https://github.com/rust-lang/rust/issues/67441.

[2022-08-23 12:59] Mark-Simulacrum commented on #100459
Once #100852 merges (and we release a new nightly ~24 hours after that) it'd be great to retest with a nightly src tarball in your environment to confirm this is fixed, but also fine to just wait until the next stable release including it and file a new bug if not. That'll be 1.64, releasing September 22nd. (I marked the PR as beta-backport).

[2022-08-23 13:38] yaahc commented on #88967
@hamza1311 it causes ambiguous name resolution errors on files that already use the itertools intersperse method because now both the itertools and iterator traits are in scope and have a method with the same name, so the compiler goes from having one option to two options and produces an error because it can't pick arbitrarily from two options for which intersperse method to use.

[2022-08-23 13:43] Nilstrieb commented on #100914
On `x86_64-unknown-linux-musl`, I get `fish: 'cargo run --release --target x8…' terminated by signal SIGSEGV (Address boundary error)`. On GNU, I get the double free report as well.

[2022-08-23 14:08] 5225225 commented on #100914
Also, valgrind *does* complain

[code]

what this means, I have no clue.

[2022-08-23 14:10] davidtwco commented on #100717
Okay, I've tried to go through and update the status of each crate and link to any pull requests - thanks everyone for your contributions so far, we're making great progress. Feel free to ask in `#i18n` in Zulip if you have any questions, or your crate is really large and you could use a hand.

- @JeanCASPAR, now that fatal support has landed, it's my understanding that the remaining parts of `rus

[2022-08-23 14:33] m-ou-se commented on #64102
It seems like we have enough confirmation at this point from both compiler team and library team folks that we do want "something like this", so I'll stop that FCP.

@rfcbot cancel

I also get the impression we might just want to continue with the exact name and signature we have right now, so I'll propose a libs-api FCP for that.

[2022-08-23 14:33] obi1kenobi commented on #100905
👋 Hi, maintainer of `cargo-semver-checks` here. Since I'm only minimally familiar with the context, I'd love your input on whether it's worth making `cargo-semver-checks` treat adding `Copy` as a breaking change. For example, reasons to do it would be if this issue is tricky to fix or unlikely to be prioritized, and is therefore likely to remain open for a while.

Related: https://github.com/obi1k

[2022-08-23 14:37] RalfJung commented on #64102
Seems like this should also involve T-lang? It is after all a language extension.

[2022-08-23 14:38] m-ou-se commented on #64102
@rfcbot merge

Do we want to stabilize this as `std::hint::black_box`?

[code]

It's a bit unfortunate that the word "box" here has nothing to do with the `Box` type, but it seems like calling this operation `black_box` is already pretty common in the ecosystem.

Some folks expressed some concerns about users relying on the behavior of this function for correctness, but it seems to me that the nam

[2022-08-23 14:42] Lokathor commented on #64102
If this is already something that can be done with inline asm, as demonstrated above, then it's "just" a small helper function in the standard library based on an existing stable part of the language.

[2022-08-23 14:46] RalfJung commented on #64102
Every inline asm block is a language extension, unless its effect on the Rust-visible state can be achieved without using inline asm.

Now in this case the effect on the Rust-visible change is a NOP, so it'd probably fine, but inline asm is sufficiently subtle and this a sufficiently high-profile feature that I feel it should be at least on their radar.

[2022-08-23 15:15] m-ou-se commented on #91079
The confusion between `maximum` vs `max` is definitely a problem, so we'll need to do something about that before we can stabilize that. The `max` and `min` functions are already stable, so we have limited flexibility.

We'll need some more input: How do other languages and libraries handle this? How are these named in the standard? What are the use cases for `max` vs `maximum`?

[2022-08-23 15:16] GuillaumeGomez commented on #100736
Taking a look.

[2022-08-23 15:22] compiler-errors commented on #100266
I want to remind you that this was a _soundness_ fix in #92285. I'm pretty sure Rust has no guarantee on the stability of unsound code, because it should have never compiled in the first place.

That's probably because the  `&'static` bound that you had in your code was already being strongly implied by your usage of `Any`. I would be interested in any code that is now impossible to express, and h

[2022-08-23 16:13] PureWhiteWu commented on #100267
This has caused crate `volo` and `motore` docs fail to build.
https://docs.rs/crate/volo/latest
https://docs.rs/crate/motore/latest

[2022-08-23 16:29] PureWhiteWu commented on #44265
Hi, all.

As a real production use case for GAT(and TAIT), we have open-sourced our internal RPC framework `Volo`: https://github.com/cloudwego/volo and its middleware abstraction layer `Motore`(which is greatly inspired by `Tower`): https://github.com/cloudwego/motore. Here's a feedback for that.

We have also met some problems when GAT is used together with some other features, and we have submi

[2022-08-23 16:35] ahrens commented on #86219
Several members of my team (myself included) ran into this and I  wrote up this very similar example before finding this bug: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=881fa5892e94d0722bb879221578cf64

It would be super awesome if the compiler could suggest a solution like
[code]

[2022-08-23 17:07] linkmauve opened #100923 "Passing an array to an inlined function from another crate miscompiles on PowerPC"
### Code

I tried this code:

crate1:
[code]
crate2:
[code]

This was while trying to build [my GPU branch](https://github.com/linkmauve/luma/tree/bp) of the [Luma](https://github.com/rust-wii/luma) project, which targets the GameCube and the Wii (so use PowerPC codegen).  The bug as I could see it in [Dolphin](https://dolphin-emu.org/)’s debugger is that the register pointing to the beginning of

[2022-08-23 17:11] ChayimFriedman2 commented on #100406
I think this is the same as #100905 (posted later but using closures which is more common) because if I wrap the reference with non-`Copy` type it works: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a0a7e267aeaedf3089b1f4fc61b29abd.

[2022-08-23 17:39] Xiretza commented on #100914
Here's a slightly minimized reproducer:

[code]

Prints:

[code]

If `BUFFER_SIZE` is changed to `4 * GIGA + 1`, it instead prints the following and segfaults:

[code]

Relevant section from the assembly (with `4 * GIGA + 1`):

[code]

The first vector is stored at `0x10(%rsp)-0x20(%rsp)`, and is then partially overwritten by the second vector, stored at `(%rsp)-0x10(%rsp)`.

[2022-08-23 17:53] #100300 closed

[2022-08-23 17:53] #100321 closed

[2022-08-23 17:53] #100875 closed

[2022-08-23 17:57] nikomatsakis commented on #100905
The behavior is "by design", for better or worse.

Without the `move` keyword, closures take references wherever possible. This includes reads of a `Copy` value -- but values that are not `Copy` must be moved.

With the `move` keyword, closures capture by value always. This includes reads of a `Copy` value. =)

I don't believe we did a thorough write-up of the reasoning here -- though I have a vag

[2022-08-23 17:59] nikomatsakis commented on #100905
Given all this, though, what's the fate of this bug?

The system is working as designed. It'd be good to verify that this is documented in the reference (I think I've had "Document capture rules better" on my to-do list for a while, actually, now that I think about it...), and it's good to document this in terms of the our semver recommendations, but changing the language is more like "RFC territo

[2022-08-23 18:19] scottmcm commented on #100422
Since, from the notes, it seems like the libs-api meeting today said "how about we panic instead of wrap",  I'll try to answer my own question from above:

I would propose the following rule:

Conceptually, the result is first calculated in true ℤ (aka to infinite precision). Then for the non-prefixed versions

- If that result is undefined (`ilog(0)`, `1 / 0`, etc), then it panics (regardless of

[2022-08-23 18:55] Cl00e9ment commented on #100914
This issue seems related to [this one](https://github.com/rust-lang/rust/issues/83060).

[2022-08-23 19:02] CAD97 commented on #100905
If non-`move` closures *always* borrowed from the parent environment, then I'd agree with the current behavior. As is, though, it's "capture by example", so if a value is used by-value it's captured by-value... except if it's `Copy`.

I believe changing this would be nonbreaking, because the only ways to observe the difference between by-ref and by-copy captures are

- the size of the closure, and

[2022-08-23 19:09] CleanCut commented on #100717
I'll take on `rustc_metadata`

[2022-08-23 19:13] czzrr commented on #96928
@rustbot claim

[2022-08-23 19:18] 5225225 commented on #83060
Thought: could we take an upper-bound estimate of the stack size used by each monomorphisation of a function, and then abort compilation saying we don't support stack frames that large if it's more than 2GB? (unsized locals might make that difficult, not sure.). Not sure if 2GB is the right size on all supported platforms too.

It wouldn't *fix* the issue but it would fix it being a soundness issu