[2019-12-12 10:14] tuxillo commented on #29594
We now provide __errno_location() since this commit:

https://gitweb.dragonflybsd.org/dragonfly.git/commitdiff/60d311380ff2bf02a87700a0f3e6eb53e6034920

[2019-12-12 10:18] Centril commented on #67204
I'm skeptical of the additional complexity here in doing it in the parser. This would also have a perf cost in the happy path due to `let snapshot = self.clone();` but in resolve we already know there's an error so no additional cost is paid in the happy path. At any rate, I would appreciate not landing any such PR while my parser refactoring PRs are unmerged.

[2019-12-12 10:29] hellow554 commented on #67240
Excuse me? I stared this for way too long to figure out what's going on.

[code]

This only works with a variable which has a type specified (in this case `local_var`). If you leave out `String`, the correct span will be displayed.

Also slightly different code will produce a correct span.

[2019-12-12 10:35] jonas-schievink commented on #67245
Duplicate of https://github.com/rust-lang/rust/issues/67185#issuecomment-564841120

[2019-12-12 10:35] #67245 closed

[2019-12-12 10:51] Centril commented on #67217
For context, the RFC states that:

-----------------------

I would prefer to start out with a coarse per-VM granularity and considering per-item as needed. I also don't have an intuition for what per-item means in the face of mutually recursive functions (where e.g. both functions use `#![const_limit = ...]`).

I agree with @RalfJung's idea here and it seems consistent with what the RFC text ^--

[2019-12-12 10:57] Centril commented on #55022
I'm closing this as not-a-bug as we never decided that `!` should implement any `Trait` and so long as it does not, `-> impl Trait` and `unimplemented!()` / friends won't unify.

[2019-12-12 10:57] #55022 closed

[2019-12-12 11:05] futile commented on #55022
@Centril Yes, they currently won't, but I just assumed that it is uncontroversial that `panic!`/`unreachable!` should work in this case. So I thought it would rather be a matter of figuring out _how_ to fix this instead of whether this _should_ be fixed.

However, if the do-we-want-this-to-work comes first, can you refer me to the appropriate way to open an issue/discussion to figure that out? Tha

[2019-12-12 11:14] oli-obk commented on #67217
Denying a lint won't suddenly stop the loop detector from running. This will require some additional logic beyond that. We'll also need to take care to report the lint on the root of the evaluation and not e.g. somewhere in another crate if calling const fns from other crates.

[2019-12-12 11:15] Centril commented on #67227
Me and @jonas-schievink [briefly discussed this on Discord](https://discordapp.com/channels/442252698964721669/443148290352218115/654638344847753216).

It's not clear to me that this is a bug, but I could also see an argument for why coercions (though type ascription or via e.g. `-> ReturnType { ... }`) and possibly casts (`as`) would be treated specially as they "do nothing" (not entirely true, a

[2019-12-12 11:20] Centril commented on #55022
There's some discussion in the tracking issue, e.g. starting with https://github.com/rust-lang/rust/issues/35121#issuecomment-239216426 and probably more in various places (e.g. https://github.com/rust-lang/rfcs/issues/2619). It's far more subtle than "all traits" I think and needs some language design (assuming there's agreement which there might not be). If you want to tackle this I'd read all p

[2019-12-12 11:28] trimoq opened #67252 "ICE: `no name for expr || `"
I wanted to quickly prototype a bit of code involving tokio and some shared state but ran into a rustc panic:

[code]

I installed `rustc 1.41.0-nightly (27d6f55f4 2019-12-11) running on x86_64-unknown-linux-gnu` by running rustup update a few hours back.
In my code (see below) there seems to be a mistake, having a lock living too long i suppose.
The following code leads to the error (based on htt

[2019-12-12 11:29] futile commented on #55022
Ah, I see the issue is already being discussed. If that's the case I'll just let it rest, seems there are enough people aware of it already. Thanks for the links! :)

[2019-12-12 11:43] Centril commented on #67252
ICE occurs in:
https://github.com/rust-lang/rust/blob/f284f8b4be3a899bf2ecc03e2a1589f486b62a9f/src/librustc/hir/map/mod.rs#L1031

[2019-12-12 12:32] hellow554 commented on #67252
Error before:

[code]

Regression in 033662dfbca088937b9cdfd3d9584015b5e375b2...27d6f55f47e8875e71083a28ed84ea5a88e1b596

Very likely due to #65345  cc @davidtwco

(I'm on a MCVE)

[2019-12-12 12:37] RalfJung commented on #67217
Wait I think the loop detector is going away once we count terminators instead? We could optimize things to not even count terminators when the link is allowed (not denied?), but that seems like a microoptimization.

[2019-12-12 12:56] pnkfelix commented on #67252
triage: P-high, removing nomination tag.

[2019-12-12 12:57] hellow554 commented on #67252
Here we go:

[code]

So `spawn` takes a type that is `Send`, but `MutexGuard` does not implement it. That's causing the ICE.

[2019-12-12 12:59] hellow554 commented on #67252
@rustbot modify labels: -E-needs-mcve

[2019-12-12 13:00] pnkfelix commented on #67227
T-compiler triage: Leaving unprioritized for now while we wait to see what T-lang decides about whether this is a bug or not.

[2019-12-12 13:06] pnkfelix commented on #67191
T-compiler triage: leaving unprioritized until we see feedback from T-lang on what we should do here.

[2019-12-12 13:13] hellow554 commented on #67252
Not sure how to express the `!Send` for the MCVE here. You can of course use a new struct (like I did before with `NoSend`), or use a `*mut _`.
Interesting this works with `Sync` as well, but not with other (custom) traits. Maybe because `Send` is an `auto trait`?

[2019-12-12 13:16] pnkfelix commented on #67165
triage: P-medium (unfortunately); until we can get a more readily reproducible scenario, we cannot readily act on this

[2019-12-12 13:20] JohnTitor commented on #67040
Closing as resolved, feel free to re-open if it's still an issue.

[2019-12-12 13:20] #67040 closed

[2019-12-12 13:21] pnkfelix commented on #67118
I should see how this behaves on a branch with #67020

[2019-12-12 13:22] pnkfelix commented on #67118
triage: P-high, removing nomination. Assigning to self to see if I can replicate, and if so, how it behaves with respect to PR #67020

[2019-12-12 13:23] steveklabnik commented on #67231
As far as I know, ninja is only used for LLVM, so this bug report would have to go to them, not to us.

[2019-12-12 13:24] pnkfelix commented on #67087
triage: removing nomination. Feel free to renominate for triage after you have provided code to reproduce the issue (preferably a Minimal Complete Verifiable Example, MCVE).

[2019-12-12 13:29] pnkfelix commented on #67083
triage: P-high, removing nomination, assigning to @oli-obk

[2019-12-12 13:32] pnkfelix commented on #67072
triage: P-high, removing nomination

[2019-12-12 13:33] steveklabnik commented on #46607
This now looks like

[code]

[2019-12-12 13:33] steveklabnik commented on #39355
Triage: i have no idea if this was done or not.

[2019-12-12 13:41] Mark-Simulacrum commented on #67231
Yes, if LLVM gains support for other build tools (?) then we'd be happy to pipe that support through via a PR into config.toml, but otherwise I don't think this is issue is directly actionable for us, so I'm going to close. Thanks!

[2019-12-12 13:41] #67231 closed

[2019-12-12 13:50] pnkfelix commented on #58633
triage: P-high, leaving nominated in hopes of discussion in a near term meeting.

[2019-12-12 13:53] hellow554 commented on #67072
Has already been fixed on f6840f33e68f53a60ba45d4c9e75223ae3dd434f.
So I guess like Centril already said, fixed by #67044.

So this can be closed?

[2019-12-12 13:56] nirvdrum commented on #29641
@SimonSapin Thanks for the info. I do think box patterns are quite important. I'm still relatively new to the language, but I've been working on a compiler on-and-off for the past 18 months. The most natural way to represent an AST in Rust is as a recursive enum, which means needing to box values. The IR I'm using happens to be a recursive enum as well. Multiple phases of the compiler need to patt

[2019-12-12 14:14] pnkfelix commented on #66757
visiting for T-compiler triage. I think we can remove the nomination label; the immediate fire is being put out via PR #67224

[2019-12-12 14:59] Ixrec commented on #67199
FWIW, there's [already a clippy lint](https://rust-lang.github.io/rust-clippy/master/#or_fun_call) to tell you to replace things like `unwrap_or(...)` with `unwrap_or_else(|| { ... })`. for precisely this reason. This is also part of the reason why so many Option/Result methods have a _then or _else variation that takes a closure instead of a value.

[2019-12-12 15:14] lzutao commented on #67199
Yes, the version with unwrap_or_else has better codegen than one with unwrap_or,
but they still has worse codegen than the one doesn't allocate.

[2019-12-12 15:25] nikomatsakis commented on #47809
Nominating for lang team meeting to update about the awesome progress here, that's all.

[2019-12-12 15:56] estebank commented on #67204
Fair.

True, the cost there is verbosity/vertical space, and that is fine, just not ideal.

I think you're overestimating the added complexity on isolation (or you're extrapolating to the addition of all these checks throughout the parser, in which case, fair) and of the size and prevalence of the performance hit. We can check whether the struct ident is `async` and do our recovery and branching p

[2019-12-12 16:25] Centril opened #67259 "Provide type on non-exhaustive pattern matching errors"
Context & discussion https://github.com/rust-lang/rust/pull/67026#discussion_r354073311.

Given e.g.
[code]
we now get an error:
[code]
but we should change this into:
[code]

cc @estebank @varkor @Nadrieril

[2019-12-12 16:25] rpjohnst commented on #29641
One alternative to box patterns in your case might be to allocate nodes in an arena, enabling you to use references instead.

That gives you support for default binding modes, which are even more succinct than box patterns, and is likely to be a performance improvement as well.

(Leaving this here so others with the same problem can see it.)

[2019-12-12 16:40] Mathspy commented on #58733
Is this issue relevant again because of https://github.com/rust-lang/rust/pull/67224?

[2019-12-12 16:55] elprans commented on #65862
@nikic Despite an eerily similar crash, my case seems to have been caused by Gentoo's build sandbox. Sorry for the noise!

[2019-12-12 17:14] qmdx opened #67261 "Runtime exception: byte index 15 is not a char boundary"
[code]

[2019-12-12 17:24] sfackler commented on #67261
What code produce this panic?

[2019-12-12 17:36] qmdx commented on #67261
I used the [r2d2](https://github.com/sfackler/r2d2) library code，I'm not sure this `panic `

[code]

[2019-12-12 17:39] cuviper commented on #67242
Oh, I found that Fedora does have libc++ packaged, `libcxx-devel` and `libcxxabi-devel`. But when I tried to use it simply as you indicate, foreign exceptions don't seem to be caught at all, in either direction. I see the binary still gets `gcc_s` linked implicitly though, I think because libunwind/build.rs adds it to std. I'll try to get a full build of rustc with just libc++ instead.

[2019-12-12 17:43] Amanieu commented on #67242
It's fine to link to `gcc_s`, since that contains the libunwind implementation. The actual C++ personality functions are in libstd++/libc++abi.

Can you post the test output with libc++?

[2019-12-12 17:56] jonahbron commented on #44052
He lives! Thanks for the update @dylanmckay , exciting progress.

[2019-12-12 17:59] cuviper commented on #67242
Maybe this is obvious, but I have to compile the C++ part with clang++, not g++, or it gets "undefined reference to `__cxa_end_cleanup`". I wasn't sure whether to also use `-stdlib=libc++`, but either way the C++ exception is not caught by Rust:

[code]

So I commented out `throw_cxx_exception` again to just try `throw_rust_panic`:

[code]

[2019-12-12 18:23] mati865 commented on #67242
@cuviper you may need to explicitly link libcxxabi depending on how libcxx was built. That should fix undefined reference error.

[2019-12-12 18:48] cuviper commented on #67242
@mati865 I did use `-lc++ -lc++abi` -- do you mean more than that?

If anyone else is interested in arm-linux, it would be great to get more hands on this, because that target is not a high priority for me. I will probably disable this test for arm in Fedora in the meantime.

[2019-12-12 18:49] Amanieu commented on #67242
I managed to reproduce this on Arch Linux with `qemu-arm`, so it's definitely not a Fedora-only issue.

[2019-12-12 18:52] qmdx commented on #67261
thanks , The problem is found. It's really a Postgres instance of [diesel](https://github.com/diesel-rs/diesel) reading instead of utf8

[2019-12-12 18:52] #67261 closed

[2019-12-12 19:05] mati865 commented on #67242
@cuviper no, that should be fine. Guess passing `--unwindlib=[libgcc|compiler-rt]` to the Clang (supported since 9.0.0) doesn't help either?

[2019-12-12 19:15] cuviper commented on #67242
The link error was only when using g++ to compile foo.cpp. That much was ok with clang++. I just tried adding `--unwindlib` to the clang command too, but got "argument unused during compilation".

[2019-12-12 20:47] raindev commented on #32260
@havelund parking_lot crate provides reentrant mutex if you need it:
https://amanieu.github.io/parking_lot/parking_lot/struct.ReentrantMutex.html

I‘m curious what’re the reasons behind not providing reentrant mutex as the default implementation in the standard library?

[2019-12-12 21:10] Ixrec commented on #32260
I _think_ it's because Mutex and friends were originally meant to be wrappers around the native OS synchronization primitives, and some OS mutexes are not reentrant, though I'm not 100% sure on that.

[2019-12-12 21:18] samsartor opened #67262 "Can't return impl trait inside a type when using HRTBs"
This code fails to compile:
[code]

The message is:
[code]

I think this may be related to @54729 but it isn't quite clear.

[2019-12-12 21:23] matklad commented on #32260
@havelund @raindev @Ixrec, there's definitely an interesting conversation to have here, but a closed PR is not the right venue for such discussions:

* it's unlikey to be noticed by anyone originally subscribed to the issue
* it actively pings all relevant folks, which spends people's time.

I've moved this issue to the forum: https://users.rust-lang.org/t/reentrant-mutexes-in-rust/35653

In the f

[2019-12-12 21:29] Centril commented on #67262
cc @nikomatsakis @matthewjasper @lqd

[2019-12-12 21:39] Centril opened #67264 "Tracking issue for `X..`, `..X`, and `..=X` (`#![feature(half_open_range_patterns)]`)"
This is a tracking issue for the feature gate `#![feature(half_open_range_patterns)]`. This feature provides half-open range patterns `X..`, `..X`, `..=X`, and `...X` (last one is also deprecated like `X...Y` is, for spec & implementation simplicity).

The implementation for the feature was introduced in https://github.com/rust-lang/rust/pull/67258 and is also strongly related to `#![feature(exclu

[2019-12-12 21:53] ecstatic-morse opened #67265 "Recursion limit silently ignored if it overflows a `usize`"
The following code [fails to compile](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8b1e97d1ea8d2a581bd5024935dea292) since it exceeds the default recursion limit. Using `2056` as the recursion limit works as expected.

[code]

This is because we don't check for integer overflow errors when parsing limits:

https://github.com/rust-lang/rust/blob/e9469a6aec2f49fa1e2ae67064

[2019-12-12 22:05] matthiaskrgr commented on #54475
Note that [making `Vec::new()` a `const fn`](https://github.com/rust-lang/rust/pull/64028/) did not fix the issue.

[2019-12-12 22:43] dbregman opened #67266 "SystemTime::now should use GetSystemTimePreciseAsFileTime where available"
The current implementation of std::time::SystemTime::now on Windows uses the GetSystemTimeAsFileTime function. This function has relatively poor resolution, between 1-16ms depending on the system, which is unacceptable for many real-world applications.

GetSystemTimePreciseAsFileTime on the other hand has a resolution between 1us and 100ns. This extra precision comes at a small performance cost[1]

[2019-12-12 23:22] cyphar commented on #53487
I'm currently working on a [Rust library which is mostly intended for use through C FFI](https://github.com/openSUSE/libpathrs). The errors returned by this library include backtraces, but instead of pre-formatting them, the backtraces include all of the relevant information about each stack frame (address, resolved symbol name, symbol file, symbol file line number) so that the caller can format i

[2019-12-12 23:36] jonas-schievink commented on #43244
Nevermind, that was fixed by https://github.com/rust-lang/rust/pull/61224 apparently.

[2019-12-12 23:36] jonas-schievink commented on #52267
Fixed by https://github.com/rust-lang/rust/pull/61224 (which includes a test). Closing.

[2019-12-12 23:36] #52267 closed

[2019-12-12 23:41] estebank commented on #66380
Would the following output (as given by #67268) been enough to help you figure things out?

[code]

[2019-12-13 00:24] tmandry commented on #64191
Yeah, those should probably be the default. Would you mind opening an issue to track this?

[2019-12-13 00:25] steveklabnik commented on #52699
Triage: lots of changes have happened, not sure if this reproduces or not

[2019-12-13 01:46] fisherdarling commented on #67265
Hi! I'd like to try and handle this. If I understand this correctly, we should check if there is an `ParseIntError`, and if that error is an overflow. If it's an overflow, we default to `usize::MAX`?

@rustbot claim

[2019-12-13 02:13] Centril commented on #67191
We discussed this briefly in the language team meeting this Thursday. In this meeting, only @Centril, @nikomatsakis, and @ecstatic-morse attended.

Our basic conclusions were that having one consistent standard for "dead" / "live" as a matter of language definition (unaffected by compiler optimizations and lints like `const_err`) would be good. As NLL already has one standard, using that one would

[2019-12-13 02:19] Centril commented on #62254
We discussed this briefly in Thursday's language team meeting. I basically informed those present (only 3, including me) of ^--- and our almost-readiness for stabilization.

[2019-12-13 02:22] Centril commented on #67227
We discussed this very briefly in Thursday's language team meeting. Sadly, we did not have quorum to make any decisions. Mainly, I informed those present of the possible argument for a distinction wrt. casts and coercions as compared to e.g. function calls.

@leo60228 If possible, it would be good to elaborate on why we should add a special case to stop linting here and whether such complexity wou

[2019-12-13 02:26] Stargateur commented on #38723
A solution for array where all is zero ? see the stackoverflow question: [Efficiently allocating a vector of structs in Rust](https://stackoverflow.com/questions/59314686/efficiently-allocating-a-vector-of-structs-in-rust). Also, maybe add tuple. `const fn` should probably be a good feature here.

[2019-12-13 02:35] leo60228 commented on #67227
I return `unimplemented!()` from all my WIP methods so I can `cargo check` while I'm writing them. I can't do this for a method returning `impl Trait` without triggering this lint.

[2019-12-13 02:37] leo60228 commented on #67227
While I could just return `std::iter::empty` or similar, I think `unimplemented!()` expressed my intent much more clearly.

[2019-12-13 03:41] estebank commented on #67265
@fisherdarling correct

[2019-12-13 05:55] CleanCut commented on #46981
It sounds like the underlying issue is https://github.com/rust-lang/rust/issues/60447

[2019-12-13 06:04] CleanCut commented on #60447
I inadvertently ran into this bug today when trying to do `cargo run` with my project with `stdin` closed to see how my project would behave.  I wasted quite a bit of time trying to find the ICE by reducing my program down...and then I found this issue. 😢

[2019-12-13 06:50] #67190 closed

[2019-12-13 08:53] FrankvdStam commented on #44052
Great work @dylanmckay! Thanks for keeping us informed.

[2019-12-13 08:57] edvorg commented on #44052
A bit off-topic, but: would rustc for avr be able to do FFI with C libraries?
There are plenty of mature libraries already available for avr but written in C/C++.
It would be great to be able to create some rust-style wrappers for them and reuse them in our rust avr projects.

[2019-12-13 09:59] Kixunil commented on #63291
What are the requirements for stabilizing the `Box` API?

I don't think using `Rc<MaybeUninit<T>>` (and `Arc`) is currently *that* useful, as `Arc` happens to be shared (no mutation). However, there's this pattern where one wants to create a value while it's uniquely owned and then share it later. Doing it with `Box` would mean copying, so I was thinking about having `RcMut` and `ArcMut` that work

[2019-12-13 10:38] JuanSamuelVB opened #67273 "ICE when match arms have incompatible types"
Code:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=357198f069f931af4e10eb6f88be351b)

<details>
<summary>Backtrace</summary>

[code]
</details>

[2019-12-13 11:01] H2CO3 commented on #44052
Rust already can do FFI with C in general.

[2019-12-13 11:02] hellow554 commented on #67273
@rustbot modify labels: I-ICE C-Bug T-compiler

Regression from 1.34 to 1.35

[2019-12-13 11:05] edvorg commented on #44052
Yes and that's really great! The question is though: does it translate to rust-avr?

[2019-12-13 11:06] Patryk27 commented on #67273
Additionally, this one ICEs with different error message:
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0d4ba62eef6aaa73d1ea85d2c5d381d7))
[code]

[2019-12-13 11:08] CryZe commented on #44052
As long as LLVM's C ABI for AVR matches that of gcc, it should work

[2019-12-13 11:09] jonas-schievink commented on #67273
This code should *not* get all the way to codegen without an error

[2019-12-13 11:15] hellow554 commented on #67273
Another, different backtrace?

<details>
<summary>Backtrace</summary>

[code]
</summary>

[2019-12-13 11:47] hellow554 commented on #67273
Regression somewhere between 33ef0bad2...237bf3244

[2019-12-13 12:04] jonas-schievink commented on #67273
https://github.com/rust-lang/rust/pull/59439 looks suspicious, cc @Centril

In particular, maybe `is_assign_to_bool` is falsly returning `true` here since the expected type is `bool` due to the other match arms?
[code]

[2019-12-13 12:54] SimonSapin commented on #63291
Yes, that’s exactly the idea with having `Rc::new_uninit` together with `Rc::get_mut_unchecked` https://github.com/rust-lang/rust/issues/63292. It would also work with `Rc::new_uninit` + `Rc::get_mut` + `unwrap`, with an unnecessary run-time check (assuming sharing only after this).

[2019-12-13 12:55] GreenSnakes opened #67275 "RusT"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7ca2f139f9a969021114175b9bcb5a58))

Output:

[code]

Errors:

[code]

[2019-12-13 13:01] #67275 closed

[2019-12-13 13:20] AlexKornitzer opened #67276 "Project fails to link when using dylibs without the -Zshare-generics flag"
I have opened this issue under the recommendation of @michaelwoerister who has been helping me track down the linking issues I have been having with dylibs.

As reported in previous issues which I piggybacked, the example provided will build on `1.36.0` but nothing newer: https://github.com/AlexKornitzer/dylib-errors/tree/error/consul

To quote @michaelwoerister, the `-Zshare-generics` flag has po

[2019-12-13 13:22] AlexKornitzer commented on #64340
@michaelwoerister has identified the issue for branch 2 (error/consul) and has suggested opening a new issue that is more targeted to its root cause, hence #67276

[2019-12-13 13:35] nikomatsakis opened #67277 "indicate origin of where type parameter for uninferred types"
Over in https://github.com/rust-lang/rust/pull/65951, @estebank and I were discussing that we could improve the error message in cases like:

https://github.com/rust-lang/rust/blob/3964a55ba59bb6c3d4badcbddc49f6929ef76862/src/test/ui/async-await/unresolved_type_param.rs#L8-L14

Presently, we say:

https://github.com/rust-lang/rust/blob/master/src/test/ui/async-await/unresolved_type_param.stderr#L1

[2019-12-13 13:36] nikomatsakis commented on #67277
I'm tagging this as E-mentor because it has some rough mentoring instructions. Feel free to reach out to me for help, too.

[2019-12-13 13:39] mathstuf commented on #65262
How can a minimum be a range though? How is a minimum of `>= 1.34.0` meaningfully different than just saying `1.34.0` is my minimum? What use case is enabled by that?

[2019-12-13 13:53] Centril commented on #67273
[code]

[2019-12-13 13:56] bbqsrc commented on #31436
Given `?` is already special-cased stable even though the `Try` trait can't be used on stable, I don't see why `Try` being unstable would block try blocks being implemented on stable, because if Try trait is removed we still have Option and Result supporting `?` on stable, just without the ergonomics.

[2019-12-13 14:43] nanpuyue commented on #52609
http://man7.org/linux/man-pages/man2/getrandom.2.html

[code]

[2019-12-13 15:17] RReverser commented on #58452
Would it be worth to add `write_vectored_all` or is it out of scope of stdlib API?

[2019-12-13 15:22] AlexKornitzer commented on #64340
So I have tried @Zoxc solutions as mentioned here (https://github.com/rust-lang/rust/issues/65610#issuecomment-545680868) for branch 1 (error/nng) and the appears to work. In https://gitlab.com/neachdainn/nng-sys/blob/master/src/bindings.rs#L665 I added `#[link(name = "nng")` and the link errors I had there went away, so is it now intended behaviour that all binding libraries built statically must

[2019-12-13 15:30] shepmaster commented on #44052
My vote is **yes**, as the change to support the AVR calling conventions is basically just giving them a name and mapping them to the LLVM number. There's no fundamental code changes needed as we already have support for unstable conventions.

Rust's tier system is a bit loosely defined, but I think that the right thing is to merge [the AVR-specific code](https://github.com/avr-rust/rust/commit/04

[2019-12-13 15:32] dbregman commented on #67266
Since I needed it for my own use, here is an example implementation that does the fallback on pre-Vista systems.

[code]

[2019-12-13 16:24] Riateche opened #67279 "False positive "type alias is never used" when it's used in trait's generic argument"
Code (`lib.rs`):
[code]
`cargo check` produces `warning: type alias is never used: State1`.

[2019-12-13 18:04] estebank commented on #67068
With a relatively small sample, I am surprised that more people have used `--explain` exclusively than the index exclusively. About 2/3rds use one and/or the other.

<img width="585" alt="a third of 133 rust users do not use explain or the error code index" src="https://user-images.githubusercontent.com/1606434/70821336-b4dafa00-1d8f-11ea-82ff-a31aff2f582b.png">

[2019-12-13 18:06] Lokathor commented on #67068
I had no idea there was an index.

[2019-12-13 18:31] estebank commented on #67068
@Lokathor https://doc.rust-lang.org/error-index.html, it should be the first result for "<ERROR CODE> rust".

[2019-12-13 18:35] jgalenson commented on #34902
I was able to get reproducible builds of rustc with debuginfo by upgrading to a newer version of the compiler_builtins crate that contains https://github.com/rust-lang/compiler-builtins/commit/ca423fe49a9cb90baf5dd3cfefc13c11d6c1eb02 (so at least 0.1.20 should work, although I used 0.1.22).  With that, I no longer needed my last remaining [patch](https://github.com/jgalenson/reproducible-rustc/blo

[2019-12-13 18:39] distransient commented on #65262
I suggested semver defaulting to a `>=` operator. This means that `">= 1.34.0"` and `"1.34.0"` would be identical values, just like how in dependencies, which default to the caret operator, `"^1.34.0"` and `"1.34.0"` are identical values. The original functionality of the proposal would be identical with the caveat of some extra flexibility and code reuse. Personally I'm against the "minimum" name

[2019-12-13 18:42] Lokathor commented on #67068
Not on the first page of google results for me.

Anyway, my point was that I've used rust since 1.16, and I hit a _lot_ of errors, and I never paid enough attention to find out about some website thing.

[2019-12-13 18:52] ggriffiniii commented on #45599
I would also point out that this causes the most prominent use of the doc-comment crate to seemingly not work for users. Each of the top 5 most popular crates (lazy_static, regex, aho-corasick, byteorder, num_cpus) are all using doc-comment behind a #[cfg(test)] conditional. Meaning that they intend to check their README.md files, but in fact are not. These crates are maintained by some of the bes

[2019-12-13 18:58] sunjay commented on #45599
I should note that my usecase will be pretty much addressed by the [stabilization of `#[cfg(doctest)]`](https://github.com/rust-lang/rust/pull/63803). This issue can probably be closed once that is released on stable Rust.

[2019-12-13 19:25] agalakhov opened #67283 "UB in safe Rust while converting floats to integers"
Test case:
[code]
Run this code repeatedly and observe different numbers printed out.
Note that small changes in the code result in large changes in the printout, i.e.
[code]
Also observe differences between debug and release builds, between stable and nightly.
Reproducible in both stable and nightly.

[2019-12-13 19:33] Majkl578 commented on #65262
@distransient By definition semver-compliant constraint can't default to `>=` because it would allow next major version(s), breaking the semver guarantee.
But given that Rust itself isn't following semver I'm not sure it matters.

[2019-12-13 19:34] agalakhov commented on #67283
Duplicate of #10184.

[2019-12-13 19:34] #67283 closed

[2019-12-13 19:43] estebank commented on #63711
Triage, current output for these cases:
[code]

[code]
[code]

[2019-12-13 19:45] estebank commented on #60658
Triage, [no change in the output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=827067feee60a3bdcfb6fac8f2d9948d).

[2019-12-13 19:45] Lokathor commented on #65262
Rust attempts to, but there are clearly spelled out parts where it is not followed perfectly.

[2019-12-13 19:46] thomcc commented on #67068
I also had no idea and have definitely searched for the error code before, and it sometimes helps find the issue.

I feel like, instead of/along with saying E0072 in the error message, linking to https://doc.rust-lang.org/error-index.html#E0072 directly (instead of hoping search would drag it up) would have been very helpful in surfacing this index and helping users understand the issue.

That sai

[2019-12-13 19:48] estebank commented on #60595
#67268 touches this part of the codebase. It doesn't address it, but it should be possible to build on it to do so. With that PR, the output is

[code]

[2019-12-13 19:52] agalakhov commented on #10184
Just ran into this issue producing results that are _irreproducible between runs_ even without recompiling. The `as` operator seems to fetch some garbage from memory in such cases.

I suggest just to completely disallow using `as` for "float as int" and rely on specific rounding methods instead. Reasoning: `as` is not lossy for other types.

[2019-12-13 19:53] estebank commented on #28894
Current output, minor change to the span:

[code]

[2019-12-13 19:56] #63711 closed

[2019-12-13 19:58] application-developer-DA commented on #10184
Is it?

Based on [Rust Book](https://doc.rust-lang.org/1.30.0/book/first-edition/casting-between-types.html) I may assume that it's lossless only in certain cases (namely in cases where the `From<X>` is defined for a type Y), i.e. you can cast `u8` to `u32` using `From`, but not the other way around.

[2019-12-13 19:59] estebank commented on #61730
Current output, still problematic:

[code]

[2019-12-13 20:02] estebank commented on #58231
Triage, [little change](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=070e7e4357cba763421cd1c91c101537):

[code]

[2019-12-13 20:04] estebank commented on #57905
Current output:

[code]

[2019-12-13 20:09] estebank commented on #56064
Triage: we no longer suggest the incorrect code, otherwise no change.

[2019-12-13 20:13] agalakhov commented on #10184
By "not lossy" I mean casting from smaller types to larger ones. For floats it is not the case even if casting to the variable of larger size even for round numbers. Example: `2000000001 as f32 as u64`

[2019-12-13 20:22] nikomatsakis commented on #67194
The problem here clearly has to do with the known unsoundness related to specialization. I believe the core specialization is here:

[code]

Unfortunately, this specialization violates the [always applicable test](http://smallcultfollowing.com/babysteps/blog/2018/02/09/maximally-minimal-specialization-always-applicable-impls/). In particular, the specializing impl (the second one) is not, well, al

[2019-12-13 20:23] nikomatsakis commented on #67194
So... the specialization is unsound as implemented today, but could be made sound. This is probably true of a lot of specializations.

[2019-12-13 20:26] estebank commented on #64155
Current output:

[code]

[2019-12-13 20:33] steveklabnik commented on #65262
(this is not correct; ranges are not defined in the spec at all. rust
follows the entire semver spec accurately, but there are some extensions to
the spec (like ranges) that different implementations disagree on. (I
maintain both semver the spec as well as semver the rust package.))

On Fri, Dec 13, 2019 at 1:45 PM Lokathor <notifications@github.com> wrote:

[2019-12-13 20:34] sunjay commented on #45599
Ah actually it turns out I misunderstood what was added. [The `cfg(doctest)` is only used when *collecting* doctests.](https://github.com/rust-lang/rust/pull/59940#issuecomment-482832453) It isn't used when compiling the code (:cry:).

This does **not** resolve this issue then. We would need `cfg(doctest)` to be added when *compiling* doctests for me to fully remove the `--features "test"` hack I'

[2019-12-13 20:58] ohadravid commented on #67277
@rustbot claim

[2019-12-13 21:15] RalfJung commented on #10184
`256u64 as u8` is lossy though.

[2019-12-13 21:36] agalakhov commented on #10184
But `<anything>_u8 as u64 as u8` is not.

[2019-12-13 21:36] retep998 commented on #67266
`std` already has code in place for loading functions that might not exist, so this should be a relatively simple change, and nowhere as complicated as that example implementation.

[2019-12-13 21:50] Lokathor commented on #65262
That is correct, but I wasn't talking about ranges, I was referring to Rust's policy of accepted breakage.

[2019-12-13 22:37] ExpHP commented on #62645
Isn't this just a duplicate of https://github.com/rust-lang/rust/issues/43408?

[2019-12-13 22:56] #67232 closed

[2019-12-13 22:56] #67273 closed

[2019-12-13 23:29] estebank commented on #67252
Fixed output:

[code]

[2019-12-14 01:13] estebank commented on #67072
Nightly output:

[code]

Closing as fixed by that PR.

[2019-12-14 01:13] #67072 closed

[2019-12-14 01:15] estebank commented on #66868
Removing `I-ICE` and `P-high` as the bug's been fixed in #67071, but leaving open to add a regression test.

[2019-12-14 01:18] estebank commented on #66618
Verified that #66391 fixed this. Closing as the only thing missing is the backport.

[2019-12-14 01:18] #66618 closed

[2019-12-14 01:22] admilazz commented on #10184
I think lossiness is normal and expected with casts, and not a problem. Truncating integers with casts (e.g. `u32 as u8`) is a common operation with a well-understood meaning that's consistent across all C-like languages that I'm aware of (at least on architectures that use two's complement integer representations, which is basically all of them these days). Valid floating-point conversions (i.e.

[2019-12-14 01:28] estebank commented on #64300
Thank you for pointing this to us. As this ticket stands, we have no way of acting on this so I will close it.

@NightBalance if you the code to reproduce this or a non-elided stacktrace we can reopen this ticket.

[2019-12-14 01:28] #64300 closed

[2019-12-14 01:47] estebank commented on #59191
This line should emit an actual error and use `FatalError.raise();` to stop compilation.

https://github.com/rust-lang/rust/blob/1a496f33796d848609e06604445e28056954f412/src/libsyntax_expand/expand.rs#L355

[2019-12-14 02:08] #46333 closed

[2019-12-14 02:08] #49391 closed

[2019-12-14 02:08] #40015 closed

[2019-12-14 02:08] #48089 closed

[2019-12-14 02:13] agalakhov commented on #10184
The side effect is, garbage value originates somewhere in memory and reveals some (possibly sensitive) data. Returning "random" value computed solely from float itself would be fine, but the current behaviour is not.

Are there any use cases of float-to-int conversions not accompanied by explicit `trunc()`, `round()`, `floor()` or `ceil()`? The current rounding strategy of `as` is "undefined", mak

[2019-12-14 03:18] admilazz commented on #10184
I would expect it to just leave the destination unchanged or whatever, but if that's really a problem it could be zeroed first.

If the rounding strategy is really undefined then that'd be a surprise to me, and I'd agree that the operator is barely useful unless you're giving it an integer already. I'd expect it to truncate toward zero.

I guess it depends on the domain, but I expect `x.trunc() as

[2019-12-14 03:36] MOZGIII commented on #42327
What if `Option` somehow was a type alias for `Result`? I.e. `type Option<T> = Result<T, NoValue>`, `Option::<T>::Some(x) = Result::<T, NoValue>::Ok(x)`, `Option::<T>::None = Result::<T, NoValue>::Err(NoValue)`? That'd take some magic to implement and not realistic in the current language environment, but maybe that worth exploring.

[2019-12-14 05:45] KrishnaSannasi commented on #42327
We can't make this change because Thete are trait impls that rely on Option an Result being distinct types.

If we ignore that, then we could take it one step further and even make bool an aluas for `Result<True, False>`, where `True` and `False` are unit types.

[2019-12-14 08:20] remipassmoilesel commented on #67165
Should I close this ?

[2019-12-14 08:21] SimonSapin commented on #10184
https://doc.rust-lang.org/nightly/reference/expressions/operator-expr.html#type-cast-expressions

The note links here.

Rounding of values that “fit” is well-defined, that’s not what this issue is about. This thread is already long, it would be nice not to take it into speculating tangents about facts that are already established and documented. Thanks.

What remains to decide is how to define `f

[2019-12-14 11:15] cluck commented on #60251
Looks like this is solved?
[code]

[2019-12-14 11:47] 0dvictor opened #67292 "`--emit [asm|llvm-bc|llvm-ir|obj]` not emitting allocator or metadata"
At present, `rustc --emit [asm|llvm-bc|llvm-ir|obj]` only generates artifacts of the regular module but not allocators or metadata.

While working on #64191 , I found such behavior was very confusing as I expected it to output all artifacts I need to generate the final binary.  Therefore, I am proposing to make `rustc --emit [asm|llvm-bc|llvm-ir|obj]` emits allocators and metadata, in addition to

[2019-12-14 12:24] 0dvictor opened #67293 "`--emit metadata` emitting empty .rmeta file"
At present, `rustc --emit=metadata foo.rs` generates an empty rmeta file named `libfoo.rmeta`. The logic behind is that [rmeta is not needed for certain crate types](https://github.com/rust-lang/rust/blob/12307b3b08edee543a78fb9d4a837fbd6d6ac0fa/src/librustc_interface/passes.rs#L922-L939). However, I feel we should still save it to a file when user explicitly requested it by `--emit=metadata`, esp

[2019-12-14 12:36] 0dvictor opened #67294 "Linking error with `--emit=obj,metadata`"
`rustc --emit=obj,metadata helloworld.rs` generates a linking error as below:

[code]

Both `rustc --emit=obj helloworld.rs` and `rustc --emit=metadata helloworld.rs` work.

To reproduce, the code of `helloworld.rs` is:
[code]

[2019-12-14 12:38] 0dvictor commented on #67294
`--emit=[llvm-bc|llvm-ir|asm],metadata` also generates similar error.

[2019-12-14 12:39] 0dvictor commented on #64191
Here they are: #67292 and #67293

I also created #67294 to track a different issue found while I am working on splitting compiling and linking.

[2019-12-14 12:59] GuillaumeGomez opened #67295 "cfg(doctest) doesn't work as expected"
First, create empty lib crate.

[code]

With `use crate::foo::bar`:

[code]

[code]

With `use foo::bar`:

[code]

[code]

[code]

With `use crate::bar`:

[code]

[2019-12-14 13:01] GuillaumeGomez commented on #45599
@sunjay I think we actually should set it when compiling as well. I opened https://github.com/rust-lang/rust/issues/67295 to keep track of it.

[2019-12-14 13:10] jonas-schievink commented on #60251
@cluck Aren't you running from the LLVM installation directory? Try checking what the `llvm-tools-preview` rustup component provides

[2019-12-14 13:16] SOF3 commented on #66071
it appears that this issue can be generally reproduced with Item-level syntax errors (such as missing semicolon behind `use`, etc.) in the included module.

[2019-12-14 13:31] xfix commented on #66136
About the proposed lint, I once added `cast_ref_to_mut` lint to Clippy (about a year ago), which was very minimal, it only handled obviously incorrect cases. In particular, if you look at https://github.com/rust-lang/rust-clippy/blob/master/tests/ui/cast_ref_to_mut.rs, once of things it intentionally doesn't warn about is this:

[code]

[2019-12-14 13:40] oli-obk opened #67296 "Diagnostics talk about `fn pointer` when no pointers are in the source"
Trait function API mismatches (where the impl differs from the declaration) report the correct error about the mismatch, but also give a more detailed note like

[code]

This could cause some confusion as the user hasn't done anything with function pointers.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=61ca352846a801424d462274cddb5117))

Errors:

[2019-12-14 14:19] agalakhov commented on #10184
Correct. In general, `x.anything() as u32`, most likely `round()`, but could also be `trunc()`, `floor()`, `ceil()`. Just `x as u32` without specifying concrete rounding procedure is most likely a mistake.

[2019-12-14 14:37] ehuss commented on #67293
I would be cautious with this, as it could be a noticeable increase in disk usage for some projects.  Rust already uses too much disk space.  There should probably be a stronger reason than "it seems like it should".

[2019-12-14 14:54] spunit262 commented on #67266
XP will likely be split off into it's own target, so fallback won't be needed if that happens (#66801)

[2019-12-14 15:06] Centril commented on #67296
cc @estebank

[2019-12-14 15:14] Centril commented on #64285
Fixed by @oli-obk in https://github.com/rust-lang/rust/pull/67136.

[2019-12-14 15:14] #64285 closed

[2019-12-14 15:17] Centril commented on #66149
Closing as moot for the time being.

[2019-12-14 15:17] #66149 closed

[2019-12-14 15:18] bjorn3 commented on #67293
Emitting an empty .rmeta file makes sense, as the metadata is what is needed to use it with `--extern`/`extern crate`. For executables, cdylibs and staticlibs that is impossible, so no metadata is needed in those cases.

[2019-12-14 15:18] sunjay commented on #45599
Thank you! I agree. I was initially very confused about the behaviour.

[2019-12-14 15:56] EdorianDark commented on #44095
I think it would be better to leave Clamp in the current form, because it is now very similar to other languages.
When I worked on my pull request #58710 I tried to use a Range based implementation.
But [rust-lang/rfcs#1961 (comment)](https://github.com/rust-lang/rfcs/pull/1961#issuecomment-302600351)) convinced me, that it is better in the standard form.

[2019-12-14 16:37] jebrosen commented on #39524
I see this was rejected in general, but would it be doable to special case it for `Pin` the way it is for `Box`? It is not uncommon to have a `Pin<Box<dyn Future>>` especially when working with something like `async-trait`, but `Pin` does not propagate `#[must_use]`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51b7e0669d9d7462cd0345da4ec9dec8. This can be problematic w

[2019-12-14 17:07] estebank commented on #67296
What are some appropriate wordings? fn signature? fn? fn type? Revert this one back to just type?

[2019-12-14 17:29] oli-obk commented on #67296
Maybe without any descriptive word?

[code]

Is there any particular reason we're displaying the note at all? In the examples I was able to coax out of the compiler the main message was the part that was helpful, the note was just redundant.

[2019-12-14 18:59] ascclemens opened #67301 "Sharing nightly target dir between Docker containers doesn't work correctly"
Sorry in advance if this is the wrong place for this issue; I'm not sure about the root cause.

When caching the target directory of a build done in a Docker container, restoring
the directory on a different instance of the same container causes many, but not all,
dependencies to be rebuilt.

I can only reproduce this on nightly (`rust version 1.41.0-nightly (3eeb8d4f2 2019-12-12)` as a tested exa

[2019-12-14 19:28] lovasoa commented on #63033
I am also affected by this bug, where having both a reference and a box as parameters to a function causes the cryptic "hidden type for `impl Trait` captures lifetime that does not appear in bounds" :

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0ab3d470158a6d130dff15db8c9771dc))

Is there a resolution in sight ?

[2019-12-14 19:31] sfackler commented on #63033
`'a` is unused in that function - if you remove the `<'a>` it compiles.

[2019-12-14 19:33] lovasoa commented on #63033
Ok, let me change it to something closer than I had in my original code:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1338486a2f50292b7cb9dd4bff90399f))

[2019-12-14 20:32] Dylan-DPC opened #67302 "tracking issue for strip_prefix, strip_suffix for str"
Cc @KodrAus

Will fill the content later. Creating this so that #66735 can be merged and tracked.

[2019-12-15 00:11] estebank commented on #54035
This no longer reproduces in stable, instead emitting:

[code]

[2019-12-15 00:11] #54035 closed

[2019-12-15 00:24] estebank commented on #52595
@njaremko could you help me reproduce this issue? I haven't been able to with 1.29.0 and suspect that with newer versions this is fixed, but without a self contained repro case we can't add a regression test to avoid this cropping up in the future.

[2019-12-15 00:40] estebank commented on #51388
Triage: still repros:

[code]

[2019-12-15 00:47] CAD97 commented on #63292
https://internals.rust-lang.org/t/rc-and-internal-mutability/11463/13

`get_mut_unchecked` can cause a lifetime to be too short while still meeting the requirement of "no other rc types are 'used' over the mutation":

[code]

Found by @xfix

So either a "this doesn't do bad things with lifetimes" rule needs to be added, or it should go back to only allowing when `get_mut` would succeed.

[2019-12-15 01:13] slightlyoutofphase commented on #67194
Just to be totally sure that I described it well enough and that we're on the same page as I'm afraid I honestly can't quite tell from your wording here (though considering who you are I feel like you would basically have to know this far better than I!):

You did get that the specific change of `impl<Idx: PartialEq> PartialEq for MyRangeInclusive<Idx>` to having a `default fn` impl as opposed to

[2019-12-15 01:28] #66757 closed

[2019-12-15 01:32] jumbatm commented on #67240
If you fix up the comparison error
[code]
a possibly-uninitialised error is issued for the call to `local_var`, on the incorrect span which we've been observing.

If you go back to hellow's example and this time initialise  `local_var`, but leave the comparison incorrect:

[code]
you'll get the correct span.

It appears to me that the comparison error is being issued with the maybe-uninitialised v

[2019-12-15 02:06] cluck commented on #60251
Oh, I see, this is about intentionally shipping the llvm binary with Rust, for when the LLVM package is not installed.

That's a different approach than for rc.exe and windres.exe, which continue to be external dependencies (Visual Studio or Windows SDK 10, and MSYS2/MingW/Cygwin/...).

[2019-12-15 02:21] wangyiran125 opened #67306 "LINK : fatal error LNK1181"
i use rust
[code]
then get error

build.rs
[code]
i have installed vs 2019.and spent  a lot of time to find a solution.

rustup show

[code]

the complete error

c file is simple hello method
library.c

[code]
[code]
cmakelists.txt
[code]

[2019-12-15 02:31] qnighy opened #67307 "RcFromIter and ArcFromIter have unused specializations"
[`RcFromIter`](https://github.com/rust-lang/rust/blob/1.39.0/src/liballoc/rc.rs#L1498-L1543) and [`ArcFromIter`](https://github.com/rust-lang/rust/blob/1.39.0/src/liballoc/sync.rs#L2061-L2106) have three impls each:

- One is for a general `I: Iterator<Item = T>` (A)
- One is for `I: TrustedLen<Item = T>` (B)
- One is for `slice::Iter<'a, T>` (C)

The way `default` is specified suggests that (C) s

[2019-12-15 02:42] dtolnay commented on #57509
It fails relatively frequently for me on Linux, maybe 1 out of 4 times.

[code]

It looks like someone else has observed it failing on macOS as well: #51006. I think I will send a PR to delete the test.

[2019-12-15 04:45] Centril opened #67309 "Consider precedence btw `pat : type` (ascription) & `p0 | ... | pn` (or_patterns)"
We should ensure that we consider the precedence of type ascription in relation to or-patterns, e.g.

[code]

should probably bind as `(A(x)) | (B(y): T)` and not `(A(x) | B(x)): T`. This might not make a semantic difference because both sides should be of the same type, but parsing in the right way is a more iron-clad guarantee of forward-compatibility.

For `@`-patterns, this should ideally also

[2019-12-15 05:15] Centril opened #67311 "Extend bindings_after_at (`b1 @ Some(b2)`) tests with nested `or_patterns`"
Once `#![feature(or_patterns)]` (#54883), i.e. `pat_0 | ... | pat_n` in nested positions, e.g. `Some(Ok(a) | Err(b))` have progressed sufficiently in their implementation, e.g. when the MIR building implementation is done, we should extend the test suite for `#![feature(bindings_after_at)]` (#65490), e.g. `b1 @ Some(b2)`, to exercise the combination of these two features. Ideally, we would also ac

[2019-12-15 06:58] erikjara commented on #34701
Some news about this? 💔

[2019-12-15 07:45] ecstatic-morse commented on #52000
Implemented in #67216.

[2019-12-15 10:11] #65970 closed

[2019-12-15 10:11] #67252 closed

[2019-12-15 11:07] oli-obk commented on #64490
The current implementation does not prevent `&raw const foo().as_str()` where `fn foo() -> String` as far as I can tell. Repeating my post from https://github.com/rust-lang/rust/pull/64588#discussion_r357969199

The check for `&raw const 2` not being permitted is done on the HIR, and already mentions the downside to doing it on the HIR:

https://github.com/rust-lang/rust/blob/8843b28e64b02c2245f58

[2019-12-15 11:53] RalfJung opened #67316 "Gather CTFE support code in const_eval and cleanup that file"
Follow-up to https://github.com/rust-lang/rust/pull/66866: @oli-obk agreed to move `eval_const_fn_call` to `const_eval.rs`. Generally I propose that `interp` should not contain code that is *only* needed by CTFE. We have `intern.rs` and `snapshot.rs` in there are they need some very deep access to Miri engine internals, but at least those are separate modules.

Also, `const_eval.rs` has grown pret

[2019-12-15 12:09] RalfJung commented on #61693
I think this has been resolved by https://github.com/rust-lang/rust/pull/64119.

[2019-12-15 12:09] #61693 closed

[2019-12-15 12:10] RalfJung commented on #61495
@oli-obk this was resolved by https://github.com/rust-lang/rust/pull/66275, right?

[2019-12-15 12:12] RalfJung commented on #59793
This recently came up again in https://github.com/rust-lang/rust/pull/67054.

[2019-12-15 12:13] RalfJung commented on #59729
I propose to close this as "works as intended": `unsafe` does not propagate into `const` items.

[2019-12-15 12:18] RalfJung commented on #54857
Closing in favor of https://github.com/rust-lang/unsafe-code-guidelines/issues/93.

[2019-12-15 12:18] #54857 closed

[2019-12-15 12:35] LeSeulArtichaut commented on #67182
I’ll try to work on this
@rustbot claim

[2019-12-15 12:43] oli-obk commented on #59729
I agree it works as intended, but the diagnostic could explain this (especially for anonymous constants) by adding a span to the outer `unsafe` mentioning that it does not affect constants within it.

[2019-12-15 13:44] hanabi1224 opened #67320 "How to expose extern function like a proxy"
e.g. I have
[code]
Then I want to expose the same function for FFI when I build dynamic lib with cargo
[code]
My question is that, is there a way to directly expose the function with the same name? Something like
[code]
So that LZ4_versionNumber will appear in dynamic symbol table and be callable from other launguages.  Thanks!

[2019-12-15 13:44] jonas-schievink commented on #67320
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-12-15 13:44] #67320 closed

[2019-12-15 15:25] birkenfeld commented on #63255
Also seen with functions and a simple typo:
[code]
Error:
[code]

I'm not sure how the parser gets the idea that a macro was coming there...

[2019-12-15 15:34] teknoalex commented on #64248
i have the same issue

[2019-12-15 16:55] oli-obk commented on #61495
Well... yes and no. It is resolved, but I still want to change it so we don't have these lists at all but instead make all intrinsics use `rustc_const_stable` and `rustc_const_unstable`

[2019-12-15 17:55] elalfer opened #67329 "Support Intel IceLake ISAs through target_feature"
Working on CPUID based dispatch for Vector AES code for https://crates.io/crates/crypto_pimitives library.

Based on https://doc.rust-lang.org/reference/attributes/codegen.html#x86-or-x86_64 Rust doesn't support any AVX512 targets.

[2019-12-15 18:05] estebank commented on #67296
This used to be "expected type" which was also confusing when showing things that weren't really something that people associated with types, so it's using the TyKind description now. We could remove it entirely, but I find that having a small level of redundancy in our wording can help introduce and teach concepts to new users. This is why when I saw this I didn't change this to something like "f

[2019-12-15 18:13] oli-obk commented on #67296
Yea that was quite suboptimal

Right, having different verbosity levels for different experience levels is a different discussion, so: more verbosity is better for now. What do you think about

[code]

or does that get too long for complex signatures?

[2019-12-15 19:26] estebank commented on #46948
CC #53081

[2019-12-15 19:32] jbg opened #67331 "Performance regression in nightly-2019-12-14"
nightly-2019-12-14 times out building a crate here after 60m.

nightly-2019-12-13 builds it in 2m.

`cargo-bisect-rustc` gives:

[code]

Which relates to PR #66405

I'm working on a minimal repro but it may be difficult - the crate is a complex web API backend using a lot of async/await. Commenting out the entire route dispatcher brings us back to 2m compile time, bringing back routes one at a tim

[2019-12-15 19:46] ssomers commented on #42849
Actually, in the 1.40 beta version of Rust, the above alternative to drain can be shortened to:
[code]

[2019-12-15 20:16] jonas-schievink commented on #67331
cc @nnethercote

[2019-12-15 20:58] estebank commented on #67296
It makes sense but seems a bit long, I wonder if we can simultaneously make it shorter and less "jargony" by doing something like (for fn pointers specifically):

[code]

[2019-12-15 21:12] oli-obk commented on #67296
Oh yea, that's good

[2019-12-15 21:30] Disasm opened #67338 "Confusing error when using future wrapper"
([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e822c3c4009276aa6ec1b1aa2a52dfbb))

[code]

Error:
[code]

Of course, adding the suggested trait bound does not help.

[2019-12-15 21:38] nnethercote commented on #67331
@jonas-schievink: Is the crate publically available? It would be very helpful if I could build it myself and do some measurements, both to confirm that #66405 is at fault and to understand how it might have caused the regression. Although a minimal reproducer would be helpful, don't take too much effort producing one, because even a large test case would still be useful for me. Thanks.

[2019-12-15 21:40] jbg commented on #67331
@nnethercote (I think you meant to tag me)

Unfortunately this crate can't be shared, but I'm trying to produce something that I'm allowed to share. It's good to know it doesn't have to be minimal; as soon as I have something that's not sensitive I'll post it here even if I think it can be reduced further.

[2019-12-15 21:49] SimonSapin commented on #63292
Good find! As far as I can tell this happens because `Rc` is [covariant](https://doc.rust-lang.org/nomicon/subtyping.html). `x` and `x.clone()` are `Rc<&'static str>`, but covariance says it’s fine to pass the latter as `Rc<&'a str>` with a smaller lifetime. But because there’s sharing between the two strong references, the program can then incorrectly re-interpret `s` as `&'static str`.

This wou

[2019-12-15 22:00] estebank commented on #46426
Current output:

[code]

[2019-12-15 23:15] nnethercote commented on #67191
Some extra information: it appears that #67164 caused a [significant performance regression](https://perf.rust-lang.org/compare.html?start=7dbfb0a8ca4ab74ee3111e57a024f9e6257ce37c&end=033662dfbca088937b9cdfd3d9584015b5e375b2&stat=instructions:u). (It's not 100% certain, because it was part of a rollup and I am having trouble reproducing the regression locally.) According to [this comment](https://

[2019-12-15 23:24] Ralith commented on #27863
Affecting me also. Bump?

[2019-12-15 23:49] petertodd commented on #55422
I think `&mut Self` is the better API, as it's consistent with the general case that `take()` transfers ownership and thus should only be called once; in the rare case where you really need to `take()` more than once you can always use `ptr::read()` instead.

Having said that, there is a difference in variance between the two, though I think it's a 100% pedantic difference. The `&Self` version is

[2019-12-15 23:55] petertodd commented on #55422
`take_unchecked()` would be a logical analogy to the safe `Option::take()` - the latter checks if you call it twice, while the former doesn't. However we already have the unsafe, unchecked, `ManuallyDrop::drop()`, so I'd vote for sticking to the existing `take()` name. After all, it has to be called with `ManuallyDrop::take(src)`, so it should be clear to the reader that you aren't doing a standar

[2019-12-16 03:44] nnethercote commented on #64301
#67340 is another small win from `memcpy` profiling.

[2019-12-16 03:48] alex opened #67341 "Comments in libsyntax/ptr.rs contain outdated references to @T"
https://github.com/rust-lang/rust/blob/a605441e049f0b6d5f7715b94b8ac4662fd7fcf6/src/libsyntax/ptr.rs#L1-L27

The comments are quite old and probably need some small updates to reflect `@T` having been removed from the language.

This issue has been assigned to @matthew-healy via [this comment](https://github.com/rust-lang/rust/issues/67341#issuecomment-566504172).

[2019-12-16 06:21] joshtriplett commented on #64839
Ideally, I'd like to see Rust defaulting to omitting full paths, and only including project-root-relative paths. That would make Rust builds more reproducible, as well as hiding potentially private information.

[2019-12-16 07:22] joshtriplett commented on #65262
Given that we're extremely unlikely to ever have a rust 2.x.y semver, I would propose that we use `~` by default to match the default for dependencies.

[2019-12-16 07:35] plumenator opened #67345 "No way to get to docs for previous versions of std"
# Content Bug Report

## Page(s) Affected
https://doc.rust-lang.org/std/index.html

## What needs to be fixed?
Missing a drop down to select the version of `std`

## Workaround
Edit the URL directly like so:
[code]

## Suggested Improvement
Like at docs.rs, it would be great if we could switch between versions of the documentation.

[2019-12-16 07:36] plumenator commented on #67345
Moved from rust-lang/www.rust-lang.org#965

[2019-12-16 07:43] Lokathor commented on #65262
Cargo uses `^` by default according to the cargo book. That's a lot more appropriate to what we want. If you specify you need rust 1.36, then 1.37 will do just fine as well.

[2019-12-16 08:01] memoryruins commented on #67338
Appears to be the same case as #57994

[2019-12-16 08:21] gilescope commented on #36184
@rustbot modify labels: -E-needs-mcve

[2019-12-16 08:39] lzutao commented on #67345
It does, for example https://doc.rust-lang.org/1.37.0/std/index.html

[2019-12-16 08:59] dylanmckay commented on #44052
@edvorg very on topic IMO

Yes.. mostly. The AVR calling convention implemented by the AVR backend is designed to match AVR-GCC's (documented [here](https://gcc.gnu.org/wiki/avr-gcc)). There are some quirks, but the LLVM patch [D68524](https://reviews.llvm.org/D68524) I need to review should fix them.

Rust callsites will always be able to correctly invoke Rust or avr-clang compiled functions (as

[2019-12-16 09:04] plumenator commented on #67345
Sorry, I meant to say that there's no way from the UI. One has to already know (or guess) the URL to access it

[2019-12-16 09:05] plumenator commented on #67345
Updated to description with the workaround

[2019-12-16 10:13] jonas-schievink commented on #67345
This doesn't really belong in this repo either as rustdoc documents one crate at a time and doesn't know about other versions. docs.rs already does something like this for ecosystem crates, maybe that's something to look into for libstd too?

[2019-12-16 10:54] jonas-schievink commented on #57563
What's the reason for not allowing trait bounds to be in scope of `const fn` *at all*? I understand not allowing method calls based on the traits, but not allowing any trait bounds other than `Sized` requires very ugly workarounds at times.

I almost feel like this is rejected by accident given the error message: "trait bounds other than `Sized` on const fn parameters are unstable". Is the check t

[2019-12-16 11:09] Disasm commented on #67338
@memoryruins, indeed. Also works with `Rc<Self>`, `Box<Self>` and so on.

[code]

[2019-12-16 11:09] #67338 closed

[2019-12-16 11:11] oli-obk commented on #57563
Yes this is an unfortunate limitation right now. The reason is that if we permitted this now, we may run into backwards compatibility issues when we try to permit calling methods of generic parameters in const fn later. There's an RFC that will permit both const fn with generic parameters on which to call methods and `const fn` with generic parameters that may not be used in the `const fn`: https:

[2019-12-16 11:39] upsuper opened #67347 "`==` after unsafe block is not correctly recognized"
Given the following code:
[code]
Rust reports error:
[code]

However, if I change `==` to `+`, Rust would instead mentions that a pair of parens should be added to wrap the block:
[code]

I guess the error message should probably be updated for the `==` case as well.

[2019-12-16 11:52] sailfish009 opened #67348 "'rustc' panicked at 'called `Result::unwrap()` on an `Err` value"
recently, latest rust source getting error to build.

$ rustc -vV
rustc 1.41.0-dev
binary: rustc
commit-hash: unknown
commit-date: unknown
host: x86_64-unknown-linux-gnu
release: 1.41.0-dev
LLVM version: 9.0

[code]

[2019-12-16 11:55] sailfish009 commented on #67348
additional RUST_BACKTRACE=full log:

[code]

[2019-12-16 11:57] plumenator commented on #67345
I think it would be less of an issue if we could generate it locally with cargo. For `std`, the local docs send you to the website.

[2019-12-16 12:02] 0dvictor commented on #67293
Definitely. IMO, user's explicit request should be honored; therefore, in this case, the explicit request is `---emit=metadata`.

On the other side, I agree with @bjorn3 's point that the metadata is not needed for certain crate types; however, under this scenario, I feel rustc should print an error or warning message instead of silently generating an empty file.

[2019-12-16 12:11] 0dvictor commented on #67293
Does it mean these projects request `--emit=metadata` with crate types that do not need metadata? If it does, is there any obstacles or restrictions that these project cannot remove `--emit=metadata` from the arguments?

[2019-12-16 12:12] Kixunil commented on #63291
Great! I still think it'd be better to provide safe abstraction for it, but at least it'd be possible to do in a library.

[2019-12-16 12:19] hellow554 commented on #67347
`-` is not working as well ^^

@rustbot claim
@rustbot modify labels: A-suggestion-diagnostics C-enhancement T-compiler

[2019-12-16 12:20] hellow554 commented on #67347
@rustbot modify labels: A-suggestion-diagnostics C-enhancement T-compiler

[2019-12-16 12:21] bjorn3 commented on #67293
Does `cargo check` use `--emit=metadata` for executables?

[2019-12-16 12:29] lzutao commented on #67345
What are the uses of rustdoc for specific Rust version? Since Rust is really good at
keeping backward compatibility.

[2019-12-16 12:36] Kixunil commented on #63292
Consider this example:

[code]

[2019-12-16 12:44] jonas-schievink commented on #67348
Can you provide the source code on which this happens?

[2019-12-16 13:24] steveklabnik commented on #48533
Triage: no change.

[2019-12-16 13:25] steveklabnik commented on #47376
Triage: this is fixed!

[2019-12-16 13:25] #47376 closed

[2019-12-16 14:02] hellow554 commented on #67347
According to https://github.com/rust-lang/rust/blob/a605441e049f0b6d5f7715b94b8ac4662fd7fcf6/src/libsyntax/util/parser.rs#L213-L232
`==` cannot really be used. But I guess I can fix `-`, `*`, etc.

[2019-12-16 15:07] eggyal commented on #34701
@erikjara I've made some good progress but then some other projects demanded quite a bit of focus and I haven't looked at this for a good month or so—hoping to get back on it after Christmas.

[2019-12-16 15:11] SimonSapin commented on #63292
I agree with that principle, only I don’t always know which abstractions are important enough. If you have a particular one in mind feel free to also propose it in a new PR or RFC.

[2019-12-16 15:14] mati865 commented on #46948
I don't see how this is related to https://github.com/rust-lang/rust/issues/53081.

Retested with latest nightly:
Debug mode i686:
[code]
Release mode works fine for i686, x86_64 works fine regardless the mode.

Separated the only two cases which are failing:
[code]

[2019-12-16 15:31] #57977 closed

[2019-12-16 15:31] #66293 closed

[2019-12-16 15:31] ehuss commented on #67293
Yes. this is how `cargo check` works.

[2019-12-16 15:42] CAD97 commented on #63292
FWIW, I have mostly-complete WIP library implementations of [(`A`)`RcBox`](https://cad97.github.io/rowan/rc_box/) (`Unique`(`A`)`Rc`)) and [(`A`)(`RcBorrow`)](https://cad97.github.io/rowan/rc_borrow/). The first step to an RFC for either of these types would be to polish these library implementations and publish them.

[2019-12-16 15:45] SimonSapin commented on #63292
There’s also https://crates.io/crates/triomphe (which was initially started to remove weak references)

[2019-12-16 15:55] ehuss commented on #67345
I think this is a duplicate of #44687 (RFC 1826 which includes a version selector) and #30062.

[2019-12-16 15:57] SimonSapin commented on #65721
The 1.42 cycle starts soon. Any objection?

@rfcbot fcp merge

[2019-12-16 15:57] jonas-schievink commented on #67345
Closing in favor of https://github.com/rust-lang/rust/issues/30062

[2019-12-16 15:57] #67345 closed

[2019-12-16 16:08] SimonSapin commented on #57581
I don’t see why not.

Tracked here:

[code]

@rfcbot fcp merge

[2019-12-16 16:24] estebank commented on #46948
Misread the context while triaging. Sorry for the noise.

[2019-12-16 16:50] drdeath863 commented on #60896
There are a few missing features if the goal is to emulate `HashMap`'s entry-like functions. The current implementation can't easily spoof `Hash` and `Eq`, and it can't fail gracefully.

Consider the following entry-based `HashMap` code
[code]
Versus the following entry-based `HashSet` code
[code]

In the `HashMap` implementation you can completely spoof `Hash` and `Eq` upon lookup and you do not

[2019-12-16 16:57] cuviper commented on #60896
Note that the `HashMap::raw_entry`[`_mut`] API is still unstable too. The goal here is like plain `entry`.

[2019-12-16 17:06] Kixunil commented on #63292
Fair enough. I don't happen to need it *right now* (I experienced a similar situation as I was describing with some C code before), but I will keep in mind contributing if I happen to need it.

[2019-12-16 17:18] drdeath863 commented on #60896
That is a very good point; spoofing is clearly out of scope.

The ability to fail gracefully, however, _is_ part of `entry`.
[code]
One might expect the following to work:
[code]
It would be much closer to the `entry` feature of `HashMap`, and would allow more flexibility, such as failing gracefully.

[2019-12-16 17:21] mark-i-m opened #67357 "Don't run CI for draft PRs"
I would like to propose that CI should not be run on PRs that are marked as "Drafts" using the Github ["Drafts" feature](https://github.blog/2019-02-14-introducing-draft-pull-requests/).

Run CI wastes resources and produces lots of noisy messages from rust-highfive bot about failing CI.

[2019-12-16 17:22] jonhoo commented on #65721
Should we also add a `assert_matches!` macro at the same time that `Debug`-prints the value if the match fails?

[2019-12-16 17:39] SimonSapin commented on #65721
I personally find that one less useful, but feel free to also propose it in a PR.

[2019-12-16 19:01] estebank commented on #63564
The built-in derive macros do not currently mark their spans with a ctxt. If we did that we could extend the type errors with that information and make it clear where the error is actually coming from.

[2019-12-16 19:19] cuviper commented on #60896
I that will also fall afoul of the concerns about `get_or_insert_with` inserting a value that doesn't actually hash or compare equally. I've opened #67358 for `get_or_insert_owned`, and I'm starting to think the more flexible options should be left to a `HashSet::raw_entry_mut()`, where "raw" indicates the potential for misuse (but not unsafety).

[2019-12-16 19:20] gilescope commented on #61466
This is too old. Can't repro. rustc-ap-arena seems to need raw_vec_internals feature, but after that am getting:
[code]
when doing a clean cargo build --frozen with a may/june compiler. :-(

[2019-12-16 19:52] AlexKornitzer commented on #64340
As I accidentality high-jacked this issue I just wanted to check to see if either of the above address the original issue, and I can confirm this is the case, it is suffering from c link issue and share generics issue.

Building with nightly `--release` we get:
![image](https://user-images.githubusercontent.com/2750747/70937853-ff34d300-203c-11ea-86ca-43c15eb3386a.png)

This leaves us with missing

[2019-12-16 21:28] bjorn3 opened #67360 "[debuginfo] Use byte pos instead of char pos for lineinfo column index"
Context: https://zulip-archive.rust-lang.org/187780tcompilerwgllvm/51206DWARFdebuglinecolumnandutf8.html

This is the same both gcc and clang are using. It is also a bit faster as there is no need to convert the `BytePos` from the `Span` to a `CharPos`.

[2019-12-16 21:30] joshtriplett commented on #67357
It should be possible to explicitly ask for them to run through CI, but it makes sense to not run CI on drafts by default.

[2019-12-16 21:32] sharnoff opened #67361 "Misleading message for [E0392] with associated types of trait bound"
E0392 notifies the user that a type parameter is not being used, but it sometimes falsely identifies parameters as being unused **only when there is already another that is _actually_ unused.** I don't entirely understand expected behavior here, see the bottom for clarification.

For example, the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0eef8d9cbffb0

[2019-12-16 21:39] bjorn3 commented on #67360
@rustbot modify labels: +A-debuginfo

[2019-12-16 21:42] bjorn3 commented on #67360
https://github.com/rust-lang/rust/blob/f0d4b571936d4072ed90ab7750636f68f1443b3e/src/librustc_codegen_llvm/debuginfo/source_loc.rs#L27

The `span_start` is responsible for creating a `CharPos`.

[2019-12-16 22:20] alexcrichton commented on #65987
I'm going to close this because the discussion here is correct in that Rust is correctly not using the WebAssembly `global` construct for global variables. These are correctly placed into linear memory.

Languages like Rust and C have no way of expressing custom WebAssembly globals right now, they'll need to be implemented in the form of intrinsics and postprocessing the wasm module.

[2019-12-16 22:20] #65987 closed

[2019-12-16 22:21] #41993 closed

[2019-12-16 22:21] #51006 closed

[2019-12-16 22:21] #57509 closed

[2019-12-16 22:21] alexcrichton commented on #63629
Thanks for the report, but this is likely a build issue with mruby-sys, and unrelated to rustc's wasm support.

[2019-12-16 22:21] #63629 closed

[2019-12-16 22:22] alexcrichton commented on #63626
I'm going to close this because we are unlikely to change this in the near future to avoid breaking existing code, and further changes can be tracked at https://github.com/WebAssembly/tool-conventions/issues/88

[2019-12-16 22:22] #63626 closed

[2019-12-16 22:22] alexcrichton commented on #62807
I think it's fine to skip this on wasm, so closing since there's no need to track re-enabling.

[2019-12-16 22:22] #62807 closed

[2019-12-16 22:24] alexcrichton commented on #60825
Custom globals are not supported by the WebAssembly target and I believe C/C++ have since been updated to reflect this as well. There's currently no plans to support this, and I'd recommend opening an issue on https://github.com/webassembly/tool-conventions to track how linear-memory languages like Rust/C/C++ will support this if desired.

[2019-12-16 22:24] #60825 closed

[2019-12-16 22:25] alexcrichton commented on #59248
I'm going to close this because the standard library is pretty unlikely to implement this. There's various crates in the ecosystem to do this as well as the wasm32-wasi target, but the bare wasm32-unknown-unknown target is largely defined nowadays as "prints don't work, which isn't that great"

[2019-12-16 22:25] #59248 closed

[2019-12-16 22:26] alexcrichton commented on #58874
The wasm32-unknown-unknown target is panic=abort by default which means that panics "abort" the process, which in this case is a native wasm trap. When the exception handling proposal is implemented we'll integrate with that and provide the ability to run destructors on panics, but at this time the wasm target doesn't support any form of destructors on unwinding.

[2019-12-16 22:26] #58874 closed

[2019-12-16 22:27] alexcrichton commented on #58657
I believe this is a toolchain issue and is inherent to how the object format for wasm modules was unstable at the time this was opened. Tools will eventually settle though and support will be implemented, but this isn't an issue to track in rustc.

[2019-12-16 22:27] #58657 closed

[2019-12-16 22:27] alexcrichton commented on #57897
I'm going to close this because this is something we're pretty unlikely to ever support in wasm.

[2019-12-16 22:27] #57897 closed

[2019-12-16 22:28] alexcrichton commented on #56660
I'm going to close this because tooling for wasm is generally moving towards DWARF nowadays which is supported by rustc. There's some tools in the ecosystem (I think) to convert DWARF to source maps, which should be used if source maps are desired.

[2019-12-16 22:28] #56660 closed

[2019-12-16 22:30] alexcrichton commented on #53083
Quite a few changes have happened to the wasm backend in the meantime since this was opened, so I'm going to close this as "likely fixed"

[2019-12-16 22:30] #53083 closed

[2019-12-16 22:31] alexcrichton commented on #52670
I believe this isn't a bug in rustc so I'm going to close this, the `--relocatable` argument is specific to LLD and if behavior should be changed this should likely be raised with LLD.

[2019-12-16 22:31] #52670 closed

[2019-12-16 22:31] alexcrichton commented on #52578
I think that this is likely an issue with LLD rather than rustc, and it's also seen quite a few changes since this was first opened, so I'm going to close this. This should likely be raised with LLD if it's still an issue.

[2019-12-16 22:31] #52578 closed

[2019-12-16 22:32] alexcrichton commented on #51304
I'm going to close this because it seems sort of unclear on how to reproduce, and lots in the wasm world has changed in the meantime. This was likely caused by version mismatches in tooling and is unlikely to be a rustc issue as well.

[2019-12-16 22:32] #51304 closed

[2019-12-16 22:33] alexcrichton commented on #49709
I'm going to close this since this is an issue with the build configuration, where LLD was needed but wasn't in PATH. I don't think that this is an issue with rustc itself.

[2019-12-16 22:33] #49709 closed

[2019-12-16 22:34] alexcrichton commented on #47599
This is now unlikely to change at this point, so I'm going to close this. We've chosen `"C"` for compatibility with mixing C/Rust in the same module.

[2019-12-16 22:34] #47599 closed

[2019-12-16 22:34] alexcrichton commented on #47023
A pretty huge amount has changed since this was first opened, so I'm going to close this as "pretty likely stale". If it reproduces still though feel free to reopen!

[2019-12-16 22:34] #47023 closed

[2019-12-16 22:35] alexcrichton commented on #46546
A pretty huge amount has changed since this was first opened, and it's clear now that statics don't work as globals in wasm, so this is a construct that isn't supported in the wasm format.

[2019-12-16 22:35] #46546 closed

[2019-12-16 22:35] alexcrichton commented on #46389
I'm going to close this because I believe this has been handled in the meantime with all the changes that have happened since this was first opened.

[2019-12-16 22:35] #46389 closed

[2019-12-16 22:36] alexcrichton commented on #42997
A pretty huge amount has changed since this was first opened, so I'm going to close this as "pretty likely stale". If it reproduces still though feel free to reopen!

[2019-12-16 22:36] #42997 closed

[2019-12-16 22:36] alexcrichton commented on #49877
A pretty huge amount has changed since this was first opened, so I'm going to close this as "pretty likely stale". If it reproduces still though feel free to reopen!

[2019-12-16 22:36] #49877 closed

[2019-12-16 22:36] alexcrichton commented on #45706
A pretty huge amount has changed since this was first opened, so I'm going to close this as "pretty likely stale". If it reproduces still though feel free to reopen!

[2019-12-16 22:36] #45706 closed

[2019-12-16 22:44] nnethercote commented on #64301
At this point I have eliminated most of the worst cases and even those have produced only small wins. I will keep an eye out for additional cases in the future, but I don't think we don't need an issue open for it any more.

[2019-12-16 22:44] #64301 closed

[2019-12-16 22:53] coolreader18 commented on #58874
Ah yeah, thanks, luckily I was able to work around an issue where panics would break the entire application. Do you know of an ETA for unwinding support in `wasm32-unknown-unknown`?

[2019-12-16 22:56] alexcrichton commented on #58874
I'd recommend following https://github.com/WebAssembly/exception-handling which is the standard we'll use once implemented in browsers.

[2019-12-17 00:17] derekdreery opened #67364 "tracking issue for `debug_non_exhaustive` feature"
Feature gate: `#![feature(debug_non_exhaustive)]`

This is a tracking issue for adding the ability to add an ellipsis to the end of the `Debug` representation of a struct, to indicate that the struct has more fields, but that these fields are not displayable. This involves adding the `finish_non_exhaustive` method to `DebugStruct`, that produces output like

[code]

where the `..` indicate that th

[2019-12-17 02:50] kelthuzadx opened #67365 "[Library] Box::new reuses the same heap address for multi allocations"
As the documentation explains, **Box::new will allocate memory on the heap and then place the argument into it**. But it would reuse the same heap address if allocation result is not stored someplace. We can reproduce this scenario by a simple snippet:
[code]
No matter how many times I call test(), the program prints an identical address since I don't store the result beyond the test function, the

[2019-12-17 03:06] Mark-Simulacrum commented on #67365
This is dependent (but quite common to see) on the memory allocator in use, and is not unexpected behavior. If the memory is deallocated (like Box's destructor does at the end of the `test` function), then the next allocation of the same size and (in some cases) on the same thread is quite likely to use the same memory slot in many allocators.

If you're interested in discussing this further, plea

[2019-12-17 03:06] #67365 closed

[2019-12-17 08:32] #61466 closed

[2019-12-17 09:12] retep998 commented on #67306
Does `testlib.lib` actually exist in `D:\project\c\testlib\build`?

[2019-12-17 11:34] matthew-healy commented on #67341
I think I should be able to handle this. Hopefully some time in the next few days.

Am I right in thinking I just do this? @rustbot claim

I've found the documentation style RFC, and some info about what `@T` was, which should hopefully be enough info to improve this comment. 👍 If there's anything else specific I should consider plz let me know.

[2019-12-17 11:40] jonas-schievink opened #67366 "rustdoc does not render some `where` clauses on functions"
For example, the docs for [`pointer::offset`](https://doc.rust-lang.org/std/primitive.pointer.html?search=#method.offset) do not include the `where T: Sized` bound, which is very significant here.

(I could not find any existing issue about this, but there may well be one already since this seems pretty easy to spot)

[2019-12-17 12:37] Mark-Simulacrum commented on #67341
Yes, you can definitely just do this and any questions which come up can be addressed on the (eventual) PR most likely. I imagine it's mostly a matter of just deleting `@T` related documentation; if you want to try and replace it with something more up to date that would be even better.

[2019-12-17 12:51] lzutao opened #67368 "[rustdoc] Add a new doc attribute that hides items from search but allow leave it clickable under publiced module"
In #67346, I wanted to hide HashMap from search under `hash_map` module.
[![https://imgur.com/TkkiEV6.png](https://imgur.com/TkkiEV6.png)](https://imgur.com/TkkiEV6.png)

It could be nice to have a way to
* hide items from search but leave it under other publicized module
* display only one in search for items that is re-publiced in multiplle modules.

[2019-12-17 12:51] lzutao commented on #67368
@rustbot modify labels: T-rustdoc

[2019-12-17 13:26] dd-pardal commented on #50373
This also happens while copying the example `lib.rs` file from [The Rust and WebAssembly Tutorial](https://rustwasm.github.io/docs/book/game-of-life/hello-world.html). This can be fixed by adding `cfg-if = "0.1.10"` to the `[dependencies]` table in `Cargo.toml`.

[2019-12-17 13:27] dd-pardal commented on #27812
For anyone here because of copying the example `lib.rs` file from [The Rust and WebAssembly Tutorial](https://rustwasm.github.io/docs/book/game-of-life/hello-world.html): This can be fixed by adding `cfg-if = "0.1.10"` to the `[dependencies]` table in `Cargo.toml`.

[2019-12-17 14:44] drdeath863 commented on #60896
It seems that the presence of `get_or_insert_with` made me misunderstand the scope of this issue, which supports the notion that it doesn't belong.

[2019-12-17 14:49] omni-viral opened #67369 "Problem with derived `PartialEq`"
When I try to `derive(PartialEq)` for type I get weird compilation error in generated code, but I'm sure it should be fine.

Here's [link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=241952416b5a8d398230303cd85af6ae)

[2019-12-17 15:53] Byter09 opened #67371 "`RangeInclusive` has `pub(crate)` fields. This could be `pub`."
Hello.

I'm currently writing a library that generalizes all ranges and adds a "range set".
`Core`/`Std` compatibility is a must and I want to make the crate "feel" as if it would already be part of them. This, of course, requires `From` implementations for all range types for my `GenericRange<T>`.

All cases, for example `Range<T>` are trivial:
[code]
(note: this requires `PartialOrd`, because up

[2019-12-17 15:59] mark-i-m commented on #67357
It might be a bit heavy-weight, but I think we can already use `bors try` for that.

[2019-12-17 16:09] vertexclique commented on #67191
Will this safety scheme also apply the negative bounds like `!Sync` for structs that are referenced as const? Because currently, that is also an issue and it is [stale for a while](https://github.com/rust-lang/rust/issues/49206).

I assume this kind of bound problem will be triggered before actual control flow checking. Are we going to touch to that parts?

[2019-12-17 16:17] mark-i-m commented on #67357
It looks like Travis, Azure, and Github don't have support for such a feature yet...

[2019-12-17 17:55] Jan561 commented on #54185
I'm not a fan of treating `'static` differently. Consider the following code snippets:

1.) explicit lifetime bound, not static - compiles
[code]
2.) elided lifetime bound, not static - compiles
[code]
3.) explicit lifetime bound, static - compiles
[code]
4.) elided lifetime bound, static - doesn't compile
[code]
5.) elided lifetime bound, static with type alias - compiles again
[code]
Very confus

[2019-12-17 18:07] tmandry commented on #67204
Visiting from triage. @estebank would you be willing to mentor this?

[2019-12-17 18:08] sgrif commented on #56414
There's a similar issue when an item being imported has the same name as the path being used.

[code]

Outputs:

[code]

An import should never be ambiguous with itself.

[2019-12-17 18:10] nikomatsakis commented on #67204
Can we do something really simple like, in 2015 mode, if we see an error at the point where there is an async keyword, not try to parse ahead "properly" but just report a message about async not being part of Rust 2015 right there? I guess one tricky part might be recovery -- ideally we'd skip the body of the function. But I worry that parsing "for real" might cause us to fail recovery anyway, if

[2019-12-17 18:14] nikomatsakis commented on #67204
If we do this in resolve, does this mean that the output would include *both* the parse error and then a "nice" resolve error? If so, I think that's not great. Ideally, we'd produce *just* a nice async error -- but at minimum we should give a nice async error *first*.

That said, I think we could just look for parse errors that occur when parsing some "struct named async" and trigger the nice erro

[2019-12-17 18:15] tmandry commented on #67087
Marking as triaged. We'll revisit this again if we can get a reproducer (feel free to remove the Triaged label at that point).

[2019-12-17 18:20] nikomatsakis commented on #66312
@rfcbot claim

I'll take a look, since @csmoe is finding this to be mighty tricky to track down

[2019-12-17 18:24] estebank commented on #67204
@nikomatsakis I do think that long term there would be value in [consider removing this discrepancy between 2015 and 2019 and make `async` usable in 2015](https://github.com/rust-lang/rust/issues/64286), which would require deprecate `async` as a non-keyword in 2015. That being said, I think that the added parser complexity to handle this as you mention should be small (but every little bit adds u

[2019-12-17 18:27] tmandry commented on #64130
Closing as fixed by https://github.com/rust-lang/rust/pull/64895 and https://github.com/rust-lang/rust/pull/65345.

We'll track any future improvements in new issues.

[2019-12-17 18:27] #64130 closed

[2019-12-17 19:37] MetallicSquid opened #67372 "src/librustc/ty/subst.rs:557: type parameter `T/#0` (T/0) out of range when substituting (root type=Some(T)) substs=[]"
I'm new to this so sorry if I filed this bug incorrectly, but cargo kindly told me to file a report, so I'll do just that.

So I stumbled upon this bug while trying to determine whether an error had occurred by use of a match statement (if you've got any suggestions on how to do that based on the code below, that would be greatly appreciated). Once I ran the code, the following occurred:

[code]
a

[2019-12-17 19:40] jonas-schievink commented on #67372
Thanks for the report! Does this also happen on nightly?

[2019-12-17 19:48] sgrif opened #67373 "Cargo fix generates broken code for type names passed to derives"
When a type is given to a proc macro as a string, such as in https://github.com/diesel-rs/diesel/blob/6e2d467d131030dc0bbce4e4801c7bee7bcbf0dd/diesel/src/type_impls/primitives.rs#L20, `cargo fix --edition` will incorrectly generate `crate::"::old_type::Path"`. If there are nested types inside, such as https://github.com/diesel-rs/diesel/blob/6e2d467d131030dc0bbce4e4801c7bee7bcbf0dd/diesel/src/type

[2019-12-17 19:51] ehuss commented on #67373
Moved to rust-lang/rust, as the fix suggestions are generated by `rustc`.

It might help to include a minimal reproduction, along with details about what the before and after looks like.  Diesel is quite large, and it can be difficult to untangle what is going on from what you linked.

[2019-12-17 20:02] DutchGhost opened #67375 "ICE on unused generic in struct"
The following ICE's in stable, beta and nightly:
[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

Also I noted an `illigal instruction` in the output of how it was compiled. It says so at the verry verry end of this output:
https://pastebin.com/Wd299cWN
or easier to see in this screenshot: http://prntscr.com/qc8252

[2019-12-17 20:11] DutchGhost commented on #67375
A quick look on godbold gives that this ICE's in `1.17`, `1.19`, and from `1.22` including onwards

[2019-12-17 20:12] MetallicSquid commented on #67372
**Unrelated:**

I know no one cares, but I solved my bug. :+1:

[2019-12-17 20:19] MetallicSquid commented on #67372
Sorry, but I don't know how to test whether it happens on nightly. I'm not running nightly.

[2019-12-17 20:22] MetallicSquid commented on #67372
Also, I just realised that my code link isn't correct. Here's what the code was (between line 73 and 81):

[code]

Everything other than the code between line 73 and 81 is the same though.

[2019-12-17 20:23] MetallicSquid commented on #67372
Sorry if that caused any inconvenience.

[2019-12-17 20:34] DutchGhost commented on #67375
The illigal instruction happens when `export RUST_BACKTRACE=1` is set, and cargo is runned with `cargo build -v`

[2019-12-17 20:41] jonas-schievink commented on #67372
Fixed on nightly, closing.

[2019-12-17 20:41] #67372 closed

[2019-12-17 20:45] yoshuawuyts opened #67376 "improve diagnostics for non-send Futures that might be solved by introducing temporary variables"
In https://github.com/http-rs/tide/issues/370 we had a user report that they encountered a `Send` error similar to the ones discussed in https://github.com/rust-lang/rust/issues/64130. Thanks to the diagnostics introduced https://github.com/rust-lang/rust/pull/65345 on nightly we were able to correctly diagnose the root cause of the error.

But for many users this might still not be enough to figu

[2019-12-17 20:58] DutchGhost opened #67377 "invalid syntax (unclosed brace) yields eventual ICE: unexpected ty: [type error]"
The following ICE's on stable, beta and nightly:
[code]

(notice the `{` was NOT closed)

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2019-12-17 21:08] DutchGhost commented on #67377
Oh, this works with other types as well, except the messages are different
[code]

ICE's with:
[code]

[2019-12-17 21:09] DutchGhost commented on #67377
[code]

ICE's with:
[code]

[2019-12-17 21:45] tidux commented on #47518
If we're compiling across multiple machines, https://github.com/distcc/distcc might be a good reference point.

[2019-12-17 22:20] Hippolot opened #67381 "Strange 'expected' and 'found'"
Consider these two examples:
 1) https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1e43b7cb813eeac58982933266b7bdf3
    Error:
[code]

 2) https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=528121c8b1f50ed2c761e9932f7d792a
    Error:
[code]

`expected` in the first example's error message is related to the call's context, but in the second one, it is rela

[2019-12-17 22:27] varkor commented on #39524
@jebrosen: that should be possible — could you open a new issue for this? I'll try to write up some mentoring advice.

[2019-12-17 22:29] GuillaumeGomez commented on #67368
cc @rust-lang/rustdoc

[2019-12-17 22:30] sgrif commented on #67373
Thanks, @ehuss! A minimal reproduction would be this:

[code]

I suspect the problem here is that we are parsing the given string as a type (since that's the only type that could be used to reference a type in a meta attribute), keeping the span of the original string. It appears as though it's just naively putting `crate::` in front of whatever the span points to.

[2019-12-17 22:31] GuillaumeGomez commented on #67368
As for this topic, I have a few options in mind but I think my favorite is:

[code]

[2019-12-17 23:08] memoryruins commented on #67381
Thanks for reporting. This was fixed in #65977

Nightly's current output for `1`
[code]
`1.41.0-nightly 2019-12-16 99b89533d4cdf7682ea4`

[2019-12-17 23:13] jonas-schievink commented on #67381
Closing as fixed.

[2019-12-17 23:13] #67381 closed

[2019-12-17 23:18] Hippolot commented on #67381
Nice!

[2019-12-17 23:33] ehuss commented on #67373
I was thinking of something more along the lines of not using diesel, since there's a lot of machinery there.  Something like this:

[code]

[code]

Results in:

[code]

I think the key part here is that diesel is using `syn` to convert a token from a string to a Type, which is probably confusing `rustc`.   I don't fully understand edition hygiene, so I'll leave it up to someone else to provide mo

[2019-12-17 23:37] ehuss commented on #67373
That's certainly an option, but the code will still be broken (because the string `"::Bar"` is still the wrong path in 2018), so `cargo fix` would still fail.

[2019-12-17 23:56] sgrif commented on #67373
Sure, but IMO leaving broken code is preferable to generating even more broken code

[2019-12-17 23:57] sgrif commented on #67373
I can try to produce a more minimal repro if you'd like -- I opted not to upon reporting because it seems the root cause is pretty clear just from the behavior alone.

[2019-12-18 00:13] cuviper commented on #67369
I simplified your example slightly to `Box`, and also changed to a manual impl, and it still fails:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1b7a9bc7acf54c8928eb872a877a11b0))

[code]

If you change `Foo<dyn Trait>` to `Foo<Trait>`, this can even be reproduced on really old versions of Rust, all the way back to 1.1 -- however Rust 1.0 accepts i

[2019-12-18 00:17] cuviper commented on #67369
It does work generically, even instantiated with the same type:

[code]

[2019-12-18 00:51] samuela opened #67383 "`error[E0588]: packed type cannot transitively contain a [repr(align)] type` does not clarify the transitive `[repr(align)]` type"
I'm currently looking at an error
[code]
which would be fine except that the error message doesn't clarify at all what the problematic transitive dependency is. It would be nice to have a message like
[code]
With sufficiently complex nesting of structs, it can be incredibly tedious to track down which struct is `[repr(align)]` (especially when the offending struct is from an external library).

[2019-12-18 01:18] cuviper commented on #67369
I went nightly-bisecting -- it works on nightly-2015-05-13, and fails on 2015-05-14.

Comparison: https://github.com/rust-lang/rust/compare/c2b30b86df6b34ba19e87e63402e43d9e81a64fb...e5394240a295650b567aa406b4a0e1e3a6749a5f

[code]

That 1.0-compatible test source again:

[code]

[2019-12-18 01:25] Mark-Simulacrum opened #67385 "Implicit jobserver token is yielded by rayon"
Rayon is currently yielding the implicit token "owned" by the process which means we can end up in a situation where e.g. a `-j1` build has more than 1 rustc running (even though only one of them is actively running, but they're all consuming memory and other resources, so this is a bug).

The current intended fix is to stop yielding the implicit token by keeping track of the amount of tokens we'v

[2019-12-18 01:29] cuviper commented on #67369
#24619 is part of that change list, and seems potentially relevant. cc @nrc

[2019-12-18 02:05] memoryruins commented on #67371
It is certainly different from other ranges. #49022 links to some reasons and their respective PRs.
Notably, it mentions the  `RangeInclusive::into_inner` method, which may be what you want here.
https://doc.rust-lang.org/core/ops/struct.RangeInclusive.html#method.into_inner
[code]

[2019-12-18 02:19] estebank opened #67386 "Typos in associated types should receive suggestions based on lev distance"
https://github.com/rust-lang/rust/blob/master/src/test/ui/span/type-binding.stderr should provide a lev distance suggestion for the correct associated type.

[2019-12-18 02:40] jebrosen opened #67387 "(request) Extend `#[must_use]` to Pin"
A type `T` with `#[must_use]` does not imply that `Pin<T>` is `#[must_use]`. This means that there is no hint to `.await` a `Pin<Box<dyn Future>>`, which is one of the current workarounds for the lack of `aysnc fn` in traits. This is used by `async-trait` in its expansion, and in some crates that have traits that "ought to" have `async fn`s.

See also #39524, which would propagate `must_use` "ever

[2019-12-18 05:03] steveklabnik commented on #38354
Triage: i am on windows, so i am not sure if this is a reproduction:

[code]

[2019-12-18 05:11] steveklabnik commented on #38354
I *think* this does it:

[code]

same error. Really should get a linux reproduction before declaring this fixed though.

[2019-12-18 05:16] steveklabnik commented on #38360
Triage: no changes

[2019-12-18 05:16] steveklabnik commented on #48614
Has anyone seen this issue lately? any chance of a smaller reproduction?

[2019-12-18 05:17] steveklabnik commented on #48563
Triage: not aware of any specific changes here, but yeah, I thought the logo url was this.

[2019-12-18 08:35] thomwiggers commented on #54584
Your example doesn't work anymore, because the playground doesn't require `target_feature(enable="avx2")` to compile/run AVX2 code anymore.

[2019-12-18 08:38] Centril commented on #67387
If we do this I'd like to see an attribute `#[rustc_conditional_must_use]` or something to encode things in a less ad-hoc fashion.

[2019-12-18 08:47] gliderkite opened #67390 "const fn for SocketAddr::new, SocketAddrV4::new and SocketAddrV6::new"
This is a tracking issue for adding `const fn` to `SocketAddr::new`, `SocketAddrV4::new` and `SocketAddrV6::new` to be able to initialize the socket address at compile time, for example:

[code]

Open PR: https://github.com/rust-lang/rust/pull/67315

[2019-12-18 09:03] GuillaumeGomez commented on #66909
Sorry, didn't see the notification... If you want to add docs for keyword, you can look here: https://github.com/rust-lang/rust/blob/master/src/libstd/keyword_docs.rs

[2019-12-18 09:42] guanqun commented on #67348
I had this issue, but then I purged the `build` folder and start again, it seem to be fixing this issue. Maybe you can try from scratch.

[2019-12-18 09:51] MSleepyPanda commented on #53984
The above minimzation compiles when using chalk with `rustc foo.rs -Z chalk`

[2019-12-18 10:08] jaseemabid opened #67391 "`Command::new(&path).output()` returns incorrect data when child program segfaults"
When a child program segfaults, I'd expect `.output()` to return an `Err(..)` instead of `Ok(..)`.

Minimal reproduction example:

**segfault.c**:
[code]
**run.rs**:
[code]
I'd expect command's behaviour to match that of executing the program directly.

[code]

This program must exit with a non zero code and report an error instead of silently returning `Ok()` with empty stderr and stdout. `Comman

[2019-12-18 11:04] jonas-schievink commented on #67391
`[1]    89887 segmentation fault (core dumped)  ./a.out` is not printed by the program, it is printed by the shell. Methods on `Command` will only return `Err` if they fail to *spawn* the process, but this is documented. Otherwise there would be no way to obtain the output when the command crashes.

[2019-12-18 11:04] #67391 closed

[2019-12-18 11:07] jonas-schievink commented on #67387
`impl<T: MustUse> MustUse for Pin<T> {}`

[2019-12-18 13:25] Byter09 commented on #67371
@memoryruins Thank you so much. That is exactly what I wanted. I'm so sorry I did not see this.

If this issue is not relevant anymore, I'd close it, but I'm not sure this issue will not come up again in the future. It just looks inconsistent and a comment or an indicator as to _why_ it is not fully public should be added.

[2019-12-18 13:50] oli-obk opened #67395 "Stacked borrow implementation of miri may mistreat statics since they aren't places anymore"
cc @spastorino @RalfJung

The way we represent statics and promoteds in MIR changed from them being an explicit place to them just being a constant that is a reference to the static (https://github.com/rust-lang/rust/pull/67000). Since this was supported before anyway, we remove the special case of statics being referencable both via a `Place` and via a constant.

This change may have broken how s

[2019-12-18 15:33] mauricekayser opened #67399 "Windows DllMain name is exported"
On Windows, Rust exports the name of `DllMain` (`std`) / `_DllMainCRTStartup` (`no_std`), which is not standard behaviour and unwanted in most cases (that I am aware of). [As far as I understand](https://github.com/rust-lang/rust/issues/37530#issuecomment-259799687) this happens because they must be marked with either `#[no_mangle]` or `#[export_name = ".."]` so the `link.exe` can find the symbol.

[2019-12-18 15:45] matthew-healy commented on #65612
@Walther are you still working on this? I wouldn't mind picking it up if not.

(Sorry - not really sure what the etiquette is re: dormant tickets!)

[2019-12-18 15:47] Skasselbard opened #67400 "Missing StorageLive and StorageDead Statements"
It seems that the StorageLive and StorageDead statements are not generated for every local of a function.

I tried this code:
[code]

I expected to see something like this happen:
[code]

Instead, this happened:
[code]

## Meta
`rustc --version --verbose`:
rustc 1.41.0-nightly (25d8a9494 2019-11-29)
binary: rustc
commit-hash: 25d8a9494ca6d77361e47c1505ecf640b168819e
commit-date: 2019-11-29
host: x

[2019-12-18 16:33] vertexclique opened #67401 "typeck can't check too nested impl specialized values under async"
I have a crate that has too deep impl-parameterized traits used with dyn dispatch under async context.
I was running `cargo bench` so opt level was 3. Lowered to 2, didn't work either.
Lowering codegen-units also doesn't prevent ICE.
Code was basically thrown from here:
[code]

ICE output is below:
[code]

[2019-12-18 17:32] estebank commented on #67401
Could you provide a reproduction case?

[2019-12-18 18:06] jdm opened #67403 "fs::copy on Windows has a 260 character filename limit"
It relies on the CopyFileExW Windows API, which has [path limits](https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-copyfileexw#parameters) that yield surprising runtime behaviour. We could opt in to longer path limits (32k instead of 260) by prepending `\?` to the string, according to that same documentation.

[2019-12-18 19:06] retep998 commented on #67403
`CopyFileExW` isn't special in this regard. *All* Rust filesystem code on Windows currently bumps into this limitation, and it's not just as simple as prepending `\\?\`.

[2019-12-18 19:07] jdm commented on #67403
One option might be to document this so it's a little bit less inexplicable to people who don't know the platform details.

[2019-12-18 19:35] DutchGhost opened #67405 "const_if_match ICE"
The following code ICE's on beta and nightly, (notice how I DIDN'T use the ``#![feature(const_if_match)]` feature)
[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2019-12-18 19:46] DutchGhost opened #67407 "ICE: No entry found for key"
The following ICE's on stable only:
[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

Might be related to https://github.com/rust-lang/rust/issues/66742.

[2019-12-18 19:56] cuviper opened #67408 "missing libstdc++-6.dll in beta-x86_64-pc-windows-gnu (1.41.0-beta.1)"
I saw this failure in rayon CI: https://ci.appveyor.com/project/cuviper/rayon/builds/29634901/job/y7h1kc7w9wsusl8r
[code]

I'm on Linux, but I tried this build under Wine:

[code]

It seems @mati865's intention in #65911 was that this should be statically linked, but that was clobbered by #67077 in `src/bootstrap/compile.rs` at least.

The same error occurs on `1.41.0-nightly (3ed3b8bb7 2019-12-17

[2019-12-18 20:39] mati865 commented on #67408
Probably the culprit is here: https://github.com/rust-lang/rust/pull/67077/files#r359557571

[2019-12-18 20:41] mocsy opened #67409 "Trait for is_empty?"
Lots of stuff in std provde pub fn is_empty, shouldn't there be a trait for it?

https://doc.rust-lang.org/nightly/std/collections/struct.HashMap.html#method.is_empty

[2019-12-18 20:52] jonas-schievink commented on #66742
Closing as a duplicate of https://github.com/rust-lang/rust/issues/66487. Please let us know if this still happens on the current nightly.

[2019-12-18 20:52] #66742 closed

[2019-12-18 20:53] jonas-schievink commented on #67407
Closing since this does not happen on nightly.

[2019-12-18 20:53] #67407 closed

[2019-12-18 20:54] jonas-schievink commented on #67409
What would be the use case of abstracting over things that may be empty?

[2019-12-18 21:18] mocsy commented on #67409
I implement is_empty for my types, then skip their serialization entirely if they are empty.
I could write a derive macro for it as long as the type is composed of types which also implement is_empty.

[2019-12-18 21:55] estebank commented on #67405
I believe it might have been introduced by https://github.com/rust-lang/rust/pull/66866

[2019-12-18 22:37] GuillaumeGomez commented on #67295
It seems to be way more complicated than I thought... Apparently, you need the code to be compiled in order to be able to link to it when running tests. However, this first compilation doesn't go through rustdoc at all and therefore, `doctest` isn't used. So unless I'm missing something, we're kinda stuck because it'd mean that we'd have to recompile the current lib by adding the `doctest` feature

[2019-12-18 22:38] Mahdrentys opened #67411 "Forbid certain actions to be performed in certain functions"
Sometimes we don't want certain actions to be performed when we call a specific function. For example, if we write real time stuff like an audio app we don't want allocations to be performed.

So we could have an attribute named `must_not_perform` :

[code]

And an attribute named `performs` which indicates that the function performs this action. So we would add `#[performs(allocation)]` to `Box::

[2019-12-18 22:38] GuillaumeGomez commented on #67295
cc @sunjay (in case you saw something I missed?)

[2019-12-18 22:39] mati865 commented on #67408
As immediate workaround I suggest adding `libstdc++-6.dll` to the PATH, it should be installed on most of the Windows CI.

[2019-12-18 23:10] jonas-schievink commented on #67411
Something like this needs to go through an RFC, so closing in favor of that

[2019-12-18 23:10] #67411 closed

[2019-12-18 23:34] sailfish009 commented on #67348
@guanqun , yes, really it is.

[2019-12-18 23:34] #67348 closed

[2019-12-19 01:56] programmerjake commented on #44995
Can this be given a higher priority, it seems to me like a big gotcha for beginners.

An additional way to fix this might be to track the location where `use` and similar statements should be inserted in blocks, rather than taking the first token of the first post-expansion item. This avoids the need to keep attributes post-expansion.

[2019-12-19 06:18] steveklabnik commented on #46238
triage: @ExpHP how do you feel about this coverage today?

[2019-12-19 06:44] comradeHsu opened #67416 "Why is the degree of BTreeMap equal to 6？"
why not 10 or others?

[2019-12-19 06:51] steveklabnik commented on #67416
please post questions like this to internals.rust-lang.org; we try to keep the bug tracker for bugs only. Thanks!

[2019-12-19 06:51] #67416 closed

[2019-12-19 07:29] hellow554 commented on #67405
This is a regression from stable to beta as well.

[2019-12-19 07:58] oli-obk commented on #67405
Ugh, typeck failing does not mean const eval won't run. I guess we need more `tainted_by_errors` (https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.TypeckTables.html#structfield.tainted_by_errors) checks everywhere.

[2019-12-19 08:53] Apromixately opened #67417 "Cannot sort f64"
The following program does not compile:
[code]
the compiler error is:
[code]

Now, without getting into how this could be implemented - which I don't know anything about - I just wanted to say that this is really bad usability. Plus, the statement that _this programming language cannot sort numbers_ is either insane or funny.

Maybe a possible fix would be a try_sort function which is content with

[2019-12-19 09:09] oli-obk opened #67418 "Split up `astconv.rs`"
That file (https://github.com/rust-lang/rust/blob/dab390683196e31116cb61ccf3eec1a4af729def/src/librustc_typeck/astconv.rs) has almost 3k LOC and just 3 lines of documentation on the file (methods and types are documented though). I'm entirely unsure how to process that file. I think splitting it up into submodules (e.g. start by extracting out all functions just handling error reporting into a sep

[2019-12-19 09:25] sinkuu commented on #67417
[`slice::sort_by` documentaiton](https://doc.rust-lang.org/std/primitive.slice.html#method.sort_by) has an example to sort `f64`.

[2019-12-19 10:18] hellow554 commented on #67417
Hi @Apromixately

it seems that you are a beginner of the Rust language. I want to outline, that this issue tracker is primarily used for bugs in the compiler or standard library, not for questions. There is the users forum at https://users.rust-lang.org

But let me give you a few links, why Rust behaves the way you observe:

https://users.rust-lang.org/t/how-to-sort-a-vec-of-floats/2838

https://

[2019-12-19 12:22] tan-wei commented on #67408
@mati865 Thanks! It works.

[2019-12-19 12:38] jonas-schievink commented on #67417
Yes, this is covered by sort_by, so closing

[2019-12-19 12:38] #67417 closed

[2019-12-19 12:47] Apromixately commented on #67417
@jonas-schievink Yes, the `sort_by` version kind of works but it does not really compose well.
For example, if I have a vector of Person structs that I want to sort by body-mass-index. The imho natural approach would be
[code]
with sort_by this becomes
[code]
or something like this.
Now you could argue that in this particular case I should just give my key function a name, of course. But if `sort_

[2019-12-19 12:49] Apromixately commented on #67417
@hellow554 Well, I consider this a bug or at least an important feature but if there is a better issue tracker for the language standard instead of compiler/stdlib I would be happy to post it there instead.

[2019-12-19 12:51] Apromixately commented on #67417
Oh, and there is https://doc.rust-lang.org/std/primitive.slice.html#method.sort_by_cached_key which does not really work anymore if the output is a float.

[2019-12-19 12:59] hellow554 commented on #67417
As already said, this is **very** intentional, because of various reasons how floats are defined and behave. That's why there is a difference between `PartialOrd` and `Ord`. Rust gives many more guarantees than any other language (I can think of) and this implies floating numbers for example. You can't compare `NaN` with each other (as well as `±Inf`). You have a workaround if you like, for furthe

[2019-12-19 13:06] tspiteri opened #67423 "Cargo.lock created by cargo 1.41.0-beta incompatible with 1.37.0"
If I delete the lock file and generate it with beta 1.41.0, then version 1.37.0 will not be able to parse the lock file. Version 1.38.0 will still be able to parse the lock file.
[code]

[2019-12-19 13:10] tspiteri commented on #67423
Oh, it seems this is expected: https://github.com/rust-lang/cargo/commit/366ae3f7bae7e84f6d0d2f9e31f19b0e19c84f4b

Will this be included in the 1.41 release notes compatibility section?

[2019-12-19 13:16] LeSeulArtichaut commented on #66968
I'd like to try to work on this.

As `foo_bar_baz` is short enough to be caught by the Levenstein distance, I wrote [this example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a895b9c42ea9f4238e5fe8fec4194cf6) for testing:

[code]

[2019-12-19 13:17] LeSeulArtichaut commented on #66968
@rustbot claim

[2019-12-19 13:18] Mark-Simulacrum commented on #67423
cc @XAMPPRocky

[2019-12-19 13:24] XAMPPRocky commented on #67423
@tspiteri Yes, I will include this in the release notes.

[2019-12-19 13:24] TheSamsa commented on #67418
I'll do it, although I am not familiar with the `typeck`.
At least the mechanical part is no problem. As to the model structure, I am going to dive into that issue so I can better think of a reasonable structure.

If it is a problem that I am not familiar with the topic, I will back down, no worries.

[2019-12-19 13:26] Cosmius opened #67424 "rustc paniked when I tried to use GAT"
`rustc` paniked when I tried to use GAT, I didn't know `rustc` does not support it then.
Anyway I think it is not supposed to panic.

I have confirmed with

- version 1.39 on Windows, my PC
- version 1.36 on Linux. https://repl.it/repls/ImpassionedSociableSystems

[code]

It said,

[code]

[2019-12-19 13:39] pnkfelix commented on #67408
triage: P-high, has PR, removing nomination.

[2019-12-19 13:40] Cosmius commented on #67424
Seems a duplicate of #49362 , I did not noticed it when I was opening this issue, sorry.

There is also a small difference that I did not turn on `#![feature(generic_associated_types)]`

[2019-12-19 13:59] pnkfelix commented on #67405
triage: P-high. Leaving nominated.

[2019-12-19 14:04] pnkfelix commented on #67377
Its worth nothing explicitly that:
 1. these ICE's are happening *after* we do issue a diagnostic for the parsing error
 2. If you address the parsing error (presumably in the same manner that the parser is auto-correcting to make further progress), the ICE goes away

[2019-12-19 14:07] pnkfelix commented on #67377
triage: P-medium. Removing nomination.

[2019-12-19 14:10] pnkfelix commented on #67375
triage: P-high, removing nomination.

[2019-12-19 14:10] jethrogb opened #67425 "Remove rustc-dev component from default profile"
The `rustc-dev` component is larger than all other components of the `default` profile combined, yet most users probably don't care about this. I think it should be removed.

Perhaps another profile `default-poweruser` can be made that does include it.

[2019-12-19 14:12] pnkfelix commented on #67331
triage: for now, leaving unprioritized and removing nomination. Please re-nominate for prioritization after you come up with an example we can use to demonstrate the problem.

[2019-12-19 14:17] kinnison commented on #67425
I'd argue that the `complete` profile (which is basically rust devs-only anyway) might be an acceptable place for this, without needing to add a new profile name.  People who want `default` plus `rustc-dev` can just do `rustup toolchain install nightly --profile default --component rustc-dev`

[2019-12-19 14:25] pnkfelix commented on #67227
While I am sympathetic to the annoyance of the lint here, this issue does not seem like a high priority issue for us to address.

triage: P-medium. Leaving nomination label so that we still try to discuss what to do next about it.

[2019-12-19 14:28] pnkfelix commented on #67191
triage: P-high to resolve desired semantics and implementation strategy here. (I don't know what priority to assign to the actual implementation work yet though...)

[2019-12-19 14:42] Apromixately commented on #67417
In case somebody is interested in that discussion: https://users.rust-lang.org/t/cannot-sort-floats/35897

[2019-12-19 14:54] pnkfelix commented on #64340
triage: this has been prioritized as P-high, it sounds like progress is being made (or at least sub-issues like #67276 are being filed), so I'm going to remove the nomination label

[2019-12-19 14:54] #60497 closed

[2019-12-19 14:54] #67341 closed

[2019-12-19 14:54] #67386 closed

[2019-12-19 15:01] Mark-Simulacrum commented on #67425
It was the intent when merging the PR that split the rustc-dev profile out that we would eventually remove it from the default set. I believe this is already true on beta (and perhaps stable as of later today?).

I would accept a PR at this point that removes rustc-dev component from the default set on nightly as well.

[2019-12-19 15:14] Ploppz opened #67427 "Irrelevant error caused by illegal blanket impl"
I have a minimal example, using stable rustc 1.39.0:

`Cargo.toml`:
[code]

`main.rs`:
[code]

It yields this weird error:
[code]

Whereas the real error is `impl<'a, T: Deserialize<'a>> FromResp for T`. If I remove that impl block, it's all fine.

[2019-12-19 15:28] oli-obk commented on #67418
That's awesome. Please wait until https://github.com/rust-lang/rust/pull/67268 is merged though (you can subscribe to it so you see when it does get merged), because otherwise you'll just get loads of conflicts.

[2019-12-19 15:28] oli-obk commented on #67418
If you are unsure about the module structure, you can first post a design suggestion here if you want.

[2019-12-19 15:32] nikomatsakis commented on #67068
I think the survey results settle it for me -- I wouldn't want to deprecate the error codes without some convincing replacement (but I think there are lots of plausible things). I'm also remembering various times (e.g., future incompatibility etc) where it's been great to be able to give more context in the `--explain`.

(I still prefer the idea of 'longer messages that are given in place', myself

[2019-12-19 15:34] Mark-Simulacrum commented on #67068
I tend to agree here that we've reached the rough conclusion that we cannot just remove them. With that in mind, I'm going to close this issue, though if someone wants to reopen and use this as a place to try and come up with a reworked plan to move forward, please do so -- I don't have the bandwidth for that myself right now.

[2019-12-19 15:34] #67068 closed

[2019-12-19 15:35] oli-obk commented on #67191
No, this PR is not about any kind of changes to the way constants by themselves behave. This is solely about the question whether any used constant should cause an error, even if that use is in dead code. Though there's also the question as to what kind of dead code we look at. E.g. is

[code]

a use? If yes, is

[code]

a use?

or

[code]

I don't understand the questoin. Can you give an example?

[2019-12-19 15:38] Centril commented on #67191
(According to https://github.com/rust-lang/rust/issues/67191#issuecomment-565270786 it would be yes, yes, and no.)

[2019-12-19 15:44] michaelwoerister commented on #58633
There is a way of dealing with side-effects in the incremental system. We use such a solution for diagnostics. It could probably be expanded to unused-attributes if there is no cleaner approach.

[2019-12-19 15:45] oli-obk commented on #67191
Note that there were examples where it wasn't `const_err` that was being relied on, but that a `const FOO: ! = panic!();` being used in live code will abort compilation, even if an optimization decides that code is irrelevant because using a ZST constant is essentially a NOP

[2019-12-19 15:50] eddyb commented on #66962
`TooGeneric` shouldn't really cause an error, it should be silent and simply leave the constant unevaluated (until a later situation in which the const parameter is replaced with an actual value).

[2019-12-19 16:00] pnkfelix commented on #67405
discussed in T-compiler meeting. Downgrading to P-medium

[2019-12-19 16:12] HeroicKatora commented on #64762
It also gets confused if the export happens via a glob, also on a single item.

[code]

[2019-12-19 17:23] kevincox opened #67431 "Line numbers are truncated in diagnostics."
Some, but not all, diagnostics are truncating the line number to 2 digits.

Can we remove this truncation? It makes the most visible location for line numbers basically useless.

<pre><font color="#FF6B6B"><b>error[E0560]</b></font><b>: struct `game::Table` has no field named `artifacts`</b>
 <font color="#729FCF"><b>--&gt; </b></font>src/game.rs:1452:4
  <font color="#729FCF"><b>|</b></font>
<fon

[2019-12-19 17:27] kevincox commented on #67431
Note that some diagnostics output the line number correctly:

<pre><font color="#FF6B6B"><b>error[E0063]</b></font><b>: missing fields `happiness`, `sanity` in initializer of `game::Game`</b>
    <font color="#729FCF"><b>--&gt; </b></font>src/game.rs:1492:18
     <font color="#729FCF"><b>|</b></font>
<font color="#729FCF"><b>1492</b></font> <font color="#729FCF"><b>| </b></font>        let mut gam

[2019-12-19 17:28] Mark-Simulacrum commented on #67431
cc @estebank

Do you happen to have a more minimal example?

[2019-12-19 17:33] kevincox commented on #67431
I tried reproducing on the playground with no luck. I'll see if I can get a minimal example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=47795d540db43935a85384ea7dc91249.

`cargo build` is enough to reproduce on my project.

[2019-12-19 17:47] Amanieu commented on #54710
`#[allow_internal_unstable]` now accepts a list of feature gates, so this can be closed.

[2019-12-19 17:47] #54710 closed

[2019-12-19 17:55] estebank commented on #67431
What version are you on?

[2019-12-19 17:58] kevincox commented on #67431
I'm AFK but have been updating between nightlies for a couple of months with be same issue. I'll update with the exact version when I get the chance.

[2019-12-19 18:38] matthew-healy commented on #65612
Just saw that @Walther's PR (#65848) lapsed. I'm gonna claim this, if that's okay. Will work on something based on the existing comment there.

@rustbot claim

[2019-12-19 19:11] sunjay commented on #67295
@GuillaumeGomez I'm not familiar with this stuff at all, but I guess we'd have to do something similar to what we do for `#[cfg(test)]` then? We would need to compile the crate with `cfg(test)` and then with `cfg(doctest)`. Then we can run each with their respective versions of the crate. This seems like a reasonable approach. Is it difficult to implement?

[My original issue](https://github.com/r

[2019-12-19 19:25] ExpHP commented on #46238
The coverage is still extremely poor.

Checking today, tests currently exist for double trailing commas in only two places in the grammar:

* [Generic declarations](https://github.com/rust-lang/rust/blob/0de96d37fbcc54978458c18f5067cd9817669bc8/src/test/ui/issues/issue-20616-3.rs)
* [`#[cfg_attr()]`'s support for multiple attributes.](https://github.com/rust-lang/rust/blob/master/src/test/ui/condi

[2019-12-19 19:40] binarycrusader commented on #67408
Sadly, that didn't work for me:

"The procedure entry point _ZNSt13__future_base12_Result_baseC2Ev could not be located in the dynamic link library C:\Users\xxxxx\.rustup\toolchains\nightly-x86_64-pc-windows-gnu\bin\rustc_driver-3aaebb9b017b7498.dll."

Just posting as an FYI, not expecting a solution

[2019-12-19 20:10] wesleywiser commented on #67431
I believe this was fixed the day after that nightly (see https://github.com/rust-lang/rust/issues/65001).

[2019-12-19 20:11] estebank commented on #67431
@kevincox could you `rustup update` to a newer nightly (or stable) to verify whether this is indeed the same issue which has been already fixed?

[2019-12-19 20:14] kevincox commented on #67431
Ah, PEBKAC. I didn't realize that I had pinned an exact version of nightly for that directory. I've updated and the issue doesn't appear to be occurring anymore.

[2019-12-19 20:14] #67431 closed

[2019-12-19 20:17] MSxDOS commented on #67399
I think the main issue here is that `#[no_mangle]` also exports the function instead of just demangling it which is unexpected and unintuitive. As it seems, the only solution we currently have is to use a custom empty [DEF file](https://docs.microsoft.com/en-us/cpp/build/reference/def-specify-module-definition-file?view=vs-2019). Note that even then the MSVC linker will still create an empty expor

[2019-12-19 20:32] Walther commented on #65612
Thank you for picking this up! Getting things fixed is the important thing, and I'm sure I'll find something else to fix in the near future when I have more time 🙂

[2019-12-19 20:59] ssomers opened #67438 "BTreeMap::iter_mut asserts on coarsely aligned keys"
`thread 'main' panicked at 'assertion failed: mem::size_of::<NodeHeader<K, V>>() == mem::size_of::<NodeHeader<K, V, K>>()', src\liballoc\collections\btree\node.rs:612:13` is the result of this code [on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cc7b5145603a4c44fad9fd7f0374b34f) and elsewhere:

[code]

There is no problem with ordinary u64 or u128 keys (both

[2019-12-19 21:59] slightlyoutofphase commented on #48533
Currently (and they might have always) those _do_ generate identical assembly when you actually call them in a program. [Playground link to demonstrate.](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=447e307bc4576a82a750ab4b3bbfbce8)

[2019-12-20 00:36] Gilgamesh22 commented on #44034
I would love to have this future to solve the PyO3 add_wrapped requirement.
https://github.com/PyO3/pyo3

[2019-12-20 01:18] estebank commented on #61405
I can't think of an example off the top of my head, and we don't really do this heavy text wrangling for suggestions much because it is very error prone.

[2019-12-20 01:53] 9999years opened #67441 "Tracking issue for const `Option` functions"
Current candidates with `feature = const_option`:

[code]

See also the meta-tracking issue for const fns, #57563.

Blocked on:
- https://github.com/rust-lang/rust/issues/57349
- https://github.com/rust-lang/rust/issues/83164

Also see the corresponding `Result` tracking issue: https://github.com/rust-lang/rust/issues/82814.

[2019-12-20 03:43] sfackler commented on #67438
cc @RalfJung - this assert was added in https://github.com/rust-lang/rust/pull/56648

[2019-12-20 03:54] CJKay commented on #29633
I wouldn't write it off so easily - it could provide a neat way to inject "kernel" arguments through interfaces like semihosting, which could prove very useful for doing automated testing of embedded software. You could always just `main(0, &[core::ptr::null()] as *const *const u8);` if you don't have a use for them.

[2019-12-20 05:00] comex commented on #29633
True, but even if you do want the entry point to have arguments, there's no reason to force it to have those exact argument types.  On the other hand, it *is* useful to diagnose when the user gets the type wrong by accident.  Perhaps having a `#[start]` of the "wrong" type should be a lint instead of a hard error?

[2019-12-20 05:24] steveklabnik commented on #39541
Triage: there's been some work on some stuff like this recently, I think?

[2019-12-20 05:32] cole-miller opened #67444 "Compiler panic on running clippy-driver"
I've just upgraded (with rustup) to rustc 1.40.0, and I'm getting a compiler panic when running `clippy-driver`:

[code]

This happens whether or not I run it from a directory containing a `Cargo.toml`. `cargo clippy` works as expected. Let me know if some additional information would be helpful.

[2019-12-20 06:47] est31 commented on #39541
@steveklabnik Yeah I'd say this issue is resolved in favour of #60988

[2019-12-20 07:41] oli-obk commented on #66753
So... we have three situations afaict:

1. `struct` without explicit `Drop` impl, a `!Copy` field is moved out of (this is the `(Vec<T>,)` case)
2. `!Copy` field of `enum` variant is moved out of (this is the `Some` case)
3. the `None` case. Even *after* drop elaboriation, we still execute `Drop::drop` for the enum in the `None` case. Well, actually, even after our entire optimization pipeline, we

[2019-12-20 07:58] Lokathor commented on #29633
@CJKay I don't understand your point at all. No Rust code calls to `main` on the GBA, nor does Rust have any useful place to return to, so the signature should be `main() -> !`. That's not necessarily correct for all contexts, that's just what it should be for GBA. It probably varies by target, but we could probably narrow it to a handful of signatures to select from or just not limit the signatur

[2019-12-20 08:45] youngtrashbag opened #67446 "No Warning after forgetting last Semicolon"
### No Warning about forgetting last Semicolon
So I was writing a simple "hello world" file, and I noticed, that the code compiled without any warnings or errors, even though I had no semicolon on the last line. Now I don't know wether this is supposed to happen or not, but I think it might should be fixed.

### Here is the code:
[code]

### Then I did:
1. `rustc hello-world.rs`
2. `./hello-world.

[2019-12-20 09:00] Dylan-DPC commented on #14462
This looks to be resolved. Thanks :)

[2019-12-20 09:00] #14462 closed

[2019-12-20 09:12] sdroege opened #67447 "RELEASES.md on stable branch still at 1.39.0"
See https://github.com/rust-lang/rust/blob/stable/RELEASES.md

The same is also the case for the 1.40.0 tag but you probably don't want to re-tag for that.

[2019-12-20 09:18] Dylan-DPC commented on #14462
This one looks resolved. Thanks

[2019-12-20 09:20] GuillaumeGomez commented on #15823
Seems to be working now so closing.

[2019-12-20 09:41] Dylan-DPC commented on #27709
@little-dude you can send a stabilisation PR that stabilises the functions / module and then we can see what's missing or left to be done.

[2019-12-20 09:52] memoryruins commented on #67446
`fn main` in the above expects an unit type to be returned, and printing returns an unit type, which makes the lack of semicolon fine. https://doc.rust-lang.org/std/primitive.unit.html

[2019-12-20 09:56] Centril commented on #67446
Closing as by-design with @memoryruins's rationale.

[2019-12-20 09:56] #67446 closed

[2019-12-20 10:11] Centril commented on #67387
@jonas-schievink's idea seems like an elegant way to afford users a lot of flexibility while also limiting (and reducing) the overall compiler complexity cost. It would still require some user intervention, but it seems well balanced.

cc @oli-obk -- I assume we'd use roughly the following impl strategy:

1. Introduce `#[rustc_diagnostic_item = "must_use_trait"] trait MustUse {}` in `std::hint` or

[2019-12-20 10:12] little-dude commented on #27709
@Dylan-DPC I did already: https://github.com/rust-lang/rust/pull/66584

[2019-12-20 10:17] oli-obk commented on #67387
At that point we can make `#[must_use]` for types to just expand to

[code]

Wrt marker types: Should `MustUse` leak from `impl Trait` returning methods just like `Send` and `Sync`?

[2019-12-20 10:29] Centril commented on #67387
If we use expansion, we need to think about `#[must_use]` on `trait` and `fn` definitions as well. For `trait`s we should expand to `MustUse for dyn TheTrait` but we cannot do that for `MustUse for impl TheTrait` so we might need to expand to some other rustc-internal attribute or do something else. For `fn`s we have a similar but bigger problem (since it's about function calls, not merely using t

[2019-12-20 10:36] Centril commented on #67424
cc https://github.com/rust-lang/rust/pull/67160 & @matthewjasper

[2019-12-20 11:21] Centril commented on #66934
Marking as P-high as this is the last blocker for stabilizing `#![feature(slice_patterns)]`.

[2019-12-20 11:38] steveklabnik commented on #39541
Ah yes, that's the issue, thank you for finding it!

If anyone objects, please let me know, but I believe this is a duplicate of that.

[2019-12-20 11:38] #39541 closed

[2019-12-20 12:24] Mark-Simulacrum commented on #67447
I don't currently anticipate that we'll be changing anything here. However, I would like to update the release process documentation with a reminder to include release notes when promoting beta to stable (potentially from master), so leaving this open and assigning to me.

[2019-12-20 12:29] GuillaumeGomez commented on #67295
It needs to be done on cargo then. I had a discussion with @ehuss about this and they told me that it could be a big burden on performances. So To be debated...

[2019-12-20 12:43] sdroege commented on #67447
Ok, then maybe the "compatibility notes" link at the bottom of https://blog.rust-lang.org/2019/12/19/Rust-1.40.0.html should be updated to point to master at least :)

[2019-12-20 12:53] qnighy commented on #67446
Although it's totally valid, I'd expect some clippy lint for this kind of code.

[2019-12-20 12:55] Centril commented on #67446
Rust is an expression language, and so I think there's nothing wrong with the code above. I would personally be against a Clippy lint unless it's a pedantic one.

[2019-12-20 12:55] ljedrz commented on #64297
I'd like to take a stab at this.

[2019-12-20 13:33] Mark-Simulacrum commented on #67447
Updated that link.

[2019-12-20 14:07] pnkfelix commented on #67118
I just replicated the problem, and confirmed that it is fixed by PR #67020.

Thank you so much for tracking this down to such a nice example.

[2019-12-20 14:08] pnkfelix commented on #67118
closing as duplicate of #59535

[2019-12-20 14:08] #67118 closed

[2019-12-20 14:30] #51872 closed

[2019-12-20 14:30] #65635 closed

[2019-12-20 14:30] #67277 closed

[2019-12-20 14:41] ksangabriel opened #67452 "#[non_exhaustive] not working for Binary (application)"
I am trying out the new features in 1.40.0 but could not get the expected behavior for `#[non_exhaustive]`. I am expecting compilation errors but got none.

[code]

![image](https://user-images.githubusercontent.com/754968/71262077-d2a0f400-2379-11ea-88e2-1b106ae410fa.png)

Build via CLI

![image](https://user-images.githubusercontent.com/754968/71262259-3e835c80-237a-11ea-9b9b-bcf5ecfa6098.png)

[2019-12-20 14:55] jonas-schievink commented on #67452
`#[non_exhaustive]` has no effect inside the defining crate. See https://doc.rust-lang.org/reference/attributes/type_system.html#the-non_exhaustive-attribute

[2019-12-20 14:55] #67452 closed

[2019-12-20 15:33] ignatenkobrain opened #67533 "--cap-lints=warn are "ignored" in RUSTDOCFLAGS"
**Problem**

I am trying to package async-std crates for Fedora and that includes running tests for them. I learned that they fail because `#![feature(async_await)]` is used. We are passing `--cap-lints=warn` in RUSTFLAGS, but that seems to be not enough. I have tried setting RUSTDOCFLAGS to pass this argument, but that does not seem to be respected.

[code]

**Steps**

1. Grab async-std tarball f

[2019-12-20 15:39] MaikKlein opened #67453 "Static variables are not exported in wasm"
Repro https://github.com/EmbarkStudios/missing-symbols `rustc 1.40.0 (73528e339 2019-12-16)
`
[code]
`cargo build --release --target wasm32-unknown-unknown`, the resulting wasm file doesn't have the symbol `FOO`.

[code]
But if we compile with `-C link-dead-code`, the symbol is correctly exported in the wasm file.

`RUSTFLAGS="-C link-dead-code" cargo build --release --target wasm32-unknown-unknow

[2019-12-20 15:56] infinity0 commented on #67167
@jrtc27 sylvestre the Debian LLVM maintainer [reports](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=946874#12) that applying this patch directly on top of LLVM 9 causes this build failure:

[code]
[code]

[2019-12-20 16:16] fengalin opened #67454 "Increase in compilation times with newest beta & nightly"
## Description

This was initially reported in https://github.com/Marwes/combine/issues/278.

I hit an important increase in compilation times on beta & nightly with a
particular configuration using `combine-3.8.1` since the recent version updates
in the Rust toolchains.

I tried building an example without `combine` in order to submit it to `rustc`
but it turns out not to be trivial. I ran into t

[2019-12-20 16:19] jrtc27 commented on #67167
Replace all instances of `Register` with `unsigned` in the patch (even in the context parts of the diff, as that's currently fuzz). 9 branched before that mass-refactoring happened.

[2019-12-20 16:22] Skepfyr commented on #66145
This lint doesn't trigger for boxed slices, #59878 suggests it probably should. Is this intentional?

[2019-12-20 16:51] sdroege commented on #67454
Thanks to cargo-bisect-rustc, the first nightly with the regression is nightly-2019-12-14. nightly-2019-12-13 was still working fine.

[2019-12-20 16:53] sdroege commented on #67454
I.e. somewhere between 3eeb8d4f2fbae0bb1c587d00b5abeaf938da47f4 and ff15e9670843f8bd6b54ab1b042d2095b4c0aa6d

[2019-12-20 16:58] sdroege commented on #67454
And we have a winner:

[...]
searched toolchains 3eeb8d4f2fbae0bb1c587d00b5abeaf938da47f4 through ff15e9670843f8bd6b54ab1b042d2095b4c0aa6d
regression in 9409c208a9a70eb6194c7502979843f42d6fed1a

[2019-12-20 16:58] DutchGhost opened #67456 "Tracking issue for const slice::from_raw_parts_mut (const_slice_from_raw_parts_mut)"
Make `slice::from_raw_parts` and `slice::from_raw_parts_mut` a const fn available under a feature flag.
This would require a change in the `ptr` module as well, as slice module just forwards to it.

`slice::from_raw_parts[mut]` is used in alot of places (e.g `slice::from_ref[mut]`, which would get one step closer into constification if `slice::from_raw_parts[mut]` is a const fn.

Here is a little

[2019-12-20 17:02] pnkfelix commented on #66530
hmm. I nonetheless see an ICE on my own Linux machine.

(There is probably some other reason the ICE does not replicate on the playpen.)

[2019-12-20 17:28] dfoxfranke opened #67457 "Example CondVar code should explicitly drop the MutexGuard after it's done with it"
At the very end of  https://github.com/rust-lang/rust/blob/6b561b4917e803c4be4ca44d8e552b680cb9e380/src/libstd/sync/condvar.rs#L89-L110 and in all similar examples elsewhere in the file, there should be a `std::mem::drop(started)` call. Leaving a condition variable's mutex held after we're no longer watching it will block and possibly deadlock notifier threads.

[2019-12-20 17:38] dfoxfranke commented on #67457
Real-world example where this bit me: in the main thread of my program, I was waiting on a condition variable and then calling `runtime.shutdown_now().wait().unwrap()`, with `runtime` being a tokio runtime. The condition variable was set by a SIGTERM signal handler. Worked fine, *unless* the program got two back-to-back signals without the main thread waking up in between. In that case, the second

[2019-12-20 18:04] LeSeulArtichaut commented on #66968
@estebank I'm thinking about the priority of the different possible matches. I tend to think that a match found by levenstein distance should have a greater priority, but what do you think?

[2019-12-20 18:10] vertexclique commented on #67191
@oli-obk

This answers my question actually:

I wanted to know that `const FOO: ! = panic!();` the condition will cause abort or not? because that is control flow checking and in type manner, this is purely correct. And tbh someone might want to deref this in their code? Is this unsound?

[2019-12-20 18:54] GuillaumeGomez commented on #38360
Closing on the meantime since we don't intend to add it for the moment. Maybe it'll be done when we'll have another JS front-end based on the rustdoc multiple output formats.

[2019-12-20 18:54] #38360 closed

[2019-12-20 19:43] #50021 closed

[2019-12-20 19:43] #56309 closed

[2019-12-20 19:43] #63562 closed

[2019-12-20 19:43] #66923 closed

[2019-12-20 19:47] estebank commented on #50055
I believe we no longer suggest `'_` anywhere, but we do still use it in some output.

This ticket will be closed once we:

* When encountering `'_` in a definition, we provide a structured suggestion to add a named lifetime in the appropriate place
* When encountering a definition with a missing lifetime in an ADT definition we provide a structured suggestion to add a named lifetime

[2019-12-20 19:56] nnethercote commented on #67331
#67454 has a reproducer for this regression.

[2019-12-20 19:57] nnethercote commented on #67454
Thanks for the report! I'm about to go on vacation for 6 weeks, so I will file a PR to back out #66405 before I go.

[2019-12-20 20:07] matthewjasper commented on #64490
The initial implementation PRs (#64588, #66671) for this are now merged and will be available from the next nightly.

It does: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7b0161f073236977f626102b9f3de81d

[2019-12-20 20:10] jbg commented on #67331
Thank goodness, I spent a few hours trying to figure out what was triggering it here but didn't get anywhere. I'll close this as a dupe of #67454 since there's nothing here that isn't also on the other issue, and the other issue has much more useful detail.

[2019-12-20 20:10] #67331 closed

[2019-12-20 20:14] GuillaumeGomez opened #67461 "[rustdoc] weird behavior when pressing ESC on search results"

[2019-12-20 20:42] estebank commented on #66968
@LeSeulArtichaut it's tricky. I feel that your instinct might be right but we'd only know when looking at real world usage. The nice thing is that the lev distance check by its very nature it is limited, so doing the swapped words check as a fallback should work out ok in practice.

[2019-12-20 21:47] antoneliasson commented on #20866
Thanks for generating the offline ebooks! Your epub lacks the "ferrises" in the code boxes and some words are hyphenated in strange ways, but otherwise it looks great and is perfectly usable! I've so far enjoyed about the first quarter of it.

The PDF on the other hand has a few major problems. Some code boxes are completely missing content (e.g. page 22, pages 74-80). In at least one place a big

[2019-12-20 22:07] oli-obk opened #67465 "Promoted values are not validated"
The program below creates a promoted in a constant via

[code]

but immediately casts this to a raw pointer. Now having weird values behind raw pointers is fine, but we have an intermediate reference to an invalid value. I don't understand how this compiles considering that the promoted is essentially

[code]

Apparently we don't validate promoteds. I think we are allowed to fix this and validate

[2019-12-20 22:20] oli-obk commented on #53275
It would be great if someone could test this on a recent rustc and if it still fails, try to minimize it

[2019-12-20 23:08] sdroege commented on #67454
Thanks, and enjoy your holidays!

[2019-12-20 23:11] ralfbiedert commented on #53275
I had to [update a few files ](https://github.com/ralfbiedert/ffsvm-rust/tree/STILL_ICE)to make it "compile" again, but I still get an ICE with a recent `rustc 1.41.0-nightly (c8ea4ace9 2019-12-14)`:

[code]

[2019-12-20 23:27] estebank commented on #51669
Current output:

[code]

[2019-12-20 23:27] #51669 closed

[2019-12-20 23:34] estebank commented on #52901
Current output:

[code]

[2019-12-20 23:34] #52901 closed

[2019-12-20 23:37] oli-obk commented on #53275
Awesome! thanks for the quick work.

[2019-12-20 23:37] estebank commented on #53965
Current output:

[code]

[code]

[2019-12-20 23:37] #53965 closed

[2019-12-20 23:49] Veykril opened #67468 "Importing 'arrayvec' into a module of a project breaks specific rust code from compiling"
A friend and I just discovered a weird behaviour in a project when just using arrayvec via a use statement. It compiles fine unless we explicitly use an item of `arrayvec` via a use statement. These items don't have to be used for this bug to occur, only the import matters in any single module in the project to prevent the compilation(this import can even be in a different module than the `>` chec

[2019-12-21 00:02] cuviper commented on #67468
It's probably the `PartialOrd<ArrayString<A>> for str` -- otherwise `std` only has `PartialOrd<str> for str`, so the compiler knows what type to force. (There are a bunch of `PartialEq<_> for str` though.)

[2019-12-21 00:06] #59535 closed

[2019-12-21 00:11] Veykril commented on #67468
Ye it seems to be that implementation, then I assume this isn't unexpected behaviour after all? At least it makes sense as to why this fails then.

[2019-12-21 00:19] wildbook commented on #67468
Would that mean that adding a `use` statement to a library should be treated as a possibly breaking change? That doesn't sound too good.

[2019-12-21 00:40] GuillaumeGomez opened #67470 "[rustdoc] Remove clean Mutability type if unnecessary"
As discussed here: https://github.com/rust-lang/rust/pull/67355#discussion_r360351226

[2019-12-21 04:16] cloew opened #67472 "Rustup installer flagged for malware"
I tried to install [rustup](https://www.rust-lang.org/tools/install) and it was flagged by Windows Defender. I tried installing anyway and Avast stopped the installation because it tried to install some malware (APEX somethin, I forget the name).

[2019-12-21 04:18] #66500 closed

[2019-12-21 04:18] #66638 closed

[2019-12-21 04:18] #66891 closed

[2019-12-21 04:18] #65180 closed

[2019-12-21 04:51] memoryruins commented on #67472
Can you post the report by avast and/or defender?

[2019-12-21 04:59] cloew commented on #67472
The Threat it detected was IDP.ARES.Generic

Trying to see if I can find more information.

[2019-12-21 05:20] pnkfelix commented on #66501
I've figured out a way to eliminate the ICE, but I do not think my code has the desired semantics. That is, I would imagine we would want this to be accepted:

[code]

but my current draft code rejects the above as non-exhaustive.

On the other hand, that *does* match the current behavior of the compiler, for better or for worse.

[2019-12-21 05:26] pnkfelix commented on #66501
This was not a stable reduction; on the current nightly, the above length-zero ZST array is accepted with no ICE, while the original length-one ZST array still causes an ICE.

[2019-12-21 05:28] pnkfelix commented on #66501
Yet another fun variation on the test:

[code]

yields:

[code]

[2019-12-21 06:00] crlf0710 opened #67473 "Potential lifetime bug"
[code]
Currently this code compiles, but i think the `foo_b` function should not, because B is actually using X in a contravariant way, and rustc should not establish that `X: 'x` from the presence of `&'x B<X>`

[2019-12-21 06:15] jaseemabid commented on #67391
@jonas-schievink It might be documented, but the behaviour is a bit counter intuitive. The `Result<>` in the return type hints that all errors would be propagated up, but seems like that's not the case.

[2019-12-21 06:18] digama0 opened #67475 "ICE "break to unknown label" when referring to label in closure"
[code]
reports:

    error: internal compiler error: src/librustc/middle/liveness.rs:1109: break to unknown label
     --> src/main.rs:3:16
      |
    3 |     (|| loop { break 'a })()
      |                ^^^^^^^^

    thread 'rustc' panicked at 'Box<Any>', src/librustc_errors/lib.rs:778:9

This is probably a matter for rfcs, but I would like the above code to work. It seems like it should be p

[2019-12-21 06:29] rchaser53 opened #67477 "rustc-ap-rustc_session version 633.0.0 build failed"
reproducible repository: https://github.com/rchaser53/failed-build-rustc-ap-rustc_session-633
build result in CI: https://travis-ci.org/rchaser53/failed-build-rustc-ap-rustc_session-633/builds/628023861?utm_medium=notification&utm_source=github_status

I checked rustc-ap-rustc session version 633.0.0 on my local PC. There is no rustc_private attribute in lib.rs of rustc-ap-rustc_session. I think i

[2019-12-21 09:27] oli-obk commented on #66501
The reason it exists is that we don't want to unpack a multi megabyte byte string you may have gotten from `include_bytes!`. That would be super inefficient and likely just cause an out of memory abort.

The reason why I believe we should also do this optimization for other types is that you can easily transmute a multi megabyte byte string to another array type in a constant, and then you have th

[2019-12-21 09:28] oli-obk commented on #66501
Btw, https://github.com/rust-lang/rust/pull/67192 addresses a few of the ICEs around this

[2019-12-21 10:37] jonas-schievink commented on #67472
Duplicate of https://github.com/rust-lang/rust/issues/56815 and https://github.com/rust-lang/rustup/issues/1568

[2019-12-21 10:37] #67472 closed

[2019-12-21 10:38] pnkfelix commented on #67165
Closing as non actionable

[2019-12-21 10:38] #67165 closed

[2019-12-21 11:03] rchaser53 commented on #67477
All error messages are like below.
[code]

[2019-12-21 11:29] Cogitri opened #67481 "Rustc SIGSEGVing on musl on big packages (e.g. gtk-rs)"
Backtrace:

[code]

This happens occassionally on both Alpine Linux and Void Linux musl, I'd say maybe every 4th time something is compiled with it. Not quite sure how to pin this down further.

[2019-12-21 11:33] panstromek commented on #67068
I think it's worth adding that intellij-rust uses error codes in helper messages and create clickable links to error-index from them.

![image](https://user-images.githubusercontent.com/25121817/71307246-c5245200-23eb-11ea-8c64-6b816805e6fd.png)

They also use them to track progress of their analysis: https://github.com/intellij-rust/intellij-rust/issues/886

I'd also add that error code is more r

[2019-12-21 12:24] GuillaumeGomez commented on #67068
What we had in mind was something similar to error codes like identifier such as "invalid-lifetime" or equivalent.

[2019-12-21 12:31] LukasKalbertodt commented on #66145
Currently it's intentional because this lint is only about arrays. But it seems reasonable to me to also lint for `Box<[T]>`, but probably as a new lint and not as `array_into_iter`. Furthermore, the lint doesn't fire for `Box<[T; N]>` which it should. I will try to prepare two PRs fixing those two things soon.

[2019-12-21 12:32] panstromek commented on #67068
@GuillaumeGomez I see, that's indeed a better idea ;)

[2019-12-21 13:09] Centril commented on #67453
cc @japaric @alexcrichton

[2019-12-21 13:14] Centril commented on #67418
@rustbot assign @TheSamsa

[2019-12-21 13:21] matthiaskrgr opened #67483 "link failure on nightly, windows"
Since `rustc 1.42.0-nightly (01a46509a 2019-12-20)` I'm getting link failures on travis ci that did not occur previously (`rustc 1.42.0-nightly (0de96d37f 2019-12-19)`)
https://travis-ci.org/matthiaskrgr/cargo-cache/jobs/628012845#L195

[code]

I'm wondering if this is related to https://github.com/rust-lang/rust/pull/67020

Edit: travis config can be found here: https://github.com/matthiaskrgr/ca

[2019-12-21 13:33] Mark-Simulacrum commented on #67483
cc @michaelwoerister @pnkfelix

Given our desire to keep nightly working over the holidays if we confirm it is indeed this PR and do not have a fix in the pipeline I will work on reverting it today/tomorrow.

[2019-12-21 13:38] Mark-Simulacrum commented on #67483
@matthiaskrgr informs me that this appears only broken on Travis, and one of the symbols in the log is repeatedly mentioned in https://github.com/rust-lang/rust/issues/47048 which leads me to suspect that it's a change in the environment rather than a bug on our side, so I withdraw my eagerness to revert at least until we have more information.

[2019-12-21 13:50] Centril commented on #67473
cc @matthewjasper @nikomatsakis

[2019-12-21 13:52] Centril commented on #67475
Already fixed on beta & nightly.

[2019-12-21 13:52] #67475 closed

[2019-12-21 13:52] Centril commented on #67477
cc @Mark-Simulacrum

[2019-12-21 14:16] tesuji opened #67484 "Missed optimization on array construction from fixed size byte array"
godbolt link: https://rust.godbolt.org/z/MNuq-K

I have two snippets which I expect they have the same assembly:

[code]

and

[code]

The non-optimal one has this output:

[code]

Which should be:

[code]

[2019-12-21 14:17] Mark-Simulacrum commented on #67477
I expect this to be fixed in the next publish. The auto publish script looks for `\n#![feature(` to inject the rustc_private feature; the first version of the crate had only one feature (so no such string was present) but as of 83fc600a28044f8384bbce437c3251620f869254 there are now two, so it should fix itself. Since this is "fixed" on master I'm going to close.

[2019-12-21 14:17] #67477 closed

[2019-12-21 14:21] #63396 closed

[2019-12-21 14:21] #65257 closed

[2019-12-21 14:46] Centril commented on #54883
On 2019-12-21, https://github.com/rust-lang/rust/issues/67311, written by @Centril and reviewed by @matthewjasper, landed. This PR adjusted regionck's `resolve_local::is_binding_pat` such that the `P&` grammar includes or-patterns.

[2019-12-21 15:13] Centril opened #67488 "[mir-opt] Simplify `SwitchInt`s of explictly written ranges to range tests"
Consider the program:
[code]

We will generate the following `SwitchInt`:

[code]

Ostensibly, something like this would be more profitable:

[code]

This is the code you get from the range pattern `0..=4`.

cc @wesleywiser @oli-obk

[2019-12-21 15:18] oli-obk commented on #67488
If there are multiple patterns it's not quite as simple.

[code]

will generate

[code]

which will need multiple `switchInt`

Or we teach `switchInt` to actually understand ranges, not sure that would translate to llvm in any reasonable way.

[2019-12-21 16:12] Mark-Simulacrum commented on #67409
I'm going to close this as I don't believe we'd be interested in such an abstraction. It's not too hard to implement yourself, and it's unclear what emptiness exactly means. If it's "is the iterator of this type empty" then that is better asked via `.next().is_none()` or so (on the first call) -- and indeed there's also https://github.com/rust-lang/rust/issues/35428.

Generally speaking "emptiness

[2019-12-21 16:12] #67409 closed

[2019-12-21 16:15] Mark-Simulacrum commented on #67447
Closing. I've added a note to our documentation in rust-lang/rust-forge@16d0f8428db4ed09d5b27071968de2b9342e1ecc.

[2019-12-21 16:15] #67447 closed

[2019-12-21 16:17] Mark-Simulacrum commented on #67468
This is expected behavior, in the sense that inference breakage is allowed, but the arravec crate likely wants to not have that impl (instead only having the unambiguous form which does not overlap with std's types).

Closing.

[2019-12-21 16:17] #67468 closed

[2019-12-21 16:34] Mark-Simulacrum commented on #67228
I suspect that directly using NonNull here is much better than an assume inside NonNull::as_ptr; assume often has poor interactions with LLVM's optimizer (especially when frequently inserted, as it would be with e.g., NonNull::as_ptr).

I would personally accept a PR that fixes this assuming that the code is improved by such a change and benchmarks do not regress.

[2019-12-21 17:16] #66692 closed

[2019-12-21 17:17] Mark-Simulacrum commented on #66518
Closing as we've "eaten" this at this point as it's landed into stable.

[2019-12-21 17:17] #66518 closed

[2019-12-21 17:19] Mark-Simulacrum opened #67492 "Crater runs for Rust 1.41.0"

[2019-12-21 17:20] mati865 commented on #67483
I also think something has changed in Travis environment or dependencies. Can you try running old nightly in the Travis?

[2019-12-21 17:25] Mark-Simulacrum commented on #67492
@craterbot run name=beta-1.41-1 start=1.40.0 end=beta-2019-12-18 mode=build-and-test cap-lints=warn p=10

[2019-12-21 17:25] Mark-Simulacrum commented on #67492
@craterbot run name=beta-1.41-rustdoc-1 start=1.40.0 end=beta-2019-12-18 mode=rustdoc cap-lints=warn p=5

[2019-12-21 17:27] Mark-Simulacrum commented on #67483
Oh, I forgot to make a note here. @matthiaskrgr confirmed on Discord that both nightlies (today's and yesterday's) fail on Travis with the current travis environment, so something changed there. This is then not strictly a bug on our side (or at least is a duplicate of #47048 I expect), so closing.

[2019-12-21 17:27] #67483 closed

[2019-12-21 17:35] #34426 closed

[2019-12-21 17:35] #58311 closed

[2019-12-21 17:35] #64310 closed

[2019-12-21 17:35] #66934 closed

[2019-12-21 17:56] Mark-Simulacrum commented on #27812
As of latest stable (1.40), we no longer ship the rustc-dev component by default, and as of https://github.com/rust-lang/rust/pull/67469, the same is true for nightly. We could now plausibly stop shipping the rustc-dev component onto stable and beta, which would effectively make all compiler-internal crates unstable (and unavailable by default).

However, I expect we'll still want to keep the rust

[2019-12-21 18:51] rossmacarthur opened #67496 "Remove use of `issue = "0"` in submodules (stdarch, cargo, and rustfmt)"
With #41260 resolved, `issue = "0"` in unstable attributes is disallowed in the compiler because `issue = "none"` should be used instead. However, some submodules haven't been updated to use this yet.

- [x] stdarch (submodule not updated yet)
- [x] cargo (submodule updated in https://github.com/rust-lang/rust/pull/67661)
- [x] rustfmt (submodule not updated yet)

Once this is done the code in `sr

[2019-12-21 19:31] csmoe commented on #67473
It's invariant(=`covariant ^ contravariant`) if I'm right, not contravariant.

[2019-12-21 19:44] dignifiedquire opened #67497 "Switching to opt-level=z on i686-windows-mvsc triggers STATUS_ACCESS_VIOLATION"
I have a crate which compiles and tests fine, but as soon as I switch `opt-level=z` it triggers `STATUS_ACCESS_VIOLATION` in some tests, but only on the windows targets. Tested on

- nightly-2019-11-06
- nightly-2019-12-20

The corresponding log outputs can be found here https://ci.appveyor.com/project/dignifiedquire/deltachat-core-rust/builds/29699168
and the code https://github.com/deltachat/del

[2019-12-21 20:01] matthewjasper opened #67498 "ICE from higher ranked subtyping"
The following code ICEs

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=169cdb4aaa19abce2baa2b45e876f797

[2019-12-21 21:07] dignifiedquire commented on #67497
Tested on windows x86_64, no issues present

[2019-12-21 21:09] c410-f3r commented on #64260
It's been sometime since the PR implementation.
Is there anything preventing stabilization? If not, I can write a stabilization report for this feature.

[2019-12-21 21:58] varkor commented on #64260
@c410-f3r: the names were only decided upon quite recently. It was decided that we would wait a few versions before deciding to stabilise: https://github.com/rust-lang/rfcs/pull/2757#issuecomment-564683344.

[2019-12-21 22:06] jhpratt commented on #66993
I'd be interested in trying to fix this if anyone could point me in the right direction. I have looked at some compiler code before, but never really hacked any of it.

[2019-12-22 00:10] #47206 closed

[2019-12-22 00:10] #49362 closed

[2019-12-22 00:10] #62521 closed

[2019-12-22 00:10] #63300 closed

[2019-12-22 00:10] #64755 closed

[2019-12-22 00:10] #67089 closed

[2019-12-22 00:10] #67371 closed

[2019-12-22 00:10] #67425 closed

[2019-12-22 00:43] CJKay commented on #52200
Any update on this? It triggers on every cast where you need the address as `usize`:

[code]

[2019-12-22 00:49] Mark-Simulacrum commented on #64224
I think the first example with try/catch is a bit misleading. `std::panic::catch_unwind` essentially implements something like the `try_run` function [here](https://cpp.godbolt.org/z/MJG_wq). This generates assembly that is relatively similar to the Rust assembly.

One notable difference between try/catch and std::panic::catch_unwind is that the first provides an option to not actually capture the

[2019-12-22 01:18] Mark-Simulacrum commented on #63826
You'll likely want to ask on users.rust-lang.org or internals.rust-lang.org; this is not the right place for general help (unlike those locations); so closing, since there is no bug here.

[2019-12-22 01:18] #63826 closed

[2019-12-22 01:19] Mark-Simulacrum commented on #63578
Closing as it appears that this is not an issue for Rust. Thanks!

[2019-12-22 01:19] #63578 closed

[2019-12-22 01:20] Mark-Simulacrum commented on #63073
Yes, this does not seem like a good fit for std, as in particular there is not too much advantage in placing it there (and certainly I imagine there are some open questions in the design space, e.g., should we return the allocated size for a container, the usable size, or the used size?)

[2019-12-22 01:28] Mark-Simulacrum commented on #62836
I believe we provide the necessary guarantees (in particular, @gnzlbg's note around `u8` guaranteeing to be 8 bits, mem::size_of returning 1 for u8...). I don't think our docs should be improved here, though if someone has specific ideas, we would happy to consider a PR. I am against a constant for the number of bits per byte, since that seems not too useful to have in std (and any library/file ca

[2019-12-22 01:28] #62836 closed

[2019-12-22 01:45] Mark-Simulacrum commented on #62502
Given Error::backtrace and Backtrace, it's pretty clear that doing this would need something akin to an RFC -- we need to decide how to expose Backtrace to no_std users: an opaque blob, always an empty backtrace, or something else?

Given that, closing.

[2019-12-22 02:50] Mark-Simulacrum commented on #62397
Remaining (removable) cases in our test cases are removed in https://github.com/rust-lang/rust/pull/67507. I also filed https://github.com/NuxiNL/cloudabi/issues/18 upstream to suggest fixing the CloudABI piece; I don't think we should keep this open once #67507 lands as the CloudABI issue *must* be fixed upstream (the file says "don't edit").

[2019-12-22 03:26] #66929 closed

[2019-12-22 03:26] #67128 closed

[2019-12-22 06:00] m-ou-se commented on #62397
I've updated [the upstream `cloudabi.rs`](https://github.com/NuxiNL/cloudabi/blob/master/rust/cloudabi.rs) to fix this problem, and also include the other changes that were made in the `rust` repository (`#[non_exhaustive]`, and using `*mut` instead of `&mut` for output parameters).

[2019-12-22 06:29] jumbatm commented on #67240
Nice - It looks like this has already been fixed :+1:

[2019-12-22 09:24] matthewjasper commented on #67424
This should be fixed in the next nightly

[2019-12-22 09:31] matthewjasper opened #67509 "Pretty printing loses associated type generics and where clauses"
The following code:

[code]

is pretty printed as

[code]

This presumably also affects procedural macros.

[2019-12-22 09:37] matthewjasper opened #67510 "Allow generic associate types in trait paths"
The following code should be accepted:

[code]

[2019-12-22 09:37] SchrodingerZhu opened #67511 "Segment fault when compiling assembly"
Compile a asm block with `=m` will lead the compiler to seg fault. I think if there is any error with the code, the compiler should indicate it rather than run into segment fault.
[code]
Error
[code]

[2019-12-22 09:40] matthewjasper opened #67512 "Generic associated types can shadow lifetimes"
The following code is incorrectly permitted

[code]

[2019-12-22 09:53] matthewjasper opened #67513 "Implement type- and const-generic associated types"
The compiler errors for the following code:

[code]

This is due to the compiler having no way to represent the implicit `for<T: Sized> Y<T>: Sized` bound on the trait. Some things that would need to be fixed before this can happen are:

- The handling of bound and placeholder types and constants in the compiler needs to be reviewed.
- There needs to be a way to represent traits bounds on bound ty

[2019-12-22 09:57] matthewjasper commented on #44265
This is now blocked on

- [ ] #30472
- [ ] #67509
- [ ] #67510
- [ ] #67512
- [ ] #67513

[2019-12-22 10:07] csmoe commented on #67511
Duplicate of https://github.com/rust-lang/rust/issues/29722

[2019-12-22 10:07] #67511 closed

[2019-12-22 10:11] #67146 closed

[2019-12-22 10:11] #41260 closed

[2019-12-22 10:11] #66434 closed

[2019-12-22 10:11] #67408 closed

[2019-12-22 10:11] #62522 closed

[2019-12-22 10:43] Patryk27 opened #67514 "Crash with `or_patterns` in irrefutable match"
Hi,

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7f5700418482bd32f35f760dc7a2a006))

... crashes on nightly with:
[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

It doesn't crash on current stable and beta, but it may be because they ignore the feature flag.

[2019-12-22 11:10] GuillaumeGomez commented on #60200
Fixed.

[2019-12-22 11:10] #60200 closed

[2019-12-22 11:21] RalfJung commented on #55422
Or alternatively we could deprecate `ManuallyDrop::drop` and rename it to `ManuallyDrop::drop_unchecked`.

[2019-12-22 11:23] EleanorNB opened #67515 "Compiler doesn't check for collisions in trait methods"
(This is my first time reporting an issue, so sorry if I get something wrong. This is just something I didn't expect to see.)

The following program compiles and runs without errors or warnings:
[code]

The trait bound in `problem()` leads to a collision of the two `twin()`s, but this isn't detected unless I actually try to call one of them, even when methods from both traits are used. I don't kno

[2019-12-22 11:25] RalfJung commented on #67395
Looks like Miri's test suite still works fine...

I think what'll happen is that the embedded const pointers end up calling [`static_base_ptr`](https://github.com/rust-lang/miri/blob/a7809bfb0e3e8efc3e08740f387ed2543bbfb150/src/stacked_borrows.rs#L189), which is exactly what we want: they count as "root pointers", and those (for statics) have [`SharedReadWrite` permission](https://github.com/rust-

[2019-12-22 11:29] RalfJung commented on #67395
Wait, https://github.com/rust-lang/rust/pull/67000 didn't land yet, so what is the current status?

[2019-12-22 11:32] RalfJung commented on #67465
So with the new promotion-as-consts scheme, what does that code "desugar" to?

[2019-12-22 11:40] petertodd commented on #55422
@RalfJung So counter-argument to my "it should be clear" argument: How many people who are unfamiliar with `ManuallyDrop` read it and think "ah, drop flags!"?

[2019-12-22 11:49] oli-obk commented on #67395
#67000 is for promoteds. statics have already landed

[2019-12-22 11:50] oli-obk commented on #67465
before promotion as consts:

[code]

after promotion as consts

[code]

[2019-12-22 11:52] RalfJung commented on #67395
Oh I see. Do you have a PR reference for that?

[2019-12-22 11:54] RalfJung commented on #67465
Thanks. I agree in both of these cases we *should* do validation and consider this an error.

[2019-12-22 12:00] ldm0 opened #67517 "How to use custom-build rustc to build WebAssembly?"
I tried to use compiled rustc to compile webassembly but failed. I add custom build rustc to toolchain and tried to add `wasm32-unknown-unknown` target but get error message below:
[code]
It seems that custom toolchain don't support components adding. And I can't find any related issue and document, even rustc-guide doesn't mention it. Could someone give me a hint?

[2019-12-22 12:11] jonas-schievink commented on #67517
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-12-22 12:11] jonas-schievink commented on #67517
You can also try asking on internals.rust-lang.org

[2019-12-22 12:11] #67517 closed

[2019-12-22 12:13] LeSeulArtichaut commented on #66968
Releasing my assignment, as I am not sure to be able to commit.
In case someone want to take on this, here is the function that should be modified.
https://github.com/rust-lang/rust/blob/ae1b871cca56613b1af1a5121dd24ac810ff4b89/src/libsyntax/util/lev_distance.rs#L46-L82
@rustbot release-assignment

[2019-12-22 12:14] jonas-schievink commented on #67515
This is expected behavior. Ambiguous method calls can be disambiguated using the fully-qualified `<Type as Trait>::method()` syntax.

[2019-12-22 12:14] #67515 closed

[2019-12-22 12:15] mocsy commented on #67515
This is ambiguity rather than collision, you need to disambiguate which one you'd like to call.
Here you disambiguate the two implementations, because there is no method overloading in rust (or you could say this is it).
[code]

Usually having the Trait you want to use is enough to disambiguate the use.
Consider this error in one of my tests:
[code]

In case both of them are in scope, you can use

[2019-12-22 12:35] oli-obk commented on #67395
https://github.com/rust-lang/rust/pull/66587

[2019-12-22 12:37] RalfJung commented on #67465
Hm, actually, thinking about it again... if we didn't do promotion in that `const`, we'd not show any error. So I am not entirely sure if we really should show an error just because promotion happened?  That would mean promoting more things can make compilation fail, which promotion explicitly does *not* want to happen.

Also, right now validity check rejects some things that are not *necessarily*

[2019-12-22 12:38] oli-obk commented on #67465
We'll do this in a PR that does nothing else but this change. @spastorino already made the choice to not validate explicit in https://github.com/rust-lang/rust/pull/67000/files#diff-e0b58bb6712edaa8595ad7237542c958R622, so a PR fixing this issue will just remove the bail out and the comment

[2019-12-22 12:40] RalfJung commented on #67395
How can that have landed without touching `interpret` at all...? There was a case somewhere there for `Static` places, right?

Oh I guess that still exists for promoteds?

[2019-12-22 12:41] RalfJung commented on #67395
Hm no, there's still this:

https://github.com/rust-lang/rust/blob/3982d3514efbb65b3efac6bb006b3fa496d16663/src/librustc_mir/interpret/place.rs#L625

[2019-12-22 12:42] oli-obk commented on #67395
Yea all of these are dead code to be removed by #67000

[2019-12-22 12:45] RalfJung commented on #67465
I have no idea what you just said but whatever.^^ That link just goes to the top of the diff, not any specific part of it.

[2019-12-22 12:46] oli-obk commented on #67465
Promotion in *runtime* code may not fail compilation. Promotion in constants should fail compilation imo because it's explicit promotion because you are in a const context

[2019-12-22 12:47] RalfJung commented on #67465
My argument was that it's seems to become kind of arbitrary when we do validation (even inside CTFE context) and when not -- suddenly that depends on details like what exactly promotion is doing. Not sure if that's good. It's certainly entirely random from a user's perspective: some CTFE code that causes UB through invalid values will work fine, other code will cause validation errrors.

[2019-12-22 12:48] RalfJung commented on #67395
Well let's get back to this issue then once #67000 lands. Clearly right now everything is a mess.^^

[2019-12-22 12:59] lukaslueg opened #67520 "Tracking issue for const `Result`"
Feature `const_result` makes `is_ok()`, `is_err()` and `as_ref()` const. AFAICS the other methods take ownership or can't be const as of now for other reasons.

Part of PR #67494

[2019-12-22 13:05] lukaslueg opened #67521 "Tracking issue for const `alloc::Layout`"
Feature `const_alloc_layout` makes these methods on `Layout` const:

[code]

Making more methods of `alloc::Layout` const allows computing alignment/size information for arbitrary (sized) types at compile-time. While `mem::size_of` and `mem::align_of` are already const and `Layout` is solely based on those, there is no guarantee that a const derived from these functions will be exactly the same as

[2019-12-22 13:18] oli-obk commented on #67465
Hmm... that's true. ok, so the current strategy of not validating promoteds makes sense and we can revisit the question later (or make validating promoteds just a lint)

[2019-12-22 13:22] Centril opened #67523 "Audit & Harden `run-pass` tests for `#![feature(bindings_after_at)]`"
The feature `bindings_after_at` which allows for `x @ Some(y)` patterns, is implemented in https://github.com/rust-lang/rust/pull/66296. The PR doesn't have as good coverage of the dynamic semantics as we might like. Once the PR lands, we should try to improve things before we stabilize the feature.

Notable tests to include:

- [x] Dynamic drop (https://github.com/rust-lang/rust/pull/69810)

cc @

[2019-12-22 13:54] RalfJung commented on #67395
Also I think it might be better to move this to the Miri repo. This is specifically about the Stacked Borrows implementation, which we track there. So I'll move it if I can.

[2019-12-22 14:08] Mark-Simulacrum commented on #60822
I would like to close this issue. We have https://github.com/rust-lang/reference/issues/348 open to document the exact guarantees around drop and panicking, and it seems like that would be the place for this; I agree with others on this thread that I don't really see how one could assume that initiating drop twice in any way (whether it be due to unwinding or otherwise) is safe.

Specifically, any

[2019-12-22 14:25] Dylan-DPC commented on #32129
This is fixed, closing it. Thanks :)

[2019-12-22 15:07] XOSplicer commented on #54038
The provided code example still does not compile successfully with rustc 1.40.0

[2019-12-22 15:26] Dylan-DPC commented on #34827
#61137

[2019-12-22 15:29] bjorn3 opened #67529 "Miscompilation with -Zmir-opt-level=2"
Derived from https://github.com/rust-lang/rust/blob/26286c7ad0e8a5efc1e6a8ef88ffd64723112ae8/src/test/ui/dynamically-sized-types/dst-field-align.rs

[code]

[code]

---

[code]

[code]

This issue has been assigned to @jumbatm via [this comment](https://github.com/rust-lang/rust/issues/67529#issuecomment-570098515).

[2019-12-22 15:33] bjorn3 commented on #67529
It works with `rustc 1.42.0-nightly (0de96d37f 2019-12-19)`. (at least for cg_clif)

[2019-12-22 15:38] bjorn3 commented on #67529
<details>

<summary>Mir of the second example</summary>

[code]

</details>

[2019-12-22 15:42] bjorn3 commented on #67529
@rustbot modify labels: +A-mir +C-bug

[2019-12-22 16:33] matthiaskrgr opened #67530 "llvm error checking proc-macro2 with -Zmir-opt-level=3"
repro:
[code]
crash:
[code]

[code]

[2019-12-22 16:46] Mark-Simulacrum commented on #60599
I'm going to close this since this is intentional (and somewhat unavoidable) given current constraints; I suspect that a move to gimli or similar would be a fairly large refactor which would likely touch this anyway and as such cleanup the direct malloc/free calls.

[2019-12-22 16:46] #60599 closed

[2019-12-22 16:58] Dylan-DPC commented on #32837
@japaric any update on this?

[2019-12-22 17:18] retep998 commented on #67472
Smartscreen is not the same as Windows Defender, so technically not a duplicate. But this also isn't an actionable issue on Rust's side.

[2019-12-22 17:19] RalfJung commented on #63292
@xfix @CAD97 good catch!

I'd say the "bad thing" that happens here is that a "bad value" is written into the `Rc` -- one that doesn't match the type signature expected by all people with references to this `Rc` instance.

For the docs, I think we could explain this. But if you think that is too complicated, I'm also fine saying something like "to be safe, make sure this is the only `Rc`" or so. B

[2019-12-22 17:42] eclipseo commented on #67295
The following is not working, I'm wondering if this is caused by the present bug of if I'm not using cfg(doctest) as intended?

[code]

[2019-12-22 17:47] estebank commented on #32129
@Dylan-DPC I don't think it was (unless the nightly docs haven't been updated with the fix yet). In the [`String::split`](https://doc.rust-lang.org/nightly/std/string/struct.String.html#method.split) section, if you click on [`DoubleEndedIterator`](https://doc.rust-lang.org/nightly/std/string/iter/trait.DoubleEndedIterator.html) you end up in a 404.

[2019-12-22 17:51] sunjay commented on #67295
@eclipseo That's because of this bug. The cfg currently only works while collecting tests to run. It does not affect compilation in the way you'd expect.

[2019-12-22 18:01] Ralith commented on #62529
I think I hit this in https://github.com/Ralith/hecs/pull/20:

[code]
selecting `Binder(<[closure@src/world.rs:10:5: 10:26] as std::ops::FnMut<(hecs::Entity, &bool)>>)` during codegen

[2019-12-22 18:13] tema3210 commented on #60062
If we had pin_cell in std then it could look like:

[code]

[2019-12-22 18:57] ehuss commented on #67533
Transferred to `rust-lang/rust`, as this seems to be an issue with `rustdoc --test` doesn't propagate `--cap-lints` to the tests.

[2019-12-22 19:19] ehuss commented on #32129
It might be useful to have a tracking issue for all of the causes of broken links (maybe reuse this one?), because there are dozens of broken links, and I think some are for different reasons.  It'd be nice to have a goal to remove the linkchecker whitelist.  I'd guess most of them are waiting for intra-rustdoc-links to handle all the appropriate scenarios?  It's not really clear what needs to be

[2019-12-22 19:31] oli-obk opened #67534 "Promotion creates invalid constants that are never used in invalid ways"
Namely, we can have promoteds with interior mutable types but in an immutable allocation.
#67000 makes this explicit by introducing the `ignore_interior_mut_in_const_validation` field on the const interner.

We should instead rewrite such promoteds to just contain the parts of the promoted that is accessed. So

[code]

currently produces

[code]

And we should be producing

[code]

This is definit

[2019-12-22 19:40] varkor opened #67535 "Confusing diagnostic when attempting to implementing trait for tuple"
[code]
produces:
[code]
Notice how it highlights `std::ops::AddAssign` and says `this is not defined in the current crate because tuples are always foreign`, despite `AddAssign` have nothing to do with tuples.

[2019-12-22 19:55] RalfJung commented on #67534
Also see [this Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/promoteds.20are.20not.20places).

I am still not 100% of the soundness of this -- the UB in code like [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e4d683463eb85f63a74cef59a7aaf8a3) relies on subtle and unstable details of current Stacked Borrows. In oth

[2019-12-22 20:02] oli-obk commented on #67534
I *think* it would be fine, but I feel like the motivation to do so is weak. This is completely sane from a user perspective, and feels like the zero cost magic that Rust gives us.

[2019-12-22 20:04] oli-obk commented on #67534
[this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8b03a52507a050aecf75acc4db0b2952) is the more realistic example that I would expect to see out there.

[2019-12-22 20:05] pepyakin opened #67537 "ICE on parallel nightly with -Zthreads=64"
I tried to build [substrate](https://github.com/paritytech/substrate) at 5dece712a on a high cpu count machine with `nightly-2019-12-18` (aka the one with enabled parallelism). I had `RUSTFLAGS` set to `-Zthreads=64`. First time it completed successfully and on the second time I got this panic:

[code]

[2019-12-22 20:06] RalfJung commented on #67534
I can't see anything sane about this from any perspective.^^ "This seems fine" is how we got ourselves in lots of trouble with promotion...

The burden of motivation is on whoever writes an RFC to add support for this to rustc, IMO. That this didn't happen is an accident.

[2019-12-22 20:15] RalfJung commented on #67534
I also don't think "this is unsound in all but our most complex Rust semantics" is a pretty strong motivation for *not* doing this. ;)

[2019-12-22 20:36] oli-obk commented on #67534
This didn't happen by accident, this is entirely by design afaict (cc @eddyb). Though I'm not sure how much of that was RFCed. Implicit promotion is definitely not our proudest moment in RFCing and stabilizing.

[2019-12-22 21:15] antifuchs opened #67539 "rustc endless loop on some constant casts"
I bisected nightlies to figure out when my [pull request's tests](https://github.com/antifuchs/nonzero_ext/pull/7) started breaking on nightly. The following is the template `cargo-bisect-rustc` gave me.

# Regression found in the compiler

searched nightlies: from nightly-2019-10-01 to nightly-2019-12-22
regressed nightly: nightly-2019-11-20
searched commits: from https://github.com/rust-lang/rus

[2019-12-22 21:25] antifuchs commented on #67539
Here's a playground link that better illustrates the failure. It builds with `stable`, but loops endlessly on `nightly`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eb03f3a6297979be89be032bbb558d38

[2019-12-22 21:26] antifuchs commented on #67539
(Never mind that the code is wrong: casting a negative number to `usize` is pretty messed up and seems to work only by chance; however, having the compiler endless-loop is suboptimal) (:

[2019-12-22 21:40] antifuchs commented on #67539
Reduced further to https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1ca768b40e5cb223899e540c4c5dab4a (:

[2019-12-22 21:57] oli-obk commented on #66332
While it would be easy to dump the entire query stack instead of just the last part, the output can contain very surprising things that may confuse even more and its root will change arbitrarily between runs (especially with a parallel compiler). You could have the situation where rerunning the same program would tell you a different root cause with every rerun.

[2019-12-22 22:04] estebank commented on #67535
The change needs to be made somewhere in the logic of

https://github.com/rust-lang/rust/blob/0d2817a439c2ad9fe343f6347eb6d90947893363/src/librustc_typeck/coherence/orphan.rs#L39-L80

[2019-12-22 22:25] oli-obk commented on #67539
similar "endless" loop: https://github.com/rust-lang/rust/issues/63952

The problem here is that you have an overflow essentially giving you `let _ = [(); usize::max_value()];`, which... const prop will then try to turn into a constant

cc @wesleywiser

[2019-12-22 22:32] oli-obk commented on #67539
for arrays of zsts we can solve this, but if you used `u8` we'd actually need to allocate and do some operations. Maybe we should make mir building for repeat expressions not have its own [`Rvalue` variant](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/enum.Rvalue.html#variant.Repeat) but instead just convert `[X; N]` to MIR of the following form

[code]

[2019-12-22 22:38] #67470 closed

[2019-12-22 22:38] #62303 closed

[2019-12-22 22:39] rust-highfive opened #67541 "`clippy-driver` no longer builds after rust-lang/rust#67532"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67532, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-12-22 22:39] rust-highfive opened #67542 "`miri` no longer builds after rust-lang/rust#67532"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67532, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating for compiler team

[2019-12-22 23:21] derekdreery opened #67544 "In the lexer, accept number suffixes that start with `e`."
Currently, the lexer will reject tokens like `1.0etest` expecting an exponent after the `e`. It could alternatively accept this token as `LitFloat { value: 1.0, suffix: "etest" }`. This would mean that proc macros could use suffixes that start with an `e` (although not the suffix `e` itself of course).

[2019-12-22 23:28] wesleywiser commented on #67539
I thought this might have been fixed by #66394, but because it's a ZST, it doesn't trigger that logic. It would probably be easy to extend that logic to include large arrays of ZSTs.

[2019-12-22 23:29] oli-obk commented on #54038
This is basically https://github.com/rust-lang/rust/issues/43408

`Self` is an implicit generic parameter in `impl` blocks

[2019-12-22 23:31] derekdreery commented on #67544
To go even further, if the lexer could not find an exponent after the `e`, it could return `LitFloat { suffix: "e", .. }` although personally I think this could produce confusing diagnostics.

[2019-12-22 23:32] oli-obk commented on #67539
While we could fix this just for const prop, we'd still have the same problem in const eval, so we should consider a general solution.

[2019-12-22 23:34] varkor commented on #67514
This affects any irrefutable match, e.g.
[code]

[2019-12-22 23:57] timotree3 commented on #65682
I can still reproduce this on latest nightly (`nightly-2019-12-21`)

[2019-12-23 00:17] Mark-Simulacrum commented on #59787
AFAICT, this has since been done. Closing.

[2019-12-23 00:17] #59787 closed

[2019-12-23 00:37] mqudsi opened #67548 "Don't emit "value assigned to ... is never read" for each instance?"
Scrolling through warnings when compiling projects during the early development stages can be a bit of a chore, but there's not much the compiler can do about it as it doesn't know whether you just haven't gotten around to something or if you forgot about it. I typically add `#![allow(unused_code)]` and `#![allow(dead_code)]` to new projects and take them out when the codebase nears completion of

[2019-12-23 01:22] varkor commented on #67514
The problem is:
https://github.com/rust-lang/rust/blob/9b98af84c4aa66392236fff59c86da2130d46d46/src/librustc_mir/build/matches/simplify.rs#L162-L163
Specifically, whenever an enum variant is encountered that is not visibly a singleton enum, it counts as refutable in the MIR simplifier. Without or-patterns, this is always true. However, or-patterns allow us to specify multiple variants: this check

[2019-12-23 01:35] matthiaskrgr opened #67550 "ICE on ./mir-opt/inline/inline-into-box-place.rs with -Zmir-opt-level=3 : Return place is None, not local"
`src/test/mir-opt/inline/inline-into-box-place.rs` ICEs when compiled with `-Zmir-opt-level=3`:

`RUST_BACKTRACE=1 rustc ./mir-opt/inline/inline-into-box-place.rs  -Zmir-opt-level=3`

[code]

`rustc 1.42.0-nightly (0de96d37f 2019-12-19)`

[2019-12-23 01:50] mqudsi commented on #15701
This is currently illegal grammar:

[code]

I propose that it should be interpreted as equivalent to the following:

[code]

as the former is considerably more ergonomic. When there is no direct binding to a variable (e.g. `foo(#[inline(always)] || "foo")` it makes sense to require it directly preceding the `||`, but when binding to a plain variable, I believe there is not much room for confusion.

[2019-12-23 02:09] estebank commented on #67535
I see why this happens: `AddAssign` has an `Rhs` type argument with a default type `Self` (`AddAssign<Rhs = Self>`) which means that what was written gets desugared internally to `impl std::ops::AddAssign<Rhs=()> for () { /* ... */ }`, which would have made more sense:

[code]

[2019-12-23 06:07] tage64 opened #67552 "[ICE] with recursive impl trait and Iterator.by_ref()"
The compiler panics when compiling the following code.

I tried this code:

main.rs:
[code]

I ran:

$ rustc main.rs

Rustc panics:

[code]

## Meta

$ rustc --version --verbose
rustc 1.39.0 (4560ea788 2019-11-04)
binary: rustc
commit-hash: 4560ea788cb760f0a34127156c78e2552949f734
commit-date: 2019-11-04
host: x86_64-unknown-linux-gnu
release: 1.39.0
LLVM version: 9.0

[2019-12-23 06:56] estebank opened #67553 "When finding an invalid outer doc comment, suggest turning it into a comment"
[code]

should be

[code]

[2019-12-23 08:56] gnzlbg commented on #60822
In the context of this discussion, the question that needs to be properly answered somewhere in the reference is: If a call to `Drop::drop` fails, was the value dropped? If the answer is "no", then calling `Drop::drop` again isn't a "double-drop" because the value has not been dropped.

Looking at the comments here there is a certain amount of consensus that a `Drop::drop` call that fails "succeed

[2019-12-23 09:10] gnzlbg commented on #64224
Good point. Would there be a way to insert the `forget` automatically if the result is not used?

When would this function not be unconditionally called with the current codegen ? (i.e. is this an LLVM bug, in which LLVM is not recognizing that this function is unconditionally called?).

[2019-12-23 09:11] RalfJung commented on #67539
That would solve tons of problems I think. Having a single MIR statement turn into a loop in the interpreter is pretty suboptimal anyway -- usually every statement should have a fixed upper bound on its execution time.

As an interim solution we could probably [skip this part](https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/step.rs#L208) f

[2019-12-23 09:18] RalfJung commented on #67534
In that design, what was the soundness argument? Because as far as I can see, one can trivially break soundness of this scheme by doing some pointer arithmetic outside the bounds of the reference one gets. Yes, Stacked Borrows currently disallows this, but (a) Stacked Borrows didn't exist yet when this was designed, so that cannot have been the argument, and (b) this is one of the Stacked Borrows

[2019-12-23 10:02] Stuart0l opened #67554 "Double dereference in accessing element in slice in no_std"
I have tried this code in a no_std environment. I emulate this code on QEMU, for full code please check my [repo](https://github.com/Stuart0l/Small-OS-in-Rust/tree/dev)
[code]
The assertion should be true. However, it was not. Then I disassemble the code with objdump
this is the asm in .rodata section:
[code]
this is the asm code in .text section:
[code]
I found there is a double dereference at 0x

[2019-12-23 10:16] RalfJung commented on #67539
Or probably it makes more sense to [skip this loop](https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/memory.rs#L865) if the size is 0.

[2019-12-23 10:19] jonas-schievink commented on #67552
Reproduces on nightly as well. [Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=39672120c68ae9464e14b1fe4f0c170e).

[2019-12-23 10:25] davidhewitt commented on #66332
As far as I can tell, if the `CycleError` has the `usage` field set, then that part of the query stack is included as a `note:`, which is probably good enough. See snippet below:

https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc/ty/query/plumbing.rs#L308-L313

I think it would be deisirable to note _something_ that caused the cycle to be evaluated, even

[2019-12-23 10:31] bjorn3 commented on #67554
`lea` actually means load effective address. In this case it stores `%rsp + 0x3f` into `%rax`.

[2019-12-23 10:32] oli-obk commented on #67539
Or we just make the first line of https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/memory.rs#L825-L832 be `if size == Size::ZERO || length == 0 { return Ok(()) }`

That way we can even remove https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/step.rs#L208

[2019-12-23 10:33] Stuart0l commented on #67554
Ok, my fault. never mind...

[2019-12-23 10:33] #67554 closed

[2019-12-23 10:33] RalfJung commented on #67539
No, we have to still check those pointers to not be dangling.

[2019-12-23 10:34] oli-obk commented on #67539
I thought writes of zsts to dangling pointers is fine?

Though yea, I'm unsure about writing zero elements of non-zsts to a destination.

[2019-12-23 10:35] RalfJung commented on #67539
Oh wait, looks like we expect the caller to check that. Hm.

I'd probably bail out after getting `src_bytes` and `dest_bytes`, if `dest_bytes.is_empty()` or so.

[2019-12-23 10:36] RalfJung commented on #67539
Not always, no. If the pointer is a `Pointer` (not an integer), but dangling, it's UB even with ZST. Also see [this test](https://github.com/rust-lang/miri/blob/a3ea1cb4581970396635fce82182555003083b62/tests/compile-fail/dangling_zst_deref.rs).

[2019-12-23 10:51] oli-obk commented on #66332
Yea that's definitely a good idea.

Oh neat.

So I'm guessing https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc/ty/query/job.rs#L95-L97 is already doing the right thing, because either there's a parent query or there's not (in which case we are already at the top of the call stack and won't get any new information).

In https://github.com/rust-lang/rust/b

[2019-12-23 10:53] davidhewitt commented on #66332
Awesome! I'll try to find some time to dig further into this over the holidays.

[2019-12-23 11:29] Mark-Simulacrum commented on #64224
Well, the forget *is* a memory leak, so I doubt you'd want to auto insert it.

Unfortunately I don't think we can really blame llvm here - we're indirecting through an extern C function so llvm basically can't inline anything here (which would be needed I imagine to see that the function is always called). Furthermore it's not even the first thing to be called in the non-aborting case.

We do like

[2019-12-23 12:16] bjorn3 opened #67557 "[MIR] simd_shuffle codegen uses self.instance as const_eval_promoted source"
https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_codegen_ssa/mir/block.rs#L628

It should use `Instance::new(def_is, self.monomorphize(substs)`. (`substs` is the second field of `StaticKind::Promoted`.) While both instances are normally equal, they can differ after running the mir inliner. In that case the promoted will refer to the inlined function.

@r

[2019-12-23 12:23] khionu commented on #63768
To add, the compiler doesn't respect calling drop before the await point.

Using a scope: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6cd230309e9226b37804354aa36db789
Using a `drop`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=626e1855f403a3f37b847ea947963559

[2019-12-23 12:36] bjorn3 opened #67558 "error: internal compiler error: src/librustc/mir/interpret/mod.rs:480: expected allocation ID 349 to point to memory"
This is while debug printing all mir statements of libcore.

[code]

[2019-12-23 12:37] bjorn3 commented on #67558
@rustbot modify labels: +A-mir +C-bug +requires-nightly

[2019-12-23 12:44] LeSeulArtichaut commented on #66968
(I think this is appropriate, please tell me if it isn't)
@rustbot modify labels to +E-Easy

[2019-12-23 12:50] RalfJung commented on #65597
@luojia65 the issue only applies when you do `allow(const_err)`, so I don't understand how you can say "there could be no solution in some situations". Just don't `allow(const_err)`?

[2019-12-23 13:40] jethrogb commented on #66768
Reduced example gives "broken MIR" error on current stable & nightly:

[code]

[2019-12-23 13:55] jethrogb commented on #66768
BTW I made extensive use of C-reduce and rust-reduce to get here, which I notice @pnkfelix didn't mention in his blog ;)

[2019-12-23 14:15] oli-obk commented on #67539
Ok, so to any implementor: basically bail out from just before https://github.com/rust-lang/rust/blob/a916ac22b9f7f1f0f7aba0a41a789b3ecd765018/src/librustc_mir/interpret/memory.rs#L849 if `dest_bytes.is_empty()` and leave a comment explaining that this is an optimization to not run anything for zsts. You can reference this issue, too.

[2019-12-23 14:20] Centril commented on #67557
cc @oli-obk

[2019-12-23 14:32] sebastiencs commented on #66962
I have the same panic `constant in type had an ignored error: TooGeneric` but with a different code:

[code]

Backtrace:
[code]

rustc version: `rustc 1.42.0-nightly (9b98af84c 2019-12-22) running on x86_64-unknown-linux-gnu`

[2019-12-23 15:20] euclio commented on #60681
Ran into this with `#[allow(deprecated)]` today.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=af56b57628284884d1bed6a1abc8aefc

[code]

[code]

[2019-12-23 15:28] kpcyrd commented on #67483
It seems travis also broken stable rust on windows: https://travis-ci.org/kpcyrd/sn0int/jobs/628652634

[2019-12-23 15:38] jumbatm commented on #67557
Sure, I'll have a go!

@rustbot claim

[2019-12-23 15:43] jumbatm commented on #67557
Do you have any specific tests in mind I should add to check for the correct behaviour?

[2019-12-23 16:04] bjorn3 commented on #67557
[code]

should be a test if the mir inliner would to inline `ret_slice`. Somehow it doesn't though.

[2019-12-23 16:38] #58907 closed

[2019-12-23 16:46] Mark-Simulacrum commented on #58635
I believe we've decided that sparse files are not something we want to handle; the file mode and special device issue we've fixed. Closing.

[2019-12-23 16:46] #58635 closed

[2019-12-23 17:05] Mark-Simulacrum commented on #57446
I am going to close this issue as it's been somewhat obsoleted by the fact that libstd depends on cfg-if (the crate) now, and libcore can always duplicate if necessary. I imagine we might even be able to get libcore to depend on cfg-if (since it's a macro-only crate I believe), but that's likely harder :)

[2019-12-23 17:05] #57446 closed

[2019-12-23 17:10] Mark-Simulacrum commented on #56664
I'm going to close this out in favor of moving once_cell/lazy_static into std. I suspect that we'll be doing that fairly soon, and I suspect that adding a type parameter to `std::sync::Once` is considerably more error prone (it would complicate the type quite a bit, at least).