[2021-12-20 07:30] #91714 closed

[2021-12-20 07:50] kawadakk commented on #78747
The suggestion is correct as of #88690 (included in 1.57.0).

[2021-12-20 08:07] spaarmann commented on #92069
You're right, that was quick!
From skimming the commit log, I'm gonna guess  #89841 fixed this one too, though I haven't verified that.

[2021-12-20 08:07] #92069 closed

[2021-12-20 08:34] SStarosielec opened #92120 "thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-20 09:54] ecnelises commented on #72023
It should be fixed by https://github.com/llvm/llvm-project/commit/f6515b05205d4324d174dd1f7455c6c8e6671e6b , @cuviper can you verify it? Thanks.

[2021-12-20 10:35] #90662 closed

[2021-12-20 10:46] AngelicosPhosphoros commented on #13926
This now compiles without bounds check.
https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=86371bd06d8bacff494b76c94486ba5b

@huonw Maybe you should close the issue.

[2021-12-20 11:16] hkratz commented on #92120
Duplicate of #91663, best to upgrade to a later nightly build.

[2021-12-20 11:23] #92120 closed

[2021-12-20 11:29] hkratz commented on #92119
rustbot label +T-compiler +I-slow +A-codegen +A-llvm

[2021-12-20 12:32] #88623 closed

[2021-12-20 12:35] m-ou-se opened #92122 "Tracking issue for thread local Cell methods"
Feature gate: `#![feature(local_key_cell_methods)]`

This is a tracking issue for thread local Cell methods: [RFC 3184](https://github.com/rust-lang/rfcs/pull/3184).

### Public API

[code]

### Steps / History

- [x] RFC: https://github.com/rust-lang/rfcs/pull/3184
- [x] Implementation: #92123
- [x] Final comment period (FCP): https://github.com/rust-lang/rust/issues/92122#issuecomment-1660551128

[2021-12-20 12:58] phip1611 commented on #35119
Is there any documentation available on what assembler-flavor `global_asm` is using? In my experiments, it seems that it's the same for all platforms, i.e. Linux and Windows. It looks to me like it's just GAS with intel syntax. Is this true or is it only similar to GAS with intel syntax?

I think there should be better documentation of what assembler flavor is used and a link to additional documen

[2021-12-20 13:01] psumbera commented on #62001
Until now I have had following workaround:
[code]
With version 1.57.0 it no longer applies and without it I no longer see the issue. Closing the issue.

[2021-12-20 14:36] SimonSapin commented on #81513
Sorry, I don’t quite follow as there seems to be a lot of context involved as to what traits exist in `storage-poc`. However isn’t this an issue with `CoerceUnsized` unrelated to pointer metadata?

---

By the way explicit `T: Pointee` bounds should be unnecessary. The trait resolver has built-in knownledge that `T: Pointee` for any `T`, so the associated type can be used without a bound. For exam

[2021-12-20 15:03] dhardy commented on #69438
This sample is broken: it calls `Box<T>::clone_to` which calls `Box<T>::clone` which calls ... recursively, resulting in a stack overflow.

A (modified to work outside libstd) version demonstrates this: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6de15255c11c2ee301309a8b2568203f

Intuitively, calling the *correct* `clone_to` requires a vtable entry (via an object-safe

[2021-12-20 15:03] #69438 closed

[2021-12-20 15:11] Nilstrieb opened #92125 "Insufficient diagnostic info when casting `usize` to fat pointer"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=76803b017be7f10f458ee6e4f6aac6d2)

[code]

The current output is:

[code]

[code]

Casting a `usize` to a regular pointer is possible, so it's a bit confusing at first that this doesn't work for fat pointers, especially if it's not obvious that `*mut T` is a fat pointer here.

[2021-12-20 16:32] carols10cents commented on #87012
@Aaron1011 It does fix it!!!! I commented on the PR, thank you so much!!1

[2021-12-20 17:04] tuxmark5 opened #92128 "ICE: Layout::new and ptr_metadata causes "`<T as Pointee>::Metadata` has an unknown layout" error"
### Code
[This code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ae5da6a27a4785d64fd738b103865787) causes rustc to ICE:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-20 17:19] compiler-errors commented on #92125
Perhaps it should say "`*mut T` may be a fat pointer", since it's `?Sized` (and so it could either be 1xusize or 2xusize depending on the choice of T).

Another possibly useful thing to point out for the programmer: tracking down the definition of the pointee type, and if it's a generic parameter, pointing to the `?Sized` bound.

[2021-12-20 17:23] matthieu-m commented on #81513
It's not clear to me where the issue lies, since it comes up with the interaction of the two features. Here is a reduced example [on the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=eee67eeb36f7b703bd18fd6bf786b462):

[code]

The Box line compiles, the Handle line doesn't.

If we dig further, we see that `Metadata` doesn't properly implement `CoerceUnsized`:

[2021-12-20 17:36] RalfJung commented on #81513
A `CoerceUnsized` bound *on the metadata* does not really make any sense. It's not the metadata that gets unsiezd, after all. The metadata is *produced* during unsizing. E.g. when unsizing `[u32; 3]´ to `[u32]` the metadata `3` is produced.

This feels like an XY-problem to me, so maybe try explaining what it is you want to achieve with the metadata APIs here (instead of *how* you want to achieve

[2021-12-20 17:44] matthieu-m commented on #81513
It may well be!

I pointed to the `storage-poc` crate to provide the background; the idea of the crate is that instead of storing a pointer (`NonNull<T>`), one stores a _handle_ (`Handle<T>`) which may or may not be a pointer under the hood.

In the case of the `RawBox<T, S>` example above, it uses inline storage (an embedded array of bytes) in which the handle "points". The handle is not a pointe

[2021-12-20 18:06] RalfJung commented on #81513
My first impression is that the Rust unsizing system is simply not up to the task you are asking for here. Rust unsizing only works on pointers, and this is hard-coded pretty deeply in the compiler. You would need that system to be made more flexible so that one can talk about *just* the metadata generation part of the unsizing coercion *without* the part where that metadata is sued to create a ne

[2021-12-20 18:07] matthiaskrgr opened #92132 "diagnostics: suggest .iter().collect() instead of .into() if possible"
Given the following code:

[code]

The current output is:

[code]
It would be great if we could somehow suggest `.iter().collect()` here because this works:

[code]

[code]

[2021-12-20 18:10] ecstatic-morse commented on #92111
cc @fee1-dead @oli-obk

[2021-12-20 18:11] tmandry commented on #92013
Thanks for the fix! and sorry yes, I did mean `.rustc`.

[2021-12-20 18:36] matthieu-m commented on #81513
Thanks, that's very helpful. This means I'm not doing anything wrong and it's just not supported today (at all).

The next question, then, is: Does the current implementation, using `()` as metadata for `Sized` types, allow such an extension of the unsizing system?

Or, more prosaically: Are we comfortable stabilizing `()` as metadata for `Sized` types, knowing that it likely closes the door to ev

[2021-12-20 18:54] nico-abram opened #92133 "When trying to use cross language LTO on windows for the MSVC target, proc macros give a linker error without an explicit target"
I'm trying a hello world generated by cargo, using this .cargo/config:

[code]

I have LLVM/bin (From LLVM13 to match my current rust LLVM version) in my path. `cargo build` runs fine. But as soon as I add a dependency with a proc macro, it results in a linking error. For example:

[code]

Results in:

[code]

This goes away if an explicit target is used: `cargo build --target x86_64-pc-windows-ms

[2021-12-20 18:59] AngelicosPhosphoros commented on #35838
@Mark-Simulacrum
I achieved some progress with eliminating some runtime check in linked PR but this wouldn't happen in libc-based targets because they use `libc`s memchr.
This also requires to use LTO for build.

I think, nothing more can be achieved here so probably we should just close it.

[2021-12-20 19:06] AngelicosPhosphoros commented on #92119
Your splitting by `CONCURENCY` threads is suboptimal.
You should split your vectors by chunks with size `len() / CONCURENCY + 1` instead of chunks with size `CONCURENCY`. Your current version interacts badly with caches.

[2021-12-20 19:42] asnare commented on #79462
I just ran into this on macOS, where the implementation is based on `mach_absolute_time()` and (also) doesn't advance during sleep.

Is there any interest in updating the documentation to specifically mention that measured durations may or may not include time spent during system suspend/sleep? It's clearly a significant difference in behaviour amongst the supported platforms…

[2021-12-20 20:03] nico-abram commented on #57596
Can this issue be closed? Last comment is from 2019, and it only has 3 comments from the same deleted github user @Centril

[2021-12-20 20:11] agausmann commented on #82104
@mbuesch They are working on fixing the underlying bug in LLVM - [D114611](https://reviews.llvm.org/D114611)

[2021-12-20 20:15] AngelicosPhosphoros commented on #74362
I decided to add `#[inline]` because we unlikely to get #77125 resolved soon, and #31844 still has soundness problems.

[2021-12-20 20:27] AngelicosPhosphoros commented on #74362
Adding `#[inline]` wouldn't have any effect without optimizations unfortunately because there must run InlinerPass which doesn't run on debug.

With New Pass Manager (which I hope would stabilized soon), users would be set `opt-level=1` for fast debug builds and get profits from this change.

[2021-12-20 20:28] 95jonpet opened #92136 ""Bad file descriptor" appending to file from command on Windows Git Bash"
The following code for appending the output of a `Command` to a file works as expected on Linux (Ubuntu 20.10), but not on Windows (11).

[code]

The expected result is that the file `output-file` is created on the first execution and that each execution appends "test" to the same file. This works as intended on Linux.

On Windows, the same code fails with:

There are no errors when using `write(t

[2021-12-20 20:31] RalfJung commented on #81513
I don't think we would ever want to implement `CoerceUnsized` for the metadata of Sized types. It's not the metadata that is being unsized, after all! So IMO that would just make no sense.

However I should also add that I do not consider myself an unsizing expert. I have no idea what it would take to support types like yours.

[2021-12-20 21:02] m-ou-se opened #92137 "unreachable!("{}") works on Rust 2021"
The behavior of `unreachable` does not depend the edition of the crate that invoked the macro. That's fine for `todo!()` and `unimplemented!()` due to the way they are implemented, but in #92068, it was discovered that `unreachable!()` behaves subtly different, due to the way it has a special one-argument case. Looks like missed this when working on the 2021 panic macros. :(

[2021-12-20 21:04] Patrick-Poitras commented on #92093
@rustbot label +I-prioritize

[2021-12-20 21:10] davidhewitt commented on #84605
I think I just ran into this when looking at coverage in PyO3. I tried to put `#![no_coverage]` attribute on a test module.

When you speak of `#[no_coverage]` blocks, does that include using the attribute as a module inner attribute like I tried here?

[2021-12-20 21:21] AngelicosPhosphoros commented on #45591
I think, 128 KiB is unsuitable for any OS without overcommit.

[2021-12-20 21:26] m-ou-se commented on #92137
`todo!()` and `unimplemented!()` are implemented like this: https://github.com/rust-lang/rust/blob/23f69235ad2eb9b44ac1a55eeaa3f9b484d9de4a/library/core/src/macros/mod.rs#L738-L741

They never accepted `todo!("{}")` or `todo!(123)` since their arguments are always directly passed to `format_args!()`. So, they didn't have to change for Rust 2021.

`unreachable!()` however, is implemented differentl

[2021-12-20 21:28] m-ou-se commented on #92137
So then the question is: Do we consider this a bug in Rust 2021 and fix it in Rust 1.59 for that edition? Or leave this in and only fix it in a later edition (or never)?

There's quite a few cases on crates.io of Rust 2015/2018 code depending on this behavior, but Rust 2021 is very new at this point. Adding this change/fix to Rust 2021 probably doesn't break anyone, yet.

[2021-12-20 21:33] m-ou-se commented on #92137
Behavior:

[code]

[2021-12-20 21:34] m-ou-se commented on #92137
We can't fix `unreachable` without making it a builtin macro, like `panic!()`. That's because (unlike e.g. `debug_assert`), this macro doesn't just forward to assert/panic, but has its own problematic implementation with a special case that shouldn't exist.

[2021-12-20 21:34] AngelicosPhosphoros commented on #91473
This fixed on nightly.

[2021-12-20 21:35] ChrisDenton commented on #92136
Hm, this is hard to diagnose. `echo` is not a Windows command and `bad file descriptor` is not a Windows error message. Are you running in a special environment? Maybe msys?

[2021-12-20 21:38] fadeevab opened #92141 "rustc `-Clink-dead-code` causes MSVC linker to produce invalid binaries with 'found invalid metadata files for crate' error"
**Error**: `error[E0786]: found invalid metadata files for crate ....`
**MSVC**: Visual Studio 2019, Visual Studio 2022.
**RUSTFLAGS**: `"-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off
-Zpanic_abort_tests -Cpanic=abort"`

The flag `-Clink-dead-code` is used with `-Zprofile` to produce a code coverage using `nightly-msvc` toolchain.

I get the following error on ra

[2021-12-20 21:39] jyn514 commented on #92137
I'm not sure I follow - can't we remove the concat special case and forward directly to panic, like todo does?

[2021-12-20 21:40] m-ou-se commented on #92137
@jyn514 Then `unreachable!(123)` would stop working on Rust 2015/2018.

[2021-12-20 21:44] m-ou-se commented on #92137
From a quick grep through crates.io, it looks like there's about 15 crates on crates.io depending on the current behavior that would break if we made it work like todo!(). Here's a few examples from the results of a quick grep trough crates.io:

[code]

[2021-12-20 21:53] 95jonpet commented on #92136
I first tried it in _Git Bash_, and it did not work.

The code above works as intended in _PowerShell_ with the `cacls` command and no arguments.
I guess that the problem could lie with how the unixlike utils, provided by Git Bash, work.

[2021-12-20 22:03] ChrisDenton commented on #92136
I suspect it's an issue with git bash utilities. If I make my own simple echo it appears to work:

[code]

[2021-12-20 22:36] joshtriplett commented on #92137
Making `unreachable` built-in to fix this on Rust 2021 seems reasonable to me.

[2021-12-20 22:50] m-ou-se opened #92143 "Rust logo isn't symmetrical"
I just discovered an *absolutely critical* bug in the Rust logo:

<img width="615" alt="Screenshot 2021-12-20 at 23 42 01" src="https://user-images.githubusercontent.com/783247/146842616-b9fc6837-00ca-4d7f-bb95-2609f7767dee.png">

It's not symmetrical! The inner and outer circle of the gear don't even have the same center. 😱

[2021-12-20 23:46] Amanieu commented on #35119
It always uses a GAS-like syntax with intel syntax on x86. This is done using LLVM's internal assembler and not by actually invoking GAS.

The documentation is in the process of being added to the reference [here](https://github.com/rust-lang/reference/pull/1105).

[2021-12-21 00:38] Cryptex-github opened #92145 "Nightly feature `let_chains` bug"
I tried this code:

[code]

I expected to see this happen: print `foo bar` to console

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-12-21 01:19] wesleywiser commented on #92143
I'm unsure if this is covered under the [stability guarantee](https://blog.rust-lang.org/2014/10/30/Stability.html) so we may need to consider making this change across the next edition boundary. <sup><sub>/s</sub></sup>

[2021-12-21 01:25] rrokkam commented on #89492
@tspiteri, if you want abs_diff to return an i64, what behavior do you suggest for the case when abs_diff can't fit in an i64? Panic? Change return type to result? I see no appealing options.

(The difference between two i64s can be 64 bits long, and i64 has 63 bits for magnitude)

[2021-12-21 02:05] tmandry commented on #84605
@davidhewitt Applying `#[no_coverage]` (or its equivalent) to an entire module might indeed be useful. I'm curious to know more about your use case, though. Are you measuring coverage using tests? What code in the test module do you not want to see in coverage reports?

[2021-12-21 03:04] BGR360 commented on #92056
Looks like something related to incremental compilation.

@rustbot label +A-incr-comp

@pmnoxx did it fail any more times after the first time? Or did it start working immediately after you tried again?

[2021-12-21 03:14] BGR360 commented on #92039
@rustbot label +D-confusing +D-terse +A-lifetimes +A-associated-items

[2021-12-21 03:20] BGR360 commented on #92125
@rustbot label +D-terse +D-confusing +A-coercions

[2021-12-21 03:29] jhpratt commented on #92137
IMO as long as there's a crater run fixing this is reasonable. It's certainly a bug.

[2021-12-21 03:32] jhpratt commented on #92143
On the assumption this will be fixed, it would be nice if there were an official "cog-only" version of the logo available somewhere. Useful for some project logos.

[2021-12-21 03:36] BGR360 commented on #92019
@Aaron1011 another similar issue (https://github.com/rust-lang/rust/issues/92105) mentions https://github.com/rust-lang/rust/pull/91741, and another one I just saw (https://github.com/rust-lang/rust/issues/92056) has a very similar backtrace.

Do you think these are related to that PR instead?

[2021-12-21 04:03] BGR360 commented on #91835
Potential dupe of https://github.com/rust-lang/rust/issues/91696. See also https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:04] BGR360 commented on #91739
Potential dupe of https://github.com/rust-lang/rust/issues/91696. See also https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:04] BGR360 commented on #91705
Potential dupe of https://github.com/rust-lang/rust/issues/91696. See also https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:09] BGR360 commented on #91935
@rustbot label +A-incr-comp

[2021-12-21 04:10] BGR360 commented on #92019
@rustbot label +A-incr-comp

[2021-12-21 04:11] BGR360 commented on #91988
Potential dupe of https://github.com/rust-lang/rust/issues/91696. See also https://github.com/rust-lang/rust/pull/91919.

@carllerche  Could be because you cleared you target directory.

[2021-12-21 04:11] BGR360 commented on #91994
@ibraheemdev It sounds like https://github.com/rust-lang/rust/pull/91919 supersedes that one, correct me if I'm wrong.

[2021-12-21 04:12] BGR360 commented on #92009
Potential dupe of https://github.com/rust-lang/rust/issues/91696. See also https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:19] BGR360 commented on #91595
Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:20] BGR360 commented on #90715
Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:21] BGR360 commented on #90697
Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:22] BGR360 commented on #90682
Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

[2021-12-21 04:25] BGR360 commented on #91662
Potential dupe of https://github.com/rust-lang/rust/issues/91696. Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-21 04:29] BGR360 commented on #91511
Looks like a known incremental compilation bug. That's why `cargo clean` fixed it.

See #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:31] BGR360 commented on #91015
@rustbot label +A-incr-comp

[2021-12-21 04:32] BGR360 commented on #90739
Possible dupe of #91696. Hopefully fixed by #91919.

[2021-12-21 04:39] BGR360 commented on #90608
Looks like a known incremental compilation bug. That's probably why it's so hit-or-miss.

See #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:41] BGR360 commented on #89962
Looks like a known incremental compilation bug. That's why cleaning the target directory fixes it.

See #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:43] BGR360 commented on #89539
Possible dupe of #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:43] BGR360 commented on #89457
Possible dupe of #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:44] BGR360 commented on #89260
Possible dupe of #91696. Hopefully fixed by #91919.

@rustbot label +A-incr-comp

[2021-12-21 04:45] BGR360 commented on #90594
@rustbot label +A-incr-comp

[2021-12-21 04:45] BGR360 commented on #89361
@rustbot label +A-incr-comp

[2021-12-21 04:51] davidhewitt commented on #84605
@tmandry the use case is in PyO3, in particular [this module](https://github.com/PyO3/pyo3/blob/main/src/test_hygiene/mod.rs) and its children such as [this](https://github.com/PyO3/pyo3/blob/main/src/test_hygiene/pymethods.rs).

We measure coverage using our test suite with the help of [cargo-llvm-cov](https://github.com/taiki-e/cargo-llvm-cov).

PyO3 has a lot a of proc macros to generate Python

[2021-12-21 04:54] davidrusu commented on #91988
Happened again with:

    1.59.0-nightly (a359ce160 2021-12-14)

[2021-12-21 04:55] BGR360 commented on #91999
@rustbot label +D-terse

[2021-12-21 05:09] matheus-consoli opened #92148 "ICE - ErrorReporting Overflow should not reach `report_selection_err` call"
I slipped on ICE while trying to formulate an example of a problem I was showing to some friends. Essentially, I was trying to implement a trait `Trait` to a `Vec<T>` where `T` itself impls `Trait`. The implementation wasn't done yet, but I ran it anyway, and the compiler `panic`ked during the error report with:

[code]

### Code

[playground](https://play.rust-lang.org/?version=stable&mode=debug&

[2021-12-21 05:10] BGR360 commented on #91997
I think it gets evaluated as an expression because you are missing a `::`. If you add them, then you get a new error message ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4eff759636bdf9ef4d5a188b218105aa)):

[code]

[code]

[2021-12-21 05:30] csmoe commented on #92093
duplicate of https://github.com/rust-lang/rust/issues/86921 and https://github.com/rust-lang/rust/issues/76627

[2021-12-21 05:30] #92093 closed

[2021-12-21 05:42] #92101 closed

[2021-12-21 06:06] obscurans commented on #80552
Mathematician here - don't think you're going to get much from math:
1. The overriding meaning of "group" is the noun for abstract algebra
2. Haskellers had no problem with going for `groupBy`

The clearest parallel, in my 2c, is to the `str::split` series, which returns iterator over slices. My proposal is to invert the sense of the predicate and make it `split_between`. `group_between` also seem

[2021-12-21 06:28] lcnr commented on #92113
While I think mentioning `<&[u8] as Read>` here is useful, I do not believe that reverting the change in #86986 is the right fix here.

I think that we could actually change these diagnostics to more generally deal with stuff like deref impls by explicitly looking for potential impls instead of looking at the existing impl candidates.

So when encountering a "trait bound is not satisfied" error fo

[2021-12-21 06:39] BGR360 commented on #91966
Here's as minimal as I could get it ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a5f9d9143a1047d7d15a186b4e7647a8)):

[code]

[code]

## But it gets weirder......

If you pass the closure inline, it works:

[code]

But if you make it reference a previously declared variable, it doesn't, and you get a different error message:

[code]

[code]

You could try changin

[2021-12-21 06:55] BGR360 commented on #92113
Certainly not. I'm a little bummed that the work I did in https://github.com/rust-lang/rust/pull/91314 is kaput, but I agree with you.

I like that idea, but it seems like we're lacking tests to tell us what else might have lost information as a result of https://github.com/rust-lang/rust/pull/86986, which will make it harder to know exactly which types of potential impls we should look for. The w

[2021-12-21 07:01] BGR360 commented on #91872
I just did some bisection the other day; it's pretty painless on my M1 pro macbook (~2-4 minutes per build). If this still needs bisection, and somebody can give me a range of commits, I'd be happy to try to bisect it.

[2021-12-21 07:02] lcnr opened #92151 "generic_const_exprs: method not compatible with trait"
[code]
this results in the following which definitely seems wrong
[code]

[2021-12-21 07:02] pmnoxx commented on #92056
It failed a couple of times. Unfortunately, I didn't save the `target` dir at that time.

[2021-12-21 07:02] BGR360 commented on #91857
@rustbot label +A-incr-comp

[2021-12-21 07:04] BGR360 commented on #92056
I think this might get fixed by https://github.com/rust-lang/rust/pull/91919

[2021-12-21 07:08] BGR360 commented on #91854
@rustbot label +T-compiler +A-lifetimes +A-associated-items

[2021-12-21 07:09] lcnr commented on #92113
alright :+1: i also believe that we aren't doing anything like that, but i think the required changes won't be too large. Going to write some instructions this week, feel free to ping me either here or on zulip in case i forget

[2021-12-21 07:43] BGR360 commented on #91831
Minimal repro ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7f3fc8b17f3d058212486a8cc76c5d28)):

[code]

[code]

* Getting rid of the `'a` on `&'a mut self` makes it compile.
* Getting rid of the `mut` on `&'a mut self` makes it compile.
* Getting rid of the lifetime parameter on `Foo` makes it compile.

If we put explicit lifetime annotations in `bar`'s fun

[2021-12-21 08:27] BGR360 commented on #91829
Interestingly, it's nothing to do with your function declaration; it's the type annotation on `b`. If you leave off the annotation, it compiles (I've rewritten the function signature to use `impl Trait` syntax cuz that's a little nicer on my eyes) ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=278459324b439692f2293ba19a4a0b56)):

[code]

To prove that it has the ty

[2021-12-21 08:45] Semisol commented on #77234
Bump on this.

[2021-12-21 08:54] 01mf02 commented on #91498
A slight variation on (probably) the same bug:

[code]

Here, the compiler (Rust 1.57) loops infinitely without error.
Removing `&mut` everywhere from this example makes the compiler report an error, but still loop infinitely afterwards.

The (last) error is:

[2021-12-21 08:57] tspiteri commented on #89492
@rrokkam I would expect the same overflow behaviour as abs itself.

[2021-12-21 10:11] nhamovitz commented on #89492
(FWIW, because I'm newish to Rust —)

I very much disagree — it doesn't make sense to me to ship an overflowing API when a 100% correct + infallible algorithm exists. I'll concede _some_ case for naming it `unsigned_abs_diff` to highlight that the type is changing (although IMO that's what the function signature + your tooling is there for), but allowing overflows seems bad.

[2021-12-21 11:30] shreepads commented on #89492
Thanks @MarcelRobitaille , yes that is much better and would work till such time as a method is available in the std library - (there is already such a method in the experimental API for u32)...

I was only hacking one of the Advent of Code puzzles (https://adventofcode.com/2021/day/7) so didn't mind the casting/ re-casting..

[2021-12-21 11:31] kpp opened #92157 "broken MIR in DefId(0:15 ~ nocore[d905]::{impl#0}::add)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-21 11:32] fee1-dead opened #92158 "`const_trait_impl`: investigate how to put `Self: ~const Trait` bounds in traits"
The `predicates_of` query currently inserts `Self: Trait` as a generic predicate for traits. This could become `Self: ~const Trait` and probably resolves some of the hackery around `default_method_body_is_const`. For example, we have explicitly allowed calling other methods inside the same trait for `default_method_body_is_const` bodies during const checking. If we had `Self: ~const Trait` as a ca

[2021-12-21 11:32] fee1-dead commented on #92158
cc @oli-obk

[2021-12-21 11:49] kpp commented on #92157
A "fix" for that code is to add `impl Copy for isize {}` however I don't want to get an ICE but a nice error.

[2021-12-21 11:56] NobodyXu commented on #64124
Hey, is this issue still alive?

It will be awesome if the libstd.rlib can contain LLVM bitcode so that LTO can be performed to reduce size of the binary.

Without LTO even a helloworld program would take 200KB or more.

[2021-12-21 12:01] #86035 closed

[2021-12-21 12:01] #88138 closed

[2021-12-21 12:03] OSS542 opened #92160 "title: rustc-1.57.0: hang while building gkrust for firefox 91.0.1"
An illegal instruction error occurs when building firefox-91.0.1.
note: the Core 2 Quad does not support AVX/AVX2 (see flags below)

[code]

[code]

[2021-12-21 12:21] olegnn commented on #66445
@estebank now it looks much better!

However, code like this still produces the same error twice

[code]

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a63224be65d4e278f12786dc0dd497fd

[2021-12-21 13:10] Mark-Simulacrum opened #92163 "failed to lookup `SourceFile` in new context"
84f962a89bac3948ed116f1ad04c2f4793fb69ea (based on bisection) made rustc-perf's CI start failing on the webrender-wrench benchmark, with this error. Not sure what is making rustc-perf special here, but it's also failing on the collector.

[code]

This can be reproduced with the following:

[code]

cc @Aaron1011

[2021-12-21 13:11] dvc94ch commented on #39915
so was wondering if it was possible to cross link for macos using lld and the macos sdk. I get this error:

[code]

my `~/.cargo/config` looks like this:
[code]

[2021-12-21 13:41] bjorn3 commented on #39915
Directly using `-Clinker=rust-lld` only works for wasm and windows. On all unix platforms you need gcc or clang to invoke the linker for you as they pass a lot of arguments to the linker necessary for a successful compilation like the path to system libraries or in this case the system architecture to link for. The way to make gcc and clang invoke lld would be to use `-fuse-ld=lld` as argument (`-

[2021-12-21 13:50] bjorn3 commented on #64124
Libstd.rlib already contains LLVM bitcode, however it is only suitable for LTO performed by rustc (`-Clto`) rather than the linker (`-Clinker-plugin-lto`) which is what this issue is about. LTO alone can't reduce the size of hello world below 200kb as the binary among other things still includes code to print a backtrace on panics. If you want small rust binaries you can follow the instructions at

[2021-12-21 14:02] yoshuawuyts commented on #76118
I used `array::each_mut` to pin project an array today:

[code]
This allowed keeping the `const N: usize` parameter intact through the projection, which is useful when mixing const generics and manually authored futures.

[2021-12-21 14:28] NobodyXu commented on #64124
Thank you for the explanation!

[2021-12-21 14:36] dvc94ch commented on #39915
building with `-Zgcc-ld=lld` doesn't seem to work either:
[code]

got a bit further with the previous approach:
[code]
but now I get errors like this:
[code]

[2021-12-21 15:46] jyn514 commented on #92160
@OSS542 can you reproduce this a newer version of the compiler? 1.52 is quite old.

[2021-12-21 15:55] wesleywiser opened #92165 "Make sure dead function stubs are always included in the final binary"
Currently, when generating dead function stubs for code coverage, we pick a CGU to put them in by looking for exported symbols which makes it more likely the linker will pull the CGU's object file into the final assembly. However, if the linker doesn't actually need any of the exported symbols in the object file, it won't include it in the final assembly. This matters for code coverage because wit

[2021-12-21 16:00] dceddia commented on #91498
I ran into what I think is a similar problem, although in my case the hang happens even though the code doesn't call the iterator. Repro here: https://github.com/dceddia/rustc-iterator-hang/blob/main/src/main.rs

It hangs on both `cargo build` and `cargo check`, and adding the `-Zno-codegen` flag does not seem to have any effect.

This is my first foray into writing an iterator extension so I'm pr

[2021-12-21 16:04] #92111 closed

[2021-12-21 16:19] bjorn3 commented on #92157
The error comes from https://github.com/rust-lang/rust/blob/8ad3c1dd1d47f9ce7dfdf4a14c70c67e1790b0f5/compiler/rustc_borrowck/src/type_check/mod.rs#L575-L590 I think. If you weren't using `#![no_core]` hitting this case would be a genuine bug in rustc. Turning it from an ICE into a nice error would require special casing integer types to not ICE here. In general you should expect to see internal co

[2021-12-21 16:35] Aaron1011 commented on #92014
Apparently, it *is* possible to hit this in practice: https://github.com/rust-lang/rust/issues/92163

[2021-12-21 16:43] Mark-Simulacrum commented on #92163
We didn't used to show errors on comparison pages (only by omission), I think at least part of the webrender results were missing.

I just today landed a [PR](https://github.com/rust-lang/rustc-perf/pull/1128) that addresses this, so we should hopefully notice this sooner in the future, and you can see that results from #91924 now have a line at the top indicating this breakage. It should also get

[2021-12-21 17:27] eddyb commented on #29594
I'm not sure where this should go, and I don't have the time for a complete RFC, but "a lifetime shorter than `'static`" came up recently in the context of some `rustc` internal data structures (which are owned thread-locally, not coincidentally), so:

<hr/>

*(with apologies to any previous suggestions similar to this, that may have been dismissed in the past - I couldn't find anything in this ve

[2021-12-21 17:35] kpp commented on #92157
Thanks! You may close if you think there is nothing you can do.

[2021-12-21 17:57] JohnTitor commented on #91594
Triage: It now returns some compiler errors and is no longer ICE, fixed by #91844, I guess. Marking as `E-needs-test`.

[2021-12-21 17:57] JohnTitor commented on #91594
@dnavre Just in case, if you could check your code with the latest nightly, it'd be great.

[2021-12-21 18:00] Aaron1011 commented on #92163
I have a fix locally, and I'm working on a PR.

[2021-12-21 18:08] Mark-Simulacrum commented on #92163
One thing I'm realizing -- we should list *fixed* benchmarks on rustc-perf as well. I'll file an issue for that.

[2021-12-21 18:13] jplatte commented on #79644
Seems related to / duplicate of https://github.com/rust-lang/rust/issues/22590.

[2021-12-21 18:32] patrick-gu commented on #90817
A similar problem is present in 1.57.0, but not in 1.56.0.

`src/lib.rs`:
[code]

`src/main.rs`:
[code]

[2021-12-21 18:36] mbuesch commented on #82104
Thanks for the update, @agausmann

[2021-12-21 18:38] patrick-gu commented on #90817
@rustbot label: +A-specialization +A-traits +regression-from-stable-to-stable

[2021-12-21 18:49] workingjubilee commented on #91872
Since each regression is likely due to https://github.com/rust-lang/rust/pull/89167,
and each is likely fixed after https://github.com/rust-lang/rust/pull/91484
we want to check, for each regression:
- does this build on rust-lang@e90c5fbbc5df5c81267747daeb937d4e955ce6ad?
- does this build after rust-lang@032dfe43605f4324966933078ffe6f717b77c7c8 but before rust-lang@11fb21fd0e4c42490d42f1baf6bc515

[2021-12-21 18:59] dev-gm opened #92171 "thread 'rustc' panicked at 'attempted to read from stolen value: rustc_middle::mir::Body'"
### Code
The code that broke is [here](https://github.com/dev-gm/tictactoe/tree/rustc-bug).

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-21 19:10] harshasrisri opened #92172 "compiler/rustc_borrowck/src/diagnostics/mutability_errors.rs:450:53 - thread 'rustc' panicked at 'index out of bounds: the len is 2 but the index is 2'"
### Code

<details><summary><strong>Code</strong></summary>

[code]

</details>

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-21 19:11] #92084 closed

[2021-12-21 19:28] ehuss opened #92173 "macos: rustc built without jemalloc sporadically fails with realloc failure"
Building rustc on macos without jemalloc (the default in config.toml) will trigger frequent SIGABRT.  The error is:

[code]

The backtrace is:

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

This happens almost 100% of the the time for me, though it can be sporadic.

Doing something like `./x.py build --stage=2 src/tools/cargo` is enough to reproduce.  It almost always fails w

[2021-12-21 19:30] jendrikw commented on #91997
I see, let me rephrase the issue:

The suggestion is "help: specify the associated type: `MyIterator<Item = Type>`" where "help: specify the associated type: `MyIterator::<Item = Type>`" with a double colon would be correct.

[2021-12-21 20:00] Patryk27 commented on #77131
Currently the original code with `.to_utf8chars()` crashes simavr:
[code]
... but changing the `impl ufmt::uDisplay` to:
[code]
... seems to render a correct code, yielding the expected results:
[code]

[2021-12-21 20:08] Patryk27 commented on #83281
Workaround https://github.com/rust-lang/rust/issues/82380#issuecomment-997402631 helps to avoid the linker issue; as for the overflow, [it's a problem in ufmt](https://github.com/japaric/ufmt/issues/28).

[2021-12-21 20:22] olix0r commented on #89195
It does look like #90423 helps the Linkerd proxy substantially. On the most recent nightly, a release build takes <4 minutes, whereas stable-1.57.0 takes at least 40 minutes (I didn't wait for the build to complete).

Thanks @jackh726! We're looking forward to 1.59.0 :)

[2021-12-21 20:26] AngelicosPhosphoros opened #92174 "Rust fails to deduce `enumerate()` range"
I tried this code:

[code]

I expected to see this happen: Assertions is removed because it is always false.

Instead, this happened: Generated code contains loop, check and panic.

[code]

Surprisingly, compiler is able to understand that `i < v.len()`

This code
[code]
compiles into
[code]

[godbolt link](https://godbolt.org/#z:OYLghAFBqd5TKALEBjA9gEwKYFFMCWALugE4A0BIEAZgQDbYB2AhgLbYgDkAjF%2BTXR

[2021-12-21 20:30] AngelicosPhosphoros commented on #92174
I got this error when tried to work with such code:
[code]
I wrote minimized version in the issue.

[2021-12-21 20:48] Aaron1011 opened #92176 "Consider unifying the `SourceFile` lookup strategy between incr comp cache and metadata decoding"
In both the incremental compilation cache and crate metadata decoding, we need to lookup the `SourceFile` for a decoded `Span`.

In incremental compilation, this is accomplished by looking up the `StableSourceFileId` in a hashmap stored in our `SourceMap`:

https://github.com/rust-lang/rust/blob/e100ec5bc7cd768ec17d75448b29c9ab4a39272b/compiler/rustc_query_impl/src/on_disk_cache.rs#L493-L503

In m

[2021-12-21 20:51] gregbuchholz commented on #88152
@Manishearth the Emscripten link errors you were getting can be solved using this [tip](https://stackoverflow.com/a/69198170), or this [one](https://github.com/rust-lang/rust/issues/85821#issuecomment-969369677).

[2021-12-21 20:56] compiler-errors commented on #92172
I believe I fixed this in #91212, can you `rustup update` and double check this still reproduces?

[2021-12-21 21:30] phimuemue opened #92178 "Change in unrelated line causes compilation failure"
Hi, when I tried to incorporate `rhai` into my project, compilation fails with a strange (incorrect?) compiler error.

# Steps to reproduce

I use Rust 1.57.0 (at the time of writing: stable):

[code]

Ideally, I'd like to provide a minimal example, but I just do not have enough time, so I'd be glad if you could try this:

[code]

The last commit on the `compiler_bug` branch from my project introd

[2021-12-21 21:35] jyn514 opened #92180 "`-Zmacro-backtrace` gets confused when macros define other macros"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=49b4f59c6307c22b5f5705f3bbf48205

[code]

The current output with `-Zmacro-backtrace=yes`:

[code]

Ideally the output should include at least the expansion of `state!`; right now it only shows `define_state_group!`, `rawtext_states_group!`, and `action!`.

(I'll try to reduce this, but I only have so

[2021-12-21 21:40] jackh726 commented on #89195
I didn't do much here other than review. The real thanks should go to @Aaron1011 and the others who have done related work.

[2021-12-21 21:50] adetaylor opened #92181 "rustc should specify `SHT_INIT_ARRAY` for its `init_array` section"
This recent commit to [`lld` broke Rust programs which used that linker](https://github.com/llvm/llvm-project/commit/21dbfd430021cc8f4270daaec15897b023a5cacc). That's because it discards sections entitled `.init_array` unless they are labeled with the correct section type, `SHT_INIT_ARRAY`.

Rust programs continued to link and run successfully, but couldn't see their command-line arguments (`std::

[2021-12-21 21:57] MaskRay commented on #92181
If it is possible to set `Elf64_Shdr::sh_type`, `Elf64_Shdr::sh_flags` should be supported as well. Setting and clearing `SHF_ALLOC` can be useful.

[2021-12-21 22:08] DataTriny commented on #85410
Hi @mdaverde ,

Thank you so much for taking care of this.

I am already using the API added on #85379 for [AccessKit](https://github.com/accesskit/accesskit) and I haven't encountered any issue so far.

@joshtriplett you were the one reviewing the PR. Isn't it time for the FCP now?

[2021-12-21 22:11] compiler-errors commented on #91698
I taken a look at this, and it seems like you actually need to plumb a lot more information down to borrowck to improve this diagnostic (e.g. to point at the implicit `+ 'static` in the `Arc<dyn Trait>` parameter).

I've been motivated to fix a similarly confusing error message, where a `+ 'static` bound is added due to the `?` operator that converts a `dyn Error + '_` to an `anyhow::Error` ([play

[2021-12-21 22:11] compiler-errors commented on #92176
I'd be interested in investigating this change, is this up for grabs?

[2021-12-21 22:20] Aaron1011 commented on #92176
@compiler-errors Sure! Feel free to message me on Zulip if you have any questions

[2021-12-21 22:23] compiler-errors commented on #92176
Cool, will take a look at this tonight.

@rustbot claim

[2021-12-21 23:07] ratulb commented on #86423
What is the point adding this API - if this piggy backs on an already exposed API? Anyone can call ```fill_buf``` and find the size of the returned buffer length!

[2021-12-21 23:17] the8472 commented on #92174
silly workaround for the moment:

[code]

[2021-12-21 23:20] willcrichton commented on #88791
The feature has now been on nightly for about two months. I've been able to fix all the bug reports raised thus far, and I have not received any further suggestions on the UI design. Are there any objections to moving forward with stabilization?

Note that we still need to separately stabilize the Cargo changes (rust-lang/cargo#9910).

cc @jyn514 @camelid @GuillaumeGomez

[2021-12-21 23:25] AngelicosPhosphoros commented on #92174
Another workaround:
[code]

[2021-12-21 23:42] AaronKutch commented on #43244
I learned about unwinding handling part of this function today and it is _extremely_ strange to me that closure panics are caught and that it leads to any boolean value at all being chosen. I thought Rust had distanced itself from try-catch like behavior which is home to all kinds of problems. I know of course that the unwind catching here is relatively contained than the more general case, but if

[2021-12-21 23:52] harshasrisri commented on #92172
The compilation went through after update. Thank you.
[code]

[2021-12-21 23:52] #92172 closed

[2021-12-22 00:54] ssomers commented on #66031
Isn't this "accidentally" implemented through #70896? Playground seems happy to complete the example.

[2021-12-22 01:28] camelid commented on #88791
I have not actually seen it in use yet. Do you know of some crates that enable it on docs.rs?

[2021-12-22 01:47] inquisitivecrystal commented on #92157
I am by no means familiar with the relevant code, but this would seem more like a basis for making this a `P-low` than closing it entirely. As in, it would be nice if there was a way to fix this, but we don't know what it is and it's not really a priority.

[2021-12-22 02:03] jeremymeadows opened #92184 "Rustc panicked while unwrapping 'None'"
### Code

https://github.com/jeremymeadows/crypt/tree/29e09f5059efaf7a3202d0d401e0130d64820d3e/libcrypt

I tried to minimize the code, but it seems to have disappeared..? I have reverted back the code I committed when I got the error and it no longer panics. I don't know much about compilers, but maybe y'all can read the stack trace and find something useful, though.

It looks like there are simil

[2021-12-22 02:15] BGR360 commented on #91872
For the regressions starting with `reg/`, where do I get those? The other ones have git repos I can clone (`gh/`), but I don't intuit what "reg" stands for.

[2021-12-22 02:30] KangarooCoder opened #92185 "Compiling a Workspace with a macro c"
When compiling a workspace that has a proc macro crate in it, rustc emits a malloc error causing tools such as miri and clippy to fail.  This bug affects nightly versions 2021-12-05+.

I tried this code:

[playground_workspace.zip](https://github.com/rust-lang/rust/files/7759461/playground_workspace.zip)

I expected to see this happen:
Miri and clippy successfully assess my code

Instead, this hap

[2021-12-22 02:59] minseongg opened #92186 "Conflicting implementation of trait with `generic_const_exprs` feature"
I tried this code:

[code]

I expected to see this happen: This is the result when I commented `generic_const_exprs` feature.

[code]

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-12-22 03:27] czapek1337 opened #92187 "ICE: failed to lookup `SourceFile` in new context"
### Code

I am not able to narrow down the error, sadly. The project is simply too big for me to figure out what's going on, but if it helps the exact commit on which this error happens is https://github.com/Andy-Python-Programmer/aero/commit/023649f2b516f863e88af9b789e675f1f5581915. For some additional information please look at https://github.com/Andy-Python-Programmer/aero/issues/20, it explain

[2021-12-22 03:39] BGR360 commented on #91872
Here's what I got with the GitHub ones.

https://github.com/rust-lang/rust/commit/e90c5fbbc5df5c81267747daeb937d4e955ce6ad:
[code]

3e018ce19 (one merge after https://github.com/rust-lang/rust/commit/032dfe43605f4324966933078ffe6f717b77c7c8):
[code]

https://github.com/rust-lang/rust/commit/11fb21fd0e4c42490d42f1baf6bc51516e5dc5f5
[code]

Not sure what's up with `desbma.motd`. I made sure to check

[2021-12-22 03:47] BGR360 commented on #92105
Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-22 03:48] BGR360 commented on #92184
Looks like a known incremental compilation issue. Hopefully fixed by https://github.com/rust-lang/rust/pull/91919.

@rustbot label +A-incr-comp

[2021-12-22 03:53] BGR360 commented on #92171
Possible dupe of https://github.com/rust-lang/rust/issues/91015

[2021-12-22 03:55] czapek1337 commented on #92187
I think https://github.com/rust-lang/rust/pull/92175 should fix it

[2021-12-22 04:35] YuhanLiin commented on #86423
Without this API you'd need to need to call `.fill_buf().is_empty()`. It's not obvious that this expression is the right way to check if a reader is at EOF, so the main advantage of the new API is discoverability and clarity. Writing and reading `.has_data_left()` is a clearer way to convey the programmer's intent.

As for figuring out if a reader has been exhausted without calling `fill_buf`, I'm

[2021-12-22 06:34] hkratz commented on #92185
Looks like it is during proc macro compilation, not execution? Shouldn't that use jemalloc instead of the system malloc?

The error message is the same as in #92173.

[2021-12-22 06:50] BGR360 commented on #92174
Does this really fall under the category of bug? Seems like it could be considered an enhancement to optimization.

Either way, here's some findings.

The resulting optimized MIR is identical apart from `Lt` vs `Le`:

With `<`

[code]

With `<=`

[code]

But the resulting LLVM IR is vastly different:

With `<`

[code]

With `<=`

[code]

So I think maybe this points to a problem with constant eval

[2021-12-22 07:34] ehuss commented on #92185
clippy and miri are not built with jemalloc.

I think this is likely the same as #92173.

I've been trying to dig into this some.  I bisected to #91505, and I've been trying to bisect within that rollup, but I'm not really finding out much.  I'm still trying to go through them, it is a pretty slow process.

[2021-12-22 07:37] jhelovuo opened #92189 "Internal compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-22 08:04] nikic commented on #92174
The basic problem here is that the loop has two induction variables, a counter and a pointer. The loop condition is on the pointer, and SCEV apparently is unable to determine the correlation between them in this case. Full IR for reference: https://llvm.godbolt.org/z/P8a8nr714

[2021-12-22 08:06] Keavon opened #92190 "An unused HashMap with an enum key recommends borrowing, not implementing Hash on the enum"
Given the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=507c4abfd7e94d0eb861dbb229906d3b)):

[code]

The current output is:

[code]

Ideally the output should look like:

A suggestion to derive `Hash`. Not a suggestion to borrow.

[2021-12-22 08:16] nikic commented on #92181
I'm a bit unclear on how we're supposed to address this in practical terms. As far as I know LLVM still does not support specifying section type or section flags in IR, so we wouldn't be able to expose something like `#[link_section_type]`. Is the suggestion here that we should replace this symbol with inline assembly as well?

[2021-12-22 08:27] marcusklaas commented on #92005
Very soon!

[2021-12-22 08:29] nikic commented on #92181
Regarding `llvm::MCContext::getELFSection()`, I don't really see how it is useful here, as it works on a completely different level. For LTO purposes if nothing else this information must be embedded in bitcode, so the ability to adjust the section flags in the deep end of the backend isn't really helpful.

Should LLVM be automatically setting `@init_array` section type for `.init_array` sections,

[2021-12-22 08:40] jackh726 commented on #89352
Okay, so I've dug into this a little bit. And I thought I would share where I'm at.

First, let's look at the root cause of this problem: the `A::Iter<'a>: Clone` bound. This leads to a `A::Iter<'a>: Sized` bound in the environment. There is also an implicit `for<'x, Y> <X as GenAssoc<Y>>::Iter<'x>: Sized` bound. At some point, we need to prove that `Self::Iter<'s>: Sized`. Because of the [current

[2021-12-22 08:43] workingjubilee commented on #33623
A variety of tiny little LLVM patches actually wind up cherry-picked often enough, especially around releases, that this was probably always going to be a non-starter. However, with download-ci-llvm we have the "next best thing", of using a very recent LLVM build from CI, which indeed seems to lower new contributor overhead considerably. I believe the intended goal, albeit not the designed solutio

[2021-12-22 08:43] #33623 closed

[2021-12-22 09:29] lcnr commented on #92113
so, we collect the impl candidates in https://github.com/rust-lang/rust/blob/e100ec5bc7cd768ec17d75448b29c9ab4a39272b/compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs#L1440-L1443

The reason we don't consider slice impls anymore is this comparision
https://github.com/rust-lang/rust/blob/e100ec5bc7cd768ec17d75448b29c9ab4a39272b/compiler/rustc_trait_selection/src/traits/error_reporti

[2021-12-22 09:36] the8472 commented on #92174
I think that could be improved on the libs side. At least when `iter.for_each()` is used instead of `for _ in`

[2021-12-22 09:41] AngelicosPhosphoros commented on #92174
clang fails to optimize it too.
[code]

compiles to
[code]

[2021-12-22 09:43] AngelicosPhosphoros commented on #92174
@the8472

I think, it is not optimal approach. We would need specializations of `Enumerate<I>` for all possible cases and still fail in some cases. LLVM-side optimization would be more robust.

[2021-12-22 09:55] the8472 commented on #92174
It's actually not that difficult, we already have a specialization trait that should cover most cases.

[2021-12-22 09:56] madsmtm opened #92192 "Spurious cache failure: 'no entry found for key', compiler/rustc_metadata/src/rmeta/decoder.rs:1660:13"
### Code

Unknown, sorry 😕.

I can't reproduce the issue, the project I was building was [`objc2`](https://github.com/madsmtm/objc2), and it failed in CI.

Just posting here in case someone can use the backtraces for anything, feel free to close if this is infeasible.

### Meta

`nightly-2021-12-22` on `x86_64-apple-darwin`.

### Error output

<strong>Backtrace #1</strong>

[CI run](https://github

[2021-12-22 09:57] solotzg opened #92193 "No auto-vectorization in such case since 1.54.0"
I tried this code:

[code]

With `rustc 1.53.0-nightly`
run `RUSTFLAGS="--emit=asm -C target-feature=+avx2" cargo build --release`
rustc can generate vectorized asm.

But with 1.54.0 or higher, rustc can not make optimization.

It can be verified in https://godbolt.org/ as well.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-12-22 11:23] PicoJr commented on #88791
I enabled it for my crate `htp`, here is [how it looks on doc.rs](https://docs.rs/htp/latest/htp/fn.parse.html).

Is there a tool for searching crates that depend on this feature?

[2021-12-22 11:29] leonardo-m opened #92194 "[ER] Better error message for goto statements"
Some Rust code is translated from C, so I think Rustc could recognize gotos and give a better error message:

[code]

Currently rustc 1.59.0 (nightly 2021-12-21) gives:

[code]

A better error message could explain that Rust doesn't have gotos, and that labeled breaks of outer loops (that's missing in C), returns and match{} could sometimes replace the goto well enough.

[2021-12-22 11:36] bert2 opened #92195 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value"
### Code

~Only can provide an unminified repro right now, located in [this repo](https://github.com/bert2/build-your-own-sqlite/tree/rustc-bug-repro) (branch `rustc-bug-repro`)~

~If you check out the previous commit the build will go through without any compiler errors or rustc panics:~

[code]

~So it must be something that happend in [this commit](https://github.com/bert2/build-your-own-sqlite

[2021-12-22 11:45] ssomers commented on #43244
I don't understand what that means. I don't understand what the fundamental issue is with `drain`, why it apparently isn't an issue for IntoIter.

From my point of view, the essence of `drain(range)` is an efficient bulk operation on a collection. In a Vec, instead of taking out elements one by one, shift them all once. In VecDeque, whole blocks with elements can move out. In BTreeMap, whole subtr

[2021-12-22 11:51] jyn514 commented on #88791
You could download the source for all crates.io crates and search for `rustdoc-scrape-examples`. There's instructions on https://www.pietroalbini.org/blog/downloading-crates-io/, I think https://github.com/the-lean-crate/criner/tree/main/criner automates it.

[2021-12-22 11:54] avl commented on #43244
Does it really catch panics? Judging from the implementation it looks like it doesn't, and that the entire Vec will be leaked. Is this not what happens? Do you have an example illustrating your point?

[2021-12-22 11:59] RayTurbo commented on #53827
1.If you want to use `Box::new()` , just add  `--release`  in command arguments , like `cargo test --release`.
2.I'm writing  code about Shellsort algorithm. When i use `Vec::into_boxed_slice` , the sorting time is more than using `Box::new()`.It maybe lost a little performance.

[2021-12-22 12:07] AngelicosPhosphoros commented on #92174
This still would increase complexity and harm maintainability. It is fine to fix the issue that way but I think we should try to fix LLVM first and increase complexity of library only if we fail.

[2021-12-22 12:11] AngelicosPhosphoros commented on #92193
Duplicate of https://github.com/rust-lang/rust/issues/83623 probably.

[2021-12-22 12:17] GuillaumeGomez commented on #88791
@willcrichton I wanted to try to improve the JS side to reduce its size but it's not blocking for a stabilization I think.

[2021-12-22 12:41] bert2 commented on #92195
I don't know what I did, but I can't reproduce it anymore. I started deleting and rebuilding until it rustc didn't panice anymore. And now the repro can be built successfully too.

I guess the bug originated in the files rustc creates during builds for chaching or whatever and the repro wouldn't have worked on other machines anyway.

[2021-12-22 13:15] dvc94ch commented on #39915
so got it to compile like this:
[code]
get some warnings though:
[code]
and I have no idea if the binary actually works as I don't have a mac to test it on yet.

[2021-12-22 14:51] marcusklaas commented on #92005
Pulldown version 0.9.0 has just been [released](https://crates.io/crates/pulldown-cmark/0.9.0)!

[2021-12-22 15:01] 95th commented on #92195
I was about to raise the same issue. Seems to be an issue with incremental build. `cargo clean` and `cargo build` resolves it and I can't replicate anymore.

[code]

[2021-12-22 15:03] Aaron1011 commented on #92195
This should be fixed on the latest nightly.

[2021-12-22 15:04] 95th commented on #92195
Since I can't replicate it anymore, I can't verify it.

[2021-12-22 15:45] pnkfelix commented on #91671
Sweet! I generalized my repro.sh script to support cross-compilation, and now I can reproduce the seg fault on Linux x86_64!

This means I get to use pernos.co to debug the segmentation fault!

[2021-12-22 15:52] Aaron1011 commented on #92192
cc @cjgillot - This looks like an unexpected interaction between your work on incr comp `ExpnId`s and my change to the serialization of `AdtDef` in https://github.com/rust-lang/rust/pull/91924

[2021-12-22 16:01] saona-raimundo commented on #60698
Adding `#[doc(no_inline)]` fixed the issue!

This should not keep happening as [In Rust 2018 and later, if you pub use one of your dependencies, rustdoc will not eagerly inline it as a module unless you add `#[doc(inline)]`.](https://doc.rust-lang.org/rustdoc/the-doc-attribute.html#docno_inlinedocinline)

[2021-12-22 16:01] #60698 closed

[2021-12-22 16:02] Hexawolf commented on #55467
https://trojansource.codes/

[2021-12-22 16:12] r00ster91 commented on #55467
@Hexawolf https://github.com/rust-lang/rust/security/advisories/GHSA-rcv6-wg5m-24v6

[2021-12-22 16:14] Aaron1011 commented on #92192
@madsmtm: Looking at both of those logs, I'm seeing `Cache restored from key: Test macOS nightly-cargo-bb42fe97ad9aa82f7f4970711b46ace27c1e46fe9fa7d37a00d5a0356ccdfb2e`. However, I'm having trouble finding the job that that was from. Can you try to find the most recent successful build "Test macOS nightly" job (which would have uploaded this cache result)?

If possible, can you also try to downloa

[2021-12-22 16:19] Aaron1011 commented on #92192
Never mind, I found it. It's https://github.com/madsmtm/objc2/runs/4604223856?check_suite_focus=true

[2021-12-22 16:20] orlp commented on #43244
That isn't true. Just like now, when `v.drain(range)` is called we can simply `v.set_len(0)`. This immediately - no matter what happens - makes the collection be in a valid state. Thus if `mem::forget` is called on the `Drain` iterator, you leak the remaining collection that wasn't already extracted.

Then when `Drain` is actually dropped it shifts the elements back over any drained elements, but

[2021-12-22 16:22] robinmoussu opened #92197 "Incorrect non-exaustive match statement (where the user may think that all case are covered)"
Given the following code:

[code]

The current output is:

[code]

At first, I thought it was a compiler bug (an understandable one since exhaustiveness checking is hard), but then I realized that an buggy (or adversarial) implementation of `Ord` could lead to `lhs` being neither less than, greater than nor equal to `rhs`. So the compiler is right, just confusing.

Ideally the output should look l

[2021-12-22 16:25] BoxyUwU commented on #92186
caused by #90023 because during coherence we try to equate `Foo<{ 1 }>` with `Foo<{ 2 }>` to see if the impls overlap, which tries to equate the anon consts: `{ 1 }` with `{ 2 }` which have substs of `_` and with that PR we now bail with `EvaluatedToAmbig` whereas before we were able to say they dont unify.

I don't think there's any easy solution to this rn

more minimal repro:
[code]

[2021-12-22 16:25] jplatte opened #92198 "Lint unused_qualifications should have a machine-applicable suggestion"
In the middle of a large refactoring that was mostly automated by rust-analyzer's structural-search-and-replace, I had a lot of qualified paths that shouldn't be qualified. I made do with a regular text-based search-and-replace since I couldn't find a better way, but I think that better way could have been `cargo fix`, because introducing an import for the relevant type once per file is much easie

[2021-12-22 16:30] Amanieu commented on #50145
I just reviewed the past issues in compiler-builtins regarding support for weak functions, and here is what I propose we do:
- Only provide libm functions and mem* functions on platforms that support weak symbols. Currently this is all ELF platforms. Non-ELF platforms must provide these functions from the OS libc. Currently non-ELF platforms are windows and darwin, so this shouldn't be a problem i

[2021-12-22 16:45] jyn514 commented on #58843
Ran into this today on the community server - here's a slightly simpler version without loops:
[code]

[2021-12-22 16:45] Aaron1011 commented on #92192
I've managed to reproduce this in a self-contained Github actions run: https://github.com/Aaron1011/objc2/runs/4609355435?check_suite_focus=true

[2021-12-22 16:55] prismatic-obloquy commented on #92195
Just hit this issue on stable with `cargo check`. Switching to (old) nightly leaves it there, so it's not going away just from switching versions. Updating to latest nightly fixes it *and* makes stable work again.

[2021-12-22 17:20] ssomers commented on #43244
For a vector, that works. For BTreeMap, I don't see it possible without complications in other code.

Leaking stuff not returned by the iterator, not even intended to be returned… so much for the idea that iterators should be lazy. I suppose anything goes when `mem::forget` is involved.

Wasn't the idea we should be doing less in the drop handler? If not, why change anything about `drain` at all?

[2021-12-22 18:03] poliorcetics commented on #91913
@bors claim

[2021-12-22 18:15] AaronKutch commented on #43244
I misunderstood the docs, ignore what I posted earlier. I tested it and it does panic like normal

[2021-12-22 18:19] pnkfelix commented on #91671
FYI. (I haven't made a local build with better debugging info yet. But the stack trace seems to solidly point to LLVM, as previously hypothesized.)

[code]

[2021-12-22 18:52] mati865 commented on #50145
Technically LLVM supports using weak symbols on Windows, at least in mingw-w64 mode it works good. The problem is it requires whole comdat.

[2021-12-22 19:18] HadrienG2 commented on #92119
@AngelicosPhosphoros On a Zen 2 CPU at least, increasing load stride makes no difference to throughput. What did make a difference, however, was remembering to add `codegen-units = 1` to my bench cargo profile so that rustc stops generating bad code in unpredictable ways. Given extra tuning, this gave me a peak throughput at 85% of theoretical hardware maximum in SSE mode and 73% of hardware maxim

[2021-12-22 19:22] newpavlov commented on #29594
@eddyb

Is it guaranteed that the same thread-local pointer stays valid when passed to a different thread? I can imagine a system which has the same numeric pointer to point to different physical addresses for different threads via MMU magic.

[2021-12-22 19:26] Amanieu commented on #29594
That is not allowed. Thread-local variables for different threads must have distinct addresses.

[2021-12-22 19:32] ratulb commented on #86423
```fill_buf``` blocks on a ```BufReader``` created from a ```TcpStream``` - after 'whole data' is consumed and ```fill_buf``` is called again. In that scenario, this API might not be useful.

The problem is we don't know how long is the 'whole data' up front - which is where we need ```has_data_left``` to tell us if there is any more data left without blocking.

[2021-12-22 19:42] PatchMixolydic commented on #92197
This doesn't necessarily require an adversarial implementation of the comparison operators; `(f32::NAN, f32::NAN)` will not match any of these arms. This code panics ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d65d248f1b0f6c1516f2de3eadaa1f12)):
[code]

This isn't incorrect since `f32` implements `PartialOrd`, but not `Ord`, that is, certain values of `f3

[2021-12-22 19:54] AngelicosPhosphoros commented on #92119
Yeah, I really love `codegen-units=1` and `lto="fat"` for production builds.

[2021-12-22 19:58] XrXr commented on #79429
Maybe "generic parameters may not be used in const operations *in this context*" would be better?

[2021-12-22 20:05] Aaron1011 commented on #92192
The root cause is https://github.com/rust-lang/rust/issues/91921 - I'm working on a fix

[2021-12-22 20:12] camelid commented on #92005
Thanks!

[2021-12-22 20:12] Aaron1011 commented on #91921
This is now causing a bug - since we now serialize the full `AdtDef` to disk, we may try to deserialize a stale `ExpnId` from a foreign crate, because we will incorrect end up thinking that an `AdtDef` is unchanged when one of its `Span` fields changes. See https://github.com/rust-lang/rust/issues/92192

[2021-12-22 20:18] MaskRay commented on #92181
LLVM IR provides `llvm.global_ctors` to create `.init_array` sections. Such sections correctly have `@init_array` `%init_array` which will get `SHT_INIT_ARRAY`.

In C, if you write `__attribute__((section(".init_array"))) void foo() {}`. The section will be `SHT_INIT_ARRAY` as well. Though I'd say this is a less unsupported way (it somewhat happens to work).

How the Rust component in question cre

[2021-12-22 20:20] camelid opened #92205 "rustdoc: Use the concrete type of `self` in the search-index"
See the discussion starting at https://github.com/rust-lang/rust/pull/90630#issuecomment-999215498.

EDIT (@GuillaumeGomez): For example:

[code]

For the example above, if you use `Foo -> PathBuf` in the search, `something` won't show up because `&self` isn't "recognized"/"generated" in the search index as `Foo`.

[2021-12-22 20:23] GuillaumeGomez commented on #92205
I don't really have an opinion on this: it seems a bit counter-intuitive for me to look for `vec` inside the arguments of its methods but I can see the value of it too. A bit tricky.

[2021-12-22 20:25] camelid opened #92206 "rustdoc: Update pulldown-cmark to 0.9"
This will resolve issues such as #92005.

[2021-12-22 20:26] camelid commented on #92205
I think it's really bizarre for `vec -> usize` to not return `Vec::capacity`. Many uses of a type are in its methods; if we don't make this change, those will just be ignored.

[2021-12-22 20:30] joshtriplett commented on #91991
@ChrisDenton That seems reasonable; could you or someone on the Windows team submit a PR adding the requisite quoting (since quoting is hard to get right)?

[2021-12-22 20:31] GuillaumeGomez commented on #92205
I'm strongly biased here because it's how it's always been. But I think it'd be a good change. :+1:

[2021-12-22 20:35] YuhanLiin commented on #86423
In the case of TCP, I don't think what you're proposing is possible. TCP connections terminate by sending a FIN flag, so if you want to know if there's any more data left you'll need to wait for the last packet.

[2021-12-22 20:37] ChrisDenton commented on #91991
Oops, sorry! I had a PR lined up but forgot to submit.

[2021-12-22 20:39] dtolnay commented on #74217
This was stabilized in #79022 in 1.51.0.

[2021-12-22 20:39] #74217 closed

[2021-12-22 20:58] joshtriplett commented on #62370
Shall we stabilize `Box::into_pin`?

@rfcbot merge

[2021-12-22 21:05] jsha commented on #92205
I agree, this would be a good change. I would expect a search for `vec -> usize` to return `Vec::capacity`.

[2021-12-22 21:18] dtolnay commented on #87096
We discussed this API briefly in the libs-api meeting. After another look, I am on board with these methods since the motivation isn't *just* about working around the way that temporary lifetimes are currently handled &mdash; it's beneficial to be able to iterate lines of stdin without needing to consider that locking needs to be involved.

@rfcbot resolve better temporary lifetimes

[2021-12-22 21:19] GuillaumeGomez commented on #91201
This is the expected behaviour actually: it converts the `///` into a `#[doc = "..."]` directly. So if you don't put empty doc comments between, it's as expected.

[2021-12-22 21:22] Frederik-Baetens opened #92209 "Adding unnecessary `use libp2p;` statement leads to unrelated error when adding String to &str"
**I tried this code:**

[code]
Repo with code sample: https://github.com/Frederik-Baetens/libp2p-err-sample

The used crate does need to be libp2p. I haven't found any other crates with which this behavior occurs. I understand that this points to weird stuff going on in libp2p, but I think that strange behavior like this should never happen, no matter what black magic is going on in libp2p.

**I e

[2021-12-22 21:24] Amanieu commented on #69099
We discussed this during the libs meeting today and feel that there is a lack of a specific use case for these methods. @HeroicKatora (or anyone else) could you describe how you are using these methods in your own code?

In particular we feel that `undo_leaks` is unlikely to be useful in practice: if you've got a `RefCell` then you are unlikely to ever be able to get a mutable reference to it (exc

[2021-12-22 21:25] joshtriplett commented on #86941
I'd like to propose a slightly different approach here to unblock the issue:

Could we stabilize `is_aarch64_feature_detected`, but *not* stabilize the `pauth` feature yet, and let the discussion about splitting the feature only block stabilization of `pauth` rather than all of `is_aarch64_feature_detected`?

[2021-12-22 21:37] Aaron1011 opened #92211 "Compiletest's "abbreviated" output can be very misleading"
Under certain circumstances, `compiletest` will 'abbreviate' the output of tests:

https://github.com/rust-lang/rust/blob/e100ec5bc7cd768ec17d75448b29c9ab4a39272b/src/tools/compiletest/src/read2.rs#L52

However, the `<<<<<< SKIPPED {} BYTES >>>>>>` can easily be missed. I spent quite a while trying to figure out how the incremental compilation system was getting into a certain state without hittin

[2021-12-22 21:51] tay64 opened #92212 "A procedural macro library can exceed the PE/COFF export ordinal limit on x86_64-pc-windows-gnu"
Please see the [SixtyFPS issue #764](https://github.com/sixtyfpsui/sixtyfps/issues/764).

When building `sixtyfps-rs` on Windows, its procedural macro library fails to build with the linker error `export ordinal too large`.

The library has 70000+ exports (the exact number depends on the rust toolchain version and platform). The majority of the exports are probably unnecessary (they include e.g. s

[2021-12-22 22:11] tmiasko commented on #92109
The responsibility for hooking in EntryExitInstrumenterPass moved from LLVM to Clang in https://reviews.llvm.org/D97608.

[2021-12-22 22:15] Patrick-Poitras commented on #92194
@rustbot label +A-diagnostics +T-compiler

[2021-12-22 22:16] RalfJung commented on #78186
RwLock is indeed an interesting example, thanks! I think I can make sense of how `Pin<&T>` is different from `&T` while it is still okay to convert `&'static T` to `Pin<&'static T>`.

<details><summary>Details of my formal reasoning (probably not very comprehensible)</summary>

* We model the requirement that an rwlock cannot move once the first call is made by imagining that the first call does a

[2021-12-22 22:19] WilliamVenner commented on #92163
I have come across this problem on my own machine.

Please note I am using sscache. `cargo clean` resolves the issue.

[code]

[2021-12-22 22:44] OMGtechy opened #92215 "Bad optimisation of slice equality across platforms and architectures."
All of the information found here can be found and reproduced [here](https://github.com/OMGtechy/memcmp-issue).

The context for finding this problem is this: I was experimenting with string searching algorithms as a way of learning Rust, but when refactoring some code, hit a big performance regression.

The code having performance issues is a naive string search. It can be reproduced with differe

[2021-12-22 22:56] WilliamVenner commented on #92163
Still occurs on `e100ec5bc 2021-12-21` nightly

[2021-12-22 22:57] the8472 commented on #64984
I don't think it's worth optimizing this case. `splice` is far more general; it returns an iterator and has to handle that either being used or dropped, it has to deal with the spliced-in length being larger or smaller than the removed range, it has to handle iterators of unknown length, it may or may not have to move items around etc.

`clear` and `push` on the other hand are very limited in the

[2021-12-22 23:07] RipleyTom commented on #92215
On linux it seems to call bcmp and the direct equality is also slower:
[code]

I also tested this on much more sizeable randomized data and it was consistent.

[2021-12-22 23:10] Manishearth commented on #55467
We are not affected by the homoglyph attack, please see the mitigations that were implemented as a part of this RFC.

[2021-12-22 23:17] ehuss commented on #92185
I'm a bit at a loss.  Reverting #91385 makes the problem go away (both here and my tests with #92173).  However, that PR is not doing anything that should affect any of this, since it is only within an error path.  So my best guess is that PR shuffles the code layout/generation just enough to trigger the underlying issue.

cc @rust-lang/clippy and @rust-lang/miri just as a heads up that clippy and

[2021-12-22 23:23] m-ou-se commented on #92143
I accidentally hyperfocussed and wrote a new (symmetrical) svg:

[code]

![](https://gist.githubusercontent.com/m-ou-se/6ad024814e81746c93126b5931a8e065/raw/142276598dd2690b96ad4a08b21a7dd3664a10f3/logo.svg)

The cogs and holes etc. are all aligned in a perfect circle around the exact middle of the image. The letter `R` is also slightly different, as its lines that appeared aligned (e.g. left and

[2021-12-23 00:02] Mark-Simulacrum commented on #92143
https://github.com/rust-lang/rust-artwork, I suppose, but I don't think anyone is actively tracking PRs currently (or perhaps ever).

[2021-12-23 00:05] eddyb commented on #29594
@newpavlov To expand a bit further: such a pointer could not, in Rust, use the type `&T`, and instead would have to be some kind of wrapper that only produces a `&T` if it can compute a "global" pointer (i.e. one valid across *all* threads).

If `T: Sync`, then `&T: Send` holds and the pointer can make its way into a different thread, as long as it's not *accessed* outside of its original scope. E

[2021-12-23 00:06] chenyang8094 opened #92217 "Why is the semicolon after the return statement optional？"
What is the difference between these two pieces of code?

[code]
and
[code]

`return 3`  is an expression, its type is `i32` and value is 3
`return 3;`  is a statement, and its return type is unit  `()`
but the following two pieces of code can be compiled success, what is wrong with my understanding?

There is a more detailed discussion here, but I think we still haven't figured it out.

https://u

[2021-12-23 00:14] Aaron1011 commented on #92217
@chenyang8094: The type of `return 3` is actually `!` - the [unstable `never` type](https://doc.rust-lang.org/std/primitive.never.html). Anything after a `!` type is produced is unreachable, so the compiler allows `!` to turn into any type (in this case, `i32`).

In the case with the semicolon, it's a little more subtle. The compiler knows that after a value of `!` is 'produced' by the `return` ex

[2021-12-23 00:17] dnavre commented on #91594
@JohnTitor Indeed, tested with the latest nightly this produces various compiler errors and no ICE. Thank you!

[2021-12-23 00:47] OMGtechy commented on #92215
Mentioned to @RipleyTom that a few people on related issues mentioned Ryzen CPUs (they have now updated their post). I am on a 3900X and someone in the Windows thread reported theirs to be a 3900X too. These are all high-end 3rd gen Ryzen CPUs with many cores, known for their memory dependence.

The M1 test goes some way towards generaling the issue, but could just be getting lucky, so I asked som

[2021-12-23 01:18] chenyang8094 commented on #92217
Thank you , I am very satisfied with your answer, and I also found some corroboration in the relevant documents, thank you again for your answer.

https://doc.rust-lang.org/stable/reference/types/never.html
https://github.com/rust-lang/rust/issues/35121

[2021-12-23 01:28] Nytelife26 commented on #79524
That isn't viable whatsoever, as sperse simply means to disperse (and is a highly uncommon archaic form to the extent where I wasn't even aware it was a real thing) and intersparse is not standard English.

I'm more in favour of this, depending on the popularity of specific adaptors. In any case, we need a concrete solution for stabilizing things without needing to worry about external crates. My

[2021-12-23 01:49] #92217 closed

[2021-12-23 01:59] Patrick-Poitras commented on #92209
Seems that this bug is triggered by multiple libraries. See #92178, which is near identical except for the library used.

[2021-12-23 01:59] Patrick-Poitras commented on #92178
@rustbot label +I-prioritize

[2021-12-23 02:00] Patrick-Poitras commented on #92178
This bug seems to be related to #92209.

[2021-12-23 03:00] BGR360 commented on #88079
It's worth noting that in your first example, the diagnostic is showing candidate impls of `From` when it should be showing candidate impls for `TryFrom`.

My guess for why this happens is that trait selection can't satisfy `TryFrom`, so it falls back to trying to satisfy the blanket `impl TryFrom<T> for U where U: From<T>`.

Point being, it's possible that this improvement to the diagnostics can'

[2021-12-23 03:03] Alfriadox opened #92218 "ICE on stable (1.57) in inremental compilation in `hir_module_items`. Likely related to issue #84970"
### Code
See https://github.com/rcos/Telescope/commit/5b86ad50db1e5f22c44fb03a4d44d1944473c9eb. This is hard to minimize because it is unclear to me what is causing this bug.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This issue is likely related to https://github.com/rust-lang/rust/

[2021-12-23 03:07] ehuss commented on #92173
More information about this is over at https://github.com/rust-lang/rust/issues/92185#issuecomment-999935682.  These are likely the same issue, but I am not certain.

[2021-12-23 03:07] BGR360 commented on #88284
@rustbot label +D-terse +D-newcomer-roadblock

[2021-12-23 03:31] BGR360 commented on #87208
Could it be related to this old gem? https://github.com/rust-lang/rust/issues/21974

[2021-12-23 03:36] Patrick-Poitras commented on #91942
@rustbot label +A-lifetimes

[2021-12-23 04:10] compiler-errors commented on #92178
I've minimized this to an `Add` impl on `String`. The `Add` impl was in a 3 crate deep dependency (`libp2p-err-sample` -> `rust-libp2p` -> `libp2p-gossipsub` -> `open-metrics-client`), specifically an `Add<&Prefix> for String` impl introduced at [`open_metrics_client::registry`](https://github.com/mxinden/rust-open-metrics-client/blob/63432f2f58b968c2fa37fc85eca8d310a5e0741e/src/registry.rs#L302).

[2021-12-23 04:12] compiler-errors commented on #92178
Thinking this has something to do with autoderef and impl candidate selection.

[2021-12-23 04:12] compiler-errors commented on #92209
I started investigating this in the other issue #92178.

[2021-12-23 04:37] HTG-YT opened #92221 "ICE: `failed to lookup SourceFile in new context`, On Disk Cache (Likely Incremental Compilation)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This is likely related to incremental compilation (changing the code a bit then recompile is enough to reproduce this ICE after some thorough testing locally).

[2021-12-23 04:39] HTG-YT commented on #92195
I have ran into a similar issue, but that also seems to be related to incremental compilation and is on *latest* nightly: #92221.

[2021-12-23 04:41] HTG-YT commented on #92221
As usual, running `cargo clean` then `cargo build/test/check` resolves the issue.

[2021-12-23 04:54] compiler-errors commented on #92209
haha, okay so this is due to the fact that there's currently only one stdlib candidate `Add<_> for String` in scope. This means when we collect relevant impls for Add, there's only one until you add that `use` (or define an impl locally like I did in the repro minimization).

Adding another relevant impl in scope will cause us to skip the short-circuit in [`SelectionContext::candidate_from_obligat

[2021-12-23 04:55] compiler-errors commented on #92178
haha, okay so this is due to the fact that there's currently only one stdlib candidate `Add<_> for String` in scope. This means when we collect relevant impls for Add, there's only one until you add that `use` (or define an impl locally like I did in the repro minimization).

Adding another relevant impl in scope will cause us to skip the short-circuit in [`SelectionContext::candidate_from_obligat

[2021-12-23 05:15] ehuss commented on #92221
Thanks for the report!

Yes, this is an incremental issue.  You can delete the incremental directory, or use `CARGO_INCREMENTAL=0` to disable incremental compilation.

Closing as a duplicate of #92163.

[2021-12-23 05:15] #92221 closed

[2021-12-23 05:17] ehuss commented on #92187
Thanks for the report!

This is an issue with incremental compilation.  You can delete the incremental directory, or use `CARGO_INCREMENTAL=0` to disable incremental compilation.

Closing as a duplicate of #92163.

[2021-12-23 05:17] #92187 closed

[2021-12-23 05:17] #91492 closed

[2021-12-23 05:17] #91605 closed

[2021-12-23 05:17] #91991 closed

[2021-12-23 05:27] BGR360 commented on #92174
@nikic or @AngelicosPhosphoros can either of you file the appropriate LLVM issue?

[2021-12-23 05:59] compiler-errors commented on #92178
So I was a bit wrong in the previous comment. Let me give a more detailed explanation for why the issue occurs, for the record:

1. In the example code, we're trying to solve the trait obligation `String as Add<_>`. Notice the inference variable -- we haven't yet applied the fact the parameter is `&String`.
2. In the case that we don't have the other `impl Add<Dummy> for String`, we have _only one

[2021-12-23 06:26] workingjubilee commented on #92197
I do not believe `if` guards factor into exhaustiveness checking at all, do they?

[2021-12-23 06:26] screenzen commented on #83106
Hey, I'm getting this error still when trying to archive. Any ideas how to resolve? Thanks!
Invalid value (Producer: 'LLVM13.0.0-rust-1.57.0-stable' Reader: 'LLVM APPLE_1_1300.0.29.3_0') for architecture arm64

[2021-12-23 07:04] arnabanimesh commented on #79524
@Nytelife26 check the RFC where I mentioned this issue. I have detailed a possible approach. You can contribute there. It has to be done in a systematic manner aka the Rust way. One permanent solution for all similar problems.

[2021-12-23 07:17] humb1t commented on #91988
Same thing:
[code]
Also occurs during clippy run: https://github.com/rust-lang/rust-clippy/issues/8158

[2021-12-23 09:41] woppopo opened #92224 "Tracking Issue for `const_any`"
Feature gate: `#![feature(const_any)]`

This is a tracking issue for implementing `const Any`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #92225
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-23 10:00] Frederik-Baetens commented on #92209
Closing as duplicate then.

[2021-12-23 10:00] #92209 closed

[2021-12-23 10:45] apiraino commented on #92010
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392010.20rustc.201.2E59.2E0-nightly.20.28c5ecc1570.202021-12-15.29.3A.20panic.20w.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-23 10:46] apiraino commented on #92113
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392113.20Regression.20in.20diagnostic.20quality.20for.20unimplemented.20t.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-12-23 11:18] #92224 closed

[2021-12-23 11:27] oli-obk commented on #92158
Do you have the object safety failures handy? I'm guessing than non-const uses of the default method are now getting confused by the `Self: ~const Trait` bound's constness

[2021-12-23 11:37] apiraino commented on #91949
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391949.20Exponential.20slowdown.20in.20catching.20an.20.60overflow.60.20error.2E) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-12-23 11:38] AngelicosPhosphoros commented on #92174
Done.
https://github.com/llvm/llvm-project/issues/52851

[2021-12-23 11:42] fee1-dead commented on #92158
I fixed this by changing the object safety checking code to use `predicates_defined_on` instead of `predicates_of`, I will make a PR in a moment.

[2021-12-23 11:49] RalfJung commented on #92185
I assume this is the same problem as https://github.com/rust-lang/miri/issues/1941

[2021-12-23 11:53] RalfJung commented on #92185
At least that is consistent with the regression range from rust-lang/miri#1941.

Miri itself acts as rustc for proc-macros, but it seems (I was not aware of that) it is a different rustc than the "real" one -- it does not use jemalloc? So yeah I assume this is the same as https://github.com/rust-lang/rust/issues/92173. Though I also assume that just masks the error since jemalloc doesn't do the re

[2021-12-23 12:15] taladar commented on #90970
I encountered a related issue today with the pattern parameter on replace

[code]

(no & for s1 in the replace call) results in the error:

[code]

which is misleading because it marks "replace" instead of the first parameter in addition to the issue mentioned above.

[2021-12-23 12:16] apiraino commented on #90817
@patrick-gu  for the code [in the first comment](https://github.com/rust-lang/rust/issues/90817#issue-1051506978) can you identify a previous version of Rust that does not reproduce the issue? I've tried backtracking to really old nightlies and I could not find a version that does *not* reproduce.

I confirm that the snippet [in this comment](https://github.com/rust-lang/rust/issues/90817#issuecom

[2021-12-23 12:28] QiangHeisenberg commented on #91661
Sorry to reply now.

I test a simple program.
The following is the test code and results:
![image](https://user-images.githubusercontent.com/46313511/147240339-12ade9c5-e4bb-4021-9437-c82c11e8446b.png)

![image](https://user-images.githubusercontent.com/46313511/147240148-5c88dee2-0da7-4025-9986-d11eb81515b2.png)
and
![image](https://user-images.githubusercontent.com/46313511/147240381-dc3657de-d9

[2021-12-23 13:02] mwerschy commented on #92054
### Code

I think this is the same bug. [Playground repro](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8cebb792c98186abf27be3e27e534037).

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-23 14:23] Amanieu commented on #86941
I support this solution to unblock the FCP.

[2021-12-23 14:50] hkratz commented on #91661
@QiangHeisenberg Do you get the same results using the instructions in the Unstable book and llvm-cov as @richkadel suggested?

[2021-12-23 15:07] djc commented on #92173
I also ran into this a while ago, reported it against rayon initially: https://github.com/rayon-rs/rayon/issues/901.

[2021-12-23 15:30] fee1-dead opened #92230 "`const_trait_impl`: super trait not satisfied for generic impl"
I tried this code:

[code]

I expected to see this happen: the code compiles successfully

Instead, this happened: compiler errors saying that ```error[E0277]: the trait bound `A: Super` is not satisfied```

cc @rust-lang/wg-const-eval

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d34672299e19128b2760f3813fabcb41)

[2021-12-23 17:12] nbdd0121 commented on #81513
Metadata unsizing could be done today:
[code]

So we could have a new-type wrapping around metadata to create a "strongly typed" metadata:
[code]

[2021-12-23 18:54] Aaron1011 commented on #92218
@Alfriadox Do you know what changes you were making before this ICE occured?

[2021-12-23 18:57] OMGtechy commented on #92215
I tried to write an equivalent test for C++, using g++ and clang++, and got similar results.

g++
[code]
clang++
[code]

If the g++ results were wildly different from clang++'s, I'd point the finger at LLVM. However, g++ seems to have similar issues. In all the slower cases, we have a `memcmp` or `bcmp`. Sure, `memcmp` does a little more than equality, but since this is an equality operator for a

[2021-12-23 19:01] Alfriadox commented on #92218
@Aaron1011 I was adding code to an entirely separate module in a different folder.    Only other thing that changed was that I updated crate version in cargo and added a dependency.

[2021-12-23 19:07] Alfriadox commented on #92218
It it helps, a large amount of the module in question is generated by a proc macro from the `graphql_client` crate

[2021-12-23 19:28] Aaron1011 commented on #92218
I've managed to reproduce a similar crash in the incremental compilation system, which I think has the same root cause as your issue. I'll be opening a pull request later today.

[2021-12-23 19:33] Alfriadox commented on #92218
Oh that's great! Please tag me or reference Issue so that I can stay up to date if this gets fixed :)

[2021-12-23 19:43] #91128 closed

[2021-12-23 20:08] slightlyoutofphase opened #92234 "rustdoc: the pointer docs currently render no less than four separate types in a single main "Methods" list"
[See here.](https://doc.rust-lang.org/core/primitive.pointer.html)

This was frankly always somewhat confusing even when it amounted to solely the sometimes-identically-named `*const T` and `*mut T` methods, but has recently become IMO borderline unnavigable due to the further addition of the methods from `*const [T]` and `*mut [T]`.

If at all possible, it seems like it would ultimately be good o

[2021-12-23 20:56] camelid commented on #91201
But why are the newlines in the `#[doc = "..."]` stripped?

[2021-12-23 21:36] slightlyoutofphase commented on #85618
FWIW, I originally opened that issue with something more like a directly configurable way of specifying the page layout order for your own crate in mind. I still think that would ultimately be the best solution here.

[2021-12-23 22:09] DrRuhe opened #92235 "Internal Compiler Error: 'rustc' panicked at 'failed to lookup `SourceFile` in new context'"
I've gotten an Internal Compiler Error.

I was changing a &str constant in a test case and suddenly the error logged below popped up.

It seems to me as the error is somehow related to cargo/rustc caching for incremental compile.

### Code
Before error:
[code]
Threw error:
[code]
Since this should have nothing to do with the error itself, I doubt I can create a reliable minimal working example.

#

[2021-12-23 22:12] compiler-errors commented on #92100
Minimized this a tiny bit further, and I have a detailed explanation why this occurs:

[code]

So this bug first starts going wrong in late resolution. Specifically, [`LateResolutionVisitor::resolve_pattern_late`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_resolve/src/late.rs#L1631) walks through the pattern first over all of the pattern variants via `ast::Pat::walk`, trying to g

[2021-12-23 22:13] compiler-errors commented on #92100
Wonder how difficult it would be to make `PatKind::Range` have subpatterns instead of subexpressions...

[2021-12-23 22:34] #43469 closed

[2021-12-23 22:57] compiler-errors commented on #92100
Actually, I don't think fixing this just for ranges is sufficient. I can reproduce this same issue with this:

[code]

Maybe I can just delay this panic as a span bug, since we're always gonna error out anyways.

[2021-12-23 23:03] ehuss commented on #92235
Thanks for the report!  This is a known problem with incremental compilation on the nightly channel.  You can delete the incremental cache, or use `CARGO_INCREMENTAL=0` environment variable to disable it.

Closing as a duplicate of #92163.

[2021-12-23 23:03] #92235 closed

[2021-12-23 23:32] BGR360 commented on #92195
@rustbot label +A-incr-comp

[2021-12-23 23:49] noahols opened #92236 "incremental compilation error with explicit_predicates_of, item_children"
This error is related to #84970.
This error is caused by running cargo check or cargo doc with an incremental cache.
I believe the cache is from a previous rust version. (Currently using 1.55.0)
Cargo build works fine.

### Code
I don't believe I can create a minimal verifiable example because this bug relies on the incremental cache. Changing anything causes recompilation and avoids the error. I

[2021-12-24 00:08] compiler-errors commented on #92100
@rustbot claim

[2021-12-24 00:25] ratulb commented on #86423
In that case - ```has_data_left``` might not behave the same way for TCP and File IO.

[2021-12-24 00:57] patrick-gu commented on #90817
@apiraino The code in the first comment compiles on 1.8.0 but not on 1.9.0. The error message for 1.9.0 is:
[code]
with no mention of a cycle.

In 1.22.0, the error message mentions a cycle:
[code]

[2021-12-24 01:05] matthiaskrgr opened #92240 "incremental ICE: StableHasher: unexpected region '_#44 compiler/rustc_middle/src/ty/impls_ty.rs:97:17"
### Code
code from `./src/test/ui/packed/packed-struct-drop-aligned.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
run twice:
`rustc  -Cincremental=/tmp/rustc_testrunner_tmpdir.2I9T7oVVCP7x  -Zincremental-verify-ich=yes  --crate-type lib ./src/test/ui/packed/packed-struct-drop-aligned.rs`
`rustc  -Cincremental=/tmp/rustc_testrunner_tmpdir.2I9T7oVVCP7x  -Zincremental-ve

[2021-12-24 01:06] matthiaskrgr commented on #83085
Still crashing with `rustc 1.59.0-nightly (34926f0a1 2021-12-22)`

[2021-12-24 01:23] workingjubilee commented on #91872
Thank you, it looks like it was in fact that PR then and that did in fact fix it, it seems.
Ah, I suppose we could also check rust-lang@477fd7038c235689913abf9208dfa9371cbacd88, but I will likely do that when I try to reimplement splatting.

[2021-12-24 01:38] YuhanLiin commented on #86423
For files, EOF is reached when the file pointer is at the end of the file and nothing can be read. In that case, `has_data_left` reads nothing and returns false. For TCP streams, EOF means that the connection has terminated. In that case, `has_data_left` detects that the TCP connection has terminated and returns false. The thing with TCP is that the other side needs to shut down the connection exp

[2021-12-24 01:53] JohnScience commented on #48055
I'm not sure how exactly how such (https://stackoverflow.com/questions/70463366/the-data-structure-that-is-the-result-of-stack-based-flattening-of-nested-homoge) data structure for some known dimensionality (=level of nesting) should interact with allocation on the heap. It seems that my data structure must keep track of its lengths in terms of gcd(sizeof(T), sizeof(usize)) and allow conversion to

[2021-12-24 02:36] saethlin commented on #92173
Yes, I've reached out to a friend.

[2021-12-24 02:48] chenyang8094 commented on #92217
If` return 3` is actually `!` type , why the following code can't work,  the compiler allows `!` to turn into any type , in this case, `() `unit type. ?
[code]
or
[code]
or
[code]

[2021-12-24 03:00] glandium opened #92241 "Alignments > 32 don't work on TLS on macos"
Edit: this is not what's going on, see https://github.com/rust-lang/rust/issues/92241#issuecomment-1000656624

Original report, for posterity:
<details>

STR:
- `cargo new testcase ; cd testcase`
- Take the example code from the [LocalKey documentation](https://doc.rust-lang.org/std/thread/struct.LocalKey.html#examples) (I stopped after the first `FOO.with()`) and stick it in `src/main.rs`.
- carg

[2021-12-24 03:05] compiler-errors commented on #92240
Think I've got a fix.

@rustbot claim

[2021-12-24 03:35] compiler-errors commented on #92010
I think this is a duplicate of #91502, and I also put up a fix in #91538 (along with both you and @Aaron1011 in #92083) which has been waiting for a review for quite some time..

Not sure which one of our PRs should be approved, but at least one of them should :^)

[2021-12-24 03:44] lilyball commented on #92173
@saethlin Has a radar been filed for this, and if so, what’s the radar number?

[2021-12-24 04:10] eddyb commented on #92241
It should be easier to make a simpler example by using `#[thread_local]` directly and `rustc`:
[code]

For better readability, just the header and the `.tadata.FOO` entry:
[code]

So `x86_64-unknown-linux-gnu` works as intended, and the `align 8` makes it from LLVM IR to ELF.
To be clear, [the LLVM IR](https://godbolt.org/z/Ye5efnbdP) contains the `align 8`:
[code]

I can't see how `x86_64-apple-d

[2021-12-24 05:05] glandium commented on #92241
It turns out the original problem is likely a bug in rand_chacha/ppv_lite86.

But while looking into this, I also found out that alignments > 32 don't work on TLS on macos at all...

[2021-12-24 05:20] eddyb commented on #92241
Related: #90959. cc @rust-lang/wg-llvm

This might not be fixable in LLVM if the platform refuses to support the usecase, short of reserving extra space and generating runtime alignment logic - we may "just" want to error instead (if we know upper bounds).

[2021-12-24 05:29] glandium commented on #92241
It's the same thing. I might just have been lucky when testing alignment == 32.

Duplicate: #90959

[2021-12-24 05:29] #92241 closed

[2021-12-24 05:30] compiler-errors commented on #92148
Minimized this further:

[code]

This is probably a dupe of #90319 and we're waiting for #91238 to fix this class of ICEs.

[2021-12-24 06:27] glandium commented on #92241
It turns out it's likely a bug in lld.

[2021-12-24 06:55] solotzg commented on #92193
Maybe.
It can works as expected if I replace `||` by `|` in `fn check`

[2021-12-24 07:04] petrochenkov commented on #85309
Just got this error while linking `rustc_driver` with incremental enabled (not for the first time).

[code]

[2021-12-24 07:04] petrochenkov commented on #81280
Just got this error while linking `rustc_driver` with incremental enabled (not for the first time).

[code]

[2021-12-24 07:04] petrochenkov commented on #86049
Just got this error while linking `rustc_driver` with incremental enabled (not for the first time).

[code]

[2021-12-24 07:05] petrochenkov commented on #86049
cc https://github.com/rust-lang/rust/issues/85309 https://github.com/rust-lang/rust/issues/81280

[2021-12-24 07:05] petrochenkov commented on #85309
cc https://github.com/rust-lang/rust/issues/81280 https://github.com/rust-lang/rust/issues/86049

[2021-12-24 07:05] petrochenkov commented on #81280
cc https://github.com/rust-lang/rust/issues/85309 https://github.com/rust-lang/rust/issues/86049

[2021-12-24 08:09] #56166 closed

[2021-12-24 08:10] rust-highfive opened #92246 "`miri` no longer builds after rust-lang/rust#91342"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91342, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-12-24 09:01] glandium commented on #92241
For the curious: https://reviews.llvm.org/D116263

[2021-12-24 09:36] compiler-errors commented on #92128
I've got a fix for this.

@rustbot claim

[2021-12-24 09:38] compiler-errors commented on #91446
I've confirmed this is fixed by the same fix I'll be putting up for #92128.

@rustbot claim

[2021-12-24 09:59] petrochenkov commented on #81280
Again:
[code]

[2021-12-24 10:07] apiraino commented on #92010
thanks @compiler-errors for the note! I'll also add (as a self-reminder) that in #92083 Aaron also [mentions](https://github.com/rust-lang/rust/pull/92083#issuecomment-998412444) that #92112 might be a better fix.

[2021-12-24 10:20] nsabovic commented on #39915
I compiled a relatively large project with ~450 dependencies that's a GRPC service that does raytracing, so a bunch of different kinds of dependencies. I have an M1 Mac so my config was:

[code]

For this to work I used Xcode.app and LLVM installed with Homebrew (`brew install llvm`).

The binaries worked just fine, the test suite passed. Looking at the file sizes, they were comparable if a tiny b

[2021-12-24 10:41] dvc94ch commented on #39915
Working on a cross compile toolchain for all platforms using distro supplied clang/lld. Copies the relevant parts from a GitHub runner and publishes a release. Still tweaking the .cargo/config for the example app to build.

- [0] https://github.com/cloudpeers/xcross

[2021-12-24 11:01] bigdogs opened #92250 "compile error on android target"
### Code

 Just build a simple project, with command `cargo +nightly build -Z build-std=std,panic_abort -Z build-std-features=panic_immediate_abort`.  It works for ios, but failed for android target.

seems panic on here in source code.

![image](https://user-images.githubusercontent.com/20614926/147347168-6d843854-f872-4747-af95-cf1565c6c964.png)

### Meta

`rustc --version --verbose`:
[code]

##

[2021-12-24 11:10] GuillaumeGomez commented on #91201
Oh, I didn't see that. I think it's because we use `trim` to remove whistespaces which also removes backlines. We should instead merge all doc comments before doing anything.

[2021-12-24 11:57] oli-obk commented on #90912
We got "preliminary lang team approval" to just allow trait bounds, trait objects and fn ptrs in const fn, but not allow using them in any const way beyond accessing associated consts. So no method calls or anything. I think the right way forward would be to split the feature gates, but tbh, I think it would be totally fine to just open a PR that stabilizes trait bounds, trait objects and fn ptrs

[2021-12-24 12:01] OSS542 commented on #92160
I tried this using 1.57.0 and got a rather different result:

When building firefox 91.0.1 using rustc-1.57.0 the following command is used as part of the process :

SHELL=/bin/sh ./mach build 2>&1 | tee $wrkdir/build.log

The build will hang at a point difficult to determine with no error messages emitted.

When the following command is used instead (restricted to single 'make' job, verbosity ena

[2021-12-24 12:08] fee1-dead commented on #90912
I would rather use the term "remove" than to "stabilize" here, but could it be confusing to users on whether the restriction was lifted or remained an error just like without the feature gate?

[2021-12-24 12:16] eddyb commented on #90959
Cross-posting @glandium's comments from https://github.com/rust-lang/rust/issues/92241#issuecomment-1000734980:

I'm not sure if that `lld` bug is the issue here, I vaguely remember something about some platform not supporting arbitrary alignments, but maybe that's not the case and whoever hit this was also using `lld`?

[2021-12-24 12:24] oli-obk commented on #90912
Yea, the terminology is weird. How about "removing an unnecessary and circumventable feature gate", wordy but doesn't suggest we get const trait bounds

[2021-12-24 12:54] o01eg opened #92255 "Rustc cannot started when system LLVM changed supported targets"
https://bugs.gentoo.org/735154#c3
[code]
Currently `rust/compiler/rustc_llvm/src/lib.rs` loads those symbols statically. Could it be possible to use dynamic symbols loading to fix this issue?

[2021-12-24 13:31] terrarier2111 commented on #91803
I found a fix for this and https://github.com/rust-lang/rust/issues/91801 i will open a pr in the next few days.

[2021-12-24 15:49] X01XX commented on #46379
Allowing dead code warnings, and running "cargo test", seems to show truly dead code warnings.

[2021-12-24 16:25] #92246 closed

[2021-12-24 16:53] Thomasdezeeuw opened #92258 "ICE: panicked at 'index out of bounds: the len is 153 but the index is 167', compiler/rustc_query_impl/src/on_disk_cache.rs"
### Code

N/A.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-24 16:53] Thomasdezeeuw commented on #92258
P.S. a `cargo clean` resolved the issue.

[2021-12-24 17:21] Thomasdezeeuw commented on #92258
Another backtrace, seems to be the same.

<details>

[code]

</details>

[2021-12-24 17:46] Aaron1011 commented on #92218
I've opened https://github.com/rust-lang/rust/pull/92259 which should fix this issue.

[2021-12-24 17:47] Aaron1011 commented on #92236
I believe that this should be fixed in the latest versions of the compiler.

[2021-12-24 17:50] Aaron1011 commented on #92258
This looks like another issue caused by the fact that we don't hash `Span`s in some cases. It should be fixed by https://github.com/rust-lang/rust/pull/92210

[2021-12-24 18:36] noahols commented on #92236
You're right. Thanks and sorry for the mis-report.

[2021-12-24 18:36] #92236 closed

[2021-12-24 18:41] Aaron1011 commented on #92236
@noahols Don't worry - it's always fine to open an issue for incremental compilation bugs, since it can be very difficult to tell if a new version fixes it or not.

[2021-12-24 19:01] Alfriadox commented on #92218
Awesome! Looking forward to it's merge

[2021-12-24 20:46] glandium commented on #90959
The lld bug is that an alignment of 16 is not respected if the TLV data section sizes don't line up properly. I took a look at the underlying issue with thread-local data alignment on macos, and what's going on is that `tlv_get_addr`, which allocates the thread-local data and initializes it from the TLV data sections in the binary just does `malloc(); memcpy(); pthread_setspecific();`. It doesn't

[2021-12-24 21:19] JanBeh opened #92263 ""index out of bounds" in on_disk_cache.rs (until running cargo clean)"
### Code

I cannot provide a minimal verifiable example as it happens in a larger project that is not public yet. The error is only reproducable until I enter `cargo clean`. I have experienced this (or a similar problem) several times. After `cargo clean` my code always compiles properly (assumingly).

I'm using the following unstable features:

[code]

If there is anything I should do to narrow t

[2021-12-24 21:31] Aaron1011 commented on #92263
Duplicate of https://github.com/rust-lang/rust/issues/92258

[2021-12-24 21:31] #92263 closed

[2021-12-24 22:14] bwinton opened #92265 "internal compiler error: unexpected panic"
Apologies for the poor title, but I'm not sure what to put there… 🙂

### Code

https://gist.github.com/0f61ed0d930363d807431f16cb055b5a

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2021-12-24 22:18] Aaron1011 opened #92266 "`HashStable` caching does not take into account `StableHashingContext` settings"
In some places, we have `HashStable` implementations that cache a computed `Fingerprint` to avoid re-computing it:

https://github.com/rust-lang/rust/blob/aad4f1039fd5d6bf961ed08eebc6eb69b577f1be/compiler/rustc_middle/src/ty/impls_ty.rs#L14-L22

https://github.com/rust-lang/rust/blob/aad4f1039fd5d6bf961ed08eebc6eb69b577f1be/compiler/rustc_middle/src/ty/adt.rs#L136-L140

https://github.com/rust-lan

[2021-12-24 23:12] #74362 closed

[2021-12-24 23:13] BGR360 commented on #92265
The code you provided in the gist isn't enough to attempt a repro on my end, I'm missing a few things:

[code]

Is there by any chance a git repo that I can clone and a revision that I can checkout that has the code in the same state it was in when you encountered the ICE?

[2021-12-24 23:41] BGR360 commented on #92174
Interesting @AngelicosPhosphoros in the example you posted on the LLVM issue, you used `<` and it still didn't remove the bounds check. In the Rust example, using `<` resulted in well-optimized code, but `<=` didn't. What could be causing this difference?

[2021-12-24 23:52] bwinton commented on #92265
I'm not pushing the code yet, but I took some time to trim down the sample, and have published a new revision at https://gist.github.com/bwinton/0f61ed0d930363d807431f16cb055b5a that runs on its own and still has the error. If I comment out the `level.sort();`, it all works correctly (I mean, it gives me a bunch of dead_code warnings, but it compiles cleanly)…

[2021-12-25 00:05] BGR360 commented on #92215
In all of the asm outputs you provided, the manual version compiles with no `call`s, whereas the equality version calls a memcmp-like function.

Could it be that simple? The overhead of all the `call`s compared to inlining the comparisons? The slices you have in your benchmark are rather small...

[2021-12-25 00:20] dwrensha opened #92267 "assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):
[code]

[code]

[2021-12-25 00:20] BGR360 commented on #92265
Amazing! That is immensely helpful.

I was able to reproduce, here's the backtrace with `RUST_BACKTRACE=full`:

<details>

<summary>Backtrace</summary>

[code]

</details>

This issue does not occur on stable 1.57 nor on beta-1.58:

[code]

I'm going to try to bisect to find which revision broke things.

@rustbot label +regression-from-stable-to-nightly

[2021-12-25 00:21] dwrensha commented on #92267
searched nightlies: from nightly-2021-01-01 to nightly-2021-12-24
regressed nightly: nightly-2021-10-02
searched commits: from https://github.com/rust-lang/rust/commit/aa7aca3b954131720df725e70d12e902eb3be1de to https://github.com/rust-lang/rust/commit/c02371c442f811878ab3a0f5a813402b6dfd45d2
regressed commit: https://github.com/rust-lang/rust/commit/b6057bf7b7ee7c58e6a39ead02eaa13b75f908c2

<deta

[2021-12-25 00:31] BGR360 commented on #92265
Oh wait, I'm sorry, the beta that I have installed is more recent than your nightly:

[code]

So it appears this has been fixed. And indeed, doing a quick issue search for `mutability_errors.rs`, I found: https://github.com/rust-lang/rust/issues/92172 which links to https://github.com/rust-lang/rust/pull/91212.

Use `rustup` to get a more recent nightly and that should fix you.

@rustbot label -re

[2021-12-25 01:00] dwrensha commented on #92267
The regression happened in #89340. cc @FabianWolff.

[2021-12-25 01:18] jwatt commented on #33159
In addition to setting `PYTHONPATH` you **also** need to add the lines jimblandy gave to your .gdbinit:

[code]

[2021-12-25 01:20] bwinton commented on #92265
That's great to hear!
I might wait until tomorrow, when the [Advent of Code](https://adventofcode.com/) ends, just so that I don't have to spend time fixing anything that might have changed since I last upgraded… 😉

[2021-12-25 01:31] BGR360 commented on #92215
Yeah, as soon as I make the needle and haystack a little bigger, the memcmp version leaves the other one in the dust:

[code]

[code]

On my M1 mac, the breakpoint where the memcmp one starts to win is when the needle is 16 elements:

Haystack = 150 elements:
Needle = 15 elements:
[code]

Haystack = 150 elements:
Needle = 16 elements:
[code]

Probably because the memcmp function starts to use some

[2021-12-25 01:33] BGR360 commented on #92265
Cool. Mind closing the issue?

[2021-12-25 01:42] BGR360 commented on #92197
Looks like nope ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=397ba1937f1a8691d9f73f0a718e4026)):

[code]

[code]

[2021-12-25 01:54] BGR360 commented on #92267
@rustbot label regression-from-stable-to-stable

[2021-12-25 02:00] BGR360 commented on #91883
@rustbot label +D-papercut +D-terse

[2021-12-25 03:08] #92265 closed

[2021-12-25 04:17] teamcenter-vip opened #92270 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value',"
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85
stack backtrace:
   0: rust_begin_unwind
             at /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/library/std/src/panicking.rs:517:5
   1: core::panicking::panic_fmt
             at /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/library/core/src/panicking.r

[2021-12-25 04:18] teamcenter-vip commented on #92270
when  export RUST_BACKTRACE=full

thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85
stack backtrace:
   0:     0x7fb16ee48a9c - std::backtrace_rs::backtrace::libunwind::trace::hf6a6dfd7da937cb0
                               at /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/library/std/src/../../backtrace/src/bac

[2021-12-25 04:30] Tamschi opened #92271 "thread 'rustc' panicked at 'assertion failed: !value.has_escaping_bound_vars()'"
I don't know how actionable this is, but it's probably better if I report this than not.

I get the error only when compiling in debug mode, both on stable and nightly.
With `--release`, it just works without any warning.

### Code

?

Sorry, I really don't know how to narrow this down.

For what it's worth, this is a server-side web frontend project with a macro DSL that's translated into rather

[2021-12-25 05:04] teamcenter-vip commented on #92270
cargo clean and cargo build resolves it

[2021-12-25 05:04] #92270 closed

[2021-12-25 09:22] woppopo opened #92272 "ICE: Can't to use a reference of a type that implements `Allocator` as an allocator."
### Code

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=738f2c119096284ab5d7aba6ce523295)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-25 09:24] QiangHeisenberg commented on #91661
@hkratz thank you for your reply. I followed the steps in the [unstable book](https://doc.rust-lang.org/stable/unstable-book/compiler-flags/instrument-coverage.html#enable-coverage-profiling-in-the-rust-compiler) to test. The effect is better, but I still haven't explained my doubts.
After installing the required tools, my running steps are:
[code]
There are still undetected codes in the file ```.

[2021-12-25 09:36] woppopo commented on #92272
Oh, this issue is a duplicate of #90201 #78459

[2021-12-25 09:36] #92272 closed

[2021-12-25 10:49] joergbrech commented on #44265
Merry Xmas, everyone! :wave: 🎄

Is there a reason, why the following implementation should not be allowed?

[code]

It currently errors:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d4dbceabae2cd757a446dcb0ba35c623)

I am allowed to `impl<T> MyTrait for Box<T>`, so why not for `<Baz as Foo>::Bar<T>`?

[2021-12-25 11:07] Freax13 commented on #44265
I guess the problem is that `T` is not always part of the type `<YourType as Foo>::Bar<T>`:
[code]
If you did the same with this example, you'd have implementations with different `T`'s  for the same `<Qux as Foo>::Bar<T>` (`i32`).

On the other hand you could argue that the compiler should be able to figure out that that's not the case for `Baz`.

[2021-12-25 11:12] joergbrech commented on #44265
Ah good point!

Yes, that would be awesome.

[2021-12-25 11:51] RipleyTom commented on #92215
Yes it makes sense, the extra cost of memcmp probably comes from the call + the size checks to see if it can use some optimizations.

If it can it's much better than byte per byte.

:+1:  for being more thorough than me(I checked with a much bigger haystack but I didn't check with different needle sizes :facepalm: ).

[2021-12-25 12:50] dwrensha commented on #90871
searched nightlies: from nightly-2021-01-07 to nightly-2021-12-24
regressed nightly: nightly-2021-07-26
searched commits: from https://github.com/rust-lang/rust/commit/d9aa28767287670df6cf823b94629122e04442c0 to https://github.com/rust-lang/rust/commit/9c25eb7aa3a71fb951564b0ddf131be59c2c951d
regressed commit: https://github.com/rust-lang/rust/commit/478126c0f3520ccd95a6f16be2812a78e3da711c

<deta

[2021-12-25 12:51] dwrensha commented on #90871
This regressed in #86438. cc @FabianWolff

[2021-12-25 12:56] dspadea opened #92275 "Compiler error compiling a yew project (wasm32-unknown-unknown target)"
### Code

Doesn't seem to be code-related. `rm -rf target` seems to fix it. The issue didn't show up in nightly, but it's possible that's because nightly did a clean rebuild.

### Meta

Issue did not present on nightly (1.59.0-nightly (475b00aa4 2021-12-24)), BUT this seems to have been some sort of issue with the target/ directory (see above). Nightly did a clean rebuild, which also seemed to fix

[2021-12-25 13:05] dspadea commented on #92275
Looks like this might be a duplicate of #92195, perhaps?

[2021-12-25 13:08] dspadea commented on #92275
Yeah - found some other issues that look similar enough that I'm guessing this is the known incremental compilation issue being worked on in #91919. Closing this one.

[2021-12-25 13:08] #92275 closed

[2021-12-25 15:03] LeSeulArtichaut commented on #92190
This seems to be fixed on nightly:

[code]

[2021-12-25 15:23] alper opened #92276 "Documentation addition request"
I'm trying to implement Debug occasionally, then I hit this page:
https://doc.rust-lang.org/stable/core/fmt/trait.Debug.html

The examples on that page do not contain something that uses `write!` so I usually google my way to the same SO answer: https://stackoverflow.com/a/22243806/102315

Could the documentation there be expanded to add this?

[2021-12-25 16:25] name1e5s commented on #92250
It seems that cc can’t find your compiler, have you set your NDK properly?

[2021-12-25 16:43] sfackler commented on #92276
The standard way to implement debug is to use the debug builders `fmt.debug_struct(..)`, which is documented there.

[2021-12-25 19:47] sportelliluciano opened #92279 "thread 'rustc' panicked at 'attempted to read from stolen value: rustc_middle::mir::Body'"
Hello, while trying to build a project I hit an ICE. Unfortunately, I could not isolate the bug. It seems to be related to incremental builds because when I removed the `target` directory it started working again. I'm not providing the whole code because I couldn't reproduce the bug but I'll try to give you some context.

The project consists of three crates:
 - A "traits" crate, which provides so

[2021-12-25 20:34] kahomayo opened #92280 "GAT: `Self: 'a` bound cannot be added for types which store a generic T that is further constrained by the `impl`"
Within an `impl<T: Trait1> Trait2 for Struct<T::Foo>`, a GAT bound of `Self: 'a` does not compile, asking me to add an explicit `T::Foo: 'a` bound.

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=76128161fa550519c3bb3f4f8fd2e744)

[code]

This code results in two errors:

[code]

I believe that the `E0309` error is a bug, as since `key` is known in this `impl

[2021-12-25 21:04] BraulioVM opened #92281 "Higher-Rank Trait Bounds: incorrect (or misleading) diagnostic"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f04b02c95cd4647878759f1a4f0abf30

[code]

The current output is:

[code]

Note the following lines specially:

[code]

where the expected and the found types are the same. I'm not sure if this is a compiler bug because I'm not very familiar
with HRTBs, but the diagnostic could be better. I can't reall

[2021-12-25 21:37] doy opened #92282 "incorrect type is inferred for a local variable holding a closure"
I tried this code:

[code]
(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f40ec4a2d13b41aa91d6a48ee04214bf)

I expected to see this happen: this should compile, because this equivalent(?) code compiles:
[code]
(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2809e18e87c789f7591fe7ed57d13ba1)

the only difference here is the intermediate variable

[2021-12-25 23:58] nico-abram commented on #88580
I think this is pretty clearly a bug somewhere, and unwanted behaviour. If it was not considered as such, someone would probably close this issue/ticket.

As hellow554 mentioned above, the time is being spent in LLVM, which is C++ code and not directly part of this repository. The rust compiler typically uses LLVM as the backend to generate and optimize it's output (Usually machine code). I would

[2021-12-26 01:27] BGR360 commented on #92282
I think this is probably the same as https://github.com/rust-lang/rust/issues/87079. Both can be made to compile by adding a type annotation to the closure parameter.

For your code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7fc9f69c37dd7c74d905340eee39f06e)):

[code]

@rustbot label +T-compiler +A-lifetimes +A-closures

[2021-12-26 01:41] dtolnay commented on #45939
Fixed in nightly-2021-07-06, likely by #86282.

[2021-12-26 01:41] #45939 closed

[2021-12-26 01:43] dtolnay commented on #60543
Fixed in nightly-2021-07-06, likely by #86282.

[2021-12-26 01:43] #60543 closed

[2021-12-26 01:43] dtolnay commented on #60543
The new rustdoc shows:

[code]

[2021-12-26 01:48] BGR360 commented on #92281
@rustbot label +A-lifetimes +A-closures +A-impl-trait +D-terse +D-confusing

[2021-12-26 02:14] BGR360 commented on #92279
See also https://github.com/rust-lang/rust/issues/91015

[2021-12-26 02:30] BGR360 commented on #92276
I think this is a very reasonable ask. It doesn't make much sense to use the debug builders for very simple implementations of `Debug`, and for those just starting out, and the importance of using the builders for more complicated Debug impls is minimal.

@alper you'd be welcome to submit a PR with a proposed example! You just need to edit the rustdoc comment for `Debug`:

https://github.com/rust-

[2021-12-26 02:39] bigdogs commented on #92250
@name1e5s  Is there need any other setups to make android targets works?      It's ok if I just run `cargo build --target  <android>`, but when I add some features to make binary small, it will fail with above error. e.g. `carg build --target <android>  +nightly build -Z build-std=std,panic_abort -Z build-std-features=panic_immediate_abort`. so what's the difference between that ?

[2021-12-26 02:41] OMGtechy commented on #92215
I just retested with a longer needle on M1 Mac, and it does indeed make a big difference. In fact, the memcmp version appears to be _quicker_ with a larger needle.

[code]

I am guessing this is because it's doing something boyer-moore-horspool-esk and is spending its time building something semantically equivalent to a bad match table - the overhead of which might be dominating.

I plan on rerunn

[2021-12-26 02:42] BGR360 commented on #92271
Providing the entire piece of code (even as a link to a GitHub repo or as a zip file) would be better than not providing any, especially if you can reliably reproduce the error with it.

If you'd like to try narrowing it down to the relevant part of the code, look at the query stack:

[code]

So at minimum, it would be good to see the definition of `lignin::Node`

@rustbot label +E-needs-mcve

[2021-12-26 02:46] BGR360 commented on #91603
@rustbot label +E-needs-mcve

[2021-12-26 03:16] the8472 commented on #77404
For discussion: #92284 which changes the return type to `usize`. The change does simplify a few things.

[2021-12-26 03:21] BGR360 commented on #92215
I don't think this makes much sense. Isn't that an algorithm for substring searching? The only part that's out of your control here is the memcmp loop; that's just doing a single loop comparing memory. Any funky search algorithm would have to be happening in your Rust code, in lieu of the window iteration you're doing.

My guess as to why it's faster is that it starts using larger integer comparis

[2021-12-26 03:52] smmalis37 commented on #92281
This looks like the kind of thing https://github.com/rust-lang/rust/pull/85499 was addressing?

[2021-12-26 04:15] BGR360 commented on #92282
An interesting Zulip conversation I stumbled across that explains why adding that type annotation fixes things:

https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Borrow.20error.20on.20closure.20argument.20in.20loop

[2021-12-26 04:39] BGR360 commented on #92280
@rustbot label +F-generic_associated_types +T-compiler

[2021-12-26 05:49] Tamschi commented on #92271
I'll see if I can make a small project in the next few days, since the one this is happening on isn't ready for publishing.

For now, `Node` is this fairly plain `enum` here: <https://docs.rs/lignin/0.1.0/lignin/enum.Node.html>
The only thing special about it is that the types set as generic parameters for `DomRef` are vacant while I'm not compiling lignin with the `"callbacks"` feature, which I'm

[2021-12-26 06:05] BGR360 commented on #91942
Looks like this is due to the invariance of `&mut State<'db, 'a>` with respect to `'db` and `'a`.

Variance is a somewhat advanced and confusing topic in Rust. I recommend you give this page a read: https://doc.rust-lang.org/nomicon/subtyping.html#variance. In short, though, mutable references have stricter effects on the pointee type's associated lifetime(s) than immutable references do.

I teste

[2021-12-26 06:22] BGR360 commented on #91494
Is Clippy really an appropriate place to provide this help? I thought Clippy was just for suggesting improvements to code that already compiles.

I could imagine a very generalized suggestion in rustc that handles this case and probably many others. Basically we could search for impls of `Deref` where the `Target` type is the same type that the user is trying to invoke the method on, and the `Self

[2021-12-26 06:41] BGR360 commented on #91428
Probably, like when you know you just want to spawn the subprocess in the background without waiting for it.

Maybe someone can make an argument that that's bad practice, but even still, if you add `#[must_use]`, then that's a breaking change isn't it?

[2021-12-26 06:45] BGR360 commented on #91440
Can anybody more familiar with rustdoc put an E-{easy,medium,hard} and/or an E-mentor on here?

[2021-12-26 06:49] BGR360 commented on #91420
Might there be cases where a user would purposefully use `&mut self` in order enforce mutual exclusion, even if they are not necessarily mutating anything? In such cases I would imagine it would be very annoying to have this warning.

[2021-12-26 06:53] BGR360 commented on #91417
This seems pretty severe. I'm a novice contributor, but I do have an M1 device if there's anything I can do to aid the development of a fix here.

Also, should this get some sort of I-prioritize doohickey?

[2021-12-26 07:09] inquisitivecrystal commented on #91428
It isn't strictly speaking a breaking change. `unused_must_use` is a warn-by-default lint, and adding one of those isn't generally considered breaking.

On the other hand, that's not the only factor to be considered. There's the user experience element. We don't want to even warn by default unless we think they're likely to be making a mistake, since overwhelming people with warnings makes the lan

[2021-12-26 07:22] BGR360 commented on #91335
@rope-hmg any update?

[2021-12-26 07:50] BGR360 commented on #91063
PR merged, issue can be closed?

[2021-12-26 08:36] selvavm opened #92286 "HashMap not rendered properly when using MSVC debugger"
When I was working in a Rust project few months back, I was able properly visualize Hashmap in the debugger pane of VSCode when using MSVC debugger. Now it is showing Raw data. Is the structure of HashMap changed which needs a modification to Natvis file?

I tried this code:

[code]

I expected to see this happen: *The debugger pane showing key and value combination*

Instead, this happened: *Show

[2021-12-26 09:20] leonardo-m commented on #91420
If I see a method that's "&mut self" but I don't see the need for it to be mut, I probably want to remove the mut. So you probably have to add documentation for the programmer that explains why that mut is desired. But it's better to add computer-readable documentation too, this means adding a Clippy annotation to locally disable the "useless mut" clippy warning.

[I don't know how much common is

[2021-12-26 10:49] ishanjain28 opened #92290 "Reading /proc/self/cgroup crashes program with segmentation fault"
I tried this code:

Play ground link to my program as is, https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9765bafb238e5df721c608bb04389873

I expected to see this happen:

*I should be able to read contents of that file.*

Instead, this happened: *explanation*

It exits instantly with a segmentation fault error.

### Meta

`rustc --version --verbose`:
[code]

Also reproduci

[2021-12-26 11:06] ishanjain28 commented on #92290
This was happening because of `#[no_mangle]`. I had added it for testing it in compiler explorer and forgot to remove it.

[2021-12-26 11:06] #92290 closed

[2021-12-26 11:07] BasixKOR commented on #90570
This error no longer reproduces on the latest Git For Windows, and I was able to fix the issue with a simple update. I still have absolutely no idea what caused this but since it seems to be fixed I'm closing the issue.

[2021-12-26 11:07] #90570 closed

[2021-12-26 11:26] BraulioVM commented on #92281
For what is worth, this very same code causes an internal compiler error when using -Zchalk.

https://godbolt.org/z/vsaTs4Kcb

[code]

[2021-12-26 12:03] #92230 closed

[2021-12-26 14:17] Freax13 opened #92292 "rustc fails to see that trait bound is satisfied"
### Code

I tried this code:
[code]

I expected to see this happen:
It should compile successfully.

Instead, this happened:
The compiler doesn't realize that `Into<MyNonGenericType>` is implemented for all `MyGenericType<T>` and reports an error.

[code]

Interestingly enough, removing the `where Self: Into<MyNonGenericType>,` bound makes this compile again.

### cargo-bisect-rustc report
searche

[2021-12-26 15:41] Arjentix opened #92293 "rustc nighlty bug with ?-operator"
### Code

Sorry, I can't provide miminal verifiable example, but I can provide my project commit, where I found this problem.
Checkout https://github.com/Arjentix/rpass/commit/da6f202da8103c8120ceab5deae39bf5de301454
The next commit fixes error in my code, so project can be compiled: https://github.com/Arjentix/rpass/commit/668e0eb28fb2b79472f2f6a101c48b55f5f4f82e

### Meta

`rustc --version --ver

[2021-12-26 16:02] ssomers commented on #37572
[The current description](https://doc.rust-lang.org/core/iter/trait.TrustedLen.html) confuses me. Some annotations for my future self and hopefully others:

- "An iterator that reports an accurate length using size_hint."
 → Accurate in the sense of reliable, trustworthy, not in the sense of precise, detailed.
- "The iterator reports a size hint where it is either exact (lower bound is equal to up

[2021-12-26 16:31] rMazeiks commented on #68318
Not sure if this is the right place to report a bug with the current nightly implementation, but a negative implementation and its converse seem to "cancel each other out".

For example:

[code]

The above compiles without errors on nightly, though it shouldn't. Removing one of the negative impls fixes the issue and results in an error as expected.

[2021-12-26 17:17] Smittyvb opened #92295 "Warning for glob import that doesn't reexport anything should suggest solution"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Normally for `unused_imports`, the solution is to remove the import, but for this case the solution is to reduce the visibility of the import. Removing the import causes a compilation error since an imported item is used later.

[2021-12-26 17:41] OMGtechy commented on #92215
Oops, yeah you're right, I have simply been staring at string comparisons for too long.

Yes. Or, at least, it's something worth exploring.

I agree generalling speaking, but here we're seeing a clear case where it's a lot slower.

This is a distinct possibiliy indeed.

You make a very good point.

It might be worth me graphing how memcmp behaves over different inputs to verify this.

---

#### Ap

[2021-12-26 18:00] the8472 commented on #37572
Considering the nature of `size_hint` (normally allowing loose bounds) it is also promises being precise in the sense of having tight bounds to the extent that the integer type allows.

Well, those comments are just me interpreting `TrustedLen`, so to not turn this into a game of telephone I think a better anchor is the behavior of `Chain` which was one of the motivating uses for `TrustedLen`. A c

[2021-12-26 18:07] alexxbb commented on #91696
I also hit exactly the same ICE with my crate on stable 1.57, but in my case I only changed module item visibility, i.e. adding/ removing `pub`. `cargo clean` works as a workaround.

[2021-12-26 18:22] compiler-errors commented on #92293
This is a dupe of #92010

[2021-12-26 20:17] ecstatic-morse opened #92301 "Documentation for `std::column` should state that it counts code points, not bytes or graphemes"
`std::column` counts the number of unicode characters that precede its invocation in that same line (then adds one). However, this behavior is not stated explicitly in [its documentation](https://doc.rust-lang.org/std/macro.column.html). It's not unusual for programming languages or editors to use byte indexes for columns (vim does this for example), so I think it's worth clarifying.

[2021-12-26 20:28] Patrick-Poitras commented on #26186
This error seems resolved. Examples above all work.

[2021-12-26 20:56] geoeo opened #92302 "Const Generic Exprressions"
### Code

I dont have a minimal example sorry. The example I was trying to run was https://github.com/geoeo/Vision/blob/inverse_depth/examples/image_processing/ba_3dv.rs
The files I made using nightly are here: https://github.com/geoeo/Vision/tree/inverse_depth/src/sfm

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<

[2021-12-26 21:25] BGR360 commented on #91420
As a clippy warning, I think this would be fine. It sounded like you were suggesting this to be a rustc lint.

[2021-12-26 21:40] BGR360 commented on #92215
That would be interesting to see!

[2021-12-26 21:53] mypetyak opened #92304 "ICE on nightly-2021-12-21 and later: change source file timestamp, get "failed to lookup `SourceFile` in new context""
### Summary
By changing the timestamp on a rust source file between builds, I'm able to reliably reproduce an ICE with `nightly-2021-12-21` and later.

I've included a minimal repro repository, and the ICE can be recreated on alternating builds simply by modifying an input file timestamp. So far, I'm only able to reproduce this in a repo that includes a build script to generate gRPC stubs via Toni

[2021-12-26 22:10] mypetyak commented on #92304
@Aaron1011, any chance this is related to what you're working on with #92175?

[2021-12-26 22:15] danielhenrymantilla commented on #91633
Further reduced to:

[code]

  - [It fails on 1.25.0](https://rust.godbolt.org/z/Gc6arxx5G), but not on 1.24.0

I agree with @SNCPlay42's assessment:

[2021-12-26 22:28] Aaron1011 commented on #92304
@mypetyak: This should hopefully be fixed by https://github.com/rust-lang/rust/pull/92175 (if it isn't, then it will be fixed by https://github.com/rust-lang/rust/pull/92210)

[2021-12-26 22:29] marmeladema commented on #91633
So it could be considered a stable-to-stable regression? I don't how or who could add this label.

[2021-12-26 22:43] BGR360 commented on #92304
@rustbot label +A-incr-comp

[2021-12-26 22:46] arknave opened #92305 "ICE in stable 1.57.0 when missing generic argument in return type"
Repro steps: create a new cargo binary with `cargo new`. Replace `src/main.rs` with the following code. Then run `cargo build`. Hope this is helpful! I've tried to minimize the code as much as possible.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-26 22:50] arknave commented on #92305
The same issue happens in the latest nightly as well.

[code]

[2021-12-26 22:53] OSS542 commented on #92160
Additional testing information:

stack trace - attaching gdb to hung command in running build (restricted to single 'make' job - "-j1")

    #0  0x00007f3f6e09b6bf in pthread_join (threadid=139910389774080, thread_return=0x0) at pthread_join.c:92
    #1  0x00007f3f730cea7d in std::sys::unix::thread::Thread::join () from /usr/lib/libstd-13e65b318180c5e7.so
    #2  0x00007f3f73ad9d5a in std::thread:

[2021-12-26 22:55] BGR360 commented on #91285
@rustbot label +F-try_trait_v2

[2021-12-26 22:56] Aaron1011 commented on #91942
See https://github.com/rust-lang/rust/pull/89336 for some work towards improving diagnostics around variance

[2021-12-26 22:59] danielhenrymantilla commented on #91633
Yeah, I guess we could

@rustbot modify labels +regression-from-stable-to-stable

although it's a regression from a very old stable 😄

[2021-12-26 23:10] leonardo-m commented on #91420
I've put this here instead of Clippy issues repository to gather opinions, because I think this lint is useful for me, and because something similar is present in rustc :)

[2021-12-27 00:49] BGR360 commented on #91831
See https://github.com/rust-lang/rust/pull/89336 for some work being done to improve messaging on variance.

[2021-12-27 00:58] BGR360 commented on #91863
@rustbot label +T-compiler +A-closures

[2021-12-27 01:19] danielhenrymantilla commented on #91942
Reduction:

[code]

  - [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=aefb7fa46445663375b423d783e80020)

Using `f` rather than `move |s| f(s)` circumvents the issue, so it's a matter of the literal closure there being given an incorrect HRTB signature, I'd say. Variance (or lack thereof) just makes it easier (harder) to *circumvent* the issue, but there is a

[2021-12-27 01:20] BGR360 commented on #92089
@rustbot label +A-parser

[2021-12-27 01:25] danielhenrymantilla commented on #91942
Curiously, uncommenting the following turbofish annotation fixes the reduced example:

[code]

[2021-12-27 01:31] danielhenrymantilla commented on #91942
Thanks to this, a HRTB-signature-nudging funnel can be written, which palliates the issue:

[code]

  - [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1c8e29be84bcebf7cc0f584896e53b10)

[2021-12-27 01:46] BGR360 commented on #91942
@danielhenrymantilla can you elaborate more on how you arrived at that reduction? I'm a little lost as to why you changed the things you did and how they result in the same problem.

Also, how is that `'static: 'lt` bound helpful? Doesn't that restrict `'lt` to living at least as long as `'static`?

[2021-12-27 03:10] dtolnay commented on #92305
This bisects to nightly-2021-06-25. Commit range: https://github.com/rust-lang/rust/compare/5a7834050f3a0ebcd117b4ddf0bc1e8459594309...7c3872e6bfd555d2ad753ac1f871db3bd7f2a547.

It only reproduces with `edition = "2021"`, not `edition = "2018"`, which means bisecting to the old nightly needs `cargo-features = ["edition2021"]` in Cargo.toml.

In that range, #86536 looks the most relevant because it

[2021-12-27 03:39] BGR360 commented on #90629
@rustbot label +A-variance

[2021-12-27 03:41] BGR360 commented on #89265
@rustbot label +A-variance

[2021-12-27 03:45] BGR360 commented on #88682
@rustbot label +A-variance

[2021-12-27 03:56] BGR360 commented on #86910
@rustbot label +A-variance

[2021-12-27 03:57] BGR360 commented on #86910
@rustbot label +A-variance

[2021-12-27 03:58] BGR360 commented on #85723
@rustbot label +A-variance

[2021-12-27 04:17] nico-abram opened #92308 "Better error message for missing return in async fns"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d8b89e2ba445cca680d18063b9d62a20

[code]

The current output is:

[code]

Ideally the output should look like it does for the [non-async version](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6c423a877838ed69b3830d87fb679583):

[code]

[2021-12-27 05:32] BGR360 commented on #82927
@rustbot label +A-variance

[2021-12-27 05:37] BGR360 commented on #80083
https://github.com/rust-lang/rust/issues/88682#issuecomment-913372292 gives a potential explanation for why returning impl-trait is behaving differently wrt variance:

@rustbot label +A-variance

[2021-12-27 05:39] BGR360 commented on #80052
@rustbot label +A-variance

[2021-12-27 06:15] saethlin commented on #27970
I think this comment understates the problem. openssl calls `getenv` during certificate validation, because it calls `gmtime_r`. If the community is going to take this family of problems seriously, I think the `chrono`/`time` advisories are just the start.

[2021-12-27 06:18] thomcc commented on #27970
There's significant (and ongoing) discussion about this https://internals.rust-lang.org/t/synchronized-ffi-access-to-posix-environment-variable-functions/15475.

[2021-12-27 06:29] saethlin commented on #27970
I totally agree, that would not be a good outcome. Thanks for directing me to the discussion, I'm not used to looking at IRLO.

[2021-12-27 07:02] ketsuban opened #92311 "Swapping operations are insufficiently deduplicated"
I put this code in Godbolt.
[code]
I was surprised to find that every one of these functions is represented individually in the output, even with `-C opt-level=s`. This is most egregious with `swap1`/`swap2`/`swap3` and `swap4`/`swap5`/`swap6` where the exact same instructions are output, but those in turn differ only trivially and could possibly be unified as well.

[2021-12-27 07:27] BGR360 commented on #84020
I attempted to add the following test but couldn't get it to ICE on commit 138fd56cf (the one OP reported the ICE on). I copied the compiler flags from https://github.com/rust-lang/glacier/pull/954. Maybe somebody can figure out what I did wrong.

`src/test/ui/simd/issue-84020.rs`:

[code]

[2021-12-27 07:49] chris-morgan commented on #44265
In using GATs with lifetimes, I was surprised to discover that I couldn’t elide lifetimes in methods in cases where I normally would.

The RFC said that this would work:

… but in practice it’s currently not:

[code]

… and you have to spell it `fn next<'a>(&'a mut self) -> Option<Self::Item<'a>>;` instead.

I imagine there should be an issue for this, even if it’s not deemed a blocker for stabili

[2021-12-27 08:01] OfekShochat commented on #62290
When will this become not unstable?

[2021-12-27 08:43] nikic commented on #92311
Godbolt with IR: https://rust.godbolt.org/z/jK6c5dafn

This makes it a bit more obvious why these don't get merged: All four orders in which x and y can be read/written are present, and on top of that we have two more variants with additional noalias information.

This is a tough problem. The most promising improvement I can see here is that the noalias scopes in swap2 and swap5 are actually redun

[2021-12-27 08:56] Globidev commented on #44265
@chris-morgan lifetime elision in paths is not considered idiomatic. See the `elided_lifetimes_in_paths` lint which is part of `rust_2018_idioms`

Note that you can also leverage the anonymous lifetime here:
[code]

[2021-12-27 09:02] danielhenrymantilla commented on #91942
The `'static : 'lt` is a trivial bound, since it means that `'static` needs to live at least as long as `'lt`, which it obviously always does. It would have been similar to a `'lt : 'lt` bound, whereby we would have constrained `'lt` to being greater than or equal to `'lt`.

So, _inside_ that function, it does not add any property nor restrict anything. It does, however, allow callers to turbofish

[2021-12-27 09:36] Gerhut opened #92313 "Derives on deprecated enum variants generate deprecation warnings"
I tried this code:

[code]

I expected to see this happen: *explanation*

No deprecated warnings generated.

Instead, this happened: *explanation*

use of deprecated tuple variant `Point::TwoD`
`#[warn(deprecated)]` on by default

### Meta

`rustc --version --verbose`:
[code]

[2021-12-27 09:44] Gerhut commented on #92313
Seems same issue with struct field was fixed in #58994

[2021-12-27 10:33] #78747 closed

[2021-12-27 10:36] apiraino commented on #92305
For comparison, the same code with `edition=2018`  doesn't emit a compiler error and has a bit more info:
[code]

[2021-12-27 10:47] TheDutchMC opened #92315 "thread 'rustc' panicked at 'failed to lookup `SourceFile` in new context'"
Potentially related: #70924

### Code
I don't think this is related to a piece of code. This ICE occurred after writing some new code, but the panic mentions unchanged existing code.

Here's the code it panicked on then:
[code]
and:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-27 11:35] OSS542 commented on #92160
existing threads at hang (single job build) and stack traces for each:

(gdb) info threads
  Id   Target Id         Frame
* 1    Thread 0x7fdd1fbd2c40 (LWP 6017) "rustc" 0x00007fdd167106bf in pthread_join (threadid=140587524982528, thread_return=0x0) at pthread_join.c:92
  2    Thread 0x7fdd157c8700 (LWP 6018) "rustc" __lll_lock_wait_private () at ../nptl/sysdeps/unix/sysv/linux/x86_64/lowlevelloc

[2021-12-27 12:00] mati865 commented on #92315
Duplicate of https://github.com/rust-lang/rust/issues/92163

[2021-12-27 12:27] pro465 commented on #92280
looks like the repo has too many issues to be able to focus on important bugs.

[2021-12-27 13:18] nikic commented on #92181
@MaskRay The relevant difference is that rustc includes a priority in the section name. This can be seen with clang as well: https://c.godbolt.org/z/6PY87sW3v `.init_array` results in an `@init_array` section, while `.init_array.00099` results in `@progbits`.

Changing https://github.com/llvm/llvm-project/blob/ba89c6d5056975c046275ce9614eb96eb7ec01f4/llvm/lib/CodeGen/TargetLoweringObjectFileImpl.c

[2021-12-27 13:18] andrei-marinica opened #92318 "Compiler crash while calling `cargo fix`"
### Code

https://github.com/ElrondNetwork/elrond-wasm-rs/tree/api-refactor/elrond-wasm

### Meta

I'm using the latest nightly.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-27 13:31] jyn514 opened #92319 "`x.py setup` stopped being able to link toolchains at some point"
I tried this code on a fresh git clone of rust-lang/rust:

[code]

I expected to see this happen: setup works without errors.

Instead, this happened: x.py gives an error:

[code]

### Meta

This feature was introduced in https://github.com/rust-lang/rust/pull/89212 and worked at that time. @Sl1mb0 do you have time to look into this? The original bug report was from Nazar Mokrynskyi [on Zulip](htt

[2021-12-27 13:51] rope-hmg commented on #91335
Yeah, sorry. All seems fine now 😃

[2021-12-27 13:51] #91335 closed

[2021-12-27 13:51] Kailai-Wang opened #92320 "Can't compile wasmtime 0.32.0 crate using latest rustc 1.59.0-nightly on ubuntu 20.04"
### Code

[wasmtime crate](https://crates.io/crates/wasmtime) fails to compile on `ubuntu 20.04` using the lastest rustc nightly: `rustc 1.59.0-nightly (f8abed9ed 2021-12-26)`

I've got a bunch of errors related to `asm` macro, the errors messages are the same except pointing to the different code positions.
Here is an example:
[code]

On MacOs it compiles without any problems.

I expected to see

[2021-12-27 14:11] jyn514 commented on #45939
Oh wow, look at that! Congrats @camelid  :)

[2021-12-27 15:14] Sl1mb0 commented on #92319
Yes, I'll take a look over the next few days.

[2021-12-27 15:37] jethrogb commented on #90091
Should there also be a shorthand API for `slice[a..].split_array_ref::<B>()` (the array version of `&slice[a..(a+B)]`)?

[2021-12-27 15:51] hkratz commented on #92320
`asm!` and `global_asm!` were removed from the prelude in #91728 after the FCP in #87228. So I guess this is expected and wasmtime needs to be updated.

[2021-12-27 15:59] Kailai-Wang commented on #92320
Thank you for the reply.
I'll close this and file a report on `rustix` side

[2021-12-27 15:59] #92320 closed

[2021-12-27 16:01] hkratz commented on #92320
@Kailai-Wang This has actually been fixed in rustix and wasmtime depends on rustix v0.31.0 which contains the fix but somehow rustix v0.26.2 is being picked up. Maybe best to file the bug with wasmtime.

[2021-12-27 16:02] Kailai-Wang commented on #92320
I'll do that.
Thank you for pointing it out, much appreciated! 👍

[2021-12-27 16:04] hkratz commented on #92320
Ah, it just needs a new wasmtime release I think, the dependencies have been updated but after the release of wasmtime 0.32.0.

[2021-12-27 16:12] Kailai-Wang commented on #92320
I see.
Just checked their TOML dependencies, rustix `v0.31.0` is now applied.
Tried to compile rustix `v0.31.0` on linux and it worked.

I think I'll just wait a bit. Thank you again!

[2021-12-27 16:15] UberLambda commented on #92163
Hi, I also hit this on my end. Minimal(-ish?) reproducible example: https://gist.github.com/UberLambda/70ad3742c39ef70bb9451d9eb2dcb1bf
[code]

[2021-12-27 16:29] LollipopFt opened #92321 "compiler does not floor floats correctly."
I tried this code:

[code]

I expected to see this happen:
[code]
since floor of cube root `999999999` is `999` according to my calculator - actual value is `999.9999997`.
Instead, this happened:
[code]
it somehow automatically rounded up. c++ does not do this.

### Meta

`rustc --version --verbose`:
[code]

thank you!

[2021-12-27 16:43] orlp commented on #48043
It's super minor but `TryReserveErrorKind` is missing periods at the end of sentences in the documentation.

[2021-12-27 16:51] memoryruins commented on #44265
@chris-morgan the issue for that is https://github.com/rust-lang/rust/issues/81862 where it was decided to require an explicit lifetime parameter.

[2021-12-27 17:01] Patrick-Poitras commented on #92321
The 32-bit floating point does not have enough precision to accurately represent `999999999`. The closest number is `1000000000 `, so both of those numbers are equivalent. Here is a brief preview of these two values being equal: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a2fa24acc19d57e3b425ee02aa9020ad

[2021-12-27 17:16] alper commented on #92276
Thanks, @BGR360! My PR is linked above.

[2021-12-27 17:29] davidhalter commented on #91942
@danielhenrymantilla Wow, thanks a lot for coming up with this. I still have to work on a `funnel` that works for my own use case, but this is at least a good way to investigate this further.

Isn't that a bug though? It just feels wrong that you have to wrap a closure in such a complex way. I understand that this might not be something that is immediately fixed, but it still feels like a compiler

[2021-12-27 17:37] Patrick-Poitras commented on #92321
@LollipopFt As an additional problem you might face when converting to f64 is that 1/3 is actually `0.333333333333333315...` so doing the cubic root using `powf(1/3)` is going to give a value very slightly below `1000000000`. This reflects the problem that truncating a floating point value might give unexpected results.

An example of a floating-point-rounding-error mitigation strategy for your sp

[2021-12-27 17:48] Aaron1011 commented on #92318
Duplicate of https://github.com/rust-lang/rust/issues/92318. You should be able to run `cargo clean` to work around this for now.

[2021-12-27 17:48] #92318 closed

[2021-12-27 17:49] Patrick-Poitras commented on #92321
@rustbot label +C-discussion -C-bug

[2021-12-27 18:09] JanBeh opened #92324 "Broken help message for missing lifetime when using <_ as Trait> syntax in type alias"
I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a0a2e0bf578cc6667805e2c13c6cfa64))

I expected to see this happen (which works correctly with rustc 1.57.0 stable):

[code]

But with `rustc 1.59.0-nightly (f8abed9ed 2021-12-26)`, I get:

[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2021-12-27 18:19] JanBeh commented on #92324
Also consider the following code, which creates an error message that could be more precise. I wouldn't call the following example a bug, but maybe these two issues are related:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cab914b4ea7f9b761820d96d3121b3e2))

Error output:

[code]

[2021-12-27 18:23] Aaron1011 commented on #57374
I've opened https://github.com/rust-lang/rust/pull/92306 to address the issue with opaque types on stable

[2021-12-27 18:26] pnkfelix commented on #91671
Rebuilt Rust with an LLVM Debug build (I always forget that its not enough to just edit the `[llvm]` section of the `config.toml`, you need to explicitly force LLVM to be rebuilt).

I hit the assertion:

[code]

Here is a [pernos.co session](https://pernos.co/debug/Ly_AYG-Zax6vp2vejKMU5w/index.html#f{m[Ba4,AA_,t[Bw,BP0f_,f{e[BaM,AnCHKQ_,s{af0+DOMAA,bFg,uN5ZB8Q,oN6Ef1A___/) for the bug.

I'm going

[2021-12-27 18:34] wesleywiser commented on #91661
@QiangHeisenberg this appears to be the same underlying issue as the other reports of missed code coverage data and is fixed by #92142 as well. With those changes applied, I see the following from llvm-cov:

For Q1:
[code]

[code]

[code]

For Q2:

`test_os_rng` and `test_construction` are still not covered but that is likely because those tests aren't run at all. I suspect the library those tests

[2021-12-27 18:48] ibookstein opened #92325 "ICE: `Option::unwrap()` on a `None` value, def_path_hash_map.rs:18:85"
### Code
This issue seems to be related to incremental compilation, because yanking the code to a separate binary compiled successfully. I zipped the entire directory but it's a bit too large to upload...

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2021-12-27 18:50] Aaron1011 commented on #92325
This should be fixed on the latest nightly.

[2021-12-27 18:51] ibookstein commented on #92325
Alright, thank you!

[2021-12-27 18:51] #92325 closed

[2021-12-27 19:01] 8573 commented on #48043
The only such sentence I see there is "The memory allocator returned an error"; the others are just sentence fragments, which may not deserve periods <small>(for example, where sentence fragments may be used in Wikipedia, their style guide (probably the result of compromise between many strong opinions) [says](https://en.wikipedia.org/wiki/MOS:PERIOD) these "should in most cases not end with a per

[2021-12-27 19:18] orlp commented on #48043
https://doc.rust-lang.org/1.0.0/style/style/comments.html#sentence-structure

Sentence fragments should end with a period in Rust, even if full sentences are preferred..

[2021-12-27 19:21] camelid commented on #89367
This is fixed now, probably by #86282 (cc #45939).

![image](https://user-images.githubusercontent.com/37223377/147501141-7b6f17d2-7ac2-48ee-bba8-d2a119371b20.png)

[2021-12-27 19:21] #89367 closed

[2021-12-27 19:22] pcwalton opened #92327 "Potential optimization: Bounds check hoisting"
It'd be nice if we had a MIR-level optimization pass that could rewrite bounds checks. Here's an example of something Rust couldn't optimize, from https://twitter.com/dougallj/status/1475236088096571392:

This seems like something that MIR could optimize, since we're responsible for the bounds checks at the language/core library level. However, there's some question as to what the right semantics

[2021-12-27 19:32] porglezomp commented on #92327
You always have to be careful omitting bounds checks while writing to memory. The behavior of this silly example is easily observable by catching the panic:
[code]
But I think even this could be transformed into:
[code]

[2021-12-27 19:38] jackh726 commented on #44265
Hi all. Please remember that many are subscribed to this issue. If you have specific implementation questions, please file an issue.

[2021-12-27 19:52] leonardo-m commented on #92327
Recently I've written at length about the topic of array bound checks in Rust:
https://internals.rust-lang.org/t/two-subsets-of-types/15828/

[2021-12-27 20:09] nikic commented on #92327
I think this basically comes down to changing the error message to not include the index being accessed, at least for non-debug builds. If that is done, then merging these bounds checks becomes a legal optimization. LLVM will either already do it, or can be taught to do it. But as long as the index is included in the error message, this transform changes program behavior.

[2021-12-27 20:14] wesleywiser commented on #91949
Retested since #90423 landed on nightly:

- rustc 1.55.0 (c8dfcfe04 2021-09-06): 13.1 seconds
- rustc 1.59.0-nightly (f8abed9ed 2021-12-26): 10.6 seconds

[2021-12-27 20:37] pcwalton commented on #92327
Having the index as part of the error message is useful though. If we did this at MIR level, then we could potentially be able to merge bounds checks while preserving the right index.

[2021-12-27 21:06] compiler-errors commented on #92324
I think this is due to #90446 cc: @cjgillot, let me see if I can fix this real quick.

[2021-12-27 21:15] steffahn commented on #91949
Seems to have fixed the problem, indeed. @rustbot label E-needs-test.

[2021-12-27 21:19] dtolnay opened #92331 "rustdoc: Regression in whitespacing inside macro_rules matchers"
[code]

### Before:

This preserves the spacing in the way that the macro author wrote, and exactly the way that they intend for the macro user to write those spaces on their end.

![Screenshot from 2021-12-27 13-13-25](https://user-images.githubusercontent.com/1940490/147507661-4a3e3d52-9814-4a15-8072-4a1ed73e364c.png)

### After:

The person calling the macro needs to reverse engineer where to a

[2021-12-27 21:23] nickdavies commented on #91428
Sorry for the slow reply here holidays got in the way!

There are cases where you'd want to ignore this entirely however I would say they are reasonably rare and I think that the value of being prompted (by a warning) to consider the outcome of your process is probably a reasonable choice.

Even in these situations I think you usually want to at least know the PID (to log or record it somewhere) b

[2021-12-27 21:34] lachlansneff commented on #41517
Has there been any further progress on this?

[2021-12-27 21:39] compiler-errors commented on #92324
@rustbot claim

[2021-12-27 21:47] clarfonthey commented on #41517
I believe that the biggest blockers at the moment are syntax and semantics; do we want to have trait aliases or bounds aliases, and if so, should the syntax change at all? Honestly might even blocked on a future RFC solving these questions.

[2021-12-27 22:09] clarfonthey commented on #92301
Perhaps there could be a version that does take into account graphemes, since the compiler itself already does this to ensure that errors are pointed to properly in the compiler output?

[2021-12-27 23:09] pnkfelix commented on #91671
Part of the problem is that I could not readily tell if that Debug assert was related to the root cause of the bug in play here, or is an artifact of some other unrelated issue.

So I made a quick hack and put this in:

[code]

(this side-steps the assertion failure by not doing the `replaceRegWith` call on the instruction at all when the two registers are the same. In *theory* this should have no

[2021-12-27 23:31] pnkfelix commented on #91671
Looks like [this invocation of RegisterBankInfo::getRegBank](https://github.com/llvm/llvm-project/blob/5161060559965fc5f69c46853358bea8ab504b4c/llvm/lib/Target/AArch64/GISel/AArch64InstructionSelector.cpp#L900) from LLVM is returning nullptr, and that line immediately dereferences it.

[Pernosco link](https://pernos.co/debug/WFSi29iBSkbBC0n-bHlqKA/index.html#f{m[BbQ,Ap9zXw_,t[Bw,BZ66_,f{e[BbQ,Ap9s

[2021-12-27 23:35] emi2k01 commented on #62358
Someone mentioned `test` but they dismissed it in the same comment but I think it's a good one.

`opt.test(|n| n > 10)`
`res.test(|n| n == 20)`
`res.test_err(|e| e == ErrorKind::NotFound)`

The word "test" is already used to describe similar methods like `Iterator::any` and `Iterator::all` that take a closure and return a boolean. It is also clear what is doing.

I think any of the already mention

[2021-12-27 23:42] pcwalton commented on #92327
I guess the easiest way to do this would be to say something like, if:

1. Bounds check B postdominates bounds check A;
2. B is checking an index greater than A;
3. The slice in question is immutable;
4. We're in release mode;

Then replace bounds check A with B, and delete B.

If (2) is not true, then LLVM should already be deleting the bounds check.

[2021-12-28 01:04] #92010 closed

[2021-12-28 01:04] #26186 closed

[2021-12-28 01:22] ssomers commented on #37572
Granted, it is a reason why a possible ExactSizeIterator would not be TrustedLen, though that #68352 case is quite specific to the Cycle adapter, that isn't a true iterator adapter but an Iterator+Clone adapter. But it's far from the reason why so many ExactSizeIterator in the standard library are not TrustedLen - they aren't even adapters.

[2021-12-28 01:31] the8472 commented on #37572
Oh sure I was giving a reason why an adapter *cannot be* `TrustedLen` while still being `ExactSizeIterator`. I guess those you're referring to could be but nobody has done the work or nobody needed those optimizations.

`ExactSizeIterator` enables some additional trait bounds, e.g. backwards iteration on some adapters. `TrustedLen` on the other hand only provides performance improvements, so it's

[2021-12-28 01:50] 95th commented on #92195
On latest nightly:

[code]

[2021-12-28 02:07] jbr opened #92337 "ICE on nightly with -Z macro-backtrace but compiles fine otherwise"
In the context of the code at https://github.com/trillium-rs/trillium/tree/main/http, in particular [this IntoIterator implementation](https://github.com/trillium-rs/trillium/blob/main/http/src/headers.rs#L265-L284), it compiles just fine on nightly and stable, but when `RUSTFLAGS="-Z macro-backtrace"` is provided on the latest nightly, it panics the compiler.

### Meta
`rustc --version --verbose`

[2021-12-28 02:16] LollipopFt commented on #92321
i see, thank you!

[2021-12-28 02:16] jbr commented on #92337
Update: Somehow, some combination of `cargo clean` and building without `-Z macro-backtrace` has now resolved this for me. Running `cargo clean` once and rebuilding did _not_ resolve it, so I am unclear what exactly fixed it. Please feel free to close this issue if it is not helpful. Thanks!

[2021-12-28 02:21] BGR360 commented on #92195
@95th I don't think that's the same ICE. Yours fails on `compiler/rustc_query_impl/src/on_disk_cache.rs:500`, while the one in this issue fails on `compiler\rustc_hir\src\definitions.rs:452`

See https://github.com/rust-lang/rust/issues/92163

[2021-12-28 02:30] BGR360 commented on #92337
Possible dupe of https://github.com/rust-lang/rust/issues/92163, but that is strange that just the `cargo clean` didn't fix things.

Are you able to reproduce this? If so, can you try to come up with a reliable sequence of steps that reproduces the error?

[2021-12-28 02:33] BGR360 commented on #92327
@rustbot label +C-enhancement

[2021-12-28 02:33] camelid commented on #92331
Yeah, I know the formatting regressions from that PR were not great, but it fixed a bunch of bugs. In general, I think rustdoc shouldn't be relying on the source code except for the actual source code view.

[2021-12-28 02:35] BGR360 commented on #92324
@rustbot label +regression-from-stable-to-nightly +A-diagnostics

[2021-12-28 02:36] BGR360 commented on #92324
@rustbot label -I-prioritize +P-low

[2021-12-28 02:46] BGR360 commented on #92308
@rustbot label +A-async-await

[2021-12-28 03:19] jerry-best commented on #89976
I just tripped over a very similar error. I resolved it similarly by handing around indexes instead of references, but I would have had no idea what was going on if not for this issue.

[2021-12-28 03:32] Xuanwo commented on #91789
@TennyZhuang Please help update the issue link into description: https://github.com/rust-lang/rust/pull/92338

[2021-12-28 03:52] 95th commented on #92163
Hitting this issue very very often:

[code]

[2021-12-28 03:52] 95th commented on #92195
Oh you're right. I added my comment over there.  Thanks

[2021-12-28 04:23] inquisitivecrystal commented on #92292
CC @fee1-dead, as the author of the relevant PR.

[2021-12-28 04:40] JanBeh opened #92341 "rustdoc doesn't handle generic associated types properly"
I tried this code:

[code]

I expected `rustdoc` to create proper documentation for these GATs.

Instead, `rustdoc` created the following output:

[code]

and

[code]

The lifetime argument `'b` is missing in the documentation.

### Meta
`rustc --version --verbose`:
[code]

[2021-12-28 05:06] Xuanwo commented on #91789
And the support of `PathBuf` will be based on work #92338, I will continue it after this PR get merged.

[2021-12-28 05:10] fee1-dead commented on #92292
Fixed by #92257, this one is more interesting than the test I added in that PR, as it is stable code (but uses `impl const Into<U> for T where U: ~const From<T>`), so I think we could add this one as an ui test as well.

[2021-12-28 07:43] timwalls opened #92343 "Latest nightly build fails on Mac/x86_64-apple-darwin"
With latest nightly (f8abed9ed) build fails as per below, on a Mac host.  Same build seems OK on Linux.

My last known-good build on this machine was d47a6cc3f (2021-12-03) - I just checked that out and the build completes OK, so it seems something changed in nightly rather than on my environment.

Any suggestions on how I can try and divine what's going on?  "rustc exited with signal: 6" is a lit

[2021-12-28 08:13] int-e opened #92345 "Typo in documentation of `std::vec`: `Self` should be `self` (2 times)"
See the documentation for `append` here

https://github.com/rust-lang/rust/blob/cc65bf3ded93352fd4693a9c58b84a60721637a6/library/alloc/src/vec/mod.rs#L1758

and for `append_elements` here:

https://github.com/rust-lang/rust/blob/cc65bf3ded93352fd4693a9c58b84a60721637a6/library/alloc/src/vec/mod.rs#L1783

In both cases, the documentation refers to the object the method is called for, not the type,

[2021-12-28 09:07] TheDutchMC commented on #92315
Ah, didn't notice that one. This one can be closed then I think.

[2021-12-28 09:10] apiraino commented on #92305
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392305.20ICE.20in.20stable.201.2E57.2E0.20when.20missing.20generic.20argument.20i.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-12-28 09:11] apiraino commented on #91633
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391633.20ICE.20for.20broken.20MIR.20in.201.2E57.2E0.2C.20beta.20and.20nightly) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-28 09:26] apiraino commented on #92267
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392267.20assertion.20failed.3A.20bpos.2Eto_u32.28.29.20.3E.3D.20mbc.2Epos.2Eto_u32.28.29.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-12-28 09:28] inquisitivecrystal commented on #92267
I've been taking a look at this. It's pretty interesting. I'm not entirely sure I'll be able to work it out, but I figure I may as well assign myself for the time being while I attempt to solve it.

[2021-12-28 09:35] apiraino commented on #92324
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392324.20Broken.20help.20message.20for.20missing.20lifetime.20when.20using.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-28 10:04] DKenefake opened #92347 "Duplicate trait suggestion"
Given the following code:  [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=63928c3219f7db8f87784561b67830f9)

[code]

The current output is:

[code]

The code is incorrect and shouldn't compile, but the suggestion is to duplicate a trait restriction that is already present in the function and can be repeated n-times, e.g. with ``T: std::ops::Shl<Output = T> + std::op

[2021-12-28 10:53] scrubjay55 commented on #92163
This happens all the time unless I do `cargo clean`

[2021-12-28 11:33] avitex commented on #54910
Just bumping this issue seeing #55768 and #71957 are now resolved.

With a quick check, looks like the remaining issues as [linked](https://github.com/rust-lang/rust/pull/59483#issuecomment-478232879) above copied here are centered around `unused_extern_crates`:

- #44294
- #51881
- #56038
- #56328
- #57274

A more recent issue opened after the linked comment:

- #77713

[2021-12-28 11:45] TmLev commented on #61137
Can I claim `E0227`?

[2021-12-28 11:47] LollipopFt commented on #92321
hold on, with this code:
[code]
i got:
[code]
shouldn't cube root of 1000000000 be 1000? i understand it may be due to inaccuracy from ```1.0/3.0```. is there a way to allow for proper cube rooting using standard library?

[2021-12-28 11:50] rkuhn commented on #91598
This issue also surfaces in https://github.com/ipfs-rust/ipfs-embed/issues/109, currently nightly does not fix it (i.e. I haven’t been able to build any of the binaries in that project): nightly stops reporting progress after `monomorphization_collector_root_collections`, so I assume that `monomorphization_collector_graph_walk` basically runs forever.

[2021-12-28 12:14] timwalls commented on #92343
Hi, sure.  `config.toml` below.  For context, the reason I'm building it at all is for an AVR toolchain specifically (hence the short list of enabled targets.)  Normally I patch LLVM, but I tried the build 'clean' without my patches to confirm that it's not related to them at all.

Confirmed this config.toml builds fine on Mac with the 2021-12-03 nightly, and also it builds the latest nightly fine

[2021-12-28 12:42] leonardo-m opened #92350 "Vec of 2D or 3D arrays generates very slow code"
Using fixed sized arrays is very useful because the back-end knows their length, and this allows some significant optimizations.

But allocating large ones is a problem, here I'm using a solution that's generally good enough (it's more efficient than using the "box" keyword), based on vec! + into_boxed_slice + try_into. This solution breaks when you have 2D+ arrays:

[code]

Gives the unreasonable

[2021-12-28 12:44] hkratz commented on #92343
This is another instance of #92173. Uncomment and set `jemalloc = true` in your config.toml to work around this issue. It makes rustc a lot faster anyway. ;-)

[2021-12-28 12:53] GuillaumeGomez commented on #61137
No problem (and you already sent the PR so perfect :wink: ).

[2021-12-28 13:15] timwalls commented on #92343
Ahh, that's both awesome and at the same time please accept my apologies for wasting your time - I swear I did look for related issues first but my search-fu was obvviously seriously lacking.  Thanks for the help!

[2021-12-28 13:15] #92343 closed

[2021-12-28 13:42] Kobzol commented on #83295
I supposed that this was fixed by https://github.com/rust-lang/rust/pull/91957?

[2021-12-28 13:47] #83295 closed

[2021-12-28 14:36] jyn514 commented on #91440
@BGR360 I honestly don't understand this code very well either, but the way I'd suggest getting started is looking at https://github.com/rust-lang/rust/blob/e91ad5fc62bdee4a29c18baa5fad2ca42fc91bf4/src/librustdoc/clean/inline.rs#L129-L131 - I think part of the issue is that rustdoc treats struct fields as their own item: https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/enum.Item

[2021-12-28 14:44] hkratz commented on #92350
Not being able to assuredly allocate arrays or boxed slices directly on the heap is a long-standing issue, see #53827. Copies are only optimized out in some simple cases (e.g. one-dimensional boxed slices of simple types) and those optimizations will never by guaranteed for the general case.

The best way to accomplish this on nightly is currently:
[code]

[2021-12-28 15:06] leonardo-m commented on #92350
Thank you, that's a nice and short solution with less unsafety.
Do you suggest me to close this issue down as duplicate?

[2021-12-28 15:14] ehuss commented on #73514
The `test_cat::prop_cat_rows` test from xsv fails occasionally:

* https://github.com/rust-lang/rust/pull/65342#issuecomment-541349793
* https://github.com/rust-lang/rust/pull/88680#issuecomment-927213601
* https://github.com/rust-lang/rust/pull/92283#issuecomment-1002105142

[2021-12-28 15:16] terrarier2111 commented on #92089
@rustbot claim

[2021-12-28 15:23] ehuss commented on #92315
Thanks for the report! Closing as a duplicate of #92163.

[2021-12-28 15:23] #92315 closed

[2021-12-28 15:46] kellerkindt opened #92354 "Tracking Issue for `saturating_int_assign_impl`"
Feature gate: `#![feature(saturating_int_assign_impl)]`

This is a tracking issue for adding basic integer operations to the `Saturating` Wrapping type:
[code]

<details>
  <summary>
    <s>As well as</s>
  </summary>

  See https://github.com/rust-lang/rust/pull/93208#issuecomment-1022564429. **No longer** within the scope of this feature:

[code]
</details>

### Steps / History

 - [x] Implement

[2021-12-28 15:50] Ppjet6 opened #92355 "thread 'rustc' panicked at 'failed to lookup `SourceFile` in new context', compiler/rustc_query_impl/src/on_disk_cache.rs:500:22"
### Code

It appears on this branch (79d17553) and not on main (dc6dd19a).

https://gitlab.com/ppjet6/xmpp-rs/-/commits/rustc-ice/

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-28 16:17] camsteffen commented on #65467
I've linked a couple Clippy issues to this, for more examples.

Also it might be good to detect unused `Future`s in a similar way, as in rust-lang/rust-clippy#8126.

[2021-12-28 16:39] hkratz commented on #92355
Is it reproducible with `cargo clean; cargo build`? If not it is likely a duplicate of #92163.

[2021-12-28 16:46] Ppjet6 commented on #92355
It works with a `cargo clean` indeed.

[2021-12-28 17:05] hkratz commented on #92321
Use [`f64::cbrt()`](https://doc.rust-lang.org/std/primitive.f64.html#method.cbrt)
[code]
Result:
[code]

[2021-12-28 17:57] iliakonnov opened #92362 "SIGTRAP with custom target"
Compiler crashes with SIGTRAP (probably somewhere in LLVM) when building no_std crate that uses custom target specification based on built-in `x86_64-unknown-none` with `-sse2` changed to `+sse2`.

Simple reproduction:
[code]

<details>
<summary>Reproducing without using repo</summary>

1. Start with basic no_std application. For example, see [smallest-no-std](https://docs.rust-embedded.org/embedo

[2021-12-28 18:33] ssomers commented on #37572
I was beginning to think `TrustedLen` is only marginally useful anyway, but then [godbolt shows](https://rust.godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0QXACx8BBAKoBnTAAUAHpwAMvAFYTStJg1DEArgoKkl9ZATwDKjdAGFUtEywYgAzAA5SjgBk8BkwAOXcAI0xiEAAmUgAHVAVCOwYXNw9vPySU2wEgkPCWKJj4q0wbNKECJmICDPdPX0tMa3yGGrqCQrDI6LjLWvrGrJbzbt7i0riASktUE2Jkdg4EkwiAaioGTZYmYIhZzYB

[2021-12-28 18:46] jhpratt commented on #87517
@rustbot label +S-tracking-needs-to-bake

[2021-12-28 19:22] camelid opened #92368 "Remove `in_band_lifetimes` from rustdoc"
cc #91867

[2021-12-28 19:31] iliakonnov commented on #92362
Addition: disabling soft-float (`+soft-float` -> `-soft-float`) fixes this.

[2021-12-28 19:49] Milo123459 opened #92369 "`python x.py check` always rebuilds `rustc_llvm` on Windows"
I have forked the rust repository, and I made a change. When running `python x.py check`, `rustc_llvm` always rebuilds.

[2021-12-28 20:01] ouz-a commented on #92305
In both `version=2018` and `version=2021`, [this](https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/expr/as_place.rs#L204) function returns `Ok` value every time but somehow in `version=2021` value unwraps into error, even though it's `Ok`

This is the returned value:
[code]

[2021-12-28 20:05] jonhoo opened #92370 "Test output capture does not capture Command output"
I tried this code:

[code]

I expected to see this happen: nothing should be printed to STDOUT for `cargo test`, while "hello" and "world" should be printed to STDOUT with `cargo test -- --nocapture`.

Instead, this happened: "world" is always printed to STDOUT ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1c5ed14361b2c7a8763f01156bb0a8af)).

### Meta

`rust

[2021-12-28 20:08] #92073 closed

[2021-12-28 20:08] #92301 closed

[2021-12-28 20:08] #92324 closed

[2021-12-28 20:18] MaskRay commented on #92181
For `llvm.global_ctors`, the code path is: `AsmPrinter::emitXXStructorList` -> `TargetLoweringObjectFileELF::getStaticCtorSection` -> `getStaticStructorSection`, and `.init_array.00000` gets `SHT_INIT_ARRAY` as well.

For C/C++ users, changing here will make `__attribute__((section(".init_array.00003")))` work while `__attribute__((constructor(3)))` should be used instead. It is a bit unfortunate

[2021-12-28 21:21] clubby789 opened #92373 "thread 'rustc' panicked at 'index out of bounds: the len is 90 but the index is 97', `compiler/rustc_query_impl/src/on_disk_cache.rs:712:18`"
### Code

Unsure where issue is appearing. Only happens when building with `cargo test`, no recent changes to the test code. Recently added the `url` crate to dependencies. After running `cargo clean` and rebuilding, the issue is fixed.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-28 21:45] jbr commented on #92337
I have run into this a bunch of times since filing. It seems to be resolved by doing a cargo clean, but I can't figure out what exactly reproduces it in this codebase, nor can I find a minimal repro. It has something to do with changing compiler flags, like switching between profiles or adding -Z flags like macro-backtrace

[2021-12-28 21:48] jbr commented on #92337
Duplicate of #92355, I think

[2021-12-28 21:49] jbr commented on #92337
Closing because I do think it's identical to 92163

[2021-12-28 21:49] #92337 closed

[2021-12-28 21:58] jackh726 commented on #91395
Replacing the `box_static_block` call with `box_static_block::<<<T as Table>::Blocks<'a> as Iterator>::Item>(block)` makes this pass...looking into this now

[2021-12-28 22:05] compiler-errors commented on #92373
probably a dupe of #92258, see #92210

@rustbot label +A-incr-comp

[2021-12-28 22:12] compiler-errors commented on #92368
Is this up for grabs? I'd be interested in helping if so.

[2021-12-28 22:14] camelid commented on #92368
Sure! Feel free to claim it :)

[2021-12-28 22:16] compiler-errors commented on #92368
@rustbot claim

[2021-12-28 22:24] jcande opened #92376 "Rust on wasm compiled with `trunk` crashes: 'rustc' panicked at 'failed to lookup `SourceFile` in new context', compiler/rustc_query_impl/src/on_disk_cache.rs:500:22"
### Background
This bug does not trigger on the first invocation of `trunk serve`. From this behavior and the filename of the panicking code I am guessing it is scary caching code that is up to no good.

The first time through everything works as expected but things blow up when it is re-run. Wasm itself throws an runtime exception, which is what I was initially attempting to debug. Unrelated but

[2021-12-28 22:50] workingjubilee commented on #91063
Hm, should it be? Diagnostic seems unchanged for the example given, even with a type annotation:
[code]

[2021-12-28 23:00] hkratz commented on #92376
Likely another duplicate of #92163.

[2021-12-28 23:02] inquisitivecrystal commented on #91063
I apologize for the early close. It looked like the PR should have taken care of this.

[2021-12-28 23:03] Lokathor opened #92378 "inline assembly register limits aren't correct when using instruction_set attribute"
First discussed [on zulip](https://rust-lang.zulipchat.com/#narrow/stream/216763-project-inline-asm/topic/register.20limitations.20do.20not.20respect.20instruction_set.20attri.2E.2E.2E).

Quick summary: the set of what registers are available for inline assembly is related to the current target arch. However, the `instruction_set` attribute lets a function be compiled for what's effectively an alt

[2021-12-28 23:52] ThePuzzlemaker commented on #92308
I'm gonna try and take a shot at this.
@rustbot claim

[2021-12-29 00:51] BGR360 commented on #91063
I probably should have also done some amount of due diligence before suggesting we close it

[2021-12-29 00:54] BGR360 commented on #92355
@rustbot label +A-incr-comp

[2021-12-29 00:56] BGR360 commented on #92378
@rustbot label +A-inline-assembly +F-asm +T-compiler

[2021-12-29 00:56] BGR360 commented on #92376
@rustbot +A-incr-comp

[2021-12-29 00:58] BGR360 commented on #92369
Can you please show your `config.toml`? And also the output of `x.py check`?

[2021-12-29 01:00] Stargateur commented on #45222
The [following](https://stackoverflow.com/questions/70513831/why-is-my-rust-program-running-more-that-twice-as-slow-as-the-java-equivalent) question on stackoverflow show a big performance hit using `RangeInclusive`:

[code]

using:
[code]

We get:

[code]

Thus I don't know exactly if this is related to this issue. But since this issue is more or less "problem with RangeInclusive perf" tell me if

[2021-12-29 01:04] BGR360 commented on #92362
@iliakonnov can you confirm that the crash does not occur on the latest stable and/or beta? Trying to figure out if this is a regression or a bug that has always existed.

[2021-12-29 01:05] Milo123459 commented on #92369
This is `config.toml`:
[code]
The output of x.py check is what you would expect, except for rustc_llvm(build) starts at 306 and has to go up to 317 in modules.

[2021-12-29 01:09] BGR360 commented on #92347
@rustbot label +D-invalid-suggestion

[2021-12-29 01:13] BGR360 commented on #92350
@rustbot label +I-slow

[2021-12-29 01:13] BGR360 commented on #92345
@rustbot label +A-docs +T-libs +E-easy

[2021-12-29 01:21] BGR360 commented on #92341
@rustbot label +T-rustdoc +F-generic_associated_types

[2021-12-29 01:23] steffahn opened #92379 "Funky rustdoc behavior when `pub use some::Trait as _;`"
Something like
[code]
creates documentation listing two traits called "`_`"

![Screenshot_325](https://user-images.githubusercontent.com/3986214/147618149-ef5a0529-c52e-44de-8e71-c6aef18e4391.png)

both of which link to *the same* URL `.../target/doc/crate_name/trait._.html` and which contains documentation for one of the two traits, chosen seemingly at random.

When I add a few implementations, s

[2021-12-29 01:34] BGR360 commented on #92369
How can you be certain that you and I expect the same thing? :-)

Also, it's apparent to me now that I don't actually know the purpose of rustc_llvm. Does compiling this crate result in compiling all of LLVM from source? Or is it just a small utility crate that doesn't take much time to compile at all?

[2021-12-29 01:35] clarfonthey opened #92380 ""Calls in const functions are limited to..." error should specifically say what part isn't const"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6d59a86fd2dbb93ed78e8f9108afe083

[code]

The current output is:

[code]

Although the carets *technically* make it clear which function is at fault since you can check what the outermost call is, this really kind of sucks. The actual source of the error can further be obscured if the functions are ca

[2021-12-29 01:40] clarfonthey commented on #67792
So, I'm a bit confused how `#[default_method_body_is_const]` is supposed to interact with `~const`.

Say I have these hypothetical traits:

[code]

If I want to make the default method on `Child` const, it seems like this is the most logical solution:

[code]

but `~const` isn't allowed in trait bounds, and so you have to do:

[code]

AFAIK, this `Self: ~const Parent` bound doesn't actually preven

[2021-12-29 01:42] Milo123459 commented on #92369
Oh, then I'm lost on what you mean.

[2021-12-29 01:52] BGR360 commented on #92369
Oh I was replying to how you said "the output is what you'd expect." I wanted to caution against using that as justification to not show what I requested, since maybe what I'd expect is different from what you'd expect.

[2021-12-29 01:53] clarfonthey commented on #88674
Note: `impl<T, U> const Into<U> for T where U: ~const From<T>;` is not actually included here; I add it with #92382.

[2021-12-29 02:01] clarfonthey opened #92384 "Tracking Issue for constifying `Result` methods that drop values"
Feature gate: `#![feature(const_result_drop)]`

### Public API

This is a tracking issue for the `const_result_drop` feature, which includes constness for the following methods:

[code]

Note that these depend on the semantics for `~const Drop`, which is (probably) tracked in #67792.

### Steps / History

- [x] Implementation: #92385
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unr

[2021-12-29 02:07] clarfonthey commented on #92384
Turns out you actually can't make these const, at least for now. So, closing.

[2021-12-29 02:12] saethlin commented on #45222
I minimized the above example into:
[code]
Godbolt link: https://godbolt.org/z/senY1Kohh

I see a 2x runtime difference between the two, using this program to execute them, commenting out the one I don't want:
[code]

[2021-12-29 02:12] camelid commented on #92015
Perhaps worth adding a regression test for this issue in particular.

[2021-12-29 02:47] BGR360 commented on #43265
This diagnostic is no longer emitted by the compiler. Can we close this?

[2021-12-29 02:55] Milo123459 commented on #92369
The main thing that's out of the ordinary is that every time it's rebuilt, the only thing that I would say is weird about the output.

[2021-12-29 03:06] BGR360 commented on #92369
And my point is I don't understand why that is weird. This is probably because I don't actually understand what the rustc_llvm crate does exactly (can you answer the question that I asked [here](https://github.com/rust-lang/rust/issues/92369#issuecomment-1002354072)?)

And furthermore, there could be things in the output that you don't think are out of the ordinary, but somebody else might see it

[2021-12-29 03:13] chordtoll commented on #92015
Sounds like a good idea- I'll get going on that

[2021-12-29 03:13] chordtoll commented on #92015
@rustbot claim

[2021-12-29 03:15] Mark-Simulacrum commented on #92369
If you can run with `CARGO_LOG=cargo::core::compiler::fingerprint=info` in the environment, that may help in identifying the cause of the rebuilds -- that should be set on an invocation which rebuilds. Please provide the full log when rebuilding with that env variable set.

[2021-12-29 03:15] BGR360 commented on #39259
This code now produces two confusing errors:

[code]

[code]

In the first one, the erroneous span has moved inside of the parentheses, so I feel it's no longer as correct as it used to be, and no more helpful.

And the second one just seems... incorrect? Idk, I'm not intimately familiar with this nightly feature.

@rustbot label +D-confusing +D-terse +requires-nightly +D-incorrect

[2021-12-29 03:21] BGR360 commented on #39401
For reference, this is the message currently produced:

[code]

I'm not a Rust expert, but why should the error message say anything remotely related to path resolution? Is it valid to have a path after `let`? Here's what I would expect the message to be:

[code]

[2021-12-29 03:30] Milo123459 commented on #92369
Sorry for all the confusion! Here's the result of that:
[code]

[2021-12-29 03:32] wolflo commented on #57923
Is this something that's actually expected behavior? Or has anyone found a workaround?

[2021-12-29 03:37] Mark-Simulacrum commented on #92369
The problem is caused by CFG_LLVM_ROOT changing, but it's not clear why that case change would happen.

[code]

That value is parsed from config.toml, I think, so presumably you're running something in the background like rust-analyzer which is using a different config.toml? Or something Windows-specific is happening that causes case changes, which is also possible I suppose.

[2021-12-29 03:38] BGR360 commented on #40476
The book no longer contains any mention of this pitfall (as far as I can tell), but I could certainly understand people still stumbling over this. (for posterity, here's [the section of the old book that talked about the pitfall](https://github.com/rust-lang/rust/blob/fd182c4010b5aee72d070b15e90c98cb0fdc3776/src/doc/book/src/patterns.md?plain=1#L53-L78))

Is this still true?

[2021-12-29 03:38] Milo123459 commented on #92369
This seems to only happen when I have VSCode open... I think rust-analyzer and a combination of Windows being bad is causing this.

[2021-12-29 03:48] BGR360 commented on #44478
The error message is now different:

[code]

While it does give a nice (and correct) suggestion, it still doesn't substitute the type alias for the actual type, which I think would be a nice touch.

[2021-12-29 03:55] BGR360 commented on #46162
It appears this is no longer true:

[code]

Should this be considered a bug?

@rustbot label +F-never_type

[2021-12-29 04:03] BGR360 commented on #47771
This no longer produces a compiler error ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=1cc802d2dc5f2dd9635d2a022441436c)):

[code]

[code]

Can we close?

[2021-12-29 04:05] ThePuzzlemaker commented on #92379
@rustbot claim
I've looked into this a bit and I've found a way to fix the main problem, but it causes a bit of a UI papercut itself--it will display the original names, but it doesn't say in any way that they've been reexported as `_`, so I need some advice on how I should handle this.
Using the second snippet provided with a small patch, it looks like this:
![image](https://user-images.githubuse

[2021-12-29 04:13] ThePuzzlemaker commented on #92379
Granted, this kind of feels like an edge case to me, I don't (personally) find any practical advantage to having a trait that you can only use the methods of but not mention or quantify over, e.g. for a `fn foo<T: Trait>(x: T)`-like function.

[2021-12-29 04:18] QiangHeisenberg commented on #91661
Oh, my God, I'm so excited. Thank you for your work.It's true that a lot of functions are covered. The ability to test coverage is almost perfect. There's only one thing I'm confused about:
```rand/rand_pcg/src/pcg128.rs```
[code]

[2021-12-29 04:18] BGR360 commented on #48616
I like this idea, but I agree that special-casing it to just `Result` and `Option` would be cheap.

To throw out some ideas for a more general diagnostic:
* (per @insanitybit 's suggestion) If the type is an enum and one or more of the variants has the method, then suggest pattern matching or if-let
* If the type is a struct and has one or more fields that have the method, then suggest using one o

[2021-12-29 04:26] BGR360 commented on #46703
On today's rustc, the message is even a little more confusing (at least, if the type comes from the same crate, haven't tried it outside of the playground yet):

[code]

[code]

It doesn't even give a full path for the `S` type.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=eb3cd0f67e05362c83acd407fb8446f8)

Potentially related: https://github.com/rust-lang/

[2021-12-29 04:31] steffahn commented on #92379
I would feel like displaying it like a regular re-export feels like a good solution, and also displaying a warning that goes away by adding `#[doc(no_inline)]` could be a feasible approach. After all, the documentation situation when it's _just_ the re-export documentation is somewhat suboptimal, too, because the traits are completely undocumented in this case, so a warning feels right; and after

[2021-12-29 04:33] BGR360 commented on #50871
Potentially related: https://github.com/rust-lang/rust/issues/91180

@rustbot label +A-traits +D-papercut

[2021-12-29 04:39] LollipopFt commented on #92321
oh my goodness, i hadn't noticed that. thank you!

[2021-12-29 04:39] #92321 closed

[2021-12-29 04:43] steffahn commented on #92379
I mean, I actually came up with the idea for code like this because it might have _some_ practical use-case. It's like the ultimate sealed trait; you cannot implement it, you can't even use it in trait bounds. A bit awkward to bring into scope (since only a `use path::to::module::*;` will to it, but other than that, it's almost like the perfect extension trait: You're not really supposed to implem

[2021-12-29 04:43] BGR360 commented on #49693
Looks like your wish has been granted since you posted the issue!

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7f8679202e795fab694431762f3830a7)

[code]

[code]

Can we close this?

[2021-12-29 04:47] BGR360 commented on #49923
Today's compiler gives a slightly different message:

[code]

This seems like even less information that it previously gave.

@rustbot label +A-inference +A-closures

[2021-12-29 04:54] BGR360 commented on #49031
Looks like the gods of time have made things better:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=4ea5a9fdcb325377e037d9f6ae1bab15)

[code]

[code]

But I like @comex 's second idea: rather than suggesting an import statement, give an inline suggestion to use the fully-qualified path.

Should we only do this for enums?

[2021-12-29 04:58] humenda opened #92387 "Compiles with std on aarch64 even though `no_std` is specified"
I am depending on two libraries that are known to build with `no_std` on aarch64-unknown-none.
The libraries are heapless and nom. Using them separately works fine, but using them together leads to the situation that a dependency of these dependencies is configured to use `std`. Furthermore, the issue can only be reproduced if this takes place in a workspace. A minimal working example is at <https

[2021-12-29 05:24] BGR360 commented on #54617
What was the original code for either of these?

[2021-12-29 05:52] BGR360 commented on #59842
Current output on the example above has only one error again. I then minimized it to the following equivalent code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=53224e608a1f087a566d30dc4c99a4e1)

[code]

[code]

[2021-12-29 06:11] BGR360 commented on #69516
@rustbot label +A-variance

[2021-12-29 06:17] fee1-dead opened #92391 "Tracking Issue for comparing values in `const` items"
Feature gate: `#![feature(const_cmp)]`

This is a tracking issue for various `const` `PartialEq`, `PartialOrd`, `Ord` impls in the standard library

### Public API

[code]

### Steps / History

- [x] Implementation: #92390 #101810 #102245
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-29 06:52] #63876 closed

[2021-12-29 06:58] BGR360 commented on #43882
Sooo, can this be closed?

[2021-12-29 07:18] BGR360 commented on #64579
Looks like the gods of time have granted your wish (in this case, @Nilstrieb ): https://github.com/rust-lang/rust/pull/90179

[Current output on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d0e1feac78ddee6965055f889e6687f6):

[code]

Can we close this?