[2020-02-12 18:56] sdroege commented on #69102
Needless to say that it might of course also be unsound unsafe code that is involved here, but this was working fine for years :)

[2020-02-12 18:57] jonas-schievink commented on #69103
Nominating due to impending stabilization, even though stable doesn't ICE *yet*

[2020-02-12 19:11] RReverser commented on #68560
I see; WASI SDK conditionally excludes `chmod` for WASI target during compilation, and I suppose that's what Rust wants to avoid and instead simulates with a runtime error. Fair enough.

In that case, would you be open to adding a specific implementation of `std::fs::copy` for WASI target that just uses `std::io::copy` but doesn't set permissions? There is no direct analogue for it in the wasi-lib

[2020-02-12 19:25] wesleywiser commented on #69060
Something interesting I noticed, apologies if this is already known;

![image](https://user-images.githubusercontent.com/831192/74369499-77044d00-4da3-11ea-901b-afbae70d91ee.png)

Perhaps this is LLVM optimization related?

[2020-02-12 19:29] Mark-Simulacrum commented on #69060
It seems possible that the queries are run from codegen, but since they're queries, I believe the problem is within Rust code (to my knowledge we don't have callbacks or anything like that from LLVM).

[2020-02-12 19:31] #65127 closed

[2020-02-12 20:07] petrochenkov commented on #69053
We can, that would be a very good approximation for the suggestion №2, since we are mostly reporting error for identifiers coming directly from the current crate.

That would be `Ident::with_dummy_span(name)` from the original version of https://github.com/rust-lang/rust/pull/68963.
The only thing is that I'd like to see a method with some other name than `Ident::with_dummy_span(name)`, because it

[2020-02-12 20:18] chrissimpkins commented on #69017
merged to master in https://github.com/rust-lang/rust/pull/69094

[2020-02-12 20:25] #69017 closed

[2020-02-12 20:26] estebank opened #69107 "Detect when if/else is tail expression has mismatched types that could be a boxed trait"
Given the following
[code]
[we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=33b39a8ed7e34ca644fca8a23c5aa146)
[code]

[We should suggest changing](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=493cbd88403ec9abebf2c18dc3b7486a) the return type from `impl Trait` to `Box<dyn Trait>` and boxing the two branches. I think this is the

[2020-02-12 20:26] jonas-schievink commented on #69017
Thanks for fixing this!

[2020-02-12 20:28] estebank commented on #48812
Current output:

[code]

Output with nll enabled:

[code]

[2020-02-12 20:31] chrissimpkins commented on #69017
Thanks to you and Oliver for helping me!

[2020-02-12 20:41] nikomatsakis commented on #68709
@Ixrec With regard to RFC 1857, quite frankly, those comments may have been in ignorance of the documentation of `Vec`. I guess I am surprised to learn that we had not guaranteed the drop order for `Vec`. But that RFC was (I believe) primarily discussed by folks from lang team, not libs team, so maybe we all just neglected to read the docs. =)

[2020-02-12 21:16] Amanieu opened #69110 "format! allows named arguments to be referenced by position"
The following example compiles, but shouldn't.
[code]

This seems to be an unintentional regression that was introduced somewhere between 1.11.0 and 1.12.0, most likely by #33642.

However, this code has been accepted on stable for multiple years now (1.12 was in 2016), so fixing this might break existing code. We could still change this back to an error if crater reports no regressions since it i

[2020-02-12 21:24] kvark commented on #50007
Heads up - this hits us in https://github.com/gfx-rs/wgpu as well. Very annoying and inconvenient, would very much appreciate any progress here!

[2020-02-12 21:37] tmiasko commented on #39699
The guide to rustc development now contains [an overview of sanitizer implementation in rustc](https://rust-lang.github.io/rustc-guide/sanitizers.html). It should be a good starting point for work on additional sanitizers or even XRay since there is a lot of common ground there.

[2020-02-12 21:45] rodrimati1992 opened #69111 "Implementing `Index<LocalType>` for arrays causes usize indexing to fail."
I tried this code:
[link to playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=2e8cacc7a57123869d77f2c7cb68ee6c)
[code]

I expected the code to compile without errors.

Instead I got this compiler error:
[code]

It produces the same error for stable beta and nightly.

The `impl<T> Index<One> for [T;10]` impl started being allowed on Rust 1.41,while on Rust 1.40 i

[2020-02-12 21:52] jonas-schievink commented on #69111
This is probably expected behavior, since array do not actually implement `Index` (they deref to slices, which do).

[2020-02-12 21:52] sdroege commented on #69102
This is actually a bug in the GLib bindings, I believe. Debugging a bit further now.

[2020-02-12 22:02] sdroege commented on #69102
So basically what happened is that in one place we allocate memory for an `Option<T>` and in another place we use a pointer to that memory as a `*const T` and dereference it as such.

For reasons that I don't understand this worked before (I assume because the discriminant of the `Option` was stored at the end of the struct or moved into a niche inside one of the `RefCell`s, see below?) but not an

[2020-02-12 22:02] #69102 closed

[2020-02-12 22:20] GuillaumeGomez commented on #69025
So like I said, I don't think this is a good idea. If more @rust-lang/rustdoc could give their opinion?

[2020-02-12 22:30] sdroege commented on #69102
See https://github.com/gtk-rs/glib/pull/589 for the fix.

[2020-02-12 22:30] krsnik02 commented on #63569
Is there any reason these are not directly implemented on the slice?
[code]

This would allow `slice.first_ptr()` instead of `std::mem::MaybeUninit::first_ptr(&mut slice)`.

[2020-02-12 22:37] JustAPerson opened #69112 "Conflicting error messages for HRTB in `impl Trait`"
Rust declares the lifetime `'a` is both undeclared and that it is a shadowing declaration

[code]

My more complicated example is trying to use the `&mut Ctx` reference in one of the closures passed to `Iterator::map()` so I need to somehow incorporate the lifetime `'c` into the return type.

Instead I get this confusing error:
[code]

You'll notice the `help` text of the first error says "undecla

[2020-02-12 22:45] nikic commented on #69101
From a quick look, seems like something indvars should be able to handle based on scev. IV dependent condition is known based on loop entry guard.

[2020-02-12 23:05] matthewjasper commented on #65918
Reopening due to  #68679

[2020-02-12 23:08] ilyavenner opened #69114 "Static lifetimes checking regression in rustc 1.41.0"
I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=551de68b1179d7eb692e6c286b0979da):

[code]

I expected to see this:

[code]

Instead, happens **undefined behavior**. Program successfully compiles in the Rust `stable 1.41.0` but fails to compile in `stable 1.40.0` (thats what I want).

[2020-02-12 23:16] eddyb commented on #69060
It might be a combination. LLVM is known to have trouble maintaining deterministic *performance*, in a similar vein to rustc hashing pointers, but potentially even affecting output for LLVM optimziations.

I highly advise disabling *at least* userspace ASLR, and manually check (by dumping `/proc/self/maps` from `rustc`? or even interned e.g. `Ty` pointers) that the heap addresses match between two

[2020-02-12 23:38] cbiffle commented on #60392
We're still hitting this in RISC-V Tock with a January-2020-ish nightly compiler. Has the Apr 2019 LLVM fix not made it into rustc yet, or could it be a new bug?

[2020-02-12 23:49] ecstatic-morse commented on #69114
Regressed in a449535bbc7912c4adc1bbf2ab2738d0442f212c, likely #66587 cc @matthewjasper.

[2020-02-13 00:14] eddyb commented on #62649
Nitpick: `ItemLocalId` is meant to mean "item-local (node) ID", maybe something like `IntraOwnerId` would be better at describing this but unsure.

`DefId` and HIR owners matching is something I want in the medium-term but I'm unsure how long it would take to get there.

[2020-02-13 00:25] ronghui1219 opened #69116 "_modsi3 macros.rs:255 crash on armv7 & armv7s iOS Device"
my library have armv7 & arm64 arch, but some user have crash like this
_modsi3 macros.rs:255
and this crash only occur on armv7 and armv7s Devices, such as iPod5,1 , iPhone 4,1, arm64 is fine
how can i solve this problem?
rustc 1.39.0 (4560ea788 2019-11-04)

[2020-02-13 01:40] #64289 closed

[2020-02-13 01:40] #68794 closed

[2020-02-13 01:40] #69071 closed

[2020-02-13 01:41] rust-highfive opened #69117 "`miri` no longer builds after rust-lang/rust#69105"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69105, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominating for compiler

[2020-02-13 02:20] estebank commented on #69053
The PR looked trivial enough by using `Ident`s instead of `Symbol`s to be worth it as a best-effort approach to correct code.

The reason I feel these in particular are important is because normally we suggest using raw idents when the parser can identify them, but in these cases of `final` and `fn` the parser does not recover gracefully guiding the user in the right direction.

[2020-02-13 02:21] memoryruins commented on #69116
Which library, and does it occur on a current stable 1.41 and/or nightly?
Do you have a log/backtrace of the crash, and what are the steps to reproduce?

[2020-02-13 04:57] #68916 closed

[2020-02-13 04:57] #68917 closed

[2020-02-13 07:09] LegNeato commented on #68644
We are hitting this with Juniper across all channels and platforms:

[mac stable](https://github.com/graphql-rust/juniper/runs/442951562), [linux stable](https://github.com/graphql-rust/juniper/runs/442951547?check_suite_focus=true#step:7:2036)

[code]

[2020-02-13 08:12] #44777 closed

[2020-02-13 08:12] #67844 closed

[2020-02-13 08:12] #64304 closed

[2020-02-13 08:12] #69000 closed

[2020-02-13 08:12] #68197 closed

[2020-02-13 08:12] LegNeato opened #69121 "ICE: Encountered error `Unimplemented` selecting `Binder(...)` during codegen"
We are newly hitting this with [Juniper](https://github.com/graphql-rust/juniper/) across all channels and platforms. While there are other issues with similar errors, they either say it only happens with nightly or requires GATs, neither of which are in use here.

[mac stable](https://github.com/graphql-rust/juniper/runs/442951562), [linux stable](https://github.com/graphql-rust/juniper/runs/4429

[2020-02-13 08:32] Sherlock-Holo opened #69123 "Unhelpful suggestion for "cannot infer type" error"
I tried this code:

[code]

I expected to see this happen:

when run `cargo check`, it should says

[code]

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-02-13 09:16] paledega opened #69124 "Cannot compiling from source"
![Screenshot_2020-02-13_09-16-19](https://user-images.githubusercontent.com/38860643/74419250-8508ab00-4e41-11ea-9666-cc34f7ca7996.png)

[2020-02-13 09:44] lzutao commented on #67302
The code generated by `str::strip_prefix` is really complicated and inefficient.
Godbolt link: https://rust.godbolt.org/z/AnEoHH
Should we add `strip_prefix` / `strip_suffix` method directly to [Pattern](https://doc.rust-lang.org/nightly/std/str/pattern/trait.Pattern.html) or [Searcher](https://doc.rust-lang.org/nightly/std/str/pattern/trait.Searcher.html) trait?

[2020-02-13 10:30] jonas-schievink commented on #69124
How did you obtain the source code?

[2020-02-13 10:39] Centril commented on #69103
Simplified:
[code]

[2020-02-13 10:50] haraldh commented on #47493
I hit this, too, with `no_std`, `panic=abort` and using `alloc` with `x86_64-unknown-linux-musl`

`rustc 1.43.0-nightly (442ae7f04 2020-02-06)`

[code]

[2020-02-13 10:57] Cogitri commented on #68794
Will this be released in a 1.41.1, or should distros just apply this downstream? We'd very much like Rust 1.41.0 without TEXTRELs on x86.

[2020-02-13 10:57] Cogitri commented on #68794
Also, thanks for the quick fix of course :)

[2020-02-13 10:59] ajpaverd commented on #68793
The config.toml option to build libstd with Control Flow Guard checks was added in #68824.

[2020-02-13 11:29] ronghui1219 commented on #69116
i will try 1.41.0 next, here is crash log
[code]
question is  in `_fireEvent` , it does not invoke any rust code, just objective-c code,  but as crash log, it crash at _modsi3 macros.rs ,  does rust replace iOS own implementation?

[2020-02-13 11:30] Mark-Simulacrum commented on #68794
I would not currently wait for a 1.41.1 release. I hope that it will make it into 1.42 though.

[2020-02-13 11:33] Cogitri commented on #68794
Alright, thanks for the info.

[2020-02-13 11:50] jonas-schievink commented on #68967
Okay, that sounds much less alarming then. Thanks for the clarification!

[2020-02-13 13:09] dwrensha opened #69130 "internal compiler error: "byte index 4 is not a char boundary""
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

The error happens on `beta` and `nightly` but not on `stable`.

[2020-02-13 13:29] steffahn commented on #67844
@Aaron1011 any ideas how I can get my original example to running though?
I was starting with this function (which does compile)
[code]
and wanted to give a name to its return type.
The straightforward approach seems to be
[code]
But the compiler is still unhappy with lifetimes currently, after your fix. I'm getting the following.
[code]

At least it works without the lifetimes (i.e. after removin

[2020-02-13 13:37] paledega commented on #69124
![Screenshot_2020-02-13_13-37-00](https://user-images.githubusercontent.com/38860643/74440433-ed698380-4e65-11ea-9a1d-5691478a9c9e.png)

[2020-02-13 13:37] paledega commented on #69124
https://github.com/rust-lang/rust/archive/1.41.0.tar.gz

[2020-02-13 13:41] paledega commented on #69124
I need rust for compiling librsvg

[2020-02-13 13:44] paledega commented on #69124
https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/rust

I tried this PKGBUILD. same issue

[2020-02-13 13:45] crlf0710 commented on #67623
According to E0207: `rustc --explain E0207`
[code]

[2020-02-13 13:53] luqasz commented on #44052
Any update on this ?
Just curious.

[2020-02-13 14:23] steveklabnik commented on #53117
@jackmott did you ever get around to testing this again? :)

[2020-02-13 14:28] alex179ohm opened #69131 "Weird error message when pub crate is implemented on inner mod"
When an inner mod publicly re-exports function,enum or struct with the `pub(crate)` attribute a non-clear error is showed by cargo check and cargo build.

consider a crate lib with the following tree:
[code]

where the lib.rs correctly declare the mod `tmod` as following:
[code]
and the mod.rs content is the following:
[code]

I expected to see this happen:
I suppose that the correct behavior shou

[2020-02-13 14:34] matthiaskrgr opened #69132 "better warning when passing format string and variable in wrong order to format/println"
I accidentally came up with something like this
[code]
rustc suggested
[code]

but it would be better to suggested swapping the order of `greeting` and `"{}"` in the case that the format-string is valid.

[code]

[2020-02-13 14:39] matthiaskrgr opened #69133 "make format! accept const vars as format-strings"
I wonder if we could make rustc accept code like this:
[code]

Currently this errors with:

[code]

`rustc 1.43.0-nightly (58b834344 2020-02-05)`

[2020-02-13 14:42] sfackler commented on #69133
Macros run before name resolution, so there's no way for `format!` to find the contents of the string `y`.

[2020-02-13 14:45] steffahn commented on #67844
@Aaron1011
Also I'm now (self-compiled master with the fix) getting a panic on this (admittedly incorrect) program:
[code]
which didn't panic on the latest nightly (2020-02-13).

Message is:
[code]

[2020-02-13 14:52] jackmott commented on #53117
@steveklabnik yes, this is fixed now!

[2020-02-13 15:08] runiq commented on #68829
Drive-by triage: This should apparently have been closed by #68834.

[2020-02-13 15:11] #53117 closed

[2020-02-13 15:18] Centril commented on #69133
Closing with @sfackler's explanation.

[2020-02-13 15:18] #69133 closed

[2020-02-13 15:21] nikomatsakis commented on #69114
Visited in the compiler team triage meeting. It would be good to look into closing this ASAP. @matthewjasper do you think you'll have time to investigate? If not, I'd want to find someone else.

[2020-02-13 15:30] #68829 closed

[2020-02-13 15:32] nikomatsakis commented on #69130
Visited from compiler team triage meeting. Categorized as P-medium.

[2020-02-13 15:33] nikomatsakis commented on #69117
Triage meeting: Tagged as P-medium, appears to have  PR.

[2020-02-13 15:34] nikomatsakis commented on #69114
We've assigned this speculatively to @matthewjasper -- if you think you won't be able to investigate promptly, though, feel free to unassign and ping t-compiler for reassignment, @matthewjasper.

[2020-02-13 15:38] eddyb commented on #69114
I expected the behavior to match that of this example (which still errors):
[code]
I wonder if the `'static` gets erased somehow. Maybe an "user type annotation" is required on the `*mut T` from a `static mut FOO: T`, to give it a lifetime'd type?

[2020-02-13 15:39] Centril commented on #69096
Godbolt says this regressed in 1.30.0 and used to work in 1.29.0.

[2020-02-13 15:40] nikomatsakis commented on #69096
@rustbot ping icebreakers-cleanup-crew

There is already a minimal example here, but it'd be great to figure out the PR (or at least nightly) that caused it regress.

[2020-02-13 15:41] nikomatsakis commented on #69096
Tagging as P-high since this is a regression, though it might be considered P-medium otherwise (not an active soundness hole, for example).

[2020-02-13 15:42] eddyb commented on #69096
Looks like this is in `rustc::ty::print::obsolete::DefPathBasedNames`, which we want to get rid of anyway, I'm not surprised it's buggy.

More specifically, it looks like it's crashing while trying to generate a name for a LLVM type.

cc @rust-lang/wg-codegen Should we make LLVM type names respect `-Zfewer-names`?
(which defaults to `true` unless `--emit=llvm-ir` is used)

[2020-02-13 15:43] nikomatsakis commented on #68948
Visiting from compile triage. I believe this is "working as expected" (for better or worse). In particular, since we don't know the type of the variable `b`, we do indeed register this as a *move* of `a`. Closing.

[2020-02-13 15:43] #68948 closed

[2020-02-13 15:47] nikomatsakis commented on #68801
@rustbot ping icebreakers-cleanup-crew

Dear cleanup crew, it would be great to try and narrow this down to a self-contained example. @threecgreen [has a crate here](https://github.com/rust-lang/rust/issues/68801#issuecomment-582920167) that reproduces the problem, but it's not a small, workable example.

[2020-02-13 15:48] nikomatsakis commented on #68801
Also would be good to know if this is a regression.

[2020-02-13 15:49] nikomatsakis commented on #68801
Tagging as P-high for now because the ICE gives so little actionable information to guide the user as to how to correct the problem.

[2020-02-13 15:51] nikomatsakis commented on #68967
Visited during compiler-team triage. Based on @oli-obk's comment, going to close as "won't fix". Thanks @jonas-schievink!

[2020-02-13 15:51] #68967 closed

[2020-02-13 15:54] eddyb opened #69134 "LLVM globals corresponding to miri allocations should be named alloc123."
That is, if `-Zfewer-names` is `false` (usually only because of `--emit=llvm-ir`), we should use the same name for LLVM globals we generate out of miri allocs as #67133 does in MIR output (`allocN`).

This way, we can easily see the mapping between MIR and LLVM IR (and it shouldn't be any costlier for regular compilation, which would continue to use unnamed globals).

Relevant code (btw this could

[2020-02-13 15:56] #66902 closed

[2020-02-13 15:58] Patryk27 commented on #69124
Seems like you don't really need to compile the entire `rustc` by yourself - why don't you just [download pre-compiled binaries](https://rustup.rs/)? :-)

[2020-02-13 15:58] Aaron1011 commented on #67844
@steffahn: Can you open separate issues for each of those problems?

[2020-02-13 16:06] paledega commented on #69124
I wanna compile. I dont wanna use 3. party script

[2020-02-13 16:07] paledega commented on #69124
@Patryk27 do you know any solve?

[2020-02-13 16:12] nagisa commented on #69096
Yes, the whole point of this option is to produce as lean LLVM-IR as possible -- to reduce the peak memory use first and foremost. This means no variable names, no label names and I don't see how type names are in any way unique here that would warrant keeping them.

[2020-02-13 16:19] oli-obk commented on #69134
Kinda vague instructions:

1. Replace the `None` for the `static_addr_of_mut` and `static_addr_of` call with a `Some` by creating the name via `ptr.alloc_id.to_string()`.
2. Run all codegen tests and adjust them as necessary.

[2020-02-13 16:22] steffahn opened #69136 "ICE: src\librustc\ty\subst.rs:496: Region parameter out of range when substituting in region 'a"
### Code

[code]

### Meta

Appears since `nightly-2020-02-14`. More precisely, the ICE appears since #69008 was merged.
Possibly related to #67844.
Note that the code should not compile.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-02-13 16:42] steffahn opened #69137 "The "type alias impl trait" feature has Problems handling lifetime parameters."
I was starting with this function (which does compile on nightly)
[code]
and wanted to give a name to its return type.
The straightforward approach seems to be
[code]
But the compiler is currently unhappy with the lifetimes. I'm getting the following.
[code]

It works without the lifetimes (i.e. after removing parametrization over 'a and replacing all occurrences of 'a with 'static), like this:
[c

[2020-02-13 16:47] steffahn commented on #67844
@Aaron1011 Okay, done ^^ (#69136, #69137)

[2020-02-13 16:51] Patryk27 commented on #69124
Well, if you want to build it... did you try following [the instructions](https://rust-lang.github.io/rustc-guide/building/how-to-build-and-run.html)?

[2020-02-13 17:00] jonas-schievink commented on #69124
@paledega rustup is not a third-party script, it is the official recommended installer for Rust.

[2020-02-13 17:07] DutchGhost commented on #69001
Closing, since the corresponding PR was declined: https://github.com/rust-lang/rust/pull/69003

[2020-02-13 17:07] #69001 closed

[2020-02-13 17:36] estebank commented on #69110
This should be reintroduced as a warn by default lint, regardless of crater results. We know this is relatively easy to stumble and rely on and rust is no longer close to 100% open source. Furthermore this is relatively benign mistake, a warning seems to me more than enough.

[2020-02-13 17:37] chrissimpkins commented on #69096
cargo-bisect-rustc indicates that the stack overflow is first seen on the 2019-07-31 nightly:

[code]

<details><summary>cargo-bisect-rustc</summary>
<p>

[code]

</p>
</details>

from 04b88a9eba8abbac87eddcb2998beea09589c2c9 to dddb7fca09dc817ba275602b950bb81a9032fb6d

I am seeing an `error: Unrecognized option: 'json'` error before that date but no stack overflow.

Source: https://play.rust-lang

[2020-02-13 17:42] eddyb commented on #69096
That suggests that you're using a Cargo too new or somehow back-compat logic was removed (or never present?) in Cargo (not sure what our policy is).

You need an older Cargo to go back past the addition of `--json`.

But also it would be nice if Cargo didn't need to be involved in the bisection process, because it IMO unnecessarily complicates it.

[2020-02-13 17:45] cjgillot commented on #51003
Is this issue still relevant? Can I pick it up?

[2020-02-13 17:46] Datarecovery09 opened #69140 "Compiler failed to spawn thread, "Resource temporarily unavailable" on hello-world; Ubuntu VM."
Seemingly random bug; cannot reproduce reliably. Tends to vanish for some time when I reboot the system, but always comes back after some time. CPU and RAM are barely used when it occurs.

### System
[code]

### Code
[code]

### Meta

Bug occurs in nightly and stable versions.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[2020-02-13 17:48] chrissimpkins commented on #69096
https://github.com/rust-lang/cargo-bisect-rustc/issues/49

[2020-02-13 17:50] jonas-schievink commented on #69140
Root cause seems to be https://github.com/rust-lang/rust/issues/46345

[2020-02-13 17:58] estebank commented on #69083
All that's left is to update the tests in the next release.

[2020-02-13 17:59] ethanboxx commented on #68801
@harrisonthorne Can you run [cargo bisect](https://github.com/rust-lang/cargo-bisect-rustc/) on this so we can identify if this is a regression in rustc.

[2020-02-13 18:18] chrissimpkins commented on #68801
Source: crash-demo branch of https://github.com/threecgreen/vinoteca/tree/crash-demo

There are multiple ICE error types coming from this [block of source](https://github.com/threecgreen/vinoteca/blob/f28f1b1315211b4c37dfec776761e5d1281ec7a7/src/producers.rs#L43-L60):

[code]

ICE's:

- `bad placeholder type`
- `cat_expr Errd`
- `PromoteTemps: MIR had errors`
- `broken MIR in DefId(0:84 ~ vinoteca

[2020-02-13 18:20] matthiaskrgr commented on #54167
I got the same bootstrapping rustc today.
I switched from be493fe8cc4 to d538b80ad77 and was trying to build

[code]

[2020-02-13 18:51] chrissimpkins commented on #68801
Regression.

Tested with builds of the full crate

searched nightlies: from nightly-2019-08-01 to nightly-2020-02-01
regressed nightly: nightly-2020-01-01
searched commits: from https://github.com/rust-lang/rust/commit/a9dd56ff9a08d74c53d5cc22d18f126a12749608 to https://github.com/rust-lang/rust/commit/119307a83e12291a3fc126735d6bd0292c443464
regressed commit: https://github.com/rust-lang/rust/com

[2020-02-13 19:25] estebank commented on #68801
Mea culpa.

[2020-02-13 19:32] luser commented on #64191
Note that for large projects this overhead adds up. GNU `ar` added a "thin archive" mode a while back which just stores the paths to the object files instead of copying them all in. We[ hand-rolled something like this](https://searchfox.org/mozilla-central/rev/a4be2fbe9bd4f405c91cc16e4e3a80400f5a9301/python/mozbuild/mozbuild/backend/common.py#288) for Firefox as well. It may not be as bad as the C

[2020-02-13 19:56] nikomatsakis commented on #63568
@SimonSapin did you want to resolve the docs concern? I think @dtolnay tried to but you registered them =)

[2020-02-13 19:57] chrissimpkins commented on #68801
@estebank Esteban, I'm not sure if this is the same ICE that was reported in the OP.  The source that I used was from https://github.com/rust-lang/rust/issues/68801#issuecomment-582920167 based on the request in https://github.com/rust-lang/rust/issues/68801#issuecomment-585825312.

I'm not seeing a `'rustc' panicked at 'index out of bounds: the len is 1 but the index is 1'` ICE in the vinotecta s

[2020-02-13 20:05] afonichev opened #69143 "Absolute path to *.pdb in the binary file"
Can it be removed somehow?

![image](https://user-images.githubusercontent.com/15726637/74473503-c5554100-4eb4-11ea-89c4-bb3f97225054.png)

[2020-02-13 20:20] estebank commented on #68801
@chrissimpkins by fixing that underlying bad gating of `_` in type parameters the crate no longer panics:

[code]

[2020-02-13 20:38] chrissimpkins commented on #69130
searched nightlies: from nightly-2020-01-01 to nightly-2020-02-10
**regressed nightly**: nightly-2020-01-22
searched commits: from https://github.com/rust-lang/rust/commit/b5a3341f1b8b475990e9d1b071b88d3c280936b4 to https://github.com/rust-lang/rust/commit/5e8897b7b51636f157630e6639b711d698e1d101
**regressed commit**: https://github.com/rust-lang/rust/commit/ce361fb24f0896bf7d983549117cbe1f70f32dc

[2020-02-13 20:51] HallerPatrick commented on #69096
So I tried to reproduce the overflow manually by going back to see where it firstly regressed, due to the rust-lang/cargo-bisect-rustc#49.

But couldn't find a working build yet...

The latest (youngest) build I tested now was 1.14.0-nightly, which is from 2016 and I was still able to reproduce the error. Had to add `#![feature(conservative_impl_trait)]` as `impl Trait` was experimental back then.

[2020-02-13 21:13] eddyb commented on #69096
@Centril Any chance you forgot to add `pub`? godbolt is always in library mode IIRC so there might not be enough codegen to reach the infinite recursion (and maybe we changed the rules when some things are codegen'd, especially around `impl Trait`)

[2020-02-13 21:21] matthewjasper commented on #51003
It's still relevant. Feel free to ping me with questions.

[2020-02-13 21:27] Centril commented on #69096
@eddyb I copy pasted the code into godbolt so I didn't add `pub`.

[2020-02-13 21:30] Aaron1011 opened #69147 "Incorrect trait-object warning when returning a type-alias-impl-trait"
The following code:

[code]

produces the following messages:

[code]

The error message is correct - `Foo` is not a trait, so writing `+ 'static` makes no sense. However, the warning message is completely inapplicable - `Foo` is not a trait, so adding `dyn` will just produce a different error.

We should suppress this warning if the user didn't actually write down the name of a trait.

[2020-02-13 21:32] SimonSapin commented on #63568
@rfcbot resolve docs

Did we decide on naming?

[2020-02-13 21:34] Centril commented on #63568
I think we've sorta decided on naming but it seems like https://github.com/rust-lang/rust/pull/66174 was closed unmerged. Maybe someone could pick up that work or it could be done as part of the stabilization PR?

[2020-02-13 21:39] Centril commented on #69147
And without the feature gate:
[code]
==>
[code]

[2020-02-13 21:39] ollie27 commented on #69110
This is pretty much a duplicate of #45256.

[2020-02-13 21:52] SimonSapin commented on #63568
Applying the rename in the stabilization PR sounds ok to me, as long as we don’t forget to do it.

@rfcbot resolve naming

[2020-02-13 23:16] phaazon opened #69149 "rustc fails to resolve an associated type when using Self: Trait<A> in a method of a trait"
_Somewhat_ minimal reproducible code:

[code]

I expected to see this happen: code should compile just fine.

Instead, this happened: result from _rustc_:

[code]

### Meta

Bug present in both _stable_ and _nightly_ (I haven’t tested _beta_ but I guess it’s there to).

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-02-13 23:29] nnethercote commented on #68666
I increased the size of the benchmark from 16 tokens to 19 and did some profiling.

`register_obligation_at` is called 3.4M times. It accounts for most of the runtime.

The length of `self.nodes` gets up to 1.4M.

Worst of all, the length of at least one `node.dependents` gets up to 131k, which is extraordinary. This results in quadratic behaviour, because of this code, because `contains` does a l

[2020-02-13 23:33] phaazon commented on #69149
Just starting the discussion: people on Reddit told me that `Self: _` is an anti-pattern (which I disagree with, it’s a very useful feature, and it works with `Self: Trait` if `Trait` has no type variable).

If you think a bit about it, `Self: Trait<A>` on a method _should be fine_ as the method’s impl is available only if `Self` implements `Trait<A>`. Only that method has access to `Trait<A>`’s i

[2020-02-13 23:42] jsgf commented on #64191
it doesn't look like this emits an artifact notification for `.rlink` files. It might also be useful if it emitted notifications for all the object files as well - otherwise a build tool which is trying to keep track of all the emitted objects would need to parse the json (presumably not a stable format at this point) to work out what they all are.

[2020-02-13 23:55] Evrey commented on #68630
Here are more cases where that error occurs:

[direct link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a8c574b1d34f580911a6e63dd26c3168)

Test snippet as I don't know for how long the playground will keep the code.
[code]
I'm happy to see this issue being tagged as `C-bug`. Would've been nice to mark that error message as `TODO` or something. I feared th

[2020-02-14 00:18] AlexEne commented on #21690
For game engines and similar real-time apps where floating point-accuracy is not that big of an issue (but speed is), this is quite important. The experience and steps to add this today in rust programs is not at all great.

What would be the best practical next steps to get some traction on this issue?
What needs to be addressed and how can we help with this?

Potential questions that might need

[2020-02-14 01:04] tmandry commented on #64191
@0dvictor and I were discussing how to collect the input files. We decided the easiest way was in fact to archive them, and that we would profile the performance impact in Fuchsia to see if it was a problem.

This approach has the nice property that you know exactly how many output files there will be and what their names are, which makes integrating into existing systems easier. Given that this u

[2020-02-14 01:07] Aaron1011 opened #69151 "rustc segfaults when printing a backtrace for ICEs when debug=true is set"
When `debug=true` is set in `config.toml,` my machine generates a `librustc_driver.so` with a size of 2.2 GB, of which 2.1 GB is debuginfo. This ends up triggering https://github.com/ianlancetaylor/libbacktrace/issues/32. Since `backtrace-rs` [ignores errors from `libbacktrace`](https://github.com/rust-lang/backtrace-rs/blob/190b2f9bb1df384be686eadd1d14cb95de0d87d4/src/symbolize/libbacktrace.rs#L1

[2020-02-14 01:14] Mark-Simulacrum commented on #69151
cc @eddyb for debuginfo size, though I imagine this is just another case where our defaults being =2 vs. =1 is probably not ideal.

[2020-02-14 01:37] #67512 closed

[2020-02-14 03:02] lzutao commented on #32610
What should we do next? Should we try to create a `memcmp` intrinsic?

[2020-02-14 03:06] nnethercote opened #69153 "Re-evaluate `Hash{Set,Map}` vs `FxHash{Set,Map}` once #69152 lands"
rustc uses `FxHash{Set,Map}` everywhere rather than `Hash{Set,Map}`, because the `DefaultHasher` used by `Hash{Set,Map}` is slow.

But once #69152 lands, `DefaultHasher` will be a lot faster when hashing integers, which is a common case; in one microbenchmark I saw a ~2.5x speed-up. Combine that with the fact that `FxHasher` is a lower-quality hasher and so tends to result in more collisions, and

[2020-02-14 03:06] nnethercote commented on #58249
See also #69153

[2020-02-14 03:28] chrissimpkins commented on #69134
@rustbot claim

[2020-02-14 03:58] viper6277 commented on #50412
Newbie here....So ...how do I replace  ?

[code]

[2020-02-14 04:00] chrissimpkins commented on #69134
https://github.com/rust-lang/rust/pull/69155

Mind having a look at the updated checks?  They pass on local stage 1 tests, but I can't verify that they are valid expected values.

[2020-02-14 06:13] jsgf commented on #64191
Yeah, a heavyweight `ar` would add a lot of unnecessary cost in extra copying. A thin archive would be fine though.

Is there a plan to stabilize/document the format of `.rlink` files? It looks like it has everything needed to directly generate a linker line, which might be preferable for us.

[2020-02-14 06:17] jsgf commented on #64191
`rustc -Zlink-only thing.rlink` deletes its input files as part of its execution. That seems... strange.

[2020-02-14 07:02] bjorn3 commented on #64191
`-Zlink-only` invokes the linker code like normal. Only when `-Csave-temps` is used, does the linker code not cleanup object files.

[2020-02-14 07:10] tmandry commented on #64191
I don't think we want to stabilize the rlink format anytime soon. It's basically a JSON representation of an internal Rust data structure.

Thin archives or json directives seem like a better bet. Or a distributed cache can scan the output directory for any new files and send them to the client, rsync-style.

[2020-02-14 07:35] tesuji opened #69160 "rustdoc: Hide the "Show hidden undocumented items""
I enabled in "Auto-hide trait implementations documentation" feature in Settings.
But the "Show hidden undocumented items" strings still displays and it is quite distracting to me:
![image](https://user-images.githubusercontent.com/15225902/74510822-258cc700-4f37-11ea-9c42-ae6f24505757.png)

It would be nice if it hide those strings completely by default.

Note: The screenshot was taken from <http

[2020-02-14 08:02] RalfJung commented on #63569
As far as I know, such inherent impls for primitive types don't actually work -- and making them work requires some magic to be added inside the compiler. I am not sure though.

[2020-02-14 08:05] Datarecovery09 commented on #69140
Temporary Workaround:
Set nr of threads used by cargo to 1, either via setting an environment variable
`CARGO_BUILD_JOBS=1`
or by running/building with
`cargo build -j 1`
This will slow down compilation time, but it seems to prevent the error from occuring.

[2020-02-14 08:24] Zoxc commented on #69153
You could fork the [rustc-hash](https://github.com/rust-lang/rustc-hash) crate, make it use `DefaultHasher` and then use `[replace]` in the workspace `Cargo.toml` to try it out.

[2020-02-14 08:40] estebank commented on #53241
Current output:

[code]

[2020-02-14 08:42] haraldh opened #69161 "Disambiguate method call for impl on dyn Trait"
[code]

Seems like the compiler tries the trait method for an `dyn Error + 'static` even though it does not work, because of !Sized and does not consider taking the `impl dyn Error + 'static`.

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6845b426451f1d7a5105a9bd3a00499

error:
[code]

[2020-02-14 08:42] estebank commented on #52468
Triage: no change.

[2020-02-14 08:46] haraldh commented on #69161
Introducing a new trait gets the job done, though and the compiler will pick the right thing.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=682e14eddb0270a6787ab0259966f2d3

[2020-02-14 08:49] haraldh commented on #58520
Here we go:
https://github.com/rust-lang/rust/pull/69163

[2020-02-14 09:25] estebank commented on #46678
Triage: no change.

[2020-02-14 09:36] estebank commented on #45271
Current output:

[code]

[2020-02-14 09:42] CryZe commented on #69153
It may also make sense to evaluate ahash, the hash function that hashbrown switched to due to fxhash's poor hash quality.

[2020-02-14 10:21] SimonSapin commented on #63569
Yes, trait coherence rules would normally require this impl to be in the crate that defines the `[_]` slice type, but that is no crate. It is possible to basically change the rules of the language and make an exception, we do that here for `[u8]` for methods that were originally on the `std::ascii::AsciiExt` trait but that we later chose to make inherent:

https://github.com/rust-lang/rust/blob/21

[2020-02-14 10:22] SimonSapin commented on #63569
The language change https://blog.rust-lang.org/2020/01/30/Rust-1.41.0.html#relaxed-restrictions-when-implementing-traits doesn’t apply to inherent methods, does it?

[2020-02-14 11:00] jonas-schievink commented on #68630
It looks like this error is currently intentional (added in https://github.com/rust-lang/rust/pull/68388), and needs some language design work to be fixed properly, which is tracked at https://github.com/rust-lang/rust/issues/68436, so closing in favor of that.

[2020-02-14 11:00] #68630 closed

[2020-02-14 12:05] eddyb commented on #69153
Didn't we also use a custom hasher to bypass randomness?
If we rely on `hashbrown` we must make sure its *compile-time* randomness is disabled.

[2020-02-14 12:39] git-blame opened #69165 "Jemalloc causes os-level deadlock"
My rust application has a C component which calls lua-jit to support lua scripts. These scripts sometimes execute system tools via lua's support for launching external process/shell. When these scripts are heavily used, sometimes the application would simply hang.

I was able to attach gdb to a debug version on one occasion. The stack traces show that most threads are within the lua code, waiting

[2020-02-14 13:11] lenary commented on #60392
LLVM 10.0 has not yet been released (but there are release candidates for it)

I think rust-lang is still using https://github.com/rust-lang/llvm-project/tree/rustc/9.0-2019-12-19 (judging by the .gitmodules on rust-lang's master). This does not contain the commit that fixed the problem.

The good news is it looks like rust-lang is getting ready to update to LLVM 10.0 (you'll see there's a 10.0 br

[2020-02-14 13:17] Evrey commented on #68436
Suggesting new syntax, how about just adding this to the language?
[code]
Being mandatorily wrapped in brackets should be good enough to not need any special restrictions around the syntax for expressions evaluating to `bool`.

As long as ill-formed types error out, that's pretty much Good Enough™. Sure, proper bounds to error out early are much nicer, though. Note that this does require the compi

[2020-02-14 13:30] sfackler commented on #69165
Your compiler version is a year and a half out of date. Rust applications have used the system allocator by default since the 1.32.0 release (13 months ago).

[2020-02-14 13:42] brainlock commented on #68794
Thanks for fixing this! I verified that this solves the issue on our end, and opened a PR with a simple regression test. The test fails on i686-unknown-linux-gnu when I revert compiler-builtins to 0.1.24.

[2020-02-14 14:27] silverweed commented on #33842
I'm having the same issue here. [This](https://github.com/silverweed/ecsde) is my project which has 3 crates: one static lib, one dynamic lib (cdylib) and an executable.
The dynamic lib (ecs_game) depends on the static lib (ecs_engine) and gets compiled into a single DLL. The executable (ecs_runner) then loads the DLL dynamically (I'm using the `libloading` crate for that).
Here is what happens:
-

[2020-02-14 14:54] shamatar commented on #53718
Are these changes alone sufficient to allow to use arithmetic ops like “+” in a constant context or does is require landing of const traits (for e.g. std::ops::Add)?

[2020-02-14 15:33] oconnor663 commented on #68905
@Mark-Simulacrum, this might be a hi-pri regression. (Though of course I'm biased cause it affects my crate.) If @gnzlbg isn't available to evaluate it, could we pull in someone else?

[2020-02-14 15:41] nagisa commented on #69165
It is worth noting that we do not actively support versions that are so outdated. It would be great if you could try this same code with the _current_ stable compiler with jemalloc enabled and see if it reproduces. Otherwise this issue should be closed.

[2020-02-14 15:46] nagisa commented on #46345
The only thing we currently do this for widely is `EINTR` AFAIK as implications of doing so are well understood. I’m not sure this is true for `clone`'s EAGAIN.

[2020-02-14 15:49] nagisa commented on #69143
This is a tracker for the issues in rustc. For support, consider posting your question on [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/), or asking on one of the chat platforms: [discord](https://discordapp.com/invite/aVESxV8) or [zulip](https://rust-lang.zulipchat.com/#).

---

That said, does `--remap-path-prefix`

[2020-02-14 15:49] Mark-Simulacrum commented on #68905
cc @rust-lang/libs

To be honest I'm not even entirely sure where this macro is implemented...

[2020-02-14 15:59] Kixunil commented on #43090
Do I understand correctly that it's impossible just for reverse iterator? In other words, implementing this for forward iterator should be fine, right?

If yes, then maybe we could implement just that, as I expect that case to be most common, so it's already useful. I'm willing to do PR.

[2020-02-14 16:16] cbiffle commented on #60392
Thanks, @lenary! We've worked around this locally in Tock.

[2020-02-14 16:16] ababo opened #69169 "Trait bounds were not satisfied"
I'm not sure if this is a compiler bug, but since I didn't get any answers on StackOverflow I'd try to add an issue here.

I tried this code:

[code]

I expected this code to compile without issues, but get the following error:

[code]
As you can see I explicitly bound `In` and `Out` with the needed traits, but still get "trait bounds were not satisfied" error.

`rustc --version --verbose`:
[code]

[2020-02-14 16:22] jonas-schievink commented on #69169
This demands a different lifetime than what you provided: `Out : gluon_vm::api::Getable<'x, 'value>`

[2020-02-14 16:30] #69117 closed

[2020-02-14 16:31] ababo commented on #69169
Yep, but that doesn't solve the issue. Updated.

[2020-02-14 17:18] sfackler commented on #46345
If the process has reached its limit on how many threads it is allowed to have, it does not seem wise to just hot-spin trying to make a new one forever.

[2020-02-14 17:46] Amanieu commented on #68905
Caused by https://github.com/rust-lang/stdarch/pull/739, which started enforcing stability on individual features.

[2020-02-14 18:09] ecstatic-morse commented on #68957
@CDirkx compile time has improved a lot in the current nightly. `const_constructor` now takes ~30s with a local, non-LTO `master` build compared to ~15s for `struct_literal`. #69072 will improve this further: `const_constructor` takes about the same amount of time as `struct_literal` with that PR applied.

[2020-02-14 18:20] nikomatsakis commented on #48055
Good question! I don't think we can permit unsized locals in that case. In some of the original versions of this feature, the intent was to limit unsized locals to cases where they could be codegen'd without alloca -- but I seem to remember we landed on a more expansive version. This seems like an important question to resolve before we go much farther. I'm going to add it to the list of unresolve

[2020-02-14 18:21] nikomatsakis commented on #53590
I think the answer this is still an interesting idea, still not the most urgent problem.

[2020-02-14 18:31] nikomatsakis commented on #67158
@chrissimpkins thanks for the bisection!

Annoyingly, it regressed in a rollup PR, which means there are many candidates:

 - #64703 (Docs: slice elements are equidistant)
 - #64745 (Include message on tests that should panic but do not)
 - #64781 (Remove stray references to the old global tcx)
 - #64794 (Remove unused DepTrackingMap)
 - #64802 (Account for tail expressions when pointing at return

[2020-02-14 18:35] nikomatsakis commented on #67158
If I had to guess, I would guess #64830 (cc @estebank) triggered this regression, but #64859 or #64802 are possibilities. I would guess #64830 because it caused the compiler to keep compiling when it might've aborted, and maybe it would've aborted in these cases and hence never reached the code that causes an ICE.

If indeed I am correct, then this could be fixed by adding a `delay_span_bug` call

[2020-02-14 18:50] jsgf commented on #64191
@bjorn3 Sure, but they're not really internal tmp files in the `no-link`/`link-only` flow - they're outputs of one build step and inputs of the next, and build steps don't generally trash their inputs. You'd expect to be able to re-run `link-only` without needing to redo `no-link`.

Consider, for example, if the input files are paths into a shared cache where deleting them removes them from or cor

[2020-02-14 18:55] jsgf commented on #64191
@tmandry Nope to scanning a dir, but a thin archive is a good starting point.

However, I was interested in the other info in that file, like the paths to other libraries which need to be linked in - though TBH I'm not sure that's the best way to receive that information.

[2020-02-14 18:57] oconnor663 commented on #68905
It looks like a crater run was done in September, but the `blake3` crate was published in January. Notably, that crate relies on std to _detect_ AVX-512 support, but the actual AVX-512 implementation code is in C or assembly. Also the `scavenger` crate I mentioned above hides its use of AVX-512 detection behind its `simd` feature, so I don't think crater would've caught it.

[2020-02-14 19:03] bjorn3 commented on #64191
After the linking phase, when there is no shared cache, you will likely want to delete those intermediate files. Those intermediate files don't have predictable names, so cargo or other programs won't be able to remove them. Simply searching for `.o` files won't work, as other kinds of files are created and new kinds may be created in the future.

It is very unlikely that you want to run either of

[2020-02-14 19:27] jsgf commented on #64191
@bjorn3 In a distributed build environment, the `no-link` and `link-only` steps are likely happening on different machines, with the intermediates being copied between them (or via some shared content store).

No, they're still useful for subsequent links if you're rebuilding the target executable because something else (eg non-Rust) changed.

You may just want to generate multiple versions of the

[2020-02-14 19:43] bjorn3 commented on #64191
Many of the paths in the `.rmeta` file are absolute, so you will need to copy everything to the exact same location on the other machine. Also you don't know what files you have to copy. Even with `-Zbinary-dep-depinfo` the names of the intermediate files are not mentioned in neither the depinfo nor the artifact messages, and they are merely an implementation detail. In theory rustc could even put

[2020-02-14 19:57] luser commented on #64191
I'm generally in favor of implementing the straightforward thing and profiling to see if it's actually a problem. I just wanted you to be aware of existing work in this area.

Given that `sccache` was mentioned in the initial comment here, if this is going to be cache-friendly we do need to have a way to know what the full set of inputs and outputs  will be for a specific command otherwise we can'

[2020-02-14 19:57] jsgf commented on #64191
@bjorn3 I see this work as a good start, but an intermediate step to:
1. the .rlink is a well-defined file with a documented schema
2. a correct linker line can be generated from the .rlink without requiring the use of rustc -Zlink-only

Step 1 is necessary because we need to be able to extract the path info, and rewrite it to remove/restructure absolute paths. The whole value in splitting linking

[2020-02-14 20:13] bjorn3 commented on #64191
This will never happen. There are many implementation details written to `.rlink`. For example:

[code]

`compiler_builtins` is an implementation detail and could technically be merged with `libcore`. Lang items are an implementation detail. `panic_runtime` and `profiler_runtime` are implementation details and could maybe in the future be replaced with normal deps. The exact things known about mod

[2020-02-14 20:15] Mark-Simulacrum commented on #68905
Seems like there was no discussion done of whether this would break folks (or at least I can't find it). Clearly this is "permitted" under a strict interpretation of our stability rules, though is not documented on the macro at all; [the docs](https://doc.rust-lang.org/nightly/std/macro.is_x86_feature_detected.html) list avx512f with no warning that it is unstable. That at least sounds like a bug.

[2020-02-14 20:27] suhr opened #69170 "Rust incorrectly reports common code in examples as dead code"
There is the `examples` dir: https://github.com/suhr/tox/tree/async/examples

**Expected behavior:** the function [`as_packed_node`](https://github.com/suhr/tox/blob/async/examples/common/mod.rs#L46) should not be reported as dead code, because:

- It's `pub`
- It is used in examples (for example, [here](https://github.com/suhr/tox/blob/async/examples/dht_server.rs#L49))

**Actual behavior:** the

[2020-02-14 20:30] jonas-schievink commented on #69170
That link points to the function definition

[2020-02-14 20:32] suhr commented on #69170
Oops, fixed.

[2020-02-14 20:32] jonas-schievink commented on #69170
This looks like expected behavior, since you're including the `common` module in every test (via `mod common;`). The [echo](https://github.com/suhr/tox/blob/async/examples/echo.rs) test doesn't use it, so it gets the warning.

[2020-02-14 20:32] #69170 closed

[2020-02-14 20:38] suhr commented on #69170
I see. So each example imports module `common` independently. But the `echo` test uses other definition from `common`.

Maybe this behavior is expected, but it is *confusing* for sure.

[2020-02-14 21:21] ollie27 commented on #69143
The [`/PDBALTPATH`](https://docs.microsoft.com/en-us/cpp/build/reference/pdbaltpath-use-alternate-pdb-path?view=vs-2019) linker argument controls this path. For example `/PDBALTPATH:%_PDB%` will cause only `demo.pdb` to be embedded in the binary.

Closing this issue as it's not really the right place to ask questions anyway.

[2020-02-14 21:21] #69143 closed

[2020-02-14 21:44] johnw42 commented on #39412
I'd like to clarify the rules about visibility and propose a mechanism for breaking hygiene in a controlled way.

I believe visibility should be resolved relative to where the macro is defined. For example, imagine a module like this:

    fn foo<T>(arg: T) {...}
    pub macro call_foo($arg:expr) => {
        foo($arg)
    }

With the current rules, expanding `call_foo!` in a different module does

[2020-02-14 21:57] spearman commented on #39412
Could you give an example of this? This seems to work: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a3e26640f0fb170b9a5a620250155f1c

You might need an absolute path `$crate::path::to::foo($arg)`, but I'm not sure if this applies to decl macros or only macro_rules.

[2020-02-14 22:04] jjpe commented on #39412
I know it's just meant as an example, but anaphoric macros were a bad idea in Common Lisp, and I believe they're a bad idea here. The issue with them is that they don't scale: imagine that you end up in a situation where you have a nested usage of `map_it`. What does `it` refer to?
Of course here it's easy enough to figure out in this contrived example, but at scale it causes ambiguity in the mind

[2020-02-14 22:07] jumbatm commented on #61132
Alright, cheers.

@rustbot claim

[2020-02-14 22:12] cramertj commented on #50412
`m.add(py, "test", py_fn!(py, test()))?;`

[2020-02-14 22:26] jsgf commented on #64191
Sure, but from our point of view we want to break the build up into atomic actions with well-defined inputs and outputs and then be able to freely schedule them across a build cluster. I don't want to have to treat Rust build + link as a special case - adding a constraint that they have to execute on the same machine would make it much harder to schedule.

But I think if we can use a thin ar to lo

[2020-02-14 22:45] bjorn3 commented on #64191
No, link args can come from `#[link]` attributes on `extern` blocks. Because of proc-macros those can be generated non-deterministically.

[2020-02-14 22:59] Centril opened #69173 "unused_unsafe: stop interpreting `unsafe fn`s as unsafe contexts"
In other words, the following will result in a lint being emitted today:
[code]

==>

[code]

Based on the discussion in a recent language team meeting (see summary as outlined by @nikomatsakis in https://github.com/rust-lang/rfcs/pull/2585#issuecomment-586325462), we would like to stop emitting the lint in this case where we have unsafe operations inside an `unsafe { ... }` inside an `unsafe fn`

[2020-02-14 23:03] jsgf commented on #64191
Fair enough - they can be encoded in the `.rlink` too. But as they won't work in our environment we'll want to ignore them or complain if they're present (that would effectively be a proc-macro making up a dependency the build system doesn't know about which is a big nono - and if the build system does know about it, we don't need the `#[link]`).

[2020-02-14 23:15] Centril commented on #69173
cc @oli-obk @eddyb for mentoring instructions?

[2020-02-14 23:29] rgrig commented on #46345
I observed this error when I was much below the limit of threads, but I was creating them very quickly.

[code]

results in

[code]

[2020-02-14 23:41] reinerp opened #69174 "Bad quality code for `Clone` on enum types"
For this Rust code, we get some pretty bad assembly:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=c14facc15a40601a2eb8dd10e122e421))

Assembly:

[code]

To see that it's possibly to do better, we can simply add a `Copy` instance to the types. Then the code _even for `Clone`_ gets much better:

[code]

([Playground](https://play.rust-lang.org/?ver

[2020-02-14 23:42] reinerp commented on #69174
(Oh, on the last comment: I see why there's two loads: one of them was a 1-byte load, not a 2-byte load....)

[2020-02-15 00:09] rocallahan commented on #46345
True. Backing off for a second would probably be fine.

[2020-02-15 00:17] CDirkx commented on #68957
Yes I can confirm that on the current nightly memory usage by rustc is way lower (not claiming multiple GBs of RAM anymore), resulting in not running out of memory anymore and succesfull compilation at the speeds you mention.

I also tried with _all_ named Unicode code points included (including names like `CJK_UNIFIED_IDEOGRAPH_2D6CE`, 135.000+ total; [reproduce_all.zip](https://github.com/rust-l

[2020-02-15 00:18] tmandry commented on #64191
Linking, in theory, depends on a lot more artifacts than codegen does. Codegen should only require source code and the rmeta files from any crates you depend on. Linking requires all of code. In our sccache-like environment, this would mean uploading many rlib files and possibly system libraries to the worker. Network bandwidth becomes a bottleneck. So it's much better to send compile steps to the

[2020-02-15 00:30] CDirkx commented on #68957
This issue was initially opened because of the large memory usage and resulting failed compilation; which has been resolved in the current nightly.

Should I thus close the issue, or do we want to keep it open until #69072 lands (possibly with a title change) as a more general issue on using a large number of associated items?

[2020-02-15 01:24] nagisa commented on #69174
`Clone` is special-cased for cases where `Copy` is also implemented. The other case depends entirely on optimizer as `derive(Clone)` has to generate a fairly generic sequence of operations that would work for arbitrary enums.

[2020-02-15 01:41] nagisa commented on #69116
Not actively. It _does_ have an implementation of this, but generally having two conflicting symbols should result in linking errors, not one implementation being silently called over the other.

This will definitely require investigation on your part _or_ a fairly isolated mcve.

[2020-02-15 02:06] 6643 opened #69176 "get_unchecked combining some code causes a core dump"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

**The weird thing is to delete any of the following lines of code
The program can run normally**

[code]

[2020-02-15 02:12] nagisa commented on #69169
This code is extremely hard to make sense and I think the confusion comes entirely from the fact that the lifetimes used in gluon and in this code have matching names – which is why the compiler notes appear to be wrong – while they actually aren't.

For instance even if you rewrite the code as such:

[code]

you will get exactly the same error as before:

[code]

making it easier to see that this

[2020-02-15 02:13] Mark-Simulacrum commented on #69176
The call to get unchecked is invoking [undefined behavior](https://rust-lang.github.io/unsafe-code-guidelines/glossary.html#undefined-behavior), and anything can happen.

See [`get_unchecked`'s](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.get_unchecked) Safety docs for more details on the preconditions for calling it.

If you have further questions, please ask them at users.rus

[2020-02-15 02:13] #69176 closed

[2020-02-15 02:23] #57447 closed

[2020-02-15 02:23] #69103 closed

[2020-02-15 02:24] Lokathor opened #69177 "[Unstable Book] The `compiler_builtins_lib` apparently doesn't even exist any more."
The Unstable Book entry on [how to build a `no_std` binary](https://doc.rust-lang.org/unstable-book/language-features/lang-items.html#writing-an-executable-without-stdlib) says that you need to use the `compiler_builtins` crate if you get specific kinds of linker errors about missing intrinsics. This is true.

It then points you to the [compiler_builtins_lib](https://doc.rust-lang.org/unstable-boo

[2020-02-15 02:25] nagisa commented on #69169
(FWIW the code is extremely difficult to make sense of, I suspect that it was arrived to from the other end – that is, by looking at a compiler diagnostic and then adding lifetime bounds everywhere possible)

The following is something that at least compiles and makes some sense to at least me.

[code]

[2020-02-15 03:04] ronghui1219 commented on #69116
in `-[MyEventManager fireEvent:]` contain a mod  operation ，like this

[code]
above code is all Objective-C Code,  it do not contain any rust code or invoke an rust method,  is that possible rust override  % operation ?

[2020-02-15 03:46] Aaron1011 commented on #69174
I wonder if it would be worthwhile to try to detect and optimize this case. If a type 'could have been' `Copy` (it and all of its transitive fields are either `#[derive(Copy)]` or `#[derive(Clone)]` with no user-provided `Clone` impls), then the `Clone` implementation should be able to be the same as a `Copy` implementation.

For maximum effectiveness, this would probably have to be done during co

[2020-02-15 05:35] viper6277 commented on #50412
Thanks @cramertj .... run into these syntax issues all the time with rust, but I still love what the language is about, ... I've become a huge rust fan and plan on sticking with it.

[2020-02-15 07:14] Coder-256 commented on #64538
Here's a very simple example of this.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f166ed29a48a79b02734d020535f4977)

[code]

[code]

I chose `Fn()` for simplicity, but you can replace it with any trait that has `impl<T: MyTrait> MyTrait for &T`.

A better diagnostic could explain that `impl Trait` needs to resolve to a concrete type, and that an infinite n

[2020-02-15 08:15] nikic commented on #69174
Because that could result in a fault. Note that `Bar` is 1-aligned, so there is no guarantee that byte 4 is dereferencable. Adding `align(2)` would be sufficient to guarantee that, in which case it will compile to a simple load.

[2020-02-15 09:01] RalfJung opened #69183 "compiletest: revision-dependent compile-flags are space-sensitive"
I saw some tests use syntax like `[rev_name]compile-flags: ...` to compile the same code with different flags for better coverage, so I wanted to use that as well. But some double-checking showed that the flags did not actually seem to have any effect. And indeed, the following test passes, when really it should fail because one revision has bad flags:
[code]

It took me a bit to realize that I ma

[2020-02-15 09:18] dhardy opened #69184 "GAT + enum: incorrect unused lifetime error"
This is a follow up on #67089, which now works. The following doesn't ([play link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d6570106bebc880bc301f30de216b611)):
[code]
Error is:
[code]
however, this lifetime clearly is used and is required.

[2020-02-15 09:46] jumbatm commented on #67946
Compiling with debug symbols + assertions, I get the same assertion failure for both segfaults:
[code]
Tracing the callstack with gdb, the assertion is triggered on the `unwrap` call in this function:
https://github.com/rust-lang/rust/blob/19288ddfd6b3448c2c221d75610bff722a6582e8/src/rustllvm/RustWrapper.cpp#L311-L315
As the error suggests, this means that the downcast from `llvm::Value` to `llvm:

[2020-02-15 10:32] ababo commented on #69169
I'm curious whom to blame in this patricular case:
1. Myself, a guy with a lot of experiece with other languages (e.g. C/C++), who didn't have a chance to get intimately familiar with Rust before trying to compose something pretty simple with Gluon.
2. Gluon, which is designed functionally overengineered by a guy with a Haskell background.
3. The compiler for not emitting sane messages in this cas

[2020-02-15 11:01] omni-viral commented on #47336
This method would be more ergonomic but isn't
[code]
without unsafe block is possible today as
[code]

[2020-02-15 11:52] alecmocatta commented on #69140
@Datarecovery09 Your setup is likely slightly atypical as most Rust users don't see this error. Mind reporting back the results of these commands next time you see this error to shed some light on what might be causing this?

[code]

Are there any ways you're aware of that your setup might be atypical? My best guess is low total RAM, which would lead to low `threads-max` which is reduced 2/3 furth

[2020-02-15 12:10] eddyb commented on #69096
Just checked, this is what that looks like: https://godbolt.org/z/vc3D35

PSA: seeing `<No assembly generated>` in `godbolt` is *a big warning sign*.
It means you're accidentally not testing anything (at least codegen-wise).

Making `main` `pub fn` on 1.29.0 (keep in mind, godbolt *always* compiles a `lib` crate, *not* a `bin` one) results in this: https://godbolt.org/z/icX4pU (`thread 'main' has

[2020-02-15 12:17] JohnTitor commented on #68653
ICE has been fixed by #68938.

[2020-02-15 12:22] kumar4467 commented on #69134
[Great and osam](https://www.beautifulbirthdayimage.com/)

In this having like good and the updated check information. you pass local test i can't verify that they are vaild

[2020-02-15 12:37] Datarecovery09 commented on #69140
@alecmocatta Thanks for the fast reply!
I'm not aware of any special atypicalities of the system; yet I'm not an expert on linux/ubuntu distributions, virtual machines or shared servers.
I can't completely follow the steps in the Stackoverflow-thread you've linked; I can't reboot the server right now. `echo 100000 | sudo tee /proc/sys/kernel/threads-max` results in `bash: fork: retry: The resource

[2020-02-15 12:42] alecmocatta commented on #46345
I've only tried under a VM but fwiw I'm not able to reproduce `thread::spawn`/`clone` transiently failing on Linux.

This on my system reaches the thread limit reliably without transient failures. Transient failures would cause `wouldblock` and `progress` to be repeatedly printed, but I have not seen that.

[code]

It's possible that thread limits are lower than people are expecting. In particular

[2020-02-15 12:44] jonas-schievink commented on #69140
This definitely means that something is not working right with your system, since even bash fails to spawn another process.

[2020-02-15 12:55] alecmocatta commented on #69140
Echoing @jonas-schievink, something's definitely not right with your machine if bash's `fork` is failing. The outputs you pasted look fine, possibly with the exception of the `systemctl status user-$UID.slice` one. Perhaps check cgroups aren't stopping you forking new processes?

[2020-02-15 13:02] ronghui1219 commented on #69116
it seems like iOS orignal implementation through dynamic library, but my rust library is static library, rust library contain __modsi3 ,then the final app only remain rust __modsi3 implementation,  iOS's dynamic library __modsi3  implementation does not link to final App target, is that possible?

[2020-02-15 13:06] RalfJung commented on #68364
@eddyb

Not really... I am not saying the compiler *has to* make any analysis like that, all I am saying is that we should give it the freedom to do so.

I think it is a mistake to make the spec "maximally tight" wrt any given implementation. We should leave more freedom where it makes sense so that we can adjust our implementation strategy in the future, or add more optimizations.

There are no P

[2020-02-15 13:11] SimonSapin commented on #47336
Oooh that’s is a very interesting one, thanks @omni-viral. [`Box::leak`](https://doc.rust-lang.org/std/boxed/struct.Box.html#method.leak) even already documents `Box::from_raw` as a valid way to drop (or presumably recover) a box that has previously been leaked.

I think I’d be happy with:

* Deprecate `into_raw_non_null`, with a warning message that says to use `NonNull::from(Box::leak(b))` inste

[2020-02-15 13:17] RalfJung commented on #68364
@eddyb as a follow-up to "it would be better for non-overlap to arise naturally":

One alternative I thought of is to define `Operand`/`Value` as "something that can be stored in memory", so basically a "thunked computation" that, when given a location (the result of computing a place), puts all its stuff into it. That corresponds slightly better to what Miri actually does than the `Vec<MiriByte>`

[2020-02-15 13:47] #68560 closed

[2020-02-15 13:47] #68060 closed

[2020-02-15 13:47] #68684 closed

[2020-02-15 14:04] timvermeulen opened #69187 "Missed optimization: repeated pointer increments don't compile to a memcpy"
[code]
This doesn't currently compile to a `memcpy` ([Godbolt](https://godbolt.org/z/vpaa9a)).

I figured this was worth filing because this seems to be the main reason that a naive `iter::Zip` implementation isn't optimal, which is why it's implemented the way it is.

[2020-02-15 14:09] Centril commented on #54883
- On 2020-02-15, https://github.com/rust-lang/rust/pull/68856, written by @Centril and reviewed by @matthewjasper landed. The PR polished the type checking of patterns with respect to default binding modes. In relation to or-patterns, the PR declared that or-patterns are pass-through (`AdjustMode::Pass`) in terms of default binding modes. This was already the case in the implementation (and alread

[2020-02-15 14:10] matclab commented on #51635
FYI I've got a similar problem (error without line number) in stable rustc 1.41.0 (5e1a79984 2020-01-27)

[2020-02-15 14:35] rivy commented on #68887
@mati865 , On AppVeyor CI (which uses a choco install of mingw), while testing, I used the relative path "..\lib\mingw\tools\install\mingw64" from the wrapper to the main directory of the install. I believe that should be a relatively stable path. It should be at least testable.

[2020-02-15 14:46] rivy commented on #68887
@mati865 ,

After a bit of googling and stackoverflow search, I found a second, more robust, though more complicated/slower, method of finding the installation main directory (ref: [SE](https://superuser.com/a/1184371)). Using the `--shimgen-noop` option to `gcc` returns a reference to the true installation path (see `path to executable`).

[code]
I hope that's helpful.

[2020-02-15 14:48] olegnn commented on #66003
@Mark-Simulacrum latest nightly:
[code]
Check the repo https://github.com/olegnn/proc-macro-ICE if you can't reproduce on playground.

[2020-02-15 14:50] Mark-Simulacrum commented on #66003
I feel like this is intentional behavior, though I guess we probably want to produce an error rather than ICEing. Reopening.

[2020-02-15 14:51] eddyb commented on #68364
To be clear, I meant "syntactically", in MIR, `mir::Operand` may contain a `mir::Place`, and I was talking about multiple `mir::Place`s being involved in some operation (and therefore not being allowed to overlap) with at least one of them being from a `mir::Operand`.
That is, to me `mir::Operand` as "terminology" implies being fully evaluatable to a value (not just in the mathematical sense of th

[2020-02-15 15:15] eddyb commented on #69173
So looking at the code, it seems that the *outermost* active `unsafe` block (or `unsafe fn`) is used:
https://github.com/rust-lang/rust/blob/dbef35309d10bed2f09cd55b3e9ea980a58c62aa/src/librustc_mir_build/build/block.rs#L212-L216

(NB: very confusing terminology around `unpushed_unsafe`, AFAICT it means "`unsafe` unrelated to `{Push,Pop}Unsafe`", and the latter is a hacky way to do `allow_internal

[2020-02-15 15:24] nagisa commented on #69169
Some fault definitely lies in the compiler for being confusing about the lifetime names it puts in the diagnostic hints. Hence the A-diagnostics label. Whether HRTBs would make sense in any particular scenario is not for the compiler to decide – it affects the public API after all and is something that you’d need to arrive to yourself.

[2020-02-15 15:26] nagisa commented on #69116
Sure, sounds plausible enough. It might help to link the rust library to your application in a way that does not leak Rust’s code.

[2020-02-15 15:51] eddyb commented on #69151
You pretty much never want `debug=true`. For backtraces, all you need is `debuginfo-level=1`.

`debug=true` is for stepping `rustc` in a debugger and inspecting variables... which I'm not really aware of anyone doing (with perhaps the rare exception of a crash inside LLVM?)

[2020-02-15 16:28] Shnatsel commented on #59229
This is addressed by https://github.com/rust-lang/rust/pull/64069

[2020-02-15 16:57] Lokathor commented on #65816
If we view this as being the opposite of `Vec::from_raw_parts` the answers become fairly obvious:

* The pointer shoud be a plain raw pointer, because that's the type that from_raw_parts takes.
* The method should be associated so that both visually it matches the style used for from_raw_parts (in a sense), and also because this is a "weird" method that editors don't need to be suggesting with aut

[2020-02-15 17:06] SimonSapin commented on #65816
I think it’s not at all obvious that deliberately making this method "weird" is a good thing.

[2020-02-15 17:10] Lokathor commented on #65816
The method is weird either way. "This uses the vec by `self`, but _won't_ free the memory" is sufficiently out there.

[2020-02-15 17:18] MeFisto94 commented on #69151
Note that the same happens when building servo in debug mode, it's just that when 2GiB of Debug Symbols are exceeded libbacktrace failed.

The actual error is https://github.com/ianlancetaylor/libbacktrace/issues/29, where there even is a patch added, I just need to try it out.
The read() call failing just triggers the bug of not properly failing and/or a premature free of the table.

[2020-02-15 17:31] SimonSapin commented on #65816
I don’t see how that makes it weird. `Vec::into_boxed_slice` is the same. It’s pretty normal for conversions to take `self` by value.

[2020-02-15 17:36] Mark-Simulacrum opened #69190 "beta regression: $crate may not be imported"
Number of crates regressed: 26

Looks like essentially all the regressions come from a piston2d-gfx_graphics macro. Bisecting this may be helpful, not sure.

cc @petrochenkov

<details>

- [`ThePianoDentist/rusty-dota-manager`](https://crater-reports.s3.amazonaws.com/beta-1.42-rustdoc-1/beta-2020-02-05/gh/ThePianoDentist.rusty-dota-manager/log.txt)
- [`XavilPergis/rusty-tiles`](https://crater-repo

[2020-02-15 17:41] Mark-Simulacrum opened #69191 "beta regression: ICE on Tried to access field 0 of union Layout"
- [`rotor v0.6.3`](https://crater-reports.s3.amazonaws.com/beta-1.42-1/beta-2020-02-05/reg/rotor-0.6.3/log.txt)
- [`rotor-dns v0.4.0`](https://crater-reports.s3.amazonaws.com/beta-1.42-1/beta-2020-02-05/reg/rotor-dns-0.4.0/log.txt)
- [`rotor-tools v0.3.2`](https://crater-reports.s3.amazonaws.com/beta-1.42-1/beta-2020-02-05/reg/rotor-tools-0.3.2/log.txt)

cc @oli-obk

I suspect (but have not verifi

[2020-02-15 17:43] petrochenkov commented on #69190
Introduced in https://github.com/rust-lang/rust/pull/67775 ("Make "use $crate" a hard error ").

[2020-02-15 17:43] the8472 commented on #69187
since pointers can point into the same allocation it would have to be a `memmove` in the general case

[2020-02-15 17:52] Lokathor commented on #65816
But into_boxed_slice doesn't leak the memory

[2020-02-15 17:54] Mark-Simulacrum commented on #69190
Looks like probably expected breakage -- fallout is not too big, essentially just one root crate. Would be good to figure out if there's a fixed release of said crate that crater didn't pick up, or try to get the crate maintainer to do so. https://github.com/rust-lang/rust/issues/37390 is the compatibility lint tracking issue.

[2020-02-15 18:04] Mark-Simulacrum commented on #68895
Finished triage for both crater runs.

$crate may not be imported #69190
ICE on Tried to access field 0 of union Layout #69191
Make conflicting_repr_hints a deny-by-default c-future-compat lint https://github.com/rust-lang/rust/pull/68586#issuecomment-586624786

[2020-02-15 18:12] cynecx commented on #69187
[code]

This does (https://godbolt.org/z/MdgeTL).

[2020-02-15 18:12] oli-obk commented on #69191
https://github.com/rust-lang/rust/pull/64987 was merged in October, I don't think it's related

[2020-02-15 18:24] MeFisto94 commented on #69151
The patch at ianlancetaylor/libbacktrace#29 fixes things, but mmapio should still be used, which actually also removes the trigger condition for the bug present in `#29`

[2020-02-15 18:33] timvermeulen commented on #69187
@cynecx Indeed, that is exactly what `Zip` currently boils down to using the private `TrustedRandomAccess` trait. An attempt to replace it lead me to the snippet above. It would be really nice if repeated pointer increments would optimize in the same way because that's essentially what `slice::{Iter, IterMut}::next` does.

[2020-02-15 18:59] cynecx commented on #69187
@timvermeulen Fwiw LLVM isn't doing a great job at detecting this particular pattern: https://godbolt.org/z/TW2bJH (C++).

[2020-02-15 19:29] cynecx commented on #69039
@Zoxc Hmm:

https://github.com/rust-lang/rust/blob/61d9231ff2604a0467987042d9ebf9ff9ea739b5/src/librustc/mir/mod.rs#L1478

I assume this isn't correct? (`_1` probably should have been the newly introduced field `resume_arg` in `Yield`?)

[2020-02-15 19:43] Zoxc commented on #69039
Well that would explain why the MIR looks wrong.

[2020-02-15 20:30] etna opened #69195 "Build error on Rust 1.41"
Hi, I'm getting this error when trying to build Rust 1.41 with cargo:

[code]

[2020-02-15 20:44] Zoxc commented on #69039
I suspect this is because `RequiresStorage` doesn't consider `Yield` terminators as writes.

[2020-02-15 21:42] Aaron1011 commented on #69137
When I wrote https://github.com/rust-lang/rust/pull/69008, I assumed that the three types of generic substs (types, lifetimes, and consts) were all handled in the same way for opaque types. However, this is not the case: the handling of lifetimes is significantly more complicated than that of types or consts.

I still think that using the 'parent' opaque type as the 'parent' generics is the best a

[2020-02-15 21:45] dtolnay commented on #47336
The coherence comment in https://github.com/rust-lang/rust/issues/47336#issuecomment-373941458 is outdated as of rust 1.41. How about adding the From impl now?

[2020-02-15 21:58] ecstatic-morse opened #69197 "Significant performance regression on the `encoding` benchmark"
#69144 (a rollup)  slowed down check builds of the `encoding` benchmark considerably, see the [task-clock measurements](https://perf.rust-lang.org/compare.html?start=d538b80ad77949e46989cd355cdec193b574f052&end=10104085e4f9f52f405fa1cc5e5e18c4c4cc72d1&stat=task-clock). This degradation has been consistent over the last half-dozen perf runs, so it is not spurious. The following candidates have non-

[2020-02-15 22:07] Centril commented on #69197
https://github.com/rust-lang/rust/pull/69057 is mostly a pure refactoring so it seems unlikely?

[2020-02-15 22:13] mzabaluev commented on #43468
In regular Windows PowerShell without path tweaks for Visual Studio, `link.exe` is not found in the command path, so cargo appears to magically discover the absolute path name in the x64 tools directory, which is the correct one. The host architecture of the shell does not affect this behavior.

Unfortunately, the launchers named Developer PowerShell and Developer Command Prompt for VS 2019 set up

[2020-02-15 22:14] Centril commented on #69197
Besides changes in https://github.com/rust-lang/rust/pull/68728/files#diff-f5c049612f32b4eda9adb5019ab10a83, nothing pops out in the parsing PR either.

[2020-02-15 22:58] mati865 commented on #68887
@rivy Rust could get library path from `gcc` itself but calling executables on Windows is slow.
I was about to add Chocolatey structure as one of the paths (and fix Cygwin as well) but there was a lot going on for me this week.

[2020-02-16 00:00] jonas-schievink commented on #69039
Thought I'd fix the printing real quick https://github.com/rust-lang/rust/pull/69200. I'll look into the real bug tomorrow or some time next week, but the `RequiresStorage` pass does indeed look wrong now.

[2020-02-16 00:35] dtolnay opened #69202 "Tracking issue for boxed_slice_try_from"
[code]

These were added in https://github.com/rust-lang/rust/pull/61515 with an #\[unstable(...)\] attribute but without a tracking issue. Since these are trait impls where both the trait and Self type are already stable, they are [already callable on a stable compiler](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=42b18eefd371631876827b188daec827) and we likely can't ma

[2020-02-16 01:07] tormol commented on #69061
This is also an issue on FreeBSD and NetBSD. (See the first ~15 lines of the output of [this test program](https://github.com/tormol/uds/blob/v0.1.0/src/bin/characteristics.rs#L76) ran on [FreeBSD](https://cirrus-ci.com/task/5742874864123904), [macOS](https://travis-ci.com/tormol/uds/jobs/287670327#L139) and [Linux](https://travis-ci.com/tormol/uds/jobs/287670328#L224).)

Both Linux and FreeBSD su

[2020-02-16 01:46] #16017 closed

[2020-02-16 01:51] sfackler commented on #69061
I think the relevant bit of unix(7) may be this:

So I think the correct behavior is to only chop off the last byte of sun_path if it is actually a zero byte.

[2020-02-16 04:24] cbeck88 commented on #62502
@Mark-Simulacrum it was suggested in https://github.com/rust-lang/rust/pull/64017 that it can be a zero-width type, presumably with no contents

[2020-02-16 05:08] #68690 closed

[2020-02-16 05:58] jumbatm commented on #67946
After manually removing the LLVM build to force a complete rebuild with debug symbols, I was able to get a proper dump which makes far more sense:
[code]
Note that this is not a bitcast _instruction_ but a constant expr bitcast -- ie, one generated at compile time.

As it turns out, in the event that a function exists with athe same name but a different type in a module, `llvm::Module::getOrInsert

[2020-02-16 06:28] Jess3Jane opened #69204 "`_` in associated types causes nightly and beta compiler to panic"
### Code

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-02-16 07:22] ecstatic-morse commented on #69197
Ruled out #69108 via perf results from #69199, so it's likely the big one (#68728) cc @Centril @petrochenkov.

[2020-02-16 07:24] Kixunil commented on #67738
I hit this same problem when attempting to write a wrapper for `serd::Deserializer`. Since serde requires `std::error::Error` and I'd like to implement `source` method properly (`cause` is deprecated), `Deserializer::Error` must be `'static`.

[playground with the complete problem described](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6982d47c0edbc41134ca627ec3fea1d7)

[2020-02-16 08:27] Assaf1978-boop commented on #56922
Translation from Hebrew ,to English ,a
 and English,translation!!!
Assaf,Rosenkrantz.!!!

[2020-02-16 08:29] gilescope opened #69206 "Binaries aren't Libraries"
Any code in a bin is not callable from any other rust crate.

As soon as a binary gets non-trivial in size you have to switch it over to being a lib and have a binary call into that library. .NET had exactly the same setup for a few years and then they made EXEs be libraries as well as being executables. This meant we could write tests against them just like they were a library. And the issue went

[2020-02-16 09:27] ronghui1219 commented on #69116
now i use [HexFiend](https://github.com/ridiculousfish/HexFiend)  directly rename my rust static library  about those fuctions, such as ___modsi3 -> ___rsmod3  etc
and build , link , then i see iOS owned dynamic library about ___modsi3 has been linked in Xcode link map file
i think about this crash, most likely because rust and iOS own implementation is different,  such as
[code]
i don not know ho

[2020-02-16 09:39] silverweed opened #69207 "Error 126 while loading DLL compiled by Rust (as a cdylib) on Windows"
**Note:** looks very similar to #33842, but I'm opening a new issue since that is closed and old.

Basically I'm having the same issue here. [This](https://github.com/silverweed/ecsde) is my project which has 3 crates: one static lib, one dynamic lib (cdylib) and an executable.
The dynamic lib (ecs_game) depends on the static lib (ecs_engine) and gets compiled into a single DLL. The executable (ec

[2020-02-16 09:43] Luro02 commented on #48214
I think this change could cause problems with some proc-macros that rely on
[code]
to not compile, like @ExpHP wrote in https://github.com/rust-lang/rfcs/pull/2056

but I can not comprehend why this should be warn by default as this would break existing proc-macros that rely on this behavior?

I can say for a fact that there are definitely crates that rely on this behavior, because I recently publ

[2020-02-16 09:53] retep998 commented on #69207
Error 126 for reference is `ERROR_MOD_NOT_FOUND`.

Are you certain that you build and run the program in the same *exact* way between older and newer Windows? The slightest difference can easily cause this.

[2020-02-16 10:30] SimonSapin commented on #47336
Good point, but I’m reconsidering my previous statement that this would be ideal. Unlike e.g. `From<&mut T> for NonNull<T>`, this conversion gives away ownership of a `Box`, which would otherwise automatically deallocate when dropped, to a pointer that doesn’t do any ownership tracking and is `Copy`. So I’m a bit hesitant about enabling it in generic contexts.

Maybe it’s fine, though?

[2020-02-16 11:46] svartalf commented on #15823
I don't think this issue is fully fixed (correct me if I'm wrong); for example, for [`heim`](https://docs.rs/heim/0.0.10/heim/) docs.rs does not render type alias correctly, resulting in a weirdly gibberish output: https://docs.rs/heim/0.0.10/heim/cpu/struct.CpuFrequency.html#method.current

Type alias is used in the sub-crate code: https://github.com/heim-rs/heim/blob/095768ff6a580b27727b69585213

[2020-02-16 12:11] timvermeulen commented on #57517
@nikic You're right, but now it's just a matter of "`for_each` is faster than a `for` loop for `step_by`" which is not at all surprising if you consider that `StepBy::next` branches based on the `first_take` field. It's not something we're able to fix in the general case.

[2020-02-16 12:45] Alexendoo commented on #57201
Fixed by #67681

[2020-02-16 12:46] Alexendoo commented on #57200
Fixed by #67681

[2020-02-16 12:57] Alexendoo commented on #60473
Fixed by #67681

[2020-02-16 13:08] Mark-Simulacrum commented on #62502
It's possible that's the right decision. I don't think it answers all the questions. I would suggest opening a PR to this repository after implementing this; if you're interested in discussing how to do so I believe internals is the right place for that.

[2020-02-16 13:17] Mark-Simulacrum commented on #69206
Any change here would need to be an RFC, I think, so closing in favor of that process.

[2020-02-16 13:17] #69206 closed

[2020-02-16 13:25] silverweed commented on #69207
@retep998 I just found out that on my older Windows it only succeeds if I run the program with `cargo run`: launching the executable directly (e.g. from powershell or git bash) yields the same error 126.

[2020-02-16 13:36] Alexendoo commented on #67166
Fixed by #67681

[2020-02-16 13:43] jonas-schievink commented on #67166
That error doesn't look correct to me

[2020-02-16 14:23] eddyb commented on #48214
@Luro02 What else do you generate? Does your proc macro use `unsafe` and would it do the wrong thing without that "doesn't implement `Copy`" error?

If so why not put the bound on some `impl` or `fn` that would misbehave?

That would actually protect it, unlike an unrelated and unused type definition.

(Alternatively, just use `_AssertCopy` somewhere in your `unsafe` code)

[2020-02-16 15:26] BijanT opened #69210 "Tracking Issue for linked_list_remove"
#68705 adds a method in LinkedList to remove an element at a specified index.

The feature gate for the issue is `#![feature(linked_list_remove)]`.

[2020-02-16 15:54] dtolnay commented on #67738
@Kixunil I think you want:

[code]

[2020-02-16 15:57] dtolnay commented on #67738
A similar workaround works for the original issue.

[code]

[2020-02-16 16:25] LeSeulArtichaut commented on #50540
@alexcrichton Does this need a stabilization report/PR?

[2020-02-16 17:22] Nokel81 commented on #68523
Work is going well. I should have a preliminary PR up early next week.

[2020-02-16 17:28] gilescope commented on #69206
Okay, will try a pre-rfc on the internals and see if there are takers.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-16 17:42] Luro02 commented on #48214
Nope, in my case it is not using any unsafe code and it would not do the wrong thing, but who knows some macro might use this as a guard. For example one could have an attribute like this:

[code]
this would silently be accepted.

does this mean, that trivial bounds do not compile in unsafe code? 🤔

The unrelated/unused type definiton is there to get a specific error message (like `String does not

[2020-02-16 17:56] dtolnay commented on #48214
I think the suggestion to "just use the bound somewhere in code" means emitting something like:

[code]

There is no way this would compile with an unsatisfied bound.

[2020-02-16 18:42] #58211 closed

[2020-02-16 18:48] therealprof commented on #68208
TIL that the new profile overrides feature in 1.41.0 mitigates this particular problem. Adding the following to `Cargo.toml`:
[code]
teaches the compiler to eliminate the emission and call to the `compiler_fence` function.

[2020-02-16 18:57] clarfon commented on #50540
It needs a PR. Not sure if we should include `TAU` in that though; @m-ou-se, would you be willing to open a separate tracking issue for that, considering how that wasn't included in the FCP for this one?

[2020-02-16 19:02] cynecx commented on #69039
@jonas-schievink I don't know much about rustc internals but it seems these places seem relevant somehow.

https://github.com/rust-lang/rust/blob/5e7af4669f80e5f682141f050193ab679afdb4b1/src/librustc_mir/dataflow/impls/storage_liveness.rs#L140-L148

https://github.com/rust-lang/rust/blob/5e7af4669f80e5f682141f050193ab679afdb4b1/src/librustc_mir/dataflow/impls/storage_liveness.rs#L150-L162

[2020-02-16 19:09] jonas-schievink commented on #69039
Yes, that's the issue I was referring to.

[2020-02-16 19:20] m-ou-se commented on #50540
@clarfon There is already #66770.

[2020-02-16 20:06] alecmocatta opened #69214 "Type inference asks for annotations that are already present"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2fdb3ddfe24a37438c0723f62c278a11))

Errors:

[code]

[2020-02-16 20:32] jturner314 opened #69216 "Overflow evaluating requirements when referencing associated type without a type parameter"
This code fails to compile on stable (1.41.0), beta (1.42.0-beta.3), and nightly:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0b20b5a0031756e51ca72df4489526d1))

with the following error messages:

[code]

I expected it to compile without errors. Adding a type parameter for the type `<f32 as Add<A>>::Output` fixes the issue. In other words, this e

[2020-02-16 20:45] garfieldnate commented on #39128
I'm also struggling with this; I tried the solution from @TheNeikos, but Rust tells me that the `0` field of Box is private. Can I use something else instead of the `0` field?

[2020-02-16 21:21] jonas-schievink commented on #69039
This patch makes the generator layout look more reasonable (actually containing slots for the `String`s), but doesn't fix the crash. In fact, it makes the `resume-live-across-yield.rs` test miscompile too:

[code]

[code]

[2020-02-16 21:37] SimonSapin commented on #69111
What most likely happens is that resolving `array[x]` first looks for a `Index<_> for [T; N]` impl. Normally it isn’t found, so the array is first auto-ref’ed to `&[T; N]` and then auto-coerced to a `&[T]` slice, which does have an `Index` impl. However if `Index<One>` is found, it is apparently "selected" and the value `x`’s type is unified with `One`, which fails.

A simple fix would be to add `

[2020-02-16 22:30] Marwes commented on #68666
@nnethercote Got a big PR in the works which rewrites most of `ObligationForest`. It doesn't affect this particular issue (sadly) but it is likely to collide with any changes to fix this issue.

https://github.com/rust-lang/rust/pull/69218

[2020-02-16 22:50] garfieldnate commented on #39128
I went with this to achieve simple pointer equality:

    use std::ptr;
    type BoxedMyTrait = Box<dyn MyTrait>;

	impl PartialEq for BoxedMyTrait {
		fn eq(&self, other: &Self) -> bool {
			ptr::eq(self as *const _, other as *const _)
		}
	}

[2020-02-16 23:35] ecstatic-morse commented on #68957
@CDirkx if the issue has been resolved to your satisfaction, feel free to close it. There's no rush however.

I have another fix in mind in addition to #69072 to make compile-time linear/linearithmic in the number of associated items, so your compile times should continue to improve regardless of the status of this issue. I'm also looking to add a variation of your MCVE to the [rustc-perf](https:/

[2020-02-16 23:43] clarfon commented on #50540
Oh, my bad. I for some reason noticed that this issue got linked in the PR and thought that there wasn't a separate tracking issue.

[2020-02-16 23:49] retep998 commented on #69207
Why are there so many `???` in that output? Is `ldd` just really bad?

If you have VC++ I recommend doing `dumpbin /dependents foo.dll` to get DLL dependencies.

My current guess is that you're depending on some C library being provided by one of the crates you depend on, and it succeeds when you run it in a way such that it can be found and it fails otherwise. `cargo run` succeeding whereas runni

[2020-02-17 00:06] daboross commented on #39128
@garfieldnate @TheNeikos's solution is for a tuple struct with a single field. The `.0` here isn't accessing `.0` of a box, but `.0` of the tuple struct (in other words, the box).

I believe your situation is a different issue.

[2020-02-17 00:36] cbeck88 commented on #62502
@Mark-Simulacrum ok

I don't think I have bandwidth to do that right at this moment, but yeah i'm probably interested

If you think an RFC is the right way to go I'm also potentially interested in driving that process or participating in it, though I've never done that before

[2020-02-17 00:55] nnethercote commented on #69153
Note to self: `x.py build --warnings=warn` allows the warning to be ignored. Thanks to @Mark-Simulacrum for the tip.

[2020-02-17 01:52] rust-highfive opened #69221 "`clippy-driver` no longer builds after rust-lang/rust#67953"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#67953, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Zoxc, the PR reviewer, and nominating for

[2020-02-17 02:00] wesleywiser commented on #68841
@pnkfelix I'm not sure how async closures desugar, so this could be way off base, but this looks very similar to the other ICEs tracked in #62529. Does this look like another instance of that issue to you?

[2020-02-17 02:16] konimex opened #69222 "Building rustc in Clang 9.0 error: invalid argument '-std=c++11' not allowed with 'C'"
Hello, I'm trying to build a pure-LLVM Rust (no linking to `libgcc_s.so` at all). Building rust with `clang` set as `cc` in `target.x86_64-unknown-linux-musl` returns failure since Clang (the C compiler) doesn't allow `std=c++11`.

Here's my `config.toml`:
[code]

Here are the relevant bits of the log:
[code]

Thanks.

A complete log is available here:
http://termbin.com/ex3p

[2020-02-17 02:27] estebank commented on #66406
What do you think about this output?

[code]

[2020-02-17 03:26] clarfon opened #69224 "Confusing errors when using `Self` variants with lifetimes"
Minimal example, imagine that we have the following type:

[code]

If the user returns `Self` variants, this fails:

[code]

But the same code works when you change `Self` to `MyCow`!
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=90362d182ee2b37724d73ab7576cdf24))

The real error here is that `Self` really represents `MyCow<'a>` and not just `MyCow`,

[2020-02-17 03:40] dfyz opened #69225 "Memory unsafety problem in safe Rust"
I have a [small program](https://github.com/dfyz/rust-segfault) (a simplification of a test function from a larger project) that slices a small array and tries to access an out-of-bounds element of the slice. Running it with `cargo run --release` using the stable `1.41.0` release prints something like this (tested on macOS 10.15 and Ubuntu 19.10):
[code]
It looks like the resulting slice somehow h

[2020-02-17 04:31] rivy commented on #68887
@mati865 , yep, I think using the "usual" relative path (ie, "..\lib\mingw\tools\install\mingw64") would be the better choice. I guess you could fall back to parsing the `gcc --shimgen-noop` output, but that's a lot of effort for a low percentage occurrence.

I do want to say thanks for your efforts on this problem.

[2020-02-17 04:44] ecstatic-morse commented on #69197
Some perf builds [around the regression](https://perf.rust-lang.org/index.html?start=7cba853b4f6080bf7831169fe5632ec9b6833242&end=&absolute=true&stat=task-clock#chart-top-outer-container-encoding-check) were stuck in the queue when I posted this, so it may not be #69144.

[2020-02-17 05:38] johnw42 commented on #43244
I arrived here because I was looking more more or less exactly the method @jethrogb suggested above:

[code]

The only difference from what I had in mind (which I was calling `update` in my head) was that I hadn't thought to make it return a draining iterator, but that seems like a clear improvement, since it provides a single, reasonably straightforward interface that supports updating items in p

[2020-02-17 05:41] johnw42 commented on #43244
The function has to return `Option<T>` because the values it produces are stored in a `Vec<T>`.

[2020-02-17 06:00] dtolnay commented on #47336
Fair enough. I do like `NonNull::from(Box::leak(b))` over `NonNull::from(b)` but I wish there were a way it could be more discoverable.

[2020-02-17 06:03] Lokathor commented on #47336
Having it just be longer is definitely worse.

[2020-02-17 07:13] norcalli commented on #46698
I tried opt-level=1 and it's still optimized out entirely.

[2020-02-17 07:47] tanriol commented on #68887
Still, how about a fallback to some config item or environment variable so that it can be made work on unsupported layouts too without rebuilding rustc?

[2020-02-17 07:51] silverweed commented on #69207
Thanks for the help you're giving. I'm a windows newbie, so I am quite disoriented when it comes to troubleshooting this kind of stuff there :S
I ran the command and this is the output (on the older install):
[code]

I guess the most likely culprit here are the csfml libs, which are the only non-system ones.

[2020-02-17 08:08] #69207 closed

[2020-02-17 08:42] bugaevc opened #69228 "Bogus T:Sized suggestion when using size_of::<T> as a const"
Example:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4dde81bb0288439aa43cac1d5091635d)

Results in the following error:

[code]

of course, `T` is `Sized` by default unless you say `T: ?Sized`, so the error and the suggestion are clearly wrong. And if you do say `T: Sized` explicitly,

[code]

you get

[code]

Note `T: std::marker::Sized +` being s

[2020-02-17 09:24] petrochenkov opened #69229 "parser: Implement recovery for potential unknown macro variables `$ IDENT`"
https://github.com/rust-lang/rust/pull/69211 simplified parsing and fixed treatment of `$` tokens coming from proc macros, but slightly regressed diagnostics.

If a declarative macro body contains something that looks like an unknown macro variable `$ var`, then it's preserved and outputted like two-token sequence punctuation `$` and identifier `var`.

We previously tried to detect such sequences

[2020-02-17 10:05] hellow554 commented on #69191
Does this need an mcve?

[2020-02-17 10:06] hellow554 commented on #69204
The function isn't needed for the ICE to happen:

[code]

[2020-02-17 10:15] jonas-schievink commented on #69191
Yeah, but I think at this point a bisection might be more helpful since we're not yet sure what caused this.

[2020-02-17 10:30] jonas-schievink opened #69231 "`noreturn` on diverging functions makes LLVM trash the link register on thumb targets"
Downstream issue: https://github.com/rust-embedded/cortex-m-rt/issues/139

It looks like LLVM is extremely eager to overwrite the Link Register without saving it as soon as `noreturn` is put on a function. Since rustc does that for any `-> !` function, which includes many parts of the panic machinery, this effectively makes obtaining a backtrace on panic on embedded systems impossible.

This is so

[2020-02-17 10:56] mati865 commented on #68887
@rivy calling `gcc -print-file-name=crt2.o` would be better than `gcc --shimgen-noop` but it's still calling external executable which is slow on Windows. This was one of the concerns of regarding my PR.

@tanriol I'm not member of compiler team so I cannot tell but I think they'd accept *unstable* flag. I don't know that part of the compiler and would love if somebody else did it (if compiler tea

[2020-02-17 11:07] pietroalbini commented on #69225
cc @rust-lang/compiler
@rustbot ping icebreakers-llvm

The release team is considering making a point release for Rust 1.41 (we briefly discussed it in last week's meeting), and I'd love for this to be included in it if we can get a PR up soon.

[2020-02-17 11:16] xfix commented on #69121
I cannot reproduce this, however I want to note that the error message mentions `&dyn Human` which means it's tests that are failing to compile.

[2020-02-17 11:32] RalfJung commented on #69225
I [cannot reproduce this on playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=bd428e75de789391f85ad588e6b84310). The program works fine there on 1.41.0 in release mode.

[2020-02-17 11:42] Amanieu commented on #68905
Considering that this broke two crates on stable, I think we should just go ahead and stabilize the avx512 features. I don't think there is any particular reason for holding back on them.

[2020-02-17 12:03] Mark-Simulacrum commented on #47336
I would personally disagree that the length is an issue here, and AFAICT, we can always add the shorter one later, right?

We could also plausibly call this `NonNull::leak(Box<T>)`, right? I'm not sure about the generic being useful here, do we have examples of code with a desire for an Into/From bound with NonNull?

[2020-02-17 12:06] konimex commented on #69222
I think I may have found the culprit.

https://github.com/rust-lang/rust/blob/75b98fbe77d472d85d1691bae5b25e7eefb3609c/src/libunwind/build.rs#L108

I'm not well-versed in building rustc (I particularly don't know why rust can build its own LLVM instance, but I assume this is to accommodate systems where LLVM doesn't even exist?), but isn't the choice between `$CC` and `$CXX` is pretty much irrelev

[2020-02-17 12:07] Centril commented on #69228
Duplicate of https://github.com/rust-lang/rust/issues/43408.

[2020-02-17 12:38] SimonSapin commented on #47336
Not really, I was initially tempted to use `From` mostly to avoid having to come up with an awkward name like `into_raw_non_null`

[2020-02-17 12:39] hanna-kruppe commented on #69231
Note that LLVM can also infer `noreturn` on its own, not in all cases where rustc can add it, but certainly in many simple cases such as `panic-abort`'s panic handler.

Have you tried `-Cforce-frame-pointer` and found it didn't help? At a glance it seems that the ARM backend respects the usual way to request the frame pointer to be preserved (the `frame-pointer` function attribute), so I would exp

[2020-02-17 12:46] BurntSushi commented on #69225
Just to add a data point, I can reproduce this on Linux with the latest nightly:

[code]

I was able to reproduce the above with the exact same output with Rust 1.41 stable. Rust 1.40 stable does not exhibit the problem:

[code]

I think this is all consistent with @dfyz's report, except this at least confirms that it isn't macOS specific.

[2020-02-17 13:12] glandium opened #69232 "Printed function definition types can be confusing"
I tried this code:

[code]

I expected to see this happen: maybe not a failure, or a failure that is not completely confusing.

Instead, this happened:
[code]

Note how it suggests to cast to the exact same type it started with.

`rustc --version --verbose`:
[code]

[2020-02-17 13:17] jonas-schievink commented on #69232
That's not the same type, it just prints "fn item" in a very similar way to "fn pointer". The former is zero-sized, while the latter is pointer-sized.

[2020-02-17 13:20] SimonSapin commented on #69225
This is expected. 1.40.0 was [released on 2019-12-19](https://github.com/rust-lang/rust/blob/master/RELEASES.md) based on what was then the `beta` branch, which was branched from `master` six weeks earlier (around the time of the 1.39.0 release). See https://doc.rust-lang.org/book/appendix-07-nightly-rust.html for more about release channels.

[2020-02-17 13:20] Centril commented on #69184
The variance code in `src/librustc_typeck/variance/constraints.rs` is:
[code]
It seems to me that this is disregarding the substitutions for `::B<'a>` if I'm understanding what `.trait_ref(tcx)` does here wrt. the substitutions (this pretty poorly documented right now).

cc @matthewjasper

[2020-02-17 13:24] RalfJung commented on #69225
If I had to guess, I'd say https://github.com/rust-lang/rust/pull/67015 is the likely culprit. This fixed 3 codegen issues, so it touches codegen-critical code.
Cc @osa1 @oli-obk @wesleywiser

[2020-02-17 13:25] glandium commented on #69232
Are you saying that the ` {libc::unix::fread}` part is supposed to indicate that?

[2020-02-17 13:25] Centril commented on #69064
cc @cramertj @nikomatsakis @taiki-e

[2020-02-17 13:26] jonas-schievink commented on #69232
Yeah, it indicates that it's the type of that specific fn item, and not an fn pointer.

[2020-02-17 13:27] glandium commented on #69232
That... is really not obvious.

[2020-02-17 13:31] jonas-schievink commented on #69231
Thanks, that really does look like it'd fix this, but according to https://github.com/rust-embedded/cortex-m-rt/issues/139#issuecomment-586993906 it doesn't help.

[2020-02-17 13:34] osa1 commented on #69225
Thanks for the ping. I'm currently making a build to investigate. It's possible that this is a bug introduced with #67015. Another possibility is that #67015 just revealed an existing bug.

[2020-02-17 13:34] Centril commented on #69232
I agree it isn't; but on the other hand I'm not sure what would be clear without also taking up a lot of space... ideas?

cc @estebank

[2020-02-17 13:38] glandium commented on #69232
Well, in that case, shouldn't it suggest to use `&libc::fread` rather than a cast?

[2020-02-17 13:41] hanna-kruppe commented on #69231
Oh, right. A pre-built libcore, at least the mononorphic non-inline parts such as `core::panicking::panic_fmt`, won't usually be affected by the -C flag. Does rebuilding libcore (via Xargo or `cargo -Z build-std=...`) help?

[2020-02-17 13:51] Centril commented on #64135
This is now resolved when you add `#![feature(move_ref_pattern)]` as you only get `E0507`.
cc https://github.com/rust-lang/rust/issues/68354.

[2020-02-17 13:51] #64135 closed

[2020-02-17 13:54] osa1 commented on #69225
I managed to reproduce the segfault using rustc nightly on Linux, but not with my build generated with this config.toml:

<details>

<summary>config.toml</summary>

[code]

</details>

Using rustc nightly I checked MIRs before and after ConstProp and the MIRs are identical. So if this is caused by ConstProp then it's because of a difference in generated code of a library, not of this program.

[2020-02-17 15:06] #67098 closed

[2020-02-17 15:16] hellow554 commented on #69225
Regression in 033662dfbca088937b9cdfd3d9584015b5e375b2

@rustbot modify labels: -E-needs-bisection

---

@osa1 the `debug-assertions = true` is probably to blame. When I try to compile (with a vanilla nightly compiler) the program with `-C debug-assertions=y` the program panics instead of the segfault

[2020-02-17 15:40] dhardy commented on #69184
BTW how long do we need to keep this warning around? I understand that this is basically a given when using nightly features. (It puts me off using it in my normal build path — but presumably that's exactly what is wanted, in order to detect bugs like the one reported here.)
[code]

[2020-02-17 15:43] haraldh commented on #51540
So, any progress for us `alloc` + `no_std` users who want to compile with stable?

[2020-02-17 15:43] soapdog opened #69237 "compiler panicked on Linux (WSL) aarch64"
I was trying to install [Zola](https://github.com/getzola/zola) on a Surface Pro X running WSL (Ubuntu). Rust is running inside WSL with the following version `rustc 1.41.0 (5e1a79984 2020-01-27) running on aarch64-unknown-linux-gnu`. It panicked and told me to come here fill an issue:

This is the output:

[code]

[2020-02-17 15:49] jonas-schievink commented on #69237
Does this also happen on nightly?

[2020-02-17 15:51] soapdog commented on #69237
let me try...

[2020-02-17 15:54] SimonSapin commented on #51540
The message literally just before yours proposes two solutions, either of which would unblock that use case: https://github.com/rust-lang/rust/issues/66740, https://github.com/rust-lang/rust/issues/66741. However neither has consensus so far.

[2020-02-17 16:00] Centril commented on #69184
We only use `INCOMPLETE_FEATURES` for those that have been ICE-prone in the past or are generally not in a "considered implemented modulo bugs" state. It's quite a small set of features that are incomplete like this. GATs specifically are to my knowledge nowhere near ready to be "implemented modulo bugs".

[2020-02-17 16:06] dhardy commented on #69184
On this topic, the following builds,
[code]
but the bound `<T as A>::B<'_>: std::fmt::Debug` fails with:
[code]

[2020-02-17 16:10] soapdog commented on #69237
@jonas-schievink it worked on nightly.

[2020-02-17 16:11] dhardy commented on #69184
Also, the following fails:
[code]
with:
[code]
This bound may not make much sense (since there is another lifetime parameter), but I believe it should be valid to specify here.

[2020-02-17 16:18] olegnn opened #69238 "Incorrect `lifetimes in impl Trait types in bindings are not currently supported` error in latest nightly"
rustc 1.43.0-nightly (5e7af4669 2020-02-16)

`futures-rs` tests (https://travis-ci.com/rust-lang/futures-rs/jobs/288109824#L1073) now fail on nightly with
[code]
However it worked before and there's no lifetimes in binding.

[2020-02-17 16:24] jonas-schievink commented on #69237
In that case, closing as fixed.

[2020-02-17 16:24] #69237 closed

[2020-02-17 16:29] Centril commented on #69238
cc @matthewjasper

[2020-02-17 16:29] DutchGhost opened #69239 "const generic ICE on *stable*"
I tried this code on *stable*:

[code]

I expected to see this happen: For one, report an error that Im using const generics without a feature flag. For two, report an error Im uising an intrinsic without a feature flag.

Instead, this happened: The above code crashed the compiler.

### Meta

`rustc --version --verbose`:
[code]
A quick check in godbolt gives that the ICE's started in 1.35 and onwa

[2020-02-17 17:00] d-e-s-o opened #69240 "RwLock: support upgrades and downgrades"
I think it would be great (certainly useful for me) if `RwLock` were to support read-write upgrades and write-read downgrades. Currently I don't see a way to accomplish the same and I always have to get write access over the entire operation.

`parking_lot` currently supports both cases ([here](https://docs.rs/lock_api/0.3.3/lock_api/struct.RwLockUpgradableReadGuard.html#method.upgrade) & [here](h

[2020-02-17 17:09] hellow554 commented on #69191
Here's a somewhat small-ish MCVE: Haven't managed to remove mio yet, but that's just a matter of time ;)

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6b20beddee84373d0ba4f56c6855485

[code]

Note, that this doesn't depend on the `never_type` feature. You can use `enum Void {}` as well.

[2020-02-17 17:19] sfackler commented on #69240
Even though we want to move the internals to parking_lot, that's an implementation detail. I don't think we'd want to expand the API beyond what pthreads provides.

[2020-02-17 17:22] d-e-s-o commented on #69240
Why?

[2020-02-17 17:25] sfackler commented on #69240
It would prohibit us from backing synchronization primitives with pthreads.

[2020-02-17 17:37] d-e-s-o commented on #69240
Correct me if I am wrong (I am not familiar with the implementation), but we could always implement our own set of synchronization primitives and, in fact, that seems to be what the switch to parking lot seems to be about.

Part of the reason for that switch seems to lie in the subtleties and "weird" behaviors of the OS specific APIs. I'd go so far to fudge pthreads into this category and just ign

[2020-02-17 17:40] shahn commented on #69225
I think I solved it! Reverting a983e0590a43ed8b0f60417828efd4e79b51f494 fixes the issue. It seemed like the culprit to me all day, but I couldn't test it at work :) Can someone help me how to best make a PR for this issue? I think the best way would be to add a testcase that must fail, but it seems this is very platform-specific etc, so maybe that is not a good idea after all? Any ideas here? Than

[2020-02-17 17:44] lqd commented on #69225
(This was already bisected by the OP)

I managed to reproduce this with a local build with `debug-assertions` turned off (thanks for that @hellow554).

Some of the PRs in the rollup cause conflicts when reverted because we have since then `rustfmt`-ed everything, but I believe this issue is because of #67174.

[2020-02-17 17:45] shahn commented on #69225
@lqd yes, this is the issue that includes the commit that I referenced above. That is the culprit.

[2020-02-17 17:51] steveklabnik commented on #39726
Traige: https://docs.rs/hyper/0.13.2/hyper/header/constant.ACCEPT_CHARSET.html is the best place to reproduce this bug

[2020-02-17 17:53] estebank commented on #69232
An option would be to move the function name after the fn instead of after the signature, but doubt that would be enough. Best bet would be to add extra wording to the message about this being a specific function and expecting a function pointer, but the wording of those two is too close and lends itself to the same confusion we have now. Because of that, I think we should add a note explaining th

[2020-02-17 18:20] LeSeulArtichaut commented on #69173
I’m currently trying to tackle this.
@rustbot claim

[2020-02-17 18:39] sfackler commented on #69240
pthreads is not a gold standard, it is a least common denominator. The standard library does not intend to provide arbitrarily obscure functionality.

I disagree that these operations are "essential" - C# is the only language that I'm aware of that offers them as part of its standard library.

[2020-02-17 18:56] mgattozzi opened #69243 "Improve ?Sized diagnostics"
Context: https://twitter.com/mgattozzi/status/1229477994961494021

A way to improve the diagnostics when suggesting to relax trait bounds with ?Sized is to show how one would use it on a struct/fn with their code rather than just suggesting it, making it easier for newer people, or those first encountering the issue to more clearly understand how this works.

cc/ @estebank

[2020-02-17 19:19] MabezDev commented on #69231
Ah, I always for get about that!

Running the [minimal example](https://github.com/MabezDev/cortex-m-quickstart) with `cargo +nightly run -Z build-std=core` and `"-C", "force-frame-pointers=yes"` does indeed fix the corrupted backtrace! :tada:

[code]

What are the performance implications of forcing framepointers? Would forcing frame pointers for thumb* targets (Does this affect all baremetal tar

[2020-02-17 19:23] jonas-schievink commented on #69231
Is it possible to use `-Cforce-frame-pointers=off` to forcefully disable them again? If so, I think there's not much harm in enabling them by default for these targets. At most, we'll pay for a bit of stack space since LR is saved slightly more often, as well as slightly higher register pressure, I think?

[2020-02-17 19:51] timvermeulen commented on #43244
@johnw42 I'm not sure I follow, wouldn't the `Some` value immediately be yielded by the iterator?

Actually, I guess the input value of that function still needs to be `&T` or `&mut T` instead of `T` in case you don't want to drain it. Or maybe the function could be something like `FnMut(T) -> Result<U, T>`. But I don't see why the item type couldn't be some other type.

[2020-02-17 19:55] MabezDev commented on #69231
Not sure I follow; do you mean for downstream crates? I think if the core crate is built with framepointers, the downstream crates shouldn't have to have it enabled. I'm not sure how we could test that theory though.

[2020-02-17 20:09] jonas-schievink commented on #69231
I want to know if it would be possible to opt out of frame pointers again if we decide to enable them by default

[2020-02-17 20:10] hanna-kruppe commented on #69231
I am reasonably sure that `-Cforce-frame-pointers` will always override the target's default, so it should work as an opt-out (except of course for pre-built machine code in sysroot crates).

[2020-02-17 20:10] andresv opened #69246 "rustc panic when using format! incorrectly in fold"
I tried to print out vec of tuples as hex string.
`let v = vec![(0, 1), (0, 2)];` would have printed out as `(00, 01), (00, 02)`.

### Code
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2770538ab32b24cf531f31419ea6bb02
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
<

[2020-02-17 20:11] estebank commented on #69204
Will be fixed by #69148.

[2020-02-17 20:18] jonas-schievink commented on #69246
Looks like it's already fixed in nightly, so closing as fixed.

[2020-02-17 20:18] #69246 closed

[2020-02-17 20:20] jonhoo commented on #65863
Here's another instance of this bug:
[code]

[2020-02-17 20:25] cynecx commented on #69039
Well, afaict the main issue here is that the transformation which replaces the `Place`s with generator struct accesses is run *before* creating the actual resume function.

This happens:

https://github.com/rust-lang/rust/blob/5e7af4669f80e5f682141f050193ab679afdb4b1/src/librustc_mir/transform/generator.rs#L279-L289

before this:

https://github.com/rust-lang/rust/blob/5e7af4669f80e5f682141f050193

[2020-02-17 20:55] LeSeulArtichaut commented on #69243
What about having a separate error code, so that `--explain` can give details about DSTs?

[2020-02-17 20:58] NonNullableName commented on #65816
Well,the documentation does a great job telling you how to avoid a leak and also leaking it is not unsafe.

[2020-02-17 20:58] jonhoo commented on #65863
As an interesting aside, when trying to work around this using `Box<dyn Trait>` under `#[cfg(doc)]`, I kept running into [this `unimplemented!` in `librustdoc`](https://github.com/rust-lang/rust/blob/0176a9eef845e7421b7e2f7ef015333a41a7c027/src/librustdoc/clean/mod.rs#L1299).

[2020-02-17 21:01] jonhoo commented on #65863
@Aaron1011 did you start the work of adding a check for the presence of `impl Trait` definitions within the parent scope, or were you just musing? As crates start adopting `impl Trait` existentials, this is probably going to become a pretty important use-case to support.

[2020-02-17 21:02] estebank commented on #69243
I think that we get 80% there by using `span_suggestion_verbose` instead of `span_suggestion` and an extra 10% by adding a note explaining a bit of this. The last 10% would be a specific error code, but we have shied away from replacing `E0277`s in the past.

[2020-02-17 21:04] Lokathor commented on #65816
I don't disagree with any of that, but also my opinion is unchanged.

It's not a big deal to have this as associated function vs method, but `shepmaster` is right that the associated version function makes this meta-family of functions feel consistent across the `alloc` crate.

But again it's a totally unimportant difference either way, and we should just stabilize either form and get on with the

[2020-02-17 21:06] jumbatm commented on #69232
How about something like this?
[code]
I'd argue that confusion comes from seeing the "same" function signature so many times, so it's vital to distinguish between the individual function type vs the function pointer type as much (and as obviously) as possible.

[2020-02-17 21:10] NonNullableName commented on #65816
In my opinion functions that start with `into_` should be methods to match the definition of other methods and the `Into` trait and the rest can be associated functions whenever needed to avoid deref ambiguity or by convention.

[2020-02-17 21:36] CAD97 commented on #31436
@Nokel81 the problem with your former example is that the expression in `if let $pat = $expr` is not a regular expression context, but rather a special "no brackets expression" context. For an example of how this works with struct expressions, see [this example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ca595bb0dae67f24a691d4ef101002da) where it is syntactically clear

[2020-02-17 21:49] Aaron1011 commented on #65863
@jonhoo: I haven't done any work on this issue as of yet.

[2020-02-17 21:50] estebank commented on #69069
Cc https://github.com/rust-lang/rust/issues/66289

[2020-02-17 21:51] Coder-256 commented on #69214
That diagnostic is a bit misleading. This works:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1c3185d7a18f14d7e73b0c30680cd483)
[code]

I guess the compiler can't figure out the type of the 2nd addend, and by extension, what type you expect from `try_into()`. I think in this case, I think it's true that `usize` is the only type that satisfies `T` for both `

[2020-02-17 22:08] estebank commented on #65149
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6cbfdc5193cc798b71edc4a3e939a166), we no longer provide the incorrect suggestions:

[code]

This is another case of #69069.

[2020-02-17 22:27] gwik commented on #63385
I had the same error using using filter() combinator on a stream and then trying to spawn it. The message leaves me clueless.

[2020-02-17 22:39] passcod commented on #46893
Someone in the Rust Community Discord just got `error[E0366]: `Drop` impls cannot be specialized` and then we found this issue.

As a clarification: does this issue and especially the comment by @Manishearth imply that specialized Drop is a thing that _could_ be done and just hasn't been implemented/discussed/designed, or will specialized Drop _always_ be impossible (and is there an explanation so

[2020-02-17 22:42] matthewjasper commented on #69238
The lifetime being referred to is in the concrete type. This is working as currently intended.

[2020-02-17 22:46] shepmaster commented on #69039
I probably would have noticed that if not for that pesky segfault 😜

[2020-02-17 23:17] Centril commented on #67565
## Investigation

### Source input:

[code]

### Results in the following MIR:

[code]

And we double check with some `debug!`s in `ast_block_stmts` (in the `if let Some(init) = initializer {` branch):
[code]
using `RUSTC_LOG=rustc_mir_build::build::block=debug rustc +gamma-stage1 -Z dump-mir=nll foo.rs` we get:
<details>
[code]
</details>

## Borrow checking trace:

The error comes from `describe

[2020-02-17 23:57] peterhj commented on #69225
To add another data point, the problem disappears when `codegen-units` is set to 3 or less. In other words I'm able to reproduce when `codegen-units` is 4 or greater.

[2020-02-18 00:09] tmiasko commented on #69225
The call to `panic_bounds_check` disappears after LLVM Jump Threading pass. I can't reproduce the issue with opt from LLVM 10.

[2020-02-18 00:13] MarkMcCaskey opened #69250 "Documentation unclear with Fn trait on extern "C" function pointers"
The relevant docs are [here](https://doc.rust-lang.org/std/primitive.fn.html) and [here in the repo](https://github.com/rust-lang/rust/blob/master/src/libstd/primitive_docs.rs#L1133-L1135):

The code:

[code]

Does not compile even though `abc` can be called without `unsafe`, which the docs seem to suggest is sufficient for this to work.

[Rust playground demonstrating the issue](https://play.rust

[2020-02-18 00:45] anp commented on #47809
Status update:

1. the bug @eddyb mentioned in https://github.com/rust-lang/rust/issues/47809#issuecomment-583784847 has a proposed fix in https://github.com/rust-lang/rust/pull/68965. I don't think there's any help I can offer, but I'm available if there is.
2. I've opened a [tentative PR to the reference](https://github.com/rust-lang/reference/pull/742) so that docs are ready and reviewed whenev

[2020-02-18 01:12] jyn514 commented on #68801
I have a repro for the first panic, not for the panic while panicking yet:

[code]
[code]

[2020-02-18 01:41] jyn514 commented on #68801
Ok, I think this is as small as I can make all 8 errors:

[code]

[2020-02-18 02:02] estebank commented on #65230
Associated items are predicates that are not carried around in the type, so by the time reach this we're not ferrying around the assoc types anymore. This will be hard to fix but very worthwhile.

[2020-02-18 02:14] rhysd commented on #65230
Thank you for the comment. I did not know the implementation under the hood.

It might be better to change the `expected ... found ...` error format in this case for avoiding confusion.
For example,

[code]

[2020-02-18 02:46] dfyz commented on #69225
So, I checked out and built a stage 1 `rustc` (`./x.py build -i --stage 1`), rebuilt `libstd` (`./x.py build -i --stage 1 --keep-stage 0 src/libstd`) without #67174, and recompiled the segfaulting program with four codegen units (`rustc +stage1 -C opt-level=3 -C codegen-units=4 main.rs`). As expected, this made the segfault go away. If I apply #67174 back again, the segfault returns.

This means I

[2020-02-18 02:46] JesterOrNot opened #69254 "OpenOptions: create() and create_new() are flip flopped"
I tried this code:

[code]
and it creates a file even if it already exists
[code]
This code creates a file only if the file does not exist

But look at the docs
For create()
![image](https://user-images.githubusercontent.com/50386709/74699309-f9d34080-51c5-11ea-802e-d650b3bb5d5c.png)

For create_new()
![image](https://user-images.githubusercontent.com/50386709/74699335-0a83b680-51c6-11ea-97c8-0ea3

[2020-02-18 02:53] jyn514 commented on #68813
Reduced for `src/main.rs` in the `rust-lightning-bitcoinrpc` crate (still depends on `lightning`):

[code]

[2020-02-18 03:02] estebank commented on #61661
Would the following be enough of an improvement?

[code]

[2020-02-18 03:33] nagisa commented on #65149
Should we close the duplicates? And also this issue, given that we no longer suggest wrong?

[2020-02-18 03:33] nagisa commented on #66289
Duplicate of #65149

[2020-02-18 03:33] #66289 closed

[2020-02-18 03:35] jyn514 commented on #68813
This is happening somewhere in item-bodies checking, if I remove the body of `setup_outbound` with `unimplemented!()` the error goes away.

[2020-02-18 04:07] jyn514 commented on #68813
Ok, I don't have more time to spend on this, I pushed some deletions to https://github.com/jyn514/rust-lightning/tree/rust-ice-delete

[2020-02-18 05:10] Manishearth commented on #46893
Yes, it _could_ be done. That said, in general Drop is already so special-cased in the type system this does sound like a recipe for bugs.

[2020-02-18 07:45] estebank commented on #65149
Maybe, but let's make sure we link them up.

No, we need to improve the output when dealing with arbitrary self types. The current output is at least no longer _wrong_ but it is _misleading_ and actively confusing for anyone not intimately knowledgeable about the language.

[2020-02-18 07:47] enterprisey commented on #63720
I would like to try and write a patch for this. @Centril, do you think this would require an RFC first? (Apologies for the ping, you were the last commenter)

[2020-02-18 07:56] djc commented on #61661
This is a great improvement! In this context, the latter three lines are somewhat confusing:

[code]

Since they actually don't apply for this case.

Also, it might help to elaborate the lines before that, for example:

[code]

Maybe even throw in an explicit mention of `<Foo<Inner> as Bar>::bar()`?

[2020-02-18 08:04] hellow554 commented on #68801
@estebank is this related to your PR #69148 and will this be fixed as well?

[2020-02-18 08:06] estebank commented on #61661
What do you think of the following output?

[code]
<img width="635" alt="Screen Shot 2020-02-18 at 12 05 00 AM" src="https://user-images.githubusercontent.com/1606434/74715894-55132c00-51e2-11ea-9a7c-d640b840c045.png">

I'll look into removing the last few lines as I agree that they are somewhat misleading here and obscure the solution, but we have to make sure we don't actually hide information u

[2020-02-18 08:09] estebank commented on #68801
@hellow554 I'm 99% sure it will.

[2020-02-18 08:13] estebank commented on #63720
It depends on how we close this ticket: if we extend the language to allow `Self`, then the lang team should chime in. If we continue to deny it `rustc` should suggest using `A` instead of `Self` here. For the later you can go ahead and implement it directly without much fuzz (and likely it would be 90% of the machinery to implement the actual lang feature). For the former, you _could_ make the ar

[2020-02-18 08:22] gilescope commented on #63047
Interesting. Is there an example project that this fails for? It just works for me on a 2017 mbp with latest nightly (I'm using it on a small project though..).

[2020-02-18 08:26] djc commented on #61661
Yeah, this would be even better. I still think it would be nice to specifically call out `Bar` somewhere/somehow as the provider of `bar()` and the implementer specifying the trait bound (though it doesn't need the full location treatment).

[2020-02-18 09:32] RalfJung commented on #68364
I am not just thinking of a potential outcome. Such a "destination-passing style operand/value" does not have to do the entire copy in a single go -- in fact, considering things like padding, it seems reasonable to assume that the many fields of a struct are all copied separately. That means that even if `memcpy` semantics are used, an overlap might go undetected -- the two structs can overlap wit

[2020-02-18 09:48] estebank commented on #61661
What about this?

[code]

[2020-02-18 12:08] olegnn opened #69259 "Incorrect `this block is empty, you might have not meant to close it` on any channel"
Any code which has correct `()` and incorrect braces like `f)` after them will produce incorrect `this block is empty, you might have not meant to close it` which will point at the valid parentheses. This behaviour is the same on all channels.
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e1c8a9c2395232687c7da75078ce58ac))

Errors:

[code]

[2020-02-18 12:08] hellow554 commented on #69191
Here's a "M"CVE without any dependencies:

[code]

regression in nightly-2020-01-11

<details>
<summary>Backtrace</summary>

[code]

</details>

@rustbot modify labels: -E-needs-bisection E-needs-mcve +A-mir

[2020-02-18 12:38] olegnn commented on #69259
Related: https://github.com/rust-lang/rust/issues/68987. It looks like it will incorrectly point to last valid block of any kind of braces.

[2020-02-18 12:53] jonas-schievink commented on #54239
Updated async/await code:

[code]

Neither this nor the generator example trigger the lint anymore, so this looks fixed.

[2020-02-18 13:17] Xanewok commented on #67982
The linked PR has been merged and it looks like the async/await benchmark received quite a nice boost.

Is it blocked on https://github.com/rust-lang/rust/issues/68864 to make progress?

[2020-02-18 13:40] jplatte commented on #69195
Please format the terminal output as a [code block](https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) instead of a quote to make it easier to read.

[2020-02-18 13:43] djc commented on #61661
I find the four separate span blocks a bit distracting. I would opt for something like this:

[code]

[2020-02-18 14:18] CryZe commented on #67302
Oof that does indeed look pretty bad.

[2020-02-18 14:33] Nokel81 commented on #68523
I have two things that I have run into:

1. should I be using `rustc_span::source_map::dummy_spanned`?
2. I am having trouble figuring out why I get a `bug!` panic at `src/librustc_metadata/rmeta/decoder.rs:398: Cannot decode Span without Session.`, would anyone have an idea as to how to set up a `Session`?

[2020-02-18 14:48] #67265 closed

[2020-02-18 14:48] #50540 closed

[2020-02-18 14:48] #67158 closed

[2020-02-18 14:57] kdy1 opened #69261 "librustc_span has a concurrency bug"
librustc_span contains a concurrency bug. Even though, rustc works without any problem.
(I guess rustc process does not use multiples threads to load file to sourcemap.)

https://github.com/rust-lang/rust/blob/0176a9eef845e7421b7e2f7ef015333a41a7c027/src/librustc_span/source_map.rs#L216-L261

When multiple threads invoked this method at a time, it results in overlapping spans.
(Because the lock is

[2020-02-18 15:07] Mark-Simulacrum commented on #69261
cc @Zoxc

[2020-02-18 16:25] nmattia opened #69264 "rustdoc: use remap-path-prefix"
The rust compiler has an option `--remap-path-prefix` for remapping path prefixes. It's useful to avoid runtime messages that are independent of where the source code was located during the build.

As far as I can tell that doesn't apply to `rustdoc`'s `<meta>` info "Source to the Rust file ...", which (to me) is unexpected.

### Meta

[code]

[2020-02-18 16:34] eddyb commented on #47809
No, it was brought up on #68965, but the fix is to track hygiene info cross-crate, which last I heard @Aaron1011 was working on.

[2020-02-18 16:40] eddyb commented on #48214
If it doesn't error when compiling the function, it *will* error when trying to use it.
It's *not* going to let you call the function without erroring.

[2020-02-18 16:54] wagenet commented on #63047
@gilescope unfortunately, I don't currently have a simplified project. I suspect it may be related to some of the way curl-rust is set up. But I can't say for certain.

[2020-02-18 17:04] kinnison commented on #69025
I'd say it's not unreasonable to put exact match first if it's available, then exact match case-insensitive, and then everything else by whatever relevant ordering we currently do.  It won't make it harder for most people, and may help a small few.  Of course, I also don't think it's that high a priority.  Perhaps a good help-wanted issue?

[2020-02-18 17:19] jjpe commented on #48214
Just ran into this issue while implementing a derive macro that derives a trait with nontrivial bounds that is then implemented for (among others) mutually recursive enums.
That caused an overflow, with compile errors like this one:
[code]

As you can see, the compiler gave me a suggestion to use `#![feature(trivial_bounds)]` in my crate.
My question is, will that actually work i.e. will it solve

[2020-02-18 17:19] gilescope commented on #63047
Ok so this could be a somewhat idiosyncratic error rather than being a general error affecting all osx users of grcov...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-18 17:21] wagenet commented on #63047
@gilescope definitely not unique to macOS since I saw something very similar in an Ubuntu Docker container.

[2020-02-18 17:51] #69221 closed

[2020-02-18 17:54] jyn514 commented on #68813
Got it down to two files, but they have to be in different crates: https://github.com/jyn514/rust-lightning-bitcoinrpc/tree/rustc-ice

`src/main.rs`:

[code]

`net/src/lib.rs`:
[code]

[2020-02-18 17:59] Aaron1011 commented on #47809
I have some code locally which serializes hygiene information, but it's currently blocked on https://github.com/rust-lang/rust/pull/68941

[2020-02-18 18:16] tmandry commented on #61949
Hello from triage.. downgrading from Focus since there is no forward-compat issue. We may keep this as OnDeck for now to track the diagnostics improvement.

[2020-02-18 18:29] jyn514 commented on #68813
A little smaller:

`src/main.rs`:
[code]
`net/src/lib.rs`:
[code]

[2020-02-18 18:56] #69238 closed

[2020-02-18 18:56] #68957 closed

[2020-02-18 19:07] LeSeulArtichaut commented on #69098
I've been working on this, trying to see if I would be able to implement this with my very little knowledge of the compiler. I think I can propose a PR soon.

@rustbot claim

[2020-02-18 19:10] Michele31415 commented on #68912
Anyone?  I'm pretty stuck here.

[2020-02-18 19:13] jonas-schievink commented on #68912
Is bootstrap not outputting any error? You didn't post one.

[2020-02-18 19:16] samuela opened #69267 "unknown `-Z` flag specified: macro-backtrace"
I tried running `cargo test` on https://github.com/graphql-rust/juniper at 547cf3e:

[code]

So then I tried:
[code]

I expected to see this happen: The `-Z macro-backtrace` flag to work.

Instead, this happened: Got an error that there was no such option.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-02-18 19:21] jonas-schievink commented on #69267
You're passing the flag to Cargo, it's a rustc flag

[2020-02-18 19:21] #69267 closed

[2020-02-18 19:22] samuela commented on #69267
Can we improve this error message then? What should the right invocation be?

[2020-02-18 19:23] samuela commented on #69267
Eg.
[code]

[2020-02-18 19:28] Michele31415 commented on #68912
Nope - that was the sum total of the output from the ./x.py command.  I should add I know very little about how any of this works.

[2020-02-18 19:31] jonas-schievink commented on #68912
Well, on my system `./x.py --target sparcv9-sun-solaris` prints:

[code]

which indicates a usage error. Please refer to the rustc guide at https://rust-lang.github.io/rustc-guide/ for how to build the compiler. If you have any further questions, please post them on one of the chat platforms used by the Rust community, such as https://internals.rust-lang.org/.

[2020-02-18 19:31] #68912 closed

[2020-02-18 19:36] Michele31415 commented on #68912
OK, thanks!

[2020-02-18 19:45] cynecx opened #69268 "Yield reference in generator with GAT"
Since https://github.com/rust-lang/rust/pull/67160 has been merge in December, having a GAT with lifetime should be possible (See the `StreamingIterator` example in that PR).

The current trait-defition of a generator is the following:

[code]

The issue here is that the `Yield` can't be parameterized with a lifetime, so yielding a reference from a generator is quite not possible in the current st

[2020-02-18 19:57] git-blame commented on #69165
Testing with 1.41.0 and jemalloc enabled as allocator. Issue not seen.

[2020-02-18 19:57] #69165 closed

[2020-02-18 19:58] jhpratt commented on #63139
Anything in particular holding up the stabilization here? The implementation is trivial and docs lgtm.

[2020-02-18 20:31] Centril commented on #63720
I think we decided to "interpret the RFC" when we actually stabilized the feature as not legitimizing this, or to be more accurate, the language team essentially overrode that section of the RFC. (See https://github.com/rust-lang/rust/pull/61682 for details.) I think it would be best to focus on the diagnostics work right now as supporting `use Alias::Variant;` would also need to be supported (and

[2020-02-18 20:51] #39618 closed

[2020-02-18 20:51] #51798 closed

[2020-02-18 20:51] #62894 closed

[2020-02-18 20:51] #63952 closed

[2020-02-18 20:51] #68653 closed

[2020-02-18 20:51] #69183 closed

[2020-02-18 20:52] rust-highfive opened #69269 "`clippy-driver` no longer builds after rust-lang/rust#69262"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69262, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominati

[2020-02-18 20:55] Centril opened #69270 "[lint: unsafe_in_unsafe_fn] A lint which triggers on unsafe operations in `unsafe fn`"
As a follow up to fixing https://github.com/rust-lang/rust/issues/69173 via https://github.com/rust-lang/rust/pull/69245, we would like to see a lint, starting as `allow`-by-default which would trigger on the following situation:

[code]

Eventually, over time, we would like to consider moving this lint to be `warn`-by-default, but we would like to give the ecosystem time to adapt before doing so.

[2020-02-18 21:04] estebank commented on #68523
@Nokel81 could you push your code to a branch we can look at and comment inline? You should be extracting an existing span.

[2020-02-18 21:08] jumbatm commented on #69254
This appears to be a doc issue, not a library bug.

In RFC 1252 `expand_open_options`, it says  [`create` should open an existing file, or create a new file if it does not already exist](https://github.com/rust-lang/rfcs/blob/master/text/1252-open-options.md#create), and [`create_new` should open a new file, failing if it doesn't exist](https://github.com/rust-lang/rfcs/blob/master/text/1252-open-

[2020-02-18 21:25] hman523 opened #69272 "Reduce number of long literal lacking separators lint from clippy"
When running `./x.py clippy`, you are told there are many cases of `long literal lacking separators` coming from the file src/libcore/unicode/unicode_data.rs

[2020-02-18 21:57] Mark-Simulacrum commented on #69272
Closing; we do not expect that the repository is clippy-clean today. That file is also generated content, but I'll leave a comment to that effect on the PR.

[2020-02-18 21:57] #69272 closed

[2020-02-18 22:22] varkor commented on #63720
@Centril: could you point out where in #61682 this is mentioned? I couldn't spot it by glancing through, though the discussion thread is quite long, so I could easily have missed it.

[2020-02-18 22:51] chrissimpkins commented on #69239
Source: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=357ac33432915dc13f0339771b264fe7

cargo-bisect-rustc indicates a regression in `nightly-2019-03-08` with tests that use a `rustc` shell script.  I ran into [a cargo bisect-rustc error](https://github.com/rust-lang/cargo-bisect-rustc/issues/51) and couldn't bisect at the commit level because there is a missing git comm

[2020-02-18 22:53] Centril commented on #63720
@varkor See the heading "Divergences from RFC". In particular notice how we don't allow `pub use Alias::Some;` contrary to the RFC. This is then discussed (see in particular comments referenced by @petrochenkov and @eddyb). In particular:

    This is a more general problem, in that `use Foo::...;` won't import associated consts/types/methods from types/traits.

It is not, but it would be ad-hoc,

[2020-02-18 23:04] johnw42 commented on #43244
@timvermeulen I think we're interpreting the proposal differently.

The way I interpreted it, the `Some` value is stored back into the `Vec`, and `None` means the original value is yielded by the iterator. That allows the closure to either update the value in place, or move it out of the `Vec`. In writing this, I realized my version doesn't really add anything because you can implement it in terms

[2020-02-18 23:14] chrissimpkins commented on #69191
searched nightlies: from nightly-2019-11-01 to nightly-2020-02-16
regressed nightly: nightly-2020-01-11
searched commits: from https://github.com/rust-lang/rust/commit/72b2bd55edbb1e63a930c5ddd08b25e4f9044786 to https://github.com/rust-lang/rust/commit/175631311716d7dfeceec40d2587cde7142ffa8c
regressed commit: https://github.com/rust-lang/rust/commit/2d8d559bbecf6272eb41f8a800e319238aa9d621
source

[2020-02-18 23:28] algesten commented on #69225
I've read the test case. I've read the commit that is being reverted. I still haven't got the foggiest of what's going on. What broke?

[2020-02-18 23:35] grantslatton opened #69275 "Incorrect "previous iteration of loop" error message"
The compiler gives a "value moved in previous iteration of loop" error message where there is no loop present.

Code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b90242be8f2df1b021024dba858d0817):

[code]

I expected to see an error message that does not talk about loops.

Instead, the compiler gives this error message:

[code]

### Meta
Bug exists on stabl

[2020-02-19 00:24] tmandry opened #69276 "Improve error message for "return type cannot contain a projection or `Self`...""
Example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6263bc1478126f230d8ef2dae9a5deb0)):

[code]

- Add a hint: try spelling out the type instead
- Add an error code with an entry in the error index explaining that this is a limitation of the compiler, tracked by #61949

[2020-02-19 00:25] tmandry commented on #61949
Opened #69276 to track the diagnostics improvement separately.

[2020-02-19 00:42] estebank commented on #36513
For the original case, would the following output be acceptable?

[code]

That's the current output in #69255. I think I can change it slightly to be less verbose, but worry about it being more confusing in the general case:

[code]

The case in the last comment would now be:

[code]

[2020-02-19 02:10] Nokel81 commented on #68523
1. There is a bunch of places in the code where `map_or_else` or a default `hir::IsAsync::NotAsync` was used and I needed to a way to make it `Spanned<hir::IsAsync>`
2. https://github.com/Nokel81/rust/tree/async_main_error
3. I am also having trouble trying to figure out where `fn main` is type checked as different then any other function.

[2020-02-19 03:07] timvermeulen commented on #43244
@johnw42 Ah, yeah, I thought you wanted `None` to mean that the value should stay in the `Vec`.

So it seems that `FnMut(T) -> Result<U, T>` would be the most general, though it's probably not very ergonomic. `FnMut(&mut T) -> Option<U>` isn't really an option actually because that wouldn't allow you to take ownership of the `T` in the general case. I think `FnMut(T) -> Result<U, T>` and `FnMut(&m

[2020-02-19 03:21] dfyz commented on #69225
I don't believe at this point anyone can say for sure what broke exactly, but my tentative analysis is this (please take the following with a grain of salt, I'm not on either the Rust team or the LLVM team, all I can do is tinker with the compiler and stare at the LLVM IR):
  * we removed overflow checks from a single [line](https://github.com/rust-lang/rust/blob/master/src/libcore/alloc.rs#L248)

[2020-02-19 03:49] crlf0710 opened #69279 "Not optimized codegen with NonZeroI32"
This code:
[code]
should have no possibility of panicking by "divide by zero", however, it seems related check and panicking code is still generated.

[2020-02-19 06:04] SimonSapin commented on #69225
If reverting the `Layout::repeat()` change only hides a symptom of *one specific* occurrence of an unrelated bug, is reverting really the right thing to do?

[2020-02-19 06:26] osa1 commented on #69225
I think it may be OK if:

- The change is shipped
- It makes the bug much more easier to trigger, affecting many users
- Fixing it properly will take a long time

If these hold then I think I'd revert the change, ship a minor release to unblock users (things worked fine without the change even though the bug was still there), and then focus on the actual bug.

In another compiler I remember actual

[2020-02-19 06:34] SimonSapin commented on #69225
So a question is, is this bug really easy to trigger? So far we’ve had one report with a somewhat involved test case where trying to minimize further (such as unrolling a seemingly trivial `for _ in 0..1` loop) fails to reproduce.

[2020-02-19 07:28] ecstatic-morse opened #69282 "Replace `#[rustc_args_required_const(n)]` with per-argument attr"
[RFC 2565](https://github.com/rust-lang/rfcs/pull/2565), which was recently stabilized, allows individual function parameters to have attributes. One of the [motivating examples](https://github.com/rust-lang/rfcs/blob/master/text/2565-formal-function-parameter-attributes.md#compiler-internals-improving-rustc_args_required_const) for that RFC was the ugliness of `#[rustc_args_required_const]`, whic

[2020-02-19 08:15] uenoku commented on #69279
It is a longstanding problem: https://github.com/rust-lang/rust/issues/49572

[2020-02-19 08:24] naim94a opened #69283 "[Docs] box doesn't contain documentation regarding ZSTs"
I've recently learned that `Box::new` on a ZST returns the ZSTs alignment. I assumed that the return value didn't really matter since it's a ZST.
This should be added to Box's documentation (`Box::from_raw` should also be aligned then, right?)

[2020-02-19 10:12] jonas-schievink commented on #69279
Closing in favor of https://github.com/rust-lang/rust/issues/49572

[2020-02-19 10:12] #69279 closed

[2020-02-19 10:18] dfyz commented on #69225
I don't think the bug is easy to trigger, it looks like I just got particularly unlucky.

Anyway, I really appreciate the trouble @shahn went through to revert the `Layout::new()` change, but IMO reverting it is _not_ the right thing to do in this case. My reasoning (in addition to what @SimonSapin said):
  * removing overflow checks in `Layout::repeat()` allows LLVM to inline `Vec::reserve()` in

[2020-02-19 11:15] rust-highfive opened #69286 "`rls` no longer builds after rust-lang/rust#69265"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69265, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @ehuss, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Dylan-DPC, the PR reviewer, and nominating for compiler team p

[2020-02-19 14:16] LeSeulArtichaut commented on #69270
Working on this.
@rustbot claim

[2020-02-19 14:23] #69269 closed

[2020-02-19 14:27] Kinrany commented on #69025
Makes sense to me, and I'd be happy to send a PR 🙂

[2020-02-19 14:42] pnkfelix opened #69291 "tidy should not traverse untracked directories"
I ran (effectively):

[code]

There are often extraneous files and directories in my source tree. And often they are not even files/directories that I had created (see (*) below).

The problem is that tidy does a blanket traversal of the tree under `src/`, as far as I can tell, and thus will happily flag "problems" in files that are no longer effectively part of the source code.

(My most recent i

[2020-02-19 14:48] Mark-Simulacrum commented on #69291
@pnkfelix Do you know which "part" of tidy is doing this? I suspect rustfmt myself, but am not quite sure :)

Ideally we'd do a global audit I guess for using `git ls-files` or so vs. direct traversal.

[2020-02-19 15:09] nellshamrell commented on #68671
I can take a look at this this week

[2020-02-19 15:13] GuillaumeGomez commented on #69025
Well, people seem more favorable to it so feel free to send a PR.

[2020-02-19 15:53] DhruvDh commented on #50604
[code]

happens at [this code](https://github.com/DhruvDh/dip_image_viewer) when running on particular machines build with `--release`.
Building without release gives -

[code]

but it works fine on my laptop. This happens due to missing something wgpu dynamically links against?

[2020-02-19 16:00] kennytm commented on #50604
@DhruvDh hi, could you file a new issue for that? This issue only tracks spurious failure from the CI and thus unsuitable for problems in user code.

[2020-02-19 16:47] DhruvDh commented on #50604
sorry, I did not realize that.

[2020-02-19 17:59] Nokel81 commented on #31436
Ah thank you very much for the in-depth explanation. I guess I am still confused why the later to ambiguous for type inference. Why is the type of the expression not `Result<isize, usize>`?

[2020-02-19 18:20] pnkfelix commented on #22750
Last week I encountered a variant of this bug that does not seem to have been addressed by PR #66561.

Namely this scenario:

<details>
<summary>Click to see the Cargo.toml and Rust source files involved.</summary>

a/Cargo.toml
[code]

b/Cargo.toml
[code]

c-v0.1/Cargo.toml
[code]

c-v0.2/Cargo.toml
[code]

a/src/lib.rs
[code]

b/src/lib.rs
[code]

c-v0.1/src/lib.rs
[code]

c-v0.2/src/lib.rs
[cod

[2020-02-19 19:00] nicbn opened #69296 "Compiler bug: type parameter `T/#0` (T/0) out of range when substituting"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-02-19 19:05] RalfJung opened #69297 "Miri exception improvements"
The Miri engine uses "exceptions" (`InterpResult`) to report misbehaving executions and propagate this information outwards to the machine (const-eval/const-prop/miri-the-tool). When an error is raised, we optionally capture a backtrace to ease debugging.

There are two problems with this:
* [x] Currently, checking whether we want to capture a backtrace is rather expensive (we check an env var). @

[2020-02-19 19:20] pnkfelix commented on #69291
No, I don't know which part is doing it. I was assuming it was `src/tools/tidy` that was gathering the set of paths to feed into `rustfmt`, but I have not confirmed that hypothesis.

[2020-02-19 19:21] Mark-Simulacrum commented on #69291
Well, I meant specifically what the errors were about -- I assume rustfmt based on your last message?

i.e., these are not (for example) line length or license check warnings, right?

[2020-02-19 19:28] That3Percent opened #69298 "Move keyword page makes no mention of async blocks"
The [move keyword](https://doc.rust-lang.org/std/keyword.move.html) page currently talks only about the use of move with closures. The `move` keyword is also valid before an async block. For example: `async move { /*...*/ }`. This page could be updated to include that usage.

This issue has been assigned to @Pulkit07 via [this comment](https://github.com/rust-lang/rust/issues/69298#issuecomment-59

[2020-02-19 20:25] pnkfelix commented on #69291
Oh I see.

I've only observed the problem with the `rustfmt` pass.

I just did a quick test; it seems like only the `rustfmt` checks are inspecting the untracked files. An untracked file with a long line does not seem to trigger the line length check.

I'm not clear on how the current license check works; I skimmed the `deps.rs` code in `src/tools/tidy` but couldn't work out where I should be find

[2020-02-19 20:43] jakevossen5 commented on #44710
Hey,

If this still needs fixed, I would love to work on this. I will probably be reaching out before to long for some guidance.

@rustbot claim

[2020-02-19 20:49] Koettlitz opened #69299 "Compiler crashes after changing Deleting a Trait implemented and referenced by a struct"
[neurons.rs.txt](https://github.com/rust-lang/rust/files/4227383/neurons.rs.txt)
The attached file is the only file of the project that really contains source code, except the lib.rs.
My code included a Trait `Neuron`, that was implemented for Struct `FurtherNeuron`. `FurtherNeuron` had a field of type `Option<Vec<Rc<RefCell<&dyn Neuron>>>>` and some methods dealing with that field. I compiled it

[2020-02-19 20:52] jakevossen5 commented on #44710
Shoot not sure if I read what was happening in this thread all the way. @zackmdavis are you working on this already?

[2020-02-19 21:06] pnkfelix commented on #62649
@Zoxc do you think it was a mistake to add the "workaround" in PR #68289 ?

My observations was that these bugs were so hard to track down in practice, they simply weren't getting fixed, at least not in any reasonable time frame. Bug reporters almost never provided enough context for us to reproduce them, which meant they were not actionable on our end.

Now, if the ICE here were preventing an eve

[2020-02-19 21:07] corbinu commented on #54727
@SergioBenitez Just wanted to check is #68717 the last needed piece for stabilizing Rocket or is something more needed?

[2020-02-19 21:08] pnkfelix commented on #69299
Hmm I had thought we specifically fixed the bug here, via PR #68289.

This bug is filed against rustc 1.41.0 (5e1a799 2020-01-27). PR #68289 landed on the January 28 nightly.

My suspicion is that the problem won't produce on the beta or nightly branches.

(However, I don't know if we would want to backport PR #68289 to the stable branch...)

[2020-02-19 21:21] Koettlitz commented on #69299
Oh right, with the beta version it compiles. Thanks

[2020-02-19 21:35] kyren opened #69300 "Generators can't have HRTBs on resume argument."
It seems as though it's not possible currently to write a generator that satisfies this bound:

[code]

Trying something like this:

[code]

Gives:

[code]

I realize that generators are very unstable right now so I doubt this is high priority, but hopefully something like this could work eventually?  I think it might be useful for generators to accept something like a temporary buffer as a resume

[2020-02-19 21:44] jonas-schievink commented on #69300
Yeah, this would be nice to have. This seems like a duplicate of https://github.com/rust-lang/rust/issues/68923 though, so closing in favor of that.

[2020-02-19 21:44] #69300 closed

[2020-02-19 21:44] pnkfelix commented on #69299
okay I'm going to close this as fixed (in beta, at least).

Or at least, I do not think the problem at hand warrants a backport of PR #68289 to the stable branch (and subsequent point release).

[2020-02-19 21:44] #69299 closed

[2020-02-19 21:45] kyren commented on #69300
Shoot, sorry for the duplicate, I even looked for it and asked on matrix beforehand, my search skills are bad!

[2020-02-19 21:45] pnkfelix commented on #69299
(thanks for the bug report, by the way! It is  rare, but always appreciated, to see incremental bugs that actually have enough info to reproduce the issue.)

[2020-02-19 21:56] jonas-schievink commented on #69300
No worries!

[2020-02-19 21:57] pnkfelix commented on #69283
Demo of what is being described:

[code]

[2020-02-19 21:57] pnkfelix commented on #69283
(However, I don't know if we actually guarantee this behavior, and therefore do not know if we want it documented?)

[2020-02-19 22:02] That3Percent opened #69301 "macros which use $crate:: resolve to the wrong name when the crate is renamed"
A macro using `$crate::` is supposed to be able to see its namespace regardless of whether that crate is a direct dependency of the caller. This is useful for hygienic purposes.

If a crate is renamed however:

[code]
Then the compiler fails to find the correct crate, instead using the name of the package.
Using the previous import and the following rust code produces an error:

[code]

The error

[2020-02-19 22:04] eddyb commented on #68923
Just to make sure it doesn't get forgotten: type-checking needs to ensure *distinct skolemizations* for every `yield` (this is assuming you're forced to get the new value from `yield`)

That is, you shouldn't be able to e.g.:
[code]

because the `'a` in the "generator arg type" should be instantiated to one skolem var for `first` and another for the `yield` (and every `yield` should be different).

[2020-02-19 22:20] Zoxc commented on #62649
Neither you nor @michaelwoerister found the root cause, so I don't think the workaround PR was a mistake, but I do think it should be reverted once the root cause is fixed (it seems quite specific anyway).

I think auditing information reachable from `TyCtxt` is more effective than the incremental bug reports we get. We should also audit manual `HashStable` implementations (we sort collections for

[2020-02-19 22:29] #69254 closed

[2020-02-19 22:45] steveklabnik commented on #57103
Triage: no movement whatsoever on the clang bug

[2020-02-19 22:45] estebank commented on #61661
The current output in the PR looks like this

[code]

I'm a bit hesitant about removing spans at this point. It might be true that changing it to the following could be a good idea, but I'm not sure:

[code]

[2020-02-19 22:46] jonas-schievink commented on #69039
@cynecx That's a great start! I've opened a fix (+ cleanup + more docs) based on the same idea in https://github.com/rust-lang/rust/pull/69302

[2020-02-19 22:59] estebank commented on #57994
Triage: we no longer emit the incorrect suggestions.

[2020-02-19 23:11] zackmdavis commented on #44710
@jakevossen5 I'm not; go for it! (Although ... I thought I remembered seeing an issue recently where people were discussing moving away from the numeric error codes, but I can't find it. @estebank, was that a real thing?)

[2020-02-19 23:42] LeSeulArtichaut commented on #68453
This seems like a duplicate of #65127, which has been fixed by #67585

[2020-02-19 23:50] estebank commented on #57994
Is the following output acceptable?

[code]

[2020-02-20 00:38] nagisa opened #69304 "unused-extern-crate false positive with sysroot crates"
To use certain crates such as `proc_macro` it is required to include it with `extern crate proc_macro`. Similar thing applies to other sysroot crates.

Denying the `unused` group of lints will prevent code from compiling properly with an error like this:

[code]

[2020-02-20 00:43] nagisa commented on #69304
Might be reproducible only when `cargo check`ing a proc_macro crate. I am having trouble in quickly minimizing this.

[2020-02-20 00:47] steakknife commented on #69225
Maybe locally throwing in a release-included defensive assertion of the invariant as a pre-condition so that it panics with specific details to hunt down this specific edge-case or some debugger-fu? I would bet it's an unchecked calculation getting through under certain conditions.

Then, when it's tracked down, a regression test case would be awesome so that it doesn't happen again. 🙏

[2020-02-20 00:51] nagisa commented on #69304
Note that at least the "convert to `use`" suggestion is not applicable, because `use`-ing a sysroot crate does _not_ in fact work cc @estebank

[2020-02-20 00:51] estebank commented on #65286
We already supply a structured suggestion in this case that can be applied with VSCode. We don't display the whole suggested code to reduce duplication in the text and to fit the intended flow of the text "add lifetime bound..."/"...so that". Changing it should be easy to do, but do we want to?

[2020-02-20 01:56] scottmcm commented on #68995
`size_hint` is pretty situational, and it turns out that [it's half-unused anyway](https://internals.rust-lang.org/t/is-size-hint-1-ever-used/8187?u=scottmcm).  And while `.with_exact_size(n)` is of course _safe_, it's also really easy to get into a garbage-in-garbage-out situation with because an iterator doesn't need to work if the size_hint is wrong -- which is easy to happen if you do somethin

[2020-02-20 02:35] Mark-Simulacrum commented on #69291
I spent a bit of time trying to look at this, but failed to quickly figure out how to get a list of files from git. AFAICT, `git ls-files` or `git ls-tree` don't quite do what we want. In particular, I was unable to coax git into listing checked in files but *not* to list src/test, for example.

It was my impression based on some searching online that this is perhaps even expected behavior. It's p

[2020-02-20 03:17] arucil opened #69306 "Inconsistent Self behavior with generic structs"
Summary from @pnkfelix : `Self` used as a tuple-struct constructor function should use the fully type-substituted form from the `impl` block, but does not.

Thus, today this code is accepted, but it should not be.

[code]

(Fixing this would be a breaking-change, so we should take care in how we deploy it.)

Original bug report follows:

----

I tried this code:

[code]

In nightly rustc, `_Bar` c

[2020-02-20 03:37] ehuss commented on #69304
Hm, this is an unexpected consequence due to https://github.com/rust-lang/cargo/pull/7700.  As of beta (1.42), `extern crate proc_macro;` isn't necessary.

I can see how that might be problematic for people who use `deny(warnings)` or `deny(unused)`.  I'm not sure what the policy is for that.  For now you can either remove the `extern crate proc_macro`, or if you need compatibility with older vers

[2020-02-20 05:51] jebrosen commented on #57994
That wording does indicates the actual problem (hooray!), but it also doesn't feel very newcomer-friendly to me because of the phrase "arbitrary self type". IMO something like "`test()` is called on an `X` but must be called on a `Pin<&mut X>`" would be more obvious, but I can see that getting difficult to implement in the error messages.

[2020-02-20 06:24] petrochenkov commented on #69301
`$crate` doesn't normally expands into `::crate_name`, it resolves directly as `$crate` instead.
In this case it looks like it has to go through pretty-printing before resolution due to some issue like https://github.com/rust-lang/rust/issues/43081, then it indeed turns into `::crate_name` - the closest approximation.

[2020-02-20 06:31] petrochenkov commented on #69306
The `_Bar` one is incorrect, `Self` has all its generic parameters substituted, i.e. it's `_Foo<T>`/`_Bar<T>` in both cases.

[2020-02-20 07:10] Kumassy opened #69307 "ICE: src/librustc/middle/region.rs:1037: Encountered greater count 28"
### Code

[code]
[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c17ef0f007c49e9baf5e449317ca28ed)

### Meta

`rustc --version --verbose`:
[code]

Same issue still exists in `rustc +beta --version --verbose`:
[code]

and also in `rustc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2020-02-20 10:04] comex commented on #69225
LLVM IR reproducer: https://gist.github.com/comex/881074b1bcc545e299e65527c719eef4

Run `opt bconfused.ll -scalar-evolution -loop-idiom -scalar-evolution -indvars -S -O3 -o -  | grep xprint`.  If the inside of the parentheses is `i64 -1`, the buggy optimization happened.  If it's not... it might not have, but it's hard to be sure.

It seems to come from LLVM incorrectly adding `nuw` to `add nuw i6

[2020-02-20 10:08] nox commented on #39016
I'm curious how this can be done cleanly, when the base windows target itself adds `-lmsvcrt` directly into the link args.

[2020-02-20 10:17] michaelwoerister commented on #62649
I'd like to understand this in more detail. I think #68289 is not a workaround, it just removes false positives from the assertion.

@Zoxc, do you know where in `type_of` the error occurs? Is there an untracked decision made based on the `HirId`? E.g. is `as_local_hir_id` used to determine if this is an item or just a field? That would indeed be problematic.

However, that also sounds like a diffe

[2020-02-20 12:41] djc commented on #61661
Let's see if we can get some wisdom from [the crowd](https://twitter.com/djco/status/1230472491489005568).

[2020-02-20 12:48] olegnn commented on #69053
@petrochenkov what is the best place to define this function if we assume to use it not only for resolve diagnostics but also for any kind of help messages and notes, which include identifiers?

[2020-02-20 12:49] Mark-Simulacrum commented on #69304
Generally speaking, we're free to break deny(warnings). Where possible, I think we usually try to phase new warnings in such that the nightly that introduces the warning has a previously released stable which supports some fix for it (e.g., deprecation issued as a "use this" would start warning once the replacement lands in stable).

[2020-02-20 12:50] dwrensha opened #69310 "internal compiler error: src/librustc_mir_build/hair/constant.rs:60: impossible case reached"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

The error happens on `nightly` and `beta`, but not on `stable`.

<details>
<summary>Nightly backtrace</summary>

[code]

</details>

[2020-02-20 13:10] pnkfelix commented on #69310
triage: P-high, assigning to self.

[2020-02-20 13:17] pnkfelix commented on #69307
T-compiler triage: P-high. Leaving nomination label in place, since I don't want to disrupt WG-async-await workflow.

[2020-02-20 13:18] Zoxc commented on #62649
`type_of` calls `tcx.hir().get(hir_id)` which uses the `hir_id` to select which dep node to read. If the HIR id refers to a HIR owner, like the trait method `Something::foo`, we read from `Hir(Something::foo)`, if it doesn't refer to a HIR owner, like the struct field `Something::foo`, then we read from the parent HIR owner, which will be `Hir(Something)`.

In `rpass1`, `type_of(Something::foo)` w

[2020-02-20 13:25] pnkfelix commented on #69306
To be 100% clear here: I believe what @petrochenkov is saying is that the compiler has a bug, and that the bug is that the code

[code]

should be treated as a short-hand for:

[code]

and thus should be yielding the same error that one sees for the `_Foo` cases in the code from the description.

However, the `_Bar::_map` code is not yielding an error at all.

[2020-02-20 13:29] pnkfelix commented on #69306
T-compiler triage: leaving nominated for T-lang. Tagging as P-high priority to resolve whether the semantics described by @petrochenkov is indeed what we want, and if so, how to address deploying a breaking-change to fix it.

[2020-02-20 13:32] pnkfelix commented on #69296
triage: P-high. Removing nomination. Assigning to self.

[2020-02-20 13:35] pnkfelix commented on #69286
triage: P-medium. Removing nomination.

[2020-02-20 13:39] pnkfelix commented on #69239
@jonas-schievink : I was under impression that the F-* flags were reserved for bugs that *required* (in actuality, not solely according to our current specification/desired behavior) the feature flag to occur? I.e. ones that hypothetically could be deprioritized on that basis?

Do I have an incorrect impression.

[2020-02-20 13:42] jonas-schievink commented on #69239
Hmm, to my knowledge we've usually applied them whenever the feature in question was involved. For things that only occur on nightly, we have the additional `requires-nightly` label.

[2020-02-20 13:42] pnkfelix commented on #69239
Oh, wait, it *does* print:

[code]

in the first diagnostic it prints.

@DutchGhost we don't print anything about `#!feature(flag)` on the stable or beta channels. That suggestion is only emitted on nightly channel.

[2020-02-20 13:56] pnkfelix commented on #69239
okay thanks; I indeed had the wrong impression.

[2020-02-20 13:58] pnkfelix commented on #69239
triage: P-medium, removing nomination label. Assigning to self. (Since this is leveraging a nightly-only feature, and we do emit the diagnostic saying so, this gets relatively lower priority.)

[2020-02-20 14:00] nagisa commented on #69304
Ah, I see why this is happening, now.

What we do is we run nightly `cargo clippy`, which, I presume, does add the `--extern proc_macro` but we compile actual code with plain rustc and we do not add the flag (yet). Hence the disconnect between what the lint is saying and the behaviour we are seeing when compiling code.

Closing as not-a-bug.

[2020-02-20 14:00] #69304 closed

[2020-02-20 14:10] pnkfelix commented on #69225
T-compiler triage: P-medium, based on following [summary](https://zulip-archive.rust-lang.org/131828tcompiler/77833premeetingtriage2020022054818.html#188639661) of situation:

[2020-02-20 14:16] pnkfelix commented on #69204
triage: P-high. Has PR. Removing nomination tag.

[2020-02-20 14:21] pnkfelix commented on #68855
T-compiler triage: P-medium. Leaving nomination tag on until we actually assign this to someone.

[2020-02-20 14:22] LeSeulArtichaut commented on #69307
This does already ICE on 1.39.0

[2020-02-20 14:27] kianenigma commented on #66140
Getting exact same linker error when compiling cargo-fuzz on latest macos.

[2020-02-20 14:28] pnkfelix commented on #69191
It would be good to continue the bisection into the rollup PR, among the following PRs:

 - #66463 (Point at opaque and closure type definitions in type errors)
 - #67501 (Reduce special treatment for zsts)
 - #67820 (Parse the syntax described in RFC 2632)
 - #67922 (rustc_ast_lowering: misc cleanup & rustc dep reductions)
 - #68071 (Extend support of `_` in type parameters)
 - #68073 (expect `fn

[2020-02-20 14:32] pnkfelix commented on #69191
triage: P-high, removing nomination, assigning to self.

[2020-02-20 14:35] pnkfelix commented on #69190
expected breakage.

I think the main work item here would be to make sure that the crate in question has a version people can upgrade to, so that they can at least address this in response to the 1.42.0 release.

[2020-02-20 14:36] bstrie commented on #28046
Triage: no change with Rust 1.41:
[code]

[2020-02-20 14:37] michaelwoerister commented on #62649
Hm, I think I see what's going on now.

From that description it looks to me like #68289 does the correct thing here:

* In `rpass1` we register a dependency on `Hir(Something::foo)`.
* In `rpass2`, where `Something::foo` is not a standalone item anymore, we
  * don't allocate a `DepNode` for `Hir(Something::foo)` (because `Something::foo` has been removed as far as dep-tracking is concerned), and

[2020-02-20 14:38] pnkfelix commented on #69190
triage: P-high to confirm that there is an upgrade path for piston2d-gfx_graphics (potentially a 0.27.1, or maybe just relying on their existing versions)

[2020-02-20 14:41] bstrie commented on #28994
Triage: no change as of Rust 1.41:
[code]

[2020-02-20 14:42] pnkfelix commented on #69197
nominating for discussion at meeting for prioritization.

[2020-02-20 14:45] pnkfelix commented on #68905
(nominating to try to ensure T-libs resolves this in some manner before this hits stable.)

[2020-02-20 14:53] sfackler commented on #68905
Even if we don't want to stabilize the intrinsics themselves for whatever reason, it seems fine to allow detection of avx512 support via the macro.

[2020-02-20 14:53] gwafotapa opened #69312 "ICE in constprop due to out of bounds access in a zero sized array"
Here's the crashing code I came down to:

- An empty `main.rs`
- `lib.rs` contains a single line: "pub mod matrix.rs"
- a file `matrix.rs` with the following code:

[code]

This happened as I permuted type and size in my array definition. My intention was not to declare a zero sized array but to declare an array filled with zeros. Anyway, the compiler crashed. I noticed that if I remove the `pub`

[2020-02-20 15:03] Centril commented on #69306
cc @eddyb

I thought we had fixed this bug in https://github.com/rust-lang/rust/pull/61896 (and to be clear, it's clearly a bug (as noted by @petrochenkov in https://github.com/rust-lang/rust/issues/69306#issuecomment-588632867). It should not compile.

[2020-02-20 15:09] Mark-Simulacrum commented on #68905
Could someone on T-libs fcp a stabilization for the following x86 features, which have been destabilized in nightly:

* mmx
* sse4a
* avx512f
* avx512cd
* avx512er
* avx512pf
* avx512bw
* avx512dq
* avx512vl
* avx512ifma
* avx512vbmi
* avx512vpopcntdq
* tbm

https://doc.rust-lang.org/nightly/std/macro.is_x86_feature_detected.html#supported-arguments

Once we get the ball rolling on that, I can wor

[2020-02-20 15:10] Mark-Simulacrum commented on #68905
(Or, if we don't want to stabilize all of them, and want to say "oh well breaking change", then that would be helpful too).

[2020-02-20 15:10] bstrie commented on #28024
Triage: the given example properly fails to compile, giving:
[code]
...however, it fails to compile not because the compiler is detecting the invalid default, but because type defaults on functions are being phased out (#36887). Therefore we must ask whether or not it's possible to exhibit an unenforced type default using some other means.

My simple attempt to exhibit this bug without using funct

[2020-02-20 15:10] #28024 closed

[2020-02-20 15:12] Amanieu commented on #68905
Also see #60109: there was an approved FCP to stabilize adx, tbm and sse4a but it got closed because the PR author was inactive.

[2020-02-20 15:19] Centril commented on #69306
Just  to simplify a bit (still passes but shouldn't):
[code]

[2020-02-20 15:24] hsivonen opened #69313 "ICE with rustc claiming non-constant shuffle indices when they are constant (block.rs:622)"
### Code

[code]

With

[code]

in Cargo.toml

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Additional Info

Compiler rustc 1.43.0-nightly (5e7af4669 2020-02-16) worked.

[2020-02-20 15:25] nkbai opened #69314 "Wrong compiler error description"
I tried this code:

[code]

I expected to  report error on function `f2` only,
[code]
Instead, it has error following:
[code]
there should be no error E0597.

you  can test on [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f4fc8c9feb924f9344e48564a88eec5d)

### Meta

`rustc --version --verbose`:
[code]

[2020-02-20 15:27] #54890 closed

[2020-02-20 15:27] #69261 closed

[2020-02-20 15:27] bstrie commented on #13926
Here's the generated LLVM IR as of Rust 1.41:
[code]
I'm no expert, but I note that the branch is in fact now gone, however we're still doing a comparison against the input parameter and passing the result of the comparison to `llvm.assume`; I have no idea what that does, but the fact that the function is also marked `nounwind` would seem to confirm that rustc knows that this can't ever fail.

[2020-02-20 15:29] nkbai commented on #69314
error description is right on stable and beta version.

[2020-02-20 15:41] eddyb commented on #69306
Just checked on godbolt and it seems to compile in every stable release since it was stabilized (`1.32.0`). I haven't looked into the code again, but I don't really understand how #61896 didn't cover this. Did we forget to add a test with errors, and only tried to prevent ICEs, or something?

[2020-02-20 15:45] alexcrichton opened #69315 "Visibility tokens on types in `extern { ... }` blocks are no longer given to procedural macros"
I had https://github.com/rustwasm/wasm-bindgen/issues/2009 opened up on a project recently but this looks to be a regression I think. This regressed between nightly-2020-02-19 and nightly-2020-02-20, and bisecting further by commit reveals https://github.com/rust-lang/rust/pull/69271 as the culprit. I'm not sure which of the PRs in that rollup though are the culprit here.

This can be reproduced b

[2020-02-20 15:51] Kumassy commented on #69307
I could further simplify the code as:

[code]
[Playgrond Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2b19b7ebd46dfc79cea81d2830e5513b)

[code]

[2020-02-20 15:53] Zoxc commented on #62649
No. Forcing/executing `type_of(Something::foo)` works fine in both `rpass1` and `rpass2`. This ICE happens in `try_mark_previous_green(Hir(Something::foo))`. When we call `try_mark_previous_green(Hir(Something::foo))` in `rpass2` the compiler is already in an invalid state. We're trying to mark a dep node which is not used or needed in `rpass2` as green. That must never happen.

If instead `type_o

[2020-02-20 15:54] Kumassy commented on #69307
However, this code does not cause ICE:

[code]

[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b7fd6bdc84f9a57f31e10ee4d03eddbd)

[2020-02-20 15:54] jplatte commented on #69225
Was the original commit cherry-picked? At least from @comex' comment that is not clear to me ("is included in the LLVM 9.0 branch Rust uses" could also mean it's just part of LLVM 9.0).

[2020-02-20 15:58] bstrie commented on #30083
Triage: `time-passes` no longer has a step named `translation` as in the original issue, but as of Rust 1.43 the RSS peaks at 322 MB during the following phases:
[code]
That said, I think this issue could use a better title, because I would intuitively expect a large static array to use at least a linear-ish amount of memory when compiling. What is the specific issue that we should address? (eddyb

[2020-02-20 16:03] pnkfelix commented on #69197
[discussed](https://zulip-archive.rust-lang.org/131828tcompiler/74090weeklymeeting2020022054818.html#188650785) at T-compiler meeting. P-high. Removing nomination.

[2020-02-20 16:06] tspiteri opened #69316 "Feature request: From<&[T]> for NonNull<T>"
While `NonNull<T>` implements `From<&T>`, it does not implement `From<&[T]>`. Current options:

1. Use `NonNull::new(slice.as_ptr() as *mut T).unwrap()`, and rely on the optimizer to remove the unwrap.
2. Use `unsafe { NonNull::new_unchecked(slice.as_ptr() as *mut T) }`, which is correct but unfortunately has to use `unsafe`.
3. It is tempting to use `NonNull::from(&slice[0])`, which looks more er

[2020-02-20 16:08] eddyb commented on #30083
@bstrie "trans(lation)" is the old jargon for "codegen", maybe I should've retroactively replaced all of the mentions of it to avoid confusion.

<hr/>

RLE means ["Run-length encoding"](https://en.wikipedia.org/wiki/Run-length_encoding), one of the common primitives of compression algorithms.

In this specific case, LLVM could represent constant blocks of data as N repeats of (smaller) block, whic

[2020-02-20 16:09] jonas-schievink commented on #69316
It implements `<'a, T: ?Sized> From<&'a T>`, so this should already work, right?

[2020-02-20 16:26] tspiteri commented on #69316
But `NonNull::from(slice)` returns `NonNull<[T]>`, it does not return `NonNull<T>`. By comparison, `slice::as_ptr` returns `*const T`, not `*const [T]`.

[2020-02-20 16:37] hsivonen commented on #69313
@skinny121, could this result from your recent changes to various const things? (cc @gnzlbg)

[2020-02-20 16:40] jonas-schievink commented on #69316
Ah, I see

[2020-02-20 16:41] michaelwoerister commented on #62649
I wouldn't call that an invalid state. The previous dep-graph is expected to contain nodes that don't exist in the current context anymore; it's how we deal with removed items. Failing to mark such removed dependencies as green is a way of handling this appropriately -- except that that strategy fails when query key reconstruction accidentally succeeds because of `DefPathHash` overlaps, as demonst

[2020-02-20 16:48] lopopolo opened #69318 "Workspace binary artifacts are added to target/debug/deps on Windows which breaks build script"
I am building a workspace. One crate in the workspace produces a `ruby` binary. Another crate has a build script that does a `std::process::Command` subprocess with the `ruby` binary (expected to be system Ruby). `target/debug/deps` is prepended to the PATH for build scripts on Windows.

I expected to see this happen: On mac and linux, binaries produced by the workspace end up only in `target/debu

[2020-02-20 17:09] CAD97 commented on #48852
Bumping this, as it's relevant to [this recent Twitter poll](https://twitter.com/CAD97_/status/1230002045903671298). (See also https://github.com/rust-lang/rust-clippy/issues/5205, https://github.com/rust-lang/rust-clippy/issues/5206.)

When the path statement invokes a move, this lint is plain wrong; as the value has been moved, the old binding is no longer usable. When this move invokes drop glu

[2020-02-20 17:20] eddyb commented on #68817
@hanna-kruppe pointed me to https://lists.llvm.org/pipermail/llvm-dev/2020-February/139376.html, which looks really promising (even if it doesn't solve everything, it's a step in the right direction).

Also, something in there that peaked my attention was:

This is exciting, because the lack of conditional branching makes fragmenting `enum`s variables that have debuginfo attached to them impossibl

[2020-02-20 17:24] Centril commented on #65490
- On 2020-20-19, https://github.com/rust-lang/rust/pull/69236 landed. The PR was written by @Centril and reviewed by @estebank. The PR adjusted the parser changes in https://github.com/rust-lang/rust/pull/68992 to retain good error messages on e.g. `mut (x @ y)` patterns, suggesting `mut x @ mut y` as opposed to `mut x @ y`.

[2020-02-20 17:24] Hirrolot opened #69320 "Internal compiler error"
<details>
<summary>Show the backtrace</summary>

[code]

</details>

Absolutely no idea how to make MRE, the code is quite big and generic. This occurred when trying to cargo clippy https://github.com/teloxide/teloxide/tree/dev on the latest nightly.

[2020-02-20 17:31] LeSeulArtichaut commented on #69307
https://github.com/rust-lang/rust/blob/93711d063b2e369d7095ddd4c76c33c886411730/src/librustc_passes/region.rs#L288-L291

Can this explain the ICE? I'll continue to investigate through the source code

[2020-02-20 17:40] pnkfelix opened #69321 "release notes could list future-incompat lints that have become hard errors"
recent [discussion](https://zulip-archive.rust-lang.org/131828tcompiler/77833premeetingtriage2020022054818.html#188656730) with @spastorino and @Centril led me to the following observations:

 * generally the PR's that upgrade future-compat lints to hard errors are not tagged with `relnotes` label
 * users might like a heads up about such changes. such documentation would give us a central place t

[2020-02-20 17:49] WaffleLapkin opened #69322 "Not helpful error when trying to implement `Mul` in generic code"
unhelpful error:

[code]
Code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f1d68ea6c619238f697091f0f11e51f0))

<details><summary>Code (spoiler)</summary>
<p>

[code]

</p>
</details>

I've found this error while I was writing some complicated code using `typenum` so code is also complicated. Not sure how to make MRE simpler at the moment.

### Meta

`rustc

[2020-02-20 17:59] CAD97 commented on #63063
Is the current unavailability of "partial existential" (example: `type Chained<A, Item> = Chain<A, impl Iterator<Item=Item>>;`) a limitation of the current implementation or a design point? This is possible with RPIT.

[2020-02-20 17:59] dfyz commented on #69225
The commit in question is a very local and small [change](https://reviews.llvm.org/D64868) that adds a single parameter to a function call and literally says `it is safe [in this case] to add SCEV::FlagNSW` (and judging from the code, the new parameter can also be `SCEV::FlagNUW`), so I think it's highly likely this is exactly what causes the misoptimization. I can confirm that removing this param

[2020-02-20 18:06] nikic commented on #69225
FWIW I can confirm that https://github.com/llvm/llvm-project/commit/58e8c793d0e43150a6452e971a32d7407a8a7401 is safe to cherry-pick, it's a conservative change. See also https://lists.llvm.org/pipermail/llvm-dev/2019-September/135195.html if you're interested in more context regarding what the issue with SCEV nowrap flags is.

[2020-02-20 18:08] CAD97 opened #69323 "Support for partial existentials in TAIT"
[[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f1faf43935fce3efb6f8390c574ee41c) ([Tracking issue](https://github.com/rust-lang/rust/issues/63063#issue-473710023))

With RPIT, it is possible to create a "partial existential":

[code]

With TAIT, however, this currently produces an error:

[code]

This should probably be possible, both for concept parity for

[2020-02-20 18:25] Centril commented on #69320
cc @tmandry @Zoxc @rust-lang/clippy

[2020-02-20 18:26] Mark-Simulacrum commented on #69321
I'll leave this open, but I believe that we basically just need T-compiler/lang to tag such PRs and that'll make them get included in @XAMPPRocky's input lists for release notes.

[2020-02-20 18:26] jonas-schievink commented on #69320
Interesting backtrace parts:

[code]

[2020-02-20 18:28] retep998 commented on #39016
@nox That is specifically for the gcc linker flavor, so `-gnu` targets only, where the debug CRT isn't a thing anyway. For `-msvc` where this matters we already have dynamic CRT selection through the `libc` crate. It just has to be expanded to also handle the option of debug vs non-debug CRT and ditto for the CRT target feature in rustc for it.

[2020-02-20 18:30] Centril commented on #69312
cc @wesleywiser @oli-obk

[2020-02-20 18:32] jonas-schievink commented on #69320
Does not happen on nightly-2020-01-27, so might be caused by one of my PRs

[2020-02-20 18:32] oli-obk commented on #69312
cc @RalfJung did the value visitor changes get merged?

[2020-02-20 18:39] jonas-schievink commented on #69320
Actually https://github.com/rust-lang/rust-clippy/pull/5181 looks like a more likely candidate. cc @daxpedda

[2020-02-20 18:41] jonas-schievink commented on #69320
Does not happen on nightly-2020-02-17, so that confirms rust-lang/rust-clippy#5181 as the most likely candidate

[2020-02-20 18:42] flip1995 commented on #69320
Yes, this happens, because of the [`GeneratorSubsts::return_ty`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.GeneratorSubsts.html#method.return_ty) call here:
https://github.com/rust-lang/rust-clippy/blob/8daeee5533418901d26a64896854570e9f0e8493/clippy_lints/src/doc.rs#L238

[2020-02-20 18:47] flip1995 commented on #69320
I think this issue should be moved to the Clippy repo.

[2020-02-20 18:48] RalfJung commented on #69312
@oli-obk  https://github.com/rust-lang/rust/pull/69257 is still waiting for review if that's the one you mean.

[2020-02-20 18:50] RalfJung commented on #69312
The ICE seems to be [gone on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=850991cefb8b838cc6a0374df5414ce3), though. So likely just needs a test?

[2020-02-20 18:56] flip1995 commented on #69320
This function trips up Clippy:
https://github.com/teloxide/teloxide/blob/1e559d7ddbdb21f2d544c441579b8aa62b401caa/src/dispatching/dispatcher.rs#L218-L228

[2020-02-20 19:12] tspiteri commented on #63569
I've just submitted PR #69319 to implement `From<&[T]>` for `NonNull<T>`, but what would also be useful to me is `<From<&[MaybeUninit<T>]>>` for `NonNull<T>`. That could even be a substitute for `MaybeUninit::first_ptr_mut`: something like `NonNull::<T>::from(slice_of_uninit).as_ptr()`. It wouldn't be a substitute for `MaybeUninit::first_ptr`, but I think that method seems less useful: when I want

[2020-02-20 19:14] Centril commented on #69312
@RalfJung Maybe we should also find the PR that fixed this and beta nominate?

[2020-02-20 19:15] petrochenkov commented on #69053
Hmm, `rustc_span` should be the common denominator.
It can be a method on `Symbol`.
It should include something like "guess" in its name since it's an approximation.

[2020-02-20 19:16] #69114 closed

[2020-02-20 19:38] bstrie commented on #30262
Triage: Huon's condensed reproduction above now hits different errors before it can exhibit the bug, here's an updated reproduction:
[code]
<details><summary>Click to expand the full error, included in case it helps with diagnosis.</summary>
<p>

[code]

</p>
</details>

[2020-02-20 19:41] petrochenkov commented on #69315
The large parser PR from @Centril (https://github.com/rust-lang/rust/pull/69194) could also cause something like this.

[2020-02-20 19:43] petrochenkov commented on #69315
I'll be able to look at this during the weekend, but it would be great if someone could come up with a minimal reproduction before that.

[2020-02-20 19:50] naim94a commented on #69283
Documenting requirements for `Box::from_raw` are probably more important. I don't think users would need to inspect the return value from a `Box::new`.

We need to know the requirements for the address provided to `Box::from_raw` have to be aligned.
Is this valid? Is the pointer ignored? (It seems that it is...)
[code]

[2020-02-20 20:00] bstrie commented on #30679
Triage: the original example still fails to compile as does durka's workaround (as anticipated), however I'll argue that the current intended way to address this is issue isn't especially onerous: change `($e:expr $b:block)` to `($e:expr, $b:block)` or `($e:expr; $b:block)` or `($e:expr => $b:block)`.

The alternative suggested above would be to add a new fragment specifier, but I allege that such

[2020-02-20 20:00] #30679 closed

[2020-02-20 20:08] bstrie commented on #30311
Triage: this is still relevant, although am I correct in thinking that this would be addressed once the Implied Bounds RFC (https://github.com/rust-lang/rust/issues/44491) is implemented?

[2020-02-20 20:13] jonas-schievink commented on #28784
parser-lalr has been removed in https://github.com/rust-lang/rust/pull/64896. Closing in favor of the work done by the grammar working group in https://github.com/rust-lang/wg-grammar/.

[2020-02-20 20:13] #28784 closed

[2020-02-20 20:24] pnkfelix commented on #69310
(This ended up being a great motivation for me to tie off some `cargo-bisect-rustc` work I've been doing...)

[2020-02-20 20:30] pnkfelix commented on #69310
ICE was introduced between nightly 2020-01-15 and 2010-01-16.

Here are the merges from that time period:

291ae33907f2a866ea6cea89113200555038d06 Auto merge of #68254 - Dylan-DPC:rollup-9vhc59u, r=Dylan-DPC
faf45c5dadc04e2ee2f2b772402321e621899641 Auto merge of #67603 - oli-obk:no_mut_static_ref_from_const, r=RalfJung
6d0bb91bcba33a70fae4b0c663fb4403ed78f071 Auto merge of #68248 - JohnTitor:rollu

[2020-02-20 20:32] pnkfelix commented on #69310
Okay `cargo-bisect-rustc` finished:

# Regression found in the compiler

searched nightlies: from nightly-2020-01-15 to nightly-2020-01-22
regressed nightly: nightly-2020-01-16
searched commits: from https://github.com/rust-lang/rust/commit/8a87b945b27b5670ac5ed665bbb0fccc1b88a0a0 to https://github.com/rust-lang/rust/commit/3291ae33907f2a866ea6cea89113200555038d06
regressed commit: https://github.

[2020-02-20 20:33] pnkfelix commented on #69310
Looks like the problem was injected by PR #68118

[2020-02-20 20:55] pnkfelix commented on #69310
reassigning to @Centril

[2020-02-20 20:56] Centril commented on #69310
The following also causes an ICE:

[code]

(Same reason, but different message.)

[2020-02-20 21:01] autumnjolitz opened #69327 "rustc 1.43.0-nightly (7760cd0fb 2020-02-19) static builds on alpine throw compiler error on building any orjson/maturin"
Rust compiler states this is a bug and should be reported, so I'm listening to the compiler 😂

I use orjson in an alpine environment for fast json parsing in python. Unfortunately, the latest release and its dependencies have learned how to provoke a bug in rustc! 😮

Output:

[code]

Here's how I caused it (I use osx as a main development machine so all my linux builds are through docker 🙃

Docker

[2020-02-20 21:13] hsolg commented on #43039
I installed Rust on a Windows 10 machine with no compilers or SDKs previously installed and I only needed these two components from the Visual Studio Build Tools installer:

* MSVC v142 - VS 2019 C++ x64/x86 build tools ...
* Windows 10 SDK (1.0.18362.0)

When I open a command prompt with "Visual Studio 2019" -> "x64 Native Tools Command Prompt" on the start menu, I can successfully build Rust app

[2020-02-20 21:25] ijl commented on #69327
This is a duplicate of #69313.

[2020-02-20 21:33] XAMPPRocky commented on #69321
They don't necessarily have to be tagged `relnotes` to end up in the Rust release notes, if there is already a label that uniquely identifies these issues and the changes are in are in before beta. I (or someone else if they're interested) can easily add them to the [`relnotes`](https://github.com/rust-lang/relnotes) tool.

[2020-02-20 21:36] Mark-Simulacrum commented on #69321
I believe there's no such unique tag today, and I would personally feel a lot better about centralizing into just one tag for ease of use :)

[2020-02-20 21:39] GinjaNinja32 opened #69328 "Link failure with 'undefined reference to [things in core/std/alloc]' between 1.37.0 and 1.41.0"
Project: https://github.com/GinjaNinja32/rustbot
I'll have a go at reducing this down, but I'm not sure how successful I'll be; a previous attempt to minimise a bug-inducing case with this project resulted in a test project which successfully demonstrated the same error I was trying to replicate... on a compiler version the original code worked fine on. My project might just be cursed.

Current ma

[2020-02-20 21:39] GinjaNinja32 commented on #67070
Rust 1.42 seems to fix this for my real project; the test project I linked above remains broken even on nightly 2020-02-19.

My real project now doesn't even *build* on 1.37-1.41 (see #69328), but it builds and runs fine on both 1.36 and 1.42.

[2020-02-20 21:39] ecstatic-morse commented on #69313
Likely fallout from #69280.

Ultimately, [these intrinsics](https://github.com/rust-lang/packed_simd/blob/db06803917291838d1d9fd9edb651c8413e5c210/src/codegen/llvm.rs#L13) need to be annotated with `#[rustc_args_required_const]`. I'll submit a fix over there. Since #69280 is just a cleanup PR, we should revert it until at least the next `packed_simd` release.

[2020-02-20 21:40] XAMPPRocky commented on #69321
@Mark-Simulacrum Well I use multiple labels to separate out all the issues in my draft and use `relnotes` as a priority list of those specific changes. e.g.
[code]

So if there was a tag it would be helpful and make *my* life easier, but if not it's not a big deal.

[2020-02-20 21:41] Mark-Simulacrum commented on #69321
Ah, I was unaware! I think adding a C-future-incompatibility tag to such PRs would work well. Not technically exactly what that label usually means but that's okay. cc @Centril because you're involved in most (all?) of those PRs.