[2020-05-25 00:08] hiro4bbh-ntt opened #72554 "Assertion failed in erroneous recursive types with methods returning a `impl Trait` type"
## Summary
- erroneous recursive types (without being wrapped with `Box<_>`) having methods whose return type is `impl Trait` causes the assertion failure.

## I tried this code:

[code]

## I expected to see this happen:
- I expected the error message "recursive type `ElemDerived` has infinite size."
- Indeed, if there is no method with return type `impl Trait`, we got the following normal error

[2020-05-25 01:00] Y0ba commented on #10389
I hit this bug when tried to create type map (`HashMap<TypeId, _>`) to store global data for some types. Since static variables with generic parameters from outer functions are not allowed (this pattern was used in previous version of app written in C#) type map was the only option. Types were auto-generated from existing Protobuf-files and there were few hundreds of them. Thankfully I was able to

[2020-05-25 01:58] KodrAus commented on #53485
@petrochenkov I guess to align with `.binary_search()` in that case those underlying methods could return a `Result<(), usize>`, with `is_sorted` effectively becoming a call to `.sorting().ok()`?

[2020-05-25 02:00] withoutboats commented on #10389
Probably the best approach to your problem would have been to generate a separate static for each type, rather than generating a type map. A type map only really makes sense when the set of types in it can only be determined at runtime.

Do you know how many *types* were generated as part of this process? You say "few hundred" but I assume you mean protobuf files; the chance of a collision in a ma

[2020-05-25 02:33] KodrAus commented on #53485
I’m wondering whether there’s a return for the sorting methods returning an index that’s intuitive enough to make the ones returning a `bool` unnecessary.

[2020-05-25 02:37] jhpratt opened #72558 "Slicing after `str::starts_with` performs unnecessary checks"
Without unsafe ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=46367ccb1081dd81d8b1fa36d053922d))

[code]

With unsafe ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=53c10732399bd715b1b3d63b85e1488b))

[code]

I'm not terribly familiar with assembly, but the compiler is clearly performing checks where they aren't nece

[2020-05-25 02:42] Y0ba commented on #10389
That's what I had in C#, and at first tried in Rust something like this:
[code]
but it doesn't work. Type map was a nice solution without additional codegen. But at the end I did just like you said - forked protobuf compiler and added separate static for each type in generated files.

Probably around 400. In protobuf-file there were way more, but in type map I used only a small subset of them.

In

[2020-05-25 03:09] JohnTitor commented on #72550
Assigning `P-medium` [as discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372550.20macOS.20symbolication.20failure).

[2020-05-25 03:54] golddranks commented on #69869
@ehuss On stdlib. `--exclude` helped, and now I feel stupid for not finding it myself :D Thanks.

[2020-05-25 04:50] Aaron1011 commented on #43081
With https://github.com/rust-lang/rust/pull/72287, https://github.com/rust-lang/rust/pull/72393, https://github.com/rust-lang/rust/pull/72388, and https://github.com/rust-lang/rust/pull/72306 merged, we should be hitting this issuse much less frequently.

[2020-05-25 05:00] Aaron1011 commented on #59013
@nox: Is there an easy way to reproduce this?

[2020-05-25 05:49] petrochenkov commented on #43081
@Aaron1011
Optimization idea - https://github.com/rust-lang/rust/pull/72287 collects tokens only for expressions with attributes and it resulted in speedups, same can be done for items (which are currently collecting tokens unconditionally).

[2020-05-25 05:56] JohnTitor commented on #72554
@rustbot glacier https://gist.github.com/e9a2a667c7f9015fdf681a7e6a542d63

[2020-05-25 05:59] JohnTitor commented on #72554
@rustbot glacier https://gist.github.com/rust-play/e9a2a667c7f9015fdf681a7e6a542d63

[2020-05-25 06:04] JohnTitor commented on #72554
@rustbot glacier "https://gist.github.com/rust-play/e9a2a667c7f9015fdf681a7e6a542d63"

[2020-05-25 06:05] JohnTitor commented on #72554
Oh, we must have enabled this... Sorry for the noise!

[2020-05-25 06:05] cwfitzgerald commented on #70086
My personal two cents are that both should be included, as even if `zip_with`'s use may be a bit more rare, I think the pattern of `(Option, Option) -> Option<Something>` is common enough, and the terseness win is great enough that it should be kept.

[2020-05-25 06:17] #72387 closed

[2020-05-25 06:22] CAD97 commented on #58957
What is the status of this? Is anything required for stabilization other than someone to propose stabilization, make a stabilization PR, and FCP?

In rowan, rust-analyzer's syntax tree backend, [we're currently trying](https://github.com/rust-analyzer/rowan/pull/59) to remove unneeded allocations from syntax node cache hits. A simple patch that just does so via an arrayvec already sees a 5% improv

[2020-05-25 06:48] RalfJung commented on #72105
That's a bit hard to tell based on a backtrace without line numbers.

But with my patch, there is no more `unwrap_memory` in that entire file, so I'd say -- probably.

There's still an `unwrap_fn` though, so I suspect there are still ICEs when a function pointer points to a non-function...

[2020-05-25 06:53] RalfJung commented on #72105
Btw it would be great if someone could review that PR. :)  Looks like @oli-obk is pretty busy.

[2020-05-25 06:57] RalfJung commented on #72515
Ah I didn't know this; this should also be reflected in the docs for `TerminatorKind::Return`.

[2020-05-25 07:58] ratijas commented on #72523
What do you mean?

[2020-05-25 07:58] mati865 commented on #72523
That would break building inside MSYS2 (and maybe Git for Windows) shell.

Maybe it doesn't like the alias?

What do you mean? Runinng `python3 x.py` does nothing?

[2020-05-25 08:02] nox commented on #59013
No.

[2020-05-25 08:23] xliiv commented on #43466
Perhaps this is fixed now, see
* issue: https://github.com/rust-lang/rust/issues/70802
* MR: https://github.com/rust-lang/rust/pull/71289

If not please. please provide a minimal example for it to clarify it.

[2020-05-25 08:46] Nemo157 commented on #71640
Dup of https://github.com/rust-lang/rust/issues/53038 and https://github.com/rust-lang/rust/issues/26207

[2020-05-25 09:38] RalfJung commented on #72515
I don't think I understand what this name means.  What would be the doc comment that goes with it?

[2020-05-25 09:51] bjorn3 opened #72564 "Can't link to rustc_driver with latest nightly"
I tried this code:

[code]

I expected to see this happen: Compiles fine.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-05-25 10:07] jonas-schievink commented on #72564
Presumably expected breakage due to https://github.com/rust-lang/rust/pull/72000?

[2020-05-25 10:16] bjorn3 commented on #72564
and rustc-dev will have an implicit dependency on it.

That implicit dependency seems to be missing.

[2020-05-25 10:19] jonas-schievink commented on #72564
Looks like it was dropped https://github.com/rust-lang/rust/pull/72000#issuecomment-630922118

[2020-05-25 10:23] lcnr opened #72565 "ICE when pattern matching on `&dyn PartialEq`."
[code]
causes an ICE on the current nightly
[code]

Afaik this is caused by `ty_is_partial_eq` being slightly too permissive
https://github.com/rust-lang/rust/blob/997d953eeec0be62c59ea028c95cd7be49adf58f/src/librustc_mir_build/hair/pattern/const_to_pat.rs#L143-L157

See https://github.com/rust-lang/rust/pull/71038#discussion_r407168949 for more details.

[2020-05-25 10:25] Mark-Simulacrum commented on #72564
Yes, closing as expected breakage. If llvm-tools-preview doesn't work for you, we can reopen.

The dependency is implicit, i.e. you need to manage it yourself, as rustup doesn't currently support dependencies.

[2020-05-25 10:25] #72564 closed

[2020-05-25 10:27] oli-obk commented on #52000
Hi @rust-lang/lang

I want to propose to stabilize this at the same time as `const_if_match` (which has already been marked for stabilization). The reason I want to do both at the same time is to prevent users from resorting to recursion when a simple loop would have been sufficient. A few demos of iterative vs recursive in const fn with just if and loop and no other features:

* fibonacci: https:

[2020-05-25 10:44] BartMassey opened #72566 "rustdoc whitespace issue for nested lists"
Putting the following as `src/lib.rs` and running `cargo doc --open`

[code]

produces this render

![incorrect render](https://user-images.githubusercontent.com/117151/82805909-a5310880-9e39-11ea-9ed3-28c8d9d1f76f.png)

while this input

[code]

produces this render

![correct render](https://user-images.githubusercontent.com/117151/82805972-c09c1380-9e39-11ea-93d4-eb8f9bd25d8d.png)

The differen

[2020-05-25 10:44] withoutboats commented on #10389
You can't have generic statics but you can generate a static of a different type for each type, and then associate the static with the type using a static method on a trait.

So I believe the upper limit on a 64 bit hash would give a probability of this occurring at less than 1 in 8.3 million (512 out of 2^32). Obviously SipHash is not designed to be collision resistant and the probability is grea

[2020-05-25 12:19] Kixiron commented on #72523
`python3` and `py` are unbound on my system

[2020-05-25 12:20] JohnTitor commented on #70121
The ICE no longer happens with the latest nightly (note that the playground's nightly isn't the latest). That `delay_span_bug` was removed by #72362. Marked as E-needs-test.

[2020-05-25 12:25] JohnTitor commented on #68532
The ICE no longer happens with the latest nightly (note that the playground's nightly isn't the latest). That `delay_span_bug` was removed by #72362. Marked as E-needs-test.

[2020-05-25 12:33] JohnTitor commented on #56445
Triage: [This ICE](https://github.com/rust-lang/rust/issues/56445#issuecomment-629426939) is now fixed in the latest nightly (rustc 1.45.0-nightly (46e85b432 2020-05-24)) (fixed by #72362).

[2020-05-25 12:43] ayushmishra2005 commented on #72566
@BartMassey
I tried both inputs. I am getting same output. Please let me know if I am missing something.
![image](https://user-images.githubusercontent.com/1575561/82813772-60e24e80-9eb3-11ea-8cfd-d2a6d145ebeb.png)

[2020-05-25 13:04] lzutao opened #72570 "ICE when compiling assembly has invalid registers"
### Code

The example is taken from <https://github.com/rust-lang/blog.rust-lang.org/pull/600>.

[code]

### Meta

`rustc --version --verbose`: rustc 1.45.0-nightly (46e85b432 2020-05-24) running on x86_64-unknown-linux-gnu

### Error output

Run: `cargo build --target=aarch64-unknown-linux-gnu`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-25 13:35] chrissimpkins commented on #72373
Format and help message revised to:

[code]

[2020-05-25 13:39] VShell opened #72573 "StableHasher ICE in nightly-2020-05-17"
I cannot currently create a reproducible example of this. This ICE was introduced between nightly-2020-05-16 and nightly-2020-05-17, and exists through to (current) nightly-2020-05-25.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-25 14:01] ehuss commented on #72566
I'm able to reproduce. @ayushmishra2005, make sure you are preserving the trailing whitespace.

Passing the following Rust string into pulldown-cmark results in the same behavior.
[code]

I would say this is probably an issue for [pulldown-cmark](https://github.com/raphlinus/pulldown-cmark/issues). The commonmark dingus doesn't seem to behave the same.

Regardless, one should be careful with trail

[2020-05-25 14:15] tarcieri commented on #10389
From the SipHash paper, the major concerns around collision resistance are the small output size and correspondingly small birthday bound as you noted:

https://www.131002.net/siphash/siphash.pdf

The paper further notes:

(this is due to the small output size)

[2020-05-25 14:37] icefoxen commented on #10389
@Y0ba Wooooah, you hit the like... 1 in 10 million(?) chance of this happening. Congrats! 😁

[2020-05-25 14:44] lzybkr commented on #72475
Would it make sense for rustdoc to add a command line parameter `--repository` so cargo can pass the link?

[2020-05-25 14:52] Kixiron commented on #72523
After a little investigation, it seems that `#! /usr/bin/env python` is infinitely recursing!

[2020-05-25 14:57] withoutboats commented on #10389
@tarcieri Yea, but I suspected that the collision resistance may be substantially lower (because it's not a priority), since a collision in less than 500 hashes seems surprising otherwise. The paper doesn't discuss collision resistance in any real length since even a perfect 64 bit hash would not be sufficiently resistant and its not a concern. Do you know any further information?

[2020-05-25 15:10] tmiasko commented on #72550
After reviewing changes to libbacktrace: the new implementation of Mach-O makes
no attempt to handle the case where an executable is renamed. The previous one
was more robust in that respect.

[2020-05-25 15:12] Amanieu commented on #72570
Minimal reproduction:

[code]

[2020-05-25 15:23] PurpleMyst commented on #62543
What's blocking this from stabilization?

[2020-05-25 15:28] chrissimpkins opened #72574 "Diagnostics for `@ ..` idiom use in tuple and tuple struct patterns is incorrect"
@estebank and I are working on diagnostics for the `@ ..` rest idiom in slice patterns (#72534) and came across this issue when an attempt is made to use it in tuples and tuple structs.

IIUC, this is allowed:

#### tuple ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fd26ccb092664465d57a0da45e4b51a3))

[code]

#### tuple struct ([playground](https://play.ru

[2020-05-25 15:42] ratijas commented on #72523
So, ultimately, it's a problem with your setup, and not in x.py or rust itself?

[2020-05-25 16:09] Kixiron commented on #72523
I guess so, closing for that reason

[2020-05-25 16:09] #72523 closed

[2020-05-25 16:23] Walther opened #72576 "net::tcp::tests::double_bind panics in ./x.py test"
On the `rust` master branch, `git show`
[code]

Running on a Debian in WSL on Windows 10. `uname -a`
[code]

Running `./x.py test` results in a panic & failure. Error snippet:

[code]

[2020-05-25 16:26] Walther commented on #72576
Duplicate of https://github.com/rust-lang/rust/pull/58551 and https://github.com/rust-lang/rust/issues/49367

Sorry, only found those after creating this issue 🙈

[2020-05-25 16:26] #72576 closed

[2020-05-25 16:29] ecstatic-morse commented on #72515
`promoted_mir` doesn't do promotion (I believe that happens in `mir_validated`?). It steals the promoted MIR and optimizes it.

[2020-05-25 16:34] RalfJung commented on #72515
Why does it need to be a separate query?

[2020-05-25 17:03] o0Ignition0o opened #72577 "Recursive function call generates confusing overflow message"
error[E0275]: overflow evaluating the requirement `&mut bytes::bytes_mut::BytesMut: bytes::buf::buf_impl::Buf`

Here's a link to the playground : https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e0d226183c371b79d9a234ccebdeafd0

I tried this code:

[code]

I expected to see this happen: Nothing really, but I would love to see an error message that would help me out here ^^.

[2020-05-25 17:34] Aaron1011 commented on #72577
@o0Ignition0o: You can make this compile by changing `get_value(&mut buf)` to `get_value(buf)` - note that this will cause infinite recursion at runtime if `buf.has_remaining() == false`

Minimized:

[code]

Trying to monomorphize `do_more::<B>` causes us to recursively monomorphize `do_more::<&mut B>`, which will eventually hit the recursion limit.

We should be able to detect this kind of recurs

[2020-05-25 17:46] o0Ignition0o commented on #72577
Oh thanks a lot! So long story short I should try to avoid recursion in this kind of scenario ? (the real life use case is a bit more complicated, but i was willing about to use recursion to solve it ^^')

thanks agian :D

[2020-05-25 18:07] JohnTitor commented on #72470
With some bisection, I think this caused by #71840, cc @matthewjasper

[2020-05-25 18:12] pietroalbini opened #72579 ""automatic va_arg instruction only works on Darwin" when running AArch64 tests"
When running the rustc test suite on AArch64, the `ui/abi/variadic-ffi.rs` test fails due to the following LLVM assertion:

[code]

[2020-05-25 18:48] the8472 commented on #72558
Assuming you don't need a &str pointing into the original string you could you could use [strip_prefix](https://doc.rust-lang.org/std/primitive.str.html#method.strip_prefix) once it becomes stable. And for now split_at could at least offer one less bound check.

[2020-05-25 18:54] jhpratt commented on #72558
I don't strictly need the returned value to be a slice of the original, but I tested it and it generated slightly less assembly.

I just created this issue because the bounds & Unicode boundary checks aren't necessary, given we already know the partial contents. I presume this would be an optimization done in MIR.

[2020-05-25 19:20] tavianator opened #72582 "Order matters when resolving supertrait"
This code:

[code]

gives this [error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5ecb30b17d55152971227f7ec8e3c5d2):

[code]

which indicates that only the `PartialOrd<i32>` impl is being considered.  It seems like the only way to fix it at the usage site is something like

[code]

On the other hand, just swapping the order of the supertraits [fixes](https://play.rust-

[2020-05-25 19:53] WaffleLapkin commented on #70086
Yeah, I've just found the same thing. E.g.:
[code]
I think in this example `zip_with` is nicer/clearer than `zip`+`map`

[2020-05-25 20:19] BartMassey commented on #72566
@ehuss Thanks!

A single trailing whitespace shouldn't have any semantic meaning in Markdown. In any case, the comment-stripping code should maybe eat it.

Do you want to report the bug against `pulldown-cmark` or shall I?

[2020-05-25 20:25] jhpratt commented on #72545
In case anyone is running into this here and not on the time-rs/time repo, **please run `cargo update -p proc-macro-hack`**. This will pull in the newer upstream version that fixes this.

[2020-05-25 20:30] ehuss commented on #72566
Ah, indeed, it is two spaces, I forgot.

Go ahead!

[2020-05-25 20:33] stjepang commented on #35836
I wanted a simple mutex that is faster than `std::sync::Mutex` but didn't want to pull in the whole parking_lot dependency so I wrote this crate: https://github.com/stjepang/simple-mutex

The implementation is fairly simple (it should be reviewable at least). Not quite as efficient as parking_lot but still better than std. The overhead is two words + something allocated on the heap on first case o

[2020-05-25 20:37] golddranks commented on #51999
About the first unsolved question: "Or do we just produce the exact message the panic would produce?" I wonder if there's some intention there that panics could be used for bona fide custom-made error messages, and that's why there would be motivation to produce "just the exact message"? As for that, I don't think we should mix and use messages that might have originally meant for run-time error m

[2020-05-25 20:40] golddranks commented on #51999
As for the documentation: I noticed that mentions about `const fn`s are entirely missing from the Reference, which seems to be the relevant place of documentation for feature like this. Have the earlier stabilization PR's been neglecting updating it, or maybe there is so much churn around const fn feature that it makes sense to update it in one go?

[2020-05-25 20:54] #66898 closed

[2020-05-25 21:10] jhpratt commented on #65807
Anything holding up stabilization on this? I'd like to be able to use this to check if two slices overlap, as pointers implement `Ord`. It seems like a simple API that doesn't have a ton of complexity to it.

[2020-05-25 21:16] tarcieri commented on #10389
If I'm reading the birthday table correctly, 500 hashes colliding within a 64-bit hash space should have a probability around 10^-14, so that suggests something else is wrong.

SipHash is allegedly a secure PRF and therefore has uniformly random outputs, so I doubt it's something wrong with the algorithm.

[2020-05-25 21:41] workingjubilee commented on #64260
I was hand-rolling this pattern in code yesterday.

I don't believe bool should necessarily have a 1 to 1 parity in names and methods with Option or Result, and I think that if `map` appears on things that aren't already "wrapping" types (iterators or options), it could just be confusing. But I agree with `and_then` existing and carrying an equivalent signature to Option's version, partly because

[2020-05-25 21:50] Aaron1011 opened #72587 "`unused-lifetimes` lint duplicates "parameter is never used" error"
The following code:

[code]

gives the following output:

[code]

The "unused lifetimes" warning is redundant - not using a lifetime parameter is a hard error, so the warning gives no additional information.

[2020-05-25 22:03] euclio opened #72590 "Unhelpful error message for async method on invalid type"
I tried this code:

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8a6734959a79846e77ccb68259b12f4d)

[code]

I expected to see this happen: resolution error reported for `Nonexistent` type.

Instead, this happened: In addition to the resolution error, the compiler emitted errors complaining that it couldn't determine the size of `Foo`. That error is also emi

[2020-05-25 22:34] joshtriplett commented on #52000
Seems good to me! Thanks for nominating; we should discuss this in the next lang team triage meeting. @ecstatic-morse, do you concur that this is ready?

[2020-05-25 22:41] joshtriplett commented on #72016
Note: if you'd like to report an issue in inline assembly, please report it as a separate github issue, and just link to this one. Please don't report issues in inline assembly as comments on this tracking issue.

[2020-05-25 22:52] BartMassey commented on #72566
I filed [`pulldown-cmark` issue #443](https://github.com/raphlinus/pulldown-cmark/issues/443). Thanks for isolating this!

[2020-05-25 22:56] BartMassey commented on #72016
Definitely want the explicit import. This would also make it a bit clearer what's going on when somebody tries to compile an old-style `asm!` with a newer compiler, which is going to happen a lot: you'd get an unresolved symbol rather than mysterious syntax errors.

[2020-05-25 23:30] Fishrock123 commented on #31436
Does this (the `Try` trait) cover allowing `?` to work with the `Into`/`From` traits with generic bounds for types which implement `Try` (e.g. `Result` itself)?

i.e. `?` in a closure or function which returns e.g. `impl Into<Result>`

(It doesn't seem to when I try that on nightly?)

[2020-05-25 23:43] ecstatic-morse commented on #52000
Yep! As @oli-obk said, loops present no additional problems for dataflow-based const qualification, and I can't think of any other concerns that are unique to loops.

[2020-05-26 00:07] memoryruins commented on #51999
`const fn` is documented in the reference https://doc.rust-lang.org/nightly/reference/items/functions.html#const-functions, but the section is slightly out of date https://github.com/rust-lang/reference/issues/800

[2020-05-26 00:18] DrDinosaur commented on #49773
Same issue on WSL 2 as above.

[2020-05-26 00:30] jdm opened #72593 "'index out of bounds: the len is 0 but the index is 0' building gfx-backend-metal"
To reproduce, clone https://github.com/gfx-rs/gfx, then `cd src/backends/metal; cargo build`:
[code]

This regressed between the 5/20 and 5/25 nightlies. I'm having trouble bisecting in between those dates because the rustfmt component isn't available, even though I don't have the rustfmt component installed.

[2020-05-26 00:32] chrissimpkins commented on #72574
`librustc_ast_lowering` appears to be the site of the `..` check:

https://github.com/rust-lang/rust/blob/f93bb2a50b37bc8bafe4d960e2afd839eaa854ed/src/librustc_ast_lowering/pat.rs#L78-L80

This `LoweringContext` method is called:

https://github.com/rust-lang/rust/blob/f93bb2a50b37bc8bafe4d960e2afd839eaa854ed/src/librustc_ast_lowering/pat.rs#L255-L266

[2020-05-26 00:33] jdm opened #72594 "Linker error for LLVM-10-rust-1.45.0-nightly when building compiler plugins"
Servo has a crate of compiler plugins (https://github.com/servo/servo/tree/master/components/script_plugins) which now fails to build on linux starting with the 5/22 nightly.
[code]

[2020-05-26 00:34] benbromhead opened #72595 "Nightly error: internal compiler error: src/librustc_middle/ich/impls_ty.rs:94: StableHasher: unexpected region '_#10r"
I tried this code (using cargo test to run the test):

[code]

From my cargo.toml:
[code]

I expected to see this happen:

This code should not compile and should produce some errors along the following (as it does on stable):

[code]

Instead, this happened:
`error: internal compiler error: src/librustc_middle/ich/impls_ty.rs:94: StableHasher: unexpected region '_#10r`
The rust compiler throws an

[2020-05-26 01:11] lzutao commented on #50146
It seems that this feature doesn't work with trait methods.

[2020-05-26 01:11] csmoe commented on #72595
Duplicated of #72442

[2020-05-26 01:11] #72595 closed

[2020-05-26 01:36] JarrettBillingsley opened #72597 "mod-with-a-body silently ignores any "mod.rs" (could have a better diagnostic?)"
I tripped over this learning how the module system works and splitting things into multiple files.

If you write

[code]

it looks for `foo/mod.rs`, and it all works fine. But let's say I want to add a submodule inside `foo`. So I changed `lib.rs` to look like this:

[code]

Now `mod foo` has a body, so it does not look for `foo/mod.rs`. But I didn't know this rule, and it doesn't give me any indi

[2020-05-26 01:43] #70180 closed

[2020-05-26 01:43] #72105 closed

[2020-05-26 01:43] #72426 closed

[2020-05-26 01:43] #72442 closed

[2020-05-26 01:43] #72264 closed

[2020-05-26 01:43] #72428 closed

[2020-05-26 02:47] JohnTitor commented on #72594
I think you should add `llvm-tools(-preview)` component.

[2020-05-26 02:54] Mark-Simulacrum commented on #72594
Yes, this is expected fallout from a recent change. Please let me know if it's causing serious problems though, it's plausible we can find an alternative way of achieving the goals of the PR that broke this.
The rustc-dev component which you need for this isn't shipped on stable so this isn't a stable-to-nightly regression.

[2020-05-26 02:57] golddranks opened #72599 "Tracking Issue for total_cmp (on f32/f64)"
This is a tracking issue for the APIs `f32::total_cmp`, `f64::total_cmp` ( https://github.com/rust-lang/rust/pull/72568 )
The feature gate for the issue is `#![feature(total_cmp)]`.

#### Overview of the API
* Implements method `total_cmp` on `f32` and `f64`. This method implements a float comparison that, unlike the standard `partial_cmp`, is total (defined on all values) in accordance to the IEE

[2020-05-26 03:25] JohnTitor commented on #72593
Duplicate of #72467

[2020-05-26 03:26] #72593 closed

[2020-05-26 03:31] JohnTitor commented on #72554
I think now we could...
@rustbot glacier "https://gist.github.com/rust-play/e9a2a667c7f9015fdf681a7e6a542d63"

[2020-05-26 03:32] alilleybrinker commented on #62794
With #72551 addressing the `Debug` docs, perhaps a new issue should be opened for the question of auditing the stability guarantees of stdlib `Display` impls.

[2020-05-26 04:57] sportzer opened #72602 "Inconsistent handling of associated constants in patterns"
The following code compiles:

[code]

but adding a trait bound of `Foo` to `bar`:

[code]

causes compilation to fail with:

[code]

I would expect these two cases to behave identically instead of one working and the other failing. (it seems like both cases should be disallowed, but I don't have a good grasp of the current state of relevant features)

This is reproducible in the rust playground on

[2020-05-26 05:22] #70528 closed

[2020-05-26 05:36] joshtriplett commented on #72016
On Mon, May 25, 2020 at 03:56:53PM -0700, Bart Massey wrote:

Rust will actually catch many instances of this. Any use of the old
`asm!` syntax that has any operands at all will get caught in the parser
(because it uses a ':'), and result in a very clear error telling the
user about the syntax transition, and a hint suggesting `llvm_asm!`. (At
some point that hint should also start suggesting the

[2020-05-26 05:59] csmoe commented on #72573
Duplicate of #72442

[2020-05-26 05:59] #72573 closed

[2020-05-26 07:03] RalfJung commented on #62794
@alilleybrinker sure. In either case I am closing this issue now. Thanks for the PR!

[2020-05-26 07:03] #62794 closed

[2020-05-26 07:32] JohnTitor commented on #72263
This is libc side issue, I submitted rust-lang/libc#1777.

[2020-05-26 07:37] delata opened #72604 "semantic analysis of code"
can rustc prove that this is correct or wrong?

[code]

add the ability analyze identifiers and comments to match with the implementation.

[2020-05-26 07:59] leonardo-m commented on #72574
Perhaps it's worth supporting "tuple slicing" pattern too in Rust:

[2020-05-26 08:23] csmoe commented on #72604
https://internal.rust-lang.org should be a good place to discuss such kind things.

[2020-05-26 08:23] #72604 closed

[2020-05-26 08:29] bjorn3 commented on #72263
The fact that there is no span for the error is an error on the rustc side in my opinion.

[2020-05-26 08:55] delata commented on #72604
@csmoe This is a feature request. You can't close a issue this way.

[2020-05-26 10:42] #46420 closed

[2020-05-26 10:43] SimonSapin opened #72608 "Regression: spurious "error: expected `,`" in serde::Serialize on macro_rules-variable path enum discriminant"
Somewhat minimized test case: (still involves serde_derive and syn)

[code]
[code]

Compiles in `nightly-2020-05-24`, errors in `nightly-2020-05-25`:

[code]

Any of these changes makes compilation succeed:

* Removing use of `serde::Serialize`
* *Disabling* the `syn/full` feature
* Replacing `$mod` with a non-variable module name
* Replacing the path expression with a `{ use $mod::DEPTH_COMPONENT

[2020-05-26 10:43] hanna-kruppe commented on #72599
Another reason to ignore the "signaling bit is flipped on older MIPS" issue: as far as I know, there is essentially no way to actually tell signaling and quiet NaNs apart in current or near-future Rust. You can of course inspect the bit in question with `to_bits`, but nothing tells you how that bit is interpreted by the hardware. Debug printing, `f32::classify`, etc. do not distinguish sNaN from q

[2020-05-26 10:56] LeSeulArtichaut commented on #72608
Let’s see if we can minimize the example and bisect further to find the culprit PR?

[2020-05-26 11:34] SimonSapin commented on #72608
https://blog.rust-lang.org/inside-rust/2019/12/18/bisecting-rust-compiler.html worked pretty well:

searched nightlies: from nightly-2020-05-24 to nightly-2020-05-26
regressed nightly: nightly-2020-05-25
searched commits: from https://github.com/rust-lang/rust/commit/8970e8bcf6153d1ead2283f1a0ed7b192230eca6 to https://github.com/rust-lang/rust/commit/46e85b4328fe18492894093c1092dfe509df4370
regres

[2020-05-26 11:35] Speedy37 commented on #72546
Take a look at the grcov doc: https://github.com/mozilla/grcov

Tu use `-Zprofile`,  incremental compiling should be disabled, which can be done with:
[code]

[2020-05-26 11:46] SimonSapin commented on #72608
Replacing `serde_derive` with this proc macro still reproduces the same error:

[code]

[2020-05-26 11:56] SimonSapin commented on #72608
[code]
[code]

[2020-05-26 12:01] SimonSapin commented on #72608
Output of `dbg!(&input)`:

[code]

And with `$mod` replaced by a hard-coded `gl` path:

[code]

[2020-05-26 12:09] GuillaumeGomez commented on #72475
I guess it'd be acceptable yes.

[2020-05-26 12:12] Speedy37 opened #72609 "`-Cpanic=abort` IllegalInstruction in build script"
I tried this code:

[code]

On this repository: https://github.com/Clikengo/foundationdb-rs

I expected to see this happen: A correct build or a correct abort call

Instead, this happened: the processor reach an illegal instruction.

https://github.com/Clikengo/foundationdb-rs/runs/709083830

I was able to reproduce the crash locally on windows.
Building foundationdb-sys alone doesn't crash, but w

[2020-05-26 12:14] SimonSapin commented on #72608
This might be a false lead? The error is identical but it also happen with older rustc where serde succeeds. So I don’t understand what’s going on here. `syn::parse_macro_input!(input as syn::DeriveInput)` is the first thing that `serde::Serialize` does: https://github.com/serde-rs/serde/blob/v1.0.110/serde_derive/src/lib.rs#L78

[2020-05-26 12:21] jdm commented on #72594
Thanks!

[2020-05-26 12:21] #72594 closed

[2020-05-26 12:24] Ogromny opened #72611 "Error[E0658] is broken"
[code]

doesn't compile, it's normal but, the error message isn't right:

[code]

`Fni32 -> i32` is missing parentheses. And [E0658](https://doc.rust-lang.org/error-index.html#E0658) is not an error about Fn-family traits.

[2020-05-26 12:28] Speedy37 commented on #72609
Well, I guess, this is expected behavior of panic on windows.

To give a bit of context, I want to build this code with code coverage, and due to the removal of -Zno-landings-pads` I was migrating to use `-Cpanic=abort`.

I don't know how I should resolve this problem, `proc_macro2` use catch_unwind and this embeded quite deep inside the bindgen crate.

Is there a way to execute build script witho

[2020-05-26 12:37] Speedy37 commented on #72609
I guess this is cargo related https://github.com/rust-lang/cargo/issues/6375

[2020-05-26 12:37] #72609 closed

[2020-05-26 12:56] LeSeulArtichaut commented on #72470
Assigning `P-critical`, and pinging the LLVM ICE-breaker group [as discussed as part of the Prioritization WG process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372470.20LLVM.20error.3A.20.22Instruction.20does.20not.20domina).

@rustbot ping llvm

[2020-05-26 12:56] antoyo opened #72613 "Sign seems to be inverted"
It seems the variable `signed` is inverted in this line:

https://github.com/rust-lang/rust/blob/cb272d5d21c94f9a460d68d76817227a5913fbf7/src/librustc_codegen_ssa/mir/rvalue.rs#L343

LLVM seems to don't care about this, but other backends can.

The reason I think it's inverted it's because it's set from the operand:

https://github.com/rust-lang/rust/blob/cb272d5d21c94f9a460d68d76817227a5913fbf7/s

[2020-05-26 13:12] LeSeulArtichaut commented on #72608
Could this be a duplicate of or a bug related to #72545? cc @dtolnay

[2020-05-26 13:19] GuillaumeGomez commented on #72613
Context: @antoyo is building a libgccjit-based backend, this is how he got the issue. He's fixing and testing currently so I'm assigning the issue to him.

[2020-05-26 13:24] Nemo157 opened #72614 "Returning an `impl Trait` in associated type position results in error at point-of-use instead of point-of-definition"
Example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=346abbc1389cd2dd615dcde5a04024e7)):

[code]

This should error at the definition of `foo` since `impl std::ops::Sub<usize>` does not satisfy the `std::ops::Add` bound required by `Foo::Bar`. Instead it errors at the use-site in `main`, and if that line is deleted (e.g. if this is a `pub fn` in a library)

[2020-05-26 13:25] Nemo157 commented on #72614
@rustbot modify labels to +A-impl-trait

[2020-05-26 13:36] tromey commented on #65204
FWIW, now that the minimum LLVM version appears to be 8, the fallback seems only to be used for PDB.

[2020-05-26 13:38] Nemo157 commented on #52662
After trying to use this I noticed that the desugaring inside `impl Trait<Assoc: Bound>` doesn't feel right. As an example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2f8681af0c708ff28c66bfa98a27dc9b)) I would expect code like this to just _add_ an additional bound, while retaining the existing bounds from the trait:

[code]

Instead it completely overwri

[2020-05-26 13:41] tromey commented on #59422
This is a dup of #46487

[2020-05-26 13:44] tromey commented on #49013
This seems to be fixed.  Using stable (1.43.1) I see `rust_panic` in a simple debug executable:\
[code]

[2020-05-26 13:49] nical commented on #49013
I can also see the symbol now.

[2020-05-26 13:49] #49013 closed

[2020-05-26 14:15] #70498 closed

[2020-05-26 14:30] SimonSapin commented on #72608
It does look very similar. I suspect that a change in `syn` similar to the one discussed at https://github.com/rust-lang/rust/issues/72545#issuecomment-633312939 in `proc-macro-hack` could solve this. I tried to find the relevant source code in `syn` but https://github.com/dtolnay/syn/blob/6d5c90ddf790342947cad5737051f34e715c58af/src/path.rs#L35 only has a definition that a `PathSegment` contains

[2020-05-26 14:35] JohnTitor commented on #71042
Triage: This is no longer ICE, seems that it's fixed by #72153, marking as E-needs-test.

[2020-05-26 14:43] matthiaskrgr opened #72616 "type annotation warning involving completely unrelated scopes"
I tried this code:

[code]
This caused an error

[code]
however there is not relation between lines 5 and lines 8 as far as I understand which makes this weird.
The lines are not even in the same scope.

### Meta

`rustc --version --verbose`:
[code]

[2020-05-26 14:44] LionsAd commented on #45994
@alsuren I found a syntax / way that works:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ef3ca927495338661420b93141c5d0b6

(similar to how Box itself also works with any functions)

Would that change your stance that impl Trait is needed?

[2020-05-26 14:51] alexcrichton commented on #72550
This is almost surely caused by https://github.com/rust-lang/backtrace-rs/pull/299 which was updated to handle fixes like https://github.com/ianlancetaylor/libbacktrace/issues/32.

TBH I can't really keep track of the bugginess and bugfixes in libbacktrace any more. I'm totally lost in what's happening over time. I'm hoping that https://github.com/rust-lang/backtrace-rs/issues/328 can put the nail

[2020-05-26 14:53] Manishearth commented on #65983
We should see if we can close this out, this is basically the one thing blocking us from stabilizing intra-doc-links, and folks have been asking for this feature for years.

There are roughly three ways to implement this:

 - librustc_resolve emits a module-imports map -- a structure mapping each module to a list of its imports. this gets stored in the metadata, we consume this in rustdoc
 - the r

[2020-05-26 14:58] alexcrichton commented on #72545
It looks like this same error is [affecting `wasm-bindgen`](https://github.com/rustwasm/wasm-bindgen/issues/2158) which does not use `proc-macro-hack`. I'm looking to review https://github.com/rustwasm/wasm-bindgen/pull/2159 as a workaround in wasm-bindgen, but wanted to at least comment here saying that it's not just `proc-macro-hack` that's affected.

[2020-05-26 15:00] SimonSapin commented on #72545
`syn` as well: https://github.com/rust-lang/rust/issues/72608

[2020-05-26 15:14] tmiasko commented on #46487
Triage: For `no_mangle` items the `linkage_name` is included but value is correct, i.e., not mangled.

[2020-05-26 15:14] ehuss commented on #72550
@tmiasko Have you narrowed it down to a specific commit or change?  Do you have a sense of how difficult it would be to fix?

I ask because an alternative would be to change Cargo so that it does not include the hash in the filename for macOS.  It does this already for Windows for similar reasons (Windows embeds the path of the PDB in the executable which causes problems if it has a hash).  It's o

[2020-05-26 15:46] Aaron1011 commented on #72545
https://github.com/rust-lang/rust/pull/72388 is turning out to have an unexpectedly large amount of fallout. While I believe the change itself is definitely correct (the alternative is to pass the unspanned re-parsed tokens to proc-macros), several crates seem to be running into problems due to differences in the captured vs reparsed tokens.

I see several options here:

1. Do nothing, and let cra

[2020-05-26 16:08] SimonSapin commented on #72545
I suppose seemingly no-op groups with no delimiter can be useful because they provide additional span information. In https://github.com/rust-lang/rust/issues/72608#issuecomment-633981106 the group has the span of the `$foo` macro_rules variable, and the ident inside has span in the macro invocation where the actual ident comes from.

When APIs like `proc_macro::Span::error` are eventually stabili

[2020-05-26 16:36] cuviper commented on #62543
There's no blocker as far as I know. It would be nice to see some real use for experience, e.g. in the compiler or standard library itself, but I don't think that's required.

[2020-05-26 16:43] oli-obk commented on #68010
For arrays and slices we could make interning check the relocation map for relocations within the array, compute the indices which have relocations and only look at those indices.

[2020-05-26 17:15] tmandry commented on #71793
Triage: Removing `A-async-await` as this is a more general mir-opt issue. This may be a blocker for MIR inlining.

[2020-05-26 17:23] PurpleMyst commented on #62543
I've rewritten exactly this function before to avoid depending on nightly features. Is there any way we can put this up for stabilization?

[2020-05-26 17:44] jhpratt commented on #72545
I think the best course of action is to perform a crater run, and if there is significant breakage beyond what's already been noted, revert the PR until everything has been figured out.

I'm not familiar with the technical aspects of what was changed and why, but it does sound like it was the correct technical decision. As such, _eventually_ merging it back in once regressions are fixed seems sane

[2020-05-26 17:50] tmandry commented on #65978
Reopening until we confirm that the backtrace is more helpful now.

[2020-05-26 17:56] mark-i-m opened #72619 "Augment `TyCtxt::err` to be available via `TyCxAt`"
https://github.com/rust-lang/rust/pull/70551#discussion_r429540350

cc @eddyb

[2020-05-26 18:04] erictapen commented on #59944
@pusateri Did you find a solution for this? I think the observed memory growth is intentional here (at least in the `mpsc` case), as when the `recv` half is cloned in a later part of the program it will still `recv()` all the messages ever sent, regardless of how long the sending dates back.

I just stumbled over this in a case, where I create a channel at startup and then handle websocket connect

[2020-05-26 18:13] LeSeulArtichaut commented on #72545
Assigning `P-critical` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372545.20error.3A.20expected.20identifier.20when.20building).

[2020-05-26 18:38] Aaron1011 opened #72622 "Crater run for PR #72388 - Recursively expand `TokenKind::Interpolated` in `probably_equal_for_proc_macro`"
Better late than never...

[2020-05-26 18:39] dtolnay commented on #72608
I released a fix to parse `$mod::DEPTH_COMPONENT` in syn 1.0.26.

[2020-05-26 18:39] Aaron1011 commented on #72622
@craterbot run start=master#52b605c8cb2f730e607de0777a694cd1b9bb3e15 end=master#7726070fa755f660b5da3f82f46e07d9c6866f69 mode=check-only

[2020-05-26 18:41] Aaron1011 commented on #72545
I've started a crater run in https://github.com/rust-lang/rust/issues/72622, since the queue was empty.

[2020-05-26 19:22] alsuren commented on #45994
@LionsAd Unfortunately, that makes StructWithCallback<T> generic, which means that you can't store it in a vec or hashmap. https://gist.github.com/rust-play/b89d17f00f58f071555339093d76a0a3

If you can't store it in a hashmap, then you can't store it in a routing table, so that's a non-starter for the Gotham use-case.

A possible way to avoid needing `impl Trait` in this position would be to suppo

[2020-05-26 19:24] bluss opened #72624 "Missing wraparound checks in DroplessArena allocation"
DroplessArena::alloc_raw does not check for wraparound when computing the end of the allocation, pointer arithmetic using `self.ptr` and `bytes`:

https://github.com/rust-lang/rust/blob/aeca4d6428c52cbf2c8d1f28657b0bdf92e4ea7c/src/libarena/lib.rs#L382-L391

This can be used to make the pointer wrap around, and "allocate", bumping the pointer, without growing the underlying allocation.

Callers `al

[2020-05-26 19:50] axos88 commented on #63197
It is MMIO, but in case of the processor we are coding for there is no MPU, so code can always read from that memory region.

[2020-05-26 19:54] axos88 commented on #63197
Well... Except if the peripheral is powered off, but i'm not sure that's something we would want to catch at the compiler level.

One could argue that because of that caveat this should be wrapped in unsafe code, but it should be able to compile. The user of said reference should then be responsible for checking if accessing that memory area is permissible in that context, which is basically the d

[2020-05-26 20:05] petrochenkov commented on #72545
We'll see more of issues like this once more parts of https://github.com/rust-lang/rust/issues/43081 (formerly known as "Implement converting an AST to a token tree") are implemented.

This is a bugfix, but yeah, it uncovers missing pieces in third-party Rust parsers.

[2020-05-26 20:10] petrochenkov commented on #72545
@dtolnay

FWIW, we recently migrated from implicitly normalizing `$ident` (`NtIdent`) to `Ident` in rustc parser to treating it explicitly.
There are very few places in Rust grammar where it needs to be accounted for.
rustc's job here is somewhat easier here because `NtIdent` is at least not recursive unlike `Group(Delimiter::None)` (but this may change in the future to keep spans for the whole ex

[2020-05-26 20:23] dtolnay commented on #72545
@petrochenkov but $:tt isn't wrapped in Group. Is that planned to change? If not, I just want $:ident and $:lifetime to match the behavior of $:tt.

[2020-05-26 20:25] estebank commented on #72574
@leonardo-m that would implicitly create a tuple for `xs` (or a slice?). I don't think it'd be a good addition. We already support `(a, ..)`, which is much more useful in my eyes.

[2020-05-26 20:42] petrochenkov commented on #72545
@dtolnay

Internally - it's quite possible. We are currently normalizing `$tt`s implicitly and therefore losing their "macro backtraces" which is undesirable.

For proc macros - unlikely due to compatibility.

Actually, did rustc before https://github.com/rust-lang/rust/issues/72622 ever passed `$ident` to proc macros as a `Group`, or it's entirely a consequence of that PR?
Or was it *sometimes* p

[2020-05-26 20:46] petrochenkov commented on #72545
The drawback of always normalizing `$ident` to `Ident` is losing the `$ident`'s span, which is surprisingly the span that you want for diagnostics in most contexts (when you want to concatenate this span with spans of any neighboring tokens in particular).

[2020-05-26 20:52] leonardo-m commented on #72574
That syntax is meant to produce a shorter tuple xs with the omission of the first item of the tuple. lf you think it's an useless idea then let's ignore it :)

[2020-05-26 20:52] dtolnay commented on #72545
@petrochenkov

The latter (sort of). See e.g. https://github.com/dtolnay/paste/commit/a4dc93d059c38f4e7830418260879cfa98139f9c + https://github.com/dtolnay/paste/commit/951017b3b9e5c1fd12ddd6ccd610ff3c4990ec13 from 2018 which dealt with that case. It's actually worse than what you said because after an "identity transformation" where you take an incoming None-delimited Group containing Ident and r

[2020-05-26 20:57] RalfJung commented on #63197
@axos88 the thing with references is that they can get accessed by the compiler *even if the code does not access them*. That's what it means for them to be "dereferencable". For example, if you have
[code]
then if `bar` is a reference the compiler is permitted to move that read out of the `if`.

[2020-05-26 20:57] RalfJung commented on #63197
The "wrapping in unsafe code" is exactly what using raw pointers here achieves.

[2020-05-26 20:58] #47086 closed

[2020-05-26 20:58] #66568 closed

[2020-05-26 21:14] cuviper opened #72631 "Tracking Issue for Extend::{extend_one,extend_reserve}"
This is a tracking issue for the trait methods `Extend::extend_one` and `extend_reserve`.
The feature gate for the issue is `#![feature(extend_one)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for l

[2020-05-26 21:40] hnrklssn commented on #39364
Is this being worked on? It is quite hard to build a clean solution to gracefully shutting down multiple threads when the channels to communicate between them randomly panic and close. I run into this issue more times than not when I start my project, but because the main thread survives I can't even let systemd automatically restart it until it works, since the process is still going.

[2020-05-26 21:58] Fishrock123 commented on #70924
I was also encountering this.

A `git clean -fdx` on my repo cleared out whatever the problem file was.

[code]

<details>
<summary>A backtrace enclosed</summary>

[code]

[2020-05-26 22:20] RithvikChuppala commented on #72482
Yes. It appears to reduce to occurrence of the issue, although not solving it entirely.

[2020-05-26 22:39] moxian opened #72634 "Poor diagnostics on missing semicolon after match statement"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8a78e534c893d563ba3bf81786161178)):

[code]

I expected to see this happen:
A compiler error about missing `;` between `}` and `4i32`

Instead, this happened:
[code]

This is very confusing, because I "know" that `panic!()` return type is `!` which is coercible to anything else (or whatever is

[2020-05-27 00:00] Aaron1011 commented on #72312
This error is emitted during type-checking. In order to emit a nicer error, I think we'll need `-Z borrowck=mir` to be enabled, so that we have access to MIR when we construct the error.

cc @matthewjasper

[2020-05-27 00:10] Aaron1011 commented on #57642
On the latest nightly, passing `-Z borrowck=mir -Z no-leak-check` causes `higher_ranked_region_has_lost_its_binder` and `magical` to produce `higher-ranked subtype error`.

I think this is now purely a diagnostic issue, rather than a soundness issue.

[2020-05-27 00:21] #72394 closed

[2020-05-27 00:21] #72483 closed

[2020-05-27 01:21] sfackler commented on #72599
Yeah, I think that the best we can do is just stick something in the docs noting the issue.

[2020-05-27 02:28] ZaneHannanAU commented on #64260
Found out about this today.

If possible, could we get an `or_else` and an `or_else_some`?

My current option is a bit... awkward:

[code]

But that's also because I wanted to support having no-tls on for testing purposes (as well as because it's difficult to get the keys without having some keys anyway...)

[2020-05-27 02:55] dtolnay opened #72640 "Do not suggest type parameter when followed by `<`"
[code]

[code]

Rustc should know that `struct S<Hashmap>` is not in the right direction because that still wouldn't make `Hashmap<String, ()>` a valid thing to write; type parameters can't have type parameters (yet??).

Separately, #70572 should also have prevented the suggestion in this case, but is an independent issue.

cc @estebank who worked on this recently in #68447.

[2020-05-27 03:04] dtolnay opened #72641 "Suggest importable type that differs only in capitalization"
[code]

[code]

If the code had been written with `HashMap` instead of `Hashmap`, we would get the following extremely likely correct suggestion:

[code]

`Hashmap` is a fairly common capitalization in other languages (https://grep.app/search?q=Hashmap&case=true) so it would be good to provide an appropriate suggestion in this case.

(For whatever reason this doesn't trigger #72640.)

[2020-05-27 03:08] dtolnay opened #72642 "Do not suggest importing hash_map::HashMap or btree_map::BTreeMap"
[code]

[code]

The `std::collections::hash_map::HashMap` suggestion here is just noise, it's (almost?) never what we actually want the person to import.

This issue has been assigned to @ayushmishra2005 via [this comment](https://github.com/rust-lang/rust/issues/72642#issuecomment-634702867).

[2020-05-27 03:15] dtolnay commented on #56192
Closing in favor of #27242.

[2020-05-27 03:15] #56192 closed

[2020-05-27 05:15] lnicola commented on #39364
@hnrklssn as a workaround you can use a crossbeam channel.

[2020-05-27 05:17] nstoddard opened #72643 "It's not possible to override the revision of a git repo using [patch]"
Some of my dependencies depend on a git repo, but one of my dependencies doesn't compile with the latest version so I'm trying to temporarily switch to an older revision:

[code]

Unfortunately this gives the following error:
[code]

Is this a bug, or expected behavior? If it's not a bug, is there another way to achieve this, without having to clone the git repo?

This happens on both stable and n

[2020-05-27 06:05] joshtriplett commented on #72597
That would involve checking the filesystem for a file in a case where we otherwise wouldn't have done so, which would be a performance issue unless we can avoid doing so when we wouldn't otherwise report anything.

[2020-05-27 07:37] delata commented on #72604
@nikomatsakis

[2020-05-27 07:44] iago-lito commented on #72604
@delata I think this is what @csmoe actually meant. Feature requests start with discussions at https://users.rust-lang.org/ or https://internals.rust-lang.org/, then they have to go through the [RFC process](https://rust-lang.github.io/rfcs/) at https://github.com/rust-lang/rfcs. They cannot just be asked here.

[2020-05-27 08:19] Vlad-Shcherbina opened #72646 "Missed optimization: Option<fieldless enum> equality"
This is similar to #49892, but different.
It's not limited to non-zero integer types. This happens for any types that have holes but no uninitialized bits.
I think comparing `Option<some fieldless enum>` values is not uncommon, so it adds to the severity of the issue.

### To reproduce
1. Create the following program:
[code]
2. Inspect generated code, for example by running
[code]
    Or just visi

[2020-05-27 08:48] oli-obk commented on #63197
If there are no dereferences of a reference anywhere in the code, is the compiler still permitted to insert a read?

[2020-05-27 08:55] GuillaumeGomez opened #72647 "When pressing ESC on search, it sometimes bring back the results"
![Peek 2020-05-27 10-54](https://user-images.githubusercontent.com/3050060/82998888-92b8f980-a008-11ea-9b68-4f2548a5a156.gif)

[2020-05-27 08:55] oli-obk commented on #72215
We can just keep failing early and wait until someone has an actual use case

[2020-05-27 09:05] lhecker commented on #33368
Should we close this issue for now?
* There haven't been any comments for a long while
* async/await is stable (and it's hella nice 😍)
* I don't want to clutter this poor project with my poorly crafted issues 😄

What do you think?

[2020-05-27 09:06] leonardo-m opened #72648 "Wrong use closure help for const generics"
This is wrong code:
[code]
I think it gives a wrong suggestion because closure generics aren't allowed yet:
[code]
Using: `rustc 1.45.0-nightly (5239f5c57 2020-05-26)`

[2020-05-27 09:20] RalfJung commented on #63197
For locals, certainly:
[code]
is equivalent to
[code]
and the latter can again have the read moved out of the `if`.

For references in global variables... well, I don't know. But I'd say to be on the safe side, we should say that the same applies there.

[2020-05-27 09:33] snakehand commented on #39364
@hnrklssn There is also a work-around, you can clone() the tx before doing the recv_timeout()

[2020-05-27 09:35] m-ou-se opened #72649 "Wrong error message about uninitialized variable in loop"
Forgetting to initialize a non-Copy variable in a loop and then referring to it gives a 'borrowed after move' error, instead of a 'possibly-uninitialized variable' error:

[code]

[code]

Using a `Copy` type like `i32` does result in the right error:
[code]

Tested with 1.43.0 (stable) and 1.45.0-nightly.

[2020-05-27 09:36] dtolnay commented on #64796
I would like to push back on https://github.com/rust-lang/rust/issues/64796#issuecomment-625474439; I think that is the wrong decision. 1.N nightly (any date) should have cfg(version("1.N")) as true.

Context: I maintain some widely used crates, many that support a broad range of compiler versions (back to 1.15.0, 1.13.0, a few 1.0.0), and many that have done version detection in build.rs for year

[2020-05-27 09:43] Nemo157 commented on #64796
Note that this includes never updating _stable_ dependencies either, if you have a pinned nightly from early on in 1.50-nightly, and a dependency of yours starts using a feature stabilized in 1.50-stable behind a `cfg(version)` check, that feature may have been stabilized _after_ the nightly you are using. Currently even if you are building on a pinned nightly you can assume that updating any stab

[2020-05-27 09:56] jonas-schievink commented on #72643
Cargo issues should be filed at https://github.com/rust-lang/cargo

[2020-05-27 09:56] #72643 closed

[2020-05-27 10:05] leonardo-m commented on #72649
In both Ada and D languages (in different ways, in Ada it's more refined) there's a way to tell the type system that the input variable to that bla function is not initialized and that bla must initialize it, and inside bla you can't read it before it's initialized. This means you have a way to propagate the not initialized state in function arguments, and safety is preserved. In practice this is

[2020-05-27 10:14] m-ou-se commented on #72649
@leonardo-m Uh, this issue is just about the error *message*. That this code gives an error is fine.

[2020-05-27 10:54] bachrc commented on #46379
We are still encountering this issue with the last version of Rust (1.45.0 nightly)

[2020-05-27 12:20] JohnTitor commented on #66930
Triage: I think that ICE is fixed by #72424, no longer occurs with the latest nightly. Marking as E-needs-test.

[2020-05-27 12:21] matthiaskrgr commented on #72105
Can confirm this fixed the `dtoa` ICE :+1:  :)

[2020-05-27 12:22] JohnTitor commented on #67558
Triage: I think this ICE is fixed by #72424, [this example](https://github.com/rust-lang/rust/issues/67558#issuecomment-569487306) no longer occurs with the latest nightly. Marking as E-needs-test.

[2020-05-27 12:43] est31 commented on #64796
Pushing code you don't test for isn't really a good development practice.

I have wondered about this myself as well and pondered about proposing a nightly-only cargo/rustc `-Zassume-complete-nightly` option that enables the `version(1.N)` check for 1.N nightly. Generally it's beneficial to have bug testing of features on nightly as much as possible as getting fixes into beta is harder than onto m

[2020-05-27 12:46] SimonSapin commented on #53639
In https://github.com/servo/servo/issues/26550 I looked at the uses of `static mut` in the Servo repository. Some can be replaced with a safe abstraction like `AtomicPtr`, `Mutex`, or `once_cell::sync::Lazy`.

But in some cases the reasoning that convinces us that UB does not happen cannot be encoded in the type system / borrow checker, so the correct way to avoid `static mut` today is to define o

[2020-05-27 13:20] denisandroid opened #72652 "Creating a macro of generating closure, description of arguments to closure in || with a star only works as an exclamation point."
It was expected that I could repeat the syntax of the closure in the macro, I repeated but the rule is not working out correctly.

**Code:**
[code]

**Output:**
[code]

Macro code using one or more elements works, but macro code without elements does not work. Although this is precisely the rule with the star.

**Play:** https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bd27f

[2020-05-27 13:23] jonas-schievink commented on #72652
You need to put a space between the `||`. I believe declarative macros do not have access to the individual parts of a "fused" token (unlike procedural macros).

[2020-05-27 13:29] tones111 commented on #72352
This is my first time using cargo-bisect-rustc and it's fantastic.  It identified the regression as...

searched nightlies: from nightly-2020-02-13 to nightly-2020-05-14
regressed nightly: nightly-2020-03-20
searched commits: from https://github.com/rust-lang/rust/commit/f509b26a7730d721ef87423a72b3fdf8724b4afa to https://github.com/rust-lang/rust/commit/f4c675c476c18b1a11041193f2f59d695b126bc8
re

[2020-05-27 13:37] denisandroid commented on #72652
**Yeah**, I noticed that adding a space makes the macro work properly, but that 's not the solution.

I can certainly add a rule with an empty set of arguments, but I turned here to avoid duplicating the code because the rule provides for a star.

[2020-05-27 13:42] withoutboats commented on #55149
I would like to see progress on allowing users to use `ManuallyDrop` non-`Copy` types in unions on stable. It's valuable for correctly implementing "atomic state machine" patterns, common in low level async code, in which you have a tagged union with an atomically updated tag (with a locked state as well, etc.)

However, I didn't participate in the RFC thread and reading it now I notice a concern

[2020-05-27 13:43] spastorino commented on #72467
We need to bisect and find an mcve.

@rustbot ping cleanup

[2020-05-27 13:48] jplatte commented on #72352
57e1da5 is a rollup commit. The only PR which was part of that and (to me) looks like it could have caused this issue is #69189 .

[2020-05-27 14:01] spastorino commented on #72467
Assigning `P-high` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372467.20ICE.20in.20_match.2Ers.3A1184.3A21.20when.20building.20.22) and removing `I-prioritize`.

[2020-05-27 14:02] git-blame opened #72653 "In Windows, Trailing Backslash In Quoted Path Argument Leads to Wrong Command-line Parsing"
If a rust windows program has a command-line argument like this: `.\myapp -p "C:\Program Files\" -v`, it will be parsed as follows: **['.\\myapp', '-p', 'C:\\\\Program Files\\\\" -v']** instead of **['.\\myapp', '-p', 'C:\\\\Program Files\\\\', '-v']**.

Looking over rust code, this is due to rust adhering to Microsoft standard:
[code]

And the link states:

So everything is behaving to spec. The

[2020-05-27 14:09] RalfJung commented on #55149
Seems reasonable to me.

So specifically, the allowed types for union fields would be
* anything that implements `Copy`
* `ManuallyDrop<T>` for any `T`
* `&mut T` for any `T` (maybe)

Would everything else be disallowed? What about `(ManuallyDrop<T>, ManuallyDrop<U>)` (tuples never add their own destructors)? What about `MaybeUninit<T>` (or other drop-less libstd types such as `Option<T>`)?

[2020-05-27 14:13] nikomatsakis commented on #55149
Adding a `Drop` impl is a breaking change ever since NLL, though it's true that we could try to narrow the range of cases where that is true. It's pretty fundamental to the idea of NLL, though, since we want to have types that contain references (e.g., iterators) but have them release those references when they stop being used (vs extending until the end of scope). If they have a `Drop` impl, we h

[2020-05-27 14:15] nikomatsakis commented on #55149
That said, I agree with the specific proposal of extending to include `ManuallyDrop` as well as `&mut`. I would probably extend to tuples that compose those primitives.

[2020-05-27 14:16] spastorino commented on #72608
Assigning `P-critical` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372608.20Regression.3A.20spurious.20.22error.3A.20expected.20.60.2C) and removing `I-prioritize`.

This seems to be the same issue as #72545 ?. And the culprit being #72388 or am I wrong?

[2020-05-27 14:18] #33368 closed

[2020-05-27 14:18] withoutboats commented on #55149
Tuples and arrays seem fine. Other std types seem like we'd need to consider them on a case-by-case basis, but the idea is to make the advice to people that they put a `ManuallyDrop` around their fields that are not Copy types or references.

I guess maybe the use case with option is `Option<&mut T>`, rather than `Option<ManuallyDrop<T>>`.

Agh yea. Well the idea is to reduce the scope of breakage

[2020-05-27 14:25] nikomatsakis commented on #64796
Thanks @dtolnay for the pushback =)

One important factor in this discussion seems to be `#[cfg(accessible)]`. I think there was some assumption that the "right" way to test for an individual feature being available would be to use `cfg(accessible)`, but afaik that feature hasn't even been prototyped. I'm not sure how to think about that.

[2020-05-27 14:26] nikomatsakis commented on #64796
I'm going to nominate for us to rediscuss, regardless.

[2020-05-27 14:30] roblabla commented on #64796
`#[cfg(accessible)]` has been prototyped and is available in nightly. It is accessible as `#[cfg_accessible]`, see [the implementation PR](https://github.com/rust-lang/rust/pull/69870 ) and [the tracking issue](https://github.com/rust-lang/rust/issues/64797).

It apparently has some limitations, though I haven't played with it enough to know what exactly the limitations are.

[2020-05-27 14:31] nikomatsakis commented on #64796
Oh, great! I stand corrected!

[2020-05-27 14:32] jonas-schievink commented on #72653
This sounds like Rust is behaving correctly though? Isn't this a bug in Powershell?

[2020-05-27 14:35] ayushmishra2005 commented on #72642
@rustbot claim

[2020-05-27 14:35] spastorino commented on #66617
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2366617.20Single.20file.20takes.2030.20minutes.20to.20compile) and removing `I-prioritize`.

[2020-05-27 14:36] nikomatsakis commented on #52662
Interesting. There are similar limitations in cases like this:

[code]

where you must repeat that `T: Iterator` and so forth, though I guess we don't desugar to a fresh type parameter so it doesn't come up here. In any case, I had some thoughts to fix this as part of the work we're doing on chalk and implied bounds, but (a) I'm not sure if the latest formulations actually change anything here and

[2020-05-27 14:43] nikomatsakis commented on #52000
Would it make sense to prepare a stabilization report, even if it's rather minimal?

[2020-05-27 14:44] nikomatsakis commented on #52000
Let me re-phrase that: I think it would make sense to prepare a stabilization report, though it may not be very long:

* outline the syntax that's being stabilized
* reproduce the reasoning that @oli-obk referenced
* copy over some of the tests that @oli-obk referenced

In some sense it's all here in the thread, but it'd be nice to pull it into one comment / document.

[2020-05-27 14:48] #72253 closed

[2020-05-27 14:48] #50687 closed

[2020-05-27 14:56] spastorino commented on #66617
Just in case wanted to point out that this is still an issue using `rustc 1.45.0-nightly (a74d1862d 2020-05-14)`.

[2020-05-27 15:02] chrissimpkins commented on #72253
Merged.  Thanks for a good learning issue @ehuss.  And thanks for mentoring it @estebank.  I really appreciate your time!

[2020-05-27 15:22] ogoffart opened #72658 "type mismatch in closure arguments without annotation with reference arguments"
I tried something looking like this:
(but obviously the actual program was more complex)

[code]

And i got quite confused by the error:

[code]

I found ways to get that work: annotating the closure argument like so:
[code]

Maybe the error message should suggest that.

But I would actually even expect this to work without annotations, since it works fine if the argument is not a reference.  (ie:

[2020-05-27 15:25] golddranks commented on #51999
@memoryruins: Thanks, I missed it.

More about the `const_err`: In this example using `TEST` inside another constant counts as "use". https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=928d36c50cceec31d97999d5ef05447a

This explains the behaviour I called earlier "seemingly buggy". Using an "erroneous" constant even inside another constant is an error, even though I expected

[2020-05-27 15:45] andrewrk commented on #72604
This account is a troll, see https://github.com/cplusplus/draft/issues/4015

(I already deleted the issue it made on the zig issue tracker and banned the account)

[2020-05-27 15:54] awoimbee commented on #72587
Note that this lint still makes sense for functions:
[code]
[code]
But then running clippy on the following looks dumb (the lints are redundant):
[code]
[code]

I don't really know the compiler internals, but should this lint just skip structs ? (is that even possible ?)

[2020-05-27 16:03] golddranks opened #72660 "UX improvements around const usage and error lints"
This code produces errors and warnings that I consider suboptimal:
[code]
(Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=20e9f735947348f61b83d9331c36f538 )

The errors and warnings are:
[code]

What could be better about this error message?
* By setting the `const_err` lint to `warn`, it shows error message "warning: any use of this value will cause an er

[2020-05-27 16:03] golddranks commented on #72660
Ping @estebank, I'm going to try and tackle this!

[2020-05-27 16:08] golddranks commented on #72660
Note: found about these error messages originally here: https://github.com/rust-lang/rust/issues/51999 I think that improving these will also enhance the "panicking in const" experience.

[2020-05-27 16:37] o01eg opened #72661 "Rustc cann't be build if stage0 compiler built with custom libdir"
Stage0 compiler is the same 1.43.1 compiler but with libdir set to `lib/rust-1.43.1`.

Build log: [build-fail.log.gz](https://github.com/rust-lang/rust/files/4690039/build-fail.log.gz)

Build fails on `cfg-if` crate while it was successfully built before `llvm`:

Successfull:
[code]

Failed:
[code]

The first have dependencies set to in arguments ` --extern compiler_builtins=/tmp/portage/dev-lang/

[2020-05-27 16:52] wwylele opened #72662 "Dropping MPSC Sender after iterating over Receiver causes deadlock"
I tried this code:

[code]

I expected to see this happen: the program successfully finishes

Instead, this happened: the program times out on the playground, and never finishes locally. Presumably a deadlock

### Meta

`rustc --version --verbose`:
[code]
Also tried on playground:
Stable 1.43.1 and Nightly 2020-05-26 5239f5c57bb6eb9e8940

Not sure how to get a backtrace on a deadlocked program 😅

[2020-05-27 17:04] jonas-schievink commented on #72662
You can use GDB (or any native debugger really) to get backtraces for all threads

[2020-05-27 17:05] jonas-schievink commented on #72662
Ah, this is correct behavior: https://doc.rust-lang.org/std/sync/mpsc/struct.IntoIter.html

[2020-05-27 17:05] #72662 closed

[2020-05-27 17:09] golddranks commented on #72660
More notes: found some info about `const_err` lint here: https://github.com/rust-lang/rust/issues/71800 It seems that the momentum is to move towards it turning a future-compat lint and eventually a hard error? So need to re-evaluate the error messages here from the viewpoint of `const_err` hardly every being anything other than `deny. and be careful not to do needless work.

[2020-05-27 17:12] golddranks commented on #72660
Basically all the points in the original post seem to stay relevant, but the last one (improving the note about lint level) changes to question whether we should just get rid of it.

[2020-05-27 17:15] golddranks commented on #71800
The momentum here seems to be that the `const_err` lint is going to go the way of the dodo. It makes me think whether we should get rid of the "note: `#[deny(const_err)]` on by default" note on any const item eval failure? If we discourage the use of this lint, we shouldn't advertise it by default – the users may get the wrong picture there. I sure did.

I'm considering removing the note a part of

[2020-05-27 17:19] RalfJung commented on #71800
That note is AFAIK printed by the general lint code in rustc.

But maybe it goes away when we declare `const_err` a future compat lint?

[2020-05-27 17:20] RalfJung commented on #72660
Note that improving this will be hard until we resolve https://github.com/rust-lang/rust/issues/71800. Since `const_err` can be allowed, we basically have to show errors both at the const def site and the const use site.

Cc @rust-lang/wg-const-eval

[2020-05-27 17:22] roblabla opened #72664 "Inline asm errors don't report file/line no information"
When an error within the assembly body of an inline asm happens (such as an invalid opcode), rust reports the error without pointing which inline asm instance (e.g. which file/line) caused it to happen. For instance:

[code]

The above "wrong" inline asm (on x86 32-bit) will report the following:

[code]

This makes it hard to track down where the error is caused.

[Playground link](https://play.r

[2020-05-27 17:23] RalfJung commented on #72660
*Every* attribute is per-item.

if you want to set `const_err` to "warn" globally, do `#![warn(const_err)]`. Then the note should change accordingly.

What do you think a better message would look like? Notice that your code is equivalent to something like
[code]
So it seems to me like the fact that an unrelated item has `warn(const_err)` should not affect the message for `TEST_2`.

[2020-05-27 17:34] lcnr commented on #72648
This is not specific to const generics. The following gives the same error.
[code]

[2020-05-27 17:39] golddranks commented on #72660
So, it seems that I had a misunderstanding what the error below was trying to tell:
[code]
I thought it was that the *use* of `TEST` here is an error (because of I thought the word "this value" pointed to `TEST` highlighted with `^^^^`), but the case was that the *definition* of `TEST_2` is the error being reported here.

So, here's a rethought example of what I consider better errors, with this c

[2020-05-27 17:56] hnrklssn commented on #39364
@lnicola Yeah I just thought it would be nice for people new to Rust, like me, to be able to rely on the stdlib. The number of dependencies explodes pretty quickly when pulling new ones into a project.

@snakehand Thanks, that fixed it! I had to change the structure of my program slightly, which is fine but I do find it a bit uglier than before.

[2020-05-27 18:20] chrissimpkins commented on #72574
@rustbot claim

[2020-05-27 18:23] RalfJung commented on #71668
If I understand https://boats.gitlab.io/blog/post/ringbahn/ correctly, that API would also benefit greatly from not treating the body of an `unsafe fn` as `unsafe`: there is a trait with an `unsafe fn`, and

@withoutboats did I understand this correctly?

[2020-05-27 18:40] SuperTails commented on #67510
Is this still being handled? I am willing to look into it myself, I am currently stuck on needing this feature (and admittedly have a lot of time on my hands with recent events).

[2020-05-27 18:44] Nadrieril commented on #72467
As mentioned in https://github.com/rust-lang/rust/pull/72506, I expect that PR to fix this issue. I think it'd make sense to wait for https://github.com/rust-lang/rust/pull/72506 to be merged before investing too much effort here.

[2020-05-27 19:32] o0Ignition0o commented on #65610
@rustbot modify labels to +I-prioritize

[2020-05-27 19:33] o0Ignition0o commented on #64924
@rustbot modify labels to +I-prioritize

[2020-05-27 19:33] o0Ignition0o commented on #66265
@rustbot modify labels to +I-prioritize

[2020-05-27 19:33] o0Ignition0o commented on #68709
@rustbot modify labels to +I-prioritize

[2020-05-27 19:56] tmiasko commented on #66969
This is already happening when using MIR inliner (mir-opt-level >= 2).

[2020-05-27 20:17] o01eg commented on #72661
With debug logs enabled:
[code]

Failed:
[code]

[2020-05-27 20:22] dtolnay commented on #72608
Yeah I think we can close in favor of #72545, it's the same underlying change.

[2020-05-27 20:22] #72608 closed

[2020-05-27 20:26] withoutboats commented on #71668
@RalfJung I don't think its a particularly new situation. Basically, the guarantee that you are getting from it being unsafe are the guarantees you need to be able to call [these unsafe methods](https://docs.rs/iou/0.2.0/iou/struct.SubmissionQueueEvent.html#method.prep_read_vectored) in the SubmissionQueueEvent that is passed as an argument.

In other words, an `Event` implementation is going to u

[2020-05-27 20:27] spastorino commented on #68709
Going to remove `I-prioritize` because this is not `T-compiler` nor `libs-impl`.

[2020-05-27 20:35] SimonSapin commented on #55149
Having a criteria stricter than "no drop glue" so that adding `Drop` is not (more of) a breaking change sounds reasonable. Extending union fields to allow `ManuallyDrop<T>` with `T: !Copy` is what fundamentally unlocks new capabilities in the language, anything more is convenience.

We could make the language-level rule be specifically "union fields must be `Copy` or `ManuallyDrop`". But if it’s s

[2020-05-27 20:46] dtolnay commented on #65516
To give an example on the case of trait impls:

[code]

[code]

[2020-05-27 20:59] dtolnay commented on #53639
I would be on board with a sync variation of UnsafeCell. RacyUnsafeCell or SyncUnsafeCell both seem fine.

To clarify, what you mean by "in some cases the reasoning that convinces us that UB does not happen cannot be encoded in the type system / borrow checker" is that you need code able to pass around `&RacyUnsafeCell` to other code and `static mut` does not provide any way of accomplishing that?

[2020-05-27 21:02] withoutboats commented on #55149
Yea this is where we start talking about a "POD" trait. I agree that just moving ManuallyDrop to stable as quickly as possible could be the best short term action. Then we can find out how annoying it is wrapping `&mut` etc in ManuallyDrops and decide if we should do more.

[2020-05-27 21:09] withoutboats commented on #53639
I just used a static mut and I should be using a `RacyUnsafeCell` instead, so I'm empathetic with the motivation. But I also realize this use case is extremely rare. Why shouldn't we just deprecate static mut in 2021 but leave `RacyUnsafeCell` for other people to define / for the ecosystem? I think the motivation Simon describes goes away (make static mut less tempting) if we just get rid of this

[2020-05-27 21:55] RalfJung commented on #71668
Is there a realistic safe implementation of that method that ignores the extra invariant provided by the caller, or is the expectation that most/all implementations will have to do something `unsafe` justified by that invariant?

[2020-05-27 21:56] alilleybrinker opened #72676 "Decide on stability of `Display` output for libstd/libcore/etc. types"
Per the discussion in #62794, it's not clear whether the output of `Display` impls for types in the standard library should be considered stable or unstable, and if unstable, which impls might be stable.

Views expressed:

- `Display` impls are unstable ([in this comment](https://github.com/rust-lang/rust/issues/62794#issuecomment-518374531) by @Mark-Simulacrum)
- I thought they were stable except

[2020-05-27 22:05] Mark-Simulacrum commented on #72676
I'm not sure what the best way to do this is. I don't think it is likely that we'll make progress without concrete questions -- certainly guaranteeing stability for a bunch of impls without going case-by-case seems like a bad idea.

We've also been slowly over time changing the display output with parameters given, e.g., https://github.com/rust-lang/rust/pull/72407 and similar PRs which do technic

[2020-05-27 22:06] withoutboats commented on #71668
Yea I believe some kinds of events should be safe to prepare because they only send `Copy` data into the kernel and so they don't need to worry about any kind of memory safety invariant.

[2020-05-27 22:24] m-ou-se commented on #72649
I'd be interested in fixing this myself, but I'm not sure where to start.

[2020-05-27 23:51] Areredify commented on #67510
@SuperTails  You are welcome to take it, Im busy with chalk work atm

[2020-05-27 23:57] SimonSapin commented on #55149
Good point, stabilizing `ManuallyDrop` fields only (in addition to `Copy`) doesn’t prevent extending to a new trait later.

[2020-05-28 00:05] SimonSapin commented on #53639
https://github.com/servo/servo/issues/26550 is about code that currently uses `static mut`, and replacing it with `static` + some kind of interior mutability. `&RacyUnsafeCell` can be taken from the `static` item, no need to pass it around.

I mean reasoning such as “It it sound for `once_cell::sync::Lazy<T>` to give out `&'static T` references, because it only does so after ensuring (with synchro

[2020-05-28 00:11] withoutboats commented on #53639
But we're talking about a newtype wrapper with a single marker impl. I don't think it's such a big help to those rare use cases. The problem is we've provided syntax in the language for something even less safe than "RacyUnsafeCell" that people just shouldn't use.

[2020-05-28 00:14] Lokathor commented on #53639
Part of the reason to put it in core is so that you can then document it in core with accurate safety guidelines that are known to be trusted because they're kept in core and not foo-random-crate.

[2020-05-28 00:37] withoutboats commented on #53639
Its an unsafe Sync impl on UnsafeCell, the safety guidelines are exactly the same as the safety guidelines for manually implementing Sync. The code is trivial to write and all the onus of safety is on the user whether its in core or not.

[2020-05-28 01:04] chrissimpkins commented on #72574
https://github.com/rust-lang/rust/pull/72677

[2020-05-28 01:40] dtolnay commented on #72631
Preserving a relevant concern from **@​SimonSapin** in https://github.com/rust-lang/rust/pull/72162#issuecomment-634279732:

[2020-05-28 02:05] matthiaskrgr opened #72679 "ICE: delay_span_bug const-construct-call.rs with mir-opt-level=2"
### Code
code from ./src/test/ui/consts/const_constructor/const-construct-call.rs
[code]

### Meta

rustc @ 664fcd3f046e2a6824602da0fad81e3e2bb0d409

### Error output
`RUST_BACKTRACE=full ./build/x86_64-unknown-linux-gnu/stage2/bin/rustc ./src/test/ui/consts/const_constructor/const-construct-call.rs  -Zmir-opt-level=2`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p

[2020-05-28 02:22] dtolnay commented on #57391
Cancelling because this stalled out, but a significant amount of design discussion happened after the first FCP proposal. It would be good if someone could put together a recap of the alternatives and tradeoffs and based on that propose how it's best to move forward

@rfcbot fcp cancel

[2020-05-28 02:23] dtolnay commented on #57391
Yes, this would be much more appropriate than the current documentation.

[2020-05-28 02:35] mark-i-m commented on #57391
It would be awesome if one could "bundle" together definitions so that using one brings the other into scope for the expression where it's used. For example, if one used `std::thread::sleep` and that automatically brought `Duration` into scope for the arguments only, then one could just write `std::thread::sleep(Duration::from_secs(10))`, which would alleviate my pain point...

[2020-05-28 03:17] hecool108 commented on #57771
My solution is:
1 check the last available nightly version contains  'rls'
2 `rustup toolchain add nightly-2020-05-15` it's 2020-05-15 in my case.
3 `rustup default nightly-2020-05-15` this very important step, can't make it work if you skip this.
4 `rustup component add rls`

After this, rls had been installed on my mac.

If you're like me using vs code rust extension, press shift+cmd+p, run "Rus

[2020-05-28 03:27] golddranks commented on #72660
Note: The unused lint warns separately for each unused item even for items that have been used inside another unused item. The linting for consts is in line with that, so it's not relevant to this issue, and shouldn't be unclear if the error message itself is improved.

[2020-05-28 03:42] Lucretiel commented on #72676
Another related issue: https://github.com/rust-lang/rust/pull/72398

[2020-05-28 03:56] Zenithsiz opened #72680 ""or-patterns should have already been handled" when using feature(or_patterns)"
When using the `or_patterns` feature, attempting to match on a tuple creates a compiler panic.

The following code causes the panic.
[code]
(Also available at the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3df1d388157056c52077d9265787c813))

This occurs both on the playground and on my local machine on a previous version (details below).

## Meta

Rust ve

[2020-05-28 04:25] Aaron1011 commented on #57054
@mqudsi: Can you re-test on the latest nightly?

[2020-05-28 04:59] Lucretiel commented on #60673
@Lokathor what about doing both? I think it's a common (and reasonable) default behavior of many other languages to do line-buffered on a terminal, and block-buffered otherwise. We could do the same, but then also add something like:

[code]

I'm interested in tackling an implementation for this; would a change like this be considered significant enough that I should write an RFC for it first, to

[2020-05-28 05:32] Aaron1011 commented on #41078
A similar case: This code compiles:

[code]

but this code does not:

[code]

[code]

I think the explicit type annotation is causing a higher-ranked region to be inferred, while omitting the type annotation causes a concrete region to be inferred.

However, it's extremely surprising that copy-pasting the type from the definition of `fields` *breaks* the code.

[2020-05-28 05:52] Lokathor commented on #60673
I'm not on any team, but asking on the Rust Zulip for T-Libs might be your best starting place.

[2020-05-28 07:36] RalfJung commented on #27060
A lint to detect references to packed fields (suggested by @retep998) is now available on nightly: `#![deny(unaligned_references)]`. You can use this to test how much your codebase will be affected when this gradually turns into a hard error.

[2020-05-28 08:42] refacto opened #72684 "rustdoc doesn't highlight "&&" properly"
I tried viewing this code with `rustdoc`:

[code]

I expected to see this happen: the `&&` operator to be highlighted correctly

Instead, this happened:
![20200528_10h35m34s_grim](https://user-images.githubusercontent.com/27736383/83119066-88adfe00-a0cf-11ea-955f-fdff4cfe6598.png)

### Meta

`rustc --version --verbose`: (issue also exists with nightly, `2020-05-14`)
[code]
</p>
</details>

This is

[2020-05-28 08:54] Thomasdezeeuw opened #72685 "Impossible case reached: src/librustc_ty/needs_drop.rs:111"
I can't share the code, but I have a commit at which problem surfaced in case I need to check it again.

With rustc 1.45.0-nightly (664fcd3f0 2020-05-27):

[code]

[2020-05-28 09:05] glaubitz commented on #71437
GDB generally works fine on sparc64. We're using it extensively on sparc64 to debug C/C++ programs.

Any suggestions on how to test GDB properly?

[2020-05-28 09:27] svartalf opened #72686 "False positives for dev-dependencies with unused_crate_dependencies lint"
`unused_crate_dependencies` lint introduced in https://github.com/rust-lang/rust/pull/72342 causes false positives for `[dev-dependencies]`.

To reproduce:

[code]
I expected to execute `cargo +nightly test` correctly.

Instead, this happened:

[code]

I expect `dev-dependencies` to be ignored by this lint, because they are in fact used in `tests/` modules.
"*remove the dependency or add `use vers

[2020-05-28 09:35] marmeladema commented on #50928
So to understand better what the issue with `DefId`/`HirId` is, i used the test file `src/test/rustdoc/macro-in-closure.rs` and printed the different tables:

[code]

As you can see, `DefId(0:4)` which is the closure, is associated with an `HirId` whose owner is in fact `DefId(0:3)` which is the main function.

Taking a closer look at the code, `DefId(0:4)` is created here: https://github.com/rust

[2020-05-28 09:39] petrochenkov commented on #72686
cc @jsgf
`unused_crate_dependencies` needs to be removed from the `unused` lint group, I didn't notice this when reviewing https://github.com/rust-lang/rust/pull/72342.
Otherwise it can be enabled in a blanket way without enabling `unused_crate_dependencies` specifically, which is undesirable given the amount of redundant options passed by Cargo.

[2020-05-28 10:04] leonardo-m opened #72687 "Some missing lossless char => T conversions"
Some char => T lossless conversions are missing:
[code]

[2020-05-28 10:06] retep998 commented on #65610
Summary of current situation:

In order for a symbol pulled in from a native library to be exported from a `dylib`, Rust has to know that the symbol comes from a static library. This is currently determined by the `#[link]` attribute attached to the extern block containing those symbols. The kind specified, either via the attribute directly or overridden by a build script later, will determine whe

[2020-05-28 10:27] retep998 commented on #38460
@Ericson2314 When https://github.com/rust-lang/rust/issues/58713 is implemented you will be able to guarantee a symbol comes from a certain library for a specific subset of cases.

[2020-05-28 10:27] retep998 commented on #38460
A more extreme case of this issue found in the wild: https://github.com/MSxDOS/ntapi/issues/2

[2020-05-28 10:32] vandenheuvel commented on #50764
I'm not sure that this is really a duplicate, as #26736 is now resolved but the above example fails to compile on `1.45.0-nightly (2020-05-27 664fcd3f046e2a682460)`.

[2020-05-28 10:46] Mark-Simulacrum commented on #72687
I don't really think these make a lot of sense? Converting char to u32 in a generic way already feels like it may not have been the right approach, as I can't really see a good case for a function taking either u32 or char. And that seems even more true about the other conversions. Do you have example use cases?

[2020-05-28 10:51] retep998 commented on #38460
Information on how linker order matters for msvc: https://docs.microsoft.com/en-us/cpp/build/reference/link-input-files?view=vs-2019

[2020-05-28 10:58] retep998 commented on #72653
Given that Rust's behavior matches `CommandLineToArgvW`, I'm going to say Rust is behaving as expected and the bug is on powershell's side.

[2020-05-28 11:28] o01eg commented on #72661
When I use pre-built stage0 compiler:

[code]

[2020-05-28 11:44] matklad commented on #65516
Another slightly problematic thing (again by vlad20012 ) are inner function attributes:

[code]

Strictly speaking, we can live with that, as it only requires bounded parsing of the prefix of the function. But not having that seems better.

[2020-05-28 11:45] leonardo-m commented on #72687
I don't. I'll use the u64::from(u32::from(c)) then. I close this down.

[2020-05-28 11:45] #72687 closed

[2020-05-28 12:05] antoyo commented on #72613
I was actually wrong on this one. `signed` is use for the input value, not the output type.

[2020-05-28 12:05] #72613 closed

[2020-05-28 12:07] jonas-schievink commented on #72653
Closing as expected behavior.

[2020-05-28 12:07] #72653 closed

[2020-05-28 12:10] nagisa commented on #65610
I’ve seen this mistake one too many times. And it tends to remain that way because just `-lbanana` on CLI usually works. A compiler warning would be a great way to do the stressing. For instance:

[code]

possibly could be a clippy lint too.

[2020-05-28 12:10] JamieCunliffe commented on #56475
I have had a look at implementing this in rustc_codegen_llvm and started on this so if you want to assign it to me I'll continue on.

[2020-05-28 12:25] retep998 commented on #65610
Note that if symbols are spread across multiple extern blocks, having to annotate each of them with the appropriate `#[link]` attribute can cause significant repetition in the linker command line: https://github.com/rust-lang/rust/issues/38460

[2020-05-28 12:26] mathstuf commented on #27060
Is there a Crater run planned with it being denied scheduled for those not watching this issue?

[2020-05-28 12:33] RalfJung commented on #27060
@mathstuf in fact that crater run is already queued. ;) See https://github.com/rust-lang/rust/pull/72644.

[2020-05-28 12:38] deprilula28 commented on #60231
Any progress on this?

[2020-05-28 12:39] SimonSapin commented on #27060
Is `RUSTFLAGS=-Dunaligned_references` expected to apply to dependencies, despite Cargo’s use of `--cap-lints` to normally inhibit warnings there?

[2020-05-28 12:44] nagisa commented on #65847
Duplicate of https://github.com/rust-lang/rust/issues/38460

[2020-05-28 12:44] #65847 closed

[2020-05-28 12:45] o01eg commented on #72661
This `core` was build at:
[code]

With system compiler 1.43.1 same is:

[code]

[2020-05-28 12:45] nagisa commented on #38460
This can cause linkage to fail entirely as described in #65847

[2020-05-28 12:46] Ran4 opened #72690 ""Type annotations needed" error is shown in a misleading wrong location"
This compiles just fine:

[code]

But this gives a compiler error:

[code]

[code]

It seems really weird that the second statement is affected like this?

### Meta

[code]

Empty project (created with `cargo new`), unmodified Cargo.toml (so no extra dependencies):

[code]

This issue has been assigned to @doctorn via [this comment](https://github.com/rust-lang/rust/issues/72690#issuecomment-63872

[2020-05-28 12:50] RalfJung commented on #27060
@SimonSapin I have no idea how `RUSTFLAGS` interacts with `--cap-lints`, but this lint is not doing anything special here.

[2020-05-28 13:00] wwylele commented on #72690
It is actually that the first statement has type error, but somehow the error is reported to the second statement. For example, the first statement alone reports the error correctly
[code]
[code]

and by fixing the error, the following compiles fine
[code]

[2020-05-28 13:32] o01eg commented on #72661
I suppose compiler awaits library in `/tmp/portage/dev-lang/rust-1.43.1/work/rustc-1.43.1-src/build/x86_64-unknown-linux-gnu/stage0-sysroot/lib/rust-1.43.1/rustlib/x86_64-unknown-linux-gnu/lib/libcore-17765580c343294b.rlib` and it depends on version of bootstrap compiler.

Should compiler set `libdir` to default value if `sysroot` was changed? Or maybe add argument to set `target-libdir` like it d

[2020-05-28 13:44] pnkfelix commented on #72315
Discussed with @spastorino . This is probably a duplicate of #71550, but since it is P-critical and we have not 100% confirmed that these are exactly the same bug (in part because we do not have an MCVE for #72315).

Since @spastorino has confirmed that their PR #71896 does fix both issues, I'm going to assign this bug to them, just like #71550.

[2020-05-28 14:07] withoutboats commented on #64490
One thing we've discussed in the past but I think not documented at any length is a larger reworking of unsafe pointers which this could be collapsed into. The basic concept, called "unsafe references," was this:

We would introduce a new reference type (let's say `&unsafe T` and `&unsafe mut T`, syntax to be determined), which would be like raw pointers but with a more ergonomic and safe API. One

[2020-05-28 14:15] pnkfelix commented on #72470
self-assigning, with plan to revert injecting PR before it hits beta.

[2020-05-28 14:28] kentfredric commented on #37854
Arguments like that IMO are better grounds for *lints*, not "you can't have this".

Otherwise I'd be arguing you shouldn't be allowed to have a thing.is_file(), because it sometimes isn't what you expect: Usually you just want a readable thing that *isn't* a directory, and things like pipes and symbolic links and device nodes are acceptable, even if weird... but .is_file() will likely exclude thos

[2020-05-28 14:29] nikomatsakis commented on #72545
Reading this thread, I have a few questions/comments:

* Is there any documentation as to the expected behavior around procedural macros? My impression is that there is enough back-and-forth and questions on this thread about what the expected behavior is/ought-to-be that it would make sense to have a shared document that lays out our expectations.
* How many more such discussions do we expect? On

[2020-05-28 14:31] jplatte opened #72693 "Extraneous comma in trait bound suggestion"
The following code ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=87ae1439a80eba5fe72b38e12301d29c)):

[code]

Produces an invalid suggestion:

[code]

on nightly. On stable, the error message looks a bit different but seems to also be suggesting an extra comma.

When trying to reduce this test case I found that in other cases this same lint seems to suggest

[2020-05-28 14:48] LeSeulArtichaut opened #72694 "Properly handle feature-gated lints"
At the moment, the `unsafe_op_in_unsafe_fn` lint is the only feature-gated lint. However, feature-gate checks are hard-coded for this lint. If more feature gated lints are be added in the future, having proper handling for feature-gated lint will be useful.

Here is a suggested implementation plan:
- Add a `feature_gate` field of type `Option<Symbol>` for the [`rustc_session::lint::Lint`](https://

[2020-05-28 14:56] o01eg commented on #72661
https://github.com/rust-lang/rust/blob/45127211566c53bac386b66909a830649182ab7a/src/bootstrap/builder.rs#L644-L653

While stage0 compiler can have custom libdir this function returns `lib`.

[2020-05-28 15:28] juniperkiwi commented on #54172
Should this be fixed / working right now?

I'm running nightly `rustc 1.45.0-nightly (664fcd3f0 2020-05-27)`, and the example from the OP still fails. `Foo::foo` can be resolved, but `SpecialFoo::foo` can't. Am I doing something wrong, or has this not yet been implemented or released?

[code]

[code]

[2020-05-28 15:39] alexcrichton commented on #72545
One thing that may be worth noting is that a few bugfix releases of crates have gone out now (https://github.com/dtolnay/proc-macro-hack/pull/57, https://github.com/dtolnay/syn/pull/834, https://github.com/rustwasm/wasm-bindgen/pull/2159, ...). It may be the case that since the initial release of these changes many crates have since been fixed. In that sense if these changes are indeed bugfix ones

[2020-05-28 16:03] delata commented on #72604
you people sucks. you work on free software ( or you ? ) and don't let people express their thought.
This is way open source doesn't mean any thing. It just mean the source is available.

[2020-05-28 16:06] delata commented on #72604
@andrewrk you have banned several of my previous accounts.

[2020-05-28 16:06] estebank commented on #72106
Update, not a duplicate. The output with #67460 is:

<img width="1004" alt="" src="https://user-images.githubusercontent.com/1606434/83165486-6e215800-a0c2-11ea-99ec-98fbb4065ec8.png">

[code]

We need to account for `Self` (as opposed to type parameters).

[2020-05-28 16:15] cor3ntin opened #72699 "The documentation for identifier grammar is incomplete"
My understanding is that underscore can appear at the start of a rust identifier. However `_` doesn't have the XID_Start Unicode property so the documentation might be incomplete
 https://doc.rust-lang.org/1.3.0/grammar.html#identifiers

[2020-05-28 16:20] jonas-schievink commented on #72699
That link is outdated since many years, this is the up-to-date one: https://doc.rust-lang.org/reference/identifiers.html

[2020-05-28 16:20] #72699 closed

[2020-05-28 16:43] matthewjasper commented on #72470
So, investigating this bug some more:

- Merging everything into 1 crate doesn't give a broken IR error
- `-C codegen-units=1` doesn't give a broken IR error
- `--emit llvm-ir -C no-prepopulate-passes` causes an assertion in llvm (if enabled), but works on nightly. llc then happily compiles to asm.

So reverting is the only thing that I can think of to fix this.

[2020-05-28 16:45] camsteffen commented on #68537
Ready to stabilize?

[2020-05-28 17:05] petrochenkov commented on #72686
Fixed in https://github.com/rust-lang/rust/pull/72702.

[2020-05-28 17:10] ErichDonGubler commented on #53294
It's currently possible to [use `std::io::copy` and `io::sink`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=deb1e9eafbe60681ad4ef818d0c39268) to achieve this skip.

[2020-05-28 17:10] matthewjasper commented on #70445
Is this fixed?

[2020-05-28 17:21] jsgf commented on #72686
Yeah this is the reason it's not on by default. We still need to work out if/how it can be used with cargo in a reasonable way.

Adding it to `unused` made sense to me but I didn't think through the fallout.

[2020-05-28 17:25] nikomatsakis commented on #72694
This implementation plan looks good to me -- if you think @LeSeulArtichaut that you'd like to mentor the issue, maybe tag it with E-easy and E-mentor! I'd probably extend the description above with

* some links into the code to help people find the functions in question
* a reference to your existing hard-coded support for `unsafe_op_in_unsafe_fn` lint, which I think is *basically* the model that

[2020-05-28 17:25] Mark-Simulacrum commented on #70445
I think so, this was just tracking the beta regression (and from a couple cycles ago) and the backport went in. Closing.

[2020-05-28 17:25] #70445 closed

[2020-05-28 17:34] SimonSapin commented on #72545
For what it’s worth, Servo needed one change in recent Nightlies in addition to updating syn for https://github.com/dtolnay/syn/pull/834:

In a derive proc macro, we have a function matching on a multiple variants of `syn::Type`, with a final `_ => unimplemented!()` arm. (It is only used with a finite set of known inputs.) This was panicking until we added handling for `Type::Group`.

[2020-05-28 17:55] iago-lito commented on #72604
@delata You can express your thoughts at https://users.rust-lang.org/ and https://internals.rust-lang.org/.

Also, there is a [code of conduct](https://www.rust-lang.org/policies/code-of-conduct) to respect to when discussing around open-source projects. You will be banned again if you don't stick to it.

[2020-05-28 18:18] estebank commented on #72660
In my eyes the ideal output here would be:

[code]

Making the definition of `TEST_2` be considered when considering whether `TEST` is used should be straightforward.

Hiding the lint level note is in my eyes a regression, because it hides information from the user. We present it in the first place so that people know that this is 1) a lint and 2) how to disable it if they wish.

Hiding the "canno

[2020-05-28 18:24] golddranks commented on #72660
@estebank I'm currently reading and tinkering with the error handling code in the const eval system + miri to see how it works, trying to eventually get only single error instead of two.

About hiding the lint level: on the other thread ( https://github.com/rust-lang/rust/issues/71800 ) there seemed to be significant momentum towards deprecating that lint. Because of backwards compatibility, we ca

[2020-05-28 18:31] golddranks commented on #72660
@estebank There is another error around const panicking that wasn't talked about in this issue yet, but I'm eager to hear your opinion about it:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=52b473fae95235bfa6efd3b3fe653932

Here, the error looks like this:
[code]

What do you think about the `note: this error originates in a macro (in Nightly builds, run with -Z macro-

[2020-05-28 18:46] the8472 commented on #72676
From the trait description:

This reads like it is primarily meant for human consumption. So scriptability (which I assume is the purpose of guaranteeing stability) is secondary at best. Integers are rigid enough that it shouldn't cause too much pain to guarantee specific formatting when no additional parameters are passed and even then one could envision the idea of pretty-printing very large int

[2020-05-28 19:08] jsgf commented on #72686
@svartalf Though TBH I'm a bit confused - what targets is Cargo passing dev-dependencies to aside from tests? I would have thought you case would be OK.

Hm, I think there may be another bug that `-Wunused-crate-dependencies` isn't seeing uses in `#[test]` blocks. At the very least it needs a test for that.

[2020-05-28 20:11] rajatppn commented on #72694
Hi, I would like to take this up if possible. I'm new to contributing to rust

[2020-05-28 20:32] LeSeulArtichaut commented on #72694
@rajatppn That's great! I edited the original post to give you links to the code you'll need to edit. I'd recommand that you base your work on #71862 so that you can immediately make changes for `unsafe_op_in_unsafe_fn` and use that as a test.

[2020-05-28 22:17] nikomatsakis commented on #72545
If we were to revert the change, would that then "re-break" crates like syn? Or can they accommodate both forms now.

[2020-05-28 22:25] nikomatsakis commented on #53639
What is the *harm* to putting it in core? Is it just a sense of bloat, or is there something else?

[2020-05-28 22:30] Aaron1011 commented on #72545
All of the fixes that I've seen involve adding an additional case for `Group`, so I think they should now work with and without this change.

[2020-05-28 22:31] nikomatsakis commented on #68709
So...it's been 5 months here. I think it's unlikely that we're going to take any action to further change the drop order of `Vec::truncate`. Further, Vec's documentation does state:

Therefore, I'm going to close this issue. Thanks to @mgattozzi for raising it. Feel free to re-open if you think this is unjustified.

[2020-05-28 22:31] #68709 closed

[2020-05-28 22:34] withoutboats commented on #53639
The things you actually do want, like `Lazy` are not in std, why should the thing you almost never want, that doesn't actually provide a safe abstraction over anything complicated, be there? Users trying to understand the meaning of `UnsafeCell` are now also presented with `RacyUnsafeCell`, and are expected to understand the difference in purpose.

[2020-05-28 22:45] estebank commented on #72660
It would be nice if we could have some kind of annotation similar to `#[must_use]` that would tell `rustc` not to talk about the macro-backtrace. We could also instead check against macros that come from the stdlib. I'm not sure how hard it would be to manage that, but it certainly seems like a possible improvement that can be tackled on its own.

[2020-05-28 22:59] BurntSushi commented on #53639
It might be worth noting that there is an open RFC to add a `Lazy` type to std: https://github.com/rust-lang/rfcs/pull/2788 --- I personally would very much like to see that become a thing.

I'm also sensitive to @withoutboats' concerns with respect to adding a `RacyUnsafeCell`. @SimonSapin Would the existence of a `Lazy` type in std lessen the pressure for the utility of such a type?

[2020-05-28 23:23] SimonSapin commented on #53639
No, those are separate use cases. I’m all for having `Lazy` in the standard library, but when it’s the appropriate thing to use adding a crates.io dependency is not a significant barrier as far as I’m concerned. `RacyUnsafeCell` would be used in cases where there is shared mutability with more complex synchronization.

[2020-05-28 23:41] eddyb commented on #60705
Quick update: I haven't received a response [on the final patch](https://gcc.gnu.org/pipermail/gcc-patches/2020-March/542012.html) in 2.5 months.

This means I can probably resubmit with the placeholder constant syntax removed (see my previous comment, i.e. https://github.com/rust-lang/rust/issues/60705#issuecomment-599087150), and/or maybe we can even implement some form of ADT mangling in the in

[2020-05-28 23:47] estebank commented on #72685
It seems like it might be this code

https://github.com/rust-lang/rust/blob/da57cedd215564385b1c0ea09d553121fe09c32e/src/librustc_ty/needs_drop.rs#L101-L116

@jonas-schievink do you think this might have been introduced in https://github.com/rust-lang/rust/pull/70015? (Particularly given the comment https://github.com/rust-lang/rust/pull/70015/files#r392633710.)

@Thomasdezeeuw could you try runni

[2020-05-28 23:52] delata commented on #72604
f*ck your code of conduct.
what you will do. ban me?

[2020-05-28 23:53] estebank commented on #72664
This is a shame. If someone is to take this up, you will probably have to do something similar to what we do for `format!`/`println!`: https://github.com/rust-lang/rust/pull/52649.

[2020-05-28 23:57] estebank commented on #72634
The `panic!`s `!` coerces to `()` because the whole `match` needs to evaluate as a statement, not an expression because its return value is ignored. Adding a trailing `;` "fixes" the code.

[2020-05-29 00:02] dtolnay commented on #72622
I opened about 40 of those and every one was either js-sys or time-macros-impl.

[2020-05-29 00:14] dtolnay commented on #72622
Total regressed: 709

- `rg 'js-sys-.*/src/lib\.rs' -l | wc -l` = 466 (fixed by https://github.com/dtolnay/syn/pull/834)
- `rg 'time-macros-impl-.*/src/lib\.rs' -l | wc -l` = 176 (fixed by https://github.com/dtolnay/proc-macro-hack/pull/57)

[2020-05-29 00:45] mark-i-m commented on #60705
Perhaps an MCP could be used to get it on the compiler team radar and push it through?

[2020-05-29 00:46] mark-i-m commented on #72664
@estebank I believe it is fixed by #72625?

[2020-05-29 01:11] estebank commented on #72554
Making the following change:

[code]

makes the output look correct, but I am not sure of whether that should be the fix, making it _always_ a `delay_span_bug` and continue returning the `Ok<VTable>` or make the caller return `Err(ErrorReported)` instead (which seems to me to be the correct behavior). I do not understand why this has to panic in the first place.

[2020-05-29 01:13] estebank commented on #72664
Yes, didn't see the link.

[2020-05-29 01:24] eddyb opened #72719 "Consider (re?)enabling parallelism for debuginfo tests."
AFAICT debuginfo tests are way slower than other kinds of tests due to being executed sequentially (I haven't properly checked the source but I couldn't see many threads in `htop` and it *looked* sequential).

This is especially noticeable on machines with 16 or more hardware threads, where other test suites make *visible* progress at significantly faster rates.

[2020-05-29 01:35] poliorcetics commented on #61222
@KizzyCode I made a PR for that, is the added explanation clear from you point of view ?

[2020-05-29 01:37] eddyb commented on #60705
@mark-i-m What do you mean? A Rust MCP won't make GCC devs suddenly respond to my emails.

[2020-05-29 01:39] Lucretiel opened #72721 "`LineWriter` should not fully flush its lines"
Currently, the behavior of `BufWriter` reaching a full buffer is that it calls the equivalent of `inner.write`, sending its buffered data to the wrapped writer, but not necessarily sending it all the way to the final sink. Conversely, `LineWriter` calls `flush` every time it hits a newline, which means it sends each written line to the final sink.

For example, suppose you had `LineWriter<BufWrite

[2020-05-29 01:44] eddyb commented on #72719
The other thing I've noticed before but I wasn't sure about, is that there seems to be no skipping of previously-passing tests.

[2020-05-29 01:48] mgattozzi commented on #68709
No I think this is a good enough reason and we only had tests relying on it that we changed. Since this has never been a guarantee I think this is a good reason to close 😁👍🎉

[2020-05-29 03:14] Aaron1011 commented on #72622
* root: amiquip: 1 dependents [end](https://crater-reports.s3.amazonaws.com/pr-72622/master%237726070fa755f660b5da3f82f46e07d9c6866f69/gh/ajnewlands.switchboard/log.txt) v. [start](https://crater-reports.s3.amazonaws.com/pr-72622/master%2352b605c8cb2f730e607de0777a694cd1b9bb3e15/gh/ajnewlands.switchboard/log.txt); cc @ajnewlands

root: async-graphql - 4 (0 gh, 4 crates.io) detected crates which re

[2020-05-29 03:22] mark-i-m commented on #60705
Oh wait it won't 🤯

Lol, sorry, I misunderstood.

[2020-05-29 03:28] jademcgough commented on #72171
Traced it to regression caused by a1824505d8ddada2598356eaeace3ae17ee5ec30. Should have a fix for this tomorrow.

[2020-05-29 03:30] jhpratt commented on #72622
As the maintainer of the time crate, what should I do, if anything? It's one of the largest regressions.

I've already received confirmation that running `cargo update -p proc-macro-hack` resolves the issue, so I don't think a new release is necessary — the user would still have to update to get the fix.

Realistically I don't even need this specific use, as it only saves me a little bit of code.

[2020-05-29 03:44] wez commented on #72622
I'm not sure why I've been mentioned here; what am I missing?

[2020-05-29 03:47] dagit commented on #72622
Same. I think it's some sort of spam bot or error. Definitely unwelcome and annoying.

[2020-05-29 03:56] Aaron1011 commented on #72622
@wez @dagit: I'm really sorry - the tool I used to generate the report automatically included mentions. I should have removed them before posting the report.

[2020-05-29 04:00] mwhudson opened #72723 "segfault with -C lto with rustc 1.43.0, 1.44.0 on s390x"
I'm updating rustc and cargo on Ubuntu. The build of cargo 0.44.1 on s390x with rustc 1.43.0 fails:

https://launchpad.net/~mwhudson/+archive/ubuntu/rust-stuff/+build/19366472

One of the failing tests runs this command:

[code]

I expected to see this happen: not a segfault

Instead, this happened: "Segmentation fault (core dumped)"

The backtrace from gdb is this:

[code]

src=0x1 in `#1  0x0000

[2020-05-29 04:02] mwhudson commented on #72723
One (rather obvious from the traceback) thing: removing "-C lto" from the invocation makes it pass.

The same code passes tests on all other ubuntu architectures, amd64, i386, arm64, ppc64el (not riscv64 because our rustc 1.43.0 didn't build there)

[2020-05-29 04:05] #53710 closed

[2020-05-29 04:05] #67302 closed

[2020-05-29 04:05] #66930 closed

[2020-05-29 04:05] #67558 closed

[2020-05-29 04:05] #72686 closed

[2020-05-29 04:17] Aaron1011 commented on #72622
The fallout from this change is extensive - I started trying to fix `async-graphql`, but there appears to be several layers of issues (the `async-graphql-derive` crate needs to handle `syn::Type::Group`, but it's also emitting a `#[async_trait]` invocation that has the wrong `SyntaxContext` for a `self` token due to a reparse).

I think we should revert the original PR, and work on submitting PRs

[2020-05-29 05:29] KarthikNedunchezhiyan opened #72725 "linking failed in --release"
Hi team, I am trying to include c file in rust. c files uses `snprintf`

if i compiled with `cargo build --release` i am getting the following error.

          iptable.c:(.text.add_forward_rule+0x3a): undefined reference to `__snprintf_chk'
          /workspace/zcatalyst-sparkler/target/x86_64-unknown-linux-musl/release/build/sparklet-e2025d64787d4647/out/libsparklet_tap.a(iptable.o): In function

[2020-05-29 05:42] dtolnay opened #72726 "is_x86_feature_detected! does not work with $:literal argument"
[code]

[code]

The [std::is_x86_feature_detected!](https://doc.rust-lang.org/stable/std/macro.is_x86_feature_detected.html) macro appears to work when called with a string literal argument, and works when called with a $:tt argument, but does not work with a $:literal argument. I believe that it should work all three ways.

[2020-05-29 06:03] Aaron1011 commented on #72622
I've started triaging the regressed crates here: https://hackmd.io/ItrXWRaSSquVwoJATPx3PQ

[2020-05-29 06:07] daboross commented on #72622
I was trying to fix this in `screeps-api`, but I really can't figure out what's wrong with the code. Is this an unintended regression, or could you point out what I've done wrong here, or is this `serde_derive`'s problem somehow?

[code]

For reference, it errors with

[code]

According to the rust reference, [vis metavariables are allowed to be empty](https://doc.rust-lang.org/reference/macros-by

[2020-05-29 06:44] RalfJung commented on #53639
I don't have a strong opinion here but I feel it makes sense to have this type in libcore so that we can teach it well and contrast it with other core types such as `UnsafeCell`. After all, this is replacing a core language feature. This feels like a "vocabulary type" not because it appears in public APIs but because `static mut` is already part of the language vocabulary -- and because providing

[2020-05-29 07:02] CasualX commented on #72622
Hi, I'd love to fix any 'broken' code on my end but I'm unsure what's going on here. What exactly is this issue trying to do?

I have the impression it's the proc macro hack workaround that is problematic but I'm not sure why? All I do is use a macro rules macro to expand to a `#[attribute] const NAME: Type = VALUE; VALUE`. Then the proc macro can produce the value via the attribute macro. There d

[2020-05-29 07:32] jhpratt commented on #72622
@CasualX Have you tried updating the version of proc macro hack? That's all that was necessary for the time crate.

And proc macros will be able to expand to expressions in 1.45, which is due to be released July 16!

[2020-05-29 07:52] #72476 closed

[2020-05-29 09:00] eddyb opened #72730 "Cycle error through variance computation when using `-> _`."
Reduced example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ffcbdecd32014759e9c2b83f57bcd186)):
[code]
[code]

You can see right away that it's hard to figure out what "processing" means and we should probably start a cleanup effort to add proper descriptions to queries (or at least name the query in the default message, even if it might not look pretty at

[2020-05-29 09:09] CasualX commented on #72622
@jhpratt I don't use proc macro hack because it depends on syn and quote which takes forever to compile. I learned how proc macro hack worked and implemented the bare essentials myself. I'm not a fan of unnecessary and slow to compile dependencies.

[2020-05-29 09:30] xfix commented on #72676
While `Display` is supposed to be used for "user-facing output", the current implementations for many types implementing `Display` are feasibly computer-parseable, and that shouldn't change, especially because changing those will cause failures at runtime (not during compilation).

For instance, an implementation of `Display` for `f64` shouldn't attempt to pretty-print numbers, because changing th

[2020-05-29 09:48] s97712 commented on #58554
You should not call unwrap on the set_hook callback

[2020-05-29 09:59] LeSeulArtichaut commented on #72694
Also, to show that you're working on an issue, you can send `@rustbot claim`, which will assign the issue to you.

[2020-05-29 10:08] jonas-schievink commented on #72685
Yeah, probably introduced there. Though the `erase_late_bound_regions` is probably not involved as the ICE is in the line below.

I'll take a look. I thought that only a `GeneratorWitness` would be expected there, but according to the query stack there's a `[type error]` there? I guess we need a `delay_span_bug` instead of a `bug!()` then.

[2020-05-29 10:42] Thomasdezeeuw commented on #72685
@estebank April 18th compiler has the same problem:

[code]

April 17th:

[code]

[2020-05-29 10:56] the8472 commented on #72676
Arguably you should be using an xml-serializer and xsd schemas and not assembling XML by juggling strings in std for that purpose. E.g. JSON does not support *Infinity* or *NaN* at all, while certain XSD schemas do but only with specific capitalization which `Display` already violates.

[2020-05-29 11:04] jonas-schievink commented on #72685
Because of this:

https://github.com/rust-lang/rust/blob/9cd3f1c54956e5b306567161d1965277c9ef8455/src/librustc_mir/transform/generator.rs#L696-L699

[2020-05-29 11:07] xfix commented on #72676
Even if you do use an XML serializer, using `.to_string()` sounds feasible to me (and `.to_string()` internally uses `Display` trait).

[2020-05-29 11:15] dtolnay commented on #72622
@CasualX fwiw proc-macro-hack does not depend on syn. It has no dependencies. It has dev-dependencies for compiling its test suite but downstream code does not build those.

[2020-05-29 11:16] #58692 closed

[2020-05-29 11:16] #60728 closed

[2020-05-29 11:16] #70842 closed

[2020-05-29 11:16] #72373 closed

[2020-05-29 11:29] the8472 commented on #72676
It probably shouldn't. `Display` prints `inf` while [xsd:double](http://books.xmlschemata.org/relaxng/ch19-77065.html) requires `INF`. Note that XML itself does not prescribe any number formatting, so you may be in an underdefined territory where things just happen to work by chance. Cobbling things together via std formatting may be fine for prototypes and quick-and-dirty things.

But imo it's a

[2020-05-29 11:41] petrochenkov commented on #64450
Closing as a duplicate of https://github.com/rust-lang/rust/issues/56935.

[2020-05-29 11:41] #64450 closed

[2020-05-29 11:42] petrochenkov commented on #72040
Closing as a duplicate of https://github.com/rust-lang/rust/issues/56935.

[2020-05-29 11:42] #72040 closed

[2020-05-29 11:55] pnkfelix commented on #70924
After discussing with @eddyb , I have managed to replicate this on a local `rustc` build, and have a plausible fix in a prototype branch. Will be posting soon.

[2020-05-29 12:53] withoutboats commented on #53639
I went for a walk this morning and reflected on this issue, and I have a better articulation of my objection as well as a counterproposal. My concern with RacyUnsafeCell has two prongs:

1. As I alluded to earlier, muddying the waters for learners around what `UnsafeCell` is. The purpose of `UnsafeCell` can already be opaque to many users; adding `RacyUnsafeCell`, which is different only in that i

[2020-05-29 13:00] kornelski commented on #42869
This continues to be both an annoyance, and a source of bugs.

https://github.com/webdesus/fs_extra/issues/29

[2020-05-29 13:12] chrissimpkins commented on #72373
Merged.  Thanks for the report!

[2020-05-29 13:24] RalfJung commented on #53639
I quite like that idea. :)
I suppose reads from `FOO` (if the type is `Copy`) and creating references would be unsafe, similar to `static mut`?

[2020-05-29 13:32] withoutboats commented on #53639
I thought it would be sufficient that (in these patterns) you just have an unsafe cell, so you can't actually read the data inside of it without calling `UnsafeCell::get`. So I was imagining that unsafe statics would behave like normal statics once they've been declared. But maybe that's not sufficient.

[2020-05-29 13:41] RalfJung commented on #53639
I think that would be unsound. Imagine:
[code]
Now spawn multiple threads, and call `set` from both. Now you got a data race, and thus UB.

[2020-05-29 13:46] withoutboats commented on #53639
It's true, but you've written `unsafe static` so its fine. If you want to use `unsafe static FOO: Cell` you've created the invariant for `FOO` that you only ever access `FOO` from a single thread.

[2020-05-29 13:51] Lokathor commented on #53639
That seems like a footgun for newer users if you're not requiring unsafe on access once you wrote unsafe on declaration.

[2020-05-29 13:56] leo60228 commented on #72622
Wait, what? I don't think I've ever used the name `testing` for a proc macro, much less published it...

[2020-05-29 13:56] leo60228 commented on #72622
Yeah, the `testing` crate isn't mine and isn't even a proc macro.

[2020-05-29 13:59] leo60228 commented on #72622
Oh, it's this repo I made to help someone on Discord: https://github.com/leo60228/axiom-demo
That's not a proc macro, though. No idea why it's a root.

[2020-05-29 13:59] SimonSapin commented on #53639
@withoutboats’s objections to `RacyUnsafeCell` in https://github.com/rust-lang/rust/issues/53639#issuecomment-635956490 sound reasonable to me. We can live without it in the standard library. It’s less convenient to have to re-define it where it is needed, but it’s not that long and those cases are rare. Rare enough that they’re not worth adding a *language* feature in my opinion.

In short, I’m o

[2020-05-29 14:00] RalfJung commented on #53639
@withoutboats I agree with @Lokathor. That feels like it's resolving the footgun of `static mut` but introducing a new footgun instead.

IMO `unsafe static` should be like `static mut` except that you cannot directly assign to it or take a mutable reference.

[2020-05-29 14:03] withoutboats commented on #53639
@RalfJung @Lokathor yea, I agree that that sounds reasonable. There's no use case I can think of an unsafe static where you wouldn't want to confirm you're upholding the invariant

[2020-05-29 14:05] git-blame commented on #72653
There are numerous problems with powershell quoting that is exarcebated with backslash. One of them is that ps will remove quotes if there are no spaces in the argument as detailed here: https://github.com/PowerShell/PowerShell/issues/11295#issuecomment-563262733

* calling with **-p "a\\\\" -v**, your binary receives the command-line string **\<execname\> -p a\\\\  -v**
* but calling with **-p "a

[2020-05-29 14:10] ddevault opened #72735 "thread '<unnamed>' panicked at 'wanted an rlib: "file too small to be an archive"', src/librustc_codegen_llvm/back/lto.rs:113:27"
I am building the gles3 branch of https://github.com/cyclopsian/alacritty on an aarch64-linux-musl host running Alpine Linux.

<details>
<summary>Expand for log</summary>
<pre>
   Compiling alacritty v0.4.2-dev (/home/sircmpwn/sources/alacritty/alacritty)
     Running `rustc --crate-name alacritty --edition=2018 alacritty/src/main.rs --error-format=json --json=diagnostic-rendered-ansi --crate-type

[2020-05-29 14:23] estebank commented on #72685
Ok, so this is a pre-existing bug, not introduced in the PR I linked.

[2020-05-29 14:25] estebank commented on #72685
Sadly we need to account for TyErr everywhere where you fail if you expect something else. delay_span_bug is appropriate because an error will have been emitted already.

[2020-05-29 14:38] Patryk27 commented on #52468
@rustbot claim

[2020-05-29 14:41] #72231 closed

[2020-05-29 14:41] #72232 closed

[2020-05-29 15:22] mhoseinzadeh opened #72739 "catch_unwind doesn't catch panics from thread spawned inside the closure"
Although the following example is poorly implemented, it would be nice if Rust disallowed `thread::spawn` from inside a `catch_unwind` because logically it might be impossible to catch the panic, unless the thread joins the main thread inside the closure.

[code]

[2020-05-29 15:24] Mark-Simulacrum commented on #72739
This is expected -- threads already catch unwinding inside them, see docs for the join method: https://doc.rust-lang.org/nightly/std/thread/struct.JoinHandle.html#method.join

[2020-05-29 15:30] #72739 closed

[2020-05-29 15:30] mhoseinzadeh commented on #72739
Is it possible at all to disallow it? For example, a random function that takes a closure as its argument disallowing spawning threads?

[2020-05-29 16:35] NotWearingPants opened #72742 "Rustc help tips create a loop with borrowing"
I tried compiling this code:
[code]
which resulted in the following output of rustc:
[code]
So the compiler says **`help: consider borrowing here: &vec!(1, 2, 3)[..]`**
So I tried adding a borrow and recompiling the code:
[code]
which resulted in:
[code]
so the compiler says **`help: consider removing the borrow: vec!(1, 2, 3)[..]`**

and so I'm stuck in a loop. **The compiler can't decide whether

[2020-05-29 16:40] SimonSapin commented on #53639
I really like that one. The rule would be that the type of `static` items must either implement `Sync` or be `UnsafeCell<Foo>`, right? Should the latter case also requires `Foo: Sync`?

It achieves the same as implementing `Sync` for `UnsafeCell`, without the potential breakage for types that with an `UnsafeCell` field:

[2020-05-29 17:06] pusateri commented on #59944
I rewrote my code so as not to hit this so I can't say if it persists.

[2020-05-29 17:07] euclio commented on #72684
@rustbot claim

[2020-05-29 17:07] tmiasko opened #72744 "Linker invocation failed with: nul byte found in provided data"
In rollup #72681, the long-linker-command-lines test failed on macOS x86_64-apple with:

[code]

Which means that rustc attempted to invoke a linker, but incorrectly provided a string with a null byte to a `Command` through `arg`, `cwd`, `env`.

Hypothetical reproduction steps (would be nice to attempt to reproduce on macOS):

[code]

[2020-05-29 18:05] the8472 commented on #72721
Shouldn't flushing the current writer or shoveling over the remaining buffer and then `mem::replace(&mut self, other)` allow switching?

[2020-05-29 18:26] rljacobson opened #72748 "Duplicated display of items under "Implementations on Foreign Types" is confusing."
Consider this example of the [Extend trait](https://doc.rust-lang.org/std/iter/trait.Extend.html#impl-Extend%3C(%26%27a%20K%2C%20%26%27a%20V)%3E-for-HashMap%3CK%2C%20V%2C%20S%3E) which lists `HashSet<T, S>` and `HashMap<K, V, S>` twice each:
<img width="202" alt="Screen Shot 2020-05-29 at 1 58 47 PM" src="https://user-images.githubusercontent.com/1412598/83291819-f97c1580-a1b6-11ea-94cf-52c48dc453

[2020-05-29 18:29] ehuss commented on #72748
Thanks for the report.  This looks like an issue for rustdoc which lives in the rust-lang/rust repository, so I have transferred it over there.

[2020-05-29 18:43] alexcrichton opened #72751 "Suboptimal debug codegen for integer division with a constant rhs"
Codegen for division in general needs to generate code to panic if the division will panic (e.g. divide by zero or integer overflow). In the case of constants, however, it looks like rustc *almost* optimizes debug codegen but not quite. For example this code:

[code]

[generates this IR](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=754a67acfbac34f972423f4b28fa4da2) in de

[2020-05-29 18:56] matthewjasper commented on #72730
#72707 had to do this to because I couldn't get the default impl to work with `min_specialization`

[2020-05-29 19:09] rizhang2 opened #72753 "read_exact infinite loops if buffer passed in is bigger than contents of the file"
For example:
[code]
https://github.com/rust-lang/rust/blob/945d110e059ed9d77d04e03829e41c641625e478/src/libstd/io/mod.rs#L785

Is this intended to happen? I can see that it's possible for self.read to return 0 even though there is more to read so this is not trivial to fix. Maybe we can add some kind of timeout?

At the very least the documentation should be updated to reflect this.

[2020-05-29 19:33] NotWearingPants opened #72755 "Rustc keeps suggesting to increase type_length_limit instead of giving the final value"
I tried compiling this code:

[code]
(don't ask why... lol)

I expected it to compile and print 1, because I just have some maps which don't affect the vector.

Instead, the compiler printed:
[code]

I have no idea why it fails, but I do as it says and add the `type_length_limit="1376294"` line to the top of the file.

Recompiling, it gives the same output but now with `type_length_limit="2752543"

[2020-05-29 20:31] coriolinus commented on #66724
One use case comes straight from Wikipedia: the [A* algorithm](https://en.wikipedia.org/wiki/A*_search_algorithm#Pseudocode)  specifically suggests using a heap for `openSet`, and it assumes that `.contains` is available:

[code]

IMO `.remove` and `.contains` are reasonable operations to add to any container; they are fundamental, and do not clutter the API.

[2020-05-29 20:31] rodrigorc opened #72758 "Wasm with lto and use of f32::sin() gets an unknown reference to `env` module"
This bug was wrongly posted at [wasm-bindgen](https://github.com/rustwasm/wasm-bindgen/issues/2160), but it looks like it is a compiler issue.

The following example fails to create a proper module, with either:
* rustc 1.44.0-beta.4 (02c25b359 2020-05-23)
* rustc 1.45.0-nightly (a74d1862d 2020-05-14)
(stable rustc 1.43.1 works fine).

### `Cargo.toml`
[code]
### `src/lib.rs`
[code]
With this comm

[2020-05-29 20:35] sfackler commented on #72753
That should not happen with any correct implementation of Read. If the file is smaller than the buffer, `read` will return 0, which will break out of the loop: https://github.com/rust-lang/rust/blob/945d110e059ed9d77d04e03829e41c641625e478/src/libstd/io/mod.rs#L788.

[2020-05-29 20:46] alexcrichton commented on #72758
For some more background on this issue, this is a standalone reproduction:

[code]

where the issue can be seen with:

[code]

Here the bug is that, in beta (and onwards) with LTO turned on there's an unresolved symbol.

Bisection pointed out https://github.com/rust-lang/rust/pull/70846 as the cause of the bug here. The problem appears to be that previously compiler-builtins was optimized enough s

[2020-05-29 20:56] Mark-Simulacrum commented on #72739
I don't think so, but I'm not sure I'm following you. Certainly you can e.g. have non-Send values in which case threads would not get spawned with that value. Generally Rust takes the approach that "threads are always there" though in terms of the guarantees it tries to offer.

If you have further questions, I would suggest users.rust-lang.org -- there's more people there who can help with questio

[2020-05-29 21:03] euclio commented on #72684
Looks like this was broken by #63709. cc @matklad

Not sure what the best course of action is here. Seems like we could move the syntax highlighting to use token trees, but that seems like it doesn't preserve whitespace information?

[2020-05-29 21:15] RalfJung opened #72760 "OsString::from_wide (in Windows OsStringExt) is unsound"
The following program causes UB:
[code]
Miri says:
[code]

The problem is this code:

https://github.com/rust-lang/rust/blob/96dd4690c3aa70ec312448c3f2d50e6dc6fb87df/src/libstd/sys_common/wtf8.rs#L293-L305

This calls `push_code_point_unchecked` unless the new code point is in `0xDC00..=0xDFFF`, but what about surrogates in `0xD800..0xDC00`?

This code is unchanged since its introduction in https:

[2020-05-29 22:02] rizhang2 commented on #72753
Oh I see, we may have implemented something incorrectly. Sorry about that

[2020-05-29 22:02] #72753 closed

[2020-05-29 22:02] leonardo-m opened #72762 "narrowing_rem ?"
To remove some unsafe "as" casts and keep the code safe (lossless) and nice, sometimes I'd like to use a reminder+downcast. So what do you think about adding this to the stdlib?

[code]
An example usage:

[code]

D language performs this lossless cast operation automatically and transparently (while it doesn't perform lossy casts silently):

[code]

[2020-05-29 22:44] Lucretiel commented on #72721
So the problem is that, given this `LineWriter<StdoutRaw>`, the only way to extract the `StdoutRaw` is with `into_inner`, which takes `self` by value, which makes it unsuitable for swapping in an enum. Conceivably we could use `LineWriter<Maybe<StdoutRaw>>` (where `Maybe` is an existing `Option`-like wrapper that implements `io::Write`), but that leaves open the possibility of `stdout` being in an

[2020-05-29 23:43] #72322 closed

[2020-05-29 23:43] #37707 closed

[2020-05-29 23:43] #47128 closed

[2020-05-29 23:43] #63220 closed

[2020-05-29 23:43] #68532 closed

[2020-05-29 23:43] #70121 closed

[2020-05-29 23:43] #71042 closed

[2020-05-30 00:02] eloraiby opened #72763 "Rust is eagerly evaluating range causing inconsistencies"
Following this small example:
[code]
If that's the normal behaviour, it should be documented in https://doc.rust-lang.org/std/ops/struct.Range.html, in the language references and tutorials.

The behaviour as it stands is in contrast of what other languages implements and is confusing.

[2020-05-30 00:24] jonas-schievink commented on #72763
Nothing in Rust is lazily evaluated. Evaluation order of language constructs like `for` and the range syntax is in scope of https://github.com/rust-lang/reference/.

[2020-05-30 00:24] #72763 closed

[2020-05-30 00:44] eloraiby commented on #72763
@jonas-schievink you failed to provide where in that reference! - if it's in there -

[2020-05-30 00:49] jonas-schievink commented on #72763
It isn't documented yet – but this is being tracked in https://github.com/rust-lang/reference/issues/248

[2020-05-30 01:11] eloraiby commented on #72763
thanks @jonas-schievink

[2020-05-30 01:24] kaifoon opened #72792 "Rust-docs missing, can’t install on FreeBSD12.1 in Rust 1.43.1"
Rust-docs missing, can’t install on FreeBSD12.1 in Rust `1.43.1.
The error is as follows：

`  ✘ ⚡ root@saraunix  ~  rustup update stable
info: syncing channel updates for 'stable-x86_64-unknown-freebsd'

  stable-x86_64-unknown-freebsd unchanged - rustc 1.43.1 (8d69840ab 2020-05-04)

info: checking for self-updates
 ⚡ root@saraunix  ~  rustup component add rust-docs
error: toolchain 'stable-x8

[2020-05-30 01:33] purpleposeidon opened #72765 "rustdoc fails to compile lewton with sccache"
[code]

I suspect it is caused by `crate-type = ["lib", "staticlib"]`, but I have not tested this.

[2020-05-30 01:33] purpleposeidon commented on #72765
Lewton issue: https://github.com/RustAudio/lewton/issues/78

[2020-05-30 01:42] jonas-schievink commented on #72765
Looks like an sccache bug

[2020-05-30 02:04] ivan opened #72766 "Missing .await causes ICE / StableHasher: unexpected region '_#2r"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

https://github.com/rust-lang/rust/pull/72450 may be related, but I don't think this is the same bug because the above ICEs with nightly-2020-05-29.

[2020-05-30 02:24] KodrAus commented on #53485
With #72568 I think an `Ord` bound is quite compelling.

[2020-05-30 02:40] est31 commented on #61935
Due to [this](https://www.reddit.com/r/rust/comments/gt067a/implementing_a_trait_only_for_types_satisfying_a/) reddit post I tested it again and now the compile error is gone. Good job guys and girls!

[2020-05-30 03:24] #66406 closed

[2020-05-30 03:24] #72106 closed

[2020-05-30 03:42] JohnTitor commented on #72766
cc @csmoe

[2020-05-30 04:02] jyn514 opened #72769 "rustdoc fails to link to private items without warning"
I tried this code:

[code]

I expected to see this happen:
[code]
or preferably
[code]

Instead, this happened: The crate documents without warnings, but does not generate links: `See also [g()][crate::g] `

### Meta

[code]

@rustbot modify labels: T-rustdoc A-intra-doc-links

[2020-05-30 04:03] jyn514 commented on #72769
I'm interested in fixing this if someone is willing to mentor, presumably I'd start somewhere in `src/librustdoc/passes/collect_intra_doc_links.rs`?

[2020-05-30 04:42] jyn514 commented on #72769
Related to https://github.com/rust-lang/rust/issues/65697, but without `--document-private-items` involved.

[2020-05-30 06:36] SimonSapin commented on #72760
`0xD800..0xDC00` is excluded from *Unicode scalar values* a.k.a. `char`, but it’s fine as a *Unicode code point*.

I think this bug is not in the contract of `push_code_point_unchecked` (which is private anyway) but in its implementation, namely going through `char`. The fix is to either duplicate the logic of `char::encode_utf8` into `wtf8.rs`, or (to avoid duplication) move that logic to a new f

[2020-05-30 06:49] SimonSapin commented on #72760
I would classify the priority of this bug as low.

Although this call to `char::from_u32_unchecked` is UB, I expect Miri checking for it explicitly is the only case where that has any consequence in today’s implementation:

* `char::encode_utf8` behaves as expected (for the purpose of WTF-8) in the surrogate range and does not exploit this UB
* The "layout" of `char` in rustc excludes values beyon

[2020-05-30 06:57] Lonami commented on #72762
Why not the following?
[code]

[2020-05-30 07:01] SimonSapin commented on #72760
By the way, the docs at https://doc.rust-lang.org/std/char/fn.from_u32_unchecked.html#safety feel insufficient:

Which values are invalid?

----

Similarly, https://doc.rust-lang.org/std/char/index.html and https://doc.rust-lang.org/std/primitive.char.html say that `char` represents Unicode Scalar values, but I couldn’t find it documented anywhere that constructing an out of range `char` is Undefi

[2020-05-30 07:17] leonardo-m commented on #72762
Because it contains a naked "as" in user code.

[2020-05-30 07:18] RalfJung commented on #72760
I agree the impact is low, but it's not just Miri -- this blocks https://github.com/rust-lang/rust/pull/72683, which is how I discovered the problem.

That would be https://doc.rust-lang.org/nightly/reference/behavior-considered-undefined.html

[2020-05-30 07:20] RalfJung commented on #72760
But then what is "unchecked" about it? Elsewhere in that file the code is careful not to construct a `char` from a `CodePoint` without checking for surrogates:

https://github.com/rust-lang/rust/blob/0e9e4083100aa3ebf09b8f1ace0348cb37475eb9/src/libstd/sys_common/wtf8.rs#L92-L97

That made me assume the author was aware that surrogates in `char` are UB.

[2020-05-30 08:06] Lonami commented on #72762
There is nothing wrong with `as` in user code, it's not `unsafe` to use. Furthermore, you probably know that the the RHS fits in the type you will be casting after, although I can see how your proposed implementation would guarantee this to hold.

[2020-05-30 08:20] leonardo-m commented on #72762
It's just a matter of how you define "unsafe". If you use a narrow definition of memory safety, then you're right. But Rust designers have understood that's a insufficient definition. A cast from floating point to integral value was undefined behaviour. We have patched this problem, leaving a escape hatch (to_int_unchecked). The narrowing cast between two integral values using "as" is well defined

[2020-05-30 08:58] SimonSapin commented on #72760
The `Wtf8` type contains a (generalized-UTF-8-encoded) sequence of code point (including potentially surrogates) that doesn’t form a surrogate *pair*.  `push_code_point_unchecked` doesn’t check for surrogate pairs.

`CodePoint::to_char` is a public method that is documented as returning a scalar value, therefore excluding all surrogates.

Ok I looked into it, there are three different people invol

[2020-05-30 09:05] RalfJung commented on #72760
Okay, so the fix would be to revert the part of #32204 that removed `encode_utf8_raw`?

[2020-05-30 09:07] SimonSapin commented on #72467
I confirm that https://github.com/servo/servo/issues/26648 does not appear to reproduce in today’s Nightly (with https://github.com/rust-lang/rust/pull/72506).

[2020-05-30 09:18] hanna-kruppe opened #72774 "Refactor improper_ctypes to separate "UCG questions" from linting decisions"
(Elaborating on https://github.com/rust-lang/rust/issues/66220#issuecomment-557537105)

I think that the current state of `improper_ctypes` is difficult to maintain and extend -- especially once we add [more lints that are similar but distinct](https://github.com/rust-lang/rust/pull/72700) -- because it's a big pile of mud that interleaving several different concerns: UCG-ish questions about ABI a

[2020-05-30 09:26] SimonSapin commented on #72760
That or copy `encode_utf8_raw` into `wtf8.rs`. I find them both not great, so meh.

[2020-05-30 09:30] dylanmckay commented on #44052
Is there a process/example that I could look at cherry-picking AVR fixes from LLVM master into the Rust LLVM fork?

Also, does Rust still track LLVM master? From the looks of it, it tracks the current release plus some cherry-picked fixes. Are PRs to update the LLVM version to master still accepted?

[2020-05-30 09:48] avl commented on #39352
For people coming here with a similar problem, looking for a workaround, I've noticed that [include_bytes](https://doc.rust-lang.org/std/macro.include_bytes.html) does not slow down compiles as much.

I had a case where I needed to include 100000 strings in a program. Initially I made a static array of them, but this was very slow to compile. I changed it to use two [include_bytes](https://doc.rus

[2020-05-30 10:03] RalfJung commented on #72760
Even with that done, there's still UB in another testcase:
[code]

This is converting something to a `char` before calling `encode_utf16` -- so probably the same issue as the `encode_utf8` above, just for a different encoding.

[2020-05-30 10:22] mati865 commented on #44052
@dylanmckay

As you have noticed it tracks releases now.

I don't think so but cc @nikic

[2020-05-30 11:13] Nadrieril commented on #72467
@kvark Can you confirm this is fixed for you on latest nightly?

[2020-05-30 11:29] #72590 closed

[2020-05-30 11:29] #72574 closed

[2020-05-30 12:18] GuillaumeGomez commented on #72684
I don't think whitespace is preserved in token trees, indeed. :-/

[2020-05-30 12:24] euclio commented on #72684
It my be possible to iterate & classify tokens, emit the source as bytes, then iterate the tokens backwards to insert the HTML spans after the fact. That would require reading all the tokens into memory, though.

[2020-05-30 12:27] GuillaumeGomez commented on #50146
@ollie27 Litterally all C bindings. Sometimes, to improve the API, you have to rename things and call a few functions from the C library inside a same function. Or just the renaming might be confusing sometimes (it happened a lot for me when using `rust-sdl2`).

[2020-05-30 12:31] GuillaumeGomez commented on #50146
@lzutao doc alias [tests](https://github.com/rust-lang/rust/blob/c4d9318be6a493da4c6aa307dd4de7e24a15120a/src/test/rustdoc-js/doc-alias.rs#L22-L23) seem to say the opposite. ;)

Maybe just try to update your nightly version?

[2020-05-30 13:23] varkor commented on #61935
Let's make sure we add a regression test.

[2020-05-30 13:39] LeSeulArtichaut commented on #71668
Step 1 can now be checked since #71862 landed.

[2020-05-30 13:43] danieleades commented on #63033
this is going to become a problem now that #72459 is merged.

It makes it impossible to implement `IntoFuture` for types with lifetimes, when the future that's returned is unnameable.

consider

[code]

[2020-05-30 13:46] marmeladema commented on #50928
Once #72777 and #72781 have landed, `rustdoc` should be free of `NodeId`.

In order to avoid re-introducing `NodeId` by mistake, would it be valuable to remove all `NodeId` related methods in hir map? The only remaining user of `NodeId` seems to be `save_analysis` and it can technically use the underlying `Definitions` object to access `NodeId`s.

[2020-05-30 13:57] jonas-schievink commented on #72765
Closing since this isn't our bug, but let me know if you disagree

[2020-05-30 13:57] #72765 closed

[2020-05-30 14:17] est31 commented on #44052
@dylanmckay there are a bunch of fixes on the LLVM fork of Rust compared to the 10.0 release: https://github.com/rust-lang/llvm-project/commits/rustc/10.0-2020-05-05

[2020-05-30 14:27] vandenheuvel opened #72783 ""Unnecessary" braces have an influence"
On `1.45.0-nightly (2020-05-29 4bd32c98047a809ba5fd)`
[code]
Intuitively, I would expect these braces to be redundant **and also have no influence**, but they do. The compiler expects a `()` type and then considers the minus sign a unary operator.
[code]

It seems to me that either the error message about the braces being redundant is incorrect or misleding, or something more nefarious seems to be

[2020-05-30 15:06] RalfJung commented on #72440
The tracking issue should also notice that stabilizing *any* of the `f32`/`f64` methods is blocked on stabilizing floating point in const at all (https://github.com/rust-lang/rust/issues/57241).

[2020-05-30 16:14] benesch commented on #54172
I believe this issue was incorrectly closed. The linked PR makes these links work inside of the trait impl block itself. But this issue is also about making those links work from outside of the trait impl block.

@xliiv do you agree?

[2020-05-30 16:35] #72484 closed

[2020-05-30 16:35] #25708 closed

[2020-05-30 16:35] #72278 closed

[2020-05-30 16:35] #72570 closed

[2020-05-30 16:35] #67552 closed

[2020-05-30 16:37] alex commented on #72751
I assume the task here is teaching the MIR optimizer to constant fold `false && x` to `false`? If someone can suggest where in the codebase such an optimization might live, I'd be interested to take a look.

[2020-05-30 16:55] tspiteri opened #72787 "const generic: unclear why "type annotations needed" error"
I'm experimenting with replacing typenum with const generics, and replacing constraints involving constant generics being compared to other constant generics. I have gotten a little further recently, probably because of the recent merging of lazy normalization PRs. I have just stumbled upon a new issue.

[code]
This gives the error
[code]
In this specific case, replacing `IsLessOrEqual<{ 8 - I },

[2020-05-30 16:57] xliiv commented on #54172
I'm leaning toward this opinion.

[2020-05-30 18:53] tromey commented on #71437
Seeing if gdb was working properly is just the first step.  Since it's working, there's no easy road any more, just looking at the debug info and/or debugging gdb to see where the bug lies.

[2020-05-30 19:01] JohnTitor commented on #60033
@GuillaumeGomez So, IIUC we expect it's done by this config?
https://github.com/rust-lang/highfive/blob/4966ceffefe8eba2756c84e7dc17d5cca9fa431f/highfive/configs/rust-lang/rust.json#L53

But I'm unsure if that config runs ui tests nowadays. And it seems our highfive fails to add the label when opened PRs that touch rustdoc related things, I doubt this is the cause.
Also, this is a nit point but th

[2020-05-30 19:04] kvark commented on #72467
Looks to be [passing](https://github.com/gfx-rs/wgpu-native/pull/30/checks?check_run_id=723549182) now, thank you!

[2020-05-30 19:09] kinnison commented on #65983
For anyone reading this, I ended up unable to continue with this work, so the job is still entirely open for anyone to take.

[2020-05-30 19:16] #72467 closed

[2020-05-30 19:17] BatmanAoD commented on #58760
I think this issue should be closed now that the [FFI-unwind project group](https://github.com/rust-lang/project-ffi-unwind) exists and is working on [an RFC to replace these attributes](https://github.com/rust-lang/project-ffi-unwind/blob/master/rfcs/0000-c-unwind-abi.md).

@koute ^ The above links will be useful to you if you are still working on the project you described and have not already he

[2020-05-30 19:30] Mark-Simulacrum commented on #55866
Hm seems like this has been fixed so I'm going to go ahead and close.

[2020-05-30 19:30] #55866 closed

[2020-05-30 19:30] #51422 closed

[2020-05-30 19:32] Mark-Simulacrum commented on #57148
I'm going to go ahead and close this as I suspect it's *extremely* rare that this happens given that we haven't had other reports, if it is still a bug. Regardless it's probably in rustup, not the packaging scripts themselves, so should be filed there.

[2020-05-30 19:32] #57148 closed

[2020-05-30 19:32] SNCPlay42 opened #72793 "ICE (OutputTypeParameterMismatch) with type_alias_impl_trait"
### Code

**Here's MCVE: https://github.com/rust-lang/rust/issues/72793#issuecomment-637043261** (Edited by JohnTitor)

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4dd04b40b191790488b43b7b38f83aa2)

### Error output

[code]

Prettied a bit:

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-05-30 19:33] Mark-Simulacrum commented on #72792
Yep, this is essentially because we don't have CI time to build docs for all of the platforms. See https://github.com/rust-lang/rust/issues/69525 which I'm closing this in favor of -- I think that's the "canonical" issue even if that's not super clear based on it's content, and I think there was another one that I can't find right now...

[2020-05-30 19:33] #72792 closed

[2020-05-30 19:39] Patryk27 commented on #72793
Just for reference - works fine with explicit lifetimes:
[code]

[2020-05-30 19:40] SNCPlay42 commented on #72793
@rustbot modify labels: +requires-nightly +F-type_alias_impl_trait

[2020-05-30 20:03] nu8 commented on #44650
Yes, this is true. The Microsoft C Runtime was updated in 2008 to use improved
parsing of command line arguments:

<http://daviddeley.com/autohotkey/parameters/parameters.htm#WINCRULES>

Namely, the `__p___argv` function, which populates `argv` in a C program. Sadly
`__p___argv` is an internal function, so it is not available to Rust:

<https://docs.microsoft.com/cpp/c-runtime-library/internal-crt

[2020-05-30 20:29] OddCoincidence commented on #72694
@rajatppn Are you still working on this? If not, I'd like to claim it.

[2020-05-30 21:25] petrochenkov commented on #72545
https://github.com/rust-lang/rust/pull/72388 was reverted in https://github.com/rust-lang/rust/pull/72724, so this is no longer a regression.

[2020-05-30 21:31] petrochenkov commented on #72545
@dtolnay

I see.
So, the "rule" here is that `$:ident` is represented as `Group(Delimiter::None)` in fn-like macros because token streams are passed to them precisely, and as `Ident` in attribute/derive macros because the input stream goes through stringification in that case (which was fixed by https://github.com/rust-lang/rust/pull/72388).

So libraries that do parsing for proc macros *in genera

[2020-05-30 21:33] petrochenkov commented on #72545
@nikomatsakis

I'll try to write out what I know about this case tomorrow.

[2020-05-30 22:13] jonas-schievink opened #72797 "`InstCombine` can incorrectly deinitialize locals that are later used"
Since https://github.com/rust-lang/rust/pull/72093 InstCombine can now introduce `Operand::Move` where there was none before, without checking that the value is in fact not used afterwards. This may cause a value to be marked as uninitialized by the `MaybeInitializedLocals` dataflow, but still be used in that uninitialized state.

If InstCombine ran before the generator transform this would be acu

[2020-05-30 22:17] IsaacWoods opened #72798 "Calling a function pointer from llvm_asm no longer compiles in recent nightlies"
In recent nightlies (first detected in  `rustc 1.45.0-nightly (4bd32c980 2020-05-29)`, but likely before that but went untested due to unavailable components), this no longer compiles:
[code]
with the error:
[code]

Worse, this incorrect version seems to outright crash LLVM:
[code]

with the output (complete):
[code]

@rustbot modify labels: +A-inline-assembly and +A-LLVM

[2020-05-30 22:31] Mark-Simulacrum commented on #72798
I suspect this is probably due to the LLVM upgrade, but would be good to confirm. Regardless I believe we're in "not supporting llvm_asm" mode right now, right @Amanieu?

[2020-05-30 22:59] chrissimpkins commented on #72641
@rustbot claim

[2020-05-30 23:06] Diggsey commented on #59337
I just ran into this too: in relation to async/await, but in a situation that does not require a nightly compiler:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c0e8210afc5a1c7271064b7607c584b6

I think the "requires-nightly" label should be removed as this is clearly a broader problem that affects all closures.

[2020-05-30 23:17] chrissimpkins commented on #72641
Here is where I am with the error message and suggestion in a case-insensitive match:

[code]

Thoughts about broadening to more std lib types?  IIUC, under the conditions: (1) not explicitly brought into scope; (2) not defined in the Rust prelude; (3) not a primitive type, misspelled std lib types result in the "not found in this scope" message with no suggestion.

[2020-05-30 23:29] poliorcetics commented on #42671
I am willing to do the work about `contains_ref` but would it be accepted ? Creating it means ensuring it works forever, but if someone from the relevant team can confirm it is ok for `contains_ref` to be added, I will tackle it.

[2020-05-31 00:20] jonas-schievink opened #72800 "`SimplifyArmIdentity` can cause use-after-moves in MIR"
Reduced example diff from `<core::slice::Iter<'a, T> as Iterator>::find_map`:

[code]

Here, the `move _9` makes `_9` uninitialized (in `MaybeInitializedLocals`), but the next statement immediately uses it again via `discriminant(_9)`.

I do not believe that this is currently a soundness issue, as no analyses other than the generator transform (which runs earlier) should rely on this data. It *is*

[2020-05-31 00:23] estebank commented on #72742
For reference, what you likely want to do is one of the following

[code]

[Bare slices (`[_]`) are `!Sized` (unsized)](https://doc.rust-lang.org/1.2.0/book/unsized-types.html) which means they cannot be the type of a local binding. You _can_ give a binding a slice type (`&[_]`), because that's morally equivalent to a pointer (with sizing info), which has a compile time determined size, as all bor

[2020-05-31 00:26] Aaron1011 commented on #72622
One of the failing crates has [this concerning code](https://github.com/sammhicks/face-generator/blob/adf493715e067c27f375ca512897cb91737ccfc9/src/slider.rs#L99-L104):

[code]

it's invoked [like this](https://github.com/sammhicks/face-generator/blob/adf493715e067c27f375ca512897cb91737ccfc9/src/parts/mod.rs#L52-L61):

[code]

This is `macro_rules` macro that has call-site hygiene for local variabl

[2020-05-31 00:41] Amanieu commented on #72798
This has never worked since `foo` is a ZST function type. You need to cast `foo` to a `usize` before passing it to the asm.

[2020-05-31 00:44] Amanieu commented on #72798
Oh wait I see you're casting it to a function pointer first, so that's not the issue.

Yes this is probably due to the LLVM upgrade. You need to use the `P` or `c` modifier (`${0:c}`) to prevent LLVM from adding `offset` in front of the function name. I believe this change came from LLVM 10.

However as @Mark-Simulacrum said, we're not really planning on supporting `llvm_asm!` any more, you should

[2020-05-31 01:07] #71639 closed

[2020-05-31 01:07] #72611 closed

[2020-05-31 01:07] #72664 closed

[2020-05-31 01:07] #72661 closed

[2020-05-31 01:07] Amanieu commented on #72798
Closing as WONTFIX.

[2020-05-31 01:07] #72798 closed

[2020-05-31 01:08] rust-highfive opened #72801 "`miri` no longer builds after rust-lang/rust#72794"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#72794, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-05-31 01:19] Amanieu commented on #40555
Will be fixed by https://reviews.llvm.org/D80759

[2020-05-31 01:34] ijackson opened #72802 "stdio handles (stdin, stdout, stderr) should be `Seek` at least on Unix"
Currently, `std::io::Stdin` et al do not implement `Seek`.

It is true that a Unix program is not guaranteed that its stdin/stdout/stderr will be seekable. Often they won't be.  But, they may be.  If stdin is redirected from a file, for example, `lseek` (the system call) will work fine.

The `Seek` trait does not promise that `seek` actually works.  `seek` returns `io::Result` (quite properly).  I

[2020-05-31 01:50] #71136 closed

[2020-05-31 03:31] llxxbb opened #72805 "error: internal compiler error"
error: internal compiler error: src\librustc_middle\ich\impls_ty.rs:94: StableHasher: unexpected region '_#90r

thread 'rustc' panicked at 'Box<Any>', src\librustc_errors\lib.rs:907:9
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/

[2020-05-31 03:41] Aaron1011 commented on #72622
I've found another unhygenic `macro_rules!` [in serde-tcod-config-parser](https://github.com/alexschrod/serde-tcod-config-parser/blob/c0f5622e7c22598b9e09fe85e077389e3511ae4a/src/de/mod.rs#L24-L36)

[code]

here, `visitor` ends up getting resolved in the callsite, even though it should have def-site resolution.

[2020-05-31 03:51] csmoe commented on #72805
Seems duplicate of https://github.com/rust-lang/rust/issues/72766
Could you append the backtrace?

[2020-05-31 04:03] llxxbb commented on #72805
sorry, I had changed to stable and modified a lot, when change back to  nightly, it has gone.

[2020-05-31 04:05] xiaotianrandom opened #72806 "Wrong obligation cause span of associated type mismatch"
### Bug

The following case ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=074a0b0c7c96ae12ff9d48104d6e6285)) is slightly modifed based on that in #57663.

[code]

Error:

[code]

This is wrong. It points to `<Foo as Bar>::Ok`, which is not related to the error. `<Foo as Bar>::Ok` just happens to have the same identifier as the mismatched associated type `Ba

[2020-05-31 04:09] csmoe commented on #72805
Okay, thanks for your reporting.
 Feel free to reopen if this ice happens again, and don't forget to report with backtrace :)

[2020-05-31 04:09] #72805 closed

[2020-05-31 05:29] jyn514 commented on #65697
The culprit is here: https://github.com/rust-lang/rust/blob/ea7181b5f7a888c2cf969ae86de7207fa5fb40aa/src/librustdoc/html/format.rs#L471

We should check there if `--document-private-items` was passed, and if so, don't skip the item.

[2020-05-31 07:50] llxxbb commented on #72805
error: internal compiler error: src\librustc_middle\ich\impls_ty.rs:94: StableHasher: unexpected region '_#258r

thread 'rustc' panicked at 'Box<Any>', src\librustc_errors\lib.rs:907:9
stack backtrace:
   0: <std::sys_common::backtrace::_print::DisplayBacktrace as core::fmt::Display>::fmt
   1: core::fmt::write
   2: <std::io::IoSliceMut as core::fmt::Debug>::fmt
   3: std::panicking::take_hook

[2020-05-31 07:53] csmoe commented on #72805
@llxxbb thanks :)
confirmed, this ice is duplicated of https://github.com/rust-lang/rust/issues/72766, which has a pending fix.

[2020-05-31 08:26] petrochenkov commented on #43081
Analysis of breakage from partially fixing the span loss (cases related to passing interpolated tokens) - https://github.com/rust-lang/rust/issues/72622.

[2020-05-31 08:59] jcaesar commented on #70464
I ran into a similar bug. I can't say whether it's the same or not. If it's not, please tell me and I will open another issue.

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=52348437f27c49ff3ec91d35ca729583)

[2020-05-31 10:00] oli-obk commented on #72797
Maybe we should stop making instcombine convert `&*some_mut_ref` to `some_mut_ref`? This could be done in the pre-codegen cleanups, but for MIR it is wrong to use `Copy` or `Move` on such values in general.

Alternatively instcombine needs to start using dataflow to only insert moves when the site is the last use of the local.

[2020-05-31 10:42] varkor opened #72815 "Incorrect generic parameter ordering for E0747"
https://github.com/rust-lang/rust/blob/a59264b01247836c70e24217e0d346b868387525/src/test/ui/suggestions/suggest-move-types.stderr#L121-L135
suggests type parameters should come before lifetime parameters, which is incorrect.
The message is emitted here:
https://github.com/rust-lang/rust/blob/a59264b01247836c70e24217e0d346b868387525/src/librustc_typeck/astconv.rs#L463-L477

This issue has been assi

[2020-05-31 10:54] varkor opened #72816 "Incorrect generic parameter kinds for generic parameter reordering suggestion"
[code]
produces:
[code]
It should be: "types, then consts". This is due to:
https://github.com/rust-lang/rust/blob/a59264b01247836c70e24217e0d346b868387525/src/librustc_ast_passes/ast_validation.rs#L745-L753
which should not be gated on `const_generics`, and should take the particular parameters into account.

This issue has been assigned to @rakshith-ravi via [this comment](https://github.com/rus

[2020-05-31 11:00] rakshith-ravi commented on #72816
@rustbot claim

[2020-05-31 11:05] matklad commented on #26179
(this is mostly a drive by observation from a non-expert, so don't take to seriously).

My understanding is that one of the problems here is that we have a narrow interface (`fn likely(bool) -> bool`), and there's a clear desire to have a more general one. However, it seems to me that, even if we implement a more general attribute-based solution, it still makes sense to have `fn likely`, as that i

[2020-05-31 11:09] matklad commented on #26179
Also, I can not resist suggesting my own color. We have macros in pattern positions as of recently, so we can use a macro syntactically:

[code]

This should also provide syntactic affordance for later extensions

[code]

[2020-05-31 11:25] pickfire commented on #26179
Is there some sort of tailored optimizations that count the probability of match arms? IIRC rust can build some software with tailored optimization after a few runs, will that change the probability here? Or does that automatically make out these likely/unlikely intrinsic by itself?

[2020-05-31 11:51] Duddino opened #72817 "Confusing Error for writeln!"
[code]
Gives the error
[code]
The first error should be removed because it's misleading.
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=87254cc2a9e95c9a471526270f19f9e1)

[2020-05-31 11:55] Duddino commented on #72817
@rustbot modify labels to -C-bug, +D-confusing +D-papercut

[2020-05-31 12:26] JohnTitor commented on #72554
Triage: Seems the ICE is fixed with the latest nightly, now `recursive_type_with_infinite_size_error` catches this correctly (not bisected yet). Marking as E-needs-test, cc @estebank for awareness.

[2020-05-31 13:04] eddyb commented on #72730
@matthewjasper Can you split that part out and PM me on Discord/Zulip when you do?
Seems easier to review than specialization as a whole.

[2020-05-31 13:06] eddyb commented on #70953
Something I completely forgot is that the query stack sometimes even has `Span`s (originally added for query cycle errors), so we could also try to show those, which could give even more precision to what part of the user code triggered the query that ICE'd.

[2020-05-31 13:15] eddyb commented on #71177
Either of these seem fine with me, anything else would be overkill, IMO.

[2020-05-31 13:32] lokalmatador commented on #65275
Hi, first time contributor here. Is this still an open request? If so, may I work on it?

[2020-05-31 13:39] #72758 closed

[2020-05-31 13:45] SimonSapin commented on #26179
@matklad Almost all macros expand to Rust code. (I think `macro_rules` and `asm` are the two special cases?) `likely` is about providing information to the compiler that doesn’t have an "expanded" Rust code representation, so it fits an attribute much better in my opinion. Attributes also allow extensions like `#[likely(probability = 0.5)]`.

@pickfire It sounds like you’re looking for [Profile Gu

[2020-05-31 13:53] retep998 commented on #72802
The stdin/stdout handles on Windows can also be file handles, in which case seeking can function correctly. So therefore this feature request applies equally well to Windows.

[2020-05-31 14:10] oli-obk commented on #68436
@Evrey what you're asking for is already possible:

[code]

The problem lies elsewhere. It's that failure to evaluate the constant expression  won't be linked to the fact that the user messed up the generic parameters:

[code]

What we want to be able to avoid is having to work around this by writing

[code]

(which ICEs the compiler right now, I'm opening an issue for that)

[2020-05-31 14:14] oli-obk opened #72819 "ICE on unmonomorphized const generics in const eval: eval_const_to_op: Unexpected ConstKind"
Amusingly the following ICEs while https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=67ee1b8218865042e272d1c2c1aa22fe has a compiler error that hints at the const generic actually getting resolved.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e65f5152379a0a70aa983601c763149c))

Errors:

[code]

[2020-05-31 14:18] jonas-schievink commented on #72819
Also happens on stable without the feature gate

[2020-05-31 14:50] lzutao commented on #50146
I've checked this feature again. It kinda works but I had to enter the whole (exact) aliasing keywords
for it to display in search board.

* If entering an extract alias:
![image](https://user-images.githubusercontent.com/15225902/83355260-83c7a380-a388-11ea-99fb-3e2bb59a9e77.png)

* If not:
![image](https://user-images.githubusercontent.com/15225902/83355269-8fb36580-a388-11ea-9be5-10970ac83cdd.p

[2020-05-31 14:50] disiamylborane opened #72821 ""Type annotations needed" and ICE with const generics and specialization"
The usage of const-generic types with specialization started to cause errors since nightly-2020-05-20 (rustc 2020-05-19).

All the following samples build successfully and work with nightly-2020-05-19 toolchain (rustc 2020-05-18) and earlier.

### Code

[Complete on playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bd7c3a432e0949d89eefd24862b1d2aa)

[code]

Gives

[2020-05-31 15:24] Spanfile commented on #72651
I've created an MCVE. Seems it's related to borrowing the pattern variable in the match guard after an `await` in the same guard.

[code]

`RUST_BACKTRACE=1 RUSTFLAGS="--emit mir" cargo check`
[code]

[2020-05-31 15:25] tspiteri commented on #48533
This is fixed in nightly, possibly due to #72205.

[2020-05-31 15:25] #48533 closed

[2020-05-31 15:56] yzt1q opened #72824 "IndexMut"
This gives an error:

[code]

[code]

But this gives no error:

[code]

[2020-05-31 16:09] eddyb commented on #72730
I think one of the things we could also do to improve this kind of query cycle error is to replace:
[code]
with
[code]

That's because we know why we queried `typeck_tables_of(foo)`, it's the `_`.

So we can just change this line (i.e. by adding `.at(ty.span)`): https://github.com/rust-lang/rust/blob/4b1f86adbe41e8dd4864ca2315f43953dd503bb5/src/librustc_typeck/collect.rs#L1474
[code]

[2020-05-31 16:13] eddyb commented on #72730
Since I'm looking through typeck, thought I'd take a look at the underlying cause:
https://github.com/rust-lang/rust/blob/4b1f86adbe41e8dd4864ca2315f43953dd503bb5/src/librustc_typeck/variance/constraints.rs#L160-L162

I thought that was unused/vestigial, but it does seem to be used when relating "function item" types (`relate_item_substs` uses variance): https://github.com/rust-lang/rust/blob/4b1f

[2020-05-31 16:19] Elinvynia commented on #72824
Related docs: https://doc.rust-lang.org/std/ops/trait.IndexMut.html

Assuming the docs are not the issue here, this should work in my opinion.

[2020-05-31 17:07] inancgumus commented on #19776
It looks like, this problem is still alive.

[code]

[2020-05-31 17:14] #72693 closed

[2020-05-31 17:14] #72760 closed

[2020-05-31 17:24] jcotton42 opened #72826 "Tracking Issue for `string_remove_matches`"
This is a tracking issue for `string_remove_matches` implemented in #71780
The feature gate for the issue is `#![feature(string_remove_matches)]`.

- [ ] Stabilization PR ([see instructions on rustc-dev-guide][stabilization-guide])

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr
[doc-guide]: https://rustc-dev-guide.rust-lang.org/stabilization

[2020-05-31 18:02] camelid commented on #72815
I want to try working on this.

@rustbot claim

[2020-05-31 20:15] joshtriplett commented on #67984
@davidhewitt `format_args_capture` seems reasonable, given the error message, and I agree with avoiding the word `implicit`.

[2020-05-31 20:25] poliorcetics commented on #48980
I can add the documentation about the system-specificities but I'm not exactly clear on where it should go: `std::time` or the relevant types ? I'm in favour of the former, `Duration` is not system-dependent and can still be used to force a panic but I would like confirmation.

[2020-05-31 20:58] #70924 closed

[2020-05-31 21:02] shaleh commented on #72690
This happens on Nightly and on Stable.

[2020-05-31 21:04] Yoric opened #72837 "Compiling simple (but long) code with lots of `async`/`await` takes hours"
I attempted to compile the attached code (see [z.zip](https://github.com/rust-lang/rust/files/4708426/z.zip)).

The code is basically a bunch of

[code]

Attempting to build this with 5-10 nodes works nicely. Attempting to build this with 100 nodes... well, I gave up after 173 minutes. I looked at a second run, which took 45Gb of RAM.

### Meta

Tested with

- rustc 1.45.0-nightly (664fcd3f0 2020-

[2020-05-31 21:12] jhpratt opened #72838 "Add `#[repr(transparent)]` to `PathBuf`"
The fact that `PathBuf` is internally an `OsStr` is currently noted as an implementation detail in comments. However, a number of methods clearly indicate (in documentation) that it is stored as such, and one `PathBuf::into_os_str()` implicitly requires it, as it would be inefficient to do it otherwise.

Would it make sense to add `#[repr(transparent)]` to `PathBuf` to externally stabilize this gu

[2020-05-31 21:17] nikic commented on #44052
There are instructions available here: https://rustc-dev-guide.rust-lang.org/backend/updating-llvm.html#bugfix-updates

Rust currently tracks LLVM releases, because this allows people to easily perform cross-language LTO with a corresponding clang version. So the default answer here is probably "no".

That said, there has been some discussion on updating to LLVM master to mitigate LLVM 10 compile-

[2020-05-31 21:21] Yoric commented on #72837
According to Instruments, the heaviest trace is

[code]

with a weight of 100%.

[2020-05-31 21:23] Yoric commented on #72837
@jonas-schievink I just killed the compiler. It took 45Gb RAM, so this probably also deserves an `I-compilemem`.

[2020-05-31 21:40] steffahn opened #72839 "Unreasonably long (and useless) error message doing modulo on non-existent variable: overflow evaluating the requirement `typenum::UInt<typenum::UInt…"
Does not appear on Stable or Beta in the playground.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f4320f4b1710b2a96271d5c1726224d1))

Errors:

[code]

@rustbot modify labels: +C-bug, A-diagnostics, D-verbose, E-needs-bisection, T-compiler

Edit: nevermind the attempt of adding “regression-from-stable-to-nightly”, I didn’t fully read the descriptio

[2020-05-31 21:41] steffahn commented on #72839
@rustbot modify labels: +C-bug, A-diagnostics, D-verbose, E-needs-bisection, T-compiler

[2020-05-31 21:42] jonas-schievink commented on #72837
Single-file repro: https://gist.github.com/jonas-schievink/46fa39d98bec27c9e29314df1a8797f2

[2020-05-31 21:42] Mark-Simulacrum commented on #72838
Can you cite which conversion you are trying to provide externally from std which would be enabled by such? I presuming you mean that PathBuf is internally an OsString, not OsStr?

It also looks like both `impl From<PathBuf> for OsString` and `impl From<OsString> for PathBuf` have been present since 1.14 and 1.0 respectively, maybe that's enough?

[2020-05-31 21:44] jonas-schievink commented on #72837
Self profiling output of that gist:

[code]

It's not responsible for most of the slowdown here, but `check_mod_privacy` really shouldn't be that slow?

[2020-05-31 21:46] Mark-Simulacrum commented on #67984
FWIW at least in my mind capturing implies something closer to what e.g. closures do where the variable is stored within the returned Arguments struct. But that's not something that can be added to Arguments given our stability guarantees, I think, even though I've often wanted it -- so maybe that's not a major concern.

I will note though that the naming of the feature gate and diagnostics feel l

[2020-05-31 21:48] jhpratt commented on #72838
Sure. I'm actually backporting the APIs from 1.44 to 1.31 (the MSRV for this crate). Obviously the repr attribute wouldn't apply to older versions, but if any get stabilized later on, it would allow backporting with safety guarantees.

The `From` impls actually _aren't_ sufficient, as it requires taking ownership when only borrowing is necessary. As such, I'm currently doing `unsafe { transmute::<

[2020-05-31 21:51] Mark-Simulacrum commented on #72838
Ah, I see. *Technically* you could ptr::read and be quite careful to not drop anything, but I suppose that's not better than transmuting.

I would suggest filing a PR which can then be r?'d for someone on the libs team to approve.

[2020-05-31 21:54] jhpratt commented on #72838
Will do. I'll also add it to `Path` for basically the same reason.

[2020-05-31 22:01] BookOwl opened #72840 "unimplemented!() does not typecheck functions that return impl Trait"
I tried this code:

[code]

From my reading of the docs for `unimplemented!()`, this code should typecheck. However, when I try to compile it I get this type error:

[code]

If I remove the semicolon I get this error:
[code]
The same issue happens with the `todo!()` macro.

### Meta
When tested in the playground I get this error in stable 1.43.1, beta, and nightly.
Playground link to example: http

[2020-05-31 22:30] jonas-schievink commented on #72840
Duplicate of https://github.com/rust-lang/rust/issues/69882

[2020-05-31 22:30] #72840 closed

[2020-05-31 22:40] camelid commented on #72815
I've been trying to fix this, but even reversing the arguments to the `err.note` format didn't seem to do anything. Am I missing something?

I also added `ABC` to the error note for testing:

[code]

And here's the error diff:

[code]

[2020-05-31 22:58] camelid commented on #72815
I've looked into it a bit more, and it looks like this isn't as simple as I thought at first. I thought it might work if I just reversed the arguments to `format!`, but that messes up other things.

I think I'll need to rethink this.

[2020-05-31 23:15] varkor commented on #72815
Note that I cherry-picked the examples that were incorrect. The diagnostic is correct in other cases. You'll need to investigate a little to work out how best to fix this; one simple solution would be to sort the two with `ParamKindOrd`, though I'm not sure if that's the cleanest approach.

[2020-06-01 00:29] #72647 closed

[2020-06-01 00:29] #72806 closed

[2020-06-01 00:41] powerboat9 commented on #51909
Since this issue is holding back a few other issues, what needs to be done to fix it?

[2020-06-01 01:46] camelid commented on #72815
Okay, thanks for the info! I'll look into sorting and see if that works :)

[2020-06-01 02:18] Aaron1011 commented on #69151
With https://github.com/rust-lang/rust/pull/70361 merged, this can be closed

[2020-06-01 02:18] #69151 closed

[2020-06-01 02:22] Aaron1011 commented on #67802
I haven't encountered this issue in a while - I suspect that https://github.com/rust-lang/rust/pull/71131 was responsible for fixing this. Since I have no idea how to reproduce this issue, I'm going to close it.

[2020-06-01 02:22] #67802 closed

[2020-06-01 02:23] Sydre opened #72845 "[ICE] Const generics + Const normalization + Specialization"
Found while toying around [#20400](https://github.com/rust-lang/rust/issues/20400).

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-01 03:24] suginoha opened #72847 "day after 3"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=de4f28cef6e2a90d4703fecf01e63b9a))

[2020-06-01 03:31] #72847 closed

[2020-06-01 03:40] Aaron1011 commented on #72839
This can be reproduced outside the playground by adding `typenum` to your `Cargo.toml`.

I suspect that this is caused by https://github.com/rust-lang/rust/pull/72621: we now continue trait selection instead of bailing out when we see an error type.

I think we'll want to re-add some kind of bail-out logic, but I'm not sure where the best place would be.

[2020-06-01 03:54] camelid commented on #72815
I think I've figured out a basic solution. Let me know if there are things I can improve!

[2020-06-01 04:10] ccope commented on #72110
Is there a way to make the compiler emit separate debug symbol files (besides the default on Windows)?

[2020-06-01 04:32] Aaron1011 commented on #66922
This compiles on the latest nightly, and now just needs a test.

[2020-06-01 04:32] ehuss commented on #72110
@ccope I think split debug support on Linux is tracked in #34651.

[2020-06-01 04:42] ehuss commented on #72110
This flag doesn't seem to work with the Darwin linker (ld64).  MacOS is [defined to use](https://github.com/rust-lang/rust/blob/0d93d3f4a42fd45b2a0da658d39555316a1b6793/src/librustc_target/spec/x86_64_apple_darwin.rs#L29) the gcc linker flavor, but although it uses clang, the underlying ld64 doesn't support gcc options.

Is there an intent to support that?

[2020-06-01 05:02] ilovecat2020 opened #72849 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:02] ilovecat2020 opened #72850 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:02] ilovecat2020 opened #72851 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:02] ilovecat2020 opened #72852 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:02] ilovecat2020 opened #72853 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72854 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72855 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72856 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72857 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72858 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72859 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:03] ilovecat2020 opened #72860 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72861 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72862 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72863 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72864 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72865 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:04] ilovecat2020 opened #72866 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:05] ilovecat2020 opened #72867 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:05] ilovecat2020 opened #72868 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:05] ilovecat2020 opened #72869 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:05] ilovecat2020 opened #72870 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:05] ilovecat2020 opened #72871 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:06] ilovecat2020 opened #72872 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:06] ilovecat2020 opened #72873 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:06] ilovecat2020 opened #72874 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg Join WarriorCats meow: https://discord.com/invite/ByG6qtg Join WarriorCats meow: https://discord.com/invite/ByG6qtg Join WarriorCats meow: https://discord.com/invite/ByG6qtg Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:06] ilovecat2020 opened #72875 "Join WarriorCats meow: https://discord.com/invite/ByG6qtg"

[2020-06-01 05:07] #72851 closed

[2020-06-01 05:07] #72852 closed

[2020-06-01 05:07] #72853 closed

[2020-06-01 05:07] #72854 closed

[2020-06-01 05:07] #72855 closed

[2020-06-01 05:07] #72856 closed

[2020-06-01 05:07] #72857 closed

[2020-06-01 05:07] #72858 closed

[2020-06-01 05:07] #72859 closed

[2020-06-01 05:07] #72860 closed

[2020-06-01 05:07] #72861 closed

[2020-06-01 05:07] #72862 closed

[2020-06-01 05:07] #72863 closed

[2020-06-01 05:07] #72864 closed

[2020-06-01 05:07] #72865 closed

[2020-06-01 05:07] #72866 closed

[2020-06-01 05:07] #72867 closed

[2020-06-01 05:07] #72868 closed

[2020-06-01 05:07] #72869 closed

[2020-06-01 05:07] #72870 closed

[2020-06-01 05:07] #72871 closed

[2020-06-01 05:07] #72872 closed

[2020-06-01 05:07] #72873 closed

[2020-06-01 05:07] #72874 closed

[2020-06-01 05:07] #72875 closed

[2020-06-01 05:07] #72849 closed

[2020-06-01 05:07] #72850 closed

[2020-06-01 07:55] petrochenkov commented on #72110
`src\librustc_codegen_ssa\back\linker.rs` has a bunch of special cases for the MacOS linker, but it's still considered a `GccLinker` linker flavor.
Perhaps it needs one more such case for symbol stripping.

That's pretty much all I know about MacOS linker and MacOS in general, so no plans to fix it from me.

[2020-06-01 08:59] #72335 closed

[2020-06-01 09:56] RalfJung commented on #51909
Quoting from [a Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/having.20fun.20with.20control.20flow/near/198297159):

IOW, the biggest concern here is how tot each people to use `unsafe` code in `const fn` in a way that does not break CTFE. The issue is that "just" following the normal rules for `unsafe` is not enough.

[2020-06-01 11:13] tleasor opened #72881 "No rustc or cargo for aarch64-pc-windows-msvc"
Currently there are no native rustc or cargo binaries for Windows on ARM64. The 32-bit x86 binaries (i686-pc-windows-msvc) work correctly, but suffer a noticeable performance and battery life penalty.

I've tried to build rustc myself, but have had quite a few issues trying to cross-compile it since there are no pre-built bootstrap binaries for aarch64-pc-windows-msvc. Cargo builds without issue,

[2020-06-01 11:49] steffahn commented on #72839
@Aaron1011 I can confirm regression at https://github.com/rust-lang/rust/commit/91fb72a8a9f53de2bcc5638c1358fcb552dba8ce. @rustbot modify labels to -E-needs-bisection.

[2020-06-01 13:14] jonas-schievink commented on #72837
This seems to result in extremely complex types that take a long time to process (some generator witness types contain hundreds of bound lifetimes, although they never contain more than a few dozen *types* each)

[2020-06-01 13:41] alexcrichton commented on #71090
Fixed since https://github.com/rust-lang/rust/pull/72629 was included with https://github.com/rust-lang/rust/pull/72759

[2020-06-01 13:41] #71090 closed

[2020-06-01 13:41] alexcrichton commented on #71532
Fixed since https://github.com/rust-lang/rust/pull/72629 was included with https://github.com/rust-lang/rust/pull/72759

[2020-06-01 13:41] #71532 closed

[2020-06-01 14:18] fschutt opened #72887 "ICE: Hir should have been pre-marked as red or green but wasn't"
# Code

code: https://github.com/maps4print/azul
branch `rust-ice`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

# Notes

I have no idea why this happens, but it's slightly urgent since I can't compile my code anymore. You can look at the last few commits, they didn't even touch

[2020-06-01 14:26] jonas-schievink commented on #72887
Cannot reproduce, presumably an incremental-only bug. You can probably work around it by running `cargo clean -p azul-core` when it happens.

[2020-06-01 15:36] fschutt commented on #72887
Indeed, after a clean rebuild the issue doesn't happen anymore. I tried reverting to one commit before the HEAD to see if the caching between the builds would trigger the error, still doesn't happen. I'll let you know if it happens again, closing this issue until then. Thanks!

[2020-06-01 15:36] #72887 closed

[2020-06-01 15:41] #70685 closed

[2020-06-01 16:13] Timmmm commented on #71684
I would be ok with `std::env::home_dir2()`. It's ugly but only in proportion to this situation. :-)

[2020-06-01 17:10] Cataractar commented on #71611
Hi,

I am new to rust compiler development and have decided to try fixing this issue to get started.

If I understand the const-generics RFC correctly, type parameters can not be used in a const generic parameter because it cannot be ensured that the actual types have the "structural match" property. However, checking [visit_ty in structural_match.rs](https://github.com/rust-lang/rust/blob/d3cba25

[2020-06-01 17:30] RalfJung commented on #70173
The fact that this is a `Statement` in MIR, and not a `Terminator`, breaks a bunch of semantic assumptions that one could otherwise make about MIR basic blocks. Even if this feature does not get stabilized, it doesn't seem great to have optimizations that entirely break in the presence of `llvm_asm`. (I would be very surprised if there isn't a soundness issue here, but don't know about about the a

[2020-06-01 17:35] Amanieu commented on #70173
The plan is to deprecate `llvm_asm!` and eventually remove it. However I am hesitant to remove it immediately since there are still many people relying on it.

I think we should be able to remove it after a deprecation period of a month or two.

[2020-06-01 17:58] lcdr opened #72892 "#![feature(arbitrary_enum_discriminant)] is not setting discriminant values consistently"
Given the following code:

[code]

I would assume the output of all debug prints to be `1`. However, they aren't:

[code]

Only the first one is correct. The third one even seems to change between compilations when unrelated other code is changed. For example, adding a non-empty debug print right before the call seems to change the value, and the value is also different when I run the code on the

[2020-06-01 18:02] jonas-schievink commented on #72892
You are asking for the discriminant of the *function* `Enum::One` here, not the variant, and for non-enums `discriminant_value` will return 0.

[2020-06-01 18:02] #72892 closed

[2020-06-01 18:02] jonas-schievink commented on #72892
(as for `Enum::One as u8`, that converts the function pointer to a `u8`, not the discriminant)

[2020-06-01 18:20] BartMassey commented on #70173
While I'm not volunteering :-) it would be great if someone implemented a `cargo fix` to try to rewrite old-style `asm!()` to new-style automagically. I'm not sure how hard it would be: I feel like it could at least fix some simple cases and warn about the rest…

[2020-06-01 18:56] hellow554 commented on #72793
Smaller:

[code]

[2020-06-01 19:01] jyn514 opened #72894 "Abort from malloc on arm-unknown-linux-gnueabihf"
I tried this code:

[code]

I expected to see this happen: The crate compiles successfully.

Instead, this happened: rustc aborts.

This is build.rs for the libc crate on master: https://github.com/rust-lang/libc/blob/f10ee11f7043cb38fff02d9085b26009f2fc66aa/build.rs. The error goes away if I don't pass `-C opt-level=1`. It happens on a few different crates, maybe rustc is trying to allocate too m

[2020-06-01 19:12] jyn514 commented on #72894
I tried to test this with nightly but got the following separate crash:
[code]

[2020-06-01 19:50] jyn514 commented on #72894
<details><summary>GDB backtrace</summary>

[code]

</details>

[2020-06-01 19:51] pnkfelix commented on #66740
We discussed this oddity in these two proposals at today's lang team meeting.

Our current understanding that is that the two proposals are not inherently in conflict with one another; we thought it would not be unreasonable to approve both proposals.

I have tasked myself with the job of trying to digest the content of both proposals and the developments in their comment threads well enough to un

[2020-06-01 19:51] jyn514 commented on #72894
Looks like LLVM tries to allocate more than 4 GB of memory to parse the bitcode.

[2020-06-01 19:53] jyn514 commented on #72894
@rustbot modify labels: A-LLVM

[2020-06-01 19:54] nikomatsakis commented on #52000
Conclusion from @rust-lang/lang triage meeting: we should move forward with stabilization report.

[2020-06-01 20:19] CDirkx opened #72895 "Investigation into ASCII ctype inherent methods performance with lookup table"
Prompted by https://github.com/rust-lang/rust/issues/68983#issuecomment-613753557, I started looking into whether the performance of methods like `is_ascii_alphabetic` could be improved by using a lookup table.

The full list of methods:
- `is_ascii_alphabetic`
- `is_ascii_alphanumeric`
- `is_ascii_control`
- `is_ascii_digit`
- `is_ascii_graphic`
- `is_ascii_hexdigit`
- `is_ascii_lowercase`
- `is_

[2020-06-01 20:38] Lymia opened #72896 "ICE when structurally matching a struct containing an associated type on latest Nightly."
One of the tests in my enumset crate has started throwing an ICE on the latest nightly.

The problem seems to be that I use an associated type as a field in a struct I'm structurally matching, and this has been broken on the latest nightly.

### Code

[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=05bb91b14fad31c31f66b4409abd43a7)

[code]

### Error outp

[2020-06-01 20:41] Mark-Simulacrum commented on #72895
Please note (I haven't had time to read your entire comment, sorry) that in the case of the methods on char, being in libcore, it is generally pretty important that we keep an eye on the size of the generated code as well as the performance.

[2020-06-01 20:43] eddyb commented on #72896
cc @pnkfelix @oli-obk

[2020-06-01 20:47] eddyb commented on #72896
cc @lcnr looks like it's likely #72153

[2020-06-01 21:00] lcnr commented on #72896
I also believe we are forgetting to normalize here, will look into it.

@rustbot claim

[2020-06-01 21:07] workingjubilee commented on #20962
I have been poking around improvements to rustdoc for this.

First, for the ownership page: long since moved, but checking the stats for [Understanding Ownership: What is Ownership?](https://doc.rust-lang.org/book/ch04-01-what-is-ownership.html) gives us an overall Mobile 73, Desktop 95. So, better, even though it's a much more complex page now! Nice. It still recommends "Eliminate render-blocking

[2020-06-01 21:08] CDirkx commented on #72895
Yes, that is why I'm also looking into other implementations (without a lookup table). Specifically `is_ascii_punctuation`, which is currently [implemented](https://github.com/rust-lang/rust/blob/5fd2f06e99a985dd896684cb2c9f8c7090eca1ab/src/libcore/num/mod.rs#L4864-L4867) as:
[code]
which results in [complex branching](https://rust.godbolt.org/z/TKDJws).

An alternative implementation would be:
[c

[2020-06-01 21:13] ecstatic-morse commented on #52000
# Summary

`#![feature(const_loop)]` will be stabilized using the approach to const qualification described [here](https://github.com/rust-lang/rust/issues/49146#issuecomment-616301045).

Specifically, `loop` and `while` (including `while let`) will become legal in all [const contexts](https://doc.rust-lang.org/reference/const_eval.html#const-context), as well as `break`, `continue` and labels. A

[2020-06-01 21:15] haslersn commented on #62896
I just reproduced this with

[code]

[2020-06-01 21:15] LeSeulArtichaut commented on #72896
`cargo-bisect-rustc` points a regression in f93bb2a50b37bc8bafe4d960e2afd839eaa854ed which may confirm that #72153 is the culprit.

[2020-06-01 21:16] nikomatsakis commented on #52000
Hmm, my major concern here is with the `const_eval_limit` attribute. It is my belief that our current approach on limits is rather flawed. I think it would be better to put the `const_eval_limit` on the *const fn function that contains the loop*, and thus enable client crates to invoke the function without having to increase their own limits. (I think the same holds for macro recursion limits and

[2020-06-01 21:17] ecstatic-morse commented on #52000
An aside, while writing this, I realized that we should probably be stabilizing `#![const_eval_limit]` alongside looping. This part hasn't been mentioned in the lang-team meetings yet, so please read that section.

[2020-06-01 21:22] ecstatic-morse commented on #52000
What does this mean for mutually recursive `const fn`?

The alternative I saw to the per-crate attribute was actually an attribute on each "root" of constant evaluation, so a `const`, `static`, enum discriminant, etc. So if you set `#[const_eval_limit = 0]` on one `const`, its initializer could call a given `const fn` as many times as it wanted, whereas another `const` initializer would still have

[2020-06-01 21:23] nikomatsakis commented on #70173
@RalfJung can you elaborate a bit about the semantic assumptions you are referring to? I guess the freedom to move code about within a block or something?

Certainly we could make it a terminator, although that seems a bit arbitrary.

[2020-06-01 21:25] nikomatsakis commented on #52000
@ecstatic-morse

I don't know what it would mean, but I can think of a few interpretations. =) You could add them up, I suppose, or just take the max of the limits as you descend. I think attaching to the root is better than crate but not as good as being able to attach it to a `const fn` so that clients don't have to know about it. Imagine like `compute_logarithm_table` or something, which might

[2020-06-01 21:27] Amanieu commented on #70173
I believe @RalfJung is referring to things like [this](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/transform/unreachable_prop.rs#L27).

@BartMassey Unfortunately this is very difficult to do reliably due to the differences between the two syntax. Currently we have an automated `cargo fix` which will turn old-style `asm!` to the equivalent `llvm_asm!`.

[2020-06-01 21:30] mwhudson commented on #72723
This happens with any use of -C lto, and happens with stable (rustc 1.43.1 (8d69840ab 2020-05-04)) and beta (rustc 1.44.0-beta.4 (02c25b359 2020-05-23)) installed via rustup but not 1.42.0 (rustc 1.42.0 (b8cedc004 2020-03-09)) or nightly (rustc 1.45.0-nightly (5fd2f06e9 2020-05-31)).

[code]

[2020-06-01 21:34] workingjubilee commented on #20962
Mostly rustdoc is about typography. Improving font loading may be the biggest win in _actual_ performance (I notice a long block when loading a page in actual usage, which goes away when I twiddle with the CSS to use `font-display` options, but my initial PR... might have gone a bit far).

The `std` API docs apparently don't get a ton of mobile visitors since browsing several "obvious" pages that