[2022-09-20 18:25] nikomatsakis commented on #93333
@rfcbot resolve rust-reference

[2022-09-20 18:31] hkmatsumoto commented on #102065
Entire code is available [here](https://github.com/hkmatsumoto/rustc-llvm-error), Dockerfile included.

[2022-09-20 18:48] hkmatsumoto commented on #102065
I managed to minimize the code:
[code]

[2022-09-20 18:51] cuviper commented on #102065
In `rustc_llvm`, that's originally a global symbol:

[code]

But the one linked into `librustc_driver.so` gets hidden as a local symbol:

[code]

I notice that the link line does not include `librustc_llvm.rlib` though, only `-lrustc_driver-*`.

[2022-09-20 18:53] pnkfelix commented on #100954
removing nomination; we discussed this last week.

@rustbot label: -I-lang-nominated

[2022-09-20 19:07] #101982 closed

[2022-09-20 19:29] scottmcm commented on #101899
Thanks for the CC, @CAD97.  I guess it's good that my other change about making this a niche never happened 🙃

This is the case in the current nightly code, correct?  This is just a statement to not also do #99134?

[2022-09-20 19:43] kupiakos commented on #80384
Do you suspect `const_mut_ref` would stabilize before this?

This limitation would be much less frustrating if it didn't trigger when taking the address of _any_ generic `T`, even where I have full certainty that the input cannot contains `UnsafeCell`. If I could bound on `Freeze` to communicate this impossibility this would solve the problem (and plenty of other soundness bounds I run into). Is t

[2022-09-20 19:50] lyming2007 commented on #101866
@rustbot claim

[2022-09-20 20:29] matthiaskrgr commented on #102047
Is this a duplicate of https://github.com/rust-lang/rust/issues/79590 ? the stackrace looks very similar (also look who claimed that one :P :see_no_evil:  )

[2022-09-20 20:37] scottmcm opened #102070 "Tracking Issue for `ptr::Alignment` type"
Feature gate: `#![feature(ptr_alignment)]`

This is a tracking issue for the `ptr::Alignment` type, and related methods, to represent values that are valid alignments in the

### Public API

[code]

### Steps / History

- [x] ACP https://github.com/rust-lang/libs-team/issues/108
- [ ] Implementation: #...
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None

[2022-09-20 20:41] mredigonda commented on #85444
This is not just a Safari issue, it also doesn't work on Chrome in my Mac M1.

[code]

These are the kinds of errors I get.

Basically it seems that the protocol `file://` is not allowed to load resources like fonts, css, etc.

The workaround to open a server with Python works.

[2022-09-20 20:44] #101892 closed

[2022-09-20 21:22] thomcc commented on #95439
It's not really a static mut killer as is, since it doesn't relax the Send requirement. When I've wanted to use it this has been an issue (since we have a few types which are !Send & !Sync just as lints).

I do see why this limitation exists, though.

[2022-09-20 21:56] #80447 closed

[2022-09-20 21:56] #96818 closed

[2022-09-20 21:56] #81920 closed

[2022-09-20 21:56] #91023 closed

[2022-09-20 21:56] #101001 closed

[2022-09-20 21:56] #101891 closed

[2022-09-20 22:39] saethlin opened #102074 "ICE(s?) with debug assertions enabled in rustc_trait_selection"
### Meta
These are from the crater runs on https://github.com/rust-lang/rust/pull/101929

### Error output
There are quite a few crates in the crater run which hit this assertion, I'm just picking out 3 examples that look kind of representative to me. If you want more examples, search through the build-fail crates. The majority of failures are in there, for whatever reason.

https://crater-reports

[2022-09-20 23:15] ayosec commented on #34651
For those looking for an alternative to `-Csplit-debuginfo` on Linux, `objcopy` can be used to keep the debugging symbols in another file:

Example:

[code]

The final size is much smaller, even the `.debug` file, since data is now compressed.

[code]

GDB uses both files to get symbols:

[code]

[2022-09-20 23:30] 89z commented on #92941
Yes agree. I first learned this today from here:

https://doc.rust-lang.org/std/string/trait.ToString.html

to which I was upset to find its not here anywhere:

https://doc.rust-lang.org/std/fmt/trait.Display.html

so its basically a tribal knowledge. You would only know about it if someone told you about it, or if you happen to just randomly look at the `ToString` trait.

[2022-09-20 23:37] andrewpollack opened #102077 "Fuchsia ErrorKind not translated from Zircon error value"
Relevant compiler test: https://github.com/rust-lang/rust/blob/master/src/test/ui/process/process-spawn-nonexistent.rs#L14

[code]

The resulting value for `result` is `-25`, which aligns with the Zircon error `ZX_ERR_NOT_FOUND = -25`. This does not align with expected Rust-friendly return value.

Relevant code section is at https://github.com/rust-lang/rust/blob/4f212f08cf0edb1fe990c8ca30fef09c27

[2022-09-20 23:40] LegionMammal978 commented on #101899
Sorry, I added the paths to the functions at the bottom of each snippet, but I probably should have made it clearer.

Of the crates that were unconditionally sound:

- `GlobalAlloc::realloc()`: The overflow condition for `GlobalAlloc::realloc()` used to match the overflow condition for `Layout::from_size_align_unchecked()`, but the latter has been made stricter.
- `semver` v1.0.14: [`Identifier::n

[2022-09-20 23:48] thomcc commented on #101899
Even though I was initially in favor of the isize::MAX change, this (and the rest of the list, which is very similar) seems very convincing to me. It should be fine to do this, and rely on those requirements not changing. The cases I had looked at previously were my own and scoped arena, which were less convincing to me.

[2022-09-21 00:13] joshlf commented on #65216
Ran into a similar issue with `slice::from_raw_parts`. IIUC, the requirement is that, if mutation happens, it must be the case that all code paths view the bytes that are being mutated as inside of an `UnsafeCell`. Ie, having an `&UnsafeCell<T>` and a `&T` pointing to the same memory location and mutating via the former is unsound. Is that right?

[2022-09-21 00:15] yanchen4791 commented on #99824
With the proposed fix #102080, the output will be like this:
[code]

[2022-09-21 00:46] jsha opened #102083 "rustdoc: allow fully-local favicons and logos"
@Nemo157 pointed out at https://github.com/rust-lang/docs.rs/issues/1853#issuecomment-1252979026 that rustdoc offers two attributes, html_logo_url, and html_favicon_url, which are commonly used to embed image tags pointing to URLs on a different site than the documentation is served on:

https://doc.rust-lang.org/rustdoc/write-documentation/the-doc-attribute.html#html_logo_url
https://doc.rust-lan

[2022-09-21 02:50] Sporky073189ImSpecial commented on #100000
Meh email ***@***.***

On Mon, Aug 8, 2022, 9:13 AM Lord Xenu ***@***.***> wrote:

[2022-09-21 06:53] Patryk27 opened #102087 "Papercut: Suggest `Default::default()` when binding isn't initialized"
Given the following code:

[code]

([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f14000e6c56b494f9a17aa3a1dc23b3f))

... the current output is:

[code]

While this message is correct,  people (especially beginners) stumbling upon it sometimes still don't know what to do (e.g. they expect `let var: ty;` to automatically initialize `var` to `Default::def

[2022-09-21 08:24] lcnr commented on #100712
it is planned to fix this sometimes, sadly the fix is somewhat difficult and this is also not too high of a priority, so it may take a while '^^

[2022-09-21 08:27] lcnr commented on #102047
^^ not sure, can't tell without looking deeper

[2022-09-21 08:35] chenyukang commented on #102087
@rustbot claim

[2022-09-21 08:36] weiznich commented on #100712
Thanks for the fast answer. I will try to find another solution then :see_no_evil:

[2022-09-21 09:15] chenyukang commented on #101978
Is there any standards explain why we need to reject `=` in environment variable names?

I tried in local, seems Bash accept it:

[code]

[2022-09-21 09:21] gakit opened #102089 "Panic in <rustc_mir_build::build::expr::as_place::PlaceBuilder>::try_upvars_resolved"
Hi there,
First time the rust compiler crashes on me, here's a minimal example:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-21 09:58] oli-obk opened #102090 "Tracking Issue for keyword generics"
This is a tracking issue for https://github.com/rust-lang/keyword-generics-initiative
The feature gate for the issue is `#![feature(keyword_generics)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for

[2022-09-21 11:41] GuillaumeGomez commented on #102083
I think this is a duplicate of https://github.com/rust-lang/rust/issues/79254 and of https://github.com/rust-lang/rust/issues/32104.

[2022-09-21 11:45] GuillaumeGomez commented on #101874
Added the labels and I'll take a look shortly.

[2022-09-21 11:56] RalfJung opened #102093 "Blessing clippy with x.py does not work the same way as other tools"
I can this command:
[code]
I expected this to bless the test files. Instead I got output like this:
[code]
Ironically, the output tells me to add `--bless`, which I already did!

Cc @rust-lang/clippy

[2022-09-21 12:00] matthiaskrgr commented on #102093
does it work if you cd into the clippy dir root and run    cargo dev bless  ?

[2022-09-21 12:02] flip1995 commented on #102093
The `--bless` command with Clippy functions a little different from the `--bless` command that is usually used.

For Clippy it first runs all UI tests, which will give you the above output, then compile `clippy_dev` and run `clippy_dev --bless`. IIRC this then copies the newly generated `stderr` file out of the `build` dir into Clippy. If that doesn't work then maybe some paths changed, so it cann

[2022-09-21 12:07] RalfJung commented on #102093
Or maybe I misinterpreted the output? I got a clippy test failure, scrolled up across a screen worth of noise in the output, and then found that error.

<details>

[code]

</details>

Maybe part of the problem is that I first ran it without `--bless`, which failed, and then I re-ran it with `--bless` and should fix the issue but did not?

[2022-09-21 12:10] flip1995 commented on #102093
[code]

This part of the output shows that `clippy_dev` was indeed compiled and run.

And this line:
[code]
Shows that the file was also updated by the `--bless` command. So `--bless` definitely did something. Maybe it copied a wrong/outdated generated reference file? But that's unlikely...

[2022-09-21 12:17] RalfJung commented on #102093
The odd thing is that I did see the file changed in vscode. But the tests still failed until I manually edited the file...

[2022-09-21 12:17] GuillaumeGomez commented on #101870
I opened https://github.com/rust-lang/rust/pull/102094 which should fix this issue.

[2022-09-21 12:32] GuillaumeGomez commented on #101758
Just to be sure: can you reproduce the bug in https://doc.rust-lang.org/nightly/src/std/lib.rs.html? Because line numbers also have their font set, so I'm not sure what would be the issue then.

[2022-09-21 12:57] harudagondi commented on #101758
It also faces the same problem.

![Nightly code source not lining up](https://user-images.githubusercontent.com/14072899/191509638-6d37220b-8aec-4400-bad7-f5c9d6348351.png)

[2022-09-21 13:06] harudagondi commented on #101758
Just found out that I have a specific stylish stylesheet that breaks the css of the code. Whoops, I'll close this issue now. Sorry for wasting your time!

[2022-09-21 13:08] GuillaumeGomez commented on #101758
:laughing: Well thanks for checking it at least. Glad nothing was broken!

[2022-09-21 14:10] lcnr commented on #94293
this has been fixed, needs test to close

[2022-09-21 15:17] #101793 closed

[2022-09-21 15:48] matthiaskrgr opened #102105 "LLVM ERROR since beta 1.65"
### Code

[code]

This code compiles fine with stable  `1.63.0 (4b91a6ea7 2022-08-08)` but with beta `1.65.0-beta.1 (2a65764f2 2022-09-19)` or nightly, you get an llvm error:

[code]

[2022-09-21 16:13] davidbarsky commented on #96708
I was talking to @jsgf about this issue, but I had two questions:
- Does this issue interact with https://github.com/rust-lang/rust/issues/38913? If so, the work described in 38913 might be less strenuous than expected or this might be more complex than this issue might otherwise imply—can you clarify, if you've got the time?
- If it's a relatively small tweak, does this issue boil down to skippin

[2022-09-21 16:20] bjorn3 commented on #96708
Currently the crate metadata is shared between all crate types. For dylibs we still need to store the dylib dependency formats. I think the best way is to store it in an additional section of the dylib and then remove it from the main crate metadata. I don't think this interacts with MIR-only rlibs at all.

[2022-09-21 16:58] compiler-errors commented on #102074
Thanks for filing these. I'll take a deeper look into them in a few days.

[2022-09-21 17:00] nikic commented on #102105
This is because your `allocator()` method has an invalid signature. For correct signatures, see https://github.com/rust-lang/rust/blob/46c59bbb79b3fa99950e2a7eaaeb161990561b8b/library/alloc/src/alloc.rs#L22.

At best, this is a diagnostics issue, if someone cares to improve diagnostics for an unstable, rustc-internal attribute.

[2022-09-21 17:11] cr1901 commented on #99685
Okay, just to make crystal clear, the try build at 2a2d919c is identical to the results I have above (i.e. no problems). Didn't think it would be different, but no harm in trying since I have all the toolchain stuff already installed.

Thanks for the help :D!

[2022-09-21 17:38] jsha commented on #102083
Indeed! Closing in favor of those.

[2022-09-21 17:38] #102083 closed

[2022-09-21 17:44] jsgf commented on #96708
Just to make sure we're all talking about the same thing, "dependency format" just means [this](https://doc.rust-lang.org/stable/nightly-rustc/rustc_middle/middle/dependency_format/index.html) right?

That's only linkages and crate types, so there's no hashes or any other identifiers of specific crates. So @davidbarsky I don't think this is relevant to any of the things we're talking about.

[2022-09-21 17:49] bjorn3 commented on #96708
Correct.

[2022-09-21 17:51] CleanCut commented on #100717
I have opened #102110 to pick up the closed PR above. I would love for some collaborators to come and join me in fixing this one, as it is rather large. I outlined the TODO items in the PR description. Come join in!

[2022-09-21 17:54] jsha commented on #51625
I checked over the `rustup`-installed docs using the command below, and found that the std / rustdoc docs don't appear to have this problem, but the book loads its logo and favicon from an Internet URL. Also the Clippy book appears to use [mdBook's MathJax support](https://rust-lang.github.io/mdBook/format/mathjax.html), which is inserting `<script async type="text/javascript" src="https://cdnjs.c

[2022-09-21 18:00] jsha commented on #75964
Hi! Thanks for the feature request and sorry it has sat here for so long. I think there are two main categories here:

 - favicons / logos. Rustdoc has attributes that encourage this pattern, because they _only_ support external URLs: https://github.com/rust-lang/rust/issues/79254. We should fix that, and that will nudge people towards including local files instead.

 - badges / shields inserted b

[2022-09-21 18:00] Aaron1011 commented on #76118
Are there any further objects over the current names, or are these ready to stabilize?

[2022-09-21 18:02] jsha commented on #79254
Copying over from my comment at #102083:

Note that any solution that _doesn't_ bundle the images into the crate runs into problems because (a) `cargo doc` builds docs for dependencies, and often only has the packaged crate for those and (b) docs.rs only has access to the packaged crate when building docs.

[2022-09-21 18:21] ijackson commented on #75964
Hi.  Thanks for your attention.

I think this is what I am asking for; or, if it can't be done in rustdoc itself, a hook I can use to run an external postprocessor.  I don't expect it to be turned on by default.

I don't agree that it's overly restrictive.  From a privacy point of view, it should be possible to generate documentation that doesn't "phone home" to various places.  That should work f

[2022-09-21 18:40] RalfJung commented on #99923
All steps in the plan laid out above have been taken, hence I'll close this issue.

[2022-09-21 18:40] #99923 closed

[2022-09-21 18:52] w4 commented on #82921
I've also managed to trigger this by passing a reference into `Itertools::unique` after it going through a `filter_map` within an async block that needs to be coerced into `dyn Future + Send`, I'm not exactly sure what the interaction is here:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4fe8525383c41fe555b333603e200128))

[2022-09-21 18:57] ComputerDruid commented on #102077
@rustbot label O-fuchsia

[2022-09-21 19:50] cassaundra commented on #102057
This doesn't seem to be an issue on stable, interestingly.

[2022-09-21 19:57] jyn514 commented on #79254
Bundling images will *massively* increase the size of the .rlib metadata, even when building without rustdoc, which means this would be a giant compile-time hit across the ecosystem. Bundling would be have to be done by rustc itself, because rustdoc can't generate metadata.

[2022-09-21 19:58] #101973 closed

[2022-09-21 19:58] #101984 closed

[2022-09-21 19:59] jyn514 commented on #79254
I don't understand why this is a problem. With your proposal, where this only supports `file://` urls, Rustdoc can't access the assets regardless unless they're in the crates.io package. So I don't see how including the assets in the metadata helps; the metadata is created at the same time that docs.rs is documenting the main crate.

[2022-09-21 20:06] jsha commented on #79254
Right, I was talking about including assets in the crates.io package, not the .rlib metadata.

[2022-09-21 20:32] Nemo157 commented on #102057
Yep, it works fine on 1.63.0, but has the problem on 1.65.0-beta.1 and the latest nightly.

[2022-09-21 20:34] cassaundra commented on #102057
@rustbot claim

[2022-09-21 20:42] dwrensha opened #102114 "expected type for `b/#0` (b/0) but found Lifetime(ReStatic) when substituting, substs=[ReStatic]"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

[code]

[2022-09-21 20:44] sgued commented on #96287
I think I have a smaller reproducer for the same bug, or at least one that leads to the same error. This one doesn't require any unstable feature and crashes both on 1.63 and on 1.66.0-nightly (432abd86f 2022-09-20) running on x86_64-unknown-linux-gnu.

Note that my reproducer is not expected to compile, it shouldn't type-check. But it should cause a panic either.

[code]
# Meta

[code]

[code]

[2022-09-21 20:44] dwrensha commented on #102114
cargo-bisect-rustc says:

[2022-09-21 20:56] edward-shen commented on #102087
Maybe it's better to suggest `ty::default()` instead of `Default::default()`? A beginner may be confused why you can "assign" `Default` to a `ty`.

[2022-09-21 21:10] cassaundra commented on #102087
Agree. I'm also unsure whether `Default::default` or even `ty::default` is idiomatic often enough to be worth suggesting. I'd generally rather see a specific constructor method is one in provided in most Rust code as it's more descriptive, but obviously this isn't something we can really know about on the compiler level.

[2022-09-21 21:10] edward-shen commented on #101957
I think there's just confusion in what the semantics of this lint does. I think you're expecting to be "Exclude this name from the list of names that are checked for similar variable names", but the lint itself is closer to the semantics of "Make sure nothing is similar in the applied scope", which does nothing in your examples since `testa` or `testb` would be the only names in those contexts.

[2022-09-21 21:33] compiler-errors commented on #102114
Minimized:

[code]

[2022-09-21 22:30] schteve commented on #101957
That's certainly possible! I don't know how to tell what the intent is. In showing this issue to several other people, no one thought what I was trying to do was unreasonable.

If it's the case that we don't want the lint to work the way I was expecting, it would be helpful to make this more obvious. Maybe the solution is just an update to the lint docs to make this clear.

I suppose the current b

[2022-09-21 22:46] H4x5 opened #102117 "ICE with inline_const and TypeId"
### Code

[code]

<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=eac6582df10214dd6b363003a9346ac4>

### Meta

`rustc --version --verbose`:
[code]
(latest nightly as of today)

### Error output

[code]

</p>
</details>

[2022-09-21 23:26] JhonnyBillM commented on #100717
[PR#101558](https://github.com/rust-lang/rust/pull/101558) has been merged! Please make sure to rename the macros and traits in your branches, here is what we renamed here:

1. [Macro] `SessionDiagnostic`-> `Diagnostic`

2. [Trait] `SessionDiagnostic` -> `IntoDiagnostic`

3. `SessionSubdiagnostic` -> `Subdiagnostic`

4. `AddSubdiagnostic` -> `AddToDiagnostic`

❗️~~SessionDiagnostic~~ `Diagnostic`

[2022-09-22 00:08] Mark-Simulacrum opened #102122 "Tidy check for io::ErrorKind::Other in std code"
We have a note in the ErrorKind [documentation](https://doc.rust-lang.org/nightly/std/io/enum.ErrorKind.html#variant.Other):

but in practice, there are cases were we do make use of it, whether in tests or by accident. We should add a check in tidy that the ErrorKind::Other string doesn't show up in std code, with an ability to opt-out similar to style checks (probably on the same line only would

[2022-09-22 00:14] mejrs commented on #91639
That's disappointing. I think that the lang team underestimates how tricky and confusing a missing path lifetime really is.

 @kpreid, @Globidev and I (and many others) are active on the rust community discord and what we see is that the absence of this lint is a common pain point. Implicit lifetimes is something that trips up newbies frequently, and it's not uncommon to see even intermediate and

[2022-09-22 02:15] matthiaskrgr opened #102124 "ICE: assertion failed: key.param_env.is_const()' -Zmir-opt-level=3"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc 0027cd46a519f921742e5a1a61aaa3d6b40784e3.rs -Zmir-opt-level=3`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-22 02:42] thombles commented on #35968
No surprises really, but I've confirmed that the standard Rust toolchain is working fine all the way to App Store validation using Xcode 14. I've added a notice to `rust-bitcode` to advise users it's no longer needed. Dare we... close this? :)

[2022-09-22 03:23] CinchBlue commented on #54144
FYI this popped up in StackOverflow bountied questions list for `rust` near the top:

[How to break on Err creation](https://stackoverflow.com/questions/61256108/how-to-break-on-err-creation)

From my assessment, it seems like this is still not possible on 1.63.0? Or is this wrong?

[2022-09-22 04:22] #101874 closed

[2022-09-22 04:22] #101267 closed

[2022-09-22 05:09] Patryk27 commented on #102087
Sure, that's also nice, I think 🙂

We kinda-sorta can, right? I think it should be possible to:
- suggest `= vec![];` if type is `Vec`,
- suggest `= Ty::default();` if type is `: Default`,
- suggest `= something` otherwise.

[2022-09-22 07:11] opeolluwa commented on #92279
@sportelliluciano were you able to resolve the bug. I'm having a similar one and I really don't know where to look

[2022-09-22 08:02] axos88 commented on #44738
@retep998 @kornelski, in that case CStr::to_str() would return a UTF-8 string as well, which would compare.
There isn't really a way to "know" the semantic data that a binary blob is describing that comes from C, so they should be treated as equal - same way that .to_str() will convert the binary blob to a utf-8 string. It is up to the programmer to "annotate" and correctly use the incoming data s

[2022-09-22 08:09] RalfJung commented on #71800
I think it is time we make this a hard error: https://github.com/rust-lang/rust/pull/102091

[2022-09-22 08:49] edmorley commented on #88079
Confirmed still reproduces in latest Nightly (2022-09-21).

[2022-09-22 08:50] edmorley commented on #88081
Confirmed still reproduces in latest Nightly (2022-09-21).

[2022-09-22 09:20] jruderman opened #102130 "Extra "type annotations needed" error after trying to constrain a non-existent type parameter with the same trait bound as another type parameter"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ccf58dac66e6ea9064d83fdf49ca954e):

[code]

The current output is:

[code]

Similarly, this [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e63439745a3b8460dc70f20732e95e0a):

[code]

produces

[code]

In both cases, the "type annotation needed" error (E0282 or E0284)

[2022-09-22 09:54] h-vetinari commented on #101899
This compact [overview](https://github.com/mayeut/pep600_compliance) might be helpful. Slowest mover being - unsurprisingly - the RHEL 8 flavours which will be stuck at glibc 2.28 until standard support ends 2029-05-31 (though obviously paid extensions of that support exist).

[2022-09-22 09:57] Expyron opened #102132 "Duplicated WASM `unreachable` instructions"
Targets: `wasm32-unknown-unknown`, `wasm32-wasi`

When calling `core::arch::wasm32::unreachable()`, the generated WASM contains two `unreachable` instructions instead of only one.

Example:
[code]

Output (from Godbolt):
[code]

Godbolt link: https://rust.godbolt.org/z/Yqz6Kh9eq

This is mostly noticeable when using `build-std-features=panic_immediate_abort` (which I know is unstable), as all inst

[2022-09-22 10:01] thomcc commented on #95429
I wonder if the crash here is an example of the issue https://github.com/rust-lang/rust/pull/101368 works around (or hopes to, anyway).

[2022-09-22 10:54] Alexendoo commented on #96553
tracked in clippy as https://github.com/rust-lang/rust-clippy/issues/9011

[2022-09-22 10:54] #96553 closed

[2022-09-22 10:57] Alexendoo commented on #101876
Fixed by https://github.com/rust-lang/rust-clippy/pull/9266

[2022-09-22 10:57] #101876 closed

[2022-09-22 11:43] chriss0612 commented on #42736
This should be fixed by my #101802

[2022-09-22 12:19] leonardo-m opened #102136 "Array bound test with two simple loops"
LLVM seems unable to see the number of N*M items generated by the loops fits inside the slice:

[code]

Gives the asm:

[code]

Using:

[code]

[2022-09-22 12:28] #101867 closed

[2022-09-22 12:28] #100134 closed

[2022-09-22 12:41] nikomatsakis opened #102138 "async functions in traits ICE when you try to use them"
Example:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=836dd7d6e01e5b084fb4280d087a05d6)

yields

[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

[2022-09-22 12:41] nikomatsakis commented on #102138
cc @compiler-errors and @spastorino

[2022-09-22 13:10] hottea773 commented on #94905
@NEUDitao are you actively working on this?

I had a little look at this, but hit an issue in replacing `&[ast::Attribute]` with `SortedIndexMultiMap<u32, Symbol, &ast::Attribute>` in `rustc_middle::query`; specifically, https://github.com/rust-lang/rust/blob/1.63.0/compiler/rustc_middle/src/query/mod.rs#L1105.

[code]

Which is deliberate; as in https://github.com/rust-lang/rust/blob/1.63.0/compi

[2022-09-22 13:22] davidtwco commented on #100717
I'm still catching up on reviews, so if you're waiting on that then I'll get to that soon - please message me if you think I might have lost track of your PR and I'll take a look!

I've updated this issue and the current status of each of the crates:

- I've unassigned @wonchulee from `rustc_builtin_macros`, thanks for your work on it, if someone else wants to pick up #101408 then please do! @str4

[2022-09-22 13:32] JhonnyBillM commented on #100717
Yes to both `rustc_codegen_ssa` and `rustc_errors`. I was waiting for the move+rename PR to get in first.
Plan to open a PR for `codegen_ssa` between today and tomorrow

[2022-09-22 13:37] Amanieu commented on #101899
That blog post shows an example of the bug on a 64-bit system, which is possible because of malloc elision by LLVM: the larger than `isize::MAX` allocation never reaches the allocator and the allocation appears to succeed. I believe this same optimization could be exploited in Rust to cause unsoundness (though I'm not 100% sure).

Protecting against this requires that the allocation size is checke

[2022-09-22 13:55] Rageking8 commented on #102136
@rustbot label +T-compiler +A-LLVM +C-bug

[2022-09-22 13:57] Rageking8 commented on #102132
@rustbot label +A-codegen +O-wasm

[2022-09-22 14:07] mattNeumayer opened #102140 "ICE: Calling a non-dispatchable function with RPITIT in impl dyn Trait"
Based on @nikomatsakis 's blog posts, I was playing around with RPITIT and dyn Trait.

I fully understand that it shouldn't compile :sweat_smile:. It should probably give the same error as you get when ```impl Marker```  is replaced with ```u32```. Which would be: ```error[[E0277]]: the trait bound `&dyn MyTrait: MyTrait` is not satisfied```.

### Code
Playground: https://play.rust-lang.org/?versi

[2022-09-22 14:11] mattNeumayer commented on #102140
[This commit](https://github.com/rust-lang/rust/commit/d34cb98fb0bbaf86860b4ad5ff0c3d79b077f565#diff-4864ab6ed9e5cec3c6d0d561211554aafbd0094842869d2a711b5451151bc534) added the ```assert_eq!(tcx.def_kind(parent), DefKind::Trait);``` that triggers. Maybe including ```DefKind::AssocFn``` is enough to fix it?

[2022-09-22 14:12] mejrs opened #102141 "Broken LLVM function when pushing `dyn*` item to Vec."
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=226ba2193376002e4d23523ae1cfe8ec)

### Code

[code]

## Result:
[code]

### Meta
[code]

@rustbot label: +F-dyn_star +requires-nightly +A-LLVM

[2022-09-22 14:20] CAD97 commented on #101899
...oops, I didn't realize I made *my own crates* potentially unsound... which definitely speaks to how subtle this can be.

I'll repeat what I've said previously: there are like 3½ solutions to the underlying issue:

- Status quo; either that
  - Calling `alloc` with `size > isize::MAX` is unsound, or
  - Creating a reference to an allocated object with `size > isize::MAX` is unsound;
- Mandate th

[2022-09-22 14:33] ckaran commented on #27721
I'm a little confused by the API; the API docs for [`std::str::pattern::Searcher`](https://doc.rust-lang.org/std/str/pattern/trait.Searcher.html) state that:

[code]

I see the following possible interpretations of this, and I want to be sure which is in use to prevent any ambiguity in implementations.

### Greedy approach

If you're looking for the string `aa` in the haystack `aaaaa`, then you'll

[2022-09-22 14:41] ckaran commented on #27721
Also, what about when you want overlapping matches?  I can see cases where I would want all overlapping matches in addition to what the Searcher API currently provides.

[2022-09-22 14:50] JoJoJet opened #102142 "Rustdoc makes trait bounds with associated types overly verbose"
### Location

https://doc.rust-lang.org/std/future/trait.IntoFuture.html

https://doc.rust-lang.org/std/iter/trait.IntoIterator.html

### Summary

The definition of the `IntoFuture` trait looks like:

[code]

Rustdoc renders this as:

[code]

This makes the trait bound for the `IntoFuture` associated type verbose and cryptic.

[2022-09-22 14:53] apiraino commented on #101346
Issue was visited during T-compiler meeting on Zulip ([notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-09-22/near/300177066)). Demoting priority to `P-high` since #101861 reduced the impact and the LLVM upstream fix seems to be formalized

@rustbot label -P-critical P-high

[2022-09-22 15:05] notgull commented on #71860
With Rust now requiring Linux 3.2, would it be possible to migrate these timers to `CLOCK_BOOTTIME`?

[2022-09-22 15:09] fmease commented on #102142
@rustbot label -A-docs C-bug T-rustdoc A-rustdoc-ui A-associated-items

[2022-09-22 15:19] matthiaskrgr commented on #102141
Miri actually reports this as a bug :)
[code]

[2022-09-22 15:27] #100551 closed

[2022-09-22 15:36] BurntSushi commented on #27721
The docs could certainly be improved. I'm not sure if "greedy" or "maximal" are the right words.

Overlapping matches is a bit of a niche case and I don't think there is a compelling reason for the standard library to support it. [Overlapping searches are available in the `aho-corasick` crate.](https://docs.rs/aho-corasick/latest/aho_corasick/struct.AhoCorasick.html#method.find_overlapping_iter)

[2022-09-22 15:37] fmease commented on #102142
I did a quick investigation: This reproduces on stable and nightly but only if the corresponding trait comes from an extern crate (which is the case with `std` & `core`). Thus marking this issue as
@rustbot label A-cross-crate-reexports

Minimal reproducer:

[code]

[code]

[2022-09-22 15:46] fmease commented on #102142
Highly related to / “duplicate” of #84579 although the latter is quite outdated.

[2022-09-22 15:48] fmease commented on #84579
@rustbot label +A-cross-crate-reexports

Update: The output now looks like this:

[code]

[2022-09-22 16:59] simonsan opened #102145 "Broken MIR in DefId(0:345 ~ tower[bb9c]::balance::pool::{impl#3}::build)"
### Meta
Stable works.

`rustc --version --verbose`:
[code]

compiler flags:
[code]

### Error output
While building latest `tokio-console v0.1.7`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-22 17:31] cjgillot commented on #100615
This should be an easy enough task for a new contributor.  Summary instructions:
- the feature-gate error is emitted from `rustc_resolve::late::lifetimes::resolve_lifetime_ref`;
- the generics of the enclosing item can be accessed by `tcx.hir().get_generics(lifetime_ref.hir_id.owner)`;
- if that generics struct is `Some`, this means the item can have generics, not that it actually has;
- the conta

[2022-09-22 17:37] cjgillot commented on #94905
@hottea773  Query results indeed require to be `Copy`.  If the information you are constructing is not `Copy`, you can use `arena_cache` in the query description.  The computed value will be put on an arena, and the query will just return a reference to it, which is `Copy`.

[2022-09-22 17:54] jkarneges commented on #100932
I've confirmed this issue is fixed in 1.65.0-beta.1 (2a65764f2 2022-09-19).

[2022-09-22 17:58] cjgillot commented on #92279
@opeolluwa do you have a reproducer?

[2022-09-22 18:20] pnkfelix commented on #39795
In particular, it looks like sufficiently new versions of `valgrind` may have addressed this (by intercepting `open` and `openat` of `/proc/self/exe` in the same manner that it was already intercepting `readlink`, and substituting the user's executable in response.)

So I would not be shocked if *this* bug no longer replicates, for sufficiently recent versions of `valgrind`...

[2022-09-22 18:26] pnkfelix commented on #39795
I just confirmed that a test case (namely the immediately panicking program from #101913); see transcript below.

Thus, closing as resolved.

[code]

[2022-09-22 18:26] #39795 closed

[2022-09-22 19:02] CAD97 commented on #101899
Here's an example of overlarge allocation succeeding: (on the playground on current stable 1.64) this fails in debug with the allocation failure but passes in release:

https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=1074f009331582a852ff32ea49ea1fc6

[code]

... and here's a proof of concept in safe code where an allocation of ***`usize::MAX` bytes*** is observed and used

[2022-09-22 19:05] lyming2007 commented on #101866
It seems not easy to change the statement:
`TraitA::<i32>::func();`
to
`<TraitA<i32>>::func();`
Thus, I would suggest we emit like:
[code]
Is that ok?

[2022-09-22 19:11] raldone01 commented on #101803
This feature is awesome.
However I noticed that it works without using the feature gate at all.
I create a minimal repo to reproduce:
https://github.com/raldone01/const_fn_trait_ref_impls_feature_gate_not_required_question_mark

[2022-09-22 19:13] compiler-errors commented on #102140
No, that will just mask the underlying issue.

[2022-09-22 19:15] compiler-errors commented on #102141
FYI: We currently have 0 checks that `dyn*` actually fit their size requirement currently.

[2022-09-22 19:30] Gankra commented on #101899
Author of thin-vec here: I always knew the checks on thin-vec were incorrect, hence my comment to this effect: https://github.com/Gankra/thin-vec/blob/05127f96717b1478b4ce2fa2fcae7ac86fb741e7/src/lib.rs#L339

This is 100% me being lazy and just saying "eugh, this UB isn't worth the effort" because I knew that the vast majority of allocators prevent this but by the letter of the API I was doing som

[2022-09-22 19:31] matthiaskrgr commented on #102145
This has been fixed already https://github.com/rust-lang/rust/issues/101844
should go away if you update your nightly

[2022-09-22 19:53] b-naber commented on #102117
@rustbot claim

[2022-09-22 20:01] #102145 closed

[2022-09-22 20:02] simonsan commented on #102145
@matthiaskrgr Ah thanks! :) Saw my nightly didn't (auto-)update due to missing `miri` in those.

[2022-09-22 20:02] CAD97 commented on #101899
It's also worth noting one more thing: the simplicity of doing manual checked layout calculation becomes less important as we stabilize more of `Layout`. Yes, code from before the functionality was stable exists, but more code will be written in the future than exists currently.

As such, I still think guaranteeing the `isize::MAX` rule is respected by safe code using `Layout` is very desirable. I

[2022-09-22 20:28] matthiaskrgr opened #102154 "ICE: rustdoc: unable to fulfill trait"
### Code
code from glacier/fixed ./82830.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc ./82830.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-22 20:56] opeolluwa commented on #92279
@cjgillot what's a reproducer

[2022-09-22 21:02] jyn514 commented on #102093
That sounds like you accidentally overwrote the blessed file at first.

I agree the UI here is confusing but I'm not yet sure that bless is actually broken, just that it's hard to use.

[2022-09-22 21:20] matthiaskrgr opened #102156 "ICE: None in compiler/rustc_passes/src/check_const.rs"
### Code
code from rustc_codegen_cranelift/build_sysroot/sysroot_src/library/alloc/src/boxed.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-22 21:27] compiler-errors commented on #102138
This has to do with late-bound regions and RPITITs. I have a fix, but it's probably not right nor is it cleaned up much. I'll put it up for scrutiny soon though.

[2022-09-22 21:40] abrown opened #102157 "Fail to compile with WebAssembly atomics and shared memory"
It is currently impossible to generate a Wasm module that imports/exports a shared memory using a Rust program. Here is the example program I'm using (though this is not a terribly important detail):

[code]

Using `rustc` we quickly realize that we need the standard library to be re-compiled:

<details><summary><code>rustc</code> failure</summary><p>

[code]

</p></details>

To re-compile the sta

[2022-09-22 22:40] CraftSpider opened #102159 "GAT with bound on another GAT fails despite fulfilling the bound"
I tried this code:

[code]

I expected to see this happen: This compiles successfully, as the bound is true - `GatBar::Bar<()> == HasGeneric<()>`.

Instead, this happened: The compile fails with E0271, type mismatch during resolution

### Meta

Tested on the playground with:

[code]
and
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-09-22 22:43] CraftSpider commented on #102159
I may be wrong, but while looking for duplicate issues, this looks somewhat similar to some prior issues related to higher-ranked bounds with lifetimes. This would make sense to me, as I think this is attempting to require rustc prove a bound like `for<T> Foo<()> == Bar<()>`

[2022-09-22 22:45] sadmac7000 opened #102160 "Panic while compiling"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-22 23:00] compiler-errors commented on #102138
Actually nvm, it was a silly little resolver bug.

[2022-09-22 23:31] ckaran commented on #27721
@BurntSushi the main reason for the overlapping case is because then you can say that the searcher needs to return all matches, even the overlapping ones.  The user is then responsible for deciding which overlapping case is the interesting one(s).

[2022-09-22 23:34] BurntSushi commented on #27721
I don't think that's worth doing and likely has deep performance implications.

[2022-09-22 23:41] MasterAwesome opened #102162 "[aarch64] Regression with BTI after nightly-2022-08-14"
Enabling `-Zbranch-protection=bti` on rustc (nightly-2022-08-14) doesn't generate staticlibraries or cdylib anymore. This happens after the LLVM 14 to LLVM 15 change as bisected below [cargo-bisect-rustc](#cargo-bisect-rustc) where LLVM-15 sets the `branch-target-enforcement` flag only for the module being compiled. Even with `-Z build-std` this build fails as there is a module without a name that

[2022-09-23 00:04] Bubbler-4 opened #102163 "Confusing errors from type (mis-)inference"
Given the following code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=72ec0bfb4ebb032851fc08d57654e699))

[code]

The current output is:

[code]

but all of these errors can be summarized to a single root cause: `b` is being inferred to `Vec<str>` due to a call to `to_string`.

If I move `b.push(s)` line to before the offending line:

[code]

or relax the

[2022-09-23 00:28] fee1-dead commented on #101803
These feature gates do not actually matter, as they will be insta-stable after const_trait_impl gets stable. As long as you are not able to use this without having const_trait_impl enabled, it is fine.

[2022-09-23 01:11] compiler-errors commented on #102160
@sadmac7000 can you verify if this is fixed on the latest stable version of Rust?

[2022-09-23 02:03] thomcc commented on #47974
This is very likely to be related to the issues described in https://github.com/rust-lang/rust/issues/88737 and https://github.com/rust-lang/rust/issues/88737#issuecomment-1178525208. Fixing this will likely not result in the behavior the user wants though -- the fact that dlclose works anywhere is kind of a bug, it failing to unload is actually macOS doing the right thing.

In general you should

[2022-09-23 03:08] TheDreadedAndy opened #102166 "dep-info for link is wrong when --emit is given a path."
When compiling with `--emit link=path,dep-info`, the resulting dependency file is wrong.

Instead of containing the given path for `link`, the dependency file will contain the platform dependent default name for that link option. For example, I passed rustc the flags `--crate-type proc-macro --emit link=rust/build/output/libforward.so,dep-info=rust/build/output/forward.d`, and the resulting depend

[2022-09-23 03:16] Rageking8 commented on #102159
@rustbot label +T-compiler +F-generic_associated_types

[2022-09-23 03:20] Rageking8 commented on #102157
@rustbot label +O-wasm

[2022-09-23 03:23] Rageking8 commented on #102140
@rustbot label +F-return_position_impl_trait_in_trait

[2022-09-23 04:19] #101696 closed

[2022-09-23 04:55] estk commented on #48515
lol i keep forgetting about this and running into it.

[2022-09-23 05:10] Rageking8 commented on #102138
@rustbot label +I-ICE +C-bug

[2022-09-23 05:18] matthiaskrgr commented on #102154
Two files from the repo that reproduce this since yesterday:
./src/test/ui/generic-associated-types/bugs/issue-80626.rs
./src/test/ui/traits/issue-82830.rs

[2022-09-23 05:21] matthiaskrgr commented on #102156
couple of files from the repo that reproduce this:

./library/alloc/src/borrow.rs
./library/alloc/src/boxed.rs
./library/alloc/tests/boxed.rs
./library/alloc/tests/lib.rs
./library/core/src/array/mod.rs
./library/core/src/convert/mod.rs
./library/core/src/convert/num.rs
./library/core/src/lib.rs
./library/core/src/mem/manually_drop.rs
./library/core/src/mem/mod.rs
./library/core/src/num/mod.rs
./l

[2022-09-23 05:37] AldaronLau opened #102168 "Tracking Issue for Implementing Future for Arc and Rc"
Feature gate: `#![feature(arc_rc_impl_future)]`

This is a tracking issue for implementing `Future` for `Arc` and `Rc`, much like the `Box` implementation (copied below for convenience), differing where it's only implemented if `Future` is implemented for an immutable reference to the contained type.

[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comme

[2022-09-23 06:43] Kampfkarren opened #102170 "Compile for for Option<T>::cloned() is bad when T is not &T"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7d47c342ac883621074947e507c8ca86

[code]

The current output is:

[code]

Changing to `Option<&String>` works, it would be nice if this recommended that.

[2022-09-23 06:48] jruderman opened #102171 "Missing "parentheses are required to parse this as an expression" hint with multiple unsafe blocks"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ec6fc42ba9cedb3c2a125bea72d12bbd):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Related to #67347

[2022-09-23 06:52] #93601 closed

[2022-09-23 07:08] DutchGhost opened #102172 "&dyn* causes an ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-23 07:12] DutchGhost opened #102173 "dyn* ICE primitive read not possible for type: [i32; 4]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-23 07:16] RalfJung commented on #102093
How can anything I do in an editor lead to `--bless` *failing* when the only error is a wrong output file? That's not possible, so there's definitely a bug here.

[2022-09-23 07:22] RalfJung commented on #102093
Or maybe the UI is so confusing that I still don't know how to use it. :shrug: I would assume that `x.py` takes care of all the weirdness, so all I have to do is call `x.py --bless` like for all other test suites.

[2022-09-23 07:26] RalfJung commented on #102093
Oh are you saying that with `--bless` the test will still fail but then when I run it a *second* time it should succeed because it updated the output files?

I don't know if I tried that. I was working on rustc so I did not read any clippy-specific documentation (and I don't think I should have to), but rustc CI fails when clippy tests don't pass so I was forced to try and get them to pass again,

[2022-09-23 07:34] glandium opened #102174 "extern "C" functions don't generate the same IR definitions as clang on x86, causing problems with cross-language LTO"
After https://github.com/llvm/llvm-project/commit/6c8adc505471542be38bd71d1000062daa46d7bc, inlining in cross-language LTO happens in cases where it didn't happen before, including cases where things go very bad (more details in https://bugzilla.mozilla.org/show_bug.cgi?id=1789779#c7)

It seems to boil down to LLVM not liking that rust defines its `extern "C"` functions in significantly different

[2022-09-23 07:58] nikic commented on #102174
Rust seems to just mark all struct arguments as byval: https://github.com/rust-lang/rust/blob/77e7e88567691068f5fba288618023368882d60b/compiler/rustc_target/src/abi/call/x86.rs#L57

While clang will pass certain aggregates directly: https://github.com/llvm/llvm-project/blob/1aaba40dcbe8fdc93d825d1f4e22edaa3e9aa5b1/clang/lib/CodeGen/TargetInfo.cpp#L1875-L1883

Another instance of @eddyb's favorite

[2022-09-23 08:01] glandium commented on #102174
Before the change, the inlining wasn't happening so we ended up with a normal call, and the rust callee is just fine too because it compiled down to the proper ABI for the function. What screws everything is that inlining now happens.

[2022-09-23 08:06] glandium commented on #102174
@Gankra did you run the abi checker for some i686 targets?

[2022-09-23 10:04] inquisitivecrystal commented on #100878
As a note, the ICE was fixed by #100043.

[2022-09-23 10:38] adamgemmell commented on #97724
As the above issue says it's locked behind the `el2vmsa` LLVM feature, which Rust doesn't directly expose. You can turn it on with the unstable `v8.1a` feature for now: https://godbolt.org/z/6vcd3aYEM

[2022-09-23 10:44] estebank opened #102182 "Recover from `impl Trait` in type param bound"
When writing `fn foo<T: impl Trait>() {}` the current error is "expected one of these tokens", without any attempt to recover the parse. It should instead be closer to:

[code]

[2022-09-23 10:45] Alexendoo commented on #95034
Fixed by #100980

[2022-09-23 10:45] #95034 closed

[2022-09-23 10:46] Rua opened #102183 "`Iterator` has `#[must_use]` but `ExactSizeIterator` does not"
When returning an iterator of an unspecified type, I like to return `impl ExactSizeIterator` when I know that the type I'm returning always implements that trait. That gives the caller more options. But I noticed that while the regular `Iterator` trait has the `#[must_use]` attribute, the `ExactSizeIterator` trait does not. This means that the caller isn't warned about ignoring the return value wh

[2022-09-23 11:24] lincot commented on #84649
why not add unchecked versions of functions with capacity check
(`push_unchecked`, `extend_unchecked`, `extend_from_slice_unchecked`,
`extend_from_within_unchecked`, `push_str_unchecked`, ...)?

[code]

[2022-09-23 11:32] ckaran commented on #27721
I disagree, though I *do* think that it should be a completely separated from the current API (different function, different trait, whatever is deemed best)

Hah!  I agree 110% with you on this!  And it's the reason why having it as a separate API is likely the best way to do it.

[2022-09-23 11:35] WaffleLapkin opened #102185 "Confusing error caused by double peojection in trait supertraits"
Given the following code: ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7c456d9fc795e6dcd5258407228d9d4e))

[code]

The current output is:

[code]

This is confusing because it seems like this error is caused by `type X: B` in the trait, but actually it's caused by `X as B` in the supertraits, if your remove `X as B` the code compiles (as it should in any case, IM

[2022-09-23 11:57] BurntSushi commented on #27721
Overlapping searches are way way way too niche to put into std. If you want to convince folks otherwise, I would recommend giving more compelling reasons for why it should be in std.

[2022-09-23 12:13] BurntSushi commented on #101991
@matklad Do you have thoughts here?

[2022-09-23 12:15] BurntSushi commented on #101991
It would be nice to have an example in the docs for this API, if possible.

One other thing that pops out at me is the return type of `Option<String>`. My guess is that perf isn't generally a huge concern in this context, and therefore it's okay. But I don't know that for sure. Otherwise, this return type is going to force a clone/allocation on every call. I don't know enough about proc macro inte

[2022-09-23 12:46] neysofu commented on #101725
Several other users have found ICEs triggered by `graphql-parser`, seems to be a common pattern. See https://github.com/rust-lang/rust/issues/91114.

[2022-09-23 13:12] alexkazik opened #102190 "False positive dead code warning"
When code is generated via a proc macro there is a case which creates a false positive for the dead code warning.

Proc macro (src/lib.rs):
[code]

Test (tests/all.rs):
[code]

The current output is:

[code]

The generated code for all four functions are identical (except the name, obviusly), tested with `cargo expand`.

One is reported as dead code, though no report should be given since `#[allow

[2022-09-23 13:52] ckaran commented on #27721
The best example I can give you off the top of my head is *very* niche, and likely not applicable to `str`.

I sometimes have to decode streams of bytes coming in from a receiver that can make errors[^1] because of clock skew, mismatched oscillator frequencies, and noise in general.  These can show up as bit flips, missing bits, or extra bits.  Despite this, I want to know when a legitimate byte s

[2022-09-23 14:05] BurntSushi commented on #27721
Yeah I totally grant that _there exist_ use cases for overlapping search. That's not really what I'm looking for, although I appreciate you outlining your use case. What I'm trying to get at here is that they are not frequent enough to be in std. Frequency isn't our _only_ criterion, but I can't see any other reason why std should care at all about overlapping search. If you want it to be in std,

[2022-09-23 14:42] ckaran commented on #27721
You're right, on all counts.  I don't have a good enough reason for why it should be in std and not some crate, so I'm fine with it being dropped.

That said, I would like to see the documentation clarified on which non-overlapping patterns need to be returned.  I'm fine with the docs stating that you can return an arbitrary set of non-overlapping matches, I just want it to be 100% clear as to wha

[2022-09-23 14:46] pnkfelix commented on #75303
Visiting for T-compiler backlog bonanza

@rustbot label: +S-tracking-unimplemented

[2022-09-23 14:55] pnkfelix commented on #75251
(@m-ou-se pointed out that this is a libs-api team issue, not a libs implementation issue.)

[2022-09-23 14:56] m-ou-se commented on #75251
@rfcbot merge

[2022-09-23 15:00] pnkfelix commented on #75402
Visiting for T-compiler backlog bonanza

@RalfJung 's comments above were somewhat echo'ed by @m-ou-se in the meeting

@rustbot label: S-tracking-design-concerns

[2022-09-23 15:11] davidhewitt commented on #30827
Hey, I'd find the ability to deprecate re-exports very useful for maintaining PyO3, so I'm interested in working on this.

@petrochenkov is the above statement still true, and option (1) preferred? From a quick scan of the code it looks like that is the case. Appreciate that you previously said you're not interested in mentoring this issue. Is there a Zulip room which would be appropriate for me t

[2022-09-23 15:15] matthiaskrgr commented on #102156
This regressed in  https://github.com/rust-lang/rust/commit/7a8636c843bd24038fe1d1f69b4a8e4b0ea55d4e cc @fee1-dead

[2022-09-23 15:21] fee1-dead commented on #102156
Thanks for the bisection. This should be a simple fix:

https://github.com/rust-lang/rust/blob/4d44e09cb1db2788f59159c4b9055e339ed2181d/compiler/rustc_passes/src/check_const.rs#L202

Replace with
[code]

@rustbot label E-easy

[2022-09-23 15:27] RalfJung commented on #75251
Cc @rust-lang/wg-const-eval but this should be uncontroversial

[2022-09-23 15:28] fee1-dead commented on #75251
No concerns with this.

[2022-09-23 15:33] prestontimmons opened #102196 "Segmentation fault when formatting u128 on aarch64 GNU/Linux"
Hello, we've noticed segmentation faults when running Rust binaries compiled on aarch64 GNU/Linux. We've seen this occur in multiple libraries that format or print `SystemTime`.

Architecture:

`uname -a`
[code]

Reproducible example:

[code]

The segmentation fault occurs when fmt_u128 is called.

I tested this on 1.62.0 and nightly:

[code]

[code]

The segmentation fault does not occur in relea

[2022-09-23 15:45] RalfJung commented on #51713
FWIW, with https://github.com/RalfJung/cargo-careful it becomes fairly easy for people to run their code with a stdlib that has debug assertions, so these assertions should be much easier to apply to real-world code now. :)

[2022-09-23 16:07] danielrab commented on #37854
I just had an idea for that: what if we introduce syntax `a..<b` which works exactly the same as `a..b` and only allow that version in match statements?

[2022-09-23 16:23] SparkyPotato commented on #90436
Seems to have been fixed by inNative.

[2022-09-23 16:23] #90436 closed

[2022-09-23 16:44] cuviper commented on #84667
This problem with inline stack probes should be fixed in LLVM 16 by <https://github.com/llvm/llvm-project/commit/26c37b461a02815ccd5d0b4300823542ceeed54e>.

[2022-09-23 16:44] sadmac7000 commented on #102160
Not easily in this environment sadly.

[2022-09-23 16:46] compiler-errors commented on #102160
Can you at least provide a more complete sample of code to reproduce this issue? Otherwise there's little to work with here...

[2022-09-23 17:22] jyn514 opened #102201 "Give a better error when HRTB require a function to be valid for 'static references"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cace533e183828ffeb2772f434b0611e

[code]

The current output is:

[code]

This is *correct*, but hard to understand.

Ideally the output should look like:

[code]

[2022-09-23 17:30] jyn514 commented on #102201
In case it helps, here's one possible way to make the code compile: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=66d32bc16434e74e2befb950629307b5
It won't work in general since the async block could borrow the slice.

[2022-09-23 17:38] newpavlov opened #102202 "Bad codegen for array::map-based code"
`array::map` results in a bad codegen compared to manually unrolled code. This issue can be demonstrated by the following code: https://rust.godbolt.org/z/T7bnTE398

Relevant issue: #86912

[2022-09-23 17:50] newpavlov commented on #102202
A more straightforward implementation of `array::map` makes codegen identical: https://rust.godbolt.org/z/a9csPcnob But it's unclear how to properly make it panic-safe in regards to `f`, i.e. we need a way to properly drop created `U`s after `f` has panicked.

[2022-09-23 18:00] cjgillot commented on #92279
It's a way to reliably trigger the bug.  It does not need to be small, your full project (if you can share it) is ok.  For incremental bugs, we accept a git history with a "working" commit, and a commit which exhibits the bug.

[2022-09-23 18:13] opeolluwa commented on #92279
Oh! Thanks for the explanation @cjgillot. I could not reproduce the error, however clearing the `target` directory (with `cargo clean`) then restarting the application works for me and I haven't experienced a similar thing

[2022-09-23 18:40] the8472 commented on #102202
We could special-case based on `needs_drop::<T>`?

[2022-09-23 18:51] Manishearth commented on #34761
I feel like for an unsafe escape hatch it's probably not a great idea to have a strong effect system situation? If you're using this you're already doing some unsafe tricky thing; the user is already in a situation where they can't prove safety to the compiler; asking them to prove safety seems suboptimal

I also do agree that this should be stable; being able to implement a stable `Vec<T>` seems

[2022-09-23 19:31] #101870 closed

[2022-09-23 19:37] rsalmei opened #102206 "1.64 stable: no errors encountered even though `delay_span_bug` issued"
Hello,
Unfortunately, I can't provide a minimal verifiable example.
All I know is my organization project broke with this after updating Rust to 1.64 stable.
I'll have to get 1.63 back.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Thanks.

[2022-09-23 19:49] rsalmei commented on #102206
Humm, I've found a clue, this code is *wrong*, but it is what triggers the ICE:
[code]

Note: `self.commit_exceptions` is an async method, so I tried to return an impl Future...

[2022-09-23 19:58] veber-alex commented on #102202
There is another issue here, the simple `map` function produces very bad assembly on nightly.

[2022-09-23 20:12] newpavlov commented on #102202
@the8472
No, I think we simply need something like [`ReadBuf`](https://doc.rust-lang.org/std/io/struct.ReadBuf.html) to track number of initialized elements. With no-drop types the additional code should get eliminated.

@veber-alex
It looks like a clear nightly regression. I will open an issue for it.

[2022-09-23 20:17] newpavlov opened #102208 "Codegen regression from stable to nightly and beta"
While discussing potential alternative implementations for `array::map` in #102202, the following regression was discovered on nigthly/beta: https://rust.godbolt.org/z/h39Tr776T See assembly for `foo2`, it should be identical to `foo1`, but for some reason compiler was unable to eliminate panics. Switching toolchain to 1.64 results in expected efficient assembly.

[2022-09-23 20:20] RustyYato opened #102209 "ICE during borrow check HRTB & Self type"
### Code

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=03575f5ac3e8419c0bd8efb8bd1846f5

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-23 20:21] the8472 commented on #102202
The [Guard](https://github.com/rust-lang/rust/blob/master/library/core/src/array/mod.rs#L865-L868) type does just that.
The thing is that the surrounding code is super-generic and relies heavily on the optimizer. That it runs on two loop conditions (`0..N` and `iter.next()`) probably doesn't help, LLVM is bad at optimizing that kind of thing.

[2022-09-23 20:27] the8472 commented on #102208
Using `for_each` instead of `for (i, x) in` works. LLVM has issues with that pattern #92174

[2022-09-23 20:34] newpavlov commented on #102202
I wrote [variation](https://rust.godbolt.org/z/MrrWGznPa) of the `Guard` and it properly compiles into expected assembly. Dunno what exactly makes the difference.

[2022-09-23 21:04] compiler-errors commented on #102206
Repro:

[code]

This was fixed on nightly, and is also fixed on beta currently.

[2022-09-23 21:18] mucinoab commented on #102156
@rustbot claim

[2022-09-23 21:24] Manishearth commented on #34761
A workaround hack that can sometimes work is taking types of the form:

[code]

and turning them into this:

[code]

and implementing `Drop` on the inner type. It's more of a problem if the lifetime is really needed in your internal stuff, though.

[2022-09-23 21:24] nidnogg commented on #100717
Heya @davidtwco! Yes I'll be working on both `rustc_expand` and `rustc_const_eval` probably this week as I've recently finished a chunk of work that was holding me back. I might need help with some of the trickier migrations though, I'll beep the #i18n channel as needed.

[2022-09-23 21:49] sfackler opened #102211 "Bogus `higher-ranked lifetime error` in an async block"
Running stable 1.64.0.

Unfortunately this happened in a complex bit of code that I can't easily reduce :(

[code]

[code]

The future returned by `handle_service.call(connection)` is definitely `Send`, and I can work around the failure by boxing it:

[code]

[2022-09-24 00:35] inquisitivecrystal commented on #102170
I agree that the diagnostic here needs work, but disagree on how to improve it. I don't think the diagnostic should suggest changing the function signature, because changing that often has collateral consequences on callers. However, it would be nice if it pointed out that Options with references inside them do also offer the cloned method.

[2022-09-24 02:11] Themayu opened #102217 "1.64 - Unexpected `dead_code` warning from inside macro expansion."
I am getting an unexpected `dead_code` warning from inside a procedural macro's output. This warning did not appear in the previous version of the Rust Compiler. This is not present in the changelog for 1.64, so I do not believe it to be an expected change.

### Code

I tried this code:

[code]

I expected to see this happen: I expected the code to compile without warnings, as was true for the pre

[2022-09-24 02:45] ComputerDruid opened #102219 "ICE with async trait in lib crate"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

built from 4a14677239bbd9a3892d165ee24513c1a05820e4

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-24 03:08] Nugine opened #102220 "rustc can not inline simple for-loop when arm neon is enabled"
I tried this code:

<https://rust.godbolt.org/z/PfGvMaK4f>

[code]

[code]

I expected to see this happen: The for-loop should be inlined.

Instead, this happened: I see the symbol `<core::ops::range::Range<T> as core::iter::range::RangeIteratorImpl>::spec_next` in the asm output.

### Meta

`rustc --version --verbose`:
[code]

[2022-09-24 03:52] Kampfkarren commented on #102170
Yeah, the specific point I'm making is Option<&T>::cloned() exists, and is what I wanted, but it was not communicated to me.

[2022-09-24 04:12] LegionMammal978 commented on #101899
As an addendum, while I was looking through the published crates that call `Layout::from_size_align_unchecked()`, I found 25 crates that are unsound before and after the change, regardless of whether `alloc()` enforces an `isize::MAX` bound:

<details>
<summary>Unconditionally unsound crates</summary>

(These crates may be unsound for reasons beyond those listed; I just picked whatever issue was e

[2022-09-24 04:25] inquisitivecrystal commented on #102217
This should be fixed by `pin_project` version 1.0.11. I'm having a lot of trouble reproducing the warning, even on older versions of `pin_project`; I think I'd need a complete example of the code that triggers the warning to have a chance of doing so.

[2022-09-24 04:25] scottmcm commented on #101899
This concerns me.  I think if we're going to make this allowed then we should say that the manipulation functions are either fully correct or they panic/abort -- I wouldn't want to add *new* unsafety to things because all of a sudden their layout calculations start giving them garbage.  We *do* still have the "rounding up needs to fit in `usize`" rule, which is the most important part (IMHO) for m

[2022-09-24 04:35] LegionMammal978 commented on #101899
As I mentioned in my earlier comment, none of our 3 WASM environments (Emscripten, wasi-libc, wasm32-unknown-unknown) enforce `isize::MAX` right now. Especially https://github.com/alexcrichton/dlmalloc-rs looks like it could be low-hanging fruit here.

[2022-09-24 04:54] scottmcm opened #102221 "intra-doc link failed linkchecker when depending on `cfg(doc)`"
In one version of #102169 I was using `cfg(doc)` to bring in a `use` that one of the intra-doc links needed: https://github.com/rust-lang/rust/commit/96314f9cfb3a489b83e05ce70a48ef045aca6d62

But which that worked to make `x.py doc` pass, it later failed linkcheck: https://github.com/rust-lang/rust/actions/runs/3111111451/jobs/5043028360
[code]

So I had to go back to a `use` with an `allow` (http

[2022-09-24 05:17] Nugine commented on #102220
The label may be `O-Arm` as rustc optimizes the for-loop correctly on Aarch64.

[2022-09-24 05:34] thomcc commented on #93889
This works on nightly, closing.

[code]

[2022-09-24 05:34] #93889 closed

[2022-09-24 06:56] taiki-e commented on #81684
@rustbot label +A-code-coverage

[2022-09-24 08:32] leonardo-m opened #102229 "Warm/disallow NaN equality?"
TypeScript 4.9 Beta now errors on direct comparisons against NaN:
https://devblogs.microsoft.com/typescript/announcing-typescript-4-9-beta/#bye-bye-batman

Rust 1.66.0-nightly compiles this silently:

[code]

Clippy gives an error:

[code]

Perhaps it's worth upstream this error in rustc?

[2022-09-24 09:07] JohnTitor commented on #99665
Triage: #101708 fixed the issue and it has a regression test that seems to cover this case, closing as fixed.

[2022-09-24 09:07] #99665 closed

[2022-09-24 09:36] #102140 closed

[2022-09-24 10:37] lovasoa opened #102231 "diagnostics for lifetime issues sometimes point to code unrelated to the issue"
Given the following code:

[code]

([Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f3d51947e5a1ceadf25149391883056a))

The current output is:

[code]

Ideally the output should look like:

[code]

### Context

I was working on a code refactoring involving many lifetime annotations (https://github.com/sunng87/handlebars-rust/pull/532) for my work on an eff

[2022-09-24 11:22] Darksonn commented on #66806
For those looking for the PR that stabilized this, it is #97791.

[2022-09-24 12:50] GuillaumeGomez commented on #102154
I think it's because of a change in the compiler. Maybe you know about this @oli-obk ?

[2022-09-24 14:15] matthiaskrgr commented on #102154
cargo-bisect-rustc points to 89e4e1f1b32e2a88cf696337f77e10273142c1a0

[2022-09-24 15:32] KarelPeeters opened #102238 "`#[must_use]` on traits should apply to all types that implement the trait, not just for `impl Trait` placeholders"
# General issue

Currently, `#[must_use]` on a trait `Foo` does not extend to types that implement `Foo`, it only works on `impl Foo` return types, and `Box<dyn Foo>` as a [special case](https://github.com/rust-lang/rust/pull/62228):

[code]

[(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e20f4a36678da8e8b02f4c7e30276199)

This does not make much sense, pres

[2022-09-24 15:43] chenyukang commented on #102231
Per my understanding, `x1` is a kind of implicit argument for `get_self`, because `&mut self`?

[2022-09-24 16:10] Rageking8 commented on #102219
@rustbot label +F-async_fn_in_traits

[2022-09-24 16:12] Themayu commented on #102217
This warning came from `pin_project` version 1.0.8; I wasn't aware that there were updates available that prevented it. With that in mind, it should be reproducible by the following `std::future::Future` custom implementation:

[code]

[code]

[2022-09-24 16:14] Rageking8 commented on #102202
@rustbot label +A-codegen +C-bug

[2022-09-24 17:17] #101065 closed

[2022-09-24 18:15] lovasoa commented on #102231
Yes, that seems to be the reasoning in the error message.

[2022-09-24 20:01] JacobSima commented on #61551
Remove the definition of enum Option in your code and all will be fine

[2022-09-24 21:42] dtolnay commented on #101991
@rfcbot concern a question of line-endings

[2022-09-24 21:45] dtolnay commented on #101991
Not the whole file, but it can certainly escape a single macro call, and can include totally unrelated items. It sounds similarly problematic as getting a span for the whole file.

[code]

[code]

[code]

[code]

@rfcbot concern span which escapes the macro

Is `join` supposed to return `None` here? Is `source_text` supposed to return `None`?

[2022-09-24 22:00] janie177 opened #102246 "Stack overflow for big types in mpsc channels on separate thread"
I tried this code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7ebdbceac5477ebb48a65f5ecacb5c62

I expected to see this happen:
*The program shouldn't do much beside printing a friendly message.*

Instead, this happened:
*When running in Debug mode, the program crashes due to a stack overflow. In release mode it behaves as expected. Looping over the data in the

[2022-09-24 22:50] Architector4 opened #102248 "rustc segfault (on ridiculous unlikely code)"
rustc seems to segfault on my machine with this code. It's admittedly very ridiculous, so maybe this is a complete non-issue, but I'd expect it to pop up anything fancier than a raw unclear spam of what looks like a stack trace and then segfaulting.

The code and the compiler outputs are too large for GitHub's issue body 65536 character limit, so here it is as a gist: https://gist.github.com/Archi

[2022-09-24 23:07] mati865 commented on #100917
Quoting myself from https://github.com/rust-lang/rust/pull/102243#issuecomment-1257079818:

[2022-09-25 00:26] andrewbanchich opened #102250 "rustdoc removes feature flag labels for re-exports"
[`tower::service_fn`](https://docs.rs/tower/latest/tower/fn.service_fn.html), for example, says nothing about feature flags you need to enable, even though it is behind the `utils` flag. This makes it fairly confusing.

The `service_fn` in the crate root is just a reexport of [`tower::utils::service_fn`](https://docs.rs/tower/latest/tower/util/fn.service_fn.html), which *is* correctly marked as be

[2022-09-25 00:29] lopopolo opened #102251 "rustdoc does not link members of enum tuple variants that have the same type name as the variant name"
I tried this code:

[code]

I expected to see this happen: rustdoc linkifies all inner types on all enum variants like it does for `DateTimeError`.

Instead, this happened: `TzStringError`, `TzOutOfRangeError`, and `IntOverflowError` are not turned into links on the doc page for `TimeError`.

As of 2022-09-24 published at https://artichoke.github.io/artichoke/spinoso_time/tzrs/enum.TimeError.html.

[2022-09-25 00:58] #83158 closed

[2022-09-25 01:47] Nugine commented on #48745
`transmute` is const since 1.56. This issue seems to be solved now.

<https://rust.godbolt.org/z/s7bEEj3W9>

[code]

[code]

[2022-09-25 03:49] inquisitivecrystal commented on #102217
Thanks! This bisects to #98402. CC @cjgillot.

[2022-09-25 04:10] ChaiTRex opened #102252 "ICE: `rustc_specialization_trait` and circular associated type"
### Code

[[Playground link]](https://play.rust-lang.org/?edition=2021&gist=dfeae3d7de9324a5f43e3937618e8857)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-25 04:36] ChaiTRex commented on #102252
It looks like it was introduced some time between 1.43.1 and 1.44.1.

### Meta

`rustc --version --verbose`:
[code]
### Error output
[code]

<details><summary><strong>Backtrace</strong></summary>

[code]
</details>

[2022-09-25 06:26] Amanieu commented on #93740
This was an intentional design decision. Recursive read locks effectively require that readers always acquire the lock without block if there is already an existing reader. The problem is that this could lead to writer starvation where readers are always overlapping and a writer never gets a chance to acquire a write lock. This is important because many `RwLock` workloads are read-heavy with relat

[2022-09-25 06:53] #98293 closed

[2022-09-25 06:53] #98378 closed

[2022-09-25 08:01] chenyukang commented on #102182
What do you expect the suggestion from this code?

[code]

here `hello` is a valid identifier, "expected one of these tokens" comes when the second identifier comes.

[2022-09-25 08:31] anuraaga opened #102255 "Unable to create wasm32-wasi staticlib without libc"
I am trying to build rust code as a library to link into a WebAssembly program. The linking happens completely outside the context of Rust using LLVM's `wasm-ld`.

The project is at https://github.com/anuraaga/coraza-wasm-filter

[code]

(The code including the patch applied by the Dockerfile is at https://github.com/anuraaga/aho-corasick/tree/wasi-build)

I expected to see this happen: `libc` is

[2022-09-25 08:57] RalfJung commented on #93740
Oh, that is quite surprising. It seems pretty hard to ensure in a codebase that there is no reader already active on the current thread -- that kind of reasoning is not usually required in Rust, and is hard to do in a compositional/modular way without compiler support. (Everybody knows one needs to be aware of that when writers are involved, but since writers are usually rare, that is a lot easier

[2022-09-25 09:10] Amanieu commented on #93740
AFAIK it doesn't panic on recursive reads, it just deadlocks if there happens to be another writer waiting for the lock.

That makes the lock much more complicated since it would need to track the thread IDs for all thread that own a read lock (of which there can be arbitrarily many).

[2022-09-25 09:13] RalfJung commented on #93740
That seems worse than a panic.^^

From what I could see, the [documentation](https://doc.rust-lang.org/nightly/std/sync/struct.RwLock.html#method.read) only mentions the possibility of panics on recursive reads, not deadlocks.

Yeah I know. But the current situation makes *using* the lock in large codebases much more complicated.

[2022-09-25 09:15] thomcc commented on #93740
I disagree that this kind of reasoning isn't usually required -- you already need to keep an eye on what locks are currently held on your thread in order to avoid deadlocks, otherwise it seems likely that you'll hit lock ordering issues.

[2022-09-25 09:15] Amanieu commented on #93740
In parking_lot I added a [`read_recursive`](https://docs.rs/lock_api/latest/lock_api/struct.RwLock.html#method.read_recursive) method which explicitly allows recursive read locks, but then you lose the no-writer-starvation guarantee.

[2022-09-25 09:34] #99535 closed

[2022-09-25 09:38] RalfJung commented on #93740
You need to look out write conflicts between writers and other lock users, sure. Same as with `RefCell`.

But not between *all* mutual lock users. (For RwLocks.) This is a departure from `RefCell`.

[2022-09-25 09:51] GuillaumeGomez commented on #102250
Another re-export issue. I'll take a look at it.

[2022-09-25 09:52] GuillaumeGomez commented on #102250
Just to be sure: did you try with a more recent nightly? I fixed a similar issue in https://github.com/rust-lang/rust/pull/101006.

[2022-09-25 09:57] oli-obk commented on #102154
This is almost certainly https://github.com/rust-lang/rust/pull/102037 (the ice mentions cycles). Likely rustdoc is unwrapping something in generate_for_trait in the closure arg for the call to find_auto_trait_generics

[2022-09-25 09:58] GuillaumeGomez commented on #100054
The example could be simplified indeed.

[2022-09-25 10:15] gimbles commented on #100054
@rustbot claim

[2022-09-25 11:01] apiraino commented on #102217
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102217.201.2E64.20-.20Unexpected.20.60dead_code.60.20warning.20from.20inside.20m.E2.80.A6)).

@rustbot label -I-prioritize +P-medium -E-needs-mcve

[2022-09-25 11:07] pinkforest opened #102260 "Sealed Windows `FileTypeExt` extensible trait broke `FileTypeExt` in wasi-common"
EDIT: So Sealing happened via 2nd commit on: https://github.com/rust-lang/rust/issues/98583 - which I had originally traced down here but didn't have PR ref

## Unknowns / TODO

Note: I can't find `windows_file_type_ext` feature from unstable book or it's tracking issue ?

So the Sealed trait was designed to prevent people rolling own trait impl's ?

I suspect that cap-primitives *may* need to dea

[2022-09-25 11:12] Rageking8 opened #102261 "Improve diagnostics for incorrect double pointer type"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6ef90d137a70b94d60c117306b28f079)

[code]

The current output is:

[code]

Ideally the output should suggest correct ways to specify a double pointer type (e.g. `*const *const T`)(May be able to extend for more levels of indirection if wanted), instead of a generic single pointer suggestion, w

[2022-09-25 11:25] pinkforest commented on #102260
So this ended up being https://github.com/bytecodealliance/cap-std/issues/270

Sigh. sorry :blush:

[2022-09-25 11:27] Rageking8 opened #102262 "Recover from incorrect use of semicolon in various empty declaration/impl"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3d59ad6ba33e68b8aa1997d993b2cea3)

[code]

The current output is:

[code]

Ideally the output should suggest adding `{}` for each of the incorrect empty declaration/impl shown above. Thanks.

[2022-09-25 11:43] andrewbanchich commented on #102250
It does seem to be fixed on nightly. Thanks!

[2022-09-25 11:43] #102250 closed

[2022-09-25 12:00] #101951 closed

[2022-09-25 12:00] #102138 closed

[2022-09-25 12:17] GuillaumeGomez commented on #100190
It should be probably added on the `SliceIndex` trait implementation on `[T]` (from [here](https://doc.rust-lang.org/nightly/std/primitive.slice.html)).

[2022-09-25 12:20] GuillaumeGomez commented on #99398
I took this screenshot in [stable docs](https://doc.rust-lang.org/stable/std/intrinsics/fn.transmute.html):

![image](https://user-images.githubusercontent.com/3050060/192143009-2162f0bb-8fa4-45cd-9bc2-d548c7f88839.png)

So it's fixed. Closing then.

[2022-09-25 12:27] taiki-e commented on #99398
@GuillaumeGomez  I don't think this has been fixed yet. (note that this issue is about `core`, not `std`)

https://doc.rust-lang.org/stable/core/intrinsics/fn.transmute.html

<img width="1009" alt="core" src="https://user-images.githubusercontent.com/43724913/192143225-9cccf71f-ba62-4d55-bae2-8ced7f5b1d41.png">

[2022-09-25 12:29] GuillaumeGomez commented on #99398
Oh you're right. Re-opening.

[2022-09-25 14:33] kprotty commented on #93740
IMO, `RwLock` shouldn't be treated as a drop-in for `RefCell`. The latter only tracks state (readers/writers), while the former synchronizes state (by blocking the caller until the desired state is achievable). An atomic `RefCell` more closely matches the use of `try_read()`/`try_write()` methods on an `RwLock` instead.

[2022-09-25 15:07] pinkforest commented on #102260
So there is now wasmtime 0.40 which will break when / if this will into stable release

https://github.com/bytecodealliance/wasmtime/issues/4957
https://github.com/bytecodealliance/cap-std/issues/270#issuecomment-1257212448

I'll try to get a point release there so it continues to work under 0.40 at least

I also asked re: process about sealing traits that were previously not sealed
https://rust-l

[2022-09-25 15:43] 5225225 opened #102269 "Suggest `.swap()` method on slice instead of `std::mem::swap` when latter causes conflicting borrows"
Given the following code:  https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=599e18cde44ec5b1ebb113780f3e6487

[code]

The current output is:

[code]

I'd expect a `help:` or similar suggesting a replacement with `arr.swap(0, 1)`.

[2022-09-25 16:14] thomcc commented on #93740
No, you need to look out for every other lock currently held. It's a potential deadlock if you acquire `A` then `B` in one place, and `B` then `A` somewhere else. This can be true even for read acquires. It doesn't feel that different to me.

[2022-09-25 16:22] pinkforest commented on #102260
I'll see what wasmtime can provide to support 0.40 users. The sealed is working as intended - wasmtime was relying on unstable feature so no issue here.

[2022-09-25 16:22] #102260 closed

[2022-09-25 16:22] Nilstrieb commented on #102196
I can't reproduce this segfault inside an arm64 docker container on an x86_64 host, so this seems to require a real machine and doesn't work under QEMU.
`Linux 8ae19ce495c5 5.10.102.1-microsoft-standard-WSL2 #1 SMP Wed Mar 2 00:30:59 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux`

[2022-09-25 16:32] Nilstrieb commented on #102132
This isn't just a WASM thing but a general codegen thing where LLVM still inserts the `TrapUnreachable` trap after a call to `llvm.trap`. See this https://godbolt.org/z/a7Wv58EPo for a simpler example.

[2022-09-25 16:33] Nilstrieb commented on #102132
@rustbot label -O-wasm +A-llvm

[2022-09-25 16:40] lopopolo commented on #83400
I came across this unstable API when debugging a panic in a time crate I maintain:

- https://github.com/artichoke/artichoke/issues/2194

I will prepare a stabilization PR shortly and hope we can resolve the open question on error type naming in the context of an FCP.

[2022-09-25 16:53] #97982 closed

[2022-09-25 17:09] saethlin commented on #102196
Thus far I cannot reproduce this issue. Perhaps because I'm on

`Linux alarm 5.19.8-1-aarch64-ARCH #1 SMP PREEMPT Thu Sep 8 18:20:33 MDT 2022 aarch64 GNU/Linux`

Is the above output from a graviton2 instance?

[2022-09-25 17:09] thomcc commented on #102196
Are you using `mold` as your linker by any chance? Seems somewhat similar to https://github.com/rust-lang/rust/issues/101247.

[2022-09-25 17:15] aDotInTheVoid commented on #101926
@rustbot modify label: +E-needs-mcve

[2022-09-25 17:23] lopopolo commented on #83400
I have pushed a stabilization PR and stabilization report here: https://github.com/rust-lang/rust/pull/102271.

The stabilization PR renames the error type to `TryFromFloatSecs` to indicate the fallibility of the method like `Vec::try_reserve` and `TryReserveError`.

[2022-09-25 17:41] Canleskis opened #102274 "Function operating on arrays performs a lot worse for arrays of length 2"
Hello, after some [discussion](https://stackoverflow.com/questions/73839861/peculiar-performance-variance-with-small-arrays) on Stack Overflow, I was suggested to file an issue here.

The following function performs unexpectedly poorly with N = 2.
[code]
Array is a simple wrapper implementing `Add` and `Sub` around an array of `f32`s. The results are the same without that wrapper.

Here is a graph

[2022-09-25 19:02] Rageking8 commented on #102274
@rustbot label +T-compiler +A-LLVM +I-slow +A-codegen

[2022-09-25 19:31] Jarcho commented on #101113
The example assigning `uninit` looks like a rustc bug. The error is from attempting to read the discriminant value for the union which is somehow uninitialized despite being set by `uninit()`. This is a little different from the first example which has memory which should be uninitialized being read.

[2022-09-25 19:53] prestontimmons commented on #102196
Thanks for looking into this.

1) I also have not been able to reproduce this on x86_64 or in an emulated docker running on x86_64.

2) Yes, it is a graviton2 instance using `5.10.135-122.509.amzn2.aarch64`.

3) No, this is using the default linker. `mold` has not been added.

I did some more testing and found an interesting result. When using `cargo run` directly on the host the segmentation faul

[2022-09-25 20:09] tones111 opened #102278 "avr: SIGSEGV (invalid memory reference) when compiling core"
The [AVR Rust book](https://book.avr-rust.com/003.2-note-about-rust-build-std-flag.html) describes the need to build the core library when compiling a binary.  When attempting to compile a simple binary the following error occurs:

$ cargo build -Z build-std=core --target avr-unknown-gnu-atmega328 --release
...
error: could not compile \`core\`

Caused by:
  process didn't exit successfully: `rust

[2022-09-25 21:07] compiler-errors commented on #102261
I think this message is fine as it. I guess it could be slightly more specific -- saying "expected `const` or `mut` keyword in raw pointer type"

[2022-09-25 21:09] RalfJung commented on #102043
Will be fixed by https://github.com/rust-lang/rust/pull/102281

[2022-09-25 21:37] #84305 closed

[2022-09-25 21:37] #86218 closed

[2022-09-25 22:19] compiler-errors commented on #102183
Probably could also achieve this by triggering `unused_must_use` on any `impl Trait` whose supertrait has `#[must_use]`. Might need lang team sign-off.

[2022-09-25 22:31] compiler-errors commented on #99490
Yeah, I was curious if we could move all of this logic into `find_opaque_ty_constraints_for_tait` actually. We could make a fresh infcx there and equate all the different hidden types we find both during typeck (with erased regions -> fresh regions) and the ones we find during borrowck?

[2022-09-25 23:18] jam1garner commented on #101991
I would personally expect that to fail at the source_text call (good find), unless we want to make more stringent guarantees about external spans being impossible to construct. (Personally my expectations of Span::join are that failures are about spans impossible to represent (from incompatible sources), not ones we choose not to let the user do things with)

[2022-09-25 23:35] matthiaskrgr opened #102289 "ice: combine tests: Ty::fn_sig() called on non-fn type: _"
### Code

This happens inside https://github.com/Marwes/combine
The ice seems to come from this test function https://github.com/Marwes/combine/blob/master/src/lib.rs#L637
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-25 23:50] cr1901 opened #102290 "Missing `rust_begin_unwind` symbol for msp430 (debug-only?) builds"
### Code

#### Instructions

1. Make sure the `msp430-elf-gcc` [toolchain](https://www.ti.com/tool/MSP430-GCC-OPENSOURCE) is installed. Optionally install [`just`](https://github.com/casey/just) for convenience.
2. `git clone https://github.com/cr1901/msp430-size`. Use commit [036da7a](https://github.com/cr1901/msp430-size/commit/036da7a640ca151df3d5721897b744c00368662e) **specifically.**
3. Insta

[2022-09-26 00:05] compiler-errors commented on #102289
Hmm... this will be fun to minimize, lol.

[2022-09-26 00:16] compiler-errors commented on #102289
Ok this is due to #100096. I'll probably revert that due to its existing perf regression and this ICE. I may also work on a test, but it might be hard to minimize. I'll see.

[2022-09-26 00:29] QuineDot opened #102291 "`Self` based method bounds defeat newtype pattern"
[Inspired by this URLO thread by ChaiTRex.](https://users.rust-lang.org/t/getting-errors-implementing-unzip-in-an-iterator-adapter/81739)

[Writing a newtype for `Iterator` is not possible in the fully general case:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=91bad714f68380cecb030a89d000efa5)
[code]
As I understand the issue, the method is not allowed to exploit the ty

[2022-09-26 00:42] tones111 commented on #102278
Another data point.  It looks like a workaround is to enable LTO.  Adding the following to Cargo.toml appears to make the error go away when compiling with nightly-2022-09-24.

Trying to compile a debug build errors (even with LTO enabled) with

[2022-09-26 01:51] compiler-errors commented on #102289
searched nightlies: from nightly-2022-06-01 to nightly-2022-09-25
regressed nightly: nightly-2022-09-22
searched commit range: https://github.com/rust-lang/rust/compare/432abd86f231c908f6df3cdd779e83f35084be90...9062b780b32d2eab060b4432863e085d9504ca5c
regressed commit: https://github.com/rust-lang/rust/commit/1de00d1ac5247a02184ef7ad044f6521ade7e0cc

<details>
<summary>bisected with <a href='http

[2022-09-26 02:37] anuraaga commented on #102255
After looking closer at the symbols, I realized the `libc` I was seeing is the rust libc crate, not libc itself. The duplicate symbols were triggered by adding the rust library but were not actually because of it, so no problem. Sorry for the noise.

[2022-09-26 02:37] #102255 closed

[2022-09-26 02:46] dupu222 commented on #82521
is there a way dont't to link libgcc_s when building dynamic lib on musl -crt-static?
is there a way to static link libunwind in this case?

[2022-09-26 02:59] Stoozy commented on #100615
Hello, I would like to work on this. So far I've been able to get this kind of output
[code]
with the input found in the original message.

 I am looping over all generic params and checking if the full `<...>` span doesn't contain the `span` associated with the parameter, at which point I try to suggest the introduction of the named lifetime parameter.

 I'm looking for a few pointers on:
 - If m

[2022-09-26 03:15] QuineDot commented on #102291
[Method resolution fails to see reality too,](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b101be6013d276555bbffe653672612d) so changing this would be a breaking change.

[2022-09-26 03:33] samuelbarrionuevo opened #102294 "join the organization"
Hi, i like join to the repository to colaborate in rust programming, thanks
tecsamuel25@gmail.com

[2022-09-26 03:45] cr1901 opened #102295 "Inlined function duplication across complex branches when `extern "Rust"` is used with LTO and `opt-level="s"`"
## Context

**The example code I linked/described here is an MCVE. See Background For "Real" Applications section for details.**

* Consider a Rust binary which calls a function `free(f)` within its `main()`. `free()` takes a closure `f` with a branch (`?`) as input, and in turn calls `f` and then a function called `release()`.
* The Rust binary has a feature called `use-extern-cs`. When disabled,

[2022-09-26 04:06] workingjubilee commented on #102294
Please see my response in https://github.com/rust-lang/rust/issues/101110, thanks!

[2022-09-26 04:06] #102294 closed

[2022-09-26 05:27] #101095 closed

[2022-09-26 05:27] #102219 closed

[2022-09-26 06:44] eddyb commented on #102174
I believe `%X* byval(%X)` and `%X` are equivalent *when stack-passing happens for the latter* (IOW, my understanding is that `byval` forces stack-passing and then behaves like `ref` on Rust pattern bindings), though the pointer form may avoid some inefficiencies (and will always cause stack-passing).

IIRC x86 32-bit ABIs don't have *any* registers available for arguments "by default" (and the pro

[2022-09-26 07:16] sundeep-kokkonda opened #102299 "rustc-driver binary is not identical for every build"
The rust build output _[[build-dir]]/x86_64-unknown-linux-gnu/stage1/lib/librustc_driver-67046b4f71f47f00.so_ is not identical for every build. I debugged the issue by comparing all the generated object files between two different builds, the object file '_[[build-dir]]/bootstrap/debug/incremental/bootstrap-22qjf7qknjduo/s-gdrx5ab0wu-1spyacv-3unuz3kev23rs/4oqq7pii1co5y8sx.o_' is different between

[2022-09-26 08:04] nikic commented on #102174
Thanks, this is the bit I was missing! The ABIs are incompatible at the LLVM IR level, but become compatible post-legalization.

That does limit the issue to the cross-language LTO case only.

LLVM will generally try to relax `byval(%T)` into individual SROAd `%T` arguments as part of argument promotion -- but this is only for functions with internal linkage, not for the case which you're talking

[2022-09-26 08:08] #101540 closed

[2022-09-26 08:48] apiraino commented on #102290
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102290.20Missing.20.60rust_begin_unwind.60.20symbol.20for.20msp430.20.28debu.E2.80.A6)).

thanks @cr1901 for the bisection. It eads to #100404 cc: @BelovDV

@rustbot label -I-prioritize +P-medium

[2022-09-26 09:04] GreenYun opened #102364 "Add Source Serif Bold Italic font resource for displaying bold italic text"
Currently docs.rs does not provide bold italic font resources for the web page, the text inside `<em><strong> </strong></em>` is just in italic form.

Try this code and run `cargo doc --open`:

[code]

then check out the generated web page.

[2022-09-26 09:17] Artemis21 opened #102301 "RPITIT seems to assume return type is the type parameter when it looks the same"
I tried this code:

[code]

I expected this to compile without error, since it is implementing the trait correctly.

Instead, the following error was shown:

[code]

It suggests replacing the code with the code I already have, which doesn't make much sense, as well as complaining that two things which appear identical are not.

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&ed

[2022-09-26 09:37] Rageking8 commented on #102301
@rustbot label +T-compiler +requires-nightly +F-return_position_impl_trait_in_trait +D-invalid-suggestion

[2022-09-26 09:38] jinleili commented on #48862
From https://doc.rust-lang.org/nightly/rustc/platform-support.html, `aarch64-apple-tvos` target only supports no_std development.

[2022-09-26 09:39] wader commented on #82521
@dupu222 Maybe these alpine issues are interesting for you. The gcc_s issue should be fixed in alpine edge built rust toolchain (package version 1.62.1 or laster):
https://gitlab.alpinelinux.org/alpine/aports/-/issues/11806
https://gitlab.alpinelinux.org/alpine/aports/-/issues/12941

[2022-09-26 09:43] compiler-errors commented on #102301
@rustbot claim

[2022-09-26 09:45] Rageking8 commented on #100615
@Stoozy Another friendly tip: when you want to undertake an issue, you should claim the issue first to prevent duplicated effort (Write the command shown below in the target issue as a comment to assign urself). Thanks.

![Screenshot_2022-09-26-17-40-49-17_320a9a695de7cdce83ed5281148d6f19.jpg](https://user-images.githubusercontent.com/106309953/192245607-ba41d65f-7671-45b0-b602-e28863ef9d0e.jpg)

[2022-09-26 09:48] dsekercioglu opened #102303 "Array indexed by enum cast to usize no longer has bounds check eliminated"
Rust compiler fails to eliminate bounds check when array is indexed by an enum cast to usize
Compiler explorer: https://godbolt.org/z/4o5cqT1eK

### Code

[code]
I expected the compiler to remove the bounds checks like it did previously however it failed to do so.

### Version it worked on

It most recently worked on: Rust 1.63.0

### Version with regression

[code]

@rustbot modify labels: +regre

[2022-09-26 09:50] Rageking8 commented on #102303
@rustbot label +T-compiler +A-codegen +I-slow

[2022-09-26 09:53] Rageking8 commented on #102043
@rustbot label +C-bug +A-lint

[2022-09-26 10:00] wader commented on #55120
The alpine rust package now has a patch to fix this https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/36627/diffs

[2022-09-26 10:28] estebank commented on #102182
I think this case should remain as is. `impl Trait` in particular is a shame because it is a valid type for the parser, but not a valid trait, and newcomers might not yet have a mental model for the distinction. I would say, when parsing a trait, if it can't be parsed, then try to parse a type in a snapshot (like we do in other parts of the parser), and if successful, emit a targeted error (trait

[2022-09-26 10:59] estebank commented on #100615
@Stoozy can you call `LateResolutionVisitor::suggest_introducing_lifetime` (or split part of its body to make it appropriate for this case too) and reuse that logic?

[2022-09-26 11:13] chriss0612 opened #102307 "Tracking Issue for sorting in const context"
Feature gate: `#![feature(const_sort)]`

This is a tracking issue for const slice::sort and `sort_internals`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #102279
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- See #102279

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-09-26 11:32] clubby789 commented on #102303
Regressed in #96862

[2022-09-26 12:00] Dirbaio opened #102308 "async fn in trait: trait method with default impl doesn't work"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=82e8d90150eb8019eccc5c13449d5228)

[code]

fails with

[code]

Nightly version: 1.66.0-nightly (2022-09-25 f5193a9fcc73dc09e41a)

@rustbot label +F-async_fn_in_traits

[2022-09-26 12:21] nikic commented on #102303
cc @oli-obk It looks like the necessary support code has already landed in https://github.com/rust-lang/rust/pull/98332, so this should be a simple fix now?

[2022-09-26 12:31] LunarLambda opened #102309 "Building Rust software for use in an MSYS2 environment?"
tl;dr: Is it possible, and if not, how much work would be necessary, to compile Rust programs for MSYS2's emulated POSIX environment (i.e. programs that link against `msys-2.0.dll`)?

MSYS2 is not merely useful as a build environment for cross-compiling on Windows, but also as a portable development environment and alternative to WSL.

So, it would be quite useful to compile some unix-y Rust tools

[2022-09-26 13:04] Dirbaio opened #102310 "async fn in trait: ICE with 2 generic params in method"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e125577e1190890f2ddbb3213c4fb6cb)
[code]

gives

[code]

[full stack trace](https://gist.github.com/Dirbaio/fac2b7995a7f9bdd5cbc0d88f99c06ce)

happens with either

rustc 1.66.0-dev (21265dd0d2)
1.66.0-nightly (2022-09-25 f5193a9fcc73dc09e41a)

[2022-09-26 13:04] Dirbaio commented on #102310
@rustbot label +F-async_fn_in_traits

[2022-09-26 13:05] domenicquirl opened #102311 "Confusing diagnostic for mismatched opaque types"
I just spent some time being quite confused by an error message I got when mistakenly using an `async fn` whose return type contains an `impl Trait` in multiple branches of a `match` statement. On my local toolchain, which is still on 1.62, the corresponding output is:

[code]

(This is using `tokio_modbus`, there's a reduced repro below.) On current stable (1.64) and nightly (1.66.0-nightly (2022

[2022-09-26 13:14] kprotty commented on #93740
It's something you'd have to build into the RwLock algorithm by design (not pluggable) and non-obvious to introduce in an adhoc-fashion like Mutexes given multiple readers. Better left as a library/crate IMO.

[2022-09-26 13:15] djc commented on #54725
So this issue seems to have made pretty limited progress in the 4 years since it was first created.

libs-team folks, how do we make progress here? Who can make a decision on 0- vs 1-based position indexes? How we might subset the API so it can be stabilized in different parts? Maybe a good idea to nominate for a libs-team meeting to get some consensus on what the way forward might be?

[2022-09-26 13:35] compiler-errors commented on #102308
Duplicate of #101665

[2022-09-26 13:43] arctic-penguin opened #102312 "Incomplete optimization with opt-level=z compared to clang for possible pre-compiled expressions"
I noted that rust does not apply some size optimizations when `opt-level=z` is supplied, whereas in `c` they are applied.

See here: https://godbolt.org/z/1955WjcT8

I tried this code:

[code]

With `opt-level=3`
[code]

With `opt-level=z`
[code]

I would expect `opt-level=z` and `opt-level=3` to have the same output for this fairly simple case.

In contrast, `clang` 15.0.0 does this:

[code]

wit

[2022-09-26 13:46] est31 commented on #54725
FTR the column is now 1 based as of #87712 , so I'd call that question resolved.

The other problem is incremental compilation. There are some possible ways to get out of that, like to make line and column location relative to the start of the macro is one such possible solution: https://github.com/rust-lang/rust/issues/54725#issuecomment-1143966021

It has already been split up: #101991

[2022-09-26 13:50] est31 commented on #101991
I wonder whether one should do [`indoc`](https://github.com/dtolnay/indoc) style removals of indentation before returning the source text, or whether to not do that. Ideally, adding indentation to a macro invocation / struct declaration should not issue a recompilation.

[2022-09-26 13:55] djc commented on #54725
Okay, so #101991 is for `Span::source_text()`. I ended up here today for `Span::join()`.

I think making `join()` fallible along these lines seems reasonable. The use case for resolving a disjoint `Span` at either one of the locations isn't clear to me, and seems like it might result in surprising results?

[2022-09-26 14:05] est31 commented on #101991
(FTR, @dtolnay 's example above is using `join` which is unstable, but there are hacks to do [`join` with stable code](https://github.com/rust-lang/rust/issues/54725#issuecomment-649038464) as well)

[2022-09-26 14:23] #102087 closed

[2022-09-26 14:53] pellico commented on #66741
Dear Rust developers,
After 1 year I would like to provide good reasons to resume the activities on this topic:

- During last year Rust embedded is becoming more relevant for productive application.
- An unstable compiler version is not acceptable for development of productive code.
- Dynamic memory handling is one topic where Rust can show important advantages to C/C++.

So I think this issue is

[2022-09-26 14:54] Rageking8 commented on #102312
@rustbot label +T-compiler +A-codegen +I-slow

[2022-09-26 14:56] Stoozy commented on #100615
@rustbot claim

[2022-09-26 15:05] jam1garner commented on #101991
I think modifying whitespace outside of newline normalization is a bad idea. I'm not sure what usecase the API would be useful for if that were the case. Even for diagnostics/errors, changing the code formatting is detrimental?

[2022-09-26 15:11] Rageking8 commented on #102310
@rustbot label +T-compiler +C-bug +I-ICE +requires-nightly

@Dirbaio Please use the ICE issue template for subsequent ICE issues. Thanks.

[2022-09-26 15:17] fasterthanlime opened #102317 "ICE: Broken MIR in Item(...) with `let_else` usage (use of local which has no storage here)"
Reminiscent of #99975, which is now closed, but I'm able to reproduce it easily on today's nightly:

[code]

I expected to see this happen: typechecks fine.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-09-26 15:19] fasterthanlime commented on #102317
(I forgot to mention it in the original issue, but the `let = if let Some(..)` version of the code checks just fine).

[2022-09-26 15:25] Nilstrieb commented on #102317
@rustbot label +E-needs-mcve

[2022-09-26 15:27] Nilstrieb commented on #102317
Oh nvm this has an MCVE already lol
@rustbot label -E-needs-mcve

[2022-09-26 15:28] fasterthanlime commented on #102317
Oh yeah this is the complete code - here's my repo for it, pinned toolchain and all: https://github.com/fasterthanlime/broken-mir

[2022-09-26 15:29] est31 commented on #102317
The issue seems to not affect `cargo build`, but requires `clippy` instead... interesting.

[2022-09-26 15:30] est31 commented on #102317
Given that it is both a scoping problem, *and* lint related, this might be fixed by #102257. If that PR is the fix, we should maybe backport it to beta.

cc @dingxiangfei2009

[2022-09-26 15:34] Rageking8 commented on #102317
Tested it with the rust playground and was only able to get the ICE to trigger for release mode and not debug mode builds (current latest nightly).

@rustbot label +T-compiler +I-ICE +F-let_else +requires-nightly

[2022-09-26 15:35] fasterthanlime commented on #102317
That's true for `cargo build`. `cargo clippy` always fails though (I'm not sure if `--release` does anything here).

[2022-09-26 15:36] Rageking8 commented on #102317
On a side note why is the let else label not delimited by a `_` in the center, like the other feature labels?

[2022-09-26 15:39] Rageking8 commented on #102317
The ICE can also be reproduced with `cargo build` as mentioned above, although only in release mode (for latest nightly, on playground). Not sure whether it is lint related or not.

[2022-09-26 15:44] vincenzopalazzo commented on #102201
@rustbot claim

as discussed with @eholk and @tmandry let's reproduce it and see how it goes with the result

[2022-09-26 15:49] eholk commented on #102211
@rustbot label AsyncAwait-Triages

[2022-09-26 15:50] vincenzopalazzo commented on #102211
@rustbot claim

[2022-09-26 15:52] est31 commented on #102317
Oh it seems to issue the ICE if you are both in release mode *and* you use the "Build" feature of the playground. I've tried using the "Run" feature in release mode but it didn't issue the ICE. The playground changes automatically from "Run" to "Build" if you remove the main function, but in this instance I'd added a `fn main() {}` so it didn't change to "Build" for me. Interesting...

[2022-09-26 15:52] aDotInTheVoid commented on #101926
It looks like the underlying issue (#97986) was fixed in #98053, but this isn't included in the version run because by default `./x.py doc` uses stage0 rustdoc (ie beta/stable, not in tree). Using `RUSTDOCFLAGS=--output-format=json ./x.py doc library/std --stage 1` fixes this

I think that means this can be closed

@rustbot modify label: -E-needs-mcve

[2022-09-26 15:54] eholk commented on #102201
@rustbot AsyncAwait-Triaged

[2022-09-26 16:01] sigaloid commented on #92941
@rustbot claim

[2022-09-26 16:08] bbqsrc commented on #58533
Any progress on this lately? One of my crates is still pegged to nightly as a consequence of this not being stable. Alternatively, would be happy to be directed to a crate that implements this that I can use on stable.

[2022-09-26 16:20] blueForestIcarus commented on #80863
Whether or not warnings are printed should have nothing to do with whether you need to recompile smh

[2022-09-26 16:39] Rua commented on #102238
Related: #102287.

[2022-09-26 16:44] amrbashir opened #102320 "Suggest `unwrap_or_else` when a closure is passed to `unwrap_or` instead of suggesting calling it"
`rustc` should suggest `unwrap_or_else` if the argument is a closure instead of suggesting to call the closure

Given the following code:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=15e99f8e75edf68460c457c09e4e2fa4

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-09-26 17:11] tmandry commented on #102201
The problem with the code is that the closure wants to return some data borrowed from its environment when it's being asked to return data that is valid for `'b`, the lifetime of its argument.

The compiler tries to relate these two lifetimes, which aren't related at all (`'b` is not related to any other lifetime), and then falls back to thinking the return type must be `'static`. This results in

[2022-09-26 17:47] the8472 commented on #102312
This is a known issue with `RangeInclusive`. Either use a regular `Range` or iterate via `iter.for_each()` instead of a `for _ in iter` loop.

[2022-09-26 17:50] est31 commented on #102317
Okay I have locally applied #102257 and and the PR does *not* fix this issue, still there.

[2022-09-26 17:51] est31 commented on #102317
FTR this is the test file I've used (might be helpful for @dingxiangfei2009 ):

[code]

[2022-09-26 17:56] the8472 commented on #102312
It's a bit surprising that 1.64 did manage to optimize it on O3 (but not O2) and then nightly and beta again even on O3.

[2022-09-26 18:10] Mart-Bogdan commented on #85532
I'm wondering how it would be implemented on RISC-V? AFAIK this architecture don't have carry flag :-(

[2022-09-26 18:15] tarcieri commented on #85532
`add`/`stlu` provide carryout:

https://godbolt.org/z/Y7f5dzj1P

However they have data-dependencies on each other, which means no ILP, unfortunately

[2022-09-26 18:18] scottmcm commented on #85532
@Mart-Bogdan I think that's in a way a good example of why this is a good thing to have.  I don't want to have to know the magic incantation that produces the best code for this; I just want to write the loop like in the example for https://doc.rust-lang.org/nightly/std/primitive.u64.html#method.carrying_mul and have rustc+LLVM do the best thing available.

(For example, in LLVM the correct incant

[2022-09-26 18:25] matheus-consoli commented on #102206
Even smaller repro:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1291a07d21c5d09aa0701396456dc6c8)

[2022-09-26 18:32] matheus-consoli commented on #102206
I just encountered this same error, even if it's fixed on beta/nightly, here's an even smaller repro

[code]

[2022-09-26 20:30] awakecoding commented on #21727
For anybody else still hard-blocked on this, I have decided to bite the bullet and figure out how to roll my own Rust distribution and publish a prebuilt toolchain on GitHub Releases: https://github.com/awakecoding/llvm-prebuilt

The only patch required is to set "dynamic_linking: true" in compiler/rustc_target/src/spec/apple_sdk_base.rs:

![image](https://user-images.githubusercontent.com/295841/

[2022-09-26 20:43] Jules-Bertholet commented on #48214
I would argue, to the contrary, that the compiler should *not* make your life easier in this instance, because `Self` bounds on trait methods without default impls are an anti-pattern and should be discouraged, even linted against IMO. The reason I think such code is questionable is that it means that if type `A` starts implementing trait `T`, that can suddenly invalidate its implementation of tra

[2022-09-26 22:07] est31 commented on #102307
Can you maybe add ... in core to this? And mention why `slice::sort` is not included? I guess it's not included because it's in `alloc` due to using `merge_sort` which allocates internally.

[2022-09-26 22:38] #101836 closed

[2022-09-26 22:38] #100878 closed

[2022-09-26 22:38] #101280 closed

[2022-09-26 22:38] #102262 closed

[2022-09-26 22:58] fmease opened #102333 "ICEs galore with const-generic associated type in trait bound"
The following code produces several ICEs on both **beta** and **nightly** (no `#![feature]` necessary).

### Code

[code]

### Meta

`rustc -Vv`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot label F-generic_associated_types A-const-generics

[2022-09-26 23:49] fmease opened #102335 "Compiler accepts const equality bound involving nonsensical nested equality constraint on associated const"
I expect the following code to be rejected by the compiler but it is actually accepted and compiles successfully:

[code]

The associated constant `S::C` does not have any generic parameters / associated items (constants cannot have those anyways in the current version of Rust) and thus the argument list `<i32 = u64>` should be flagged as erroneous. Interestingly, if you remove the ` = u64`, the c

[2022-09-27 00:03] compiler-errors commented on #102335
Doesn't need assoc const equality:

[code]

Let me take a quick stab at this.

@rustbot claim

[2022-09-27 00:08] fmease commented on #102335
On a related note, a slightly modified version of the code above leads to an ICE (I was about to create a separate issue for this, should I still do that?):

[code]

<details>
<summary>stderr (diagnostics & backtrace)</summary>

[code]

</details>

[2022-09-27 00:14] compiler-errors commented on #102335
If you want to bisect it feel free, but I think fixing the original issue in this report will also fix this one.

[2022-09-27 00:16] fmease commented on #102335
Yeah, I think so, too. I guess I won't bisect this.

[2022-09-27 00:22] mati865 commented on #91651
Rust doesn't support SJLJ exception model for windows-gnu targets, I'm unaware of any plans to change it.

[2022-09-27 00:22] compiler-errors commented on #102333
This regressed in the last day...

[2022-09-27 00:22] compiler-errors commented on #102333
Wait wrong issue

[2022-09-27 00:22] compiler-errors commented on #102335
This regressed in the last day

[2022-09-27 00:26] compiler-errors commented on #102335
Oh wait, I caused it:

searched nightlies: from nightly-2022-08-01 to nightly-2022-09-26
regressed nightly: nightly-2022-09-26
searched commit range: https://github.com/rust-lang/rust/compare/3f83906b30798bf61513fa340524cebf6676f9db...f5193a9fcc73dc09e41a90c5a2c97fc9acc16032
regressed commit: https://github.com/rust-lang/rust/commit/4652f5eb25b76c24fc40b7267d87a07d5876901f

<details>
<summary>bise

[2022-09-27 00:52] compiler-errors commented on #102310
This is fixed by #102334

[2022-09-27 01:14] chenyukang commented on #102320
@rustbot claim

[2022-09-27 01:44] bsferrazza opened #102339 "Building rustc from source freezes at 'core v0.0.0' crate during stage1"
Every time I try building rustc-1.64.0 from source (same happened with 1.60.0) it freezes at 'core' during stage1. This is using glibc 2.36, gcc 12.2.0, and llvm-15.0.1. I'm following the Linux From Scratch build instructions.

[code]

Should I be suspicious of the fact that it's using check-cfg values like target_os,"watchos" and target_arch,"asmjs","spirv","nvptx","nvptx64","le32","xtensa"? Not

[2022-09-27 01:58] #100054 closed

[2022-09-27 02:51] compiler-errors commented on #102339
Can you provide exactly the invocation you're building rustc with?

[2022-09-27 02:52] compiler-errors commented on #102320
This probably can be generalized if the code is written carefully enough.

[2022-09-27 04:39] #92941 closed

[2022-09-27 04:39] #101695 closed

[2022-09-27 04:59] chenyukang commented on #102182
@rustbot claim

[2022-09-27 05:06] fee1-dead commented on #102156
@mucinoab Are you still working on this? If not, I would like to fix this as soon as possible.

[2022-09-27 05:52] chenyukang commented on #102320
Do you mean, we should handle other types like `Result` which may use `unwrap_or` with a closure?

[2022-09-27 06:43] steffahn opened #102346 "Printing of types expands type synonyms, but does not avoid naming collisions that can thus occur in HRTs"
Follow-up to #101280, which has been fixed in #101996, but that issue only explicitly addressed the case when the name was *chosen by the compiler*.

We can also get cases where all names are user-provided. E.g.
[code]
[code]

---

I would expect the compiler to rename the bound variable in this case, e.g.
[code]
[code]

It might make sense to conservatively do such renaming in *all cases* where a

[2022-09-27 07:28] #99170 closed

[2022-09-27 08:03] oli-obk commented on #102303
@Dajamante is working on it

[2022-09-27 09:00] djc opened #102352 "Regression: false positive from unreachable_pub lint"
### Code

I tried this code:

[code]

I expected to see no output from the compiler.

Instead, this happened:

[code]

## cargo-bisect-rustc ouptut

searched nightlies: from nightly-2022-09-22 to nightly-2022-09-27
regressed nightly: nightly-2022-09-25
searched commit range: https://github.com/rust-lang/rust/compare/4a14677239bbd9a3892d165ee24513c1a05820e4...3f83906b30798bf61513fa340524cebf6676f9d

[2022-09-27 09:26] Rageking8 opened #102354 "Verbose output for simple mistake of using method syntax for associated functions"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e4c851ad5d412fe39f4e3021473ea615)

[code]

The current output is:

[code]

In the above current output there are many general help and note messages which may not be super relevant in the above context. On top of that, there are 2 suggested help messages (bottom 2), where the first one (`i32::

[2022-09-27 10:29] Lloyd-Pottiger opened #102357 "thread 'rustc' panicked at 'index out of bounds"
### Code

compile https://github.com/pingcap/tidb-engine-ext

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-27 10:35] Rageking8 commented on #102357
@rustbot label +T-compiler +I-ICE +E-needs-mcve

@Lloyd-Pottiger Thanks for submitting an issue, however please use the link provided in the backtrace to open an ICE issue with the right template.

[2022-09-27 10:47] Lloyd-Pottiger commented on #102357
updated

[2022-09-27 11:21] oli-obk commented on #99490
Yea, that seems more reasonable. Started doing that an hour ago and ironically I immediately found dead code in the opaque type processing logic 😆

[2022-09-27 11:56] lcnr opened #102360 "broken interaction between marker traits, lifetimes, and caching"
https://github.com/rust-lang/rust/blob/d9297d22ad9edc2b56f0dd8734c1187a0c88be69/compiler/rustc_trait_selection/src/traits/select/candidate_assembly.rs#L44

erases all lifetimes for caching, including `'static`.

https://github.com/rust-lang/rust/blob/d9297d22ad9edc2b56f0dd8734c1187a0c88be69/compiler/rustc_trait_selection/src/traits/select/mod.rs#L221

https://github.com/rust-lang/rust/blob/d9297d2

[2022-09-27 12:02] estebank commented on #102317
Removing `requires-nightly` because it is reproducible in beta too, marking as beta regression so this doesn't accidentally slip into stable.

[2022-09-27 12:03] lcnr commented on #102360
this has been found in #102205 where changing caching to also keep `'static` caused this test to fail:
[code]

[2022-09-27 12:14] est31 commented on #102333
As GATs are stable on beta but not on stable, similar to [here](https://github.com/rust-lang/rust/issues/102317#issuecomment-1259404690):

@rustbot label regression-from-stable-to-beta

[2022-09-27 12:17] BurntSushi commented on #94035
_Both_ byte slices and string slices can have _both_ Unicode-aware trimming and ASCII-aware trimming. Unicode support needn't be limited to `str` and ASCII support needn't be limited to `[u8]`.

With that said, I think adding these methods starts us down the path of treating byte slices as byte strings. I think I am in general in favor of that, but I do think we want to proceed deliberately here.

[2022-09-27 12:19] dev-tom-0108 commented on #24677
@zaeleus

I got the same error when build anchor.
I tried and followed to your suggestion. But it's same.
Any ideas?
My `anchor version` is 0.25.0.

[2022-09-27 12:34] est31 commented on #54725
@Shoeboxam I see, I have misunderstood your use case.

[2022-09-27 12:52] fmease commented on #92827
@rustbot label F-associated_const_equality

[2022-09-27 12:55] wh201906 commented on #91651
If the lack of support in SJLJ exception model is designed so and expected, should I close this issue?

[2022-09-27 13:23] dingxiangfei2009 commented on #102317
@est31 investigating unwind drops introduced by `build_exit_tree`. It looks terribly wrong. :thinking:

[2022-09-27 13:57] nikic commented on #102274
This probably happens because the Rust ABI passes `[f32; 2]` as `i64` to functions, resulting in lots of packing an unpacking that messes up optimization.

[2022-09-27 13:58] Nilstrieb commented on #102317
This might be the same problem as #99852. I have looked into this before with @JakobDegen, which lead us to discover #100513. I have no idea what exactly is wrong in the code though, it's very complicated.

[2022-09-27 14:20] bsferrazza commented on #102339
Here's my config.toml

[code]

export CARGO_BUILD_JOBS=4
export RUSTFLAGS="-L/home/bsferraz/tools/lib -C link-args=-lffi"
python3 ./x.py build --exclude src/tools/miri --jobs 4

[2022-09-27 14:41] nikic commented on #101814
I took a closer look, and the reason why this doesn't peel are multiple checks in canPeel(): https://github.com/llvm/llvm-project/blob/2769ceb0e7a4b4f11c2bf5bd21fd69c154c17ff8/llvm/lib/Transforms/Utils/LoopPeel.cpp#L88 We have a non-exiting latch here, and because of that the non-latch exits are also not terminated by unreachable. It should be possible to relax these requirements, but would need s

[2022-09-27 14:44] Rageking8 commented on #102317
Oops, accidentally added that. My bad.

[2022-09-27 15:06] mati865 commented on #91651
Dunno what the devs think but personally I don't think its useful to keep this open.

[2022-09-27 15:06] mati865 commented on #84580
Rust doesn't support SJLJ exception model for windows-gnu targets, I'm unaware of any plans to change it.

[2022-09-27 15:07] wh201906 commented on #91651
Yeah you are right.

[2022-09-27 15:07] #91651 closed

[2022-09-27 15:32] Lloyd-Pottiger commented on #102357
yes, still

[2022-09-27 15:44] matthiaskrgr opened #102363 "ICE: rustdoc json when #[doc(primitive)] mod name is same as primitive name."
### Code

[code]

This is a regression that started happening between
`rustdoc 1.66.0-nightly (8b705839c 2022-09-26)` (no ice) and
`rustdoc 1.66.0-nightly (57ee5cf5a 2022-09-27)` (ice)

`rustdoc --document-private-items  -Zunstable-options  --output-format=json`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-27 16:18] aDotInTheVoid commented on #102289
[95 line minimisation](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cba6f047fec20f726dcba41a5fa64059). It's probably possible to go smaller, but I can't figure out how

[2022-09-27 16:30] jsha commented on #102364
Transferred to rust-lang/rust, since this is a rustdoc issue (as opposed to a docs.rs issue), and rustdoc is maintained in this repo.

Adding additional font files increases the size of the distributed rustdoc binary, since all the fonts are bundled in it. In theory browsers can simulate boldness for fonts where they don't actually have a bold (/ bold italic) variant. Have you checked into why thi

[2022-09-27 16:45] fmease commented on #77763
Update: The current nightly output is still incorrect:

[code]

I am already working on a fix and I have already assigned myself to the duplicates of this issue (#84579 and #102142).
@rustbot claim

[2022-09-27 16:51] GuillaumeGomez commented on #77763
Awesome, thanks!

[2022-09-27 17:13] andronat commented on #46585
Any updates on this? I recently stumbled upon this issue when I was trying to implement some trait for mockall.

[2022-09-27 17:47] FedericoStra opened #102366 "ICE: failed to get layout for `[type error]`: the type `[type error]` has an unknown layout"
Hello! This is a strange bug that I'm reporting. I don't have the slightest idea of what it does, nor is it very relevant how I encountered this bug. I report it because it might unveil something important. Anyway, here it is.

### Code

Make a new lib with `cargo new --lib rustc-bug` and put this in `src/lib.rs`:

[code]

That's it: an empty module with a single documentation comment with a doc-t

[2022-09-27 17:55] Stovent commented on #85532
There is also the same problem on unsigned integers, because on the unsigned integers `overflowing_add` returns a carry.
And the first time I used them I thought that `overflowing_add` on unsigned integers was returning a signed overflow flag as if it was converting the arguments to signed integers.

I like your suggestion and it can be extended to respectively rename `overflowing_add` and `carryi

[2022-09-27 17:57] matthiaskrgr commented on #102289
down to ~50 lines
[code]

[2022-09-27 18:16] b-naber commented on #102346
@rustbot claim

[2022-09-27 18:36] Nilstrieb commented on #102366
This might not fix the underlying issue but I'll at least make the ICE look less cursed

[2022-09-27 18:48] scottmcm opened #102371 "Should we keep un-deriving traits in `library` to make them `const`?"
PRs like https://github.com/rust-lang/rust/pull/101698/files#diff-0752889661748b8a15a597d7156127b6fb90fdeda0627be50e07f3f785bd0f4dR678 stop using derives for traits because the derives can't make things `const`.

Should we maybe stop doing this in `library` until there's a way to `#[const_derive(Ord)]` or similar?  It looks like we're on track to stop deriving essentially *anything*, which seems l

[2022-09-27 18:50] Nilstrieb commented on #102366
Btw, I can reproduce this on the latest nightly
[code]

[2022-09-27 18:59] Mark-Simulacrum commented on #102371
Can we get input from @rust-lang/wg-const-eval (not sure this is the right group) on the general trajectory for const impls? It was my recollection that we wanted to potentially back out the const-ification of std's traits until we had a more solid plan on that feature -- `~const` and the lack of derives here is adding a lot of noise and it's not clear to me that we're not going to need to change

[2022-09-27 19:02] Nilstrieb commented on #102366
With #102373 I now get this backtrace:

<details>
<summary> Backtrace </summary>

[code]

</details>

The error was originally emitted in `check_expr_path` in hir-analysis when it failed to resolve a path

[2022-09-27 19:08] ppannuto commented on #54882
As one concrete use case for `optimize(none)`: for [Tock OS](https://github.com/tock/tock/), many of our platforms are sufficiently space-constrained that we _must_ always leave optimizations on in order to build kernel/application images which will fit on the board.

Unfortunately, this can make debugging somewhat challenging. We currently employ a mix of `#[inline_never]` and `#[no_mangle]` to h

[2022-09-27 19:21] amrbashir commented on #102320
I know nothing about the internals of rustc diagnostics but a general way would be to check if a similar method in name accepts a closure and suggest that first, if nothing similar can be found then suggest calling the closure

[2022-09-27 19:22] chriss0612 commented on #102371
@fee1-dead has a PR for #[derive_const] #102049

[2022-09-27 19:27] steffahn opened #102374 "ICE with new collision-avoiding lifetime printing logic"
[code]
[code]

@rustbot label regression-from-stable-to-nightly

regression in #101996, cc @b-naber

[2022-09-27 19:53] ckaran commented on #88967
@yaahc wrote:

Is this still the plan?

[2022-09-27 20:05] b-naber commented on #102374
@rustbot claim

[2022-09-27 20:18] djc commented on #102352
Looks like tokio is hitting this, too: https://github.com/tokio-rs/tokio/actions/runs/3138494294/jobs/5097884393.

[2022-09-27 20:19] compiler-errors commented on #102320
@chenyukang: I mean something more like what @amrbashir is suggesting, where you check if `{FUNCTION}_else` exists whose signature is compatible with a closure. But that requires doing a method probe, then doing some delicate logic to check argument compatibility.

[2022-09-27 20:21] FedericoStra commented on #102366
I guess "less cursed" is subjective then :smile:

Anyway, the PR seems a good step forward: I didn't know there was a bug in the bug that made it difficult to track down the actual bug. :+1:

[2022-09-27 21:26] ehuss commented on #67264
Just to elaborate on Havvy's comment about slice patterns since I was a little confused:

The `half_open_range_patterns` feature gate originally covered various different forms. Parts have been stabilized over time. It currently gates the use of `..=X` half-open range pattern, **and** separately the use of `X..` in slice patterns (only).

I believe the slice pattern restriction stems from [this co

[2022-09-27 21:53] matthiaskrgr commented on #102363
searched toolchains 8b705839cd656d202e920efa8769cbe43a5ee269 through 57ee5cf5a93923dae9c98bffb11545fc3a31368d

********************************************************************************
Regression in cd4d9d934fd3bc1b6a0b0fcb3548a1b26fc53c9d
********************************************************************************

[2022-09-27 21:54] matthiaskrgr commented on #102363
maybe https://github.com/rust-lang/rust/pull/102321 ?

[2022-09-27 22:04] scottmcm commented on #102303
Note that this still works:
[code]

So this is also the classic "LLVM doesn't have range metadata on parameters" problem.

(When there's a load, it gets `!range` metadata `!{i8 0, i8 3}`, which LLVM can then use to remove the comparison.  But passed by value that metadata is unavailable.)

[2022-09-27 22:23] mejrs opened #102381 "Translation ices when ui test --bless fails"
### Code

See https://github.com/mejrs/rust/tree/translation_ice (most notably, the "oops" commit).

### Meta

[code]

### Error output
<details>
<p>
PS C:\Users\bruno\Rust\rust> python x.py test src/test/ui/suggestions/inner_type.rs --bless
Building rustbuild
    Finished dev [unoptimized] target(s) in 0.08s
Building stage0 std artifacts (x86_64-pc-windows-msvc -> x86_64-pc-windows-msvc)
    Fini

[2022-09-27 23:23] eholk opened #102383 "Drop tracking ICE involving await in left hand side of assignment (`-Zdrop-tracking`)"
This was found during the most recent crater run for #97334. The test case below is reduced from https://github.com/haydnv/tinychain.

[code]

This ICEs with the following message:
[code]

My guess is that the `B` that MIR and typeck disagree on is the one produced by `file.block.clone()`.

Weirdly, if any of the `async {}.await` lines are removed, the program compiles successfully.

[2022-09-27 23:51] aDotInTheVoid commented on #102363
The problem is here, where primitives are given the same id as the module they are contained in.

https://github.com/rust-lang/rust/blob/470e518c4b43265020c882bcf3c86632f5494910/src/librustdoc/clean/utils.rs#L64-L71

Instead, they should use an [`ItemId::Primitve`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/enum.ItemId.html#variant.Primitive)

[2022-09-27 23:54] MinusKelvin commented on #102303
Should that work? `Enum` is not `Copy` so `*inbounds` is moving out of a shared reference. Or at least, that's what 1.63 says; 1.64 compiles it without any warnings. The 1.64 release notes say this about drop behavior:

But I don't see why a change in drop behavior should affect whether a value is moved or not, and of course, there is no warning.

[2022-09-28 00:11] simonbuchan commented on #24135
Another use case: I was trying to reimplement a slice of `tokio::process` (for dumb reasons I won't get into here) with the same API. That has the method:

[code]

Notably, you should be able to call this multiple times, (though not in parallel) and it should return the same result - including any error.

Doing this relatively safely (given you need to call FFI at a minimum) is quite tricky: for c

[2022-09-28 01:36] #102043 closed

[2022-09-28 01:36] #102261 closed

[2022-09-28 02:44] GreenYun commented on #102364
Done some tests on Firefox 105 and Chrome 105, browsers do not try to display fake bold texts for fonts that have italic style installed, nor display fake italic texts for bold style fonts. I have tried "Arial Unicode MS" and the browsers give fake bold, italic, and also bold-italic outputs. Maybe this feature depends on the font itself.

As per the Source Serif 4 releases, the additional size of

[2022-09-28 03:15] EFanZh opened #102386 "Consider adding `fmt::fmt_fn` or `fmt::from_fn` to the standard library"
Similar to [`iter::from_fn`](https://doc.rust-lang.org/std/iter/fn.from_fn.html) and [`future::poll_fn`](https://doc.rust-lang.org/std/future/fn.poll_fn.html), I find it useful to have a `fmt::fmt_fn` or `fmt::from_fn` function that converts a function into a value that implements `Debug` and `Display`:

[code]

Or maybe we can have two different functions: `display_fn` and `debug_fn`, where `disp

[2022-09-28 05:12] steffahn commented on #102374
@rustbot label A-diagnostics

[2022-09-28 05:46] nnethercote commented on #68836
I think this can be closed. I did a lot of work earlier in the year speeding up declarative macro expansion and this pattern (many rules and no metavariables) barely came up at all, because it's so rare. Other than `html5ever` I've never seen it used in real code.

[2022-09-28 05:52] scottmcm opened #102389 "`as` cast of non-`Copy` enum is no longer a move"
@MinusKelvin noticed this 1.63→1.64 change in https://github.com/rust-lang/rust/issues/102303#issuecomment-1260192064

I tried this code:

[code]

I expected to see this happen: because `Enum` is non-`Copy`, an error about moving out from behind a reference, like happened in 1.63 <https://rust.godbolt.org/z/vGPqbsE6v>
[code]

Instead, this happened: it compiles fine in 1.64 <https://rust.godbolt.o

[2022-09-28 05:57] jruderman opened #102390 "Diagnostic for const with slice type should suggest converting to array type"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7ba57bb254f1ed0846ff897970ca9b85)):

[code]

The current output is:

[code]

Ideally the output should make it clearer why this is an error, and suggest a fix:

[code]

Note that if I omit the type entirely ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021

[2022-09-28 06:14] Nilstrieb commented on #102366
I have actually experienced the same ICE yesterday in my own code when I was working on AST lowering and lowered things in the wrong order. It seems like this kind of late path resolution failure happens when path resolution initially succeeds, but then something (like a broken AST lowering) happens which causes the path to suddenly stop resolving in typeck. Typeck then doesn't know any better tha

[2022-09-28 06:21] est31 commented on #63012
The linux kernel uses the flag too: https://github.com/Rust-for-Linux/linux/issues/2

[2022-09-28 06:53] crlf0710 opened #102391 "Need more helpful diagnositics for label values."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=781876a356578cbf3da13b05f8e40ba5

[code]

The current output is:

[code]

The error and diagnostics is ... kind of not pointing to the correct fix.

[2022-09-28 07:15] JulianKnodt commented on #92827
@urben1680 I believe this would be the main point of this, but I have not got around to actually implementing it

[2022-09-28 08:09] steffahn opened #102392 "Spurious additional lifetime appearing in printout of type involving HRT lifetimes"
“Related” to #102346, and #101280, as this, too, is about diagnostic printing of types with HRT lifetimes (unlike the former related issue, this issue is not a recent regression):
[code]
[code]

The way this type is displayed includes an additional superflous/confusing/wrong quantification of `'a` in the inner `for`. Correct would be `for<'a> fn(for<'b> fn(&'b str, &'a str))`, not `for<'a> fn(for<

[2022-09-28 08:14] #102335 closed

[2022-09-28 08:14] #102289 closed

[2022-09-28 08:18] Rageking8 commented on #94923
@rustbot claim

[2022-09-28 09:07] apiraino commented on #102392
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102392.20Spurious.20additional.20lifetime.20appearing.20in.20printout.20.E2.80.A6)).

@rustbot label -I-prioritize +P-low

[2022-09-28 09:07] apiraino commented on #102392
Bisection seems to indicate this group of PRs
[code]

but due to the age I could not pinpoint a specific nightly.

Also, as pointed out in the previous comment at some point the diagnostic changed and decided to use another wording (`for<'a> fn(for<'b, 'a> fn(&'b str, &'a str))`) which I wonder if it's related to one of the mentioned other 2 issues

@rustbot label -E-needs-bisection

[2022-09-28 09:24] steffahn commented on #102392
Looking through this list, #87246 seems likely.

[2022-09-28 09:28] apiraino commented on #102374
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102374.20ICE.20with.20new.20collision-avoiding.20lifetime.20printing.20l.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-09-28 09:42] flba-eb commented on #85261
Should this only occur on Android? It happened on QNX as well (not yet upstreamed), but I can also reproduce it on `x86_64_unknown_linux_gnu` with a simple patch (disables thread local storage):
[code]
Would this be a target spec where we would expect `src/test/ui/process/process-panic-after-fork.rs` to succeed?

[2022-09-28 09:45] apiraino commented on #102352
WG-prioritization assigning priority, probably a P-high since the lint malfunction is blocking valid code (iiuc)

@rustbot label -I-prioritize P-high T-compiler

[2022-09-28 09:56] Rageking8 opened #102396 "Missing parentheses for range leads to misleading help suggestion"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2fe5c3a4035324f34c4a3cbab7ca1179)

[code]

The current output is:

[code]

Ideally the output should something like this:

[code]

@rustbot label +D-confusing +D-invalid-suggestion

[2022-09-28 10:05] ijackson commented on #85261
Interesting.  To be honest, I'm not sure.

I do know that modern libc doctrine is that allocation after fork is UB.  The test case is checking that we can safely panic after fork, and abort, without UB.  This ought to work due to `panic::always_abort()`.

I think that every failure of this test case is a real bug.  Solving those bugs is not so easy because the machinery inside panic uses thread-lo

[2022-09-28 10:08] nox opened #102397 ""`if` may be missing an `else` clause" sometimes reverses expectations"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5a939f14b1d92d9d4b3a3edbbb46f5c0

[code]

The current output is:

[code]

Note how the expected and found types are reversed for the `missing_else_nested` error and how the note about the function's return type is gone, compared to the `missing_else` error.

Ideally the output for the `missing_else_n

[2022-09-28 10:22] joboet opened #102398 "`thread::park` causes undefined behaviour on panic"
[A](https://github.com/rust-lang/rust/blob/837bf370de144a682041e68bb67469b9f68a55ce/library/std/src/sync/once.rs#L481-L492) [lot](https://github.com/kprotty/usync/blob/44a0eeae99a597baa6b91fae7c1b3227103de2bc/src/rwlock.rs#L478) [of](https://github.com/rust-lang/rust/blob/837bf370de144a682041e68bb67469b9f68a55ce/library/std/src/thread/scoped.rs#L148-L151) [code](https://github.com/kprotty/usync/bl

[2022-09-28 10:32] joshtriplett commented on #88015
Following up on this: I'd love to see if-let guards stabilized, and this looks like the main blocker for that. If anyone else would like to see if-let guards stabilized as well, fixing this would be a necessary step that would get us much closer.

[2022-09-28 10:41] lukas-code opened #102400 "Unhelpful diagnostic when infered lifetime of return value doesn't match parameter in closure"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a86b61b50374bc1a6e2d2c16ab0ed93)

[code]

The current output is:

[code]

This diagnostic shows the lifetimes of the function item, but omits the return lifetime on the function trait.
(It also shows the wrong fn trait.)

Ideally the output should only show the lifetimes on the fn traits

[2022-09-28 10:43] lukas-code commented on #102400
@rustbot labal +A-lifetimes +D-confusing +D-terse

[2022-09-28 10:50] jruderman opened #102401 "Type inference does not propagate back to {float} associated functions"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=7a122b478e41a0aa7aa89310700682f2)):

[code]

I expected rustc to infer the type of r as f32 based on the last line.

Instead, rustc failed to compile my program:

[code]

In most cases, type inference works both forwards and backwards, so why didn't it work here?

This is similar to #24124, b

[2022-09-28 11:00] RalfJung commented on #82499
Complementing the efforts tracked here, I think we should move towards the more principled solution of [having a concept of 'unsafe attributes'](https://internals.rust-lang.org/t/pre-rfc-unsafe-attributes/17462).

[2022-09-28 11:20] jruderman opened #102402 "Value differs between debug and release: 1.0 / ((-0.0) * black_box_zero)"
This code has differing behavior in debug and release ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=a83dabd53487e12d9f023c9dc116e1e1)):

[code]

When compiled in debug mode (without optimizations), the program produces no output.

When compiled in release mode (with optimizations), the assertion fails:

[code]

(This output doesn't make sense to me: how c

[2022-09-28 11:31] jruderman commented on #102402
Here's another program with similar behavior, failing only in release. Not sure if it's the same issue.

[code]

[2022-09-28 11:38] flba-eb commented on #85261
Yes, allocating memory is UB, same as working with mutexes. In case our setups are okay (i.e. having `has_thread_local=false` and using fork etc.), I also see this is a bug.

Maybe we don't need to fix the issue with the thread-local state (if at all possible):
1. `panicking::rust_panic_with_hook` calls `panic_count::increase()` to get the number recursive panics **and** if we `must_abort`.
2. `pa

[2022-09-28 11:46] jruderman opened #102403 "Sign of zero from differs between CTFE and normal execution (float % float)"
With this code:

[code]

The assertion fails: compile-time evaluation gives 0.0 while runtime evaluation gives -0.0.

This is probably relevant to tracking issue #57241.

[2022-09-28 12:40] SparrowLii commented on #102185
@bors claim

[2022-09-28 12:41] SparrowLii commented on #102185
@rustbot claim

[2022-09-28 12:44] pali6 opened #102404 "Rustdoc line number desynchronization on iPhone Safari"
On iPhone Safari 15.1 (~~and possibly other mobile browsers, I am unable to check~~ EDIT: Android browsers do not have this issue) in the source view code lines get line wrapped which causes the line numbers to desynchronize from their lines. In some cases multi-digit line numbers also get line wrapped which causes further desynchronization, though from my checking this currently happens for docs

[2022-09-28 13:58] chenyukang opened #102408 "Option/Result get wrong diagnostic for closure as map_or first argument"
If `map_or`'s first arguments is given a closure, the diagnostic now is as below, which is not right:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a24f43e57b31d21c67716fd23888a507

[code]

The current output is:

[code]

Ideally, we should suggest to use `map_or_else`.
Maybe related to #102320, which I was working on, but the above diagnostic message for arguments is n

[2022-09-28 14:04] m-ou-se commented on #102398
Thanks for bringing this up!

I agree this is a problem. In general, the pattern with parking is:

[code]

Unwinding would mean leaving that `while` loop even though the condition isn't true. While code right after the `while` loop isn't executed, there are many cases where leaving the current frame before the condition is true is problematic, as all your examples show.

I think it's not reasonabl

[2022-09-28 14:20] m-ou-se commented on #102398
All the situations in which `thread::park()` can currently panic are very unusual things that are most likely unrecoverable errors. So I think it'd be fine to just never let `park()` unwind, and instead always `abort()` on panic.

[2022-09-28 14:31] UditDey opened #102410 "`impl Trait` in return type does not compile if function returns `panic!()` / `todo!()` / `unimplemented!()`"
The following code fails to compile:

[code]
[code]

However, replacing the `impl Trait` with the regular generics syntax compiles fine:
[code]

This happens only if there is a single path in the function terminating in a `panic!()`. The following compiles fine too:
[code]

This also happens with `todo!()` and `unimplemented!()` since those macros are also basically just `panic!()`s.

If my unders

[2022-09-28 14:33] bstrie opened #102411 "Spurious and incorrect "irrefutable `if let` pattern" warning in the presence of or-patterns"
The following program:
[code]
...compiles successfully, but produces a warning:
[code]
..however, following the warning's advice to replace the `if let` with a `let`, resulting in the following program:
[code]
..results in compilation failing with the following error:
[code]
In the future, if/when top-level or-patterns are allowed in `let`, then this warning would be correct. However, for the mome

[2022-09-28 14:50] FCLC commented on #102303
Example of the specific behavior with IR and using the load "workaround" https://godbolt.org/z/YK79ErY5r

[2022-09-28 15:06] m-ou-se commented on #102371
We discussed this in the [libs meeting](https://rust-lang.zulipchat.com/#narrow/stream/259402-t-libs.2Fmeetings/topic/Meeting.202022-09-28), and agreed that yes, we should not start changing from derives to hand-written impls everywhere just for const. https://github.com/rust-lang/rust/pull/102049 looks like a good way forward for now.

[2022-09-28 15:11] cjgillot opened #102414 "Duplicated lifetime name in diagnostic for higher-ranked type in higher-ranked trait bound"
In https://github.com/rust-lang/rust/pull/101454/files#diff-46c19c4c60dbf4dc95fd23bdb31dbba31d7001a7f269c4068c536522a09f25deR1

The diagnostic looks a bit silly. I don't know why we are choosing a `'b` for the inner param.

_Originally posted by @cjgillot in https://github.com/rust-lang/rust/pull/101454#discussion_r963015967_

[2022-09-28 15:15] estebank opened #102415 "E0308 should suggest `.into()` if available"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=94dc92ab919e0799f173488fb5a709d0):
[code]

the current output is

[code]

but we should probe for possible `Into` and `From` impls and suggest them if reasonable.

[2022-09-28 15:32] UditDey commented on #102410
The same behavior can be seen with `!`. With `impl Trait` this does not compile, but replacing it with `<T: Trait>` works fine:
[code]

In fact, the error message seems to be incorrect as well:
[code]

Shouldn't it be `trait bound '!: Trait' is not satisfied`? If the return type of `panic!()` is taken as `!` then this is where the problem stems from

[2022-09-28 16:35] lyming2007 commented on #102397
@rustbot claim

[2022-09-28 16:44] flip1995 commented on #102093
Yes, this is how the flag works for clippy

[2022-09-28 16:56] SNCPlay42 commented on #102402
This function, based on the first code example, is misoptimized to unconditionally return false ([godbolt](https://rust.godbolt.org/z/9heP3PEoM)):

[code]

This was not misoptimized before rustc 1.25, which upgraded LLVM to version 6.0. This appears to be a misoptimization by LLVM (Unless there's some allowed variability to do with the signs of zeroes that I'm not aware of?)

@rustbot label A-LLVM

[2022-09-28 17:01] lyming2007 commented on #101866
the fix was created:
https://github.com/rust-lang/rust/pull/102421

[2022-09-28 17:10] scottmcm commented on #102411
There is an alternative; you wrap the pattern in parens, as the `help` says:
[code]
<https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3f741264b0440f42e374a105993c0df8>

[2022-09-28 17:40] Lonami opened #102423 "if let expression extends the lifetime of trailing variables in BlockExpression too much"
I tried this code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=17a24ec40e9a2e7ac83165ccf6f5d950)):

[code]

I expected to see this happen: `next_update()` would result in a `Future: Send`.

Instead, this happened: `next_update()`'s `Future` is not `Send`.

For some reason, `foo`'s lifetime is not within the explicit block, but rather around the entire

[2022-09-28 17:49] lexi-brt commented on #88900
I think a better compromise would be to add a new Printable trait to replace debug. Printable would essentially be intended for structs who's sole purpose is to be printed. Of course, you would lose the "unused" warnings on any struct that derived from Printable.

[2022-09-28 17:51] nbdd0121 commented on #102402
This C code miscompiled under Clang as well: https://godbolt.org/z/bfqoGePW1.

Confirmed to be a LLVM bug.

[2022-09-28 18:04] eholk opened #102425 "Tracking issue for dyn-star"
This issue tracks known issues or missing functionality with support for `dyn* Trait` objects. These are an experimental feature that are meant to support async function in dyn traits.

In addition to the issues linked here, you can also find things that need to be done by greping the code for `// FIXME(dyn-star)` or looking at the [F-dyn_star](https://github.com/rust-lang/rust/issues?q=is%3Aissue

[2022-09-28 18:15] SNCPlay42 commented on #102402
The second example does actually appear to be different - it doesn't miscompile until rustc 1.30 ([godbolt](https://rust.godbolt.org/z/Y7dqoax1j)).

[2022-09-28 18:19] eholk commented on #102173
Thanks for the report!

This test case should not compile because only things that are pointer sized can be converted to dyn*. But, we definitely need a proper error message rather than an ICE.

[2022-09-28 18:21] eholk commented on #102172
This looks like it should be a type error. The versions that should work are `let i = 42 as dyn* Debug;` and `let i = &(42 as dyn* Debug);`, and possibly `let i = &42 as &dyn* Debug;`. But, we definitely need a more helpful message than an ICE.

[2022-09-28 18:28] eholk opened #102427 "Boxes can not be cast to dyn*"
Example:
[code]

This fails in LLVM:
[code]

[2022-09-28 18:33] eholk opened #102429 "ICE involving references to dyn*"
Example:
[code]

This fails with the following ICE:
[code]

[2022-09-28 18:34] eholk commented on #102429
This is probably related to #102172 since they ICE in the same place.

[2022-09-28 18:38] eholk opened #102430 "Bad MIR when casting a reference to dyn*"
Test case ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a0b4dd20321aed6d5180190d9b2ed3b0):
[code]

This gives the following error message:
[code]

[2022-09-28 18:43] eholk opened #102431 "rustfmt erases dyn*"
While filing #102427, I noticed rustfmt erases `dyn*` from types.

Input:
[code]

Output:
[code]

Expected: The input should not have changed because it was already formatted correctly.

[2022-09-28 18:50] nikic commented on #102402
Upstream issue: https://github.com/llvm/llvm-project/issues/58046

[2022-09-28 19:42] RalfJung commented on #102093
Okay, that would probably explain what I saw.

So this issue is then tracking to make `x.py --bless` on clippy work the same way it works for all other parts of the rustc repo.

[2022-09-28 19:51] mejrs commented on #102431
See also https://github.com/rust-lang/rustfmt/issues/5542

[2022-09-28 19:54] lukas-code commented on #102402
possibly related: https://github.com/rust-lang/rust/issues/55131

[2022-09-28 20:49] GuillaumeGomez commented on #102404
I don't have an iphone so I won't be able to check what's going. Does someone on the @rust-lang/rustdoc team has an iphone by any chance?

[2022-09-28 20:52] Nilstrieb commented on #99945
searched nightlies: from nightly-2022-01-01 to nightly-2022-09-28
regressed nightly: nightly-2022-08-19
searched commit range: https://github.com/rust-lang/rust/compare/9c20b2a8cc7588decb6de25ac6a7912dcef24d65...0b79f758c9aa6646606662a6d623a0752286cd17
regressed commit: https://github.com/rust-lang/rust/commit/8064a495086c2e63c0ef77e8e82fe3b9b5dc535f

<details>
<summary>bisected with <a href='http

[2022-09-28 20:59] bstrie commented on #102411
I've updated the issue, still a bit annoying though.

[2022-09-28 21:04] jsha commented on #102404
I've got one and will check.

[2022-09-28 21:47] chenyukang commented on #102396
@rustbot claim

[2022-09-28 22:12] bossmc commented on #98712
Playing around, it seems that the `await` is only treated as covered if the future yields underneath it, the following forces a yield:

[code]

With the `Yeild::default().await` line in place then the `await` line in `main` is marked as hit, if it's commented out then the `await` is unhit.

My guess is that only the "bail out to the calling frame" logic has a BCB counter in it (or maybe there simp

[2022-09-28 22:30] jmillikin opened #102443 "Tracking Issue for negation methods on `NonZeroI*`"
Feature gate: `#![feature(nonzero_negation_ops)]`

This is a tracking issue for adding negation methods such as `wrapping_neg()` to the `core::num::NonZeroI{8,16,32,64,128}` types.

ACP: https://github.com/rust-lang/libs-team/issues/105

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/102342
- [x] #111186
- [x] Final comment period (FCP)[^1

[2022-09-28 22:35] JohnTitor commented on #87840
The feature has been stabilized by #101555, closing.

[2022-09-28 22:35] #87840 closed

[2022-09-28 22:38] jmillikin opened #102444 "Tracking Issue for CStr::is_empty"
Feature gate: `#![feature(cstr_is_empty)]`

This is a tracking issue for adding an `is_empty()` method to `core::ffi::CStr`.

ACP: https://github.com/rust-lang/libs-team/issues/106

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/102445
- [x] Final comment period (FCP)[^1]
- [ ] Stabilization PR: https://github.com/rust-lang/rust/pull/11104

[2022-09-28 22:44] mati865 commented on #75374
Is this issue still relevant?

[2022-09-28 23:21] mati865 commented on #98302
I believe it works with LLD because it can fixup missing dllimport symbols if it finds regular ones: https://github.com/llvm/llvm-project/blob/16e5d6d7f98f1119aab3d10ec4f9e59b5aacd359/lld/COFF/SymbolTable.cpp#L488
Which appears to be the case here:
[code]
For now sticking with LLD is probably the best option, this issue needs more investigation what happened with dllimports/dllexports.

[2022-09-28 23:33] matheuz1210 opened #102446 "ICE using [`inline_const`] and [`generic_const_exprs`]"
i was bored and tried running this piece of cursed code
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-29 01:46] cogsandsquigs commented on #83871
Yeah, it'd be really nice to have this finally released in the stable builds. Any progress on this?

[2022-09-29 03:14] qtow opened #102451 "select_nth_unstable has quadratic worst-case time complexity; docs claim it should be linear"
[The docs](https://doc.rust-lang.org/beta/std/primitive.slice.html#method.select_nth_unstable) claim that select_nth_unstable is "O(n) worst-case", but the implementation exhibits O(n<sup>2</sup>) time complexity for some inputs. I'm not sure if this is a documentation error or an implementation error, but it's definitely one or the other.

The current implementation is a fairly normal [Quickselec

[2022-09-29 04:08] saethlin commented on #39137
I think this has been done in the meantime. The above code now prints `[0]`.

[2022-09-29 04:13] eddyb commented on #102174
Heh, something like that is why `rustc_target` avoids dependencies on the rest of the compiler, and is generic over the concept of a semantic type and contexts that can provide more information about those semantic types (tho recent changes motivated by performance have been compromising a bit of it, you still only need an arena to use the facilities AFAICT).

My long-term hopes with `rustc_target

[2022-09-29 04:23] Rageking8 commented on #102446
@rustbot label +F-inline_const +F-generic_const_exprs +requires-nightly

[2022-09-29 04:31] Rageking8 commented on #102430
@rustbot label +C-bug +T-compiler +I-ICE +F-dyn_star +requires-nightly

[2022-09-29 04:32] Rageking8 commented on #102427
@rustbot label +C-bug +A-LLVM +requires-nightly

[2022-09-29 04:35] Rageking8 commented on #102425
@rustbot label +C-tracking-issue

[2022-09-29 04:38] Rageking8 commented on #102429
@rustbot label +C-bug +I-ICE +requires-nightly +T-compiler

[2022-09-29 04:40] Rageking8 commented on #102414
@rustbot label +T-compiler +A-diagnostics

[2022-09-29 04:41] Rageking8 commented on #102386
@rustbot label +C-feature-request

[2022-09-29 05:08] jsha commented on #102404
I was unable to reproduce on iPhone 15.5. The lines don't wrap at all, which is expected behavior.

It looks like the latest iOS version is 15.7. I'm upgrading to that now. @pali6 would you mind upgrading to 15.7 as well and seeing if it still reproduces for you?

[2022-09-29 05:17] jruderman opened #102453 "Missing 'unused assignment' warning with += operator on String"
Given the following code (playground):

[code]

The current output shows no warnings.

Ideally the output should look like:

[code]

Switching to `s = s + "B"`, or changing the variable to `u32`, makes the desired warning appear. And indeed there are types for which `+=` might be used for external side effects alone. But `String` does not really "do" anything, so `s` should be considered unused af

[2022-09-29 06:08] hellow554 commented on #88900
@lexi-brt that's what `Display` is for.

[2022-09-29 06:51] flba-eb commented on #85261
@ijackson Would you please try to test the fix above to check if it solves the issue on Android as well?

[2022-09-29 07:34] detly commented on #90237
Note also that a byte string literal is fine:

[code]

:point_up: compiles, but

[code]

...fails with:

[code]

[2022-09-29 07:54] jmillikin opened #102456 "rustdoc: Named constants in array sizes shouldn't be evaluated"
## Current rustdoc behavior

Given the following code:

[code]

The user would be expected to call it like this:

[code]

Unfortunately, the rustdoc output is confusing because it evaluates the constant when formatting the function signature:

![rustdoc-1](https://user-images.githubusercontent.com/646128/192970362-c2096f54-0ccb-46e8-931f-5d654d880a29.png)

If a user were to copy-paste from the rus

[2022-09-29 08:01] #102374 closed

[2022-09-29 08:22] pali6 commented on #102404
That indeed fixed the issue. My bad for not staying updated.

[2022-09-29 08:22] #102404 closed

[2022-09-29 09:09] thomcc commented on #85261
On most Unix it's UB to touch TLS after fork, since `__tls_get_addr` might be called, and it can allocate memory, take locks, etc. That is, this is probably not a specific issue with QNX/Android.

[2022-09-29 09:09] DutchGhost opened #102459 "dyn* to -> impl Trait ICE's"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-29 09:19] DutchGhost commented on #102459
Oh, is a dupe of https://github.com/rust-lang/rust/issues/102430, but with a smaller test case.

[2022-09-29 09:19] #102459 closed

[2022-09-29 09:25] DutchGhost commented on #102430
A smaller sample that ICE's with the same message:

[code]

[2022-09-29 09:26] tspiteri commented on #85532
But for unsigned, `overflowing_add` returns true if the operation overflows, so there is no confusion. It's true that for x86 assembly unsigned overflow is the carry flag and signed overflow is the overflow flag, but for Rust `overflowing_` is used for all operations, not just signed addition.

For unsigned I'd stick with `overflowing_add` and `carrying_add`. The difference between `unsigned::carr

[2022-09-29 09:37] melonges opened #102462 "included range in for loop gives more assembly code than excluded range"
Given the following code where **source** will be excluded

[code]

The assembly output is:

[code]

if **source** will be included the assembly code will increase more than

[code]
The assembly output is:

[code]

I tested on rustc 1.64.0 with -C opt-level=3

[2022-09-29 10:01] apiraino commented on #102402
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102402.20Value.20differs.20between.20debug.20and.20release.3A.201.2E0.20.2F.20.28.28-0.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-09-29 10:21] matthiaskrgr opened #102465 "ICE: broken mir with no-core and `1 => 1` match arm"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  92495.rs --crate-type lib`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-29 10:31] matthiaskrgr opened #102467 "ICE: rustdoc: unexpected const parent in type_of() / Const::from_anon_const: couldn't lit_to_const TypeError"
### Code
./src/test/ui/associated-consts/issue-102335-const.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
rustdoc ./src/test/ui/associated-consts/issue-102335-const.rs
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-29 11:27] aDotInTheVoid commented on #102363
Turns out that isn’t a viable approach, as the whole rustdoc primitve infrastructure assumes that primitives have a defid, which is the one that actually belongs to the module.

An alternative approach would be for the json backend to just ignore module labelled #[doc(primitive)]. This would make rustdoc json be slightly inaccurate when documenting core with —document-private-items, but only by lo

[2022-09-29 11:27] Rageking8 commented on #102462
@rustbot label -A-diagnostics +A-codegen +I-heavy

[2022-09-29 11:32] Nugine commented on #89259
Hi! Is there any plan of stabilization?

[2022-09-29 11:41] lcnr commented on #102465
I feel like we shouldn't really work on fixing this. Parts of the compiler short-cut trivially `Copy` builtin-types without going through the trait system. Failing with an ICE when missing impls feels acceptable

[2022-09-29 11:53] matthiaskrgr commented on #102465
ah, so we try to optimize away `1 =>1` which assume isize/usize is copy but it isn't here in no_core/no_std which causes the ICE?

[2022-09-29 11:58] lukas-code commented on #102462
This regressed between 1.42 and 1.43: [Godbolt link](https://rust.godbolt.org/z/587z4sWhe)

related: https://github.com/rust-lang/rust/issues/45222

[2022-09-29 12:00] lcnr commented on #102465
not sure where exactly the ICE happens but pretty much: we compile while assuming that `isize: Copy` holds without checking it in the trait system

at some point we actually check that in the trait system, see that it doesn't hold, realize that we had a broken assumption and ICE

[2022-09-29 12:44] est31 commented on #89259
@Nugine I've made a stabilization PR, let's see where this goes: #102470

[2022-09-29 13:07] pluiedev opened #102473 "`rustc` should suggest borrowing values, when a borrow satisfies the same trait bound as an owned value"
[On the Rust community Discord server,](https://discord.com/channels/273534239310479360/273541522815713281/1025021617174216854) a user reported that functions like `std::fs::create_dir_all`, that take either `PathBuf`s or `&PathBuf`s thanks to their `T: AsRef<Path>` bound, do not make clear to the user that the function does not require an owned value.

It is obviously too late to change the signa

[2022-09-29 13:32] mejrs commented on #102473
IMO the compile errors related to Copy are not that great, and most of them could use an overhaul. Maybe it is worth addressing these on a higher level?

[2022-09-29 13:46] calebcartwright commented on #102431
Let's close this. We do not use this repository to track work for rustfmt, similar to many of the other dev tools

[2022-09-29 15:12] Mingun opened #102477 "Strange coverage results from `-C instrument-coverage`"
I do not know in what part the problem begins, so if rustc has nothing to do with it, please tell me how to check that. I'm a maintainer of [quick-xml](https://github.com/tafia/quick-xml) and I setup a [coverage](https://github.com/tafia/quick-xml/pull/391) for it and collect coverage, using `RUSTFLAGS: -C instrument-coverage`.

However, results on codecov.io looks very strange:
- many lines are m

[2022-09-29 15:26] jsha commented on #102404
No worries! Thanks for taking the time.

[2022-09-29 16:24] #102333 closed

[2022-09-29 16:24] #81819 closed

[2022-09-29 17:20] compiler-errors commented on #102465
Yeah, I think we've gone back and forth on whether or not ICEs with an ill-defined `#![no_core]` program are worth the effort, code review, and resulting compiler code complexity of fixing. Perhaps it's worthwhile revisiting this as a policy rather than making a specific decision every time, especially since it's very likely that `#![no_core]` will never be stabilized?

[2022-09-29 17:25] Nilstrieb commented on #99945
Interestingly, I get a new backtrace now:
<details>
<summary>very big backtrace because my rustc has debug=1</summary>

[code]

</details>

[2022-09-29 18:22] aDotInTheVoid commented on #102363
Upon further investigation, it turns out that this only occurs is when the name of the primitive is the name of the module. When the prim name != the mod name, everything is fine: We test for this <https://github.com/rust-lang/rust/blob/master/src/test/rustdoc-json/primitives/primitive_overloading.rs>

Given that core/std use different names for the mod/primitve, and `#[doc(primitive)]` is just me

[2022-09-29 19:21] ltrzesniewski opened #102485 "Warning on redundant trait bounds"
This has initially been reported by @jruderman [on Twitter](https://twitter.com/jruderman/status/1572866237914558465?s=20&t=hHIhvA6m1SMOjcRb930Lyw) (cc @estebank who replied there).

Currently, rustc does not generate any warning for redundant trait bounds.

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=00cd7a97f81ad47d7502604d55df57

[2022-09-29 19:43] compiler-errors commented on #102485
I feel like this should be a clippy lint if anything -- redundant bounds could, for example, be generated by macros or other sorts of situations, and they're really not that dangerous.

[2022-09-29 20:56] compiler-errors commented on #100320
Ugh, sorry, probably won't get around to fixing this. I'll unclaim.

[2022-09-29 21:13] gardell commented on #100161
This issue is most likely due to https://github.com/RustCrypto/hashes/pull/386 which has been fixed in `0.2.4` of the `cpufeatures` crate but https://github.com/rust-lang/rustup/blob/master/Cargo.lock#L350 is locked to `0.2.2`

Checking for `avx2` on my Intel Pentium M 725 machine which doesn't support it, returns true on `cpufeatures` versions earlier than `0.2.4`

[2022-09-29 21:21] Super-Pizza commented on #98302
Well, good to see some investigation! It seems to mostly affect crossbeam seeing all the links related to it.

[2022-09-29 21:38] mati865 commented on #98302
Guess I don't have permissions but let's try:

@rustbot modify labels: +regression-from-stable-to-stable
@rustbot prioritize

[2022-09-29 21:56] compiler-errors commented on #102074
Sorry for taking so long on this, I have been sick. I minimized this and have a fix incoming:

[code]

[2022-09-29 22:07] GuillaumeGomez commented on #102467
For an unknown reason, it doesn't fail before we're way into the `clean` part of rustdoc when calling `from_anon_const`.

[2022-09-29 22:45] #102057 closed

[2022-09-29 23:31] eholk commented on #102431
Sounds good!

[2022-09-29 23:31] #102431 closed

[2022-09-29 23:34] GuillaumeGomez commented on #102467
I tried this:

<details>

[code]

</details>

But unfortunately the result still looks bad:

[code]

Not sure what's going on and why this error appears this late.

[2022-09-29 23:57] khuey commented on #46227
This got fixed at some point.

[2022-09-29 23:57] #46227 closed

[2022-09-29 23:57] tomkarw opened #102494 "Lifetimes not inferred when using `Self` constructor instead of named one"
### I tried this code:

[code]

Link to playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c11bc82b8e33841719b8e1fb765d0529.

### I expected to see this happen:
The code to compile, the same way this snippet compiles (notice that only `Self -> A` changed)
[code]

### Instead, this happened:
[code]

The actual fix is to unify the lifetimes, but the fact that changin

[2022-09-30 00:01] mati865 commented on #98302
Before 1.47.0 these symbols were created without dllimport/dllexport:
[code]

Which makes me believe it's actually my fault in https://github.com/rust-lang/rust/pull/72049

[2022-09-30 00:36] fee1-dead opened #102497 "Consider redefining the places `~const` bounds are allowed"
At https://github.com/rust-lang/rust/pull/102409#discussion_r982499830, it was pointed out that associated functions can have `~const` bounds even though they may be non-const. We need to figure out and define what places `~const` should be allowed. Note that since `~const` only applies more restrictions on callers that are `const`, putting them on `non-const` `fn`s has no effect.

[2022-09-30 00:47] fee1-dead opened #102498 "trait method calls on `~const` bounded types should not be allowed in generic const exprs"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=96adf97b7485854dd188a640d4707865)

[code]

If we remove the `huh` definition, it compiles. This fix would involve treating caller bounds differently and would probably come with the addition of "always `const`" bounds.

This is an interaction with `generic_const_exprs` and `const_trait_impl`, but does not block t

[2022-09-30 01:11] avdb13 opened #102501 "Iterator trait's `find` and `position` method doesn't explain why it takes `&mut self`"
This method drops all the elements including the found element before the closure evaluates to `true`. I think this also applies to `find`.
Example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1171bdb225c7fd2d1b37518f27199413

[2022-09-30 01:22] NSHU17 commented on #101961
@rustbot claim

[2022-09-30 01:31] evopen commented on #101013
@rustbot release-assignment

[2022-09-30 01:45] compiler-errors commented on #102494
This is not a bug. The identifier `Self`, unlike `A`, is not a type constructor -- it's a single type in the scope of the `impl`. So when one writes `Self` within that `impl`, it _always_ means `A<'a>`, and never `A<'_>`.

[2022-09-30 01:51] ehuss commented on #102501
Transferred to rust-lang/rust as the std docs live in this repository.

As to your question, I'm not sure I fully understand it. The `find` or `position` methods need to modify the state of the iterator in order to advance them to the element they are looking for. This is true for almost all the iterator methods, so I'm not sure what kind of explanation you are looking for.

[2022-09-30 03:00] SUPERCILEX commented on #67792
Why is the `#[const_trait]` attribute needed? I've gotten a compiler error that says to add it, but not why.

[2022-09-30 05:24] workingjubilee commented on #102501
@avdb13 The Iterator reifies the state of iteration, allowing external iteration, step by step, via `.next()`. It is not an "internal" iterator as you may have encountered, nor is it handling `Vec<u32>` as what is sometimes called an "iterable": it is a distinct entity that can _own_ data. Thus, when you give it data, which you did by calling `.into_iter()` which takes its argument by `self` as op

[2022-09-30 05:31] oli-obk commented on #102497
Why can't we just forbid it on non const assoc fns?

[2022-09-30 05:31] oli-obk commented on #102497
Why can't we just forbid it on non const assoc fns?

[2022-09-30 05:34] oli-obk commented on #102498
I think this issue is a good use case for a `// known-bug` issue until we fix it (may be automatically fixed by keyword generics)

[2022-09-30 05:45] matthiaskrgr commented on #102467
@GuillaumeGomez  Hm, is it worth committing that? :slightly_smiling_face:
In other examples like  https://github.com/rust-lang/rust/issues/96287 we don't get any information at all on what the underlying error is and rustdoc just says `thread 'rustc' panicked at 'Error', src/librustdoc/clean/mod.rs:1671:29`

I know that there are perhaps 5-10 ices that all have this `thread 'rustc' panicked at 'Er

[2022-09-30 05:59] fee1-dead commented on #102497
Yes we could. I was also thinking about `impl<T: ~const Tr> SomeType {}` so that all `const fn`s inherit this bound.

[2022-09-30 06:03] hechangqin commented on #73307
I encountered the same problem with the latest 1.64 version, put the 8GB vec into the hashmap, and after calling clear, use the standard allocator, the memory will not be recycled, and the effect will be better after replacing it with jemalloc, but there are also some that cannot be recycled.

[2022-09-30 06:14] oli-obk commented on #102497
Ah yea, seems ok as long as we have an `unused ~const` lint for the case where nothing uses it

[2022-09-30 06:51] workingjubilee commented on #99405
Hello!

It didn't quite fall through the tracks so much as I wound up kinda busy at an inopportune time. I hope to take a closer look at this soon. :eyes:

[2022-09-30 07:14] #101630 closed

[2022-09-30 07:56] Rtoax commented on #64248
[code]

Could i just skip the `cargo build` procudure?

[2022-09-30 08:39] leonardo-m commented on #102462
(If you have two nested loop, the code is bad even in older compilers).

[2022-09-30 08:39] QuentinPerez opened #102510 "ICE: cannot relate region: LUB(ReErased, ReErased)"
👋 Since the nightly 2022-09-11, the following code doesn't compile anymore.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-09-30 11:19] GuillaumeGomez commented on #102467
I can provide a PR with this change if you want, but I'm not sure it's much of an improvement... Oh well. Pushing a PR and then I'll decide if you want it or not.

[2022-09-30 13:02] RalfJung commented on #82523
I propose we finally make this a hard error: https://github.com/rust-lang/rust/pull/102513

[2022-09-30 14:12] pnkfelix commented on #97217
T-compiler P-high review, downgrading to P-medium.

@rustbot label: -P-high +P-medium

[2022-09-30 14:25] pnkfelix commented on #102402
T-compiler P-high review

@rustbot assign @nikic

[2022-09-30 14:49] estebank opened #102518 "When calling a function that is actually a method, mention it"
[Given code like `cos(3.3);`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b5d991ca985c644458bb7ee3dab58dd3) where `cos` is a method of `f64`, we currently look for free functions elsewhere in the dependency tree:

[code]

But we should also check for existence of methods under that name for its sole argument.

[code]

[2022-09-30 14:53] pnkfelix commented on #101346
T-compiler P-high review. Nikita volunteered to be default assignee for LLVM miscompilations.

@rustbot assign @nikic

[2022-09-30 15:03] jruderman commented on #102402
Does that fix take care of the [second example](https://github.com/rust-lang/rust/issues/102402#issuecomment-1260769942)?

[2022-09-30 15:24] pnkfelix commented on #100914
@wesleywiser points out that this might be related to LLVM issue https://github.com/llvm/llvm-project/issues/48911

[2022-09-30 16:06] estebank commented on #102485
@compiler-errors we do already silence lints coming from macros. I wouldn't mind if this was a clippy lint though.

[2022-09-30 16:21] robinhundt commented on #100177
Well, it seems my solution of just referring to the associated type of the super trait does not work completely... :cry:

[code]
[[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6c0a3d3a5a86b0407eeba3f1bcebfc8a)]

the code compiles without the `<C as Sink<Self::Item>>::Error: Send` bound on the trait impl, but adding it, results in the dreaded `the trait bound

[2022-09-30 17:05] Nilstrieb commented on #102510
Minimized it a little
[code]

[2022-09-30 17:15] Nilstrieb commented on #102510
searched nightlies: from nightly-2022-01-01 to nightly-2022-09-30
regressed nightly: nightly-2022-09-11
searched commit range: https://github.com/rust-lang/rust/compare/1d37ed661a6922e7a167609b8cd7eb31e972b19b...2287107588d92889d282e6cd3c1ca5df34cd34a5
regressed commit: https://github.com/rust-lang/rust/commit/2287107588d92889d282e6cd3c1ca5df34cd34a5

<details>
<summary>bisected with <a href='http

[2022-09-30 17:27] cjgillot opened #102522 "Assign HirIds in HIR traversal order"
AST->HIR lowering assigns a `HirId` to most nodes in the HIR tree.  The `HirId` consists of an `OwnerId`, which tells to which item (function, trait, associated function...) a node belongs to, and an `ItemLocalId` which is its index inside that `OwnerId`.

`ItemLocalId`s are assigned in the order they are created during lowering, by a simple counter. As a consequence, their values when looking at

[2022-09-30 18:26] Alexendoo opened #102523 "rustdoc collapsed and undocumented trait methods have different padding"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/intravisit/trait.Visitor.html

![image](https://user-images.githubusercontent.com/1830331/193333529-671782b4-ee21-456c-b37c-422780da0a0a.png)

[2022-09-30 19:14] Amanieu commented on #58533
I just noticed that the documentation for cursors say this:

This is incorrect: cursors point to an element, not to a location between two elements.

[2022-09-30 20:14] oli-obk commented on #102352
@petrochenkov any ideas how to address this or should I start digging in to it

[2022-09-30 21:45] Artemis21 opened #102527 "Exponential compile times for chained RPITIT"
I tried this code:

[code]

I expected this to compile reasonably quickly.

Instead the above example took about a minute and a half. With 20 `.nest()`s in sequence, it takes between two and three seconds. For each subsequent `.nest()`, it takes about twice the time.

When I replace `|| self()` with just `self`, it compiles almost instantly. The same happens when I remove the apparently inconseque

[2022-09-30 21:49] Artemis21 commented on #102527
The version of this without using RPITIT also compiles quickly:
[code]

[2022-09-30 21:51] compiler-errors commented on #102527
how interesting, I'll look into this :)

[2022-09-30 21:52] rjzak commented on #70589
I also have the linker issue when compiling for `wasm32-wasi` on `powerpc64le-unknown-linux-gnu`, where `rust-lld` can't be found. Forcing the use of `/bin/lld` from LLVM seems to work fine. But the PPC64LE port seems to not have `rust-lld`, whereas `x86_64-unknown-linux-gnu` does. Is this intentional?

[2022-09-30 22:29] colinba opened #102528 "Out-Of-Range integers in format string literals silently wrap around"
I tried this code: (while learning Rust using [Rust by Example](https://doc.rust-lang.org/rust-by-example/hello/print.html) and experimenting with the format string syntax available via format!() and related macros)

[code]

I expected to see this happen:

`rustc` to reject this code with a diagnostic message due to the out of range integers in the format string literals.

Instead, this happened:

[2022-09-30 22:49] Mark-Simulacrum commented on #102527
Feels like the desugaring might end up similar to https://github.com/rust-lang/rust/issues/100886, so maybe worth trying any fix on that too.

[2022-09-30 23:17] tomkarw commented on #102494
Got it. Two questions then:
- Why is `Self` alias for `A<'a>` and not the more relaxed `A<'_>`?
- Could we at least make a better compiler message, that basically notices this specific case and suggest the proper change?
Something like:
[code]

[2022-09-30 23:43] #102402 closed

[2022-10-01 00:59] pmetzger commented on #83871
@TrolledWoods Maybe you can ask around on the Rust dev fora about how to progress this?

[2022-10-01 01:21] Stovent commented on #85532
The confusion arises because I guess I have a different meaning of overflow and carry. My definitions are the ones used by processors (https://en.wikipedia.org/wiki/Overflow_flag).
So when you say

I am confused, because overflow is only meaningful in signed contexts so unsigned operations must never overflow, they can only carry out.

So I think we first need to have proper definitions on what ca

[2022-10-01 01:36] jruderman commented on #102402
To answer my own question: both examples are fixed for me after updating rustc nightly from (9c56d9d6f 2022-09-29) to (8ce3204af 2022-09-30)

[2022-10-01 01:45] daym opened #102531 "flock creates executable file"
I tried this:

[code]

I expected to see this happen: The only regular files with executable bit inside `target/` are the actual ELF executables.

Instead, this happened: The lock files for the incremental build also have the executable bit set (for example `./target/debug/incremental/ex1-zjfb4s71is3b/s-ge02ugy8lg-ga9xze.lock` in a `cargo new`ed example).

### Meta

cargo 1.63.0-nightly (3f052d8ee

[2022-10-01 01:53] scottmcm commented on #85532
We have types, though.  So we don't have one ADD instruction with OF/CF/SF/ZF/etc flags, and thus trying to match those doesn't necessarily seem like a good fit.

"Overflow" is a totally acceptable term even for unsigned, see LLVM's `uadd.with.overflow` for example <https://llvm.org/docs/LangRef.html#arithmetic-with-overflow-intrinsics>.  And while for *flags* I agree there's that distinction (not

[2022-10-01 03:21] Lucretiel opened #102532 "Associated type resolution fails with blanket impl for supertrait"
I tried this code:

[code]

I expected to see this happen: The code compiles without issue

Instead, this happened: It fails to compile with this error:

[code]

I've confirmed that all of the elements in this reproduction are necessary, and the bug appears to be an interaction between the supertrait (`trait Specialized: General`) and the constrained blanket impl (`impl<T: Specialized> General for

[2022-10-01 03:56] #101306 closed

[2022-10-01 04:14] chenyukang commented on #102522
@rustbot claim
I'm learning the HIR part, will take some time for this.

[2022-10-01 05:28] nydevel opened #102534 "fs::copy with same name - empty file as result"
I tried this code:

[code]

I expected to see this happen: file contained {} text

Instead, this happened: file content erased

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-01 06:37] #102156 closed

[2022-10-01 06:37] #102209 closed

[2022-10-01 08:13] scottmcm commented on #98258
I've got a PR open that might improve this: #102535

(It'll definitely help for some slice methods, but I'm unsure about `Vec` ones, since the bounds checking is more complicated when `Deref` is involved.)

[2022-10-01 08:25] vitamiin opened #102537 "Programs on x86_64-unknown-uefi target build without symbols"
The program builds successfully on a debug build, however, it appears it has no symbols. I've tried the following:
- Load the .efi file in GDB and use `add-symbol-file` or `load-symbols` on it (or the latest .pdb file generated under `target/x86_64-unknown-uefi/debug/deps`)
- Duplicate the x86_64-unknown-uefi target, change the `is-like-msvc` field in the target's .json to false, and remove the `i

[2022-10-01 10:14] nikic opened #102539 "#[inline] on generic functions"
Common Rust wisdom says that `#[inline]` does not need to be placed on small generic functions. This is because generic functions will get monomorphized in each crate anyway, so the attribute is not necessary for cross-crate inlining.

However, we also know that in practice placing `#[inline]` on generic functions does help optimization, even for tiny functions where the additional `inlinehint` th

[2022-10-01 11:20] tgross35 opened #102540 "Closures with GATs produce obscure messages"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=25f2bb05097f26cb57efffe46aa552af

[code]

The current output is:

[code]

It is  difficult to understand what is going on in the output, and I am still not quite sure what the problem is. Returning `res.unwrap()` instead of the `unwrap_or_else` line works fine, so the issue appears to be in the closu

[2022-10-01 11:30] tgross35 commented on #102540
Even something like `res.map_or_else(|| 0, |_| 1)` fails to compile, but the following works OK:

[code]

[2022-10-01 12:11] Artemis21 opened #102541 "ICE when RPITIT method has multiple type parameters"
### Code

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0b48b03ba0ee2e7736525015fe78f447)

- [The error still occurs when the type parameters are actually used.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=58584a614790613364aaaebe39085230)
- [The error doesn't occur when there is only one type parameter.](https://play.rus

[2022-10-01 12:15] Artemis21 commented on #102541
The panic seems to be close to the code changed by #102334, so I wonder if that might fix this.

[2022-10-01 12:41] piegamesde commented on #78649
This issue is preventing ergonomic recursive async functions. At the moment, one would have to write (writing from memory here, but you get the idea):

[code]

with this issue resolved, one could move the boxing down to only recursive calls:

[code]

This is not only more ergonomic, but also it is truly zero cost, while the current workaround is not (you always pay for the dynamic dispatch even wh

[2022-10-01 12:57] jruderman opened #102542 "Object safety error is shown twice for a single assignment"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=31f869a69a49ec509e95f6a7509f3ba5)):

[code]

The current output is:

[code]

Showing E0038 once should be sufficient for this code.

[2022-10-01 13:16] Rageking8 commented on #102541
@rustbot label +requires-nightly +F-return_position_impl_trait_in_trait

[2022-10-01 14:40] TaKO8Ki opened #102544 "`&i32 as dyn* Debug` causes an ICE"
### Code

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6f1145ab9ece6ef63ab5357e8147e8f9

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-01 14:47] matthiaskrgr commented on #102544
duplicate of https://github.com/rust-lang/rust/issues/102430 ?

[2022-10-01 14:49] jruderman opened #102546 "where_clauses_object_safety warning does not identify the offending line"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a0660bea7e69d429e01d33ea0ac4b24c)):

[code]

The current output is:

[code]

The first part of the error message should refer to line 16, in `main()`, where the program tries to make a trait `B` object. Other 'object safety' errors do this correctly (e.g. if trait `B` is not object-safe

[2022-10-01 14:50] TaKO8Ki commented on #102544
ref: https://github.com/rust-lang/rust/issues/102544#issuecomment-1264386073

[2022-10-01 14:50] #102544 closed

[2022-10-01 14:57] vacuus commented on #102534
https://doc.rust-lang.org/stable/std/fs/fn.copy.html

"Likely" might be indicating that the result of the files being the same is platform-specific behavior (don't quote me on that).
If you really want to be able to copy from a file to the same file (or the file is generic and that's why it's happening), you may have to copy the file contents into an intermediate buffer and write it back into the

[2022-10-01 15:29] nikic commented on #102539
I did a bit of crude data analysis, based on calls to non-inlined small functions in ThinLTO inputs. Here's the result: https://gist.github.com/nikic/c1d441ca6468b8c2ee114ff4a11f5667

Some of these are not supposed to be inlined (various panic functions) and there are a lot of `drop_in_place` functions that really should be inlined but aren't due to noinline annotations (fixed by https://github.co

[2022-10-01 15:51] Kobzol commented on #102539
Do you think that performing thin/fat LTO for `librustc_driver` (e.g. https://github.com/rust-lang/rust/pull/101403) could help with this in general?

[2022-10-01 16:10] bjorn3 commented on #102539
Generic functions are not included in the same cgu as the user by default. Partitioning produces two cgu's for each module before merging. One containing functions that are actually part of the module and one containing all generic functions used by the module. `#[inline]` moves functions from the "generics" cgu to the "normal" cgu AFAIK and as such is not useless at all.

[2022-10-01 16:35] SumiGovindaraju opened #102549 "Could not find `__OsLocalKeyInner` in `thread` when running cargo install"
I tried this code:

[code]

The installation of this crate should work, but instead I run into this error (I also see the same error when trying to build other personal repositories):
<details>
<summary>Console Output</summary>

[code]
</details>

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

Thanks for looking into this! Any hel

[2022-10-01 17:43] compiler-errors commented on #102541
Yes, this looks like a duplicate of that other issue.

[2022-10-01 17:59] robinhundt commented on #100177
I've tried to further reduce the issue. Unfortunately, not even the following simplified code compiles:
[code]
[[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4fde50bfd45deeb6ddfe15bebe41ca61)]

This reduces the usability of the `Sink` trait (or other traits with a generic parameter and associated type), as its associated type can't be bounded in another trait

[2022-10-01 18:57] the8472 commented on #89241
* converted the test code to a bin crate which runs the `do_stuff` function 1000 times in a loop (without criterion)
* added LTO=fat and CGUs=1 to the release profile
* extracted the WalkDir stuff from the loop so it only collects paths once at program startup
* disabled CPU turbo

And then executed it under `perf stat`:

[code]

With that 1.53 and 1.55 look pretty much the same. Current nightlies

[2022-10-01 19:10] robinhundt opened #102552 "ICE with lifetime bound on generic trait parameter in function returning RPITIT"
### Code

[code]
[[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c25661491e45908010bf0260f05250e6)]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-01 19:14] robinhundt commented on #102552
@rustbot label +requires-nightly +F-return_position_impl_trait_in_trait

[2022-10-01 19:19] qwertz19281 opened #102553 "ICE: 'cannot copy unsized immediates' creating Box of trait object with generics"
While `cargo check` succeeds without warnings, `cargo build` fails on nightly on this code.

On stable 1.64.0, both checking and building succeed without warnings.

### Code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c73d8dc185ddf0a04aed6e2a830af727))

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><str

[2022-10-01 19:28] compiler-errors commented on #102541
This is fixed by #102334

[2022-10-01 19:30] compiler-errors commented on #102552
This doesn't ICE after #102334, but it does fail to compile with:

[code]

[2022-10-01 20:19] alexschrod commented on #55272
Seems this feature doesn't even exist anymore.

[2022-10-01 20:32] compiler-errors commented on #102494
because `Self` refers to _exactly_ the type that's in the `impl` block's header, i.e. `A<'a>`. It does no processing of that type, just exactly refers to it.

I think @aliemjay was working on a PR for this.

[2022-10-01 20:34] compiler-errors commented on #102553
this has to do with the trivially false `Self: Sized` predicate. Perhaps we should skip const prop if the `where` clauses of the function have any `where` clause predicates known to be false...

[2022-10-01 21:18] danielhenrymantilla commented on #102201
Yeah, [this compiles](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b7bafe966b872ad160203dba534edd0c):

[code]

It's basically https://users.rust-lang.org/t/argument-requires-that-is-borrowed-for-static/66503/2?u=yandros

What Rust very sorely needs is `for<'b where 'env : 'b>` kind of bounds, and _once we get them_, the diagnostics could suggest it when running into this

[2022-10-01 21:23] danielhenrymantilla commented on #102211
I wonder if the following snippet is indeed a reduction:

[code]

  - [from Discord](https://discord.com/channels/273534239310479360/1023879337977597974/1023879337977597974)

[2022-10-01 21:34] jdahlstrom commented on #102534
Note that just checking string equality is absolutely not enough, because several different paths may point to the same file (absolute vs relative paths, symlinks, `..` path components). One needs to [canonicalize](https://doc.rust-lang.org/stable/std/path/struct.Path.html#method.canonicalize) the paths first, and even then it's not 100% certain.

[2022-10-01 21:55] jdahlstrom commented on #102462
Isn't the 1.42 codegen actually broken in the case that `*source == i32::MAX`? In that case `add eax, 1` wraps around to zero… but that actually gives the intended result, zero, because `accum` will always end up wrapping around to exactly zero no matter the value of `*dest`? But is that intentional or does (did) it only work by accident?

[2022-10-01 22:04] jdahlstrom commented on #102462
The 1.42 codegen is tricky, as it seems at first that it doesn't account for the case where `*source == i32::MAX`. But it ends up giving the expected result, which is 0 (mod 2^31).

[2022-10-01 22:32] nikic commented on #102462
Simpler example without the unnecessary memory indirections: https://rust.godbolt.org/z/GPvrbvbYY

External iteration over inclusive ranges is well known to optimize badly. Optimization may be viable in this particular case though.

[2022-10-01 22:37] Joshument opened #102555 "`x.py setup` fails with explicit panic"
When trying to run `x.py setup`, the program exits with an explicit panic and does not create the `config.toml` file. The error and full backtrace are as follows (on Arch Linux x86_64):
[code]

[2022-10-01 22:43] jyn514 commented on #102555
This is a regression from https://github.com/rust-lang/rust/pull/101969. We can't create a `Build` until the Setup subcommand has been handled. The fix is to move the `initial_rustfmt` call a little later to line 671.
https://github.com/rust-lang/rust/blob/56a35bc906be1250a76fdb9a4b70e9261e10aec5/src/bootstrap/lib.rs#L658

[2022-10-02 03:07] jyn514 opened #102560 "Decouple `is_rust_llvm` from whether LLVM is in-tree or not"
The point of `is_rust_llvm` is to know whether it contains Rust patches. In #101072 @tmandry added a config option so you can use a vanilla upstream LLVM without affecting other parts of how bootstrap works, this breaks that by re-coupling the idea of "is patched" to "is in tree".

_Originally posted by @tmandry in https://github.com/rust-lang/rust/pull/101833#discussion_r984872396_

[2022-10-02 03:23] tmandry commented on #102560
Thanks for filing this! #101072 is on beta, so

@rustbot label: -regression-from-stable-to-nightly

I guess we use milestones for issues like this?

[2022-10-02 03:37] lopopolo opened #102561 "ICE on 2022-10-01 nightly"
### Code

Sorry for not having a minimized example. I hit this ICE on a recent PR that was merged to trunk.

Reproduction steps:

[code]

### Meta

This repros on both Linux and macOS.

#### Linux

[code]

#### macOS

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-02 03:44] jyn514 opened #102562 "Bootstrap should support build directories within an unrelated git repository"
https://github.com/rust-lang/rust/pull/98483 recently broke the case where the source directory is built from a git clone, but the build directory is inside a *different*, unrelated git clone. Bootstrap shouldn't have opinions on where the build directory is; we should fix it.

We can detect this case by seeing if `config.src.join("src").join("stage0.json")` is present; if not, we guessed the sour

[2022-10-02 03:48] tmandry opened #102563 "Mock environment testing for bootstrap"
There are lots of config knobs in bootstrap, and it is hard to understand how they interact. Consider two recent examples off the top of my head:

* https://github.com/rust-lang/rust/pull/101833#discussion_r984872396
    * Broke the flag `is_rust_llvm`
* https://github.com/rust-lang/rust/pull/101072#discussion_r956528035
    * Implemented the aforementioned flag
    * (Nearly) broke the flag `llvm