[2019-06-25 16:00] RalfJung commented on #28179
That just means that the mangled name of the print function changed.

[2019-06-25 16:03] ebkalderon commented on #28179
@RalfJung Thanks, that makes sense. Just wanted to point it out for future readers, as I had stumbled across it and was surprised to see it work despite the issue not being resolved.

[2019-06-25 16:06] eddyb commented on #61696
@RalfJung `a <= x && x <= b` is equivalent to `x - a <= b - a` (assuming unsigned integers).
This is because everything in `a..=b` will be shifted over to `0..=b-a` and `a <= x` becomes `0 <= x - a`.

And it would've worked, too, if I hadn't combined *a different* operation into it, ruining the trick.

Oh and miri should probably be using `.contains(...)` on a range, ideally the one from the layou

[2019-06-25 16:21] RalfJung commented on #28179
I think the current version would be
[code]
but that doesn't run either, it just makes the linker fail:
[code]

[2019-06-25 16:41] BurntSushi commented on #57391
Here's a short question that perhaps turns this discussion around a bit. If we move the `Duration` constants to the `std::time` module, then under what circumstances would we want to use associated constants in other cases?

(A possible answer to this question is that "`std::time` is a special case," but I still think that noodling on what the general guidelines might be could be useful framing fo

[2019-06-25 17:10] nikomatsakis commented on #61072
Closing as fixed.

[2019-06-25 17:10] #61072 closed

[2019-06-25 17:12] nikomatsakis commented on #62009
@doctorn do you have a PR for this open?

[2019-06-25 17:14] doctorn commented on #61685
@rustbot claim

[2019-06-25 17:27] nikomatsakis opened #62121 "increase test coverage for async-await"
As part of the async-await feature we want to make sure we have good test coverage. We have a [master list of tests](https://paper.dropbox.com/doc/async.await-Call-for-Tests--AfAM6cvO2yAxLYrwSNNpS0zTAg-nMyZGrra7dz9KcFRMLKJy) prepared by @cramertj and @Centril that we'd like to complete.

[2019-06-25 17:29] Mark-Simulacrum commented on #61685
@rustbot assign @doctorn

(Sorry for the noise, testing a new GH feature)

[2019-06-25 17:31] nikomatsakis commented on #61798
We [discussed this a bit on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/unclear.20issue.20triage/near/168958460). The likely cause is that parts of the await desugaring are being linted against. We can likely check the span to see if the code that is being linted against is part of the `.await` desugaring, but we do want to be careful to ensure that

[co

[2019-06-25 17:32] nikomatsakis commented on #61798
Marking as deferred as this doesn't seem like a problem that needs to block stabilization.

[2019-06-25 17:34] nikomatsakis commented on #62025
Does this still reproduce?

[2019-06-25 17:36] xavierd opened #62122 "Use io::Result in prototype documentation"
For a newcomer, there is no reason to expect the return value of any I/O function (ie: `std::io::Result`) to be any different from `std::result::Result` as they are both shown to be `Result` in the documentation.

One easy way to disambiguate this would be to show the prototype to use `io::Result` instead of `Result`. For instance, the `open` function is shown as being:

`pub fn open<P: AsRef<Path

[2019-06-25 17:47] cramertj commented on #62121
https://github.com/rust-lang/rust/pull/62106 is a first step towards this.

[2019-06-25 18:09] Centril commented on #60553
The `#![feature(arbitrary_enum_discriminant)]` was implemented on 2019-06-26 in https://github.com/rust-lang/rust/pull/60732 which was written by @jswrenn and reviewed by @pnkfelix and others.

[2019-06-25 18:24] Centril commented on #61798
cc @varkor who has done some work on the inhabited logic stuff.

[2019-06-25 18:25] xavierd opened #62125 "Better error messages when mixing io::Result and non io::Result"
See the following playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=98bf237ffb9961d9d598c4ed16194517

A better error message can suggest writing the nested function as: `Ok(bar()?)`

[2019-06-25 18:29] cuviper commented on #62001
@psumbera LLVM 6 is still meant to work, and there's even a CI run using Ubuntu's libs. So that should complete `rustc` bootstrap and pass the testsuite, but it doesn't try building anything external like Firefox. I haven't seen that scope error before, not even on Fedora where we use system LLVM 8.

[2019-06-25 18:38] pietroalbini commented on #61931
AppVeyor said the issue might start to happen again.

[2019-06-25 18:50] estebank commented on #61132
I think we can iterate and disregard the more complex parts of the feature (IE, implement them manually in the code for now) and later pull them into the proc macro.

[2019-06-25 18:57] RalfJung commented on #61696
@eddyb

I tried, it doesn't really make things nicer and I am not even sure if moving the assertions around is correct: https://github.com/RalfJung/rust/commit/279adf8f7feac8c6dd542586fdb024cf4623dbe7.

The `adjusted_discr` actually is `raw_discr - niche_start + variants_start`, so comparing that with `variants_start` again is anyway a bit funny.

[2019-06-25 19:17] aidanhs commented on #50481
We've de-nominated because this is blocked on other things and we'll check in every month or so to see what progress is being made (it does sound like things are moving forward).

[2019-06-25 19:32] aidanhs commented on #59110
This hasn't made it into the stable being released and we're not looking to do a point release at this point, so removing stable-nominated

[2019-06-25 19:37] cuviper commented on #61992
It would be nice to just add methods to [`ExitStatusExt`](https://doc.rust-lang.org/std/os/unix/process/trait.ExitStatusExt.html) for [`ExitStatus`](https://doc.rust-lang.org/std/process/struct.ExitStatus.html), as this is where we use `waitpid` today, but currently that type is just a `c_int` wrapper, so adding `struct rusage` would be a lot.

So I guess you're suggesting to provide alternatives

[2019-06-25 19:38] Mark-Simulacrum commented on #12279
Performance of compile times and run times was gathered based on #62095 but no measureable difference whether `inline(always)` is applied or not could be determined, so I'm closing this issue.

[2019-06-25 19:38] #12279 closed

[2019-06-25 19:42] gila opened #62126 "src/librustc_mir/transform/generator.rs:715: Broken MIR"
The minimal code that reproduces the issue:

[code]

Getting the following error:

[code]

## Meta
[code]

I think this might be somewhat related to #62025 and perhaps  #61442 but i'll leave that to the experts.

[2019-06-25 19:44] DoumanAsh opened #62127 "Running cargo test with proc macro that uses main fails"
Attempting to run test with proc macro that uses `main` as identifier fails with following error:
[code]

Rustc version:`rustc 1.37.0-nightly (8aa42ed7c 2019-06-24)`

But it seems it wasn't present in `rustc 1.35.0 (3c235d560 2019-05-20)`

**UPD**: It is present since `(400b409ef 2019-06-09)` too

**UPD 2**: Might be always present as cargo test seems to inject own main

So something changed in th

[2019-06-25 20:03] sfackler commented on #62114
There are very few free-function constructors in the standard library. Many constants are at the module level simply because associated constants weren't stable in 1.0.

[2019-06-25 21:27] #61744 closed

[2019-06-25 21:27] #61663 closed

[2019-06-25 21:27] #62050 closed

[2019-06-25 21:27] #38591 closed

[2019-06-25 21:50] ezequielventura opened #62130 "Compiler error compiling xrl while installing xi-term from AUR"
Compiling xrl v0.0.7
error: internal compiler error: src/librustc/hir/def.rs:259: attempted .def_id() on invalid def: Err

thread 'rustc' panicked at 'Box<Any>', src/librustc_errors/lib.rs:620:9
stack backtrace:
   0: rust_metadata_std_2a4ec9a6b10f5d6fe32beb50c7bd9a38
   1: rust_metadata_std_2a4ec9a6b10f5d6fe32beb50c7bd9a38
   2: rust_metadata_std_2a4ec9a6b10f5d6fe32beb50c7bd9a38
   3: rust_metada

[2019-06-25 21:56] SimonSapin opened #62132 "Rustdoc regression in synstructure: error[E0275]: overflow evaluating the requirement `alloc::raw_vec::RawVec<(syn::Lifetime, syn::token::Add)>: std::marker::Unpin`"
In a minified package:

[code]

Running `rustup run --install nightly-2019-06-21 cargo doc` completes successfully, but `rustup run --install nightly-2019-06-22 cargo doc` causes the error below. Note that `cargo build` or `cargo check` succeeds with either version.

Regression range: 1d9981f04...929b48ec9. https://github.com/rust-lang/rust/pull/60293 is in the range and looks relevant. CC @nagisa

[2019-06-25 21:58] nagisa commented on #62132
Duplicate of https://github.com/rust-lang/rust/issues/62059. Thanks.

[2019-06-25 21:58] #62132 closed

[2019-06-25 22:16] ExpHP commented on #62111
I suggest not calling it `abs_sub` due to the confusion created by the (terribly misnamed) [function on floats](https://doc.rust-lang.org/std/primitive.f64.html#method.abs_sub), whose tortured legacy continues to this day in `num_traits::Signed`.

[2019-06-25 22:19] jonas-schievink commented on #62130
This looks like a duplicate of https://github.com/rust-lang/rust/issues/61732, but that one only seems to affect rustdoc?

[2019-06-25 23:18] petrhosek commented on #62088
I tried the suggested workaround but it doesn't seem to be working.

[2019-06-26 01:51] lineaar opened #62135 "Reading dropped object's memory succeeds"
Consider the following (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3937a5d7f026fb9905f3a2ba3f7e2faf)

[code]
When reading from `p`, the original contents of the structure are read. Running this snippet in `miri` results in an error. What is interesting is the cause of the error:
[code]

Another curious bit is that changing the attributes of the structure S to the follo

[2019-06-26 02:42] Zoxc commented on #62088
I see we only export C symbols if `#[link(name = "unwind", kind = "static")]` is on the extern blocks, which `libunwind.rs` lacks. That's probably the solution here.

[2019-06-26 02:50] kentfredric commented on #37854
@donbright I know its a poor consolation, but a good workaround which ensures backwards compatibility might be:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1078aba65079d2f2031fcaf7fa3648f7)

Figured this suggestion might help some poor soul who came here and also battled with not being allowed to use `0..=MAXN-1`

[2019-06-26 03:43] seanmonstar commented on #57391
This was suggested in one of the failed PRs adding the constants, and it had some support, but it wasn't considered again in the successful PR: an alternative to these constants and multiplication is adding a trait that can be implemented by integer types.

It feels to me that other languages have unit multiplication for durations because they frequently cannot extend types with new functionality.

[2019-06-26 04:16] ezequielventura commented on #62130
Sorry I can't tell if they are related. I'm not familiar with rust language, I was just trying to install some xi-editor front end (xi-term) and the compilation stopped there, I just posted the error because the message suggested it and I thought it might help the developers. Maybe this concerns the package maintainers.

[2019-06-26 04:43] #61793 closed

[2019-06-26 04:52] zimond commented on #62025
Using 2019-06-25 after #61442 , still producing

[2019-06-26 06:13] SimonSapin commented on #62059
@nagisa, are you saying that the expected fix is to go through the ecosystem and add `#![recursion_limit = "something"]` as needed? Or, what do you think of raising the default limit, as suggested by dtolnay above?

[2019-06-26 06:45] eddyb commented on #61696
@RalfJung Hmm, the arithmetic probably needs to be done on the size of the discriminant, like here:
https://github.com/rust-lang/rust/blob/bdd4bda4d5fe7eb24a7209a6c0c968a54869d3b7/src/librustc_target/abi/mod.rs#L664-L669

Double-casting assertions can, and probably should, be replaced nowadays by `.try_into().unwrap()`.
Otherwise, your changes are in the right direction, IMO.

[2019-06-26 07:02] mati865 commented on #62025
@zimond the fix landed in 2019-06-26 nightly. Could you try that version?

[2019-06-26 07:05] zimond commented on #62025
@mati865 The latest nightly is 2019-06-25 with commit tag 5f9c0448d

[2019-06-26 07:09] RalfJung opened #62137 "Miri/CTFE function call checks should only look at layout, not the type"
Since https://github.com/rust-lang/rust/pull/61814 we have a strange condition in the Miri/interpreter code that checks if a function got called with appropriate arguments: `!callee_layout.abi.is_uninhabited()` got replaced by `!self.tcx.is_ty_uninhabited_from_any_module(ty)`. That's really strange, the layout should contain all the information we need for execution, and module boundaries certainl

[2019-06-26 07:11] zimond commented on #62025
and I just tested #62126, it's still broken.

[2019-06-26 07:12] RalfJung commented on #61696
I am not so convinced... seems like the `VariantIdx` is a `u32`, but the discriminant may be way bigger, so probably casting things down before we know that it is in the "niche range" is wrong?

This avoids casting too early, but it's not really any safer than what we do right now: https://github.com/RalfJung/rust/commit/f311c4e84d

[2019-06-26 07:16] RalfJung opened #62138 "Miri/CTFE discriminant computation happens at the wrong type"
When loading discriminants of an enum that uses niche optimizations, Miri/CTFE has to do some arithmetic:
https://github.com/rust-lang/rust/blob/bdd4bda4d5fe7eb24a7209a6c0c968a54869d3b7/src/librustc_mir/interpret/operand.rs#L645-L646

Currently, this happens on type `u128`. That's probably wrong, it should happen on the type of the discriminant. That will result in different overflow behavior.

It

[2019-06-26 07:24] #61579 closed

[2019-06-26 07:24] #61731 closed

[2019-06-26 07:24] #61834 closed

[2019-06-26 07:24] #61910 closed

[2019-06-26 07:24] #62115 closed

[2019-06-26 07:25] mati865 commented on #62117
I can try building it but I won't be able to test it on real hardware.
One of issues for Debian would be LLVM. If they want to use system LLVM 8 they would need many backports for it.

[2019-06-26 08:02] Centril commented on #62111
@ExpHP `abs_diff` perhaps?

[2019-06-26 08:12] mati865 commented on #62025
@zimond it can be a bit confusing because when you install `nightly-2019-06-25` you will get `rustc 1.37.0-nightly (8aa42ed7c 2019-06-24)`. In parentheses you can see included commits date, not nightly version.
At the moment `rustup toolchain install nightly` is the same as `rustup toolchain install  nightly-2019-06-26`.

Back to the issue, I confirm it has been fixed on the master by https://gith

[2019-06-26 08:17] zimond commented on #62025
Yeah.. I just saw the commit log after commenting this. It's indeed fixed, cheers.

[2019-06-26 08:37] RalfJung commented on #62061
Cc @oli-obk

`mem::zeroed` and `mem::uninitialized` are a mess (the latter is deprecated), so I am opposed to making either of them `const fn`.

What *should* become a `const fn` is `MaybeUninit::zeroed`. But that is still waiting on some more CTFE work, I think.

[2019-06-26 08:38] RalfJung commented on #62061
All of these intrinsics are already implemented in Miri at https://github.com/rust-lang/miri/blob/master/src/intrinsic.rs. But so far they deliberately were not moved into rustc proper.

[2019-06-26 08:39] oli-obk commented on #62137
This is entirely my fault and also entirely unnecessary for fixing the ICE. I just believed this to be a useful cleanup: https://github.com/rust-lang/rust/pull/61814#discussion_r293729943

The reason is that computing the layout in a cached way (via `layout_of_local`) requires that we actually have an IndexVec of locals, which we don't have for const prop. The previous code was https://github.com/

[2019-06-26 08:41] oli-obk commented on #62061
We could make just the `zeroed` intrinsic `const fn` then `MaybeUninit::zeroed` can be `const fn` immediately and we can un-const-fn the `zeroed` intrinsic (or even remove it entirely, once we get loops and conditions in const fn)

[2019-06-26 08:43] oli-obk commented on #62061
I'm in full agreement, the `mem::zeroed` and `mem::uninitialized` functions should never become `const fn`.

[2019-06-26 08:46] RalfJung commented on #52898
I think we can close this now.  The issue has been reopened based [on a comment](https://github.com/rust-lang/rust/issues/52898#issuecomment-410479060) by @koute, which complained that

* `ptr::read` uses `mem::uninitialized`: that has been fixed.
* The docs for `mem::uninitialized` and `mem::zeroed` do not bring enough attention to the UB potential here. That has been fixed as well.

The issue al

[2019-06-26 09:08] RalfJung commented on #54542
The docs have been expanded to contain such an example:

[code]

[2019-06-26 09:08] #54542 closed

[2019-06-26 09:12] yshui opened #62144 "Explanation of E0207 is not what actually happens"
Unconstrained lifetime parameters are actually allowed:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e4deca509f64a6d600ae49904e966124

Unlike what's described here: https://github.com/rust-lang/rust/blob/d3e2cec29225a46298ec4ebf082f34ebd7cfeecf/src/librustc_typeck/error_codes.rs#L1941-L1950

For comparison, unconstrained type parameters do generate error:

https://play.

[2019-06-26 09:23] RalfJung commented on #42371
@matthewjasper  I don't think this is fixed. I am still seeing already-live locals marked as live if I make Miri check for that.

You can see that in [this example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c6b5841c52ada281cb9618b880378be2): the MIR with your patch is
<details>
<summary>Expand MIR</summary>

[code]

</details>

You can see that there is a `StorageLiv

[2019-06-26 09:25] RalfJung commented on #42371
In fact, MIR generation in that example does not seem to change at all with your PR.

[2019-06-26 09:28] killercup opened #62146 "Adding nom as a dependency to a proc-macro crate with tests results in link error"
Long debug session short:

- Having a proc-macro crate with tests works.
- Adding nom 5 as a dependency to a proc-macro crate works.
- Having nom 5 be a dependency in a proc-macro crate with tests does not work.

This might be a known problem; I couldn't find an open issue, though. Even so, error is not user friendly and that should at least be fixed.

<details>
<summary><code>cargo test --verbose

[2019-06-26 09:48] alexcrichton commented on #62088
FWIW I think that the original change here only affects rust dylibs, when using rlibs we already limited symbols pretty aggressively and AFAIK it's only dylibs which were tweaked. Additionally basically the only project in the world using Rust dylibs is rustc, so the breakage here at least makes sense in that regard and I don't think is cause for alarm yet in terms of maybe there's more breakage l

[2019-06-26 09:58] julianlalu commented on #61961
Ok.
I have the same result than Clang with ructc options set to:
`-C opt-level=3 -C relocation-model=static`

[2019-06-26 10:00] jonas-schievink commented on #62135
This just looks like UB, what did you expect to happen here?

[2019-06-26 10:06] kennytm commented on #61693
In yesterday's infra meeting, we have decided to fix this issue by separating the list of people to be assigned and mentioned, and also the PR author will no longer be assigned automatically.

This could be implemented  by

1. Copy the `MAINTAINERS` configuration into a new dictionary of lists of usernames  `ASSIGNEES` containing only the assignable members: https://github.com/rust-lang/rust/blob/

[2019-06-26 10:08] RalfJung commented on #62061
My concern is with the implementation of the `zeroed` intrinsic (actually called `init`).

What's missing to make `MaybeUninit::zeroed` a `const fn`? Probably support for mutable references?

[2019-06-26 10:10] RalfJung commented on #62061
But given that people have been asking for this for [quite a while](https://github.com/rust-lang/rust/pull/54832)... do you think it is realistic to add an implementation of the `init` intrinsic now, but remove it again later once we got everything together to have the current implementation of `zeroed` in CTFE?

[2019-06-26 10:12] pnkfelix commented on #52126
(this was fixed independently of NLL.)

[2019-06-26 10:16] RalfJung commented on #62061
Oh, you basically suggested that above.^^ Sorry.

So I think I wouldn't block that plan:
1. Move the `init` and `uninit` implementations from Miri to librustc_mir. (Having the two not in the same place seems odd.)
2. Make `init` *unstable* available as a `const fn`, use that to implement `MaybeUninit::zeroed`.
3. Open an issue that says we will want to *completely kill* both of these intrinsics as

[2019-06-26 10:24] RalfJung commented on #62137
I'm afraid I disagree with that being a cleanup -- AFAIK the type-based tests exist for surface language stuff, like exhaustiveness check and whatnot, also taking into account semver considerations. But for the interpreter I'd like to be sure that we use the layout information that will also be used by codegen.

const_prop making a mess for everyone else, again. :(

That other code seems okay to m

[2019-06-26 10:40] oli-obk commented on #62137
actually, @wesleywiser 	has just made some changes there or is in the process of further changes. We may be able to revert #61814 	after those changes are through because we'll have an actual stack frame available

[2019-06-26 10:47] oli-obk commented on #62061
Let's do that first, yes

Couldn't we also make `mem::zeroed` call `MaybeUninit::zeroed().assert_init()` so that we only have a single use site of `intrinsics::zeroed`

The rest of the plan sounds good to me. We can also mark the `init` intrinsic as `deprecated` and allow that lint in the two places where it's "ok for now". This would help preventing new uses in libstd from popping up.

[2019-06-26 11:10] RalfJung commented on #62137
That would be great! I thought there were some performance reasons for this.

[2019-06-26 11:10] RalfJung commented on #62061
We could.

[2019-06-26 11:19] c410-f3r commented on #61338
Latest nightly shows a different compile error:

`error: internal compiler error: src/librustc/ich/impls_ty.rs:213: ty::TyKind::hash_stable() - can't hash a TyVid _#1t.
`

[2019-06-26 11:25] mati865 commented on #54971
@rustbot modify labels: -O-macos +O-linux

Issues like this are often caused by using LTO in host compiler with BFD linker.
Disabling LTO will help, alternatively using LLD **could** help.

[2019-06-26 11:31] yoshuawuyts commented on #57391
@seanmonstar ohey, that's the first time I'm hearing about that. That's quite interesting! I have some thoughts on this:

### Imports
If this were an extension trait, it would not necessarily be included in the Rust prelude. Which I believe is because the prelude tries to be quite conservative in expanding. This means that any use of a trait would likely require a manual import. Where the establis

[2019-06-26 11:31] alex commented on #62061
Just to be clear, the proposal is first a PR that does:

[code]

[2019-06-26 11:35] withoutboats opened #62149 "[Stabilization] async/await MVP"
**Stabilization target:** 1.38.0 (beta cut 2019-08-15)

# Executive Summary

This is a proposal to stabilize a minimum viable async/await feature, which includes:

* `async` annotations on functions and blocks, causing them to be delayed in evaluation and instead evaluate to a future.
* An `await` operator, valid only within an `async` context, which takes a future as an argument and causes the ou

[2019-06-26 11:35] withoutboats commented on #62149
@rfcbot fcp merge

[2019-06-26 11:36] oli-obk commented on #62061
that and completely remove the `uninit` intrinsic and any code in the compiler that supports it

[2019-06-26 11:37] oli-obk commented on #62061
Actually, the `panic_if_uninhabited` may need to stay, not sure how `MaybeUninit` handles it

[2019-06-26 11:38] alex commented on #62061
`panic_if_uninhabited` is used in `MaybeUninit`.

[2019-06-26 11:43] Centril commented on #62149
(Just registering the existing blockers in the report above to make sure they don't slip)

@rfcbot concern implementation-work-blocking-stabilization

[2019-06-26 11:44] alex commented on #62061
Cool, I'll hopefully have a patch up for that shortly.

[2019-06-26 11:53] oli-obk commented on #62137
There were strong performance reasons in the past. We alleviated most of them, but there are some left: https://perf.rust-lang.org/compare.html?start=d4d5d67c1c20b9599c812ab4d926ab4fa9fe6935&end=b9376e62aea7c07ac50bf6929abf4931611b10a9

not even 2% regression in artificial const eval benchmarks are fine with me for the enormous reduction in code complexity and duplication. We may be able to find f

[2019-06-26 12:06] RalfJung commented on #62137
Besides this issue here, do we carry existing hacks that we can remove with the more well-behaved const_prop?

[2019-06-26 12:16] AIOOB commented on #61732
MCVE:
[code]
Bisected to find regression is in nightly `2019-01-01`, from:
[code]
to the above ICE.

As far as I can tell only rustdoc triggers it, but I don't know enough to say that for certain.

[2019-06-26 12:22] oli-obk commented on #62061
As discussed in the old PR (https://github.com/rust-lang/rust/pull/54832#issuecomment-432263848) we could also allow `&mut` references in `const fn` first, then make `ptr::write_bytes` const fn. That would allow us to skip the `init` minefield entirely

[2019-06-26 12:24] RalfJung commented on #62061
What would it take to allow mutable references in `const fn`? And given that I could write `const FOO: &mut T = foo();`, how does that make things any easier compared to allowing them in all consts?

[2019-06-26 12:32] oli-obk commented on #62061
Oh, I mean enable them in all consts. I'm not sure about the const qualif implications right now, but we could start by adding them behind a WIP feature gate without having to worry about accidental stabilizations. Wherever a `&mut` error is reported, only report if the relevant feature gate is not active. Should be a fairly simple PR (add feature gate and use it + some tests)

cc https://github.c

[2019-06-26 12:41] RalfJung commented on #62061
But AFAIK currently stable `const fn` can only use stable const features, so that wouldn't help for a stable `const fn zeroed`.

[2019-06-26 13:01] RalfJung commented on #42371
Note-mostly-to-self: the branch to make Miri check if this issue is resolved is at https://github.com/RalfJung/rust/tree/miri-storage-live.

[2019-06-26 13:12] RalfJung commented on #62138
@eddyb it would be nice to have some code that actually hits this incorrect overflow behavior, but I don't know enough about niches to massage the involved values into the right place. Could you help with that?

[2019-06-26 13:20] oli-obk commented on #62061
right, I mean just for working towards `&mut` stabilization. Babysteps

[2019-06-26 13:23] Centril commented on #62138
cc https://github.com/rust-lang/rust/issues/61696

[2019-06-26 13:23] oli-obk commented on #62137
I think there are some hacks about fallback behaviour on empty stacks

[2019-06-26 13:24] vi commented on #62149
How can one merge a Github **issue** (not a pull request)?

[2019-06-26 13:25] RalfJung commented on #60301
@Centril had an interesting idea: can't we do the "don't ship broken tools" as part of a post-processing step? We anyway do some little amount of work when a commit hits `master` (as opposed to `auto`), such as actually updating the toolstate repo. So maybe that could also either delete the broken components from the S3 bucket, or else generate a file to be put into the S3 bucket that says which o

[2019-06-26 13:26] Centril commented on #62061
Baby steps (a more principled approach) sound great. The upside is that we have more incentive to ship `&mut Type / place` which is more important anyways.

[2019-06-26 13:45] Centril commented on #62149
@vi The bot is just a bit daft and doesn't check whether it's an issue or PR :) You can replace "merge" with "accept" here.

[2019-06-26 13:52] scottmcm commented on #62149
Wow, thank you for the comprehensive summary!  I've only been following tangentially, but am completely confident you're on top of everything.

@rfcbot reviewed

[2019-06-26 13:58] faern commented on #57391
I don't think having to import something should be considered a pain point. I think we too often focus discussions like these too much on tiny example snippets. When in reality we should likely be designing the language so huge projects are as readable and understandable as possible. In a five line example an import can feel painful. But in a >100 LOC module an extra import is nothing.

I think `D

[2019-06-26 14:08] nikomatsakis commented on #60419
I tagged @michaelwoerister as they are on parental leave.

[2019-06-26 14:34] fintelia commented on #62117
@mati865 Could you clarify what you tried? The riscv64imac-unknown-none-elf and similar targets do work but do [have](https://github.com/rust-lang/rust/issues/59802) [some](https://github.com/rust-lang/rust/issues/60392) [issues](https://github.com/rust-lang/rust/issues/60391). They also rely on some relatively recent upstream commits, so I won't expect them to work with any system LLVM yet.

[2019-06-26 14:52] Ekleog commented on #62149
Could it be possible to explicitly add “Triage AsyncAwait-Unclear issues” to the stabilization blockers (and/or register a concern for that)?

I've got https://github.com/rust-lang/rust/issues/60414 that I think is important (obviously, it's my bug :p), and would like to at least have it explicitly deferred before stabilization :)

[2019-06-26 15:03] RalfJung commented on #52898
This is not accurate. `mem::zeroed` is always at least as correct as `mem::uninitialized`. It might be that both cases are UB (such as when using them to create a reference) and that the UB manifests in different ways in current versions of LLVM, but that is a detail of the optimization pipeline and can change any time.

`mem::zeroed::<&T>()` and `mem::uninitialized::<&T>()` are the same: both cau

[2019-06-26 15:12] RalfJung commented on #52898
The problem with this is how to define "operated on". The only consistent definition that we know so far includes "copy as part of a typed assignment" in "operated on" -- so the following program "operates on" a NULL reference, by storing it in `x`:
[code]

Why did we include that? Well, for example we *must* include passing a value as argument to a function in "operated on", because we tell LLVM

[2019-06-26 15:17] CAD97 commented on #62149
I'd just like to express the community thanks for the effort the Rust teams have put into this feature! There's been a lot of design, discussion, and a few breakdowns in communication, but at least I feel confident that through it all we've found the best solution possible for Rust. :tada:

(That said, I'd like to see a mention of the problems with bridging to completion-based and async-cancellati

[2019-06-26 15:32] mati865 commented on #62117
I added new target `riscv64gc-uknown-linux-gnu` and tried to cross compile for it but hit `LLVM ERROR: Unable to lowerGlobalAddress` during stage1. With static relocation model it went further to stage2 and failed at `libc`, will be on my TODO.

AFAK Debian has strict packaging policy and packages must use system libraries.

[2019-06-26 16:30] ehuss commented on #61693
I'm curious if it is necessary to set the assignee field at all.  If all the people are @ mentioned in the body, they should be sufficiently notified.   Does setting the assignee field have any benefits that I'm not aware of?  It seems like skipping all this would simplify it a lot.  These issues typically get fixed very quickly anyways.

[2019-06-26 17:02] newpavlov commented on #62149
I also would like to see a mention of problems with completion-based APIs. (see this [internals thread](https://internals.rust-lang.org/t/async-await-the-challenges-besides-syntax-cancellation/10287) for context) Considering IOCP and introduction of `io_uring`, which may become The Way for async IO on Linux, I think it's important to have a clear way forward for handling them. IIUC hypothetical as

[2019-06-26 17:30] cramertj commented on #61986
This is indeed fixed-- I've opened #62155 with a regression test.

[2019-06-26 17:42] seanmonstar commented on #57391
I wouldn't expect there to need to be a prelude because of this new trait (I'm in the preludes-are-bad camp). It can just be a trait import. I also think that since the trait would have the methods called on integers (and such), the fuller name is required to be clearer. Otherwise, what is `10.millis()`? It could mean milliseconds, but in other contexts, it could mean millimeters, or milliliters,

[2019-06-26 17:43] #62025 closed

[2019-06-26 17:43] cramertj commented on #62126
Fixed in https://github.com/rust-lang/rust/pull/61872

[2019-06-26 17:43] #62126 closed

[2019-06-26 17:44] cramertj commented on #62009
Closing as a duplicate of https://github.com/rust-lang/rust/issues/61685, both of which are fixed by #62152

[2019-06-26 17:44] #62009 closed

[2019-06-26 18:03] declanvk commented on #57391
@BurntSushi @faern @stepancheg  See https://github.com/rust-lang/rfcs/pull/2700 for similar discussions about associated constants.

[2019-06-26 18:29] cramertj commented on #62149
@newpavlov I've implemented similar things for Fuchsia, and it is entirely possible to do with out async drop. There are a few different routes to doing this, such as using resource pooling where acquiring a resource potentially has to wait for some cleanup work to finish on old resources. The current futures API can and has been used to solve these problems effectively in production systems.

How

[2019-06-26 18:32] cramertj commented on #62149
@Ekleog

Yup, that's something we've been doing every week. WRT that specific issue (#60414), I believe it's important and would love to see it fixed, but we haven't yet been able to decide whether or not it should block stabilization, especially since it's already observable in `-> impl Trait` functions.

[2019-06-26 18:51] fschutt opened #62159 "Error in stdout, position of error not correctly printed"
## Steps to reproduce

[code]

## Output

[code]

Source code for that line is [here](https://github.com/fschutt/webrender/blob/cac72f12f3091658ddd22e9c987c3aeb4d114d10/webrender/build.rs#L83). For some reason, the line count is off by a few lines, the actual error happens within the expansion of the `include_str!` macro on line 75:

[code]

My goal was to use a "template" file in the "./combined_

[2019-06-26 19:15] arielb1 commented on #57893
@RalfJung

I am not sure that giving up on coherence is the right choice here. I think it is too easy to split the code into functions, such that no one function sees the coherence violation:

[code]

[2019-06-26 19:20] Ekleog commented on #62149
@cramertj Thank you! I think #60414 's issue is basically “the error can arise really quickly now”, while with `-> impl Trait` it looks like no one had even noticed it before -- then it's alright if it gets deferred anyway, some issues will have to :) (FWIW it arose in natural code in a function where I return both `()` at a place and `T::Assoc` at another, which IIRC made me unable to get it to c

[2019-06-26 19:23] arielb1 commented on #57893
I think that conditioning object safety on an object type being coherent is a reasonable-enough way out of this.

If we want to be tricky, we might put the condition "directly" on the impl - i.e., have `ObjectCandidate` not apply if an `ImplCandidate` might "theoretically" apply to any substitution of this type. This would however require doing coherence-style negative reasoning during selection,

[2019-06-26 19:34] cramertj commented on #62149
@Ekleog Yeah that makes sense! I can definitely see why it'd be a pain-- I've created [a zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/Missing.20normalization.20for.20associated.20types.20.2360414) to dive more into that specific issue.

[2019-06-26 19:34] RalfJung commented on #57893
@arielb1 your `iso_2` exploits coherence, so "giving up on exploiting coherence" would not let that function type-check.

[2019-06-26 19:37] arielb1 commented on #57893
@RalfJung what's the specific way that makes `iso_2` exploit coherence?

The wrong derivation that it makes is `<X as Object<U>>::Output = V :- U: Mark<Output=V>`. I don't think we want to avoid making that sort of derivation "unconditionally".

[2019-06-26 19:46] arielb1 commented on #57893
It seems like a basic rule of Rust that we want to keep that it is possible to follow impls. e.g., with `IntoIterator`, you really want typeck to be able to assume that `<T as IntoIterator>::Item = U := T: Iterator, <T as Iterator>::Item = U`.

[2019-06-26 19:49] theduke commented on #62149
I know there is pressure to get this into `1.37`, and everyone would like to have it in stable ASAP - me included.

But from an observers point of view, the implementation seems fairly immature. Considering things like the easy to trigger ICE that was [just fixed](https://github.com/rust-lang/rust/pull/61872), the remaining implementation work, the in-progress refactor of major libraries like toki

[2019-06-26 20:01] newpavlov commented on #62149
@cramertj

Aren't they less efficient compared to keeping buffers in a future state? My main concern is that current design will not be a zero-cost (in a sense that you will be able create a more efficient code by dropping `async` abstraction) on completion-based APIs, and there is no clear way for fixing it. It's not a show-stopper by any means, but I think it's important to not forget about such

[2019-06-26 20:04] huxi commented on #62149
@theduke

This issue targets 1.38, see first line of description.

[2019-06-26 20:06] theduke commented on #62149
@huxi thanks, I missed that.

[2019-06-26 20:18] cramertj commented on #62149
@newpavlov

No, not necessarily, but let's move this discussion to an issue on a separate thread, since it's unrelated to the stabilization of async/await.

[2019-06-26 20:30] popovdenys commented on #10184
"Oh, that's easy enough then."
 - @pcwalton, 2014

Sorry, I've read very carefully all this 6-year history of good intentions. But, seriously, 6 long years out of 10!!! Had it been a politician forum one would have anticipated some blazing sabotage around here.

So, please, can anybody explain, in simple words, what does it make the process of looking for a solution more interesting than the solut

[2019-06-26 20:37] Manishearth commented on #10184
Because it's harder than it seemed initially and needs LLVM changes.

[2019-06-26 20:42] jonas-schievink commented on #61577
Ran into the same problem while investigating https://github.com/rust-lang/rust/issues/60414#issuecomment-488021357, very annoying indeed!

[2019-06-26 20:54] popovdenys commented on #10184
Ok, but it was not God who has made this LLVM on his second week, and moving in the same direction it might take another 15 years to resolve this fundamental problem.

Really, I have no attention to hurt somebody, and I'm new to Rust infrastructure to help suddenly but when I've learned about this case I was just stunned.

[2019-06-26 20:59] RalfJung commented on #57893
That is exactly what I mean by "exploiting coherence": seeing an impl that applies and relying on the fact it is the only one that can ever apply.

[2019-06-26 21:17] RalfJung commented on #10184
This issue tracker is for discussing how to solve this problem, and stating the obvious makes no progress in that direction. So if you want to help solve the problem or have some new information to contribute, please do, but otherwise your comments are not going to magically make the fix appear. :)

[2019-06-26 21:45] CAD97 commented on #62146
Interestingly, tests on the bad commit pass on windows-gnu and fails to link on windows-msvc.

<details><summary>windows-msvc</summary>

[code]
</details><details><summary>windows-gnu</summary>

[code]

[2019-06-26 21:45] ehuss commented on #60015
I still can't load https://github.com/rust-lang/rust/blame/master/src/libsyntax/parse/parser.rs

[2019-06-26 21:56] jonas-schievink commented on #60414
I have a local fix for @cramertj's reduction above, but https://github.com/rust-lang/rust/issues/61577 is making this rather difficult as it makes `debug!` output not work properly.

[2019-06-26 22:07] estebank commented on #60015
Weird, when I did it a week ago it loaded fine.

[2019-06-26 22:10] IGBC commented on #10184
I think the assumption that this requires changes in LLVM is premature.

I think we can do it in the language with mimimal performance cost. Would it be a breaking change **** yea but it could be done.

My go to solution would be to define float to int casts as `unsafe` then provide some helper functions in the, standard lib to provide results bound in `Result` Types.

It's an unsexy fix and it's

[2019-06-26 22:31] ehuss commented on #60015
It's a bit random.  In the past, sometimes after getting the unicorn, hitting reload it would pop up immediately.  Presumably there's some caching going on where subsequent requests finish within the time limit.  In fact, I just now got it to load after reloading a few times. 😆

[2019-06-26 22:43] joshtriplett commented on #61992
Replacements for the whole range of functions seem like overkill; it'd suffice to have some way to call `wait4` on a child (returning an rusage and a status) and then separately obtain the output if desired and captured.

[2019-06-26 23:01] popovdenys commented on #10184
Thank you, @RalfJung, to make me understand it. I had no intention to insult anybody or scornfully intervene in the productive brainstorming process. Being new in rust, it is true, there is not so much I can do. Nevertheless, it helps me and maybe others, who try to enter into rust, learn more about its unsolved flaws and make the relevant output: is it worth to dig deeper or it is better to choos

[2019-06-26 23:24] lineaar commented on #62135
- In regards to reading from `p`, I expected it to not compile since `s` moved out and `p` points to `s`.
- In the case where you would remove the two for loops, I expected the code to run successfully under `miri`.
- Using `#[repr(packed)]` or `#[repr(C,packed)]`, I expected to have warnings regarding unused fields in both cases.

[2019-06-26 23:51] jonas-schievink commented on #62135
`p` is a raw pointer, which aren't checked like references are. Check the book for more info: https://doc.rust-lang.org/book/ch19-01-unsafe-rust.html#dereferencing-a-raw-pointer

This might be intentional since the struct will likely be used for FFI, but could also be a bug.

[2019-06-27 00:32] Gankro commented on #10184
As noted earlier in the thread, this is slowly but surely being fixed the Right Way by fixing llvm to support the necessary semantics, as the relevant teams have long ago agreed.

https://reviews.llvm.org/D54749

[2019-06-27 01:16] lineaar commented on #62135
Thank you for pointing that out.

Would you recommend to keep the issue open if that is the case?

[2019-06-27 02:58] kennytm commented on #61693
Assignees can reach the issues again from https://github.com/issues/assigned, but for mentions it will be gone once the notification is read.

[2019-06-27 03:47] goffrie opened #62165 "incorrect "cannot assign twice to immutable variable `_`" with try_blocks + never_type + nll"
The [following program](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7c34163d36f42793a76416aad591f31e):
[code]

now produces the following error, as of 2019-06-27:
[code]

(note that the playground link currently compiles; I think it's on an older nightly?)

From bisection, this appears to be a regression from #61872 (cc @matthewjasper).

Oddly, removing `#![feature(nev

[2019-06-27 05:38] little-dude commented on #62130
Yeah this is the same bug.

[2019-06-27 06:29] #61674 closed

[2019-06-27 06:40] brainstorm opened #62167 "Nightly Rust hangs forever with a simple 2-line dotenv_codegen and println!"
The offending code is just a dotenv macro inside a `println!` macro:

[code]

Just clone the following repository and run `cargo build`:

https://github.com/brainstorm/dotenv-codegen-rustc-hang

Stays on `Building` forever:

[code]

## Meta

[code]

[2019-06-27 07:44] pnkfelix commented on #62059
cc #61960, which tracks the instances where #60444 has hit an overflow during recursive trait constraint resolution.

(Also, I am assuming that this issue  (#62059) is *not* resolved by PR #61754, but it would be good to double-check that assumption.)

[2019-06-27 08:16] leonardo-m commented on #62111
abs_difference ?

[2019-06-27 08:25] landaire commented on #31844
Am I programming too late tonight, or should this not cause a stack overflow?

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=667a220beb46e20b5e642b472cdc9e18)

[2019-06-27 08:35] SimonSapin commented on #62059
Servo hit this issue in rustc 1.37.0-nightly (929b48ec9 2019-06-21), see https://github.com/rust-lang/rust/issues/62132. This version does include https://github.com/rust-lang/rust/pull/61754, so https://github.com/rust-lang/rust/pull/61754 is not a sufficient fix.

[2019-06-27 08:54] HadrienG2 commented on #31844
Coarse-grained `default impl` blocks have always been doing very weird things for me, I would suggest trying the more recent `default fn` fine-grained specialization instead.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=796b578ea50c06e98887333bc75b4a06)

[2019-06-27 09:02] pnkfelix opened #62170 "match guard is lengthening borrow unexpectedly under NLL"
Spawned off of  #60914, namely the [regression][cs_review regression] of the [cs_review crate][]

[cs_review regression]: https://crater-reports.s3.amazonaws.com/pr-60914/try%23f45cc3094ee337acd688771b9234318046b0572d/gh/198d.cs_review/log.txt
[cs_review crate]: https://github.com/198d/cs_review

I was looking for examples of soundness issues fixed by NLL for a blog post that I'm working on, and t

[2019-06-27 09:03] pnkfelix commented on #62170
cc #60680

[2019-06-27 09:32] pnkfelix commented on #51117
Since this was fixed on AST-borrowck by #51235, removing NLL-fixed-by-NLL.

[2019-06-27 10:59] nagisa commented on #62059
@SimonSapin I will probably just revert the patch to rustdoc if there is no other option than annotating crates with an attribute. rustdoc’s case is special in that it infects dependent crates much more easily and having such an attribute in a large number of crates is not a tenable solution.

Ideally rustc/rustdoc would work for arbitrarily deep types, but I can see raising the default limit as a

[2019-06-27 11:04] nagisa commented on #62059
@pnkfelix at this point I doubt either of #60444 or #61754 are very related as the type-stack here seems to be very linear.

---

Nominating for a short section of time in the meeting to discuss the best way to proceed here. The non-involved solutions I know at the moment are:

* Increase the default recursion limit;
* Revert the rustdoc PR https://github.com/rust-lang/rust/pull/60293 which change

[2019-06-27 11:29] RalfJung opened #62174 "Incorrect unused lifetime warning after import failure"
When building [this commit](https://github.com/RalfJung/rust/commit/9b317bad57f48cf18a921e0655ab05e59fc19c4d) with `./x.py build --stage 0 src/librustc_mir`, I get the following output:
[code]
The first two are expected, that's a mistake I made. The last one is wrong though, `'mir` is used:
[code]
The thing is, it gets used as argument to `CompileTimeEvalContext`, which is defined in one of those

[2019-06-27 11:30] Centril commented on #62111
What do you think about adding:
[code]
instead of doing it on just the unsigned integer types?

[2019-06-27 11:32] AljoschaMeyer opened #62175 "Deterministic int to float conversion"
[Casting](https://doc.rust-lang.org/reference/expressions/operator-expr.html#semantics) from an integer type to a floating point type leaves the rounding behavior explicitly unspecified. Is there (or are there plans for) some way of deterministically turning an int into a float regardless of the target architecture? I really don't want `9007199254740993u64 as f64` to be converted to `9007199254740

[2019-06-27 11:34] Centril commented on #57893
[We are also discussing this on Zulip.](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2357893.20coherence.20and.20traits/near/169073560)

[2019-06-27 11:37] jonas-schievink commented on #62175
This might just be a bug in the reference. rustc probably just emits `uitofp`, which uses the default rounding mode. In fact, LLVM *only* supports the default rounding mode AFAIK (which is "round to nearest, ties to even").

[2019-06-27 11:39] Centril commented on #62175
Some discussion in https://github.com/rust-lang-nursery/reference/pull/607.

[2019-06-27 12:34] thedrow commented on #59302
#61328 also seems important.

[2019-06-27 13:12] mati865 commented on #59302
I don't see how #61328 relates to this, there is no issue when using `target-feature=-crt-static`.
It applies to musl toolchain in general but it has nothing to do with using musl toolchain natively.

[2019-06-27 13:26] pnkfelix commented on #59535
pre-triage: P-high

[2019-06-27 13:29] Centril commented on #62127
cc @petrochenkov

[2019-06-27 13:31] pnkfelix commented on #61711
pre-triage: P-high, removing nomination tag. assigning to self for initial investigation.

[2019-06-27 13:32] oli-obk commented on #62167
unnominating, I'm guessing it's a `dotenv` problem and not a rustc problem. The compilation probably hangs forever because the `dotenv` proc macro blocks or goes into an infinite loop

[2019-06-27 13:34] jonas-schievink commented on #62167
What's `AWS_ATHENA_DB` set to when building?

[2019-06-27 13:34] pnkfelix commented on #61759
pre-triage: P-high, unnominating, assigning to self.

[2019-06-27 13:38] pnkfelix commented on #61888
pre-triage: removing T-compiler under assumption that this is the lang teams issue, not compiler's.

[2019-06-27 13:40] pnkfelix commented on #62048
pre-triage: P-medium. removing nomination.

@petrochenkov : do you want to be assigned to this? Or are you just sending out a general alert, but do not plan to fix it?

[2019-06-27 13:42] withoutboats commented on #62149
I agree with Taylor that discussing API designs in this problem space would be off topic, but I do want to address one specific aspect of these comments (and this discussion around io_uring in general) that is relevant to async/await stabilization: the problem of timing.

io_uring is an interface that is coming to Linux *this year*, 2019. The Rust project has been working on the futures abstractio

[2019-06-27 13:42] petrochenkov commented on #62127
Built-in attribute `#[x]` will conflict with any other attribute named `x` in scope due to [issues](https://github.com/rust-lang/rust/pull/53913#issuecomment-418204136) that are hard to fix.
This rule was in effect since macro modularization and stabilization of attribute macros.

So, the regression here is that something injects a use of built-in attribute `#[main]` where it wasn't used previousl

[2019-06-27 13:42] pnkfelix commented on #62059
pre-triage: P-high. Leaving nominated in hopes we discuss it today. Leaving unassigned to reflect reality that I don't think I can take this on myself. (But maybe @nagisa can take point on ensuring this gets resolved in short order...?)

[2019-06-27 13:51] pnkfelix commented on #61696
triage: assigning to @eddyb

[2019-06-27 13:52] petrochenkov commented on #62048
@pnkfelix
I can make a PR for crater once https://github.com/rust-lang/rust/pull/62042 lands.

[2019-06-27 13:53] jonas-schievink commented on #62130
Okay, closing in favor of #61732 then. Thanks for the report @ezequielventura!

[2019-06-27 13:56] eddyb commented on #61696
I was going to argue that the bug is older, but 1.23 was early 2018, and the bug was introduced late 2017, as the code in question has been wrong in the same way since #45225.
So yeah, a 2-year-old `regression-from-stable-to-stable` codegen bug.

[2019-06-27 13:58] eddyb commented on #62138
@RalfJung You would start by using a small type, such as `u8` or `i8`, to make it easier to work with.
`variants_start` tends to be `0` or `1` anyway, so the value you want to control is `niche_start`.

Let's say you'll use `Option<Enum>`: you need `Enum` to have some invalid values, which when subtracted from a small `u128`, result in a very large `u128`.

Come to think of it, wouldn't even `None

[2019-06-27 14:13] pnkfelix commented on #62059
discussed at compiler team meeting. @eddyb raised the idea that `rustdoc` could just silently ignore the cases where we hit the existing limit, and treat them as unimplemented traits.

In any case, based on assumption that this is indeed a stable-to-nightly regression, I think we have a little bit of breathing room to figure out how we want to address this long term.

Assigning to @nagisa to take

[2019-06-27 14:19] pnkfelix commented on #61696
noted that issue appears under control at T-compiler meeting, and deliberately skipped discussion of it. Removing nomination label.

[2019-06-27 14:28] pnkfelix commented on #61631
Discussed at T-compiler meeting. Sounds pretty thorny.

@eddyb put forward the idea that we might at least try to emit *warnings* for these cases even if we cannot reliably do hard errors for them.

In any case, needs further investigation before we'd commit to saying that we do not need to do it at the definition site.

Assigning to @eddyb and myself. But also Cc'ing @nikomatsakis in the hopes th

[2019-06-27 14:35] pnkfelix commented on #59535
discussed at T-compiler meeting. Tentatively assigning to @Zoxc for initial investigation.

@Zoxc, if you do not expect to be able to do much investigation, let me know (and unassign yourself)

[2019-06-27 14:58] scottmcm commented on #55422
Anything that needs to be resolved for this to stabilize, libs?  Someone on discord was just using `mem::replace(x, mem::uninitialized())` (😭) where hopefully they would have just used this if it were stable.

[2019-06-27 14:59] oli-obk commented on #60363
Is this issue still occurring? https://github.com/rust-lang/rust/blob/a6b5d229c1ddd7659af82109377aa8a3568f68a1/src/librustc_mir/monomorphize/collector.rs#L1205 looks to me like we papered over the issue

[2019-06-27 14:59] tpwrules opened #62184 "Rustdoc incorrectly warns about crate-level attributes"
If I attempt to `cargo doc` a binary crate that has a crate-level attribute, e.g. `#![no_main]`, then rustdoc will warn (or fail if warnings are denied) that the attribute should be in the root module.

[code]

Of course, removing the attribute causes the code to fail to build:

[code]

So I have to make sure to add or remove the attribute depending on whether I want to build or document the crate

[2019-06-27 15:05] RalfJung commented on #55422
The corresponding (unstable) method on `MaybeUninit` is (currently) called "read", because the safety concerns are a lot like the ones of `ptr::read`. Would the same make sense here as well?

[2019-06-27 15:15] DoumanAsh commented on #62127
I wasn't aware, but is there `main` attribute which used by compiler already?

[2019-06-27 15:32] petrochenkov commented on #62127
@DoumanAsh

Yes, it turns an arbitrary function into `main`.
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e53c20462ac85fb770709af2551bde4f

[2019-06-27 15:34] DoumanAsh commented on #62127
@petrochenkov So does the issue boils down to resolution of attribute then?
Or should any usage of builtin attribute fail regardless of used path to access it

[2019-06-27 15:35] pnkfelix commented on #21906
(we should have removed E-needstest when we removed NLL-fixed-by-NLL)

[2019-06-27 15:39] petrochenkov commented on #62127
@DoumanAsh
Only single-segment paths are ambiguous, an attribute macro named `main` can still be used if it's referred to by a module-relative path or renamed.
[code]

[2019-06-27 15:44] DoumanAsh commented on #62127
Ah but in my doctest it was `#[tokio_macros::main]` and it fails?
So I assume by `Ok` you mean how it is supposed to be?

[2019-06-27 15:46] pnkfelix opened #62185 "Self::call constrains lifetime covariance and/or inference unexpectedly under NLL"
Spawned off of #60914, namely the [regression][vc regression] of the version-compare crate

[vc regression]: https://crater-reports.s3.amazonaws.com/pr-60914/try%23f45cc3094ee337acd688771b9234318046b0572d/gh/timvisee.version-compare/log.txt

Look at this ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fd8854c0740e05659404819920bd0474)):

[code]

we get an NLL migrat

[2019-06-27 15:47] pnkfelix commented on #62185
cc #60680

[2019-06-27 15:47] SimonSapin commented on #55422
This sounds reasonable. In fact both methods are implemented based on `ptr::read`. We can repeat it again in the docs:

@rust-lang/libs, what do you think?

[2019-06-27 15:49] petrochenkov commented on #62127
I suspect that `#[tokio_macros::main]` is irrelevant and the ambiguous `#[main]` is generated by the test harness, so this minimized example should also fail:
[code]

[2019-06-27 16:04] eddyb commented on #61631
To be clear, I was thinking of backwards-compatibility concerns, that would imply we might never be able to make something into a proper hard error, *even if* we have a reliable way to detect it.
<hr/>

But I missed the fact that this is specifically about `Self` in a default of a type parameter.

So here's what I think of `Self` in type parameter default:
We have logic in the compiler to forbid a

[2019-06-27 16:04] Zoxc commented on #59535
Is this specific to the thumbv7em-none-eabi target?

[2019-06-27 16:11] dtolnay commented on #59535
Not specific to thumbv7em-none-eabi. I believe #61917 was building for x86_64-unknown-linux (@jsgf can confirm) but was more complicated to minimize.

[2019-06-27 16:30] seanmonstar commented on #55105
So should that be automatically assumed this target? I'd prefer to remove the hack from hyper.

[2019-06-27 16:30] is8ac opened #62187 "Const generics: internal compiler error: collection encountered polymorphic constant"
## Source:
[code]

## Panic:
[code]

## Meta
[code]

[2019-06-27 17:11] estebank commented on #62175
Further discussion in https://internals.rust-lang.org/t/tryfrom-for-f64/9793/29

[2019-06-27 17:20] mati865 commented on #55105
IIUC hyper didn't build because of user error (using `neon` cpu feature with only 16 registers) so workaround shouldn't be necessary.
The question remains whether Rust should act on it (like printing warning or enabling more registers).

[2019-06-27 17:22] lukaslueg commented on #62167
librustc_driver hangs while joining on a thread stuck as

[code]

[2019-06-27 18:21] RalfJung commented on #62138
Nice, thanks @eddyb <3

Now we got a test case for this issue. :)

[2019-06-27 18:30] jdm opened #62188 "Conditional features should be made clear in generated docs"
I spent a bunch of time looking at https://docs.rs/winapi/0.3.7/x86_64-pc-windows-msvc/winapi/um/fileapi/struct.BY_HANDLE_FILE_INFORMATION.html, seeing that there was a Default implementation for the type, and then hitting errors when trying to call BY_HANDLE_FILE_INFORMATION::default() in code that was using winapi 0.3.7. Eventually I clicked on https://docs.rs/winapi/0.3.7/x86_64-pc-windows-msvc

[2019-06-27 18:44] jonas-schievink commented on #60414
This also happens for `existential type` definitions:

[code]

[code]

My fix only seems to turn this into a cycle error for some reason.

[2019-06-27 19:11] landaire commented on #31844
@HadrienG2 I actually have always used `default fn` in this project but this time I forgot the `default` keyword and the compiler suggested to add it to the `impl`. Hadn't seen the stack recursion issue before and wasn't sure if it was expected at this stage. Thanks for the suggestion, `default fn` works fine.

[2019-06-27 19:37] chabapok opened #62189 "Static cyclic references not compiled in current nightly rust version"
Let's tying to compile this code.This code compiled ok on stable and on nightly-2019-06-17 (for example at rust play site)

[code]

But in current  rustc 1.37.0-nightly (d3e2cec29 2019-06-26) compilation fails with message:

[code]

[2019-06-27 19:40] dtolnay commented on #59535
Not specific to thumbv7em-none-eabi. @jsgf told me #61917 happened when building for x86_64-unknown-linux-gnu. We don't yet have a reliable repro on x86 ("build this commit followed by this commit") and the project in #61917 is not using Cargo so minimizing from there may be more complicated.

[2019-06-27 19:48] maplant commented on #61956
This should be aloud. My experimental const generic crate [aljabar](https://github.com/maplant/aljabar) is blocked by this issue and currently has to rely on `mem::uninitialized` to move out of arrays with const generic params.

What is especially annoying about this is that `size_of`, a const function, is totally valid for arrays with const generic params. So the compiler has the ability to deter

[2019-06-27 20:17] TomerZeitune opened #62190 "std::define! macro, consistansy with std::include!"
I would like to suggest adding a macro for #define.
Rust already has a way to basically copy paste data into your file like #include , the `include! `macro.

I know Rust does not have a dumb preprocessor like C/C++. But I think adding a `define!` macro will make the standard lib more consistent since Rust already has an `include!` macro.

This macro will function just like #define in C.

Sometimes

[2019-06-27 20:22] jonas-schievink commented on #62190
A new feature like this would need to go through our [RFC process](https://github.com/rust-lang/rfcs), so closing in favor of that. You can also open a pre-RFC discussion on our internals forum at https://internals.rust-lang.org/

[2019-06-27 20:22] #62190 closed

[2019-06-27 20:26] pnkfelix commented on #46557
since this was fixed for AST borrow-check, it no longer should have the NLL-fixed-by-NLL label.

[2019-06-27 21:22] HadrienG2 commented on #61956
Note that as was figured out by @DutchGhost, the error message for arrays is actually a misleading red herring. Even a plain identity transmute from T to T doesn't work.

[code]

[2019-06-27 21:34] RalfJung commented on #61956
`transmute_copy` is another thing you can use when the size check is in your way. Use with caution though, that beast is even more dangerous than `transmute`...

[2019-06-27 21:37] matthewjasper commented on #62165
Minimised:

[code]

[2019-06-27 21:54] maplant commented on #61956
@HadrienG2 right, as another person pointed out to me pointers can easily transmute between arrays. Thanks for the help.

[2019-06-27 22:14] brainstorm commented on #62167
@jonas-schievink The `AWS_ATHENA_DB` is just "foo", from `.env` file:

https://github.com/brainstorm/dotenv-codegen-rustc-hang/blob/master/.env

[2019-06-27 22:55] nagisa opened #62194 "Coherence hint wrong for a blanked implementation bounded by a private trait"
Given code like this:

[code]

the diagnostic will read as such:

[code]

the last note here is incorrect because the only thing that can implement this trait is the crate which declared the private `Private` trait.

[2019-06-27 22:59] alexreg commented on #61631
Well that's the whole point, surely? `Self` *is* the implicit first parameter, so its usage should be banned in this example per the rule "forbid a default using an earlier parameter".

[2019-06-27 23:10] cramertj opened #62195 "Tracking issue for `Vec::leak`"
Similar to `Box::leak`, this function would allow leaking a `Vec` and getting back an `&'a mut [T]`.

[2019-06-27 23:26] jonas-schievink commented on #62195
Implementation in https://github.com/rust-lang/rust/pull/62196

[2019-06-28 00:20] norcalli commented on #31436
I read through the comments a little while ago (and loading 300 comments again on github is way too tedious), but I do recall that most (if not all) of the examples regarding the debate around `Try::Ok` wrapping used `Ok` in the example. Considering `Option` implements `Try` as well, I would like to know how that impacts the team's position on which side of the debate to be on.

Every time I use R

[2019-06-28 00:31] estebank commented on #45600
@rust-lang/lang can you confirm wether relying on the MIR borrowck instead of checking binding modes in patterns ("cannot bind by-move and by-ref in the same pattern") without an RFC?

[2019-06-28 01:07] wesleywiser commented on #62189
Bisected to:

- `nightly-2019-06-19` Ok
- `nightly-2019-06-20` Fail

04a3dd8a8...2fe7b3383

[2019-06-28 01:14] CAD97 commented on #55422
Documentation is updated and rename is done in #62198. I've also finally updated the OP with the proper details. I can roll stabilization into #62198 if desired, or it can be done separately of course.

[2019-06-28 01:26] cuviper commented on #62189
I bisected to #58351, which is also part of the range @wesleywiser identified. I get build failures when I try to bisect further into the commits of that PR. cc @oli-obk @RalfJung

[2019-06-28 03:51] norcalli commented on #31436
I re-read comments, and recalled the opposition being partly related to the association with exceptions. I would say that the token `try` may not the best named in that regard, but I don't think that describing what `Try` actually does is very easy. Perhaps confusing it with exceptions is unfortunate, but naming things is hard.

As an example, yesterday, I found myself wanting the opposite of a `t

[2019-06-28 04:59] DoumanAsh commented on #62127
Yes, you are right, it seems the problem is with using `main` as name of attribute to define rather than with doc test itself

[2019-06-28 05:46] SeeSpring opened #62200 "Internal compiler error anonymous bound region BrAnon(0) in binding but not trait ref"
The following code causes an error

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e175d6557baecbf033a125d9276bd385))

Errors:

[code]

[2019-06-28 05:46] SeeSpring opened #62201 "HRTB prevent mem::transmute and mem::MaybeUninit from working"
The following code prevents `mem::MaybeUninit` and `mem::transmute` from creating values.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1a2fc7bec9aa84a18b9ab59a1d18167a))

Errors:

[code]
The code works fine without any unsafe if I remove all lifetimes from it.
[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2019-06-28 06:13] lastmjs opened #62202 "Self-hosting rustc, compile to Wasm"
It would be amazing if rustc could self-host and compile itself to Wasm. This would make it possible and very simple to use rustc in the browser, in Node.js, and anywhere else there is a Wasm VM. Hopefully the benefits of this are obvious, greatly simplifying the Rust toolchain and setup.

[2019-06-28 06:37] oli-obk commented on #62189
Hmm curious, we do have tests for such situations. I'll investigate, but it'll drop into beta today. It's probably an easy fix

[2019-06-28 06:39] RalfJung commented on #62189
Today? Beta cutoff is on Tuesday.

[2019-06-28 06:42] oli-obk commented on #62189
Not this time I believe

[2019-06-28 07:59] memoryruins commented on #62202
Some progress was made in https://github.com/rust-lang/miri/issues/722

[2019-06-28 08:04] SeeSpring opened #62203 "ICE on HRTB"
The following code results in an ICE on stable, beta, and nightly
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=39c45aaf72f37dcb1052e4537b96ba36))

Errors:

[code]

[2019-06-28 08:42] Centril commented on #62200
Reduced:
[code]

[2019-06-28 08:52] Centril commented on #45600
So this is just for https://doc.rust-lang.org/error-index.html#E0009 as discussed in @matthewjasper's report? in https://github.com/rust-lang/rust/issues/15287#issuecomment-489308359?

[2019-06-28 09:59] lqd commented on #62107
Bisected this one to `nightly-2019-05-24` and 85334c50921a1c90707c9d0fb344c63bd373e1b8, that is, PR #60174. cc @matthewjasper

[2019-06-28 10:37] lqd commented on #61759
Bisected to `nightly-2019-04-06`, acd8dd6a50d505057a7d7ad8d0d7a4c2bd274200, which is indeed PR #59500.

[2019-06-28 10:41] psumbera commented on #62001
I have verified that exactly the same noise can be seen with LLVM bundled with Rust (without using --enable-llvm-link-shared --llvm-root=/usr).

[2019-06-28 12:00] pnkfelix commented on #61759
During the T-compiler pre-meeting triage yesterday, @Centril  said that if this is an injection from #59500, and it is expected fallout from that. @lqd has confirmed this.

In addition to using `as_ref` to force the compiler to choose the appropriate method implementation, you can also explicitly deref: `(**self).clone_boxed()` or write out the specific implementing types via Universal Function Ca

[2019-06-28 12:00] #61759 closed

[2019-06-28 12:03] gnzlbg commented on #54341
@centril @eddyb this should be I-unsound.

[2019-06-28 12:07] Mark-Simulacrum commented on #62202
I don't think we need an issue to track this. If someone is interested, PRs are probably the best way to move this forward; discussion can happen on internals.

[2019-06-28 12:07] #62202 closed

[2019-06-28 12:10] pnkfelix commented on #45510
This does appear to be fixed by #55986. Closing as fixed.

[2019-06-28 12:12] RalfJung commented on #54341
Why that? Rust itself is sound. The types are not FFI-safe, but FFI needs unsafe code.

[2019-06-28 12:20] gnzlbg commented on #54341
Using `i128` and `u128` on FFI is sound. It currently isn't due to a bug on our end, therefore, this is IMO a soundness bug.

[2019-06-28 12:40] nagisa commented on #54341
This can be generalized for any `T`. The complications arise with getting layout right on both sides of the FFI (more specifically it is *sound* to use `repr(Rust)` type as long as you manage to get layout of `T` right on the other side). Since only a few targets have a defined layout for 128-bit integer types and many don’t even have an implementation defined behaviour, it makes perfect sense to

[2019-06-28 12:47] #62130 closed

[2019-06-28 13:11] gnzlbg commented on #54341
AFAIK all 64-bit targets except for MSVC have a defined `__int128`. That's a lot of targets.

That means that the layout of these types is unspecified, which prevents users from using `i128` to interface with C, requiring us to add a `libc::__int128` on those platforms that's incompatible with the Rust type, and requiring users to use that in C FFI.

What's the rationale for not providing a layout

[2019-06-28 13:12] gnzlbg commented on #54341
For all other integer types, we match the C layout of the platform, when the platform has the integer type (the `stdint.h` header is optional, so not all platforms necessarily have it).

[2019-06-28 13:35] Recognition2 opened #62206 "Float equality checking does not issue warning"
When checking  two floats for equality, the Rust compiler does not issue a warning. This is unexpected behaviour, because it is rarely necessary (nor intended behaviour) to bitwise equality-check 2 floating point numbers.

For instance, when running the following code
[code]
This will print: `Is a equal to b? >false`.
Mathematically, we expect this to be true, since zero is equal to zero.
However

[2019-06-28 13:45] jonas-schievink commented on #62206
Clippy has such a lint: https://rust-lang.github.io/rust-clippy/master/index.html#float_cmp

Closing in favor of that.

[2019-06-28 13:45] #62206 closed

[2019-06-28 13:48] #45510 closed

[2019-06-28 14:08] RalfJung commented on #54341
Nobody argued that we should have a different layout. I agree using a different layout is a bug. I just don't agree it's a soundness bug.

`u128`/`i128` are not FFI-safe when they should be. That's a bug. We also don't *claim* that they are FFI safe, so it's not a soundness bug.

Ultimately where to draw the line for soundness bugs can be arbitrary though.

[2019-06-28 14:12] wesleywiser commented on #62189
Beta cutoff is 2019-06-29 https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/stable.20release/near/168974542

[2019-06-28 14:21] jonhoo opened #62208 "Inclusive version of take_while"
`Iterator::take_while` stops _before_ the first element where the condition evaluates to `false`. That is the correct behavior given its name, but it makes it difficult to write an iterator that should include the boundary element. In particular consider something like iterating over a [histogram](https://docs.rs/hdrhistogram/), trimming off the tails:

[code]

This may seem right, but consider an

[2019-06-28 14:32] iago-lito commented on #42838
Is it also a good place to gather resources explaining *why* it is the case that macros don't backtrack?
I'm not particularly in need of bactracking, but I'm curious why this (no-)feature. I guess it's a limitation due to compiler optimization? Or maybe there are deeper theoretical problems with backtracking?

[2019-06-28 15:09] QuietMisdreavus opened #62210 "Tracking issue for `cfg(doctest)`"
This feature allows you to restrict items to only be compiled when rustdoc is collecting doctests. This allows you to isolate certain doctests that will be tested, but not shown in documentation - for example, if you need to use `compile_fail`, or if you're testing the samples in your README file. I'm still putting the PR that adds this feature in - i will update this issue description when it is

[2019-06-28 15:31] mati865 commented on #58184
What is the status on this?
There was no voting activity since 18 April.

[2019-06-28 15:45] DutchGhost opened #62211 "Default associated types are not typechecked, and can cause UB"
Due to associated defaults not being type checked whether they indeed implement all traits specified by the associated type, you can create a program in safe Rust that will segfault:

[code]

Playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=395dbcdd4da0d0b66de9fcda6e1deb13

[2019-06-28 15:47] SimonSapin commented on #58184
As far as I know the status has not significantly changed since my summary it https://github.com/rust-lang/rust/issues/57012#issuecomment-467889706.

[2019-06-28 16:12] DutchGhost commented on #62211
Also, if we call `bug(())`, we get an ICE:

<details>
<summary>Backtrace:</summary>

[code]
</summery>

[2019-06-28 16:13] Centril commented on #62211
cc @jonas-schievink @nikomatsakis

This should be fixed by https://github.com/rust-lang/rust/pull/61812.

[2019-06-28 16:25] jonas-schievink commented on #62211
Assigning myself to add tests to #61812

[2019-06-28 16:27] Centril opened #62214 "Split the `async_await` feature gate for the subset we want to stabilize"
Move out anything we don't want to stabilize in the report https://github.com/rust-lang/rust/issues/62149 to a separate feature gate. This includes:

1. `async || ...` closures; Move this to `async_closures`. Tests should also be appropriately split to not mention `async_closures` in the subset we intend to stabilize.

[2019-06-28 17:35] #61272 closed

[2019-06-28 17:35] #28796 closed

[2019-06-28 17:35] #61685 closed

[2019-06-28 17:35] #61986 closed

[2019-06-28 17:53] Lonami commented on #62208
How about a `take_until`?
[code]

[2019-06-28 17:55] jaybutera opened #62217 "Unable to emit llvm-bc when CARGO_INCREMENTAL is set"
When building with the rustc argument to emit an llvm bc file
```cargo rustc -v -- --emit llvm-bc```

Cargo builds successfully but prints the warning
```warning: ignoring emit path because multiple .bc files were produced```

Doing a recursive search for all *.bc files from root, I can see that the bc file I'm wanting was not generated, but there are a lot of bc files in ```./target/debug/increme

[2019-06-28 17:58] ehuss commented on #62217
Thanks for the report.  This sounds like a rustc issue, so I have transferred this to rust-lang/rust.

This seems suspiciously similar to #48147, so I'm not sure if it is a dupe.

Basic repro:
[code]
vs
[code]

[2019-06-28 18:24] jonhoo commented on #62208
@Lonami `take_until` to me implies that it does _not_ take the first element where the condition is true, which is why I went with `take_until_inclusive` instead. In some sense, at least to my ears, `take_until(f)` is the same as `take_while(!f)`.

[2019-06-28 18:38] RalfJung commented on #62135
(Please Cc me for Miri bugs.)

The reason it does not work in Miri is that arithmetic on integers obtained from pointers is not fully supported yet. However, we are very close to getting there! This is tracked at https://github.com/rust-lang/miri/issues/224.

[2019-06-28 18:38] Lonami commented on #62208
Oh, I completely missed you mentioned `take_until_inclusive`, sorry!

[2019-06-28 18:41] jonhoo commented on #62208
No worries at all, happens to us all! I'd be curious to hear your thoughts on whether the `_inclusive` bit is necessary though :)

[2019-06-28 18:56] cuviper opened #62218 "core doc-tests don't run"
I'm adding something to `Iterator`, and I wanted to try my examples, but I can't seem to get any doc tests to run for `core`.

[code]

Same for `./x.py test --doc src/libcore`.

If I remove the `--doc` parameter, it does run unit tests, but still 0 doc tests.

I'm suspicious of this comment:

https://github.com/rust-lang/rust/blob/3849a5f83b82258fd76a3ff64933b81d7efeffa1/src/libcore/lib.rs#L50-L51

[2019-06-28 18:57] yaahallo commented on #62208
`take_to` maybe?

[2019-06-28 18:59] cuviper commented on #62218
I guess #62213 and #61199 are meant to address this?

[2019-06-28 19:01] jonas-schievink commented on #62218
Correct

[2019-06-28 21:06] maplant opened #62220 "Compiler panics when trying to calculate layout of const generic based type"
I have the following code:

[code]

Attempting to use this function, such as in the following manner:

[code]
causes the compiler to crash with the following backtrace:

[code]

This issue has been assigned to @DutchGhost via [this comment](https://github.com/rust-lang/rust/issues/62220#issuecomment-605520240).

[2019-06-28 21:34] Centril commented on #62121
- [ ] https://github.com/rust-lang/rust/pull/61775#issuecomment-506883180

[2019-06-28 22:40] maplant opened #62222 "Multiple ICE when trying to compile const generic based method"
This error is extremely similar to issue #62220. I figured I would post this one here as well because it gives a lot more errors. FTR I'm not even sure this code even typechecks, but multiple ICE is a compiler error regardless.

I'm trying to compile the following code:
[code]

This produces the following errors:

[code]

[2019-06-28 23:23] jonas-schievink commented on #62211
Can confirm that #61812 correctly rejects the default type.

[2019-06-29 00:23] the8472 commented on #46774
Depending on your goals (latency, power consumption, progress opportunities for other threads) poll+busy-wait loops may require a mix of pause(x86)/yield(arm) instructions, yielding to the scheduler and sleeps. possibly with backoffs for the pause and sleep intervals.

`yield_now()` is just a low-level building block you would use in more sophisticated spin loops.

[2019-06-29 01:22] eliaslevy opened #62223 "Can't use `impl Fn` to return a closure that returns another closure"
While trying to write some currying code using stable (1.35.0), writing a `fn` that returns `impl Fn(T1) -> impl Fn(T2) -> T3` results in a compile error. E.g.
[code]

results in
[code]

The expectation was that this would be allowed as the `impl Fn(f64) -> ()` is part of the function return type of `foo1`.

[2019-06-29 03:53] briansmith commented on #62079
I think this should only be done if `getrandom` is moved into the rust-lang org. But, this proposal is kind of the opposite of that: taking rust-lang-managed code and replacing it with externally-managed code.

What concrete problem is this actually solving?

`std`'s dependency on the external tempfile crate seems to be a core itself.

Note that even earlier this month there were serious bugs foun

[2019-06-29 04:11] tarcieri commented on #62079
I'd personally like to see some sort of first class API in Rust which solves this particular problem. That said I think `getrandom` contains a lot of good work which is at the very least a stepping stone towards getting us there.

I'm not sure the proper interface boundary to make this work "first class": a lang-item?

To answer @briansmith's concerns: should `rust-random` be made more official? I

[2019-06-29 08:14] Disasm commented on #62117
@mati865

This is already fixed in LLVM upstream master, but not released. At the moment I'm trying to grab some commits from master to fix this for `riscv64*-unknown-none-elf` targets. However, iirc for `-linux-` targets you also need TLS support (which is also in master, but not released).

[2019-06-29 08:39] Nemo157 commented on #55506
The OP mentions both `impl Future` and `Box<dyn Future>`. It appears the former has been implemented, but the latter doesn't warn still.

[code]

only gives ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d2883e68590f20cafe6aceb7f0a8ed0e))

[code]

[2019-06-29 08:47] #62101 closed

[2019-06-29 08:49] mati865 commented on #62117
@Disasm thanks. I haven't got that far yet to run executables. I'm waiting for https://github.com/rust-lang/rust/pull/61393 anyway.

[2019-06-29 08:57] RalfJung opened #62225 "Spurious RLS test failures"
The RLS tests regularly fail on the tools builder even when the PR didn't touch anything RLS-related, and then the next PR landing switches the toolstate back to test-pass again. This is particularly bad during the week before the beta cutoff, where such a test failure leads to the PR being rejected.

I have seen this for weeks or even months, but to my surprise could not find an issue tracking th

[2019-06-29 09:03] kennytm commented on #62225
The tracking issue is in rust-lang/rls#1265.

[2019-06-29 09:45] RalfJung commented on #62149
An interesting aspect that we are stabilizing here is that we are making self-referential structs available from safe code. What makes this interesting is that in a `Pin<&mut SelfReferentialGenerator>`, we have a mutable reference pointing to the entire generator state, and we have a pointer inside that state pointing to another piece of the state. That inner pointer *aliases* with the mutable ref

[2019-06-29 09:45] Centril commented on #62225
https://github.com/rust-lang/rust/pull/62209#issuecomment-506914620 also seems spurious.

[2019-06-29 09:48] RalfJung commented on #62225
Indeed, and it's an interesting one: `client_changing_workspace_lib_retains_diagnostics` failed, which is not in my list above.

So this bug has already caused two PRs to fail to land within the last 24h.

[2019-06-29 10:16] Centril commented on #62223
This is currently by design but it is a restriction we could sensibly lift imo.

[2019-06-29 10:42] HadrienG2 commented on #62149
@RalfJung: Could this be resolved by turning `Pin<&'a mut T>` into an `(&'a UnsafeCell<T>; PhantomData<&'a mut T>)` through Compiler Magic(tm)? I can imagine implications in other areas such as changing the safety contract for extracting mutable references from Pin, though...

[2019-06-29 11:01] varkor commented on #55506
This was an oversight on my part; I'll open up a PR soon to fix this.

[2019-06-29 11:05] Centril commented on #55506
It does apply to `let x: dyn Future`.

As for `Box<dyn Trait>` and `#[must_use]` it doesn't seem trivial to me unless you make it a special case for `Box`. We should think of a general solution for type constructors.

[2019-06-29 11:13] varkor commented on #55506
This is related to (or is maybe just a subissue of) https://github.com/rust-lang/rust/issues/39524. It seems reasonable to special-case `Box` as a stop-gap and try to fix the whole issue at some point.

[2019-06-29 11:23] Centril commented on #55506
@varkor If you're going for a hack, an attribute based hack seems better, e.g.

[code]

[2019-06-29 11:25] gnzlbg commented on #61710
@mati865 is there an a script somewhere to workaround this in appveyor ?

[2019-06-29 11:39] ia0 commented on #61053
@petrochenkov raised a good point in #62008 that we don't need to specify the repetition in RHS. It is entirely determined by the LHS.

[code]

Although less noisy, I see 2 possible issues:

- This is a breaking change. How do we know if `current!(1 2 3)` is `1 2 3 +` (new compiler) or `1 2 3` (old compiler)? There is no issue for `proposed!(1 2 3)` because it would be rejected by an old compiler.

[2019-06-29 11:39] varkor commented on #55506
@Centril: I'm not really going for a hack — `Box` is already a special-cased type and I'm simply going to add explicit handling for it into `unused.rs`. I think we'd want to special case it even if we had general support for unused components of structs, to give better error messages.

[2019-06-29 11:59] Xanewok commented on #62225
Merged RLS test fixes:
- 19 days ago landed https://github.com/rust-lang/rust/pull/61694 which should've fixed stomping tests due to shared `TARGET_DIR`, which specifically fixed `client_changing_workspace_lib_retains_diagnostics`
- 10 days ago landed https://github.com/rust-lang/rust/pull/61861 which ignored `client_completion_suggests_arguments_in_statements` for now

Failed because it's a stabl

[2019-06-29 12:06] newpavlov commented on #62079
@briansmith
We have not [objections](https://github.com/rust-lang/rust/pull/62082#issuecomment-505346589) against transferring `getrandom` to `rust-lang` org and of course will be happy to receive extensive reviews from community.

Having a single code base for securely retrieving system entropy, not 3 or more. Considering non-triviality of this problem on some targets, I believe it's a problem wo

[2019-06-29 12:43] RalfJung commented on #62225
@Xanewok thanks for the update, good to hear that `client_completion_suggests_arguments_in_statements` was disabled for now.

Do you have any inkling as to what might cause these failures?

[2019-06-29 13:52] mzabaluev opened #62230 "Documentation for Acquire/Release handshake when dropping Arcs is misleading"
#41730 and previous changes added comments describing the reasoning for the `Acquire` fence synchronizing with the `Release` counter decrement before the content of `Arc` is deallocated. It refers to Boost documentation as an authoritative source. Unfortunately, even that gets its wrong: there is nothing in the C11/C++ standards (which LLVM adheres to) that guarantees ordering of non-atomic operat

[2019-06-29 14:09] rkruppe opened #62231 "Specify: int->float and f32->f64 round to nearest, overflow to infinity"
As suggested by @Centril, this issue is for getting @rust-lang/lang approval for https://github.com/rust-lang-nursery/reference/pull/607 (Note: will update that patch to explicitly talk about overflow behavior, once approved here)

cc #62175

## Detailed proposal

The following casts:

- `(expr: iM) as fN`
- `(expr: uM) as fN`
- `(expr: f64) as f32`

all can see values that cannot be represented l

[2019-06-29 14:21] topecongiro opened #62232 "Inconsistent syntax between `unsafe async fn` and `async fn unsafe`"
There is an inconsistency in the ordering of `async` and `unsafe` keywords that come before the fn signature. A plain function signature requires `async unsafe fn`, whereas a method signature requires `unsafe async fn`:

[code]

- A related PR: https://github.com/rust-lang/rust/pull/61319.
- [A link to the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7f3d5ee

[2019-06-29 14:23] gnzlbg commented on #62231
IEEE 7.2 mentions:

So I wonder whether "panicking on overflow" (e.g. when debug-assertions=on) was considered as a potential alternative, and if so, what were the tradeoffs.

[2019-06-29 14:49] mati865 commented on #61710
@gnzlbg I don't know if there is script that automatically fixes everything (there are different errors depending on many things), you'd have to try replacing various `*.a` and `.o` files and changing linker to use external compiler.
If you point me the repo I'll try to get it working later today or tomorrow.

For the ultimate fix I think Rust should prefer to use external toolchain libs if they a

[2019-06-29 14:51] rkruppe commented on #62231
I can't find the second part of your quote anywhere in the standard (and certainly not in §7.**3**), but here's some reasons for not panicking:

- Panics are entirely unprecedented for `as` casts (see also discussion in #10184).
- We'd need to add a new API for the conversion that allows people to choose infinity-on-overflow when they want it.
- Arguably, if this conversion errors on overflow, it

[2019-06-29 14:56] mark-i-m commented on #61053
It might be a good thing to do for decl_macros

[2019-06-29 15:05] Centril commented on #62232
Ouch seems I forgot about implementations in https://github.com/rust-lang/rust/pull/61319.
I assumed it was the same code path... :(

Thanks for reporting this!

[2019-06-29 15:13] psumbera commented on #62001
Finally I was able to verify that this is just issue on Solaris SPARC (I was able to build Rust 1.35.0 with bundled LLVM on Solaris Intel and there is no noise).

[2019-06-29 15:17] gnzlbg commented on #62231
I am reading it from [here](http://irem.univ-reunion.fr/IMG/pdf/ieee-754-2008.pdf), "Section 7.4 Overflow" (pages 37-38). The second part is the last sentence of Section 7.4 which comes after the page break.

That clarifies some of the doubts I had. Section 7.2 states that invalid operations are signaled using a NaN, so I supposed that when Section 7.4 said "signaling" a NaN would be returned, but

[2019-06-29 15:19] psumbera commented on #62001
@adrian-prantl do you have any idea why we see 'scope points into the type hierarchy' messages on SPARC with LLVM 8 (and don't see it with LLVM 6)?

[2019-06-29 15:20] gnzlbg commented on #61710
I was working on this ctest PR which started triggering the issue because it uses fprintf from C: https://github.com/gnzlbg/ctest/pull/73

[2019-06-29 15:21] #60709 closed

[2019-06-29 15:24] petrochenkov commented on #61053
@ia0

I would expect `*`/`+`/`?` to still be accepted by the new compiler, just become optional.

[2019-06-29 15:26] Centril opened #62236 "Move tests in `src/test/run-pass/async-await` -> `src/test/ui/async-await`"
E.g. in https://github.com/rust-lang/rust/pull/61818 and https://github.com/rust-lang/rust/pull/61922.

cc @tmandry

[2019-06-29 15:38] ia0 commented on #61053
So you mean that `current!(1 2 3)` should produces `1 2 3` as with the old compiler. This looks brittle to me because if the user is using the new style throughout their crate and they want to output a `*`, `+`, or `?` after a repeated sequence, they would have to use the old style (i.e. explicitly provide the Kleene operator) to avoid ambiguity: Use `$($x)++` to produce `1 2 3 +` because `$($x)+`

[2019-06-29 15:41] rkruppe commented on #62231
Oops,I just noticed I've pulled up the 1985 version of the standard today, sorry for the confusion. I see the wording you quoted now (but my explanation for why it doesn't support panicking still holds). This also resulted in the references in the top comment being wrong, corrected that now.

NB: the correct standardese is: by default, when an inexact operation is signaled, the operation returns a

[2019-06-29 17:02] varkor commented on #39524
I think this should essentially be considered a straightforward extension of https://github.com/rust-lang/rust/issues/61061 (which extended `#[must_use]` to tuples). I have a WIP branch that extends `#[must_use]` to nested user-defined structures like this, but it needs some cleaning up.

[2019-06-29 17:13] alex commented on #62061
Notes to self:

- Have bindgen emit a cfg/feature/thingy by kernel version
- Bindgen generated/linux/uapi/version.h
- Set fields based on kernel version

[2019-06-29 17:17] adrian-prantl commented on #62001
In LLVM there are `distinct DISubprogram`s that describe functions and are attached via a `!dbg` attachment to a function and unique `DISubprogram`s that are representing function types. When you get this error a `DILocation`'s scope chain is pointing to the latter rather than the former. This is probably a bug in IR generator.

[2019-06-29 17:23] RalfJung commented on #62061
And that has... what to do with `zeroed` being a `const fn`?^^

[2019-06-29 17:26] gnzlbg commented on #60405
I ran into this today:

[code]

Because of `()`, all bit-patterns of `union U` are valid. The particular bit-pattern being constructed in `bar` is [undef, 42, undef, undef, undef, undef, undef, undef]. I expected the assert in `foo` to always fail, because that bit-pattern is a valid bit-pattern for `U`, so I should be able to just read its second byte, and test it.

However, due to `repr(transpar

[2019-06-29 17:32] RalfJung commented on #60405
Ouch. Nice catch!

The reason we implemented a "transparent" repr for unions (re-using the ABI of the only non-ZST field if possible) was because of code that used `MybeUninit` of a SIMD type getting a *lot* slower compared to using `mem::uninitialized`, where there was no "wrapper". We had to switch to the SIMD API to get the old performance back.

So, a way to keep that while also achieving that

[2019-06-29 17:32] mark-i-m commented on #61053
@petrochenkov That would be ambiguous unless we denied the use of ?/*/+ in matchers or required the first such character to be a Kleene op, as @ia0 pointed out.

[2019-06-29 18:17] alex commented on #62061
Absolutely nothing at all... I was looking at the wrong tab! Sorry about that!

[2019-06-29 19:26] clarfon commented on #62208
How about a generic `take_while_then`? The signature would be:

[code]

The resulting adapter would:

1. Return the elements of `self` while `while` returns `true`.
2. Then, return the elements of `then(self)`.

The existing `take_while` would be equivalent to `self.take_while(while, |_| empty())`, and `take_while_inclusive` would be equivalent to `self.take_while(while, |x| x.take(1))`, although

[2019-06-29 19:44] Centril commented on #62232
I have a fix in https://github.com/rust-lang/rust/pull/62241.

[2019-06-29 20:35] nikic commented on #58602
CVP nowrap inference reenabled in https://reviews.llvm.org/D62776, so this issue should be fixed once LLVM is updated.

[2019-06-29 22:28] mjbshaw commented on #60405
@gnzlbg I think that's UB, with or without `repr(transparent)`. [With `repr(transparent)`](https://rust.godbolt.org/z/FYo4Tc). [Without `repr(transparent)`](https://rust.godbolt.org/z/YONval). The end results are exactly the same (interestingly, [`repr(C)` is different](https://rust.godbolt.org/z/CtIryq)).

I'm not aware of any guarantees or requirements that a wrapper type (whether it's a `union`

[2019-06-29 22:40] rkruppe commented on #60405
@mjbshaw Obviously the codegen behavior is the same with and without repr(transparent). You should know, since you implemented the attribute without modifying any part of codegen. This is an issue not just with the documented semantics of repr(transparent), but also with the implementation detail that coincides with the codegen effect of repr(transparent).

Union semantics are not yet nailed down,

[2019-06-29 23:10] mjbshaw commented on #60405
@rkruppe Part of my comment was in response to this:

I don't think `repr(transparent)` is to blame here and it's a red herring.

Thanks for the link to rust-lang/unsafe-code-guidelines#73 (I've read it in the past but hadn't seen the new comments from the past two weeks). But I'm still not seeing the relationship to padding bytes (particularly, the *preservation* of padding bytes). I think I'm ju

[2019-06-29 23:11] SeeSpring commented on #62201
As a workaround, make a helper function to coerce the types
[code]
and swap
[code]
for
[code]

[2019-06-29 23:19] Xanewok commented on #62225
I have a hunch that we might have a race in Racer (heh) + RLS in `client_completion_suggests_arguments_in_statements` but what's interesting is that it seems to be the only test relying on Racer that's failing intermittently

About `client_find_definitions` I can't say much - IIRC it's only data from save-analysis, I didn't go into that yet. Might be something inside rls-analysis (lowering save-an

[2019-06-29 23:24] petrochenkov commented on #61712
Addressed by https://github.com/rust-lang/rust/pull/61778 and https://github.com/rust-lang/rust/pull/61755.

[2019-06-29 23:24] #61712 closed

[2019-06-30 02:21] mzabaluev commented on #62230
Hmm, I think I misread the rules about inter-thread sequence points in the standard. Withdrawing the issue.

[2019-06-30 02:21] #62230 closed

[2019-06-30 04:51] ArtemGr commented on #29488
I have a peculiar use case there in that the test framework (cargo test) will only capture the output from the main test thread, so we're gathering the logs from the other threads and then emit them (via the `println!`s) in a `Drop` of a RAII variable living inside the test, in order to ensure that the logs are printed even if the test panics.

[2019-06-30 05:22] #61377 closed

[2019-06-30 07:56] gnzlbg commented on #60405
@mjbshaw

You are assuming that unions have padding.

While this is, by necessity, the case for `repr(transparent)` and `repr(C)` unions, that isn't necessarily the case for `repr(Rust)` unions, which some would like to define as having no padding.

[2019-06-30 09:42] gnzlbg commented on #60405
I think that our implementation of `repr(C)` unions has a bug.

Per C:

* [6.5.8p5](http://port70.net/~nsz/c/c11/n1570.html#6.5.8p5): all union fields are at the same offset and this offset is 0, so there is no padding at the front of an union, or between the union fields
* [6.7.2.1p17](http://port70.net/~nsz/c/c11/n1570.html#6.7.2.1p17) a union can have trailing padding
* [Note 51](http://port70.

[2019-06-30 14:09] nagisa commented on #61539
Linking with `lld` works. Using `clang` instead of `gcc` as a `ld` driver also fails. This does indeed point all the fingers to `ld`. I’ll try to close down on the `ld` version now.

[2019-06-30 14:12] mjbshaw commented on #60405
Thanks, @gnzlbg. My remaining question is *why* do we care about preserving the value of padding bits? Who is going to be observing padding bits, and what are they doing with the values they observe?

I'll attempt to answer my own questions in an attempt to better understand the problem, but please correct me if I'm wrong. I assume the reason people are interested in the padding bits of a `union`

[2019-06-30 15:03] QuietMisdreavus commented on #62218
Now that https://github.com/rust-lang/rust/pull/61199 has landed, this should be fixed.

[2019-06-30 15:30] gnzlbg commented on #60405
This is correct, but I think you might still be confusing the padding of the union with the padding of the union fields. As you mentioned, both `(u32, bool)` and `(bool, u32)` have padding, but this does not mean that the union `Mix` has padding. Inversely, if `Mix` had padding, that padding might have nothing to do with the padding of its fields, e.g., `#[repr(align(16))] union MixA { x: (u32, bo

[2019-06-30 16:05] estebank commented on #45600
I think it is indeed.

[2019-06-30 17:05] Centril commented on #45600
I would say we should deal with #15287 first and then revisit this once that's done.
A small RFC might be in order once we've done that.

[2019-06-30 17:28] nagisa commented on #61539
This issue is no longer present with binutils 1.29.1.

[2019-06-30 17:51] matthewjasper commented on #15287
If anyone wants to work on this then some steps to get started are
* Find any tests that use `feature(bind_by_move_pattern_guards)` and `feature(nll)` or `compile-flags: -Zborrowck=mir` and remove the nll or `-Zborrowck=mir` flag.
    * Note any tests that now fail (i.e. the code now compiles with only warnings), make sure that they fail to compile with no feature flags.
* Make the `check_match` q

[2019-06-30 17:54] RalfJung commented on #60405
To give another answer to the "why preserve padding" question:
The usual way to specify that padding is not preserved when copying structs is that this copies the *value representation* of the struct. So if we have `#[repr(C)] struct S { x: u8, y: u16 }`, the process of copying that looks as follows:
* Look at the source bytes ("object representation"), say `0x10 0xFF 0x00 0x40`.
* Apply the value

[2019-06-30 17:57] RalfJung commented on #60405
I don't know what that means. "value representations" don't have bits. That's their entire point.

[2019-06-30 18:09] varkor commented on #61432
@JohnTitor: you're welcome to take this issue. I'm not sure I'll have time to debug this soon.

[2019-06-30 18:30] nagisa commented on #61539
https://sourceware.org/bugzilla/show_bug.cgi?id=20995 *may* be related.

[2019-06-30 18:43] JohnTitor commented on #61432
@oli-obk How we try dumping the stackframe size?

[2019-06-30 19:21] RalfJung opened #62251 "We call posix_memalign with a too small alignment"
The man page for `posix_memalign` says

And yet Miri found libstd calling this function with an alignment of 4 on a 64bit-platform. This happens when size=2, align=4. The fact that size<align makes it enter the code path for `posix_memalign`.

https://github.com/rust-lang/rust/blob/0af8e872ea5ac77effa59f8d3f8794f12cb8865c/src/libstd/sys/unix/alloc.rs#L9

[2019-06-30 20:27] nagisa commented on #62251
The only reason I can imagine for `&& layout.align() <= layout.size()` to exist there is a buggy implementation of `malloc`. This check is only meaningful if a buggy implementation returns not an allocation suitably aligned for *any* built-in type (on x86_4 – 16-bytes) but rather an allocation aligned for the particular request?

[2019-06-30 20:28] nagisa commented on #62251
A lack of comment is disturbing here. If git history does not reveal any such issue, then we should just remove that check entirely.

[2019-06-30 21:07] Centril opened #62254 "Tracking issue for `#![feature(slice_patterns)]`"
This is a tracking issue for the feature gate `#![feature(slice_patterns)]` covering the following RFCs:
- "Finalize syntax for slice patterns with subslices" (rust-lang/rfcs#2359),
- "Make `..` a pattern syntactically" (rust-lang/rfcs#2707),
- "Array pattern adjustments" (rust-lang/rfcs#495).

For the old tracking issue see https://github.com/rust-lang/rust/issues/23121.

**Steps:**

- [x] Implem

[2019-06-30 21:19] RalfJung commented on #62251
That extra check was introduced by https://github.com/rust-lang/rust/commit/21d899272a7fb39a497424e3260ddab773af7983 to fix https://github.com/rust-lang/rust/issues/45955.

[2019-06-30 21:36] Disasm opened #62256 "compiler_fence may emit machine code"
As discovered [there](https://github.com/rust-embedded/wg/issues/361#issuecomment-505146286) `compiler_fence` produces `atomic_fence(ordering, SingleThread)` construction, which in turn can produce a non-empty code sequence. In fact, LLVM backends for AVR, PowerPC, RISC-V and Spark do not treat SingleThread fence as something special. At the same time Rust [docs](https://doc.rust-lang.org/std/sync

[2019-06-30 21:54] czipperz commented on #61129
At some point, we should revert commit [ac21b60](https://github.com/rust-lang/rust/pull/62249/commits/ac21b601f577074321217a2d064edb22b2843f2b), which doesn't currently build.  (This will convert compiletest usage of replace to take).

[2019-06-30 22:32] gnzlbg commented on #60405
It does not have a bug.

[2019-06-30 23:51] CAD97 opened #62260 "TokenStream::to_string doesn't respect Joint in all cases"
Example:

[code]

Output: `m!(<= >) = "<= >"`; Expected: `m!(<= >) = "<=>"`, as the TokenStream does contain the correct joint-ness:

[code]

[2019-07-01 03:13] smaeul commented on #61264
The problem is that you're trying to link `libc.a` twice: once bundled with `liblibc`, and once outside of rust, likely from some crate's native dependency. Can you try running this with `-Z print-link-args` to see why `/opt/musl/lib/libc.a` is getting pulled in?

[2019-07-01 06:36] LegNeato opened #62263 "ICE "not a type parameter" on nightly (regression)"
Repro:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4a8f90dada13368b5749e84b7b01108

[code]

This doesn't ICE on beta or stable but gives the following ICE on nightly:

[code]

[2019-07-01 06:42] #52118 closed

[2019-07-01 06:56] scottmcm commented on #45600
@estebank I personally like the answer in https://github.com/rust-lang/rust/issues/15287#issuecomment-491043259 of thinking of these restrictions as "AST borrowck details", and thus removing them if MIR borrowck is sufficient in in the spirit of NLL's approval.

[2019-07-01 08:55] eddyb commented on #60405
The immediate fix, AFAICT, is to not preserve `Abi::ScalarPair` for unions, only `Abi::Scalar` and `Abi::Vector`, from the only non-ZST field. That is, turn `Abi::ScalarPair` into `Abi::Aggregate`.
(`Abi::ScalarPair` is a Rust-specific special-case and it's what you get from `(u8, u32)` - even `#[repr(C)] struct S(u8, u32);` would get it - and FFI calling conventions treats that as an aggregate)

[2019-07-01 09:01] gnzlbg commented on #60405
We don't support those (yet), right now `#[repr(simd)]` types need to have a power-of-two number of elements, and `#[repr(align, simd)]` is not supported. We intend to actually require / guarantee this as part of the UCGs, e.g., see: https://github.com/rust-lang/unsafe-code-guidelines/blob/master/reference/src/layout/packed-simd-vectors.md

(Do we want to error if there's padding that prevents pro

[2019-07-01 09:27] oxalica opened #62265 "GAT cannot infer implicit lifetime bounds."
I'm trying to simulate closures returning mutable captured variable with GAT-version `FnMut`.

It cannot infer implicit bound `'a: 'r` here and emit an error. But there is `self: &'r mut Self` alive while `Self` contains `&'a mut i32`.

[code]

The same type signature without GAT works well:
[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=76e50c3e75c37

[2019-07-01 09:33] eddyb commented on #60405
Can we just disallow `#[repr(align(N))]` on `#[repr(transparent)]` `union`s?
That should ensure there's no padding around a scalar/vector (and anything else is effectively aggregate).

[2019-07-01 09:41] eddyb commented on #61631
@alexreg Oops, that was meant to say "using a *later* parameter" (that is, we *only* allow earlier ones).

[2019-07-01 09:49] withoutboats commented on #62149
People have talked about making all of these coroutine types implement `Debug`, it sounds like that conversation should also integrate unsafe code guidelines to be sure what its safe to debug print.

[2019-07-01 09:49] eddyb commented on #61956
@maplant `size_of::<T>` doesn't take any arguments, and is completely deterministic, so of course it can be computed at compile-time - however, it requires *knowing* the concrete type (from monomorphization).

The transmute check is performed *on the generic definition*, like all the type-checking in Rust.

If you emulate it with `assert_eq!(size_of::<T>(), size_of::<U>())`, that will compile into

[2019-07-01 09:58] gnzlbg commented on #60405
This is not allowed.

[2019-07-01 10:01] hellow554 commented on #60577
@catastrop  I don't get your arguments. Rustdoc can already be access offline, because the doc is always installed along with the standard library and the compiler. **Always**. Just use `rustup doc --std` and it will be opened in your browser right away. **Locally** (remove your network cable and see that it still works)

[2019-07-01 10:09] #62232 closed

[2019-07-01 10:13] #47070 closed

[2019-07-01 10:18] ollie27 commented on #62218
Yeah, I've checked the recent build logs on azure and the core doctests are now being run.

[2019-07-01 10:18] #62218 closed

[2019-07-01 11:06] RalfJung opened #62266 "Exempt Miri from "no tools breakage the week before beta cutoff"?"
Would it make sense to exempt Miri from the rule that tools must not regress the week before the beta is branched? Miri is anyway not distributed with the beta, it's a nightly-only tool. And this "no breakage" rule makes landing PRs during that timeframe very painful.

Cc @rust-lang/infra @oli-obk

[2019-07-01 11:22] hellow554 commented on #62263
[Minified](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d779199eff27949023d6aa1eb06b6474):

[code]

Error:
[code]

(weird: double backtrace with different lengths)

Not happening on beta (until now)

[2019-07-01 11:29] eddyb commented on #61539
@nagisa @alexcrichton Is there precedent for checking the version of the linker to work around bugs?
I also wonder what happens with GNU binutils 2.27 and earlier, since I don't think it supports `relro`, do we check for that somehow, and fallback, or are we asking for `relro` in a way that gets ignored?

[2019-07-01 12:24] djugei commented on #60074
Is there some workaround available for this issue? The best i can come up with right now is to wrap the functions in newtypes, which is slightly uncomfortable.

[2019-07-01 12:40] hellow554 commented on #62265
an **ICE** is never expected. If you haven't, please search for similar issues and then if none is applicable, open an issue and report the ICE (with a small example).

[2019-07-01 12:57] andreas-schwab opened #62269 "error[E0432]: unresolved import `std::sync::atomic::AtomicU64`"
https://build.opensuse.org/package/live_build_log/home:Andreas_Schwab:Factory/rust/p/ppc

Dist RLS stage2 (powerpc-unknown-linux-gnu)
Building stage2 tool clippy-driver (powerpc-unknown-linux-gnu)
    Finished release [optimized] target(s) in 0.59s
Building stage2 tool rls (powerpc-unknown-linux-gnu)
   Compiling rls v1.35.0 (/home/abuild/rpmbuild/BUILD/rustc-1.35.0-src/src/tools
/rls)
error[E0432

[2019-07-01 13:00] hellow554 commented on #62263
Regression from beta to nightly

Regression introduced in 740668dbd99dbf1726bbb0cca6cd0943ea2f7e27

[2019-07-01 13:17] jonas-schievink commented on #62269
A PowerPC miscompilation I guess?

[2019-07-01 13:33] hameerabbasi commented on #62222
I may be wrong, but aren't you supposed to define a base case? Otherwise there's an infinite loop.  You define `let mut tail = MaybeUninit::<[T; N - 1]>::uninit();` in your code, but no special case for `N == 0`.

[2019-07-01 13:54] csmoe commented on #62265
Duplicate of https://github.com/rust-lang/rust/issues/56445#issuecomment-502041778
cc @pnkfelix

[2019-07-01 13:59] mati865 commented on #61264
@smaeul wouldn't extra `libc.a` be coming from static libressl via `openssl-sys` crate?

[2019-07-01 14:07] agnxy commented on #62236
@Centril I'd like to work on this :smile:

[2019-07-01 14:12] hellow554 commented on #62269
@andreas-schwab please put the error output into a region surrounded by three backticks (\`\`\`)

[2019-07-01 14:13] mati865 commented on #62269
Enabling RLS tool requires platform to have 64 bit atomics available which are unavailable on 32 bit PowerPC.
You can either disable RLS on affected platforms or make it work with 32 bit atomics, related RLS PR: https://github.com/rust-lang/rls/pull/910

[2019-07-01 14:13] hellow554 commented on #62269
https://doc.rust-lang.org/std/sync/atomic/index.html#portability

[2019-07-01 14:15] Centril commented on #62236
@agnxy You've got it :)

[2019-07-01 14:17] jonas-schievink commented on #62269
Okay, closing as an expected build failure then. Please open an issue on the RLS repo if this needs fixing.

[2019-07-01 14:17] #62269 closed

[2019-07-01 14:33] nagisa commented on #61539
At least 2.27 also fails so not relro related. Waiting for 2.26 to build right now.

[2019-07-01 14:44] volodg commented on #35968
Does bitcode work now? Did anybody try?

[2019-07-01 15:00] bkchr commented on #44591
@Mark-Simulacrum @arielb1 any chance to get an update for this? With some mentoring I could maybe look into this.

[2019-07-01 15:08] nagisa commented on #62256
Yes, it does.

[2019-07-01 15:29] Mark-Simulacrum commented on #44591
I'm not sure how easy this type of bug is to provide mentoring for; cc @eddyb @nikomatsakis -- perhaps you could determine that better than I?

[2019-07-01 15:43] eddyb opened #62272 "Unconditionally breaking `loop`s not allowed in constants."
*Technically* a regression from 1.24 to 1.25, but I don't think anyone used this.
Example code which used to be allowed:
[code]

I'm pretty sure this changed with #47802, which added the `FalseUnwind` terminator to MIR, but didn't handle it in const-checking (which otherwise ignores cleanup blocks).

cc @matthewjasper @nikomatsakis

[2019-07-01 15:49] Centril commented on #62272
I think this is a technicality and that we can continue to let this be broken since no one said a peep about it since 1.25. The upside is that the syntactic surface of const eval is clearer.

[2019-07-01 16:09] eddyb opened #62273 "Initialization by assignment not allowed for "drop-ful" types in constants."
In the following example, `FOO` and `ASSIGN` are allowed but `FOO_ASSIGN` isn't:
[code]
The reason is that `x = Foo;` is lowered to `DropAndReplace` in MIR, and that's not handled in const-checking as a `Drop` and an assignment (which it functionally is).

~~cc @davidtwco This might also break the `[constant; N]` promotion (while `&T` promotion would never encounter `DropAndReplace` because `&T` i

[2019-07-01 16:19] Centril commented on #62273
I'm going to label this as a bug since it seems covered by https://github.com/rust-lang/rust/pull/57175/ from a T-Lang perspective.

[2019-07-01 16:28] RalfJung commented on #62149
Indeed. Such a `Debug` implementation would likely prohibit MIR-level reference-based optimizations inside generators.

[2019-07-01 16:30] scalexm commented on #62111
`distance` is a good name, I think, as it is the mathematical term for `abs(x-y)`.

I dislike @centril’s above generalization, as what it does is unrelated with the name of the function in most cases (the first thing that comes to mind is that something called an « absolute difference » should be a non-negative real number).

[2019-07-01 16:58] alexreg commented on #61631
@eddyb Ah, that makes sense then... in any case, maybe it makes sense to consider the `Self` type as an implicit final type parameter for this purpose?

[2019-07-01 17:03] alexreg commented on #62263
Thanks.

@Centril The minified error should obviously cause a cyclic error at the very least, but should we try to support `Self` in type aliases or just error like before? I imagine this won't be hard to revert to previous behaviour at least.

[2019-07-01 17:06] Centril commented on #62263
@alexreg I think we definitely shouldn't accept more code here and the user hasn't said `type PrivacyPolic< E: PrivacyRule> = RHS;` so accepting this code would be adding to the future compat hazard in terms of wf-checking type aliases.

[2019-07-01 17:28] apmorton opened #62276 "DOS Line Endings in install.sh on some rust-std nightlies"
Since the change from travis to azure pipelines some of the rust-std archives have DOS line endings in their `install.sh` script, which results in errors like the following when trying to execute:
[code]

Running `dos2unix install.sh` works around the issue for now.

Not all archives have this issue. Specifically http://static.rust-lang.org/dist/rust-std-nightly-i686-pc-windows-gnu.tar.gz does. Po

[2019-07-01 17:29] nagisa commented on #61539
2.26 and 2.23.1 also fail (although 2.23.1 only prints the addresses and exits with exit code 0 before calling into the plugin), so it is probably safe to say that this issue is present in all relevant versions of the GNU toolchain before 2.29.

[2019-07-01 18:15] eddyb commented on #61539
@nagisa Oh, right, I forgot, the bug was fixed after 2.28 but I never tested earlier versions.

[2019-07-01 18:16] RalfJung commented on #60405
Supporting padding *at the end* of a union also wouldn't be too bad. We can just say that unions are "bags of bits" but that the bags might be a bit shorter than `size_of::<Union>()` because of padding at the end.

(Abi::ScalarPair is a Rust-specific special-case and it's what you get from (u8, u32) - even #[repr(C)] struct S(u8, u32); would get it - and FFI calling conventions treats that as an a

[2019-07-01 18:24] eddyb commented on #60405
@RalfJung If we always preserve scalar/vector (i.e. without checking for extra padding etc.) then `#[repr(transparent)]` "just works": the remaining case is aggregates, which an union is itself (and I believe no calling convention distinguishes between an union with one aggregate field + any number of ZST fields and the aggregate field itself - similar thing happens for struct newtypes).

[2019-07-01 18:31] andll commented on #55506
@varkor is this going to propagate `#[must_use]` for `Pin<Box<Future>>`? Or just `Box<Future>`?

[2019-07-01 18:33] cramertj opened #62277 "Move `compile-pass` tests to `check-pass` or `build-pass`"
`compile-pass` was the old way to assert that UI tests were able to successfully build. However, it would do a full build of the code, including codegen and linking. Many of our tests don't need this, however, and should instead use the new `check-pass`, introduced in https://github.com/rust-lang/rust/pull/61778. For tests that exercise codegen and linking, `build-pass` can be used instead.

As a

[2019-07-01 18:36] RalfJung commented on #60405
How does it "just work"? It currently "just works" and you are proposing to change behavior.

[2019-07-01 18:37] Centril commented on #62277
- [ ] Mass migrate `// compile-pass` annotations to `// build-pass (FIXME(62277): could be check-pass?)`.

- [ ] Remove `// compile-pass` from compiletest.

- [ ] Triage `// build-pass` annotations re. whether they should be `// check-pass`.

[2019-07-01 18:39] Centril commented on #62277
cc @petrochenkov

[2019-07-01 19:27] eddyb commented on #60405
"Scalar pairs" are indistinguishable from the general aggregate case for non-Rust calling conventions, so making *only* that change won't break `#[repr(transparent)]`.

But if we start allowing e.g. `u8x15` vectors that are 16 bytes long when you include padding, and make unions around `u8x15`  non-vectors (on account of the one byte of padding), you have a problem - especially with a generic unio

[2019-07-01 19:31] RalfJung commented on #60405
I am very confused now. @gnzlbg observed padding not being preserved with a `repr(Rust)` union (that was effectively `repr(transparent)`. So *somewhere* something has to change. And now @eddyb is arguing that fixing this problem here causes no observable change? How is that possible?

Whether padding is preserved when passing data around by-value using the Rust calling convention is observable to

[2019-07-01 19:55] varkor commented on #55506
@andll: I don't think this will propagate for `Pin<Box<Future>>`, but I imagine https://github.com/rust-lang/rust/pull/62262 would do.

[2019-07-01 20:31] gnzlbg commented on #60405
@RalfJung If an union contains a single scalar, it has the scalar ABI, and has no padding. If a union contains a single Vector, it has the vector ABI, and has no padding. If a union contains a scalar pair, currently, it has the ScalarPair ABI, which has padding, which doesn't get copied. If we remove this, the only remaining case is unions that are Aggregates. These unions have no padding before o

[2019-07-01 20:43] RalfJung commented on #60405
So `ScalarPair` *is* where things go wrong currently?

But didn't you use ctest with a non-Rust calling convention, so according to @eddyb that shouldn't be any different from `Aggregate`?

Maybe we should just tell LLVM that the union is a byte array of the size we computed, and do everything else ourselves.^^

[2019-07-01 20:52] alexcrichton commented on #61539
We have only one rudimentary check for support of a c compiler flag (-pie I think) but other than that we don't have any precedence for c compiler or linker version checking in rustc itself

[2019-07-01 21:02] cramertj opened #62280 "Tracking issue for `slice_take`"
Feature gate: `#![feature(slice_take)]`

### Public API

[code]

### Steps / History

- [ ] #49173
- [ ] #62282
- [ ] #77065
- [x] #88502
- [x] #136555
- [x] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

-

[2019-07-01 21:02] cuviper commented on #61539
I think 2.27 only added a way to configure the default:

[code]

But `-z relro` has existed much longer -- I see references way back in `ChangeLog-2004`.

[2019-07-01 21:40] eddyb commented on #60405
I'll have to take a closer look at the ctest mentioned, but `ScalarPair` *will definitely* drop padding bytes between its `A` and `B` scalar elements (and after `B`), as it behaves as `(A, B)`.

Note that even with FFI, on the Rust side a `ScalarPair` will be passed around as its component scalars, so you can't even do `*ptr = c_function(*ptr)` without losing padding bytes.
So maybe that's what th

[2019-07-01 23:28] cramertj opened #62284 "Mutually recursive `async fn`s are hard to make `Send`"
There are several other related issues to this, but I'm opening this to track this one specifically since it's a pain-- there are workarounds, but it'd be lovely (and should be possible) to make this "just work." The following example compiles just fine without ` + Send`, but adding the `Send` bound causes a cycle error:

[code]

Working around the cycle error is possible, but annoying:

[code]

I

[2019-07-02 00:48] alexreg commented on #62263
Yes, true... the MRE is slightly different in nature from the original.

[2019-07-02 01:21] moxian opened #62288 "Box::into_pin is unstable but has #0 as the tracking issue"
Please see https://doc.rust-lang.org/stable/std/boxed/struct.Box.html#method.into_pin :
![screenshot](https://cdn.discordapp.com/attachments/273541522815713281/595422844398075919/unknown.png)

[2019-07-02 01:26] alexcrichton commented on #43749
This issue is years old and has lots of outdated information. A new issue serves to provide refreshed view of the world and ensure it's accurate and up to date. You can even link to this issue and take excerpts from it if it's still true today.

[2019-07-02 01:28] agashlin opened #62289 "Leak when returning out of box syntax"
@nils-ohlmeier mentioned a leak coming from `vec![f()?]` but not `vec![f()?; 1]` [here](https://github.com/mozilla/webrtc-sdp/blob/master/src/attribute_type.rs#L2158-L2160), I think I tracked this down to the use of `box` in `vec!` when given a comma-separated list.

I've made [a smallish test](https://gist.github.com/agashlin/cd5e2227f13d48e3c701b68df4f89e6c) that demonstrates it with `stats_allo

[2019-07-02 01:36] Centril commented on #62288
Blame: https://github.com/rust-lang/rust/pull/57313.

cc @Nemo157

[2019-07-02 01:37] comex commented on #60405
I'm a little confused by this discussion, so just to be extra clear:
- If you have a struct with padding bytes, there are cases in existing C ABIs where passing or returning that struct to/from functions does not preserve the padding bytes – such as @gnzlbg's example.
- A `#[repr(transparent)]` union is required be ABI-compatible with the underlying type, so e.g. `MaybeUninit<S>` *cannot* be guara

[2019-07-02 01:58] Centril opened #62290 "Tracking issue for `#![feature(async_closure)]` (RFC 2394 / RFC 3668)"
This is a tracking issue for `#![feature(async_closure)]` (rust-lang/rfcs#2394).
The feature gate provides the `async |...| expr` closure syntax.

**As with all tracking issues for the language, please file anything unrelated to implementation history, that is: bugs and design questions, as separate issues as opposed to leaving comments here. The status of the feature should also be covered by the

[2019-07-02 02:06] smaeul commented on #61264
@mati865 No, `libssl.a`/`libcrypto.a` shouldn't contain definitions for any symbols from libc. And `openssl-sys` [doesn't link libc](https://github.com/sfackler/rust-openssl/blob/01fc84f5e07d9c43b0046b95c169c215365839c0/openssl-sys/build/main.rs#L72) (or liblibc), either.

[2019-07-02 02:08] agashlin commented on #62289
Valgrind Memcheck also reports heap in use at exit on a Linux VM with the test linked above.

[2019-07-02 02:24] kubo39 opened #62291 "pthread_cond_wait/pthread_cond_broadcast return EAGAIN after retrying 8192 times in macOS"
Since OSX 10.7 (Lion), pthread_cond_wait and pthread_cond_broadcast return EAGAIN after retrying 8192 times.

- 10.7.0 (Lion):          http://www.opensource.apple.com/source/Libc/Libc-763.11/pthreads/pthread_cond.c
- 10.8.0 (Mountain Lion): http://www.opensource.apple.com/source/Libc/Libc-825.24/pthreads/pthread_cond.c
- 10.10.0 (Yosemite):     http://www.opensource.apple.com/source/libpthread/li

[2019-07-02 02:31] jinfagang commented on #29625
what does the difference between Fn and fn?

[2019-07-02 02:48] csmoe commented on #29625
@jinfagang cc https://doc.rust-lang.org/std/ops/trait.Fn.html

[2019-07-02 03:20] alexreg commented on #42736
Are we in a good place to tackle this now that https://github.com/rust-lang/rust/issues/45510 has been solved?

[2019-07-02 03:24] eddyb commented on #60405
@comex Because of how the scalar pair optimization works, you need *at least* 3 scalar components to actually turn off the conversion between the in-memory form and two SSA values, *even* around an FFI call, otherwise any test results could still be caused solely by it.

As per your first point, I believe x84_64 SysV (used everywhere other than Windows) might do this, but doesn't it also do the sa

[2019-07-02 03:50] nils-ohlmeier commented on #62289
Thanks a lot @agashlin for creating a reduced test case and creating this issue here.

I stumbled over the original issue when carg-fuzz reported a memory leak in this code https://github.com/mozilla/webrtc-sdp/blob/3a46c37c6d11e2e856b946f4a2e11d90adde3af6/src/attribute_type.rs#L2060-L2062

This PR appears to fix the issue https://github.com/mozilla/webrtc-sdp/pull/151/files

This was also with ru

[2019-07-02 04:45] mjbshaw commented on #60405
@RalfJung

I'm going to quote [the C++ standard](http://eel.is/c++draft/basic.types#4), from which I was borrowing the term:

This is what I meant by "value representation". It most definitely includes bits. This is the `0x10 _ 0x00 0x40` bit pattern in your example.

Thank you. I have a follow-up question: why is the plan for Rust to say "the value representation of a union is the same as its obj

[2019-07-02 06:30] Manishearth commented on #62289
Looks like the early return doesn't interact well with box syntax's preallocation.

MIR generation issue? cc @oli-obk

[2019-07-02 07:14] RalfJung commented on #62251
I have opened https://github.com/jemalloc/jemalloc/issues/1533 in jemalloc to get clarification from them about their alignment guarantees. It would be nice if someone with more knowledge could chime in, in particular knowledge about where exactly that value of 16 for `MIN_ALIGN` on x86-64 comes from.

Cc @SimonSapin @gnzlbg @alexcrichton

[2019-07-02 07:19] SimonSapin commented on #62251
Possibly from here:

https://www.gnu.org/software/libc/manual/html_node/Aligned-Memory-Blocks.html#Aligned-Memory-Blocks

[2019-07-02 08:42] gnzlbg commented on #62251
@RalfJung C has [`max_align_t`]. Per [C11 6.2.8p2](https://port70.net/~nsz/c/c11/n1570.html#6.2.8p2) types with an alignment smaller than `max_align_t` are supported in all contexts. AFAICT this includes the memory returned by **any** memory allocation function - not only `malloc`, but also `posix_memalign`.

The largest scalar type of C implementations needs to be supported in all contexts. On mo

[2019-07-02 08:45] pietroalbini commented on #61931
Well, this is not a problem anymore.

[2019-07-02 08:45] #61931 closed

[2019-07-02 08:46] eddyb commented on #60405
@comex @RalfJung I have confirmation that [this version](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=7e511f247b1a529124ce5f29a3f600df) of @gnzlbg's test passes with just scalar-pairs disabled and no other changes (just opened the PR to fix this, #62298).

I've talked to @gnzlbg on Discord and I'm pretty clear to me now that the confusion was caused by the rather odd

[2019-07-02 08:54] guoxingyun opened #62299 "There's a bug when you multiply two Numbers"
use std::ops::Mul;
amount is 2224.0001_f64
my result===
amount_clone.mul(10000.0)=22240001.000000004----amount_clone.mul(10000.0).floor()=22240001

my code==
 println!("amount_clone.mul(10000.0)={}----amount_clone.mul(10000.0).floor()={}",amount_clone.mul(10000.0),amount_clone.mul(10000.0).floor());

[2019-07-02 09:59] comex commented on #60405
[I checked, and indeed it does.](https://gcc.godbolt.org/z/AmQnjy)  The implication is that C and C++ *do not* guarantee that padding within structs within unions is preserved when copying the union.  I think that contradicts what @gnzlbg said previously, but I could be misunderstanding.

[2019-07-02 10:47] RalfJung commented on #62251
So basically on the C side, one assumes that `malloc` is not used with types that use the C equivalent of `repr(align)`?

With that assumption, I agree it is enough for `malloc` to guarantee an alignment of `size` rounded *down* to the next power of two. (I think your post originally said "up", but now it says "down" so I guess we agree.) That's what I [will make Miri do](https://github.com/rust-l

[2019-07-02 10:58] Lonami commented on #62299
Works as expected, floating point numbers can't represent most real numbers precisely.

[2019-07-02 11:33] gnzlbg commented on #44871
I'm hitting this same error with a cdylib - is that intended ?

[2019-07-02 11:46] gnzlbg commented on #62251
C does not have an equivalent of `repr(align)`, so yes, malloc can assume that.

The docs are quite clear IMO:

Anything more concrete than that will be target specific, and those details are outside jemalloc's control - if jemalloc wants to replace the system allocator in a target, it needs to comply with the ABI there.

[2019-07-02 11:46] #62299 closed

[2019-07-02 11:53] RalfJung commented on #62251
Well, with `_Alignas` that statement from the jemalloc docs is wrong, isn't it?

And for users to manually do the alignment, getting something more concrete would be useful.

And also for Rust! Currently you are deducing a whole lot of things from a few words in the spec. I have zero confidence that this is the only way to read the spec. So something like:

"for `size >= alignof(max_align_t)` we g

[2019-07-02 11:59] gnzlbg commented on #60405
C++ does guarantee that padding is copied when copying an union, the standard is clear [class.copy.assign.13](http://eel.is/c++draft/class.copy.assign#13):

Where the object representation is defined as [basic.types.4](http://eel.is/c++draft/basic.types#4):

That is, unless the user provides an user-defined copy assignment operator that does something else, the default one provided by the compiler

[2019-07-02 12:12] gnzlbg commented on #62251
I don't know how useful would that be: malloc only needs to comply with the C standard. Parts of it are implementation-defined, and what those are defined to is often specified by the system ABI.

That's the only thing the global allocator can rely on. On most platforms, the global allocator is not jemalloc - it is the one from glibc, musl, microsoft, apple, google, mozilla, etc. In some platforms

[2019-07-02 12:25] CAD97 opened #62301 "1.36 changes the `UnwindSafe` impl precondition for HashMap"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e5a528fc978a90aa15bbf01f68dd1bf

[code]

Successfully compiles on stable 1.35, fails on beta/pre 1.36.

[2019-07-02 12:27] CAD97 commented on #62301
First reported to FireFox ESR and shared on irlo here: https://internals.rust-lang.org/t/rust-1-36-0-pre-release-testing/10490/2?u=cad97

[2019-07-02 12:33] eddyb commented on #60405
On Discord we found that at least with the x86_64 SysV ABI, both [GCC](https://gcc.godbolt.org/z/Xa2yhq) and [clang](https://gcc.godbolt.org/z/k0NxaI) break that.

[2019-07-02 12:37] jlevon opened #62302 "provide thread name to OS for Solarish systems"
Both Solaris 11 and recentish Illumos provide the same `pthread_setname_np()` API.
While libstd can't presume the existence of the symbol, it seems like using `weak!` works sufficiently to set the thread name when necessary.

While the implementation is different, the API is basically the same for the purposes of `set_name()`.

The Linux implementation of `set_name()` will silently truncate the th

[2019-07-02 12:45] SimonSapin commented on #62301
https://github.com/rust-lang/rust/blob/ef064d2f66bf5851e1da1a016627ff1395f6c9ad/src/libstd/panic.rs#L209-L212

The `UnwindSafe` impl for `Unique<T>`  requires `T: UnwindSafe`, but the one for `NonZero<T>` requires `T: RefUnwindSafe`.

[2019-07-02 12:52] pnkfelix commented on #61188
I started looking at this, with the intent of writing mentorship notes. I'm going to try to jot down notes on my process as I go, with the intent of showing a mentee what kinds of experiments one might do to figure out how to narrow down the code to the point of interest for finding a fix.

To be clear, I don't consider myself an expert in the MIR generation code; I've done some work in it, but I

[2019-07-02 12:58] gnzlbg commented on #60405
So that's incomplete and incorrect. The standard also says [class.union.1](http://eel.is/c++draft/class.union#1):

That is, if the union has no active member, the lifetime of all objects in the union has ended. If the union has one active member, the lifetime of all other objects in the union has ended. When the lifetime of an object starts, that object is initialized. The contents of padding byte

[2019-07-02 13:03] pnkfelix commented on #61188
To be clear, the reason that I saw the `TestKind::Eq` variant as a good place to take a note is because I see that as opening up a useful thing to search for in the code base (to find spots where that variant is created), and then do one of two thingss:

Either:
 1. Add a check, right before creating `TestKind::Eq`, that the given type implements `PartialEq`, or
 2. If it is still to late at this

[2019-07-02 13:21] rustonaut opened #62303 "Any trait should be unsafe"
## What is wrong?

Since `type_id()` is stable rust programs rely on `Any` to be implemented correctly for rust safety relevant thinks (like downcast).

Given the coding guide lines `Any` needs to be a `unsafe`-to-implement trait as implementing it wrongly causes unsafety.

## Is it a problem?

Luckily no on can (currently) implement `Any` per-hand as any implementation conflicts with it's wild ca

[2019-07-02 13:26] svenknobloch opened #62305 "Nightly compiler panic on using Self with associated type in type alias"
## Description

The `nightly` compiler panics when using `Self` in a type alias along with an associated type. This does not happen on `stable` or `beta`.

Code snippet:
[code]
[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5130b3b8d9685d5333ddd3a2459bf18d)

## Meta

Backtrace:

rust version: `1.37.0-nightly`

[code]

[2019-07-02 13:32] pnkfelix commented on #61188
And reading over rust-lang/rfcs#1445 led me to find that the current code (linked below) for linting use of `#[structural_match]` is, well, insufficient: it special cases matching `Adt` consts and matching `&Adt` consts, but fails to handle `& &Adt` consts and `&[Adt]` consts, etc.

https://github.com/rust-lang/rust/blob/ef064d2f66bf5851e1da1a016627ff1395f6c9ad/src/librustc_mir/hair/pattern/mod.rs

[2019-07-02 13:47] RalfJung commented on #62251
Well it would save us this entire discussion. If that doesn't demonstrate its usefulness I don't know what does.^^

I don't know what the "system allocator" is for Linux, but the one in glibc actually guarantees a 16-byte alignment on 64bit system for all allocations. So by that standard jemalloc would just be incorrect.

[2019-07-02 13:57] SimonSapin commented on #62301
https://github.com/rust-lang/rust/pull/62304 is a possible fix.

[2019-07-02 14:02] pnkfelix opened #62307 "structural_match bug: deep refs like `& &B` leak use of PartialEq"
(Spawned off of investigation of #61188)

rust-lang/rfcs#1445 says that we're supposed to reject uses of consts with ADT's that don't implement `#[structural_match]` (i.e. ADT's that do not do `#[derive(PartialEq, Eq)]`.

Unfortunately, we did not quite finish the job. Consider the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=92cbbf1bf22e561eb05ee

[2019-07-02 14:03] pnkfelix commented on #61188
Filed #62307 to track the insufficient check for `#[structural_match]`.

[2019-07-02 14:05] gnzlbg commented on #62251
The platform ABI guarantees that. What the malloc implementations guarantee is irrelevant. If glibc were to guarantee that all addresses are 32-byte aligned, there is no way in which we could exploit that information, because the platform only requires 16-byte alignment, and it is valid to pick _any_ allocator at run-time that satisfies that.

[2019-07-02 14:14] RalfJung commented on #62251
So there a document somewhere saying "for x86-64 bit, 16-byte alignment is guaranteed"? But that document contains an exception for small sizes, making `jemalloc`s behavior legal?

[2019-07-02 14:18] #59110 closed

[2019-07-02 14:44] Centril commented on #62307
[Me and @pnkfelix briefly discussed this on Discord.](https://discordapp.com/channels/442252698964721669/443151243398086667/595619060289634304)

[2019-07-02 14:45] jasonbking opened #62308 "libstd requires explicit version of rand crate"
Most everything else in the rustc repo that needs the rand crate is specifying "0.6" for the version, while libstd has "0.6.1" in its Cargo.toml.  Unfortunately, this prevented rust from building on illumos systems without manually patching the rand crate (and is a blocker for rust-lang/rust#55553) in ~/.cargo/.... (without patching, anything using the rand functions will crash with an illegal sys

[2019-07-02 14:48] gnzlbg commented on #62251
Yes, there are documents containing the rules of what's legal, at least for Linux x86_64.

Those document allow an exception for small sizes. One API that uses those is `posix_memalign`, which requires the alignment to be at least `sizeof(void*)`, which is 8 on x86_64, and which allows you to allocate `9` bytes, with a smaller alignment.

I still have no idea what jemalloc has to do with any of th

[2019-07-02 14:50] eddyb commented on #60405
While trying to generalize the test in #62298 I realized I'd be hitting the issue that there are calling conventions which drop padding bytes from unions, so I ended up with [this test that prints all offenders](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=212583485972580c4229f94322eb2f36).
The lines with "error:" are panics in #62298, and none of them are triggered a

[2019-07-02 15:04] SimonSapin commented on #62251
@RalfJung A document that could be relevant is the C standard. Unfortunately, as mentioned in the commit message for https://github.com/rust-lang/rust/commit/21d899272a7fb39a497424e3260ddab773af7983, it is rather tautological on this topic:

The standard does not give any numeric value. Like many other aspects of C, it looks like the actual value of `_Alignof (max_align_t)` is implementation-defin

[2019-07-02 15:21] czipperz commented on #61129
^This is tracked in #62306.  It should be done once this is stabilized.

[2019-07-02 15:54] #59123 closed

[2019-07-02 15:59] nagisa commented on #62308
Feel free to send in a PR which changes the version from `0.6.1` to `^0.6.1`.

[2019-07-02 16:11] RalfJung commented on #62251
When using jemalloc, `System` becomes jemalloc. That's how https://github.com/rust-lang/rust/issues/45955 happened.

Do you have a reference for something that concretely calls out an exception for small types? The C standard only does this very indirectly, as you showed.

[2019-07-02 16:50] kobenauf commented on #48700
I am getting a similar but different error when I run cargo run on a simple test project.  rustc is the line giving the warning:
[code]
I'm running this in WSL, Windows 10 1903.

[2019-07-02 16:58] gnzlbg commented on #62251
That was a bug in our implementation of system that applies to pretty much all allocators, not only jemalloc.

[C18 (C17 draft)](https://web.archive.org/web/20181230041359if_/http://www.open-std.org/jtc1/sc22/wg14/www/abq/c17_updated_proposed_fdis.pdf) says (emphasis mine):

Since the alignment of an object is a power of two that is always smaller than or equal to the object size, rounding down th

[2019-07-02 17:18] Centril opened #62312 "Future compat warning with `.await`ing a `BoxFuture`"
The code is the same as in https://github.com/rust-lang/rust/issues/62284:

[code]

This results in:

[code]

[2019-07-02 17:27] nikomatsakis commented on #60414
Marking as blocking, although I think there's minimal future compat risk. If push came to shove I personally would be ok with removing this from the blocking list. But then it looks like @jonas-schievink already fixed it =)

[2019-07-02 17:28] shepmaster commented on #31436
I wanted to give `try` a shot for some nested `Option` parsing as well:

[code]

This fails with

[code]

The closest I got was

[code]

The `as_ref` is quite unfortunate. I know that [`Option::deref`](https://github.com/rust-lang/rust/issues/50264) will help some here, but not enough. This feels like somehow match ergonomics )or related idea) should come into play.

The multiple lines is also unf

[2019-07-02 17:30] RalfJung commented on #62251
AFAIK it is a normal way of using `jemalloc` to make it override the `malloc` symbol? Don't we still do that in rustc, or when using "jemallocator"?

I don't say it is incorrect, I say it is awfully indirect. It's like reading tea leaves. I am looking for a clear definite statement. That doesn't seem to exist though. :(

There clearly *is* some kind of "non-continuity" where all allocations are al

[2019-07-02 17:39] pietroalbini commented on #61165
An update, I managed to extend the retention on rustc to 2 years, but we'll discuss this in more depth with Microsoft people in the following days.

[2019-07-02 17:43] rpjohnst commented on #31436
Could `try` use an inference fallback of `Result` like integer literals? Would that let @shepmaster's first attempt infer `Result<&str, NoneError>`? What remaining issues would there be- probably finding a common error type for `?`s to convert to? (Have I missed discussion of this somewhere?)

[2019-07-02 17:44] gnzlbg commented on #62251
Can you show such an object in C and/or Rust ?

It's probably the most common way of switching allocators.

What `jemallocator` does is it requires `jemalloc` to be linked to your binary, allowing (and making use of) jemalloc-specific APIs. If you do this, when using `Jemallocator` directly (not `std::alloc::System`), you can obviously rely on assumptions that only hold for `jemalloc`. But `std::a

[2019-07-02 17:50] sgrif opened #62313 "Conflicting documentation on the alignment requirements for `ptr::copy`"
The docs for [`ptr::drop_in_place`](https://doc.rust-lang.org/nightly/std/ptr/fn.drop_in_place.html) state:

And include an example which uses `ptr::copy` to copy the value from an unaligned pointer into an aligned one. However, the docs for [`ptr::copy`](https://doc.rust-lang.org/nightly/std/ptr/fn.copy.html) state:

Either the docs for `ptr::copy` are wrong, and `src` does not need to be aligned

[2019-07-02 17:51] pietroalbini commented on #62276
Thanks for reporting this!

A tentative fix for this landed in https://github.com/rust-lang/rust/pull/62279, hopefully tomorrow's nightlies will be fixed.

[2019-07-02 18:01] RalfJung commented on #62251
The goal is not to rely on assumptions that *only hold` for `jemalloc`. The goal is to make sure that we do not make assumptions that *don't hold* for `jemalloc`.

Because that's what we used to do, before https://github.com/rust-lang/rust/issues/45955 got fixed. We were assuming something that was true for system `malloc` but not for `jemalloc`: that *all* allocations, no matter the size, are `MI

[2019-07-02 18:02] RalfJung commented on #62251
Ah I forgot about the stride vs. size thing. So such an *object* does not exist. But such a `Layout` exists, and it is something we want to support in our allocator API (we even have a test for that).

And we do have objects with align > size, namely all ZST.

[2019-07-02 18:19] RalfJung commented on #60405
@eddyb [here is a version](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=c559cbeb0d7ac84f555daedf43469bd5) that also checks some triples. They seem to all work fine though.

@mjbshaw

It's the only definition I have seen so far that I actually know how to make precise, and that is not extremely complicated. Do you have a proposal for another one?

Also to me this is th

[2019-07-02 18:33] gnzlbg commented on #62251
Yeah, I agree. The only cases for which the "round to the previous power of two approach" doesn't work is for ZSTs, and types (or allocations) with align > size. Since those just cannot happen in C, the C standard doesn't mention them as exceptions. That is, we can only call `malloc` when that holds, and if it that doesn't hold, we need to call a different API that supports the align > size  case.

[2019-07-02 18:51] matthewjasper commented on #62312
minimized

[code]

The MIR we generate is broken, so the borrow checker is correct to complain:

[code]

[2019-07-02 18:51] cyphar opened #62314 "stdlib incorrectly handles O_PATH"
There are several bugs here, but they all stem from the same problem -- the stdlib doesn't handle `O_PATH` correctly in a few places.

## `O_PATH` requires you to set an extra (unused) mode. ##

`O_PATH` causes most other flags to be ignored, so requiring a mode is a little bit weird. Really, `O_PATH` should probably be handled as another `OpenOptions` mode.

[code]

This one can be worked around

[2019-07-02 18:53] matthewjasper commented on #62312
Not an issue on beta.

[2019-07-02 18:57] Centril commented on #62313
cc @ubsan @RalfJung

(It's also notable that the example in `std::ptr::read_unaligned` is wrong when it uses `let unaligned = &x.unaligned as *const u32;` as is seen if you move the `let` statement out of the `unsafe { ... }` block; we should fix that ASAP)

[2019-07-02 19:07] sfackler commented on #62314
It does: https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/fs.rs#L460. There's a fallback to support older kernels that you're probably running into: https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/fs.rs#L469-L477

[2019-07-02 19:10] RalfJung commented on #62313
Good catch!

What we'd really want is `copy_unaligned`, I think... we don't want an intermediate value on the stack.

Feel free to suggest code that we can use instead.

We have several doctests that need https://github.com/rust-lang/rfcs/pull/2582. They have been there since 1.0 and longer, probably. But nobody listens to me when I say that there is existing code that we need to support ASAP.

[2019-07-02 19:11] cyphar commented on #62314
I figured out the reason why `O_CLOEXEC` was missing -- it's because of a bug in a kernel patch I'm writing (which I'm simultaneously writing a Rust library for). So the fact that the "let's try setting `O_CLOEXEC` explicitly" path gets tripped is totally my fault.

However, I would argue Rust still really shouldn't be using `ioctl(FIOCLEX)` -- because it doesn't work for `O_PATH` (or any file wit

[2019-07-02 19:12] cramertj commented on #60245
@rust-lang/libs These have been available on nightly for some time with no controversy. They're pretty useful when working with `Pin`-- do y'all have anything you'd like to see here before merging?

[2019-07-02 19:19] cyphar commented on #62314
I figured out the reason why `O_CLOEXEC` was missing -- it's because of a bug in a kernel patch I'm writing (which I'm simultaneously writing a Rust library for). So the fact that the "let's try setting `O_CLOEXEC` explicitly" path gets tripped is totally my fault.

However, I would argue Rust still really shouldn't be using `ioctl(FIOCLEX)` -- because it doesn't work for `O_PATH` (or any file wit

[2019-07-02 19:23] sgrif commented on #62313
The example given is just using `ptr::copy` to put it on the stack anyway. If you're having to copy the value at all, there's really no reason to use `ptr::drop_in_place` at that point, since the only reason to use it instead of `ptr::read` is to avoid the copy (which is optimized out in release mode anyway). I think we can probably just remove the unaligned example entirely and change the documen

[2019-07-02 19:30] RalfJung commented on #62313
Oh, good point. Yeah then you can basically just make it `let copy = to_drop.read_unaligned()`, right?
I wonder why `MaybeUninit`/`mem::uninitialized` ever got used here?

Well but wouldn't it make sense for that text to come with an example?

It cannot, because then it would be introducing alignment errors.

Uh... yeah. With `copy_unaligned` it could work.

Doesn't `copy_unaligned` seem like a re

[2019-07-02 19:34] sgrif commented on #62313
Presumably because they wanted the example to continue to use `drop_in_place`

Sure, we could -- it just wouldn't ever call the function being documented.

Yes, it's just unrelated to dropping unaligned pointers since the only place you can reasonably copy them to is the stack. Unless you happen to already have an valid pointer of the proper size and alignment sitting around

[2019-07-02 19:40] rkruppe commented on #62313
I'm not actually sure unalgined DSTs are so unreasonable. For example, [unsizing `repr(packed)` wrapper around an array](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=502bc2f01241e12e81caef3ae6edcba5) is only stopped by this rule:

Which could be solved if we had e.g. a way to express "does not have drop glue" as a bound (`[T] : Copy` doesn't work for obvious reasons).

I

[2019-07-02 19:42] RalfJung commented on #62313
:rofl: fair. I guess all of this is basically saying an *in-place* drop of unaligned data is just not possible. Do an "out-of-place" drop instead.

[2019-07-02 20:13] matthewjasper commented on #62289
`value.ty` should be `expr.ty` here:

https://github.com/rust-lang/rust/blob/848e0a23f34aaab3e4a974b031c86ef2a4e4fcc1/src/librustc_mir/build/expr/as_rvalue.rs#L127-L132

Now that `schedule_drop` can only schedule drops for locals, we should get the type from `self.local_decls` to avoid this sort of problem in the future.

[2019-07-02 20:27] tmandry opened #62315 "Use DataflowResultsCursor instead of FlowAtLocation"
#61922 introduced `DataflowResultsCursor`, which provides a stateful caching interface atop `FlowAtLocation`.

It would be better to use `DataflowResultsCursor` from more places, both because it's a more convenient / less error-prone interface, and because it's best to have more than one code path exercising the same code. It's also awkward trying to support both interfaces at once (the cursor imp

[2019-07-02 20:48] comex commented on #60405
In that case it may be, but in the example I previously posted a Godbolt link for, it is not:
[code]
In this case, Clang copies the first half of the struct using a 32-bit register move, so bytes 4 to 7 are lost.  (Why 32-bit and not 8-bit?  Likely because the resulting assembly is shorter.)

This particular ABI could theoretically be extended backwards-compatibly to preserve padding bytes.  When

[2019-07-02 21:20] tkaitchuck commented on #62079
One of the reasons cited for why this is needed is because HashMap depends on random.

In the course of implementing [aHash](https://github.com/tkaitchuck/aHash) I found a much faster way to do this.

For it's randomization aHash uses a combination on (Const-Random)[https://crates.io/crates/const-random) and the address of the HashBuilder. This essentially eliminates any runtime overhead and makes

[2019-07-02 22:03] tmandry opened #62318 "Support panic=abort without #[should_panic] from libtest"
When a project wants to turn on `panic=abort` today, they are forced to choose between

1. Re-compiling their whole project with `panic=unwind` for the purpose of running tests (this not only creates longer build times, but also changes the behavior of code between testing and production)
2. Using a custom test harness (either ad-hoc which requries changes the source code for tests, or by using cu

[2019-07-02 23:25] ebfull opened #62320 "Coherence violation when inherent method is added to type"
It seems that because inherent methods are always called before trait methods, when a dependency adds an inherent method to a struct (which _should_ be a backwards-compatible change to its API requiring no major semver bump) your code that was previously calling a trait method on that struct will (silently) switch to calling the inherent method.

As an example, I could make an extension trait for

[2019-07-02 23:52] ecstatic-morse commented on #62315
Here's a brief summary of the current state of things.

There's now 3 (and a half) places in `librustc_mir` which implement the same functionality: [`state_for_location`](https://github.com/rust-lang/rust/blob/848e0a23f34aaab3e4a974b031c86ef2a4e4fcc1/src/librustc_mir/dataflow/mod.rs#L456), [`DataflowResultsConsumer`](https://github.com/rust-lang/rust/blob/848e0a23f34aaab3e4a974b031c86ef2a4e4fcc1/s

[2019-07-03 00:09] jonas-schievink commented on #62320
This is a well-known property of inherent impls in general (they're preferred over trait impls). It doesn't violate coherence since coherence only reasons about overlapping *impls* themselves, not items defined within them (which can always be referred to explicitly).

[2019-07-03 00:24] tmandry opened #62321 "`size_of_val` in a generator can make the generator bigger"
Consider the following code:

[code]

Today, having the `dbg!` line _roughly doubles_ the size of the future returned by `foo`. More precisely, it causes us to allocate storage for `x` twice (once for `x`, and once for the `pinned` variable that `x` is moved into inside the `await`).

This unfortunate state of events is caused by the fact that we cannot "peer into" `size_of_val` and see that the a

[2019-07-03 00:42] brainstorm commented on #62167
@oli-obk After poking around it for a few minutes, it seems like https://github.com/dtolnay/proc-macro-hack, a dotenv dependency, is the culprit instead of https://github.com/dotenv-rs/dotenv/issues/22... but in any case, shouldn't `rustc` be more resilient and timeout/fail instead of hanging forever?

[2019-07-03 01:01] tmandry commented on #61849
To further elaborate on the kinds of optimizations we could do with this..

If a local `x` is moved from, but
- Has only had its address taken using `&x`
- Is `Freeze` (does not contain interior mutability)

Then we could optimize away its storage after it's moved from. Rust will enforce that any borrow is dead after the move, of course, and transmuting `*const` to `*mut` is already considered UB.

[2019-07-03 02:18] Centril commented on #62321
It would be good to write down why `size_of_val` deserves an optimization specifically; you said something about not wanting to have our own "uncertainty principle"?

[2019-07-03 02:34] dtolnay commented on #62167
Closing as a duplicate of https://github.com/rust-lang/rust/issues/44692. @oli-obk -- I believe this is indeed a rustc bug.

[2019-07-03 02:34] #62167 closed

[2019-07-03 02:36] dtolnay commented on #44692
Transferring nomination by @jonas-schievink in #62167.

[2019-07-03 06:20] dtolnay opened #62325 "$crate incorrectly substituted in attribute macro invocation containing bang macro invocation"
When an attribute macro input contains `$ident`, it is correctly substituted both inside and outside of a function-like macro invocation i.e. both of the $ident's in `[u8; $ident + m!($ident)]` would be substituted as expected.

But when an attribute macro input contains `$crate`, it is only substituted *outside* of a function-like macro. Inside, it incorrectly disintegrates into `Punct('$'), Iden

[2019-07-03 06:35] Patryk27 opened #62326 "ICE with generic associated types"
Hi,

Following code:
[code]
... fails with:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ba801a17c109844b79633bb40919c4fc

[2019-07-03 07:21] #56238 closed

[2019-07-03 07:32] hellow554 commented on #62326
Good catch. Without the feature gate it does not crash on beta or nightly, but only on stable. With feature gate it does crash on all three versions.

@rustbot modify labels: C-bug T-compiler I-ICE A-associated-items

[2019-07-03 07:45] dhardy commented on #62079
So you combine a high-quality per-binary key, a low-quality (limited address space) per-run key with a hash function optimised for small input who's security relies on no-one seeing the output? Certainly intriguing.

I guess the important question is whether this is good enough for everyone's hashing needs (because if not, it doesn't remove the need for a system RNG in `std`). This approach *does*

[2019-07-03 07:51] hellow554 commented on #62305
Probably dup of #62263

[2019-07-03 08:35] mati865 commented on #62308
`0.6.1` and `^0.6.1` [are exactly the same](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies).
Explicit version would be `=0.6.1`

What you need to to is upgrading `rand` in `Cargo.lock`.

[2019-07-03 09:15] WiSaGaN commented on #60958
I suspect this will catch a lot of users by surprise when stable is released. The `as_ref`/`into` pattern seems to be widely used according to the crater run and our internal crate breakage report.

[2019-07-03 09:34] lopopolo opened #62328 "Increasing Rc::strong_count above u8::MAX causes alignment issues and segfault in FFI code"
[code]

The following program segfaults in [mruby](https://github.com/mruby/mruby) because the value of an `obj` pointer when attempting a garbage collection is `0x1`.

[code]

The program has the following output

[code]

Debugger

[code]

[2019-07-03 10:00] lopopolo commented on #62328
If it is helpful to run the code in a debugger, I've pushed a branch here: https://github.com/lopopolo/ferrocarril/tree/segfault-gc

The test is runnable with

[code]

[2019-07-03 10:19] pnkfelix commented on #62307
I have a patch for this in progress.

[2019-07-03 10:52] nikomatsakis commented on #60414
@jonas-schievink I think the problem is on this line of code:

https://github.com/rust-lang/rust/blob/8301de16dafc81a3b5d94aa0707ad83bdb56a599/src/librustc/infer/opaque_types/mod.rs#L344

in particular, we "instantiate" the predicates -- meaning, substitute in the values for their type parameters -- but we never *normalize* them. We should be able to invoke the `normalize` methods. Note that in th

[2019-07-03 10:57] jonas-schievink commented on #62328
Are you sure this isn't caused by code in the mruby crate? It does a lot of questionable things, including [transmuting between `Rc<T>` and `*mut _`](https://github.com/lopopolo/ferrocarril/blob/4e78771a0a3bae1309a1e3a3a1fcaa312c97d0fa/mruby/src/interpreter.rs#L38), which AFAIK is UB.

[2019-07-03 11:04] lopopolo commented on #62328
Oh no I am so ashamed 😞. Thank you @jonas-schievink for pointing out my mistake.

Using `Rc::into_raw` and `Rc::from_raw` eliminates the segfault.

For my own learning, what is the difference between the `mem::transmute` and the `Rc::*_raw` functions? I thought I could assume that an `Rc` was always 8 bytes.

[2019-07-03 11:14] rkruppe commented on #62328
I don't think this is guaranteed (it isn't even true on 32 bit platforms but I'm not even sure if it's guaranteed to be "the same size as a pointer"). But the issue that actually broke this code is that an `Rc<T>` points to a piece of memory that contains not just a `T` but also the reference counts, and the `*_raw` functions ensure to add an offset so that you actually get a pointer to the `T` ra

[2019-07-03 11:14] #62328 closed

[2019-07-03 12:54] SimonSapin commented on #60602
Let’s?

@rfcbot fcp merge

[2019-07-03 13:54] fpoli opened #62334 "Change "A non-empty glob must import something with the glob's visibility" to be a lint?"
Consider the following three examples: A and C are accepted and B has a compilation error. However, the message reported in B looks more like a lint than a compilation error.

A consequence of this error is that adding a non-public function to a module (e.g. the `bar` in B) may break code that imports from that module. This causes surprises when refactoring.

Shouldn't "A non-empty glob must impor

[2019-07-03 14:02] RalfJung commented on #62313
Actually looks like the use of an unaligned pointer in the doctest just caused https://github.com/rust-lang/rust/pull/62103 to fail to land. ;)

[2019-07-03 14:16] petrochenkov commented on #62334
The error was introduced in https://github.com/rust-lang/rust/pull/35894 as a part of import modularization, and discussed in one of the related issues, but I can't find where exactly.

The error was introduced by analogy with errors for single imports (and just to be conservative):
[code]

The error is not technically necessary, and we should be able to report it as a lint for glob imports while

[2019-07-03 14:19] pnkfelix opened #62336 "wart: non-Eq [T; 0] can be matched as if `#[structural_match]`"
Spawned off of investigation of issue #62307 and PR #55837

We currently allow constants that are empty arrays of any type to be used as patterns in `match`. We allow this regardless of whether they are an array of an ADT that does not derive `PartialEq`/`Eq`

This may be a feature or a bug depending on one's perspective.

Here is an example of the behavior in question ([play](https://play.rust-la

[2019-07-03 14:21] pnkfelix commented on #62336
nominating for discussion at T-lang team meeting, since this is a question about the design of the language itself.

(It may be worthwhile to try to make a PR that errors on such `consts`, e.g. rejecting the `match [] { B0 => ... }` in the example above, and then doing a crater run against that PR, to gather data on whether this is likely to occur in the wild.)

[2019-07-03 14:30] rust-highfive opened #62338 "`clippy-driver` no longer builds after rust-lang/rust#61995"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#61995, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @petrochenkov, the PR reviewer, and @rust-lan

[2019-07-03 14:36] eddyb commented on #60405
@RalfJung Turns out @gnzlbg was mistaken and no standard guarantees all bytes of a union are preserved, so we cannot guarantee much about `#[repr(C)]` unions, at least, when passed through `extern "C"` functions (even if they are both in Rust).
None of this has anything to do with "scalar pairs" once we fix that, we're forced by ABIs to ignore some bytes of certain aggregates.

The fact that inter

[2019-07-03 14:51] CJKay commented on #50133
This is really frustrating to work with. I have been unable to find a way to provide certain generic TryFrom impls like:

[code]

Collision.

[code]

Collision.

Argh!

[2019-07-03 15:09] pnkfelix commented on #62336
A possibly interesting note: I think the reason this case wasn't caught was because of how this is written:

https://github.com/rust-lang/rust/blob/8c6fb028ca887dff9ec2fe0a90398b6d5bf5fb45/src/librustc_mir/hair/pattern/mod.rs#L1037-L1045

because we have layered the type-checking atop the recursion (encoded in the `adt_subpattern` closure).

[2019-07-03 15:13] gnzlbg commented on #60405
To summarize: `repr(transparent)` is correct in preserving or ignoring padding bits depending on the ABI of the type being wrapped.

I've opened https://github.com/rust-lang/unsafe-code-guidelines/issues/156
 to track documented this new bit of trivia for `repr(C)` unions.

I don't know how this information affects the guarantees that we could make about the layout of `repr(Rust)` unions, but it w

[2019-07-03 15:36] pnkfelix commented on #61188
(the change suggested in PR #62339 fixes this and has a regression test for it.)

[2019-07-03 15:37] pnkfelix commented on #62307
(the change suggested in PR #62339 fixes this and has a regression test for it.)

[2019-07-03 15:41] pnkfelix commented on #61624
Oh, given that this is using const generics (an unstable feature), it probably should be P-medium rather than P-high.

I won't change the label yet, but if triage on thursday rolls around and I haven't seen a good reason to keep it P-high, I'll change the label then.

[2019-07-03 15:51] pazolka opened #62342 "library compilation problem on s390x"
I'm getting the following error when building `Parity Ethereum`:

[code]

Rust version: `1.34.2`

[2019-07-03 16:09] varkor commented on #62336
This is consistent with special handling for zero-length arrays throughout the language. For instance, `Default` is implemented for zero-length arrays, even for types that themselves don't implement `Default`. (I think this is the right decision, but it does make some behaviour more complex.)

[2019-07-03 16:11] alexcrichton commented on #60245
Let's see! Proposed APIs look to be:

* https://doc.rust-lang.org/nightly/core/pin/struct.Pin.html#method.into_inner
* https://doc.rust-lang.org/nightly/core/pin/struct.Pin.html#method.into_inner_unchecked

@rfcbot fcp merge

[2019-07-03 16:15] varkor commented on #61624
If downstream crates could ICE because they're using a type alias with const generics, even if they don't enable `#![feature(const_generics)]` themselves, it seems like slightly more of an issue.

(Sorry, I don't have time to look into this issue at the moment.)

[2019-07-03 16:31] est31 commented on #61624
It's not just type aliases, but also other constellations of cross-crate usage that are giving this ICE: https://github.com/rust-lang/rust/issues/61806#issuecomment-501795591

[2019-07-03 17:12] nikita-fuchs commented on #62342
The source can be found here: https://bitbucket.org/nikita-fuchs/parity-ring-removal/src/master/

It is a fork of https://github.com/paritytech/parity-ethereum with two libraries removed that are not supported on s390x architecture. The forked code compiles just fine on x64.

[2019-07-03 17:28] asomers opened #62345 "rustdoc treats external footnote links as intra crate links"
rustdoc can easily generate external links by using a full URL as the target.  However, this only works with inline links.  It doesn't work when using footnote links, sometimes called "reference links".  If you try to use a full URL as the target of a footnote link, rustdoc will throw up a `intra_doc_link_resolution_failure` warning.  Here's an example.

`src/libs.rs`:
[code]

[code]

The workarou

[2019-07-03 17:41] Centril commented on #62336
Further to @varkor's point, another case where `LEN = 0` is "special" (or rather <= 1 is special for expected move-checking reasons) is the case of array repeat expressions, e.g.

[code]

[2019-07-03 18:04] #23121 closed

[2019-07-03 18:04] #62301 closed

[2019-07-03 18:04] rust-highfive opened #62347 "`miri` no longer builds after rust-lang/rust#62335"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62335, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Mark-Simulacrum, the PR reviewer, and @rust-lang/

[2019-07-03 18:07] MortenLohne opened #62348 "const fns have no documentation"
`const` functions seems to be an entirely undocumented language feature. As far as I can see, it's not mentioned anywhere in book or the reference. Judging by the release notes, they've been in the language since before 1.33, so it seems to just have been forgotten?

[2019-07-03 18:10] ebfull commented on #62320
I'm not sure how else to title this issue, suggestions welcome.

Are there other known examples in the language where presumably reverse-compatible API changes can actually break or change the behavior of downstream code? I don't know why, but I had an expectation that the language was designed to ensure these kinds of things can't happen.

[2019-07-03 18:11] Mark-Simulacrum commented on #62347
[code]

from https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/2278/logs/929

[2019-07-03 18:14] aosmond opened #62350 "FFI broken with many parameters"
We encountered this with WebRender, where we exposed a method in Rust to the Gecko, and the last parameters supplied appeared random on the Rust side. I made a reduced test case adapted from it that you can grab at:

https://github.com/aosmond/myrustffi

It is a very simple test case where the C++ program puts all the parameters on the stack, prints the expected values of some of them, and calls t

[2019-07-03 18:16] RalfJung commented on #62313
Proposed fix at https://github.com/rust-lang/rust/pull/62351.

[2019-07-03 18:17] jonas-schievink commented on #62350
Is there an upstream issue in WebRender you can link? What platform is this happening on?

[2019-07-03 18:23] aosmond commented on #62350
The Gecko side integrating with WebRender was disabled, and I have been working to re-enable this in https://bugzilla.mozilla.org/show_bug.cgi?id=1556243. You can find the code in question at:

https://searchfox.org/mozilla-central/rev/0671407b7b9e3ec1ba96676758b33316f26887a4/gfx/webrender_bindings/src/bindings.rs#2783

I intend to just work around this using structs for the moment as part of the

[2019-07-03 18:25] RalfJung commented on #62347
Looks like a bunch of tests are affected the same way:
[code]

[2019-07-03 18:25] Gankro commented on #62350
We're seeing this on all of our x64 platforms (win, mac, linux; all using clang). It looks like a pretty clear bug in our sysv callee ABI for x64 when there are lots of arguments.

[2019-07-03 18:28] RalfJung commented on #62347
Cc @christianpoveda this is likely caused by your change, somehow.

[2019-07-03 18:41] Gankro commented on #62350
<details>
 <summary> rustc callee llvm-ir </summary>

[code]

</details>

<details>
<summary> clang caller llvm-ir </summary>

[code]

</details>

[2019-07-03 18:48] alexcrichton commented on #60419
ping @Zoxc, @nagisa, @petrochenkov, @pnkfelix, y'all mind taking a look at this?

[2019-07-03 18:50] Centril commented on #62348
https://doc.rust-lang.org/nightly/reference/items/functions.html#const-functions

[2019-07-03 18:50] tmandry commented on #62321
My thinking is that people will often want to use `size_of_val` to debug the size of their futures. For example, they might use it to look at the size of the sub-futures they await on, as in the example above.

In particular, since you can't name the type returned by an `async fn` today, you _have_ to use `size_of_val` and borrow the future.

It's definitely going to confuse people that adding `si

[2019-07-03 19:01] Zoxc commented on #60419
I think it would make sense to have an option which streams requested information to stdout in the form of JSON blobs, something like `--json=short-errors,long-errors,artifacts`, with each JSON blob indicating what kind of output it is with `{"type": "artifact"}` or something.

We could add to this list later if cargo, tools or IDEs want some more easily parsable information from rustc.

[2019-07-03 19:02] mati865 commented on #62342
Was the Rust installed with official package (rustup, installers) or using Linux package manager?

[2019-07-03 19:14] asomers commented on #62345
There seem to be a few exceptions to the rule.  The link tags `str` and `cfg-if` work fine.  Perhaps rustdoc always interprets them as external links because the aren't valid identifiers?

[2019-07-03 19:42] matklad commented on #56286
Question:

We have `Arc::ptr_eq`, should we have `Arc::ptr_hash` as well?

[2019-07-03 20:01] eddyb commented on #62350
Note to self: `int_regs` can go negative from scalar integer arguments after the 6 integer registers have been exhausted and then `int_regs < needed_int` is always true.
Will try to fix soon (also I wonder if this is a stable-to-stable regression from years ago?).

[2019-07-03 20:02] Gankro commented on #62350
@eddyb and i debugged this a bit and figured out we’re basically underflowing the count of available int registers and the code is getting confused and saying floats need too many int registers (0 > -1) and puts them in memory when there are plenty of float registers left.

eddyb has volunteered to implement the fix.

[2019-07-03 20:03] ryzhyk opened #62353 "ICE: `rustc` crashes in a `chroot` sandbox"
This error happens when running `cargo` from `bazel`, which is in turn running in a `chroot` sandbox on Centos 7. Running with `RUST_BACKTRACE=1` unfortunately makes the error disappear, so we don't know why `rustc` needs to read `/proc/self/exe` and why only when compiling DD.

This is rustc 1.35

Note: the sandbox _does_  have `/proc` mounted in it, so this is not a duplicate of #56249

[code]

[2019-07-03 20:10] jonas-schievink commented on #60414
@nikomatsakis Hmm, that code is only invoked if `opaque_defn.has_required_region_bounds` is true, which I think wouldn't be the case here since there are no region bounds at all (right?).

I also noticed that `self.obligations` does not exist in this context (`self` is an `&InferCtxt`), and there's no `FulfillmentContext` nearby either.

However, another place where `predicates_of.instantiate(..)`

[2019-07-03 20:26] Gankro commented on #62350
Looks like this was working circa 1.0, but has been broken at least since 1.12. Oof.

[2019-07-03 20:46] Wenzel commented on #48885
I also made the same mistake tonight, and lost 30 min tracking down the issue.
If rustc cannot print a warning about this, maybe clippy is the solution then ?

[2019-07-03 21:00] RalfJung commented on #61849
(1) follows from (2). But my concern is that we should specify (2) in an operational way -- that is, we can't just say "the address may change", we have to describe the operational behavior that causes it to change. Something like `StorageDead`+`StorageLive`. Something that can be implemented in Miri or similar checkers.

[2019-07-03 21:08] euclio commented on #62345
I think you just have incorrect markdown syntax? Anything inside the parentheses will be interpreted as a link. If you use square brackets or remove the parentheses entirely it should work as expected.

[2019-07-03 21:21] RalfJung commented on #62347
Likely caused by a missing `force_ptr` in function pointer validation. Should be fixed by https://github.com/rust-lang/rust/pull/62245.

[2019-07-03 21:35] petrochenkov commented on #62325
This is https://github.com/rust-lang/rust/issues/43081, ultimately.

The spans are dummy, as you can see, this means `type T = ...` goes through pretty-printing and back.

During pretty-printing we print `$crate` as `crate`/`other_crate` in path segments, but not in unstructured tokens (tokens inside `x!(...)` are unstructured tokens).

Now thinking about this again, I'm not sure why we cannot pri

[2019-07-03 21:37] SimonSapin commented on #56286
We could, but that’s going quickly into diminishing returns IMO. You can always use something like `std::ptr::hash::<T, _>(&*arc, s)`

[2019-07-03 21:57] tmandry commented on #61849
Yes, agreed.

In theory, this should also help us answer the question of "who are we breaking with this change?" (Ideally no one, but probably someone.) In practice, though, it doesn't seem feasible to run miri on crater because of slowness.

Maybe if we could produce a smaller list of crates _likely to break_. All crates that use `unsafe`, for instance. But,
1. that list might still be too long
2

[2019-07-03 22:11] cramertj commented on #62320
In general, breakages due to inference (method inference, trait inference, type inference, etc.) are allowed under our backwards-compatibility guidelines. Without this, things like defining a new type, trait, or adding a method to anything anywhere would be a breaking change.

[2019-07-03 22:14] petrochenkov commented on #62325
I recall it now.
Pretty-printing is the only way to determine the content of `proc_macro::Ident`.
If it converts `$crate`, then it becomes lossy and we no longer have way to figure out what the original identifier was.

Hmm, perhaps the conversion should be enabled only if the token printing routine is called from inside of AST printing, but not otherwise.

[2019-07-03 22:16] petrochenkov commented on #62325
(I'll try to fix this tomorrow, shouldn't be too hard.)

[2019-07-03 22:20] KellerFuchs commented on #62079
@tkaitchuck That approach seems thoroughly unsuitable as a default, as its security relies on both:
1. a high-entropy value generated at compile-time (by `const-random`), which:
  - makes reproducible builds essentially-impossible without a bunch of additional work;
  - makes the distribution of prebuilt binaries insecure;
2. hash values being kept secret:
  - highly-dubious in a hashtbl implement

[2019-07-03 22:42] jethrogb commented on #37572
Should there be a blanket `impl<T: ExactSizeIterator> TrustedLen for T {}`? Also, the documentation of `TrustedLen` should explain how it's different from `ExactSizeIterator`.

[2019-07-03 22:59] jethrogb commented on #52243
@rustbot modify lables +T-rustdoc

[2019-07-03 23:00] jethrogb commented on #54010
@rustbot modify lables +T-rustdoc

[2019-07-03 23:48] tarcieri commented on #62079
As @KellerFuchs noted this breaks reproducible builds, which have been a major goal of the Rust ecosystem and an [area of concern for the Rust Secure Code WG](https://github.com/rust-secure-code/wg/issues/28). I personally consider anything which breaks reproducible builds to be highly undesirable.

I strongly hope anything selected as the default hasher has undergone a considerable amount of peer

[2019-07-03 23:55] asomers commented on #62345
Yes, I had a syntax error in the snippet that I posted.  Thanks for pointing it out; it helped me narrow the problem.  It looks like the real problem is that if you leave out the link name, rustdoc will try to interpret the presentation name as an intra-crate symbol, without checking whether or not a footnote exists.  Oddly, if the presentation name isn't a valid identifier, then rustdoc will igno

[2019-07-04 00:11] scottmcm commented on #37572
@Coder-256 An iterator shrinks as it's used, so cannot in general have a compile-time length.

There were some conversations in https://internals.rust-lang.org/t/collecting-iterators-into-arrays/10330/10?u=scottmcm --- as you said, this is off-topic for this issue so better on IRLO.

[2019-07-04 00:19] Centril opened #62357 "Add valid examples to `std::ptr::{read,write}_unaligned`"
With https://github.com/rust-lang/rust/pull/62323 the only example (that had UB and was thus invalid) in `std::ptr::read_unaligned` and `std::ptr::write_unaligned` is removed.

We should add a valid example of using the aforementioned functions.

cc @rust-lang/wg-unsafe-code-guidelines

This issue has been assigned to @Freyskeyd via [this comment](https://github.com/rust-lang/rust/issues/62357#iss

[2019-07-04 00:27] Centril opened #62358 "Tracking issue for `Option::contains` and `Result::contains`"
This is a tracking issue for `Option::contains` and `Result::contains`.

The implementations are as follows:
[code]

[2019-07-04 00:37] euclio commented on #62345
Your markdown is still incorrect. The link is pointing to `` `CString` `` but your footnote is `CString`. They need to match exactly, otherwise the link will be detected as a "broken link" which triggers the check for an intra-doc link.

There's certainly room for improvement on the diagnostic, though. Maybe we could do a Levenshtein check on footnotes to see if there's a typo and suggest it?

[2019-07-04 02:02] asomers commented on #62345
You're right; that fixed it.  Your fix would be helpful, but a simpler solution might be to warn for any unreferenced footnotes. Would that be easier?

[2019-07-04 02:18] comicfans opened #62361 "compiler optimized out function call which has side effects ?"
I found following code

[code]
didn't listen during running,  but if I change it to

[code]

it listened  as expected, is this a bug or expected behavior (naming var as _  also not bind)? if function has side effect (for example change os state, but not changing any caller variables in rust) but result not used, it still can be optimized out ?

I'm using rustc 1.35.0 (3c235d560 2019-05-20)

[2019-07-04 02:33] euclio commented on #62345
Both solutions may need additional pulldown-cmark support. I'm not sure that it's possible to extract unused footnotes with the current API.

[2019-07-04 02:36] comicfans commented on #62361
I've found https://medium.com/codechain/rust-underscore-does-not-bind-fec6a18115a8 explain this .so I close this, but I'm still confusing... "_" has no bind , but "_s" has bind ? and unused result warning seems not enough to tell developer the result already dropped after expression.

[2019-07-04 02:36] #62361 closed

[2019-07-04 03:12] #61402 closed

[2019-07-04 03:12] #62313 closed

[2019-07-04 03:12] rust-highfive opened #62362 "`miri` no longer builds after rust-lang/rust#62355"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62355, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomin

[2019-07-04 03:26] pazolka commented on #62342
Rustup

[2019-07-04 03:39] imbrem opened #62364 "ICE on self-referential typedef"
So, while writing some _really nasty_ code for an interpreter, I ended up with an overcomplicated version of this code:
[code]
([Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=478e073ccd146e94c0244792d167ce08))

Alas, it leads to an ICE, with this message:
[code]
I wonder how an unchecked overflow got in _there_ (18446744073709551615 == -1)...

Funnily en

[2019-07-04 03:41] imbrem commented on #62364
Note in my original code I used the `'ctx` with a kind of home-grown `Cow`, but it turns out it just needs to be there, not used. So both cases crash. The `T` was also used.

[2019-07-04 03:47] Centril commented on #62364
Reduced:
[code]

[2019-07-04 04:59] Matthias247 commented on #62321
I'm still not sure why `size_of_val` is the problem? It seems like anything that references a future before  it's awaited would cause the issue?

Shouldn't this not somehow proved by the borrow-checker?

I'm obviously not into compiler details and therefore don't understand the exact approach, but I'm wondering whether
- `x` could be treated as a real stack object as long as certain conditions hav

[2019-07-04 06:42] christianpoveda commented on #62347
I merged @RalfJung's branches with my branches in both the rust and miri repos and all the tests passed :D

[2019-07-04 07:03] imbrem commented on #62364
Would this be a good issue for a beginner such as myself to take a crack at?

[2019-07-04 07:09] mati865 commented on #62342
https://reviews.llvm.org/D59822 should fix it.
I'll see if I can reproduce it by cross compilation and prepare backports.

[2019-07-04 07:25] hellow554 commented on #62364
Regression in 740668dbd99dbf1726bbb0cca6cd0943ea2f7e27

Therefore probably dup of #62263

[2019-07-04 07:26] hellow554 commented on #62263
@alexreg two more ICE with self in associated types have been reported. Are you having a fix ready?

[2019-07-04 07:48] RalfJung commented on #62362
Duplicate of https://github.com/rust-lang/rust/issues/62347

[2019-07-04 07:48] #62362 closed

[2019-07-04 09:53] lzutao commented on #57492
@rustbot claim

[2019-07-04 10:02] RalfJung opened #62367 "slice::contains with borrowed data"
`HashSet::contains` has the following type to allow e.g. searching in a `HashSet<String>` with an `&str`:
[code]

However, `slice::contains` does not, so to search in an `&[String]` one has to actually allocate a `String`:
[code]

Is there a fundamental reason for this, or is this just an omission?

[2019-07-04 10:40] SimonSapin commented on #62059
This is blocking the upgrade of rustc in Servo. (And I get nagged about it every day by the corresponding CI job failing.)

Is anyone working on a revert or other fix, or should I go add `recursion_limit` to synstructure and other crates as needed?

[2019-07-04 10:42] Nemo157 commented on #43781
I was just trying this out for documenting crate features, it "works" but if this is a potential usecase it would be nice to special case the rendering for it:

---

<img width="940" alt="Screenshot 2019-07-04 at 12 35 06" src="https://user-images.githubusercontent.com/81079/60660487-2b2a1680-9e58-11e9-9b28-163c9814a14e.png">

---

<img width="454" alt="Screenshot 2019-07-04 at 12 35 27" src="http

[2019-07-04 10:43] SimonSapin commented on #62059
This is blocking the upgrade of rustc in Servo. (And I get nagged about it every day by the corresponding CI job failing.)

@rust-lang/compiler Is anyone working on a revert or other fix, or should I go add recursion_limit to synstructure and other crates as needed?

[2019-07-04 10:54] Nemo157 opened #62370 "Tracking issue for Box::into_pin (feature `box_into_pin`)"
This is a tracking issue for `Box::into_pin` implemented in https://github.com/rust-lang/rust/pull/57313

[code]

[2019-07-04 10:55] Mark-Simulacrum commented on #62367
I'm fairly certain that this was essentially just a mistake when we implemented it, but we can't change it now as it causes inference failures across the ecosystem. I believe it's been tried multiple times and crater runs are disappointing. It's possible the inference for U: PartialEq<T> or the reverse would also be worse.

[2019-07-04 10:57] #60958 closed

[2019-07-04 10:59] Mark-Simulacrum commented on #62358
Should we update the signatures to `fn contains<U>(&self, x: &U) -> bool where T: PartialEq<U>`?

[2019-07-04 11:01] Centril commented on #62358
@Mark-Simulacrum That seems like a good idea -- type inference should be driven by `x` in any case. Let's do that in the PR.

[2019-07-04 11:03] RalfJung commented on #62367
I feared that might be the case. :/

Would it be reasonable to add a `contains_bor` or so? It's a kludge, but seems better than having to allocate.

[2019-07-04 11:07] Mark-Simulacrum commented on #62367
Probably not worth it -- if you want to skip allocating `.iter().any(|e| e == foo)` is equivalent to `contains`.

[2019-07-04 11:11] RalfJung commented on #62367
Looking at the `SliceContains` specialization, I am not sure if that's equally efficient for all types?

At the least, the docs should call out this alternative then.

[2019-07-04 11:14] nagisa commented on #62059
I’m looking into this and investigating the feasibility of implementing @eddyb’s idea or some other fix. Alas, I only have sufficiently long uninterrupted chunks of time on the weekends, so the progress is slow and is very plausible that this won’t be fixed within a few days.

[2019-07-04 11:18] Mark-Simulacrum commented on #62367
Hm, yeah, that might be slower for some cases. I forgot we had specialization internally to optimize for some types. Ideally we'd get around the inference failures somehow, e.g., with a default type param, but that seems unlikely to happen soon :/

[2019-07-04 11:33] mati865 commented on #62342
I can reproduce it by cross compiling from x86_64 and unfortunately backporting https://reviews.llvm.org/D59822 did not solve the issue.
https://github.com/paritytech/parity-common/tree/9d2de86e70f8e84358d0819a92666acb4f6ab9c4/primitive-types is what exposes this LLVM bug and can be used as smaller repro.

[2019-07-04 11:43] nikic commented on #62342
@mati865 Can you provide the `--emit=llvm-ir` output from primitive-types?

[2019-07-04 11:56] timvermeulen commented on #62358
Looks like `slice`/`Vec`/`VecDeque`/`LinkedList` and possibly others have a `contains` method that could benefit in the same way.

[2019-07-04 12:04] mati865 commented on #62342
@nikic I think it's too big to be useful but here you go:
[IR.zip](https://github.com/rust-lang/rust/files/3359172/IR.zip)

Obtained with: `CARGO_INCREMENTAL=0 cargo rustc --target s390x-unknown-linux-gnu --release -- -o ir --emit=llvm-ir -C codegen-units=1 -C debuginfo=0 -C panic=abort`

[2019-07-04 12:22] Nemo157 commented on #43781
There is also the issue that it repeats every feature on every item in a page:

<img width="602" alt="Screenshot 2019-07-04 at 14 17 45" src="https://user-images.githubusercontent.com/81079/60666094-7fd48e00-9e66-11e9-9440-f3a5c249e871.png">

When I last attempted to do something about rendering features I found it much more useful to separately keep track of "all required features" to render at t

[2019-07-04 12:30] pnkfelix commented on #56068
It was unfortunately [reverted](https://reviews.llvm.org/D54747#1505749) back in May (shortly after @rocallahan last comment above...)

[2019-07-04 12:38] hellow554 opened #62373 "Improve diagnostics on self types in function signature"
[code]

gives

[code]

When having a trait in scope, it looks like this:

[code]

[code]

Both are not ideal. Improvements are welcomed :)

[2019-07-04 12:39] hellow554 commented on #62373
@rustbot modify labels: A-diagnostics T-compiler C-enhancement

[2019-07-04 12:44] pnkfelix commented on #44692
triage: P-high. Removing nomination. Assigning to @petrochenkov for primary investigation, and to myself to follow up on it.

[2019-07-04 12:51] pnkfelix commented on #62189
triage: P-high, remove nomination, assign to @oli-obk

[2019-07-04 12:55] pnkfelix commented on #62200
seems like this bug dates at least to when `'_` was stabilized in 1.26.0

[2019-07-04 12:58] pnkfelix commented on #62200
bug dates back to at *least* nightly-2017-10-15 and perhaps earlier. It seems reasonable right now to assume its been present ever since `feature(underscore_lifetimes)` was introduced.

[2019-07-04 13:04] pnkfelix commented on #62200
I'm going to have to do some background reading to remember what we are *supposed* to do in a case like this.

If you remove the occurrences of `'_` you get the same ICE behavior, and *that* behavior dates all the way back to rust 1.10.0:

[code]

[2019-07-04 13:06] pnkfelix commented on #62200
triage: P-medium. Removing nomination. Assigning to self.

[2019-07-04 13:14] pnkfelix commented on #62203
thanks to @Mark-Simulacrum for providing a [feature-free reproduction](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=1428eecd0530823e372ce19cbe66afba)

ICE appears to have been injected between 1.32.0 and 1.33.0. We could obviously use further bisection.

[2019-07-04 13:14] pnkfelix commented on #62203
triage: P-high, removing nomination, marking needs-bisect, and assigning to self.

[2019-07-04 13:18] pnkfelix commented on #62305
triage: P-high, removing nomination, needs bisect, assigning to self for initial investigation.

[2019-07-04 13:20] pnkfelix commented on #62312
triage: P-high, removing nomination.

[2019-07-04 13:22] pnkfelix commented on #62338
triage: P-medium, removing nomination, adding @matthiaskrgr to the assignee list.

[2019-07-04 13:24] pnkfelix commented on #62338
@rustbot assign @matthiaskrgr

[2019-07-04 13:27] pnkfelix commented on #62347
triage: P-medium, removing nomination, assigning to @RalfJung

[2019-07-04 13:38] pnkfelix commented on #62353
triage: P-medium. Leaving nominated and unassigned for now.

Problem arises from this code:

https://github.com/rust-lang/rust/blob/b43eb4235ac43c822d903ad26ed806f34cc1a14a/src/librustc/session/filesearch.rs#L132-L140

(it seems like an interesting problem to resolve, in terms of figuring out better way for `rustc` to handle scenario where `std::env::current_exe` returns `Err`)

[2019-07-04 13:41] amrox commented on #35968
@volodg I'm a rust novice. However, I ran through [this tutorial](https://medium.com/visly/rust-on-ios-39f799b3c1dd) with the latest rust nightly (at time of writing `rustc 1.37.0-nightly (088b98730 2019-07-03)`) and it did NOT work.

It seems like the markers are there..
[code]

But I get the following error when building for iOS device (simulator works):
[code]

That's as far as I got.

[2019-07-04 13:41] pnkfelix commented on #62364
triage: P-high, removing nomination. Assigning to @alexreg (as well as self to ensure follow-up)

[2019-07-04 13:43] RalfJung commented on #62189
FYI, Oli is on vacation for 2 weeks.

[2019-07-04 13:44] hellow554 commented on #62305
@pnkfelix regression was introduced in 740668dbd99dbf1726bbb0cca6cd0943ea2f7e27 and therefore its most likely a dup of #62263

@rustbot modify labels: -E-needs-bisection

[2019-07-04 13:45] pnkfelix commented on #62263
triage: P-high, already assigned to @alexreg so leaving as such.

[2019-07-04 13:49] soc commented on #62358
@Mark-Simulacrum I didn't do that because I checked the collections first, and they were all invariant. Shall I change this for `Option` and `Result` only?

[2019-07-04 13:57] pnkfelix commented on #62127
@rustbot assign @petrochenkov

[2019-07-04 13:59] pnkfelix commented on #62059
triage: assigning to @nagisa and myself for follow-up.

[2019-07-04 14:00] pnkfelix commented on #62059
@SimonSapin do you have any estimate of how many crates would require the recursion_limit addition?

[2019-07-04 14:01] pnkfelix commented on #60372
triage: assigning to self.

[2019-07-04 14:02] pnkfelix commented on #60363
triage: Assigning to @oli-obk and self

[2019-07-04 14:04] pnkfelix commented on #60297
nominating for discussion at meeting, hopefully to find someone with access to arm/musl to take this  on.

[2019-07-04 14:08] crone123 opened #62375 "Internal compiler error with enums"
Hello,
I found a bug while developing a project who produce an internal error.

I create this code to reproduce the error:
[code]

I got this error:
![image](https://user-images.githubusercontent.com/47423202/60672172-fd9f9600-9e74-11e9-83f2-eb2ec93e6786.png)

If you do the same using an Option, for example:

[code]

But if you do this:
[code]

You got another internal compiler error:
![image](htt

[2019-07-04 14:17] pnkfelix commented on #62353
discussed at T-compiler meeting. Assigning to @nagisa to do some detective work with the issue filer to try to get to the bottom of this weirdness.

[2019-07-04 14:19] hellow554 commented on #62375
Does not panick on nightly-2019-06-17 (playground nightly). Must have been fixed. @jonas-schievink  E-needstest?

[2019-07-04 14:20] hellow554 commented on #62375
@crone123 you should update your rust  `rustup update` :)

[2019-07-04 14:23] eddyb commented on #62353
@ryzhyk Can you run `ls -l /proc/self/exe` from inside the sandbox?
Maybe there's an owner/permission mismatch or something simple like that.

[2019-07-04 14:29] Stargateur commented on #60680
Can you only list crate `>= 1.0.0` ? Maybe sort by last update too.

I mean if I understand correctly, these crates "should" not compile, there are probably not maintains. Do we really have the ressource to keep them working for almost no gain ?

[2019-07-04 14:29] crone123 commented on #62375
Hello,
Ok with an update it's fixed:
![image](https://user-images.githubusercontent.com/47423202/60673662-8e2ba580-9e78-11e9-8fc6-71b4aa773d48.png)

Thank you :)

But, there is a way to have auto updates on Linux?
There is a way to check the enum value type without checking the content wrapped? (with a if, not a match)

[2019-07-04 14:36] nagisa commented on #62353
So a few directed questions:

* What’s the kernel version?
* Is it really `proc` filesystem mounted under `/proc/` inside the chroot (check by running `mount` inside of chroot)?
* Are you sure some of the sandboxing mechanism do not prevent access to `/proc` in some way? I know that at least nix’s sandbox does isolate some of the `/proc`, for example;

Since this code is attempting to detect sysro

[2019-07-04 14:46] pnkfelix commented on #21934
discussed at T-compiler meeting. Main issue is probably finding someone to do the work. Assigning to @estebank for now to take point on either being the champion or finding a champion. Assigning to self to make sure it doesn't fall through cracks. Removing nomination.

[2019-07-04 14:57] pnkfelix commented on #18150
after discussing at T-compiler meeting, closing this issue (which tracked an old problem that is much improved) and reopening #52941. Marking #52941 as P-high for now, but that might change in near term. (Cc @eddyb)

[2019-07-04 14:58] pnkfelix commented on #52941
reopening as the modern, more narrowly focused version of #18150

[2019-07-04 14:59] pnkfelix commented on #52941
marking P-high to reflect desired prioritization of @estebank

[2019-07-04 15:01] #18150 closed

[2019-07-04 15:04] steffengy commented on #56533
Is the argument here
"only a recent version of win10 supports it, so it doesn't belong in STD"
or
"only a recent version of windows 10 supports it, so nobody has added support yet?"

[2019-07-04 15:09] pnkfelix commented on #62375
You can use the [`Option::is_some` method](https://doc.rust-lang.org/std/option/enum.Option.html#method.is_some) like so: `if a.is_some() { ... }`

(Or you can say `if let Some(_) = a { ... }`, which I think is better style, but there are scenarios where one must resort to the `is_some` method.)

[2019-07-04 15:15] eddyb commented on #21934
As a random note, there could be some additional incentive to build parts of the necessary infrastructure for trying to incrementalize name resolution, and also help other diagnostics/rustdoc/rls (when they want to reason about scopes and the definitions that can be accessed through them).

The other side of the necessary infrastructure could be built independently, with much simpler information,

[2019-07-04 15:19] eddyb commented on #21934
Another intersection I forgot to mention is with @rust-lang/wg-diagnostics: if we end up with a type-rich diagnostic system, that should let us be more precise about contextual things like the scope for all the paths in the message (or even better, only require that contextual information if we want to put any types or other entities that have paths, into the message).

[2019-07-04 15:27] SimonSapin commented on #62059
There is one that we know of in Servo’s dependency graph (`synstructure`). I don’t know if there are more.

[2019-07-04 15:44] nagisa commented on #62059
For the purposes of rustdoc, you’ll need to add attribute not only for the `synstructure` crate, but also recursively to any crate which depends on `synstructure`. I consider that to be unfeasible. So far I’m inclined to just bump the default recursion limit to 128 or something and solve it properly later, but as e.g. stack size increase has showed, proper fix sometimes fizzles out and the resourc

[2019-07-04 15:52] Mark-Simulacrum commented on #62358
We usually can't change preexisting APIs due to inference breakage, but since this is new, we should be able to be general.

[2019-07-04 16:02] SimonSapin commented on #62059
By running `cargo doc -j 100` repeatedly, I find two affected crates in Servo’s dependency graph: `synstructure` and `derivative`. It looks like none of the dependent crates make types that are deeper still based on those.