[2020-09-19 17:31] tmiasko commented on #76600
I can reproduce the last issue on daily snapshot from 2020-09-18, usually after just a few seconds of executing program in the loop. If you do reproduce it at some point, I would appreciate if you could report this upstream, since I generally don't use NetBSD.

Simplified reproducer, since it turns out neither fork nor pthread_getattr_np is required, except for the fact that latter is allocating m

[2020-09-19 17:32] the8472 commented on #76922
Perhaps the directories could be marked as case-sensitive? Although that's a relatively recent windows 10 feature for WSL.

[2020-09-19 17:37] camelid commented on #76922
This is an issue on macOS too! The URLs at doc.rust-lang.org/std are case-sensitive, but docs from my local filesystem (`file://...`) are case-insensitive. E.g., `trait.Write.html` *and* `trait.write.html` both work!

@rustbot modify labels: O-macos

[2020-09-19 17:45] jyn514 commented on #76600
I'm going to close this, please report it upstream as a NetBSD issue. It's neither related to rust nor `fork()`.

[2020-09-19 17:45] #76600 closed

[2020-09-19 18:22] calebstewart commented on #60673
I appreciate your response. I assume this is a heavy lift, so not trying to be annoying or rush anyone, haha. What you explained makes sense, and I'll continue to track the progress moving forward. Thanks for all the hard work!

I am in fact in that very small edge case of writing byte slices to stdout, but I appreciate the heads up! It's a very good point and true in 99.99% of cases.

[2020-09-19 19:22] nikic commented on #75525
This happens because LLVM canonicalizes `idx > 5 && idx < 8` to `len & -2 == 6`, at which point it fails to reason about the implied value range.

[2020-09-19 19:31] ecstatic-morse opened #76935 "Attribute for types that should always be passed by value"
Inspired by #76914. Currently, we have a lint in `rustc` for types that should *always* be passed by value. Usually, these types are thin wrappers around references, so there is no benefit to an extra layer of indirection. However, this lint uses a hard-coded list of (diagnostic) names (currently `Ty` and `TyCtxt`). We should use an attribute (e.g. `#[rustc_pass_by_value]`) to control this. Note t

[2020-09-19 19:31] Aaron1011 commented on #76903
If the method is missing, we cannot know what components of the type may or not matter. For example, the user could have typo'd the following hypothetical method:

[code]

[2020-09-19 19:37] tronta commented on #76903
Maybe I just don't get what exactly you mean, but what exactly is missing if I just see the error
[code]
I personally don't miss `&'static`

[2020-09-19 19:38] jyn514 commented on #76692
A related issue: when this is fixed, the link text displayed for primitives will be wrong: https://github.com/rust-lang/rust/blob/8a13fc494d4365e57d8f343219f0201458b68591/src/librustdoc/passes/collect_intra_doc_links.rs#L1058

That should just say `link_text` instead.

[2020-09-19 19:41] Aaron1011 commented on #76903
I don't think we should be displaying a 'simplified' version of the actual type of the method receiver, based on where we think the actual method will be defined.

Also, using `#![feature(unsized_locals)]` allows you to actually have a local variable of type `str` (see https://github.com/rust-lang/rust/issues/48055). If we 'simplify' the error message, the user can no longer tell if the local has

[2020-09-19 20:21] djc opened #76938 "Superfluous errors for missing lifetime in async function argument"
In the example below (which is a little convoluted -- sorry, I already spent quite a bit reducing it), I'm getting what amounts to three compiler errors. But, when I fix the cause of the first error by applying the suggested fix, the other two errors go away. It feels like the compiler could be smarter about this and only throw the first diagnostic.

I tried this code:

[code]

([Playground](https

[2020-09-19 20:48] jyn514 opened #76942 "Consider making `htmldocck` more specific"
Currently `htmldocck` allows the text in rustdoc tests to be shorter, but not longer than the expected test. So if the actual text were `Option<T` and you wrote `Option<T>`, it would fail the test. But if the actual were `Option<T>` and the expected were `Option<T`, it would pass the test.

This behavior is not super intuitive and seems like it could lead to false negatives where it didn't catch r

[2020-09-19 20:50] he32 commented on #76600
@tmiasko I reported http://gnats.netbsd.org/55670 -- this is apparently caused by concurrency bugs in our "jemalloc" implementation in the netbsd-9 code base.  Reportedly this is fixed in NetBSD-current, and will be in NetBSD 10.0 when that comes out.

[2020-09-19 21:26] CAD97 commented on #76922
Copying over a comment from i-rl-o:

The non_ascii_idents RFC punts on non-ascii file paths due to file system concerns, which is tangentially related, especially for one key reason:

It'd be nice if the same mangling scheme(s) could be used both for names/paths that don't work on the filesystem/URLs due to non-ascii paths as for case-sensitivity within ASCII.

The "standard" web solution for non-

[2020-09-19 21:38] Aaron1011 commented on #74298
These impls shouldn't be allowed at all, so https://github.com/rust-lang/rust/pull/76940 should fix this

[2020-09-19 21:40] CAD97 commented on #76922
One other comment from [the same thread](https://internals.rust-lang.org/t/pre-rfc-stable-rustdoc-urls/13099), from @ogoffart:

A good potential solution is to emit a disambiguation page at `struct.Command.html` (only when deploying to a case-insensitive platform? always with an opt-out for deployment to a case-sensitive server?) that points at both `Command` and `command`, which are then mangled

[2020-09-19 21:44] Nemo157 commented on #76922
One worry I just had after non-ascii was just brought up is Unicode normalization in file systems, luckily it looks like `rustc` already does normalization when comparing identifiers, so as long as the compiler and file system do the same normalization then file systems that support Unicode but normalize it should work fine:

[code]

[2020-09-19 22:04] whizsid commented on #76863
I like to work on this issue.

[2020-09-19 22:10] nagisa commented on #54867
I’ve drafted a LLVM differential to fix this https://reviews.llvm.org/D87976.

[2020-09-19 22:12] danielhenrymantilla opened #76943 "Tracking Issue for `unsafe_cell_get_mut`"
This is a tracking issue for adding the `fn get_mut (self: &mut UnsafeCell<T>) -> &mut T` method.
The feature gate for the issue is `#![feature(unsafe_cell_get_mut)]`.

### History

- [x] Implement the RFC: #76936
- [ ] Stabilization PR: #79485

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr
[doc-guide]: https://rustc-dev-guide.rust-lang.org/

[2020-09-19 22:16] danielhenrymantilla commented on #76943
This is small enough not to need an RFC, it seems, so it can go directly to the FCP: cc @RalfJung & the rest of T-Lang

[2020-09-19 23:00] estebank commented on #64829
@steveklabnik there have been multiple changes that @Aaron1011 has made to the macro machinery to preserve their token streams to avoid the most egregious of these errors, but they will still happen when proc_macros rewrite the output TTS. I don't recall what the tracking issue for that work is.

[2020-09-19 23:03] Aaron1011 commented on #64829
The tracking issue is https://github.com/rust-lang/rust/issues/43081
I'm currently working on the last major piece (as far as stable code is concerned) in https://github.com/rust-lang/rust/pull/76130.

[2020-09-20 00:03] qarmin opened #76950 "Out of ram when compiling simple invalid code"
Hi,
I have on my machine 24GB of Ram, but all was taken by Rust when it try to compile this invalid code:

[code]

but compiling this code(which only have smaller amount of `s`):
[code]
cause showing of correct error message
[code]

### Steps to reproduce
1. Download project - [Test.zip](https://github.com/rust-lang/rust/files/5250916/Test.zip)
2. Run project by `cargo run`
3. Wait until there are

[2020-09-20 00:07] qarmin commented on #73725
With rust 1.46 compiling this code on Ubuntu 20.04 shows only error
[code]
and takes only 1.5 GB of Ram

[2020-09-20 00:29] danieldeankon opened #76980 "Build hang on Linux"
**Problem**
I am seeing the build process hang at the last few steps when attempting to build [this particular repository](https://github.com/danieldeankon/hypermine) on Linux using either the nightly or the beta toolchain. I've seen this happen for the repository both when building locally (Linux Mint) and in Github's CI (Ubuntu). This does not happen with the stable toolchain, and I have not see

[2020-09-20 00:43] ollie27 commented on #76922
Duplicate of #25879

[2020-09-20 00:43] #76922 closed

[2020-09-20 00:45] jonas-schievink commented on #76950
Please try on nightly, it should be fixed there

[2020-09-20 02:12] lzutao commented on #76863
Sorry, there's already an open PR: #76883

[2020-09-20 02:48] est31 opened #76952 "Why does only x86_64_apple_darwin have max_atomic_width set to 128?"
CI failure of  #76866 brought this to my attention. This grep shows what confuses me:
[code]

Why is the apple OS the only OS which allows 128 bit wide atomics, but the other x86_64 based OSs don't support it?

cc @Amanieu @gnzlbg @shepmaster

[2020-09-20 03:32] carbotaniuman commented on #76952
I'm not the person who put the gate in, but I think it's because all the Mac versions we support mandate it, whereas some Windows versions (7?) can get by without it.

[2020-09-20 03:45] A1-Triard commented on #64490
I don't understand, why `&raw (*(0usize as *const SomeStruct)).some_field` is not UB despite of dereferencing invalid (zero-valued) pointer.

[2020-09-20 04:04] est31 commented on #76952
Hmm yeah. See 04835ea5ec669636fdfbd84d17dbdda4c36bdd9c . It's explained [here](https://github.com/rust-lang/rust/pull/33048#issuecomment-211470945). Case rested.

[2020-09-20 04:04] #76952 closed

[2020-09-20 04:07] jyn514 commented on #76770
This is fixed on the latest nightly.

[2020-09-20 04:08] Aaron1011 commented on #76770
This still needs a test

[2020-09-20 04:12] gilescope commented on #73917
Hmm, I can't see any section for that code appearing in an OSX executable. I was expecting a section called __DATA,.rustc to be somewhere in the resulting binary, but I can't find it.

[2020-09-20 04:25] jyn514 commented on #76925
Another bug:
[code]
[code]

[2020-09-20 04:26] arijit79 opened #76953 "Move the doc directory to separate repo"
The doc directory contains documentation for various tools and also submodules for various other learning resources. I think it should be moved out to be on its own separate repo. This would help documentation writers like us to clone only the docs without cloning the entire compiler sources. Plus it has become a quite large directory with many files

[2020-09-20 04:46] laizy opened #76954 "The default overflow behavior of u128 arithmetic operation is not panic for wasm32 target."
Our team use rust to develop Wasm smart contract, and use u128 heavily. but we find out arithmetic operations of generated Wasm code overflow silently without panic, which put the contract at great security risk. We have to urgently replace all u128 usage with our wrapped type. And I think this should be fixed in rustc to make the behavior consistent with other non-Wasm target.

[2020-09-20 05:38] tronta commented on #76903
Ah. So maybe add that this is a type:
[code]

[2020-09-20 06:10] qarmin commented on #76950
Oh, I completely forgot to check nightly version.
With nightly it works fine without any visible footprint on memory.

[2020-09-20 06:10] #76950 closed

[2020-09-20 06:20] #69925 closed

[2020-09-20 06:45] est31 commented on #76953
Conversely, when you clone the rust repo wanting to change the compiler or standard library, cloning all the doc related submodules takes a lot of time.

[2020-09-20 07:02] arijit79 commented on #76953
Exactly. Its a waste of bandwidth and storage when I just need to change 1 or 2 words in the docs

[2020-09-20 07:05] joshua-maros opened #76956 "`<Box<T> as Deref>::Target` is not equivalent to `T` in this case."
This code compiles correctly:
[code]

However, this code does not:
[code]
The only change was effectively replacing `T` with `<Box<T> as Deref>::Target`. My understanding is that these are supposed to be equivalent as it is [defined that way in the standard library](https://doc.rust-lang.org/src/alloc/boxed.rs.html#993-999). The exact compile error is as follows:

[code]

### Meta
The error also o

[2020-09-20 07:26] arijit79 commented on #76953
I am willing to help to move the docs. But just need a confirmation that whether any member of the Rust team will work on that or shall I myself start it

[2020-09-20 07:36] RalfJung commented on #64490
It is UB. Why do you think it is not?

[2020-09-20 07:46] A1-Triard commented on #64490
If it is UB even with `&raw`, then why this RFC and `&raw` construction exist? It does not have any sense.

[2020-09-20 07:46] RalfJung commented on #64490
This is described in the RFC: https://github.com/rust-lang/rfcs/pull/2582.

[2020-09-20 07:53] RalfJung commented on #76943
FCP will happen when we move towards stabilization. We usually wait a few release cycles before doing that. Also this is T-libs territory, I don't think any language rules are being changed here (just clarified).

---

@rust-lang/libs this is about adding `UnsafeCell::get_mut`, a method to safely go from `&mut UnsafeCell<T>` to `&mut T`. This is a sound operation on its own, and all standard libra

[2020-09-20 08:07] joshtriplett commented on #64490
@RalfJung Re-reading the RFC, I do think it makes sense to switch to just plain getelementptr when raw refs are involved, and we can always switch to a new nowrap variant if LLVM adds one.

[2020-09-20 08:14] RalfJung commented on #64490
IIRC this came up as a future possibility during the RFC. The problem is that this means the semantics of `*` differ depending on the syntactic context, which seems rather tricky and could be surprising to programmers -- in particular when that context is introduced implicitly by the compiler (through auto-ref).

[2020-09-20 08:14] A1-Triard commented on #64490
I've read the RFC. There is many interesting in there, especially about `getelementptr inbounds`.

So, even with this new feature there is no any possibility to calculate field offset, right?

[2020-09-20 08:18] bugadani commented on #36010
Since rustc 1.45 the [following IR](https://rust.godbolt.org/z/zzPss8) is emitted:

[code]

[2020-09-20 08:22] #75586 closed

[2020-09-20 08:34] RalfJung commented on #64490
No, this feature is enough to implement `offset_of!`. In fact, https://github.com/Gilnaa/memoffset/ already does so if you set the `unstable_raw` feature.

[2020-09-20 08:35] bjorn3 commented on #73917
You may need to set the S_ATTR_NO_DEAD_STRIP section flag for Mach-O objects through some way.

[2020-09-20 08:39] bugadani opened #76960 "Division by NonZero* checks for zero"
https://rust.godbolt.org/z/eTPzE6

Technically, NonZero* types are not meant to be used for optimizing arithmetic, but people (like myself) may or may not know that or may assume otherwise.

It is possible to create a NonZero* object with 0 inner value, but since that is a misuse of the type and deliberate violation of the safety guarantees, I think it would make sense to teach the compiler that `

[2020-09-20 09:08] A1-Triard commented on #64490
Through `MaybeUninit`? I would not call it "enough to implement".

[2020-09-20 10:05] LukasKalbertodt commented on #72302
I have basically no experience with async APIs and don't feel qualified to judge if this rename is good or not. I will reassign to @dtolnay as they reviewed the original PR:

r? @dtolnay

[2020-09-20 10:09] SimonSapin commented on #64490
I’m not sure if by "this" you mean a future possibility, but I think the RFC as-is introduces exactly that problem.

Consider this code with UB:

[code]

The RFC seems to be written on the premise that problematic part of this code is the reference-creating operator `&`, and proposes a new operator that can be used instead. However that does not match my mental model at all. My understanding of ra

[2020-09-20 10:12] SimonSapin commented on #64490
By the way, shouldn’t raw pointer field projection always be safe? `&raw mut (*dangling).1` requires an `unsafe` block in current Nightly.

[2020-09-20 10:12] RalfJung commented on #76314
For some types, these functions introduce a large risk of accidentally writing non-portable code: when I am on x86_64, I might not realize that by calling `AtomicU64::from_mut` I am excluding platforms like x64_32 where `u64` has alignment less than 8.

[2020-09-20 10:20] SimonSapin commented on #73394
Stabilizing these macros but keeping the language level syntax unstable does allow us to change the exact sigils used to spell `&raw`, but it does lock us into the design of RFC 2582 that focuses on avoiding the need for `&` / `&mut` operators. I’m sorry to say it this late in the process but as commented in https://github.com/rust-lang/rust/issues/64490#issuecomment-695769136 I feel that we shoul

[2020-09-20 10:24] RalfJung commented on #64490
@A1-Triard

I mean, it literally is enough to implement it. We have constructive proof of this fact. I am not sure what else you are asking for. Maybe you consider the implementation too complicated, but that is a separate problem -- and a much less pressing one.

---

@SimonSapin

What you say is orthogonal to the RFC. It is true that for raw pointers, `*` is the only source of UB. The issue is t

[2020-09-20 10:27] danielhenrymantilla commented on #76943
Good point, although the only way they could rely on "not being to do anything with that reference" is if they (ab)used the fact that there was no other instance of type `T` around (singleton pattern, or through a highly generic API relying on "type-level generativity").

Otherwise it is other possible to:

[code]

and more generally, we can currently write:

[code]

  - which performs a read-writ

[2020-09-20 10:28] m-ou-se commented on #76314
But the same holds for the other atomics operations, right? Using 64-bit atomic cas operations will also exclude a lot of platforms.

The alternative is that people write this manually using transmute. That code will be equally non-portable, except it'll compile just fine and silently cause UB.

That said, it might be good to extend the note in the documentation to mention platforms like x86 and x

[2020-09-20 10:29] RalfJung commented on #73394
I answered on the other thread. The summary is that the problem solved by these macros is orthogonal to your concern -- it has nothing to do with `*`, and arises even in situations where there is no `*` anywhere. We might *also* want an explicit "raw deref" operator, but that does not alleviate the need for a raw address-of operator.

[2020-09-20 10:32] SimonSapin commented on #64490
I thought this was what the RFC proposes, so it looks like I deeply misunderstand it :/

[2020-09-20 10:32] RalfJung commented on #76314
Yeah, I am not saying this is a blocker. This could be something that good documentation can solve.

[2020-09-20 10:34] ijackson opened #76966 "rustdoc: Please process top-level README by default"
gitlab and crates.io both like to render the toplevel `README` (normally for a Rust crate, `README.md`).  rustdoc formats crate-level documentation in `src/lib.rs`.

The result is that for many crates, the `README` contains very useful documentation not replicated in the rustdoc.  For example, an introduction, or usage notes.

But, anomalously, that information is not shown at docs.rs and nor is i

[2020-09-20 10:35] RalfJung commented on #64490
There is, as far as I can see, not a single instance of the deref operator `*` in the RFC (except for "future possibilities"). So no, this is not what the RFC proposes. The "offsetof woes" paragraph in "Future possibilities" mentions such a change could be desirable in the future, but the rest of the RFC is specifically about creating pointers, not about dereferencing them.

[2020-09-20 10:42] m-ou-se commented on #76833
Should be fixed by #76965, which uses the information from the target file to determine alignment.

[2020-09-20 10:46] oli-obk commented on #76960
we can make `assume` const, it's a no-op in const eval anyway (though we use it to assert that the assumption holds in miri)

[2020-09-20 10:49] oli-obk commented on #76841
I don't think there's anything actionable here, please open a new issue if you find any specific things that we could optimize for

[2020-09-20 10:49] #76841 closed

[2020-09-20 10:52] RalfJung commented on #76943
Ah right, you can just *overwrite* what is in an `&mut UnsafeCell<T>`. Yeah that makes it even less likely that this would be a problem.

[2020-09-20 11:01] A1-Triard commented on #64490
@RalfJung , OK, You have convinced me. I will use `memoffset` crate.

[2020-09-20 11:03] rust-highfive opened #76968 "`miri` no longer builds after rust-lang/rust#74949"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#74949, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @oli-obk, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-09-20 11:05] heckad commented on #76841
@oli-obk, is it the expected behaviour that it does not perform optimization in [this](https://godbolt.org/z/b1fdYh) case?

[2020-09-20 11:09] oli-obk commented on #76841
It does not perform inlining, as far as I can tell this has no effects on perf though. There are lots and lots of heuristics in optimizations. I'll happily take a tracking issue for a specific optimization, but here this is just a shift of what is being optimized. If there are actual calls to `fun` and `fun2` each of these calls would likely get inlined, even if it's body did not perform inlining.

[2020-09-20 11:29] Hady-Eslam opened #76970 "Mismatch Types in Struct Type For Multi Files"
### Code
I Have 3 Files:
First File: TokenTypeLib.rs

[code]

Second File: TokenLib.rs
[code]
Third File: Lexer.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-09-20 11:31] tmiasko commented on #76740
The copy propagation incorrectly assumes that a use of a local in `Operand::Move` will not mutate it.

[2020-09-20 11:40] jonas-schievink commented on #76740
https://github.com/rust-lang/rust/pull/72632 has landed now, so we could remove CopyPropagation and focus on that instead

[2020-09-20 11:42] jonas-schievink commented on #76970
You are declaring the `TokenTypeLib` module twice via `mod TokenTypeLib;`, so all contents are duplicated. Use `use` to import it instead.

[2020-09-20 11:42] #76970 closed

[2020-09-20 12:09] mexus commented on #39412
Does anybody happen to know if there are any plans to put "macros 2.0" onto the 2021 roadmap?

[2020-09-20 12:25] lukaslueg commented on #76954
Unsigned [integers are documented](https://doc.rust-lang.org/book/ch03-02-data-types.html#integer-overflow) to silently overflow when code compiled in release mode.

[2020-09-20 12:26] jyn514 commented on #76966
It's shown on the /crate page (which I understand no one visits).

[2020-09-20 12:32] jonas-schievink commented on #76954
Cannot reproduce

[code]

[code]

@laizy please provide information for how to reproduce your issue

[2020-09-20 12:44] petrochenkov commented on #76953
Majority of subdirectories in `src/doc` are already submodules living in separate repos (<sub>*</sub>) (see https://github.com/rust-lang/rust/tree/master/src/doc), only compiler-internal docs edited together with the compiler are living in tree.

<sub>*</sub>which is pretty annoying because you cannot simultaneously update the docs when making changes in the compiler or library, so I personally st

[2020-09-20 12:54] bugadani commented on #75598
My naive assumption is that `inline(always)` would inline shorter functions more eagerly, since the relative cost of a function call is higher and also shorter functions don't contribute as much to binary bloat. Is this not the case?

[2020-09-20 12:56] lzutao commented on #53188
cc @RalfJung ^

[2020-09-20 12:57] laizy commented on #76954
@jonas-schievink open https://webassembly.studio/ ， select "empty rust project" and click "create".  copy the following code to "main.rs", and click "build & run":
[code]

@lukaslueg  thanks for your link. I didn't notice the difference between debug and release. I may need close this and keep using our own wrapped type then.

[2020-09-20 12:57] mark-i-m commented on #39412
Given the ruat 2021 posts I've read so far and my vague knowledge of the state of things, it seems unlikely. There is still some design work needed and there doesn't seem to be anyone interested in pushing it over the finish line atm.

[2020-09-20 13:00] tesuji opened #76972 "Tracking Issue for `const_assume` feature"
The feature gate for the issue is `#![feature(const_assume)]`.
It makes `core::intrinsics::assume` usable in const contexts.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, que

[2020-09-20 13:00] bugadani commented on #75035
This problem is not there any more in 1.47 beta: https://godbolt.org/z/eTPETc

[2020-09-20 13:01] lzutao commented on #76960
I'm preparing a PR for that.

[2020-09-20 13:07] #76686 closed

[2020-09-20 13:33] bugadani commented on #76960
I can add the assume after that's done.

[2020-09-20 13:39] jonas-schievink commented on #76954
Closing as expected behavior then. WebAssembly Studio uses release builds by default.

[2020-09-20 13:39] #76954 closed

[2020-09-20 13:39] duckymirror commented on #51430
@skade I'm documenting the `impl From`s in `library/std/src/sync/mpsc/mod.rs`.

[2020-09-20 13:41] jyn514 commented on #76584
@bbqsrc let me know if you need help working on this :)

[2020-09-20 13:44] bbqsrc commented on #76584
Ah, been side tracked by life. I intend to look into this next weekend at this stage. Will definitely ping if I need anything, most likely on Zulip. 😄 thanks

[2020-09-20 13:44] bugadani commented on #60044
I'd like to point out, that this is not caused by NonZero*, but Atomic*:
https://rust.godbolt.org/z/czeWsc

[2020-09-20 13:45] bugadani commented on #76960
Duplicate of #49572

[2020-09-20 13:45] #76960 closed

[2020-09-20 14:05] hch12907 opened #76976 "Tracking Issue for `num_as_ne_bytes` feature"
The feature gate for the issue is `#![feature(num_as_ne_bytes)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a ded

[2020-09-20 14:31] bugadani commented on #66234
This seems to be fixed in nightly: https://rust.godbolt.org/z/f7TxG5

[2020-09-20 14:36] arijit79 commented on #76953
I had already tried to do what you have suggested. I had a PR where I needed to merge 6 commits but then the assignees and the reviewers said that I needed to squash the commits. And for doing that I needed to clone the fork repo

[2020-09-20 16:15] ehuss commented on #76980
Transferred the issue to rust-lang/rust.  This is a rustc issue, and I don't think there is a lot that Cargo can do about it.  rustc is doing work, it just never finishes.

I have bisected this to #73526.  cc @cuviper, are there any known issues with the LLVM 11 upgrade causing rustc to go into any kind of infinite loops?  When I attached with gdb, it looked like it was deep inside a proc macro (v

[2020-09-20 16:20] cuviper commented on #76980
I'm not aware of any LLVM 11 issues like that.

[2020-09-20 16:21] LeSeulArtichaut commented on #76980
@cuviper Did you remove I-hang and T-compiler labels intentionally or was it conflicting with the fact that I just added them?

[2020-09-20 16:23] cuviper commented on #76980
@LeSeulArtichaut I only meant to change the regression label. I used the Android client, so I guess it batched that update, with clobbering. 🤕

[2020-09-20 16:24] LeSeulArtichaut commented on #76980
Adding them back now, and I’ll mark this conversation as resolved to limit the noise

[2020-09-20 16:27] LeSeulArtichaut commented on #76980
@rustbot ping llvm

[2020-09-20 16:35] leonardo-m commented on #75035
It needs a wider testing, with double and triple nested loops too.

[2020-09-20 17:18] #76202 closed

[2020-09-20 17:18] #76715 closed

[2020-09-20 17:18] #66075 closed

[2020-09-20 17:22] ijackson commented on #76966
Joshua Nelson writes ("Re: [rust-lang/rust] rustdoc: Please process top-level README by default (#76966)"):

Here is an example:

  https://docs.rs/ambassador/0.2.1/ambassador/
  https://github.com/hobofan/ambassador

I'm not sure exactly what you mean by "the /crate page".  I tried
various URLs which seemed like they might be what you meant without
any luck.

Is the page you are referring to gene

[2020-09-20 17:30] aclysma commented on #62633
I'd like to see `unwrap_none` be completely parallel to `unwrap_err`. `Result` has unwrap(self) and unwrap_err(self), so I think `Some` should likewise have unwrap(self) and unwrap_none(self).

[2020-09-20 18:45] jyn514 commented on #76966
The readme for that crate is shown here: https://docs.rs/crate/ambassador/0.2.1

[2020-09-20 18:45] #76863 closed

[2020-09-20 18:45] jyn514 commented on #76966
It's generated by docs.rs, not rustdoc.

[2020-09-20 19:09] berkus commented on #76698
Hi, any news on this?

[2020-09-20 19:17] Mark-Simulacrum commented on #76698
The state as of 3 days ago (https://github.com/rust-lang/rust/issues/76698#issuecomment-694273128) reported in this thread is still accurate.

[2020-09-20 19:19] AndreKR opened #76984 ""cannot find -lgcc_eh" since nightly-2020-09-08-x86_64-pc-windows-gnu"
Empty cargo project with `fn main() {}`. Target is nightly-2020-09-08-x86_64-pc-windows-gnu, there's the latest (9.2.0) GCC from [TDM-GCC](https://jmeubank.github.io/tdm-gcc/) in the PATH.

[code]

I tried pinpointing the exact version where it breaks, but because some nightlies are broken I could only determine a range:

`rustup default ...` | Result
------------ | -------------
`nightly-2020-08-

[2020-09-20 19:26] ijackson commented on #76966
Joshua Nelson writes ("Re: [rust-lang/rust] rustdoc: Please process top-level README by default (#76966)"):

Oh so it is!

I still think it would be good for there to be a way to get it from
rustdoc.  Hopefully usefully linked into the other rustdoc-generated
pages.

Thanks,
Ian.

--
Ian Jackson <ijackson@chiark.greenend.org.uk>   These opinions are my own.

Pronouns: they/he.  If I emailed you fr

[2020-09-20 19:46] nikic commented on #75525
Partial fix: https://github.com/llvm/llvm-project/commit/445db89b537e5397a2d4b08e79751edb845b2c2a

[2020-09-20 19:51] heckad commented on #76841
Oh, thank you for the good explanation.

[2020-09-20 20:00] #68867 closed

[2020-09-20 20:55] camelid commented on #67375
Requesting reprioritization.

@rustbot modify labels: I-prioritized

[2020-09-20 20:57] camelid commented on #67375
Hmm, rustbot isn't setting the label... I think I'm allowed to do that:

https://github.com/rust-lang/rust/blob/2e0edc0f28c5647141bedba02e7a222d3a5dc9c3/triagebot.toml#L7

[2020-09-20 20:58] nikic commented on #75978
This would very likely be fixed by https://reviews.llvm.org/D87972.

[2020-09-20 21:33] frxstrem commented on #76984
I'm able to reproduce with TDC-GCC (9.2.0) but not with MinGW-w64 GCC (10.2.0), so it seems to be compiler specific. If I'm not mistaken, only MinGW is officially supported.

I was not able to get `cargo-bisect-rustc` working for this (it seemed to fail for every nightly months back, for some reason), but through manual bisection I found that `rustc 1.48.0-nightly (80fc9b0ec 2020-09-02)` succeeds

[2020-09-20 21:34] hbina commented on #75577
I am literally unable to test if my changes fix this problem because 13.6 GB RAM and 2GB swap is not enough to test it....But if I understood this correctly, the solution is to simply implement `Clone` and execute the clone as a lambda inside `ensure_sufficient_stack`.

[2020-09-20 22:00] #76968 closed

[2020-09-20 22:05] matthiaskrgr commented on #65466
Still crashing (obviously on nightly, beta and stable by now...).

[code]

[2020-09-20 23:46] Dylan-DPC commented on #67375
well you need to re-"request to prioritise" it not re-prioritise it , so you should mark it as `I-priortize` so we can discuss it.

[2020-09-20 23:48] camelid commented on #67375
Oops, it's because I made a typo :)

@rustbot modify labels: I-prioritize

[2020-09-21 01:04] Karatla opened #76989 "tcpStream error"
[code]
Hi i am New in rust. I an using standard v1.46 rust and i have a error can not fix it. please help me!

My code above.

I don't know why when i use _cargo run_ in vscode terminal It works good . but when i _cargo run_ in mac os terminal It has error.
I discover that as long as tcpStream amount below  250 It would no error.
![mmexport1600650224313.jpg](https://user-images.githubusercontent.c

[2020-09-21 01:30] tmandry opened #76990 "x.py install does nothing when `target` is set but `host` is not"
With a valid install prefix under `install.prefix` in config.toml, I see this:

[code]

But nothing is installed. This is a recent regression. At first I thought it had to do with the default stages changing, but passing `--stage` doesn't seem to have an effect.

[2020-09-21 01:38] Lokathor opened #76991 "warn(missing_docs) doesn't trigger on extern declarations"
[playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ba1bff872a1e65a60d097d5fe652186)

It seems like this lint should fire if you have an `extern` declaration without docs on it.

[2020-09-21 01:41] tmandry commented on #76990
It looks like this regressed in #76415, cc @Mark-Simulacrum

[2020-09-21 01:43] camelid commented on #76991
@rustbot modify labels: A-lint T-compiler C-bug

[2020-09-21 02:01] workingjubilee commented on #21690
@rustbot modify labels: +A-floating-point

[2020-09-21 02:01] workingjubilee commented on #63171
@rustbot modify labels: +A-floating-point, +A-fmt

[2020-09-21 02:02] workingjubilee commented on #24623
@rustbot modify labels: +A-floating-point, +A-fmt

[2020-09-21 02:02] workingjubilee commented on #31407
@rustbot modify labels: +A-floating-point

[2020-09-21 02:06] workingjubilee commented on #57543
@rustbot modify labels: +A-floating-point

[2020-09-21 02:14] lzutao commented on #76989
Is url.com a valid address ?
Also, this is not a compiler bug. Issues like this could be asked in forum users.rust-lang.org/
or discord.

[2020-09-21 02:19] joshtriplett opened #76992 "When linking statically, native libraries should go inside --start-group/--end-group for robustness"
When rustc links rlib libraries, it puts all the libraries inside a `--start-group`/`--end-group` pair, causing the linker to resolve backreferences from a library later in the command line to one earlier in the command line.

However, when rustc links native libraries, it puts libraries on the command line in whatever order it encountered them in code.

With shared linking, that works fine. But w

[2020-09-21 02:19] lzutao commented on #75577
@rustbot modify labels: E-needs-mcve E-needs-test
@hbina Please remove the close keyword from #76985 body until we have tests for this issue.

[2020-09-21 02:53] jyn514 commented on #76990
The default stage for `install` and `dist` is still stage 2.

[2020-09-21 03:01] workingjubilee commented on #57543
@ExpHP Dividing a negative number by {f32, f64}::signum is functionally equivalent to abs(a), and Rust's stability guarantee is not infinite leverage against fixing implementations, the question is whether or not this would be a fix.

However, I am not unsympathetic to your position, and in fact speaking of the absolute value function, I would say at the very least, making this return 0.0 always w

[2020-09-21 03:48] Karatla commented on #76989
url just is example.

[2020-09-21 03:54] lzutao commented on #76989
The error said it cannot connect to url.com. Try another valid address.
Also like I said, this should be asked in the forum.

[2020-09-21 03:54] eddyb opened #76997 "MIR inlining doesn't properly adjust SourceScopeData parent_scope fields."
After MIR inlining, this example (see on [godbolt](https://godbolt.org/z/v6Er48)):
[code]
produces this scope shape (I've removed all the `let`s and spans):
[code]

You can see `x` is properly located, in the inlined outermost callee scope (2) as a child of the callsite scope (1).
But `y` isn't, as its scope (3) keeps the original `parent_scope` (0) it had in the callee body, *pre*-inlining.

Will

[2020-09-21 03:58] Karatla commented on #76989
OK . Thank you

[2020-09-21 04:34] petrochenkov commented on #76992
https://sourceware.org/binutils/docs/ld/Options.html

Circular dependencies are not a common case, and it's better to pass the required libraries multiple times like `-lfoo -lbar -lfoo`, which would do the same thing as `--start-group` / `--end-group`, but explicitly more precisely.

[2020-09-21 04:57] petrochenkov commented on #76992
I guess this issue is motivated by linking libc and libgcc or something.
[NEEDS VERIFICATION] If I remember correctly, gcc uses the grouping directives for them, but clang emits a `-lfoo -lbar -lfoo`-style sequence.

[2020-09-21 05:28] lcnr commented on #76991
@rustbot claim

[2020-09-21 05:33] lcnr commented on #67375
related to const generics, fixed by both `min_const_generics` and `const_generics`.

This bug is expected, marking as `E-needs-test` for now.

[2020-09-21 05:52] eddyb commented on #76997
Fixing this has (correct) effects on existing `mir-opt` tests, e.g.:
[code]

I remember seeing some of this and wondering why the scopes were unnested like that, hah!

[2020-09-21 06:41] joshtriplett commented on #76992
@petrochenkov The issue is that most crates don't account for static linking at all, and while the specification of `#[link` does emit multiple library links when specified multiple times, that's *not* intuitive behavior at all. People are used to the behavior of dynamically linked libraries, which handle reverse/circular dependencies automatically. (And as far as I can tell, ldd also handles circ

[2020-09-21 07:00] RalfJung commented on #76865
Right now, we don't even have an attribute to tell when a function was added at all, right? For the standard library, this is done via `#[stable(since=...)]`, which is part of the unstable `staged_api` feature. IMO it would make little sense to expose anything like that for`const fn` without first exposing it for items in general.

A related feature request would be for rustdoc to actually render

[2020-09-21 07:06] RalfJung commented on #76892
That is exactly what volatile is for, though... wanting volatile and wanting optimizations is somewhat of a contradiction.

In UCG discussions around volatile (https://github.com/rust-lang/unsafe-code-guidelines/issues/33, https://github.com/rust-lang/unsafe-code-guidelines/issues/152) the general consensus was that the language itself should only offer volatile operations that cannot be teared --

[2020-09-21 07:07] jhpratt commented on #76865
Having when an item was added would also be quite useful. What I've been doing with the time crate is just saying "this function is `const fn` when using rustc >= 1.x.0", which obviously isn't ideal. It's a similar use case that led to `doc_cfg` (albeit that is still unstable).

Has the docs team ever considered exposing something along the lines of `#[stable(since=...)]` to libraries? Off the top

[2020-09-21 07:21] RalfJung commented on #76865
I'm afraid I don't know. I am just saying, I think this issue should be phrased as a general "please expose the 'since' mechanism used in the standard library also to user crates" (aka "stabilize parts of `staged_api` in one form or another"); the problem is not specific to `const fn`.

I'll open a separate issue for showing "const-since" information in the standard library.

[2020-09-21 07:23] RalfJung commented on #58775
@oli-obk isn't this resolved by `#[rustc_const_stable]`?

[2020-09-21 07:24] RalfJung opened #76998 "Standard library rustdoc: show since when a function is const"
The standard library has `#[rustc_const_stable]` attributes for all stable `const fn`. These contain `since` information. It would be great if rustdoc could render that, indicating since when this function is const-stable.

[2020-09-21 07:26] oli-obk commented on #58775
Yes

[2020-09-21 07:26] #58775 closed

[2020-09-21 07:26] RalfJung opened #76999 "PR CI: also run clippy tests"
The PR CI runner currently does not seem to run clippy tests. Would be nice if it would. :)

Cc @Mark-Simulacrum @rust-lang/clippy

[2020-09-21 07:28] jhpratt commented on #76865
My question is specifically relating to `const fn`, though. If a user sees that a function is `const fn`, they could naïvely assume that that was _always_ the case, even if it's not. If they're using an older compiler (even with the latest of the library), the function _isn't_ `const fn` for them. While the docs would render the correct signature if the user builds the docs themself, I'm fairly ce

[2020-09-21 07:35] leonardo-m commented on #26494
A related thread:
https://users.rust-lang.org/t/regarding-funciton-calls/48359

[2020-09-21 07:41] RalfJung commented on #76865
But the exact same thing applies to functions that only *exist* on sufficiently recent compilers (because older compilers lack some feature they require). I see nothing specific to const-fn here, so I don't see why the solution would be const-fn-specific.

[2020-09-21 07:46] jhpratt commented on #76865
While true, I don't _personally_ see a use-case where a function wouldn't exist on older compilers — the crate author is more likely to shim functionality or bump MSRV. But I see your view point.

[2020-09-21 08:02] #76989 closed

[2020-09-21 08:17] leonardo-m opened #77002 "Miscompilation with mir-opt-level=2"
This little matrix processing code shows miscompilation if compiled with:
[code]

But it compiles correctly with:
[code]

With:
[code]

[code]

[2020-09-21 08:26] minagawah commented on #25289
I am on Ubuntu 20.04, and I got the same error when I did:
[code]
So, I installed postgres [following the instruction](https://www.postgresql.org/download/linux/ubuntu/), then I did:
[code]
and it fixed my problem.

[2020-09-21 08:34] mati865 commented on #76992
It could have been "significant performance cost" 2 decades ago.
Rust already puts 13 libraries into `--start-group/--end-group`:

<details>
<summary>List of the libraries</summary>

[code]

</details>

I'm wondering if this is observable slowdown.

[2020-09-21 08:38] AndreKR commented on #76984
I removed the TDM-GCC directory from my PATH and I did *not* add any other directory to it and now Rust/Cargo is using `.multirust\toolchains\nightly-x86_64-pc-windows-gnu\lib\rustlib\x86_64-pc-windows-gnu\bin\self-contained\ld.exe` and everything works. :+1: It's a bit unexpected for me that it will prefer tools in the PATH over the bundled ones, can I disable that behavior?

[2020-09-21 08:47] joshtriplett commented on #65447
I have this successfully working; just waiting on a release of the libc crate containing https://github.com/rust-lang/libc/pull/1899 .

[2020-09-21 09:23] mati865 commented on #76984
It was changed in https://github.com/rust-lang/rust/pull/76167

@AndreKR you can disable it with `-C link-self-contained=yes`.
To avoid using it everytime you can add it to cargo config:
[code]

The motivation for this change was the fact when crate builds C code it will use compiler from the path (Rust bundles linker but not the compiler).
Combining libraries linked with different MinGW versions

[2020-09-21 09:34] WaffleLapkin commented on #21903
Is there any chance this will be implemented in edition 2021?

[2020-09-21 09:44] mati865 commented on #57831
IMO with MMX support removed from Rust this should be closed.

[2020-09-21 09:46] jonas-schievink commented on #77002
[code]

[2020-09-21 09:59] RalfJung commented on #74840
If this issue gets closed by your https://github.com/rust-lang/rust/pull/76982, then we should make sure to track the above problem (and considered solutions) somewhere else.

[2020-09-21 10:09] rybertm opened #77007 "#[cfg(feature = "f")] not correctly evaluating inside macro with feature set on MacOS"
I tried this code:

`test_cfg_bin/main.rs` with `test_cfg_lib` as dependency and feature `f` set:
[code]
`test_cfg_lib/lib.rs`:
[code]

I expected to see this happen: "test fn" and "test macro" to be printed

Instead, this happened: only "test fn" got printed

### Meta

`rustc --version --verbose`:
[code]

This happens in the stable version as well.

[2020-09-21 10:14] jonas-schievink commented on #77007
This is working as expected. The `cfg!` macro is expanded inside the binary crate, in which `cfg(feature = "f")` is not set.

[2020-09-21 10:14] #77007 closed

[2020-09-21 10:17] WaffleLapkin opened #77010 "Setting associated type of a trait breaks supertrait bounds"
This code compiles fine until you'll uncomment `BAssoc = ()`.
[code]

With `BAssoc = ()` the code fails to compile with the following error:
[code]

That seems really weird - how making type less generic makes code that should work for any type fail?

### Meta

Tested on stable `1.46.0` and `1.48.0`-nightly (2020-09-20 1fd5b9d516c035a898dc)

[2020-09-21 11:32] oli-obk commented on #74840
So... I looked a bit deeper and realized that it's not related to anything in the MIR or MIR building at all, but it's typeck which treats all diverging expression (path expression to an extern static in this case) as causing all following expressions to be unreachable, even if in the raw pointer case this is not technically true. More details can be found in https://github.com/rust-lang/rust/pull

[2020-09-21 11:45] RalfJung commented on #74840
Agreed. It could directly recommend `()` as said dummy type.

That said, isn't something like this still needed to make `&raw const STATIC` not create an intermediate reference? The only remaining reason why that is bad is that references technically are UB when they point to invalid data, raw pointers are not... so in principle we could just add a FIXME and rely on the compiler not exploiting thi

[2020-09-21 11:49] petrochenkov commented on #76992
I guess someone needs to check the perf impact of wrapping everything into a group with BFD linkers (for both ELF and COFF) in common scenarios like "no cyclic dependencies" or "one cyclic dependency between libc and libgcc at the end of a long library list".

Functionally this should be ok in practice since LLD is always doing this implicitly and [reports no issues](https://lld.llvm.org/NewLLD.ht

[2020-09-21 11:50] oli-obk commented on #74840
Yea, I am currently rewriting that PR, but I wanted to separate it from the UB situation here.

[2020-09-21 12:14] amberisvibin commented on #25289
I was able to fix it by installing `libxcb-shape0-dev`. Looks like this is related to a library issue. A better error message would be nice.

[2020-09-21 12:20] sofia-m-a opened #77011 "Compiler doesn't think trait is implemented in array size expression"
In the following code,

[code]

both Rust Stable 1.46 and Nightly 1.48 report that

[code]
The bound `C` on the generic parameter `B` is correctly picked up at the type level, for `t: C::D`, but not at the constant-value level,
for `<B as C>::SIZE`

Moreover, the suggested fix is useless

### Meta

`rustc --version --verbose`:
[code]

The bug also seems to affect Stable 1.46

If this is intended b

[2020-09-21 12:22] petrochenkov commented on #76992
Also, I have no idea about grouping in macOS linkers.

[2020-09-21 12:24] #74298 closed

[2020-09-21 12:33] mati865 commented on #76992
The issue with LLD approach is visible when you are using 32-bit LLD binary on Windows. It has hard time linking huge projects like LLVM.
But yeah, after quick look in the code `--{start,end}-group` is ignored by MinGW and ELF drivers.
Other drivers seem to not accept `--{start,end}-group`.

On Linux we should test BFD and GOLD and on Windows just BFD.

[2020-09-21 12:35] jonas-schievink commented on #77011
Thanks for the report! This is currently a known issue where array lengths cannot make use of generic parameters, which is tracked in https://github.com/rust-lang/rust/issues/43408, so closing as a duplicate of that.

[2020-09-21 12:35] #77011 closed

[2020-09-21 12:52] #76619 closed

[2020-09-21 12:52] #34634 closed

[2020-09-21 13:05] jyn514 commented on #67375
Re-prioritizing as P-medium [as discussed by the prioritization WG](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts).

[2020-09-21 13:10] steveklabnik commented on #39081
Triage: no change https://github.com/rust-lang/rust/blob/45f638bd8620592b7c50e9b483c2aa8ef9715f5d/library/std/src/sys/unix/os.rs#L556

[2020-09-21 14:37] autumnontape commented on #76892
`volatile_set_memory` currently lowers to a memset call, similar to functions like `explicit_bzero` that exist in C for this purpose. I would be in favor of naming the function something other than "volatile" and perhaps leaving open the possibility for it to do things other than write to exactly one span of memory, e.g. to overwrite registers instead of forcing data that would otherwise be kept i

[2020-09-21 14:37] rustonaut commented on #67521
Shouldn't most methods of `Layout` be `const`?

This would allow certain usages where a custom derive + const is used to calculate field offsets of `repr(C)` structs at compiler time. Which can be useful to create pointers to fields without ever having a reference to the struct. Which should be useful if working with unaligned structs or creation of custom DST (once we have a way to create fat-poi

[2020-09-21 14:39] rustonaut commented on #67521
Open questions:

- Did I overlook anything?
- which solution for `?`/`Option.ok_or`?
- how to handle the `debug_assert_eq!` in `array`?

[2020-09-21 15:46] GopherJ opened #77018 "src/librustc_mir/borrow_check/type_check/free_region_relations.rs:316: failed to compute implied bounds"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2020-09-21 15:47] GopherJ commented on #77018
This error seems happened in: https://github.com/GopherJ/rsmq-async-rs

[2020-09-21 15:49] jonas-schievink commented on #77018
Rust 1.43.0 is old, please retry on the newest nightly.

[2020-09-21 15:51] GopherJ commented on #77018
@jonas-schievink I'm trying, I saw the error message mentioned `src/rsmq/receiver`. I can show this part of code:

[code]

[2020-09-21 15:52] GopherJ commented on #77018
@jonas-schievink just verified it's the same error, I cannot compile my project

[2020-09-21 15:58] GopherJ commented on #77018
The `Cargo.toml` in case it helps:

[code]

[2020-09-21 16:12] GopherJ commented on #77018
@jonas-schievink Actualy I'm not sure what happened, I changed to nightly, then cleaned sccache, fixed part of errors in my code. magically it compiles again...

[2020-09-21 16:16] jonas-schievink commented on #77018
Hmm, it would be good to find a reproducible example of the issue, but without that it doesn't really seem possible to investigate further, so feel free to close

[2020-09-21 16:35] tmiasko commented on #76930
[code]

<details><summary>LLVM IR</summary>

[code]

</details>

[2020-09-21 16:36] jyn514 opened #77019 "Give a better error message for `=>` in a return type"
Spot the difference ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2fb595a9d8f1d089fcd5842f67250815)):
[code]
[code]
Notice how this gives a hard parse error and doesn't even mention return types. Instead, it should suggest `g() -> usize`.

[2020-09-21 17:09] steveklabnik commented on #45543
Triage: don't have a good way to test this out, since I don't really know anything about sparc64.

[2020-09-21 17:21] mibac138 commented on #77019
@rustbot claim

[2020-09-21 17:41] haroldm commented on #63063
I came across a case that may be a bug and/or may be linked to #76039.

This code doesn't compile with a "mismatched types" error:
[code]
[(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bd1dd99acfddef65a2c510c6430593a8)

When defining the type directly in the function prototype, it does compile [(playground)](https://play.rust-lang.org/?version=nightly&mode=

[2020-09-21 17:48] Arnavion commented on #63063
@haroldm The error is correct. The feature is for callee-defined types, whereas you're trying to use it as a type parameter, ie a caller-defined type.

[2020-09-21 17:54] HeroicKatora commented on #67186
The availability of `unreachable` has been resolved so I went ahead and implemented it.

[2020-09-21 17:55] arijit79 commented on #76953
Hey guys. I just wanted to ask whether I should work on to fix this issue

[2020-09-21 17:56] ijackson opened #77024 "rustdoc: Please provide way to set the default theme"
When I view rustdoc-generated documents via file:// urls on my own system, the (I think cookie-based) mechanism for saving my doc theme preference does not work.

Can we please have a command-line option or config file setting or something, to change the default theme?  (I guess it might be possible to do this with `--extend-css` but that seems complicated and probably fragile too.)

I imagine imp

[2020-09-21 18:02] jyn514 commented on #77024
`-Z unstable-theme` seems reasonable (or `-Z unstable-options --default-theme`). @Cldfire might have suggestions for how to implement it.

[2020-09-21 18:55] ecstatic-morse commented on #76935
Clippy has a more expansive, [allow-by-default version](https://rust-lang.github.io/rust-clippy/master/#trivially_copy_pass_by_ref) of this BTW.

[2020-09-21 19:11] termhn commented on #65844
This also happens when compiling _with_ `target-feature=sse2` rather than explicitly disabling (`target-feature=-sse2`) with opt-level=0

Also, possibly related but slightly different (I can open another issue if you want), when building with `target-feature=sse2` and `--release` (opt-level=3), I get a different segfault within rustc..

[code]

[2020-09-21 19:18] avl opened #77026 "compiler crash using specialization"
I tried this code:

[code]

To be completely honest, I wasn't sure this would really work. But I suppose it could be argued that the compiler shouldn't crash.

Instead, this happened:

[code]
etc etc etc

This happened just now on 2020-09-21 at the Rust playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=005db744fc083053388b84c8b68d1751 .

I know specialization isn

[2020-09-21 19:43] withoutboats commented on #64490
That's not correct; the use case that the RFC immediately addresses has to do with packed structs and not dereferencing raw references.

[code]

This code contains UB, as I understand it, because it creates an unaligned reference to an i32. This despite the fact that it contains no raw references at all. Eventually we'd like to make this a compiler error.

The raw ref macros like you get an `*mut

[2020-09-21 19:54] Mark-Simulacrum commented on #77024
Are we sure that there's nothing we can do that'll work for file:// URLs? I guess most things are probably tied to the domain, but maybe something that's global to file:/// exists? I'm not personally familiar with browser APIs that would allow this though.

[2020-09-21 21:28] lcnr opened #77030 "doc comments on extern blocks are ignored"
For the following snippet
[code]
`test` is documented with `Ho` but `Hey` is nowhere to be found. It probably makes sense to error/warn if doc comments are used on extern blocks

[2020-09-21 21:50] lcnr commented on #76991
the fix wasn't more general but it's a fix none the less #77032

[2020-09-21 21:57] jonas-schievink commented on #77002
Hmm, on first glance the replacement it performs looks correct: It replaces local `_6` (`res`) with the return place `_0`. Previously the return place was only used in the `return` block by a `_0 = _6` copy statement, so this transformation should be correct.

Maybe this part of the diff causes a problem?

[code]

We're using our return place as the return destination for the inner call. It's poss

[2020-09-21 22:00] lcnr commented on #76956
We currently do not normalize projections `<Ty as Trait>::AssociatedType` if they contain unbound variables (stuff which is introduced using a `for` qualifier, `'a` in your example). This means that we never actually see that `<Box<&'a i32> as Deref>::Target` is equal to `&'a i32`.

cc @eddyb @nikomatsakis but I don't think we can do much about cases like this for now.

[2020-09-21 22:22] jonas-schievink commented on #77002
Ah, there's this bad call in LLVM IR:

[code]

It passes a reference to `%g2` as both the return pointer, and the second (immutable) argument.

[2020-09-21 22:34] jonas-schievink commented on #77002
...and we have this corresponding MIR, where we already incorrectly pass a reference to `_0` as an argument, while also assigning the call result to it:

[code]

The destination propagation pass already has code that prevents merging a call destination with one of the arguments, but here we pass a *reference* instead. Curiously, the `&_0` was produced by merging `_4` with `_0`, which is not really

[2020-09-21 22:42] faern commented on #57391
The `Duration::MIN` and `Duration::MAX` constants are now part of this feature flag. So I comment here rather then where they were introduced (#76114). Will the smallest and largest amount of time that a `Duration` can hold always be exactly the same? The underlying implementation of `Duration` could change to a 128 bit integer for the `secs` field, keep its API identical but simply allow adding t

[2020-09-21 22:51] jyn514 commented on #77024
https://github.com/rust-lang/rustup/issues/2151#issuecomment-565452323

[2020-09-21 22:56] casey commented on #68648
I believe that I'm hitting this with very similar code. Is there a workaround, or different way of phrasing the same thing that avoids the ICE?

[2020-09-21 22:57] paulajaime2703 opened #77033 "labs1.cpp"
/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*  NOMBRE:Paula Jaime          FECHA:09/11/20                                                                                                                     *
*  MATRICULA:02973873

[2020-09-21 22:57] #77033 closed

[2020-09-21 22:58] jonas-schievink commented on #77033
Please don't submit your homework on the issue tracker. If you need help with something, check out the user forum: https://users.rust-lang.org/

[2020-09-21 23:02] mati865 commented on #76992
I ran `rustc hello.rs -C save-temps -Z print-link-args` and put that output looped 200 times in 2 scripts, one of them was modified to so it had no `"-Wl,--start-group"` and `"-Wl,--ends-group"`.

My results:
- Ubuntu 20.04 VM:
 - LLD: ~23s, no measurable difference between the scripts
 - BFD: ~30s, no measurable difference between the scripts
 - GOLD: ~22s, no measurable difference between the sc

[2020-09-21 23:24] paulajaime2703 opened #77034 "Labs2.cpp"

[2020-09-21 23:27] paulajaime2703 opened #77036 "Tracking Issue for XXX"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2020-09-21 23:35] #77036 closed

[2020-09-21 23:35] #77034 closed

[2020-09-21 23:40] ijackson commented on #77024
Mark Rousskov writes ("Re: [rust-lang/rust] rustdoc: Please provide way to set the default theme (#77024)"):

You mean to save the preferences ?  Maybe.  I'm not sure of the
browser APIs myself.

However it seems to me that it should be up to the person who is
building documents for local use, what the default theme is (for a
user who hasn't specified a personal default).  After all, maybe the
doc

[2020-09-21 23:49] workingjubilee commented on #77024
The current solution uses localStorage, which is designed to work in a "per-website" fashion but persist across sessions. However, there are several special-cases around file:// addresses in general for security reasons. I agree that a local filesystem concern should probably not be handled with Web APIs, and offering a compilation option that strips out the JS that handles localStorage and then i

[2020-09-22 00:03] Cldfire commented on #77024
@ijackson:

building documents for local use, what the default theme is (for a
user who hasn't specified a personal default).

There absolutely is. See https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/static/storage.js#L126-L128; the call to `switchTheme` defaults to `light` if no saved setting or system preference is found. It would be trivial to swap that out for a harcoded them

[2020-09-22 00:07] workingjubilee commented on #77024
...perplexed, did I say something that did not have an identical meaning?

[2020-09-22 00:13] Cldfire commented on #77024
Unless I'm misreading, your approach involves removing the `storage.js` file whereas the one I described did not. This precludes the ability to change the default theme chosen for users who haven't yet specified a default while keeping the theme picker functionality. Other than that, they're definitely very similar 🙂

[2020-09-22 01:12] workingjubilee commented on #77024
Oh, true actually, I crossed a wire at some point.

[2020-09-22 02:07] Mark-Simulacrum commented on #77024
IMO, while a compilation time option is plausible, I would personally prefer that we just make the existing options UI work locally rather than adding ability to configure defaults; that would apply (presumably) to all Rust documentation viewed through file:///, so it shouldn't be too much of a problem to configure that once.

[2020-09-22 02:21] jyn514 commented on #77024
That would be great to do, but I don't see how it's possible. There's no shared state between local files, rustdoc would need to run a local webserver which has its own issues.

[2020-09-22 02:23] workingjubilee commented on #77024
That's fair.
So, speaking of which: I cannot reproduce this bug.
I used `rustup doc` and clicked through to TRPL in Firefox. The themes were default (light) on this computer. I set the theme to the "Rust" sepia-ish theme. I then closed Firefox entirely. I then reopened TRPL in the same manner. The theme was still set. I repeated the same process with the std docs, but because they use a different

[2020-09-22 02:26] Cldfire commented on #77024
Hmm, did you try navigating to a different page within TRPL / rustdoc? At least for me locally, the theme will persist for a given URL once set, but navigating to a different page under a different URL resets it back to the default and requires changing again.

[2020-09-22 02:27] workingjubilee commented on #77024
Oh, you are correct.

Notably: file://{$HOME}/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/share/doc/rust/html/std/primitive.bool.html
and  file://{$HOME}/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/share/doc/rust/html/std/index.html
share the same theme
but every _module_ does not.

[2020-09-22 03:51] jyn514 commented on #67799
Mentoring instructions: In [`src/librustdoc/passes`](https://github.com/rust-lang/rust/tree/master/src/librustdoc/passes) add a new pass (maybe named `lint_unclosed_tags`). For an example of an existing pass, see [`unindent_comments`](https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/unindent_comments.rs).

The pass should check for the following unclosed tags:

- script
- video

[2020-09-22 03:51] jyn514 commented on #67799
Unassigning @GuillaumeGomez since it's been 9 months.

[2020-09-22 04:16] jhpratt commented on #54722
Aside from the issue regarding interpolation noted above, what's holding up stabilization here?

[2020-09-22 05:08] petrochenkov commented on #54722
`quote!` currently uses macro 2.0 hygiene, so either macro 2.0 hygiene needs to be stabilized first, or `quote!` needs to be migrated to weaker hygiene (e.g. `Span::mixed_site`).

[2020-09-22 06:02] #73260 closed

[2020-09-22 06:02] #73836 closed

[2020-09-22 06:02] #74634 closed

[2020-09-22 06:02] #76595 closed

[2020-09-22 06:02] #76991 closed

[2020-09-22 06:18] Peperud opened #77043 "non-exhaustive pattern static analysis"
[code]

Within the loop **x** can only be 1,2 or 3, yet the compiler complains with ```non-exhaustive patterns: `i32::MIN..=0_i32` and `4_i32..=i32::MAX` not covered```.
Adding a "catch all" case makes it compile of course, but it seems it should not be necessary.
All the info for the compiler to make the right decision is available at compile time.

[2020-09-22 07:01] Bargsteen opened #77046 "--remap-path-prefix broken in rustc version >= 1.46.0"
When compiling a rust program with `--remap-path-prefix` in 1.46.0, (and nightlies 1.47.0, 1.48.0) the specified prefixes in the binary are unaltered. I expected them to be changed.

When using 1.45.2 and 1.43.0, it works as expected.

## Steps to reproduce
0. Make sure you are using rustc >=1.46.0, check via `rustc --version`
1. Create a new cargo project: `cargo new --bin foo`
2. Add a dependenc

[2020-09-22 08:11] #76733 closed

[2020-09-22 08:16] oldoldman opened #77048 "crashed when list dynlib metadata"
rustc crashed when listing metadata of a dynlib , this is the stack trace
<pre>
thread 'rustc' panicked at 'index out of bounds: the len is 0 but the index is 0', /rustc/0f91f5c284c72e69bb7115586b7756874c59cbbe\src\librustc_serialize\leb128.rs:50:1
stack backtrace:
   0:     0x7ffd42b59f69 - <std::sys_common::backtrace::_print::DisplayBacktrace as core::fmt::Display>::fmt::h821f4dd582550bfb
   1:

[2020-09-22 08:47] leonardo-m commented on #77043
This is a known limitation of the current compiler. Another example of this known limitation, here rustc gives a similar error:

    fn foo(x: u32) -> char {
        match x % 3 {
            0 => 'a',
            1 => 'b',
            2 => 'c',
        }
    }

We have good compiler developers, perhaps eventually this will be worked on.

[2020-09-22 10:31] jonas-schievink commented on #77043
This is working as expected. Exhaustiveness is checked purely based on the type of the matched expression. Changes to this would require an RFC, so closing in favor of that.

[2020-09-22 10:31] #77043 closed

[2020-09-22 10:50] lzutao commented on #77048
Please try a newest nightly.

[2020-09-22 12:41] tmiasko commented on #77002
The propagation is disabled only if both locals have their address taken. Changing that to be more conservative does fix this issue.

Minimized:

[code]

[2020-09-22 12:42] jonas-schievink opened #77052 ""type annotations needed" when duplicated where-clauses use different lifetime parameters"
The following code should compile, but it seems to confuse the compiler and results in a very poor error message:

[code]

[code]

There should not be any type inference happening in the where-clause, so getting this error is fairly absurd.

Same thing happens with other traits than `Copy`, and also with concrete types like `()` instead of a type parameter `T`.

[2020-09-22 12:47] jonas-schievink commented on #77002
Oof, this should have been an `||`, not an `&&`

https://github.com/rust-lang/rust/blob/c113030f6b7d10cd27ac7091718e6f48ecf56a63/compiler/rustc_mir/src/transform/dest_prop.rs#L907-L908

[2020-09-22 12:47] jonas-schievink commented on #77002
Thanks @tmiasko!

[2020-09-22 13:01] #76617 closed

[2020-09-22 13:30] paulajaime2703 opened #77053 "Lab2.cpp"

[2020-09-22 13:33] paulajaime2703 opened #77054 "Lab2.cpp"

[2020-09-22 13:33] lzutao commented on #77053
Do you intent to spam issues or homeworks on us ? #77036 #77034
Please don't.

[2020-09-22 13:40] #77053 closed

[2020-09-22 13:40] #77054 closed

[2020-09-22 13:42] paulajaime2703 opened #77056 "Lab2.cpp"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2020-09-22 13:44] paulajaime2703 opened #77057 "Lab2.cpp"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-22 13:49] #77057 closed

[2020-09-22 13:49] #77056 closed

[2020-09-22 13:56] vandenheuvel opened #77058 "Code generation issue blocks the removal of an unused struct field"
The `unused_field` field of type `Option<DefId>` in `ParamEnv` is not used but removing the field has a strange and undesired effect on compiler performance.

When the field is removed, performance changes as in https://github.com/rust-lang/rust/issues/74865 are observed: an instruction count gain of about 1% across all tests, with the unicode_* tests demonstrating a 3% **increase**, even though,

[2020-09-22 14:04] Galadrin opened #77059 "building rust package using custom toolchain."
Hi, we encountered an issue when building some package using custom toolchain.

We discovered the issue when building the [bat](https://github.com/sharkdp/bat) program with buildroot project.

cargo/rust is in trouble when the toolchain prefix is not listed in [supported_targets](https://github.com/rust-lang/rust/blob/c367798cfd3817ca6ae908ce675d1d99242af148/src/librustc_target/spec/mod.rs#L491),

[2020-09-22 14:38] thibaud-tortech commented on #73677
Just to let you known that we are also impacted by this bug.

[2020-09-22 14:48] JohnTitor commented on #74906
Triage: It's now compiled successfully with `const_genetics` with the latest nightly.

[2020-09-22 14:49] jgouly commented on #73677
I'm currently working around this with:
    `RUSTFLAGS="-C llvm-args=-global-isel=false"`

[2020-09-22 14:57] bossmc commented on #47551
Rustc's musl-targeting link includes:

[code]

I don't exactly know where the `crtX.o` files come from (they're shipped with the compiler toolchain, e.g. mine are in `~/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-musl/lib/self-contained/`) but looking at the musl codebase, there's no terminator in `crtn.o`:

https://git.musl-libc.org/cgit/musl/tree/crt/x86_6

[2020-09-22 15:12] jeromegn opened #77060 "unused_mut wrongly warning when using a macro"
Reproduction:

[code]

I expected to see this happen: no warnings.

Instead, this happened:

[code]

If I follow the advice here, it fails to compile with:

[code]

This is possibly related to #60643, but I'm not sure. This one is not **in** a macro itself, it's **using** a macro.

### Meta

`rustc --version --verbose`:
[code]

(but this has been happening on every version I've tried for over a ye

[2020-09-22 15:49] SNCPlay42 commented on #77060
Looking at [the source](https://docs.rs/tokio/0.2.22/src/tokio/macros/select.rs.html#285-482), `tokio::select` expands `mut a` (as `$bind`) at two different locations and the mutability is indeed unnesscessary at one of them:

[code]

I'd consider this a tokio bug. There should be a `#[allow(unused_mut)]` on the match (like there already is a `#[allow(unused_variables)]`.

[2020-09-22 16:23] steveklabnik commented on #76953
This has gone back and forth historically; there are pros and cons of each approach. When the docs were in the repo, people were concerned about bors queue length. So we moved them out, but that made coordinated changes difficult.

Any changes here would involve changing the build + deployment story, so @rust-lang/release should be at least consulted if there's a decision to change any of this.

[2020-09-22 16:23] fanninpm commented on #76826
Have you tried it with the latest nightly? I can't get it to ICE with `rustc 1.48.0-nightly (fb1dc34a8 2020-09-21)` (on both Mac and the playground).

[2020-09-22 16:27] carbotaniuman opened #77062 "Slow compile times for promotion of `[(); usize::MAX]`"
I tried this code:

[code]

I expected to see this happen: code compiles in a reasonable amount of times or the slice gets elided entirely.

Instead, this happened: code takes multiple minutes to compile/gets killed by the playground.

### Meta

`rustc --version --verbose`:
[code]

Also tested on playground stable and nightly.

[2020-09-22 16:30] fanninpm commented on #76753
[Playground link, for reference.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4034bf4f00df0a1b23a57ad19bbd30e)

Have you tried it with the latest nightly this time around? I can't get it to ICE with `rustc 1.48.0-nightly (fb1dc34a8 2020-09-21)` (on both Mac and the playground).

[2020-09-22 16:34] Mark-Simulacrum commented on #76953
No, release team doesn't really care - infra might, but also not really (more or less not important whether these are submodules or not).

I think the next change to make here is probably to go through these repositories and try to move some of the larger images or artifacts to static.r-l.o or similar, there's really no reason to have them in those repositories.

[2020-09-22 16:36] arijit79 commented on #76953
What is static.r.l.o. Could you please explain that to me

[2020-09-22 16:42] fanninpm commented on #76424
[Playground link, for reference.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4034bf4f00df0a1b23a57ad19bbd30e)

I can't get it to ICE with `rustc 1.48.0-nightly (fb1dc34a8 2020-09-21)` (on both Mac and the playground).

[2020-09-22 16:55] zesterer commented on #76826
@fanninpm I'll give it a go. I'll be very happy if it's fixed, it's been holding up an experimental API I'm working on.

[2020-09-22 17:06] tmandry commented on #64552
@rustbot assign @csmoe

[2020-09-22 17:11] fanninpm commented on #76826
Uncommenting the `.for_each(|slice| println!("{:?}", slice));` line did the trick. Thanks! I'll be adding this to the [glacier](https://github.com/rust-lang/glacier/) momentarily.

(By the way, your example on _this_ page has an extra semicolon in the previous line that's causing a syntax error. The playground link is correct as is.)

[2020-09-22 17:15] tmandry commented on #76938
We could behave as if the elided lifetime were explicit in lowering. Is there anything preventing that?

I also don't think this is problem is very specific to async-await.

[2020-09-22 17:25] petrochenkov commented on #76953
If some doc subdirectory is moved to a separate repo, then it should probably use a git subtree like clippy does.
(At least from `rust-lang/rust` side we can declare the clippy subtree experiment to be a great success at this point.)

[2020-09-22 17:41] zakcutner opened #77064 "Cannot use explicit lifetime in call to `mem::size_of`"
Hello! I've tried to search for this error in the open issues but couldn't find anything, sorry if I've missed something. Below is a minimal example of the issue — it is to do with using an explicit `&'a` lifetime in the call to `mem::size_of`. If I replace the call with `mem::size_of::<&i32>()` (notice `&` rather than `&'a`), it compiles without any errors.

### Code

[code]

### Meta

`rustc --v

[2020-09-22 17:48] zakcutner commented on #77064
Using Godbolt, it looks like this bug has been around since 1.19. Before that, this example wouldn't compile because `mem::size_of` was not callable inside a constant context.

[2020-09-22 17:57] jonas-schievink commented on #77064
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2020-09-22 17:57] #77064 closed

[2020-09-22 18:04] lcnr commented on #70225
@rustbot claim

[2020-09-22 18:19] jonas-schievink commented on #77002
Opened https://github.com/rust-lang/rust/pull/77066 with a fix

[2020-09-22 18:26] tmandry commented on #76953
Agreed with @petrochenkov, I think we should pursue a subtree approach (#70651 has more details). This gives us the best of both worlds for contributors: people who only care about docs get to clone only that repo, and people working in the compiler get to make coordinated changes easily.

[2020-09-22 18:27] alsoijw opened #77067 "Build on x32 ABI on gentoo"
I'm trying to build rustc on gentoo in x32 ABI, and got some error in build system, that i can't fix by itself. I think that I can fix it if I realize it's reason.
First error is wrong folder name ~/rust/build/x86_64-unknown-linux-gnux32**x32**/llvm/build/lib instead ~/rust/build/x86_64-unknown-linux-gnux32/llvm/build/lib. I fix it with symlinc, but it isn't good solution.
[code]
Second error is a

[2020-09-22 18:39] lcnr commented on #70225
This is actually not an issue related to const generics :sweat_smile: It does not look at trait impls even if they are used as long as they don't overwrite the relevant method.
[code]

[2020-09-22 18:42] Nicholas-Baron commented on #60302
@Daniihh The issue is no longer with [rustc_typeck::check](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/mod.rs), but with [rustc_typeck::check::fn_ctxt](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/fn_ctxt.rs).

The `FnCtxt` struct that it houses has a lot of functionality wrapped into it (the `struct {}` alone taking 85 lines w/doc

[2020-09-22 18:45] tmandry opened #77071 "Support stack probing for arm64 (aarch64)"
Background: #43241

This issue is to track implementation of stack probing on arm64. Most of the work necessary is in in LLVM, but this is a convenient place to track progress and final support in the Rust compiler.

Implementation: @cuviper has suggested using LLVM's inline-asm support for stack probing: https://github.com/rust-lang/rust/issues/43241#issuecomment-594099684. It does not yet suppor

[2020-09-22 18:54] nelsonatgithub commented on #61759
I just came to a similar issue. This code was helpful to me. Thanks!

[2020-09-22 19:03] pietroalbini commented on #77071
@rustbot ping arm

[2020-09-22 19:06] tmandry commented on #74906
Great! Leaving open to track adding a regression test.

[2020-09-22 19:43] Aaron1011 commented on #72448
Can this issue be closed now that `Location::caller()` has been stabilized?

[2020-09-22 20:05] jethrogb commented on #74632
Ok we now have a Rust nightly that includes the patches from @scottconstable and Krzysztof. @jberci are you happy with the compile times now?

[2020-09-22 20:19] HeroicKatora commented on #27675
Since this has not been demonstrated: We can indeed build a safe, arbitrary transmutation primitive from this, though this will ICE in practice except if used only for the purpose of the second comment, casting away lifetimes.

[code]

[code]

[code]

[2020-09-22 20:19] HeroicKatora commented on #27675
Uuups, we can make any type `Copy`:

[code]

[2020-09-22 20:38] HeroicKatora commented on #27675
Feature `unsize` gives the ability to do some other interesting coercions that enable arbitrary reference transmute.

[code]

[2020-09-22 20:55] simonvandel commented on #68867
After #75119 final asm appears much better.
I'll be using the following test file 68867.rs:
[code]
**before:** rustup run nightly-2020-09-20 rustc 68867.rs --emit=asm -O -C opt-level=3 -o 2020-09-20.s
[code]

**after:** rustup run nightly-2020-09-21 rustc 68867.rs --emit=asm -O -C opt-level=3 -o 2020-09-21.s
[code]

[2020-09-22 21:05] camelid commented on #76953
My understanding is that it hosts build artifacts etc. for Rust. For example, when you download a new version of Rust it is coming from static.rust-lang.org (abbreviated as static.r-l.o).

[2020-09-22 21:09] emilio commented on #68867
Yeah indeed, thanks for fixing this!

[2020-09-22 21:22] camelid commented on #27675
Decided on `P-high` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2327675.20object-safe.20traits.20can.20have.20associated.20.E2.80.A6) in the prioritization working group procedure.

[2020-09-22 21:23] poliorcetics commented on #76542
@rustbot claim

I'll start on that today, some crude regexes and `ripgrep` should help a lot.

[2020-09-22 21:42] ehuss commented on #77046
I believe this is essentially a duplicate of #73167.  The paths should only appear if you have the `rust-src` component installed. Can you confirm that removing that component resolves what you are seeing?

[2020-09-22 22:11] HeroicKatora commented on #27675
For completeness sake. This may be used to send any reference across threads:

[code]

[2020-09-22 22:15] hboetes opened #77077 "test code more or less identical to the main() hangs."
Currently, I'm trying to learn rust with exercism and I ran into the following situation which smells like  a bug to me.

When I ran this code with:
   `rustc src/lib.rs && time ./lib`
it finishes after 2 seconds, returning the right result.
When I run the tests (next snippet) with:
   `cargo test -- --ignored`
All tests succeed, apart from the last one, identical to main()
There it crashes after

[2020-09-22 22:52] #76698 closed

[2020-09-22 23:52] sfackler commented on #77077
This is not a compiler bug. `solutions_using_include_exclude_must_extend_to_cardinality_greater_than_3` completes in a couple of seconds as expected. However, both tests that include 0 as a factor loop infinitely.

[2020-09-22 23:52] #77077 closed

[2020-09-22 23:55] jyn514 opened #77084 "Use dynamic linking and download LLVM from CI for rustc across platforms"
From https://github.com/rust-lang/rust/pull/76810:

Switching to static linking would preclude any of the improvements from https://github.com/rust-lang/rust/pull/76349, so it would be better to use dynamic linking instead which would allow any contributor to get started without building LLVM from source or using system LLVM. That said, it sounds like dynamic linking will be very hard to do on oth

[2020-09-23 00:02] Mark-Simulacrum commented on #77084
Cc @cuviper @nikic @nagisa - do we know what the right way to bring the issues (bugs?) I found to LLVM developers? Are there active maintainers of LLVMs build system?

[2020-09-23 00:05] Nicholas-Baron opened #77085 "Splitting up `rustc_typeck::check::fn_ctxt::FnCtxt`"
Branching this from #60302.

Originally, `mod.rs` for `rustc_typeck::check` was over 6,000 lines. I was able to push that to around 1,100 lines (PR #76906).

However, in the process, I found that `FnCtxt` was rather long, with 13 fields in the struct and some rather long `impl`s attached. The sum total is 3,200 lines, which effectively means that the `// ignore-tidy-filelength` comment was moved f

[2020-09-23 00:07] Nicholas-Baron commented on #77085
@rustbot modify labels to +T-compiler and +C-cleanup.

[2020-09-23 00:11] nagisa commented on #77084
LLVM’s bugzilla is pretty much the only place for bug reports. If its something less defined than a precise bug report, talking it out on the mailing lists is the way to go.

[2020-09-23 00:33] estebank commented on #45817
Would this output have been clear to you?

<img width="943" alt="Screen Shot 2020-09-22 at 5 32 39 PM" src="https://user-images.githubusercontent.com/1606434/93950892-a562e700-fcf9-11ea-933e-b91bbeada287.png">

[code]

[2020-09-23 00:41] mqudsi commented on #45817
@estebank that's definitely significantly better than what we currently have. I'd prefer a less parser state machine error over E0404 and the accompanying text in your screenshot, but I can't really come up with a good option that isn't overly specific to this exact syntatic error. My rationale is that, devoid of any context, `A + 'static` is *most likely* an error with the `+ 'static` (i.e. overa

[2020-09-23 00:52] estebank commented on #43913
Current output:

[code]

No structured suggestion for the nightly feature (should be `trait Strings = Iterator<Item=String>;` and the feature flag).

[2020-09-23 00:53] Aaron1011 commented on #27675
I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/73905

[2020-09-23 02:18] Aaron1011 commented on #71504
This no longer occurs on the latest nightly. I bisected the fix to https://github.com/rust-lang/rust/commit/63d03779946a07d8c418a361278168a6d3a1f4d2 (in `nightly-2020-05-08`)

The relevant change seems to be https://github.com/rust-lang/cargo/pull/8192. Were the 'unused' object files somehow affecting LTO

[2020-09-23 02:26] estebank commented on #45817
<img width="932" alt="Screen Shot 2020-09-22 at 6 34 00 PM" src="https://user-images.githubusercontent.com/1606434/93954315-3fc72880-fd02-11ea-8664-bf562b435c50.png">

I wouldn't go as far as saying that this is the _most likely_ interpretation. This could be just a simple typo, but that is covered as well:

<img width="912" alt="Screen Shot 2020-09-22 at 7 25 39 PM" src="https://user-images.githu

[2020-09-23 02:41] lzutao opened #77088 "`allow_internal_unstable` attr only allowed once per function"
Discussed in zulip: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Using.20const.20unreachable.20in.20libcore/near/210673352

The problem is that compiler doesn't accept code like this:
[code]

But it accepts code when merging mutiple `allow_internal_unstable` annotations into one:  #77023

### Meta

`rustc --version --verbose`: Version 1.48.0-nightly (0da580074 2020-09-22)

cc

[2020-09-23 02:43] Aaron1011 commented on #71504
Minimized:

[code]

[2020-09-23 03:01] ecstatic-morse commented on #77088
#77023 just refactored a few individual calls to `rustc_attr::allow_internal_unstable` into a single helper function.

https://github.com/rust-lang/rust/blob/6d3acf5129767db78a3d9d62e814ec86b8870d75/compiler/rustc_mir/src/transform/check_consts/mod.rs#L61-L65

`rustc_attr::allow_internal_unstable` only looks for the first attribute it seems. Shouldn't be hard to fix.

https://github.com/rust-lang/

[2020-09-23 03:01] lzutao commented on #77062
The code compiled in about 6 seconds in Rust 1.29 and 1.30 : https://rust.godbolt.org/z/hbdora .
Before that it had capacity error. After that it exceeded 15 second limits of godbolt.
@rustbot modify labels: E-needs-bisection I-prioritize

This is a `regression-from-stable-to-stable` but I cannot tag it.

[2020-09-23 03:04] dtolnay opened #77089 "Regression in nightly-2020-09-23: "missing `as_flags` in implementation" of OpenOptionsExt"
The following code compiles fine with nightly-2020-09-22 (and stable rustc since 1.10.0) but not nightly-2020-09-23.

[code]

[code]

This is minimized from https://github.com/async-rs/async-std/blob/e8126633a89aafea23259eb9faddb70b89f94423/src/fs/open_options.rs#L303-L313.

Mentioning #76110, #76801, @FedericoPonzi, @joshtriplett.

[2020-09-23 03:06] jyn514 commented on #77089
Whoops, I didn't realize the trait itself was stable. Probably the PR should either be reverted or add a default implementation for `as_flags()`.

[2020-09-23 03:31] Aaron1011 commented on #71504
Minimized even further:

[code]

These functions must be in two different crates, and be compiled with the setup described in https://github.com/rust-lang/rust/issues/71504#issuecomment-622422103

Makes sure your CPU actually supports AVX instructions - running this with `cargo run` (without `--release`) should succeed if your CPU is compatible.

[2020-09-23 03:33] trevyn commented on #75992
#76928 which triggered the bors auto-close says it only “partially fixes #75992” — should this be kept open?

[2020-09-23 03:41] eddyb commented on #38550
We could at least randomize the order of the fields that share an alignment, using the "def path hash" of the `ty::Adt`.
That way we could release this into the wild and see what breaks.

Similarly, I just realized we could do something similar for function calls, though it's harder to know what to key on, there.

[2020-09-23 03:47] lebensterben commented on #72447
Is there anyway to hard-code this without nightly?
I've a real world use case, I need to define
`pub const NA_REAL: f64 = f64::from_le_bytes([0xa2, 0x07, 0x00, 0x00, 0x00, 0x00, 0xf0, 0x7f]);`
which is the `NA` (not `NaN`) value used in R.

[2020-09-23 03:54] ecstatic-morse commented on #72447
`transmute` is stable in constants and statics (but not in `const fn`) as of 1.46.

[2020-09-23 04:02] mstallmo commented on #77062
It looks like this also works correctly on 1.31 stable as well: https://rust.godbolt.org/z/v5vEcE

[2020-09-23 04:03] brightzheng100 commented on #76698
I tried the `nightly-2020-09-12` but this build doesn't exist so I switched to `nightly-2020-09-11` and it worked.

Interestingly, while I retried it today, as of 23 Sept 2020 SGT, it also worked perfectly fine so I believe the latest nightly builds have fixed this issue.

[2020-09-23 04:26] lebensterben commented on #72447
[code]
This works for me now.

[2020-09-23 04:44] retep998 commented on #76466
Given that the linker input string contains `"-L" "C:\\Program Files (x86)\\Rust nightly MSVC 1.48\\lib\\rustlib\\wasm32-unknown-unknown\\lib\\self-contained"` I have no reason to believe Rust is doing anything wrong and that it is LLD which is at fault here.

Someone should debug LLD and figure out where those strings are getting split up incorrectly.

[2020-09-23 04:51] rprichard commented on #47551
It looks like musl's crt1 is a C file, not assembly. crt/{S,r,}crt1.c

When crtbegin and crtend were added to LLVM (https://reviews.llvm.org/D28791), there was some discussion about which project is responsible for which aspects of the CRT begin/end files. Apparently the status quo on Linux is that:
 - the compiler (e.g. libgcc) provides crtbegin/crtend
 - the libc provides crti/crte (and maybe cr

[2020-09-23 05:07] Ryan1729 commented on #73736
Making `two_bits` and `from_bits` usable in const functions was also mentioned as an aside in https://github.com/rust-lang/rust/issues/57241

[2020-09-23 05:13] petrochenkov commented on #47551
Using self-contained mode is not generally recommended for serious work.
If the compiler heuristics enable it by default, then it can be explicitly disabled with `-C link-self-contained=no`, then gcc will be used for linking without `-nostartfiles` and will find all the necessary CRT objects by itself.
Then it's important to make sure that gcc for the right target (musl in this case) is used by ru

[2020-09-23 05:16] petrochenkov commented on #47551
Here's a FIXME for improving the heuristic for musl targets:
https://github.com/rust-lang/rust/blob/6d3acf5129767db78a3d9d62e814ec86b8870d75/compiler/rustc_codegen_ssa/src/back/link.rs#L1240-L1243

[2020-09-23 05:54] mstallmo commented on #77062
Decided on `P-medium` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377062.20Slow.20compile.20times.20for.20promotion.20of.20.60.5B%28.E2.80.A6) in the prioritization working group procedure.

[2020-09-23 05:57] mooli commented on #76801
Adding non-default items to public traits like this is a breaking change. In particular, `async-fs` (part of `smol`) now no longer compiles on nightly because it impls `std::os::unix::fs::OpenOptionsExt` on its local newtype of `std::fs::OpenOptions`.

`async-std` appears to use the same approach and would thus also be affected. `tokio` only dodges the bullet because it defines its own `tokio::fs:

[2020-09-23 06:08] lcnr commented on #75992
Not sure, in my local tests the repro compiled faster with this change than with 1.45.1.

So looking at the issue title I think it's fine to close this once someone else verifies that it is fixed for them.
"Increasingly slow compilation as more levels of `async` are added in Rust 1.46"

(the fix is not part of the current nightly, so this will have to wait until tomorrow unless someone wants to do

[2020-09-23 06:31] xfix commented on #75243
That seems like a compiler bug. I think a warning like this should show, but due to `map` accepting `&self` rather than `self`, it's not being seen. The problem can be seen with the following program:

[code]

In my opinion, this should print the following:

[code]

[2020-09-23 06:39] 95th commented on #76627
Minimized a bit:

[code]

[2020-09-23 06:44] 95th commented on #76627
Running below gives error:

[code]

gives:
[code]

but running below gives no error:
[code]

Seems like an inference problem.

[2020-09-23 07:15] leonardo-m opened #77092 "Malformed error message with wrong use of min const generics"
This is wrong code (because there's no way to infer N):

[code]

rustc `V. 1.48.0-nightly 0da580074 2020-09-22` gives:

[code]

[2020-09-23 07:32] Stupremee commented on #77089
Assigning P-critical as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377089.20Regression.20in.20nightly-2020-09-23.3A.20.22miss.E2.80.A6/near/210955212) as part of the Prioritization Working Group procedure and removing I-prioritize.

[2020-09-23 07:35] octave99 opened #77094 "Cargo freezes at Building stage with version 1.46.0"
When I execute my binary using latest rust version, "cargo run" freezes at Building stage and executes the binary after several minutes. But when I revert the rust version to 1.45.2 without any other change, it works just fine.

Step 1.
rustup default 1.46.0

`rustc --version --verbose`:
[code]

Step 2.
 RUST_BACKTRACE=1 cargo build
   Compiling asapi v0.1.0 (/media/asapi)
    Building [==========

[2020-09-23 07:38] mati865 commented on #77094
Can you obtain call stack for hanged process?

[2020-09-23 08:20] RalfJung opened #77096 "Refactor handling of statics"
Our current handling of statics is suboptimal: a use of a static `STATIC` is desugared to `*{const-ptr-to-static}`, which is nice because it means we do not need any special case in the MIR for statics, but causes problems when statics *need* to be treated differently. One example of such special treatment is [const checking and promotion](https://github.com/rust-lang/rust/issues/74840#issuecommen

[2020-09-23 08:22] yoshuawuyts commented on #77089
`async-std` is now broken on nightly as well: https://github.com/async-rs/async-std/issues/883

[2020-09-23 08:22] RalfJung commented on #74840
The reason uninhabited extern statics are so problematic is that they are the only *uninhabited places* that one can actually access in Rust -- normal statics cannot be uninhabited as then computing their initial value would error, and uninhabited locals cannot be accessed before being initialized which can never happen.

So, with that lense on, it makes perfect sense to just make these a hard err

[2020-09-23 08:23] RalfJung commented on #74840
I opened #77096 for the problems the current static handling is causing, and the refactoring we might want to do.

[2020-09-23 08:54] josephlr commented on #65807
Note that with #71499 these functions can be made `const fn`. The stabilization of these methods as `const fn` can just be tracked as part of #71499.

[2020-09-23 09:09] Keruspe commented on #76020
@tmandry How can we get this to move forward?

I don't know how to reproduce the initial issue to find another fix but the current one is either wrong on incomplete given this failure

[2020-09-23 09:13] m-ou-se commented on #65807
Thanks! PR: #77097.

[2020-09-23 09:25] octave99 commented on #77094
As indicated in the issue above, its the build process that hangs when using "cargo build" command, "cargo run" executes the process after several minutes though. So it doesn't seem to an issue with the process.

[2020-09-23 09:29] Emoun opened #77098 "rust/RELEASES.md doesn't mention that 1.42 allows custom attributes on modules"
Pre-1.42, applying an attribute procedural macro to a module was disallowed with the following message:
[code]
As an example, see [this build](https://travis-ci.org/github/Emoun/duplicate/jobs/729555594) using rust 1.34 that exhibits this.

From rust 1.42 and onward this error does not occur, however, this is not detailed in [the release notes](https://github.com/rust-lang/rust/blob/master/RELEASE

[2020-09-23 10:20] oli-obk commented on #74840
I am not working on that

[2020-09-23 10:37] yoshuawuyts opened #77100 "[docs] `core::global_allocator` should link to `std::alloc::GlobalAlloc`"
Seaching for `global_allocator` in the docs only surfaces [`core::global_allocator`](https://doc.rust-lang.org/core/macro.global_allocator.html). This surfaces no information on how to use it, since all that info is part of [`std::alloc::GlobalAlloc`](https://doc.rust-lang.org/std/alloc/trait.GlobalAlloc.html).

The solution seems to link from `global_allocator` to `GlobalAlloc` so people can read

[2020-09-23 10:38] #76432 closed

[2020-09-23 11:22] yotamofek commented on #75992
For what it's worth:

I have a (somewhat) big workspace with one binary (specifically an HTTP REST server implemented with `actix-web`) that used to take ~10mins for a clean build, but has been taking around ~30mins since (IINM) the nightly version for August 13th.

After reading @lcnr 's comment, I pulled in the latest commit from `master` and built a local copy of the compiler. The git head is a

[2020-09-23 11:42] lcnr commented on #75992
We should probably feature this more prominently, but I once again forgot about https://github.com/kennytm/rustup-toolchain-install-master, which is a great tool to get the current master build without having to build rust locally.

[2020-09-23 11:46] lcnr opened #77101 "Tracking issue for array::from_ref and array::from_mut"
Tracking issue for `feature(array_from_ref)` which adds the following methods
[code]

### Steps / History

- [x] Implementation: #77074
- [ ] FCP
- [ ] Stabilization PR

[2020-09-23 11:47] jesperdj commented on #55300
Ok, but...: the name used in C++, `nth_element`, is not great. This function does more than select the nth element - it also rearranges the elements in the collection so that all elements that are "less than" the nth element are to the left, and all elements that are "greater than" the nth element are to the right of it. In other words: C++ `nth_element` does in fact partition the collection (just

[2020-09-23 11:57] lcnr commented on #75992
https://github.com/nicholasbishop/rust146hang compiles for me in 3m 21s with all dependencies
With version 1.44.1 this only takes 23.45s, meaning that there's still something else we need to fix here

https://github.com/rust-lang/rust/issues/75992#issuecomment-682595159 with `async_recursive!(14, println!("hello"));`
takes 1.58s using the master branch and 5.88s using 1.44.1, so there is probably

[2020-09-23 13:01] bjorn3 opened #77103 "Oudated html_root_url for compiler crates"
https://doc.rust-lang.org/nightly/ should be https://doc.rust-lang.org/nightly/nightly-rustc/

[2020-09-23 13:02] lzutao commented on #76793
@rustbot claim

[2020-09-23 13:23] matthiaskrgr commented on #76213
Still crashes after llvm update in https://github.com/rust-lang/rust/pull/77063

[2020-09-23 13:26] jeapostrophe opened #77104 "Inlining of `let` should preserve borrowing soundness on "pure" left arguments"
In the context of this code:

[code]

I expect this code:

[code]

To run the same as this code:

[code]

Because the first is the inlined version of the second.

Instead, I get this error:

[code]

I expect that programming languages should be invariant to the inlining of variables that occur only a single time and preserve the order of effects.

I asked about this on the [forum](https://users.ru

[2020-09-23 13:41] matthiaskrgr opened #77105 "rustbuild: "changelog-seen = 1" breaks config.toml"
[code]
So I skipped through the changelog and added `changelog-seen = 1` to the end of my config toml but this broke `x.py`:

[code]

[2020-09-23 13:46] matthiaskrgr commented on #77105
Apparently the script wants it at the beginning of the toml file, the warning message should says so :roll_eyes:

[2020-09-23 14:02] RaphiJS6-13 commented on #76424
Yeah, the `rustc 1.48.0-nightly` compiler throws the weird error message that I described in #75602, namely
[code]

[2020-09-23 14:06] steveklabnik commented on #76953
@petrochenkov @tmandry I don't know a ton about subtree, but would be interested in hearing more about it; maybe there's some examples of how it's worked or you could ping me on zulip? that does sound like the best of both worlds, but I didn't realize it was possible.

[2020-09-23 14:14] jonas-schievink commented on #77104
This is currently behaving as expected, and changing this would have to go through the RFC process, so closing in favor of that. You might also be interested in two-phase borrows, tracked in https://github.com/rust-lang/rust/issues/49434.

[2020-09-23 14:14] #77104 closed

[2020-09-23 14:22] jyn514 commented on #77100
These can't use intra-doc links, so you need to use relative links. I think `../std/alloc/trait.GlobalAlloc.html` would work.

[2020-09-23 14:24] bossmc commented on #47551
@petrochenkov Thanks for that, very interesting.  I think there are two separate use cases for musl-targeting builds:

* an environment where there's a full "native musl" toolchain (like on Alpine etc) where I think you're correct that we shouldn't use `self-contained` and should let the toolchain sort it out for us though I can't see an easy way to tell if a real toolchain is available
* a generi

[2020-09-23 14:26] bossmc commented on #47551
In the latter case it would make sense to me for rustc to invoke an actual linker (`ld`/`lld`/`gold`/etc) since at the moment it goes via a compiler but has to tell the compiler to not do anything and just to pass the link args to the linker anyway.  This is off topic for this discussion though.

[2020-09-23 14:27] jyn514 commented on #77100
Mentoring instructions: At https://github.com/rust-lang/rust/blob/383da5e1e670c5028731aa3e477578e5e97c6e52/library/core/src/macros/mod.rs#L1367
add a link to `../std/alloc/trait.GlobalAlloc.html`.

[2020-09-23 14:36] Dylan-DPC commented on #74943
Reopening this because it is being reverted in #77090

[2020-09-23 14:40] bdashore3 opened #77108 "Rustdoc feature idea: Documentation comment blocks"
Hello all,

I've been using Rust for a long time and really like using Rustdoc. It's a well-made documentation system. However, adding to the documentation from code can be difficult. Here's an example.

[code]

As you can see, really long documentation pages can be borderline unreadable in the source code. Instead, I would like to propose the addition of comment blocks for documentation. From a p

[2020-09-23 14:46] euclio commented on #77108
Block syntax is already supported as `/**`: https://doc.rust-lang.org/stable/reference/comments.html#doc-comments

[2020-09-23 14:47] bdashore3 commented on #77108
Thank you!

[2020-09-23 14:47] #77108 closed

[2020-09-23 14:48] bossmc opened #77109 "Various ICEs when mis-implementing `drop_in_place` lang item"
I've found two ways to ICE when trying to provide a `drop_in_place` implementation (for some `no_core` code) - I've raised as one issue, because I think they're basically the same issue (rustc making assumptions about language item prototypes) but I'm happy to break up if preferred.

### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

First example (too few g

[2020-09-23 14:50] jonas-schievink commented on #77109
Closing in favor of https://github.com/rust-lang/rust/issues/9307, which is more general

[2020-09-23 14:50] #77109 closed

[2020-09-23 14:54] bossmc commented on #77109
Ah, thanks @jonas-schievink that's a better issue (maybe this one just adds some motivation/justification to that one)

[2020-09-23 15:03] lzutao commented on #76793
Duplicate of #75871.

[2020-09-23 15:14] jeapostrophe commented on #77104
This is a very unfriendly message to someone trying to help Rust and understand it. I feel like a bureaucrat just stomped on me and said I filled a form in the wrong place at the wrong time so my house is now going to be bulldozed.

Are you really saying that my problem is going to be completely ignored because I don't know how to go through the complex Rust RFC process? I'm just a casual user of

[2020-09-23 15:15] jeapostrophe commented on #49434
I just got stomped on by @jonas-schievink about #77104 who says it is related to this. Maybe someone that wants to be part of this toxic community will try to salvage something from that issue.

[2020-09-23 15:30] LeSeulArtichaut commented on #77094
@octave99 Can you provide the code used to reproduce this issue?

[2020-09-23 15:31] CryZe commented on #77104
What Jonas seemed wanted to basically say is that there is already work ongoing towards the problem that you encountered. The solution is to extend the borrow checker to support two-phase borrows, i.e. a borrow happens earlier, but isn't used until later. This is roughly the solution that you propose as far as I can tell. Two-phase borrows were intended to be part of Rust 2018, but got disabled ag

[2020-09-23 15:32] raphaelcohn commented on #60871
Just had this same error today. Necrobumping to see if anyone actually cares... I'm a little cross; I've had a day of 'we haven't finished this yet' errors in the compiler.

[2020-09-23 15:38] #77089 closed

[2020-09-23 15:42] benjaminp opened #77112 "trait selection arbitrarily resolves projection ambiguities"
[code]
The above program (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2e211dacba7209200273bf1bc6a2b77f) prints
[code]
Not only does rustc pick without guidance between ``Print<char>::print`` and ``Print<usize>::print``, but it depends on the ordering of the predicates in the impl traits!

This problem happens because trait selection wants to prove that `make1()` impleme

[2020-09-23 15:43] petrochenkov commented on #47551
If we need to improve the self-contained mode specifically, then I think we can just ship the begin/end objects and link to them like gcc does obsoleting the comment cited in https://github.com/rust-lang/rust/issues/47551#issuecomment-697132667. That appears to be the simplest solution.

[2020-09-23 15:47] takanuva opened #77113 "Compiler panics when given invalid Box type"
So, I was fiddling with code generation (playing with boxes), and this happened.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-23 15:48] grahamgower opened #77114 "rustc suggests to use a trait bound that is already present"
I tried this code:

[code]

I hoped rustc would suggestion to me what the correct trait bound is for the addition. rustc spoke thus:
[code]

So I added the suggested trait bound, and reran rustc. To my surprise, I got the exact same suggestion!

[code]

`rustc --version --verbose`:
[code]

[2020-09-23 15:49] LeSeulArtichaut opened #77115 "Better diagnostics for `:` instead of `->` in return type"
Follow-up to #77019

_Originally posted by @bugaevc in https://github.com/rust-lang/rust/pull/77035#issuecomment-697308477:_

Would also be cool to emit this upon encountering

[code]

which is how you'd define the return type in Scala and Kotlin.

[2020-09-23 15:53] jonas-schievink commented on #77114
Thanks for the report! This looks like a duplicate of https://github.com/rust-lang/rust/issues/76539, however, so closing in favor of that.

Please leave a comment on that issue if you have more information to contribute.

[2020-09-23 15:53] #77114 closed

[2020-09-23 15:54] jonas-schievink commented on #77104
@jeapostrophe Sorry, I didn't mean to dismiss your issue. Let me clarify a bit:

We use this issue tracker to track bugs and improvements in the compiler and standard library. Since the behavior you have reported here is working as intended (as explained in the forum thread), changing it would be a change to the language specification instead, and our policy for those is that they need to go throu

[2020-09-23 15:55] jonas-schievink commented on #77113
Thanks for the report! This looks like a duplicate of https://github.com/rust-lang/rust/issues/9307, however, so closing in favor of that.

Please leave a comment on that issue if you have more information to contribute.

[2020-09-23 15:55] #77113 closed

[2020-09-23 16:00] jonas-schievink commented on #77112
Seems like this code maybe shouldn't compile without using fully-qualified function syntax `<_ as Print<char>>::print(make1())`, so marking for prioritization

[2020-09-23 16:04] jeapostrophe commented on #77104
Keep track of improvements and problems with Rust however you want. I'm not going to write an RFC, because I have no intention of being a Rust designer; I just want to have a useful language with safe memory, not some multi-layered bureaucracy.

Good luck if you want to continue with this attitude where reports that correct programs are being mishandled by Rust need to be turned into language desi

[2020-09-23 16:15] jyn514 commented on #77115
For reference, the current error is
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4f5f79d0bc56db7906a2748417039200)

[2020-09-23 16:22] jyn514 commented on #76793
Closing as duplicate.

[2020-09-23 16:22] #76793 closed

[2020-09-23 16:26] estebank commented on #42499
@oli-obk [we now suggest the constraining of type params with a trait bound, but there are a couple of cases that aren't totally handled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bb2fd609864622baa7f7194d0354727e):

[code]

[2020-09-23 16:51] jyn514 commented on #77103
Mentoring instructions: for each crate in `compiler/`, change https://github.com/rust-lang/rust/blob/9e5f7d5631b8f4009ac1c693e585d4b7108d4275/compiler/rustc_apfloat/src/lib.rs#L33
to say `#![doc(html_root_url = "https://doc.rust-lang.org/nightly/nightly-rustc")]` instead. You can probably automated this with `fd` and `sed.

[2020-09-23 16:55] duckymirror commented on #77103
@rustbot claim

[2020-09-23 17:07] jsgf opened #77116 "Stabilize -Zsymbol-mangling-version / RFC2603?"
Where are we with stabilizing RFC2603 and the -Zsymbol-mangling-version? Can we introduce `-Csymbol-mangling-version`?

(Note, I'm not thinking about changing the default from `legacy` yet, but we can also discuss that.)

cc @eddyb @michaelwoerister

[2020-09-23 17:08] workingjubilee commented on #77024
Unfortunately this means the only "automatically" "correct" solution I know of that makes this work is to rearchitect the folder layout of the `std` API docs into a mostly flat one, which would require extensive changes to rustdoc's address modes, I believe. TRPL is fine at preserving themes precisely because it all is "flat", relatively speaking. Every other solution is at least some level of Dir

[2020-09-23 17:09] jagill commented on #55300
Are you in favor of the `partition_at_*` names?  If so, with or without `_unstable`?  Or do you have another suggestion?

I think the unfortunate reality is that there is no good name for this particular function -- each candidate has its flaws.  Over the last 2 years no one has found a name that is universally liked, so we may have to go with the least objectionable choice.

[2020-09-23 17:11] jonas-schievink commented on #77052
Duplicate of https://github.com/rust-lang/rust/issues/34979

[2020-09-23 17:11] #77052 closed

[2020-09-23 17:11] jonas-schievink commented on #34979
Ran into this issue in https://github.com/rust-lang/rust/issues/77052

[2020-09-23 17:22] jyn514 commented on #77024
This seems like it could easily make `doc/` directories many thousands of pages, which seems ... not ideal, especially for larger crates.

[2020-09-23 17:34] lzutao commented on #77116
Why? What's the use case for it if it only has one stable option?

[2020-09-23 18:10] adamreichold commented on #55300
I agree with this observation, but as @jagill pointed out, no name that would fulfill this criterion has been proposed so far.

`select_nth_unstable` does not try to, but rather tries to invoke "selection algorithm" as the relevant context to better understand how this algorithm fits into the larger landscape of sorting and order statistics.

[2020-09-23 18:11] ijackson commented on #77024
Jubilee writes ("Re: [rust-lang/rust] rustdoc: Please provide way to set the default theme (#77024)"):

So it seems from the discussion that providing working persistence of
browser-side user-selected theme is quite difficult.

In any case: although that would be desirable, and would help with
many use cases (including my own) it seems to me to be right and
proper that a the person running rustdoc

[2020-09-23 18:13] apiraino commented on #76980
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2376980.20Build.20hang.20on.20Linux.20with.20nightly.20and.20be.E2.80.A6) and removing `I-prioritize`.

[2020-09-23 18:27] jonas-schievink commented on #77116
Stabilizing `-Csymbol-mangling-version` would imply stabilizing both the RFC 2603 mangling as well as the currently used legacy mangling, which does not seem like a good idea to me.

[2020-09-23 18:39] oli-obk commented on #77096
The exhaustive list of special treatment is https://github.com/rust-lang/rust/search?q=LocalInfo%3A%3AStaticRef plus https://github.com/rust-lang/rust/search?q=check_static_ptr

Though some of these are just for diagnostics and would work out of the box without those checks. E.g. in the unsafey checks we just need to prevent a diagnostic about raw pointer derefs and instead emit something about mu

[2020-09-23 19:31] ollie27 commented on #77089
I was under the impression that the `*Ext` traits were not intended to be implemented outside of `std` which means this is really an issue with `async-std` which shouldn't have implemented `OpenOptionsExt` at all.

[`std::os::unix::process::CommandExt`](https://doc.rust-lang.org/nightly/std/os/unix/process/trait.CommandExt.html) for example has had several methods added to it since 1.0. Is there s

[2020-09-23 19:35] dtolnay commented on #77089
The trait likely should have been [sealed](https://rust-lang.github.io/api-guidelines/future-proofing.html#c-sealed), but I think sealed traits were not invented until after 1.0.0.

[2020-09-23 20:01] Darksonn commented on #76801
We actually discussed this in Tokio on the PR for our `OpenOptionsExt`. https://github.com/tokio-rs/tokio/pull/2515#issuecomment-626638604

[2020-09-23 22:49] mbrubeck commented on #77104
In any case, thank you for the feedback here, and I'll try to make sure it's tracked somewhere useful.

For future reference, if you choose, you can file issues on the rust-lang/rfcs repo without actually writing an RFC, for proposals like this.  (Someone will eventually need to do the work of specifying and implementing the change, but it doesn't need to be the same person who opens the issue.)

[2020-09-23 22:58] KodrAus opened #77125 "Tracking Issue for `const fn` `type_id`"
This is a tracking issue for using `TypeId::of` in constant contexts.
The feature gate for the issue is `#![feature(const_type_id)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discus

[2020-09-23 22:59] Mark-Simulacrum commented on #76990
@tmandry Can you tell me what your config.toml contains? With an empty one I cannot seem to reproduce; I see x.py install go off to build a compiler at least (I did not wait for it to finish).

[2020-09-23 23:16] estebank commented on #74881
We no longer emit E0228 for this case in 1.47.

[2020-09-23 23:16] #74881 closed

[2020-09-23 23:32] est31 commented on #77084
In which way is static linking making downloaded LLVM impossible?

[2020-09-23 23:37] JulianKnodt commented on #75243
Hm, fair questions. It does usually make sense to take `&self` since you'd need to make a whole new array of items, but if you want to take ownership of the elements, maybe there is a use case I imagine that probably finding an iterator solution there might be more elegant and is in the works. It would be helpful to post this in the general issues, and link to this Tracking issue for this sort of

[2020-09-23 23:37] Mark-Simulacrum commented on #77084
I don't think it's impossible to download/ship the statically linked LLVM, it's something I want to explore. That said, we want to move to dynamically linking LLVM because we ideally want to be applying ThinLTO to LLVM everywhere, not just on x86_64-unknown-linux-gnu, and since LTO happens at link-time, we want that to happen once, not on the multiple LLVM links occurring during CI.

[2020-09-23 23:40] JulianKnodt commented on #55300
What about something like `bisect_at_*` or `bisect_nth_*`? Altho I worry that bisect is not used commonly enough for it to be immediately clear. I personally am fine with any name, but bisect seems to fit what is missing.

[2020-09-23 23:42] tmandry commented on #76990
Here's a config.toml:

[code]

Oddly if I remove `target`, `docs`, or `tools` it starts building std. Also oddly, `extended` seems to have no impact even though I think it should.

[2020-09-23 23:47] Mark-Simulacrum commented on #76990
Okay, I think I know what the problem is. That target config in build means that we're not building any host-only steps, of which I think everything except docs are currently in x.py install. *Why* everything is host-only, I'm not sure; I think at least std should not be.

What do you expect to install in that scenario? A full compiler toolchain?

[2020-09-23 23:49] tmandry commented on #76990
Yes, or at least that's what happened in the past.

For what it's worth we normally specify more targets than just the one, but this was enough to show the issue.

[2020-09-23 23:52] Mark-Simulacrum commented on #76990
Hm, okay. So the past behavior was almost certainly either a bug or at least unintentional. I think std should be installed for every target, but everything else I wouldn't expect to get installed without a configuring the platform as a host; if you want full toolchains you likely want target and host to be configured identically.

[2020-09-23 23:54] tmandry commented on #76990
I only need one host, multiple targets. It's surprising to me that specifying a target appears to override the default host?

[2020-09-23 23:56] tmandry commented on #76990
Maybe I'm confused about the role of host and target. Let's say I want the compiler to _run_ only on linux x64, and be able to target linux-x64, fuchsia-x64, fuchsia-arm64. What should my configuration be?

[2020-09-24 00:22] Mark-Simulacrum commented on #76990
host = x64 linux
target = x64 linux, fuchsia x64, fuchsia arm64

The behavior of implicitly setting host to empty if only target is specified is not necessarily desirable, it's just a historical artifact (used to be only on command line, the PR you cited earlier made it uniform between files and CLI). I think removing that behavior and requiring an explicitly empty host list probably makes sense,

[2020-09-24 00:33] saskenuba commented on #65823
Any updates on this?

[2020-09-24 00:43] rust-highfive opened #77130 "`miri` no longer builds after rust-lang/rust#77102"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#77102, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-09-24 00:46] jsen- opened #77131 "[AVR] result of `i32 as f32` is incorrect"
I tried this code: https://github.com/jsen-/rust-i32-as-f32-issue-repro

I expected to see this happen:
Every `i32` value converted to `f32` should have equal decimal part and zeros-only after decimal point.

Instead, this happened:
[code]
[full output](https://github.com/jsen-/rust-i32-as-f32-issue-repro/blob/master/output.txt)

### Meta
`rustc --version --verbose`:
[code]
tested on `arduino nano

[2020-09-24 01:03] tmandry commented on #76990
Okay, I'm working on a change to do that.

[2020-09-24 01:36] ColonelThirtyTwo commented on #42940
Any news on this? Just ran into this again.

[2020-09-24 03:04] Lokathor commented on #53346
@rust-lang/wg-triage This is a soundness issue, I believe it should have the appropriate label added.

[2020-09-24 03:09] toku-sa-n opened #77134 "`#![feature(const_fn)]` doesn't work"
I tried this code:

[code]

I expected to see this happen: Compilable

Instead, this happened:
[code]
### Meta

`rustc --version --verbose`:
[code]

I found this bug when I was trying to build [linked-list-allocator](https://github.com/phil-opp/linked-list-allocator) crate.

`cargo-bisect-rustc `: https://gist.github.com/toku-sa-n/0b8e18d78c625ee1dd6b9fe630bed7ce

[2020-09-24 04:55] ecstatic-morse commented on #77134
Adding `const_mut_refs` will make this code work. #77136 will emit the correct suggestion.

[2020-09-24 05:07] estebank commented on #75829
I have a hacky prototype with the following output:

<img width="778" alt="Screen Shot 2020-09-23 at 9 59 01 PM" src="https://user-images.githubusercontent.com/1606434/94103010-55af1900-fde8-11ea-92dc-6959100f761b.png">

Funnily enough, there was no existing test that triggered this.

For the (nightly only) `where <T as Bar>::Baz = String` case, we already provide a suggestion:

<img width="700" a

[2020-09-24 05:19] tmandry commented on #76953
@steveklabnik [This section](https://rustc-dev-guide.rust-lang.org/contributing.html#external-dependencies-subtree) in the guide has the commands we use for clippy. I'm not too familiar with it but @oli-obk and @Manishearth probably have the most hands-on experience.

[2020-09-24 05:57] #43466 closed

[2020-09-24 06:11] jhpratt commented on #43781
What's the status of this? I've been using it on the time crate for as long as I can remember, and a number of other crates have been doing so as well.

[2020-09-24 06:20] BrianKevinson opened #77137 "Rewrite it in rust?"
Hi, I believe that rust is the superior language with regards to the prevention of dendritic dysfunction. Please rewrite. I will happily add my name to the list of contributors.

[2020-09-24 06:25] RalfJung commented on #63084
This seems to be fixed now?

[2020-09-24 06:36] josephlr opened #77138 "Regression for #![feature(const_in_array_repeat_expressions)]"
The following code used to compile on nightly, but now does not:
[code]

Note that
[code]
still compiles. Adding `#![feature(const_fn)]` doesn't affect this issue.

I think this regression was introduced in either #76807 or #76850

CC: @ecstatic-morse @oli-obk

[2020-09-24 06:50] korken89 commented on #63084
Has there been any progress on the stabilization of `type_name`?

[2020-09-24 06:56] josephlr commented on #77138
Actually @RalfJung this might be caused by #76411, as this seems to be a promotion issue.

[2020-09-24 06:56] Bargsteen commented on #77046
Yes, I can confirm that removing the `rust-src` component essentially fixes the problem.
Closing this issue as it is a duplicate of #73167.

[2020-09-24 06:56] #77046 closed

[2020-09-24 07:09] RalfJung commented on #77138
No, this is https://github.com/rust-lang/rust/pull/75502. We used to incorrectly apply `const`-promotion rules inside `const fn`, but since `const fn` are also `fn`, that has all the same problems as applying those rules in `fn`.

So, this was never intended to work, and worked by accident. To make this work we'd have to change array initializers to explicit promotion rules, which IIRC we already

[2020-09-24 07:14] RalfJung commented on #77138
Hm, looks like we do not have an issue open for this, but the tracking issue probably makes sense as a place for this discussion: https://github.com/rust-lang/rust/issues/49147.

[2020-09-24 07:29] josephlr commented on #77138
Makes sense, we can continue discussion in the tracking issue.

[2020-09-24 07:29] #77138 closed

[2020-09-24 07:33] josephlr commented on #49147
As @RalfJung mentioned in https://github.com/rust-lang/rust/issues/77138#issuecomment-698159728, the following code currently doesn't work with this feature flag:
[code]

This is due to changes make around promotion rules in `const fn` (to make them more like `fn`). To fix this, there will need to be explicit constant promotion rules for array initializers.

[2020-09-24 07:37] oli-obk commented on #49147
Note that there's mostly aggreement (I think?) on the decision to *not* use explicit const promotion, but to just require `const { T::new() }` blocks

[2020-09-24 07:43] josephlr commented on #49147
So this means the implementation becomes:

[code]

Is that the desired way to write this?

[2020-09-24 07:44] lzutao commented on #77137
Please be polite, don't be rude about posting random issues forcing people rewriting their projects in Rust.

Also you do realize this is Rust compiler repository, what's your intention about this issue?

[2020-09-24 07:55] RalfJung commented on #49147
The plan is that eventually, you can write `[const { T::new() }; 2]`. This is tracked at https://github.com/rust-lang/rust/issues/76001.

Until that is implemented, what you wrote is basically the manual desugaring of the above.

[2020-09-24 07:58] #77137 closed

[2020-09-24 08:09] apiraino commented on #77112
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377112.20trait.20selection.20arbitrarily.20resolves.20pr.E2.80.A6) and removing `I-prioritize`.

[2020-09-24 08:39] MattesWhite opened #77139 "Integer formatting hex/bin ignores padding in alternate form"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4fd5c86984be029c9001d017d41562e4)):

[code]

I expected that each version of `*_manual` and `*_pretty`, i.e. the alternate version, should print the same results.

Instead, the alternate versions ignore the `0`-padding whereas the binary print does the most strange thing.

### Meta

stdout:

[co

[2020-09-24 10:58] pickfire commented on #71389
@estebank Do you have any mentor instructions for this? I did asked in discord once but you said go ahead. If not I would need to grep myself. :D

[2020-09-24 11:30] toku-sa-n opened #77140 "ICE: cannot convert `ReEarlyBound(0, 'a)` to a region vid"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-24 12:20] matklad commented on #76512
It's interesting that basically all string APIs are underpowered in this way? Both `find` and `split` don't return the matched pattern.

[2020-09-24 12:51] tspiteri commented on #76042
I cannot reproduce the failure with rustc 1.48.0-nightly (8b4085359 2020-09-23) which includes #77063.

[2020-09-24 12:52] djc opened #77143 "Presence of Add impl for unrelated type prevents compilation"
Simplified version of https://github.com/bodil/smartstring/issues/7.

I tried this code:

[code]

I expected to see this happen: this should compile correctly.

Instead, it fails like this:

[code]

Removing the `Add` impl makes it work.

### Meta

This is on current stable, 1.46.0.

[2020-09-24 13:10] LeSeulArtichaut commented on #76042
Letting this issue open to track a beta backport of #77063.
Also, it might be good to have add a test in the suite for this issue. @tspiteri Would you have time to file a PR with your reproduction? Otherwise I can do it myself.

[2020-09-24 14:02] jonas-schievink commented on #77140
Thanks for the report! This looks like a duplicate of https://github.com/rust-lang/rust/issues/43408, however, so closing in favor of that.

Please leave a comment on that issue if you have more information to contribute.

[2020-09-24 14:02] #77140 closed

[2020-09-24 14:03] lqd commented on #27675
The 4 weaponized examples above will indeed be rejected with #73905

[2020-09-24 14:09] jonas-schievink commented on #77143
This seems like expected behavior

[2020-09-24 14:36] djc commented on #77143
I'm confused -- why would `String + &String` start failing in the presence of an impl for `String + FakeString`?

[2020-09-24 14:39] jonas-schievink commented on #77143
Because the trait system then has two impls available to select from, `impl Add<&str> for String` and `impl Add<FakeString> for String`, which means that it doesn't know to apply autoderef to the `&String` argument to get the `&str`.

[2020-09-24 14:53] mightyiam commented on #77100
Could I take this on as my first issue?

[2020-09-24 15:00] djc commented on #77143
Hmm, okay. So I guess this is a duplicate for #44619.

[2020-09-24 15:00] #77143 closed

[2020-09-24 15:11] jyn514 opened #77149 "Give a better diagnostic for `While let`"
Notice the capitalization ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e8c0fc236afa14872d7593172bfc3e1f)):
[code]

[code]
Instead it would be nice to say
[code]

[2020-09-24 15:12] #76812 closed

[2020-09-24 15:15] jyn514 opened #77150 "Clean up handling of `WrongNamespace` in `collect_intra_doc_links`"
Rustdoc looks in different namespaces for diagnostics: https://github.com/rust-lang/rust/blob/66a9cfadf89439ad3ea1b67b996c0a90ca4763bf/src/librustdoc/passes/collect_intra_doc_links.rs#L1569-L1572
So this is handled properly:
[code]
However (after https://github.com/rust-lang/rust/pull/76955), `resolution_failure` only looks at other namespaces _if there are multiple path segments_. So https://gith

[2020-09-24 15:16] yoshuawuyts commented on #77100
@mightyiam please do!

[2020-09-24 15:18] oli-obk commented on #76953
Unfortunately at this time we still need to use an unreleased version of git (details in https://github.com/rust-lang/rust-clippy/issues/5565), because the rust git repo just has too many commits and merge commits.

[2020-09-24 16:30] camelid commented on #77149
This is not just for `while` ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ac70ab6a1f99901880d48019630f3325)):

[code]

[code]

Perhaps in general it might be nice to do some kind of Levenshtein distance for identifiers that might be intended to be keywords? Might be tricky to implement though, and probably not necessary.

@jyn514 Do you want to update the t

[2020-09-24 16:41] LeSeulArtichaut commented on #76980
I couldn't reproduce this issue with my MacOS laptop (`x86_64-apple-darwin`). I tried compiling with stable (1.46.0), `nightly-2020-09-18` and latest nightly (`nightly-2020-09-23`), resulting in a successful compilation in less than 15 minutes. Unless I missed something, I guess this probably means this is a Linux-only issue?
@ehuss Did you also use a Linux machine for your previous bisection?

It

[2020-09-24 16:49] Stupremee commented on #76980
I can reproduce it on `x86_64-unknown-linux-gnu` with `rustc 1.48.0-nightly (fb1dc34a8 2020-09-21)` too.

[2020-09-24 16:51] camelid commented on #76761
I have a hunch that `macro_rules!` and `macro` are both represented as [`rustdoc::doctree::Macro`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/doctree/struct.Macro.html), and then serialized to `macro_rules!` in [`rustdoc::clean`](https://github.com/rust-lang/rust/blob/master/src/librustdoc/clean/mod.rs) and/or [`rustdoc::clean::inline`](https://github.com/rust-lang/rust/blob/master/sr

[2020-09-24 16:53] RalfJung commented on #76761
Cc @GuillaumeGomez

[2020-09-24 16:56] camelid commented on #76761
I would experiment to see if that is what's causing it, but I'm waiting on a build for something else 😄

[2020-09-24 17:01] jyn514 commented on #76761
https://rustc-dev-guide.rust-lang.org/building/suggested.html#working-on-multiple-branches-at-the-same-time

[2020-09-24 17:03] camelid commented on #76761
Wow, I never noticed that! That's so cool :)

[2020-09-24 17:11] Stupremee commented on #76980
I think I found a mvce. (The build is currently running for about ~10 minutes).

`Cargo.toml`
[code]

`shader.vert`
[code]

`main.rs`
[code]

[2020-09-24 17:14] gilescope commented on #50297
Hi, in 2017 I asked if we could have team city service messages output for running cargo tests. I just thought I'd check back and see if this is now possible? Currently there's some nasty regex in teamcity's rust plugin - I think and that could get rewritten to use the json output instead, but I wondered if it was now possible to plug in custom test reporters as well as custom test runners?

[2020-09-24 17:22] cuviper commented on #76980
2020-09-21 to 2020-09-23 includes the LLVM 11-rc3 update. @Stupremee can you try with the latest nightly?

[2020-09-24 17:23] Stupremee commented on #76980
Same result

[2020-09-24 17:31] spastorino commented on #76980
This [was discussed in today's compiler weekly meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-09-24.20.2354818/near/211140900).

[2020-09-24 17:32] steveklabnik commented on #49278
Triage: Over two years later, I am not sure if this ticket is still relevant, given the amount of changes we've undergone. Maybe it is, maybe it isn't.

[2020-09-24 17:34] adlerd opened #77156 "rustc does not recognize a return inside a break expression for purposes of checking that every code path has the function return type"
I tried this code:

[code]

I expected that this would compile. Instead rustc says (on 1.48.0 nightly 2020-09-23):
[code]

As a sanity check, I also tested this:

[code]

This compiles and when run prints `5`, indicating that that expression is indeed the place the function returns. Looking at the function it's also clearly an unconditionally reached return. Compare

[code]

which also compiles an

[2020-09-24 17:37] jyn514 commented on #69781
One thing @Nemo157 mentioned is that there _is_ a difference between `fn f() -> impl Future` and `async fn f()`: the first can perform blocking operations before returning a future and the second can't.

That said this does seem useful. Maybe it could be opt-in, with `doc(async_fn)` or something like that?

[2020-09-24 17:38] ehuss commented on #76980
I can confirm, this only happens on Linux.  Windows and macOS do not seem to be affected. It doesn't seem to matter if it is `--release` or not. Tested with `rustc 1.48.0-nightly (8b4085359 2020-09-23)`.

Thanks for making the smaller repro @Stupremee!  I imagine it will be difficult to narrow it down more. shaderc-sys is a *huge* dependency.

[2020-09-24 17:39] jyn514 commented on #69781
I think https://github.com/rust-lang/rust/issues/63037 would help with this (and could be done automatically, it's just a bug fix in rustdoc).

[2020-09-24 17:51] kennytm commented on #53278
We could make it truly backward-compatible through a `--regex` flag like the existing `--exact` flag (#38181)

[code]

[2020-09-24 17:54] jyn514 opened #77158 "Better error message on recursive trait bounds without a stopping condition"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0b7e3141947736675fb4ba89764ea70e)):

[code]

I expected to see this happen:

[code]

Instead, this happened: The above errors, and `error[E0275]: overflow evaluating the requirement &'static &'static &'static ... &'static T: Trait<'static>`

<details><summary><code>&'static &'static &'static ...

[2020-09-24 17:54] WaffleLapkin opened #77159 "Adding Op<&T> bound breaks code depending on Op<T> bound"
I tried this code:

[code]

I expected to see this happen: code compiles

Instead, this happened: code doesn't compile with the following error:

[code]

1) `T::Assoc` should implement `Op<T::Assoc>` so the error shouldn't happen
2) Compiler suggests using `T: WithAssoc<'lt, Assoc = &'lt <T as WithAssoc<'lt>>::Assoc>` which is reccursion
3) The code works if
   1. you'll remove `+ Op<&'lt Self>`

[2020-09-24 18:03] jyn514 commented on #77158
err ... this is not actually related to elided lifetimes, this gives the same error:

[code]

[2020-09-24 18:05] andjo403 commented on #76365
seems like there is a issue for adding mangling support here https://github.com/rust-lang/rust/issues/61486 so this will probably be fixed when that issue is fixed.

[2020-09-24 18:43] ehuss commented on #76980
Attaching with a debugger, the function [`to_string`](https://github.com/KhronosGroup/SPIRV-Tools/blob/9edeeafdb64213453a0b33a8acb33b8418b40d46/source/name_mapper.cpp#L34-L40) is returning an empty string, causing the code [here](https://github.com/KhronosGroup/SPIRV-Tools/blob/e12087d6c38a492ab5a0373793fe073920a1f2b5/source/name_mapper.cpp#L92-L95) to go into an infinite loop because it is unable

[2020-09-24 18:54] daira commented on #52652
It caused breakage in a small number of crates, and this led to maintaining an unsafe situation for *all* crates that use FFI. That policy is wrong, IMHO.

[2020-09-24 19:24] Stupremee commented on #76980
Yep, thats what I found out as well. But it's still super weird that it works on stable.

[2020-09-24 19:54] scottmcm commented on #75744
Another example of a type that's pretty close to this: the `Transition` type in https://deislabs.io/posts/a-fistful-of-states/, which is essentially `ControlFlow<Result<()>, Box<dyn State>>` -- either execution is done (possibly with an error), or it continues (in the specified state).

[2020-09-24 19:55] jsgf commented on #77116
I guess that's a question of what it means for the mangling to be "stable". Since Rust has no ABI guarantees, there's nothing in principle preventing either mangling scheme from changing from release to release. But since it's also an interface to other tools they need to be managed in a somewhat sensible way.

Legacy mangling gets away with this because it looks enough like typical C++ mangling f

[2020-09-24 20:11] m-ou-se commented on #72919
I think the current implementation makes sense. I'd say the goal of a BufWriter to reduce the number of write calls on the underlying stream. Buffering a write call of the full buffer capacity only serves the purpose of using the buffer as much as possible, as the number of write calls (and their sizes) remain the same. That doesn't seem useful to me.

[2020-09-24 20:11] Mark-Simulacrum commented on #73394
We discussed @SimonSapin's concern in the language team meeting this week (on Monday), and those in the meeting felt that there's likely some misunderstanding at root -- the current FCP and RFC 2582 do not attempt to change anything where `*` is required (before or now).

Specifically, the RFC address cases where de-referencing to access memory is not necessary (in particular, fields of packed str

[2020-09-24 20:13] m-ou-se commented on #72919
Maybe instead, writing `"12"` and then `"34"` into a BufWriter with a capacity of 4 should flush right after the `"34"`, instead of waiting until the next call. Feels slightly more consistent.

[2020-09-24 21:00] tavianator commented on #77159
This "fixes" it:

[code]

so I think this is the same issue as https://github.com/rust-lang/rust/issues/72582

[2020-09-24 22:00] Lucretiel commented on #72919
I'm actually working on a PR that does something similar to that. The issue you run into, at least for `write`, is that you have to report either success or an error, and the latter case implies that 0 bytes were written. So if you buffer `"34"`, you have to report Ok(2), which means you don't want to try any additional fallible io operations. However, the story is a bit different for `write_all`,

[2020-09-24 22:00] #72919 closed

[2020-09-24 22:07] camelid commented on #76761
Indeed, changing `rustdoc::clean` changed the output. See if you can notice my experimental change ;)

![image](https://user-images.githubusercontent.com/37223377/94205201-a588f100-fe77-11ea-8051-a0e38fe539c4.png)

[2020-09-24 22:24] ecstatic-morse opened #77169 "Unused variables lint does not work inside an array length expression"
Array length expressions can can do anything that a `const` initializer can. However, the unused variables lint does not work inside an array length expression. For example,

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d049315166724f100c266cdfda761e89))

...compiles with no warnings:

[code]

[2020-09-24 23:00] JayKickliter commented on #68390
@vervaekejonathan I'm running into the same problem with Buildroot. Did you patch Buildroot's rust toolchain versions, or just use an external-to-buildroot toolchain?

[2020-09-24 23:40] estebank commented on #65510
#73905 will have a significant positive impact on this.

[2020-09-25 00:19] camelid commented on #67799
Reassigning `@GuillaumeGomez` since he's working on it :)

[2020-09-25 02:10] VFLashM opened #77173 "Exponential compilation time for recursive data structures implementing traits with associated types."
I stumbled upon a case when recursive data structures implementing traits with associated types cause exponential compilation time and memory consumption.

Example is a complicated, but quite fragile. I couldn't simplify it further.
Looks like associated type is a required prerequisite for exponential behavior.

I did some basic profiling and it seems that slowdown is caused by exponential growth

[2020-09-25 02:11] clarfonthey opened #77174 "Tracking Issue for inherent_ascii_escape"
Feature gate: `#![feature(inherent_ascii_escape)]`

### Public API

[code]

### Steps / History

- [x] Implementation: ~~#73111~~ #83130
- [x] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- [ ] Naming. `escape_ascii`, `escape_default`, `ascii_escape_default`, ... ?
- [ ] Deprecate `std::ascii::escape_default`? (That is, all of `std::ascii`.)

[2020-09-25 02:23] lzutao commented on #77174
typo: `inherent_ascii_escpe`

[2020-09-25 03:49] Nugine opened #77175 "False positive: single_use_lifetimes"
I tried this code:

[code]

I expected to see this happen: the code is correct.

Instead, this happened:

[code]

Just swap the functions, then the code compiles:

[code]

Update 20201014:

The examples may be misleading.
I forgot that `#[deny(single_use_lifetimes)]` takes effect on a single item.
It was a typo.

Here is a new example. It should be correct. But the compiler does not accept it.

[c

[2020-09-25 04:17] #72165 closed

[2020-09-25 04:17] #76542 closed

[2020-09-25 04:17] #77103 closed

[2020-09-25 04:17] #77134 closed

[2020-09-25 04:27] kupiakos commented on #48564
The code in https://github.com/rust-lang/rust/issues/48564#issuecomment-505114709 is great, but missing an important detail. `Date.now()` breaks the requirement that [`std::time::Instant`](https://doc.rust-lang.org/std/time/struct.Instant.html) be monotonic. Right now, it's more like [`std::time::SystemTime`](https://doc.rust-lang.org/std/time/struct.SystemTime.html). A better replacement can use

[2020-09-25 04:36] joshtriplett commented on #76992
@mati865 Thanks for getting numbers on this. That sounds like a pretty compelling argument that there's no longer any measurable performance loss.

I think it'd be a good idea to make this change, to simplify static linking.

[2020-09-25 05:04] kennytm commented on #49278
The `dist-x86_64-linux` image has moved from Centos 5 to Debian 6 in #74163, but we are still building GCC 5.5 + Python 2.7 + LLVM from scratch, so the issue still exists.

[2020-09-25 06:26] RalfJung commented on #77062
Cc @rust-lang/wg-const-eval

[2020-09-25 06:29] RalfJung commented on #40032
https://github.com/rust-lang/rust/pull/75295 looks related... @tmiasko do you think your PR can be a first step towards solving this issue?

[2020-09-25 06:46] lzutao commented on #77169
Seems like the liveness of `x` is over the block contains it, if I read the log right.
https://gist.github.com/lzutao/2053546ae057353af4f31cddc4676f58

[2020-09-25 08:06] jhpratt commented on #77175
I don't have the issue number off-hand, but I know there's an issue about this already.

[2020-09-25 08:22] arijit79 commented on #76953
If the subtree approach gives best of both worlds, then I am fine with that

[2020-09-25 10:14] rossmacarthur commented on #55235
For those looking for some sort of a workaround for this I used the following in my `build.rs` when building a vendored library with CMake.

[code]

[2020-09-25 10:41] funbringer opened #77179 "ICE when trying to infer parameter in impl Trait type alias"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-25 11:06] pietroalbini commented on #52652
[There were other crates affected by this, including ones with no available workarounds.](https://internals.rust-lang.org/t/unwinding-through-ffi-after-rust-1-33/9521) Also, the workaround suggested for `rlua` was possibly worse than this, as it completly subvert Rust's stability guarantee and it's an implementation detail only supposed to be used by the compiler itself. I would personally never s

[2020-09-25 12:50] lzutao commented on #77088
@rustbot assign bugadani

[2020-09-25 12:51] wesleywiser commented on #76803
I'm re-opening to track the beta-backport. Once that is completed, we can close this.

[2020-09-25 13:19] daira commented on #52652
How long are we going to prioritize broken C libraries with broken error handling designs over the safety of the rest of the Rust ecosystem?

https://www.cvedetails.com/vulnerability-list/vendor_id-7294/Libpng.html
https://www.cvedetails.com/vulnerability-list/vendor_id-17990/product_id-46165/IJG-Libjpeg.html

[2020-09-25 14:31] dylni commented on #76106
@jyn514 I had this issue when documenting [quit](https://docs.rs/quit/1.1.1/quit/attr.main.html). It might be easier to test with that crate, since it's small and not part of libstd, but the issue is a little different. `crate::with_code` works, but `with_code` is unresolved.

Rustdoc gives no warnings with either.

[2020-09-25 14:45] Manishearth commented on #76953
Note that if we are doing subtrees, some team needs to commit to owning the synchronization, or we need to introduce automation for it.

[2020-09-25 15:10] pickfire commented on #77149
I think there is a lot for this, like `Fn main`.

[2020-09-25 15:11] oli-obk commented on #53970
We're moving away from submodules, so this is becoming irrelevant

[2020-09-25 15:11] #53970 closed

[2020-09-25 15:12] #31075 closed

[2020-09-25 15:18] 2beaucoup opened #77188 "rustc panic during cargo check"
I ran `cargo check` on a rather large workspace which crashed. After running `cargo clean` it worked again.

### Code

can't share/minimize

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-25 15:20] jyn514 commented on #77149
If I didn't think it was worth it, I wouldn't have opened the issue.

[2020-09-25 15:43] jyn514 commented on #76106
@dylni that's a separate issue - `with_code` is _additional_ documentation on the re-export that gets resolved in the scope of the original module instead of in the scope of the re-export. This issue is about documentation that was present to begin with and mysteriously breaks.

[2020-09-25 15:45] jyn514 commented on #76106
The fact that it works with `crate::` is really odd though. Sounds like something weird is going on with proc-macros, can you open a new issue?

[2020-09-25 15:49] jyn514 commented on #76106
Also, I'm starting to think we should revert https://github.com/rust-lang/rust/issues/56922, it's causing more trouble than it's worth.

[2020-09-25 15:56] dylni opened #77193 "intra-doc links: `crate` means something different when an item is re-exported"
Crate [quit](https://crates.io/crates/quit) exports `main` from [quit\_macros](https://crates.io/crates/quit_macros). `main` is documented in quit and has no documentation in quit\_macros.

When that documentation has a link to `[with_code]`, which is only in crate quit, it is unresolved. However, `[crate::with_code]` is resolved.

Rustdoc gives no warnings with either.

You can see the result wit

[2020-09-25 15:57] dylni commented on #76106
Sure: #77193

[2020-09-25 16:04] dylni commented on #76106
That explains why there aren't any warnings. I agree it might be better to revert that fix. If I'm running with `--display-warnings`, I would want to see anything that will show as broken in the documentation.

P.S. Is it expected that ``[`[String]`]`` doesn't cause a warning and doesn't resolve?

[2020-09-25 16:06] pnkfelix commented on #76466
We did a bit of a deeper dive than expected into this bug during this week's T-compiler planning meeting.

The relevant portion of the log starts at around [here](https://zulip-archive.rust-lang.org/238009tcompilermeetings/48871planningmeeting20200925.html#211269470)

Investigation is ongoing

[2020-09-25 16:12] funbringer commented on #77179
The backtrace suggests that ICE is caused by error formatting machinery. This is a corner case that should be fixed, but my original intention was to provide a concrete type. Sadly, it didn't work out either:

[code]

results in:

[code]

Will this be possible one day? My intuition tells me that the snippet above should work. Apologies if this is an improper place for such questions.

[2020-09-25 16:15] Aaron1011 commented on #72470
Does this still reproduce with the latest nightly (LLVM 11)?

[2020-09-25 16:25] eddyb commented on #76466
Summarizing from the Zulip discussion:

I believe this was introduced by https://github.com/llvm/llvm-project/commit/928e9e172305752583a75a8174ab5a87b4e09d80, which fixed parsing "response files" (`@file` indicating `file`'s contents should be inlined in the command-line arguments), to use the encoding style of the host platform instead of hardcoding "GNU". But our code still outputs the GNU style

[2020-09-25 16:36] jyn514 commented on #76106
It's definitely expected that it doesn't resolve: You said 'a link to `[String]`', which gets the backticks stripped and rustdoc then sees `[String]`, which isn't a valid rust path.

`[]` not warning is intentional but also possibly not the best decision. The code for that is here: https://github.com/rust-lang/rust/blob/78a089487b5f6d5e4205ac4500410b442857bced/src/librustdoc/passes/collect_intra_d

[2020-09-25 16:44] dylni commented on #76106
My intention was to link to the [slice primitive](https://doc.rust-lang.org/std/primitive.slice.html) (i.e., ``&[String]``). I know now that intra-rustdoc links don't work on types that include their generic parameters, but it might be an easy thing to miss without the warning. Should I create an issue/PR for adding a warning there?

Also, sorry for hijacking this issue.

[2020-09-25 16:49] jyn514 commented on #76106
Sure, go ahead and open an issue for that too.

Do you mind joining the discord so we can talk about this more without hijacking the issue further? https://discord.gg/4yEYPuT

[2020-09-25 16:51] jonas-schievink commented on #72470
On `rustc 1.48.0-nightly (8b4085359 2020-09-23)` I can't reproduce this

[2020-09-25 16:54] #63244 closed

[2020-09-25 17:11] dylni commented on #76106
Discord is refusing to load messages :(

[2020-09-25 17:16] jyn514 commented on #77193
This isn't related to scopes, rustdoc will also fail to resolve these links:

[code]

Something about the re-export itself is messing it up.

[2020-09-25 17:23] jyn514 commented on #77193
The good news is this is unrelated to proc-macros. Here's what I found:

[code]

This is really strange. I would have expected it to resolve relative to `std::string`, not relative to the current crate.

[2020-09-25 17:49] jyn514 commented on #77193
Ok, I found the issue: rustdoc and resolve disagree about which crate this is in 🤦

[code]
For `with_code`, rustdoc passes the original module of String, `alloc::string`, and resolve correctly says there's no item named `alloc::string::with_code`. But for `crate::with_code`, resolve thinks that `crate` refers to the _current_ crate, not to alloc.

This explains a lot of other broken links I've bee

[2020-09-25 17:51] jyn514 commented on #76106
Closing as duplicate of https://github.com/rust-lang/rust/issues/76106, which has more discussion.

[2020-09-25 17:51] #76106 closed

[2020-09-25 17:56] jyn514 commented on #77193
Marking as P-high after discussing with @GuillaumeGomez ; it would be unfortunate to still have this bug on the first release after stabilization.

[2020-09-25 18:02] follower commented on #47168
Is there a "policy" around whether or not suggestions like this should include the required `use` invocation too:

[code]

As an early-stage Rust programmer who encountered this issue, it seems a more friendly experience would be to include the `use std::convert::TryInto;` in the first help message rather than requiring me to make the suggested change & have compilation fail with an error related

[2020-09-25 18:06] dylni commented on #76106
@jyn514 I think you meant #77193. ;)

[2020-09-25 18:13] dylni opened #77199 "intra-doc links: Links with unexpected characters are silently ignored"
Intra-doc links with unexpected characters are ignored here:

https://github.com/rust-lang/rust/blob/78a089487b5f6d5e4205ac4500410b442857bced/src/librustdoc/passes/collect_intra_doc_links.rs#L931-L933

However, it would be better if they caused a warning with `--display-doctest-warnings`. Developers might expect ``[`&[String]`]`` to link to the [slice primitive](https://doc.rust-lang.org/std/primi

[2020-09-25 18:25] jyn514 opened #77200 "Consider warning when intra-doc links fail on a cross-crate re-export"
This is the exact opposite of https://github.com/rust-lang/rust/issues/56922 😆

There have been a lot of silent failures popping up WRT cross-crate re-exports (https://github.com/rust-lang/rust/issues/77193, https://github.com/rust-lang/rust/pull/75855, https://github.com/rust-lang/rust/issues/76106), and they're hard to notice because the failure is completely swallowed, you have to manually insp

[2020-09-25 18:26] jyn514 commented on #77200
See also my write-up in https://github.com/rust-lang/rust/issues/77193#issuecomment-699065946: possibly we could make `[broken_link]` warn while still hiding failures from the original crate (although I'm not sure how).

[2020-09-25 18:31] taiki-e commented on #69912
@yoshuawuyts

I believe [`futures::task::ArcWake`](https://docs.rs/futures/0.3.5/futures/task/trait.ArcWake.html) should be added to that list.

[2020-09-25 18:32] scottmcm commented on #61695
@mexus You can always make a stabilization PR and see what libs thinks 🙃

Unfortunately `!` _still_ isn't stable, so it's possible that the current bound of `E: Into<!>` might make it impractical to take advantage of on stable.  I don't know whether a change to use the usual placeholder (`E :Into<core::convert::Infallible>`) would be acceptable.

[2020-09-25 18:33] GuillaumeGomez commented on #77200
If your crate reexports an item, the reexport itself is part of your crate, so if there is a broken link in the documentation you added on it, we should definitely emit a warning.

[2020-09-25 18:46] ssokolow commented on #52652
@daira In the case of libpng, the situation is complicated. libpng is the reference implementation and, with APNG being an explicit violation of the PNG spec, people tend to create implementations that, by design, violate the spec and can't supplant the reference implementation.

<details>

**TL;DR:** PNG was explicitly designed to avoid the "Is this GIF animated?" problem, so they insist that you

[2020-09-25 18:51] spastorino commented on #76479
Implemented this but @matthewjasper already has a solution too, so leaving it up to them and adjusting the assignee properly.

[2020-09-25 19:45] duckymirror commented on #51430
I'm working on `library/alloc/src/string.rs` now.

[2020-09-25 20:14] yuriks commented on #52652
I just wanted to call out that I feel like the discussion here is getting somewhat unproductive. Ultimately Rust needs to meet the needs of its users. If there are people who want or need to use certain C libraries to do what they want, and the Rust project considers supporting them as being part of their scope, then breaking their usage also doesn't help advance the goals of the project, regardle

[2020-09-25 20:41] petrochenkov commented on #67510
Some thoughts:
- `Trait<A<'a>: Clone>` should be supported as well (https://github.com/rust-lang/rust/issues/52662).
- The syntax should be future compatible with *type* parameters in associated types:
[code]
- What is inside the angle brackets really, arguments or parameters - `A<???>`?
    (Arguments use already defined names and parameters introduce names.)
    Does `Trait<A<u8> = u8>` or `Trai

[2020-09-25 21:08] LeSeulArtichaut commented on #77100
Feel free to use the `@rustbot claim` command to assign the issue to yourself and show you're working on it

[2020-09-25 21:30] Aaron1011 commented on #46439
This was implemented in https://github.com/rust-lang/rust/pull/74682, so I believe this issue can be closed.

[2020-09-25 21:41] dylanbronson opened #77205 "Serialization/Deserialization of SocketAddrV6 producing unexpected results"
I tried this code:

[code]

I expected to see this happen: I expect this to pass. All I'm doing is serialization and deserialization.

Instead, this happened: It failed. The flowid and scope_id have been converted to 0 upon deserialization.

Please let me know if I have some misconception with how bincode or SocketAddrV6 are supposed to work.
Thank you!

### Meta

`rustc --version --verbose`:
[cod

[2020-09-25 21:44] #77002 closed

[2020-09-25 21:44] #77105 closed

[2020-09-25 21:44] #70225 closed

[2020-09-25 21:47] sfackler commented on #77205
It seems like this should be filed on either serde or bincode.

[2020-09-25 21:52] #46439 closed

[2020-09-25 21:59] estebank commented on #47168
@follower many times the error being emitted is in a stage that lacks the necessary context to provide a 100% valid suggestion. As an informal policy, if applying a suggestion gives you a follow up suggestion(s) that if followed land you in working code likely to have been the original intent, that is considered acceptable. Because of this, I feel that the current state is good enough, but do feel

[2020-09-25 22:21] zserik commented on #67510
personally I would prefer
[code]
(about the alternative:) I just wonder what would happen if it may clash, like:
[code]
vs.
[code]

I think we should allow both syntax '(es), which should be considered equivalent in simple cases, but may be able to express more complex relations cleanly.

[2020-09-25 22:49] #77205 closed

[2020-09-25 22:59] ecstatic-morse commented on #76618
I tried to remove `qualify_min_const_fn` in #76850, but ended up merely disabling it in `rustc` because it would have broken `clippy`, which would have caused CI to fail. I tried to remove it for real in #77128, but `clippy` can only run lints on `optimized_mir`, which is a) wrong and b) causes some assertions in const-checking to fail.

To fully resolve the first half of this issue, one of a few

[2020-09-25 23:06] jyn514 commented on #77149
@camelid FYI I don't think newcomer-roadblock is _wrong_ per-se, but I opened this because I made the typo myself and was very confused for a second 😆

[2020-09-26 00:38] pickfire commented on #75981
And it would be cooler if those text are clickable.

[2020-09-26 00:49] Zenithsiz commented on #44874
Wanted to comment a small pain point I've encountered using this feature I haven't seen mentioned yet.

If we have a method receiving a `*const T`, such as `fn len(self: *const Self)`, we can't call it directly with a mutable pointer, `*mut T`, although we can just cast it and call it manually with `(var as *const T).len()`.
Might be worth adding a special case for this, just as we can call `&self

[2020-09-26 01:10] camelid commented on #77149
I don't know; I would consider it newcomer-roadblock. This is a pretty confusing error:

[code]

In general, Rust's parse errors can sometimes be a bit confusing (for me at least). It would just be nice if they were more semantic errors, rather than what token the parser expected and what it got. I think that format is more understandable to compiler developers than to regular programmers ;)

[2020-09-26 01:47] mightyiam commented on #77100
@rustbot claim

[2020-09-26 03:28] josephg opened #77214 "Vec does not implement ExactSizeIterator"
Vec implements `Iterator` but for some reason it does not implement `ExactSizeIterator`. Strangely, `vec.iter()` does.

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a49025500ec8d61918c33e222d0ac493)

[code]

[2020-09-26 05:31] mightyiam opened #77215 "Could CONTRIBUTING.md be improved?"
The [CONTRIBUTING.md](https://github.com/rust-lang/rust/blob/85072e330394440776ace5ae612e3ced32ef6348/CONTRIBUTING.md), writes:

Perhaps it could be a little better. What throws me off in this last sentence, is the term `rustc`. I'm just a total newbie and just getting to know the terms in this language, so there's no surprise that I can't explain why I am sent one place or another for documentati

[2020-09-26 07:32] ishitatsuyuki commented on #77214
`Vec` does not implement `Iterator`. What you want is `IntoIterator`.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5db4f1ebd4cae732ef7d20e197a8f645

[code]

The syntax is pretty annoying though, not sure if this can be simplified.

[2020-09-26 07:47] mightyiam opened #77216 "Writing Documentation section points to wrong docs build output path"
The [documentation on writing documentation](https://rustc-dev-guide.rust-lang.org/contributing.html#writing-documentation) claims

Where it seems that the correct path is `build/$TARGET/doc`.

[2020-09-26 07:47] mightyiam commented on #77216
@rustbot claim

[2020-09-26 07:50] oli-obk commented on #77214
A bit less verbose:

[code]

I don't think there's any action we can take on our end except maybe make the diagnostic report a suggestion for a method call

[2020-09-26 07:51] Hawk777 opened #77217 "False positive unused_lifetimes warning"
I tried this code:

[code]

I got a warning “lifetime parameter `'x` never used”, on the `impl` line. But it clearly is used. The warning goes away if I delete the function `foo`, or make it a regular function instead of an asynchronous function.

### Meta
`rustc --version --verbose`:
[code]

I saw #61115 and rust-lang/rust-clippy#3988, but those were both closed at least a year ago and this is st

[2020-09-26 07:58] zdenek-crha opened #77218 "ICE on `if let Some() = ...` expression in loop with variable shadowing and missing let keyword"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-09-26 08:04] mightyiam commented on #77216
This should probably be moved to https://github.com/rust-lang/rustc-dev-guide.

[2020-09-26 08:09] TrolledWoods opened #77220 "Incorrect unsafe code example in standard library"
The safety clause on the ``Vec::set_len`` function says that:
* new_len must be less than or equal to capacity().
* The elements at old_len..new_len must be initialized.

However, the code example for ``std::ptr::copy`` violates the second rule
[code]

The ``set_len`` is called before the values are initialized with the copy.

This could be fixed by either making the safety clause for ``set_len``

[2020-09-26 08:16] mightyiam commented on #77216
In favor of https://github.com/rust-lang/rustc-dev-guide/issues/895.

[2020-09-26 08:16] #77216 closed

[2020-09-26 08:27] leonardo-m commented on #77220
Eventually Rust will need pre-conditions and post-conditions to verify statically and automatically that (most) invariants of unsafe functions hold :-)

[2020-09-26 08:29] TrolledWoods commented on #77220
Isn't the point of unsafe code that you yourself uphold the invariants?

[2020-09-26 08:34] RalfJung commented on #76618
That would be my preferred solution for now, TBH -- but I am not a Clippy maintainer so obviously I am picking what would be easiest for rustc itself.

I added resolving this as a checkbox to the OP. I am not sure if there are still parts of `const_fn` left to be moved out so I couldn't add those to the list.

[2020-09-26 08:35] RalfJung commented on #76618
Cc @rust-lang/clippy for the clippy problem

[2020-09-26 08:37] mightyiam commented on #52327
Which directories contain the code that creates error messages, please?

[2020-09-26 08:42] lcnr commented on #77217
The issue is that the field `x` is never marked as used, which is required to mark `'x` as used, as `x` is the only field using `'x`.

This is not ideal, but not sure on where exactly we want to lint here. If we have functions `f` and `g` with `f` calling `g` and `g` calling `f` it is probably good to lint for both `f` and `g` so I don't think just marking everything used in unused things as used

[2020-09-26 08:50] lcnr commented on #77220
yeah, afaict the safety conditions of `set_len` currently do not guarantee that `set_len` doesn't look at any elements, so this would be an allowed implementation of `set_len` afaict.
[code]
We "obviously" do not do this, but I guess cc @rust-lang/wg-unsafe-code-guidelines on what's the right wording here.

[2020-09-26 08:52] leonardo-m commented on #77220
Currently yes, but surely that isn't a requirement. Having some mechanical ways to avoid some bugs in unsafe{} sections will be very good, even it doesn't cover everything. There are people working on the formalization of (unsafe) Rust semantics that have this purposes too.

And in some cases it's not that hard, is well within the capabilities of other research languages, like here:
https://raw.gi

[2020-09-26 09:03] petrochenkov commented on #67510
The `Trait<for<'a> A<'a> = &'a u8>` form introduces a new syntax and requires a more complex disambiguation because types can start with `for` (`Trait<for<'a> A<'a>>` is a type argument, `Trait<for<'a> A<'a> = &'a u8>` is an assoc type constraint), so I'd prefer to avoid it for now.
It can be added later if it becomes necessary.

[2020-09-26 09:04] ebroto commented on #76618
I would like to make the necessary changes in Clippy to unblock this.

I would start by disabling `missing_const_for_fn` for now, and then tackle the changes needed to make Clippy use `mir_const` instead of `optimized_mir`, given that we have other places where `optimized_mir` is being used for linting (notably `redundant_clone`, but also `implicit_return`). For this step I would need some mentori

[2020-09-26 09:16] RalfJung commented on #76618
Clippy is the only client of `qualify_min_const_fn` right now. So it should be either moved to Clippy or removed, as the rest of rustc does not use it.

The new const analysis that rustc is using does not have a "speculative mode" -- if it detects a const-error, it raises a hard error. That is how such analysis usually work in rustc AFAIK, min_const_fn was the odd one out. Clippy exploited this sp

[2020-09-26 09:33] TrolledWoods commented on #77220
@leonardo-m I think this discussion is irrelevant to the issue. What we should be discussing is what to do; change set_len safety guarantees, because "We 'obviously' do not do this", or change the example. I'm leaning towards making the safety guarantees for set_len less strict, because that would allow for more flexible usage of the function.

[2020-09-26 09:43] TrolledWoods commented on #77220
However, changing the safety on the ``set_len`` would break the invariants of ``Vec``,  and if you want to do crazy things with a vector you can use ``into_raw_parts`` and ``from_raw_parts``. In my experience rust doesn't like invariants to be broken even for just short periods of time inside unsafe code, so just fixing the example may be a better choice that fits better with how rust works.

[2020-09-26 10:00] josephg commented on #77214
Ah cool beans. Happy to close this.

[2020-09-26 11:28] pickfire commented on #77215
I personally think `CONTRIBUTING.md` should still redirect to rustc-dev-guide but I think the guide could be improved. IIRC the guide was not updated regarding the split of `compiler`, `library` and `core`. The guide talks more about contributing to the rust compiler, but personally I think contributing to the library should be straightforward besides not knowing how to build a custom toolchain wh

[2020-09-26 11:37] gilescope commented on #49359
Are people happy with `cargo test -- -Zunstable-options --format json` ? Should we be looking to stabilse this argument? (I notice `rustc` calls the same argument `--message-format`)

[2020-09-26 11:43] Gilnaa commented on #49359
Is anyone actually using it?

I've made the PR 2.5 years ago, and at the time there was a talk about custom testing harnesses that would make this feature obsolete.

I did not see any feedback (neither positive nor negative), so I assumed it was just unused.

[2020-09-26 12:01] gilescope commented on #49359
I think the custom test harnesses have focused on alternative ways for test runners. I can't see much sign on the custom reporting side. To be honest standardised reporting for different custom runners would be what I would expect all CIs would like, so to me it feels like a json test reporting format seems front and center.

From my side I'm looking at translating these into teamcity service mess

[2020-09-26 12:13] Gilnaa commented on #49359
I actually get the expected behavior, but I'll see if I can add timestamps trivially

[2020-09-26 12:27] oli-obk commented on #77088
The PR did not actually fix the issue. The test case added to the PR also works without the PR.

[2020-09-26 12:29] #77214 closed

[2020-09-26 12:31] Gilnaa commented on #49359
Oh, there's already a flag that prints the elapsed time: `--report-time`

[2020-09-26 12:32] oli-obk commented on #76618
Clippy frequently has custom algorithms to detect whether to lint on something. It's totally fine not to reuse the compiler logic and keep the compiler logic simple and just have a bunch of false negatives in the lint. False negatives in a non-bug-detecting lint are absolutely no problem. So yes, I think we should just move the function to clippy and call it a day. We can then look into improving

[2020-09-26 12:34] #77088 closed

[2020-09-26 12:36] bugadani commented on #77088
It doesn't hurt to double check, just takes some time :)

[2020-09-26 12:39] varkor commented on #52327
@mightyiam: the diagnostics messages appear in most of the `compiler/` subdirectories. However, I'm not sure of specific examples where this parameter/argument distinction is incorrect now: I think this issue has slowly been addressed since it was opened. If you can find any more incorrect examples, then you'd be very welcome to open a pull request correcting them, but it may be a wild goose chase

[2020-09-26 12:39] #52327 closed

[2020-09-26 12:43] gilescope commented on #49359
When I was asking for this kind of stuff in '17 it was becasue I had a dream that one day I might be a full time rust dev and be in teams using teamcity for development. At the time it was purely speculative that getting tis kind of integration ready would be helpful.

Fast forward a few years and sometimes dreams (with a bit of hard work) do come true and we have teams using rust and python at wo

[2020-09-26 12:47] gilescope commented on #49359
Ok, that's all working perfectly for me -- many thanks!
Time for me to write that converter to TeamCity service messages...

[2020-09-26 12:59] bugadani opened #77226 "allow_internal_unstable silently ingores typos in feature names"
While working on #77088 I wasted a lot of time looking for a bug in my code, when the issue was that I made a typo in the feature name in my test case.

I think it would make sense to check that the feature to be allowed actually exists.

[2020-09-26 12:59] RalfJung commented on #76618
@oli-obk sounds like a good plan to me.

[2020-09-26 13:16] oli-obk commented on #76618
I'll do that now

[2020-09-26 13:33] Stupremee commented on #77218
[code]
Regressed in #75931

[2020-09-26 14:12] jyn514 opened #77230 "Rustdoc lints don't fire for pub re-exports"
This is the general form of #77200, since it appears this was unintentional. It came up again in https://github.com/rust-lang/rust/pull/77119#issuecomment-699484891.

I tried this code:

[code]

I expected to see this happen: Rustdoc gives an error that `RawWakerVTable` is missing examples.

Instead, this happened: Rustdoc ignores the re-export.

### Meta

`rustdoc --version`: rustdoc 1.48.0-night

[2020-09-26 14:43] bugadani commented on #77226
Soooo... I've tried doing this, but apparently, some features are not features:

[code]

[2020-09-26 14:50] oli-obk commented on #72396
I'm wondering whether we should also have `LitBytes` (`[u8; N]`) and `LitSlice` (`&[u8]` or `&str`) variants on `ValTree`, as I'm considering it very likely that we'll want to use strings in const generics. While we could encode them as aggregates, that would be very inefficient (storage wise), and probably annoying to handle. That said, we can start out with encoding them as aggregates and seeing

[2020-09-26 14:53] follower commented on #77215
@mightyiam Yeah, I've very recently run into a similar issue; based on my research, it seems the original content of `CONTRIBUTING.md` now lives at https://rustc-dev-guide.rust-lang.org/contributing.html which seems like a better entry point.

It seems the contribution/developer docs are currently mid-transition from one approach to a new one.

Related:

 * https://github.com/rust-lang/rustc-dev-g

[2020-09-26 15:08] mimi89999 opened #77234 "Rebranding Rust compiler is extremely unpractical -- can't easily exercise freedom 3"
Hello,

[Rust trademark policy](https://www.rust-lang.org/policies/media-guide) states that:

While Rust license allows to distribute modified copies and grants freedom 3, Rust trademark policy prohibits that. This makes it very impractical to exercise freedom 3. Even if somebody makes minor changes, they will need to rebrand the entire compiler and build tools. That's a huge work. Some distributi

[2020-09-26 15:09] Lokathor commented on #77220
The real heart of things is that code *within* the module is allowed to break the safety invariant as long as they don't break the validity invariant. As long as things are all put back together properly by the end of the function.

[2020-09-26 15:10] TrolledWoods commented on #77220
A code example is not within the module

[2020-09-26 15:14] Lokathor commented on #77220
Ah my mistake! I thought this was a vector construction method on the vec type.

If this is anywhere else at all then the two lines need to be swapped so that `set_len` comes after the initialization.

[2020-09-26 15:43] epage commented on #49359
No, the json output is not great for working with in my experience.  See my post earlier in this thread from me maintaining a Rust API over tests.

https://github.com/rust-lang/rust/issues/49359#issuecomment-467994590

You can find the crate for this over at https://crates.io/crates/escargot

[2020-09-26 16:37] camelid commented on #77218
Cc @estebank

[2020-09-26 16:53] camelid commented on #77218
Related: this code should probably have a suggestion for `if let` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b9e1f85c8b9f52d87d940eac96da38f5)):

[code]

Currently it produces:

[code]

[2020-09-26 17:02] Hawk777 commented on #77217
Then why does the warning not show up if `foo` is not `async`? `x` would be equally unused in that case, but there's no warning.

[2020-09-26 17:05] camelid commented on #77218
Minimized ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c05f7219f679de807ef72993c93086b)):

[code]

I think this might be caused by the lifetimes.

[2020-09-26 17:09] camelid commented on #77218
Never mind! This causes it too, with no lifetimes ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eb81c4910e74c81acfabd0202ec38773)):

[code]

[2020-09-26 17:18] camelid commented on #77218
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377218.20ICE.20on.20.60if.20let.20Some().20.3D.20.2E.2E.2E.60.20expression.E2.80.A6) in the prioritization working group.

[2020-09-26 17:58] tanguc commented on #76108
Looks like it was other files were causing the root cause. Closing.

[2020-09-26 17:58] #76108 closed

[2020-09-26 18:05] camelid opened #77238 "Confusing errors with missing `let` in `if let`"
I thought this code would provide one of the nice suggestions that @estebank implemented in #75931, but it doesn't. (By the way, making `cache` a reference to `Cache` will give an ICE because of #77218.)

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b966071ee150b38ed62adf1e2315b3ff))

Errors:

[code]

[2020-09-26 18:10] camelid commented on #77218
Further minimized to this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=911550dd97f1ea88069b4e0b4ae74a34)):

[code]

Having `cache` be a `&Cache` or `&mut Cache` produces the ICE, but making it an owned `Cache` **does not** produce the ICE.

[2020-09-26 18:40] lukaslueg commented on #67520
#76136 has been merged, this can be closed?

[2020-09-26 18:40] LeSeulArtichaut commented on #77218
cc @estebank

[2020-09-26 19:13] SNCPlay42 commented on #77218
#75931 causes the operands to be typechecked twice:

https://github.com/rust-lang/rust/blob/d824b2351449714dc685d90e298c9d630ad6c437/compiler/rustc_typeck/src/check/expr.rs#L774-L775

https://github.com/rust-lang/rust/blob/d824b2351449714dc685d90e298c9d630ad6c437/compiler/rustc_typeck/src/check/expr.rs#L801-L803

I think this has side effects that are causing problems by being applied twice. Comme

[2020-09-26 19:14] est31 commented on #77234
The trademarks `rust` and `cargo` also appear in many places in the interface, like through `Cargo.toml` or `rustc` and `cargo` binary names, or in `RUST_BACKTRACE`, various env vars that [cargo sets](https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-reads) etc.

IMO once a foundation is set up, the trademark policy should be changed to be more tolera

[2020-09-26 19:16] SNCPlay42 commented on #77218
#75931 causes the operands to be typechecked twice:

https://github.com/rust-lang/rust/blob/d824b2351449714dc685d90e298c9d630ad6c437/compiler/rustc_typeck/src/check/expr.rs#L774-L775

https://github.com/rust-lang/rust/blob/d824b2351449714dc685d90e298c9d630ad6c437/compiler/rustc_typeck/src/check/expr.rs#L801-L803

I think this has side effects that are causing problems by being applied twice. Comme

[2020-09-26 19:22] ehuss commented on #24584
This is also an issue for editors that use `cargo check --profile=test` in order to include tests in the check. This means the lint doesn't ever fire in the editor.

It looks like the check was added in https://github.com/rust-lang/rust/commit/4a5d887b58ff9833a968e7a0d28282b915e01de8.  I suspect the reasoning is that code inside a `cfg(test)` block should not be checked for missing docs, which mak

[2020-09-26 19:41] est31 commented on #77226
@bugadani there are lib features and lang features. Only the second type is hardcoded in the compiler. For the first type, you need to check whether it's been declared in one of the upstream crates.

[2020-09-26 19:45] andoriyu commented on #49359
I'm using it in my `cargo-suity` that I use to generate junit reports. Obviously, I'd rather eliminate my shim and just have cargo generate jUnit output, but json output is "okay, I guess" alternative. That said, current output is not easy to consume for my needs.

[2020-09-26 19:52] #76503 closed

[2020-09-26 19:52] #77092 closed

[2020-09-26 19:52] #77130 closed

[2020-09-26 20:12] WaffleLapkin commented on #70944
Feels like a duplicate of #72582

[2020-09-26 20:12] WaffleLapkin commented on #54121
Probably a duplicate of #72582

[2020-09-26 20:14] nazar-pc commented on #59368
I have a similar issue with modules:
[code]
Essentially I want to present nested module structure (that is used to limit visibility within crate) as non-nested in docs by leveraging re-exports.

I'm thinking of `#[doc(visible)]` that would override `#[doc(hidden)]` of the definition if applied to `pub use`:
[code]

Without this when inlining is used it creates confusion since the same module is bo

[2020-09-26 20:18] vmarkushin commented on #54121
Here is another case of such behavior ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8a072d817881215feedabf1ac37789ea)).

[code]
[code]
However, this will compile:
[code]

Similar issues: #77010 #70944 #77159 #77159

[2020-09-26 21:57] vallentin commented on #76586
Just encountered the same issue.

I found a partial "workaround", but it only applies to reading and not writing.

As an example, let's say we have a file named `aaa...aaa.txt` (300 `a`s). Then inspecting the directory using `dir /X` in the CMD reveals the "[short names]" of the files and directories. The short name of that file would be e.g. `AAAAAA~1.TXT`. Then doing `fs::read_to_string("AAAAAA~

[2020-09-26 22:59] marmeladema commented on #77234
`The free software community has doubts`
Could you be more explicit and describe precisely who you are speaking for?
The free software community is large and etherogeneous group with individuals that might not recognize themselves in your saying.

[2020-09-27 00:20] novacrazy opened #77248 "Compile-time explosion with many self-referential trait bounds"
I'm working on a SIMDeez-like library with a packed_simd-like API, and part of that requires defining a series of traits like this:

<details>
<summary> Expand for full code </summary>

[code]
</details>

However, even just this trait definition, without any implementations, takes **1 minute** to `cargo check` on my system, every time, and it's only become worse as I've added more types. Something

[2020-09-27 00:43] jonas-schievink commented on #77248
Will probably be fixed by https://github.com/rust-lang/rust/pull/73905

[2020-09-27 01:15] pwnorbitals commented on #69283
I agree that documenting `Box::from_raw` (https://doc.rust-lang.org/std/boxed/struct.Box.html#method.from_raw) is probably higher priority. Calling it with wrongly aligned address should be documented as undefined behaviour imo

[2020-09-27 02:41] jyn514 opened #77254 "Additional docs on pub re-exports resolve intra-doc links relative to the original module"
I tried this code:

[code]

I expected to see this happen: Rustdoc links all the original documentation relative to `std::string`, and all the new documentation relative to the current crate, so `with_code` resolves properly.

Instead, this happened: Rustdoc links all the original documentation relative to `std::string`:

[code]

This hits proc-macros especially hard because they're forced to be i

[2020-09-27 03:03] jyn514 commented on #77254
Originally I thought this would need pulldown support, but I might be able to hack it by using the span of the link.

[2020-09-27 04:18] jyn514 commented on #77254
I'm not sure it's possible to go from a `Span` to the module it's defined in :/

[2020-09-27 04:24] jyn514 commented on #77254
Another possible approach is to use the `DefId` of the use statement itself, but that requires fixing https://github.com/rust-lang/rust/issues/77230 first.

[2020-09-27 04:33] Gilnaa commented on #49359
I actually opened a PR some time ago implementing a basic JUnit output. I just did that against the wrong repo.

https://github.com/rust-lang/libtest/pull/16

[2020-09-27 04:50] #26494 closed

[2020-09-27 05:03] Hawk777 opened #77258 "Missing TryFrom<NonZeroFoo> for NonZeroBar"
`TryFrom<T>` is implemented for type `U` for a lot of different integer combinations (e.g. `TryFrom<u128> for u64`). However the corresponding `NonZero` variants are not. This seems like an omission: I would expect `TryFrom<NonZeroU128> for NonZeroU64`. The alternative is to convert to a `u128` first, throwing away the knowledge that the value is nonzero, then try to convert it to a `u64`, then tr

[2020-09-27 05:16] Hawk777 commented on #77217
Furthermore, this code, which clearly *does* use `x`, still has the unused lifetime warning, but of course not the unused field warning:
[code]

Meanwhile, if I change both `async fn`s to `fn`, the warning goes away. It seems to be triggered by the presence of any `async fn` in the `impl`.

[2020-09-27 07:45] #76903 closed

[2020-09-27 07:45] tronta commented on #76903
Ok, so I close it.

[2020-09-27 08:22] lcnr commented on #77217
Yeah, that is an actual bug :+1: thanks

[2020-09-27 08:24] RalfJung opened #77260 "cargotest should respect "--test-args""
One particular cargotest project failed on CI and I wanted to replicate this locally, so I ran
[code]
However, this started to clone servo, at which point I hit Ctrl-C. Does cargotest provide a way to only run one of the tests involved?

For now I'll probably have to patch cargotest itself as I'd rather not wait for everything else to test before it gets to the project I am interested in.

[2020-09-27 09:42] RalfJung commented on #72396
I think having `LitByteSlice` at least makes sense... that could cover both arrays and slices (both byte and string slices) I think.

[2020-09-27 10:17] #76693 closed

[2020-09-27 10:17] #76925 closed

[2020-09-27 10:17] #76692 closed

[2020-09-27 10:25] RalfJung commented on #77096
@oli-obk thanks!

Do you remember what the issues were that you fixed by introducing this scheme in the first place, replacing the old scheme where "static" was a kind of `Place` in MIR?

[2020-09-27 10:32] RalfJung commented on #77220
Exactly.

Give that `Vec` already makes plenty of [guarantees to unsafe code](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#guarantees), I think it would be reasonable to say that `set_len` itself is safe no matter which length you set, but before you use the vector again (i.e., before you call any vector operation, including `drop`), you must ensure that the given invariants hold.

Ho

[2020-09-27 10:38] lcnr commented on #77220
Note that we currently have a debug assert in set_len for `len <= capacity`, so setting the len to something greater than the capacity can currently panic which probably can cause unsafety as it is unexpected.

If we want to change the safety guarantees here we probably should remove that debug_assert (even if they aren't actually part of the std used with rustup afaik)

[2020-09-27 10:41] RalfJung commented on #77220
@lcnr good point. Or we could say that a length larger than the capacity is insta-UB (library UB).

[2020-09-27 11:06] TrolledWoods commented on #77220
If ``get_mut_ptr`` is always safe even if invariants are broken by ``set_len``, then shouldn't ``get_ptr``, ``len``, ``capacity`` also be safe in those situations?

[2020-09-27 11:09] TrolledWoods commented on #77220
Not sure if it's worth the complexity to have all these edge cases when ``into_raw_parts`` and ``from_raw_parts`` are simpler alternatives. Even if it's fine for Vec, what about other collections? Should those also have edge cases? I think it would get messy very fast.

[2020-09-27 11:17] RalfJung commented on #77220
Yes, probably.

`Vec` is special in that it already makes a bunch of [extra guarantees](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#guarantees).

[2020-09-27 11:24] RalfJung commented on #75968
@Lokathor what is the actionable part of this issue?

As I said above, we already have such a lint in rustc, and I'd be happy to improve it given examples where it should fire but does not.
But I checked the clippy lint, and I think it is way too aggressive for a rustc lint -- it warns about many cases that are definitely fine (like an uninitialized `repr(transparent)` newtype around `MaybeUninit`

[2020-09-27 11:44] GuillaumeGomez commented on #77230
It works for me:

[code]

[2020-09-27 11:46] GuillaumeGomez commented on #77230
It seems to work for me:

[code]

[2020-09-27 12:15] bugadani commented on #77226
As far as I can tell, lib features aren't available at the point of macro expansion. At least I can't see a way to list those, but let me know if I missed something.

This means that fixing this issue is far from trivial.

[2020-09-27 13:05] LeSeulArtichaut commented on #77215
cc @rust-lang/wg-rustc-dev-guide

[2020-09-27 13:24] lzutao commented on #76817
Fixed. Closing.

[2020-09-27 13:24] #76817 closed

[2020-09-27 13:35] jyn514 commented on #77230
@GuillaumeGomez that's a warning for the module, not for the re-export; notice that it points to line 1 instead of line 2. Try this code instead:

[code]

[2020-09-27 13:56] lespea commented on #76791
Okay makes sense, I'll close the issue

[2020-09-27 13:57] #76791 closed

[2020-09-27 14:02] dr-orlovsky commented on #70256
Any progress on this issue? I see the required changes were made in March, so it seems to be possible to add this feature for now?

[2020-09-27 14:09] codonell commented on #73894
@tmiasko I have a fix for glibc. Locks are basically required to avoid seeing the unmasked signal state in the child. However, you have to take that lock during fork to ensure that you own and can unlock the lock in the child (avoids the deadlock). The regression test was not straight forward to write and on average it only reproduces once every 100-600 seconds on an x86_64 VM with 4vCPU. That's g

[2020-09-27 14:12] GuillaumeGomez commented on #77230
Oh indeed! Good catch and sorry for the noise...

[2020-09-27 14:21] codonell commented on #73894
@tmiasko https://sourceware.org/pipermail/libc-alpha/2020-September/117934.html

[2020-09-27 14:32] jsen- opened #77266 "every f32 compared to 0 is true"
I tried this code:

`main.rs`
[code]

`Cargo.toml`
[code]

`RUSTFLAGS="-Clink-args=-lc" cargo build --release --target avr-unknown-gnu-atmega328 -Z build-std=core`

I expected to see this happen: no blinking

Instead, this happened: blinking :)

### Meta
`rustc --version --verbose`:
[code]
<details><summary>Backtrace</summary>
<p>
[code]
</p>
</details>

[2020-09-27 14:34] jonas-schievink commented on #77266
Thanks for the report! This looks like a duplicate of https://github.com/rust-lang/rust/issues/77131, however, so closing in favor of that.

Please leave a comment on that issue if you have more information to contribute.

[2020-09-27 14:34] #77266 closed

[2020-09-27 15:11] jyn514 opened #77267 "Intra-doc links don't work for associated items on re-exported primitives"
I tried this code:

[code]

I expected to see this happen: Rustdoc links to https://doc.rust-lang.org/stable/std/primitive.i32.html#associatedconstant.MAX

Instead, this happened: Rustdoc gives an error:

[code]

The issue is https://github.com/rust-lang/rust/blob/71bdb8481760f7c6b8540d3dd176ed54a92c0f31/src/librustdoc/passes/collect_intra_doc_links.rs#L315 which does string comparison instead of

[2020-09-27 15:11] jyn514 commented on #77267
Previously: https://github.com/rust-lang/rust/pull/76955, https://github.com/rust-lang/rust/issues/76693

[2020-09-27 15:16] jyn514 commented on #77254
It turns out pulldown [already has this support](https://github.com/raphlinus/pulldown-cmark/issues/486) in the form of [`into_offset_iter`](https://docs.rs/pulldown-cmark/0.8.0/pulldown_cmark/struct.Parser.html#method.into_offset_iter).

[2020-09-27 15:21] bjorn3 commented on #60916
I assume this has since been fixed. The last time I tried compiling rustc for wasm32-wasi it worked just fine.

[2020-09-27 15:21] #60916 closed

[2020-09-27 15:28] follower commented on #77215
Having just discovered that the GitHub "first issue" pop-up _also_ links to this document, I just went ahead & created PR #77268 which links to the chapter of the dev guide that now holds the content that was previously in `CONTRIBUTING.md`.

Until the "Getting Started" chapter gets re-written to be less `rustc`-specific, linking to it rather than "Contributing to Rust" chapter seems unnecessarily

[2020-09-27 16:33] follower opened #77270 "Help messages could include required `use` line."
_{This specific case originates from the following issue & comment: https://github.com/rust-lang/rust/issues/47168#issuecomment-699176014 }_

**I tried this code:**

[code]

**I expected to see this happen:**

[code]

(Or similar.)

i.e. An error message that includes the required `use` line necessary for the suggestion to compile.

**Instead, this happened:**

[code]

(Which would be fine _if_ th

[2020-09-27 16:36] follower commented on #47168
Thanks for the response & suggestion.

I created #77270 because I'd hate to think that anyone might run out of things to do after the other *\*checks notes\** 5,952 issues are closed. :D

[2020-09-27 16:37] petrochenkov commented on #55414
I started working on this in https://github.com/rust-lang/rust/pull/77271.

[2020-09-27 16:46] Lokathor commented on #75968
Well, alright then.

[2020-09-27 16:46] #75968 closed

[2020-09-27 16:56] kennytm opened #77273 "case-related lints (non_snake_case, non_camel_case_types, …) did not suggest actual case-changed characters with Mathematical Alphanumeric Symbols"
This example code:

[code]

Produced a useless conversion suggestion:

[code]

The problem here is that while these characters are in the Uppercase Letter (Lu) general category, they do not have a proper lowercase mapping: the lowercase of [𝓐](https://util.unicode.org/UnicodeJsps/character.jsp?a=1D4D0) is still [𝓐](https://util.unicode.org/UnicodeJsps/list-unicodeset.jsp?a=[:Lowercase_Mapping=%F0%

[2020-09-27 17:05] Alexendoo commented on #65466
Fixed by #70743

[2020-09-27 17:05] #65466 closed

[2020-09-27 17:11] Alexendoo commented on #59996
Fixed by #70743

[2020-09-27 17:11] #59996 closed

[2020-09-27 17:23] Alexendoo commented on #72565
No longer ICEs after #70743, needs a test

[2020-09-27 17:25] Alexendoo commented on #66501
The above no longer ICEs after #70743, could do with a test

[2020-09-27 19:21] nikic commented on #75525
Partial fix 2: https://github.com/llvm/llvm-project/commit/fe79061be2b2915993b5568cddc6b64ea0a525f6

[2020-09-27 19:50] mstorsjo commented on #72241
As LLD's COFF backend is modelled after MS link.exe, it handles static libs in the same way as that tool, which means that it looks in all referenced static libs for undefined references - pretty much as if `--start-group`/`--end-group` was wrapped around the full list of arguments. (And Clang passes those arguments around the libs to the linker, to solve that issue when using ld.bfd as well.)

Z3

[2020-09-27 20:41] varkor commented on #70256
I believe only (some of) the parsing aspects were addressed, and nothing more. There is still implementation left before this feature is even ready for a feature gate.

[2020-09-27 21:03] patriksvensson opened #77279 "Possible regression in error message for enum comparison"
It was a little while since I wrote any Rust and noticed something when I wrote some code today.
I'm _not sure_ if I remember incorrectly but didn't comparison with an `enum` give a rather helpful message that the enum don't implement `PartialEq` or something like that?

Perhaps this is intentional? In that case, feel free to close this issue.

**I tried this code:**

[code]

**I expected to see t

[2020-09-27 21:36] gilescope commented on #49359
To me the one thing that feels a little odd is that test suite doesn't have a name attribute. If we're running lots of integration tests and tests against various binaries (--all-targets) it would be good to group the results together under a test suite name.

A stretch goal is that consumers can do more if it's a comparison failure - i.e. if we had `expected` and `actual` outputs in the json that

[2020-09-27 22:36] orium commented on #59494
I was able to minify it a bit further:

[code]

[2020-09-27 22:46] audioXD commented on #76276
I also have this problem

[2020-09-27 23:06] behnam commented on #35428
Hi there,

Looks like it hasn't been mentioned on this issue (afaict), so sharing a tiny problem I noticed with the current non-stabilized `is_empty()` from `ExactSizeIterator`, in case it needs any action before stabilization.

For a simple type, such as:
[code]

When `std::iter::ExactSizeIterator` is in scope, the following compile error happens when `is_empty()` used on a `SomeRange` value:
[co

[2020-09-27 23:26] SNCPlay42 commented on #77279
The full error output is:

[code]

The note does bring up `PartialEq`.

[2020-09-28 00:29] Diggsey commented on #70142
I think it would also be useful to have a `flatten_into` method that would also allow conversion of the error type.

[2020-09-28 01:09] estebank commented on #77218
@SNCPlay42 I tried a couple of things but it seems to me that you hit the nail in the head and we just need to remove the `else` branch.

@camelid this is caused because one side is seen to be `Option<_>` while the other is seen to be `Option<&_>` or `&Option<_>` (depending on the case). This is a problem because the left hand side expression should in reality be a pattern instead, but there's no

[2020-09-28 01:17] Aaron1011 commented on #77112
The issue occurs here: https://github.com/rust-lang/rust/blob/c0b15cc6ed37e626b2b5b324bbb0fdbf6688650a/compiler/rustc_trait_selection/src/traits/select/mod.rs#L1343-L1353

We pick the first matching predicate from the projection predicates of the opaque type, without checking if multiple match.

[2020-09-28 01:36] jyn514 commented on #63305
Closing this since intra-doc links will be stable in 1.48 and will be a moot point: https://github.com/rust-lang/rust/pull/74430

[2020-09-28 01:36] #63305 closed

[2020-09-28 03:28] #46981 closed

[2020-09-28 03:28] #57728 closed

[2020-09-28 03:28] #60447 closed

[2020-09-28 03:36] hyd-dev commented on #73894
Unfortunately, avoiding `abort()` may still be required after the patch lands, to wait for it to be released and included in GNU/Linux distributions.

[2020-09-28 05:21] scottmcm commented on #35428
Good news: `Range::is_empty()` is stable in beta (#75132), so [this no longer happens there](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=df96aa9585a325ea4b97c6cdf46ea7fd), and will be fixed in stable on Oct 8th with 1.47.

[2020-09-28 06:00] patriksvensson commented on #77279
@SNCPlay42 Hmmm, I'm not seeing a `note:` section at all.

![image](https://user-images.githubusercontent.com/357872/94395722-97312280-0160-11eb-9aae-a0862f259ece.png)