[2021-12-10 12:00] avl commented on #62924
Doesn't regular std::iter::DoubleEndedIterator fill that need? And if there is no Ord-bound, there's no reason to expect there to be min/max methods directly on the collection, since the implementation would have to iterate over it anyway to determine the smallest/largest values, right?

[2021-12-10 12:14] ssomers commented on #62924
No, it only allows iterating once, as far as I know.

I think so, but nevertheless [`Iterator`](https://doc.rust-lang.org/std/iter/trait.Iterator.html) provides min/max methods and it's up to you to hope or figure out that on a btree collection, `iter().min()` is constant time.

[2021-12-10 12:31] Stargateur commented on #91696
same, and a cargo clean also fix it, close to impossible to produce a mcve cause it's not even a code problem.

[2021-12-10 13:03] ssomers commented on #62924
I noticed there already is a `BTreeSet::min` function around, the one supplied by trait `Ord` if you `use std::cmp::Ordering`. I'm not quite sure how all that works, but I fear that if someone is actually using `setA.min(&setB)` to get the smallest of two sets, introducing a member `BTreeSet::min` would break their code.

[2021-12-10 13:34] hkratz commented on #91722
I think that should be fixed in the Windows-specific code in `library/std/src/sys/windows/stdio.rs`. That is the right place for platform-specific console workarounds.

[2021-12-10 13:55] jyn514 commented on #91740
@Nemo157 actually suggested giving it the behavior you're describing originally, it just turned out to be a little trickier than expected so we delayed it with the goal of being able to land the PR at all. If you can get it to work that would be super helpful!

[2021-12-10 13:58] Patrick-Poitras commented on #91722
I'll take a look at making that patch after work.

[2021-12-10 14:01] kud1ing commented on #91696
Thank you. Unfortunately it is not reliable. I couldn't reproduce it in a simple project. Where it happens, i am using a workspace.

[2021-12-10 14:05] cjgillot commented on #91696
It's still a step forward. Can you share a snapshot of your workspace before and after the incriminating edit? I'll do the reduction myself.

[2021-12-10 14:05] kud1ing commented on #91696
One commonality is that i am on macOS too:

[code]

[2021-12-10 14:05] TonalidadeHidrica commented on #91696
@cjgillot @kud1ing FYI, I'm not using workspaces.

[2021-12-10 14:08] cjgillot commented on #91696
@TonalidadeHidrica I believe this is the same bug. If you have a reproducer (= last version that compiled successfully, and the change that triggered the ICE), even if it's a huge one, I'll take it.

[2021-12-10 14:23] Patrick-Poitras commented on #91722
[code]
It seems to be a fixed-size array, the fix would require rewriting read to accept something that would allow for overflow. Alternatively, we could try catching the error, and then incrementing the buffer. I'll take a look at what that would modify downsteam.

[2021-12-10 14:25] TonalidadeHidrica commented on #91696
@cjgillot I have a pair of adjacent commits in which the older does not cause ICE but the newer does.  I confirmed that every time I switch between two commits, the behavior is reproducible, as long as I use the same `target` directory.  I have made two `.tar.gz` that includes every file in the directory, including `target/`, each of which of size ~512MB.  If this will help, I would like you to se

[2021-12-10 14:42] Patrick-Poitras commented on #91722
I'm testing adding the fix to the error handling section at line 377. Seems like the cleanest and easiest place to implement the modification and have it only trigger when there's a problem. At worst the performance hit will be that it will try to read from the buffer twice before returning an error.

[2021-12-10 14:46] TonalidadeHidrica commented on #91696
@cjgillot Or alternatively, I may [encrypt these files with your SSH key](https://superuser.com/questions/576506/how-to-use-ssh-rsa-public-key-to-encrypt-a-text) and share the link for the encrypted file.

[2021-12-10 14:46] hkratz commented on #91722
The `io::Read` implementation for `Stdin` should conform to the behavior specified in the [documentation of the Read trait](https://doc.rust-lang.org/std/io/trait.Read.html#tymethod.read). Essentially calling `read()` with a buf of 0 < length < 4 should work and return (at least) `Ok(1)` with one byte of the UTF-8 sequence if EOF has not been reached.

To accomplish that I would suggest replacing

[2021-12-10 14:49] hkratz commented on #91722
Similar to what #83258 does for Stdout. CC @Count-Count @ChrisDenton

[2021-12-10 14:52] Patrick-Poitras commented on #91722
I like that idea! I'll try implementing it, and this should remove the need to throw the error entirely, if I'm not mistaken.

[2021-12-10 15:10] matthiaskrgr opened #91745 "ICE: issue-69398.rs with mir-opt-level=3 and --crate-type=lib: compiler/rustc_traits/src/normalize_erasing_regions.rs:62:32: could not fully normalize `<() as Foo>::Bar`"
code from `./src/test/ui/associated-types/issue-69398.rs`
cc https://github.com/rust-lang/rust/issues/69398
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/associated-types/issue-69398.rs -Zmir-opt-level=3  --crate-type lib`

Note that `--crate-type lib` is required to reproduce the ICE
[code]

<details><summary><strong>Backtrace</strong></sum

[2021-12-10 15:14] matthiaskrgr commented on #91745
cc @b-naber  maybe you have an idea why this still crashes with `--crate-type lib` ?

[2021-12-10 15:29] cjgillot commented on #91696
@TonalidadeHidrica let's keep it simple: can you send it the email address on my github profile?

[2021-12-10 16:10] ehuss commented on #91738
Thanks for the report!  `cargo clean` should clear it up as long as you don't switch to older toolchains.  Closing as a duplicate of #91663.

[2021-12-10 16:10] #91738 closed

[2021-12-10 16:19] cjgillot commented on #91585
Closing as duplicate.

[2021-12-10 16:19] #91585 closed

[2021-12-10 16:28] cjgillot commented on #91487
Thank you for the report!
Unfortunately, this is a known bug in the incremental compilation framework.
Closing as duplicate of https://github.com/rust-lang/rust/issues/91696

[2021-12-10 16:28] #91487 closed

[2021-12-10 16:34] notriddle commented on #76590
This was a duplicate of #91347, and was fixed by #91366.

[2021-12-10 16:48] b-naber commented on #91745
No, I don't unfortunately. The version of `normalize_erasing_regions` version I worked on is meant to be called before typecheck has finished and where normalization could still fail. This call seems to occur during codegen, where normalization should (in theory) always succeed (or rather errors should have been caught earlier), but I'm not that familiar with the later stages of the compiler, so I

[2021-12-10 17:09] 13ros27 opened #91751 "Nightly ICE when compiling tracing-futures: `assertion failed: sentinel == STR_SENTINEL`"
### Code

I don't believe the code matters, as it doesn't reach there. I guess the code is the code of tracing-futures.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 17:20] cuviper commented on #62924
I think tying `first`/`last` to indexing is too narrow -- you can more broadly say that those terms apply to the collection's iteration order. That just happens to correspond to the comparison order for B-trees. However, slices (and `Vec` by deref) are the only precedent for that, while `LinkedList` and `VecDeque` use `front`/`back`.

[2021-12-10 17:22] cuviper commented on #76590
Thanks, I've confirmed that it's gone in current nightly docs.

[2021-12-10 17:22] #76590 closed

[2021-12-10 17:31] matthiaskrgr commented on #91751
dupe of https://github.com/rust-lang/rust/issues/91663

[2021-12-10 17:41] cloudybyte opened #91753 "rustc bug when compiling tungstenite"
### Code

There is no src code on my side involved in this.

### Meta

`rustc --version --verbose`:
[code]

### Error output

There is none. Rustc simply panics with the stacktrace below.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 17:41] cloudybyte commented on #91753
related to #91751

[2021-12-10 17:45] yaahc commented on #87401
I've opened https://github.com/rust-lang/rust/pull/91752 to attempt to resolve the current discussion.

[2021-12-10 17:52] 13ros27 commented on #91751
Clearing `target` did fix it

[2021-12-10 18:09] #91753 closed

[2021-12-10 18:27] jplatte commented on #87800
Same here, working on a web service where I would like to conditionally make two things contained in `Option<(A, B)>` to my middleware stack and the seemingly easiest way to do this would be `Option::unzip` + two calls to [`tower::ServiceBuilder::option_layer`](https://docs.rs/tower/0.4/tower/builder/struct.ServiceBuilder.html#method.option_layer).

[2021-12-10 18:34] catap commented on #59164
@lwshang were you using macports on this machine?

[2021-12-10 19:10] danielhenrymantilla commented on #29625
@bjorn3 wouldn't that break higher-order signatures (which are implemented as overloads over the input lifetimes)? FWIW, this question is related to that of the `Resume` parameter for `Generator`s.

<details><summary>a silly thing 🙈</summary>

[code]

</details>

[2021-12-10 19:23] bjorn3 commented on #29625
Right, didn't think about that.

[2021-12-10 19:27] briansmith commented on #91615
What is the motivation? `concat!` for arrays seems like an alternative that would allow the same with similar convenience and more generality.

[2021-12-10 20:09] yaahc commented on #90091
I'd argue for local consistency over global consistency. In the case of slice we already have methods following both conventions, but the methods following the `_prefix` `_suffix` convention are related to stripping, where as the split methods all currently follow the `split` `rsplit` convention, so I lean towards keeping the current names.

[2021-12-10 20:24] Mark-Simulacrum commented on #91454
@craterbot retry name=beta-1.58-1

@craterbot retry name=beta-1.58-rustdoc-1

[2021-12-10 20:47] pcwalton commented on #91688
WIP branch is at https://github.com/pcwalton/rust/tree/value-numbering — it can CSE simple test cases.

[2021-12-10 21:07] sjud opened #91757 "Compiler Error"
-->

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 21:15] sjud commented on #91757
fixed by ```rustup update```

[2021-12-10 21:15] #91757 closed

[2021-12-10 21:26] camelid opened #91758 "rustdoc: Add missing IDs to ID map"
- [`structs` and friends](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/DOM.20id.20tidy.20check/near/264510234)

[2021-12-10 21:28] camelid opened #91759 "rustdoc: "Namespace" user-written Markdown headers"
Tracking issue for @jsha's idea described [here](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/DOM.20id.20tidy.20check/near/264504935).

[2021-12-10 21:51] AlexTMjugador commented on #88015
Are there any news on this? I've just got bitten by this bug.

[2021-12-10 21:55] Kimundi opened #91762 "Typecheck error when using a equality-constrained GAT in a trait."
In this code:

[code]

I would expect the code in `FunctorExt` to compile, as I'm constraining `Self::Base::With<T> = Self`, while `Self::Base::With<U>` should just be whatever `With<T>` is without any extra constraints.

But I'm getting this compiler error:

[code]

It seems to me as if the `Base: Functor<With<T> = Self>;` constraint causes rustc to think that _any_ `With<X>` should be the same t

[2021-12-10 22:20] #91652 closed

[2021-12-10 22:27] dtolnay opened #91763 "ICE in elided lifetimes suggestion: `!suggestion.is_empty()`"
[code]

[code]

[code]

### `cargo +nightly-2021-12-02 check` (this is what I would expect)

[code]

### `cargo +nightly-2021-12-03 check`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 22:29] dtolnay commented on #91763
This bisects to #90446 &mdash; @cjgillot @jackh726

---

regressed nightly: nightly-2021-12-03
searched commit range: https://github.com/rust-lang/rust/compare/48a5999fceeea84a8971634355287faa349909d4...acbe4443cc4c9695c0b74a7b64b60333c990a400
regressed commit: https://github.com/rust-lang/rust/commit/76938d64a42304e4413842656c044e9b40a6041b

<details>
<summary>bisected with <a href='https://githu

[2021-12-10 22:47] #91751 closed

[2021-12-10 23:21] matthiaskrgr commented on #91763
There was an issue with similar ICE that has been fixed recently https://github.com/rust-lang/rust/issues/91461
Does this problem still repro with latest nightly `rustc 1.59.0-nightly (0b42deacc 2021-12-09)` ?

[2021-12-10 23:25] dtolnay commented on #91763
Yes this one still reproduces as of that nightly, which contains #91634.

[2021-12-11 00:10] jyn514 commented on #91732
@camelid these are tool lints, the same way `clippy::` and `rustdoc::` are tool lints. I think it's reasonable to remove rustc from `known_tool_names` so you have to opt-in with `register_tool`; but that only seems worth it if we can stop special-casing rustc:: lints to only run when -Zunstable-options is passed - I think @oli-obk ran into some trouble with that in the past.

[2021-12-11 00:12] jyn514 commented on #91731
This seems like a bad idea. Isn't the long term goal to combine this with `SharedContext` at some point anyway? I don't think we need to enforce this any way other than through review.

[2021-12-11 00:14] camelid commented on #91731
`SharedContext` is for "global context" (across all pages), while `Context` is page-specific (e.g., it contains the ID map). So I'm not sure if it'd make sense to combine them.

[2021-12-11 01:00] #85461 closed

[2021-12-11 01:00] #91556 closed

[2021-12-11 01:25] jyn514 commented on #91731
Hmm, ok. And the reason for forbidding Rc is to ensure people put it in SharedContext instead? That seems *ok* but it seems kinda overkill.

[2021-12-11 01:50] workingjubilee opened #91767 "ICE: Featuring `core` in `std` makes compiler go sideways"
On Zulip, I was told this should "just work" by @Mark-Simulacrum. It does not and in fact ICEs, so I am reporting it as a bug for others to investigate at their leisure. @camelid might also be interested. 🤷

### Code

This is provoked by applying the following diff and invoking `x.py check`.
[code]

### Meta

This is an issue during bootstrapping the compiler. The build was based on rust-lang/rust

[2021-12-11 01:53] turboladen opened #91768 "miri test of crate: thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL'"
I'm not exactly sure what code is causing this; I run my ci against stable rust (1.57.0 right now) and then run `miri test` against whatever the current nightly is. Up until today (?) both were fine; now stable is fine but the `miri test` fails. Here's the GH workflow: https://github.com/turboladen/overkill-nvim/runs/4490451726?check_suite_focus=true. There are 3 crates in that repo, one of which

[2021-12-11 01:55] camelid commented on #91731
Yeah, that's why I said I'm not sure if it's worth it.

[2021-12-11 01:55] camelid commented on #91731
I'll just close it for now.

[2021-12-11 01:55] #91731 closed

[2021-12-11 01:57] camelid commented on #91767
Hmm, I wonder if this ICE is related to #91715.

@workingjubilee can you try cherry-picking that PR (it just changes one line) and see if it fixes it?

[2021-12-11 02:05] tstellar commented on #74657
I spent some time debugging this and what I found is that bfd passes libprobestack.a to the LLVMgold plugin, but the plugin refuses to claim it, because it does not support reading archives.  Therefore, the bitcode from libprobestack.o is never considered during LTO.

Then after LTO is done, bfd passes the libprobestack.o member of libprobestack.a to the plugin.  The pugin sees the embedded bitcod

[2021-12-11 02:32] turboladen commented on #91768
Looks like this might be a dupe of #9689.

[2021-12-11 03:22] workingjubilee commented on #85265
Yes, there is no perf test for actual Rust executables aside from the compiler.

[2021-12-11 03:32] mooman219 opened #91771 "Internal Compiler Error - cpal"
Opening this because the compiler told me to.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-11 03:32] workingjubilee commented on #91767
No love: that doesn't even seem to change the errors in a discernible way.

[2021-12-11 03:35] mooman219 commented on #91771
Actually I think this is a dupe of #91689

[2021-12-11 03:36] #91771 closed

[2021-12-11 03:38] kroggen commented on #62924
Can we stop discussion and move forward? It has been more than 2 years! C'mon

`first` and `last` make more sense and will not cause problems

[2021-12-11 03:49] mooman219 commented on #60551
I'm trying to write this on nightly with `#![feature(generic_const_exprs)]`

[code]
But I cannot
[code]
I'm trying to avoid writing `pub trait Foo<const COUNT: usize>` because it results in a lot of boilerplate I need to propagate : (.

[2021-12-11 03:54] camelid opened #91772 "Use-after-free in Drop impl for `vec::Drain`"
MCVE (could be reduced further):

[code]

[code]

Originally found by miri-test-libstd. See [this thread](https://rust-lang.zulipchat.com/#narrow/stream/269128-miri/topic/Cron.20Job.20Failure.202021-12-11) for more.

[2021-12-11 03:56] camelid commented on #91772
I suspect this is a regression from 2d8a11bdbb2623a4e2983870006cbd00eb210ffb (#85157, cc @the8472), but I have not yet bisected.

[2021-12-11 05:47] pitaj commented on #89806
Shouldn't this be closed now that the relevant PR is merged?

[2021-12-11 06:18] abrassel opened #91773 "ICE with doctests"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]
<backtrace>
[code]

Basically, doc tests seem unhappy

</p>
</details>

[2021-12-11 06:58] #79674 closed

[2021-12-11 06:58] #83765 closed

[2021-12-11 06:58] #86033 closed

[2021-12-11 06:58] #90318 closed

[2021-12-11 06:58] #86850 closed

[2021-12-11 06:58] #88468 closed

[2021-12-11 06:58] #89022 closed

[2021-12-11 07:28] benoitgillet opened #91777 "rustc 1.58.0-nightly : compiler/rustc_mir_transform/src/check_unsafety.rs panick"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
### Error output

[code]

### BackTrace
No backtrace, the bug desappeared after a clean and rebuild

</p>
</details>

[2021-12-11 07:31] benoitgillet commented on #91777
Ah, and i see there is a similar PR opened :
https://github.com/rust-lang/rust/issues/91015

[2021-12-11 07:31] #91777 closed

[2021-12-11 09:39] JohnHeitmann opened #91781 "Bevy Mac build regression: failure to link against pre-built static libs"
### Code

Bevy fails to build on the Mac (MacOS 12.0.1 and 11.6) on beta and nightly.

[code]

I expected to see a successful build. Instead I see linker errors. There are a pile of warnings that look like:

[code]

Finally there is an error at the end:
[code]

Larger log attached.
[bevy linker bug.txt](https://github.com/rust-lang/rust/files/7696659/bevy.linker.bug.txt)

bevy depends on the glsl-

[2021-12-11 09:40] JohnHeitmann commented on #91781
Next step for me: try to eliminate the bevy crate from the repro, since it's huge.

[2021-12-11 09:57] hkratz commented on #91781
This is likely a duplicate of #91372. Can you try with setting the environment variable `MACOSX_DEPLOYMENT_TARGET` to 10.8 or higher for the build?

[2021-12-11 09:58] #91710 closed

[2021-12-11 10:07] eggyal commented on #91173
I've actually found those links to the slice docs quite useful, on a number of occasions.

[2021-12-11 11:10] JohnHeitmann commented on #91781
Yup, that's definitely it. Thanks!

[2021-12-11 11:10] #91781 closed

[2021-12-11 11:25] ssomers commented on #62924
`BTreeSet::min`/`max` (and more) have existed since the birth of `BTreeSet` in 2014. Not for the faint hearted, consuming both sets, but they're there. There's nothing comparable (pun intended) in `BTreeMap`. Nevertheless, to me that means the min/max naming scheme is off the table.

I preferred first/last over front/back initially, basically because a toddler could point out the front and back of

[2021-12-11 11:48] rhysd opened #91783 "Wrong position of inserted `&self` in suggestion of compile error"
I tried this code:

[code]

I expected to see this happen: Correct compile error due to lack of `self` receiver.

Instead, this happened: Compile error happens. But its suggestion is not correct:

[code]

`&self` is inserted to just after first `(`. But in this case, the first `(` is not for method parameter. So the position is not correct.

[code]

This line should be:

[code]

### Meta

`rustc -

[2021-12-11 11:49] rhysd commented on #91783
I think the logic here causes this issue:

https://github.com/rust-lang/rust/blob/4a66a704b2c3d30ff07d89380ebb9ba3de3b3182/compiler/rustc_resolve/src/late/diagnostics.rs#L295-L309

[2021-12-11 11:57] elichai opened #91784 "False positive dead code warning"
Given the following code:

[code]

The current output is:

[code]

This warning is incorrect, as `c` is observed by the `unwrap` in `outer`

You can see here that it panics correctly with `c` but still complains that `c` is unused: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7c711a7318911453779c552e25f36edf

[2021-12-11 12:19] psionic12 opened #91785 "Compier crash when compiling serde_json v1.0.72"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-11 12:37] the8472 commented on #91772
@rustbot claim

[2021-12-11 12:48] conradludgate opened #91787 "ICE compiling structopt_derive"
### Code

(will look into a minimal repro later)

https://github.com/ellie/atuin/commit/d98ee3573d5565f75689da7161d21a1f7ad0003e

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-11 12:56] pmetzger commented on #88900
Even if this warning is reasonable, it would be a good idea if the message explained that derive(Debug) is ignored for purposes of the lint. As it happens, I spent a lot of time tearing my hair out trying to figure out why the warning was being triggered. (In my case I have structs that exist only to be dumped to a log using debug prints.)

[2021-12-11 13:01] matthiaskrgr commented on #91785
duplicate of https://github.com/rust-lang/rust/issues/91663

[2021-12-11 13:01] matthiaskrgr commented on #91787
duplicate of https://github.com/rust-lang/rust/issues/91663

[2021-12-11 13:02] matthiaskrgr commented on #91773
dupicate of https://github.com/rust-lang/rust/issues/91663

[2021-12-11 13:23] jDomantas commented on #67107
A slightly bigger problem with this issue is that compiler emits an error for *every* custom attribute in the crate if the bad attribute ends up being on the root of the crate:

[code]

For this example compiler emits a total of 4 errors - first the one about the typo, and then one of each of `derive` and `serde` attributes. Only the first error is meaningful, with the other 3 seeming completely u

[2021-12-11 13:45] Mark-Simulacrum commented on #91454
@craterbot retry name=beta-1.58-rustdoc-1

[2021-12-11 14:20] TaKO8Ki commented on #91540
#90856 has already solved this problem.

[2021-12-11 14:22] #91540 closed

[2021-12-11 14:26] TaKO8Ki commented on #82452
#90856 has already solved this problem.

[2021-12-11 14:26] #82452 closed

[2021-12-11 14:28] TaKO8Ki commented on #80237
#90856 has already solved this problem.

[2021-12-11 14:28] #80237 closed

[2021-12-11 14:33] the8472 commented on #91772
I have added debug printing for the slice length to `Drain::drop` and the test `test_replace_range`  [reported by](https://github.com/rust-lang/rust/pull/85157#discussion_r767083193) @RalfJung prints that the iterator is zero-length, which means a zero-length slice is created.

`ptr::slice_from_raw_parts` refers to `slice::from_raw_parts` regarding safety requirements, which in turn states

Which

[2021-12-11 14:39] jyn514 commented on #91260
Added in https://github.com/rust-lang/rust/pull/91310#issuecomment-990534614.

[2021-12-11 14:39] #91260 closed

[2021-12-11 14:40] TennyZhuang opened #91789 "Tracking Issue for try_reserve method on more containers"
This is another tracking issue for the try_reserve part of the RFC "fallible collection allocation" (rust-lang/rfcs#2116).
The feature gate for the issue is `#![feature(try_reserve_2)]`.

The feature is a follow-up to #48043. Since `try_reserve` was stabilized in 1.57.0, we may need a new feature gate for further `try_reserve` implementation on more containers.

### About tracking issues

Tracking

[2021-12-11 14:40] #91773 closed

[2021-12-11 14:40] #91787 closed

[2021-12-11 14:41] jyn514 commented on #91768
Yup, going to close it - thanks for the report, though!

[2021-12-11 14:41] #91768 closed

[2021-12-11 14:42] #91785 closed

[2021-12-11 14:42] #91689 closed

[2021-12-11 15:14] RalfJung commented on #91772
That is not the case, unfortunately. Quoting from https://doc.rust-lang.org/nightly/core/ptr/index.html:

I am not happy with this rule, but currently, LLVM does not really let us a choice here (https://github.com/rust-lang/unsafe-code-guidelines/issues/93).

[2021-12-11 15:31] petrochenkov opened #91794 "Linkchecker tool reports a huge number of broken links"
I tried to run
[code]
and got this output from the linkchecker testing step
[code]

I've seen the same issue the last time I tried to run full testing, and it may be semi-spurious.
Running `./x.py test --bless --stage 2` for the second time reproduces the issue again, but running `x.py test src/tools/linkchecker` separately somehow makes it disappear, if I remember correctly.
I didn't try to inves

[2021-12-11 15:33] petrochenkov commented on #91794
No luck this time:
[code]
[code]

[2021-12-11 15:49] bugadani commented on #91783
@rustbot claim

[2021-12-11 16:00] Patrick-Poitras commented on #91733
@Lokathor could you give an example of how you would use it, or an example using it. I'm not sure I quite understand what is being requested here.

[2021-12-11 16:08] ehuss commented on #91784
Thanks for the report!  I'm going to close this as a duplicate of #88900, just to keep the discussion in one place.

[2021-12-11 16:08] #91784 closed

[2021-12-11 16:22] Lokathor commented on #91733
Sure, in this case I needed to do this because I wanted to parse some [Netpbm](https://en.wikipedia.org/wiki/Netpbm) files, which are ascii files that *sometimes* will transition to being binary data after a certain point.

Without getting too deep into the weeds, there's a tag, then width, then height, and then "pixel data", but pixel data might be more ascii data or it might actually be binary b

[2021-12-11 17:31] jyn514 commented on #91794
@petrochenkov that looks like the docs for the standard library haven't been built - if you run `x.py doc --stage 2 library/std`, does it fix this issue? If so, I think the fix in x.py is to add `builder.ensure(doc::Std)` before running the linkchecker.

[2021-12-11 17:44] zakarumych opened #91800 "Rustc suggestsion with invalid syntax"
[code]

[code]

Both suggestions have invalid syntax.
Ideally rustc should suggest to add `;` into token stream returned from derive-proc-macro.

[2021-12-11 18:04] ehuss commented on #91794
@jyn514 The linkchecker builds the entire docsuite, which includes `std` as a default (that is implied by `builder.default_doc(&[]);`).

@petrochenkov Does this only happen with `--bless`?  Can you share your `config.toml`?  I'm having a hard time reproducing, and trying to come up with ideas on what could be wrong.

[2021-12-11 18:15] willcrichton commented on #91605
Ok, I have fixed the issue where examples show up in the crates list. https://github.com/willcrichton/rust/commit/b7de7973b221acb2ce900a04c11320a16fc884fb

However, I wasn't able to reproduce the issue with non-examples appearing in the crates list. Specifically, my setup was:

[code]

[code]

[code]

I could not get `cfg_if` to appear in the sidebar when using `--no-deps`.

[2021-12-11 18:26] cfcosta opened #91801 "ICE: BoundRegion { var: 0, kind: BrNamed(DefId(0:9 ~ rust_bug[3fc9]::or::'a), 'a) } is a region but value is Type(_)"
I don't have much context on this, was doing some thinkering on what would be the best way to do something not really interesting, and got this ICE. This bug happens on both Nightly and Stable.

### Code

This is the original code I managed to replicate the issue:

[code]

This code fails with the ICE error. Removing the `return` on the Box of the `or` function turns it from an ICE to a normal com

[2021-12-11 18:29] 5225225 commented on #91801
[code]

This ICEs in the playground, but interestingly, this does *not*

[code]

Also, the `<'a>` is needed, you can't use `&'static` for all of the lifetimes. Same with just dropping the `&'a i32` and taking an `i32` directly, that fails to ICE.

[2021-12-11 18:29] japm48 opened #91802 "correct misspelling"
Short version: `s/dereferencable/dereferenceable` in the whole codebase.

AFAIK this is unintentional (and sounds ugly, but I'm not a native speaker). It is only used in comments, so the trivial change should be safe. I opened this issue instead of a PR in case this was not going to be accepted.

### Meta

`rustc --version`:
[code]

[2021-12-11 18:33] 5225225 commented on #91801
also...

[code]

also ICEs but it's a *different* ICE. Fun! I'll go report that.

[2021-12-11 18:36] 5225225 opened #91803 ""escaping late-bound region during canonicalization" ICE when returning DST"
### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=681b7aa5ba07fe30593b61e77e3d3b03

[code]

Happens on stable, beta, and nightly.

### Error output

[code]

[2021-12-11 18:37] 5225225 commented on #91801
Reported that ICE as #91803, the root cause might be similar.

[2021-12-11 18:38] cfcosta commented on #91801
Thanks for all the help @5225225!

[2021-12-11 18:55] Patrick-Poitras commented on #91802
It is, in fact, a typo. I don't see a problem with doing a PR if you want to make the modifications to the documentation. Typo fixes get rolled in pretty quick after review.

[2021-12-11 18:56] #91265 closed

[2021-12-11 18:56] #91713 closed

[2021-12-11 19:08] 5225225 commented on #91801
Bisected this

It's a.... cargo update? Strange.

searched nightlies: from nightly-2017-12-01 to nightly-2021-12-10
regressed nightly: nightly-2021-09-02
searched commit range: https://github.com/rust-lang/rust/compare/29ef6cf1637aa8317f8911f93f14e18d404c1b0e...50171c310cd15e1b2d3723766ce64e2e4d6696fc
regressed commit: https://github.com/rust-lang/rust/commit/50171c310cd15e1b2d3723766ce64e2e4d6696

[2021-12-11 19:14] lilasta opened #91805 "Tracking Issue for `const_clone`"
Feature gate: `#![feature(const_clone)]`

This is a tracking issue for implementing `const Clone`.

### Public API

[code]

### Steps / History

- [x] Implementation: #91804
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-11 19:45] dtolnay opened #91807 "Regression in `Deref<Target = dyn Fn(T)>`: forcing query with already existing DepNode"
The following code works in 1.56.0 but crashes 1.57.0 as well as the most recent nightly &mdash; `rustc 1.59.0-nightly (0b42deacc 2021-12-09)`.

[code]

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-11 19:46] dtolnay commented on #91807
According to cargo-bisect-rustc the regression is from #88552 &mdash; FYI @nbdd0121 @nagisa

---

regressed nightly: nightly-2021-09-06
searched commit range: https://github.com/rust-lang/rust/compare/5d2a410ff78247c418e28b69f7cad02bdd2168d6...e30b68353fe22b00f40d021e7914eeb78473b3c1
regressed commit: https://github.com/rust-lang/rust/commit/e30b68353fe22b00f40d021e7914eeb78473b3c1

<details>
<sum

[2021-12-11 19:55] riking commented on #90435
I agree that nobody has any business attempting to transmute a PathBuf, but the non-pub nature of structures like NonZeroU8 is necessary to uphold the invariants - otherwise safe code could simply write a 0 to the field.

There will need to be some other attribute - possibly under rustdoc:: - to indicate whether the choice of inner type is stable.

[2021-12-11 20:07] 5225225 commented on #91803
Regression in 2020-04-23 apparently.

[code]

[2021-12-11 20:25] Kixiron opened #91808 "Clippy ICEs on `sentinel == STR_SENTINEL`"
### Code

Committed a the [state of my repo](https://github.com/Kixiron/cranial-coitus/tree/c0c850a4cfcdf4e4bb36ab199ad398b842d87783) when I reported the bug, but this has been happening across many many changes and entirely different repos of code

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-11 20:30] ChrisDenton commented on #91808
Duplicate of #91663?

[2021-12-11 20:31] #91808 closed

[2021-12-11 20:38] crawford opened #91809 "Regression in compile time when optimizing for size"
After updating to Rust 1.57, I'm seeing a huge increase in compilation time for an embedded project that I'm working on. The code is unfortunately not open source, but I'm hoping I can provide enough information here to work around that. If I've forgotten to include anything or made bad assumptions, please let me know.

I don't have specific numbers for the slowdown because I haven't waiting long

[2021-12-11 20:40] camelid commented on #91809
@crawford could you use [`cargo-bisect-rustc`](https://github.com/rust-lang/cargo-bisect-rustc) to try to bisect to an exact commit? You'll probably want to use the `--prompt` flag.

[2021-12-11 20:50] hkratz commented on #91809
Or the new `--timeout` flag
[code]

[2021-12-11 20:58] camelid commented on #91772
Added 1.59.0 milestone since that's my understanding of when the regression occurred.

[2021-12-11 21:01] lcnr commented on #44580
A year has passed and we're finally stabilizing the next feature related to const generics:

✨ [`feature(const_generics_defaults)`](https://github.com/rust-lang/rust/pull/90207#issuecomment-991673241) ✨

With this, I am going to once again summarize the progress made here. This summary was written by @lcnr and therefore overrepresents parts I have been involved with while not giving other areas th

[2021-12-11 21:40] crawford commented on #91809
@camelid I gave that a shot last night, but I was having trouble getting it to run correctly. Your suggestion to use `--prompt` allowed me to figure out what was going wrong, so thank you! (I'm surprised `-v` doesn't print the cargo output)

@hkratz I'm on NixOS, which requires some patching of binaries before they can be run, so (long story short) I'm using an older pre-built version which doesn'

[2021-12-11 21:55] camelid commented on #91809
cc @the8472

[2021-12-11 21:57] #72312 closed

[2021-12-11 21:57] #77834 closed

[2021-12-11 22:22] the8472 commented on #91809
No concrete idea, just stabs in the dark:

Since this is optimization-level dependent I suspect LLVM is going crazy somewhere. This should be testable with `-Z time-passes` or [-Z self-profile](https://blog.rust-lang.org/inside-rust/2020/02/25/intro-rustc-self-profile.html)

The added inline annotation itself shouldn't cause rustc to generate massive amounts of additional IR, I think. Unless maybe

[2021-12-12 00:23] nbdd0121 commented on #91807
Seems that this is duplicate of #88929 and #91618; only triggers with incremental compilation enabled.

Unfortunately although I authored the original PR, I don't know a lot about incr-comp or the query system to diagnostic the issue.

@rustbot label: +A-incr-comp

[2021-12-12 00:24] mejrs commented on #91605
Thanks 😃

I tried some more things, and I think what happened is that I used it without `--no-deps` at first, and then without clearing the `target/docs` folder, did it *with* `--no-deps`, which apparently doesn't remove the dependencies from the sidebar.

So I guess that part of the issue is about `--no-deps` not working quite right when these artefacts already exist, and unrelated to `rustdoc-sc

[2021-12-12 00:26] sigmaSd opened #91816 "error: internal compiler error: drop of untracked, uninitialized value"
### Code
The panic happens here https://github.com/sigmaSd/konster/blob/ice/src/kmap.rs#L16

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-12 00:36] dtolnay commented on #88929
Closing in favor of #91807 which has a tiny MCVE. If you think this issue is distinct from that one, please provide a self-contained repro.

[2021-12-12 00:36] #88929 closed

[2021-12-12 00:38] dtolnay commented on #91618
Closing in favor of #91807 which has a smaller repro and bisect.

[2021-12-12 00:38] #91618 closed

[2021-12-12 01:24] petrochenkov commented on #91794
Wait a second, my actual command line was
[code]
Can `--exclude library/core` have this effect?
I've excluded it due to a different bug - https://github.com/rust-lang/rust/issues/91315.
Let me check.

[2021-12-12 01:39] Mark-Simulacrum commented on #91794
Yes, that seems likely: it'll make default_doc no longer build library/core (actually not unlikely all of std etc), which'll then cause linkcheck errors.

I'm not sure there's really a fix for this -- maybe we can ignore excludes for the default_doc invocation @ehuss mentions, but that seems potentially not great too.

I guess a recommended fix might be to add linkcheck to the exclude list, for th

[2021-12-12 02:20] Mark-Simulacrum commented on #91767
Running this on latest master (229d0a94128d036fb07dafdb1f73db5eba5ab0d3) does not produce the error above for me with x.py check or x.py build. So potentially this is fixed, or the diff above is incomplete?

Potentially your config.toml might be relevant as well.

[2021-12-12 02:29] petrochenkov commented on #91794
Yes, `--exclude` is the reason.
If some target X is excluded, then it's excluded even if something depends on it, and targets depending on X are not excluded automatically if X is excluded.

[2021-12-12 02:29] #91794 closed

[2021-12-12 02:46] Badel2 commented on #91370
In one of the recent nightlies the error message has changed to

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-12 03:50] #78160 closed

[2021-12-12 03:50] #91763 closed

[2021-12-12 03:50] #91772 closed

[2021-12-12 04:36] lilasta opened #91822 "Tracking Issue for `const_ptr_as_ref`"
Feature gate: `#![feature(const_ptr_as_ref)]`

### Public API

[code]

### Steps / History

- [x] Implementation: #91823
- #122492
- https://github.com/rust-lang/rust/pull/130164
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-12 05:12] jhpratt commented on #91802
As a native English speaker this is definitely wrong as-is. A PR should be fine.

[2021-12-12 09:19] workingjubilee commented on #91767
huh. it looks like my config.toml is
[code]
which is probably wrong, but I am not sure in what way, honestly.

[2021-12-12 09:40] 5225225 commented on #91816
I can't seem to reproduce this locally, does it go away if you update your compiler?

[2021-12-12 09:57] #80737 closed

[2021-12-12 09:57] #91802 closed

[2021-12-12 10:01] tmiasko opened #91827 "ICE: Fields cannot be extern types, unless they are at offset 0"
### Code

[code]

### Meta

[code]

### Error output

[code]

[2021-12-12 10:03] matthiaskrgr commented on #91663
https://github.com/rust-lang/rust/pull/91715 has been merged, closing.

[2021-12-12 10:03] #91663 closed

[2021-12-12 10:05] sigmaSd commented on #91816
Current compiler is: rustc 1.57.0 (f1edd0429 2021-11-29)

And the same happens when I use beta and nightly:

beta: cargo 1.56.0-beta (18751dd3f 2021-09-01)
nightly: cargo 1.57.0-nightly (9a28ac83c 2021-09-18)

I remembered I was using mold linker (https://github.com/rui314/mold) but I switched to the default linker and the same happens, other then that my setup is normal

[2021-12-12 10:06] terrarier2111 commented on #91803
@rustbot claim

[2021-12-12 10:11] sigmaSd commented on #91816
Actually I can confirm its reproducible, I just tried it with https://gitpod.io/ and the same thing happens

maybe you didn't checkout  the ice branch?

[2021-12-12 10:16] 5225225 commented on #91816
Ahhh, oops. Didn't notice it was on a different branch. Sorry, my bad! Yes, I can reproduce it fine locally.

[2021-12-12 10:38] tmiasko commented on #91827
A sligthly different reproduced that doesn't rely on const propagation and should be more robust:

[code]

@rustbot label +A-const-eval +F-extern_types

[2021-12-12 11:15] zirill commented on #91809
I also noticed that there is a dramatic increase in time with each update.
~ 2m (upd) ~ 8m (upd) ~ 27m
What will happen next?)

[code]

[2021-12-12 11:58] joboet commented on #80908
That's a good idea! `MaybeUninit::from(_).assume_init()` is about the same length as `MaybeUninit::array_assume_init(_)` and allows for better integration with the other methods.

[2021-12-12 12:44] the8472 commented on #91809
@zirill just to check, the regression in your case is also specific to `opt-level=s`? Otherwise that would likely be a separate issue. `evaluate_obligation` would suggest it might be #20304

[2021-12-12 13:38] hkratz commented on #91417
Thought about this some more.

We allow those operations:
* Duration = Instant - Instant
* Instant = Instant + Duration
* bool = Instant == Instant

That can't be changed, so simple arithmetic identities such as i0 + (i1 - i0) == i1 should hold if there is no overflow. In particular because the current behavior leads to real bugs.

The only way to achieve this is IMHO to change the internal repres

[2021-12-12 13:58] jendrikw opened #91829 "confusing error: "expected associated type" and "found associated type" are the same in some cases with Fn traits"
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=use%20std%3A%3Aops%3A%3ANot%3B%0A%0Afn%20compose_mut%3CA%2C%20B%2C%20C%2C%20G%2C%20F%3E(mut%20f%3A%20F%2C%20mut%20g%3A%20G)%20-%3E%20impl%20FnMut(A)%20-%3E%20C%0Awhere%0A%20%20%20%20F%3A%20FnMut(A)%20-%3E%20B%2C%0A%20%20%20%20G%3A%20FnMut(B)%20-%3E%20C%2C%0A%7B%0A%20%20%20%20move%20%7Cx%7C%20g(

[2021-12-12 14:05] corneliusroemer commented on #50363
@Emerentius I came here because I'm just working through Excercism and don't want to uncomment all the ignored tests ;)

[2021-12-12 14:05] jendrikw commented on #91829
I think it also has to do with the reference in `&usize`, could the two types maybe have different lifetime requirements that are not shown?

[2021-12-12 14:29] zirill commented on #91809
@the8472

rustc 1.59.0-nightly (928783de6 2021-12-11) (or 1.57.0 ~)
Finished release [optimized] target(s) in 25m 28s `opt-level=s`
Finished release [unoptimized] target(s) in 24m 45s `opt-level=0`

(in docker 1.56.0)
Finished release [unoptimized] target(s) in 8m 42s `opt-level=s`
Finished release [unoptimized] target(s) in 9m 45s `opt-level=0`

[2021-12-12 14:36] petrochenkov commented on #91315
`stdarch` submodule was updated in https://github.com/rust-lang/rust/pull/91548, closing.

[2021-12-12 14:36] #91315 closed

[2021-12-12 14:42] Mark-Simulacrum commented on #91454
@craterbot retry-report name=beta-1.58-1

[2021-12-12 14:48] Mark-Simulacrum commented on #91454
@craterbot retry-report name=beta-1.58-1

[2021-12-12 14:49] the8472 commented on #91809
@zirill that doesn't really match OP's issue report, you should open a separate issue.

[2021-12-12 14:55] zirill opened #91830 "Significant increase in compilation time on new version"
I noticed that there is a dramatic increase in time with each update.

rustc 1.59.0-nightly (928783d 2021-12-11) (or 1.57.0 ~)
Finished release [optimized] target(s) in 25m 28s `opt-level=s`
Finished release [unoptimized] target(s) in 24m 45s `opt-level=0`

(in docker 1.56.0)
Finished release [unoptimized] target(s) in 9m 45s `opt-level=0`
Finished release [unoptimized] target(s) in 8m 42s `opt-le

[2021-12-12 15:04] Aaron1011 commented on #91830
PR https://github.com/rust-lang/rust/pull/90423 was just merged, so tomorrow's nightly should have better performance

[2021-12-12 15:29] Timmmm opened #91831 "E0623 gives very confusing message"
Given the following code:

[code]

The current output is:

[code]

This is really confusing. The error mentions two types, but then it only points to one type. And then it says "data from `writer` flows into `writer`". What? The data flows into itself?

[2021-12-12 15:32] jendrikw opened #91832 "error help suggests writing down a closure type, which would be a syntax error"
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=fn%20f()%20%7B%0A%20%20%20%20vec!%5B%27a%27%5D.iter().map(%7Cc%7C%20c)%0A%7D)

[code]

The current output is:

[code]

Ideally the output should look like:

Don't suggest adding `-> Map<std::slice::Iter<'_, char>, [closure@src/lib.rs:2:26: 2:31]>` if that's not going to compile.

[2021-12-12 17:36] ecstatic-morse commented on #91816
MCVE:
[code]

This code has move errors and fails const-checking, just like the original example. The ICE occurs after errors are emitted. @sigmaSd did you truncate the logs in your original post?

One option is to change the following statement to `delay_span_bug`:

https://github.com/rust-lang/rust/blob/753e569c9c2a4e3ef394ef7abd0802bf57f66bce/compiler/rustc_mir_transform/src/elaborate_drops.rs#

[2021-12-12 17:50] kryton opened #91835 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c\compiler\rustc_hir\src\definitions.rs:452:14"
### Code

[code]

### Meta

sadly .. nightly fails on something different.
thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL', /rustc/0b42deaccc2cbe17a68067aa5fdb76104369e1fd\compiler\rustc_serialize\src\opaque.rs:669:9
stack backtrace:
thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL', /rustc/0b42deaccc2cbe17a68067aa5fdb76104369e1fd\compiler\rustc_serial

[2021-12-12 17:58] kryton commented on #91835
correction:
ran rustup and received new nightly, and it builds fine.

[2021-12-12 19:26] mamins1376 commented on #29639
In a recent embedded project, I needed to calculate CRC. I knew there is the `crc` crate which is quite minimal and meets every requirements.

The project is written mostly in C, so in order to save time, I exported a simple interface:
[code]

... and turned that into an object file with `$ cargo rustc --release -- --emit=obj` and simply linked it to the rest.

This had no dependency on `core`. In

[2021-12-12 19:35] camelid commented on #80737
Followup: 0.11.0 is the earliest version I could find docs for: https://doc.rust-lang.org/0.11.0/std/

[2021-12-12 19:40] camelid commented on #91767
The profile line essentially copies this into your config:

[code]

[2021-12-12 19:55] GKFX opened #91836 ""only `u8` can be cast as `char`, not `i32`" needs further information"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4932df76de0e9007d1c267e5e57df2b2)

[code]

The current output is:

[code]

This is not very clear. There are two pieces of background information the user needs here:
* `char`s are Unicode scalar values, which are any integer value from 0 to 0xD7FF and 0xE000 to 0x10FFFF. Only u8 can be static

[2021-12-12 20:11] tmiasko commented on #91816
For const items `mir_drops_elaborated_and_const_checked` is queried earlier, without an intermediate exit point:

https://github.com/rust-lang/rust/blob/753e569c9c2a4e3ef394ef7abd0802bf57f66bce/compiler/rustc_interface/src/passes.rs#L950-L977

[2021-12-12 22:08] Mark-Simulacrum commented on #91767
Even with that config.toml, I'm still not able to reproduce this on 229d0a9. Can you re-verify, and perhaps paste a full log from x.py, rather than just the ICE? It's not impossible, I suppose, that this is somehow related to incremental.

[2021-12-12 22:38] camelid commented on #87293
Closing for now.

[2021-12-12 22:38] #87293 closed

[2021-12-12 22:41] marmeladema opened #91839 "AVX2 related regression introduced by rust 1.56.0 and onwards"
### Code

I tried this code:
* https://github.com/cloudflare/sliceslice-rs/commit/a7d4556467e32ed20a72bcaa6f9a71db03000ebb compiled in release mode.

I expected to see this happen: tests pass with success
Instead, this happened: some tests are failing:
[code]

### Version it worked on

It most recently worked on: Rust 1.55.0

### Version with regression

`rustc +1.56.0 --version --verbose`:
[code]

[2021-12-12 22:49] patrick-gu commented on #90817
This check seems to allow the code to compile when the impls are in the same crate:
https://github.com/rust-lang/rust/blob/6bda5b331cfe7e04e1fe348c58a928fc2b650f4f/compiler/rustc_trait_selection/src/traits/specialize/mod.rs#L123-L129

[2021-12-12 23:48] lopsided98 commented on #91696
I have a project that reliably reproduces this bug, available here: https://drive.google.com/file/d/1ytZpN6UGrPaxBpuNdOGk8RFxGGP_oets/view?usp=sharing. The following sequence of actions triggers the bug for me:
1. Enter the `firmware` directory
2. `cargo clean`
3. `cargo build`
4. In `firmware/src/string/dac_driver.rs`, rename `WorkPacket` to `FillableBuffer`
5. `cargo build`
6. Rename `FillableBu

[2021-12-12 23:48] ocstl commented on #77654
This seems to have been fixed by #87281.

[2021-12-12 23:51] Aaron1011 commented on #91745
@b-naber This normalization is happening in an optimization pass (`RevealAll`) which can run on MIR that can never be codegenned. In this case, the `broken` method impl has an impossible-to-satisfy `where` clause, so it can never actually be called or codegenned.

The optimization pass should be changed to use `try_normalize_erasing_regions` - it can just do nothing if it fails.

[2021-12-12 23:57] jyn514 commented on #91836
I think a good improvement would be to
a) Add more detail about this to https://github.com/rust-lang/rust/blob/master/compiler/rustc_error_codes/src/error_codes/E0604.md
b) Add a `help` to this error that suggests `from_u32`

@GKFX are you interested in working on one or both of those? :)

[2021-12-13 00:20] Kampfkarren opened #91842 "macro_expanded_macro_exports_accessed_by_absolute_paths lint links to dead Rust issue"
Given the following code:

[code]

The current output is:

[code]

Going to #52234 at the link provided gives a 404.

[2021-12-13 00:22] Kampfkarren commented on #91842
The [nightly reference](https://doc.rust-lang.org/stable/nightly-rustc/rustc_lint_defs/builtin/static.MACRO_EXPANDED_MACRO_EXPORTS_ACCESSED_BY_ABSOLUTE_PATHS.html) links to https://github.com/rust-lang/rust/issues/53495.

[2021-12-13 00:23] Kampfkarren commented on #91842
Not sure why but looks like 52234 is back...? 🤷‍♀️

[2021-12-13 00:23] #91842 closed

[2021-12-13 00:25] QuineDot opened #91843 "Factual error in `PartialEq` documentation"
[The documentation for `PartialEq`](https://doc.rust-lang.org/std/cmp/trait.PartialEq.html) states:

This is not true, as #44762 illustrates, as well as this [URLO](https://users.rust-lang.org/t/why-can-we-not-compare-values-references/68709)-inspired [example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9623954d3bfbe3c1bf98078b21802fc9):
[code]

The other operator's do

[2021-12-13 00:38] jzhou76 opened #91845 "`x.py install cargo` failed on MacOS due to not being able to find openssl@3"
On MacOS, when I only  have `openssl@3` (installed by `brew` so header files and libs are present), `x.py` would fail to install `cargo`:

[code]

Installing `openssl@1.1` solved this problem.

[2021-12-13 00:40] patrick-gu commented on #90817
It seems that the cause of the issue is that, when trying to fulfil the bound `(): Reduce<Higher>`, it is checked whether the first impl specializes the second impl:
https://github.com/rust-lang/rust/blob/6bda5b331cfe7e04e1fe348c58a928fc2b650f4f/compiler/rustc_trait_selection/src/traits/select/mod.rs#L1693-L1706
Since specialization could be enabled, the compiler tries to determine if it is presen

[2021-12-13 00:56] #91489 closed

[2021-12-13 00:56] #89432 closed

[2021-12-13 01:17] camelid commented on #91843
I assume this is because auto(de)ref kicks in for the method version but not the operator version.

[2021-12-13 01:19] camelid commented on #91609
MD5 hashes should be deterministic, so non-determinism would only be introduced if we used a random number generator.

[2021-12-13 01:44] camelid commented on #81691
Should this be closed? It seems unlikely that we'll end up changing this.

[2021-12-13 01:57] #81691 closed

[2021-12-13 02:42] dimpolo commented on #44874
What could be the reason I cannot get a receiver with an extra trait bound (e.g. `Send`) to work?
If you remove the `+ Send` bound on all impls, everything works fine.

[code]
`error[E0038]: the trait "Trait" cannot be made into an object`

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b88d3b522771837386c30a6ca949caf6)

[2021-12-13 03:19] TwoClocks commented on #90594
I just ran into this on stable

[code]

It was reproducible until a copied the repro to start a minimal example. I could not reproduce in a clean env.

Deleting `./target` fixed it in the original repro, so now I can't reproduce at all. I made zero code chnages.

My backtrace is slightly different
[code]

[2021-12-13 03:22] QuineDot commented on #91843
Yes (and experimenting with changing that is what #44762 is about).

[2021-12-13 03:40] Neutron3529 commented on #88848
sorry for the lately reply.

here is my RUSTFLAGS
[code]
and here is what I defined in the `Cargo.toml`
[code]
which generates similar results:
[code]
[code]

[2021-12-13 03:52] #91085 closed

[2021-12-13 05:13] woppopo opened #91850 "Tracking Issue for `const_maybe_uninit_zeroed`"
Feature gate: `#![feature(const_maybe_uninit_zeroed)]`

This is a tracking issue for implementing const `MaybeUninit::zeroed`.

### Public API

[code]

### Steps / History

- [ ] Implementation: yet
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-13 05:17] woppopo commented on #86302
`core::intrinsics::write_bytes` and `(*mut T)::write_bytes` have been constified: #90081 #91824

[2021-12-13 06:35] thomcc commented on #91417
We should do this, but I'm not sure we can do it everywhere — `clock_gettime_nsec_np` (and the other `clock_gettime` functions) is only available in Darwin 16 (macOS 10.12, iOS 10) and newer, which is newer than our supported versions.

We can certainly do it on macOS+aarch64 targets though, since those should always have it.

[2021-12-13 07:20] kud1ing commented on #91487
To be fair, this ticket is older, but somehow discussion gravitated around the other ticket. It was not obvious, which of the tickets were covering the same issue already.

[2021-12-13 07:26] psionic12 commented on #31844
I searched for a while, and it seems that this RFC didn't take about `dyn type`, is there a way to distinguish type `dyn Foo` from type `Foo`?

[2021-12-13 07:30] #91438 closed

[2021-12-13 07:42] daxpedda opened #91854 "Lifetime in associated type and method taking `&'a self` creates strange borrow issues"
[code]

Produces the following error message:
[code]

There are many ways to fix this. Changing `&'a self` to `&self` for example, or removing the associated type. This really is just a minimal example to reproduce the issue, not a real world program. I considered this a bug in Rust because, as far as I know, this should work. The error message to me looks like `item` borrows a local copy of itsel

[2021-12-13 08:14] hkratz commented on #91839
I can confirm that the test failure can be tracked down to #87254, though I currently have no idea why that change would cause an issue here. A reduced testcase would help with the investigation.

As an aside, functions or trait methods will only be inlined if the caller is compiled with the same (or, unreliably, a superset of the) target features as the called function. E.g. after the change intr

[2021-12-13 09:32] marmeladema commented on #91839
Thank you for looking into this @hkratz !

<details>
  <summary>Here is a reduced testcase, even though it's still quite big</summary>

[code]
</details>

Compiled in debug mode with rust 1.57.0:
[code]

In the working case, `eq` is properly not equal to zero.

Compiled with opt-level=3 with rust 1.57.0:
[code]

Here, for whatever reason, `eq` ends up being equal to 0.

Not reproducible with opt-l

[2021-12-13 09:45] marmeladema commented on #91839
Depending on the level optimization, it seems `eq_last` doesn't have the same value but printing either `hash.first` or `hash.last` makes it work somehow.

[2021-12-13 10:03] Kobzol opened #91857 "ICE when checking a specific crate"
I hit an ICE with the stable compiler. I have a workspace with two crates, the ICE happens only when I run `cargo check` for one of the crates (with the `-p` parameters). If I just run `cargo check`, it works fine.

Maybe related to https://github.com/rust-lang/rust/issues/91835

Compiler version:
[code]

Codebase:
[code]

Command to reproduce:
[code]

<details><summary><strong>Backtrace</strong><

[2021-12-13 10:16] hkratz commented on #91839
Thanks for the testcase. Will need some quiet time to look into this.

This is a restriction of both Rust (see [RFC 2045](https://rust-lang.github.io/rfcs/2045-target-feature.html)) and LLVM (see e.g. [the implementation for X86](https://github.com/llvm/llvm-project/blob/30e38d67719501cf7e7c845e9631271692c858df/llvm/lib/Target/X86/X86TargetTransformInfo.cpp#L5180-L5193)). Essentially the backend o

[2021-12-13 10:24] nikic commented on #91839
FWIW miscompilations in this area can be related to target_features mismatches due to an LLVM bug, see https://github.com/rust-lang/rust/issues/79865. I haven't checked whether this is the case here or not.

[2021-12-13 11:49] xfix commented on #72631
A GAT API for pushing to `HashMap` could possibly look like this:

[code]

[2021-12-13 12:02] bjorn3 commented on #31844
`Foo` is not a type, but a trait. You used to be able to write `dyn Foo` as `Foo` (with both being equivalent), but this has been deprecated and in the 2021 edition removed.

[2021-12-13 12:38] In-line opened #91860 "Panic on incomplete code with yield"
This is the project [test-rust.zip](https://github.com/rust-lang/rust/files/7703825/test-rust.zip)
Run `cargo check`.

MacOS Monterey 12.0.1
[code]

Output
[code]

[2021-12-13 12:51] psionic12 commented on #31844
@bjorn3 sorry I made a foolish mistake.

[2021-12-13 13:15] tyranron commented on #31844
@psionic12 no, because this `impl`s do not overlap, actually.

When you're writing `impl<T> Bar for T`, you have an implicit `T: Sized` bound. And `dyn Foo` doesn't implement `Sized`.

If you write instead:
[code]
they will overlap, and you'll receive a compile error as expected.

Specialization solves the problem of overlapping impls. If your impls do not overlap, you're lucky and you don't even

[2021-12-13 13:18] Mark-Simulacrum commented on #91454
@craterbot retry name=beta-1.58-rustdoc-1

[2021-12-13 13:23] hkratz commented on #91839
Minimized:
[code]
[Godbolt](https://godbolt.org/z/hW7E9hP4z)

This asserts in release but not debug. Essentially it is an ABI mismatch between `avx2_any_upper_bit_set()` putting parameters in `ymm` registers and `non_inlined_non_avx2()` expecting them in `xmm` registers. The LLVM IR looks OK. So it can probably be easily turned into a bug report to LLVM.

#87254 exposes this problem by removing ze

[2021-12-13 13:38] b-naber commented on #91745
@Aaron1011 Thanks for pointing out the problem. Would you like to open a PR for this or are you ok with me trying to fix this?

[2021-12-13 13:39] zirill commented on #91830
Thank you fantastic!
when will the version be released?

nightly-x86_64-unknown-linux-gnu unchanged - rustc 1.59.0-nightly (6bda5b331 2021-12-12)
Finished release [optimized] target(s) in 2m 57s `opt-level=s`

[2021-12-13 13:40] nikic commented on #90326
Fixed by https://github.com/rust-lang/rust/pull/91604 and https://github.com/rust-lang/rust/pull/91654.

[2021-12-13 13:40] #90326 closed

[2021-12-13 13:47] Aaron1011 commented on #91745
@b-naber Feel free to open a PR

[2021-12-13 13:51] marmeladema commented on #91839
Wow that was fast! Thank you so much @hkratz ! :+1:

This kind of issue is really outside of my area of expertise. What's the process to create an llvm bug report? I must admit that I don't feel comfortable doing it myself.

[2021-12-13 13:56] nikic commented on #91839
Okay, that does look like the same issue as #79865. I'll file a bug with LLVM.

[2021-12-13 14:05] Aaron1011 commented on #91830
It should be included in the 1.59.0 release (which will be released on February 24).

[2021-12-13 14:08] nikic commented on #91839
Opened https://github.com/llvm/llvm-project/issues/52660.

[2021-12-13 14:13] marmeladema commented on #91839
Thank you very much @nikic !

In the mean time, would it be possible (or even desirable) to detect such ABI mismatch cases on the rust compiler side and issue an error?

[2021-12-13 14:24] apiraino commented on #91772
Removing prioritization label as per [discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391772.20Use-after-free.20in.20Drop.20impl.20for.20.60vec.3A.3ADrain.60)

@rustbot label -I-prioritize

[2021-12-13 14:25] apiraino commented on #91830
removing prioritization label as per [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391830.20Significant.20increase.20in.20compilation.20time.20on.20new.20vers.E2.80.A6).

@rustbot label -I-prioritize

[2021-12-13 14:28] apiraino commented on #91763
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391763.20ICE.20in.20elided.20lifetimes.20suggestion.3A.20.60!suggestion.2Eis_.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-13 15:04] apiraino commented on #91809
@crawford something that could also help diagnose the issue is an MCVE (which I understand might not be easily isolated from a closed-source project)

@rustbot  label +E-needs-mcve

[2021-12-13 15:19] alexcrichton commented on #91543
I didn't realize anyone was still using those crates so I disabled the action, I believe it was broken anyway. Does rustfmt and/or other crates still use those crates.io packages? If so I can try to find time to restart the action.

[2021-12-13 15:24] nickclifton commented on #74657
Personally I would say that this is an LLVMgold plugin bug, since it is that plugin's responsibility to handle LLVM bitcode files.  But I could be persuaded otherwise.  If you do think that the BFD library should be doing something differently, please could you file a bug report here:
https://sourceware.org/bugzilla/enter_bug.cgi?product=binutils

I think that this would be bad, because the plugin

[2021-12-13 15:59] hkmatsumoto commented on #91860
Could you try running `cargo +nightly check` to see if the compiler panics as well?
IIRC in nightly the compiler has this patch (#91488) included, which resolved a similar bug.

[2021-12-13 16:38] bkolobara opened #91863 "Coercing non-capturing closures to function pointers fails sometimes"
Hi! I have re-created a minimal reproducible example:

[code]

I expected that the compiler treats both type hints equally `test::<S>(|| 0);` and `let _: S = test(|| 0);`.

Instead,  the second invocation fails to compile (under `1.57.0` and `nightly`):

[code]

[2021-12-13 16:44] flip1995 commented on #91543
Racer [still uses](https://github.com/racer-rust/racer/blob/48ed93d31dc0beea6fc7185e8496faa7fa9ded5c/Cargo.toml#L40-L66) those crates. And RLS [depends on Racer](https://github.com/rust-lang/rls/blob/master/Cargo.toml#L46). So without those crates compiling racer with the latest nightly isn't possible, which makes compiling RLS impossible and therefore blocks the sync of RLS back to rust-lang/rust

[2021-12-13 16:50] PatchMixolydic commented on #80940
This seems to affect `macro_rules!` as well ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=33852ae3f589c4067382976e0234751f)):
[code]

[code]

Macros are collected into `Resolver::unused_macros` here in `BuildReducedGraphVisitor::define_macro`:
https://github.com/rust-lang/rust/blob/e5038e20999eef35260b070189883edc2a8a34b2/compiler/rustc_resolve/src/build_re

[2021-12-13 16:59] eddyb opened #91864 "Consider shipping compiler source code as a rustup component ("rustc-src"?)."
Right now the `rust-src` component only contains `Cargo.lock`, `library` and `src/llvm-project/libunwind`, but none of `compiler` or `src/tools` etc.

It wouldn't (IMO) be fair to burden everyone with downloading more source code through `rust-src`, so if we do start shipping the `compiler` source dir (or any other), it should probably be opt-in, just like `rustc-dev` is (and `rustc-src` seems lik

[2021-12-13 17:06] Mark-Simulacrum commented on #91864
rustc-dev, which you probably already have if developing a codegen backend, I think includes compiler already? So this might be a matter of hooking up rust-analyzer to discover it - https://github.com/rust-lang/rust/blob/master/src/bootstrap/dist.rs#L659

[2021-12-13 17:07] Mark-Simulacrum commented on #91864
rustc-dev, which you probably already have if developing a codegen backend, I think includes compiler already? So this might be a matter of hooking up rust-analyzer to discover it - lib/rustlib/rustc-src/rust should be the path I think?

[2021-12-13 17:13] flip1995 commented on #91543
Would it maybe be an option to make racer depend on `rustc-dev` to compile instead of publishing AP crates?

[2021-12-13 17:36] jackh726 commented on #90808
@vandenheuvel were you able to fix your project and also include the required bounds?

[2021-12-13 17:56] yoshuawuyts commented on #91642
The @rust-lang/wg-async-foundations group was not notified of https://github.com/rust-lang/rust/pull/91645 prior to merging. Tagging here to ensure the right people get the notification that this was merged into unstable.

[2021-12-13 18:14] calebcartwright commented on #91543
We stopped using them in rustfmt a while ago and I can't imagine a scenario where we'd switch back.

Agreed on racer, which AIUI is the last true direct consumer of those crates. However, it's also in [maintenance mode](https://github.com/racer-rust/racer#disclaimer) and those crates only get bumped in racer when a racer consumer needs them to be bumped.

[2021-12-13 18:50] GKFX commented on #91836
@rustbot claim

[2021-12-13 18:57] yoshuawuyts commented on #91642
I don't think that `#![feature(future_join)]` should have been merged as-is, and instead needs to be part of a coherent design implementing async concurrency for Rust. The topic of async concurrency is a fundamental part of Rust's future, and nuanced enough that it should be going through the RFC process [^prior].

[^prior]: See [Swift SE-0304: Structured Concurrency](https://github.com/apple/swif

[2021-12-13 18:57] alexcrichton commented on #91543
Ah ok. In that case if this is purely for something in maintenance mode I think my own personal tenure in maintaining these crates is over with, so I would prefer to hand over the reins to someone else. Would someone be willing to volunteer to take over these crates?

[2021-12-13 18:58] ocstl commented on #63253
This seems to have been fixed by #87281.

[2021-12-13 18:58] madsmtm commented on #91372
Note that this _is_ a breaking change for macOS users, before, they didn't have to specify `MACOSX_DEPLOYMENT_TARGET`, now they do. Furthermore, they have no easy way to find out that they need to!

Additionally, the affected crates (that we know about) are quite widely used (at least half of all Rust games depend on `winit` and/or `coreaudio-sys`), and have not yet fixed the issue, nor yet releas

[2021-12-13 18:59] codeflo commented on #90594
I also hit this exact error message after moving files around, and I can confirm that it goes away after a cargo clean. (Unfortunately, I don't think I would have tried that if I hadn't found this GitHub issue.)

[code]

[2021-12-13 19:05] Mark-Simulacrum commented on #91543
@alexcrichton let's sync up on #t-infra on Zulip -- I think it makes sense to move these crates into infra control/publication.

[2021-12-13 19:07] flip1995 commented on #91543
Let's wait if Racer can move over to rustc-dev. If so, there shouldn't be a need to keep maintaining rustc-ap crates. Looking at the dependents on crates.io, there really is only `racer`, the `rustc-ap` crates themselves and `rustfmt-nightly` (which by now uses `rustc-dev`).

[2021-12-13 19:16] hkratz commented on #91372
Like I wrote [above](https://github.com/rust-lang/rust/issues/91372#issuecomment-983453193) I think ideally we should match clang's behavior and thus fall back to the default of the currently configured Macos SDK. Unfortunately that would mean looking at the `Version` property of the `SDKSettings.json` in the currently configured SDK. Unfortunately I don't really see a reliable way to do get the p

[2021-12-13 19:33] scottmcm opened #91867 "Stop using `in_band_lifetimes` in compiler crates"
With more than 50% of the sign-offs needed in https://github.com/rust-lang/rust/issues/44524#issuecomment-988260475 to remove the feature entirely (EDIT: And now in FCP), I think it's now fine to start updating the compiler code to stop using the nightly feature.

Here are the crates currently using it:
- [x] compiler\rustc_borrowck\src\lib.rs https://github.com/rust-lang/rust/pull/91879
- [x] com

[2021-12-13 20:01] jyn514 commented on #91372
@hkratz I think we should revert the change until you find a way to do this - it seems to be causing a lot of breakage and my understanding is the goal was just to turn a runtime error into a link time error.

[2021-12-13 20:02] calebcartwright commented on #91543
#88867 has some relevant considerations as well. One way or another I think the AP crates need to be accounted for as per the accepted RFC, though it certainly would be a simpler story if they no longer need to be updated/published

[2021-12-13 20:28] hkratz commented on #91372
@jyn514 Oh sure. I am not against a revert until that is sorted out. I will open a PR.

[2021-12-13 20:42] Mark-Simulacrum opened #91869 "regression: Rc implements RefUnwindSafe"
https://github.com/rust-lang/rust/pull/87467 added an impl of RefUnwindSafe to Rc, which was detected as breaking these crates:

* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/reg/ref-portals-1.0.0-beta.2/log.txt

This seems likely to be treated as acceptable breakage (the crate in this case is specifically asserting *not* implementing the trait), but want to confirm that.

[2021-12-13 20:58] Mark-Simulacrum opened #91872 "regression: binop(?) type inference failures"
A bunch of errors around type inference failure detected in the crater run -- I would like us to track down the PR causing these since I'm not finding an obvious reason off hand:

* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/gh/mwc10.dt-backup/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/gh/DaTa-.advent-of-code-2020/log.txt
* https://crater

[2021-12-13 21:04] camelid commented on #91809
Hmm, it's possible, but it seems quite unlikely to me that that's the cause.

[2021-12-13 21:15] LegionMammal978 commented on #91867
Something tricky I've found: Suppose a trait is implemented with `impl Trait<'tcx> for Type<'tcx> { ... }`. Then, when `in_band_lifetimes` is disabled, the compiler assumes that it only implements `Trait<'static>`, and generates an error whenever you use a method or subtrait of `Trait<'tcx>` that depends on `'tcx`. The general error always contains `note: expected Trait<'_>`, `found Trait<'static>

[2021-12-13 21:23] Mark-Simulacrum opened #91874 "regression: extra semicolon"
* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/gh/nicompte.algoliasearch-rs/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/reg/algoliasearch-0.1.4/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/reg/andex-0.0.10/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.58-1/beta-2021-11-30/reg/lightning-invoice-0.11

[2021-12-13 21:24] Mark-Simulacrum commented on #91874
Looks like previously reported in https://github.com/rust-lang/rust/issues/91398, but not yet tracked as a regression.

[2021-12-13 21:24] Mark-Simulacrum commented on #91454
* https://github.com/rust-lang/rust/issues/91869
* https://github.com/rust-lang/rust/issues/91872
* https://github.com/rust-lang/rust/issues/91874

[2021-12-13 21:30] nikomatsakis commented on #65991
This is currently blocked on resolving the safety conditions for upcasting. The following updated document describes my current thinking, looking for feedback:

https://rust-lang.github.io/dyn-upcasting-coercion-initiative/design-discussions/upcast-safety-2.html

[2021-12-13 21:30] jyn514 commented on #91874
I still stand by https://github.com/rust-lang/rust/issues/91398#issuecomment-982969172, I don't think this is a bug, just expected breakage from fixing a pre-existing bug.

[2021-12-13 21:42] Mark-Simulacrum commented on #91874
Just because it's expected breakage / used to be a bug doesn't necessarily mean that we should be breaking stable users. In this case the breakage seems sufficiently limited that this is likely acceptable, but in general we should try to be more careful about landing breakage like this, though it's good to see that the PR was tagged as relnotes.

[2021-12-13 21:52] carllerche commented on #91642
I agree w/ @yoshuawuyts and don't have much else to add. Tokio added `join!` mostly because it was an established pattern. If I were to do it again, I would not have included `join!`. After onboarding quite a few new devs to async rust, I think `join!` complicates the learning experience without adding **much** over spawning the sub-tasks. There are alternative strategies that could be explored ov

[2021-12-13 21:52] XrXr opened #91877 "Const in trait impl block not evaluated unless used, skipping panics."
I found a surprising behavior of constant evaluation and I'm not sure if it's intended.
I feel this is a small usability issue with panics in const context for implementing
compile time assertions.

I tried this code([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0b352609d418a84a7376b68aea37b29a)):

[code]

I expected to see this happen: The program fails to c

[2021-12-13 22:06] bugadani commented on #91867
I can give `rustc_borrowck` a try

[2021-12-13 22:23] workingjubilee commented on #91767
Huh, entirely possible. Lemme try with a fresh clone on my end.

[2021-12-13 22:25] ehuss commented on #91845
It looks like the version of `openssl-sys` needs to be bumped to pull in at least version 0.9.69 which added support for v3 from homebrew.  An alternate workaround is to use the `cargo-native-static` config option, which is how official builds are usually done.

[2021-12-13 22:26] alexcrichton commented on #91543
Happy to coordinate as necessary, just let me know!

[2021-12-13 22:48] Aaron1011 commented on #91857
A consistent reproduction of this crash has been found in https://github.com/rust-lang/rust/issues/91696#issuecomment-991995520

[2021-12-13 22:49] Aaron1011 commented on #91696
@lopsided98: Thanks - I've been able to reproduce this crash locally, and I'm working on minimizing it.

[2021-12-13 23:21] #91036 closed

[2021-12-13 23:21] #91614 closed

[2021-12-13 23:21] #90343 closed

[2021-12-13 23:21] #90888 closed

[2021-12-13 23:21] #91348 closed

[2021-12-13 23:31] workingjubilee commented on #91767
Huuuh.
Okay, that actually worked. And even though `x.py clean` and then rebuilding didn't seem to make it "go" before, it clears now (I suspect this is due to buggy file locking). Looks like this is indeed an incremental issue.
Feel free to close this if there's no realistic actions to take here, then.

[2021-12-13 23:36] #91767 closed

[2021-12-14 00:17] Patrick-Poitras commented on #91867
I'll try with `rust_typeck`

[2021-12-14 00:37] Aaron1011 commented on #91696
This appears to be caused by the way we handle decoding query values from the incremental cache. Decoding a `ty::AdtDef` calls `tcx.adt_def` with a decoded `DefId`. This causes us to start a **new query execution** in the middle of decoding the result of a different query: https://github.com/rust-lang/rust/blob/8f117a77d0880ed59afcc1a19c72ec5c1e44b97c/compiler/rustc_middle/src/ty/codec.rs#L311-L31

[2021-12-14 01:00] briansmith commented on #60123
It seems to me that the best way to do this is to add a "cpuid" target feature to the language so that people can treat CPUID just like any other conditionally-available CPU instruction with `target_feature` / `cfg_target_feature` / `cfg_feature_enabled`. This would allow people to detect at compile time or at runtime whether they can execute CPUID instructions. Ideally the definitions of each tar

[2021-12-14 01:58] modulok commented on #90594
I just encountered this on FreeBSD 13.0-RELEASE. Unfortunately it vanishes when I copy the repo and re-build. Here's a vebose backtrace, for what it's worth:

[code]

Not nightly, but given the others who are seeing this on nightly, I don't think it matters:

[code]

Good luck!

[2021-12-14 02:01] vorot93 opened #91883 "GAT lifetime error is unhelpful"
Given the following code:

[code]

The current output is:

[code]

Error is fixed by adding a where clause to associated type in impl, which is not immediately clear:

[code]

[2021-12-14 02:05] Xuanwo commented on #91789
After a diff between https://doc.rust-lang.org/std/?search=reserve and https://doc.rust-lang.org/std/?search=try_reserve, I think the current list is complete.

[2021-12-14 02:07] vorot93 commented on #89122
I just filed #91883. Couldn't fix w/o outside help: I instinctively knew that I needed a `where` clause in associated type in impl, but I could never guess to put it before `=` - so I thought it's not supported at all.

[2021-12-14 02:19] jyn514 commented on #91714
Mentoring instructions: remove `manual_passes` (and recursively, a code that uses it): https://github.com/rust-lang/rust/blob/8f117a77d0880ed59afcc1a19c72ec5c1e44b97c/src/librustdoc/config.rs#L130-L138
Also remove `DefaultPassOption::None`: https://github.com/rust-lang/rust/blob/8f117a77d0880ed59afcc1a19c72ec5c1e44b97c/src/librustdoc/config.rs#L609

[2021-12-14 04:19] compiler-errors commented on #91807
Found the bug, I'll put up a PR in a sec.

@rustbot claim

[2021-12-14 04:21] pitaj commented on #91867
I'll take `rustc_hir` and `rustc_incremental`

[2021-12-14 05:05] compiler-errors commented on #91832
@rustbot claim

[2021-12-14 05:22] pitaj commented on #91714
@rustbot claim

[2021-12-14 05:32] Manishearth opened #91899 "Regression from stable to beta with HRTB supertraits"
Note: The regression _is_ valid/"allowed" (there's a hole in the typesystem being patched), I'm just filing this issue now so we can make sure that this regression is _tracked_ in case it got "fixed" by accident. Feel free to close if it's a known quantity; I'm just worried that this got "accidentally" fixed in some other change.

My crate is being fixed to not face this problem, but in general th

[2021-12-14 06:17] jackh726 commented on #90696
Changing the where clause to `for<'b> S::Associated<'b>: Send` makes this code compile.

[2021-12-14 06:21] jackh726 commented on #90696
GATs issue triage: not blocking. The examples here do use GATs, but the underlying issue seems to have roots in generality and generator capture (from what I can surmise). There also seem to be related issues that don't use GATs.

[2021-12-14 06:39] jackh726 commented on #90816
GATs issue triage: not blocking. I don't like that this diagnostic is just *wrong*. The "easy" fix here would be to disable the "consider adding a where clause" help if that where clause isn't on the trait, but a proper fix would be able to suggest `Self: 'a`. Either way, this is just poor diagnostics and doesn't miscompile.

[2021-12-14 06:40] jackh726 commented on #91139
GATs issue triage: not blocking. Fixed and needs test.

[2021-12-14 06:41] jackh726 commented on #91883
GATs issue triage: not blocking. Poor diagnostic, but not a miscompile.

[2021-12-14 07:26] inquisitivecrystal commented on #91899
This regressed #91388, which was a rollup. Further testing shows this resulted from #91243. It's marked as being a partially revert, so I'm not entirely sure what the chronology is here. CC @jackh726. Note that we think this "regression" probably isn't actually a problem, per the note at the top.

[2021-12-14 07:30] SylvanB commented on #91867
I'll take `rustc_symbol_mangling` .

[2021-12-14 08:30] sigmaSd commented on #91816
@ecstatic-morse  yes the error log is truncated, I have  a move error `error[E0382]: assign to part of moved value: self.vec.buf`

[2021-12-14 09:56] anuvratsingh commented on #91867
will try `library\proc_macro\src\lib.rs`

[2021-12-14 11:36] est31 commented on #84428
This is resolved now I think due to #84920 being merged?

[2021-12-14 11:36] Xuanwo commented on #91789
I'm interested in implement try_reserve and try_reserve_exact on PathBuf.

[2021-12-14 11:53] est31 commented on #91877
I wonder why the compiler evaluates unused consts at all?

[code]

There is an inconsistency to consts in trait impl blocks, but I wonder if the inconsistency could be resolved the other way, by not evaluating any unused consts.

[2021-12-14 12:12] yoshuawuyts commented on #91683
Blocking concern: this function should not be stabilized before the working group has been able to complete a feasibility study of [async overloading](https://blog.yoshuawuyts.com/async-overloading/), as that may mean that we want to fold `std::stream` into `std::iter` and expose this as `std::iter::pending` instead.

[2021-12-14 12:36] Stargateur commented on #84428
To future reader, [`ouroborus`](https://crates.io/crates/ouroboros) can probably be use to replace `rental`

[2021-12-14 13:30] yoshuawuyts commented on #79024
I've filed a PR to the RFCs repo, updating the "streams" terminology to "async iterator" instead: https://github.com/rust-lang/rfcs/pull/3208.

[2021-12-14 13:39] yodaldevoid commented on #29603
Should a separate issue be opened to specifically discuss "weak" linkage (or any other desired linkage attributes), or should discussion of stable linkage attributes continue to be discussed here?

[2021-12-14 14:39] jackh726 commented on #91899
What the....

[2021-12-14 14:42] #91745 closed

[2021-12-14 15:21] xd009642 opened #91912 "Prioritise types in prelude over items from a `#[doc(hidden)]` module"
I was passing in a `usize` instead of an `Option<usize>` in some of my code and when I ran `cargo +nightly check` I got this output:

[code]

I'm on the latest nightly and mentioned it on a rust discord and @memoryruins pointed me to the RA issue and then realised there didn't seem to be a rustc issue for it so I'm raising it now :eyes:

[2021-12-14 15:24] jackh726 commented on #91899
Okay so reverting #88312 *fully* also errors. Stable 1.55.0 fails. Checking 0599f3403366d9c57f0625e6de3af214b5042a90 (a couple commits before #88312) now, but I'm assuming it's going to error.

So, this was actually a bug in 1.56.0 - prior to that, this didn't compile, rightfully.

My guess is because of treating unnormalized function args & output as WF, we saw `<Self as Yokeable<'b>>::Output`, r

[2021-12-14 15:25] poliorcetics opened #91913 "Consider adding `Vec::try_with_capacity(_in)` and friends"
With `try_reserve(_exact)` stabilized, the following pattern is going to start cropping up (it already does in our internal code base):

[code]

Would adding one or two extra methods per container; `try_with_capacity(capacity: usize) -> Result<.., TryReserveError>` and `try_with_capacity_in(capacity: usize, alloc: A) -> Result<.., TryReserveError>` be appropriate ?

Note that the two-liner above w

[2021-12-14 15:35] Manishearth commented on #91899
Good to know, thanks!

(And good that this was just a one-version regression; less chance of there being in-the-wild breakage)

[2021-12-14 15:36] Manishearth commented on #91899
🤔🤔 I should figure out an excuse to make yoke a dependency of rustc, it seems _really good_ at finding typesystem corner cases and maybe we should just have it be a test 😁

[2021-12-14 15:36] sffc commented on #91899
Isn't it failing on the wrong line?  I would have expected it to fail on the

[code]

because `&'static [T]` is the thing that needs to match `for<'a> Yokeable<'a>: 'static`

[2021-12-14 15:46] jackh726 commented on #91899
Haha yeah, it's a thorn in my side 😛

So, it's interesting. The check is `(&'static [T]): 'static`, which is true. What I *might* expect here is it to fail because you haven't written `T: 'static` (which is required for `&'static [T]` to be well-formed. But I think this is implied bounds, since this is fine:
[code]

[2021-12-14 15:49] kamulos commented on #86551
I was regularly experiencing a similar issue with Rust 1.57.0, where sometimes after switching git branch some of the types and symbols `cargo check` evaluates were just outdated.

One piece of the puzzle might be, that I recently started switching back and forth from developing on my main system and a Docker container where the folder is mounted without always cleaning the target directory.

This

[2021-12-14 15:51] fee1-dead commented on #82775
I would prefer the macro to expand as `let .. else { panic!() }` and users would be able to use the bindings after the assertion.

Does this sound reasonable? Would `feature(let_else)` block the stabilization of this macro, or can we use `allow_internal_unstable`?

[2021-12-14 15:56] nikic commented on #91128
Upstream review is https://reviews.llvm.org/D115497.

[2021-12-14 16:11] fee1-dead opened #91917 "Tracking Issue for `const` `bool::then{,_some}` functions"
Feature gate: `#![feature(const_bool_to_option)]`

This is a tracking issue for `const` `bool::then{,_some}` functions.

See also #80967

### Public API

[code]

### Steps / History

- [x] Implementation: #91918
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-14 16:40] Manishearth commented on #91899
In my experience WFness of `&'a T` has always been a bit variable where sometimes you can assume it and sometimes it requires you to spell it out, so maybe this is another instance of that.

[2021-12-14 16:46] Aaron1011 opened #91921 "Investigate usages of `#[stable_hasher(project(name))]`"
In several places, we use `#[stable_hasher(project(name))]` to skip hashing the `Span` of an `Ident`. For example:

https://github.com/rust-lang/rust/blob/404c8471aba60c2d837fa728e7c729a0f52d5830/compiler/rustc_hir/src/hir.rs#L205-L209

It's not obvious why this is correct. Assuming that this isn't causing any issues with incr comp invalidation, then we should add comments explaining why this is t

[2021-12-14 16:47] jyn514 commented on #15347
Please do not leave comments on this issue - you can document private definitions with `--document-private-items`, this issues isn't meant to track all issues related to private items. If you'd like a better UI for it that distinguishes private and public items, feel free to comment on https://github.com/rust-lang/rust/issues/68022 with the UI you think would be helpful.

[2021-12-14 17:04] pierwill commented on #91921
@rustbot claim

[2021-12-14 17:42] In-line commented on #91860
Indeed I can confirm, that ICE doesn't happen with nightly! Thanks.

[2021-12-14 17:42] #91860 closed

[2021-12-14 17:42] Alexendoo commented on #89066
No longer ICEs since #91847

[2021-12-14 17:46] In-line commented on #91912
This PR fixes it #87349 just didn't have enough time recently to finish it.

[2021-12-14 17:51] sunfishcode commented on #90964
My experiment above to find a way to reconcile stdio handle values in the child with the parent, and my idea above to treat NULL like a valid always-failing handle, were me trying to fit this proposal into a broader scheme. Unfortunately, neither of my idea here turned out to be practical.

Without a broader scheme, and with my own current limited understanding of Windows, and the lack of reports

[2021-12-14 18:08] fee1-dead opened #91930 "Tracking Issue for `const_option_ext`"
Feature gate: `#![feature(const_option_ext)]`

This is a tracking issue for option methods.

### Public API

[code]

### Steps / History

- [x] Implementation: #91928
- [x] Final comment period (FCP)
- [ ] Stabilization PR: https://github.com/rust-lang/rust/pull/132966

### Unresolved Questions

- None yet.

[2021-12-14 18:16] nikomatsakis commented on #44524
@rfcbot fcp reviewed

I agree with what @scottmcm wrote. I am definitely still interested in us spending time to address some of the ergonomic pain around using lifetimes, but I'd want to step back and do an initiative, and in particular to spend some time identifying precisely which problems are most pressing now.

[2021-12-14 18:29] XrXr commented on #91877
I use it to do check things at compile time, as suggested by the 1.59.0 [release note](https://blog.rust-lang.org/2021/12/02/Rust-1.57.0.html#panic-in-const-contexts).

I think if "no use, no evaluation" because a general rule in the language, it hurts this use case. I want to have confidence that the compile time assert is evaluated when I write it so I can focus on what the assertion itself, not

[2021-12-14 18:39] shreepads commented on #89492
Current state: u32vec.iter().fold(0, |acc, x| acc + ((x - median) as i32).abs() as u32)

Desired state: u32vec.iter().fold(0, |acc, x| acc + x.abs_diff(median))        // as per experimental API for u32

[2021-12-14 18:46] nikomatsakis commented on #91377
Hi all! When we were implementing NLL, we couldn't figure out what to do about errors in unreachable code, since it's not clear what things are initialized, which borrows ought to be in scope, etc, and so we decided to accept programs like this (for better or worse). Going to close this as "working as designed" -- if we were going to make changes here, I expect what we could do is talk about some

[2021-12-14 18:46] #91377 closed

[2021-12-14 19:03] nikomatsakis commented on #91249
We discussed this in our lang team meeting today. I've added a reference to this issue from the tracking issue (#39412) and I'm going to remove the lang team nomination. We are not actively working on the design of hygiene for macros 2.0 right now. I think the general sense is that yes, we will need some form of way to have methods that are "publicly exported" from a macro, but the precise design

[2021-12-14 20:04] xmyst opened #91934 "'rustc' panicked at 'DefId::expect_local: `DefId(...)` isn't local'"
### Code

`main.rs`:
[code]

`lib.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-14 20:37] stephanemagnenat opened #91935 "ICE on stable 1.57.0"
When the ICE happened, I had error messages of the type:
[code]

The code compiles with `rustc 1.59.0-nightly (8f117a77d 2021-12-13)`.

After cleaning up the build directory, compilation succeeds with 1.57.0 as well.

However, I still report the bug as I didn't touch anything by hand in the build directory previously so there seems to be a problem with dependencies, maybe over a rustc update?

Not

[2021-12-14 20:41] stephanemagnenat commented on #91935
Yes it looks to be that one. Sorry for not seeing it. Thank you for the fast answer! Is there a way to properly close as duplicates?

[2021-12-14 20:42] Aaron1011 commented on #91935
I've been leaving these kinds of issues open for now, since I'm not 100% sure that they all have the same root cause.

[2021-12-14 20:49] #91934 closed

[2021-12-14 21:32] scottmcm commented on #44524
@davidtwco @estebank @nagisa Friendly one-week ping for the FCP close here.  It only needs one more ✅!

[2021-12-14 21:54] davidtwco commented on #44524
✅

[2021-12-14 22:27] Aaron1011 commented on #68262
It looks like we're already getting some form of this for free. The following code:

[code]

results in the following LLVM IR for `use_it`:

[code]

[2021-12-14 22:36] GKFX commented on #91836
While I was reading the docs I noticed a minor error in `char::MAX`:

This isn't true; a USV is a Code Point within either of two ranges, not one. It's also a bit cagey about what the ranges are numerically; I don't know if this is intentional. Personally I would re-write it to the below:

Would I put that in the same PR (as they're both `char` documentation) or a new issue?

[2021-12-14 22:39] VladasZ commented on #83742
I've seen the same error on:
[code]
It was resolved by `cargo clean` but unfortunately I can't reproduce it again and provide the backtrace.

[2021-12-14 23:25] camelid commented on #91836
@GKFX A new PR would be better.

[2021-12-14 23:26] eholk commented on #91642
@carllerche - I was wondering if you could provide more details about your experience here? What did new devs find complicated about `join!`?

[2021-12-14 23:44] davidhalter opened #91942 "Inferred struct lifetime bounds result in rejection of valid lifetimes"
I have skimmed about 100+ "similar" issues here and could find one that matches this issue, so apologies if this was already reported. The issue that seems most similar is this one: https://github.com/rust-lang/rust/issues/87241.

I have tried to reduce this lifetime issue as much as possible to the essentials, but it's unfortunately still a bit of code:

[code]

I expected this to pass the borrow

[2021-12-14 23:46] Patrick-Poitras commented on #91867
I'll give rust-middle a try.

[2021-12-14 23:47] Aaron1011 commented on #83742
I strongly suspect that this has the same underlying cause as https://github.com/rust-lang/rust/issues/91696#issuecomment-993043710

[2021-12-14 23:58] ocstl commented on #80986
This seems to be a different issue, since both of those issues no longer fail to compile.

I may be missing something (and I am not an expert), but there doesn't seem to be any link between `I::Output` and `Index::Output`, hence no link between the lifetimes.

Rewriting it this way seems to correct the issue ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist

[2021-12-14 23:59] Aaron1011 opened #91943 "Drop flag statement creation depends on `FxHashMap` interation order"
This code creates MIR statements based on an `FxHashMap` iteration order: https://github.com/rust-lang/rust/blob/404c8471aba60c2d837fa728e7c729a0f52d5830/compiler/rustc_mir_transform/src/elaborate_drops.rs#L493-L495

`drop_flags` is defined as:

https://github.com/rust-lang/rust/blob/404c8471aba60c2d837fa728e7c729a0f52d5830/compiler/rustc_mir_transform/src/elaborate_drops.rs#L260

Since FxHashMap'

[2021-12-15 00:01] Aaron1011 commented on #63713
This came up in https://github.com/rust-lang/rust/issues/91943

[2021-12-15 00:02] camelid commented on #39464
The layout has significantly changed over the last several years, and I think this issue is fixed now.

[2021-12-15 00:02] #39464 closed

[2021-12-15 00:04] camelid commented on #41072
I believe this bug is fixed now. Let me know if this issue can be closed, or close it yourself.

[2021-12-15 00:05] camelid commented on #91943
Perhaps it should just use `BTreeMap` instead?

[2021-12-15 00:08] camelid commented on #91714
cc #82824

[2021-12-15 00:09] abreis opened #91944 "runtime panic: 'entered unreachable code' with iter::Zip + iter::Rev over a custom DoubleEndedIterator"
I have a custom `DoubleEndedIterator` that, when zipped to a plain slice iterator and reversed, triggers an `unreachable!()` in `iter::Zip::next_back()`.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=948145410c89b55f6a271b95e76155a2)

On its own, the custom iterator reports the right `len` (and the default `size_hint` of `(0, None)`), and seems to work

[2021-12-15 00:11] camelid commented on #51860
I'm going to close this for now since I don't think it's really actionable. As @jsha said, this should be mostly resolved.

[2021-12-15 00:11] #51860 closed

[2021-12-15 00:38] dtolnay commented on #41072
This is not fixed as of current nightly. `cargo doc` from the same code from above:

![Screenshot from 2021-12-14 16-37-39](https://user-images.githubusercontent.com/1940490/146101477-03c843f5-26b6-49ef-b29a-c97868330e81.png)

[2021-12-15 00:39] camelid commented on #41072
Hmm, I went to the latest version of the docs.rs page in the OP, but couldn't find `GzEncoder` in the crate root :https://docs.rs/flate2/1.0.22/flate2/index.html?search=gzencoder

[2021-12-15 00:40] camelid commented on #41072
Also, oops: I didn't mean to close this issue!

[2021-12-15 00:42] petrochenkov commented on #91921
IIRC, it was done purely as a bug-compatibility measure when `Ident`s were introduced to HIR instead of `Symbol`s to support hygiene.
Hashing spans caused either incremental errors or perf regressions.
This was long ago, so the issues preventing span hashing may be fixed now, we need to try to remove this annotations and check what happens.

[2021-12-15 00:44] camelid commented on #41072
I just ran `cargo doc` locally, and I'm _still_ not seeing `GzEncoder` in the crate root, either via searching or the listing on the crate root's page. Where do you see `GzEncoder`?

[2021-12-15 00:47] dtolnay commented on #41072
[code]

![Screenshot from 2021-12-14 16-47-37](https://user-images.githubusercontent.com/1940490/146102343-dc8e6a4b-a93a-43cd-97da-fdfb1801999a.png)

[2021-12-15 00:56] ibraheemdev opened #91946 "Tracking Issue for `io::Error::other`"
Feature gate: `#![feature(io_error_other)]`

This is a tracking issue for `io::Error::other(err)`, a shortcut for `io::Error::new(io::ErrorKind::Other, err)`

### Public API

[code]

### Steps / History

- [x] Implementation: #91947
- [x] Final comment period (FCP)
- [x] Stabilization PR: #115453

### Unresolved Questions

- None yet.

[2021-12-15 01:03] camelid commented on #41072
Ah, I thought your screenshot was from the crate itself.

[2021-12-15 01:21] scottmcm commented on #91944
(Removed `ICE` as the compiler isn't panicking here; it's just a panic from the standard library at runtime.)

This looks to me like it's allowed behaviour, as the iterator is not upholding the `ExactSizeIterator` contract.  Specifically, it's not reporting a shorter `.len()` as it advances: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fb171207dae6e3c36505ed1ed48e03ec>

[2021-12-15 01:22] steffahn opened #91949 "Exponential slowdown in catching an `overflow` error."
This code is not expected to compile successfully:

[code]
This can't compile successfully because `recurse<T>` calls `recurse<Map<IteratorOfWrapped<(), T>, [closure@<source>:22:51: 22:58]>>` recursively, which then calls `recurse<Map<IteratorOfWrapped<(), Map<IteratorOfWrapped<(), T>, [closure@<source>:22:51: 22:58]>>, [closure@<source>:22:51: 22:58]>>`, and so on...

However up to stable 1.55, t

[2021-12-15 01:25] abreis commented on #91944
Thank you! I suspected something was wrong with my implementation, but I couldn't point to what exactly since the  iterator seemed to work correctly on its own.

[2021-12-15 01:25] #91944 closed

[2021-12-15 01:26] glandium commented on #74657
For the record, that bug is now https://github.com/llvm/llvm-project/issues/47216

[2021-12-15 02:03] #79683 closed

[2021-12-15 02:04] scottmcm commented on #42309
It's been long enough that I'm just going to close this.

[2021-12-15 02:04] #42309 closed

[2021-12-15 02:15] scottmcm commented on #80140
Sadly `Hash` is forced to be slower on arrays than on tuples because `Borrow`ing arrays as slices means that hashing an array must include the length (#86131), which isn't needed for tuples.

[2021-12-15 02:39] camelid commented on #41072
Assigning myself for now to look into this.

[2021-12-15 03:28] #87490 closed

[2021-12-15 03:28] #89716 closed

[2021-12-15 03:28] #91725 closed

[2021-12-15 03:28] #91783 closed

[2021-12-15 04:07] elimerl opened #91953 "Confusing error for HashMap value clone"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=64b6016c52540326f735849e3014159a

[code]

The current output is:

[code]

This error output is confusing and obscures the real error, which is the lack of Clone implementation on the Test enum.
The output could possibly be something like this:
[code]

which is the error output of this code: https://pl

[2021-12-15 04:22] noahsalvadordenjo opened #91954 "Dear Computer of Rust the computer of python has turned evil you have to write a new language"
bye

[2021-12-15 04:41] #91954 closed

[2021-12-15 05:44] pacak commented on #65467
More examples, here neither `q` nor `foo` are read back.

[code]

[code]

[2021-12-15 05:56] NobodyXu opened #91968 "Undefined reference to __tsan_init when using thread sanitizer"
### Problem

I am trying to use thread sanitizer in [my fork of triomphe](https://github.com/NobodyXu/triomphe) and it has link errors when trying to use thread sanitizer, complaining that a lot of symbols started with `__tsan_` is not found.

Here is the [log](https://github.com/NobodyXu/triomphe/runs/4530192026?check_suite_focus=true) for the errors (it also failed on my computer).

Looking at t

[2021-12-15 06:33] #66731 closed

[2021-12-15 06:33] #83574 closed

[2021-12-15 06:48] jsha commented on #91653
I believe I broke this in https://github.com/rust-lang/rust/pull/86157/files#diff-0bed4892d95534279b3195c75733913b7735505ae95b8d3d65d63e9ce6a06c1cL144-L159. In #75249 we are supposed to apply the `rust-logo` class only when the logo is the default one. In #86157 I missed that distinction and now the `<img>` always gets the rust-logo class, even when it's a custom logo. I'll fix.

[2021-12-15 07:05] jsha commented on #90824
Since there's a PR up, I wanted to tidy up this issue thread. There was some confusion and back and forth above, but reading through it it seems like everyone who has chimed in either agrees with the original post's approach or doesn't have a preference. Since the PR (#91687) implements that approach, we're good.

[2021-12-15 07:21] jsha commented on #91653
By the way, to confirm what @camelid said: the media query embedded in the SVG isn't really right. That gets the _browser's_ preferred light/dark mode, but the user may have overridden that in rustdoc settings.

As a concrete example, I'm using Chrome on Linux, which doesn't have a light/dark mode setting. I can select a dark theme in rustdoc settings, which will get me this for the Rust Crypto lo

[2021-12-15 07:28] jsha commented on #90351
@IsaccBarker I see you're running `cargo 1.55.0 (32da73ab1 2021-08-23)`. @GuillaumeGomez recently landed some fixes for long names: https://github.com/rust-lang/rust/pull/90018. Does that fix the issue?

[2021-12-15 08:04] scottmcm opened #91960 "Mention `iter::zip` in the documentation for `Iterator::zip`"
Now that `iter::zip` is stable (#91881), we can mention it in the documentation of other stable methods.

It would thus be nice to mention it in the documentation for `Iterator::zip`, both to help people discover it and to help them decide when to use which.

It already has a `s1.iter().zip(s2);` example talking about `IntoIterator`, so maybe it would make sense to mention `iter::zip` in terms of

[2021-12-15 08:13] cameron1024 commented on #91960
@rustbot claim

[2021-12-15 08:15] cameron1024 commented on #91960
I've just had a look through the PRs, am I right in thinking the purpose of this is just a nicer syntax for zipping iterators? Should the docs suggest preferring `zip(as, bs)` over `as.into_iter().zip(bs)`, or are there reasons why you'd prefer one over the other?

[2021-12-15 08:20] scottmcm commented on #91960
#82917 has the reasoning why iter::zip was added.

I think it depends how similar the sides are.  If the call chain in them is similar in structure, and particularly when it's things that are `IntoIterator` but not `Iterator` (like arrays or reference-to-vector) then I think the function is better.  But if you have a long chain (maybe with a big `map` closure) that's then zipped with something sim

[2021-12-15 09:22] parasyte commented on #91949
Possibly related to #89195?

[2021-12-15 09:28] hkratz commented on #91949
Bisected to #85868, cc @Aaron1011

<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v0.6.1</summary>
searched nightlies: from nightly-2021-06-01 to nightly-2021-12-08
regressed nightly: nightly-2021-09-03
searched commit range: https://github.com/rust-lang/rust/compare/50171c310cd15e1b2d3723766ce64e2e4d6696fc...371f3cd3fe523d0b398ed1

[2021-12-15 09:36] meilier commented on #83940
any solutions? thanks @bjorn3

[2021-12-15 09:42] CryZe commented on #83940
People have been getting further in https://github.com/rust-lang/rust/issues/73755 but it eventually segfaults in LLVM. This still needs a reproduction and an upstream issue.

[2021-12-15 09:42] meilier commented on #83940
您的邮件我已经收到，谢谢!我将尽快回复给您！祝您好运！I have received your e-mail, thanks! I will reply to you as soon as possible! Best wishes to you!

[2021-12-15 10:20] dalance opened #91963 "Unexpected message: "WARN rustc_metadata::locator no metadata found: incompatible metadata version found:""
### Code

I tried this code:

[code]

with this Cargo.toml

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

The unexpected message "WARN rustc_metadata::locator no metadata found: incompatible metadata version found:" is shown.

### Version it worked on

It most recently worked on: Rust 1.56

[code]

### Version with regression

`rustc --version --verbose`:
[code]

[2021-12-15 10:24] dalance commented on #91963
This may be related to https://github.com/rust-lang/rust/issues/91935, but this is not ICE.

[2021-12-15 10:33] TVAO opened #91964 "Feature Request: scope by indentation and optional semicolons"
`fn main() {
    println("Hello World!");
}` -> `fn main()
    println("Hello World!")
` 🙏

[2021-12-15 11:07] leonardo-m commented on #91964
I don't think this will happen, but perhaps Clippy could improve its warnings in presence of significantly "wrong" indentation...

[2021-12-15 11:11] meilier commented on #73755
In my case, it's `serde_json::from_str(&data).unwrap();` I used in my function which causes the signature mismatch;
[code]

[2021-12-15 11:11] steffahn commented on #91949
That PR seems incremental-compilation related. This leaves the question of whether the regression also happens without incremental compilation turned on, and whether or not it happens at the same point.

[2021-12-15 11:25] hameerabbasi commented on #63713
Can someone post a summary of what needs to be done? Just change all instances of `FxHashMap` in the compiler with equivalent calls to `StableMap` instead?

Or is a lint the preferred way forward? I'll have time to work on this starting 23rd, but I realise it's the end of the year and no one may be available to mentor.

[2021-12-15 12:41] #71126 closed

[2021-12-15 13:28] terrarier2111 commented on #91803
Could you retry the regression finder thingy with this code?
[code]

[2021-12-15 13:52] mgejke opened #91966 "Confusing compiler error for function taking closure returning reference"
Compiling the following code:

[code]

Gives the following output:
[code]

But I think the actual issue is with lifetimes, changing to `Option<i32>` makes it compile.

[2021-12-15 14:32] bjorn3 commented on #68262
This only happens when `use_it` isn't public. Notice how the llvm ir for `use_it` doesn't have any arguments. I think LLVM propagates the argument into `use_it` as it is constant, sees a load of a function pointer from an immutable vtable, replaces the load with a constant representing the actual function pointer and then turns the indirect call to the function pointer into a regular direct call.

[2021-12-15 14:49] #91963 closed

[2021-12-15 14:50] Mark-Simulacrum commented on #91963
Yeah, that seems like the right thing. I'm not inclined to try to push out a point release right now.

[2021-12-15 14:51] steffahn commented on #91949
Hard to know for certain until #89195 has a mvce. Also note that, as far as I understand, #89195 is observable with `cargo check` whereas this bug only appear with `cargo build`. (I somehow forgot to mention that...)

[2021-12-15 15:39] ehuss commented on #91968
I believe you need to also tell rustdoc that you are using sanitizers with `RUSTDOCFLAGS=-Zsanitizer=thread`
Does that work for you?

[2021-12-15 16:18] #91832 closed

[2021-12-15 16:18] #91899 closed

[2021-12-15 16:28] hudson-ayers commented on #68262
Using the code you shared, I still see a vtable in the final binary: https://rust.godbolt.org/z/qzb6o9MKG . Were you using a different version of Rust, or different set of compilation flags to achieve this?

[2021-12-15 16:34] newpavlov commented on #91653
I believe that the media query approach is a correct one _in principle_. But I agree that, unfortunately, the current state of browsers is far from desired (e.g. it would be nice to have a way to switch preferred mode for a page using CSS or JS).

Well, it _kind of_ has. Try launching it with `chromium-browser --force-dark-mode`.

[2021-12-15 16:42] Manishearth commented on #91899
Thanks!

[2021-12-15 16:57] nagisa commented on #91964
A change of such scope would require an RFC. If you'd like to propose a change like this, please draft an [RFC](https://github.com/rust-lang/rfcs) instead. Closing the issue for now.

[2021-12-15 16:57] #91964 closed

[2021-12-15 17:00] joergbrech commented on #31844
Hello :wave:, I noticed [something weird when trying to specialize over a generic trait parameter](https://users.rust-lang.org/t/specialization-over-generic-trait-parameter/68838) and wanted to ping you guys here. Maybe you can help me understand what is going on.

[2021-12-15 17:06] flip1995 commented on #68262
FYI, I have a semi-working version here: https://github.com/flip1995/rust/tree/pk-vfe

It seems to still remove a bit too many functions or possibly does something wrong when converting the `type.checked.load` intrinsics back to normal loads. I'm currently investigating this.

---

If the above example is compiled as a `crate-type=lib`, then the my_method doesn't get removed. Godbolt compiles ever

[2021-12-15 17:30] RalfJung commented on #91636
Fixed by https://github.com/rust-lang/rust/pull/91856

[2021-12-15 17:30] #91636 closed

[2021-12-15 17:35] RalfJung opened #91971 "Tracking issue for pref_align_of intrinsic"
This intrinsic returns the "preferred" alignment of a type, which can be different from the *minimal* alignment exposed via `mem::align_of`. It is not currently exposed through any wrapper method, but can still be accessed by unstable code using the `intrinsics` or `core_intrinsics` features.

See https://github.com/rust-lang/rust/pull/90877 for why it cannot be removed; the short summary is some

[2021-12-15 17:45] eggyal commented on #31844
@joergbrech definitely a bug; can't see any existing issue that covers it.  Would you like to open one (or I can)?

[2021-12-15 17:52] RalfJung commented on #91877
Cc @rust-lang/wg-const-eval

For `const` that are *syntactically referenced inside a function* we guarantee they are all evaluated even if the only reference is in dead code. And for top-level `const` we also guarantee that. But we don't have such a guarantee for anything else. And very quickly we reach territory where we cannot have such a guarantee:
[code]
`EVAL` can only be computed once `T` is

[2021-12-15 17:55] RalfJung commented on #63713
Miri was also bitten by this, see https://github.com/rust-lang/miri/pull/1937.

[2021-12-15 17:59] est31 commented on #91877
Which btw was a bad example: https://www.reddit.com/r/rust/comments/r799fs/announcing_rust_1570/hn05zpf/

But otherwise I think you make good points.

[2021-12-15 18:03] joergbrech commented on #31844
@eggyal, thanks for the confirmation, that's what I suspected. I opened the issue.

[2021-12-15 18:08] PunitLodha opened #91974 "Unable to link rust static lib to C code on 1.57.0"
I am working on [ccextractor](https://github.com/CCExtractor/ccextractor/), and recently the tests failed on rustc 1.57.0, with the error:-
[code]
Error relates to an undefined symbol `__imp_BCryptGenRandom` referenced in `std:: thread::localfastkey::try_initialize`
 Switching to rustc 1.56.0 or below does not cause any errors

[Here ](https://github.com/CCExtractor/ccextractor/runs/4422483428?che

[2021-12-15 18:36] hkratz commented on #91974
Are you targetting Windows XP? #84096 introduced a dependency on `BCryptGenRandom` which is not available in XP. XP support has been dropped a while ago.

[2021-12-15 18:39] camelid commented on #90824
I still think it's not great that now tuple fields and struct `{ ... }` fields will be handled differently, but this seems like a good enough solution for now.

[2021-12-15 18:40] PunitLodha commented on #91974
I am using the i686-pc-windows-msvc target. Is that causing this issue?

[2021-12-15 18:53] ChrisDenton commented on #91974
You need to link Bcrypt.lib as well. When using a static library outside of Rust, the required import libraries won't be linked automatically.

[2021-12-15 18:59] Grommish opened #91976 "MIPS64: error[E0531]: cannot find unit struct, unit variant or constant `ENOTSUP` in crate `libc`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-15 19:45] bjorn3 commented on #91976
This is when compiling for mips64-openwrt-linux-musl. See https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Generating.20native.20rustc.2Fcargo.20binaries.3F for more context.

[2021-12-15 19:58] Grommish commented on #91976
*sigh* Sorry @bjorn3

I should also mention that the `mips64_openwrt_linux_musl` is just a cloned `mips64_unknown_linux_muslabi64` define already in rust, renamed and added to `mod.rs` to create the tuple.

[2021-12-15 20:01] abaptist-ocient opened #91978 "Confusing terminology"
This sentence was pretty hard to understand:
The behavior resulting from such a logic error is not specified (it could include panics,
incorrect results, aborts, memory leaks, or non-termination) but will not be undefined
behavior

There may be some technical distinction between "not specified" and "undefined" but it is pretty subtle.

https://github.com/rust-lang/rust/blob/f7fd79ac1d485ab47b62146

[2021-12-15 20:24] camelid commented on #76382
I updated the title to reflect that we actually want to get rid of all of (or most of) `clean`, not just `Item`.

[2021-12-15 20:27] camelid commented on #76382
I really don't think rustdoc should be trying to expose a stable interface at all. Rustdoc is already quite full with features, and this would significantly add to the already high maintenance burden.

[2021-12-15 20:34] jyn514 commented on #76382
In practice I think the JSON backend is already serving that purpose.

[2021-12-15 20:43] m-ou-se commented on #91869
Discussed briefly in the libs meeting. This is expected and acceptable.

[2021-12-15 20:43] #91869 closed

[2021-12-15 20:44] Mark-Simulacrum commented on #90904
Discussed in T-libs-api with crater results (see #91872); breakage was deemed higher than likely acceptable, so proceeding with the beta-backport and (already landed) revert on nightly makes sense.

The right replacement/API design was judged out of scope for the meeting (in particular, as it didn't have portable-simd folks in attendance :)

[2021-12-15 21:51] devongovett opened #91979 "Segmentation fault when thread using dynamically loaded Rust library exits"
Scenario: I have a Rust cdylib, which is loaded by a C program via `dlopen`. The C program creates a thread, and loads the Rust module inside it. It proceeds to call one of the Rust functions, and closes the library via `dlclose`. Then the thread exits. The Rust program has a thread local variable with a struct that implements `Drop`, which it modifies in the function called from C.

Full reproduc

[2021-12-15 21:53] Aaron1011 commented on #68262
@hudson-ayers I didn't scroll down far enough in the playground output. While the function is no longer making a call through the vtable, the vtable itself is still present in the binary, as you noticed.

[2021-12-15 21:54] Mark-Simulacrum commented on #91872
We will want to do a re-run of beta crater once https://github.com/rust-lang/rust/pull/91484 or equivalent is beta-backported to confirm the majority/all of these are fixed before closing this, but generally it's likely that they will be.

[2021-12-15 22:01] the8472 commented on #91978
[undefined behavior](https://en.wikipedia.org/wiki/Undefined_behavior) is a term of art in programming. Here's the definition in the context of rust safety: https://doc.rust-lang.org/reference/behavior-considered-undefined.html

[2021-12-15 22:26] carols10cents commented on #87012
Hi, I'm investigating this issue further and I'd like to work on fixing it, but I'm not sure where to start on the fix.

I've taken @crepererum 's example and tried various reductions on it, with the following results:

At main commit https://github.com/crepererum/rust_issue_87012/tree/ee51fa3d07438c0b065df39a961698118a75aad2, running `./test.sh` shows `evaluate_obligation` taking around 100ms and

[2021-12-15 22:30] Patrick-Poitras commented on #91867
I'm going to be yielding `rust-middle` to the queue again. Anyone can take it, but I'm the second person to return this to the queue due to some difficult structures. I'd recommend someone that has worked with `rustc_middle` before, or at least a more experienced contributor than myself.

It has a lot of the small detail work that we would find with the other removals, but there's a few pieces tha

[2021-12-15 22:34] RReverser commented on #91979
Note that you've linked to `sys_common` implementation of `thread_local_dtor`, but the target in question likely uses Unix implementation from here which does call `pthread_key_delete` as expected: https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/library/std/src/sys/unix/thread_local_key.rs#L27

[2021-12-15 22:36] devongovett commented on #91979
Oh I think the function I linked would call that implementation, but it's commented out so that doesn't actually ever run? I could be wrong though...

[2021-12-15 22:37] RReverser commented on #91979
(you're right, that does seem to be happening, unless there's platform-specific Drop too; I deleted the comment for now in hopes you didn't see it yet but too late 😅)

[2021-12-15 22:46] chadbrewbaker commented on #91434
Might be related? https://github.com/apache/arrow-rs/issues/1043#issuecomment-995067274

Formatting of "1e-15" behavior seems to have changed on nightly for f64 and f32.

[2021-12-15 23:18] Badel2 commented on #91434
It may have a common cause, but you should open a separate issue because the pull request that fixes this doesn't fix your problem.

[2021-12-15 23:27] ehuss opened #91982 "rustdoc: add support for --emit=dep-info"
When running rustdoc, cargo currently doesn't know which files are used for each cargo target. Because of this, cargo conservatively assumes that a modification to *any* file in the project will require rebuilding the documentation for all targets. When running `rustc`, cargo uses the dep-info file to know which files each target is built from, so that it can know to only track for changes in thos

[2021-12-15 23:29] Aaron1011 commented on #91867
I'll take `rustc_middle`

[2021-12-16 00:06] NobodyXu commented on #91968
Thanks!

That fixed the issue.

[2021-12-16 00:08] #91968 closed

[2021-12-16 00:21] Aaron1011 commented on #86615
This no longer warns as of the latest nightly.

[2021-12-16 00:21] Aaron1011 commented on #41960
With https://github.com/rust-lang/rust/issues/86615 now fixed on the latest nightly, is there anything blocking this?

[2021-12-16 00:30] scottmcm commented on #86615
Closing as the example in the OP no longer repros.

[2021-12-16 00:30] #86615 closed

[2021-12-16 00:36] Aaron1011 commented on #86615
Does this need a regresion test?

[2021-12-16 00:39] devongovett commented on #91979
Upon further research, I'm pretty sure the reason it "works" with newer glibc versions is that the library is actually never fully unloaded if there are TLS destructors registered via `__cxa_thread_atexit_impl`. In the source code, `l_tls_dtor_count` is incremented when a destructor is registered: https://github.com/bminor/glibc/blob/91cc803d27bda34919717b496b53cf279e44a922/stdlib/cxa_thread_atexi

[2021-12-16 01:51] maboesanman opened #91985 "GAT ICE: dtorck encountered internal error"
The issue appeared when following and using the TypeFamily pattern:
### Code

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c36bcfa17130cdf660bdfd9a82747971)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-16 01:51] Patrick-Poitras commented on #91966
[code]
Specifying the lifetime also makes it compile fine, so I think you're right that it seems to be a lifetime thing.

[2021-12-16 02:07] Nicholas-Baron commented on #70974
The phrase `built-in NTs` (built-in nonterminals) is probably not very understandable to most programmers. Could rewriting this as `macro arguments` be more useful?

[2021-12-16 02:19] GutsTang commented on #74465
Is there any opportunity to implement the `Copy` trait for `Lazy` ？
When I tried to use `Lazy` in a `const` variable, the closure inside was called multiple times.
This behavior is extremely counter-intuitive.

[code]

[2021-12-16 03:20] carllerche opened #91988 "panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85"
I hit an ICE. I believe it is related to incremental compilation. The ICE went away after running `cargo clean`. I am no longer able to repro. I thought I would submit anyway.

### Code

No minimum repro available

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-12-16 03:24] carllerche commented on #91988
I also don't know if it is fixed on nightly because I cannot repro anymore.

[2021-12-16 03:39] pnkfelix commented on #91671
@rustbot label: +P-high -I-prioritize

[2021-12-16 04:07] pierwill opened #91989 "Document behavior of try-mark-green and loading stale `DefPathHash`"
[Discussed on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/241847-t-compiler.2Fwg-incr-comp/topic/.2391696.20et.20al/near/265031053).

[2021-12-16 04:07] pierwill commented on #91989
@rustbot label +A-incr-comp

[2021-12-16 04:35] mwu-tow opened #91991 "Broken quote handling when spawning a process from a cmd script."
### Code

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

This is caused by different quote handling.
The first (correct) command line for the spawned process (as observed by `procmon`) is:
[code]

The broken one is:
[code]

The command for `cmd` must be in additional set of quotes, as the first and last one are stripped.
It works when there are n

[2021-12-16 04:51] #54283 closed

[2021-12-16 04:52] #89806 closed

[2021-12-16 04:56] Brooooooklyn commented on #91979
https://github.com/Brooooooklyn/canvas/issues/377 maybe relate to it

[2021-12-16 05:02] tstellar commented on #90326
Is the bitcode from libraries that are compiled with -fembed-bitcode even used for LTO?  https://github.com/rust-lang/rust/issues/74657#issuecomment-709632154 implies that gold and lld both ignore the bitcode, and that the presence of the bitcode triggers a bug in the llvm plugin when linking with bfd.  That makes it sound like embedding the bitcode doesn't give rust the feature that it wants.

[2021-12-16 05:17] #85142 closed

[2021-12-16 05:26] davidrusu commented on #91988
I can confirm this bug was present as of:
[code]
Also went away on a clean build

[2021-12-16 06:02] hkratz commented on #91988
@rustbot label A-incr-comp

[2021-12-16 06:04] hkratz commented on #91979
@rustbot label T-libs A-thread-locals

[2021-12-16 06:13] hkratz commented on #91976
It would likely be best if you could just submit a PR against https://github.com/rust-lang/libc adding
[code]
at https://github.com/rust-lang/libc/blob/master/src/unix/linux_like/linux/musl/b64/mips64.rs#L507
as it is already done for 32-bit here: https://github.com/rust-lang/libc/blob/master/src/unix/linux_like/linux/musl/b32/mips/mod.rs#L323

@rustbot label -I-ICE

[2021-12-16 06:15] Grommish commented on #91976
Appreciate it @hkratz !  I'm not a programmers and I don't know rust, so I'm faking my way thru this, but, I can follow directions and can send PRs after I verify it corrects..   I'll report back!

[2021-12-16 06:43] trobanga opened #91994 "rustc panicked while refactoring crossbeam_channel"
I'm refactoring some crossbeam_channel messages and I get a rustc panicked error if I run `cargo test`.
`cargo build` does not complain and `cargo clean` _fixes_ the error.

I have no idea how to reproduce it and it only happens from time to time. So I've added the backtraces with =1 and =full.

I hope that helps

BACKTRACE=1
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'

[2021-12-16 07:31] hkratz commented on #91994
@rustbot label A-incr-comp

[2021-12-16 07:32] follower commented on #91979
It may be useful/informative to read some of the prior discussion of dynamic libraries & thread local storage in this & linked issues: https://github.com/rust-lang/rust/issues/28794

FWIW based on my experience the only "reliable" approach has been to simply never allow dylibs to be unloaded: https://github.com/follower/foreigner/commit/38455861aee44be621f45280e5cd7404f36058a6

[2021-12-16 08:07] jRimbault commented on #74465
@GutsTang this is expected behavior, what you want is `static` not `const`. `const` means each instance is the same _compile time_ value, think of it almost like `#define N 1`.

What you wrote would be equivalent to :

[code]

[2021-12-16 08:16] est31 commented on #87012
Personally I'd try working on removing the `async_trait` macro invocation / dependency next. I'd start with creating a `macro_rules` macro that repeats the output of the macro (based on cargo expand or similar). Then I'd try to reduce this code and see how far I can go with the issue still remaining.

This will then hopefully help me gain enough knowledge that upon studying the code I can identify

[2021-12-16 08:20] nikic commented on #90326
@tstellar Normally rust does LTO as part of the compiler (despite the name). In that case the bitcode is obtained using `IRObjectFile::findBitcodeInMemBuffer()`, which accepts both plain bitcode and various object file types. That's the kind of LTO I was referring to there.

When linker plugin LTO is enabled, then only bitcode is produced instead: https://github.com/rust-lang/rust/blob/9e1aff82e69

[2021-12-16 08:22] hameerabbasi commented on #63713
@rustbot claim

[2021-12-16 08:41] crepererum commented on #87012
@est31 I think `async_trait` is already gone (see @carols10cents 's first step). The current code at <https://github.com/integer32llc/rust_issue_87012/blob/78cc8c8a91d043cf7970d10fc1ad59c3352d74e2/repro_crate/src/main.rs> looks something like this:

[code]

There's also a `helper_crate` that builds up a somewhat nested object structure. My original uneducated intuition was that this is related to

[2021-12-16 09:21] scottmcm commented on #91867
Thanks everyone for jumping on this so quickly!  It looks like all the crates have been picked up, so I've removed the E- tags for now so it stops showing up in queries for people looking for things.

[2021-12-16 09:23] jendrikw opened #91997 "E0191: "help: specify the associated type" suggested where this would be wrong"
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=trait%20MyIterator%20%3A%20Iterator%20%7B%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20let%20_%20%3D%20MyIterator%3A%3Anext%3B%0A%20%20%20%20%2F%2Flet%20_%20%3D%20MyIterator%3CItem%3D()%3E%3A%3Anext%3B%0A%7D)

[code]

The current output is:

[code]

But when when I write `let _ = MyIterator<Item=()>

[2021-12-16 09:32] lomirus commented on #84984
I just met the same issue when trying to compile my hello-world from linux to macos, and here's my log:
[code]
And the rustc version:

[code]

[2021-12-16 09:39] ChrisDenton commented on #91991
This is caused by Rust now handling finding the exe to run itself (for security reasons). The fix here would be. as you say, to detect `.cmd` or `.bat` extensions and add the extra quotes.

### Technical details

The underlying function call here is [`CreateProcessW`](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw). As the documentation say

[2021-12-16 09:45] joergbrech commented on #31844
In a follow-up of @dtolnay's comment https://github.com/rust-lang/rust/issues/31844#issuecomment-263175793 I have a use case for something similar to the example using associated types given in the RFC.  In addition to specializing over a blanket implementation, I want to be able to specialize over a generic trait parameter:

[code]

This code block will not compile.

If anybody is interested, I m

[2021-12-16 10:12] joergbrech commented on #31844
Sorry for spamming (I am just so excited about the `specialization` feature :heart: 😃 ), but I have one suggestion if it is not too late.

The [RFC example](https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md#the-default-keyword)

[code]

does not compile, which kind of makes sense to me, because in theory, I could've provided only a partial specialized implementation

[

[2021-12-16 10:37] joergbrech commented on #37653
I posted a suggestion on `default impl` in https://github.com/rust-lang/rust/issues/31844#issuecomment-995627907 and just realized it would have been more appropriate here. I don't know if my suggestion makes sense at all and if it isn't too late, since this issue is already well on its way. But I would love to hear your thoughts.

[2021-12-16 10:45] bjorn3 commented on #31844
You should use `#![feature(min_specialization)]` instead of `#![feature(specialization)]`. `#![feature(specialization)]` is unsound (allows you to violate memory safety using safe code). `#![feature(min_specialization)]` is a restricted version that should be sound.

[2021-12-16 10:50] joergbrech commented on #31844
Sure, but I assumed that default associated types are not supported by `min_specialization` yet, so my comment only applies to the currently unsound `specialization` feature:

[code]
Errors:
[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=35bd32ef4425864cf44ba46fefc9b147)

Am I wrong?

[2021-12-16 10:51] #91497 closed

[2021-12-16 10:56] jplatte commented on #37653
@joergbrech I think you would be interested in the [future possibilities section of RFC 2532 (associated type defaults)](https://github.com/rust-lang/rfcs/blob/master/text/2532-associated-type-defaults.md#default-specialization-groups).

[2021-12-16 10:59] apiraino commented on #91027
@mattelkinsTC can you report if the LLVM upgrade mentioned [in this comment](https://github.com/rust-lang/rust/issues/91027#issuecomment-973650118) helps (iiuc the above comment)? thanks

[2021-12-16 11:20] joergbrech commented on #37653
@jplatte, thanks for the link. Yes default groups would be much more flexible!

[2021-12-16 12:06] ChaiTRex opened #91999 "If-else value followed by operator parsing error provided only for some operators"
When an if-else block produces a value and this is followed by an operator and this all happens inside a block, this is apparently a parsing error.

When the operator is `+`, the parsing error is pointed out. When the operator is `&`, the parsing error is not pointed out.

Please provide the parsing error for all operators.

Given the following code: https://play.rust-lang.org/?edition=2021&gist=5

[2021-12-16 12:18] tocklime commented on #91498
I think I came across this problem too - Constructing an infinite type for a recursive iterator function doesn't ever finish or error out. My repro: https://github.com/tocklime/rustc_iterwrapper_hang/blob/main/src/main.rs

[2021-12-16 12:25] matthiaskrgr opened #92000 "spurious test failure: ui\panics\panic-short-backtrace-windows-x86_64.rs on x86_64-msvc-2"
The `ui\panics\panic-short-backtrace-windows-x86_64.rs ` test seems to randomly fail on `x86_64-msvc-2` sometimes.

https://pipelines.actions.githubusercontent.com/DhU3eyB11Ei4viT99vzh0CpKzg7REqx1Nup2tB9LzmxBcoHdbh/_apis/pipelines/1/runs/14339/signedlogcontent/31?urlExpires=2021-12-16T12%3A15%3A54.9212371Z&urlSigningMethod=HMACV1&urlSignature=%2FsTx%2F9cdlfikD4rjevyZM9XXK2s%2BqXIVMXzWYgCm%2BpI%3D

[2021-12-16 12:27] Grommish commented on #91976
Submitted PR

[2021-12-16 12:39] hkratz commented on #92000
@rustbot label +O-windows

[2021-12-16 12:44] pymongo commented on #91696
I reproduce this ICE when I modified some hyper source code and recompile

[code]

[2021-12-16 13:47] abaptist-ocient commented on #91978
I did find that page and was trying to think of the venn diagram between "unspecified behavior" and "undefined behavior" and it wasn't clear to me that they didn't overlap. The sentence implies that they don't overlap. In my mind, the words are almost synonymous, and it is possible that "unspecified behavior" is referring to this: https://doc.rust-lang.org/reference/behavior-not-considered-unsafe.

[2021-12-16 13:54] est31 commented on #87012
@crepererum good point, I haven't checked her repo. I think there are several ways to narrow the problem down further.

First would be to find out the complexity function, that is what happens if you add M new items to N already existing ones. If M = N for example, and the run time doubles, you know that it's linear in the N variable. If the run time quadruples, you know it's a quadratic function.

[2021-12-16 14:30] #91653 closed

[2021-12-16 15:21] carols10cents commented on #87012
Just FYI, I tried to give a summary of what was contained in the repo in my comment where I said:

Also @wesleywiser pointed me to https://github.com/rust-lang/rust/pull/89831 that changes some of the `evaluate_obligation` code. I'm not 100% sure I've built that PR and configured rustup correctly, but if I have, that PR makes my test case worse: `evaluate_obligation` takes 172ms/42% :(

I will try

[2021-12-16 15:31] pnkfelix commented on #91372
reopening as this is a beta-regression, and we keep those open until beta fix lands (or we explicitly decline to fix).

[2021-12-16 15:34] pnkfelix commented on #91807
reopening as this is a stable-to-stable regression, and (I *think*) we keep those open until a fix lands on stable or we explicitly decline to fix.

[2021-12-16 15:46] XrXr commented on #91877
Assuming no docs for the current rules are already available, do you folks think it would make sense to add to the language reference? Might be worth mentioning in [Constant Items](https://doc.rust-lang.org/stable/reference/items/constant-items.html) and/or [Constant Evaluation](https://doc.rust-lang.org/stable/reference/const_eval.html).

[2021-12-16 15:51] Thomasdezeeuw commented on #90319
I don't know if this the same issue, but it seems to be the case. So, here is another backtrace for rustc 1.57.0 (f1edd0429 2021-11-29) running on aarch64-apple-darwin.

<details>

[code]

</details>

[2021-12-16 16:02] Aaron1011 commented on #91979
See also this upstream glibc bug: https://sourceware.org/bugzilla/show_bug.cgi?id=21032

[2021-12-16 16:08] goldwind-ting opened #92002 "How to wrap associated function of struct with macros?"
[code]
How to implement the `my_macros` and parse `self` insede `my_macros`?

[2021-12-16 16:26] RalfJung commented on #91877
Yes this would definitely be good to document properly if that is not already the case.

[2021-12-16 16:28] RalfJung commented on #91877
Also I skipped over associated consts in regular (non-trait) `impl` blocks -- but I think we treat them like associated consts in traits, since `impl` blocks can be generic, so the same problem applies.

[2021-12-16 16:31] honnza commented on #91498
Related issue: sometimes the instantiation does stop - by reaching a type that requires 128 steps to verify its bounds - and then blames the leaf node for it!

[code]

[2021-12-16 16:38] devongovett commented on #91979
A bit more context about how this affects real world code. This currently happens to all native Node.js modules that include thread locals, when loaded within Node's worker threads. Node controls when `dlopen` and `dlclose` are called, so there isn't really a great way for module authors to simply prevent unloading the dylib. One way is for users to also load the module from the main thread in add

[2021-12-16 18:27] sanxiyn commented on #91976
`libc` PR is merged, closing. Thanks!

[2021-12-16 18:27] #91976 closed

[2021-12-16 18:33] cramertj commented on #78485
Note that an initial implementation of this landed in https://github.com/rust-lang/rust/pull/81156, though without the vectorized APIs (`read_buf_vectored`, `ReadBufs`).

[2021-12-16 18:40] dastbe opened #92004 "ICE when working with infinitely nesting types and ?-operator"
### Code

I've hacked it down from an advent of code solution. When

[code]

is replaced with u32 literals the compiler emits a (correct) compilation error due to infinitely nesting types.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-16 18:45] tom7980 commented on #90319
That is the same error, the fix is being reviewed (though I need to rebase it) as it didn't make it in for 1.57.0 I'm hoping we'll be able to get it in before the next release though!

[2021-12-16 18:59] mankinskin commented on #31844
Why do we need the `default` keyword? Wouldn't it suffice to define an ordering on the implementatations (impl) meaning how specific they are? I.e. `impl Trait for Type` will be prioritized even if `Type` matches a less specific `impl<T: Bound> Trait for Type`.

And for the case where there are two `impl<T: Bound1>` and `impl<T: Bound2>` and `Type` implements both `Bound1` and `Bound2` we would th

[2021-12-16 19:17] NeoRaider commented on #59095
@mjbshaw I think the LLVM bug can be closed. As I understand it, the result of the merge is the opposite though for Rust: With the clarified LLVM spec, there should be no reason for Rust to use `opaque` for extern types - meaning the issues we had with our attempts to use `opaque` don't need to block stabilization of extern types anymore, and this issue can be closed.

(@RalfJung Please correct me

[2021-12-16 19:27] NeoRaider commented on #43467
Is there a separate issue for exploring this unresolved question, if it is still relevant with current LLVM? Could it be an option to codegen all extern types as `i8` so that the type signatures of `malloc` etc. match what LLVM expects?

[2021-12-16 19:33] Aaron1011 commented on #92004
We're incorrectly invoking `resolve_instance` with an inference car - this should never happen, but we seem to still have inference cars present during monomorphization.

I suspect that this is related to the overflow, and could be solved by skipping `Instance::resolve` and calling `delay_span_bug` when we encounter an unresolved inference variable.

[2021-12-16 19:56] scottmcm commented on #43467
Note that LLVM is moving to opaque pointers (see <https://llvm.org/docs/OpaquePointers.html>) so I would expect it to be irrelevant in the not-too-distant future.

[2021-12-16 20:00] schwern commented on #86319
How about a corresponding file_suffix? That completes the set. file_stem/extension and file_prefix/file_suffix.

[code]

[2021-12-16 20:04] davepacheco opened #92005 "rustdoc unexpectedly formatted leading numeral as a list"
I have a feeling I'm doing something wrong here so I apologize in advance if this is just noise.  But the behavior I'm seeing seems surprising.

I tried this code:

[code]

and I built this with `cargo doc`.

I expected to see this sentence together in one paragraph: "This record means: user 123 has the "admin" role on the "project" with id 234.  (Note.)"

Instead, this happened:

![rustdoc](https

[2021-12-16 20:35] ehuss commented on #92002
Questions about how to use Rust are better asked on one of the forums, such as https://users.rust-lang.org/.

To implement a custom attribute, you have to write a [proc-macro](https://doc.rust-lang.org/book/ch19-06-macros.html#attribute-like-macros).  The input is raw tokens, which you can inspect manually, or use something like [`syn`](https://crates.io/crates/syn/) to parse it into a structure.

[2021-12-16 20:35] #92002 closed

[2021-12-16 20:42] obi1kenobi commented on #41960
I was assuming there aren't any blockers so I started looking into it a little bit, but I'm new to the codebase so it might take me a while especially given the holidays. If you'd like to take it over, be my guest!

There's no shortage of open issues, and I'm sure I can both find something else to work on and also learn from reading the PR that fixes this issue 😃

[2021-12-16 21:07] Aaron1011 commented on #82998
This produces a warning with `#![warn(unused_lifetimes)]`. See https://github.com/rust-lang/rust/issues/41960

[2021-12-16 21:17] carols10cents commented on #87012
Ok, I've now written scripts that do 3 experiments:

1. Varying the number of trait implementations ([script](https://github.com/integer32llc/rust_issue_87012/blob/17c732be1cc028f14e12e6121f3f3f0f7aefdd29/vary-trait-impls.sh), [results](https://github.com/integer32llc/rust_issue_87012/blob/17c732be1cc028f14e12e6121f3f3f0f7aefdd29/vary-trait-impls-results.md))
2. Varying the number of parameters (a

[2021-12-16 21:31] joergbrech commented on #31844
This section of the RFC is a motivation for the `default` keyword and the following section gives some more details: https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md#hazard-interactions-with-type-checking

[2021-12-16 21:44] kettle11 opened #92008 "Consider removing --max-memory linker flag for WebAssembly."
The relevant line: https://github.com/rust-lang/rust/blob/38030ffb4e735b26260848b744c0910a5641e1db/compiler/rustc_codegen_ssa/src/back/linker.rs#L1044

Presently `--max-memory` defaults to limiting memory imports to 1GB in size. If that flag were not set the default behavior (as documented here: https://lld.llvm.org/WebAssembly.html) is an unlimited maximum.

It's not immediately obvious to me wha

[2021-12-16 22:03] alexcrichton commented on #92008
Having `--max-memory` of 1G may be the wrong default, but at least the last time I checked (albeit this was years ago now) LLD required this option to be present when `--shared-memory` was passed. Note that this only applies to shared memory binaries (e.g. `-Ctarget-feature=+atomics` and is not on by default.

[2021-12-16 22:06] gw3583 opened #92009 "ICE when compiling Firefox with rustc 1.57"
### Code

When compiling Firefox (git 2d660b4d2c5cfab6f905509cf6317457a96f3433). I don't have time to try reduce it right now, sorry. Bugzilla bug is https://bugzilla.mozilla.org/show_bug.cgi?id=1746503.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-16 22:07] RalfJung commented on #59095
Yeah that sounds right, the LLVM patch seems pretty clear about this. Thanks for pushing this through on the LLVM side!

[2021-12-16 22:07] #59095 closed

[2021-12-16 22:52] jyn514 commented on #92009
Sounds like an incremental bug.

[2021-12-16 23:08] #91306 closed

[2021-12-16 23:29] Chris00 opened #92010 "rustc 1.59.0-nightly (c5ecc1570 2021-12-15): panic when trait bound not satisfied"
### Code

The following code:
[code]
triggers a panic in the compiler (see below).  All works as expected if I write `impl<T: Clone>`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-16 23:51] Nashenas88 opened #92013 "Binary size regression in dylibs"
The fuchsia nightly toolchain rolls caught a binary size regression due to commit https://github.com/rust-lang/rust/commit/f9e77f2b460492013cea459221194318b7fd8204

Limiting to just binary changes in the rust repo, following the instructions here: [https://fuchsia.dev/fuchsia-src/development/build/rust_toolchain?hl=en](https://fuchsia.dev/fuchsia-src/development/build/rust_toolchain?hl=en), we can

[2021-12-16 23:54] mbhall88 commented on #86319
@schwern that is indeed a nice idea. I guess it would be best to get the go ahead from someone in the libs team? I don't know how these tracking issues work. The PR for this feature was merged a while ago, but I have no idea if I'm supposed to do something with this issue? @rust-lang/libs

[2021-12-16 23:54] Aaron1011 opened #92014 "`OnDiskCache` cannot decode `Span`s with foreign files"
When we encode the incremental cache, we store information about every file that we've currently loaded: https://github.com/rust-lang/rust/blob/5531927e8af9b99ad923af4c827c91038bca51ee/compiler/rustc_query_impl/src/on_disk_cache.rs#L232-L246

When we decode a `Span`, we assume that a file with the correct `StableSourceFileId` has already been loaded:

https://github.com/rust-lang/rust/blob/5531927

[2021-12-17 00:04] SNCPlay42 commented on #92010
Output on stable:

[code]

(An awkward but correct error - without `T::clone`, the compiler resolves `clone` to `<&T as Clone>::clone` which returns `&T`.)

---

searched nightlies: from nightly-2021-10-16 to nightly-2021-11-28
regressed nightly: nightly-2021-11-10
searched commit range: https://github.com/rust-lang/rust/compare/495322d776fd6f679cd8cd4ca02b8fa834da654b...8b09ba6a5d5c644fe0f1c27c7f

[2021-12-17 00:40] aaronjanse opened #92015 "borrow-checking panic when mutating unwrapped immutable reference"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-17 01:04] tmandry commented on #92013
The regression comes from the inclusion of the `.rmeta` section in the `libstd` dylib for the fuchsia target. This section is quite large (3.4 MB, more than twice the size of the original binary).

I'm actually confused about how this was working before. Clearly we need rustc metadata to compile against libstd or any other crate. The old DSO doesn't appear to have a section for metadata, but was c

[2021-12-17 02:03] #90979 closed

[2021-12-17 02:37] A1Liu opened #92019 "Unwrap failed"
Crash happened here:
https://github.com/rust-lang/rust/blob/23c2723269e14c3b037feb2c4865a82053403649/compiler/rustc_hir/src/definitions.rs#L452

No idea how to repro. I did an `rm -rf` of my target folder (in this case, `.cargo/target` ), and the problem went away, so I can't repro anymore.

[2021-12-17 03:36] chordtoll commented on #92015
This panic appears to be fixed in PR #91212. Duplicate of #91206?

[2021-12-17 04:28] pnkfelix commented on #91671
Okay, I've minimized it to a tiny fragment of rayon with no further dependencies beyond.

I still need multiple crates (and the rustdoc invocation), but that's mostly because I wanted to get to this point before I looked more into reducing that aspect of things.

Here's the repo where I've checkpointed my work: https://github.com/pnkfelix/issue-91671-a64-doctestfail

[2021-12-17 07:29] #90831 closed

[2021-12-17 08:46] matklad commented on #44524
One no-brainer thing we can do to help here is to add an in-editor fix to create a declaration for “in-band” lifetimes

https://github.com/rust-analyzer/rust-analyzer/issues/11039

[2021-12-17 09:28] nikic commented on #92013
The `.rmeta` section should not be getting included in dylibs (those should use `.rustc` with compressed metadata). This patch wasn't supposed to change handling of `.rmeta` at all. I must have broken something while refactoring, though I don't immediately spot what.

[2021-12-17 10:05] nikic commented on #92013
Or did you mean `.rustc` above? I just checked the libstd.so from a local (non-fuchsia) build and I see a `.rustc` section, but not an `.rmeta` section.

[2021-12-17 10:13] nikic commented on #92013
Though I see now that `.rustc` is marked as `CONTENTS, ALLOC, LOAD, DATA` rather than `CONTENTS, READONLY`, that's not right.

[2021-12-17 10:20] nikic commented on #92013
Okay, that's because the section is created with `SectionKind::Data`, which assigns default flags: https://github.com/gimli-rs/object/blob/fc6289cfa81e193736dba3d0cfde11501139d992/src/write/elf/object.rs#L694 Probably it should use a debug section like `.rmeta` does.

[2021-12-17 10:45] rukai commented on #88638
I tried setting core to 2021 and got this error:
![image](https://user-images.githubusercontent.com/5120858/146530552-fa363c57-9809-4280-9a7d-2df1de312e43.png)
Adding rustc_const_stable to panic_fmt resolved the issue but its strange that this issue didnt appear until the edition was set to 2021.

Is this another blocker?

[2021-12-17 11:23] matklad commented on #60896
The current signature

[code]

feels a bit odd. It at least needs to be

[code]

Even in this form, that's an artificially restricted API. There's a fully elaborate, albeit unwieldy form, which both indicates whether insert happened and returns `value` if it didn't

[code]

[2021-12-17 11:24] ayosec commented on #74465
Maybe it would be useful to have a Clippy check for this. I guess that something like `std::lazy::Lazy` should never be stored in a `const` value.

[2021-12-17 11:51] chubei-oppen opened #92033 "GAT defaults to where Self: 'a code breaking report"
As suggested in #87479, I'm reporting a case where the required bound breaks code.

I was writing a 3D renderer and modeling the `surface` and `swapchain` concepts using traits.

A `Surface` is something you can render to, it should produce a iterator of references to `Texture`s:

[code]

A `Swapchain` produces a reference to a `Surface`:

[code]

Now a `Texture` itself can be used as a swapchain,

[2021-12-17 12:29] leonardo-m opened #92035 "[ER] Missed Vec allocation elision"
This code compiled in release mode (1.59.0-nightly 5531927e8 2021-12-16):

[code]

Optimizes nicely:

[code]

While similar code with a run-time length vec:

[code]

Isn't optimized well enough:

[code]

[2021-12-17 12:41] Nemo157 commented on #74465
There is an existing default-warn clippy lint for this:

[code]

[2021-12-17 12:59] m-ou-se commented on #88638
That's expected. `panic!("just a string")` didn't use panic_fmt in Rust 2018, but does in Rust 2021. See https://doc.rust-lang.org/edition-guide/rust-2021/panic-macro-consistency.html

[2021-12-17 13:02] m-ou-se commented on #88638
@rust-lang/wg-const-eval: Looks like the "const-stable functions can only call other const-stable functions" check doesn't play well with `#[rustc_do_not_const_check]`.

[2021-12-17 13:15] fee1-dead commented on #88638
@rustbot claim

[2021-12-17 13:17] m-ou-se commented on #88638
@fee1-dead what part are you claiming? The migration of core is blocked on the const check, and the migration of std is already in progress in #92030.

[2021-12-17 13:18] fee1-dead commented on #88638
I will fix the const check. And since this is a tracking issue I will unclaim. Sorry for the confusion

[2021-12-17 13:29] Stargateur commented on #60896
@matklad I think you forget it's a `HashSet` you are no allow to mutate the value and even with interior mutability it's a programming error to make mutation that would change the `Hash` result:

but I agree it's should return the previous value:

`pub fn get_or_insert(&mut self, value: T) -> (&T, Option<T>)`

[2021-12-17 13:32] Patryk27 commented on #82242
This seems to be related to https://github.com/rust-lang/rust/issues/77541 (or at least both seem to be caused by the same underlying bug).

A somewhat simplified example:

[code]
[code]
... which you can run using `simavr`:
[code]
(requires patched LLVM - https://reviews.llvm.org/D114611)

I think what we're dealing with is a miscompilation that ultimately leads to a stack corruption - investigat

[2021-12-17 13:32] terrarier2111 commented on #91803
Okay, so i found out that it regressed in: https://github.com/rust-lang/rust/commit/50171c310cd15e1b2d3723766ce64e2e4d6696fc

[2021-12-17 13:34] WaffleLapkin opened #92038 "If guards (`pat if expr =>`) are incompatible with slice patters (`x @ ..`) on unique slices (`&mut [T]`)"
This fails to compile on latest stable (and nightly) ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5261b3aaad8916d45f9a076c129ff5f3)):
[code]
[code]

This seems like a bug in `rustc`, especially considering that any of the following are compiling just fine ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bb01aa72fab3f6c34

[2021-12-17 13:36] GuillaumeGomez commented on #91759
I'll work on this.

[2021-12-17 13:37] GuillaumeGomez commented on #91758
Once #91759 is fixed, this issue can be closed I think.

[2021-12-17 13:38] WaffleLapkin commented on #92038
@rustbot labels +C-bug +A-slice +A-slice-patterns +A-borrow-checker +D-confusing

[2021-12-17 13:57] matklad commented on #60896
There are cases where mutating an item doesn't change it's equality. Something like this:

[code]

Storing a `HashMap<K, V>` as `HashSet<KV>` commes up surprisingly often -- a lot of times when you want to store a collection of entities indexed by some attribute, an attribute is already a field of an entity.

Though, I see that we never expose `&mut` access to keys anywhere. I was sure that we hav

[2021-12-17 14:12] kolbma commented on #82242
@Patryk27 Where is your latest comment I got sent by GH email with the links to  https://reviews.llvm.org/D114611#3178558?

Just some not bug-related question... what might be a good starting point to understand/learn how Rust -> LLVM -> Machine code works?
How would you start to debug such bugs and find the cause...
Is there a Must-Read-Book or kind-of I should start with or are there some nice i

[2021-12-17 14:14] Stargateur commented on #60896
MmMmMmM, good point.

But look like very error prone, user could easily make mistake since they got a mut ref so easily, the only reason to do that would be to be able to use `HashSet` specific function like `intersection()`, I always wonder why these function was not also available for `HashMap`.

I would really advice to just split or just clone the `Id` and use a `HashMap`.

[2021-12-17 15:06] tornewuff opened #92039 "Unhelpful diagnostic for sort_by_key lifetime issue"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=132fc68312d40c6ed0d878b1d5bdb711

[code]

The current output is:

[code]

Ideally the output should explain the lifetime issue somehow rather than saying "one type is more general than the other" for two identical types. I understand that the reason why this code doesn't work is as described in https:

[2021-12-17 15:18] matklad commented on #63168
Given that we already have precedent of `Result::map`, which applies only to `Ok`, and is named `map` rather then `map_ok`, I feel moderately confident that:

* cloned should only clone `&T`, not `E`
* it should be named `cloned`, rather than `cloned_ok`

Not sure about `_err` variants, but they are stabilizable separately. So, it seems that we potentially can write a stabilization report here and

[2021-12-17 15:22] Patryk27 commented on #82242
@kolbma I wrote a comment about how with the https://reviews.llvm.org/D114611 patch applied, the AVR backend miscompiles `__udivmodsi4`, leading to stack corruption:

![image](https://user-images.githubusercontent.com/3395477/146566194-2b11148d-134f-46c1-8e93-c58b8081c057.png)

(those `st` + `std` refer to uninitialized `Z`, which effectively scrambles the memory and destroys the stack frame; then

[2021-12-17 15:37] mbuesch commented on #82104
Is there any plan to resolve this issue?

[2021-12-17 15:50] carols10cents commented on #87012
In chatting with @nnethercote, I made a version that reproduces the problem with only one crate, in case compiling a workspace is difficult to do with profiling tools. That version is here: https://github.com/integer32llc/rust_issue_87012/tree/one-crate and in this comment I was using the code at 9740ea40b19f76f35ef7da836712564ff8adffc3.

I started with rust-lang/rust@69ac533527025fffa37ad1bc4d82b

[2021-12-17 16:34] mlodato517 commented on #92035
I know nothing of this space so feel free to ignore this but is it possible that `n + 1` wraps around to zero and then `a[0]` panics? And is it also possible that [`n + 1 > isize::MAX` and so causes a failure](https://doc.rust-lang.org/nomicon/vec/vec-alloc.html) to allocate?

[2021-12-17 18:25] bjorn3 commented on #50616
Rustc plugins are deprecated, mostly gutted and will likely be removed entirely once servo doesn't use them anymore.

[2021-12-17 18:39] leonardo-m commented on #92035
You're right that my problem wasn't minimal, so I've tried to replace the vec![0_u32; n + 1] with vec![0_u32; n] and the problem is unchanged.

[2021-12-17 18:44] leonardo-m commented on #92035
This should be simpler to optimize:

[code]

Gives:

[code]

[2021-12-17 19:00] nbdd0121 commented on #92010
Probably #90035?

[2021-12-17 19:04] mlodato517 commented on #92035
Ah thank you for the updated example! If I try [this in the playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=df533bfa9ca3120ead4e98cb277d61df):

[code]
 it fails to allocate:
[code]

However if I try [this in the playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=0166d2b3b1d8f68f249777a0d7d62b83):

[code]
it succeeds (presum

[2021-12-17 19:22] leonardo-m commented on #92035
As far as I know, in Rust it's OK to optimize away an useless memory allocation. This means a memory overflow error isn't deterministic, it happen on the base of how much memory you have and other details of the physical machine.

[2021-12-17 19:35] nikic commented on #92035
Duplicate of #90032.

[2021-12-17 19:35] #92035 closed

[2021-12-17 19:40] nagisa commented on #91659
Porting from the issue just above this comment…

We have a test `ui/thread-local/tls.rs` which only ignores emscripten targets and uses `#[thread_local]` unconditionally. This suggests to me that any target we test in CI actually supports `#[thread_local]` in some shape or form.

[2021-12-17 19:56] camelid commented on #91759
@rfcbot fcp merge

Overall, I'm in favor of this idea; however, I'd still like to have a discussion about breakage before we merge in.

See https://github.com/rust-lang/rust/pull/92043#issuecomment-996995222 for my concerns.

[2021-12-17 19:57] camelid commented on #91759
@rfcbot concern breakage

I'd like to discuss [this](https://github.com/rust-lang/rust/pull/92043#issuecomment-996995222) and for us to all be on the same page before this is merged.

[2021-12-17 20:02] camelid commented on #91759
@rfcbot concern impls

I think we need to namespace by impl too.

For example, the `primitive.pointer.html` page has impls for both `*const T` and `*mut T`. The methods on each are currently disambiguated using the number suffixes (cc @scottmcm who ran into issues with this), but after this change, I think they would conflict. IIUC, the current implementation in #92043 only namespaces by the paren

[2021-12-17 20:14] aloucks commented on #43244
Drain-on-drop certainly has complications and definitely violates the Iterator contract. However, the existing `drain` methods would need to be deprecated in order to obsolete the existing `drain-on-drop` behavior.

How do people feel about the following proposal:

## Deprecate **stable** `drain-on-drop` methods

Deprecate the existing **stable** `drain(range)` and `drain()` methods from the [coll

[2021-12-17 20:17] jyn514 commented on #43244
Drain is used way too much to deprecate it IMO; AFAIK this isn't even fixing a soundness issue, just a slight API issue where it will abort if a user-provided closure panics.

[2021-12-17 20:19] aloucks commented on #43244
See the alternatives section. Is the behavior something that can be changed in a new edition?

[2021-12-17 20:25] the8472 commented on #43244
We're talking about two different drain-on-drop behaviors here. One is `drain` and the other is `drain_filter`.

If we forbid panic-in-drop (by turning it into an abort) then `drain` is ok. Either it drops successfully or a drop invoked by the drop is panicing, but that would already lead to an abort under the new policy so that wouldn't make things any more problematic than they already would be.

[2021-12-17 20:36] aloucks commented on #43244
The `drain-on-drop` behavior still violates the Iterator contract. They are supposed to be "lazy". It would also be inconsistent to have them behave differently.

[2021-12-17 20:38] pnkfelix commented on #91671
Okay, I was successful in getting `rustdoc` (and `cargo`) entirely out of the picture.

The result is that `rustc` itself is segfaulting during the invocation on this line:

https://github.com/pnkfelix/issue-91671-a64-doctestfail/blob/4f2e874fa404ca462e1993c20368ed1629bd2a2c/repro.sh#L9

I'm going to keep investigating. It seems very likely to be some sort of issue with LLVM.

[2021-12-17 20:48] jsha commented on #91759
Good point. Here's a concrete example:

https://doc.rust-lang.org/nightly/std/any/trait.Any.html#examples-7
https://doc.rust-lang.org/nightly/std/any/trait.Any.html#examples-2

Those are the examples section for `<dyn Any + 'static>::downcast_ref` and `<dyn Any + Send + 'static>::downcast_ref`, respectively.

The links to those impls themselves have the same "incrementing number" problem: https://

[2021-12-17 20:52] camelid commented on #91759
I agree with what you say, but I mean that headings _within_ methods _within_ impls need to be namespaced like `#impl-Add.method.add.examples`.

[2021-12-17 20:55] jsha commented on #91759
Yep, we're on the same page - I was intending to agree and expand. In order to fix the conflict between same-named methods, we need to namespace by impl plus method name; that in turn brings up the parallel issue that id assignment for impls has a very similar problem, and we should fix both at once.

[2021-12-17 20:57] camelid commented on #92005
I imagine this is probably an upstream bug with pulldown-cmark. cc @marcusklaas

[2021-12-17 20:59] camelid commented on #92005
I wonder if the leading 2 is actually in the HTML but is being cut off by some CSS rules. Can you post the relevant snippet of HTML for both rustdoc versions?

[2021-12-17 21:28] pnkfelix commented on #91671
The segfault appears to have been injected between nightly-2021-08-21 nightly-2021-08-22.

[2021-12-17 21:30] pnkfelix commented on #91671
[code]

Skimming over that, I'm betting this is connected to the LLVM 13 upgrade in #87570.

[2021-12-17 21:31] GuillaumeGomez commented on #91759
Both of what you suggested (keeping the whole "path" and changing the impls ID) will greatly increase the size of the generated IDs and therefore the size of the generated output. I don't think it's worth it to keep the whole path, however changing the impls ID sounds like a good idea.

[2021-12-17 21:44] camelid commented on #91759
We need to keep the whole path or we'll introduce ID conflicts.

[2021-12-17 21:49] dasifefe commented on #92019
I just had the same (I believe) issue.
[code]

This is the backtrace:
[code]

[2021-12-17 21:54] A1Liu commented on #92019
That is the error that I remember getting as well.

[2021-12-17 22:02] Aaron1011 commented on #92019
This is a known incremental compilation issue - I'm working on a fix in https://github.com/rust-lang/rust/pull/91919.

For now, you can run `cargo clean` to clear your incremental cache.

[2021-12-17 22:11] GuillaumeGomez commented on #91759
No, it's handled by the `IdMap` just like currently.

[2021-12-17 22:13] camelid commented on #91759
But then we have the same issue of the IDs not being stable. I think we should make our IDs simpler and "more correct" by ensuring they are truly unanmbiguous (or as little ambiguity as possible). Compression will probably mitigate the page size cost, right?

[2021-12-17 22:18] ssomers commented on #43244
`drain` doesn't really drain-on-drop, it drains instantly, consuming the contents of collection, and starts iterating those contents. With a range argument, it's really the same, just consuming only a part of the collection contents. `collection.drain()` is a shortcut for `mem::take(&mut collection).into_iter()` from the caller's point of view, and therefore hardly worth providing if it's not ther

[2021-12-17 22:26] davepacheco commented on #92005
With `cargo 1.56.0 (4ed5d137b 2021-10-04)`:

[code]

With `cargo 1.59.0-nightly (a359ce160 2021-12-14)`:

[code]

In case it's useful, this is very easily reproduced -- e.g., with https://github.com/davepacheco/rustdoc-test.

[2021-12-17 22:33] GuillaumeGomez commented on #91759
As I understood, the main goal was to not have conflicts with rustdoc's IDs. With the current implementation it's already quite limited.

[2021-12-17 22:34] camelid commented on #92005
Thanks! So, indeed, it seems the `2` is being hidden by the CSS; it is actually emitted in the HTML.

[2021-12-17 22:57] jsha commented on #91759
One possible size optimization: for types with a single `impl` block, omit the impl prefix and just do `#method.foo.examples`.

By the way, a minor problem with my proposal above about generating better ids for impl blocks: a type can have multiple impl blocks with the same type parameters (or no type parameters), so we would still need some form of collision-renaming like we have today.

[2021-12-17 23:00] Aaron1011 commented on #87012
Can you see if https://github.com/rust-lang/rust/pull/92044 improves performance for you?

[2021-12-17 23:05] camelid commented on #91759
Then adding an impl will still be cause link breakage. The page size savings don't seem worth it to me. IMO it'd be better for rustdoc's rules to be simple and correct.

Note that that's only a problem for the impl headings themselves since the methods within must have unique names or rustc will get upset about naming conflicts.

-----

I think this has gotten a bit off-topic, sorry about that! Th

[2021-12-17 23:15] camelid opened #92052 "rustdoc: Semantically disambiguate impls and associated impl items rather than using numeric suffixes"
### Problem

Links to impls and their associated items are currently unstable in the sense that the addition of other items causes pre-existing items to have different URL fragments. This is because the URL fragments are only disambiguated by suffixing a number. If more items are added, the suffix changes. In addition, the suffix is not very human-understandable; it's hard to know which suffix wil

[2021-12-17 23:16] camelid commented on #91759
Ok, I've opened #92052. I haven't started FCP there yet because I think we should finish with this change first to avoid too discussing too many changes at once.

@rfcbot resolve impls

I think the current approach should probably be good enough. I think it should be overall an improvement.

[2021-12-17 23:45] camelid commented on #90811
I'm pretty sure all parsing decisions about what's a link happens outside of rustdoc, in pulldown-cmark. The intra-doc links pass just does name resolution on the parsing result.

[2021-12-17 23:49] kapitaali commented on #74551
I confirm this issue with OpenBSD 7.0, I tried 2 different ports: firefox-esr and firefox-i18n

https://dpaste.com/GJXVL5V7L

https://dpaste.com/H95H6M3DM

[2021-12-17 23:50] camelid commented on #76895
cc #92052

[2021-12-18 01:12] #89688 closed

[2021-12-18 01:12] #89807 closed

[2021-12-18 01:12] pjht opened #92054 "Error when passing reference to Allocator impl to Box::new_in"
### Code

Could not isolate, but  I _think_ it was caused by passing a reference to a custom impl of Allocator to Box::new_zeroed_slice_in.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-18 01:14] leo60228 commented on #91452
@linkmauve This is due to the [DeadArgumentElimination pass](https://github.com/llvm/llvm-project/blob/main/llvm/lib/Transforms/IPO/DeadArgumentElimination.cpp). It can be effectively disabled for a function with `#[linkage = "linkonce_odr"]`.

[2021-12-18 01:38] camelid commented on #92005
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392005.20rustdoc.20unexpectedly.20formatted.20leading.20numeral.20as.20a.20.E2.80.A6) in the prioritization working group.

@rustbot label: +P-medium -I-prioritize

[2021-12-18 01:40] MarcelRobitaille commented on #89492
@shreepads I have done this:

[code]

Somehow this is cleaner to me than casting to signed. I think it's more efficient too? Not as nice as if it were a built-in method, but still cleans up your fold, no?

[2021-12-18 03:07] maboesanman commented on #91985
[playground with the issue](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e7e2bbed2c6ac88fff5a6e5e2bb26ecf)

[2021-12-18 05:08] maboesanman commented on #91985
additional notes:

adding `T1::Associated: Clone` to the where for the impl for `OuterStruct` makes the playground compile. It looks like the compiler should either complain that the associated type is under-specified or implicitly apply the bound.

[2021-12-18 06:09] pmnoxx opened #92056 "Compiler panics after code refactor"
I renamed `MyAllocator` to `ProxyAllocator` and that caused `cargo check to panic`.

### Code

See https://github.com/near/near-memory-tracker/pull/72
See https://github.com/near/near-memory-tracker/pull/72/commits/4594e16d642216128f427f085316f5c99b7f87e2

I used refactoring in `Clion`, just renamed  `MyAllocator` to `ProxyAllocator`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[2021-12-18 06:13] pmnoxx commented on #92056
Hmm, not the issue is not happening any more.

[2021-12-18 09:04] ssomers commented on #43244
I do sympathize with the viewpoint that `drain` shouldn't be doing two things - consuming contents and creating an iterator. Unlike `into_iter`, neither the name nor the primary argument make it clear it consumes anything.

I bet the reason why `Vec::drain`, `VecDeque::drain` and `String::drain` (the ones with a range argument) do all the work in the drop handler, is because they wanted to save th

[2021-12-18 09:23] jethrogb commented on #43244
Let's separate the “drain on drop” discussion from the “iterators are lazy” discussion. It's easy to rework the API to return a `DrainHandle<'_>` that represents the memory lease on the collection (which may or may not drain on drop) and have `impl IntoIterator for &mut DrainHandle<'_> { type Iter = DrainIter<'_> }` that represents the iterator.

[2021-12-18 09:36] izderadicka commented on #70263
I have similar problem as in previous post, current workaround is to use explicitly defined `async fn`,  but as noted it is quite annoying.   Closures would be much more convenient in many places.
Also I was not able to use simple wrapper as proposed https://github.com/rust-lang/rust/issues/70263#issuecomment-623169045 as in my case return type is generic.

I have seen a lot of complains in this i

[2021-12-18 09:40] est31 commented on #87335
Yeah the potential use sites at least.

But I agree, it's already an existing issue. I don't think it should block the feature, and a discussion has been had (which was my main wish when I brought it up, just didn't want stabilization to happen without awareness of the issue). So I'd say it's resolved.

With #89841 merged, I'd say the borrow problems are gone now, although I didn't have the chance

[2021-12-18 10:20] #87694 closed

[2021-12-18 10:20] #91827 closed

[2021-12-18 11:05] zackradisic commented on #91628
There is more talk happening [here](https://github.com/emscripten-core/emscripten/issues/15722). Apparently it is related to thread local storage, but it is unknown if it is a problem with rustc or emscripten. I also don't know why it specifically appears for me with auto-dereferencing

[2021-12-18 14:04] jackh726 commented on #92033
I think this can be solved by just added the `where Self: 'a` bounds to the impl too...

[2021-12-18 14:06] ajtribick opened #92067 "Improve the example for Vec::splice"
The current example for `Vec::splice` illustrates the replacement of a section of length 2 with a new section of length 2. This isn't a particularly interesting case for splice, and makes it look a bit like a shorthand for the kind of manipulations that could be done with a mutable slice.

I think it would be more useful to illustrate this method with a case where the source and replacement are di

[2021-12-18 14:07] jackh726 commented on #92033
That being said, I feel like this *should* be fine, so there might be something more subtle going on.

[2021-12-18 14:29] jyn514 commented on #92067
@ajtribick seems like a good change :) are you interested in making a PR? This example lives somewhere in `library/alloc` I think.

[2021-12-18 14:33] spaarmann opened #92069 "Wrong suggestion for slice patterns when using let-else statement"
Given the following code: [Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=67bf5b9ec5997d3535258a4b89cd3a31)

[code]

The current output is:

[code]
The `[..]` should be added to the `v`, not after the whole statement.

[2021-12-18 14:35] spaarmann commented on #92069
@rustbot label +F-let-else

[2021-12-18 14:36] GuillaumeGomez commented on #91759
@rfcbot approve

[2021-12-18 15:06] AlexTMjugador opened #92073 "`cargo doc` panics with an "Unexpected predicate" message and doesn't generate documentation"
### Problem

When trying to document my Rust project by running `cargo doc`, the command crashes and no documentation is generated. Other than that, the code builds and runs okay.

### Error message
[code]

### Verbose backtrace
<details>
<summary>Show</summary>

[code]
</details>

### Steps

1. Download or clone my project, commit `cb8017a947`: https://github.com/ComunidadAylas/PackSquash/archive

[2021-12-18 15:34] ehuss commented on #92073
Thanks for the report!  This error appears to be coming from rustdoc, so I have transferred it to the rust-lang/rust repository, as that is where rustdoc issues are tracked.

[2021-12-18 15:41] matthieu-m commented on #81513
Experience report, and the lack of `CoerceUnsized`.

I ported this afternoon the [`storage-poc`](https://github.com/matthieu-m/storage-poc/commit/018b31a834263c47f34f60b9610268cfbf7faf17) repository from the [`rfc2580`](https://crates.io/crates/rfc2580/0.3.0) crate to the `core::ptr::Pointee`, and it was a painless experience.

The resulting code is cleaner, thanks to the integration of `from_raw_

[2021-12-18 15:42] quornian opened #92074 "ICE when pattern matching `vec![]`"
Note: this only occurs when the type of the code block is a result. Removing the `Ok` line and swapping `?` for `.unwrap()` does not yield the ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
and after a rustup, (still getting the same ICE):
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-18 16:27] Aaron1011 commented on #92073
Sorry about that - I opened https://github.com/rust-lang/rust/pull/92076 to fix this

[2021-12-18 16:31] jyn514 commented on #92074
Here's a reproduction without rustdoc involved:
[code]

[2021-12-18 16:34] jyn514 commented on #92074
Minimized:
[code]

[2021-12-18 16:36] Aaron1011 commented on #91598
Compilation time appears to be improved on the latest nightly (though still not as good as in 1.56.1)

[2021-12-18 17:06] AlexTMjugador commented on #92073
Thank you both for your attention! I'm sorry that I've opened the issue in the wrong repository - I was not sure whether it was something wrong with `rustdoc` calling `rustc` or with `rustc` itself. I'm happy to help :smile:

[2021-12-18 17:47] gregbuchholz commented on #91628
Sorry for the confusion.  I don't think the parse issue you identified is related to thread local storage.  It was just that when tlively was trying to reproduce your error, he had the same linker message that I get.  And when I try your example program, I don't reproduce the parse exception, but instead get the thread local storage issue.

[2021-12-18 17:49] Amanieu commented on #88716
@bnoordhuis We have accepted this change, would you be willing to write up a PR for it?

[2021-12-18 18:02] jyn514 opened #92084 "Investigate removing `need_backline` from `rustdoc::clean::DocFragment`"
I expected this change to work:
[code]
But it causes `source_span_for_markdown_range` to panic:
[code]

<details><summary>Backtrace</summary>

[code]

</details>

I don't have time to look into it right now, but I wouldn't expect it to be *too* hard to fix and it would reduce the memory usage of rustdoc by quite a lot. I'd suggest starting by adding a bunch of assertions that the old and new behav

[2021-12-18 18:58] xTachyon commented on #92084
@rustbot claim

[2021-12-18 19:38] peterbe commented on #34674
Still a thing apparently. I'm on macOS 11.6.1 and I had (long ago) installed rust with `brew`. I'm pretty sure it's the `brew` upgrade here. I ran `brew upgrade rust`
Before i had:
[code]

The upgrade looked like this:
<img width="563" alt="Screen Shot 2021-12-18 at 2 35 33 PM" src="https://user-images.githubusercontent.com/26739/146653644-088bc276-6d97-4000-bdb6-a5fb00fa7237.png">

I've lost it n

[2021-12-18 20:20] timthelion opened #92087 "remove_dir will remove read_only directories without error"
According to the [docs](https://doc.rust-lang.org/stable/std/fs/fn.remove_dir.html) for `remove_dir`:

[code]

I expected `remove_dir` to fail when removing read only directories. However, it succeeds on linux when the folder's mode is `444` (aka read only). Running the `rm -r <folder>` command fails on similarly configured directories.

[code]

Here is a failing test case:

[code]

Here is the ou

[2021-12-18 20:42] Aaron1011 commented on #57374
Issue https://github.com/rust-lang/rust/issues/89620 hits a higher-ranked subtype error with `#![feature(nll)]`:

[code]

produces:

[code]

[2021-12-18 22:06] adamchalmers opened #92089 "Unhelpful error when array elements aren't separated by commas"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ced4b5117810643eaf5f0fd7f0064870)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

and the compiler would preview the fix, by adding the commas in green.

[2021-12-18 22:26] Ryan1729 commented on #90594
I ran in to this on `rustc 1.57.0 (f1edd0429 2021-11-29)`. I then tried it on nightly, before finding this issue, and my project compiled successfully then. But the compiler still panicked on `1.57.0`.

After running `cargo clean` it builds on `1.57.0` again, as others have reported.

[2021-12-18 22:54] the8472 commented on #92087
The permission to remove a directory entry depends on the write permissions on the parent directory, not the permissions on the entry itself. One can even remove an empty directory owned by a different user as long as you have write access to the parent.

`rmdir` and `rm -rf` both succeed on my machine. Note that semantically `remove_dir` is closer to the `rmdir` command than
 `rm -r`

[2021-12-18 23:01] timthelion commented on #92087
OK, thanks for the explanation.

[2021-12-18 23:01] #92087 closed

[2021-12-18 23:39] znx3p0 opened #92091 "ICE: Broken MIR with feature `generic_const_exprs`"
### Code
To reproduce this error, please clone [this repo](https://github.com/znx3p0/sia/tree/bc0145aae8f9dccf818ea6aaa1ef8f5c17baf3e8) and build it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-18 23:52] Urgau commented on #50145
To help this issue I've conduct a little experiment with compiler-explorer (godbolt) which consist of compiling the llvm intrinsics for every target that rust supports:
 - [core::intrinsics::fabsf64](https://gist.github.com/Urgau/55fa138f60287ed2366afaeb70118fb9): **No calls to libm** or any another functions.
 - [core::intrinsics::copysignf64](https://gist.github.com/Urgau/78c948afb199bf3ff4203fd

[2021-12-19 00:11] Amanieu commented on #50145
I don't think such a PR would be accepted. A better solution would be to properly support all math functions in core by providing them in `compiler-builtins` as weak functions.

cc @Lokathor who may have some thoughts on this.

[2021-12-19 01:03] Amanieu commented on #90972
The next step is to stabilize the NEON intrinsics on ARM. Looking at the [list](https://github.com/rust-lang/stdarch/blob/master/crates/intrinsic-test/missing_arm.txt) of intrinsics which are failing the tests, I consider the following entries to be blockers:
- `# Failing tests: stdarch has incorrect results compared to Clang`
- `# Implemented in stdarch for A64 only, Clang support both A32/A64`

[2021-12-19 01:38] starptr opened #92093 "Lambda argument lifetime is tied to lifetime of unrelated iterator"
It looks like the lifetime of the argument in `str_to_i32` is tied to the `line` iterator for some reason, even though they can have different lifetimes:

[code]

I expect this code to compile. Instead, rustc complains that
[code]

### Meta

`rustc --version --verbose`:
[code]
Same behavior on both beta and nightly.

(Backtrace is irrelevant here.)

[2021-12-19 01:43] nrabulinski commented on #92093
Worth noting that explicitly declaring the closure as `|str: &str| ...` compiles, which leads me to believe the issue is with rust inferring the argument type as `&'a str` where `'a` is the concrete lifetime of the first `line`.

[2021-12-19 02:29] Aaron1011 commented on #71515
What's the status of this issue?

[2021-12-19 02:31] 1000teslas commented on #71515
@Aaron1011 https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Need.20users.2Finternals.20thread.20for.20gcc-lld

[2021-12-19 02:38] Manishearth opened #92094 "`'static` bound on type is not satisfied by definition involving `'static` associated types"
We have the following code:

[code]

([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1d9fd6a1075db0339610e246e4236fdc))

Raises the following error:

<details>

[code]

</details>

From looking at the definition, `ZeroSlice<T>([T::ULE])` should _always_ be `'static`, because `T::ULE` implements `ULE` which implies `'static`. However, the `VarULE` implementation

[2021-12-19 02:55] Lokathor commented on #50145
my understanding is that compiler-builtins is a deliberately minimal and "as needed" type of crate right now, rather than exhaustively providing all things.

Well it's trivial to copy the sign bit or clear the sign bit. LLVM can seemingly do that much on its own without ever asking for help. This assumes IEEE floats, but Rust already assumes that.

powf, not so much, I suspect that llvm will alway

[2021-12-19 03:33] #90807 closed

[2021-12-19 04:47] vacuus commented on #92084
Since 'add_doc_fragment' would unconditionally add a final newline, shouldn't the note say that (instead of "this can") and the 'pop's be unconditional? Better yet, couldn't the final newline just not be 'push'ed? Across the entire codebase, there's just one other invocation of 'add_doc_fragment' (currently line 1087 [here](https://github.com/rust-lang/rust/blob/master/src/librustdoc/clean/types.r

[2021-12-19 04:54] jyn514 commented on #92084
@vacuus feel free to try that out and see if it works :) like I said, I don't have time to work on it right now.

[2021-12-19 05:01] cairijun opened #92096 "GAT `Self: 'a` bounds break some `async` blocks with `impl Trait`"
As required by #87479, `Self: 'a` must be explicitly added for GATs with `self` lifetimes. But it seems such a bound breaks `async` blocks with `impl Trait` sometimes.

Given a trait with a GAT:
[code]

Awaiting on `Client::connect()` in an `async` block results in a confusing lifeime error on `impl ...`:

[code]
[code]

It also breaks a generic `impl` on the trait with `type_alias_impl_trait`:

[

[2021-12-19 05:27] jackh726 commented on #92096
It's quite concerning to me that just adding the extra Send bound causes a compilation error (particularly because Send doesn't have lifetimes on it). Will have to look into it.

[2021-12-19 06:09] saethlin commented on #91574
Closed by https://github.com/rust-lang/rust/pull/91680

[2021-12-19 06:09] #91574 closed

[2021-12-19 06:43] #89109 closed

[2021-12-19 06:44] bennywwg commented on #89109
Not sure when but it appears this was fixed. Can no longer repro.

[2021-12-19 07:02] lilyball commented on #90811
@camelid In that case an issue needs to be raised upstream with pulldown-cmark on how the broken link callback works.

[2021-12-19 07:40] ksqsf commented on #63168
Thanks @matklad for bringing the attention. I believe we generally agree on `cloned` and `copied` so the `_err` variants are left out here.

# Stabilization Report

## Brief summary

- Add `Result::cloned()` for converting `Result<&T, E>` and `Result<&mut T, E>` into `Result<T, E>` by cloning the contents of the `Ok` part.
- Add `Result::copied()` for converting `Result<&T, E>` and `Result<&mut T,

[2021-12-19 09:47] TopologicallySpeaking commented on #74465
I strongly agree. I'm currently writing a builder pattern, the builder has a number of items which need to be set one after another, each one depends on the last, and there are multiple references to the builder so I can't mutably borrow it. That's exactly what `OnceCell` is designed for. I should be able to do something roughly like this:

[code]

Option 1 and 2 are the only ones you listed which

[2021-12-19 10:52] hkmatsumoto commented on #92089
@rustbot claim

[2021-12-19 11:36] nrabulinski commented on #92093
This is the minimal example I could come up with https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3703eb374998f226f08fc76b922d112e

[2021-12-19 12:09] smallB007 opened #92100 "ICE vec iter"
### Code

[code]
error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust/issues/new?labels=C-bug%2C+I-ICE%2C+T-compiler&template=ice.md

note: rustc 1.57.0 (f1edd0429 2021-11-29) running on x86_64-unknown-linux-gnu

note: compiler flags: -C embed-bitcode=no -C debuginfo=2 -

[2021-12-19 12:13] matthiaskrgr commented on #92100
[code]

[2021-12-19 12:37] rust-highfive opened #92101 "`miri` no longer builds after rust-lang/rust#91957"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91957, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @nnethercote, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-12-19 12:38] matthiaskrgr commented on #92100
reduced:
[code]

[2021-12-19 12:55] bjorn3 opened #92102 "rust_eh_personality exported by cdylibs"
I tried this:

[code]
I expected to see this happen: No symbols are exported as there are no `#[no_mangle]` symbols in the crate source.

Instead, this happened: `rust_eh_personality` is exported. This means that different rustc versions could potentially interfere with unwinding of code compiled by the other rustc version by overriding this symbol.

### Meta

`rustc --version --verbose`:
[code]
a

[2021-12-19 13:59] marcusklaas commented on #92005
Ooh, this is an interesting one. While this is certainly surprising, I'm not 100% confident this is a bug in pulldown. I played around in [dingus], the CommonMark reference implementation, and found that it also produced a list for this snippet:
[code]

However, if the final line is changed to `2. d` instead, it does not produce a list.

I will have to check the spec, because I can't remember ther

[2021-12-19 14:02] marcusklaas commented on #92005
It turns out there _is_ a special rule for starting lists with the number one. From the spec:

And then there follow two tests that test exactly this distinction. Pulldown passes those tests, so I'm confused why it also produces a list for
[code]
I will create an issue on the pulldown repo and investigate further...

[2021-12-19 14:20] Patryk27 commented on #82242
I think I got it!

tl;dr: for a workaround, drop this to `.cargo/config`:
[code]
(128-bit operations will fail to link, but 8/16/32 signed/unsigned should work.)

Explanation:

Since AVR doesn't have a native instruction for division, when the LLVM AVR backend sees a division operation:
[code]
... it expands it to a call:
[code]
This `__divmodsi4` (and a few other, similar functions) is expected t

[2021-12-19 14:33] Patryk27 commented on #82380
Seems to be the same root cause as https://github.com/rust-lang/rust/issues/82242; [the workaround](https://github.com/rust-lang/rust/issues/82242#issuecomment-997400373) helps 🙂

[2021-12-19 15:32] #87228 closed

[2021-12-19 15:37] marcusklaas commented on #92005
We have found the underlying issue and created a PR to address it [here](https://github.com/raphlinus/pulldown-cmark/issues/553). Thanks to @camelid for flagging it with us!

[2021-12-19 15:44] #92067 closed

[2021-12-19 16:24] feds01 opened #92105 "ICE when compiling a crate (`.unwrap()` fails)"
### Code

The error occurs when trying to compile one of the internal crates of a project. This error looks as if it is a duplicate of #92010.

### Meta

This occurs on the nightly build of Rust. The project is dependent on a nightly build of the compiler and therefore testing with the stable build is unfortunately not possible.

`rustc --version --verbose`:
[code]

### Error output

[code]

<deta

[2021-12-19 16:49] Patrick-Poitras commented on #92093
I'm playing around with the MIR, and I have generated it for both a failing version
[code]
and a working version
[code]

The only difference in the MIR (at the start), other than storage allocation, is where in the failing version you have this:
[code]

in the working version you have this: version of the "extern rust-call" line
[code]

The closures themselves don't have massive differences in the

[2021-12-19 16:58] Patrick-Poitras commented on #92093
[mir_compare.zip](https://github.com/rust-lang/rust/files/7741208/mir_compare.zip)

[2021-12-19 17:06] mattelkinsTC commented on #91027
I never tracked it down to the specific code generation problem, so it is hard to say whether the LLVM upgrade was what fixed it. However, the issue does NOT reproduce in 1.57, so it seems likely.

[2021-12-19 17:30] asquared31415 commented on #92105
This looks like an incremental compilation error, does `cargo clean` and rebuilding resolve the issue?

[2021-12-19 17:37] NilsIrl commented on #88622
I uninstalled the gcc I had installed through nix and that fixed the problem (on darwin).

[2021-12-19 18:16] joshtriplett commented on #63168
Shall we stabilize the `cloned` and `copied` methods on `Result`, per the above stabilization report?

@rfcbot merge

[2021-12-19 19:05] camelid commented on #92005
Thanks for fixing it!

[2021-12-19 19:07] camelid commented on #92005
@marcusklaas what is the timeline for the next pulldown release?

[2021-12-19 19:17] camelid commented on #90811
cc @marcusklaas again :)

[2021-12-19 20:22] tlambertz opened #92109 "Instrumentation (-Zinstrument-mcount) broken due to missing LLVM-pass since LLVM13 update"
### Issue

I tried to compile a generic hello-world binary with the `-Zinstrument-mcount` compiler option.

I expected every function-entry to have a call to `mcount()`.
Instead, there are no such calls inserted.

### Triage

I have triaged the bug, and it first occurred in `nightly-2021-08-22`, the first version with LLVM13.

The LLVM-IR still contains the `"instrument-function-entry-inlined"="mc

[2021-12-19 20:23] #91434 closed

[2021-12-19 20:23] #92013 closed

[2021-12-19 21:37] bbgdzxng1 commented on #50776
Big thanks to @carlocab.  After a clean homebrew uninstall and reinstall, rust finally installed nicely on High Sierra without editing any files.

[2021-12-19 21:59] tlambertz commented on #92109
Manually adding the passes works with all nightly versions I have tested (including the current one):

[code]

For 2021-08-22 it also prints said passes. Sometime in between 09-01 and 10-01 the pass is not printed anymore, not sure why.
[code]

[2021-12-19 22:10] zseri commented on #74465
@TopologicallySpeaking huh, but I think you could also work with the third option, e.g.
[code]

[2021-12-19 22:18] philipturner commented on #33674
I have the same issue. I'm trying to explore lldb according to Apple's tutorial on the Swift website, but nothing shows when I do various commands.

[2021-12-19 23:00] feds01 commented on #92105
Yes this does fix the issue, should the issue be closed?

[2021-12-19 23:34] philipturner commented on #33674
@kit-981 I have something that might help. Follow [this tutorial](https://aaronbloomfield.github.io/pdr/tutorials/02-lldb/index.html). Then, try making some Rust code that's as close as possible to the C++ code. You should be able to reproduce the tutorial and find why LLDB isn't doing what you expect.

[2021-12-19 23:47] jsha commented on #85138
We have one 👍🏻 on:

Would anyone else like to weigh in? Good enough to proceed with implementation?

[2021-12-20 00:17] chorman0773 opened #92111 "`T: Drop` bound not satisfied from Option::unwrap_or (et. al) when Drop anti-bound is present"
### Code

I tried this code:

[code]

I expected to see this happen: print `DoesNotHaveDrop(0)` (from Debug impl)

Instead, this happened: E0277, trait impl `DoesNotHaveDrop: Drop` not found

This was found by CI in the Ruffle Project: https://github.com/ruffle-rs/ruffle/runs/4576592287?check_suite_focus=true

The issue is caused by the effective anti-bound of Drop, introduced by the manual impl o

[2021-12-20 01:20] bstrie commented on #86921
An instance of this discrepancy being encountered in the wild: https://www.reddit.com/r/rust/comments/rjtphp/why_doesnt_the_compiler_infer_the_proper_lifetimes/

[2021-12-20 02:30] chubei-oppen commented on #92033
How to add `where Self: 'a` to the impl? Is it after `impl<'s> Surface for &'s Texture` or `type TextureIter<'a> = std::option::IntoIter<&'a Texture>`?

[2021-12-20 03:02] jackh726 commented on #92033
This works (with the where clause on the impl): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cc1325c7ca369536e63c9e436d6eacf0

Were you trying to put the where clause on the impl at the end of the line? Like `type TextureIter<'a> = std::option::IntoIter<&'a Texture> where Self: 'a`?

[2021-12-20 03:08] SparrowLii commented on #92069
It looks like this has been fixed, and it shows in the Playground:

    error[E0529]: expected an array or slice, found `Vec<{integer}>`
     --> src/main.rs:5:9
      |
    5 |     let [a, b, c] = v else {
      |         ^^^^^^^^^   - help: consider slicing here: `v[..]`
      |         |
      |         pattern cannot match with input type `Vec<{integer}>`

[2021-12-20 03:37] chubei-oppen commented on #92033
Yes... Should have thought of the correct place. It works in real code too. Closing the issue. Thanks a lot!

[2021-12-20 03:51] ibraheemdev commented on #91994
I believe this will be fixed by #91741

[2021-12-20 03:51] ibraheemdev commented on #92105
I believe this will be fixed by #91741

[2021-12-20 03:59] jackh726 commented on #92033
I'm actually going to leave this open for two diagnostics improvements:
1) Proper suggestion to move the where clause if it's placed in the wrong place on the GAT (#90076 changes the location, but I'm about to open a PR that doesn't change the location but parses/errors the invalid location)
2) Maybe try to suggest `Self: 'a` on the impl GAT in some way. Either through suggest copying the trait bo

[2021-12-20 04:07] BGR360 opened #92113 "Regression in diagnostic quality for unimplemented traits on arrays."
Commit dcd716fee2303c93a0bf1ba68e667c9bc4bf3558 (https://github.com/rust-lang/rust/pull/86986) appears to have regressed the quality of compiler diagnostics produced when an array type does not satisfy a trait but its slice version does (there may be other scenarios that see similar regressions, but this is where I've seen it).

This is currently blocking https://github.com/rust-lang/rust/pull/913

[2021-12-20 04:12] BGR360 commented on #92113
@rustbot modify labels: -regression-untriaged +regression-from-stable-to-nightly

[2021-12-20 04:19] woppopo opened #92114 "ICE when passing a argument bounded by `~const Drop` by a value of type that implements `!Drop`"
There may be a cause somewhere in between 6bda5b331 (2021-12-12) and 8f117a77d (2021-12-13).

### Code

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=35d44ffd9d92e9e8dd6c149cdd59e3a4)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-20 04:51] ibraheemdev opened #92115 "Tracking Issue for `Future::poll_once`."
Feature gate: `#![feature(poll_once)]`

This is a tracking issue for `Future::poll_once`, which returns the output of polling a future once.

[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #92116
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-20 05:42] hkmatsumoto commented on #92089
This week I'm busier than I thought ;)
@rustbot release-assignment

[2021-12-20 06:03] HadrienG2 opened #92119 "Strange ASM pessimizations as a result of algorithmic optimization"
So, I was trying to sum a slice of f32s quickly on stable Rust.

But like pretty much all floating-point reductions, the naive algorithm (`floats.iter().sum::<f32>()`) does not autovectorize because its "natural" summation order introduces a serial dependency between successive sums. Which makes SIMD parallelization illegal in the eye of a compiler that guarantees bitwise floating point reproducib