[2020-12-29 15:12] mydogisbox commented on #68371
@Johannesd3 I didn't even think about how odd it is to have the state being mutable. Good point.

[2020-12-29 15:32] qiujiangkun commented on #80473
I did some work. It turned out that my struct inside Arc got dropped, which shouldn't happen since I am pushing it to a HashMap.
[code]
[code]

[2020-12-29 15:40] GuillaumeGomez commented on #78835
It doesn't work for "sub attributes". For example:

[code]

I'm sending a little fix so it is supported as well.

[2020-12-29 15:43] RalfJung commented on #80365
Hm, Miri still complains, even after the fix landed... it seems Miri doesn't like `align_of_val_raw` being called with dangling pointers. I'll have to look into this.

[2020-12-29 15:56] kpreid opened #80476 "E0562 should mention impl Trait in argument position"
`impl Trait` as a type is permitted in function parameter lists. However, the error message E0562 incorrectly states that it is only permitted in function or inherent method _return_ positions.

[code]
[code]

Being precise in this message will assist beginners (such as myself a few months ago) in understanding the boundaries of the language. Particularly, one might reasonably imagine equivalence

[2020-12-29 16:55] qiujiangkun commented on #80473
I have solved the problem. It seems there's something wrong with syn::Ident. I replaced syn::Ident with String and everything works as expected.

It seems that Arc<A> still drops unexpectedly where struct A(syn::Ident)

[2020-12-29 17:05] CoffeeBlend commented on #61956
Something like:
[code]

[2020-12-29 17:09] CAD97 commented on #80365
IIRC, when I added `align_of_val_raw`, I changed the type of the intrinsic to take a raw pointer rather than a reference, but miri wasn't touched, so that would make sense miri's still expecting a proper reference.

[2020-12-29 17:37] RalfJung commented on #61956
Yeah, there are definitely some const generic functions that should be added. Const generics weren't ready for that yet when `MaybeUninit` was added.

[2020-12-29 17:37] frewsxcv opened #80480 "`std::hint::black_box` – Extend documentation to include recommended usage when writing benchmarks"
https://doc.rust-lang.org/std/hint/fn.black_box.html

It would be helpful if the documentation was extended to include best practices when using `std::hint::black_box` in benchmarks. For example, should the user apply `black_box` to each of the parameters for the function they are benchmarking? And should the use apply `black_box` to the return value of the function?

And while we're there we shou

[2020-12-29 17:46] benesch commented on #59618
Any reason not to stabilize this @mbrubeck?

[2020-12-29 18:28] jyn514 opened #80481 "Rustdoc should not show blanket impls with a `where` clause that is always false"
`pin_project_lite` generates code that looks like this:

[code]

<details><summary>Full output of <code>cargo expand</code></summary>

[code]

</details>

Rustdoc in turn generates documentation like this:
[code]
![image](https://user-images.githubusercontent.com/23638587/103305582-813e3280-49d9-11eb-9a20-a157c73e9c1d.png)

This is really unfortunate, because `__Origin` does not in fact implement

[2020-12-29 18:28] RustyYato commented on #68371
I disagree with this, iterators are about being declarative instead of imperative, mutability is an orthogonal concern. Rust doesn't shy away from mutability like in more functional languages, because sometimes mutability is *required* for performance or making the algorithm easier to understand. Limiting mutability artificially makes apis *harder* to use in Rust.

For example: `Vec::retain` *coul

[2020-12-29 18:30] ms140569 commented on #40830
Hi guys - I'm still facing this issue when compiling anything hosted on my SAMBA/SMB Fileserver:

This is:
Mac OSX 10.14.6
rustc 1.48.0 (7eac88abb 2020-11-16)

Stacktrace below:

[code]

[2020-12-29 18:33] jyn514 commented on #40830
@ms140569 that's a separate error - you're running rustc, not rustdoc, and it's an issue with incremental compilation. I'd open a new issue.

I'm going to close this since it seems like the code has been fixed and no one is running into rustdoc errors. Feel free to comment if you're still seeing an issue from rustdoc (and you can't reproduce with `rustc` directly).

[2020-12-29 18:33] #40830 closed

[2020-12-29 18:37] Johannesd3 commented on #68371
I wasn't claiming that `scanl` in Rust would be super useful. But I think it is at least more useful than the current `scan`.

One example: Creating an iterator that yields factorials using `num_bigint`.

Using `scan`:
[code]

Using `map` makes this not worse in my opinion:
[code]

And using a Haskell-like `myscan`:
[code]

[Link to playground](https://play.rust-lang.org/?version=stable&mode=relea

[2020-12-29 19:13] ms140569 commented on #40830
Cool, thanks! Sorry for mixing these issues ... Could you send me the issue number against rustc? Cheers, Matthias

[2020-12-29 19:23] mydogisbox commented on #68371
@RustyYato the more general scan is useful in rust when you want to chain iterator functions like (actual example from my code):
[code]
In this example using `map` with a mutable collection would be much less readable than using `scan` due to how it changes the scope of what is needed to understand a particular step in the chain.

`retain` seems like a poor example for why mutability would be a go

[2020-12-29 19:39] RustyYato commented on #68371
@Johannesd3
The perf difference is probably because it's cheaper to do `*=` on `BigInt` then clone than to multiply `&BigInt` by `usize`.

This is because the former can reuse the allocation, while the latter cannot. This means that `*=` on average does *less* reallocations, which is a perf improvement. The `clone` is really fast because it only needs to do one allocation because the size is known

[2020-12-29 19:39] jyn514 commented on #40830
@ms140569 https://github.com/rust-lang/rust/issues/76251 looks similar ( I searched `label:A-incr-comp NFS`).

[2020-12-29 19:46] ChrisJefferson opened #80483 "Use sort_unstable to sort primitive types"
When sorting primitive types, without a key or sort_by function, sort and sort_unstable produce the same output (because the "identical elements" are themselves indistinguishable).

This change was done by hand ( https://github.com/rust-lang/rust/pull/76541 ), and clippy will recommend changing sort to sort_unstable on primitive types.

However, if it is so useful it feels like it should be easy t

[2020-12-29 19:59] ms140569 commented on #76251
I'm still facing this issue when compiling anything hosted on my SAMBA/SMB Fileserver (rather than NFS)

This is:
Mac OSX 10.14.6
rustc 1.48.0 (7eac88abb 2020-11-16)

Stacktrace below:

[code]

The source for the panic is:
[code]

[2020-12-29 20:09] adamlesinski opened #80484 "`TryFrom` trait bound on trait definition complains about missing `From` impl"
I tried this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a9fcf72c4bbeb63baf3dffb724d37852

I expected it to compile successfully.

Instead, it fails to compile with the error:

[code]

I do not expect that a `From` implementation is needed when implementing `TryFrom`.

If I remove the trait bound from the trait `Container`, and place it on the function `foo` inste

[2020-12-29 20:26] Johannesd3 commented on #68371
@RustyYato Instead of using `fold` to determine the n-th factorial, would it be a faster to implement it with `*=`? More generally: Are there cases in which `fold` is not the fastest option? In that case, would it be fine to sacrifice some performance of `scan` if it increases the consistency between `fold` and `scan`?

[2020-12-29 20:30] ms140569 commented on #49773
I'm facing the very same issue (Rust 1.48.0, Mac -> SMB), documented here:

https://github.com/rust-lang/rust/issues/40830#issuecomment-752195863

Sorry, if i commented/documented on the wrong issue ...

[2020-12-29 20:48] amarao opened #80485 "thread 'main' panicked at 'attempted to leave type uninitialized, which is invalid (regression 1.47 -> 1.48)"
### Code

I tried this code:
https://github.com/amarao/equart/tree/b07f31318b0529d3c01fe5d077497f3511dbc779

(sorry, it happens somewhere deep inside Pison library I use, so the whole application is needed to make it runable).

I expected to see this happen:

Application should work (display a picture).

Instead, this happened:

Application crashes if mouse is moved over the window (Linux).

`thre

[2020-12-29 20:59] RalfJung opened #80486 "compare_and_swap "migration" documentation should explain how to get return value"
The `compare_and_swap` docs explain how to switch the `order` to `compare_exchange`, but that is not the only difference: the return type also changed. The docs don't say anything about how to best get the old behavior back with the new method. Many concurrent algorithms are written based on getting the old value back, so there should be a convenient way to get that behavior.

Cc @faern

[2020-12-29 21:04] RalfJung commented on #80486
FWIW, the underlying primitive in LLVM that backs `compare_exchange` returns `(T, bool)` -- which IMO makes much more sense than `Result<T, T>`. But that ship has long sailed...

[2020-12-29 21:09] usbalbin opened #80489 "CTFE: select different code for compile-time vs run-time"
During #79684 I bumped into a problem that led @oli-obk and me on to a discussion. I am *still* not quite sure about what we discussed(the smart ideas were not mine). Please correct me on the things I have gotten wrong and I will update this post. I believe the gist of it is:

Some functions, like `align_offset` contains code that is impossible to evaluate in a const context, but the functionality

[2020-12-29 21:09] usbalbin commented on #80489
@oli-obk:

@usbalbin:

@oli-obk:

@usbalbin:

as an "unleashed" const fn?

@oli-obk:

@usbalbin:

let attributes = self.tcx.get_attrs(self.def_id().to_def_id());
if self.tcx.sess.contains_name(&attributes, sym::unleash_the_miri_inside_of_you_here) {
    // FIXME: What should be done here?
    println!("Yay I noticed the unleash_the_miri_inside_of_you_here attribute!!!");
    return;
}

@oli-obk:

[2020-12-29 21:15] RalfJung commented on #80489
`align_offset` is a bad example IMO since CTFE actually can't do anything here most of the time.  There *is no way* to implement the equivalent logic during CTFE.

This feature should be mostly for cases where the logic is equivalent but run-time still has different code, e.g. using SIMD. And it can be used for debug assertions that should only be run at runtime (that was what triggered the discus

[2020-12-29 21:18] RalfJung commented on #80486
Looks like `unwrap_or_else(|x| x)` is one option. It's not pretty but it works.

[2020-12-29 21:21] RalfJung commented on #80485
This message is intentional, it indicates a bug in the code where the panic is raised. See https://github.com/rust-lang/rust/issues/66151 for further details.

[2020-12-29 21:26] RalfJung commented on #80485
It looks like you are using a rather old version of winit. Does updating to the latest version help? There were some bugfixes there, such as https://github.com/rust-windowing/winit/commit/468b6b83ecd6780281dab352248cf941a201369c

[2020-12-29 21:32] m-ou-se commented on #80486
related: #79315

[2020-12-29 21:32] dtolnay opened #80490 "Derive breaks wildcard import"
[code]

[code]

<br>

#### Observations:

- Changing `use crate::a::*` to `use crate::a::Type` makes it work. My expectation would be that `*` includes `Type`.
- Removing the derive on `Type` makes the wildcard import work.
- Also reproduces with a proc macro derive in place of standard library builtin derive. Tested with `derive(serde::Serialize)`.
- Does not reproduce with handwritten Clone impl

[2020-12-29 21:36] Iron-E commented on #80346
I'm running into the same issue right now while trying to compile my WIP [`clinvoice`](https://github.com/Iron-E/clinvoice). The crate in question is `clinvoice_config`, which seems to be failing with the same error message above:

<details>
<summary>The Log</summary>
<pre>
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/query/mod.rs:235:5
sta

[2020-12-29 21:37] Aaron1011 commented on #80481
I disagree. The `impl<'__pin> Unpin for Sleep where __Origin<'__pin>: Unpin` impl really exists - hiding it could be very confusing, and will make debugging code more difficult when proc-macros are involved.

Instead, I think we could display a note on any impl that can be proven to never apply.

[2020-12-29 21:43] dtolnay commented on #80490
Mentioning @petrochenkov @davidhewitt since you have been active in name resolution recently. (This is not a new bug but you might have insight.)

[2020-12-29 21:46] petrochenkov commented on #80490
Looks similar to https://github.com/rust-lang/rust/issues/56593, this is a long standing issue.

[2020-12-29 21:50] RustyYato commented on #68371
There was recently an internals thread on exactly this topic [here](https://internals.rust-lang.org/t/scan-is-too-complicated-suggestion-for-new-iterator-methods/13456). There it was also shown that `for_each` can be more performant than `fold`, because `for_each` mutates in place, where  as `fold` needs to move things around, so even there minimizing copies is enough to get a perf improvement.

I

[2020-12-29 21:53] dtolnay commented on #80490
Thanks, good call. I failed to find that one searching for variations of "wildcard" and "derive".

[2020-12-29 21:53] #80490 closed

[2020-12-29 21:55] jonas-schievink commented on #80485
Closing as expected behavior

[2020-12-29 21:55] #80485 closed

[2020-12-29 21:57] dtolnay commented on #61520
Closing as a duplicate of #56593.

[2020-12-29 21:57] #61520 closed

[2020-12-29 22:10] Johannesd3 commented on #68371
I wasn't aware of that topic, but it is quite related. I'm not sure whether to continue the disscussion here or there.

However, one interesting point from the discussion: `Map` still implements `DoubleEndedIterator`, so it does not guarantee that it is consumed in the right order. That's a reason why `scan` could make sense.

When I talk about "replacing" `scan` I think of adding a new function s

[2020-12-29 22:21] oli-obk commented on #80489
That's not possible in some cases. Take `ptr_guaranteed_eq` for example. There's no possible code you could write in Rust that the CTFE engine could evaluate, even with `unleash_the_miri_inside_of_you` enabled. For these we do need custom engine code. But you are right, there are many cases where we just want two different Rust code implementations. In order to easily support all such functions wi

[2020-12-29 22:28] jyn514 commented on #80481
Sure, that seems reasonable to me. I think https://github.com/rust-lang/rust/blob/0edce6f4bbb4514482537f569f0b8ef48e71e0a0/src/librustdoc/clean/mod.rs#L264 is roughly the relevant code.

Oops, good catch, thanks.

[2020-12-29 22:44] SkiFire13 commented on #80484
This is a duplicate of #20671

It complains about `From` because when looking for candidate impls for `for<'a> &'a <C as Container>::Item: TryFrom<&'a Wrapper>` it found `impl<T, U> TryFrom<U> for T where U: Into<T>`, then `impl<T, U> Into<U> for T where U: From<T>`, which leads to `for<'a> &'a <C as Container>::Item: From<&'a Wrapper>`.

[2020-12-29 23:07] adamlesinski commented on #80484
I see, but `impl<T, U> TryFrom<U> for T where U: Into<T>` shouldn't be a candidate, given that none of the bounds are satisfied. It should see my local implementation of TryFrom right?

[2020-12-29 23:20] aqjune commented on #42371
Okay, I understood the issue.
I feel like this should be allowed, thanks.

[2020-12-29 23:37] RustyYato commented on #68371
I would just continue here

Another option is to add a combinator that removes the `DoubleEndedIterator` impl so that you can get that guarantee, but that doesn't seem worth it. But in general, I don't see how this can be a problem. In particular, either you consume the iterator where you create it, then you know when not to call `rev`, or you return the iterator, which usually means returning `im

[2020-12-29 23:49] tmandry opened #80494 "x.py install fails when run outside of Rust source directory"
[code]

Fails with:

[code]

And the `build/tmp/dist` directory does not exist. Here are the contents of `~/staging/build/build`:

<details>

[code]

</details>

When run inside the Rust source dir, everything works.

[2020-12-29 23:53] tmandry commented on #80494
Looking back, this first started failing after #79788.

[2020-12-29 23:54] Mark-Simulacrum commented on #80494
cc @pietroalbini - I imagine this is a simple fix but needs to be tracked down

[2020-12-30 00:00] mbrubeck commented on #59618
There are some open questions about naming and API design; see the  summary in https://github.com/rust-lang/rust/issues/43244#issuecomment-641638196 for some details.

[2020-12-30 00:01] briansmith commented on #77667
https://github.com/rust-lang/rust/pull/77948 rebases rustc onto the final LLVM 11.0 release. According to that MR's milestone, it is scheduled for Rust 1.49. It isn't clear to me how to verify whether the Rust 1.49 release will actually contain that fix though.

@ralfbiedert and others who are having this issue, could you update Rust Beta to the latest version (presumably, one very close to what w

[2020-12-30 00:01] mbrubeck commented on #56073
cc @rust-lang/docs

[2020-12-30 00:02] briansmith commented on #77667
FWIW, my team has encountered an issue very similar to this in 1.47, but not 1.46, and only when we're compiling for 64-bit Android targets. This would indicate to me that this isn't a Windows-specific bug.

[2020-12-30 00:26] Ekleog commented on #62726
I must say I don't really have any strong opinions on the signature of this function, but thank you for asking! Both ways sound reasonable enough to me, as it's expected to be a low-level building block; though I must say that the alternative you suggested does “feel” slightly better to me (but I don't know whether this feeling is worth anything, especially as since futures-rs got its `write-all-v

[2020-12-30 01:03] briansmith commented on #77667
The beta channel is now already 1.50.0-beta. Instead you can follow the directions at https://blog.rust-lang.org/inside-rust/2020/12/29/1.49.0-prerelease.html to install the 1.49.0 pre-release.

I followed those instructions and built my projects with the 1.49.0 pre-release targeting Android and my build succeeded where previously the same configuration failed with 1.48.0 with `(signal: 11, SIGSEG

[2020-12-30 01:04] pietroalbini commented on #80494
I'll look tomorrow morning.

[2020-12-30 01:32] DemiMarie commented on #27970
Honestly, I don’t believe `std::env::set_var` can be made safe.

In a pure-Rust program, it is already safe, but in C, `setenv` is considered thread-unsafe.  Therefore, C libraries assume that they can call `getenv` at any time.  Furthermore, adding a call to `getenv` is probably not considered worthy of a major version bump in the C library, so what was previously a safe call into that library ca

[2020-12-30 02:02] jyn514 commented on #72243
@jhpratt and I found that this was actually https://github.com/rust-lang/rust/issues/77193 and not related to macros at all; it's fixed on nightly.

[2020-12-30 02:08] matthiaskrgr opened #80498 "x.py could handle submodule checkout failure more gracefully"
If `x.py` can't check out the right commit of a submodule because the submodule has local edits that would be overwritten by the checkout, it crashes:
[code]

Perhaps this could be handled more gracefully (with some hints on how to revert the changes to the submodule, perhaps?)

[2020-12-30 07:29] ldr709 commented on #80317
Thank you for finding where the current rules are specified. When I searched I was unable to find the key terms.

I find the syntactic definition of outlives to be highly counterintuitive, but this also makes me worry that there are many subtleties that I am missing. I do not have the in depth knowledge of Rust's type system needed for telling if changing it would cause problems, let alone for wri

[2020-12-30 08:16] lnicola opened #80501 "Spurious unreachable_patterns with macro"
### Code

I tried this code:

[code]

I expected to see this happen: code should build fine

Instead, this happened: `unreachable pattern` in the first, but not on the second match

[code]

### Version it worked on

It most recently worked on:

[code]

### Version with regression

[code]

@rustbot modify labels: +regression-from-stable-to-beta -regression-untriaged

[2020-12-30 08:35] qrilka opened #80502 "Missing source links in std::iter::Iterator docs"
I was looking into https://doc.rust-lang.org/std/iter/trait.Iterator.html trying to find source code for the [`zip` method](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.zip)

I expected to see "src" with a link to the function source code.

Instead, there appear to be no such link and other methods (even [`next`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#tymethod.next

[2020-12-30 08:40] SNCPlay42 commented on #80501
searched nightlies: from nightly-2020-12-09 to nightly-2020-12-29
regressed nightly: nightly-2020-12-20
searched commits: from https://github.com/rust-lang/rust/commit/f74583445702e2e27ec4415376f2c540a83d7ded to https://github.com/rust-lang/rust/commit/1f5bc176b0e54a8e464704adcd7e571700207fe9
regressed commit: https://github.com/rust-lang/rust/commit/1f5bc176b0e54a8e464704adcd7e571700207fe9

<deta

[2020-12-30 08:41] CraftSpider commented on #80317
I posted a pre-RFC for amending 1214 on the internals forums, after doing a bit of consideration. It proposes relaxing the argument constraint for sure, maybe the return type constraint. Hopefully it will get some commentary.

The traits are a separate issue, as it would add more special casing than what currently exists, and is much more likely to have nuanced edge cases for custom impls.

[2020-12-30 08:47] lqd commented on #80501
cc @Nadrieril

[2020-12-30 08:49] CraftSpider commented on #27970
I think that while the thread unsafety is a significant issue, security unsafety is not the purpose of `unsafe`, and it's not practical for the std to decide what variables count as 'safe' sec-wise, as that is heavily dependent on both platform and even installed programs.

[2020-12-30 08:50] clarfonthey commented on #80483
Is `sort_unstable` actually guaranteed to be better, though? I thought that the main use case was to avoid allocating for embedded environments.

[2020-12-30 08:54] xd009642 commented on #34701
Just a few questions that occurred to me:

1. Is there a way to rename the default.profraw and also choose a location to save it? (might be nice to go in the target dir)
2. If a test launches another process in the project (e.g. for CLI integration tests) and will spawning a new process that's instrumented cause a new default.profraw to be created conflicting with the other one? I imagine one will

[2020-12-30 09:04] pJunger commented on #34701
I don't have any suggestion on how to get the derived traits displayed - if I'm not mistaken those macros would need to be expanded by rustc(?) I doubt that the LLVM project would want that included in llvm-cov.

@xd009642 Regarding the first - it's already mentioned [in the nightly book](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/source-based-code-coverage.html#running-the-ins

[2020-12-30 09:22] SkiFire13 commented on #80484
It sees your local `TryFrom` implementation and correctly accepts it, however the problem isn't on the call `foo::<WrappedContainer>()` (you can even remove that call and the error will still be there, [playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=35271b53cac9d89e86d0ab9078e690a6)), the problem is on the definition of `foo` itself (`fn foo<C: Containe

[2020-12-30 09:24] JohnTitor commented on #80062
Triage:

The current output with the latest nightly:
[code]

with `#![feature(const_generics)]`:
[code]

Neither snippet is ICE.

[2020-12-30 09:29] jazevedo620 commented on #74121
The solution for the Option case is to use something like:

[code]

I encountered the same error, and while I understand the compiler error/message, it sticks out in a toolchain that normally has very helpful compiler error messages. I agree that the help note could be clearer for the case with `Option` (where the intention likely isn't to use `Iterator` at all)

[2020-12-30 09:30] ChrisJefferson commented on #80483
Usually a quicksort/pdqsort will be faster than a mergesort/timsort. Both have code in them to handle partially sorted data. It can't be "guaranteed", because the algorithms are so different. Also, some changes like this were already done in #76541 .

[2020-12-30 09:31] JohnTitor commented on #75153
Triage:

<details><summary>The current output with the latest nightly</summary><div>

[code]
</div></details>

<details><summary>with #![feature(const_generics)]</summary><div>

[code]
</div></details>

Neither is ICE.

[2020-12-30 09:36] JohnTitor commented on #73980
Triage: This now emits a normal error about `const_generics` and compiles fine with a warning on the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=98d8e97584b3e13c1af81b3240f29950

[2020-12-30 09:54] crlf0710 opened #80504 "Keyword doc of `self` and `Self` points to the same file on windows."
Since windows filesystem is case insensitive, when installing rust-docs on windows, the `self` and `Self` pages conflicts, leaving only one of them accessible.

This is a specific case of #25879, but since it's in rust standard library. I think it deserves its own issue (and priority).

[2020-12-30 09:55] JohnTitor commented on #71922
Triage: This is no longer ICE (even with `const_generics`) on the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f0afc6e029354b7b4e933cb00c9b0cba

[2020-12-30 10:01] JohnTitor commented on #71202
Triage:
This is no longer ICE even with the `const_generics` feature flag: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=41675635317ae1129f2a8701dfc09824

[2020-12-30 10:04] JohnTitor commented on #69913
Triage:
This is no longer ICE even with the `const_generics` feature flag: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8069684ce72997079d8933e6e758fece

[2020-12-30 10:11] JohnTitor commented on #68875
This is no longer ICE even with the `const_generics` feature flag: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da62e951439946342683318b24b8c72a

[2020-12-30 10:12] Thomasdezeeuw commented on #62726
I agree with @Ekleog I don't really care about the signature either, I'm ok with both. The `&mut &mut` version is uncommon in Rust, but I think the `&mut -> &mut` is a little more awkward to use at times. For example `WriteAllVectored` from futures calls `mem::take` before each call to `advance` (https://github.com/rust-lang/futures-rs/blob/54f795f7f2b95cc925580d8d3537e01f09db3a7b/futures-util/src

[2020-12-30 10:18] JohnTitor commented on #67945
Triage: All the snippets including the original are no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fc90d68f3fd2b8958e7365870eee6202

[2020-12-30 10:22] JohnTitor commented on #67375
Triage:
This is no longer ICE with the `min_const_generics` stabilization: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9f1a1834d0d8a9624f4c629a0798ad90

[2020-12-30 10:24] JohnTitor commented on #66152
Triage:
This is no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2350135dbdd5165a3f4d0ef1ac8cfd38

[2020-12-30 10:35] JohnTitor commented on #64173
Triage:
This is no longer ICE with the latest nightly as well as #56445: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a9cdb892a6353014ff5b57258e3cd22c

[2020-12-30 10:36] ralfbiedert commented on #77667
Ok, I just updated stable via `RUSTUP_DIST_SERVER` to

[code]

When I run `cargo build` in the project now I get `STATUS_STACK_BUFFER_OVERRUN`:

[code]

[2020-12-30 10:38] #67375 closed

[2020-12-30 10:40] JohnTitor commented on #62708
Triage:

This is no longer ICE even with the `const_generics` feature flag on the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cc818f5389feef764f2689cfdeabfa03

[2020-12-30 10:44] amarao commented on #80485
Yes, I've tried to upgrade all dependencies, it does not help. Thanks for reply, I'll try to report it to the piston repo.

[2020-12-30 10:46] DemiMarie commented on #27970
What I meant is that while one could reasonably argue that writing into `/proc/self/mem` is unsafe, writing into `~/Downloads` is fairly clearly safe.  But if one is allowed to set GTK’s plugin path, then it is impossible to write a safe GTK binding.

This doesn’t even consider C libraries that call `getenv` from background threads.  I believe this is considered perfectly okay in C, but `std::env:

[2020-12-30 10:58] JohnTitor commented on #57739
Triage:
This is no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=591eaceab038059b9b68b7e940f5145a

[2020-12-30 11:00] ssokolow commented on #27970
I think it makes more sense to call it "out of scope".

Setting environment variables is such a common thing in interacting with the greater software ecosystem that I think declaring it unsafe would be akin to re-legislating whether leaking memory (and, thus, `Box::leak` and using `Rc` and `Arc` in ways that can't be proven free of reference cycles) should be `unsafe`.

[2020-12-30 11:03] andersk commented on #46139
Assuming that the underlying problem is not easy to fix quickly, we should at least work around it in the standard library. I opened #80505 for `Rc::ptr_eq`, `Arc::ptr_eq`, `Weak::ptr_eq`.

[2020-12-30 11:05] JohnTitor commented on #56445
Triage:
The reduced snippet (https://github.com/rust-lang/rust/issues/56445#issuecomment-502095133) and https://github.com/rust-lang/rust/issues/56445#issuecomment-524494170 are no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2d74015d14721b961d717ac11c343a0c

[2020-12-30 11:06] rylev commented on #80468
Assigning [`P-medium` as discussed as part of the Prioritization Working Group procedure and removing I-prioritize](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380468.20ICE.20in.20rustc_infer.20error.20reporting.20on.20elided.20lifetim.E2.80.A6).

[2020-12-30 11:35] JohnTitor commented on #51892
Triage:
This is no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=76f84478a83b3a63284a65e0b3580c35

[2020-12-30 11:37] JohnTitor commented on #47814
Triage:
This is no longer ICE with the latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fcbba8b50e86684074a03bc27d825d91

[2020-12-30 11:38] yoshuawuyts opened #80506 "Diagnostics hint for const generics missing"
## Current Behavior

Given the following code:

[code]
where `Iterator::combinations` is defined as:

[code]
The following diagnostic is provided:
[code]

**Attempting a fix, and failing:**

Naively I thought I could fix this by adding a turbofish, but that doesn't seem to help:

[code]
[code]

## Expected behavior
Providing a hint on how to correctly define const generics would be immensely helpf

[2020-12-30 11:39] JohnTitor commented on #46511
Triage:
This is no longer ICE with the latest nightly (`min_const_generics` forbidden the cause): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c8200436be73d107af9c0b11979d0059

[2020-12-30 11:43] yoshuawuyts commented on #80506
Found the solution to my bug by the way. This did the trick:

[code]

I think it's fair to say that the diagnostics were not a great help here. And in particular providing the wrong param (`[usize; 2]`) yielded confusing diagnostics.

[2020-12-30 11:46] XAMPPRocky opened #80507 "Provide more helpful error message when trying to use const generic defaults"
Defaults are currently not implemented in const generics. With `min_const_generics` stabilising soon, I've been using them more and one thing that is surprising is the lack of defaults. Especially when you try to declare a default, the error message provides a unexpected syntax error, when I would expect a "defaults in const generics is not implemented" error, leading you to think that there's ano

[2020-12-30 11:58] varkor commented on #62708
I think we already have several tests for this case already, so it should be safe to close now.

[2020-12-30 11:58] #62708 closed

[2020-12-30 12:02] varkor commented on #64260
@slerpyyy: yes, see https://github.com/rust-lang/rust/issues/64260#issuecomment-723161462. There was a desire to see how useful `then_some` was in practice as a shorthand. This pattern (taking a value vs taking a closure) is already common throughout the standard library.

[2020-12-30 12:04] lcnr commented on #57739
afaik we already have a bunch of similar test cases so I am going to close this without adding it as a test

[2020-12-30 12:04] #57739 closed

[2020-12-30 12:05] lcnr commented on #69913
we already have a bunch of similar tests, closing without adding an an additional one

[2020-12-30 12:05] #69913 closed

[2020-12-30 12:06] jplatte opened #80508 "Type mismatch method suggestion doesn't work for as_deref"
It would be really nice if the mismatched type diagnostic would work for `as_deref`. Currently, trying to use `Option<Vec<String>>` where `Option<&[String]>` is expected doesn't give a method call suggestion the way one gets a suggestion to borrow when trying to use `Vec<String>` where `&[String]` is expected.

[code]

^ no suggestion

[2020-12-30 12:06] lcnr commented on #71922
we already have a bunch of similar tests, closing without adding an additional one

[2020-12-30 12:06] #71922 closed

[2020-12-30 12:07] lcnr commented on #73980
we already have quite a few similar tests here, closing without adding an additional one

[2020-12-30 12:07] #73980 closed

[2020-12-30 12:08] lcnr commented on #75153
will require `feature(const_evaluatable_checked)` to work, closing without adding a test as we already have some similar ones

[2020-12-30 12:08] #75153 closed

[2020-12-30 12:10] jplatte commented on #80508
Hm actually it also doesn't work for `as_ref` or `cloned` / `copied`. Are there just special cases for some `&str` / `String` and `Vec` / slice method but no general mechanism?

[2020-12-30 12:15] lcnr commented on #80506
can you provide a full example for this? we should emit a suggestion to use a const arg here.
For example in https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dd05e205a3af777ec388a4dba98e66e8

[2020-12-30 12:21] RalfJung commented on #80485
Potentially some dependency needs to change its upstream version as well -- you can check the lockfile to see which version of winit you are using. `cargo tree` can help to figure out where the dependency comes from.

[2020-12-30 12:30] GuillaumeGomez commented on #56073
Strange I never saw this issue. So about this: it's the expected behavior. After we can debate if we want to change this or not, but it's currently not considered as a bug.

[2020-12-30 12:38] varkor commented on #80507
Perhaps the simplest solution is to extract the parsing for const generic defaults from https://github.com/rust-lang/rust/pull/75384, but unconditionally emit an error in `ast_validation.rs` if they're used. I think it's very likely we'll want to support const generic defaults before too long, so hopefully the solution is going to be temporary anyway.

cc @JulianKnodt in case you're interested fix

[2020-12-30 12:46] apiraino commented on #80351
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380351.20ICE.20on.20stable.20and.20nightly.3A.20.5Bcodegen_fulfill_obligati.E2.80.A6) and removing `I-prioritize`.

[2020-12-30 12:47] apiraino commented on #80351
At a cursory look it seems to this ICE started after 1.26
https://rust.godbolt.org/z/6sjTY6

[2020-12-30 12:52] apiraino commented on #80501
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380501.20Spurious.20unreachable_patterns.20with.20macro) and removing `I-prioritize`.

[2020-12-30 13:10] apiraino commented on #79099
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/search/79099) and removing `I-prioritize`.

[2020-12-30 13:35] SimonSapin commented on #80216
What’s wrong with calling `std::iter::once(1)`? That also doesn’t need an import.

[2020-12-30 13:49] apiraino commented on #80336
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380336.20ICE.3A.20found.20unstable.20fingerprints.20for.20optimized_mir.20w.E2.80.A6) and removing `I-prioritize`.

[2020-12-30 13:51] apiraino commented on #80336
@rustbot ping cleanup

might be interesting to follow up on the great `@Aaron1011` analysis and see how can be reproduced on a smaller scale, possibly checking if it's a WASM target only issue and it it also happen on other than nightlies

[2020-12-30 13:52] RalfJung commented on #80489
In particular, if the CTFE version cannot be implemented in Rust, we can easily add an intrinsic there -- no need to have another "selection" mechanism.

[2020-12-30 13:53] apiraino commented on #80127
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380127.20rustc.20has.20wrong.20signature.20for.20C.20function.20with.2016-byt.E2.80.A6) and removing `I-prioritize`.

[2020-12-30 13:55] mbartlett21 commented on #80377
Should this be mentioned in #57563?

[2020-12-30 14:13] jyn514 commented on #80501
Slightly minimized:
[code]
If you remove `ApplicationTy` it stops giving the warning for some reason.

[2020-12-30 14:16] rylev commented on #80165
Where we are now:

**Promote to deny**:
* ELLIPSIS_INCLUSIVE_RANGE_PATTERNS
* ELIDED_LIFETIMES_IN_PATHS

Do the above need discussion, or are the uncontroversial?

**Needs more discussion**:
* MACRO_USE_EXTERN_CRATE: this is currently allow by default. More discussion needs to happen (likely in #52043) on whether this should be promoted to warn. This is likely to fall in the same category as other

[2020-12-30 14:20] varkor opened #80512 "Suggestion to reorder generic parameters ignores type defaults"
[code]
results in:
[code]
when it should be:
[code]
This should be easy to fix: just replace `ident` in the following line with an appropriate format string.
https://github.com/rust-lang/rust/blob/d107a87d34c1fc3521aaab7a2576ffbaf59cb2cb/compiler/rustc_ast_passes/src/ast_validation.rs#L1157

[2020-12-30 14:45] mgeier commented on #63567
@RalfJung

Sorry that I'm using such naive and hand-wavey terminology.

But that's how I, as a humble Rust user, think about it. I have a `MaybeUninit<T>` variable which I, let's say initialize with some FFI function. Now the bits in memory have already the correct values, but in order to further work with it, I'd like to turn it into a `T`, which logically only does one thing: it "activates" the

[2020-12-30 14:46] oli-obk commented on #80489
If we make it an intrinsic, we can't write the runtime version in Rust. Or am I misunderstanding what you mean by *another* selection mechanism? I want us to have the following schemes in the end:

1. the current intrinsic scheme for when we need custom CTFE code and custom codegen for an operation
2. a scheme that allows us to write the runtime code in Rust and only have to provide a CTFE handler

[2020-12-30 14:51] matthiaskrgr commented on #80336
I was able to reproduce this on `x86` in the rust-analyzer repo with `-Zincremental-verify-ich=yes`, so probably unrelated to `wasm`.

in the rust analyzer repo:
[code]

I am able to reproduce on
`1.48.0 (7eac88abb 2020-11-16)`
`1.50.0-beta.1 (05b602367 2020-12-29)`
and
`1.51.0-nightly (158f8d034 2020-12-29)`
if I enforce the `-Zincremental-verify-ich=yes` flag.

[2020-12-30 14:52] RalfJung commented on #80489
We make *the const part* an intrinsic. Like
[code]

[2020-12-30 14:56] RalfJung commented on #63567
Well, the main meaning (I'd say) is that initialization is done and the compiler may now assume that the data is initialized. So I don't think meaning is "stripped".

But anyway, this is useful feedback, even if I don't quite know what to do with it. ;) Thanks!

[2020-12-30 15:42] pietroalbini commented on #80494
The fix is https://github.com/rust-lang/rust/pull/80514.

By the way, this bug was not related to being in the same directory as the source code or not. When you were on the same directory you were using an old copy of the needed files in the `build` directory.

[2020-12-30 15:46] apiraino commented on #80059
Removed the compiler team label as this issue [seems more of interest](https://github.com/rust-lang/rust/issues/80059#issuecomment-751525053) for the lang team

[2020-12-30 15:51] max-heller commented on #80512
@rustbot claim

[2020-12-30 15:53] carbotaniuman commented on #27970
I don't know why there's a tangent about security unsafety, but I think the parent was talking about how set_env automatically races with every single use of getenv by C/C++/FFI code. A data race is as UB as it gets.

[2020-12-30 16:07] panstromek opened #80516 "ICE after WSL crash"
Whole WSL crashed during `cargo test` and me doing something in the IDE at the same time. The build folder probably got corrupted somehow, which is understandable in this situation.

I don't really know if this is actionable or even meaningful to fix, but I reported it anyway, just in case.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summar

[2020-12-30 16:16] clarfonthey commented on #80483
Yeah, my point is that I don't think that really anything is guaranteed about `sort_unstable` besides a lack of allocation and hence it might not be the best to blanket suggest it.

[2020-12-30 16:39] snoyberg opened #80518 "Lifetime parameters on self + impl Traits requires unexpected workaround"
This may simply be that I'm misunderstanding something. But I was surprised by the workaround necessary to make the following code work. When working on the [Xorcism exercise in Exercism](https://github.com/exercism/rust/tree/master/exercises/xorcism), I needed to return an `impl Iterator<Item=u8>`.  This was complicated by the presence of two different lifetime parameters (the `'a` parameter from

[2020-12-30 16:50] elomatreb commented on #31100
As someone unfamiliar with the processes of Rust development, is there a chance of getting this into one of the upcoming releases?

[2020-12-30 16:53] yoshuawuyts commented on #80506
Oh wow, the diagnostics for `array_windows` is heaps better! A full implementation of const `Iterator::combinations` can be found here: https://github.com/yoshuawuyts/const-combinations/blob/main/src/lib.rs

[2020-12-30 17:03] ssokolow commented on #27970
My point is that `set_env` has so many uses in purely safe projects that marking it unsafe would be like a more minor version of marking `println!` and friends unsafe because an FFI dependency might write to stdout or stderr without acquiring the lock... and I doubt you'd consider that a reasonable change.

It honestly wouldn't surprise me if such a change resulted in a `safed_setenv` crate that j

[2020-12-30 17:13] carbotaniuman commented on #27970
I understand that unsafe should only be used for memory safety, and that's what I'm saying. Glibc, musl, basically all Unix libcs says that messing with setenv is out of scope, and their official reocmmnedation/requirement is to not call it when you have threads.

I'm mainly talking about the `localtime_r` and `getaddrinfo` case. If the only way to express those functions **soundly** is to be unsa

[2020-12-30 17:19] Nemo157 commented on #27970
`std::env::set_var` could be made sound to FFI by making it purely affect the Rust runtime's environment variables. That means any variable set by it could only be read via `std::env::get_var`, and would probably make it more expensive as it would have to CoW the C environment variables, but that is the only approach that seems to allow disconnecting its soundness from the soundness of the underly

[2020-12-30 17:35] umanwizard opened #80520 "Confusing error message with recursive "use" statements."
I tried this code:

[code]

I expected to see this happen: Error due to recursive use statements.

Instead, this happened:
[code]

This is confusing because there _is_ in fact a `bar` in `a`; it's just defined circularly.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-12-30 17:45] nagisa commented on #80518
To answer your question:

The reason you are seeing this issue is coming up because the closure is capturing a `&'b mut Xorcism<'a>` – note the both lifetimes present here. However, the code does not specify the relationship between the lifetimes `'b` and `'a` aywhere, so they are considered unrelated. So while the return type was specified to contain references living for at least `'b`, it also n

[2020-12-30 17:54] nagisa commented on #80518
Actually, I'm going to reopen this, as I myself felt somewhat unsure about the details in the answer above as I thought about it a little bit more.

[2020-12-30 18:03] max-heller commented on #80512
For the record, it's not quite this simple, as doing so results in incorrect output when the parameter also has bounds. For example, it would render `T: 'a = ()` as `T = (): 'a` because bounds are printed after the `ident`

[2020-12-30 18:24] #80134 closed

[2020-12-30 18:44] tmandry commented on #80494
Ah, then thanks for the fix and sorry for the confusion!

[2020-12-30 18:50] leonardo-m commented on #79557
Now (rustc 1.51.0-nightly 158f8d034 2020-12-29) this code:
[code]
Gives:
[code]

  The last two lines (the note and the second help) seem off to me.

[2020-12-30 19:09] petrochenkov commented on #79597
How far is the implementation state from being able to construct a `FxHashMap` at compile time?

It would be pretty useful for string interner in the compiler itself given that available static alternatives like `phf` appear to be slower  in this case (https://github.com/rust-lang/rust/pull/80420#issuecomment-752724455).

[2020-12-30 19:29] snoyberg commented on #80518
Thank you for the thorough answer here, I appreciate it. And apologies if I shouldn't have opened the issue in the first place. It's true that I wasn't sure if this was a bug or expected behavior, but I believe more clarity in the error message would still be helpful.

As to your comments about relationship of the lifetimes: I didn't want to overload the initial issue with all the variations I've

[2020-12-30 19:40] varkor opened #80528 "Support `_` for const inference with const generics"
Currently, users may specify `_` in place of a type: the compiler will then suggest the intended type. This ought to work for consts too, but currently does not (see https://github.com/rust-lang/rust/issues/79557).

[code]
The difficulty is that the intended use of `_` (as either a type or const) is ambiguous until type checking, so runs into the same problems as #66615 and #77773.

[2020-12-30 19:40] varkor commented on #79557
Opened https://github.com/rust-lang/rust/issues/80528 for actually supporting this feature, rather than diagnostics suggesting it to be invalid.

[2020-12-30 20:02] smmalis37 commented on #67894
I had thought that the type inference would be able to essentially follow this path of logic:
1. The return type of the function is Result<u32, Box<dyn Error>>.
2. map_err does not change the type on the Ok side of the Result (u32).
3. Therefore the return type of parse must be u32.
4. Therefore the type of x must be ParseIntError.

We can see from the last example that it can follow from step 3 o

[2020-12-30 20:05] jyn514 commented on #78796
I'm going to close this in favor of https://github.com/rust-lang/cargo/issues/6783; I don't think rustdoc should be clearing documentation or keep track of state between runs. I'm happy to collaborate with cargo on a fix for this, but I don't think rustdoc can fix it in isolation.

[2020-12-30 20:05] #78796 closed

[2020-12-30 20:19] jyn514 commented on #66581
I'm working on this in https://github.com/rust-lang/rust/pull/79540.

[2020-12-30 20:24] jyn514 commented on #72243
Since intra-doc links are already stable, and since this is following the same rules of the language, we do not plan to change the behavior here.

[2020-12-30 20:24] #72243 closed

[2020-12-30 20:25] #55420 closed

[2020-12-30 20:28] jyn514 commented on #54786
Is this still necessary? If the styles are served from a website (like docs.rs), it can add its own caching. If you're looking at local documentation, caching doesn't really matter because everything is loaded from disk.

FWIW, rustdoc does allow distinguishing these with `--resource-suffix` as long as you pass it explicitly, that's how docs.rs does it: https://github.com/rust-lang/docs.rs/blob/bc

[2020-12-30 20:32] camelid commented on #80216
It adds noise and is verbose in my opinion. In my experience, it's almost always used as part of a chain with a bunch of other things and looks weird with the `std::` prefix:

[code]

vs.

[code]

I also generally find `std::`-prefixed paths to be somewhat ugly. But `iter::once` is just my personal preference :)

[2020-12-30 20:34] jyn514 commented on #49514
@Manishearth suggested adding an attribute that means "compile fully, but don't run" (e.g. `build`).

[2020-12-30 20:36] camelid commented on #80351
@apiraino If I use bare `dyn Trait` syntax (i.e. remove the `dyn`), [I get an ICE as far back as 1.9](https://rust.godbolt.org/z/ce9oPe). Not sure if it's the same ICE though:

[code]

[2020-12-30 20:39] camelid commented on #80214
@ZPTX4869 I'm not sure why you closed this. It seems likely this is a bug that needs to be fixed.

[2020-12-30 20:49] Manishearth commented on #49514
Thinking more about it I don't actually think people will want to use that, but what people might want is to have security in knowing their code isn't ice prone.

Which ... Most of the causes for ICEs specific to a certain library's code are typically related to analysis, so maybe this is fine. I'm not sure.

[2020-12-30 21:22] CraftSpider opened #80531 "ICE with const-generic enum pattern"
### Code

[code]

Note: The actual variant matched seems to be irrelevant, the significant part is the `::<N>`. This does not need any feature flags, and adding either `min_const_generics` or `const_generics` does not fix it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-30 21:28] camelid commented on #80531
This seems like it's part of `min_const_generics` – and enabling `min_const_generics` doesn't fix it – which is worrying.

@rustbot prioritize

[2020-12-30 21:29] CraftSpider commented on #80531
Correct, I ran into this with no feature flag

[2020-12-30 21:32] camelid commented on #80516
@panstromek Did running `cargo clean` stop the issue from occurring? Also, updating to a recent nightly *may* fix the issue (yours is 4 months old).

[2020-12-30 21:35] oli-obk commented on #79597
Very far. This requires not just const heap, but also all kinds of trait methods to be `const`, which has its own blockers (I should really update the const skill tree with all the new information I have now. I guess since we are on nightly we can go quite crazy with feature gates, but we'd first have to implement appropriate const stability attributes for trait impls so we can make trait impls in

[2020-12-30 21:38] camelid commented on #80531
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380531.20ICE.20with.20const-generic.20enum.20pattern) in the prioritization working group.

[2020-12-30 22:02] faern commented on #63567
That's not the only thing calling `assume_init` does. It gives you a `T`! You did not have a `T` until that point in the code. Meaning you can now suddenly have access to the fields and methods on `T`, something you did not have on the `MaybeUninit<T>`. At least not safely and easily.

[2020-12-30 22:31] scottmcm commented on #80216
I'm not seeing what makes `iter` special enough to be worth doing this.  I could easily also argue for `mem` for `mem::replace`, or `fs` for `fs::read_to_string`, or ...

On `.chain(iter::once(x))` specifically, note that it can also be written as `.chain(Some(x))` if one wants to save an import.  So if that's not happening already, then maybe the import isn't all that annoying in practice.  (And

[2020-12-30 22:38] camelid commented on #80216
Yeah, adding those imports bothers me too ;)

Maybe the solution is for me to switch to rust-analyzer 😄. The annoying part for me is having to go to the top of the file and add the import in every file where I use `iter::once`. RLS has auto-imports, but they tend to be buggy – e.g., they'll be put between a `#[derive]` and the struct it's applied to.

[2020-12-30 22:49] richkadel commented on #34701
@pJunger I think I have to correct my reply here. While experimenting with an unrelated issue, I happened to compile a test program that executed `eq` and `ne`, and I was pleasantly surprised to see that these functions **_are_** counted separately:

[code]

`llvm-cov show` views the coverage of each trait function as a different variant for the same code region, in the same way generics and closu

[2020-12-30 22:51] panstromek commented on #80516
Yes. Cargo clean fixed the issue. I also forgot mention that this only happened during release build, debug worked fine. The WSL crash happened during release build, so it probably just broke some related files

[2020-12-30 22:57] oli-obk opened #80536 "MIR body serialization may be a bottleneck"
What's interesting to me is that in the incremental cases, we lose some time to `optimized_mir` as expected but this is often offset by wins in `codegen`, however the other place we regress is time spent dealing with the incremental cache. That suggests to me that our MIR is larger due to inlining which causes more time to be spent during serialization/deserialization.

It might be worth exploring

[2020-12-31 00:04] maboesanman commented on #34701
Would it be possible to exclude lines which call unreachable!() ?

for example, here is a file from the coverage for my project:
https://codecov.io/gh/maboesanman/cozal/src/master/src/core/transposer/curried_input_future.rs

note that unreachable!() is marked as missed despite this being correctly covered.

[2020-12-31 00:13] abonander commented on #66693
No, because breaking changes are allowed to be made to unstable features without moving to a new edition; that's kinda the whole idea. The 2021 edition will effectively just extend the same restriction to all `panic!()` invocations, const context or not.

[2020-12-31 00:15] richkadel commented on #34701
@maboesanman That link doesn't work for me.

All - It would be better to file separate Issues or feature requests that can be tracked, rather than adding additional requests to this Issue. (I think this issue is resolved and should be closed?)

[2020-12-31 00:19] maboesanman commented on #34701
@richkadel where do you suggest these feature requests get made?

[2020-12-31 00:20] pJunger commented on #34701
@richkadel Thank you for the update! I had hoped that the `export` command would provide more information on this.
But it seems like uncovered functions don't show up in the exported JSON as well. Maybe some future version of llvm-cov will provide better information.

[2020-12-31 00:23] #80062 closed

[2020-12-31 00:25] LeSeulArtichaut opened #80540 "ICE using `#![feature(extended_key_value_attributes)]` in an attribute for a macro"
Found an ICE with `#![feature(extended_key_value_attributes)]` when trying to use it in the standard library (#80534).
cc @petrochenkov #78835.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-31 00:27] richkadel commented on #34701
@maboesanman - I'm not an expert on the rust-lang/rust processes, but starting with https://github.com/rust-lang/rust/issues/new/choose, I see there's an entry for "Feature Requests", and granted, it doesn't suggest filling out a form, but there's a link and a note, "Please discuss language feature requests on the internals forum."

Perhaps someone from the compiler team can provide better instruc

[2020-12-31 00:29] LeSeulArtichaut commented on #80540
I can hit an additional ICE by using an unknown attribute instead of a valid one:

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I don't really think it's useful for this issue though, since it's a delayed error.

[2020-12-31 00:44] LeSeulArtichaut commented on #80336
Adjusted the labels and title according to Aaron's analysis, the big question regarding this issue being:

[2020-12-31 00:46] matthiaskrgr opened #80541 "./x.py: cranlift source paths not mapped to repo root"
When `./x.py` builds librustdoc for example, all paths are originating from the repo root:
`    --> src/librustdoc/passes/collect_intra_doc_links.rs:2191:16`
This this is not the case for recently added cranelift but I guess it should be..?
`   --> src/intrinsics/mod.rs:827:14`
This shouldn't this be `   --> compiler/rustc_codegen_cranelift/src/intrinsics/mod.rs:827:14`?

[2020-12-31 01:14] jturner314 opened #80542 "Operator impl causes compilation error for an expression of the operator with unrelated types"
The existence of an implementation for `Add<Container<A>> for X where X: Add<A>` causes a compiler error under certain circumstances for expressions of the form `X + X`. Here's an example:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=29c9a7a05f3becc08931d5761a4a4fb5))

I expected this to compile without errors. Instead, I receive the following erro

[2020-12-31 01:25] apiraino commented on #80365
Patch arrived really fast, we are assigning "post-mortem" a priority of `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380365.20UB.20inside.20Weak.3A.3Ainto_raw) and removing `I-prioritize`.

[2020-12-31 01:38] ahl opened #80545 "regression processing c-style doc comments in proc macros between 1.46 and 1.47"
When a proc macro is applied to an item that has an associated c-style doc comment the contents of the `TokenStream` changed between 1.46 and 1.47. In particular the surrounding `*` and newlines were previously elided (mostly), but as of 1.47 they are not.

### Code

Here's a little repo I put together to demonstrate and reproduce the issue: https://github.com/ahl/cdoc_regression. It contains a pr

[2020-12-31 01:44] jyn514 commented on #80545
I tested and this doesn't affect rustdoc, which strips `\n *` in both versions.

[2020-12-31 01:46] pickfire commented on #56073
@GuillaumeGomez If there is a page and you want to see all the subsequent methods, how do you do it? Do you click on all the "expand undocumented items" one by one and then `ctrl-f` to search for the relevant function or maybe click on each trait implementations to find the relevant function?

In diesel, I missed the `establish` function (for `SqliteConnection`) just because I didn't click on the

[2020-12-31 01:47] ishitatsuyuki commented on #54786
You're right, `--resource-suffix` can solve the issue most of the time. I'm closing the issue since it's getting old.

[2020-12-31 01:47] #54786 closed

[2020-12-31 02:15] ehuss commented on #49514
FWIW, this is more than just about ICEs.  Any errors that only appear after analysis will not be caught.  There is the opposite problem with the `compile_fail` attribute, where it halts compilation too early, so it can't actually catch all errors (see https://github.com/rust-lang/reference/blame/6d6debcbabdeae109e086f7db6374fcd6d7a334b/src/attributes/limits.md#L45-L58 as an example).

For example,

[2020-12-31 06:14] maboesanman opened #80549 "Don’t insert coverage counters for unreachable!() code"
With the introduction of source based code coverage, I ran into this quirk:

![73A8B6C2-5494-4D7C-AA02-6AC39614CA60](https://user-images.githubusercontent.com/3190108/103397119-77612000-4afc-11eb-9412-1a3c5de45afe.jpeg)

This seems like it should be a fully covered function but an unreachable counter has been placed on the invocation of the unreachable!() macro.

Would it be possible to make calls

[2020-12-31 06:52] syncing0x commented on #20445
?

[2020-12-31 07:07] HTG-YT commented on #53667
Currently if I had to match against two different `Option<T>`s I'd have to:

[code]

IMHO this works, but not an ideal way to me. I like the idea of this RFC. Looking forward to this in Rust! 👍

[2020-12-31 09:08] DemiMarie commented on #27970
Another approach would be to have `std::env::set_var` fail if multiple threads are running.  This is trivial on Linux if `/proc` is mounted.

This is my preferred approach for several reasons:

- It allows programs that call `std::env::set_var` early in `main` to continue to work.  This is useful for setting parameters for C libraries, for example.
- We can expose the “are multiple threads running

[2020-12-31 09:46] jhpratt commented on #27970
@DemiMarie By fail, I presume you mean panic?; `env::set_var` doesn't return a `Result`/`Option`. It's certainly an option, though the behavior would certainly have to be clearly documented.

<sup>(for those wondering, the uptick in activity is because I created a thread on IRLO)</sup>

[2020-12-31 09:56] DemiMarie commented on #27970
@jhpratt yes, panic.  I can’t think of any legitimate uses for changing environment variables (which, by definition, are global state) when multiple threads are running.

[2020-12-31 11:10] Kerollmops opened #80552 "Tracking Issue for the GroupBy and GroupByMut iterators"
Feature gate: `#![feature(slice_group_by)]`

This is a tracking issue for the `GroupBy` and `GroupByMut` iterators.

This feature exposes the `group_by` and `group_by_mut` methods on the slice and mutable slice types, these methods return the `GroupBy` and `GroupByMut` iterators structs respectively. Those two iterators return subslices of the original slice where a user-defined function returns `

[2020-12-31 11:55] overlisted commented on #53667
@HTG-YT But you can't do something like this:
[code]

It's what I will be using this feature for the most.

[2020-12-31 12:00] #61592 closed

[2020-12-31 12:15] GuillaumeGomez commented on #56073
To put it simply: I don't know. The rust doc pages are already super heavy but it remains hard to find some information (on traits mostly). So maybe just changing the behavior of the "expand all docs" button might be enough?

[2020-12-31 12:32] m-ou-se commented on #79885
@jnqnfe Thanks for working on this! I've edited this tracking issue to match the new template for library tracking issues we have now. (It didn't exist yet when you opened this issue. But from now on there should be a 'library tracking issue' option when filing a new issue.)

To make sure the discussion doesn't split over two different issues/PRs, we prefer to keep everthing including the stabiliz

[2020-12-31 13:21] apiraino commented on #80545
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380545.20regression.20processing.20c-style.20doc.20comments.20in.20proc.20m.E2.80.A6) and removing `I-prioritize`.

[2020-12-31 13:30] GabeRealB opened #80556 "ICE when returning an repr(i8) enum from an extern c function"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-31 14:03] fleabitdev opened #80557 "Rustdoc doesn't use re-exported type aliases in function signatures"
The `glsp` crate publicly re-exports everything from the `glsp_engine` crate:

[code]

The root of the `glsp_engine` crate defines a type alias, `GResult`. (This type alias is actually re-exported from a private module within the `glsp_engine` crate, but if I replace it with an inline definition, the bug doesn't change.)

[code]

When documenting the `glsp_engine` crate directly, Rustdoc will [cor

[2020-12-31 14:05] matthiaskrgr commented on #80556
@rustbot modify labels: +regression-from-stable-to-stable
This happens since rust `1.24`

[2020-12-31 14:15] nagisa commented on #80556
[code]

More minimal reproducer. Does not occur with just 1 variant. Affects most targets if not all of them, despite the failure seemingly occurring inside the target-specific code.

[2020-12-31 14:36] nagisa commented on #80549
`unreachable!` is entirely a library thing and is just a special case of `panic!`. Seems to me like it'd be presumptuous in a way to handle `panic` specially for the purposes of coverage, and making `unreachable!` itself special in the compiler is probably too heavy-weight...

Perhaps what we want here is some attribute or something of that sort that prevents insertion of counters in a more genera

[2020-12-31 14:43] jyn514 opened #80559 "Rustdoc treats primitive disambiguators incorrectly"
I tried this code:

[code]

I expected to see this happen: Rustdoc links to https://doc.rust-lang.org/nightly/std/primitive.str.html#method.trim.

Instead, this happened: Rustdoc gets confused that `()` means a function and thinks that the link is a primitive.

[code]

### Meta

`rustdoc --version`:
[code]

Relevant code: https://github.com/rust-lang/rust/blob/a6bd5246da7806786b5c1f61d05a957c9ae68

[2020-12-31 14:45] jyn514 commented on #80559
This is blocking https://github.com/rust-lang/rust/pull/75807 and made https://github.com/rust-lang/rust/pull/77875#discussion_r503583103 unnecessarily difficult.

[2020-12-31 15:00] matklad commented on #36497
For future GitHub travelers, investigating `clippy::vtable_address_comparisons`:

Looks like the methods were stabilized with the `?Sized` bound, while the current impl doesn't quite handle them. Specifically, `ptr_eq` can spuriously return `false` for identical trait objects. This is being tracked in https://github.com/rust-lang/rust/issues/69757.

[2020-12-31 15:15] DarkKirb opened #80561 "ICE when calling member function of const generic struct with associated constant as const parameter"
I have recently been toying with const generics again and they are in a signifficantly better state than when I last used them.
### Code
No special flags necessary to compile
[code]
This ICE stops occurring once you move new() out of the impl block. It happens regardless of the positioning of the zero() function.

### Meta

`rustc --version --verbose`:
[code]
also occurs on rust playground and old

[2020-12-31 15:55] pnkfelix commented on #80176
downgrading priority to P-high (because this is an old bug, not a regression and I would not consider it a release blocker), but also nominating for discussion because I want to talk about it at a future compiler team meeting with @nikomatsakis present.

[2020-12-31 16:15] dekellum commented on #56073
IMO, it would be an improvement to simply remove the "undocumented items" level of the hierarchy. Or at least I haven't seen the case where imposing this level is beneficial.  An associated benefit would be that "expand all docs" would then actually expands _all_ "docs" (sections).

Going a bit further toward the user intent of finding these methods, it would help further if all trait methods were

[2020-12-31 16:51] petrochenkov commented on #80540
Fixed in https://github.com/rust-lang/rust/pull/80563.

[2020-12-31 17:20] GuillaumeGomez commented on #56073
That could be an idea too.

[2020-12-31 17:50] Danue1 opened #80564 "Compilation succeeds even if there is #[inline] in the structure field."
I tried this code:

[code]

I expected to see this happen: Failing complilation.

Instead, this happened: Compilation success.

### Meta

`rustc --version --verbose`:
[code]

[2020-12-31 17:50] nvzqz commented on #57563
I noticed there's no tracking issue for `CStr::from_bytes_with_nul_unchecked`, which is feature gated behind `const_cstr_unchecked`. I would like to make use of this to safely create associated constants for a `#[repr(transparent)]` wrapper around `CStr`.

For example, the following would be safe:

[code]

Currently this is only possible by doing:

[code]

However I'm not technically allowed to do

[2020-12-31 17:52] matthiaskrgr commented on #80336
Much smaller repro:
[code]

[code]

[2020-12-31 17:59] matthiaskrgr commented on #80336
With the sample above, I can reproduce the ICE by inserting an empty line in the project inside `AVX2VectorBuilder::new()` :thinking:
( check out regex fc3e6aa19aaaf929fd89395ee976456b5b3a8720 , add the line and build with incr verification)

[code]

[2020-12-31 18:06] SimonSapin commented on #36497
This is not unique to these `ptr_eq` methods. Wide pointers to trait objects have been comparable with the `==` operator forever, with the same spurious results.

[2020-12-31 18:11] jyn514 commented on #80561
Slightly smaller:
[code]

[2020-12-31 18:16] matthiaskrgr commented on #80336
reduced as `lib.rs`
[code]

adding empty lines to this file will cause the ICE

[2020-12-31 18:21] kennytm commented on #75920
see #75180 for why it is missing (tl;dr: conflicting impl).

[2020-12-31 18:35] richkadel commented on #79565
My mistake for marking this `Fixed` in #79958. What I actually did in that PR was to make it possible to enable `-Z instrument-coverage` AND to force the `symbol-mangling-version` to `legacy`.

This gives the following result, and successfully compiles:

[code]

Legacy symbol mangling is not expected to work correctly when generating coverage reports, but at least this option shows the ICE is comi

[2020-12-31 18:35] richkadel commented on #79565
cc: @wesleywiser @tmandry

[2020-12-31 18:39] max-heller commented on #80559
@rustbot claim

[2020-12-31 18:44] richkadel commented on #34701
@xd009642 - also, you may be interested in the discussion at #79899, and the suggestion by @vmx to have `cargo` set default `LLVM_PROFILE_FILE` paths/names. I'm not sure if @vmx is thinking about implementing this, or if someone else is interested. (I don't have the time myself, due to shifting work priorities.) But I like the idea in general.

[2020-12-31 18:46] matthiaskrgr commented on #80336
Reduced even further
[code]

[2020-12-31 18:56] richkadel commented on #79175
The document does include the following statement:

I don't know if there's a strong reason to add a statement about this specific option. I wouldn't object if someone wants to make that change though.

[2020-12-31 19:01] richkadel commented on #79393
@wesleywiser, @tmandry  - I don't see a reply from @Diggsey to my request to re-try, but  I'm comfortable that the "Error output" mentioned in this issue was resolved.

Can we close this?

Thanks

[2020-12-31 19:05] Diggsey commented on #79393
I just tested this, and it does appear to be fixed, thanks!

[2020-12-31 19:05] #79393 closed

[2020-12-31 19:09] max-heller commented on #80559
@jyn514 which arm do you mean to add the match guard to?

[2020-12-31 19:10] jyn514 commented on #80559
@max-heller the one for telling if the resolved item is a primitive: https://github.com/rust-lang/rust/blob/a6bd5246da7806786b5c1f61d05a957c9ae68903/src/librustdoc/passes/collect_intra_doc_links.rs#L1176

[2020-12-31 19:16] max-heller commented on #80559
@jyn514 It looks like `self.kind_side_channel` is in fact `None` for `str::trim()`

[2020-12-31 19:23] Diggsey commented on #62061
What's the status on this? It's quite problematic that `mem::zeroed()` is not const... I'm having to do this just to create a semaphore:

[code]

Which is way more complicated and error-prone than it should be...

[2020-12-31 19:37] jyn514 commented on #80559
Oh hmm - the issue is that for primitives, rustdoc generates the anchor manually: https://github.com/rust-lang/rust/blob/a6bd5246da7806786b5c1f61d05a957c9ae68903/src/librustdoc/passes/collect_intra_doc_links.rs#L401-L402. I would try storing the `def_id` of the associated item in `kind_side_channel` instead, so you know later whether the anchor is a manual link (`str#method.trim`) or whether it wa

[2020-12-31 20:15] max-heller commented on #80559
Adding `self.kind_side_channel.set(Some((item.kind.as_def_kind(), item.def_id)));` in here
https://github.com/rust-lang/rust/blob/a6bd5246da7806786b5c1f61d05a957c9ae68903/src/librustdoc/passes/collect_intra_doc_links.rs#L394-L398
and adding the match guard seems to fix things, but also feels like a hack.

[2020-12-31 20:17] Nadrieril commented on #80501
Oh boy, this is unfortunate. I had found a clever scheme in https://github.com/rust-lang/rust/pull/80104 to deal with unreachable sub-patterns, but it relies on the assumption that the different alternatives in an or-pattern will have different spans.
Here both alternatives get given the span of `ApplicationTy` in the macro def, which breaks my clever idea :(. I'll have to think of a new idea that

[2020-12-31 20:20] ehuss commented on #80564
Some validation was added in #73461, but it looks like there are a few places that are missing.  The ones I can see are struct fields and match arms:

[code]

I believe that [`CheckAttrVisitor`](https://github.com/rust-lang/rust/blob/44e3daf5eee8263dfc3a2509e78ddd1f6f783a0e/compiler/rustc_passes/src/check_attr.rs#L866-L948) needs to include visitor methods for `visit_arm` and `visit_struct_field`.

[2020-12-31 20:37] maboesanman commented on #80549
I agree that unreachable!() shouldn't itself be special, but I do think if such an attribute were introduced it should be added to unreachable, as to me the same reasons for marking code as unreachable apply to whether or not you want to collect coverage on it.

[2020-12-31 20:43] wesleywiser commented on #34701
I think at this issue can now be closed. @richkadel has done a great job implementing this under the unstable `-Zinstrument-coverage` flag. Stabilization for this flag is being tracked in #79121 and related enhancements and bugs can be found by looking at the [`A-code-coverage` label](https://github.com/rust-lang/rust/labels/A-code-coverage).

Thanks @richkadel, @tmandry and everyone else for your

[2020-12-31 20:43] #34701 closed

[2020-12-31 20:45] camelid commented on #79139
This regression is now on beta. Nominated the PR for beta backport.

[2020-12-31 22:01] steveklabnik commented on #20400
Triage: these kinds of impls are still not accepted yet.

[2020-12-31 22:02] jyn514 commented on #80559
I mean, all of `kind_side_channel` is a hack because other parts of rustdoc break when you store the associated item instead: https://github.com/rust-lang/rust/commit/0c99d806eabd32a2ee2e6c71b400222b99c659e1. If you can figure out a way to get rid of it, I'd love to do that, but it will require some pretty major refactors I think.

[2020-12-31 22:03] steveklabnik commented on #60239
Triage: not 100% sure what all methods would need this here, it seems like the ones directly referenced aren't stabilized yet.

[2020-12-31 22:05] jyn514 commented on #80501
@Nadrieril I think if you call [`source_callsite`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/span_encoding/struct.Span.html#method.source_callsite) it will point to the pattern in the match instead.

[2020-12-31 22:43] Nadrieril commented on #80501
@jyn514 Sounds interesting! I'm not entirely sure it does what I want. What would `source_callsite` return if I called it on the span of `1` below? I would want to get the same span of `1`, but I suspect it would return the span of the `foo!()` invocation.
[code]

[2020-12-31 22:49] jyn514 commented on #80501
Yup, that's right. My idea probably wouldn't work then, sorry.

[2020-12-31 22:50] jsheard commented on #74372
Enabling `simd128` via `target-feature` seems to do the trick, this simple case gets vectorized: https://godbolt.org/z/hcaxxf

[2020-12-31 23:03] Nadrieril commented on #80501
In fact I came up with [this cursed thing](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ee855b8b038a9f35682b2e8a29aa32d5), where several different patterns really do have the same span. Unless I can distinguish a same span across different macro expansion paths, I don't think I can salvage my assumption from above.

[2021-01-01 00:34] oli-obk commented on #62061
still blocked on #57349 for which I have a PR open. We just need a bit of time to figure out all the edge cases.

[2021-01-01 01:00] mindv0rtex commented on #40552
I really enjoy using Rust for personal side projects. It made me a better C++ developer. I'm excited about stabilized const generics to be able to speed up my linear algebra code.
This issue though prevents me from recommending Rust for closed source development to my colleagues.

[2021-01-01 01:16] camelid opened #80570 "htmldocck: Don't silently ignore `!@has` comments"
Currently, htmldocck (the script that runs `src/test/rustdoc` tests) has two
primary test assertions: `@has` and `@!has`. `@has` checks for the presence of
text in tags selected with an XPath selector. `@!has` does the same, except it
checks for the *absence* of text. However, it is very easy to write `!@has`
instead of `@!has` by mistake (see #80565 for an example of some tests that used
`!@has`

[2021-01-01 01:19] monokrome commented on #73908
fwiw, Apple silicon macs report themselves as **arm64**:

[code]

[2021-01-01 01:30] ssokolow commented on #27970
@DemiMarie I'd be in favour of doing that and adding a couple of other versions, following the pattern of many other panicking operations in `std`:

* `fn set_var_checked` (Returns a `Result` with the error variant covering "threading in use" but also also taking over the existing "may panic if `key` is empty, contains an ASCII equals sign `'='` or the NUL character `'\0'`, or when the value conta

[2021-01-01 01:49] mbartlett21 commented on #67456
Cc. #57563

[2021-01-01 01:52] thomcc opened #80571 "`x.py test` should run tests for changed code first"
This is mostly just to speed up iteration time in a `{edit,compile,test}` cycle. It also matters more for doctests than normal tests, since these are the tests that . It would also be okay if this behavior were behind a non-default flag.

I gather (from @jyn514) that this is tricky because the testrunner doesn't know the right module name in all cases, but it would probably be fine to just take a

[2021-01-01 01:56] DemiMarie commented on #27970
@ssokolow I like `set_var_checked`, but prefer to avoid `set_var_unchecked`.  The problem is that `set_var_unchecked` doesn’t seem to have useful semantics: even if *right now* no other thread accesses the environment, this could change in a patch version bump of a dependency.  I cannot think of any legitimate uses for it right now, and I suspect that those that do exist would be okay with calling

[2021-01-01 02:00] ssokolow commented on #27970
@DemiMarie Fair enough. I suppose it's rare enough to need to change in-process environment after the initial setup phase that asking people adding a dependency on `libc` or `winapi` would be acceptable when one of the following is insufficient:

* Set the environment before starting the threads
* Use `Command::env*` methods when invoking subprocesses
* Do everything single-threaded

[2021-01-01 03:14] aspenluxxxy commented on #73908
@monokrome

1. yeah, aarch64 is usually only used by compilers and such.
2. also, run `file` on a system app like safari, it'll be `arm64e`.

[2021-01-01 03:41] #75342 closed

[2021-01-01 03:41] #79139 closed

[2021-01-01 03:41] #80468 closed

[2021-01-01 03:41] #80512 closed

[2021-01-01 03:41] #80531 closed

[2021-01-01 04:42] jyn514 commented on #78466
@varkor I think this is actually related to staging: `x.py build library/std` builds the stage0 compiler artifacts before building stage1 libstd with the newly built compiler. `x.py check` always uses stage 0, so `x.py check library/std` doesn't build the compiler.

[2021-01-01 04:51] jyn514 commented on #80096
I think this is a duplicate of https://github.com/rust-lang/rust/issues/78778.

[2021-01-01 04:52] jyn514 commented on #79933
Since this is fixed in 1.49 and there's no plan to backport a fix to 1.48, I'm going to close this. Feel free to give feedback about the 'maintainer' defaults, but I think belongs in a separate issue.

[2021-01-01 04:52] #79933 closed

[2021-01-01 04:55] jyn514 commented on #78734
I think this is probably a cargo bug; it's hard to tell without an MCVE.

[2021-01-01 04:55] jyn514 commented on #78509
This was fixed in https://github.com/rust-lang/rust/pull/78550.

[2021-01-01 04:55] #78509 closed

[2021-01-01 05:04] jyn514 commented on #76495
Note that at some point `test --stage 0 src/tools/clippy` broke: https://github.com/rust-lang/rust/issues/78717

[2021-01-01 05:06] jyn514 commented on #76408
Duplicate of https://github.com/rust-lang/rust/issues/76470 (this came first, but has less discussion).

[2021-01-01 05:06] #76408 closed

[2021-01-01 05:18] jyn514 commented on #59864
I have not gotten a lot of feedback about https://github.com/rust-lang/rustc-dev-guide/pull/857 except from new contributors. Do you think it explains this well enough to close the issue, or are there still parts of bootstrapping that are confusing? I'm happy to add more documentation if you think it will help.

(You can see the rendered docs at https://rustc-dev-guide.rust-lang.org/building/boots

[2021-01-01 05:24] jyn514 commented on #57963
I don't think the model of bootstrapping is going to change - I tried that in https://github.com/rust-lang/rustc-dev-guide/pull/843 and there was a lot of resistance to having to change mental models or the arguments to pass to x.py. So I think that means this is a duplicate of https://github.com/rust-lang/rust/issues/59864 and it doesn't make sense to track this in both places. Feel free to re-op

[2021-01-01 05:24] #57963 closed

[2021-01-01 05:26] jyn514 commented on #54491
@arielb1 are you still running into this issue?

[2021-01-01 05:28] jyn514 commented on #54259
@RalfJung are you still running into this issue? (I use `download-ci-llvm` myself and I would rather not rebuild llvm to test this.)

[2021-01-01 05:31] jyn514 commented on #52337
@ishitatsuyuki I can't reproduce this, `rustc = "/home/joshua/.local/lib/rustup/toolchains/nightly-x86_64-unknown-linux-gnu/bin/rustc"` works fine for me. Are you still running into this?

[2021-01-01 05:33] jyn514 commented on #52337
Well, it does give an error:
[code]
so I guess there's another bug that it should use the stage0.txt rustfmt instead of blindly using nightly. But that's a separate issue IMO.

[2021-01-01 05:40] ishitatsuyuki commented on #52337
Well, it's 3 years old. Time to close this, workflows have changed anyway.

[2021-01-01 05:40] #52337 closed

[2021-01-01 05:41] jyn514 commented on #48268
@pnkfelix your `../x.py` command works for me on master. Are you still running into this issue?

[2021-01-01 05:48] jyn514 commented on #46955
This is sort of a hack, but you can do this by
1. Building a stage1 compiler (`x.py build --stage 1 library/std`)
2. Adding a new git worktree (`git worktree add ../rust2`)
3. Setting the newly built compiler as stage 0 for the new worktree (`rustc = "/path/to/rust1/build/$TARGET/stage1/bin/rustc"`)
4. Running `x.py check` like normal.

I agree it would be great to support `x.py check --stage 1` o

[2021-01-01 05:49] jyn514 commented on #44737
@arielb1 are you still running into this? --keep-stage works fine for me.

[2021-01-01 05:56] jyn514 commented on #46180
I don't think this is actionable - either there's a bug in --keep-stage (which I don't think is the case), or it was user error passing --keep-stage 1 instead of --keep-stage 0. I highly recommend reading through https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html to see what the difference is.

See https://github.com/rust-lang/rust/issues/47389 - the rebuilds are not actually spurio

[2021-01-01 05:59] jyn514 commented on #41247
@daym are you still running into this issue? A lot has changed since 2017 ...

[2021-01-01 06:00] jyn514 commented on #42240
@Zoxc are you still running into this issue? x.py test --stage 2 works fine for me.

[2021-01-01 06:44] Havvy opened #80575 "`mod Keyword {}` should suggest `r#keyword` instead of `keyword`"
When you write a mod with a capital name of a keyword, we suggest changing it to the lowercase version of the keyword, which is, well, a keyword and not going to work. We should suggest converting the identifier to snake case and making it a raw identifier, or maybe suggest switching to an altogether separate name?

[code]

[2021-01-01 07:47] rust-highfive opened #80576 "`rls` no longer builds after rust-lang/rust#79576"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79576, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @m-ou-se, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-01 08:58] Manishearth commented on #59864
@jyn514 I think what we really need is a set of scenarios like:

 - I want to modify and test the stdlib
 -  I want to modify and test rustdoc
   - and test its impact on the stdlib
 - i want to modify and test the compiler
   -  and test its impact on the stdlib

There's _some_ of this in the first chapter, but there really should be more.

[2021-01-01 08:59] Manishearth commented on #59864
But the docs about what the stages themselves mean are good! That and `x.py` saying "building" vs "copying" has been helpful.

[2021-01-01 09:48] 1000teslas commented on #78938
Hi, I want to start contributing to Rust. Would this be a good first issue?

[2021-01-01 10:32] 1000teslas commented on #78938
@rustbot claim

[2021-01-01 12:28] Rustinante commented on #62358
Why is this feature even necessary? A lot of programming mistakes would be made due to the potential type confusion caused by this. Sometimes people will forget they're dealing with an `Option<HashSet<...>>` and call the `.contains` method on the option, thinking that it's actually a `HashSet`.

[2021-01-01 12:31] Rustinante commented on #62358
If some feature of this kind is really needed, I suggest calling it something like `is_some_eq`, where the `is_some_` prefix signifies that first of all it must be `is_some()` and then unwraps and compares under the hood.

[2021-01-01 12:35] Rustinante commented on #62358
@Centril please consider renaming this, the name collision will likely cause a lot of confusions and bugs down the road.

[2021-01-01 13:06] varkor commented on #78466
@jyn514: `x.py check` (without the path) emitted the correct error. Does this mean the `check` stage is affected by the path?

[2021-01-01 13:14] GuillaumeGomez opened #80577 "ICE rustc_middle/src/ty/query/on_disk_cache.rs index out of bounds"
Unfortunately, this error seems to appear randomly on my mac (version 10.15.5) with rustc `1.50.0-nightly (d32c320d7 2020-12-10)` so I can't provide a shorter code to reproduce it... After running a `cargo clean`, it works again. This happens when working on [sysinfo](https://github.com/guillaumegomez/sysinfo).

[code]

[2021-01-01 13:27] kleisauke commented on #44322
I also experience this bug when linking two Rust staticlibs (i.e. librsvg and rav1e) which was built with "fat" LTO enabled. I could workaround this with:
[code]
But it's something I'd rather avoid.

fwiw, the above mentioned link is now 404. It was probably linking to:
https://github.com/rust-lang/rust/blob/18d27b2c94cff9a5f6d8e4d2ea45f6f2e434e5f6/compiler/rustc_codegen_ssa/src/back/symbol_export

[2021-01-01 13:53] RalfJung commented on #54259
I haven't seen the warnings in a while, but maybe that just means the code was fixed to not warn any more.

I think this is not about the LLVM build but about the C shim that wires up LLVM and Rust. I don't know where that build is happening, nor how to test if it is happening too often.

[2021-01-01 13:56] daym commented on #41247
No, we are using rustbuild for all the rust releases we build and it works just fine nowadays.

Thanks!

[2021-01-01 13:56] #41247 closed

[2021-01-01 13:57] SimonSapin commented on #41517
@rust-lang/lang Does this feature seem ready enough to use in public standard library APIs?

https://github.com/rust-lang/rfcs/pull/2580 proposes adding `pub trait Thin = Pointee<Metadata = ()>;` (with `Pointee` a trait also added) and using it in `std::ptr::null`, replacing the implied `T: Sized` bound with `T: ?Sized + Thin` (in order to extend it to `extern types`). Without trait aliases, that

[2021-01-01 14:21] jyn514 commented on #38575
@steveklabnik it's relevant in the senses that building stage 1 libstd can still be a roadblock: https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html?highlight=hacky#building-the-compiler. Copying stage1 std to stage2 std is now done automatically, so that bit works:

[code]

The thing left is that @nikomatsakis suggested using *stage0* std for stage1, which seems difficult to

[2021-01-01 14:23] RalfJung commented on #74696
https://github.com/rust-lang/rust/pull/80579 (if we can land it) will stop promoting division unless we can prove the divisor is non-zero, so the original error here is gone.

However, [this issue](https://github.com/rust-lang/rust/issues/74696#issuecomment-669266691) remains -- the unconditional_panic (and arithmetic_overflow) lints are emitted more often than we might like; maybe we should make

[2021-01-01 14:25] jyn514 commented on #65233
I tried adding this (https://github.com/rust-lang/compiler-team/issues/368) and it was rejected because it was too intrusive and people were used to using the re-exports. Does it still make sense to keep this open?

[2021-01-01 14:35] varkor commented on #41517
The unresolved questions mentioned in the issue are two minor problems compared to several of the unresolved questions that have been brought up in the thread since ([insufficient flexibility](https://github.com/rust-lang/rust/issues/41517#issuecomment-544340795), [inconvenient syntax](https://github.com/rust-lang/rust/issues/41517#issuecomment-544763195), [misleading naming](https://github.com/ru

[2021-01-01 14:45] jyn514 commented on #47355
@pnkfelix are you still running into this issue? Similar errors in rustdoc print relative to the workspace root, is that the behavior you want? If so I think this can be closed.

[code]

[2021-01-01 14:51] #65233 closed

[2021-01-01 14:54] fghzxm commented on #49733
If we can have `typeof`, we can simulate box syntax with the help of `new_uninit` (#63291):

[code]

See https://rust.godbolt.org/z/c5eE6T for a hacky demo; `new_uninit` generates the exact same assembly as box syntax (except on the error path), down to register selection.

[2021-01-01 15:03] m-ou-se commented on #80576
A complete fix is blocked on rustfmt knowing about edition 2021 too. And that is blocked on `rustc-ap-rustc_span` on crates.io to update to a version that includes edition 2021.

To fix the build for now, rls could temporarily pass `Edition2018` to rustfmt for 2021.

[2021-01-01 15:03] jyn514 commented on #76477
I don't think this is likely to be accepted even if someone made a PR. I'd encourage you to write your own x.py wrapper, even on a compile farm you can have a little shell script that executes `echo -e '\a'` after.

[2021-01-01 15:03] #76477 closed

[2021-01-01 15:06] jyn514 commented on #78938
@1000teslas that'd be great! See https://rustc-dev-guide.rust-lang.org/ for instructions on getting started, and for your change I'd start by finding where the current error is emitted and looking around there.

[2021-01-01 15:20] chorman0773 commented on #49733
To implement it in user code, you'd need placement expressions or some other way to force the compiler into eliding the move and the intermediate value (where possible).

[2021-01-01 15:36] bhickey opened #80582 "Type names are difficult to select in rustdoc."
It's difficult to select a typename in rust doc. Most of the time I end up selecting `Enum ... [-] src` or `Struct ... [-] src`. Can you make it easy to select the thing that users probably want to select?

<img width="1016" alt="Screen Shot 2021-01-01 at 10 35 35 AM" src="https://user-images.githubusercontent.com/136625/103441602-167d3900-4c1d-11eb-9611-5bbdb5d832c4.png">

[2021-01-01 15:42] SNCPlay42 opened #80583 "Error when concrete type doesn't satisfy impl trait is poorly spanned"
[code]
Currently emits

[code]

It should probably point to the return value as the span of the actual error, with the current span appearing in a note, e.g.

[code]

@rustbot label T-compiler A-impl-trait A-diagnostics D-terse

[2021-01-01 15:48] pickfire commented on #56073
https://users.rust-lang.org/t/documentation-of-types-discoverability-problem/53274/2

People seemed to have the same issue. Yes, it would be good to have that too but the main thing is to be able to expand all stuff without having to click on each one by one. Even pressing `+` twice would be fine (I tried that but did not work but not sure if it is easy to discover).

[2021-01-01 16:10] jyn514 commented on #78466
@varkor yes, the same as build. If you run x.py compiler/rustc for example, that won't check rustdoc.

[2021-01-01 16:12] #80507 closed

[2021-01-01 16:19] SNCPlay42 commented on #80583
The problem is, the error comes from the obligation registered on the inference var created when instantiating the opaque type, which happens very early in type-checking, so when creating the obligation we don't yet have a good span for the actual return value(s) of the function (it's easy to find the function's body's tail, but what if it only returns from `return` statements?)

[2021-01-01 16:42] SNCPlay42 commented on #80582
@rustbot label A-rustdoc-ui T-rustdoc

[2021-01-01 16:45] sokorototo opened #80584 "Cargo refuses to compile."

[2021-01-01 16:54] sokorototo commented on #80584
So I am kinda new with systems programming languages. I come from a Javascript environment and decided to give Rust a try.
I downloaded rust-up and all of its dependencies. `Rustc` works but when I try to build a project with `cargo build` I consistently get the error: `Refused to compile, Cannot read cargo.toml, unknown character `

[2021-01-01 16:54] #80584 closed

[2021-01-01 16:54] sokorototo commented on #80584
Just reinstalled cargo and everything went okay

[2021-01-01 16:57] mark-i-m commented on #54883
Happy New Year, all! 🎉

With the merging of #80459, the `pat2018`/`pat2021` behavior that @joshtriplett described from the lang-team consensus is implemented behind feature gate `edition_macro_pats`.

If everything looks reasonable, I think we can stabilize `or_patterns` in rust 1.51. #79278 is up to date and ready for an FCP.

[2021-01-01 17:03] oli-obk commented on #74696
@felix91gr is working on that

[2021-01-01 17:07] pkubaj opened #80586 "Promote powerpc64-unknown-freebsd to Tier 2"
We are interested in making powerpc64 (and in the future powerpc64le) Tier 2 in Rust, to make it easier to test nightly builds in our package cluster. What would be necessary to do it?

Some other powerpc* targets (for Linux) are already Tier 2.

[2021-01-01 17:15] felix91gr commented on #74696
Indeed. If the mir-opts are available at this level, you should have better info about this kind of code after I'm done. I'm working on using dataflow for constant folding, which will be able to ignore dead code and in general, be aware of the control flow of the program :)

[2021-01-01 17:21] varkor commented on #78466
@jyn514: are you saying that `x.py check library/std` will literally only check `library/std`, using the definitions from the stage0 artefacts, without taking account of the current compiler changes (i.e. those which would be built for stage1)?

[2021-01-01 17:29] RalfJung commented on #74696
I was talking about lints, not constant folding... so I am a bit confused now.

Better constant folding sounds great. :) However, I don't think it is a great idea to conflate optimizations and lints too much, that seems extremely fragile.

Above we had rather simple proposals like checking if there are named constants involved... what happened to those?^^

[2021-01-01 17:35] jyn514 commented on #78466
@varkor yes: `x.py check library/std` is roughly analogous to `RUSTFLAGS=--profile=check x.py build --stage 0 library/std`. There's not currently a way to check with stage1, although I'd like to add one: https://github.com/rust-lang/rust/issues/46955#issuecomment-753264720

[2021-01-01 17:37] felix91gr commented on #74696
Ah, my bad. Okay, so if this is happening at the level of lints... (sorry, it's been a while since I read this thread) hmm...

If the compiler lints, like some clippy lints do, are using constant folding to know some variable values in advance, then this kind of error should be fixed after my changes are done. Unless the error stems from somewhere else (which it might!)

I agree with being tied to

[2021-01-01 17:38] jyn514 commented on #71227
@alexreg on CentOS 8, `cmake --version` gives `cmake version 3.11.4`. What version of CentOS are you on?

[2021-01-01 17:42] matthiaskrgr opened #80588 "improve rustc wrapper startup time?"
`time  ~/.rustup/toolchains/master/bin/rustc  >& /dev/null`
`0,040 total`

`time  ~/.cargo/bin/rustc  >& /dev/null`
`0,272 total`

That's almost 7x slower.
I wonder if there is some something we can do to get these numbers a bit closer?

[2021-01-01 17:49] RalfJung commented on #76001
While working on promotion recently, here's something I wondered about... would it make sense for `const {}` to use the promotion machinery? After all, that machinery already has all the support we need to let the const refer to generics of the surrounding context.

The check for the code in there should be the usual const check of course, not the implicit promotion check. But arguably the same is

[2021-01-01 17:51] ThePuzzlemaker commented on #80502
This appears to have been fixed in nightly. (see [https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html], the nightly docs for `std::iter::Iterator`).

[2021-01-01 17:53] matthiaskrgr opened #80589 "ICE: min const gen default_function_param.rs with -Zsave-analysis; hit a todo!()"
### Code
code from `./src/test/ui/const-generics/min_const_generics/default_function_param.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/const-generics/min_const_generics/default_function_param.rs -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This happens since
a609fb45efad59dfd459c76

[2021-01-01 17:55] ThePuzzlemaker commented on #80466
I think I'll take a shot at this. @rustbot claim

[2021-01-01 17:55] varkor commented on #78466
Okay, I see. I don't necessarily think there needs to be an option to change the stage: it should just match whatever `build` does (though this will also take some work to implement).

[2021-01-01 17:57] RalfJung commented on #72016
One aspect of `asm!` that I think needs further scrutiny before stabilization is `const` arguments, which [currently are one of the few syntactic constructs that trigger promotion](https://github.com/rust-lang/const-eval/blob/master/promotion.md). Promotion is about turning a part of a function into an anonymous `const` (the "promoted") and using that instead of the ripped-out part of the function

[2021-01-01 18:00] ThePuzzlemaker commented on #80466
It appears to be shown on the trait, just not the struct.
![image](https://user-images.githubusercontent.com/12666617/103443891-dc199900-4c28-11eb-8188-cc92f9228a84.png)

[2021-01-01 18:03] qrilka commented on #80502
Then probably this could be closed, one thing though is to find the reason that happened and have some measures against it reintroduced again.

[2021-01-01 18:11] Michele31415 commented on #68912
Yes, I finally got it working.  Unfortunately, I can't remember what exactly I did and I failed to document it.  My bad.  I think the answer must have been in the rustc guide jonas mentioned.  I believe it was indeed some config thing.

[2021-01-01 18:19] felix91gr commented on #74696
PS: oh god I'm re-reading this issue and I might've done it again 🤦🏻 sorry @RalfJung, I owe your patience twice now.

Okay so what Oli is referring to is that many of those `deny` lints use some level of const-prop to infer errors at compile time. This is fine, only problem is that our const-prop engine is still too weak. And even though it's conservative (as it should be), for some reason in the

[2021-01-01 18:21] GuillaumeGomez commented on #80582
Will do it in the next days!

[2021-01-01 18:26] jyn514 commented on #78466
@varkor well, if it matches `build` then you'd have to build the entire compiler before changing the stage 1 standard library, which would double or triple the time. So I don't think stage 1 should be the default.

[2021-01-01 18:30] RalfJung commented on #74696
That makes sense... but I am not sure yet how it affects examples like this:
[code]
Before we said the best approach to avoid these errors is to not lint when the expression involves a named const.

Are you saying that, instead, we should rely on the underlying analysis being smarter about detecting dead code? Will that truly be good enough? Lints and optimizations have somewhat dual constraints h

[2021-01-01 18:44] felix91gr commented on #74696
I'm confident that in this example, dataflow-based const prop will ignore the second branch (`else if D > 0`), since it is aware of control flow and it already knows the value of `D`. Basically, that branch should never be visited during the analysis.

This example also shows a soundness issue* with the current const prop engine: a named const should not be propagated into dead code.

`*` though a

[2021-01-01 18:45] jyn514 commented on #78466
(continued on Zulip so there's lower latency: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/x.2Epy.20check.20stage.200)

[2021-01-01 18:46] SimonSapin commented on #41517
I’ve added those to the issue description, thanks!

Then let me turn my question around: if the bounds of `ptr::null` are relaxed from implicit `T: Sized` to `T: ?Sized + Pointee<Metadata=()>` (this is indeed relaxed because `Pointee` is implemented for every type), then later after we’ve figured out what trait aliases should look like, would it likely be backward-compatible to change it to `T: ?S

[2021-01-01 18:57] jyn514 commented on #78466
We decided the best approach is to warn on `x.py check library/std` if you have `profile = "compiler"` set (and recommend `x.py check` instead).

[2021-01-01 19:06] LeonineKing1199 commented on #65816
Why would the returned pointer be marked `NonNull`? Default constructed `Vec` doesn't allocate so it should return a null pointer in that case.

[2021-01-01 19:10] jyn514 commented on #78466
I changed the title since https://github.com/rust-lang/rust/issues/46955 already tracks --stage 1 support for `x.py check`.

[2021-01-01 19:12] lcnr commented on #76001
@RalfJung I am not sure if i understood your question correctly

I personally don't know what exactly you are thinking of here. At least from where I am approaching this the way const blocks should deal with the generics of the surrounding context is quite different to promotion. Especially considering potentially failing operations like `const { 64 / mem::size_of::<T>() }` which we probably want

[2021-01-01 19:14] varkor commented on #41517
@SimonSapin: yes, regardless of how the feature is eventually stabilised, the two ought to be interchangeable, so it's safe to use the explicit `Pointee<Metadata = ()>` for now and later replace it with a `Thin` trait alias.

[2021-01-01 19:28] lqd commented on #80589
Oh my, I'll fix that now. The syntax is gated but evidently the `-Zsave-analysis` flag can still reach into the parts which were not completed yet.

[2021-01-01 19:30] RalfJung commented on #76001
Basically, compile `const { expr }` like `expr` during MIR building (except with restrictions for which local variables are in scope), and then use this as a promotion site in `transform/promote_consts.rs`.

`const {}` is primarily a means to replace implicit promotion with something more explicit. Promotion already does everything we want `const {}` to do, except that it is subject to some seriou

[2021-01-01 19:33] hencrice commented on #80575
Hey @Skynoodle, you might want to comment `@rustbot claim` here to claim this issue :)

[2021-01-01 19:37] Lokathor commented on #65816
The vec pointer being NonNull gives Vec a niche, so that types like `Option<Vec<T>>` are the same size as `Vec<T>`

I don't see how it's disingenuous. It really doesn't allocate.

[2021-01-01 19:43] morr0ne commented on #72110
What's the blocker on this? I've been using this option for months without noticing any problem, is someone actively looking into it or this just sitting here?

[2021-01-01 19:48] jyn514 opened #80596 "Add different entry points for x.py"
## Summary

As shown by https://github.com/rust-lang/rust/issues/78466, https://internals.rust-lang.org/t/experience-report-contributing-to-rust-lang-rust/12012, and https://github.com/rust-lang/rust/issues/59864#issuecomment-753288723 have shown, people are still having trouble with bootstrapping even after the changes to defaults and the new explanations in the bootstrapping chapter of the dev-g

[2021-01-01 19:55] matthiaskrgr commented on #80589
I made a small program that executes rustc on all the rustc files with different flags and filters the ICEs.
The file showed up as previously unknown crash.

[2021-01-01 20:02] ThePuzzlemaker opened #80597 "ICE when using RUSTDOC_LOG=rustdoc on a doc build"
I ran into this while working on #80466.

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

I built this dev version of rustc from 206ee1eea3467fd1d7f1efdbeafe27880897bb2c with `./x.py -i --stage 1 build library/std src/tools/rustdoc` with the default `./x.py setup compiler`.

This only occurs when using `RUSTDOC_LOG=rustdoc` during the documentation build.

I'm running `RUSTDOC_LOG=

[2021-01-01 20:03] camelid commented on #80577
@GuillaumeGomez you might consider updating to a newer nightly; I know there were some incr. comp. bugs fixed around 2020-12-10 (which is when your nightly is from).

[2021-01-01 20:03] ThePuzzlemaker commented on #80597
@rustbot modify labels: +T-rustdoc

[2021-01-01 20:07] Skynoodle commented on #80575
@rustbot claim

[2021-01-01 20:07] camelid commented on #80589
On nightly-2020-12-31, I get a parse error with the code you provided:

[code]

[2021-01-01 20:10] jyn514 commented on #80596
Closing in favor of https://github.com/rust-lang/compiler-team/issues/396, this is big enough it should be an MCP.

[2021-01-01 20:10] #80596 closed

[2021-01-01 20:11] matthiaskrgr commented on #80589
Yes, the PR was merged ~7 hours ago, it's not in nightly yet.

[2021-01-01 20:12] lcnr commented on #76001
`AnonConst` are "just" used to represent constant expressions, so they are used for  array lengths and associated constants.

----

moving this to zulip until I have a more solid understanding of our goals here. https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/inline.20consts

[2021-01-01 20:13] camelid commented on #80589
Ah, things move fast :)

How did you get a build with the commit then? Did you use `x.py`?

[2021-01-01 20:16] matthiaskrgr commented on #80589
There are inofficial "master" builds released for every merge commit in the repo (the latest one is then promoted to "nightly" once at some point of the day)
You can install them with  https://github.com/kennytm/rustup-toolchain-install-master and run something like
`cargo +master check` or `~/.rustup/toolchains/master/bin/rustc` afterwards.

[2021-01-01 20:23] camelid commented on #80589
Oh, I forgot about RTIM 😄

[2021-01-01 20:48] leonardo-m commented on #73121
I'd like also the .step_by(usize).

I think this isn't always true, if you have iterators chains, like (where pred computes a division by the input argument):

[code]

The compiler is not always able (or willing) to inline everything, so predicates and other lambdas get called by values that are nonzero, but the functions lose the information about the input argument being nonzero. But if you have

[2021-01-01 20:58] GuillaumeGomez commented on #80577
Interesting, thanks for the info! I'll let it open just in case (in case it happens again...) but in the meantime, I'm going to update my nightly version.

[2021-01-01 20:59] matthiaskrgr opened #80598 "diagnostics: very confusing error when calling Vec::from_iter() on &[1].iter()"
I tried this code:

[code]

I expected to see this happen:
I was thinking: I convert an &[array] into an iterator and then into a Vector.
This did not work out so well, the error message just seemed to tell me that my `.into_iter()` did not result in an iterator...?? :confused:

Instead, this happened:
[code]

It turned out that I had to remove the reference from the front of the array like this
[

[2021-01-01 21:07] tgnottingham commented on #79916
I've worked around my need for this API by essentially implementing my own `BufWriter` (see #80463). Closing this, as I don't have a strong enough desire to push for it, and I'm not certain it's worth the trade-off of adding to the API surface.

[2021-01-01 21:08] #79916 closed

[2021-01-01 21:14] cemeyer commented on #73091
I'm getting traces *collected* with nightly 1.49.0.20201121, but rust cannot resolve the addresses to symbols despite opt-level 0 and debug 2.

[2021-01-01 21:20] ThePuzzlemaker commented on #80466
It appears that `Cache.impls` does not contain negative polarity implementations (excluding auto traits, which are obtained separately I believe)

[2021-01-01 21:33] cemeyer commented on #78184
backtrace-rs issue: https://github.com/rust-lang/backtrace-rs/issues/325

backtrace-rs PR for issue: https://github.com/rust-lang/backtrace-rs/pull/402

[2021-01-01 21:46] lqd commented on #80589
#80599 will remove the ICE so that only the `error[E0658]: default values for const generic parameters are experimental` appears

[2021-01-01 21:53] cemeyer commented on #63476
Can this issue be closed after rust/meta-rust#279 ?

[2021-01-01 21:55] #63476 closed

[2021-01-01 22:02] cemeyer commented on #43575
Is this issue resolved now?  I see:

[code]

And no fatal runtime error or abort trap.  FreeBSD 13ish, rust-nightly 1.49.

If it's resolved, let's close it!  Thanks.

[2021-01-01 22:18] oilaba commented on #26494
@matklad is this fixed?

[2021-01-01 23:24] mqudsi opened #80603 "Using associated constant incorrectly errors out with incorrect message about generic types"
The following code runs afoul of the check for nested functions with definitions contingent on the value of a generic parameter (or generic associated type) from the parent scope, even though the value in question is a) not in a generic struct, b) not in a trait, c) not in an outer function, and d) guaranteed to be the exclusive value ever used in the substitution (as it is a compile-time constant

[2021-01-01 23:33] nvzqz opened #80604 "Doc alias not allowed on associated constant in trait implementation block"
I tried this code:

[code]

I expected to see this happen: the code to compile and searching `kValue` in the docs to product `Struct::VALUE`.

Instead, this happened: It failed to compile with the following error:

This is very surprising because:

- `#[doc(alias)]` works on `fn` trait members in impl blocks.
- Doc comments are allowed on associate constants in impl blocks.

### Meta

`rustc --ver

[2021-01-01 23:33] BartMassey commented on #72016
@RalfJung That seems fine. I'm very much of the opinion that we should stabilize `asm!` as soon as we reasonably can, so if there are some easy restrictions like this that could be left for later expansion that's OK.

[2021-01-01 23:35] Amanieu commented on #72016
@RalfJung I was under the impression that this isn't a concern here since we use explicit promotion: the program fails to compile if the expression is not a valid `const`.

[2021-01-01 23:48] nvzqz commented on #80604
@rustbot modify +A-doc-alias +A-traits +A-associated-items

[2021-01-01 23:49] nvzqz commented on #80604
@rustbot modify labels: +A-doc-alias +A-traits +A-associated-items

[2021-01-01 23:59] Aaron1011 commented on #80336
It looks like there are actually two different issues going on here. The original issue is a bug with caching in `evaluate_obligation`, described in https://github.com/rust-lang/rust/issues/80336#issuecomment-751311417

The other is a bug that shows up as a changed `optimized_mir` result. This appears to be completely unrelated, as the caching bug described above shouldn't result in any changes to

[2021-01-02 00:15] LingMan commented on #80598
To clear up your confusion, the code you tried does:
[code]
and not, as you expected:
[code]
So, `.into_iter()` did give you an iterator and then you took a reference to it.

[2021-01-02 01:11] mbartlett21 commented on #67984
Are the named arguments meant to work with raw strings?

At the moment, it says that `format_args!` cannot capture variables when the format string is expanded from a macro.

[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59dc2e1e9f7e0e9b7897b4c8dc8aa5ed)

[2021-01-02 01:18] fghzxm commented on #49733
Never mind, with `maybe_uninit_extra` it gets there without `typeof` (https://rust.godbolt.org/z/Kf1Kdh):

[code]

[2021-01-02 01:21] jyn514 commented on #80604
cc @GuillaumeGomez

[2021-01-02 01:27] jyn514 commented on #80604
actually @ollie27 you said in https://github.com/rust-lang/rust/issues/73721#issuecomment-678784175 that rustdoc should disallow this on associated constants, because they don't appear in the search index. But they do:
![image](https://user-images.githubusercontent.com/23638587/103449015-c4193800-4c6f-11eb-8b21-74d3a2fd02ae.png). So I think prohibiting them was incorrect.

[2021-01-02 01:28] jyn514 commented on #80604
Oh I see - that's the constant for the trait itself, not for the implementation.

@nvzqz try moving it to `type Value;` in the trait definition, that should work.

[2021-01-02 01:30] fghzxm commented on #49733
I doubt "forcing the compiler into eliding the move" is meaningful in the context of Rust or C or C++, since by the as-if rule the compiler is free to store garbage on the stack and perform unnecessary copies.  In optimized builds on the other hand it seems sufficient to simply move the allocation in front of the evaluation of the stored value.

If the extra copy is strictly unacceptable even in u

[2021-01-02 01:33] nvzqz commented on #80604
@jyn514 my use case is that I'm wrapping a C library and would like to use the doc alias for the original name in the specific type's `impl` that uses the associated constant. So it doesn't make sense to have it inside the trait.

Perhaps rustdoc should support including associated constants/types in the search index?

[2021-01-02 01:54] Michele31415 commented on #74551
"Latest version I have tested is Rust 1.44.1. I can revert the commit and I can use it to build Firefox."

So psumbera, are you saying you have successfully built a Firefox using Rust for Solaris SPARC?  I would dearly love to know how to do this.  Or a copy of your binary (pretty please).  Any Firefox > 52.0 would be an improvement.

[Does this board have a mechanism to send pm's?]

[2021-01-02 01:56] chorman0773 commented on #49733
One of the reasons for the box syntax I thought was to allow you to box
large values that may cause a stack overflow if an intermediate value is
not constructed in-place. This is a case where the difference between a
move occurring and being elided can effect the behaviour of the code.

And yes, absent placement-expressions, you'd need either an intrinsic, or
some other implementation-specific uns

[2021-01-02 02:05] ThePuzzlemaker commented on #80443
I think I'll take a shot at this. @rustbot claim

[2021-01-02 02:16] ThePuzzlemaker commented on #80443
Should this be implemented as a new lint or just as an instance of `dead_code`? I personally think it'd be better as its own lint (something like `useless_import`) as dead code is described in `rustc_lint_defs` as "detect unused, unexported items"

[2021-01-02 02:30] Aaron1011 commented on #80545
I think this was caused by https://github.com/rust-lang/rust/pull/74627 . The new behavior may be intentional - @petrochenkov

[2021-01-02 02:37] teppah opened #80605 "Type of `Option::as_ref()` is not correctly inferred when returned from `Error::source()`"
I have a custom Error enum:

[code]
`source.as_ref()`'s return type, `Option<&ParseIntError>`, should be equivalent to the one required for `Error::source()` (`Option<&(dyn Error + 'static)>`). However, when I run it, I get the following error:
[code]
But when I take out the method call and replace it directly with `Option::as_ref()`'s source code,

[code]
I don't get any compiler errors and every

[2021-01-02 02:45] syncing0x opened #80606 "https://renproject.io/developers"
### Code

I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Version it worked on

It most recently worked on:

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-01-02 02:45] camelid opened #80607 "rustc suggests using enum type as variant"
Both the error and the suggestion make it seem like `Enum` is an enum variant; it's a type, not a variant.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=981550655b719d36af302db57a6acc9f))

Errors:

[code]

[2021-01-02 02:45] syncing0x commented on #80606
https://renproject.io/developers

[2021-01-02 02:46] camelid commented on #80606
Spam.

[2021-01-02 02:46] #80606 closed

[2021-01-02 02:47] syncing0x commented on #80606
https://renproject.io/developers

On Sat, Jan 2, 2021, 10:46 AM Camelid <notifications@github.com> wrote:

[2021-01-02 02:47] syncing0x commented on #80606
On Sat, Jan 2, 2021, 10:46 AM Syncing0x X0gnicnys <syncing0x@gmail.com>
wrote:

[2021-01-02 02:47] syncing0x commented on #80606
https://renproject.io/developers

[2021-01-02 04:08] repnop commented on #72016
Hi, I'm currently using the `asm!` macro on the `riscv64gc-unknown-none-elf` target, and have been getting some "errors" for a while about instructions requiring extensions -- except that GC includes the extensions of the instructions I'm using, so is there perhaps a bug with the check when looking at G since it covers IMAFD? But despite them being reported as errors, the build still successfully

[2021-01-02 04:15] nbdd0121 commented on #72016
This seems like a LLVM bug to me. This should probably be a separate issue.

[2021-01-02 04:20] repnop opened #80608 "`global_asm!` macro causes non-fatal errors to be printed during compilation for some RISC-V extension instructions when targeting the GC extensions"
I'm currently using the `asm!` macro on the `riscv64gc-unknown-none-elf` target, and have been getting some "errors" for a while about instructions requiring extensions -- except that GC includes the extensions of the instructions I'm using (IMAFDC). So far I've seen errors for F, D, and A instructions, everything else seems to be fine that I've used so far. Despite them being reported as errors,

[2021-01-02 04:20] repnop commented on #72016
Created https://github.com/rust-lang/rust/issues/80608 for it :+1:

[2021-01-02 04:34] 1000teslas commented on #78938
I think the current error message is emitted from `report_escaping_closure_capture` in `compiler/rustc_mir/src/borrow_check/diagnostics/conflict_errors.rs`. However, I'm not sure what the appropriate method for adding those new help/note messages. Would the `help` and `note` messages from `DiagnosticBuilder` be the right ones?

[2021-01-02 04:54] Aaron1011 commented on #51635
This should be fixed on the latest nightly.

[2021-01-02 05:29] jyn514 commented on #78938
@1000teslas yes, those are right (or at least close enough that you can fix any issues during review).

[2021-01-02 06:08] quixotrykd commented on #80605
I believe this may be intended behavior, according to Rust's coercion rules. Taking a look over at https://doc.rust-lang.org/reference/type-coercions.html, we see that valid coercions include:

* `[T; n]` to `[T]`.

* **`T` to `dyn U`, when `T` implements `U + Sized`, and `U` is object safe.**
* `Foo<..., T, ...>` to `Foo<..., U, ...>`, when:

  * `Foo` is a struct.
  * `T` implements `Unsize<U>`.

[2021-01-02 06:58] #79868 closed

[2021-01-02 07:00] davidhewitt commented on #67984
Looks like an oversight by me - I'll try to put out a PR to fix it within the next couple of days.

[2021-01-02 07:02] davidhewitt commented on #67984
@m-ou-se I see you removed this issue from "Proposed in 2021 Edition" - did I miss a decision that this feature is not going to be a part of the 2021 edition?

If the decision is still yet to be made, I'd be willing to put the work in to get this feature in.

[2021-01-02 07:56] tgnottingham commented on #80577
Based on the version, file, and line number, this is probably the same as #80151, likely fixed by #79915.

[2021-01-02 09:39] m-ou-se commented on #67984
This doesn't need to happen over an edition change, right?

The only thing that needed an edition change was the solution for the panic and assert macros, and that one is already approved and split to a separate issue: https://github.com/rust-lang/rust/issues/80162

[2021-01-02 09:46] petrochenkov commented on #80443
We already have a lint for redundant imports (https://github.com/rust-lang/rust/pull/58805), it's a part of `unused_imports`, but it conservatively doesn't fire on imports in `mod` items.
The reason is that such imports can be used by module-relative paths like `super::regex` from a child module or `crate::regex`/`self::regex` from the current module, but we don't currently track such uses. See th

[2021-01-02 09:47] petrochenkov commented on #80443
This is also a duplicate of https://github.com/rust-lang/rust/issues/61640.

[2021-01-02 10:09] bugadani commented on #80607
@rustbot claim

[2021-01-02 11:14] GuillaumeGomez commented on #80577
Then let's close it!

[2021-01-02 11:14] #80577 closed

[2021-01-02 11:26] jplatte commented on #62358
I wouldn't mind it keeping the current name but since many are opposed to that, here's another idea: `.contains_some()`.

[2021-01-02 11:38] jonas-schievink commented on #80605
Yes, this is working as intended

[2021-01-02 11:38] #80605 closed

[2021-01-02 11:49] 1000teslas commented on #78938
I have tried implementing the error message for async block here: [https://github.com/rust-lang/rust/pull/80614]. I am not sure what errors an async function would have. For example, I tried messing around here [https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=774caaba98a35c9ba2d07a9f3396473a] with borrowing past an await point in an async function, but it seems to compile.

[2021-01-02 11:52] Danue1 commented on #80564
Hmm, I think I can do it, so I'll try it.

[2021-01-02 12:10] DomWilliams0 opened #80616 "Unaligned usize in Range on custom target"
Trying to use a Range<usize> on my custom x86_64-based OS (spec below) is aborting on an unaligned usize.

I tried this code:

[code]

What I expected: loops silently
What happened: abort() is called

My target spec:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

My OS has jumped to long mode and other 64 bit Rust code is working fine. Che

[2021-01-02 12:13] WaffleLapkin commented on #76014
Why the API is private? If there is no reason, I could make a PR making it public.

I've just found myself coping the methods from std, to use them...

[2021-01-02 12:18] RalfJung commented on #72016
It is true that explicit promotion is less risky than implicit promotion. However, once we have `const {}` blocks, I see little reason for "explicit promotion" to even be a thing, TBH. It's just *yet another* set of rules implemented somewhere. We already have too many of those, I think. So far, there is *no* stable use of explicit promotion, so I have some hope that we can just get rid of it enti

[2021-01-02 12:32] RalfJung commented on #76001
Independent of the discussion around `const_evaluatable_checked`, another way to phrase my point is: I think it is silly to have both "explicit promotion" and inline consts. The two serve *almost the same purpose*, so having some come up with, maintain, and test two separate sets of rules is a lot of extra work for no gain that I can see.

I think we should aim at unifying the two. This means trea

[2021-01-02 12:32] oli-obk commented on #72016
I like this a lot. For `asm` this is trivially doable since we can create the inline const in the syntax tree when processing the `asm`. For `rustc_args_required_const` we can't do this because the invocation of the function would need to resolve the call before knowing that the argument is a const.

[2021-01-02 13:34] RalfJung commented on #76560
The MCP mentions that

are allowed and will be "unified". Isn't that incompatible with impure `const fn` such as what one will be able to write once `const fn` can perform heap allocations?

[2021-01-02 13:36] RalfJung commented on #76560
Also, in terms of arithmetic, it might be better to exclude floating-point arithmetic since at least some models propose to make that arithmetic non-deterministic (specifically, the NaN payload may be non-deterministic) -- also see https://github.com/rust-lang/unsafe-code-guidelines/issues/237.

[2021-01-02 13:45] RalfJung commented on #74696
Why not?

[2021-01-02 13:46] cole-miller opened #80618 ""late bound lifetime parameters" error should have a number and help text"
Currently (tested on stable and nightly) if you try to compile this code

[code]

you get this error message:

[code]

There is no error number (like E0208) to pass to `rustc --explain`. There's also no mention that you can fix this error without changing the meaning of the code at all by putting a vacuous `where` clause in the signature of `f`, like this:

[code]

See #42868 for background. (I'm

[2021-01-02 13:50] RalfJung commented on #76001
Replying to @oli-obk's comment [here](https://github.com/rust-lang/rust/issues/72016#issuecomment-753468228)

Name resolution happens before MIR construction, so we could still do it on that level... not sure how well that would work with the current implementaton of inline consts though.

---

Also, besides the point I made above about unifying explicit unification and inline consts, here's anoth

[2021-01-02 13:56] RalfJung opened #80619 "Tracking Issue for infallible promotion"
This is a tracking issue for the RFC "3027" (rust-lang/rfcs#3027).
The RFC does not have a feature gate.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug repor

[2021-01-02 14:01] RalfJung commented on #80619
In https://github.com/rust-lang/rust/pull/80243 we learned that there is at least some code that relies in non-trivial ways on `const fn` calls being promoted in a `const`/`static` initializer. We need to figure out how to move forward with such code.  I see these options:
* Live with the fact that promoteds in const/static initializers can fail even if they are not required for said initializer.

[2021-01-02 14:16] Aaron1011 commented on #80619
Can that code be made to compile with inline `const` blocks?

[2021-01-02 14:17] RalfJung commented on #57563
That function currently cannot be stabilized since it uses `unsafe` code. Thus it is blocked by https://github.com/rust-lang/rfcs/pull/3016.

[2021-01-02 14:18] RalfJung commented on #80619
@Aaron1011 yes it can, but only once inline const blocks can use generics of the surrounding context.

[2021-01-02 14:24] sfackler commented on #80616
Is your stack properly 16 byte aligned?

[2021-01-02 14:39] leonardo-m opened #80620 "Brittle LLVM integer value range propagation"
I think LLVM should avoid panicking code in both function:

[code]

rustc 1.51.0-nightly 17eec1433 2021-01-01 gives:

[code]

[2021-01-02 15:17] jyn514 commented on #80618
@cole-miller are you interested in adding the `--explain` text? There's instructions at https://rustc-dev-guide.rust-lang.org/diagnostics/diagnostic-codes.html?highlight=code#diagnostic-codes, it should be fairly simple.

[2021-01-02 15:25] lcnr commented on #76560
uh, now that's a challenge I didn't think of :laughing: not yet sure

how do we expect to deal with `[nondet_or_unpure_const_fn(); 4]`?
will we rerun the the const fn 4 times?

[2021-01-02 15:31] #76519 closed

[2021-01-02 15:31] #80589 closed

[2021-01-02 15:31] #80607 closed

[2021-01-02 15:32] cole-miller commented on #80618
@jyn514 sure thing! While I'm waiting for `./x.py test tidy`... how much harder would it be to add the `help` hint at the same time? I can always take a look at previous PRs to get a sense of what's required.

[2021-01-02 15:39] RalfJung commented on #76560
`[nondet_or_unpure_const_fn(); 4]` only compiles if the return type is `Copy`; it will call the function once and copy the result 4 times. No CTFE is involved.

The interesting case is `[const { nondet_or_unpure_const_fn() }; 4]`. I expect it evaluates the function once in CTFE and uses the result 4 times.

Note that the non-determinism is very restricted; it only arises in the `AllocId` of pointe

[2021-01-02 15:41] jyn514 commented on #80618
Not too much harder I think :) See https://github.com/rust-lang/rust/pull/76143 for an example of both.

[2021-01-02 15:46] bugadani opened #80621 "x.py does not warn if test filters for file that does not exist"
I tried to run a specific ui test using `./x.py test src/test/ui/...`, but mistyped the test's file name. This resulted in the file name silently being ignored and x.py started to execute all available tests instead.

[2021-01-02 15:50] NoSuchThingAsRandom opened #80622 "Multi dimensional array of Option<Structs> cause expontial increase in release compile times, up to a limit"
Using cargo build --release with a 3 dimensional array, causes exponential build times, up to a limit.

This occurs both on stable and nightly, and only gets worse with larger structs.
However this does not occur on unoptimized builds.

Some example release compile times:
**Stable:**
24 - ~1.95 secs
32 - ~4.73 secs
40 - ~10.86 secs
50 - ~24.38 secs
74 - ~1m 56 secs
75 - ~0.33 secs

**Nightly**:

[2021-01-02 15:52] felix91gr commented on #74696
The reason I'm thinking of is this:

Dead code will never happen, and therefore the asserts inside it will never happen either. Yet division, which has an assert inside it ("the divisor is not 0") will be processed by `constprop`.

Asserts become meaningless in dead code (right? Unless I'm missing something in the style of [Why even unused data needs to be valid](https://www.ralfj.de/blog/2020/07/

[2021-01-02 16:06] RalfJung commented on #74696
Incorrectly emitting a lint is not a soundness issue though. A soundness issue is when you can cause UB in safe code.

Sure, emitting lints about dead code might be considered false positives for the lint, but OTOH we *do* perform type-checking even in dead code and type errors in dead code are not false positives, either.

[2021-01-02 16:12] DomWilliams0 commented on #80616
@sfackler Nope, that was it! It turns out something hairy was happening during stack setup and it was only 4 byte aligned by the time it got to the Rust code.

Thanks :100:

[2021-01-02 16:12] #80616 closed

[2021-01-02 16:15] felix91gr commented on #74696
Ah, my bad. You're right. The word I should be using is "completeness" instead of soundness, then, right?

So it's be like this:
- False positive: analysis is less complete because we're rejecting valid code.
- False negative: analysis is not sound anymore because we're accepting invalid code.

I wonder if there's a fundamental difference in this context between type checking and "value checking"

[2021-01-02 16:39] RalfJung commented on #74696
Completeness of the lint would be technically correct I think, but to avoid confusion I think it is easier to talk about false-negatives / false-positives of the lint.

Types like `NonZero*` kind of blur that line, though. ;)

[2021-01-02 16:40] oli-obk commented on #76001
Ah, good point, we could do this as an "expansion" in `AST` -> `HIR` lowering

[2021-01-02 16:47] oli-obk commented on #76001
While not generally possible for anonymous constants, *just* for inline consts, that could be doable, but we'd need some sort of marker on the local that contains the final value of the inline const, so that "promotion" can reliably pick it up and uplift its creating MIR statements to a promoted MIR. Though considering that we had all the relevant information about what expressions are part of it

[2021-01-02 17:07] jyn514 commented on #80622
[code]
This looks very suspicious.

[2021-01-02 17:12] RalfJung commented on #76001
Ah right, HIR is already name-resolved... so this should not be so bad.

Yeah... I guess on the HIR, `+` might still be a function call using the `Add` trait. So that's probably not a good idea.

So, together with everything else you said, I tend to agree that it makes more sense to immediately build separate MIR bodies. That probably also makes it easier to use the normal const-expr checks here.

[2021-01-02 17:21] steveklabnik commented on #52746
Triage: I am not sure of the best way to reproduce this issue, as I don't have the needed hardware.

[2021-01-02 17:22] oli-obk commented on #76001
These two statements seem at odd to each other (since the first one may mean the "build promoteds at THIR time, but the second one says that doesn't gain us much), so just to be clear, so we are all on the same page: We don't change anything in the current system except that we generate `AnonConst` in HIR lowering for `rustc_args_required_const`, thus giving it its own `DefId` and thus `MIR`.

[2021-01-02 17:23] RalfJung commented on #76001
Sorry, to be more clear: in the statement I meant the way they look once promotion is done messing up the MIR. Then promoteds are just an `Operand::Const`, just like regular consts and inline const blocks, right?

[2021-01-02 17:27] oli-obk commented on #76001
yes.

[2021-01-02 17:35] RalfJung commented on #76001
Right, and likewise for `asm!` const arguments.

This is assuming that equipping `AnonConst` with support for generics isn't too hard (that's the thing that already works for promoteds).

[2021-01-02 17:41] Amanieu commented on #80608
I can't seem to reproduce this: https://rust.godbolt.org/z/5hW8jn

[2021-01-02 17:52] Michele31415 commented on #68912
Ah - this is the guide here: https://blog.rust-lang.org/2016/05/13/rustup.html

[2021-01-02 18:06] repnop commented on #80608
Ah, finally was able to reproduce it, looks like its not `asm!` but `global_asm!` (I never made the connection between the output and `global_asm!`, I assumed it affected both since I don't use those instructions in non-`global_asm!` code), so I'll correct the title. It also requires the `--emit=dep-info,link` argument to be passed to `rustc`, at which point you can see all of the errors, here's a

[2021-01-02 18:54] zygi opened #80626 "Enum with GAT member fails to derive Sized"
I tried this code:

[code]

I expected to see this happen: Enum successfully compiles and can be constructed.

Instead, this happened:
[code]

Interestingly, this compiles:

[code]

As does this:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-01-02 20:16] cole-miller commented on #42868
It seems this shows up as either a warn-level lint or a hard error depending on the code.

Example that triggers a warning (on stable and nightly):

[code]

Example that triggers a hard error (what led me to open #80618; again, stable or nightly):

[code]

Is this expected?

[2021-01-02 20:23] humancalico commented on #34792
@estebank I would like to work on this issue if its still relevant?

[2021-01-02 20:39] tuxmark5 opened #80630 "Rust insufficiently optimizes loop { match { } } state machines"
This is how a typical state machine might look in Rust:

[code]
One would expect that the first jump from function start into one of the states (0, 1, 2 or _) would be compiled as a jumptable or a series of cmp/conditional jump instructions and once the execution is in one of the states the remaining jumps would be deterministic (non-conditional) jumps.

And this is how equivalent code in [gcc](ht

[2021-01-02 21:02] #79526 closed

[2021-01-02 21:52] ibraheemdev commented on #57553
Still getting the error on the playground on Rust 1.49:
[code]

[2021-01-02 22:20] Dirbaio commented on #69184
I'm running into a similar issue which I believe is the same as this: [(play)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7ded87a74db2a8b0e42b292bd66ef1a8)

[code]

[2021-01-02 22:43] the8472 commented on #80630
Atleast that part happens once you add more states.

[2021-01-02 23:08] Rustinante commented on #62358
The word some has to come before contains, because first of all it must be a some, then a comparison is made, which is why at the minimum we should have something like some_eq. If we call it contains_some, it can be interpreted as saying the optional contains an optional value that is Some.

[2021-01-02 23:13] nagisa commented on #80630
Didn't look too deeply into it but the original codegen in Rust around the loop-match construct is not _that_ different, however with clang it becomes a switchtable at llvm-ir level, and we rely on the codegen backend to do so with rust https://godbolt.org/z/9Erv94

[2021-01-02 23:20] lukaslueg commented on #26925
This came up in #80567. Is there a policy regarding manual implementations in stdlib due to this problem with `derive`?

[2021-01-02 23:58] usbalbin commented on #80094
Would that be/work with #80470 or something completely different like new trait? Just asking since it seems like `array` `IntoIter` might be getting stabilized

[2021-01-03 00:04] camsteffen commented on #62358
`x.eq_some(y)` reads like `x == Some(y)`

[2021-01-03 00:20] as-com opened #80633 "rustc does not detect CPU features correctly when target-cpu=native on Zen 3"
I (actually, @tykosa, who managed to get a Ryzen 5 5600X) tried this code:

[code]

I expected to see this happen: the compiler detects that the CPU has AVX support and compiles the code, like it does on other CPUs

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc --print=target-cpus`
[code]

Snippet of /proc/cpuinfo:
![image](https://user-images.githubusercont

[2021-01-03 00:43] Boscop commented on #34537
![image](https://user-images.githubusercontent.com/535593/103469435-0cfee880-4d65-11eb-9cb5-68d46f720f27.png)

I think the warning is wrong in this case, because the type is not actually part of the public interface.

[2021-01-03 00:55] #80575 closed

[2021-01-03 01:12] SimonSapin commented on #34792
As @ldm0 mentioned the original code now compiles: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=106d275bc9d5ae878cc0c28c038dcec7

Closing as there doesn’t seem to be anything left to do here.

[2021-01-03 01:15] QuineDot commented on #80618
I agree this is needed no matter what.

I'm not sure this is the best solution though.

If there are no early bound lifetimes, just leaving off the lifetime specifier (as implied by the lint) also works:
[code]

In more complicated situations, the type ascription may be needed to specify the early bound lifetimes, but can sometimes still be used without forcing an early bound:
[code]

However, it

[2021-01-03 01:19] camelid opened #80634 "Do a Crater run with all public `*Ext` traits in `std` sealed"
I’d be in favor of trying out in Crater a PR that "seals" all public `*Ext` traits in the standard library.

_Originally posted by @SimonSapin in https://github.com/rust-lang/rust/issues/77728#issuecomment-753552477_

[2021-01-03 01:54] ximon18 commented on #62358
I don’t mind `x.contains(y)` as conceptually I think it matches the goal well, and the clash with HashMap is (to me at least) not different from the fact that any type can have any fn and thus you have to know the type being operated on to understand the effect of the fn, but to differentiate it further from sounding like a collection test one could perhaps use:

 `x.contained_is(y)` and `x.contai

[2021-01-03 01:56] Rustinante commented on #62358
@ximon18 do you think `eq_some` is not good?

[2021-01-03 01:58] SimonSapin commented on #80634
With a bit more context: the "sealed trait" pattern is https://rust-lang.github.io/api-guidelines/future-proofing.html#sealed-traits-protect-against-downstream-implementations-c-sealed and aims to prevent crates other than the one defining a trait from implementing it. This in turns allows adding new method to that trait after it is stable. (Which would otherwise break those external implementatio

[2021-01-03 02:00] ximon18 commented on #62358
@Rustinante: my concern with `eq_some()` is that while it might sound right for the `Option` use case, to me it sounds too much like it deals with an `Option` to be right for the `Result` use case.

[2021-01-03 02:01] Rustinante commented on #62358
@ximon18 for the `Result` there's the `eq_err` suggestion above.

[2021-01-03 02:12] ximon18 commented on #62358
@Rustinante: True, but both `eq_some` and `eq_err` read (to me) like the value inside is `Some(y)` or `Err(y)` rather than actually being just `y`. Additionally by using `some` and `err` you duplicate something about the type, `Option` or `Result`, in the fn name which doesn’t feel right to me.

[2021-01-03 02:15] ehuss commented on #80633
I believe zen 3 support will be included with LLVM 12, and rustc should pick it up when it upgrades to that release ([upstream change](https://reviews.llvm.org/rG2a136a7a9c68e4818b28bea6051b78a8181ba78e)).  I would guess that the 12 release is still a few months out.

[2021-01-03 02:15] Rustinante commented on #62358
That objection would also apply to the existing function `is_some()` and `is_err()`

[2021-01-03 02:27] ximon18 commented on #62358
@Rustinante: I see your point, and I’m not convinced that I’m right, but to me `is_some` and `is_err` don’t have the concern I mentioned because they don’t seem to be talking about the inside value while `eq_some(y)` and `eq_err(y)` are trying to say something about the inside value.

At any rate, I was trying to offer another possibility for consideration, not to comment directly on the value or

[2021-01-03 02:56] frewsxcv commented on #62358
My take on `eq` is that it's misleading because we're using `PartialEq` in this method, not `Eq`

[2021-01-03 02:58] Rustinante commented on #62358
Then why do people still use the equality operator `==`  for both `Eq` and `PartialEq` comparisons? Isn't that misleading as well?

[2021-01-03 02:59] Rustinante commented on #62358
Then why do people still use `==` for both `Eq` and `PartialEq` comparisons? Isn't that misleading as well?

[2021-01-03 03:26] frewsxcv commented on #62358
This was covered earlier: https://github.com/rust-lang/rust/issues/62358#issuecomment-508900472

[2021-01-03 03:28] lygstate commented on #80634
Do I need to wait this to be finished?

[2021-01-03 03:31] Rustinante commented on #62358
I see, but it still doesn't mean we can't use `eq`, even the trait method for `PartialEq` is `eq` https://doc.rust-lang.org/std/cmp/trait.PartialEq.html#tymethod.eq
Other proposed names don't even begin to touch on these nuances.

[2021-01-03 03:48] steffahn opened #80636 "Unfortunate warning about “unnecessary parentheses” that aren’t really unnecessary"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6f52eff26fa02f2c03ba849536df15ae))

Warnings:

[code]

Following this warning’s `help: remove these parentheses` results in
[code]
[code]

Similarly, `cargo fix` results in
[code]
_(for some reason the warning is duplicated in the `cargo fix` output...)_

[2021-01-03 03:55] jyn514 commented on #32077
MCVE:
[code]
As of 1.48 stable, `detail()` will appear in the documentation for `Event`, but not in the documentation for `KeyPressEvent`.

[2021-01-03 03:57] jyn514 commented on #32077
Note that a workaround is to use `KeyPressEvent` instead of `Event` in the impl block, which shows the methods in both places as expected.

[2021-01-03 04:19] jyn514 commented on #80636
Related: https://github.com/rust-lang/rust/issues/78747

[2021-01-03 04:36] PatchMixolydic opened #80638 "Confusing diagnostics resulting from a function with the bound `T: FnOnce() -> T` that takes `T` and returns `T`"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4c66b2f455d1d8e600ba92650cb8a772)):

[code]

I expected to see this happen:

Either a diagnostic proclaiming that the type parameter for `closure_ret_closure` is recursive or a diagnostic that `|| 4` does not return `FnOnce() -> FnOnce() -> FnOnce() -> ...`.

Instead, this happened:

Two seemin

[2021-01-03 04:40] jyn514 opened #80639 "`x.py check` doesn't allow checking tools other than clippy and rustdoc"
I tried this code:

[code]

I expected to see this happen: x.py checks rustfmt

Instead, this happened:
[code]

Note I am not asking for the default `x.py check` to be changed at all, just for it to be *possible* to check rustfmt in-tree. Right now you have to use `x.py build --stage 1 src/tools/rustfmt` which compiles the compiler 3 times (two of them unnecessarily - rustfmt uses rustc_ap_*, not

[2021-01-03 04:56] jyn514 commented on #80638
At very least, I think this could highlight `4` instead of the function call:
[code]
Some other things that would help:
- Change `/* code */` to `4`:
[code]
- Point to the return type instead of the generic bound:
[code]

[2021-01-03 05:00] jyn514 commented on #80638
@PatchMixolydic that said, this function isn't possible to write in Rust: if you return `fn() -> T`, that means the function you're currently in has type `fn() -> (fn() -> T)`. So adding more `||` will always keep giving you more errors.

(I think in untyped languages like lisp this might be possible.)

[2021-01-03 05:10] PatchMixolydic commented on #80638
@jyn514 That's quite true (with the exception of manually implementing `FnOnce` as in the original report, but that's currently unstable as far as I'm aware). It may be possible to not emit `note: wrap the T in a closure` on E0277 for the case where the generic parameter returns itself, though I fear that may run into some tricky edge cases quite quickly.

I do feel that emitting `4` instead of `{

[2021-01-03 05:22] humancalico commented on #80498
@rustbot claim

[2021-01-03 05:45] lzutao commented on #80586
@rustbot label T-infra

[2021-01-03 06:11] Jarcho opened #80640 "Wrong drop order with final match expression"
I tried this code:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3b51fdd9183ef26419036ed0a7e6e647))

Expected output:

[code]

Actual output:

[code]

If a semicolon is added after the match expression then the drop order is as expected.

Tested on stable 1.49 on the playground.

[2021-01-03 07:28] leonardo-m commented on #80636
Rust instead should suggest (x as i32) here.

[2021-01-03 08:48] matklad commented on #26494
@oilaba my example is fixed, the return value is no longer via stack:

[code]

The difference is that rust abi version now uses a vectorized add, which seems like a win?

[2021-01-03 09:21] booleancoercion opened #80644 "Incorrect example in documentation for std::hint::spin_loop"
Hi, I was reading the [documentation for `std::hint::spin_loop`](https://doc.rust-lang.org/stable/std/hint/fn.spin_loop.html) when I stumbled upon this example (using the form with no hidden items):
[code]
I think that the values for AtomicBool might be inverted, because this program never terminates when run in the playground. Should this be fixed or is there something I'm missing?

[2021-01-03 10:51] jonas-schievink commented on #80640
This is working as intended. `match` drops the scrutinee only after the whole `match` is evalutated, and the trailing expression in a block is dropped after all locals.

[2021-01-03 10:51] #80640 closed

[2021-01-03 11:00] p0lunin opened #80645 "ICE on Miri: vtable not supported on type Pin<&mut dyn futures::Future<Output = i32>>"
### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b530e4722f0d660d0f5d8f2455b598d

Tools -> Miri

### Meta
[code]
### Error output

[code]

[2021-01-03 11:43] davidhewitt commented on #67984
Ah yes, very true!

[2021-01-03 12:50] GroteGnoom commented on #78123
@rustbot claim

[2021-01-03 12:51] GuillaumeGomez commented on #80582
Just by curiosity: do you have the same issue on doc.rust-lang.org/nightly/std ? Because I don't have any issue to select the type name, so maybe it was something specific to older versions?

[2021-01-03 13:11] RalfJung commented on #72215
In https://github.com/rust-lang/rust/pull/80418, quite a few additional test cases fail only because of this check -- and accepting them would likely just accept buggy programs.

[2021-01-03 13:15] Nadrieril commented on #78123
Thanks for taking this on @GroteGnoom ! Feel free to ask me questions here or on [zulip](https://rust-lang.zulipchat.com/).

[2021-01-03 13:15] RalfJung commented on #80645
Thanks for the report! This is a duplicate of https://github.com/rust-lang/miri/issues/1038.

[2021-01-03 13:15] #80645 closed

[2021-01-03 13:24] RalfJung opened #80647 "use PlaceRef more consistently"
We have quite a bit of code that needs to work with the `projections` that make up a [`Place`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/struct.Place.html) or [`PlaceRef`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/struct.PlaceRef.html). Much of it works with the `projections` array directly, which is rather verbose. We now have better APIs that avoid h

[2021-01-03 13:41] GroteGnoom commented on #78123
Thanks for the warm welcome :)

I do have questions, but I already made a preliminary commit to check if I'm going in the right direction:
https://github.com/GroteGnoom/rust/commit/287c152c02784af517d5455bb02a5f01888a5506

Is that ok, or is it better if I ask questions before committing, or just make a PR and adapt it?

[2021-01-03 14:21] GuillaumeGomez commented on #80504
There was a first attempt to fix this issue [here](https://github.com/rust-lang/rust/pull/59785), but not sure if this is the right approach.

[2021-01-03 14:24] GuillaumeGomez commented on #80502
It'd require to add a test to prevent the regression (in `src/test/rustdoc`). I'll mark the issue as `E-medium` because it might require to extend those tests to be able to check directly on `std` docs.

[2021-01-03 14:27] AntonSmolkov commented on #60268
And elasticsearch/lucene, please😂

[2021-01-03 14:27] GuillaumeGomez commented on #80326
I think the error is valid? Outer attributes are supposed to be used first in the containing item so the error message makes sense to me.

[2021-01-03 15:07] Nadrieril commented on #78123
That commit looks like what we want yes :) Go ahead and make a PR, it's easier to comment on specific bits of the code

[2021-01-03 15:10] oli-obk commented on #53819
We (well, @eddby, but I implemented it) found a way that doesn't require a dataflow analysis: If a local variable in a const/static item's initializer has no `StorageDead`, then that means that it is a temporary in the final expression of the initializer and thus follows the "escaping scope" rule and gets interned. Thus we are allowed to reference it (otherwise borrowck would fail anyway). This wa

[2021-01-03 15:55] jyn514 commented on #53038
Duplicate of https://github.com/rust-lang/rust/issues/26207

[2021-01-03 15:55] #53038 closed

[2021-01-03 15:55] jyn514 commented on #71640
Duplicate of https://github.com/rust-lang/rust/issues/26207.

[2021-01-03 15:55] #71640 closed

[2021-01-03 16:02] GuillaumeGomez commented on #79587
Actually, this should better be in the cargo book instead since it's a cargo-linked issue here.

[2021-01-03 16:37] frewsxcv commented on #62358
Oh, nevermind then. `PartialOrd` has `partial_cmp`, but `PartialEq` has `eq`. Did not know that.

[2021-01-03 16:49] jyn514 commented on #80644
@booleancoercion good catch, thanks! Would you like to fix it yourself? There are instructions at https://rustc-dev-guide.rust-lang.org/getting-started.html; the command to test your changes is `x.py test --stage 0 --doc library/std`.

[2021-01-03 17:06] booleancoercion commented on #80644
@jyn514 I'd love to! Do I just make a PR that references this issue then?

[2021-01-03 17:16] RalfJung commented on #53819
So far, the argument as I understood it was the other way around: if a local variable *has* a `StorageDead`, it is certainly not part of the final value since it will be deallocated first.

[2021-01-03 17:31] jyn514 commented on #80644
@booleancoercion yup, that would be great :)

[2021-01-03 17:37] jyn514 commented on #80379
cc https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/What.20is.20the.20difference.20between.20AssocTypeItem.20and.20TypedefItem/near/221461855

[2021-01-03 18:11] dancojocaru2000 commented on #23818
@dtolnay

In no other programming language that I worked with is that a **need**.

Furthermore, Rust breaks an expectation that is fulfilled by other languages: input given without the full output shown is garbage, unwanted input.

Here are two examples:

- it doesn't make sense that a line read contains the name if the "Name: " prompt wasn't flushed and therefore displayed beforehand
- when commu

[2021-01-03 19:36] NilSet commented on #31436
Is there anything remaining which suggests this should not be stabilized as is? It seems like inference fallbacks or more general type ascription are both solutions which will improve the ergonomics at a later date, and will not be hindered by stabilizing try blocks as is.

[2021-01-03 19:45] ChrisJefferson opened #80657 "Explain "It is a logic error ... " in HashMap, BTreeMap and others"
In various pieces of the documentation that talk about "It is a logic error ...", mostly to change the keys of HashMap/Sets and BTreeMap/Sets, using RefCells or hashing functions which change their behaviour based on global variables.

What does "it is a logic error ... " mean? With some brief playing it appears (to me) that it puts the datastructure in an inconsistent state, where future calls to

[2021-01-03 19:52] SNCPlay42 opened #80658 "Note when opaque future from `async fn` is involved in a type mismatch is unclear"
[code]
emits
[code]

The note "the `Output` of this `async fn`'s found opaque type" is kind of hard to understand. If the return type of `async_fn` isn't explicitly given, it doesn't even point at a type:
[code]

Perhaps the note should instead look like this:

[code]

@rustbot label A-async-await A-diagnostics D-confusing T-compiler

[2021-01-03 20:24] #80570 closed

[2021-01-03 20:31] bradleyharden commented on #80416
@JulianKnodt, adding `#[inline]` doesn't make a difference. I think I can explain why you were seeing a difference. If I add `#[inline]` to both `cycle_nth_take()` and `cycle_skip_take()`, then both functions disappear, as expected. If I add a call site for `cycle_nth_take()` but *not* for `cycle_skip_take()`, then it is able to compile it to a constant. But if I then add a call site for `cycle_sk

[2021-01-03 20:49] ibraheemdev commented on #63066
Is there a tracking issue for named existential types? #44685 was closed as a duplicate of #34511, which was closed in favor of this issue, but I don't see named existential types mentioned anywhere here...

[2021-01-03 21:03] memoryruins commented on #63066
@ibraheemdev https://github.com/rust-lang/rust/issues/63063
https://rust-lang.github.io/rfcs/2515-type_alias_impl_trait.html

[2021-01-03 21:24] bradleyharden commented on #80416
Both `skip` and `cycle` have a branch within their `next` methods. It seems like the compiler is having trouble propagating its compile-time knowledge through these branch points. Here's one idea I had to improve it.

Right now, `skip` stores its argument `n` as a `usize`, and it uses `0` as a sentinel value to indicate when it has already skipped ahead. Instead, I thought the compiler might have

[2021-01-03 21:29] rxrbln opened #80663 "Default target regression since 1.48"
When bootstrapping Rustc from source, e.g. for embedded use cross compiling for another architecture, e.g. i586, arm, mips, etc. rustc since 1.48 no longer defaults to the configured target tripplet.

Configured with:
./configure --prefix=/usr/src/t2-clean/build/x86-20.12-generic-x86-i586-cross-linux/TOOLCHAIN/tools.cross/usr --libdir=/usr/src/t2-clean/build/x86-20.12-generic-x86-i586-cross-linux/

[2021-01-03 21:39] aDotInTheVoid opened #80664 "ICE on rustdoc-json with re-export due to ID collision"
### Code

[code]

### Meta
Invoke with `rustdoc broke.rs --output-format json`

`rustdoc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Working variants
[code]
<details><summary>json</summary>

[code]

</details>

[code]
<details><summary>json</summary>

[code]

</details>

[code]
<details><summary>js

[2021-01-03 21:40] aDotInTheVoid commented on #80664
@rustdoc modify-label -T-compiler +T-rustdoc

[2021-01-03 21:52] jyn514 commented on #80664
I still think the right fix for this is for JSON to have its own IDs that are separate from DefIds. The main issue is that you want the functionality of *both* HirIds and DefIds, basically, and some things with the same DefId have different HirIds. You can't just use HirIds because they're only available for the current crate; you wouldn't be able to serialize things from other crates.

[2021-01-03 22:49] mqudsi commented on #57054
I finally had some time to revisit the project that was triggering this for me and was not able to reproduce in a week of use. 👍

[2021-01-03 22:49] #57054 closed

[2021-01-03 23:07] jyn514 commented on #80663
cc @Mark-Simulacrum - I think I remember hearing that this change was intentional, but I can't remember which PR changed it.

[2021-01-03 23:17] #77681 closed

[2021-01-03 23:40] #79501 closed

[2021-01-03 23:41] Mark-Simulacrum opened #80667 "Crater runs for 1.50"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-01-03 23:42] Mark-Simulacrum commented on #80667
@craterbot run name=beta-1.50-1 start=1.49.0 end=beta-2021-01-01 mode=build-and-test cap-lints=warn p=10

[2021-01-03 23:42] Mark-Simulacrum commented on #80667
@craterbot run name=beta-1.50-rustdoc-1 start=1.49.0 end=beta-2021-01-01 mode=rustdoc cap-lints=warn p=5

[2021-01-03 23:43] camelid commented on #55002
Reopening to track deprecation of `sync::atomic::spin_loop_hint`
.

[2021-01-03 23:46] camelid commented on #80657
By "unsafe behavior" I assume you mean "Undefined Behavior"?

[2021-01-03 23:48] Mark-Simulacrum commented on #80657
We must guarantee that there is no UB as a result of nonsense Ord/Hash/PartialEq etc impls, but I do not think we should guarantee anything beyond that. I would be open to a PR making a change improving the wording here.

[2021-01-03 23:50] Mark-Simulacrum commented on #80663
Would be great to get a bisection; I don't recall this being intentional.

[2021-01-04 00:01] camelid commented on #4287
I updated the code to be modern Rust and I formatted it ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2aa0d6a800d1caaf0f180d0315931078)):

[code]

Here's the current rustc output:

[code]

[2021-01-04 00:05] tmiasko opened #80668 "`size_of_val` and `min_align_of_val` intrinsics should be unsafe"
The unsafe functions `size_of_val_raw` & `align_of_val_raw` are implemented using
`size_of_val` and `min_align_of_val` intrinsics, which are currently considered to
be safe.

The #69079 changed the API of those intrinsics to accept raw pointers instead
of references, but didn't update the safety of those intrinsics (the discussion
regarding safety can be found in aforementioned PR).

Function desc

[2021-01-04 00:09] mqudsi opened #80669 "Detect static narrowing of integer fields for exhaustibility purposes"
Quite apart from tagging variables with their temporarily narrowed range until the next assignment, it would be nice if the compiler had at least basic support for detecting constant/static narrowing of a field at the site of a match/comparison, allowing this code to compile:

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&code=%23!%5Bcrate_type%20%3D%20%2

[2021-01-04 00:21] mqudsi opened #80671 "Allow a control flow statement to be decorated with #[allow(unreachable_code)]"
Currently it seems that the only way to silence an `unreachable_code` warning is via an interior `#![allow(unreachable_code)]` attribute that would apply to the entire scope or artificially creating a new scope with the inner attribute in question.

Would it be possible to allow a control flow statement to be individually tagged with a regular `#[allow(unreachable_code)]` statement to also suffice

[2021-01-04 00:25] petrochenkov commented on #42868
@cole-miller
It's reported as a lint only in cases where making it a hard error would cause breakage back in 2017.
The intent is to produce an error, in general, the lint is only a way to give people some time to fix code.

[2021-01-04 00:30] cole-miller commented on #42868
Thanks, understood. So I can go ahead and assign an error number and `--explain` text?

[2021-01-04 00:35] oli-obk commented on #80671
You'd need to apply the attribute to the `let`, not the `return`, as the `return` is not unreachable, it's everything behind it.

We frequently have similar issues in clippy with diagnostics reporting on an expression, but lint attributes only working on entire functions. I'm not sure if the `unreachable_code` can be fixed in the way it is implemented right now, but there's nothing inherently spea

[2021-01-04 00:44] mqudsi commented on #80671
I originally had an example showing both the `let` and the `return` each decorated with `#[allow(unreachable_code)]` but decided to make the feature request more specific (as neither suppresses the warning right now). I figured that semantically a single unreachable expression tagged with `allow(unreachable_code)` would, strictly speaking, apply only to that one expression and nothing would explic

[2021-01-04 00:44] oli-obk commented on #80630
I thought we already had an optimization for this

[code]

just looking locally at this, the `goto -> bb1` should become `goto -> bb7`. Basically if a block assigns a constant to a local and then jumps to a block which does not touch that local and ends up conditionally branching on the local, then we can copy all statements from the branching block to the current block and make it an unconditiona

[2021-01-04 02:44] silence-coding opened #80674 "panic in elapsed()"
The panic occurs in the third-party hyper.

https://github.com/hyperium/hyper/issues/2385

[2021-01-04 02:45] silence-coding commented on #80674
![image](https://user-images.githubusercontent.com/32766901/103496636-f5fdea80-4e79-11eb-9977-a3198aa77882.png)

[2021-01-04 03:45] SamRodri opened #80675 "Unexpected "the parameter type `T` may not live long enough" at a point where `T` is not relevant"
This code fails to compile at the `Box::new(foo)` line with ``error[E0310]: the parameter type `B` may not live long enough``.

My understanding is that at that point we have a variable of type `{impl Foo}` and `Foo: 'static`.  If we move the boxing code
to a function (`box_foo`) the code compiles.

[code]
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gis

[2021-01-04 03:46] jyn514 commented on #80674
https://doc.rust-lang.org/std/time/struct.Instant.html#panics-1

What operating system are you on? How are you setting the instant? On some systems the clock time is not actually monotonic.

https://github.com/rust-lang/rust/blob/80184183ba0a53aa4f491753de9502acd3d6920c/library/std/src/time.rs#L223-L250

[2021-01-04 03:53] camelid opened #80676 "Should `Path::display` return `impl Debug + Display` instead of concrete type?"
Currently, the `Path::display()` function returns the concrete
`std::path::Display` type. As far as I can tell, this type's public API consists
of only its implementations of `Debug` and `Display`. Should `Path::display()`
return a generic `impl Debug + Display` instead of allowing users to rely on it
being a particular concrete type?

I think the potential breakage is probably none since you can'

[2021-01-04 03:57] jyn514 commented on #80675
It compiles because you added `Foo: 'static` to the trait. If you remove that you get a similar error:

[code]

Which happens because `Box<dyn Foo>` is the same as `Box<dyn Foo + 'static>`, but `impl Foo` doesn't have any implicit lifetime bound.

The real issue is that the code doesn't work even if you add `+ 'static` to `foo()`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&

[2021-01-04 03:59] eminence commented on #56073
Just chiming in to say that I also heavily use my browsers 'find-on-page' feature (<kbd>ctrl-f</kbd>) and not being able to easily expand all docs is a little frustrating (because the browse search functionality will miss things).

But maybe on possible solution is to improve the built-in search functionality, so that it's not necessary to rely on in-browser search.

[2021-01-04 04:53] the8472 commented on #80416
Another approach I have seen in some places in std is unrolling the first loop iteration so that the compiler has an easier time with the loop for the remainder. That could be tried by implementing `fold` in `Zip`.

[2021-01-04 06:18] silence-coding commented on #80674
rust version:  1.45.2
operating system:   EulerOS 2.0SP5   x86_64
https://developer.huaweicloud.com/en-us/euleros/lifecycle-management.html

[2021-01-04 06:21] DrMeepster commented on #80376
@rustbot claim

[2021-01-04 06:35] silence-coding commented on #80674
@jyn514 Thank you for your reply.  Can I ask how to set the instant will trigger this situation?

[2021-01-04 06:53] chengniansun opened #80678 "ICE: compiler/rustc_infer/src/infer/canonical/canonicalizer.rs:381:17: encountered a fresh type during canonicalization"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-04 07:49] lzutao commented on #80676
Isn't it a breaking change if we change return type by now?

[2021-01-04 08:41] simonvandel commented on #80630
AFAICT this is optimized with  #80475

[2021-01-04 08:52] nikic commented on #80630
LLVM can optimize this with the `-C llvm-args=-jump-threading-across-loop-headers` option. By default LLVM does not perform jump threading across loop headers, because it cannot reliably determine profitability for this case right now. Doing this naively results in natural loops becoming irreducible, which will pessimize all following loop optimizations.

[2021-01-04 09:28] ordian commented on #39935
#78626 turned this into a compile error.

[2021-01-04 09:46] tuzz commented on #25289
I get this problem frequently on macOS. I have a large project that I re-compile often (~20 times per hour) and I get this maybe once every ten times. My way to fix it is to `rm -rf target/debug` and recompile. I'm using `sccache` so I don't know if it's anything to do with that.

If anyone would me to test a solution, let me know as I can reproduce this issue fairly reliably.

Thanks

[2021-01-04 09:50] leonardo-m commented on #80669
This is a beautiful can of pretty worms.

[2021-01-04 10:00] Darksonn opened #80682 "slice::swap violates the aliasing rules"
The `slice::swap` method is currently implemented as

https://github.com/rust-lang/rust/blob/b33e234155b33ab6bce280fb2445b62b68622b61/library/core/src/slice/mod.rs#L544-L556

If called with `a == b`, then it first creates a raw pointer to an element in the vector, and then it creates a mutable reference to that same element, asserting exclusive access. It then proceeds to use the original raw poin

[2021-01-04 10:15] SkiFire13 commented on #80682
May this have something to do with the fact that slice indexing uses intrinsics?

[2021-01-04 11:06] rxrbln commented on #80663
On further investigation it looks like the default target was already the host with 1.47.0 I'm still investigating why 1.48 and 1.49 regress with Firefox in our embedded builds. Maybe there is something else going on. However, maybe the default target should be the configured cross target?

[2021-01-04 11:35] rylev commented on #80556
Assigning P-medium as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380556.20ICE.20when.20returning.20an.20repr(i8).20enum.20from.20an.20extern.20c.E2.80.A6) and removing I-prioritize.

[2021-01-04 12:12] oli-obk commented on #80682
No, it's because slice indexing uses the `IndexMut´ trait, which returns a mutable reference. So we create two mutable references to the same place, even if we immediately coerce them to a raw pointer. Unfortunately even `&raw mut self[a]` would not help, because the indexing operaiton itself creates a mutable reference. So I think the only way would be to use [`[T]::as_mut_ptr()`](https://doc.rus

[2021-01-04 12:14] oli-obk commented on #80676
if we use `pub type Display = impl fmt::Display + fmt::Debug;` and rename `path::Display`, then all the imports should still line up, but I'm not sure we are at a stage where we can use type alias impl trait this way

[2021-01-04 12:26] oli-obk commented on #80669
I think this is what is meant when ppl talk about refinement types, even in such a "simple" case. I don't think this issue is really actionable at this point. We have a large design space to explore here, and I don't think we'll be able to hash this out in this issue. There have been many discussions around it, and while I personally think it would be great to support just the simple cases for now

[2021-01-04 12:29] SkiFire13 commented on #80682
@oli-obk I'm pretty sure that slice indexing doesn't use `IndexMut` but intrinsics. In fact `IndexMut<usize>` is implemented with slice indexing, which would cause infinite recursion if slice indexing didn't use intrinsics.

https://github.com/rust-lang/rust/blob/887398ff688e2e3cf8a95e588d0b51420e08fb6b/library/core/src/slice/index.rs#L185-L189

Now back at the issue, my point wasn't that the prev

[2021-01-04 12:36] oli-obk commented on #80682
Oh right... well... it's still not intrinsics, it's weird builtin magic, which I know is not really helping the discussion.

Aaaanyway: Your insight was the important one I needed: We can actually fix this by changing the `&mut self[a]` to `&raw mut self[a]`, no other changes needed. The builtin magic will then never create a mutable reference, but directly create a raw pointer to the destination(

[2021-01-04 13:01] jonas-schievink commented on #80669
This is certainly RFC / Project Group territory, so closing in favor of that

[2021-01-04 13:01] #80669 closed

[2021-01-04 13:36] vext01 opened #80683 "x.py install doesn't install binaries."
CC @pietroalbini

On today's git (0cd459fd629bc5444cdbda3ceb341cd0bf6eece2) `x.py install` with the config  below doesn't install any binaries.

Here's the config:
[code]

`docs = false` is needed to work around [a different `x.py` bug](https://github.com/rust-lang/rust/issues/80684) where installing the docs hangs.

After `x.py install` the resulting install dir contains:
[code]

Also odd that so

[2021-01-04 13:40] vext01 opened #80684 "Installing docs with `x.py install` is very slow."
CC @pietroalbini

On today's git (0cd459f) `x.py install` seems to get stuck if you are building docs.

In `config.toml`:
[code]

`x.py install` will get stuck at:
[code]

The underlying command is: `sh /home/vext01/source/rust/build/tmp/tarball/rust-docs/x86_64-unknown-linux-gnu/rust-docs-1.51.0-dev-x86_64-unknown-linux-gnu/install.sh --prefix=/home/vext01/source/rust/build/ykrustc-stage2-latest

[2021-01-04 13:42] pietroalbini commented on #80684
How long did you let the command run before killing it? I remember installing the docs taking a *long* time last time I did it.

[2021-01-04 13:43] vext01 commented on #80684
I left it for half an hour or so IIRC. I'll run it for longer and see if it goes away.

How long do you think it should take to install on a modern SSD?

[2021-01-04 13:46] dalcde opened #80685 "Error when building with panic = "abort" and -Z build-std"
**EDIT:** The same happens with building an (empty) binary crate with `panic = "abort"` and `-Z build-std`, without cross-compilation

Create an empty library crate with `crate-type = ["cdylib"]`. Then attempt to build with
[code]
Then you get lots of errors of the form
[code]
This works if either `cdylib`, `build-std` or cross-compiling to `wasm32-unknown-unknown` is removed. I have not attempted

[2021-01-04 13:56] pietroalbini commented on #80684
I don't remember exactly how long it takes, but it doesn't depend on the speed of the disk. `install.sh` is just really inefficient. You can see if it's actually hanging by checking the contents of `lib/rustlib/install.log` this command while it's installing:

[code]

[2021-01-04 13:57] jyn514 commented on #80674
@silence-coding like the comment says, if the system time is not monotonic then this panic can happen when you set it to a time that's earlier. I don't know any more than that.

[2021-01-04 14:10] vext01 commented on #80684
The log file is empty, but I can see new files appearing on the disk (using `find` and `diff`) so progress must be occurring. Slowly.

[2021-01-04 14:12] jryans commented on #26207
@rustbot claim

[2021-01-04 14:17] Armavica opened #80687 "Erroneous suggestion for uninferred const generic"
Hello, I noticed that the error message for an uninferred const generic proposes an erroneous suggestion in this case:

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-01-04 14:27] Armavica commented on #80687
I would be interested in tackling this bug, but I am unfamiliar with the compiler internals and would be grateful for some guidance. As far as I understand, [this span](https://github.com/rust-lang/rust/blob/master/compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs#L636) is too large (corresponds to `Foo::new` instead of just `Foo`), which causes the error. So my plan is to find a wa

[2021-01-04 14:29] vext01 commented on #80684
It's been about 40 minutes now. It seems to be adding files to `build/tmp/empty_dir/` is that right?

[2021-01-04 14:34] RalfJung commented on #73394
Another option might be `ptr::const_addr_of!` and `ptr::mut_addr_of!`. These at least indicate what the operation is doing.

[2021-01-04 14:36] goosnarrggh commented on #57112
I see that ppc64 support was added, and it is actually available now for ppc64 ELFv1 ABI (FreeBSD 12.x), and both ppc64 and ppc64le ELFv2 ABI (soon-to-be-released FreeBSD 13).

How far has anyone made it with bringing up support for 32-bit ppc, on either FreeBSD 12.x (with gcc 4.2 in the base system, and thus probably relying on a newer gcc/llvm compiled from source code via the ports), or else Fr

[2021-01-04 14:48] vext01 commented on #80684
So it's just very slow.

[2021-01-04 15:34] ijackson opened #80690 "Tracking Issue for BufWriter::into_raw_parts"
Feature gate: `#![feature(bufwriter_into_raw_parts)]`

This is a tracking issue for `BufWriter::into_raw_parts` and its associated error type etc.

This allows a `BufWriter` to be disassembled, and the inner writer to be recovered - without attempting to write out any buffered data (instead it is returnedt to the caller), and therefore (unlike `into_inner`) succeeding even if the underlying writer

[2021-01-04 15:41] Aaron1011 opened #80691 "Trait predicate evaluation cache incorrectly handles EvaluatedToOk"
Split out from the discussion in https://github.com/rust-lang/rust/issues/80336. See https://github.com/rust-lang/rust/issues/80336#issuecomment-750832566 for the original comments.

------

The issue is caused by the way that we handle regions in the evaluation cache. When we insert a result into the evaluation cache (either `infcx.evaluation_cache` or `tcx.evaluation_cache`, we use a 'freshened'

[2021-01-04 15:41] Aaron1011 commented on #80336
Let's continue the discussion of the trait evaluation issue in https://github.com/rust-lang/rust/issues/80691

[2021-01-04 15:47] RalfJung commented on #80682
Good catch!

Hm... `self` is still a reference though, so this still relies on indexing being primitive. But yes, this should work and fix the Miri failure.

Well, the idea is that with the primitive operations, no reference to the entire slice is created -- so Miri is behaving as intended here. But indeed this difference between primitive and non-primitive indexing can be confusing.

[2021-01-04 16:08] abcfy2 opened #80693 "Target mips-unknown-linux-musl and mipsel-unknown-linux-musl are not statically linked."
Here issue is from: https://github.com/rust-lang/cargo/issues/9039

### Meta

`rustc --version --verbose`:
[code]

**Problem**

Target mips-unknown-linux-musl and mipsel-unknown-linux-musl are not statically linked, maybe it's an rustc issue?

**Steps**
1. download build toolchain from: musl.cc
2. cargo new cargo-hello && cd cargo-hello
3. cargo build --target mips-unknown-linux-musl or cargo buil

[2021-01-04 16:11] #78123 closed

[2021-01-04 17:06] pickfire opened #80694 "Name collision for unit struct for different crate bad error"
I tried this code: (change the `src/bin/init.rs` from https://github.com/pickfire/diesel-multi-join-play)

[code]

I expected to see this happen:

I wanted to make a minimal reproduction for this issue but I see a better error message which it should be like that. So here is the minimal reproduction code that works.

[code]

[code]

Instead, this happened (on the first code that I showed):

[code]

[2021-01-04 17:29] ijackson opened #80695 "Tracking Issue for extra unix ExitStatusExt methods"
Feature gate: `#![feature(unix_process_wait_more)]`

This is a tracking issue for a collection of logically necessary but previously missing methods on `ExitStatusExt`, the Unix-specific extension trait for `ExitStatus`.

### Public API

[code]

### Steps / History

- [x] Implementation: #79982
- [x] Check that nothing broke due to us sealing the `ExitStatusExt` trait on both Unix and Windows
- [x

[2021-01-04 17:58] #80663 closed

[2021-01-04 18:19] usbalbin opened #80697 "Tracking Issue for const_intrinsic_copy"
Feature gate: `#![feature(const_intrinsic_copy)]`

This is a tracking issue for making the functions `ptr::copy` and `ptr::copy_nonoverlapping` as well as some related functions `const fn`.

### Public API

[code]

### Steps / History

- [x] Implementation of `ptr::copy` and `ptr::copy_nonoverlapping` as `const fn`: #79684
  - [x] Link to this issue in feature gate: #80699
- [x] Also constify `cop

[2021-01-04 18:23] usbalbin commented on #80377
Perhaps #80697 is a better place to discuss the `Comment out the debug assertions for now`-question? Since #80697 is specifically for `copy[_nonoverlapping]`

[2021-01-04 18:33] jamesmunns commented on #53639
Would it be reasonable to propose a deprecation notice for `static mut` in the 2021 edition, with a planned intent to replace it with either `&raw` or `*UnsafeCell` by the time of the following edition? Or would the `&raw` semantics still largely be provided by the `static mut` declaration syntax?

It seems to me that there is potentially rough consensus that `static mut` is "bad" enough to deprec

[2021-01-04 18:48] willcrichton opened #80700 "Overflow in checking recursive trait requirements with specialization"
# The issue

I'm making a small type-level program that computes the last element of a type-level list. Compiler is `rustc 1.51.0-nightly (80184183b 2021-01-03)`. This program works correctly:

[code]

My goal is to turn `GetLast` into a higher-order type function, via the [family pattern](http://smallcultfollowing.com/babysteps/blog/2016/11/03/associated-type-constructors-part-2-family-traits/) a

[2021-01-04 19:23] Earlz opened #80701 "Mismatched lifetime on trait impl shows a misleading error"
The rust compiler gives a very poor error message when there is a lifetime expectation mismatch on trait usage.

I used this code: (playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=581fa159f8ff99f2df447308fccd4bbc )

[code]

I expected to see a useful error message, such as "expected trait `BaseSetter<'a>`, found trait: `BaseSetter<'static>`"

Instead, I was

[2021-01-04 19:25] Earlz commented on #80701
For reference, this error message is resolved by changing

[code]

To this explicit lifetime scoped version:

[code]

[2021-01-04 19:39] jryans commented on #66118
@sylvestre: To workaround this option mismatch, you could try using [Cargo's env vars](https://doc.rust-lang.org/nightly/cargo/reference/config.html#profilenamelto) to specify the LTO mode, which should prevent Cargo from emitting `-C embed-bitcode=no`. For example, `CARGO_PROFILE_RELEASE_LTO=thin` should leave out `-C embed-bitcode=no` while also setting `-C lto=thin`, allowing the workaround app

[2021-01-04 19:47] sylvestre commented on #66118
Nice to see you here @jryans ;)
I will have a look, for now, I just disable `dwz`. For example:
https://salsa.debian.org/rust-team/debcargo-conf/-/blob/master/src/fd-find/debian/rules#L15-17

[2021-01-04 19:57] DutchGhost opened #80702 "Invalid feature suggestion: #[feature(const_generics)]"
When writing a const generic that uses a type other than `bool`, `char` or `integer`, the compiler generates the following error message:

[code]

However, this error message is wrong, as its missing a `!` in the feature suggestion.
It should be `#![feature(const_generics)]` rather than `#[feature(const_generics)]`

[2021-01-04 20:02] varkor commented on #80687
@Armavica: I think you're on the right lines. The simplest solution might be to collapse the span to the end with `shrink_to_hi` (so it points in between the method name and the parentheses) and replace `format!("{}::<{}>", parent, arg_data.name))` with `format!("::<{}>", arg_data.name))`. Some of the preceding lines can then be simplified.

[2021-01-04 20:12] alexcrichton opened #80703 "rust-lld doesn't work on Linux unless executed with rustup wrapper"
I noticed that some CI builds started breaking over winter break with the 1.49.0 release of rustc. It looks like this is the behavior I'm running into:

[code]

This appears to work with 1.48.0. It looks like in Rust 1.48.0 the `rust-lld` executable had libLLVM statically linked and now it has it dynamically linked. Unless the rustup wrapper is executed though (which munges `LD_LIBRARY_PATH` I bel

[2021-01-04 20:43] max-heller commented on #77150
Attempting to disambiguate associated types/values of primitives with an incompatible disambiguator gives a confusing error:
[code]
The error stems from a `ResolutionFailure::WrongNamespace`.

_Originally posted in https://github.com/rust-lang/rust/pull/80660#discussion_r551098613_

[2021-01-04 21:01] JulianKnodt commented on #80416
@bradleyharden do you think you could see if
[code]
with `n: usize` works as well for your case as the `n: Option<usize>`? The [asm](https://godbolt.org/z/j8qqWh) looks better than the original.

[2021-01-04 21:14] tmiasko commented on #66741
Unwinding on allocation failure is also incompatible with box expressions. They are lowered to `_0 = Box(T);`, and cannot affect a control flow.

[2021-01-04 21:29] max-heller commented on #70433
Without the loop, the appropriate error (use of possibly-initialized `x`) is emitted. I've traced the difference down to the `report_use_of_moved_or_uninitialized` function in `borrow_check::diagnostics::conflict_errors`, where the possibly-initialized error can only be emitted if the vector of move sites produced by `MirBorrowckCtxt::get_moved_indices` is empty. In the version without the loop, i

[2021-01-04 21:47] #67520 closed

[2021-01-04 22:56] fominok opened #80706 "ICE(stable): thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/instance.rs:434:85"
### Code

**EDIT: MCVE is [here](https://github.com/rust-lang/rust/issues/80706#issuecomment-754832261).**

[code]

### Meta

Also reproducible on beta and nightly;

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-04 23:28] tgnottingham commented on #77960
The effect on runtime should be elaborated a bit. If I understand correctly, we wouldn't want to apply the transformation indiscriminately.

For example, functions that we actually want to be inlined shouldn't have this applied to them, because that would defeat the purpose of inlining. And I don't think we can expect LLVM to undo the transformation in these cases. At least it doesn't in the `Erro

[2021-01-04 23:51] petrochenkov commented on #73494
I've made a classifier tool as described in https://github.com/rust-lang/rust/issues/73494#issuecomment-739591728 (https://github.com/petrochenkov/classifui), trained it on the existing subdirectories, and then run on tests in `ui/issues`.
The results can be found in https://gist.github.com/petrochenkov/3130672b9d5e6c4253a8fe2f34405703, each line is a test name + three most likely subdirectories w

[2021-01-04 23:52] soc commented on #62358
@frewsxcv @Rustinante I wouldn't worry too much regarding `eq` & friends, the `Eq`/`PartialEq`/`Ord`/`PartialOrd` hierarchy makes little sense anyway.

[2021-01-05 01:29] lzutao commented on #80702
One just need to change this line: https://github.com/rust-lang/rust/blob/61f5a0092364061ec5649ca98d5e3e9b927880fe/compiler/rustc_typeck/src/check/wfcheck.rs#L333

[2021-01-05 01:40] JohnTitor commented on #80703
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380703.20rust-lld.20doesn't.20work.20on.20Linux.20unless.20executed.20with.20.E2.80.A6) and removing `I-prioritize`.

[2021-01-05 01:59] varkor commented on #80702
One doesn't even need to build the compiler: a search and replace for `#[feature(const_generics)]` in `src/test` would be enough.

[2021-01-05 02:12] fominok opened #80710 "Bad error message for associated fn used as method"
I tried this code:

[code]
And it won't compile as it should, but the error message gives bad advice:
[code]
this won't work
### Meta

Tested on Rust playground

[2021-01-05 02:13] dupu222 commented on #63047
[code]

# Environment

macOS Big Sur 11.1
stable-x86_64-apple-darwin (default)
rustc 1.49.0 (e1884a8e3 2020-12-29)

[2021-01-05 03:34] AaronKutch opened #80712 "LLVM is unable to allocate certain function returns on `sparc-unknown-linux-gnu`"
Some time ago, `compiler-builtins` ran into an issue where the `sparc-unknown-linux-gnu` target was unable to handle functions that return `(u128, u128)`. I made a temporary workaround in `compiler-builtins` and said that I would try to fix the underlying issue over winter break. There are currently two proposals for adding functions that return tuples of integers, https://github.com/rust-lang/rfc

[2021-01-05 03:46] haaami01 commented on #55149
I hope this will help, I'm already spending days fixing it. 😔

[2021-01-05 03:46] silence-coding commented on #80674
Thank you

[2021-01-05 04:24] JohnTitor commented on #80710
Full output:

[code]

Note that the latter note points out the issue.

[2021-01-05 04:33] jyn514 commented on #80706
Slightly smaller:
[code]
There are a few strange things about this:
1. If you remove `.await` from `async fn f()`, or if you remove `tokio::main`, it gives a *different* ICE:
[code]

<details><summary>Backtrace</summary>

[code]

</details>

2. If you make any of the functions unreachable, it compiles fine. Presumably the compiler notices they're unused and don't need to be monomorphized.
3. If yo

[2021-01-05 04:36] jyn514 commented on #80706
Relevant code:
https://github.com/rust-lang/rust/blob/9919ad6e9ed113557c68c430de2e0f434e4f5b6e/compiler/rustc_middle/src/ty/instance.rs#L434
https://github.com/rust-lang/rust/blob/9919ad6e9ed113557c68c430de2e0f434e4f5b6e/compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs#L221-L233

[2021-01-05 04:40] robinst commented on #79587
Good point, maybe add a note here instead: https://doc.rust-lang.org/cargo/commands/cargo-test.html

[2021-01-05 04:40] jyn514 commented on #80712
@Aaronkutch is this specific to (u128, u128)? Or is it an issue for all tuples of integers?

[2021-01-05 04:44] AaronKutch commented on #80712
I don't know because 32-bit SPARC is not a target I can easily download and test from rustup. Arrays and other structures should be tested.

[2021-01-05 04:54] jakevossen5 commented on #80702
I can do this quick if that's okay.

[2021-01-05 05:04] jyn514 opened #80713 "Consider creating a table of contents for struct impls"
I'm torn on this. On one hand, this is clearly distorting the SGX docs: https://edp.fortanix.com/docs/api/fortanix_sgx_abi/struct.Usercalls.html#asynchronous-usercalls

On the other, SGX is sort of abusing rustdoc here. Maybe we should suggest using modules to group the docs instead of impl blocks?

The other issue is that if rustdoc does this, it will look very strange for impls without a doc-com

[2021-01-05 05:55] #80621 closed

[2021-01-05 05:55] #80644 closed

[2021-01-05 06:16] scottmcm commented on #53639
If something is being used successfully (even if there are many sketchy-at-best users), then an alternative is needed before it can be removed.

Probably the strongest that could be done right now would be a warn-by-default lint about it, so there's a message about it but it can be disabled by people who promise they're doing it right.  But it's already `unsafe`, so people are already "promising"

[2021-01-05 06:57] jethrogb commented on #80713
I'm not sure what this issue is about.

Generally, things appear in rustdoc in the order they appear in the source code. For that one impl block with my comment, it appears out of order with the source code for some reason.

What does a table of contents have to do with documentation ordering?

[2021-01-05 07:36] Lonami commented on #80713
This TOC would come in handy for me. I have one "god" struct as a high-level construct, and the `impl` blocks can get so large that I've split them across many files ([code](https://github.com/Lonami/grammers/tree/master/lib/grammers-client/src/client)).

I think there's value here, but I'm not sure what the best way to add a TOC would be. Maybe only generate it if there's more than one `impl` blo

[2021-01-05 08:30] the8472 commented on #80713
Related #40273 #14475

[2021-01-05 08:35] alercah commented on #53639
I think an RFC is appropriate here. There are enough variations, and not enough consensus, to move forward without one.

[2021-01-05 09:07] XiangpengHao commented on #39699
Hi, is there a way to access sanitizer interfaces, e.g., the [`__asan_poison_memory_region`](https://github.com/llvm/llvm-project/blob/main/compiler-rt/include/sanitizer/asan_interface.h#L34)

A use case is when designing custom allocators based on `mmap`, those functions help to make the sanitizers more accurate and helpful.

Related: https://github.com/google/sanitizers/wiki/AddressSanitizerManu

[2021-01-05 09:20] tmiasko commented on #39699
@XiangpengHao when building with sanitizer enabled it should be matter of declaring it with `extern "C" { ... }` and simply calling it. For example https://github.com/rust-lang/rust/blob/f412fb56b8d11c168e7ee49ee74e79c4ab2e5637/src/test/ui/sanitize/thread.rs#L32-L35.

[2021-01-05 09:35] xfix commented on #80682
Could it be rewritten to use `Cell` to avoid the issue?

[code]

[2021-01-05 09:43] Darksonn commented on #80682
@xfix Ah, nice, you can do it without unsafe code. I feel like I should have thought of this, considering that I wrote [Temporarily opt-in to shared mutation](https://ryhl.io/blog/temporary-shared-mutation/).

[2021-01-05 09:46] SimonSapin commented on #53639
I’d go further: a recommended alternative should be available in the Stable channel before Nightly starts emitting deprecation warnings. Otherwise the only thing some projects can do is add `#[allow]` to silence the warning and then promptly forget about it.

[2021-01-05 09:49] SimonSapin commented on #66741
That sounds like a detail of the current implementation rather than a characteristic of the language? And if that’s about the `box` keyword, it’s not stable so we can change anything about its behavior.

[2021-01-05 10:08] SkiFire13 commented on #80682
Note that `Cell<T>::swap` has an additional check for when the two `&Cell`s alias, while `<[T]>::swap` doesn't. While this shouldn't produce an observable behaviour, it is a bit inconsistent and may slightly impact performance

[2021-01-05 10:12] xfix commented on #80682
[code]

This probably should be changed to either use `swap_nonoverlapping` or remove the equality check, I feel.

[2021-01-05 10:15] tmiasko commented on #66741
The liballoc uses `box` expression, so either lowering or liballoc should change to ensure it works correctly in the presence of unwinding.

[2021-01-05 10:39] XiangpengHao commented on #39699
Thanks, that save my day!

[2021-01-05 11:15] JohnTitor commented on #80678
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380678.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Fcanonical.2Fcanoni.E2.80.A6) and removing `I-prioritize`.

[2021-01-05 11:17] Luis-Hebendanz opened #80719 "rust-toolchain toml file does not work"
I tried to use the `rust-toolchain` file in toml format like described here: https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file.
However on cargo run I get the error:
[code]

Then I tried to rename the file to `rust-toolchain.toml` that did not help either.
[code]

[2021-01-05 11:20] jonas-schievink commented on #80719
You need to update rustup

[2021-01-05 11:20] #80719 closed

[2021-01-05 12:24] fominok commented on #80706
Removing `'dep` still gives ICE, that's weird as I left it intentionally because previously it was required to reproduce; anyway it can be removed now to simplify the example

[2021-01-05 12:56] lzutao commented on #76736
@jakevossen5 Since zulip is lag in my region at night, I post a respond here.
You could use `self.sess.opts.debugging_opts.force_unstable_if_unmarked` to check for
`-Zforce-unstable-if-unmarked` flag passed during compilation.

[2021-01-05 13:17] nagisa commented on #80712
My guess is that the return value ends up getting passed via registers. If that's true, the fix can be as easy as adjusting the ABI code to pass the return value indirectly.

I'm also quite surprised the first thing attempted in working around the issue in `compiler-builtins` was not changing to a different calling convention.

clang's behaviour is irrelevant for `"Rust"` calling convention. There

[2021-01-05 13:29] nagisa commented on #80633
`target-cpu=native` is a best effort kind of feature and will not be able to detect 100% accurately in all instances. As thus `target-cpu=native` not detecting `znver3` is _not_ an implementation bug.

The only question is how can we better manage user's expectations wrt `-Ctarget-cpu=native`? This is not the first time this comes up.

I'll mark this as a duplicate of https://github.com/rust-lang/

[2021-01-05 13:29] #80633 closed

[2021-01-05 15:13] greyltc opened #80721 "linker `rust-lld` not found"
I'm building on Arch Linux (x86_64) and I've built rust 1.49.0 with the following config.toml:
[code]
I've actually tried building it twice. Once with the above and once without the `llvm-config` lines, both give me the same problem.

I'm using the latest wasm-pack, 0.9.1.

When I cd into https://github.com/rustwasm/wasm-bindgen/tree/master/examples/without-a-bundler
and run `wasm-pack build --tar

[2021-01-05 15:28] Volker-Weissmann opened #80725 "rustc segmentation fault"
TLDR: rustc segfaults if you compile autocxx:

rustc 1.51.0-nightly (44e3daf5e 2020-12-31)
binary: rustc
commit-hash: 44e3daf5eee8263dfc3a2509e78ddd1f6f783a0e
commit-date: 2020-12-31
host: x86_64-unknown-linux-gnu
release: 1.51.0-nightly

cargo 1.50.0-nightly (75d5d8cff 2020-12-22)
release: 1.50.0
commit-hash: 75d5d8cffe3464631f82dcd3c470b78dc1dda8bb
commit-date: 2020-12-22

[2021-01-05 15:47] Mark-Simulacrum commented on #80721
I would expect you to need to add lld = true to `[rust]` block in config.toml.

[2021-01-05 16:03] Armavica commented on #80687
Thank you for your advice! However, I am not sure how to solve this any more. If I understand correctly, `shrink_to_hi` is not sufficient to solve the issue, because in this case, the span is `Foo::new` and we don't want to insert the const parameter between the method name and the parentheses, but rather between the struct and the method names.

I think that the span in the [origin](https://githu

[2021-01-05 16:13] greyltc commented on #80721
Thanks! I'll give this a go!

[2021-01-05 16:16] apiraino commented on #80682
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380682.20slice.3A.3Aswap.20violates.20the.20aliasing.20rules) and removing `I-prioritize`.