[2019-10-13 17:25] estebank commented on #65386
Tagging the docs team for the latter half of the ticket.

[2019-10-13 17:27] estebank commented on #65350
It could be worthwhile to have a message appear the first time `rustc` is invoked or if the compilation process is taking >10 minutes in a machine with low RAM.

[2019-10-13 17:34] Centril commented on #65386
A "unit enum" suggests an enum with a single variant rather than the unit variant of an enum; I would call this a "enum unit variant", which is albeit more verbose, also more clear.

[2019-10-13 17:37] ultrasaurus commented on #65386
Missed one suggestion.. the first part of the error message is a bit misleading since it implies that `Ok()` is a function.

Instead of:

   cannot find function `OK` in this scope

it could be something like this:
   `OK` has not been been previously defined as a function, struct or enum

[2019-10-13 17:42] ultrasaurus commented on #65386
@Centril would it be typical/common for someone create an enum with a single variant?  seems like that would be unlikely in normal practice.  If so, I would use more words to describe the less common use case, such as "enum with single variant"

[2019-10-13 17:47] Centril commented on #65386
No it's not usual but e.g. "tuple enum" still makes a category mistake by conflating the data *type* itself with its *constructors* (the variant in this case). I think that paints a misleading mental model of the language, which is avoidable by including an additional word.

[2019-10-13 18:41] ultrasaurus commented on #65386
hmm... I was reading "tuple" in "tuple enum" as an adjective -- a descriptor (to me) doesn't necessarily change the data type.

However, I agree that this is an important clarification (that I missed in early readings of the docs) about the difference between an enum and a struct, where enum variants are all the same type and the equivalent struct syntax creates multiple types.  In practice, I was

[2019-10-13 20:30] leo-lb commented on #65378
@jonas-schievink In the official documentation for `stringify!` it explicitly warns about it's output changing in the future, are you certain it would cause such damage?

[2019-10-13 20:36] lightblu opened #65391 "rust-lld since 1.38 overlaps .text with .rodata for embedded arm target"
Minimal blinky example for a cortex-m4 using cortex-m-rt crate (and a svd2rust generated device crate) since 1.38 (also present with 1.40 nightly) fails linking:

    error: linking with `rust-lld` failed: exit code: 1
      |
      = note: "rust-lld" "-flavor" "gnu" "-L" "/home/.rustup/toolchains/    nightly-x86_64-unknown-linux-gnu/lib/rustlib/thumbv7em-none-eabihf/lib" "/home/work/remb    /targ

[2019-10-13 20:46] jonas-schievink commented on #65378
@leo-lb Hmm, not sure I understand the problem you're trying to solve with this... The documentation only warns about the output not being stable between Rust versions, I'm not sure how that would cause issues here.

That's a fair point, but I don't know why this causes an issue. All it does is turning some Rust tokens into a string, so you'd have to invoke a macro with something to leak in the fi

[2019-10-13 21:15] leo-lb commented on #65378
Yes, some libraries might call `stringify!` on symbols in order to embed unsolicited debug messages inside binaries?

[2019-10-13 21:16] #63883 closed

[2019-10-13 21:16] #65309 closed

[2019-10-13 21:16] #65323 closed

[2019-10-13 21:18] Mark-Simulacrum commented on #65378
I don't think there's an automated way of preventing leakage of that sort -- after all, stringify! could be mostly implemented as a proc macro these days, which are just arbitrary code. Not to mention that you can always embed arbitrary strings into the final binary. I suspect that stating your specific desires, instead of the more vague "strip source code information" would be helpful. Generally

[2019-10-13 21:24] leo-lb commented on #65378
Being able to produce binaries that do not hint back to the source code, e.g. to not help a reverse engineering effort.

[2019-10-13 21:26] RalfJung commented on #48214
As another concrete example where trivially false constraints arise due to macros, see https://github.com/taiki-e/pin-project/issues/102#issuecomment-540472282. That crate now carries a weird hack to work around this limitation.

What is the current status of this feature?

[2019-10-13 21:32] ebkalderon commented on #56333
Looking at the [comment](https://bugs.llvm.org/show_bug.cgi?id=40011#c1) responding to that bug, it seems that it might be an LLVM pass ordering issue. Just curious, but is this something that we can fix or work around on our own fork of LLVM? Or is this a more general issue that will need to be resolved upstream?

[2019-10-13 21:32] matthewjasper commented on #48214
Not much has changed since my last comment.

[2019-10-13 21:32] Mark-Simulacrum commented on #65378
I don't think that sort of obfuscation would really be in the domain of rustc itself; are there examples of similar options in clang/gcc?

[2019-10-13 21:37] leo-lb commented on #65378
MSVC compiler and linker does not leave such strings inside binaries in release mode. It's not obfuscation, rather, I consider that release mode should not leave debugging information inside binaries but with Rust it does so I was looking towards modifying that behavior!

[2019-10-13 21:38] darkoverlordofdata commented on #65350
@wesleywiser  This is the answer, thank you. I set max jobs set to 3, and it takes what I expect - about similar time as clang. I wonder if this is because I'm running debian on crostini. I've never seen any impact from that but maybe there is a race condition from competing with other kvm scheduling.

[2019-10-13 21:44] nagisa commented on #56333
We prefer to have as few differences in our fork from upstream as possible, and what differences we have, must pull their weight.

[2019-10-13 21:46] Mark-Simulacrum commented on #65378
It's confusing to me that you make that assertion -- can you point to examples of such strings being left in Rust-compiled binaries? To my knowledge, the MSVC compiler does not do anything special here. It might be that C++ code is less prone to including source strings from e.g. `assert!` or similar, due to instead depending on gdb or similar debuggers for tracking down sources of exceptions (som

[2019-10-13 22:30] JohnTitor commented on #44861
This is still an ICE on current nightly when not `cargo run`. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bdd59503a0dc2d33c60a949fc7c57633)

[2019-10-13 22:47] leo-lb commented on #65378
The issue is caused by the std rather than rustc here. I am aware other compilers do offer similar functionality it's just that the std impls don't leak information from the project source code, the Rust std does leak information.

[2019-10-13 22:48] JohnTitor commented on #47486
The original and two minimized examples are not ICEs, marked as E-needstest

[2019-10-13 23:02] Seeker14491 commented on #44861
This code compiles without a problem whether I do `cargo build` or `cargo run` using current nightly: `rustc 1.40.0-nightly (1721c9685 2019-10-12)`. Tested on Windows 10 x64 and Ubuntu x64.

[2019-10-13 23:10] JohnTitor commented on #44861
@Seeker14491 Really? But on the playground, the ICE still appears. Can you check the above link?

[2019-10-13 23:13] tmiasko commented on #59633
The formatting takes `u8` by reference, so memory load will happen somewhere in
std / core. The issue won't be detected unless std / core is instrumented or
the function happens to be inlined.

With instrumented standard library detection of use after free is completely
reliable here.

[2019-10-13 23:18] Seeker14491 commented on #44861
Yes, I get an ICE in the playground when I just build.

[2019-10-13 23:52] Mark-Simulacrum commented on #65378
Our standard library doesn't leak downstream source code (unless you mean the expression passed to e.g. assert, but that seems expected for any such facility), to my knowledge. A concrete example (i.e., a playground example) would be really helpful, I think.

[2019-10-14 00:04] JohnTitor commented on #48027
Cannot reproduce ICEs with both examples on latest nightly. marked as E-needstest

[2019-10-14 00:11] JohnTitor commented on #48638
It's no longer reproduced an ICE on the latest nightly, it seems from 1.38.0. marked as E-needstest

[2019-10-14 00:55] leo-lb commented on #65378
@Mark-Simulacrum Result::unwrap() which is very common causes stuff to be included, in any compiled Rust binary today you will find dozens of hints to source code and a path to the build user's home directory

[2019-10-14 01:11] TomCrypto opened #65394 "Nightly ICE with non-const macro in const"
Offending snippet using `serde_json`:

[code]

The code shouldn't build, as per the first few errors below, but currently on nightly it also causes the compiler to panic. It does not panic on stable or beta.
[code]

Version: 1.40.0-nightly (2019-10-12 1721c9685b1ee69f1e17)
Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5558c5ebe1ea55f66650422dffcf6d88

Quite p

[2019-10-14 01:20] Mark-Simulacrum commented on #65378
Unwrap doesn't include anything directly from the calling crate? Can you show how you're determining it includes this information?

[2019-10-14 02:29] kaizhang91 commented on #20866
a

[2019-10-14 02:32] kaizhang91 commented on #20866
Hello everyone, I use `pandoc` inspired by <https://github.com/rust-lang/rust/issues/20866#issuecomment-170563129>

[2019-10-14 02:49] Centril commented on #65394
cc @ecstatic-morse

[2019-10-14 04:12] flaviojs opened #65397 "PathBuf::push produces an unexpected path when it has a UNC base"
I have a canonicalized path in a `PathBuf`.
I am pushing `Path::new("externalized/game.json")` and expect a path that exists.

With the parent of `std::env::current_exe()`:
[code]

With the canonicalized parent of `std::env::current_exe()`:
[code]

If this is the expected behavior for UNC base paths, then there should be a method to turn UNC paths to regular paths (when possible), or a way to norm

[2019-10-14 04:26] ecstatic-morse commented on #65394
I've [minimized this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8de6434eb84563e98c9137e8671e14eb) to the following:

[code]

The mutable reference is required here, so this particular mismatch does not represent a true backwards compatibility hazard because creating a reference that would allow mutation is forbidden in all `const` contexts. We could simply stop trigg

[2019-10-14 04:41] Centril commented on #65394
cc @oli-obk @RalfJung @eddyb

[2019-10-14 05:10] flaviojs commented on #65397
Found a crate that converts UNC paths to normal paths when possible: https://crates.io/crates/dunce

This is enough for me, but the path is being displayed so it would be ideal if I could normalize the path separators without converting to `str`.

[2019-10-14 05:58] Centril commented on #64962
# GitHub

### error: `derive` may only be applied to structs, enums and unions

Number of crates regressed: 1

<details>

- `andrei-cacio-distil-wasm`

</details>

### error: could not compile `Prey`.

Number of crates regressed: 1

<details>

- `eggmund-Prey`

</details>

### error: could not compile `cmark-gfm-sys`.

Number of crates regressed: 1

<details>

- `HelloEdit-rust-cmark-gfm`

</detai

[2019-10-14 06:04] Centril commented on #64962
# Report

## GitHub

### error: `derive` may only be applied to structs, enums and unions

Number of crates regressed: 1

<details>

- `andrei-cacio-distil-wasm`

</details>

### error: expected an inert attribute, found a derive macro

Number of crates regressed: 1

<details>

- `andrei-cacio-distil-wasm`

</details>

### error: linking with `cc` failed: exit code: 1

Number of crates regressed:

[2019-10-14 06:17] #65350 closed

[2019-10-14 06:25] mati865 commented on #65350
You should rather check how much memory is allocated to Debian because it seems it's not enough and you start swapping.

[2019-10-14 06:33] Centril commented on #63599
@rfcbot resolve make-sure-we-add-these-tests
@rfcbot reviewed

Let's handle the tests with the stabilization PR. :)
@weiznich Perhaps you'd like to author the stabilization PR?

[2019-10-14 07:16] #63748 closed

[2019-10-14 07:24] newpavlov commented on #38509
Looks like many crates in the ecosystem use code like this:
[code]

So even linting against it would be too disruptive. Thus I guess this issue can be closed.

[2019-10-14 07:24] lzutao opened #65400 "Error for incorrect identifier patterns could be improved"
The compiler could suggest that `e` identifier must precede the pattern in the following code:

playpen link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ca2dc7094a56b0478edefe0faefefe0e

[code]

Current error message:
[code]

It could be improved as:
[code]

[2019-10-14 07:26] lzutao commented on #65400
@rustbot modify labels:  A-diagnostics C-feature-request T-compiler

[2019-10-14 07:30] eddyb opened #65401 "Deferred ICEs (i.e. delay_span_bug) are not preserved by incremental."
When compiling a `delay_span_bug` testcase (e.g. the last snippet in https://github.com/rust-lang/rust/issues/63154#issuecomment-541592381 on the current nightly, or any of the other examples in that issue on older compilers) with `-Cincremental` (or Cargo which does that by default), only the initial run will ICE.

Subsequent runs will succeed without an ICE, in the absence of any regular errors.

[2019-10-14 08:19] gnzlbg commented on #65335
All `libc` musl build jobs are also failing, probably due to this.

[2019-10-14 08:45] leo-lb commented on #65378
https://asciinema.org/a/wUf988JJcogJheM1XgGjbOqZF

but this can be made not working by stripping the binary even though it's built in release mode.

Another example, installing `cargo-edit` (`cargo install` uses release mode by default):

https://asciinema.org/a/t5KXAehBumwN7YYMJymQTNw5S

[2019-10-14 09:21] eddyb commented on #65401
It looks like without incremental we output artifacts (like `rlib`).
Do we do this in case of errors too? It seems bad to produce artifacts after an ICE.

[2019-10-14 09:42] withoutboats commented on #58184
The concern labelled "eddybs-concern-on-the-other-issue" has been resolved by #62661.

[2019-10-14 09:49] Centril commented on #58184
Indeed it has.

@rfcbot resolve eddybs-concern-on-the-other-issue

[2019-10-14 10:08] eddyb commented on #63154
*Context: I was helping @james-darkfox reduce a different (but similar) ICE from the same project and I started wondering how the reduction in this issue didn't trigger that ICE as well.*

Closures appear to be irrelevant, and I've reduced the testcase further to:
[code]

In particular it appears that `extract` returning some type that includes `T` is necessary for reproduction, as it leads to a `

[2019-10-14 10:22] Centril commented on #65400
So what happens after `1 ..= 5` is that we've parsed a `PatKind::Range` and then `@` follows which is not a valid token after a parsed `$pat`. To fix this we can, after having parsed `let pat = ...;` in `parse_pat_with_range_pat`, check if `@` follows and then emit appropriate suggestions. We will need to use some heuristics to figure out what the user wants based on the structure of `pat: PatKind

[2019-10-14 10:55] Centril commented on #65401
Nominating and proposing P-high (mostly because of potential annoyance factor).

This should possibly also be labeled I-unsound under the assumption that under the general case of this issue, we might produce artifacts with UB under subsequent runs. (However, it is probable that the user will notice the ICE at some other point in time and therefore discard the artifact.)

[2019-10-14 11:13] michaelwoerister commented on #65401
The current expected behavior of the compiler is to not save any incremental state if an error occurs. `delay_span_bug` may slip through the cracks here.

[2019-10-14 11:25] Geobert commented on #51910
I don't know if this kind of use case has been listed yet:
https://gist.github.com/Geobert/743fe8075c1fde1b4c7d2ef38a538094

Some C function needs a pointer to `channelConfig[0]`, I tried to do it in Rust with some compromise but it ended having a struct in RAM which made the C function Hardfaulting. The C function is closed source so I don't know what it's doing but I guess some kind of reading o

[2019-10-14 11:44] Centril commented on #65401
@michaelwoerister In that case, it seems to me like it's a matter of recording the fact that we did a `delay_span_bug` and then have this mean "there was an error" in terms of "should we save incremental state?".

[2019-10-14 11:53] TomE8 opened #65403 "add mlongcall flag to rustc"
Please see this StackOverflow [question](https://stackoverflow.com/questions/58356600/how-to-use-a-gcc-flag-in-rustc).

[2019-10-14 11:53] Alphare opened #65404 "Associated function `new` is not defined for any hasher on `HashMap`"
`HashMap` with a custom hasher does not implement `new()`. Example, with the following type alias:

[code]

Is there a good reason why that should happen? I've resorted to using `default()` since it does the same thing AFAIK, but this seems like an unnecessary restriction.

[2019-10-14 12:22] jonas-schievink commented on #65403
Rust is not GCC, so it doesn't have the same command line interface. Please be more specific as to what specific feature you need.

[2019-10-14 12:29] Mark-Simulacrum commented on #65378
The backtrace information is obtained at runtime, and function names are currently not mangled away; I believe it may be possible to remove the symbol table as well, but I'm uncertain exactly of how to do so. Maybe `strip` can help there. Regardless, if that's the "leakage" you are referring to, then it is not something rustc itself will help with. A similar backtrace can be found in a exception-t

[2019-10-14 12:34] TomE8 commented on #65403
I need my functions calls to be long-call on a power-pc arch. As in the man page of gcc -mlongcall:

Hope that clears the question :)

[2019-10-14 12:34] steveklabnik commented on #35919
Triage: this still errors today:

[code]

[2019-10-14 12:38] jonas-schievink commented on #65403
This is already supported as `-Ctarget-features=+longcall`

[2019-10-14 12:38] #65403 closed

[2019-10-14 12:47] michaelwoerister commented on #65401
Yep, the following check should also take `delay_span_bug` into account:

https://github.com/rust-lang/rust/blob/cf048cc115860cc110865f460f3f2b9b4308ad92/src/librustc_incremental/persist/fs.rs#L310

While we are at it, we could also add a similar check to `rustc_incremental::save_dep_graph()` and `rustc_incremental::save_work_product_index()`,  as not to waste time producing values that will then

[2019-10-14 12:57] sfackler commented on #65404
This is intentional, because associated type defaults don't factor into type inference: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94783a2a4108c8f70df5fc047bba2edf

[2019-10-14 13:30] steveklabnik commented on #43347
Triage: no changes I'm aware of

[2019-10-14 13:37] nagisa commented on #65397
Canonicalized paths interpret `/` differently, this is a platform peculiarity. This behaviour is one of the reasons why you ought to join separate path components using an API dedicated for this (`Path::join` or `PathBuf::push`) so that an appropriate path separator is used, rather than using `/` literal in a string.

In UNC paths `/` is a perfectly valid filename character, so any normalisation t

[2019-10-14 13:51] #65287 closed

[2019-10-14 13:51] #44153 closed

[2019-10-14 13:51] #47486 closed

[2019-10-14 13:51] #48027 closed

[2019-10-14 13:51] #48638 closed

[2019-10-14 14:14] eddyb opened #65407 "Replace most of rustc_metadata::schema with something based on queries."
Right now (cross-crate) "metadata" is encoded as an ad-hoc heterogeneous tree, described in [`rustc_metadata::schema`](https://github.com/rust-lang/rust/blob/d28a9c38fe14396e86ae274c7847e20ee0f78ca9/src/librustc_metadata/schema.rs), with `Lazy<T>` acting as indirection (as in "pointer to `T`", inside the "metadata" blob) and letting the user choose whether to decode of the `T` value.

There is als

[2019-10-14 14:38] GuillaumeGomez commented on #65354
I can do it if you want but maybe you prefer doing it?

[2019-10-14 14:42] dtolnay commented on #65354
I definitely don't prefer doing it. :wink: Feel free to go ahead. Thanks!

[2019-10-14 14:58] Nemo157 opened #65409 "Suggest as_mut to reborrow Pin when calling method"
I have seen a lot of newcomers to futures stumble with `Pin<&mut Self>` methods consuming the pin, if possible this seems like a good candidate for a custom diagnostic.

As a self-contained example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8cc1535cae505280361d46f504896ee9)):

[code]

currently errors with

[code]

it would be useful if this error include

[2019-10-14 15:15] Centril commented on #65409
cc @nikomatsakis @matthewjasper @estebank

[2019-10-14 15:19] zmitchell commented on #65344
That file does exist. I'm using Python 3.7.2 installed via `pyenv`.

[2019-10-14 15:31] arielb1 commented on #65157
cc @davidtwco

[2019-10-14 16:01] arturoc opened #65411 "-Z save-analysis ICE when processing impl under an fn item"
While compiling rayon:
[code]

[2019-10-14 16:11] RalfJung commented on #51910
@Geobert I am afraid I have no idea what this has to do with const-eval. You are calling the C function at run-time, so the lack of const-time raw ptr casts should not be any problem?

If you need something that has an address to give to C, you want a `static`, not a `const`.
The purpose of `const` is to avoid writing the same Rust expression over and over again. The semantics of `const` is the sa

[2019-10-14 16:11] Alexendoo commented on #59956
This was fixed by #64842, including a similar test

[2019-10-14 16:11] #59956 closed

[2019-10-14 16:11] Alexendoo commented on #59353
This was fixed by #64842, including a similar test

[2019-10-14 16:11] #59353 closed

[2019-10-14 16:21] SimonSapin commented on #64301
A single 544-bytes `memcpy` sounds to me like the SmallVec is being moved after it was initialized, and yes missing RVO sounds most likely.

This is not the first I hear of accidentally moving a large buffer with SmallVec, I feel this is a design flaw of this library. I’ve been pondering an alternative design (perhaps for a separate crate) where the inline buffer is borrowed:

[code]

This gives a

[2019-10-14 16:34] Centril commented on #65411
cc @Xanewok

[2019-10-14 16:36] cuviper commented on #65335
Revert #65342 landed 15 hours ago, so the next nightly should have the original full rust-std again. We'll retry the limited set later, _with_ any 3rd party objects needed, but first I want to figure out how to sanity-check the dist package in CI for all targets so this doesn't regress.

There is a `distcheck` job, but only for `86_64-unknown-linux-gnu`, which wasn't affected. On Discord we were t

[2019-10-14 17:17] arielb1 opened #65413 "Constants, slice patterns, and exhaustiveness interact in suboptimal ways"
For example,
[code]

cc @oli-obk

[2019-10-14 17:21] varkor commented on #65413
Probably related to https://github.com/rust-lang/rust/issues/53708: consts are mishandled at the moment.

[2019-10-14 17:46] cramertj commented on #58184
I'll resolve my concern on this (motivation-to-change-fallback) pending a lang team discussion as proposed in https://github.com/rust-lang/rust/pull/65355#issuecomment-541818923.

[2019-10-14 17:49] Geobert commented on #51910
@RalfJung indeed, in the forum's thread, I've changed to static, but I had to have some of them as `static mut` because I couldn't convert a pointer to an u32. And having them `mut` pushed them in RAM instead of Flash which made the C func hardfault. I can paste an (non compilable) example tomorrow :)

[2019-10-14 17:56] cramertj commented on #58184
Sorry for the labels nonsense-- something is going wacky with GH in my browser.

[2019-10-14 19:00] tormol commented on #55873
I can confirm that the ICE is gone from Rust >= 1.37.

[2019-10-14 19:00] #55873 closed

[2019-10-14 19:45] #64506 closed

[2019-10-14 20:07] RalfJung commented on #51910
Oh wow. I'm afraid that kind of low-level stuff is out of my league...

I have no idea why having `mut` should help at all -- it shouldn't. But I don't think this issue here is your problem; you *do* use the (awful) union-based hack to get around the unsupported cast. So congrats, you cheated your way around our stability checks -- and also, no surprise that you got some crazy behavior. ;) I am go

[2019-10-14 20:58] weiznich commented on #63599
@Centril stabilization PR means just a PR that moves [this feature](https://github.com/rust-lang/rust/blob/master/src/libsyntax/feature_gate/active.rs#L472) for `active.rs` to `accepted.rs`, change the state from `active` to `accepted` and the version number to 1.40.0. Additionally change the tests in `src/test/ui/coherence` to remove the feature because it's stable then.

[2019-10-14 21:00] Geobert commented on #51910
To be clear, I'm not happy abusing union. I did it to satisfy this ugly proprietary C function ;)

[2019-10-14 21:20] leonardo-m opened #65418 "Linking errors on recent Nightly releases"
The compiler since some time gives a linking error:

Good:
rustc 1.40.0-nightly (898f36c83 2019-10-10)
binary: rustc
commit-hash: 898f36c83cc28d7921a1d7b3605323dc5cfcf533
commit-date: 2019-10-10
host: x86_64-pc-windows-gnu
release: 1.40.0-nightly
LLVM version: 9.0

Bad:
rustc 1.40.0-nightly (6767d9b90 2019-10-11)
binary: rustc
commit-hash: 6767d9b90b6b630ad8e2a9e5e02fd74c00c98759
commit-date: 2019

[2019-10-14 21:28] flaviojs commented on #65397
I was using using `PathBuf::push` to join the paths.

[2019-10-14 21:32] sfackler commented on #65418
Duplicate of #65335

[2019-10-14 21:32] #65418 closed

[2019-10-14 21:38] nagisa commented on #65397
You are pushing a `externalized/game.json` which is interpreted as a single component. You should push `externalized` and `game.json` as two distinct components.

cc @retep998

[2019-10-14 21:58] Nemo157 opened #65419 "Attempting to run an async fn after completion mentions generators"
If a user attempts to do something like this ([playground including trivial executor](https://play.rust-lang.org/?version=beta&mode=release&edition=2018&gist=45e22343cc25e9d0eca65a22331ed177)):

[code]

they get a panic talking about generators:

[code]

This issue has been assigned to @ninjasource via [this comment](https://github.com/rust-lang/rust/issues/65419#issuecomment-545113587).

[2019-10-14 21:59] josyoun opened #65420 "Unable to resolve a recursive trait bound when resolution appears possible"
I've a code that's unable to resolve a recursive trait bound when resolution appears possible.  The code:

[code]

produces the compiler error:

[code]

Essentially, the `AllCombos` trait is designed to contain all ref/val combinations for a series of methods that contain two arguments.  The idea is that a user implements `Methods2` four different times for these combinations and then `AllCombos`

[2019-10-14 22:27] flaviojs commented on #65397
Wait... it doesn't respect the components of the path I'm pushing?
That's unexpected when the signature receives a `Path` ref and not a `OsStr` ref.
Hmm, I can't find a way to express relative paths in UNC form, maybe that's why.

At the very least the docs should mention that a UNC path will interpret the argument with UNC rules even when the argument is not UNC.
Now I really feel there should be

[2019-10-14 23:47] estebank commented on #65386
Looking a bit into this, procuring the `Span` for `std::option::Option::Some` is proving to be difficult here because although we have the variant's `DefId` available in `librustc_resolve`, where we emit this error, we do not have access to the `hir::Map`, so we can't get the span that way. Trying to use the definition `Ident`'s `Span` is also not feasible because everything that comes from `std::

[2019-10-15 00:27] #52082 closed

[2019-10-15 02:05] retep998 commented on #65397
We really need a smarter variant of `push`/`join` that interprets `..` and `.` as well as normalizing `/` to `\`. Basically interpreting the path as if the base path was the current directory and you were accessing the relative path.

[2019-10-15 02:06] #65147 closed

[2019-10-15 02:43] PrismaPhonic opened #65423 "Docker Nightly Build Breaks on 1.40 but fine on 1.39"
Hi,

We are currently using nightly rust for a product demo at my company, and 1.40 breaks our musl build:

[code]

Forcing docker to use 1.39 nightly resolves the issue entirely.  Not quite sure what's causing it to break.

Here's the project: https://github.com/planetscale/goodest-doggo

If you clone it and change the Dockerfile to not install and override the specific nightly version you can re

[2019-10-15 02:44] topecongiro opened #65424 "Fail to build rustfmt since rustc 1.40.0-nightly (c27f7568b 2019-10-13)"
[code]

Running the above commands will fail with the following error when using `rustc 1.40.0-nightly (e413dc36a 2019-10-14)` in Linux, macOS and Windows:

[code]

I have tested with multiple recent nightlies. It turns out that the build started to fail since `rustc 1.40.0-nightly (c27f7568b 2019-10-13)`. Building with `rustc 1.40.0-nightly (1721c9685 2019-10-12)` or earlier succeeded without any

[2019-10-15 04:39] sinkuu commented on #65424
`atomic` module is under `cfg(all(target_has_atomic = "cas", target_has_atomic = "ptr"))`.

https://github.com/crossbeam-rs/crossbeam/blob/ae148dec8eff2ee40dc4d6c11ae63d79bfd79b6e/crossbeam-utils/src/lib.rs#L47-L51

This module disppared because the value of `cfg!(target_has_atomic)` was changed between two nightlies:

[code]

[2019-10-15 04:48] sinkuu commented on #65424
`target_has_atomic = "cas"` was removed by https://github.com/rust-lang/rust/pull/65214 (`cfg_target_has_atomic` is a nightly feature), so this is an expected breakage. `crossbeam-utils` crate has to be fixed.

[2019-10-15 04:56] #65271 closed

[2019-10-15 04:56] #61624 closed

[2019-10-15 04:56] #64707 closed

[2019-10-15 04:56] #64730 closed

[2019-10-15 04:56] #65400 closed

[2019-10-15 05:42] crlf0710 opened #65427 "request: properly connect `cargo check` and `cargo build`"
Currently `cargo check` and `cargo build` works in isolate. A much better way is get them connected. So that:
* After a successful `cargo build`, a `cargo check` should pick up the incremental build data, and finish (almost) immediately without doing real work.
* After a successful `cargo check`, a `cargo build` should pick up the incremental build data, and continue to do the codegen part, instea

[2019-10-15 06:46] topecongiro commented on #65424
@sinkuu Thank you for all the information! I will close this as it is an expected breakage.

[2019-10-15 06:46] #65424 closed

[2019-10-15 07:21] mati865 commented on #65423
Delicate of https://github.com/rust-lang/rust/issues/65335, should be fixed on latest nightly.

[2019-10-15 07:43] JohnTitor commented on #63496
The ICE doesn't appear on the latest nightly, marked as E-needstest

[2019-10-15 08:06] petrochenkov commented on #65386
@estebank

It's more about spans for all extern items than about spans from std prelude specifically.
I tried to do that in https://github.com/rust-lang/rust/pull/63149, but backed out the change due to some non-reproducible order in diagnostics. (Perhaps it's already fixed?)
The dummy spans are used instead of actual spans in `fn build_reduced_graph_for_external_crate_res`.

[2019-10-15 08:09] petrochenkov commented on #65386
From a quick look I don't like what this issue suggests in general, we have some pretty stable terminology in place and it's used consistently.
Perhaps it needs to be better described in docs / glossary.

[2019-10-15 08:12] pietroalbini commented on #65335
This should be fixed in the latest nightly.

[2019-10-15 08:12] #65335 closed

[2019-10-15 08:12] #65423 closed

[2019-10-15 08:31] jethrogb commented on #65335
Yup it is!

[2019-10-15 08:32] JohnTitor commented on #52437
The ICE doesn't appear on the latest nightly ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1a6b69c0911e1b055286e83500b70b5e)), marked as E-needstest

[2019-10-15 08:35] JohnTitor commented on #52432
The ICE doesn't appear on the latest nightly via the above playground link, marked as E-needstest

[2019-10-15 08:39] SimonSapin commented on #42868
This came up again. https://crates.io/crates/cssparser still emits this warning, and I still don’t know of a way to fix it without getting borrowck errors instead.

[2019-10-15 08:42] GuillaumeGomez commented on #65354
Ok haha. Will try to do it not too far into the future.

[2019-10-15 08:50] JohnTitor commented on #41366
The reduced example doesn't show the ICE, from 1.35.0. Marked as E-needstest

[2019-10-15 08:54] varkor commented on #65427
Previously reported at https://github.com/rust-lang/rust/issues/5003. cargo issue: https://github.com/rust-lang/cargo/issues/350.

[2019-10-15 09:28] jonas-schievink commented on #65427
@varkor I think your issue numbers are off

[2019-10-15 10:01] tiagolam opened #65431 "Compilation memory spikes during LTO"
Test case:
[code]
(with the dependency `tokio = "^0.2.0-alpha.3"` added to `Cargo.toml`)

The `FILLER` is there so we can simulate a binary of a certain size.

Compiling with:
[code]

Generates memory spikes of around 12GiB, which sometimes means the compilation fails as it ends up being killed by the OS (`signal: 9, SIGKILL: kill`).

Further analysis suggests it has to do with lto `cargo rustc --

[2019-10-15 10:15] gnzlbg opened #65432 "Suggestion to replace `std::mem::uninitialized` with MaybeUninit is not actionable"
When `Foo` below is defined in a crate outside your control, code that currently does this:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cd3aae6e385d45dccffda0a178669ef8))

gets a warning suggesting to use `MaybeUninit` instead

[code]

This warning is currently not actionable, since `Foo` cannot be modified, and `MaybeUninit<T>` does not support `

[2019-10-15 10:20] Centril commented on #65432
What I would do is add a note instead if `T: !Copy`: *"note: `T` is not `Copy`, perhaps it should be?"*
Seems cleaner to implement that way.

[2019-10-15 10:23] gnzlbg commented on #65432
Seems cleaner to implement that way.

So what if `T` not being `Copy` is correct? What note would be add for that ?

[2019-10-15 10:25] Centril commented on #65432
It's a lint; it doesn't have to be perfect (it says "perhaps") -- I think the user can do some thinking as well to see if the suggestion is appropriate or not. Also, I don't see how your suggestion is materially different... the same situation may arise there.

[2019-10-15 10:34] gnzlbg commented on #65432
This is wrong. `MaybeUninit` is not a Rust `union`, but a "magic" type instead.

[2019-10-15 10:34] #65432 closed

[2019-10-15 11:03] RalfJung commented on #65432
That's wrong:
[code]
This is in accordance with an accepted RFC, see https://github.com/rust-lang/rust/issues/55149. Sure, it uses an unstable feature, but that's not "magic" -- that's the same as `Pin<Self>` receivers and `#[non_exhaustive]` and a dozen other thing libstd uses. There's some true "magic" in libstd when it uses mechanism that are not even meant to be stabilized or at least are not

[2019-10-15 12:06] traxys commented on #65401
I'd like to start contributing to rustc and I wanted to ask if this is a good issue to start on (I have read the rustc book)

[2019-10-15 12:09] Centril commented on #65401
@traxys Sure, this is a decently good issue to start on and should be pretty interesting in terms of learning the infrastructure. If you get stuck, need help, and want to talk synchronously you can hop into https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2365401.20delay_span_bug.20not.20preserved.20by.20incremental and we'll try to help out.

[2019-10-15 13:00] steveklabnik commented on #52811
Triage: not aware of any changes here

[2019-10-15 13:27] valff opened #65436 "async/await regression regarding borrows across yields"
The following code was working in nightly-2019-09-05, but no longer works in nightly-2019-10-15.  The workaround is not quite intuitive.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=55bdcd46d1236a7a09fcb32d9175a81b))

Errors:

[code]

[2019-10-15 13:31] RReverser opened #65437 "Off-by-one in generated DWARF columns"
While parsing DWARF in custom tooling, I've noticed that Rust generates 0-based columns, whereas other compilers, including LLVM-based (e.g. Clang and Swift) generate 1-based column.

This creates issues for tools that want to extract source spans, generate error messages or otherwise link to the original source location.

Let's take an example for Clang:
[code]

This generates the following debug

[2019-10-15 13:49] varkor commented on #65427
Fixed, thanks.

[2019-10-15 14:15] estebank commented on #65386
If you can point me in the right direction to use the original spans, I can take a look at the non-deterministic output.

Even if we don't change the terminology _at all_ (and I think there _is_ room for tweaks targeting newcomers to reduce confusion), the addition of better spans will make acquiring understanding of what the different concepts mean much easier.

[2019-10-15 14:16] crlf0710 commented on #65427
#50037 is about `rustbuild` so that's different...at least on the surface.

This is the same as cargo#3501 though. But i feel this is actually a rustc problem with incremental build and metadata format in the root. And it's more visible in this repo :) Maybe i should not close it as duplicate.

[2019-10-15 14:18] Lokathor commented on #62558
Effectively all users were already affected as of latest stable.

[2019-10-15 14:35] alexcrichton commented on #65313
Theoretically the way to fix this issue is:

* First [remove these lines](https://github.com/rust-lang/rust/blob/e369d87b015a84653343032833d65d0545fd3f26/src/librustc_target/spec/aarch64_pc_windows_msvc.rs#L8-L9)
* Next, run the build
* Finally, run the tests

If that all passes, then the change can land! The tests may be able to be skipped, and some tests may fail, so it may be possible to switch

[2019-10-15 14:41] Timmmm opened #65439 "Tracking issue for File::with_options stabilisation"
Implemented in #65429, behind feature flag `with_options`.

[2019-10-15 14:53] jdm commented on #65313
I occasionally have access to a Windows arm64 laptop, so I'll try and get a rustc build going on it at some point.

[2019-10-15 15:04] Centril opened #65440 "Cleanup: Move src/test/run-fail to src/test/ui"
We have a small amount of tests in `src/test/run-fail`; these should be moved over to various directories in `src/test/ui` depending on what the test is about. (See https://github.com/rust-lang/rust/pull/65438#issuecomment-542245950 for one example of moving run-fail/ tests to ui/.) When moving each test in `src/test/run-fail` you have to add `// run-fail` to the top of each file.

cc @varkor

Thi

[2019-10-15 15:19] Zoxc commented on #62558
`-Z dual-proc-macros` has the limitation that only one proc macro with the same name can be used. Making sure there's only a single version of each proc macro crate in use should fix this error.

To lift this restriction we must record the crate disambiguator of both the target and host proc macro crates when linking to it. We currently only record it for the target, so rustc can't find the right

[2019-10-15 15:30] alexcrichton commented on #64872
Sorry I do not have time to continue to investigate this and help minifying, but wanted to be sure to say so.

[2019-10-15 16:01] PrismaPhonic commented on #65423
I made this issue the moment this happened so unless there a newer nightly between the time of me posting and you commenting?  Regardless it's typically good GitHub ettiquite to not close issues until you've confirmed with the poster that the issue is resolved on their end.  Will check today

[2019-10-15 16:06] matthieu-m commented on #52811
Note: at CppCon19, STL presented the culmination of his work on C++17 `<charconv>` for MSVC, resulting in Ryu being used for `to_chars`. He also mentioned that he had submitted a number of small performance improvement to Ulf's repository, and thought there were still possibilities to fine-tune the implementation.

[2019-10-15 16:15] mati865 commented on #65423
I verified it doesn't happen any more about 2 hours later. Since the issues were closed I haven't replied.

I don't exact time but nightly was released but AFAIK release process starts on 00:00 UTC and takes at least 2 hours, so it's rather close to the time you posted.
Another thing to take in account is Docker cache. If step where nightly is downloaded hasn't changed Docker could have taken olde

[2019-10-15 16:58] gnzlbg opened #65441 "catch_unwind incorrectly tries to stop ForceUnwinds"
MWE:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=bfed948efb5de95c7f35317aa348533c))

Output:

[code]

Errors:

[code]

According to the [Itanium ABI](https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html#base-framework):

So `catch_unwind` definitely needs to always catch Rust exceptions, and at the thread boundary it probably also want to catc

[2019-10-15 17:00] jonhoo opened #65442 "impl Trait that does not capture generic argument"
I'd like to write the following code:
[code]
In particular, I would like to have the `impl Trait` returned by `baz` _not_ be tied to the lifetime of its `&str` argument. Since `impl Trait` captures the lifetimes of all generic arguments (as per [RFC 1951](https://github.com/rust-lang/rfcs/blob/master/text/1951-expand-impl-trait.md)), I can't write the code this way though. So instead, I tried
[cod

[2019-10-15 17:04] gnzlbg commented on #65441
cc @Amanieu @alexcrichton

[2019-10-15 17:12] nikomatsakis commented on #65419
Hey @Zoxc -- where does this error come from, anyway? A quick ripgrep of the source didn't find an obvious source.

[2019-10-15 17:15] bjorn3 commented on #64872
No problem. I will try to minify it myself once I have time to do so myself.

[2019-10-15 17:16] Centril commented on #65419
Has to be https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/interpret/enum.PanicInfo.html#method.description.

[2019-10-15 17:22] nvlbg commented on #65440
I'd like to work on this. First time contributor so it make take me some time to finish it.

[2019-10-15 17:24] Centril commented on #65440
@rustbot assign @nvlbg

[2019-10-15 17:26] gnzlbg opened #65443 "Target-specific ABIs are allowed in compatible targets"
For example, one can use the `ptx-kernel` ABI on a x86_64 target. What the following does, I have absolutely no idea:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9b19b79167e8a2047593a2751609c70f))

Errors:

[code]

cc @eddyb @rkruppe

[2019-10-15 17:33] RReverser commented on #65437
@est31 Looks like you implemented relevant code in https://github.com/rust-lang/rust/pull/51980, so maybe want to take a look?

[2019-10-15 17:36] 0paIescent commented on #65280
I'd like to take on this issue and make a PR for it. This is my first time taking on a PR for rust though, so is there anything you'd suggest outside of the Contributing guide?

[2019-10-15 17:37] petrochenkov commented on #44663
The feature's implementation doesn't currently work correctly with transitive dependencies.
If we load a crate named `foo` as a transitive dependency, we still mark it private (or not) by looking at the `--extern foo` option, even if refers to an unrelated crate and `--extern` options in general are entirely irrelevant to transitive dependencies.

The dependency private-ness should be written into

[2019-10-15 17:39] petrochenkov commented on #44663
@Aaron1011
By the way, do you still have plans to implement the `--extern:modifier` syntax from https://github.com/rust-lang/rust/issues/44663#issuecomment-475853173?

[2019-10-15 17:44] ecstatic-morse commented on #39525
I wrote a some relevant criterion benchmarks for a proc-macro library I wrote called [`enum-utils`](https://crates.io/crates/enum-utils). That library implements `FromStr` using a comparison trie, and the benchmarks compare the trie against a vanilla match statement, `phf` and `gperf`. Each benchmark is variant over the "miss rate" of the input data (what percentage of the input to the string matc

[2019-10-15 17:49] Nemo157 commented on #64934
Dup of #57994

[2019-10-15 17:53] Nemo157 commented on #57994
@rustbot modify labels to +AsyncAwait-OnDeck

This error message comes up a lot when users attempt to manually implement `Future` or the associated traits like `futures::io::{AsyncRead, AsyncWrite}` by delegating to a field without pinning it.

[2019-10-15 18:07] estebank commented on #41261
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f20f03af624de4263faf658ede463163):

[code]

[2019-10-15 18:08] est31 commented on #65437
@RReverser it was definitely not intentional to make them 0 based or inconsistent to what clang's doing. I agree that this is would consider this a bug. This problem had been present in other places too:

* https://github.com/rust-lang/rust/issues/46868
* https://github.com/rust-lang/rust/pull/46762#issuecomment-352474639
* https://github.com/rust-lang/rust/issues/54725#issuecomment-497246753

So

[2019-10-15 18:09] estebank commented on #40375
Current output:

[code]

[2019-10-15 18:14] estebank commented on #42703
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=045a17d05fbc86aa0a6cef2472abbf11):

[code]

Only missing thing would be to suggest changing the lifetimes.

[2019-10-15 18:20] seanmonstar commented on #65280
I think this requires edits in libstd (https://github.com/rust-lang/rust/blob/437ca55f23b7ed0051334a7e38ecabd83a173b53/src/libstd/backtrace.rs#L269-L323), and in the backtrace crate (https://github.com/rust-lang/backtrace-rs/blob/master/src/print.rs).

[2019-10-15 18:22] 0paIescent commented on #65280
Thanks! I had already looked into it though, I meant more of general contribution to Rust :smile:

[2019-10-15 18:23] RReverser commented on #65437
@est31 Thanks for the confirmation. Do you want me to send a PR or could you make a change?

[2019-10-15 18:24] Zoxc commented on #65419
Yeah that's it.

[2019-10-15 18:37] estebank commented on #45447
This is now fixed.

[2019-10-15 18:54] petrochenkov commented on #65386
@estebank

https://github.com/petrochenkov/rust/commit/cab814b406282a225c818d69f940a7075df320f1

[2019-10-15 18:59] nikomatsakis commented on #65419
OK, yes, that's what I meant. So to fix this we presumably want to:

* Add a new `PanicInfo` variant with a different description
* Use that `PanicInfo` variant for generators that arose from `async fn`

We would need to get access to the [`generator_kind`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/hir/struct.Body.html#method.generator_kind) for this generator in this function here;

h

[2019-10-15 19:01] rust-highfive opened #65446 "`clippy-driver` no longer builds after rust-lang/rust#65433"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65433, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-10-15 19:01] ultrasaurus commented on #65386
"tuple variant" is not a stable or consistent term (except where context is given that people are talking about an enum).  Stand-alone in an error message, it is pretty meaningless.

cc @petrochenkov

[2019-10-15 19:10] NilsIrl opened #65447 "Statically link against glibc"
Reasons for:

1. Performance. According to [this reddit message](https://www.reddit.com/r/rust/comments/a6pna3/why_rust_uses_glibc_and_not_musl_by_default_for/ebzpzld/), musl caused a program to run 9x slower. Musl is also known to be slower in certain configurations in C. This varies a lot with the use case and some might even see a performance increase with musl.
2. Smaller docker containers usi

[2019-10-15 19:11] est31 commented on #65437
Thanks, but the PR you linked was in fact one of my last PRs to this repo. I have since directed the focus of my free work to other projects. While I'm still open to paid work for contributions in the rust-lang org, this change is too small for that :). TLDR: I'd prefer if you did it :).

[2019-10-15 19:16] petrochenkov commented on #65386
Well, it is indeed stable and consistent.
"Variant" is a same thing as "enum variant", but without tautology (we don't have other variants in the language beside enum variants), and "tuple struct/variant" is a name for structs and variants defined with parentheses and introduced pretty early in the book - https://doc.rust-lang.org/nightly/book/ch05-01-defining-structs.html#using-tuple-structs-with

[2019-10-15 19:31] the8472 commented on #65447
The reddit thread mentions libm. And another source of speedups might be the malloc implementation (glibc 2.26 introduced thread-local caches). One can already use custom global allocators, maybe it would make sense to link a custom libm too?

[2019-10-15 19:33] PrismaPhonic commented on #65423
Still breaking on my end with nightly.  Please re-open this issue @pietroalbini.  I'm not sure what rust-lang policy is, but I would suggest not prematurely closing issues in the future.

[2019-10-15 19:41] petrochenkov commented on #65386
To clarify, I'm certainly not against showing examples with spans and perhaps improving documentation, only against inventing a new terminology instead of the already established one.

[2019-10-15 19:47] Amanieu commented on #65441
I feel that we should simply let all foreign exceptions unwind through `catch_unwind` without catching them. This roughly matches the behavior of a C++ `catch` clause which only catches the `rust_unwind` exception type. This should of course be documented.

[2019-10-15 19:49] mati865 commented on #65423
@PrismaPhonic as I wrote above it's possibly Docker cache picking up old nightly.
What is output of `rustc -vV` in your Docker script?

[2019-10-15 19:52] gnzlbg commented on #65441
Note that C++ also catches foreign exceptions if a `catch(...)` clause is used. That is, in C++, if your implementations supports it (which AFAIK none does right now), you can use `catch(__rust_exception const& e)` to catch a Rust panic (you can't modify it though). [According to the Itanium ABI](https://itanium-cxx-abi.github.io/cxx-abi/abi-eh.html#base-personality), the `__rust_exception` type s

[2019-10-15 20:04] phansch commented on #65446
Fix is on the way at https://github.com/rust-lang/rust-clippy/pull/4673

[2019-10-15 20:43] PrismaPhonic commented on #65423
Ahh, that was it.  Cleared out my docker cache and rebuilt and we are good to go now.  Thanks for the help!

[2019-10-15 20:57] estebank commented on #65440
Note that some of those tests are still there due to non-determinism in the output across multiple platforms. Those should be restricted to run on only one platform to be able to do this move.

[2019-10-15 21:04] gnzlbg commented on #62558
For those looking for a workaround, @mati865 fixed it for `libc` CI which started failing due to this today by using `--profile=minimal` when installing `rustup` in https://github.com/rust-lang/libc/pull/1550 .

[2019-10-15 21:21] memoryruins commented on #28728
With the `-Z insert-sideeffect` rustc flag, added by @sfanxiang in https://github.com/rust-lang/rust/pull/59546, it keeps on looping :)

before:
[code]
after:
[code]

[2019-10-15 21:36] gnzlbg commented on #65443
@jonas-schievink I'm not sure what the best label would be, but this isn't just an FFI issue, since one can call `extern "ptx-kernel"` functions defined in Rust from Rust. Basically, `extern "ABI"` just lets you tell the Rust compiler which calling convention should it use for a function (well, kind of, because of implicit no-mangle in some contexts, but that's another story).

I think that we do

[2019-10-15 21:43] mati865 commented on #65447
First blocker is the license. Glibc is licensed under LGPL, it has dynamic linking exception so one can freely link dynamically to it. Static linking doesn't fall under this exception. I'm not a lawyer but I think Rust would have to be licensed as (L)GPL to fit it.

Another thing is glibc doesn't really support static linking, sure it works well for small software but bites you when you need more

[2019-10-15 21:46] varkor commented on #65440
We should make sure to cross reference these with issues too.

[2019-10-15 21:57] jonas-schievink commented on #65443
@gnzlbg Yeah, specifying an ABI is most commonly used for FFI though, and that was the closest label we have, so I picked that. Feel free to change it to something else.

[2019-10-15 21:59] ehuss commented on #44663
@petrochenkov I like the idea of the modifier syntax, but I'm curious how that would work with `getopts`.  If the intent would be to support multiple modifiers, would every permutation need to be registered as separate flags?

[2019-10-15 22:05] NilsIrl commented on #65447
(Obviously not a lawyer but), I'm pretty sure that as long as the code it is linked against is GPLed, it should work.

[2019-10-15 22:08] NilsIrl commented on #65447
https://www.gnu.org/licenses/gpl-faq.html#LGPLStaticVsDynamic

Should be fine

[2019-10-15 22:08] petrochenkov commented on #44663
No idea :)
I didn't look into implementation details, only suggested a syntax that's more generic than `--extern-private`.

[2019-10-15 22:32] tkaitchuck commented on #47133
There is currently another issue open on this: https://github.com/rust-lang/rust/issues/39531

[2019-10-15 22:34] ahomescu opened #65452 "Inline assembly with tied operands of different sizes"
When transpiling (or manually translating) the following C code from `/usr/include/bits/select.h`:
[code]
into Rust, we get approximately the following code (manually rewritten to make it cleaner):
[code]
the resulting Rust inline assembly works fine in release mode, but crashes in debug mode.
[Link to Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e6d2440cd80

[2019-10-16 02:12] estebank commented on #35825
Nowadays what we should suggest here is probably `impl Iterator`.

[2019-10-16 02:53] #49300 closed

[2019-10-16 02:53] #61115 closed

[2019-10-16 02:53] #64659 closed

[2019-10-16 02:53] #64821 closed

[2019-10-16 02:53] #65159 closed

[2019-10-16 02:53] #65285 closed

[2019-10-16 02:53] #65348 closed

[2019-10-16 04:28] m4b opened #65458 "abstracting over borrowed/owned IntoIterator in generic function isn't representatble"
I don't know what to call this issue; I'm sure someone knows what this could be related to, if it's known, whether there's a solution, etc. Anyway, just posting here though:

Whlie attempting to abstract over a borrow/owned iterator to make a refactor easier, and to benchmark the separate implementations, I effectively stumbled onto this issue where I cannot seem to find a possible way to write th

[2019-10-16 06:58] markand commented on #65051
Hello,

This is the list of built libraries that have undefined symbols to LLVM's libunwind, I've tried adding `#[link(name = "unwind")]` in their respective *lib.rs* but with no luck. Can I edit their *Cargo.toml* to force linking to it? I'm not yet confident with Rust tooling yet.

[code]

[2019-10-16 07:32] bkchr opened #65462 "ICE: "Tried to access field 0 of union with 0 fields""
I get the following internal compiler error with rustc nightly:
[code]

To reproduce, just checkout the repo at the following commit: https://github.com/paritytech/polkadot/commit/317411718ce6450923aa2b8ef6ebae4eba9408e5

Run: `BUILD_DUMMY_WASM_BINARY=1 cargo build -p polkadot-service`

[2019-10-16 07:53] Centril commented on #65462
Can you please provide a minimized example that would fit in the playground without any dependencies?

[2019-10-16 08:04] Centril commented on #65443
@jonas-schievink btw, if the current label set is insufficient, feel free to add new ones. :)

[2019-10-16 08:05] mati865 commented on #65051
I have an theory.
Unless you patched Clang it won't link libunwind by default. In https://github.com/rust-lang/rust/issues/65051#issuecomment-537870171 it worked because it was pulled by libcxx(abi?).
If that's correct then `LDFLAGS="-Wl,-lunwind"` mentioned by MaskRay should help.

[2019-10-16 08:06] bkchr commented on #65462
Sorry for forgetting the backtrace, here we go:
[code]

Regarding a minimized example, I would really like to provide you one, but I did not change any code. I just updated the nightly compiler. The latest stable compiles this code without any problems.

[2019-10-16 08:09] Centril commented on #65462
Sure; it's just substantially more difficult to fix a bug when the input is large as compared to just a few lines of code you can put in a file. :) Reports with a minimal snippet tend to get fixed much faster.

[2019-10-16 08:10] Centril commented on #65462
cc @eddyb @nagisa

[2019-10-16 08:11] matthewjasper commented on #60869
Gensyms are now gone, that should unblock the other clean up here.

[2019-10-16 08:12] markand commented on #65051
Yes it is pulled by libc++.so. In fact we have the following input file.

[code]

I have not seen the `LDFLAGS` proposal (maybe the message was edited)? Anyway sorry, I'll try immediately :-)

[2019-10-16 08:12] Centril commented on #65462
Did you try the beta compiler? Does it work there?

[2019-10-16 08:50] bkchr commented on #65462
Okay, I tried to find the problem and to reproduce it. I failed at reproducing :(

However, I found the line https://github.com/paritytech/polkadot/blob/master/service/src/lib.rs#L167
If I remove this call to `build()` it does not crash.

This `build` call is implemented in the following monstrious impl block: https://github.com/paritytech/substrate/blob/master/core/service/src/builder.rs#L803-L84

[2019-10-16 08:54] ChrisJefferson opened #65464 "Add easy way to disable "unused" warnings"
I like to build functions as a series of parts, for example I might write the following skeleton, then plan to fill in the loop

[code]

If I run a cargo check on this, just to check for typos, I get:

[code]

I feel it should be possible to encapsulate a set of warnings which represent "unused/dead", and have a way of disabling them while developing. I realise this could be abused by some people,

[2019-10-16 08:58] #65446 closed

[2019-10-16 09:01] Kampfkarren commented on #65464
`#![allow(dead_code)]` at the root of your crate :)

[2019-10-16 09:12] ChrisJefferson commented on #65464
I tried this (should have said), but I ended up with:

[code]

And then, I also had to remember to go remove them all every so often, as I don't want these enabling forever, just while writing a new function.

Perhaps (I'll be honest, I'm maybe not positive what I want), I want a way to disable lints easily while initially making a function, then linting once I think I've got a valid piece of fini

[2019-10-16 09:16] Centril commented on #65464
There's always `#![allow(unused)]` to disable the whole group.

I don't think there's anything actionable here yet.

[2019-10-16 09:21] ChrisJefferson commented on #65464
That is, I think, what I want. That's not too much work to add and remove.

I hadn't found that there was a way of grouping together lints (I had tried googling, but I obviously did hit it). I'm not sure if there is a good way of making this more visible.

[2019-10-16 09:26] bkchr commented on #65462
Beta works for me.

[2019-10-16 09:52] pnkfelix opened #65466 "ICE resolving non-existent PartialEq::Eq from match of const"
(Spawned off of https://github.com/rust-lang/rust/issues/61188#issuecomment-518034786 )

Sometimes the code-generation for pattern-matching a `const` will generate a invocation of `PartialEq::eq` (rather than unfolding the structure of that constant inline, which is the usual compilation strategy used in rustc currently...)

The difference between unfolding inline and invoking `PartialEq::eq` is n

[2019-10-16 09:56] pnkfelix commented on #61188
(closing this bug so we can let issue #65466 be dedicated to tracking the more subtle problem laid out in @matthewjasper 's [comment above](https://github.com/rust-lang/rust/issues/61188#issuecomment-539414038).)

[2019-10-16 09:56] #61188 closed

[2019-10-16 10:09] jamesmunns opened #65467 "`unused_variables` and `unused_assignments` lints do not catch array usage"
I recently had a problem where I was accidentally implicitly copying an array with `if let` bindings, and the writes to the original array were never made (I needed to add `ref` in my bindings). I thought it was strange that there was no warnings for this, and noticed this is true for these lints in general. Here's a small reproduction (also on the [playground](https://play.rust-lang.org/?version=

[2019-10-16 10:31] arturoc opened #65468 "rls rustc 1.39.0-nightly (eb48d6bde 2019-09-12) panics on clippy"
while running rls:

[code]

[2019-10-16 10:32] arturoc commented on #65468
stacktrace:

[code]

[2019-10-16 10:41] jonas-schievink commented on #65468
This looks like an issue in Clippy, so please report this at https://github.com/rust-lang/rust-clippy.

[2019-10-16 10:41] #65468 closed

[2019-10-16 11:34] nw0 commented on #51535
Are you still pursuing this issue?

I managed to get a process working for a different architecture, but with similar linkage issues. This only went as far as `libcore` and `liballoc`, however.

1. Compile a dylib or "Rust library" for the relevant libraries; see [documentation on linkage](https://doc.rust-lang.org/reference/linkage.html)
1. Use `rustc` to emit LLVM IR, linking to the libraries wi

[2019-10-16 12:12] bkchr commented on #65462
I downgraded to "rustc 1.40.0-nightly (c27f7568b 2019-10-13)" and that fixes my problem.

[2019-10-16 12:13] Centril commented on #65467
Adding T-Lang for the "do we want to do this" aspect of the lint beyond it's execution (T-Compiler).

The current behavior is expected. These lints are defined through a liveness analysis done on HIR rather than MIR and understanding arrays specially on HIR might not be worth the impl complexity.

[2019-10-16 12:37] steveklabnik commented on #46453
Triage: https://github.com/rust-lang/rfcs/blob/master/text/2603-symbol-name-mangling-v2.md was implemented, changing the mangling scheme completely. I'm not sure about the other stuff here though; can anyone give a summary of what would be needed to close this issue?

[2019-10-16 12:42] nagisa commented on #65452
The current implementation of Rust’s `asm!` is pretty much "pass it through to LLVM" and any larger changes to it, such as replicating some of the clang’s behaviour, are likely going to be a part of the larger inline assembly design work that will be necessary for inline assembly to stabilise.

Nevertheless this issue is a good corner case to consider when exploring our options and, eventually, im

[2019-10-16 12:45] nagisa commented on #65443
Similar to https://github.com/rust-lang/rust/issues/57182.

[2019-10-16 14:23] nw0 opened #65473 "Support index size != pointer width"
## Preliminaries
`usize` is the pointer-sized unsigned integer type [1].
It is also Rust's index type for slices and loops; this definition works well when pointer size corresponds to the space of indexable objects (most targets today). Informally, `uintptr_t == size_t`.

Note that the target pointer width is indisputably set by the LLVM data layout string.
It would be correct to say that it is cu

[2019-10-16 14:30] gnzlbg commented on #57182
I ran into these same issues in https://github.com/rust-lang/rust/issues/65443 .

One thing that I mentioned there, that is not mentioned here, is that because these errors can happen on stable safe Rust code, this is actually a soundness bug (safe Rust code has UB).

I agree. There are some ABIs that the reference says are available on all targets (e.g. `"C"`, `"system"`, `"Rust"`, etc.) but exce

[2019-10-16 15:03] 0paIescent commented on #65280
How's this looking?

[code]

[2019-10-16 15:04] gnzlbg commented on #65473
Thank you for this information, it is useful to be sure that the "simplest" solution isn't good enough.

Agreed, otherwise, according to the information provided, we cannot technically support such targets properly.

Integers are casted back to pointers and subsequently dereferenced all the time. I think that what that issue shows is that doing so is ok (and therefore answering your question, prov

[2019-10-16 15:43] 0paIescent commented on #65280
Yeah I'm working on getting that out of there, I was starting with just modifying the `write!()`s, but I wonder if more of a redesign is needed.

And here it is prettyprinted:
[code]

[2019-10-16 15:51] seanmonstar commented on #65280
You can get a lot of this for "free" if you make use of `Formatter::debug_list()` and make a wrapper `DebugFrame<'a>(&'a Frame)`.

[code]

And in `DebugFrame`, you can use `Formatter::debug_struct`.

[2019-10-16 15:54] 0paIescent commented on #65280
Oh that's a great idea, I had forgotten those helper methods were there in Debug. Thanks!

[2019-10-16 17:18] Amanieu commented on #65441
Actually, looking at the implementation of `catch_unwind`, there is no check that the exception object that was caught is actually a panic generated by Rust. The code just blindly casts the exception pointer to a pointer to `struct Exception`. This will fail horribly if the exception was not generated by Rust.

[2019-10-16 18:12] rkruppe commented on #65473
Drive-by note (I currently have no budget to dive deeply into this topic):

[That's not true.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3f698c6e03a86eb2e2ec79b58934e6b2)

[2019-10-16 18:14] seanmonstar commented on #62726
I was trying to `impl Buf for IoSlice` in the bytes crate, and noticed there's currently an issue with lifetimes:

[code]

To allow such a thing externally, we could add a method to `IoSlice` that gives the slice with the same lifetime as `IoSlice` (whereas `Deref` uses an anonymous lifetime).

[code]

[2019-10-16 18:20] RalfJung commented on #64484
But then what is the name for the thing represented by the bit pattern? The thing that *is* the same?
[Reading the reference](https://doc.rust-lang.org/reference/expressions.html#place-expressions-and-value-expressions), expressions denoting such things are called "value expression", so I'd say such things ought to be called "values".

I actually think the message conveyed is basically right ("goo

[2019-10-16 18:50] 0paIescent commented on #65280
[Here's](https://github.com/0paIescent/backtrace-rs/tree/new_debug) my fork with what I have so far for backtrace-rs. Now, the reason there was a trailing comma at the end was that the last frame had a IP of 0x0, and its symbol had no data. Do those need to be filtered out or is there a practical use for those?

[2019-10-16 18:53] estebank commented on #65467
If we extend `rustc` to detect this case it would be the same machinery necessary to support https://github.com/rust-lang/rust/issues/58792, either to suggest `split_at_mut` or to make it unnecessary by keeping track of non-overlapping mutable borrows during borrowck.

[2019-10-16 18:54] jasl opened #65476 "Compile Substrate fail because compiler error"
OS: Ubuntu 18.04.3 Kernel 5.0.0-31-generic

Rust: rustc 1.40.0-nightly (237d54ff6 2019-10-15) running on x86_64-unknown-linux-gnu

Substrate: [paritytech/substrate@e0f3fa3845654770f6d96dbaa2d3a76842ad44f3](https://github.com/paritytech/substrate/tree/e0f3fa3845654770f6d96dbaa2d3a76842ad44f3)

Output:

[code]

[2019-10-16 18:55] nvlbg commented on #65440
@estebank are these tests marked somehow? Also how are tests restricted to a single platform?

[2019-10-16 18:59] jonas-schievink commented on #65476
Duplicate of https://github.com/rust-lang/rust/issues/65462

[2019-10-16 18:59] #65476 closed

[2019-10-16 19:00] seanmonstar commented on #62726
@Thomasdezeeuw I don't *think* so. It's not possible to get the inner slice with the same lifetime due to `Deref`:

[code]

[2019-10-16 19:09] gnzlbg commented on #65473
Damn, thanks. So the reference doesn’t say what that does AFAICT, only that
it is a pointer to address cast, but the address doesn’t fit, so I suppose
it gets truncated?

[2019-10-16 19:15] estebank commented on #65464
@Centril we could rework the lint output to be

[code]

[2019-10-16 19:22] estebank opened #65477 "Extend overlapping ranges lint to cover cases with more than a single element overlapping"
#64007 introduces an overlapping ranges lint that triggers only if the beginning or the end overlap with another arms' pattern, like in `0..10`/`9..20`. [There should be a conversation](https://github.com/rust-lang/rust/pull/64007#issuecomment-542628737) on whether it should also trigger when the overlap is beyond that, like in `0..10`/`5..15`.

[2019-10-16 19:32] Nemo157 commented on #62726
@seanmonstar it's not an _amazing_ API to build that on top of, but it is possible ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8bee4f76e80031f9100a5290cef5b606)):

[code]

[2019-10-16 19:42] seanmonstar commented on #62726
Oh right, that is using the unstable function. I was referring to be able to implement this now.

[2019-10-16 19:47] Nemo157 commented on #62726
Ah, I just assumed since that's what the tracking issue is about. It seems like having `IoSlice<'a>::into_inner(self) -> &'a [u8]` along with `Clone` and `Copy` would make sense since it's just a newtyped slice.

[2019-10-16 20:04] estebank commented on #65386
@ultrasaurus would this output have been enough for you understand what was happening?

<img width="789" alt="Screen Shot 2019-10-16 at 1 01 28 PM" src="https://user-images.githubusercontent.com/1606434/66954355-1d6a5c80-f015-11e9-99a4-096bdb2bbd08.png">

[2019-10-16 20:42] Aaron1011 commented on #43081
Are things at a point where it would possible to start working on this (beyond the small improvements that @Mark-Simulacrum mentioned)? Or is there still design work that needs to be done?

[2019-10-16 20:59] estebank commented on #65440
I believe those in particular aren't the ones u was thinking about, but they are marked with ignore- tags. I think they might be either ignore-x86 or ignore-musl, something along those lines.

[2019-10-16 21:02] Centril commented on #65440
Generally speaking, a trial and error approach should work here... work through the tests a few at a time and see what will go through CI.

[2019-10-16 21:05] estebank commented on #57413
Hi @kevgrasso! Will you be needing a hand? To begin with, I would recommend searching for `DiagnosticStyledString` in order to find how it works today. Particularly, [this method](https://github.com/rust-lang/rust/blob/0e8a4b441c5da21a2cb19448728ade5baa299c66/src/librustc/infer/error_reporting/mod.rs#L869) shows how the highlighting for specific type arguments is currently handled. It is extremely

[2019-10-16 22:40] kevincox opened #65481 "Allow trait methods to return `impl Trait` types."
It should be possible for methods in traits to have a return value specified as `impl Trait`. This would allow traits to return values without having to specify the exact type or wrap in indirection.

This would obviously not be object-safe as the size of the return value would not be known.

[2019-10-16 22:42] nnethercote commented on #55528
#65260 reduced compile time some more, by up to 7%.

[2019-10-16 22:42] kevincox commented on #63066
https://github.com/rust-lang/rust/issues/65481 Allow `impl Trait` in trait method return values.

[2019-10-16 22:57] jonas-schievink commented on #65481
Please refer to https://github.com/rust-lang/rfcs/blob/master/text/1522-conservative-impl-trait.md#limitation-to-freeinherent-functions for why this isn't allowed. Doing this requires substantial language design efforts and an RFC, so closing in favor of that.

[2019-10-16 22:57] #65481 closed

[2019-10-16 23:30] RReverser commented on #65437
Fair enough. If nobody does this earlier, I'll try to make a PR myself once I have some more spare time.

[2019-10-16 23:58] est31 commented on #65437
I'm still around to give gratis consulting :).

Quick & easy fix would be in `source_loc.rs` where my PR introduced the change. For such a fix figuring out the right way to test would probably be the hardest part.

A longer term solution of the root of this problem would be to make spans start at column 1 everywhere in the compiler. Maybe I'm missing something and this is actually a bad idea, but

[2019-10-17 01:02] ultrasaurus commented on #65386
@estebank that would have definitely helped!

If you can put some kind of break between the code from diff files, I think that would be more readable.

Just in case it's nearby, the "cannot find function..." seems to conflict with "similarly named tuple variant".... would it be possible to change to "cannot find function or enum tuple variant..." at the top of your screenshot.

Thanks for your att

[2019-10-17 01:41] ecstatic-morse commented on #65394
Just checking for moves in the same block fails often. I've implemented the first fix described above, but we probably want to use a `MaybeInitializedLocals` analysis in the future.

[2019-10-17 03:09] nnethercote opened #65487 "Frequent use of line 0 in debug info reduces effectiveness of Cachegrind"
I frequently use Cachegrind (and Callgrind) to profile rustc and other Rust programs. Cachegrind attributes instruction counts (and possibly cache misses and branch mispredictions) to specific lines of code, like this:
[code]
But when profiling rustc with Cachegrind, lots of instruction counts don't get attribute to a particular line, so we end up with output like this:
[code]
Often the fraction o

[2019-10-17 03:22] nnethercote commented on #60869
#64141 and #65426 greatly reduced the usage and capability of `LocalInternedString`, getting it pretty close to this desired state. I also tried adding `Symbol::with()`... it works in principle, but in practice it's pretty annoying, and there are hundreds of use sites that would need changing. So I gave up on that.

[2019-10-17 03:32] kevgrasso commented on #57413
Thanks, I'd found that struct and file, but I'd overlooked that method due to how complicated it seemed at a glance.

[2019-10-17 03:36] Aaron1011 commented on #57017
@nikomatsakis: That last example is extremely surprising to me - the compiler is essentially pulling a type out of thin air. I think this can only occur when there is exactly one possible impl - if I add `unsafe impl Send for Foo<bool>`, I get the expected inference error.

I think it would be possible to divide up the generated bounds into two categories:
1. 'Normal' bounds (those not involving a

[2019-10-17 04:36] estebank commented on #65386
<img width="784" alt="Screen Shot 2019-10-16 at 9 34 14 PM" src="https://user-images.githubusercontent.com/1606434/66977989-f20b6000-f05c-11e9-8386-4fdd7d4ae098.png">

The change made the PR size balloon in size, but I do think that this error and all others that were changed are now more accurate.

[2019-10-17 06:44] mark-summerfield commented on #54216
My workaround is to create `C:\tmp\targets` and for each project have a `prepare.bat` containing:
[code]
And to run this once per session before using Rust.

[2019-10-17 07:08] gnzlbg commented on #64484
I've opened https://github.com/rust-lang/unsafe-code-guidelines/issues/213 to track providing a precise definition for "allocation" at some point, but in the meantime I don't think that resolving that issue should block trying to land this since I find the term "allocation" in the context of Rc hard to misunderstand, but we can always try to explain it a bit more if users start having questions.

[2019-10-17 07:52] Kixunil commented on #44109
Would it be possible to also have something like `#[non_exhaustive(pub)]` that would make enum non-exhaustive for dependencies but allow exhaustive matches in the crate defining the enum? This way, the crate author wouldn't forget to handle some cases (hard error if he does) and the dependencies would have to add wildcard pattern.

[2019-10-17 08:07] Nemo157 commented on #44109
@Kixunil that is how the feature works already.

[2019-10-17 08:12] Kixunil commented on #44109
@Nemo157 ah I missed that, awesome! Thank you!

[2019-10-17 08:19] aristarh2704 opened #65488 "The ASM compiler identification is unknown"
While building LLVM for target system, cmake prints:

 But when I run cmake configure command by hand, it's work normally.
Target: armv7-linux-androideabi.

[2019-10-17 08:36] roblabla opened #65489 "FnMut inside Pin complains about DerefMut not implemented"
When calling an `FnMut()` from inside a `Pin`, Rust complains that DerefMut is not implemented:

[code]

This seemingly equivalent piece of code works properly with no errors:

[code]

[2019-10-17 08:37] adamski commented on #54216
@mark-summerfield I am using CMake (via [CMakeRust)](https://github.com/Devolutions/CMakeRust) to build the project (which contains C++ code too), and was able to set the `CARGO_TARGET_DIR` there. Unfortunately the build failed because the target lib was not where the build script expected it to be, and my CMake knowledge is a little lacking. So I ended up pulling the repo onto the virtual machine

[2019-10-17 08:40] chocol4te commented on #65257
I'm sorry, I've been pretty busy with coursework, and I'm still fighting my Python installation to even build the compiler, let alone make progress on this. Sorry :(

[2019-10-17 08:44] pnkfelix opened #65490 "Tracking issue for bindings in sub-patterns after `@`s (`feature(bindings_after_at)`)"
This is the tracking issue for `#![feature(bindings_after_at)]`, which allows patterns of form `binding @ pat` to have bindings in `pat`, for example `ref x @ Some(y)`.

## Implementation history

- On 2019-12-24, https://github.com/rust-lang/rust/pull/66296, containing the initial implementation, landed. The PR was written by @Centril and reviewed by @pnkfelix and @matthewjasper.

- On 2020-02-10

[2019-10-17 08:45] pnkfelix commented on #65490
I don't *think* implementing this requires an RFC, but I suppose its worth double-checking with the lang team. Nominating for discussion at lang team meeting on that point.

(And removing from T-compiler for now; no reason to both T-compiler about this until after T-lang has confirmed that we want this feature re-added.)

[2019-10-17 09:10] timClicks opened #65492 "Rename first argument Option::unwrap_or to default"
We [currently](https://doc.rust-lang.org/std/option/enum.Option.html#method.unwrap_or) use the definition for `Option::unwrap_or`:

[code]

I sometimes read `def` as `define`. It would be clearer for me (and hopefully others!) if it had the following signature:

[code]

[2019-10-17 09:12] pnkfelix commented on #64872
I've reproduced the issue via the repository @bjorn3 linked [above](https://github.com/rust-lang/rust/issues/64872#issuecomment-538725265). I'll see if I can do any mini-fication.

[2019-10-17 09:34] jonas-schievink commented on #65488
Please provide more information. What's your build platform and your `config.toml`? Are you using a custom LLVM or the one shipped with Rust?

[2019-10-17 10:47] choller commented on #64629
I'm reopening this because the fix I made is not complete. There is a second place where we inject the sanitizer runtime and that is the `inject_sanitizer_runtime` function in `src/librustc_metadata/creader.rs`. It even explicitly attaches the runtime to static libraries. This is a one-line fix but afterwards the `sanitizer-staticlib-link` test fails. This test failure is expected because the test

[2019-10-17 10:58] gnzlbg commented on #65441
Yes, I think that's correct at the language spec level, because right now, letting a foreign exception (or any kind of exception actually) unwind into Rust is UB, so we do not provide any kind of guarantees about what `catch_unwind` does.

As you mention, what we currently do for foreign exceptions is horrible. Since there are some platforms where we can easily do better (e.g. just aborting), I th

[2019-10-17 11:24] Patryk27 opened #65494 ""try using a variant of the expected type" suggesting a peculiar syntax"
Hi,

I've got following code:
[code]
([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f86e5f327f92613ab3a8f55e65521c63))

The suggested `<Foo>::new()` syntax is valid, but - quite frankly - spooky (and it seems to be this way from the very beginning of this feature). Could it suggest just `Foo::new()`?

I'd like to tackle this myself, but I'd need at least

[2019-10-17 11:30] pnkfelix commented on #64872
nominating for discussion: I want T-compiler to consider whether, in the short term, we should revert PR #64324 as a way to address this bug.

(It seems to me like the risks of linker errors due to mixed optimization levels are *less* than the risks presented here in this ticket, and that is an argument for reverting #64324 in the short term.)

In the meantime I will continue to investigate the bu

[2019-10-17 11:35] pnkfelix commented on #63154
question I might attempt to pose at the T-compiler meeting: In cases like this, is it best to reopen the same bug when you find a variant that tickles a similar ICE? Or are we better off opening a fresh ticket for the variant code?

On the one hand, a proliferation of tickets is not fun.

On the other hand, it becomes pretty difficult to track what an issue number *represents* when you have to int

[2019-10-17 11:56] petosorus commented on #65492
Hi ! I'm interesting to work on this if no one has started.

[2019-10-17 12:09] pnkfelix commented on #62649
Reproduced locally. Looking into it.

Potentially interesting observation: the bug only arises when replacing a trait with a struct. (Going in the other direction does not ICE.)

[2019-10-17 12:24] pnkfelix commented on #65462
triage: P-high. self-assigning. removing nomination tag.

[2019-10-17 12:33] pnkfelix commented on #65411
triage: P-high, assigning to @Xanewok . Removing nomination label.

[2019-10-17 12:34] nw0 commented on #65473
I have some bandwidth to address this topic in rustc (i.e. implementation work), but I guess there's lots of people who need to know about the semantics.

---

I think this is a separate issue. Given that it's Safe Rust, I'd be cautious about proposing we restrict the guarantee to currently-supported targets. In any case, no problem with CHERI; casting integers to pointers is OK unless you derefer

[2019-10-17 12:38] pnkfelix commented on #65394
triage: P-medium. Assigning to @ecstatic-morse . Removing nomination label.

[2019-10-17 12:43] pnkfelix commented on #65383
triage: P-medium. Assigning to self for now (but I welcome others who would like to work-steal it).

[2019-10-17 12:45] pnkfelix commented on #65383
assigning to @estebank as well based on @Centril insight that this ICE may be arising from diagnostics.

[2019-10-17 12:53] Centril commented on #64484
@steveklabnik Do you have any objections to my proposed wording?

[2019-10-17 12:53] steveklabnik commented on #64484
I had actually thought I had 👍 'd it; it looks good to me.

[2019-10-17 12:54] steveklabnik commented on #34502
Triage; I'm not aware of any movement on this feature.

[2019-10-17 12:55] Centril commented on #64484
Cool; let's see... who is going to implement this? :D @RalfJung maybe wants to?

[2019-10-17 12:58] steveklabnik commented on #65473
This feels like RFC material.

[2019-10-17 12:59] petrochenkov commented on #55220
Closing in accordance with the previous comment.

[2019-10-17 12:59] #55220 closed

[2019-10-17 13:00] pnkfelix commented on #65090
I [raised the issue](https://zulip-archive.rust-lang.org/131828tcompiler/03408weeklymeeting2019101054818.html#177815199) at last week's meeting. No one objected to the P-medium prioritization.

[2019-10-17 13:14] Centril commented on #65257
I'll assign this to myself to work on when I have time. If you want to work on it however, feel free to work-steal it from me!

[2019-10-17 13:22] gnzlbg commented on #65473
[The documentation of `usize`](https://doc.rust-lang.org/std/primitive.usize.html) is clear to me:

That's what we currently guarantee, and all existing safe and unsafe Rust code can and does rely on this being true.

Thanks, this is useful. Maybe we could "tune" the definition of `usize` to be an unsigned integer type that's wide enough to store the address of a pointer such that a pointer-to-int

[2019-10-17 13:26] pnkfelix commented on #63959
visiting for triage.

 @mati865 , things certainly sound fishy (and frustrating) when a local build does not replicate the problem but the CI-produced nightly  artifacts does.

Would it be feasible for you to replicate something closer to what the CI setup is, e.g. via a docker image?

[2019-10-17 13:32] csmoe commented on #65494
improvement needed inside `print_qpath`:
https://github.com/rust-lang/rust/blob/f54911c6f2971b98ede2d21ab8cabd7daa1110ba/src/librustc/hir/print.rs#L1491-L1536

[2019-10-17 13:33] mgoszcz2 opened #65499 "Casting a function reference to a pointer producing an invalid pointer (0x1)"
Ran on stable 1.38.0 this prints the function pointer, but beta (1.39.0-beta.6) and nightly return '1'. ([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=124b7286b987a31eaf882c1efdf06fab))

Can't say I understand why this is happening but I've been [told](https://stackoverflow.com/questions/58416511/casting-a-function-reference-producing-an-invalid-pointer) it mig

[2019-10-17 13:36] pnkfelix commented on #63154
I haven't had a chance to look at @eddyb 's new variant yet. I will try to find time to do so, either tomorrow or next week.

[2019-10-17 13:39] jonas-schievink commented on #65499
If the println is replaced with this:

[code]

On 1.38.0 it prints two different addresses:

[code]

so I don't think the previous result was actually the function pointer.

I'd have expected it to print `0x1` is any case, since `foo` is a zero-sized type.

[2019-10-17 13:47] pnkfelix commented on #61561
visiting for triage. Being honest (with myself and you): I just can't allocate time/resources to this bug. (It does not help that Windows is not a primary nor secondary dev platform for me.)

Unassigning self and will post request for windows-dev to take this on

[2019-10-17 13:48] Mark-Simulacrum commented on #65499
Bisection shows https://github.com/rust-lang/rust/commit/ea52be482ab4945fda63cb65b6a198309a041e3c as the origin of this which makes some sense -- we stopped putting zero-sized types at a specific address and instead return `0x1` (minimum aligned ptr).

I believe this is an intentional change, so I think we'll likely close, but let's mark as regression for compiler team to confirm.

[2019-10-17 13:55] Gymmasssorla opened #65500 "rustc panics compiling async_trait with an associated type"
`rustc` panics if I define an associated type inside an `#[async_trait]` trait and implement it for a structure:

Inside `src/main.rs`:
[code]

Inside `Cargo.toml`:
[code]

## Meta
[code]

[2019-10-17 13:56] polyedre commented on #63237
Is the problem fixed ? If not, I would like to work on it !

[2019-10-17 14:02] JohnTitor commented on #63237
@polyedre WIP PR has been closed due to inactivity so you can work on this.

[2019-10-17 14:04] jonas-schievink commented on #65500
@Gymmasssorla Your code still depends on `async_trait`, which does rather heavy code generation. You might be able to minimize the example further by running `cargo expand`.

[2019-10-17 14:09] polyedre commented on #63237
@JohnTitor I would like to be assigned to this issue. Am I supposed to do a new pull request ?

[2019-10-17 14:11] nw0 commented on #65473
Ah, I suppose the question should be how liberally this can be interpreted. I claim that yes, while sometimes code relies on  `usize` taking the same space as a pointer (the guarantee), other code really relies on `usize` being the same size as the result of LLVM's `ptrtoint` instruction. (I won't be coy, Rust's `ptr_diff` intrinsic really wants the latter). The precise interpretation changes noth

[2019-10-17 14:15] JohnTitor commented on #63237
@rustbot claim @polyedre

Go ahead!

[2019-10-17 14:15] Gymmasssorla commented on #65500
I have executed `cargo expand` and fixed some compilation errors, but now the compiler doesn't panic at all. Might it be a bug raised by [async-trait](https://crates.io/crates/async-trait)?

[code]

The playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f0658bacf89df3cd99dfa092c82ffd9a.

[2019-10-17 14:15] JohnTitor commented on #63237
@rustbot claim @polyedre

[2019-10-17 14:16] JohnTitor commented on #63237
Hmm, it's odd, anyway, you can assign the issue to yourself by comment `@rustbot claim`

[2019-10-17 14:17] polyedre commented on #63237
@rustbot claim

[2019-10-17 14:18] tspiteri opened #65502 "Rustdoc uses fake italics for code"
For example https://doc.rust-lang.org/std/primitive.i32.html has the string “*See also the `std::i32` module*” which inludes code in italics. This is rendered using fake italics because the Source Code Pro italic font is not included.

Adding the italic font would fix this, but at the cost of having an extra font to download. Is the better formatting worth the (one-time?) download?

If there is an

[2019-10-17 14:19] gnzlbg commented on #65473
Notice that independently of what we recommend people to do or not, we still do guarantee that this works correctly. Notice that we do also guarantee this for `#[repr(C)] union U { x: *mut T, y: usize }`, which can be used to "transmute" between those types without any loss of information because they have the same size. Crates that implement "tagged pointers" (using certain pointer bits to store

[2019-10-17 14:43] RReverser commented on #65437
Yeah, but I think I'll also need to account for the beginning of line, which is currently correctly reported at column `1` and shouldn't be moved forward. It's not hard to add a condition here, but that feels weird and error-prone.

[2019-10-17 14:57] nikomatsakis commented on #65391
cc@japaric  @therealprof @jamesmunns -- maybe somebody from the embedded wg has some insight into what is happening here?

[2019-10-17 15:25] eddyb commented on #63154
@pnkfelix Part of the reason I feel like this issue should be reopened was because I started from the same codebase @james-darkfox got this issue's example from.
Had that code been published, even to a temporary git branch, it could've been possible to check before marking this issue as fixed, if the actual code got fixed.

OTOH, even if it's in the same area, I think it's *technically* a separate

[2019-10-17 15:27] markand commented on #65051
So the LDFLAGS didn't work and I've also rebuilt clang with the option to use libunwind by default with no luck. So I've rebuilt musl library to force inclusion of libunwind symbols into it. A bit hackish but I went further...

Now it fails because of an unmatched function definition.

[code]

Is rust 1.37 compatible with llvm 9? I'll try with rust 1.38 instead.

[2019-10-17 15:31] ultrasaurus commented on #65386
This is great!

It would have helped me if "tuple variant" had the word "enum" near it.  Would it be correct to say "enum tuple variant" ?

Not intending to be nit-picky, just providing feedback.  The given context should provide enough breadcrumbs for a novice :)

[2019-10-17 15:33] james-darkfox commented on #63154
@eddyb Oh. The code isn't secret just not ready to publish given the broken state and poor compilation performance. https://gitlab.com/sio4/code/omnom

The `weird-ice` directory contains the first reduction. Safe to ignore that, the main crate is the real code.

[2019-10-17 15:42] est31 commented on #65437
Interesting, good point. However, I believe this isn't pointing to columns of 1 because of special casing for line starts. If I take the line with `abort()` in your example and remove all indentation, it *removes* column info in LLVM IR, indicating that 0 was passed to LLVM (which then removes it as it was 0).

The spans where the column is 1 are all pointing to closing braces `}` of functions and

[2019-10-17 16:06] 0paIescent commented on #65280
So, I changed it back to the previous way of printing everything out, just with some added formatting, and a check to see if it's the first frame so it knows when to print a comma after a symbol's "map".

The precision also works now, but there's a catch, since the formatter is passed down to the print path function the precision persists when printing out the path. Since `Formatter` doesn't have

[2019-10-17 16:12] Centril commented on #64917
Oh the joy of having a turing complete type system...

cc @nikomatsakis

[2019-10-17 16:33] bbigras commented on #65500
I might have a minimal case:

rustc 1.40.0-nightly (e413dc36a 2019-10-14)

[code]

[code]

[code]

[2019-10-17 17:05] seanmonstar commented on #65280
My idea using precision might not end up working well...

[2019-10-17 17:13] estebank opened #65504 "Use structured suggestion for closure needed instead of inner function"
We currently emit the following error
[code]

It'd be nice if we provided a structured suggestion instead.

[2019-10-17 17:19] nagisa commented on #65499
Given that we used to previously produce function pointer when an address was taken for `fn {function} ()` types, we might have to continue maintaining this functionality. Even if it was accidental "feature".

[2019-10-17 17:28] mgoszcz2 commented on #65499
I found in the wild with eraserhd/parinfer-rust/pull/56

Curious, is my patch actually correct? Or does `foo as *const c_void` still potentially casts a zero-sized type to a pointer.

[2019-10-17 17:37] lzutao commented on #64465
Ping @XiangQingW , do you still working on it?

[2019-10-17 17:39] Mark-Simulacrum commented on #65499
As far as I can tell, this is not true. Or, at least, I can't seem to call the function when using the `&foo as ...` part: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8296afcad279652aa4e29204079b6d2b without causing a segfault. We produced something, sure, but I think it was either just a pointer into memory somewhere or possibly onto the stack, not sure.

This is the c

[2019-10-17 17:41] estebank commented on #65386
Googling "tuple variant rust" leads me to believe that not mentioning it could be a stumbling block for a newcomer:

----

<img width="612" alt="Screen Shot 2019-10-17 at 10 38 34 AM" src="https://user-images.githubusercontent.com/1606434/67033307-4ac51200-f0ca-11e9-9fb1-f8ef41ba5b36.png">

-----

vs "enum tuple variant rust":

----

<img width="657" alt="Screen Shot 2019-10-17 at 10 39 44 AM" src

[2019-10-17 17:43] nagisa commented on #65499
@Mark-Simulacrum Amusing, in that case this would not be a bug/regression at all and can be closed!

@mgoszcz2 `foo as *const c_void` is a correct way to cast it. If you want to be absolutely sure use `foo as unsafe fn() as *const c_void` (cast function item to function pointer and then cast function pointer to an erased pointer).

[2019-10-17 17:53] RalfJung commented on #64484
Submitted a PR: https://github.com/rust-lang/rust/pull/65505

[2019-10-17 17:55] mgoszcz2 commented on #65499
The code I found this in didn't actually call the function, so you are probably right. It just returned a valid pointer in the current image which was needed for [dladdr(3)](http://man7.org/linux/man-pages/man3/dladdr1.3.html)

[2019-10-17 18:34] nikomatsakis commented on #53639
We discussed this in [our meeting on 2019-10-10](https://github.com/rust-lang/lang-team/blob/master/minutes/2019-10-10.md). In that meeting, we concluded that we generally like a proposal that @RalfJung put forward -- we would deprecate taking references to static mut, but permit `&raw` operations that give you raw pointers. We think this should be done through an RFC.

[2019-10-17 18:38] aristarh2704 opened #65509 "Running target llvm-config on host"
While building, bootstrap runs target llvm-config as bash script, which in my example is ARM binary. Host is x86_64-unknown-linux-gnu, target armv7-linux-androideabi..
Last output:

[code]

[2019-10-17 18:43] nikomatsakis commented on #47059
[builds now](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ade5b6c55c139c73994dd21ff9cd7eee) -- we already have tests for this, closing

[2019-10-17 18:43] #47059 closed

[2019-10-17 18:54] eddyb opened #65510 "Quadratic slowdown for lookup of bounds on associated types."
There are two factors here, which we've spotted combined in the wild:
1. we hoist all `type X: ...;` bounds to the trait-level, i.e.:
[code]
    is sugar for:
[code]
    * I doubt we can do much about this, perhaps group/index the bounds?
2. lookup of `<_ as Foo>::X: Bar` in `Foo`'s `where` clauses appears to be quadratic
    * this wouldn't have a noticeable impact without 1.
    * probably easie

[2019-10-17 19:14] scottmcm opened #65512 "Tracking issue for vNext edition prelude"
There were plans to do this for the 2018 edition, but it never happened (https://github.com/rust-lang/rust/issues/51418, https://github.com/rust-lang/rust/pull/51434)

Things to consider:
- [ ] TryFrom/TryInto
- [ ] ???

[2019-10-17 19:21] aristarh2704 commented on #65488
Host is x86_64-unknown-linux-gnu, target is armv7-linux-androideabi. But the problem itself is gone, I don't know why. I try using LLVM shipped with rust.

[2019-10-17 19:24] jonas-schievink commented on #65488
Okay, if it doesn't occur anymore then I'll close this. If you (or anyone else) finds a way to reproduce this, please let me know and I'll reopen.

[2019-10-17 19:24] #65488 closed

[2019-10-17 19:33] patientplatypus opened #65514 "Mismatched types do not have line number"
[code]

^ That is incredibly frustrating.

EDIT:

Turns out that for *macros* this is an issue apparently (I asked on freenode).

[code]

vs

[code]

This gives an error. This narrows down the field of bad error messages, but it is still an open issue.

[2019-10-17 19:40] estebank opened #65515 "Reduce the places where `stable` annotations are needed"
Looking at the definition of `std::option::Option`, we have the following `stable` annotations:

[code]

Is it strictly _necessary_ for the stability checker to look at the fields of enum variants (or of structs, for that matter)?

It seems to me that `MissingStabilityAnnotations` could be modified to allow stability markings to flow down from at least a variant to its fields, as _changing_ them i

[2019-10-17 19:41] scottmcm opened #65516 "[Edition vNext] Consider deprecating weird nesting of items"
For example, do we really want `mod`s inside random function?  Similarly, IIRC https://youtu.be/LIYkT3p5gTs mentioned that it's unfortunate for incremental that we allow `impl`s of random things inside functions.

Though at the same time, it's nice to allow all sorts of things for how `?eval` bots work on Discord and IRC -- just put all the code inside a block that's passed to `println!` and it ju

[2019-10-17 19:44] rkruppe opened #65517 "Direct users to crate-type=cdylib in crate-type=dylib documentation"
The dylib crate type is well known to be misleading and rarely useful (to put it politely) among rustc developers, but if a user reads about crate types in `rustc --help`, [the reference](https://doc.rust-lang.org/reference/linkage.html), or [the rustc book](https://doc.rust-lang.org/rustc/command-line-arguments.html#--crate-type-a-list-of-types-of-crates-for-the-compiler-to-emit) they won't get m

[2019-10-17 19:45] timClicks commented on #65492
Wow, I half expected that this would be closed as wontfix. @petosorus I am happy to submit a patch, but if you want to that would be great.

[2019-10-17 19:47] wesleywiser commented on #58967
I added references to `-Zself-profile` and `measureme` to the rustc-guide in https://github.com/rust-lang/rustc-guide/pull/430. I don't think we want to duplicate how-to-use `measureme` info there so I think that's probably sufficient for now to tick that box.

[2019-10-17 20:13] estebank commented on #65383
I believe I have a fix. I'll post it after lunch.

[2019-10-17 20:33] Mark-Simulacrum commented on #65517
Should we consider making the stronger move of removing dylib from `--help` and similar documentation, and perhaps documenting it in a "advanced features" section or something of the rustc user guide book (note: _not_ rustc compiler internals guide).

[2019-10-17 20:35] Mark-Simulacrum commented on #65514
I suspect this is fixed now on nightly -- the `extern fn` syntax previously caused macro expansion to lose spans, but should no longer do so I believe (I don't have time to hunt down the PR).

Can you check on nightly?

[2019-10-17 20:43] rkruppe commented on #65517
I would not oppose that but I fear that the more aggressive we are about this, the more likely there will be blowback from people who are using it (whether their use case is supported or not) and thus it's more likely we'll need an FCP or something similarly slow. If someone is ready to push that process through to completion, please go ahead, but I can't make that kind of commitment, so I made a

[2019-10-17 20:55] Mark-Simulacrum commented on #65517
I'm also happy with a more minimal solution, just wanted to make sure the idea was noted. I agree that the smaller step is good.

[2019-10-17 20:57] pnkfelix commented on #65516
(Note it can be nice, however, to be able to define types locally within functions and then attach impls to those types...)

[2019-10-17 21:09] Mark-Simulacrum opened #65520 "bindgen changes in 1.39"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/gh/theaaf.decklink-rs/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/janet-ll-0.4.1/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/srtp2-sys-2.20.1/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/gh/Helkafen.vcf_pwm/log.txt

It's unclear

[2019-10-17 21:12] Mark-Simulacrum opened #65521 "derive structs (inert attribute?) regression 1.39"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/derive_less-0.2.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/rs621-0.5.0-alpha2/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/gh/andrei-cacio.distil-wasm/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-rustdoc-1/beta-2019-09-28/gh/nasso.get621/log.txt

[2019-10-17 21:13] nikomatsakis commented on #65148
We discussed this in [our lang team meeting on 2019-10-17](https://github.com/rust-lang/lang-team/tree/master/minutes). We concluded that we would prefer not to try to create such a lint. In short, nothing has changed since the Edition handover: it is still hard to get this lint correct and it doesn't seem worth the effort to maintain it (and fix the inevitable bugs). We prefer the rustfmt "normal

[2019-10-17 21:13] #65148 closed

[2019-10-17 21:14] Mark-Simulacrum opened #65522 "array impls <= 32 1.39 regression"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/duktape_ffi_raw-2.30.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/gh/docteurklein.inotify-sse/log.txt

cc https://github.com/rust-lang/rust/issues/61415

cc https://github.com/rust-lang/rust/issues/64962

[2019-10-17 21:17] petosorus commented on #65492
Lol.
Go ahead!

[2019-10-17 21:21] Mark-Simulacrum opened #65523 "non-empty glob statement regression 1.39"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/impl_ops-0.1.1/log.txt

cc https://github.com/rust-lang/rust/issues/62334
cc @petrochenkov

cc https://github.com/rust-lang/rust/issues/64962

This issue has been assigned to @XiangQingW via [this comment](https://github.com/rust-lang/rust/issues/65523#issuecomment-543703822).

[2019-10-17 21:27] Mark-Simulacrum opened #65524 ": token not accepted in attribute?"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/jellyschema-0.11.10/log.txt

I can't seem to reproduce this in a trivial example so it might be related to pre-cfg expansion or something like that...

cc https://github.com/rust-lang/rust/issues/64962

[2019-10-17 21:29] Mark-Simulacrum opened #65525 "ptr types not default"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/libffi-sys-0.7.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/libffi-0.7.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/libsamplerate-sys-0.1.5/log.txt

cc https://github.com/rust-lang/rust/issues/64962

[2019-10-17 21:32] RReverser commented on #65437
@est31 Ah, thanks, you're right, I haven't noticed that column is `1` only for closing braces. That makes way more sense now.

The case with multiple `ret` is interesting - do you have an example code? All the minimal samples with multiple returns I've tried so far compile down to a single `ret` with a `phi` instruction, which doesn't help to reproduce these differences.

[2019-10-17 21:32] Mark-Simulacrum opened #65526 "could not evaluate static initializer"
https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/reg/vptr-0.2.0/log.txt
looks like this is inside a proc macro so would be good to figure out what the raw expression is

cc https://github.com/rust-lang/rust/issues/64962

[2019-10-17 21:33] petrochenkov commented on #65524
Most likely introduced by https://github.com/rust-lang/rust/pull/64462.

[2019-10-17 21:34] Mark-Simulacrum opened #65527 "borrowck changes"
This issue may need splitting up into smaller issues:

https://crater-reports.s3.amazonaws.com/beta-1.39-1/beta-2019-09-28/gh/eggmund.Prey/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.39-rustdoc-1/beta-2019-09-28/gh/PEshwar.rust_blockchain/log.txt (unrelated to rustdoc)
https://crater-reports.s3.amazonaws.com/beta-1.39-rustdoc-1/beta-2019-09-28/gh/djcsdy.gfx-playground/log.txt (unrelated

[2019-10-17 21:34] RReverser commented on #65437
Although this probably still means that I need to handle this special case and not just add `1` since it would point yet another char further beyond the last one.

[2019-10-17 21:35] Mark-Simulacrum commented on #64962
Filed a bunch of issues (see ccs above), also https://hackmd.io/@simulacrum/ryNK4lUKS

[2019-10-17 21:39] petrochenkov commented on #65524
Minimized:
[code]

Inert attributes on macro invocations (like `allow` in this case) disappear during macro expansion.

Previously such attributes were partially checked (compared to inert attributes remaining in the AST), after https://github.com/rust-lang/rust/pull/64462 they are fully checked (in the same way as inert attributes remaining in the AST).

[2019-10-17 21:48] petrochenkov commented on #65521
This is a consequence of https://github.com/rust-lang/rust/pull/63468.
Attributes on fields, variants and other places are now properly passed through name resolution.
This means we now detect attempts to apply derives to them, while previously they were just ignored.

The new behavior is correct, but we can make a deprecation lint for this if necessary.

[2019-10-17 21:55] petrochenkov commented on #65523
Similarly to https://github.com/rust-lang/rust/issues/65090 this is very likely a combination of the recent changes in expansion order (https://github.com/rust-lang/rust/pull/63248, https://github.com/rust-lang/rust/pull/63867) and globs not fetching macro expanded names properly (https://github.com/rust-lang/rust/issues/56593).

In this case, however, the fix may be to turn the "non-empty glob mu

[2019-10-17 22:03] nagisa commented on #65499
Closing in that case.

[2019-10-17 22:03] #65499 closed

[2019-10-17 22:03] est31 commented on #65437
Sorry that sentence I wrote was easy to misunderstand. I got the same results as you. All the return statements get converted to jumps to a section on the end, which then has a single `ret` instruction per function (not multiple). That `ret` has that specific span that points to beyond the end of the function.

[2019-10-17 22:14] RReverser commented on #65437
Ah, yeah, I thought you meant that there are several `ret` statements but only one has this behaviour.

[2019-10-17 22:32] nnethercote commented on #60869
I'm looking now into removing `InternedString`. To do this, we must effectively merge it with `Symbol`. There are two obvious possibilities:
- Change `Symbol::{Ord,Hash}` to work with the symbol chars. This appears to work, but I get some performance regressions of up to 3%. The regressions come much more from `Hash` than from `Ord`; the char-based hashing is more expensive, plus we have to access

[2019-10-17 22:39] nnethercote commented on #60869
Here is the first test failure I get when I change `InternedString::Ord` to work with the symbol index instead of the chars:
[code]

[2019-10-17 22:39] #65231 closed

[2019-10-17 22:40] rust-highfive opened #65528 "`clippy-driver` no longer builds after rust-lang/rust#65495"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65495, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-10-17 22:40] rust-highfive opened #65529 "`miri` no longer builds after rust-lang/rust#65495"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65495, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating for compiler team

[2019-10-17 22:42] estebank commented on #65524
It sounds like we would want to warn on these cases.

[2019-10-17 22:44] Centril commented on #65521
The regressions do not seem numerous or serious enough to warrant that work imo.

[2019-10-17 22:56] est31 commented on #65437
I did a bit of digging on the "final ret instruction" question. Apparently this already occurs in MIR.
Given this example:
[code]
MIR is (generated by [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=fn%20foo()%20-%3E%20bool%20%7B%0A%20%20%20%20false%0A%7D)):
[code]

Here you can see the return instrunction having a span starting at line 3, column 2, and ending

[2019-10-17 22:57] Centril commented on #65524
Imo, based on a single regression, which also exposed a bug in the crate, it doesn't seem like a justified change.

[2019-10-17 22:58] Centril commented on #65526
cc @oli-obk @RalfJung  -- my guess is the crate is doing something UB in the static.

[2019-10-17 22:59] est31 commented on #65437
Also, IMO making the `ret`'s span point to somewhere inside the block instead of slightly to its end is a different issue from this bug you filed. This bug is completely resolved by just a simple +1 PR.

[2019-10-17 23:09] ecstatic-morse commented on #65526
This proc macro creates [reference to address `0` here](https://github.com/ogoffart/vptr/blob/ca32aa416b97311afc569564eb08b2e18f1a4e15/macros/macros.rs#L125). They should switch to `memoffset`, whose behavior is not *as* undefined :smile:.

[2019-10-17 23:10] RReverser commented on #65437
Yeah, absolutely, and, as I said above, I'll try to make it soon-ish. Just trying to figure out all implications, like this one where after my PR there will be now a 2-char difference between the real column and produced one.

[2019-10-17 23:11] Centril commented on #65526
cc @ogoffart

Closing as wontfix because of UB.

[2019-10-17 23:11] #65526 closed

[2019-10-17 23:17] estebank commented on #65500
I can no longer reproduce this with a fresh master build and I believe this was fixed by https://github.com/rust-lang/rust/pull/65235/files#diff-35fad773654cfed45bea0a2abcbe12a6L691-L692

[2019-10-17 23:17] Xanewok commented on #65516
If we decide to spend time investigating this, it'd be great to also consider IDE support case.

IIRC (and somewhat oversimplifying) we can introduce impl blocks (and trait impls) in nested scoped that affect the outer scope, which means that the local information is not enough to reason about associated consts/methods of a given type (to simplify this somehow) and we potentially need to scan the

[2019-10-17 23:23] estebank commented on #65490
I see the potential for trivial bugs to be enabled and diagnostic text confusion exhacerbated by doing this, which is why I would like to have a very clear plan to extend the pattern checking code to suggest things like `b @ Some(c)` when clearly `Some(c) @ b` was meant.

[2019-10-17 23:27] nnethercote commented on #60869
Here is a representative failure I get when I change `InternedString::Hash` to work with the symbol index instead of the chars:
[code]
AFAICT the symbol suffix changed in this test is produced by `get_symbol_hash()`, which is interesting because it appears to only be using stable hashing, which still uses the chars:
https://github.com/rust-lang/rust/blob/5a8fb7c24d85d0bd911ca465c4a077c7cee608ae/sr

[2019-10-17 23:42] estebank commented on #65494
@Patryk27 consider also modifying the following to use `span_to_snippet` and only use `pprint` if that method returns `Err`:

https://github.com/rust-lang/rust/blob/fa0f7d0080d8e7e9eb20aa9cbf8013f96c81287f/src/librustc_typeck/check/demand.rs#L175

That way we ensure that we suggest the code as it is in the user's code whenever that is possible, regardless of formatting they might be using and the

[2019-10-17 23:43] Mark-Simulacrum commented on #60869
It would be worrisome for non-stable hashing to be sneaking in, but I suspect not impossible. I'm not sure how to try and track that down. (Maybe @michaelwoerister has thoughts?).

If the new hash is still stable though it seems fine to switch over to that? i.e., if the test just needs updating but not in a constant manner.

[2019-10-18 00:05] est31 commented on #65437
@RReverser small nit: in the case of the `ret` there will only be a difference of one char. Those `ret` statements actually have nothing corresponding to them in Rust's syntax.

[2019-10-18 00:05] scottmcm commented on #65522
cc PR https://github.com/rust-lang/rust/pull/62435

[code]

I guess this used to unsize to a slice?

[2019-10-18 00:12] jhpratt opened #65555 "[bug] Inline code block starting with space is trimmed"
In some documentation that I recently wrote, I had an inline code block that has a leading space.

[code]

This is rendered as `<code>5</code>` — notice the lack of a leading space.

Given that the documentation in question is literally to show how a leading space is added, and given that code blocks otherwise display content as-is, this seems like a bug to me.

Reference for full source code in c

[2019-10-18 00:27] Mark-Simulacrum opened #65536 "failed to build archive invalid data encountered"
ea45150837990ccf40edfe2725ac492fc35193a1 (https://github.com/rust-lang/rust/pull/59953) appears to introduce some sort of bug in the archive generation, which causes script-servo to fail to build on perf: `error: failed to build archive: Invalid data was encountered while parsing the file`.

@eddyb, do you think it's worth reverting that PR for now?

[2019-10-18 00:47] traxys commented on #62334
I want to do this issue but the problem I have is with a test (ui/imports/reexports) that checks for this error, I don't know the compiler structure so I don't know when compiling this file the lint will not be reported because of the other errors or not. Else I changed the `span_err` to `buffer_lint`

[2019-10-18 01:08] RReverser commented on #65437
@est31 There is no direct equivalent, but presumably you'd want debugger to point at something in the source code when stepping through or extracting ranges, and for that `ret` location needs to point at the closing brace.

It already doesn't and points to non-existing column instead (1 char past the brace), which can easily cause problems for tooling that consumes DWARF, and with my suggested PR

[2019-10-18 01:10] estebank opened #65537 "Detect out of order fn arguments and suggest the correct order"
Given the following code:

[code]

[we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d672274b8b32822af37045b0b76ff9d7):

[code]

It might make sense to be closer to:

[code]

The suggestion should only be done when there's a high likelihood that the order of the arguments is simply incorrect:

 - the amount of args is correct
 - the types are all unique

[2019-10-18 01:11] RReverser commented on #65437
Btw, as you can see above or by playing with multiple returns, this is what Clang is doing as well.

[2019-10-18 01:32] estebank commented on #61251
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aaa9d331b25b812243ed480da7a51a3b):

[code]

[2019-10-18 01:42] Lokathor opened #65538 "Request: A way to collect a `String` from an `impl Iterator<item=u8>`"
As much as rust seems to love iterators and also utf8, there doesn't seem to be a way to collect a `String` from an iterator of bytes. Everything forces you to collect into a `Vec<u8>` and then re-parse that into a `String`.

There is a `FromIterator<char>`, but there also doesn't appear to be a way to get a `char` from 1 to 4 bytes, or any iterator adapter that will turn a stream of utf8 bytes in

[2019-10-18 02:13] Mark-Simulacrum commented on #65538
I'm also not sure if this is possible - you would need to implement FromIterator for Result<String, Utf8Error> or so, right? That seems like it would overlap with the general impl for Result.

[2019-10-18 02:16] passcod commented on #65538
Adding some context (from community discord), this is about avoiding the extra allocation when going from bytes to String, not _necessarily_ going through `FromIterator`.

[2019-10-18 02:21] Lokathor commented on #65538
It doesn't need to be usable with collect. It can be a method on the String type.

[code]

That error case in the non-lossy version is going to be annoying to design. You could probably work it out to a normal UTF8Error by converting the String that did parse back into a Vec and then extending it with the remains of the iterator.

[2019-10-18 02:22] Mark-Simulacrum commented on #65538
I am confused. What extra allocation do you want to avoid? The case of non-utf 8 data?

[2019-10-18 02:30] Lokathor commented on #65538
Supposing that you currently have a value with type `impl Iterator<Item=u8>`, convert it to String, safely.

As far as I can tell, there's no way to do this in core/alloc/std without first collecting into `Vec<u8>` (allocation 1) and then _separately_ trying to convert that into a `String` (allocation 2).

[2019-10-18 02:33] Lokathor commented on #65538
There doesn't even appear to be `char::from_utf8_bytes(&[u8]) -> Result<char, Error>` or similar so that you can decode bytes into the individual characters, which you could then build into an iterator adapter to use with the `FromIterator<char>` impl.

[2019-10-18 02:48] estebank commented on #65524
I hadn't checked how many dependencies it had. It should be fine but we must proactively reach out to fix their crate.

[2019-10-18 02:57] scottmcm commented on #65538
With https://doc.rust-lang.org/std/string/struct.String.html#method.from_utf8 that's not a separate allocation, though?

[2019-10-18 03:13] Lokathor commented on #65538
It is in the lossy case.

but closed in favor of https://github.com/rust-lang/rust/issues/64727 since a solution there would solve here too.

[2019-10-18 03:13] #65538 closed

[2019-10-18 03:48] nnethercote commented on #60869
I changed the `InternedString`s within `DefPathData` to `Symbol`s and this failure reproduces, so that narrows it down a lot. I think `def_path_hash()` is involved somehow, and maybe `Definitions::next_disambiguator`. I think the new hash value is stable. So if these suffixes aren't supposed to be stable across different rustc versions then updating the test seems ok.

[2019-10-18 04:39] estebank commented on #59310
This is now solved in stable:

[code]

[2019-10-18 04:39] #59310 closed

[2019-10-18 04:40] nnethercote commented on #60869
I have confirmed that changing `Symbol` to work with chars (for ordering and hashing) works: #65543 has the code. That would be the easiest path toward eliminating `InternedString`, but I don't think it's the best one, because it's pre-emptively giving up on the performance advantages of `Symbol`.

I am also working on converting `InternedString` occurrences to `Symbol` in chunks, in order to work

[2019-10-18 04:41] estebank commented on #58729
Still reproduces.

[2019-10-18 05:10] nnethercote commented on #60869
I can reproduce these just by changine `SymbolName::name` from `InternedString` to `Symbol`.

[2019-10-18 05:25] parisholley commented on #59202
@sfackler i just hit this as well... you can check out a fork of a c library I am trying to build a wrapper for. and this error is strange, because i commented out all of my C calls that pass the CString as an arg, so i'm not even sending it anywhere, and can get it to segfault repeatedly.

`
git clone -n git@github.com:parisholley/Device-Detection.git
cd Device-Detection
git checkout rust
git lfs

[2019-10-18 05:47] parisholley opened #65546 "FFI to C segmentation fault (SIGSEGV: invalid memory reference)"
creating a new issue since #59202  is closed, but may be related.

[code]

you can check out a fork of a c library I am trying to build a wrapper for. and this error is strange, because i commented out all of my C calls that pass the CString as an arg, so i'm not even sending it anywhere, and can get it to segfault repeatedly.

On Mac:
[code]

On Ubuntu:
[code]

a few things are interesting though

[2019-10-18 05:56] popzxc opened #65547 "Lack of `README.md` in `rust` repository inner crates."
**Remark:** this issue is more like a topic for discussion, than actual change request.

## Description

Currently, most of crates in the `rust` repository don't have a personal `README.md` file.

There is a [`rustc-guide`](https://rust-lang.github.io/rustc-guide/) intended for developers, but it doesn't expose the purpose and the core moments of libraries.

Thus, a new developer has to dig in by

[2019-10-18 08:15] eddyb commented on #60869
Should either of the types even implement `Ord`? As for stable hashing, try removing the `Hash` impl from `InternedString` and see what errors, only `StableHash` should be used.

[2019-10-18 08:19] mati865 commented on #65546
@parisholley are you able to obtain backtrace with `gdb` or `lldb`?

[2019-10-18 08:36] RalfJung commented on #65526
Well, there's no way to do `offsetof` in CTFE right now. Previously, there were some approaches that seemed to work but actually were UB, like this one. But now our const-time UB checker got a bit better, hence the crater regression.

https://github.com/rust-lang/rust/pull/63810 is the key ingredient to enable a less insane version of `offsetof` in CTFE. (Basically, the CTFE variant is then just a

[2019-10-18 08:38] flip1995 commented on #65528
This got fixed in #65533

[2019-10-18 08:44] varkor commented on #59310
Is there an existing test?

[2019-10-18 08:49] RalfJung commented on #65526
I opened an issue in the crate to give the author a heads-up: https://github.com/ogoffart/vptr/issues/1.

@Mark-Simulacrum were there other regressions that look similar? `offsetof` is one of these notorious operations that Rust doesn't support but people want it, and they want it so badly that instead of making the language support `offsetof` they write programs with UB that happen to work at the

[2019-10-18 09:33] CrackedP0t opened #65553 "Compiler panic in Serde's `deserialize_with` macro"
The following code ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=9f9471066825a2ceaa9e7686df22dafe)) panics the compiler in stable 1.38.0, beta 1.39.0-beta.6, and nightly 2019-10-17:

[code]

Removing the `D::Error` bound or filling it with `D::Error: Debug` makes it compile just fine.

Error + backtrace:

[code]

[2019-10-18 09:50] pnkfelix commented on #65411
The fact that this bug was unknown until now strikes me as a sign that we have never attempted to run `-Z save-analysis` on the rustc test suite (i.e. compiletest).

is this true? Would it be worthwhile to attempt that experiment?

[2019-10-18 09:54] pnkfelix commented on #64872
[discussed][] in yesterdays T-compiler meeting. There was some support for hypothetically reverting PR #64324 in the short term. But there was also concern that no one would do the follow-up work afterward, and also that it would be a shame to lose the various improvements we got from PR #64324

Overall we decided to leave this nominated to be revisited next week, and in the meantime I will try to

[2019-10-18 09:54] TomE8 commented on #65403
Thanks. Can you mention your source or direct me to the source code?

[2019-10-18 09:57] nnethercote commented on #60869
It's used in various places, mostly sorting things for error messages.

`Definitions::next_disambiguator` seems to be the only use.

[2019-10-18 10:03] Stargateur commented on #65546
I bet you corrupt your stack in `fiftyoneDegreesProviderWorksetGet` or `fiftyoneDegreesWorksetRelease` what are they ? I bet `self.provider` is not a valid.

"I have tried using both into_raw() and as_ptr() with the same results." prove you have no idea what you are doing. Also, it's very hard to follow you, you say if comment x line but not y line blabla, it's not a good way to describe a bug.

[2019-10-18 10:03] jonas-schievink commented on #65547
Alternatively, such documentation could be written as a crate-level doc comment, which means it would show up in the rustc rustdoc output [here](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/).

[2019-10-18 10:28] arturoc commented on #64821
although supposedly this has been fixed a couple of days ago, latest nightly rls still crashes on petgraph:

[code]

[2019-10-18 10:43] Mark-Simulacrum commented on #65526
I didn't see any other cases of this.

[2019-10-18 10:50] elichai commented on #26179
I personally think that `likely`/`unlikely` (hot/cold) cover 99% of the use cases.
even in match.
I do think that it's important to be able to use it in `match` and `if let` etc.
otherwise it might get us backwards in terms of idiomatic rust.

[2019-10-18 10:51] nikomatsakis commented on #65467
My opinion is that it would be good to detect cases like this -- probably we could say that any write to the 'owned content' of a variable suffices. I agree it'd probably be somewhat easier to do this sort of thing on MIR -- certainly I consider the existing 'liveness' code to be in need of a rewrite.

There are some questions as to how smart we want to be. One could imagine for example warning on

[2019-10-18 11:18] elichai commented on #60553
What about casting those enums into the primitive?
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2e69ca93ace1d4983bd9782074e2df6a

And than even `#[repr(Rust)]` support

[2019-10-18 11:37] emacstheviking commented on #34616
It's 2019; with a stock as-instructed installation on Ubuntu and following "the book", I get this when trying to use the random library:

7 |     let secret_number = rand::thread_ng().gen_range(1,101);
  |                         ^^^^ Use of undeclared type or module `rand`

warning: unused import: `rand::Rng`
 --> src/main.rs:2:5
  |
2 | use rand::Rng;
  |     ^^^^^^^^^
  |
  = note: #[warn(unuse

[2019-10-18 11:49] nikomatsakis commented on #65409
Seems reasonable to me. Should we tag this A-async-await? Seems to fall under the "async foundations" purview, anyway. (Slight mismatch between those labels, I guess)

[2019-10-18 12:05] XiangQingW commented on #65523
@rustbot claim

[2019-10-18 12:07] pietroalbini commented on #65555
Thanks for opening this issue @jhpratt! I moved this issue from `rust-lang/docs.rs` to `rust-lang/rust` as this is a rustdoc bug (docs.rs just calls rustdoc to build the documentation).

[2019-10-18 12:25] Mark-Simulacrum commented on #65547
I'm going to move this over to the rustc-guide repository, though I personally think it may make sense to just close this. I think we've found historically that READMEs for libraries get out of date really easily, so inline (crate level, module level, per function, etc.) doc comments are better (and we're happy to have those via PRs, or in rustc-guide etc).

[2019-10-18 12:26] Mark-Simulacrum commented on #65536
Hm, seems like this has since fixed itself. I'm going to close since it was probably spurious.

[2019-10-18 12:31] Mark-Simulacrum commented on #65509
Can you provide your build command? Are you building on x86_64-unknown-linux-gnu and targeting armv7-linux-androideabi, trying to build a full compiler for that platform?

[2019-10-18 12:50] Centril commented on #65409
@nikomatsakis Yes, let's. Any thoughts re. implementation? ;)

[2019-10-18 13:13] Mark-Simulacrum commented on #65489
`(&mut self.f)();` works too. Seems like probably we're not looking at DerefMut sufficiently or with the wrong ParamEnv perhaps?

[2019-10-18 13:14] Centril opened #65556 "save-analysis: adjust `process_formals` wrt. or-patterns"
Filing this as a keep-sake for discussion in https://github.com/rust-lang/rust/pull/64250#discussion_r321970321.

cc @Xanewok

[2019-10-18 13:18] steveklabnik commented on #34616
I'm sorry you're running into this issue!

As I said above,

The book covers Rust 1.31+; you're using an older version. This means that you need to modify the code to include the line

    extern crate rand;

at the top. The book covers the newer style of "Rust 2018", which your compiler doesn't support.

[2019-10-18 13:20] steveklabnik commented on #47815
Triage: no changes I'm aware of

[2019-10-18 13:26] Mark-Simulacrum commented on #65442
I suspect the answer is no -- cc @rust-lang/wg-async-await -- this might contribute to "not Send/Sync" errors if we're capturing what we shouldn't be

[2019-10-18 13:27] oli-obk commented on #65031
Most of the datastructures need to live there, because the incremental serializer lives there (though we could probably move both out) and because some of the interners intern types like `Allocation`. I'm not sure how much of the code is needed there, but we can't add inherent impls in downstream crates, so if we want inherent methods, we need to implement them there.

I've tried a few times to sp

[2019-10-18 13:28] #65404 closed

[2019-10-18 13:30] Mark-Simulacrum commented on #65378
I'm going to close this as I believe this is not a bug / won't fix.

[2019-10-18 13:30] #65378 closed

[2019-10-18 13:31] edvorg commented on #44052
Hey @dylanmckay , sorry for bugging with this.. is there any update on the issue?

[2019-10-18 13:41] Centril commented on #65467
It seems to me that declaring `foo.0` dead in the lint here is more conservative than doing so for arrays so if we accept @jamesmunns's idea we ought to declare `foo.0` dead as well.

[2019-10-18 13:46] SimonSapin opened #65558 ""cannot specify the `--color` option with `--json`" without --color being passed"
Running Servo’s unit tests started failing on CI a couple nightlies ago. A customized CI task to add `-j1` shows:

https://tools.taskcluster.net/groups/Pl5QK7YnS3eldtQ6EwR09A/tasks/Pl5QK7YnS3eldtQ6EwR09A/runs/0/logs/public%2Flogs%2Flive.log

[code]

The error message appears to come from here:

https://github.com/rust-lang/rust/blob/da59656b3b2e2469d9bdae3c9c9e8cbacdd5e6f6/src/librustc/session/con

[2019-10-18 13:47] haraldh commented on #58520
Opened a PR with this suggestion: https://github.com/rust-lang/rust/pull/65557

[2019-10-18 13:50] emacstheviking commented on #34616
@steveklabnik  thanks!
I decided to build from source but...
ANy ideas what I may have done wrong...I literally check out to code and followed the instructions having first set the "extended" feature flag to get all the tools and pointed the installation to /home/sean/rust

Updating only changed submodules
Submodules updated in 0.04 seconds
    Finished dev [unoptimized] target(s) in 0.18s
Buildin

[2019-10-18 13:59] RalfJung commented on #65031
If it's just that we could use extension traits.

[2019-10-18 14:32] Mark-Simulacrum commented on #65211
I think not referring to the shortcuts when they are disabled makes sense; a single button is sufficient IMO as Manish said. If features aren't available without the shortcut, that seems a bit weird, but I'd need a list of such features since I can't think of any other than ? which is obviously useless if shortcuts are off.

Gmail, for example, provides a single button (https://support.google.com/

[2019-10-18 14:36] Mark-Simulacrum commented on #64727
So we want this signature: `fn from_utf8_lossy_owned(v: Vec<u8>) -> String`, right? That seems like it can be added via a PR relatively easily.

[2019-10-18 14:36] SimonSapin commented on #65558
Sorry for the noise! I managed to reproduce in a local docker container (in order to copy CI’s config exactly), the problem turned out to be using an old version of sccache: https://github.com/mozilla/sccache/issues/488

[2019-10-18 14:36] #65558 closed

[2019-10-18 14:37] Mark-Simulacrum commented on #64550
There should be no reason to run the standalone installer if you're going to install via rustup; if you've already installed you can likely run an uninstall script (I forget if we have this) or manually delete files.

[2019-10-18 14:38] Mark-Simulacrum commented on #64550
In any case, I'm going to close this. If rustup is not allowing installation of itself atop a prior rust installation, that seems like a rustup feature request -- rustup can either allow that or perhaps offer to clear out the prior installation via some heuristics.

[2019-10-18 14:38] #64550 closed

[2019-10-18 14:39] Mark-Simulacrum commented on #65514
Ah, I did not remember correctly. This is tracked in https://github.com/rust-lang/rust/issues/64561.

[2019-10-18 14:39] #65514 closed

[2019-10-18 14:43] parisholley commented on #65546
tl;dr, after some sleep and a fresh look, it ended up being due to a NULL returned from the C library on the second invocation of `fiftyoneDegreesProviderWorksetGet` (which explains the error), however, it still does not explain why I was able to change the SEGFAULT behavior through commenting out other lines.

@Stargateur I am aware of the distinction between the two in terms of mutability and th

[2019-10-18 14:58] parisholley commented on #65546
the only other thing I can think of... is the FFI call, which fails due to the NULL pointer, is preventing rust from cleaning things up. as an example, if I decided to use `into_raw` (which isn't what I will do in my final implementation, I will use `as_ptr`), it is possible (based on what I read in documentation) that I need to "retake the pointer" for `agent_raw`. so assuming there is still a NU

[2019-10-18 15:01] Mark-Simulacrum commented on #64055
I cannot reproduce this on x86_64-unknown-linux-gnu and I hope/doubt that this is architecture specific. I'm going to close.

My reproduction consisted of downloading the gist https://gist.github.com/starfear/d3ba0c1d68a9b4922b1cc07482efe0ec and running `rustc -Copt-level=3 foo.rs` and then `./foo`. This completes successfully. If there are other steps that I should take, please let us know and we

[2019-10-18 15:01] #64055 closed

[2019-10-18 15:04] Mark-Simulacrum commented on #63981
Yes, this seems like correct and expected behavior; I suspect that you may be trying to get the TypeId of the default impl; that can likely be done with a dummy struct implementing the trait and doing Foo::bar.type_id() or so.

[2019-10-18 15:04] #63981 closed

[2019-10-18 15:16] Centril commented on #65553
cc @matthewjasper @pnkfelix @nikomatsakis

[2019-10-18 15:20] Lokathor commented on #64727
That is one option.

Another would be to add a method to [FromUtf8](https://doc.rust-lang.org/std/string/struct.FromUtf8Error.html) so that you can consume that error into the lossy String.

The value here is not having to start over on the utf8 parsing.

[2019-10-18 15:23] parisholley commented on #65546
another interesting thing I have found while trying to debug, when the FFI call at issue returns a null

[code]

this implementation, has no SIGSEGV

[code]

if I alter the C library to put printf in for debugging purposes, it does SIGSEGV:

[code]

[2019-10-18 15:25] darval opened #65560 "Confusing error msg without indication of where the error occured"
Although admittedly pretty new to Rust, the notes in this error message doesn't help me in anything other than general terms:
[code]
My primary issue is I don't know where the `found msgmgr::RmbMsg<'_>` line in the note: is occurring.  The secondary issue revolves around the
[code]
which I am pretty sure those two types are compatible: :)

## Meta
[code]

[2019-10-18 15:26] eddyb commented on #43334
I think this has swapped "lvalue" (aka place) and "rvalue" (aka value).
E.g. `{place}` (e.g. `{*ptr}`) is a value ("rvalue") expression, forcing moving/copying from `place`, while `&value` (e.g. `&f()`) will create a place ("lvalue") to borrow, which `*&value` can access.

[2019-10-18 15:30] #65528 closed

[2019-10-18 15:49] darval commented on #65560
Switched to nightly after reading something about line number issues which was addressed in nightly and got a slightly better clue - something to investigate for me - still confusing error notes tho:
[code]

[2019-10-18 15:49] lszxb opened #65561 "ICE when using 'impl Trait' with an infinity recursive function"
[code]
### Error message
[code]
Additionally, the compiler warns that the function cannot return.

### Compiler version
[code]

### Backtrace
[code]

[2019-10-18 15:56] estebank commented on #65560
Could you post a reproduction? Ideally as a link to https://play.rust-lang.org/.

[2019-10-18 15:58] darval commented on #65560
I can try to recreate it with a simpler example.  The later clue about the derive(Clone) pointed me at the right place to fix the error in my code.  I will see if I can create a simpler example in the playground.

[2019-10-18 16:03] darval commented on #65560
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03da3cdbd4dd6e23314b0fe2b58af455

[2019-10-18 16:16] ecstatic-morse commented on #65526
Ugh, I missed the `static` declaration.

[2019-10-18 16:19] likebike commented on #63974
I also bumped into this issue today.  Since I'm new to Rust, it took me a *long* time to understand that the given "expected function, found struct" error was completely wrong, and the real problem was related to the newtype in an external module.

[2019-10-18 16:27] GuillaumeGomez commented on #65211
Well then, I'll add the option and not change anything else then.

[2019-10-18 16:46] bbqsrc commented on #46871
Can this be prioritised? It would be upsetting if this were to be forgotten, particularly since `std::error::Error` is quite useful now.

[2019-10-18 17:04] eddyb opened #65564 "Investigate replacing most of the debugger pretty-printing scripts with traits."
In the case of `Vec<T>` and `String`, it would be possible to have e.g.:
[code]
We would then need:
* support for pretty-printing `&[T]` and `&str`
  * already exists in our custom pretty-printing scripts
  * long-term DWARF should allow us to express these directly (see #37504)
* a way to encode `<X as DebuggerView>::debugger_view` in `X`'s debuginfo
  * i.e. a symbol name, or maybe we can make s

[2019-10-18 17:05] estebank commented on #59310
Yes, ui/suggestions/assoc-type-in-method-return.rs

[2019-10-18 17:17] jonas-schievink commented on #65564
How does this work when cross-compiling? Is it possible to easily strip this code from the executable to reduce its size while still being able to debug the binary (important for embedded)?

[2019-10-18 17:42] parisholley opened #65567 "Unexpected FFI/C pointer behavior when MaybeUninit.assume_init() is stored in struct"
While trying to determine the root cause of #65546 within my code, I am hitting what seems to be unexpected behavior of pointers being shared between Rust and C. I have taken some of the code from #65546 and simplified to the most simplest version possible (creating a replica of the C library behavior without all the extra stuff).

All of the code C + Rust can be found in this repo: https://github

[2019-10-18 17:45] estebank opened #65568 "Audit uses of pprint in suggestions"
The preferred source of user code in suggestions should be coming from `span_to_snippet`, optionally with `pprint`ing an expression if desired. There are places in the codebase where older code might be using `pprint` directly, which can end up with us suggesting code that doesn't look like what the user already wrote. We should clean this up, ideally by making also simplifying the API for "get sn

[2019-10-18 17:47] estebank commented on #57320
Hi @rust-lang/wg-diagnostics! Do any of you have opinions on this matter? I lean towards closing as "wontfix" because I feel the current behavior is acceptable.

[2019-10-18 17:51] estebank commented on #58092
CC https://github.com/rust-lang/rust/issues/57226

[2019-10-18 17:53] davidtwco commented on #57320
I agree, like you mentioned [in a previous comment](https://github.com/rust-lang/rust/issues/57320#issuecomment-451308420), there are some improvements we could make, but I think the current behaviour is fine.

[2019-10-18 17:59] estebank commented on #57377
Current output:

[code]

[2019-10-18 18:00] estebank commented on #57372
Current output:

[code]

[2019-10-18 18:01] parisholley commented on #65567
i just updated the repo with more test cases, it appears to be a strong correlation between the unexpected behavior and string allocation

[2019-10-18 18:01] sfackler commented on #65567
The C code assume that the engine struct never moves, as it stores its address in internal data structure: https://github.com/parisholley/rust-ptrbug/blob/master/lib.c#L12. Your rust code is moving it (in the call to assume_init, and when the new function returns), so that pointer becomes dangling.

This is not a general support forum for Rust code. https://users.rust-lang.org or https://reddit.co

[2019-10-18 18:08] jonas-schievink commented on #65567
Closing as not-a-bug

[2019-10-18 18:08] #65567 closed

[2019-10-18 18:08] parisholley commented on #65567
@sfackler while that may be a fair assessment, are you saying that unless there are changes to the stack, the pointer does not change when rust moves objects? your answer does not explain away my test cases failing inconsistently?

[2019-10-18 18:10] sfackler commented on #65567
The behavior is undefined. A logical move may or may not become a physical move.

[2019-10-18 18:11] pnkfelix commented on #64872
I spent some time today working to minimize the input that stills sees a linker failure.

Here's what I've gotten down to so far:

[code]

[code]

[code]

(And I confirmed that this is still tickling the same bug, because when I change the `Cargo.toml` for libstd to say `crate-type = ["cdylib", "rlib"]` instead of `crate-type = ["dylib", "rlib"]`, it compiles without a linker error.)

[2019-10-18 18:19] jonas-schievink commented on #65546
Like in #65567, you move the `provider` after it is being initialized. The C library stores pointers to that struct, creating a dangling pointer. Closing since this is not a Rust bug.

[2019-10-18 18:19] #65546 closed

[2019-10-18 18:37] jhpratt commented on #65555
Thanks! Wasn't sure if rustdoc had its own repo.

[2019-10-18 18:50] eddyb commented on #60869
Sounds like `next_disambiguator` should be using `StableHash`.

Might make more sense to use `String` for sorting errors. cc @nikomatsakis @estebank

[2019-10-18 19:11] parisholley commented on #65567
as a note to anyone who sees this in the future, what I am trying to do actually is possible if you take advantage of the right combo of new language features:

[code]

Using that setup, you can put the `boxed` object, anywhere you want, structs, etc.. The "Pin" will tell Rust not to move the C allocated object in memory, no matter who owns the pointer. As a consequence, your API will become more

[2019-10-18 19:34] Mark-Simulacrum commented on #46871
I don't believe this has been forgotten or de-prioritized -- at the very least, based on me re-read of https://github.com/rust-lang/rust/issues/42327, I get the impression that the general feeling is that the Try trait design is not ready and `Option` being convertible to `Result` via `?` is not something we are sure we want.

In particular, these comments are relevant:
 * https://github.com/rust-

[2019-10-18 19:39] Coder-256 commented on #46871
I actually changed my mind on this one. Now that I think about it, it only really makes sense to use `?` on an `Option` if the enclosing function returns an `Option`. Otherwise if you want to return a `Result` you can use `.ok_or("message")` to indicate what went wrong. The error message could be much better though.

[2019-10-18 19:45] scottmcm commented on #46871
I agree about the error message.  I think one thing we missed in the Try trait design discussion was what the errors for _mixing_ should look like -- right now you get the note about `NoneError`, but with the other possible design you would have explicitly gotten something about `Result: Try<Option>`.

[2019-10-18 19:47] jonas-schievink commented on #65567
@parisholley That's not what `Pin` does, `Box` will allocate the object on the heap, and the object isn't moved when the `Box` is moved. You can still move out of a `Box` though (and `Pin`, unless you've made sure your type does *not* implement `Unpin`), so take care not to do that.

[2019-10-18 19:47] bbqsrc commented on #46871
I'll note that I think the existence of a `NoneError` is a bit strange and a bit of a code smell, and another design should be considered. But if it isn't considered, make sure `std::error::Error` is implemented at least, haha.

[2019-10-18 19:57] mati865 commented on #64343
@pnkfelix I'm confused by `E-needs-bisection`. AFAIK the issue here is the test is not compatible with more recent GDB versions, could you elaborate?

[2019-10-18 20:01] eddyb commented on #65564
@jonas-schievink You mean with remote debugging? As long as the `gdb` server (or however you're controlling the target) lets you call functions, this should work.

Also, for embedded, would you have dynamic allocation? Pretty printers are mostly needed in that case. And even if you do, each of these impls would be a couple instructions (at least the above ones).

[2019-10-18 20:03] Mark-Simulacrum commented on #64343
I believe the impression in the planning meeting was that a rustc change broke this test -- if it is a GDB version issue we can likely work to fix the test and bump GDB version requirements.

[2019-10-18 20:14] jonas-schievink commented on #65564
Ah, I see. Though this sounds like it would disrupt the target state more than the current solution. Is anything similar to this implemented by other languages?

You can, yes. I suppose in that case (if you can afford a heap) the overhead of a few instructions isn't terrible but it's still a regression nonetheless.

How would this be controlled? With `-Cdebuginfo`? Does that currently have any imp

[2019-10-18 20:22] #63628 closed

[2019-10-18 20:24] Mark-Simulacrum commented on #63576
@jsgf I seem to recall you wanting to use this feature within FB or so, have you had a chance to do so? Do we have any usage reports; not technically necessary but good for stabilization, I think.

[2019-10-18 20:31] nnethercote commented on #60869
I looked more closely, and my description of how `Ord` and `Hash` are used was woefully incomplete. I will give a more comprehensive description on Monday.

[2019-10-18 20:34] estebank commented on #50873
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9026b358159dcb6d5631dc6a910dffc8):

[code]

The main span should point at the appropriate parameter and probably add secondary spans following the obligation chain.

[2019-10-18 20:37] petrochenkov commented on #63628
Did anyone triage the regressions not related to the frontend?
"cannot use `state` because it was mutably borrowed" and below.
I didn't look at them.

1.38 was released a few weeks ago so it's too late to do it now, if they weren't triaged that means some kind of a process break.

[2019-10-18 20:39] estebank opened #65569 "`::`→`:` typo in turbofish doesn't have a good error"
The following code is using a single `:` instead of a mod-sep `::`:

[code]

The compiler [doesn't point at the problem](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=59a09386d95dc97c0ca15fc2e86a0d77):

[code]

It should point at the `:` after `collect`.

[2019-10-18 20:39] Mark-Simulacrum commented on #63628
I suspect no -- I thought all regressions were triaged (and issues opened, etc.)

[2019-10-18 20:40] estebank commented on #49391
This code now compiles. @nikomatsakis do you have another example of this failing? Or should we close this?

[2019-10-18 20:45] estebank commented on #49294
We already point at the return type in some cases when the obligation flowed from it. It uses a heuristic where it ignores `loop`s. It should be extended to special case `break` and ignore the first loop it encounters.

[2019-10-18 20:47] Mark-Simulacrum commented on #49391
Going to proactively close, Niko can reopen if needed.

[2019-10-18 20:54] mattheww opened #65571 "Outdated `--explain` examples for E0659 "An item usage is ambiguous.""
See [E0659][1] for the current text.

[1]: https://github.com/rust-lang/rust/blob/518deda77feb4957bfd311b6cb50baa7ef9ca6a2/src/librustc_resolve/error_codes.rs#L1767

It includes the following example:

[code]

which needs updating for Rust 2018: it needs `crate::` or `parent::` adding inside `mod collider`.

The same is true in the recommended replacement.

[2019-10-18 21:00] jsgf commented on #63576
@Mark-Simulacrum Yes, I'm using this regularly and haven't had any problems with it. I'd like to stabilize it.

[2019-10-18 21:14] Mark-Simulacrum commented on #63576
@rfcbot fcp merge

I propose that we stabilize this feature. It adds support for arg files via `@file` on the command line, similar to other tools. We have seen both @cramertj and @jsgf state that they want this, and @jsgf confirms that this has worked well in their use.

We differ from ldd and other tools in that:
 * We do not support recursive use of `@file` (i.e., we expand "once")
 * We separa

[2019-10-18 21:19] Mark-Simulacrum commented on #63555
I'm going to close as generally unless we have a reproduction we can't really make progress on an issue (or, well, close it ever).

[2019-10-18 21:19] #63555 closed

[2019-10-18 21:20] SimonSapin commented on #48043
At this point I think there are three options here:

1. Keep blocking stabilization of this feature (which has been implemented for 19 months now) for an unbounded amount of time until the Allocators WG decides whether allocators should have an associated error type https://github.com/rust-lang/wg-allocators/issues/23. Note that WG’s repository has had very little activity in the last 5 months, af

[2019-10-18 21:20] danguafer opened #65573 "proc_macro libraries bloats binary with unused dependencies"
I have the following situation:

I use a set of dependencies in my proc_macro library, which I need to generate tokens, but I don't want these dependencies to be included in my final binary, because these dependencies are only used during the compilation step.

I am reporting this situation and I am not sure if Rust/Cargo already provide a functionality to workaround this issue of it's a feature t

[2019-10-18 21:20] Mark-Simulacrum commented on #63457
I'm going to close this as I think doing this is best done as publishing a crate (perhaps a direct copy of in-tree code), getting the code in a state perhaps more fit for crates.io, and then using it in tree. Just copying the code to a separate repository does not seem helpful, and indeed, seems actively harmful.

[2019-10-18 21:20] #63457 closed

[2019-10-18 21:24] Mark-Simulacrum commented on #65573
Do you have evidence they are being included? I would not expect proc macro dependencies to be included in the final binary as well.

[2019-10-18 21:25] SimonSapin commented on #65143
Procedural: I’ve edited the title and labels to reflect that this is not implemented.

My opinion: I’m not sure that these method carry their weight, since `if let Cow::Borrowed(_) = foo` or [`matches!(foo, Cow::Borrowed(_))`](https://github.com/rust-lang/rust/pull/65479) can be used. Neither of these existed when `Option::is_some` was added, and `Option` is much more common than `Cow`.

[2019-10-18 21:31] danguafer commented on #65573
@Mark-Simulacrum let me provide a background. I am right now developing this:

https://github.com/danguafer/ligen-devenv

`ligen` is a proc_macro to parse impl blocks and generate FFIs for each method. Its dependencies are:
[code]
`ligen-core` is the core of `ligen`, its dependencies are:
[code]

I am using ligen to generate a static library for `geom` with the exported FFIs.
When I link the stati

[2019-10-18 21:31] TimDiekmann commented on #48043
It is true that after the repository was opened, a few months was silent. Recently, however, there was an increase in activity again and there is a WIP PR that is currently blocking the WG from pushing anything upstream.

So I would have suggested to make the errortype non-exhaustive. The non-exhaustiveness can still be removed later.

[2019-10-18 21:33] SimonSapin commented on #63568
Based on my previous comment, let’s?

@rfcbot fcp merge

[2019-10-18 21:41] Mark-Simulacrum commented on #65573
Can you see symbols and such from the proc macros in the final static library? The crate dependencies you've provided are for the proc macro -- which, yes, will include those libraries within it. I think the best bet for you to show that this is indeed a bug is to write a simple example of a symbol in the proc macro getting exposed from the staticlib of a crate that depends on that proc macro.

ws

[2019-10-18 21:48] estebank commented on #49391
The case still repros, I was checking the wrong code.

[2019-10-18 21:57] banool opened #65575 "Incorrect unreachable expression warning from async function in closure with `never` return type"
Here is a minimal code snippet:

[code]

This is the output from the compiler:
[code]

Despite the warning, the code does indeed run.

You can make the error go away by removing the `-> !` return type.

My Cargo.toml:
[code]

[code]

[2019-10-18 22:00] SimonSapin commented on #62625
Closing since https://github.com/rust-lang/rust/pull/62624 has not landed. Feel free to reopen when it does.

[2019-10-18 22:00] #62625 closed

[2019-10-18 22:08] jonas-schievink commented on #65575
Please update your Rust compiler. This should be fixed in the current nightlies.

[2019-10-18 22:11] estebank commented on #53353
Closing in favor of https://github.com/rust-lang/rust/issues/65440

[2019-10-18 22:19] banool commented on #65575
Dang I thought a month ago would be good enough, yall move fast. The warning is indeed gone on nightly, thanks!

[2019-10-18 22:19] #65575 closed

[2019-10-18 22:26] petrochenkov opened #65577 "Rust 1.38 regressions weren't fully triaged"
A crater run was performed for Rust 1.38 and the digest of regressions is available in https://github.com/rust-lang/rust/issues/63628#issuecomment-524584111.

The problem is that all regressions starting from "cannot use `state` because it was mutably borrowed" and below weren't analyzed.
It is too late to fix 1.38 now because it was released several weeks ago, but it's still useful to know what w

[2019-10-18 22:27] SimonSapin commented on #61129
Stabilized in https://github.com/rust-lang/rust/pull/64716.

[2019-10-18 22:27] #61129 closed

[2019-10-18 22:27] petrochenkov commented on #63628
Made an issue - https://github.com/rust-lang/rust/issues/65577.

[2019-10-18 22:28] SimonSapin commented on #60446
Any remaining issue?

@rfcbot fcp merge

[2019-10-18 22:31] SimonSapin commented on #59442
#59443 was closed, and #59336 adds the macro but does not export it. Closing as there is no public unstable API to track here. Feel free to reopen if/when the macro is exported.

[2019-10-18 22:31] #59442 closed

[2019-10-18 22:34] SimonSapin commented on #59277
I don’t have a strong opinion on this one, but since it landed and there doesn’t seem to be significant issues discussed since:

@rfcbot fcp merge

[2019-10-18 22:36] SimonSapin commented on #58935
I think there was a question of how useful this is, since unlike `core::prelude` or `std::prelude` this isn’t injected automatically in any crate. Feedback from projects who use it despite this or would like to use it despite this would be helpful.

[2019-10-18 22:40] SimonSapin commented on #58278
I hit this today! I wanted to debug a run-time call of a function that also happened to also be called at compile-time, and got an error message about function pointers not being allowed in `const fn`. I assume this refers to some detail of the fmt machinery.

In this case, having `dbg!` be allowed in a `const fn` would have been useful even if it’s (for now) a no-op at compile-time.

[2019-10-18 22:41] danielhenrymantilla commented on #63568
So, despite `.get_ref` / `.get_mut` being currently unsound when applied on an uninit value, we want to stabilize them with that name? My comment maybe went too far thinking about `drop`s but my point about them being more aptly named as `assume_init_by_ref` / `..._by_mut` still stands. This is an easy but important detail to fix before stabilization: the whole point of `MaybeUninit` is too avoid

[2019-10-18 22:41] SimonSapin commented on #57969
Closing since https://github.com/rust-lang/rust/pull/55715 did not land. Feel free to reopen if/when it does.

[2019-10-18 22:51] SimonSapin commented on #63567
@RalfJung Should the same logic apply to `get_ref` and `get_mut`? https://github.com/rust-lang/rust/issues/63568

[2019-10-18 22:55] ratmice opened #65578 "PhantomPinned allows conflicting implementations of trait without warning"
Sorry if this is a duplicate, I looked but did not find any bug about it.
PhantomPinned appears to be not a direct equivalent of the negative trait `!Unpin`,
in that implementing both PhantomPinned does not produce an error, where the same implementation of !Unpin and Unpin does.

[code]

[2019-10-18 22:56] SimonSapin commented on #55300
APIs currently pointing here below. These seem very niche to me. @rust-lang/libs any thoughts?

[code]

[2019-10-18 22:59] SimonSapin commented on #53856
This was insta-stable (with FCP) in https://github.com/rust-lang/rust/pull/53910, so closing as it seems there is nothing else to track here. Feel free to reopen if there is.

[2019-10-18 22:59] #53856 closed

[2019-10-18 23:00] nvzqz commented on #29628
What needs to be done to get this or something similar stabilized?

As some of you may know, `static_assertions` can have some gnarly error messages. So, I'm going to use this for https://github.com/nvzqz/static-assertions-rs/issues/24 under a `nightly` feature flag so then I can get much nicer errors:

[code]

It would be wonderful if everyone who uses this crate can get decent error messages.

[2019-10-18 23:03] SimonSapin commented on #53487
Triage: the remaining unstable APIs pointing here are the `std::backtrace` module (and its contents) as well as the `std::error::Error::backtrace` trait method. Do these have remaining issues blocking stabilization?

[2019-10-18 23:13] SimonSapin commented on #44095
Triage: the APIs below currently are unstable and point here. Are there issues to consider other than NaN handling? Is it worth stabilizing `Ord::clamp` first without blocking it on NaN handling?

[code]

[2019-10-18 23:16] ecstatic-morse commented on #65527
The errors in `eggmund.Prey` are a result of NLL errors becoming fatal. They [existed as warnings](https://crater-reports.s3.amazonaws.com/beta-1.39-1/1.38.0/gh/eggmund.Prey/log.txt) on 1.38

[2019-10-18 23:22] eddyb commented on #65536
Hmm, that error sounds like a toolchain bug/limitation (it *really* shouldn't care what we throw in there).
I wonder what the before/after #65536 `.rmeta` size is for `script-servo`.

[2019-10-18 23:31] ecstatic-morse commented on #65527
I [partially minimized](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=724a4beb735a3ac410f01c98d64f41d2) the last error (which occurs in `socketto-0.2.0`).
The `SmallVec` and trait object are necessary. This is a true regression.

[2019-10-18 23:46] thefallentree commented on #51009
do we have an fix for this issue?

[2019-10-18 23:53] ecstatic-morse commented on #65527
Regression 3 is difficult to minimize. It's a `dropck` problem with a lot of associated types and unsafe code. Here's where the [first](https://github.com/gfx-rs/gfx/blob/b5163cc21e8500936635a11d99912ca5b91ad0de/src/hal/src/command/render_pass.rs#L272) and [second](https://github.com/gfx-rs/gfx/blob/b5163cc21e8500936635a11d99912ca5b91ad0de/src/hal/src/command/render_pass.rs#L347) errors occur.

[2019-10-19 00:07] thefallentree commented on #51009
A possible work around is to keep the original library as rlib, create an wrapper library that outputs staticlib, and have your lto required targets link to that.

[2019-10-19 00:10] tage64 opened #65581 "Rustc panics (NoSolution): could not prove Binder(projection soup)"
I tried this code:

[code]

I expected to see this happen: Rustc should either print an error message or compile my code.

Instead, this happened: Rustc panics.

## Meta

`rustc --version --verbose`:
rustc 1.38.0 (625451e37 2019-09-23)
binary: rustc
commit-hash: 625451e376bb2e5283fc4741caa0a3e8a2ca4d54
commit-date: 2019-09-23
host: x86_64-unknown-linux-gnu
release: 1.38.0
LLVM version: 9.0

Backtr

[2019-10-19 00:13] ecstatic-morse opened #65582 "Non-`'static` lifetime inferred for return position `impl Trait` (fixed in beta)"
On beta and nightly, the following code is correctly rejected since the `impl Trait` in return position gets `'static` by default. However, on the current stable (1.38), it was wrongfully accepted. Replacing the trait object with another type seems to make the error appear on all versions.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93b9e5b8b6f51eae9c9c677

[2019-10-19 00:15] ecstatic-morse commented on #65527
@Mark-Simulacrum I've triaged all four regressions and opened an issue for the only unexpected one. I'll close this one in favor of it.

[2019-10-19 00:15] #65527 closed

[2019-10-19 00:57] Mark-Simulacrum commented on #65582
Nominating for compiler team -- I suspect we just want to close this, but wanted to raise this at least so we're aware. It's possible we can track down the fix and backport to stable, though at this point we're at 4 weeks out so it may not be worth it.

[2019-10-19 00:59] steveklabnik commented on #34616
This build log looks like you're building Rust itself? manually?

[2019-10-19 01:45] Manmohan-manoj opened #65584 "while installin viu (yay -S viu): "process didn't exit successfully: `rustc -vV` (exit code: 1)""
I'm fairly new to linux, running Manjaro,  I was installing viu for image viewing and following error is thrown
[code]

[2019-10-19 01:54] JohnTitor commented on #52981
Current output ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2198913065af948aa796d5130572ab2f)):

Stable
[code]

Nightly
[code]

[2019-10-19 02:36] mqudsi commented on #44580
I've been switching some code to const generics and it seems like there are really two different use cases. I'm not sure if they should be conflated or if we'd be better served going with two different syntaxes for the use cases.

A lot of my usages are not actually for types where a constant value plays a role in determining the types, but rather to avail myself of features that are locked out fo

[2019-10-19 03:06] Centril commented on #29628
This is an internal `rustc_` attribute only for use by rustc. You should not rely on it. (In fact, this tracking issue should probably not exist -- @varkor should we make the the issue number to 0 and close this issue?)

[2019-10-19 03:10] nvzqz commented on #29628
Ah, I wasn't aware it was meant to be internal-only. @estebank had recommended it to me earlier today, so I figured it was fair game. What's the path to make something like this publicly usable?

[2019-10-19 03:21] Centril commented on #29628
An elaborate RFC. :) The current implementation is an ad-hoc one based solely on what the needs of rustc is and any design would need to make sure to handle errors holistically (e.g. taking into account const generics, GHCs way of doing things, etc.) and not be too tied to rustc nor rustc too tied to the attribute. At any rate, this is not a priority and I don't think the language team has the ban

[2019-10-19 04:49] mark-i-m commented on #44580
@mqudsi Could you give an example? There are already plans and ongoing foundational work going on to make const eval more powerful. That's orthogonal to const generics, though.

[2019-10-19 04:54] #63904 closed

[2019-10-19 04:54] #65411 closed

[2019-10-19 04:54] #57239 closed

[2019-10-19 04:55] rust-highfive opened #65585 "`clippy-driver` no longer builds after rust-lang/rust#65570"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65570, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @tmandry, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @tmandry, the PR reviewer, and nominating f

[2019-10-19 05:12] Duddino opened #65589 "You can't compare &mut i32 with &i32, but you can compare &i32 with &mut i32"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=11d3a2fe6f9ec8544d3f64917b99f913

[2019-10-19 05:20] Centril commented on #65571
cc @GuillaumeGomez

[2019-10-19 05:21] Centril commented on #65577
cc @matthewjasper

-- I suspect these are regressions from migrate mode changes?

[2019-10-19 05:26] Centril commented on #65578
I don't see where the bug here is. `PhantomPinned` is a type which doesn't implement `Unpin` and will cause any type which includes it to not automatically get the auto-trait implementation of `Unpin`. This is how `auto trait`s work. It's not a direct equivalent of `!Unpin` but I don't think such a claim was made.

[2019-10-19 05:26] #65578 closed

[2019-10-19 05:31] Centril commented on #65524
Done in https://github.com/balena-io-modules/jellyschema/pull/118.

[2019-10-19 05:31] #65524 closed

[2019-10-19 05:37] Centril commented on #65561
In 1.37.0 this used to say:
[code]

[2019-10-19 05:37] Centril commented on #65561
Suggested prio: P-high.

cc @pnkfelix @matthewjasper

[2019-10-19 05:50] Centril commented on #65582
I'm betting this is https://github.com/rust-lang/rust/pull/62849.

[2019-10-19 06:19] Centril commented on #63568
## Naming

I basically agree with @RalfJung's point in https://github.com/rust-lang/rust/issues/63567#issuecomment-521357943 and I feel the answer to the question in https://github.com/rust-lang/rust/issues/63567#issuecomment-543991607 is *"yes"*. It seems appropriate to reflect the `assume_init` nature of these methods in their names -- after all, there was a reason we named the method `.assume_i

[2019-10-19 06:22] Centril commented on #65584
cc @alexcrichton

[2019-10-19 06:27] Centril commented on #65589
Maybe this can be fixed by adding another impl? Not sure if this is typeck's fault or the lack of an impl...

[2019-10-19 06:46] rinon commented on #64343
This was definitely a change to GDB that made the test fail. It still does the expected behavior, but GDB now returns a failure return code.

[2019-10-19 06:48] Leo1003 opened #65590 "Rustc panicked while running rls"
When using rls with both beta and nightly toolchain, it keeps complaining that `could not compile hyper`. However, it could build in both debug and release mode without any error!

So I tried to run with `RUST_BACKTRACE=1 rls --cli`.
Then the compiler panicked:
[code]
The Rendered Message:
[code]

Currently, I don't know which codes in the hyper crate cause this error...

## Meta
### Beta:
[code]

[2019-10-19 06:57] XiangQingW commented on #64465
@lzutao No. I'm working on other issues currently. Please take it if you want.

[2019-10-19 06:58] SimonSapin commented on #63568
Both good points, let’s formally file them:

@rfcbot concern naming
@rfcbot concern docs

[2019-10-19 07:38] emacstheviking commented on #34616
Steve, correct.

Although I subsequently gave up and just installed "rustup" then upgraded
to 1.38.0 and everything is fine. I *like* building stuff from sources
(Smalltalk habit I guess) but I am mor einto learning Rust so I gave in on
this occasion!

Loving it so far...it feels like the thing that "D" should have been, it
feels like Haskell without the maths torture, it feels like C++ without
ty

[2019-10-19 08:20] RalfJung commented on #63567
That depends on whether references to invalid data are UB or not. If yes, then certainly. If not, then maybe.

Currently they are UB but that's just because it is the more conservative choice.

[2019-10-19 08:23] jens1o commented on #55528
It is faster now, and I'm happy with it. :) Shall we close this issue?

[2019-10-19 08:26] mati865 commented on #65590
Possibly fixed by https://github.com/rust-lang/rust/pull/65353 or https://github.com/rust-lang/rust/pull/65511
Can you test again tomorrow with latest nightly?

[2019-10-19 08:30] LukasKalbertodt commented on #58935
I think it is very useful.

I commented here after trying to use `alloc::prelude` for [`stable-vec`](https://github.com/LukasKalbertodt/stable-vec) which is `no_std` with `alloc`. The crate started, as probably most `no_std` crates, as a normal crate with `std`. Thus, across the codebase I used symbols such as `Vec`. To make the transition to `alloc` as easy as possible, crates should be able to j

[2019-10-19 08:40] mati865 commented on #65584
Looks like downstream packaging issue.
Did you have LLVM 9 installed when you got this error?

[2019-10-19 08:41] joshtriplett commented on #65148
@nikomatsakis The one downside of using rustfmt for this: it's difficult to disable the *rest* of rustfmt, if you don't want to combine reformatting your code with substantive changes to your code. Would it be possible to add (and document) a method for converting `try!` to `?` without reformatting code?

[2019-10-19 08:53] RalfJung commented on #63568
After thinking about this a bit, I think I agree with stabilization (subject to the concerns raised by @Centril). In particular when it comes to docs, the big advantage of having these methods compared to letting people do `&mut *m.as_mut_ptr()` is that *there are docs to look at* (someone probably raised this above). So we should use these methods as a teaching opportunity for what the rules are

[2019-10-19 08:59] #59782 closed

[2019-10-19 08:59] #65394 closed

[2019-10-19 09:11] danielhenrymantilla commented on #63568
(And also `.get_ref/mut` references'  lifetimes are tied to the borrow on the `MaybeUninit`, which is not the case with `&[mut]* _.as[_mut]_ptr()`)

I can be the one drafting the docs if you want

[2019-10-19 10:04] ratmice commented on #65578
@Centril I find it extremely concerning that PhantomPinned is the only way to specify the entrance into a contract which is violable by safe code merely by implementing Unpin.  Without a way to specify that implementing Unpin should be an error.  The fact that PhantomPinned has transitive behavior on `auto trait`, but not transitive behavior on the error, means it is terribly named.

The actual be

[2019-10-19 10:11] nnethercote commented on #55528
Yes!

p.s. #65480 just chopped off another 5-7% :)

[2019-10-19 10:11] Leo1003 commented on #65590
No problem!

[2019-10-19 10:14] #55528 closed

[2019-10-19 10:24] Leo1003 commented on #65590
Just upgraded to latest nightly and tested.
I can confirm that it has been fixed in:
[code]

I think this issue can be closed now.

[2019-10-19 10:41] Centril commented on #64827
This would have been invaluable when working on https://github.com/rust-lang/rust/pull/65324.

[2019-10-19 10:47] varkor commented on #29628
I'm surprised this is feature gated behind anything other than `rustc_private` (and hence that it has a tracking issue at all). This isn't intended to ever be stabilised (in its current form) and any work towards making it user-definable would require an RFC. I think it would be appropriate to close this issue, and if people want such a feature in non-rustc crates, a new feature request issue coul

[2019-10-19 10:51] Centril commented on #29628
@varkor Yeah I agree; let's move it into `rustc_attrs` (I think that's the right feature gate).

[2019-10-19 10:54] oli-obk commented on #58278
Implementing a nop-`dbg!` would require https://github.com/rust-lang/rust/pull/64683/files#r336732380 to be implemented first

[2019-10-19 11:19] jonas-schievink commented on #65590
Closing as fixed. Thanks for reporting and testing!

[2019-10-19 11:44] memoryruins commented on #65516
It’s also nice in cases like [evcxr](https://github.com/google/evcxr), which provides a repl and jupyter notebook support for rust. [plotters](https://github.com/38/plotters) uses evcxr in some of its examples  https://plotters-rs.github.io/plotters-doc-data/evcxr-jupyter-integration.html

[2019-10-19 12:04] nikomatsakis commented on #65148
@joshtriplett Personally, I think you should reformat the rest of your code first, and then enable the rustfmt option to convert `try!` to `?` (I don't believe it does that by default). Of course, I'm presuming that you *want* to reformat your code (which I think everyone should, though I realize others will disagree). But I think that the set of people who don't want to reformat their code is fai

[2019-10-19 12:33] matklad commented on #65516
It’s bad for laziness, not for incremental.

The property we want here for IDE is:

Function body can be type-checked without looking at other functions’ bodies

That is, it’s not the nesting itself that creates troubles, but the fact that nested items are sometimes observable from the outside. Here’s the list of things that cause trouble that I know of:

* local inherent impls
* local impls of gl

[2019-10-19 12:38] Stargateur commented on #65546
@parisholley pardon my rudeness, I sux in english so I take shortcut when I'm writing, you should not be offended because I said you have no idea what you are doing, for example, ask me to code in javascript, I will have no idea of what I'm doing. I said that because you seem so sure of you in your issue. Whereas you should have been very suspicious of your code. That a classic beginner mistake to

[2019-10-19 12:39] matklad commented on #65516
Note also that we would still need to parse *some* function bodies due to autotrait leakage via impl trait, but only if you directly use that function. This is different from having to parse all function bodies because *somewhere* and odd impl might be hidden, which affects type inference.

[2019-10-19 12:43] HadrienG2 commented on #64490
Is there any plan to eventually add `&raw` pointer support to pattern matching? It could enable getting rid of [various forms of deliberate UB in abomonation](https://github.com/rust-lang/unsafe-code-guidelines/issues/77#issuecomment-544139277).

[2019-10-19 13:00] mqudsi commented on #44580
What I mean is, if you want to refactor typical parser code like the following for reuse:

[code]

You would typically move it out to a function, except the following won't work because certain values that are used in pattern matching have become variables:

[code]

If const generics lands before const arguments, I can suddenly abuse const generics to come up with the following:

[code]

As of tod

[2019-10-19 13:18] memoryruins commented on #65516
Beyond function bodies, it's currently permitted inside const contexts, including const generics.
For a hopefully unrealistic example:
[code]

[2019-10-19 13:22] RalfJung commented on #64490
@HeroicKatora actually wrote an RFC for that, though it was originally meant as an *alternative* to `&raw`: https://github.com/rust-lang/rfcs/pull/2666

[2019-10-19 13:32] HeroicKatora commented on #64490
I'd be fine with it being interpreted as complementary, and can rewrite portions of it as necessary :)

[2019-10-19 13:48] ssomers commented on #62924
#64820 is also related - BTreeSet is_subset, intersection and difference now always do this double work (they actually want both min and max at the same time, but requesting both `next` and `next_back` from the same iterator that may only see one element is not the most straightforward code).

I naively thought the redundant data (the other end and iterator length) and code would all get optimized

[2019-10-19 13:50] RalfJung opened #65597 "With `allow(const_err)`, diagnostics are not very helpful"
Consider:
[code]
This deref's a dangling pointer, but due to `allow(const_err)` the only diagnostic we get is
[code]

Making this an allowable lint is not very helpful when later follow-on errors are hard errors.

[2019-10-19 13:53] bluss commented on #65522
[Formatting the first](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5801e7f00772f888d515dbed325a33d6) it points to this:

[code]

And it fails to compile in Rust 1.37, 1.38 as well, so it's not a regression. Since this is generated code, it could be that it's a change in what code is being generated, but it seems unlikely?

[2019-10-19 14:01] varkor commented on #44580
This seems like a use-case that is more readily addressed by allowing the values of bound variables to be used in patterns (not just consts), with some new syntax. The fact that consts are currently allowed in patterns is counter-intuitive and, as far as I'm aware, historical.

[2019-10-19 14:12] oli-obk commented on #65597
We could add a `Silenced` variant to `ErrorHandled` and use it in https://github.com/rust-lang/rust/blob/e5b8c118a38e8f3319813de56386bf43751582d7/src/librustc/mir/interpret/error.rs#L126 if the lint has not been emitted.

Then we can add a note to the `referenced constant has errors` error stating that some errors have been hidden due to `allow(const_err)`

[2019-10-19 14:17] mark-i-m commented on #44580
@mqudsi Forgive me if this is a silly question, but I don't see anything wrong about the example you gave. It looks like a perfectly valid use case for const generics to me: having a definition that is generalized to work with arbitrary values as the max/min. I don't really see the benefits of const arguments over const generics. They seem equivalent to me; that is, const arguments could just be i

[2019-10-19 14:57] varkor commented on #44580
Here's a summary of the work on const generics since [the last update](https://github.com/rust-lang/rust/issues/44580). Last time, it was all about the core implementation: making sure everything fitted together and getting some of the basic test cases passing. Since then, the effort has been focused on making const generics more reliable: fixing cases that crashed the compiler, or didn't work une

[2019-10-19 15:56] Centril commented on #65490
@estebank That has already been fixed in https://github.com/rust-lang/rust/pull/65410?

[2019-10-19 16:06] mystor opened #65601 "Stdin build silently ignores non-inline mod items"
Missing external modules don't report a build error when a crate is built from stdin.

**Expected**: When parsing an external submodule from stdin, a compiler error (or warning) is emitted noting that external submodules are not supported for stdio crates.

**Actual**: No diagnostics are emitted and an empty submodule is implicitly inserted.

Generally if a `mod` statement references a file which

[2019-10-19 16:11] Centril commented on #65490
The language team discussed this on 2019-10-17. We agreed with @pnkfelix's assessment that an RFC is not necessary in this case. Moreover, we agreed that this was desirable to remove unnecessary and annoying restrictions ("franken-feature" was used). We did note however that, as with all other features, it is important to have the tests in place, and that a to-be-FCPed stabilization should be file

[2019-10-19 16:13] mystor commented on #63900
This ICE also occurs when using `include_bytes!` and `include_str!`, which makes sense as they use the same mechanism under the hood ([`include`](https://github.com/rust-lang/rust/blob/e5b8c118a38e8f3319813de56386bf43751582d7/src/libsyntax_ext/source_util.rs#L79), [`include_str`](https://github.com/rust-lang/rust/blob/e5b8c118a38e8f3319813de56386bf43751582d7/src/libsyntax_ext/source_util.rs#L125),

[2019-10-19 16:19] mystor commented on #63900
While poking at this I also noticed that `mod foo;` items are silently ignored, and filed #65601.

[2019-10-19 16:53] ecstatic-morse commented on #65589
Both impls [already exist](https://doc.rust-lang.org/std/cmp/trait.PartialEq.html#impl-PartialEq%3C%26%27_%20B%3E-1).

[2019-10-19 16:59] Duddino commented on #65589
I can try adding impl for PartialOrd (as soon as I get back home) and if it fixes this I will make a PR

[2019-10-19 17:26] Walther commented on #65590
Ran into this even with the latest nightly, `rayon` being the culprit at my end:

[code]

[2019-10-19 17:36] PvdBerg1998 commented on #44580
@mqudsi @mark-i-m Would it be appropriate to extend the current syntactic alternative for generics, `impl Trait` in argument position, to const generics? This is the syntax @mqudsi suggested for this use case.

Personally I think this would improve the readability of such usecases, but I see one problem: normal generics are used to pass data, so they are bound to an argument. This is not the case

[2019-10-19 17:46] #41817 closed

[2019-10-19 17:46] #63987 closed

[2019-10-19 17:46] #64565 closed

[2019-10-19 17:46] #24354 closed

[2019-10-19 17:46] #37138 closed

[2019-10-19 17:51] mark-i-m commented on #44580
I vaguely recalled a discussion about this before, and now I have found it: https://internals.rust-lang.org/t/pre-rfc-const-function-arguments/6709

[2019-10-19 18:09] pcpthm commented on #65525
Likely due to #64710 exposing `bindgen` bug <https://github.com/rust-lang/rust-bindgen/pull/1627>. Updating `bindgen` fixes the issue.

[2019-10-19 18:36] phaazon commented on #44580
@PvdBerg1998 that seems like a very bad idea. I really don’t quite get the idea that `<…>` is a _hard syntax_ to read. Two possibilities here:

1. You think, as I do, that it’s not hard to read, even with several bounds.
2. You think it’s hard to read: then maybe the solution would be to put them on a `where` clause?

Now compare with the pre-RFC linked above. It would be introducing a _tag_ (in t

[2019-10-19 19:13] matthewjasper commented on #65490
There might also need to be some MIR lowering changes if we don't want to allow `ref mut x @ ref mut y => { /* only use y */ }`.

[2019-10-19 19:23] newpavlov commented on #44580
@phaazon
I personally fully agree with the linked proposal that allowing constants in argument position will be a really good ergonomic boost. It's not only about function signatures (arguably `where` clauses do not "solve" the problem at all, but will make it harder to understand signatures, since you have to parse 3 places instead of just one), but also about how those functions will be used. Co

[2019-10-19 19:42] mqudsi opened #65606 "Suggest comparison with binary char when comparing u8 with char literal"
Currently attempting to compare a `u8` with a literal `char` gives a generic error about missing trait implementations:

[code]

As the comparison is being made between a single, literal char (vs a runtime value or multiple characters), I believe it is safe for a help message suggesting comparing against `b'…'` instead.

e.g. something along the lines of

Ideally `X` would be substituted with the

[2019-10-19 19:44] rpjohnst commented on #44580
One thing that separates `const` arguments from `impl Trait` arguments (which @PvdBerg1998 mentioned) is that they *are* arguments, with all that that implies for type inference.

You can't pass a type itself as an argument, but you *can* pass a value, and letting a function infer its const generic arguments from its normal parenthesized arguments is completely reasonable.

This is fairly common i

[2019-10-19 20:05] dunnock opened #65607 "WASI target: thread::sleep() is panicing: unexpected result of poll_oneoff"
Following code seems correct though will always panic when compiled to `wasm32-wasi`:

`fn main() {
    std::thread::sleep(std::time::Duration::new(0,5));
}`

compiled with nightly rust 1.40:
`>cargo +nightly build --target wasm32-wasi`

It fails at least in wasmtime and wasmer-js VMs (example https://github.com/dunnock/wabench/tree/master/poll_oneoff_test):
[code]

rustup show:
[code]

[2019-10-19 20:11] dunnock commented on #65607
After some more digging it seems down to std::thread::sleep implementation

In `__wasi_subscription_t.userdata` passed 0 to poll_oneoff, which should set resulting event structure with same number `__wasi_event_t.userdata`:
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/wasi/thread.rs#L45

Later `__wasi_event_t.userdata` matched to CLOCK_ID == 0x0123_45678:
https://github.com/rust-la

[2019-10-19 20:20] mati865 commented on #65607
cc @newpavlov

[2019-10-19 20:44] phaazon commented on #44580
They are **not** arguments. They are **generics**. On a type system level, that means their _values_ live at compile-time, while a function argument’s values live at runtime. Mixing both is extremely misleading.

As I care about type systems, this proposal goes against a lot of sane and sound principles. You don’t want to mix values and types. Because, yes, a `N` (not I didn’t see `usize`, I said

[2019-10-19 20:50] nagisa opened #65610 "`dylib` shared libraries will not make public symbols that may be necessary to link inlined code"
When a `dylib` crate has a public `inline(always)` functions in it that use, as an implementation, other, private functions, using these public functions from other crates will fail with linkage errors because we fail to "export" the private functions.

An example project can be seen [here](https://gitlab.com/nagisa/sample-example-for-rust-bernacle/tree/master). In this example the `driver` dylib

[2019-10-19 20:52] rpjohnst commented on #44580
You may have misread me, I specifically said "`const` *arguments* ... are *arguments*," not "`const` generics." My first Rust example is also exactly equivalent to DataKinds (`usize<N>` is the type-level version of `N`). There is no problem here in terms of type correctness- I'm not arguing in terms of intuition but by analogy to existing, established, and sound type systems.

As for your concern

[2019-10-19 21:28] grantslatton opened #65611 "Compiler panics in ambiguous arrayvec type situation"
The compiler correctly errors about the ambiguous types, but also panics on this code:

[code]

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d6120e5e2819deb7a546f61bae891657

[2019-10-19 21:39] phaazon commented on #44580
I get what you mean but I still feel very concerned. Because the _argument_ is tagged _const_, it means you cannot pass it _a value_, runtime speaking. You need to pass it a _constant value_, which will map to the _const generic_. By the way, you didn’t mention it here but that’s just an application of a _singleton type_ if you consider `10` as a type: its single possible value is `10`.

As I’ve b

[2019-10-19 21:43] phaazon commented on #44580
Also, what would be the syntax for this, with your proposal:

[code]

[2019-10-19 21:47] tema3210 commented on #44580
It leads us to question about associated items, in short `new()` is asociated function, and must be asociated with concrete type, const generic items have semantic like "This type having this param...", i.e. dependent type. So, `new()` in the context shouldn't have any arguments. Explict usage should look like `Type<32>::new()`. And of course all const generics arguments should be elidable.

[2019-10-19 21:55] #65585 closed

[2019-10-19 21:58] jonas-schievink commented on #65611
Also reproduces on nightly. Panic happens here:

[code]

[2019-10-19 22:17] varkor opened #65612 "Add `x.py` option to skip rebuilding LLVM"
The compiler LLVM is rebuilt whenever the built version of LLVM doesn't have the right hash. (Previously it was rebuilt based on a special marker file, which was easier to work around.)
https://github.com/rust-lang/rust/blob/f042687959ef15f9c45d7093cd6b01f137da743f/src/bootstrap/native.rs#L88-L108
However, most of the time, having the latest LLVM version is not necessary, but makes rebuilding rust

[2019-10-19 22:20] rpjohnst commented on #44580
That is not my motivation nor intention- I'm not talking about what "feels better" and I don't believe the compile/run-time distinction needs to be conflated with the type/value-level distinction. The two are already separate- `const` items (value or fn) are certainly not types!

All I'm getting at is the *semantic* connection that type inference draws between value-level parameters and type-level

[2019-10-19 22:21] varkor commented on #65612
To fix this, you'll want to add another option: you should be able to look at the logic for something like `--keep-stage`.
https://github.com/rust-lang/rust/blob/f042687959ef15f9c45d7093cd6b01f137da743f/src/bootstrap/flags.rs#L130-L131

[2019-10-19 23:00] yodaldevoid commented on #60804
@jplatte Do you have any update on your progress on this issue?

[2019-10-19 23:25] Mark-Simulacrum commented on #65555
Fix is in https://github.com/rust-lang/rust/pull/65613.

[2019-10-19 23:28] yodaldevoid commented on #61381
`unwrap_usize` was renamed to `eval_usize` in commit 9b87d22ea83a1b5955d5355f91125456c4dc4bab.

[2019-10-19 23:28] jhpratt commented on #65555
Thanks @Mark-Simulacrum!

[2019-10-19 23:53] Aaron1011 commented on #57017
I'm working on this, and will have a PR open soon.

[2019-10-19 23:53] Aaron1011 commented on #57017
@rustbot claim

[2019-10-19 23:53] Aaron1011 commented on #57017
@nikomatsakis: Oops - didn't mean to unassign you.

[2019-10-20 00:14] varkor commented on #61410
I'm tempted to say that this issue should be closed (at least after https://github.com/rust-lang/rust/pull/65614), because the behaviour here is not specified by any RFC, and probably falls out of scope of at least the initial version of const generics.

[2019-10-20 01:18] wdanilo commented on #44265
Just as a note (possibly known), this code panics the compiler:

[code]

[2019-10-20 01:28] varkor commented on #44265
@wdanilo: I believe this is https://github.com/rust-lang/rust/issues/64755.

[2019-10-20 01:59] #59743 closed

[2019-10-20 02:35] brson commented on #63232
Here's some RISC-V code in std that is copied from gcc's GPL-3 code: https://github.com/rust-lang/compiler-builtins/issues/319

[2019-10-20 02:38] lzutao opened #65615 "Broken suggestion for lint "hidden lifetime parameters in types""
Consider this code:

[code]

When I run `cargo fix --edition-idioms`, I got:

[code]

### Meta

* rustc 1.40.0-nightly (c23a7aa77 2019-10-19)
* cargo 1.40.0-nightly (3a9abe3f0 2019-10-15)

[2019-10-20 02:39] lzutao commented on #65615
cc @petrochenkov

[2019-10-20 02:51] lzutao commented on #65615
cc @zackmdavis (you wrote this lint)

[2019-10-20 04:20] KrishnaSannasi commented on #44580
At cppcon there was a talk about constexpr function parameters, which seems similar to what @PvdBerg1998 is talking about and seems just like the internals thread that @mark-i-m linked to. It seems to be well received there.

It seems like a good idea, but it should be worked out after we get the initial implementation for const-generics done

[CppCon 2019: David Stone - Removing Metaprogramming F

[2019-10-20 04:29] skinny121 commented on #64537
The cause of this bug is that to type check the expression `Self::x::<{3usize}>()` it must evaluate the constant, but to evaluate the constant it must know what function `Self::x` resolves to in able to know the type of the const parameter. Thus this is most likely blocked by lazy normalization(#60471) to avoid the cycle.

[2019-10-20 04:35] asafigan commented on #64960
To clarify the work around for anyone who comes across this issue, assigning the formatted string to a variable first allows the program to compile.

Work around for the code provided by @jonhoo:

change
[code]
to
[code]

[2019-10-20 04:42] skinny121 commented on #63695
It appears that the ICE at `src/librustc_codegen_ssa/mir/operand.rs:79` is masking some earlier bugs, as running `cargo check` instead, yields the following ICEs:

For the original snippet:
[code]

and for @hellow554 snippet:

[code]

Both of these are related to #64537.

[2019-10-20 06:01] lopopolo opened #65616 "Compiler diagnostics for missing methods in generated code are unreadable"
I was incorrectly using a struct in some bindgen-produced code. I do not run rustfmt on bindgen output, so the source is one line of Rust code.

The compiler diagnostics fill my terminal with output making it toilsome to find the error being reported.

[code]

[2019-10-20 06:10] #62896 closed

[2019-10-20 06:27] newpavlov commented on #65607
Yes, it looks like `CLOCK_ID` should indeed go to the `userdata` field instead of `identifier`. I was not [100% sure](https://github.com/rust-lang/rust/pull/63676#issuecomment-522511507) about correctness of the implementation myself and it seems I've misinterpreted the Core API docs at the time (both fields have type `__wasi_userdata_t`).

[2019-10-20 06:48] msizanoen1 commented on #62896
Confirmed the PR fixes the issue:
[code]

[2019-10-20 06:50] novacrazy opened #65618 "Criterion benchmarks hang with target-cpu=znver1"
On my system, a Zen 1 AMD CPU, attempting to run Criterion benchmarks with `RUSTFLAGS = "-C target-cpu=znver1"` results in the benchmark hanging at the `Analyzing` stage for a few minutes before I killed the program.

Without the flags, it doesn't hang at all, as expected.

This affects stable, beta and nightly, and is probably related to LLVM 9.

Code that can hang on stable:
[code]

using `cargo

[2019-10-20 06:51] Lokathor commented on #62896
are the side tools like clippy and rustfmt likely to also build in the next nightly now?

[2019-10-20 06:52] msizanoen1 commented on #62896
It is another issue.

[2019-10-20 08:05] Kampfkarren commented on #28728
Possibly related, assuming nobody's posted this yet:

[code]

On release mode, this returns "true" -- which would mean that Fermat's Last Theorem is wrong.

[2019-10-20 09:20] bstrie commented on #44580
I would like to request that we reserve the discussion of such a significant syntactic change for either a thread on internals or an issue (or amending PR) on the RFCs repo. This issue's comment section is already quite long and the syntax in question seems unnecessary for a usable MVP of const generics.

[2019-10-20 10:14] eddyb commented on #44580
If we could move comments we probably would. We might want to lock the issue to @rust-lang team members and hide all the offtopic comments?

All design discussion should happen on the RFC repo and all bug reports should be in separate issues.

cc @rust-lang/moderation Is there precedent for doing this?

[2019-10-20 10:35] Centril commented on #65490
Ah yes, we probably don't want to allow that (but we can land separate PRs for the different parts of the work since it will be feature gated).

[2019-10-20 11:32] dunnock commented on #63183
@abonander this seems was merged to master, should it be closed now?

[2019-10-20 12:05] Centril commented on #65612
It would be good if this could be changed in the config file so you don't have to pass in the option all the time.

[2019-10-20 12:25] varkor commented on #65612
@Centril: if it's a config file option, then there should be an `x.py` option to rebuild it if necessary. I.e. it shouldn't be necessarily to temporarily change the `Config.toml` to rebuild.

[2019-10-20 12:27] Centril commented on #65612
@varkor sure that seems good, although they can be implemented separately.

[2019-10-20 12:31] LukasKalbertodt opened #65623 "ICE with const generics canonicalisation: "assertion failed: !out_value.has_type_flags(TypeFlags::KEEP_IN_LOCAL_TCX)""
I started to further investigate the bug blocking #62959. The following is a minimised test case:

[code]

Results in (with debug assertions enabled):

[code]

Here with the backtrace:

<details>

[code]

</details>

---

I would love to investigate further, but I am too confused and the panic message doesn't tell me anything useful either. But please tell me if I can do anything else to help you

[2019-10-20 12:33] spadaval commented on #65612
The line you would need to change is near this one: (line 735 of bootstrap.py)
[code]
It would probably be much easier to add a check against a key in the config, than to add a new flag.

[2019-10-20 12:37] jonas-schievink commented on #65623
It's this debug assertion that's failing:

https://github.com/rust-lang/rust/blob/7bf377f289a4f79829309ed69dccfe33f20b089c/src/librustc/infer/canonical/canonicalizer.rs#L545-L548

Debug assertions are not turned on on released artifacts, but your local `config.toml` probably has them enabled.

[2019-10-20 12:39] LukasKalbertodt commented on #65623
Ohhh, that explains the weirdness. Should have thought of that myself. Thanks!

But anyway, it's still a bug I assume. And I couldn't find another const generic bug with this error message.

[2019-10-20 13:06] Xaeroxe commented on #44095
@SimonSapin I'd be happy to stabilize the whole thing personally

[2019-10-20 13:22] petrochenkov commented on #65071
Repening, the dot files are generated again.
[code]

[2019-10-20 13:49] dkadashev commented on #47319
Hi @estebank, if no one is working on this (which seems to be the case) then I'd like to pick this up (as a first contribution to the compiler) if that's OK.

I think it makes sense to make two separate PRs, the first one for the "modify sort_string to include the type argument's name" part and the second for the span part, since these changes are fairly unrelated to each other, and the former one

[2019-10-20 13:55] varkor commented on #65623
The test case is sufficient with debug assertions (I can reproduce locally). Sorry, I've been meaning to look into this for ages. Having a minimal test case is helpful.

[2019-10-20 14:03] LukasKalbertodt commented on #65623
@varkor No problem, I'm happy for every minute you spend working on const generics ^_^

[2019-10-20 14:10] jplatte commented on #60804
No, sorry. I've been busy with another project. If you want to take over, there is some discussion about the implementation [on zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/generic.20argument.20disambiguation).