[2018-01-25 15:46] nikomatsakis commented on #47742
triage: P-high

We need to know what happened.

[2018-01-25 15:50] nikomatsakis commented on #47412
triage: P-high

Well, this *is* a regression. We ought to fix it. Assigning to pnkfelix and myself to figure out how to get this fixed.

[2018-01-25 15:54] nikomatsakis commented on #47563
triage: P-high

Regression, though only with `never_type` feature -- but we'd like to stabilize that!

[2018-01-25 16:00] nikomatsakis commented on #46188
Some questions:

- Is it possible for us to have two distinct definitions in LLVM for `malloc`, such that the call which is not dead does not inherit the non-null attribute?
- Alternatively, or perhaps just additionally, we could detect and lint against the mismatch.

[2018-01-25 16:01] nikomatsakis commented on #46188
triage: P-medium

We should fix this, but not a **burning issue**.

[2018-01-25 16:21] alexcrichton commented on #44367
Thanks for the tip @eddyb, that was perfect! I've opened https://github.com/rust-lang/rust/pull/47743 to close this issue.

[2018-01-25 16:22] kennytm commented on #47742
This is likely just rust-lang-nursery/rustc-perf#178. Nothing to see here, move along.

[2018-01-25 16:30] rkruppe commented on #47739
We already have the flag `-C overflow-checks=[on|off]`. Is the proposal here to make it default to `on` in release mode, or to remove it (or rather, make it do nothing) altogether?

I'm leaning in favor of changing the default but this is probably contentious enough that we'd want an RFC that lays out the motivation and downsides (and ideally, hard benchmark data).

[2018-01-25 16:33] Apromixately commented on #47739
@rkruppe Yes, it should default to on and ideally be removed in favor of a more selective way of disabling it. The latter is probably more work and more controversial but imho the right thing to do™.

[2018-01-25 16:48] PaulGrandperrin commented on #47736
I'm also hitting this bug

[2018-01-25 16:54] kennytm commented on #47706
Bisecting between b65f0bedd2f22d9661ecb7092f07746dc2ccfb0d...a0dcecff90c45ad5d4eb60859e22bb3f1b03842a.

Script:

[code]

Bisection result:

[code]

Actual cause is #47573, cc @estebank.

[2018-01-25 17:07] varkor commented on #47563
The fix is just waiting on bors. Should be in soon!

[2018-01-25 17:27] spastorino opened #47744 "suggest removing `&` when iterating over `&<some iterator type>`"
[code]

I started going `for constraint in &self.constraints {` then move to use `enumerate` and forgot to remove the `&`.

I figuref that the error could say `maybe remove the &`, calling `iter` and having `&` doesn't make sense.

[2018-01-25 17:27] nagisa opened #47745 "codegen-units + ThinLTO is not as good as codegen-units = 1"
We recently had a fair amount of reports about code generation quality drop. One of the recent causes for the quality drop is the enablement of codegen-units and ThinLTO.

It seems that ThinLTO is not capable of producing results matching those obtained by compiling without codegen-units in the first place.

The list of known reports related follows:

* https://github.com/rust-lang/rust/issues/476

[2018-01-25 17:32] nikomatsakis commented on #47744
cc @estebank

[2018-01-25 17:34] nikomatsakis commented on #47745
Thanks for filing this @nagisa =)

[2018-01-25 17:35] cuviper commented on #47725
Yeah, I think you're right that `#[link_name]` is simply not intended for this, so getting the lint to fire sounds like the right solution.

[2018-01-25 17:36] dtolnay commented on #47511
This bug prevented me from implementing [SCARY assignments](http://www.stroustrup.com/SCARY.pdf) for [`Punctuated`](https://docs.rs/syn/0.12/syn/punctuated/struct.Punctuated.html) iterators in Syn.

`Punctuated<T, P>` is a punctuated sequence with elements of type `T` separated by punctuation of type `P`. I have an IntoIterator implementation for Punctuated, &Punctuated, and &mut Punctuated which

[2018-01-25 17:46] nikomatsakis commented on #47388
@gaurikholkar ok so let me leave you a few more tips. I mentioned already that we will want to examine the `Place` that is being assigned, and how we can special case local variables and so forth. A path like `foo.bar` will typically be a **projection**:

https://github.com/rust-lang/rust/blob/da569fa9ddf8369a9809184d43c600dc06bd4b4d/src/librustc/mir/mod.rs#L1241-L1242

A projection consists of an

[2018-01-25 17:48] nikomatsakis commented on #47388
I think, for error messages purposes, we want to consider things like this:

- If the outermost layer of the `Place` is a `Projection` of a field, then we can extract the field name and use it in the error.
- If *somewhere* in the place there is a deref of a borrowed reference (`&T` type), this is the "through an &-reference" case.
  - However, there is already code that looks for that, it's calle

[2018-01-25 17:52] nikomatsakis commented on #44928
closing in favor of #43234

[2018-01-25 17:52] #44928 closed

[2018-01-25 17:57] nikomatsakis commented on #47511
Hmm, so, I had in mind issuing a future compatibility warning, which means this code would break *eventually*.

However, an alternative, with perhaps a bit more effort, might be to promote `'a` here to be early-bound, in which case the function could be compiled.

[2018-01-25 18:05] nikomatsakis commented on #47742
Should we close? How "likely" :)

[2018-01-25 18:12] kennytm commented on #47742
Very likely given the commit hash, but I'll let @Mark-Simulacrum confirm ☺️

[2018-01-25 18:17] #45781 closed

[2018-01-25 18:17] #47699 closed

[2018-01-25 18:17] #47716 closed

[2018-01-25 18:17] estebank commented on #47706
Confirmed, panic introduced in that PR. Will submit for review once local test run completes.

Sorry about this, I failed to account for `impl` methods.

[2018-01-25 18:18] leonardo-m commented on #47739
Before introducing overflow checks on default I suggest to introduce a refined compiler pass like this one from Swift:

https://github.com/apple/swift/blob/master/lib/SILOptimizer/Transforms/RedundantOverflowCheckRemoval.cpp

[2018-01-25 18:18] dtolnay commented on #47511
I guess I am unclear where this is going wrong. The second code sample does not immediately look like #33685 to me because every lifetime in the code also appears in the trait input type.

Is there an easy way to sum up the rules for whether a type alias with generic parameters is valid and behaves in a sensible way? Does every lifetime parameter and type parameter need to be mentioned in the Asso

[2018-01-25 18:31] deontologician commented on #29641
This is really critical to matching recursive enums. I have some code like:

[code]
And basically, I'm stuck on nightly.

Is this box pattern syntax *really* super tied to the placement syntax in the other issues that are also using the `box` keyword? The resemblance seems cosmetic. Boxing recursive enums is a basic thing to do, and being able to break those recursive enums up in match blocks seem

[2018-01-25 18:42] cuviper commented on #47665
@nikomatsakis you mean in libstd?  Neither `Chain::fold` nor `u64::sum` have `#[inline]` attributes today, but usually that's not needed for generic functions.  I guess being generic means they didn't (couldn't) get pre-compiled in libstd, but I suppose they must have gotten separate codegen units in the end.

But I hope we don't have to generally recommend `#[inline]` all over the place...

[2018-01-25 18:49] cuviper commented on #47714
@fweimer Yes, cargo+rustc produced that.  Emitting a linker script sounds interesting -- do other toolchains do this automatically?

ISTR there used to be a message printed for static libraries, telling the user what libraries should be linked in the final product -- but I don't see anything like that in the full log that Igor provided to me.

[2018-01-25 19:00] devonhollowood commented on #47728
It looks to me like this is caused by [this issue](https://github.com/GuillaumeGomez/html-diff-rs/issues/12) in `html-diff`. That issue was fixed in `html-diff 0.0.6`, which is what the nightly `rustdoc` uses (`rust 1.23.0` uses `html-diff 0.0.4`). To verify this, I tried out your steps-to-reproduce with the nightly compiler, and it compiled fine. So I think this is fixed now.

[2018-01-25 19:01] ysiraichi commented on #47744
@nikomatsakis Can I give it a shot?

[2018-01-25 19:04] Mark-Simulacrum commented on #47062
Since it was merged less than 90 days ago, we should have CI artifacts on both sides of #46623 (before/after) which you could run and get numbers from. Is that what you are looking for? As to where it got fixed, well, you could either run [rust-bisect](https://github.com/Mark-Simulacrum/bisect-rust) since it's within 90 days or go by nightly and then run bisect or its equivalent on the PRs within

[2018-01-25 19:07] Mark-Simulacrum commented on #47742
I'll investigate. Assigned myself.

[2018-01-25 19:16] estebank commented on #47744
@ysiraichi feel free to do so! Also feel free to reach out either on gitter or on this issue for help.

You'll have to look at `librustc/traits/error_reporting.rs:report_selection_error` (which is where the error E0277 is being emitted). There you have to verify wether `self_ty` is a &-ref, and wether the referenced `ty` _does_ implement the trait being that failed to be found, `std::iter::IntoIte

[2018-01-25 19:21] anxiousmodernman commented on #47315
I believe I've hit something similar.

[code]

Compiling with this syntax error yields the following compiler error

[code]

This  corrected syntax compiles just fine

[code]
Some of my system info:

[code]

[2018-01-25 19:24] jonhoo commented on #43234
A minor point from a discussion with @nikomatsakis on Tuesday -- it'd be really neat if the compiler could warn when it detects an extra scope that is now unnecessary due to nll. Essentially when it sees something like:

[code]

[2018-01-25 19:29] glaebhoerl commented on #29641
As [discussed](https://github.com/rust-lang/rfcs/pull/2005#issuecomment-307935415) on the RFC for default binding modes in `match` (tracking issue https://github.com/rust-lang/rust/issues/42640), I think the best solution here would not be `box` patterns, but simply to have the `ref` "default binding mode" automatically propagate through all types with `Deref` implementations (not just through `&`

[2018-01-25 19:38] pitdicker commented on #47062
Great, I can confirm I get the same performance with benchmarks as before with
[code]
(but it does not sound like a great permanent solution)

[2018-01-25 19:38] dtolnay commented on #47612
@anxiousmodernman reported a similar issue in #47315.

[code]

The same internal compiler error: Error constructed but not emitted.

[2018-01-25 19:42] rpjohnst commented on #29641
Would it also be possible for `&` in patterns to go through `Deref`, to preserve the ability to write the "default binding mode" stuff explicitly? Or would it be better to keep `box` as the explicit version, and let it be stabilized on its own?

[2018-01-25 19:59] eddyb commented on #47062
@pitdicker Right, which is why #47665 is still open - feel free to track / discuss on that issue!

[2018-01-25 20:02] glaebhoerl commented on #29641
I would prefer to deprecate `&` and `&mut` (and `ref` and `ref mut`) in pattern contexts and just do this kind of adjustment on the RHS when necessary (in expression context) - so in this case, just use `*` to deref as normal - which may not always be as ideal as possible from a code-golf perspective, but is generally much clearer and less of a learning hazard.

[2018-01-25 20:12] little-dude opened #47751 "Could process::Command implement Send ?"
Hi,

Currently, we cannot send a `process::Command` to another thread because it does not implement `Send` (at least on Unix). The reason is the struct has a raw pointer field:

[code]
According to @cuviper [it's probably possible to implement `Send` manually](https://users.rust-lang.org/t/would-it-be-possible-for-std-process-command-to-be-send/15254/2) though. Is this something you would consider

[2018-01-25 20:13] zackmdavis commented on #43302
Yes, this feature is very straightforward; the only thing I'd want to consider before stabilization is whether we should add `#[must_use]` to any other standard library methods (like `.collect()`).

(And even then, the only scenarios in which that makes a difference are ones in which we decide to make more functions must-use without stabilizing, and _then_ nightly users point out that we were _wro

[2018-01-25 20:16] jturner314 commented on #47728
I confirmed that this is fixed on nightly; thanks @devonhollowood. I'll try to remember to test on nightly before reporting issues next time.

[2018-01-25 20:16] #47728 closed

[2018-01-25 20:22] sfackler commented on #47751
Yeah, we just need a manual Send impl.

[2018-01-25 20:26] flosse commented on #44925
Are there any workarounds?

[2018-01-25 20:32] zackmdavis commented on #43302
(Of course, it would also be possible to immediately stabilize _just_ the often-demanded operator lints—which are only under the `fn_must_use` feature gate due to the historical contingency of RFC discussion not sufficiently forseeing implementation details—but continue to evaluate must-use for functions. However, I agree with [the point](https://gist.github.com/mark-i-m/5bccf4dd7d97751eba542fea84

[2018-01-25 20:41] kardeiz commented on #44925
What I am doing to work around this is setting my project up as a workspace. I have all of my project in one main crate (in which I am using the proc_macro feature), **except** for my database stuff (since in my case Diesel is the only thing hitting this issue), which I am putting in a `db` subcrate (in which I do not use the proc_macro feature). This resolves the issue for me, and isn't too painf

[2018-01-25 20:57] ErichDonGubler commented on #43301
So, should this first checkbox...

...be checked now that the linked PR has been merged?

[2018-01-25 20:58] flosse commented on #44925
@kardeiz thanks for your help! I'll try to do the same :)

[2018-01-25 21:01] kennytm commented on #43301
@ErichDonGubler Done :)

[2018-01-25 21:05] cuviper opened #47754 "Building from rustc-beta-src.tar.xz fails on git commands"
I'm trying to test Fedora builds of the current beta:

[code]

Rustbuild fails in `Build::beta_prerelease_version()`:

[code]

With network access, `git ls-remote` *could* work with a URL instead of the missing `origin` remote.  However, the configuration we use for rpm builds is completely offline.  (Actually, I probably don't even have git in the build root at the moment, but I could add that.)

[2018-01-25 21:12] bkchr commented on #43301
Hmm, it is currently only the half rfc that is implemented with the merged pr ^^

[2018-01-25 21:15] sfackler opened #47755 "The stability warning for #[thread_local] still mentions tasks"
[code]

[code]

[2018-01-25 21:19] archshift opened #47756 "Rust allows &mut aliasing on static mut variables"
[Simple example](https://play.rust-lang.org/?gist=552701026f2084154170bb7979a0c18e&version=stable):

[code]

I would expect Rust to disallow this type of code, or at least warn about it, but it simply allows the programmer to shoot himself in the foot.

[2018-01-25 21:30] steveklabnik opened #47757 "Explain in `FromStr`s docs that you can't use a lifetime"
Inspired by https://www.reddit.com/r/rust/comments/7syu6z/where_do_you_declare_a_lifetime_for_fromstrerr/, but i've seen it crop up a few times. We should put something in the docs.

[2018-01-25 21:33] kennytm commented on #43301
Separated into 3 checkboxes :)

[2018-01-25 21:37] rpjohnst commented on #29641
I don't think binding modes are as expressive on their own, though. We would need something beyond the RFC in order to fully remove `&`/`&mut`, no?

Or did you mean forcing people to add `*` in the match arm after the pattern? I feel like that's a step backwards and we don't have a clear path to avoiding that either.

[2018-01-25 21:42] kennytm commented on #47754
cc @alexcrichton

[2018-01-25 21:47] alexcrichton commented on #47754
Oops, sorry about that! I think even if we had a url it'd fail later because it wants to find the diff between the origin's branches and the local revision, but with the tarballs there's no local revision!

I'd say we should just drop the prerelease number entirely from betas-build-from-tarballs perhaps? Having an optional env var override seems fine by me though!

[2018-01-25 21:48] tromey commented on #41748
Normally `rust-gdb` arranges things so that the auto-loading works.

It's relatively normal in these scripts to have the registration function accept `None` to mean `gdb`, though, for situations where one ends up needing to use `source`.  I think that would be a harmless change.

[2018-01-25 21:56] Mark-Simulacrum commented on #47665
I'm not entirely sure this isn't expected; 2x is a bit much though. We might need to wait on the heuristics that @michaelwoerister has planned.

[2018-01-25 21:59] tromey commented on #41748
I wrote a patch to allow `None` but I was thinking about:

and wondering whether this is something that `cargo` ought to do for debug builds.

[2018-01-25 22:05] zackmdavis commented on #26281
Related/likely-prerequisite: #14407.

[2018-01-25 22:05] gw653 opened #47758 "unexpected panic"
I tried this code:
[code]
Cargo.toml:
[code]

This happened:
[code]

[2018-01-25 22:08] Mark-Simulacrum commented on #34557
That's true. Or even just `split("::")` would probably work. @nagisa might have comments as to if that's sufficient or not... I'd lean towards no.

[2018-01-25 22:09] nieksand opened #47759 "Mediocre error message for f32/f64 ambiguity"
I have this code:
[code]
https://play.rust-lang.org/?gist=58e23173aec4b798d8021af0ead25bbd&version=nightly

I get this error message:
[code]

I can work around by:
[code]

The world would be a better place if:
* Type inference could just figure out 2.0 has to be f64 given the type on `x`
* Failing that, an error message indicating the problem is f32 vs f64 ambiguity rather than this mysterious `{f

[2018-01-25 22:24] kennytm commented on #47759
Note that type inference cannot figure out 2.0 is an f64 because this is perfectly valid.

[code]

[2018-01-25 22:29] nieksand commented on #47759
Yipes.  Inference is definitely out.

[2018-01-25 22:49] SimonSapin commented on #43234
It’d be great for that lint to exist, but I’d prefer it not to be enabled by default in Nightly until at least after NLL is enabled by default on Stable.

[2018-01-25 23:39] Apromixately commented on #47739
@leonardo-m That is a great idea but I still think we should enable it first and then do that. The selling point of rust is that it is safer than C, so we should emphasize and prioritize that.

[2018-01-25 23:44] rkruppe commented on #47739
Greater safety *while also* offering competitive performance and control is a selling point, too. Regressing the performance of the default configuration is sure to rustle some feathers, and making sure to quantify and reduce the slowdown will be very useful both for building goodwill and for convincing people to actually accept the new default.

Aside: You're using "safety" in a different sense h

[2018-01-25 23:49] glaebhoerl commented on #29641
There was some discussion about these things on the RFC, but I don't really remember it. In either case, this is getting into the weeds; I think the part that's important for now is just that the use case that was going to be satisfied by `box` patterns should be satisfied by extending default binding modes instead. After that I would *like to* also be able to remove all the other things from patt

[2018-01-26 01:13] estebank commented on #27300
Given #47763, overly verbose, but educative output actually pointing at the problem:

[code]

[2018-01-26 03:37] thedodd opened #47764 "ICE with `impl FnOnce...` in argument position. Unexpected panic."
ICE when using `impl FnOnce...` in argument position on `1.25.0-nightly 2018-01-24`. Unexpected panic.

A quick note, the offending argument is of type: `impl FnOnce(_) -> Box<_>` (omitting the concrete types with `_`). That said, I'm not sure if `universal_impl_trait` actually explicitly supports `impl Trait` in argument position for the `fn` family at this point in time.

### code sample that ca

[2018-01-26 03:52] jminer opened #47765 "musl ARMv7 uses NEON"
In #35814, the `armv7-unknown-linux-gnueabihf` target was changed to not use NEON, but the `armv7-unknown-linux-musleabihf` target was not changed. I just used the musl target to compile a binary for my router (OpenWRT uses musl), but it dies with "Illegal instruction" in `Mutex::new` on `vld1.32` (a NEON instruction).

    $ rustc --print cfg --target armv7-unknown-linux-musleabihf | grep neon

[2018-01-26 03:52] scottmcm commented on #47756
The fact that you can't do this without `unsafe` _is_ what I'd call warning about it.  You could consider the `unsafe` like "allowing the `cannot_prove_this_code_safe` lint".

`unsafe` can easily get you &mut aliasing on non-globals too:
[code]

[2018-01-26 04:03] shepmaster commented on #45788
Duplicate of #42855 ?

[2018-01-26 04:13] alexcrichton commented on #47745
Indeed thanks! I'll try to take a closer look at this when we've upgraded LLVM

[2018-01-26 04:24] withoutboats commented on #10389
Would any of these result in incorrect runtime behavior, or just bizarre compiler errors?

[2018-01-26 04:43] estebank commented on #42855
[Current output](https://play.rust-lang.org/?gist=636960e2a4db78e9e49e655e6668b392&version=nightly):

[code]

Ideally it should also point at the `foo` being passed as an argument.

[2018-01-26 04:49] alexcrichton commented on #47765
Ah yeah seems like an oversight on our part! I think it'd be fine to remove neon for consistency with the gnu target

[2018-01-26 04:52] alexcrichton commented on #47725
This may have been the *ancient* method of what `#[link(name = "..")]` is today, any usage in the standard library should be subsubed by the `build.rs` script I believe.

[2018-01-26 04:55] alexcrichton commented on #47714
We [should be linking](https://github.com/rust-lang/rust/blob/master/src/libstd/build.rs#L38) with `-ldl` do you have more logs for the error perhaps?

Also it's true yeah, I'm not sure how a static archive can be verified as it can't encode linking information?

[2018-01-26 04:59] alexcrichton commented on #47539
I believe this was since resolved, so closing.

[2018-01-26 04:59] #47539 closed

[2018-01-26 05:00] alexcrichton commented on #47566
@Gilnaa this is actually intended by design (libtest can't link to libsyntax), but is this still needed?

[2018-01-26 05:01] alexcrichton commented on #47500
@petrochenkov is this still an issue?

[2018-01-26 05:06] cuviper commented on #47756
While it may feel like the borrow checker could catch this local case, `static mut` references could alias from afar too -- from calls in distant parts of the stack, or even from separate threads.

[2018-01-26 06:40] gaurikholkar commented on #47388
Thanks @nikomatsakis

[2018-01-26 07:11] archshift commented on #47756
Unfortunately, this isn’t even documented in the rust book. [There’s a whole section](https://doc.rust-lang.org/book/first-edition/const-and-static.html) on mutability in statics but no mention of the relaxed checks on them: namely mutable aliasing and the lack of a `Sync` requirement.

[2018-01-26 07:25] zackmdavis commented on #43302
There's a perspective that says everything in the standard library that has no side effects that doesn't already return a must-use type (like `Result`) should be must-use. But that feels like a weirdly _excessive_ number of attributes (at least dozens, likely hundreds), right?

[2018-01-26 07:44] scottmcm commented on #43302
As it's a lint, I'm in favour of just stabilizing and worrying about which functions get it later.

That said, I'd also like to put this on things like clone.  And maybe things like `to_string`, since I saw someone on IRC do `x.to_string();` and wonder why `x` wasn't now a `String`...

[2018-01-26 08:47] dotdash commented on #47611
If I'm not mistaken, I originally added that check, and looking through the referenced LLVM commit, doing this conditionally based on the LLVM version seems fine to me.

[2018-01-26 09:30] Pulkit07 commented on #47279
I am trying to implement a function for MirBorrowckCtxt which can return us a set of user defined mutable variables. The set can then be used to check whether all the variables are used mutably or not.

I am trying to implement the first step right now which is a function to return the set of user defined mutable variables. Here is the paste of the diff: https://gist.github.com/Pulkit07/e6254a3c0f

[2018-01-26 09:32] Pulkit07 commented on #47755
I will like to fix this. What should be the better warning message here? Or I just need to remove the last sentence?

[2018-01-26 09:35] Pulkit07 commented on #47297
@srinivasreddy are you still working on it or can I take this one?

[2018-01-26 10:22] mikeyhew commented on #27779
Another thing that we should really get to work is creating unsized structs with placement new:

[code]

Which is probably a more sought after feature, and definitely simpler to solve, than DST returning functions.

[2018-01-26 10:24] japaric opened #47770 "ThinLTO bloats size of bare metal programs by up to 1200%"
Original report: https://github.com/japaric/stm32f103xx-hal/issues/44

### STR

[code]

Changing `profile.release.codegen-units` to 1 (suggested in other issues) does *not* help. Fully
disabling ThinLTO passing `-Z thinlto=no` to `rustc` (is there a Cargo.toml setting for that?) fixes
the binary size problem without meaningfully affecting the compilation speed (if anything it's
slightly faster)

[

[2018-01-26 10:28] nikomatsakis commented on #47628
Curious. I was not able to reproduce when building those commits from scratch, though I did see the perf difference with the nightly builds. I'll double-check. It could have to do with some of my config.toml options (e.g., debuginfo or debug-assertions), but that seems a *bit* surprising.

[2018-01-26 11:05] topecongiro opened #47771 "Attributes on macro does not trigger error or warning"
Using `rustc 1.25.0-nightly (9fd7da904 2018-01-25)`,

[code]

the abvoe code triggers an error:

[code]

However, the following code compiles without any error:

[code]

It looks like the attributes on macros are entirely ignored from the compiler. Is this an expected behavior?

[2018-01-26 11:38] abonander commented on #47741
Related to/more discussion on https://github.com/rust-lang/rfcs/issues/1975

[2018-01-26 11:59] est31 opened #47774 "Confusing error message with closures"
[code]
gives
[code]

Which is very cryptic and doesn't really show what's going on.

[2018-01-26 11:59] est31 commented on #47774
cc @estebank

[2018-01-26 12:23] nagisa commented on #47770
Are you confident `-Ccodegen-units=1` passed down to rustc? It is hard to imagine that formatting machinery would get (re-)included after ThinLTO.

[2018-01-26 12:24] SWW13 opened #47775 "Wrong "unnecessary parentheses around function argument"-warning"
Recent nightly versions give warnings when using the macro `do_parse!()` of [nom](https://github.com/Geal/nom):

I tried this code:

[code]

I expected to see this happen:
No warning.

Instead, this happened:
[code]

After investigating this further I found the source of the warning (see https://github.com/SWW13/nom/commit/f1a04eb97eae45e0dc93e3f4ce6b4cd613754e1e#diff-06e70f2a187023418eedf26d22d3a

[2018-01-26 12:27] vext01 commented on #47712
OK, I'm closing this is favour of: https://github.com/rust-lang/rfcs/issues/2312

[2018-01-26 12:27] #47712 closed

[2018-01-26 12:56] adiba opened #47776 "WASM/WebAssembly bug when compiling with opt-level=0"
[code]
This should yield `3`. It however gives `0`  when compiling with the following command:
`rustc +nightly -C opt-level=0 --target wasm32-unknown-unknown --crate-type=cdylib src/main.rs`
Any `opt-level` above 0 is fine though. (eg `rustc +nightly -C opt-level=1 --target wasm32-unknown-unknown --crate-type=cdylib src/main.rs`)

The fat pointer of `s` contains the correct length in memory, just

[2018-01-26 13:39] nikomatsakis opened #47777 "inform user where to give a type annotation after a call to collect"
UPDATE: [Mentoring instructions below.](https://github.com/rust-lang/rust/issues/47777#issuecomment-361312349)

---

We are not giving a very good error message in this example:

[code]

[We say:](https://play.rust-lang.org/?gist=974c68bc5ca266189c7ae56e2f21c6a1&version=stable)

[code]

It'd be nice if we at least informed the user that they ought to annotate the type of `dirty_list`. (Indeed, I k

[2018-01-26 13:50] nagisa commented on #34557
This issue is about specifically redesigning the intrinsic. The intrinsic would be best off implemented as something that returns a tuple with all components, I think. The safe-wrapper would then put the data into fields of some named structure. It is true, that there aren't many intrinsics that would be as complicated as the structured `type_name` would end up being, so the implementation likely

[2018-01-26 14:35] varkor opened #47778 "Confusing arrow positioning on macro error message"
[code]
[code]
Results in:
[code]
The arrow in the first snippet is pointing to a blank snippet (it seems to the end of the line containing the module import).  I'm not sure what the ideal case here _is_, but this seems a little confusing.

[2018-01-26 14:37] nikomatsakis commented on #47511
@dtolnay

The point is that the **type** of the argument is not the trait inputs, it's the projection. i.e., the type is `<&'a Punctuated<T, P> as private::IntoIterator>::IntoIter` -- and that might very well be some type like `u32` once normalizes, so in that case `'a` would not be constrained in any way.

Still, as I said, the ordinary thing for us to do is to make lifetimes that meet this crite

[2018-01-26 14:38] nikomatsakis commented on #47511
I'll try to prep a full fix, I think, @dtolnay's example convinces me that this is a bug.

[2018-01-26 14:42] nikomatsakis commented on #47744
That doesn't quite seem like enough -- the type might be an `&` without the expression itself being a borrow expression. e.g., something like this:

[code]

But indeed that is one of the tricky bits here: the place where the error is reported is rather 'divorced' from the original source code. We might be able to consult the `cause` information to find out where the error came from, I suppose, and

[2018-01-26 14:50] nikomatsakis commented on #47628
I tried with no config.toml at all and still got basically the same timing for those two commits: 11.6s in both cases.

[2018-01-26 14:58] nikomatsakis commented on #47665
@cuviper I'm not sure that being generic affects their need for an inlining hint. It is true that those functions will be instantiated in the downstream crate, but I think they are still isolated into their own codegen unit. (ThinLTO is of course supposed to help here.) I'm not sure what's the best fix though.

[2018-01-26 14:59] alexcrichton commented on #47770
This is currently expected as ThinLTO doesn't optimize for program size as much as full-program LTO does. The defaults are switching back in https://github.com/rust-lang/rust/pull/47521, so this should be closed once that merges.

[2018-01-26 15:03] jasonhansel commented on #38873
I'd like this too! It would also be nice if stack traces had pretty (terminal) colors, perhaps with an extension to RUST_BACKTRACE.

[2018-01-26 15:05] nikomatsakis commented on #10389
It could be unsound, if it fooled `Any` into an incorrect downcast.

[2018-01-26 15:05] alexcrichton commented on #47611
Thanks for the confirmation @dotdash!

[2018-01-26 15:11] nikomatsakis commented on #43302
I agree we should stabilize. I have no strong opinion about which functions get the lint but I feel like it's ok if it's a lot, if that is useful. =)

@zackmdavis would you be up for preparing a stabilization report? Basically, include a brief summary of what the feature does, and what tests exist for each part of that (so we can verify that it is working correctly). Special attention to edge case

[2018-01-26 15:28] nikomatsakis commented on #47279
As a nit, I'm not sure it's worth actually building a set -- maybe return a `impl Iterator<Item = Local>`? A [`Local`](https://github.com/rust-lang/rust/blob/da569fa9ddf8369a9809184d43c600dc06bd4b4d/src/librustc/mir/mod.rs#L422-L426) is a newtype'd index -- basically a struct wrapping an index -- that identifies a local variable. You can for example do something like:

[code]

If you want to const

[2018-01-26 15:45] pnkfelix commented on #38686
I might claim that #39888 did not fix this in full generality.

Yes, the particular case where I filed this bug was one where the `rustc` invocation was failing, and thus `--on-fail` can be used to extract the state of the environment variables.

However, today I wanted to extract the `rustc` invocation in a case where that invocation was *not* failing, because I am investigating a code generation

[2018-01-26 15:46] cyplo commented on #43757
Tried reproducing but had trouble accessing original code, got 404 for the github link though - would it be possible to get a case as a playground link etc, or would that be hard ?thank you !

[2018-01-26 16:20] flier commented on #43757
sure, you can use [the commit](https://github.com/flier/rust-jit/commit/d4206d3a82f5c05533e17c8167da28d5481bade6) to reproduce the issue. It will cause  `rustc` hang

rustc 1.23.0 (766bd11c8 2018-01-01)
binary: rustc
commit-hash: 766bd11c8a3c019ca53febdcd77b2215379dd67d
commit-date: 2018-01-01
host: x86_64-apple-darwin
release: 1.23.0
LLVM version: 4.0

[2018-01-26 16:35] Gilnaa commented on #47566
Oh, didn't know this. This is not needed, but can you please elaborate?

[2018-01-26 16:35] #47566 closed

[2018-01-26 16:35] richfelker commented on #30378
Old issue, but for the record: musl treats DT_RPATH and DT_RUNPATH identically. Either is searched after LD_LIBRARY_PATH, and affects both direct and indirect dependency loading. So it doesn't matter which you use for musl targets.

[2018-01-26 17:34] estebank commented on #47744
The further removed the borrow is from the use location the less likely you're to be able to change it without breaking something else. If the type is copy or clone, I'd instead suggest using * instead. Also, I thought that even if it is a binding a ref or what have you, you can follow the Tys until you get to a TyAdt.

[2018-01-26 17:37] estebank commented on #47777
The only thing I'd add is that there are two cases, one where this error happens with a let binding, like in this case, where suggesting giving a type to the binding might be less surprising, and every other case, from having multiple collect to being a return, where the only place to add the type is in the method call itself.

[2018-01-26 17:39] pietroalbini opened #47781 "Old version (1.x) of the slog crate can't compile"
This was caught in crater thanks to [shadowsocks](https://crates.io/crates/shadowsocks) ([crater log](http://cargobomb-reports.s3.amazonaws.com/1.23.0-1.24.0-beta.3/beta-2018-01-13/reg/shadowsocks-0.6.2/log.txt)), which uses an old release of slog (1.0). This works fine on stable, but fails on beta and nightly.

[code]

cc @dpc

[2018-01-26 17:44] yodaldevoid commented on #44580
I would like to pick this up where @jplatte left off. I've been working away at this for a couple days now, going through @eddyb's mentoring instructions as I've had time just to see if I could get anywhere. I've gotten down to the "Use / Semantics" section at this point. I'll probably swing by one of the chats soon enough to ask questions.

[2018-01-26 17:56] dtolnay opened #47782 "Add ICH to the glossary in librustc/README.md"
librustc/ich/mod.rs defines it as "incremental compilation hash".

[2018-01-26 17:59] sfackler commented on #47755
It seems fine to just remove the sentence.
On Fri, Jan 26, 2018 at 1:32 AM Pulkit Goyal <notifications@github.com>
wrote:

[2018-01-26 18:00] pietroalbini commented on #47619
This also affects [spectral](https://crates.io/crates/spectral) ([crater log](http://cargobomb-reports.s3.amazonaws.com/1.23.0-1.24.0-beta.3/beta-2018-01-13/reg/spectral-0.6.0/log.txt)). cc @cfrancia
This also affects [vectors](https://crates.io/crates/vectors) ([crater log](http://cargobomb-reports.s3.amazonaws.com/1.23.0-1.24.0-beta.3/beta-2018-01-13/reg/vectors-0.1.0/log.txt)). cc @deepthought

[2018-01-26 18:04] dtolnay commented on #47781
I believe this is expected from the soundness fix in #45198. The fix exposed legitimately unsound use of fmt::Arguments in those versions of slog. We coordinated with the slog author to publish a fix in slog before landing the fix on the rustc side.

[2018-01-26 18:04] #47781 closed

[2018-01-26 18:14] kennytm commented on #47781
`shadowsocks`'s `slog` dependency needs to be updated from `~1.3` to [`1.7.1`](https://github.com/rust-lang/rust/pull/45198#issuecomment-342958940), or preferably to `2.1.1`.

cc @loggerhead.

[2018-01-26 18:17] kennytm commented on #47782
This should be added to https://github.com/rust-lang-nursery/rustc-guide/blob/master/src/glossary.md too.

[2018-01-26 18:22] pietroalbini commented on #47781
[bomgar/rust-oauth-proxy](https://github.com/bomgar/rust-oauth-proxy) ([crater log](http://cargobomb-reports.s3.amazonaws.com/1.23.0-1.24.0-beta.3/beta-2018-01-13/gh/bomgar.rust-oauth-proxy.0b11f6f12eb0d27afa8274a59ec67882d7a1a860/log.txt)) and [epage/relint](https://github.com/epage/relint) ([crater log](http://cargobomb-reports.s3.amazonaws.com/1.23.0-1.24.0-beta.3/beta-2018-01-13/gh/epage.relin

[2018-01-26 18:27] epage commented on #47781
Don't worry about relint atm.  Its not yet in a usable state and I've not been working to get it there with some of the other stuff on my plate.

If there isn't a nice way for you all to resolve it, I can do whatever you recommend to appease crater.

[2018-01-26 18:32] Eijebong opened #47783 "rustc fails to link when the main function is inlined"
This code fails to link:
[code]
 with this nice linker error message
[code]

Here's a playground link: https://play.rust-lang.org/?gist=1b615b6d4160594fbb4e61b198de1dda&version=stable

[2018-01-26 18:35] pietroalbini commented on #47781
If you don't plan to fix it it's fine: crater is currently marking it as regressed because it builds fine on stable but fails on beta, and after the next stable is released it should stop complaining about it.

[2018-01-26 18:36] alexcrichton commented on #47240
I've got an initial pass for adding an option to not run dsymutil at https://github.com/rust-lang/rust/pull/47784, and once that lands I plan to update Cargo to by default not run dsymutil

[2018-01-26 18:42] alexreg commented on #44580
@yodaldevoid Great to hear. I don't know about the Gitter, but you'll definitely get plenty of guidance on #rustc and/or #rust-internals on IRC!

[2018-01-26 18:56] bholley opened #47785 "Each usage of {:?} on usize appears to generate a separate adapater to core::fmt::Display"
I've been working on removing Debug implementations from Firefox release builds to improve code size. One common culprit is assert_eq!(), which generally takes integers, but formats them with {:?}.

I first assumed that this would probably call straight into Display, or at the very least instantiate a single adapter. Unfortunately, we appear to end up with one adapter per callsite, because the ada

[2018-01-26 19:05] kennytm commented on #47785
I think this is related to https://internals.rust-lang.org/t/changing-core-fmt-for-speed/5154.

[2018-01-26 19:16] dtolnay opened #47786 "Wishlist for libproc_macro"
I would like to record some API changes I would like to see in libproc_macro before we stabilize any of the new surface area. It would be best to give this a few months to collect more ideas, then batch these all up into one change that we can roll out across libproc_macro, proc-macro2, quote, and syn in a single round of breaking changes.

- [ ] Provide a way to have a Span that points to the clo

[2018-01-26 19:19] bluss commented on #47785
Have you managed to reproduce this in a relatively small program? How do we make an example where the adapter shows up more than once?

[2018-01-26 19:25] deontologician commented on #29641
@glaebhoerl So the best place to discuss this is default binding modes then? Is there much momentum there?

[2018-01-26 20:11] withoutboats commented on #10389
@nikomatsakis Right, I meant sorear's other examples (name mangling and such). The fact that this can cause a soundness bug separates it from other mishashes which would just result in a compiler error.

[2018-01-26 20:28] bholley commented on #47785
So I tried reproducing with [1], but it didn't work. I then had another look at the binary I've been analyzing, and it appears that I was mistaken about there being an adapter for every callsite. There are many adapters, but they seem to be spread through the code, at intervals of around 64k. Each instance is only referenced by code near to it, generally with an LEA.

So my guess is that LLVM is d

[2018-01-26 20:28] #47785 closed

[2018-01-26 20:32] bluss commented on #47785
It could be beneficial to #[inline] the `Debug` impls for all the integer types -- since they just call the Display `fmt`?

[2018-01-26 20:34] glaebhoerl commented on #29641
@deontologician Yes I'd think so (go ahead and drop a line there if the use case is important to you). Default binding modes itself (based on the tracking issue) is implemented but has a ways to go before stabilization; there hasn't been any "official" discussion about doing the thing I described, but a few people have seemed to agree that it seems like a promising direction to move in.

[2018-01-26 20:34] #47316 closed

[2018-01-26 20:34] #45662 closed

[2018-01-26 20:34] #45836 closed

[2018-01-26 20:34] #47563 closed

[2018-01-26 20:34] #44740 closed

[2018-01-26 20:34] #47611 closed

[2018-01-26 20:34] #47673 closed

[2018-01-26 20:34] #44367 closed

[2018-01-26 20:34] #47754 closed

[2018-01-26 20:34] #47364 closed

[2018-01-26 20:34] #38763 closed

[2018-01-26 20:43] bholley commented on #47785
That does seem worth doing, assuming it's not too hard.

[2018-01-26 20:44] deontologician commented on #29641
Yeah, looks like discussion of that part is picked up in https://github.com/rust-lang/rfcs/issues/2099 which doesn't have an RFC yet. I'll move my focus there, thanks!

[2018-01-26 20:47] rozaliev opened #47787 "Immovable generators and unsafe block"
Immovable generators require unsafe block, thus allowing every unsafe function inside generator to work. There is no way to say I want immovable generator, but its body should not be marked unsafe.

[code]

It can probably be fixed by adding new `ImmovableGenerator` trait and making creation of immovable generators safe.

cc @Zoxc

[2018-01-26 20:55] bbigras commented on #47758
I have a similar backtrace:
[code]

[2018-01-26 21:07] jonas-schievink opened #47788 "ICE when combining const (fn) and unions"
This code posted by @sfleischman105 in #24111 currently compiles:

[code]

With this suspicious (and wrong?) warning:
[code]

However, trying to use the `const fn` by uncommenting the line in `main` causes an ICE:
[code]

[2018-01-26 21:09] spastorino commented on #47267
Some numbers of @leonardo-m example, with and without this PR https://github.com/rust-lang/rust/pull/47766
I'm showing the average numbers after running `time rustc` several times.

Without PR
[code]

With PR
[code]

With PR, NLL turned off
[code]

So, there's still a lot to improve but getting closer :smile:

[2018-01-26 21:16] jonas-schievink commented on #24111
Can someone summarize what needs to be done for stabilizing this? What decision needs to be reached? Whether to stabilize this at all?

I've already commented on the gist, but given that `const fn` currently cannot be matched against in a pattern, this shouldn't block stabilization, right? We could always allow it afterwards if it makes sense.

[2018-01-26 21:42] nikomatsakis commented on #29947
@oli-obk thanks!

@rfcbot reviewed

[2018-01-26 21:47] alexcrichton commented on #47770
Ok I'm gonna close this now that https://github.com/rust-lang/rust/pull/47521 is merged but thanks regardless for the report @japaric!

[2018-01-26 21:47] #47770 closed

[2018-01-26 21:52] nikomatsakis opened #47789 "ICE when assigning to a static mut"
This code assigning to a `static mut` causes an ICE when run with `feature(nll)`:

[code]

[On the playground, I get this](https://play.rust-lang.org/?gist=8dc99192567ee379279930269f5c0362&version=nightly):

[code]

[2018-01-26 21:53] tailhook commented on #24111
But there might be `Instant::zero()` or `Instant::min_value()`  which is const.

[2018-01-26 21:54] nikomatsakis commented on #46036
Here is a test case that @bobtwinkles and I discussed on IRC:

https://play.rust-lang.org/?gist=f9b57ba12faa3e9bc8e4a4d523d58736&version=nightly

Right now, it ICEs, but it also ought to be reporting an error if this is all working correctly.

[2018-01-26 23:20] etaoins commented on #47788
The ICE can be reduced to:

[code]

[2018-01-26 23:22] retep998 commented on #47783
Looks like a simple case of lazy inline function instantiation applying in a case where it shouldn't. The fix should be just marking the function as "used" for the sake of instantiating it.

cc @michaelwoerister

[2018-01-26 23:33] bill-myers commented on #47708
This is correct as-is.

The operations on File take a shared reference because OS kernels are designed so that file APIs on the same file description can be called simultaneously from multiple threads without issue.

Changing it would make it impossible to translate useful C code into Rust.

[2018-01-27 00:16] petrochenkov commented on #47500
@alexcrichton
Yes, this is still an issue.

[2018-01-27 00:39] bholley opened #47792 "Mark Debug implementations for primitive types as #[inline]"
This should allow them to forward directly to the Display implementations without generating adapters.

See https://github.com/rust-lang/rust/issues/47785#issuecomment-360896774

[2018-01-27 00:43] estebank commented on #30790
Proposed output in #47791:

[code]

Still a bit verbose, but in my opinion a clear readability improvement.

[2018-01-27 01:10] estebank commented on #47778
CC #32072.

[2018-01-27 01:32] zackmdavis commented on #47775
Introduced in #46980. :cold_sweat:

I'm having trouble fully understanding the nom example, but [prior work suggests it's possible](https://github.com/rust-lang/rust/pull/15726/files#diff-d6c1a78a970f7c6174f36c924862b879R1436) to not lint macro-generated code, which I think is reasonable in this case.

[2018-01-27 01:45] thedodd opened #47793 "MIR: End-user description not implemented for field access on `TyGenerator...`."
Using nightly. Decent number of features enabled. Using `futures-await`. Attempting to use `map_err` on the result coming out of a call to `await!` seems to cause a panic.

### code
**Working code:**
[code]

**Broken code:**
[code]

Let me know if adding any additional type info here would be helpful.

### expectations
I expected to have the code successfully compile and be the same as the working

[2018-01-27 02:07] zackmdavis commented on #47775
I haven't been able to construct a minimal standalone example (which we would want in order to attempt a more fundamental fix before resorting to the lazy answer of just not linting macro expansions). The macro backtrace from nom is somewhat opaque:

[code]

[2018-01-27 02:21] bholley opened #47796 "derived Clone implementations for many-variant enums are unnecessarily large"
The derived Clone implementations in Firefox weigh 192k [1], which is a lot.

Of that 192k, 79k of that is just for PropertyDeclaration::clone. PropertyDeclaration is a very large enum, but most of the variants are simple POD types. Ideally Rust would coalesce those together, and then generate special cases for the types that need it. Unfortunately, it appears that adding a single non-POD variant

[2018-01-27 02:22] bholley commented on #47796
CC @dotdash @alexcrichton @Manishearth @eddyb @michaelwoerister

[2018-01-27 02:32] alexreg commented on #42448
@jseyfried Is anyone working on hygiene opt-out yet? If not, I'd be happy to give it a go, with your mentorship (although I admit I'm pretty inexperienced with the compiler).

[2018-01-27 02:36] alexreg opened #47797 "Using macro 2.0 to generate a module does not allow access to items"
I see no reason why the following code shouldn't work on the latest nightly,

[code]

yet I get an odd error.

[code]

Perhaps I'm missing something about how hygiene works in macros 2.0?

[2018-01-27 02:39] Manishearth commented on #47796
I was thinking about this earlier:

The current Clone thing works at macro expansion time; which means that we don't know what is and isn't Copy. Except for types defined in other crates.

One way to fix this would be to introduce `fn clone<T>(x: T)` to intrinsics and make Clone a lang item (it should be already, really, because `Copy: Clone`). This intrinsic is expanded during (post-monomorphizat

[2018-01-27 02:40] vi commented on #28179
Why is calling `#[no_mangle]` functions safe in the first place?

Also `#[no_mangle]` feels like a first step towards `#[naked]`, which should also require `unsafe` to be called.

[2018-01-27 02:52] estebank commented on #34353
Once #47613 gets merged, this can be trivially added.

[2018-01-27 02:53] Manishearth commented on #47796
An alternate way of doing it is to continue generating the match, but in a later MIR pass collapse all the copy arms into a memcpy. The pass is triggered by tagging the generated impl, and runs before other MIR opts. May be fragile, but I think it should work.

Needs to be post-monomorphization again but I think MIR is post-monomorphization anyway.

[2018-01-27 03:08] loggerhead commented on #47781
Thanks, I have changed the version of slog to fix this issue.

[2018-01-27 03:36] etaoins commented on #47788
The non-existent field warning can be reduced to:

[code]

It looks like using any field except the first will trigger the warning.

[2018-01-27 03:46] upsuper opened #47798 "Methods of floating point types are not available for #![no_std]"
The following code
[code]
doesn't compile. It reports:
[code]
but `core::num::Float` is not yet stable.

The implementations of the methods should probably be moved to `core` rather than staying in `std`.

[2018-01-27 04:02] upsuper commented on #47798
Looking at #27823, it seems they are intentionally moved out from libcore, so this issue is probably invalid.

[2018-01-27 04:02] #47798 closed

[2018-01-27 04:35] geofft commented on #28179
They can't do anything that normal functions can't do. And there isn't in theory any way to use them to violate safety (this issue is a bug; it would be totally fine in theory for `rustc` to fail to compile code with any symbol collisions in any objects, whether they come from Rust or from another language).

As far as I can tell, this is basically because naked functions have no guaranteed `ret`

[2018-01-27 05:19] vi commented on #28179
It's not the function itself that is unsafe but the call. The call to something unmangled is FFI-ish, therefore unsafe.

`#[naked]` functions are unsafe per se, so calls to them should be unsafe not directly, but as a consequence.

[2018-01-27 05:20] Zoxc commented on #45093
Fixed by #45337.

[2018-01-27 05:20] #45093 closed

[2018-01-27 06:00] dtolnay commented on #47797
Thanks! I believe this is a duplicate of #46342. The `BAR` defined in the macro is protected by hygiene 2.0 and cannot be named from the outside the macro. As a workaround, it should work if the name of `BAR` originates from outside the macro.

[code]

[2018-01-27 06:00] #47797 closed

[2018-01-27 07:57] bobtwinkles commented on #44698
I'm also a +1 on this issue, my apartment's ISP is shady and will route things in `10.255.255.0/8`. The documentation range works as expected, so it may be worth at least changing the test to use e.g. `192.0.2.2`. The test has some utility so I would feel bad recommending it just be removed, but perhaps disabling it on non-CI builds by default could be worthwhile?

[2018-01-27 08:01] matthiaskrgr commented on #7463
[code]

I was giving ````RUSTFLAGS="-C passes=lint" python x.py build```` a try and these are the kinds that I got:
[code]
[code]
[code]

While doing a debug crater build, (```` RUSTFLAGS="-C passes=lint" cargo build```` in crater repo) this showed up:
[code]

[2018-01-27 08:10] timClicks opened #47801 "The standard libary documentation renders some links as red, they feel like missing pages to me"
In the interests of improving the on-boarding experience for newcomers to Rust, I thought it would be worthwhile to share a personal anecdote of something that was a snag for my own learning.

Apparently I've been trained by Wikipedia/MediaWiki defaults to see red links and think they mean missing page. It took me an embarrassingly long time to realize that struct definitions are perfectly clickab

[2018-01-27 08:26] ritiek commented on #47789
cc @pnkfelix who wrote related code in #46887.

[2018-01-27 08:49] skade commented on #47709
This seems to be another instance of this issue.

https://github.com/AndyBarron/app-dirs-rs/issues/28

[2018-01-27 08:52] gw653 commented on #47758
Shorter code that triggers the bug:
[code]

[2018-01-27 09:36] nikomatsakis commented on #29149
cc @spastorino -- all the pieces are in place to fix this now, I think.  We should use this example:

[code]

we basically want to change this existing code:

https://github.com/rust-lang/rust/blob/5c41fcec4cd6e76180edb088a48914aa71612e5d/src/librustc_mir/borrow_check/nll/type_check/mod.rs#L376-L384

so that it invokes `prove_trait_ref` instead:

https://github.com/rust-lang/rust/blob/5c41fcec4cd6

[2018-01-27 09:45] eddyb commented on #47796
Wait, I thought this was about emtpy enum variants, not `Copy` vs not `Copy`.
FWIW you don't need interaction with intrinsics and we already have shims in the compiler for `clone` (specifically closures), so those could be made to work on enums.

And no, MIR is pre-monomorphization (it's what we run the MIR borrowck on, which limits its design).

Collapsing correctly is harder than not generating

[2018-01-27 09:53] Manishearth commented on #47796
No, it's about enum variants that contain only POD.

Can you point me to these shims? The reason I'm going through an intrinsic is that derive() is fundamentally an expansion step; we have to expand to _something_, even if it's a "fill this in later" placeholder intrinsic.

Oh, also, if we do this we need to check for types where the clone impl is a copy (or is autogenerated), since clone impls fo

[2018-01-27 10:04] ritiek commented on #47638
So, I was testing nightly toolchains and this has been a problem since:

[code]
The code compiles OK with previous day's nightly:
[code]

[2018-01-27 10:36] bluss commented on #47796
I just want to give a tip for a way to get clearer ASM/LLVM IR output on the playground, with no noise from formatting or main: [(playground link)](https://play.rust-lang.org/?gist=8e2b5c4ba3b5f90c11ca3fc23df03575&version=nightly&mode=release)

[2018-01-27 10:56] shingtaklam1324 commented on #47735
It seems pretty clear to me that the brush is the theme change button. However, I can see where the ambiguity would come from. The problem is with the design of the page, for example, on my 1920*1080 screen, the rendered image is only 17px*17px, which seriously limits the available designs.

Also the design of the web page currently having the theme switch being a drop down instead of a toggle swi

[2018-01-27 11:27] Marwes opened #47803 "item-bodies checking very slow when compiling lalrpop incrementally"
When compiling the lalrpop (https://github.com/nikomatsakis/lalrpop) crate rustc spends a very long time in item-bodies checking. This only happens when compiling incrementally for the first time but while incremental compilation is expected to increase initial compile times I don't believe a 30x increase can be expected.

## CARGO_INCREMENTAL=1
[code]

## CARGO_INCREMENTAL=0
[code]

For reference

[2018-01-27 11:38] SimonSapin commented on #44489
@Zoxc We can still propose changing RFC 2070, but a `Box<Any + Send + 'static>` payload for panics is already part of some stable APIs:

* In `std::thread::Result`, the return type of `std::thread::JoinHandle` and `std::panic::catch_unwind`
* As a parameter of `std::panic::resume_unwind`
* `PanicInfo::payload` and `std::panic::set_hook` are already stable

[2018-01-27 11:48] oli-obk commented on #47490
One could sort the variants by size, so you can just check whether the discriminant is in the large or small variant range and branch on that. You might even go branchless by computing the memcpy length from the variant as a formula instead of a lookup

[2018-01-27 12:12] Zoxc commented on #44489
@SimonSapin We could just pass a `NoPayload` struct for panics without payloads though. Anyway we don't need to repeat mistakes in libcore.

[2018-01-27 12:58] jdahlstrom commented on #33417
I'd like `!` to become enough of a vocabulary type so that `Result<_, !>` would be intuitively read as  "infallible result", or "result that's (literally) never Err." Using an alias (never mind a separate type!) seems to me a bit redundant and I can see it causing at least to myself a momentary pause when reading type signatures—"wait, how was this different from `!` again?" YMMV, of course.

[2018-01-27 13:04] nagisa commented on #47801
We certainly can change the colour to something else.

[2018-01-27 13:06] nagisa commented on #47801
Fixing this would involve changing [this](https://github.com/rust-lang/rust/blob/4cf26f8a133039bfeb5b9f684df9f547278db206/src/librustdoc/html/static/themes/main.css#L133) class (and the equivalent for the dark theme css) to some other colour.

[2018-01-27 13:12] PramodBisht commented on #47801
@nagisa I would like to take that up. Any suggestion what color I should use for both themes?.

[2018-01-27 13:14] nagisa commented on #47801
I’ve no opinions on the colour, other than that it should be distinct enough from the colours used for the other kinds of items.

[2018-01-27 13:24] tinaun commented on #47801
the color has always looked orange to me, perhaps make it slightly lighter?

[2018-01-27 13:29] kennytm commented on #47801
Changing the team from dev-tools/rustdoc to docs. This is more about a stylistic decision of the documentation.

[2018-01-27 13:44] Geemili commented on #42449
Is this still an issue?

[2018-01-27 14:04] Geemili commented on #31998
I just ran the example, and it appears that this is still a bug?

[code]

[code]

[code]

[2018-01-27 14:47] gw653 opened #47805 "unexpected panic"
Source:
[code]

Cargo.toml:
[code]

Result:

[code]

[2018-01-27 15:03] alexreg commented on #47797
@dtolnay Ah okay, thanks. Looks like we need hygiene opt-out desperately. Do you know the state of that?

[2018-01-27 15:12] varkor commented on #44580
@yodaldevoid: it'd be good to chat about this, as I've also been doing some investigation (I'm happy to step back, though — I always knew something like this would happen if I didn't comment earlier 😅): we could probably fill in the gaps in each other's work. (You can see what I've [done so far here](https://github.com/rust-lang/rust/compare/master...varkor:const-generics).)

[2018-01-27 15:28] steveklabnik commented on #47735
This was used to be consistent with https://doc.rust-lang.org/book/second-edition/

[2018-01-27 17:03] toralf opened #47808 "Rust make system should respect -j1"
The build system seems not to respect -j1 for make (origin report is https://bugs.gentoo.org/613794) :

# /usr/bin/pstree -Ulnspua 1038
init,1
  └─sudo,1026 /opt/tb/bin/chr.sh /home/tinderbox/run/17.0-no-multilib_libressl_20180124-193635 /bin/bash /tmp/job.sh
      └─chr.sh,1038 /opt/tb/bin/chr.sh /home/tinderbox/run/17.0-no-multilib_libressl_20180124-193635 /bin/bash /tmp/job.sh
          └─su,11

[2018-01-27 17:07] Manishearth commented on #47796
Oh, btw this can't be done for partialeq. derive(Clone) is allowed to copy Copy things (even if Copy fields have a different Clone impl), but PartialEq doesn't work the same way. Comparing things like enums for example involves comparing specific bits (other bits may get reused).

[2018-01-27 17:35] eddyb commented on #47796
Also note that `memcmp` (for `PartialEq`) would do the wrong thing on padding, unlike `memcpy`.

[2018-01-27 17:38] kennytm commented on #47808
It should work if you pass `-j1` to the `./x.py` invocation.

[2018-01-27 17:46] aturon opened #47809 "Tracking issue for RFC 2091: Implicit caller location"
This is a tracking issue for the RFC "Implicit caller location" (rust-lang/rfcs#2091).

**Steps:**

- [x] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [x] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilizat

[2018-01-27 18:01] dtolnay commented on #47638
https://github.com/rust-lang/rust/compare/5041b3bb3d953a14f32b15d1e41341c629acae12...33374fa9d09e2a790979b31e61100dfed4b44139 then, almost certainly something in #45225. @eddyb

[2018-01-27 18:16] eddyb commented on #47638
@dtolnay I introduced it for this specific case, yeah, but it's a long-standing bug AFAICT (#36744).
We have some hacks when doing stores and calls, at least, but it's not ideal.
I'm hoping @nikomatsakis can confirm and knows of a better direction for #36744.

[2018-01-27 18:27] eddyb commented on #47809
This refers to `impl` of a `trait`, not the declarations within the `trait`, right?

IMO the easiest way to implement this involves no procedural macros or MIR passes.
We'd just pass extra arguments on direct calls, and require a shim to get function pointers of the function. That would also surely work with trait methods, since it'd be post-monomorphization.

To explain, the shim (which we may al

[2018-01-27 18:36] bholley commented on #47796
@Manishearth I'm guessing this could end up saving ~100k in libxul, which is a reasonably big fish as far as these things go - even ignoring the impact on performance, build time, and everyone else in the ecosystem. If you can put in a week or so to make this work, I think that's very much worth doing from a Firefox perspective. If you think it's measured in months, we should evaluate the tradeoff

[2018-01-27 18:36] dtolnay commented on #47797
Yep the hygiene opt-out is tracked in #39412 where it talks about "hygiene bending".

[2018-01-27 18:37] CodeSandwich commented on #45840
I love the idea of collecting into an existing collection, but for another reason: ergonomics. I've proposed something similar on [Rust user forum](https://users.rust-lang.org/t/pre-rfc-iterator-extend/15278/3).

I think, that the function (`extend_into`?) should accept collections as `BorrowMut` to allow passing them as references. Also it could return the passed collection to allow nice chaining

[2018-01-27 18:46] Badel2 opened #47811 ""Unreachable pattern" warning could be an error"
Why is "unreachable pattern" a warning and not an error? I found some discussion in the PR: https://github.com/rust-lang/rust/pull/19115 but that was in 2014.

I'm specially concerned about the following use case: [Playground](https://play.rust-lang.org/?gist=47d0b46906b29e12c4499d053c73cd5a&version=stable)

[code]

That code throws 8 warnings at me, but I would prefer it to not compile. [I also f

[2018-01-27 18:47] eddyb commented on #47796
Only if it has to go through the RFC process, otherwise it's a few hours / days of hacking unless you're trying to implement an after-the-fact optimization.

We already have something (used for `Clone` closures - @Manishearth is already looking into it) but it's pre-monomorphization - I hope you don't need this with type parameters. It'd be quite wasteful to have more than one MIR `Clone::clone` s

[2018-01-27 19:57] dtolnay opened #47812 "Regression in error message when a custom derive panics"
Between nightly-2018-01-26 and nightly-2018-01-27 the error message for a custom derive panic got worse. This is the range https://github.com/rust-lang/rust/compare/9fd7da904...bacb5c58d. Mentioning @Zoxc because #47634 sounds relevant.

##### `src/main.rs`

[code]

##### `src/lib.rs`

[code]

#### Before:

[code]

#### After:

[code]

[2018-01-27 20:44] penpalperson commented on #47792
Hey, I'd like to take this. Should I just put an `#[inline]` before each `fmt` function of the `Debug` impls for primitives?

[2018-01-27 21:37] Aaron1011 commented on #47722
I'd like to take a look at this.

[2018-01-27 22:13] rlupton20 opened #47814 "Rust compiler panics when trying to reference impl-ed constants with Self"
**EDITED**: MCVE is here: https://github.com/rust-lang/rust/issues/47814#issuecomment-361035984

I tried to compile the following, which caused the rust compiler to panic.

[code]

The following compiles just fine:

[code]

The error message:
[code]

And running again with verbosity and backtrace:

[code]

Running nixos 17.09 using rust nightly installed using the mozilla nixpkgs overlay. It's abo

[2018-01-27 22:20] oli-obk commented on #47364
:( I have no clue what is happening, but this is the only test in all of `run-pass` that is failing on stage 1 in #46882 and it's failing with "index out of bounds: the len is 4 but the index is 2"

all run-fail tests are passing, all compile-fail tests are passing, all ui tests are passing and all run-pass tests except for this one are passing. Any tips?

[2018-01-27 22:41] #46885 closed

[2018-01-27 23:04] Aaron1011 commented on #47722
Explicitly casting `self` to `*mut AutoGCRooter` fixes the issue: https://play.rust-lang.org/?gist=15c060db3de0a3212c3ab2b2a3d32b30&version=nightly

[code]

My guess is that there's an issue with the automatic coercion from `&mut self` to `*mut self`. I'll investigate further.

[2018-01-27 23:12] eddyb opened #47815 "Allow using Fn(A, B, C) -> _ for unconstrained FnOnce::Output."
`Fn(A, B, C) -> R` desugars to `Fn<(A, B, C), Output = R>` currently.
`Fn(A, B, C) -> _` could easily desugar to `Fn<(A, B, C)>`.
This form would make it easier to be generic over the return type without having to specify it as another generic parameter (which is worse in type definitions than `impl`s, as it leaks to users).

cc @eternaleye (who suggested it) @nikomatsakis @withoutboats @Centril

[2018-01-27 23:16] phaazon commented on #33417
@jdahlstrom I totally agree. We’d need to introduce that in the Rust book or the nomicon so that it’s “ground truth” and friendly.

[2018-01-27 23:57] oli-obk commented on #47364
sorry about the noise, it was just x.py failing to build the new llvm

[2018-01-28 00:59] devurandom commented on #40717
I ran into the same issue building rustdoc_tool_binary of Rust 1.23.0 (LLVM 4.0.1 in /usr/lib/llvm/4): [rust-1.23.0.build.log](https://github.com/rust-lang/rust/files/1670310/rust-1.23.0.build.log)

The work-around from https://github.com/rust-lang/rust/issues/40717#issuecomment-288249767 got me past this issue: https://github.com/devurandom/gentoo-overlay/commit/11651bee62b0a38b66a8826b27c361de5f

[2018-01-28 01:24] Manishearth commented on #47796
@bholley yeah the impl work shouldn't take long. Pushing for it through the RFC process, as Eddy says, might.

Post-monomorphization would be nice, but harder to achieve. Right now we directly hand off to LLVM during monomorphization so inserting more stuff there may not be great). All this means is that if you `derive(Clone)` a generic enum, variants containing generic types will be assumed to no

[2018-01-28 01:25] CAD97 opened #47816 "unreachable_pub lint ignores nested re-exports"
Playground: <https://play.rust-lang.org/?gist=d9e9fe07b83f07a3f9b908c0c7405a99&version=nightly>

[code]

[code]

-----

[code]

[code]

-----

A single level of re-export works:

[code]

[code]

[2018-01-28 01:54] SimonSapin commented on #47796
(Slightly off-topic for this issue: for other method like `PropertyDeclaration::id` I’ve been pondering whether we’d be better off making `PropertyDeclaration` a tagged union rather than a Rust enum. For `Clone` though that won’t help us much, unless maybe if we add Python/macro-level data for which properties’s values are known/supposed to be `Copy`.)

[2018-01-28 02:40] aneeshusa commented on #42867
@luser I'd definitely be interested in trying out the latest in Servo CI! If you cut a new release (or even a pre-release/beta since we're testing) and we can grab some new binaries, we can give it a whirl.

[2018-01-28 03:40] #43061 closed

[2018-01-28 03:44] dtolnay commented on #47814
This still crashes as of the most recent nightly. Self-contained repro:

[code]

Mentioning @eddyb who added this assertion in #41914.

[2018-01-28 03:59] dtolnay opened #47817 "Unhelpful rustdoc [src] link for struct generated by macro"
In https://github.com/dtolnay/syn/issues/304 we have a macro_rules macro that adds some derive attributes to most of our syntax tree structs. Conceptually it looks like this:

[code]

In our case the macro definition and invocation are always in different files but the code above is sufficient to reproduce the issue. If you document this code with `cargo doc`, the [src] link at the top of *struct.

[2018-01-28 04:21] Zoxc commented on #47812
It is indeed caused by #47634 where rustc no longer swallows stderr. This does seem desirable to me however and helps track down the bug in the plugin. How would you get panic backtraces on stable?

[2018-01-28 04:26] dtolnay commented on #47812
It is not a bug in the plugin -- panicking is the intended way for custom derives to report errors to the user.

[code]

[code]

Showing the line number within the custom derive at which the error was detected is unnecessary and unhelpful.

[2018-01-28 05:56] shisoft commented on #46415
After updated to the latest nightly rust. The error message have been changed.
This reminds me that it is not related to generator at all. The overflow was caused by recursive type inference.
For the `futures-await` await case, just change your `#[async]` to `#[async(boxed)]` to make the return value a concrete type instead.
In the generator case, try this one
[code]

[2018-01-28 07:52] yodaldevoid commented on #44580
@varkor It looks like you are further ahead than I got. I would certainly be willing to collaborate. I'll try to grab you on IRC at some point and in the mean time see if I've gotten anything done that you haven't already.

[2018-01-28 08:48] eddyb commented on #47815
It already means that and you can already do this in a function body, just not in signatures, type definitions, etc.

[2018-01-28 08:49] Emerentius opened #47819 "conditionally compile contents of debug_assert!"
The question came up in IRC why you cannot use a function annotated with `#[cfg(debug_assertions)]` inside `debug_assert!()` without compile error in release mode. This is because the macro is defined via
```if cfg!(debug_assertions) { assert!(..) }```
so it's always compiled but only called in debug builds. It could however just as well be defined as
```#[cfg(debug_assertions)] { assert!(..) }```

[2018-01-28 08:59] Centril commented on #47815
True =)

Do we want to set that precedent in signatures and type definitions?

Would this be valid eventually?
[code]

What about:

[code]

[2018-01-28 09:26] eternaleye commented on #47815
Personally, I view this as arising from the `Fn(T) -> U` sugar having put an 'output' type in the unfortunate position of _appearing_ to be an input type.

(The historical reasons for this, AIUI, come down to [closure traits](https://github.com/rust-lang/rfcs/blob/master/text/0114-closures.md) predating [associated items](https://github.com/rust-lang/rfcs/blob/master/text/0195-associated-items.md)

[2018-01-28 09:27] phansch commented on #47801
fwiw, I picked up Rust ~2 months ago and initially had the same thought when reading Rust documentation with lots of red links 👍

[2018-01-28 09:32] andreytkachenko commented on #46114
I've also hit this bug

[2018-01-28 10:03] petrochenkov commented on #47815
I'd rather support the more general transformation `S<T, AssocTy = _>` -> `S<T>` in signatures than a special case for the `S(T) -> U` sugar.

Note that in bodies `Fn(A, B, C) -> _` already has well-defined behavior (`_` is a new inference variable) and changing it is a breaking change.
[code]

[2018-01-28 10:05] eddyb commented on #47815
@petrochenkov The desugaring change I'm proposing is only valid for trait bounds, not trait objects.
I'll edit the description.

[2018-01-28 10:13] bobtwinkles commented on #47055
This is fixed in 2018-01-27 nightly and commit 7d6e5b9da0:
[code]
The smoke test mentioned by @pnkfelix builds and runs as well, so I'm going to close this. Thanks for the report @daboross!

[2018-01-28 10:13] #47055 closed

[2018-01-28 10:21] eddyb commented on #47796
For generic enums, we again have a very important distinction, in whether the many-variant enums are generic over `Copy` types or just *contain* values of other generic types, instantiated at `Copy` types (the latter is much easier).
Oh and if you're generic but *always* over `Copy` types, `T: Copy` bounds (or any other trait implying `Copy`) would also work (with a MIR shim at least).

[2018-01-28 10:35] gnzlbg commented on #47490
Since we know the size of the enum at compile-time, we can just do full memcpys for enums whose maximum size is smaller than X, and use the formula otherwise.

[2018-01-28 10:38] eddyb commented on #47814
@dtolnay That was confusing at first, heh - the multi-line `assert_eq` message which doesn't split custom messages on their own line doesn't help at all (can we split it off?).

So what's happening is the length expression is using a generic parameter in its outer scope. This hasn't ever been supported, *but* it's extremely obnoxious to prevent - we *could* ban `Self` in `rustc_resolve` but that a

[2018-01-28 10:38] SimonSapin commented on #47796
Some of the variants of `PropertyDeclaration` have fields that contains (concrete instantiations of) generic types, but it is not generic itself.

[2018-01-28 10:42] #45799 closed

[2018-01-28 10:54] oberien opened #47820 "Incremental Compilation needs to rebuild everything when feature gates are changed"
Given this example:

main.rs
[code]

foo.rs
[code]

Without the feature gate `nll`, `foo::foo` won't compile, because `vec` is borrowed by `vec.push` which doesn't allow `vec.len` to borrow it again. With `nll`, this is solved and the code compiles.
With the annotation in main.rs, `cargo build` will build everything just fine.
After a successful build if we remove `#[feature(nll)]` and execute `ca

[2018-01-28 10:59] Marwes opened #47821 "unsupported cyclic reference between types/traits error only when implicitly using associated type"
[code]

[2018-01-28 11:07] oberien commented on #47820
Oh wait, this belongs to cargo, doesn't it?

[2018-01-28 11:25] Manishearth commented on #47796
Yeah this is also enums with possibly-copy types in their generics. The main one that's problematic isn't of this type, but various generic property enums are. I think assuming all generics are !Copy is a good first step.

[2018-01-28 11:28] eddyb commented on #47796
You don't get a choice if you work at the MIR level - if a bound implies `T: Copy`, generic types will appear copyable. It's more manual at the syntactical level, but we're not doing that, right?

[2018-01-28 11:30] Manishearth commented on #47796
Yeah, I mistyped and edited that, meant to say "good enough solution for most of the problem"

[2018-01-28 11:55] jonas-schievink commented on #47819
A problem with this is that code inside `debug_assert!` will no longer be type-checked when assertions are off, which is a nice reason to prefer `if cfg!` in user code.

[2018-01-28 14:37] bluss commented on #47819
Here's a link to previous discussion, just to find out where in compilation the dead branch is removed. It should be removed in the mir passes, which is before monomorphization and codegen, IIUC, so we already save most of the compilation effort correctly.

https://botbot.me/mozilla/rustc/2017-11-25/?msg=93905257&page=3

[2018-01-28 14:59] itaibn opened #47823 "Error deriving PartialEq in a struct with Box<Trait>"
Code:
[code]
Output:
[code]

Three problems:

* The compiler reports that there are two errors, but it only lists one. (This problem does not appear in the current Nightly compiler, only in Beta and Stable.)

* The error message doesn't fit with the span provided. This error is usually associated with a statement or expression but here is given for a struct component.

* I don't see why the derive

[2018-01-28 15:42] gaurikholkar commented on #47319
I guess we go with the `DefId` then @estebank ?

[2018-01-28 16:17] #47788 closed

[2018-01-28 16:35] Mark-Simulacrum commented on #47808
I seem to recall there being no way to determine what -j argument was passed to make in a program spawned by it.

[2018-01-28 17:05] Zoxc commented on #47812
I see that the RFC uses panics as a temporary way to report errors. We do still want to report the backtrace if desired though.

cc @rust-lang/compiler

[2018-01-28 17:33] kennytm opened #47825 "rustc ICE when compiling a dylib/cdylib for aarch64-apple-ios"
Repro:

[code]

The same happens for 1.23-stable.

[2018-01-28 17:44] rkarp commented on #30027
Interestingly, the `windows-gnu` toolchain can link DLLs directly, without the need for any import libraries. You can test this by renaming `libkernel32.a` in the `...lib\rustlib\x86_64-pc-windows-gnu\lib` subdirectory of your toolchain. You'll get a `ld: cannot find -lkernel32` error when linking. If you then copy `kernel32.dll` from `c:\windows\system32` to `lib` the build will work again. I've

[2018-01-28 18:10] dtolnay commented on #39128
Same thing for `Box<Trait>` as reported in #47823.

[code]

The generated code looks like:

[code]

[code]

[2018-01-28 18:12] dtolnay commented on #47823
Thanks! I left a comment in #39128 (originally reported for `Arc<Trait>`) that the same bug happens for `Box<Trait>` as well.

[2018-01-28 18:29] GabrielMajeri commented on #30027
@rkarp this has been [brought up before](https://github.com/retep998/winapi-rs/issues/478#issuecomment-314721165). It doesn't work if you're cross-compiling (since you don't have those DLLs), or you're targeting a newer version of Windows (so your DLLs lack some specific export), or you *need* an API exported through an ordinal.

[2018-01-28 18:38] kennytm commented on #45222
Referring to the example in https://github.com/rust-lang/rust/issues/45222#issuecomment-335998038, the first code is recognized by LLVM loop-vectorize, while the second doesn't.

[code]

After vectorization the `..` loop becomes just `a * (a+1) / 2`, which explains the huge time difference.

If we black-box the `j` in `count += j` when benchmarking, the result becomes more realistic (2.6× slowdown

[2018-01-28 18:54] #46504 closed

[2018-01-28 19:11] alexcrichton commented on #46339
Upon more recent testing I believe this isn't actually fixed in LLVM 5 (an LLVM assertion still trips). To help consolidate though I'm going to close this in favor of https://github.com/rust-lang/rust/issues/46367 which I believe is the same issue.

[2018-01-28 19:11] #46339 closed

[2018-01-28 19:12] alexcrichton commented on #46443
I'm gonna close this in favor of https://github.com/rust-lang/rust/issues/46367 which I believe is the same iss as this, in general wasm at opt-level=0 isn't working right now.

[2018-01-28 19:12] #46443 closed

[2018-01-28 19:12] alexcrichton commented on #47776
I'm gona close this in favor of https://github.com/rust-lang/rust/issues/46367 as I believe it's the same issue as that, but thanks for the report!

[2018-01-28 19:12] #47776 closed

[2018-01-28 19:19] Zoxc opened #47830 "Incorrect use of traits::SizedReturnType"
https://github.com/rust-lang/rust/blob/771873c84137842c78cfc39625613b95867d21ef/src/librustc/infer/anon_types/mod.rs#L630

There is no `return` in sight here.

[2018-01-28 19:26] Aaron1011 opened #47831 "test/run-make/libtest-json depends on external environment variables"
In order for the output of `f.rs` in `test/run-make/libtest-json` to match `output.json,` `RUST_BACKTRACE` needs to be unset in the environment of `x.py`. It should be possible to run `x.py` test without worrying about about environment variables causing tests to erroneously fail.

[2018-01-28 19:37] Zoxc commented on #45845
This appears to be fixed.

[2018-01-28 19:37] #45845 closed

[2018-01-28 19:42] pkgw commented on #41253
I see this when running `rustc` on a fake PowerPC processor using qemu. The current nightly (`rustc 1.25.0-nightly (7d6e5b9da 2018-01-27)`) seems to succeed much more often than 1.24, but I still find crates where this error occurs repeatably.

[2018-01-28 19:50] Zoxc commented on #46415
This now gives the following error, which is still not particularly great.
[code]

[2018-01-28 19:58] Zoxc commented on #46415
Recursive closures also give a similar error:
[code]
[code]

[2018-01-28 19:59] kennytm commented on #47830
`SizedReturnType` was introduced in #42850. Previously it was `ReturnType` introduced in #35091 (https://github.com/rust-lang/rust/commit/d92e594c3801a8066f95305c87e53a7ecfb24e9b#diff-1d1b0d29a2e8da97c6bfb6e364d920c7R1652)

[2018-01-28 20:14] aweinstock314 commented on #29602
I'm using this in https://crates.io/crates/prefetch, as mentioned; I'm also using it (through https://crates.io/crates/llvmint) in https://github.com/aweinstock314/libgarble-rust for AES-NI (inline assembly was generating suboptimal assembly relative to intrinsics). I don't think my usage depends on them being eventually stabilised, so the `_internals` feature flag would satisfy my usage.

[2018-01-28 20:16] gnzlbg commented on #29602
The AES-NI intrinsics might become stabilized in the future via `stdsimd` (see https://github.com/rust-lang-nursery/stdsimd/issues/295). The `stdsimd` crate provides some prefetching intrinsics already, but maybe the LLVM prefetch intrinsic should be exposed in `core::intrinsic`.

[2018-01-28 20:24] estebank commented on #47319
As things stand, I believe that will be the best bet. Could you try and see how hard it would be to add a `HashMap<DefId, Span>` for param ids to, I'm guessing `tcx`?

[2018-01-28 20:46] estebank commented on #18150
Related: #47774.

[2018-01-28 20:49] estebank commented on #24354
Related to #47319. Once that ticket is fixed, pointing at `BImpl` becomes feasible.

[2018-01-28 20:54] #21513 closed

[2018-01-28 20:56] estebank commented on #27435
[Current output](https://play.rust-lang.org/?gist=eec46df7bf9330a34d5524b6c925130a&version=nightly):

[code]

[2018-01-28 22:02] Aaron1011 commented on #47722
It turns out you can remove one layer of indirection and still get the same error:

[code]

[2018-01-28 22:03] #35067 closed

[2018-01-28 22:12] pkgw commented on #41253
Compiling in release mode avoids the problem for me.

[2018-01-28 22:24] estebank commented on #30257
Current output:

[code]

[2018-01-28 22:55] Mark-Simulacrum commented on #47639
@rust-lang/dev-tools Can someone investigate and see if we can fix this?

[2018-01-28 23:30] Mark-Simulacrum commented on #47742
We weren't compiling crates.io in either release or debug mode because `ring` failed to compile, after https://github.com/rust-lang/rust/pull/47298 was merged in the rollup PR crates.io began compiling, and so the summary numbers jumped up. I'm going to close this issue as nothing to be worried about. I'm working on a patch that'll allow this to be more visible in the compare view (instead of just

[2018-01-28 23:30] #47742 closed

[2018-01-28 23:32] mrhota commented on #29947
@oli-obk @nikomatsakis in order to stabilize, don't we need at least an open PR on rust-lang-nursery/reference documenting the to-be-stabilized feature? [The Unstable Book](https://doc.rust-lang.org/nightly/unstable-book/language-features/const-indexing.html) hardly even has anything about this.

[2018-01-28 23:35] mrhota commented on #29947
you also need a PR on the unstable book removing the page about this feature

[2018-01-28 23:36] Mark-Simulacrum commented on #47755
Fixed by https://github.com/rust-lang/rust/pull/47800.

[2018-01-28 23:36] #47755 closed

[2018-01-28 23:55] nrc commented on #44494
Hmm, this feature has only been implented for two months - that seems a pretty short stabilisation period. I don't have a strong objection to stabilising, but I don't feel a rush to either - this has always felt like a marginally useful bit of syntax sugar, with some added complexity in exchange.

[2018-01-29 00:22] vi commented on #30257
It is better.

Hovewer, `Iterator`-specific error message may still help (it should add to, no replace the current output).

[2018-01-29 00:40] nrc commented on #43606
You should just be able to make an executable which looks like:

[code]

And then run that executable as a drop-in replacement for rustc.

[2018-01-29 00:41] nrc commented on #43606
@staktrace ^

[2018-01-29 01:52] nrc commented on #34481
Jotting down my recent thoughts on testing the save-analysis output (we still have nothing beyond the smoke tests in run-make):

Requirements:
 - test arbitrary code
 - test that info appears in the save-analysis output
 - don't require exact text match of save-analysis output
 - test that info appears at a given location (can assume non-macro to start with)
 - associate a def and ref (possibly in

[2018-01-29 02:09] Riamse commented on #32311
It would be nice if you could make it a trait instead of a directly implemented method so that you can see if a range contains a number without having to worry about whether it's a RangeFull, Range, RangeFrom, etc. It would enable you to do something like

[code]

[2018-01-29 04:00] est31 commented on #30027
👍  to this. This will help lowering the entry level into rust development on windows because once we ship lld, and we figure out a solution for CRT, you won't need to install anything any more beyond the rust toolchain itself. It will also make cross compiling *to* windows easier from other platforms.

[2018-01-29 07:07] dtolnay commented on #28940
We decided against making this change in #46799. https://github.com/rust-lang/rust/pull/46799#issuecomment-361156935 proposes possible next steps for handling this better in an external crate.

[2018-01-29 07:07] #28940 closed

[2018-01-29 07:33] CAD97 commented on #47706
@estebank [panic still occurs with `NodeTraitItem` (trait default fn)](https://play.rust-lang.org/?gist=caf004c4033c5cecd37fce1eed9370ff&version=nightly)

[code]

<details><summary>Stack Trace</summary>

[code]
</details><br>

[2018-01-29 07:50] #46819 closed

[2018-01-29 08:31] stevedonovan commented on #47619
Yes, it's foolish to depend on exact `Debug` representations, and I will fix accordingly. There was a similar situation in Lua 5.3 when the default formating for floats changed - broke a lot of naive code.

[2018-01-29 08:42] gnzlbg commented on #26179
From [P0479r2](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2017/p0479r2.html):

* It seems that `likely`/`unlikely` are particularly widely used in systems programming (linux kernel and web browsers: Firefox and Chrome).
* the optimization hints can be used to improve/degrade performance up to 40% on synthetic examples (two examples are studied), and to a much lesser extent on real projects

[2018-01-29 09:22] GuillaumeGomez commented on #47639
I'll give it a look.

[2018-01-29 09:55] Memnarch commented on #30027
wait a sec, it's that easy to add IData in LLVM? I have been searching for this way to long, as i want to write a little toy pascal frontend for LLVM and (object)Pascal naturally comes with this kind of specifying imports (internalname, dllname, externalname).

Seems that ticket helped accidentally, too :D

[2018-01-29 10:36] Emerentius commented on #47819
I don't think compilation effort was a big issue in the first place. `debug_assert!()` is mostly used with little code snippets. This is more about meeting expectations. It is somewhat surprising that code that is guaranteed to be available in a debug build will still cause an error in release mode when used inside a `debug_assert!()`.

`cargo check` does typecheck with debug_assertions by default

[2018-01-29 10:42] dotdash commented on #47674
Works for me using `rustc 1.25.0-nightly (21882aad7 2018-01-28)` which contains the LLVM upgrade.

[2018-01-29 10:42] #47674 closed

[2018-01-29 11:15] lyrachord opened #47847 "throw away rustup-init.exe"
Yes, it's complaining. Without it, no growth.

I downloaded rust msvc zip package. NO manual tells me the ENV.
Fine, run rustup-init.exe. It's dummy no customizer, it mess my c disk.
After hello, I try to find the rust install directoy, no result.

I think it's a big wrong.
I just hate the lnx console, my CmdEmu is great.
There are many people like me. We are members of the community. IAW we are g

[2018-01-29 11:22] davidtwco commented on #47703
@nikomatsakis I would appreciate some pointers on where I should be looking for this, couldn't spot anything when I took a look at what was happening in the areas of the code that I'm familiar with. Not worked with the NLL code much.

[2018-01-29 12:48] nagisa commented on #47847
Standalone installers for rustc can be found on [this page](https://www.rust-lang.org/en-US/other-installers.html#standalone).

[2018-01-29 12:49] eddyb opened #47849 "Thin out rustc_codegen_llvm dependencies."
I'm working on `rustc_mir` and `rustc_codegen_llvm` gets rebuilt even though it barely uses anything.
cc @oli-obk @michaelwoerister Can we do this long-term given #46882 and any other plans?

[2018-01-29 13:06] rkruppe commented on #47819
It seems strange to have some definitions available or not depending on debug_assertions (as opposed to, say, target OS or architecture).

[2018-01-29 13:06] Boscop opened #47850 "Wrong error: cannot move out of captured outer variable in an `FnMut` closure"
[code]
https://play.rust-lang.org/?gist=4ce6948a92c2fcb281b3cade8574691d&version=nightly

But the second case should work too!

[2018-01-29 13:20] vi commented on #40363
Thinking about implementing this.

[2018-01-29 13:21] kennytm commented on #47850
It works if you change the FnMut to FnOnce.

[2018-01-29 13:38] lyrachord commented on #47847
@nagisa Thanks, that's not my point. I downloaded the dummy zip from there before rustup-init.exe.

The key of this issue is to give a hint to PM, the management and the care for user are important, are they? If not, why is there a rust?  Just because of old school C/C++? Fine, If there is no care, may another rust called fr is come.

What Jack Ma says, If no change, I change you. Yes?

I hope the

[2018-01-29 13:45] #47602 closed

[2018-01-29 13:46] nikomatsakis commented on #47628
cc @rust-lang/compiler -- can someone else try to reproduce from source?

[2018-01-29 13:56] Boscop commented on #47850
But why can't it also work with FnMut?

[2018-01-29 14:25] oli-obk commented on #47849
should be possible...

things left to do after #46882

* rustc_mir::interpret::{read_target_uint, const_val_field};
* rustc_mir::monomorphize
    * Instance
    * resolve_drop_in_place
    * resolve_closure
    * item::*

[2018-01-29 14:29] pnkfelix commented on #47381
Okay so here's what I've found after much investigation (and learning how to get Visual Studio Code to do various breakpoint machinations):

Stepping through the instructions, it seems like the essential problem is arising from a miscompiled instruction sequence corresponding to an inlined call to `rustc::tylayout::Integer::fit_signed`. here's the definition for that method, for reference:

[code]

[2018-01-29 14:39] pnkfelix commented on #44305
See also #38686

[2018-01-29 14:41] pnkfelix commented on #38686
Here's a simple diff that solves my problem completely, and I suspect is sufficiently low impact (since I think it would only affect people using `RUSTC_VERBOSE=1` ... and maybe those using `-vv`?) that I am tempted to put it up as a PR:

[code]

[2018-01-29 14:45] pnkfelix commented on #47381
This bug is especially scary to me given that we are currently making policy decisions about whether to turn ThinLTO on or off based solely on the compile-time/codesize impact, without any discussion of risk related to its correctness?

Of course I understand that compiler bugs are a fact of life (including in LLVM), but it might be better to have a uniform policy everywhere, so that when a bug *d

[2018-01-29 14:53] staktrace commented on #43606
@nrc Thanks. I think hooking that into taskcluster is probably nontrivial (at least for me) as I would have to create a custom toolchain and override the compiler being used. I think for now I'll continue using the nightly rustc since that's easier and I have it working, but I would still really like having the -Zsave-analysis option in rust stable.

[2018-01-29 14:59] nagisa opened #47851 "impls should not inhibit the unused_item lint"
[code]

This code emits no warnings because `impl Clone for Foo` is considered a "use" of the enum, however, implementation for this enum cannot possibly be used either, as the enum is private and is unused. This is more notable for `derive`d implementations, which also inhibit this lint.

The inherent implementations behave as expected.

[2018-01-29 15:08] matklad opened #47852 "ICE on stable 1.23 during constant evaluation"
Reproduction (not-minimized)

[code]

[2018-01-29 15:11] matklad commented on #47852
I think the following line is to blame: https://github.com/matklad/exonum/blob/d7d6a20ca176efb3c1379f9d64a2d25b660291fe/exonum/src/messages/protocol.rs#L41

It should be an error, because the `message_id` function is not const fn

[2018-01-29 15:28] RalfJung commented on #44698
I talked to our network admins and now have an explanation for the behavior described above: It seems that the firewall I am behind actively **blocks** traffic to/from reserved ranges, including the RFC 5737 documentation range. For TCP connections, "blocking" involves sending an RST, so my client gets `ECONNREFUSED` instead of a timeout.

[2018-01-29 15:39] nikomatsakis commented on #47850
@Boscop because you can only move things one time -- an `FnMut` closure can be invoked more than once.

I don't entirely agree, but I also don't *disagree*. This kind of error is often hard to decide how to diagnose. There is a kind of tension here: the closure wants to take an action (a move), but the signature of `f` does not permit it (because it requires a closure that can be invoked more than

[2018-01-29 15:45] oli-obk commented on #47852
I think this'll be fixed by #46882, too

[2018-01-29 15:49] nikomatsakis commented on #47703
@davidtwco I don't know that this is an NLL problem *per se*, I think it has more to do with MIR borrowck. In particular, removing `#![feature(nll)]` and compiling with `-Zborrowck=mir` still gives roughly the same error. I tried running with `-Zdump-mir=nll` to dump out the MIR, and I see that the heart of the MIR in the relevant file (`mir_dump/rustc.{{impl}}[1]-consume.-------.nll.0.mir`) is:

[2018-01-29 15:51] matklad commented on #47852
Indeed it is! I get this correct error with nightly:

[code]

👍 ❤️

[2018-01-29 15:51] #47852 closed

[2018-01-29 15:58] nikomatsakis commented on #47703
Tracing through, I expect that we start at a `StorageDead` item:

https://github.com/rust-lang/rust/blob/70f7d5842f29d4900f24420b030f144d21f3c5fc/src/librustc_mir/borrow_check/mod.rs#L424-L431

This invokes `access_place`:

https://github.com/rust-lang/rust/blob/70f7d5842f29d4900f24420b030f144d21f3c5fc/src/librustc_mir/borrow_check/mod.rs#L711-L724

which then checks for conflicts:

https://github

[2018-01-29 16:44] nikomatsakis commented on #47744
@estebank I think we should literally look for the case where the `&` appears in the `for`, and only that, specifically because of the danger of going wrong when doing this:

[code]

to

[code]

Also, adding a `*` will not help :( -- you can't move an iterator out from behind a borrowed reference

[2018-01-29 17:00] nikomatsakis commented on #47777
Those two cases are already handled by the code that seeks to give hints. That code lives in this unfortunately uncommented method:

https://github.com/rust-lang/rust/blob/70f7d5842f29d4900f24420b030f144d21f3c5fc/src/librustc/infer/error_reporting/need_type_info.rs#L89

I believe that the idea is that it reports an error that the type `ty` must be resolved; the error occurs at the given span, and

[2018-01-29 17:21] nikomatsakis commented on #47803
@Marwes ah, interesting

cc @michaelwoerister

It'd be good to do some basic perf runs here.

[2018-01-29 17:21] nikomatsakis commented on #47803
We should make some kind of standalone test file too....

[2018-01-29 17:21] nikomatsakis commented on #47803
Nominating for compiler team meeting for prioritization. 30x hit for incremental seems like something worth investigating.

[2018-01-29 17:22] nikomatsakis commented on #47803
Put another way: now that incremental is going to be enabled by default, this is a serious compile-time regression.

[2018-01-29 17:25] nikomatsakis commented on #28179
There are some other examples of abusing `#[no_mangle]` that may be worth mentioning.

For example, [this hack overrides `main` with custom assembly](https://play.rust-lang.org/?gist=eb16714124c36327f0fb9a880ef50748&version=stable):

[code]

Sigh.

[2018-01-29 17:27] nikomatsakis commented on #47809
I can't remember. =) But I suspect so. I don't think there's anything special about "trait methods" per se -- it's really about **dynamic dispatch**.

[2018-01-29 17:44] nikomatsakis commented on #47815
I do agree there is a problem that needs solving. I'm not sure how I feel about overloading `_` with it. I sort of agree with @eternaleye's analysis, though I think the roots of the problem lie in the decision to make `fn foo() { }` be short for `fn foo() -> () { }`, which essentially entails that `F: Fn()` be short for `F: Fn() -> ()` for consistency.

Specifically, the problem I see is in type d

[2018-01-29 17:48] mbrubeck commented on #30877
This Reddit thread points out some limitations/inconsistencies related to borrowed bounds:

https://www.reddit.com/r/rust/comments/7tt70u/btreemapbtreeset_range_api_reduces_elements/

In particular, it's currently impossible to call `range` on a `BTreeSet<&T>` using a `Range<&T>` with a different lifetime.  You have to convert the `Range<&T>` to a `(Bound<&T>, Bound<&T>)`, and then add type annota

[2018-01-29 17:52] nikomatsakis commented on #47812
Longer term, this does seem like a suboptimal way to report errors, since it doesn't allow for more than one error at a time very gracefully, right? Still, if that's the expected way, we have to support it.

At the limit, we can do a `-Z` option... but in any case can't we catch the panic or something to prevent it from being printed to stderr?

cc @rust-lang/libs -- how configurable is the "print

[2018-01-29 18:02] vi commented on #28179
`#![forbid(unsafe)]` code should be assumed free of such hacks...

[2018-01-29 18:09] nikomatsakis commented on #29947
I can believe that the existing documentation is sufficient -- I've not looked closely, but I doubt that the precise borders of what constitutes a legal constant expression are too well-defined.

But at minimum removing the "unstable page" makes sense!

[2018-01-29 18:16] matklad opened #47856 "Surprising whitespace sensitivity in type parameters"
Consider this code:

[code]

The `Ok` struct compiles just right, but the `Err` one fails with

[code]

I think this behavior is wrong: for tokens like `>>` or `||` use use "context sensitive" lexing.

[2018-01-29 18:24] Zoxc commented on #47812
We can install a panic handler in rustc which does nothing when we are in compiler plugins.

[2018-01-29 18:24] petrochenkov commented on #47856
Yeah, "token splitting" (`&&` -> `& &` or `+=` -> `+ =`) is done very inconsistently.
It's not done automatically, but manually if the code author expects the split version to result in valid code sometimes. It looks like nobody expected `+ =` to be a fragment of valid code in this position.

[2018-01-29 18:37] nikomatsakis commented on #47812
@Zoxc

Seems like a decent idea. Would this also suppress `RUST_BACKTRACE`?

[2018-01-29 19:24] cuviper commented on #45840
We might also consider `partition_into` and `unzip_into` for symmetry.  `Iterator::partition` and `unzip` already use `Extend`, but they create new `Default` collections to extend into.

Also, FWIW rayon already has [`collect_into`](https://docs.rs/rayon/0.9.0/rayon/iter/trait.IndexedParallelIterator.html#method.collect_into) and [`unzip_into`](https://docs.rs/rayon/0.9.0/rayon/iter/trait.IndexedP

[2018-01-29 19:49] creationix opened #47858 "Compiler Panics at 'Box<Any>' while building stm32f0 blinky.rs example."
Rust version: `rustc 1.25.0-nightly (21882aad7 2018-01-28) running on x86_64-unknown-linux-gnu`

[code]

[2018-01-29 19:50] zbraniecki commented on #40062
Any plan to stabilize this?

[2018-01-29 19:50] creationix commented on #47858
I also reported at the project in case they have any ideas https://github.com/pollen-robotics/stm32f0/issues/29#issue-292536198

[2018-01-29 20:08] sanmai-NL commented on #45357
@kennytm is this issue ready for closing, post #45548?

[2018-01-29 20:08] bobtwinkles commented on #47590
This probably has something to do with the fact that consts use the identity substitutions when computing universal regions substitutions:
https://github.com/rust-lang/rust/blob/70f7d5842f29d4900f24420b030f144d21f3c5fc/src/librustc_mir/borrow_check/nll/universal_regions.rs#L581-L607
 since those are always going to be generating `ReEarlyBound` regions:
https://github.com/rust-lang/rust/blob/70f7d5

[2018-01-29 20:19] toralf commented on #47808
thx for the hint, https://613794.bugs.gentoo.org/attachment.cgi?id=517078 solved (at least a main fraction) of the issue) - from the sysstat I do run at my build bot I do still see some spikes in the CPU usage indicating 12 parallel processes while building rust but much less than before

[2018-01-29 20:21] creationix commented on #47858
If I downgrade nightly to `nightly-2017-12-25`, I don't get the panic, so this seems to be a fairly recent regression.

[2018-01-29 20:28] hdevalence commented on #35118
It looks like all the issues on the "blocking stabilization" checklist at the top are checked off.

What's left to do to stabilize `u128`s?

[2018-01-29 20:35] est31 commented on #35118
@hdevalence we should now get an overview over the various targets of rustc and check which ones are still lacking `u128` support. Those then need to be fixed. Then we can ship :). I do *not* want `u128` end up being a compatibility hazard.

[2018-01-29 20:46] myeisha opened #47860 "rustdoc ICE with ConstEvalErr on array size location"
I have a crate that statically checks the size of a type by instantiating an invalid array if the types size is incorrect. Running `cargo doc` on the crate panics on the location of the array length expression.

[code]

causes this error:

[code]

`rustc --version --verbose`:

[code]

backtrace:

[code]

[2018-01-29 20:47] withoutboats commented on #35118
@rfcbot fcp merge

Since shipping takes roughly 3 months, it seems like a good idea to mobilize now and light a fire under ourselves to actually finish this.

We knew emscripten needed this, does the new wasm target need it as well? Comments on this thread make it seem like these are the only platforms we consider supported that this is a problem for, if there are others, add them to the list.

[2018-01-29 22:06] eddyb commented on #47860
Note that this doesn't actually work because we don't WF-check `type` aliases atm.
cc @nikomatsakis

[2018-01-29 22:12] sdleffler commented on #38962
@RReverser you'd need an extra trait bound on `O = <B as ToOwned>::Owned`; something along the lines of `O: for<'a> From<&'a B>`, which complicates things. `ToOwned` provides a way to create a `ToOwned::Owned` from an `&B` through `ToOwned::to_owned`, so for an arbitrary owned representation `O`, there must be some sort of analogous path from `&B`.

I'm not sure if there's a stdlib trait right now

[2018-01-29 22:19] GuillaumeGomez commented on #47639
Both `cargo test` and `cargo doc` worked just fine for me...

[code]

[2018-01-29 22:22] QuietMisdreavus commented on #47639
I ran `cargo doc` on `libsecp256k1` on my own system without updating my nightly and hit the ICE:

[code]

[2018-01-29 23:32] est31 commented on #35118
I know of the following backends:

- [ ] NVPTX support (#38824)
- [ ] emscripten support
- [ ] atmel backend support
- [ ] verify that unknown wasm support is working

But maybe there are more.

[2018-01-29 23:41] RReverser commented on #38962
@sdleffler

That's already covered by `Borrow` constraint if I understand your concern correctly.

That's the beauty of having second type param - it doesn't have to implement any built-in trait as long as `O` can be borrowed as `B`.

Yeah, as I said, it's mostly unrelated (I need it to deal with boxed slices and with custom reference / owned type pairs), it just happens to help with this bug as w

[2018-01-29 23:45] sdleffler commented on #38962
@RReverser no, it's not covered by `Borrow`. `Borrow` says, "I can take the 'owned type `O` and borrow `B` from it'"; it provides a single method, `fn borrow(&self) -> &Borrowed`. But that doesn't get you a way to construct an `O` *from* a `B`, just a way to get a `B` from an `O`. With the setup you have there, it's impossible to implement `.to_mut()`; there's no way to take the borrowed version a

[2018-01-29 23:53] sdleffler commented on #38962
@RReverser I suppose the impact of not being able to construct an `O` from a `B` isn't as bad as I thought. The base read-only functionality has no issues, and the other impls which depend on it are all specialized to specific types (`Vec`/`[T]`, `String`/`str`.)

[2018-01-30 00:42] cuviper opened #47863 "glibc 2.27 stack guard pages are moving"
From [bug 22637](https://sourceware.org/bugzilla/show_bug.cgi?id=22637), glibc 2.27 will be allocating the stack guard page for new threads just *past* the end of the stack, rather than within it.  This has also reached Fedora 27 from [rhbz 1527887](https://bugzilla.redhat.com/show_bug.cgi?id=1527887).

With these versions of glibc, the location calculated in [`guard::current()`](https://github.co

[2018-01-30 02:00] tbu- opened #47864 "Surrounding `unsafe` blocks are ignored for `static`s"
[code]
results in this error:
[code]

[2018-01-30 02:49] Mark-Simulacrum commented on #47639
So maybe we need a backport to beta? That may have already happened, this is a relatively old beta run.

[2018-01-30 03:50] epage commented on #44581
I think there would be a lot of value to leaving warning groups unchanged during an epoch (see my [rust2018 post](https://epage.github.io/blog/2018/01/crate-management/)).

Would the appropriate venue for that to be discussed here to be added to this RFC or does it need its own RFC?

High level thoughts
- Warning group doesn't change during epoch
  - No new warnings added
  - If a warning absolute

[2018-01-30 04:15] jonhoo commented on #47429
Now being worked on in https://github.com/rust-lang/rust/pull/47824 instead afaict?

[2018-01-30 05:41] LegNeato commented on #47775
I believe we are seeing this in `juniper` with this PR: https://github.com/graphql-rust/juniper/pull/135. Putting the parens in causes the warning, taking them out causes a build failure.

[2018-01-30 06:52] dtolnay commented on #47864
Would you expect the `unsafe` block to apply to *all* code inside, or just initializer expressions for `static` vars?

[code]

[2018-01-30 07:42] luben opened #47866 "LTO: 10x regression"
I noticed a significant regression since nightly 2018-01-27 when enabling LTO. Here is a simplified example that has 10x difference.

[code]

Without LTO enabled:
[code]

with LTO enabled:
[code]
Tested variants
Bad: -C lto=fat
Good: -C lto=thin
Good: -C lto=fat -C codegen-units=1

[2018-01-30 07:52] SimonSapin commented on #46588
@aturon Let’s stabilize?

[2018-01-30 08:13] BusyJay opened #47868 "spawn a thread running an empty loop causes coredump"
Source:

[code]

[code]
When compile in debug mode, it works fine.

[2018-01-30 08:22] BusyJay commented on #47868
Looks like duplicated with #28728, close.

[2018-01-30 08:22] #47868 closed

[2018-01-30 08:31] siddontang commented on #47866
Refer http://www.brendangregg.com/perf.html#CPUstatistics, Gregg says:

[2018-01-30 08:41] dtolnay commented on #46758
Here is that IR transliterated into Rust syntax to be more readable at a glance.

[code]

[2018-01-30 09:12] GuillaumeGomez commented on #47639
First we'd need to find what's crashing...

[2018-01-30 09:13] petrochenkov commented on #47864
Duplicate of https://github.com/rust-lang/rust/issues/35716

Interestingly, before Rust 1.6 `unsafe` blocks worked syntactically and the code was accepted - https://godbolt.org/g/7mv1jQ.
This *probably* changed accidentally when items were outlined into side tables in HIR.

[2018-01-30 09:15] Zoxc commented on #47429
@jonhoo It is.

[2018-01-30 09:16] petrochenkov commented on #35716
Copying from #47864:

[2018-01-30 09:17] #47864 closed

[2018-01-30 09:43] amber-zhang opened #47871 "failed to run './x.py build' on Ubunbu docker container based on s390x platform"
Hi,

As topic said, I failed to run './x.py build' on Ubunbu docker container based on s390x platform. Below is my platform info and the detailed error.

[code]

[2018-01-30 09:47] kennytm commented on #47871
The error indicates you haven't installed `git`.

You may also add

[code]

to the `config.toml` to prevent `x.py` from managing the submodules.

[2018-01-30 10:14] ollie27 commented on #47866
What results do you get with `-Ccodegen-units=1`?

[2018-01-30 10:27] Zoxc commented on #47812
It would suppress the ``note: Run with `RUST_BACKTRACE=1` for a backtrace.`` line, if that is what you meant.

[2018-01-30 10:30] paulmenzel opened #47872 "configure: Give a better error when the local rustc version is too old"
[code]

[2018-01-30 10:38] oli-obk commented on #47872
your system installed rustc is too old. It doesn't support the `..=` syntax yet. There's always a special nightly that is used, but you can probably take any recent one

[2018-01-30 10:40] amber-zhang commented on #47871
@kennytm
Thanks so much for your prompt reply! it works. It takes about 43 mins to finish the build

[2018-01-30 10:43] paulmenzel commented on #47872
On 01/30/18 11:38, Oliver Schneider wrote:

Thank you for the hint. rustc 1.21.0 is installed.

[code]

I am really irritated, why two version less should be too old to build
the current rustc release.

I’ll try 1.22.0 first.

[2018-01-30 10:44] paulmenzel commented on #47872
So the configure script should really be fixed to check for the versions it needs to successfully build.

[2018-01-30 10:50] kennytm commented on #47871
@amber-zhang Great!

Since this is just a problem of missing dependency which works otherwise, I'm closing this issue.

[2018-01-30 10:50] #47871 closed

[2018-01-30 11:13] RReverser commented on #38962
Yup :) Thanks for confirmation.

[2018-01-30 11:31] oli-obk commented on #47872
Because each version is built by the previous one. That's simply the policy.

Well it does ;) it downloads the correct version by default. You explicitly opted to use your system's rustc with `--enable-local-rust`

[2018-01-30 11:33] nagisa commented on #47863
We should *not* change how one of the core tasks are done (stack allocation) for the purpose of giving users nicer diagnostics when the stack is overflowed (what the `guard::current` is used for IIRC).

If it is possible to adjust the `guard::current` logic to return a correct value – great. Alternatively, we should just live with the notion that this check may be false-negative.

[2018-01-30 12:04] oli-obk commented on #47872
makes sense. `--force-local-rust` is much clearer about something potentially surprising going on

[2018-01-30 12:34] kennytm commented on #45222
I've checked again using the LLVM 6 build. The performance is improved, but there is still a large gap (2.6× → 2.0×).

Vectorization is still not recognized for `0 ..= n` with the naked `j`.

<details><summary>Timings</summary>

[code]

</details>

[2018-01-30 12:39] sanmai-NL commented on #47536
@varkor: Yeah, I was using an older version of the compiler (different toolchain).

[2018-01-30 12:55] oli-obk commented on #42909
or we could emit a suggestion to `use std::mem` directly here, which often is what we wanted in the first place.

[2018-01-30 13:22] sfackler commented on #46588
@rfcbot fcp merge

[2018-01-30 13:45] Manishearth commented on #47796
There is a seemingly-working WIP at https://github.com/rust-lang/rust/pull/47867

[2018-01-30 13:50] pietroalbini commented on #46768
The provided snippet doesn't ICE anymore on the beta channel. Closing this.

[2018-01-30 13:50] #46768 closed

[2018-01-30 14:10] losfair opened #47878 "Unclear calling convention for returning an enum to C from `extern "C"` functions"
I'm trying to pass an enum by value from Rust to C as the return value (to avoid heap allocation), but it doesn't seem to work correctly:

Rust:

[code]

C:

[code]

The code seems to trigger a UB and segfaults on my system (Linux x86_64) . Running in valgrind reports an invalid write error originating from inside `rust_build_enum`:

[code]

I guess that Rust is using a custom calling convention t

[2018-01-30 14:14] pietroalbini commented on #46955
Does #47460 do everything you wanted?

[2018-01-30 14:26] Diggsey commented on #46955
I think it would need to be extended to support stage 1 to be useful for the case I outlined above.

[2018-01-30 14:33] nikomatsakis opened #47879 "NLL performance tracking issue"
This is a tracking issue dedicated to discussing ideas and techniques for improving compile-time with the NLL feature. It's meant to house as a repository of measurements, benchmarks, etc for the time being to help coordinate efforts.

## Benchmarks and timing runs

We can view performance results on perf.rust-lang.org now. Just look for the "NLL" runs. They can be compared against "clean" runs --

[2018-01-30 14:37] nikomatsakis commented on #29149
Fixed (with NLL) in https://github.com/rust-lang/rust/pull/47877

[2018-01-30 14:47] kennytm commented on #47735
Some UX comments on the paint brush:

1. The border is too distracting. Please remove it.

[code]

2. The background is very distracting too. But we can't remove the background color because the paint brush is always black. Why are we serving it using an `<img>`? It should be the `background` itself so you could use a white paint brush in dark mode.

[code]

    Or it can even be an icon font like

[2018-01-30 15:01] sfackler commented on #46774
This is a docs issue, not a perf issue.

[2018-01-30 15:01] pietroalbini commented on #47075
cc @petrochenkov, who implemented the feature in #44660

[2018-01-30 15:08] #47751 closed

[2018-01-30 15:08] #44544 closed

[2018-01-30 15:08] #47658 closed

[2018-01-30 15:08] #47011 closed

[2018-01-30 15:12] sfackler commented on #47878
The representation of a Rust enum is unspecified. You can't assume it will correspond to a struct at the ABI level. There's an open RFC to allow you to specify that an enum should have a C-compatible representation, but it hasn't been accepted yet: https://github.com/rust-lang/rfcs/pull/2195.

[2018-01-30 15:16] nikomatsakis commented on #47879
I did some profiling of syn. The top result was actually not what I expected:

[code]

[2018-01-30 15:21] alexcrichton commented on #47812
@nikomatsakis yes [`set_hook`](https://doc.rust-lang.org/std/panic/fn.set_hook.html) can be used to customize what happens when a panic happens.

[2018-01-30 15:22] alexcrichton commented on #46588
This landed less than a month ago, right? Is that a bit rapid for stabilization?

[2018-01-30 15:31] TimNN commented on #47878
Closing in favor of the RFC.

[2018-01-30 15:31] #47878 closed

[2018-01-30 15:32] luben commented on #47866
@siddontang , higher IPC is good if we execute the same (or similar) number if instructions. Here with LTO it executes 10x number of instructions but without 10x increase of IPC that leads to 3x increased run-time.

@ollie27 , just tested, it solves it. Another correction, -C lto=thin also solves it, I didn't test it properly before.

[2018-01-30 15:43] TimNN commented on #47823
Closing as duplicate of #47823.

[2018-01-30 15:49] muzikmoe commented on #47777
I’ll take this.

[2018-01-30 16:05] amber-zhang commented on #47871
@kennytm Hi, although it build successfully, I fail to run cargo command with the error. I checked and found that ~/.cargo/bin directory doesn't exist

root@2005b3ffa5b1:/# cargo
bash: cargo: command not found
root@2005b3ffa5b1:/# rustc --version
rustc 1.25.0-dev

Below is my build process.
git clone  <rust master branch>
cd rust
./x.py build
./x.py install

[2018-01-30 16:12] losfair commented on #47878
@TimNN The RFC seems to be about the **layout** of enums, but this issue is about the **calling convention** - how the enums are passed around between Rust and foreign code. Here foreign code does not care about what is in the enum, but only hold the value and pass it to another Rust function.

[2018-01-30 16:14] kennytm commented on #47871
@amber-zhang You need to enable this option in `config.toml`:

[code]

[2018-01-30 16:15] sfackler commented on #47878
The layout of an enum determines its calling convention.

[2018-01-30 16:23] csmoe commented on #47777
I’ll take this.

[2018-01-30 16:29] antoyo commented on #47346
@dtolnay Any info about this?

[2018-01-30 16:29] alexcrichton commented on #47820
cc @michaelwoerister

@oberien thanks for the report! I think this is a rustc issue because Cargo is reinvoking the compiler, but it looks like stale results may be getting used by incremental compilation?

[2018-01-30 16:35] antoyo commented on #46478
That would break my [`tql` crate](https://github.com/antoyo/tql), so I'm wondering if it's going to be fixed for next stable version or not (I cannot figure that out from the last comment by @nikomatsakis).
Thanks.

[2018-01-30 16:42] bennofs commented on #46981
I can reliably hit this bug when compiling my project with Nix.

[2018-01-30 16:51] antoyo opened #47882 "Misleading note for error message in proc-macro"
Hi.
I created a [repository](https://github.com/antoyo/rust-proc-macro-note-bug) that makes Rust show the following error message:
[code]
The help note is misleading and, obviously, does not work.
Thanks to fix this.

[2018-01-30 17:13] mark-i-m commented on #39412
Note for those who haven't seen yet: macros 2.0 is apparently slated to be _stable_ later this year, according to the proposed roadmap (rust-lang/rfcs#2314)...

On the one hand, that's pretty exciting :tada:!

On the other hand, I was really surprised that the feature is so close to being done and so little is known about  it by the broader community... The RFC is really vague. The unstable book o

[2018-01-30 17:14] rkruppe commented on #47878
That's not technically true, e.g., `#[repr(C)] struct F32(f32);` has the same layout as `f32` but they are treated differently by calling conventions. However, that's not important here, the RFC obviously proposes to specify that behaves like the corresponding C struct/union setup, including for calling convention purposes even though the summary only mentions layout.

[2018-01-30 17:22] alexreg commented on #39412
@marcbowes Yeah, I'm kind of worried too. It seems like there's quite a lot of work left for stabilisation this year. I offered to work on opt-out hygiene for identifiers myself, but have received no response yet... Some greater transparency would be nice, as you say.

[2018-01-30 17:24] Zoxc commented on #47628
I also built these two revisions from source. Both of my builds have the same timing of ~40 seconds for `cargo build -j1`.  This is the same result as `nightly-2017-12-25`, while `nightly-2017-12-24` builds in ~30 seconds.

[2018-01-30 17:38] petrochenkov commented on #39412
Macros 2.0 are not even in the RFC stage yet - the @jseyfried's [RFC](https://github.com/jseyfried/rfcs/blob/hygiene/text/0000-hygiene.md) linked in the issue was never submitted, there's only very high level [RFC 1584](https://github.com/rust-lang/rfcs/pull/1584).
The implementation is purely experimental and mostly unspecified, and large part of it (not related to hygiene) is reused from `macro_

[2018-01-30 17:39] nikomatsakis commented on #47628
@Zoxc thanks! Not entirely sure what to make of that.

[2018-01-30 17:40] nikomatsakis commented on #47628
cc @rust-lang/infra -- can we try using the PR-by-PR builds to narrow this down further or gain some insight? I'm not sure how to access those.

[2018-01-30 17:41] nikomatsakis commented on #42909
I think making a `pub use` is almost never what the person actually wants. I would prefer that we start with the assumption that they just forgot to import something and it *happens* to match an import used in another module -- at least, this is always what happens to me.

[2018-01-30 17:45] nikomatsakis commented on #46478
@antoyo I believe the consensus is that the nightly behavior is the correct behavior -- which I guess means your crate would break? I see that it is sort of a "dual mode" crate, working both on stable and on nightly?

[2018-01-30 17:47] nikomatsakis commented on #47812
@Zoxc I meant, if one *does* set `RUST_BACKTRACE=1`, would you still get a backtrace from inside the plugin. I thought that was what you wanted to enable?

[2018-01-30 17:50] technicalguy commented on #38880
So I've had a look into this issue.

Computing the hash can be quite costly, even for integer keys on an empty `HashMap` it seems `contains()` is an order of magnitude faster with an empty check before hash computation than with one after.

I think it should be possible to make an early `size == 0` check without requiring a second check afterwards (i.e. no negative impact on regular `HashMap` user

[2018-01-30 17:52] dtolnay commented on #47346
I was able to reproduce this but don't have an explanation.

[code]

[code]

[2018-01-30 18:01] Manishearth commented on #46906
I kinda feel like this should go through epochs given that they exist precisely for this purpose anyway. Old epoch code cannot call methods with arbitrary receivers.

[2018-01-30 18:01] Zoxc commented on #47812
@nikomatsakis We could do that, although it is likely users will have `RUST_BACKTRACE` set when invoking the compiler because they want backtraces of the executables it builds and aren't interested in a backtrace for a compiler plugin error.

[2018-01-30 18:04] antoyo commented on #46478
Indeed, it uses the `proc-macro` hack to work on stable.
Isn't it a bit strange to have hygiene on stable (well, currently beta), without any access to the `Span` (which is unstable)?

[2018-01-30 18:07] nikomatsakis commented on #46478
My impression was that there wasn't *hygiene* on stable per se, but rather that Macros 1.1 was roughly matching the `macro_rules` behavior.

[2018-01-30 18:08] nikomatsakis commented on #47812
@Zoxc I suppose that could happen with `cargo run` -- but I am a bit confused. Didn't you write this (emphasis mine):

Isn't this arguing that we *should* show some sort of backtrace from inside the plugin?

[2018-01-30 18:10] nikomatsakis commented on #46906
@Manishearth I think I agree. It's an interesting case though. We need to start doing some work on prototyping epochs, I think (e.g., adding a `-Zepoch` flag and `epoch = 2018` thing for Cargo). I've been meaning to write up some kind of specific proposal there for some time.

[2018-01-30 18:14] Zoxc commented on #47812
@nikomatsakis Indeed. I suggest we create a `PROC_MACRO_BACKTRACE` environment variable and add a note to the `error: proc-macro derive panicked` error which suggests setting this if you want a backtrace for the compiler plugin.

[2018-01-30 18:16] Manishearth commented on #46906
I actually intended for that to be my next rustc side hacking project once im done with intra doc links and the clone thing. Might be able to get to it in February -- already have an idea of how the impl will go, but if you have thoughts lmk.

This specific bug might be useful as a testing flag for the epoch, i.e. make this warning a hard error in epoch 2018.

[2018-01-30 18:20] kennytm commented on #47628
@nikomatsakis  The problem isn't in rustc, but cargo. Note that starting from Dec 25 cargo passes `-C incremental=...` to rustc. This means the regression is introduced by rust-lang/cargo#4817.

[code]

[2018-01-30 18:21] Manishearth commented on #44581
Unless someone gets to it first, I plan on doing most of the work here sometime in february. It involves:

 - cargo logic for accepting epochs in cargo.toml and passing them down
 - crates.io logic for validating epoch flags and ensuring they're part of a set of allowed flags (so you can't publish a `2018-pre` crate or whatever)
 - rustc logic for setting epoches, and flipping features based on th

[2018-01-30 18:31] alexreg commented on #39412
@petrochenkov Ah, fair enough. I mean, that's a shame, but it makes sense at least. I guess this is an open call to anyone who might be able to take ownership of this feature, since no one comes to mind? I could still have a go at a little sub-feature, but I'm certainly in no position to take ownership of this.

[2018-01-30 18:41] nikomatsakis commented on #44581
@Manishearth glad to see you volunteering. =) Writing up a concrete plan and mentoring instructions has been on my to-do list for quite some time. I think the work items ought to be roughly as follows:

- Add a `-Zepoch=XXX` switch to the compiler.
    - This will eventually be `--epoch=XXX` or `-C epoch=XXX` or something, but starting with `-Z` because it's unstable.
    - This will set some flag

[2018-01-30 18:45] Manishearth commented on #44581
Cool. This roughly aligns with my plan for it. I was considering a -pre epoch mostly so that we could experiment without confusing people but you're right that we can just make all new epochs nightly-only till they stabilize.

[2018-01-30 18:46] dtolnay commented on #46758
![selection_094](https://user-images.githubusercontent.com/1940490/35584771-d766ad48-05aa-11e8-8bc6-5268fdf7f283.png)

[2018-01-30 18:54] dtolnay commented on #46758
The first thing that stands out is that some of these drop flags (?) are useless. In particular `_12` and `_11` are both initially set to true, then we check them and branch, set them to false but do nothing else, and keep going.

[code]

@arielb1 are these somehow tracking whether a non-Drop type has been dropped, which is unnecessary? Or is it more complicated? Eliminating these unused flags wou

[2018-01-30 18:54] cuviper commented on #47863
I'm having trouble seeing how to cleanly _free_ a manual stack allocation anyway -- when the thread may be detached from where it was spawned, no one but libpthread really knows about it anymore.

I was thinking of trying something like `pthread_attr_setguardsize(attr, 0)`, leaving libpthread to allocate the stack, and then alter the last page with `mprotect(PROT_NONE)` ourselves.  But that too ma

[2018-01-30 19:07] cuviper commented on #47863
BTW, android is ignored in this test due to #20004.  #41648 tried to enable it again, and the log has the same ``assertion failed: `(left == right)` (left: `Some(11)`, right: `Some(6)`)``, which is `SIGSEGV` vs. `SIGABRT`.  Android probably puts the guard *below* the stack, as that's really the proper way to do it.

[2018-01-30 19:08] nikomatsakis commented on #47860
@eddyb sigh. We really need to do that.

[2018-01-30 19:39] cramertj opened #47885 "cargo not built when a target is specified"
`./x.py build src/tools/cargo` completes without error and without building `cargo` when a target is specified via the command line or via a `config.toml`. I'd expect that `cargo` would build the same regardless of what target is specified, but instead it does not build at all when a target is specified.

Example:
[code]
cc @pylaligand

[2018-01-30 19:44] cramertj commented on #47885
This is caused by the [`run_host_only`](https://github.com/rust-lang/rust/blob/master/src/bootstrap/builder.rs#L132) flag, so it seems this is expected behavior. Why is this desirable?

[2018-01-30 20:09] nikomatsakis commented on #47590
Hmm, @bobtwinkles you are in the right area of the code. But I think the problem runs just a *touch* deeper. Actually the comments here are not that great. I should do a pass to improve them. But let me try to first explain what's happening a bit and then how to fix it.

### What is the "defining type"

The role of the `DefiningTy` enum (which should perhaps be renamed?) is to kind of capture the

[2018-01-30 20:11] dtolnay commented on #47628
Is 25% within the expected range of slowdown from incremental compilation on a clean build?

[2018-01-30 20:14] nikomatsakis commented on #47879
OK, that profiling run was kind of messed up, because I forgot to include `debuginfo = 1`, so that the framepointers were all wrong etc. Still, when I did a better run, the data was a lot more detailed, but pointed roughly to the same conclusion. The NLL type checker is killing a *lot* of time doing normalization. This is also responsible for some soundness bugs. This kind of ups the importance of

[2018-01-30 20:15] dtolnay commented on #46758
Mentioning @nagisa and @eddyb who were involved in relevant-sounding PR #34307. Is this the control flow you would expect to see for `Option::map_or` and do you think it would be worthwhile to invest in doing better?

[2018-01-30 20:46] fzzr- opened #47887 "Clone implementation by doc-example is producing error E0507"
Check out docs for Clone, [that line](https://github.com/rust-lang/rust/blob/master/src/libcore/clone.rs#L87).

I can compile it and getting error `error[E0507]: cannot move out of borrowed content`.

main.rs:
[code]

log:
[code]

[2018-01-30 20:47] killercup opened #47888 "Add auto-fixable suggestion to remove unused imports"
Warnings like the following should contain information in their diagnostics output that allows rustfix to remove the unused import.

[code]

The strategy is to suggest replacing the unused import with an empty string. There are two cases:

- Are all items in the `use` statement unused (e.g., `std::fs` in `use std::fs;` is unused)? Then remove the whole `use` statement.
- Are only some of the items

[2018-01-30 21:01] petrochenkov commented on #39412
@alexreg

Yes, please do!
Hygiene opt-out is one of the primary missing parts and implementing it would be useful in any case.

IIRC, two things need to be decide during implementation:
- Syntax for "unhygienic" identifiers (@jseyfried tentatively suggested `#ident` in https://github.com/rust-lang/rust/pull/40847)
- What exactly hygienic context the identifier introduced with `#ident` in a macro `

[2018-01-30 21:06] Badel2 commented on #27745
Alright, I'm working on this and I think I managed to turn `type_id` into a constant intrinsic, meaning I can do `const A: TypeId = TypeId::of::<T>();`, however when I try to add it to the `Any` trait I get an error (E0038) that says "the trait cannot contain associated consts". Anyway, I'll add a test and submit a PR.

[2018-01-30 21:08] steveklabnik commented on #47887
you missed the `#[derive(Copy)]`, without this, this will not work.

[2018-01-30 21:08] #47887 closed

[2018-01-30 21:52] nikomatsakis commented on #47511
Huh. It appears that the code is *trying* to do the right thing here, actually. The problem is that the `resolve_lifetime` code runs before type-aliases are expanded, and so it (incorrectly) considers the `'a` in `X<'a>` to be constrained by `X<'a>`. Pain in the neck. I suppose we could expand type aliases in the `resolve_lifetime` code as well.

[2018-01-30 21:53] nikomatsakis commented on #47511
(Or, better, make some kind of query that we can use for a def-id to tell which of its substs are constrained; for a type definition, this would be all of them, but for a type alias it would check the definition.)

[2018-01-30 21:58] alexreg commented on #39412
Yeah, this was the plan. :-)

What's your inclination? I'm leaning towards the context of m's invocation, but curious to hear your thoughts...

[2018-01-30 22:03] nikomatsakis commented on #47638
So I agree with @eddyb that it's the same bug. I think my preferred longer term fix is to change our rules around subtyping and higher-ranked regions -- but in the short term, I suspect we need some bit casts.

[2018-01-30 22:11] eddyb commented on #47638
This is *not* a new regression in its general case, only specifically trait objects outside of structs:
[code]
This fails with the LLVM error in 1.0 through 1.22, according to godbolt.
*Somehow*, #45225 (presumably) fixed that and introduced a different form of it.

[2018-01-30 22:20] zackmdavis commented on #47775
@LegNeato thanks. Minimization of the Juniper example:

[code]

Here, the lint is "legitimately" firing when one macro expansion's single-element token-tree gets interpreted as another macro expansion's expression. (The generated code here is `fn name_maybe<'a>() -> Option<&'a str> { Some(("rah")) }`, with extra parens around the `Some` constructor's argument.)

_Hopefully_ there's some way for th

[2018-01-30 22:31] petrochenkov commented on #39412
@alexreg

I think this is what should be implemented first, just because this is a more conservative alternative.

On the other hand, it makes writing internal helper macros harder, e.g.
[code]

[2018-01-30 22:33] eddyb commented on #47511
Wait, why would `resolve_lifetime` care about type aliases? Since we want to eventually use projections for them anyway, riiight? Is this about early vs late? Can't we somehow defer that?

[2018-01-30 22:42] alexreg commented on #39412
@petrochenkov Yeah, good point. I wonder if adding syntax like `m_helper!#()` (reuse the current context for the invocation) would help with that, or if there's a more elegant way that covers all use cases without too much pain?

[2018-01-30 22:57] varkor commented on #35887
Just to note: this is a duplicate of https://github.com/rust-lang/rust/issues/13098.

[2018-01-30 23:24] totorigolo commented on #47604
Can I take this one?

[2018-01-30 23:24] nikomatsakis commented on #47511
Ugh. Solving this properly is a horrible pain in the ass.

Yes it is.

Maybe, I'm going to investigate that tomorrow I suppose, because unfolding the type aliases basically amounts to a specialized re-implementation of lifetime resolution (perhaps factoring out into the "map lifetime name to def-id" part that we've talked about would help here, not sure, but that's its own job).

[2018-01-30 23:24] varkor commented on #42671
Note that the problems mentioned here are the same as those in https://github.com/rust-lang/rust/issues/20063.

[2018-01-30 23:25] nikomatsakis commented on #47511
However, deferring that would be also quite annoying. It's very nice the way it is now =)

[2018-01-30 23:26] nikomatsakis commented on #47511
Specifically, the problem is this code:

https://github.com/rust-lang/rust/blob/def3269a71be2e737cad27418a3dad9f5bd6cd32/src/librustc/middle/resolve_lifetime.rs#L2284-L2291

which treats all type parameters to something like `X<'a>` as constrained.

[2018-01-31 00:04] Aaron1011 commented on #47789
I'd like to work on this.

[2018-01-31 00:07] pierzchalski commented on #39412
At that point you might start providing utility macros like `lift!(m_helper!(...))` (move all tokens generated by `m_helper!(...)` up one context, essentially pretending `foo!` was called by `main` in the example above):

[code]

As a bonus, I think this would be possible to implement with some minor extensions to the proc macro API (mostly getting and setting the parent of an arbitrary scope/span

[2018-01-31 01:55] zackmdavis commented on #47775
Or less bad, _nested_ macro expansions specifically: #47896

[2018-01-31 02:02] karbfg10k commented on #47506
I'd really appreciate this feature in the future. I'm using Rust to functionally verify my companies C code base. Our code is automotive (runs on ECU's) so it uses lots of globals and massive functions with lots of internal state (the code is auto generated from Models ). Being able to spawn tests as process would allow tests to run in parallel which would be a huge win.

[2018-01-31 02:53] brennie opened #47897 "Unable to deduce associated type equality"
I'm working with [combine](/marwes/combine) and rust nightly to make some parsers and I'm wondering why both of these examples are not equivalent:

The first example compiles successfully:

[code]
 whereas this one
[code]

produces this error:
[code]

AFAICT, the bounds: `I::Error: ParseError<u8, &'a [u8], I::Position>` and `I::Error: ParseError<I::Item, I::Range, I::Position>` **should** be ident

[2018-01-31 02:59] Aaron1011 commented on #47589
I'd like to work on this.

[2018-01-31 03:02] Aaron1011 commented on #47589
@nikomatsakis: This appears to be a regular error, not an ICE.

[2018-01-31 03:03] withoutboats commented on #46588
Why `read_string` instead of `read_to_string`? Seems incorrect to me.

[2018-01-31 03:30] Manishearth commented on #44581
I wonder -- did we ever decide how this works with macros? I guess macro expansions belong to the epoch of the crate the macro was defined in, but that can get icky to precisely define. Also a backcompat hazard -- what if the actual problematic code comes from code originally specified by the macro caller in the macro arguments? What if the problematic code comes from a combination of the two?

Ma

[2018-01-31 03:39] dtolnay commented on #46588
I would expect something named `read_to_string` to take a `&mut String` argument, like in [`io::Read`](https://doc.rust-lang.org/std/io/trait.Read.html).

[2018-01-31 03:56] aturon commented on #46588
@alexcrichton assuming we don't land a PR for this cycle, it's another 3 months away from hitting stable.

[2018-01-31 04:16] aturon commented on #44494
@nrc it will still take another 3 months to actually reach stable.

Given the pipeline of features we're hoping to stabilize for the epoch release, and the [timeline thereof](https://github.com/rust-lang/rfcs/pull/2314), we need to be steadily stabilizing features to avoid a last-minute rush -- particularly when they are as straightforward as this one.

This feature is also quite important for con

[2018-01-31 04:24] scottmcm commented on #47811
Hmm, it looks like ``` warning[E0170]: pattern binding `L` is named the same as one of the variants of the type `Bit` ``` isn't a lint so one can't even choose to `deny` it?

Generally, as I understand it, Rust doesn't make things like unreachable code an error by default because sometimes they happen intentionally while in the middle of writing something, and the error is sufficient as a brain nu

[2018-01-31 04:44] scottmcm commented on #47815
Deep in the nightly hole, writing the [option lift struct](https://internals.rust-lang.org/t/lifting-binary-operations-e-g-t-t-option-t-option-t/6618/3?u=scottmcm) was made extra difficult by the extremely confusing error about the output parameter when I tried to use normal `Fn()` syntax:

[code]

So if we ever want to allow implementing function traits directly, some change here would be nice.

[2018-01-31 05:40] alexcrichton commented on #47863
@cuviper it seems reasonable to me to print out a message for anything within a range of the predicted guard page, if a fault happens and it wasn't actually a stack overflow, yet we printed, it's probably not the end of the world

[2018-01-31 05:52] amber-zhang commented on #47871
@kennytm
Hi,  enable 'extended' as true and rerun './x.py build', get openssl version incompatible issue.  Then I download OpenSSL_1_0_2n from https://github.com/openssl/openssl/releases and compile it successfully,  'make install' said openssl libraries are put to /usr/local/ssl/lib directory. But when rerun './x.py build', still get same problem. Are openssl package not installed the location th

[2018-01-31 06:05] cuviper commented on #47863
Great, I have a patch that does just that. 😀

I'll clean it up and send a PR tomorrow.

[2018-01-31 06:33] alexcrichton commented on #46588
@aturon that's true yeah, if we land on the next nightly (which branches Feb 15) I think that's an ok length of time.

[2018-01-31 06:50] amber-zhang commented on #47871
I have already deleted all customized openssl installation (build from source), and install openssl via apt-get install. Now the openssl version should meet Rust's requirement, but still get same error when running './x.py build'.

==========openssl version===============
root@2005b3ffa5b1:/sovrin/rust# openssl version
OpenSSL 1.0.2g  1 Mar 2016

==========rust build error ===============
Building

[2018-01-31 06:59] #46520 closed

[2018-01-31 07:18] Marwes commented on #47897
@brennie I believe this is https://github.com/rust-lang/rust/issues/43475 (and a few other issues linked from that post). I think this is planned to be fixed with the [trait system rewrite](https://paper.dropbox.com/doc/Trait-system-LCgNlSbM5cPOyEyWdoqzW) (lazy normalization) but I don't know what the timeline is for that :(.

[2018-01-31 07:45] nrc opened #47899 "Rustdoc should not use the dark theme by default"
We shouldn't move users' cheese like this.

[2018-01-31 07:54] amber-zhang commented on #47871
@kennytm

Hi, The build succeed finally.  I deleted all openssl files build from source packages, then run ./x.py clean, ./x.py check, ./x.py build, ./x.py install. Thanks so much for your help!

[2018-01-31 08:03] retep998 commented on #47899
It actually does default to the non-dark theme currently. When it had issues on firefox however, it did default to the dark theme, and that "choice" was saved to local storage. Try clearing your local storage and seeing what the default actually is.

[2018-01-31 08:39] amber-zhang commented on #47871
@kennytm
Hi, rust compilation doesn't succeed really. 'cargo command not found' still happens. I didn't know when the parameter 'extended' was reset back to false. When i changed it to true and compiled again, the following error still happens.

running: "cc" "-O2" "-ffunction-sections" "-fdata-sections" "-fPIC" "-ffunction-sections" "-fdata-sections" "-fPIC" "-I" "/usr/local/include" "-Wall" "-We

[2018-01-31 08:43] kennytm commented on #47871
@amber-zhang is the environment variable `OPENSSL_DIR` set?

[2018-01-31 08:45] amber-zhang opened #47901 "Fail to build Cargo"
Tried to set parameter 'extended' as true in config.toml, then run ./x.py build and get following error. If comment 'extended', ' ./x.py build' runs well, but cargo can't be run -- cargo command not found'. Any ideas to fix it?

running: "cc" "-O2" "-ffunction-sections" "-fdata-sections" "-fPIC" "-ffunction-sections" "-fdata-sections" "-fPIC" "-I" "/usr/local/include" "-Wall" "-Wextra" "-E" "/rust

[2018-01-31 08:46] amber-zhang commented on #47901
by the way, openssl version is 1.0.2g

root@2005b3ffa5b1:/sovrin/rust# openssl version
OpenSSL 1.0.2g  1 Mar 2016

[2018-01-31 08:56] bennofs commented on #46981
I believe this is a bug in our rustc package in nixpkgs, we appear to build it against `jobserver 0.1.6` which is bugged: https://nix-cache.s3.amazonaws.com/log/j4n6lk9fl5ngby7cvhxm5jys8zz62xf1-rustc-1.22.1.drv. Maybe it would be a good idea to have a hard dependency on `jobserver >= 0.1.8` for rustc?

[2018-01-31 09:29] withoutboats commented on #46588
@dtolnay That's interesting. I don't think that is connected to *to* because `read` also takes an argument to read into.

To me, `read_string` seems either ungrammatical or wrong (you're not reading a String, you're reading something and constructing a String of it). I'd prefer some preposition connecting read and string, but I'm not picky - `read_to_string`, `read_as_string`, `read_into_string`,

[2018-01-31 10:14] varkor opened #47902 "Backslashes in error messages are doubly escaped"
Attempting to compile a file containing just `\` results in the error: `error: unknown start of token: \\`, which is incorrect as only one backslash is contained in the file.

[2018-01-31 10:14] glaubitz commented on #45509
Ok, with the latest git snapshot, the compiler now works fine for me on sparc64-linux-gnu.

So, I think it's safe to close this issue now.

[2018-01-31 10:17] glaubitz opened #47903 "Please provide standalone installers for sparc64-unknown-linux-gnu"
With the progress made in the past months, the Rust compiler is now stable enough on Linux/sparc64 that it can be used to build projects like ```cargo``` and ```thundbird``` (version 58 with Rust code).

I would therefore like to ask to provide standalone installers for sparc64-unknown-linux-gnu on the download page "Other Installation Methods" (https://www.rust-lang.org/en-US/other-installers.htm

[2018-01-31 10:54] #42112 closed

[2018-01-31 11:17] lilianmoraru commented on #47683
@alexcrichton It seems that all the mark boxes should now be ticked?(PRs merged)

[2018-01-31 11:33] pepyakin commented on #47526
To clarify, this isn't about wasm only.

compiling with

[code]

will still produce these strings in binary:

[code]

[2018-01-31 12:00] ahmedcharles commented on #47803
I'm using `rustc 1.23.0 (766bd11c8 2018-01-01)` without `CARGO_INCREMENTAL` set. Is incremental compilation on for this setup?

[2018-01-31 12:05] Marwes commented on #47803
@ahmedcharles If you want to test with or without incremental compilation you can set it explicitly for either case `=0`/`=1`.

[2018-01-31 12:15] ahmedcharles commented on #47803
Sure, I knew that. I'm wondering what the current default is.

[2018-01-31 12:15] BenWiederhake commented on #42906
Closing on behalf of https://github.com/rust-lang/rfcs/issues/322

[2018-01-31 12:15] #42906 closed

[2018-01-31 12:26] steveklabnik commented on #47899
Yes; this was a bug that's since been fixed, and it should only appear if you happened to load this on this particular day.

[2018-01-31 12:26] #47899 closed

[2018-01-31 12:32] steveklabnik commented on #44494
So, I'm all in favor of stabilizing this soon. However, I see that the documentation checkbox has been checked, but I can't see any links to those PRs in this issue? Does anyone have links handy, or does @rust-lang/docs need to get on it? :)

[2018-01-31 12:45] AljoschaMeyer opened #47904 "Compiler Panic"
I somehow managed to get the compiler to panic on trying to compile my code. Sorry for the unhelpful description, but that's all I've got. The code uses `#![feature(closure_to_fn_coercion)]`, that might be relevant.

The codebase is [here (links directly to the commit whose changes made the compiler crash)](https://github.com/AljoschaMeyer/packet-stream-rs/commit/215e8f1476c141a5d01e1a19134f872ac8

[2018-01-31 13:17] spastorino commented on #47604
@totorigolo I'd say yes, go ahead. In any case check with @nikomatsakis. This https://github.com/rust-lang/rust/pull/47605 is a very close attempt to implement the thing. Some tests were failing and I gave up because I didn't have any time. It's probably very close, I couldn't even check what the error is about, hehe.

[2018-01-31 13:32] nagisa commented on #46758
These drop flags should trivially disappear in near future as a consequence of us starting to do constant propagation with MIRI.

[2018-01-31 13:45] eddyb commented on #46758
Note that initially we'll only run the const-eval to produce warnings, without actually modifying the MIR , to avoid misoptimizations. But we do want to do const-prop soon after.

[2018-01-31 14:08] pietroalbini commented on #44494
@steveklabnik I think it's checked because I already prepared the snippets to be added to the various docs when I sent the original PR ([available on the unstable book](https://doc.rust-lang.org/nightly/unstable-book/language-features/use-nested-groups.html)). I can send PRs to the various repos so the docs team can review them, after the lang team accepts the stabilization.

[2018-01-31 14:10] varkor commented on #29608
@oli-obk: will this be fixed by https://github.com/rust-lang/rust/pull/46882?

[2018-01-31 14:12] oli-obk commented on #29608
Oh good point. I'm assuming this'll be solved partially.

`false && ((1u8 - 5u8) == 42` will not error, instead produce a warning

[2018-01-31 14:12] oli-obk commented on #29608
I'll add some tests

[2018-01-31 14:30] vi commented on #40363
Is there some exhausive list or traits (in `std` or maybe across the entire ecosystem) that should be collapsed bydefault?

[2018-01-31 14:31] oli-obk commented on #29608
Nevermind, this is not fixed. After #46882 is merged, it should be as simple as removing all constness checks from

https://github.com/rust-lang/rust/blob/master/src/librustc_mir/hair/cx/expr.rs#L292

[2018-01-31 15:00] vityafx opened #47905 "Unreachable patterns warning should not be emitted if there are enum variants under condition"
I have a big project with a lot of features. These features add enum variants to existing enum:

    enum A {
        A,
        #[cfg(feature = "feature_b")] B,
        #[cfg(feature = "feature_c")] C,
    }

In the code I use this `enum` I match **some** of its variants. For example, this code:

    fn test(a: A) -> u8 {
        match a {
            A::A => 1,
            _ => 0,
        }

[2018-01-31 15:02] kornelski commented on #40363
I'd look through `std::ops`, as these are the noisiest.

[2018-01-31 15:04] vi commented on #40363
It is also suggested just to collapse all impls items by default.

[2018-01-31 15:13] oli-obk commented on #47905
That can't be done. These variants are not "not visible". They don't exist at all. That's what `cfg` does, it conditionally adds code. Without the `cfg` being triggered that code can contain errors and broken code without the compiler ever telling you about it.

You can write

[code]

[2018-01-31 15:22] thierry-martinez opened #47907 ""cannot assign to `...` because it is borrowed" error can be circumvent in pattern-matching"
The following code is accepted by the compiler (tested with rustc 1.23 and rustc 1.24.0-beta.8):

[code]

However, assigning to `ref_a` should not be allowed while `ref_a` is borrowed by `ref_ref_a`. Indeed, the following code, which looks equivalent to the code above, is rejected by the compiler:

[code]

[code]

[2018-01-31 15:26] vityafx commented on #47905
Yes, I need to write this everywhere. This is not user friendly :) This is useless and noisy code. Also, I don't see why the compiler can't remember these variants before making optimizations and checks later? They don't exist only because of optimization stage I guess. So, what stops the compiler from remembering those before optimization? This would be useful for people and will not require usel

[2018-01-31 15:31] vityafx commented on #47905
Yes, I need to write this everywhere. This is not user friendly :) This is useless and noisy code. Also, I don't see why the compiler can't remember these variants before making optimizations and checks later? What stops the compiler from remembering these variants before doing `cfg(feature)` thing and remove from its memory after semantical analysis stage. This would be useful for people and will

[2018-01-31 15:39] oli-obk commented on #47905
Yea, `cfg`s are processed before even name resolution happens. It's one of the first things done after parsing.

[2018-01-31 15:41] amber-zhang commented on #47871
@kennytm
After setting environment variable OPENSSL_DIR, the openssl version issue was solved.  But I met another compile issue when building cargo.

warning: build failed, waiting for other jobs to finish...
error: build failed

command did not execute successfully: “/rust/build/s390x-unknown-linux-gnu/stage0/bin/cargo” “build” “--target” “s390x-unknown-linux-gnu” “-j” “4" “--release” “--manifest

[2018-01-31 15:46] amber-zhang commented on #47901
openssl version issue has been solved after setting OPENSSL_DIR. Now got another error when building rust & cargo.

warning: build failed, waiting for other jobs to finish...
error: build failed

command did not execute successfully: “/rust/build/s390x-unknown-linux-gnu/stage0/bin/cargo” “build” “--target” “s390x-unknown-linux-gnu” “-j” “4" “--release” “--manifest-path” “/rust/src/tools/clippy/Car

[2018-01-31 15:48] amber-zhang commented on #47901
@kennytm

Hi, can we talk here? since 47871 was closed.

[2018-01-31 15:49] steveklabnik commented on #44494
Ah, normally the process is, PRs should be open in order for someone to be able to call for stabilizing. This is a small enough feature that I'm happy to do it after.

[2018-01-31 15:51] vityafx commented on #47905
Sad :( Okay, now I understand why it is impossible to do easily. So, I have nothing to do but to disable those warnings for a function scope? Maybe we can do this on a `match` itself?

[2018-01-31 16:08] kennytm commented on #47901
@amber-zhang I think it is better to ask on http://internals.rust-lang.org/ or http://users.rust-lang.org/ for these...

[2018-01-31 16:19] oli-obk commented on #47905
There have been some issues around cfgs removing things forever. Maybe we could leave them in, but ignore them in all checks/visitors and only look for them where applicable?

[2018-01-31 16:49] vityafx commented on #47905
It is interesting to me, what issues exactly?:)

Sounds good to me.

[2018-01-31 17:11] gnzlbg commented on #17606
I wasted a reasonable amount of time today because I thought some type wasn't Send + Sync because rustdoc did not show this to me :/

[2018-01-31 17:15] onur opened #47908 "bootstrap dist command is trying to run unix date command on a windows system"
This issue is currently blocking me to [upgrade rustc on docs.rs](https://github.com/onur/rust/pull/6).

When I try to run `python x.py dist`, bootstrap is failing with following output:

[code]

Windows doesn't have a `date` executable. I tried to copy MSYS's date (along with all dependencies) to $PATH, it worked for `x86_64-pc-windows-msvc` but still failing on `i686-pc-windows-msvc`.

`date` co

[2018-01-31 17:20] bennofs commented on #46981
There is an issue here: rustc version 1.22.1 has `jobserver-0.1.6` in its lockfile, and the nix build appears to reliable trigger this bug while compiling `1.23.0`. So we have a problem in nixpkgs that we cannot bootstrap `1.23.0` using the binary distribution from rust-lang.org.

@alexcrichton you are the author of `jobserver-rs`, is there something we could do to workaround this bug for bootstra

[2018-01-31 17:49] Mark-Simulacrum commented on #47619
Closing as not a bug; we do not expect to make any changes here.

[2018-01-31 17:49] #47619 closed

[2018-01-31 17:51] Mark-Simulacrum commented on #47616
I believe this is expected -- @rust-lang/lang can you confirm that we are okay with this regression? To be clear, https://github.com/rust-lang/rust/pull/46833 made it so that we do not unwind across FFI boundaries, and instead abort. Currently inclined to close as these crates were depending on UB.

[2018-01-31 17:52] Mark-Simulacrum commented on #47462
@alexcrichton So am I correct that we expect to take no further action on this issue?

[2018-01-31 17:54] Mark-Simulacrum commented on #47434
@rust-lang/cargo We need to discuss and resolve the relative rustdoc path issue `RUSTDOC=./foo` soon. The other discussion (cwd changing) is I believe expected, though may also be worth discussing. Nominating and setting P-high.

[2018-01-31 17:58] joshtriplett commented on #47616
How hard would it be, in debug mode, to provide more detailed panic information in this case rather than just an abort?

[2018-01-31 18:01] PJB3005 commented on #47616
FWIW, I'm fine with this being "regressed".

[2018-01-31 18:05] Boscop opened #47909 "emscripten asmjs calling emcc fails on windows because of incorrect quotation"
[code]

Extracted error to make it more readable:

It calls `"cmd" "/c" "emcc.bat" ... "-s" "EXPORTED_FUNCTIONS=[\"_main\",\"_rust_eh_personality\"]" ...`.

It seems the quotation syntax is wrong. That quotation syntax works when calling emcc.bat directly, but not with `cmd /c`:
[code]

But this works:
[code]
and this:
[code]

So [this function](https://github.com/rust-lang/rust/blob/41e03c3c469d1

[2018-01-31 18:08] alexcrichton commented on #46981
@bennofs the workaround would be to remove any ambient jobservers and let cargo/rustc manage it, if any

[2018-01-31 18:12] nikomatsakis commented on #43301
I've been trying to use this feature in `main` and I've found it pretty frustrating. The existing impls of the termination trait just don't allow me to conveniently "accumulate" multiple kinds of errors -- for example, I can't use `failure::Fail`, because it doesn't implement `Error`; I can't use `Box<Error>`, same reason. I think we should prioritize changing to `Debug`. =)

[2018-01-31 18:13] dtolnay commented on #47907
I believe this is the correct behavior. The `ref_a` is **moved** into `(ref_a, ())` and `ref_ref_a` refers to the moved value, not the original `ref_a`. After the line `ref_a = &mut b`, `ref_a` is `&1` but `ref_ref_a` is `&&0`. You can confirm that a move has happened because `ref_a` is inaccessible until reassigned.

[code]

[2018-01-31 18:14] pylaligand opened #47910 "Unable to compile toolchain targeting Fuchsia with newer, thinner sysroot"
#### Context

We're making the Fuchsia sysroot thinner by removing several libraries which now require some special attention in order to be linked in. This applies to libraries such as `fdio`, `launchpad`, and `backtrace` which the Rust toolchain depends on.
What this means is that in order to target Fuchsia, one cannot rely on a sysroot alone and needs a proper Fuchsia SDK with these now indepen

[2018-01-31 18:14] pylaligand commented on #47910
/cc @cramertj

[2018-01-31 18:15] pylaligand commented on #47910
Please let me know if additional information is needed.

[2018-01-31 18:28] alexcrichton commented on #47462
@Mark-Simulacrum that is my personal preference, yes. IIRC @rust-lang/cargo discussed this issue in a broader sense but we didn't reach a conclusion.

[2018-01-31 18:37] Ralith commented on #46981
Can't we bootstrap using 1.23.0 binaries?

[2018-01-31 18:44] emoon commented on #32838
I tried to read most of what has been written already so this may be here already and in that case I'm sorry if I missed it but here goes:

Something that is fairly common for games (in C/C++) is is to use "per frame scratch allocation" What this means is there is an linear/bump allocator that is used for allocations that are alive for a certain period of time (in a game frame) and then "destroyed

[2018-01-31 19:04] aidanhs opened #47911 "Investigate splitting 32bit windows tests"
https://mozilla.logbot.info/rust-infra/20180130#c14213927-c14214012

It'd be good to get some notes on how this might be done in rustbuild.

A working implementation would be fine too :)

[2018-01-31 19:10] joshlf commented on #32838
@emoon

Should be doable. Off the top of my head, you'd need one object for the arena itself and another object that is a per-frame handle on the arena. Then, you could implement `Alloc` for that handle, and assuming you were using high-level safe wrappers for allocation (e.g., imagine that `Box` becomes parametric on `Alloc`), the lifetimes would ensure that all of the allocated objects were drop

[2018-01-31 19:10] U007D commented on #43301
Hi, @nikomatsakis,

I felt exactly the same frustration as you did when I tried to use `termination_trait`.

FYI, your posts on hacking on the compiler inspired me to take a crack at this problem earlier this month.  I've posted the impl for `Display` (and for `Debug` in the previous commit) along with tests here:
 https://github.com/rust-lang/rust/pull/47544.  (It's super minor, but still, my fir

[2018-01-31 19:14] aidanhs commented on #47911
cc #46903

[2018-01-31 19:41] nikomatsakis commented on #47381
Nominating for discussion in the @rust-lang/compiler meeting. @pnkfelix can share what the heck is going on here.

[2018-01-31 20:51] rpjohnst commented on #32838
You could also use a custom smart pointer type that doesn't implement `Drop`, which would make a lot of things easier elsewhere.

[2018-01-31 21:00] dtolnay commented on #46758
Thanks @nagisa @eddyb. MIR constant propagation is nice but in this case some of the drop flags are not controlling any behavior. Check out the drop flags `_12` and `_11` in the flowchart. In your experience would this be because there used to be something else in `bb13` and `bb15` and `bb16` that got optimized away before translation to LLVM IR, or can we have avoided generating `_12` and `_11` i

[2018-01-31 21:04] pnkfelix commented on #47381
Unfortunately I'll be on PTO during the meeting tomorrow.

I'm not sure what I have to share beyond the information I attempted to pack into my earlier comment.

(I'm also a little shocked that I seem to be the only one who is running into this on any sort of consistent basis, on both Linux and Mac. But that could well be because I was working for a couple of weeks against a baseline point on mast

[2018-01-31 21:05] pnkfelix commented on #35118
I am a little worried that I know I've been wrestling with a code gen bug in the code generated for `rustc` itself that seems somewhat likely to be related to issues with LLVM and `i128`. (See #47381)

But if anything, maybe that is incentive for us to stabilize this, so that other people will encounter the bugs, and we'll acquire a better suite of test inputs! :)

[2018-01-31 21:06] nikomatsakis commented on #47703
Ok, after some discussion with @davidtwco it has become clear where I went wrong. The error is actually being reported by a `Drop(_1)` terminator, where `_1` is the `self` path. The problem here is that we currently assume that `Drop(_1)` may access *any* data reachable from `_1` -- and that includes `_1.field`. If the type `MyStruct` had a destructor, that would be the right thing, and the error

[2018-01-31 21:22] dtolnay commented on #46758
Response in #rustc:

I will investigate with `-Z dump-mir` and maybe after drop elaboration it will be clearer what the IR is doing.

Just from the LLVM IR it looks like `_12` could be the drop flag for the closure `f` which is the argument to `map_or`, and `_11` could be the drop flag for the `default` value. In the monomorphization shown here, it happens that neither of those types has a Drop im

[2018-01-31 21:29] pnkfelix commented on #27282
I've been working on some prototype solutions to this problem. For the record (and maybe of use if we turn this into a mentoring task), here are the paths I've explored (and then migrated away from, in most cases):

 1. Add a new `Place` variant for the discriminant, so that we can model borrowing it. This doesn't work, because in general a place really wants to be a distinct field/spot in memory,

[2018-01-31 21:34] thierry-martinez commented on #47907
Thank you for the explanation! I didn't realize that constructing the pair moved the value, indeed.

[2018-01-31 21:34] #47907 closed

[2018-01-31 22:18] sgrif commented on #47139
Fixed by #47738

[2018-01-31 22:18] #47139 closed

[2018-01-31 22:22] nikomatsakis commented on #44660
See also this discussion thread:

https://internals.rust-lang.org/t/the-great-module-adventure-continues/6678

[2018-01-31 22:23] nikomatsakis commented on #44660
I'd like to be able to stabilize this excellent work some day =) and that will require us picking one of the variants...hence the thread.

[2018-01-31 22:29] Mark-Simulacrum commented on #47616
@joshtriplett @diwic or @nikomatsakis can probably comment on providing more information in debug mode. I think that sounds like something we could improve and add to... seems simple in theory, but may have implications I'm not aware of. There's some comments on #46833 I think.

[2018-01-31 22:42] Sunspar commented on #47904
There may be a valid reason, but you're using a fairly old nightly build. Specifically, it appears as though `closure_to_fn_coercion` landed in [1.19](https://blog.rust-lang.org/2017/07/20/Rust-1.19.html).

It appears to compile and run tests (the only failing test I noticed was `ps::tests::requests`) on my MBP (running OS X) with:

[code]

Are you able to update to a newer nightly compiler?

[2018-01-31 23:24] Mark-Simulacrum commented on #47808
Hm, that seems like a bug. If you can report on what those processes are (and ideally what spawned them) that would be nice; otherwise I'd presume that it won't get fixed soon unless someone else investigates.

[2018-01-31 23:26] Mark-Simulacrum commented on #38686
I would be happy to review (and likely accept) such a PR.

[2018-01-31 23:50] #47792 closed

[2018-01-31 23:50] #47570 closed

[2018-01-31 23:50] #47638 closed

[2018-01-31 23:50] #22387 closed

[2018-01-31 23:50] #47782 closed

[2018-02-01 00:57] zackmdavis commented on #47771
Two potentially relevant comments?—

https://github.com/rust-lang/rust/blob/8ccab7eed5f4fc93500fbf242e575073ca70d7cb/src/libsyntax/visit.rs#L110-L117

https://github.com/rust-lang/rust/blob/8ccab7eed5f4fc93500fbf242e575073ca70d7cb/src/libsyntax/feature_gate.rs#L1101-L1111

[2018-02-01 01:02] BurntSushi commented on #46484
@pitdicker Do you happen to have any context on what led to [this change](https://github.com/rust-lang/rust/commit/7f6f4581946f9ae8e2c23cd7e09eb4f03d6c3cb1#diff-2079e3221e2faa3ae91c9338767d2637R446) with respect to this bug?

[2018-02-01 03:50] grantslatton opened #47921 "rlveghttrfdjilunbfrgkvrhlgjbnhndheu"

[2018-02-01 03:51] #47921 closed

[2018-02-01 03:51] grantslatton commented on #47921
Cat on the keyboard

[2018-02-01 04:35] zackmdavis commented on #47390
This would be nontrivial to implement compared to the `fieldname: _` suggestions (about which, PR forthcoming), because the liveness checker currently doesn't bother remembering which local variables were created in the same pattern.

[2018-02-01 05:14] canndrew commented on #35121
@nikomatsakis I've updated that summary issue again with some links and examples. Also, sorry it's taken me a while to get to this, I've been very busy this past week.

[2018-02-01 05:38] PramodBisht commented on #45651
@estebank Hi, Can I take this one? if yes, then I will need your guidance.

[2018-02-01 05:50] arshiamufti commented on #45651
hi @PramodBisht -- i'm actually going to work on this sometime in the near future :)

[2018-02-01 06:49] StyMaar opened #47924 "Not helpful error message in case of double borrow in a match"
When accidentally using a double borrow, a beginner can be exposed to a really unhelpful error message :

  --> src/main.rs:10:14
   |
   |             &Bar::A | Bar::B => {
   |              ^^^^^^ help: consider using: `&Bar::A`

[exemple](https://play.rust-lang.org/?gist=b48879f215481519a34a9c4b99962823&version=stable) of such footgun.

Expected error message :

  --> src/main.rs:10:14
   |

[2018-02-01 06:50] StyMaar commented on #47924
Holy cow ! I justed tested in beta, and it works as I'd like. You guys are awesome 😃.

[2018-02-01 06:50] #47924 closed

[2018-02-01 07:28] PramodBisht commented on #45651
@arshiamufti sure!

[2018-02-01 07:33] #39254 closed

[2018-02-01 08:16] canndrew commented on #35121
Done.

[2018-02-01 08:27] glaebhoerl commented on #43301
A question I'm still interested in: suppose you *don't* want to rely on the default error message output (whether `Debug` or `Display`), and want your own instead, how do you do that? (Apologies if this was already written down somewhere and I missed it.) You wouldn't have to stop using `?`-in-`main` entirely, would you? It's something like writing your own result and/or error type and/or `impl`?

[2018-02-01 08:31] withoutboats commented on #43301
@glaebhoerl It's very straightforward:

1. Create a new type.
2. Implement `From` your old error type.
3. Implement `Debug` (or `Display`).
4. Replace the type in the signature of `main`.

[2018-02-01 08:46] glaebhoerl commented on #43301
Thanks!

It seems slightly odd to me to write custom implementations of `Debug` which *aren't* debugging-oriented, but I guess it's not the end of the world.

[2018-02-01 09:02] mati865 commented on #37939
@arielb1 it was reverted.

[2018-02-01 09:14] eun-ice opened #47925 "Rust allows calling fn xyz(&mut self) from immutable borrow"
Since TcpStream::flush is defined as fn flush(&mut self), I would expect that this code should not be possible:

[code]

The same goes for other Read and Write methods on socket, I can call all of them from an immutable borrow, just by making a mutable reference to it like in the example above.

Full example code:

[code]

For reference mio implements Write for TcpStream as such:

[code]

tested w

[2018-02-01 09:24] eun-ice commented on #47925
Oh never mind, I understand now.

Since TcpStream implements write for a reference to the TcpStream (```impl Write for &TcpStream```)
insode ```fn flush (&mut self)``` self is actually of type ```&mut &TcpStream```.
So while can call flush, as long as we have a mutable reference to an immutable reference.

I will close this issue, still I would appreciate someone to give me a clue on why it is the

[2018-02-01 09:24] #47925 closed

[2018-02-01 09:31] oli-obk opened #47927 "Unergonomic structured suggestions in rustc"
While checking `span_help`s that could be `span_suggestion` I noticed that rustc contains lots of code similar to

[code]

where we try to get a snippet for the , and if that fails, since we can't produce a nice suggestion, we produce a `help` message that contains a message.

We should probably provide a helper for that. First I thought that we could add a helper that does essentially the above w

[2018-02-01 09:32] Matrix-Zhang opened #47928 "why need more '&' here ??"
[code]
if remove the form(&form)'s '&', compile will failed...

[2018-02-01 09:36] SimonSapin commented on #43301
@glaebhoerl That’s why the `Result` impl should use `Display` rather than `Debug` IMO.

[2018-02-01 10:07] emoon commented on #32838
Thanks! I made a typo in my original post. It's to say that there is *no* destruction of objects.

[2018-02-01 10:14] zackmdavis commented on #47927
(This is probably a _really_ dumb question, but this API had bugged me for a while, so just in case my intuition _isn't_ going haywire here—)

If we can know that [spans are valid](https://github.com/rust-lang/rust/issues/47504), is there much reason [`span_to_snippet`](https://github.com/rust-lang/rust/blob/26792f0607bea2b03daa5195c2688fd53289042b/src/libsyntax/codemap.rs#L536) _should_ fail? Are

[2018-02-01 10:19] Manishearth commented on #47927
macros and stuff, usually. not all spans come from a contiguous region of code

[2018-02-01 11:24] sander2 opened #47929 "Lifetime elision rules"
Shouldn't lifetime elision be allowed in the code below? The book (second edition) says "If there is exactly one input lifetime parameter, that lifetime is assigned to all output lifetime parameters". Since the only input lifetime used is `'a`, it seems to me that elision should be allowed here.

[code]

Edit: to be clear: this isn't allowed by the compiler. [playground link](https://play.rust-lan

[2018-02-01 11:29] oli-obk commented on #47928
This seems like an issue with the `reqwest` crate. Have you opened an issue there?

[2018-02-01 11:55] Thomasdezeeuw commented on #43301
Can't the `Termination` trait have an extra method called `message`, or `error_message` or something like that, that has a default implementation that uses the `Debug`/`Display` to show the message? Then you just have to implement a single method rather then creating a new type.

[2018-02-01 12:32] zackw commented on #43301
@glaebhoerl @Thomasdezeeuw Something like an `error_message` method was in the original draft of the RFC, but it got dropped for lack of consensus.  My feeling at the time was that it would be best to get the basic feature landed (not necessarily stabilized) and then iterate.

[2018-02-01 13:16] psumbera opened #47930 "Rust 1.23 bus error during stage 2 build on Solaris sparc"
While building Rust 1.23 (using 1.22.1) on Solaris sparc it ends like this (on intel it's ok):

[code]
There are four core dumps from this:

[code]

All cores look very similar:

[code]

rustc command line which cores dump is:

[code]

[2018-02-01 13:18] psumbera commented on #47930
When I build on the same system older Rust 1.22.1 (using the same Rust 1.22.1) it goes fine.

[2018-02-01 13:28] Matrix-Zhang commented on #47928
ok

[2018-02-01 13:28] #47928 closed

[2018-02-01 13:35] #47693 closed

[2018-02-01 13:45] dbrgn commented on #36342
I just stumbled over this. Is there any workaround that we can use in the meantime?

In the worst case I could wrapp all 3rd party functions with my own:

[code]

...but I hope there's a better way than this.

If not, this is really a stumbling block when trying to reuse code from FFI compatible crates...

[2018-02-01 14:10] luser commented on #37519
It would definitely be nicer if `Command` didn't try to be too smart here, but breaking existing usage would also suck. For `sccache` I contributed to the [`which`](https://crates.io/crates/which) crate, which will append an exe extension on Windows if necessary (but not replace an existing extension). One thing that the `which` crate doesn't implement is support for using the extensions from the

[2018-02-01 14:47] totorigolo commented on #47604
Can you explain which tests were failing? I applied your changes and everything seems to be working.

[2018-02-01 15:08] nikomatsakis commented on #47628
@dtolnay unknown, but it seems worth optimizing!

Question: what happens on *subsequent* compiles?

[2018-02-01 15:12] nikomatsakis commented on #47349
triage: P-medium

Converting to a A-diagnostics bug -- i.e., we should offer a better suggestion -- and dropping priority from P-high, since the new behavior is correct.

[2018-02-01 15:17] nikomatsakis commented on #47616
This is expected behavior. The idea roughly is that specifying the ABI *does indeed* specify whether a panic is allowed -- it's not so much about the FFI boundary, as about the fact taht `extern "C"` functions don't have a defined way to propagate unwinding (particularly since our panic mechanism is an undefined impl detail, and hence specific to the Rust ABI).

Obviously it'd be nice to give a be

[2018-02-01 15:17] nikomatsakis commented on #47616
Closing as "expected behavior" in this case =)

[2018-02-01 15:17] #47616 closed

[2018-02-01 15:20] nikomatsakis commented on #47244
cc @estebank -- was this fixed by https://github.com/rust-lang/rust/pull/47747 ? Any idea what the problem is here?

[2018-02-01 15:20] nikomatsakis commented on #47244
triage: P-high

[2018-02-01 15:21] AljoschaMeyer commented on #47904
Huh, I'm so used to my package manager keeping things up to date, I forgot I used rustup and need to manually update. Updated and everything works fine again.

Sorry for bothering you with this, and thanks for the quick response!

[2018-02-01 15:21] #47904 closed

[2018-02-01 15:22] nikomatsakis commented on #47866
(Just to be clear, this is a regression in the perf of the compiled code, right?)

[2018-02-01 15:22] nikomatsakis commented on #47866
@alexcrichton do you think you will have time to chase this down? Should we try to find someone to assign?

[2018-02-01 15:23] nikomatsakis commented on #47866
triage: P-high

Need to figure out what's happening here.

[2018-02-01 15:24] nikomatsakis commented on #47812
Huh. I propose we first fix the regression, then worry about `PROC_MACRO_BACKTRACE`. I feel like there is a similar conflict in env vars around `RUST_LOG`, and we've never gotten around to doing anything about it.

[2018-02-01 15:25] nikomatsakis commented on #47812
I'd sort of rather we debate the whole "reuse `RUST_` env vars" separately.

[2018-02-01 15:29] nikomatsakis commented on #47812
triage: P-high

It's important that proc-macro derive output not regress in the normal case. The rest can be debated.

@oli-obk may take a shot at this over next few days, but I'm sure they won't object if somebody else does!

I'd be happy with any of the above:

- Reverting the PR that caused the problem until we can come back with a revised approach.
- Capture the panic and not printing anything

[2018-02-01 15:31] nikomatsakis commented on #47775
triage: P-high

The behavior of the compiler while technically correct is super annoying. Thanks @zackmdavis for taking initiative.

[2018-02-01 15:32] nikomatsakis commented on #34260
triage: P-medium

@sgrif and I are working on this a bit =)

[2018-02-01 15:32] nikomatsakis commented on #47032
triage: P-medium

@sgrif and I are working on this a bit =)

[2018-02-01 15:40] Zoxc commented on #47812
@nrc Do any tools which depend on rustc also use a custom panic handler?

[2018-02-01 15:41] spastorino commented on #47604
Run `RUST_BACKTRACE=full ./x.py test --incremental --stage 1 src/test/{ui,run-pass,compile-fail}`

[2018-02-01 15:44] staktrace opened #47931 "Running a binary built by cargo fails due to missing libraries; but `cargo run`ning it works"
STR (using latest stable rust 1.23.0 on Ubuntu 16.04):
1) Clone the [cbindgen](https://github.com/eqrion/cbindgen/) repo (current master is 270491f)
2) Build it using `cargo build --release`
3) Run it by running `target/release/cbindgen`
4) Run it by running `cargo run --release`

Expected:
step 3 and step 4 both run the binary without errors

Actual:
Step 4 runs the binary. But step 3 produces th

[2018-02-01 15:58] nikomatsakis commented on #47789
@Aaron1011 great =)

[2018-02-01 16:15] sfackler commented on #47551
I ran into this as well.

[2018-02-01 16:36] estebank commented on #47244
I don't think the presentation changes that that PR (and the one it's supplementing) introduced. It looks to me that it doesn't actually get to check `E0593`. I'll dig deeper.

[2018-02-01 16:40] joshtriplett opened #47932 "In debug mode, print a message for attempted unwind past FFI call"
See https://github.com/rust-lang/rust/issues/47616 and https://github.com/rust-lang/rust/pull/46833 . Rust now generates an abort rather than attempting to unwind through an FFI call. In debug mode, could we generate a friendly error message explaining that, rather than just aborting?

[2018-02-01 16:54] estebank commented on #37719
CC #38771.

[2018-02-01 16:58] gsollazzo commented on #47931
I can replicate the problem on OSX on nightly [rustc 1.25.0-nightly (90eb44a58 2018-01-29)].

[2018-02-01 17:00] nikomatsakis commented on #46413
Ok so I dug into [this error](https://github.com/rust-lang/rust/issues/46413#issuecomment-352113056) a bit. The cause is the ordering of this "tail bit" in the MIR:

[code]

Here, `_1` represents the `stmts` variable. `_6` represents the temporary from calling `map`, I think:

[code]

So, **MIR borrowck is not wrong to complain** -- the destructor is indeed running with access to memory whose stor

[2018-02-01 17:00] nikomatsakis commented on #46413
The other question is why **non-MIR-based borrowck accepts this code**

[2018-02-01 17:17] Zoxc commented on #47812
I've [opened a PR](https://github.com/rust-lang/rust/pull/47933) to fix this.

Interestingly we have a test for the previous behavior already, `ui-fulldeps\proc-macro\load-panic.rs`, which did not fail...

[2018-02-01 17:22] manpat opened #47934 "Searchbar in docs for std crate show entries which don't appear to exist"
Searching for from_bool on both [https://doc.rust-lang.org/std/](https://doc.rust-lang.org/std/) and in my local docs (with `rustup doc`), shows results for functions on primitive types which when clicked, don't link to any functions.

![rustfrom_bool](https://user-images.githubusercontent.com/6134057/35692577-a94c2da0-0773-11e8-8c32-6e51c827327e.png)
![primtypefrom_bool](https://user-images.githu

[2018-02-01 17:30] estebank commented on #32072
CC #23480.

[2018-02-01 17:34] nikomatsakis commented on #47244
@estebank great, if you don't have time, lemme know

[2018-02-01 17:41] alexcrichton commented on #47866
@nikomatsakis unfortunately I'm pretty tight on time, so it's probably best to find another soul to help out with this.

[2018-02-01 18:09] mark-i-m opened #47935 "Dependency tracking README outdated?"
I believe that https://rust-lang-nursery.github.io/rustc-guide/query.html is _more updated than_ https://github.com/rust-lang/rust/blob/master/src/librustc/dep_graph/README.md

Is there anything in the latter that is missing in the former?

cc @michaelwoerister @nikomatsakis

[2018-02-01 18:09] sgrif opened #47936 "Editing proc-macro crate = undefined symbol"
Note: This is with incremental-comp turned off, and a compiler built yesterday.

Occasionally when working on Diesel's codegen crates, I'll get an error like this:

[code]

The only fix when this happens is to `cargo clean`. It randomly happens when I change some code, but not 100% of the time.

[2018-02-01 18:11] YaLTeR opened #47937 "Can't cast self to &Trait in a default method implementation"
[Playground](https://play.rust-lang.org/?gist=7e491773ee60fe53e118e6d41aa87ccb&version=stable)
[code]
The second one produces the following error:
[code]
Adding `where Self: Sized` makes the trait not object-safe which is undesired (and should not be required, see the first example which works).

rustc 1.23.0 (766bd11c8 2018-01-01), same on Beta and Nightly.

This issue has been assigned to @Patry

[2018-02-01 18:13] diwic commented on #47932
Hmm, but this raises questions w r t "where should it be printed?" "In no_std, can we even print things?"

[2018-02-01 18:15] ollie27 commented on #47934
This was fixed by #47675: https://doc.rust-lang.org/nightly/std/?search=from_bool

[2018-02-01 18:19] joshtriplett commented on #47932
`no_std` still has `panic_fmt` and similar. (If that throws away the message, that's fine.)

[2018-02-01 18:23] nikomatsakis commented on #47935
I plan to do a sweep soon and remove the READMEs from the repo. I'm not sure how much of the material in that particular one is still relevant though.

[2018-02-01 18:24] dataf3l commented on #42653
I think this is very important.

[2018-02-01 18:26] diwic commented on #47616
The easy answer is that the `extern C` ABI does not support unwinding and therefore it must be stopped. But that is not entirely accurate, because we do have a few `extern C` function that can start unwinding. These are marked with the `#[unwind]` attribute (this attribute is only available on nightly). If the `unwind` attribute is not present on an `extern C` function (and some other ABIs as well

[2018-02-01 18:28] nikomatsakis commented on #44581
Good point, I think we "deferred" that =)

Seems like we will want this to be based on the span, basically same as hygiene. Not that I really know how that works precisely. Still, it complicates things quite a bit, since it wouldn't be a global switch.

[2018-02-01 18:35] Manishearth commented on #44581
@nrc @jseyfried thoughts?

[2018-02-01 18:39] michaeleiselsc opened #47938 "Reference '...' is ambiguous in LLDB"
When I try to print a local variable in LLDB, e.g. with `po foo`, and there's a function with the same name, I get this message:
[code]

[2018-02-01 18:47] steveklabnik commented on #47934
Ah ha! Thanks for finding that, @ollie27 .

@manpat thank you for filing; I was the one that told you you should, and wasn't aware of this fix. I appreciate it, but since it's already been fixed, I'm going to give this a close.

[2018-02-01 18:47] #47934 closed

[2018-02-01 18:56] bossmc commented on #47551
There doesn't seem to be any movement on the LLVM issue since I raised it, not even an assignee.  Do you know if this is normal behaviour for them?  Or if I've mis-raised the issue?

[2018-02-01 19:00] penpalperson commented on #47908
I'll take this!

[2018-02-01 19:04] dtolnay commented on #47937
I believe this is working correctly -- trait objects can only be made from `Sized` types. Your example which works implicitly has a `Self: Sized`. The example which does not work is equivalent to:

[code]

[2018-02-01 19:09] asajeffrey commented on #32836
Is it too late to revisit the drop check semantics of unions with drop fields?

The original issue is that adding `ManuallyDrop` caused Josephine to become unsound, because it (rather naughtily) relied on perma-borrowed values not having their backing store reclaimed without first running their destructor.

A stripped-down example is at https://play.rust-lang.org/?gist=607e2dfbd51f4062b9dc93d14981

[2018-02-01 19:17] diwic commented on #47932
Hmm, but calling `panic_fmt` in that context will likely cause another panic (because panic_fmt is supposed to **start** a panic), which we will then catch in the same context, and then call `panic_fmt` on, which will cause an infinite loop?

There might be a safe somewhere that causes such a double panic to abort the process, but I'm not sure we're then better off than we are today.

[2018-02-01 19:25] joshtriplett commented on #32836
Destructors are not guaranteed to run. Rust doesn't guarantee that. It tries, but, for instance, [`std::mem::forget`](https://doc.rust-lang.org/std/mem/fn.forget.html) was made into a safe function.

Unions are unsafe largely because you can't know what field of the union is valid. The union *can't* have an automatic `Drop` impl; if you wanted such an impl, you'd need to write it manually, taking

[2018-02-01 19:26] YaLTeR commented on #47937
But if you try adding a `where Self: Sized` constraint to the second example in the playground as the compiler suggests the included function which uses both traits as trait objects will refuse to compile due to the function call becoming not object-safe?

[2018-02-01 19:27] joshtriplett commented on #47932
@diwic Hmmm, fair point. We need the "fmt" part of `panic_fmt`, not the "panic" part. :)

[2018-02-01 19:30] asajeffrey commented on #34761
An issue that came up in the context of Josephine is https://github.com/asajeffrey/josephine/issues/52. This is mainly an issue for the interaction between the drop checker and untagged unions (https://github.com/rust-lang/rust/issues/32836#issuecomment-362369802) but does have impact on the code guidelines for when `may_dangle` may be used safely.

The issue is the text "When used on a type, e.g.

[2018-02-01 19:37] alexcrichton opened #47939 "Add a compiler option for a 'pseudo-cwd' for rustc errors"
Cargo's behavior of what the cwd is when rustc is invoked changed in https://github.com/rust-lang/cargo/pull/4788 for a number of reasons, but this has caused a number of regressions in tooling because the paths printed in error messages are now relative to a different location.

In talking with @nikomatsakis an idea that came up was that we could add an option to the compiler to say "print diagno

[2018-02-01 19:37] nikomatsakis commented on #47939
cc @rust-lang/compiler

[2018-02-01 19:38] eduardosm opened #47940 "Macro expansion fails when adding an extra surrounding"
Considering this simple example:
[code]
The first invoation is accepted by the compiler, however, the second produces the following error:
[code]
Changing the type of delimiter (parenthesis, braces...) does not seem to change this behavior.

[2018-02-01 19:39] asajeffrey commented on #32836
@joshtriplett yes, Rust doesn't guarantee that destructors will run, but it happened (prior to 1.19) to maintain the invariant that perma-borrowed values would only have their memory reclaimed if the destructor ran. This is even true in the presence of `mem::forget`, since you can't call it on a perma-borrowed value.

This is what Joephine rather naughtily was relying on, but isn't true any more b

[2018-02-01 19:40] kennytm commented on #47639
I've tried bisecting in the range 33374fa9d09e2a790979b31e61100dfed4b44139...7d6e5b9da0865fbc9fa54edb324fefe80f358da7 and the result is... #46115? 😳 Needs to reverify later.

---

Test script:

[code]

Command:

[code]

[2018-02-01 19:41] sgrif opened #47941 "Attributes have incorrect span information"
Given the following struct:

[code]

the input to the custom derive will have incorrect span information for every token in the `table_name` attribute except for the pound. Every other token will have the span `Span { lo: BytePos(0), hi: BytePos(0), ctxt: #0 }`.

[2018-02-01 19:49] estebank commented on #47939
This should be useful for _any_ tooling that deals with the compiler output, even beyond cargo.

[2018-02-01 19:52] eddyb commented on #47939
Should this be tied/related to the debuginfo path renaming options? (cc @michaelwoerister)

[2018-02-01 19:55] alexcrichton commented on #47939
In this context @eddyb I don't think so. That was actually the bugfix in Cargo because Cargo was incorrectly caching artifacts when it otherwise would have changed because the debuginfo would have been different. Instead Cargo now produces artifacts with deterministic debuginfo (regardless of the cwd of who invoked Cargo to build the crate), but for tooling it seems like it may be best to continue

[2018-02-01 19:57] nikomatsakis commented on #47939
Question is: who has time to hack this up =)

[2018-02-01 20:08] estebank commented on #32072
The current output is beyond bad because of the new suggestion:

[code]

Fixed in #47942.

[2018-02-01 20:11] dtolnay commented on #47937
You mean like this?

[code]

I think the error is suggesting to add `where Self: Sized` to the method, since the method is what requires `Self: Sized` in order to build a trait object.

[code]

The diagnostic could be clearer about precisely where `Self: Sized` would help.

[2018-02-01 20:16] alexcrichton commented on #47866
Er ok had some time to debug this. @eddyb it looks like this regression may be caused by https://github.com/rust-lang/rust/pull/46623 or at least *something* is caused by that.

The logs I have are:

[before](https://github.com/rust-lang/rust/commit/50f6c3ece)

[code]

[after](https://github.com/rust-lang/rust/commit/77efd6800c57ba83923dddbbabf03c7afa6a34a4)

[code]

That is, with https://github.c

[2018-02-01 20:16] nagisa commented on #47932
That would require adding a new lang item that would end up being required for essentially every binary. We already have quite a few cases where invoking UB will "just" crash with a SIGILL. I think it is better to just document common UBs that result in SIGILLs in a discoverable location and not sacrifice codegen quality or `#[no_std]` usability.

[2018-02-01 20:17] YaLTeR commented on #47937
Yes, I was adding `where Self: Sized` to the method as you're showing. This is what happens then:
[code]
=>
[code]

[2018-02-01 20:19] eddyb commented on #47866
@alexcrichton Maybe it's similar to https://github.com/rust-lang/rust/issues/47062#issuecomment-354467344? Is there any change around that nightly?

[2018-02-01 20:20] dtolnay commented on #47940
I think this is working as intended -- `{"a"` is a valid start to an $expr (for example `{"a".len()}` is such an $expr, as seen in the suggestion that it expected a `.` token) so the macro will begin to match the $key:expr in your first rule.

If you want the rule with the surrounding `{`...`}` to be matched when the input begins with `{`, you can move it before the first rule.

[code]

[2018-02-01 20:25] Aaron1011 commented on #47680
I'd like to work on this.

[2018-02-01 20:32] nikomatsakis commented on #47680
@Aaron1011 sounds good - I was digging into this earlier actually but got distracted. I'll take a quick look at where I was, I *think* I was close to seeing what was going wrong =)

[2018-02-01 20:32] alexcrichton commented on #47866
False alarm, @eddyb is right in that the commit I bisected above was fixed by https://github.com/rust-lang/rust/pull/47007

[2018-02-01 20:37] steveklabnik opened #47945 "rustdoc book doesn't mention assert in doc tests"
this is non-obvious to some people, we should add it.

[2018-02-01 20:40] eduardosm commented on #47940
I see your point. However, the outer delimiters of the first rule are  `{`...`}`, wheras the second invocation uses `(`...`)`. So, the second invocation shoudn't be trying to match the `$key:expr` of the first rule. I believe that a macro rule should be discarded if the outer delimiters do not match, without looking further ahead.

[2018-02-01 20:45] Aaron1011 commented on #47680
Here's a reduced version of @shepmaster's example ([playground](https://play.rust-lang.org/?gist=9e55be2f48ada3aa756d3d106f40aa8c&version=nightly))

[code]

[2018-02-01 20:47] nikomatsakis commented on #47680
I think this one is gonna be tricky. I *think* it's a similar problem to the one identified here <https://github.com/nikomatsakis/borrowck/issues/18>.

I feel like I can't *quite* describe it precisely, but what happens is something like this:

1. We create the borrow in `add_word` with the call to `cursor.get_child`. It has lifetime `_#33r`.
2. On the `Some` path, we require that this lifetime `'

[2018-02-01 20:49] nikomatsakis commented on #47596
Gonna close this issue, since we've created subissues for each part.

[2018-02-01 20:49] #47596 closed

[2018-02-01 20:51] aturon commented on #44494
I'd love to get this in for the current release cycle (beta branches in about two weeks) -- anyone want to take on the stabilization here?

[2018-02-01 20:51] nikomatsakis commented on #47388
@gaurikholkar how goes ? Just checking in here =)

[2018-02-01 20:52] nikomatsakis commented on #47279
@Pulkit07 how goes? just checking in here =)

[2018-02-01 20:53] nikomatsakis commented on #47184
cc @Aaron1011 -- btw, since you're on a roll lately, this would be a good one to get done at some point. It'll require a *bit* of experimentation though. =) Happy to discuss it sometime.

[2018-02-01 20:54] pietroalbini commented on #44494
Sure, I'll start sending out PRs.

[2018-02-01 20:54] GuillaumeGomez commented on #42653
?

[2018-02-01 20:59] setharnold opened #47946 "TcpSocket try_clone() sets close-on-exec but this isn't documented"
Hello, the TcpSocket try_clone() method calls into .duplicate(), which sets the close-on-exec flag on the socket:

https://doc.rust-lang.org/src/std/net/tcp.rs.html#255-257
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/fd.rs#L197

I believe the documentation for try_clone() should be extended to describe:

- That this is an operation with the underlying operating system, dup()

[2018-02-01 21:05] alexcrichton commented on #47866
Hm ok some more investigation. The numbers here all over the place and there's a whole bunch of changes that were in flight over the past few months. That being said I don't think that this is a regression!

So first up "fat" LTO is much slower than "thin" LTO on this benchmark. That doesn't make a lot of sense because it's supposed to be the other way around! I tried to hunt backwards seeing what

[2018-02-01 21:08] dtolnay commented on #47940
By design the outer delimiter is not significant, you can call any macro with any delimiter. All of the following are supported and stable.

[code]

[2018-02-01 21:20] QuietMisdreavus commented on #47639
@GuillaumeGomez I just tried documenting `libsecp256k1` with that exact nightly and it crashed for me?

<details>

[code]

</details>

The issue is still present on the latest nightly:

<details>

[code]

</details>

[2018-02-01 21:20] kennytm commented on #47639
@GuillaumeGomez Negative, it is still crashing with 21882aad7299e8e859785845ac12374990f24dae.

<details>

[code]

</details>

[2018-02-01 21:36] ia0 commented on #46793
In case it's not exactly the same issue, I have the same kind of error but with a type parameter instead of a lifetime parameter: https://play.rust-lang.org/?gist=368fe46eed85670e35b876bf1c4c95d3&version=nightly
[code]

[2018-02-01 21:55] ehuss commented on #47939
Would/should this option also affect the `file!` macro?

I parse the output from tests to help the user jump to any failed tests, so it needs to resolve those relative paths as well.

[2018-02-01 21:57] arielb1 commented on #37939
@mati865

I know that. It has a bug that I couldn't quite pin out.

[2018-02-01 22:04] arielb1 commented on #46758
IIRC, these drop flags are used if the destructor of one of the types (i.e. `T` or the closure) panics, and therefore need to be present in the constructed MIR and will not be removed by constant propagation on the generic MIR.

[2018-02-01 22:09] dtolnay commented on #46758
Would you be able to briefly suggest a path forward for @mrhota or someone else to start working on?

[2018-02-01 22:10] alexcrichton commented on #47939
@ehuss since that affects the actual output binary itself i'd imagine that this flag wouldn't affect that (as then Cargo would go back to recompiling whenever cwd changed!)

[2018-02-01 22:29] oli-obk commented on #47939
How about making this an env var, so tooling could use this without caring how to pass down the path through arbitrary layers of scripts an tools?

This way no part of the compiler has to know about it except for the diagnostic emitters

[2018-02-01 22:31] SimonSapin commented on #34761
`std::mem::forget` itself is not `unsafe`. I believe that leaking any value (never running destructors) is considered sound in Rust. (This is why for example scoped threads are based on closures rather than "guard" values with destructors.)

[2018-02-01 22:36] glaebhoerl commented on #34761
Yes, he knows, that's not what he's asking.

The part of the equation that's unsafe and whose contract is in question is `#[may_dangle]`.

[2018-02-01 22:36] nikomatsakis commented on #47879
On a hunch, tried the results of @Aaron1011's https://github.com/rust-lang/rust/pull/47920. This makes a *big* difference, bringing us down to 7s. Haven't looked at the default profiling yet.

[2018-02-01 22:41] arielb1 opened #47949 "Panics in destructors can cause the return value to be leaked"
## STR

[code]

## Expected Result

"creating a NoisyDrop" and "dropping a NoisyDrop" should appear the same number of times

## Actual Result

[code]

The destructor is ignored.

[2018-02-01 22:42] alexcrichton opened #47950 "proc-macro panics when tokenizing `..=` in attributes"
Given `lib.rs`:

[code]

and `main.rs`

[code]

you can compile as:

[code]

[2018-02-01 22:42] arielb1 commented on #46758
The MIR cfg is the following - see https://play.rust-lang.org/?gist=a642496d2949e24738b27b030644f833&version=stable (not sure how to upload graphviz graphs):
[code]

I'm actually quite unsure of the best way to do it, but it should be possible to turn this into a better generic MIR.

[2018-02-01 22:42] Badel2 opened #47952 "Missing docs about associated constants preventing trait from being made into an object"
The following code (from https://github.com/rust-lang/rust/issues/29924)
[code]

Doesn't compile because of the following error:

[code]

I couldn't find anywhere why a trait cannot contain associated consts, so I suggest to update the error index with a short explaination: https://doc.rust-lang.org/error-index.html#E0038

[2018-02-01 22:57] dotdash commented on #47866
Reverting 8bde2acfc7876148ebfe192780434dbb969eded3 "rustc: Add `-C lto=val` option" fixes this.

[2018-02-01 23:00] alexcrichton commented on #47866
@dotdash indeed yeah but all that's doing is switching the default from fat LTO to ThinLTO, you can test that out by passing `-C lto=thin` and `-C lto=fat` to see the difference for that.

I'm not sure why, but it appears that this benchmark *gets worse* when compiled with full LTO. It happens to be faster with ThinLTO, which was the default on beta/nightly for a bit but is no longer the case.