[2018-10-01 20:00] euclio commented on #43466
@cramertj I was actually putting together a PR to deny the warnings, but it appears that some of the existing failures are caused by issues in the implementation rather than errors in the documentation. So, like you said, it might be best to silence them when documenting downstream crates for now.

[2018-10-01 20:09] antoyo opened #54729 "Wrong type inference for closure with impl Trait inside another type"
Hi.
This [code](https://play.rust-lang.org/?gist=649c84c6ffaa0d1e94f4ee47a9fd8357&version=stable&mode=debug&edition=2015) doesn't compile.
It needs a type annotation as in [this code](https://play.rust-lang.org/?gist=f07a6edeee1e3cc1afaecf417919eca5&version=stable&mode=debug&edition=2015).
Thanks to fix this issue.

[2018-10-01 20:28] GuillaumeGomez opened #54730 "Stabilize rustdoc theme options"

[2018-10-01 20:53] nikomatsakis commented on #54124
Hmm, tricky.

I believe the compiler's error message is correct. The problem has to do — I believe — with where the compiler is inferring the "higher-ranked binders" to be. The original error arises because `fn(<() as Lt<'_>>::T)` is interpreted as `for<'b> fn(<() as Lt<'b>>::T)` -- if we could normalize that, it would be `for<'b> fn(PhantomData<&'b ()>)`. However, the closure in contrast requires

[2018-10-01 20:59] oconnor663 opened #54731 "A case of autovectorization making performance worse"
This issue shows up in a benchmark from this crate: https://github.com/oconnor663/blake2b_simd

[code]

That benchmark tests an implementation of the BLAKE2b hash function in pure Rust, written without any explicit SIMD. (The crate contains a SIMD implementation, but this benchmark is testing the non-SIMD one, defined in `src/portable.rs`.)

When I run the commands above, my laptop (i5-8250U) show

[2018-10-01 22:30] sunfishcode commented on #28728
To be fair to LLVM, compiler writers don't approach this topic from the perspective of "I'm going to write an optimization that proves loops are non-terminating, so that I can pedantically optimize them away!" Instead, the assumption that loops will either terminate or have side effects just arises naturally in some common compiler algorithms. Fixing this isn't just a tweak to existing code; it'll

[2018-10-01 23:55] pmarcelll commented on #36283
I tried it when `rustc` was updated to LLVM 8 (so fairly recently), and now with the latest nightly. A plain release build produces a binary that completes the benchmark just under 27 second on my machine, with LTO it's close to 26, but reducing the number of codegen units or aborting on panic negatively impacts performance, it confuses the optimizer in LLVM somehow (it's not really a bug, fine-tu

[2018-10-02 01:48] earthengine commented on #54124
Yes. The original ICE was found first, and then lead me to this.

I understand your analysis though. I guess, we will need some new HRTB grammar like
[code]
for upper generic bound `'a` and
[code]
for lower generic bound?

[2018-10-02 03:14] crlf0710 commented on #51910
@oli-obk actually it *is* an integer in the first place, however the upstream library (`winapi`) cast the integer to a raw pointer (maybe for convenience using it together with the raw Windows APIs) when it defined that variable (see above comment). So i can't use the original integer value in constant evaluation context now :(

I can work around this by (re-)defining those integers myself again.

[2018-10-02 03:29] Praveer1981 opened #54735 "thread 'main' panicked at 'assertion failed: index < u32::MAX as usize'"
C:\Users\kumarpr\.cargo\bin>twiggy monos C:\TEMP\AcFabricBackend.wasm
thread 'main' panicked at 'assertion failed: index < u32::MAX as usize', C:\Users\kumarpr\.cargo\registry\src\github.com-1ecc6299db9ec823\twiggy-ir-0.2.0\./ir.rs:414:9
stack backtrace:
   0: <unknown>
   1: <unknown>
   2: <unknown>
   3: <unknown>
   4: <unknown>
   5: <unknown>
   6: <unknown>
   7: <unknown>
   8: <unknown>

[2018-10-02 03:37] yrashk commented on #54216
I can confirm that I have the same issue with 1.29.1, with the same scenario of a mapped virtual drive.

[2018-10-02 03:50] #54019 closed

[2018-10-02 04:18] memoryruins commented on #54735
The assert is from [twiggy](https://github.com/rustwasm/twiggy):
https://github.com/rustwasm/twiggy/blob/931a1b45475c4bfd3a77baad21a82579ab446667/ir/ir.rs#L413
Similar issue on twiggy’s repo: https://github.com/rustwasm/twiggy/issues/151

[2018-10-02 05:26] tuxzz opened #54736 "ICE on stable rustc when using const value defined in implementation of a generic struct"
[This code:](https://play.rust-lang.org/?gist=c04e540eeeab99c392e8c6ed808f9d6b&version=stable&mode=debug&edition=2015)
[code]

Compile passed on Nightly and Beta but ICE on stable.

[2018-10-02 06:35] phansch opened #54737 "Suggest existing lint name in `unknown_lints` lint suggestion"
It would be nice if the `unknown_lints` lint could suggest the correct lint name if a minor typo has been made.

For example using `#![warn(dead_cod)` should suggest `dead_code`.

Current output:

[code]

Expected output:

[code]

[2018-10-02 06:35] RalfJung commented on #52174
I think some of this was my misunderstanding about `--keep-stage 1` implying `--keep-stage 0` (it does not, and anyway there are very few cases where you want to skip both stage 0 and 1). Also, the part about `--stage 0 test src/libcore` is a duplicate of https://github.com/rust-lang/rust/issues/52186. So I think I am going to close this issue.

[2018-10-02 06:35] #52174 closed

[2018-10-02 06:37] phansch commented on #54737
(I would like to work on this, too)

[2018-10-02 06:46] RalfJung opened #54738 "Split `ConstValue`"
The `ConstValue` type serves different purposes currently. As return value of `const_eval` for statics, consts and promoteds, we could instead always return an `AllocId` + offset (i.e., a `Pointer`) and avoid even thinking about whether we want the value to be immediate instead. Some places want an immediate (array lengths, pattern matching), they could get a different query returning a different

[2018-10-02 06:59] Lucretiel commented on #43301
@xfix That would imply that it's possible to change the implementation, right? The behavior doesn't change (`Termination` returned from `main`), but the trait itself is would change from:

[code]

to:

[code]

[2018-10-02 07:14] RalfJung commented on #54738
Actually, the function producing an immediate doesn't even have to be a query. It could just be a convenience function provided by `tcx` or `const_eval`.

[2018-10-02 07:51] abonander commented on #53819
@RalfJung can you elaborate on that last part? Specifically, anything preclude something like #54678 where both types in the union are the same size?

[2018-10-02 07:54] Praveer1981 commented on #54735
I didn't understand what is the fix?

[2018-10-02 07:57] oli-obk commented on #54678
At this point you can just enable the `const_transmute` feature gate and use `transmute`. There's no need for unions anymore

[2018-10-02 07:57] Praveer1981 commented on #54735
Is there any defect in twiggy.exe? my .wasm file size is 30 MB

[2018-10-02 07:59] abonander commented on #54678
@oli-obk I thought `transmute` was explicitly not going to become `const` as per the discussion in #49450.

[2018-10-02 08:02] scuzzycheese commented on #21232
Sorry for the stupid question, but what would the purpose of this be?

[2018-10-02 08:11] djc opened #54740 "Bootstrap cargo crashes on i486 machine"
I have a user who sees the stage0 cargo crash:

[code]

(BTW, it would be nice if that error was improved to have a few more details about how the command failed to run.)

The user hypothesizes that this might be due to cargo being with SSE2, which his machine (which has an Athlon MP 2800+) does not support.

(From a [downstream bug report](https://bugs.gentoo.org/665660).)

@Mark-Simulacrum do yo

[2018-10-02 08:11] oli-obk commented on #49450
This has now been implemented behind a feature gate: https://github.com/rust-lang/rust/pull/53535

The tracking issue is https://github.com/rust-lang/rust/issues/53605 . Please raise any objections to the stabilization there.

My personal stance is that if we do not stabilize it, but allow unions in const fn, then users will just write

[code]

and everything will be worse with that than with `tra

[2018-10-02 08:11] #49450 closed

[2018-10-02 08:11] crlf0710 commented on #51910
@oli-obk Great to know, thanks a lot!

[2018-10-02 08:13] oli-obk commented on #54678
Yes I would like such constructors, too. But that needs and RFC and probably has a lot of caveats that we want to think about.

I did not know about that issue. I commented there.

[2018-10-02 08:17] petrochenkov commented on #54727
@CodeSandwich
This may be a regression from https://github.com/rust-lang/rust/pull/52319 perhaps?

cc @tinco

[2018-10-02 08:29] petrochenkov commented on #54727
From what I remember, this is an open question.
The transformation `mod m;` -> `mod m { ... }` is an expansion of sorts, and we may treat it both as an early expansion (like e.g. `#[cfg]`, which is also expanded before passing the item to attribute-like macros) and as a late expansion (the item is not expanded before being passed to macros).

The "early expansion behavior" looks preferable to me,

[2018-10-02 08:31] tinco commented on #54727
I lack some context, so I can't be certain, what exactly is "process"? If it relies on rustc's pretty printing, then yes this would be a consequence of #52319, and it should be simple to fix by changing the invocation I think. #52319 does two things:

1. Add information to the AST (a single bool, tracking if a mod is inline)
2. Make pretty print no longer print the external file if that bool is fa

[2018-10-02 08:34] JeanMertz commented on #53224
If there is an agreement on naming conventions, and the rules that are used to determine if a lint should be uplifted, wouldn't it make more sense to split this issue into one single issue per proposed lint uplift?

That way, the discussion can stay focussed on that one lint, potential improvements can be discussed (and linked to PRs implementing that improvement), and when a specific lint is read

[2018-10-02 08:39] Centril commented on #53224
I very much agree with @JeanMertz and @nagisa here; going through such a large list of lints at once is a daunting task and delays reaching consensus by a lot. I'd much rather we split things up and consider each lint one by one.

[2018-10-02 08:42] petrochenkov commented on #54727
Yes, the change is likely due to the pretty-printing change.
So it can be fixed either by reverting the change, or making it more fine-grained so it prints the contents regardless of the `inline` flag if pretty-printing is done "for proc macros" (whatever that means).

[2018-10-02 08:47] eddyb commented on #54738
This seems potentially slow, I'd like to get const generics and lazy normalization first, then we can see if we can do this efficiently - I suspect so, but I'm not sure exactly what we'd need.

[2018-10-02 08:53] RalfJung commented on #54738
What do you think is slow about this?

[2018-10-02 08:57] eddyb commented on #54738
@RalfJung I mean, getting the actual value would take an extra operation, but I suppose we can rely on the query being "fast enough" for this to not matter at all.

[2018-10-02 09:06] tinco commented on #54727
If you can point me at the line of code that invokes the pretty printer, I can suggest a fix.

[2018-10-02 10:11] waywardmonkeys opened #54744 "Panic while documenting nalgebra"
When using the nightly with the bugfix for the problems with `typenum`, this error happens when trying to document the `nalgebra` crate:

note: rustc 1.31.0-nightly (de3d640f5 2018-10-01) running on x86_64-apple-darwin

[code]

[2018-10-02 10:12] waywardmonkeys commented on #54744
cc: @sebcrozet FYI

[2018-10-02 10:15] eddyb commented on #54387
Should this be closed before we get a beta backport?

[2018-10-02 10:15] waywardmonkeys commented on #54002
I think this is the same as #53505 and was fixed in https://github.com/rust-lang/rust/pull/54199 which is in the current nightly.

[2018-10-02 10:48] oli-obk commented on #52701
As commented in https://github.com/rust-lang/rust/pull/53316#issuecomment-426229587 this is just a diagnostics issue. The code never compiled successfully. It is supposed to be an error and is so on nightly and beta.

[2018-10-02 11:34] RalfJung commented on #28728
It is entirely unnatural though if you even start to think about correctness of those transformations. To be frank I still think it was a huge mistake of C to ever allow this assumption, but well.

There's a good reason that "non-termination" is typically considered an effect when you start to look at things formally. (Haskell isn't pure, it has two effects: Non-termination and exceptions.)

As yo

[2018-10-02 11:41] RalfJung commented on #28728
To make my point more precise, I think the following is a sound Rust crate, with `pick_a_number_greater_2` returning (non-deterministically) some kind of big-int:
[code]
If we compile away that diverging loop, that's a bug and it should be fixed.

We don't even have numbers so far for how much performance it would cost to fix this naively. Until we do, I see no reason to deliberately break program

[2018-10-02 11:59] gnzlbg commented on #28728
In practice, `fn foo() { foo() }` will always terminate due to resource exhaustion, but since the Rust abstract machine has an infinite large stack frame, it is valid to transform that code into `fn foo() { loop {} }` which will never terminate. Should this transformation be valid? I'd say yes, since otherwise we can't perform tail-call optimizations unless we can prove termination.

Would it make

[2018-10-02 12:01] rkruppe commented on #28728
I absolutely agree we need to fix this soundness issue for good. However, the way we go about that should be mindful of the possibility that "add `llvm.sideeffect` everywhere we can't prove it's unnecessary" may regress the code quality of programs that are compiled correctly today. While such concerns are ultimately overriden by the need to have a sound compiler, it might be prudent to proceed in

[2018-10-02 12:01] faulesocke opened #54749 "Is this safe behaviour?"
[code]

It looks like two mutable references to the same object are in scope at the same time.

The behaviour is "fixed" when I uncomment the Drop implementation for Ref. Accessing the first reference after the second is in scope seems to be impossible as well (uncomment println).

However the behaviour feels a little bit whacky, is this really intentional?

I'm currently writing a safe wrapper ar

[2018-10-02 12:07] memoryruins commented on #54735
You probably want to open the issue on twiggy’s repository, since the assert is from the twiggy and there are previous similar issues.

[2018-10-02 12:40] RalfJung commented on #53819
For `const` we have a "sanity check" that looks at the final computed value and its type, and makes sure the value is reasonable at the given type. So even if people do horrible things with unions, we can usually tell them that that might be a bad idea. However, for `const fn`, we'd have to do that check *for ever possible argument*, which is clearly not possible.

Also see https://github.com/rust

[2018-10-02 12:42] RalfJung commented on #54738
No, miri engine needs the `AllocId` [here](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/interpret/operand.rs#L581). I added it because of that. IIRC you r+'d that PR. ;)

[2018-10-02 12:48] memoryruins commented on #54735
If you’re looking to decrease the file size, check out https://rustwasm.github.io/book/game-of-life/code-size.html

[2018-10-02 12:54] oli-obk commented on #54738
Well, yes XD, then we can do `(AllocId, &'tcx Allocation, Offset)` like currently.

[2018-10-02 13:23] RalfJung opened #54751 "Const sanity checks skips uninhabited arrays"
The following should be stopped by the const sanity check:
[code]
But it [is not](https://play.rust-lang.org/?gist=3cba3b15ec33782d4f8a542c06b7b3b1&version=nightly&mode=debug&edition=2015).

The issue is that the sanity check calls `is_zst()` to skip arrays that could be immediate, but some of those arrays are uninhabited...

Cc @oli-obk

[2018-10-02 13:50] pnkfelix commented on #54528
(This gets "all the labels" because it is actually a work item that can uncover arbitrary kinds of bugs as one goes through the exercise...)

[2018-10-02 13:51] RalfJung commented on #54751
That's just a bandaid though, WF checks won't catch the same thing wrapped in an `Option` (and `Some`).

[2018-10-02 13:55] pnkfelix commented on #54572
SInce this is about getting "valid code" to compile, tagging as NLL-complete. But @nikomatsakis notes that it does not feel that urgent, so we're also tagging as NLL-deferred.

[2018-10-02 14:11] Aaronepower commented on #50515
Triage; Closing this as there hasn't been any response. If you still have this issue feel free to reopen!

[2018-10-02 14:11] #50515 closed

[2018-10-02 14:12] pnkfelix commented on #21232
@scuzzycheese well, I think the long term goal would be to allow one to initialize structs piece meal, i.e.:

[code]

Its a style of code that some people like.

and if you're going to allow the previous example, then why not:

[code]

----

To be clear, this feature is not something that I'm personally wedded to, but when faced with the question of whether to reject or accept code like:
 *  `fn m

[2018-10-02 14:12] Aaronepower commented on #50509
Triage; @Mark-Simulacrum Can this issue now be closed? If not what work is left to be done?

[2018-10-02 14:13] nikomatsakis commented on #51269
@spastorino added a regression test in https://github.com/rust-lang/rust/pull/54367, I think we can close this for now (with final resolution of the thread-local question deferred)

[2018-10-02 14:13] #51269 closed

[2018-10-02 14:14] jnetterf opened #54752 "ICE in rustc_lint::unused::UnusedParens"
I tried compiling this code:

[code]

Note the extra set of parentheses.

My Cargo.toml had:
[code]

I expected the compiler to not crash.

Instead, it crashed with the following output:
[code]

## Meta

rustc +nightly --version --verbose :
[code]

[2018-10-02 14:15] nikomatsakis commented on #54692
Tagging as RC2

[2018-10-02 14:16] pnkfelix commented on #21232
Nominating for discussion at lang team meeting.

Namely, the summary is:
 * Our current status is weird and confusing:
   * we accept `fn main() { let s: S; s.x = 10; }`
   * but we reject `fn main() { let s: S; s.x = 10; s.y = 30; a_use_of(s); }`
   * (and we also reject `fn main() { let s: S; s.x = 10; a_use_of(s.x); }`)
 * There's no strong reason that we're rejecting these cases, not in terms

[2018-10-02 14:16] nikomatsakis commented on #54124
Tagging as RC2 for us to resolve the NLL ICE, at least.

[2018-10-02 14:33] pnkfelix commented on #54208
Discussed with @nikomatsakis during triage of NLL issues.

We decided that the memory usage on this case should not block NLL's inclusion in RC2.

In terms of whether to put this on the Release milestone or not, we decided that it would be a better idea, at least in the short-to-middle term, to focus effort more on Polonius, since that component might end up replacing the dataflow entirely, and th

[2018-10-02 14:33] nikomatsakis commented on #53114
I updated the "top issue" with the table reflecting the current status.

[2018-10-02 14:34] pnkfelix commented on #21232
You would not be able to do `let s: S; a_use_of(s);` under what is being proposed here.

[2018-10-02 14:34] petrochenkov commented on #54472
https://github.com/rust-lang/rust/pull/54605 is updated with a fix for the remaining regressions.

[2018-10-02 14:34] gnzlbg opened #54753 "Insufficiently clear explanation of E0310"
The following program ([Playground](https://play.rust-lang.org/?gist=38c9aaff864faffb6c50e4fcdbb5f148&version=stable&mode=debug&edition=2015)):

[code]

errors with

[code]

From reading the explanation of `E0310`, which only mentions the situation in which `T` is used behind a static reference, e.g., `foo: &'static T`, I really had no idea what was going on. It seems that other people have had si

[2018-10-02 14:48] Mark-Simulacrum commented on #50509
Yes, I believe this issue is mostly done (and keeping it open is not helping, anyway).

[2018-10-02 14:48] #50509 closed

[2018-10-02 14:49] mjbshaw commented on #53605
@TheDarkula I know. I'm just trying to show support for eventually stabilizing this feature (rather than being removed because people are opposed to it).

[2018-10-02 14:50] RalfJung commented on #54709
Every expression you write in the initializer of a `static` or `const` is a constant expression and evaluated at compile time. If the value of a `static` or `const` is a pointer, we emit appropriate relocations for LLVM to handle, but that doesn't change the fact that all this is a constant expression -- e.g. if you do `ptr.wrapping_offset(4).wrapping_offset(8)`, we will compute the offset 12 at c

[2018-10-02 14:51] oli-obk commented on #54709
The problem is that you can already do

[code]

on stable Rust since a year or so. We need to keep supporting it, so we're very careful to not allow any oddball features like pointer values with integer types. Since `&SOME_CONSTANT` is (almost) always promoted to a static, we also need to ensure that constants are somewhat sane (which they were by definition until miri came along).

It was an acci

[2018-10-02 14:52] Mark-Simulacrum commented on #54740
@alexcrichton is more familiar with the details of platform support, I think. However, I suspect we are indeed possible not building the binary with the proper architecture -- I think it's feasible that we could change things there, but even if so, such a change would likely only land in 1.31 stable at the earliest.

[2018-10-02 14:59] shepmaster commented on #21232
To be clear, you [can already do that](https://play.integer32.com/?gist=d0f5081ffde12c82cefc7df82ea5c04e&version=stable&mode=debug&edition=2015):

[code]

I wouldn't say it's *idiomatic*, but it's possible.

[2018-10-02 15:07] mjbshaw commented on #54709
Some context about my use case: [Objective-C type encoding](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/ObjCRuntimeGuide/Articles/ocrtTypeEncodings.html#//apple_ref/doc/uid/TP40008048-CH100) uses different encodings for integers vs pointers. Some FFI-related data structures use `usize` rather than `*mut T` (because they pack extra tag flags in the low two bits) (and

[2018-10-02 15:16] retep998 commented on #54216
Would be helpful if someone could bisect to find the exact nightly where this was broken.

[2018-10-02 15:22] oli-obk commented on #54709
Why can't you just use the `*mut T` and during your runtime twiddling convert to a usize, do the twiddling, and then convert back? That seems strictly more correct than storing a pointer in a `usize` just because you sometimes need to modify its bits direclty.

[2018-10-02 15:32] CodeSandwich commented on #54727
By "processing" I mean parsing TokenStream with Syn to an [Item](https://docs.rs/syn/0.15/syn/enum.Item.html#variant.Mod), modifying its content and converting it back to TokenStream. The precise spot of parsing is [here](https://github.com/CodeSandwich/Mocktopus/blob/master/macros/src/lib.rs#L98) and content traversal is [there](https://github.com/CodeSandwich/Mocktopus/blob/master/macros/src/ite

[2018-10-02 15:32] #54735 closed

[2018-10-02 15:38] RalfJung commented on #54709
It might also be an option to turn this into a deny-by-default lint for cases when people really are asking for a footgun?

The interaction with promotion is ugly, though.

[2018-10-02 16:06] alexcrichton commented on #54740
This is expected currently, we don't have bootstrap compilers for anything less than i686

[2018-10-02 16:07] steveklabnik commented on #54749
Hi there! This isn't a bug. Since we try to keep the issue tracker solely for bugs, I'm going to close it, but if you'd like to discuss it more, please make a post to users.rust-lang.org. Thank you!

[2018-10-02 16:07] #54749 closed

[2018-10-02 16:25] jonas-schievink opened #54754 "No warning for unused function using `impl Trait` on beta and nightly"
The following code only warns that `f` is unused on stable, not on beta or nightly:

[code]

(apologies if this is a duplicate, but a quick search didn't turn anything up)

[2018-10-02 16:40] shepmaster commented on #43301
Not without breaking backwards compatibility. This code compiles in today's stable Rust:

[code]

With the proposed change to require `Display`, it would stop compiling.

As has [already been mentioned](https://github.com/rust-lang/rust/issues/43301#issuecomment-388581898), it's possible something like specialization might help, but my current understanding of specialization is that would only be

[2018-10-02 16:51] RalfJung commented on #54751
I will fix this as part of my work for preparing validation for miri usage.

[2018-10-02 17:09] alexcrichton commented on #54206
Circling back to this, the infra side of this should largely be addressed by https://github.com/rust-lang/rust/pull/54638, so I'm going to remove the `T-infra` tag

@nrc would you or the @rust-lang/dev-tools still want to consider a stable backport for this? It should be fixed on beta/nightly already

[2018-10-02 17:10] Aaronepower commented on #50776
Triage; @cilia Hello, are you still having this issue on the latest release?

[2018-10-02 17:22] Aaronepower commented on #50757
Triage; Closing as a feature request. If you'd like follow the implementation and contribute to the discussion of RFC 2318 you can subscribe to the [tracking issue](https://github.com/rust-lang/rust/issues/50297).

[2018-10-02 17:22] #50757 closed

[2018-10-02 17:35] Aaronepower commented on #50717
Triage; Hello @Boscop we haven't heard from you in awhile so I'm going to close this issue. If you're still having this issue feel free to reopen!

[2018-10-02 17:35] #50717 closed

[2018-10-02 17:56] Aaronepower commented on #51039
Triage; @jnqnfe Hello, can you post your idea on https://users.rust-lang.org/ that is the more appropriate place to post ideas, thank you!

[2018-10-02 17:56] #51039 closed

[2018-10-02 17:57] RalfJung opened #54758 "rustdoc: Bad rendering of enums with named fields"
Consider the documentation at https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/layout/enum.Abi.html. After expanding the fields, it looks like

![screenshot from 2018-10-02 19-55-03](https://user-images.githubusercontent.com/330628/46367150-2ba14100-c67d-11e8-9716-38214f199a44.png)

To me this looks like an enum with 4 variants. The way things are indented, I did not even realize that ther

[2018-10-02 18:29] nikomatsakis commented on #54574
I did some investigation. I believe this problem is specific to **inherent methods**. There a bit of a challenge here:

The substitutions on the impl are not directly given by the user. The user only gives the self-type. The [`instantiate_value_path`] function handles this via unification:

[`instantiate_value_path`]: https://github.com/rust-lang/rust/blob/1c5e9c68ea6c76fe400528de17ebe03e338bac68/

[2018-10-02 18:42] nikomatsakis commented on #54620
(Related: https://github.com/rust-lang/rust/issues/54105)

I imagine that the way to fix this is that we have to prove a `WellFormed` predicate with-respect-to the user-given type annotations:

https://github.com/rust-lang/rust/blob/1c5e9c68ea6c76fe400528de17ebe03e338bac68/src/librustc_mir/borrow_check/nll/type_check/mod.rs#L1284-L1288

Probably the place to do this is on the `relate_type_and_user

[2018-10-02 18:46] nikomatsakis commented on #54692
So, the closure region requirements are as follows:

[code]

[2018-10-02 18:46] nikomatsakis commented on #54692
You can see the `'_#1r: '_#2r` indicating that — indeed — the argument must outlive the return type. But we have lost the connection to `'a` and `'static`, indeed.

[2018-10-02 18:48] Lucretiel commented on #43301
Ah, I see what you mean about stable rust. For some reason I wasn't aware that this was available in stable.

Is this something that could be switched at compile time with a Cargo flag? In the same way that other things are switchable, like `panic = "abort"`.

[2018-10-02 18:49] djc commented on #54740
So is it fair to say non-SSE2 currently not part of the tier 1 x86 support? Or are the bootstrap binaries different somehow from the x86 release binaries?

[2018-10-02 18:55] nikomatsakis commented on #54692
The user-given signature of the closure is computed here, during the HIR typeck:

https://github.com/rust-lang/rust/blob/1c5e9c68ea6c76fe400528de17ebe03e338bac68/src/librustc_typeck/check/closure.rs#L529-L533

(In general, reconciling the expected signature and the user-given signature is a royal pain, as is described in detail in that file.)

I imagine what we have to do is probably to record the

[2018-10-02 19:15] ikostia opened #54760 "windows: when creating process with redirected stdio, make parent's std handles not inheritable"
Currently, if this happens:
[code]
the `child.exe` accidentally inherits stdin, stdout and stderr handles of the parent process. This can be bad, because the objects these handles point to (say pipes), may be watched by some third process.

Since at the point of creating a child process we know that it does not need our std handles (because it's explicitly being created with `Stdio::null()`), we c

[2018-10-02 19:31] alexcrichton commented on #54740
The tier distinction doesn't really come into play here per se, it's just that we don't produce cargo/rustc binaries for `i586-unknown-linux-gnu`, which is our "non-see2" target

[2018-10-02 19:39] nikomatsakis commented on #54124
So: right now the NLL type-checker is not prepared for non-borrowck-related errors. I am wondering whether we should how broadly we'll have to fix things to catch all the cases here.

[2018-10-02 19:41] tromey commented on #48807
[code]
This is probably what is causing the tests to fail.  I haven't looked any more deeply.

[2018-10-02 19:43] pnkfelix commented on #54586
I'm going to also assign @varkor since they have been participating in discussion about this. Even if @varkor makes the main PR, @blitzerr might be helpful in e.g. confirming the quality of the regression test, etc.

[2018-10-02 19:52] nikomatsakis commented on #54571
Test case #1 (should not compile, does):

[code]

[2018-10-02 19:53] nikomatsakis commented on #54571
Test case #2 (same story):

[code]

[2018-10-02 19:54] nikomatsakis commented on #54571
Test case #3:

[code]

[2018-10-02 19:59] alexcrichton commented on #54727
I personally feel that what a proc macro receives as input tokens when attached to a module is an open questions, as @petrochenkov said. I do not think that one answer is clearly correct over another (`mod foo;` vs `mod foo { ... }`) at this time. That's why it's unstable!

[2018-10-02 20:45] GuillaumeGomez opened #54765 "[rustdoc] stabilize resource-suffix option"

[2018-10-02 20:56] Laaas commented on #53487
Thanks! Will definitely try implementing it.

[2018-10-02 20:58] weiznich commented on #54524
Is there anything I can do to help to debug/fix this?

[2018-10-02 21:01] o01eg commented on #54158
Got same without sanitizers and with debug-assertions only on 1c5e9c68ea6c76fe400528de17ebe03e338bac68 :

config.toml:
[code]

[code]

[2018-10-02 21:47] Diggsey opened #54768 "`Sync` should imply `RefUnwindSafe` - lots of missing impls"
`Sync` is a strictly stronger requirement on a type than `RefUnwindSafe`, because any type which can be accessed concurrently by multiple threads, can also be accessed after one of those threads panics.

However, if you compare the list of implementations for `Sync`:
https://doc.rust-lang.org/std/marker/trait.Sync.html#implementors

And those for `RefUnwindSafe`:
https://doc.rust-lang.org/std/pani

[2018-10-02 22:13] Diggsey commented on #54768
Note that some of these implementations (eg. the one on `MutexGuard`) would be a breaking change because they reduce the number of types implementing `RefUnwindSafe`.

These types *incorrectly* (but not unsoundly) implement `RefUnwindSafe`, as demonstrated here:
https://play.rust-lang.org/?gist=8b62bb5ef5f29e1760958e2429b42c35&version=nightly&mode=debug&edition=2015

This is very similar to issue

[2018-10-02 22:21] dancrossnyc commented on #54637
Thanks all! I'll take what's written here and see if I can plumb the appropriate flags through cargo etc to get retpolines in the generated binary. I'll report back with results.

[2018-10-02 22:33] Diggsey commented on #54768
Another side effect of this is that any time you have a `Sync` bound on a *trait object*, you should also have a `RefUnwindSafe` bound. The bound is almost never added, which results in a load of types being incorrectly !RefUnwindSafe, like the `sentry::Client`, which internally stored a user-provided `Box<Fn(X) -> Y + Sync>` (note the accidental omission of `+ RefUnwindSafe`).

This contributes a

[2018-10-02 22:39] withoutboats commented on #53224
@rfcbot concern guidelines

I agree that trying to filter through these lints in a single thread is unworkable, but I am also not thrilled by the idea of each lint being considered individually without establishing a clear consensus regarding guidelines; that would result in inconsistent decision making.

When I brought this up in August, @oli-obk pointed out this guidance from the clippy 1.0 RFC:

[2018-10-02 22:44] leonardo-m commented on #53224
If it's a bug, then the compiler should raise a compilation error. If we talk about compiler warnings they are allowed to be about things that aren't bugs.

[2018-10-02 22:45] ishitatsuyuki commented on #54765
I object to this - instead we should just give unique chunkhash to all asset filenames.

[2018-10-02 23:04] Diggsey commented on #40628
For reference, I recently tried to make one of my applications use unwind safe correctly, and out of three types I was storing (a sentry client, an r2d2 connection pool, and a cadence statsd client) all three were missing implementations of RefUnwindSafe.

There were two causes for this:
1) They stored trait objects containing a `Sync` bound, but *not* a `RefUnwindSafe` bound.
2) They used a stand

[2018-10-02 23:30] #54015 closed

[2018-10-02 23:48] cramertj opened #54771 "Poor Trailing Semicolon Error in -> impl Trait Function"
The diagnostics that check whether the concrete return type of an `-> impl Trait` function meets the `: Trait` bound should special-case the error when the concrete type is `()` to suggest removing the semicolon. Without this, the errors for a misplaced semicolon are misleading:

Without `impl Trait`:
[code]
[code]

With `impl Trait`:
[code]
[code]

[2018-10-02 23:51] cramertj commented on #54771
Note: there's a similar issue in closure return types:

[code]
gives

[code]

[2018-10-02 23:58] mcr431 commented on #54707
If no one is working on this, I'll take it.

[2018-10-03 01:17] earthengine commented on #50186
It seems like, the semantic are a bit different between `Default` and `Copy`: the later is more light weighted, as it does not have to fill the hole behind.

What shall we name those variants? `update_move` for the `Default` case?

Also there are another variation: `update_unsafe` which will be unsafe and does not require a trait bound: it only moves the value and leave uninitialized value behind.

[2018-10-03 02:04] earthengine commented on #31436
As all check boxes are ticked in the top post, when would us move forward? If there are still unresolved issues we need to have new check box(es) added.

[2018-10-03 02:06] #54456 closed

[2018-10-03 02:06] #54559 closed

[2018-10-03 02:06] #54696 closed

[2018-10-03 02:06] #54678 closed

[2018-10-03 02:08] Centril commented on #31436
There are probably plenty of remaining unresolved questions not recorded.
For example, the ok-wrapping behavior is not settled within the lang team, the design of the `Try` is not finalized, and so on. We should probably split this issue up into several more targeted ones as it has likely outlived it's usefulness.

[2018-10-03 03:00] cilia commented on #50776
@Aaronepower Yes, just tried 1.29.1, still failing. Please see the error msg below

`==> Upgrading rust`
`==> Downloading https://static.rust-lang.org/dist/rustc-1.29.1-src.tar.gz
######################################################################## 100.0%`
`==> ./configure --prefix=/usr/local/Cellar/rust/1.29.1 --release-channel=stable`
`==> make
Last 15 lines from /Users/cilia/Library/Logs/Ho

[2018-10-03 03:51] Centril opened #54774 "Diagnostic about `try` could be better on edition 2018"
Given:

[code]

the compiler emits the standard "reserved keyword error":

[code]

However, since `try!` was once a macro people used (wherefore it stands to reason that some old documentation may folk astray), it might be prudent to catch this pattern somehow and refer the user to the documentation about `?` somewhere.

cc @scottmcm, @estebank

[2018-10-03 03:52] akatechis opened #54775 "Using `include_str` in an attribute"
Not sure if this should be an RFC or a bug/issue, but I'm trying to add an attribute to a struct where the value of the attribute is a `&'static str`. It would be nice to have the contents of the string in a separate file so I can have syntax highlighting when editing that file, and then have that be pulled in to the rust module and built. The following should reproduce the issue:

`Cargo.toml`:
[

[2018-10-03 03:55] Centril commented on #54775
I believe this is currently expected behavior; but we've discussed this in the past (https://github.com/rust-lang/rust/issues/53583#issuecomment-415444735) and I it would be interesting to see an RFC that discusses and proposes something in this space.

[2018-10-03 03:57] akatechis commented on #54775
For the sake of completeness, my rustc and cargo versions are:

[code]

[2018-10-03 03:58] Centril commented on #54775
cc @nrc, @petrochenkov

[2018-10-03 03:59] Centril commented on #54768
cc @RalfJung

[2018-10-03 04:36] d-e-s-o opened #54776 "Mapping `Ref` to a value containing a reference"
Consider the following specific use case explaining a more general
issue: We have a struct, `RefStrings`, that keeps a `RefCell` containing
some form of collection, `Vec<String>`. Part of `RefStrings`'s API
surface is a function that aims to expose an iterator over the
underlying collection. The only possibility I see for exposing the
iterator (conceptually) is via a `Ref` and using `RefCell`'s `m

[2018-10-03 04:51] zackmdavis commented on #54752
The example can be minimized to exclude `tokio`:

[code]

I should have a PR in a few minutes (despite some discomfort about apparent solutions incompletely understood).

[2018-10-03 06:33] xfix commented on #43301
Maybe? I could see it being feasible to have a different behaviour for `?` in `main` in another Rust edition. Probably not 2018 however, maybe 2021?

[2018-10-03 07:47] Centril commented on #53668
Triage: documentation to the reference was done by @davidtwco and merged.

[2018-10-03 07:47] #53668 closed

[2018-10-03 08:53] GuillaumeGomez commented on #54765
@ishitatsuyuki Can you give a bit more details and info about what you'd prefer please? I'm not sure to fully understand.

[2018-10-03 09:15] ishitatsuyuki commented on #54765
@GuillaumeGomez The idea is to give a unique filename (based on hash) to all JS/CSS assets. See https://developers.google.com/web/fundamentals/performance/webpack/use-long-term-caching for an example.

AFAIK resource suffix is something made for docs.rs so the common files can be shared; however, I don't think we should have such an option from the first place, and instead make caching effective o

[2018-10-03 09:24] nikomatsakis opened #54779 "confusing error message around trait object bound"
This example:

[code]

gives this error:

[code]

It took me some time to puzzle out what was happening here:

- `cx: &dyn DebugContext` expands to `&'a dyn (DebugContext + 'a)`
- the default from the *impl* however is `dyn (DebugContext + 'static)`
- the impl method is accepted because it is *more* general than the trait definition
- but it fails to recursively invoke

The error message without N

[2018-10-03 11:54] Diggsey opened #54783 "Breaking macro name resolution change in 1.29"
Minimal test case: https://github.com/Diggsey/macro_regression_example

This code compiles on 1.28, but fails on 1.29

[code]

Note that I do not have `#![deny(warnings)]` or anything like that enabled. This gives quite a bad impression when stability is advertised so frequently.

[2018-10-03 11:56] Diggsey commented on #54783
For anyone else running into this issue with `diesel_derive_enum`, you can bump to at least version `1.4.4` and it will fix the issue. For other crates it may not be so simple...

[2018-10-03 12:01] GuillaumeGomez commented on #54765
I see, this is a good idea. However, `docs.rs` bases its files generation on the compiler directly so they just need to know which version of the compiler was used to compile and then they distribute the corresponding files. What about having both options alongside?

[2018-10-03 12:06] petrochenkov commented on #54783
Hmm, this is https://github.com/rust-lang/rust/pull/51952, but it was *supposed* to be a warning for derives (`#[warn(proc_macro_derive_resolution_fallback)]`).
Apparently ` #[derive(DbEnum)]` does something unexpected so it didn't fall under the lint conditions somehow.
(Regarding stability, this would certainly be fixed it it was reported before 1.29 stable release.)

[2018-10-03 12:21] matthewjasper commented on #54779
Assigning myself to bookmark.

[2018-10-03 12:53] djc commented on #54740
Okay, so my user is actually on i486-unknown-linux-gnu or i586-unknown-linux-gnu, which means there are no rustc or cargo binaries and they'd have to cross-compile their binaries?

[2018-10-03 13:01] rodrimati1992 opened #54785 "Using Self::default() instead of TypeAlias::default() causes an ICE on nightly."
In the process of adding my project to travis-ci I got a nightly ICE from using "Self::default() instead of TypeAlias::default()" inside an impl block for type aliases.This works fine on stable.

This is the log for the first error:
https://travis-ci.org/rodrimati1992/type_level/jobs/436599429

This is the log for the second error:
https://travis-ci.org/rodrimati1992/type_level/jobs/436607478

Thi

[2018-10-03 13:05] ishitatsuyuki opened #54786 "rustdoc: put contenthash in output filenames"
We should use some kind of unique identifier for the script/style assets we use in rustdoc. This is commonly known in webpack as "chunkhash" or "contenthash".

Reference link: https://developers.google.com/web/fundamentals/performance/webpack/use-long-term-caching

[2018-10-03 13:09] ishitatsuyuki commented on #54765
We discussed on Discord and @GuillaumeGomez said that being able to discriminate releases from filename is a feature necessary for `docs.rs`, because it needs to garbage collect assets from older versions of rustdoc.

My concern is that this feature is no more than a convenience option, and I don't know any use case outside `docs.rs`. I'm leaving up to the doc team members on the stabilization dec

[2018-10-03 13:15] #51191 closed

[2018-10-03 14:12] mark-i-m commented on #31436
Hmm... it bothers me that these questions haven't been recorded.

[2018-10-03 14:33] djc commented on #46437
What's the status with LLVM upstream these days? How compatible is Rust with upstream LLVM?

[2018-10-03 14:35] pnkfelix commented on #22171
I continue to see no instances of this diagnostic arising.

I'm thinking I might close this issue, though I might first want to confirm that the code in question is going to be completely obsoleted by NLL anyway.

[2018-10-03 15:08] Centril commented on #31436
@mark-i-m So to clarify, I think they have been somewhere; but not in one location; it's a bit scattered atm in various RFCs and issues and such, so what we need to do is record them in the proper locations.

[2018-10-03 15:10] leio commented on #54740
But i686 doesn't mean SSE2. SSE2 is an additional instruction set over i686.
The downstream user is running i686-unknown-linux-gnu.

[2018-10-03 15:27] alexcrichton commented on #54740
@djc correct yeah

@leio it does mean sse2 for clang and rust though!

[2018-10-03 15:47] leio commented on #54740
@alexcrichton Yes, most unfortunate. Maybe you didn't see some of my comment edits, but basically I think this should be more more clear then. Also, I don't see how clang has anything to do with it - it builds non-SSE2 binaries just fine to the best of my knowledge. All I can find is that it might pentium4 or some such with SSE2 if you don't specify -march=i686.
See also e.g. https://internals.rus

[2018-10-03 16:07] alexcrichton commented on #54740
@leio we match clang:

[code]

You can build Rust for 32-bit x86 targets without sse2, and you can probably build a whole compiler as well, we just don't ship precompiled binaries. It should be fine to update documentation!

[2018-10-03 16:08] alexcrichton commented on #46437
We track upstream pretty closely, but all of the above bindings occasionally require updates to make sure we compile against upstream. To that end it'd still be best to upstream this!

[2018-10-03 16:15] PramodBisht commented on #53840
I think this can be closed now!

[2018-10-03 16:15] #53840 closed

[2018-10-03 16:16] leio commented on #54740
clang has a default for that target; but -march=i686 is what is used by people - and distributions building their packages that have decided to support all i686. The problem with rust is, that it doesn't just mean what the default is - it means you can't even bootstrap it from the binaries provided under the i686 banner. Those binaries should explicitly state they require SSE2 in their naming, or

[2018-10-03 16:27] scottmcm commented on #31436
The design of the backing trait is tracked in https://github.com/rust-lang/rust/issues/42327; there's extensive discussion there about weaknesses in the current one and a possible new direction.  (I'm planning of making a pre-RFC for a change there once 2018 settles a bit.)

So I think only `try{}` is left here, and the only disagreement I know of for that are things that were settled in the RFC a

[2018-10-03 16:34] Centril commented on #31436
@scottmcm I know @joshtriplett had concerns about OK-wrapping (noted in the `try` RFC) and I'd personally like to restrict `break` in the initial stabilization of `try { .. }` so that you can't do `loop { try { break } }` and such.

[2018-10-03 17:05] calixteman opened #54791 "When profiling generated gcno files can have weird source files"
When profiling the following code (with CARGO_INCREMENTAL=0 RUSTFLAGS="-Zprofile -Ccodegen-units=1" cargo +nightly run):
extern crate thread_local;
use thread_local::ThreadLocal;
fn main() {
    let tls: ThreadLocal<u32> = ThreadLocal::new();
    assert_eq!(tls.get(), None);
    assert_eq!(tls.get_or(|| Box::new(5)), &5);
    assert_eq!(tls.get(), Some(&5));
}

the generated file ./target/debug/de

[2018-10-03 17:19] calixteman opened #54792 "GCNO files contain path which are neither absolute nor relative"
When profiling this code:
[code]

the generated gcno contains the following paths:
[code]

The 6 first paths are neither absolute nor relative.
So it's pretty hard to do something with them.

[2018-10-03 17:25] ubsan opened #54793 "Why isn't ManuallyDrop `transparent`?"
See title.

@nagisa

It should be guaranteed, imo, that `ManuallyDrop<T>` has the same object and ABI representation as `T`.

[2018-10-03 17:28] estebank commented on #54785
Could you help us narrow down which nightly introduced the problem for you? How recently were you able to build before the current issue?

Particularly, I'm intrigued by https://github.com/rust-lang/rust/pull/53751, namely nightly from September 12th vs 14th and https://github.com/rust-lang/rust/pull/54346 September 19th vs 21st.

[2018-10-03 17:34] estebank commented on #54785
Nevermind, I believe I found the culprit https://github.com/rust-lang/rust/pull/52568/files#diff-2c49ea48a32b1e12546e0517e544ef58R315

@oli-obk can you take a look? I'm not sure I understand why we're `panic`ing in that case instead of always emitting or at least cancelling those diagnostics.

[2018-10-03 17:35] rodrimati1992 commented on #54785
I will try this in those nightlys anyway and report which ones break.

[2018-10-03 17:39] Zhihang-Liu opened #54794 "The compiler reported twice"
When the compiler prompts an error or warning, it will be displayed twice.
(frequency: Each)

[2018-10-03 17:42] Zhihang-Liu commented on #54794
E.g:
![image](https://user-images.githubusercontent.com/29578696/46428485-b31eab00-c776-11e8-8b05-8a0ba0a1cd04.png)

[2018-10-03 17:43] estebank commented on #54774
Is the macro still available in 2018 as `r#try`? If it is we should also suggest it, but otherwise just

[code]

The actual implementation of the `MachineApplicable` suggestion needs to attempt to parse `try!(.*)`, and if successful suggest accounting for operator precedence (injecting braces as needed).

As a stretch goal, if we encounter _any_ keyword being used and there's an `r#{keyword}` bind

[2018-10-03 17:56] Zhihang-Liu commented on #54794
stable
![image](https://user-images.githubusercontent.com/29578696/46429177-60de8980-c778-11e8-90bf-8666dd6806db.png)

[2018-10-03 18:02] estebank commented on #54779
This seems to be a persistent ergonomics wart where traits get evaluated to `'static` (happens as well with returning `&(impl Trait)` and others I can't remember now) where it isn't expected. It is a bit sad, and we can improve the diagnostic errors, but I'm worried we'll be unable to preempt _all_ the cases from being caught by accurate diagnostics, pushing people away from deeply nested structur

[2018-10-03 18:05] estebank commented on #54378
Also happens under nll.

[2018-10-03 18:10] estebank commented on #54794
This is https://github.com/rust-lang/cargo/issues/5128 running `rustc` twice. It needs to be fixed.

[2018-10-03 18:10] #54794 closed

[2018-10-03 19:29] nagisa commented on #54793
IIRC `transparent` was being worked on at about the same time as `ManuallyDrop` which is why `ManuallyDrop` wasn’t made transparent. I also remember mildly there being attempts to make `ManuallyDrop` `transparent` before…

[2018-10-03 19:45] MaulingMonkey opened #54797 "Compiler assertion failed: tcx.migrate_borrowck() when failing to move #[thread_local] static vars."
Hello!  I have a compiler assertion on rustc 1.31.0-nightly (2bd5993ca 2018-10-02) when combining `#[thread_local]` and bad code that tries to move from the thread local global.  This also occurred on an earlier nightly I tried upgrading from (months old?  I didn't think to save that compiler version, sorry!)

[code]

([Playground](https://play.rust-lang.org/?gist=2282826815b050cc3abfb468ea00d3f4&

[2018-10-03 19:50] tromey commented on #54721
I have a patch but it depends on #54764, so I'm waiting for that to land first.

[2018-10-03 20:03] SimonSapin commented on #50186
if you’re gonna use `unsafe` anyway you can use `.get()` and manipulate the raw pointer. I don’t think we should facilitate it more than that.

[2018-10-03 20:12] theotherphil commented on #54583
I just ran into this issue and spent quite a while getting very confused. It's very surprising that code using AVX2 intrinsics compiles and then behaves nonsensically without the correct target feature attribute.

[2018-10-03 20:49] lu-zero commented on #41027
Duplicate of https://github.com/rust-lang/rust/issues/39610

[2018-10-03 20:49] #41027 closed

[2018-10-03 20:50] #54472 closed

[2018-10-03 21:38] estebank commented on #54774
Given that `r#try!()` is still available in 2018, then the error should be closer to the following in that case

[code]

[2018-10-03 21:46] Centril commented on #54774
That seems better / quite good :)

[2018-10-03 21:52] weiznich commented on #54524
I've played a bit further around with this.
That strange thing is that it seems to depend on feature flags on diesel.
`cargo +nightly doc --no-default-features` and `cargo +nightly doc --no-default-features --features "postgres"` works fine.
Any of `cargo +nightly doc --no-default-features --features "sqlite"`, `cargo +nightly doc --no-default-features --features "mysql"`, `cargo +nightly doc --no

[2018-10-03 21:58] lu-zero commented on #49013
`rustc 1.31.0-nightly (2bd5993ca 2018-10-02)` seem to still have the problem at least on Linux.

[2018-10-03 22:39] piscisaureus opened #54800 "Inconsistent error reporting by std::fs::copy()"
When `fs::copy()` is passed a non-existing, but otherwise valid, `from` path, the resulting error is inconsistent between platforms.

* On Unix, it reports `ErrorKind::InvalidInput`. See https://github.com/rust-lang/rust/blob/5597ee8a6483238421750fce4eb7031b12852428/src/libstd/sys/unix/fs.rs#L839-L842.
* On Windows, it reports `ErrorKind::NotFound`, which is the result of mapping the `ERROR_FILE_N

[2018-10-03 23:29] rep-nop commented on #37048
I'm going to take a stab at this if that's okay

[2018-10-03 23:31] earthengine commented on #31436
@Centril

I personally don't like this. Right now, you cannot use `break` in a non-loop block, and it is correct: `break` should only be used in loops. To early leave a `try` block, the standard way is to write `Err(e)?`. and it forces that early leaves are always in the "abnormal" control path.

[2018-10-03 23:48] lzybkr opened #54801 "Confusing error with doc comments in parameter list"
The following code:
[code]

Results in the following error:

[code]

At best, the error is confusing. Ideally it should not be an error, but if doc comments are not allowed in a parameter list, the error should be clearer.

[2018-10-04 00:03] rep-nop commented on #21299
I'd like to take a stab at a proper fix for this, if that's okay!

[2018-10-04 00:38] clarcharr commented on #42951
My spec request: given two byte slices `first` and `second`, is `hasher.write(first); hasher.write(second);` equivalent to `hasher.write(first + second)` ?

This way, we could define all the non-slice methods as explicitly being transmutes, always.

[2018-10-04 02:04] ubsan commented on #54793
@nagisa Would it be possible to just add it to the type? It's not a breaking change, and it's clearly desirable.

[2018-10-04 02:08] scottmcm opened #54803 "Give a better meta description for rustdoc pages"
Today, the meta description doesn't really say anything that the title doesn't already.  For example:
![image](https://user-images.githubusercontent.com/18526288/46449139-286e8980-c73f-11e8-9251-4b4dffcb8f38.png)
![image](https://user-images.githubusercontent.com/18526288/46449149-358b7880-c73f-11e8-93ba-fb372f754788.png)

Maybe it could take the first paragraph of the doc comment, sortof like git

[2018-10-04 02:54] Zauberklavier opened #54805 "Allow to specify pub as the default visibility"
At the moment Rust forces you to write `pub` in front of every symbol even when you know you want everything to be public or otherwise don't care about enforced visibility. In the way of reducing friction I think a module level `#![public_is_default]` or `#![default_visibility(pub)]` would be a great addition.

[2018-10-04 03:08] #54331 closed

[2018-10-04 04:59] mtak- commented on #51445
The names of the types don't have to be the same, and... when the associated type is not public, there is no workaround AFAICT.

I ran into this while trying to implement `Borrow<<back::Backend as hal::Backend>::Buffer>` on a wrapper type [https://github.com/gfx-rs/gfx](https://github.com/gfx-rs/gfx). Is this really related to specialization? I think there's no way the two impls could overlap. I d

[2018-10-04 05:34] #54302 closed

[2018-10-04 06:17] oli-obk commented on #54785
The actual error is

[code]

The `panic!` quoted in https://github.com/rust-lang/rust/pull/52568/files#diff-2c49ea48a32b1e12546e0517e544ef58R315 is just a way to abort the compiler after dumping all the ICEs

[2018-10-04 07:33] Havvy commented on #54801
Attributes, including doc comments, are not allowed on function parameters. Two more test cases:

[code]

with current output of

[code]

Ideally it should instead say:

[code]

And then `s/attributes/doc comments/` if it's a doc comment.

[2018-10-04 07:37] Havvy commented on #54805
This would require a way to specify a private publicness. It should also go through the [RFC](https://github.com/rust-lang/rfcs/) process.

[2018-10-04 07:53] Zauberklavier commented on #54805
Indeed so. I'll submit an RFC then.

[2018-10-04 07:53] #54805 closed

[2018-10-04 07:54] lostman commented on #50021
Just checked with the latest nightly:
[code]
This code still generates an incorrect Wasm:
[code]
The current issue is different though:
[code]
We are calling the same function `f` twice. Once with and once without the integer argument!

[2018-10-04 08:11] FelixMcFelix commented on #54754
Yeah, the likely fix for this is to create a query for lints that removes all levels under `AccessLevel::Reachable`, or manually strip the entries each time. The former probably makes more sense. I wasn't sure we'd need to do this at the time, it shouldn't take too long.

[2018-10-04 08:28] ChrisJefferson opened #54807 "misleading "try adding parentheses" in match with comma"
Consider the following (incorrect) code.

[code]

The comma in the match is obviously supposed to be a `|`. However, rustc recommends I rewrite to `(A,B)`, which makes the situation worse, as the compile error becomes `expected enum E, found tuple`.

[2018-10-04 09:52] pnkfelix commented on #22321
I think everything here is going to end up addressed by NLL or be better tracked by individual tickets.

[2018-10-04 09:52] #22321 closed

[2018-10-04 10:04] oli-obk commented on #54807
I disagree. It could be either of these. At the point where we're suggesting this we don't know the type of the match or any other details.

We could suggest both `(A, B)` and `A | B` to make it clear that the user should put some thought into fixing the error.

[2018-10-04 10:16] pnkfelix commented on #21114
Some months ago @Thiez wrote an interesting [note](https://github.com/rust-lang/rust/issues/21114#issuecomment-390791810) that pointed out an oddity where a tail expression with `if _ { EXPR } else { EXPR }` in the block tail position was compiling, while just `EXPR` in the tail expression (which you would think has the same dynamic semantics) was not compiling.

I investigated, and discovered som

[2018-10-04 10:29] pnkfelix commented on #22449
After PR #54782 lands, the error diagnostic here will be:

[code]

The reason the compiler cannot insert the semi-colon automatically: The language has a set of rules determining when temporaries are dropped. Adding the semi-colon changes the relative order of destruction, and thus as a policy that (semantically significant) change should be reflected in the source code.

[2018-10-04 10:33] pnkfelix commented on #22449
My main point is that this appears to be a duplicate of #21114 or perhaps #46413 (which should probably be themselves merged as duplicates once NLL is the default after the 2018 edition ships).

The problem here is a consequence of our rules for when r-value temporaries are dropped. My current inclination is to try to improve our diagnostics and documentation so that developers understand the rule

[2018-10-04 10:33] #22449 closed

[2018-10-04 10:41] jonas-schievink commented on #54754
I've implemented a more minimal fix at #54810. It should be safe to backport to beta, if this is wanted at all.

[2018-10-04 10:48] pnkfelix commented on #32382
I just tried this out with the 2018 edition and it works there. Or on the nightly compiler, one can add `#![feature(nll)]` to get the fix.

We should add a regression test before closing though.

[2018-10-04 11:09] pnkfelix commented on #52701
Okay. As noted above, the bug is fixed in nightly and beta, and in https://github.com/rust-lang/rust/pull/53316#issuecomment-426957436 it was decided that we would not risk doing a stable backport.

So I am closing this as "fixed in beta/nightly and wontfix for current stable."

[2018-10-04 11:09] #52701 closed

[2018-10-04 11:17] 11Takanori commented on #54807
This seems like a nice first issue for a beginner like me to contribute to, so I'd be happy to tackle this one.

[2018-10-04 11:27] ChrisJefferson commented on #54807
I don't know where the suggestions are mades but in this case (A,B) is obviously wrong, as it doesn't type check, while A|B does :)

[2018-10-04 11:36] oli-obk commented on #54807
We have no way to distinguish between your code sample and the following code sample.

[code]

The error is happening during parsing. This means we have no type information available. All we know is that we're parsing a pattern. Think about it this way, what can you tell about the following code snippet:

[code]

Just looking at that without looking at the surroundings tells you nothing, except th

[2018-10-04 11:40] #54483 closed

[2018-10-04 11:53] SimonSapin commented on #43301
Different crates in the same program can be in different editions but use the same `std`, so the traits available in `std` and their impls need to be the same across editions. What we could do in theory (I’m not advocating this) is have two traits, `Termination` and `Termination2`, and require the return type of `main()` to implement one or the other depending on the edition of the crate that defi

[2018-10-04 12:03] ExpHP commented on #54729
Notably, `Ok(|current: &_, msg| false)` resolves the error.  I guess closures in output position for `-> impl Fn` receive the same special-case treatment from the type checker that those in argument position do?

[2018-10-04 12:44] pnkfelix commented on #53420
assigning self for preliminary investigation

[2018-10-04 12:44] zroug commented on #43122
I noticed that `Generator` is implemented for mutable references to generators. I think that this is unfortunate because it prevents any safe abstractions for the `Generator` trait.

Consider this seemingly safe function:
[code]
According to the documentation of the `Generator` trait this function should be sound. But it isn't because it can be called with mutable references to generators. Here is

[2018-10-04 12:46] pnkfelix commented on #53420
Since this is an ICE and is not using any unstable features (and in fact, reproduces on the stable channel), I have tagged it as P-high for now.

That means we'll be visiting it regularly during the weekly compiler team meeting.

[2018-10-04 12:54] pnkfelix commented on #53420
Also: Thank you @earthengine for your patience as well as your copious notes from your own investigations.

My current hypothesis is that normalization is supposed to be doing the substitution mapping  `<() as Lt<'_>>::T`  to `()`, but for some reason is missing the case(s) that you have identified here.

[2018-10-04 12:56] Nemo157 commented on #43122
@zroug https://github.com/rust-lang/rust/pull/54383 should allow creating a safe api for generators _soon_ :tm:, as you mention `impl<G> Generator for &mut G where G: Generator` will have to disappear and instead we'll get `impl<G> Generator for Pin<&mut G> where G: Generator` or similar.

[2018-10-04 13:00] jplatte commented on #43122
In the same vein, last time I checked generators with borrows across yield points didn't `impl !Unpin`. That seems like the prime example of an `!Unpin` type, or am I misunderstanding something?

[2018-10-04 13:35] petrochenkov commented on #54719
Fixed in https://github.com/rust-lang/rust/pull/54813

[2018-10-04 13:39] raphaelcohn opened #54814 "ICE on nightly with associated constants"
I've got an array defined as:-
[code]

[code]

[2018-10-04 13:45] pnkfelix commented on #53166
(it looks like I should not assign high-priority to the proposed lint until after the lang team has come to a decision regarding PR #54658.)

[2018-10-04 14:07] antoyo commented on #49893
This might be a duplicate of #39610.

[2018-10-04 14:07] antoyo commented on #54365
This might be a duplicate of #39610.

[2018-10-04 14:08] #54752 closed

[2018-10-04 14:08] #53836 closed

[2018-10-04 14:08] #52187 closed

[2018-10-04 14:09] QuietMisdreavus commented on #54765
I'm leaning toward *not* stabilizing this flag, unless/until someone other than docs.rs uses it. Since docs.rs always uses nightly anyway, it doesn't matter that the flag is semi-perma-unstable. Any other functionality that tries to do the same thing will need to pass the same test - if someone other than docs.rs wants it, then we can chat about stabilization. As we move to make docs.rs more of an

[2018-10-04 14:10] arielb1 commented on #29997
Another minimal example (#53420):
[code]

[2018-10-04 14:10] pnkfelix commented on #53420
Discussed at T-compiler meeting. Seems to be duplicate of issue #29997. Closing as duplicate.

[2018-10-04 14:10] #53420 closed

[2018-10-04 14:14] withoutboats opened #54815 "Pinning non-Deref pointers"
Currently, you cannot even construct a `Pin` unless the pointer it wraps implements `Deref`. This means you cannot have a `Pin<*const T>`, `Pin<*mut T>` or `Pin<NonNull<T>>`. We should consider extending the API of Pin to support these constructs.

Unfortunately, I don't know if there's much this actually helps, because we have no unsafe equivalent of `Deref` as a trait abstraction. As a result, I

[2018-10-04 14:14] withoutboats commented on #54815
cc @cramertj @RalfJung

[2018-10-04 14:14] QuietMisdreavus commented on #21299
@rep-nop Feel free! If you have any questions, don't be afraid to post them here or find us on IRC or Discord (there are `#rustdoc` channels on both).

[2018-10-04 14:15] scalexm commented on #53683
Introduced in #54789.

[2018-10-04 14:15] #53683 closed

[2018-10-04 14:16] pnkfelix commented on #54327
visited for triage during T-compiler weekly meeting.

This probably doesn't need to be P-high. The remaining issue is about implementing a controlled error exit with a nicer diagnostic.

But it has been claimed (I think by @eddyb ) that we cannot implement that without lazy normalization.

Assigning to @nikomatsakis and @eddyb to resolve the questions here.

[2018-10-04 14:19] nikomatsakis commented on #54665
@GabrielMajeri awesome, thanks!

[2018-10-04 15:00] pnkfelix commented on #54464
closing as wontfix.

[2018-10-04 15:00] #54464 closed

[2018-10-04 15:06] pnkfelix commented on #54754
(assigning self just to make sure everything gets followed up on here)

[2018-10-04 15:06] pnkfelix commented on #54754
tagged as P-high since it was a regression.

[2018-10-04 15:11] withoutboats opened #54817 "Collection APIs for deallocating backing store without running destructors"
Unfortunately, I have some code which needs to deallocate the backing store of our collection types without running the destructors on the elements in that collection.

Currently, I am transmuting those types from `HashMap<K, V>` to `HashMap<ManuallyDrop<K>, ManuallyDrop<V>>` and then dropping that. Right now, this appears to work as intended. Incidentally, I think both rustc and std should make t

[2018-10-04 15:15] pnkfelix opened #54818 "Compiler Team Weekly Agenda"
Prioritization Procedure for the Weekly Meeting: https://hackmd.io/pHb6eTZ2Sjy6XZmwXZHIBA?view#Prioritization-WG---Procedure

(look at the above link first; we are trying to make the above document be *the* canonical resource for preparing for and running the weekly T-compiler triage meeting.)

The agenda itself is constructed by following this procedure: https://hackmd.io/WJ0G17DHTHGgv0OW9I2PxA?v

[2018-10-04 15:17] Nemo157 commented on #43122
I can confirm that the following definition of `Generator` works with the changes in #54383 ([full playground of what I tested](https://play.rust-lang.org/?gist=0cae579b45091542d3c9ed95e9cc3d94&version=nightly&mode=debug&edition=2015)):

[code]

I'm going to have a look whether I can figure out the changes to make the MIR transform match this trait as well.

[2018-10-04 15:17] nagisa commented on #54817
cf. #54793

[2018-10-04 15:36] nikomatsakis commented on #54665
cc @petrochenkov — any ideas? I'm looking into the code a bit

[2018-10-04 15:40] euclio commented on #52411
Unfortunately, I'm not sure that it's possible to get a better error message without making `#[bench]` a full-blown compiler plugin. Since `#[bench]` expansion happens before resolution, we can only check that the argument list has the expected number of arguments. We can't check the name of the argument either, because it could be aliased.

https://github.com/rust-lang/rust/blob/354a29a5f1feb55bd

[2018-10-04 16:28] nikomatsakis commented on #54665
The immediate cause of the problem is that `current_trait_ref` is `None` here:

https://github.com/rust-lang/rust/blob/5472b0718f286266ab89acdf234c3552de7e973c/src/librustc_resolve/lib.rs#L2612

[2018-10-04 16:30] GuillaumeGomez opened #54819 "[rustdoc] stabilise disable-minification option"

[2018-10-04 16:34] nikomatsakis commented on #54665
We seem to enter this block of code with a successful resolution in `def`:

https://github.com/rust-lang/rust/blob/5472b0718f286266ab89acdf234c3552de7e973c/src/librustc_resolve/lib.rs#L2472-L2485

But something goes wrong after that.

[2018-10-04 16:37] nikomatsakis commented on #54665
It seems like the problem is that `resolve_path` returns "Indeterminate"

[2018-10-04 16:37] nikomatsakis commented on #54665
Here is the output from some logs I added, showing the value of `def` and also the result of the call to `resolve_path`:

[code]

[2018-10-04 16:40] nikomatsakis commented on #54665
cc @eddyb also — maybe you or @petrochenkov has some clue what's happening here based on the above output.

[2018-10-04 17:07] joshtriplett commented on #31436
@Centril Thank you for raising those.

Regarding `break`, I personally would be fine with simply saying that `try` doesn't care about `break` and it passes through to the containing loop. I just don't want `break` to interact with `try` at all.

As for `Ok`-wrapping, yes, I'd like to address that before stabilizing `try`.

[2018-10-04 17:43] nikomatsakis commented on #49610
Does anyone have any idea what work remains to be done here?

We are now linting for the use of 2018 keywords in Rust 2015, for example, at least afaik. Based on the code I see four keywords, and all of them appear to have at least rudimentary tests:

- `async` ([test](https://github.com/rust-lang/rust/blob/5de52817c43fcb767ab3c7ecf051872cad6d0df2/src/test/ui/rust-2018/async-ident.rs))
- `dyn` ([t

[2018-10-04 17:48] Centril commented on #49610
Yes I think we can close this; I filed https://github.com/rust-lang/rust/issues/54774 for improved diagnostics, but that is tracked separately.

[2018-10-04 17:53] Centril commented on #54818
FYI: For the etherpad stuff there's also http://hackmd.io/.

[2018-10-04 17:55] nikomatsakis commented on #52043
I can't tell what the status is here. We have a lint (landed in #52275) but as far as I can tell ([playground]) it does not fire. In fact, I get no warnings at all when using extern crate in Rust 2018, even with idiom lints enabled. Is that expected?

(We do [appear](https://github.com/rust-lang/rust/pull/50911/files#diff-8fe611e80215042c8d89714f4dd6f8baR644) to have stabilized `use_extern_macros`

[2018-10-04 17:56] nikomatsakis commented on #52593
It seems like the time limit is approaching to make a move here.

[2018-10-04 17:57] nikomatsakis commented on #52098
Nominating for prioritization. RC2 blocker, it seems.

[2018-10-04 17:58] nikomatsakis commented on #52045
We decided that in-band lifetimes are not going to be stabilized for Rust 2018. Therefore, I nominate this for removal from the milestone.

[2018-10-04 17:58] nikomatsakis commented on #52048
I believe we are not going to stabilize `crate` in Rust 2018, correct? If so, I nominate for removal from the milestone.

[2018-10-04 17:59] nikomatsakis commented on #52509
Nominating for prioritization. cc @rust-lang/docs -- this is a rustdoc bug, is there someone who wants to tackle it?

I added T-compiler so that we take a look at the next compiler meeting otherwise.

[2018-10-04 18:31] nikomatsakis commented on #54692
Hmm this may be blocking me in other areas.

[2018-10-04 19:11] #48643 closed

[2018-10-04 19:24] joshlf opened #54822 "Erroneous compilation failure with associated constant"
EDIT: To anyone coming to this from the This Week in Rust CFP: This is currently an unsolved issue, so the first step to tackling this is to figure out where the bug is! That alone would be a huge help. If you want to implement a fix, that'd be great too :)

=====

The following program should compile on stable, but doesn't:

[code]

It [fails to compile](https://play.rust-lang.org/?gist=c63d74102

[2018-10-04 19:43] joshtriplett commented on #52048
Discussion in the @rust-lang/lang meeting came to the same conclusion: this is fundamentally tied to whether we add `crate` as a visibility modifier. If we do, we want this lint; if we don't, we don't.

[2018-10-04 19:44] #49610 closed

[2018-10-04 19:59] scottmcm commented on #21232
I think the one that's particularly bad is this one:
[code]
I don't think it should ever be allowed to write something that you cannot then read.

I would be fine with either direction of a fix for that, whether denying the write or allowing the read.

[2018-10-04 20:08] pnkfelix commented on #21232
Discussed at lang team meeting.

For reference, here are the three example programs we discused (assuming we're starting with e.g. `struct S { x: u32, y: u32 }` and `S` does not implement `Drop`):
 * Accepted today: `fn main() { let mut s: S; s.x = 10; }`
 * Rejected today: `fn main() { let mut s: S; s.x = 10; s.y = 30; a_use_of(s); }`
 * Rejected today: `fn main() { let mut s: S; s.x = 10; a_use_

[2018-10-04 20:10] pnkfelix commented on #21232
the effort here, i.e. the new check described in my previous comment, needs to happen soon if its going to happen at all.

So I'm retagging this as `I-nominated` to make it crystal clear that I now want this discussed at the NLL meeting, if we haven't already found a volunteer to implement this by that time.

[2018-10-04 20:36] nikomatsakis commented on #54499
@xfix out of curiosity, how did you notice this bug? Are you relying on the current behavior of being able to assign to (but not read from) a field of an uninitialized variable?

[2018-10-04 21:05] bstrie commented on #23228
I'm perfectly willing to have this closed if someone on the compiler team confirms that this specific optimization requires too many tradeoffs to be valuable. Part of my original intent in filing this issue was to spur people to consider the theoretical limits of enum optimization, which was limited in 2015 but much more capable today.

[2018-10-04 21:10] Centril commented on #53555
@oli-obk given that we landed https://github.com/rust-lang/rust/pull/53851, should we move to stabilize this?

[2018-10-04 21:13] bstrie commented on #34338
Revisiting this, today the intrinsics docs warning message no longer says anything about "instead they should be used through stabilized interfaces in the rest of the standard library", which obviates half of this bug by no longer causing doc readers to wonder at what the stable replacement might be. It also seems that some of the intrinsics have had this issue addressed (e.g. my original example

[2018-10-04 21:20] #54481 closed

[2018-10-04 21:23] derekdreery opened #54826 "Javascript error (implementations-list)"
The following  code causes an error when viewing the `ansi_term` crate documentation in a browser:

[code]

the error is:

[code]

`$ rustc --version`: `rustc 1.30.0-beta.11 (f11dae2b2 2018-10-03)`

**EDIT** Updated beta version (still happening).

[2018-10-04 21:56] jethrogb commented on #38126
Closing this because macros 2.0 is pretty much around the corner.

[2018-10-04 21:56] #38126 closed

[2018-10-04 22:16] abonander opened #54828 "#[must_use] is permitted on functions without return type"
The following produces no warnings or errors:

[code]

Is this intended? Shouldn't it produce a lint warning on the attribute? This is a good mentoring issue, I can bang out instructions once I get an answer (fortunately this doesn't seem to involve hygiene this time so hopefully I should get it right... @petrochenkov)

[2018-10-04 23:10] abonander opened #54830 "MSVC fails linking rustc in debug mode; too many codegen units"
Building `rustc` in debug mode with just `debug=true` in `config.toml` seems to generate a ridiculous number of codegen units. It fails with an error in linking:

The command I was running:

[code]

Setting `codegen_units` to 0 in `config.toml` fixes the problem, as that limits it to the number of cores in the machine.

cc @alexcrichton

[2018-10-04 23:12] abonander commented on #54830
Crap, duplicate of #53014

[2018-10-04 23:12] #54830 closed

[2018-10-04 23:30] davidtwco commented on #54528
Can we avoid using the same format for the results of this review as we did the last one - the large table and comments was hard to keep up-to-date and not great for discoverability. I'd suggest a bunch of issues and [a "NLL Diagnostic Review" project](https://github.com/rust-lang/rust/projects) to view them all?

[2018-10-05 00:47] abonander commented on #54441
`Parser::parse_foreign_item()` is a bit of an enimga in that it returns `Result<Option<ForeignItem>>` whereas the analogues for `TraitItem` and `ImplItem` are required to return an item or error, and the caller is responsible for detecting EOF. I think that caused some confusion in `ext/expand.rs` as a result. `parse_foreign_item()` should be refactored to have the same obligatory return.

[2018-10-05 01:15] estebank commented on #54410
https://play.rust-lang.org/?gist=cc96867783c61f65db9011b2edfc02f7&version=beta&mode=debug&edition=2015
[code]

[2018-10-05 02:17] blitzerr commented on #54620
The issue is that this code compiles and executes file with NLL enabled as you can see [here](https://play.rust-lang.org/?gist=5e26dbc233aa7797a5bd9edee28bcb37&version=nightly&mode=debug&edition=2015). But with NLL turned off, it errors out as [here](https://play.rust-lang.org/?gist=97d0126b499e10b95ff166bda027393d&version=nightly&mode=debug&edition=2015).
[This](https://rust-lang.github.io/rfcs/1

[2018-10-05 04:54] zackmdavis commented on #54828
The fact that `unused-must-use` doesn't fire on the `foo();` is a consequence of the lint pass [returning early for `()` and `!`](https://github.com/rust-lang/rust/blob/b8bea5a0a6aef3966008787a25949344f8cf6942/src/librustc_lint/unused.rs#L62-L72).

I agree that it's useless to put `#[must_use]` on a function that returns `()`, but I don't think anyone thought ahead and decided it should (or should

[2018-10-05 05:00] zackmdavis commented on #54828
... well, come to think of it, I see a good case that this should trigger `unused_attributes`, as @petrochenkov [recently argued with respect to empty `#[derive()]`s](https://github.com/rust-lang/rust/issues/54651#issuecomment-425565263).

[2018-10-05 05:40] scottmcm commented on #31436
@centril Yes, I'm aware.  But it's important to remember that that's *re-* **re-** raising the issue.  The RFC [decided to have it](https://github.com/rust-lang/rfcs/blob/master/text/0243-trait-based-exception-handling.md#catch-expressions), it was implemented without it, but then [the original intent was taken _again_](https://github.com/rust-lang/rust/issues/41414#issuecomment-373985777), and th

[2018-10-05 06:58] kzys commented on #30062
I'm working on #44687 currently. The demo site is http://rust-pull-request.s3-website-us-east-1.amazonaws.com/44687/std/

[2018-10-05 08:13] petrochenkov commented on #54665
I'll look at this once I'm back from vacation next week (unless it's resolved before that).

[2018-10-05 08:41] ljedrz commented on #50928
@zackmdavis I'd be happy to help with `HirId`ification if you could point me to structures that need this change.

[2018-10-05 09:19] GuillaumeGomez opened #54836 "Invalid doc header display on mobile version"
What is expected (and what we get with the menu):

![good](https://user-images.githubusercontent.com/3050060/46527115-83fc5c80-c890-11e8-8721-a8b3644092a8.png)

And what we have:

![not-good](https://user-images.githubusercontent.com/3050060/46527120-8bbc0100-c890-11e8-86ed-fe1532b9ff84.png)

[2018-10-05 09:28] Nemo157 commented on #47608
There's a much more likely reproducer of case 2 on edition 2018, if you simply forget to `use serde_derive::Serialize;`

[code]

gives the same error and doesn't mention the missing derive at all

[code]

[2018-10-05 09:41] nikomatsakis commented on #48075
I would really like to see this stabilized. =) Nominating for lang team discussion.

[2018-10-05 09:46] leonardo-m opened #54837 "Bad error messages with wrong generator yield type"
This is reduced code:

[code]

It gives two error messages, both bad:

[code]

I'd like instead a single error message like:

[code]

[2018-10-05 09:51] michaelwoerister opened #54839 "Truncated backtraces on OS X"
The original report is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1496503

Apparently backtraces (sometimes?) get truncated on OS X as seen here:
[code]

Is this a known issue?

cc @bholley

[2018-10-05 10:05] Havvy commented on #54828
I concur. This should definitely cause `unused_attributes` to fire.

[2018-10-05 10:08] #52086 closed

[2018-10-05 10:10] smarnach opened #54840 "ICE when trying to use &impl in a binding"
This code results in an ICE on the [playground](https://play.rust-lang.org/?gist=77bd3924379655ce4289dab583552567&version=nightly&mode=debug&edition=2015):
[code]
This may be a duplicate of #54600, but I can't really tell.  Error message:
[code]

[2018-10-05 10:22] abonander opened #54841 "Incorrect diagnostic span on syntax error in macro invoc inside trait, impl, extern blocks"
A syntax error produced by a macro invocation in a `trait {}` or `impl {}` block will have an incorrect span for its second label:

[Playground](https://play.rust-lang.org/?gist=7a0fd6c77f665d89f5b40ec949e9b93f&version=stable&mode=debug&edition=2015)
[code]

Produces this error:
[code]

The "expected one of ... here" line is pointing to line 1 but it should be elaborating on the "unexpected token"

[2018-10-05 11:43] SimonSapin opened #54842 "borrowed value must be valid for the static lifetime"

[2018-10-05 11:44] SimonSapin commented on #54842
Oops, prematurely submitted. Sorry.

[2018-10-05 11:44] #54842 closed

[2018-10-05 11:47] AljoschaMeyer opened #54843 "f64::from_str() specification"
Is there some precise specification on what kind of strings the `from_str` implementation of `f64`  accepts? I would have expected it to handle e.g. `"11111111111111111111111111111111111111111111111111111111111111111111111111e-323"`, but it returns an error. Javascript for example parses it correctly, try pasting `JSON.parse("111111111111111111111111111111111111111111111111111111111111111111111111

[2018-10-05 11:54] RalfJung opened #54844 "Rust complains about trait assoc type not being WF when we assume a triat impl (which is inherently WF)"
Consider [this code](https://play.rust-lang.org/?gist=5bdfebe1d106f1dd5dda4d2f3e392495&version=nightly&mode=debug&edition=2015):
[code]
It fails to compile with
[code]
But that is strange, because the `M: Machine` impl must be well-formed, so of course that bound is met.

[2018-10-05 11:59] AljoschaMeyer opened #54845 "Problem with String::from_utf8"
The byte sequence `[34, 228, 166, 164, 110, 237, 166, 164, 44, 34]` (`"䦤n���,"`, quotes are part of the string itself) is considered valid utf8 by ECMAScript (or at least nodejs and firefox), but not by the rust std library.

Not knowing enough about unicode and utf8, I'm just assuming that rust is doing this incorrectly, since both v8 and spidermonkey accept it as valid utf8.

`JSON.parse('"䦤n���

[2018-10-05 12:04] rkruppe commented on #54843
That's #31407

[2018-10-05 12:12] SimonSapin opened #54846 "Regression: "temporary value does not live long enough" in a `static` item in Servo"
Reduced test case:

[code]

rustc 1.31.0-nightly (5597ee8a6 2018-10-03): OK

rustc 1.31.0-nightly (8c4ad4e9e 2018-10-04):

[code]

Commit range: https://github.com/rust-lang/rust/compare/5597ee8a6...8c4ad4e9e. https://github.com/rust-lang/rust/pull/53851 seems relevant. @oli-obk, should we use `#[rustc_promotable]` in unstable code, despite the `rustc_` prefix in its name?

[2018-10-05 12:15] pnkfelix commented on #54477
I have locally reproduced bug (by cloning the `collection` crate and running `cargo test` on it) on the current beta via `rustup`.

But the bug does not reproduce on the current `nightly` in `rustup`.

Bisecting now.

[2018-10-05 12:16] AljoschaMeyer commented on #54843
Sorry for the duplicate then. But maybe the documentation could state that there are problems with the function.

[2018-10-05 12:19] SimonSapin commented on #54846
Hmm, this diff does not seem to have any effect on the 275 occurrences of this error in Servo, am I missing something:

[code]

Sample error in non-reduced code:

[code]

[2018-10-05 12:20] oli-obk commented on #54846
hmm... I thought `const_fn` was overriding any rules. And... I just realized that's only true for nll ;) So add `#![feature(nll)]`

Or you can always use an intermediate constant.

`#[rustc_promotable]` is expected to stay unstable forever, but you can use it if you want. You're on your own with guarantees though.

[2018-10-05 12:30] pnkfelix commented on #54477
Bisected over nightlies to determine this was injected between 7061b2775 and 02cb8f2a4

<details>

[code]

</details>

[2018-10-05 12:34] pnkfelix commented on #54477
Here's the log of bors merges over the range between 7061b27 and 02cb8f2

<details>

[code]

</details>

[2018-10-05 12:44] Havvy commented on #54845
Well, I've spent too much time staring at the [UTF-8 wikipedia article](https://en.wikipedia.org/wiki/UTF-8) and the bytes in total. In the end, I've minimized the bytes to the character that throws the error and wrote some code to investigate it. Note I'm using underscores in literals to show utf-8 encoding bits from character value bits.

[code]

The codepoint it prints out is U+D9A4 which is "i

[2018-10-05 12:57] AljoschaMeyer commented on #54845
Thanks @Havvy. So do I understand this correctly that the byte sequence `[237, 166, 164]` is *not* valid utf8, but js engines parse them anyways into their internal utf16 representation without checking for validity? Or is the byte sequence valid utf8 but not valid unicode? Is that even possible?

[2018-10-05 13:06] AljoschaMeyer commented on #54845
Ok, I think I understand it now: It is a valid utf8 encoding of a unicode code point, but the code point happens to not be a valid [unicode scalar value](http://www.unicode.org/glossary/#unicode_scalar_value) (which is what rust `char`s are).

Follow-up question (if you don't mind me derailing this):

Wikipedia says:

Does that mean that nodejs decoding a buffer of those utf8 bytes into  a string

[2018-10-05 13:06] #54845 closed

[2018-10-05 13:35] pnkfelix commented on #54477
Based solely on skimming that list of PR's, I would be inclined to double-check the `VecDeque` change.

its *possible* its actually the MIRI change... but that's not my first guess.

In the meantime, I'm working on reducing the test case. I currently have it down to a single standalone file, but its still 3.6K lines...

[2018-10-05 13:46] AljoschaMeyer commented on #54845
And for any future travelers: This is what [wtf-8](https://simonsapin.github.io/wtf-8/) is all about.

[2018-10-05 14:10] RalfJung commented on #54768
Incidentally, that would also have prevented https://github.com/rust-lang/rust/issues/41622. So yes please! Don't forget the guards of `RwLock` and of `RefCell`.

However, otherwise I am not sure what to add here. @Centril do you have any concrete question? As mentioned above, `RefUnwindSafe` is not critical for soundness, and I am afraid I don't have a clear enough model of the contract imposed b

[2018-10-05 14:36] steveklabnik commented on #47608
Yeah, this bit me *hard* yesterday.

[2018-10-05 14:52] steveklabnik commented on #44687
Hey @kzys , thanks for poking at this!

What *exactly* does

mean? *How* is it inserted by JS?

[2018-10-05 14:57] SimonSapin commented on #54845
To confirm with a quote more authoritative than Wikipedia or what happens to be in an implementation:

https://www.unicode.org/versions/Unicode11.0.0/ch03.pdf#G31703
Unicode Standard, version 11.0.0, section 3.9, definition D92:

Conformance condition C10:

[2018-10-05 15:03] kzys commented on #44687
I meant, having all versions links on rustdoc's HTML files would not work,
since we want to have links to older docs to newer docs (and vice versa, of
course). We would not want to update all docs on every release.

So, the implementation would need

1. a JSON file that lists all releases (like thanks.rust-lang.org)
2. a small JavaScript to read the JSON file, construct a drop-down.
3. include the

[2018-10-05 15:05] steveklabnik commented on #44687
Right, so the issue here is:

We have already produced the HTML for those old releases, and they can't change. So this approach would work going forward, but wouldn't work for releases previous to that.

[2018-10-05 15:07] tromey commented on #54126
This is fixed by rustup 1.14.0, which shipped yesterday.

[2018-10-05 15:07] #54126 closed

[2018-10-05 15:08] pnkfelix commented on #54477
Okay, at this point I have confirmed that reverting #53564 fixes this bug.

We should revert #53564.

I haven't finished reducing my test case as much as I would like, but I can post what I have.

Its in this gist:
  https://gist.github.com/pnkfelix/d8541c9e8ee240d02a4aa133a1fe0adc

Here's a demo of stable working:
  https://play.rust-lang.org/?version=stable&gist=d8541c9e8ee240d02a4aa133a1fe0adc

[2018-10-05 15:14] pnkfelix commented on #54477
Unassigning myself as I cannot devote further time to this  and it seems like it should be handled by the libs team at this point.

The good idea that I just had, unfortunately too late:

that would be a good way to reduce the test case to something really trivial.

[2018-10-05 15:18] Diggsey commented on #54768
I don't think that follows - things with internal mutability can be `Send`, but are usually not `UnwindSafe`.

The implications are:
[code]

I don't think this says anything about non-reference types implementing `Send` or `UnwindSafe`.

This is where the "logic" is a bit fuzzy, but I think it's based around expectation: you should expect that you might see intermediate results in an atomic type (

[2018-10-05 15:28] AljoschaMeyer commented on #54845
Yeah, I got confused regarding `JSON.parse` because I assumed I was copy-pasting ill-formed strings around, when actually I was only pasting U+FFFD.

Thank you both so much for taking the time to help clarify this.

[2018-10-05 15:32] xfix commented on #54499
@nikomatsakis I just like abusing compiler edge cases, this isn't from actual program.

[2018-10-05 15:32] steveklabnik opened #54849 "Confusing diagnostic with assocaited constants"
I wrote some code that looks like this, just to see if it would work:

[code]

This gives an error like this:

[code]

There's no `T` in `A::SIZE`, so it's not clear how I would annotate that. Just in general, I find this diagnostic quite confusing.

[2018-10-05 15:35] steveklabnik commented on #44687
Yeah, we have a hard constraint on not being able to do this.

The issue with that is that it doesn't solve one of the primary motivations for doing this: people seeing older versions and not realizing they're out of date.

[2018-10-05 15:35] mjbshaw commented on #54709
That's what I would need to do. But storing the value in `*mut T` means that the type encoding for the struct can no longer be automatically derived, since `*mut T` and `usize` are encoded differently.

I personally would love for this to be a lint. It can be a bit of a footgun, yes, but low level FFI programming is full of footguns.

[2018-10-05 15:45] kzys commented on #44687
If changing the old docs is not possible, the remaining options are;

- Dynamically replace docs's certain parts via the http server (like https://httpd.apache.org/docs/2.4/mod/mod_substitute.html or http://nginx.org/en/docs/http/ngx_http_sub_module.html), not so sure what we are using though.
- frame/iframe

Would you mind if I ask the reason of not changing the old docs? I agree we shouldn't do

[2018-10-05 16:00] steveklabnik commented on #44687
Reproducibility is important, and so releases are immutable.

I’m starting to think the server side idea is the best option...

[2018-10-05 16:07] RalfJung commented on #54709
The footgun here, however, is of a different nature: If you ever write `&(ADDRESS/2)`, that code will fail to compile because the compiler *thinks* it can execute it at compile-time, and when it finds out it cannot, it is too late.

[2018-10-05 16:10] kzys commented on #44687
Thanks! That make sense.

Does doc.rust-lang.org use S3 + CloudFront? Not so sure since the old issues sometimes mention "rewriting". On CloudFront, we may be able to use [Lambda@Edge](https://docs.aws.amazon.com/lambda/latest/dg/lambda-edge.html) instead of spinning up a http server.

(Disclaimer - I work for Amazon, but not AWS)

[2018-10-05 16:13] RalfJung commented on #54815
An alternative might be to have a dedicated trait just for `Pin`. I'd prefer that anyway to make sure people explicitly opt-in to pinning support with their types. Would that help?

[2018-10-05 16:15] alexcrichton commented on #54477
Thanks so much for flagging this @pietroalbini and tracking this down @pnkfelix! That's an impressive investigation @pnkfelix!

I can take it from here with reverts

[2018-10-05 16:17] Marwes opened #54852 "rustc --print file-names wrongly prints .rlib for --emit=metadata"
For sccache to cache rustc builds it uses `rustc --print file-names` to figure out which files get emitted so it cache them for later. For `--emit metadata` builds it appears that `rustc` prints that it would emit a `.rlib` file which seems to be false, only `.rmeta` files get emitted.

Trying to find out where this happens but so far no luck (it might actually be correct behavior and the fix shou

[2018-10-05 16:32] steveklabnik commented on #44687
Yep!

That is an intriguing idea!

[2018-10-05 16:42] mikeyhew commented on #54600
@nikomatsakis

Shouldn't `format!("{}", x)` should be `format!("{:?}", x)`?

[2018-10-05 16:45] Mark-Simulacrum commented on #44687
FWIW, I think fixing this by including an empty just file from some common location or path that we can update later (e.g. rust-lang.org/doc-1.23.0.js) would be good. The other side of this is I think changing old HTML files uniformly isn't a bad thing: for one thing it's cheaper than any other solution from a monetary perspective and I don't quite see why it would pose too large a problem. We're

[2018-10-05 16:46] RalfJung commented on #54477
Interestingly, miri does not see any UB here. Not that this makes the bug less of a problem, but this could mean it's "just" a plain functional mistake (or UB that miri cannot detect ;)

[2018-10-05 16:51] steveklabnik commented on #44687
Oh? I thought they were identical. If this is *not* the case, then I feel like there's more wiggle room.

[2018-10-05 16:54] moonheart08 opened #54855 "Using types like i1, u24, or other nonstandard integer sizes."
LLVM itself supports arbitrary bitlength integers, however Rust does not. This would be useful for some less common, but still fairly normal cases, like 24-bit integers for emulating CPUs like the MC68000 (Some models use 24-bit address busses instead of 32-bit), or for memory constrained systems where you need all the space you can get, and as such packed bitfields are the best for storing data.

[2018-10-05 16:58] Mark-Simulacrum commented on #44687
Yes, the docs are served from a different bucket in s3, I'm fairly sure, and if they weren't, we could "easily" start doing so.

[2018-10-05 16:59] steveklabnik commented on #44687
Okay, then maybe that is the path forward, then.

[2018-10-05 17:11] kzys commented on #44687
Is it easy to have a file inside the bucket, like
docs.rust-lang.org/common/footer.js ?

If so, we can create the file first, reference from the nigltly docs by
changing rustdoc, and replace all old docs later to include the file.

In addition to that, if we have a specific update script for the bucket, we
probably don't have to change rustdoc.

[2018-10-05 17:30] steveklabnik opened #54856 "RUSTFLAGS + a sysroot with spaces in its path = 😭"
When using `cargo-xbuild` to do things like "build an OS", you need to set the sysroot via `RUSTFLAGS`.

Here's an example `rustc` invocation on my machine that builds:

[code]

The last bit is the important part:

[code]

It appears the space in my username causes this to be impossible to set via `RUSTFLAGS`. With an invocation like this:

[code]

You can see that it's all good. However, this fai

[2018-10-05 17:57] nagisa commented on #54856
This is a cargo issue I think.

[2018-10-05 18:04] #54045 closed

[2018-10-05 18:09] cuviper commented on #54855
There's a similar discussion here:
https://internals.rust-lang.org/t/pre-rfc-generic-integers-uint-n-and-int-n/7641

[2018-10-05 18:22] jturner314 opened #54857 "(Maybe) Undefined behavior in safe code from `getelementptr inbounds` with offset 0"
As far as I can tell, slicing a `Vec<T>` (in safe code) results in undefined behavior when `T` is zero-sized or the `Vec` has zero capacity. I'm probably missing something, but I'm creating this issue in case my investigation is correct.

In particular, these two examples appear to cause undefined behavior due the `.offset()` call violating the [first safety constraint](https://doc.rust-lang.org/s

[2018-10-05 18:30] steveklabnik commented on #54856
Yep, I think this is a Cargo issue. Closing in favor of https://github.com/rust-lang/cargo/issues/6139

[2018-10-05 18:30] #54856 closed

[2018-10-05 18:37] nikomatsakis commented on #48416
For those of you following this issue, we're trying to get this group up and going again! We plan to have a meeting (on Zulip, this time) this coming Monday.

[2018-10-05 19:11] ubsan commented on #54793
Oh, hey, what do you know, it's fixed in nightly :P

[2018-10-05 19:11] #54793 closed

[2018-10-05 19:28] sdroege commented on #47115
I hope I didn't completely misunderstood @shepmaster but from what I understood he argued that with panicking this function would be useless and would not give any semantic advantage/difference over the existing chunks apart from codegen

[2018-10-05 19:44] Manishearth commented on #53224
Btw, clippy's relicense is going through, so uplifting lints into Rust will be easy now.

https://github.com/rust-lang-nursery/rust-clippy/pull/3269

[2018-10-05 19:53] Nemo157 commented on #43466
I assume that "Make it work with cross-crate imports" in the OP is referring to things like docs on externally-defined trait implementations failing to resolve and causing warnings to appear, even though the docs are valid in the crate that defined the trait? Is this still blocked on something else (and if so, is there somewhere with more details for tracking it than a comment on the old PR)?

[2018-10-05 20:16] nicokoch commented on #54800
But `Error::InvalidInput` is also returned when the input file is a directory.
So `Error::NotFound` is not the best option here.

IMO, we should just return whatever the os returns and not care about "error fast paths", as implemented on unix right now.

[2018-10-05 20:49] cramertj commented on #43466
The issue @MajorBreakfast is hitting in https://github.com/rust-lang/rust/issues/43466#issuecomment-410650216 is still happening and is a serious blocker for me-- even when building with --no-deps, I'm getting warnings and errors from upstream documentation resolution failures.

[2018-10-05 20:53] cramertj commented on #43466
[Example log](https://gist.github.com/cramertj/cc2f82e67ac8f2a64bd35f5548c63b9b)

[2018-10-05 21:04] cramertj commented on #43466
(am unblocked through the magic of RUSTDOC env var, shell scripts, and the --cap-lints setting, but still this should get fixed XD)

[2018-10-05 21:48] estebank commented on #54841
This is because when [looking for the prior span in the current context](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L717-L733) in order to [check wether the prior span is in a different line](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L760-L774) the code doesn't account for the case where we're in a macro context, making `self.prev_

[2018-10-05 21:50] estebank commented on #54840
[code]

[2018-10-05 22:09] QuietMisdreavus commented on #43466
[code]

[code]

This is enough to trigger a failure right now. (I'll need to narrow it down, but using a crate with some specific use of intra-links will work.) I *thought* i'd fixed this kind of erroneous error with https://github.com/rust-lang/rust/pull/53162#issuecomment-422834964 but it turns out it wasn't good enough. I'm building/testing a fix right now that refuses to run link collection on

[2018-10-05 22:10] alexreg commented on #54600
@mikeyhew Nope, I think he meant that... since he follows it by sating "This fails to compile, which seems correct". With `{:?}` it actually compiles, as it should. :-)

[2018-10-05 22:16] QuietMisdreavus commented on #43466
Narrowed it down:

[code]

I bet the PR i linked doesn't touch this impl because it's generic, so it could apply to any number of local items.

[2018-10-05 22:29] alexcrichton commented on #54839
I can't recall ever seeing this before, but it almost looks like we're calling `abort` while backtracing which may mean something else is awry? (or is "redirecting call to `abort()`" expected?)

[2018-10-05 22:39] abonander commented on #54841
@estebank that will just print "unexpected token", no?

[2018-10-05 23:39] abonander commented on #54841
@estebank something I'm not sure on is why we print "unexpected token" at all and not just the "expected ... here" bit, or actually vice-versa. Is it for syntax errors spanning multiple tokens/lines?

[2018-10-05 23:57] jerous86 commented on #54541
I tried building the rust compiler, but kept on running into issues, and unfortunately don't have the time to figure it all out, just to enable the debuginfo-lines, so I am going to wait until it is enabled by default (I hope https://github.com/rust-lang/rust/pull/54459 is going to get merged soon?)

I will try to figure out a minimal scenario, but it might take a while ...

[2018-10-06 00:53] kahing commented on #42692
I workaround this by having a `Required` type that's an `Optional`, which implements Deref and DerefMut that unwraps the said `Optional`. A bit of a hack but works fine.

[2018-10-06 02:13] mjbshaw commented on #54709
Forgive my ignorance, but why is that a problem? Failure to compile is exactly what I'd expect in that scenario.

[2018-10-06 02:17] shepmaster commented on #47115
I am happy with the current external behavior of the function.

[2018-10-06 03:08] seanmonstar commented on #33417
Does the `Infallible` enum need to be stabilized along with the trait? If it's kept unstable, no one can name it, and so swapping it for `!` later should be fine?

[2018-10-06 03:28] #29377 closed

[2018-10-06 03:28] #54586 closed

[2018-10-06 03:28] #54065 closed

[2018-10-06 03:28] #54441 closed

[2018-10-06 03:28] #54672 closed

[2018-10-06 04:29] ishitatsuyuki commented on #54857
Pardon me, but does this actually results in miscompilation? I'm aware the `1` approach is a dangerous manual layout optimization but cares have been taken to not actually let LLVM misbehave.

[2018-10-06 04:34] muattiyah commented on #52382
@eddyb Hi, I am interested in picking this up with your mentorship, would this be suitable for a first-time contributor with no compiler programming experience?

[2018-10-06 05:11] raventid commented on #54379
@muattiyah, took a pause, will do it in next few days. So, the answer is yes.

[2018-10-06 05:13] muattiyah commented on #54379
@raventid Alright, thanks. Good luck 👍

[2018-10-06 06:01] holmgr commented on #54841
Hi this sounds like a chance for me to do my first contribution, do you mind if I take it?

[2018-10-06 06:06] abonander commented on #54841
@holmgr please do! If you need help just let me know.

[2018-10-06 08:16] SergioBenitez commented on #43466
In Rocket, we have two libraries in a workspace: a core library, `rocket`, and a contrib library `rocket_contrib`. `rocket_contrib` is not a dependency of `rocket`, but `rocket` refers to  `rocket_contrib` in its documentation often.

Because `rocket_contrib` is not a dependency of `rocket`, cross-crate links are not resolving:

[code]

Is there any workaround to this? I've tried adding `--extern

[2018-10-06 08:16] RalfJung commented on #54709
Do you really? This code compiles:
[code]
But with promotion, this would not:
[code]
Notice that `println!` adds an `&` in front of the arguments. So in the second case, we have `&(ADDRESS/2)`, which gets promoted and then fails during CTFE. And working around this is quite hard actually, you have to write something like `(|| ADRESS)() / 2` to disable promotion.

@oli-obk Why does the last example

[2018-10-06 08:33] kennytm commented on #33417
@seanmonstar No you could refer to it using `<u16 as TryFrom<u8>>::Error` and it is considered a stable name. Witness:

[code]

[code]

The first T3 impl does not cause any error. Only the second T3 impl causes the E0658 "use of unstable library feature" error.

[2018-10-06 08:34] abonander opened #54863 "Proc-macros have no way to determine if their invocation context is `no_std`"
While writing [this response on Reddit](https://www.reddit.com/r/rust/comments/9lu9xo/_/e79ivl0?context=1000) I realized that there's no way for a proc-macro to determine if it's being invoked from `no_std` code and thus should use types from `core` instead of `std`. I'm not sure what this would look like, maybe a free function in `proc_macro`.

cc @dtolnay

[2018-10-06 08:40] abonander commented on #54863
I guess the proc-macro crate can use the same strategy as regular crates and just have an `std` default Cargo feature. However, since I think we have this information available at expansion time we should still provide it somehow.

[2018-10-06 09:38] killercup commented on #43466
@SergioBenitez, have you tried adding a `docs` feature to the `rocket` lib that you set when building docs and that enables an optional dependency on `rocket_contrib`?

(Sorry to respond here without having followed this issue or impl much!)

[2018-10-06 10:08] Nemo157 commented on #43466
This will cause issues with the docs when built outside the workspace, e.g. when someone runs `cargo doc -p rocket --open` to get locally built docs in their project. Changing `RUSTDOC_FLAGS` or having an optional feature has similar problems.

[Earlier](https://github.com/rust-lang/rust/issues/43466#issuecomment-378144578) I suggested including `dev-dependencies` during doc builds to solve the sa

[2018-10-06 10:13] pietroalbini commented on #54206
RLS on windows-gnu will be available again on Rust 1.29.2, which is scheduled to be released next Thursday. You can try the pre-release with:

[code]

Can you check if the pre-release fixes the bug for you? Thanks!

[2018-10-06 11:34] dhardy commented on #35896
Could I please request some transparency on what exactly is implemented by this "tracking issue" and what continued plans there are related to [RFC 1561](https://github.com/rust-lang/rfcs/pull/1561)?

My understanding of the process is that a tracking issue is not a place for discussion of how new features work (other than internal details), however I see a *lot* of discussion here of what exactly

[2018-10-06 11:37] rkruppe commented on #54857
cc @rust-lang/wg-unsafe-code-guidelines

[2018-10-06 13:09] SergioBenitez commented on #43466
@killercup I considered that, but unfortunately that would introduce a cyclic dependency.

@Nemo157 I instinctively tried that - placing the dependency in `[dev-dependencies]` - actually. Although I secretly hoped it didn't work as I really don't want to build/check `contrib` when working on `core`. A special `doc-dependencies` section would resolve this particular issue if it allowed cyclic depen

[2018-10-06 13:35] leonardo-m opened #54867 "Fast algorithm for u128 (and i128) divided by small constant"
This is an enhancement request. While u16, u32 and u64 numbers get divided by a small constant divisor using a fast algorithm, the same isn't true for u128 numbers:

[code]

Generate asm (with -O):

[code]

The faster algorithm is short enough and it could be added to rustc:

http://ridiculousfish.com/blog/posts/labor-of-division-episode-i.html
http://ridiculousfish.com/blog/posts/labor-of-divisio

[2018-10-06 14:08] leonardo-m opened #54868 "Division by nonzero"
Rustc seems unable to use the fact that NonZeroU64 isn't zero:

[code]

Gives the asm (with -O):

[code]

Adding an assume() solves the problem:

[code]

Perhaps such assume() should be added at the end of NonZeroU64::get()?

[2018-10-06 17:03] nagisa commented on #54867
No point in doing it in rustc, if it should be done in LLVM.

[2018-10-06 17:29] alexcrichton commented on #47115
Ok great! @SimonSapin can you `@rfcbot resolve panicking` ?

[2018-10-06 17:47] michaelwoerister opened #54872 "Consider building libstd with codegen-units=1 for release artifacts"
The main reason I'd like to have this is because it would allow fat-LTO'ed staticlibs to be used as input for LLD-based ThinLTO (which is something that Firefox might want to do, if it brings performance wins). It might also improve runtime performance of _all_ Rust programs without incurring as much of a CI cycle time penalty as building everything with `-Ccodegen-units=1` would.

cc @rust-lang/r

[2018-10-06 17:58] Mark-Simulacrum commented on #54872
To clarify, this is *just* std? Or would we want std and its dependencies? It does seem plausible that std being built in this fashion would fit into the window of time we have, cc @alexcrichton @rust-lang/infra

[2018-10-06 18:29] seanmonstar commented on #33417
That's.... Wow, just asking to be bitten >_<

I personally use the trick of making a type public in a non-exported module to return unnameable types, and while someone doing what you said would mean breakage if they did that, my feelings are "shame on them", and don't consider adjusting the unnameable type as breaking.

[2018-10-06 18:33] sinesc opened #54874 "rustc 1.30 beta 12 incremental compilation hangs on win 7"
I'm seeing frequent rustc freezes (0% CPU) with incremental compilation enabled on Windows 7. This happens about every 2nd or 3rd build attempt. Once this happens (and after killing the frozen rustc), any further attempts hang forever as well (i.e. I waited 5 minutes). `cargo clean` resolves the issue until it happens again a few builds later, setting CARGO_INCREMENTAL=0 appears to completely prev

[2018-10-06 18:51] arielb1 commented on #54857
So @RalfJung's model successfully performs "optimization chicken" for pointers that come from integers.

What I said was the situation with LLVM was entirely different - it's more of an "LLVM-ABI interface" issue: why do you think there *isn't* a valid 0-sized object at address `0x1`? There's no conflicting thing that LLVM "owns", so we can say that there *is* such an object and LLVM won't object.

[2018-10-06 18:55] bobbobbio commented on #51388
I've discovered that if I tell the compiler to emit another type along with `metadata` like `--emit=link,metadata` this issue goes away. It makes me suspect this piece of code in `librustc/session/config.rs`:

[code]

I'm wondering if by not running the code-gen or linking when outputting the metadata is causing this.

[2018-10-06 19:03] clarcharr commented on #33417
I personally don't mind making sure that every one of these not-really-never enums in libstd is the same, then changing it to a type alias to ! when that becomes stable. Seems reasonable to me.

[2018-10-06 19:27] mnd commented on #50556
I looking at way to make rust 1.27.2 package build reproducible in GuixSD distro and I got same issue. It's constantly happen in `rlib` files that was build for `rustc-1.27.0-src/src/vendor/git2` and `rustc-1.27.0-src/src/vendor/curl`. This issue ends up as non-reproducible cargo binary.

For build used external pre-build llvm 6.0.1 package. llvm 1.26.2 build is reproducible with same configuratio

[2018-10-06 19:41] pip25 opened #54875 "Compiler panic while installing cargo-src on Windows 10"
As per the [documentation](https://crates.io/crates/cargo-src#installing) I've ran
"cargo +nightly install cargo-src"
It consistently produces the following result (with backtrace enabled):

[code]

Small added explanation: I'm running a Hungarian version of Windows; the error message "Nem megfelelő funkció" means "inappropriate function". Not sure if it matters, but since cargo is installed into

[2018-10-06 20:02] pip25 commented on #54875
It seems I've found the cause: my TEMP directory is by default set to an [ImDisk RAM drive](https://sourceforge.net/projects/imdisk-toolkit/). If I change the TEMP/TMP variables to a folder on a normal disk drive, the build succeeds. Strange though, since I've never experienced this kind of compatibility issue with ImDisk with any other Windows tool before, and I've been using this RAM drive for y

[2018-10-06 21:15] petoknm opened #54876 "libcore and f32::{abs, mod_euc}"
Are there plans for moving stuff like this into the core crate? I am doing embedded stuff and currently I would like to use the brand spanking new mod_euc methods for floats and can't.

[code]

I found [this comment](https://github.com/rust-lang/rust/pull/49389#issuecomment-377067213) that just points to an ease of first implementation as the reason for this being in the std crate. Are there any o

[2018-10-06 21:37] petoknm commented on #54876
`.abs()` is also handy to have in no_std environments sometimes
[code]

[2018-10-06 21:38] bstrie opened #54878 "Enable noalias annotations"
This issue tracks the undoing of the `-Zmutable-noalias=no` default introduced in https://github.com/rust-lang/rust/pull/54639 on account of a bug in LLVM. cc @nagisa

([Deja vu?](https://github.com/rust-lang/rust/issues/31681))

[2018-10-06 21:52] samayo commented on #44787
Why are these things never mentioned in the docs?? Does just expect developers to waste 2 hours to make anything work?

[2018-10-06 22:16] michaelwoerister commented on #54872
Everything from `libcore` to `libstd`.

[2018-10-06 22:20] AmjadHD opened #54879 "feature request: String::from("...") => d"...""
It is common to use dynamic `String`s but using `String::From("...")` or `"...".to_string()` can get tedious, so it'll be more productive to write a string litteral `d"..."` instead. It's more productive, removes the apparent distance between both types of strings and it's syntactically sweeter.

[2018-10-06 22:28] jolson88 commented on #51574
With the merge, it's unclear to me whether this is an older issue that needs closing, or if there is more work to do. A quick search seems to show the following occurences still:
- `MalformedForCodemap` and `MalformedCodemapPositions` in `src/libsyntax_pos/lib.rs` and `src/libsyntax/source_map.rs`
- `pub use self::caching_codemap_view::CachingSourceMapView` in `src/librustc/ich/mod.rs`
- `StableFi

[2018-10-06 23:06] Centril commented on #54879
To make this change, [an RFC needs to be written](https://github.com/rust-lang/rfcs) but I would first recommend getting some feedback about the idea at [the internals forum](http://internals.rust-lang.org/) before writing an RFC.

[2018-10-06 23:07] Centril commented on #54876
I would suggest writing up a PR; if it can be in libcore I see no reason why it shouldn't.

[2018-10-06 23:17] Centril commented on #54849
I tried the following:
[code]
but the compiler wasn't too happy with that either; this could all be a bug?

[2018-10-06 23:27] dtolnay opened #54880 "Syntactically invalid JSON from `-Z ast-json`"
The JSON emitted for the following AST is not legal JSON.

[code]

To reproduce:

[code]

With indentation added, part of the JSON output looks like this. The problem is with the last `,` in this snippet.

[code]

[2018-10-06 23:28] rkruppe commented on #54828
By "unit type" do you mean `struct Foo;`? I'd say no, `must_use` on user-defined types is always potentially sensible, e.g. ZSTs can be used as tokens for something that the caller should not usually forget to do.

[2018-10-06 23:33] Centril commented on #54828
@rkruppe I mean any [terminal object](https://en.wikipedia.org/wiki/Initial_and_terminal_objects) in the category of Rust types, so `struct Foo;`, `((), ())`, `enum Foo { Bar }`, and so on.

[2018-10-06 23:45] petoknm commented on #54876
Seems like this exact issue is already being discussed in:
 - https://github.com/rust-lang/rust/pull/49896
 - https://github.com/rust-lang/rust/issues/50145
 - https://github.com/rust-lang/rfcs/issues/2505

[2018-10-06 23:45] #54876 closed

[2018-10-06 23:55] abonander commented on #54828
I would say an explicit `()` and any arity of tuple that's all `()`.

[2018-10-06 23:58] dtolnay commented on #54880
https://github.com/rust-lang/rust/blob/4efdc04a5d687fce7a63ca339e5c74d8c51e40d2/src/libsyntax/parse/token.rs#L755-L765

[2018-10-06 23:59] Centril commented on #54828
@abonander including recursively? e.g `((), ((), ()))`

[2018-10-07 00:03] abonander commented on #54828
Probably, because those types typically don't have any meaning or semantics that can be added to them by the user. I guess it's possible with extension traits but that's going to be a very weird corner case.

[2018-10-07 00:07] abonander commented on #54828
Like @rkruppe said, custom ZSTs can have semantics attached to them so I don't think it's good to warn on `#[must_use]` for those.

[2018-10-07 00:08] rkruppe commented on #54828
I was skeptical about linting even () but forgetting to fill in the return type is at least a plausible scenario where such a lint could help. Going any further does not seem likely to help anyone in any scenario. Types like ((), ()) are rarely even constructed much less written in function signatures.

[2018-10-07 00:11] rkruppe commented on #54828
In other words I do not think lints should be designed to maximize their theoretical precision or be worded as generally as possible. They should be helpful and simple. Linting `must_use` functions that have the canonical "no return value" return type is both.

[2018-10-07 00:16] abonander commented on #54828
Yeah I can agree with that. It definitely makes it easier to implement so it keeps it as a good mentoring issue.

[2018-10-07 00:28] Centril commented on #54828
@abonander

I was saying the opposite of that; i.e. that when you write `#[must_use]` on *any* function then a warning should be emitted irrespective of type, i.e. including `#[must_use] fn foo() {...}`.

[2018-10-07 00:37] abonander commented on #54828
@Centril ah, you mean the `unused_must_use` warning should be emitted even if the function has no return type. You neglected to mention which warning you were talking about and we've been talking about the `unused_attributes` warning. That's what I was confused about.

[2018-10-07 01:09] zackmdavis commented on #54828
Well, they're not unrelated (to put it mildly): you would want `unused-attributes` to fire on functions with  `#[must_use]` exactly when the `#[must_use]` attribute doesn't do anything because of the function's return type. [As I mentioned upthread](https://github.com/rust-lang/rust/issues/54828#issuecomment-427246100), currently, those return types are `()`, `!`, and the empty enum:

https://gith

[2018-10-07 01:29] Centril commented on #54828
@abonander except for `!` and the empty enum.

As @zackmdavis I'm suggesting that if the `#[must_use]` annotation has no effect, then a warning should be emitted. But *a way* to achieve that is for `#[must_use] fn foo() {}` have an effect. The other way is for `#[must_use] fn foo() {}` to trigger `unused_attributes`.

[2018-10-07 02:35] memoryruins commented on #28796
[code]
is no long a panic on stable/nightly 2015/2018
[code]
#53575

[2018-10-07 02:45] Centril opened #54881 "Tracking issue for RFC 2539, "#[cfg_attr] expanding to multiple attributes""
This is a tracking issue for the RFC "`#[cfg_attr]` expanding to multiple attributes" (rust-lang/rfcs#2539).

**Steps:**

- [x] Implement the RFC (@Havvy is doing this)
- [x] Adjust documentation (issue filed against https://github.com/rust-lang-nursery/reference/issues/500)
- [x] Stabilization PR (merged, https://github.com/rust-lang/rust/pull/57332)
- [ ] Fix the lint: https://github.com/rust-la

[2018-10-07 02:46] Centril commented on #54881
Implementation in #54862

[2018-10-07 02:54] Centril opened #54882 "Tracking issue for RFC 2412, "The optimize attribute""
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/54882)*

This is a tracking issue for the RFC "The optimize attribute" (rust-lang/rfcs#2412).

**Steps:**

- [x] Implement the RFC. Partially done, see https://github.com/rust-lang/rust/issues/54882#issuecomment-457824508.
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilizat

[2018-10-07 02:56] Centril commented on #54882
@nagisa I've added all unresolved questions from the RFC for completeness; the first 2 may already be resolved, if you feel that's the case; tick the boxes.

[2018-10-07 03:07] #54556 closed

[2018-10-07 03:10] Centril opened #54883 "Tracking issue for RFC 2535, 2530, 2175, "Or patterns, i.e `Foo(Bar(x) | Baz(x))`""
This is a tracking issue for the RFC "Or patterns, i.e `Foo(Bar(x) | Baz(x))`" (rust-lang/rfcs#2535).

This issue also tracks the changes in rust-lang/rfcs#2175 and rust-lang/rfcs#2530 since RFC 2535 subsume those.

**Steps:**

- [x] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Polish the implementation
- [x] Dogfood or-patterns in the compiler an

[2018-10-07 03:13] Centril commented on #48215
I'm closing this issue in favor of https://github.com/rust-lang/rust/issues/54883 to track all those changes since https://github.com/rust-lang/rfcs/pull/2535 subsumes RFC 2175.

[2018-10-07 03:13] #48215 closed

[2018-10-07 03:17] Centril commented on #54883
I've closed https://github.com/rust-lang/rust/issues/48215 in favor of this issue to track all related changes since https://github.com/rust-lang/rfcs/pull/2535 subsumes RFC 2175.

I would suggest that `#![feature(or_patterns)]` should imply `#![feature(if_while_or_patterns)]` and then we will eventually stabilize both gates if/once we stabilize `or_patterns`.

[2018-10-07 03:29] Centril commented on #44495
@Nokel81 would you be willing to write up a stabilization PR?

[2018-10-07 03:31] zackmdavis commented on #54828
Unfortunately, this turns out to not be easy because the function signature gives us `hir::Ty`, whereas the UnusedResults pass is looking for a `ty::Ty`. :broken_heart: :crying_cat_face:

PR forthcoming anyway.

[2018-10-07 03:50] Nokel81 commented on #44495
Sure, however, there was a little discussion on the level. Shall I go with what was proposed in the merge by you (that is `Warn` instead of `Deny`)

[2018-10-07 03:55] Centril commented on #44495
@Nokel81 what was proposed in the FCP merge proposal; that is: `Warn`.

[2018-10-07 04:32] kwanyyoss commented on #21114
I am confused.  I thought the behavior of "ends_with_if_else" is the good one.

I added "let ret = ..." to the last statements and ended with a naked "ret" as returned value from both "ends_with_tail" and "ends_with_if_else".  The behavior of the new forms looks completely correct to me: [Playground](https://play.rust-lang.org/?gist=ebb66645915d73bbe12b81e5bac5e122&version=nightly&mode=debug&editi

[2018-10-07 04:39] retep998 commented on #44787
@samayo The book [mentions](https://doc.rust-lang.org/book/2018-edition/ch01-01-installation.html#installing-rustup-on-windows) that you have to install Visual C++ and rustup will even yell at you if you haven't installed Visual C++. We always want to improve the documentation so if you can point out a place where you think it should be mentioned and isn't, then we'd be glad to fix that.

[2018-10-07 05:41] #54135 closed

[2018-10-07 05:43] Centril commented on #48594
@SergioBenitez could you elaborate on http://rocket.rs/ 's usage of `label_break_value` and your views on stabilization?

[2018-10-07 05:56] SergioBenitez commented on #48594
@Centril Sure! Here's the gist:

[code]

Using this feature, I avoid:

  * Splitting the block out into a different function for early "returns".
  * Adding `Transform::Borrowed` to every "return" value in the block.
  * Possible incorrectness if a different `Transform` is returned in different cases.
    -  Note: This is an invariant for this particular piece of code.

I was pretty happy to see t

[2018-10-07 06:02] strake opened #54886 "Define `fn [_]::try_split_at(&self, usize) -> Option<(&Self, &Self)>`"

[2018-10-07 06:04] Centril commented on #48594
@SergioBenitez Thanks! I wonder if you could (eventually) rewrite this with `try { .. }`? Like so:

[code]

[2018-10-07 06:05] strake commented on #54886
PR #54887

[2018-10-07 06:29] SergioBenitez commented on #48594
@Centril Yeah, that would work as long as there's only one success path.

[2018-10-07 06:58] mikeyhew commented on #46152
If you replace `#[repr(packed)]` with `#[repr(C)]` this ICEs again

[2018-10-07 07:10] mikeyhew opened #54888 "ICE during codegen of unsize coercion on `#[repr(C)]` struct"
Very similar to #46152. I ran into this while creating a test case for PR #54383.

[code]

[2018-10-07 07:31] jens1o commented on #27709
Why is this still unstable?

[2018-10-07 08:01] varkor commented on #54828
I'd rather functions returning `()` would be handled by `#[must_use]` just like any other type. Uninhabited types are irrelevant to the warning, but the current check is wrong and should apply to any uninhabited types: not just `!` and empty enums.

[2018-10-07 09:08] RalfJung commented on #54857
I am not sure what exactly you mean by "optimization chicken". However:

* Your argument, if I understood it correctly, only applies to doing `offset(0)` on an integer pointer. According to @jturner314's analysis, we are also doing this with a non-zero offset.

* Your argument assumes that LLVM accepts 0-sized allocations as existing. I see no reason to assume that is the case.

---

Pointer compa

[2018-10-07 09:36] fenhl opened #54889 "Implement Try for ExitStatus"
It would be useful if `std::process::ExitStatus` implemented `std::ops::Try`. This could reduce boilerplate code where multiple `Command`s need to be spawned and checked.

Open question: What's a good error type? `ExitStatus` itself already contains all the relevant error information from the command, but being able to return a result of `Err(ExitStatus::from_code(0))` would be weird. (Thanks @sco

[2018-10-07 09:42] PramodBisht commented on #52717
@estebank could you share sample code to exactly reproduce above diagnostic?

[2018-10-07 09:59] SimonSapin opened #54890 "Tracking issue for std::sync::Once::is_completed"
Implemented in #53027

[2018-10-07 10:47] Centril commented on #12166
I'm reopening this and closing the issue on the RFCs repo since this is a diagnostics issue and doesn't require an RFC afaik.

cc @rust-lang/compiler

[2018-10-07 10:54] nagisa commented on #54890
The documentation needs to be made slightly more strict.

For example:

Should be replaced with

The distinction is important, because at the exact moment this function returns `Once` might already be executed/resolved, without it necessarily happening “immediately after”.

---

To avoid people shotgunning their feet off, I would suggest to add some guidance on how this should be used. For example

[2018-10-07 11:01] nagisa commented on #54878
I’m still working on figuring out the underlying issue. The interesting ticket is https://github.com/rust-lang/rust/issues/54462.

[2018-10-07 11:02] SimonSapin commented on #54890
CC @matklad for nagisa’s comment above.

[2018-10-07 11:11] #24338 closed

[2018-10-07 11:11] #28134 closed

[2018-10-07 11:11] #29743 closed

[2018-10-07 11:14] Centril opened #54892 "Tracking issue for "Create safe LLVM bindings""
Refiling https://github.com/rust-lang/rfcs/issues/644 here.

cc https://github.com/rust-lang/rust/pull/52461

[2018-10-07 11:32] AmjadHD commented on #54879
Ok, Done.

[2018-10-07 11:34] RalfJung commented on #54709
@rust-lang/lang I think there is a decision to be made here.

The problem is that there are some values that are safe but not const-safe (using the terminology from my [blog post](https://www.ralfj.de/blog/2018/07/19/const.html)). Namely, `&0 as *const _ as usize` is a perfectly fine and safe `usize` at run-time, but not so at compile-time because there are integer operations that we cannot perfor

[2018-10-07 11:36] #54879 closed

[2018-10-07 11:57] Centril opened #54894 "Crawl doc.rust-lang.org for dead links on a regular basis"
Refiling from https://github.com/rust-lang/rfcs/issues/669.

[2018-10-07 12:08] SimonSapin commented on #48043
Firefox needs `try_reserve` badly enough that they forked `Vec` and `HashMap` over it. It’d be nice to stabilize.

Some of the discussion above is about `oom=panic` whose tracking has moved to https://github.com/rust-lang/rust/issues/43596. This leaves two unresolved question:

* Whether `CollectionAllocErr` should gain a type parameter, with the `AllocErr` variant holding a value of that type, in

[2018-10-07 12:39] rkarp commented on #54844
This looks like another duplicate of #24159.

[2018-10-07 12:44] RalfJung commented on #54844
It does indeed, thanks! Closing this.

[2018-10-07 12:44] #54844 closed

[2018-10-07 13:07] ubnt-intrepid opened #54895 "ICE when using anonymization in impl Trait with HRTB"
I tried this code:

[code]

It uses the anonymization of associated type inside of impl Trait in return type position.
The compiler reports an ICE as follows:

[code]

## Meta

`rustc --version --verbose`:

[code]
<details>
<summary>backtrace:</summary>

[code]
</details>

[2018-10-07 13:09] nagisa commented on #54882
Marking as resolved just because these never came up during the RFC discussion, especially since the attribute design does not prohibit adding these as a feature later on.

---

I’m assigning myself for now as I intend to implement this. Failing to dedicate time for this within two or so weeks I pledge to write up some instructions.

[2018-10-07 13:11] rkarp commented on #54375
This is another duplicate of #24159, which I know all too well by now. Here's how to fix your first example:

[Playground Link](https://play.rust-lang.org/?gist=8c5de39349361a641a1c493ab9e8fa1d&version=stable&mode=debug&edition=2015)

[2018-10-07 13:33] Centril commented on #54894
(I have no idea; I'm pulling a massive triage effort to get rid of issues on https://github.com/rust-lang/rfcs)

[2018-10-07 13:37] #54719 closed

[2018-10-07 13:45] phil-opp opened #54896 "The #[panic_handler] attribute can be applied to non-functions"
It's possible to apply the `panic_handler` attribute to an `extern crate` statement without errror:

[code]

It only causes a linker error:

[code]

(When the `panic_handler` attribute is not defined there is a much better "`#[panic_handler]` function required, but not found" error. There is also a nice error when the function signature is wrong. But it seems like the above case is not handled.)

[2018-10-07 14:17] alexreg commented on #48055
`[T; dyn expr]` makes sense to me, for the reason you suggest.

[2018-10-07 14:36] twirrim opened #54897 "'internal error: entered unreachable code', librustc_target/spec/mod.rs:1204:57"
This could be down to something with lolbench, but when compiling lolbench on Raspberry Pi3 running Ubuntu 18.04 armv7, I ran in to an issue compiling "proc-macro-hack-impl"

I tried this code:

Git clone'd lolbench.  This commit is at HEAD:
https://github.com/anp/lolbench/tree/e9c210057229bb41eb19b335ff314b54155693c4

ran cargo test-core

Eventually it panics:
[code]

I tried starting a new cargo

[2018-10-07 14:40] Centril opened #54898 "Use the "efficient "pivot pointer" scheme" for Rc<Trait>"
Refiling what remains of https://github.com/rust-lang/rfcs/issues/981 here...

This might already be done... but @eddyb wrote:

Maybe a sepparate issue should be opened for that.

[2018-10-07 14:44] RalfJung commented on #54768
Wait, `RefUnwindSafe` is about immutable access, but `UnwindSafe` is not. Am I missing something?

[2018-10-07 14:46] jens1o commented on #27709
No, take your time. :) I'm terribly sorry for pressing hard, I just wondered, by no means did I want to attack you and your work. My laptop is too weak to test out the changes.

[2018-10-07 15:10] Diggsey commented on #54768
Sorry, that should have read `RefUnwindSafe` - I've corrected it now. The point is that no bound on `antidote::Mutex` can be sufficient, because the `antidote::MutexGuard` gives out `&mut T` when locked, and `&mut T` is supposed to be `!UnwindSafe` regardless of the bounds on `T`.

[2018-10-07 15:37] tbu- commented on #54894
Moved to the RFC repo with the following comment: :D

Original issue is #20827, maybe you could reopen that. :)

[2018-10-07 15:39] Centril commented on #54894
I intentionally opened a new issue to make it visible.

[2018-10-07 15:39] tbu- commented on #54892
#8274

[2018-10-07 16:02] phil-opp commented on #38281
Instead of defining a lang item, the [`panic_implementation` attribute](https://github.com/rust-lang/rust/pull/50338) was implemented, which was later [stabilized as `panic_handler`](https://github.com/rust-lang/rust/pull/51366). For some time, the `rust_begin_unwind` issue [still existed](https://github.com/rust-lang/rust/issues/51342) with the `panic_implementation` attribute, but it was fixed b

[2018-10-07 16:02] #38281 closed

[2018-10-07 16:27] Diggsey commented on #51402
@withoutboats actually, it is possible if you use an additional trait:

https://play.rust-lang.org/?gist=57cfbdb5361482707ed70246d5156a65&version=nightly&mode=debug&edition=2018

[2018-10-07 16:40] Mark-Simulacrum commented on #54479
There's also a number of other packages that regressed because of this (around 10) but the fixes should all be trivial so I agree with the resolution here.

[2018-10-07 16:43] Mark-Simulacrum commented on #54364
Triage finished. No new "classes" of regressions found; but it would be good to do another run once backports/fixes land for the remaining issues (probably ~Tuesday).

[2018-10-07 16:59] Centril commented on #54896
cc @japaric

[2018-10-07 18:09] Ericson2314 commented on #48043
@SimonSapin Yes if things were done my way Firefox wouldn't be `try_reserv`ing or `reserv`ing at all, but just fallibly allocate the memory they need when they need it. That's much simpler and more robust.

(There's also the more minor quibble that under the simplest version of my plan, the `Self` types are different and `try_reseve` wouldn't be callable for the regular infallible collections. But

[2018-10-07 18:52] SimonSapin commented on #48043
Right, `try_insert` for example would be preferable to `try_reserve` + `insert`, but it doesn’t exist yet. You know as well as I do that large changes or additions are harder to get through the process, https://github.com/rust-lang/rfcs/pull/2116 was designed deliberately to be minimal.

It’s not about who gets candy first. RFC 2116 was submitted 14 months ago and accepted 8 months ago. The `try_r

[2018-10-07 19:06] Ericson2314 commented on #48043
Well it sounds like we are in something closer to agreement than usual. :)

The code has been written and if I recall correctly works (there was one ancillary issue with trying to make default impls work well, but it is not fundamental and I believe I found a workaround beyond just requiring more boilerplate). It just needs to be read and debated.

[2018-10-07 19:45] Centril commented on #51998
@Kerollmops would you be willing to write up a stabilization PR?

[2018-10-07 19:49] Kerollmops commented on #51998
Yes, I will do that !

[2018-10-07 20:41] estebank commented on #12166
There has been a huge push since 1.0 to continue past parse errors and avoiding unnecessary type errors on recovered blocks, but we still have this problem with borrow errors that don't get evaluated until after type checking succeeds. It will be a huge undertaking to enable partial borrow checking with incorrect types, but it would likely be worth it.

[2018-10-07 21:00] estebank commented on #52717
[code]

[2018-10-07 22:00] #54754 closed

[2018-10-07 23:13] kleimkuhler commented on #53485
I have interest in working on this RFC. This would be a significant learning experience for me, but I don't see any reason why I should not be able to complete it.

@gnzlbg If your offer for being available as a mentor is still open, I'd like to take you up on that!

If there is any concern in timeline (I should be able to begin implementing this week) or preference for someone who may have more e

[2018-10-08 00:07] jturner314 commented on #54857
I don't know. I haven't experienced any miscompilation myself; I came across this issue while reading the `libcore`/`liballoc` source code. I submitted this issue in the hope that people more knowledgeable than me about the compiler/LLVM could determine whether or not it's actually undefined behavior. If it is not undefined behavior, then we should update the docs. If it is undefined behavior, the

[2018-10-08 02:14] Seeker14491 opened #54899 "ICE with existential associated type"
The following code causes an ICE:
[code]

[Playground](https://play.rust-lang.org/?gist=ec58ff51b0e5568cba5c3c082fc59157&version=nightly&mode=debug&edition=2015)

Compiler output:

[code]

[2018-10-08 03:05] #14572 closed

[2018-10-08 03:43] earthengine commented on #54895
[You don't need newtype nor a method in the trait](https://play.rust-lang.org/?gist=0081436b7e4ebc86009be2be376b48e7&version=stable&mode=debug&edition=2015):

[code]
This is very much like #53420, except that the error message is different.

[2018-10-08 05:40] #51817 closed

[2018-10-08 05:51] WandyLau opened #54900 "Result::unwrap()` on an `Err` value: ()', libcore/result.rs:945"
panicked at 'called `Result::unwrap()` on an `Err` value: ()', libcore/result.rs:945

This seems an old issue, and I saw the fix. But I still got this issue on Mac with rustc version 1.29.0

[2018-10-08 06:06] dtolnay opened #54901 "Write to #[thread_local] is not respected"
[code]

On rustc 1.31.0-nightly (b2d6ea98b 2018-10-07) and x86_64-unknown-linux-gnu, we see the following surprising behavior:

[code]

In release mode it seems the write has not happened in the place that it should.

Mentioning thread_local tracking issue: [rust-lang/rust#29594](https://github.com/rust-lang/rust/issues/29594).

[2018-10-08 06:13] scottmcm commented on #54889
Note that if the trait redesign from https://github.com/rust-lang/rust/issues/42327#issuecomment-379955253 were to happen, a distinct error type would no longer be needed and thus this would become substantially more reasonable.

[2018-10-08 06:16] scottmcm opened #54902 "Underscore lifetimes are incorrectly accepted as lifetime bounds in impl headers"
This is currently accepted in 2018: https://play.rust-lang.org/?gist=7ba2dee1134f9848b54b7364ea9568aa&version=nightly&edition=2018
[code]
AFAICT, it desugars to
[code]
So it's "fine", but useless.

It should error, as trying to do this does in other places, such as
[code]

Tracking issue for the `impl_header_lifetime_elision` feature: https://github.com/rust-lang/rust/issues/15872

On the current

[2018-10-08 06:17] dtolnay commented on #54901
Ah, apparently this is missing a `mut`. With `mut` the behavior is correct. We need to make sure mutating a thread_local static that does not have `mut` does not compile.

[code]

[code]

[2018-10-08 06:18] dtolnay commented on #29594
@cramertj regarding remaining blockers, I would consider the behavior that @Boiethios reported above needs to be fixed before stabilization. I filed #54901 to follow up.

[2018-10-08 06:56] oli-obk commented on #54709
We should either error on them as we do now, or not lint at all. We should not add a lint to the compiler that we immediately expect to have unfixable false positives.

[2018-10-08 07:43] F001 commented on #54900
This is expected behavior. Please ensure the value of `Result` be not an `Err` when using `unwrap`. You can use `unwrap_or` or `unwrap_or_else` instead, if the panic is not what you want.

[2018-10-08 08:09] gnzlbg commented on #53485
My recommendation is that if you want to implement this now, you should just adapt https://github.com/bluss/rust-itertools/pull/261 .

An efficient implementation of this is probably blocked on https://github.com/rust-lang/rfcs/pull/2492

[2018-10-08 08:38] RalfJung commented on #54709
If we only warn for runtime-bad data -- like a NULL value at reference type -- which unfixable false positives are you thinking of?

[2018-10-08 08:53] oli-obk commented on #54709
For these I don't see the point in warning. If having a runtime local of reference type with `NULL` as its value is UB, why isn't a static once the program runs?

[2018-10-08 08:58] lu-zero opened #54905 "Warn when known types are used as generic placeholders"
Since hardly it is what you want and it leads to funny error messages, [here an example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015):
[code]

[2018-10-08 09:03] lu-zero commented on #54553
Now it does not crash anymore but still produces a spurious error instead of a warning:
[code]

[2018-10-08 09:08] RalfJung commented on #54709
Oh I see, you are saying if the info is any good we should make it a hard error. Makes sense.

[2018-10-08 09:08] Havvy commented on #54553
That isn't spurious. Lint errors can still happen in dead code.

[2018-10-08 09:10] RalfJung commented on #54768
That's true, so `antidote::Mutex` should likely be `!UnwindSafe`. In sequential code, it's not all that different from a `RefCell`.

[2018-10-08 09:20] RalfJung commented on #54857
Ah thanks, I had missed that indeed! I sent a PR to miri to enforce this restriction, and it seems in all the code it tests (which is not terribly much), this holds true.

Exactly.

Well, LLVM is mostly ambiguous about its semantics, so it's hard to say anything. ;)

No, that's not correct! What we call a "logical" pointer in the paper does immediate bounds-checking, even if you offset by 0. So th

[2018-10-08 09:28] pnkfelix commented on #54528
@davidtwco sure I'm happy to take suggestions. The method used in the previous round of reviews ( #52663) was meant to be an improvement on what was done before that (#49862), but I'm not wedded to any particular methodology, as long as I can operate with reasonable efficiency.

In particular, if I happen to follow the methodology from #52663 for expediency's sake (e.g. because I am not familiar w

[2018-10-08 09:39] davidtwco commented on #54528
@pnkfelix In order to use projects, I think we would just need issues. The main issue I found with having one large issue with comments is that it is hard to keep it up to date and know what still needs fixed - if we have issues then they get visited when looking over all the NLL issues and can be closed by PRs.

[2018-10-08 10:00] qnighy commented on #50452
Minimized:

[code]

In the current nightly, changing the order of the items or uncommenting the line will make it compile. The latter behavior is also strange.

[2018-10-08 10:20] Diggsey commented on #54768
@RalfJung except that `antidote::Mutex` is `Sync`, so you could replace your `catch_unwind` with a thread or scoped thread, and pass in an `Arc<antidote::Mutex>`, to get exactly the same behaviour without any unwind safety issues.

[2018-10-08 10:55] RalfJung commented on #54768
Well, yeah. But this then goes back to "what does `UnwindSafe` actually want to guarantee".

[2018-10-08 11:07] lu-zero commented on #54553
It is a surprising behavior compared to other compilers, I wonder where it could be documented and/or if would be acceptable to have an option disable it.

And in any case would be good to always warn about dead code even if here is an error over a lint in it.

[2018-10-08 11:44] qnighy commented on #50452
Ah, this is likely caused by a bug in specialization graph construction. Consider the following specialization graph:

[code]

When we try to construct the graph by adding `I1`, `I2`, and `I3` in this order, the intermediate graph will look like:

[code]

Then the compiler compares `I1` and `I3`. The problem is, after the compiler find out that `I1` specializes `I3`, it will immediately insert `I3

[2018-10-08 11:49] Nemo157 commented on #54239
[Appears to be a generators bug](https://play.rust-lang.org/?gist=4c4c908d246aa3a27afc771831fd36d7&version=nightly&mode=debug&edition=2018), not specific to `async`/`await`:

[code]

[2018-10-08 12:04] pnkfelix commented on #54478
Bisection over nightly builds indicates that bug was injected between nightly-2018-08-06-x86_64-unknown-linux-gnu (73c78734b) and nightly-2018-08-14-x86_64-unknown-linux-gnu (d5a448b3f).

Here are the bors commits from that range:

% git log --author bors 73c78734b..d5a448b3f --format=oneline
d5a448b3f47b22c9cb010198bdcc49d4392b090b Auto merge of #53270 - petrochenkov:macuse-regr, r=alexcrichton
a

[2018-10-08 12:34] oli-obk commented on #54905
Clippy reports

[code]

Adding new warnings to rustc requires an RFC, as such I am going to close this. If the existing clippy lint is not covering your use cases, please don't hesitate to open an issue on the clippy repository

[2018-10-08 12:34] #54905 closed

[2018-10-08 13:03] csmoe commented on #54900
could you provide the back trace from `RUST_BACKTRACE=1` here?

[2018-10-08 14:44] shepmaster opened #54910 "Tracking issue for warning for rust_2018_idioms by default"
`#[warn(rust_2018_idioms)]` is not going to be enabled by default for Rust 2018 because we are taking a conservative stance and we aren't sure about how good the suggestions are yet.

The plan is to enable this lint by default some number of releases / months after Rust 2018 ships.

/cc @Centril @aturon @Mark-Simulacrum

<sup>The initial content of this issue is based on the information @shepmaste

[2018-10-08 15:16] Centril opened #54912 "Tracking issue for RFC 2526, "Support underscores as constant names""
This is a tracking issue for the RFC "Support underscores as constant names" (rust-lang/rfcs#2526).

**Steps:**

- [x] Implement the RFC – https://github.com/rust-lang/rust/pull/55015
- [ ] ~Implement `static _` as well~
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge

[2018-10-08 15:34] petrochenkov commented on #54912
Ugh, seems like a legitimized hack rather than a... well, any of several proper feature to which this can be generalized.

At least this is a very tiny hack.
Implementation strategy is the same as for [`use Trait as _;`](https://github.com/rust-lang/rust/pull/48922).
If we encounter `_` instead of the const name identifier, then we create a gensym for it instead of storing it in AST directly (so t

[2018-10-08 15:40] kleimkuhler commented on #53485
Thanks for the links; it makes sense that a more efficient implementation is blocked on that right now.

To clarify on my initial comment (and what you picked up on in your last sentence), is the "learning" part of this would be more related to familiarizing myself with the API and codebase.

I think an initial implementation based off https://github.com/bluss/rust-itertools/pull/261 could be a go

[2018-10-08 15:41] Centril commented on #54912
Hehe, I agree we should generalize (to patterns) eventually but it seemed that it was much more complex from @eddyb's comments. :)

[2018-10-08 15:59] RalfJung opened #54914 "Run libstd test suite in miri"
We have all these nice `#[test]` functions in libstd (and liballoc and libcore), wouldn't it be great if we could run them all in miri? Maybe even on CI? miri has a small test suite itself that exercises some bits on libstd, and that lets us find things like https://github.com/rust-lang/rust/issues/54908, but it's not very exhaustive and it doesn't seem like a good idea to duplicate all that.

So

[2018-10-08 16:02] alexcrichton commented on #54872
I agree that this has a possibility of making some release-mode Rust programs faster by default as well (as std itself will get more inlining opportunities), although I suspect the number of programs there that get faster is quite small in that almost all perf-sensitive funcitons in libstd are already monomorphized/inlined. I agree though that the amount of time it takes on CI to build libstd/libc

[2018-10-08 16:06] RalfJung opened #54915 "Check alignment of raw pointers in debug mode"
It is UB to `*r` a raw pointer ("dereference", but this includes `&*r`) when that pointer is not aligned to its type. I propose that when compiling in debug mode, we insert a check for this to emit a panic when the pointer is not sufficiently aligned. That would essentially be the "big brother" of https://github.com/rust-lang/rust/pull/52972, and the cousin of https://github.com/rust-lang/rust/iss

[2018-10-08 16:40] RalfJung commented on #54697
The clippy fix has landed in rustc. RLS also has a fix at https://github.com/rust-lang-nursery/rls/pull/1074. What would it take to get that into rustc?

[2018-10-08 16:42] Mark-Simulacrum commented on #54914
Is there some level of general idea what would need to be done for this? I think a list of a few "starter" steps might be good here -- I get the impression this might not be actually too hard?

Basically I think as-is this is fairly unlikely to happen because issues like this tend to languish unfortunately -- but getting a few starter steps together should help immensely.

[2018-10-08 16:47] matthiaskrgr commented on #54697
Needs submodule update, I can do that this afternoon

[2018-10-08 16:53] RalfJung commented on #54914
The problem is I have no idea what it takes.^^ I'd start by trying to run `cargo miri test` on libstd, seeing why that doesn't work and going from there. Probably taking some inspiration from xargo for how to use cargo to build libstd. But figuring out what it takes is probably the most time-consuming part here, and I don't think I'll have time for that soon.

If you think that's too vague to be t

[2018-10-08 17:00] Mark-Simulacrum commented on #54914
I think even that much is a good starting point for this - thanks!

[2018-10-08 17:05] xrl commented on #51353
I am playing around with future streams with tokio-async-await shim and I'm seeing a similar error. Maybe this example is useful as well?

[code]

results in

[code]

if I comment out the inner async work code:

[code]

then I don't get the ICE. should I be cloning something to workaround this bug?

[2018-10-08 17:16] dtolnay commented on #54900
If this is happening in user code, this is the documented behavior of Result::unwrap:
https://doc.rust-lang.org/std/result/enum.Result.html#method.unwrap

[code]

[code]

If this is happening in the compiler while compiling a crate, please post a minimal source file that reproduces the problem along with the output of `RUST_BACKTRACE=1 cargo build`.

[2018-10-08 17:16] #54900 closed

[2018-10-08 17:29] dtolnay commented on #54849
I would expect @steveklabnik's code not to compile for the same reason that this code does not compile. It is ambiguous which `A<T>`'s associated constant is being referred to.

[code]

@Centril's code should compile but this is being tracked in https://github.com/rust-lang/rust/issues/43408.

[2018-10-08 17:29] #54849 closed

[2018-10-08 17:29] piscisaureus commented on #54800
I wasn't suggesting to always return `Error::NotFound` regardless of what the problem is.
But when the `from` file doesn't exist, `Error::NotFound` seems pretty reasonable, right?

Mapping the OS error is definitely better than this.
It's also not a fast "fast path", since this requires an extra syscall.

[2018-10-08 17:31] alexcrichton commented on #48043
@SimonSapin it's been awhile since I took a look at this, but is the idea that (in the long run) every fallible method on a collection returns `CollectionAllocErr<T>` and the `T` is specialized per-method to be the "most appropriate"? In the meantime, though, we're only thinking of the `try_reserve` methods which would effectively return `CollectionAllocErr<()>` and you're thinking that we can add

[2018-10-08 18:07] dhardy commented on #48416
By my reckoning the meeting should be now?

[2018-10-08 18:15] varkor commented on #54828
This is my diagnosis of the issue:
- `()`, `!` and empty `enum`s are special cased here so that the `#![deny(unused_results)]` lint wouldn't fire in cases that don't really make sense for it to fire (https://github.com/rust-lang/rust/issues/43806).
- `#[must_use]` uses the same method to detect unused results, so the same types end up getting special-cased, unintentionally.
- Therefore, we should

[2018-10-08 18:18] Centril commented on #54828
Per @varkor's notes re. bug-fix I've relabeled to T-compiler instead.

[2018-10-08 18:24] SimonSapin commented on #48043
Oh, I forgot that `AllocErr` was not stable yet. I’m fine with changing `CollectionAllocErr` to an opaque type for now. (A struct with a private field, to leave us more options later.) Even zero-size, though I’d still prefer `Result<(), _>` over `bool` even if they are semantically equivalent.

At the moment I don’t really have an opinion on whether `CollectionAllocErr` should have a type paramete

[2018-10-08 19:12] Ericson2314 commented on #48043
@alexcrichton So in https://github.com/rust-lang/rust/pull/52420/files I did make a `CollectionAllocErr`, but that's not really the important part, the associated error type (which would be the parameter) is.

Honestly, I'm not even sure `CollectionAllocErr` is worth it. It creates two axis with the associated type: do we hide allocation errors, and do we hide size errors? I can't imagine a case w

[2018-10-08 19:13] alexcrichton commented on #35896
@dhardy unfortunately the transparency here is all written down, but it takes some effort to sift through it. What's stabilized here is [described online](https://internals.rust-lang.org/t/help-stabilize-a-subset-of-macros-2-0/7252) and further tracking issues track remaining work items for known unstable items in the compiler. Work that hasn't ever been implemented from the original RFC doesn't c

[2018-10-08 19:29] varkor commented on #54376
Fixed by https://github.com/rust-lang/rust/pull/54568.

[2018-10-08 19:29] #54376 closed

[2018-10-08 19:40] varkor opened #54918 "[E0668] Malformed inline assembly when building rustc"
When running `./x.py build --stage 1`, I now get the error:
[code]
I'm on macOS 10.12.6. This error was added recently (https://github.com/rust-lang/rust/pull/54568), but it suggests there's been a problem for longer.

[2018-10-08 19:59] arielb1 commented on #54857
assume that is the case.

I don't think LLVM semantics are defined enough to decide whether it is the case or not. From what I know about LLVM optimizations, LLVM does handle 0-sized allocations.

The code dereferences the `&()` to force the allocation to be valid. This doesn't emit any LLVM IR today, but it could.

If zero-sized allocations can't overlap with stack addresses, there's no valid exe

[2018-10-08 20:00] varkor commented on #54918
And here:
[code]

[2018-10-08 20:14] varkor commented on #54828
I've submitted https://github.com/rust-lang/rust/pull/54920 with what I think is the right fix here.

[2018-10-08 20:53] michaelwoerister commented on #54872
@alexcrichton The problem is just that we run into a form of https://github.com/rust-lang/rust/issues/53912 with a ThinLTO'd libstd because some symbols in there have gone through the ThinLTO mangling before LLD does it a second time. The problem could also be solved by doing some kind of fix-up pass on the IR before emitting it into the staticlib.

[2018-10-08 21:35] pnkfelix commented on #21232
Assigning to @spastorino; they are going to drive the initial effort on making it an error, for the short-term, to write to a field of a struct if that whole struct has not be already initialized.

Once that is done, we should either leave this issue open and assign it to someone working on the longer term project for supporting partial-assignments of uninitialized records, or close this issue and

[2018-10-08 21:56] alexcrichton commented on #54872
Ah ok, makes sense!

We've already got [a smattering of weird patches](https://github.com/rust-lang/rust/blob/423d8109868c1f926f2cfcc3bff980c3daa515fd/src/librustc_codegen_llvm/back/lto.rs#L827-L858) of "randomly patching LLVM IR" to avoid bugs in LLVM so shouldn't be too hard to add another!

[2018-10-08 22:07] michaelwoerister commented on #54872
Yes, such a pass will probably be the more stable option in the long run.

[2018-10-09 00:09] jasonwilliams commented on #29154
I can confirm this works without crashing using rust-lldb.
I installed `rustup component add lldb-preview --toolchain nightly`
Then i set `"lldb.executable": "rust-lldb"` in VSCode now all works

[2018-10-09 01:08] Centril opened #54923 "Refiled: "Rustfmt/pretty-print types in error messages""
Refiling...

https://github.com/rust-lang/rfcs/issues/2358

[2018-10-09 01:37] shepmaster commented on #52963
By taking in an array, you are statically guaranteed that there's enough data to make the transformation — you don't have to even allow for the error case.

With `TryFrom` / `TryInto`, it's not that bad:

[code]

[2018-10-09 02:00] gamozolabs commented on #52963
Yeah, I agree, but it seems that a slice is just a superset of the abilities of an array.

While I agree it's cleaner and makes more sense in a standalone implementation, I don't know of many situations where I'm dealing with something I need to convert into a number did not come from a bigger vector or slice. At least for me I don't ever see using this functionality without using a wrapper of the

[2018-10-09 05:41] WandyLau commented on #54900
OK. Sorry for the late reply due to the time zone. This comes from client code. a project named indy-sdk. Any clue will be appreciated. Thanks in advance.

thread 'commands::wallet::tests::open::open_works_for_twice' panicked at 'called `Result::unwrap()` on an `Err` value: ()', libcore/result.rs:945:5
stack backtrace:
   0:        0x10d958aaf - std::sys::unix::backtrace::tracing::imp::unwind_back

[2018-10-09 07:27] RalfJung commented on #54915
Good point. We have something similar for integer overflow, don't we?

Tons of them, but which have a good perf-benefit trade-off? Also note that this wouldn't reliably verify the alignment invariant, one can still `mem::transmute` or use a union or cast pointer types around to get an underaligned (or NULL) reference. It's not a perfect check (unlike what we can do e.g. in miri), but it's useful.

[2018-10-09 08:15] japaric commented on #54896
I'm very busy this week and probably won't have time to look at this until next Wednesday but if someone wants to take a stab at this I would look for the logic used by `#[global_allocator]`: that attribute gives you `"error: allocators must be statics"` when applied to non-static items.

[2018-10-09 08:30] richardwhiuk commented on #46016
In the short term you can do:

[code]

[2018-10-09 08:35] SimonSapin commented on #52963
As shepmaster suggested, what does an API taking a slice do if the input is too short? Too long? Does it panic, or ignore extra items, or do we change the return type to a `Result`? Taking an array avoids this question, and the concerns of how to obtain that array can be separated and left to other APIs like `TryFrom`.

In my opinion the main goal of this API is to replace some unsafe calls to `tr

[2018-10-09 08:44] Havvy opened #54926 "Better error message using byte string where only regular strings are allowed in attributes"
The error message shows the code that matters.

[code]

It should probably suggest removing the `b`. Likewise if using single quotes, it should suggest using double quotes. Both should also be machine applicable. Raw strings are allowed, so nothing needs to be done with them.

[2018-10-09 08:49] mitsuhiko commented on #44431
Is there a specific reason this could not use `string::ParseError`? This would be really nice to have and it seems like `!` stabilization is quite far off.

[2018-10-09 08:57] calixteman opened #54927 "Path::ancestors can contain empty path"
With the following code
[code]
I'd expect to have the last assertion being ok but it isn't since this "ancestors.next()" is in fact Path::new("")

[2018-10-09 09:28] Havvy commented on #54926
It might also be valid to give this an error code and explain it all there.

[2018-10-09 09:52] tuxzz opened #54928 "Iterator of `slice` has poor performance than `for loop`"
[I've made a simple performance test](https://github.com/tuxzz/t.rust-speed-test) ([Playground](https://play.rust-lang.org/?gist=a05bb448060e7634a4a908d12191cf2b&version=nightly&mode=release&edition=2018))

On my machine

|          Test          | Time(s) |
|------------------------|---------|
|       slice_iter       |  0.875  |
|   slice_loop_safe_bad  |  0.519  |
|  slice_loop_safe_good  |  0.

[2018-10-09 09:58] RalfJung commented on #54857
Because why? Could have been allocated by something else. AFAIK the only address that will never be in-bounds is `0x0`.

Or are we now talking about the code in libstd again, and some some unknown code that might make extra assumptions about the platform it is running on? (You seem to jump between talking about different pieces of code, and I have a hard time following.)

This is based on "cannot

[2018-10-09 10:48] phil-opp commented on #34409
@haxxpop You can add a `"panic-strategy": "abort"` key to your target toml and then use [cargo-xbuild](https://github.com/rust-osdev/cargo-xbuild) to recompile libcore etc. for your target.

[2018-10-09 11:20] yshui opened #54930 "rustc crashes if main is wrongly defined by the user"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6373ceb34c1fd2de892861530777d98d

[2018-10-09 11:34] zesterer commented on #54010
I have the same issue. Any update?

[2018-10-09 11:36] pietroalbini commented on #54387
Backported to beta. Closing this.

[2018-10-09 11:36] #54387 closed

[2018-10-09 11:36] pietroalbini commented on #54477
Fixed on beta. Closing this.

[2018-10-09 11:36] #54477 closed

[2018-10-09 11:49] kilork commented on #54206
Actual command for me was (having gnu toolchain already installed):
[code]

Because `RUSTUP_DIST_SERVER=https://dev-static.rust-lang.org rustup update stable` tries first to install msvc for some reason and ignores gnu toolchain.

[2018-10-09 12:18] leonardo-m opened #54931 "Noisy error messages for wrong if let"
This is wrong code, the programmer forgot to add a "let" after the "if":

[code]

rustc 1.31.0-nightly (423d81098 2018-10-08) gives:

[code]

Perhaps rustc could give only one smart error message in this situation?

[2018-10-09 13:08] #54573 closed

[2018-10-09 13:11] SimonSapin commented on #44431
Sounds ok to me. `std::string::ParseError` is already stable (used in another `FromStr` impl) and we’ll need to deal with it somehow anyway, when we figure out the never type situation. @rust-lang/libs, any thoughts?

[2018-10-09 13:19] pnkfelix commented on #21232
Putting on the RC2 milestone. If we're doing this change at all, its gotta land by then IMO.

[2018-10-09 13:49] pnkfelix commented on #54478
Okay I bisected this and identified the bug as being injected by #52993

[2018-10-09 13:53] steveklabnik commented on #54849
I still wonder if the diagnostic can be improved, but I have no concrete suggestions, so let's keep this closed. If anyone has any thoughts, let me know!

[2018-10-09 13:55] mati865 commented on #54206
@pietroalbini @kilork the actual command for Windows GNU toolchain is:
[code]
`stable` defaults to MSVC.

[2018-10-09 14:05] pnkfelix commented on #54478
Adding @alexcrichton to the assignee list in case they have some special insight into how best to address it. (But, as I noted on #52993, I am hoping we can get away with just undoing one small part of that PR, rather than backing out the whole thing, which seems like it might cause more trouble than it would resolve)

[2018-10-09 14:07] pnkfelix commented on #54478
(also, tagging with both T-compiler and T-libs for now, though either team is free to untag the other if they want to take responsibility for resolving this.)

[2018-10-09 14:16] withoutboats opened #54934 "Lifetime inference and Pin"
There appears to be some lifetime inference issue with how `Deref` is implemented for `Pin`, so that I get issues about how the pin does not live long in code that should clearly work. For example, this gives an error about how the pin does not live long enough:

[code]

https://play.rust-lang.org/?gist=5749b0645d17308d62501924e618e49d&version=nightly&mode=debug&edition=2015

cc #49150

[2018-10-09 14:34] nikomatsakis commented on #48895
This is basically done enough for now I think

[2018-10-09 14:34] #48895 closed

[2018-10-09 14:38] nikomatsakis opened #54935 "implement the `ResolventOps` methods for chalk integration"
The methods in the `ResolventOps` trait are currently unimplemented:

https://github.com/rust-lang/rust/blob/e1643a8968753226dab7ab3c9fee826f097550f2/src/librustc_traits/chalk_context.rs#L275-L297

These methods perform various unification-like operations and will need to be implemented in rustc.

[2018-10-09 14:39] nikomatsakis commented on #54935
Another similar case is that the `unify_parameters` method must be implemented:

https://github.com/rust-lang/rust/blob/e1643a8968753226dab7ab3c9fee826f097550f2/src/librustc_traits/chalk_context.rs#L428-L435

[2018-10-09 14:57] sfackler commented on #54010
`cargo test` builds the crate both as a library (for doctests) and as a test executable. You only pull in std for the test executable, so the error message could be coming from building as a library.

[2018-10-09 15:28] alexcrichton commented on #44431
Seems reasonable to me!

[2018-10-09 15:41] zackmdavis commented on #54926
Petrochenkov's technical-debt concern (which I agree with) [also came up in #54683](https://github.com/rust-lang/rust/pull/54683#pullrequestreview-160662636). ~~I think the _non_-filling-the-compiler-with-garbage place to do this would have to be during parsing: perhaps [`parse_unsuffixed_lit`](https://github.com/rust-lang/rust/blob/e1643a8968753226dab7ab3c9fee826f097550f2/src/libsyntax/parse/attr

[2018-10-09 16:20] alexcrichton commented on #54478
Thanks for the cc @pnkfelix! The issue here can be reduced to the following:

[code]

compiled and run as...

[code]

So specifically the bug here comes with the `-C prefer-dynamic` flag which, by default, rustdoc passes when compiling tests (which I'm surprised has lasted this long!). This is actually a bug that we accepted this code before! There are two active allocators here, one in the dynami

[2018-10-09 16:36] alexcrichton commented on #54478
Er sorry, I misspoke! Turns out I saw the regression on Linux and not on Windows because during process startup we allocate memory but don't allocate memory on Windows (wow!). If you amend the program to do `Box::new(3);` just before the assert then it fails on Windows as well.

Digging more into this it's still, however, a bug that the compiler ever accepted this code. For example consider:

[cod

[2018-10-09 17:21] yoshuawuyts commented on #54306
It's been two weeks since the last update on this thread, so in order to help keep the discussion progressing I'm making an attempt to summarize the discussion so far. My hope is that by making explicit which points are agreed / disagreed on, we can keep this proposal going.

_I hope I got everything right here; if I didn't let me know and I'll update this post. I hope this comes in useful. Thanks

[2018-10-09 17:56] Centril commented on #54306
@yoshuawuyts Thanks for the summary :)

I think it should be possible to stabilize the macro as-is and then extend it further with multiple arguments, specialization (when that is stable), and other nice things in a backwards compatible way... Are there any concerns that prevent that?

[2018-10-09 18:28] Jezza commented on #35625
Are literals "generated" by the compiler counted as true literals?
A quick example would be something like:

[code]

This fails to match, as the expansion, I guess, happens after the selection.

[2018-10-09 18:29] dsciarra commented on #54918
OK on macOS 10.14

[2018-10-09 18:37] dtolnay commented on #35625
`concat!(stringify!($type), ".html")` is not a literal generated by the compiler, it is an identifier followed by an exclamation mark followed by a set of parentheses containing some tokens. See for example:

[code]

If you were to use it in expression position, it would be interpreted as an invocation of `concat!` which expands to a string literal. In this case and in your `bind` macro though, it

[2018-10-09 18:42] Jezza commented on #35625
I can understand semantically why it doesn't make sense, I just thought it would have, but that being said, I already changed it to `$path:expr`, so there's no issue.

It just made more sense to me as a literal, because according to the compiler, it _could_ generate a literal from it.
I guess it was more a question than an actual issue.

[2018-10-09 18:51] petrochenkov commented on #35625
This is true, but there's more to it!
Some built-in macros can expand their arguments eagerly through \~m a g i c~, so they accept `concat!(...)` and likes even if they expect string literals:
[code]
Fortunately (or not), this currently cannot be done in user-defined macros.

[2018-10-09 18:59] Jezza commented on #35625
I actually just realised that I can't change it to `$path:expr`, as it's used in `include_str`.
So, I've just had to manually unroll the macro.

https://i.imgur.com/4GqBG0I.png

[2018-10-09 19:15] dsciarra commented on #54912
looks interesting, I will give it a try!

[2018-10-09 19:42] pnkfelix commented on #54692
adding self to the assignee list to try to ensure this gets addressed soon

[2018-10-09 19:54] cuviper commented on #54927
The documentation for `ancestors` says:

The documentation for `parent` says:

`Path::new("").parent()` is `None` though, and the iterator does terminate after that too.

[2018-10-09 19:56] pnkfelix commented on #54105
assigning self to this to try to help offload work from @nikomatsakis

[2018-10-09 19:58] #53826 closed

[2018-10-09 19:58] #54751 closed

[2018-10-09 20:00] pnkfelix commented on #54124
added @spastorino to the assignee list to help take care of squashing the NLL ICE (i.e. turn it into a proper error)

[2018-10-09 20:02] pnkfelix commented on #54692
Got a report from @mikhail-m1 that they are actively working on this

Unassigning @spastorino (since @mikhail-m1 is taking lead here)

[2018-10-09 20:15] pnkfelix commented on #54779
discussed with @nikomatsakis . We agreed this is not a blocker for 2018 edition. Tagging with NLL-deferred so it does not clog up our triage process.

[2018-10-09 20:32] arielb1 commented on #54915
Sure enough. `-O -C debug-assertions=on`. Not sure how to do it via cargo.

[2018-10-09 20:36] RalfJung commented on #54915
Ah, nice! And that will also affect integer overflow checks?

[2018-10-09 20:51] estebank commented on #54931
CC #44990

[2018-10-09 20:51] pnkfelix commented on #54478
@alexcrichton hmm...

I'm curious whether either of the changes you describe should be targetted toward the beta channel.

I suspect the change to the compiler to detect two allocators linked into one program is not a high priority item for beta.

The change to rustdoc ... *seems* like it should go into the beta (in order to address regressions like the one flagged here on the jemalloc-ctl crate)

[2018-10-09 20:52] #46302 closed

[2018-10-09 20:56] pnkfelix commented on #54478
Also, talk about an ancient bit of code:

https://github.com/rust-lang/rust/blob/6c9c045064bd74a00d9d98add6cb66a4bf2ad76e/src/librustdoc/test.rs#L99-L106

[2018-10-09 20:59] pietroalbini commented on #54478
We need to be fast to do that though, full Crater run now take up to 5 days.

[2018-10-09 21:00] pnkfelix commented on #54478
@pietroalbini let me see if I can get a PR up

[2018-10-09 21:00] Centril commented on #54930
I'm going to speculatively add `I-ICE` to this.

[2018-10-09 21:09] pnkfelix commented on #54478
Filed as PR #54939.

I Put it up now because I don't know if my local test run will finish before I hit the sack.

Also, that PR does not yet have a unit test for the regression.

But it should be enough to throw into crater, I hope

[2018-10-09 21:28] Centril commented on #54306
cc @oli-obk @alexreg As a general question... do we have any thoughts about how you debug during CTFE? It would be nice if there were some mechanism to do so in a `const fn` but which is a no-op at runtime? (this is unlikely to be solved on this tracking issue but I thought I'd record it somewhere less ephemeral... we should probably spawn of an issue from this...)

[2018-10-09 21:32] nikomatsakis opened #54940 "user type annotations are captured post normalization"
This example compiles but should not. Haven't investigated deeply.

[code]

cc https://github.com/rust-lang/rust/issues/47184

[2018-10-09 21:35] QuietMisdreavus commented on #54197
@V1shvesh Sorry, it looks like @lucasloisp got to this now, in https://github.com/rust-lang/rust/pull/54755.

[2018-10-09 21:42] alexreg commented on #54306
Probably needs a separate issue, yeah. It's going to require special compiler support to get around the usual const-restrictions on this sort of thing (I/O).

[2018-10-09 21:46] nikomatsakis commented on #54940
I think in general we probably need to rework a bit how the NLL checker is handling user-given type annotations to cover normalizations. My expectation is that we should move over to the strategy of instantiating the user-types with fresh type variables so that we can run the `normalize` routine on them, and then adapt the `relate_tys` code to handle unbound type variables. We've done most of the

[2018-10-09 22:01] alexcrichton commented on #54478
@pnkfelix right yeah changing the compiler to have new errors shouldn't be backported, and I would also be very wary of backporting changes to `rustdoc --test`, which have historically been notoriously brittle. A crater run looks to be a good start!

(sorry I was waiting for a local build to see the viability of a PR but kept forgetting to go back to it)

[2018-10-09 22:07] matthewjasper opened #54943 "NLL doesn't check that user type annotations are well-formed in unreachable code"
#54942 checks well-formedness in the general case, but unreachable code is deleted before NLL can check it.

For example, [this test](https://github.com/rust-lang/rust/blob/0e07c4281c343e9e15a0a8fca79538ad1a8eb513/src/test/ui/regions/regions-outlives-projection-container-wc.rs) still compiles with NLL enabled.

[2018-10-09 22:21] pnkfelix commented on #21114
@kwanyyoss wrote:

Because the former is assigning its result into a `let`-bound variable of the block, while the latter is passing its result back *outside* of the block directly, without going through a `let`-statement.

For better or for worse, the temporary r-value lifetime rules we have chosen dictate that the temporaries are dropped at different times for these two scenarios.

There is much

[2018-10-09 22:36] #53681 closed

[2018-10-10 01:17] #54505 closed

[2018-10-10 04:35] bstrie opened #54947 "Panicking in const context results in peculiar compiler error message"
Take this program:
[code]

On nightly it produces this error output:
[code]

To some degree the redundancy is understandable, since the first error is in the const fn definition itself while the second is at the use site (and has the additional useful context); perhaps this could be improved somehow. But more noteworthy is the line in the first error message: `note: #[deny(const_err)] on by defaul

[2018-10-10 05:25] TheIronBorn opened #54948 "Missing closing parens on documentation"
https://github.com/rust-lang/rust/blob/4623d4889373702428251967d9bf6ff6d677ec1a/src/libstd/fs.rs#L729

Becomes

3 `(` and only 2 `)`

[2018-10-10 05:48] ubsan opened #54949 "u128 alignment is incorrect on x86_64"
In C and C++, on x86_64 Linux, `alignof(__int128)` is equal to `16`. However, in Rust, `align_of::<u128>()` is equal to `8`.

C++: https://gcc.godbolt.org/z/YAq1XC
Rust: https://gcc.godbolt.org/z/QvZeqK

This will cause subtle UB if you ever try to use `i128`s across FFI boundaries; for example:

C++: https://gcc.godbolt.org/z/PrtHlp
Rust: https://gcc.godbolt.org/z/_SdVqD

[2018-10-10 06:18] huonw opened #54952 "Search box on nested 404 page `abc/123` goes to 404 `abc/std/index.html?...`"
For instance, on https://doc.rust-lang.org/nightly/abc/123, the search box offers to search the standard library for 123. Clicking the search button goes to https://doc.rust-lang.org/nightly/abc/std/index.html?search=123 (note the `abc/std`) which is invalid. Probably related to
https://github.com/rust-lang/rust/pull/54609 (cc @GuillaumeGomez).

[2018-10-10 06:37] oli-obk commented on #54306
I agree, let's discuss this in a separate issue. We can get around the const restrictions by making the debug printer an intrinsic

[2018-10-10 06:48] bstrie commented on #53555
@RalfJung , it would appear that post-#54835 nightly still accepts this code without warning. Did you intend for this code not to work?

[2018-10-10 07:03] oli-obk commented on #53555
Nightly on the playground gives me

[code]

https://play.rust-lang.org/?gist=8544bb6dd824c73bd0ea8466aad29ae9&version=nightly&mode=debug&edition=2015

[2018-10-10 07:06] tuxzz opened #54954 "ICE when using const_fn in trait"
[This code](https://play.rust-lang.org/?gist=dac837afdc2ffe1ed4b20884ffcbfc72&version=nightly&mode=debug&edition=2018)
[code]

[2018-10-10 07:09] tuxzz commented on #43408
It works in the latest nightly but ICE when the const_fn is in a trait.
See https://github.com/rust-lang/rust/issues/54954

[2018-10-10 07:43] weiznich commented on #54524
Seems to be the same underlying issue, but it should be noted that this happens for me on the 2015 edition. (So it is probably not dependent on the edition.)

Also a [similar error](https://ci.appveyor.com/project/sgrif/diesel/builds/19364431/job/99u6242pbgk6wkfp) occurs if someone tries to build diesel with `cargo build --no-default-features --features "sqlite"` on windows using the `-gnu` or the

[2018-10-10 07:59] kzys commented on #54952
Ah, my bad. I was assuming that the 404 page wouldn't contain `/`...

[2018-10-10 08:02] RalfJung commented on #53555
And there's tests as well: https://github.com/rust-lang/rust/blob/master/src/test/ui/consts/const-eval/ub-nonnull.rs

This can been fixed with https://github.com/rust-lang/rust/pull/54762

[2018-10-10 08:27] leonardo-m commented on #54949
See also: https://github.com/rust-lang/rust/issues/54341

[2018-10-10 08:30] kzys commented on #45276
Seems we don't have librustc_trans_utils anymore?

[2018-10-10 08:54] kzys commented on #31036
There are 48 shell scripts, but most of them are under `src/ci/docker`.

[code]

[2018-10-10 09:17] kzys commented on #37279
The URL is 404, but many files in the repos are referencing the URL...

[code]

[2018-10-10 09:17] RalfJung opened #54957 "BTreeSet causes UB my having (partially) dangling shared ref"
The following code causes UB (found by a patched miri enforcing validity invariants):
[code]
What happens is that `BTreeSet::new` [sets the root node](https://github.com/rust-lang/rust/blob/4623d4889373702428251967d9bf6ff6d677ec1a/src/liballoc/collections/btree/map.rs#L535) to [a pointer to](https://github.com/rust-lang/rust/blob/4623d4889373702428251967d9bf6ff6d677ec1a/src/liballoc/collections/bt

[2018-10-10 09:20] RalfJung commented on #54914
Here's another issue this could have prevented (or caught earlier): https://github.com/rust-lang/rust/issues/54957

And this earlier issue would also have been detected: https://github.com/rust-lang/rust/issues/53529

[2018-10-10 09:45] Ekleog opened #54959 "Rebuild LLVM when it changed"
I've spent the past few hours looking through documentation for how to build rustc with a patched LLVM without success. Currently, the best I'm at is:
[code]
And then build with:
[code]

But even that doesn't rebuild anything unless I `rm -Rf build`. Which completely loses incremental compilation results.

Is there any way to make this development workflow better? Rebuilding from scratch at every

[2018-10-10 10:40] kennytm commented on #54959
You need to modify `src/rustllvm/llvm-rebuild-trigger` to rebuild LLVM.

[2018-10-10 10:46] Ekleog commented on #54959
Thanks! Leaving open for the documentation problem :)

[2018-10-10 10:52] asib opened #54960 "unexpected panic whilst using base64!() macro from binary_macros crate"
Sorry if this isn't very descriptive, I've got no clue why this happened.

thread 'main' panicked at 'index out of bounds: the len is 10 but the index is 10', /Users/travis/build/rust-lang/rust/src/libcore/slice/mod.rs:2085:10

__I tried this code:__
[code]

__I expected to see this happen:__ I was just trying to run some tests, and needed to load this key in, so expected tests to run.

__Instead,

[2018-10-10 12:13] leonardo-m opened #54961 "Subslice search"
As enhancement, I think stdlib should contain functions that search a subslice inside a given slice:

[code]

For the common case of T:Copy items the true stdlib functions should specialize using a smarter algorithm, like:
https://en.wikipedia.org/wiki/Knuth%E2%80%93Morris%E2%80%93Pratt_algorithm

(Similar functions are useful for iterators too, but when items aren't Copy such functions don't work

[2018-10-10 12:35] nagisa commented on #54949
Duplicate of #54341, yes.

[2018-10-10 12:35] #54949 closed

[2018-10-10 12:53] LukasKalbertodt commented on #52259
Apparently, this has been fixed. Works on `1.31.0-nightly (2018-10-09 96cafc53cfc6667a03c8)`. Still breaks on `1.30.0-beta.14 (2018-10-09 1320d2145eb7d9f99983)`.

[2018-10-10 12:53] #52259 closed

[2018-10-10 13:32] therealprof commented on #53555
Any change we can get this into beta? I'd really love to do some 2018 edition proving and cleanup of some embedded crates but without `min_const_fn` available on beta, realistic checks are somewhat limited.

[2018-10-10 13:48] parched opened #54962 "compiler_fence SeqCst docs are incorrect"
The documentation for `compiler_fence` with `SeqCst` say "no re-ordering of reads and writes across this point is allowed". As I understand it, `SeqCst` for a single thread doesn't give anything more than `AcqRel`. E.g., a store before the fence could be moved past a load after then fence. Is that correct?

cc @jonhoo @RalfJung

[2018-10-10 14:08] holmgr commented on #54841
Sorry for the time taken but I have managed to implement the change suggested by @estebank [here](https://github.com/holmgr/rust/commit/95aed9862c06fa2dcb6eca592e91680ca170466d) and confirm that the output matches:

[code]

I did modify the only test affected.
In that case I guess I should just open a PR referencing this issue?

[2018-10-10 15:00] ubsan commented on #54341
Copying from the last thread, since thid thread seems to mostly be about long double.

In C and C++, on x86_64 Linux, alignof(__int128) is equal to 16. However, in Rust, align_of::<u128>() is equal to 8.

C++: https://gcc.godbolt.org/z/YAq1XC
Rust: https://gcc.godbolt.org/z/QvZeqK

This will cause subtle UB if you ever try to use i128s across FFI boundaries; for example:

C++: https://gcc.godbolt.

[2018-10-10 15:16] matthewjasper commented on #53114
I've removed this from the milestone. #54003 tracks the more urgent part of this issue.

[2018-10-10 15:29] estebank commented on #54841
Yes go ahead and file a pr with your change. Thanks for fixing this!

[2018-10-10 15:32] nikomatsakis commented on #48539
I'm going to close this issue altogether, since it seems like we are going more the route of building up a "parallel structure" for Chalk purposes.

[2018-10-10 15:32] #48539 closed

[2018-10-10 15:37] nikomatsakis commented on #46889
Closing this, seems out of date

[2018-10-10 15:37] #46889 closed

[2018-10-10 15:39] alexreg commented on #54306
@oli-obk Aha yes, that crossed my mind, but I wasn't sure if it worked. Good to hear.

[2018-10-10 16:07] jarcane commented on #46016
I seem to have run into this as well, and I am finding the various linked and recommended solutions a bit vague. It's not clear to me how to assemble the bits and pieces to go about using it with `write!`, and I'd certainly rather avoid resorting to unsafe libc calls.

I was able to get a simple solution working with the [`try_print` crate](https://github.com/bltavares/try_print) but using it on l

[2018-10-10 16:11] oli-obk commented on #53555
It will be in the next beta. Until then you could just use nightly without any feature gates

[2018-10-10 16:15] aturon commented on #54957
cc @Gankro

[2018-10-10 16:24] SephVelut opened #54966 "ICE returning an unknown type with impl FnMut"
[code]

I expected just a compiler error `cannot find type Oper`. Compiler panicked:

[code]

Meta
[code]

[2018-10-10 16:43] therealprof commented on #53555
@oli-obk That's what I'm doing at the moment but I thought the point of the beta was to test Edition features and nightly might behave differently. I guess I'm looking forward then to trying the next beta and everything working fine just like on nighty. ;)

[2018-10-10 17:12] staktrace commented on #54839
I see the same thing as what @bholley reported - when firefox runs into a panic it prints the 5 (mostly useless) frames. If I'm running in lldb I can use the `bt` command to get a full stack. My mozconfig is at https://github.com/staktrace/moz-scripts/blob/4a18644e77acf03d145fa01e2f68191e0b32b9a0/mozconfig.Darwin-host-debug

[2018-10-10 17:14] bholley commented on #54839
And this doesn't appear to be specific to the compositor thread. I can get this on the main thread with the following patch:

diff --git a/servo/ports/geckolib/glue.rs b/servo/ports/geckolib/glue.rs
index ee0318130d05..fea964590a0a 100644
--- a/servo/ports/geckolib/glue.rs
+++ b/servo/ports/geckolib/glue.rs
@@ -304,6 +304,7 @@ pub extern "C" fn Servo_TraverseSubtree(
     snapshots: *const ServoEl

[2018-10-10 17:31] #53040 closed

[2018-10-10 17:46] varkor commented on #54966
This is fixed in the beta version (1.30).

[2018-10-10 17:49] alexreg commented on #23856
Any progress on this lately?

[2018-10-10 18:40] RReverser commented on #42923
Stumbled upon this and I'm not convinced the explanation above is right... vtables already contain sizes for anything they reference, this is how `Box<Trait>` knows how much to deallocate for sized structs, and I don't see any good reason why it couldn't use the same information for unsized ones.

[2018-10-10 19:00] softprops commented on #54725
I wanted to shed some pain this is causing with [tarpaulin](https://crates.io/crates/cargo-tarpaulin).

Tarpaulin has worked amazingly well for me and my company as a replacement for kcov which historically been a pain to get accurate, reliable and correct results. At the moment tarpaulin stands as the most promising goto option for codecoverage in rust and just feels more like the only first clas

[2018-10-10 19:12] coriolinus commented on #46016
`write!` isn't hard: see [here](https://github.com/coriolinus/pad/blob/master/src/lib.rs#L123-L125) for one example of how to use it in production. Note that literally the only difference as far as the app is concerned is the gratuitous use of `?` to handle potential errors.

[2018-10-10 19:15] alexreg commented on #21903
Any progress here lately?

[2018-10-10 19:15] alexreg commented on #24010
@mbrubeck I think so too. Have we confirmed it yet? If so, worth closing this as duplicate.

[2018-10-10 19:54] npmccallum opened #54970 "Improve error message for reserved ambiguation"
Compiling this code:
[code]

Produces this error:
[code]

Presuming that this is because such code might become ambiguous in the future, we need a better error message.

[2018-10-10 20:16] talchas commented on #53457
Even more minified:

[code]

or using more stdlib stuff:

[code]

[2018-10-10 20:32] jeromegn opened #54971 "".rlib: error adding symbols: File format not recognize" error on linux"
I'm unable to compile a rust program that compiles fine on macos.

[code]

I tried this on debian stretch (using the official docker rust image) and ubuntu xenial (in a non-docker environment.) I tried both debug and release targets.

if I `nm` on that file, I get a lot of these "File format not recognize" next to the lib filenames.

I asked around on IRC and nobody could help.

The project can be

[2018-10-10 20:33] thenewwazoo opened #54972 "Compiler refuses code, demanding Sized bound"
In the following code:
[code]

the compiler refuses it with the following error:

[code]

after adding `T: ?Sized` to lines 3 and 8, the code compiles.

[2018-10-10 20:37] thenewwazoo opened #54973 "Compiler refuses code, demanding bound that's provided"
This is a more complex, but different, case as #54972.

When I try to compile:
[code]

the compiler refuses it with the error:
[code]

Similarly to #54972, if I add `MODE: ?Sized` bounds to lines 4 and 15, the `Sized` (first) error goes away, but the `RunMode` (second) one does _not_.

[2018-10-10 20:39] thenewwazoo commented on #54972
Kudos to @stephaneyfx, who reduced it to:
[code]

[2018-10-10 21:11] jamadazi opened #54974 "async fn: 'static lifetime not inferred for Arc trait object"
Playground link to reproduce: https://play.rust-lang.org/?gist=697ecc0c55cbf30bee0fb2d87736f704&version=nightly&mode=debug&edition=2018

Changing the suggested type to `Arc<SomeTrait + 'static>` fixes the compiler error.

Having to manually specify this does not seem intentional. Perhaps this `'static` lifetime should be automatically inferred?

[2018-10-10 21:43] Munksgaard opened #54975 "Doc comments with code at beginning includes all of code in doc output"
Putting code at the top of a docstring results in the entire code bit being included in the short summary of the docstring.

The following code

[code]

Results in the following foo/index.html page

![bla](https://user-images.githubusercontent.com/230613/46764996-380d4580-ccde-11e8-98a6-b4dcff5f50b9.png)

Having large code samples there generates ugly documentation. For instance, I ran across the

[2018-10-10 21:56] Gankro commented on #54957
Good catch, and very interesting. I wasn't aware that this was a thing. When was this semantic decided/documented?

This can be easily fixed by hoisting the `ptr::eq(self, &EMPTY_ROOT_NODE as *const _ as *const _)` into `is_shared_root`.

[2018-10-10 21:57] Gankro commented on #54957
Also: what value does that metadata have? Allowing speculative loads?

[2018-10-10 23:01] ErichDonGubler commented on #39175
I likewise get this issue with the following snippet:

[code]

[code]

[2018-10-11 00:15] rep-nop opened #54978 "ICE documenting nalgebra"
While running `cargo doc --open`

[code]

[2018-10-11 01:51] scottmcm commented on #54928
This isn't the slice iterator's problem; most of it is that `zip` is often ungreat.  One can do better, for example, rewriting in a slightly different form, the same way the different `for` loops have different performance when written in different ways.  The following is competitive with safe_good:
[code]

Also, reminder to be very careful that you're comparing equivalent things.  Your `for` loop

[2018-10-11 01:54] ExpHP commented on #54972
I am perplexed.  This can't just be a diagnostics thing, right?  I cannot think of any argument (from object safety or otherwise) for why the posted impl would be incorrect for `T: Sized`, yet correct for `T: ?Sized`.

[2018-10-11 04:13] vi opened #54981 "Allow asserts and panics to abort process quietly."
Currently assertions cause executable to be bloated up by various formatting-related symbols like

[code]

, causing executables that carefully choose functions to call in order to stay under X kilobytes to suddenly grow by about 40-150 kilobytes. Additionally, `pthread_*` symbols appear in otherwise single-threaded module. Symbol count may jump by about 800.

Shall there be some mode (like `panic

[2018-10-11 04:16] lambda opened #54982 "Index/IndexMut on wrapper type lose alignment based optimization"
An example on Compiler Explorer uses nightly only and unsafe intrinsics to assert alignment of some  arrays:

[code]

The code optimizes to some more efficient vector operations if you can assume that the input arrays have the given alignment.

With `std::intrinsics::assume`:

[code]

Without `std::intrinsics::assume`, it uses instructions that don't assume alignment and are presumably slower, as

[2018-10-11 05:03] earthengine commented on #54912
@petrochenkov

Can we also ensure that those gensyms get removed after before codegen? This means, the generated MIR should be removed in some MIR rounds.

[2018-10-11 05:12] mnd commented on #24473
@kzys Issue from 1.28.0 release already solved in rust-lang-nursery/mdBook#692
Currently I working on Rust 1.28.0 package for GuixSD and I without rust-lang-nursery/mdBook#692 patch I got same reproducibility issue.

[2018-10-11 05:53] bemeurer commented on #47989
Could we perhaps at least add some option to ignore this?

[2018-10-11 06:27] george-hopkins opened #54984 "staticlibs contain broken archive indexes when linked against external LTO libraries"
When building LTO-enabled external libraries with [`cc`](https://github.com/alexcrichton/cc-rs) (invokes gcc-ar), the resulting staticlibs contain a broken archive index. It doesn't parse `__gnu_lto_*` and index them as is:
[code]
When linking against the staticlib later on, GCC is unable to pick-up these symbols because they are not indexed properly. If I rebuild the index manually (extracting al

[2018-10-11 06:32] jarcane commented on #46016
I was having trouble sorting out how to use `write!` with stdout, but I think your linked code should give me the hints I need. Thanks. :)

[2018-10-11 06:33] kzys commented on #24473
Awesome! I am not sure how Debian gets docs, but maybe we need to upgrade mdbook here?

https://github.com/rust-lang/rust/blob/b7c6e8f1805cd8a4b0a1c1f22f17a89e9e2cea23/src/tools/rustbook/Cargo.toml#L11

[2018-10-11 07:18] oli-obk commented on #54912
We don't need to remove any `MIR`. Unused private constants don't end up in metadata.

[2018-10-11 08:51] RalfJung commented on #54846
Any suggestions for how to make it more discoverable?  The reason promotion is so cautious is that you didn't *ask* for a static lifetime, and if we promote too aggressively and then CTFE fails we broke your code. With a `const`, you asked for CTFE and then you can't blame us if there are CTFE failures.

[2018-10-11 08:52] weiznich commented on #54524
I've played around a bit more and tried to get `cargo doc --no-default-features --features "with-deprecated"` working on diesel. Turns out that [removing](https://gist.github.com/weiznich/29fd023018b79ea7dc4d377c57656135) some traits makes it building and documenting. I've no clue why, because those traits are not connected to `Insertable` that is mentioned in the error message in any way.
I'm tot

[2018-10-11 09:07] SimonSapin commented on #54846
I would say make the error message suggest the intermediate-`const`-item workaround, but @oli-obk said on IRC that would be hard.

Didn’t I? This borrow is immediately passed to a (`const fn`) function that takes a `&'static Foo` parameter. The borrow expression itself says `&foo()` rather than `&'static foo()` because the latter is not valid expression syntax. And this is in the definition of a `

[2018-10-11 09:12] oli-obk commented on #54846
yea, we could totally promote any `&` to non-cell data in static and const initializers. Implementing this would make the current promotion code even more spaghetti than it already is. We should accept this at some point.

I personally think that we should even accept

[code]

But that's a different discussion.

[2018-10-11 09:19] #50580 closed

[2018-10-11 09:19] #54707 closed

[2018-10-11 09:19] leonardo-m commented on #54867
I have no proof, but this is worth exploring. The specialized-div-rem shows that we could go much faster than the current div and rem operations.

[2018-10-11 09:23] pnkfelix opened #54985 "nll: strange suggestion to "consider removing the `*`"
Spawned off of https://github.com/rust-lang/rust/pull/54825#discussion_r223111783

For this code:

https://github.com/rust-lang/rust/blob/fe8ace8da3e2dba750fe09587628b2c36d303267/src/test/ui/borrowck/borrowck-move-from-unsafe-ptr.rs#L12-L15

which produces this diagnostic output:

https://github.com/rust-lang/rust/blob/fe8ace8da3e2dba750fe09587628b2c36d303267/src/test/ui/borrowck/borrowck-move-fro

[2018-10-11 09:49] pnkfelix opened #54986 "NLL: Reject partial init of uninitialized record (struct or tuple)"
Spawned off of #21232

In the short term, we want to reject code like this:

[code]

See #54987 for the long-term goal.

[2018-10-11 09:53] pnkfelix opened #54987 "Goal: Accept partial initialization + use of records created via such"
Spawned off of #21232

In the long-term, we want to accept code like this:

[code]

We probably *also* want to start accepting this too:

[code]

[2018-10-11 09:54] pnkfelix commented on #21232
Its been getting hard in discussions to be clear about what "this fixes #21232" means when there are distinct short-term and long-term goals attached to that one issue number.

So I forked off #54986 and #54987 to cover the distinct short- and long-term goals.

[2018-10-11 10:02] daboross commented on #53166
`std` is currently usable in _2015 edition_ crates on nightly. Is this intentional, and if not, should I create another issue or is commenting here on this one OK?

I ran into this because I only test my crate's no-std functionality on rust nightly, and nightly happily accepts `std::` paths in my rust 2015 edition crate.

Test case:

[code]

Playground: https://play.rust-lang.org/?gist=fc27ec82358

[2018-10-11 10:11] petrochenkov commented on #53166
This is going to be fixed once https://github.com/rust-lang/rust/pull/54671 lands.

[2018-10-11 10:13] bstrie commented on #43301
I don't think we need to deprecate anything. I'll echo @Aaronepower 's sentiment that limiting to only Display types could serve to just dissatisfy quick-script users (deriving Debug is trivial, implementing Display isn't) in the same way that the current situation dissatisfies production users. Even if we could, I don't think it would ultimately be a benefit to. I think the specialization approac

[2018-10-11 10:55] leonardo-m commented on #54987
fn main() { let mut s: S; s.x = 10; a_use_of_field(s.x); }

If there's an invariant of the struct fields you can't use one struct field before all of them are initialized.

[2018-10-11 10:59] SimonSapin commented on #43301
A case where `Display` is preferable over `Debug` in quick scripts is using `&'static str` or `String` as the error type. If you have a custom error type at all to slap `#[derive(Debug)]` onto you’re already spending some non trivial energy on error handling.