[2022-01-07 06:23] AurevoirXavier commented on #67984
Do we have a plan about the accepting expression `format!("{a.b()}")`

[2022-01-07 06:57] compiler-errors commented on #92626
So I think I understand the essence of the issue here.

So when we canonicalize a const variable then substitute it back with a new variable, we lose its type information.

The consequence of this is that we create more inference variables during the [probe](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/method/mod.rs#L208) part of method lookup than during the [conf

[2022-01-07 07:11] compiler-errors opened #92637 "Calling slice method on newtype wrapper that implements `Deref<Target=[_; 1]>` causes ICE"
Found this in when debugging #92626.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

According to godbolt, it's been failing since *1.32*.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-07 07:12] compiler-errors commented on #92637
Since I'm already pretty far with a solution to #92626, I'll claim this too. :-)

@rustbot claim

[2022-01-07 07:43] YJDoc2 commented on #86442
Hey, I was wondering if these extra error kinds are added in std lib for stable or not?

I am using rustc 1.56.1 and trying to create a file in a directory (using fs::OpenOptions) gives me `ReadOnlyFilesystem` error, (which is expected as the fs is supposed to be readonly,) but if I try `error.kind() == std::io::ErrorKind::ReadOnlyFilesystem` I get compiler error `use of unstable library feature`.

[2022-01-07 07:47] poliorcetics commented on #91913
Related to #91789

[2022-01-07 08:55] davidhewitt commented on #67984
The most recent discussion I've seen on that is at https://internals.rust-lang.org/t/how-to-allow-arbitrary-expressions-in-format-strings

[2022-01-07 09:00] safinaskar opened #92638 "core::iter doc: statement "an open-ended range is an infinite iterator" is wrong"
Docs for `core::iter` say: "an open-ended range is an infinite iterator". This is wrong. Such iterator will eventually overflow

[2022-01-07 09:18] Tamschi commented on #92271
Most likely! My code has the same kind of `&[Self]` field because I'm generating a VDOM as well. I don't use pointers directly, but I'm allocating arrays in a `bumpalo::Bump` and doing a lot of type inference there.

Thanks for mentioning it, I'll subscribe to the other issue and close this one if that resolves it.

[2022-01-07 09:27] safinaskar opened #92641 "UX/UI rustdoc error: "impl FromIterator for Result" is not documented on FromIterator page"
I opened documentation of FromIterator ( https://doc.rust-lang.org/std/iter/trait.FromIterator.html ), then I scrolled to section "Implementors" and found this implementation:
[code]
This implementation was not documented on this page. I clicked "[src]" and was able to see docs in source. So, I thought that there is some bug in rustdoc, which causes this docs not to render. Then I opened page on R

[2022-01-07 09:58] the8472 commented on #92638
It's not wrong in general. Ranges are generic, so it depends on the type parameter. The range-from docs provide more details.
https://doc.rust-lang.org/std/ops/struct.RangeFrom.html

[2022-01-07 10:00] Patryk27 opened #92643 "Missed optimization opportunity for stack pinning"
Hi,

This code:

[code]

... compiles to:

[code]

... but pinning `val` to the stack:

[code]

... causes rustc to emit a seemingly spurious `memcpy`:

[code]

Emitting that `memcpy` (or LLVM not eliding it, for what it's worth) makes the function require _twice_ the amount of stack size it would need otherwise, considering the fact that the parameter already lives on the stack and doesn't escape

[2022-01-07 10:07] pietroalbini opened #92644 "Error when running `ui` tests after `run-make-fulldeps`"
While running the test suite I noticed that executing the `run-make-fulldeps` suite *before* the `ui` suite causes the following tests to fail:

* `ui/allocator/no_std-alloc-error-handler-default.rs`
* `ui/allocator/no_std-alloc-error-handler-custom.rs`

[code]

After a quick investigation it seems like building `rustc-demangler` puts an extra copy of `liblibc-HASH.rlib` (with a different hash) in

[2022-01-07 10:29] #92561 closed

[2022-01-07 10:30] QuineDot opened #92645 "Implementation-specific "empty lifetime in universe" error"
[Given the following code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3875315ad027e156fa808e6fb5676e2f)
[code]

The current output is:

[code]

Ideally the output should be:

An inscrutable error that doesn't mention universes or the empty lifetime.

----

I didn't expect this to compile, and I didn't expect a simple error either, but I was surprised to see such imple

[2022-01-07 10:34] nikic commented on #92643
On the LLVM side, this is because LLVM does not know about rust move semantics.

There's a bit of related discussion in https://groups.google.com/g/llvm-dev/c/i0Z1FC51KVI.

[2022-01-07 10:36] the8472 commented on #31844
`min_specialization` as is it is today still has a few safety holes due to `rustc_unsafe_specialization_marker` and all traits marked with that. See #89948 for an example. AIUI those markers are temporary workarounds for the limitations of `min_specialization`, they're not part of the RFC, so they probably shouldn't get stabilized (as the `rustc_` prefix also suggests).

Perhaps an even smaller su

[2022-01-07 11:32] nikic commented on #89609
If anyone is wondering why this one only occurs on SystemZ: https://github.com/llvm/llvm-project/blob/main/llvm/lib/Target/SystemZ/SystemZTargetTransformInfo.h#L39 Apparently this target just increases all inlining threshold by a factor of three...

[2022-01-07 11:45] mdibaiee commented on #76935
@rustbot claim

[2022-01-07 11:47] mdibaiee commented on #76935
@ecstatic-morse I just tinkered around with this today a little bit.

I wasn't clear on one part: Do we want this lint to be internal to rustc, or just a builtin for everyone? I was confused because at some point you say:

My PR is not fully functional yet: For some reason when I try to compile code with `#[pass_by_value]`, I get the error below, even though I have registered it as a builtin:

[co

[2022-01-07 13:21] safinaskar opened #92647 "Bad "try_into" usage causes message "the trait bound `u8: From<char>` is not satisfied""
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=705695b1b99a0894bc73e755bfc8ad63

[code]

The current output is:

[code]

The output should mention TryInto or TryFrom instead of From

[2022-01-07 14:29] Robbepop commented on #75744
I wonder if `ControlFlow` could be used as a hint to the Rust compiler in order to optimize certain `switch` based interpreters to use the more efficient `computed-goto` codegen instead of branching at the top of a `switch`.

An example how this could be utilized can be found here: https://gist.github.com/Robbepop/756eedb75466e09e0262ef917818c553
If you paste the linked code into the [Rust compile

[2022-01-07 15:48] Badel2 opened #92649 "Tracking Issue for `panic::update_hook`"
Feature gate: `#![feature(panic_update_hook)]`

This is a tracking issue for the `panic::update_hook` function.

This function allows creating panic hooks that forward the call to the previously set panic hook, without race conditions. It works by taking a closure that transforms the old panic hook into a new one, while ensuring that during the execution of the closure no other thread can modify t

[2022-01-07 16:07] mina86 commented on #90785
Steps to reproduce:

[code]

Expected output:

[code]

Without looking at libtest code, the proper solution seems to be:

[code]

This would also solve https://github.com/rust-lang/rust/issues/92370

[2022-01-07 16:12] jsha commented on #59845
I looked pretty hard for research that supported better readability for sans-serif text. There are a decent number of articles that cite this based on conventional design wisdom, but the research indicates no significant difference. For example https://geniusee.com/single-blog/font-readability-research-famous-designers-vs-scientists. I'm inclined to WONTFIX this aspect unless we can find some soli

[2022-01-07 16:20] whjpji commented on #43244
How about add a marker trait `MustDrop` to forbid the drain iterators to be forgotten (be put in `std::mem::ManuallyDrop`)?
At least for `Vec::drain`, I think the behavior is extremely surprising when the drain iterator is `std::mem::forget`ed.

To me, I expect `.drain(..)` iterators to behave like this:
1. first it acts like an iterator which yield elements when `.next()` is called, just like `.i

[2022-01-07 16:26] jsha commented on #59845
By the way, one of the WCAG items is "a mechanism is available to achieve:"

One of the techniques to do this is https://www.w3.org/WAI/WCAG21/Techniques/general/G148:

Right now we _do_ specify background color and text color explicitly. For instance in light.css we set the background color to white, and the foreground color to black. Instead we should leave those unmodified, and let the user-age

[2022-01-07 16:45] piegamesde commented on #88930
The issue is still there even when manually unrolling all macro and method invocations. I now have code that looks like this, but repeated a lot of times with different constants:

[code]

And the compiler *still* puts all of these constants onto the stack first. So it does `immediate -> register -> stack -> register` whereas `immediate -> register` would be all that's needed.

[2022-01-07 16:45] Iron-E commented on #39959
Running into this on 1.57.0. Can't get around it by introducing a new type param since I am using an `std` trait (`Display`) nor by cloning since I need `Copy` and am passing references around.

[2022-01-07 17:19] rwthompsonii commented on #31844
Yeah I have a use case where I'm trying to specialize on specific types lol.

[2022-01-07 17:19] jsha commented on #59860
Here's a prototype of a revised sidebar:

https://rustdoc.crud.net/jsha/cool-sidebar/std/string/struct.String.html
https://rustdoc.crud.net/jsha/cool-sidebar/std/string/index.html

https://github.com/rust-lang/rust/compare/master...jsha:cool-sidebar?expand=1

[2022-01-07 17:35] cuviper commented on #89609
Aha, thanks! The only other targets that change that multiplier are NVPTX (5) and AMDGPU (11).

[2022-01-07 17:53] benkay86 commented on #31844
IMHO stabilizing specialization for specific types would be a huge help to me as well!  Currently there is no way to specialize on types (see also #77125).  This requires `unsafe` (but sound) workarounds for performance-sensitive code.

Specializing on traits would, of course, be great and allow for some neat [inheritance patterns](https://steemit.com/rust-lang/@porky12/simulating-inheritance-in-r

[2022-01-07 18:13] Sushisource commented on #63193
It's pretty frustrating to have to choose between syntax highlighting and "this code is never to be compiled or tested regardless of flags" -- would be really nice to have a simple way to handle this seemingly common case

[2022-01-07 18:24] m-ou-se commented on #58599
Wg21's [p1478r6](https://wg21.link/p1478r6) might be interesting. It proposes to add `atomic_load_per_byte_memcpy` and `atomic_store_per_byte_memcpy` which, unlike the llvm intrinsics, both take a memory ordering as argument. The only valid options are Relaxed and Acquire/Release. It comes down to an unordered read followed by (or write preceded by) an atomic fence, which is [exactly what you want

[2022-01-07 18:35] Frederik-Baetens commented on #92178
This also seems to happen even when the additional add implementation isn't directly imported in the file where the error occurs.

I have a workspace where cargo check on each individual crate works, but cargo check --all-workspaces fails for a specific crate in my workspace. I think this might be due to the usage of libp2p enabling certain feature flags, causing the offending code in open-metrics

[2022-01-07 18:58] Nemo157 commented on #59845
Firefox doesn't appear to change the default colors when in dark mode for me, it stays at black on white for an unstyled webpage (and ayu isn't pure black and white).

[2022-01-07 20:26] mattfbacon opened #92654 "MBE macro with struct body argument breaks proc macro derive"
I tried this code:

[code]

I used `cargo-expand` to expand the macros and got the following result:

[code]

And this compiles. However, attempting to compile the unexpanded source gives the following error:

[code]

### Meta

`rustc --version --verbose`:

[code]

[code]

(Backtrace not applicable)

I can share the source of the procedural macro if necessary but, based on the macro expansion, I c

[2022-01-07 20:51] Aaron1011 commented on #92654
Could you share your proc-macro source? The issue you're having is caused by the way that 'hygiene' information on tokens affects name resolution. This information is lost when the output is printed with `cargo expand`

[2022-01-07 20:57] mattfbacon commented on #92654
Ooooh that makes sense. Is there a way to "set" the hygiene of a token?

The proc-macro source is a bit unwieldy at the moment.. I was planning to refactor once I got it working. Here's the relevant parts:

#### Proc macro entry point

[code]

#### encode::derive

[code]

#### implement

[code]

#### struct_impl::implement

[code]

#### super::common::implement_struct_body

[code]

[2022-01-07 20:57] numero-744 opened #92655 "feat: matches! to return data in an Option"
`matches!` is a great tool to do the job of `.is_variant()` when not available, but it is not useful to replace `.as_variant()`, returning an `Option<T>`. It could be made possible, for instance by adding a rule with one more argument representing the value returned in the option. This new rule would be quite the same as the existing one.

[code]

It could enable to do:

[code]

instead of

[code]

[2022-01-07 21:02] Aaron1011 commented on #92654
The issue is your `quote_spanned!` calls. You're in luding the literal token `writer` inside the `quote_spanned!` call, so it's getting the span (including hygiene) of the field token. However, you're defining the `writer` parameter inside a call to `quote!`, which will use call-site hygiene.

You should create the `writer` token with a separate call to `quote!`, and then interpolate that variable

[2022-01-07 21:07] mattfbacon commented on #92654
So would I need to pass the writer token down from `encode::derive` all the way to `implement_struct_body`?

Thanks for the help BTW especially considering this isn't actually a compiler bug.

[2022-01-07 21:11] Aaron1011 commented on #92654
@mattfbacon As long as you use `quote!` everywhere you generate a `writer` token, then it will work correctly. It doesn't matter if it's the same `TokenStream`, just that all of the `writer` tokens end up with the same hygiene (which will happen automatically if you use `quote`)

[2022-01-07 21:21] Patrick-Poitras commented on #92537
Bisect results:

[code]

[2022-01-07 21:24] steffahn commented on #74265
There’s discussion [here](https://internals.rust-lang.org/t/casting-constness-can-be-risky-heres-a-simple-fix/15933) about adding general `*const T` -> `*mut T` and `*mut T` -> `*const T` helper methods (as a way to avoid `as` casts). The method name `as_mut_ptr` sounds like it does exactly that, but it's currently used here for `*mut [T]` -> `*mut T`. Reading the current `NonNull` documentation w

[2022-01-07 21:31] RalfJung commented on #58599
Yeah that sounds like a great solution. :)

[2022-01-07 21:34] m-ou-se commented on #58599
Cool. Time to add those intrinsics and and add this API as unstable to play around with then. :)

Not sure if I'll have time for that soon. So if anyone else has, please do! ^^

[2022-01-07 21:45] camelid opened #92656 "rustdoc: Merge "Structs", "Enums", "Unions", and "Type Definitions" sections on module pages"
### Summary

Merge the following sections that appear on module (and crate) pages into a single "Types" section:

* Structs
* Enums
* Unions
* Type Definitions

### Why?

* Usually, the exact kind of type something is doesn't matter when you're looking at an overview.
* It can be confusing to have to so many sections, and it creates more places where you have to look for what you want.
* After the

[2022-01-07 21:45] camelid commented on #92656
cc @jsha

[2022-01-07 21:53] jsha commented on #92656
Terrific idea!

[2022-01-07 21:56] GuillaumeGomez commented on #92656
I'm not completely sold on the idea. Something about it is bothering me but I can't put the finger on it... Well, for now let's say I'm neutral.

[2022-01-07 22:16] ecstatic-morse commented on #76935
@mdibaiee Internal to rustc for now. For the broader ecosystem, a clippy lint is probably more appropriate.

[2022-01-07 22:24] fmease commented on #92655
Previous discussion https://github.com/rust-lang/rfcs/issues/2960.

[2022-01-07 22:58] numero-744 commented on #92655
Thanks, I failed to find it.

I :+1:'d it and I actually think that another macro named `match_map!` is better because this name is really self-explaining about what the macro does.

https://crates.io/crates/bind_match does this (with a different name) and is indirectly pointed to in the comments.

Should I close this issue as a duplicate, then?

[2022-01-07 23:04] Patrick-Poitras commented on #92537
I think its #87153, it has a provision that changed  the generation of MSVC-only debug information.

Tagging @michaelwoerister, who might have some input on how to remedy this.

[2022-01-07 23:29] mattfbacon commented on #92654
Thanks for the help! My macro works now :)

[2022-01-07 23:29] #92654 closed

[2022-01-08 00:09] jackh726 commented on #91985
So...uh yeah. Something is wrong here. This playground doesn't work: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d4ac99ec4e25ef340002727b453c5d5c

That doesn't use GATs, just normal associated types. The impl definition doesn't error for a missing `T1::Associated: Clone` bound, but we also can't use that in the `new` body.

I was scared for a bit that this would be in

[2022-01-08 01:02] hikionori opened #92661 "Cargo new Error"
Hi i have a problem with cargo.
When you start the project, everything is fine, but when you want to create a new project, you get such an error:
![image](https://user-images.githubusercontent.com/66259055/148625040-161f3e83-1fc5-4345-b0d2-43366ac8bbad.png)
I use all the newest versions of everything I need at the moment.
I've also tried reinstalling rust

[2022-01-08 01:17] julianespinel commented on #63939
I documented another way to solve it here: https://stackoverflow.com/a/70628855/2420718

[2022-01-08 01:24] m-ou-se commented on #58599
@Amanieu mentions here (https://github.com/rust-lang/rust/pull/59155#issuecomment-1007716662):

Does that mean we could provide these `atomic_load_per_byte_memcpy` and `atomic_store_per_byte_memcpy` but implement them without using those llvm intrinsics, and instead use volatile operations since we know llvm makes the guarantees we need on them? We'd still add a fence and take a memory ordering ar

[2022-01-08 01:33] Aaron1011 commented on #92661
What does that error message say in English?

[2022-01-08 01:52] hikionori commented on #92661
could not find the file specified(os error 2)

[2022-01-08 02:23] rnarubin opened #92662 "Rustdoc: regression in intra-doc link to trait function"
### Code

Example code:

[code]

### Version it worked on

docs build successfully on 1.57.0:
[code]

### Version with regression
docs fail to build on 1.59.0-nightly (358e79fe5 2022-01-04):
[code]

</p>
</details>

The generics appear necessary for the bug. Removing them from either the type or the trait resolves the failure.

[2022-01-08 02:42] jyn514 commented on #88791
@Mark-Simulacrum a while ago suggested using `--emit example-metadata` or something like that (or maybe you were just suggesting that this would be part of normal `.rlib`s? I'm not sure how that works with the whole reverse-dependency thing though ...). We probably should iron that out before stabilizing.

https://zulip-archive.rust-lang.org/stream/266220-rustdoc/topic/--scrape-examples.20feedback

[2022-01-08 02:47] camelid commented on #92662
Probably #92443.

---

searched nightlies: from nightly-2022-01-06 to nightly-2022-01-07
regressed nightly: nightly-2022-01-07
searched commit range: https://github.com/rust-lang/rust/compare/f1ce0e6a00593493a12e0e3662119786c761f375...cfa4ac66c194046f631ce076c75516ecfdeb77ee
regressed commit: https://github.com/rust-lang/rust/commit/cfa4ac66c194046f631ce076c75516ecfdeb77ee

<details>
<summary>bise

[2022-01-08 04:40] QuineDot commented on #49601
I think these can be worked around with helper traits.  (None of the examples have examples of application to test against though.)

[The OP](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=106dd953eb6d68e3d50635fc4448937e):
[code]
[#70262](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=89f644f957b4005446588ac16a54fc26):
[code]

[The GAT](https://pl

[2022-01-08 04:55] as-com commented on #90950
I think I just ran into this issue:
Does not compile: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a1db6019612c877787c1605d4ff2b9b5
Compiles: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0e5caed73c4c9502cab948bec7ccdda9

For those who stumble upon this, I found this workaround that may or may not be applicable to your situation: https://play.ru

[2022-01-08 08:55] #74479 closed

[2022-01-08 09:43] kotauskas opened #92666 "Module declarations imported via `include!()` have unexpected relative paths"
Consider this directory structure:
[code]
the only line in `main.rs` being:
[code]
then, in `template.rs`:
[code]

The typical user expectation for `include!()` is to unhygienically copypaste tokens from the given file, as its documentation suggests (although very vaguely, as it only mentions this behavior with expressions). The above code, however, produces the following `E0583`:
[code]

This can

[2022-01-08 10:09] RalfJung commented on #58599
How do we know that?
I don't think LLVM makes guarantee on volatile accesses that race with atomic accesses.

[2022-01-08 10:10] RalfJung commented on #58599
That sounds like something that is fixable in LLVM? (And if these operations are really adopted by C/C++ and used for seqlocks, they will want to do that anyway.)

[2022-01-08 10:15] alercah commented on #57893
From [this comment](https://github.com/rust-lang/rust/issues/57893#issuecomment-579133655), is there not a soundness issue already with `Any`?

In particular, given `T, U: Any + ?Sized`, you *cannot* assume that calling `type_id` on values of those types will produce unique type IDs, because one of them might be `dyn Any`. You cannot, as far as I can tell, actually get the type ID of `dyn Any` usi

[2022-01-08 11:28] pietroalbini commented on #91874
This is mentioned in the compatibility notes, closing.

[2022-01-08 11:28] #91874 closed

[2022-01-08 11:29] #91454 closed

[2022-01-08 11:30] pietroalbini commented on #90904
Merged and backported, closing.

[2022-01-08 11:30] #90904 closed

[2022-01-08 11:30] nikomatsakis opened #92667 ""no entry found for key" in metadata"
### Code

To reproduce:

* Checkout https://github.com:nikomatsakis/dada.git with the branch issue-92667
* Go to `issue-92667^` and run `cargo run -- run dada_tests/interpret/class-wrong-label.dada`
* Checkout `issue-92667` and run same command again
* For me, that reproduces

Not an MCE, I know.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Ba

[2022-01-08 11:34] pietroalbini commented on #91372
Backport merged.

[2022-01-08 11:34] #91372 closed

[2022-01-08 11:35] pietroalbini commented on #91872
Hmm, what's the status of this?

[2022-01-08 12:21] shirshak55 commented on #20866
For pdf:
I managed to automate somehow. Let me know
https://github.com/shirshak55/Rust-Book-In-PDF/releases

[2022-01-08 12:33] vitali2y commented on #20866
Letting you know that *.epub* version of *the Book* would be nice to have here.

[2022-01-08 12:44] MaulingMonkey commented on #92661
Does `mkdir minigrep` succeed?

[2022-01-08 13:07] Mark-Simulacrum commented on #91872
Should be fixed by https://github.com/rust-lang/rust/pull/92592 on beta, closing.

[2022-01-08 13:07] #91872 closed

[2022-01-08 14:08] tonyg commented on #92667
I'm getting the same thing. One workaround seems to be `cargo clean` (!) followed by `cargo build`.

[2022-01-08 14:14] marmeladema commented on #79246
@tmiasko I see the llvm bug has been resolved. Has our llvm fork been updated with the fix? If so should this be closed?

[2022-01-08 14:16] sudipghimire533 commented on #92666
Could you mention the platform this was compiled on?

[2022-01-08 14:20] sudipghimire533 commented on #41731
Although this seems to be 4 years before, but I think this issue have been resolved (at least for the example you have provided) isn't it?

[2022-01-08 14:28] nikic commented on #79246
@marmeladema No, the fix will be pulled in with the LLVM 14 upgrade.

[2022-01-08 14:41] inteon opened #92672 "Default buffer size of `getcwd` for linux"
It seems like, by default, the initial buffer size for the return value of `getcwd` is set to 512 bytes:
https://github.com/rust-lang/rust/blob/600820da45daa50870fe711d53938fc6a52edd35/library/std/src/sys/unix/os.rs#L139

The default in glibc is defined as follows (https://code.woboq.org/userspace/glibc/sysdeps/unix/sysv/linux/getcwd.c.html#61):
[code]

This might cause some unnecessary linux kern

[2022-01-08 14:44] kotauskas commented on #92666
I heavily doubt this depends on the OS. For reference though, the compiler version string is `rustc 1.59.0-nightly (e012a191d 2022-01-06)` and the platform is Windows 10 on x86-64.

[2022-01-08 14:57] smoelius commented on #66079
# Stabilization Request

## Summary

This crate level attribute registers a tool with `rustc`. Such a registration tells `rustc` that attributes and lints prefixed with the tool's name can be ignored, as they are handled by a separate entity.

Example:

[code]

Here is a [real-world use case](https://github.com/trailofbits/dylint/commit/059db43cec6ea5cc7957ce5424e8879c1b561b4a).

## Tests

-   [`r

[2022-01-08 15:27] ehuss commented on #92666
This isn't hygiene exactly (which is more to do with symbol resolution), but the fact that filesystem paths are interpreted relative to the file from which they are loaded from.  I believe this is relied upon, and not something that can be changed.

Updating the documentation to clarify this behavior sounds reasonable, though.

[2022-01-08 15:41] bradleyharden commented on #32976
@tkaitchuck, indeed it does.

I just attempted to make the [atomig](https://github.com/LukasKalbertodt/atomig) crate work on embedded targets, only to realize that the `target_has_atomic_load_store` and `target_has_atomic` features are unstable. The only workaround I can find [uses a build script](https://github.com/bitvecto-rs/radium/issues/3#issuecomment-692421768). Is that really the only solut

[2022-01-08 16:22] smoelius commented on #64888
I propose that the methods for enabling and configuring this option be changed.

The option currently [uses `optflagopt`](https://github.com/rust-lang/rust/blob/e012a191d768adeda1ee36a99ef8b92d51920154/library/test/src/cli.rs#L112), which means that one *must* use `=` to specify its parameter, e.g., `--report-time=colored`. If one doesn't use `=`, then the would-be parameter is interpreted as a fi

[2022-01-08 17:02] Kixunil opened #92675 "Tracking Issue for ptr_const_cast"
Feature gate: `#![feature(ptr_const_cast)]`

This is a tracking issue for methods on pointers for casting constness without changing the type

### Public API

[code]

### Steps / History

- [x] Implementation: #92657
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- ~~`*mut T` also already has `as_mut()` which does something different and has a different signatur

[2022-01-08 18:21] gregbuchholz opened #92676 "Thread local storage link issue with Rust/wasm-ld/Emscripten"
I am trying to narrow down the cause of a problem which occurs when trying to enable threads on a Rust program compiling to the `wasm32-unknown-emscripten` target.  A simple example:

[code]
...which compiles, but fails with a `wasm-ld` linker error shown below.  I have a small github [repository](https://github.com/gregbuchholz/thread_local_storage) with the source files and the capture of the er

[2022-01-08 18:24] saethlin commented on #51713
I think we now have answers to the two main blockers. Just commenting here because I haven't seen these answers mentioned.

These assertions would still be useful for developers, because Cargo has `-Zbuild-std`. You have to know to turn this on which is less than awesome, but IMO that's not a huge leap because developers of unsafe code should be using other opt-in tools such as ASan, Miri, and fuz

[2022-01-08 19:01] jackh726 commented on #91985
Okay, so *probably* the right solution is to make `T1::Associated: Clone` be implied here (rather than requiring that bound). I have a POC branch here: https://github.com/jackh726/rust/tree/issue-91985

Unfortunately, it's not as simple as "just make this change". I think either way we run into potential issues. With the above changes, this test passes. But 2 other tests start failing and one has

[2022-01-08 19:11] pierwill opened #92677 "`tidy` license check error for `crossbeam-queue`"
Getting this error in #90842:

[code]

_Originally posted by @cuviper in https://github.com/rust-lang/rust/issues/90842#issuecomment-1007815922_

[2022-01-08 19:12] matthiaskrgr opened #92678 "rustc_span::lev_distance::lev_distance can be a bottleneck"
when running `rustc ./library/stdarch/crates/core_arch/src/x86/avx512f.rs`
(yes, this will not "compile" and produce a ton of errors) I noticed that rustc can spend several tens of seconds inside `rustc_span::lev_distance::lev_distance`. (file takes 40-50 seconds on my system to process)
I wonder if this is something that could be sped up a bit or if it is too much of an edge case.

The file avail

[2022-01-08 19:12] pierwill commented on #92677
@rustbot label +E-help-wanted

[2022-01-08 19:16] saethlin commented on #51713
Maybe I deserve this for commenting so quickly after learning about this issue, but it seems that while `std`/`alloc` do not rely on indexing out of bounds, the compiler does.

[2022-01-08 21:22] V0ldek commented on #48556
Is there any roadmap or an overview of what remains to bring this to stable?

[2022-01-08 21:24] Lokathor commented on #48556
the portable-simd repo has many tracking issues

https://github.com/rust-lang/portable-simd

[2022-01-08 21:38] tavianator commented on #92678
Since there's a [limit](https://github.com/rust-lang/rust/blob/488acf86a75c56d30b16822e953c505a9e4901a7/compiler/rustc_span/src/lev_distance.rs#L46-L48) on the maximum distance, one potential optimization is to bail out of `lev_distance()` once that distance is exceeded.

[2022-01-08 21:40] sourcefrog commented on #92595
In case it's helpful: I also hit this only once on v0.0.212-9018-g917890bab of rust-clippy, but couldn't reproduce it after `cargo clean`.

[2022-01-08 22:55] darakshan opened #92679 "Triple panic when no space left on device"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

thread 'opt 44x51xau9vv6hyly' panicked at 'Error writing pre-lto-bitcode file `/home/ec2-user/ttgv/target/release/incremental/ttgv-3s7phrfcq65zj/s-g5x0a8jcj3-b6wxlq-working/44x51xau9vv6hyly.pre-lto.bc`: No space left on device (os error 28)', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_codegen_ssa/src/back/write.rs

[2022-01-08 23:30] spunit262 commented on #91669
@rustbot claim

[2022-01-09 00:16] Aaron1011 commented on #92678
I think we only use `lev_distance` when printing out a help message after an error occurs. The large amount of time spent inside `lev_distance` is probably related to the fact that a large number of errors are getting produced.

[2022-01-09 00:38] tlyu commented on #87096
@BurntSushi I'm willing to remove the `split` forwarder. Can the API documentation improvement happen during stabilization? There were some API documentation changes that I didn't want to make before stabilization, because I would want higher-level `std::io` documentation to preferentially mention the forwarder method. My understanding is that we can't do that until during stabilization; is that r

[2022-01-09 00:57] #88638 closed

[2022-01-09 01:23] jsha opened #92682 "mobile: tapping outside the sidebar should close it"
Steps to reproduce:

1. On mobile, tap the upper-left hamburger icon to open the sidebar menu.
2. Tap somewhere on the right side of the screen (e.g. the search bar).

Expected result:

Sidebar closes.

Actual result:

Sidebar doesn't close.

[2022-01-09 02:12] camelid commented on #18168
I'm not quite sure what this issue is requesting, and it does seem like the issue is resolved now. Shall we close the issue?

[2022-01-09 02:17] camelid commented on #18558
Should this issue be closed then?

[2022-01-09 02:19] camelid commented on #20863
I think this has since been fixed. E.g., "Examples" in [`Vec::as_ptr`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.as_ptr) is an h5. Please reopen if I misunderstood.

[2022-01-09 02:19] #20863 closed

[2022-01-09 02:49] Aaron1011 commented on #66079
The attribute behavior (allowing `#[my_tool::my_attribute]`) is definitely not ready to be stabilized - this gives user code the ability to declare 'inert' attributes, which needs further discussion.

I think it would be okay to stabilize the lint behavior (suppressing 'unused lint' warnings for `#[deny(my_tool::my_lint)]`). However, we would need to split out that functionality into its own crate

[2022-01-09 03:03] petrochenkov commented on #66079
But that's the whole point of tool attributes, both already stable ones (rustfmt and clippy prefixes), and custom ones declared with `register_tool`.
When writing the comment suggesting stabilization (https://github.com/rust-lang/rust/issues/66079#issuecomment-916984430), I meant inert attributes first of all.

[2022-01-09 03:08] Aaron1011 commented on #66079
Ah, I didn't see you had originally suggested stabilization.

How does this feature interact with dependencies? If I (transitively) depend on a crate with a `#![register_tool]` attribute, will I 'import' all of the registrations? Or would I need to write `#![register_tool]` in every crate where I want to use it?

[2022-01-09 03:18] petrochenkov commented on #66079
It doesn't interact with dependencies, just allows the current crate to know about the tool.

[2022-01-09 04:53] inanna-malick opened #92685 "given Vec<foo:Bar> (with single ':') in a struct field, rustc provides an unintuitive affiliated types error"
Given the following code: (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c485d59d73a93f4845ea71f4dd4a08b9

[code]

The current output is:

[code]

Ideally the output would point out the potential that the user had meant to type '::' instead of ':'.

Rationale: I hit this and I spent a few minutes trying to figure out what was going on before I realized that I had made a t

[2022-01-09 07:14] PatchMixolydic opened #92687 "Suggestion for E0759 can fail to compile when encountered in a trait method"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=62ad5a6067f737f4434bfd3051572b1d)):

[code]

The current output is:

[code]

The suggested change still does not compile because the signature for `read` no longer matches the trait definition ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e912705d

[2022-01-09 09:41] fee1-dead commented on #91669
@spunit262 thank you for being willing to tackle this issue. If you get stuck, you can ask a question here by posting a comment or post a message on zulip. You can also dm anyone from @rust-lang/wg-const-eval (me, `@oli-obk`, `@RalfJung`, `@lcnr`), we'd be happy to help out.

[2022-01-09 10:15] matklad commented on #66079
Are we sure this doesn’t want an RFC? It feels like a rather cross-cutting issue and a new kind of public API.

In particular, I worry about cli-arg vs command line here. As a user, if I want to use, say, a custom `#[ide]` attribute, I’d probably want to declare that once in Cargo.toml, rather than in every test, binary and example.

That being said, an attribute is forward compatible with adding

[2022-01-09 10:34] petrochenkov commented on #66079
I initially implemented this as a command line option (https://github.com/rust-lang/rust/pull/57921), but switched to a crate-level attribute feedback from servo people.

FWIW, if you have an crate-level attribute, then you automatically have a command line option too at least on nightly, because of `-Z crate-attr` that allows to inject any attribute.

[2022-01-09 10:43] crumblingstatue commented on #46034
To be clear, I originally opened this issue to clarify if 10 times larger binary size is expected compared to stripped.
If not, then the problem still persists that something is wrong with symbol generation, which stripping doesn't solve, only removes the symptom if you don't want any symbols.

[2022-01-09 12:08] GuillaumeGomez commented on #18168
Funnily enough, we will end up with something like that once our plan started with https://github.com/rust-lang/rust/pull/90630 will be done.
 So yes, closing.

[2022-01-09 12:08] #18168 closed

[2022-01-09 12:14] MunchyYDL commented on #67159
This problem had me on a wild goose chase for a couple of hours yesterday. 🙂

As a relative newbie to Rust, it was a bit hard to know what to look for when I suddenly couldn't run my newly added tests.

After some digging around, my solution to this specific problem is to attribute only the main() function instead of setting it as a crate level attribute.

Maybe this needs to be mentioned somewher

[2022-01-09 12:41] the8472 commented on #92672
This should only make a difference for code that calls it in a loop, does that happen somewhere where it's not easily fixed?

[2022-01-09 12:43] rust-highfive opened #92691 "`miri` no longer builds after rust-lang/rust#92086"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#92086, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @petrochenkov, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-01-09 13:13] crypto-universe commented on #71835
@jonas-schievink @JohnTitor , could you please start FCP?
I'm about to add closing PR. There were some tests added in #71839 and #78581 but now they are gone. Should I add more tests?

[2022-01-09 13:22] m-ou-se commented on #89492
@rfcbot merge

[2022-01-09 13:51] mdibaiee commented on #44583
Is this still an open issue? I see a PR for this has been merged.

[2022-01-09 14:33] inteon commented on #92672
ref: https://github.com/denoland/deno/pull/12056

Also, I'm asking this question out of curiosity, what is the main reason for the 512 bytes value?
It seems like most implementations use the PATH_MAX value, eg. Golang uses `Getwd` (https://go.dev/src/os/getwd.go).

[2022-01-09 14:52] #18558 closed

[2022-01-09 15:56] #91370 closed

[2022-01-09 16:09] the8472 commented on #92672
See the discussion in #27930 which originally implemented it.

[2022-01-09 16:46] ehuss commented on #48775
Since this hasn't appeared in 3.5 years, I'm going to close this as resolved.

[2022-01-09 16:46] #48775 closed

[2022-01-09 16:56] inteon commented on #92672
Thank you for the info, I'll do some further testing & create a PR in case I find something valuable.

[2022-01-09 16:56] #92672 closed

[2022-01-09 18:23] SimonSapin commented on #63291
If awkward initialization of `{Arc,Rc}<MaybeUninit<_>>` is the remaining blocker, I think we should split up this feature to let `Box` APIs make progress separately.

As to `RcMut`, that seems like a big enough feature with enough design space that experimenting on crates.io would be good. Or survey what crates already exist, I vaguely recall there’s at least one.

[2022-01-09 18:35] WaffleLapkin commented on #63291
There is [`rc_box`](https://docs.rs/rc-box/latest/rc_box/)

[2022-01-09 18:43] CryZe opened #92696 "Unused variable warning for default trait methods"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a30cffae65480766a5dc1336a5b1a7cf)

[code]

The current output is:

[code]

Ideally the compiler should not emit any warnings as prefixing the parameter with an underscore would negatively affect the documentation and auto generated implementations via an IDE / rust-analyzer.

[2022-01-09 19:01] SimonSapin commented on #63291
I think https://docs.rs/triomphe/0.1.5/triomphe/struct.UniqueArc.html is the one I had in mind

[2022-01-09 19:12] avirule commented on #62358
In my opinion, the latter is confusing—at least, in my opinion, `.contains()` is mostly relevant when working with slices or collections. I've been programming for several years, and I can honestly say I've never desired `.contains()` to take a closure rather than a direct equatable type. This has been consistent through the several languages I've become somewhat familiar with: C++, C#, and Rust.

[2022-01-09 19:29] Kixunil commented on #63291
Is the design space that large though? We can pretty much copy `Box` methods and add efficient conversions to `Rc`/`Arc`. I don't see a reason why would it be different given that it is also an owning pointer - the only difference being the layout.

[2022-01-09 19:50] jpalus commented on #88900
Might this also be the reason why rust 1.57.0 fails to build itself?
[code]

[2022-01-09 20:42] piegamesde opened #92698 "Allow storing `format_args!` in a let binding"
At the moment, we cannot store the result of a `format_args!` in a value:

[code]

The list of confused or annoyed users by this is rather long:

- #42253
- #11838
- #51905
- https://docs.rs/fern/0.6.0/fern/struct.FormatCallback.html
- https://stackoverflow.com/questions/56304313/cannot-use-format-args-due-to-temporary-value-is-freed-at-the-end-of-this-state
- https://users.rust-lang.org/t/using-f

[2022-01-09 21:43] ehuss commented on #67159
@MunchyYDL `#[windows_subsystem]` is only valid at the crate root.  I have posted #92701 to fix the warning for that.

[2022-01-09 22:10] ehuss commented on #92141
Thanks for the report!  This is a duplicate of #90056, so closing in favor of that.

[2022-01-09 22:10] #92141 closed

[2022-01-09 22:24] jackh726 commented on #92280
It's both rude and unconstructive to suggest that issues are not tracked. First and foremost, this is an unstable feature. Second, this issue was filed 15 days ago, right in the middle of holidays. Third, its labeled appropriately, and I'll either triage or fix it when I can.

I'm going to delete the above comment since it's not constructive at all.

[2022-01-09 22:27] timClicks opened #92705 "Using `while if let` triggers an error about mismatched curly brackets"
When refactoring, I accidentally tried to create an `while if let` expression. This caused the parser to give me an error about mismatched brackets. This made it difficult to fix the underlying bug.

Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0d1634b5cce7ef8982ae21e8b1222aef):

[code]

The current output is:

[code]

Ideally, the output shou

[2022-01-09 23:18] gregbuchholz commented on #92676
There's one other difference to notice in the objdumps of the Rust program vs. the [C version](https://github.com/gregbuchholz/thread_local_storage/blob/main/src/c_example/example.c). In the `wasm-objdump -x` on the C example ([output here](https://github.com/gregbuchholz/thread_local_storage/blob/72d01b343894c30081d04791a2af90207c23bedb/other/c_dump-x.txt#L58-L59)), the two thread local variables

[2022-01-09 23:56] Cypher1 commented on #71484
I believe the `.for_each` function provides a side effecting alternative to `.map` (which avoids issues where `.map` is lazy and side effects are dropped.
A few questions:
a) is this equivalence real or is it more complicated than that?
b) if it is real can we use that (to avoid larger changes to code like using 'if's instead of map for option)
c) how would we add this suggestion to the must_use w

[2022-01-10 03:16] jackh726 commented on #92096
So, I think this is ending up into the same problem that causes us trouble with iterator adapters with GATs: we have late bound vars, which get turned into placeholders, and we end up required that `for<'r> C: 'r`. I don't think we can solve this easily.

For a bit more detail on *this* issue: Specifically here, we end up with a generator witness with a type `for<'r, 's> { .., <C as Client>::Conne

[2022-01-10 03:25] est31 commented on #88900
@jpalus yeah looks like it. FTR the commit that fixed it was aca8bcb48feca8c87b9af4e440835992d3f6d470, so you might want to backport it.

[2022-01-10 03:39] #92266 closed

[2022-01-10 03:41] mjbshaw commented on #89780
Drive by comment: I have to disagree with statements that `ready!` is clearer. As someone relatively new to async stuff, I was reading some code that used `ready!`. Later, after some more review, I was surprised to learn that `ready!` affected the control flow of the function. I was not expecting that when I was reading the code. On the other hand, I know `?` will affect the control flow: that's t

[2022-01-10 03:44] vorot93 commented on #92096
Why was this not issue before October nightlies?

[2022-01-10 04:23] tsunrise opened #92708 "Compiler Unexpected Panic: index out of bounds"
### Code
I'm not sure how to produce an minimal example here... but I tried to compile `ark-bcs` crate here: https://github.com/arkworks-rs/bcs/tree/7c8539b

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-10 05:01] pro465 commented on #92280
@jackh726 I forgot what I said before, but if I said something bad, I'm really sorry for that 😞

[2022-01-10 05:28] PatchMixolydic opened #92712 "E0277 reports `const Drop` bounds as `Drop` bounds"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d09a10f586866598cc5f89b96be1ac95)):

[code]

The current output is:

[code]

The diagnostic claims that `UnconstDrop` doesn't implement `Drop`, but it does. The issue is that `f`'s argument has a `~const Drop` bound, `UnconstDrop` does not implement `const Drop`, and the call to `f` was

[2022-01-10 05:41] PatchMixolydic opened #92713 "Poor diagnostic when passing `T: Drop` (nonconst only) to a function that takes `~const Drop` in an inline const"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=901b374f295473813739f5dcf89cb397)):

[code]

The current output is:

[code]

Ideally, the output should be the same as when such a call is made in a `const` item:

[code]

... which can be improved further with the suggestion given in #92712:

[code]

@rustbot modify labels: +A-const-eva

[2022-01-10 06:37] Logarithmus commented on #34651
@davidtwco thanks for your hard work, but where is the stabilization tracking issue? Also can I currently try it on latest nightly?

[2022-01-10 07:39] bjorn3 commented on #34651
You can try it on nightly using `-Csplit-debuginfo`.

[2022-01-10 07:41] davidtwco commented on #34651
You'll also need `-Zunstable-options` for Split DWARF.

[2022-01-10 07:54] MunchyYDL commented on #67159
Ah, yes, my bad, I tricked myself into thinking it worked, but I only started the program from within VS Code, not as a standalone. DOH!

Thanks for clearing that up for me! :)

[2022-01-10 07:58] Nehliin opened #92716 "ICE on stable when trying to bulid latest rust-analyzer release."
I was trying to build the latest rust-analyzer release ([2022-01-10](https://rust-analyzer.github.io/thisweek/2022/01/10/changelog-111.html)) using `cargo xtask install --server` when I ran into this ICE on stable. Note that I am also using `mold` version 1.0.1 as the linker. I have aliased `cargo` to `mold -run cargo`

### Meta
This was not reproducible on the current beta branch:
[code]
It was r

[2022-01-10 08:03] Nehliin commented on #92716
It as not reproducible after running a `cargo clean`. I can then rebuild it on stable.

[2022-01-10 10:00] michaelwoerister opened #92718 "Incomplete/wrong debuginfo for references and pointers to slice-like unsized types"
References and pointers to unsized types are "fat" which means that they hold not just the address of the pointee but also an additional field that contains either the size of the pointee's unsized field (for slice-like pointees) or the addr of the vtable (for trait object pointers).

The compiler generates debuginfo for this additional field in most cases (e.g. for `&[T]` and `*mut [T]`) -- but i

[2022-01-10 10:39] tspiteri commented on #89492
Has a final decision on the name `abs_diff` vs `unsigned_abs_diff` been made? I did have a use case where the input values were pretty small (pixel values with a limited range of 256) but then the output was used in an algorithm that required a larger signed range. In that case overflow was not an issue.

Of course, with no overflow there is no tricky case that requires this method, and `(a - b).a

[2022-01-10 10:42] apiraino commented on #92667
I think this is duplicate of: #92494 (comment suggests will be fixed by #92533), #92477, #92192 (which should be solved by #91921)
(At a cursory check, the stacktraces all look similar)

[2022-01-10 12:45] safinaskar opened #92722 "Docs at doc.rust-lang.org/std have SelfTy instead of Self"
Page https://doc.rust-lang.org/std/keyword.SelfTy.html shows up as `SelfTy` instead of `Self`. This is very confusing.

Possibly related: https://github.com/rust-lang/rust/pull/83678

[2022-01-10 13:17] zheland opened #92725 "`error[E0391] cycle detected when computing` when using `rust_2021_incompatible_closure_captures `"
### Summary

Error <code>error[E0391] cycle detected when computing when `Bar` has a significant destructor</code> occurs
when warn/deny `rust_2021_incompatible_closure_captures` lint on rust beta and nightly with a certain code snippet.
On rust stable, it compiles without any issues. Looks like an issue of rustc (https://github.com/rust-lang/rust-clippy/issues/8258#issuecomment-1008836366).

###

[2022-01-10 13:50] nikomatsakis opened #92726 "Annotate dead-code lint with a note that Debug impls are ignored"
PR https://github.com/rust-lang/rust/pull/85200 modified the dead-code lint so that it ignores Debug impls (and perhaps a few others, I forget) for the purposes of dead-code detection. This is pretty reasonable, but it does create false dead-code warnings when one has structs that exist solely to be debug printed. As evidenced by #88900, users are confused by this in practice.

@pmetzger had a [go

[2022-01-10 13:51] nikomatsakis commented on #92726
cc @FabianWolff, author of #85200 -- would you be interested in taking a look at this?

[2022-01-10 14:44] de-vri-es commented on #89940
This only seems to happen when the `Cow<'a, [Self]>` is the last field in a struct:

For example, this compiles:
[code]

But this does not:
[code]

It almost looks like the compiler is wrongly determining that the second `Foo` is variable sized, and hence can not implement `Clone` and `ToOwned`.

[2022-01-10 15:03] #92128 closed

[2022-01-10 15:03] #92577 closed

[2022-01-10 15:03] #84737 closed

[2022-01-10 15:03] #91201 closed

[2022-01-10 15:03] #91446 closed

[2022-01-10 15:03] #88171 closed

[2022-01-10 15:03] #92634 closed

[2022-01-10 15:03] #92691 closed

[2022-01-10 15:15] whjpji commented on #47680
Hi folks, how is it going now? I recently found this code that failed to compile, either:
[code]

[code]
I don't think the second mutable borrow (line 4) on branch `None` is related to the first mutable borrow (line 2).

[2022-01-10 16:17] pierwill commented on #92052
Is this the relevant code, @camelid?

https://github.com/rust-lang/rust/blob/ec59f5aa3c4adf43089d57b17bf42775b89bb710/src/librustdoc/html/format.rs#L991-L1023

(I've never worked on rustdoc before, so this should be fun!)

[2022-01-10 16:32] ldionne commented on #92173
Hey folks, I'm the person who'd be closest to being in charge of the old `libstdc++.dylib` at Apple. For background information, we only ship `libstdc++.dylib` for backwards ABI compatibility with older applications that were linked against it years ago. If I'm not mistaken, we don't even ship it on Apple Silicon macs anymore.

The right fix would be to always use libc++, since that is (and has be

[2022-01-10 16:40] eholk commented on #92415
This does sound similar to several other issues. Glad to see #92449 seems to fix it.

@rustbot label +AsyncAwait-Triaged +AsyncAwait-Polish

[2022-01-10 16:43] pierwill commented on #92677
@oli-obk @rust-lang/cargo I'm having a hard time understanding how to approach fixing this?

Discussion on zulip went like:

[2022-01-10 16:45] eholk commented on #92308
Thanks for putting up a PR so quickly, @ThePuzzlemaker!

@rustbot label +AsyncAwait-Triaged +AsyncAwait-Polish

[2022-01-10 16:51] ChosunOne opened #92736 "MIRI: vtable not supported on type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-10 16:53] ehuss commented on #92677
I would start looking at the code [here](https://github.com/rust-lang/rust/blob/89b9f7b284aacc5f8613438b80e4dd7bdd10549e/src/tools/tidy/src/deps.rs#L286-L291).  One option is to run `cargo metadata` twice, once for the standard library and once for everything else.  The one for the standard library would use `library/test/Cargo.toml` as the manifest path. It should then resolve features for just t

[2022-01-10 16:57] cuviper commented on #92677
The only difference I see in metadata is `"root": null` versus `"root": "test ..."`, and changing the current directory doesn't seem to affect it either. The tidy check is not using that root, but tries to walk dependencies from its own list of "runtime" crates.

[2022-01-10 17:02] ehuss commented on #92173
I don't think it is linked to libstdc++.dylib

[code]

https://github.com/rust-lang/rust/issues/92173#issuecomment-1000363681 might have been discussing a different project?

[2022-01-10 17:08] theo-lw opened #92737 "rustc emits different binary code when enabling debuginfo=2 at opt-level=0,2,3"
I tried this compiling this code (`mutant_224.rs`) with and without debug info:

[code]

I expected to see this happen: *I expected the .text sections to be same when compiling with and without debug info*

Instead, this happened: *the .text sections are different. See below on how to recreate the difference.*

<details>
  <summary>opt-level=3</summary>

[code]
</details>

<details>
  <summary>opt

[2022-01-10 17:36] hoodmane opened #92738 ""unknown file type lib.rmeta" when compiling Emscripten side module"
When compiling an Emscripten side module as follows:
[code]
I get the error
[code]
This error occurs so long as `emcc` is invoked to link at least one `.rlib` file. I am using
[code]
I have tested that the error occurs with both emscripten v3.1.0 and emscripten v2.0.16. I have had success with patching the emscripten linker to run `ar -d some_library.rlib lib.rmeta` to fix this.

I am compiling `l

[2022-01-10 17:36] camelid commented on #92052
Hmm, I don't think that's it. I _think_ the relevant code is at the top of `render_impl_summary`:

[code]

though there's also `get_id_for_impl_on_foreign_type`, which uses a form of semantic disambiguation that you may want to re-use.

[2022-01-10 18:14] ehuss commented on #92677
Oh, hm, I forgot that the resolve was forced to be workspace-wide.

I don't think the information can be extracted from cargo at this time.  You may need to add an exception here, and clearly document it.

Or.  It looks like the license for crossbeam-queue has been changed.  Would it be possible to update rustc-rayon-core to use crossbeam-queue 0.3?

[2022-01-10 18:18] lambinoo commented on #82064
Partially closed by rust-lang#87487
except for `Impl` items and `Reachable` visibility which requires access to type information that are not available in rustc_resolve.

[2022-01-10 18:18] lambinoo commented on #64762
Closed by #87487

[2022-01-10 18:19] cuviper commented on #92677
Oh, hmm, I can probably do that.

Really that fork needs a rebase onto current rayon-core, which doesn't even use `crossbeam-queue` at all, but that's a bigger ask since a lot of the core code changed significantly. Maybe I can just cherry-pick that part of the dependency changes.

[2022-01-10 18:53] joshtriplett commented on #66079
What happens if there's a name conflict between a registered tool and a crate that might have an attribute macro in it? Does the macro still take effect? Does the name conflict get reported as an error?

[2022-01-10 19:06] #64762 closed

[2022-01-10 19:10] camelid commented on #92722
Yeah, it's unfortunate, but it's intentional. It's a hack to fix an issue when installing docs.

[2022-01-10 19:10] #92722 closed

[2022-01-10 19:10] lambinoo commented on #91161
@rustbot claim

[2022-01-10 19:31] ehuss commented on #64775
Closing, as I believe this was fixed via #65294.

[2022-01-10 19:31] #64775 closed

[2022-01-10 19:36] ehuss commented on #92696
I believe this is a duplicate of #64723, #26487, and #14027.  Per https://github.com/rust-lang/rust/issues/26487#issuecomment-169828205, it sounds like the lang team would prefer to not make this change.

[2022-01-10 19:37] lilyball commented on #92173
I agree, this issue showed up in Rust built via Nix (https://github.com/NixOS/nixpkgs/issues/144704) and the build setup there uses `libc++` on macOS.

[2022-01-10 19:40] ChrisGreenaway opened #92739 "Unwrap panic in def_path_hash_to_def_id in OnDiskCache"
### Code

There's a lot of code in my project. I can't readily produce a minimal example. However, it was compiling fine then I renamed one type and got this error consistently. Changing the name of the type back to the original fixed the problem. Changing back to the new type name - the problem came back.

I ran `cargo clean` and that fixed it - even with the new type name.

### Meta

`rustc --ve

[2022-01-10 19:52] smoelius commented on #66079
I did a quick test with the following code:
[code]
As-is, the `logfn` macro takes effect.

However, if you uncomment the `use` declaration, you get:
[code]

[2022-01-10 19:53] compiler-errors opened #92741 "Newlines make diagnostic fix suggestions render strangely"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d8ed87e0b927cb41a13a21ab95489756)

[code]

The current output is:

[code]

### What's wrong

The suggestion looks weird, seeming to suggest removing `&` and replacing it with a duplicate of the line that follows it.

The actual fixup'd code (via `cargo fix`) isn't actually broken. `cargo

[2022-01-10 19:59] camelid commented on #92741
cc @estebank -- I think you wrote the code that generates these diffs?

[2022-01-10 20:15] joshtriplett commented on #66079
@smoelius Treating it as ambiguous seems like a great outcome here, since the tool could provide arbitrary attributes and the compiler doesn't know what it might provide. Thanks for testing!

[2022-01-10 20:16] joshtriplett commented on #66079
Nominating this for lang review. I think we'll want to FCP this, but I think it looks reasonable.

[2022-01-10 20:22] smoelius commented on #66079
Sorry, @joshtriplett, I should have been more clear. I think you spotted a bug in the implementation.

With the `use` declaration commented out, no ambiguity is reported.

In other words, I think perhaps this line ought to trigger such an error, though it doesn't currently:
[code]

[2022-01-10 20:26] SimonSapin commented on #66079
IIRC this feedback was against *rustc* command line options as the *only* interface, since they are not easy to set when using Cargo. See https://github.com/rust-lang/cargo/issues/5376

[2022-01-10 21:22] pierwill commented on #92052
Could we do something as naive as this, as a starting point?

[code]

[2022-01-10 21:30] camelid commented on #92052
Perhaps. It's hard to know without seeing the results.

I'm not sure I understand what you mean.

[2022-01-10 22:35] david-perez commented on #90850
Should these be added to `std::error::Error` too?

[2022-01-10 22:40] hube12 opened #92749 "ICE: index out of bound in dep_graph"
I can not provide the code as this is a private project, this came after a single line change, I have yet to pin it down, seems my project might be too large (about 1000 crates dependencies)

### Error output & Backtrace

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-01-10 22:41] ChrisDenton opened #92750 "Tracking Issue for `std::path::absolute`"
Feature gate: `#![feature(absolute_path)]`

This is a tracking issue for `std::path::absolute` for making relative paths absolute without touching the filesystem. It is a drop-in replacement for `std::fs::canonicalize`.

### Public API

[code]

### Steps / History

- [x] Implementation: #91673
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

* on Windows this is c

[2022-01-10 22:43] hube12 commented on #92749
This compiles fine on 1.57.0 stable

[2022-01-10 23:00] ChrisDenton commented on #92750
Ok, so cards on the table. My personal motivation is to expose the Windows function [GetFullPathNameW](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getfullpathnamew) (or something similar) into the standard library in a way that can be used cross-platform. This is already used by the standard library for making verbatim paths (absolute paths that aren't limited by `MAX_PAT

[2022-01-10 23:30] scottmcm commented on #70887
Naming feedback: in https://github.com/rust-lang/rust/pull/92747#discussion_r781648604 someone was surprised that `log2` was just the integer part.  That could potentially have been avoided had the method been `ilog2` instead (or, generally, something emphasizing that this is the integer logarithm).

[2022-01-10 23:39] Aaron1011 commented on #92749
This should be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-01-10 23:48] camelid commented on #91759
Thanks Nemo! The only thing blocking this now is my "breakage" concern. Is everyone okay with the breakage this change will cause?

@rfcbot concern anchor formatting

The one other concern I might propose is the choice of formatting for the anchor prefixes. Should they (roughly) match their parent, e.g., `#method.foo.my-anchor-here`? Or should they be just based on namespaces, e.g., `#v.foo.my-anc

[2022-01-11 00:01] estebank commented on #92741
I did. I guess what we could do is detect this case in particular and show only the `2 -     &` part.

[2022-01-11 00:07] camelid commented on #92741
@rustbot claim

Perhaps I'll try this out :)

Which part of the code would need to be changed to only show the `- &` line?

[2022-01-11 00:50] cuviper commented on #91671
I was just debugging rayon-rs/rayon#911 that also bisected to the cargo update in #89802, which led me to this issue. This is another case of rustdoc + LTO failure, but instead of a compiler crash I've got bad codegen that crashes at runtime. I'm hoping it's the same root cause in LLVM that we're both looking for, so maybe that different angle will help.

[2022-01-11 01:01] tmandry commented on #70651
FYI there's been some [discussion of experimenting with miri on Fuchsia](https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=88691), and transitioning miri to an always-green subtree is one of the primary blockers.

[2022-01-11 01:03] clarfonthey opened #92751 "`unused_parens` doesn't fire for match arms"
Minimal example:

[code]

I would expect that the `unused_parens` lint fire for the `broken` function, but it does not. Compare this to the `works` function, where it does. This can potentially show up when refactoring a function, e.g. if converting to the above from:

[code]

This could arguably be a formatting issue, as some people might like to split things on multiple lines like:

[code]

Howe

[2022-01-11 01:28] petrochenkov commented on #66079
@smoelius
This is not a bug, this is usual shadowing rules, all prelude layers are walked in some order when looking up names, and extern crates are looked up first in that order.
See `fn visit_scopes` for the whole list of those layers (scopes).

[2022-01-11 01:30] Cryptex-github commented on #92145
@rustbot label +F-let_chains +T-compiler +requires-nightly

[2022-01-11 01:57] smoelius commented on #66079
@petrochenkov Thank you for clarifying.

[`visit_scopes`](https://github.com/rust-lang/rust/blob/89b9f7b284aacc5f8613438b80e4dd7bdd10549e/compiler/rustc_resolve/src/lib.rs#L1724) - for anyone else confused by this.

[2022-01-11 01:58] ibraheemdev commented on #90850
I don't see how that would be useful. You generally don't know the concrete type of an error before downcasting.

[2022-01-11 02:38] amehsan commented on #80630
I have not looked into this test case (just saw this issue today), but the limitation that you have mentioned here is not hard to fix. We will look into it and get back to you

[2022-01-11 03:10] djdisodo opened #92753 "using auto_traits and negative_impls, compiler seems failing to find matching implementation"
I tried this code:

[code]

I expected this code to compile

but it doesn't

error message:
[code]

i'm linking to rust playground so you can't quote out some code except for the code you are going to test

[rust playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9a94d24a922820e90ff420f3cf35d362)

### Meta

`rustc --version --verbose`:
[code]
tested on rust playgr

[2022-01-11 03:12] joshtriplett commented on #66079
That seems potentially confusing, since rustc doesn't know what's valid and not within the namespace of a registered tool. Shouldn't this be treated as a name ambiguity, at least if the names are introduced in the same scope?

[2022-01-11 04:13] mfrw commented on #92563
@rustbot claim
Let me take a stab at it :)

[2022-01-11 05:06] msshhp opened #92755 "no MIR available for DefId"
EDIT (ehuss) Reproduction:
Clone https://github.com/bytecodealliance/wasmtime
`cd crates/cranelift`
`cargo build`

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-11 05:24] indiv0 opened #92757 "no MIR available for DefId"
### Code

This bug occurs while compiling the latest `wasmtime-cranelift` and unfortunately I didn't have much success minimizing a 500k LOC (expanded) rust file :P

Problematic commit: https://github.com/bytecodealliance/wasmtime/tree/1ef0abb12c1978a96b2dd7299390dbe204a138d7

### Meta

The error occurs on `nightly`, but not on `stable` or `beta`.

Nightly:
[code]

Beta:
[code]

Stable:
[code]

##

[2022-01-11 05:30] HTG-YT commented on #92757
Possible duplicate of #92755.

[2022-01-11 06:13] jeremysalwen commented on #88252
I am hitting this crash with the latest nightly and https://reviews.llvm.org/D114611 applied (as well as the CONFIG-0000 and LLVM-0001 patches from https://gitlab.com/snowgoonspub/rust-avr-nightly-builder/-/tree/main/patches applied). I was able to compile rustc with debug info and get the following stack trace:

Command Line:
[code]

Stack Trace:
[code]

[2022-01-11 08:22] inquisitivecrystal commented on #92725
Bisects to #90845, CC @JakobDegen.

[2022-01-11 08:36] JakobDegen commented on #92725
Oops. Yeah, i read the error message and immediately knew what was going on. I can hopefully get a patch up for this tomorrow.

@rustbot claim

[2022-01-11 09:06] hkratz commented on #39364
If anyone is looking at this anew the description from @oberien in https://github.com/rust-lang/rust/issues/39364#issuecomment-381446873 and their deterministic reproducer is probably the best start:
[code]

[2022-01-11 09:21] QuineDot commented on #87272
This is part of a larger pattern where given
* A direct trait bound `Tr` which is required, and
* A blanket implementation for `Tr` which is in turn bound on another trait `B`

The diagnostics will suggest adding a bound on `B` instead of a bound on `Tr`.  The suggested bound may work in some cases, but is not the most general suggestion, as there may be implementers of `Tr` that are not `B`.

For

[2022-01-11 09:40] Elrendio opened #92759 "Panic when renaming a struct within VSCode"
### Code
My crate has around 20k lines of code so it's kinda complicated to provide a minimal example right now. FYI what happened was:
- I was running `cargo watch` on my terminal
- In vscode I used the functionnality of rust-analyzer (extension `matklad.rust-analyzer`) to rename a struct (from `ContextualData` to `Source`)
- `cargo watch` panicked and subsequent `cargo check` too
-  I went to my

[2022-01-11 10:08] GuillaumeGomez commented on #91759
What is the `v` in `v.foo...`? But otherwise, either way is fine to me. The second has the advantage to be smaller though.

[2022-01-11 11:20] phip1611 opened #92760 "LLVM Error with "soft-float": Do not know how to split the result of this operator"
I can't compile the [`fontdue`-crate](https://github.com/mooman219/fontdue/issues/98) because it fails with: `LLVM ERROR: Do not know how to split this operator's operand!`

I compile it with: `cargo rustc -- -C target-feature=+soft-float,-sse,-sse2,x87 --emit=llvm-ir`

This happens with different compiler versions, independent of stable or nightly versions. I tested to build the dependencies of `

[2022-01-11 11:44] iago-lito commented on #70887
Random thought here.. now that we have these, is it possible to have something like `Integer::log<N>` implemented?

[2022-01-11 11:48] dvdplm opened #92761 "ICE when compiling `wasmtime-cranelift`"
Unfortunately I have not been able to produce a smaller sample than compiling all of https://github.com/paritytech/substrate – not even the crates using wasmtime (both `sc-executor-wasmtime` and `sp-wasm-interface` compile fine on their own).

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-11 11:49] gilescope commented on #92755
We are seeing this too on rustc 1.60.0-nightly (89b9f7b28 2022-01-10) running on aarch64-apple-darwin

[2022-01-11 11:55] AlexanderKovtuh opened #92762 "could not compile `wasmer-compiler-cranelift`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-11 11:55] dvdplm commented on #92761
Likely a duplicate of https://github.com/rust-lang/rust/issues/92755

[2022-01-11 12:01] HeroicKatora commented on #69099
To expand on my original use case, consider an embedded network stack. More
specifically, a routing table in an almost static network, that is changing
infrequently (i.e. statically configured). This table will contain addresses of
some relevant remote machines, and is initialized by state machines that
discover those remotes in the network and insert their addresses and paths to
the table. For re

[2022-01-11 12:18] hkratz commented on #92760
@phip1611 Quick question: Why do you use +soft-float with +x87? What do you expect floating-point code to be compiled to?

[2022-01-11 12:20] CryZe commented on #92762
Duplicate of #92755

[2022-01-11 12:29] phip1611 commented on #92760
Sorry, typo I made here on GitHub. It's `-x87`

[2022-01-11 12:51] edmorley opened #92763 "Add `rustdoc --check` to rustdoc's docs"
Support for `rustdoc --check` was added in #78984, and it can be seen in the output from `rustdoc --help`:

[code]

However there is no mention of it on:
https://doc.rust-lang.org/rustdoc/command-line-arguments.html

Which is built from:
https://github.com/rust-lang/rust/blob/e4b1d5841494d6eb7f4944c91a057e16b0f0a9ea/src/doc/rustdoc/src/command-line-arguments.md

[2022-01-11 12:53] GuillaumeGomez commented on #92763
Thanks for opening this issue! Want to send a PR for it maybe? :)

[2022-01-11 13:09] mortendahl commented on #66751
Is any work being done on this? I'm running into the same issue.

[2022-01-11 13:23] ssomers opened #92765 "drain() doc of vector (and others) is still unclear"
The description of [Vec::drain](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.drain):
- states that it "creates a _draining_ iterator", leading to expectations that each iteration drains one element, that stopping the iteration should drain fewer elements because iterators are lazy (witnessed in #43244). The rest of the description counters that expectation, but by saying "**when** the

[2022-01-11 13:29] edmorley commented on #92763
Comparing `rustdoc --help` and that docs page, I see a few other inconsistencies. It seems that having the page be auto-generated might be more sustainable longer term?

I can open a PR for this instance in the meantime, however.

[2022-01-11 13:30] edmorley commented on #92763
Hmm all of these are missing too:

[code]

I think I might skip a PR for now, since really the whole doc needs careful review.

[2022-01-11 13:31] GuillaumeGomez commented on #92763
I'm not sure auto-generated would work nicely... The best would maybe to add a check for it like we do for a few other things.

That would be very appreciated!

[2022-01-11 13:46] Patrick-Poitras commented on #92755
@rustbot label +I-prioritize

[2022-01-11 14:40] jendrikw commented on #89692
I think an annotation would be useful on `slice::get`.

[2022-01-11 14:57] ehuss commented on #92762
Thanks for the report!  This is all likely the same issue, so closing as a duplicate of #92755.

[2022-01-11 14:57] #92762 closed

[2022-01-11 14:57] #92761 closed

[2022-01-11 14:58] ehuss commented on #92757
Thanks for the report!  This is all likely the same issue, so closing as a duplicate of #92755.

[2022-01-11 14:58] #92757 closed

[2022-01-11 15:24] Aaron1011 commented on #92759
This should be fixed in the latest nightly

[2022-01-11 15:26] fee1-dead opened #92766 "Modifying a single subpattern in match changes MIR dramatically"
This is originated from `~const Drop`, but is applicable to non-const functions as well. The problem is best seen as the MIR output for two implementations of `Result::ok` with a minor change: ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a208ee8b303c7a3cf2685ad9f259c8f8))

[code]

I won't post the whole MIR output here, but let me illustrate this issue with a han

[2022-01-11 15:27] ehuss commented on #92755
cc @lambinoo @petrochenkov This seems to have regressed starting with #87487.

[2022-01-11 15:38] Manishearth commented on #91759
`value`, since rust has `value`, `type`, and `macro` namespaces. But the namespaces don't matter here, for associated stuff it's all the same namespace, I _think_.

[2022-01-11 15:57] ojeda commented on #63567
AFAICT, no PR was sent for this. Sending one for the `maybe_uninit_extra` bit.

[2022-01-11 16:16] lambinoo commented on #92755
I'm taking a look

[2022-01-11 16:23] eutampieri opened #92769 "Cannot build with -Z instrument-coverage"
I tried to compile [this crate](https://github.com/eutampieri/satispay.rs) with `RUSTFLAGS="-Z instrument-coverage" cargo build`.

I expected to see this happen:

The crate builds, possibly with LLVM instrumentation

Instead, this happened:

The crate doesn't build at all

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

I'm buildin

[2022-01-11 16:45] jsha commented on #91759
This is my preferred approach.

[2022-01-11 16:47] GuillaumeGomez commented on #91759
Let's go for the expanded name then? It's currently how it's implemented in any case so less work for me. :3

[2022-01-11 16:57] ChrisDenton commented on #92750
I feel this is mistaken. On Windows, when you pass a path to `File::open` or other `fs` operation, there is a fair amount of parsing done to get the "real" absolute path which is then passed to the kernel. It is often desirable to know exactly what path is actually being used to avoid surprises.

Here are some examples of the potential differences between using `absolute` and `join`. I'm using `cm

[2022-01-11 17:05] zhiburt opened #92770 "Unexpected `Option::unwrap()` on cargo test"
Hi there

I was running `cargo test` and got a `unwrap` panic.
It did happen repeatedly until `cargo clean` was run.

I'd like to notice that cargo build worked with no issues.

Happy 2022

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-01-11 17:24] jsha opened #92771 "Horizontal overscroll on iOS"
Steps to reproduce:

1. Visit e.g. https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html or https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html on an iPhone in Safari.
2. Press the screen and drag left or right.

Expected result:

No left-right scrolling happens.

Actual result:

Browser applies the "overscroll" effect horizontally, letting the scroll go past the edge of the screen,

[2022-01-11 17:28] Alexendoo commented on #85447
Fixed by #92248

[2022-01-11 17:29] #85447 closed

[2022-01-11 17:33] M1ngXU commented on #92708
just had the same problem with my own crate, also using nightly and having issues with a 'type' and a index out of bounds

[2022-01-11 17:44] scottmcm commented on #91759
Yeah, there's a couple weird cases here -- see https://github.com/rust-lang/rust/issues/76347 for example.

[2022-01-11 17:54] lambinoo commented on #92755
I can reproduce and I did find some differences in the access level table.
`get_srclocs_sorted` seems to be missing when it's supposed to be Reachable in the good version. I'll investigate further

[2022-01-11 18:08] maxpowel opened #92772 "error: could not compile #1 [privacy_access_levels] privacy access levels"
The output was:

[code]
With RUST_BACKTRACE=1
[code]
and the lsb_release -a is
[code]

The code I tried to compile:

`main.rs`
[code]

`insert.rs`
[code]
Cargo.toml
[code]

and then:
`cargo build`

At line 7 ofr main.rs `insert::insert();` I forgot the await so the compiler should display some kind of error. If you try to compile it fixing the code `insert::insert().await?;` it compiles perfectly.

[2022-01-11 18:22] 5225225 opened #92773 "Incremental compilation ICE: Illegal read of 61996 in query system `dep_graph/graph.rs:430:25`"
This is an incremental compilation ICE, I found it when running `cargo test` on the Rocket repo (https://github.com/SergioBenitez/Rocket/commit/8cae077ba1d54b92cdef3e171a730b819d5eeb8e), though I've seen it happen on other repos, so I don't think it's anything specific to rocket. It goes away when I `cargo clean`.

### Meta

`rustc --version --verbose`:
[code]

###

The output stack trace is *long

[2022-01-11 18:35] bjorn3 commented on #92738
The linker should skip `lib.rmeta` as it isn't an object file. Normally this happens automatically. I don't know why this doesn't happen here.

[2022-01-11 18:42] jamesmunns opened #92776 "Inconsistent availability of constant fields as const generic values"
I tried this code:

[code]

I expected to see this happen:

I expect all uses of `EXAMPLE.foo` to be acceptable

Instead, this happened: `let y: Wow<EXAMPLE.foo> = Wow::new();` is rejected with the following error:

[code]

### Meta

This is present in the current stable (1.57.0), as well as the latest nightly (1.60.0 2022-01-10)

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-11 18:42] #92522 closed

[2022-01-11 18:46] camsteffen opened #92777 "Docs for primitive type helper modules should stay in their lane"
Summary of primitive types with corresponding std modules:

| Primitive type | `std` module | `std` module docs first line |
| --- | --- | --- |
| [array] | [std::array] | Helper functions and types for fixed-length arrays.
| [char] | [std::char] | A character type.
| [slice] | [std::slice] | A dynamically-sized view into a contiguous sequence, [T].
| [str] | [std::str] | Unicode string slices.
|

[2022-01-11 18:48] jamesmunns commented on #92776
As a quick update, this DOES work when adding curly braces:

[code]
So I suppose this might be considered a diagnostics bug instead/as well.

[2022-01-11 18:55] Aaron1011 commented on #92773
This is a duplicate of https://github.com/rust-lang/rust/pull/92533

[2022-01-11 18:57] jkugelman commented on #89692
I agree. I don't plan to submit any further PRs so you're welcome to do so.

[2022-01-11 18:57] joshtriplett commented on #66079
We discussed this in today's @rust-lang/lang meeting.

We felt like if this is going to be stabilized, it needs to have a clear specification, either in the form of an RFC, or at least more detailed documentation than the current PR to the reference.

In particular, the story for `register_tool(xyz)` and name conflicts with a dependency crate `xyz`, would be helpful to have clarification on.

We'r

[2022-01-11 19:01] Aaron1011 commented on #92772
Duplicate of https://github.com/rust-lang/rust/issues/92163. This should be fixed in the latest nightly.

[2022-01-11 19:01] #92772 closed

[2022-01-11 19:14] cmpute commented on #50133
Does it make sense to let the compiler prefer a more strict implementation than looser one? For example, when two implementation of the same trait on a potentially conflict type, choose the more restricted one rather than preventing a new implementation.

Lets say we implement `impl<U> TryFrom<U> for SomeType`, since here we have a specific/specialized type for T in `impl<T, U> TryFrom<U> for T`,

[2022-01-11 19:29] hamon98 opened #92779 "Internal Compiler Error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
Compiling wasmer-engine-dylib v2.1.1
   Compiling wasmer-engine-universal v2.1.1
error: internal compiler error: compiler/rustc_monomorphize/src/collector.rs:966:9: no MIR available for DefId(20:9953 ~ cranelift_codegen[5733]::machinst::buffer::{impl#3}::get_srclocs_sorted)

thread 'rustc' panicked at 'Box<dyn Any>',

[2022-01-11 19:29] ckaran commented on #50133
@cmpute As I understand it, you've just described the [specialization](https://github.com/rust-lang/rust/issues/31844) feature that has been on nightly since forever.  It exists, but (again, as I understand it), there are issues that have so far prevented it from landing on stable.

[2022-01-11 19:54] cuviper commented on #73820
I found that Clang supports this by adding LLVM module flags, "cf-protection-branch" and "cf-protection-return". At a first attempt at hard-coding these, it does seem to work, producing a binary with this note:

[code]

I'm still testing, but if this works I'll see about a `-Z` option for it. I think it will need to be enabled by default to be useful.

[2022-01-11 20:01] camelid commented on #92766
`_` patterns in general have special behavior, so it's not totally surprising that changing `_` to `_x` leads to MIR changes. By the way, it'd help understanding the issue if you renamed some of the variables so they're not all named `x` ;)

[2022-01-11 20:14] siebenmann opened #92782 "ICE while compiling rust-analyzer's ide_assists crate"
### Code

I am doing `cargo xtask install --server` on [rust-analyzer](https://github.com/rust-analyzer/rust-analyzer) at the current git tip, which right now `git describe --tags` calls 2022-01-10-16-g54782428a. This ICE also happens at the 2022-01-10 tag. It appears to happen while building ` ide_assists`. I appear to get several ICEs in a row, either from multiple threads or from multiple crate

[2022-01-11 20:22] Aaron1011 commented on #92782
This should be fixed in the latest Nightly

[2022-01-11 20:31] rrokkam commented on #89492
The difference is that `(a - b).abs()` panics with underflow when `b > a`, and when `b <= a` the `abs()` call does nothing.

`a.abs_diff(b)` does not panic when `b > a`.

[2022-01-11 20:41] saethlin opened #92786 "Miscompilation in unoptimized builds on aarch64 with 1.57.0"
Minimized from a program @jfro was trying to debug.
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Meta
I see this on aarch64 and not on x86_64. I don't have access to any other architectures. Output is as expected with `--release`. I can also observe this bug on the previous stable (1.56.1), current beta (1.58.0-beta.3) and current nightly (

[2022-01-11 20:45] jfro commented on #92786
Was able to also test Rust 1.53 & 1.55, both perform as expected and show i: 0

[2022-01-11 20:55] inquisitivecrystal commented on #92755
Marking as `P-critical`, as [discussed by the prioritization working group](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392755.20rustc.201.2E60.2E0-nightly.20.2889b9f7b28.202022-01-10.29.20unexpect.E2.80.A6).

[2022-01-11 21:02] inquisitivecrystal commented on #92786
@jfro Are the numbers printed the same every time or do they vary?

[2022-01-11 21:03] jfro commented on #92786
Consistently `536870900` on the problem arch & compilers

[2022-01-11 21:11] Aaron1011 commented on #92770
This is fixed on the latest nightly

[2022-01-11 21:28] zhiburt commented on #92770
Then I  guess it can be closed?

[2022-01-11 21:39] inquisitivecrystal commented on #92786
Thanks. The reason I was asking is that, if you're reading invalid memory, the result is usually random. Since this result is consistent, something else is probably going on.

[2022-01-11 21:50] mdibaiee commented on #92662
@camelid just saw this, I think might be caused by this change:

https://github.com/rust-lang/rust/pull/92443/files#diff-53e2bb31a1a4804925f22caf5a4844d0b6ffc9f7f307d93ef6098d62381a5085R891

I'm looking into it 🤔

[2022-01-11 21:58] jsha commented on #92771
Here's an example of an item that exceeds the horizontal bounds in mobile mode: https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.try_find

The `Residual<Option<Self::Item>>>::TryType` part of the type signature is too wide for the window but doesn't get wrapped. Adding overflow-wrap: anywhere fixes it.

[2022-01-11 22:00] nikic commented on #92786
For the sake of convenience, could you please provide the `--emit=llvm-ir` output for this program?

[2022-01-11 22:06] ids1024 opened #92789 "`could not find markdown in source` in `cargo doc` from comments in proc macro"
Invoking this proc macro and running `cargo doc` rusults in a crash the the error `could not find markdown in source`:

[code]

If this code were written directly rather than generated by a proc macro, this would produce `warning: this URL is not a hyperlink`. But I guess when it goes through a proc macro it can't generate correct span information for the warning and crashes.

I originally noticed

[2022-01-11 22:07] jfro commented on #92786
here you go:
[main.ll.zip](https://github.com/rust-lang/rust/files/7850162/main.ll.zip)

[2022-01-11 22:08] shepmaster opened #92790 "dead_code lint does not trigger for tuple structs with unread fields"
This code:

[code]

Produces this warning:

[code]

However, switching to a tuple struct:

[code]

Does not report a warning.

<details>
<summary>Original report misleadingly focusing on <code>Debug</code></summary>

[code]

produces

[code]

However, switching to a tuple struct:

[code]

does not produce the warning.

/cc @FabianWolff
/cc #85200; #84647; #88900

</details>

### Meta
Rustc 1.57.0

[2022-01-11 22:11] kjvalencik commented on #92786
It might be a coincidence but `536870900` is `i32::MAX / 4` (4 bytes in 32-bits) and rounded to the `f32`.

[2022-01-11 22:18] yaahc opened #92791 "Tracking Issue for `thin_box`"
Feature gate: `#![feature(thin_box)]`

This is a tracking issue for `ThinBox` for making heap allocated DSTs which only occupy 1 pointer on the stack.

### Public API

TBD

### Steps / History

- [ ] Implementation: #https://github.com/rust-lang/rust/pull/90066
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-11 22:47] FabianWolff commented on #92790
This has nothing to do with the `#[derive(Debug)]`:
[code]
[code]
but
[code]
gives no warning.

[2022-01-11 22:49] durin42 opened #92794 "llvm_asm!() with indirects broken on LLVM 14"
This broke at LLVM change bec726f5d20ecfdc4a1cd4076ddc6edb35a317e5 - I've spent some time poking at it but it looks like it may require the attention of someone a little more familiar with inline assembly than me. Basically we need to explicitly emit the elementtype(TYPE) attribute for each indirect argument of an inline assembly call. That's mostly easy for outputs, but for inputs I think it's go

[2022-01-11 23:00] erikdesjardins commented on #83139
Note: the underlying issue has been fixed upstream, see https://github.com/llvm/llvm-project/issues/48944#issuecomment-1007509156.

(Once LLVM 14 is released with those changes, I will revisit enabling inline asm stack probes on x86.)

[2022-01-11 23:08] PatchMixolydic opened #92796 "Unconditional recursion in a `const fn` produces a massive diagnostic"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=254423b9c4227b5abdbd52f39176a2b4)):

[code]

The current output is:
<details>
<summary>Massive diagnostic</summary>

[code]
</details>

Ideally, the duplicate lines should be hidden:

[code]

@rustbot modify labels: +A-const-fn +D-verbose

[2022-01-11 23:41] JanBeh opened #92798 "GAT: Surprising lifetime mismatch / mismatched types (depending on GAT being Sized)"
I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d9e5927512baaf6492554e4e191a8c6b))

I expected the code to be valid.

Instead, I got the following compiler error:

[code]

### Meta

On Playground with version:
[code]

But error also happens on my local machine with:
`rustc --version --verbose`:
[code]

### Further info

Maybe this

[2022-01-11 23:42] shepmaster commented on #92790
@FabianWolff oh dear. Thanks! I've updated the title and original post; sorry for the false ping.

[2022-01-11 23:48] kjvalencik commented on #92786
I'm able to reproduce with `cargo run`, but if I emit the IR and then compile it with `clang`, I do not see the issue.

[2022-01-11 23:56] JanBeh commented on #87479
I'm getting an (unexpected) compiler error which refers to this issue:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9490e4b2a3425b1bb58348f61968f28c))

Errors:

[code]

Is this compiler error related to the this issue? What I actually want to do is the following (workaround provided as comments), which also does not compile:

[code]

([Playground]

[2022-01-12 00:06] camelid commented on #92790
Not a regression AFAIK, but seems like worth prioritizing.

[2022-01-12 00:10] theo-lw commented on #92737
@rustbot label: +A-debuginfo +T-compiler +A-codegen

[2022-01-12 00:25] shepmaster commented on #92790
I agree. I did a quick test across Rust 1.{0,10,20,30,40,50}.0 and none of them reported the lint.

[2022-01-12 00:28] camelid commented on #92790
Thanks for checking!

[2022-01-12 01:19] FabianWolff commented on #92790
This behavior does indeed date back to the very beginning of the detection of dead struct fields (commit https://github.com/rust-lang/rust/commit/0271224bdae26260ab498f47323997f9edb5879e in 2014). The culprit is line 621 in `dead.rs`:
https://github.com/rust-lang/rust/blob/72e74d7b9cf1a7901650227e74650f1fcc797600/compiler/rustc_passes/src/dead.rs#L618-L625

Commenting out this line with the above

[2022-01-12 01:19] compiler-errors commented on #92796
@rustbot claim

[2022-01-12 01:36] smoelius commented on #66079
Thanks for recounting, @joshtriplett.

[2022-01-12 02:12] camelid commented on #92790
I can't think of one, so opening a PR seems good.

[2022-01-12 02:19] jsha commented on #92682
Also, relatedly: Clicking a link in the sidebar that goes to the same doc (for instance, methods on a struct page) should close the sidebar.

[2022-01-12 02:21] jsha commented on #86012
Fixed!

[2022-01-12 02:21] #86012 closed

[2022-01-12 02:40] najamelan commented on #70887
Isn't this inconsistent with other operators? We don't seem to have `idiv` to indicate division is going to floor. I had the impression it always depends on the type you call it on and since rust doesn't allow any mixing of types in arithmetic, I'm forced to always be very conscious off them.

This one is not generic, but should get you the result you want: https://doc.rust-lang.org/std/primitive.

[2022-01-12 03:42] ehuss commented on #92779
Thanks for the report!  I'm going to close as a duplicate of #92755.

[2022-01-12 03:42] #92779 closed

[2022-01-12 04:09] nbdd0121 commented on #92766
I think this is expected. In `bind_to_variable` case the enum is completed destructured and thus `res` is uninitialized at the end of block and thus drop elaboration won't generate drop code. In the wildcard case though the `Err(_)` arm wouldn't move the error, so at the end of block `res` is "maybe initialized" so the drop elaboration would have to add a switch to drop it.

[2022-01-12 04:13] fee1-dead commented on #92766
I'm not saying this is unexpected, but wouldn't it make more sense to change this specific case to all use the second control flow? It then wouldn't cause errors in const fn saying that destructors cannot be run at compile time because dropping `Result<T, E>` could mean dropping `T` and we only want to bound `E: ~const Drop`.

[2022-01-12 04:22] nbdd0121 commented on #92766
It might make sense as an optimisation. But even with precise_enum_drop_elaboration we've had #90752, so I am not sure that this optimisation should happen before const drop check even if we have it.

cc @ecstatic-morse who's more knowledgeable in this area.

[2022-01-12 04:56] shaybarak opened #92809 "`rustc -Cprefer-dynamic=yes -Cprefer-dynamic=no` equivalent to `rustc -Cprefer-dynamic=yes`"
The `prefer-dynamic` flag has the values "yes" and "no", or if unspecified then it's implicitly "yes".

It's often expected to be able to invoke a tool such as rustc with multiple conflicting values, where it's expected for the last value given to take effect. This can be useful for instance in build systems where a common rule defines default flags to pass to rustc, and then some users add additi

[2022-01-12 05:10] ecstatic-morse commented on #92766
I'd have to look at drop elaboration again to see what exactly is going on. Presumably dropping the whole `Result` even though we've just checked the discriminant makes codegen easier when there's more than two enum variants.

I still think it's valuable to make pre-const-check drop elaboration more precise when possible. It's bad UX when `rustc` demands that you write an unnecessary bound for a t

[2022-01-12 06:03] ehuss commented on #92809
rustc should be using the last option on the command line.  Can you provide some more details on why it appears that it is using an earlier one?

[code]

[2022-01-12 06:17] petrochenkov commented on #66079
Meh, we have local variables shadowing each other and items, items shadowing dependency crates, almost anything potentially shadowing anything else in all namespaces, but when any new source of names is introduced there are always concerns "what if shadowing is bad, let's prohibit it in *this specific case*".

We shouldn't add such random artificial restrictions, IMO (and should relax the restrict

[2022-01-12 06:45] petrochenkov commented on #82064
@lambinoo
I'll keep this open until the `update_reachability_from_macro` stuff is moved to resolve.
Unlike `Impl` items it shouldn't need access to type information and can be done in rustc_resolve.

[2022-01-12 08:09] nikic commented on #92794
@Amanieu To avoid unnecessary work, how far away are we from just deleting llvm_asm, now that asm has been stabilized?

[2022-01-12 08:58] binadamu-isiyoonekana commented on #92755
Same on Mac

On x86_64-apple-darwin as well, same toolchain version (rustc 1.60.0-nightly (89b9f7b28 2022-01-10))

[2022-01-12 09:26] Amanieu commented on #92794
`llvm_asm!` can be useful since it has some features that are not available with plain `asm!` such as multi-constraints and memory constraints. However I doubt anyone is actually relying on these so I'm happy to go ahead and just remove it.

[2022-01-12 09:34] ZoeyR commented on #92470
I created a minimal reproduction of the issue. This ICEs on stable as of 1.57

[code]

The expectation is that the type checker should hit the recursion limit. In fact you can see this happen if you comment out the line `encoder.writer().write();`

[2022-01-12 09:42] #88322 closed

[2022-01-12 09:56] #92661 closed

[2022-01-12 09:58] culugyx opened #92812 "rust failed to build (branch beta 02822334e9b) thread 'rustc' panicked at 'called `Result::unwrap()` on an `Err` value: "invalid enum variant tag while decoding `StabilityLevel`, expected 0..2"', compiler/rustc_metadata/src/rmeta/decoder.rs:266:29"
### Code

I'm trying to build rust itself, from the beta branch:
* beta     02822334e9b Auto merge of #91305 - camelid:rm-cond, r=GuillaumeGomez

And it failed with: thread 'rustc' panicked at 'called `Result::unwrap()` on an `Err` value: "invalid enum variant tag while decoding `StabilityLevel`, expected 0..2"', compiler/rustc_metadata/src/rmeta/decoder.rs:266:29

### Error output

[code]

<detai

[2022-01-12 10:05] inquisitivecrystal commented on #92755
As an update for those watching: currently, the best workaround is to use an older nightly. The good news is that there is a fix PR open (#92781), with people working on getting it in shape to be merged.

[2022-01-12 10:06] Eijebong commented on #92470
@Aaron1011 I was told by @lqd that this should hopefully be fixed by #92210 which doesn't seem to be changing anything.

[code]

[2022-01-12 10:13] miikkas commented on #92716
I just got this same ICE trying to build the latest rust-analyzer (54782428a621b996f1bbcc133e3d6a008db762b5) using `cargo xtask install` with stable Rust 1.57.0. I _don't have_ any special configuration for linking.

### Meta

`rustc --version --verbose`:
[code]

`lsb_release -a`:
[code]

### Error output

[code]

<details>
<summary>RUST_BACKTRACE=1 cargo xtask install</summary>

[code]
</details>

[2022-01-12 10:14] AkechiShiro commented on #90698
Hi @wihobbs, I'm interested in working on this issue, are you still working on it ? If not could I take it from now and try to actually solve it someway or another ?

[2022-01-12 10:15] est31 commented on #92470
Minimized a bit further:
[code]

[2022-01-12 10:16] lqd commented on #92470
(That was an incorrect guess on my part: I've seen this query in other incremental issues recently, and this actually does not seem to be related to that at all)

[2022-01-12 10:33] #92770 closed

[2022-01-12 11:14] Eijebong commented on #92470
Bisected to 50171c310cd15e1b2d3723766ce64e2e4d6696fc with `cargo-bisect-rustc --end 73422130ee96c09e7214c876a3600ac1f32aa8c8 --start 9faa714154dbc03faa174a7d4f72d6bbbfd61f7c --regress ice` and est31's example

[2022-01-12 11:25] danielhenrymantilla commented on #92790
FWIW, I find the example with `dbg!` to be surprising: `dbg!` is debug-printing a struct, and thus reading its fields

[2022-01-12 11:25] Ten0 commented on #88322
Is this resolved by https://github.com/rust-lang/rust/pull/90996#issuecomment-972875465 or something else?

[2022-01-12 11:48] nikic commented on #92786
When I use the llc from the rustup toolchain, I see LLVM going wild with `mrs nzcv` clobbers:
[code]

Note that `ucvtf` also gets passed `mrs NZCV`, so we're actually converting some condition flags to float, which makes about zero sense.

Weirdly I *don't* see this when using the llc from my local rust build :/

[2022-01-12 11:52] est31 commented on #92470
Are you sure you bisected correctly? A cargo update should not have introduced it, as the bug is reproducible without any cargo involvement at all.

But the ICE does seem to be a regression, as according to experiments on godbolt.org, it doesn't ICE on rustc 1.30.0, but does ICE on rustc 1.31.0 (both Zoey's shared snippet and my example).

* In rustc 1.30.0 there is no ICE, but an error
* In rustc

[2022-01-12 12:09] Eijebong commented on #92470
Yeah the bisect is very weird. I tried running some versions manually that were reported as good by the tool and they still ICEd. I think `--regress ice` is broken

[2022-01-12 12:20] nikic commented on #92786
[code]

For this example, the llc distributed by rustup produces (with `-O0`):
[code]
While my own build produces:
[code]

[2022-01-12 13:30] shepmaster commented on #92790
@danielhenrymantilla see #85200; #84647; #88900

[2022-01-12 13:51] nikic commented on #92786
Looks like it works if LLVM is compiled with assertions and breaks when compiled without assertions :(

[2022-01-12 14:04] kjvalencik commented on #92786
@nikic Are you saying that you can reproduce two different results using the same IR? I was seeing the issue with `llvm@13` distributed from Homebrew. Not sure if that's compiled with or without assertions.

[2022-01-12 14:19] GuillaumeGomez commented on #92578
Based on the [commonmark reference](https://spec.commonmark.org/dingus/?text=Single%20space%20at%20start%3A%20%22%20like%20this%22.%0ASingle%20space%20at%20end%3A%20%22like%20this%20%22.%0ASpaces%20at%20start%20and%20end%3A%20%22%20like%20this%20%22.%0ANo%20spaces%3A%20%22like%20this%22.&smart=1), Only `Single space at start` is invalid, the rest are fine.

[2022-01-12 14:20] phip1611 commented on #92760
In the meantime, I found out that the problem originates in `hashbrown`-dependency.

Not when building the library but when building an executable, that uses it. Minimal example:

[code]

Compiled with `$ cargo  rustc --bin bug -- -C target-feature=+soft-float,-sse,-sse2,-x87`

[2022-01-12 14:24] dvdsk opened #92813 "rustc paniced: DefId::expect_local"
I ran into a compiler panic while playing around with [try streams](https://docs.rs/futures/latest/futures/stream/trait.TryStream.html) and `dyn`.

I can only reproduce the example by keeping some code in a seperate libary. I have not removed a dependency on the `futures` (0.3.19) as that would mean moving alot of traits into the example. I set up a repo to easily replicate this example [here](htt

[2022-01-12 14:34] GuillaumeGomez commented on #92578
I opened a PR in pulldown-cmark to fix it: https://github.com/raphlinus/pulldown-cmark/pull/565

[2022-01-12 14:53] m-ou-se commented on #86369
It doesn't look like this will go through in its current form, so I'm cancelling the proposed FCP.

@rfcbot cancel

@jkugelman Yeah, something like that. Or `before_cursor`, `after_cursor` and `split_at_cursor` or something in that direction. As long as it makes sense from both a Read and Write perspective (+Seek).

[2022-01-12 15:07] kjvalencik commented on #92786
[This llvm bug](https://bugs.llvm.org/show_bug.cgi?id=49357) seems like it may be relevant. Switching to `-fast-isel` fixes the miscompilation.

[2022-01-12 15:21] wesleywiser commented on #36985
I've retested this in VS 2022 and VS 2019 and both versions are able to open Rust binaries without error (but typically there is nothing to show as most crates don't embed icons or use embedded resource files).

![image](https://user-images.githubusercontent.com/831192/149168608-4c31d933-f43d-4ff4-b0ff-19867a0f6d2b.png)

I'm going to close this issue since it seems to have already been resolved.

[2022-01-12 15:21] #36985 closed

[2022-01-12 15:30] nikic commented on #92786
Bisect shows this is fixed by https://github.com/llvm/llvm-project/commit/67bf3ac7446bd8ba16bb5ef82fa9f28a848616da on main.

[2022-01-12 15:37] ehuss commented on #92812
This is a somewhat normal problem when building from source.  I suspect you may have a `build` directory left over from a previous build?  Normally rustc has a version check to ignore rlib and rmeta files that are from a different version of the compiler.  However, the default mode when building from source is to not include the full git hash in that version (so that doing local development isn't

[2022-01-12 15:42] wesleywiser commented on #42678
Between `-Zself-profile` and the switch to `tracing` for logging in rustc, I think we can close this.

[2022-01-12 15:42] #42678 closed

[2022-01-12 15:49] kjvalencik commented on #92786
@nikic It looks like that was reverted a few days later. https://github.com/llvm/llvm-project/commit/2ed8053d465e169e9819c933dea1a319a8d19533

Is there another commit later that resolves it?

[2022-01-12 15:51] kjvalencik commented on #92786
@nikic The revert comment suggests that it should be fixed by [this commit](https://reviews.llvm.org/rG04fb9b729a53a5f513328159590d86d28336a6da). Are you able to confirm?

[2022-01-12 16:24] deceneu3 opened #92815 "Internal Compiler Error"
First complication try is fine, but second one get into error
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-12 16:35] durin42 commented on #83261
This has been fixed for a while.

[2022-01-12 16:35] #83261 closed

[2022-01-12 17:18] SwampWalker opened #92817 "Unclear issue with incremental compile"
### Code

Please contact me and I will give you access to my private repository on github if you are interesting in reproduction. The code isn't enormous, but it's unclear what is causing it. I also have some workarounds available so it is not urgent (this is a shallow justification for me not trying to prepare a smaller reproduction, I know, my apologies).

Setting `CARGO_INCREMENTAL=0` fixes the

[2022-01-12 17:57] nikomatsakis commented on #66079
I feel like this merits an RFC -- I'm feeling a bit confused about the overall intent for how this feature is to be used and anticipated workflows.

[2022-01-12 17:58] leonardo-m opened #92820 "[ER] Suggest from() instead of as for bool -> int/FP conversions."
Currently for wrong code like this:

[code]

rustc suggests to use into():

[code]

For code like this:

[code]

rustc could suggest to use instead from():

[code]

[2022-01-12 17:59] nikomatsakis commented on #87479
@JanBeh I'm a bit surprised by that message; @jackh726 may be able to explain it.

[2022-01-12 18:04] Amanieu commented on #52652
The abort behavior is currently only enabled with `#![feature(c_unwind)]`.

[2022-01-12 18:20] phip1611 commented on #62729
Since yesterday I'm investigating a similar bug and finally come to this issue. Maybe they are linked (at least partially). I'm getting a similar error response.

My issue on Rust: https://github.com/rust-lang/rust/issues/92760
My minimal reproducible error repo: https://github.com/phip1611/rust-llvm-bug-20220112-minimal-example/blob/main/README.md

[2022-01-12 18:28] pierwill commented on #92677
@rustbot label -E-help-wanted

[2022-01-12 18:29] pierwill commented on #92817
@rustbot label +A-incr-comp

[2022-01-12 18:30] pierwill commented on #92773
Adding label for posterity. @rustbot label +A-incr-comp

[2022-01-12 18:33] pierwill commented on #91235
@rustbot +label A-incr-comp

[2022-01-12 18:39] CraftSpider commented on #91609
I think MD5 hashes would be okay, though I would also support simply encoding the output in a less 'human readable' way. I'm okay with information being conveyed, if it's more obvious that the user isn't meant to access/rely on that information (think base64 or such)

[2022-01-12 18:39] slightlyoutofphase commented on #92777
On a semi-related note, as I mentioned [here](https://github.com/rust-lang/rust/issues/92234) it's IMO very confusing that on the page for `pointer`, the `Primitive Type pointer` methods list in fact includes all of `*const T`, `*mut T`, `*const [T]`, and `*mut [T]`, which leads to a large amount of duplicated method names in practice.

[2022-01-12 19:03] pierwill commented on #88318
@rustbot label +A-incr-comp

[2022-01-12 19:03] pierwill commented on #88285
@rustbot label +A-incr-comp

[2022-01-12 19:03] pierwill commented on #88251
@rustbot label +A-incr-comp

[2022-01-12 19:04] pierwill commented on #92815
@rustbot label +A-incr-comp

[2022-01-12 19:06] pierwill commented on #90158
@rustbot label +A-incr-comp

[2022-01-12 19:08] pierwill commented on #89300
@rustbot label +A-incr-comp

[2022-01-12 19:08] pierwill commented on #88932
@rustbot label +A-incr-comp

[2022-01-12 19:31] jackh726 commented on #87479
My guess is we see `<Self as X<'a>::Y<'static>`, so we ask "do we know that `'static: 'a`?", to which the answer is "yes", so we then require that `'b: 'a`.

Probably the right thing to do is to just not have any required bounds for when `'static` is used.

[2022-01-12 19:32] Wopple opened #92822 "Indefinitely hangs on hidden "overflow evaluating the requirement" errors when the complexity is too high."
### Minimal Example

#### main.rs
[code]

#### Cargo.toml
[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

It doesn't produce error output. However, simplifying the example in any way seems to uncover a bunch of "overflow evaluating the requirement" errors. For example, by commenting out the first implementation of the trait, one of the errors is:

[code]

[2022-01-12 19:40] nikomatsakis commented on #87479
Ah, interesting.

[2022-01-12 21:04] #68676 closed

[2022-01-12 21:17] compiler-errors commented on #92820
What's wrong with `(a != b) as usize`? `usize::from` uses `self as bool` [under the hood](https://doc.rust-lang.org/src/core/convert/num.rs.html#45-98).

[2022-01-12 21:21] matthiaskrgr opened #92824 "diagnostics, print better suggestion if we forget the "fn" keyword in an impl {} block"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
(or somehting like that)

[2022-01-12 21:32] leonardo-m commented on #92820
The usage of "as" hard casts should be avoided and discouraged when possible. Hard "as" casts are sharp tools that can be dangerous. Rust offers from/into to replace casts where a conversion is statically known to be lossless.

[2022-01-12 21:40] bstrie commented on #50655
BOLT has landed in LLVM: https://github.com/llvm/llvm-project/commit/4c106cfdf7cf7eec861ad3983a3dd9a9e8f3a8ae

[2022-01-12 21:43] compiler-errors commented on #92820
This seems like a duplicate of #90467, and I agree that since this is not an error and doesn't hint at possible bugs (e.g. an unused `mut` lint), so it might be better implemented in clippy.

[2022-01-12 22:26] JulianKnodt opened #92827 "Tracking Issue for Associated Const Equality"
This is a tracking issue for the feature Associated Const Equality brought up in #70256.
The feature gate for the issue is `#![feature(associated_const_equality)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *no

[2022-01-12 22:53] hkratz opened #92829 "LLVM assertion failures hang with a modal dialog on Windows"
The Windows CI build with LLVM assertions enabled recently hung without an error message. It turned out to be an LLVM assertion failure resulting in a dialog which needed to be acknowledged, see https://github.com/rust-lang/rust/pull/92535#issuecomment-1011504777.

According to the [assert documentation](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/assert-macro-assert-wassert?v

[2022-01-13 00:05] jsha opened #92831 "rustdoc: use SVG form of Rust logo by default"
Right now rustdoc's default logo is a PNG, which can look fuzzy on large or high DPI screens. Instead, we should use an SVG logo. For instance, there is one available at https://www.rust-lang.org/policies/media-guide. Note that it has somewhat wider margins than the PNG we currently use, so would require some tweaking to have the right size.

[2022-01-13 00:17] steffahn opened #92833 "Stack overflow with `impl Trait` and multiple lifetimes... and a closure."
Seems to stack overflow (I think it's one... on Linux it does give "segfault", technically, and on Windows it produces "thread 'rustc' has overflowed its stack").

(Current nightly behaves like current stable.)
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=58fb9ef12312ff34f7e0161ea701255e))

~~Haven't tried much to minimize further yet, perhaps this

[2022-01-13 00:18] ChayimFriedman2 opened #92834 "Suggest `std::ptr::read()` when trying to move out of raw pointer"
Given the following code:  [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6e24f5c0d122fb7679af429e9a9b1e78)

[code]

The current output is:

[code]

It would be nice if the compiler would suggest to use `std::ptr::read()`:

[code]

[2022-01-13 00:23] ChayimFriedman2 commented on #92834
@rustbot claim

Questions:

Does it needs to be a short or long suggestion (`span_suggestion()` or `span_suggestion_verbose()`)?

The code is here:

https://github.com/rust-lang/rust/blob/1bd4fdc943513e1004f498bbf289279c9784fc6f/compiler/rustc_borrowck/src/diagnostics/move_errors.rs#L378-L389

How can I extract the span of the pointer **without** the `*`, that is, `span` is `*ptr` in the above exa

[2022-01-13 00:33] QuineDot commented on #92833
More minimal:
[code]
Almost surely a dupe of #88236 based on the 1.56 error, and that issue also overflows now.

[2022-01-13 00:35] steffahn commented on #88236
It's doing a stack overflow now

@rustbot label I-crash

[2022-01-13 00:35] compiler-errors commented on #92741
@camelid I bet the code is somewhere around here https://github.com/rust-lang/rust/blob/master/compiler/rustc_errors/src/emitter.rs#L1671

haven't looked much into the rendering, but a theory: [`is_multiline`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_errors/src/emitter.rs#L1630) might be wrong for removal suggestions that end in `\n`.

Otherwise maybe we just need to suppress e

[2022-01-13 00:36] steffahn commented on #92833
Yes, that's a dupe

[2022-01-13 00:36] #92833 closed

[2022-01-13 00:36] steffahn commented on #92833
I had only searched for I-crash issues :-)

[2022-01-13 00:38] steffahn commented on #88236
Might make sense to bisect the point between 1.56 and 1.57 where the crash was introduced.

@rustbot label E-needs-bisection

[2022-01-13 00:39] hlb8122 opened #92836 "Lifetime inference fails when construct then returning an instance of a GAT"
I tried this code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ad49e24a0e96620b942d3abd23d49549

I expected to see this happen: the lifetime is correctly inferred when using
[code]

Instead, this happened: I have to use one of the work arounds described in the linked code.

Swap from GAT lifetime to the trait parameterized by a lifetime it works:
https://play.

[2022-01-13 00:56] compiler-errors commented on #92836
Interested in fixing this.

I think all we need to do is treat `Self::Assoc` like other paths with elided lifetimes (e.g. `GenericStruct { .. }`). @jackh726, you're the go-to person for GATs, right? If so, does that sound correct?

Secondly I might also put up a PR that suggests adding `::` when parsing `Path<'lifetime>` since that's also what's wrong with the second solution.

@rustbot claim

[2022-01-13 01:03] compiler-errors commented on #92776
Yeah, I think this is a diagnostics issue.

We should probably recover parsing `<foo.bar>` and suggest wrapping in `{ .. }`. We already do this in [other cases with const generics](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ad13389b2d4517f7cbc4fec0bac6dee8).

[2022-01-13 01:06] hlb8122 commented on #92836
@compiler-errors ah yes, good catch, the second solution does work with `::`.

In the way I had originally encountered it didn't work without more nightly features - where we're looking at a GAT on a `struct` parametrizing the trait. Which left the type alias the only way around.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e3fb9ce0ad4570ff66651eb937f7a0f7

[2022-01-13 02:06] philipc commented on #46034
I think it's expected because the debuginfo is from libstd, so it'll be large.

[2022-01-13 02:35] camelid commented on #92741
@compiler-errors Thanks for the suggestion! I tried trimming newlines before calling `is_multiline`, which didn't seem to help, so I think it may be elsewhere.

Some results from investigating:

The span for the substitution with `""` is 2:5 (line 2, col. 5) through 3:5. So the source range doesn't actually end in a newline; it ends in spaces for indentation on the next line. Then I think line 3 i

[2022-01-13 03:56] camelid commented on #84419
Should we close this issue? I think unless we run into issues, we're going to gradually convert to Askama templates. So I don't think there's much point in leaving this open.

[2022-01-13 04:39] ehuss opened #92841 "core tests do not run under wasm32-unknown-unknown"
I was looking at the CI for rust-lang/rust running wasm32-unknown-unknown tests and I noticed that the library/core tests were being compiled, but would instantly finish running without an error.

I would expect that if there is a problem, it should return an error, or it should run the core tests (which I would expect should take more than 0.5 seconds to run).

I tried running a debugger with the

[2022-01-13 05:54] leokhachatorians commented on #76736
I think I'll hop onto this if that's OK. I've always wanted to contribute :)

[2022-01-13 06:01] jakevossen5 commented on #76736
Go for it!

[2022-01-13 07:00] WaffleLapkin commented on #88236
So, bisection shows that the ICE->crash change happened in `nightly-2021-09-22` (also fun fact, `nightly-2021-09-21` doesn't exist?). The commit search [doesn't work](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Error.20while.20bisection/near/267830425), so this is all we have right now.

@rustbot label -E-needs-bisection

[2022-01-13 07:33] jbolila commented on #92491
Same happens with stable 1.57:

[code]

[2022-01-13 08:57] apiraino commented on #92786
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392786.20Miscompilation.20in.20unoptimized.20builds.20on.20aarch64.20with.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-01-13 09:06] Patryk27 opened #92846 "Commeting a macro branch throws a misleading diagnostic"
Commenting a macro branch:

[code]
(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=425968561ccf8122bba35a7396e2d5dd)

... throws an error:

[code]

Now, this error message makes sense if you think of `///` as a shorthand for `#[doc = "..."]`, but imho it'd be better to print something in terms of:

[code]

[2022-01-13 09:14] apiraino commented on #92790
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392790.20dead_code.20lint.20does.20not.20trigger.20for.20tuple.20structs.20wi.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-01-13 09:17] BusyJay commented on #73662
Should this function be a const function?

[2022-01-13 09:25] theIDinside opened #92847 "Compiler bug; On-disk caching failure caused the compiler to panic"
I'm providing this, since the compiler kindly asked me to. I have no idea what went wrong or why, but I suspect it has something to do with how it caches files (it said so). After running

[code]

and then
[code]

It worked just fine, so unfortunately, I have no idea how I should/would reproduce this compiler failure, but I thought I'd stick it here anyway. I use VSCode with RLS, I don't know if t

[2022-01-13 09:45] DzenanJupic opened #92848 "ICE compiler\rustc_typeck\src\collect.rs:1089:14: impossible case reached"
### Code

It's a big company project, and I'm not quite sure where it's coming form.

### Meta

`rustc --version --verbose`:
[code]

works fine with stable
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-13 09:55] GuillaumeGomez commented on #84419
It should have been closed when we added tera already.

[2022-01-13 09:55] #84419 closed

[2022-01-13 10:00] apiraino commented on #92725
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392755.20rustc.201.2E60.2E0-nightly.20.2889b9f7b28.202022-01-10.29.20unexpect.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-01-13 10:24] dvdsk commented on #92813
The compiler no longer crashes using the current nightly. So this is fixed already :)
(I had tried nightly but now see I had forgotten to update the toolchain.)

[2022-01-13 10:24] #92813 closed

[2022-01-13 10:29] cbeuw commented on #92817
Should have been fixed by #92533. Try the most recent nightly?

[2022-01-13 11:01] QuineDot commented on #87479
I'd also note that the presence of
[code]
does not "cancel" the lint/implied bound, whereas the presence of
[code]
which if I understand correctly, only implies `'b: 'b`, [_does_ cancel the lint/implication](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d21949611cfef3206471edfbbf527188).

Should `bar` also make the implied bounds indeterminate, since it involves the GAT

[2022-01-13 11:45] chris-zen commented on #62358
I suggest looking at how other functional languages solve this same problem. In the case of Scala, the interfaces between `Option`, `Either` and other collections are quite consistent and they provide the following operation:

[code]

I personally read `maybe_value.exists(|value| value > 5)` as `exists a value such that it is greater than 5`.

Not willing to introduce yet another name, but to rema

[2022-01-13 12:12] hkratz commented on #92847
@rustbot label +A-incr-comp

[2022-01-13 12:28] Amanieu commented on #70173
FYI `llvm_asm!` is being removed in #92816. Please migrate to `asm!` to keep your code working.

[2022-01-13 12:39] NightfallDM opened #92850 "Is this a bug or just told me that the compiler can't infer generic parameter type at compile time?"
I tried this code:

// can not work, because &mut do not impl 'Copy' or 'Clone'
// fn use_mut_ref_g<T>(_x: T) {}

// this can work
fn use_mut_ref(_x: &mut String){
    drop(_x);
}

// also this example also can work
fn use_mut_ref_other<T>(_x: &mut T) {}

fn main() {
    let mut x = String::from("xxx");
    let x_mut_ref = &mut x;
    // use_mut_ref_g(x_mut_ref);
    use_mut_ref(x_mut_ref);
    us

[2022-01-13 12:39] #92850 closed

[2022-01-13 12:41] NightfallDM opened #92851 "Is this a bug or just told me that the compiler can't infer generic parameter type at compile time?"
I tried this code:

// can not work, because &mut do not impl 'Copy' or 'Clone'
// fn use_mut_ref_g<T>(_x: T) {}

// this can work
fn use_mut_ref(_x: &mut String){
    drop(_x);
}

// also this example also can work
fn use_mut_ref_other<T>(_x: &mut T) {}

fn main() {
    let mut x = String::from("xxx");
    let x_mut_ref = &mut x;
    // use_mut_ref_g(x_mut_ref);
    use_mut_ref(x_mut_ref);
    us

[2022-01-13 12:42] #92851 closed

[2022-01-13 13:13] jendrikw commented on #76393
Could `slice::split_point_of` benefit from this?

[2022-01-13 13:32] jcbritobr commented on #39998
This is a bit frustrating. I have read the cargo book and the process is too complicated to link a crate with a single static library. I my opinion, have a cargo config to do this simples task is better than a lot of configurations, build scripts, etc...

[2022-01-13 14:41] ShadowJonathan commented on #62358
`exists` has not been suggested before in this thread, I'm heavily in favour of it, it alludes to a predicate much better than `contains` does. :+1:

[2022-01-13 15:21] rwestphal opened #92857 "GAT: mismatched types [E0308]"
The following program is failing to compile on nightly ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a7464fd2b8d9e352b704fda4e297ccb2)):
[code]

In this program, I have a global list of callbacks that return an iterator over a generic associated type (`Provider::ListEntry<'a>`). The lifetime parameter is necessary because the associated type needs to be an

[2022-01-13 15:55] jackh726 commented on #92836
I don't know if I've looked at this code before. But seems about right. I'm wondering if something like `<Self as Trait<'_>>::Assoc` works and there's just code somewhere that doesn't take into account that the associated type itself can have substs.

[2022-01-13 15:55] jyn514 opened #92858 "incorrect "reinitialization might get skipped" error"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b6fe50e5acdd6b8c1e5f4d3603b60c0a

[code]

I expected to see this happen: The code compiles successfully.

Instead, this happened: The code gives an error:

[code]

This error is incorrect; there is no case where `maybe_db` is moved and also control flow can reach line 24 without first reaching line 22. If t

[2022-01-13 16:00] jackh726 commented on #92836
This might be a little bit difficult though. When using a concrete struck like `GenericStruct<'_>`, we can infer that lifetime because we know how it's used in the struct itself. With associated types, we *don't* know, necessarily. In a way, I would expect that to be somewhat opaque, tbh.

I'm not sure how I feel about this tbh. If you can fix it, I'd probably want to get some second thoughts befo

[2022-01-13 16:09] jackh726 commented on #53114
The tests added still contains code that should compile but doesn't, e.g. https://github.com/rust-lang/rust/blob/256721ee519f6ff15dc5c1cfaf3ebf9af75efa4a/src/test/ui/binding/issue-53114-borrow-checks.rs#L22

[2022-01-13 16:17] jackh726 commented on #53114
That being said, I think this can be changed to P-medium

[2022-01-13 16:26] jackh726 commented on #62649
Going to close as fixed with test.

[2022-01-13 16:26] #62649 closed

[2022-01-13 16:33] jimpo opened #92859 "ICE when generating docs with `generic_const_exprs` feature"
With the experimental `generic_const_exprs` feature (https://github.com/rust-lang/rust/issues/76560), there's a compiler issue that surfaces during documentation generation but not a regular build. In the code example below, `cargo build` produces an unhelpful error message.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

The error on running `cargo +nightly doc

[2022-01-13 16:38] SwampWalker commented on #92817
Confirmed, no longer an issue.

[2022-01-13 16:38] #92817 closed

[2022-01-13 16:38] wesleywiser commented on #40680
Looks like this was fixed in #50961.

https://github.com/rust-lang/rust/blob/256721ee519f6ff15dc5c1cfaf3ebf9af75efa4a/src/bootstrap/lib.rs#L803-L815

[2022-01-13 16:38] #40680 closed

[2022-01-13 16:47] alexcrichton commented on #92841
I think this may be a case where the tests are just fast? With a lack of output I agree that it's hard to figure out, and my guess is that any long-running "interesting" tests are probably ignored on wasm for portability reasons (e.g. no threads, no system resources, etc).

I changed a random test tin `library/core/tests/*.rs` to fail and I indeed got a failure running `./x.py --stage 2 test --hos

[2022-01-13 17:33] JanBeh commented on #88460
I have the same problem. There is a workaround:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9eee1288b05055fb49552d19e1c4c276))

Errors:

[code]

See also [this comment by @steffahn on URLO](https://users.rust-lang.org/t/another-gat-issue-for-a-as-s-t-a-u-a-is-not-satisfied/70294/2?u=jbe).

[2022-01-13 18:19] 5225225 commented on #92773
Closing this then, I'll file a new bug if it shows up again on a new nightly.

[2022-01-13 18:19] #92773 closed

[2022-01-13 18:39] CraftSpider commented on #83720
Would it be reasonable to say that the 'correct' behavior for JSON would be to document the item as in its actual location, possibly with handling to allow it to indicate 'in some module which is private', and document the re-exports as just that? That feels 'more correct' and allows the end user to determine how or if they want to handle inlining like this.

[2022-01-13 18:46] jackh726 commented on #87479
Only GATs *returned* by trait methods participate in the lint. The rationale is that types returned by a method are actually constrained to be "derived" from the input types, whereas that argument doesn't apply to the input args. (Niko and I did talk about this and I don't think it was necessarily an open and shut case - open to discussion here)

[2022-01-13 18:49] avirule commented on #62358
I believe, for the same reasons `.eq()` doesn't take a closure, it would be unwise to do so for this API. At its heart (at least, in the spirit of the functionality I've grasped), it is just a shorthand for a conditional equality comparison.

[2022-01-13 18:58] Wyvern commented on #72110
Just updated rust to latest stable 1.58, but `strip=true` in [profile.release] still can't work as expected in pre-release notes.

What happened?

[2022-01-13 18:58] jyn514 commented on #28711
One possible way to implement this (including as a third-party tool) is to parse the `.d` files rustc emits for cargo, and look for any .rs files that aren't mentioned.

[2022-01-13 19:10] Eh2406 commented on #72110
As mentioned in the notes support was stabilized in rustc but not in Cargo. Cargo support will be coming in the next release.

[2022-01-13 19:19] CraftSpider commented on #83720
Note this would likely also interact with #83057, and I'm not sure exactly how explicit inlining should be handled in this case.

[2022-01-13 19:31] ThatAnonyG commented on #91543
Over a month now. Is this gonna be fixed?

[2022-01-13 19:36] mati865 commented on #91543
@ThatAnonyG it's blocked on https://github.com/racer-rust/racer/pull/1174

[2022-01-13 20:02] obsgolem commented on #54882
Just wanted to hop in to agree that `optimize(none)` is pretty important for debugging.

[2022-01-13 20:16] WaffleLapkin commented on #88236
@steffahn I haven't noticed that you've already found the commit, so I tried to search for it too 😅

There is [`rustup-toolchain-install-master`](https://github.com/kennytm/rustup-toolchain-install-master) that allows to install rustc from CI. With that I found the PR merge commit (dda2a0eca4a70acbdd2b65f5fc5e4cd38c39351b) in like 5 minutes :D

Very handy tool

[2022-01-13 20:25] Soveu commented on #60553
One note:
[code]
In this case, `Enum::B` could be treated in two ways - as `2u8` or as a `fn(u32) -> Enum`

[2022-01-13 20:29] jackh726 commented on #92857
Weird. I'll look into this at some point.

Though I did notice `dyn Iterator<for<'a> Item = InstanceListEntry<'a>>`...that's definitely not the right formatting there. Should be `dyn for<'a> Iterator<Item = InstanceListEntry<'a>>` maybe. It's a little weird and I wonder if we're making an extra `'a` lifetime during resolution...

[2022-01-13 20:30] jackh726 commented on #87479
@JanBeh I have a fix for your issue in the PR above.

[2022-01-13 20:36] camelid commented on #91759
@rfcbot resolve anchor formatting

Seems good for now, we can probably figure out a way to change it later if necessary.

[2022-01-13 20:41] marcospb19 commented on #76487
Closing because `Metadata::is_symlink` was implemented by @maxwase, thanks :)

[2022-01-13 20:41] #76487 closed

[2022-01-13 20:55] mdibaiee commented on #92662
@rustbot claim

[2022-01-13 20:59] steffahn commented on #88236
Oh, that's nice. So I wouldn't have had to re-compile the compiler like 10 times to do that bisection? 😅

[2022-01-13 21:34] teknoman117 opened #92867 "Linker error when building rust toolchain on x86_64 to target and run on i586 machines"
I'm attempting to compile the Rust toolchain to target and run on a really old computer (AMD K6-2+/500), but build it on my modern desktop (Threadripper 1950X). This is part of adding xorg to the Gentoo image I have going for it, and I need a Rust toolchain as spidermonkey uses Rust and is apparently a dependency of polkit these days, which is a dependency of pam, which is a dependency of elogind,

[2022-01-13 21:53] trofi opened #92869 "`lto = "thin"` causes `doctest` to generate invalid code on rust-1.57"
It's a senf-contained example extracted from https://github.com/rayon-rs/rayon/issues/911 where doctest tests mysteriously crash `rav1e`. This is what crashes for me:

[code]

It needs the following `Cargo.toml`:

[code]

Running the test:

[code]

I expected to see this happen: test should pass and not crash.

Instead, this happened: test crashes mysteriously.

### Meta

`rustc --version --verbos

[2022-01-13 21:57] camelid commented on #91759
@rfcbot resolve breakage

No one's raised concerns about the breakage (this concern was just a placeholder), so I'll resolve this concern. The links broke very easily before anyway.

[2022-01-13 22:01] soc commented on #62358
As there seems to exist some severe confusion about the method in question, here is the signature again for your convenience:

[code]

[2022-01-13 22:08] trofi commented on #92869
Also tried rust nightly on Ubuntu 21.10. Same crash.

[code]

[2022-01-13 22:25] asquared31415 commented on #92834
A small problem with that is that it *doesn't* move, `core::ptr::read` copies anyway which could easily cause unsoundness unless manually handled.  A trivial example is on a `Box` or `Vec` or other allocating type that frees in `Drop`, using `core::ptr::read` alone would cause a double free.

[2022-01-13 22:27] asquared31415 commented on #92834
[playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=246de788eaeec0c9a638da207296c08f) applying just that suggestion without any other considerations causes a crash in debug mode (not in release since the whole program is compiled away) and errors in miri due to use after free issues.

[2022-01-13 22:53] AxHakan opened #92871 "note: the compiler unexpectedly panicked. this is a bug."
query stack during panic:
#0 [collect_and_partition_mono_items] collect_and_partition_mono_items
end of query stack
error: could not compile `wasmer-compiler-cranelift`
warning: build failed, waiting for other jobs to finish...
error: build failed

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[2022-01-13 22:56] Patrick-Poitras commented on #92829
Could this be part of why we're getting so many hangs in the CI?

[2022-01-13 23:11] Patrick-Poitras commented on #92869
Can replicate on windows-msvc

[code]

[2022-01-13 23:14] dalcde opened #92872 "regression: rustdoc interprets the `*` in `/** */` doc comments as literal Markdown"
### Code

I tried this code:

[code]
When I run `cargo test`, I get
[code]
Oddly it doesn't fail with `/**` replaced by `///`.

This worked on `rust version 1.60.0-nightly (092e1c9d2 2022-01-09)` but failed on `rust version 1.60.0-nightly (1409c015b 2022-01-11)`

[2022-01-13 23:18] ehuss commented on #92841
Indeed, sorry, I was mistaken about how long those run (I was likely confusing it with doctests).

[2022-01-13 23:18] #92841 closed

[2022-01-13 23:23] Alexendoo commented on #92872
bisects to 89b9f7b284aacc5f8613438b80e4dd7bdd10549e, likely #92357

[2022-01-13 23:31] Patrick-Poitras commented on #92869
Regression in `a16f686e4a0ea15dcd3b5aa3db7b1cba27bb9453` according to `bisect-rustc`.

[2022-01-13 23:36] cuviper commented on #92869
Bisect is pointing you to #89802, but the similar #91671 found that this was because Cargo changed whether LTO is applied to doctests. The actual compiler issue is probably a more general LTO thing, not Cargo's fault.

On the rayon issue I supposed that this _might_ have the same root cause as #91671, but the symptoms are different.

[2022-01-13 23:50] kurtlawrence opened #92874 "Encountered ICE after moving a module"
### Code

Broken code in repository on branch `rustc-ice`: https://github.com/kdr-aus/ogma/tree/rustc-ice

Compiling in `./ogma/` directory using `cargo check`.

Steps leading to breaking compilation:
- Moved a module from `./ogma/lang/var.rs` to `./ogma/eng/var/mod.rs`
- Minimal changes within code (just a `mod var;`)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<deta

[2022-01-13 23:52] cuviper commented on #92869
Here's the codegen I get:

[code]

So `thread_func` does a tail-call jump to `LocalKey::with`, then that jumps over the `unwrap_failed` code to `704b` where it falls into the following unrelated function.

[2022-01-14 00:15] #92834 closed

[2022-01-14 00:46] mati865 commented on #88793
Should this issues be relabelled as A-LLVM?

[2022-01-14 00:53] mati865 commented on #74938
@lcnr could you test again and close this issue?

[2022-01-14 01:17] camelid commented on #92872
cc @GuillaumeGomez

[2022-01-14 01:22] camelid commented on #92872
The docs for the MCVE render with an itemized bullet at the top of the page on nightly, but not on stable. I think this is why replacing the `/**` with `///` makes the error go away: the `*` is interpreted as part of the docs, so it triggers the indented text to be treated as a code block (it seems there must be preceding text to trigger the code block formatting).

![image](https://user-images.gi

[2022-01-14 01:23] camelid commented on #92872
It seems like `/** */` comments are completely broken:

[code]

![image](https://user-images.githubusercontent.com/37223377/149435080-7097feb8-6546-4ab8-a475-98340e9bf528.png)

I still don't understand how that change could've cause this though; the particular code removed was related to trimming whitespace, not asterisks. Must be a strange cross-interaction.

[2022-01-14 02:29] compiler-errors commented on #92874
This should be fixed in the latest nightly

[2022-01-14 02:38] TennyZhuang commented on #91913
Related to https://github.com/rust-lang/rust/issues/86942

[2022-01-14 05:34] DrMeepster opened #92881 "~const bounds do not work when impling const Drop"
I encountered this issue while trying to remove `box_free`.

I tried this code:

[code]

I expected the code to compile.

Instead, I got the following error:
[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2022-01-14 06:08] camelid commented on #90425
Case of a confusing span:

[code]

[code]

[2022-01-14 06:22] hkratz commented on #92829
@Patrick-Poitras That was responsible for four stuck `dist-x86_64-msvc-alt` builds recently. I don't think it was responsible for many timed out builds before that. IMHO the most common cause for timed out builds is that LLVM rebuilds time out on Apple.

[2022-01-14 06:29] #79622 closed

[2022-01-14 06:29] #85718 closed

[2022-01-14 06:29] #86177 closed

[2022-01-14 06:29] #90824 closed

[2022-01-14 06:29] #91661 closed

[2022-01-14 06:29] #92331 closed

[2022-01-14 06:30] woppopo commented on #92881
(temporary?) workaround: [play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cfd57f24f080437625dd21ba0ae52583)
[code]

[2022-01-14 06:50] philipc commented on #46034
It's possibly not the whole of std, but it will include extra debuginfo since DWARF is not designed to cheaply use only portions of it (the alternative would be slower links, and links are already too slow).

[2022-01-14 07:27] glandium opened #92885 "Some mixes of Rust with C/C++ are broken for arm64 mac and windows"
After #88354, Firefox builds fail with e.g:
[code]
This happens when targeting arm64 macos or arm64 windows.

Not only did the default change and now diverges from clang (causing the above error when mixing objects from clang and rust), but it's also apparently not possible to disable the feature.

Note this also now reached beta.

Cc: @jacobbramley, @Jmc18134, @nagisa

[2022-01-14 07:37] compiler-errors commented on #92881
Might be enough to just replace `ConstIfConst` with `NotConst` when [comparing the list of predicates in `dropck`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/dropck.rs#L234), if someone wants to try that.

[2022-01-14 08:11] crlf0710 commented on #92881
cc @fee1-dead

[2022-01-14 08:32] llaissue opened #92886 "error: internal compiler error: compiler/rustc_monomorphize/src/collector.rs:966:9: no MIR available for DefId(20:9953 ~ cranelift_codegen[d26a]::machinst::buffer::{impl#3}::get_srclocs_sorted)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
<backtrace>
[code]

[2022-01-14 08:38] compiler-errors commented on #92712
@rustbot claim

[2022-01-14 08:38] compiler-errors commented on #92713
@rustbot claim

[2022-01-14 09:38] #92755 closed

[2022-01-14 09:39] jacobbramley commented on #92885
It should be off by default. My first guess is that the problem is that [we set the module flag unconditionally](https://github.com/Jmc18134/rust/blob/984ca4689dbceea29bbfcf54c4743b45fccf7ad1/compiler/rustc_codegen_llvm/src/context.rs#L248), but with a true/false value, so perhaps a false value is not equivalent to an unset value.

If that _is_ the problem then there might be something deeper to i

[2022-01-14 09:40] GuillaumeGomez commented on #92872
The `/** */` comments have always been working like this. It's not supposed to contain `*` at the beginning of each line.

[2022-01-14 09:57] glandium commented on #92885
It most probably involves linker-plugin-lto. A default firefox build wouldn't enable that. I suspect it's reproducible with a simple testcase that has both C and C++ code with linker-plugin-lto enabled.

[2022-01-14 10:02] steffahn commented on #71355
This issue seems concerning to me, and it's existed for a while. In my opinion, unless there exists an LLVM issue for this with any chance of getting fixed in a timely manner, we should either **clearly document** this problem, or perhaps even implement `powi` in terms of `powf`.

[2022-01-14 10:08] glandium commented on #92885
(beware of #60059 if you try to use linker-plugin-lto)

[2022-01-14 10:37] glandium commented on #92885
Ok, I was also able to reproduce locally with a Linux aarch64 cross-build (modulo https://bugzilla.mozilla.org/show_bug.cgi?id=1749852) and it turns out the rust llvm-ir has:
[code]
while the clang llvm-ir has:
[code]
llvm-ir from older versions of rust didn't have them at all.

[2022-01-14 11:17] michaelwoerister commented on #90739
@simbleau, this should be fixed on nightly. Can you confirm?

[2022-01-14 11:18] jacobbramley commented on #92885
Nor does the llvm-ir from older versions of clang — at least the one I have pre-built — so the simple idea of marking them as `1` ([error-on-mismatch](https://llvm.org/docs/LangRef.html#module-flags-metadata)) to match that clang might cause problems there too.

[2022-01-14 12:11] CryZe commented on #92886
Duplicate of https://github.com/rust-lang/rust/issues/92755

[2022-01-14 12:12] CryZe commented on #92871
This is a duplicate of https://github.com/rust-lang/rust/issues/92755

[2022-01-14 12:12] xfix commented on #26281
I don't think it would be necessarily inconsistent to make `#[must_use]` work for `type`s because unlike other attributes, `#[must_use]` doesn't affect code generation. Other attributes that don't affect code generation - `cfg`, `cfg_attr`, `allow`, `warn`, `deny`, `forbid`, `deprecated` and `doc` work fine for `type` statements.

[2022-01-14 13:13] DutchGhost opened #92893 "error: internal compiler error: compiler/rustc_middle/src/middle/region.rs:377:32: no enclosing scope for id 6"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-14 13:59] hamza1311 commented on #63063
What's preventing progress on this? Can I help out in pushing it to completion?

[2022-01-14 14:13] p-avital opened #92894 "Rust detects a conflict between non-conflicting implementations of a trait"
Hello,

When trying to do some type-fu in a much larger project, I stumbled on a conflict detection which shouldn't happen. Here's a minimal version of the issue:

[code]

Rust responds with
[code]
but the implementations don't have any intersection, and shouldn't conflict.

You can also check it out on [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=691b

[2022-01-14 14:39] xobs opened #92897 "riscv32i: `__atomic_load_4` is referenced in libcompiler_builtins"
The atomic function `__atomic_load_4` is getting referenced somehow in `libcompiler_builtins`. I'm not sure how to trigger the linker issue, however we've started running into it on CI:

https://ci.betrusted.io/job/betrusted-ec-fw/117/console

[code]

### Version it worked on

It used to work on Rust 1.57.1, however it has broken on Rust 1.58.0.

[2022-01-14 14:43] xobs commented on #92897
More information: This symbol is clearly present in the object files. Inside ` libcompiler_builtins-6af234694b8e479b.rlib` there is an object file `compiler_builtins-6af234694b8e479b.compiler_builtins.3786cd3d-cgu.96.rcgu.o`. This contains references to this function, even though it doesn't appear to actually be used:

[code]

Note that I previously opened https://github.com/rust-lang/rust/issues/

[2022-01-14 15:01] xobs commented on #92897
A workaround we've done to get it to at least compile on `1.58.0` is to add this code somewhere in the project:

[code]

[2022-01-14 15:23] RalfJung commented on #71355
Has anyone tried bringing this up with the LLVM folks?

OTOH their docs for `powi` say

For `powf`:

So possibly this isn't an LLVM bug after all.

I am not sure what would be gained by changing the implementation, but I now agree that documenting that powi and powf could have different rounding behavior makes sense.

[2022-01-14 15:53] oli-obk commented on #63063
I am actively working on it. Since I'm in the middle of a big refactoring, I don't think there are any smaller things to work on right now. I'll post an update when I get the refactoring merged (hopefully in two weeks).

[2022-01-14 16:08] ehuss commented on #92871
Closing as a duplicate of #92755.

[2022-01-14 16:08] #92871 closed

[2022-01-14 16:08] ehuss commented on #92886
Closing as a duplicate of #92755.

[2022-01-14 16:08] #92886 closed

[2022-01-14 16:31] tmiasko commented on #69844
Since #92504 `rustc -Wall` now results in non-zero exit status.

[2022-01-14 16:31] #69844 closed

[2022-01-14 16:35] PvdBerg1998 commented on #91930
Out of interest as I found this in std: where can I find details about the `~const` syntax?

[2022-01-14 16:37] fee1-dead commented on #91930
You can find the most recent proposal on [Rust Internals](https://internals.rust-lang.org/t/pre-rfc-revamped-const-trait-impl-aka-rfc-2632/15192/)

[2022-01-14 16:39] Nemo157 commented on #69110
This has also leaked into the captured formatting parameter arguments in some situations (I could not come up with a situation where capturing a value parameter would do something similar):

[code]

prints

[code]

[2022-01-14 16:59] tmiasko commented on #77116
`-C symbol-mangling-version=v0` was stabilized in #90128.

[2022-01-14 16:59] #77116 closed

[2022-01-14 17:05] oli-obk commented on #51910
Does the `PageTable` need to be an array of `u32`? Couldn't it be `*const Something`?

The big problem in your example is not the cast, it is precisely the bit-or operation. We could specifically add operations to change the bits of a pointer that are guaranteed zero due to the alignment of the reference that the pointer came from.

[2022-01-14 17:08] fee1-dead commented on #51910
It should be `*const PageTable`. Yes, the only requirement is to set the bits that are never set due to alignment.

[2022-01-14 17:41] estebank opened #92898 "Detect C lang printing functions and suggest the appropriate macro call"
We already translate from C-style formatting strings to Rust formatting strings when passed to the `format!` family of macros. We should also detect invalid `fn` calls from other languages that were meant to be macro calls:

[code]

currently emits the dry

[code]

while it could be

[code]

[2022-01-14 17:47] tmiasko commented on #88664
Fixed in #89738.

[2022-01-14 17:47] #88664 closed

[2022-01-14 17:50] fee1-dead commented on #92712
@compiler-errors I already have a PR up to fix this: #92256

[2022-01-14 18:45] RalfJung commented on #51910
I was so happy when I deleted the code from Miri that enabled "sub-alignment arithmetic and bitops"...

But I agree it is possible to support this so we should at least consider it. Then the question remains, how? IMO the typical API (cast ptr to int, to bitops there, cast ptr back) is just not a good API -- it is way too powerful, and int-to-ptr casts are super hard to define properly. The fictio

[2022-01-14 18:46] fuzzypixelz opened #92900 "Index error in `compiler/rustc_query_impl/src/on_disk_cache.rs`"
### Code

I'm not sure which portion of my code triggers this error as this only happens rarely and is resolved by a `cargo clean`. Aside from the info, I got from rustic and the backtrace, I have no idea how this error originates nor a remote idea on how to produce a minimum viable example. It's probably a weird edge case of interacting with my filesystem. So I should probably mention I'm on a bt

[2022-01-14 19:01] jsha opened #92901 "rustdoc: source and since not separated by a dot on trait page"
Spotted by @GuillaumeGomez at https://github.com/rust-lang/rust/pull/92801#issuecomment-1012978015:
![149497473-99668af9-99bc-4433-8c67-cf6d4663cd48](https://user-images.githubusercontent.com/220205/149570591-62245d04-f95a-4634-89f0-52c7ee41e98b.png)

https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.step_by

[2022-01-14 19:05] Aaron1011 commented on #92900
This should be fixed in the latest nightly by https://github.com/rust-lang/rust/pull/92533. If you run into this crash again, please re-open this issue.

[2022-01-14 19:05] #92900 closed

[2022-01-14 19:53] jyn514 opened #92903 "Incorrect `unreachable_pub` warning"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=028239a954b1baf0326d31262947a247

[code]

I expected to see this happen: No unreachable_pub lint. `foo` only uses publicly accessible APIs, it never mentions `inner`.

Instead, this happened:
[code]

cc @petrochenkov

### Meta

`rustc --version --verbose`: 1.60.0-nightly (2022-01-13 22e491ac7ed454d34669)

[2022-01-14 19:53] ehuss commented on #92400
I have bisected this to #88824.  There are a lot of rustdoc changes in that rollup, though.

It only seems to happen for me in Firefox (96.0.1).  It doesn't seem to happen in Safari or Chrome.

Here is a screen capture:

![rustdoc-scroll](https://user-images.githubusercontent.com/43198/149576640-46d13a48-ee6e-42e2-961a-4f45ac50bf13.gif)

[2022-01-14 19:54] GuillaumeGomez commented on #92400
I see, thanks!

[2022-01-14 19:55] camelid commented on #92872
@GuillaumeGomez They actually haven't; this is a regression. On stable, it looks like this:

![image](https://user-images.githubusercontent.com/37223377/149576951-ad6301a3-4936-44dd-8017-91a11bfbc812.png)

[2022-01-14 19:59] jyn514 commented on #92903
In particular, it seems wrong to say that a public field is unreachable whenever the type it belongs to is publicly reachable.

[2022-01-14 20:03] ckaran commented on #75861
How close is this to stabilization?

[2022-01-14 20:04] GuillaumeGomez commented on #92872
Interesting. How did we make the difference between:

[code]

and:

[code]

?

Do we need to have a star at each line or something?

[2022-01-14 20:06] mcy opened #92904 "rustc incorrectly suggests removing imports that shadow shadowing glob imports"
Given the following code: https://godbolt.org/z/vdc4YYafK

[code]

The current output is:

[code]

The warning for redundant import is incorrect, and is required for code to compile: `bar::*` shadows the implicit `self::Foo` in this scope, so making it explicit shadows the implicit `bar::*`. This should either be an error or not a warning; the latter is probably correct.

The non-glob version is h

[2022-01-14 20:09] camelid commented on #92872
I'm not sure exactly how it works, but I believe it's handled by this code (the code modified by the regressing PR, though I'm not sure _how_ it caused the regression): https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast/util/comments/fn.beautify_doc_string.html

[2022-01-14 20:10] tmiasko commented on #92903
This was fixed in #92781 (not available as nightly yet).

[2022-01-14 20:17] ethanhs commented on #92847
I just ran into the same ICE. I sadly don't have a small repro, but hopefully describing the steps right before helps.

First, the backtrace:

[code]

Source code: https://github.com/bqsKit/bqskitrs

The only change from the [current main branch as of writing](https://github.com/BQSKit/bqskitrs/tree/8d98291b5791ddca39b201b811e92480d4fc44db) is that I moved `src/minimizers/cost_fn.rs` to `src/minim

[2022-01-14 20:20] Amanieu commented on #92897
This is fixed by https://github.com/rust-lang/compiler-builtins/commit/e0187f17dbcbf9dc026d379b2af8d866300596a5 which is included in compiler-builtins version 0.1.54. However Rust 1.58.0 uses compiler_builtins 0.1.53.

[2022-01-14 20:24] ethanhs commented on #92847
Ah hm, looks like this is a dupe of https://github.com/rust-lang/rust/issues/92595

[2022-01-14 20:24] glandium commented on #92885
why do you think so? the llvm-ir that doesn't contain these flags at all links fine with the llvm-ir that does (even with behavior set to Error).

[2022-01-14 20:34] #92308 closed

[2022-01-14 20:34] #92484 closed

[2022-01-14 20:34] #92831 closed

[2022-01-14 20:40] ehuss commented on #92400
FWIW, this is possibly a Firefox bug.  I also notice this happening in the GitHub diff viewer.  I tried searching for an issue related to this, but I couldn't find one. However, I am not very familiar with Firefox issue tracking.

I also tried Firefox 98.0a1 (2022-01-14) nightly, and it is still happening.

It's hard to explain what triggers it. The mouse cursor has to be at certain positions, but

[2022-01-14 20:58] IvanKharpalev opened #92906 "Error msg tells that a closure returns by reference but it returns by value."
Hello! Please take a look at this [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bf4379d0ef6b9f19d3f612289195b4ee).

My closure returns variable which type has no &.
But error msg tells:
[code]

Looks like a bug.
The same for the Nightly.

[2022-01-14 21:25] Aaron1011 opened #92909 "Require explicit opt-in when combining `HashStable` with custom `PartialEq`"
The [`HashStable` trait](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/stable_hasher/trait.HashStable.html) requires that a `HashStable` impl agree with the `PartialEq` impl for the same type: `x == y` if and only if `hash_stable(x) == hash_stable(y)`.

Unfortunately, it's currently easy to violate this requirement by accident. A type may start out with a manual `PartialEq`

[2022-01-14 22:20] shaybarak commented on #92809
You are correct. I traced my problem to an issue with a rule in the build system that I'm using.
Apologies for the noise and thank you for the help.

[2022-01-14 22:20] #92809 closed

[2022-01-14 22:40] camelid commented on #80218
Now that the PR to remove the `&mut` from the signature is in the merge queue, should an FCP be proposed?

[2022-01-14 23:14] compiler-errors commented on #92893
I was just looking at the parsing code for const generic exprs..

@rustbot claim

[2022-01-14 23:31] mockersf opened #92910 "rustdoc fails to build an intra doc link when linking through 3 crates without explicit use"
With three crates:
* Crate C export a public struct
* Crate B depends on crate C and export a public struct with doc linking to the crate C pub item
* Crate A reexport everything from crate B

When building doc for crate A, the intra doc link will not work without a warning.

This is what's happening in Bevy on [the doc for `DefaultPlugins`](https://docs.rs/bevy/latest/bevy/struct.DefaultPlugins.h

[2022-01-14 23:53] lopopolo commented on #65816
Hey folks, I don't mean to add noise to an old tracking issue, but I was hoping to add some input on the usability of returning the triple as a tuple.

I never remember what order capacity and length are returned in and always have to look at the docs. I have a small utility crate that makes this a bit easier by returning a struct with named fields. Is returning a struct instead of a tuple that ha

[2022-01-15 00:00] kurtlawrence commented on #92874
I switched over to nightly and tried to reproduce with no success.

I am closing since there is no reproduction.

[2022-01-15 00:00] #92874 closed

[2022-01-15 00:21] compiler-errors commented on #92893
actually, so this isn't related to incorrectly parsing `let`, since we're parsing `let` in expr position to allow if-let chains.. -- this is due to const eval lowering to MIR and the fact that const generic parameters have no enclosing scope. Adding `{ }` around the generic args works, but I don't know where exactly to hack in a scope for these params.

@rustbot release-assignment
@rustbot label A

[2022-01-15 00:23] jackh726 commented on #91762
`no_std` repro, for reference:
[code]

[2022-01-15 00:58] ShuoShenDe opened #92913 "internal compiler error: unexpected panic"
Hi, Dear! I meet a bug, which said "internal compiler error: unexpected panic".

### Dockerfile
I tried to compile rust in my Dockerfile, and I run:

[code]

### Environment

run
[code]
the system gives:
[code]

### Error output

[code]

</details>
![image](https://user-images.githubusercontent.com/31400000/149602318-9cddeffc-4a89-49fc-8ee2-be0354ffc27a.png)

I don't know what's the problem, anyon

[2022-01-15 01:02] LovecraftianHorror commented on #92906
I believe the error message is correct. `f` internally contains a reference that is tied to the lifetime of `A`. This means that `f` can't be retuned by the closure because `a` is captured by the closure. For instance, how would this work?

[code]

[2022-01-15 01:06] RalfJung commented on #78186
More specifically we are saying that *anything* that has a `'static` lifetime is "pinned". There is no way to know that this comes from a `static`, it might just as well be a `Box::leak` or any other way to obtain a `'static` reference. That's what makes this tricky and an expansion of the axioms of pinning.

I would say the docs say that for something to be pinned, it must not move -- which is an

[2022-01-15 01:43] jsha opened #92916 "rustdoc: make tests easier to understand and fix"
Rustdoc's tests fail easily, and it's not always easy to figure out _why_ they are failing and how to fix them. That presents a barrier to participation, which we should fix. Some ideas:

For the XPath tests:
 - When we fail to find a match, we should print what part of the XPath expression (if any) matched, and what part failed to match.
 - If we got a partial path match, we should print a summar

[2022-01-15 03:32] yaahc commented on #92791
Example PR using ThinBox as a substitute for `Box<dyn Error + ...>`: https://github.com/yaahc/pgx/pull/1/files

[2022-01-15 04:22] jhpratt commented on #92137
Short of eager macro expansion, this would require `unreachable!` becoming a built-in macro, correct?

[2022-01-15 04:26] #92867 closed

[2022-01-15 04:38] emi2k01 opened #92919 "Improve diagnostic when lifetime parameter is elided in return positions"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b413ed034f662797ddfe5dfc6772a277

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
but more pretty

[2022-01-15 05:02] compiler-errors commented on #88421
This does not ICE any longer afaict: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a6772797f56d2999352953f55752d5c4

[2022-01-15 05:53] camelid commented on #92137
@jhpratt I believe yes, see https://github.com/rust-lang/rust/issues/92137#issuecomment-998287185.

[2022-01-15 05:57] jhpratt commented on #92137
Thanks; not sure how I missed that comment. I won't have time until Tuesday at the earliest (and likely not that early), but I can give it a shot if no one else wants to take a shot at it before.

[2022-01-15 06:01] comex commented on #51910
Keep in mind getting something like `PAGE_DIRECTORY` to work requires the linker's cooperation – only the linker knows the final address of any symbol.  Indeed, when any kind of dynamic linking or ASLR is involved (these days, common even in kernels), only the dynamic linker knows (or in kernels' case, whatever ad-hoc setup serves as a dynamic linker).

In other words, any computation must be expr

[2022-01-15 08:43] sffc commented on #74985
Another workaround is to map the slice chunks to array chunks.

[code]

[2022-01-15 08:51] compiler-errors commented on #92505
Minimized:

[code]

This has to do with param-env normalization shenanigans...

[2022-01-15 11:07] oribenshir opened #92929 "Conversion of generated future fails, although it should succeed"
I've encountered a weird behavior around generated futures, and the trait bounds it satisfied.
The resulting behavior seems inconsistent.

I tried this code:

[code]

I expected to see this happen: compilation succeeded.

Instead, this happened: compilation failed due to unsatisfied trait bound.

[code]

I've continued with several other tests, the following two tests compiled successfully:
[code]

[2022-01-15 12:01] culugyx commented on #92812
Thank you! Yes, I have a left over `build` directory. Cleaning it fixed this problem.

[2022-01-15 13:07] matthiaskrgr commented on #92893
Maybe fixing this also fixes  https://github.com/rust-lang/rust-clippy/issues/8245 :slightly_smiling_face:

[2022-01-15 13:56] #92633 closed

[2022-01-15 13:56] #92713 closed

[2022-01-15 14:04] lambinoo commented on #84619
I think I'll try to tackle this one! Maybe this will also fix #89020
@rustbot claim

[2022-01-15 14:41] mati865 commented on #44583
Using @steveklabnik example (with added `#![feature(bench_black_box)]`) I've got this:
[code]
I think there is still some room for improvements but it's much better now.

[2022-01-15 15:39] thorjelly commented on #92505
Thanks, updated title to be a bit more useful.

[2022-01-15 17:18] dtolnay commented on #44583
That's likely the best std::fmt can do. The remaining 20ns discrepancy is not algorithmic, it is the overhead of the Formatter machinery.

[2022-01-15 17:18] #44583 closed

[2022-01-15 17:27] ehuss commented on #92812
Sounds good!  I'm going to close in favor of #76720 which is the general issue for this.  It's an unfortunate part of working on rustc.

[2022-01-15 17:27] #92812 closed

[2022-01-15 17:28] hkratz commented on #92913
@rustbot label +O-musl +O-arm +O-linux

[2022-01-15 18:11] Aaron1011 commented on #25345
At this point, I think we'd want an RFC before changing this.

[2022-01-15 18:22] Alexendoo opened #92938 "Backport Clippy changes"
commit: https://github.com/rust-lang/rust-clippy/commit/5d63a286383b0a0ed03aa2568e306a3a154e3fa9, context: https://github.com/rust-lang/rust-clippy/issues/8045

[2022-01-15 18:22] jsha commented on #92916
Ah, I see that we do have a debug flag for rustdoc-gui tests, but it turns on puppeteer logging that's hard to read:

[code]

[2022-01-15 18:26] camelid commented on #92916
If you want to do that, I think you can just run `htmldocck` directly, although you'd need to pass it a Rust file _containing_ an `@has` check, rather than an XPath directly.

[2022-01-15 18:27] camelid commented on #92916
What do you mean by "never used it"? It's enabled by default. Do you mean you don't have html-tidy installed?

And, to answer your question, I also think it should be an optional flag. The diff shows a lot of spurious changes, it makes it really hard to see what part of the test failed, and it's not even put in a pager or styled with color.

[2022-01-15 18:33] jsha commented on #92916
I mean, I've looked at the contents and never found them useful. Usually there are so many diffs that it doesn't help pinpoint the issue. Also, since the diffs are localized they don't provide much insight about XPath matching.

Agreed! Though on my machine it is styled with the typical green/red of git diff.

[2022-01-15 18:35] Xaeroxe opened #92939 "Tracking Issue for windows_process_extensions_raw_arg"
Feature gate: `#![feature(windows_process_extensions_raw_arg)]`

This is a tracking issue for the raw_arg extension to `std::process::Command` on Windows.

Windows programs on the lowest API layers actually aren't required to accept arguments as an array of strings.
In fact the illusion that they do accept arguments as an array of strings is mostly maintained by one function. [CommandLineToArgvW](

[2022-01-15 18:36] Xaeroxe commented on #29494
Tracking issue for stabilizing the fix to this https://github.com/rust-lang/rust/issues/92939

[2022-01-15 18:37] Xaeroxe commented on #92939
I need a Rust team member to kick off an FCP for this.

[2022-01-15 18:54] camelid opened #92940 "rustdoc: Impl for boxed type doesn't show up on the type's page"
You'd expect the impl for the boxed type to show up, but it doesn't. I seem to recall rustdoc displays impls anytime the type is contained in the generics, though, so it's odd that it's not happening.

[code]

Originally reported by @danielhenrymantilla [on Discord](https://discord.com/channels/442252698964721669/459149231702278154/931975659591467029).

[2022-01-15 18:57] camelid commented on #92940
@danielhenrymantilla also reported a case involving `Box<dyn Trait` that didn't show up on the trait's page. IIRC this issue is somewhat known already though.

[2022-01-15 19:10] steffahn opened #92941 "Document that `Display` entails `ToString`"
I just [answered a question](https://users.rust-lang.org/t/when-should-i-implement-display-for-my-library-structs/70400) on URLO about when to implement or not to implement `Display`, and I noticed that the [docs on the `Display`](https://doc.rust-lang.org/1.58.0/std/fmt/trait.Display.html) trait are lacking.

In particular, I believe they should definitely point out that implementing `Display` wi

[2022-01-15 19:10] DrMeepster commented on #92881
This workaround causes the type to impl `~const Drop` when it shouldn't causing errors when interpreting instead of during type checking. ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=87e9328cce442ed0b9ad35c22dd01b08)) This needs to be fixed too.

This isn't enough. The constness of the bound seems to not get checked at all.

[2022-01-15 19:47] DrMeepster commented on #92881
I'm not exactly sure how trait selection works, but I think the problem may be [here](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_trait_selection/traits/select/candidate_assembly.rs.html#994), where only the constness of the impl is checked, and not any of the bounds.

[2022-01-15 20:00] compiler-errors commented on #92881
@DrMeepster you wouldn't believe that the same exact line was on my clipboard, and I was going to say that it was somewhere around `assemble_const_drop_candidates` :laughing:

Yeah, it seems like we need to enforce that the `~const` bounds on the drop impl are actually const during confirmation.

[2022-01-15 20:08] compiler-errors commented on #92881
Perhaps need to add some real confirmation logic here: https://github.com/rust-lang/rust/blob/master/compiler/rustc_trait_selection/src/traits/select/confirmation.rs#L162

[2022-01-15 20:55] lemonsqueeze opened #92944 ""error[E0463]: can't find crate for `core`" trying to cross-compile rustc"
Hi,

I'm trying to cross-compile rustc for linux x32 (goal is to have a native x32 rustc).
I've managed to get it to build (`x.py build` is successful) but when running `x.py install` I run into :
[code]

Not sure what is going on, cross-compilation issue ?
Can someone help out ?

**Setup:**

Ubuntu focal amd64 (no rust distro package)
Rust installed through rustup:
[code]
Rust source is latest gi

[2022-01-15 21:00] lemonsqueeze commented on #92944
Ran into same missing zlib -lz linker issue as #92867 while building btw.
Got around it by forcing compiler to always -lz for now ...

[2022-01-15 21:27] Enselic opened #92945 "[rustdoc-json] Free-floating `struct_field` items with enum tuple struct variants"
There is currently a problematic inconsistency with regards to the generated rustdoc JSON for tuple structs. If the tuple struct is an enum variant, a "parentless" or "free-floating" item is generated. This does not happen with regular tuple structs.

Consider this code in `src/lib.rs`.

[code]

Now we generate the rustdoc JSON (I used `rustc 1.60.0-nightly (ad46af247 2022-01-14)`):

[code]

The r

[2022-01-15 22:47] ehuss opened #92948 "CI: Migrate to windows-2022"
GitHub is starting a migration of `windows-latest` to `windows-2022`:
https://github.blog/changelog/2022-01-11-github-actions-jobs-running-on-windows-latest-are-now-running-on-windows-server-2022/
https://github.com/actions/virtual-environments/issues/4856

Migration starts now, and should finish by March 6. It is not clear if that timetable includes the `-xl` runners.  Based on the fact that the

[2022-01-15 22:47] 05storm26 opened #92949 "ICE: index out of bounds: the len is 1152 but the index is 1154"
### Code
https://github.com/05storm26/sea-query.git
`ice` branch
head: `2db6d2d14b54f4edf8816ab97d8198ba2c6a3823`

### Meta

`rustc --version --verbose`:
[code]

### Environment

run

`uname -a`

the system gives:

[code]

### Error output
RUST_BACKTRACE=1 cargo build
[code]

</p>
</details>

[2022-01-15 22:51] ehuss commented on #92948
Issue: dos2unix does not work

The [`src/ci/scripts/verify-line-endings.sh`](https://github.com/rust-lang/rust/blob/master/src/ci/scripts/verify-line-endings.sh) script fails with the error:

[code]

I haven't investigated much, but I suspect it might be a conflict with one of our manually downloaded msys/mingw things.  https://github.com/actions/virtual-environments/issues/594 also contains some

[2022-01-15 22:54] 05storm26 commented on #92949
After running:

`cargo clean`

and then `cargo build` it builds successfully.

[2022-01-15 22:58] ehuss commented on #92948
Issue: LNK1318

While building compiletest, it failed to link with this error:

[code]

These link errors tend to be very difficult to diagnose (like #33145). I do not know if that is a transient error, as I haven't tried again.

[2022-01-15 23:04] JohnScience commented on #62208
@hdevalke @michaelsproul Did it get into `itertools`? I didn't find it there at least by this name.

[2022-01-16 00:15] Aaron1011 commented on #92949
This was fixed in https://github.com/rust-lang/rust/pull/92533. If the issue re-occurs on the latest nightly, please re-open this issue with an updated stacktrace.

[2022-01-16 00:15] #92949 closed

[2022-01-16 00:26] Patrick-Poitras commented on #92894
@rustbot modify labels: +A-impl-trait +A-trait +C-bug +T-compiler

[2022-01-16 00:28] Patrick-Poitras commented on #92894
@rustbot label +A-impl-trait +T-compiler

[2022-01-16 00:31] nazar-pc commented on #69785
I just hit the same issue on nightly:
[code]

Reproduction is huge though: https://github.com/subspace/substrate/tree/rust-69785

Just `cargo test` it. This happened after I upgraded `wasmtime` dependency from `0.31.0` to `0.33.0`.

I don't see `type_alias_impl_trait` feature used in `wasmtime-cranelift`.

[2022-01-16 00:32] SevenO2 opened #92954 "ICE with GAT + HRTB"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-16 00:44] kirawi commented on #92815
The incremental compiler woes never cease.

[2022-01-16 02:13] jsha opened #92957 "rustdoc: linkify "Structs", "Traits", etc., in sidebar"
In rustdoc sidebars, most headings are clickable links. For instance, "Required Methods" and "Implementors" in the sidebar of https://doc.rust-lang.org/nightly/std/string/trait.ToString.html.

However, the headings under "Other items in..." are not clickable. We should link those to the appropriate subheading on the module page. That allows the user to see a more verbose listing of items in the mo

[2022-01-16 02:37] pmnoxx commented on #90091
Should the result be an `Option`?

[code]
I've been looking an api like that. However, it would be great to add a proper handling of cases, where split can't happen.

Consider
[code]

[2022-01-16 02:50] EFanZh opened #92958 "The assembly codes generated by calling `<[T]>::sort_unstable_by` contains bounds checking codes"
See <https://godbolt.org/z/fE18sq4WK>, you can find serval calls to the following functions:

- `core::panicking::panic`
- `core::panicking::panic_bounds_check`
- `core::slice::index::slice_end_index_len_fail`
- `core::slice::index::slice_index_order_fail`
- `core::slice::index::slice_start_index_len_fail`

To my understanding, if the sorting algorithm implementation is correct, no bounds checking

[2022-01-16 06:23] Buzzec opened #92961 "False positive cycle detection with `generic_const_exprs`"
I tried this code:

[code]
[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=292873be78119de9537d605722dd912f)

I expected to see this happen: There to be no cycle error added with the extra where item.

Instead, this happened: A cycle error was emitted when adding a where clause bound that is not dependent
### Meta

`rustc --version --verbose`:
[code]

<de

[2022-01-16 06:47] compiler-errors commented on #92954
Slightly minimized:

[code]

[2022-01-16 07:18] rHermes commented on #62924
I'm a total beginner here, but could someone comment the current way you are supposed to `pop` the first element of a `BTreeSet`, without doing a clone?

[2022-01-16 07:52] bjorn3 commented on #69785
That is https://github.com/rust-lang/rust/issues/92755 which was fixed two days ago. Try updating rustc.

[2022-01-16 08:05] nazar-pc commented on #69785
Indeed, thanks!

[2022-01-16 08:21] dbsxdbsx commented on #31436
I just  got to this issue when I am trying to use `?` with `try` inside a closure, suggested here: https://stackoverflow.com/questions/62687455/alternatives-for-using-the-question-mark-operator-inside-a-map-function-closure
, Hope this feature could be stable soon.

[2022-01-16 09:20] hkratz commented on #92958
@rustbot label I-slow

[2022-01-16 09:31] leonardo-m commented on #92958
That sorting code is complex. Unless it's formally proved down, I think it's better to keep some bound tests inside it and be memory safe. Humilty is better than being sorry and on cve.org.

This is simple to do, just replacing the array/slice accesses and divisions by variable with their uncheked alternatives, allows to perform tests to measure the performance difference. Often only a (small) sub

[2022-01-16 10:09] gkorland commented on #79645
A day ago we started to get this error again `"Failed to load coverage: Truncated coverage data"` on nightly.

[2022-01-16 10:32] jethrogb commented on #90091
`split_at` doesn't return an `Option`.

[2022-01-16 11:19] #92677 closed

[2022-01-16 12:01] michaelsproul commented on #62208
I'm sorry, I never got around to adding it!

[2022-01-16 12:46] ssomers commented on #62924
@rHermes, I think there are two options:
- Write your own, less efficient function using the stable API, as in this [playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fb29075dc27f7bb806798d1b5a66f675) (somewhat copied from [my own stackoverflow question about the same thing for HashSet](https://stackoverflow.com/questions/54712618/can-i-pop-from-a-hashset-

[2022-01-16 14:01] tmiasko commented on #16502
This is covered by `path_statements` lint, together with suggestion to use `drop` when appropriate:

[code]

[code]

[2022-01-16 14:01] #16502 closed

[2022-01-16 14:14] Enselic commented on #92945
Proof-of-concept fix to experiment with can be found at https://github.com/Enselic/rust/pull/1.

I have done some casual verification of that change and it appears to solve the problem in a good way. But the fix requires more thought and testing.

[2022-01-16 14:35] trickster commented on #62924
@rHermes The first element would be minimum. `.iter().min().unwrap()` would give you the minimum element, and `.iter().max().unwrap()` would give maximum. `.iter().next().unwrap()` also gives you the first element. Once you get the first element, you can remove it from the set with `remove(elem)`.

[2022-01-16 14:43] pmnoxx commented on #90091
Yes, that's unfortunate. I think it would be great to add `try_split_at` api. This would simplify at lot of  code.
For example:
[code]

Currently, I have to write code like this to use the api:

[code]
I think it would be much cleaner to write it in a functional way:

[code]
Or even better

[code]

[2022-01-16 15:03] leonardo-m opened #92966 "[ICE] with last Nightly"
On my codebase I've seen an ICE (compiler crash) with the last Nightly:

[code]

I've reduced the code that crashes the compiler to:

[code]

Small changes in that code avoid the crash.

It doesn't crash if I compile with:

[code]

It crashes with:

[code]

It also crashes with:

[code]

[2022-01-16 15:06] richkadel commented on #79645
@wesleywiser I assume this is related to your recent change. We should review the thread and see if there's a clue as to why the regression.

[2022-01-16 15:13] paolobarbolini opened #92967 "Missed optimization with `core::cmp::{min,max} {<,>} n` and the range of one the values is known"
I tried this code:

[code]

I expected to see this happen: the assert is optimized away. By proving `a < 6`, even without knowing `b`, we can assume `a.min(b) < 6`.

Instead, this happened: it doesn't optimize, but it does in the following conditions:

[code]

### Why this matters

Prevents the `ptr_rotate` implementation from optimizing here

https://github.com/rust-lang/rust/blob/7be8693984d32d2

[2022-01-16 15:15] wesleywiser commented on #79645
@gkorland are you seeing this with the Prometheus crate or some other crate?

[2022-01-16 15:22] nikic commented on #92967
Godbolt: https://rust.godbolt.org/z/78sGo6na7 Still doesn't optimize on LLVM head: https://llvm.godbolt.org/z/nTPM51W7K

It looks like LVI currently only handles the case where both sides of the min/max have a known range: https://github.com/llvm/llvm-project/blob/30a4020a7db866990199f523a60ad474d7ec3efa/llvm/lib/Analysis/LazyValueInfo.cpp#L810 Should be easy to fix at least.

[2022-01-16 15:24] matthiaskrgr opened #92968 "missing optimization: switching enum field order to deduplicate identical functions"
[code]
we generate two functions for this example:
[code]
But if I reorder the enum fields in the declaration to
[code]
llvm manages to successfully deduplicate the functions:
[code]

https://rust.godbolt.org/z/dzj4KKP1h

I wonder if we could somehow dedupe unconditionally, maybe by reordering the enum fields or doing some sort of whole-program-optimization (at lto stage?).

[2022-01-16 15:54] rapep9 opened #92969 "segfault"
### Code

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae26a48596e720c6494e950ca3be9450

[2022-01-16 16:11] ehuss commented on #92966
Thanks for the report!  Unfortunately I'm unable to reproduce with the given sample.

When reporting an ICE, it is helpful to use the [ICE issue template](https://github.com/rust-lang/rust/issues/new?assignees=&labels=C-bug%2C+I-ICE%2C+T-compiler&template=ice.md) and fill out the requested fields. In particular, can you include the full output when running with `RUST_BACKTRACE=1 `?

[2022-01-16 16:20] lo48576 opened #92971 "rustdoc: some nested lists are rendered incorrectly"
# Summary

Nested markdown lists as below are not rendered as nested lists, but as single-level lists.

Works as expected:

* stable (`cargo 1.58.0 (7f08ace4f 2021-11-24)`, `rustdoc 1.58.0 (02072b482 2022-01-11)`)
* beta (`cargo 1.58.0-beta (7f08ace4f 2021-11-24)`, `rustdoc 1.58.0-beta.3 (4aa9d237c 2022-01-08)`)

Produces unintended output:
* nightly (`cargo 1.60.0-nightly (358e79fe5 2022-01-04)`,

[2022-01-16 16:28] a1phyr commented on #87335
I haven't found any discussion about how neatly this feature works with `try` blocks:

[code]

However today parenthesis are required around the `try` block, which makes it feel a weird and second-class. Would it be possible to allow eluding them in this special case ?

Or would it be too confusing ?

[2022-01-16 16:29] Kleptine commented on #92485
This is a duplicate, I think. https://github.com/rust-lang/rust/issues/92373

[2022-01-16 16:33] ShuoShen-Susan commented on #92913
I upgrade my python from 3.6 to 3.9, the problem disappeared

[2022-01-16 16:36] rapep9 commented on #92969
https://pastebin.com/raw/0YYJr3q4 -

[code]

**Segmentation fault (core dumped)**

[2022-01-16 16:39] GuillaumeGomez commented on #92971
I need to confirm if it comes from rustdoc or pulldown-cmark. I'll try to fix it in the next days.

[2022-01-16 16:40] GuillaumeGomez opened #92973 "Add "dot separator" test in case there is no `source` link"
Suggested from https://github.com/rust-lang/rust/pull/92937#issuecomment-1013722775.

[2022-01-16 16:56] ehuss commented on #92971
This is a regression in pulldown-cmark, I have opened https://github.com/raphlinus/pulldown-cmark/issues/567

[2022-01-16 16:56] Nemo157 commented on #92971
This also affects `rustdoc 1.59.0-beta.1 (7c0b25092 2022-01-13)`

[2022-01-16 16:58] GuillaumeGomez commented on #92971
Thanks @ehuss !

[2022-01-16 17:08] jsha opened #92974 "rustdoc: use `docblock` class more precisely"
In Rustdoc's CSS, the `docblock` class generally applies to "Markdown-generated HTML that came from the user." However, right now it's also used in a few other places: the `item-decl` uses it, and the ["All Items" page](https://doc.rust-lang.org/nightly/std/all.html) uses it. This makes maintaining the CSS more complicated, because changes that are expected to affect only one type of node actually

[2022-01-16 17:23] jsha opened #92975 "rustdoc: awkward indent when heading is first item in docblock"
On pages like https://doc.rust-lang.org/nightly/std/index.html, where the first item in the docblock is a heading, there is an awkward indent to that heading:

![image](https://user-images.githubusercontent.com/220205/149670629-b252edc0-177c-4c76-83d4-7fe5cd55e6f0.png)

This is intentional (#45450), but we should find another way to do this that doesn't disrupt the visual flow of the document.

[2022-01-16 17:33] jyn514 commented on #92910
https://github.com/rust-lang/rust/issues/81979

[2022-01-16 17:37] bjorn3 opened #92976 "Rustbuild compiles proc macros with -Ztls-model=inital-exec when cross-compiling"
Proc macros are dlopen'ed. `-Ztls-model=initial-exec` is not allowed for dlopen'ed dynamic libraries. Only for dynamic libraries declared directly or indirectly as `DT_NEEDED` of the main executable. While at least glibc reserves a bit of space just in case someone tries to dlopen a dynamic library compiled with the initial-exec tls model, this space is limited and running out of it will cause a f

[2022-01-16 17:38] avirule commented on #62358
It also has 120 comments, a large portion of which are related to bikeshedding the naming. Admittedly, I don't spend much time in issues or PRs, but it seems to me that the community agrees `.contains()` wouldn't align with the semantics of `Option<>` and `Result<,>`. I'm inclined to agree, given the aforementioned methods are generally used in the contexts of collections, which the two types defi

[2022-01-16 17:41] cdknight commented on #80346
These issues (and same conditions, http library) arise when trying to use a chroot (that runs Arch Linux ARM) on an `amd64` machine that uses QEMU's userspace binary translator to emulate `aarch64` when trying to build a Rust program, although this is probably, as people have mentioned, not a `rustc` bug.

[2022-01-16 17:42] c410-f3r commented on #89381
IIRC, `saturating_div` is the only `saturating_*` operator that panics. Although obvious, such behavior should probably deserve a improved documentation.

[2022-01-16 17:51] fee1-dead commented on #51910
Just encountered another thing I couldn't achieve:
[code]

I wrote the code above, then I realized the `base` field should be 32-bits..

The solution to this might be a type named like `struct TruncatePointerForConstUsage<Pointee, Storage>(Storage)` and tell the compiler to track the actual pointer.

[2022-01-16 18:05] filip-hejsek commented on #92869
The crate is compiled with `-C opt-level=2` but the doctest is compiled with no optimization. Compiling the doctest with `-C opt-level=2` fixes the problem. Is mixing optimization levels in a single LTO build supposed to work?

[2022-01-16 18:23] brettman opened #92978 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value',"
Going through the blockchain tutorial here:
https://www.youtube.com/playlist?list=PLwnSaD6BDfXL0RiKT_5nOIdxTxZWpPtAv

Haven't had any issues for a couple days off an on just plowing through the tutorial videos.  Suddenly the complier starts panicking.  Not sure what's causing the error but you can the code is here:
https://github.com/brettman/blockchain-rust

As far as I can tell it's pretty much

[2022-01-16 18:27] leonardo-m commented on #92966
Do you mean running the compiler? (Because no binary is generated, the compiler ICEs).

[2022-01-16 18:36] ehuss commented on #92966
Yes, set `RUST_BACKTRACE=1` when running rustc to get the full backtrace.

I tried on Windows 10.

[2022-01-16 18:38] Alexendoo commented on #92114
No longer ICEs since #92892

[2022-01-16 18:41] leonardo-m commented on #92966
Unfortunately I get zero backtrace... I'll ask online, later.

[2022-01-16 18:44] Alexendoo commented on #87558
No longer ICEs since #92441

[2022-01-16 18:52] trofi commented on #92869
Fixing option mismatch between `doctest` and `cargo test` would certainly help in debugging similar failures in downstream packages. So far people frequently attribute failures to `doctest` itself. I don't know if option mismatch is intentional or accidental.

Generally I would expect LTO to allow mixing different but ABI-compatible optimization levels. I don't know what docs say to guarantee.

[2022-01-16 19:08] alvarozamora opened #92979 "ICE: failed to get layout for `[type error]`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>

I'm trying to read in a binary file (in a probably odd way). I'm just barely learning Rust; started <1 week ago. Sorry for breaking things.

[2022-01-16 19:11] soc commented on #62358
The 69 upvotes each stand for a distinct person, and they all seem to generally approve of this PR.

The 120 comments on the other hand are produced by a minority that can't even agree with itself whether the problem with `contains` is that it is too consistent and should be made more inconsistent – or that it is too inconsistent and should be made more consistent. And that's not even taking the v

[2022-01-16 19:14] Rustinante commented on #62358
I came up with reported issues very early on in this discussion if people care to go back and read

[2022-01-16 19:16] RalfJung commented on #51910
I think the bitops are slightly more powerful than addition, for example they permit implementing "tagged pointer" schemes that back an aligned pointer and a `bool` into a ptr-sized type.

But indeed it seems that for your first example, @fee1-dead, `wrapping_offset` on pointers is sufficient? I'm afraid I do not understand the 2nd example.

[2022-01-16 19:19] glittershark commented on #62358
Can you expand on why you think this is the case? Every criterion that I can imagine that qualifies a type as a collection applies to both Option and Result

[2022-01-16 19:21] soc commented on #62358
@Rustinante And I dismissed them, because making assumptions about what might happen is not equal to a decade of actual evidence to the contrary.

[2022-01-16 19:22] RalfJung opened #92980 "Tracking Issue for const offset_from (const_ptr_offset_from)"
The feature gate for the issue is `#![feature(const_ptr_offset_from)]`.

This tracks `const`ness of the following function(s):
[code]

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discus

[2022-01-16 19:23] Rustinante commented on #62358
They were actual bugs, not assumptions

[2022-01-16 19:25] ShadowJonathan commented on #62358
That is not as decisive as a data point as you might think, language design is subtle, for anyone who might not be distinctly aware of it's intricacies, or any alternatives, they'd either dont know which grass would be greener, or would simply have a vague feeling of "wrong" of all the small decisions that accumulated in their experience.

Rust especially prides itself with being correct and "unde

[2022-01-16 19:26] RalfJung commented on #92980
Cc @rust-lang/wg-const-eval

[2022-01-16 19:28] RalfJung commented on #71499
Indeed I think there is no reason to wait longer, we can stabilize this. Does someone want to prepare a stabilization PR?

[2022-01-16 19:35] soc commented on #62358
@Rustinante Could you share the links to the (at least two) bug reports we should clearly all be aware of?

`contains` does not take a predicate.

The "opinion" is backed up by facts of a standard library shipping this design to its users for 10 years.

I'd love to learn more about these "experiences", but at this point people had plenty of time to come up with _anything_ that would support it, bu

[2022-01-16 19:37] matthiaskrgr commented on #92979
Hm, I only get
[code]

[2022-01-16 19:39] ShadowJonathan commented on #62358
A large part of the conversation has been to change `fn contains(&T)` to a `fn contains(f: impl FnOnce(&T) -> bool)`, i was talking about this part.

In Scala, this is Rust.

That is not what is happening here, the bikeshedding has shifted away from "contains with value" to "contains with predicate", this is not reflected in the initial post, as i believe *that* is what most people are upvoting.

[2022-01-16 19:46] soc commented on #62358
If you have more applicable experience of actual usage of such a method in the wild, then please share it.

Why would people upvote a PR about `contains(<value>)` if they actually wanted `contains(<lambda>)`?

Great! Then let's get this over with, and the people who want to have a method that takes a lambda can have their own PR and all the bike sheds they want in it.

[2022-01-16 19:46] Rustinante commented on #62358
As a user of Rust, why should I have to think about whether what I pass to `contains` should include the Option **and** the value inside the Option, or just the thing inside the option? Why don't we just use another name so that this mental gymnastics never has to be done??? This mental gymnastics is even worse with the predicate.

[2022-01-16 19:49] soc commented on #62358
As thousands of users of Scala have shown, you don't. The problem does not exist.

[2022-01-16 19:50] davidhewitt commented on #79645
Not sure where @gkorland is seeing it, however I'm also seeing this on the PyO3 CI: https://github.com/PyO3/pyo3/runs/4833765075?check_suite_focus=true

[2022-01-16 19:51] Rustinante commented on #62358
As thousands of users of Scala have shown, Rust does not need to exist.

[2022-01-16 19:52] ShadowJonathan commented on #62358
Apologies, i meant that people upvote for value, not lambda, i had some confusing wording, i fixed it.

Its not that easy, @m-ou-se [expressed an opinion](https://github.com/rust-lang/rust/issues/62358#issuecomment-970280621) to change it from value to lambda directly, so i don't think the current API will stabilise as-is.

Since when have Scala users started thinking like Rust users? Wit aside, i

[2022-01-16 19:54] Rustinante commented on #62358
If you just want to carbon copy the ideology of Scala into Rust, and are not interested in improving on the language, I suggest you go back and work on Scala

[2022-01-16 20:04] oli-obk commented on #51910
I'm not sure about the second example either.... how can it be 32 bit if it's supposed to be the address of a static item which may be anywhere in the 64 bit space of the `x86_64` machine.

[2022-01-16 20:10] comex commented on #51910
But if it has to be emitted as addition then it can't be more powerful… Oh, I guess your point is that bitops would allow further const evaluation to extract the tag if needed?

[2022-01-16 20:23] RalfJung commented on #51910
Yeah. Also I don't think using just addition *in the language* we can implement "reset the last bit of the ptr to 0", but we can totally implement this in the CTFE interpreter using just addition in the linker relocations we emit.

[2022-01-16 20:27] #76935 closed

[2022-01-16 20:27] #92280 closed

[2022-01-16 20:27] #92662 closed

[2022-01-16 20:36] ehuss commented on #92979
I believe this was fixed by #90521 which is in 1.59.

[2022-01-16 20:40] steffahn commented on #75027
I'm noticing some missing `Send`/`Sync` implementations on the iterator. (Due to the usage of `*const T`, they are not auto-implemented.)

[2022-01-16 20:40] soc commented on #62358
@Rustinante Please calm down, this is not a good luck.

[2022-01-16 20:47] AzureMarker opened #92984 "Can't modify value after temporarily dropping reference in loop when using Drop"
I tried this code:

[code]

I expected to see this happen: Compile

Instead, this happened: Fails with error:
[code]

It works though if you remove the `Drop` impl for `Console`, or if you remove the loop. I would expect it to work with `Drop` because the drop call happens before `gfx` is modified, and there shouldn't be any drop call immediately after it like the diagnostic suggests.

### Meta

`

[2022-01-16 21:25] JohnScience commented on #62208
@michaelsproul That's regrettable. I opened an issue (https://github.com/rust-itertools/itertools/issues/597). I got around in my project using the `take_until` crate but I might come back only much much later to check the implementation and make a PR.

[2022-01-16 21:34] Aaron1011 commented on #92978
This should be fixed in the latest nightly

[2022-01-16 21:34] #92978 closed

[2022-01-16 21:42] avirule commented on #62358
You *cannot* iterate `Option<>`s or `Result<,>`s, even if they can be coerced into an iterator (this is likely a convenience measure, rather than a purely design-focused choice). Additionally, the types cannot be indexed, as every collection is expected to be able to do (in some form or another).

At first glance, what's proposed here makes sense. `Option<>` can be thought of as a container, with

[2022-01-16 22:02] saethlin commented on #89389
I don't really know when this was fixed, but I'm not seeing the particular codegen that I complained about on 1.58.0 (latest stable) or nightly-2022-01-15 (latest nightly) anymore.

[2022-01-16 22:30] ehuss commented on #92948
Issue: gnu linker errors in run-make-fulldeps

75 of the run-make-fulldeps tests fail with the `gnu` target.  Lots of errors, probably all related to the same underlying problem of handling gnu vs windows paths.

[code]

[2022-01-16 22:34] soc commented on #62358
@ShadowJonathan I hope you see the utter hypocrisy in that?

I'm offering evidence to have a fact-based discussion and get criticized for it, but at the same time "opinions" need to be treated as gospel? Sorry, opinions and facts don't have the same merit. If you don't like the evidence I provide, please bring your evidence own to the table instead of complaining that you don't like mine.

@avirul

[2022-01-16 22:37] jackh726 opened #92985 "Filter adapter for `LendingIterator` requires Polonius"
Currently, you can't write a safe `filter` adapter for a `LendingIterator` with GATs without polonius.

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=75c25bf84bc7bbe62b1b3a977c6c44e1)
[Minimal `Iterator` equivalent](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2d5efa48fa75e43dc87b55a392724683)

[2022-01-16 22:42] Aaron1011 commented on #25345
Note that while lifetime resolution strips away the 'mixed-site' hygiene generated by `macro_rules!`, it does **not** remove the 'def-site' hygiene created by macros 2.0. As a result, the following code compiles:

[code]

The `'a` lifetime created by `macro foo` has opaque (def-site) hygiene, which does not conflict with the `'a` lifetime declared in `impl<'a>`

[2022-01-16 22:45] jsha opened #92986 "Rustdoc: consistentize sidebar HTML generation"
In the Rustdoc sidebar ([e.g.](https://rustdoc.crud.net/jsha/cool-sidebar/std/fs/struct.File.html)), some sections (like Methods) are organized like:

[code]

Others, under "In `<module>`", like Structs or Functions, are organized like:

[code]

The latter is semantically preferable. We should consolidate on using `<ul>` / `<li>` in both types of sidebar sections, to make maintaining our CSS easie

[2022-01-16 23:20] Rustinante commented on #62358
Evidence can be either empirical, or a priori, Analytical reasoning is not the same as opinions.
I want to point out one thing about the “container” for those who still have common sense left in them. It is the “Some” entity that can be said to “contain” something (even then wraps would be a better word), not the Option entity. Calling the “contains” on the Option entity would be to skip one level

[2022-01-16 23:24] soc commented on #62358
@Rustinante not sure writing things like this is helping your argument.

What would certainly help your point of view though – is providing links to the actual bugs you encountered.

[2022-01-16 23:35] znx3p0 opened #92987 "Trait selection provisional cache incorrectly handles DepNodes, leading to ICE"
### Code

Please clone [this repo](https://github.com/znx3p0/canary/tree/1920c7ed65b8181276f06030230dc3c9f8067a22) and build it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-17 00:00] richkadel commented on #79645
@wesleywiser - I downloaded the original test case mentioned at the top of this issue, and confirmed I get the error message. Unfortunately, as we've seen with similar error messages from the LLVM CoverageMappingReader, the message is almost useless. It's generated when the code calls `return make_error<CoverageMapError>(coveragemap_error::truncated);`, but it generates the same error message from

[2022-01-17 00:17] Aaron1011 commented on #92978
See https://github.com/rust-lang/rust/pull/91924