[2021-09-20 09:13] qm3ster commented on #72631
Does `extend_reserve` have `Vec::reserve` or `Vec::reserve_exact` semantics?

[2021-09-20 11:17] Luro02 commented on #88595
I ran into this issue just now, reproducible code:

[code]
(note: this crashes on stable as well)

[code]

`cargo bisect` suggests that the ice has been introduced between nightly-2021-09-02 and nightly-2021-09-01

[2021-09-20 11:20] shepmaster commented on #89085
that’s correct. GitHub does not offer M1 machines for CI.

[2021-09-20 12:44] Luro02 commented on #88595
<details>
<summary>Regression in `nightly-2021-07-17`</summary>
<br>

[code]

</details>

rust-lang/rust#87200

[2021-09-20 13:41] nagisa opened #89116 "Documentation for `fetch_update` talks about success and failure orderings, but the arguments are for fetch and store orderings"
They may be the same but when you read

[code]

(note `set/fetch_order`), the two paragraphs that talk about the operation ordering don't make all that much sense. We should either rename the arguments accordingly or adjust the documentation to talk about `set` and `fetch` orderings instead.

[2021-09-20 14:26] joshlf opened #89118 "ICE in StableHasher"
### Code

The code in question is from [this change](https://fuchsia-review.googlesource.com/c/fuchsia/+/583209) in Fuchsia.

In order to reproduce, first [download Fuchsia](https://fuchsia.dev/fuchsia-src/get-started/get_fuchsia_source) and then [build](https://fuchsia.dev/fuchsia-src/get-started/build_fuchsia).

Once that's done, perform the following steps from inside the Fuchsia repository:

[

[2021-09-20 15:37] tmandry commented on #72117
@rustbot claim

[2021-09-20 15:44] ehuss commented on #88924
Yes, thanks!

[2021-09-20 15:44] #88924 closed

[2021-09-20 15:52] psumbera commented on #86163
If I understand it right, we need to modify:

https://github.com/rust-lang/rust/blob/master/compiler/rustc_target/src/abi/call/sparc64.rs#L62

So that for aggregate data argument (structure with floats) are split into registers...

[2021-09-20 15:53] shepmaster commented on #74042
Is there some way of doing that? I'm trying to do something in the same vein as the original post, but using `Result::map_err`. That function doesn't have `#[track_caller]` (and I don't think it _should_), but for *this specific usage*, I'd like it to.

A made-up example:

[code]

Another route would be if I could get access to the inner implementation of `another_function`... IIRC there was a fun

[2021-09-20 15:59] WaffleLapkin commented on #87293
Since https://github.com/rust-lang/rust/pull/87459 was closed

Maybe this issue should be closed too?

[2021-09-20 16:05] doc-jones commented on #66445
@rustbot claim

[2021-09-20 16:10] Allen-Webb commented on #39232
One ugly workaround I have used for this scenario is to not "use std::borrow::BorrowMut" and write the fully qualified name when BorrowMut is needed.

[2021-09-20 16:11] m-ou-se opened #89119 "`zvariant` fails to compile on latest nightly: size cannot be statically determined"
[code]

[code]

Results in:

[code]

But worked fine recently.

### Version it worked on

[code]

### Version with regression

[code]

[2021-09-20 16:21] m-ou-se commented on #89119
These PRs were merged between those two versions:

- #89000
- #88994
- #82183
- #88650
- #88988
- #88980
- #88978
- #88965
- #88962

[2021-09-20 16:42] hkmatsumoto commented on #89119
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2389119.20.60zvariant.60.20fails.20to.20compile.20on.20latest.20nightly.3A.20size.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-20 16:44] steffahn opened #89121 "Redundant `RefUnwindSafe` impls (and other auto trait impls) listed in standard library docs for some primitive types."
E.g. https://doc.rust-lang.org/1.55.0/std/primitive.pointer.html#impl-RefUnwindSafe-2
[code]
which is actually already a consequence of
[code]
and
[code]

<hr>

Or https://doc.rust-lang.org/nightly/std/primitive.slice.html#impl-RefUnwindSafe-1
[code]
which is actually already a consequence of
[code]
and
[code]

[2021-09-20 16:54] nikomatsakis opened #89122 "Proposal: Change syntax of where clauses on type aliases"
[Source](https://rust-lang.github.io/generic-associated-types-initiative/design-discussions/where-the-where.html)

## Summary

Proposed: to alter the syntax of where clauses on type aliases so that they appear *after* the value:

[code]

This applies both in top-level modules and in trats (associated types, generic or otherwise).

## Background

The current syntax for where to place the "where cla

[2021-09-20 16:55] nikomatsakis commented on #89122
@rfcbot fcp merge

@jackh726 and I have discussed this issue and we both agree that changing the syntax here would be correct. I propose that we go ahead and do it.

[2021-09-20 16:56] nikomatsakis commented on #44265
Opened https://github.com/rust-lang/rust/issues/89122 -- a proposal to alter the placement of where clauses on type aliases.

[2021-09-20 18:30] gcohara commented on #86511
I spent some time investigating this today.
I found that the [above instructions](https://github.com/rust-lang/rust/issues/86511#issuecomment-886081386) didn't fix the problem on the most recent commit.
However, they did work when applied to commit [`a55748f`](https://github.com/rust-lang/rust/commit/a55748ffe94e71f841c7b1d752779b0db138b342).

[2021-09-20 18:34] cramertj commented on #89122
Interesting! I can see why this would be desirable-- the formatting can work out a bit nicer in the new version, and it helps front-load the most important part of the alias (that is, it visually defers the bound until after the main part of the alias has been stated). However, I see two advantages to the previous approach:
1. It's simpler to copy-paste bounds from the trait definition to the impl

[2021-09-20 18:37] shepmaster commented on #89122
@estebank [pointed out to me](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/GAT.20syntax.20whining/near/248320020) that the parser might end up parsing both forms anyway, in order to provide useful diagnostics.

[2021-09-20 18:42] nikomatsakis commented on #89122
Yes, I expect the parser to parse both forms and offer useful tips for how to transform from one to the other.

[2021-09-20 19:28] Aaron1011 commented on #89119
I opened https://github.com/rust-lang/rust/pull/89125 with a fix.

[2021-09-20 19:39] kpreid commented on #89065
Some interrelated thoughts on the stated problems this is trying to solve:

* `NonZeroI*::{MIN,MAX}` are a little weird, because in all other integer cases, all integers between MIN and MAX exist, but in the case of nonzero signed integers, there's also a hole in the middle. I don't have an actionable suggestion for this, but it seems an oddity worth thinking about and possibly **documenting.**

*

[2021-09-20 19:44] Aaron1011 opened #89128 "Clean up handling of `SelectionContext` 'intercrate' mode"
The struct `SelectionContext` has an `intercrate` field. This field is only enabled during coherence checking, when we want to see if two impls overlap.

Unfortunately, this flag ends up 'infecting' a large amount of the trait selection / projection logic. In particular, `InferCtxt` is not aware of this flag, so we can end up caching a particular result (candidate, evaluation, or projection) in in

[2021-09-20 19:46] joshtriplett commented on #89122
FWIW, I can see why the `type ... where ... = ...` syntax would make sense as well, since it seems analogous to `fn ...() where ... { ... }`. I do think the proposed change feels more likely to produce readable code, though.

[2021-09-20 20:09] camelid commented on #89122
Note also that trailing `where` clauses are supported for tuple structs:

[code]

[2021-09-20 20:13] jackh726 commented on #89118
Easy fix here. I saw this at one point in #85499, but it went away with in the final version of that PR, so I had assumed that as the code evolved, this wouldn't get hit.

Anyways, to fix, just make the `RePlaceholder` arm be `RePlaceholder(p) => p.hash_stable(hcx, hasher)` [here](https://github.com/rust-lang/rust/blob/3bb9eecf07630be796c587a4bba70c49ae6a1bae/compiler/rustc_middle/src/ich/impls_ty

[2021-09-20 20:20] petrochenkov commented on #89122
I think this is the way to go.
If this proposal is accepted, then we'll need to support `where` clauses in both positions anyway due to compatibility.
In that case why not return a non-fatal error in one of the cases, and normalize legal syntax to the single already existing form.

What makes you think so?
In functions where clauses are between the header and the body, why in types it should be af

[2021-09-20 20:41] robyoung opened #89129 "Internal compiler error when building empty crate"
I initially saw this when building [unicode-xid](https://github.com/unicode-rs/unicode-xid) however, I have been able to reproduce it building a newly created, empty crate.

### Steps to reproduce

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-09-20 21:14] ehuss commented on #65262
Sorry, forgot that there was a second tracking issue.  Closing as this has been stabilized in https://github.com/rust-lang/cargo/pull/9732.

[2021-09-20 21:14] #65262 closed

[2021-09-20 21:30] klensy commented on #89129
#89085 duplicate?

[2021-09-20 21:40] FabianWolff commented on #89063
@rustbot claim

[2021-09-20 21:46] camelid commented on #89085
The fix looks to have landed in time to be included in the 2021-09-20 nightly being released in a few hours.

[2021-09-20 21:53] eddyb commented on #22649
It's a missing feature: we could try to figure out some kind of "type skeleton" from the patterns, before type-checking the expression being `match`ed, but we don't today.

That is, today the information flows only the other way around: from the expression to the patterns.

[2021-09-20 23:20] Aaron1011 commented on #84970
@MrMuetze That PR won't fix any issues by itself - it will just cause new ICEs if a different kind of compiler bug happens :)

Upgrading the compiler will automatically cause the incremental cache to be cleared, so that's why the issue went away for you. If it happens again (or you get a different ICE) using the newer compiler, please let me know,

[2021-09-20 23:23] cuviper commented on #89040
In practice, `iter` and even `iter_mut` should be stable between successive loops, but future guarantees are harder. Some languages even add extra randomization to map iteration order to deliberately prevent folks from relying on anything.

[2021-09-21 00:02] nikomatsakis commented on #89122
A fair question! Anecdotal reports. It's hard to quantify this, perhaps I should rewrite to "many people". We could try to get more precise about this, perhaps via a survey.

e.g., via rustfmt? That is an option, yes. We could simply union where clauses in the two positions.

[2021-09-21 00:06] mjclements commented on #89065
I like the points @kpreid made. I would concur that ONE as a constant might be useful, but should not be instead of a MIN, even for the signed integers. I think having the lowest possible value clearly demarcated as such has value.

(It would be kinda nice to have a fast way of making number literals of this type. I think that would probably help with adoption. Feel free to tag me if you open an i

[2021-09-21 02:08] stevemk14ebr commented on #46736
Hello, any news on this? std::ffi:CString still cannot be used in no_std code.

[2021-09-21 02:10] tmandry commented on #71072
That issue is tracked in #69663.

[2021-09-21 02:15] Mark-Simulacrum opened #89135 "2021 rustdoc INVALID_RUST_CODEBLOCKS "breakage""
rustdoc currently has a warn-by-default lint, `rustdoc::invalid_rust_codeblocks`, which is intended to tell users when rustdoc sees a Rust language code block which is not valid Rust. However, this lint seems to have always been pretty broken: it only attempted to tokenize the input, not actually parse it into a Rust program. So in most cases before almost any text passed in would've not triggered

[2021-09-21 02:17] Mark-Simulacrum commented on #89080
Based on Zulip discussion it sounds like this is caused by not yet adding the insignificant dtor attributes to std, and @arora-aman is going to work on a PR to do that. We may consider backporting that.

[2021-09-21 02:38] tmandry commented on #88900
We ended up adding a comment above every `#[allow(unused)]` with a link to [a bug](https://bugs.fuchsia.dev/p/fuchsia/issues/detail?id=84729) describing what to do. It was a fairly time consuming issue to deal with.

Also, the true number of cases ended up being ~150.

With regard to `-Dwarnings`, it's not really a choice in a large monorepo. Either warnings are denied or developers get overwhelme

[2021-09-21 03:07] camelid commented on #89135
cc @rust-lang/rustdoc

[2021-09-21 03:15] #87672 closed

[2021-09-21 04:16] newpavlov opened #89136 "MSRV-dependent dependency version resolution"
Based on [RFC 2495](https://github.com/rust-lang/rfcs/pull/2495) Rust now supports the [`rust-version`](https://doc.rust-lang.org/nightly/cargo/reference/manifest.html#the-rust-version-field) field, which currently works as:

This behavior is not ideal. If a project depends on crate `foo v0.1.0` with MSRV 1.56, then releasing crate `foo v0.1.1` with MSRV 1.60 will break build of the project on old

[2021-09-21 04:17] newpavlov commented on #65262
I went ahead and created a separate issue for MSRV-dependent dependency version resolution: #89136

[2021-09-21 04:29] john01dav opened #89137 "Show error E0277 when the trait bound of a struct's member's type is unsatisfied even if E0204 is also present"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fbd47fd0a07c3a9a05978696f46aac3d

[code]

The current output is:

[code]

Ideally the output should look like:

Keeping the other error may or may not make sense, but I propose adding this, as it points more towards how to fix the issue and prevents barking up the tree of how a derive(Copy)'d type can

[2021-09-21 04:34] rodrimati1992 commented on #89137
That's the exact error from Rust 1.43.0 onward, before that it doesn't say what derive the error comes from.

[2021-09-21 06:09] EvanCarroll opened #89140 "Compiler error for improper syntax on trait-bounding lacks proper direction"
I tried this code:

[code]
rustc 1.57.0-nightly (c3c0f80d6 2021-09-14)
binary: rustc
commit-hash: c3c0f80d6081092faff801542dd82f0e2420152b
commit-date: 2021-09-14
host: x86_64-unknown-linux-gnu
release: 1.57.0-nightly
LLVM version: 13.0.0
[code]

[2021-09-21 06:17] Artoria2e5 commented on #21690
Adding a wishlist item when it eventually becomes true: Rust should get a way to temporarily avoid reordering in a certain part of an expression. Fortran compilers usually reorder as they please, but avoid breaking up parenthesized stuff.

[2021-09-21 07:09] workingjubilee commented on #21690
However these optimizations are approached, the consequences can be quite dire: shared objects emitted by some compilers with this style of optimizations can, upon being linked to, **change the floating point CSR for the entire program** and leave it that way, altering results in unrelated code. While Rust is more commonly a standalone binary and thus largely in control of its execution and not in

[2021-09-21 07:14] Artoria2e5 commented on #21690
Saw that thread too! Still not sure whether it affects Rust at all — crtfastmath.o is a linkage thing and the decision seems to be due to the compiler driver, not the backend codegen.

[2021-09-21 07:20] thomcc commented on #21690
Everywhere I've worked using Rust, people have been linking against Rust dylibs, so it's already fairly common in my experience, just not when the program itself is written in Rust. That said, I don't think this needs to be worried that much about so long as we don't do the wrong thing when calling the linker.

I think this is a very tricky problem, and the right solution might be to have differen

[2021-09-21 08:17] djc commented on #89136
I think this probably makes more sense in the Cargo repository, since version resolution happens in Cargo -- might even make sense to do an RFC for it. @ehuss @Eh2406 what do you think?

I can see the attraction of this feature, but I'm also worried about it -- if this behavior doesn't come with a warning, it's trivially possible that downstream crates no longer get updated to upstream dependencie

[2021-09-21 08:45] nerandell commented on #87008
@rustbot claim

[2021-09-21 08:50] nerandell commented on #89118
@rustbot claim

[2021-09-21 09:07] LingMan commented on #51346
_Three years later_

The example given in the first post optimizes as expected since Rust 1.52 ([Godbolt](https://godbolt.org/z/jvPhdc9b4)), however the example from [this comment](https://github.com/rust-lang/rust/issues/51346#issuecomment-394443610) still doesn't optimize away the `%select` ([Godbolt](https://godbolt.org/z/fPjn9zxo6)).

[2021-09-21 09:10] edmorley opened #89143 "Crate version mismatch suggestion not being shown for trait not implemented error"
In #66561 the diagnostic for trait not implemented errors was improved to add a hint suggesting there may be multiple crate versions, if there was a trait found with the same name. However that hint is not being shown for the testcase below, when I would have expected it to be.

Note: This is a variation/subset of #22750 - however I'm filing this separately since (a) this part was meant to be fixe

[2021-09-21 09:15] edmorley commented on #22750
I have another "trait not implemented" variation that isn't fixed by #66561 and doesn't seem to be similar to the previously mentioned testcases - I've filed it as #89143.

[2021-09-21 10:04] gcohara commented on #86511
I'm not sure - I don't really have the knowledge which is necessary to investigate this too much further (it's my first issue and I don't really know much about LLVM).

Could I check if it's an LLVM issue by taking the MIR output from the fixed version of `a55748f` and feeding it through LLVM 12 and 13, then comparing the outputs?

What I could also try if that doesn't work is to find the specific

[2021-09-21 11:09] LingMan commented on #89065
Agreed.

Not sure I follow. The code example at the beginning used `MAX` and not `MIN`. Yes, it does happen to add 1 - which incidentally also happens to be the value of `NonZeroU*::MIN` - so you technically can implement the given example as:

[code]

Luckily, I haven't seen anybody propose such a gross abuse of the `MIN` constant.

Yes, getting a literal `NonZero*` is currently overly clunky and

[2021-09-21 11:26] MrMuetze commented on #84970
I have no in-depth knowledge of the compiler or incremental compilation, but I've tried a local code change that would lead to an ICE with the old nightly version (building -> changing code -> building again -> ICE) and now everything seems to work. So I'm not sure if the situation is as you describe it. I think my repeated building should create a new incremental cache.

[2021-09-21 11:26] sollyucko commented on #21690
Drawing some inspiration from [the CakeML paper](https://cakeml.org/cav19.pdf), perhaps we could have an annotation to mark possible values (ranges and inf/NaN), and have an annotation to allow any value in the range spanned by every combination of real number and floating point evaluation (this should allow widening and fma, I think? - it could require some tolerance for rounding in the wrong dir

[2021-09-21 11:26] iquerejeta opened #89146 "Compiler error when using const generics"
When using a trait function that uses an associated generic constant, the compiler requests a bound to the function using
[code]
If we use that, the code compiles fine. The way I reached to this error is by, instead, using the following bound:

[code]
This case works well if the "deepness" of calls of such functions is one. However, if we have such a bounded function, that calls another bounded fu

[2021-09-21 11:40] newpavlov commented on #89136
Yes, having a Cargo warning for cases when there are dependency updates with incompatible MSRV would be a good feature.

As for security vulnerabilities, I think it should be solved by advisories like [RustSec](https://rustsec.org/) and by yanking versions with security vulnerabilities. Also note that today crates can have minor (for pre-1.0, major otherwise) version updates with security fixes wh

[2021-09-21 12:44] b-naber commented on #89067
Looks as if you didn't implement the trait for [T; c]. The following works:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=074f5967e6332186c1048f3e0ac3bb1b

[2021-09-21 13:48] jackh726 commented on #89118
Any way we can get an MCVE for this? Seems like an important test case for normalization under binders.

@rustbot ping icebreakers-cleanup-crew

[2021-09-21 14:13] nerandell commented on #88866
@rustbot claim

[2021-09-21 14:23] #88866 closed

[2021-09-21 14:42] hydra opened #89149 "Failure on subsequent builds when `--emit asm` used without `-C save-temps`."
I tried this code:

(see attached project)
[buildfailure-1.zip](https://github.com/rust-lang/rust/files/7204014/buildfailure-1.zip)

[code]

I expected to see this happen:

build the first time, build the second time.

Instead, this happened: *explanation*

On the first build, success.
On the second build
[code]

See log (attached)

[log.txt](https://github.com/rust-lang/rust/files/7204018/log.txt

[2021-09-21 14:46] uazu opened #89150 "`TypeId` documentation should mention gotcha re covariant subtypes"
A covariant subtype gets a different type-ID, but can be converted freely from one to the other. This means that taking a type-ID of a generic type argument in a type's `new` method is not guaranteed to give the same type-ID that the type will eventually be called with. The solution is to force the generic type argument to be invariant using PhantomData. See [this bug in `qcell` crate](https://git

[2021-09-21 14:56] afetisov commented on #76354
That doesn't mean that this behaviour needs to be stuffed into `array_chunks` rather than a separate method.

From my perspective, while a method which turns `&[T]` into `(&[[T; N]], &[T])` is undoubtedly useful, so is the current `array_chunks` iterator. It's behaviour nicely parallels `chunks`, which makes it easily understandable and discoverable. It makes migrating between the const generic an

[2021-09-21 15:04] not-an-aardvark commented on #76354
I think this already exists as [`as_chunks`](https://doc.rust-lang.org/std/primitive.slice.html#method.as_chunks).

[2021-09-21 15:24] b-naber commented on #89052
Duplicate of https://github.com/rust-lang/rust/issues/82541

[2021-09-21 15:39] b-naber commented on #82513
Didn't you mean to write?

[code]

That seems more like what was intended here and it compiles.

[2021-09-21 15:51] Nitepone commented on #44894
I'd like to add on to concerns about confusions of available docs. When looking for a Rust style guide to determine semantics for rustdoc comments, I encountered the following:

![image](https://user-images.githubusercontent.com/22133940/134197317-0378b64a-5f26-47c3-90af-881c16fd8123.png)

The correct doc is the first result. However, it is hosted on Github, which is not the primary location for R

[2021-09-21 15:53] #88903 closed

[2021-09-21 15:53] jyn514 commented on #89135
Yet more discussion: https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/Edition.20Blockers.28.3F.29

[2021-09-21 16:12] shepmaster commented on #76354
Make sure to read previous comments, such as https://github.com/rust-lang/rust/issues/76354#issuecomment-785471827 and https://github.com/rust-lang/rust/issues/76354#issuecomment-785483164

[2021-09-21 16:18] Mark-Simulacrum commented on #88969
Reopening -- @Aaron1011 can you make sure the appropriate PRs are beta-nominated?

[2021-09-21 16:29] pnkfelix opened #89151 "Tracking Issue for RFC: Supertrait Item Shadowing"
This is a tracking issue for:

- https://github.com/rust-lang/rfcs/pull/2845
- https://github.com/rust-lang/rfcs/pull/3624

The feature gate for the issue is `#![feature(supertrait_item_shadowing)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.  They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questi

[2021-09-21 16:59] camelid commented on #89085
Note that there was an error building the 2021-09-20 nightly, so it wasn't actually released. Hopefully the 2021-09-21 nightly will build successfully and be released in ~8 hours.

[2021-09-21 17:21] afetisov opened #89153 "Confusing trait bound error with impl parameter"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=fn%20bar()%20-%3E%20anyhow%3A%3AResult%3C()%3E%20%7B%0A%20%20%20%20if%20true%20%7B%0A%20%20%20%20%20%20%20%20Err(String%3A%3Anew().into())%0A%20%20%20%20%7D%20else%20%7B%0A%20%20%20%20%20%20%20%20baz(String%3A%3Anew())%0A%20%20%20%20%7D%0A%7D%0A%0Afn%20baz(e%3A%20impl%20Into%3Canyhow%3A%3AError%3E)%2

[2021-09-21 17:41] cramertj commented on #89122
Ah-- I made a procedural mistake and did not file a concern. I assume we're still considering this pending further discussion?

@rfcbot concern do-we-want-to-make-this-change

[2021-09-21 17:46] gcohara commented on #86511
The fix stops working at commit [db002a0](https://github.com/rust-lang/rust/commit/db002a06ae9154a35d410550bc5132df883d7baa).
Looks like it's related to LLVM 13 after all

[2021-09-21 17:55] joshtriplett commented on #89006
Seems reasonable; let's get consensus:

@rfcbot merge

[2021-09-21 17:58] m-ou-se commented on #89006
Important to note: This will make `assert!(1 == 2, "...")` work in const, but `assert_eq!(1, 2, "...")` will still not work, since it uses more complicated formatting.

[2021-09-21 18:04] eddyb commented on #86511
cc @nikic

[2021-09-21 18:14] jackh726 commented on #89118
@camelid good question, I don't know. If this indeed is directly caused by #85499, then it would be, yes.

Can somebody check this? I don't personally have the time to right now.

[2021-09-21 18:26] joshlf commented on #89118
@jackh726

I would have no idea how to do that for the change that caused the issue. I was deep in the middle of tearing my hair out trying to figure out why a certain trait (in a very hairy mess of traits) wasn't implemented. I was confused enough as it was without the ICE 😂 MCVE would be great, but I unfortunately can't provide one starting from the offending change. Perhaps someone else can cre

[2021-09-21 18:26] darthdeus commented on #81895
One thing that might be worth noting is that this causes problems with tests that `panic!` in `Drop`, since the test runner aborts and you don't even get a summary of successful/failed tests, it just stops as is.

An easy way to reproduce this is to have something that needs to be modified otherwise it panics in `Drop`, and then have a failing assert in the middle of the test. The failing assert c

[2021-09-21 18:28] c410-f3r commented on #89006
It is not the scope of this issue and I would like to chime to draw the attention of also considering "constifying" `Result::unwrap()` and `Option::unwrap()`. Without them, people will probably write

[code]

instead of the much simpler

[code]

[2021-09-21 18:29] jyn514 commented on #81895
@darthdeus https://github.com/rust-lang/rust/issues/87323

[2021-09-21 18:52] bjorn3 commented on #89149
Does the same thing happen with `CARGO_INCREMENTAL=0`? It is possible that this is caused by the assembly file not being stored in the incremental cache, yet not regenerated due to the codegen unit dependencies still being fresh.

[2021-09-21 19:03] bjorn3 opened #89154 "Use LLVM's externally_available linkage for inline functions"
This tells LLVM that the function has a given definition to allow for inlining, but that the function is already externally defined, so locally emitting object code for it is not necessary. It is necessary to provide an export elsewhere though. This can be done by making the monomorphization collector handle them like normal functions when it isn't being inlined from another crate or cgu.

On one

[2021-09-21 19:22] RalfJung commented on #89006
`Result::unwrap` is way out of reach for now since it formats the `Err` value.

But `Option::unwrap` and `Option::expect` would be reasonable to stabilize I think -- they are basically forms of `assert`.

[2021-09-21 19:35] workingjubilee commented on #21690
Directly? No. I am more noting it as a potential consequence of missteps: we shouldn't allow Rust code to be a "bad citizen" and change the results in unaffected programs, so we should be careful about e.g. allowing changing the FPCSR as an optimization.

I agree with a scope-oriented model that would allow defining functions that have stricter or looser FP semantics, with a broadly similar model

[2021-09-21 19:43] FabianWolff commented on #89140
I see your point, but the syntax is actually perfectly fine; for instance, this compiles:
[code]
Therefore, I think this is difficult to fix, because suggesting to replace generic arguments with trait bounds is generally not what you want.

[2021-09-21 19:58] Lucretiel opened #89156 "Type mismatch errors in a inferrence context could provide more information about how a type is inferred"
Consider this code*:

[code]

This code is correct and compiles successfully. At (1), we create an object of some generic type `T`. This type is inferred to be `String` because of (2). The `use_str` call at (3) then succeeds because `String: Deref<Target=str>`.

Now, consider this variation:

[code]

This is identical except that the branch arms are swapped. Intuitively, this should be fine; Rust'

[2021-09-21 20:35] stuhood commented on #87384
Is a fix for this likely to make an upcoming release? It would be good not to need to skip incremental compilation.

[2021-09-21 20:39] nikomatsakis commented on #89006
@rfcbot reviewed

[2021-09-21 20:47] nikomatsakis commented on #89122
We discussed this in our [@rust-lang/lang meeting today](https://github.com/rust-lang/lang-team/blob/master/minutes/2021-09-21.md#proposal-change-syntax-of-where-clauses-on-type-aliases-rust89122). There wasn't a clear consensus one way or the other.

Some points we identified:

There are plenty of cases in Rust's existing grammar where `where` clauses follow types:

[code]

Therefore, there isn't

[2021-09-21 21:02] WaffleLapkin opened #89159 ""struct defined here" doesn't show where the struct is defined"
When a `struct` defined outside of the current crate is used with not enough generics, the note in the error says "struct defined here" but doesn't show where.

Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=561e2845762fff0f305fcbdab454916d):

[code]

The current output is:

[code]

Ideally, the output should look like this:

[code]

---

I'm wi

[2021-09-21 21:07] kpreid commented on #89140
`impl<T> Trait<MyInto<T>> for Struct {}` will no longer be valid syntax in the 2021 edition, specifically because it is confusing. Right now, the error message on nightly + edition=2021 is:

[code]

**But there's no reason this particular error shouldn't mention other possible replacements** — particularly, using generics instead of `dyn` — now that a trait name in type position _doesn't_ ever mea

[2021-09-21 21:23] robertazzopardi opened #89160 "Internal compiler error: unexpected panic"
Happened today trying to build a current project of mine. Creating and building a new project works on stable, but produces the following error on nightly regardless of whether it is a fresh project or not.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-21 21:23] #89063 closed

[2021-09-21 22:07] #88637 closed

[2021-09-21 22:07] #89074 closed

[2021-09-21 22:57] PatchMixolydic commented on #89160
Seems like a duplicate of #89085

[2021-09-21 23:24] jayaddison commented on #62544
(arrived here thanks to an initially unrelated curiosity re: `iterator::partition` (specifically, that it only provides binary partitions))

About use cases: one could be to aid (perhaps semi-automated) porting of existing C++ code that uses `stdlib` `partition` (which maps to `partition_in_place` in Rust, as I understand it?) in combination with `stdlib` [`is_partitioned`](https://en.cppreference

[2021-09-22 00:37] #88684 closed

[2021-09-22 00:37] #89088 closed

[2021-09-22 00:37] #89091 closed

[2021-09-22 00:37] #88384 closed

[2021-09-22 00:37] #88876 closed

[2021-09-22 02:03] xunfeng1980 commented on #89085
yep,  2021-09-21 nightly version is normal

[2021-09-22 02:04] #89085 closed

[2021-09-22 04:01] #88625 closed

[2021-09-22 04:16] cemeyer commented on #89058
I’m also a FreeBSD and Rust developer and would support dropping 10 support immediately, and 11 support in a few days, when it is officially EOL.

[2021-09-22 04:30] delphij commented on #89058
I'm also a FreeBSD developer and I would second @cemeyer . FreeBSD 10 support should be gone as it's EoL'ed almost 3 years ago, and FreeBSD 11 support would be ended [really soon](https://www.freebsd.org/security/) too.

At FreeBSD we are committed to provide backward compatibility for applications compiled for older version of FreeBSD releases by maintaining stable system call interfaces; for C r

[2021-09-22 04:41] laffer1 commented on #89058
Dropping FreeBSD 10 support is likely fine at this point.  I think it's premature with 11, despite the upcoming EOL date.

[2021-09-22 04:58] hkmatsumoto opened #89166 "Don't suggest replacing a field when the fix does not type checks"
Follow-up to https://github.com/rust-lang/rust/pull/87960#discussion_r692009241

Given the following code:
[code]
The nightly output includes:
[code]
However, ideally, this suggestion shouldn't be present because of `bravo: u8`.

[2021-09-22 05:19] bsdimp commented on #89058
Dropping FreeBSD 10 is fine. There have been no security updates to it in over 3 years, so nobody with any kind of security concerns are still running it. FreeBSD 11 is about to be in the same boat. Unless there's some really compelling application stuck on FreeBSD 11 that can't recompile and redeploy to FreeBSD 12, it would be far more beneficial to update to FreeBSD 12's ABI. Old ABIs are genera

[2021-09-22 05:50] workingjubilee opened #89168 "Double ICE with adt_const_params, generic_const_exprs, and incremental!"
I got this with what looks like a **double ICE**!

[code]

Maybe just a messaging bug? But also hilarious.

Not sure if dupe. Appeared on `cargo test`, reappeared (with less doubling) on reruns, disappeared on `cargo clean`.

[2021-09-22 06:35] BoxyUwU commented on #89168
Did you have `feature(generic_const_exprs)` enabled?

[2021-09-22 06:43] #88360 closed

[2021-09-22 07:14] bapt commented on #89058
Following the freebsd EOL policy is perfectly fine. FreeBSD 10 support should be dropped now, FreeBSD 11 should be dropped by November 1rst.

[2021-09-22 07:49] philipc commented on #88521
Here's a reproduction using the xtask crate within rust-analyzer (6b77e320f with `lto = true` and `debug = 2` added to `Cargo.toml`).
[code]

<details><summary>The executable has 4 skeleton units pointing to the same .dwo:</summary>

[code]
</details>

Note that none of these contain any definitions with addresses.

And `xtask-be398824d5b61cec.write_json-94b9108f588c9a54.write_json.1ae45326-cgu.0.

[2021-09-22 08:05] robertazzopardi commented on #89160
Yes and has been fixed in
[code]

[2021-09-22 08:05] #89160 closed

[2021-09-22 08:13] WaffleLapkin commented on #89159
Hmm, I can't reproduce this locally, but I see this happening on both playground and godbolt. Maybe it's caused by the unavailability of the `rust-src` component there?

[2021-09-22 08:26] michaelwoerister commented on #89085
Awesome `:)`

[2021-09-22 08:37] unrelentingtech commented on #89058
12 is about the only real backwards-incompatible break (64-bit inodes) in a long long time. EoL of everything before that is a great event \o/ Rust definitely should start the move into the ino64 world soon (by the end of the year). IIRC the libc crate already has flags to use newer ABI, so they should become the default.

[2021-09-22 08:40] dch commented on #89058
as asomers points out, the FreeBSD ports tree (from which all the packages for end users are built), drops support at the same time. Users who don't stay current with a supported FreeBSD release, will stay on the last rust version that they installed, without a path for upgrade.

[2021-09-22 09:18] lcnr opened #89173 "not all c style formatting specifiers are detected"
i've tried
[code]
i expected:
[code]
the actual error message does not contain such a help message:
[code]

[2021-09-22 09:20] lcnr commented on #89173
note that the following does suggest `{:06x}`
[code]

[2021-09-22 09:27] jamesmunns commented on #89173
Is there a typo in your snippet?

[code]

The `*` looks out of place to me, even for printf formatting. It's also not matched in your "expected" output (the `*` is not there).

[2021-09-22 09:32] lcnr commented on #89173
no, `*` is used to get the width specifier from the arguments, which is why the equivalent rust specifier would be `{1:00$x}` here. see https://rust.godbolt.org/z/MvdsPTWTa for working `c` code

[2021-09-22 09:52] dkasak commented on #62569
This seems to have reached a political impasse but it doesn't seem like the following point was ever addressed? At least I don't see it in this thread.

At the same time, I haven't seen strong reasons *against* including a mechanism for disabling this in the compiler, via a top-level attribute. Can we revisit this perhaps?

[2021-09-22 09:59] jamesmunns commented on #89173
Wow! Thanks for explaining, TIL (in both Rust and C!)

[2021-09-22 10:02] SimonSapin commented on #50186
Today I’m writing a helper method (local to my crate) that does the same as `Cell::update`. Having it available on Stable directly on `Cell` would be nice.

There are a few possible variations of the API, but at this point more time on Nightly is not gonna bring much new information about which is better.

---

It’s not just similar, an exclusive borrow is exactly what `&mut T` is. Before 1.0 ther

[2021-09-22 10:15] danielhenrymantilla commented on #55535
Yeah, this has to do with the drop glue (or _potential_ drop glue in the case of RPIT (`-> impl Trait`)) of temporaries that belong to an end-of-block expression whose value thus "slides" onto the outer scope.

In that case, that drop glue runs at "the end of statement" _w.r.t._ the _outer_ scope, not the inner one, which means that that drop glue runs _after_ all the locals of that scope have bee

[2021-09-22 11:54] b-naber commented on #89146
@rustbot claim

[2021-09-22 13:12] MikaelUrankar commented on #89058
Drop support for FreeBSD 10 and 11  please.

[2021-09-22 13:25] TaKO8Ki commented on #88645
@rustbot claim

[2021-09-22 13:33] jacobbramley commented on #79089
Note, as well, that this isn't clear in [the libc documentation](https://docs.rs/libc/0.2.102/libc/type.c_char.html) (which seems to be generated from the x86_64 build).

[2021-09-22 13:54] sambiak commented on #71684
Is there a consensus on reccomending the [home crate](https://crates.io/crates/home) ? If yes, the documentation should reflect that. In its current state the documentation is [confusing](https://stackoverflow.com/questions/64918731/how-do-i-find-the-path-to-the-home-directory-for-linux).

If there is no consensus, maybe the documentation should present a set of alternatives ?

[2021-09-22 14:29] est31 commented on #79089
@jacobbramley in the standard library this issue has been improved recently with PR #89114 . The libc crate's repository is here: https://github.com/rust-lang/libc

[2021-09-22 14:37] WaffleLapkin commented on #74465
@matklad Is the rename/move proposed in https://github.com/rust-lang/rust/issues/74465#issuecomment-763993225 still considered? https://github.com/rust-lang/rust/issues/74465#issuecomment-783294558 asked if someone could make a PR and I don't see anyone responding to this. I'd like to make a PR, if it's still an option

----

Currently, the `set` methods look like this

[code]

I'm a bit surprised

[2021-09-22 14:56] smoelius commented on #66079
I seem to have run into a small problem. I am getting `add #![register_tool(name)] to the crate root` errors when `#![register_tool(name)]` is already in the crate root.

It appears that when [`LintLevelsBuilder::new`](https://github.com/rust-lang/rust/blob/cfff31bc833070a00578bd6178160aeed56f28ba/compiler/rustc_lint/src/levels.rs#L62-L67) is called in an early context (specifically, [here](https:

[2021-09-22 15:09] jplatte commented on #65439
Another possibility: Only / first introduce additional `File` constructors such as `File::(open_)?append`, then re-evaluate how much the additional `OpenOptions` constructor is.

[2021-09-22 15:36] asomers commented on #89058
@mirabilos could you please explain your objection?

[2021-09-22 15:41] shepmaster commented on #89020
Note that this causes the doc tests to be re-run for each instance:

[code]

[2021-09-22 15:53] ImUrX commented on #77839
is there any discussions happening with other toolchains currently? I think letting this stale is not the best idea tbh

[2021-09-22 15:59] emaste commented on #89058
There's a related discussion happening for Go now, although Go's avoidance of libc makes it interesting: https://github.com/golang/go/issues/48164

I agree with dropping FreeBSD 10 support immediately and also agree with moving to 12.x the minimum supported version. However, the official EOL is hust over a week from the time I'm writing this comment and I would suggest waiting a short time after t

[2021-09-22 16:06] crepererum commented on #87012
So we have this issue over at https://github.com/influxdata/influxdb_iox as well. Here is a (non-minimal) reproducible example:

[code]

I've also followed <https://blog.rust-lang.org/inside-rust/2020/02/25/intro-rustc-self-profile.html> and created a chrome profile: https://we.tl/t-dqgMlqYWHI (can re-upload somewhere else on request)

There you can see the detailed calls to `evaluate_obligation`

[2021-09-22 16:47] arlosi opened #89177 "Execution continues after stdin read_line when ctrl-c is pressed on Windows"
When blocking on `read_line` from `stdin`, if I press Ctrl-C, program execution continues past the blocking `read_line` call for a short period before the program is terminated on Windows.

I tried this code:

[code]

**I expected to see this happen:** Program should **exit** after pressing Ctrl-C without printing the second message.
**Instead, this happened:** Program prints `This should not prin

[2021-09-22 16:53] allanjude commented on #89058
Specifically, getting to to at least the 12 ABI gets rust onto the good side of the changes to support 64-bit inodes and longer filesystem mountpoints.

[2021-09-22 16:54] leoniloris opened #89178 "'rustc' panicked at 'attempted to read from stolen value"
Hello, I'm facing the following bug, and the compiler recommended me to submit a bug report.

I'm sorry but I can't post the full code. I'm trying to come up with a minimal example, but well, it works fine with windows toolchains

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-09-22 17:37] DesmondWillowbrook commented on #57965
What is the status of this issue>

[2021-09-22 17:40] jonas-schievink commented on #57965
see #75067, it needs to be reimplemented in a way that does not regress performance as much

[2021-09-22 18:24] jamespharaoh commented on #39364
It can surely be depcrecated, perhaps with a link to something better as suggested in the next comment. But deprecation doesn't mean deletion - it just means that it is no longer recommended.

I think it makes sense to deprecate as soon as possible, and to add suggested workarounds as soon as possible afterwards.

In any case, the docs for this already include a link to this github issue....

[2021-09-22 18:44] m-ou-se commented on #71359
Reassigning from compiler, as there's not much we can do in the library. We'll leave it up to the compiler team to decide on a possible solution, or close otherwise.

[2021-09-22 18:50] joshtriplett commented on #88971
These are unstable methods, so can we come up with reasonable names to rename them to, knowing that we don't have to commit to those names long-term if we come up with better ones before stabilization?

[2021-09-22 19:22] camelid commented on #88809
Note that this bug is specific to cross-crate re-exports; the same documentation in `core` renders correctly. There also seems to be another "bug" related to cross-crate re-exports and `where` clauses: In the `core` docs, the impl looks like this (which is how it's actually written in the source):

![image](https://user-images.githubusercontent.com/37223377/134408031-f9f54201-6faa-43fc-97f7-d46444

[2021-09-22 19:23] camelid opened #89180 "rustdoc: Re-exported impls render all bounds in `where` clauses, regardless of source appearance"
There is a "bug" related to cross-crate re-exports and `where` clauses: In the `core` docs, the impl looks like this (which is how it's actually written in the source):

![image](https://user-images.githubusercontent.com/37223377/134408031-f9f54201-6faa-43fc-97f7-d46444c47c7c.png)

But in the `std` docs, the impl looks like this, with all of the bounds expressed as `where` clauses:

![image](https

[2021-09-22 19:28] joshtriplett commented on #88971
Conclusion from the libs-api meeting: let's temporarily rename these to something non-conflicting that we know we don't want to use long-term; for instance, let's prefix them with `unstable_`.

[2021-09-22 19:28] m-ou-se commented on #88971
Discussed in the libs-api meeting. We'll rename them for now and beta-backport that.

[2021-09-22 19:39] joshtriplett commented on #88971
Long-term fix:

- We should fix the unstable-vs-stable resolution here: if the compiler finds an inherent method that's unstable and not opted into, and we're going to error out anyway, keep going and see if we find a stable method we can use.
- We could potentially do autoderef here, since the type is `Copy`.

[2021-09-22 19:44] cynecx commented on #89180
Re-exported types/traits are weird in general (eg. https://github.com/rust-lang/rust/issues/84579). Is there a reason why re-exported types/trait/impls are rendered differently?

[2021-09-22 19:55] m-ou-se commented on #68983
Looks like these were already stabilized as const in 1.47. Closing this issue.

[2021-09-22 19:55] #68983 closed

[2021-09-22 19:55] TheDutchMC opened #89181 "Actual type given in compiler error, rather than generic paramater"
I tried this code:
[code]

I expected to see this happen: *explanation*
Either Rust compiles the code, or reports an issue, where the lines reported are the lines I've given it

Instead, this happened: *explanation*
Rust fails to compile (Probably correct), give's back a line of code with the generics substituted for their real types, in this case `&str`

The compiler emitted the following error:

[2021-09-22 20:28] workingjubilee commented on #89168
Yes.

[2021-09-22 20:29] apiraino commented on #88972
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388972.20regression.3A.20cycle.20in.20MIR.20opts) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-22 20:34] apiraino commented on #87757
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387757.20no.20errors.20encountered.20even.20though.20.60delay_span_bug.60.20i.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-22 20:38] BoxyUwU commented on #89168
I would expect #89113 to have fixed this ICE then but it's a bit hard to tell

[2021-09-22 20:39] camelid commented on #89180
Not to my knowledge. I think it's just that re-exports have a different code path, so the two paths can get out of sync. In most if not all cases, it's just subtle bugs in rustdoc :)

[2021-09-22 20:44] apiraino commented on #88643
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388643.20error.3A.20internal.20compiler.20error.3A.20compiler.2Frustc_passe.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-22 20:55] apiraino commented on #88888
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388888.20stability.20break.20in.20rust.201.2E54.3A.20generic.20.60Self.60.20types.20a.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-22 20:58] joshtriplett commented on #88971
https://github.com/rust-lang/rust/pull/89184

[2021-09-22 21:05] apiraino commented on #88862
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388888.20stability.20break.20in.20rust.201.2E54.3A.20generic.20.60Self.60.20types.20a.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-22 21:06] camelid opened #89185 "rustdoc: Scrollbar shown instead of warning (or error) icon"
It looks like it's inheriting `overflow-x: auto` for some reason.

### nightly (broken)

![image](https://user-images.githubusercontent.com/37223377/134421788-f1d9ac53-aa39-4c91-bbfa-0dd35cb9228f.png)

### beta (good)

![image](https://user-images.githubusercontent.com/37223377/134421829-3a0cc254-eca7-4fa1-954b-c2eb306797c1.png)

[2021-09-22 21:07] camelid commented on #89185
cc @rust-lang/rustdoc

[2021-09-22 21:11] apiraino commented on #88869
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388869.20Doublicated.20ld.5Cld64.20executables.20added.20into.20rustc.20pac.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-22 21:16] apiraino commented on #89185
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2389185.20rustdoc.3A.20Scrollbar.20shown.20instead.20of.20warning.20.28or.20erro.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-22 21:25] jyn514 opened #89186 "Rustdoc does not hide implementations of `doc(hidden)` trait methods"
I tried this code:

[code]

I expected to see this happen: Rustdoc does not show `f` in the documentation for `S`.

Instead, this happened:
![image](https://user-images.githubusercontent.com/23638587/134424097-08e38412-c220-40f7-8ad3-2285947206b3.png)

Since `f` is properly hidden in the documentation for `Trait`, the link for `f` is broken.

### Meta

`rustc --version --verbose`:
[code]

_Origina

[2021-09-22 21:27] nbdd0121 commented on #89185
I couldn't replicate locally (both Edge and Firefox seems to render it correctly).

[2021-09-22 21:27] jyn514 commented on #89186
Mentoring instructions: when generating trait impls and `--document-hidden-items` is not passed, skip all methods where the method in the original trait was hidden. See https://github.com/rust-lang/rust/pull/86513 for a similar change - the relevant code is `build_impl` in `src/librustdoc/clean/inline.rs`.

[2021-09-22 21:35] Amanieu commented on #26951
We discussed this in the Libs API meeting today: the consensus was that we should pipe "invalid layout" errors through to `alloc_error_handler` by making it take a `enum` with either `AllocErr` and `LayoutErr`. This would be similar to the existing unstable `TryReserveError` type, and in fact we could reuse the same type in both places.

[2021-09-22 22:29] thomcc commented on #72016
FWIW I've used clobber_abi in some code, and it worked well. I was surprised that I couldn't clobber two abis in the same ASM block (it contained a call to C and then to Rust), but it wasnt a big deal.

I also worry that by stabilizing without that, people will fail to clobber the correct set of registers when they inevitably make a call in `asm!`.

[2021-09-22 22:32] estebank commented on #89122
Third option: support both 😬

We _have_ to support both in the parser for diagnostics, what if we just... accepted both ways?

[2021-09-22 22:38] #79546 closed

[2021-09-22 22:43] bjorn3 commented on #72016
If you want to call into rust from an asm block you will have to use `extern "C"` or another stable abi when defining the rust function.

Theoretically with some compilers it could still take a return pointer or caller location as used by `#[track_caller]` to simplify compiler code. Or more realistically it may use a different base calling convention that for example expects the stack to be more s

[2021-09-22 22:47] camelid commented on #89185
I'm using Firefox, so at least my version does not render it correctly :)

I'm using the latest stable version of Firefox on macOS.

[2021-09-22 22:51] camelid commented on #89185
I checked in Chrome on macOS and it renders correctly, so it seems like the situation is this:

| Browser | OS | Status |
| ----- | -- | ---- |
| Firefox | macOS | ❌ |
| Chrome | macOS | ✅ |
| Edge | ? | ✅ |
| Firefox | ? | ✅ |

[2021-09-22 23:04] thomcc commented on #72016
Yep fair enough!

[2021-09-22 23:32] jackh726 commented on #88862
status update: I've been trying to look into this. Given the complexity of the MCVE, it's very difficult. When running the MCVE with `RUSTC_LOG=rustc_trait_selection,rustc_infer` and letting it run for minutes, here is just a random snippet of the last few lines of output: https://gist.github.com/jackh726/a6e52b8817c66e1a4503a9ebdbf5c8cc

A couple things to note:
- We've created 22847 region varia

[2021-09-22 23:39] audunhalland opened #89188 "derive(Clone) with HRTB and GAT"
I tried this code:

[code]

I expected to see this happen: *it compiles*

Instead, this happened: *it fails to compile*, with
[code]

Removing `#[derive(Clone)]` makes it compile.

A bit longer playground demonstrating what this code snippet can be used for:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a20f6a74ae1c1e8b2838aa428beee1fe

I'm not an experienced user of HRT

[2021-09-22 23:43] vorot93 opened #89189 "assertion failed: !value.has_escaping_bound_vars()"
### Code

This commit reliably crashes rustc:
https://github.com/akula-bft/akula/commit/b28cbcebeeefd2266b926255b632692c3c64130b

I haven't managed to minify this as the following works just fine:
<details>

[code]

</details>

### Meta

`rustc --version --verbose`:
[code]

### Error output and backtrace

[code]

</p>
</details>

[2021-09-22 23:43] Tamschi opened #89190 "Trait upcasting shadows (trait object) deref coercion"
### Code

I tried this code:

[code]

I expected to see this happen: This should probably continue to compile as before, unless proven to be equivalent.

Instead, this happened: The detection for https://github.com/rust-lang/rust/issues/65991 seems to be a little too aggressive, so it's flagging the coercion as feature-gated in beta even though a deref coercion is available:

[code]

Playground: h

[2021-09-22 23:50] personalizedrefrigerator commented on #57525
[This is also what Dart does](https://dart.dev/guides/language/effective-dart/documentation#do-start-doc-comments-with-a-single-sentence-summary). I think it would be quite nice to have.

[2021-09-23 00:13] workingjubilee commented on #87228
From the perspective of someone who previously used Python, having to import to do IO, when Python has `open` as a builtin, feels odd. From the perspective of someone who previously used JavaScript, having even trivial math and logging functions be (somewhat) scoped feels normal, but the rules around strings, arrays, and Vecs get quite strange. Rust makes `println!` available in the prelude, even

[2021-09-23 00:13] Lokathor commented on #72016
This makes me think that you should be able to provide a function type (or types) to the clobbers_abi and then the the compiler will act appropriately.

[2021-09-23 00:18] Amanieu commented on #27747
We discussed this in the libs team and the consensus is that we will likely never stabilize the `Concat` and `Join` traits: these will remain implementation details of the `join` and `concat` methods.

@rfcbot close

[2021-09-23 00:19] workingjubilee commented on #89168
Probably! This can be closed for now, I will reopen it if it crops up again.

[2021-09-23 00:19] #89168 closed

[2021-09-23 00:25] camelid opened #89191 "Confusing note "use occurs due to use in closure""
Ideally, it would say something like "value used here in closure".

### Code

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7d868154f4b5fbd59150bc2e5e52ef8a)

[code]

### Output

[code]

### Meta

This seems to have regressed a while ago, in Rust 1.36.0. In Rust 1.35.0, the error looked like this:

[code]

[2021-09-23 00:44] AaronC81 opened #89192 "Incorrect "label name shadows a name already in scope" warning"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=88ae8b7f1d4eb4b2fb318e957cd3695d

[code]

The current output is:

[code]

I don't think this warning should be emitted, since as far as I understand there's no valid way that one match arm's `'outer` label could be used from the other match arm. So I don't think there is shadowing taking place here, b

[2021-09-23 00:52] hlb8122 commented on #87758
@jackh726
You can also stall it like this https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e3ff465815d5621c29ec242951ade429

I can make a separate issue if you'd like.

[2021-09-23 00:54] dovahcrow commented on #82523
May I ask why is this code complaining about the unaligned error? It seems perfectly 8-byte aligned.

[code]

[2021-09-23 00:58] dyv opened #89193 "Compiler bug in simd intrinsics for usize types"
As far as I can tell this bug only exists when performing a simd gather instruction on a slice of usize. If the slice is instead typed as u64 or u32 this code succeeds.

### Code

[code]

Cargo.toml
[code]

### Meta

`rustc --version --verbose`:

[code]

### Error output

[code]

</p>
</details>

[2021-09-23 01:06] RalfJung commented on #82523
@dovahcrow `Foo` itself is aligned to 1. So `c` is not sufficiently aligned no matter the size of the fields in front of it.

Why are you packing this struct anyway? With `repr(C)` it will have no padding.

[2021-09-23 01:41] thomcc commented on #72016
Hm, I don't think that's particularly useful, since the set of clobbers doesn't change depending on what you're passing to the function you're calling.

The point being made was probably more along the lines of "You shouldn't be calling that ABI from `asm!` anyway" which is true — in fact, it probably would have errored had I gotten past the error about multiple `clobber_abi`s being present.

[2021-09-23 02:16] sffc commented on #85636
Not completely fixed yet.  Here is a different test case that still reproduces the error on nightly and beta:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=c50c84aede1fad33bfac1238424a7c2a

[2021-09-23 02:20] sffc commented on #56556
This bug might not be completely fixed.  Here is another test case that still fails on nightly and beta:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=c50c84aede1fad33bfac1238424a7c2a

[2021-09-23 02:22] glandium opened #89194 "PGO bustage in 1.56"
Quickly filing this before I have more information to put it on someone's radar. A short description is that on Linux, Firefox builds with profile-generate enabled crash with all betas of 1.56 (which doesn't happen with 1.55 and earlier versions). I'll update the issue when I figure out more. It doesn't happen on Windows (and I can't say anything about mac because it fails for other reasons there)

[2021-09-23 02:27] Mark-Simulacrum commented on #89194
We are (and have been) using PGO for rustc itself (on x86_64-unknown-linux-gnu), so it seems likely that things are not "terribly wrong" with the impl, fwiw. One thing that has changed is that [LLVM is also compiled](https://github.com/rust-lang/rust/pull/88069) with PGO in our official builds as of 1.56, but I would not expect this to cause downstream issues with regards to correctness.

Would be

[2021-09-23 02:33] ehuss commented on #89192
This is currently intended behavior. See #21633 and https://internals.rust-lang.org/t/psa-rejecting-duplicate-loop-labels/1833 for more. There was an early intent that labels have function scope instead of block scope.

Closing as a duplicate of #31745, #81799, and #88225.

[2021-09-23 02:33] #89192 closed

[2021-09-23 02:47] jhpratt commented on #89006
I just checked: `Option::unwrap` and `Option::expect` **can not** be stabilized.

Ignoring the message that `const_panic` is unstable, the compiler still complains:

[code]

with the same error for `expect`. Until `impl const Drop` is a thing, it'll have to wait for stdlib. However, it would be possible to define a macro that does this. That is obviously not for stdlib to do.

[2021-09-23 02:56] khuey opened #89195 "Compilation appears to loop indefinitely"
I have a crate that appears to iloop when being built with nightly 308dffd25 2021-09-22. This crate is not open source.

What can I provide to diagnose this?

[2021-09-23 03:00] rodrimati1992 commented on #89006
@jhpratt `Option::unwrap` doesn't *only* work with `const Trait` bounds, it also works with precise drop tracking, can't tell you which is likely to be stabilized earlier.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=329872502390d743de89e55b93b65263
[code]

[Tracking issue for precise live drops](https://github.com/rust-lang/rust/issues/73255)

[2021-09-23 03:03] jhpratt commented on #89006
Certainly. I suspected that was the error I was going to run into, actually. I just didn't bother to keep adding features once I confirmed my suspicion that it wouldn't compile with just `const_panic`.

[2021-09-23 03:26] Lokathor commented on #72016
I'm not entirely convinced that the clobbers of a registers *can't* be changed based on the type of the function being called within an ABI. It's not done in C, but that doesn't mean it can't be done. And Rust is being super defensive with ABI stuff. So it's probably fine to stabilize clobbering according to the local C ABI, but I think that being able to specify a clobber of the Rust ABI for a ca

[2021-09-23 03:29] glandium commented on #89194
nightly-2021-08-21 is ok
nightly-2021-08-22 is broken
There isn't much between these two, the main thing is LLVM 13. I'll try with bors builds.

[2021-09-23 03:29] Manishearth commented on #85636
(happy to file this as a new issue @jackh726 if you'd prefer!)

[2021-09-23 03:33] thomcc commented on #72016
I think it can't, because you don't know what the function you're calling does. You have to be pessimistic and assume it clobbers everything. That is to say, this *is* the defensive stance about ABI stuff, it's assuming the worst case.

[2021-09-23 03:42] nbdd0121 commented on #72016
The ABI of a function is not related to what the function does. For example, we can say a Rust function "foo" will not clobber RDX while another Rust function "bar" clobbers it. When "foo" calls "bar" it just needs to save RDX and restore it later.

There is current no guarantee that the set of clobbered registers for different Rust ABI functions are the same, and there is no guarantee that the se

[2021-09-23 03:42] Lokathor commented on #72016
Well, sure it's always *correct* to over-clobber, but it's not at all efficient. If you're using clobber_abi it's reasonable to expect that the compiler is clobbering the minimal amount of registers. So if all that we can offer is "using clobber_abi("rust") will clobber everything" then we might as well leave it unstable.

Because if we *do* stabilize it and it's stabilized as "clobbers everything

[2021-09-23 03:49] thomcc commented on #72016
Generally, it's more efficient in an ABI over-clobber. Specifically, to have more things as caller-save rather than callee-save, since it means "people who care have to save the values" rather than "you have to save the values because you don't know who might care".

---

Anyway, I think we've gotten off track. I don't think stabilizing `clobber_abi("Rust")` is worth doing. I wasn't proposing that

[2021-09-23 04:08] workingjubilee commented on #89193
[code]
Here we attempt to invoke `.bit_width()` on Uints and Ints, which may be Usize or Isize, which do not have a specified bit width and so return the None value which we gleefully unwrap. We can invoke `v.normalize(target_width).bit_width().unwrap()` instead in these cases, OR change this to use the mentioned LLVM bindings (though any such effort should really reference a tag in https://github

[2021-09-23 04:30] jackh726 commented on #85636
Yes, please new issue and tag me

[2021-09-23 04:30] glandium commented on #89194
bors build from db002a06ae9154a35d410550bc5132df883d7baa is broken.
bors build from e7f7fe462a54b1caeb804a974cd43ba9fd7bee5c is ok.

db002a06ae9154a35d410550bc5132df883d7baa is the LLVM 13 merge.

[2021-09-23 04:59] hkmatsumoto commented on #89190
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2389190.20Trait.20upcasting.20shadows.20.28trait.20object.29.20deref.20coercion) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-09-23 05:01] Manishearth opened #89196 "HRTB bounds not resolving correctly (take 2)"
This is similar to the resolved issue https://github.com/rust-lang/rust/issues/85636 , but details a newer iteration of that problem that has not yet been fixed.

<details><summary>Code example</summary>

[code]

</summary>

([playpen](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=025e2d4cefe09821650352a935b0baed))

This fails to compile on beta/nightly (stable does not hav

[2021-09-23 05:01] Manishearth commented on #85636
Refiled as https://github.com/rust-lang/rust/issues/89196

[2021-09-23 05:05] SNCPlay42 commented on #89181
Compiler diagnostics use spans that always point into the original source code, and it should be impossible for the compiler's internal transformations to change that original source. Are you *sure* that the error messages are pointing at the function in the code snippet you've given? Because the parameter `email`'s name has also changed to `email_address`, the return type has changed from `Result

[2021-09-23 05:14] hkmatsumoto commented on #89186
@rustbot claim

[2021-09-23 05:36] jimblandy commented on #87800
I was surprised to find myself wanting this today:

[code]

[2021-09-23 06:00] alex-caelus opened #89197 "rustc panicked at 'attempted to read from stolen value'"
### Code

I don't know what triggered the error so I can't do a MVE. The error appears to be in `clap-2.33.3/src/macros.rs:349:9: 356:10` though, see error output below.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-23 07:27] dovahcrow commented on #82523
@RalfJung This is a simplified version of the code generated from deriving `AnchorDeserialize` & `AnchorSerialize` from the [anchor project](https://github.com/project-serum/anchor). I got this warning and am trying to find a way to fix it.

[2021-09-23 07:29] crepererum commented on #87012
I've tried, but was so far not able to reproduce it on a smaller scale. I THINK it's not just about the number of async-trait `impl`s. I'll give it another shot and report once I have some smaller example.

[2021-09-23 07:32] apiraino commented on #89190
Bisection:

searched nightlies: from nightly-2020-01-01 to nightly-2021-09-23
regressed nightly: nightly-2021-08-01
searched commits: from https://github.com/rust-lang/rust/commit/1f0a591b3a5963a0ab11a35dc525ad9d46f612e4 to https://github.com/rust-lang/rust/commit/4e282795d7d1d28a4c6c1c6521045ae2b59f3519
regressed commit: https://github.com/rust-lang/rust/commit/7069a8c2b78c5d23205de1cabb4c2a65229

[2021-09-23 07:50] philipc commented on #88521
#89041 (which is a workaround for #46772) also works around this bug when using fat LTO, because now there is only one CU so there can't be duplicates.

It won't affect thin LTO though, and I still don't have a reproduction for that.

[2021-09-23 08:39] glandium commented on #89194
nightly-2021-09-23 is also affected.

[2021-09-23 08:45] ayermolo commented on #88521
Sorry didn't get a chance to get to this before PTO. I asked someone to do it internally, if not I'll priorities once I get back.

[2021-09-23 08:47] Nugine commented on #89006
It's possible to make `char::from_u32_unchecked` a const fn if we have `const_panic` stablized.

https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/library/core/src/char/convert.rs#L90-L95

https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/library/core/src/char/convert.rs#L245-L258

[2021-09-23 08:50] jhpratt commented on #89006
^^ that would require const unwrap when written as-is

If there are the appropriate MIRI checks in place (I don't know if there are) it could just be a straight transmute, which is already stabilized. It could theoretically introduce UB in debug builds, but that's the caller's problem (don't use unchecked if it's not valid).

[2021-09-23 09:06] Nugine commented on #89006
I found it quite simple to constify `from_u32_unchecked`.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=23a94bb268784e92ae2cecf236ecafe4

[code]

[2021-09-23 09:10] vbfox commented on #80552
I'm looking at this issue after a confusion with `itertool`'s `group_by` on Vec that behave the same (group only contiguous elements) and was wondering if the naming of the std proposal was better.

So i'm adding my voice here to a change of name, `group_by` doesn't evoke the fact that only contiguous elements are grouped. `group_contiguous` from @marcospb19 suggestions would feel clearer to me.

[2021-09-23 09:12] LingMan commented on #89197
Looks like a duplicate of https://github.com/rust-lang/rust/issues/89178.

[2021-09-23 10:45] RobinMarchart commented on #89189
I might have found another more minimal example that panics at the same place.
although this piece of code is syntactically wrong, it probably should not crash the compiler

[code]
[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c44cbeb5aa5e31d3f00dc56796ae4da5)

[2021-09-23 10:46] joshuef opened #89201 "Installing cranelift error (mac m1)"
i was trying to install cranelift as per: https://github.com/bjorn3/rustc_codegen_cranelift/tree/61667dedf55e3e5aa584f7ae2bd0471336b92ce9

running `y.rs` I get:

[code]

[2021-09-23 11:07] gcohara commented on #89193
I'm happy to work on this.
@rustbot claim

[2021-09-23 11:44] danielhenrymantilla commented on #50186
Regarding naming, what about `.set_with()` (and a `copy` / `get` counterpart)? These would be `T -> T` closures, which, thanks to the given naming, would be less "C-ish" than the initial concern pointed out regarding the `update` name: `cell.set_with(|x| x + 1);`

Also, the fact that we get a `T -> T` closure is way more honest less 🦶🔫 _w.r.t._ the semantics of the function under the hood:

[code]

[2021-09-23 12:00] soc commented on #71684
In my experience, people asking for the home directory are usually asking the wrong question to start with. A 1:1 replacement isn't doing them any good.

[2021-09-23 12:08] jyn514 commented on #88802
Fixed in https://github.com/rust-lang/rust/pull/89012.

[2021-09-23 12:08] #88802 closed

[2021-09-23 12:23] Urgau commented on #89201
cc https://github.com/rust-lang/rust/issues/89085; there was a issue preventing all builds from happening on Mac M1 with some nighties builds and it looks like the nightly used (`nightly-2021-09-19`) by `y.rs` is in fact one of them. You could try to set the nightly to `channel = "nightly-2021-09-21"` in the `rust-toolchain` file.

cc @bjorn3

[2021-09-23 12:33] crepererum commented on #87012
I think I have a somewhat usable example now: https://github.com/crepererum/rust_issue_87012/tree/ee51fa3d07438c0b065df39a961698118a75aad2

It's not perfect since the effect could be larger but the effect is clearly visible, esp. considering that the time `evaluate_obligation` takes could easily be increased by adding more example code.

[2021-09-23 12:35] gcohara commented on #89193
I found this comment in `intrinsic.rs`:

https://github.com/rust-lang/rust/blob/15d9ba0133ce0b35348e1c8367afe00aec841ffa/compiler/rustc_codegen_llvm/src/intrinsic.rs#L851-L852

It might be intentional, but maybe an ICE isn't the best way to go. Should some kind of error be added in?

[2021-09-23 12:39] Amanieu commented on #58935
We discussed this in the libs meeting and felt that we shouldn't have a `prelude` module in `alloc` unless it is auto-imported like the preludes in `core` and `std`. This could be implemented in the future as an extension to `#![no_std]` such as `#![no_std(alloc)]` which would also remove the need for `extern crate alloc`.

Until such a feature is introduced, we don't think `alloc::prelude` should

[2021-09-23 12:46] TheDutchMC commented on #89181
oh damn indeed. I was looking at the completely wrong signature. Sorry, and thanks!

[2021-09-23 12:46] #89181 closed

[2021-09-23 13:31] jyn514 commented on #89177
Is this specific to reading stdin? Lots of things about this seem strange (launching a separate thread?!) but I would be really surprised to hear this only happens for stdin and nothing else. If so adding the check in read_line won't be sufficient.

[2021-09-23 13:43] Mark-Simulacrum commented on #79562
We ended up foregoing the caching for the time being; LLVM and rustc are both PGO'd on x86_64-unknown-linux-gnu as of https://github.com/rust-lang/rust/pull/88069.

The sccache changes would still be helpful, though.

[2021-09-23 13:54] SimonSapin commented on #58935
Oh I hadn’t heard of that idea before. It sounds nice!

[2021-09-23 15:10] RalfJung commented on #88836
Cc @rust-lang/wg-const-eval

[2021-09-23 15:17] RalfJung commented on #82523
Oh, okay, that's some huge library and I know nothing about it. ;)

It is fundamentally impossible to create references to fields of packed structs (except of the field type has trivial alignment requirements). To the only possible fixes are to copy the data, or to avoid `packed`.

Correct.

Indeed.

You can, but it might panic since the array could be insufficiently aligned.

[2021-09-23 15:51] Xaeroxe commented on #71684
That statement is going to require a lot of explanation. Saying "you shouldn't have that need" and then not providing alternative options or justification only serves to make people feel dumb.

[2021-09-23 15:53] ChrisDenton commented on #71684
What is the use case for getting the "home" directory?

[2021-09-23 15:58] the8472 commented on #89195
You can attach gdb to the running process and then `thread apply all bt` to get backtraces. Or you can sample the process with `perf record` and then [generate a flamegraph](https://github.com/brendangregg/FlameGraph) which should provide an overview where it's spending its cycles.

[2021-09-23 15:59] khuey commented on #89195
Do the prebuilt nightlies include enough symbols to get useful backtraces?

[2021-09-23 16:00] Xaeroxe commented on #71684
Myriad, off the top of my head:

1. Storing user preferences
2. Running a program installation in environments that don't provide administrator access
3. Making a file easily accessible by putting it in "Documents" or similar

On my computer right now I counted 20 programs storing files in my home directory, or my Documents folder.

[2021-09-23 16:03] BurntSushi commented on #71684
I use `$HOME` a lot: https://github.com/BurntSushi/dotfiles/search?q=%24HOME

A lot of those are shell scripts, but it's not that uncommon for shell scripts to "evolve" into programs in other languages (like Rust).

[2021-09-23 16:08] ChrisDenton commented on #71684
So what we'd want is an `app_directory()` and/or `documents_directory()` function that can conform to platform conventions? Not one that assumes a "home" directory exists and that there's a folder called "Documents", etc which applications should use.

Don't get me wrong. `$HOME` is great if you on Linux or on, say, Windows and don't care about platform conventions. That's fine. But ignoring platf

[2021-09-23 16:11] the8472 commented on #89195
Yes

[2021-09-23 16:14] the8472 commented on #89195
Another and perhaps more helpful option is to create a reduced testcase.
http://blog.pnkfx.org/blog/2019/11/18/rust-bug-minimization-patterns/

[2021-09-23 16:17] thorjelly commented on #89122
I personally feel as though `type Foo<T> = Bar where T: ...` is semantically equivalent to `fn foo<T>() -> Bar where T: ...` and `impl Foo<T> for Bar where T: ...`, where in each case `=`, `->`, and `for` sort of act as operators on `Foo` and `Bar`. Therefore, I feel like the new proposal is most consistent with the syntax people are most used to.

[2021-09-23 16:37] Xaeroxe commented on #71684
That addresses the needs I listed, however I'm not the only one who needs this and we should wait for others to chime in.

[2021-09-23 16:38] EvanCarroll opened #89204 "Adding a needless .into should produce a better error."
Suggested from [this question](https://stackoverflow.com/q/69303389/124486) on SO.

This code,

[code]

Will produce this error,

[code]

This can lead you down a rabbit hole. The right answer is far more simple: **remove the `.into()`**

[code]
I would like error to say (copied from SO),

That's ideal. Alternatively telling me it could just work. (I'm still kind of confused why it doesn't), but t

[2021-09-23 16:39] smoelius commented on #66079
I am now more of the opinion that we should add an `error_on_unknown_tools` flag to `LintLevelsBuilder::new` like I described above.

Here is what I recently observed.

It happens that crates are lowered to HIR before the post-expansion early lints are run: https://github.com/rust-lang/rust/blob/15d9ba0133ce0b35348e1c8367afe00aec841ffa/compiler/rustc_interface/src/passes.rs#L459-L476

Lowering col

[2021-09-23 16:44] arlosi commented on #89177
I think the issue is specific to stdin. I don't think you could (for example) embed a ctrl+c in a file and have it terminate the reading process.

Windows does seem to launch a thread to handle ctrl-c. From https://docs.microsoft.com/en-us/windows/console/ctrl-c-and-ctrl-break-signals

My issue description might not have been quite clear. `read_line` doesn't directly call `ReadConsoleW`. There are

[2021-09-23 16:52] SkiFire13 opened #89205 "Unsatisfied HRTBs cause the compiler to suggest adding impossible bounds"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=978d9446191f7e77f30d41eea92ffcd0)):

[code]

The current output is:

[code]

Ideally there would be a way to say that `Bar` requires `Self` to implement `Foo<'a>` for any `'a` such that `Self: 'a`, however this is not possible. This case of the error can be fixed by additionally requiring

[2021-09-23 17:08] fmarier commented on #71684
My personal use case was to read a config file in the standard place (i.e. `~/.config/appname.conf`), but I also needed to read the legacy config file from before `~/.config/` became a standard on Linux (i.e. `.appname.conf` in my case). The first would be covered by something like `config_directory()`, but the latter probably wouldn't.

(FWIW, I ended up [using the non-portable `$HOME` envvar](ht

[2021-09-23 17:23] mjclements commented on #89191
I'm taking a look at this. I found the piece of code that generates that message, but I'm going to check to see if I can figure out why it was changed.

[2021-09-23 17:36] Alexendoo commented on #73727
No longer ICEs since #89147

[2021-09-23 17:37] jyn514 commented on #66079
@smoelius that seems fine :) if someone has concerns they can mention it in review, it doesn't prevent you from opening a PR.

[2021-09-23 17:44] Alexendoo commented on #87490
No longer ICEs since #88846

[2021-09-23 18:01] Sl1mb0 opened #89206 "Link a rustup toolchain automatically in `x.py setup`"
Issue tracker for linking a rustup toolchain automatically in `x.py setup`.

[2021-09-23 18:08] jyn514 commented on #89177
Hmm, what happens if the user presses Ctrl+C while the program is reading a file? Won't the program execution continue for a few milliseconds with only a partial read?

[2021-09-23 18:13] Mark-Simulacrum commented on #89206
Can you say more about the motivation? Initially, I would say that it is pretty likely that we do not want to support this kind of "aggregation" in the x.py interface; it complicates the information and I'm not sure it improves the user interface.

[2021-09-23 18:22] Nadrieril commented on #85222
Hm, even though `usize` has a different size on different architectures, `0..usize::MAX` should always be exhaustive, right? Then that code would be accepted, but the following would still error:
[code]
We could have the error for this say "missing pattern: `18446744073709551616..=usize::MAX`", which would also work if there's a `Some` around it.

That said, pretty sure what you describe also happ

[2021-09-23 18:25] ChiefMilesEdgeworth commented on #88944
This looks relatively simple, and I'd like to contribute. Could I take this issue?

[2021-09-23 18:28] Sl1mb0 commented on #89206
I agree that I don't think it improves the user interface much, but I think that the interface for this specific feature could be made better. My only argument for why I think this capability should be added is that it's natural to create a toolchain for the compiler immediately after having built it, so why not give `./.xpy` the capability to do so?

However, as I understand it you only need to r

[2021-09-23 18:31] Mark-Simulacrum commented on #89206
I think streamlining the toolchain creation process is worthwhile to invest into; e.g., we could give a suggestion at the end of the first x.py build in a new build directory (with a stamp file just saying 'did that') to run rustup link .... with the appropriate path.

[2021-09-23 18:43] Sl1mb0 commented on #89206
I like that idea. I'll wait for more feedback before I start looking into it though.

[2021-09-23 18:46] mark-i-m commented on #87228
I would also like to see `asm!` in the prelude. My "feeling" is similar to Josh's. As a low-level programmer, `asm!` is a fundamental low-level utility; I feel about `asm!` how others might feel about `Vec` or `Option`. Requiring a special import for `asm!` makes it feel like systems program is a second class concern for rust. I'm not sure if that's reasonable or not, but that's my gut reaction.

[2021-09-23 18:50] BurntSushi commented on #87228
I personally did not tick my box because I'm not really convinced at all that either of these macros should be in the prelude, now that we have the ability to namespace macros. I just do not think inline assembly is anywhere _near_ common enough to be deserving of it. I do not think comparisons to `Vec` or `Option` are particularly good here, because the frequency of use across all domains is no w

[2021-09-23 19:01] workingjubilee commented on #87228
C requires `#include <stdlib.h>` for `malloc` and `free`, Rust does not for Vec.
Actually, now I do have an objection, and not just a comment:

All of these comparisons propose Rust should define itself in terms of other languages when it is not one.
However, if we wish to make Rust more like other languages, such as C, then I see no deep reason not to.
Let us drop `std::vec::Vec` from the prelude

[2021-09-23 19:22] bdrewery commented on #89058
TLDR, Yes, but just removing everything will cause problems on 12+. Builders need to be updated to 12 first. A lot of these symbols are from 7.0...

The issue here is far more complex than it seems and discussed more at https://github.com/rust-lang/libc/issues/570.
This post is long because the premise here is (unintentionally) misleading to those who are not aware of the details. There are symbol

[2021-09-23 19:30] jyn514 commented on #89206
Hmm, I would rather set up the toolchain automatically when running `x.py setup`, and give a warning if a toolchain named `stage1` already exists, along with the command to set it up yourself.

If we gave a warning the first time you run `x.py build`, then a) people who aren't developing locally get confused (e.g. distros building from source) because they don't actually care about this, and b) x.

[2021-09-23 19:37] workingjubilee commented on #89193
I believe that comment applies only for handling `simd_select_bitmask`. I do not see how the reasoning expressed there applies to `simd_gather` or `simd_scatter`, as it is (admittedly unusual) but valid to want to gather or scatter slices of those.

Ideally some refactoring could happen to make it clearer such reasoning is isolated from the rest of these intrinsics.
cc @calebzulawski

[2021-09-23 19:39] Mark-Simulacrum commented on #89206
Yeah, x.py setup seems better. I think rustup won't let you do it without the sysroot somewhat existing, though:

[code]

But I think we have enough in setup that we can probably create the directory temporarily...

[2021-09-23 19:41] workingjubilee commented on #87228
Less flippantly: "I feel so-and-so is very fundamental to my concerns" applies for **every single function, type, and macro in std**. Why not Error? Why not Arc, or Mutex, as those are very often used in multithreaded programming? That's something Rust is **uniquely good** at, why not market those? Sure, I guess we don't like our Mutex much. How about the Atomics instead?

All of the proposed Simd

[2021-09-23 20:00] jyn514 commented on #89206
Mentoring instructions: just after https://github.com/rust-lang/rust/blob/bf642323d621dcefeef1d8ab4711aae36e357615/src/bootstrap/setup.rs#L108, call `rustup toolchain link stage1 build/TARGET/stage1`, where `TARGET` is `builder.config.build`. If that errors, give a warning and suggest that the user do it themselves.

[2021-09-23 20:15] calebzulawski commented on #89193
Yes, that only applies to bitmasks, which cannot be `usize`/`isize`.

[2021-09-23 20:20] Timmmm commented on #71684
Yes it would be nice if the final solution provides all the directories that `dirs` did but it's ridiculous to assert that there are no use cases for getting the home directory.

[2021-09-23 20:48] asomers commented on #89058
@bdrewery, there is already a PR to update the builders: #89083 .  That should take care of rustup.  And regarding the symbol versions, let me summarize for the benefit of everybody new to this saga:

As we discussed elsewhere, FreeBSD uses ELF symbol versioning, allowing it to occasionally modify libc functions like readdir and stat in a way that is backwards compatible at both the source and bin

[2021-09-23 20:52] dovahcrow commented on #82523
@RalfJung Thanks for your answer! I now know the reason for it and can try to change the application logic to deal with this issue.

[2021-09-23 20:57] Sl1mb0 commented on #89206
Could you clarify this? I assumed you were referring to the `build::Builder`, but there is no `config` field there..

[2021-09-23 21:03] workingjubilee commented on #89193
And it should be normalized to the target width, yes.
There should be relevant functions, types, and methods for doing so either already present in the imports from `use rustc_target::abi::{}` or you can find them elsewhere in the module. I believe you want to be calling https://doc.rust-lang.org/stable/nightly-rustc/rustc_target/abi/trait.HasDataLayout.html#tymethod.data_layout which will yield h

[2021-09-23 21:28] khuey commented on #89195
[code]

[2021-09-23 21:57] jyn514 commented on #89206
@Sl1mb0 it derefs to Build, which should have a Config field.

[2021-09-23 22:13] unrelentingtech commented on #89058
nitpick: to be clear, 12 introduced the `@FBSD_1.5` versions, but the old ones were always (okay, since 7.0) `@FBSD_1.0`. The "renaming" effect is virtual, just a consequence of unversioned symbols pointing to the latest version.

I don't think anyone has ever suggested going back to unversioned symbols?

Perhaps this issue should've been called "Update FreeBSD support to use 64-bit inodes, availa

[2021-09-23 22:13] schneiderfelipe opened #89209 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
Unfortunately, I don't have a code example to share, but here's the output:

### Error output

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-23 22:22] bdrewery commented on #89058
I was more responding to other votes with a strong bias of knowing how EOL policy is handled in FreeBSD. That is, I think FreeBSD is too harsh and kneejerk when EOL comes up. Things are deleted because of an arbitrary date without consideration of what the risk actually is. This is probably the reason for my long response as it seemed like a bandwagon EOL party when I believe it was missed that th

[2021-09-23 22:29] nbdd0121 commented on #89190
There is a [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/Dyn.20upcasting.20vs.20deref.20coercion) that discusses this issue.

Tagging this with T-lang since this is a change in semantics.

@rustbot label +A-traits +F-trait_upcasting +T-lang +T-compiler

[2021-09-23 22:49] workingjubilee commented on #67264
Would the Rust community have an appetite for half-open patterns going up to `..=Y` if there was a built-in lint against not handling the "sub-zero" case explicitly if the number could be negative? e.g.

[code]
would automatically trigger such a `sus_patterns` lint, recommending instead something like
[code]
or alternatively, maybe ORing the match in the lowest case, e.g.
[code]

[2021-09-23 22:58] workingjubilee commented on #82012
Resolved by the sands of time.

[2021-09-23 22:58] #82012 closed

[2021-09-23 23:03] nikomatsakis commented on #89122
@estebank I feel like supporting both without a real *reason* to support both is suboptimal. Then there will be confusion over whether there is a difference, for example, and perhaps two camps (one who prefers one, one who prefers the other). I don't mind more than one way to do things, but it feels like it needs strong justification to me.

One thing I would like is if rustfmt quietly changed fro

[2021-09-23 23:04] workingjubilee commented on #85222
see also #56354

[2021-09-23 23:47] mark-i-m commented on #87228
I actually wish those things were in the prelude, along with all the collection types. Importing them feels like a completely unnecessary papercut to me. (I'm inclined to say that nearly everything in std should be in prelude, but I haven't thought through the implications enough to go that far).

I don't really feel that putting something in the prelude makes it harder to find because I almost al

[2021-09-23 23:54] dtolnay commented on #89122
In the context of the FCP proposed in https://github.com/rust-lang/rust/issues/89122#issuecomment-923104269, what behavior is proposed if `where` is given in both places?

[code]

Does this union the clauses, or does it reject? From the discussion above I'm unable to tell whether a concrete behavior was proposed. Asking as someone who will need to implement this in a Rust parser.

[2021-09-24 00:14] dtolnay commented on #89122
Separately, I feel that https://github.com/rust-lang/rust/issues/89122#issuecomment-923266388 is going to require a response/consensus before completing the FCP.

Here is a concrete example to consider:

[code]

In this situation, what is proposed to be the `where` equivalent of the `T: Clone` bound on `Alias`? Prior to this proposal, it's natural to expect that it would be:

[code]

This proposal

[2021-09-24 00:36] workingjubilee commented on #89209
Should this function be fallible?
https://github.com/rust-lang/rust/blob/2b862bed9889808b69629fd7246317189b9517a5/compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs#L16-L23

[2021-09-24 00:47] workingjubilee commented on #89206
It should be noted that the toolchain linking/unlinking rustup does is not always just a symlink, it is sometimes a hardlink, depending on the OS. This can cause issues because it makes the linkage inherently touchier. I am not saying this should not be done, merely that if someone finds this issue later after it causes trouble, then it should become special-cased by OS.

[2021-09-24 00:53] joshlf commented on #48049
Ping for status 🙂  Very excited for this (especially for implied bounds)!

[2021-09-24 01:07] dyv commented on #89193
Since there is a bit of chatter here on the use cases for performing a scatter or gather for indexes, I can give a little bit of context, since I do think it is somewhat informative.

In this case I am working on a columnar store. You can kind of think of the use case as a secondary index over columnar data. For just a single primary index, you have a list of row_ids Simd<usize, LANES> and you can

[2021-09-24 02:17] khuey commented on #89195
searched nightlies: from nightly-2021-09-04 to nightly-2021-09-22
regressed nightly: nightly-2021-09-18
searched commits: from https://github.com/rust-lang/rust/commit/e4828d5b7f745a9e867a9b0cc7f080f287bcf55d to https://github.com/rust-lang/rust/commit/9dd4ce80fb01d1ff5cb5002f08b7b3847b59e664
regressed commit: https://github.com/rust-lang/rust/commit/e0c38af27cb5f6f961809601b717d6afc3b190ee

<deta

[2021-09-24 02:17] khuey commented on #89195
Reducing this to a testcase isn't going to happen unless there's an automated process for that.

[2021-09-24 03:42] workingjubilee commented on #87228
"I do so-and-so" yes, I understand that, and what about someone new to Rust? What about someone who doesn't have IntelliSense assistance and doesn't know they should be searching using rustdoc specifically yet and is just throwing terms into Google to see what hits they get?

Why are we saying "if asm! isn't in the prelude, it's a sign it's not serious about systems programming" and in doing so su

[2021-09-24 04:51] #85066 closed

[2021-09-24 04:58] mark-i-m commented on #87228
I don't have intellisense either. And I believe for most std types if you google them, one of the top results is the std rustdoc for the appropriate type.

I neither said nor implied any of this. My point was only that asm is an important and frequently used tool for an important subset of problems rust seeks to solve. Having unnecessary papercuts produces a sense that those use cases have been de

[2021-09-24 06:03] joshuef commented on #89201
tried that, but no joy:

[code]
error[E0599]: no function or associated item named `of_instance` found for struct `FnAbi` in the current scope
  --> src/base.rs:65:29
   |
65 |         fn_abi: Some(FnAbi::of_instance(&RevealAllLayoutCx(tcx), instance, &[])),
   |                             ^^^^^^^^^^^ function or associated item not found in `FnAbi<'_, _>```

Thanks for the help @Urgau

[2021-09-24 06:09] workingjubilee commented on #87228
My apologies for misunderstanding you, then. It is what I took from

generalized: "requiring an import makes so-and-so (Atomics, w/e) feel like a second class concern"
and "first-class treatment of asm is required for systems programming"
disjunctively "no asm means not systems programming".

I don't think you meant it directly per se, which is why I am asking... why? It's just... perplexing? as a

[2021-09-24 06:13] asquared31415 commented on #72016
I think that the ability to specify multiple clobbers could be useful for a case like this, but with well defined ABIs rather than Rust?

[2021-09-24 06:15] bjorn3 commented on #89201
@joshuef I will update cg_clif for the latest nightly later today.

[2021-09-24 08:18] #88882 closed

[2021-09-24 09:15] matklad commented on #87228
From IDE perspective, i’d prefer this to not be in prelude: unrelevant symbols pollute completion just a tiniest bit, but, adding that together across all completion invocations seems like it can add up.

Don’t have a strong opinion here: at the moment rust-analyzer has abysmal filtering&ordering of completions, so the diff from addition of `asm!` is hard to estimate.

[2021-09-24 09:18] hhirtz commented on #85063
This also fails:

[code]

[2021-09-24 09:30] smoelius commented on #66079
Thanks, @jyn514. I submitted the PR.

[2021-09-24 10:11] estebank commented on #89159
I believe we fall back to `def_span` for these, which _should_ be available, but if they are not we should be hiding the message. Adding a check for `DUMMY_SP` might be enough, and if it isn't, then checking for a successful snippet would. It'll be hard to confirm without merging and trying in the playground without a repro case. (We might have some `make` tests that move the build files around to

[2021-09-24 10:15] estebank commented on #89156
We should likely do something similar to what I'm doing in https://github.com/rust-lang/rust/pull/85102, where during failure in typeck we look at the hir to check for appropriate cases. This has the drawback of never being able to be fully accurate/duplication of efforts, but has the benefit of not affecting the compilation time or memory utilization in the happy path.

[2021-09-24 10:22] hellow554 commented on #89118
This is a terrible MCVE, but it works and panics with two ICE:

[code]

[2021-09-24 10:45] hkratz commented on #88869
@rustbot claim

[2021-09-24 10:50] hkratz commented on #88869
Sorry, I only came across this issue just now. The copies are there for a reason, see linked issues.

Multiple things to consider:
* The files in the `gcc-ld` directory are only used with the `-Z gcc-ld=lld` unstable issue. So they could be removed for the beta and stable.
* They can be replaced with small Rust executables which just exec `../rust-lld -flavor ld <supplied args>` and `../rust-lld -

[2021-09-24 11:26] FilipAndersson245 commented on #79442
Is PGO on ice for non-Linux x64 builds?

[2021-09-24 12:27] Tamschi opened #89220 ""implement the missing item: …" suggestion does not substitute type parameter"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0bc82986aeab6421699562569505aa40

[code]

The current output is:

(Note: The **whitespace in strings is probably not real** due to my manual JSON prettification.)

<details><summary>compiler-message json</summary>

[code]

</details>

(with `"suggested_replacement": "fn a(&self) -> &T { todo!()

[2021-09-24 12:52] jackh726 commented on #89118
@hellow554 wow! You rock!

[2021-09-24 13:00] hellow554 commented on #84443
I have this piece of code:

[code]
which errors out with this error message:

[code]

e.g. it shows the internals of `HashMap`, which is not desired.
Maybe having an in-crate suggestion is okay, but outside supress it?

[2021-09-24 13:04] hellow554 commented on #84443
This regressed somewhere between 0e63af5da3400ace48a0345117980473fd21ad73...d4e3570db4c007089035b833cc20c7fc2f8cb32f

@rustbot modify labels: D-incorrect

[2021-09-24 13:52] arlosi commented on #89177
Yes, but there's not really noticeable to the user. The file reading wouldn't be waiting for user input in order to begin. The few milliseconds delay in that case would be the same as any other latency (keyboard, os, etc.).

The problem with reading from `stdin` is that the call is blocked waiting for user input and pressing ctrl-c unblocks it on Windows, while on other platforms, it continues to

[2021-09-24 14:06] jyn514 commented on #89095
I think we should *not* do this, this is exactly how we got in trouble with intra-doc links (see https://github.com/rust-lang/rust/issues/63305). Instead we should just enable it by default at the same time we remove the flag and stabilize the feature.

[2021-09-24 14:14] GuillaumeGomez commented on #89095
This is a very good point. I had in mind that maybe people would want to disable it but I guess we can always add it later on if the needs appear.

[2021-09-24 14:22] sdroege opened #89222 "Can't automatically convert references to trait objects if target type is behind a generic parameter"
Considering the following code

[code]

The first function call fails compiling because the compiler can't figure out that this needs to become a `[&dyn Display]`:

[code]

This can be worked around by doing `func_1([&1i32 as &dyn std::fmt::Display, &1i64])` but that doesn't seem ideal.

[2021-09-24 15:12] rubdos opened #89223 "encountered incremental compilation error with item_children(qmeta_async[ed7c]) - ICE with a proc macro"
### Code

I'm not sure what triggers this. It shows up, suddenly, in CI. I don't have it on my local machine. Since this is an unstable fingerprints related issue (#84970), I'm not clearing the CI cache until you folks have an idea how to proceed!

https://gitlab.com/whisperfish/whisperfish/-/jobs/1604136167

https://gitlab.com/whisperfish/whisperfish branch `sfdk`.

### Meta

[`rustc --version --

[2021-09-24 15:43] joshlf commented on #89118
Wow, fantastic work, @hellow554 !

[2021-09-24 15:56] Aaron1011 commented on #89209
cc @michaelwoerister

[2021-09-24 16:19] NieDzejkob opened #89227 "Putting #[derive] before a macro attribute results in a bad error"
I don't know, off the top of my head, what attribute macros are available on the playground, so I'll use the crate I'm maintaining. The details of it are pretty much irrelevant anyway.

Given the following code:

[code]

The current output is:

[code]

A few versions back (I've tested 1.41.1), we were outputting the following, much more legible error:

[code]

This is motivated by NieDzejkob/enumf

[2021-09-24 16:21] petrochenkov commented on #89227
This is going to be stabilized by https://github.com/rust-lang/rust/pull/87220 very soon.

[2021-09-24 16:25] NieDzejkob commented on #89227
Ah, so in that case the code will just start working? Great! I don't think any action is necessary here, then.

[2021-09-24 16:25] #89227 closed

[2021-09-24 16:39] jyn514 commented on #89020
*That* does seem like a bug - can you open a separate issue for it? Specifically that `#[doc(inline)]` will run doctests.

[2021-09-24 17:12] ajosecueto commented on #88623
Great job!

[2021-09-24 17:19] DarrienG commented on #85444
Confirming this is still an issue in the latest version of rust (1.55.0). Enabling the develop menu fixes it.

[2021-09-24 17:27] petrochenkov opened #89228 "Test `src\test\rustdoc\macro-document-private-duplicate.rs` fails spuriously"
It was a source of failure on CI in PRs like https://github.com/rust-lang/rust/pull/89144, https://github.com/rust-lang/rust/pull/88872, https://github.com/rust-lang/rust/pull/88418, https://github.com/rust-lang/rust/pull/88530, https://github.com/rust-lang/rust/pull/88339, https://github.com/rust-lang/rust/pull/88804 and https://github.com/rust-lang/rust/pull/82183.
All the failures are on Window

[2021-09-24 17:30] petrochenkov commented on #89228
I've disabled the test in https://github.com/rust-lang/rust/pull/88872/commits/8f035b87e0a839fbca853514287028569808d50f.

[2021-09-24 17:36] jyn514 commented on #89228
There isn't a way to fix this without fixing rustdoc; I assume the problem trying to write to the file in two separate threads at the same time causes errors.

[2021-09-24 17:53] fangism commented on #63012
MCP: https://github.com/rust-lang/compiler-team/issues/464

[2021-09-24 18:06] rossmacarthur commented on #75550
Triage looks like this was fixed in https://github.com/rust-lang/rust/pull/83813 :)

[2021-09-24 18:13] Aaron1011 commented on #89223
I believe this should be fixed in the latest nightly.

[2021-09-24 18:28] wesleywiser commented on #47174
I would just like to second this point from Niko. I think before we stabilize, we need to have a plan for how the sanitizers fit into the broader Rust ecosystem:

- Cargo support is obviously desirable but what does this look like exactly? At a minimum Cargo should build your dependencies with whatever sanitizer you have enabled as well. `cargo test` support would be nice as well.
- Can `cc-rs` le

[2021-09-24 18:29] TheRawMeatball commented on #52662
I'm running into an issue while using this alongside HRTB s: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ee890a38e4fde158ceb86414a938c392

Is this a known issue? If so, is there an issue about it I could follow?

[2021-09-24 18:36] cuviper commented on #47174
This should also consider downstream builds, like Linux distributions that build rustc with their system LLVM. For example, Fedora does build the sanitizers in its `compiler-rt` package, so I'll want a way configure rustc to use those.

[2021-09-24 18:53] camelid commented on #89195
cc @Aaron1011

[2021-09-24 19:10] bjorn3 commented on #89201
Looks like https://github.com/rust-lang/rust/pull/89092 is still in the bors queue, so I will wait with updating until it is merged to avoid accidentally messing up git subtree.

[2021-09-24 19:13] rubdos commented on #89223
As far as I know, I cannot test this assumption, can I? If I would "upgrade" the compiler in any way, it would invalidate the incremental build cache?

[2021-09-24 19:16] Aaron1011 commented on #89223
@rubdos Thats's right. Unfortunately, the only thing that you can do is to upgrade (either now, or when the next stable version is released), and see if any crashes end up occuring.

[2021-09-24 19:36] emaste commented on #89058
Indeed - the old version in 11.x is `stat@FBSD_1.0`, and anything linked for FreeBSD 11.x should reference that. You can examine the symbol table of an 11.x binary to see this, e.g.

[code]

To be clear, is this now fixed and all references are to the versioned symbols?

[2021-09-24 19:39] asomers commented on #89058
All references in Rust's libc library to symbols that have multiple versions in FreeBSD 11 or later are versioned.  References to symbols with a single version, or symbols that haven't had a new version since 11, are unversioned.

[2021-09-24 20:35] audunhalland commented on #89188
The expanded `impl`'s `where` clause is using the `'s` without bringing it into scope. I think the where clause should introduce the parameter:

[code]

[2021-09-24 20:51] ShadowJonathan commented on #73908
If this wasn't already posted here, something relevant; https://github.com/actions/virtual-environments/issues/2187

[2021-09-24 21:01] nbdd0121 commented on #88621
PR for option 2: #89234

[2021-09-24 21:19] cuviper commented on #70230
What about `MaybeUninit<Struct>`, does that also need to be created with zeroed padding?
If I write `f1`, then `f2`, then call any of the `assume_init*` methods, I expect to be in a good state.

[2021-09-24 21:23] workingjubilee commented on #89168
Not reopening since this is before the fix went in, but posting this `RUST_TRACEBACK="full"` just to make sure it's available.

<details><summary>Backtrace</summary>

[code]

</details>

[2021-09-24 22:05] RalfJung commented on #70230
This assumption would not be true for `repr(GuaranteedZeroPadding)`.

*Something* has to give, we won't get more niches for free.

[2021-09-24 22:13] cuviper commented on #70230
I see, I guess that's what you meant here:

So `repr(Rust)` probably isn't feasible, but a new `repr` could be the opt-in.

[2021-09-24 22:31] typesanitizer opened #89236 "Incorrect diagnostic when mixing generics, lifetimes and associated consts"
I tried this code: ([try it in a playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a8d76b8c3e6d1d90ef67b26b8b26af88))

[code]

I expect this code to either compile fine or provide a warning similar to #76200.

However, I see an error:
[code]
I don't understand why `RS: 'i` is needed for accessing a constant off of `Self`. As one might expect, replacing `Self::CHUN

[2021-09-24 23:04] ojeda commented on #71668
In Rust for Linux we have been using `-Dunsafe_op_in_unsafe_fn` for a while and we think it is the right approach -- the concepts are orthogonal, after all. The ergonomics have not been a problem for us so far. For more context, we also require `// SAFETY: ` comments and we minimize & split `unsafe` blocks as needed.

(From a discussion at LPC today, @joshtriplett suggested to provide our feedback

[2021-09-24 23:46] CleanCut commented on #73179
What is the path to stabilization for this feature?

[2021-09-25 00:20] #83471 closed

[2021-09-25 06:44] hkmatsumoto commented on #85942
@rustbot claim

[2021-09-25 07:33] #81119 closed

[2021-09-25 07:34] nerandell commented on #89206
@rustbot claim

[2021-09-25 07:38] typesanitizer opened #89241 "Performance regression in string interner benchmark (1.53.0 → 1.55.0)"
You can find the code and reproduction steps at https://github.com/typesanitizer/rustc-bugs/tree/main/interner-perf-slowdown (commit: 2e02a0426ce96f4796e47ffd4a781808b71711a0).

The overall idea is that I'm doing a recursive walk over a directory (in this case, the `rust-analyzer` source), splitting each `.rs` file into slices based on whitespace, and interning these slices. There is about a 5% ~

[2021-09-25 07:57] TheRawMeatball opened #89242 "Rust can't infer appropriate generics for function when it should"
I was working on some generic code when I hit this bug, so I made this MRE:

[code]
(playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ce2ea68678f61b329a6cec59310c1aea)

I'd expect both calls to `takes_trait_b` to succeed, but the second call doesn't as rust seemingly tries to uphold the where clause for any possible `T`

This has been observed on `rustc 1.5

[2021-09-25 08:09] TheRawMeatball commented on #89242
This bug can be reproduced on stable aswell if you add two more redundant where clauses: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aaa115e139635787f9b033a1418c7f06

[2021-09-25 10:38] vkurilin opened #89243 "Improve error messages for borrowing in match arms"
When I match a mutable reference of `foo`:
1. Use part of the `foo` only in one match arm (the link is in use longer than the match itself, otherwise everything compiles).
2. While in the other, there's no direct usage and I want to borrow `foo` again.

The compiler gives the error "cannot borrow `foo` as mutable more than once at a time".
[code]

 It would be great if the compiler could understan

[2021-09-25 11:38] nagisa commented on #58858
Is this something we still want to do (if its not being done yet)? If so @apiraino, want to take over?

[2021-09-25 13:05] poliorcetics commented on #73179
No one has noted any concerns and it has been unstable for quite some time now, if you want to stabilize it you can make a PR for it (be sure to ping me so I can update the tracking issue).

[2021-09-25 13:49] jkugelman commented on #86369
It would be nice if `remaining_slice` could return a slice with the lifetime of the underlying buffer, rather than of the cursor.

Sometimes I want to avoid copying a large chunk of data and get a slice of the byte buffer instead. `remaining_slice` would be great for that, except the slice it returns doesn't live long enough.

[code]

Result:

[code]

[Playground](https://play.rust-lang.org/?versi

[2021-09-25 14:05] SkiFire13 commented on #89243
Note that the first snippet has nothing fundametally wrong, it's the current borrow checker that can't see that the borrow created with `&mut foo.data` won't be alive in the `None` branch. I wouldn't consider the second snippet the correct way to do it, but rather a workaround that happens to work because it delays the creation of the borrow until the the `Some` branch executes.
I also believe the

[2021-09-25 14:14] weihanglo commented on #88514
The regression was introduced between 1.51.0 and 1.52.0. The bisect report gave me three rollup PRs. I finally found the suspect #82655.

I am not familiar with this part, so if anyone want to address it, just take it. (Or even better mentor me 😆, thanks)

<details>
<summary>Report from cargo-bisect-rustc</summary>

### Script for cargo-bisect-rustc

[code]

### Report from cargo-bisect-rustc

[co

[2021-09-25 15:27] jyn514 opened #89246 "Rustdoc does not add tooltips for reference links"
In general, links generated by rustdoc do have a tooltip.

E.g. something like
[code]
will come with a tooltip

![Screenshot_20210906_223756](https://user-images.githubusercontent.com/3986214/132259375-864c8d00-99e8-4d82-abc2-feddc472b605.png)

Whereas (unfortunately) the following alternative
[code]
creates almost the same documentation, just lacking the tooltip.

_Originally posted by @steffahn

[2021-09-25 16:05] agurney commented on #89106
`f32::DIGITS` cannot be 7 since 8589973000.0 and 8589974000.0 round to the same `f32` and are different at the 7th decimal digit.

[2021-09-25 16:42] Aaron1011 commented on #57374
I've opened https://github.com/rust-lang/rust/pull/89249 to improve the cause information for some NLL error messages.

[2021-09-25 16:53] nikic commented on #88769
Should be fixed by #89130 -- unless there's a third bug?

[2021-09-25 18:10] Aaron1011 commented on #57374
I've opened https://github.com/rust-lang/rust/pull/89250 to address this. It turned out to be caused by bound region anonimization during typeck.

[2021-09-25 18:20] calebzulawski commented on #88769
I re-ran a test and it appears fixed, thanks!  I'll wait for @workingjubilee to confirm.

[2021-09-25 18:41] claudiociardelli opened #89252 "Having this regularly both with nightlu and monthly. Not sure how to report correctly."
error: internal compiler error: encountered incremental compilation error with evaluate_obligation(13d2b743dd7b0b01-19436a1601704f22)
  |
  = help: This is a known issue with the compiler. Run `cargo clean -p node_template` or `cargo clean` to allow your project to compile
  = note: Please follow the instructions below to create a bug report with the provided information
  = note: See <https://git

[2021-09-25 18:44] nikic commented on #86511
Could someone please provide a godbolt demonstrating the regression? In https://rust.godbolt.org/z/KnK7xPMoo codegen is pretty much the same between 1.53 and nightly. (The "match" version is still badly optimized -- but that's not new?)

[2021-09-25 19:27] m-ou-se opened #89254 "Cannot infer type for Vec, but only when serde_json is used (?)"
[code]

That produces:

[code]

Somehow, referencing `serde_json` makes rustc unable to infer some type here. This happens on both the current stable and nightly versions of Rust.

[2021-09-25 19:48] m-ou-se commented on #89254
Looks like the problem is `impl PartialEq<Value> for u8` in serde_json. Without that, `impl PartialEq<u8> for u8` is the only `PartialEq` impl for `u8`.

So I suppose this is expected, although very confusing.

Here's a reproduction without a dependency:

[code]

Labeling this as a diagnostics issue.

[2021-09-25 20:11] Mark-Simulacrum commented on #89242
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aaa115e139635787f9b033a1418c7f06 is failing on beta but working on stable, so tagging as a beta regression.

[2021-09-25 21:28] Mark-Simulacrum commented on #52305
I'm pretty sure this was fixed relatively recently (we reworked extended/tools handling), so going to go ahead and close. Feel free to reopen if something like this arises again.

[2021-09-25 21:28] #52305 closed

[2021-09-25 22:07] Aaron1011 commented on #89252
This should be fixed in the latest nightly

[2021-09-25 22:09] est31 opened #89259 "Tracking issue for const char conversions"
This is a tracking issue for const char conversions. List of functions belonging to `!#[feature(const_char_from_u32_unchecked)]`:

[code]

~~List of functions belonging to stable `#![feature(const_char_convert)]`:~~

<details>

[code]
</details>

Steps:

* Introduced by #89258
* Partially stabilized by #102470 , `const_char_from_u32_unchecked` is still unstable.
* ~~Stabilization is probably block

[2021-09-25 22:28] pr2502 opened #89260 "rustc panicked, called Option::unwrap on None in DefPathTable::local_def_path_hash_to_def_id"
This has happened to me twice today on the at-the-time current nightly, first time I ran `cargo clean` and the error went away and this time I ran a different nightly while trying to find out more and that also made the error go away.

To me it seems to be related to some on-disk cache so it might be relevant that it happened while I was running rust-analyzer and both rustc and rustdoc on every fi

[2021-09-25 22:31] leonardo-m commented on #89259
We could keep a percentage counter somewhere that tells how much of stdlib is areweconstyet :)

[2021-09-25 23:05] mcy opened #89261 "Should `Result::from_residual()` be `#[track_caller]`?"
I tried this code:

[code]

I expected to see this happen: Prints `Err(..., location: <body of square()>)`.

Instead, this happened: Prints `Err(..., location: <the guts of libcore>)`.

Godbolt: https://godbolt.org/z/s5YaT4Kxn

---

There is a philosophical question about whether this should work at all. After all, people going in via `into()` would get a location in the guts of convert.rs. I'm de

[2021-09-25 23:41] JOE1994 commented on #74384
### Compiling with `opt-level=2` terminates quickly.
`$ rustc --crate-type lib -C opt-level=2 lib.rs`

### Compiling with `opt-level=3` hangs.
`$ rustc --crate-type lib -C opt-level=3 lib.rs`

### Generating just the llvm-ir with `opt-level=3` terminates.
`$ rustc --crate-type lib -C opt-level=3 --emit llvm-ir lib.rs`

#### $ rustc --version --verbose
[code]

[2021-09-25 23:46] nbdd0121 commented on #66741
It wouldn't UB since abort_unwinding_calls MIR transform will ensure that unwinding through non-unwindable function will cause an abort.

[2021-09-25 23:54] Aaron1011 commented on #89260
cc @michaelwoerister

[2021-09-25 23:58] JOE1994 commented on #74384
When filing a bug to upstream llvm,
I think we can provide two `llvm-ir` (or `llvm-bc`) to compare:
* `llvm-ir` from `opt-level=3` : Compilation hangs while lowering this IR code to machine code
* `llvm-ir` from `opt-level=2` : Full compilation terminates quickly.

@pnkfelix Would you mind if I go ahead and file a bug to upstream llvm?

[2021-09-26 00:57] camelid commented on #89242
Seems like it could be related to #85499, so cc @jackh726.

[2021-09-26 01:01] Amanieu commented on #72016
Sounds great! Do you want to make a PR for this?

[2021-09-26 02:39] JOE1994 commented on #86784
If no one hasn't been assigned to this issue yet, may I try tackling this problem?

[2021-09-26 02:44] ZimCodes commented on #86929
I have also received this warning as well. The solution for me was to run `cargo clean` and then run `cargo check` *(as I wanted to check for more warnings/errors)*. From here everything was all green.

[2021-09-26 03:07] starwing commented on #71126
@bstrie So is there any further plan that someone may write up a stabilization report?

[2021-09-26 03:56] jhpratt commented on #71126
@starwing Anyone is able to write a stabilization report.

[2021-09-26 05:15] #89186 closed

[2021-09-26 05:34] TaKO8Ki commented on #85865
@rustbot claim

[2021-09-26 06:51] hellow554 commented on #86784
Hey @JOE1994 the issue seems to be fixed. This only needs a test, so if you want to do that, feel free.

@rustbot modify labels: E-needs-test

[2021-09-26 06:56] Milo123459 commented on #80618
Any work being done on this? I'd love to implement this as my first contribution.

[2021-09-26 07:23] thedrow commented on #79442
Since we're already using PGO for rustc on Linux x64, I wonder if we could achieve greater speedups using Facebook's [BOLT](https://github.com/facebookincubator/BOLT).

They have a guide for [optimizing Clang with BOLT](https://github.com/facebookincubator/BOLT/blob/main/bolt/docs/OptimizingClang.md).

@michaelwoerister I think we can add two items to the check list:
- Attempt to optimize RustC wi

[2021-09-26 07:33] workingjubilee commented on #88769
Ditto! No third bug this time. 😅 Thank you so much!

[2021-09-26 07:33] #88769 closed

[2021-09-26 07:51] asquared31415 commented on #72016
Yep I can do that.

But I think this is actually not nearly as useful as I thought.  There are very few well defined unique clobber ABIs given a single target.  I think the **only** way to specify two unique clobbers is on x86_64 using both `win64` and `sysv64` ABIs explicitly, which is probably wrong logically.  However there doesn't **need** to be this restriction since presumably in the future

[2021-09-26 07:59] danii opened #89264 "E0446 Doesn't Trigger For Types In Private Modules"
Declaring a public type and a public function in a private module, and then publicly reexporting the function doesn't trigger the E0446 error on using private types in public interfaces.

[code]

I expected to see the E0446 error, because the above code is semantically equivalent to this code, from a downstream crate's point of view.
[code]

### Meta
This bug occurs both on Rust version `rustc 1.5

[2021-09-26 08:10] TaKO8Ki commented on #85756
@rustbot claim

[2021-09-26 08:11] EFanZh opened #89265 "Possible false positive “temporary value dropped while borrowed” error"
I tried this code:

[code]

I expected to see this happen: *explanation*

The code compiles successfully.

Instead, this happened: I got the follow error:

[code]

### Meta

`rustc --version --verbose`:

[code]

[2021-09-26 08:55] SkiFire13 commented on #89265
The error is unfortunately correct. `set` has type `HashSet<(&'a str, 4)>`. `set.remove` takes a `Q` where `T: Borrow<Q>`, and unfortunately `(&'long str, i32)` doesn't implement `Borrow<(&'short str, i32)>`, so the first `String::from("abc").as_str()` also gets the type `&'a str`. `'a` now is required to end after the first `set.remove(&(String::from("abc").as_str(), 4));` and so is `set`, howeve

[2021-09-26 09:12] EFanZh commented on #89265
But this program does compile:

[code]

[2021-09-26 09:17] SkiFire13 commented on #89265
The return value of a function is a coercion site, so it's allowed to coerce `(&'long str, i32)` into `(&'short str, i32)` and return that. This program avoid the coercion sites by directly passing the types, and as expected it doesn't compile:

[code]

[2021-09-26 10:37] rossmacarthur commented on #71363
@rustbot claim

[2021-09-26 10:51] KodrAus commented on #74465
Things get buried in discussion threads so I think it’s worth restating that I think any stabilization plan for what’s currently called `SyncOnceCell` that doesn’t consider deprecation of the existing `sync::Once` as an end state is going to leave us in a confusing place where we have multiple APIs for doing the same thing with their differences buried mostly in trivia. I think that should factor

[2021-09-26 11:03] the8472 commented on #89261
See #88302 and #87401

[2021-09-26 11:08] varkor commented on #71126
To clarify to anyone who's not familiar with Rust's stabilisation process, if you have some time and would like to see this feature stabilised, you can write a stabilisation report for this feature (there's a [guide here](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html)). Unfortunately, I don't have time to do so right now, though I don't think it should take too long: the feature i

[2021-09-26 11:59] c410-f3r commented on #89006
Thanks for the explanation, @RalfJung !

Although not yet in the scope of this issue, may I suggest also "constifying" `Resull::ok`? In the absence of `const Result::unwrap`, such method would be very useful.

[code]

[2021-09-26 12:31] SimonSapin commented on #74465
Can we do library API deprecation such that usage only emits warnings in a new edition?

`sync::Once` has been the only way to do some things for a long time. Directing new code to use `SyncOnceCell` instead is good, but pushing existing code to migrate can feel like churn for not much benefit.

[2021-09-26 12:33] EFanZh commented on #89265
Am I understanding it correctly: subtype of `T` should implement *all* traits that `T` implements, so if `(&'short str, i32)` implements `Borrow<(&'short str, i32)>`, `(&'long str, i32)` should also implement `Borrow<(&'short str, i32)>`. But currently, Rust doesn’t have this feature, so my code does not work.

[2021-09-26 12:39] bjorn3 commented on #89006
That will require const drop too. `Result::ok()` drops the error variant.

[2021-09-26 12:42] SkiFire13 commented on #89265
Unfortunately that's not always valid, for example with `BorrowMut` this already becomes unsound: if `&'long T` implemented `BorrowMut<&'short str>` then you could get an `&mut &'short T` that actually points to a `&'long T`, thus I would be able to write an `&'short T` to it and then observe it as if it was an `&'long T`.

IMO what is actually missing is the concept of variance for traits' generi

[2021-09-26 12:45] Mark-Simulacrum opened #89269 "-Zpanic-in-drop=abort for rustc + tools"
This flag was added in https://github.com/rust-lang/rust/pull/88759 and showed good performance and code size benefits for rustc. It would be nice to see if we can *land* those benefits, both to get some experience with aborting instead of unwinding panics in destructors (e.g., what goes wrong? any painful patterns?) and to carry forward those performance and size wins.

This flag is currently res

[2021-09-26 12:47] Mark-Simulacrum commented on #89269
@Amanieu you mentioned in #88759 that the reason for being the same across all crates is that `Box<dyn Any>` is assumed to not unwind on drop. (Presumably this affects other trait objects too).

Can we avoid that assumption, or otherwise workaround the limitation for rustc in particular? If there's no forseeable way, then it probably makes sense to just close this.

[2021-09-26 13:03] cole-miller commented on #80618
I never got around to working on this, feel free to claim it!

@rustbot release-assignment

[2021-09-26 13:05] KodrAus commented on #74465
That’s a fair point. Maybe for a start we could just do a “soft deprecation” where the docs for `sync::Once` suggest you use `SyncOnceCell` instead.

[2021-09-26 13:13] BurntSushi commented on #27747
Note that AFAIK, this is still an issue: https://github.com/rust-lang/rust/issues/27747#issuecomment-454112973

[2021-09-26 13:32] seanyoung commented on #42869
https://github.com/rust-lang/rust/pull/89270

[2021-09-26 13:39] matthiaskrgr opened #89271 "ICE: unexpected sort of node: glacier fixed/83471-2.rs with -Zsave-analysis"
### Code
code from glacier `./fixed/83471-2.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
` rustc ./83471-2.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-26 13:58] the8472 commented on #89269
To ask the obvious, could the compiler be built with -Zbuild-std?

[2021-09-26 14:04] Mark-Simulacrum commented on #89269
Rustbuild could do that, yeah; the compiler could have its own standard library that's separate from the one we distribute (e.g., so that we could run PGO for the compiler on that std, this option). But in practice, I'd really prefer to avoid a duplicate standard library since it both complicates our build system in a somewhat non-trivial way and encourages us to further diverge, which I'd prefer

[2021-09-26 14:36] JOE1994 commented on #86784
@hellow554
With the latest version of rustc (stable/nightly), I can still reproduce the stack overflow issue on my machine.
So I thought this issue hasn't been fixed yet.

## Stable
#### error message
[code]

#### `rustc --version --verbose`
[code]

## Nightly
#### error message
[code]
#### `rustc --version --verbose`
[code]

[2021-09-26 14:39] leonardo-m opened #89273 "[ER] isqrt() function for integral values"
As in Python 3:
https://docs.python.org/3/library/math.html#math.isqrt

To the Rust stdlib it could be added a isqrt() function for all u*/i*/usize/isize, that returns the floor of the square root of the nonnegative integral value n, that is the greatest integer a such that a*a <= n.

This in Python shows that the usual trick to pass through f64 isn't precise enough for u128:

[code]

[2021-09-26 14:45] Milo123459 commented on #80618
Alright cool! Can I have an example of what it should maybe look like?

[2021-09-26 15:43] joshlf opened #89274 "ICE in specialization"
### Code

The code in question is from [this change](https://fuchsia-review.googlesource.com/c/fuchsia/+/585861/) in Fuchsia.

In order to reproduce, first [download Fuchsia](https://fuchsia.dev/fuchsia-src/get-started/get_fuchsia_source) and then [build](https://fuchsia.dev/fuchsia-src/get-started/build_fuchsia).

Once that's done, perform the following steps from inside the Fuchsia repository:

[2021-09-26 15:52] ZippyMagician opened #89275 "Overflow evaluating the requirement [stable/nightly] (buggy trait collisions?)"
Given the following code snippet:

[code]

One would expect the code to error, explaining that the types differ in mutability (*we will come back to this in a moment*).

However, it instead leaves a long and confusing error:
[code]

If you follow the suggestion of increasing the recursion limit each time, it will eventually segfault once you have `#![recursion_limit="2048"]`
[code]

Furthermore, r

[2021-09-26 16:02] the8472 commented on #85299
The bounds check gets eliminated when you deref to a slice first instead of using the vec directly.

[code]

[2021-09-26 16:12] leonardo-m commented on #85299
Apparently the bound test now gets removed with all mir-opt-level.

[2021-09-26 16:12] #85299 closed

[2021-09-26 16:27] joshlf commented on #89274
I believe that the source of the problem is a conflicting impl of `IpDeviceIdContext` [here](https://fuchsia-review.googlesource.com/c/fuchsia/+/585861/1/src/connectivity/network/netstack3/core/src/ip/icmp.rs#2933). When I comment this out, the error goes away.

[2021-09-26 16:48] janriemer commented on #87517
@jhpratt @pnkfelix I've seen this in the **Unresolved Questions** section of the **duplicate** #86985, but it doesn't show up in this issue (only after three comments when @jhpratt points it out). I think, we should put it here in the **Unresolved Questions** section as well, so people see it at first glance and don't have to scroll three comments to see it (and therefore don't miss it that easily

[2021-09-26 17:37] jyn514 opened #89279 "ICE: attempt to shift left with overflow, compiler/rustc_serialize/src/leb128.rs:76:1"
### Code

Uhh hard to replicate, I was rebasing bdb5a5ffe17 over ac8dd1b2f24dc62c962172b27433106b4e84dc62.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-26 17:37] jyn514 commented on #89279
Hmm, this may be a duplicate of https://github.com/rust-lang/rust/issues/76720.

[2021-09-26 17:57] jyn514 commented on #89279
Running `rm -r build/x86_64-unknown-linux-gnu/stage1-tools` fixed this issue so I think this is indeed an issue with using `-dev` instead of the git hash.

[2021-09-26 17:57] #89279 closed

[2021-09-26 18:01] jyn514 opened #89280 "ICE: attempt to subtract with overflow, compiler/rustc_errors/src/lib.rs:348:47"
### Code

Rebase bdb5a5ffe17 over ac8dd1b2f24dc62c962172b27433106b4e84dc62, then run `x test src/tools/clippy`. I think this is the `write_literal_2` test.

cc @rust-lang/clippy, but I think this is an issue with rustc_errors, not clippy itself.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</detai

[2021-09-26 18:03] Rua commented on #42940
I just ran into this rather baffling bug as well. What's the progress on fixing it?

[2021-09-26 18:22] lordnoriyuki commented on #89275
This issue and #77291 and #75397 potentially look like the same problem.

[2021-09-26 18:28] lordnoriyuki commented on #89275
It's worth noting that if you use the turbofish syntax the compiler gives the correct error message:
[code]

[2021-09-26 18:29] roxelo commented on #88118
We ICE after attempting to resolve the `PlaceBuilder` for `registry` here: https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir_build/src/build/expr/into.rs#L509.
I believe we recently added the option to have `if let` in pattern matching arms, but we never consumed the `IfLet` expression when "visiting" the arm leading us to not "read" `registry` and hence not being able to resolve it

[2021-09-26 18:38] edward-shen commented on #89275
For a little more context, this issue was filed from a [discussion on reddit](https://www.reddit.com/r/rust/comments/pvnjt3/poor_and_bizarre_rustc_error_message/).

[2021-09-26 18:52] Sl1mb0 opened #89281 "Optimize codegen scheduling"
Updated tracking issue for [#82685][OriginalIssue]

## Overview

The original issue provides a great introduction to and overview of the problem, as well as a proposed solution to it; but there are relevant issues and detail missing from the issue that I would like to add, and I would like to bring it up to date and
organize it so the issue can be addressed more cohesively to form a long-term solu

[2021-09-26 19:47] TaKO8Ki commented on #85249
I think this problem was solved in #89224.

[2021-09-26 19:56] FabianWolff commented on #88636
@rustbot claim

This is not quite fixed by #88838 yet, but I have a patch that should solve this. Since the patch is based on #88838, I'll wait until that PR is merged before opening a PR for this issue.

[2021-09-26 20:18] bjorn3 commented on #89281
Updated issue description to fix the checkboxes. (There needs to be a space between `[` and `]`)

[2021-09-26 20:18] bjorn3 opened #89286 "Correct codegen size metric"

[2021-09-26 20:18] bjorn3 commented on #89286
Oops

[2021-09-26 20:18] #89286 closed

[2021-09-26 20:33] camelid opened #89287 "rustdoc: Remove `clean::Type::Never` in favor of always using `clean::PrimitiveType::Never`"
It's trickier than it sounds; there's some weird rustdoc behavior with `Type::Never` that will need to be sorted out.

[2021-09-26 20:50] leonardo-m commented on #85249
I'll take a look in the next Nightly.

[2021-09-26 21:26] jackh726 commented on #89242
Looking into this. From what I can tell, the version of this *without* the where clause doesn't compile on stable nor nightly (though the error is slightly different). However, while the version *with* the where clauses does compile on stable, it's actually not callable (because we can prove the where clause). On nightly, we just get a more eager error.

This is still a bug (and I'm looking into i

[2021-09-26 21:40] Mark-Simulacrum commented on #89242
I think this certainly mitigates the likely impact of the regression, but it wouldn't surprise me too much if there exists "real world" code that is just uncallable (and not tested, so not discovered yet).

I think if we can fix the regression on nightly and backport it, that would be ideal.

[2021-09-26 21:45] xfix commented on #89275
It's possible to trigger this issue with `num_traits` by providing a minimal implementation of `Pow` trait.

[code]

[2021-09-26 21:52] CleanCut commented on #73179
I found competing documentation about stabilizing a library feature in the [rustc-dev-guide](https://rustc-dev-guide.rust-lang.org/stability.html#stabilizing-a-library-feature) and the [std-dev-guide](https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html). The former seems more detailed, but out of date (I can't find any trace of an `@T-libs-api` team.) They do seem to agree tha

[2021-09-26 22:41] nagisa opened #89289 "`#[target_feature(enable="...")]` does not enable use of feature-specific registers"
On x86 the following does not compile:

[code]

ubt it does compile with `-Ctarget-feature=+avx` specified. Both should work?

[2021-09-26 22:43] nagisa commented on #89289
I don't think this needs to block the stabilization of the feature, however. Enabling this allows more programs to compile, not fewer.

[2021-09-26 22:58] obsgolem commented on #89275
I am having a similar issue with `ndarray` arrays throwing an error like `overflow evaluating the requirement `&ArrayBase<_, _>: Not` whenever I make some kind of type error. I don't currently have a MRE though.

[2021-09-27 00:58] nbdd0121 opened #89290 "ICE: upvar_tys called before capture types are inferred with const fn trait bound"
### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot label: +requires-nightly +A-const-eval +A-const-fn

cc @fee1-dead

[2021-09-27 05:20] byte1234 commented on #89290
caused by https://github.com/rust-lang/rust/pull/88558

[2021-09-27 05:32] yasammez commented on #89122
This would be my least preferred option: if you support two variants for the same thing, any codebase of sufficient size will eventually contain both, no matter how strict you are trying to be. This increases the mental burden for developers trying to understand existing code and leads to needless discussions about which style to prefer within teams.

[2021-09-27 06:06] hellow554 commented on #86784
Intereseting. Why did glacier then said it is fixed :D
But yeah, I still reproduce it, you're right.

So feel free to investigate the issue ;)

[2021-09-27 06:21] leonardo-m commented on #85249
89224 doesn't solve the problem of this ER:

[code]

[2021-09-27 06:55] TaKO8Ki commented on #83450
@rustbot claim

[2021-09-27 07:16] bishtpawan commented on #89209
What do we need to return here in an error case then? Or I guess we can use expect directly with the error message right?

[2021-09-27 07:32] jhpratt commented on #89254
Of course having better diagnostics here is best for the immediate future, but has it ever been considered to have a "preferred" implementation where `Self` is the generic type? I can't recall the exact situation off-hand, but I know I've run into inference issues where that would have solved it in the past.

[2021-09-27 08:18] jakobrs opened #89295 "Internal compiler error with `cargo run` and `cargo build`"
### Code

This stops happening if I delete the `target/debug/incremental` directory.
This repository: https://gitlab.com/tasbot/tasbot_pbn
tar.gz of repository: [tasbot_pbn.1.tar.gz](https://github.com/rust-lang/rust/files/7234515/tasbot_pbn.1.tar.gz)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
<

[2021-09-27 08:52] flip1995 commented on #89280
This is from a diagnostic constructed in a pre-expansion pass. Maybe this has something to do with the ICE

[2021-09-27 09:30] bjorn3 commented on #89201
Updated in https://github.com/bjorn3/rustc_codegen_cranelift/commit/9e48f99e8d9d6e9ff7ef2d82a0978c7ef0566232. @joshuef does it work now?

[2021-09-27 10:40] lightspot21 opened #89296 "ICE generated when attempting to bootstrap on x86_64-unknown-linux-gnu with a local libc checkout"
### Steps to reproduce
Assuming rustc master, clean:
1) Clone `libc` from https://github.com/rust-lang/libc and checkout tag `0.2.99` (same as shown in rustc `master`'s Cargo.lock) inside the `rustc` repo root.
2) Change Cargo.lock as:
[code]
3) Change Cargo.toml as:
[code]
4) Run the following command
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[c

[2021-09-27 11:31] GuillaumeGomez commented on #89287
I'll take a look. :)

[2021-09-27 13:11] jackh726 commented on #87735
Short blurb here while I'm looking at this and remember the problem: in the GATs case, `'b` is not considered constrained in`T: AsRef2<Output<'b> = &'b [U]>`, `U` isn't constrained.

[2021-09-27 13:13] jackh726 commented on #85636
Closing since other issue has been filed.

[2021-09-27 13:13] #85636 closed

[2021-09-27 13:29] sfackler opened #89299 "Unsizing coercions apply in an inconvenient order with respect to constructor calls."
[code]

[code]

It looks like it's trying to coerce the `i32` to `dyn Trait + Send` before constructing the `Pin` rather than constructing the `Pin<&mut i32>` and then coercing that to `Pin<&mut (dyn Trait + Send)>`. You can fix this by constructing the `Pin` in a separate statement, but ideally the compiler would defer the unsizing coercion:

[code]

[2021-09-27 13:39] camsteffen commented on #89280
I'm able to reproduce this by running `rustc +stage1 test.rs` with the following contents:

[code]

And I think it needs `debug = true`.

[2021-09-27 13:52] shepmaster commented on #89020
I don't think it's separate; it's a knock-on effect of the fact that I have to provide the documentation twice and the documentation contains doc tests.

Effectively:

[code]

[2021-09-27 14:07] #85865 closed

[2021-09-27 14:12] gcohara commented on #86511
[This](https://rust.godbolt.org/z/dTxKEPWrb) should do it. Interesting that there's no problem on your very similar version

[2021-09-27 14:17] locriacyber opened #89300 "Continue compilation after disk full results in panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

Log 1:
[code]
Error 1:
[code]

Error 2:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-27 14:19] locriacyber commented on #84970
I came across this bug when disk is full during compilation. #89300
When I move the whole project to another disk and continue compilation, the compiler panics.

This should be easy to reproduce with tmpfs with limited space.

[2021-09-27 14:59] #84846 closed

[2021-09-27 15:26] Kobzol commented on #84175
`drop_in_place` is not codegened in `liblib.so`, because it's not actually used here. If `lib.rs` contained something like
[code]
then the `drop_in_place` impl would be shared.

Maybe it could be worth it to force codegen of `drop_in_place` in the crate where the dropped type is defined when `-Zshare-generics` is used?

[2021-09-27 15:37] ohsayan opened #89302 "Tracking Issue for `varerror_methods`"
Feature gate: `#![feature(varerror_methods)]`

This is a tracking issue for the `varerror_methods` feature that adds two methods to `std::env::VarError`:
- `is_absent`: Which simply checks if the error resulted from a missing variable
- `is_unicode_error`: Which checks if the error resulted from unicode parsing failure

Generally, these methods make it more convenient to check if an environment va

[2021-09-27 15:58] rjframe opened #89304 "ICE while testing generic_const_exprs"
While experimenting to reduce some boilerplate I came across this; removing either `From` implementation results in a successful build.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace

[code]

[2021-09-27 16:17] soerenmeier commented on #86369
That would be nice, but sadly i see no way to do this. I tried to annotate all lifetimes that exist when `T = &'a [u8]` to explain my reasoning:
[code]
It is not possible to change the returned lifetime to `'a` since `'a` needs to outlive `'b` because `&'a` is borrowed with `&'b`.
i hope this is understandable.

[2021-09-27 16:54] jonas-schievink opened #89305 "Variable is both used and unused when assigning `asm!()` to it"
[code]

[code]

[2021-09-27 17:59] wesleywiser opened #89307 "`stdcall` functions with values returned-by-pointer-arg have incorrectly decorated names"
Functions using the `stdcall` calling convention return values in one of three ways ([wikipedia](https://en.wikipedia.org/wiki/X86_calling_conventions#List_of_x86_calling_conventions)):

- 32 bits or smaller: in `EAX` register
- 33-64 bits: in `EAX` and `EDX` registers
- 65 bits or larger: by a pointer passed into the function from the calling code

In the third case, the pointer is not considered

[2021-09-27 18:47] GuillaumeGomez commented on #89246
I'll fix it tomorrow.

[2021-09-27 19:00] yaahc commented on #80190
Closing this for now due to lack of responses with concrete use cases. Feel free to reopen in the future if you have a use case where you feel this API would be justified.

[2021-09-27 19:00] #80190 closed

[2021-09-27 19:36] Sl1mb0 opened #89308 "Uniquely identify CGU's and accurately track their size and merges"
## Overview

This issue is in relation to [optimizing codegen scheduling](https://github.com/rust-lang/rust/issues/89281). To better profile codegen and see where/what we need to optimize, we need to get metrics for individual codegen units. This requires a mechanism for uniquely identifying them; I'm guessing this mechanism will be similar to how query invocations are uniquely identified. E.g.

[

[2021-09-27 19:43] jsha opened #89309 "Use appropriate heading levels in docblocks"
Following up on https://github.com/rust-lang/rust/issues/87059 (big thanks @ahicks92 for the detailed feedback!):

Here's what's happening: in Markdown `#` generally represents an `h1`, `##` represents `h2`, and so on. That means each docblock often has `h1`s and `h2`s in them, even though they are nested under higher-up `h1`s and `h2`s. For instance, https://doc.rust-lang.org/1.55.0/std/io/trait.

[2021-09-27 19:49] Emilgardis commented on #88862
As a sanity check, I compiled with #89285 and it has fixed the issue in my workspace, thank you @jackh726 for looking into this!

[2021-09-27 19:55] Mark-Simulacrum commented on #89308
I don't think numeric IDs are a good idea, since keeping them stable across changes to the underlying structure is a little painful, and figuring out which module is which is probably also hard.

There's some code which generates CGU names already, e.g., around [here](https://github.com/rust-lang/rust/blob/97032a6dfacdd3548e4bff98c90a6b3875a14077/compiler/rustc_monomorphize/src/partitioning/defaul

[2021-09-27 19:55] Mark-Simulacrum commented on #89308
It might be that this wants to rely on support similar to the artifact size profiling work @rylev (IIRC) was doing, which is a separate table from events I think? Not sure.

[2021-09-27 19:57] jackh726 commented on #88862
It's a bit unfortunate I wasn't able to find a "real" fix, but as Niko said, a decent stopgap measure.

[2021-09-27 20:29] joshtriplett commented on #74479
I submitted https://github.com/rust-lang/rust/pull/89310 to implement `available_concurrency` using `sched_getaffinity` on Linux, which handles the case where the process doesn't have access to all CPUs, such as when limited via `taskset` or similar.

[2021-09-27 21:13] CleanCut commented on #73179
I'm not certain any of my attempted team @-mentions are actually functioning, so I'm going to additionally cc @joshtriplett since they are a library team member and were randomly selected [on the PR I'm prepping for this](https://github.com/rust-lang/rust/pull/89292).

[2021-09-27 21:24] tgnottingham commented on #89281
Thanks for @-ing me, @Sl1mb0. I've been revisiting this very subject lately. I'll try to add my thoughts and/or open some issues that I can link to this when I have the time.

[2021-09-27 21:34] matthiaskrgr opened #89312 "ice: Encountered error .. selecting .. during codegen: glacier / fixed/72793.rs"
code from glacier/fixed/72793.rs
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-27 21:36] matthiaskrgr commented on #89312
The ICE appeared between `rustc 1.57.0-nightly (05044c2e6 2021-09-26)` and `98c8619502093f34ca82f8f26ccf32e753924440`;
ran bisection:

`searched toolchains addb4da686a97da46159f0123cb6cdc2ce3d7fdb through 98c8619502093f34ca82f8f26ccf32e753924440`
Regression in 2b6ed3b675475abc01ce7e68bb75b457f0c85684

cc @jackh726

[2021-09-27 22:02] workingjubilee commented on #89307
Does this only affect `extern "system"` or does it also affect `extern "C"` on 32-bit Windows?
Probably not the place to ask, but: `extern "C"` on `x86_64-pc-windows-msvc` follows the x64 `__fastcall` convention, right?

[2021-09-27 22:24] tgnottingham commented on #89308
I'm not sure there's an assumption being made here about this being so, but in case there is, I would just be careful of baking in the assumption that the initial CGU breakdown of two per module is the right approach. Maybe it is, but I just want to question it.

For example, you might imagine alternative CGU partitioning scheme in which each CGU is initially just the call graph of one root mono i

[2021-09-27 23:08] Mark-Simulacrum commented on #89308
I think we support an arbitrary amount of extra "args" put onto each event, so we should be fine in that regard. This format also need not be stable, fwiw, though once perf is consuming it we'd want to be careful with breakage.

I think more granular names should also integrate fine - I don't expect perf to parse those, just pass through to the UI, initially.

[2021-09-28 02:04] ahicks92 commented on #89309
Cool.  I'm still around if I can be of assistance.

[2021-09-28 03:22] jackh726 commented on #89312
If this is the worst we get - a regression in an unstable feature - I'll be happy. Not sure it will be.

[2021-09-28 04:00] fzyzcjy commented on #88623
Congratulations and looking forward to the release!

[2021-09-28 06:50] glandium commented on #89194
At this point, I'm rather convinced it has nothing to do with rust. I mean, obviously, the upgrade to LLVM 13 in rust is involved, but seeing how a) it doesn't reproduce with a local build of Firefox b) it doesn't reproduce locally using the same binaries used on CI in the same docker image used on CI c) it doesn't reproduce on CI under some circumstances the exact details of which are yet to be d

[2021-09-28 06:50] #89194 closed

[2021-09-28 08:10] jhpratt commented on #86722
@RalfJung @oli-obk there should be no issues stabilizing this, correct? I'm going through some things that can be stabilized as `const` and this seems like it would fall logically from the const union PR that has already been merged.

I was planning to stabilize `assume_init` and `assume_init_ref`, as `assume_init_mut` would be blocked on const mut refs with the two slice methods being unstable in

[2021-09-28 11:49] pr2502 opened #89319 "Unclosed block in an impl block emits many knock-down errors"
A single missing `}` in a function definition in an impl block causes all the subsequent functions in that impl block to not get parsed properly as a part of an impl block and will emit errors about receiver types like they were free functions, plus it will complain about all the calls to those functions (methods) as being undefined because of that. With reasonably large impl blocks a single missi

[2021-09-28 11:50] #83450 closed

[2021-09-28 11:54] oli-obk commented on #86722
we haven't stabilized transmute yet, all that is blocked on me finishing https://github.com/rust-lang/nomicon/pull/221, then we can start the stabilization wave for unsafe const stuff

[2021-09-28 12:16] thirdsgames opened #89320 "Error constructed but no error reported in generic_const_exprs"
When using const generics for array lengths, the compiler can emit an ICE if the constraints used are unconventional.

### MCVE

The following MCVE emits an ICE on the Nightly compiler on the playground.
Note that the `Clone` derive macro is the source of the error.

[code]

### Background

Originally, my code was somewhat like this:

[code]

The compiler provided this message:
[code]

I took "add

[2021-09-28 12:48] tmiasko commented on #79246
LLVM bug report https://bugs.llvm.org/show_bug.cgi?id=51667 and proposed patch https://reviews.llvm.org/D109294.

[2021-09-28 14:16] GuillaumeGomez commented on #89246
So, I think here that this is a markdown issue rather than a rustdoc issue. For example, there isn't a title there either:

[code]

Do you want us to add the title if there isn't one which will be the path to the type?

[2021-09-28 14:50] wesleywiser commented on #89307
I would think `extern "C"` on 32-bit Windows would be the [`__cdecl` calling convention](https://docs.microsoft.com/en-us/cpp/cpp/cdecl?view=msvc-160) which doesn't append the parameter size in bytes to the decorated name so there should be no issue there. I believe the affected calling conventions are `__stdcall`, `__fastcall` and `__vectorcall`.

That should be the case, yes. AFAIK, the only sup

[2021-09-28 15:35] skade opened #89325 "Diagnostics in FFI use recommend users to cast to i/u8 instead of the appropriate c_char"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e4aed9f0b25f39886e30db193cf508e2

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

`c_char` is different on platforms, it may be `u8` or `i8`. The correct cast here in FFI use is towards a `c_char`, keeping casts safe correct in all situations. There's also an argu

[2021-09-28 16:07] hkmatsumoto opened #89326 "Silence ``missing `_` in implementation`` for items that was suggested to change"
After #89248 is merged, given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=131d171b09722b4e0ab4258726edb3a0

[code]

The output will be:

[code]

Ideally the output should look like:

[code]
That means, ideally we could silence ``missing `...` in implementation`` for the items informed that a similarly-named item is available.

[2021-09-28 16:08] TaKO8Ki commented on #76208
@rustbot claim

[2021-09-28 17:16] tom7980 commented on #89275
For info here is a backtrace of the compiler during compilation of this Minimal reproduction (with recursion limit set to 8 for more brevity)

`   0: rust_begin_unwind
             at /rustc/98c8619502093f34ca82f8f26ccf32e753924440/library/std/src/panicking.rs:517:5
   1: core::panicking::panic_fmt
             at /rustc/98c8619502093f34ca82f8f26ccf32e753924440/library/core/src/panicking.rs:100:14

[2021-09-28 17:26] camelid commented on #89042
Hmm, should this lint be feature-gated so that things like this and its name can get worked out (I found the name a bit hard to understand) without time pressure? IIRC, oftentimes new lints are landed behind feature gates.

[2021-09-28 17:42] Mark-Simulacrum commented on #88621
Discussed today during T-lang meeting -- people in the meeting (not quorum, FWIW) were surprised that new `as` casts were permitted by the stabilization here (https://github.com/rust-lang/rust/pull/86860), so felt that given the time pressure it makes sense to revert stabilization for the time being. We can re-stabilize with more discussion, potentially, but don't have sufficient quorum to make a

[2021-09-28 17:42] Mark-Simulacrum commented on #88621
(Marking as a regression for tracking the revert)

[2021-09-28 17:49] nikomatsakis commented on #88900
Side note that it is possible to put the `#[allow]` on the field itself, which feels very precise:

[code]

I realize it's still work to add those lints, I wonder if we could make this a "cargo fix"'able thing.

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2f3cb59fb0f497e85bf8e01327afb754)

[2021-09-28 17:57] nikomatsakis commented on #88900
A few more expansive thoughts here.

There are two questions at play. First, was the decision to expand `dead_code` the right one?

* I still think that, on balance, the decision to make a warning here was the right one. There are lots of ways that things which *appear* Dead may not be, and we've seen a lot of evidence that `derive(Debug)` winds up making fields appear used which the authors would

[2021-09-28 18:12] jhpratt commented on #86722
Was that not rust-lang/rust#85769?

[2021-09-28 18:16] workingjubilee commented on #79089
A motivating example for this problem:

[code]

Neither Clippy nor the compiler lint on this right shift, but if `c_char` is signed, then this is an arithmetic shift, but if `c_char` is unsigned, then this is a logical shift. This is a severe portability hazard, as `x` now either has the bit pattern `0b11000000` or `0b01000000`.

[2021-09-28 18:46] Nilstrieb commented on #85991
@rustbot claim

[2021-09-28 19:04] 13ros27 opened #89333 "ICE in nightly with assertion failed: !value.has_escaping_bound_vars()"
### Code

[code]
When creating this I found that it did not error if the function was not called and it also seemed to require it to be a function not just an argument of type T or (from what I tested) a different impl Trait although it could be any Fn* trait
[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4368c7e22b1e6ca1d825f52b7977c5d9)

### Meta

`rus

[2021-09-28 19:19] drskalman opened #89334 "Possible degradation in const generics"
The following code compiles with rustc 1.56.0-nightly (4e282795d 2021-07-31) but not rustc 1.56.0-nightly (5d6804469 2021-08-30) or 1.57.0

[code]

As you see it compiles with the earlier compiler but not with the new one:

### Meta
<details><summary>Build outputs</summary>
<p>
[user@machine as_mut_bug]$ rustup  default nightly-2021-08-01-x86_64-unknown-linux-gnu
info: using existing install for '

[2021-09-28 19:44] deg4uss3r commented on #87933
@hellow554 or anyone else in this thread know how to get the `-alt` builds for Apple Silicon Macs?

[code]

[2021-09-28 20:04] ehuss commented on #71249
@Aaron1011 I was wondering if you are interested in stabilizing this.  I don't think there are any major blockers, and at least on the Cargo side we feel comfortable moving forward as long as the compiler team is very conservative with enabling new lints until we've had some more real-world experience.

[2021-09-28 20:12] SNCPlay42 commented on #89333
@rustbot label regression-from-stable-to-nightly

[2021-09-28 20:32] inquisitivecrystal commented on #87228
I think the strongest argument in favor of including `asm!` in the prelude is that it's so fundamental. It feels like it's part of the language, even if it's syntactically a macro. It's not something a user would be able to reimplement. While it may not be used often enough to justify its inclusion on the basis of convenience, I think it would be more confusing to have to import a fundamental lang

[2021-09-28 20:32] 13ros27 commented on #89333
`nightly-2021-09-17` does not ICE but errors correctly while `nightly-2021-09-18` does ICE

[2021-09-28 20:34] oli-obk commented on #86722
🤦 I am completely lost at the moment on what is stabilized and what is not... I really need to update the skill tree...

Yea, those are trivial to replicate in bad ways on stable then... so we should stabilize them

[2021-09-28 21:02] luqmana commented on #89307
Probably need to update LLVM here:

https://github.com/llvm/llvm-project/blob/595c418ad6a1230103000dcebdb158129d033077/llvm/lib/IR/Mangler.cpp#L92-L112

I imagine something like this in the loop would work:
[code]

[2021-09-28 21:41] ExpHP commented on #89264
I don't think this is a bug.  It is a central part of the [sealed trait](https://rust-lang.github.io/api-guidelines/future-proofing.html) pattern.

[2021-09-28 21:43] spinda commented on #63168
I'm in favor of `cloned` only cloning the `Ok` side, i.e., going from `Result<&T, E>` to `Result<T, E>`. This API mirrors `Option::cloned`, and I think it's more likely that a function of the form `fn do_fallible_thing() -> Option<&T>` eventually evolves into `fn do_fallible_thing() -> Result<&T, SomeError>` than `fn do_fallible_thing() -> Result<&T, SomeError>`. It's still the possibly-present su

[2021-09-28 21:49] wesleywiser commented on #89307
@luqmana Based on the LLVM Lang Ref, it read to me like just the presence of the `sret` attribute would be sufficient to indicate the parameter size should not be included. Therefore my patch looks like this:

[code]

Does that seem reasonable to you or do you think we should include the additional check for `A.getDereferenceableBytes() > 8`?

[2021-09-28 21:52] voteblake opened #89339 "Windows LLVM Sanitizer Support"
In an effort to fuzz a Windows-specific Rust program with `cargo-fuzz` I've done a bit of digging that leads me to think the compiler is the current blocker.

[`cargo-fuzz`](https://github.com/rust-fuzz/cargo-fuzz) mentions [`libFuzzer`](https://llvm.org/docs/LibFuzzer.html) "only works on x86-64 Linux and x86-64 macOS for now". The `libFuzzer` docs in turn suggest Windows should now be [support-a

[2021-09-28 21:55] luqmana commented on #89307
Ah, you're right, just checking for sret should suffice.

[2021-09-28 22:45] YvanQu commented on #50776
LMAO I just downloaded the binaries from [https://ffbinaries.com/downloads](url), threw them in the ffmpeg folder in the cellar and ran brew link ffmpeg

[2021-09-28 23:01] rodrimati1992 opened #89342 "Cannot use visibility modified in associated item declared inside const argument."
I tried this code:

[code]

I expected the code to compile

Instead, the compiler errored with this message:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-09-28 23:16] workingjubilee commented on #87228
Rust is a systems language, though. I would hope that over time the argument that it is a "built-in language facility" applies less and less as we perfect the abstractions Rust currently offers, even for `asm!`. And a proc macro that parses the normal format for a `core::arch::asm!` invocation and re-emits a call to `core::arch::asm!` with some useful improvement, and is thus usable as a "drop-in"

[2021-09-28 23:19] camelid commented on #89333
@rustbot glacier "https://gist.github.com/rust-play/f02329ad916ec61a47ebd6f15f599b65"

[2021-09-28 23:29] camelid commented on #89333
searched nightlies: from nightly-2021-09-17 to nightly-2021-09-18
regressed nightly: nightly-2021-09-18
searched commits: from https://github.com/rust-lang/rust/commit/e4828d5b7f745a9e867a9b0cc7f080f287bcf55d to https://github.com/rust-lang/rust/commit/9dd4ce80fb01d1ff5cb5002f08b7b3847b59e664
regressed commit: https://github.com/rust-lang/rust/commit/e36621057d9f497c822eb800934b5933c10510cf

<deta

[2021-09-28 23:37] audunhalland commented on #89188
@rustbot claim

[2021-09-28 23:48] yaahc commented on #27747
Is that impl something you could even write without moving `Bstr` into `std`? It's hard for me to keep the rules straight in my head but that looks like an impl that might violate the orphan rule.

[2021-09-28 23:51] yaahc commented on #27747
I'm confused by what you mean @BurntSushi. Isn't that impl still an orphan rules violation as pointed out in https://github.com/rust-lang/rust/issues/27747#issuecomment-509608162?

[2021-09-28 23:52] jackh726 commented on #89333
I've got this. @rustbot claim

Interestingly, this is precisely the kind of thing that #89001 is hopefully going to help harden against: "hidden" `Binder::dummy`s when calling `to_predicate` and such

[2021-09-29 00:44] BoxyUwU commented on #89334
[more minimal](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3b3a52566a14e49a744ec34bc39afd04):
[code]

[2021-09-29 01:39] sffc commented on #46529
"Appalling" is an understatement, in my opinion.

`<rant>` Every other programming language that has enums, including C++ and Java, support mostly-transparent conversion between int and enum. *There **is** a well-defined conversion;* but Rust forces us to use unsafe code for it! Enums are an abstract concept that are mapped into ints when compiled into assembly code. Just like chars! A char is bas

[2021-09-29 01:47] jhpratt commented on #86722
It looks like a number of methods rely on dereferencing a raw pointer or reading one, all of which we don't want at compile-time for the time being due to some uncertainty, correct? If this is permissible, just say so and I can include them.

The one method that can clearly be stabilized without issue is `assume_init` (with `array_assume_init` being able to be stabilized with the method itself).

[2021-09-29 05:03] notriddle commented on #88905
@SadiinsoSnowfall is this example reduced from a realistic use case?

[2021-09-29 05:27] dtolnay commented on #83310
#89303 adds `#[must_not_suspend]` to `MutexGuard`, `RwLockReadGuard`, `RwLockWriteGuard`, and the two RefCell guards `Ref` and `RefMut`.

[2021-09-29 05:30] jhpratt commented on #79551
Aside from intrinsics, are there any situations where this would be the desired behavior? I would imagine it's possible to special-case intrinsics.

[2021-09-29 05:56] workingjubilee commented on #79865
Currently on both stable and nightly:
[code]
At last, consistent behavior between versions. ☺️

[2021-09-29 06:16] hellow554 commented on #87933
@deg4uss3r my best guess is: because aarch64-apple-darwin is not a tier1 platform, there's no alt target built per default. You may have to build it yourself.

@apiraino have you a better idea?

[2021-09-29 07:46] SparrowLii opened #89348 "Wrong path is used in bootstrap"
Look at [this line](https://github.com/rust-lang/rust/blob/master/src/bootstrap/bootstrap.py#L1002)
Bootstrap uses the `.git` path, but the current source code path is `.github`. This makes it impossible to update the submodules. In addition, there are other `.git` path errors in bootstrap that need to be corrected

[2021-09-29 07:59] oli-obk commented on #86722
We should stabilize raw pointer deref, otherwise ppl will start transmuting raw pointers to references and dereferencing those

[2021-09-29 08:00] oli-obk commented on #79551
I don't know, there may already be such use cases in libstd. If not, let's do this and worry about it when we have such a case

[2021-09-29 08:22] jhpratt commented on #86722
Just sent Ralf a PM on Zulip asking him to check this out. I recall him having an objection to something of the sort when stabilizing const transmutes — I believe we initially wanted a lint.

[2021-09-29 08:26] jhpratt commented on #79551
I'll give it a shot when I get a chance — probably next week at the earliest. My initial thought is to have a deny-by-default internal lint that is allowed for the intrinsics module.

[2021-09-29 08:27] GuillaumeGomez opened #89349 "JSON format should be cleaned up to use Type::Primitive("never") instead of special-casing"
From https://github.com/rust-lang/rust/pull/89297#discussion_r717816390.

[2021-09-29 08:59] ehuss commented on #89348
Can you say more about what problem you are running into?  `.git` is the correct path. That is checking whether or not the current source tree was cloned from a git repository, or if it is extracted from an archive (ie, not a git repository).  If extracted from an archive, then there is no need to update submodules since it isn't inside a git repository to start with. The archive should include th

[2021-09-29 09:30] Kobzol opened #89350 "Type inference cannot propagate through `map` combinator"
Hi! I was surprised to see that in the following code, explicit return type (or `map` turbofish) annotation has to be specified for the `map` combinator for the code to compile:

[code]
The inference can work it out if I construct the Option directly, but once `map` is added, it cannot see that both of the `map`s should coerce to `Box<dyn Trait>`. Is this a limitation of the current type inference

[2021-09-29 09:46] frochet commented on #80967
I find it useful in the following context:

[code]

[2021-09-29 09:46] SparrowLii commented on #89348
I think I know the reason. I downloaded the zip source package from the github webpage without using the `git clone` command. This will result in no `.git` path in the root directory after decompression.
This means there is no problem here. I think this issue can be closed.

[2021-09-29 09:48] #89348 closed

[2021-09-29 10:28] m-ou-se commented on #87228
@BurntSushi Most of the boxes were checked during the meeting last week, in which most of us expressed not feeling very strongly about this either way, but also not like we had to block this. So it's not so much "everyone else wants it", but more a "everyone else was okay with it".

The discussion above shiften my own opinion from 'slightly in favour' to 'slightly against'.

The accidental closing

[2021-09-29 10:30] m-ou-se commented on #87228
@rfcbot cancel

[2021-09-29 10:30] m-ou-se commented on #87228
@rfcbot close

[2021-09-29 10:46] m-ou-se commented on #68537
Stabilized in #89086.

[2021-09-29 10:46] #68537 closed

[2021-09-29 10:51] QuineDot opened #89352 "Covariance-related GAT lifetime mismatch"
[I tried this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c44f2a8b6b9fe671e97c3956e24f8d02):

[code]

I expected to see this happen: Successful compilation.

Instead, this happened: Errors as follows.
[code]

Note that it expected and found "type `Sized`", which doesn't make sense.  Additionally, I don't see what is restricting `'s` to outlive `'a`; and indeed, [

[2021-09-29 10:59] eggyal commented on #27732
Currently, there's no std/core type for a "sized str" (by which I mean an array of UTF-8 bytes).  Of course, one can create a custom version:

[code]

But such a custom type cannot be "unsized" to `str`.  Shouldn't there be a library type like this, but that implements `Unsize<str>`?

[2021-09-29 11:34] bjorn3 commented on #27732
[code]

allows you to "unsize" `&Str<N>` to `&str` using `&*s`.

[2021-09-29 11:45] LAK132 opened #89353 "Directly using constant from default specialisation of type causes "erroneous constant used" error"
This works:

[code]

This fails:

[code]

with this error

[code]

### Meta

Build using the Nightly version: 1.57.0-nightly (2021-09-28 8f8092cc32ec171becef) (rust playground)

[2021-09-29 12:25] m-ou-se commented on #50186
The 'copy vs take' issue was discussed in the library api team meeting recently. We concluded that having this functionality for only for `Copy` types or only for `Default` types would be too restrictive, but that having two versions of this function would also not be the best option. The difference between e.g. `copy_update` and `take_update` would be very subtle and in many cases not matter at a

[2021-09-29 12:28] danielhenrymantilla commented on #50186
Oh yeah, that would be wonderful, and I agree that `Copy`ing is a more sensible default than `take()`ing

[2021-09-29 12:56] deg4uss3r commented on #87933
I don't mind building myself was just hoping I didn't have to!

Is there a good `config.toml` around that adds the LLVM assertions and keeps everything else close to the normal compiler?

[2021-09-29 12:57] orlp opened #89354 "Rustdoc does not list associated constants for types in the sidebar"
Consider the following struct and trait:

[code]

The sidebar generated by rustdoc for the trait is informative, allowing you to quickly jump to the methods and associated constants:
![image](https://user-images.githubusercontent.com/202547/135272192-72df58ef-8495-4c0a-a4f2-9b4d8a0d3a5c.png)

Sadly, the associated constant is completely missing in the sidebar for the struct:
![image](https://user-

[2021-09-29 13:12] T-Dark0 opened #89355 "ICE when normalizing associated types with `generic_const_exprs` cross-crate"
The following code ICEs. Strangely enough, it works perfectly well when used within a single crate, but attempting to use the first snippet from a crate other than its own will ICE.

### Code

in `src/lib.rs`
[code]
in `tests/test.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

The output of `cargo test -- --test` is
[code]

[2021-09-29 13:24] ilslv opened #89356 "Conflict when implementing trait on associated type"
Given the following code:

[code]

[code]

The current output is:

[code]

Basically I'm trying to work around not having specialisation by using `Wrapper` type: one behaviour for `Marker` implementors and second one for the `Wapper<T> where T: Marker`. Then I try to describe trait, which will `Unpack` `Wrapper` or resolve `Marker` itself. Everything is fine, until I try to use those traits in ano

[2021-09-29 13:27] #88806 closed

[2021-09-29 13:27] #89159 closed

[2021-09-29 13:30] camsteffen commented on #50186
So, just to see what that might look like...

[code]

[2021-09-29 13:39] m-ou-se commented on #50186
@camsteffen The `-> T` will have to be removed from `update`, because it can no longer return a copy of the new value if the value is not necessarily `Copy` anymore.

[2021-09-29 14:14] estebank commented on #89319
A potential solution would be to make these kind of parse errors "fatal", which is what they *used* to be. I would prefer to more gracefully handle the recovery instead.

[2021-09-29 14:20] estebank commented on #89254
For the general diagnostic improvement, we should be pointing at all the `impl`s that apply (and also that info when suggesting the turbofish, while we are at it). Having a way to nudge inference towards a certain type is something I'd like, but it feels like it'd have similar problems as specialization.

[2021-09-29 14:21] Nutomic opened #89361 "Nightly internal compiler error in def_path_hash_map.rs"
I'm hitting an internal compiler error in the latest nightly (cargo 1.57). The same code compiles fine on stable, and also on the previous nightly I used (not sure which version it was). Sorry I dont have time to create a minimal example, as this problem occurs in a quite large project.

### To reproduce

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><su

[2021-09-29 14:22] estebank commented on #89280
I thought this had been solved by a recent @oli-obk PR :(

[2021-09-29 14:35] yaymukund commented on #89309
Interesting. Thank you for the detailed description of the issue.

I'd like to give this a shot in the upcoming week, assuming that time-frame is good and nobody's already claimed it :)

[2021-09-29 14:38] alexcrichton opened #89362 "Panics in procedural macros can lead to hundreds of unrelated resolution errors"
One thing I've often seen with rustc when I'm developing a procedural macro is that I'm in a situation where a procedural macro is generating a bunch of code and I've got a file that's using all the code the procedural macro. Everything works well but inevitably I've got a bug in the macro and the macro panics. This causes the macro to not actually produce any items, but all the code I have that w

[2021-09-29 15:10] Aaron1011 commented on #89361
cc @michaelwoerister

[2021-09-29 15:15] zonyitoo opened #89365 "Some Aarch64 targets doesn't have splitted crypto features"
I tried this code:

[code]

And we can saw plenty of logs in console:

[code]

### Meta

`rustc --version --verbose`:
[code]

The following targets:

- `aarch64-apple-darwin`
- `aarch64-linux-android`

doesn't have `pmull` feature listed in `rustc --print target-features --target $TARGET`, is that expected? All of them has `crypto` feature.

[code]

<details><summary>Output</summary>
<p>

[code]

[2021-09-29 15:39] remexre opened #89367 "rustdoc: macros expanded from macros don't get their rules documented correctly"
When writing a `macro_rules!` macro that expands to another `macro_rules!` macro, the Rustdoc shows the source-code tokens pre-outer-macro-expansion in the rules for the inner macro. I was expecting to see something like the expansion in `trace_macros!()`, which does have the post-expansion rules.

### Meta

`rustdoc --version --verbose`:
[code]

[2021-09-29 15:40] oli-obk commented on #89280
No, I just avoided a malformed span that was hitting the same ICE

The ICE itself will occur for any multi line span where the end is to the left of the start: https://github.com/rust-lang/rust/pull/89046#discussion_r711139413

[2021-09-29 15:51] jyn514 commented on #89367
@remexre can you give an example of this? I don't know what the difference would be between pre- and post-expansion.

[2021-09-29 16:00] psumbera commented on #86163
Now Rust (--emit=llvm-ir ) for SPARC64 generates for the test case:

```define void @funkce([4 x float] %0, i32 signext %1) unnamed_addr #2 {```

where Clang (-S -emit-llvm) for C test case equivalent does:

```define dso_local void @funkce(float inreg %0, float inreg %1, float inreg %2, float inreg %3, i32 signext %4) #0 {```

Clang SPARC64 ABI generation and usage of ```inreg``` for structures w

[2021-09-29 16:00] eggyal commented on #27732
@bjorn3 Of course, but that's not a coercion! In particular, given `s: Str<N>`, one cannot write `&s as &str`—and hence when coercing generic `T: Unsize<U>` with `&t as &U` we cannot provide a `Str<N>` for `t`.

[2021-09-29 16:02] jweinst1 opened #89368 "slice::align_to does not take into account length of the slice"
The bug is that, the method described [here ](https://doc.rust-lang.org/std/primitive.slice.html#method.align_to) does not depend on the length of the slice itself, rather the memory where the slice is from. This is either a bug, or if intentional, quite misleading. Here is an example of the behavior:

[code]

Which will print

[code]

The expected behavior here should be that the alignment takes

[2021-09-29 16:13] jyn514 commented on #89367
That would be great, thanks!

[2021-09-29 16:22] jsha commented on #89309
That time frame is good, and nobody's claimed this. Thanks for working on it! Feel free to ask questions if you run into any problems.

[2021-09-29 16:26] mzryz commented on #84142
closing issue as do not have the system anymore.

[2021-09-29 16:26] #84142 closed

[2021-09-29 16:36] glaubitz commented on #84142
That's okay, the issue has been fixed in the meantime. https://github.com/rust-lang/rust/pull/85807 ;)

[2021-09-29 16:38] the8472 commented on #89368
Well, it does depend on the length of the slice in a way. You can't align a slice with fewer elements than the larger type.

But that also depends on the address is quite intentional because the because an [u8] can sit at any memory address (having an alignment of 1), it's not guaranteed to be divisible by any particular number other than 1.
A [u64] on the other hand must be aligned to 8 bytes, wh

[2021-09-29 16:56] jweinst1 commented on #89368
It would be for any `&[u8]` of where `.len() % 8 == 0` would be evenly aligned. In my example, both `numbers` and `numbers2` are `.len() == 32` , but because `numbers` comes from an `[u8;33]` , even though the slice is from `0..32`, it somehow thinks the slice is also length 33. The desired behavior would , from the same program, print this:

[code]

[2021-09-29 17:00] Aaron1011 commented on #71249
@ehuss: I'm currently working on a PR that improve the output, based on @LukasKalbertodt's suggestion in https://github.com/rust-lang/rust/issues/71249#issuecomment-803000704. Once that's done, I think this feature should be ready to stabilize.

[2021-09-29 17:03] Aaron1011 commented on #44930
Is anything blocking the stabilization of this? s390x is a tier-two target, so could we just emit a warning/error on LLVM versions (currently all of them) where https://github.com/rust-lang/rust/issues/84628 occurs?

[2021-09-29 17:29] the8472 commented on #89368
That's not what is happening. It's due to the address of the first byte of the arrays in memory not being properly aligned for the wider type.
If you're coming from a higher level language perhaps you're not familiar with pointers and memory alignment? I don't know of a good beginner tutorial in this area, here's the [wikipedia page](https://en.wikipedia.org/wiki/Data_structure_alignment) and a se

[2021-09-29 17:34] #80140 closed

[2021-09-29 18:05] jweinst1 commented on #89368
Right, but the function takes a _slice_ as a parameter, not an _array_ . What it takes in as a parameter does not reflect what the output or return value actually works on.

Coming from C++, but in C++, this can be done

[code]

In C++, alignment works on types such as arrays and structs, not pointers.

The problem here is that one cannot use this function unless they are also aware of the alignme

[2021-09-29 18:24] yaahc commented on #87228
I'm happy either way, though I do find @matklad's IDE based reasoning to be somewhat compelling.

@rfcbot review

[2021-09-29 18:27] yaahc commented on #87920
Should we go ahead and split this tracking issue?

[2021-09-29 18:28] dlrobertson commented on #44930
s390x should fall through to LLVM's `va_arg` instruction, so there might be an issue there. I can't remember off the top of my head, but I think s390x uses the void pointer variant of a `va_list`, so I wonder if using our `emit_ptr_va_arg` like we do for `x86` and windows would fix some of the issues seen on s390x. I haven't tested on s390x, so I wouldn't know for sure though.

[2021-09-29 18:29] the8472 commented on #89368
A `&[u8]` is just a reference (a pointer + length) into that array and the array isn't properly aligned for the widening, so it can't be turned into a `&[u64]`, at least not to one pointing at the first byte of the array.

That cast would not be valid without the `alignas(64)`.
`std::mem::align_of::<[u8; 33]>()` is 1. If you want the equivalent in rust you have to wrap it into a newtype and add `#

[2021-09-29 18:30] cuviper commented on #44930
I don't know these details well, but I can volunteer to test things on s390x hardware if needed.

[2021-09-29 18:34] hkratz commented on #89365
LLVM 13  has no `pmull` feature. The pmull instructions are enabled with the `aes` feature. The same is true for gcc: https://gcc.gnu.org/onlinedocs/gcc/AArch64-Options.html

[2021-09-29 18:46] joshtriplett commented on #87228
@rfcbot concern

I do care enough about this to not want to close it. I still feel like this should feel like part of the language, and feel built in and available.

[2021-09-29 19:06] thomcc commented on #87228
I think `asm!`/`global_asm!` being in the prelude is a step too far — it's just a little bit *too* accessible there.

It is too easy of way to make your codebase non-portable, and failing to use the write options/clobbers can make it be a performance footgun if you don't know what you're doing (although it's still `unsafe`, which admittedly should be enough to discourage needless use).

That said,

[2021-09-29 19:36] Nadrieril commented on #89042
Oh I didn't know that was a thing for lints. I'd like that, it's nontrivial enough that more tweaking might be necessary

[2021-09-29 19:37] jweinst1 commented on #89368
Thats a good point actually. Perhaps wha I am looking for is actually a way to read unaligned data instead. Thanks

https://doc.rust-lang.org/std/ptr/fn.read_unaligned.html

[2021-09-29 19:37] #89368 closed

[2021-09-29 19:42] camelid commented on #89042
@Nadrieril Take a look at ec20993c4db26c431e700d5f6b59fe26028cab31; if you do that in reverse and apply it to this lint, I think it should feature-gate it ;)

[2021-09-29 20:06] camelid commented on #89042
I don't have enough time to shepherd a feature-gating PR, but this patch should hopefully work if you run `./x.py test --bless` on the feature-gate test:

[code]

[2021-09-29 20:07] camelid opened #89374 "Feature gate new `non_exhaustive_omitted_patterns` lint"
It will need to be feature-gated before it lands on stable in **1.57.0**.

cc https://github.com/rust-lang/rust/issues/89042#issuecomment-929464660
cc @Nadrieril

This issue has been assigned to @DevinR528 via [this comment](https://github.com/rust-lang/rust/issues/89374#issuecomment-931657255).

[2021-09-29 20:14] ExpHP commented on #42947
Dupe of #41078.  (at least, that's the issue that seems to have received the most attention; took a bit of searching to find though!)

[2021-09-29 20:16] Nadrieril commented on #89042
I don't know how to shepherd that either >< Does there need to be a tracking issue and things like that? Would you know someone competent to ping?

[2021-09-29 20:16] ExpHP commented on #64373
Dupe of #41078

---

This is a consequence of the fact that a closure is only given HRTB lifetimes if the presence of these lifetimes in its signature can be seen *at the time the closure is type-checked.*

Note that the full `|a: &mut String|` is not necessary, only the `|a: &mut _|`.  Basically:

* `|a| foo(a)` will create an `fn(?A) -> ?B`, where `?A` and `?B` are inference variables (types to

[2021-09-29 20:18] cuviper commented on #44930
FWIW, here is clang's `SystemZABIInfo::EmitVAArg`:

https://github.com/llvm/llvm-project/blob/9ad17fe0debb0b48798aaba6d07b65136fcf0664/clang/lib/CodeGen/TargetInfo.cpp#L7467-L7468

[2021-09-29 20:23] camelid commented on #89042
Ah, well, I don't think there's not too much involved. I meant more that if CI fails and there are complications, I don't have time to shepherd that.

I think you could just apply the patch I posted, run `x.py test --bless` on the feature-gate test, and open a PR.

In terms of tracking issues, I think it's most important to just get it behind a feature gate first. You can always open a tracking is

[2021-09-29 20:45] dlrobertson commented on #44930
Thanks for the link! There is definitely something wrong with our implementation. We're emitting a void pointer like va_list but it looks like a complex structure is expected. We'll need to change the intrinsic type `VaListImpl` for the architecture. It would be interesting to see if just changing the structure for s390x fixes this or if we do indeed need to implement a custom va_arg as well.

[2021-09-29 21:01] Nadrieril commented on #89374
By when should the PR be merged if we want to get it in before 1.57.0 roughly?

[2021-09-29 21:04] camelid commented on #89374
I'm not 100% sure, but I think 1.57 will be promoted to beta in ~2 weeks. After that, the PR would need a backport to the beta branch in order to get it in before 1.57 is released as stable. (You can see the release dates [here](https://forge.rust-lang.org/#current-release-versions). Nightly branches off as beta around 7 weeks before it is released as stable IIRC.)

[2021-09-29 21:29] deg4uss3r commented on #87933
Huh interesting looks like my project is now only hitting this on `cargo test` any good way to track down which symbols are clashing?

[2021-09-29 22:04] c410-f3r opened #89379 "Tracking Issue for `array_from_fn`"
Feature gate: `#![feature(array_from_fn)]`

Provides the common use of creating custom arrays in a reliable and unified way. Particularly useful for elements that don't implement Copy and/or Default.

### Public API

[code]

### Steps / History

- [ ] Implementation: https://github.com/rust-lang/rust/pull/75644
- [ ] Final comment period
- [ ] Stabilization PR

### Unresolved Questions

None. Nami

[2021-09-29 22:10] eholk commented on #74256
I think we can make some more significant improvements to the error message here, since it's taken me awhile to figure out what it's really trying to tell me. Since this issue was filed, the error message has changed slightly (probably because of [this change](https://github.com/rust-lang/rust/commit/20e032e65007ff1376e8480c1fbdb0a5068028fa). Here's the current error message:
[code]

To me the mos

[2021-09-29 22:14] kellerkindt commented on #87920
That's fine with me, I had the wrong impression that the rfcbot would be run on #88624. What effect does it have on the running poll?

[2021-09-29 22:50] yaahc commented on #87920
We would close the poll on this tracking issue and re-open it on the new one and check off the boxes for those who've already approved it here, so effectively none.

[2021-09-29 22:56] kellerkindt opened #89381 "Tracking Issue for `saturating_div`"
The feature gate for the issue is `#![feature(saturating_div)]`.

### About tracking issues

This tracking issue tracks the progress of the `saturating_div` feature, which shall provide a saturating division for integer types. It is part of the ongoing effort to stabilize the `Saturating` type #88624

### Unresolved Questions

None. The implementation has been discussed [here](https://github.com/r

[2021-09-29 22:58] kellerkindt commented on #87920
Okay, I have just created it: #89381

[2021-09-29 23:15] chanks opened #89382 "ICE related to non_exhaustive_omitted_patterns lint"
Just tried to update my toolchain from `nightly-2021-09-04` to `nightly-2021-09-29`, and I now get an ICE in a project of mine when I run `cargo check`.

### Code

I don't have a self-contained reproduction (though I can try to put one together if necessary). I see that the error is originating from the `non_exhaustive_omitted_patterns` lint introduced in 33a06b73d90bde1d2fc4902672f4cbeb233b83e2 (

[2021-09-29 23:35] chanks commented on #89382
I think I see the problem, that last field is being correctly identified as not-visible, so an empty slice is [being passed](https://github.com/rust-lang/rust/blob/11491938f80988c7261a1179cf71a25c379c8783/compiler/rustc_typeck/src/check/pat.rs#L1290) into non_exhaustive_reachable_pattern, which is [immediately failing in joined_uncovered_patterns](https://github.com/rust-lang/rust/blob/11491938f80

[2021-09-29 23:41] yaahc commented on #87920
@rfcbot cancel

[2021-09-29 23:42] yaahc commented on #89381
@rfcbot merge

[2021-09-30 00:17] eminence commented on #73556
Related to #53975 and this bit of code:

https://github.com/rust-lang/rust/blob/11491938f80988c7261a1179cf71a25c379c8783/compiler/rustc_middle/src/lint.rs#L255-L275

(I personally would very much like to opt-in to dead_code warnings on generated code)

[2021-09-30 01:41] RalfJung commented on #86722
Yeah there was the idea of having a lint against ptr-to-int transmutes.

My only concern with raw pointers is how and where to document that type-punning loads (i.e., raw-ptr-based transmutes) of pointers to integers are considered UB during CTFE.

[2021-09-30 01:54] jhpratt commented on #86722
On its own, is that an issue when it comes to raw pointer deref?

[2021-09-30 01:58] xu-cheng opened #89383 "Miscompilation with inline assembly"
I tried this code ([playground link](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=c47c2eafb6e483e04f266bb7d6b3a8b6)):

[code]

The above program runs fine in debug mode. However, it fails both tests when is built under release mode. I can replicate the issue on both Mac and Linux. I was unable to reduce the example further.

### Meta

`rustc --version --verbose`:
[cod

[2021-09-30 02:02] jsha commented on #84539
One way we could address that issue would be to make the settings page rendered by JS instead of a standalone HTML page. That would also allow all the other settings to be applied in the file:/// context. Another way would be to decide that certain features (like theme switching) only work locally if you use, e.g. `python -m http.server' so you can access the files at an HTTP URL.

[2021-09-30 02:07] thomcc opened #89384 "Rustdoc search should support space-separated queries (in additon to `::`-separated)"
I often try to do searches on rustdoc as `foo bar` rather than `foo::bar`, since it's easier to type and to me it feels more natural, especially in situations where the path isn't exact (e.g. see example 2 below).

Unfortunately, this pretty much never works, and it would be nice if it did. Concrete examples:

1. I'd like it if searching [`vec truncate`](https://doc.rust-lang.org/nightly/std/?sear

[2021-09-30 02:07] RalfJung commented on #86722
Where would you put that documentation though? And would anyone actually read it?^^

But, yeah, just from an implementation perspective I can't think of any reason how raw ptr deref could screw us now that we have stabilized transmutes and union field accesses.

[2021-09-30 02:08] jhpratt commented on #86722
I removed bit of my comment that because I realized it was orthogonal to this issue. Sounds good though :+1:

[2021-09-30 02:13] RalfJung commented on #51911
Mirroring some discussion from https://github.com/rust-lang/rust/issues/86722 (not sure why that happened on the other tracking issue...):

My only concern with const raw pointer deref is how and where to document that type-punning loads (i.e., raw-ptr-based transmutes) of pointers to integers are considered UB during CTFE.

But just from an implementation perspective I can't think of any reason h

[2021-09-30 02:17] #89365 closed

[2021-09-30 02:31] jsha commented on #86851
Bringing over part of [@camelid's comment](https://github.com/rust-lang/rust/pull/86892#issuecomment-930413910)

Here are a couple of counterexamples from popular crates, of code you might want to copy-paste and then modify:

https://docs.rs/log/0.4.14/log/#implementing-a-logger

[code]

https://doc.rust-lang.org/std/net/struct.TcpStream.html#examples

[code]

https://docs.serde.rs/serde_json/#cre

[2021-09-30 03:32] goffrie commented on #86845
Instead of adding `fn into_locked`, would it be a problem to instead change the signature of `fn lock` to return `StdinLock<'static>` directly? The latter is a subtype of `StdinLock<'a>` for any `'a`, so I'd expect it to be backward compatible.

[2021-09-30 03:45] gyakovlev commented on #89108
@Mark-Simulacrum just to be clear, gentoo provides an option to toggle parallel-compiler on. It's disabled by default and "masked"/marked as unstable, so users have to opt-in in quite an explicit way to enable it.

from rust developer point of view, is there a value in such an option or should we simply not expose it and it has no future?

our goal is to provide useful options for users, but also

[2021-09-30 04:01] jackh726 commented on #89242
Okay, so I investigated this a bit. It's kind of rough.

<details>
<summary>
My work-through
</summary>

- We start by checking the expr `takes_trait_b(())` with `NoExpectation`
- Because the function takes one generic, we create a new variable `_#0t`
- We then add the required obligations:
  - We care about `Binder(TraitPredicate(<<<_#0t as TraitB<()>>::TrA as TraitA<ReLateBound(DebruijnIndex(0),

[2021-09-30 04:09] comex commented on #50186
But it does commit Rust to having a form of specialization capable of expressing "A or B" for unrelated A and B… are there any other standard library APIs that do this?

[2021-09-30 04:14] GopherJ opened #89387 "internal compiler error: encountered incremental compilation error with evaluate_obligation(6695268b38b273-ac6df59794465866)"
[code]

[2021-09-30 04:14] GopherJ commented on #89387
this happens while running `make test` in https://parallel-finance/parallel repo

[2021-09-30 04:22] dtolnay opened #89388 "Poor recovery from [_]::method"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5f20683e51f9be844a0cc50aeb746f5d

[code]

The current output is:

- **it thinks `to_vec` is a crate name**
- **it claims that `[_]` isn't meaningful because it isn't left of an assignment**
- **it claims that 2 arguments were passed to `map`**

[code]

Ideally the output should look like:

[code]

Ind

[2021-09-30 04:44] thomcc opened #89389 "Several trivial `Vec<T>` methods (deref, as_ref, etc) end up in compiled output when optimizing for size."
Godbolt repro: https://rust.godbolt.org/z/caG4MEjsr

With `-Copt-level=s` and `-Copt-level=z` the functions `<Vec<T> as Deref>::deref` and `<Vec<T> as AsRef<[T]>>::as_ref` show up in the output pointlessly. Similarly for the mut versions (AsMut, DerefMut, etc), and a few similar methods I tried (Borrow::borrow for example).

There are probably some other similar issues too (it seems a lot of our l

[2021-09-30 04:46] BGR360 commented on #87890
Would love to see movement on this. I don't want to allocate ~20GB of laptop space to a deep clone of the repository in order to simply be able to build the compiler.

When i was messing around, removing "--merges" as @tlyu suggested did the trick.

[2021-09-30 04:53] jyn514 commented on #87890
@BGR360 feel free to make a PR with that change :)

[2021-09-30 05:19] BGR360 commented on #87890
@jyn514 I wasn't sure if there was some reason not to do that:

I don't really grok most of what @tlyu said there, but if you think that's a safe change, then sure thing!

[2021-09-30 06:28] jsha commented on #84686
I can no longer reproduce this. Closing.

[2021-09-30 06:28] #84686 closed

[2021-09-30 07:33] #76424 closed

[2021-09-30 07:33] #88809 closed

[2021-09-30 07:33] #89287 closed

[2021-09-30 07:33] #89305 closed

[2021-09-30 08:20] adolphor commented on #88607
Rust Version: 1.55.0
OS: macOS 10.13.6

[code]

Hope rust 1.55.0 support macOS 10.13.6, don't want to upgrade the MacOS system.

[2021-09-30 08:51] apiraino commented on #89333
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2389333.20ICE.20in.20nightly.20with.20assertion.20failed.3A.20!value.2Ehas_esc.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-30 09:03] filippoSelvatici commented on #46090
I'm having the same issue when compiling a simple rust program inside a sandbox. The error I get is:
[code]
Is there any workaround to avoid mounting proc inside the sandbox?

Source of the sandbox:
[https://github.com/alerighi/tabox](https://github.com/alerighi/tabox )

[2021-09-30 09:16] tuzz opened #89393 "ICE: Failing to compile gfx-backend-metal: Unexpected type for constructor"
### Repro

When compiling on an Apple M1 processor:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-30 09:30] oli-obk opened #89394 "Implement "intersection lifetimes" to improve diagnostics and accept rare impl trait cases"
TLDR: The following does not compile but it should

[code]

The lifetime of the `if false { a } else { b }` is `'a` OR `'b`, but right now we can only express `'a` AND `'b` (as `'lifetime: 'a + 'b`).
Beyond diagnostics, only impl trait can actually encounter such lifetimes in a somewhat reasonable way.

So the plan is as follows:

1. add intersection lifetimes to mir borrowck, without actually cre

[2021-09-30 09:40] SNCPlay42 commented on #74256
See #74597

[2021-09-30 09:41] apiraino commented on #89295
@jakobrs can you reproduce this even after a `cargo clean`? I've tried compiling, cleaning, compiling and recompiling again with stable 1.55 but I failed to reproduce. Do you have some steps to help make this error reproducible? Thanks!

[2021-09-30 09:42] GuillaumeGomez commented on #84539
That could work I guess... I'm not super happy about adding more JS. Also, currently it's very easy to change the current theme, putting it into the setting page would make this more confusing I think.

[2021-09-30 09:43] GuillaumeGomez commented on #86851
Mostly people I talked to directly when we met. We can always propose a poll and put the link on twitter, reddit and the rust forums?

[2021-09-30 10:08] chrismit3s commented on #84488
@rustbot claim

[2021-09-30 10:21] apiraino commented on #88935
@satmandu is this issue reproducible on a clean installation? Does it also reproduce outside a ChromeOS environment?

I'm trying to understand the conditions to make this reproducible.