[2021-06-16 12:22] spastorino commented on #83190
After a discussion with Niko about this and assigning to myself we saw that there's already a PR. Unassigning myself then :).

[2021-06-16 12:23] spastorino commented on #78450
After a discussion with Niko about this and assigning to myself we saw that there's already a PR. Unassigning myself then :).

[2021-06-16 12:42] DoumanAsh commented on #53572
It is a bit off topic, but is it intended that compiler is unable to infer integer type from method usage?
For example `0.wrapping_shl(1u32);`

[2021-06-16 12:52] #86239 closed

[2021-06-16 12:56] jyn514 commented on #86326
I don't understand how to read the output of your tool; is it saying there are cyclic dependencies *within a module*? That's normal and allowed.

[2021-06-16 13:19] Geigerkind commented on #86326
Yep, inter crate dependencies are impossible anyway.
You read it per crate top down, e.g. in file 1, X was accessed with Y, then in the accessed file 2, Z was accessed by Q etc.

If its normal for this project and allowed, then please close this ticket.
It usually leads too poorly maintainable code in software architecture, which is why I wanted to inform you.

[2021-06-16 13:27] m-ou-se commented on #78356
Expanding a bit on this idea I mentioned above:

If I understand correctly, getting the values of constants needs to happen at the mir level. So, this idea would mean, I think:

- Adding a `ast::ExprKind::FormatArgs`
- Making the `format_args!` builtin macro *not* expand to a `ast::ExprKind::Call("fmt::Arguments::new", ..)` anymore, but a `ast::ExprKind::FormatArgs` instead.
- Lowering that to a `

[2021-06-16 13:29] jyn514 commented on #86326
Yeah, this seems fine.

[2021-06-16 13:29] #86326 closed

[2021-06-16 13:29] RalfJung commented on #78356
I am not sure I like the idea of making formatting a *language primitive* based on MIR primitives.

Indeed, and I view that as a rather strong negative.^^ `asm!` really needs to be a language primitive, formatting really shouldn't.

[2021-06-16 14:03] myrrlyn commented on #85667
Hi; I am *so* sorry for the radio silence; I have had quite the month since then. Fortunately, Alex Huszagh already did the patch-release issuance back in April.

`lexical-core` versions `0.4.8`, `0.5.1`, `0.6.8`, and `0.7.6` all appear to have the necessary disambiguation in place. These versions also do not appear in the regression report from Bors. I've also run `cargo check` on each of these r

[2021-06-16 14:06] oli-obk opened #86364 "run non-const Display/Debug impls for const panic message"
Given that the CTFE core engine already supports the entire display machinery (demonstrated by the fact that it works in Miri), we might ~~alternatively~~ poke a small hole into the const checks that allows executing formatting machinery from `panic_fmt` only -- something like "miri unleashed", but more targeted.

_Originally posted by @RalfJung in https://github.com/rust-lang/rust/issues/78356#is

[2021-06-16 14:11] RalfJung commented on #86364
My thinking was that we'd still have some heavy checks on the code `format_args!` expands to inside `const fn` to ensure that it does not run user-defined `Display`/`Debug` -- basically, we can just have a list of types that are permitted here, and reject the rest.
So, `Arguments::new_v1` would only be allowed under some very special conditions inside `const fn`.

(This can theoretically be side-s

[2021-06-16 14:19] pnkfelix opened #86366 "rustdoc-ui is failing for my local (stage1) build (was: "I cannot tell which test suites the CI will run")"
I saw some local failures when I ran `x.py test src/test/rustdoc-ui`, running against an unmodified checkout.

From this, I infer that our CI is not testing that directory, at least not on a x86_64 Linux host.

There are other test suites in a somewhat similar situation, such as `src/test/debuginfo`, where I think we are not testing against `lldb` anywhere in CI (though I do think those tests *are

[2021-06-16 14:25] oli-obk commented on #78356
I think the better comparison here are generators. We could expand generators on the HIR, it would just be a mess, so we do it on MIR where this is much more manageable. Formatting machinery stuff could be similar, but in any case, we could start with a minimal version that works as a HIR lowering similar to how for loops don't exist in HIR anymore.

[2021-06-16 14:31] RalfJung commented on #86299
I think dialects are fine if they are treated explicitly in a principled way. Possibly we could take some ideas from MLIR there, are you familiar with the details?

What I am worried about is "accidental" dialects without proper documentation and care.

[2021-06-16 14:35] Mark-Simulacrum commented on #85667
No worries. We are planning to move ahead with a compat note indicating cargo update.

[2021-06-16 14:36] tschuett commented on #86299
Dialects in MLIR are almost for free. You can define your own operations independent of other dialects.

It sounds as if you are talking about two implicit dialects (pre and post drop-elaboration). Maybe make the distinction explicit and call them out as two dialects with different names. I assume the second dialect would be simpler than the first one.

[2021-06-16 14:45] pnkfelix commented on #86366
@jyn514 reports to me that the CI definitely is running tests against `src/test/rustdoc-ui`

The reason I don't see `rustdoc-ui` in the CI scripts is that the run of that test suite is part of the runs that are implied by running `x.py test` with no filters on the test suite. @jyn514 advised me to find that spot in the CI scripts by grepping for "--exclude src/tools/tidy`, which pointed me here:

[2021-06-16 14:52] b-naber commented on #86218
@rustbot claim

[2021-06-16 15:20] soerenmeier opened #86369 "Tracking Issue for `io::Cursor::{remaining, is_empty}`"
Feature gate: `#![feature(cursor_remaining)]`

This is a tracking issue for adding `remaining` and `is_empty` to `io::Cursor`.

### Example

[code]

### Steps / History

- [x] Implementation: #86037
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- name `remaining` https://github.com/rust-lang/rust/pull/86037#issuecomment-860957880

[2021-06-16 15:39] gilescope commented on #85955
Hit by this too.

[2021-06-16 15:43] alarsyo commented on #68982
@estebank friendly ping in case this went past you (nothing pressing if you're not available though!)

[2021-06-16 15:45] adrian17 commented on #73916
I made a more low-level reproduction of the example above:

https://github.com/adrian17/multivalue-crash-repro/blob/master/dec2flt/src/lib.rs

(unfortunately I couldn't put it on godbolt, as without the crate boundary it compiled correctly)

I'm guessing it's originating from compiling this line:
[code]
And remaining code is there just to defeat optimizations that would un-break later passes.

[2021-06-16 16:01] Allen-Webb commented on #37009
A way of skipping fields in #[derive(Debug)] would be particularly useful for structs that have to use PhantomData.

[2021-06-16 16:11] Stupremee commented on #86356
@rustbot claim

[2021-06-16 16:16] jyn514 commented on #86366
Can you please post what failure you're seeing?

[2021-06-16 16:23] pchickey commented on #47369
Closing - this is not significant enough to warrant inclusion in std.

[2021-06-16 16:23] #47369 closed

[2021-06-16 16:37] Mark-Simulacrum commented on #86366
I've long wanted us to collect and track which test suites are run on each builder, but we don't currently do that. It would not be *too* hard to start, but definitely represents a good amount of time investment on the design and implementation.

[2021-06-16 16:42] r00ster91 commented on #86356
@Stupremee I might misunderstand your claim but isn't this issue supposed to be discussed first to agree on what should be done before implementing something?

[2021-06-16 16:44] Stupremee commented on #86356
Yes it is. But I claimed it anyway so I can implement it once it's discussed

[2021-06-16 16:56] pnkfelix commented on #86366
Pasted in: https://gist.github.com/pnkfelix/99e0203960c48994c2bf93064b0344c2

Many of the failures seem to be caused by the actual output omitting the expected text "compile fail". @jyn514 [hypothesized on Zulip](https://zulip-archive.rust-lang.org/131828tcompiler/02337Testmetacoverage.html#242905871) that maybe the test suite has a bug that is causing the wrong binary to be invoked.

[2021-06-16 17:29] estebank commented on #68982
I think you got it right, we would want to support _both_ cases independently (likely in separate PRs). One is reducing the likelihood of hitting the equality case, but anyone could _try_ to write it without waiting for rustc to point them in that direction, so ideally we cover both cases.

Correct. It would be what we need and would work for most cases (but not 100% because we're rejoining things

[2021-06-16 18:38] Aaron1011 commented on #86364
This is only true because we don't currently support `const catch_unwind` (and const unwinding is only implemented in Miri, not the CTFE). If we ever decided to support `const catch_unwind`, then we would need to make catching an 'unconst panic' into a hard error.

[2021-06-16 19:14] pnkfelix commented on #86366
bisection points to PR #84863, but @jyn514 has privately indicated that PR #84863 is most likely not itself incorrect.

Rather it is more likely that PR #84863 has exposed a latent bug in our test suite.

[2021-06-16 19:14] oli-obk commented on #86364
True, but I personally believe we should never support that. It's not really something that is useful in CTFE. Catching panics is solely there to prevent running across FFI boundaries or to create somewhat isolated units like threads or e.g. tabs or tasks in applications. CTFE is already perfectly isolated, and since there is no unwinding, there's no problem with FFI boundaries either. There's als

[2021-06-16 19:21] leonardo-m commented on #86354
https://rust.godbolt.org/z/boG1Weox1

[2021-06-16 19:50] dbeckwith opened #86375 "Escaped Markdown table column separator renders with escape char in code span in Rust doc"
Writing a Markdown table in a Rust doc string, I noticed a case where the `|` character needs to be escaped, but the escape shows up in code spans.

[code]

I want the rendered code span to look like `T | null`. If I use the code above, it renders as `T \| null`. If I remove the `\`, the table gets messed up because the `|` is interpreted as a column separator. IMO the more reasonable thing would

[2021-06-16 20:11] jonhoo opened #86377 "Poor diagnostics for associated type mismatch on inherent method."
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ecde3a7b167daae7d50bc0e6b9087b8c)):

[code]

The current output (for the indicated bad case) is:

[code]

Ideally the output should look like (the current nightly output for the indicated good case):

[code]

Actually pointing at the associated type and where the requirement that it be `R

[2021-06-16 21:23] ehuss commented on #86375
This is a know issue with the markdown renderer, see https://github.com/raphlinus/pulldown-cmark/issues/356 for more information.  Essentially, markdown forbids escaping inside backtick spans, but GitHub's extension made an exception for that for escaping pipes in tables. The renderer doesn't support that exception.  A workaround is to use `<code>` tags instead of backticks.

[2021-06-16 21:40] dbeckwith commented on #86375
Thanks, the `<code>` workaround works great

[2021-06-16 22:24] jsha opened #86384 "rustdoc: inconsistency on which items have §"
These two methods on String render differently:

<img width=400 src="https://user-images.githubusercontent.com/220205/122301897-32685480-ceb6-11eb-96d4-1c9cbbd2500b.png">

<img width=400 src="https://user-images.githubusercontent.com/220205/122301823-15338600-ceb6-11eb-91d8-4115eb52159b.png">

The latter, `add`, is part of the `Add` trait. It is shifted rightwards to make room for a § that appears

[2021-06-16 22:41] yaahc commented on #86369
One additional concern that @mystor pointed out is that stabilizing these APIs might prevent us from adding support to non-contiguous buffers/sets of buffers to `Cursor` in the future. The `remaining` method wouldn't translate, since it returns a single slice.

We should be absolutely certain that we don't intend to extend `Cursor` this way in the future or we may wish to just stick with the `usiz

[2021-06-16 23:27] soerenmeier commented on #86369
Wouldn't that still work though? Since those contiguous buffers won't implement `AsRef<[u8]>`.
To make it clear that this function only returns a slice we could rename it as suggested to `remaining_slice` and then the implementation for contiguous buffers could have a method named for example `remaining_slices`.

[2021-06-16 23:46] yaahc commented on #86369
Oh, I had forgotten that `remaining` also had the `as_ref` bound. Yea, that should work fine.

Sounds like a plan!

[2021-06-17 00:18] soerenmeier commented on #86369
I renamed `remaining` to `remaining_slice` and added:
[code]
Is that ok or should i remove it again?

[2021-06-17 00:27] ehuss commented on #86366
The issue is that the default for `./x.py test` is `--stage 1`, which means that rustdoc will be built with the beta compiler.  rustdoc is using the test framework from beta (see conditional [here](https://github.com/rust-lang/rust/blob/a85f584aebd9b08314bf30b9adc17b4a752143e5/src/librustdoc/doctest.rs#L945-L948)), which does not have the same output.

I'm not sure how that is usually handled.  Ma

[2021-06-17 00:28] yaahc commented on #86369
sounds great

[2021-06-17 01:12] #86085 closed

[2021-06-17 01:12] #86350 closed

[2021-06-17 02:04] luqmana commented on #86099
[RFC 560: Integer overflow](https://github.com/rust-lang/rfcs/pull/560) says:

Hence, it's by design at the moment. See https://github.com/rust-lang/rfcs/issues/1276

[2021-06-17 02:35] fee1-dead opened #86391 "Using `if`-`else` to match `cmp::Ordering` is better than `match`"
[Godbolt](https://godbolt.org/z/8vo8bEczE)

Consider the following snippet:
[code]

This is part of `if_else`:

[code]

...and this is part of `matching`:
[code]

I think these two should generate the same code, but currently using `match` gives one extra instruction.

@rustbot label A-codegen C-enhancement

[2021-06-17 02:41] jeanlucthumm commented on #86102
@Manishearth Would it be wrong to say that anything we don't explicitly call punctuation in the lexer is just identifier-like by default? Because we have a well defined set of what we use as punctuation, e.g. `?` and `{`, so if you're trying to use unicode characters that aren't part of that set you're almost certainly trying to use them as identifiers. That's the only part of the program that use

[2021-06-17 03:11] Manishearth commented on #86102
I think that's not a good assumption because often special characters get copied in by accident. Intentional use isn't the only thing. Curly quotes being copied in (because Word transforms them) is common.

We may even at some point expand the lexer to allow _numbers_ in other writing systems!

I'm unsure if we should link to the formal definition here (@estebank, thoughts?) but I think just being

[2021-06-17 03:53] #85667 closed

[2021-06-17 05:55] jjl commented on #86290
Ahh, gotcha. I don't think it's helpful to note that it found an attribute of that name, or at least it confused me.

[2021-06-17 06:41] leonardo-m commented on #86391
See also Issue #86354

[2021-06-17 06:44] GexcelDev opened #86394 "stack overflow error when implementing default trait"
I tried this code:

[code]

I get a stack overflow error when instantiating the Foo struct. The code works properly if I replace the Default impl of Foo with this:
[code]

Does using ` ..Default::default()` generate some kind of recursion somehow?

### Meta

`rustc --version --verbose`:
[code]

Same issue happens in beta and nightly.

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detai

[2021-06-17 07:13] timClicks opened #86395 "Opportunity to improve error message for mistyped inclusive range (`..==`)"
Given the following code: [[playground link]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f514fd929fded72a06a621b7689505fa)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-06-17 07:15] timClicks commented on #86395
Other test cases, [provided by](https://twitter.com/ekuber/status/1405157131381317636) @estebank

[code]

[2021-06-17 07:27] SkiFire13 commented on #86354
I would consider this a regression cause by some optimizations enabled with `-Zmit-opt-level=4`. `-Zmit-opt-level=2` (the default one) doesn't cause any problem.

[2021-06-17 07:49] GexcelDev commented on #86394
Oh I see, so I misunderstood the behaviour of `..Default::default()`. I though it was actually creating the remaining fields of the struct , but it actually instantiates a whole new struct and then copies its fields.

[2021-06-17 07:49] #86394 closed

[2021-06-17 07:59] apiraino commented on #86351
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386351.20Rustc.20stable.20panics.20when.20optimizing.20MIR.2C.20attempting.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-06-17 08:01] psumbera commented on #86163
I guess that the same problem is also on SPARC Linux. @glaubitz can you please test above test case?

[2021-06-17 08:14] glaubitz commented on #86163
On Linux, I'm getting:

[code]

[2021-06-17 08:16] rylev commented on #35442
Triage: I'm going to close this as it's a bit too general IMO to be helpful. There are several unicode related tests in the compiler for cases where unicode characters end up in places they should not be. A quick search of ["unicode" in GitHub](https://github.com/rust-lang/rust/search?q=unicode) reveals many of them. We can reopen this issue if we still feel like that cases where unicode edge case

[2021-06-17 08:16] #35442 closed

[2021-06-17 08:18] apiraino commented on #86196
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386196.20Apple.20platforms.3A.20Disabled.20frame.20pointer.20elimination.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-06-17 08:19] apiraino commented on #86172
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386172.20Compile.20error.3A.20static.20lifetime.20not.20satisfied.20but.20it.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-06-17 08:21] rylev commented on #42018
Triage: #70533 was superseded by https://github.com/rust-lang/rust/pull/79979 which has been merged. @GuillaumeGomez can this be closed? If not, we should probably add more detail to what kind of tests need to be added since this issue is not very actionable right now.

[2021-06-17 08:26] GuillaumeGomez commented on #42018
Still far from done unfortunately. Please keep it open.

[2021-06-17 08:26] rylev commented on #42574
Triage: this [still seems to be an issue](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=96442310d20ad187520050c6cfa905f8).

[2021-06-17 08:50] batrla commented on #86163
Thanks for trying on Linux, that's the same issue. Rust function funkce() gets invalid arguments. The difference of arguments being 0 on Linux vs garbage on Solaris might be caused by something that used registers e.g. library initialization.

[2021-06-17 09:03] #86053 closed

[2021-06-17 09:08] let4be commented on #26925
Is there any 3rd party crate that helps to Derive proper clone implementation in the mean time?
I'd be happy to anything that simply calls .Clone() on each and every field in struct... My code heavily uses generics and I would like to avoid imposing `Clone` restrictions on all my generic params(they don't need it and it would confuse users of my library, all of those types are already either under

[2021-06-17 09:11] scalexm commented on #80800
To me, this is the same root cause as #44454: we unconditionally say that any `dyn Trait` type is well-formed and implements `Trait` without checking the actual where clauses declared on the trait, so you can deduce contradictory things with the help of implied bounds (to be fair, #73905 already introduced some checks).

Except that I was wrong in my [comment](https://github.com/rust-lang/rust/iss

[2021-06-17 09:25] michaelwoerister commented on #45738
@wesleywiser Is it possible that you fixed this a while ago? I remember you did some work around querifying attributes.

[2021-06-17 10:19] eggyal commented on #26925
@let4be see https://github.com/rust-lang/rust/issues/26925#issuecomment-299709166 and https://github.com/rust-lang/rust/issues/26925#issuecomment-313892553 and https://github.com/rust-lang/rust/issues/26925#issuecomment-394190748 and https://github.com/rust-lang/rust/issues/26925#issuecomment-500650321

[2021-06-17 10:51] m-ou-se commented on #85149
@rfcbot merge

[2021-06-17 11:46] JohnTitor commented on #76905
Seems there's no blocker, could I ask you to kick off FCP to stabilize it?

[2021-06-17 12:16] andir commented on #84049
I am seeing the same error on stable rustc. The bug consistently *only* happens during GitHub Action runs. The compiler toolchain between GitHub Actions and local execution is bit-by-bit identical.

The build log can be found here: https://github.com/NixOS/ofborg/runs/2848724177#step:5:537

The seemingly relevant information is this:
[code]

[2021-06-17 14:15] pnkfelix commented on #84879
I believe this is addressed by PR #85193

[2021-06-17 14:25] pnkfelix commented on #85360
cc #84970

[2021-06-17 15:12] #78450 closed

[2021-06-17 15:36] TheBlueMatt commented on #84738
This now occurs on stable and should likely be tagged `regression-from-stable-to-stable`, I assume.

[2021-06-17 16:14] shamatar opened #86403 "Tracking Issue for separate array length function"
Feature gate: `#![feature(array_len)]`

This is a tracking issue for a separate length function on arrays (without coercing into slice and calling `slice::len`). It allows to lower array length access into constant in MIR without any additional modifications.

### Public API

[code]

### Steps / History

- [ ] Implementation: #86404
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### U

[2021-06-17 16:28] Smittyvb commented on #86099
See https://github.com/rust-lang/reference/pull/1049 for the PR to the reference.

[2021-06-17 16:28] #86099 closed

[2021-06-17 16:30] shamatar commented on #86403
As pointed in the implementation PR it's breaking if it's not immediately stable, but if it is then current machinery is ok with resolving a proper one

[2021-06-17 18:06] #82158 closed

[2021-06-17 18:06] #85581 closed

[2021-06-17 18:06] kkonghao opened #86408 "Conflict about Some(1|2) in 1.53"
hi when i use rust 1.53 version some code about pattern match  below make me confused,and i think this is a bug or  a problem that cannot be ignored.

[code]

[2021-06-17 18:07] rust-highfive opened #86409 "`miri` no longer builds after rust-lang/rust#86399"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86399, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-06-17 18:47] matthewjasper opened #86411 "Incoherent impls are still allowed on opaque types"
I tried this code (modified version of #74298):

[code]

I expected to see this happen: incoherent impls error

Instead, this happened: ICE during codegen

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-06-17 18:54] bugadani commented on #86408
This isn't new at all: https://github.com/rust-lang/rfcs/pull/2535#issuecomment-417946085

Since `1|2` already had the same ambiguoity, this has been kind of "ignored" as far as I understand, but don't quote me on the reasoning.

[2021-06-17 18:55] jonas-schievink commented on #86408
or-patterns do not function as binary operators. This is working as intended, so closing.

[2021-06-17 18:55] #86408 closed

[2021-06-17 18:56] bugadani commented on #86331
What's the linked commit exactly? The before state works and the after state loops, or the other way around?

[2021-06-17 19:06] umanwizard commented on #84970
Is it known yet what the probability of this being fixed in 1.54 is?

[2021-06-17 19:07] m-ou-se commented on #86403
Closing this for now, because we still need to figure out if we want this addition.

(And if we do, it'd have to be insta-stable, so then there'd be no unstable feature to track anyway.)

[2021-06-17 19:07] #86403 closed

[2021-06-17 19:28] bbjornse commented on #73632
I see, thanks. Is this only when the rlib shim would use the default allocator? Would it hurt to immediately generate the shim for crates which include a `#[global_allocator]`?

If crates require a shim at all, this means they use liballoc, right? And the prebuilt libstd already includes an allocator shim forwarding to the default allocator. How come this works, when another dylib might be providi

[2021-06-17 19:36] bjorn3 commented on #73632
When you dynamically link against libstd or any other dylib that uses liballoc, `#[global_allocator]` will be silently ignored. Instead the allocator shim embedder in said dylib will be used. This wouldn't be possible if rlibs that use `#[global_allocator]` immediately created the allocator shim.

[2021-06-17 19:44] programmerjake opened #86414 "EncodeWide::size_hint doesn't account for `self.extra`"
https://github.com/rust-lang/rust/blob/4d3ce2e7dac840d6ac7d658a5506eb31492fb3ef/library/std/src/sys_common/wtf8.rs#L854-L860

I haven't tested it, but, on Windows the following test should pass with the current code, demonstrating how `size_hint` is currently broken:
[code]

[2021-06-17 20:05] ChrisDenton commented on #86414
As expected the test code does not panic on Windows. The size hint is initially only `1`.

[2021-06-17 20:14] est31 commented on #84970
@umanwizard right now I can't see a backport for 1.54, but the backport to disable incremental for 1.53 has been quite late. There are still at least two open issues: #85360 and #84963. I guess users are encouraged to try out the 1.54 release while it's in beta and if those two issues (or any still unreported ones) cause too severe problems, it might be disabled again.

[2021-06-17 20:19] apiraino commented on #86163
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386163.20SPARC.20-.20passing.20argument.20from.20C.2B.2B.20to.20Rust.20issue) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-06-17 21:02] #78074 closed

[2021-06-17 23:56] aDotInTheVoid opened #86418 "Error when `use`ing enum and enum varient with same name"
I tried this code:

[code]

I expected to see this happen: *code compiles without errors*

Instead, this happened:

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=38c25e8e6f8e6b091c05b93ae1dbe9e0)

If I add `use super::ast::Lit;` to `fn eval` I instead get

[code]

But the code compiles without errors. The secound error is correct, but I believe the f

[2021-06-18 01:24] JohnTitor opened #86421 "Run unit tests by passing a file path"
Currently, we have to invoke the following to run specific unit tests:

[code]

This isn't straightforward, it'd be great if we could do with:

[code]

But unfortunately, it fails currently:
[code]

## meta

This happens on b17d9c1332693fc386f5374f0d63aae0ce5abab5.

(This was originally reported on https://github.com/rust-lang/rustc-dev-guide/issues/1138)

[2021-06-18 02:00] #83512 closed

[2021-06-18 02:59] Alexhuszagh commented on #85667
Just an FYI: this was fixed ~2 months ago, with [v0.4.8](https://crates.io/crates/lexical-core/0.4.8), [v0.5.1](https://crates.io/crates/lexical-core/0.5.1), and [v0.6.8](https://crates.io/crates/lexical-core/0.6.8). It means that any branch used in the wild should be able to be updated to a compatible version now.

[2021-06-18 03:13] YuhanLiin opened #86423 "Tracking Issue for `BufRead::has_data_left`"
Feature gate: `#![feature(buf_read_has_data_left)]`

This is a tracking issue for adding `has_data_left` to `BufRead`. Its purpose is to determine whether a reader has any data left over to read.

### Example

[code]

### Steps / History

- [ ] Implementation: #85815
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Still need to finalize the name of `has_data

[2021-06-18 04:18] #77662 closed

[2021-06-18 08:05] petrochenkov commented on #86418
This is not a bug, variant `Lit` imported by `use Expr::*;` shadows enum `Lit` imported by `use super::ast::{Expr, Lit};`.

Non-glob imports are prioritized over glob imports only if they are in the same module, otherwise the closest import wins.

[2021-06-18 09:59] michaelwoerister opened #86431 "Investigate performance impact of debuginfo typename generation"
The [code generating type names for debuginfo](https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs) does not seem to do any kind of caching of repeatedly occurring string segments (e.g. path prefixes and type renderings). Given that type names can get very long when generics are involved it's worth investigating how much time the compiler spends doi

[2021-06-18 10:34] JohnTitor commented on #68395
Just checked that the removal doesn't affect any existing tests inside of this repo.

The relevant part:
https://github.com/rust-lang/rust/blob/d568d63b1f9f5fc47e4202e2a2a84142ff6202d8/compiler/rustc_mir_build/src/thir/pattern/mod.rs#L471-L475

The change will remove a pattern error if `is_associated_const` is false. But given we know `DefKind` is const or assoc const, it shouldn't be a problem?
@

[2021-06-18 10:34] #85037 closed

[2021-06-18 10:34] #85095 closed

[2021-06-18 10:38] JohnTitor commented on #64248
Triage: I presume this aims to track our CI issues and it doesn't happen on recent our CI builds. The cargo issue itself should go to the cargo repo (like rust-lang/cargo#7662). Therefore I'm going to close.

[2021-06-18 10:38] #64248 closed

[2021-06-18 10:44] JohnTitor commented on #54143
The current output:
[code]

The diagnostics have improved by #83062 and others. Closing as fixed.

[2021-06-18 10:44] #54143 closed

[2021-06-18 11:24] jyn514 commented on #86384
Hmm, doesn't that make the UI more busy? I'd almost rather go the other way and have the function name consistently be the link. For the trait we could just not have a redirect there, and people can click on the trait name if they want to learn more.

[2021-06-18 11:28] jyn514 commented on #86375
I'm going to close this since rustdoc won't fix it.

[2021-06-18 11:28] #86375 closed

[2021-06-18 11:38] jyn514 commented on #86431
https://github.com/rust-lang/rust/issues/84873#issuecomment-832860003 is also somewhat related, the names getting passed into llvm can get very long, especially for generators

[2021-06-18 11:40] jyn514 commented on #86366
Almost everyone on the rustdoc team uses `download-rustc`, which compiles and tests stage 2. So the only people running into this are compiler devs testing rustdoc.

[2021-06-18 12:12] #86418 closed

[2021-06-18 13:08] danielhenrymantilla commented on #85684
Regarding the "how do preludes affect macro hygiene / resolution":

  - What is "affect hygiene" referring to? I guess it refers to the fact that if a macro from a crate written in the 2021 edition does `TryFrom::try_from(…)`, in an unqualified fashion, and if that macro is called by a pre-2021 crate which does not explicitly bring `TryFrom` into scope, then the call will fail? That is normal expe

[2021-06-18 13:14] bugproof commented on #66348
This is a major problem because it eats your disk space quickly even with very small console programs. Couldn't it be stored in some global place so it could be re-used by multiple crates...?

[2021-06-18 13:47] #86409 closed

[2021-06-18 14:52] liushuyu opened #86436 "Unable to build 1.53.0 from official tarball due to miri"
Hi there, I tried to build Rust 1.53.0 from the source tarball downloaded from https://static.rust-lang.org/dist/rustc-1.53.0-src.tar.gz and it failed to compile due to `cargo-miri` could not locate the Git repository.

After a quick search, the issue supposedly should have been fixed in https://github.com/rust-lang/miri/commit/e5b340017e39dc90e3f9cf9966244faa585321b5 but for some reason, the fix

[2021-06-18 14:58] Urgau commented on #86436
cc https://github.com/rust-lang/rust/issues/86286

[2021-06-18 15:15] fee1-dead commented on #86421
I would like to work on this.

@rustbot claim

[2021-06-18 16:21] gilescope commented on #84970
Will be happy to not be doing `cargo clean` regularly on nightly before we worry about backporting! Thx all for looking into this.

[2021-06-18 16:53] davidspies opened #86441 "Panic while borrow-checking"
### Code

https://github.com/davidspies/standing-relations/commit/0cac53e0ba2363d70661c1b89beb808e3d52849e

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-18 17:01] davidspies commented on #86441
Oh, I just updated to the latest nightly and it seems to be fixed

[2021-06-18 17:01] #86441 closed

[2021-06-18 17:13] davidspies commented on #86331
Yes, the before state compiles in 4 seconds. The after state compiles in 2m 30s on my laptop (turns out it doesn't take forever, just a long time).
Updated to the latest nightly. Problem is still there.

[2021-06-18 17:30] ijackson opened #86442 "Tracking Issue for io_error_more"
Feature gate: `#![feature(io_error_more)]`

This is a tracking issue for many `io::ErrorKind` variants being added in #79965.

The additions were motivated by a perusal of Unix standards, but corresponding mappings for Windows were included in that PR.

### Public API

`std::io::ErrorKind::Foo` for many `Foo`.  I will paste a list here when the MR is merged :-).

### Steps / History

- [ ] Impleme

[2021-06-18 18:52] Qwaz opened #86443 "Panic safety issue in `Zip::next_back()` TrustedRandomAccess specialization"
https://github.com/rust-lang/rust/blob/312b894cc12240a3fcc645474c3daa14f7d568ea/library/core/src/iter/adapters/zip.rs#L296-L301

https://github.com/rust-lang/rust/blob/312b894cc12240a3fcc645474c3daa14f7d568ea/library/core/src/iter/adapters/zip.rs#L235-L244

Yet another soundness bug in Zip's TRA specialization. Line 300 is not called when line 298 panics. This leaves `self.a_len` outdated, which r

[2021-06-18 19:12] benesch commented on #53605
So, rust-lang/rfcs#3016 was merged. @RalfJung, does that mean we can proceed with stabilization here?

[2021-06-18 19:16] benesch commented on #53605
It seems to me that the answer is probably yes, since #75196 has a stabilization PR out and was previously blocked on  rust-lang/const-eval#14.

[2021-06-18 19:23] jsha commented on #86384
I'd also be fine with that! We'd still need the § for linking to a trait impl on a struct/enum page, but that would significantly reduce the number of places it's needed.

[2021-06-18 20:01] RalfJung commented on #53605
The stabilization PR is already up. :)
https://github.com/rust-lang/rust/pull/85769

[2021-06-18 20:40] oli-obk commented on #68395
yes, we could still use the StaticInPattern error by adding an arm in https://github.com/rust-lang/rust/blob/d568d63b1f9f5fc47e4202e2a2a84142ff6202d8/compiler/rustc_mir_build/src/thir/pattern/mod.rs#L425, which should then hopefully affect tests and improve diagnostics

[2021-06-18 20:41] apiraino commented on #86443
How close is this to #85873?

[2021-06-18 20:44] da-x commented on #71651
If anyone's interested, here's the workaround I use for the simple case where the top crate is has a program and you just want that crate to build static programs:

1) Intercept `rustc`:

[code]

2) Sample `rustc.wrap` script:

[code]

[2021-06-18 21:19] danielhenrymantilla opened #86448 "cross-crate `#[doc(hidden)]` is ignored when listing trait implementations"
### Context

https://users.rust-lang.org/t/hidden-trait-implementation-in-online-docs/61256/4

### Repro

[code]

  - Last line yields several occurrences of `HiddenType` in the generated `.html` file.

    ## Expected behavior

    No occurrences of `HiddenType` anywhere since it was `#[doc(hidden)]`

  - [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14b5e1

[2021-06-18 21:19] danielhenrymantilla commented on #86448
@rustbot modify label +C-bug +T-rustdoc

[2021-06-18 21:28] ExpHP commented on #86366
I am surprised as well!  As a data point, I ran into this yesterday naively running `./x.py test` without any further arguments. (I am a very infrequent contributor and was just doing this from memory, and I wanted to check my WSL environment before starting development).

[2021-06-18 21:40] the8472 commented on #86443
The same functions are involved but the aspects that interact to cause unsafety are quite different.

@rustbot claim

[2021-06-18 21:40] Qwaz commented on #86443
I agree, this is much closer to #81740.

[2021-06-18 22:36] danielhenrymantilla commented on #83995
Uninit memory is only valid for padding bytes; so an inhabited type "where full padding bytes make for a valid representation of that type" are _valid_ to `mem::uninitialized()` / `MaybeUninit::uninit().assume_init()`. The inhabited types that uphold this property can be constructed out of the following three categories:

  - ZSTs (such as `()`, [_; 0]`)

  - unions where at least one variant is m

[2021-06-18 23:35] memoryruins commented on #66348
@bugproof cargo has a tracking issue for ways to improve its cache usage https://github.com/rust-lang/cargo/issues/7150 . In the "Reusing shared dependencies" section, it lists a couple options that can be used today.

[2021-06-19 00:02] workingjubilee commented on #83779
Doesn't seem to be on nightly yet. https://rust.godbolt.org/z/Kfo917nTx

[2021-06-19 01:13] workingjubilee commented on #26600
Reproduction for me was somewhat easier with a crate, wielding the example code given by Jonas:
[code]
and the command
[code]
though I hope I got it right, as it emits somewhat more... enthusiastic diagnostics:
<details>

<summary><b>FastISel Didn't Lower ${YES_EVEN_THAT}</b></summary>

[code]

</details>

Currently, GlobalISel is within 1.5 the speed of FastISel according to https://llvm.org/docs

[2021-06-19 01:57] asquared31415 commented on #86421
Curiously, passing a file like `./x.py test ./src/test/blah/file.rs` only **recently** started working for me, and never used to work.  The only difference I see in what you have as an example is the leading `./` in the test path, however it also works to omit that for me like `./x.py test src/test/blah/file.rs`

I understand "it works for me" is incredibly unhelpful, so if anyone can think of way

[2021-06-19 02:17] fee1-dead commented on #86421
@asquared31415 `src/test/*` stuff are suites and unlike normal unit tests on crates. I believe that is what makes the difference.

[2021-06-19 02:22] asquared31415 commented on #86421
Ohhhh my bad, I misinterpreted

[2021-06-19 02:24] OfficialURL opened #86458 "Rustdoc fails on modules with reserved file names"
**Problem**
Adding a module named `con`, `nul`, or any other reserved name on Windows causes Rustdoc to fail.

**Steps**
1. Add an empty module named `con`.
2. Run `cargo doc`.

**Possible Solution(s)**
A fix similar to #83612 should get rid of this issue.

**Notes**

I'm on Windows 10. I haven't tested this, but I'm almost certain this bug should exist in all other versions of Windows, and in no

[2021-06-19 02:38] fee1-dead commented on #86421
I have made a pull request that accepts a file path but runs *all* tests in that crate. I could not figure out how to test only the path/file specified.

[2021-06-19 02:42] fee1-dead commented on #86414
@rustbot claim

[2021-06-19 03:02] JohnTitor commented on #83006
#85829 refactored `CrateNum` so `DefId` is the only item here.

Hmm, yes, for example, we use `DefId` within `BTreeMap` or `FxHashMap`. So, is the rough fix to store `DefPathHash` instead of it?

[2021-06-19 03:16] CAD97 commented on #86269
[Previously on irlo](https://internals.rust-lang.org/t/average-function-for-primitives/14040)

Given that a significant part of the advantage to lerp is that it's super fast and trivial, it'll be interesting to sell using an implementation other than the two standard implementations (`v0 + t * ( v1 - v0 )` (monotonic) or `( 1 - t ) * v0 + t * v1` (exact for `t=1`)). Especially on [e.g. the GPU](ht

[2021-06-19 03:28] CAD97 commented on #86269
An alternative option is to add `lerp` to `RangeInclusive<fNN>` instead of `fNN`, so that it's `RangeInclusive::lerp(min..=max, t)` or `(min..=max).lerp(t)`. This would be interesting, but I think potentially problematic for the core/std split? As well as much more difficult to discover.

[2021-06-19 03:46] workingjubilee commented on #54731
My own local attempt shows default (sse2) vs. native
[code]

It's slightly disappointing but not shocking that native isn't cleanly winning here. It uses information based on the CPU it appears to be on, but that information may not tell the complete story, and it may be hard to optimize further for certain algorithms. Now that the undesirable vectorization is removed, and the performance is withi

[2021-06-19 03:46] #54731 closed

[2021-06-19 04:20] #86342 closed

[2021-06-19 04:20] #83505 closed

[2021-06-19 05:38] roalyr commented on #75997
1.52.1 seems to have the message removed. Is this it, will it be gone?

[2021-06-19 06:53] George3d6 commented on #75833
This seems to now happen with `rustup default nightly` :/

[2021-06-19 07:23] nikic commented on #83779
Right, this will be pulled in by the next LLVM upgrade.

[2021-06-19 08:09] RalfJung opened #86464 "rustdoc rendering for stable-but-const-unstable `const fn` is misleading"
I just spent 5min of horror after seeing this rustdoc page:
![Screenshot 2021-06-19 at 10-07-35 f32 - Rust](https://user-images.githubusercontent.com/330628/122635810-31b60500-d0e6-11eb-8eaf-84e5b97237f2.png)

and then I realized that the `const`ness of this function is unstable.  rustdoc should either indicate that, or just not show the `const` at all for stable functions whose `const`ness is sti

[2021-06-19 08:28] nikomatsakis opened #86465 "repeated TAIT doesn't detect lifetime conflict"
This code compiles, but it should not:

[code]

The function creates two constraints:

* `X<'t, 'u> = &'t u32`, which means `type X<'a, 'b> = &'a u32`
* `X<'u, 't> = &'t u32`, which means `type X<'a, 'b> = &'b u32`

These should not both be satisfiable!

[2021-06-19 08:28] nikomatsakis commented on #86465
@rustbot assign @spastorino

[2021-06-19 08:44] zhuxiujia opened #86466 "The current library uses procedural macros and does not recompile the procedural macro code for each compilation"
The current library uses procedure macros and does not recompile the procedure macro code for each compilation。

How do you get the current library to rebuild the red code process every time it compiles?

os：windows10

[2021-06-19 08:56] Nemo157 commented on #86464
It'd be nice to still show that it's unstably `const`, but I feel like my 2 minute prototype would be too easy to accidentally skim as a standard "unstable API" annotation. Is there some simple way we could link to the `const`ification tracking issue while leaving it clear that the function is stable?

![image](https://user-images.githubusercontent.com/81079/122637012-ab50f180-d0ec-11eb-91e3-13803

[2021-06-19 08:59] RalfJung commented on #85968
@mcy could you clarify what you think is wrong about the examples your posted? They all seem fine to me.

Having different behavior between debug and release builds is completely expected. Allocation is non-deterministic, so different builds of the program (even different runs of the same build) can pick different physical addresses to actually place the allocations at.

[2021-06-19 09:01] RalfJung commented on #86030
Playground link with full code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8042bb4b47c3b1c57f1a0dfe11a3bf41

[2021-06-19 09:01] RalfJung commented on #86030
FWIW, Miri does detect this. :)
[code]

[2021-06-19 09:42] GuillaumeGomez commented on #86464
Not show the const on stable rendering if not stable?

[2021-06-19 09:58] ChrisDenton commented on #86458
Full list of redirected names:

* `AUX`
* `CON`
* `CONIN$`
* `CONOUT$`
* `COM1`, `COM2`, `COM3`, `COM4`, `COM5`, `COM6`, `COM7`, `COM8`, `COM9`, `COM²`, `COM³`, `COM¹`
* `LPT1`, `LPT2`, `LPT3`, `LPT4`, `LPT5`, `LPT6`, `LPT7`, `LPT8`, `LPT9`, `LPT²`, `LPT³`, `LPT¹`
* `NUL`
* `PRN`

By default Windows will rewrite paths containing these filenames to a legacy dos device path.  So, for example:

    C

[2021-06-19 11:01] fee1-dead commented on #86464
Why not like this?

![image](https://user-images.githubusercontent.com/43851243/122640166-854d4080-d130-11eb-8578-e27738ceefe0.png)

(this is edited)

[2021-06-19 11:15] GuillaumeGomez commented on #86464
That works too!

[2021-06-19 11:17] HalfVoxel opened #86469 "ICE In `rustc_mir::monomorphize::collector`"
I'm getting an ICE when compiling some of my code.
Unfortunately, it has resisted all my attempts at producing a smaller code sample. It's very finicky.
I have uploaded a reproducible repo here: https://github.com/HalfVoxel/graphica/tree/rustc-replicate, unfortunately it's quite a lot of code. The code that seems to trigger it is this:

[code]

However, I have been unable to replicate it in a smal

[2021-06-19 11:23] #76264 closed

[2021-06-19 12:07] wozniak opened #86470 "supplied instant is later than self"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This might be an LLVM bug, as it never occurs on Windows and occurs in every rust program that I've compiled on Linux, not when compiling, but running it.

[2021-06-19 12:07] LinkTed commented on #76915
Is the `SOCK_SEQPACKET` supported by Rust's std, currently?

[2021-06-19 12:15] the8472 commented on #76915
No, there was #50348 but it was recommended to implement it in an external crate first.

That said if https://github.com/rust-lang/rust/issues/76915#issuecomment-820682675 is addressed then I think one could make one of the unix sockets dual-purpose (only the method of construction would differ) since the EOR flag could be accessed through the extended API.

[2021-06-19 13:58] Mrodent opened #86471 "LNK1181 when trying to build Python lib module (W10)"
I am trying to write a Rust module which can be called from CPython.

Please see [this SO question](https://stackoverflow.com/q/68045372/595305).

The build never works with `--release` switch and only intermittently without it.

I have no idea what the issue is here but it's presumably something to do with the toolchain(s) on W10.

[2021-06-19 14:19] fee1-dead commented on #86464
@rustbot claim

[2021-06-19 15:08] TomaszWaszczyk commented on #25289
Have had the same issue on Linux Mint 20.01 and a command helps:

 `sudo apt install gcc-multilib`

[2021-06-19 15:31] Manishearth commented on #85636
Interestingly, if you want this to work for Clone, you can just introduce `#[derive(Clone)] struct Wrap<T>(T);` and use that instead of `&T`. It's probably similar for other traits that are not using `Self` as the receiver.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b3adf42a116484bdf1db6391fe7f3ef5

[2021-06-19 15:50] Manishearth commented on #85636
I need some further trickery to make it work for `Clone` on `Yoke` but this works for me:

[code]

[2021-06-19 16:57] ptrojahn commented on #84160
@rustbot claim

[2021-06-19 18:40] gilescope commented on #72895
`is_ascii_hexdigit` - I looked at optimising that by fliping the bit to make it uppercase and using a wrapping_sub but it came out to be the same number of instructions.

[2021-06-19 19:09] gilescope commented on #72895
(Remember for core embedded stuff memory is tight. My keyboard for example only has 20kb ram.)

[2021-06-19 19:15] clarfonthey commented on #53485
I can't imagine why it would be super useful to return `None` instead of `false`. If, for example, you have a `NaN` in your list, it's not sorted; saying it's "unsortable" would not really provide any extra information.

[2021-06-19 19:36] oli-obk commented on #51910
So... how about this action plan:

1. Add a section about pointer casts to the reference: https://doc.rust-lang.org/nightly/reference/const_eval.html?highlight=const%20fn#constant-evaluation
2. Remove the feature gate, turning these casts into a hard error + explain the problem + link to the reference + suggest to use offset_from/ptr_guaranteed_*

[2021-06-19 19:46] #86030 closed

[2021-06-19 19:46] rust-highfive opened #86474 "`miri` no longer builds after rust-lang/rust#86034"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86034, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @nagisa, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-06-19 20:49] rana opened #86476 "error: internal compiler error: encountered incremental compilation error with predicates_of(bitpacking[28cc]::BitPacker)"
### Code
Ran the  fn num_bits_pkg() from VSCode "Run test"

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-19 22:26] #68395 closed

[2021-06-19 23:54] Aaron1011 commented on #86476
@rana: Could you share your `Cargo.toml` (and ideally, the entire repository)?

[2021-06-20 00:19] ehuss commented on #71249
Posted #86478 to make it easier for Cargo to test the reporting infrastructure (so it doesn't need to keep switching lints to test).

[2021-06-20 01:02] kaylynn234 commented on #79524
I feel like `join` implies the creation of something monolithic from a sequence and a separator, i.e
[code]
will create the string `foo bar blah`.

But in my mind `intersperse` better communicates the idea of placing separators in between a sequence, *without* creating something monolithic using the results of that.

I suppose I mean that if I intersperse an iterator of `&str`s with `" "`, it make

[2021-06-20 01:51] fee1-dead commented on #86470
Can you check your system clock? That might be the issue. Also did you use `RUST_BACKTRACE=full` to get the full backtrace?

[2021-06-20 01:57] rana commented on #86476
Hi Aaron,

Great to hear from you. You're fast :slightly_smiling_face:

Attached is the project that generated the bug.

Most of it is `hello_world-level` stuff- and disconnected tinkering.

The workflow was to run a test, write some code, run a test.

By about the second or third test-change the defect was consistent to get.

Hope that helps, and let me know if you have any questions.

Cheers!

R

[2021-06-20 02:23] Aaron1011 commented on #86476
@rana: Unfortunately, I'm not able to reproduce your crash locally. Could you elaborate on the kinds if changes you were making to the tests before the crash started occuring?

[2021-06-20 02:32] rana commented on #86476
@Aaron1011 I'm not able to reproduce it here again as well. If I see it again I'll do a screen record and post it.

[2021-06-20 02:37] Aaron1011 commented on #86476
The last predicate listed in the error message is interesting: `Binder(TraitPredicate(<Self as pck::test::bitpacking::BitPacker>), []), /home/rana/.cargo/registry/src/github.com-1ecc6299db9ec823/bitpacking-0.8.4/src/lib.rs:162:1: 263:2 (#0))`

It appears to be generated here:

https://github.com/rust-lang/rust/blob/f639657fe4a16ec7704e0af77d0e5d5f587b59df/compiler/rustc_typeck/src/collect.rs#L1919

[2021-06-20 03:02] Aaron1011 commented on #86476
I've managed to create a `predicates_of` ICE locally by changing a file in a dependency, without modifying the timestamp. When Rust tries to read in an 'external src file' from the dependency during the second compilation session, the `src_hash` will no longer match. This causes `span_to_snippet` to fail, causing us to generate a different span in `predicates_of`.

However, I'm not sure if this is

[2021-06-20 03:16] rana commented on #86476
No change to `/home/rana/.cargo/registry/src/github.com-1ecc6299db9ec823/bitpacking-0.8.4/src/lib.rs`. That's stable. I don't edit it.

`/home/rana/.cargo` is on an ordinary partition as well. Here is the output from `lsblk`.

[code]

The workflow was only to add new tests, and use the in-IDE "Run test" link shown in the snapshot.

![image](https://user-images.githubusercontent.com/12687553/122660

[2021-06-20 03:18] Aaron1011 opened #86480 "`guess_head_span` depends on untracked state when used with an imported file"
`guess_head_span` ends up calling `ensure_source_file_source_present`, which calls `add_external_src`. If the source file of the span is an imported file, then whether or not this method succeeds depends on the _current_ file on disk:

https://github.com/rust-lang/rust/blob/0f6ba39fd89cff295067d974c49fc64b0b52ad18/compiler/rustc_span/src/lib.rs#L1447-L1451

However, the hash of the external crate

[2021-06-20 03:21] Aaron1011 commented on #86476
That's interesting. The fact that you were getting the ICE consistently would seem to rule out any kind of transient I/O issue - Rust would need to fail to open `/home/rana/.cargo/registry/src/github.com-1ecc6299db9ec823/bitpacking-0.8.4/src/lib.rs` each time you got the ICE.

I've opened https://github.com/rust-lang/rust/issues/86480 to track an issue that I've discovered from investigation this.

[2021-06-20 04:59] #86414 closed

[2021-06-20 05:31] pickfire opened #86481 "Missing parenthesis for tuple in enum variant"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should should say "struct" rather than function or better, suggest adding the missing `(` instead since it is a tuple.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=418656a98e80500393928f9833e15d3d

[2021-06-20 05:44] linclelinkpart5 commented on #80094
This method has ended up being incredibly useful in my fixed-array audio DSP library, mainly in frame addition/multiplication. It allows me to do an element-wise binary operation without needing to use iterators (non-const? pah!) or having to create an incrementally-updated output array. The latter is especially nice in cases where the output type is expensive to instantiate: having to create `N`

[2021-06-20 07:03] meyer9 commented on #86168
I've been seeing the same thing trying to compile for `mipsel-unknown-linux-uclibc`. I found these issues that also may be related:
- https://github.com/rust-lang/rust/issues/47493
- https://github.com/rust-lang/rust/issues/76020

[2021-06-20 07:43] inquisitivecrystal commented on #86458
@rustbot label +A-rustdoc +T-rustdoc

[2021-06-20 07:47] inquisitivecrystal commented on #86313
@rustbot label +A-slice +T-libs-impl +T-compiler

[2021-06-20 07:51] inquisitivecrystal commented on #86299
@rustbot label +C-enhancement +T-compiler +T-docs

[2021-06-20 07:57] inquisitivecrystal commented on #86044
@rustbot label +T-compiler

[2021-06-20 08:02] bjorn3 commented on #86299
This is not user-facing documentation, so I don't think it it relevant to the doc team.

@rustbot label -T-doc

[2021-06-20 09:02] jweinst1 opened #86482 "Match statement requires impossible to reach code/cases for clamped integer types"
It seems that rust requires the handling of all cases in match statement even if the integer type is constricted or clamped such as in `match a & 0b11` , where the integer being matched must be , 0, 1, 2, or 3. I do understand that rust promotes the idea of accounting for all possible cases of a type in a match statement, but this particular scenario requires one to write unreachable code, which s

[2021-06-20 09:27] Luro02 opened #86483 "thread 'rustc' panicked at 'Box<Any>': associated type missing default"
### Code

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=%23!%5Bfeature(generic_associated_types)%5D%0D%0Apub%20trait%20IceIce%3CT%3E%0D%0Awhere%0D%0A%20%20%20%20for%3C'a%3E%20T%3A%20'a%2C%0D%0A%7B%0D%0A%20%20%20%20type%20Ice%3C'v%3E%3A%20IntoIterator%3CItem%20%3D%20%26'v%20T%3E%3B%0D%0A%7D%0D%0A%0D%0Afn%20main()%20%7B%7D%0D%0A)

### Meta

The ICE happe

[2021-06-20 09:28] Luro02 commented on #86483
Maybe related to #78823

[2021-06-20 09:51] klensy commented on #86482
Match works on type, not on value.

[2021-06-20 09:59] Luro02 commented on #86483
Bisection:

[code]
</details>

[code]

[2021-06-20 10:15] Lonami commented on #86482
This case if trivial, but as soon as the code is refactored (think a function producing the value) or even moved into another crate, the invariant could easily be lost on accident. There are ways around this, such as using a new-type that ensures the values are correct (think `NonZero`), or using `unreachable!()`:

[code]

This is safe because at worst the code will `panic!()`, and the `match` is

[2021-06-20 10:25] jonas-schievink commented on #86482
Yes, this is working as intended for now

[2021-06-20 10:25] #86482 closed

[2021-06-20 10:37] r00ster91 opened #86485 "Actual crate name of renamed crate is leaked through unexpected type error"
1. `cargo new issue_86484`
2. Add this to the `Cargo.toml`'s `dependencies` section:

[code]
    Note that [`serde_json`](https://crates.io/crates/serde_json) is here renamed to `json` for the project.
3. Make this your `main.rs`:

[code]

The current output is:

[code]

Note that it says this:

Instead of this:

It leaks the actual crate name (`serde_json`) instead of using the user's desired nam

[2021-06-20 10:48] RalfJung commented on #51910
I agree with that plan. The documentation on casts, and `transmute` should probably also link to where the problem is explained.

[2021-06-20 11:26] yoshuawuyts commented on #72312
This is the current compiler output (June 2021, Rust 1.53):

[code]

This seems like it addresses the issue raised here?

[2021-06-20 11:55] arnabanimesh commented on #79524
That's true, but we are using `vec::join` or `slice::join` and that respects the pattern matching and it is not monolithic. Then `vec::join` should be changed too. If Rust already acknowledges that join be non monolithic, then I suggest we stick with the same ideology.

I'm always collecting to string after intersperse. 😅

My personal preference aside, `vec::join` creates a vec if the initial data

[2021-06-20 12:09] the8472 commented on #86470
This usually is due to outdated kernels, hardware or hypervisor bugs (see #80674, #82606, #84448 and several others)

Can you provide the following information?

* OS and kernel version
* output for one core from `/proc/cpuinfo`
* hypervisor if the system is virtualized
* selected clock source (`cat /sys/devices/system/clocksource/clocksource0/current_clocksource`)

[2021-06-20 12:48] yoshuawuyts opened #86487 "confusing "lifetime mismatch" error when spawning task"
_suggested labels: A-diagnostics, A-async-await, D-confusing, requires-nightly_

## Introduction

Hey diagnostics team. I'm currently helping a pal debug some code, and we're experiencing a particularly gnarly error. We haven't been able to figure out what's going wrong, so we can't provide a repro either. So I'm opening this issue so folks can come along on the journey we're on, and maybe we can

[2021-06-20 14:01] #86474 closed

[2021-06-20 14:03] delan opened #86488 "E0277 incorrect suggested `where` bound when type is impl Trait argument"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=070452b562389660d6d098e9ed265a7f)):

[code]

The current output is:

[code]

Following either of those suggestions yields code that doesn’t compile, because impl Trait isn’t allowed in that position. Even if it becomes allowed someday, I feel like they would still be incorrect, since each

[2021-06-20 14:39] danielhenrymantilla commented on #86487
I agree that the diagnostics here are completely unable to point to the right direction.

___

The trick is to comment out `.await` lines until it passes, and then try to pin point why the `.await` is problematic:

  - is a non-`Send` captured var crossing the `.await`?

  - is there an intermediate future which is not `impl Send`? (this is actually a sub instance of the previous bullet, but in pr

[2021-06-20 16:36] taralx commented on #84908
Late to the party, but the double unwrap seems like it should be avoidable. Is that in the plan?

[2021-06-20 16:57] ijackson commented on #84908
I have a plan for it :-)

The reason for the *two* unwraps is this: `Command` provides a method `status` which produces an `io::Error` (representing failure to set up or invoke or reap).  When we get the exit status, `exit_ok` turns it into an `ExitStatusError`.  So there are *two* error *types*.  We can't collapse these without having a type that can represent both errors.  We could use `io::Erro

[2021-06-20 16:58] jackh726 commented on #86483
Looks like #81995

[2021-06-20 17:27] steffahn commented on #86483
ICE happens on stable and also even without the `#[feature(generic_associated_type)]` line so no requires-nightly.

@rustbot label regression-from-stable-to-stable, A-traits

[2021-06-20 18:16] RalfJung commented on #71117
I see, interesting.

So basically, when `call callee(move _1)` returns, I may not make any assumptions about the memory stored in `_1`. That fits to the proposal of "`move` should de-init the memory it moves from". Is it sufficient though?

What happens in the abstract machine is that either way, a copy is made. So what if a raw pointer exists to this memory and while `callee` is ongoing, someone

[2021-06-20 19:06] 4lDO2 commented on #80626
I have checked that changing `type Allocated<T>;` to `type Allocated<T>; Sized` has no effect at all, as to be expected. But when opting out of `Sized` using `type Allocated<T>: ?Sized;` seems to prevent it from overflowing, though still obviously not compiling.

[2021-06-20 19:24] nicholasbishop opened #86494 "u128 division not working on x86_64-unknown-uefi"
I've found that u128 division is not working on the `x86_64-unknown-uefi` target. Depending on the exact code I've seen it give either incorrect results or fail with an invalid opcode error.

Fairly minimal example:

[code]

The easiest way to actually run this is with QEMU; I've set up a example in this repo: https://github.com/nicholasbishop/uefi-div-bug. The `run.py` script will build it and ru

[2021-06-20 20:21] stillbeingnick opened #86496 "Possible user error but complier error occurs when setting ptr width in custom target to 32bit instead of 64bit"
### Error info

Hello rust crew!

This could be my own fault but I was not able to find documentation on any other way to do this.

What I am trying to do:
    I am writing a pretty simple kernel that is loaded from 32bit protected mode on a virtual qemu x86_64 system. The kernel will load and execute just fine until I add a loop. I have tried both
[code]
and I have also tried resorting to a
[code

[2021-06-20 20:40] thomcc commented on #15702
@rustbot label: +lang-team-202x-edition

(I think this got forgotten for 2021, but adding the label so it doesn't get missed for 2024 or whatever)

[2021-06-20 20:40] thomcc commented on #15702
Oh well, was worth a shot.

[2021-06-20 22:23] RMBeristain opened #86498 "Error compiling "guessing_game" tutorial code"
Hi, I'm new to Rust and trying to follow the examples.
This was working perfectly fine yesterday.

The only difference is that yesterday I installed the "Rust" extension.
Today VS Code told me that rust wasn't installed in WSL (Ubuntu 20.04) and would I like to install it?

I clicked 'yes' and it did "something" (sorry I didn't pay attention to what happened, I assumed it was updating some interna

[2021-06-20 22:34] RMBeristain commented on #86498
I found this after I raised the issue (funny that Google didn't spit it out before 👎 )
https://github.com/rust-lang/rust/issues/84341

I followed the suggestion to run `cargo clean`, and then build, and seems fine now?

[code]
I would close the issue but I have no clue what happened and don't know if it is helpful, so I'll leave it to you guys to decide.

[2021-06-20 22:38] jonas-schievink commented on #86498
You're on an outdated Rust version

[2021-06-20 22:38] #86498 closed

[2021-06-20 22:41] Mark-Simulacrum commented on #78226
Reopening this issue as it's hitting us (again) on the beta promotion PR, https://github.com/rust-lang/rust/pull/86413.

I've tried various things to debug but so far haven't really arrived at any conclusions. It doesn't seem immediately related to anything in the PR itself, which should in theory have minimal effect on runtime behavior here.

@rustbot ping arm -- since this is *only* failing on t

[2021-06-20 22:41] Mark-Simulacrum commented on #78226
@rustbot ping arm

[2021-06-20 23:07] ehuss commented on #71249
Posted https://github.com/rust-lang/cargo/pull/9606 with various fixes and updates on the cargo side, intended to make things easier/smoother.

[2021-06-20 23:39] est31 commented on #86494
The PR you linked should not be present in Rust compilers before 1.49.0, like 1.48.0. You can download it using rustup with the command `rustup toolchain add 1.48.0`. After that you can add `+1.48.0` to rustc or cargo invocations to use that specific version.

The uefi dependency as well as others might not accept that compiler version because it's too old. You might have to hardcode older version

[2021-06-21 00:11] jyn514 commented on #86448
I expect the fix is to check for `doc(hidden)` just after https://github.com/rust-lang/rust/blob/e82b65026dcadf0998e3abf9dabc677f63160de7/src/librustdoc/clean/inline.rs#L370.

[2021-06-21 00:20] jyn514 opened #86499 "x.py sometimes panics on Windows when the build is cancelled"
[code]

### Meta

https://github.com/rust-lang/rust/blob/e82b65026dcadf0998e3abf9dabc677f63160de7/src/bootstrap/job.rs#L105-L111

[2021-06-21 00:38] tv42 commented on #76915
The semantics of SOCK_SEQPACKET depend on the domain. For UNIX domain sockets, they connect like SOCK_STREAM and send/receive like a (pseudo-connected) SOCK_DATAGRAM. If you FromRawFd an existing SOCK_SEQPACKET fd into a UnixDatagram, it works just fine.

[2021-06-21 00:40] jyn514 commented on #86496
I don't think this is a compiler bug. It can't know if target-specs are accurate or not, you as the target author are guaranteeing that it's right; if it's not then it's your responsibility to fix it.

[2021-06-21 01:12] jyn514 commented on #85618
@jsha that's fine - https://github.com/rust-lang/rust/pull/83826 was a response to https://github.com/rust-lang/rust/pull/80653, which has since been reverted.

[2021-06-21 01:29] steffahn commented on #86469
significantly reduced:
[code]

[2021-06-21 01:55] steffahn commented on #86469
Without using `DefaultHasher`
[code]

[2021-06-21 02:16] steffahn commented on #86469
Unwrapping the `core` internals you can get this repro:
[code]

Or using something other than `Hash` methods
[code]

With no usage at all, the ICE changes:
[code]
[code]

[2021-06-21 02:25] jyn514 commented on #81031
It can if you use `RUSTFLAGS`. You can't passes flags to rustdoc with `cargo doc -- --some-flag` though.

[2021-06-21 02:28] ivan0051 opened #86504 "`cargo doc` failing to document impl for a struct"
Hello, I am now in the process of learning how to use `cargo doc` for documentation, and it all seemed extremely smooth until I was around halfway through documenting my lib.rs file. I cannot think of anything out of place, but I have a struct `pub struct DataRow {}` and three functions in an `impl DataRow {}` block. Running `cargo doc` collects everything else that I am aware of, yet ignores all

[2021-06-21 02:31] steffahn commented on #86469
Bisecting https://github.com/rust-lang/rust/issues/86469#issuecomment-864667043, regression at: d1462d8558cf4551608457f63d9b999185ebf3bf, which is #81172, cc @SimonSapin.

**This issue is a recent regression (stable `1.52`), turning previously compiling, valid code into an ICE.**

@rustbot label -needs-mcve, regression-from-stable-to-stable.

[2021-06-21 02:31] steffahn commented on #86469
Looks like this is a duplicate of #85447

[2021-06-21 02:36] steffahn commented on #85447
Some more reduced code examples can be found in this related/duplicate issue. #86469

There’s also a case of hitting a slightly different ICE
[code]

here: https://github.com/rust-lang/rust/issues/86469#issuecomment-864674629

[2021-06-21 02:40] jyn514 commented on #86504
@ivan0051 can you please post the full code that doesn't work? `impl { ... }` is invalid syntax.

[2021-06-21 02:42] ivan0051 commented on #86504
Actually the full code? It's not sensitive, it's just an awkwardly long block. So not just the function signatures+scopes?

[2021-06-21 02:44] ivan0051 commented on #86504
[code]

[2021-06-21 02:45] ivan0051 commented on #86504
There's the full impl section. It compiles/runs just fine, but cargo doc ignores it.

[2021-06-21 03:11] stillbeingnick commented on #86496
More playing around this is not a compiler error this is my own config being off

[code]
The above config works with the compiler

thanks for the quick response @jyn514!

closing this one down

[2021-06-21 03:11] #86496 closed

[2021-06-21 03:27] JohnTitor commented on #84455
Closing as the [backport was declined](https://github.com/rust-lang/rust/pull/84549#issuecomment-858737166).

[2021-06-21 03:27] #84455 closed

[2021-06-21 03:47] jyn514 commented on #84326
@jsha this can be closed now that https://github.com/rust-lang/rust/pull/85970 is merged, right?

[2021-06-21 03:51] jyn514 commented on #86504
@ivan0051 those functions are private. Rustdoc only documents public functions by default. You can override that with `cargo rustdoc -- --document-private-items`.

[2021-06-21 04:03] #50230 closed

[2021-06-21 04:03] #75889 closed

[2021-06-21 04:03] #86147 closed

[2021-06-21 04:03] #77098 closed

[2021-06-21 04:03] #84632 closed

[2021-06-21 04:03] #86144 closed

[2021-06-21 04:03] #86443 closed

[2021-06-21 04:06] ivan0051 commented on #86504
Oh, I see. That makes sense, I suppose it's just unfortunate that Rust is young enough that researching it didn't pop up any meaningful results. I suppose that's the main downside of Rust currently - a relatively low amount of online discussion to search. With Java for example, about any question I can conceive of has dozens of answers. With Rust, there are no guarantees. Hopefully his improves ov

[2021-06-21 04:12] jyn514 commented on #86504
I'm going to close this since it's not a bug.

[2021-06-21 04:12] #86504 closed

[2021-06-21 04:12] jyn514 commented on #86504
You can find more documentation about rustdoc here: https://doc.rust-lang.org/stable/rustdoc/

[2021-06-21 04:22] ivan0051 commented on #86504
Thank you! I will keep this page in mind, though the main problem about researching Rust is not knowing what I should be looking up or where I should be looking (what someone on Reddit referred to as "unknown unknowns" (you can't know that you don't know...) contrasted with "known unknowns" (you know what you're missing knowledge on)).

Anyway, thanks!

[2021-06-21 04:27] fee1-dead commented on #86466
Can you elaborate? What are you trying to achieve, and what is the issue?

If possible, please attach a Minimal, Complete and Verifiable Example (mcve).

[2021-06-21 04:27] fee1-dead commented on #86448
@rustbot claim

[2021-06-21 04:55] iamwwc commented on #53488
any update on this? Does the RFC has been implemented in rust?

[2021-06-21 05:07] jsha commented on #84326
Yes. Note that these two items are unimplemented:

But it seems from subsequent comments that these were not particularly popular, so I'm going to close this without doing them.

[2021-06-21 06:07] arora-aman commented on #53488
Yes it's available on the Rust nightly builds under `#![feature(capture_disjoint_fields)]`.

On a somewhat side note we should probably update the tracking issue with the project board.

[2021-06-21 06:23] iamwwc commented on #53488
Yes, please, RFC tracking issue should reveal whether it has been implemented, and how to use it 😃. I believe that someone have same concerns with me

[2021-06-21 07:41] RalfJung commented on #71117
I guess one thing that would work is to say that `move _1` also counts as a write from the perspective of the aliasing model. For Stacked Borrows, that will then mean that all existing pointers to this local become invalid.

Then the one issue that remains, I think, is that this optimization can have effects on pointer equality: in the Abstract Machine, `_1` inside `caller` and `_1` inside `callee

[2021-06-21 08:19] nikomatsakis opened #86507 "suggestion that &T requires Sync to be Send could be clearer"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b682c04656c59d9231718cee5c529f66)

[code]

The current output is:

[code]

The compiler helpfully points out that `Sync` is required, but nonetheless @chazkiker2 and I both got confused by this error for some time before we noticed it. The suggestion was kind of buried by all the other de

[2021-06-21 08:19] nikomatsakis commented on #86507
I'm not sure the ideal output, but it might be something like this:

[code]

[2021-06-21 08:33] nikomatsakis opened #86508 "error from missing `?` is quite confusing"
Given the code on branch XXX in the repo https://github.com/nikomatsakis/optopodi, with this function:

[code]

The current output is:

[code]

The fix to make the code compile (well, at least to get to a different error) is to either remove the `?` or else write `Ok(self.post(...).await?)`. This error was not especially helpful towards figuring that out!

I believe the error comes about because t

[2021-06-21 08:41] jacobbramley commented on #78226
@Mark-Simulacrum It's not obvious what's going on here, but we'll look into it. Thanks for the ping.

[2021-06-21 08:49] m-ou-se commented on #73682
From my comment [here](https://github.com/rust-lang/rust/pull/85637#issuecomment-864613121):

[2021-06-21 08:58] JohnTitor commented on #86471
The linker error seems unrelated to Rust itself but it should be related to RustPython. Here only tracks issues related to rustc and some other things, and the questions like yours should go to the [user forum](https://users.rust-lang.org) (or the places related to RustPython). In this case, you've opened a SO question so it's better to wait for answers. Thanks for reporting anyway!

[2021-06-21 08:58] #86471 closed

[2021-06-21 09:01] JohnTitor commented on #76905
cc @rust-lang/libs-api If it's reasonable, it'd be great if someone starts FCP :)

[2021-06-21 10:02] fee1-dead opened #86510 "Compiler fails to recognize that `println!` does not mutate the value"
Consider the following two functions:
[code]
I would expect these functions to be the same when compiling with optimizations turned on, but they are not.

Currently on nightly `copy` is faster than `no_copy`. I speculate it is because `println!` acts like a black box for whether `a`, `b` and `c` will be mutated or not.

[Godbolt](https://rust.godbolt.org/z/baMcqn98b)

[Playground](https://play.rus

[2021-06-21 10:09] fee1-dead commented on #86448
cc @jyn514

I checked for doc(hidden) like this:
[code]

But it doesn't seem to work, as my test would fail. I also tried using the same way to check for `trait_` but it also failed.  I noticed that the issue involves `From<HiddenType>` so I might need to iterate over generic parameters, I cannot find any function that does that in `TyCtxt`, so can someone point me in the right direction? Thanks :

[2021-06-21 10:13] danielhenrymantilla commented on #86448
You can look at how the `strip-hidden-items` pass works: https://github.com/rust-lang/rust/blob/0aa28446f8422ed03845b00074fd49eabc28c695/src/librustdoc/passes/stripper.rs#L142-L143

[2021-06-21 10:32] yume-chan opened #86511 "`match` an `std::cmp::Ordering` generates less optimized code in nightly"
I'm interested in this comment:

https://github.com/rust-lang/rust/blob/3824017f8e57ce9dac6d69a1ce07f41c7034f82d/library/core/src/slice/mod.rs#L2204-L2217

So I did some testing:

---

The following code snippet is the "bad" one (`match` an `std::cmp::Ordering`) in above comment, but with `f` manually inlined.

[code]

---

In version 1.53.0-beta.12 (2021-06-12 e7a67cc91667fd2a6679), release mode,

[2021-06-21 10:38] jplatte commented on #42847
Related: `pointer::cast` requires the generic parameter `U` to be `Sized`. Is this intentional? I would expect it to be a valid way to cast a pointer to a `#[repr(transparent)]` type to a pointer to its containing type or the other way around, same as an `as` cast and `mem::transmute::<*const ReprTransparentType, *const InnerType>`.

[2021-06-21 12:06] GuillaumeGomez opened #86512 "Use rustdoc files again for error index page"
#86503 made a small fix for the error index page, but it's still very likely that it'll break in no time because of it's not using rustdoc's style directly. Instead, we should keep specific style for this page in `rust.css` and use the "normal" rustdoc style for the rest.

[2021-06-21 12:10] jyn514 commented on #84326
Oh hmm I really liked the idea of grouping by trait, I forgot that was suggested.

@guillaumegomez I'm not sure what you mean by this. Rustdoc will still show just as many impl blocks and they'll have generic parameters, it will just be grouped by the trait.

[2021-06-21 12:27] GuillaumeGomez commented on #84326
Then all good. I thought it meant having one impl displayed if the same trait was implemented multiple times.

[2021-06-21 13:41] SpecificProtagonist opened #86514 "Unknown lifetime mentioned in error"
Given the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53bae021d140c16499039d5c560c77c8):

[code]

The current output is:

[code]

The error message mentions lifetimes '1 and '2, but only annotates '1.

I am unsure if this is just a bad error message, or whether the program should actually compile like it does when removing the `map` intermediate variabl

[2021-06-21 14:22] fee1-dead commented on #86511
See also #86391 and #86354.

[2021-06-21 15:12] nikomatsakis opened #86516 "Stabilize "force warn" option"
We need https://github.com/rust-lang/rust/issues/85512 to be stabilized so that `cargo fix` can use it.

[2021-06-21 15:15] nikomatsakis commented on #85895
Some notes here on Zulip:

https://zulip-archive.rust-lang.org/268952edition2021/01650Rust2021dryruncraterrun.html

[2021-06-21 17:02] Smittyvb commented on #79735
It seems that the THIR unsafety checker now disallows (while the MIR checker allows) dereferencing pointers to wildcards:
[code]

[2021-06-21 17:03] RalfJung commented on #65303
@alexcrichton does your PR https://github.com/rust-lang/rust/pull/86155 also solve this? It sounds a bit like it does, since I think `fn_can_unwind` is used for more things; it is not clear to me if `should_abort_on_panic` inside MIR building is also still a thing -- but I guess that got replaced by the new pass, and that pass uses `fn_can_unwind`?

[2021-06-21 17:36] alexcrichton commented on #65303
Ah yes that PR would indeed close this. I removed the `should_abort_on_panic` flag during MIR building and the logic that computes that flag (which was the duplication of `fn_can_unwind`)

[2021-06-21 18:21] Skalman opened #86518 "Support lowercase error codes in `--explain`"
It would be nice if `rustc --explain` supported lowercase error codes:

The current output is:

[code]

Ideally, the command would work regardless of whether you enter `e0106` or `E0106`:

[code]

[2021-06-21 18:34] wesleywiser opened #86519 "Test `ui\abi\stack-probes-lto.rs` fails on Windows-mvsc"
I tried this code:

[code]

I expected to see all tests pass.

Instead, this happened:

[code]

[2021-06-21 18:34] aleksmelnikov commented on #80626
have an implicit `Sized` bound as this is incompatible with [trait object]s
where, by definition, the trait needs to work with all possible implementors,
and thus could be any size.

So, your example works as expected:

[code]
or
[code]
or
[code]

[2021-06-21 18:36] wesleywiser commented on #86519
After running a git bisect, it appears this is a result of #81942 (cc @the8472). I can confirm that if I apply the following patch to the failing test, it will succeed:

[code]

[2021-06-21 18:45] yaahc commented on #84908
I don't know. I for one feel like the double unwrap is a useful property of this API, since those errors are coming from fundamentally different sources. The former comes from the OS when trying to setup the subprocess where as the latter represents the exit status of the process itself. I'd prefer to leave unifying the `io::Error` and the `ExitStatusError` would be handled by the users of this AP

[2021-06-21 18:57] scottmcm commented on #76347
Looks like this is related to https://github.com/rust-lang/rust/issues/48758#issuecomment-865257712

[2021-06-21 18:58] the8472 commented on #86519
Most likely a bug that was simply uncovered by the default CGU count change, similar to #84025

[2021-06-21 19:02] wesleywiser commented on #86519
That seems likely to me. I'm still trying to figure out why bors isn't failing and yet a clean checkout on Windows does ...

[2021-06-21 19:04] danielhenrymantilla commented on #86487
_Addendum_: I've found that with `#![allow(clippy::all)] #![warn(clippy::future_not_send)]` at the root of the `lib.rs`, running `cargo clippy` yields outstanding diagnostics, @yoshuawuyts

  - on `eyros`:

    <img width="1183" alt="Screen Shot 2021-06-21 at 20 48 31" src="https://user-images.githubusercontent.com/9920355/122812501-0b54bd00-d2d2-11eb-9b9a-6e2133abf3ce.png">

      - where we can

[2021-06-21 19:16] ijackson commented on #84908
I don't think it *would* produce less contextually relevant errors.  But I think I can best demonstrate that by prototyping it and showing what the error messages are that come out.  So I will do that.

It would also be possible to introduce the new `ErrorKind`, and a method to construct an `io::Error` from an `ExitStatusError`, and a method on `Command` to run the program and collect and check th

[2021-06-21 19:30] DrMeepster commented on #43301
Shouldn't `Termination` be implemented for `Result<Infallible, E>` too? Using `Result<!, E>` as the return type of main isn't available on stable.

[2021-06-21 19:46] LeSeulArtichaut commented on #86310
Oh, the reason why `[macro![]](macro!)` works is because the rules for inline links are more relaxed:

vs

So instead do you think rustdoc should parse `[macro!\[\]]`? FWIW it's really easy to implement :innocent:

[code]

[2021-06-21 19:49] joshtriplett commented on #76905
Do we have any confirmation of usage in the ecosystem? I don't see any problem with the method as designed, but can we confirm that it's being used?

[2021-06-21 20:06] dancrossnyc commented on #35119
`global_asm!()` now supports at least `const` parameters, which is really cool, but also surprising if you're using it with `include_str!()` to bring in, say, a `.S` file that has a comment that includes curly braces. It would be really awesome if there were some way to assert that a particularly invocation of the macro didn't need or want expansion....

[2021-06-21 20:47] DusterTheFirst commented on #72312
@yoshuawuyts The issue, which still exists, is that the compiler does not show where in the async block is self used. The line that uses self is the problem and needs to be fixed, not the async block itself (which is what is pointed out in the error messages currently). The `...and is required to live as long as `'static` here` message should point to the async block and also reference the line wh

[2021-06-21 20:54] JohnTitor commented on #76905
Oh sorry, I don't have the real world use case, unfortunately. I just thought this is straightforward and makes the conversion around `.drain(..)` easier. And we cannot make any use that requires `AsRef` because it's hidden until we stabilize the feature.

[2021-06-21 21:33] alexxbb opened #86524 "Improve error message for IntoIterator for arrays misuse"
With new rustc 1.53.0 IntoIterator for arrays, I naively tried this code and the errors message looks scary and for beginners might be very hard to understand.

Given the following code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=be232fba39739b9e22a793b1c289f440

The current output is:

[code]

Ideally the output should look like:

Thanks to @CAD97 for suggeste

[2021-06-21 21:47] jeanlucthumm commented on #86102
If we filter by `General_Category`, and say for example, we deem the `Letter` category as identifier-like, what happens when you copy paste in text (as you were saying) that has an unknown `Letter` in a place where identifiers cannot semantically be? Then the compiler will give you an alert that you can't use that letter in an identifier, even though you were not trying to use it in an identifier.

[2021-06-21 21:55] Manishearth commented on #86102
Yeah, precisely. This is kinda nuanced.

I think a _first pass_ can just improve the error message to say "only certain kinds of characters are allowed in identifiers", perhaps linking to the RFC. Idk. But yeah if you want to look at figuring out a smarter heuristic that would be great, and it's not a huge deal if we get it wrong since it's a diagnostic and we can iterate on it.

[2021-06-21 21:55] yaahc commented on #85694
This is done now, so hopefully it won't be an issue again in the future.

This seems like a reasonable plan of action, though I wish we had a better way to deal with extension trait conflicts when adding new APIs...

[2021-06-21 22:00] Mark-Simulacrum commented on #85694
Closing this out as it's no longer particularly actionable.

[2021-06-21 22:00] #85694 closed

[2021-06-21 22:04] yaahc commented on #44434
@rfcbot merge

[2021-06-21 22:24] #78632 closed

[2021-06-21 22:24] #84869 closed

[2021-06-21 22:24] #85113 closed

[2021-06-21 22:24] #86464 closed

[2021-06-21 22:39] inquisitivecrystal commented on #86518
@rustbot label +A-driver +A-error-code +C-enhancement +T-compiler
@rustbot claim

[2021-06-21 22:40] nagisa commented on #86494
This needs a disassembly at the point UD trap was fired. I suspect CPU features (SSE?) being used that are not available or initialized by firmware by default.

[2021-06-22 00:33] jyn514 opened #86528 "-Z print-type-sizes: internal error: entered unreachable code: FieldsShape::offset: `Primitive`s have no fields'"
### Code

https://github.com/rust-lang/docs.rs/commit/69b1f3d5cdedf0e2feba2d87c64c16a670cdd57a

MCVE:
[code]

### Meta

`rustc --version`: `rustc 1.54.0-nightly (cc77ba46f 2021-06-03)`

### Error output

[code]

[2021-06-22 00:34] jyn514 commented on #86528
https://github.com/rust-lang/rust/blob/406d4a9cc3b9601cf98a07c6c83e0227d64f5d48/compiler/rustc_target/src/abi/mod.rs#L761-L765

[2021-06-22 01:26] pacak opened #86530 "const generics panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

<details>
<summary>error output</summary>

[code]

</details>

[2021-06-22 02:06] inquisitivecrystal commented on #86518
I'm just about to open a pull request for this. Thank you for bringing it up!

[2021-06-22 03:09] Fuuzetsu commented on #86530
Rust playground: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=550baec799270d82b995ada7ebc8eda2

[2021-06-22 04:15] #39161 closed

[2021-06-22 04:15] #54685 closed

[2021-06-22 04:15] #86481 closed

[2021-06-22 04:24] kturney commented on #84049
According to https://github.com/rust-lang/rust/issues/85847#issuecomment-851428905 this is probably a duplicate of https://github.com/rust-lang/rust/issues/56935

[2021-06-22 05:40] pacak opened #86535 "no errors encountered even though `delay_span_bug` issued', compiler/rustc_errors/src/lib.rs:1023:13"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-22 05:51] ahcm commented on #84049
According to https://github.com/rust-lang/rust/issues/85847 fixed by https://github.com/Canop/lazy-regex/pull/6/files.
At lease it does not happen in rustc 1.54.0-nightly (ed597e7e1 2021-06-08) anymore.

[2021-06-22 05:51] #84049 closed

[2021-06-22 06:30] davidhewitt commented on #67984
At least in my opinion, using nested format args as a workaround seems reasonable enough that we don't need to add anything else at the same time as stabilizing this feature.

Please feel free to own this @bstrie - unfortunately I'm too time-poor to push this forward myself at current.

[2021-06-22 06:44] #37508 closed

[2021-06-22 07:03] Mrodent commented on #86471
OK

[2021-06-22 08:22] asm89 commented on #60705
Looks like GitHub picked up a reference to this issue in the commit, but LLDB trunk now supports Rust's symbol mangling scheme (v0). @tmiasko has been working on support for the mangling scheme in LLVM's Demangle library. It's now used by LLDB.

[2021-06-22 08:24] chathaway-codes opened #86538 "clippy fix fails: warning: failed to automatically apply fixes suggested by rustc to crate `rust_bug1`"
I tried this code:

[code]

(this is a reduced and largely nonsensical version of the real issue I hit)

With the command: cargo clippy --fix -Z unstable-options --allow-dirty

I expected to see this happen: Clippy cleanup the source code without error.

Instead, this happened: I got a rather long error message, [output.txt] attached.

[output.txt](https://github.com/rust-lang/rust/files/6692540/o

[2021-06-22 08:59] nikomatsakis opened #86539 "document and test the precise span that triggers edition-dependent behavior"
My hunch is that most of the edition-dependent features don't have a documented bit of text that we use to figure out what edition they are-- and that we don't have tests for that logic. We should clarify this and document the "edition span" in the Edition Migration Guide, and then make tests that check that it works correctly.

[2021-06-22 09:07] yerke commented on #86539
Hi. I am willing to take this on, if somebody can guide me on what exactly needs to happen.

[2021-06-22 09:37] LeSeulArtichaut commented on #86309
@camelid Sorry, I stole this from you :smile:

[2021-06-22 09:47] LeSeulArtichaut commented on #85692
Should we close this as wontfix now that 1.53.0 is released?

[2021-06-22 10:06] m-ou-se commented on #84594
Fixed by #85707 :tada:

[2021-06-22 10:06] #84594 closed

[2021-06-22 10:17] m-ou-se commented on #85684
@danielhenrymantilla For new macros we try to put them inside a module like `ptr::addr_of`. But for the existing macros we can't really switch away from the current mechanism without breaking existing code. We could also add them to the preludes, but we can't really remove `#[macro_export]`. Feel free to open a separate issue if you want.

Closing this issue, as the new edition prelude and all rel

[2021-06-22 10:17] #85684 closed

[2021-06-22 10:22] #85692 closed

[2021-06-22 10:33] gilescope commented on #84963
If we only had to do a `cargo clean` when we manually had adjusted the recursion_limit that would be a lot better than the current situation. I imagine in time we could detect that that situation had occured, but for now getting incremental compilation working again is probably more important than solving that edge case.

[2021-06-22 10:57] SimonSapin commented on #85447
Ouch, I forgot about this and the regression has reached Stable :/ However I still don’t know how to proceed as I’m not at all familiar with these compiler internals. Any help would be appreciated.

The slightly different ICE points to:

https://github.com/rust-lang/rust/blob/a85f584aebd9b08314bf30b9adc17b4a752143e5/compiler/rustc_codegen_llvm/src/debuginfo/metadata.rs#L704

I *think* this file is

[2021-06-22 11:02] leonardo-m commented on #86524
It's better to choose only one of those three idioms, and to only suggest that. (Personally I am slightly in preference for the third, with into_iter).

[2021-06-22 11:39] sdroege opened #86547 "Confusing compiler error when returning a `Result<Result>` via `?`-operator"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9aac41ba36103dac1f4ae20fa30c86f0

[code]

The current output is:

[code]

Ideally the output would mention the double-`Result` wrapping ("got type `Result<Result<...>>` expected ...") and suggest removing one layer or `Result::flatten()` or similar.

It kind of does the former already if you squint bu

[2021-06-22 11:52] jyn514 commented on #84824
See https://github.com/rust-lang/rfcs/pull/3123 for a more fleshed out idea around this.

[2021-06-22 11:53] m-ou-se commented on #86539
I did some digging through the implementations. These are the spans used by each of the edition-dependent behaviours:

1. Prelude:
    - Not based on a single span, but on the edition of the session/crate.
2. Panic:
    - The panic!() invocation expression, so the entire `std::panic!(..)` span.
3. Lints -> hard errors
    - BARE_TRAIT_OBJECTS:
      - Span of the type (trait) that's missing `dyn`.

[2021-06-22 12:00] fee1-dead commented on #60553
## Stabilization Report

### Summary

Enables a user to specify *explicit* discriminants on arbitrary enums.

Previously, this was hard to achieve:

[code]

Someone would need to add 41 hidden variants in between as a workaround with implicit discriminants.

In conjunction with [RFC 2195](https://github.com/rust-lang/rfcs/blob/master/text/2195-really-tagged-unions.md), this feature would provide m

[2021-06-22 12:11] #22639 closed

[2021-06-22 12:47] m-ou-se commented on #86539
I made a proc macro that allows changing the edition of a single token and did some experiments:

- The span of `std::panic!(..)` carries the edition of just `std`, not of the other parts. The span of `panic!(..)` carries the edition of `panic`. It always seems to be the first token of the path. Same for `::` in `::std::panic!(..)`. (I think it rarely matters, but we could modify this to look at t

[2021-06-22 13:03] Christopher22 opened #86550 "ICE due to "async" keyword"
I found a Internal Compiler Error on stable, beta and nighly and was able to reproduce it in the playground. If the function `do_something` is not async, everything works fine. If it is, the minimal verifiable example below will fail:

### Code [(Playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=226c9accdbadf896a9c8bcd318afc147)

[code]

### Meta

`rustc --versio

[2021-06-22 13:31] Christopher22 commented on #86550
Mmh, it appears I was a little bit too fast with my diagnose. While removing the keyword allows compilation, the following code will not compile neither:

[code]

Furthermore, on my "real" projec, both the variants with and without "async" fail.

[2021-06-22 13:40] m-ou-se commented on #86539
For closures:

The span of `|..| body` is made with `lo.to(body.span)`, where `lo` is the span of the first token (`move` or `async` or `static` or `||` or `|`). The `Span::to` code has multiple FIXMEs and the behaviour when macros and multiple contexts are involved is not very obvious at all:

https://github.com/rust-lang/rust/blob/75ed34223adb02c7bbfa5ae5e62c48952ff29914/compiler/rustc_span/src/

[2021-06-22 13:51] m-ou-se commented on #86539
The same `first_token.span.to(last_token.span)` logic is used for paths like `::std::panic` or `&path::to::Trait` for the panic and dyn edition behaviours.

[2021-06-22 13:55] asquared31415 commented on #86550
Even more minimal example: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3523eb76899a51562fb10d0f326726ec)

[2021-06-22 14:08] lachlansneff commented on #44265
Moving the embedded-rust ecosystem over to async will require stabilizing GATs. Is it possible that these could be stabilized this year?

[2021-06-22 14:26] bstrie commented on #84963
That could even imply that #recursion_limit should be a compiler flag rather than an attribute, in order to leverage the existing machinery for invalidating caches when compiler flags change.

[2021-06-22 14:34] fee1-dead commented on #79799
@rustbot claim

[2021-06-22 14:43] m-ou-se commented on #75243
Agreed!

Agreed. We already guarantee this for other similar functions. And even in all the cases where we don't guarantee it, people already rely on the obvious order. As you already said, we don't gain anything by leaving it unspecified.

The generated code isn't always optimal right now, but that doesn't have to block stabilization. We can always keep improving the implementation.

Proposing to

[2021-06-22 14:49] CryZe commented on #75243
I'm pretty sure that the performance pitfall is not something that can in any way ever be mitigated other than through possibly clippy lints.

[2021-06-22 14:59] m-ou-se commented on #75243
Are you talking specifically about large arrays? For an `[u8; 8].map(..).map(..).map(..)` it's no different than just applying three functions to a `u64` or something. Moving or copying *large* arrays has always been a bit of a performance pitfall in Rust. Some of these pitfalls were avoided because we only had implementations up to a length of 32, but that's no longer the case. A warning (from cl

[2021-06-22 15:05] CryZe commented on #75243
No, this has nothing to do with moving. Instead it has something to do with the fact that the maps can't ever "merge together" as they would in a normal iterator chain. It is forced to fully complete the first map before starting the second, meaning that it is forced to do 3 entire loops over the array as opposed to just a single loop with the 3 mapping functions merged together. LLVM may be smart

[2021-06-22 15:08] ehuss commented on #86538
Thanks for the report!  This looks like an issue with clippy where it gives a bad suggestion (the signature of `find` and `any` aren't the same).  Would you mind moving this issue to the clippy tracker at https://github.com/rust-lang/rust-clippy/issues?

[2021-06-22 15:34] danielhenrymantilla commented on #86539
Impressive investigation! Note that mixing spans can also be done by `macro_rules!` macros, although it would be more convoluted:

[code]

[2021-06-22 15:59] chathaway-codes commented on #86538
Done; opened https://github.com/rust-lang/rust-clippy/issues/7392

[2021-06-22 16:10] LukasKalbertodt commented on #75243
@CryZe I just played with a few examples and looked at the generated assembly. E.g. see this: https://rust.godbolt.org/z/M1KTbYfqv

For some examples, LLVM really doesn't perform too well. I wasn't quite aware of that, so thanks for bringing that up again. But note that for smallish arrays, LLVM seems to unroll all loops. And in those cases, it seems to perform quite well and combine the different

[2021-06-22 16:14] pickfire commented on #84970
I think I had to `cargo clean` every day now (3 days in a row, but I don't code on the project daily). After `git revert` or `git rebase`, `cargo check` will always fail whereas `cargo run` always work even after I got it compiling. I am using stable 1.53.0 and not using nightly.

[2021-06-22 16:32] Mark-Simulacrum commented on #84970
@pickfire could you file a new issue with more details? It doesn't sound like that quite matches the behavior we're expecting from this issue (which should always lead to an ICE)

[2021-06-22 16:36] ehuss commented on #86538
Thanks!

[2021-06-22 16:36] #86538 closed

[2021-06-22 16:37] Mark-Simulacrum commented on #85194
We discussed this in the [2021-06-15 lang meeting](https://hackmd.io/sVnT2HoiTT62sDyCcr0NJw) and determined it makes sense to close this issue specifically tracking stabilization at this time. There's a clear [blocker](https://github.com/rust-lang/rust/issues/85194#issuecomment-852345377) to stabilizing at this time around the migration story to the next edition. The lang team is still interested

[2021-06-22 16:37] #85194 closed

[2021-06-22 16:47] pickfire opened #86551 "cargo check failed but cargo run always work"
I can't reproduce this but it happens every day, 3 days in a row for me. When developing helix, after I checked out other commits using `git rebase` or `git revert`, quite a few time I do `cargo check`, `cargo check` will always fail even though `cargo run` works.

Note that this happens in the past for me, but that was after switching features and not as often as getting it daily, but last time i

[2021-06-22 16:50] Aaron1011 commented on #86551
@pickfire Can you post the output from when `cargo check` fails

[2021-06-22 16:53] Mental59 opened #86552 "Rust, linking with `cc` failed: exit status: 1"
Rust, Ubuntu 20.04 (on virtual machine VMware Workstation) trying to build a convolutional neural network and train it on MNIST using PyTorch with Cuda. Getting this message:

[code]

[2021-06-22 17:15] pickfire commented on #86551
The output for each occurence is different. But I only have the third day and one from last week, the two day before the third day, the output is gone by now.

A week before

[code]

Yesterday (third day)

[code]

[2021-06-22 17:34] #85955 closed

[2021-06-22 17:56] petrochenkov commented on #86539
Similar existing issue - https://github.com/rust-lang/rust/issues/50122.

[2021-06-22 18:00] joshtriplett commented on #84879
We discussed this in the @rust-lang/lang meeting today. Our conclusion was that we can close this issue as soon as #85193 is merged.

[2021-06-22 18:14] ibraheemdev commented on #81654
The error is back in 1.53.

[2021-06-22 18:29] m-ou-se commented on #86539
This is an example I just posted [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/macro.20injection.20tests/near/243544281):

[code]

An `std::panic` path with either the `std` or `panic` token from a 2021 macro resolves to the 2021 panic, because `Span::to` prefers macros. But when both come from a macro, it just picks the first token instead.

[2021-06-22 19:41] ijackson commented on #84908
I did some experiments with `io::Error::new` (which is surely how any conversion would work) and the results are encourating.  The `io::Error` made from an `ExitStatusError` prints and behaves almost identically to the original `ExitStatusError`:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8b10bcea7dc0d14019a0f013ded84e6

[2021-06-22 20:10] Mark-Simulacrum commented on #78226
I've disabled the test on #86413 so that we can get a beta out, but I would like to see a fix prior to the 1.54 release (in ~5 weeks), so P-critical and milestoned at 1.54.

[2021-06-22 20:15] #86044 closed

[2021-06-22 20:27] memoryruins commented on #84526
`fn as_usize` is no longer needed and the where clause can be written as `where [(); _MM_SHUFFLE(W, Z, Y, X) as usize]:`. Presumably fixed by https://github.com/rust-lang/rust/pull/86130

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=22e5e5b5e7cf9e6f93754fddeac964e5)
`1.55.0-nightly 2021-06-21 406d4a9cc3b9601cf98a`

[2021-06-22 20:46] Oliver-Piorun commented on #86552
Hi! Make sure you make the required and missing libraries available to the compiler.
For reference: https://github.com/LaurentMazare/tch-rs (I think you are using this crate)

PS: This isn't a rust issue btw ;-)

Greetings!

[2021-06-22 21:01] wesleywiser commented on #86519
CI [sets `rust.codegen-units-std=1`](https://github.com/rust-lang/rust/blob/406d4a9cc3b9601cf98a07c6c83e0227d64f5d48/src/ci/run.sh#L54) and that seems to cause the test to pass.

[2021-06-22 21:05] joshtriplett opened #86555 "Tracking Issue for RFC 2528: type-changing struct update syntax"
This is a tracking issue for RFC 2528 (rust-lang/rfcs#2528), type-changing struct update syntax.
The feature gate for the issue will be `#![feature(type_changing_struct_update)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue

[2021-06-22 21:05] yaahc commented on #84908
I'm less worried about the `io::Error` changing the display output than I am about having the original `io::Error` from the cmd setup being confusable with the cmd exit result. The more I think about it though the less convinced I am that this is an important property. I'd like to get an idea of the kinds of errors that `.status()` can return to double check but assuming those are all relatively c

[2021-06-22 21:37] JohnTitor commented on #83630
Fixed by #83739.

[2021-06-22 21:37] #83630 closed

[2021-06-22 21:48] memoryruins commented on #86287
The second part is about how `as` expressions can do [coercions](https://doc.rust-lang.org/reference/type-coercions.html) to [trait objects](https://doc.rust-lang.org/reference/types/trait-object.html). The reference page linked at the end of the rustdoc page mentions this, but it might help to mention it on the rustdoc page too.

For `<SomeType as Into<i32>>`, `as` is part of the syntax of [quali

[2021-06-22 21:49] Alfriadox opened #86556 "Stack overflow in rustc"
I'm running into a stack overflow in issue in rustc and I think it's related to macro, but I'm not sure. I copied the pertinent files from my project and reproduced the issue in [this repository](https://github.com/Alfriadox/rustc-stack-overflow).

I expect this to compile without issue when I run `cargo build` (or at least give me a type error if there is one).
Instead, `rustc` overflows stack on

[2021-06-22 21:55] JohnTitor commented on #83937
Triage: it now works with the latest nightly, I guess #86166 fixed it. Marking as `E-needs-test`, it'd be great if we could add a test somehow.

[2021-06-22 22:03] xfix commented on #66611
I believe this can be closed now that `NoneError` was removed.

[2021-06-22 22:08] #66611 closed

[2021-06-22 22:13] scottmcm commented on #86547
The error on nightly is a bit different now, post https://github.com/rust-lang/rfcs/pull/3058
[code]

That does have the double-nest mentioned (`Result<Infallible, Result<_, &str>>`), though still not super-obviously.

(It'll be a bit clearer once `!` stabilizes and it can shorten to `Result<!, Result<_, &str>>`.)

[2021-06-22 22:30] tmiasko commented on #83937
A slight modification is required to reproduce the original issue:

[code]

[2021-06-22 22:48] Smittyvb commented on #86556
It seems like the issue is originating from a procedural macro in `graphql_query_derive` (which gets run in the same thread as the compiler itself). Here's a sample of the (very long) backtrace I get when running this under LLDB -- it seems there is a 5 stack frame long cycle that just keeps repeating:
[code]

[2021-06-22 22:52] jonas-schievink commented on #86552
Yeah, this doesn't look like a Rust bug

[2021-06-22 22:52] #86552 closed

[2021-06-22 23:28] lqd commented on #58781
@matthewjasper would it make sense to try to merge this great progress you've already completed ? or would you rather wait for the 2 tasks you mentioned to be completed before doing so ?

(If trying to land a PR of your `nll-hrtb-errors` branch soon would be interesting, I thought I'd try to help by rebasing it already, [over here](https://github.com/lqd/rust/tree/matthews-nll-hrtb-errors))

[2021-06-22 23:53] Tobs40 opened #86562 "Can't infer type"
![image](https://user-images.githubusercontent.com/63099057/123013950-7c28d180-d3c5-11eb-9f6a-2252335e147c.png)

While programming in Rust the compiler told me that it can't infer the type of g[0] even though it's obviously of type usize.
Don't know whether it's a bug, but I guess the inference could be more powerful here, so maybe a suggestion for the future?

Best regards, Tobi

[2021-06-23 00:14] Alfriadox commented on #86556
Oh that's very helpful, thank you! This seems to be an issue with that procedural macro in that case. I made an issue on that library. It would be helpful in my opinion if the compiler limited the recursion and printed a more detailed error message than just stating that `rustc` had a stack overflow.

[2021-06-23 01:42] IwateKyle opened #86565 "variable shadowing bug in loop not caught by compiler and crashing at runtime."
After many months of using Rust - I was going back thru "The Rust Programming Language (book)" implementing the guessing game.

I tried this code:

[code]
There is a bug in the above code which after finding it I thought Rust would have / should have caught?  Correct me if I'm wrong.

The program compiles fine with no warnings or errors.  When I run the program - I answer the the question to delib

[2021-06-23 01:54] mjguynn commented on #86565
According to the documentation for `read_line`, it appends to the existing string rather than replacing/clearing it. So if you typed in `foo` for the first input and `5` for the second input, the string would be `foo5` on the second iteration, causing the program to panic when `expect` is called.

[2021-06-23 02:27] #86005 closed

[2021-06-23 02:27] #86309 closed

[2021-06-23 02:27] #86310 closed

[2021-06-23 02:30] ICEYSELF commented on #32838
Excuse me, it is 1202 now, and is there a stablization plan for this?

[2021-06-23 02:51] fee1-dead commented on #86565
This is not a bug in the compiler. You *can* shadow variables.
[code]

[2021-06-23 02:53] fee1-dead commented on #86562
Please do not attach a screenshot. Provide your two functions in text, so one can use the playground to test/reproduce this.

[2021-06-23 03:17] fee1-dead commented on #80218
@rust-lang/libs

Can we start an FCP?

[2021-06-23 03:39] IwateKyle commented on #86565
Hi fee1-dead, thanks for your thoughts.  I think *maybe* you didn't understand my post.  Your code introduces the same problem. And before responding, I actually copied your code, compiled it and ran it.  So the problem still exists.

I think you might have misunderstood the point about being able to shadow variables in a loop.  Its not that you *can't*, it's that you *can* and the compiler isn't

[2021-06-23 04:37] zonyitoo commented on #69061
Made a PR to cpython instead: https://github.com/python/cpython/pull/26866

[2021-06-23 04:37] #69061 closed

[2021-06-23 04:45] digama0 opened #86567 "OR_PATTERNS_BACK_COMPAT lint ignores crate boundaries"
Code in main crate:

[code]
Crate `bar`:
[code]

Result:
[code]

This lint should be suppressed, because it originates in another crate.

* `rustc --version`: `rustc 1.55.0-nightly (6a758ea7e 2021-06-22)`

[2021-06-23 05:03] tvallotton commented on #42721
This could be address by mandating complementary implementations. So if you want to write something like
[code]
you'd be forced to implement
[code]
Therefore implementing `Foo` cannot break code because `T` has to implement `Bar` regardless of whether it implements `T`. I explained this more thoroughly [here](https://internals.rust-lang.org/t/rule-for-trait-without-impl-trait-being-a-breaking-chan

[2021-06-23 05:17] fee1-dead commented on #86565
No, when you shadow variables, they will not be in the same location. The compiler knows that they are different and independent of each other. For your problem, read [this comment](https://github.com/rust-lang/rust/issues/86565#issuecomment-866460090). There isn't any bug in the compiler that caused your program to crash. There is a bug in your code that caused it.

[2021-06-23 05:22] ehuss commented on #86286
Posted a fix at #86568.

[2021-06-23 05:57] #85844 closed

[2021-06-23 06:36] mybee opened #86569 "its very very slow when cargo test on Ubuntu"
system:
[code]

take about 30 minutes time T.T

[2021-06-23 06:40] inquisitivecrystal commented on #86567
I'm going to take a look and see if I can figure this out.

@rustbot label +A-macros +C-bug
@rustbot claim

[2021-06-23 06:50] IwateKyle commented on #86565
I feel like I stated that fairly clearly.... when I said ```There is a bug in the above code .... ```  So, I'm not sure how to proceed with our discourse.  And, the *very same* code that *you* game me crashes.  In other words, your code has the very same bug.  I don't want to imply that you didn't read what I said, so we'll just chalk it up to "I didn't explain the problem very well."  Thank you f

[2021-06-23 06:53] #84526 closed

[2021-06-23 07:01] mybee opened #86570 "panic without stack info T..T"
thread panicked while panicking. aborting.
error: test failed, to rerun pass '--test article'

Caused by:
  process didn't exit successfully: `/Users/fengma/Desktop/drepo/target/debug/deps/article-46d67a674ecc1092 test_article` (signal: 4, SIGILL: illegal instruction)

[2021-06-23 07:09] IwateKyle commented on #86565
@fee1-dead in a second attempt - I edited the problem description above.  I hope this helps.

[2021-06-23 07:14] JohnTitor commented on #86569
Could you provide a reproducible example or any information about the issue if possible? It's quite hard to address the issue without them.

[2021-06-23 07:31] jfrimmel commented on #86570
The panic message tells it: while handling a (first) panic, a second panic occurs while unwinding. This is most likely caused by a `Drop` implementation called during unwinding of the first panic, which in turn panics again.

Rust aborts on double panic, to prevent even more bad things to happen.

Without the code one can only say, that this is expected behavior.

[2021-06-23 07:46] LukasKalbertodt commented on #76118
I agree with @rossmacarthur and would like to propose stabilizing `as_slice` and `as_mut_slice`. These methods exist on many other types throughout `std` (e.g. `Vec`) and I can't think of a reason to wait with stabilization. I can't see how the name or semantics would still change. And I'm pretty sure we want those methods.

[2021-06-23 08:10] hmunozb commented on #83950
I was about to post my own issue but I guess I'll throw my ring in the hat here. I encountered essentially the same problem and I reduced it to a more lightweight minimal example. A diamond dependency in the test build with a different version of the dependency in `[dev-dependencies]`  appears to cause the issue.

---

### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Er

[2021-06-23 08:17] fee1-dead commented on #86565
Okay. But this issue is still invalid. The compiler should not catch the bug in your code, because the compiler doesn't know about what you are trying to achieve.

 1. Name shadowing is okay. Your bug is not caused by name shadowing.

Well, but why did it error in your second example?

[code]

That is pretty obvious.

 2. I did not give you code where I think it would behave correctly. I directly

[2021-06-23 08:20] fee1-dead commented on #86570
This is probably expected. You should provide a minimal, complete and verifiable example if you think otherwise.

[2021-06-23 08:41] matthewjasper commented on #58781
You could try that. The branch is pretty old, but hopefully touches parts of the codebase that move pretty slowly.

[2021-06-23 08:45] #85618 closed

[2021-06-23 09:00] psumbera commented on #86163
How can this be fixed? Where is relevant code doing this?

```is_homogenous_aggregate()``` doesn't seem to do anything bad. At least sizes and types looks good when adding some debug print here:

https://github.com/rust-lang/rust/blob/2ce052bb8d8e4b421f08541ffa1f4c7fc5ea7a72/compiler/rustc_target/src/abi/call/mod.rs#L524

```seelf.mode = Cast(CastTarget { prefix: [None, None, None, None, None, Non

[2021-06-23 09:01] jonas-schievink commented on #86565
This is working as intended, so closing

[2021-06-23 09:01] #86565 closed

[2021-06-23 09:08] xfix commented on #48951
`NoneError` is gone, so this issue can be closed.

[2021-06-23 09:33] m-ou-se commented on #86567
This is probably something to be fixed as part of #86330. @rylev [said](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition-2021/topic/pat_2021.20on.202018/near/243627022) he'll look into it.

[2021-06-23 09:46] m-ou-se commented on #86567
Looks like this is unrelated to the future incompatibility lint mechanism, but a bug with the or pattern lint specifically. It seems to trigger not only on the macro_rules definition, but also when such a definition is used.

[2021-06-23 09:47] m-ou-se commented on #86567
That seems somewhat related to https://github.com/rust-lang/rust/pull/85709. Though that PR doesn't fix it.

[2021-06-23 09:48] IwateKyle commented on #86565
@fee1-dead
Anger No.
Disappointment - a big dose of it.

I took a chance on posting here based on something that I *still* feel has merit  - even after reading everything you have put forth and Jonas's detailed comment.  I'm mostly disappointed that because I, myself along with many others have a great deal of desire to see the success of Rust multiplied.  Often people regard programming technolog

[2021-06-23 10:36] lqd commented on #58781
Sorry, I meant I had already rebased your branch in the link above: it was indeed in slow-moving parts of the compiler, with only a few simple conflicts, and only one compile error. Very straightforward to update overall.

Your improvements to these error messages are already looking great. I can open a PR and help land them, if @nikomatsakis and @Aaron1011 want to have a look ?

[2021-06-23 11:07] nagisa commented on #86570
Closing for reasons described in the 2 comments above.

[2021-06-23 11:07] #86570 closed

[2021-06-23 11:10] nagisa commented on #86556
That would be a…

Duplicate of https://github.com/rust-lang/rust/issues/56058

[2021-06-23 11:10] #86556 closed

[2021-06-23 11:14] rylev commented on #86567
@inquisitivecrystal I'm going to take a look into this as part of #86330. Let me know if you've already started looking into this.

[2021-06-23 12:12] Tobs40 commented on #86562
[code]

[2021-06-23 13:25] tmiasko commented on #83937
Constness of associated functions is encoded & decoded without looking at constness of impl. Encoding a result of `is_const_fn_raw` query in `encode_info_for_impl_item` could be sufficient for now: https://github.com/rust-lang/rust/blob/b6f3cb9502b1910f6af32f426fdb78e813b390ef/compiler/rustc_metadata/src/rmeta/encoder.rs#L1226

Duplicate of #84846.

[2021-06-23 14:10] michaelwoerister commented on #86289
Upon closer inspection it turns out that there are some restrictions on what we can implement here at the moment:
- The only place this problem shows up is when printing function names,
- but we don't have full control over how function names are printed.

We only explicitly generate the unqualified name of a given function. E.g. for the following function:
[code]
we only generate the name `bar`.

[2021-06-23 14:43] BoxyUwU commented on #86535
More minimal repro:
[code]

[2021-06-23 15:12] FabianWolff commented on #84768
Probably a duplicate of #83693.

[2021-06-23 16:03] m-ou-se commented on #86567
This is fixed by  #86574

[2021-06-23 16:39] smklein opened #86575 "Proposal: PTHREAD_MUTEX_ERRORCHECK instead of PTHREAD_MUTEX_NORMAL"
**TL;DR: Currently, double-locking a Mutex from Unix systems causes a deadlock. It doesn't have to! It totally could result in a (presumably easier-to-debug) panic with a fairly minor change.**

On Unix systems, the pthread mutex type has been chosen as "PTHREAD_MUTEX_NORMAL" within the implementation of Rust's [Mutex](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/mutex.rs

[2021-06-23 16:40] jorendorff commented on #80351
I hit this in the wild too. Independently reduced to:

[code]

[2021-06-23 16:43] Hawk777 opened #86576 "False positive clippy::needless_lifetimes in async fn taking two parameters by reference"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=43453df53763dd40babe88f1ea11fb5c):

[code]

The Clippy output is:

[code]

This warning is a false positive. The `'a` lifetime cannot be elided because there are two reference inputs; removing all lifetimes, as expected, results in a compile error (“the signature does not say whether it is borrowed f

[2021-06-23 16:54] jorendorff commented on #80351
Pretty error message:

[code]

I guess this checking code doesn't understand that `<u64 as Viewable<'_>>::View` is always `u64`, regardless of `'_`.

[2021-06-23 17:11] inquisitivecrystal commented on #86567
I thought the problem was that the lint was being passed the wrong `NodeId`. That would make it pretty separate from anything else, though it might make sense to deal with it in #86574, which is touching a lot of the same code anyway. I was pretty close to a draft implementation last night, though I hadn't actually reached the point of testing that it works. If someone else is rewriting the same c

[2021-06-23 17:29] smklein commented on #86576
FYI this might get more attention filed in Clippy's repo: https://github.com/rust-lang/rust-clippy

[2021-06-23 17:30] jonas-schievink commented on #86576
duplicate of https://github.com/rust-lang/rust-clippy/issues/7271

[2021-06-23 17:30] #86576 closed

[2021-06-23 17:52] dns2utf8 opened #86578 "rustdoc: Move the extra labels to the symbol in tables"
Currently labels like `Deprecated` are in the right column far away from the symbol they describe:

![](https://user-images.githubusercontent.com/739070/123140925-5f34e280-d447-11eb-8a6c-a92a9138932b.png)
![](https://user-images.githubusercontent.com/739070/123140997-6cea6800-d447-11eb-9242-7959bc548006.png)

I propose we move them to the symbol in the left column.

Cheers,
Stefan

From #85651

[2021-06-23 17:53] zombiepigdragon opened #86579 "Confusing error message when associated type has same name as other type"
Given the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aef6f119c9dcc97483132fad2eed4a46):

[code]

The current output is:

[code]

Ideally the output would include a suggestion that `Err` is an associated type, that can be accessed as `Self::Err`, something like:
[code]
I ran into this while working with a relative newcomer to the language, and it would

[2021-06-23 18:00] GuillaumeGomez commented on #86578
Do you want to be assigned on it?

[2021-06-23 18:01] dns2utf8 commented on #86578
Yes, please :+1:

[2021-06-23 18:03] GuillaumeGomez commented on #86578
Done. :)

[2021-06-23 18:03] dns2utf8 commented on #86578
Thanks! :)

[2021-06-23 18:19] joshtriplett commented on #85840
cc @alexcrichton

[2021-06-23 18:39] jorendorff commented on #80351
`Binder` here is `rustc_middle::ty::sty::Binder`, which represents a type of the form `for <PARAMS> TYPE`, like `for <'a> fn(<u64 as Viewable<'a>>::View)` in my testcase.

Apparently, there are two separate times rustc has to look up trait impls:

- At typeck time, if the code uses some method of a trait T on a value of type U, we have to check that `U: T` is satisfied. (Inside rustc, this require

[2021-06-23 18:40] Jess3Jane opened #86581 "`cargo fix --broken-code` incorrectly applies integer casts"
Consider the following:

[code]

`cargo fix --broken-code` correctly notices that this code is broken, but it incorrectly applies the fix:

[code]

It applies the `try_into` but doesn't import `std::convert::TryInto`, causing the fix to fail

### Meta

`rustc --version --verbose`:
[code]

[2021-06-23 18:53] alexcrichton commented on #85840
@abbec could you describe a bit why you're linking with a non-Rust LLD, and specifically an older-than-LLVM-12 LLD?

Given your [range of nightlies for the regression](https://github.com/rust-lang/rust/compare/3a5d45f68...f98721f88) this seems most likely due to https://github.com/rust-lang/rust/pull/82924 which I could imagine relies on features and/or bug fixes in LLVM 12 to work.

In general th

[2021-06-23 19:22] m-ou-se commented on #76905
@rfcbot merge

[2021-06-23 19:25] r00ster91 commented on #86581
If I understood correctly `std::convert::TryInto` might be added to the prelude in the 2021 edition so if that happens perhaps it should check what edition it is on and depending on that add the import or not.

[2021-06-23 19:28] r00ster91 opened #86584 "Suggestion to change to mutable reference doesn't call the variable by its name"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8060aa5360075255bc9f12a354e2b4f8

[code]

The current output is:

[code]

Note how it says `&mut str` despite the variable not being called `str` but `string`.

Ideally the output should look like:

[code]

[2021-06-23 20:02] apiraino commented on #86483
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386483.20thread.20'rustc'.20panicked.20at.20'Box.3CAny.3E'.3A.20associated.20ty.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-06-23 20:02] jorendorff commented on #80351
See ["Trait resolution"](https://rustc-dev-guide.rust-lang.org/traits/resolution.html) in the rustc-dev guide.

In `SelectionContext::select`, **candidate assembly** ([docs](https://rustc-dev-guide.rust-lang.org/traits/resolution.html#candidate-assembly), [src](https://github.com/rust-lang/rust/blob/b6f3cb9502b1910f6af32f426fdb78e813b390ef/compiler/rustc_trait_selection/src/traits/select/mod.rs#L3

[2021-06-23 20:07] apiraino commented on #86469
great job with the analysis and bisection, thanks @steffahn !

I'm gonna close as duplicate but (as always) feel free to reopen if it's not the case

@rustbot label -I-prioritize

[2021-06-23 20:07] #86469 closed

[2021-06-23 20:13] workingjubilee opened #86585 "Incremental(?) ICE with BorrowMutError"
This ICE appeared when I switched branches from https://github.com/rust-lang/stdsimd/pull/139 to https://github.com/rust-lang/stdsimd/pull/138/files and ran `cargo check`. It disappeared as soon as I tapped `cargo clean`, so I suspect it's related to incremental compilation somehow. Alas, I didn't think to do anything to get a good backtrace.

### Meta

`rustc --version --verbose`:
[code]

### Err

[2021-06-23 20:17] abbec commented on #85840
Yeah to be fair, this issue popped up in passing and I am now using LLVM 12 which works fine.

Reason for using an external linker is a custom libc and other C libraries.

[2021-06-23 20:21] m-ou-se commented on #82913
We discussed this today, and concluded that our best options here are either:

1. Just let it land on stable, and break a few things.
2. Only add it to the 2021 prelude, but without migration lint. We do normally require migration lints for edition changes, but this option is strictly less breaking than option 1.

To be discussed in the edition meeting on monday.

[2021-06-23 20:57] jorendorff commented on #80351
Some debug output, but it's only what anyone who actually knows this code would already expect:

[code]

[2021-06-23 21:35] alexcrichton commented on #85840
Ah ok, if that's the case I'd recommend closing this because the wasm target and toolchain are undergoing enough changes that not a lot of effort is put into making all versions of objects work with past and future toolchains. This will naturally evolve over time as wasm stabilizes, but at this time I think the guarantee of Rust is that if you want to intermix Rust & C on wasm you need to have mat

[2021-06-23 21:40] jorendorff commented on #80351
This call to `Trace::sub` is failing:

[code]

And we do end up here:

[code]

[2021-06-23 21:57] workingjubilee commented on #80108
Godbolt currently is back on May 31st, `--version --verbose`:
<details><summary>rustc 1.54.0-nightly (657bc0188 2021-05-31)</summary>
[code]
</details>

https://github.com/rust-lang/rust/pull/85966 got merged on June 4th. My nightly is dated since then, `rustc -vV`:
<details><summary>rustc 1.54.0-nightly (6c2dd251b 2021-06-05)</summary>

[code]
</details>

Godbolt still fails, but my local rustc n

[2021-06-23 22:00] calebzulawski commented on #80108
@workingjubilee passing vectors via indirection definitely fixes the issue.  I think the issue still stands if/when another architecture passes them directly.

[2021-06-23 22:47] Zapeth opened #86587 "rustc has incomplete version information when compiling from source"
When building from released sources (`https://static.rust-lang.org/dist/rustc-<version>-src.tar.xz`), the resulting rustc binary is missing detailed version information like commit hash and commit date.

Looking at the source it seems to only rely on git commands/paths to assemble this information (`https://github.com/rust-lang/rust/blob/5a7834050f3a0ebcd117b4ddf0bc1e8459594309/src/bootstrap/chann

[2021-06-23 22:53] ehuss commented on #56449
Closing as this is quite old, and I believe should be resolved.

[2021-06-23 22:53] #56449 closed

[2021-06-23 23:58] jorendorff commented on #80351
The reason typeck succeeds is that it calls `normalize_associated_types_in` [here](https://github.com/rust-lang/rust/blob/5a7834050f3a0ebcd117b4ddf0bc1e8459594309/compiler/rustc_typeck/src/check/closure.rs#L745-L750).

`bound_sig` is `Binder((<u64 as Viewable<'_>>::View)->(), [Region(BrAnon(0))])`.

Before that call, `liberated_sig` is `(<u64 as Viewable<'_>>::View)->()`.

Afterwards, it is `(u64)

[2021-06-24 00:05] #85871 closed

[2021-06-24 01:40] inquisitivecrystal commented on #86395
Thank you for filing this! I'm going to have a look and see if I can figure it out.

@rustbot claim
@rustbot label +C-enhancement +D-newcomer-roadblock

[2021-06-24 03:07] fee1-dead commented on #86565
Unfortunately, I do not represent this community. But I would only agree with realistic and helpful suggestions. Think about this, if no one responded to your issue and someone just added a tag named "invalid" and closed your issue. Wouldn't that be a pretty bad community? I think not necessarily.

If you opened this issue hoping someone would fix it, and end up thinking the same way even after th

[2021-06-24 03:09] fee1-dead commented on #86584
That would probably introduce more confusion. I think the current message is fine because it tells you to change to the type `&mut str`.
If this message is changed to `&mut string` then user might take it as a suggestion to do something like this: `if let Some(&mut string)` which would not work.

[2021-06-24 03:20] fee1-dead commented on #86562
This might be hard to implement. AFAIK Intellij Rust is made from scratch and might have focused on this kind of inference.

The inference logic might have looked at this part
[code]

and concluded that the type of groups cannot be inferred, however...

[code]

This part might be obvious

[2021-06-24 03:32] janpaul123 commented on #58179
I'd actually like to add a +1 for a feature like this. If you have a large codebase it can be hard to keep track of which lines of code to change when a feature becomes stable, so it would be great if there's some mechanism to fail the build if the current Rust version has stabilized a feature. Something like `#[feature_is_stable(my_feature)]` or whatever would be nice.

For now @abonander has a f

[2021-06-24 03:49] IwateKyle commented on #86565
@fee1-dead
Thank you for your genuine and lengthy, and clear response.  After the closing of our conversation yesterday - I took your advice and basically reposted the above question [on Stackoverflow here.](https://stackoverflow.com/questions/68097792/variable-shadowing-bug-in-loop-not-caught-by-compiler-and-crashing-at-runtime).

I finally understand my extreme lacking understanding of shadowing

[2021-06-24 04:38] tlyu commented on #86587
What build directions did you follow? Have you looked at these sections of `config.toml.example`?
[code]

[code]

[2021-06-24 04:51] inquisitivecrystal commented on #86395
This is surprisingly complicated in a bunch of ways.

The relevant function, at least for the base case, is [`parse_pat_range_begin_with`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/pat.rs#L728). At first glance, all you've gotta do is handle the case where there's a `Eq` token next in the queue.

Now for the problems. First off, implementing this cleanly require

[2021-06-24 05:16] dtolnay commented on #63567
Proposing FCP for just the `write` method, as suggested in https://github.com/rust-lang/rust/pull/86344.

[code]

This method is a **safe** equivalent to the **unsafe** `.as_mut_ptr().write(value)` + `assume_init_mut()`.

There is some discussion [above](https://github.com/rust-lang/rust/issues/63567#issuecomment-751401407) about whether the return type makes it unnecessarily prone to leak things

[2021-06-24 05:53] joshtriplett commented on #63567
This feels really late to be suggesting, and I apologize for the bikeshedding, but `write` feels like the wrong name for this method. `write` makes me think of the method of the same name in `io::Write` and `fmt::Write`, which feels confusing.

This method seems more like `set`, or perhaps `init`.

@rfcbot concern name-conflict-with-write-traits

[2021-06-24 06:05] est31 commented on #63567
`set` would be good as well I think. It has prior art in the standard library in the form of `Cell::set`. `init` has no prior art that I know of. The other alternative would be `insert`, which [has prior art too](https://github.com/rust-lang/rust/pull/86344#issuecomment-862441264). Overall I think I still prefer `write` due to the similarity to `ptr::write`. Regarding the point about confusability

[2021-06-24 06:16] joshtriplett commented on #63567
I can certainly acknowledge the similarity to `ptr::write`, but at the same time, I think the potential for confusion there seems high.

I'd be happy with `insert` as well, and I don't have any preference among `set` and `insert`. I only suggested `init` because the type itself is `MaybeUninit` and it has methods like `assume_init`, so an `init` method seems to fit.

What do other @rust-lang/libs-

[2021-06-24 07:06] RalfJung commented on #63567
I agree having `write` in `ptr` as well as `io`/`fmt` is potentially confusing, but IMO that ship has long sailed. For `MaybeUninit` I think we'd need a good reason to *not* follow the precedent of `ptr` (like how we have `assume_init_read` instead of `read`).

[2021-06-24 07:17] pacak opened #86590 "`feature(generic_const_exprs)` does not normalize named consts when equating abstract consts"
I tried this code:

[code]

I expected to see this happen: it typechecks and uses hmm from nested type or fails to compile with a helpful error code.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-06-24 07:29] #86097 closed

[2021-06-24 07:29] #79799 closed

[2021-06-24 07:29] #86518 closed

[2021-06-24 07:31] cnmade opened #86591 ".to_owned() and .unwrap() can be ommited?"
.to_owned()   and .unwrap() can be ommited?

Did the compiler smart enought to know to_owned and unwrap for me ?

Why let me to type   `.to_owned()`  and `.unwrap()` again and again.

You guys genius.

[code]
If .unwrap() should be in each line of the code, It should be auto do the great job.
Why just let programmer coding hard work.

[2021-06-24 07:34] fee1-dead commented on #86591
`unwrap` shouldn't be used in production anyways - `?` should be used instead.

[2021-06-24 07:36] apiraino commented on #85840
ok, closing this as per Alex's suggestion. @abbec please feel free to action this issue again in case something relevant happens again. Thanks again for your time on this issue!

[2021-06-24 07:36] #85840 closed

[2021-06-24 07:45] apiraino commented on #86276
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386276.20rustdoc.3A.20Re-exported.20macros.202.2E0.20are.20rendered.20as.20.60mac.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low

[2021-06-24 07:47] cnmade commented on #86591
@fee1-dead saddly i can see the code .unwrap everywhere, i can see most Rust project contain the .unwrap()

[2021-06-24 08:23] the8472 commented on #86591
Yes, that's the point, you can *see* it. It makes the way error cases are handled explicit, i.e. it makes it visible that the code may panic in many places because that's the only way it's handling errors.

Code that handles errors differently will also look different. If you pass it to the caller (via `?`) it'll be more concise and better. If an error is recoverable it should be handled with a `m

[2021-06-24 08:23] jhpratt commented on #86591
Both `.to_owned()` and `.unwrap()` perform important functionality that should not be hidden from the person writing code.

[2021-06-24 08:36] apiraino commented on #86511
thanks @yume-chan for debugging

paging @Aaron1011 @michaelwoerister as perhaps can share insights about #85702 - is the PR relevant to this issue and the mentioned ones (#86391,  #86354)? Do we have a common root cause? Perhaps this one is a duplicate? thanks :-)

[2021-06-24 08:36] BurntSushi commented on #63567
I'm with @RalfJung. The ship has sailed. And in particular, this is a convenience routine that replaces a use of pt::write, so I feel it's probably the right choice here.

[2021-06-24 09:02] cnmade commented on #86591
@jhpratt It's not means hide. just let compiler do dirty job. and other programming language will not do like this way. the compiler do jobs lots, the free the people will be.

[2021-06-24 09:07] jhpratt commented on #86591
@cnmade You're asking for it to be omitted — that's hidden. If it's wholly inferred, how will the user know that something could **panic**? Or that they're performing a heap allocation? Those are quite important details to not gloss over.

[2021-06-24 09:16] cnmade commented on #86591
@jhpratt even we do not write .unwrap, Rust can panic always, every sys call may occurs panic, i see too many panic, so what's the problem if we do not write .unwrap.

[2021-06-24 09:21] jhpratt commented on #86591
I take it you haven't written much Rust code? Genuinely asking. It is unidiomatic for Rust to do something without being asked. While, yes, this can panic, it also changes the type in a nontrivial way. This could actually lead to other inference issues, not the least of which due to autoderefencing.

If you truly believe you have something that is worth it (which frankly I would strongly oppose),

[2021-06-24 09:24] cnmade commented on #86591
@jhpratt To be honest, This is like feature request, not question or talking about. If you think we should close this feature request, just close it. thanks.

[2021-06-24 09:25] jhpratt commented on #86591
I don't have the permission to close it. My point is that a feature request without _anything whatsoever_ backing it up will inevitably get shot down. This is a fundamental change to the language you're talking about — just saying "please do this" isn't enough.

[2021-06-24 09:28] #86591 closed

[2021-06-24 09:29] jhpratt commented on #83570
Partial stabilization up as #86593.

[2021-06-24 10:10] #77841 closed

[2021-06-24 11:42] BurntSushi commented on #63567
OK, so reading over the discussion above, there seems to be an implication that this routine is only theoretically useful for avoiding `unsafe`. Do we have some examples where this actually avoids `unsafe`?

Maybe this is a silly question, but why doesn't `write` return `T` instead of `&mut T`? If it did that, then you wouldn't need to later call `assume_init` to get the thing you wrote. (Perhaps

[2021-06-24 11:44] RalfJung commented on #63567
`write` takes a `T`, how could it possibly be useful to return it again? (Not to mention that without `T: Copy`, this would be extremely foot-gunny.)

[2021-06-24 11:44] jonas-schievink commented on #58179
That's what `#![deny(stable_features)]` does, so I'm not sure what you're asking for

[2021-06-24 11:51] BurntSushi commented on #63567
@RalfJung Oops. I meant to also say, "and also take `self` instead of `&mut self`."

[2021-06-24 11:54] dtolnay commented on #63567
Taking `self` + `T` and returning `T` would be equivalent to the caller just dropping their MaybeUninit and doing whatever they want with the `T` that they already have, which is much easier without any method involved.

[2021-06-24 11:59] BurntSushi commented on #63567
@dtolnay Hmm, I see. So I guess what I'm left with is a question about when one might want to use this. @est31 gave an example above, but it didn't eliminate any `unsafe`. That's not to say that that means we shouldn't add this, but, for example, I would like to see a doc example for this routine showing when it's most useful.

[2021-06-24 12:03] JohnTitor commented on #86550
Duplicate of #76168

[2021-06-24 12:03] #86550 closed

[2021-06-24 12:15] r00ster91 commented on #86584
I suppose it's fine as is.

[2021-06-24 12:15] #86584 closed

[2021-06-24 12:40] dtolnay commented on #63567
Some use cases I found in GitHub search:

- https://github.com/strake/hash-table.rs/blob/25d89bc43a4f4a8a366eaccf67b5ce8041d29023/src/lib.rs#L106-L108 &mdash; this is dealing with `self.elems` of type `Es: IndexMut<usize, Output = MaybeUninit<(K, T)>>`

- https://github.com/maboesanman/cozal/blob/d25f626384f49451582b50d8a6fb5df44714cb4d/src/source/adapters/transposer/engine/pin_stack.rs#L72-L73 &m

[2021-06-24 12:55] BurntSushi commented on #63567
All righty, thanks! This LGTM once we have a good doc example. @est31 Would it be possible to include one (perhaps based on one of @dtolnay's examples) in your stabilization PR?

@rfcbot concern doc-example

[2021-06-24 13:08] dns2utf8 commented on #86578
I uploaded a demo for the PR: https://data.estada.ch/rustdoc-nightly_2336406b38_2021-06-24/rustdoc_demo/mod1/index.html

[2021-06-24 14:03] #85224 closed

[2021-06-24 14:04] Mark-Simulacrum opened #86597 "Crater runs for 1.54"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-06-24 14:09] Mark-Simulacrum commented on #86597
@craterbot run name=beta-1.54-rustdoc-1 start=1.53.0 end=beta-2021-06-23 mode=rustdoc cap-lints=warn p=5

[2021-06-24 14:42] pnkfelix commented on #78226
@jacobbramley are you willing to own this issue, so that we have some tracking of who is looking into it before the 1.54 release happens?

[2021-06-24 14:47] pnkfelix commented on #84879
(close this after #85193 gets a beta backport)

[2021-06-24 15:15] jacobbramley commented on #78226
Currently, @JamieCunliffe (also in the Arm team) is working on it so he's perhaps a better choice.

[2021-06-24 15:16] seanmonstar commented on #86369
I'll just note that this change conflicts with `bytes::Buf` that is implemented for `Cursor<impl AsRef<[u8]>>`. The proposed `remaining` method here has a different signature, so shadowing won't work. While adding this method may be desired and ultimately the right decision (I haven't thought enough to say myself), it _will_ have an impact on the ecosystem using `bytes::Buf`.

I've also noticed an

[2021-06-24 15:25] pickfire commented on #86551
I faced another issue today. `cargo check` error after I `git rebase master`. Even after rebase is done it still have issue.
[code]

[2021-06-24 15:28] Amanieu commented on #35119
@dancrossnyc I've added a `raw` option in #86599 which should address this problem.

[2021-06-24 15:31] rylev opened #86600 "illegal_floating_point_literal_pattern warns twice"
With the following code [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3d8d20c7f65bc6699b47419f26e8095f):

[code]

I expected to see one warning.

Instead, this happened:

[code]

### Meta

[code]

[2021-06-24 15:40] dancrossnyc commented on #35119
Thank you so much!

[2021-06-24 16:13] Zapeth commented on #86587
I haven't tried to build rust from scratch myself to be honest, but as I said the problem is present in practically every distributed non-rustup build.

So either they are all missing some required configuration or the detailed version information is only included when the source is built from the git repository.

Here are some pkg build files for reference:
MinGW: https://github.com/msys2/MINGW-p

[2021-06-24 16:23] repnop opened #86602 "Are the `#![feature(layout_for_ptr)]` functions sound to call on invalid data pointers?"
Reading the documentation for the [`#![feature(layout_for_ptr)]`](https://github.com/rust-lang/rust/issues/69835) functions, it doesn't mention if it accepts invalid data pointer values (e.g. a pointer created with `core::ptr::null()`), but seems to suggest that it does:

but there's a comment mentioning that the pointer must be valid inside the functions, e.g.:
https://github.com/rust-lang/rust/b

[2021-06-24 16:30] memoryruins commented on #86602
@rustbot label +A-docs +C-enhancement +T-libs-api +A-raw-pointers

[2021-06-24 16:44] janpaul123 commented on #58179
Not quite. Let me explain my use case in more detail.

So, say I work on a production application, so I don't really want to run the nightly compiler much at all. I do have a CI system set up that runs a (stable) `cargo build` and `cargo test` and so on.

Now, I need to use the [memoffset](https://crates.io/crates/memoffset) crate for something. It unfortunately has a runtime cost, but look at tha

[2021-06-24 16:45] joshtriplett commented on #63567
@RalfJung wrote:

OK, that's a fair point, especially given that we already have methods with `read` in the name.

Last question then: would it potentially make sense, given the precedent of `assume_init_read` rather than `read`, to similarly call this `init_write` or something along those lines?

[2021-06-24 17:08] asquared31415 commented on #86602
[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9085236f90e3f42a9cd3b02b4478e5f6) demonstrating that the metadata is read correctly despite the pointer being invalid in the traditional sense

[2021-06-24 17:19] RalfJung commented on #63567
Note that `assume_init_read` is still unstable.

Maybe? `assume_init` is how we mark all the methods that, well, assume that the data is initialized. This is a crucial part of their safety contract. `write` on the other hand is safe so this is less pressing.

But I could imagine this making sense -- I guess let's see what people that actually use this API (unlike me ;) say.

[2021-06-24 17:30] SimonSapin commented on #63567
`init_write` sounds like “initialize and write” to me, with two redundant almost-synonyms verbs. (Whereas `assume_init_read` is “read while assuming already initializ*ed*” with `init` describing a state rather than an action.)

Calling it `write` like the pointer method makes sense to me.

[2021-06-24 17:33] joshtriplett commented on #63567
Alright (all `write` ;) ), sounds like the consensus is to stick with `write` then. I withdraw the concern.

@rfcbot resolved name-conflict-with-write-traits

[2021-06-24 18:36] soerenmeier commented on #86369
That seems unfortunate. I'd be okay with changing the signature to return a `usize`, I chose `u64` since position is `u64` but since the underlying slice cannot be bigger than `usize` it would be possible to change the signature. The only point to consider is if support for non-contiguous buffers is added the length could be bigger than `usize`, but that also could be a problem with `u64`.

About

[2021-06-24 18:54] stephanemagnenat commented on #69821
It seems that `mem::discriminant` is now const, as [the doc shows](https://doc.rust-lang.org/std/mem/fn.discriminant.html). Shouldn't this issue be closed?

[2021-06-24 19:19] memoryruins commented on #69821
@stephanemagnenat the const part of it is still unstable.

https://github.com/rust-lang/rust/blob/d95745e5fa39680d97a52d0e07ed7842b163bacc/library/core/src/mem/mod.rs#L1014-L1018

If you view nightly docs, it is much clearer, showing `(const: unstable)` next to the function. It will take a couple of releases before that rustdoc feature is part of stable docs.

![image](https://user-images.githubus

[2021-06-24 19:31] jorendorff commented on #80351
OK, recap time. The Story So Far:

[code]

Type checking succeeds, but we hit an ICE during codegen, due to failure to select an impl for the obligation `[closure type]: Fn(<u64 as Viewable<'a>>::View)`.

This means there is a mismatch between how typeck solves traits and how codegen selects trait impls: typeck was satisfied the impl exists, but codegen can't find it.

[2021-06-24 19:31] jorendorff commented on #80351
During typeck, the stack is (most recent call last):
- `FnCtxt::check_closure(expected=for<'a> Fn(<u64 as Viewable<'a>>::View))` in `rustc_typeck/src/check/closure.rs`
- ↪ `FnCtxt::sig_of_closure`
- ↪ `FnCtxt::sig_of_closure_with_expectation` -- Note: `closure_sigs` is called after `expected_sig` is "bound" to the closure type, which happens in this method.
- ↪ `FnCtxt::closure_sigs` -- This norma

[2021-06-24 19:38] est31 commented on #63567
Will try to build a nice self contained example.

(As a note, the `hash-table.rs` example linked in the comment above is actually unsound as it calls `assume_init_mut` on an uninitialized value, yielding a mutable reference to it. I think this is further evidence that safe APIs for MaybeUninit are highly useful.)

[2021-06-24 19:59] boringcactus opened #86605 "Blanket impls constrained by different associated types falsely flagged as conflicting"
I tried this code (aggressively simplified from Diesel, with which I originally encountered this bug):

[code]

I expected to see this happen: this code compiles, because by definition nothing can implement both `Backend<RawValue=()>` and `Backend<RawValue=u8>`.

Instead, this happened: rustc gives `error[E0119]: conflicting implementations of trait 'FromSql<_>' for type 'std::string::String'`

##

[2021-06-24 20:01] #31259 closed

[2021-06-24 20:19] jonas-schievink commented on #86605
Looks like a duplicate of https://github.com/rust-lang/rust/issues/20400

[2021-06-24 20:19] #86605 closed

[2021-06-24 20:23] Mark-Simulacrum opened #86606 "RLS does not build on aarch64 Windows"
For the last several cycles we've been cherry picking a patch (https://github.com/rust-lang/rust/commit/c4aeccdf45fdf8e543929298c4ad5bcfc7e00111) to disable the normal missing tools failure on beta/stable, due to winapi 0.2 not building on aarch64 Windows - https://github.com/rust-lang-ci/rust/runs/2896069230

[2021-06-24 20:45] Thomasdezeeuw commented on #52633
This seems to be resolved. Maybe in https://github.com/rust-lang/rust/commit/1b1bf2463619e23eba1b36b6d7df276ce73563dd? Thanks @ijackson.

[2021-06-24 20:45] #52633 closed

[2021-06-24 20:56] jonhoo commented on #84738
A note to others who stumble upon this, the workaround in https://github.com/rust-lang/rust/issues/84738#issuecomment-831249933 works great; to figure out which crate(s) you need to list, run:

[code]

Look for the last log message before the panic — in my case, that was:

[code]

Adding `/// [bytes]` fixed the problem.

[2021-06-24 21:09] matklad commented on #54724
It would be helpful to understand what `def_site` means, at least in the general terms. I get a type error when thinking about this -- proc macro definition side is in a crate that is compiled for `$host`, so in the `$target` (where we actually expand the macro), this span doesn't exist, no?

[2021-06-24 21:15] jorendorff commented on #80351
@wesleywiser pointed out that the snippet of log under "During codegen" above doesn't seem to be the one that corresponds to the "During typeck". Here's the broader context during codegen:

[code]

[2021-06-24 21:30] jyn514 commented on #84738
`RUSTDOC_LOG=rustc_metadata::creader=info` should give you a lot less logging.

[2021-06-24 22:03] jyn514 commented on #86448
@danielhenrymantilla am I right in understanding this only happens for cross-crate traits, and impls for hidden traits in the same crate are still hidden? In other words, #86513 just makes the cross-crate case consistent?

[2021-06-24 22:05] est31 commented on #63567
@BurntSushi is the example added by #86344 good? It bases on the pin_stack code example.

[2021-06-24 22:47] BurntSushi commented on #63567
@est31 Yes, love it, thank you. :-)

@rfcbot resolve doc-example

[2021-06-24 23:00] danielhenrymantilla commented on #86448
I believe so, yes: the `strip-hidden-items` pass was already taking care of such cases for _local_ `#[doc(hidden)]` types. FWIW, the thing that motivated this discussion was noticing a `From<Unique<T>> for ptr::NonNull<T>` leaking on the docs for `::std`, but not on the ones for `::core`

[2021-06-25 00:19] seanmonstar commented on #86369
I don't mean an error in libstd or it's test suite. But rather the greater ecosystem, anywhere using `bytes::Buf` and also running tests on nightly. For example, this PR for h2: https://github.com/hyperium/h2/pull/547

[2021-06-25 00:39] ijackson commented on #52633
I don't think any of the things I have done have improved this area, yet, unfortunately.  And I think the issue is still present (although I don't have a repro).

In #85377 I am trying to improve the docs on `std::process::abort` vs `core::intrinsics::abort` (although I seem to have somehow dropped the ball there; I've put it back on my todo list).

I have [another branch](https://github.com/ijack

[2021-06-25 00:40] nikomatsakis opened #86609 "borrowck error does not suggest missing await"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=32e093c0bcec94c89f98d948a8b3b2c4)

[code]

The current output is:

[code]

It took me a while to realize the problem is that you need `foo(&x).await`

[2021-06-25 00:43] estebank commented on #58179
Just in case you are not aware, `rustup` lets you install multiple versions and you can invoke a specific version using `+version`. So if you have stable installed and set as the default, nothing changes, but if you use `rustup toolchain add nightly` then you can do `rustc +nightly foo.rs` or `cargo +nightly run`, without it affecting your other workflows.

[2021-06-25 00:57] estebank commented on #86395
@inquisitivecrystal you don't have to add a new method, you use [`look_ahead`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/mod.rs#L928). You can see how to use it for example [in `is_keyword_ahead`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/mod.rs#L968-L971). That function _doesn't_ affect the "expected token" list and won't cau

[2021-06-25 01:02] #48951 closed

[2021-06-25 01:19] soerenmeier commented on #86369
I didn't either. I meant the use of `Cursor` in combination with `bytes::Buf` on nightly calling `remaining`. After your first comment i made a few short searches concluding with the statement above, interpreting your reaction, that was probably the wrong assessment. Imho failing nightly tests should be acceptable but addressed (if stable is the target).
Do you have a suggestion to solve this?

[2021-06-25 01:23] #82405 closed

[2021-06-25 01:38] seanmonstar commented on #86369
Yea, I see two solutions (so far, maybe there's a better): either libstd changes to so that nightly doesn't include the conflict, or the ecosystem that depends on `bytes::Buf` and runs tests on nightly all need to change.

(I agree failing nightly tests is acceptable to a degree, but at the same time, if they're all set to allow failure, it's very easy to miss that nightly is broken, and if they b

[2021-06-25 02:29] yangby-cryptape opened #86610 "Binary size is significant increased from `1.46.0` to `1.51.0`"
## In Brief

Our project changed the locked `rust-toolchain` from `1.46.0` to `1.51.0`.
Then binary size (`x86_64-unknown-linux-gnu`, `release`) is significant increased (`49 MiB -> 53 MiB`, `+8.2%`).

## Details

### Size of `.strtab` section is significant increased

I used `cargo build --release` to build the same code with `rust 1.46.0` and `rust 1.51.0`.

Then I analyzed the binary with `read

[2021-06-25 03:40] jyn514 commented on #86610
See also https://github.com/rust-lang/rust/issues/86431

[2021-06-25 03:48] #86567 closed

[2021-06-25 03:52] ayyEve opened #86613 "stdin hangs"
Hi all,
I'm getting a weird stdin blocking issue. when reading from stdin, the console appears to freeze, nothing is written to the console. however, on windows, when the app is terminated the console buffer is "flushed", and all missing output is written, this doesnt seem to happen on linux (again, through ssh).
I originally encountered this issue on windows, but i was able to replicate it on lin

[2021-06-25 04:01] AngelOnFira commented on #86613
I tested this in Docker on Linux with Rust 1.33 from Feb 2019, and got the same result.

[code]

[2021-06-25 05:33] fee1-dead commented on #86613
This might be expected behavior on linux that is platform-specific, but I am not sure though. `read_to_string` would read from standard input until `EOF` is reached (you can input `EOF` by pressing Ctrl+D on the start of a new line). I don't know about windows though.

[2021-06-25 05:46] inquisitivecrystal opened #86614 "ICE when building rustc: 'assertion failed: `(left == right)`"
I hit an ICE while building rustc. One of everyone's favorite fingerprint matching bugs. There's a fair chance that it's been fixed by now, but I thought I'd post a backtrace in case this specific one hadn't been caught yet. I don't have a code sample, so if this isn't enough to debug it, I'm happy to close.

@rustbot label +I-ICE +T-compiler

<details>
<code>
thread 'rustc' panicked at 'assertion

[2021-06-25 06:02] Hawk777 opened #86615 "False positive unused_lifetimes warning with an async fn"
Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2fce0b89b3c5742798095a09811c56a7):

[code]

The current output is:

[code]

Removing the word `async` makes the warning disappear. I am currently running 1.52.1, and this also happens in 1.53.0 on the playground, as well as 1.55.0 nightly on the playground.

[2021-06-25 06:14] stephanemagnenat commented on #69821
Thank you for the update!

[2021-06-25 06:55] marcospb19 commented on #80552
I think that `split_on_change` and `split_by_neighbour` are confusing because other `split_*` iterators skip elements, except for `split_inclusive*`.

Here a "Group" is a subslice of contiguous elements, each of the subslices is delimited by the element(s) where the predicate fails. Is there other important definition of a group that should be prioritized over this?

Minor thing, but I would prefe

[2021-06-25 07:22] stephanemagnenat commented on #69821
Btw, I saw on the PR (#69825) that people were asking for a use case. I have one: I am making a parser for a DSL that must match existing data structures, and these can have members of various types. I thus have a custom `Value` type, and would like these data structures to return a description of themselves that contains which variant of `Value` they accept. I was planning to use the `Discriminan

[2021-06-25 08:40] fee1-dead commented on #86590
There are two errors:
[code]

<details><summary>Backtrace 1</summary>
<p>

[code]
</p>
</details>

<details><summary>Backtrace 2</summary>
<p>

[code]
</p></details>

[2021-06-25 08:43] nikomatsakis opened #86618 "Implementation Issue for RFC 2528: type-changing struct update syntax #86555"
This issue tracks the implementation of rust-lang/rfcs#2528, "type changing struct update syntax" (general tracking issue: https://github.com/rust-lang/rust/issues/86555).

[2021-06-25 10:23] bluebear94 commented on #56980
I'm using 1.55.0 nightly and RLS still eventually gobbles up 6 GiB of memory on my project (albeit during active editing rather than idle conditions). Hope this gets fixed.

[2021-06-25 11:01] JohnTitor commented on #86606
cc rust-lang/rls#1693

[2021-06-25 11:23] SkiFire13 commented on #80552
I usually think of a group as a set of elements, not necessarily contiguous. This is the meaning it has for example in Java and SQL.

In the original RFC someone proposed calling them `chunks_by` or `split_by`, which IMO seems more fitting. Between the two I would go for the `chunks_by`. `split_by` seems to be overlapping with the Needle API, although you could also argue that this may be part of

[2021-06-25 11:56] #86483 closed

[2021-06-25 12:05] xldenis commented on #74938
Can we close this issue?

[2021-06-25 12:12] tobz1000 commented on #56980
@bluebear94 rust-analyzer is essentially the primary Rust sdk library now (and it's much better). You should probably switch if your editor supports it.

[2021-06-25 12:28] jyn514 commented on #59841
This is fixed on nightly: https://doc.rust-lang.org/nightly/std/sync/struct.Arc.html#method.as_ref

(If you don't have auto-hide items set, you can turn it on in settings; it will still work even so.)

[2021-06-25 12:28] #59841 closed

[2021-06-25 12:32] jyn514 opened #86620 "rustdoc links to the wrong method anchor"
I tried this code: https://github.com/laysakura/serde-encrypt/commit/b46c11860bf83845e6b8053d04525cb44295e510

I expected to see this happen: All links rustdoc generates are valid.

Instead, this happened: `In impl<V: Multilane, T> VZip for T`, on `encrypt/encrypted_message/struct.EncryptedMessage.html`, the function vzip links to #tymethod.vzip, but the proper link is #method.vzip. This causes th

[2021-06-25 12:51] jyn514 commented on #86620
searched nightlies: from nightly-2021-04-14 to nightly-2021-04-16
regressed nightly: nightly-2021-04-15
searched commits: from https://github.com/rust-lang/rust/commit/132b4e5d167b7e622fcc11fa2b67b931105b4de1 to https://github.com/rust-lang/rust/commit/16bf626a31cb5b121d0bca2baa969b4f67eb0dab
regressed commit: https://github.com/rust-lang/rust/commit/b203b0d240b67916cfa77f640aedaf1c87d50f6d

<deta

[2021-06-25 12:59] jonas-schievink commented on #86613
This works correctly on Linux/Unix. stdin only closes when pressing Ctrl+D and `read_to_string` will block until the stream is closed. Not sure about the Windows behavior though, that looks odd.

[2021-06-25 13:03] jonas-schievink commented on #86614
duplicate of https://github.com/rust-lang/rust/issues/85197

[2021-06-25 13:03] #86614 closed

[2021-06-25 13:16] Thomasdezeeuw commented on #52633
@ijackson I'm not sure it was you personally, but multiple situations have certainly improved:
* Double panics now print an backtrack and an error saying there was a panic while panicking: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3eb50efa8b31b58970167ed6c50f4c76. If I remember correctly this wasn't the case before.
* `Arc` deosn't double drop its content anymore even

[2021-06-25 13:43] ayyEve commented on #86613
Hi all, so it appears this is working as expected (at least on linux). however, I personally think the docs should explain this a bit better.
The example for stdin() is the read_to_string, however i am used to stdin being used for user input, not piped input. This example only works for piped input, however it doesnt specify this, so a noob (like me) can easily have issues.
It would be nice if the

[2021-06-25 14:49] fee1-dead commented on #86620
MCVE:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=81967987fd96b47a7e4110f3ea7e444c)

@rustbot label -E-needs-mcve

[2021-06-25 15:03] fee1-dead commented on #86620
Problem is:
https://github.com/rust-lang/rust/blob/117799b73ccf434f588528d97596392062535e3f/src/librustdoc/html/render/mod.rs#L1353-L1359

Where the item from the trait is used to get `source_id`. This produces the error because it uses `item.type_()`, but the type is now `TyMethod` because it was in a trait. This can be just changed to `item_type` instead, which refers to the type of the `impl` m

[2021-06-25 15:04] mockersf commented on #86620
This seems to happen only for implementations of `VZip`:
https://docs.rs/serde-encrypt-core/0.6.0/serde_encrypt_core/key/key_pair/public_key/struct.ReceiverPublicKey.html#impl-VZip%3CV%3E
Not sure why, but the trait itself is not a link to the original trait.

It's https://docs.rs/ppv-lite86/0.2.10/ppv_lite86/trait.VZip.html#method.vzip, and on it's own page the trait name is not a link in it's im

[2021-06-25 15:08] mockersf commented on #86620
There are two links:
* the anchor, which is a `#method`, and links to the current page
* the link on the function name, which is a `#tymethod` and should link to the trait definition page.

The issue is on the second one and it should stay a `#tymethod` I think

[2021-06-25 15:13] JamieCunliffe commented on #78226
@Mark-Simulacrum mentioned they couldn't reproduce this locally, I have managed to reproduce it locally with the following config which I got by running one of the CI scripts.
[code]

That fails on `master 50e0cc59ffcacda5b48f4edb95e5a5c353624fb0` and `beta bf62f4de32a085c1080d9e77b1b73f1a8e42cce2` for me locally. Although the test is passing in the CI for master currently.

Changing the `codegen-

[2021-06-25 15:15] fee1-dead commented on #86620
This seems to be more complicated

@rustbot label E-needs-mcve -E-easy

[2021-06-25 15:26] fee1-dead commented on #86620
I actually can't reproduce this with the latest nightly with the crate. I cloned the repo, switched to that particular commit and ran `cargo +nightly doc`. The link is not broken.

[2021-06-25 16:08] eholk opened #86628 "Rustc does not parse tool name for lints controlled by the command line"
**Problem**

This came up during the discussion of https://github.com/rust-lang/cargo/issues/5034. Lints can be broken into rustc builtin lints, and lints supplied by a tool such as clippy. For clippy lints, they are prefixed by `clippy::`. The idea is that external lints are supposed to be ignored if the tool is not active. This works for lints controlled through attributes, such as `#![allow(cli

[2021-06-25 16:10] eholk commented on #86628
I'm working on a fix at https://github.com/eholk/rust/tree/lint-tool. The fix there so far is doing an ad-hoc parsing, although it seems like it'd be better to reuse the rustc parser for paths, since that is how the attribute version is parsed. I'm going to clean it up some more, make sure to add tests, etc. before filing an PR.

[2021-06-25 16:33] ptrojahn commented on #85851
@rustbot claim

[2021-06-25 17:10] tmandry commented on #86615
Someone interested in fixing this _might_ find it helpful to look at #79689.

[2021-06-25 17:11] tmandry commented on #41960
#86615 should also be considered blocking.

[2021-06-25 17:37] jyn514 commented on #82024
The compiler is now using LLVM 12.0.1, so this might be fixed?

[2021-06-25 17:50] jsha opened #86629 "rustdoc: upgrade or remove normalize.css"
We're using a very old version of normalize.css (3.0.0, from 2014). In #82313 I tried to update to the latest, 8.0.1. But it was reverted in #82549 because of these regressions:

#82548
#82542

At the time we didn't worry about it much since we didn't need the update for anything. However, it turns out in #86589 that our old version of normalize.css is hiding the triangles on user-provided `<detai

[2021-06-25 17:56] bjorn3 commented on #71436
If the token api is made to work outside a proc macro, but the diagnostics api is not, I think users of proc_macro can just access the token api without checking `is_available` and maybe only check the rustc version. Usage of the diagnostics api should then still be behind a `is_available` check. Basically if it always works, `is_available` shouldn't be used, but if it only works inside a proc mac

[2021-06-25 17:59] bjorn3 commented on #71436
I would really like for this feature to be stabilized. proc_macro2 is currently unusable with cg_clif outside of proc macros, as it checks if a proc macro function panics when being called. cg_clif doesn't yet support unwinding on panics. Also if the function proc_macro2 checks becomes available outside of a proc macro, that will break proc_macro2 usage outside of proc macros, so the sooner it mig

[2021-06-25 18:35] cynecx opened #86630 "rustdoc (nightly): trait implementors sections contains duplicate entries"
Live: https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html#impl-IntoIterator-30

Issue: trait implementors sections contains duplicate entries (in the example below, the BinaryHeap impl appears twice)

![image](https://user-images.githubusercontent.com/5961244/123470495-cba11480-d5f4-11eb-8e9f-5d1ead8e73e8.png)

[code]

[2021-06-25 18:38] cynecx opened #86631 "rustdoc: trait implementors don't have assoc. types shown"
Live: https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html#impl-IntoIterator-30

Trait implementors don't have their assoc. types shown (stable -> nightly regression).

nightly:

![image](https://user-images.githubusercontent.com/5961244/123470800-2d617e80-d5f5-11eb-92aa-ac85a9f7619e.png)

stable:

![image](https://user-images.githubusercontent.com/5961244/123470834-3b170400-d5f5-11e

[2021-06-25 18:42] cynecx opened #86632 "rustdoc (nightly): some trait implementors don't have src link"
Live: https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html

Some trait implementors don't have src link and anchors:

![image](https://user-images.githubusercontent.com/5961244/123471238-c7c1c200-d5f5-11eb-81b1-6601e2bf7bf3.png)

[code]

[2021-06-25 18:46] ehuss opened #86633 "Confusion about future_prelude_collision"
I tried this code:

[code]

I expected to see this happen: No warning

Instead, this happened: Got the warning:

[code]

AFAIK, this should not be ambiguous, since it is an inherent method, which should take priority over the TryInto trait. Also, the suggestion doesn't make much sense, since it just surrounds the variable with parenthesis, which have no effect (and indeed, can be removed even on 2

[2021-06-25 18:58] m-ou-se commented on #86633
cc @jam1garner

[2021-06-25 19:01] mcy commented on #85968
@RalfJung I think we can close this, if you think it's a non-issue (beyond tracking that LLVM doesn't suddenly do anything wrong, which I think you're already keeping an eye on). I think my concern was around `eq` comparisons not being valid across provenances, since last time I had to look at this for C it turned out that the rules were, uh, not great. I think the consensus is correct: we should

[2021-06-25 19:16] jam1garner commented on #86633
I'll look into it, in some cases inherent methods do collide but this is definitely a false positive, might just be checking the number of derefs.

[2021-06-25 19:16] jam1garner commented on #86633
@rustbot claim

[2021-06-25 19:47] inquisitivecrystal commented on #86633
@rustbot label +A-diagnostics +A-edition-2021 +T-compiler

[2021-06-25 19:51] inquisitivecrystal commented on #86610
@rustbot label +I-heavy

[2021-06-25 20:05] CraftSpider opened #86635 "Trait bound claims missing requirements despite those bounds being implied by the trait"
I tried this code: [Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bad85946a6fbab31976393d7a7419316)

I expected to see this happen: Only one error: `Foo` cannot be implemented for `Bar`, the function should compile.

Instead, this happened: The function complains about missing bounds, despite the fact that those bounds should be implicit by the requiremen

[2021-06-25 20:31] CDirkx commented on #85612
Regarding `is_global`: In the current implementation there is a conflation between the concepts of globally reachable, and having global scope. To address this I submitted #85696 to rework `is_unicast_global` and #86634 to rework `is_global`.

[2021-06-25 20:40] #86448 closed

[2021-06-25 20:50] dsherret opened #86638 "Path attribute on module fails to compile on non-windows platforms when going up a directory"
I tried this code:

[code]

I expected to see this happen: To be consistent across platforms. Maybe compile on Linux and Mac as it does on Windows when `./dir/my_file.rs` exists.

Instead, this happened: Only on Linux and Mac...

[code]

### Meta

[code]

`rustc --version --verbose`:
[code]

**Workaround**

[code]

[2021-06-25 22:18] DevinR528 commented on #84332
@rustbot claim

[2021-06-25 22:28] eholk commented on #86628
@rustbot claim

[2021-06-26 00:16] jsha opened #86640 "rustdoc: enum fields should use fully-qualified type"
Right now, when an enum field is rendered, it uses the bare type name without module or crate qualifiers. For instance: https://docs.rs/rustls/0.19.1/rustls/enum.TLSError.html

[code]

Those `Error` are two different error types from other crates: webpki::Error and sct::Error. And indeed you can see that by hovering them. I think the displayed name should also use the fully qualified form.

[2021-06-26 00:20] nikomatsakis commented on #86618
@rustbot assign @kolharsam

They expressed an interest in this!

[2021-06-26 01:18] jyn514 commented on #86630
One is `std::BinaryHeap` and the other is `alloc::BinaryHeap`. I don't know if there's a good way to avoid this with how rustdoc currently works; this seems like another good use case for https://github.com/rust-lang/rfcs/issues/3011.

[2021-06-26 01:19] jyn514 commented on #86630
I thought there was another issue open for this somewhere, but I can't seem to find it.

[2021-06-26 01:26] jyn514 commented on #86631
This was intentional in https://github.com/rust-lang/rust/pull/85970. cc @jsha

[2021-06-26 01:28] jyn514 commented on #86632
This is also present on stable:
![image](https://user-images.githubusercontent.com/23638587/123497571-41f54500-d5fc-11eb-968d-92e99e488da8.png)

[2021-06-26 01:33] jyn514 commented on #86640
This is a duplicate of an existing issue, but I can't find it.

[2021-06-26 01:34] jyn514 commented on #60996
doc(include) has been removed. https://github.com/rust-lang/rust/pull/85457

[2021-06-26 01:34] #60996 closed

[2021-06-26 01:34] jyn514 commented on #60997
doc(include) has been removed. https://github.com/rust-lang/rust/pull/85457

[2021-06-26 01:34] #60997 closed

[2021-06-26 02:02] fee1-dead commented on #86620
It reproduced after I ran `cargo clean`.

The significant difference might be that the first run did not have `Checking ppv-lite86 v0.2.10`

[2021-06-26 02:18] pickfire commented on #86551
Another one today.
[code]

[2021-06-26 02:44] inquisitivecrystal commented on #86395
Thanks, @estebank. That's extraordinarily helpful.

I've implemented this, limited to the `..==` case (so not `..= =` or `.. ==`). I'm going to wait till #83918 is merged, since that will simplify my implementation substantially and they'd merge conflict anyway. I'll `r?` you when I open the PR.

Now to try this again:
@rustbot claim
@rustbot label +C-enhancement +D-newcomer-roadblock

[2021-06-26 04:22] TomerAberbach opened #86642 "Error using `impl_trait_in_bindings`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-26 05:09] #83475 closed

[2021-06-26 05:24] kolharsam commented on #86618
@rustbot claim

[2021-06-26 06:55] jsha commented on #51860
I think since #83337 this is mostly resolved: structs contents are commonly shown now.

[2021-06-26 08:19] InfiniteLove2020 opened #86643 "- Testing"
- Testing

__Originally posted by @InfiniteLove2020 in https://github.com/jesusarockias/github-pages-with-jekyll/issues/1__

__Originally posted by @InfiniteLove2020 in https://github.com/jesusarockias/github-pages-with-jekyll/issues/2__

[2021-06-26 08:25] fweimer commented on #47714
This will be fixed by upgrading to glibc 2.34—`libdl.a` is empty (so that `-ldl` keeps working), and `dlopen` etc. are always available.

[2021-06-26 09:01] inquisitivecrystal commented on #86579
@rustbot label +A-associated-items +C-enhancement +D-newcomer-roadblock

I'm currently figuring out whether I'll be able to implement this.

[2021-06-26 09:24] aobatact commented on #53485
Well knowing why it is not sorted is useful (at least for me).
For example we can do like this.
[code]
But even if is_sorted returns Some(false), NaN could still be included after it, so you could argue that it's meaningless.

Well I came up with other idea like having `is_sorted_until(&self) -> Result<(),Result<usize,usize>>`, though it will be other issue.

[2021-06-26 09:30] nikomatsakis commented on #86618
Here are some mentoring notes.

## Step 0: Create the feature gate

We need a feature gate to control when users are accessing this feature. Instructions for adding a feature gate are here:

https://rustc-dev-guide.rust-lang.org/feature-gates.html#adding-a-feature-gate

**Adding a feature gate can and should be its own PR!**

[2021-06-26 09:45] nikomatsakis commented on #86618
Oh, one thing I forgot to mention! We are going to want to make these changes *conditional* on whether the feature gate is enabled.

[2021-06-26 10:21] nikomatsakis commented on #84625
After some discussion, decided this is premature.

[2021-06-26 10:21] #84625 closed

[2021-06-26 10:24] #86643 closed

[2021-06-26 10:37] RalfJung commented on #85968
This is correct. But LLVM is not C. :)

I agree that it is worth keeping an eye out for any places where we rely on LLVM differing from C. But I don't think having this issue helps in that quest. Maybe we should make a dedicated list of the cases where we do that... though I don't know where to put that list such that we'll find it when needed. ;)

So I'll close this issue then. Thanks for bringin

[2021-06-26 10:37] #85968 closed

[2021-06-26 10:39] timClicks commented on #86395
Wow, well done @inquisitivecrystal. Over time I hope that I can improve things myself. Nice work!

[2021-06-26 10:46] RalfJung commented on #86602
Yes, the caller must provide a valid *raw pointer*. Which values are valid for which type is [documented in the reference](https://doc.rust-lang.org/reference/behavior-considered-undefined.html).

[2021-06-26 12:49] FabianWolff commented on #82909
Somewhat reduced:
[code]

[2021-06-26 13:33] #78482 closed

[2021-06-26 13:35] DJMcNab commented on #80089
In the bevy discord, we've run into a special case of this issue where the middle part (`B` in the above example) is an associated function, i.e.
[code]
Full example for [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=acb93fa17c7fe8a4a90ffa553806292f).

This gives the error:
[code]

In this case, where the function exists, the correct code is:
[code]

[2021-06-26 13:43] Kestrer commented on #83014
If you encountered this bug in the context of attempting to return an associated type inside a trait method, you can work around it by explicitly specifying the associated type instead of using its name. So this code does not compile:

[code]

But this code does:

[code]

[2021-06-26 13:51] fee1-dead commented on #86635
Minified:
[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d434489b8d9e6020d63747b1a42b9e61)

[2021-06-26 14:28] soerenmeier commented on #86369
@yaahc can `remaining` be removed from nightly without removing it from this proposal? Or can we rename it just for nightly (ex. `remaining_len`)?

[2021-06-26 15:04] kolharsam commented on #86618
@nikomatsakis Have made a respective PR for the same here: https://github.com/rust-lang/rust/pull/86646

[2021-06-26 16:07] somewheve commented on #77983
[code]

[code]

 the lint should be uplifted from clippy to rustc too .

[2021-06-26 16:38] cgwalters commented on #47714
On Sat, Jun 26, 2021, at 4:25 AM, Florian Weimer wrote:

Thanks!

[2021-06-26 17:19] andrewbanchich commented on #86066
I'm not sure, I haven't used any other macros that make network requests before.

For these stats, I built the entire project, added a newline to invalidate the cache, recorded the time, removed the newline, profiled it with timings, so to the best of my understanding it should be an apples to apples comparison.

Also, the `summarize` command only *says* `Total cpu time: 2.6826241s`, but it was ac

[2021-06-26 17:51] ariasuni opened #86649 "`fs::read_dir()` fails with error 0 on Linux if directory is on NTFS and contains file with filename > 255 bytes"
1. Create a filename on an NTFS partition with a name > 255 bytes, e.g. `一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十一二三四五六七八九十`.
2. Run this code with the path to the directory containing the file with the very long filename:

[code]

I expected to see this happen: the code works until it panics on `todo!()`

Instead, this happened: ```thread 'main' panicked at

[2021-06-26 18:32] #85454 closed

[2021-06-26 19:21] ChrisDenton commented on #86649
So NTFS has a limit of 255 UTF-16 code units. However, something here is interpreting that as being a byte limit of 255.

I think this error originates outside of Rust? If [`libc::opendir`](https://github.com/rust-lang/rust/blob/5a7834050f3a0ebcd117b4ddf0bc1e8459594309/library/std/src/sys/unix/fs.rs#L1003) is returning a null pointer then I'm not sure what Rust can do?

[2021-06-26 19:40] kushwahashiv commented on #67644
any update?

[2021-06-26 19:45] edelsohn commented on #85931
A financial bounty from IBM to solve this issue is open for discussion.

[2021-06-26 19:57] gilescope commented on #58278
I'd love a dbg! that worked in no_std contexts as well (but perhaps that should have a different tracking issue...)

[2021-06-26 20:12] SimonSapin commented on #58278
Where would the output go? By definition a `no_std` context does not have standard-library-known global standard output and standard error streams.

`dbg!` calls `eprintln!` but outside of that it’s pretty simple. If you have something like `serial_port_println!` you can copy-paste `dbg!` and modify it to call that instead.

[2021-06-26 20:14] BoxyUwU opened #86651 "iffy diagnostics for struct defined in a const generic default that uses generics from outer struct"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=48fa3a6ccbc1e086e2377fc5abc7d36c)

[code]

The current output is:

[code]

Ideally the output should shouldn't talk about functions but struct definitions instead

[2021-06-26 20:49] nikic commented on #84253
This issue should be addressed by https://reviews.llvm.org/D102982 (plus about a dozen preparatory patches to make loop unrolling robust against multiple exits).

[2021-06-26 21:06] nagisa commented on #43575
The bugzilla issue referenced in the code that works around this problem (https://bugs.llvm.org/show_bug.cgi?id=30879) has been fixed. Could anyone test with the workaround reverted?

[2021-06-26 21:11] nwsharp commented on #86235
@rustbot label +A-dst +A-lang-item +A-raw-pointers +C-enhancement +requires-nightly +T-libs-api

[2021-06-26 21:21] mcy commented on #85968
I mean, I would *think* the UCG repo is the least wrong place. Asserting stuff like "comparing pointers across provenances gives a well-defined but unspecified value" is the kind of stuff we'd want to do there, and tracking "we need LLVM to actually allow us to do this, since a C/C++ compiler wouldn't care". TBH, if something breaks spectacularly I'm sure you and eddyb will notice quite quickly. =

[2021-06-26 23:25] Mark-Simulacrum commented on #86606
I've filed #86607 which will ignore failures building RLS on aarch64.

[2021-06-26 23:49] jonhoo opened #86653 "Erroneous drop_bounds lint"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b80ea1984844c73d4c0a069b17d93167)):

[code]

I expected to see this happen: the code should compile without warning.

Instead, this happened: the compiler gave the following warning:
[code]

But, the `Drop` bound is _not_ useless here — removing it causes the code to no longer compile. It's not

[2021-06-26 23:55] jonhoo opened #86654 "Cannot use function pointer with dynamic dispatch without identity cast"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e8ce60a7ea1a7626ff847862af25766d)):

[code]

I expected to see this happen: the code should compile.

Instead, this happened: compilation fails with the error

[code]

This _feels_ wrong, since the cast appears to be applying the identity function, but I could be missing something about how this

[2021-06-27 02:35] #82328 closed

[2021-06-27 03:57] calebzulawski opened #86656 "Tracking Issue for RFC 2948: Portable SIMD"
Feature gate: `#![feature(portable_simd)]`

This is a tracking issue for RFC 2948 (rust-lang/rfcs#2948), the portable SIMD library (`std::simd`).

Portable SIMD project group: https://github.com/rust-lang/project-portable-simd
Implementation: https://github.com/rust-lang/stdsimd

More discussion can be found in the [#project-portable-simd](https://rust-lang.zulipchat.com/#narrow/stream/257879-proj

[2021-06-27 04:20] koalefant commented on #86269
The current choice of lerp signature `t.lerp(a, b)` appears to be unfortunate for two reasons:

First, it is impossible to be consistent with `f32` implementation while implementing lerp for custom alebraic types (such as Vec3 or Quat etc.). One would not be able to extend `f32` in an another crate to add interpolation of additional types.

[2021-06-27 04:27] koalefant commented on #86269
Second, it is inconsistent with most of existing algebraic crates in the ecosystem. As @CAD97 has mentioned above: `nalgebra`, `euclid`, `glam`, `cgmath`, `kurbo`, `ultraviolet` and `vek` all are using `a.lerp(b, t)` signature. That is a lot of breaking changes to be done to stay consistent with new std implementation.

[2021-06-27 04:35] clarfonthey commented on #86269
Note that there is the unfortunate but possible implementation of requiring a function call style, e.g. `f32::lerp(a, b, t)`, which would not be equivalent to those other implementations but would be much less breaking.

[2021-06-27 04:37] koalefant commented on #86269
This only addresses first issue and it would require types names to be stated explicitly all over the code, which is not the case with many other methods such as as `clamp()` or `min()`/`max()`

[2021-06-27 04:44] CAD97 commented on #86269
@koalefant

That is an angle I hadn't realized, and consistent even for using `RangeInclusive`. `v0.lerp(v1, t)` can be applied to any custom lerpable type, as they can always implement their own methods. If we want the ecosystem to be able to also use `t.lerp(v0, v1)`, though, we need to use a `Lerp` trait as an extension point, roughly

[code]

and it's starting to get kind of messy, due to how

[2021-06-27 04:58] koalefant commented on #86269
I feel like it is a smart, but complicated solution to this problem.

[2021-06-27 05:02] koalefant commented on #86269
Also, consider that some implementations of `lerp` are not identical to f32. For example, Quaternions are being normalized in `glam` after interpolation:
[code]

[2021-06-27 05:10] winston0410 opened #86658 "error: linking with `cc` failed: exit code: 1"
I tried this code on M1 MacBook, running the terminal through rosetta2:

[code]

I expected to see this happen: I expect I can compile it with `cargo run`

Instead, this happened: I got the following errors

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-06-27 06:05] CAD97 commented on #86269
(GitHub issues are not a great medium for in-depth back-and-forth: consider discussing [in the zulip instead](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Lerp).)

-----

Here are a few notes about guarantees. For finite inputs, we would like to provide guarantees that the function is

<dl>
<dt>exact</dt><dd><code>0.0.lerp(v0, v1) == v0</code> and <code>1.0.lerp(v0, v1) == v1

[2021-06-27 06:21] Kestrer commented on #63818
IIUC Rust will currently emit `noalias` for a type like `Pin<Box<dyn Future<Output = ()>>>`. Could this cause miscompilations if the future is self-referential? Or is `Box` somehow special in that it doesn't need to disable `noalias`?

[2021-06-27 06:28] kolharsam commented on #86618
@nikomatsakis I've made a PR with a failing test here: #86660.
Currently, it just document's the error that might be seen while using the suggested updates to the syntax in within the RFC.

Please let me know if there are any other test cases that need to be added because I wasn't really sure about what needed to be done here.

[2021-06-27 06:51] goffrie commented on #63818
I believe there's a workaround for types that are !Unpin. I forget if the
relevant types are actually !Unpin though.

On Sat., Jun. 26, 2021, 23:21 Kestrer, ***@***.***> wrote:

[2021-06-27 07:29] koalefant commented on #86269
Excerpts from lerp/mix used in shading languages:

Khronos documentation on GLSL `mix`: https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/mix.xhtml

NVIDIA Cg documentation on `lerp`: https://developer.download.nvidia.com/cg/lerp.html

Microsoft HLSL documentation on `lerp`: https://docs.microsoft.com/is-is/windows/win32/direct3dhlsl/dx-graphics-hlsl-lerp

WGSL on `mix`: https://www.w3.org

[2021-06-27 07:38] koalefant commented on #86269
lerp in `rust-gpu`: https://embarkstudios.github.io/rust-gpu/api/glam/f32/struct.Vec3.html#method.lerp

Note that they also use `a.lerp(b, t)` signature there.

[2021-06-27 08:10] clarfonthey commented on #86269
In terms of the calling convention, I personally feel very strongly about not splitting the bounds between `self` and the method arguments, but I'm not the only person in the rust community and I think that if a reasonable number of people are concerned about breakage that it's worth opening a PR to change it.

[2021-06-27 08:54] RalfJung commented on #86236
There's now also a proper tracking issue for this feature: https://github.com/rust-lang/rust/issues/86302

[2021-06-27 09:20] JohnTitor commented on #86658
The error mentions what library you're missing. And seems your host isn't aarch64 but x86_64, you should use aarch64 target in general IIRC. See #73908 and related topics/issues for Apple Silicon support.
Also, the issue tracker here only tracks the issues related to rustc, libraries, and some other stuff. The general questions like yours should go to https://users.rust-lang.org/. Thanks for repor

[2021-06-27 09:20] #86658 closed

[2021-06-27 09:23] RalfJung commented on #85968
Yeah that sounds reasonable, so I opened https://github.com/rust-lang/unsafe-code-guidelines/issues/292.

[2021-06-27 09:40] mockersf commented on #86620
I did not manage to isolate the issue, but I pushed a fix that works for `serde-encrypt` and that I understand

[2021-06-27 09:55] fee1-dead commented on #86512
@rustbot claim

[2021-06-27 10:17] hyd-dev commented on #86649
Note that the screenshots in https://github.com/ogham/exa/issues/893#issue-925506462 shows that `ls` works, and I don't think `opendir` failed because the line that panicked (line 11) is `result.map(|entry| entry.path()).unwrap();`. I think it was [`readdir_r`](https://github.com/rust-lang/rust/blob/543ab9964065dc2b4e47d7bff5e83c84519f265e/library/std/src/sys/unix/fs.rs#L493-L501).

I *guess* it r

[2021-06-27 10:43] the8472 commented on #64750
Note that #84407 bumped the jobserver dependency to include https://github.com/alexcrichton/jobserver-rs/pull/31 which should fix the thundering herd problem if you're on a sufficiently recent linux kernel.

That won't address the second point in OP of course, so it's only a partial fix.

[2021-06-27 12:48] m-ou-se commented on #85894
Re-opening since there's still a few left to do.

[2021-06-27 13:57] zmill opened #86667 "E0106: incorrect suggestion for async function"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=22ba783fab2f1269ead31ef71384e739)

[code]

The current output is:

[code]

The suggestion for the `async` function is missing the lifetime declaration and has garbled `s1`'s lifetime, so using the suggestion verbatim doesn't compile.

The suggestion for the non-`async` function is fine, s

[2021-06-27 14:36] phaylon commented on #64586
Since there's an edition coming up soon, I'm wondering if the binding reset issue should be given consideration again? There was a [reddit post](https://www.reddit.com/r/rust/comments/o8u444/variable_is_assigned_to_but_never_used_but_i/) of someone running into the issue and it causing confusion.

In the case that there's something blocking that, would it be a good idea to have at least some addit

[2021-06-27 14:36] FabianWolff commented on #86654
I agree that the error message could be improved, but just to explain what happens here: The cast is _not_ the identity transformation, because `good` has type [`FnDef`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/sty/enum.TyKind.html#variant.FnDef) (and not [`FnPtr`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/sty/enum.TyKind.html#variant.FnPtr)). Function

[2021-06-27 14:55] m-ou-se commented on #85894
We might want to change the name of some of these lints, if we still can. E.g. `deny(disjoint_capture_migration)` doesn't sound like what it does.

[2021-06-27 16:33] oberien opened #86672 "Error with static lifetime inference in consts when using types with drop implementation"
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=44020503c30e357166a2ad620627a88a)

The following code

[code]
results in these errors
[code]

`BAR2` is semantically the same as `BAR3` and `BAR4`, but while `BAR3` and `BAR4` don't compile, `BAR2` does. That can be used as a workaround for now.

[2021-06-27 16:34] jonhoo commented on #86654
Oh, interesting, thanks for the explanation. Yeah, the error message can certainly be improved here, since it doesn't actually show any meaningful difference between the types. I also wonder if this would be a good candidate for allowing implicit coercion, rather than requiring it to be explicit as is the case currently — is there ever a case where this coercion is undesirable?

[2021-06-27 17:28] FabianWolff commented on #86654
I think a simple coercion isn't enough here, because you have to make the reference point to something: `good` has the wrong type, so you'd have to (in principle) construct a temporary, coerce `good` to a function pointer and store it in the temporary, and then take a reference to that temporary to pass to `bar`. In your first case (with the explicit cast), the compiler actually seems to generate

[2021-06-27 18:35] anuejn opened #86675 "proc macro invoked by normal macro has wiered call_site"
When supplying a proc macro invocation to a normal macro as `tt`, `Span::call_site()` seems to be wrong.

I tried this code:
https://github.com/anuejn/proc_macro_scope_confusion/tree/125356cf4b6e7d54930031710cb3db20307b4b71

I expected to see this happen:
The code compiles without error since the call-site of the proc macro lays in the code generated by the normal macro.

Instead, this happened:
T

[2021-06-27 19:02] bstrie commented on #86269
@clarfonthey Just wanted to make sure you're aware that a good amount of discussion has also happened on Zulip at https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/lerp.20API.20design , if you'd like to also weigh in there.

[2021-06-27 22:29] andrewbanchich opened #86677 "Deny multiple catch all arms"
Currently the compiler only issues warnings for cases like this:

[code]
which prints `A` since it's interpreting both `A` and `B` arms as catch alls.

I can't think of any possible scenario where one could use multiple catch all arms for anything, so it may be beneficial to deny compiling this altogether.

[2021-06-27 22:49] marmeladema commented on #86677
I've ended up encountering this error too and most of the time it's because I forgot to specify the enum name. Maybe a help note could be issued if the catch all variable name matches the name of one of the variant because it's most likely a mistake.

[2021-06-27 22:57] #84599 closed

[2021-06-27 23:10] andrewbanchich commented on #86677
@marmeladema I think many of us have 😊

I've also seen times when people disable warnings, which leads to them never catching this. I was thinking it could be a hard deny instead since the `B` arm could never be reached.

[2021-06-27 23:13] Aaron1011 commented on #86675
I believe that this is the intended behavior. Since `$input` is passed in as an argument, it keeps the hygiene of its invocation site (the call to `normal_macro!`). This is the same reason why an identifier passed in to a macro call can be used to access local variables (e.g. `println!("{:?}", my_local)`).

[2021-06-27 23:14] vamolessa opened #86679 "ICE when initializing static array of struct containing function pointer using const function"
### Code

I think it's worth noting that the error goes away if we either:
- we remove the `f` field from `Thing` (or just remove the `for<'a>` from the function signature and replace the `PhantomData<&'a ()>` with just  `PhantomData<()>`);
- we substitute both calls to `bad_hash` in second `Thing`'s `h` field initialization with a literal (e.g. `0` for example);

[code]

### Meta

The bug also ha

[2021-06-27 23:18] Aaron1011 commented on #86677
Rust currently emits several warnings for this code:

[code]

One reason for allowing this is to support macros - a macro might build up a `match` from different pieces of user input, and consequently end up with multiple catch-all arms.

Disabling all warnings is a pretty bad idea, as demonstrated by this issue :smile: . If you run across any projects that have blanket suppressions of a warning,

[2021-06-27 23:26] andrewbanchich commented on #86677
I agree disabling warnings is bad. I don't know enough about the macro use case to weigh in, but if that's a legit case for this feel free to close the issue.

[2021-06-27 23:49] rroohhh commented on #86675
What I don't understand is, why the invocation site (of `demo_proc_macro`) is the call to the `normal_macro!`.

The `normal_macro!` expects a sequence of token trees as input, so I would expect the invocation of `demo_proc_macro` to be inside the code generated by the `normal_macro!`, which would look like this:
[code]

which compiles.

I don't understand why there should be a difference between f

[2021-06-27 23:54] inquisitivecrystal commented on #86677
I feel like this could be a good case for a deny by default lint? It's something that you *could* want to do in macros, but the chance that you actually want to do it is so low that it might be better if rustc assumed you didn't.

[2021-06-28 00:05] rroohhh commented on #86675
More (atleast to me) confusing examples:

[code]
does not compile, but
[code]
does.

Also
[code]
does not compile, but
[code]
doesn't