[2020-06-01 21:36] nikomatsakis commented on #72730
I sort of remember that you added in the variance to enable backwards compatibility of `FnDef`.

I'm not sure what you mean by the "most compatible thing would be bivariant", in part because "bivariant" is perhaps not that well-defined.

I think we want to maintain the invariant (no pun intended) that if you have a given fn-def type `F`, no matter how you upcast it, it will always produce the same

[2020-06-01 21:42] lcnr commented on #72156
#72153 now explicitly changes opaque types to not be structural match.

In case there is a use case where we want to change this, we can open a new issue.

[2020-06-01 21:42] #72156 closed

[2020-06-01 21:52] nikomatsakis commented on #65983
Huh, interesting. This feels related to our long-standing efforts to extact name resolution into a shareable code based that both rust-analyzer and rustc can make use of. Not that we've made much progress on that.

[2020-06-01 21:54] dtolnay commented on #72690
Labeling as this was a regression introduced by 1.41.0.

[2020-06-01 21:59] Manishearth commented on #65983
Yeah, I recall @eddyb mentioning this before in that context.

Would simply storing the module tree in a longer-term queryable metadata-able map be a  worthwhile endeavor?

[2020-06-01 22:21] ecstatic-morse commented on #67217
I'm gonna nominate this issue for @rust-lang/lang discussion, since this is blocking #52000.

At the moment, we have a global const-eval limit that will execute a fixed number of MIR basic blocks before emitting a `const_err` lint. The `#![const_eval_limit]` attribute (#67260) overrides this limit for a single crate (similar to how `#![type_length_limit]` works). `#![const_eval_limit = 0]` disable

[2020-06-01 22:27] BartMassey commented on #70173
@Amanieu Yeah, I think solving it completely would be pretty hard, but it would be nice to at least transform the simplest cases (all the arguments in registers, simple read/write/clobbers) and somehow mark/warn about the cases that couldn't be auto-transformed so that people would notice them and fix them.

If `llvm_asm!()` is going to disappear in months, not years, it seems really important to

[2020-06-01 22:43] #72801 closed

[2020-06-01 22:46] RalfJung commented on #70173
Things like what @Amanieu said. Generally, basic blocks should have the property that if any statement gets executed, they all do. There are no control dependencies, and thus data dependencies are the only constraint to reordering.

An Asm block with an infinite loop throws a wrench in that reasoning. So while `Terminator` might seem arbitrary, it is certainly much less arbitrary than `Statement`.

[2020-06-01 22:51] Boscop commented on #71684
@Timmmm Or `std::env::home_directory()` so that in a future edition, `std::env::home_dir` could be removed without leaving its successor with a weird name.

[2020-06-01 23:01] BurntSushi commented on #71684
@Boscop Editions can't remove APIs from std.

[2020-06-01 23:02] aslpavel opened #72899 "Convertion of negative f64 to u64."
I tried this code:

[code]

**I expected to see this happen:**
Should print
[code]

**Instead, this happened:**
Stable: 1.43.1
[code]
Beta channel
Build using the Beta version: 1.44.0-beta.4
(2020-05-23 02c25b359e667d2eba0d)
[code]
This one is actually correct. Sorry if it has been fixed, I have not found bug report for this, so I've decided to create this one.
Nightly channel
Build using the Nigh

[2020-06-01 23:04] sfackler commented on #72899
This is https://github.com/rust-lang/rust/issues/10184

[2020-06-01 23:07] aslpavel commented on #72899
I thought #10184 was about NaN, Inf and ect. This one is normal a float as returned by `f64::classify()`

[2020-06-01 23:13] sfackler commented on #72899
It is about any out of bounds value.

[2020-06-01 23:24] Amanieu commented on #70173
The new `asm!` already uses a `Terminator`. I haven't touched any of the old code around `llvm_asm!` since it's due to be removed eventually anyways.

[2020-06-01 23:43] sivizius commented on #57525
we could use definition lists for that:
[code]

and with css this could be aligned like this (without bullet points and with correct alignment)
* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`arg` – Something
* `very_long_arg` – Something else
* &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`long_arg` – Foobar

[2020-06-01 23:59] leonardo-m commented on #72895
What is the effect on the L1 cache pressure?

[2020-06-02 00:06] ehuss commented on #72899
As you've noticed, this has changed in 1.45.  This is part of #71269, so that both values return 0.   The new rules are documented at https://doc.rust-lang.org/nightly/reference/expressions/operator-expr.html#semantics.

[2020-06-02 01:12] estebank commented on #72895
@CDirkx could you add another approach of a sorted positive char list? The algo complexity of binary searching or scanning the array might not matter given that for `is_ascii_punctuation` [we are talking about 32 bytes](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6873d41c4d9e926045f3f6560b3ded40).

[2020-06-02 01:17] estebank commented on #72895
@CDirkx could you add another approach of a sorted positive char list? The algo complexity of binary searching or scanning the array might not matter given that for `is_ascii_punctuation` [we are talking about 32 bytes](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6873d41c4d9e926045f3f6560b3ded40).

Edit: I just realized that `[bool; 128]` should also be 32 bytes.

[2020-06-02 01:31] Valloric commented on #20962
I recommend this recent article that goes into great depth on the fastest way to load external fonts from Google Fonts (which I believe the rust docs use): https://csswizardry.com/2020/05/the-fastest-google-fonts/

[2020-06-02 03:55] mark-i-m commented on #70173
I will say that rewriting the assembly to use the new syntax was significantly easier than writing it in the first place and that new system is quite pleasant to use. The RFC text is pretty thorough, so any questions I had when rewriting were easily answered.

On the whole, it took maybe 30m to transform 7 asm blocks, of which 3 where subtle context-switching code.

[2020-06-02 03:57] mark-i-m commented on #70173
Also, it might be worthwhile to make it impossible to silence the llvm_asm lint so that people get annoyed and fix it. I don't feel bad doing it because it's the nightly channel!

[2020-06-02 04:00] Amanieu commented on #70173
I would like more people to test the new `asm!` to catch any remaining issues before officially deprecating `llvm_asm!`.

[2020-06-02 06:33] RalfJung opened #72907 "Unhelpful "constants cannot evaluate destructors" with loops"
This code:
[code]
yields the following error:
[code]
That is not very helpful as there is nothing with a destructor on that line. The actual line where something could get dropped is line 11, and that is also the line where the drop-requiring thing is assigned into `always_returned`.

Cc @rust-lang/wg-const-eval

[2020-06-02 06:35] RalfJung commented on #72899
That's just pure chance. Behavior is undefined in both cases (until https://github.com/rust-lang/rust/pull/71269). When behavior is undefined, looking at what the final executable does [is meaningless](https://www.ralfj.de/blog/2019/07/14/uninit.html).

I think this issue should be closed, it is a duplicate of https://github.com/rust-lang/rust/issues/10184.

[2020-06-02 06:44] RalfJung commented on #72783
Potentially related: https://github.com/rust-lang/rust/issues/59975

[2020-06-02 06:47] RalfJung commented on #72762
FWIW I agree that `as` should be avoided -- in Miri we are now using  `TryFrom` everywhere which makes me feel much better as I know we don't silently truncate anything.

[2020-06-02 06:48] RalfJung commented on #72762
However @Elinvynia I am a bit surprised to see the "typesystem" label here. This is just a libs addition not affecting the type system, isn't it?

[2020-06-02 06:49] RalfJung commented on #72444
@Elinvynia why is this labeled "type system"? Looks like a libs-only change to me.

[2020-06-02 06:50] RalfJung commented on #72679
Might be caused by https://github.com/rust-lang/rust/pull/71665? That should have reduced the number of ICEs, not increased it, but who knows.^^

[2020-06-02 06:50] Elinvynia commented on #72762
From my understanding of this request, I thought that it having to do with "type conversions" would be a good reason to include that label, what would be more appropriate here?

[2020-06-02 06:56] RalfJung commented on #72482
Also Cc https://github.com/rust-lang/rust/issues/46345

[2020-06-02 06:58] RalfJung commented on #72429
Why would they? Or you you mean non-nullness (but you said that is not a concern)?

[2020-06-02 07:20] RalfJung commented on #27060
@joshtriplett

Crater results are in: https://crater-reports.s3.amazonaws.com/pr-72644/index.html
However, also note @retep998's [comment due to crater being Linux-only](https://github.com/rust-lang/rust/pull/72644#issuecomment-636403967).

[2020-06-02 07:21] RalfJung commented on #27060
In particular, there are quite a few sys crates that have all their code on one line... is that bindgen (or so) generating these invalid references?

[2020-06-02 07:54] #72766 closed

[2020-06-02 07:59] jfrimmel opened #72909 "Documentation uses wrong anchors for Modules/Structs/Enums/Traits/Types"
# Introduction
The documentation generated by _rustdoc_ has a feature, which I use fairly often: the links to the generated item groups, e.g. Re-exports, Structs and Enums in this screenshot:
![image](https://user-images.githubusercontent.com/31166235/83493904-c63ace80-a4b5-11ea-9243-24d8242446f1.png)
This feature is essential, if a crate or module has a long explanatory introduction, which you al

[2020-06-02 08:00] jfrimmel commented on #72909
@rustbot modify labels: T-rustdoc

[2020-06-02 08:15] leonardo-m commented on #72762
But TryFrom in some performance-sensitive places is heavy. So in my code I use a short to!{} macro that performs the TryFrom in debug mode and uses "as" in release mode. And another little macro for FP=>Int casts, that uses "as" in debug mode and to_int_unchecked in release mode.

[2020-06-02 08:21] RalfJung commented on #72762
Yeah I can see how that's useful. For Miri, arithmetic is not our limiting factor in terms of performance.

oO okay that's UB when anything goes wrong (i.e., this is an unsafe-to-use macro), I would not accept that in my own codebases without benchmarks for each individual invocation of the macro. ;) But of course, everyone makes their own decisions for these trade-offs.

Btw, IIRC people were loo

[2020-06-02 08:31] Sherlock-Holo opened #72910 "bug report: rustc panic when run cargo check --all-targets"
I am using nightly version: rustc 1.45.0-nightly (ad4bc3323 2020-06-01)

I tried run `cargo check --all-targets` with this codes:

[code]

I expected to see this happen: check successfully

Instead, this happened:

[2020-06-02 08:41] Sherlock-Holo commented on #72910
`RUST_BACKTRACE=1 cargo check --all-targets` output is:

[2020-06-02 08:45] leonardo-m commented on #72762
Yes, I use this second fto!{} macro only in special cases, and after benchmarking.

[2020-06-02 09:05] SimonSapin commented on #27060
Yes, rust-bindgen and anything else that uses https://crates.io/crates/quote to generate source code will have that code all in one line. rust-bindgen then attempts to run `rustfmt` on that code by default, maybe that’s not available in the Crater environment?

[2020-06-02 09:13] Timmmm commented on #71684
I think that would just lead to more confusion (given that `home_dir` can't be removed). What is the difference between `home_dir` and `home_directory`? They sound like they're the same thing - which one should I use? With `home_dir` and `home_dir2` it is much more obvious. I agree `home_dir2` is an ugly name.

[2020-06-02 09:13] JohnTitor commented on #72910
I believe this is related to #71948 but I couldn't reproduce it with your example on my local. Is this still happen when you try `cargo clean` or so? And it'd be great if you could also provide the targets you install.

[2020-06-02 09:15] RalfJung commented on #71684
That confusion is something documentation can solve. There is precedent for picking a new but sensible name: [`before_exec`](https://doc.rust-lang.org/nightly/std/os/unix/process/trait.CommandExt.html#method.before_exec) got deprecated and replaced by `pre_exec`.

[2020-06-02 09:22] Sherlock-Holo commented on #72910
When this bug happened, I'm testing the unit test in my project, but when I copy the unit test codes to an empty rust project, the `cargo check --all-targets` success, it makes me confused, so I run `cargo clean` but the problem still exists.

The targets what I install is `nightly-x86_64-unknown-linux-gnu`

And it doesn't cause problem with stable rustc `rustc 1.43.1 (8d69840ab 2020-05-04)`

[2020-06-02 09:31] JohnTitor commented on #72910
Yeah, that PR is on nightly only now. So, current master contains a fix for that PR (#72775), could you try to check with the master? You can try it with `rustup-toolchain-install-master`: https://github.com/kennytm/rustup-toolchain-install-master
If it still happens with the master, we should make another fix.

[2020-06-02 09:36] aslpavel commented on #72899
I see, Thank you!

[2020-06-02 09:36] #72899 closed

[2020-06-02 09:37] JerrieLau commented on #66482
lldb is fine.

[2020-06-02 09:42] PankajChaudhary5 commented on #69367
@Sherlock-Holo Can you please elaborate, what you are trying to achieve here? As I can see you already handled the borrower check issue in the next function **try_set_lock1()** by storing the result in a local variable.

[2020-06-02 09:48] Hi-Angel commented on #66482
Thanks, nice to know! I took a look at it, one disappointing thing in comparison to gdb is that it doesn't have a way to enter python commands. But otherwise, judging by [gdb to lldb cmds map](https://lldb.llvm.org/use/map.html) it looks to be a nice alternative, worth to bear in mind.

[2020-06-02 10:01] Sherlock-Holo commented on #72910
Will tomorrow nightly version contain this fix? if it contains I will try it tomorrow

[2020-06-02 10:11] Sherlock-Holo commented on #69367
In `try_set_lock0`, the
[code]
expression will return a `Result`, this result doesn't contain any borrowed value, so that won't have any lifetime problem and it should compile success

[2020-06-02 10:12] JohnTitor commented on #72910
Yes, it's your option.

[2020-06-02 10:17] davidtwco commented on #72642
@ayushmishra2005 responding to [your comment](https://github.com/rust-lang/rust/pull/72656#issuecomment-636906348) here rather than on the PR - here are some rough pointers of what I'd look into (not having dug much into this myself, I can't say exactly what will be the solution):

So, let's start at the beginning - the suggestion that we see comes from this line:

https://github.com/rust-lang/rus

[2020-06-02 11:50] matthiaskrgr opened #72911 "ICE "no entry found for key" on src/tools/clippy/clippy_dev/src/lib.rs"
EDIT: code:
[code]

rustc repo @ 10c2316a6bf7cf9255f991e06e82ce692e6f84d5

[code]
ICEs:
[code]

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-02 11:53] matthiaskrgr commented on #72911
Also happens with nightly
[code]

[2020-06-02 12:09] m-ou-se commented on #66770
Seems like only things like `MIN` are moved to associated constants, and there seem to be no plans yet to move mathematical constants like `PI` to associated constants as well. (RFC2700 explicitly didn't suggest moving the math constants.) I'd prefer to stabilize `TAU` without waiting for a possible RFC to show up which might move them.

[2020-06-02 12:34] pickfire opened #72915 "Cargo doc test not colored"
**Problem**

![2020-06-02-203022_1366x768_scrot](https://user-images.githubusercontent.com/4687791/83520206-e4cdb380-a50f-11ea-95b7-15a3279ea318.png)

**Steps**

1. `cargo +nightly t`

**Possible Solution(s)**

Most likely some flags not passed to `rustc`.

**Notes**

Output of `cargo version`: cargo 1.45.0-nightly (9fcb8c1d2 2020-05-25)

[code]

[2020-06-02 12:52] tblah opened #72913 "Error reporting order on riscv64gc-unknown-linux-gnu"
I tried running `ui` tests for `riscv64gc-unknown-linux-gnu`, in particular [ui/or-patterns/missing-bindings.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/or-patterns/missing-bindings.rs). Reproduce with

[code]

The test checks that the expected errors are encountered when compiling `missing-bindings.rs`. On `riscv64gc-unknown-linux-gnu` the correct errors are reported but in the

[2020-06-02 13:11] Pzixel commented on #49044
My build fails with `ld: cannot find -lpq`

[2020-06-02 14:04] ehuss commented on #72915
Thanks for the report.  I have transferred this to rust-lang/rust, because this is a rustdoc issue.  I could have sworn there was already an issue for this, but I can't find it.  I recall investigating this in the past, and the fix wasn't exactly trivial.

[2020-06-02 14:19] pnkfelix commented on #71850
To be clear: You're describing a scenario where your current crate **is** changed, but the dependencies are unchanged, right?

[2020-06-02 14:54] bluss commented on #72429
I mean non-null-ness yes.

Non-null-ness is not a concern as long as we stick to the rules we have, which are partly based on requirements from the llvm backend. The whole paragraph tries to look beyond just LLVM

[2020-06-02 15:56] oli-obk commented on #67217
It should be easy to make this work on `const fn`, as we can just fetch the attribute at `push_stack_frame` time and add it to the current limit. If the value is chosen too big, this will just blow up the limit though. Also it would make shrinking the value a breaking change.

Maybe what would make more sense is to add it to the current limit and revert to the previous step value after executing a

[2020-06-02 16:10] RalfJung commented on #53605
Should we give this another try? Not much progress has been made on the unconst side of things (also [see here](https://github.com/rust-lang/rust/issues/51909#issuecomment-636751681)), but allowing `transmute` where we already allow union could help get rid of a lot of nasty union-type-punning code (probably half of which is wrong because it forgets to add `repr(C)` to the union).

[2020-06-02 16:12] nikomatsakis commented on #56604
Yes, `let mut` is available in the MIR in the [`mutability` field of the `LocalDecl`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/struct.LocalDecl.html#structfield.mutability).

I think the key question for us to answer though is what we think about this unsafe code:

[code]

and I suppose the example gets a bit more interesting when you pull the write into a function:

[code]

[2020-06-02 16:12] nikomatsakis commented on #56604
I suppose that `DROP(x)` could have some special effect of making the local variable mutable.

[2020-06-02 16:16] nikomatsakis commented on #56604
So, one thing I am particularly worried about is that we have used (and encouraged) people to use `*const T` as "a owned raw pointer" for some time now (e.g., via `Unique`). It seems like if `*const` *also* means that the data is mutable, we have to find another idiom for that, right? Am I right that this idiom would be invalidated and would require some other support, or else maybe have some weir

[2020-06-02 16:19] oli-obk commented on #53605
I'm creating a new stabilization PR to show the workarounds needed to allow such a split. We can then decide whether we'll take on that technical debt.

[2020-06-02 16:33] Lucretiel opened #72919 "BufWriter should buffer up to its capacity"
https://github.com/rust-lang/rust/blob/eeaf497b2a6bc065874e3d3367b1f3023c5bb3d3/src/libstd/io/buffered.rs#L662

Suppose you had a `BufWriter` with capacity 4. If you write `b"1234"` to it, that will be flushed directly to the underlying stream, but if you write `b"12"` and then `b"34"`, those will be buffered. The unit tests confirm this behavior, but it seems surprising to me.

[2020-06-02 16:48] tblah commented on #62117
In case anybody missed it, `riscv64gc-unknown-linux-gnu` is now tier 2
https://github.com/rust-lang/rust-forge/pull/356

[2020-06-02 17:06] ecstatic-morse commented on #67217
The problem with adding up limits is that it can result in no effective limit for recursive `const fn` that set a limit slightly higher than the number of basic blocks they would execute, which will likely be much *lower* than the global limit.

There's also the problem of explainability. Limits at the crate or const-eval root have a clear interpretation (crate root overrides default, `const` or `

[2020-06-02 17:07] pickfire commented on #72915
Yes, I think this might have been a regression. Maybe we have a regression test this time but I am not sure if the tests are able to check color.

[2020-06-02 17:13] cuviper commented on #62543
There's a [documented process](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html) for stabilizing language features, but I'm not aware of anything special for libraries. AFAIK, you can just open a pull request with the change, and the libs team will put the proposal through FCP. For example, #71886 stabilized a couple numeric methods.

[2020-06-02 17:23] steveklabnik commented on #49974
Triage: no change

[2020-06-02 17:52] MEisebitt opened #72922 "Large arrays cause stackoverflows at runtime when compiled without --release"
Large arrays (_in my case [f64; 1_000_000]_) cause a stackoverflow at runtime if the program is run without --release. For smaller arrays (_[f64; 100_000]_) it works with and without --release.

I used this code:

    fn main() {
        let _values: [f64; 1_000_000] = [3.5; 1_000_000];
    }

When run with

    cargo run --release

everything worked, but when run with

    cargo run

the result w

[2020-06-02 17:57] jonas-schievink commented on #72922
It is expected that optimizations can affect stack usage. We don't generally give guarantees about this. In particular, Windows' default stack size is only 1 MB, which you are easily exceeding by allocating `1_000_000` doubles.

[2020-06-02 17:57] #72922 closed

[2020-06-02 20:14] Lucretiel opened #72925 "Remove `Option<W>` in `BufWriter`"
https://github.com/rust-lang/rust/blob/eeaf497b2a6bc065874e3d3367b1f3023c5bb3d3/src/libstd/io/buffered.rs#L451

`BufWriter` doesn't really need to hold its inner writer as an `Option`; it seems like the only reason it does so is to make it easier to call `into_inner`, here:

https://github.com/rust-lang/rust/blob/eeaf497b2a6bc065874e3d3367b1f3023c5bb3d3/src/libstd/io/buffered.rs#L648-L653

While i

[2020-06-02 20:32] Aaron1011 opened #72926 "Add an attribute for asserting variance of generic parameters"
Currently, we don't have any kind of programmatic way of ensuring that we don't accidentally change the variances of any `libcore`/`libstd` types. While some types do have explicit tests for variance (e.g. [here](https://github.com/rust-lang/rust/commit/bf592cefde313aed68bccc91c053f5912350249b#diff-f9e71018920a56a1532da2e8fb8d02cdR1005-R1007) and in PR https://github.com/rust-lang/rust/pull/72902)

[2020-06-02 20:44] Lucretiel commented on #60673
I've started an implementation of this; I'll tag it in the relevant Pull Requests as I file them.

[2020-06-02 20:51] fschutt opened #72928 "Allow generic types in use statements"
This works:

[code]

... however this doesn't:

[code]

I always have to do this workaround for re-exporting generic types across a C boundary. It would be great if Rust could allow this.

[2020-06-02 21:21] SeeSpring opened #72929 "Recursive diagnostics when using consts in arrays"
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=967077056c818dba1e90e0dfc42ebc96)

I expected to see this happen: the compiler gives useful diagnostics

Instead, this happened: the compiler gives diagnostics which don't work

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-06-02 21:24] derekdreery opened #72930 "compiler ICE (only on stable 1.41.1)"
I got an ice when compiling on stable (1.43.1) on linux 5.6.11-arch1-1. I've pushed the particular code that caused the ICE to https://github.com/derekdreery/druid-material-icons (rev 6b47be9, currently the only commit). Just do `cargo run` to get the error.

There was no ICE on nightly, so feel free to close if this is a known issue.

### Meta

`rustc --version --verbose`:
[code]

<details><summa

[2020-06-02 21:30] ecstatic-morse opened #72931 "Refactor `non_ssa_locals` to remove `LocalAnalyzer::process_place`"
While doing an initial implementation of rust-lang/compiler-team#300, I began replacing all uses of `{Non,}MutatingUseContext::Projection`. One user was [`rustc_codegen_ssa::mir::analyze::LocalAnalyzer`](https://github.com/rust-lang/rust/blob/fe10f1a49f5ca46e57261b95f46f519523f418fe/src/librustc_codegen_ssa/mir/analyze.rs#L49), which is doing a custom recursive traversal in [`process_place`](https

[2020-06-02 21:41] ecstatic-morse commented on #72907
This isn't specific to loops and conditionals. Historically, we have emitted live drop errors at the initial definition of a local because the span of the `Drop` terminator itself is often a single closing brace. It would probably be better to emit a two-part error message that has the place where the local is defined as well as where it is dropped. Perhaps we omit the "where it was dropped" part

[2020-06-02 21:52] tromey commented on #66482
I'm very surprised to hear this.  How does it work?

[2020-06-02 22:09] RalfJung commented on #72907
Yeah that sounds good.

[2020-06-02 22:21] Diggsey commented on #59337
It seems like it might be a problem with the type inference of the closures return type? It ends up inferring the return type to be `impl Future` instead of `impl Future + 'a`.

[2020-06-02 22:37] avl opened #72933 "thread 'rustc' has overflowed its stack"
I just tried the latest nightly (rustc 1.45.0-nightly (ad4bc3323 2020-06-01)) and noticed it can't compile one of the crates I work on.

The crate does have an enum with a a huge number of variants (almost 6000), for which I use serde to derive Serialize and Deserialize.

When building, even with just 'cargo check', the build fails with

[code]

It works on stable 1.43.1.

I tried running rustc un

[2020-06-02 22:39] Hi-Angel commented on #66482
Good point. I just tested, and it turns out for me, `lldb` has same problem as `gdb`. Here's a session screenshot:

![Screenshot_20200603_013552](https://user-images.githubusercontent.com/7935057/83576491-9a156100-a53a-11ea-8f72-ea96e12dd678.png)

I deleted my prev. comment since it doesn't seem to be relevant now.

@JerrieLau could you please elaborate how you managed to make it work? Perhaps are

[2020-06-02 22:42] Mark-Simulacrum commented on #72933
cc @oli-obk -- I believe https://github.com/rust-lang/rust/pull/55617 should have fixed this but I guess we're missing at least this case?

[2020-06-02 22:43] avl commented on #72933
As an experiment I tried doubling the number of enum variants and compiling using stable. That still worked. So it seems the code wasn't just on the brink to stop working using the stable compiler.

[2020-06-02 22:56] avl commented on #72933
Here is a github repo with a minimized test case for this issue:
https://github.com/avl/repro_enum_serde_stackoverflow72933

[2020-06-03 00:13] memoryruins commented on #28728
Increasing the MIR opt level appears to avoid the misoptimization in the following case:

[code]

`--emit=llvm-ir -C opt-level=1 `
[code]

`--emit=llvm-ir  -C opt-level=1 -Z mir-opt-level=2`
[code]

https://godbolt.org/z/N7VHnj

`rustc 1.45.0-nightly (5fd2f06e9 2020-05-31)`

[2020-06-03 00:21] notriddle commented on #44650
That's fine. It wouldn't be too terrible to write a treat case to match with the newer CRT, as long as the libs team was fine with it. This sounds like it's going to end with "you broke backwards compat."

[2020-06-03 00:26] nu8 commented on #44650
The "newer" parsing was implemented in 2008. So if Rust team want to accommodate for those who want to keep the old version, then thats their decision. But personally I would say thats a mistake.

[2020-06-03 00:29] nbdd0121 commented on #28728
[code]
It helped with that special case but does not solve the issue in general. https://godbolt.org/z/5hv87d

In general this issue can only be solved when either rustc or LLVM can prove a pure function is total before using any relevant optimisations.

[2020-06-03 00:38] nagisa commented on #72933
@Mark-Simulacrum It introduced a mechanism for dealing with this kind of issue, but I don’t doubt that we might have missed instances where the compiler is doing something recursive. MIR construction for matches appears to be one of these cases.

[2020-06-03 00:39] nagisa commented on #72933
This issue needs a reproducer. Ideally a minimal one.

[2020-06-03 00:44] nbdd0121 commented on #44721
Is there a tracking issue for allowing this case? It is counter-intuitive that this is forbidden.

[2020-06-03 00:49] Avi-D-coder commented on #48515
Anyone know, where to start fixing this?
The workaround worked for my use case, but it's a little strange and unexpected.
Just adding a message to the error about this issue could help some.

[2020-06-03 00:53] Mark-Simulacrum commented on #72933
Yeah, that's what I expected, I just recalled seeing some commentary suggesting that we'd perhaps covered all cases. Definitely not unexpected that we didn't, though, nor did I intend to imply we should have :)

[2020-06-03 01:07] memoryruins commented on #28728
Indeed, I wasn't asserting that it solved the issue. The subtle effect was interesting enough to others that it seemed worth mentioning here too. `-Z insert-sideeffect` continues to correct both cases.

[2020-06-03 01:14] retep998 commented on #44650
Fundamentally this is a big @rust-lang/libs decision of which standard to follow for argument parsing. I'm not particularly concerned with *which* standard we follow as long as it is Microsoft's standard and we follow it accurately.

[2020-06-03 04:41] #72797 closed

[2020-06-03 04:41] #72815 closed

[2020-06-03 05:45] Sherlock-Holo commented on #72910
@JohnTitor rustc 1.45.0-nightly (fe10f1a49 2020-06-02) has fixed the problem

[2020-06-03 06:27] avl commented on #72933
The beta seems to not have the problem. The problem does not occur with "rustc 1.44.0-beta.4 (02c25b359 2020-05-23)".

[2020-06-03 06:30] avl commented on #72933
I saw the 'E-needs-mcve'-tag.  @nagisa Did you see my repro-case?

https://github.com/avl/repro_enum_serde_stackoverflow72933

(but maybe you're talking about something more self-contained, not referencing 'serde'?)

[2020-06-03 07:09] ayushmishra2005 commented on #72642
@davidtwco Great Thanks. Let me work on it

[2020-06-03 07:11] RalfJung commented on #67217
One thing we could do is, when we enter a function that has a per-function limit *and that function is not yet on the call stack* (to handle recursion), we store the current limit... somewhere, and then we make that function's limit the new limit. When this function returns, we restore the old limit. That avoids changes to this limit, and indeed any changes to what this function does, from "leakin

[2020-06-03 07:28] oli-obk commented on #67217
I considered that, but that would mean that library authors could set a low limit to the function, get it wrong, and then callers have no control over setting the limit higher.

[2020-06-03 07:31] alex-griffiths commented on #60302
Hey, I'm not sure if anyone is working on this, but, this looks like it might be a good place to get started contributing.

I am quite new to the language, but I'd like to get involved. Is this something as simple as pulling out structs and other related blocks of code into their own files and then including them in the original?

[2020-06-03 08:42] lzutao commented on #70086
I opened a PR to stabilize `Option::zip` only: https://github.com/rust-lang/rust/pull/72938

[2020-06-03 09:47] fschutt opened #72939 "ffi-safe lint should be more aggressive in checking ffi stability of sub-types"
According to [this answer](https://internals.rust-lang.org/t/question-about-c-abi-stability/12449/4?u=sharazam), this code:

[code]

... should emit a warning that `struct A` is still `#[repr(Rust)]`, so the layout of `B` isn't completely defined, specifically the order of the fields `a` and `b` are not specified in `#[repr(Rust)]`. I'm not sure if the `ffi-safe` lint is active or not, but it woul

[2020-06-03 10:03] JohnTitor commented on #72910
Cool, then closing as fixed.

[2020-06-03 10:03] #72910 closed

[2020-06-03 10:59] nagisa commented on #72933
I saw the repo, but it still needs some work to be reduced to a viable regression test case that could be included into the repo along with fix. This is what I’m working on now as I already have the fix itself.

[2020-06-03 11:02] nirmangupta opened #72940 "Misleading compilation error message in desugaring of closure with mutable reference"
I tried this code:

[code]

I expected to see this happen:
While I understand that because of the mutable reference and how closures are desugared, the code is expected to not compile. But the error message seems misleading.
I expected to receive a compilation error message which explained multiple mutable borrows.
(discussion at - https://users.rust-lang.org/t/lifetimes-in-closures-with-captured-

[2020-06-03 11:07] oli-obk commented on #51909
Slightly stupid idea: lint about all unconst operations (with the lint specifically explaining each case individually) and require users to write `#[allow(unconst_ops)]` on functions or items performing such actions.

This may lead to ppl just adding `#![allow(unconst_ops)]` to the entire crate instead, which is uncool, and I don't think hijacking the lint system to make this one lint behave diffe

[2020-06-03 11:08] RalfJung commented on #51909
Seems strange to me to have a completely different system for unsafe and unconst, when they are conceptually basically the same thing (just for two different languages: full Rust vs const Rust).

[2020-06-03 11:09] oli-obk commented on #51909
Yea, I just noticed we could go even more fine-grained:

`#[unconst(raw_ptr_deref)]`.

But this made me realize that any unsafe operation can likely end up doing unconst things in some cases... so we're back to the root problem that we'd just end up marking everything, so there's no useful distinction between `unconst` and `unsafe`.

[2020-06-03 11:11] RalfJung commented on #51909
I have no idea how you arrive at that conclusion. The properties enforced by the two are fundamentally different -- soundness for full Rust vs soundness for const Rust.

[2020-06-03 11:18] oli-obk commented on #51909
I came to this conclusion because while `&x as *const i32 as usize` is unconst, it's not unsafe, but `transmute::<_, usize>(&x)` is unsafe and unconst. I believe that almost all unsafe operations are also unconst, because you can always craft a situation that mirrors an unconst operation.

I understand that by itself `&x as *const i32 as usize` is not unconst, the fact that loads of uses of that `

[2020-06-03 11:20] Diggsey commented on #53487
I'm using `failure` in production and we rely on the backtrace feature to get useful backtraces for errors (we also use sentry for error reporting). However, parts of the Rust ecosystem have already started switching to `anyhow`, and this is a big problem when backtraces are not yet stable!

The `fn backtrace()` feature should be stabilized ASAP, or else we (and other production users) will be stu

[2020-06-03 11:53] varkor commented on #60302
@alex-griffiths: yes, it should be as simple as figuring out some sensible way to split up large files into related types and implementations!

[2020-06-03 11:54] heckad opened #72943 "Is it a bug?"
I tried this code:

[code]

I expected to see this happen: compile success

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

If you use templates then compile success.
[code]

[2020-06-03 11:56] jonas-schievink commented on #72943
Duplicate of https://github.com/rust-lang/rust/issues/69882

[2020-06-03 11:56] #72943 closed

[2020-06-03 11:56] alex-griffiths commented on #60302
Alright, mind if I take a crack at this?

[2020-06-03 12:20] #68977 closed

[2020-06-03 12:58] yaahc commented on #53487
@Diggsey if you need backtraces on stable use eyre+stable-eyre. Eyre is a fork of anyhow so it has all the same features but it doesn't hard code what kind of Backtrace or error report context you use which let's you switch it back to backtrace:: Backtrace which is what stable-eyre does.

[2020-06-03 13:07] fschutt opened #72944 "Warn if a function is marked as both #[inline] and #[no_mangle]"
Code:

[code]
[code]
[code]
If the function is marked as `#[inline]`, it doesn't get compiled into the dll file:
[code]

The reason a function may be marked as both `#[inline]` and `#[no_mangle]` is so that it gets inlined when compiling the crate as a rust library, but *not inlined* when compiling the crate as a cdylib.

There should be a warning to use something like `#[cfg_attr(not(crate_type="

[2020-06-03 13:12] Diggsey commented on #53487
How is this not a good justification? `eyre` doesn't help because our dependencies are moving to `anyhow`, not `eyre`. You're blocking a feature that would be useful *today* on an RFC that may never get merged, a feature that may never be implemented (associated type defaults) all for a requirement (move Error to core) that is already not possible without further changes, all while ignoring the fa

[2020-06-03 13:27] kinnison commented on #62117
I have merged stable support for this platform in our CI.  If everything goes well, 1.22 will *quietly* release with riscv support, though I'll need @tblah to test it during the prerelease sequence :D

[2020-06-03 13:27] #62117 closed

[2020-06-03 13:41] tshepang commented on #62117
@kinnison what is 1.22?

[2020-06-03 13:46] kinnison commented on #62117
@tshepang The next `rustup` release, when I get to it.

[2020-06-03 14:10] jamesmunns commented on #72463
Expanding on @Aaron1011's note, I would also expect this not to apply to `cdylib`s as well (I used the staticlib for my example, but my use case generates code for both static and dynamic library usage.

[2020-06-03 14:18] ajpaverd commented on #68793
Here are the items requested above:

- #72945 adds documentation about this flag to the unstable book.

- [Control Flow Guard for Rust.pdf](https://github.com/rust-lang/rust/files/4723836/Control.Flow.Guard.for.Rust.pdf) is a write-up about how CFG is implemented in Rust, benefits and drawbacks of enabling it, and a discussion about CFG in the standard library.

- [Control Flow Guard for LLVM.pdf]

[2020-06-03 14:44] yaahc commented on #53487
Associated type defaults are not involved in the RFC at all to my knowledge. Also, for the record, I'm not blocking anything, I don't have more power than anyone else here, I don't get a vote in whether or not anything here gets stabilized, I'm just an advocate same as you.

I feel like this is a pretty rude characterization of my work >_>. Also if you have more conventional alternatives that supp

[2020-06-03 14:57] CDirkx commented on #72895
I compared some other implementations, again specifically for `is_ascii_punctuation`:

`branch`: The current implementation, [branches do not get optimized away](https://rust.godbolt.org/z/mwf4B4).
[code]

`branch_adapted`: Adapted version of the current implementation. I tried different ranges and order, this was the fastest variant, [branches get optimized away](https://rust.godbolt.org/z/mwf4B4

[2020-06-03 15:22] JerrieLau commented on #66482
@Hi-Angel I just use it in my IDE(CLion).  Here's a screenshot:
![debug](https://user-images.githubusercontent.com/3468079/83655255-c8557800-a5f0-11ea-9e6c-ac3abd536eff.png)

[2020-06-03 15:24] LeSeulArtichaut commented on #72690
Assigning `P-high` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372690.20Type.20inference.20bug.3F).

[2020-06-03 15:25] LeSeulArtichaut commented on #72896
Assigning `P-critical` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372896.20ICE.20when.20structurally.20matching.20a.20struct).

[2020-06-03 15:31] LeSeulArtichaut commented on #64924
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2364924.201.2E38.20regression.20.3F.20proc-macro.20derive.20pani).

[2020-06-03 15:34] LeSeulArtichaut commented on #72933
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372933.20thread.20'rustc'.20has.20overflowed.20its.20stack).

[2020-06-03 15:40] Manishearth commented on #65983
@nikomatsakis would you or someone on the compiler team (@eddyb ?) be able to sketch out what such an approach would entail?

[2020-06-03 15:42] Hi-Angel commented on #66482
@JerrieLau what you're doing is different. You're basically treating `x` as a struct and unwrapping its members down to a pointer to elements. Both gdb and lldb can do that:

![Screenshot_20200603_183911](https://user-images.githubusercontent.com/7935057/83657464-8cf38300-a5c9-11ea-8a21-8c106addb032.png)

But as a programmer, I don't want to mess around with private internals of Rust types, which

[2020-06-03 15:50] dario23 commented on #66482
the [intellij-rust plugin](https://plugins.jetbrains.com/plugin/8182-rust) does have some gdb-integration python code though, might be interesting to look at anyways ([licensed under MIT](https://github.com/intellij-rust/intellij-rust/blob/master/LICENSE)).

[2020-06-03 15:56] jyn514 commented on #65983
If someone is willing to mentor, I'd be interested in working on this.

[2020-06-03 16:07] ldm0 opened #72949 "Macro expansion for expr"
[code]
Code below expanded into this result:
[code]
Noticing the `, b` in the weird line. After changing the `expr` in `offset!` to `ident`, this problem fixed. Is this a bug? I cannot find any documentation about it. If it's not, I guess we can write about it in the rust reference.

[2020-06-03 17:45] Manishearth commented on #65983
@eddyb would you have time to do this?

@jyn514 the basic idea is that the resolver tree in rustc_resolve needs to be serialized to something persistent. It's possible that the best way to do this is to simply make it no longer a self-referential arena and have it use ids instead. Or have a way to copy it out into a serializeable datastructure that has less of the mid-resolution tracking stuff in

[2020-06-03 18:15] kvark commented on #63538
@Osspial we want this in wgpu to have extensible structs without noisy builder patterns.

I understand the example your posted, and I appreciate @petrochenkov findings!

My question is basically, can this be shaped in a way that doesn't change the semantics of `..a` initialization?

For example, one of the concerns I see here is that it could allow copying whole structs that otherwise don't have `

[2020-06-03 18:21] lcnr commented on #72926
Not completely relevant to this issue, but I disagree here. `Discriminant` would still be completely sound even if it were bivariant, which it should be IMO.

Apart from this, I do agree that we should have an easy way to guard against variance changes.

[2020-06-03 18:35] spastorino commented on #72651
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372651.20ICE.3A.20Broken.20MIR) and removing `I-prioritize`.

[2020-06-03 18:37] pnkfelix opened #72953 "Get rid of /rustc/$hash hack"
Spawned off of https://github.com/rust-lang/rust/pull/72767/commits/a8e4236edc1e118ccb6c3f3a8d0139e4cd90b5b8

Right now, `/rustc/$hash` is used as a magic prefix to track paths into libstd source so that it can be remapped to local developer paths when they install the rust-src component.

But, as @eddyb pointed out on PR #72767, once we are willing to actually allocate another entry in the `FileN

[2020-06-03 18:59] poliorcetics commented on #48788
If the added doc is deemed sufficient, this should be close, though I do not know who to ping for that.

[2020-06-03 19:05] poliorcetics commented on #61222
The PR fixing this has been merged, this could be closed.

[2020-06-03 19:07] #48788 closed

[2020-06-03 19:12] nagisa opened #72956 "Indexing via `index` method and `[idx]` sugar works differently in `async` blocks/functions"
My co-worker stumbled upon this curious case where failing typecheck can be made to succeed only by making "equivalent" lowerings to code. In particular the following snippet fails to compile because there's a `!Send` type being retained across the yield point:

<details>
<summary>Failing code example</summary>

[code]

</details>

This snippet will fail with the following error ([playground](http

[2020-06-03 19:13] djc commented on #57969
So we've had this for a while now, and it would be nice to stabilize. Seems pretty simple. Libs team folks?

[2020-06-03 19:14] spastorino commented on #66265
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2366265.20As.20of.201.2E37.2E0.2C.20.60dylib.60.20shared.20libraries.20n) and removing `I-prioritize`.

[2020-06-03 19:15] spastorino commented on #65610
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372651.20ICE.3A.20Broken.20MIR) and removing `I-prioritize`.

[2020-06-03 19:31] amfern commented on #56935
@petrochenkov i am having the same issue as in https://github.com/rust-lang/rust/issues/72040 and i want to do short term solution, but i am not sure how to apply it, can you please explain?

[2020-06-03 19:32] jonas-schievink opened #72959 "-Zvalidate-mir: check that all unwind edges go to `cleanup` blocks"
Blocks that are part of unwinding code always need to marked as `cleanup`. This seems like an easy thing to check in the validation pass. I believe this would have caught a bug in the generator transform (a pretty long time ago).

This issue has been assigned to @doctorn via [this comment](https://github.com/rust-lang/rust/issues/72959#issuecomment-640562605).

[2020-06-03 19:51] varkor commented on #60302
@alex-griffiths: yes, go ahead! You can claim the issue with:

[2020-06-03 20:02] matthiaskrgr opened #72960 "ICE -Zsave-analysis + asm : issue-72570.rs"
### Code
code from ./src/test/ui/asm/issue-72570.rs
[code]

### Meta

repo is @ 6f4888845674837fd4b55adb66d9322e1973d7db

### Error output
`build/x86_64-unknown-linux-gnu/stage2/bin/rustc  ./src/test/ui/asm/issue-72570.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-03 20:03] #68833 closed

[2020-06-03 20:14] petrochenkov commented on #56935
@amfern
- Find the assert causing the issue, it should be one of the three "inconsistent resolution" asserts in `src/librustc_resolve`.
- Remove the assert.
- Build the compiler and run some tests `./x.py test --bless --stage 1 src/test/ui`.
- Add the freshly built toolchain to rustup `rustup toolchain link myrust <rust>/build/<target>/stage1/` (https://github.com/rust-lang/rustup#working-with-cus

[2020-06-03 20:41] steveklabnik commented on #60345
Triage: no change

[2020-06-03 21:08] alex-griffiths commented on #60302
@rustbot claim

[2020-06-03 21:39] doctorn commented on #72690
Problem seems to be that we always assume the last closure was the source of the inference failure

https://github.com/rust-lang/rust/blob/56daaf669ebc3d5083db5cded719f780dc31104e/src/librustc_infer/infer/error_reporting/need_type_info.rs#L109-L130

[2020-06-03 21:45] doctorn commented on #72690
Just sticking a return after https://github.com/rust-lang/rust/blob/56daaf669ebc3d5083db5cded719f780dc31104e/src/librustc_infer/infer/error_reporting/need_type_info.rs#L123 is enough to get the correct diagnostic. We clearly need to be smarter than that though because in a sequence of closures, any of them could be the source of an inference error (current implementation always assumes last, just

[2020-06-03 22:04] Amanieu commented on #44650
I personally feel that we should follow the newer standard since that's what all Windows apps are using these days. I'm concerned about the possibility of this being a breaking change but this seems to only affect some rare edge cases in quote handling.

[2020-06-03 22:38] varkor commented on #71611
Actually, I think I may have interpreted. It looks like this example *is* intended to work to me. cc @eddyb just to clarify.

[2020-06-03 22:51] carsonmyers commented on #72694
I'm also interested, looking for a first ticket

[2020-06-03 22:51] ehuss commented on #72550
@alexcrichton The issue is that the filename *inside* the dSYM directory includes the hash (`target/debug/foo.dSYM/Contents/Resources/DWARF/foo-64db4e4bf99c12dd`).  The old implementation would use [`readdir` to scan](https://github.com/rust-lang/libbacktrace/blob/f4d02bbdbf8a2c5a31f0801dfef597a86caad9e3/macho.c#L1198-L1206) for a `.dSYM` directory, and then use [`readdir` again](https://github.co

[2020-06-03 23:39] joshtriplett commented on #53487
@yaahc

This seems like a great idea to me. (Bonus if we can have appropriate mechanisms to control whether errors get backtraces taken or not, given the cost and the size complexity.)

[2020-06-03 23:53] spastorino commented on #72545
@petrochenkov given that this was reverted, should we change the priority of the issue or what's exactly the current status of things here?.

[2020-06-04 00:22] RustyYato commented on #72824
This is because two-phased borrows only work with method syntax, maybe we should also allow it for index sugar?

[2020-06-04 00:44] cesarb opened #72965 ""argument never used" in new asm! syntax"
When trying to use the new `asm!` syntax to implement something similar to `std::hint::black_box`, it fails with an "argument never used" error. For example (https://godbolt.org/z/mG9AMg):

[code]

[code]

This makes it impossible to use the new `asm!` syntax in one of my crates (https://github.com/cesarb/clear_on_drop/commit/43cd2be18076c424437fbdc302bec22853291b27 with CI output at https://travi

[2020-06-04 00:49] JerrieLau commented on #66482
Yes. you are right

[2020-06-04 01:08] ozgur-yalcin opened #72966 "Locale/language-sensitive case mapping ("Whats wrong with Turkey?")"
[code]

Is it OK ? It will work fine, right ?
Don't be so sure!
If you care a whit about localization or internationalization, force your code to run under the Turkish locale as soon as reasonably possible.

Please add support localized case folding to Rust like other programming languages below:

When it is supported, the code below should works like a charm !

[code]
or with a new function
[code

[2020-06-04 01:14] RustyYato commented on #72582
Note: This is a problem with associated types specifically, because the following code works (as expected)

[code]

[2020-06-04 02:06] Mark-Simulacrum opened #72969 "Crater runs for 1.45"

[2020-06-04 02:08] #71609 closed

[2020-06-04 04:49] hbina commented on #72966
Would this test be sufficient to indicate that this conversion is performed correctly? https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=63caf15374a3c580bbe9c5260522d102

[2020-06-04 06:19] workingjubilee commented on #20962
It does not.

[2020-06-04 06:22] LeSeulArtichaut commented on #72694
I'll assign this to @OddCoincidence (who opened a PR) for triage purposes.
@rustbot assign @OddCoincidence

@carsonmyers Good luck on finding a first issue! If you don't find anything, you can probably go in the Rust Zulip instance and ask for issues, `@DPC` will probably happily to find you one 😄

[2020-06-04 06:32] petrochenkov commented on #72545
The priority is not critical anymore, but still pretty high because we need to re-land https://github.com/rust-lang/rust/pull/72388 in some form sooner, otherwise more macros using hygiene holes caused by stringification (https://github.com/rust-lang/rust/issues/72622#issuecomment-636402573) will be written.

[2020-06-04 07:22] OzqurYalcin commented on #72966
I am the end user. I'm not confused. Unlike; I am confused when I think why it is not so. How can a feature that exists in hundreds of programming languages can confuse people :)

Think about it, you are writing a titlecase function for a string, but it never works as it should. Don't you get confused?

[2020-06-04 07:29] iago-lito commented on #72966
Would a new method `.to_locale_uppercase(locale)` be both compliant with Unicode recommendation (because it leaves `.to_uppercase()` unchanged) *and* useful to explicitely support these specific capitalization cases?

[2020-06-04 07:36] teymour-aldridge commented on #72816
@rakshith-ravi are you still interested in this (I'd like to take it if you aren't – no worries if you are, though)?

[2020-06-04 07:37] rakshith-ravi commented on #72816
Hey @teymour-aldridge. I'm already addressing this in my PR #72271.

[2020-06-04 07:38] teymour-aldridge commented on #72816
Oh – sorry! I didn't see it for some reason.

[2020-06-04 07:39] rakshith-ravi commented on #72816
No worries :)

[2020-06-04 08:09] notriddle commented on #44650
I'm legitimately not sure what "all Windows apps are using these days."

[code]

Let's try cmd.exe:

[code]

Now let's try PowerShell:

[code]

I'm not actually sure *if there even exists* a way to get decent escaping in PS. From the way variables behave, it looks like putting two quotes in a row creates an escaped quote, but they don't get properly re-escaped when you pass them to a command line

[2020-06-04 08:12] OzqurYalcin commented on #72966
I don't know which function would be more appropriate but I can suggest a test like this when it is supported.

[code]

[2020-06-04 08:29] leonardo-m commented on #72762
In the meantime I've found about a dozen usage points for this narrowing_rem in my codebase.

[2020-06-04 08:48] RalfJung commented on #51909
That's possible. But I don't think it means we should ditch `unconst`.

What would be really nice is if we could arrange things such that "being const-sound" *implies* "being runtime-sound". (We already know the other direction does not hold.) That would basically make the requirements of `unconst` a strict superset of the requirements of `unsafe`. In essence, we'd never use `unsafe` in a `const f

[2020-06-04 09:08] doctorn commented on #72690
Ok, I'm doing some more investigation and I think it might actually be safe to assume the first compatible closure is the source of the inference error because of the way `node_ty_contains_target` is implemented.

@rustbot claim

[2020-06-04 09:28] mzabaluev opened #72974 "-Z profile fails to produce any .gcno/.gcda files for bench target"
I want to generate profiling coverage information for a benchmark in my project. I run this command:

[code]

Neither the build nor running the bench executable creates `.gcno`/`.gcda` files with the coverage information. Also tried without `profile-emit`.

Tried to instrument `cargo test` for comparison, that ~results in a build failure~:

[code]

~The `-C incremental=...` option cannot be suppre

[2020-06-04 09:29] mzabaluev commented on #72974
Tracking issue for the feature: #42524

[2020-06-04 10:29] oli-obk commented on #51909
If we use `unconst` as a keyword inside `const fn`, we must lint on `unsafe`, telling the user to use `unconst`. We can't ban `unsafe` as you can already call `unsafe const fn`s on stable, you just can't do any unconst actions within `unsafe` blocks or `unsafe const fn`s.

Some concerns that come to mind:

* It feels a little odd to have `unsafe const fn` and `unconst` blocks. I definitely don't w

[2020-06-04 10:33] doctorn commented on #72690
Ok this is even more subtle than I first thought. There's just far too much ambiguity here for this diagnostic code to produce a sensible suggestion. Any time a sub-expression/local pattern/argument pattern/closure's type contains the inference target it immediately becomes a candidate for suggesting on. In this case though, the inference target is `std::string::String`, so any code that has anyth

[2020-06-04 10:33] doctorn commented on #72690
[code]

gives

[code]

[2020-06-04 11:11] gizmondo commented on #47293
Should be closed per #50565?

[2020-06-04 11:21] jhass commented on #72579
Here's how Clang implements `va_arg` on AArch64: https://github.com/llvm/llvm-project/blob/a574edbba2b24fcfb733aa2d82308131f5b7d2d6/clang/lib/CodeGen/TargetInfo.cpp#L5677-L5921

I think it's best to just disable `va_arg` on AArch64 (and quite possibly more targets)  until LLVM decides to properly implement it. Don't get your hopes  up on that though, when asked I asked in IRC  why clang would do t

[2020-06-04 12:12] Mark-Simulacrum commented on #72969
@craterbot run name=beta-1.45-1 start=master#49cae55760da0a43428eba73abcb659bb70cf2e4 end=beta-2020-06-03 mode=build-and-test cap-lints=warn p=10

[2020-06-04 12:13] Mark-Simulacrum commented on #72969
@craterbot abort

[2020-06-04 12:15] leonardo-m opened #72979 "New depends on a generic parameter error"
This used to work up to the penultimate Nightly version:
[code]

Today it doesn't compile:
[code]
Now it gives:
[code]

(This error reduces the usefulness of const generics for me).

[2020-06-04 12:18] withoutboats commented on #53487
Anyhow does not support backtraces without the backtrace feature, which only work son nightly Rust. It depends on both the std Backtrace type and the `Error::backtrace` method, because it uses the `Error::backtrace` method to9 determine if a backtrace needs to be generated when constructing an `anyhow::Error`. Maybe @dtolnay would be willing to make anyhow generate a redundant backtrace on stable,

[2020-06-04 12:18] jonas-schievink commented on #72979
This is basically https://github.com/rust-lang/rust/issues/68436

[2020-06-04 12:18] #72979 closed

[2020-06-04 12:22] Patryk27 commented on #47937
@rustbot claim

[2020-06-04 12:23] leonardo-m commented on #72979
I am not sure it's right to close this issue down. This used to work up to about one day ago. For me it's a regression (despite const generics are an incomplete feature)

[2020-06-04 12:30] jonas-schievink commented on #72979
Presumably caused by https://github.com/rust-lang/rust/pull/70107, so this is intended behavior. There will probably be a solution before const generics are stabilized.

[2020-06-04 12:31] leonardo-m commented on #72979
OK, thank you.

[2020-06-04 12:54] ldm0 opened #72980 "Namespacing of member in impl"
`enum namespacing` was introduced in [RFC 390](https://github.com/rust-lang/rfcs/blob/master/text/0390-enum-namespacing.md), which makes the following code compiles:
[code]
However:
[code]
I think it would be usefule if we have namespacing of member in impl? I met this issue on using `bitflags`, which depends on the feature of declaring const value in an impl block. Without namespacing of impl mem

[2020-06-04 12:59] withoutboats commented on #65280
@dtolnay @seanmonstar is this issue resolved?

[2020-06-04 13:03] spastorino commented on #72545
@petrochenkov yeah, that was my impression too. Going to label this as `P-high`.

[2020-06-04 13:16] mark-i-m commented on #51909
Also does `unconst` work in all the contexts that `unsafe` works? For example, would any of these work?

- `unconst trait Foo`
- `unconst const fn foo()`
- `fn foo() { unconst { ... } }`

I think this will be more confusing to people than just saying `unsafe` has different rules in `const` contexts and perhapd linting likely mistakes or having clippy run miri or something.

[2020-06-04 13:20] ChrisDenton commented on #44650
I think it's safe to say that "all Windows apps" are using Microsoft's C runtime for parsing commandline arguments. If "all" means "the majority of software built since 2008".

---

In powershell you can use backticks to escape quotes:

    .\target\debug\testexe.exe "a `"b`" c"

Or you can pass the entire line verbatim, without interpretation:

    .\target\debug\testexe.exe --% "a "b" c"

Or, if

[2020-06-04 14:00] alexcrichton commented on #72550
Ah ok that definitely makes sense. I think it's best to go with a Cargo fix for this rather than a backtrace one. This would involve editing libbacktrace, which I personally have very little confidence in doing. FWIW the dsym loading for gimli is [here](https://github.com/rust-lang/backtrace-rs/blob/02bc46fa34beac05e982a109db51fb5d376c287f/src/symbolize/gimli/macho.rs#L27-L71).

We should probably

[2020-06-04 14:11] spastorino commented on #67599
This was `I-nominated` for prioritization but `I-nominated` now means let's discuss during the compiler weekly meeting. So removing the label.

[2020-06-04 14:16] #72554 closed

[2020-06-04 14:16] #52468 closed

[2020-06-04 14:18] withoutboats commented on #53487
I've created a stabilization proposal here: #72981. I've tried to cover all of the issues discussed. Other people who have concerns about stabilizing backtrace should leave comments on this PR!

[2020-06-04 15:27] ehuss commented on #72974
I think profiling requires debuginfo.  Try setting this in `Cargo.toml`:

[code]

I'm not sure how well it will work with an optimized build, though.  You may want to consider using the dev profile instead (and setting incremental=0).

[2020-06-04 15:53] seanmonstar commented on #65280
Probably! Of the points I posted originally:

- [x] There is now a typical `Debug` format that doesn't force newlines and respects `:#?`.
- [ ] We can't use formatting's precision feature to restrict the amount of frames shown, which *would* be super useful (I suspect the first 5 or so are the most interesting, the rest is noise). But there's an issue with the precision flag propagating to each li

[2020-06-04 15:56] ecstatic-morse commented on #72022
I concur with @nagisa. Canonicalizing a mistake made in the generator transform without making a conscious decision is wrongheaded IMO. There's probably code that relies on the fact that only one `Return` terminator exists; we just haven't found those bugs yet.

[2020-06-04 16:08] yaahc commented on #65280
Would adding the precision stuff later be considered a breaking change that violates std's stability guaruntees?

[2020-06-04 16:17] bjorn3 commented on #72022
Cranelift likes multiple returns better than single returns. It never duplicates `ret` instructions, even when it would decrease the amount of register moves and jumps.

[2020-06-04 16:22] androm3da opened #72985 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc_typeck/check/intrinsic.rs:288:42"
This happened while trying to build libstd (outside of bootstrap) for hexagon-unknown-linux-musl.  Not sure if `xbuild` is the appropriate convention but I saw it used in libc crate's CI and assumed it might be worth a try w/libstd.

[code]

[2020-06-04 16:24] withoutboats commented on #65280
IMO currently the only guarantee we're making about backtrace is that formatted with the normal Debug formatting (`"{:?}"`) will not change.

[2020-06-04 16:27] Mark-Simulacrum commented on #65280
@withoutboats I would maybe not even go that far? e.g. that we probably don't want to guarantee a specific implementation wrt to showing inlined functions and such. But maybe you mean that we will keep the format of the "raw" Debug display consistent with what it is today.

I'd personally be unsure that I would want to stabilize even that -- I think if we're essentially stabilizing that I would ra

[2020-06-04 16:30] withoutboats commented on #65280
This should probably be on the #72981 but: users are curently relying on that format to parse out info about the frames, because we don't provide a better API. We should not break that, at least until we have stable accessors. I agree that we should provide those APIs as well, but I wouldn't agree that it should block stabilizing backtrace. I just think we should be aware that users are currently,

[2020-06-04 16:33] Mark-Simulacrum commented on #65280
Ah, I was not aware that we knew of use cases that were doing that. I agree that we should not break them just because and certainly not before methods are added to replace functionality. I also agree it need not block stabilization.

One thing that might be good to do is to add a method that explicitly keeps the current format or at least add a snippet to the [Debug impl](https://doc.rust-lang.or

[2020-06-04 16:35] yaahc commented on #65280
Yea, my inclination is to not block stabilization on the filtering issue, users can already filter the frames themselves by parsing the output from the `Debug` impl with something like https://crates.io/crates/btparse. Also, once we get a stable access api for iterating over frames it should be easy to build filtering ontop of `Backtrace` and crates like `color-backtrace` which do more accurate fi

[2020-06-04 18:02] jplatte commented on #55779
@DevinR528 just ran into this bug in their GSoC project when adding a trybuild test ([ruma-events#108 (Files)](https://github.com/ruma/ruma-events/pull/108/files#diff-8cd1d5c4094b15b7044512a1a73b4095)). That test is disabled for now, but FWIW this doesn't seem to actually require an `extern crate` inside a `fn`.

We do have an `extern crate self as ruma_events;` that is used for the proc macros to

[2020-06-04 18:18] chrissimpkins commented on #72641
https://github.com/rust-lang/rust/pull/72988

[2020-06-04 18:53] poliorcetics commented on #50727
Is there still something to do about this issue ? If yes, I would like to do it, but I see tuples have been documented and from what I understand the rest is apparently not needed.

[2020-06-04 19:18] estebank commented on #72929
cc @eddyb

[2020-06-04 19:18] Digital-Monk commented on #55300
I'm fine with `partition_at_index`, and prefer to keep the `_index` in there, because otherwise I would tend to think it was partitioning at (by?) a value and returning the index...  Sorry, that may be mental corruption caused by my students when I was teaching ComSci, but I've found that being explicit about index-vs-value is useful, especially as you get more powerful libraries.

(Sorry if I nec

[2020-06-04 19:20] anp opened #72991 "Add `assert_matches!` based on `matches!` to mirror `assert_eq!`?"
The `matches!` macro is really useful, but [like others](https://github.com/rust-lang/rust/pull/59260#issuecomment-628782635) I'm interested in std getting an `assert_matches!` macro to mirror `assert_eq!`. While it's nice for readability and concision, my main desire is to get better error messages for tests which assert properties on types that don't implement `PartialEq`.

https://play.rust-lan

[2020-06-04 19:24] djc opened #72992 "Tracking Issue for `poll_ready`"
This is a tracking issue for `Poll::ready()` (PR #72994).
The feature gate for the issue is `#![feature(poll_ready)]`.

### Steps

- [x] Implement the API
- [x] Adjust documentation ([see instructions on rustc-dev-guide][doc-guide]) [not applicable?]
- [ ] Stabilization PR ([see instructions on rustc-dev-guide][stabilization-guide])

Rationale: I have this code in Quinn:

[code]

And this would se

[2020-06-04 19:26] tamird commented on #72991
Sounds like #59260 just went stale. Perhaps a similar CL can be considered.

[2020-06-04 19:32] powerboat9 commented on #51909
Why does [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bec6c311158c4e338506bd9b09b4f4f5) work fine on stable, but [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=63492434f5a8d2f49d0ff7a938b39dba) doesn't? Is there something about constant functions that prevents Scalar::Ptr/Scaler::Bits from working across call boundaries?

[2020-06-04 20:02] poliorcetics opened #72997 "Web Assembly Atomic fence support in `atomic::fence`"
The function `pub fence(order: Ordering)` in `libcore/sync/atomic.rs` does nothing when compiled for Web Assembly.

This stem from an old issue in web assembly #WebAssembly/tool-conventions/issues/59 and LLVM crashing (at the time) with it.

[This has since been fixed, notably for LLVM](https://github.com/WebAssembly/tool-conventions/issues/59#issuecomment-525972637), maybe we can remove the `#[cf

[2020-06-04 20:43] Others commented on #29864
I'd like to see this stabilized. The next check box on the issue is documentation, which I'm happy to contribute if it moves this feature forward. Could someone point me to where we'd want to document this feature?

[2020-06-04 20:51] notriddle commented on #44650
No I can't. Here's what happens when I try:

    PS C:\Users\micha\testexe> .\target\debug\testexe.exe "a `"b`" c"
    env::args() = ["C:\\Users\\micha\\testexe\\target\\debug\\testexe.exe", "a b c"]
    GetCommandLineW = "C:\Users\micha\testexe\target\debug\testexe.exe" "a "b" c"

It's exactly the same as when I did it with two quotes in a row. It creates a string object with quotes in it (like w

[2020-06-04 20:55] notriddle commented on #44650
The behaviour I was hoping for, by the way, is something like one of these:

PS C:\Users\micha\testexe> .\target\debug\testexe.exe --% "a \"b\" c"
env::args() = ["C:\\Users\\micha\\testexe\\target\\debug\\testexe.exe", "a \"b\" c"]
GetCommandLineW = "C:\Users\micha\testexe\target\debug\testexe.exe"  "a \"b\" c"

PS C:\Users\micha\testexe> .\target\debug\testexe.exe --% "a """b""" c"
env::args() =

[2020-06-04 20:55] ChrisDenton commented on #44650
Just to be absolute clear about how Windows `argv` works, it might help to completely forget how *nix works.

The Windows kernel doesn't know at all about arguments. As far as it's concerned arguments are just a single string that it can pass on to a new process. No more, no less. It's not an array of strings. It's just one string. This string doesn't have to contain the `.exe` or anything else. T

[2020-06-04 21:06] ilya-bobyr opened #73000 "Free `default()` function to augment `Default::default()`"
It feels a bit redundant to have to say `Default::default()` every time I need a new value of a type that has a `Default` instance.
Especially so, compared to Haskell, where the same functionality is called `def`.
Providing a free `default()` function that forwards to `Default::default()` seems to improve the situation.
The trait is still there, so if someone wants to be explicit and to say `Defau

[2020-06-04 21:07] ilya-bobyr commented on #73000
Here is a pull request: https://github.com/rust-lang/rust/pull/73001

[2020-06-04 21:07] #73000 closed

[2020-06-04 21:08] frostyplanet opened #73002 "Clarify the behavior of std::task::Waker and Future::Poll"
I have been implemented a few sync mechanism including WaitGroup and MPMC/MPSC in async, althought currently my code seems to work fine. I have some confusion about the documented and feels that there's undefined behavior, especially when future is implemented as lockless and waited/wake_up between multiple thread concurrently.

In https://doc.rust-lang.org/std/future/trait.Future.html there's a s

[2020-06-04 21:36] rodrimati1992 opened #73003 "ICE initializing `impl Fn()` constant with closure"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-04 22:03] Shnatsel commented on #59229
The new trait impl addressing this has shipped in 1.43, so this issue can be closed.

[2020-06-04 22:07] Xanewok commented on #72960
Does this still happen with (now merged) https://github.com/rust-lang/rust/pull/72882?

[2020-06-04 22:47] magmast opened #73004 ""mismatched types" hint to add semicolon before use"
Hello! I'm trying out async/await and tokio. When I've created async function which returns `Result<(), Box<dyn std::error::Error>>`, compiler started to complain that it found `impl std::future::Future` instead of `()`. I think that's a bug itself because I'm returning `Ok(())` from it (still not sure if I'm not doing something wrong), but there's another thing that I'm sure is a bug. Please look

[2020-06-04 23:07] frostyplanet commented on #73002
If a runtime implementation can not ensure Waker being the same in multiple poll(),  this will lead to repeatly canceling old waker and installing new waker.  Outsider which trying to wake a Waker may have synchronize issue of waking a false waker being canncel,  such behavior may lead to the lost of wakeup event.  So a sane runtime implementation should ensure ctx.wake() in multiple call to the s

[2020-06-04 23:47] yoshuawuyts opened #73006 "Tracking Issue for feature string_u16_to_socket_addrs"
The feature gate for the issue is `#![feature(string_u16_to_socket_addrs)]`.

### Steps

- [ ] Adjust documentation ([see instructions on rustc-dev-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-dev-guide][stabilization-guide])

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr
[doc-guide]: https://rustc-dev-guide.rust-lan

[2020-06-05 00:04] estebank commented on #73004
This is caused likely due to `#[tracing::instrument]` modifying the token stream, giving the suggestion a `DUMMY_SP` (a span at 0, 0).

Removing some of the code causes some more actionable (if still incorrect) output.

[In stable:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=45909602e47f6b0088ef23fcfff5b495)

[code]

[In nightly:](https://play.rust-lang.org/?version=ni

[2020-06-05 00:35] ChrisDenton commented on #44650
In short the powershell user is constructing the `CommandLineW` string more or less directly, the particulars of string types aside.

But I would add that the intricacies of powershell should have nothing to do with Rust std's handling of command line arguments. So long as the std behaves like other Windows applications it doesn't matter. If powershell makes a nicer way to construct a `CommandLine

[2020-06-05 01:08] notriddle commented on #44650
Yeah, I agree with everything you said there.

I'm fine with changing to the new CRT behaviour, as long as we don't break anything. And it looks like we won't.

[2020-06-05 01:48] softwaredeveloptam commented on #72255
Hi I would like to take this on as a first issue if that's okay.
@rustbot claim

[2020-06-05 02:04] Aaron1011 commented on #72949
@ldm0: You wrote `$field: expr`, which is causing Rust to treat `$field` as a standalone expression (a standalone `b` in your example). If you want to use it as a field, you'll need to capture it as identifier by using `$field:ident`:

[code]

[2020-06-05 02:53] ldm0 commented on #72949
@Aaron1011 Thanks for the explanation. This problem can be fixed by changing the `expr` in `offset!` to `ident`, but the most confusing thing is rustc silently removes the `.` and adds the `, `.

[2020-06-05 02:55] Aaron1011 commented on #72949
I suspect that the added comma may be a quirk of pretty-printing, but I'll need to investigate more.

[2020-06-05 04:00] Neutron3529 opened #73013 "Another semicolon Bug:missing a `semicolon` but rustc told me `call expression requires function`"
I tried this code:

[code]
this strange thing might due to the method to decide what if returns.
If we remove the `let` expression, things are quite different:
[code]
It seems rust will suppose `if` always returns `()` when there is no `=` before `if`
but with a `=` such as `let a=if ...`, the `if` will always returns something.
which is quite strange.
### Meta

`rustc --version --verbose`:
[code]

[2020-06-05 05:25] Aaron1011 commented on #71793
One solution would be to generate `StorageDead` statements for locals (right now, it looks like we only do it for temporaries). When we inline `ok_or` and `unwrap`, the `StateTransform` pass will be able to determine that the `&str` local definitely does not live across a yield.

[2020-06-05 05:28] #59229 closed

[2020-06-05 05:55] ilya-bobyr opened #73014 "Tracking issue for std::default::default()"
The feature gate for the issue is `#![feature(default_free_fn)]`.

### Addition of a free `default()` function to the `default` module.

When constructing a value using `Default::default()` the word "default" is repeated twice.

See https://github.com/rust-lang/rust/pull/73001 for additional details, including alternative solutions.

### Steps

- [X] Implement the RFC: https://github.com/rust-lang

[2020-06-05 06:13] oli-obk commented on #51909
The reason it's not allowed in const fn is discussed starting at https://github.com/rust-lang/rust/issues/51909#issuecomment-523209113

TLDR: some functions that are sound at runtime will fail CTFE at compile-time or hypothetically even have different results (we don't know of any cases of the latter though).

[2020-06-05 06:22] luojia65 opened #73015 "Use `fclass.{s|d|q}` instruction for float point classification in RISC-V targets"
Recently I came up with floating point variable classification. I found the function [`f32::classify`](https://doc.rust-lang.org/std/primitive.f32.html#method.classify) useful. Regardless of instruction set architecture, this function is implemented currently like this in standard library:

[code]

This function compiles to very long bunches of instructions. To solve this problem, RISC-V provided

[2020-06-05 07:20] SimonSapin commented on #53639
(Another way of "upgrading" uses of `static mut` is sometimes to remove the entire module, because no one has used that functionality since 2016 and it’s not wort the effort to figure out if and how that C library can be used at all from multiple threads without data races)

[2020-06-05 08:00] SzeChuanChilliSauce opened #73016 "Rust MacOS cross-compile, ld: unknown option: --as-needed"
![image](https://user-images.githubusercontent.com/26214341/83851697-5478b400-a745-11ea-8434-082bd83e3dde.png)
cargo.toml:
![image](https://user-images.githubusercontent.com/26214341/83851804-76723680-a745-11ea-972c-44b6b7e4fbe7.png)
src:
![image](https://user-images.githubusercontent.com/26214341/83851926-9e619a00-a745-11ea-882c-a7d31b15a1ad.png)

[2020-06-05 08:00] ilya-bobyr commented on #73014
@rustbot modify labels to +F-default_free_fn

[2020-06-05 08:01] SzeChuanChilliSauce commented on #73016
I want to compile rust as shared library for android.

[2020-06-05 08:16] bluss commented on #72966
Does this feature already exist in a crate in the ecosystem, and what shape of the API have they settled on? I can't see it in unic, but it might exist.

[2020-06-05 08:21] bluss commented on #73014
You call out `Default::default()` in the description here - but why aren't `T::default()` or `<$any_type>::default()` good alternatives? They work today, if the Default trait is in scope, and it is in the prelude.

[2020-06-05 08:44] ehuss commented on #73016
The linker/ar settings belong in `.cargo/config`, not `Cargo.toml`.

[2020-06-05 08:54] ilya-bobyr commented on #73014
`T::default()` is convenient when the compiler can not infer the type.  But when it can, `T` because redundant.  Here is a discussion where this was mentioned as well: https://github.com/rust-lang/rust/pull/73001

[2020-06-05 09:35] #73016 closed

[2020-06-05 09:49] marmeladema commented on #72960
I can confirm its fixed. We can probably close this issue.

[2020-06-05 09:50] Xanewok commented on #72960
Closing this, thanks for taking a look!

[2020-06-05 10:06] #72960 closed

[2020-06-05 10:19] matthiaskrgr opened #73020 "ICE E0431.rs with -Zsave-analysis"
### Code
code from `./src/test/ui/error-codes/E0431.rs`
[code]

### Meta

repo is @ 219380d840877de97b0e17674be7212ebc929d51

### Error output
`build/x86_64-unknown-linux-gnu/stage2/bin/rustc ./src/test/ui/error-codes/E0431.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-05 10:19] RalfJung commented on #51909
@oli-obk those are all great arguments. Maybe having a good section in the nomicon is indeed the best we can do.

And we need such a section anyway, so it's probably a reasonable next step. Unfortunately it'll be a while until I have time to look into this, so I hope someone else can get this started. :)

[2020-06-05 10:22] RalfJung commented on #72959
Good point! Moreover, cleanup block terminators should also only jump to cleanup blocks, and other terminators should only jump to non-cleanup blocks. Basically, unwind edges must be the only ones that cross the "cleanup to non-cleanup" boundary.

(Miri is already checking this.)

[2020-06-05 10:25] RalfJung commented on #73014
FWIW I think it is often still good style to say `T::default()` to communicate to the human reader the type being constructed away, which can be declared very far away in the code (even in a different file).

[2020-06-05 10:26] matthiaskrgr opened #73021 "ICE: Encountered error `Unimplemented` selecting `Binder(... issue-37725.rs --emit mir -Zmir-opt-level=2"
### Code
code from `./src/test/ui/issues/issue-37725.rs`
[code]

### Meta

repo is @ 219380d840877de97b0e17674be7212ebc929d51

### Error output
`build/x86_64-unknown-linux-gnu/stage2/bin/rustc ./src/test/ui/issues/issue-37725.rs  --emit mir -Zmir-opt-level=2`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-05 10:31] matthiaskrgr commented on #72181
Looks like this also happens in `./src/test/ui/issues/issue-46855.rs` which does not use any special features
[code]

cmd: `RUST_BACKTRACE=full build/x86_64-unknown-linux-gnu/stage2/bin/rustc ./src/test/ui/issues/issue-46855.rs  -Zmir-opt-level=1 --emit mir`

[2020-06-05 10:32] matthiaskrgr commented on #73020
another one: `./src/test/ui/issues/issue-47673.rs`
[code]

[2020-06-05 10:34] RalfJung commented on #72181
Is this a regression? Looks like the backtrace points to `read_discriminant` which was recently changed in https://github.com/rust-lang/rust/pull/72419.

[2020-06-05 10:34] RalfJung commented on #72181
Ah, but the original report is from before that PR. Not a regression then, or at least not caused by this PR.

[2020-06-05 10:35] RalfJung commented on #72181
@matthiaskrgr could you post a backtrace for the second ICE? The first one was related to the `match`, but the second does not have a `match`.

[2020-06-05 10:41] matthiaskrgr opened #73022 "ICE -Zsave-analysis lint-dead-code-5.rs impossible case reached"
### Code
reduced from `./src/test/ui/lint/dead-code/lint-dead-code-5.rs`
[code]

### Meta

repo @ 219380d840877de97b0e17674be7212ebc929d51
### Error output
`RUST_BACKTRACE=full build/x86_64-unknown-linux-gnu/stage2/bin/rustc ./src/test/ui/lint/dead-code/lint-dead-code-5.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-05 10:42] matthiaskrgr commented on #73020
another one: `./src/test/ui/issues/issue-10806.rs`
[code]

[2020-06-05 10:52] matthiaskrgr commented on #72181
backtrace:
[code]

[2020-06-05 11:27] ogoffart opened #73026 "`rustc --cfg=')' ` exits without error"
### Code

Running the command `rustc --cfg=']' `  exits without any meaningful error.

### Meta

`rustc --version --verbose`:
[code]

Also reproduced on godbold.org with the 1.45 nightly.
Changing version on godbold.org shows the problem start occuring in 1.39.
(rustc 1.38 properly give an error)

### Background

I had a typo in my build.rs script, it looked something like that:

[code]

`cargo bu

[2020-06-05 11:28] RalfJung commented on #72181
Thanks, so that's inside `read_discriminant`, too. Curious.

[2020-06-05 11:43] qwerty19106 opened #73028 "New asm! macro can unexpectedly reorder code"
I am testing a new asm! macro syntax.
I tried this needless code:
[code]
It compiles to
[code]

But I was expecting something like this:
[code]

Why rustc reorder code in spite of `compiler_fence`?
cc [Amanieu](https://github.com/Amanieu)

### Meta
rustc 1.45.0-nightly (ad4bc3323 2020-06-01)
Target: thumbv7m-none-eabi
Opt-level: 2
[godbolt](https://godbolt.org/z/azXajM)

[2020-06-05 12:00] marmeladema commented on #73022
Its a regression from https://github.com/rust-lang/rust/pull/72882 but fortunately the fix is relatively easy. I'll provide a PR soon,

[2020-06-05 12:02] powerboat9 commented on #51909
I'm still not quite sure what you mean. Scalar::Ptr/Scalar::Bits should prevent non deterministic behavior, as long as the list of operations that can be done on a Scalar::Ptr without erroring is very short. And if a const function runs differently at runtime, it's because it doesn't cause a miri failure. If a program compiles successfully, its const functions should behave the same at runtime for

[2020-06-05 12:03] doctorn commented on #72944
Related to #72463 - I think is that we _should_ include `#[inline]`'d functions in `cdylib`s and `staticlib`s, but as a short term solution, a warning is a nice idea

[2020-06-05 12:06] doctorn commented on #72463
I think I'm going to take this on

@rustbot claim

[2020-06-05 12:06] badboy commented on #32859
Rust 1.44.0 made this issue resurface for us.
Related bugs: #47493, #53301

Error

<details>

[code]

</details>

Happens on this minimal code:

[code]

and set to compile as a `cdylib` in Cargo.toml (`[lib] crate-type = ['cdylib']`)

Compiled like this:

[code]

The above fails on Rust 1.44.0
The above compiles fine on Rust 1.43.0.
Enabling LTO also works for this minimal example:

[code]

On our

[2020-06-05 12:08] badboy commented on #32859
(Ah well, I guess the original issue as reported wasn't due to the missing symbols, but at least the title matched, the other linked issues are suited better I guess)

[2020-06-05 12:08] doctorn commented on #72944
@rustbot claim

[2020-06-05 12:38] oli-obk commented on #51909
That's the root problem. We can either do what you describe, and ban all bad operations at evaluation time, or we write down the rules that ppl need to adhere to in order to be able to do those operations safely. If we just ban them, that means we won't ever reasonably support `&[] == &[42]` (slice comparison), because that internally compares the addresses of the slices as an early bail out in or

[2020-06-05 12:42] nagisa commented on #73015
Would probably start with adding the intrinsic for this instruction to LLVM.

[2020-06-05 12:45] mati865 commented on #32859
@badboy it could be caused by refactoring of panic handling which happened in 1.44 but it's only a guess.
AFAIK i686 MinGW target is only supported with Dwarf-2 exception handling. Debian and its derivatives still provide only SJLJ exceptions for i686 MinGW though.

[2020-06-05 13:07] powerboat9 commented on #51909
Ok, that makes sense. So for pointer comparison purposes. But it seems like the function foo() itself is deterministic. It's simply the case that the function behaves differently if the arguments passed to it happen to be equal. While foo(&42, &42) may or may not have a == b depending on context, I don't think the compiler guarantees one or the other even at runtime. If necessary though, &42 == &4

[2020-06-05 13:10] powerboat9 commented on #51909
It seems like the only operations that would have to be bad would be those that modify a Scalar::Ptr and those that allow a Scalar::Ptr and a Scalar::Bits to be compared.

[2020-06-05 13:15] aodhneine opened #73029 "Returning Result<T, Box<dyn std::error::Error>> from asynchronous task causes panic in the compiler"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-05 13:18] aodhneine commented on #73029
Related: tokio-rs/tokio#2588, async-rs/async-std#810.

[2020-06-05 13:22] jonas-schievink commented on #73029
Duplicate of https://github.com/rust-lang/rust/issues/72766, this should be fixed in the current nightly.

[2020-06-05 13:22] #73029 closed

[2020-06-05 13:35] oli-obk commented on #51909
I wrote up some details in https://github.com/rust-lang/nomicon/pull/221

Yea, I am miscommunicating this point frequently. Let me try again.

The issue isn't whether runtime chooses a random result here, it's that runtime and compile-time disagree. So let's simplify our example. Assume the following function exists.

[code]

Code calling this function can reasonably assume that calling it at comp

[2020-06-05 13:38] badboy commented on #32859
Yup, saw the refactoring PR, that was also my first guess.
Not supporting that is fine I guess.
I guess we're running into this because libstd/libcore are compiled with `panic=unwind`, not our code. Still makes #53301 relevant again.

[2020-06-05 13:49] Lokathor commented on #55724
I'll speak a moment about `repeat` as a potential user of it with a practical example. My use case is as follows: I would like for a bitmap allocation to have H scanlines. Each scanline is W pixels of size P, and each scanline is also optionally over-aligned to 16 or 32.

This can't be done using `array` because no proper type for this exists, so it would be done with something like `repeat` I sup

[2020-06-05 13:54] withoutboats commented on #71668
I want to give an experience report. I've been writing a lot of unsafe code recently with ringbahn, and I've been thinking about how this change would have impacted my experience and the correctness of my code. Unfortunately, my thoughts are not optimistic.

My experience makes me think a big downside of this change has been overlooked, and that the upside is not so great. The goals of this change

[2020-06-05 14:00] luojia65 commented on #73015
Yes, I think so. Is there existing works in LLVM? @nagisa

[2020-06-05 14:12] derekdreery commented on #72930
Since this is fixed on nightly I'm gonna close.

[2020-06-05 14:12] #72930 closed

[2020-06-05 14:18] froydnj opened #73030 "[stable regression] #[should_panic] tests segfault in certain OS X configurations with 1.44.0"
We are seeing some sccache `#[should_panic]` tests segfault on TravisCI when using Rust 1.44.0, when those same tests succeed with Rust 1.43.1 (e.g. [here](https://travis-ci.org/github/mozilla/sccache/builds/695020197) -- note that the OS X `DEPLOY=1` build does not run tests).  The tests in question are these:

https://github.com/mozilla/sccache/blob/e57788095488944d05df2ea92d12ade319b05822/src/c

[2020-06-05 14:19] jrmuizel opened #73031 "Unneeded call to panic!()"
The following:

[code]
compiles to:

[code]

The `unreachable!` and should be eliminated

[2020-06-05 14:28] mati865 commented on #32859
Using `xargo`, `cargo-xbuild` crates or **unstable** `-Zbuild-std` flag to rebuild std with `panic=abort` should help but it's purely a workaround.

Yeah, fixing #53301 would be really nice.

[2020-06-05 14:34] nagisa commented on #73015
Not that I’m aware of.

[2020-06-05 14:51] RalfJung commented on #71668
I am fully buying your argument with `Ok`-wrapping, but am unconvinced of it in the context of unsafe blocks. I think that is because with `Ok`-wrapping, even having that added implicitly for the final product seems like a great state of affairs to me, whereas for `unsafe` it feels like a prototyping-only kludge.

So maybe a better solution to your problem, instead of keeping `unsafe fn` internall

[2020-06-05 14:56] #72550 closed

[2020-06-05 15:53] ehuss commented on #73030
I'm able to repro.  I'm also getting other random corruption (like `malloc: Incorrect checksum for freed object` or mpsc going into an infinite loop).  The backtrace is:

<details><summary>backtrace</summary>
<pre>
  * frame #0: 0x000000010694dc23 sccache-720cb5bbc0e667a6`__rdos_macho_add + 2163
    frame #1: 0x000000010694d2b6 sccache-720cb5bbc0e667a6`__rdos_backtrace_initialize + 278
    frame #

[2020-06-05 15:53] phil-opp commented on #71668
To me the only difference between safe and unsafe functions is that the latter have additional memory safety related requirements for callers. I see no reason to treat the bodies of safe and unsafe functions differently, so it makes sense to me to use the same mechanism for marking unsafe operations.

Of course we could also create a lint that requires an annotation for each unsafe operation, but

[2020-06-05 15:57] ehuss commented on #73030
Note to triage/release:  backtraces are somewhat broken in 1.44 on macos for other reasons. We just merged a fix at https://github.com/rust-lang/cargo/pull/8329 (see https://github.com/rust-lang/rust/issues/72550), and I plan to backport that to 1.45.  If you decide this is worthy of a point release, that might be another element of consideration.

[2020-06-05 15:58] Aaron1011 commented on #71668
@withoutboats

That's true - however, the `unsafe` function being called may have additional safety conditions that are unrelated to the rest of the function. When reviewing code, seeing something like:

[code]

immediately tells me that `third_fn` cannot cause undefined behavior by itself - it can only do so as a result of interaction with other unsafe code (`first_fn()`, `second_fn()`, or someth

[2020-06-05 16:20] Mark-Simulacrum commented on #73030
I think backtraces being broken is sufficiently annoying that I'd be personally in favor of a point release. It probably makes sense to not rush it out the door immediately, but maybe aiming for say Tuesday-ish in ~2 weeks (i.e. not next) makes sense? -- cc @rust-lang/release

[2020-06-05 16:20] Mark-Simulacrum commented on #72969
@craterbot run name=beta-1.45-1 start=1.44.0 end=beta-2020-06-03 mode=build-and-test cap-lints=warn p=10

[2020-06-05 16:24] matthewjasper opened #73035 "Type alias impl trait types do not check bounds apply to concrete type"
The following code runs and prints random values:

[code]

<details>

<summary>ICE using the same issue</summary>

[code]

</details>

[2020-06-05 16:34] mzabaluev commented on #72974
The compiler could have put out a warning about the options being incompatible.

[2020-06-05 17:07] jonas-schievink commented on #73030
Yes, that sounds reasonable.

[2020-06-05 17:28] pietroalbini commented on #73030
Sounds good.

[2020-06-05 17:49] XX opened #73037 "What about adding `stub!` macro to the `std`?"
Currently, we have to write like this:

[code]

It would be convenient to have a special macro to make stubs like `todo!` or `dbg!`:

[code]
[code]
Additionally, it can be added compiler warnings. What do you think?

[2020-06-05 17:49] powerboat9 commented on #51909
Ok. How do unions act differently in compile time and run time?

[2020-06-05 17:53] pietroalbini opened #73038 "AddressSanitizer does not work on the aarch64-unknown-linux-gnu target"
When running the rustc test suite on AArch64, the `codegen/sanitizer-no-sanitize.rs` fails with the following message:

[code]

[2020-06-05 17:57] pietroalbini opened #73039 "codegen/repr-transparent-aggregates-1.rs test fails on AArch64"
When running the rustc test suite on AArch64, the `codegen/repr-transparent-aggregates-1.rs` test fails with the following error:

[code]

[2020-06-05 18:01] AaronKutch commented on #71668
Is this in nightly yet? It definitely recognizes the `unsafe_block_in_unsafe_fn` feature, but it still treats unsafe functions as if the entire inside is an `unsafe` block and even warns that `unsafe` blocks are unnecessary.

[2020-06-05 18:03] RalfJung commented on #71668
@AaronKutch we have testcases that say otherwise, so if you have a concrete example, please report it as a new bug (not in this thread, but feel free to Cc me).

[2020-06-05 18:08] LeSeulArtichaut commented on #71668
@AaronKutch As specified in the RGC, you need to override the lint level for the `unsafe_op_in_unsafe_fn`. Having it `allow`ed just falls back to the previous behavior.

[2020-06-05 18:14] RalfJung commented on #51909
They don't? Not sure where you got the idea.

I linked to a discussion about this [above](https://github.com/rust-lang/rust/issues/51909#issuecomment-636751681). I think the main concern is that "well-behaved" const code simply has different rules than to be well-behaved "normal" code. Also see [this document](https://github.com/rust-lang/const-eval/blob/master/const_safety.md).

Accordingly, I am

[2020-06-05 18:20] cbiffle commented on #65978
Hi! I've updated the codebase to a post-resume-arguments toolchain, and I can confirm that the symbols got replaced by something equally generic. :-)

Now most functions in my program are named `<core::future::from_generator::GenFuture<T> as core::future::future::Future>::poll`. (Some of them are still named after combinators, which is _also not useful._)

Here's a snippet from the `nm` output.

[

[2020-06-05 18:55] #69276 closed

[2020-06-05 19:11] AaronKutch commented on #71668
Thank you, I have to add both
[code]

[2020-06-05 20:04] Mark-Simulacrum commented on #72969
@craterbot run name=beta-1.45-rustdoc-1 start=1.44.0 end=beta-2020-06-03 mode=rustdoc cap-lints=warn p=5

[2020-06-05 20:36] staktrace opened #73041 ""index 18446744073709551615 out of range for slice of length 0" at src/librustc_save_analysis/dump_visitor.rs:213:21"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This is a recent regression, since we run this command every day in automation.

[2020-06-05 20:38] staktrace commented on #73041
Almost certainly a regression from https://github.com/rust-lang/rust/pull/72882

/cc @marmeladema

[2020-06-05 21:34] matthiaskrgr commented on #73041
looks like a duplicate of https://github.com/rust-lang/rust/issues/73020

[2020-06-05 22:02] marmeladema commented on #73020
I am on it

[2020-06-05 22:07] benesch commented on #62385
I know this issue is about improving the diagnostic, but it seemed as good a place as any to note that fixing this _is_ desirable, but apparently there are a number of implementation challenges, according to @nikomatsakis ([Zulip source](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/More.20coercions.20from.20fn.20item.20-.3E.20fn.20pointer/near/199921865)).

https://github.com

[2020-06-05 23:34] Ekleog commented on #62726
Are there any news on landing this? I'm trying to do vectored IO too, and it would be very nice if it were possible to just use this function — I think this is the only unstable feature I currently depend on, and it would be very nice to be able to compile on stable without having to add unsafe code.

`into_inner` as discussed above is another primitive that would make it possible to implement `ad

[2020-06-06 00:17] adetaylor opened #73047 "rlibs retain reference to proc-macro dependencies - possibly unnecessary?"
### Summary

If a Rust `.rlib` project depends on a procedural macro crate, then the produced `rlib` will forever depend on the crate containing the proc macro, as shown by `rustc -Z ls <path to rlib>`. When creating downstream binaries, e.g. executables or staticlibs, `rustc` will require the location of the proc-macro to be provided as an `-Ldependency` argument.

I don't believe that the downst

[2020-06-06 01:16] Dirbaio opened #73050 "ICE: src/librustc_typeck/check/generator_interior.rs:204: impossible case reached"
### Code
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=24e2b49101470823ae52b234802b0b4b)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-06 01:26] ilya-bobyr commented on #73014
I do no think this change takes away that and in certain cases you have to say `T::default()`.  The change allows you to say `default()` in cases where you currently is saying `Default::default()`.

[2020-06-06 03:39] daswafford commented on #49773
Hi, I think I am seeing a related error.  I was trying to build the hello world example from https://rust-cli.github.io/book/tutorial/setup.html and when issuing cargo run, get:

`dswafford@Davids-Mac-mini.local:/Volumes/dswafford/CODE/rust/hello/grrs$cargo run --verbose
   Compiling grrs v0.1.0 (/Volumes/dswafford/CODE/rust/hello/grrs)
     Running `rustc --crate-name grrs --edition=2018 src/main

[2020-06-06 04:16] LLFourn commented on #31844
I've been using `#[min_specialization]` in an experimental library I've been developing so I thought I'd share my experiences. The goal is to use specialization in it's simplest form: to have some narrow cases with faster implementations than the general case. In particular, to have cryptographic algorithms in the general case run in constant time but then if all the inputs are marked `Public` to

[2020-06-06 04:38] the8472 commented on #69101
This seems to be fixed with current nightlies.

[2020-06-06 04:58] the8472 commented on #62408
That seems to be fixed since 1.41

[2020-06-06 05:10] the8472 commented on #44452
It doesn't anymore, it has regressed from 1.42 to 1.43

[2020-06-06 05:38] chaozju opened #73051 "statically linking ALL deps for cross compiling [support a RISC-V + musl target]"
Hi I am working on cross compilation for [wasmer](https://github.com/wasmerio/wasmer) to RISC-V.

I want to statically link **all** dependencies into **1** executable to avoid `qemu` issue like below.

Is there a way to **globally** configure `cargo build` or something else  like `-static` flag for `gcc`?
[code]

[2020-06-06 05:59] ayazhafiz commented on #73013
The behavior you're seeing has to do with the difference between rust's statements and expressions (and in this case, an [expression statement](https://doc.rust-lang.org/reference/statements.html#expression-statements)). When the `if` block is a context that expects an expression (e.g. an assignment), rustc will expect the `if` block to return some value. When the `if` block is not in a context th

[2020-06-06 06:49] Amanieu commented on #73028
`compiler_fence` only acts as a barrier for *memory accesses*, and only to memory that may potentially be accessed by other threads of execution (so local variables don't count). The compiler is fully allowed to move the addition to the start of the function since it does not perform any externally visible memory accesses.

[2020-06-06 06:49] #73028 closed

[2020-06-06 07:25] mzabaluev commented on #29931
One case that would benefit if `reserve_exact` set the capacity to exactly the one requested is https://github.com/tokio-rs/bytes/issues/396

[2020-06-06 07:50] petrochenkov commented on #73047
Proc macro crate is a dynamic library + metadata.

The dynamic library part is used for actually executing the macro during compilation of the rlib (via `dlopen`/`dlsym` assuming we are on Linux).
The metadata part is used for 1) reexporting macros from the rlib and 2) spans (including macro hygiene data).

As for reexports, the proc macro dependencies can be dropped if nothing was actually reexpo

[2020-06-06 08:05] petrochenkov commented on #73051
You need to pass `-C target-feature="+crt-static"` to the compiler, through `RUSTFLAGS` or `rustflags` in [cargo config](https://doc.rust-lang.org/cargo/reference/config.html).
Then [libc crate](https://crates.io/crates/libc) will switch linking of libc an related libraries to static.

Note, however, that not all Rust targets support `+crt-static` currently.
Glibc-based targets do not.

So you may

[2020-06-06 08:52] Amanieu commented on #72429
I'm in favor of adding these methods since it will make `NonNull` easier to use in unsafe code.

[2020-06-06 09:21] SkiFire13 commented on #65149
@Rantanen your example gives me a different error.

[code]

This example instead:

[code]

gives the following error:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8e73f202898eb7d09b9f7c37cacf288)

Also notice that this example isn't related to arbitrary self types but gives the same wrong suggestion.

[2020-06-06 09:32] benma commented on #51540
Bump :innocent:

[2020-06-06 09:37] SimonSapin commented on #51540
@benma The latest update is at https://github.com/rust-lang/rust/issues/66740#issuecomment-637067711

[2020-06-06 09:44] Patryk27 commented on #47937
Current `beta` prints:
[code]
... so seems like there's nothing more to do here, right?

[2020-06-06 10:05] Patryk27 commented on #71924
@rustbot claim

[2020-06-06 10:24] nikomatsakis commented on #31844
Thanks for the feedback.

[2020-06-06 10:33] oli-obk commented on #51909
They do right now, but if we ever want to allow `[T]::eq`, we'll end up having something in CTFE that will yield different results than runtime. The important thing is that this is not observable from safe code. Unsafe code may observe this internally for optimizations.

And yes, the root problem for this is that we don't know the base address of an allocation, so for anything CTFE related, the ba

[2020-06-06 10:33] jonas-schievink commented on #73050
https://github.com/rust-lang/rust/blob/826cb062a659f7b719a8a0ab1497a78229318aab/src/librustc_typeck/check/generator_interior.rs#L201-L205

[2020-06-06 10:38] RalfJung commented on #51909
I don't think so. Slice equality itself does not actually differ. The only issue is the pointer equality test fast-path, and I've seen a PR that proposed removing it (it seems to be a perf win in some cases and a perf loss in others). If needed we could have a perma-unstable hack to skip the ptr check in CTFE.

Also, I see no connection of this problem to transmutes/unions. The problem you mention

[2020-06-06 10:43] oli-obk commented on #51909
Ok. Let's stop focussing on hypothetical differences and just address the part where a function is unsound if it causes an error at compile time while being sound at runtime. I'll adjust the text accordingly

[2020-06-06 10:51] RalfJung commented on #51909
Yeah, basically. Of course compile-time functions also can make stronger assumptions about their inputs (e.g., `usize` are "proper integers" and not pointer values). So it's not actually about comparing behavior of a function with *the same inputs* between CTFE and RT. It's about having both of these properties:
* for all RT-safe inputs, the function behaves in an RT-safe way and returns a RT-safe

[2020-06-06 10:56] Neutron3529 commented on #73013
Yes, it is. But, report `call expression requires function` while missing a semicolon is quite strange.. Anyway, it is quite confusing with `if expression` and the `if statements` since the syntax of them are almost the same and the results it provide is quite different.

[2020-06-06 10:59] tema3210 commented on #51909
We have dataflow analysis already, why not to use it to permit what is already known to be sound? For example we can check usage of alocations to forbid pointer to numbers casts which change the output. So we actually want much better check of function purity. I don't think we want to forbid use of entire language primitive because it **could** cause UB.

[2020-06-06 11:02] tema3210 commented on #51909
Also we may want to make the ops const someday, but i'm not sure which ones.

[2020-06-06 11:24] oli-obk commented on #51909
That's the whole point! We want to permit things that are sound, but there's no way to make it safe in general, just like we can't make `transmute` safe in general. This entire discussion is about allow things, but trusting the developer to know the const rules. You can still transmute a reference to a usize and back, and that would be sound I think. That doesn't mean transmuting a reference to a

[2020-06-06 11:57] RalfJung commented on #51909
@tema3210 this entire discussion is about unsafe code, which the compiler cannot check for correctness. If it could, it would be safe code. ;) So no static analysis is going to help.

[2020-06-06 12:24] mati865 commented on #72274
That would also fix https://github.com/rust-lang/rust/issues/58163

[2020-06-06 12:25] #71177 closed

[2020-06-06 12:37] nagisa commented on #72470
Is the only quick fix, I guess.

Ultimately this extremely likely to be an issue in LLVM itself – you cannot really construct a IR malformed in a way that would raise this error in lowering to LLVM-IR (I believe almost by construction of the LLVM API), especially because we do not generate phis.

I think the PR in question is worthwhile enough to warrant spending time looking into it, so I would l

[2020-06-06 13:16] Patryk27 commented on #66228
@rustbot claim

I'm handling this as a part of https://github.com/rust-lang/rust/issues/71924

[2020-06-06 13:35] aidanhs commented on #65767
At the last infra meeting we decided a good step is to move towards using the pre-installed msys2 packages. In theory this is as simple as removing the msys2 installation step and pointing things at the right location on the images in CI.

[2020-06-06 13:36] lcnr commented on #73050
further minimized:
[code]
Looks like the generator code incorrectly handles `ConstKind::Unevaluated` somewhere :thinking:

[2020-06-06 14:34] luojia65 opened #73060 "`rust-lld` won't link my RISC-V assembly code with `.p2align` alignment settings"
I tried to build my HAL crate [here](https://github.com/gd32v-rust/gd32vf103-hal) after I got latest 1.45.0-nightly Rust toolchain.  I expected to see it compiles as normal; but there is an error during link process:

<details><summary>Error message</summary>
<p>

I used `cargo build --example vf103c-start-esig --verbose`:

[code]

</p>
</details>

However when I switched back to 1.44.0 stable Rus

[2020-06-06 14:34] jyn514 commented on #65983
I tried serializing all modules last night and ran into lots of problems because of all the arena allocation. Would it be simpler to instead serialize `ExportMap`, as suggested earlier?

I think that would hit all of rustdoc's needs since it only requires a name -> DefId lookup. I'm not sure what currently goes into an ExportMap - maybe `ResolverOutputs` is closer to what we need, since rustdoc ca

[2020-06-06 14:41] jonhoo opened #73061 "ICE in rustdoc when using `type_alias_impl_trait`"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

Run `cargo doc --no-deps` in crate `b` (running it without `--no-deps` triggers https://github.com/rust-lang/rust/issues/65863 in `a`).

[code]

[2020-06-06 14:41] jonhoo commented on #73061
The triggered assertion is here:
https://github.com/rust-lang/rust/blob/118b50524b79e565f017e08bce9b90a16c63634f/src/librustdoc/clean/mod.rs#L1311

[2020-06-06 14:49] chaozju commented on #73051
@petrochenkov Does it make sense to

- `cargo vendor` all the deps locally
- assign `crate_type=staticlib` to`[lib]` in `Cargo.toml`s in `./vendor/some_dep`
- modify deps in `Cargo.toml`s in my project into `some_dep = { path = "../vendor/some_dep" some_flags = some_flags }`
- `cargo build --some_flags `

[2020-06-06 15:05] #47937 closed

[2020-06-06 15:07] petrochenkov commented on #73051
@chaozju
I don't think you can change anything in the vendor directory, see https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html for correct ways to override dependencies.

Anyway, it won't help in your case because Rust standard library will still pull libc dynamically unless you rebuild the standard library yourself.
If you do rebuild the standard library (https://doc.rust-lang

[2020-06-06 15:18] jyn514 commented on #65983
cc @petrochenkov since @eddyb said he knows the most about name resolution ^

[2020-06-06 15:19] avl commented on #72933
If anyone else gets here having the same problem, manually implementing Serialize and Deserialize rather than relying on serde-derive, is one way around the problem. I adapted the examples at https://serde.rs/custom-serialization.html for my enum and this made the compile time insignificant. It also improved performance using the old rust considerably.

[2020-06-06 15:44] cdmistman commented on #59994
with the May security patch of Windows last month, [Windows is starting to drop 32-bit support](https://www.techradar.com/news/death-of-windows-10-32-bit-may-be-looming-as-microsoft-ends-support-for-new-pcs#:~:text=Windows%2010%20May%202020%20Update%2C%20which%20is%20due%20late%20in,system%20on%20the%20OEM%20side.), so I don't think 32-bit should be an issue anymore. Of course, it's up to the core

[2020-06-06 15:57] ayushmishra2005 commented on #62144
@yshui I would like to address this. What should be error message for E0207?

[2020-06-06 16:15] LeSeulArtichaut commented on #72933
Mhh, I remember having seen some other issues related to derive macros... cc @petrochenkov, who might know.

[2020-06-06 16:55] JohnTitor commented on #72819
Triage: This is no longer ICE and emits an error correctly by #70107. Marking as E-needs-test.

[2020-06-06 17:29] jyn514 commented on #65983
While investigating this, I found rustdoc will always resolve imports relative to the current module. This doesn't show up for exports within a crate because rustdoc doesn't generate docs for those:
![image](https://user-images.githubusercontent.com/23638587/83950542-7cc1ea80-a7f9-11ea-8ca8-443db10ea156.png)

It only generates docs for cross-crate re-exports:
![image](https://user-images.githubuse

[2020-06-06 17:40] jyn514 opened #73067 "Rustdoc will not document private re-exports even with --document-private-items"
Code:
[code]
Documentation both with and without  `--document-private-items`:
![image](https://user-images.githubusercontent.com/23638587/83950776-340b3100-a7fb-11ea-85c4-ee8ae67d68a3.png)

@rustbot modify labels: T-rustdoc C-bug

[2020-06-06 17:41] jyn514 commented on #73067
Hmm, this might not actually be a bug ... It occurs to me that documenting all imports would make for a _lot_ of documentatoin.

[2020-06-06 17:58] jeekobu opened #73068 "False unused_braces lint warning when using non-proc macro"
I tried this code:

[code]

I expected to see this happen: No warnings, or applying hints from warnings improves the code.

Instead, this happened: The unused_braces lint fired, and applying the hint breaks the code.

The hint:
[code]
If the braces are removed:
[code]
Note: Adding a semicolon after the `println!()` (and leaving the braces) results in no warning and the code still compiles.

I'm us

[2020-06-06 17:59] RyanMarcus opened #73069 "Map adaptor should use the wrapped iterator's `nth`"
Hello, in the below code, I expect the call to `nth` on the mapped iterator to take advantage of my `nth` implementation. However, it does not, and instead calls `next` 5 times. Discord user `retr0zer7` suggested I open an issue here.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ddfc825617f792cbcf4e317fb9b82c3))

Output:

[code]

Errors:

[code]

[2020-06-06 18:02] RyanMarcus commented on #73069
Ah, this is apparently because `map` can have side effects, and I guess the idea is to ensure that those side effects happen for every element. I don't agree with this choice, but I understand it.

[2020-06-06 18:02] #73069 closed

[2020-06-06 18:13] Manishearth commented on #65983
Right, that rule is for same-crate reexports

The serialization is not the hard part, you need to make a version of `ExportMap` that contains private items (or tweak `ExportMap` itself to contain both, if you can do that in a way that doesn't affect perf.).

The whole issue to be solved is that that arena datastructure needs to be converted to something else that we can store in metadata (i.e. tha

[2020-06-06 20:43] poliorcetics commented on #68593
This has been fixed by #68711 and could be closed

[2020-06-06 21:42] #68593 closed

[2020-06-06 22:04] bugadani commented on #62729
This issue also affects `thumbv7em-none-eabihf`. Note the `fminf` call here: [godbolt](https://godbolt.org/z/zgvrZ5).

Build fails with `note: rust-lld: error: undefined symbol: fmaxf`

[2020-06-06 22:25] Elrendio opened #73078 "Breaking changes in rustfmt with 1.44.0"
# Important
This is not a breaking change in the compiler. Sorry if it's not the place for such issue. However this has high chance to break a lot of continuous integrations and is highly linked to rust update.

# Description
Default version for rustfmt in rust 1.44.0 is 1.4.14-stable (e417356 2020-04-21) when in 1.43.1 it was 1.4.12. rustfmt removed the support for `#![cfg_attr(rustfmt, rustfmt_s

[2020-06-06 22:33] lcnr commented on #73068
Also happens with `unused_parens`. Not sure how to fix this while still linting against
[code]

[2020-06-06 22:40] Xanewok commented on #73078
I'm not a part of rustfmt team, but maybe `#![rustfmt::skip]` (notice the bang) at the top of the generated file still works just as `#![cfg_attr(rustfmt, rustfmt_skip)]`?

[2020-06-06 22:51] Elrendio commented on #73078
Before mentioning `#![rustfmt::skip]` in **Other Implications** I tested it and it didn't work 😞 Have you been able to make it work ?

[2020-06-06 22:53] Xanewok commented on #73078
Argh, here I thought I processed everything from the OP. Sorry for the noise, can't help :(

Maybe @topecongiro or @calebcartwright may know more about breaking changes in rustfmt

[2020-06-07 00:16] calebcartwright commented on #73078
The `cfg_attr` approach for skipping has been deprecated for quite some time (https://github.com/rust-lang/rustfmt/pull/3150), it was not a recent deprecation in rustfmt 1.4.13/14.

`#![rustfmt::skip]` at the top of a file should  result in rustfmt ignoring the entirety of the file. If it's not doing so then perhaps this issue could be transferred or a new one opened in the rustfmt repo with the r

[2020-06-07 00:48] graydon opened #73082 "Unhelpful error message: E0283 ("type annotations needed") when proper solution is to remove where-constraint"
I ran into an issue with serde derive(Deserialize) on a struct that had type parameter that already implemented Deserialize. The error message suggests adding a type annotation to help infer the type of the type parameter; when in fact (as I learned at some length later while experimenting with the macro-expanded code) the correct solution is to _remove_ a redundant where-clause in the generated i

[2020-06-07 01:28] dtolnay commented on #73082
The reason the misleading "type annotations needed" error is present in the first place is a longstanding compiler bug: https://github.com/rust-lang/rust/issues/41617. Other than that, what you originally wrote (`impl<'a, M: Mine> Deserialize<'a> for M where M: Deserialize<'a>`) is supposed to compile.

[2020-06-07 01:30] jhpratt commented on #58935
Is there any harm in stabilizing the module itself, then deciding whether to auto-import it at a later time? I'd like to be able to use the module, as right now I've literally code identical code in a module to import in the same manner.

[2020-06-07 02:01] graydon commented on #73082
Aha, fascinating! Thanks for the information, I guess this can be closed as redundant?

[2020-06-07 04:11] topecongiro commented on #73078
Changes between 1.4.12 and 1.4.14 are [quite minimal](https://github.com/rust-lang/rustfmt/compare/rustfmt-1.4.12...rustfmt-1.4.14); mostly bumping the parser version, so the reported breaking change is most likely caused by the breaking changes from the parser.

Indeed,  there was a breaking change of the parser we missed; the AST nodes for `Item` no longer contains inner attributes like `#![cfg_

[2020-06-07 04:41] LLFourn opened #73083 "Array range indexes don't work in const eval"
I haven't been able to find any issue dealing with this. It seems that [`min_const_fn`](https://github.com/rust-lang/rust/issues/53555) stabilised array indexes but not ranges and ranges don't work.

I tried this code:

[code]

Error:
[code]
### Meta
[code]

[2020-06-07 06:57] OzqurYalcin commented on #72966
There is no localization feature in either the built-in and the crates for Turkish or similar languages.

[2020-06-07 07:07] Lonami commented on #73069
You should still be able to use `.nth(5).map(...)` to achieve what you want, though?

[2020-06-07 07:08] Aaron1011 commented on #54725
Note that `Span::parent` allows you to write 'extra unhygenic' macros, which can see identifiers in a way that would otherwise be impossible:

[code]

[code]

Here, `weird!()` is able to access `my_ident` via `no_hygiene!`. This is already possible with just `Span::resolved_at` in some circumstances - if a single token has a `Span` with the desired hygiene, a proc-macro can construct arbitrary tok

[2020-06-07 07:12] Aaron1011 commented on #54725
We might want to gate 'read-only' APIs (e.g. `Span::source_text`, `Span::start`) under a separate feature, since they could be stabilized without increasing the power of proc macros w.r.t hygiene.

[2020-06-07 07:14] chaozju commented on #73051
@petrochenkov Thanks a lot !
BTW I am wondering whether I can get a `statically linked` executable once fixing the libc issue? Does `crate_type` of vendored libs matter?

[2020-06-07 08:02] RalfJung commented on #47949
https://github.com/rust-lang/rust/pull/71840 had to be reverted unfortunately to fix https://github.com/rust-lang/rust/issues/72470, it seems.

[2020-06-07 09:44] whizsid commented on #73020
Same issue happened after upgraded to the latest version today.

[2020-06-07 10:26] jonas-schievink commented on #73082
Closing in favor of https://github.com/rust-lang/rust/issues/41617 then

[2020-06-07 10:26] #73082 closed

[2020-06-07 10:27] jonas-schievink commented on #73083
Closing in favor of https://github.com/rust-lang/rust/issues/67792 / https://github.com/rust-lang/rust/issues/67794

[2020-06-07 10:27] #73083 closed

[2020-06-07 10:30] matthewjasper commented on #47949
Indeed, I'll create an issue to reapply it.

[2020-06-07 10:39] marmeladema commented on #73020
Yes the fix  #73046 has not landed yet.

[2020-06-07 11:01] Freax13 opened #73088 "undefined reference to thread local variable in generic function"
I tried this code:

[code]

I expected to see this happen: the code compiles and runs

Instead, this happened: the linker fails with "undefined reference to `bug_thread_local::FOO'"

### Meta

`rustc --version --verbose`:
[code]

<details><summary>backtrace</summary>
<p>

[code]

</p>
</details>

[2020-06-07 11:01] matthewjasper commented on #73061
Fixed by #72080

[2020-06-07 11:06] jonas-schievink commented on #73088
Might be fixed by https://github.com/rust-lang/rust/pull/73033

[2020-06-07 11:42] xanderio opened #73091 "backtrace printing regression on FreeBSD"
When a rust program panics and  `RUST_BACKTRACE` is set the process is killed with a `SIGBUS`. This regression accord between rust stable version 1.43.0 and 1.44.0.

Is there anything else that i can provide?

debugger backtrace of the crash
[code]

[2020-06-07 12:35] Elrendio commented on #73078
Thanks @topecongiro and @calebcartwright for the explanations.

I'm quite surprised I didn't get any warnings from rustfmt or the compiler when using `#![cfg_attr(rustfmt, rustfmt_skip)]`, was the warning only available with clippy ? If so is that the new strategy for rust warnings or just a small mistake ? I thought warnings were integrated in the compiler and that clippy lints were only optional

[2020-06-07 12:45] Xanewok commented on #73078
cc @Mark-Simulacrum on possible backporting rustfmt fix to stable, not sure if this is severe enough

[2020-06-07 13:51] Mark-Simulacrum commented on #73078
We're planning on a point release for a cargo bug anyway so we can definitely include a rustfmt backport. Can someone put up a branch on rustfmt which cherry-picks the relevant commits or so? Thanks!

[2020-06-07 13:52] devqx commented on #25289
Thanks!

[2020-06-07 14:02] bjorn3 opened #73096 "Emit error on #![no_std] + #![no_core]"
cc https://github.com/thepowersgang/mrustc/issues/145.

@rustbot modify labels: +C-enhancement +P-low +requires-nightly +T-compiler

[2020-06-07 14:03] bjorn3 commented on #73096
@rustbot modify labels: +C-enhancement +requires-nightly +T-compiler

[2020-06-07 14:09] petrochenkov commented on #73096
This is some extra logic in the compiler for rejecting a permanently unstable corner case, that already has some reasonable meaning. I'd say wontfix.

[2020-06-07 14:12] Mark-Simulacrum commented on #73096
I also lean towards won't fix on this sort of thing.

[2020-06-07 14:23] jonhoo commented on #65863
For those watching, when https://github.com/rust-lang/rust/pull/72080 lands, the workaround for this is basically:
[code]
It ain't pretty, but it'll make things work. You can even potentially re-use the mocker for multiple traits that you're using behind `impl`. See https://github.com/mit-pdos/noria/commit/062b880809c155e10bdb9641414b30137e012400 for a larger example of this change. H/T to @alecmo

[2020-06-07 14:24] nikic commented on #72470
What was the assertion failure?

[2020-06-07 14:28] Elrendio commented on #73078
I can try to do it, do you want it to start from version 1.14.0 (what's currently with rust 1.44.0) or from 1.15.0 (latest rustfmt release) ?

[2020-06-07 14:38] Mark-Simulacrum commented on #73078
Currently in stable for sure, we want to backport a minimal set of changes. It might be easier for rustfmt developers to judge what that is though (I myself am not familiar with rustfmt internals).

[2020-06-07 14:39] Elrendio commented on #73078
Alright, leaving it to a rustfmt team member 🙂

[2020-06-07 15:00] yshui commented on #62144
@ayushmishra2005 Maybe just don't mention lifetime parameter?

[2020-06-07 15:09] ayushmishra2005 commented on #62144
@yshui I think this has been fixed already. Can you please try again?

[2020-06-07 16:22] r4v3n6101 opened #73100 "Creating CString from nul-terminated data"
It seems there's no idiomatic way to create `CString` from nul-terminated `Vec<u8>`. The only approriate way is to `pop()` last nul and then `from_vec_unchecked` will append a new one. Need the method just passes data as is (e.g. `CString::from_vec_with_nul` such as `CStr::from_bytes_with_nul`).
Possibly, code should be like:

[code]
and safe version:
[code]

[2020-06-07 16:56] redstrike commented on #48700
Source: https://github.com/rust-lang/rust/issues/62031#issuecomment-604078882

That helped me fix this compiler's warning. I hope it could fix yours too.

[2020-06-07 17:18] jyn514 commented on #65983
In https://github.com/jyn514/rust/tree/rustdoc-absolute-module I changed rustdoc to pass in the parent module for all items, not just local items. That changes the docs for the following code:

[code]
from a dead link (`[Rng]`) to `https://rust-random.github.io/rand/rand_core/trait.RngCore.html`. This isn't quite right because it's an external link, but I definitely think this is the right approac

[2020-06-07 17:55] #72694 closed

[2020-06-07 17:55] #54250 closed

[2020-06-07 18:00] Manishearth commented on #65983
@jyn514 That's fixing a different bug.

The bug we want to try and fix is when you have a reexport from a different crate and you do not put your own documenation on it, so the docs from the crate get used, and they get resolved relative to the local module instead of their source module.

I don't know why that panic is occurring, you'd need to know what item it is trying to resolve.

[2020-06-07 18:39] jyn514 commented on #65983
@Manishearth I gave a bad example, but it fixes the other issue too. The original docs for `Rng` has a link to `RngCore` which now resolves after this PR.

[2020-06-07 20:33] poliorcetics commented on #73100
I can do it if the lib team is ok with it being added.

[2020-06-07 20:41] petrochenkov commented on #72545
I'll write a short version instead.

The root cause of the regression with `$ident`s is this hack:

https://github.com/rust-lang/rust/pull/73102/files#diff-ec675a0921151f075ff82dd38b12b58dL438-L445

it exists for a very long time and was stabilized together with macros 1.1 (custom derives), but I discovered it only when auditing the implementation for macros 1.2 (end of 2018).
I wish I realized th

[2020-06-07 21:11] LingMan commented on #73037
The macro [`todo!`](https://doc.rust-lang.org/std/macro.todo.html) already exists, although it doesn't return a default value but panics instead.

[2020-06-07 22:12] steveklabnik commented on #50927
triage: no change

[2020-06-07 22:12] steveklabnik commented on #50166
Triage: no change

[2020-06-07 23:32] nu8 commented on #72241
I ran into this today, trying to use this:

<https://github.com/alexcrichton/curl-rust>

First it gave me this:

[code]

Which I solved with:

[code]

Then it gave me this:

[code]

Which I solved with:

[code]

Finally I get this:

[code]

which I dont know how to solve. It seems this should be something thats possible
as I have personally compiled cURL itself using LLVM-MinGW. So C cURL works, b

[2020-06-07 23:45] vicobill opened #73106 "Can `struct` be default open ? like c# partial class, or kotlin open class"
default open struct is very useful, and can avoid namespace boom.
if struct is default open, we can write code like this :
[code]
we can think, the `mod` is a special `struct` or a `struct` is a special `module`.

when we `impl` a struct, the code block of function can define anywhere, why not the `struct` define not?

[2020-06-07 23:49] amosonn opened #73107 "HKTB reasoning on associated type"
This doesn't compile:
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5b15581bba9d37d762c4499c1059eee8))

Giving the error:
[code]

Even though the `Marker` trait is implemented for `Bar` with any lifetime parameter, and `<&Foo as MyTrait>::Assoc` is always a `Bar`.

See also #67738, and https://users.rust-lang.org/t/hktb-reasoning-on-associated-type/4

[2020-06-07 23:52] AldaronLau opened #73108 "ICE: Assert at src/librustc_middle/ty/query/on_disk_cache.rs:491:5 - Uncertain of cause (unreproducable)"
ICE when running `cargo build`.  Running `cargo clean` makes the ICE go away.

I tried this code: https://github.com/libcala/stick/
[code]

## Previous commands
I don't know how helpful this is, considering that I can't reproduce now that I have ran `cargo clean`, even though I was able to reproduce the error before.

[code]

## Meta

`RUST_BACKTRACE=1 cargo build --verbose`:

Backtrace:

[2020-06-07 23:59] matthiaskrgr opened #73109 "ICE: -Zvalidate-mir: broken mir in libcore"
### Code

[code]

### Meta

`rustc --version --verbose`:
repo @ 0262de554b4c4c5af346137bbb1664a3f6cf4df2
[code]

### Error output
`build/x86_64-unknown-linux-gnu/stage2/bin/rustc bad.rs -Zvalidate-mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This issue has been assigned to @doctorn via [this comment](https://github.com/rust-lang/rust/issues/7310

[2020-06-08 00:05] matthiaskrgr commented on #73109
This was introduced between
118b50524b79e565f017e08bce9b90a16c63634f and 0262de554b4c4c5af346137bbb1664a3f6cf4df2

[2020-06-08 00:11] matthiaskrgr commented on #73109
Might be related to https://github.com/rust-lang/rust/pull/72810
cc @RalfJung  ?

[2020-06-08 01:15] YeonJi2 opened #73112 "Rustc panics(in some cases) when repr(aligned) struct is used in struct with repr(packed) attribute"
I was writing some code that does some x86 page table configuration, but then I noticed that Rust compiler started to panic with this code:
[code]

And I did realize that I cannot use ```packed``` in ```SomeStruct``` since ```PageTable``` has ```align(4096)``` attribute. If I rewrite the above code without ```x86_64``` crate:
[code]
(Note that this is basically same thing as ```x86_64```'s ```Page

[2020-06-08 01:18] calebcartwright commented on #73078
@Mark-Simulacrum - do you mean a literal branch in the rustfmt repo, or a bump of the rustfmt submod somewhere in this repo?

If the former, do you or anyone else know if the rustc-ap-* crate versions used in rustfmt need to be in sync with what's in the rls dep tree like they do with the respective submodules? rustfmt 1.4.14 and the corresponding rls version in rust 1.44 are on v654 whereas rustf

[2020-06-08 01:28] calebcartwright commented on #73078
@Elrendio - Just to clarify, the issue is that rustfmt v1.4.14 doesn't see any of those inner attributes on those submods due to a parsing bug, regardless of whether it's `#![cfg_attr(rustfmt, rustfmt_skip)] ` or `#![rustfmt::skip]`. It doesn't really have anything to do with the former being deprecated.

Yes `cfg_attr(rustfmt, rustfmt_skip)` is deprecated (and has been for quite some time) and we

[2020-06-08 01:44] topecongiro commented on #73078
@Mark-Simulacrum Thank you for your help. I have pushed commits to https://github.com/rust-lang/rustfmt/tree/rustfmt-1.4.16.

@Elrendio Thank you for quickly catching this and raising an alert.

[2020-06-08 02:15] topecongiro commented on #73078
@calebcartwright Ah, I somehow didn't see your comment when I posted my previous comment. In any case, that is a good point.

IIUC, the version of rustc-ap-* crates should match that of the 1.44.0 release, so rustfmt-1.4.16 uses 654.0.0. If the build process builds tools with the latest compiler, then rustfmt-1.4.17 can be used instead.

[2020-06-08 02:32] flyq commented on #25289
🌼✨🌱

[2020-06-08 04:08] vmosone opened #73114 "Crash when building with lastest rustc，but normal build with rustc 1.44.0-nightly (b2e36e6c2 2020-04-22) running on x86_64-pc-windows-gnu"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-08 04:13] steveklabnik commented on #73037
In general, discussions about ideas for features should go on internals.rust-lang.org, not the bug tracker. Thanks!

[2020-06-08 04:13] #73037 closed

[2020-06-08 05:13] stej commented on #44650
PowerShell is not a good example, because the rules are still screwed up. https://github.com/PowerShell/PowerShell/issues/1995 . It's very uncomfortable to call apps from PowerShell. I sometimes ended up with generating a bat file and then running that from PowerShell.

[2020-06-08 06:18] erikdesjardins commented on #73031
This optimizes well with `u8` instead of an enum:

<details>
<summary>u8</summary>

[code]

[code]
</details>

With an enum, the important part of the optimized LLVM IR looks like this:

[code]

And with `u8`:

[code]

So it seems that LLVM doesn't propagate value ranges though `zext` (or something, I don't know LLVM internals). And sure enough, if I add `as u64` to the `u8` code, it generates a p

[2020-06-08 06:31] petrochenkov commented on #72241
@nu8
I've seen the `__ms_vsnprintf` error a few days ago when building rustc using gcc toolchain (https://packages.msys2.org/package/mingw-w64-x86_64-gcc).
So it seems like it isn't specific to LLVM toolchain, some recent changes just broke mingw in general.

[2020-06-08 07:21] mati865 commented on #72241
No it's not specific to LLVM at all.
This error happens when you mix UCRT and MSVCRT and the only solution for it is to never mix different CRTs.
Rust doesn't provide UCRT based toolchain (I mentioned it in https://github.com/rust-lang/rust/issues/72241#issuecomment-633069440). For that to happen we need more recent mingw-w64 and maybe even built to target UCRT by default.

@petrochenkov few days

[2020-06-08 07:45] #73020 closed

[2020-06-08 07:45] #73022 closed

[2020-06-08 07:45] #73041 closed

[2020-06-08 07:51] RalfJung commented on #73109
Hm... @jonas-schievink suggested to also accept `Self` as callable. I was initially opposed because Miri will ICE when anything but a FnPtr/FnDef is called. But is this even MIR that Miri ever sees? What does the `Self` here normalize to, and is there a method we have to do that normalization?

[2020-06-08 08:02] XX commented on #73037
https://internals.rust-lang.org/t/what-about-adding-stub-macro-to-the-std

[2020-06-08 08:18] tblah commented on #72913
Closing now that https://github.com/rust-lang/rust/pull/72982 is merged

[2020-06-08 08:18] #72913 closed

[2020-06-08 08:19] Tiv0w opened #73116 "Duplicate error E0584 in codebase"
## What I encountered
Hi, while learning Rust I got the following error:

[code]
I understand the issue quite well and know how to fix it, but I wanted to know whether I should use `utils.rs` or `utils/mod.rs` as best practice.

---

So I tried to `rustc --explain E0584` for more information.

Unfortunately, the explanation was the wrong one:
<details><summary><b>Wrong explanation block</b></summa

[2020-06-08 08:19] matthewjasper commented on #72470
This is the failing assertion
https://github.com/rust-lang/llvm-project/blob/02e0d7fa5547f2b270b8b57cf4f4f8e177153c8d/llvm/lib/Analysis/LazyValueInfo.cpp#L727

[2020-06-08 09:21] he32 opened #73117 "rust 1.44.0 fails to build in miri v0.1.0 on NetBSD/i386 8.0"
I have already successfully built rust 1.44.0 on NetBSD/amd64 8.0.
Next I'm tackling NetBSD/i386 8.0, but that is not going as expected, the build
errors out after hours of apparent successful building with

[code]

and several more instances of a similar error, and

[code]

I'm confused.  Why would the amd64 build succeed and the i386 build fail when
building the same sources, with what appears t

[2020-06-08 09:22] doctorn commented on #73116
@rustbot claim

[2020-06-08 09:32] Amanieu commented on #73088
#73065 actually

[2020-06-08 09:48] jonas-schievink commented on #73106
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-06-08 09:48] #73106 closed

[2020-06-08 09:58] 95th commented on #62031
Still happening today without any VS code running

[2020-06-08 10:16] RalfJung commented on #56604
This is basically taking the view that a non-`mut` binding should have the same guarantees/optimization potential as shared references. I can see that, though the special case for dropping makes this rather hacky. In Stacked Borrows we'd have to still make the "bottomost" tag read-write, but then store that somewhere on the side and use a different, read-only tag for direct accesses to the local..

[2020-06-08 10:18] lcdr commented on #44659
Even more trivial recursion affected by this, with only one trait and no structs:

[code]

[2020-06-08 10:19] RalfJung opened #73119 "Assertion failure sometimes shows file+line number of macro, instead of use site"
Sometimes, when an assertion fails, the file+line point to the macro in libstd, instead of the place where the macro is used. See for example https://github.com/rust-lang/rust/pull/73007#issuecomment-640111414, and @Mark-Simulacrum said they also saw this happen locally.

Currently, it is unclear how to reproduce this problem.

[2020-06-08 10:38] matthewjasper commented on #72470
More notes from investigating this:

- There's no error with `-Clto=no`, `-Clto=thin` and `Clto=fat` (somewhat surprisingly, none of these is the default).
- There's no error with `-Znew-llvm-pass-manager`
- The following patch avoids the error:

[code]

Output with `-Cllvm-args=--print-before-all`: [log.zip](https://github.com/rust-lang/rust/files/4744936/log.zip) (23 MB unzipped)

<details>

<su

[2020-06-08 10:55] yvt opened #73120 "Combination of const generics, extra braces around a const generic parameter, and cross-crate use causes stack overflow"
### Code

All files packaged in a single Gist: https://gist.github.com/yvt/2fec54f8012d512c59216b5d2ef82d63

`lib1/src/lib.rs`:

[code]

`lib2/src/lib.rs`:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-08 11:00] leonardo-m opened #73121 "[ER] NonZeroX Step and better constructors"
It could be nice to have std::iter::Step for the NonZeroX numbers, so in this code instead of having about 1000 unwrap:
[code]
You only need two:
[code]
If also a const-generics-based constructor is added to stdlib then the number of run-time unwraps goes to zero (the two panics become compile-time):
[code]
A further improvement should come from const generics of arbitrary type (currently not allo

[2020-06-08 11:05] jonas-schievink commented on #73121
There's not really a point in calling `.unwrap()` less, the optimizer will get rid of all the calls anyways

[2020-06-08 11:14] leonardo-m commented on #73121
The less unwraps you have, the less you have to think (or in more reliable coding to prove) about possible ways for them to fire at run-time and ruin your execution.

[2020-06-08 11:19] yshui commented on #62144
@ayushmishra2005 I don't think it has been: https://github.com/rust-lang/rust/blob/master/src/librustc_error_codes/error_codes/E0207.md

[2020-06-08 11:25] he32 commented on #73117
BTW, I have also now received reports that 1.44.0 also fails to build on NetBSD/amd64 versions 9.99.64 and 9.99.65 ("-current" development versions), so this isn't just an i386 issue, apparently.

[2020-06-08 11:33] jperkin commented on #73117
I see this on `x86_64-sun-solaris` too, using 1.43.1 as bootstrap.

[2020-06-08 11:33] ayushmishra2005 commented on #62144
@yshui Sorry My bad. I missed checking this file. Let me fix and raise PR.

[2020-06-08 12:07] doctorn commented on #72959
@rustbot claim

[2020-06-08 12:21] ijackson opened #73125 "std::process::ExitStatus Into Result, or .expect(), or something"
It is not particularly convenient to use the return value from `wait()` in `std::process`.  Perhaps it should be convertable to a `Result` ?  Or gain its own `expect` methods etc. ?

[2020-06-08 12:21] ijackson opened #73126 "std::process::Command output() method error handling hazards"
Hi. Normally, Rust makes it difficult to accidentally write buggy code. This is one of its great strengths. However, the API of `output()` on `std::process::Command `API has two serious error handling hazards:

1. It requires the user to explicitly fish out the program's exit status and check it.
2. It requires the user to explicitly deal, somehow, with the program's stderr output (if any).

See t

[2020-06-08 12:22] ijackson opened #73127 "Consider adding #[must_use] to std::process::ExitStatus"
Hi.  Normally, Rust makes it difficult to accidentally write code which ignores errors.  This is one of its great strengths.  However, the `std::process` API requires the user to explicitly check the process exit status.

(This issue is about the return value from `wait()`.  I am filing another one about `output()`.  See also #70186 which is about the return value from `spawn()`.)

Here's a demo o

[2020-06-08 12:29] Xanewok commented on #73100
Not a part of libs team but it seems like it covers a certain gap from std and I know that such PRs are definitely encouraged!

[2020-06-08 12:33] ijackson opened #73128 "std::os::unix::process::ExitStatusExt into_raw"
It it occasionally useful to be able to convert an exit status back to the raw unix value.

For example, one might want to pass it to a C library.  This would also provide an escape hatch to mitigate the lack of `WCOREDUMP,` `WIFSTOPPED`/`WSTOPSIG` etc.

[2020-06-08 12:35] ijackson opened #73129 "std::os::unix::process::ExitStatusExt .coredumped() method"
In order to do proper error reporting of process termination on unix, it is necessary to look at the return value from `WCOREDUMP`.  Rust std should provide a way to get this information.

[2020-06-08 12:38] ijackson opened #73131 "Tracking Issue for std::process error handling"
Hi.  This is a tracking issue for various error handling awkwardnesses in `std::process`.  It seemed useful to gather them together here.  I hope you consider this helpful.  I don't think this needs an RFC but I can make an RFC if people feel that would be best.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connect

[2020-06-08 12:38] he32 opened #73132 ""x.py dist" build fails in llvm when DESTDIR is set"
This appears to be the underlying reason for issue #71743.
When I cross-build, I have to use the "dist" x.py target to produce
a bootstrap kit, and in my setup, `DESTDIR` is aways set (this is in
NetBSD's packaging system, pkgsrc).  I have reproduced the problem
outside the pkgsrc setup, and it is indeed a non-null `DESTDIR` which
triggers this issue.

Such a build errors out with

[code]

When `D

[2020-06-08 12:39] xliiv commented on #54172
Confirmed, it's still unresolved.

So the issue here is we have `SpecialFoo` and there is no way (AFAIK) to query for its children (e.g. the `foo` method). Once we had the `foo` item we could search for a related trait or something (like it's done in https://github.com/rust-lang/rust/pull/72173).
Of course, there is [`inherent_impls`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty

[2020-06-08 12:47] yshui commented on #62144
@ayushmishra2005 Thanks :+1:

[2020-06-08 13:10] pietroalbini commented on #73038
The `src/test/rustdoc/sanitizer-option.rs` test also fails because of this.

[2020-06-08 13:15] CryZe opened #73135 "compiler-builtins: Int trait functions are not inlined on wasm"
I'm currently doing some benchmarks and I've seen that `__multi3` is taking a really long time to calculate on wasm. Turns out that none of the helper functions it uses are inlined at all, so it does a ton of unnecessary calls and misses a lot of potential optimizations:

[code]

The same is probably true for the Float trait.

[2020-06-08 14:06] nikomatsakis commented on #56604
@RalfJung

I see. That makes sense and I think was missing this point somewhat. As far as "which proposal", well, I feel like there are a few sort of semi-proposals on the table. It feels like it'd be nice to have a hackmd or other document that tries to collect the alternatives and summarizes their implications.

That said, I feel like saying that the *initial form of borrow* is meaningful (but n

[2020-06-08 14:15] ChrisDenton commented on #44650
@stej I'd highly recommend installing [Powershell 7](https://github.com/PowerShell/PowerShell/releases) if you can. The current stable version is 7.0.1 which has slightly better command line handling, and the upcoming 7.1 release should improve it further. Otherwise, using `--%` (or manually using backticks) to set the command string directly produces the most consistent results.

[2020-06-08 14:39] mati865 commented on #72241
@petrochenkov I reproduced your issue by upgrading mingw-w64 among the other packages...
That's because MinGW doesn't seem to have stable order of it's linkage.

Currently Rust does it this way: https://github.com/rust-lang/rust/blob/64ad709ad4d2863b7995d8b9e90a1bedb7d0ccf1/src/librustc_target/spec/windows_gnu_base.rs#L20-L38

Now compare it to GCC which adjusts their list as need, last adjustment

[2020-06-08 14:43] Yoric commented on #72837
That's a shame, because I was planning to build code with millions of nodes, instead of just a hundred :)

More seriously, I think that this use case makes sense, too. Also, I feel that there is no good workaround at the moment.

[2020-06-08 14:45] pietroalbini opened #73134 "pretty/asm.rs test is failing on AArch64"
The `src/test/pretty/asm.rs` test is failing on AArch64.

[code]

We should avoid having x86_64-specific registers in that test.

This issue has been assigned to @yerke via [this comment](https://github.com/rust-lang/rust/issues/73134#issuecomment-643578810).

[2020-06-08 14:56] nikomatsakis commented on #52000
@ecstatic-morse can you update the stabilization report to not say that it is stabilizing the "instruction limit"? I think that was our consensus, and then I can kick off the FCP request.

[2020-06-08 15:02] nikomatsakis commented on #29864
@Others I think moving forward here would be reasonable. I think a first step would be to do a bit of "archival research", documenting the history and current design (which is now using e.g. a `#[marker]` attribute) and looking for any unresolved questions. We've not done a very good job of tracking that on this issue, it seems, though I just made a few edits to the main header.

One thing I just

[2020-06-08 15:25] nikomatsakis commented on #68793
@ajpaverd thanks! For those who are curious, here is a [link to the chapter in the unstable book](https://doc.rust-lang.org/unstable-book/compiler-flags/control-flow-guard.html).

Ideally @ajpaverd the implementation documentation would make its way into the rustc-dev-guide, I have to say you went above and beyond the call of duty there, it seems very thorough. =)

[2020-06-08 15:26] Aaron1011 commented on #73119
I believe this is a duplicate of https://github.com/rust-lang/rust/issues/70963, and will be fixed by https://github.com/rust-lang/rust/pull/72121

[2020-06-08 15:28] nikomatsakis commented on #68793
A few minor questions for you @ajpaverd:

* when this is stabilized, would it be `-Ccontrol-flow-guard`?
* also, do we want `control_flow_guard` or `control-flow-guard`?
* also, what happens if you use this on some non-windows target?

I'm basically read to move to stabilize, just wanted to clarify the naming in particular.

[2020-06-08 15:32] nikomatsakis commented on #67217
OK so there are a few considerations, I guess.

One of them is that the *caller* may supply some *input* that requires a lot of execution, and hence the *callee* may not know that an annotation would be required (because they only ever used the fn with small inputs).

The other is that, as I frequently suspect, the *callee* may know that the fn is very computationally heavy and thus needs a "high

[2020-06-08 15:59] he32 commented on #73117
Actually...  @jperkin informed me that this build error is in fact non-fatal for the build as a whole, and now that I do a double take, that appears indeed to be the case -- the build completed despite the errors in this apparently-optional module.  Still, the principle of general tidyness would dictate that this should be dealt with one way or the other.

[2020-06-08 16:02] alexcrichton commented on #73135
Ok I've transferred this to the rust-lang/rust repository since this isn't a bug with compiler-builtins itself I believe but rather how we build compiler-builtins.

I believe this is an accidental regression from https://github.com/rust-lang/rust/pull/70846 because only part of the compiler knows that compiler-builtins is built with more than one CGU, the rest of the compiler thinks it's one CGU (

[2020-06-08 16:05] RalfJung commented on #71668
Fair. I am not sure how to respond to that -- I don't have any data, just a gut feeling and a number of examples where the `unsafe` scope is IMO too big. You presented an experience report saying that keeping the `unsafe` scope small doesn't help, or at least doesn't help you. Neither is statistically significant, but you have much more experience writing real unsafe code than I do, so there's not

[2020-06-08 16:08] eggyal commented on #72110
MacOS linker supports `-s` and `-S` shorthand arguments, but not `--strip-all` and `--strip-debug` longhand arguments; given that the shorthands are supported by all GCC linkers (afaik), perhaps one only needs to change [`GccLinker::debuginfo()`](https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_ssa/back/linker.rs#L480-L490) to use those instead?

[2020-06-08 16:12] jrmuizel commented on #73031
I've filed the upstream issue: https://bugs.llvm.org/show_bug.cgi?id=46244

@eddyb is it possible for us to avoid the `zext` when generating code for this example?

[2020-06-08 16:13] pranjalssh opened #73137 "Double Drop on Rust beta"
Getting double Drop/free errors on Rust. Sounds very dangerous. It started on 23 May rust nightly. Fails on beta as well, which is the next release.

A minimal repro https://bit.ly/2A52CJe
`Dropping` is printed twice. Flipping the order of elements in struct, makes it work and then drop is only called once.

Cc @asm89

[2020-06-08 16:19] jonas-schievink commented on #73137
@rustbot ping cleanup

[2020-06-08 16:19] pranjalssh commented on #73137
Possibly related to https://github.com/rust-lang/rust/pull/71956 ?

[2020-06-08 16:36] Darksonn commented on #73137
Here is a simpler test case:
[code]
[playground][1]

[1]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4982d2d7c8ef8e96f7a0ad75c93e1105

[2020-06-08 16:49] lcnr commented on #73137
Note that the actual problem is not a double free. We instead copy the value of `a` both into `b` and `a`, which changes `b` to `Some(Yolo { .. })` which is then correctly dropped.

An example illustrating this is
[code]

[2020-06-08 16:53] RalfJung commented on #73119
Sounds plausible, yeah. Closing then, thanks!

[2020-06-08 16:53] #73119 closed

[2020-06-08 17:04] pranjalssh commented on #73137
This would explain why my debugger replied with `cannot access memory` on `action.b`

[2020-06-08 17:59] powerboat9 commented on #51909
We already have a mechanism for preventing conversions from pointers and references to regular numbers, shown [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8cbb3a603c881c1d22adf09249621c8f) and [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2ccedec0dfa63db50c44f77d991e47f7). My question is why that only works when not in a function.

[2020-06-08 18:22] oli-obk commented on #51909
The difference is that `const fn` can also be executed at runtime. So we need to address what the differences between invoking a `const fn` at runtime and at compile time are. Ideally there's no difference, but in practice that doesn't work. Thus, we want to define that a `const fn` must behave the same at runtime and at compile time. This means that if you invoke `foo()` at runtime and it succeed

[2020-06-08 18:22] steveklabnik commented on #55482
Triage: the docs of libcore should probably be updated.

[2020-06-08 18:23] nikomatsakis commented on #60205
I think this issue is kind of outdated, closing

[2020-06-08 18:23] #60205 closed

[2020-06-08 18:28] RalfJung commented on #51909
@powerboat9 those are easy to check as it's a single constant that we can just evaluate. But to do the same with a function, we'd have to run it with *all possible inputs*, which clearly is not possible.

[2020-06-08 18:32] nikomatsakis commented on #53488
@rustbot assign arora-aman

[2020-06-08 18:39] nikomatsakis commented on #64796
We discussed this in last week's lang-team meeting and I was supposed to write a summary, but I didn't get to it until now. Eep. I don't think we came up with a remarkably new twist, except to note that the correct workflow for a library, in part, depends on whether you expect people to be using pinned nightly results. I don't think it was really anything that hadn't already been said in this thre

[2020-06-08 18:43] nikomatsakis commented on #64796
So, I am re-reading @dtolnay's comment and I think that this part stands out to me:

I think my feeling has shifted. In part, I am not willing to second guess @dtolnay's experience in what is the best workflow for managing library development and nightly crates and so forth.

I think I would be happy to reverse the decision, and to have `#[cfg(version)]` test the nightly version, but I would like

[2020-06-08 18:43] jhpratt commented on #64796
Related to `const fn`, though admittedly tangential to this thread, is the "preferred" way to handle that just rewriting the entire method (or using something like the `const_fn` crate to do it for you), or is there some better way I'm not aware of?

[2020-06-08 19:03] LeSeulArtichaut commented on #73137
Assigning `P-critical` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373137.20Double.20Drop.20on.20Rust.20beta).

[2020-06-08 19:11] Aaron1011 opened #73144 "Closure outlives error should mention the source of the requirement"
The following code:

[code]

produces the following error message as of `nightly-2020-06-07`

[code]

In general, returning a reference derived from an argument is perfectly fine. The issue is that `use_it` requires that the return type outlive the argument - however, this is not mentioned anywhere in the error message.

When we emit a lifetime error message for closures, we should try to find the

[2020-06-08 19:23] Aaron1011 commented on #73137
A self-contained version of @lcnr's example:

[code]

[2020-06-08 19:27] dtolnay commented on #64796
I don't have much new to add either. I see the downsides in both solutions, but ultimately the ecosystem would adapt to either one.

- In favor of my design, the point I find most compelling is the discussion of how to do nightly development at the bottom of https://github.com/rust-lang/rust/issues/64796#issuecomment-634546711. https://github.com/rust-lang/rust/issues/64796#issuecomment-634634733

[2020-06-08 19:39] dtolnay commented on #73137
FYI @ecstatic-morse @tmandry @jonas-schievink because #71956 was in the right commit range and seems related.

[2020-06-08 19:39] leonardo-m opened #73145 "Prefer T::from over .try_into().unwrap() in error messages"
This wrong code:
[code]
Currently gives:
[code]
But rust could give a little smarter error message:
[code]

[2020-06-08 19:52] joshtriplett commented on #64796
@dtolnay @nikomatsakis What if we introduce a compiler option that causes the compiler to identify as the previous beta (or the previous stable), and introduced some kind of integration that makes it easy for people pinning a specific nightly version to use that option? That way, people working on a pinned nightly will get the behavior that doesn't break with features introduced after their pinned

[2020-06-08 19:53] dtolnay commented on #64796
I like that.

[2020-06-08 19:57] Aaron1011 commented on #73137
The MIR for the example I posted contains the following two lines:

[code]

The first line treans the generator enum as being in state `variant4`, but the second line attempts to read from `variant3`.

[2020-06-08 19:58] ecstatic-morse commented on #73137
Bisected and confirmed this was introduced in #71956.

[2020-06-08 20:08] Aaron1011 opened #73146 "Check discriminant during const eval"
In https://github.com/rust-lang/rust/issues/73137#issuecomment-640853814, an invalid `Downcast` is being generated for the generator state enum (the wrong variant is used). The MIR interpreter code doesn't actually verify that the expected and actual discriminants match when performing a `Downcast`. While doing this would not have caught the previous issue, it would allow us to detect U.B. at the

[2020-06-08 20:10] #72546 closed

[2020-06-08 20:10] #48525 closed

[2020-06-08 20:10] #68456 closed

[2020-06-08 20:30] petrochenkov commented on #72016
Minor compatibility concern: `asm!` supports some LLVM-isms like C style comments `/* comment */` (https://github.com/rust-lang/rust/pull/73056#issuecomment-640446400).

Other backends using external assemblers may need to do some pre-processing before passing the asm text to them.

[2020-06-08 20:39] ecstatic-morse commented on #67217
This was discussed at the @rust-lang/lang meeting.

One concern was that, by tying the step limit to MIR basic blocks, we make it possible for changes to MIR building or optimization to break code. One way to mitigate this is to limit only the number of function calls and jumps to already executed basic blocks as opposed to all basic block terminators. My concern with this change was that there wo

[2020-06-08 20:53] vandenheuvel opened #73150 "Can't borrow a variable that should be borrowable"
I have a test that is essentially something like
[code]
where `other_function` takes `&self` as argument.

I expected this to compile, because `x` should be free to be borrowed again, it seems to me. I however get the following error `E0502`:
[code]
Notice the odd error message, indicating an immutable and mutable borrow at the same time.

Unfortunately I was not able to isolate a small reproducin

[2020-06-08 21:18] petrochenkov commented on #72241
Hmm,  shouldn't it be possible to make a "union" list that would work both pre- and post-https://github.com/gcc-mirror/gcc/commit/850533ab160ef40eccfd039e1e3b138cf26e76b8 by passing some libraries multiple times?
Which would be similar to what linker does with `--(start,end)-group`, except that we would be doing it manually.

`--(start,end)-group` would make it harder to move these libraries to `#

[2020-06-08 21:31] ecstatic-morse commented on #52000
@nikomatsakis Done.

[2020-06-08 21:31] mati865 commented on #72241
That seems to do the trick for now:
[code]
For stage0 to work you can Rust with `RUSTFLAGS_BOOTSTRAP='-C link-arg=-lmsvcrt' ./x.py build`.

Generally GCC passes unnecessary libs like totally empty `-lmoldname`.
It would be nice if there was a tool to create dependency graph for import/static libraries so we could confidently choose the order instead of current "let's see if that order works".

[2020-06-08 21:44] nu8 commented on #72241
With GCC, I always have to mess with the order, to the point I do stuff like
this:

[code]

Where `-DA1` and similar are just dummy markers, so that I know for each group
I can put the items in any order, but not to change the order of the "groups".
However with Clang, at least with this version:

https://github.com/mstorsjo/llvm-mingw

I havent had to do that at all. I think Clang uses this:

htt

[2020-06-08 21:49] Jonathas-Conceicao opened #73151 "Segfault when displaying a error from rusb crate on 32bits"
I tried this code:

[code]

Running:
[code]

With the following on my Crago.toml:
[code]

I expected to see this happen: Cross-compiling to a i686 and running should work on my machine as I do have the required dependencies installed. Both the Debug and Display should be printable without a problem as the type supports both.

Instead, this happened: The type's Display resulted on a "Segmentation f

[2020-06-08 21:55] CAD97 opened #73152 "vec![].into_boxed_slice includes extraneous panicking code"
This is a stable-to-stable regression between 1.43 and 1.44. Likely to do with allocator parametricity.

[godbolt](https://rust.godbolt.org/z/hGXLLv)

[code]

1.43

[code]

1.44

[code]

[2020-06-08 22:23] mati865 commented on #72241
@nu8

Maybe it uses `--start-group` and `--end-group` implicitly for user libraries?

MSYS2 ships LLVM with z3, `llvm-mingw` builds it without that.

30% faster to me as well.

It depends on the use case but Clang is often just faster than GCC.

[2020-06-08 23:21] nikomatsakis opened #73154 "coercion becomes order dependent for higher-ranked functions"
https://github.com/rust-lang/rust/pull/72493 revealed an interesting interaction between coercion, the universe transition (https://github.com/rust-lang/rust/issues/56105), and the transition to NLL (https://github.com/rust-lang/rust/issues/57895). What happens in the `old-lub-glb-hr-noteq[12].rs` tests introduced by that PR is:

* We have to compute the "coercion LUB" of `fn('a, 'b) -> 'a` and `f

[2020-06-08 23:23] a1ien commented on #73151
Reduced to crate with workspace https://github.com/a1ien/test-rusb

[2020-06-08 23:32] ollie27 commented on #73152
Duplicate of #71861

[2020-06-08 23:32] #73152 closed

[2020-06-08 23:34] jonas-schievink commented on #73151
Can confirm. Thanks for the report!

[2020-06-09 00:09] tmandry opened #73156 "Handle source code coverage in const eval"
One open question around source code coverage instrumentation (#34701 / https://github.com/rust-lang/compiler-team/issues/278) is how to handle code that is only run during const eval. For example:

[code]

In a coverage report, we don't want the code in `compute_foo` to show as not being covered by tests because it was only "run" at compile time.

# Approaches

I've talked about this with @petrho

[2020-06-09 00:29] estebank commented on #73150
Could you provide [a minimal repro in the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69ee2b44de5d403aee8e65eb3193a584)?

[2020-06-09 00:33] lamafab commented on #65225
The current implementation is kind of limited, you cannot do something like this:

[code]

[code]

It would be convenient if you could implement this in a way which says "insert the key and return a reference from within the HashMap of the key".

Currently, you'd have to do this ugly work-around:

[code]

[2020-06-09 00:54] tmandry commented on #73146
The generator MIR does this intentionally. Situations can arise where a piece of code won't know which variant a generator is in, but _does_ know it's valid to project through a downcast to get to a particular field. That's because the field exists in multiple variants, and is in the same location regardless of which variant you access it through.

Example:

[code]

At the point where `count` is i

[2020-06-09 00:55] tmandry commented on #73146
Also, I think MIR usually initializes fields of a variant before setting the discriminant, so we would have to reverse that.

[2020-06-09 01:14] dtolnay commented on #62633
In the stabilization PR it was raised that `&self` may be more appropriate and flexible in these signatures than `self`. Do potential users here have a preference for either?

[2020-06-09 01:22] varkor commented on #53488
@rustbot assign @arora-aman

[2020-06-09 01:40] ecstatic-morse commented on #73137
After #71956, the generator transform no longer marks locals `_3` (`action`) and `_4` (`&42`) as live at the same time. Before this, they were marked as conflicting at the following statement. I'm not sure which is correct in the abstract. Clearly we need to move out `_4` before `_3` becomes initialized, but  I don't think MIR semantics for boundary conditions such as this one were formalized.

[c

[2020-06-09 02:17] RustyYato commented on #62633
You can use `as_ref` if you need a reference. Also, we should be consistent between our functions (`Option::unwrap`).

[2020-06-09 02:30] tmandry commented on #73137
Yep, that sounds correct to me. Off the top of my head I can't say that the second example is definitely ill-formed MIR, but it seems very likely.

Using a temporary in these cases, as you suggested, ought to work. The other approach is to go back to being more conservative with the analysis (which seems less desirable, and possibly harder to implement after the changes from #71956.)

[2020-06-09 02:50] est31 commented on #64796
Two examples of companies using something like pinned nightlies: [Fuchsia](https://fuchsia.googlesource.com/fuchsia/+/master/docs/development/languages/rust/unstable.md#our-rust-versioning-process) , [Dropbox](https://www.reddit.com/r/rust/comments/4adabk/the_epic_story_of_dropboxs_exodus_from_the_amazon/d0ziey9/) . Admittedly though, Fuchsia seems to update versions regularly (something like once

[2020-06-09 03:38] safwanrahman opened #73158 "TTL should be regarded as octal number"
I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-06-09 03:41] #71822 closed

[2020-06-09 03:41] #62144 closed

[2020-06-09 04:46] programmerjake commented on #72016
GNU Assembler (IIRC defined as the official assembly dialect by the RFC), and by extension GCC, supports [C-style comments too](https://sourceware.org/binutils/docs/as/Comments.html#Comments), so they are definitely not LLVM-specific.

[2020-06-09 04:59] Aaron1011 opened #73159 "Lifetime error with #![feature(nll)] and RPIT gives bad suggestion"
The following code:

[code]

gives the following error:

[code]

Suggsting that the user change the impl to `impl Foo<'static>` is usually the wrong thing to do - it's more likely that the user wants to write `impl Iterator<Item = u8> + 'a`

[2020-06-09 06:25] faern commented on #71668
I think it boils down very much to your style of coding. I have found myself on the opposite side of the spectrum compared to @withoutboats a few times recently. When prototyping, I have actively avoided making functions that are unsafe to call `unsafe fn`s. Because it's like turning off all safety checks and stops the compile from helping me. When I prototype I want to properly see where I do uns

[2020-06-09 06:35] OddCoincidence commented on #72680
It looks like the problem is here in `sort_candidates`. The call to `self.test` seems to rely on the invariant that the match pairs have been fully simplified at this point, but `or_patterns` are a special case and can still show up here.

https://github.com/rust-lang/rust/blob/5d39f1fa2978e2c4532d002f4ce5121bc1c9a007/src/librustc_mir_build/build/matches/test.rs#L684-L695

[2020-06-09 06:44] clarfon commented on #46651
So, what exactly is needed to fix this without the `-lgcc`?

[2020-06-09 07:41] mati865 commented on #73114
@vmosone could you share your code that caused the issue or a list of steps to reproduce the crash?

[2020-06-09 07:45] mati865 commented on #73117
@RalfJung should Miri even build for stable releases?

[2020-06-09 07:49] vandenheuvel commented on #73150
@estebank as mentioned in the issue description, unfortunately not.

[2020-06-09 08:01] vmosone commented on #73114
I try, but it may take some time.

[2020-06-09 08:05] jethrogb opened #73160 "Inline assembly warning gets turned into error"
Warnings generated by LLVM in inline assembly are reported by `rustc` as errors.

For example:
[code]
Compile with today's nightly or newer: `rustc +nightly --target x86_64-fortanix-unknown-sgx test.rs`. You'll get these errors:
[code]

However, when using `clang`, these are reported as warnings. For example:
[code]
Compile with a recent Clang nightly: `clang-11 -mlvi-hardening -mllvm -x86-experim

[2020-06-09 08:05] jethrogb commented on #73160
cc @Amanieu

[2020-06-09 08:47] RalfJung commented on #73117
No, Miri is not expected to build on beta/stable.  It's a nightly-only tool.

[2020-06-09 09:07] lcnr commented on #73120
This will probably get fixed by #72600

[2020-06-09 09:14] nikomatsakis commented on #71668
Side note, but @RalfJung I am still in favor of this change and would like to see it go through.

[2020-06-09 09:20] nikomatsakis commented on #64796
I think having an option seems fine but I'm not quite sure where/how it's supposed to be set by people.

[2020-06-09 09:30] nikomatsakis commented on #52000
@rfcbot fcp merge

I would like to propose stabilization of permitting loops in constant evaluation, [as described by the stabilization report prepared here](https://github.com/rust-lang/rust/issues/52000#issuecomment-637104955).

[2020-06-09 09:31] lcnr commented on #67144
will probably get fixed by #71154

[2020-06-09 09:32] jonas-schievink commented on #73137
Indeed, MIR constructs generally require its operands to not alias, and assignment statements are one of them. I plan to have them all documented and checked by the validation pass (`-Zvalidate-mir`), but it doesn't handle this case yet.

(I ran into similar issues with destination propagation, so this is somewhat reassuring – we might be able to share code that tells you about aliasing constraint

[2020-06-09 09:35] pietroalbini opened #73162 "run-make-fulldeps/c-link-to-rust-va-list-fn test is failing on AArch64"
The `src/test/run-make-fulldeps/c-link-to-rust-va-list-fn` test is failing on AArch64 with the following assertion:

[code]

[2020-06-09 09:40] eggyal commented on #72110
It turns out that, whilst the MacOS linker accepts the `-s` and `-S` shorthand arguments, they are obsolete and ignored (they generate warnings rather than the fatal errors produced with the longhand arguments).

The MacOS linker no longer provides any ability to strip its output.  Instead, Apple provide a `strip` utility that can be run on a resulting binary—but caveat that it is designed for the

[2020-06-09 09:45] 12101111 commented on #46651
`__addtf3` is quadruple precision add, `__multf3` is quadruple precision multiplication and  `__subtf3`is quadruple precision substruction.

the symbol `__addtf3` is equal to this C function:

[code]

`libgcc.a` from gcc and `libclang_rt.builtins-aarch64.a` from llvm compiler-rt provide
the implement of `__addtf3`, `__multf3` and `__subtf3`.

In rust we use compiler-builtins (writing in rust) to r

[2020-06-09 10:05] marmeladema commented on #50928
Small update:
* `save_analysis` has been converted to work fully on hir tree instead of mix of ast/hir in #72882
* as a consequence, all `NodeId` related APIs have been removed from the hir map in #72996
* post-lowering uses of `NodeId`s have been shrunk down further in #73090

I believe the solely remaining of `NodeId`s post hir lowering is the conversion of the trait map:
* https://github.com/ru

[2020-06-09 10:26] mati865 commented on #71060
@spastorino this might be something for wg-prioritization to talk about.

[2020-06-09 11:48] CodeSandwich opened #73165 "Using const struct field as pattern in match expression"
This snippet doesn't compile ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1f3e75a979626054fd3fd7b3ef52b7cd)):

[code]

I'm getting an error:
[code]

The workaround works fine:

[code]

Is it correct behavior? I see no reason why `failing` should not work, especially since `workaround` works exactly the same by const evaluating the value of `DATA.data`.

Tes

[2020-06-09 11:54] jonas-schievink commented on #73165
The pattern grammar does not allow arbitrary expressions, and changing that would require an RFC, so closing as expected behavior.

[2020-06-09 11:54] #73165 closed

[2020-06-09 12:40] Areredify commented on #67418
I would like to claim this, if nobody minds

[2020-06-09 13:07] nagisa opened #73167 "Binaries end up containing path to the rust-src component despite `--remap-path-prefix`"
When the following code is built with rustc with `rust-src` component available to it, the binary will end up containing the reference to the libstd source in the rustc installation path. This reference is then possibly printed out if this program panics if an error ever occurs.

[code]

Compile this program as such:

[code]

and inspect the executable with `strings`:

[code]

Then try to get rid

[2020-06-09 13:10] nagisa commented on #73167
This is technically a regression, but a silly enough one that it should _not_ block a release.

[2020-06-09 13:13] nagisa commented on #73162
Is this a regression? This can be an ABI issue, meaning there can be soundness concerns too.

[2020-06-09 13:14] pietroalbini commented on #73162
I just noted this while running the testsuite on AArch64.

[2020-06-09 13:15] shepmaster commented on #43466
I don't understand how to link to a re-exported procedural macro. The RFC indicates that linking to _a_ macro is possible, but none of my attempts appear to successfully link.

# Reproduction

**Cargo.toml**

[code]

**src/lib.rs**

[code]

**the-macro/Cargo.toml**

[code]

**the-macro/src/lib.rs**

[code]

[2020-06-09 13:43] jyn514 commented on #43466
@shepmaster the re-export is the problem, see https://github.com/rust-lang/rust/issues/65983. As a workaround, you might be able to use the absolute path (`the_macro::Repro`), but I haven't tested that.

[2020-06-09 13:49] spastorino commented on #71060
@mati865 do you want wg-prioritization to prioritize this issue? or do you want to nominate it for discussion on a `T-compiler` meeting?. Feel free to tag it with `I-prioritize` if this needs to be prioritized or with `I-nominate` if you want to nominate it for discussion.

[2020-06-09 13:50] shepmaster commented on #43466
Yeah, that was one I tried in my project but didn't reflect in the reproduction. It didn't seem to work either.

<details>
<summary>Attempts</summary>

[code]

</details>

[2020-06-09 13:51] jyn514 commented on #43466
I'm not sure, right now cross-doc links are pretty broken. Hopefully https://github.com/rust-lang/rust/pull/73101 will land in the next few weeks, you could try again afterwards.

[2020-06-09 13:51] Dylan-DPC opened #73170 "test prioritisation issue"
this is a dummy issue to test something. ignore it :P

[2020-06-09 13:52] #73170 closed

[2020-06-09 14:20] oli-obk commented on #67418
@rustbot assign @Areredify

It's all yours!

[2020-06-09 14:52] lzutao commented on #73158
Actually in this case, `set_ttl` returns an error by converting the C API error to `std::io::Result`:
[code]

[2020-06-09 14:58] safwanrahman commented on #73158
@lzutao interesting! I did not call `unwrap` so it did not panic. But I think the parameter should be `u8` instead of `u32`. What do you think?

[2020-06-09 15:11] bbqsrc commented on #32976
Is there a reason that `AtomicU128` is still unavailable on stable?

[2020-06-09 15:15] lzutao commented on #73158
I read the Unix code a bit.
https://github.com/rust-lang/rust/blob/feb3536eba10c2e4585d066629598f03d5ddc7c6/src/libstd/sys_common/net.rs#L414-L416

https://github.com/rust-lang/rust/blob/feb3536eba10c2e4585d066629598f03d5ddc7c6/src/libstd/sys_common/net.rs#L58-L70

Maybe we could implement the check for ttl range in Rust side? But what are the advantages
by doing that?

[2020-06-09 15:16] lzutao commented on #73158
Also we might not be able to change the `set_ttl` parameter type to u8. That would be a breaking change.

[2020-06-09 15:35] pietroalbini commented on #73134
cc @Stammark @JamieCunliffe @vigoux @joaopaulocarreiro @raw-bin, this is one of the tests that are failing on AArch64.

[2020-06-09 15:35] pietroalbini commented on #72579
cc @Stammark @JamieCunliffe @vigoux @joaopaulocarreiro @raw-bin, this is one of the tests that are failing on AArch64.

[2020-06-09 15:35] pietroalbini commented on #73162
cc @Stammark @JamieCunliffe @vigoux @joaopaulocarreiro @raw-bin, this is one of the tests that are failing on AArch64.

[2020-06-09 15:36] pietroalbini commented on #73038
cc @Stammark @JamieCunliffe @vigoux @joaopaulocarreiro @raw-bin, this is one of the tests that are failing on AArch64.

There is a PR open https://github.com/rust-lang/rust/pull/73058 that apparently should fix this.

[2020-06-09 15:36] pietroalbini commented on #73039
cc @Stammark @JamieCunliffe @vigoux @joaopaulocarreiro @raw-bin, this is one of the tests that are failing on AArch64.

[2020-06-09 15:40] mati865 commented on #71060
@spastorino I just want "increase visibility" of this issue hoping that somebody who knows about this stuff would step in. Sorry if that was "wrong address".

[2020-06-09 15:41] wesleywiser commented on #73158
We can't change the parameter type because this is a stable API. Also, because you don't use the Result, you will get a warning:

[code]

[2020-06-09 15:52] tmiasko commented on #73151
Minimized:

[code]

<details><summary>rustc a.rs -Cpanic=abort -Copt-level=z --target i686-unknown-linux-gnu --emit llvm-ir</summary><p>

[code]
</p>
</details>

Looks like the miscompilation is triggered by minsize attribute set on z optimization level. Diff of produced assembly with minsize and without it:

<details><summary>llc -relocation-model=pic -mtriple i686-linux-gnu</summary><p>

[code]

[2020-06-09 15:59] JamieCunliffe commented on #73162
See: https://github.com/rust-lang/rust/issues/56475

[2020-06-09 16:06] ecstatic-morse commented on #73137
The revert has landed, so this should be fixed on the latest mater.

This still needs a beta backport, however, so I'm leaving the issue open until one lands.

Thank you for reporting this @pranjalssh!

[2020-06-09 16:20] safwanrahman commented on #73158
@wesleywiser I understand it is a stable API. but taking `u32` as `ttl` does not make much sense as we can avoide the issue in compiletime rathar than panicing in runtime.

[2020-06-09 16:22] pietroalbini commented on #73162
Closing as a duplicate of #56475.

[2020-06-09 16:22] #73162 closed

[2020-06-09 16:26] LeSeulArtichaut commented on #73112
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure][link].

[link]: https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373112.20Rustc.20panics(in.20some.20cases).20when.20repr(al

[2020-06-09 17:27] doctorn commented on #73109
I'm having a look at this - if it gets too rough I'll be sure to release

@rustbot claim

[2020-06-09 17:36] jonas-schievink commented on #73109
FYI: I think the solution outlined in https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/-Zvalidate-mir.20errors.20on.20master/near/200033437 is better than just accepting `Self`. The latter is very easy, but the "proper" solution involves changing the shim code, and I don't really know much about how that works.

[2020-06-09 17:38] Manishearth commented on #43466
@jyn514 the cross crate bug is unrelated to the one being described by @shepmaster

You should totally be able to link _to_ a `pub use` in the current implementation, so what @shepmaster describes is an independent bug

[2020-06-09 17:40] spastorino commented on #71060
@mati865 not at all, it's not the wrong address, I'm trying to understand how we can help. If you consider this issue important and want to increase visibility, you can nominate the issue for discussion during `T-compiler` meetings by labelling with `I-nominate`. If you do so, please explain why you're nominating it, the wg checks all nominations before the meeting and evaluate it in terms of the

[2020-06-09 17:44] Manishearth commented on #65983
@jyn514 this is still not the actual issue at hand. it's part of it, but the actual issue involves multiple crates, and the documentation being resolved needs to come from the _dependency_ crate. This is not about documentation on reexports itself.

Here are some test cases that should work:

[code]

and the more complicated case of

[code]

Part of the issue is indeed fixing things so that reexpo

[2020-06-09 17:50] Manishearth commented on #43466
Can confirm that linking to `pub use` works, but not if it's a proc macro being used. Macro scoping is weird so that's probably it.

[2020-06-09 17:51] Manishearth commented on #43466
Oh, this has nothing to do with pub use, we're just completely incapable of linking to derive macros

[2020-06-09 17:57] Manishearth opened #73173 "Intra-doc links doesn't work for proc macros"
Part of https://github.com/rust-lang/rust/issues/43466

intra-doc links is incapable of linking to proc macros

You can reproduce this both with and without the `pub use`

# Reproduction

**Cargo.toml**

[code]

**src/lib.rs**

[code]

**the-macro/Cargo.toml**

[code]

**the-macro/src/lib.rs**

[code]

_Originally posted by @shepmaster in https://github.com/rust-lang/rust/issues/43466#issuecomment

[2020-06-09 17:58] Manishearth commented on #43466
Filed https://github.com/rust-lang/rust/issues/73173 , thanks

[2020-06-09 18:00] rrevenantt commented on #50186
Can't we require closure to be `Send` to make variant with `&mut T` sound?
[code]
Since `Cell` is `!Sync` anything that can contain reference to `Cell` must be `!Send` which prevents  any kind of reference to `Cell` from appearing inside the closure, thus trivially preventing any recursive calls on the same Cell. Here is a [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=

[2020-06-09 18:01] Manishearth commented on #73173
This is _probably_ because `macro_resolve()` doesn't fall back to `resolve_str_path` for non-bang macros

[2020-06-09 18:14] Manishearth commented on #73173
Right, I wrote this code in 2017, pre proc macro resolution, and MBEs resolve differently from proc macros.

[2020-06-09 18:21] mati865 commented on #71060
@spastorino thank you for the explanation, although I don't think I can use `I-nominated` label.

@rustbot modify labels: +I-nominated

Reason for nomination:
Rustc ICE backtraces are totally broken on `windows-gnu` (Tier 1) platform.
This not only makes life harder for people developing Rust using `windows-gnu` toolchain but also makes backtraces provided by the users completely useless (example

[2020-06-09 18:22] WaffleLapkin opened #73174 "Matching function signature is nearly impossible in declarative macros (mbe)"
I'm trying a write a macro that needs a function signature. I want smt like this to work:
[code]

However, there are 2 things that are nearly impossible to parse...

## Qualifiers

According to [rust reference][ref] rust function can have
- either `const` or `async`
- `unsafe`
- `extern` / `extern "Abi"`

It's possible to use `$( unsafe )?` (and same for other qualifiers), however, you then can't

[2020-06-09 18:24] cjoecker commented on #39487
This worked for me:

[2020-06-09 18:35] RustyYato commented on #50186
This is an abuse of `Send` to get desired results. `Send` should only be used in the context of threading, and so it doesn't fit here. Secondly, it would prevent many valid use-cases for example, you can't capture an `Rc<_>` (which you would probably do if you are using a `Cell`).

[2020-06-09 18:35] doctorn commented on #73109
Checking `Self: FnOnce` seems to work

[2020-06-09 18:41] newpavlov commented on #72016
I am also in favor of explicit imports from arch modules. I would suggest going even further and introduce separate macros for each supported target (e.g. `llvm_x86!`, `llvm_arm!`, etc.).

[2020-06-09 19:22] LukeMauldin opened #73177 "Optional features not respected with external registry"
I am trying to use a crate that depends on `trust-dns-proto` which has tokio listed as an optional dependency: https://github.com/bluejekyll/trust-dns/blob/0.19.4/crates/proto/Cargo.toml#L77 `
tokio = { version = "0.2.16", optional = true }`

When compiling a simple test project with the Cargo.toml file below, it works as expected as long as I am using the standard Rust crates.io registry.  Howeve

[2020-06-09 19:41] joshtriplett commented on #72016
Some feedback from various places in response to the blog post. (I'm skipping general expressions of awesomeness, though there have been *many*; I'm quoting those that have specific feedback.)

@amluto (Andy Lutomirski, prominent Linux kernel developer who works on a lot of low-level x86) at https://news.ycombinator.com/item?id=23467108 :

Several people on HN were a little confused about the back

[2020-06-09 19:51] Manishearth commented on #73173
My guess was right, I have a fix

[2020-06-09 20:14] poliorcetics opened #73179 "Tracking Issue for methods to go from nul-terminated Vec<u8> to CString"
The feature gate for the issue is `#![feature(cstring_from_vec_with_nul)]`.

This adds the following method to [`CString`](https://doc.rust-lang.org/stable/std/ffi/struct.CString.html):

[code]

`FromVecWithNulError` is a new error type, following the naming pattern of `FromBytesWithNulError` already existing for `CStr::new`.

This type, defined as:

[code]

It is inspired from the `FromUtf8Error`

[2020-06-09 20:30] poliorcetics commented on #73179
@rustbot modify labels to +T-libs, +A-ffi, +C-feature-request

[2020-06-09 20:37] amluto commented on #72016
I’ll add one more comment: please document what happens if you try to use not-quite-general-purpose registers as operands (clobber or otherwise). The most important case is the PIC register.  GCC does not appreciate inline asm that clobbers the PIC register. IMO it should be allowed, especially for things like CPUID on x86_32.

This also includes thinks like EBP/RBP. If I’m building with frame poi

[2020-06-09 21:09] doctorn commented on #73109
Papered over by #73175 but @RalfJung explains that this really isn't a proper solution. I'll have a serious look at the shim code this week and see if we can get a more robust solution.

[2020-06-09 21:16] Manishearth commented on #73173
Got a fix at https://github.com/rust-lang/rust/pull/73183

[2020-06-09 21:37] LeSeulArtichaut commented on #73179
Couldn't there also be a `TryFrom<Vec<u8>>` implementation for `CString`, calling `from_vec_with_nul`? This would allow to do `vec.try_into()?` instead of `CString::from_vec_with_nul(vec)?`.

[2020-06-09 22:05] a1ien commented on #73151
It seems that the last work version 1.37 on 1.38 I get segfault. Can some one also check this.

[2020-06-09 22:11] mati865 commented on #72241
Opened https://github.com/rust-lang/rust/pull/73184 for building Rust.

[2020-06-09 22:14] Ekleog opened #73185 "rustdoc: `--enable-index-page` integration with cargo?"
Hello,

While I was asking the `cargo` team whether it'd be possible to add an `index.html` page to the docs that'd list the crates in the workspace (initially not including dependencies, though that's not a big issue), I have been pointed to rustdoc's `--enable-index-page` flag.

So I'm now asking you the questions from https://github.com/rust-lang/cargo/issues/8229#issuecomment-640899528, that a

[2020-06-09 22:15] yaahc opened #73186 "impl `LowerHex` for slices of types that impl `LowerHex`"
Right now it isn't possible to print a slice of bytes as hex conveniently. Ideally rust should be able to compile the following code:

[code]

Right now, work arounds like this are required: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=01a92fb1c4f3e7497f91e0fe756d43d6

There are probably a few other fmt traits that should get similar treatment, and more types than just `

[2020-06-09 22:16] faern commented on #66770
I have never coded with radians in Rust before, but I started a few weeks back and I instantly defined `const TAU: f32 = 2.0 * PI;` *everywhere*. So having this constant in the standard library feels really relevant to me. And I like the name.

However, I'm really really in favor of moving the math constants to associated constants. I liked the more full on version of RFC 2700 that is linked above

[2020-06-09 22:16] #73186 closed

[2020-06-09 22:27] faern commented on #68490
One thing that remains is to improve the compiler error that mentions the `MIN` and `MAX` constants. Try this code on nightly:
[code]
It gives the following error:
[code]
Now when the associated constants are the preferred ones the error should be
[code]

[2020-06-09 22:29] steveklabnik commented on #34260
Triage: no change

[2020-06-09 22:29] steveklabnik commented on #54360
Triage: I'm not aware of any changes here

[2020-06-09 23:02] alistair23 opened #73189 "Unable to compile inline assembly with an IntLike generic type"
I am testing out the new [inline assembly](https://github.com/Amanieu/rfcs/blob/inline-asm/text/0000-inline-asm.md) in Rust nightly. I'm trying to run the RISC-V CSR read instruction, although the actual instruction doesn't matter.

I'm unable to use generic data types with the inline assembly. I have defined the type as `IntLike` but I still get this error:

[code]

The structure that defines the

[2020-06-09 23:10] jonas-schievink commented on #73189
Pretty sure this is expected behavior. Without making a closed-world assumption there's no way the compiler can know that `T` can only be a valid type.

[2020-06-09 23:13] alistair23 commented on #73189
Isn't `IntLike` enough to guarantee it's a valid type?

[2020-06-09 23:17] jonas-schievink commented on #73189
`IntLike` is a library-defined trait. The compiler cannot make any assumptions about which types might implement it.

I suggest making your inline asm snippet use specific types and then convert between them and `T`.

[2020-06-09 23:48] negamartin commented on #43244
I'm quite interested in this issue, and I read the whole thread, so I might as well try to summarize what everyone said, in the hopes of helping this get stabilized. I've added some of my own comments along the way, but I've tried to keep them as neutral as possible.

# Naming

Here is a non-opinionated summary of the names I saw proposed:

- `drain_filter`: The name used in the current implementa

[2020-06-09 23:49] yaahc opened #73191 "make `pub type foo = bar` and `pub use bar as foo` interchangable in next edition"
Right now renaming a type and re-exporting it via a type alias can be a breaking change whereas re exporting it under the new name is not a breaking change. As far as I know the only difference between the two is how they interact with tuple-struct constructors:

[code]

This happens because tuple struct constructors are just free functions with the same ident as the type they're constructing. `us

[2020-06-09 23:51] Manishearth opened #73192 "Rustdoc doesn't document impls within functions"
You _probably_ shouldn't be doing this, but given that you can, we should try and support it

[code]

`bar()` is not documented, despite being usable globally. This might have to do with `--everybody-loops`?.

This works fine for trait implementations.

[2020-06-09 23:58] aloucks commented on #43244
@negamartin

Wouldn't the `drain-on-drop` option require that the iterator returns a reference to the item instead of the owned value? I think that would make it impossible to use `drain_filter` as a mechanism to remove and take ownership of items matching a specific condition (which was my original use-case).

[2020-06-10 00:02] ollie27 commented on #73192
Duplicate of #53763

[2020-06-10 00:02] #73192 closed

[2020-06-10 00:04] joshtriplett opened #73193 "asm!: `options` should work multiple times, to simplify macros"
To simplify the implementation of macros wrapping `asm!`, I think `options` should work if specified multiple times, with the semantic that no *conflicting* options may be provided. (We could also do "last option wins", but I think I'd slightly prefer "don't specify conflicting options" instead.)

This would, for instance, make it much easier to implement an `asm_att!` macro that passes all its ar

[2020-06-10 00:23] spastorino commented on #71060
@rustbot ping windows

[2020-06-10 00:25] spastorino commented on #71060
Ohh right, there are still some pending PRs to be able to ping windows notify group. Doing so manually for now ...

cc @arlosi @danielframpton @gdr-at-ms @kennykerr @luqmana @lzybkr @retep998 @rylev @sivadeilra

[2020-06-10 01:30] scottmcm commented on #73191
It it possible there's anyone relying on this for the opposite, exporting a type while intentionally not exporting the constructor?  I guess it doesn't hide `PubType { 0: 5 }`, though...

[2020-06-10 01:31] kennykerr commented on #71060
@manodasanW may be able to help. He is our resident debugging expert, but doesn't necessarily know anything about Rust. 🙂

[2020-06-10 02:06] JakobDegen opened #73196 "Different styles between examples that should panic"
I happened to stumble across [this documentation](https://doc.rust-lang.org/std/primitive.char.html#method.is_digit) earlier, and was surprised by the style of the following example of code that should panic:
[code]

In particular, this does not seem to use the `should_panic` attribute that is used in other places in the documentation (eg [`Option`'s unwrap](https://doc.rust-lang.org/std/option/en

[2020-06-10 02:16] Michael-F-Bryan commented on #66355
90% of the time you should be able to do a `git blame` on the offending line and that'll tell you when it was broken.

I think the biggest benefit of caching results is to avoid GitHub's rate limiting. GitHub seems to limit you to, say, a hundred GET requests per minute, whereas the `rustc-dev-guide` might have several hundred links to GitHub pages. That means you often need to run `mdbook-linkche

[2020-06-10 03:21] Amanieu commented on #72016
Actually what I feel a lot of people are *really* asking is: "Why isn't this just like MSVC's `__asm` or D's inline assembly where I can just write the asm directly and the compiler will figure out the input/output/clobbers automagically?"

The issue with that approach is that in a lot of cases, we *can't* actually figure out the constraints just from the assembly code. Common examples are call an

[2020-06-10 03:31] lzybkr commented on #71060
@alexcrichton - Regarding checking which libraries are loaded - you can enumerate the memory regions and query the filenames for the region. Working code (modulo error handling and long paths):

[code]

And in your `Cargo.toml`, add:

[code]

[2020-06-10 04:04] #72959 closed

[2020-06-10 04:04] #73116 closed

[2020-06-10 04:05] rust-highfive opened #73199 "`rls` no longer builds after rust-lang/rust#73190"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73190, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-06-10 04:05] rust-highfive opened #73200 "`rustfmt` no longer builds after rust-lang/rust#73190"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73190, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-06-10 04:08] joshtriplett commented on #72016
One more issue I've observed in several contexts: everyone formats `asm!` statements differently, and we should 1) come up with guidance on how to do so, and 2) implement that guidance in `rustfmt`.

Notably, this includes how to format both single-line and multi-line assembly statements.

With my style team hat on, I would propose the following guidelines:
- Single-line assembly strings should be

[2020-06-10 04:35] dc740 opened #73201 "llvm-objcopy produces 160MB binary. It used to be 74KB"
I'm developing a platform for TockOS. They upgraded the nightly version from 03-06 to 06-03, and now llvm-objcopy produces a 160MB binary file (mostly filed with zeros). I also tried on the latest nightly (06-09), and the result is the same.

I tried this code with the same .elf file:

[code]

I expected to see both binaries have roughly the same size.

Instead, the binary from nightly 03-06 is 74

[2020-06-10 05:49] youngqqcn opened #73202 "memory allocation of 166442784 bytes failedsh: line 371: 18018 Aborted"
- CentOS 7 x64
- RAM: 2G
- CPU: 1 core

[code]

[2020-06-10 06:29] Lonami commented on #73186
This seems useful (I know I've needed it), so why close it?

[2020-06-10 06:56] RalfJung commented on #73109
FWIW, here's the Miri code that would ICE for a `Self` callee:

https://github.com/rust-lang/rust/blob/bb8674837a9cc5225020e07fc3f164762bb4c11c/src/librustc_mir/interpret/terminator.rs#L63

I *think* Miri runs shims as well, so... not sure what happens here.

[2020-06-10 06:57] RalfJung commented on #73109
But, the thing is, `Self` isn't actually a type. `Self` is more like a type alias. So what is the actual underlying type here? My theory is that it's a `FnDef`/`FnPtr` and that's why Miri does not complain.

[2020-06-10 07:32] oli-obk commented on #54360
This should probably be written as a MIR optimization. The mentioned array can be created as a const directly in the mir (mentioned via `Rvalue::Use(Operand::Const(...))`). If we add a query that takes a `Ty<'tcx>` and emits said constant, we'll even get deduplication for free.

[2020-06-10 07:35] RalfJung commented on #56604
Yeah, we should probably have two or three concrete proposals written down in as much detail as we can somewhere, so we have concrete things to look at. If you point me towards a hackmd I can do that for "whatever Miri currently implements"... need to find a better name for it though. "raw-ptr-type-matters-at-cast-only"?^^