[2019-10-04 17:02] Mark-Simulacrum commented on #62187
I think we'll worry more about tests as we head towards more effective const generics; right now I think it's not really in a state where tests would be super helpful. cc @varkor though

[2019-10-04 17:24] AnthonyMikh commented on #65104
Could you provide a motivating example where having this method would greatly simplify the code? If you need it for your project, you can easilly roll your own implementaton using extension trait pattern:

[code]

[2019-10-04 17:36] Gankra opened #65108 "ptr::offset should explicitly clarify 0-sized offset semantics"
https://doc.rust-lang.org/std/primitive.pointer.html#method.offset

I can't remember the past arguments we definitely had about this, but it would be nice to explicitly call out the answer in the docs.

As a relevant example, Vec::into_iter currently unconditionally computes the "end" pointer of the array by offsetting by `len` (as long as size_of T > 0). This means that we offset a dangling point

[2019-10-04 17:36] Gankra commented on #65108
cc @RalfJung

[2019-10-04 17:40] Gankra commented on #65108
(For anyone driving by, the ZST branch is an irrelevant distraction. We guarantee ZST ops do nothing, and this code is specially making the offset *non-zero* so it can use the pointer difference as a counter.)

[2019-10-04 17:52] cuviper commented on #60896
`Borrow` does require equivalence, stating, "In particular `Eq`, `Ord` and `Hash` must be equivalent for borrowed and owned values: `x.borrow() == y.borrow()` should give the same result as `x == y`." So I think that's fine for `get_or_insert`, at least.

For `get_or_insert_with`, yes, it's trickier -- the user-provided function could return *anything*. We could choose to (debug) assert that the v

[2019-10-04 17:55] lnicola commented on #60896
That might not be too useful if `std` is compiled without debug assertions.

[2019-10-04 18:01] cuviper commented on #60896
AIUI generic code gets the debug-assertion setting of the place where it's monomorphized.

[2019-10-04 18:16] STPR commented on #65104
Thanks for your code but it looks very complex to me.
Just looking at this makes me think it's a good reason to have it.

Having 2 methods to rotate brings some problems when you want to use both inside a function.
For example, if you want to make a function that needs to rotate right then left or the opposite, left then right depending on a parameter.

How are you going to program that with just

[2019-10-04 18:50] lopopolo commented on #65086
Thanks Jonas. I’m not sure how I could have known this short of asking a compiler dev. Is a clippy lint (like the ticket I filed) the best way to prevent this mistake?

[2019-10-04 19:16] andjo403 commented on #64913
made a little [POC](https://github.com/andjo403/rust/tree/llvmProfiler) with adding the clang time-trace feature in the self-profiling and with that I can see that 34% of the time in llvm for the long cgu is compiling `<std::panic::AssertUnwindSafe<F> as core::ops::function::FnOnce<()>>::call_once` do not know how the llvm passes is executed but there is 16565 occurrences of trying to optimize thi

[2019-10-04 19:39] jdm commented on #64913
That likely comes from huge numbers of generated functions from [this code generator](https://github.com/servo/servo/blob/86efbe30ca2f228fcfcd7798ef2c7d2ce0150509/components/script/dom/bindings/codegen/CodegenRust.py#L2533) calling [this panic catching helper](https://github.com/servo/rust-mozjs/blob/bc44e221420a42ccb77b54911f60ca102cba143b/src/panic.rs#L18-L33).

[2019-10-04 19:51] SimonSapin commented on #64913
If a single generic function has many instantiations, do they all end up in the same CGU?

[2019-10-04 20:19] eddyb opened #65111 "Audit ABI implementations in rustc_target (vs Clang)."
In https://github.com/rust-lang/rust/pull/63649#issuecomment-537896684 I wrote:

The context there was that our `wasm32` ABI has been wrong since it was added, and `wasm-bindgen` now relies on the wrong ABI.

I opened this issue so we don't lose track of this, because I'm sure I will.

[2019-10-04 20:21] KrishnaSannasi commented on #60896
@cuviper that doesn't sound right because macros are expanded way before monomorphozation

[2019-10-04 20:29] cuviper commented on #60896
Oh, maybe it's only overflow checks that are affected that way.

[2019-10-04 20:34] jack-t commented on #64169
Hi &mdash;

I've got what I believe is a working PR over [here](https://github.com/rust-lang/rust/pull/65112). There's a kind of chicken-and-egg problem with building `core` with the lint, though. I'm not totally sure how to solve it.

Thanks!

[2019-10-04 20:35] CAD97 opened #65114 "Invalid identifier in proc_macro causes ICE"
lib.proc-macro:

[code]

bin:

[code]

build:

[code]

toolchain:

[code]

[2019-10-04 20:43] bluss commented on #60896
It seems like a misuse of the entry, to insert a different key than was looked up for. But I can't find a way to "break" this [using some test code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3ee8b6b8041ba3da0bd85b42689fac07). From a cursory look I think the current implementation can't be fooled, it hashes and inserts it as if it is a new key.

Is that intended? It s

[2019-10-04 20:59] jonas-schievink commented on #65114
Duplicate of https://github.com/rust-lang/rust/issues/59998

[2019-10-04 20:59] #65114 closed

[2019-10-04 23:03] Skepfyr commented on #61732
After too much time bisecting, it has worked since `nightly-2019-08-11`, more specifically commit be3fb0cd which is this rollup: #63437. My guess is that this is another bug fixed by #63400.

[2019-10-04 23:41] hbina commented on #65047
Hmm, so I need to apply the same changes to this issue as well? @cuviper
I might be a bit slow, I borked my Linux machine ...

[2019-10-05 00:01] AnthonyMikh opened #65119 "Compiling a file with a non-ASCII name with `--error-format=short` enabled makes error messages contain excessive spaces after "filename:line:column""
Consider the following rust source (in `test.rs`):

[code]

It is obvious that it has syntax error. It also seems obvious that the generated error shouldn't depend on name of file except noting the name of file. However, it doesn't happen in practice:

[code]

Note extra spaces after `тест.rs:2:14:`.

Rust version (although it is not strictly relevant, see below):

[code]

The core issue lies in t

[2019-10-05 00:22] AnthonyMikh commented on #65119
I want to raise a question: is it really an issue worth fixing? It fires under very specific circumstances and the fix makes `prepend` slower for _every_ case, not only these specific ones.

[2019-10-05 00:46] joshlf commented on #55417
Same as #38832?

[2019-10-05 00:46] joshlf commented on #56195
Same as #38832?

[2019-10-05 01:00] KrishnaSannasi opened #65122 "ICE: macro expansion using `expr` fragment as identifier"
Regression from stable to nightly

[code]

backtrace
[code]

[2019-10-05 02:20] sanxiyn commented on #62117
@laanwj, hard-float is a separate issue, see #65024.

[2019-10-05 02:36] Centril commented on #65122
Fixed in https://github.com/rust-lang/rust/issues/65122.

[2019-10-05 03:33] scottmcm commented on #65104
You can rotate left or right with either method.  `s.rotate_left(mid)` and `s.rotate_right(s.len() - mid)` do the same thing.  Similarly, `s.rotate_right(k)` and `s.rotate_left(s.len() - k)` do the same thing.

If you want to rotate by a signed number, you can rotate by [`n.rem_euclid(s.len()) as usize`](https://doc.rust-lang.org/std/primitive.isize.html#method.rem_euclid).

[2019-10-05 03:35] estebank commented on #65119
I believe so.

[2019-10-05 03:40] KrishnaSannasi commented on #65122
@Centril I think you mean #65123

[2019-10-05 03:45] estebank commented on #64565
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2103107f1ac8d43abc508292467927ab), only minor changes:

[code]

[2019-10-05 04:00] tmandry commented on #65084
rustfmt was broken by #64690 so I'd start with looking at that.

[2019-10-05 04:20] tmandry commented on #65000
There's not much point in doing this deliberately. But if a change that is _supposed_ to fix a tool gets added to a rollup and doesn't, it sinks the whole rollup today.

The biggest benefit of this from my perspective is that we can be much more aggressive about including toolstate updates in rollups, which should lead to lower latency on average for those changes.

[2019-10-05 04:31] obiwanus commented on #24157
@estebank I can't see why the examples you provided don't compile, while this chapter in the official book says that `panic!` has a return type `!` so should never conflict with other arms in a `match` expression: https://doc.rust-lang.org/book/ch19-04-advanced-types.html?highlight=diverg#the-never-type-that-never-returns

[2019-10-05 04:54] STPR commented on #65104
I do understand why you have made rotate_left and rotate_right.
I still think a "rotate_signed" would be less confusing than:
**s.rotate_right(k) and s.rotate_left(s.len() - k) do the same thing**
or
**n.rem_euclid(s.len()) as usize**

[2019-10-05 09:20] laanwj commented on #62117
@sanxiyn Thanks! Yes, I only mentioned it in this context because the existing gcc Linux riscv64gc target uses hardfloat, at least on Fedora Linux RISC-V, so it seems it's a requirement.

[2019-10-05 09:41] monochromec commented on #62896
Can reproduce the above on stable rustc 1.38.0 (625451e37 2019-09-23) on an armv7l (Marvell Armada XP, installed toolchain stable-armv7-unknown-linux-gnueabihf). @fenhl initial workaround still applies. Let me know if you need more info.

[2019-10-05 09:59] nico-abram commented on #48792
I think the links in https://github.com/rust-lang/rust/issues/48792#issuecomment-371067174 are outdated.

I'd be interested in trying to work on this, but have only partially read the rustc guide. Would this be small enough to be doable for someone new?

[2019-10-05 10:17] jfrimmel opened #65125 "Document the error cases for std::process::Command"
The current documentation of the [std::process::Command](https://doc.rust-lang.org/std/process/struct.Command.html#method.spawn)-struct lacks the description of possible error cases. All examples assume the working case, too.
There is currently no easy was to see, why a e.g. a call to `spawn()` could fail (before running).

I would recommend to add either a list of possible error cases (if this is

[2019-10-05 10:29] mati865 commented on #62896
@rustbot modify labels: -regression-from-stable-to-beta +regression-from-stable-to-stable

[2019-10-05 10:36] r00ster91 opened #65127 "Many is_ascii_ methods are slower than they have to be"
I noticed this `is_ascii` check: https://github.com/rust-lang/rust/blob/618768492f0c731fcb770dc2d178abe840846419/src/libcore/char/methods.rs#L1078 and wondered why it's there.
Then someone told me it's there because of the `as u8`. If you pass a non-ASCII char, the `as u8` would corrupt that char. That's why the `is_ascii` check is there before it. But then I wondered: why isn't this just cast to

[2019-10-05 10:45] Darneas commented on #64379
Thanks, it looks like what I was searching for. Sad, that it did not yet make it into `stdlib`. I will check in the next weeks if `net2` fufills our needs and reopen the issue if necessary.

[2019-10-05 10:45] #64379 closed

[2019-10-05 10:52] mayabyte commented on #64557
Has a PR been submitted for this yet? I'm happy to take it if not

[2019-10-05 11:07] SimonSapin commented on #65127
(I can’t seem to find the relevant part in the middle of this discord stream…)

I’m not sure what you mean by “corrupt”. `some_char as u8` is well defined: it takes the numerical value of the code point (same as `some_char as u32`), then truncates to keep the lower 8 bits. `'A' as u8` equals 0x41, but so does `'🁁' as u8`. We want to reject the latter since U+1F041 🁁 is not an ASCII upper-case lett

[2019-10-05 11:12] r00ster91 commented on #65127
Oh it seems the Discord link is a bit buggy. Try searching for `Why is there this self.is_ascii() check?` in the Search bar. Then you should get to my message with the discussion below it. One guy also posted this comparison of the instructions generated: https://godbolt.org/z/RBADFT.

[2019-10-05 11:21] Earlz opened #65128 "link_section attribute misleadingly allowed on modules and impls"
The `#[link_section]` attribute seems to be allowed on modules and impl blocks, but it will not do anything. I would expect either all functions/statics within the module/impl to be placed into the specified link_section, but this does not happen.

Code used:

[code]

I've verified the functions are linked in and not just optimized out etc. As-is the functions will be placed into the default `.tex

[2019-10-05 11:33] BurntSushi commented on #65127
I think the minimal standard here should be a benchmark before we change the implementation. Can you provide that?

[2019-10-05 12:44] nagisa commented on #65111
If my memory serves me right, I asked about a formal ABI specification back when this target was being added and there wasn’t one at the time so we ended up with something implementation defined. Implementation of the ABI in Clang is not a formal spec, either, so I don’t see much purpose in changing one implementation-defined ABI to another one.

Maybe makes sense for other formally specified ABIs

[2019-10-05 13:12] davidtwco commented on #44109
Submitted #65130 to address the interaction with `#[non_exhaustive]` and `improper_ctypes`.

[2019-10-05 13:38] joshtriplett commented on #65111
Interoperability between the two?

[2019-10-05 13:49] ehuss commented on #48792
This is already implemented via the [`--json=diagnostic-rendered-ansi` flag](https://doc.rust-lang.org/rustc/command-line-arguments.html#--json-configure-json-messages-printed-by-the-compiler).  As such, I think it will be fine to close this.

[2019-10-05 13:49] #48792 closed

[2019-10-05 14:05] andjo403 commented on #64913
I think that all generic functions that is instantiated in the same module is in the same CGU if I understand the description here https://github.com/rust-lang/rust/blob/master/src/librustc_mir/monomorphize/partitioning.rs#L44

@michaelwoerister do you have some idea of how to split the CGU more?

rustc also have some generic functions that make one CGU larger then the rest

[2019-10-05 14:40] cheblin opened #65131 "Middle size, 80 000 lines, project but very slow, 5 hours, compilation"
This code is the [MAVLink ](https://mavlink.io/en/) protocol handler, and generated by one of the MAVLink specification. It is  **C/Rust**  mixed project, so to compile it you will need  **Rust** ,  **CC**  an any  **C**  compiler.

To check how slow  **rustc**  is, [check this out ](https://github.com/cheblin/InRUST), and run  **cargo test**  in the  **GroundControl/demo**  dir

Exactly this proj

[2019-10-05 14:52] MOZGIII opened #65132 "VecDeque: add with_exact_capacity"
I've tried this code:
[code]
The observed behavior is `vd.capacity() = 2047`

It would be great if there was a call like `fn with_exact_capacity<T>(capacity: usize) -> Result<VecDeque<T>, ()>` that would return a `VecDeque` only and if only it can successfully create a `VecDeque` with exactly the requested capacity, and return an error otherwise.

Some assertions for the proposed behavior:

[code]

[2019-10-05 15:06] jonas-schievink commented on #65132
What's the use of such an API that isn't covered by `with_capacity` already?

[2019-10-05 15:13] jonas-schievink commented on #65131
Please provide build instructions for that code. Running `cargo build` in `GroundControl/lib` gives:
`fatal error: ../config.h: No such file or directory`.

[2019-10-05 15:40] MOZGIII commented on #65132
Predictability of the behavior. In some very specific conditions, when I allocate 32 mb vecdeque, I don’t want to unexpectedly be 64 mb. The current *API* doesn’t let me to control this, cause the actual capacity to be allocated is hidden in the implementation details. Now, the proposed API would, without exposing the actual allocation logic, will give me the ability to make the code allocate memo

[2019-10-05 15:50] ollie27 commented on #65034
@nagisa Are you sure about that? Do you have an example of code that behaves differently on Windows than other targets?

[2019-10-05 16:00] RalfJung commented on #65000
I agree rollups are a good argument.  It will make our life as Miri maintainers a bit worse, but given Miri is an experimental nightly tool and rollups are crucial for landing PRs these days, I can agree with the trade-off.

Some tooling that could make this easier for us is if the bot that created the issue "Miri is broken" could also automatically close that issue when Miri is fixed again. That

[2019-10-05 16:04] r00ster91 commented on #65127
I'm not that experienced with Rust yet, sorry. I just wanted to point this possible performance regression.

[2019-10-05 16:08] cheblin commented on #65131
Sorry But I wrote

[2019-10-05 16:15] MOZGIII commented on #65132
In other words, while I can account for the current capacity rounding behavior, it’s not manifested in the API. This proposal preserves that abstraction, while allowing you to react appropriately if the underlying implementations starts to break the invariants you require for the code to have.
Given that `std` can’t be version-controlled independently, I think this is a way to go.

[2019-10-05 16:18] davidtwco commented on #19834
@varkor @shepmaster I had a go at implementing [the instructions](https://github.com/rust-lang/rust/issues/19834#issuecomment-466671572) in [issue-19834-improper-ctypes-in-extern-C-fn](https://github.com/davidtwco/rust/tree/issue-19834-improper-ctypes-in-extern-C-fn), but quickly ran into problems:

- I had to `#[allow(improper_ctypes)]` on a bunch of places within the `libproc_macro`, `libstd`, `

[2019-10-05 16:26] rkruppe commented on #19834
Neither of these problems is a showstopper in my opinion, please continue and open a PR. Also, I have comments about both of the issues you identified and how you addressed them but it would probably best to discuss that on the PR.

[2019-10-05 16:30] nagisa commented on #65034
Amusing, I was not able to reproduce this on my recent W10 VM, but I’m fairly confident I had hit this with the more ancient versions of Windows. Closing for now as inapplicable.

[2019-10-05 16:30] #65034 closed

[2019-10-05 16:31] petrochenkov commented on #65090
Further minimized:
[code]

[2019-10-05 16:31] davidtwco commented on #19834
@rkruppe opened as #65134

[2019-10-05 16:43] petrochenkov commented on #65090
The root cause of the issue is that glob imports don't update their lists of imported names properly. Import `use m::*` may snapshot the content of `m` at one moment and may ignore later updates to `m` caused e.g. by expanded macros.
This is an old issue and not a regression.

The regression here is that some expansion order changed, which should be harmless by itself, but the new expansion order

[2019-10-05 16:45] estebank commented on #24157
You're right, this error should suggest writing `match a { /* ... */ };` with a finishing semicolon. This arm is being evaluated to `()` because that obligation is flowing up from the `match` block.

[2019-10-05 16:48] cheblin commented on #65131
I wrote

[2019-10-05 16:52] petrochenkov commented on #65090
We cannot revert #63248 or #63867, so the fix amounts to implementing globs properly.
I always assumed that to be a big task requiring investigation and possibly a major rewrite.
I could be wrong though, I'll try to look at the code and make some estimation.

[2019-10-05 16:54] jonas-schievink commented on #65131
That gives the same error, since it just has a dependency on the crate in `lib`...

[2019-10-05 17:00] petrochenkov commented on #65090
The workaround for `goblin` is to make `struct Dyn` and `struct SectionHeader` to expand slightly earlier, e.g. like this:
[code]

[2019-10-05 17:07] dhardy commented on #57218
This works on the latest stable, so we can close this.

[2019-10-05 17:07] #57218 closed

[2019-10-05 17:31] cheblin commented on #65131
Small bug fix  in the build.rs file.
Please try again.
Thanks.

[2019-10-05 17:34] jonas-schievink commented on #65131
That didn't fix it

[2019-10-05 17:40] cheblin commented on #65131
on my debian and windows 10 build script shown:

cargo:warning=**Starting search config.h in....**
cargo:warning=/root/InRUST/GroundControl/demo/target/debug/build/black_box-sys-57f37c06735e9d12/out
cargo:warning=/root/InRUST/GroundControl/demo/target/debug/build/black_box-sys-57f37c06735e9d12
cargo:warning=/root/InRUST/GroundControl/demo/target/debug/build
cargo:warning=/root/InRUST/GroundControl

[2019-10-05 17:55] Gankra commented on #65000
I still maintain that including these projects in-tree is the ideal solution. That way the tools cannot ever break, everyone is responsible for keeping them working, and mutual changes can be performed atomically. e.g. When an unstable API is changed, the uses of that API must also be changed, and there is no ordering that works -- both must happen at the same time.

"Everyone is responsible" is e

[2019-10-05 18:18] peku33 commented on #64821
Easy way to reproduce.
1. Create empty project
2. Add `hyper = "0.13.0-alpha.4"` to dependencies
3. Run RLS

Errors:
`{"message":"src\\librustc\\ty\\context.rs:211: node type <W>::Future (hir_id=HirId { owner: DefIndex(4408), local_id: 28 }) with HirId::owner DefId(0:4408 ~ hyper[bacd]::server[0]::conn[0]::spawn_all[0]::__unpin_scope_State[0]::__UnpinStructState[0]) cannot be placed in TypeckTable

[2019-10-05 18:26] bluss commented on #65132
VecDeque currently only grows in powers of two, and one slot is always held free (hence capacity will be 2<sup>x</sup> - 1). It would need significant updates to be able to support other allocation sizes.

[2019-10-05 18:32] MOZGIII commented on #65132
I propose to keep the same size limitations. The difference would be that instead of allocating more than requested, if the requested size in not a power of 2 - 1, to return an error.

[2019-10-05 18:38] ecstatic-morse commented on #65006
Using `ptr::offset` to convert a reference to one field into a pointer to another is UB according to the current model of stacked borrows (see rust-lang/unsafe-code-guidelines#134). As a result, the behavior of the test is undefined, and this does not represent any unsoundness in `IndirectlyMutableLocals`.

[2019-10-05 18:38] #65006 closed

[2019-10-05 18:43] cheblin commented on #65131
made more platform specific fixes.
check now please.

[2019-10-05 19:53] iankronquist opened #65138 "SIGSEGV in LLVM"
I was trying to compile some x86 early boot code and encountered a SIGSEGV in LLVM:
[code]
It looks like the assertion here would fail, if assertions were enabled in the LLVM rust was built with:
https://elixir.bootlin.com/llvm/latest/source/llvm/lib/CodeGen/MachineLICM.cpp#L1043

Here's my target specification:
[code]

Here is my minimal repro:
[code]

[2019-10-05 19:55] iankronquist commented on #65138
I suspect you will want this reported upstream. Let me know if you have advice how to do this.

[2019-10-05 20:45] petrochenkov commented on #64803
Fixed in https://github.com/rust-lang/rust/pull/65140.

[2019-10-05 22:04] TimDiekmann commented on #63291
Just from looking at the current source code:

[code]

When `mem::size_of::<T>() == 0`, a zero-sized layout is passed to `Global.alloc` but `alloc` mentions:

[2019-10-05 22:20] clarfon opened #65143 "Cow::is_borrowed and Cow::is_owned"
I just tried to use these in my own code and was kind of shocked they didn't exist. PR coming soon; this is going to be the tracking issue.

[2019-10-05 22:51] petrochenkov commented on #64143
@shawntabrizi
Could you clarify, does the issue happen only during cross-compilation to wasm?
That's what I see in the log:
[code]
In that case this is a duplicate of https://github.com/rust-lang/rust/issues/56935 or https://github.com/rust-lang/rust/issues/64450.

I wasn't able to reproduce the cross-compilation testing locally, and without cross-compilation the build completes successfully at le

[2019-10-05 22:53] petrochenkov commented on #64143
In general, help with a minimized reproduction would be appreciated.
It's hard to reproduce issues in a crate with 600 dependencies and a bunch of non-Rust pre-requisites some of which don't build on my platform.

[2019-10-05 23:12] SimonSapin commented on #63291
Good point! I copied this pattern from `Rc` and `Arc`, but there the header (refcounts) cause the allocation to never be zero-size.

`Box::new_uninit_slice` has a similar bug with `size_of() == 0` *or* `len == 0`.

[2019-10-05 23:20] TimDiekmann commented on #63291
I have noticed this when implementing [`Box` for custom allocators with non-zero layouts](https://docs.rs/alloc-wg/0.2.0/src/alloc_wg/boxed.rs.html#233-262). Turns out, that this is indeed useful :slightly_smiling_face:

[2019-10-06 01:11] XiangQingW commented on #64557
Hum... I'm working on this, and sorry for the delay because I was busy last weekend.

[2019-10-06 02:21] tmandry opened #65147 "check_mod_item_types query times regressed bigly"
There is a crate inside of Fuchsia whose compile times increased from ~500ms to ~120s in the last month of Rust compiler updates. It hasn't been easy so far to provide a minimal example, but I will keep working at it.

Some bisecting revealed that it actually consisted of two performance regressions, both affecting the time spent in `check_mod_item_types`:

| Commit hash

[2019-10-06 02:26] shawntabrizi commented on #64143
@petrochenkov Sorry, I wont be able to help with a minimal reproduction step. It is just something I ran into and reported. I will close this issue, and allow you to reopen if you feel you can further investigate.

[2019-10-06 02:26] #64143 closed

[2019-10-06 02:37] tmandry commented on #65147
Interestingly, removing `.await` from _either_ of these places makes the compile much faster. If I leave both in, it's slow, but taking one or both out makes it faster. I suspect there's some kind of cycle being created when both are left in.

[2019-10-06 03:47] lzutao opened #65148 "rustfix: Autofix try! macro in edition lint to use `?` operator"
Now `try!` macro has been deprecated in #62672. I think it's time to automatically
fix `try!(expr)` to `expr?` in edition lint.

[2019-10-06 03:56] lzutao commented on #65148
@rustbot modify labels:  A-diagnostics A-edition-2018-lints A-lint A-suggestion-diagnostics T-compiler

[2019-10-06 03:56] fuchsnj opened #65149 "Trait bound is ignored"
I have a simple program below that is trying to call `poll_next` on a `T: Stream`. The compiler seems to ignore the trait bound, and suggests adding the exact trait bound that is already in use.

This is using the current **beta** rust version:
`rustc 1.39.0-beta.5 (fa5c2f3e5 2019-10-02)
`

[code]

[code]

A complete git repo reproducing the issue is here: https://github.com/fuchsnj/poll_next_bug

[2019-10-06 05:03] XiangQingW commented on #64465
@rustbot claim

[2019-10-06 05:15] Manishearth commented on #65000
We ... we don't have this problem or use those janky hacks? Clippy uses `rustup-toolchain-install-master`, so you can only land things in clippy if it builds on rustc master.

This does mean that when rustc breaks we can't land things, which we're usually fine with.

So when rustc breaks clippy, we halt other PRs and land a rustup in clippy -- if clippy's bors accepts it it will almost definitely

[2019-10-06 06:53] songdongsheng commented on #65024
+1 for general-purpose binary Linux distributions has been agreed use lp64d as the Hardware baseline and ABI choice.

https://wiki.debian.org/RISC-V#Hardware_baseline_and_ABI_choice

[2019-10-06 07:16] da-x commented on #58017
Posted a PR to fix this - #65153.

[2019-10-06 07:55] alkbt opened #65156 "Non-lexical lifetimes do not work on a field of structure"
I noticed that the non-lexical lifetimes do not work if the reference is used in the structure field.
[code]

[code]

[code]

[2019-10-06 08:00] petrochenkov commented on #64079
I'll close this as not-a-bug / RFC material.

[2019-10-06 08:00] #64079 closed

[2019-10-06 08:05] petrochenkov commented on #55220
@mandeep
Does this issue still reproduce? If yes, then could you provide code that can be used for reproducing it?

[2019-10-06 08:08] petrochenkov commented on #55220
The issue is from Oct 20, 2018, multiple cases of "inconsistent resolution for a macro" were addressed since then and one remaining case has its own issue assigned to me.
So, if reproduction doesn't appear in some time, this issue needs to be closed.

[2019-10-06 08:40] #59127 closed

[2019-10-06 08:40] #64908 closed

[2019-10-06 08:40] #65122 closed

[2019-10-06 08:54] bjorn3 commented on #64872
The patches are not necessary. I have uploaded a repro with just the necessary Cargo.toml and a script to fetch the sysroot src at https://github.com/bjorn3/rust_issue_64872_repro.

[2019-10-06 08:55] csmoe commented on #42340
@nikomatsakis @eddyb not sure whether this issue should be closed or not. How about those `Unknown`s? (If needed, I have a lot of brandwidth to volunteer).

[2019-10-06 09:23] Nadrieril opened #65157 "#[non_exhaustive] variants are not detected to be redundant"
Say I have the following enum in crate `b`:
[code]
And I match on it in crate `a`:
[code]
The second branch is not detected to be unreachable. This is on current nightly; [playground link (hacky)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=00568321f94cf79d6d5eece1e2bc5a14).

[2019-10-06 09:59] Nadrieril commented on #65157
The reason for this behaviour is straightforward: [this line](https://github.com/rust-lang/rust/blob/5a8fb7c24d85d0bd911ca465c4a077c7cee608ae/src/librustc_mir/hair/pattern/_match.rs#L1127) reports tuple variants with non-exhaustive fields as always useful.
This line was introduced in commit https://github.com/rust-lang/rust/commit/0d034a2e4dd9418fa41aba4ebdd1ebc31a08c9e9 . I'm not quite sure what

[2019-10-06 10:43] DutchGhost opened #65159 "Nightly async fn ICE"
The following ICE's in nightly:
[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

Beta just errors normally, complaining that `Result` takes two parameters.

[2019-10-06 11:40] Nadrieril commented on #53820
I've put up a large refactor over there: #65160.
If and once it gets merged, fixing the issue should just be a case of using the VarLenSlice constructor for fixed-length arrays as well.

[2019-10-06 12:50] #65036 closed

[2019-10-06 12:57] Duddino opened #65163 "Implement std::iter::FromIterator<char> for Box<str>"
This would allow to construct a Box<str> from an iterator, example: ```let string: Box<str> = (0..5).map(|_| '☺').collect();```

This issue has been assigned to @Duddino via [this comment](https://github.com/rust-lang/rust/issues/65163#issuecomment-538747890).

[2019-10-06 13:00] jonas-schievink commented on #58017
Duplicate of https://github.com/rust-lang/rust/issues/39703

[2019-10-06 13:04] jonas-schievink commented on #65163
Did you mean [`FromIterator`](https://doc.rust-lang.org/std/iter/trait.FromIterator.html)?

[2019-10-06 13:06] Duddino commented on #65163
Yes thank you

[2019-10-06 13:09] bluss commented on #65163
The workaround to use until then is `(0..5).map(|_| '☺').collect::<String>().into_boxed_str()` which will be equivalent to the eventual solution in behaviour and performance.

[2019-10-06 13:35] Duddino commented on #65163
@rustbot claim

[2019-10-06 13:39] eddyb commented on #42340
This is far from done, the checkboxes were only for prerequisites, I think.

[2019-10-06 15:14] Duddino commented on #65163
I made the change, should I proceed with a PR? Sorry if it's a stupid question, but it's my first issue

[2019-10-06 15:17] csmoe commented on #65159
regression introduced by a commit later than https://github.com/rust-lang/rust/commit/2daa404e9a151a2e8262cbd6d8c209fd067aca16

[2019-10-06 15:30] bluss commented on #65163
@Duddino  I think you can. The equivalent thing for `Box<[T]>` was in #55843 and the process should be similar.

If you are curious, bigger changes in Rust might require an RFC -- see the [contributing file](https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md).

[2019-10-06 15:37] Duddino commented on #65163
@blussI Thank you!

[2019-10-06 16:01] the8472 commented on #65132
That would mean callers would depend on implementation details to get a successful allocation, that seems to be a forward-compatibility hazard.

Wouldn't it be better for the caller to simply emit a warning when it detects such undesired behavior and then let the developer to choose a better size if the VecDeque implementation changed?

[2019-10-06 17:34] MOZGIII commented on #65132
The point is to opt-in the dependency of that implementation detail. For example, with this code I'd catch an error, emit warning and allocate via `with_capacity` if that's desirable. This is implementation detail, and if want to do precise allocations - I *have* to depend on it *even if it's not explicitly expose via the API*.

If `VecDeque` implementation changes we'll just deal with that. It's

[2019-10-06 17:52] the8472 commented on #65132
If you're targeting implementation-specific behavior then you can already do that today by providing a capacity goal that results in the outcome you want, then probe the outcome and emit a warning/error when it doesn't match expectations. You can even put that in your testsuite.

What a new API would do is *encourage* implementation-specific behavior because the set of values that don't result in

[2019-10-06 18:09] MOZGIII commented on #65132
Well, maybe we can add this API as an `unstable`-only?

[2019-10-06 18:21] the8472 commented on #65132
In that case I don't see what value it would add over the create + verify approach.

[2019-10-06 18:23] MOZGIII commented on #65132
But create + verify is not zero cost.

[2019-10-06 18:46] the8472 commented on #65132
It is with optlevel=2 or above

[code]

[code]

[2019-10-06 18:53] MOZGIII commented on #65132
Nice, I think this works for me. It relies on a hell of a lot more implementation details and optimizations though. I don't like that, and would prefer the library solution better, but whatever.

[2019-10-06 19:32] gilescope commented on #62290
@Centril am bumping into this one quite often in beta... from an ergonomics point of view it would be great to get this stable if there's no outstanding concerns / issues... - is this something we might consider putting 'on-deck', or does it need more settlement time?

[2019-10-06 20:02] Nemo157 commented on #62290
Despite "Implement the RFC" being checked this feature is still largely unimplemented (other than the trivial case of `async move || {}` which is equivalent to `move || async move {}`), and as far as I'm aware also requires more design work before it can even really be implemented.

[2019-10-06 20:22] nagisa opened #65171 "rustdoc fails to account for `-Clinker` and `-Clink-arg` when building tests"
I’m working on a fairly peculiar system at the moment where the default linker (`cc`) is not able of linking properly, and thus I set the following environment variables

[code]

which made `cargo build` pass. However `cargo test` still fails because doctests are still being compiled with the default linker. Running `cargo test --verbose` reveals that the flags are being passed through to `rustdoc

[2019-10-06 20:50] andjo403 commented on #64913
have been looking in to more detail what happen in the partitioning for script and here is the stats

| CGU | CGU unmerged | post merge estimated size | post inlining estimated size | Optimize time (s) | Lto time (s) |total time (s) |
| ---  | --- | ---: | ---: | ---: | ---: | ---: |
| 0   | yes | 848956 | 1467083 | 41,66 | 69,97  | 111,63 |
| 1   | yes | 524765 |  585184 | 25,65 | 18,41  | 44,06

[2019-10-06 21:11] tanriol commented on #65131
I've looked into this code and likely found the problem.

The bright side: it compiles in under half a minute if the errors are removed.

The part of the code causing this problem is a test function that tries to test everything at once and has about 8000 lines. The function contains (as of commit ee653b1a0170) 76 borrow checker errors and the part that takes 5 hours is generating the 3-point erro

[2019-10-06 21:15] tanriol commented on #65131
A minimized reproduction looks like this
[code]

On my laptop this code requires about 25 seconds to print the error for the 1000 `if` statements generated above and scales like the cube of the statement count.

[2019-10-06 21:17] nagisa commented on #65138
It is non-trivial to build libcore for the custom target to reproduce this, so some steps towards a way forward instead.

Please produce the LLVM bytecode file (`rustc --emit=llvm-bc`) and verify that running it through `llc -O3` or `opt -O3` also fails. Make sure your version of `llc` is at least similar to the LLVM version reported by `rustc --version --verbose`. If it does indeed fail with `llc

[2019-10-06 21:20] ollie27 commented on #65171
This has been fixed by #63827 + #63834 so should work on 1.39.0.

[2019-10-06 21:20] #65171 closed

[2019-10-06 21:26] MOZGIII commented on #65132
Actually, does this still hold for the case where the buffer size is not hardcoded?

[2019-10-06 21:31] SimonSapin commented on #64913
What is CGU merging?

[2019-10-06 21:34] MOZGIII commented on #65132
This case is practically important, because in our use case for some `VecDeque`s we can hardcode the size, but for other we can't.

[2019-10-06 21:43] mmastrac commented on #40174
For those following various links to this issue, it is important to note that *you can compile code using `proc_macro` to statically-linked `musl` binaries, BUT you need to cross-compile from a platform that _does_ support dynamic linking.*

`cargo build --target x86_64-unknown-linux-musl` should be sufficient, but you'll need to run that on something like Ubuntu, Fedora, or another full system.

[2019-10-06 21:50] the8472 commented on #65132
No, in that case it would cost a compare and non-taken branch (2 instructions), but you said you're targeting exact sizes, which can only be achieved by passing specific values that match the current implementation, that does not match what your example does where you can pass arbitrary values.

[2019-10-06 21:50] andjo403 commented on #64913
it is part of the partitioning algorithm when either `-Ccodegen-units=val` have been added or Incremental is off, the default is 16 CGUs.
for incremental there is somtimes thousands of CGUs and as the partitioning algorithm is the same the CGUs needs to be merged to match the requested number of CGUs.

[2019-10-06 21:51] SimonSapin commented on #63291
https://github.com/rust-lang/rust/pull/65174

[2019-10-06 22:02] davidtwco commented on #65025
Assigning to myself to see if re-working #65133 as per [this comment](https://github.com/rust-lang/rust/pull/65133#issuecomment-538792275) fixes the issue.

[2019-10-06 22:17] anirudhb commented on #65127
Looking at the assembly, it seems that the problem is the `is_ascii` check.

These two functions produce identical assembly:
[code]

So, it seems that the `is_ascii` check is unnecessary.

[2019-10-06 22:42] SimonSapin commented on #64913
So, does "unmerged" mean that one unit for the purpose of codegen only contains one unit for the purpose of incremental?

[2019-10-06 22:59] MOZGIII commented on #65132
I do pass arbitrary value, and I need the code to properly handle the incorrect with an error instead of an allocation. I think I made it clear that this was my premise from the beginning.

[2019-10-06 23:03] STPR commented on #65104
Let's say I want to rotate by -3 with your solution:
[code]
Doesn't compile:
[code]
I ended up with:
[code]
Which works... But I think this could be clearer and probably faster, like this:
[code]

[2019-10-06 23:05] anirudhb commented on #65127
Here are some benchmarks:

[code]

[code]

So it seems that removing the `is_ascii` check has a measurable performance difference.

[2019-10-06 23:15] MOZGIII commented on #65132
Look, I know that I can write the code that does an allocation, then does the check, and then errors out. From the point of the Rust virtual machine it would not be a zero-cost operation in the error case. I want a way to optimize for that error condition. If optimized does some magic - that's good, but not good enough because it's even less reliable than using an unstable API for example, and tak

[2019-10-06 23:39] the8472 commented on #65132
If you want to fail hard you can make it a debug assert, then it has no costs in release builds.

If you want to emit a warning you can just allocate and test because the fallback code path would have to do the same allocation anyway.

Failing hard in production builds from different rust versions would be contrary to rust's stability guarantees.

Neither would it be if the method were implemented

[2019-10-06 23:56] MOZGIII commented on #65132
All of that is only true if you assume there is a fallback call to allocate the `VecDeque` with, which is not necessarily true. The error condition could be handled differently, for example with choosing a smaller value instead of a bigger one, or by using an entirely different data structure. It's a challenging exercise to predict how a generic container could be used.

A few thoughts on the API:

[2019-10-07 00:12] #64630 closed

[2019-10-07 00:15] the8472 commented on #65132
Well, sure, but what was your current need that drove you to write the proposal for that method, not hypothetical needs that would rationalize the proposal after it has been made?

I don't see the big picture. Specific uses can already be covered by other means. Also why is this specific to VecDeque? Hash{Map,Set} have similar behavior for similar reasons.

I proposed `with_capacity_ceiling(limit:

[2019-10-07 00:48] MOZGIII commented on #65132
I'm created this basically to unlock the possibility of a more precise memory allocations in my app. I'm currently hard-coding the sizes, but I want to expose them as a configuration value. And I want the allocations to be precise if the user demands it.

This a good point, maybe we should think about this in a broader way. Currently the design doesn't try to optimize that error case in any of the

[2019-10-07 01:00] MOZGIII commented on #65132
For my use case, I probably need a `VecDeque` without any kind of resize support for my case, because I want to prevent any allocation after some kind of initialization stage completes. This has little to do with the issue, other than that I'd probably want to switch from the std VecDeque anyway - just to be sure the reallocation support doesn't cost me extra. :) Although, I'm fairly confident in

[2019-10-07 01:27] nnethercote commented on #65080
@matklad: this might affect your approach in #64782.

[2019-10-07 01:35] nagisa commented on #65149
Seems like it is related entirely to the "arbitrary" self types thing. `poll_next` requires `Pin<_>` as a `self`, and `self.upstream` is not `Pin`. We likely never encountered this before `Pin`, because with `&` and `&mut`, "receivers" were autoref'd.

MCVE:

[code]

[2019-10-07 01:38] nagisa commented on #65149
This also affects other stable "receivers" that are not subject to autoref, such as Rc or Arc.

cc https://github.com/rust-lang/rust/pull/56805 @mikeyhew

[2019-10-07 01:45] topecongiro commented on #65084
@Xanewok I have just released rustfmt 1.4.9. racer has been fixed as well (cc https://github.com/racer-rust/racer/pull/1076), but the fix is not published yet.

[2019-10-07 02:09] topecongiro commented on #65000
@Mark-Simulacrum I am ok with this change, but I cannot mark the checkbox.

[2019-10-07 02:57] nnethercote commented on #65080
I think you misread that code. It's a token stream with a single element; that element is a 2-tuple.

I have confirmed (via profiling and `println!` insertion) that this part is true. In the relevant part of execution, the second stream passed to `TokenStream::from_streams` always has a single element, while the first stream is one larger than the previous call.

[2019-10-07 03:50] Centril commented on #64926
Implemented in https://github.com/rust-lang/rust/pull/64906.

[2019-10-07 04:59] XiangQingW commented on #63904
@PramodBisht Are you still working on this? I'm happy to take it if not.

[2019-10-07 06:08] andjo403 commented on #64913
yes "unmerged" was an CGU that have not been merged during the merge phase will rename it to "not merged"

[2019-10-07 06:13] SimonSapin commented on #65127
`custom_ascii_uppercase_with_ascii_check_custom_is_ascii_convert_to_u8` is incorrect. The conversion should happen not for the ASCII check but for the `match`, and the pattern use byte literals like `b'A'`. (Though I expect this won’t affect results much.)

[2019-10-07 06:18] H2CO3 commented on #65131
On the bright side, waiting 5 hours for borrowck errors is still faster than trying to debug a memory corruption in a language without borrowck. 😜

[2019-10-07 06:48] nnethercote commented on #65080
I tried changing `TokenStream` from this:
[code]
to this
[code]
This drastically sped up the microbenchmark under discussion, because new elements can be trivially appended to an existing TokenStream, rather than having to duplicate before appending.

However, it was a big slowdown for benchmarks. Most of them slowed down 2-20%, but `script-servo` and `style-servo` were both almost 5x worse. This

[2019-10-07 07:10] PramodBisht commented on #63904
@XiangQingW Please allow me 2-3 days to check this issue.

[2019-10-07 07:16] kpp commented on #56158
There is no method `::search_bucket` anymore.

[2019-10-07 07:31] joshtriplett commented on #65131
Thanks to @cheblin for the report and helping us to work with it, and to @tanriol for the quick analysis and fix!

[2019-10-07 08:11] pnkfelix commented on #38686
Reopening based on reasoning given in my [earlier comment](https://github.com/rust-lang/rust/issues/38686#issuecomment-360820555)

[2019-10-07 08:19] pnkfelix commented on #61631
Ah okay. I was adopting a model based on @alexreg's comments on this issue, and I overlooked the [point you made](https://github.com/rust-lang/rust/issues/61631#issuecomment-506409368) about what `Self` is "by definition."

[2019-10-07 08:22] ia0 commented on #51826
I think I have a similar issue, but inside the if branch, not in the else or after.

[code]
[code]

The workaround is to uncomment the commented line and comment the one after.

[2019-10-07 08:54] est31 commented on #62879
FYI this also occurs with bool instead of an array:

[code]
See also #61935 (used to not ICE when I filed it, now it ICE's).

[2019-10-07 09:19] #62642 closed

[2019-10-07 09:43] popzxc commented on #64340
This bug is can also be reproduced with a small project: [link](https://github.com/popzxc/exonum-python-backend).

If I try to compile `examples/node` with 1.38.0, I get errors similar to the listed in the issue.
With 1.36.0 everything works fine.

[2019-10-07 11:15] Amanieu commented on #56158
The crash doesn't happen any more since the switch to hashbrown.

[2019-10-07 11:15] #56158 closed

[2019-10-07 12:45] pnkfelix commented on #63438
(i've been working on this and have a plausible prototype. I hope to have a PR up soon.)

[2019-10-07 13:08] Amanieu commented on #60896
You can abuse this to insert the same element multiple times in a set: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4d27e6b11b646030d1370351887ebc1

[2019-10-07 13:18] sfackler commented on #32976
Is CAS the only operation that we'd need to call out that way (e.g. are there any platforms we care about that have atomic load/store but not swap)?

It seems like we should be able to stabilize target_has_atomic itself though with @Amanieu's definition.

[2019-10-07 13:21] steveklabnik commented on #41993
Triage: I tried to reproduce the microbenchmark, but:

1. got "multiple candidates for rand"
2. the API of rand has changed and I don't know how to update it

Both of these are not insurmountable, but I don't have the time right now to do that work. For simplicity's sake, https://gist.github.com/kennytm/2b6264fdf67651db78cb37095b037fae is the benchmark referenced above.

[2019-10-07 13:21] jonas-schievink commented on #32976
thumbv6 has load, store, but no swap or cas

[2019-10-07 13:28] nikomatsakis commented on #63599
So I created a [google spreadsheet](https://docs.google.com/spreadsheets/d/1WlroTEXE6qxxGvEOhICkUpqguYZP9YOZEvnmEtSNtM0/edit?usp=sharing) with the existing tests and patterns. @weiznich did an amazing job filling in a lot of details. I still found *some* categories we don't seem to cover, though I'm not sure how important they are. We also have some duplicate coverage, due in part to the poor nami

[2019-10-07 13:43] mati865 commented on #41993
Assembly of literal char version still looks worse: https://godbolt.org/z/oZb-_I

[2019-10-07 13:54] nagisa opened #65180 "Async-related type error messages defy expectations (in span location)"
Consider for example this code (using `hyper-0.13.0`):

[code]

This code will fail to compile due to types which cannot be fully inferred, with an error like this:

[code]

However neither of these spans are anywhere near to the real problem which is the fact that `Err` variant is not inferred for `Ok(hyper::service::service_fn(...))`.

[2019-10-07 14:06] khionu commented on #62290
@rustbot modify labels to +AsyncAwait-OnDeck

Closures are a very commonly used language feature, especially in APIs like `itertools`. Enabling such APIs to be async has obvious benefits.

[2019-10-07 14:24] Centril commented on #62290
As @Nemo157 points out this is largely unimplemented and is entirely secondary to fixing *all* the outstanding bugs with the stable part of async/await that we are shipping in 1.39.0.

(Personally I think async closures should be considered holistically with other types of effect-modified closures. Moreover I think they might be largely redundant atop of the combination of closures with async bloc

[2019-10-07 15:16] ehuss commented on #65088
I didn't run it against rustc, that was Alex.  You have to edit `config.toml` and set `build.cargo` to a nightly version of cargo (like from the `.rustup` directory, or build it yourself).  Then edit the [`cargo` function](https://github.com/ehuss/rust/blob/c6ad892bd0e2616e5d4131afd51dd71ce13a86ed/src/bootstrap/builder.rs#L779) to add `-Ztimings`.  It looks like someone has made a PR to make that

[2019-10-07 16:38] AmatanHead opened #65183 "`fetch_add` in atomic integers won't check for overflow"
Since the default Rust semantics is to check for overflows in debug, maybe `fetch_add` and `fetch_sub` should check for overflows (in debug), and we should provide `fetch_wrapping_add` and `fetch_wrapping_sub`? Or, if we don't want to introduce breaking changes, we should at least clearly state in documentation that we don't check for overflows (and for signed integers, we might still check for ov

[2019-10-07 16:39] jonas-schievink commented on #65183
Signed overflow in not UB in Rust

[2019-10-07 16:49] peterjoel opened #65184 "ICE: thread 'rustc' panicked at 'Box<Any>'"
This occurred when running `cargo clippy` on a workspace with around 40 child crates. I have not included the full log, for corporate security reasons, but I can probably provide more specific information on request.

[code]

[2019-10-07 16:54] jonas-schievink commented on #65184
Thanks for the report! Please provide a backtrace by running with `RUST_BACKTRACE=1`.

Does this also happen when running `cargo check` or `cargo build`?

[2019-10-07 16:59] Mark-Simulacrum commented on #65183
I think most of the time when working with atomics you usually either don't care or already are aware that you need to handle overflow -- somewhat more so then when normally adding two integers, I think.

We already state "This operation wraps around on overflow." in the docs I believe so that should satisfy the documentation concern.

[2019-10-07 16:59] #65183 closed

[2019-10-07 17:00] peterjoel commented on #65184
With backtrace, it doesn't give much more info:

[code]

[2019-10-07 17:04] mati865 commented on #65184
That's odd, can you try on Linux?

[2019-10-07 17:05] peterjoel commented on #65184
`cargo build` and `cargo test` work without errors.

[2019-10-07 17:18] peterjoel commented on #65184
In Linux:

[code]

[2019-10-07 17:28] mati865 commented on #65184
It's unknown Clippy bug, @jonas-schievink can you move this issue to Clippy repo?

[2019-10-07 17:33] peterjoel commented on #65184
FYI I also checked with 1.37.0 toolchain and the issue does not occur.

[2019-10-07 17:36] lzutao commented on #65184
Could you try latest nightly that has clippy?

[2019-10-07 17:42] peterjoel commented on #65184
Latest nightly does not support clippy.

[2019-10-07 17:44] jonas-schievink commented on #65184
Unfortunately I can't move the issue since I don't have push access to https://github.com/rust-lang/rust-clippy, but yeah, a bug in Clippy, so it should be filed there.

[2019-10-07 17:44] #65184 closed

[2019-10-07 17:47] peterjoel commented on #65184
Same error with `nightly-2019-10-04`.

[2019-10-07 18:40] ehuss commented on #58520
Sorry if this was brought up earlier, I tried to read the RFC/issues, and didn't see it brought up.

What is the intent of how to handle older code that overrides `cause` but not `source`?  For example, [`IntoStringError`](https://github.com/rust-lang/rust/blame/59a31c8c676bdc9f50490d5798b1b4e884b7d7ae/src/libstd/ffi/c_str.rs#L922-L924) only implements `cause`.  If you iterate over sources (`iter_

[2019-10-07 19:05] varkor commented on #62254
When this is stable, we should suggest using `tail @ ..` rather than `..tail`, e.g. in:
[code]

[2019-10-07 19:13] faern commented on #58520
IMO all new errors should only implement `source`. All old code that want to stay relevant and usable should be updated to implement `source` as well. I do not think we should focus the development of new features in libstd to cover *deprecated* items.

[2019-10-07 19:21] the8472 commented on #65132
That sounds like you need a fixed ring buffer, not a resizable deque. There are some on crates.io, even no-std ones.

[2019-10-07 19:29] derekdreery commented on #58520
If we were to do this, could we make an effort to submit PRs to popular crates using `cause`.

More generally (and slightly OT), is there a mechanism for the community to help crate maintainers with stuff like this?

[2019-10-07 19:32] stefson commented on #62896
fun fact: cross compile seems to be fine!

[2019-10-07 19:38] chandrikamutalik commented on #63078
Hello! I'd like to work on this if it's not being worked on already. @fakenine , @ayazhafiz can you guys please tell me if either of you are working on this! :)

[2019-10-07 19:39] cuviper commented on #65047
@hbina Yes, if you apply the same `thread_name` change, it will fix this issue. I'm also hoping that the wait on new `rustc-rayon` will be resolved soon, so we can just land my PR in full.

Either way, I don't think this issue deserves `P-high` -- the actual ICE behavior of these tests is correctly handled, but for the cosmetic thread name.

[2019-10-07 20:03] cynecx commented on #54878
https://reviews.llvm.org/D68484

[2019-10-07 20:09] ayazhafiz commented on #63078
I'm not :)

[2019-10-07 20:33] MOZGIII commented on #65132
You're right. And we're using proper ring buffers too, as a competing implementation. Our problem is that we must provide support for `std`'s `VecDeque` too.

[2019-10-07 20:47] la10736 opened #65189 "deprecated proc_macro trigger warning on build library"
Use `deprecated` attribute on a procedural macro function doesn't work like expected: it triggers a warning message also when library is building and not just in call place.

I know that the `deprecate` attribute support is not landed in stable but this warning is present in all channels (stable, beta and nightly).

[code]
Compiling lib simple by `cargo +beta build` raise follow warning:

[code]

[2019-10-07 20:52] varkor commented on #62187
Although we know a lot isn't working with const generics, I'd really like to expand the test suite, so it's more comprehensive as we move towards stabilisation. Let's try to add regression tests where possible. I'll add one for this issue and https://github.com/rust-lang/rust/issues/62536.

[2019-10-07 21:00] varkor commented on #62536
Although this isn't throwing an error on the playground, I get an assertion failure when adding a test:
[code]
Let's leave this open until we have a test for it.

[2019-10-07 21:01] HadrienG2 commented on #32976
Does thumbv6 have any kind of read-modify-write instruction? Maybe presence or absence of atomic RMW instructions could be the right discrimination criterion...

[2019-10-07 21:02] nnethercote commented on #65088
@alexcrichton: can you give the exact steps here? I tried to do this but failed. Thanks!

[2019-10-07 21:05] petrochenkov commented on #65189
The most likely reason is that `deprecable_fn` and friends are used from the proc macro harness automatically generated for proc macro crates.

So either
- the harness should generate `#[allow(deprecated)]` (there are precedents for this, e.g. test harness generates `#[allow(dead_code)]`), or
- `deprecated` should not be reported from "externally generated code", which usually includes macros from

[2019-10-07 21:08] petrochenkov commented on #65189
Adding `#[allow(deprecated)]` should be a very simple fix - the `static` item referring to the proc macro definition functions is generated in `fn mk_decls` in `libsyntax_ext/proc_macro_harness.rs`.

[2019-10-07 21:13] varkor commented on #52262
A test for this was added in https://github.com/rust-lang/rust/pull/65011.

[2019-10-07 21:13] #52262 closed

[2019-10-07 21:26] ehuss commented on #65088
What kind of error did you run into?  Here's what my rust `config.toml` looks like (adjust for your setup):

[code]

And here's what the diff might look like:

[code]

I have nightly 2019-10-02, which seems to work.  Sometimes bootstrapping won't work on the latest cargo because the bootstrap code needs updating, but it seems to be working at this point in time.

[2019-10-07 21:34] jonas-schievink commented on #32976
No, thumbv6 has nothing of the sort. Perhaps a better name would be `#[cfg(target_has_atomic = "rmw")]`, but that still doesn't really capture the swap operation.

[2019-10-07 22:11] mati865 commented on #62896
@stefson do you mean cross compiling from armv7 to different arch?
This bug affects only the host compiler.

[2019-10-07 22:27] alexcrichton commented on #65088
@nnethercote oh I didn't actually add support to `./x.py` when I generated my graphs, I literally just did:

[code]

and then fixed any missing env vars that the crates reported. I would expect that @ehuss's patch would work as expected, although it may also require a temporary check for `if stage != 0` somewhere

[2019-10-07 22:42] alexcrichton commented on #65080
@nnethercote I'm not entirely sure where this bottoms out so this may be a distracting comment, but would `Rc::make_mut` and such make those two representations "effectively equivalent" for the purposes of the benchmark here? That should still give us cheap clones and pushing a bunch of stuff onto one clone should still be quite cheap since it doesn't have to reallocate.

[2019-10-07 22:54] varkor commented on #40531
I think we may have to introduce some changes in `src/tools/build-manifest/src/main.rs` to make rustc try to use the alias. I.e. `x86_64-pc-solaris` should try to use the target `x86_64-sun-solaris`. I haven't had time to look into what else needs to be changed.

[2019-10-07 23:08] kellytk commented on #64659
@Xanewok What assistance from others, if any, could help you resolve this issue?

[2019-10-07 23:31] estebank commented on #62054
Could you provide a reproduction example or reproduce the error in your codebase in a more current compiler? There have been some changes in this area which lead me to believe that the spans for this error would now only point to the return expression instead of the entire fn body.

[2019-10-08 01:11] nnethercote commented on #65080
@alexcrichton: Indeed, I had the same thought late last night! I have used `make_mut` successfully in `TokenStream::from_streams` to fix half of the quadratic behaviour. I am now working at using it in `TokenStreamBuilder::push`.

[2019-10-08 01:37] sinkuu commented on #64659
Minimal reproducer (based on petgraph ICE):

[code]

[2019-10-08 01:57] XiangQingW commented on #65189
@rustbot claim

[2019-10-08 02:29] estebank commented on #60980
The following is where the obligation could be changed from `MiscObligation` to something more specific:

https://github.com/rust-lang/rust/blob/c20654ebc318004a98303d2d5d84eee8bf44080c/src/librustc/infer/mod.rs#L1528-L1550

And here is where we could peek at that new obligation and extend it with further information.

https://github.com/rust-lang/rust/blob/c20654ebc318004a98303d2d5d84eee8bf44080c

[2019-10-08 04:53] tmandry commented on #65147
I don't have a lot more information to put here, except that the compile time seems to increase with the size of a particular call graph of async fns (it's not binary slow/fast, but different gradations of slow). This continues to make it hard to minimize.

I did some profiling, and noticed a lot of time being spent collecting items in `SmallVec::iter`. Unfortunately I couldn't see what was callin

[2019-10-08 05:17] crlf0710 commented on #58713
A [very first PR](https://github.com/rust-lang/rust/pull/63948) has landed, now the `link_ordinal` attribute is added. Want to say thank you to @Centril for helping me on this~

[2019-10-08 06:24] HadrienG2 commented on #32976
Why ? Swap reads the old value and inserts a new one in a single atomic transaction, so it is RMW in my book.

[2019-10-08 06:37] bluss commented on #65163
PR is #65168

[2019-10-08 06:42] nnethercote commented on #65080
#65198 fixes this so that the `TokenStream` code is roughly 10x slower than the string code, and the slowdown is consistent for different values of `N` (i.e. not more quadratic behaviour). There is room for additional improvement, but this is a good start.

It would make sense to add a benchmark to `rustc-perf` for this kind of code. The given microbenchmark is a possibility, but I'd prefer to use

[2019-10-08 08:08] #61395 closed

[2019-10-08 08:10] Guang1234567 commented on #53589
@KrishnaSannasi
Thanks.

Just like in cpp `*current = Some(v) `.

BTW, Could mention it in offical tutorial? Thanks.

[2019-10-08 08:42] pnkfelix commented on #61188
Note: moving to a trait-based approach alone won't resolve *every* ICE. Not without regressing other stable code, least.

In particular:
 * We allow people to put function pointers in their constants (and in the types of their constants).
 * Function pointers like `fn(&T)` desugar to `for <'a> fn(&'a T)`.
 * `for <'a> fn(&'a T)` does not implement `PartialEq` (see https://github.com/rust-lang/rust

[2019-10-08 11:28] vries opened #65204 "DWARF for legacy enum incorrect"
With test-case gdb.rust/simple.exp (https://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git;a=blob;f=gdb/testsuite/gdb.rust/simple.rs;hb=HEAD) we run into gdb testsuite failure reported here ( https://sourceware.org/bugzilla/show_bug.cgi?id=25048 ).

This is on openSUSE Leap 15.1 using rustc version 1.36.0 (while using llvm 7), but also reproduced using 1.38.0 (while using llvm 7).

The problem i

[2019-10-08 12:42] djc opened #65207 "Change in macro output between 1.37.0 and 1.38.0"
The following code changed output between Rust 1.37.0 and 1.38.0:

[code]

[code]

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f67da3ab63067c8186ca702fe1c1910

[2019-10-08 12:49] Mark-Simulacrum commented on #65080
I'd personally prefer the microbenchmark as it's less likely to stop building in the future in some sense :)

But that PR looks excellent. Do we know if the remaining 10x cost is for some particular reason, or are strings just that much faster than the token code? (Lrc, etc.)

[2019-10-08 12:55] steveklabnik commented on #26449
Triage: it's been pretty much four years since a significant problem was posted in this thread, and as @parched said three years ago, by putting

    "features": "-mmx,-sse,+soft-float",

in your target json file, and this should be working. For example, @thepowersgang hasn't been using their patch since 2016, and does this instead: https://github.com/thepowersgang/rust-barebones-kernel/commit/78b

[2019-10-08 12:55] #26449 closed

[2019-10-08 13:48] exFalso opened #65210 "custom_test_frameworks doesn't work with plain functions"
The following code:
[code]
results in
[code]
The workaround mentioned in https://stackoverflow.com/questions/27895946/expected-fn-item-found-a-different-fn-item-when-working-with-function-pointer doesn't work, as these functions are passed in by the compiler, so we cannot do the coercion.

Other variants that don't work:
[code]
[code]
[code]

[2019-10-08 13:52] exFalso commented on #65210
If anyone hits this, my current workaround is to use static lambdas, i.e:
[code]

[2019-10-08 15:23] Manishearth opened #65211 "Provide a way to disable rustdoc keyboard shortcuts"
Some people have custom OS or browser-level shortcuts, providing a way to disable these makes it easier for them

[2019-10-08 15:27] Manishearth opened #65212 "Potentially swap arrow keys and tab in rustdoc keyboard shortcuts"
Currently rustdoc's keyboard shortcuts use <kbd><kbd>Tab</kbd></kbd> to cycle between the tabs at the top of search results, and the arrow keys for moving through search results.

It's much more common for <kbd><kbd>Tab</kbd></kbd> and <kbd><kbd>Shift</kbd> + <kbd>Tab</kbd></kbd> to be used for navigating a list, and you can autosupport this by adding `tabindex`es, I think those autoskip `display:

[2019-10-08 15:28] david-mcgillicuddy-moixa commented on #61324
I notice that the issue #58178 was closed due to large improvements so I checked again and unfortunately there's no change of behaviour here on both 1.38.0 and 7th Oct 1.40.0-nightly. You still get timeouts (i.e. compilation time blow up) when nesting too much.

[2019-10-08 16:14] Amanieu commented on #32976
cc #65214

[2019-10-08 16:24] KrishnaSannasi commented on #53589
[code]

Note that the `unwrap` if fine because we are guaranteed to initialize `value` before it, and the panic will get optimized away [see goldbolt](https://godbolt.org/z/DpaMP9) for asm.

[2019-10-08 16:25] jonas-schievink commented on #32976
Yeah, fair point.

[2019-10-08 16:36] estebank commented on #62385
Another [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e2fa8c3b5288b86343c7d2b6633ec21e) from [reddit](https://www.reddit.com/r/rust/comments/deeoph/hey_rustaceans_got_an_easy_question_ask_here/f2y00le/?context=8&depth=9):

[code]

we currently emit

[code]

The solution is changing the call to `Dummy::from(foo as fn(u32) -> String);`.

[2019-10-08 17:04] nikomatsakis commented on #65159
I'll investigate tomorrow.

[2019-10-08 17:09] estebank commented on #54973
[Changing the trait ](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=152af1b799f905c6dfcc3472e372b893) to have its `const CHANNEL` constrained with `Sized` (`const CHANNEL: Sized;`) makes that code compile.

[2019-10-08 17:11] Centril commented on #64692
cc @petrochenkov re. @cramertj's idea and the feasibility of doing this specially for `async fn`.

[2019-10-08 17:13] estebank commented on #54973
This seems to compile correctly now?

[2019-10-08 17:22] estebank commented on #54972
Compiles since 1.35.

[2019-10-08 17:22] #54972 closed

[2019-10-08 17:23] estebank commented on #54973
Accepted since 1.35.

[2019-10-08 17:23] #54973 closed

[2019-10-08 17:24] nikomatsakis commented on #64960
I'm assigning to myself *only* to dig into the output and add a few more facts about what's going on and what possible routes we might use to fix this -- not to actually fix it.

[2019-10-08 17:28] nikomatsakis commented on #64692
We discussed briefly in the meeting and we were saying that maybe this future-compat warning should just go away entirely, in light of https://github.com/rust-lang/rfcs/pull/2145

[2019-10-08 17:29] Centril commented on #62570
I think something like:

[code]

would make sense, which is basically @estebank's idea.

[2019-10-08 17:29] petrochenkov commented on #64692
So, the [plan](https://github.com/rust-lang/rust/issues/48054) is *not* to make this a hard error, but rather removing it and replacing with a different similarly (but more intuitively) behaving lint.

In the meantime, private-in-public being a warning for async functions is ok, async functions returning private types will be unusable outside of those types' modules anyway.

[2019-10-08 17:31] #65096 closed

[2019-10-08 17:31] nikomatsakis commented on #65180
@rustbot assign @csmoe

@csmoe will do some investigation here and see if they can get an idea what's going on (and maybe fix)

[2019-10-08 17:34] estebank commented on #55361
This now compiles.

[2019-10-08 17:34] #55361 closed

[2019-10-08 17:34] estebank commented on #44591
Current output:

[code]

[2019-10-08 17:40] hbina commented on #63340
Here's my bench result
[code]
While the average performance is about the same, the variance is a larger.

[2019-10-08 18:53] DutchGhost opened #65216 "Confusing MaybeUninit documentation"
The `as_ptr()`[https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#method.as_ptr] method on a `MaybeUninit<T>` perhaps could use some better wording, or at least an example.

The docs say: "Writing to memory that this pointer (non-transitively) points to is undefined behavior (except inside an UnsafeCell<T>)."

Its unclear whether than means `&MaybeUninit<UnsafeCell<T>> -> *const UnsafeCell<T

[2019-10-08 19:14] hbina commented on #63340
@rustbot claim

[2019-10-08 19:46] bluss commented on #60608
@cuviper Nice work on that experiment!
@eddyb I'm delighted you didn't know IndexMap is just a simple bespoke hashmap with zero unsafe code (everything on top of `Vec`). :blush:  Of course, if there is are big enough wins, it can use unsafe.

[2019-10-08 19:54] Boscop commented on #65079
Ah, right -.-

[2019-10-08 20:05] bkchr commented on #44591
@estebank is that the output of chalk?

[2019-10-08 20:06] estebank commented on #44591
That's the current `rustc` output, I don't think it is using chalk.

[2019-10-08 20:18] JarrettBillingsley commented on #22639
Maybe `NegOverflow`?

[2019-10-08 20:44] Aaron1011 commented on #64557
Fixed in https://github.com/rust-lang/rust/pull/65150

[2019-10-08 20:44] #64557 closed

[2019-10-08 21:12] #61411 closed

[2019-10-08 21:12] #61412 closed

[2019-10-08 21:12] #65119 closed

[2019-10-08 21:28] ehuss commented on #65207
This was changed by #63897.  cc @petrochenkov

[2019-10-08 21:29] stefson commented on #61468
any ideas on how to debug this further?

[2019-10-08 21:40] nnethercote opened #65224 "Occasional spurious codegen test failures"
Occasionally when running tests, I get these failures:
[code]
My current workaround is to delete my `build` directory, recompile, and re-run the tests. @mati865 suggested that deleting `build/x86_64-unknown-linuxgnu/test` might be sufficient.

[2019-10-08 21:58] passcod opened #65225 "Tracking issue for `#![feature(entry_insert)]`"
This is a tracking issue for the `Entry::insert_entry` method on HashMap and BTreeMap introduced in https://github.com/rust-lang/rust/pull/60142#issuecomment-487416553.

- [x] Implementation for HashMap: #64656
	- [x] ~~Stabilised in 1.59: #90345~~ Re-stabilised in 1.83: #130290
	  - ~~De-stabilized in #94105~~
[code]
- [x] Implementation for BTreeMap: #133042
    - [ ] Stabilization

[2019-10-08 22:15] petrochenkov commented on #65207
https://github.com/rust-lang/rust/pull/63897#issuecomment-528391696 -> https://github.com/rust-lang/rust/issues/63896#issuecomment-530563612

That's especially true for whitespace in pretty-printing.

[2019-10-08 22:34] Amanieu commented on #60896
We have two options here:
- Add an `assert` which checks that the new key is equal to the key used for the lookup.
- Allow sets to contain duplicate keys but consider it a logic error (the underlying hashmap handles duplicate keys just fine).

[2019-10-08 23:05] nnethercote commented on #65080
The 10x is because there's a lot of faffing around: a couple of `once` iterators, a `chain` iterator, a conversion from a `TokenTree` to a `TokenStream`, creating a `TokenStreamBuilder`, pushing onto it, `Lrc`, etc.

[2019-10-09 01:19] Centril commented on #65216
cc @RalfJung

[2019-10-09 01:40] #65035 closed

[2019-10-09 01:41] #64811 closed

[2019-10-09 01:41] #65025 closed

[2019-10-09 02:05] nnethercote commented on #55528
Good news: since January 18, when this benchmark was added to the rustc-perf suite, compilation has gotten [more than 2x faster](https://perf.rust-lang.org/compare.html?start=2019-01-20&end=2019-10-07&stat=instructions%3Au).

#64673 and #65089 are two recent changes that account for a big chunk of the improvements.

[2019-10-09 03:32] rhysd opened #65230 "Compiler should not omit associated type in compile error message"
## Environment

- Rust: Nightly 2019-10-07

## Repro

1. Open https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=933123bb14852662962ab5bf5f2073c8
2. Click run

[code]

## Expected behavior

Compiler should raise an error with error message which explains why lifetime parameters are conflicting clearly

## Actual behavior

It shows following error:

[code]

Confusing part is a

[2019-10-09 05:12] msizanoen1 commented on #62896
@alexcrichton Can you push the docker image used to build Linux dist-armv7-linux on Docker Hub so I can try to reproduce this?

[2019-10-09 06:21] parched commented on #32976
I think a CAS cfg is correct because all the other RMW operations can be implemented with it, but having one RMW operation like swap doesn't allow you to implement the rest. So, for targets that just have a swap,fetch_add etc., but not CAS we might need more cfgs, but I don't think it would add enough value to be worth it.

[2019-10-09 06:46] HadrienG2 commented on #32976
Good point. I think we can agree on the following conclusion:

- CAS is special because, like LL/SC, it has infinite consensus number. This makes it the most general kind of atomic instruction, able to emulate any other instruction _in a lock-free manner_.
- _If there is hardware which supports e.g. test-and-set but not CAS_, we may want support it as well with a finer-grained cfg (e.g. `target_ha

[2019-10-09 06:58] mati865 commented on #62896
@msizanoen1 you can build it on your machine as described in https://github.com/rust-lang/rust/blob/master/src/ci/docker/README.md
To get identical results to the one from CI you need to define environment variable `DEPLOY=1`.

[2019-10-09 07:10] #64382 closed

[2019-10-09 07:15] bluss commented on #60896
The current implementation has a benign behaviour in this scenario, and that's a problem, because users can rely on it, and then we are locked in to the implementation specific behaviour (and can no longer change the hashmap impl).

The following should also be an option on the table:

* Remove `get_or_insert_with` because it makes it easy to do the wrong thing to the hashmap, and/or accidentally

[2019-10-09 07:35] djc commented on #65207
Alright, thanks.

[2019-10-09 07:35] #65207 closed

[2019-10-09 07:57] RalfJung commented on #32976
However, "normal" sequentially consistent loads and stores are also sufficient to implement a Mutex using [Dekker's algorithm](https://en.wikipedia.org/wiki/Dekker%27s_algorithm) (for 2 CPUs) or [Peterson's algorithm](https://en.wikipedia.org/wiki/Peterson%27s_algorithm) (for any number of CPUs). Now I wonder, how does that fit in?

[2019-10-09 08:22] bkchr commented on #44591
Ahh yeah, I thought you maybe tried @tmandry comment.

[2019-10-09 08:36] RalfJung commented on #63713
Sure. And `StableMap` is a reasonable name. But the documentation (and the title of this issue here) should be adjusted to explain that this is about small changes to the input resulting in a differently sorted output, and general unpredictable output sorting, but has nothing to do with determinism.

[2019-10-09 08:42] RalfJung commented on #65000
Agreed, generally the toolstate system works fairly well for Miri as well. Like clippy, we pin a rustc commit. This actually means even when rustc master is broken, some development can still happen on Miri as we can keep using the old pinned rustc, until someone bumps it. We also have a nightly Travis cron job so independent of the toolstate system we know if Miri works with the latest nightly ru

[2019-10-09 08:46] Baranowski commented on #30924
This sounds quite similar to a functionality I really wished I had when I was recently working on my first rustc patch. Namely, I would love a tool or tools that:

1. For a given position in a file print out the type of the expression at that position.
2. For a given position in a file print out the span of the definition of the variable/method/function at that position.

(1.) is inspired by `hdev

[2019-10-09 09:00] Amanieu commented on #32976
Some old ARM chips (~ARMv5) only have an atomic SWP instruction and nothing else. However neither GCC nor LLVM actually use this instruction for atomics so atomics are unsupported on this architectures.

IMO we should follow the same general policy: only support atomic operations if *all* of them are supported (which essentially boils down to whether CAS is supported since you can use it to emulat

[2019-10-09 09:02] Amanieu commented on #60896
Note that `HashMap` is required to safely handle duplicate keys since it needs to at least not trigger UB if the key has a broken `Eq` or `Hash` implementation (which only uses safe code).

[2019-10-09 09:03] ririsoft commented on #48980
I encountered something strange on Windows 10. In an unittest with the following code

[code]
I get some `overflow when subtracting duration from instant` error, in an unreproducible way : sometimes it works for days, and sometimes it keeps failing until I change the duration down to 1800 seconds. Putting it back to 3600 makes the test fails again, the only way to avoid the overflow is to change t

[2019-10-09 09:27] jonas-schievink commented on #32976
Having access to limited atomic operations might still be useful for some niche applications (eg. on ARM7TDMI, which is still somewhat widespread), so I think it would be unfortunate if these use cases are prevented by a matter of policy.

[2019-10-09 09:35] HadrienG2 commented on #32976
Given that...

1. the number of cores of the target CPU is rarely known at compile time,
2. if a hardware architecture cares so little about concurrency that it does not even expose a test-and-set, it is unlikely to provide the required memory barriers for SeqCst ordering,

I don't think that these algorithms are applicable outside of very constrained embedded scenarios where the target hardware i

[2019-10-09 09:43] Marwes opened #65231 "DebugMap::finish panics if a value returns fmt::Error"
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4376349fa408130a65c262873bf24055

[code]

I think the assert should just be removed so that the error gets propagated up?

[2019-10-09 09:46] bluss commented on #60896
I agree. There are several places misuse of `get_or_insert_with` can end up. Inserting a key that's not equivalent to the lookup key has no negative effects right now, but it could have with a different hashmap. (it could result in a key that's impossible to look up). That's an example of implementation specific behaviour that's best to not expose IMO.

[2019-10-09 09:48] jonas-schievink commented on #32976
Even thumbv6 has fully working loads and stores, despite it not having anything more sophisticated than that (no swap, CAS, or anything else). These are still sufficient for implementing things like SPSC queues.

Thumbv6 is also used in multicore processors, often alongside a more powerful Cortex-M3/M4 core (which is thumbv7 and does have CAS, etc.). This means that implementing a Mutex using one

[2019-10-09 10:25] mati865 commented on #48980
@ririsoft `Instant::now()` provides time since something (at least on Windows it seems to be time since boot), you can verify it by using `dbg!` macro.
Then you are subtracting 1 hour from that. On Windows Instant cannot be in the past (in other words have negative value) but on Linux it's allowed.

This is platform specific limitation and there is not much that can be done about it.

[2019-10-09 10:45] Centril commented on #65231
cc @KodrAus

[2019-10-09 11:22] RalfJung commented on #65216
Yeah this can probably be improved. Note that quite a few `as_ptr` methods have a remark like this, e.g. also see [`slice::as_ptr`](https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.as_ptr).

I am not sure what the best place for this is though; there are lots of examples one could wonder about and we probably don't want to list all of them in each `as_ptr` method. It would probabl

[2019-10-09 11:48] ghedo commented on #65085
@topecongiro looks like rustfmt has been fixed, is there anything else blocking an update of rustfmt here? I can create the PR if you are busy :)

[2019-10-09 11:50] KodrAus commented on #65231
Ah we could probably shift those assertions so they're only checked so long as there isn't an error captured (by moving them within the `and_then` call inside `DebugMap`). They don't make any sense if you're already short-circuiting formatting.

[2019-10-09 12:19] Centril opened #65233 "Internal lint: Ban `pub` re-exports"
Suggested lint name: `rustc::pub_reexport`.

When given something like the following, reject it (as a lint):

[code]

cc https://github.com/rust-lang/rust/issues/49509

--------------------------

Me and @Mark-Simulacrum were discussing library-ification and I mentioned to them how re-exports like this (specifically of `syntax_pos::hygiene` in the case of a refactoring I'm working on) was detrimen

[2019-10-09 12:29] ririsoft commented on #48980
This is it, thanks a bunch. For my use case `SystemTime` better suite then.

[2019-10-09 12:40] eddyb commented on #65233
That specific example made me wonder if `syntax_pos` should be merged with `rustc_lexer` or be its own `rustc_source_map` or something along those lines. `syntax_pos` doesn't feel like it fits anywhere.

And `Symbol` specifically belongs in `rustc_lexer`, even if `Span` may not.

cc @petrochenkov @matklad

[2019-10-09 12:48] steveklabnik commented on #39078
Triage: when trying to make a benchmark test out of this, it seemed like the test runner hung... when creating a simple `main` function that did the calculation, I'm still seeing similar results to @leonardo-m

[2019-10-09 12:52] petrochenkov commented on #65233
I actually wanted to do the opposite thing and reexport the whole `syntax_pos` from `syntax` for convenience.
There are almost no crates that depend on the former but don't need to depend the latter (`rustc_errors`?).

That includes the symbol interner.
(Unless `rustc_lexer` provides only the `Symbol` type but not a way to create it.)
Do other users of `rustc_lexer` need this global state?

[2019-10-09 12:58] petrochenkov commented on #65233
I agree that it would be nice to cleanup random public reexports that are traces of various refactorings rather than conscious choices.
E.g. I recently removed some of those in `rustc_metadata` in https://github.com/rust-lang/rust/pull/65170/commits/d17296dbc77239751a033668bf942a9fab26d4ef.

[2019-10-09 12:58] eddyb commented on #65080
Oh I thought the implementation must be using `Lrc<[TreeAndJoint]>`, I'm really glad to be wrong and that this is getting fixed :tada:

There's probably no benefit in representing a `proc_macro::TokenStream` as a builder server-side but we could probably add a way to extend a `proc_macro::TokenStream` with a `proc_macro::TokenTree`.

[2019-10-09 12:58] nikomatsakis commented on #64960
I did a little investigation. To start, I created a standalone test that doesn't rely on unstable details from the standard library ([gist](https://gist.github.com/nikomatsakis/b74e9675a3e663bab98a4a3b1f339278)). This allows me to experiment a bit -- for example, I removed the `_oibit_remover` field from `Void`, which makes the `format` temporaries be considered `Send`, which then allowed me to ob

[2019-10-09 12:59] nikomatsakis commented on #65159
Pending fix in #65235

[2019-10-09 13:01] matklad commented on #65233
Hm, I don't see this :) I see this as a very happy accident that `rustc_lexer` can exist as a separate crate as a pure algorithm without exposing any data structures at all.

Sharing data types would be a step back. Sharing *state* (the interner) would be even more problematic.

[2019-10-09 13:03] eddyb commented on #65233
Oh, my bad, I forgot that `rustc_lexer` can function without `Span` or `Symbol`.

[2019-10-09 13:19] wdanilo commented on #59159
Hi!
I've hit this warning recently and I've got big concerns about some usage patterns. Basically, let's consider the following code:

[code]

It has a terrible amount (at least in my taste) of repetitions that I would like to refactor. The only possibility to refactor it without affecting performance that I see now is the following:

[code]

Which will be now rejected by the compiler ... unless t

[2019-10-09 13:35] Duddino commented on #64261
Is this really a bug? When you try to access collection[j] the compiler returns a &mut String because that's the type of the Vector. When you try to access collection[least_element] the borrow checker doesn't know if least_element != j, and having 2 &mut references of the same element would be UB. You can either use [std::ops::Index](https://doc.rust-lang.org/std/ops/trait.Index.html) which return

[2019-10-09 13:55] red75prime commented on #64490
@RalfJung I'm addressing the points you've made in https://github.com/rust-lang/rfcs
/pull/2582#issuecomment-539906767

While it would be helpful to have at least a warning for a promotion in `&mut <rvalue>` case, disabling it is a backward incompatible change to the language.  In `&raw mut <rvalue>` case it can be done from the beginning.

I would expect `&raw mut <rvalue>` to result in compilati

[2019-10-09 14:22] nikomatsakis commented on #57017
I tried an experiment today: in the trait select code, I inserted a call to the `mir_built` query at the point where we expand, for an auto-trait, generator types to get at their contents. Basically right before the `let witness = ...` line here:

https://github.com/rust-lang/rust/blob/e59dab52d48f628ae169033da80b169e5b6f39d6/src/librustc/traits/select.rs#L2763-L2770

This "mostly works" but did c

[2019-10-09 14:23] bytefall opened #65236 "Occasional "cannot move out" error (E0505) when adding a match guard"
Given the following snippet:
[code]
This compiles just fine. Now uncomment the _if true_ match guard and compile fails:
[code]
Why does the insignificant match guard affect the borrowck?

Tested both on stable 1.38.0 and 1.40.0-nightly (032a53a06 2019-10-03).

[2019-10-09 14:34] GuillaumeGomez commented on #65211
I can add a setting for it if you want. But do we want to disable all keyboard shortcuts or only a few of them? For example, I doubt that 'S' is conflicting in any layout (but I might be wrong!).

[2019-10-09 14:34] varkor opened #65238 "Don't cc rust-lang/compiler for toolstate changes"
While it's important to keep on top of regressions to the toolstate, most of the time these issues are fixed quickly, by the author of the PR that caused the regression, or someone else. With GitHub notifications being difficult enough to keep up with as it is, being mentioned on every toolstate change issue is mostly noise. The issues are already tagged T-compiler and nominated, so I think additi

[2019-10-09 14:54] llogiq opened #65239 "Adding imports (or even crates) to suggestions"
Sometimes we (as in Rust errors or clippy lints) may suggest things that require adding a `use` somewhere, or even adding a crate to the dependencies.

I'd like to see support for this from the compiler, e.g. extend `Suggestion` with a structured way of adding or removing an import or crate dependency.

[2019-10-09 14:56] Manishearth commented on #65212
tabindex won't work if we override tab, that's the problem

this is a well-established pattern

[2019-10-09 15:03] michaelwoerister commented on #65238
I think that's a good idea!

[2019-10-09 15:09] RalfJung commented on #63818
@eddyb this is actually not what we concluded in our conversation: Crates like owning-ref are also affected and they do not even use pinning. So this is likely more like `UnsafeCell` than like `Box`.

[2019-10-09 15:36] msizanoen1 commented on #62896
Can somebody check if updating the GCC version in the CI docker images fixes the issue?

[2019-10-09 15:40] nox commented on #59159
@wdanilo

[code]

[2019-10-09 15:50] nikomatsakis commented on #62742
OK, I put some work into investigation here. I at least see what is going wrong, and actually the fix I *suspect* is a refactoring that I've been considering for some time, but which I think has been blocked on getting rid of the leak-check (so cc https://github.com/rust-lang/rust/pull/65232).

The problem is that, the way our type checker works, when we have a subtyping relationship `$1 <: $2` be

[2019-10-09 16:14] csmoe commented on #63340
@hbina cargo bench'd on my machine, `.for_each()` faster than `.collect()` still hold:
[code]

[2019-10-09 16:21] RalfJung commented on #65108
The problem is that we don't really know what LLVM's rules are for `getelementptr inbounds` with a 0 offset. Also see https://github.com/rust-lang/rust/issues/54857 of which this seems to be a duplicate, and the corresponding UCG issue https://github.com/rust-lang/unsafe-code-guidelines/issues/93.

Also see this thread (spread across 3 months) on the LLVM list:
https://lists.llvm.org/pipermail/llv

[2019-10-09 17:13] estebank commented on #65044
Fixing in #65242.

To fix your code write:

[code]

[2019-10-09 17:22] estebank commented on #58497
Current output:

[code]

[2019-10-09 17:28] mati865 commented on #63340
It could be due to different performance characteristics between different microarchitectures (especially AMD vs Intel). Although variance in hbina results is quite high.

[2019-10-09 17:32] cuviper commented on #60896
I expect most of the time folks would just want a lazy `to_owned`, so we could add that:

[code]

We would only be relying on the contract of equality between borrowed and owned values.

[2019-10-09 17:40] oli-obk commented on #64490
yes, promotion has nothing to do with it as far as I can tell.

I agree. We should error on any `&raw place` where `place`

1. has no `Deref` projections (`*`) or `Index` (`[i]`) projections
2. *and* has a temporary local as base

since we still want to permit `&raw *foo()` I would assume. Or more concretely `&raw foo().bar` when `foo()` returns a reference.

If "erroring if not" has too many nega

[2019-10-09 17:46] cuviper commented on #60896
There are some `T: Borrow<Q>` relationships that don't have `ToOwned` in reverse though, like if the key is `Box`, `Rc`, `Arc`, etc.

[2019-10-09 17:56] nikomatsakis commented on #65233
I would be ok with this change. Even leaving aside the library-ification question, I personally find the "facade" style sort of confusing -- I'm never quite sure which name I *should* be importing. I'd prefer if we had one canonical path that we used everywhere. I also like to use `rg` as a simple "find all uses", and having more than one path by which something can be named makes that harder.

[2019-10-09 18:15] nikomatsakis commented on #65238
I agree that the pings are rarely useful. Nominating is probably sufficient.

[2019-10-09 18:20] NonCreature0714 commented on #64261
Not sure if this helps, but I needed a mutable Vec of Mutable Strings, because I wanted to modify the collection’s elements, and modify the contents of the elements, so having a &mut Vec<&mut String> made the most sense to me.

I stumbled across this while playing with collections of encrypted strings received out-of-order, where I wanted to sort them and decrypt... hence need the need for &mut Ve

[2019-10-09 18:24] Duddino commented on #64261
You can use &mut Vec<String>

[2019-10-09 18:30] pbbob opened #65257 "Use 'mut' as alias for 'let mut'"
The idea of shortening `let mut` to `var` has been discussed many times before, and the general consensus always ends up being that it is not a good idea. I would like to propose something a bit different, so please hear me out.

I propose that instead of aliasing `var` to `let mut`, we instead just make `mut` expand into `let mut` when in the context of a variable declaration. For example:
[code]

[2019-10-09 18:46] bjorn3 opened #65245 "f32::NAN as i128 different between miri and LLVM"
[code]

[2019-10-09 18:48] weiznich commented on #63599
@nikomatsakis Should I've try to find some time to write a PR adding the missing test cases?

[2019-10-09 18:56] ollie27 commented on #65245
Duplicate of #10184

[2019-10-09 18:56] #65245 closed

[2019-10-09 19:00] rep-nop opened #65247 "Confusing error message when trying to implement From<GenericLocalType<T>> for Option<T>"
I have a local type:
[code]
and I want to `impl<T> From<BadOption<T>> for Option<T>` but the error message suggests that `T` isn't being used as the type parameter for a local type

Reproduction: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9abd2ab4860140be2859d4767fc027f8

Full error:
[code]

[2019-10-09 19:00] bjorn3 commented on #65245
It doesn't seem like the LLVM case is caused by UB, as the compiler-builtins intrinsic returns `0x7fffffffffffffffffffffffffffffffi128` too.

[2019-10-09 19:15] nikomatsakis commented on #44109
@yodaldevoid I think the recording (and minutes) are [available here](https://github.com/rust-lang/lang-team/blob/master/minutes/2019.09.26.md)

[2019-10-09 19:33] iankronquist commented on #65138
Thanks or the steps forwards, I'll try to get to them later this week.

[2019-10-09 19:52] yodaldevoid commented on #61516
It should be noted that while this no longer ICEs, this is because rustc no longer attempts to infer the type parameter causing it to fail to compile.

[2019-10-09 20:16] ollie27 commented on #65245
Well it definitely is UB. I don't think it's really defined anywhere what the compiler-builtins intrinsic should return in this case so what it returns doesn't really mean anything.

[2019-10-09 20:54] bjorn3 commented on #65245
In that case the saturating-float-casts test shouldnt test for a specific value being returned.

[2019-10-09 21:16] RalfJung commented on #64490
Note that *not* promoting here means this becomes a very short-lived temporary and the code has UB (or fails to compile, when only safe references are used)! Is that really what you want? `ptr as T` is *not* a place like `ptr` is and cannot be used as such; in particular it cannot be mutated.

I have a hard time imagining that silently causing UB is less of a surprise than promoting...

You are co

[2019-10-09 21:28] xd009642 commented on #64685
Is there any idea about what it would take to fix this? I'm interested in helping out if someone can help guide me :smile:

[2019-10-09 21:37] RalfJung commented on #65042
It doesn't just appear to be the same, iteration order is fully deterministic for a fixed platform and a fixed order of insertions and deletions. Non-determinism is not the problem here. Also see https://github.com/rust-lang/rust/issues/63713#issuecomment-536319122.

The problem rather seems to be that iteration order differs between platforms? That could indeed cause trouble, but is no issue for

[2019-10-09 21:43] red75prime commented on #64490
There's a bit of misunderstanding. I used a wrong term. When I said "rvalue promotion", I had "creation of a temporary memory location for an rvalue" in mind, not "promotion of temporary to `'static`".

[2019-10-09 21:45] ollie27 commented on #65245
That test needs to be compiled with `-Z saturating-float-casts`: https://github.com/rust-lang/rust/blob/c798dffac9dc8c82374db48f5b474690cc6e9686/src/test/ui/numbers-arithmetic/saturating-float-casts.rs#L3

See #10184 for more information.

[2019-10-09 21:48] RalfJung commented on #64490
@red75prime oh I see. Well currently, with promotion, we do *not* create a temporary memory location, but just a global one. But I suppose your desired behavior is more like what @oli-obk described, where we have static compiler errors?

I am not sure to what extend we can reliably produce those though. But MIR construction *should* know when it builds temporaries, so couldn't it refuse to do that

[2019-10-09 22:06] wagenet commented on #63047
I'm seeing this issue except I get:

[code]

Unlike in https://github.com/alexcrichton/curl-rust/issues/279 I only get it when trying to build for grcov with `-Zprofile -Clink-dead-code`.

[2019-10-09 22:59] alexcrichton commented on #58037
@acfoltzer and I debugged this a bit today. My hunch was that [this is the problem](https://github.com/rust-lang/rust/blob/20cc75272619cc452e3ae6c131e61974f6aa9929/src/librustc_codegen_ssa/back/linker.rs#L401-L404) ([here for MSVC](https://github.com/rust-lang/rust/blob/20cc75272619cc452e3ae6c131e61974f6aa9929/src/librustc_codegen_ssa/back/linker.rs#L675-L678)). We don't actually tell the linker (

[2019-10-09 23:00] estebank commented on #37808
#65192 [suggests](https://github.com/rust-lang/rust/pull/65192/files#diff-b04bba1fb00ac127267f756278c339baR1-R17) `impl<A, T: Parent<Ty = A>> Parent for ParentWrapper<T> where <T as Parent>::Assoc: Child<A> { /* ... */}`, which compiles.

[2019-10-09 23:04] mark-i-m commented on #13998
This can still happen:

https://github.com/rust-lang/rust/blob/20cc75272619cc452e3ae6c131e61974f6aa9929/src/librustc/infer/error_reporting/mod.rs#L138-L145

[2019-10-09 23:14] estebank commented on #58032
We now have support for suggestions that are either always displayed as a `note` without any code or hidden and only shown to tools. These kind of suggestions are good for proactive management of this problem.

[2019-10-09 23:14] #58032 closed

[2019-10-09 23:35] Shnatsel commented on #41807
This can be worked around by disabling the ODR violation check, as seen here: https://github.com/image-rs/image-png/blob/edcf8b07a355159fe69248aeb757cc48f212cf41/png-afl/src/main.rs#L5-L11

[2019-10-09 23:39] dingelish opened #65253 "Internal compiler error: can't buffer lints after HIR lowering"
Hi there,

I'm updating rust-sgx-sdk (solving rust-sgx-sdk [#161](https://github.com/baidu/rust-sgx-sdk/issues/161)) to use latest rust nightly compiler to help the error info more ergonomic by the help of #60561. However, the compiler always panics. Your help would be very much helpful.

The current code is at https://github.com/baidu/rust-sgx-sdk/tree/librustc-bug-report . To reproduce this bug,

[2019-10-10 00:30] carols10cents opened #65254 "Confusing error now saying `let` (not `if let`) is an expression, rather than a statement, which contradicts the book"
cc @Centril

Code first. This code:

[code]

[on current stable Rust 1.38](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db087215a59f29b6c19440c89ddb2484), gives this set of error messages:

[code]

The part that I'm most concerned about is:

[code]

Before eRFC *"if- and while-let-chains, take 2"* (rust-lang/rfcs#2497, https://github.com/rust-lang/rust/issues/53667, http

[2019-10-10 00:57] Mark-Simulacrum commented on #65253
It'd be helpful to have a more minimal example here I suspect -- for example, at least reducing to a single crate.

cc @estebank since this deals with diagnostic machinery

[2019-10-10 01:07] estebank commented on #65253
It seems like this was introduced a month ago in https://github.com/rust-lang/rust/pull/64066, https://github.com/rust-lang/rust/commit/f7434aef26bc413469fc0dfeadecabf75e18bd38#diff-fe6fbe1c488f33762a812dfee7e5e919R509-R515

CC @petrochenkov

[2019-10-10 01:09] nagisa opened #65256 "Verify trait impls’ signatures before checking object safety"
Given a code like this:

[code]

We emit an error like this:

[code]

---

This error is something that was encountered by someone who read documentation and saw they needed to implement a method returning `Box<dyn Serialize>`, An obvious assumption is that this refers to `serde::Serialize`, so that’s what they specified in their return type when implementing `DoSomething`.

The error they got doe

[2019-10-10 01:10] nagisa commented on #65256
At least we should emit the `incompatible type` error *in addition* to the object safe error.

[2019-10-10 01:24] dingelish commented on #65253
I think I find the solution on my side: the removal of `#[doc(no_inline)] pub use core::prelude::v1::bench`.

[2019-10-10 01:26] dingelish commented on #65253
https://github.com/baidu/rust-sgx-sdk/compare/librustc-bug-report...test-2019-10

A working branch is test-2019-10. Failing branch is librustc-bug-report. After I enable [this line](https://github.com/baidu/rust-sgx-sdk/blob/faa3ac91c8a343c9f2f5c411a766b388f7cd529c/sgx_tstd/src/prelude/v1.rs#L91), the compiler starts to fail.

[2019-10-10 01:35] PramodBisht commented on #63904
@XiangQingW Please take this forward.

[2019-10-10 01:40] topecongiro commented on #65085
@ghedo We need to update rls and rustfmt at the same time because the rustc repository forbids tools to depend on multiple rustc-ap-* crates at once. So this is blocked by #65084.

[2019-10-10 01:43] #65044 closed

[2019-10-10 01:43] Firstyear commented on #65044
Thanks!

[2019-10-10 02:08] pickfire commented on #64797
@Centril I am interested in doing this, I have never contributed to rust code and would like to try. Any guidance?

[2019-10-10 02:12] dingelish commented on #65253
The minimum sample is as follows:

[code]

and compile by

[code]

[2019-10-10 02:39] Centril commented on #65254
Also added notes in [`#docs`](https://discordapp.com/channels/442252698964721669/443492145567891458/631666422304735232) if sync discussion is desired.

--------------

So the new compiler error, introduced in https://github.com/rust-lang/rust/pull/60861, here is by design and tested in https://github.com/rust-lang/rust/blob/master/src/test/ui/rfc-2497-if-let-chains/disallowed-positions.rs which ha

[2019-10-10 03:02] Centril commented on #65257
It seems unlikely to me that we would support `mut $ident = $expr;` as a short-hand. I'm personally opposed to it both because it adds unnecessary compiler complexity, stylistic schisms, and for the reasons outlined by @KrishnaSannasi.

However, I've taken the liberty of reusing this issue towards improved diagnostics:

1.

[code]

The idea here is to check `self.token.is_keyword(kw::Mut) && self.

[2019-10-10 03:25] mark-i-m commented on #13998
@estebank This happens on master with nll enabled, e.g. this ui test:

https://github.com/rust-lang/rust/blob/ece4977138a8eda96c234982e482fb43f67f1bee/src/test/ui/async-await/issues/issue-63388-1.nll.stderr#L1-L7

Notice: `captures lifetime '_#22r `

[2019-10-10 04:30] Centril commented on #64797
@pickfire  Cool!

I believe the logic here can be divided into 2 parts roughly:

1. Syntax:

    1. Add a new `sym::accessible` in https://doc.rust-lang.org/nightly/nightly-rustc/src/syntax_pos/symbol.rs.html#22.

    1. Feature gate `accessible` in [`GATED_CFGS`](https://doc.rust-lang.org/nightly/nightly-rustc/syntax/feature_gate/builtin_attrs/constant.GATED_CFGS.html). Also add `cfg_accessible`

[2019-10-10 05:13] Centril opened #65259 "Cleanup: Deduplicate implementations of `is_{freeze,copy,sized}_raw`"
See: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc/ty/util.rs.html#1045

This issue has been assigned to @mbStavola via [this comment](https://github.com/rust-lang/rust/issues/65259#issuecomment-540370893).

[2019-10-10 05:17] mbStavola commented on #65259
I'm interested in taking this!

[2019-10-10 05:18] NonCreature0714 commented on #64261
I could not use &mut Vec<String>, and I tried, because the String was meant to be mutable.

[2019-10-10 05:19] Centril commented on #65259
@rustbot assign @mbStavola

[2019-10-10 05:54] Centril opened #65262 "Tracking issue for RFC 2495, "Minimum Supported Rust Version""
This is a tracking issue for the RFC "Minimum Supported Rust Version" (rust-lang/rfcs#2495).

**Steps:**

- [x] Implement the RFC (cc @rust-lang/cargo -- can anyone write up mentoring
      instructions?)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang

[2019-10-10 06:00] Manishearth commented on #61132
I and @yaahc may end up working on this

[2019-10-10 06:08] Krysme commented on #62017
Thanks for all the replies, and I hope that LLVM developers will resolve this one as soon as possible.

[2019-10-10 06:59] jugglerchris commented on #65148
I've got code with a load of `r#try` so this one's bugging me. :-)

I'm interested in working on it if no-one else is. I haven't worked on rustc so there'll be some learning for me to do first.

[2019-10-10 07:15] XiangQingW commented on #63904
Ok, I'll try to dive into.

[2019-10-10 07:51] laurencechan opened #65264 "rust can still create a danling pointer?"
`#[derive(Debug)]

struct CustomSmartPointer {
    data: String,
}

impl Drop for CustomSmartPointer {
    fn drop(&mut self) {
        println!("Dropping CustomSmartPointer with data `{}`!", self.data);
    }
}

fn main() {
    let a = CustomSmartPointer { data: String::from("hewitt") };
    let mut ptr = &a as *const CustomSmartPointer;
    println!("{:?}", ptr);     // 0x741fb3f990
    {

[2019-10-10 07:54] #65264 closed

[2019-10-10 07:55] laurencechan commented on #65264
dereference is unsafe

[2019-10-10 08:00] #63619 closed

[2019-10-10 08:38] petrochenkov commented on #64797
Oh no, this RFC passed.

[2019-10-10 08:49] chocol4te commented on #65257
@rustbot claim :)

[2019-10-10 08:49] petrochenkov commented on #64797
We can reliably answer the `accessible(PATH)` query for module-relative paths from other crates.

For type-relative paths everything looks harder.
- First, it breaks staging, type-based resolution isn't accessible during cfg-expansion.
For paths from other crates we can perhaps break staging by moving querification closer to the compilation start.
- Second, even for paths from other crates to reso

[2019-10-10 09:15] Centril commented on #64797
Agreed!

Can you elaborate on this point a bit? What specifically induces this requirement re. *this* crate and are there syntactic restrictions on the path we can impose to prevent the requirement from arising? (For example by preventing `Foo::Bar<T>` syntactically.)

Hmm; I don't think I follow how why we need to go from aliases to their bodies here... can you elaborate on this as well?

[2019-10-10 09:54] tomusdrw opened #65267 "ICE when re-exporting proc macro from renamed crate (wasm32-unknown-unknown)"
The compiler panics when trying to re-export a proc-macro, and the crate that contains this macro is renamed in the `Cargo.toml`:
[code]
Fails when targeting `wasm32-unknown-unknown`, haven't tested any other targets though.

The code here contains a minimal reproduction example:
https://github.com/tomusdrw/proc-macro-reexport

## Meta

[code]
(but happens on 1.40-nightly too)

Backtrace:
[code]

[2019-10-10 09:55] laurencechan opened #65268 "Why the return value was not dropped"
[code]

output:
[code]
the address of objects in function main and create_object are not the same. so, I think it creates a CustomSmartPointer  object in create_object function and in main function, it copes one。But why the object in 0x579eaff730 not been dropped?

[2019-10-10 09:59] kpp commented on #64496
1.39.0-beta.5 is affected too

[2019-10-10 10:34] msizanoen1 commented on #62896
I have successfully reproduces this using the CI docker images. It must be somewhing wrong in the CI images, most likely the C++ cross toolchain.
The CI use GCC 5.2.0 which is released in 2015.
Maybe we should upgrade GCC?

[2019-10-10 10:35] msizanoen1 commented on #62896
The binaries can be found here: https://github.com/msizanoen1/rust-binaries/releases/tag/rustc-commit-8ee24f6ee04c1dc42ddcd99c57bb0a7a15df1309-segfault

[2019-10-10 10:45] msizanoen1 commented on #62896
According to the backtrace, the bug seems to be in `std::insertion_sort`.

[2019-10-10 11:22] lzutao commented on #65267
Duplicate of #64450 and #56935.

[2019-10-10 11:44] SimonSapin commented on #65257
@Centril Although I would also guess that the initial idea is very unlikely to end up accepted, it feels premature to unilaterally hijack the thread in your very first comment and make it have a different (and in a way opposite) purpose. Teams of the Rust project are designed to make decisions collectively. Improving diagnostics sounds good, but issue numbers are cheap.

[2019-10-10 11:45] #65267 closed

[2019-10-10 11:52] norru commented on #64659
@Xanewok Is anyone else available you can offload this bug to?

[2019-10-10 11:57] xfix opened #65269 "Label shadowing causes a warning that cannot be allowed"
[code]

causes the following warning:

[code]

There is no way to allow the warning.

[2019-10-10 12:00] Centril commented on #65257
Implementing something as a diagnostic actually brings you closer to a working implementation -- I think more proposals should start out as

I will not bother the other language team members with not-fully-formed proposals that we will not accept in either case. I converted the issue into the most actionable and productive thing it could be.
The place for ephemeral discussions is either on Discord

[2019-10-10 12:26] leesongun opened #65270 "trait bound ignored, generic type"
The following code won't simply compile. Is this an intended behavior?

[code]
minimized code replicating error
[code]
I am using rust 1.38.0 stable.

Error:
[code]

[2019-10-10 12:32] steveklabnik commented on #52301
Triage: it seems to me that maybe there's not actually a bug here, or if there is, it's much much larger than the original report. That is, designing rust codgen to not rely on `--gc-sections` is the "fix" in this case, I guess.

[2019-10-10 12:34] michaelwoerister commented on #64153
I'll look into this now.

[2019-10-10 12:38] gnzlbg commented on #52301
@steveklabnik IIUC the bug was fixed more or less around here: https://github.com/rust-lang/rust/issues/52301#issuecomment-407299476

Maybe we could add some testing to make sure that libcore compiles with `+soft-float`, but for that it should be enough to build targets that exercise that. @reynoldsbd provided one here: https://github.com/rust-lang/rust/issues/52301#issuecomment-408317171

[2019-10-10 12:38] leesongun commented on #65270
Also, I have the same issue as #17904.

[2019-10-10 12:38] pnkfelix commented on #65147
visited for T-compiler triage. Assigning P-high based on labels applied by niko as part of async-await triage.

[2019-10-10 12:41] Centril commented on #29722
cc https://github.com/CraneStation/cranelift/issues/444#issuecomment-531574394

[2019-10-10 12:52] pnkfelix commented on #65084
visiting for triage: P-high, removing nomination label.

[2019-10-10 13:02] pnkfelix commented on #65042
triage: P-low. I would want this task to wait until we have a broader discussion about determinism in the compiler (hopefully at a [steering meeting](https://rust-lang.github.io/compiler-team/about/steering-meeting/)).

[2019-10-10 13:08] pnkfelix commented on #64153
great, I'll removing the nomination label.

[2019-10-10 13:09] nox commented on #65257
This issue was literally in the RFCs repo initially, @Centril transferred it from there.

[2019-10-10 13:23] pnkfelix commented on #65047
closing as fixed since #64358 landed.

[2019-10-10 13:23] #65047 closed

[2019-10-10 13:29] pnkfelix commented on #64659
visiting for triage. Assigning to self to remember to look into this later

[2019-10-10 13:46] RalfJung commented on #53639
With https://github.com/rust-lang/rfcs/pull/2582 accepted, I think the best way forward is, after `&raw` gets stabilized, to lint/deprecate taking *references* to `static mut`, but to still allow raw pointers.

So it's basically a speed-bump. One can still write `&mut *&raw mut STATIC`, but one can also do `&mut *STATIC.get()` when using a non-`mut` `UnsafeCell` -- in `unsafe` code there'll always

[2019-10-10 13:54] pnkfelix commented on #59494
triage: downgrading to P-medium; this does not warrant revisiting every week.

[2019-10-10 14:01] steveklabnik commented on #39511
Triage:

Seems like the same status today; we are making progress on const generics, but it's not ready yet.

[2019-10-10 14:01] GuillaumeGomez commented on #65212
Even with tabindex, we'll still have to bind 'enter' key I assume to change the current search tab, no? Also, we can't bind right and left arrows to do this so we're kinda limited to find replacements. The last option would be to add a setting to disable like you proposed in #65211 I guess? But we have other issues to answer on this other one.

[2019-10-10 14:03] steveklabnik commented on #56209
Triage: not aware of any movement on this issue.

[2019-10-10 14:04] steveklabnik commented on #30472
Triage: last two comments asking for clarification, no replies.

Given @nikomatsakis's comments earlier in the thread, I imagine this issue is "post-chalk".

[2019-10-10 14:05] Manishearth commented on #65212
No, if you're using tab navigation the enter key should automatically work
to "click" the currently selected thing.

The browser functionality around this is quite robust, let's not reinvent
it.

On Thu, Oct 10, 2019, 7:02 AM Guillaume Gomez <notifications@github.com>
wrote:

[2019-10-10 14:06] steveklabnik commented on #47319
Triage: @gaurikholkar , did you ever finish this work?

[2019-10-10 14:08] steveklabnik commented on #41753
Triage: no changes.

[2019-10-10 14:08] GuillaumeGomez commented on #65211
But then some features won't be accessible anymore (well, I doubt that the '?' menu would interest people who don't care about provided shortcuts). Also, should we keep the text of the search bar as is even though the shortcuts are disabled?

[2019-10-10 14:12] petrochenkov commented on #64797
@Centril

[code]

[code]

[2019-10-10 14:12] eddyb commented on #64797
For type-relative paths, I don't think we should do anything more than inherent impls (because otherwise it's really `cfg` on a trait bound *at best* and I doubt that was ever intended by the RFC).

There should be no generic arguments on such paths *anyway*, because there is no machinery to interpret them in any meaningful way.

<hr/>

I'd suggest implementing only module-relative paths to begin

[2019-10-10 14:19] petrochenkov commented on #64797
The unpleasant part is that for some paths we may give an incorrect answer if we don't consider type-relative resolutions, e.g. using module-relative resolution we may return `false` for
[code]
or
[code]
even if both paths exist if we apply type-relative resolution.

[2019-10-10 14:31] petrochenkov commented on #64797
Module-relative resolutions also have complications.
Consider this case, for example:
[code]

If we expand the `cfg` *immediately* like all `cfg`s are currently expanded, then we'll return an incorrect answer - `false`.

That means the path-based cfgs need to be enqueued until they are *ready/resolved* and only then expanded.
(That's exactly the behavior of attribute macros, and it comes with some

[2019-10-10 14:32] anp opened #65271 "src/librustc_codegen_ssa/callee.rs is redundant"
Per @eddyb, this file contains wrappers which don't do much. It seems like they should perhaps be inlined and the module deleted?

[2019-10-10 14:42] nikomatsakis commented on #59790
Some thoughts from the recent compiler meeting:

I think identifying functionality that is rustdoc specific with `rustdoc_` makes sense in general. One such example that comes to mind is the "autotrait finding" code that we landed.

I *also* think that -- longer term -- it would be great if we tried to create a consistent, stable-ish query API that tools like rustdoc, clippy, the RLS, and other th

[2019-10-10 15:06] TjeuKayim opened #65272 "GDB cast raw pointer to &str"
The `&str` type is not available in `rust-gdb`.

When debugging using `rust-gdb`, local variables with `&str` type are pretty printed.
[code]

I expect that a raw pointer referring to the same memory location on the stack can be casted to `&str` and printed. However, gdb throws an exception:
[code]

https://github.com/rust-lang/rust/blob/8ee24f6ee04c1dc42ddcd99c57bb0a7a15df1309/src/etc/debugger_pr

[2019-10-10 15:26] Centril commented on #65254
Should be easy to implement by tweaking the HIR lowering code just a tiny bit. Will try to do that sometime during the week but no firm promises. :)

[2019-10-10 15:33] Centril commented on #65254
...but if anyone wants to work-steal this from me then this would be a good first issue.

You'll want to tweak [`LoweringContext::lower_expr_let`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/hir/lowering/struct.LoweringContext.html#method.lower_expr_let) by keeping the current wording when `self.sess.parse_sess.unstable_features.is_nightly_build()` holds and changing it to @carols10cents

[2019-10-10 15:33] estebank commented on #65254
There's precedent for different messages depending on whether the current compiler is stable or not and whether there's a feature flag enabled or not. I don't think all three cases are needed here and just gate on the feature being enabled.

[2019-10-10 15:36] Centril commented on #65272
cc @mw @eddyb

[2019-10-10 15:38] bytefall commented on #65236
This issue became a warning since rustc 1.34.0-nightly (00aae71f5 2019-02-25):

[code]
Looks like #57609 has affected this issue.

[2019-10-10 15:40] #64803 closed

[2019-10-10 15:47] Manishearth commented on #65254
I'd go further to say that we should be doing what @estebank describes most of the time: unless a feature is enabled, and the old diagnostics were useful, don't spit out new "you tried to use this feature but it's unstable" diagnostics that aren't helpful.

[2019-10-10 16:01] kleimkuhler opened #65275 "request: Make `unix::net::SocketAddr` create methods public"
## Motivation

Recently [tokio-rs/mio](https://github.com/tokio-rs/mio/) needed support for creating the
`std::os::unix::net::SocketAddr` type. While the type is currently public, it is
not possible to create one as both creation methods are private:

* [SocketAddr::new](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/ext/net.rs#L109)
* [SocketAddr::from_parts](https://github.com

[2019-10-10 16:02] RobbieMcKinstry commented on #65254
I'll take a stab at it. First time contributor, so I might not know all the hurtles, but I'll take a swing at it.

[2019-10-10 16:02] kleimkuhler commented on #65275
`T-Libs` label is probably the correct designation.

[2019-10-10 16:06] Centril commented on #65254
@rustbot assign @RobbieMcKinstry

[2019-10-10 16:13] alexcrichton commented on #62896
Currently we use older gcc toolchains to lower our dependency on glibc to ensure we run on as many linux distributions as possible. It's sort of unfortunate :(

That being said producing working compilers is far more important than producing segfaulting compilers that run everywhere. In that sense it should be fine to upgrade gcc ([configured via this file](https://github.com/rust-lang/rust/blob/m

[2019-10-10 16:58] CDirkx commented on #61561
One downside of downgrading to gcc 8.3 and cmake 3.14 and building rust source is that I got errors messages similar to: [gcc internal compiler error](https://github.com/msys2/MINGW-packages/issues/4409) and [cmake missing dll](https://github.com/dokan-dev/dokany/issues/720), both of which are resolved in the newer versions. There are workarounds and backports of the fixes, but it would be a lot e

[2019-10-10 17:42] HadrienG2 commented on #32976
@jonas-schievink By "fully working loads and stores", do you mean that if appropriate memory barriers are inserted in the right place, it is possible to ensure that if CPU core 1 writes to a first memory location, and CPU core 2 writes to a different memory location, all CPU cores in the system that read from both locations can agree on these two writes occuring in the same order ?

The reason I'm

[2019-10-10 17:59] #59790 closed

[2019-10-10 18:44] sfackler commented on #63033
Here's another example of the same problem that *doesn't* have an unused lifetime (AFAIKT):

[code]

[code]

[2019-10-10 18:52] nikomatsakis commented on #63599
@weiznich if you don't mind doing so, that'd be awesome! The other thing that might be useful is to rename the existing tests so they all fit the new naming scheme we were using.

[2019-10-10 19:23] jonas-schievink commented on #32976
I mean that thumbv6 allows using any `Ordering`, including `SeqCst`, in `store` and `load` operations without issue. If the implementation of that turns out to be incorrect, then that's a bug in LLVM. Unfortunately Rust's memory model doesn't exist, and Rust's `Ordering` is only documented to be "the same as LLVM's".

[2019-10-10 19:37] Amanieu commented on #32976
That's fine since thumbv6 has memory barrier instructions even though it doesn't have atomics.

[2019-10-10 19:46] jhpratt commented on #65262
My personal opinions:

**Name** → `min-rust-version` or `msrv`. The latter may have already been declined, but if accompanied by documentation it's certainly already relatively widespread.

**Nightly** — _Both_ the dated version (`2019-10-10`) and the semver version (`1.40.0` for when `1.38.0` is stable). The latter could be somewhat confusing, as I've never seen nightly referred to like that in p

[2019-10-10 20:05] tcbbd opened #65279 "Inconsistent auto-reborrowing behavior of generic functions"
Look at this piece of code:
[code]

From the internet, I get the impression that generic functions will not auto-reborrow if the type of parameter cannot be determined to be a mutable reference before instantiation.

It works as expected for `x`:
[code]

But does auto-reborrow for `y`:
[code]

Now this is really confusing. What's the exact rules for auto-reborrow? When does it happen, before or af

[2019-10-10 20:14] seanmonstar opened #65280 "Formatting of std::backtrace::Backtrace"
I'd like to propose some changes to formatting of the `Backtrace` type introduced in https://github.com/rust-lang/rust/issues/53487.

- Don't include newlines in the default `Debug` output. I personally find it pretty jarring when looking at the debug output of an error where everything is on the same line except the backtrace, and then any additional properties are printed way down on the last li

[2019-10-10 20:25] RalfJung commented on #32976
For concurrency, Rust [documents](https://doc.rust-lang.org/nomicon/atomics.html) that it uses C11's memory model. So "same as LLVM's" would actually be factually wrong, where is that quote from?

@HadrienG2 that to me sounds like a mostly separate issue from the one discussed here... even *specifying* SeqCst accesses is actually *really hard* it turns out, when the accesses are mixed with release

[2019-10-10 20:30] jonas-schievink commented on #32976
Interesting! It's from the API docs of [`Ordering`](https://doc.rust-lang.org/std/sync/atomic/enum.Ordering.html):

[2019-10-10 20:32] HadrienG2 commented on #32976
@RalfJung Yeah, I agree that we should probably take this SeqCst digression elsewhere. What was IMO most important here is that there are architectures which provide sufficient building blocks for writing mutexes (and therefore blocking synchronization), without providing enough building blocks for supporting Rust's full lock-free atomics operation vocabulariy, and we may want to leave the door op

[2019-10-10 20:35] RalfJung opened #65282 "atomic::Ordering "same as LLVM's"? Seems wrong."
@jonas-schievink [pointed out](https://github.com/rust-lang/rust/issues/32976#issuecomment-540777070) that our `atomic::Ordering` docs say

That's not really correct though... at least according to the Nomicon, we [use the C11 memory model](https://doc.rust-lang.org/nomicon/atomics.html), which is different from LLVM's. The kinds of ordering that exist are the same (at least insofar as Rust expose

[2019-10-10 20:36] Rantanen commented on #65149
Another example

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b2b99ed57a84dd550bf9388fb41cb053)

(Also note the formatting error in the text - rustc inserts the new bound after the current type, _assuming_ that's where the colon is. Thus in this specific example the suggestion has invalid syntax due to the space before the colon in the code.

[2019-10-10 20:40] estebank commented on #13998
I feel that even though the general problem is the same as originally reported, it is different enough that it would have warranted making a new ticket.

That being said, thanks for digging up a relevant test to keep track of the fix.

[2019-10-10 20:40] petrochenkov commented on #65253
Fixed in https://github.com/rust-lang/rust/pull/65283.

[2019-10-10 20:40] HadrienG2 commented on #65282
I think this question is actually trickier than it sounds, because there I see periodical interest in bringing in some of LLVM's extensions w.r.t. the C11 memory model (`unordered`, atomic memcpy...) to Rust.

A clear "we use the C11 memory model" stance could also be interpreted as closing that door.

[2019-10-10 20:44] Rantanen opened #65284 "E0599 error message may suggest syntactically invalid fix"
[Full code in Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3b1a6a68ae4db990762e4a542fbf052a)

Missing a trait bound for the trait that defines `fn foo` below:

[code]

Results in the following suggestion with an extra colon after the plus.

[code]

[2019-10-10 20:56] RalfJung commented on #65282
Well as far as I am concerned that is the current stance. But it doesn't close any doors. Switching from C11 to LLVM's model makes strictly more programs defined, that's the only difference.

Moving from LLVM's to C's model, on the other hand, turns some well-defined programs into UB. So, C11 is also the conservative choice here.

[2019-10-10 21:05] HadrienG2 commented on #65282
This is not true of all of LLVM's features though. For example, LLVM's unordered atomics can be emulated with relaxed C11 atomics without loss of correctness (but potentially at a performance cost).

In this respect, there is room for a "we use the C11 model, but allow ourselves to adopt LLVM extensions which can be pessimistically implemented on top of the C11 building blocks" stance.

[2019-10-10 21:07] andjo403 commented on #64913
have made #65281 to handle the first of my points from above.
but I also started to think about this case that is using lto shall the inline function even be added to all CGUs?

[2019-10-10 21:09] RalfJung commented on #65282
`unordered` is not a thing in Rust right now though. :)  So for the APIs we currently expose, saying we use C11 is the conservative future-compatible choice -- and I actually think this is the current normative choice, based on what the Nomicon says (it's also what I told everyone over the last years).

Extending Rust's API beyond C11's would change that game -- I'll comment on [the "unordered" th

[2019-10-10 21:09] dingelish commented on #65253
Cool!

[2019-10-10 21:09] HadrienG2 commented on #65282
Point taken ;)

[2019-10-10 21:12] RalfJung commented on #65282
Oh and I don't think element-wise atomic memcpy is even an extension of the model; that's just an intrinsic for a loop that can already be expressed in the existing model.

[2019-10-10 21:24] andjo403 commented on #64913
hmm seems like some one tested the lto idea already https://github.com/rust-lang/rust/pull/65052

[2019-10-10 21:29] HadrienG2 commented on #65282
Well, today LLVM is clearly unable to optimize a loop of the corresponding relaxed atomic load/store operation into a performant implementation of its element-wise memcpy intrinsic, because it is unable to coalesce neighboring atomic loads and stores. But that's arguably an optimizer issue, not a semantic limitation of C11 atomics.

[2019-10-10 21:31] RalfJung commented on #65282
Indeed that would have been my argument. :)

[2019-10-10 21:36] fdb-hiroshima commented on #62755
I think I'm hitting the same, with `Vec<u8>`, `&mut T` and `Write`. Do you know what kind of type annotations may help me?

[2019-10-10 21:57] andjo403 commented on #64913
I wonder if it is possible to not only look at the size of the CGUs but also what inline items that are common to get more items with internal linkage and less duplication between CGUs

[2019-10-10 22:00] estebank commented on #56379
@Centril is there still work left to do on this front?

[2019-10-10 22:02] 0xpr03 commented on #52662
This would be really helpful.
Currently one can't write a function that takes `fn<T: FromStr<Err: Debug>>(a: T)`
As such it's not possible to print the error.

[2019-10-10 22:07] KrishnaSannasi commented on #52662
@0xpr03
[code]

[2019-10-10 22:09] 0xpr03 commented on #52662
Oh thanks! Sorry for the noise but that will hopefully also help other people.

[2019-10-10 22:17] varkor opened #65285 "Incorrect "explicit lifetime name needed" error"
[code]
produces:
[code]
despite there being no unnamed `&`.

[2019-10-10 22:19] varkor commented on #56379
The match algorithm still short-circuits and reports only the first unencountered constructor in some cases. You can see this in some of the test cases for https://github.com/rust-lang/rust/pull/65160, for instance.

[2019-10-10 22:23] varkor opened #65286 ""Consider adding an explicit lifetime bound" doesn't take into account existing bounds"
[code]
produces:
[code]
It should suggest `T: 'a + 'b` (or similar), ideally in the same format as E0599.

[2019-10-10 22:28] estebank commented on #57744
Current output:

[code]

[2019-10-10 22:37] varkor opened #65287 "Lifetimes are inconsistently printed with backticks"
[code]
displays:
[code]
Notice how ``` `'static` ``` is surrounded in backticks, but `'a` is not.

[2019-10-10 22:42] varkor commented on #65286
Note that this problem is already present in the test suite:
https://github.com/rust-lang/rust/blob/58b54911fabcd1b328fab78014b6833a4e8cfaa3/src/test/ui/lifetimes/lifetime-doesnt-live-long-enough.stderr#L82-L84

[2019-10-10 22:55] wdanilo commented on #59159
@nox, Thanks for the reply! Ok, that was a pretty simple example. But imagine that in my example the `replace_range` is a really complex method, mutating the object. And I just want to use it from inside of the pattern match. This would be a problem after this change, right?

[2019-10-10 23:13] msizanoen1 commented on #62896
Does glibc 2.24 seems ok?

[2019-10-10 23:15] estebank commented on #52662
In the meantime, while this is unstable, the compiler [when encountering](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4b9da810b4ffefe2f065467cf127a885)

[code]
[should suggest](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bf23c8f7dde0075759841c2efb1314d5)
[code]
instead of the current
[code]

[2019-10-10 23:34] estebank commented on #65284
@varkor, you can look at https://github.com/rust-lang/rust/pull/65192/files#diff-0e12890ad498e250783f40f88a8b8ec6R978-R993 and https://github.com/rust-lang/rust/pull/65192/files#diff-0e12890ad498e250783f40f88a8b8ec6R1105-R1125 for inspiration on how to deal with this.

[2019-10-10 23:37] alistair23 opened #65290 "RISC-V: Inline assembly ecall assumes return value in incorrect register"
The following 32-bit RISC-V Rust code

[code]
Compiles to this:
[code]

Using:

As you can see, the compiled code assumes that the return value of the ecall is saved into a1 (x11). For the RISC-V ABI this is incorrect as the first return value should be saved into a0 [see here](https://github.com/riscv/riscv-elf-psabi-doc/blob/master/riscv-elf.md#-integer-calling-convention).

Changing the output

[2019-10-10 23:41] jspeis opened #65291 "compiler error building arrow on rustc 1.40.0-nightly on mac"
[code]

simple steps to reproduce:

```cargo new myproject```

add arrow to the dependencies in `Cargo.toml` for `myproject`

[code]

and when I try to build the project. I get the above error.

[2019-10-10 23:43] #58017 closed

[2019-10-10 23:43] #39703 closed

[2019-10-10 23:45] varkor commented on #65284
@estebank: I came up with a different solution, but there may be a subtlety I'm missing: https://github.com/rust-lang/rust/pull/65289.

[2019-10-11 00:02] nagisa commented on #65290
The constraint `"=r"` allows the compiler to pick *any* register. This is true regardless of the architecture. Register selection never looks at the assembly code to make decisions on what register should be picked; rather, a register is allocated based on a register allocation algorithm which considers the surrounding code and the the constraints only.

As thus, closing as invalid, but if you fee

[2019-10-11 00:02] #65290 closed

[2019-10-11 00:13] Majkl578 commented on #65262
My personal preference would be `rust-version`. `min-rust-version` is a bit too long and `msrv` is a bit cryptic abbreviation for newcomers (when I first saw it I was like _what Microsoft stuff is this referring to_).

Regarding nightly versions: I do not like the suggestion by @jhpratt to use semver version for nightly (e.g. `1.40.0`) because the constraint is too wide. I think using `nightly-201

[2019-10-11 00:24] mathstuf commented on #65262
Agreed with @Majkl578 about the `nightly` via semver thing. Just because `nightly` has your feature today doesn't mean it will appear in the stable release with that version number.

[2019-10-11 00:28] msizanoen1 commented on #62896
I tested using GCC 8.3.0 with glibc 2.17.0 and the toolchain builds successfully.

[2019-10-11 00:41] alistair23 commented on #65290
Looking at the Linux kernel C code you might be right. They get away with using the `+r` as they have used `register` variables in C.

[code]

[2019-10-11 01:47] msizanoen1 commented on #62896
I enabled debuginfo in LLVM and run valgrind on it. Here is the log: https://github.com/msizanoen1/rust-binaries/releases/download/rustc-commit-8c7b921feb5b100b1825ad54d46a8cca575b35b3-segfault-dbg/valgrind.txt

[2019-10-11 01:57] crlf0710 commented on #57964
@pnkfelix  #30786 has test added in #62519  Maybe we can tick the last box... and maybe close this issue?

[2019-10-11 02:46] foonull commented on #62826
Was rustc compiled/signed with hardened runtime which opts it into having library validation? See [this page](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_security_cs_disable-library-validation?language=objc) for disabling it. Or, as far as I can tell, the dylib being loaded needs to be signed the same way as rustc.

[2019-10-11 03:21] #61978 closed

[2019-10-11 03:21] #62486 closed

[2019-10-11 03:29] cup opened #65296 "Rust platform size (round 2)"
Reopening this issue as its not fixed. On my last post in July the size was
294 MB:

https://github.com/rust-lang/rust/issues/61978#issuecomment-509259209

comically, its actually larger now at 347 MB:

https://static.rust-lang.org/dist/rust-nightly-x86_64-pc-windows-gnu.msi

[2019-10-11 03:29] cup commented on #61978
https://github.com/rust-lang/rust/issues/65296

[2019-10-11 03:29] cup commented on #65296
https://github.com/rust-lang/rust/issues/61978

[2019-10-11 03:32] csmoe commented on #65291
reproduced with
[code]
error:
[code]

[2019-10-11 03:32] cup commented on #65296
https://github.com/rust-lang/rust/pull/64823

[2019-10-11 03:50] nnethercote commented on #65080
@dtolnay: is the improved performance good enough for your purposes?

[2019-10-11 04:07] memoryruins commented on #65296
The installer's origin states it was created on `10/10/2019 6:48 PM`, which is hours before #61978 merged. The [artifact sizes](https://dev.azure.com/rust-lang/rust/_build/results?buildId=10431&view=logs&jobId=4f922444-fdfe-5dcf-b824-02f86439ef14&taskId=693f2e67-ad7a-5a19-a120-dab6fa46c907&lineStart=41&lineEnd=41&colStart=1&colEnd=97) of that PR match up with its description. Check on it again tom

[2019-10-11 05:05] anp commented on #47809
## library support

* [ ] safe intrinsic wrapper `core::Location::caller()`
* [ ] annotate:
  * [ ] Option::expect
  * [ ] Option::unwrap
  * [ ] Result::expect_err
  * [ ] Result::expect
  * [ ] Result::unwrap_err
  * [ ] Result::unwrap
* [ ] anything else?

## questions

Are there any stability concerns for using `#[track_caller]` in the standard library?

The RFC mentions several things related

[2019-10-11 05:25] HossainAdnan opened #65298 "std::os::UnixListener has no support for Linux Abstract Namespace"
Currently `std::os::unix::net::UnixListener` does not seem to support the [Linux Abstract Namespace](http://blog.eduardofleury.com/archives/2007/09/13). I'm not familiar with the process of a feature request in the standard library so I haven't made a issue in the github repo yet.

Reproduce with:
[code]
Compiler message:

I believe Rust has the capability to allow interior null bytes in Linux wit

[2019-10-11 06:20] matthiaskrgr commented on #65296
Hi, using the master toolchain https://github.com/kennytm/rustup-toolchain-install-master  I can confirm that it downloads
65.83 MB rustc-nightly-x86_64-unknown-linux-gnu.tar.xz
and
17.59 MB rust-std-nightly-x86_64-unknown-linux-gnu.tar.xz
now (the latter was around 10 times that previously).

[2019-10-11 06:25] kngwyu commented on #65084
@Xanewok
I also released racer 2.1.28.
It's ready to update RLS.

[2019-10-11 06:32] memoryruins opened #65300 "`rustc_data_structures::static_assert!(false)` does not error"
`1.40.0-nightly 2019-10-09 20cc75272619cc452e3a`

 The following does not error locally / on the playground https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9dde03338a31e2f40491a66dc3a18761

[code]

If I copy paste the macro into the same file, it errors as expected https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bec79345cfe7cecf1b92eed6c2736152

[c

[2019-10-11 06:36] hellow554 commented on #65279
I think this question is better suited for the rust user forum at https://users.rust-lang.org

I can't see, that this is a bug, but hey: prove me wrong ;)

[2019-10-11 06:36] Xanewok commented on #65084
Great, thanks! I’ll update this today.

[2019-10-11 06:45] dtolnay commented on #65080
I confirmed that the performance is massively improved in nightly-2019-10-10. Thanks!

FYI @illicitonion @anlumo

[2019-10-11 06:45] #65080 closed

[2019-10-11 06:50] rodrimati1992 commented on #65300
This feels like it's related to a [similar issue](https://github.com/rust-lang/rust/issues/61058) I created a while back.

[2019-10-11 07:03] Centril commented on #65282
Seems like the standard library should be fixed. Want to file a PR?

[2019-10-11 07:14] Centril commented on #65291
Duplicate of https://github.com/rust-lang/rust/issues/64908.

[2019-10-11 07:14] #65291 closed

[2019-10-11 07:22] oli-obk commented on #65300
This is probably because the "error" is just a lint. And we appear to silence it in external macros. We shouldn't do that. IIRC this is just a flag that needs to be set for the `CONST_ERR` lint macro

[2019-10-11 07:27] ririsoft commented on #53278
Hello,

I came to this issue while trying to run only one test in a test suite with several tests sharing the same base name. Coming from *Go* I wanted to run a test with `foo$` for instance.

However reading [this comment](https://github.com/rust-lang/cargo/issues/2941#issuecomment-273255481) on Cargo, I discovered the `--exact` option that perfectly suite my needs.

While I believe this feature

[2019-10-11 07:58] msizanoen1 commented on #62896
I have compiled LLVM with gcc 8.3.0 and libc 2.17.0 and I can confirm that this fixes the issue.

[2019-10-11 08:05] stefson commented on #62896
may I ask, which version of llvm are you refering to? Did you bootstrap the llvm-9 fork from the rust-1.38.0 release tar ball, or is it your distro's llvm?

[2019-10-11 08:11] crlf0710 commented on #57012
Now that #62661 is merged, what's next?
@eddyb i believe `indirect-coherence-breakage` concern can be resolved now?

what can we do on the `fallback` part?

[2019-10-11 08:12] sinkuu commented on #48784
I confirmed that run-time of `m.repeat(n)` with larger `m` or `n` gets worse.

<details>

`m: Vec<u8>`

|`len(m)`|`n`| ns / op | Ratio to `n = 2` | Increase rate |
|-|-|-|-|-|
| 16 | 2         | 19         | 1.0        |     |
| 16 | 4         | 24         | 1.3        | 1.3 |
| 16 | 8         | 26         | 1.4        | 1.1 |
| 16 | 16        | 29         | 1.5        | 1.1 |
| 16 | 32        | 3

[2019-10-11 08:19] RalfJung opened #65303 "Refactor: deduplicate "can this unwind?" logic"
Currently, we have two separate codepaths to decide if a function needs an abort-on-panic shim and if it gets the `nounwind` attribute. This risks them getting out of sync -- and indeed they are out-of-sync right now, but there's lots of opposition to fix that critical bug, so I closed https://github.com/rust-lang/rust/pull/63884. But I still think that refactor should happen eventually, hence thi

[2019-10-11 08:25] msizanoen1 commented on #62896
@stefson The LLVM fork of rustc at https://github.com/rust-lang/llvm-project. The same as the one used in CI.

[2019-10-11 09:22] hlb-schmidt opened #65304 "also read cargo.toml"
https://doc.rust-lang.org/cargo/faq.html#why-cargotoml

## "Sorting files often puts capital letters before lowercase letters"

could you please provide your analysis on how you count "often"?

cause its not with coreutils 8.31, `ls`:
[code]

nor `sort`:
[code]

## "ensuring files like Makefile and Cargo.toml are placed together"

did you know that `make` also reads `makefile`?

so please follow `

[2019-10-11 09:28] crlf0710 commented on #43461
Status in Oct 2019: Most contributors has signified consent.

The remaining people and their merged PRs are:
* @barosl   RFC1102
* @cgaebel   RFC0023
* @quantheory  RFC0520  PR0836 PR0865
* @tomjakubowski PR0251
* (deleted user) Jakub Bukaj, RFC0469

[2019-10-11 09:38] jethrogb commented on #44488
What is the point of this function? I'm dealing with hardware where if the pointer is not aligned, the instruction will fault. So I need to implement this function myself because this function is not guaranteed to be useful?

[2019-10-11 09:45] hlb-schmidt commented on #65304
but of course, sorry!

[2019-10-11 09:45] #65304 closed

[2019-10-11 09:46] oli-obk commented on #44488
The point of this function that if it returns an offset that is out of bounds of your allocation, you should run your backup logic that does not depend on alignment. Imagine having a `*mut [u8; 2]` that you try to align to be usable as `*mut u16`, if you get an offset of `1` (because the original pointer was not aligned), you can't use the resulting pointer. In this case using your operation would

[2019-10-11 09:48] jethrogb commented on #44488
What backup logic? As stated, in my use case it is not possible to use an unaligned value.

[2019-10-11 10:26] oli-obk commented on #44488
In that case, what happens if you get an aligned value but it's outside of your allocation? You can't make a memory location aligned, you can only offset a pointer until it is aligned. But offsetting a pointer may go beyond the allocation your pointer points to

[2019-10-11 10:30] RalfJung commented on #44488
This function is for cases where e.g. you have a `&mut [u8]` that could be large, and you want to get the "aligned center" of that slice as `&mut [u64]` for more efficient processing.

But as @oli-obk said, you need backup logic anyway because the pointer you are getting might not be sufficiently aligned. What do you want to do in that case? I think we need a bit more context here.

[2019-10-11 10:33] jethrogb commented on #44488
No this is pretty much exactly the case for me. But I know that my input buffer is guaranteed to be large enough to hold the "aligned center".

[2019-10-11 10:33] est31 commented on #65296
To give a table like https://github.com/rust-lang/rust/issues/61978#issuecomment-509011699 :

| file name | dbeed58adee2ef046b46b252980f86672f9bfc4c (prior to #59800 merge) | 898f36c83cc28d7921a1d7b3605323dc5cfcf533 (prior to #64823 merge) | 000d90b11f7be70ffb7812680f7abc6deb52ec88 (after #64823 merge) |
| - | - | - | - |
| rustc-nightly-x86_64-unknown-linux-gnu.tar.gz | 122 073 207 | 101 219 999

[2019-10-11 10:34] magnet opened #65306 "`cargo check`-invoked Rustc 10x slower since `nightly-2019-10-03`"
Starting `nightly-2019-10-03`, Rustc ~~**hangs forever**~~ is about 10x slower while building my project (Linux x86-64). It works fine on `nightly-2019-10-01` and earlier versions. In between, `nightly-2019-10-02` has an ICE.

I am only invoking `cargo check`.

See below for the ICE and the thread backtraces while rustc is hanging.

Rustc has an ICE on `nightly-2019-10-02` ("fixed" in `nightly-201

[2019-10-11 10:44] est31 commented on #65296
@cup rust-nightly-x86_64-pc-windows-gnu.msi as of commit 000d90b11f7be70ffb7812680f7abc6deb52ec88 is now only 170M. So definitely a reduction here.

[2019-10-11 11:14] sfackler commented on #65298
Duplicate of #42048.

[2019-10-11 11:14] #65298 closed

[2019-10-11 11:17] nagisa commented on #65296
Closing as per investigation above.

[2019-10-11 11:41] RalfJung commented on #44488
Well, that is a subtly different use-case -- and one that Miri currently does not support. (There are trade-offs here: supporting that means being less good at detecting misaligned memory accesses.)

You could always use `align_to` and then assert that the center part is non-empty. Or you just do the usual "round ptr up to next multiple of alignment"; you don't actually need all the complexity in

[2019-10-11 11:52] SimonSapin commented on #48784
@sinkuu Would you be interested in working on a PR to improve the implementation?

[2019-10-11 11:55] jethrogb commented on #44488
I'm talking about `ptr::align_offset`, which in my mind, is exactly supposed to do the rounding up. The documentation I quoted earlier is from that function.

[2019-10-11 12:04] Phosphorus15 commented on #65285
This error report is obviously incorrect, maybe we should elide this for the lifetime inferencer to check ?

[2019-10-11 12:20] RalfJung commented on #44488
Yeah that's not at all the use-case for which this was designed. If you want to implement an aligned allocator based on an unaligned one, this function currently won't help you. libstd in fact [also contains such code](https://github.com/rust-lang/rust/blob/000d90b11f7be70ffb7812680f7abc6deb52ec88/src/libstd/sys/windows/alloc.rs#L29) because Windows.

Oh but it is doing way more than that. Quoting

[2019-10-11 12:24] jethrogb commented on #44488
@RalfJung `T` is `u8` for me

[2019-10-11 12:28] RalfJung commented on #44488
I guessed as much. So? All I said is, the function is more general than your use-case, making it way more complicated than "rounding up", and its reason to exist is not what you seem to think it is (to remove some simple rounding-up code from allocators -- an extremely rare thing to write).

You are looking at a very complicated tool with subtle trade-offs, wanting to use it in its simplest possib

[2019-10-11 12:32] RalfJung commented on #44488
In fact the docs say quite clearly:

So, if that's not a constraint you can live with, that's okay -- just don't use this function.

[2019-10-11 12:54] ghedo commented on #65084
@Xanewok ah, missed your comment, so I created https://github.com/rust-lang/rls/pull/1563 just now. Hope that's ok.

[2019-10-11 13:03] est31 commented on #65296
@nagisa rust has still the largest package of the list in the original issue https://github.com/rust-lang/rust/issues/61978#issue-458281335 . The regression (that appeared after that original bug was applied) is fixed now, but it would still be cool to reduce the platform size even further.

E.g. #65251 will mean another improvement. In the [1.38 package](https://static.rust-lang.org/dist/rust-1.3

[2019-10-11 13:09] jethrogb commented on #44488
Except that won't work, because:

So when I do the assertion (which I'd be fine with), the implementation is free to unconditionally insert an assertion failure. Unless you think that that's not the case, in which case this is a documentation issue.

I definitely can't live with this, because now I still need to implement a "round up" function in case this function failed. Then I might as well jus

[2019-10-11 13:18] RalfJung commented on #44488
Correct.

The current situation is that the libstd/rustc implementation will always succeed to align if `size_of::<T>() == 1`. However, the Miri implementation will not. The doc has to cover all implementations, but you could decide to rely on a specific one.

So far, allocators are the only use-case I am aware of that would need proper alignment for correctness, not just performance. Most of the

[2019-10-11 13:23] Mark-Simulacrum commented on #65300
Yes, we need to set report_in_external_macro param on the lint I believe

[2019-10-11 13:34] tspiteri opened #65309 "performance of saturating_mul can be improved by removing branches"
While playing with `saturating_mul` to see if it can be made branchless and thus a const fn (sorry @RalfJung ;) ), I found that the performance of signed `saturating_mul` can actually be improved.

I tested two implementations:
 1. ```rust
    pub fn saturating_mul(a: i32, b: i32) -> i32 {
        a.saturating_mul(b)
    }
[code]

The `cond_if_else` function acts kind of like C's ternary operator,

[2019-10-11 13:42] carols10cents commented on #65257
@burdges Language bashing is not welcome here

[2019-10-11 13:43] da-x commented on #38832
This can be closed - in the playpen the original issue does not reproduces with stable.

[2019-10-11 14:09] tspiteri commented on #65309
By the way, the "improved" `saturating_sub` above can be further improved. LLVM produces
[code]
but I think `cmp` can be changed to `sub` immediately, as the next time `edi` is used it is to do the subtraction anyway:
[code]

[2019-10-11 14:14] CryZe commented on #65309
You can also use
[code]
which compiles to the same thing.

[2019-10-11 14:20] Xanewok commented on #65084
The RLS dep bump has landed, so now we need to open a PR with an update to both RLS and Rustfmt.

[2019-10-11 14:22] tspiteri commented on #65309
Interesting, when compiling the `cond_if_else` function itself at -O0, the masks version performs better (masks 7, mul 9), at -O1 LLVM recognizes the multiplication pattern so it performs better (masks 5.2, mul 1), and at -O2 LLVM recognizes both patterns so that both have a reciprocal throughput of 1.

[2019-10-11 14:27] CryZe commented on #65309
Yeah it seems the problem are the multiplications and additions that cause Rust to emit overflow checks at -O0.

[2019-10-11 14:29] cup commented on #65296
@est31 347 MB to 170 MB is a huge reduction. But you are right 170 MB is still
50% larger than even Go at 112 MB:

https://dl.google.com/go/go1.13.1.windows-amd64.msi

So I wont spam any more issues as it seems they arent really interesting in
fixing it beyond extreme examples, but the argument could definitely be made
that the issue is not resolved.

[2019-10-11 14:37] CryZe commented on #65309
The branchless versions also vectorize much better: https://godbolt.org/z/URdJAl

[2019-10-11 14:44] tspiteri commented on #65309
They seem to vectorize more, but the reciprocal throughput becomes worse. (I basically don't know anything about vectorization, so maybe rthroughput doesn't mean anything here, but maybe it does.)

[2019-10-11 14:51] ollie27 commented on #65309
It looks like the improvement to `saturating_mul` actually comes from replacing `(a < 0 && b < 0) || (a > 0 && b > 0)`: https://github.com/rust-lang/rust/blob/0221e265621a5fcc68ca62bdcdeabad1882a0e9a/src/libcore/num/mod.rs#L1061 with `(a < 0) == (b < 0)`: https://godbolt.org/z/dezgpj. Going further and replacing `unwrap_or_else` with `unwrap_or` gives exactly the same assembly as the branchless ve

[2019-10-11 14:55] tspiteri commented on #65309
Sounds good, I'll open a PR to change the multiplication as suggested.

[2019-10-11 14:58] tspiteri commented on #65309
About the subtraction, LLVM is producing the following assembly for its `llvm.ssub.sat.i32` intrinsic:
[code]
I think this is suboptimal, and `mov ecx, edi` followed by `sub ecx, esi` should be replaced by `cmp edi, esi`. I'll open an issue in LLVM.

[2019-10-11 14:58] tcbbd commented on #65279
@hellow554 Maybe you're right in that this is not a bug, but anyway I think there's some space for improvements. The current behavior seems suboptimal to me, and maybe we can make it behave more consistently?

[2019-10-11 15:22] nagisa commented on #65309
I believe none of these functions care about perf at O0 or O1 much, as stdlib is always compiled with full optimization and these methods are not generic.

Consider also verifying how the code behaves when inlined in other contexts that do or do not provide sufficient information to LLVM to optimise out interesting parts (branches and expensive operations) of the function.

[2019-10-11 15:25] tspiteri commented on #65309
@nagisa Since the improvement in throughput I observed can be obtained by simply changing `(a < 0 && b < 0) || (a > 0 && b > 0)` to `(a < 0) == (b < 0)`, I opened a PR with just that change which I think looks quite safe and doesn't have much room for adverse effects.

[2019-10-11 15:43] memoryruins commented on #65300
Ah, that makes sense! Building locally with the parameter set to confirm.
@rodrimati1992 it does ^^ will check the samples in there too.

[2019-10-11 16:07] pickfire commented on #64797
@Centril Thanks for the explanation and the quick response, I do quite understand what you meant but not quite for the others.

Based on my understanding, `#[cfg(accessible(::type::alias))]` still probably does not work for this?

[2019-10-11 16:33] cramertj commented on #47809
No, it's possible to use unstable functionality from inside std (e.g. inside the `panic!` macro).

[2019-10-11 16:46] anp commented on #47809
Is it different for macro expansions? I would naively assume so.

[2019-10-11 17:01] Nadrieril commented on #65157
Please wait for https://github.com/rust-lang/rust/pull/65160 to be merged before fixing this; I'm dreading having to rebase on top of the fix

[2019-10-11 17:07] nikomatsakis commented on #30472
This is one of the things that the traits working group is kind of actively working towards. It's blocked to some extent on the universes work, see e.g. https://github.com/rust-lang/rust/pull/65232 which tries to unblock that effort, plus lazy norm. I think we'll be making active progress though over the next few months.

[2019-10-11 17:21] jdm opened #65313 "aarch64 windows backend forces panic=abort"
The [aarch64-pc-windows-msvc](https://github.com/rust-lang/rust/blob/master/src/librustc_target/spec/aarch64_pc_windows_msvc.rs#L8) and [aarch64-uwp-windows-msvc](https://github.com/rust-lang/rust/blob/master/src/librustc_target/spec/aarch64_pc_windows_msvc.rs#L8) targets force panic=abort. @alexcrichton said [this](https://github.com/rust-lang/rust/pull/63155#discussion_r312162970):
[code]
This l

[2019-10-11 17:53] cramertj commented on #47809
No-- let's follow up on zulip.

[2019-10-11 17:58] anp commented on #47809
Awesome, thanks for clarifying! I edited the library support todo list appropriately.

[2019-10-11 18:51] estebank commented on #24578
This would have to be implemented as a lint now due to the potential of breaking existing builds. It should be easy enough to implement.

[2019-10-11 19:10] estebank opened #65317 "Spurious `...` at the end of code lines on some trimmed code snippets"
We now trim overly wide code snippets using `...` before and after as appropriate to signify the cut code. I've observed some cases on spans with labels that the last three characters of the snippet are incorrectly replaced with `...`.

[2019-10-11 19:15] alexwl commented on #62755
@fdb-hiroshima  Can you post the error message you get?

This is an example with `Vec`, `Write` and `&mut`, but I'm not sure if it is relevant to
your problem:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7837c900ee87fbe2e6c8043365480316
[code]

This code fails with "overflow evaluating the requirement `&mut std::vec::Vec<_>: Write`"

Type annotation for `v` fixes the e

[2019-10-11 19:59] estebank commented on #37892
It seems to me what this is missing is a note explaining the same thing as https://github.com/rust-lang/rust/issues/37892#issuecomment-264934123.

[2019-10-11 20:51] d-e-s-o commented on #64417
I'd honestly go one step further and consider implementing `Clone` without the requirement `T: Clone` iff there is no need, e.g., if there is an inner type wrapping the `T` that does not require `T: Clone` on its implementation of `Clone`, as is the case for `Arc`:

[code]

(not sure how feasible that is [or whether I missed something in my reasoning], but it may be something worth shooting for)

[2019-10-11 21:06] dtolnay commented on #65280
+1 to all three points. I would accept a PR for this change.

[2019-10-11 21:20] #38832 closed

[2019-10-11 21:35] #48784 closed

[2019-10-11 21:39] nikomatsakis commented on #63520
This test continues to be super annoying. I'm happy to just remove it, per @Mark-Simulacrum's suggestion.

[2019-10-11 21:44] Mark-Simulacrum commented on #63520
Okay I've filed https://github.com/rust-lang/rust/pull/65321 to remove the test -- seems like everyone is in agreement it does not pull its weight.

[2019-10-11 22:49] estebank commented on #37790
All of these cases now compile successfully.

[2019-10-11 22:49] #37790 closed

[2019-10-11 22:51] sinkuu commented on #48784
@SimonSapin Yes, I'll try to add the fallback to the old impl for large parameters.

[2019-10-11 22:52] estebank commented on #37879
@bjorn3 building in lastest stable and master I am seeing 19 privacy errors.

[2019-10-11 22:55] SimonSapin commented on #48784
It may be worth looking at the number of bytes being copied per loop iteration, rather than simply the number of repetitions.

[2019-10-11 22:56] estebank commented on #37629
Triage: no change.

[2019-10-11 23:01] estebank commented on #39968
Current output:

[code]

[2019-10-11 23:06] estebank commented on #38936
Current output:

[code]

It should be

[code]

[2019-10-11 23:10] estebank commented on #40990
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=60c5fa3a4fda14c83bdce63c1f302f6d):

[code]

It should suggest adding a common lifetime argument to both `Reference`s.

[2019-10-11 23:13] estebank commented on #40533
Current output:

[code]

It should at least point at `trait Foo`'s supertraits.

[2019-10-11 23:23] oxalica commented on #55794
What's the status of the issue?

I prefer emitting an error in this case like the default behavior on windows.
It makes users possible to choose to handle or ignore it.
Otherwise this information is simply lost when `Ok(buffer_len)` is returned, and there is no way to check whether the message is truncated.
(Well, this can "break" some codes on unix, though I think truncated packet will eventually

[2019-10-12 02:14] djrenren opened #65323 "Messed up docs for std::task::Waker"
This should be an easy one, but the docs for `std::task::Waker` look like this:
<img width="998" alt="image" src="https://user-images.githubusercontent.com/634666/66693186-3496fc00-ec5b-11e9-9b80-a98609b0d15a.png">

But it should probably just say `Send` and `Sync` not `trait@Send` and `trait@Sync`

[2019-10-12 06:14] crlf0710 commented on #64671
This might has something to do with #62558, according to the patches in https://github.com/termux/termux-packages/issues/4324#issuecomment-538288499

[2019-10-12 06:25] #64655 closed

[2019-10-12 06:50] jeppeter opened #65325 "reopen https://github.com/rust-lang/rust/issues/52377 for 1.38 rust and it is not appear on 1.37"
i found the https://github.com/rust-lang/rust/issues/52377 bug when used new 1.38.0 rust

[2019-10-12 07:46] mati865 commented on #64671
See also https://github.com/rust-lang/rust/issues/62558#issuecomment-526138600

[2019-10-12 08:06] DustinByfuglien opened #65326 "Error E0594 is not described in docs"
Error E0594 is not described in docs
https://doc.rust-lang.org/nightly/error-index.html#E0594

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9aefb4be4f1073282116596617df32a0))

Errors:

[code]

[2019-10-12 08:36] tcbbd commented on #65279
Now I think this is related to #35919. In `f(x, y)`, we need to infer the type of `T` using `x`, so `x` is simply moved. But `T` is known after that, so `y` is reborrowed instead of being moved, this is exactly what happened in #35919.

Here's another interesting example:
[code]

[2019-10-12 08:57] JohnTitor commented on #65326
Many error codes have not long explanations, not only E0594, see the issue #61137. You can add a long explanation to the error code by opening a PR.

[2019-10-12 09:04] DustinByfuglien commented on #65326
Sorry. May be you don't understand due to my poor English.
Rust have a doc's index file at https://doc.rust-lang.org/nightly/error-index.html
It describes every error code. Errors E0593 and E0595 are described. But E0594 is absent at all.

[2019-10-12 09:06] petrochenkov commented on #64671
Some more detailed explanation of why this feature is necessary and how it works - https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/-Z.20dual-proc-macros.

[2019-10-12 09:19] sevki commented on #38206
also...
[code]

[2019-10-12 09:24] JohnTitor commented on #65326
Yes, I understand.
As far as I remember, the explanations (and error codes) in that doc are shown by adding long explanations.
E0593 and E0595 are added already, but E0594 isn't.

e.g. E0595:
https://github.com/rust-lang/rust/blob/4b42e919d640f7c714a7e87c91b4f3a9089552d0/src/librustc_mir/error_codes.rs#L2104-L2122

[2019-10-12 09:27] calixteman opened #65329 "Unhelpful error message because of inner line doc"
The code
[code]
I get this error:
[code]
Probably something like:
[code]
is more helpful because at least you can understand what's wrong (especially when you don't know inner doc comments).

[2019-10-12 09:33] DustinByfuglien commented on #65326
Thanks a lot for explanation.
So I think issue can be closed.

[2019-10-12 09:33] #65326 closed

[2019-10-12 09:52] #57964 closed

[2019-10-12 10:05] #56195 closed

[2019-10-12 10:05] #62395 closed

[2019-10-12 10:05] #64792 closed

[2019-10-12 10:05] #57271 closed

[2019-10-12 10:05] #57399 closed

[2019-10-12 10:05] #65238 closed

[2019-10-12 10:05] #65253 closed

[2019-10-12 10:05] #65259 closed

[2019-10-12 10:05] #55417 closed

[2019-10-12 10:05] #63520 closed

[2019-10-12 10:05] #65284 closed

[2019-10-12 10:40] mitchmindtree opened #65330 "rustdoc: Prefixing parent modules to distinguish between items in cases where item names would otherwise be ambiguous"
## Motivation

I often run into an issue when reading through rendered documentation where many types exist with the same name and it is unclear which type is being referred to in a function signature or type declaration.

Two simple, common examples of this are the `Result` and `Error` types. When displayed within a type declaration or function signature, the reader is unable to tell at a glance

[2019-10-12 10:48] ishitatsuyuki commented on #50655
I tried BOLT with my own build, and it performed 3% better on average. This was a rough benchmark since I'm using my laptop though, so it might be just noise.

BOLT has some caveats:
- You need a linker flag to keep relocation information for BOLT usage.
- BOLT uses enormous amount of memory (about 6GB in my case). The run time itself is not bad, it was below 30s I think.
- Perf needs to be ran wi

[2019-10-12 11:37] tspiteri opened #65333 "Unnecessary comparison and conditional branch"
This is a reopening of #37114 which was fixed in 1.28.0 but seems to have regressed again since 1.30.0.
[code]
The asm for 1.38 is
[code]

https://godbolt.org/z/SLPlgo

[2019-10-12 11:58] tspiteri commented on #65333
Hmm, this actually regressed in 1.29.2, so it's probably due to #54639.

[2019-10-12 12:15] fzzr- commented on #44580
Crashing if I used _aliases pointing to type with const-param_ from another crate (dependency).

For example:

- crate A, lib
[code]

- crate B
[code]
[crash-log (44580).txt](https://github.com/rust-lang/rust/files/3720635/crash-log.44580.txt)

[2019-10-12 12:20] est31 commented on #44580
@fzzr- sounds like #64730

[2019-10-12 12:21] est31 commented on #64730
@Centril there is a minimal example here: https://github.com/rust-lang/rust/issues/44580#issuecomment-541319443

[2019-10-12 12:24] carado commented on #44580
Also sounds like https://github.com/rust-lang/rust/issues/61624

[2019-10-12 12:26] RalfJung commented on #65233
In Miri we currently make heavy use of public re-exports. Namely, `librustc_mir::interpret` re-exports all of `librustc::mir::interpret`. I would prefer if we could keep it that way: The split of Miri between these two crates is mostly because some Miri types are needed in the wider compiler and hence have to live in `librustc`; when working inside the interpreter I generally could not care less a

[2019-10-12 12:27] RalfJung commented on #65031
One thing that would be nice to move back from librustc to librustc_mir is all the memory access logic of the Miri interpreter, which these days lives in `librustc::mir::interpret::allocation`. But @oli-obk moved it there because it is used by things that do not depend on librustc_mir, so I am not sure what it would take to make that happen.

[2019-10-12 12:33] Mark-Simulacrum commented on #65031
Can those things _not_ depend on librustc_mir, e.g., being dependencies of librustc_mir? Can @oli-obk comment on that perhaps?

[2019-10-12 12:40] jonas-schievink commented on #65325
That bug was never closed, so no need to reopen

[2019-10-12 12:40] #65325 closed

[2019-10-12 12:54] jamesmunns commented on #64301
@nnethercote does your profiling show "returning structs by value" to be a significant amount of time spent in memcpy? Since Rust doesn't have guaranteed NRVO (see https://github.com/rust-lang/rust/issues/32966 for details), I've been trying to get a feel for what kind of performance impact implementing this in MIR would cause.

This could perhaps be the cause of your mystery memcpy in https://git

[2019-10-12 12:54] petertodd commented on #65143
I'm no expert on how backwards compatibility is handled. But `Cow` implements `Deref`, which means these new methods wouldn't be backwards compatible as they'd conflict with methods of the same name on the inner object. To fix this you'll have to change them to take `cow: &Self`, similar to what most of the methods on `Box`/`Rc` etc. take.

[2019-10-12 13:06] jethrogb opened #65335 "3rd party objects missing from nightly-2019-10-12"
[code]

[2019-10-12 13:18] jethrogb commented on #65335
x86_64-unknown-linux-musl is also affected

[2019-10-12 13:42] mati865 commented on #65335
I checked `rust-std`, `rustc` and `rustc-dev` components and libs mentioned above are totally gone.

@rustbot modify labels: +T-release +C-bug

[2019-10-12 13:50] mati865 commented on #65335
Tier-1 `windows-gnu` toolchain is also broken:
[code]

[2019-10-12 13:57] petrochenkov commented on #64197
The PR trying to split the libsyntax crate apart (https://github.com/rust-lang/rust/pull/65324) has to use some hacks due to cfg-expansion being called from the parser.

[2019-10-12 14:05] pietroalbini commented on #65335
cc @rust-lang/release

[2019-10-12 14:11] pietroalbini commented on #65335
So @rust-lang/release, as the `rustc-dev` PR broke tons of tier 2 targets and even a tier 1 target, I'd say for now we should revert the change and then land it again once it's properly fixed and tested on most of the platforms we support.

I think the priority should be keeping nightly as usable as possible (thus reverting the PR), reducing the stdlib size is less important and can be done later.

[2019-10-12 14:24] RalfJung commented on #65282
PR filed: https://github.com/rust-lang/rust/pull/65339

[2019-10-12 14:45] cuviper commented on #65335
That was the intent of #68423, but I'm very sorry that I neglected these extra runtime objects. My focus is on `linux-gnu` targets, which don't ship those, so I didn't see the difference.

I'm glad you already have a fix PR!

[2019-10-12 15:10] mati865 commented on #55528
On my box running `build --release` on https://github.com/unicode-rs/unicode-normalization/commit/7c23cc9380f5255d81e39b49ebbc695476891555 takes less than 2 seconds (with `target` directory removed).

@jens1o is this still slow for you?

[2019-10-12 15:33] Centril commented on #65000
Fwiw I would personally be happy with moving both Miri and Clippy in-tree. :)

(The reference and the nomicon not so much because they are basically just a bunch of text files you can edit via the GH UI.)

[2019-10-12 15:36] RalfJung commented on #58599
One issue with these intrinsics is that they use LLVM's "unordered" atomic memory ordering, which Rust currently does not have, and I [have some reservations to adding it](https://internals.rust-lang.org/t/unordered-as-a-solution-to-bit-wise-reasoning-for-atomic-accesses/11079/6).

Are there "relaxed" versions of these intrinsics that we could use instead?

[2019-10-12 15:37] Centril commented on #65148
iirc we took a fairly explicit decision to migrate to `r#try!(...)` because migrating to `?` can break code. And we cannot be sure everyone has migrated to 2018. cc @rust-lang/lang

[2019-10-12 15:40] lzutao commented on #65148
But this is edition lint for anyone want to migrate from 2015 to 2018 edition.

[2019-10-12 16:10] RalfJung commented on #65335
Ah, this probably explains why [Miri CI is failing on Windows](https://ci.appveyor.com/project/rust-lang-libs/miri/builds/28065152/job/si6sl9fmbn2q5bfy) with this change. (Though I think that's using windows-msvc?)

Executing the compiled Miri binary just fails without any stdout/stderr indicating why.

[2019-10-12 16:11] Alexendoo commented on #39239
This got fixed in ccb2dfbfec812d1502626992a8856df27c4fa950

[2019-10-12 16:11] pietroalbini commented on #65335
We're reverting the PR that caused the regression in https://github.com/rust-lang/rust/pull/65342.

[2019-10-12 16:14] Centril opened #65343 "Tracking issue for "minimize the rust-std component""
This tracks the issue for doing the stuff mentioned in https://github.com/rust-lang/rust/pull/64823.

Also relevant:

- https://github.com/rust-lang/rust/issues/61978
- https://github.com/rust-lang/rust/issues/62486
- https://github.com/rust-lang/rust/issues/65335
- https://github.com/rust-lang/rust/pull/65337
- https://discordapp.com/channels/442252698964721669/443148290352218115/6325735422188585

[2019-10-12 16:26] bluss commented on #65333
Yes, `-Z mutable-noalias` makes the difference here. Will be fixed by #54878 again the same way :)

[2019-10-12 17:19] zmitchell opened #65344 "rust-lldb fails to load on LLDB 8.0.0"
When I run `rust-lldb` I get the following error:

[code]

I'm not sure where to begin debugging this issue. Is it a problem with the Python version used by `lldb`? Is it an error in the `lldb_rust_formatters.py` script?

This is on macOS 10.15, though I had the problem on 10.14 as well. I have `rustup` 1.19.0, `lldb` 8.0.0, and the 1.38.0 stable toolchain.

Is there anything you'd recommend looki

[2019-10-12 17:46] eddyb commented on #65271
cc @bjorn3

[2019-10-12 18:15] joshlf commented on #58599
Not sure. Anecdotally, I benchmarked a loop of relaxed atomic loads (loading from a slice of `AtomicU8`s using the `Relaxed` ordering), and found it to be ~10x slower than a loop of unsychronized loads (just accessing the elements of a slice of `u8`). I haven't benchmarked the unordered atomic memcpy intrinsics, but I suspect they'll be significantly faster.

For my use case in particular, speed i

[2019-10-12 18:19] joshlf commented on #55417
Should this really have been closed? The fix makes the error message better, but doesn't actually address the issue with the deprecation warning being emitted on the generated impl.

[2019-10-12 18:25] RalfJung commented on #58599
My current theory for why relaxed is so much slower is that LLVM is really bad at optimizing it.

I am not opposed to any unstable experimentation. I am okay with giving people enough rope to hang themselves, at least on nightly. ;)
I am surprised though that this to be enough for you to actually *use* it.

[2019-10-12 18:26] HadrienG2 commented on #58599
@joshlf The cause of this particular problem is known. LLVM's optimizer is currently unable to fuse together neighboring relaxed atomic loads and stores. According to @comex, that's an optimizer bug, and the relaxed atomic semantics should actually allow for this.

[2019-10-12 18:27] RalfJung commented on #58599
Note that relaxed vs unordered has no effect on inter-process shared memory. General consensus is still that this does and will require `volatile` -- specifically, "atomic volatile", which LLVM has but Rust does not expose.

[2019-10-12 18:28] petrochenkov commented on #55417
https://github.com/rust-lang/rust/pull/65310 should indeed address the issue and remove the deprecation warning.
Perhaps it's not in nightly yet?

[2019-10-12 18:31] bjorn3 commented on #65271
Thanks @eddyb for the cc. I will do this as part of https://github.com/rust-lang/rust/pull/65340?

[2019-10-12 18:35] joshlf commented on #55417
Ah you're probably right. I'll check again tomorrow.

[2019-10-12 18:38] Xanewok commented on #64659
So I have a fix that does not ICE but doesn't seem to actually 'fix' the behaviour. The problem is that we can't nest typeck tables for `Data` because it doesn't have one because it doesn't have a body; however we hit the assertion when trying to resolve member type `T::NodeId` when resolving a qualified path using `qpath_res` because the DefId paths don't properly match.

The fix that I have is n

[2019-10-12 18:41] joshlf commented on #58599
IIUC from the discussion in https://github.com/rust-lang/unsafe-code-guidelines/issues/152, normal volatile may be sufficient if combined with a freeze operation (which doesn't yet exist, of course)?

[2019-10-12 18:47] mqudsi commented on #63010
More context for future readers: the `Option` is specifically a "limitation" of the Windows API, as it uses a "fast mode" to get info on files when enumerating directories that avoids looking up each directory member in the filesystem index (allocation table/file table) and instead uses information cached in the directory object to return the objects faster with less IO and fewer system calls (onc

[2019-10-12 18:53] RalfJung commented on #58599
That is true *if* we adapt LLVM's handling of read-write races. So, we would be deviating from C++ concurrency there as well. This is slightly better studied than LLVM's handling of write-write races, but that doesn't say much (as the latter is entirely unstudied to my knowledge).

[2019-10-12 19:04] DutchGhost opened #65348 "const fn ICE on nightly"
The following ICE's on nightly only:

[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

This ICE is the same as reported in https://github.com/rust-lang/rust/issues/64945 , however the example given there currently runs fine without any errors.

[2019-10-12 19:25] Centril commented on #65348
cc @ecstatic-morse @oli-obk @eddyb

[2019-10-12 19:40] nnethercote commented on #64301
#64374 was one such case. In general, it doesn't seem like a big fraction of the `memcpy` calls, though. I wonder about return values that are less than 128 bytes, though.

[2019-10-12 20:12] ecstatic-morse commented on #65348
As the OP notes, this is closely related to #64945. To fix that problem, zero-length arrays were special-cased so that they are never marked as indirectly mutable. However, this did not extend to *projections* of zero-sized types. When compiling this code, the `IndirectlyMutableLocals` analysis sees a reference being taken to a place of type `T`, which it cannot assume is `Freeze`. I should be abl

[2019-10-12 20:22] skinny121 opened #65349 "Improve pretty printing of const raw pointers"
#64986 changed the pretty-printing of const raw pointers to `{pointer}`. This can cause confusing diagnostics due to the lack of detail the printing of raw pointers provides, like the following:
[code]

[2019-10-12 20:25] jugglerchris commented on #65148
@Centril under what circumstances can `?` break code compared to `r#try!(...)`?

[2019-10-12 20:42] Centril commented on #65148
The lowering of `?` has `.into()` and uses type inference more as compared to `try!(...)`.

[2019-10-12 20:59] Centril commented on #65233
Would you be OK with just `#[allow(...)]`ing the lint for this specific re-export for now?

[2019-10-12 21:10] RalfJung commented on #65233
Sure, the question is more if you'd be okay with that. ;)

[2019-10-12 21:20] BatmanAoD commented on #65303
I'm not sure this sort of implementation work is within the purview of [the unwind-FFI project charter](https://github.com/nikomatsakis/project-ffi-unwind/blob/master/charter.md), but I agree with you that the refactor and fix should happen.

[2019-10-12 21:22] #39239 closed

[2019-10-12 21:22] Mark-Simulacrum commented on #39239
This is such an edge case that a test probably isn't really worth it and would be somewhat hard due to constraints on space/time on CI.

[2019-10-12 21:27] Mark-Simulacrum commented on #65344
Just to check, that file exists, right?

Other than that not sure really how to debug this. Which version of python are you using?

[2019-10-12 21:33] Mark-Simulacrum commented on #65306
Can you provide source code in some fashion? I wonder if this might be aided by @tmandry's recent work optimizing `rustc_typeck::check::check_item_type` -- https://github.com/rust-lang/rust/issues/65147?

Since the backtrace seems to show us in "try_expand_impl_trait" here as well I'm going to presume that the answer is yes and close as a duplicate; you can probably check locally by using [rustup-

[2019-10-12 21:33] #65306 closed

[2019-10-12 21:37] Mark-Simulacrum commented on #65279
Unfortunately I don't think this is really actionable -- this is certainly a subtle area of the language but I do not believe we can make any real improvements to documentation here given how "in the weeds" this is. I'm going to close to that effect, especially since #35919 as you mention covers similar ground (so, in some sense, though not a perfect one, this is a close-to-duplicate).

[2019-10-12 21:37] #65279 closed

[2019-10-12 21:41] Mark-Simulacrum commented on #65269
This https://github.com/rust-lang/rust/blob/152527f443c51517bb867befa93809ce5b9b1cd1/src/librustc/middle/resolve_lifetime.rs#L1147-L1158 piece of code should be converted to emitting a lint versus a warning, I think

[2019-10-12 21:50] lnicola commented on #64301
Referencing https://github.com/kvark/copyless here, since it can be used to avoid some extra copies.

[2019-10-12 22:01] magnet commented on #65306
That was a good guess! My project also uses async/await heavily. I've tried the commit you mentioned and the performance is even better than before.

Cold cargo check with the toolchain from that `0d2ff89f766a2f16a09c41ee7c65453980e81908`:
`Finished dev [unoptimized + debuginfo] target(s) in 1m 36s`

(compared to 12m last time I tried with a recent nightly).

[2019-10-12 22:04] #65084 closed

[2019-10-12 22:04] #65085 closed

[2019-10-12 22:20] darkoverlordofdata opened #65350 "Compiling can take hours."
I've heard that rustc is slow, but I'm actually running into 30 to 120 minute compile times. I only installed rustc yeasterday: rustc 1.38.0 (625451e37 2019-09-23) on Debian Buster. I've tried cloning a couple of game engines from github to compare - Piston, gglz, glium plus a random opengl demo program (github.com/bwasty/learn-opengl-rs).

It is taking forever to compile the example code - learn-

[2019-10-12 22:22] jonas-schievink commented on #65350
Are you hitting swap during compilation?

[2019-10-12 22:25] jonas-schievink commented on #65350
This isn't Rusts fault, but it does sound very untypical. Perhaps investigate what's causing this and report an issue upstream? It might also be an issue with your system.

[2019-10-12 22:38] Mark-Simulacrum commented on #65132
I am fairly certain that the use case of wanting very precise allocation patterns is just not really feasible to support with off-the-shelf solutions intended for general consumption -- if you want to internally "rely" on the behavior of VecDeque to allocate 2<sup>x</sup> - 1 then certainly that's possible via an extension trait that provides your `with_capacity_exact` method or something like it

[2019-10-12 22:38] #65132 closed

[2019-10-12 22:45] Mark-Simulacrum commented on #64727
Seems like the right API here is actually `fn from_utf_8_lossy_in_place(bytes: &mut [u8]) -> &mut str`, since I believe there is never a need to allocate more bytes. Unfortunately I guess we'd need two APIs for this to be perfect, one on String as well, since there's no safe way to get from running this function to a `String` of the bytes, right? The only safe way would be to do `String::from_utf8

[2019-10-12 23:01] Centril commented on #65233
Yeah sure, doesn't have to be all / at once or nothing with internal lints. :)

[2019-10-12 23:19] Lokathor commented on #64727
1) I don't want slice to slice. I definitely want owned to owned. I'm not sure why you'd think that slice to slice is somehow more correct. My goal is that _whenever possible_ no additional allocations will immediately happen during the conversion (obviously this isn't always possible).
2) You _definitely_ can have byte sequences where the lossy conversion into utf8 makes the sequence longer and t

[2019-10-13 01:01] guanqun opened #65352 "unable to build on windows when "optimize = false""
When "optimize" in `config.toml` is set to `false`, windows build msvc is unable to build properly. It's due to the limitation of 65535 objects in the linker object.

see following error:

[code]

[2019-10-13 01:59] Mark-Simulacrum commented on #65352
Unfortunately I suspect we both can't really and shouldn't do anything here. A non optimized build is going to be too slow for any meaningful work. I believe there are similar pre-existing issues for the general case of this bug, though I don't recall if they have any resolution.

[2019-10-13 01:59] #65352 closed

[2019-10-13 02:00] dtolnay opened #65354 "Remove disambiguator from intra doc link text"
[code]

This is currently rendered as:

The links point to the right place (the trait and the fn respectively) but I believe the link text should be just "`Name`" for both.

Discovered in https://github.com/rust-lang/rust/pull/65336.

*Mentioning the tracking issue: #43466*

This issue has been assigned to @jyn514 via [this comment](https://github.com/rust-lang/rust/issues/65354#issuecomment-65397

[2019-10-13 02:02] Mark-Simulacrum commented on #64727
Hm, I had thought that the lossy conversion always replaced a single byte with a single byte, if that's not the case then the slice case is indeed not all that helpful probably. If this was true then the slice case would be good to have as a more general form, though.

[2019-10-13 02:03] dtolnay commented on #43466
I filed https://github.com/rust-lang/rust/issues/65354 to have the disambiguator stripped from the link text in something like
```/// [`trait@Name`]```.

[2019-10-13 02:21] guanqun commented on #65352
Then should we just get rid of this option in `config.toml`, if it's exposed, it's supposed to be working...

[2019-10-13 02:44] Mark-Simulacrum commented on #65352
You're probably not wrong, it's mostly that no one has gotten around to doing so.

[2019-10-13 02:52] clarfon commented on #43466
Is there any centralised documentation for how exactly this feature works, considering how it's changed so much from the initial RFC? Like, specifically document what kinds of links should work and which shouldn't, and if parts of the text are removed from the final result?

Like, I get that it's not going to be stabilised any time soon, but many folks use this feature and it's hard to reason whic

[2019-10-13 03:04] nagisa commented on #65350
I have no trouble whatsoever compiling stuff on a 4th gen Intel mobile part. 30-120 mins sound so unreasonable that it would point at some hardware or system configuration issue. Could you please try to reproduce this on another machine?

[2019-10-13 03:20] Centril commented on #57012
Canceling FCP here in favor of the one in https://github.com/rust-lang/rust/pull/65355.

@rfcbot cancel

[2019-10-13 03:38] rust-highfive opened #65356 "`miri` no longer builds after rust-lang/rust#64873"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64873, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @popzxc, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @wesleywiser, the PR reviewer, and nominating for compiler

[2019-10-13 04:44] popzxc commented on #65356
Yeah, I will try to figure out how to fix `miri`.

[2019-10-13 05:36] jhpratt commented on #59833
Any updates on this issue? I'm running into it now, and there's no trivial workaround if the module isn't also public.

[2019-10-13 06:32] phansch commented on #65356
@popzxc I'm not sure where the logs for the miri failure are, but if it's failing because of the renamed testopt, I have a PR for compiletest-rs open with a potential fix: https://github.com/laumann/compiletest-rs/pull/189

[2019-10-13 06:36] popzxc commented on #65356
Sure, no problem.

[2019-10-13 07:18] guanqun commented on #65352
I'll check if it's easy to create a patch to remove this.

[2019-10-13 08:03] chocol4te commented on #65257
@steveklabnik Wait, so should I unassign here, and assign to the new issue?

[2019-10-13 09:17] Baranowski commented on #52082
I believe this issue can now be closed.

[2019-10-13 09:25] JohnTitor commented on #61455
This is still ICE but needs `#![feature(const_compare_raw_pointers)]` feature gate. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b06b452b8dfb34b20e50d4bb2a4ce3fb)

[2019-10-13 09:27] RalfJung commented on #65356
We had avoided the "nightly" feature of compiletest-rs in Miri exactly because of this... But recently enabled it again due to other failures. Should we rather try to use the stable variant again?

[2019-10-13 09:50] phansch commented on #65356
Both variants are currently not working:

* https://github.com/laumann/compiletest-rs/pull/189 should fix the nightly variant
* https://github.com/laumann/compiletest-rs/pull/187 fixes the stable variant

[2019-10-13 09:58] james-darkfox commented on #63154
Thanks @pnkfelix !

[2019-10-13 10:27] ebkalderon opened #65367 "Output filename collisions and ICE with 'cargo doc' on 1.38.0"
## Summary

I was attempting to run `cargo doc --open` at the top level of a Cargo workspace, which resulted in several warnings regarding output filename collisions for `lexical-core`, `proc_macro2`,  `quote`, `syn`, and `unicode-xid` (https://github.com/rust-lang/cargo/issues/6313).

Later on, there is an internal compiler error caused by [lexical-core 0.4.6](https://docs.rs/crate/lexical-core/0

[2019-10-13 10:37] ebkalderon commented on #65367
After further investigation, it seems unlikely that this ICE has anything to do with Cargo workspaces. This bug appears to be isolated to the `nix-parser` crate.

Removing the `nix-parser` crate from the workspace members, entering the `nix-parser` subdirectory, and running `cargo doc --open` still results in the same ICE:

[code]

One thing to note here is that `nix-parser` depends directly on `l

[2019-10-13 10:50] ebkalderon commented on #65367
Also, I should mention that running `cargo build`, `cargo run`, or `cargo bench` at either the repo root or in the `nix-parser` subdirectory do not result in "output filename collision" warnings. The bug causing this ICE appears to be localized to `rustdoc` and/or `cargo doc`.

[2019-10-13 10:57] oli-obk commented on #65000
Maybe we could use a git subtree scheme so that we can have the benefits of a separate repo for features combined with the benefits of the monorepo

[2019-10-13 11:09] jonas-schievink commented on #65367
Does it also happen on nightly? Is there an older stable version for which this doesn't happen?

[2019-10-13 11:13] ebkalderon commented on #65367
@jonas-schievink I'm checking the latest nightly right now, and I will report back back with my findings. I haven't tried this project with any older stable versions, but I'll try to roll back to 1.37.0 and see what happens.

[2019-10-13 11:23] jonas-schievink commented on #65367
Ah, it uses `lexical-core`, so this is a duplicate of https://github.com/rust-lang/rust/issues/64705. Closing in favor of that, but thanks for filing anyways!

[2019-10-13 11:23] #65367 closed

[2019-10-13 11:27] ebkalderon commented on #65367
Awesome, good to know I'm not the only one affected! With that said, the ICE still occurs on the latest 1.40.0-nightly but doesn't occur on 1.37.0. Running `cargo doc --open` at the workspace root, I get the following results:

## Nightly toolchain information

* `rustc 1.40.0-nightly (1721c9685 2019-10-12)`
* `rustdoc 1.40.0-nightly (1721c9685 2019-10-12)`

<details><summary>Output file collision

[2019-10-13 11:30] ebkalderon commented on #64705
I can confirm that this ICE does not occur on Rust 1.37.0 stable (https://github.com/rust-lang/rust/issues/65367#issuecomment-541410222). This might be a regression that slipped through the stable release somehow.

[2019-10-13 12:21] petrochenkov opened #65371 "Lint `bare_trait_objects` doesn't warn on traits used as types in paths"
Example:
[code]
According to the logic of the lint there should be a suggestion to rewrite `Tr::method` as `<dyn Tr>::method`.

[2019-10-13 12:36] Alexendoo commented on #40231
Error 1 no longer ICEs as of 1.38, Error 2 as of 1.30

[2019-10-13 12:45] crlf0710 opened #65372 "type_name doesn't get correct type_name with const generics."
Example code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2dd38f47a052e3545fad6cd1249d6a6a
[code]

[2019-10-13 13:22] Alexendoo commented on #44022
Same ICE as #43037

[2019-10-13 13:22] #44022 closed

[2019-10-13 13:23] jeppeter opened #65374 "still os error 122 on the memory file system z:\ when compiling with cargo"
i found a bug on the cargo .the code in windows 7 x64 platform with rust-1.37.0-msvc

main.rs
########main.rs fle start
use regex::Regex;

fn main() {
    let re = Regex::new(r"(?x)
(?P<year>\d{4})
-
(?P<month>\d{2})
-
(?P<day>\d{2})
").unwrap();
    let caps = re.captures("2010-03-14").unwrap();

    assert_eq!("2010", &caps["year"]);
    assert_eq!("03", &caps["month"]);
    assert_eq!("14", &ca

[2019-10-13 13:35] jonas-schievink commented on #52377
Inlining `error.txt` so people don't have to download and open it:

[code]

[2019-10-13 13:38] jonas-schievink commented on #65374
Please use code fences so the issue is easier to read.

Based on the error message, this does not look like a duplicate of https://github.com/rust-lang/rust/issues/52377.

The compiler doesn't work very well on ramdisks and network shares on Windows, so to work around this bug you can develop on your local file system instead.

[2019-10-13 13:40] jonas-schievink commented on #65374
Ah, nevermind, it is a duplicate of https://github.com/rust-lang/rust/issues/52377. Please don't open duplicate intentionally, there's no value in having multiple issues for the same bug.

[2019-10-13 13:40] #65374 closed

[2019-10-13 13:41] jonas-schievink commented on #52377
Error 122 is `ERROR_INSUFFICIENT_BUFFER`.

[2019-10-13 14:21] leo-lb opened #65378 "Build artifact privacy"
Hello,

I am looking into a compile time option (`-Zsource-info-strip` ?) that would strip away from any built artifact information (especially panic debug strings) about the source code and the machine that was used to build.

Which would mean making `core:module_path!()`, `core::stringify!()`, `core::file!()`, `core::line!()` and `core::column!()` return an empty string.

I could not find where

[2019-10-13 14:30] bluss commented on #65378
They are here:

https://github.com/rust-lang/rust/blob/29b6e0f0a1d1a37f8dc729484a64e59bf0b9a0a3/src/libsyntax_ext/source_util.rs#L19-L51

[2019-10-13 14:59] varkor opened #65380 "Constants are printed as `_`, even when their value is known"
[code]
Seen in https://github.com/rust-lang/rust/pull/65365/files#diff-5f3259ccaa0ac2f4805ec7379527c987.

[2019-10-13 15:06] Alexendoo commented on #53092
Updated reproduction:

[code]

[2019-10-13 15:06] Aloso commented on #65254
@Centril I'm not sure if this is a good idea, because `let` is usually used to create variable bindings. But with `let` expressions, the scope of these variables can get much more complicated. Example:

[code]

[2019-10-13 15:11] ultrasaurus opened #65381 "missing `fn` before `main()` -- error could be improved"
As a newcomer to Rust, sometimes I forget `fn` before `main()` and the error message doesn't make sense in this instance:

Example file:

[code]

Error message
[code]

suggested change:

"^ expected prior `fn` for a function declaration or suffix `!` for a macro"

I'm not familiar with a case where `::` would make sense here without other changes too.

[2019-10-13 15:11] Centril commented on #65257
@chocol4te Nah, just use this one.

[2019-10-13 15:14] Centril commented on #65254
@Aloso It's probably best to discuss that once an RFC is made but let's not do it here. :)

[2019-10-13 15:17] #58385 closed

[2019-10-13 15:17] #61058 closed

[2019-10-13 15:17] #65282 closed

[2019-10-13 15:17] #65300 closed

[2019-10-13 15:28] Alexendoo commented on #55873
No longer appears to ICE

[2019-10-13 15:32] LiamTheProgrammer opened #65383 "Could not find enclosing breakable with id HirId"
I tried to compile some massive project and the rust compiler unexpectedly panicked. Luckily, I have managed to replicate the error in a small, reproducible example (still panics on rust playground online, 11 lines of code):
[code]

I expected a regular error without a panic, but the compiler simply halted.

Output of RUST_BACKTRACE=1 rustc ~/Desktop/rust_bug.rs -o bug.out -C debuginfo=2:
[code]

[2019-10-13 15:47] Centril commented on #65381
cc @estebank @petrochenkov -- While this would be good to fix, it is probably difficult and I suspect it requires some thought to avoid erroring on e.g. `main();` (a function call -- consider function defs as "statements"). Also, I would like to merge the function grammars (free, foreign, trait, impl) before adding a diagnostic here to ensure that they can still be merged.

[2019-10-13 15:57] the8472 commented on #65378
Is the reproducibility tag appropriate? Path stripping seems overkill for that instead of relativizing them to the project root.

[2019-10-13 16:10] Centril commented on #65383
Maximal reduction:
[code]

This didn't ICE in 1.37.0 (checked with godbolt).

[2019-10-13 16:14] jonas-schievink commented on #65378
@the8472 Yeah, and I thought we had something like that already but couldn't find it first. It's `--remap-path-prefix`.

This issue seems to be for hiding info about the compiled *source code* though, which is something different than hiding info about the build environment.

`stringify!` probably doesn't need to be changed in any case, it would probably break a lot of crates and doesn't interact

[2019-10-13 16:26] estebank commented on #65381
Note that [we already do this for trait items](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8eb34e1b7e67430b73516dd03a7f37c). In those cases we already do some bounded lookahead to look for `{` or `;` to make sure the suggestion is correct. In this case it would only look for `{`.

[2019-10-13 16:34] wesleywiser commented on #65350
According to Dell, the Inspiron 3521 has [between 2-8gb of RAM stock](https://www.dell.com/us/dfh/p/inspiron-15-3521/pd). As @jonas-schievink mentioned, you're probably hitting swap which will significantly hurt compile times. You might try limiting the amount of parallel `rustc` processes which should use less memory by passing the `-j` option to cargo. For example, `cargo build -j 1`.

[2019-10-13 16:38] DutchGhost commented on #53345
Existential types aren't really a thing anymore, so the example code above fails to compile.

However, this compiles now:
[code]

Im not sure this should be allowed.

[2019-10-13 16:43] Centril commented on #53345
cc @Aaron1011 @nikomatsakis

[2019-10-13 16:43] Centril commented on #53345
@DutchGhost can you file that as a new issue (and close this one)?

[2019-10-13 17:03] DutchGhost opened #65384 "impl-trait type alias is usable in impl blocks"
As requested in https://github.com/rust-lang/rust/issues/53345#issuecomment-541434579, here's a follow up.

The following code below implements the trait `MyTrait` for an alias `Bar`, which is an alias to `MyTrait`. It doesnt really make sense to implement a trait...for that same trait.

[type_alias_impl_trait](https://github.com/rust-lang/rfcs/blob/master/text/2515-type_alias_impl_trait.md) doesn

[2019-10-13 17:03] DutchGhost commented on #53345
Closing this in favor of https://github.com/rust-lang/rust/issues/65384

[2019-10-13 17:04] #53345 closed

[2019-10-13 17:06] phansch commented on #64205
Same here :sweat_smile:

Yup, at least one of those tests should fail with our panic message. I think
`src/test/ui/proc-macro/multispan.rs` would be a good candidate to copy.
Apart from the instructions, I think you'll also have to make sure to update the
path to the auxiliary file in the test header or copy the auxiliary file, too.
(The `aux` header allows to specify a second (or more) local crat

[2019-10-13 17:12] ultrasaurus opened #65386 "tuple variant error message is confusing"
originally described in blog post: https://www.ultrasaurus.com/2019/10/rust-whats-a-tuple-variant/

sample code:
[code]

error message:
[code]

Error message suggestions:

- [ ] From @estebank [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=280fbc298c88c11b2a73c9d32b3c3424)
   - [x] point to line 2 (even if defined in standard library) *and* the compiled code

[2019-10-13 17:16] Osspial opened #65387 "On Windows, winapi no longer builds with latest pc-windows-gnu nightlies"
This error seems to have been introduced by `rust version 1.40.0-nightly (6767d9b90 2019-10-11)`. To reproduce, clone https://github.com/retep998/winapi-rs.git on a Windows system and build with `nightly-2019-10-11-x86_64-pc-windows-gnu`. Building with `nightly-2019-10-10-x86_64-pc-windows-gnu` seems to work fine, though.

This was discovered with Winit's Appveyor builds started failing on the lat

[2019-10-13 17:20] jonas-schievink commented on #65387
duplicate of https://github.com/rust-lang/rust/issues/65335

[2019-10-13 17:20] #65387 closed