[2019-07-12 01:10] jethrogb commented on #62397
And what about all the tests?

[2019-07-12 01:22] #62347 closed

[2019-07-12 02:34] tmandry commented on #62338
Ping @matthiaskrgr, are you still working on this?

[2019-07-12 02:58] inv2004 commented on #57017
@Mark-Simulacrum
Is it the same problem?

https://gist.github.com/inv2004/9593c35216ee7a94268eb39f47ecaa52

[2019-07-12 04:24] Gankro commented on #62350
it would certainly be great if you uplifted this, but we have to work around it for the next few weeks anyway

[2019-07-12 04:53] limira opened #62609 "Update error message for `self`"
I did some search and find no similar issue, so here is my report:

Compile the following code:
[code]
Give the error:
[code]
Think the **last line** of the error message should be updated to match the current status: https://doc.rust-lang.org/reference/items/associated-items.html which states:

[2019-07-12 05:51] pietroalbini commented on #62276
@EricRahm yes, beta is still not fixed. The fix was nominated for beta backport though, so once the team approves we will backport it to the beta branch.

[2019-07-12 06:17] limira commented on #62609
But it is better if Rust supports `self: &Rc<Self>`, is it possible?

[2019-07-12 06:35] retep998 commented on #62588
We can't change `#[link(name = "dylib")]` to look for `dylib.dll.lib`, due to the inherent limitations of relying on an external linker.

Producing `dylib.dll.lib` is intentional to not conflict with `dylib.lib` for static libraries.

I doubt there's anything we can do about this.

[2019-07-12 06:52] lnicola commented on #62586
Why doesn't the compiler tell why the call is ambiguous? It could enumerate the implementations that as_ref() could come from.

[2019-07-12 07:03] ralfbiedert commented on #62588
I'm not sure I follow.  When invoking the linker for `dylib_test`, doesn't Rust know already that `dylib` is a `[dependency]` of `crate-type = [ "cdylib" ]` and that it just produced a `dylib.dll.lib` for it?

If during compilation of the `dylib` there can be logic to prevent a name conflict, can't there be the same logic when preparing the lib names during linking?

[2019-07-12 07:34] hellow554 commented on #62609
It's not yet possible. See the compiler output:

See [the unstable book](https://doc.rust-lang.org/unstable-book/language-features/arbitrary-self-types.html) for that feature flag. So you have to use a nightly compiler and opt into that feature to use it. There's nothing werong here. The reference is referencing the nightly compiler and not the stable one.

[2019-07-12 07:36] hellow554 commented on #62602
But benchmarks are typically run with `cargo bench` and are living in the "bench" folder in contrast to tests which live in the "test" folder.  See the cargo book about it (https://doc.rust-lang.org/cargo/commands/cargo-bench.html)

[2019-07-12 08:40] Mark-Simulacrum commented on #57017
My understanding is yes; but I can't be certain.

[2019-07-12 09:22] dignifiedquire opened #62611 "LLVM ERROR: out of memory with latest nightly (Windows)"
I am trying to upgrade rust nightly in a project of mine and getting `out of memory` errors due to that, only on Windows though.

- old rust version: rustc 1.37.0-nightly (0dc9e9c10 2019-06-15)
- new rust version: rustc 1.38.0-nightly (0b680cfce 2019-07-09)

Build log of the failure on appveyor: https://ci.appveyor.com/project/dignifiedquire/deltachat-core-rust/builds/25928022

The failure occurs

[2019-07-12 09:24] athei opened #62612 "core crate build fails for mips16 instruction set"
I am writing bare metal code for a mipsel cpu. Since there is no readily available target for hat in rustc I use `cargo xbuild` to build one from a target specification that I derived from the mipsel linux target. This works great and the resulting code runs on the CPU. The CPU I am using supports mips16 ISA to improve code density. However, when I enable the feature in my target spec I get the fo

[2019-07-12 09:26] RalfJung commented on #62410
@GuillaumeGomez I do not follow your reasoning. Are you saying that *better* marking code as UB will lead to people paying *less* attention to that marker? That seems very unplausible to me. How would someone who pays so little attention that they ignore a fat red warning light, not be much likely to ignore the comments and surrounding text that we currently have?

Of course documentation demonstr

[2019-07-12 10:11] pnkfelix commented on #62411
Hmm yes. This may be an unfortunate artifact of how this implementation is trying to detect instances  of ADT's missing structural match: It traverses the structure of the type itself, which means it visits every variant of an enum type, *including* variants that are unused by the const item in question.

I suspect we can fix this. I don't think I'm going to be able to do so before I go on leave,

[2019-07-12 10:22] pnkfelix opened #62614 "indirect_structural_match lint misfiring on enum variant unused in const item"
(Spawned off of https://github.com/rust-lang/rust/issues/62411#issuecomment-510604193)

Consider this code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=449daf68183e9566fc106b070fdaeb10)):

[code]

In stable and beta, it compiles without warning.

In nightly, it compiles with the following diagnostic warning (#62411):

[code]

This is probably not what we want fo

[2019-07-12 10:22] pnkfelix commented on #62411
@seanmonstar filed as #62614

[2019-07-12 10:29] pnkfelix commented on #62614
My current thinking is that maybe we should revert PR #62339.

 * The "right way" to do this, I think, isn't going to use a type-visitor at all, so the code there is going to be thrown away anyway.

 * I'm not going to have time to fix it properly today, and after today I'm going to be gone for 8 weeks, which means if nothing is done, the current behavior will propagate to beta.

 * So the only qu

[2019-07-12 10:43] pnkfelix commented on #62083
I think the compiler should be given a lot of freedom about how much it takes control-flow into account when it performs its linting analyses.

So I would be fine with the compiler emitting the warning here, or not emitting the warning here.

But others may have differing opinions. I'm going to nominate this for discussion at the T-compiler meeting.
 * (Perhaps we can try to draw up some sort of f

[2019-07-12 11:13] Mark-Simulacrum opened #62616 "[1.38] rayon failing test"
* rayon-1.1.0: [start](https://crater-reports.s3.amazonaws.com/beta-1.37-1/1.36.0/reg/rayon-1.1.0/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.37-1/beta-2019-07-04/reg/rayon-1.1.0/log.txt); cc @cuviper

Haven't actually attempted to reproduce this locally but looks like something that might be worth looking at.

[2019-07-12 11:17] Mark-Simulacrum opened #62617 "[1.38] Placement new syntax no longer parses"
root: mbox 0.3.1; cc @kennytm causes:
  * resin-os/healthdog-rs: [start](https://crater-reports.s3.amazonaws.com/beta-1.37-1/1.36.0/gh/resin-os.healthdog-rs/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.37-1/beta-2019-07-04/gh/resin-os.healthdog-rs/log.txt); cc `@willnewton`

root: rayon-hash 0.2.0 cc @cuviper
  * coder543/xray: [start](https://crater-reports.s3.amazonaws.com/be

[2019-07-12 11:19] Mark-Simulacrum commented on #62389
Filed:
 * https://github.com/rust-lang/rust/issues/62616
 * https://github.com/rust-lang/rust/issues/62617

[2019-07-12 11:27] pnkfelix commented on #62614
New thought (since PR #62339 *did* include some useful fixes to e.g. ICEs): don't revert, "just" change the lint to default to `Allow` for now. We can move its default to `Warn` after I fix #62614

[2019-07-12 11:38] kennytm commented on #62617
The `<-` support in `mbox` has been removed in 0.5.0.

The `mbox 0.3.1` dependency was introduced by `systemd 0.1.0`, but the current version is `systemd 0.4.0` which doesn't depend on `mbox`.

`resin-os/healthdog-rs` depends on `systemd 0.*` so a `cargo update` is enough to remove the broken `mbox` dependency.

FYI @willnewton you may want to run `cargo update` to update the `Cargo.lock`.

[2019-07-12 11:49] gnzlbg opened #62618 "Dependency check of the tidy tool should verify the license"
Currently, in the dependency-check of the tidy tool, dependencies having an incompatible license are white-listed, and the actual license is documented in a comment.

Instead, the actual license should be documented in code, and the tool should check that the license is actually correct. When updating dependencies, the license might silently change into an incompatible one, and right now we don't

[2019-07-12 12:03] gnzlbg opened #62619 "Dependency check of the tidy tool should verify libstd dependencies"
There is a documentation comment explicitly saying that it is **crucial** for libcore,liballoc,libstd not to depend on any crate with incompatible licenses, yet a couple of lines after there is an exemption that does precisely this: https://github.com/rust-lang/rust/blob/master/src/tools/tidy/src/deps.rs#L25

AFAICT, this property of the runtime is not verified by the tidy script, but should.

[2019-07-12 12:04] #49269 closed

[2019-07-12 12:10] gnzlbg opened #62620 "Code under the 2-clause-BSD license is not documented as a compatible license for the Rust runtime"
The 2-clause-BSD license is not documented in the tidy script as being a compatible license for the rust runtime dependencies. We used to ship BSD licensed code as part of libstd until recently: https://github.com/rust-lang/rust/commit/0b85b64d6b70b100f6222a96ff2337c302b386f1#diff-4131508972c86fdd799a5f7d41fdd323 and we shipped jemalloc for a long time as part of the runtime on many targets.

We s

[2019-07-12 12:15] hiddenhare opened #62621 "Function items will not coerce to function pointers when inferring the type of a generic function argument with a trait bound"
Function items do not coerce to fn pointer types when they are passed as a generic function parameter with a trait bound. A manual cast or type annotation is required.

    trait Foo {}
    impl Foo for fn() {}

    fn non_generic(_f: fn()) {}
    fn generic_without_bound<F>(_f: F) {}
    fn generic_with_bound<F: Foo>(_f: F) {}

    fn function_item() {}

    fn main() {
        //succeeds

[2019-07-12 12:24] gnzlbg commented on #62621
This is by design. Every function item gets its own anonymous type, just like closures. That's why you need the cast, and why the error message says that the type of the function is `fn() {function_item}` and not just `fn()`. There is an issue opened for a better error message in #62385

[2019-07-12 12:28] jonas-schievink commented on #62621
Closing in favor of the diagnostics improvements in #62385, or an appropriate RFC adding these coercions

[2019-07-12 12:28] #62621 closed

[2019-07-12 12:32] hiddenhare commented on #62621
Thanks folks. Looks like my main misunderstanding was that I failed to spot this information in the nomicon: "Note that we do not perform coercions when matching traits [...] If there is an impl for some type `U` and `T` coerces to `U`, that does not constitute an implementation for `T`."

[2019-07-12 12:49] GuillaumeGomez commented on #62410
No, the opposite. Some examples that should have it will certainly not have it (for whatever reasons, such things happen) and users won't pay attention and just use it as is since they don't see this visual marker.

Which makes the situation worse in case a code blocks that should have this marker doesn't have it like I said above.

[2019-07-12 13:25] runiq commented on #62149
I was with you until your last parenthesized point. @withoutboats' writeup makes it pretty clear for me that, if the unsafety is dealt with at the call site, what you actually have *is* an `unsafe fn` (that happens to be called in an async context).

I'd say we paint the bikeshed `async unsafe fn`.

[2019-07-12 13:42] pnkfelix commented on #62614
when/if PR #62623 lands, the stable-to-nightly regression aspect of this issue can be removed.

[2019-07-12 13:42] pnkfelix commented on #62411
... and filed PR #62614 as a way to address the problem in the short-term.

[2019-07-12 14:28] nikomatsakis commented on #50592
We discussed this a bit on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2350592.20extract.20bit-related.20types.20to.20crate/near/170720149), and we had the idea that we should start by just creating the crate in tree before we talk about moving it out of tree.

Here are some mentoring instructions for how we would go about it:

- Create a directory `src/librustc

[2019-07-12 14:33] nikomatsakis commented on #57893
One final note:

We discussed, somewhat speculatively, the idea that if we took the third option, where users can write their own impl of a trait for `dyn Trait`, that it might enable an alternative to the `where Self: Sized` hack. The idea would be that if you have a trait that contains non-object-safe methods, you can define it yourself for the `dyn` type. This would be a non-trivial bit of desi

[2019-07-12 14:43] withoutboats commented on #62149
I think that `async unsafe fn` makes more sense, but I also think that we should grammatically accept any order among async, unsafe, and const.

[2019-07-12 15:07] limira commented on #62609
At least `self: Rc<Self>` [works on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6e53aefd23aaab09a54970a190d08c79) (unless I am confused), but the error message only suggest `&self`, `&mut self`, or `self: Box<Self>`.

[2019-07-12 15:11] hellow554 commented on #62609
Upsidaisy. you're right, my bad. Would you think you could do a PR and improve that? Should be fairly easy. Ask here if you need some guidance.

[2019-07-12 15:16] withoutboats commented on #60784
I wouldn't want to stabilize this with the private type hack it currently uses, so I think a blocker on stabilizing this API is one of these two things:

1. Making non-overrideable methods in traits.
2. Making methods which are unsafe to implement (not to call) without making the entire trait unsafe to implement.

[2019-07-12 15:17] jonhoo opened #62625 "Add Option::err_or* to complement Option::ok_or*"
We already have `Option::ok_or` and `Option::ok_or_else` to go from `Option<T>` to `Result<T, _>`, but we have no method to perform the opposite conversion from `Option<E>` to `Result<_, E>`.

(Eventual) tracking issue for #62624.

[2019-07-12 15:30] #61239 closed

[2019-07-12 15:33] shamatar commented on #44580
This is crossing with a recent implementation of some `[T; N]` arrays for `N <= 32` as const generics, but the following code does not compile

[2019-07-12 15:42] davidbolvansky commented on #58083
Implemented in LLVM 9.

[2019-07-12 15:47] pengowen123 commented on #44580
@shamatar `N*2` should be surrounded with curly braces like `[u64; {N*2}]

I think the "trait not implemented" errors come from the derive macros not adding the bound for `[u64; {N*2}]`, but if the derives are removed there is an ICE currently:

[code]

[2019-07-12 15:48] nikic commented on #58083
For reference: https://reviews.llvm.org/D64285 (This won't be part of https://github.com/rust-lang/rust/pull/62592 though.)

[2019-07-12 16:00] npmccallum commented on #44580
This code does not compile:

[code]

[code]

[2019-07-12 16:04] est31 commented on #44580
@npmccallum you need to do `Foo<{X}>`

[2019-07-12 16:06] JulianGindi commented on #62397
Good question. I'm a bit less confident with figuring out how to handle those tests. I removed `mem::uninitialized` from CloudAbi and std::io::util and tests still pass. I can submit a PR with just that change, but I want to remove it from the tests as well if that's appropriate.

My progress can be [viewed here](https://github.com/rust-lang/rust/compare/master...JulianGindi:replace-mem-uninitiali

[2019-07-12 16:11] limira commented on #62609
I do a quick search and found at least 3 instances of `help` with the same content in [wfcheck: the first here](https://github.com/rust-lang/rust/blob/71f9384e3bec467158a628e2d11e77ffada16a90/src/librustc_typeck/check/wfcheck.rs#L807), the second on `L825`, the third is on `L832` (all in the same file). If I do it, I want to replace them with a
[code]
then use `.help(HELP_FOR_SELF_TYPE)` in all 3

[2019-07-12 16:12] shamatar commented on #44580
@pengowen123 Yes, it compiles (crashes the compiler with `constant in type had an ignored error: TooGeneric`) without `derive`, but then it may be a separate question whether or not such "double constraint" that is effectively `N <= 32` and `N <= 16` is not applied by compiler.

[2019-07-12 16:23] gnzlbg opened #62627 "tool tidy should error on unused error codes"
In `librustc_typeck` the error code `E0074` is unused, that is, this error is never emitted.

The `tidy` tool should detect this and error when this happens.

[2019-07-12 16:56] alexcrichton opened #62628 "Pretty-printing/tokenization of `final` has changed to `r#final`"
Given a procedural macro like:

[code]

and a consumer like:

[code]

This previously compiled and succeeded on nightly-2019-07-10 but fails on nightly-2017-07-11. Bisection yields https://github.com/rust-lang/rust/pull/62555 as the culprit of which https://github.com/rust-lang/rust/pull/62393 is the likely true culprit.

When running if you set `RUSTC_LOG=syntax` you get:

[code]

which I believe

[2019-07-12 17:04] Mark-Simulacrum commented on #62628
I think we probably threaded through a is_raw_guess somewhere we didn't before. I _think_ it's this code: https://github.com/rust-lang/rust/pull/62393/files#diff-c82811a081b5fb219ba68dd88b49d0b1R670. Previously we'd just directly stringify so `r#` wasn't added but now we try to guess.

[2019-07-12 17:08] petrochenkov commented on #62628
This looks like a mistake, I assumed that `print_attribute_path` is used only for the attribute path `foo::foo`, but not for the attribute arguments (`final`) which are treated as tokens, but somehow it gets to the arguments as well, which is not right.

[2019-07-12 17:10] petrochenkov commented on #62628
I'll look into more detail today.
(Perhaps some attributes go through a conversion to `MetaItem` and back unnecessarily?)

[2019-07-12 17:11] jfrimmel commented on #62625
The typo in the title (`err_ok` instead of `err_or`) is misleading :smile:

[2019-07-12 17:15] cuviper commented on #62616
Yeah, the `iter_panic_fuse` test isn't fully deterministic: https://github.com/rayon-rs/rayon/issues/667

No worries on the compiler side -- closing.

[2019-07-12 17:15] #62616 closed

[2019-07-12 17:34] jonhoo commented on #62625
@jfrimmel haha, good point, fixed!

[2019-07-12 17:35] cuviper commented on #62617
`rayon-hash` came up in #50832 and was fixed in 0.3.0. It's up to 0.5.0 now, and deprecated in favor of `hashbrown/rayon` anyway. @coder543 should update, if this `xray` project is at all active.

[2019-07-12 17:38] coder543 commented on #62617
@cuviper `xray` is unfortunately not being developed any further

[2019-07-12 17:39] coder543 commented on #62617
@Mark-Simulacrum those "ccs" you tried to do to tag people don't work because you put them in code blocks, just FYI...

[2019-07-12 17:41] cuviper commented on #62617
@coder543 would you accept a PR bumping dependencies? Otherwise, maybe we should remove this repo from crater's list.

[2019-07-12 17:43] coder543 commented on #62617
@cuviper yeah, either option would be fine!

[2019-07-12 17:45] retep998 commented on #62588
When you do `#[link(name = "dylib")]`, `rustc` tells `link.exe` to link to `dylib.lib`. It cannot tell the linker to look for *either* `dylib.lib` or `dylib.dll.lib`, so it would have to tell the linker to link to only `dylib.dll.lib` which would be a breaking change. Currently `cargo` does not inform `rustc` of the `cdylib` and `staticlib` outputs from dependencies so `rustc` does not have that k

[2019-07-12 17:58] Mark-Simulacrum commented on #62617
That's intentional, I try to not ping downstream users before the root cause is assessed and/or addressed by that author.

[2019-07-12 18:20] shamatar commented on #62187
Same is valid for traits (abstract incomplete example)
[code]

[2019-07-12 18:26] coder543 commented on #62617
Updated code has been merged

[2019-07-12 19:09] estebank commented on #62554
This is triggered here

https://github.com/rust-lang/rust/blob/cc481a46cbdece1cffa087adb0c14f83de83a439/src/libsyntax/parse/parser.rs#L4589-L4595

It should be possible to use the span snippet instead.

[2019-07-12 19:12] retep998 commented on #62611
Notably you are using the 32-bit toolchain. Do you also use the 32-bit toolchain on other platforms, or only on Windows?

[2019-07-12 19:15] dignifiedquire commented on #62611
You are right, I didn't realize. I think windows is the only toolchain I am consistently testing on 32bit atm.

[2019-07-12 19:21] pnkfelix commented on #57895
I no longer think this is a P-high issue. It *is* something we want to do, and something I plan to keep track of, but it is not something that warrants visiting every week at the compiler meeting.

triage: P-medium.

[2019-07-12 19:21] pnkfelix commented on #58858
I no longer think this is a P-high issue. It is something we want to do, and something I plan to keep track of, but it is not something that warrants visiting every week at the compiler meeting.

triage: P-medium.

[2019-07-12 19:22] pnkfelix commented on #58858
I am going to assign @nagisa and @nikomatsakis to this just so that might get a chance to think about whether they have any ideas on how to deal with this in my absence.

[2019-07-12 19:23] pnkfelix commented on #59494
I spent some time looking at this a few weeks ago but did not manage to find anything conclusive.

At this point I'm going to be taking a break for a few months, so I am unassigning myself from this issue.

[2019-07-12 19:25] pnkfelix commented on #60228
I'm going to be taking a break for a few months.

I do not know if this issue should remain P-high. If it is to remain P-high, then someone else should be added to the assignee list (or outright replace me as the assignee.)

But its possible we should just downgrade this issue to P-medium.

[2019-07-12 19:27] pnkfelix commented on #60372
Unfortunately I did not manage to find the time to look into this.

At this point I'm going to be taking a break for a few months, so I am unassigning myself from this issue.

However, it does seem like progress has been made on  https://github.com/rust-lang/rust/issues/58375#issuecomment-509156977

[2019-07-12 19:30] pnkfelix commented on #58375
nominating for discussion at compiler meeting

if @alessandrod or someone else puts up a PR with the proposed fix before the next compiler meeting, great! But if no PR goes up, then the team should at least  discuss the solution put forth there.

(And, maybe, whether the existing APi's could be revised to make these kinds of bugs harder to run into? Just a stray thought on my part...)

[2019-07-12 19:35] pnkfelix commented on #60363
I am taking a break for a few months and I wont be able to look at this; unassigning self.

[2019-07-12 19:35] pnkfelix commented on #56445
I am taking a break for a few months and I wont be able to look at this; unassigning self.

[2019-07-12 19:35] pnkfelix commented on #53014
I am taking a break for a few months and I wont be able to look at this; unassigning self.

[2019-07-12 20:00] mark-i-m opened #62630 "Odd type mismatch error?"
I got the following while working on #58281. I messed up the condition of an `if` (so that its type was `usize` instead of `bool`) as the error correctly points:

[code]

Except that this is not part of a macro invocation or definition, to the best of my knowledge, so what does "desugaring of `if`" mean and what is the `macro invocation`?

[2019-07-12 20:00] jamclema opened #62631 "rustc panics when trying to get session directory when building project on ramdisk"
Seems similar to #52440, but no cross platform weirdness is in play. Project builds fine on a normal C drive on windows, but when the same repo is cloned to a ramdisk (created by imdisk driver) on windows, rustc panics.
First incremental compilation gives an error so it appears to be handled, but then the compiler panics.

`
error: incremental compilation: error canonicalizing path <path>: Incorre

[2019-07-12 20:03] varkor opened #62632 "Bring back suggestion for splitting `<-` in a comparison"
[code]
produces:
[code]
It would be nice if it produced a suggestion to split it up:
[code]
(This [used to happen](https://github.com/rust-lang/rust/pull/60803#discussion_r303081575), but was broken in a previous change.)

[2019-07-12 20:07] cuviper opened #62633 "Tracking issue for Option::expect_none(msg) and unwrap_none()"
[code]

**Steps:**

- [x] Merge the implementation (#62596)
- [ ] Stabilization PR
- [ ] Update the `must_use` message on `is_none` (per https://github.com/rust-lang/rust/pull/62431#pullrequestreview-258576936)

[2019-07-12 20:46] jethrogb commented on #31434
Came here via #62339/#62411/#62614

[code]

On the current nightly this complains about not being able to structurally match `Rc`. I'm never doing that. I feel like this code should just work (as it does on stable)?

[2019-07-12 20:59] OptimalStrategy opened #62637 "Running out of RAM during compilation"
Hi

Incorrectly closing the parentheses around an if expression causes the compiler to be stuck in endless recursion (probably), causing the computer to run out of memory.

I encountered this bug while trying to return `Some(if cond { ... } else { ... })` from a function by accidentally placing the left parenthesis right after the if condition: `Some(if ...) { } else { }`.

The code below is the m

[2019-07-12 21:28] programmerjake commented on #60784
what about something like:
[code]

[2019-07-12 22:37] matthiaskrgr commented on #62338
Er, no.
The current clippy-fix pr is https://github.com/rust-lang/rust/pull/62613

[2019-07-12 22:53] tmandry commented on #62338
I wonder if I can do this...
@rustbot assign @lzutao

[2019-07-12 23:04] estebank commented on #62630
It'd be nice to have a reduced test case, as I haven't been able to replicate this.

[2019-07-12 23:46] sigfriedmcwild opened #62640 "Type inference of lambda arguments interferes with borrow checking"
It looks like type inference of arguments to a lambda function somehow interferes with borrow checking.

I tried this code: ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6b018776f5b9055e27776a0072530c0b))

[code]

## I expected to see this happen:
A successful build

## Instead, this happened:
Compilation failed with this error:
[code]

Note that changi

[2019-07-13 00:11] estebank opened #62642 "Suggest removal of `.as_str()` when called on a `&str`"
Given

[code]

[we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ac46d7a793a0282a04550edf49a6830a)

[code]

This is a possible simple WIP mistake when changing some binding from `String` to `&str` that we could preempt and avoid a pretty bad suggestion.

[2019-07-13 00:17] estebank commented on #50291
CC https://github.com/rust-lang/rust/issues/60179

[2019-07-13 00:18] #60179 closed

[2019-07-13 01:43] #52717 closed

[2019-07-13 01:51] estebank commented on #62637
Closing as duplicate of https://github.com/rust-lang/rust/issues/61858. https://github.com/rust-lang/rust/pull/62604 is already out to fix it. Don't know if we will have a stable point release due to this but it seems likely that we will.

[2019-07-13 01:51] #62637 closed

[2019-07-13 01:56] estebank commented on #62597
`rustc_on_unimplemented` should have a flag to hide the default `E0277` `note`s.

[2019-07-13 01:56] Aaron1011 opened #62645 "Nonsensical error message with const generics and std::mem::sized_of"
The following code:

[code]

produces the following error:

[code]

despite the fact that we have that `T: Sized`. If there's another reason why this code shouldn't compile, the error message should clearly state it.

[2019-07-13 03:12] #62272 closed

[2019-07-13 03:13] #49919 closed

[2019-07-13 03:13] #61858 closed

[2019-07-13 03:40] mark-i-m commented on #62630
I will try to minimize it soon.

[2019-07-13 04:08] Aaron1011 commented on #31434
What is still left to be done for this issue?

[2019-07-13 04:14] eminence commented on #56546
Here's another example of a headache with the current behavior:

1.  Browse to https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html
2.  Use your browser find dialog (<kbd>ctrl-f</kbd>) and search for `fn as_ref`
3.  There will be no results, which I found confusing because I'm pretty sure such a function exists
4.  Click the "Collapse all docs" button, and then click the "expand all docs" but

[2019-07-13 04:50] glandium opened #62647 "Some symbol names somehow depend on the source directory location"
I've tried many different things, optimizations on, off, debug-info, no debug-info, and that made no difference. Here are steps to reproduce that "works" every time for me (using --release reduces the number of symbols affected, since so many are eliminated in this case):
[code]

The reason I opened this saying "depend on the source directory location" is that if I do cleanup everything, and do a

[2019-07-13 05:15] lzutao opened #62648 "Rustbuild rebuilt when checkout branch and checkout back"
For example, when I am on my branch `feature`, I checkout to `master` and check back to `feature`,
rustbuid rebuilt from stage 0.

[2019-07-13 05:17] lzutao commented on #62648
@rustbot modify labels: rustbuild T-infra

[2019-07-13 07:00] matthiaskrgr commented on #62338
Issue can be closed now.

[2019-07-13 08:07] progval opened #62649 "ICE in incr comp after s/trait/struct/: src/librustc/dep_graph/graph.rs:688: DepNode Hir(...) should have been pre-allocated but wasn't."
Hi,

I just got a crash on Travis, on stable (1.35.0), when enabling edition="2018"

Commands ran by Travis:

[code]

which causes this output:

[code]

But I can't reproduce this on my computer.

Link to the Travis log: https://travis-ci.org/fflorent/nom_locate/jobs/558169389

[2019-07-13 08:16] RalfJung commented on #62357
Fixed by https://github.com/rust-lang/rust/pull/62493.

[2019-07-13 08:16] #62357 closed

[2019-07-13 08:27] RalfJung commented on #61415
Turns out using const generics inside the actual code (which currently [only `try_from` does](https://github.com/rust-lang/rust/pull/62435/files#diff-0986668cbf34a4055af5918b7a77c510R337)) breaks Miri. @oli-obk will hopefully be able to look into this next week, but until then it would be great if we couldn't land more PRs that use const generic in this way in libstd.

[2019-07-13 09:55] RalfJung commented on #55422
No, `ManuallyDrop` must be valid 100% of the time. A `ManuallyDrop<bool>` of value 8 is insta-UB. The thing is, dropping leaves the validity invariant intact (it has to, drop glue would go terribly wrong otherwise).

[2019-07-13 10:01] dignifiedquire commented on #62611
After switching CI to 64bit, it seems to have fixed the issue. So it seems likely that not Windows, but 32bit is the trigger.

Ref https://ci.appveyor.com/project/dignifiedquire/deltachat-core-rust/builds/25953216

[2019-07-13 10:23] Mark-Simulacrum commented on #62648
Can you run `git log -p` in both master and your feature branch and gist the output?

[2019-07-13 10:32] RalfJung commented on #53491
@SimonSapin

For `as_ref`/`as_mut`, I honestly wanted to wait until we know if references have to point to initialized data. Otherwise the documentation for those methods is just so preliminary.

For `read`/`write`, I am fine stabilizing them if everyone agrees that the names and signatures make sense. I think this should be coordinated with [`ManuallyDrop::take/read`](https://github.com/rust-lang

[2019-07-13 10:40] SimonSapin commented on #53491
What does it take for the Unsafe Code Guidelines WG and the Language Team to come to a decision on this subject? Do you expect it’ll more likely happen in a few weeks, a few months, or a few years?

In the meantime, `as_mut` being unstable doesn’t stop users from writing `&mut *manually_drop.as_mut_ptr()` what that’s when they need to get something done.

[2019-07-13 10:43] matthiaskrgr opened #62650 "diagnostics: suggest "Self::" on missing type not found in trait definition"
[code]
yields
[code]

it would be helpful to suggest to change the `to_bla` return type to `Self::Bla;` which fixes the error:
[code]

[2019-07-13 10:44] matthiaskrgr commented on #62650
@rustbot modify-labels: A-diagnotics

[2019-07-13 10:44] RalfJung commented on #53491
Months, maybe years.

Yes I know. The hope is to nudge people towards delaying the `&mut` part as much as possible, and working with raw pointers. Of course without https://github.com/rust-lang/rfcs/pull/2582 that is often hard.

[2019-07-13 10:52] petrochenkov commented on #62628
This is indeed the case and it's trivially fixable, but the trivial fix regresses formatting of the pretty-printed code.
I'm currently trying to pick the right combination of `ibox`es and `cbox`es for the things to look good again, will submit a PR soon.

[2019-07-13 11:29] RalfJung commented on #62410
I understand.

I see your concern, but I find it a strange argument against more explicit marks. We have documentation of varying quality across the ecosystem, and you are suggesting to reduce the quality of libstd documentation for the benefit of some crate that forgets to mark their UB example as UB.

[2019-07-13 11:31] RalfJung commented on #62397
I'm less worried about the tests TBH. The affected ones fairly deliberately cause UB. They can probably be fixed by replacing it with `MaybeUninit::uninit().assume_init()` and adding a comment that we cause UB here but for some reason we still want to test this.

@JulianGindi IMO it anyway makes sense to separate the test changes from the others as they are unrelated, so why don't you make a PR wi

[2019-07-13 11:55] gnzlbg commented on #62149
FWIW I ran into a similar problem that I mentioned in #2585 when it comes to closures inside `unsafe fn` and the function traits, and I kind of just expected that `unsafe async fn` wouldn't return a `Future` with a safe `poll` method, but instead would return an `UnsafeFuture` with an `unsafe` poll method. A blanket impl of `UnsafeFuture` can then be provided for all `Future`s and APIs accepting `

[2019-07-13 12:08] I3ck opened #62652 ""unresolved import" message makes little sense with 2018 edition"
[code]
The above message makes little sense with the 2018 edition of Rust,
since `extern crate` isn't required anymore.

[2019-07-13 12:44] In-line opened #62654 "Unhelpful error message for lifetime parameter E0495"
Code to reproduce
[code]

Error message:
[code]

[Link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d4b7de22bead5dc199f282121d04cfb1)

[2019-07-13 12:46] In-line commented on #62654
Example without `Box<..>`
Error message is much more helpful, there is a room for improvement, but it's better than nothing.

[code]

[Link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d4b7de22bead5dc199f282121d04cfb1)

[2019-07-13 12:47] In-line commented on #62654
It will be better if this part pinpoints to `self` argument on line 10.
[code]

[2019-07-13 13:05] GuillaumeGomez commented on #62410
No, not reducing libstd documentation quality. For the moment, we **say** what examples are invalid/incorrect. Adding this feature (which is a nice one, even though I think it might a bit too much) would just increase the gap between the libstd quality and the rust ecosystem. Also, it'd be _**very**_ complicated to test that an example is indeed invalid alongside the updates.

Anyway, I'm just afr

[2019-07-13 13:35] JulianGindi commented on #62397
Sounds good @RalfJung. I have that test code as well for later if we want to move forwards with it. I have submitted the PR and it's linked above.

[2019-07-13 13:41] fenhl opened #62658 "ICE: assertion failed: `(left == right)` in type_of.rs"
I just ran into this ICE:

[code]

https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_llvm/type_of.rs#L148

I can't share the code but here are some observations:

* The ICE occurs in debug mode as well.
* It does *not* occur when running `cargo check`.
* It does *not* occur on my MacBook (same nightly, different architecture).

[2019-07-13 14:27] eddyb commented on #44580
Expressions that mention parameters probably won't work for a while longer, `[T; N]` and `Foo<{N}>` are special-cased to *not* have expressions with a mention of `N` in them, but rather directly refer to the `N` parameter, bypassing the larger issue.

[2019-07-13 14:40] jfrimmel opened #62660 "ICE with wrong method receiver as second parameter"
The following code ([on compiler explorer](https://godbolt.org/z/_Qo2zy)) leads to an ICE:

[code]

Broken since 1.32.0 up to the current nightly, earlier versions are not affected.

<details>
<summary>Backtrace of the nightly build</summary>

[code]
</details>

[2019-07-13 15:05] mark-i-m commented on #62630
@Centril I am wondering if this may be related to your work on desugaring if/while...

[2019-07-13 15:20] GrayJack commented on #29722
What is the status of the new syntax?

[2019-07-13 15:21] GrayJack commented on #39412
What the status of this?

[2019-07-13 15:25] agnxy commented on #62632
Hi @varkor I'd like to try this one. Just found the removed suggestion.
@rustbot claim

[2019-07-13 15:26] agnxy commented on #62632
@rustbot claim

[2019-07-13 15:32] petrochenkov commented on #39412
Bugs in macros 2.0 are occasionally fixed, but the feature is not on the 2019 roadmap.

[2019-07-13 16:10] mark-i-m commented on #29722
It needs to be RFC'ed and implemented on nightly

[2019-07-13 16:18] Centril commented on #62630
@mark-i-m it most definitely is. Take a look at lowering.rs of if expressions to see the reason. I will be on vacation for a week so I won't be able to work on this during that time.

[2019-07-13 16:42] goodmanjonathan commented on #62660
@rustbot modify labels to +T-compiler, +A-diagnostics, +A-parser, +I-ICE

[2019-07-13 16:42] goodmanjonathan commented on #62660
@rustbot claim

[2019-07-13 17:08] ehuss commented on #62647
I think this is essentially #59542.  The flags after `cargo rustc` are added to the hash for `-C metadata` which can affect symbol names.

This was fixed in 1.37 (now beta), but only when `--remap-path-prefix` is passed in via the RUSTFLAGS environment variable.  Is there some reason you are passing it via `cargo rustc` instead of RUSTFLAGS?

We can easily add the "ignore `--remap-path-prefix`" to

[2019-07-13 17:12] #52941 closed

[2019-07-13 17:12] #57839 closed

[2019-07-13 17:12] #58864 closed

[2019-07-13 17:35] zzywysm opened #62664 "Rust binaries seem a bit large"
Rust newbie here, going through the rust-lang book, specifically chapter 1.2.

That seems like it's at least 263000 more bytes than needed to print "Hello world" to stdout.  Is there a better compiler flag to pass to reduce the binary size?

[2019-07-13 17:39] zzywysm commented on #62664
Forgot to mention, this is on macOS Mojave.

[2019-07-13 17:41] Mark-Simulacrum commented on #62664
This is a good first step in understanding, though it's a bit outdated: https://lifthrasiir.github.io/rustlog/why-is-a-rust-executable-large.html. However, the best place for such questions is users.rust-lang.org or internals.rust-lang.org - this issue tracker is kept solely for issues. Thank you!

[2019-07-13 17:41] #62664 closed

[2019-07-13 18:48] MajorBreakfast commented on #62149
Here's my two cents:
- @cramertj's explanation (https://github.com/rust-lang/rust/issues/62149#issuecomment-510166207) convinces me that `unsafe` async functions are the right design.
- I very much prefer a fixed ordering of the keywords `unsafe` and `async`
- I slightly prefer the ordering `unsafe async fn` because the ordering seems more logical. Similar to "a fast electric car" vs "an electric

[2019-07-13 19:42] JohnTitor commented on #62632
@rustbot assign @agnxy

[2019-07-13 20:46] #60431 closed

[2019-07-13 20:46] #62546 closed

[2019-07-13 21:19] glandium commented on #62647
There's no particular reason I'm passing it via `cargo rustc`. I was just trying. But for consistency, it would be better if it worked when passed as an argument.

Anyways, I can confirm the following works:
[code]

[2019-07-13 22:25] burdges commented on #62149
I think `let f = unsafe { || { ... } }` should make `f` safe, an `UnsafeFn` trait should never be introduced, and a priori `.await`ing and `async unsafe fn` should be safe.  Any `UnsafeFuture` needs strong justification!

All this follows because `unsafe` should be explicit, and Rust should nudge you back into safe land.  Also by this token, `f`'s `...` should _not_ be an unsafe block, https://git

[2019-07-13 22:55] estebank commented on #62660
@goodmanjonathan you will need to change the line

https://github.com/rust-lang/rust/blob/cc481a46cbdece1cffa087adb0c14f83de83a439/src/libsyntax/parse/parser.rs#L1501

to bubble the `parse_self_arg` error up:

[code]

Once you've done that code change create a new test file in `src/test/ui/parser/issue-62660.rs`.

[2019-07-13 22:57] Lokathor commented on #58360
It seems that things that use the `__m64` type also wrongly point to the same #48556 issue, such as https://doc.rust-lang.org/core/arch/x86_64/fn._mm_avg_pu16.html

[2019-07-13 23:27] Gankro commented on #53491
The documentation on MaybeUninit seems like a prime place to at least discuss that this is an ambiguity in the language's semantics and that users should conservatively assume it's not OK.

[2019-07-13 23:42] estebank commented on #62652
The output in 2018 edition should be

[code]

Can you double check that the crate you're working on isn't using the 2015 edition?

[2019-07-14 00:04] petrochenkov commented on #62628
Fixed in https://github.com/rust-lang/rust/pull/62667.

[2019-07-14 00:21] #61696 closed

[2019-07-14 03:54] #61837 closed

[2019-07-14 05:26] lzutao commented on #62648
Could you give more specific command? The output of `git log -p` is too big and slow.

[2019-07-14 05:57] JohnTitor commented on #59098
#58458 was reopened and merged. Let's close this issue to clean up.

[2019-07-14 06:11] JohnTitor commented on #58887
The ICE doesn't appear on the latest nightly via the above link.

[2019-07-14 07:21] RalfJung commented on #53491
True, that would be the other option.

[2019-07-14 07:25] SimonSapin commented on #53491
Even with a conservative assumption, `as_mut` is valid after the value is fully initialized.

One way to be conservative with arrays is using `MaybeUninit<[MaybeUninit<Foo>; N]>`. The outer wrappers allows creating the array with a single `uninit()` call. (I think the `[expr; N]` literal requires `Copy`?) The inner wrappers make it safe even in the conservative assumption to use the convenience of

[2019-07-14 07:28] RalfJung commented on #53491
@SimonSapin see the unstable [`uninitialized_array!` macro in libcore](https://github.com/rust-lang/rust/blob/fa6b70658e76ca47e1627308c736edab63a17dc8/src/libcore/macros.rs#L633).

[2019-07-14 08:20] I3ck commented on #62652
Just double checked, it's the 2018 edition.
I'm currently running cargo 1.35.0 .
I can retry with the latest version (which I should have done in the first place)

[2019-07-14 08:20] lzutao commented on #61000
I take this at #62672 .

[2019-07-14 08:28] I3ck commented on #62652
Okay, it's my bad.
I'm working on a 2018 edition project, but the issue was reproduced by altering a dependency (that I also work on) that's not using the 2018 edition yet.
I assumed I upgraded it and also didn't notice the issue being caused by the external dependency when I opened this issue.
Therefore it currently behaves perfectly fine, sorry for the false report.

[2019-07-14 08:28] #62652 closed

[2019-07-14 08:48] #62289 closed

[2019-07-14 10:07] gnzlbg opened #62675 "libstd initialization should check that target-features enabled at compile-time are enabled at run-time"
libstd initialization should, at least in debug builds, and probably always, do check for all target-features for which `cfg!(target_feature = "feature")` returns true, that the feature is indeed actually enabled at run-time, e.g., by checking that `is_{target_arch}_feature_detected!("feature")` returns true.

If this check fails, the behavior is undefined, in quiet a serious way, and we should pa

[2019-07-14 10:43] #59098 closed

[2019-07-14 10:59] Mark-Simulacrum commented on #62648
`git log -p -- src/bootstrap master...feature`, perhaps. The (primary) goal here is to determine whether anything in bootstrap is changing in that commit range; if that's already been ascertained, then running with `CARGO_LOG=cargo::core::compiler::fingerprint=info` may yield something helpful, too.

[2019-07-14 12:04] oli-obk commented on #61432
you can use `self.frame.len()` I suppose and print that via `debug!`

[2019-07-14 12:31] superriva opened #62676 "./x.py build OSError: [Errno 2] No such file or directory"
Trying to build from source on Ubuntu 18.04 x64
[code]
`Python 2.7.15+ (default, Nov 27 2018, 23:36:35)`

[2019-07-14 12:47] sfackler commented on #62676
You're probably missing curl: https://github.com/rust-lang/rust/blob/master/src/bootstrap/bootstrap.py#L81

[2019-07-14 12:53] derekdreery commented on #58520
my 2¢: I think the simplest (for users) implementation is a single `iter` method, with a note in the documentation that

 1. The iterator length is always `>= 1`, that is, you can call `iter.next().unwrap()` once without causing a panic.
 2. If you just want the sources, use `e.iter().skip(1)`.
 3. An example like
[code]

[2019-07-14 13:00] BurntSushi commented on #58520
I agree with @withoutboats and @derekdreery. I had to carefully read the docs for each method before I figured out how they differed. Moreover, I suspect it will be quite difficult to pick names for both methods that are easy to remember and distinguish. Having one method and requiring the caller to use `skip(1)` if they don't want the current error seems much nicer IMO.

[2019-07-14 13:18] RalfJung commented on #62397
The remaining open boxes in this issue are up for grabs again. To properly fix this, you should have some experience with unsafe code.

Maybe I should mark this "hard" instead of "medium"? I don't know how to figure out which label is more appropriate. It's not a lot of work to do this, but it requires rewriting some subtle unsafe code that deals with uninitialized memory.

[2019-07-14 13:26] superriva commented on #62676
@sfackler You absolutely right! I apologize! I didn't check `curl` because I thought it's default on linux.

[2019-07-14 13:26] #62676 closed

[2019-07-14 14:11] derekdreery opened #62677 "e0308 possibly confusing error message"
I got the following error today:

[code]

I think the note `this function's body doesn't return` is misleading - I thought that the issue was that an inner method I was calling had an infinite loop, or returned `!` some other way, but it doesn't mean this, it actually means "this function's body doesn't return **a value**". Maybe the error message could be changed?

[2019-07-14 15:08] Jezza commented on #44580
Using `Self` causes a crash.
Even swapping it out for `Value<{C}>`, it still crashes.

[code]

[2019-07-14 15:47] czipperz commented on #62358
What does that mean @soc?

[2019-07-14 16:02] lzutao commented on #44580
You snippet doesn't crash on playpen: https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=d3fda06d2e8b3eb739afa99d5da84a33

[2019-07-14 16:08] c410-f3r commented on #44580
Same as #61338, the source of problem is incremental compilation.

[2019-07-14 16:11] orlp commented on #61804
I just reproduced this today on nightly.

[2019-07-14 16:36] soc commented on #62358
@czipperz The implementation is:

    // Option
    pub fn contains<U>(&self, x: &U) -> bool where U: PartialEq<T> {
        match self {
            Some(y) => x == y,
            None => false,
        }
    }

    // Result
    pub fn contains<U>(&self, x: &U) -> bool where U: PartialEq<T> {
        match self {
            Ok(y) => x == y,
            Err(_) => false
        }
    }

    pub f

[2019-07-14 16:52] lzutao commented on #62648
<details>
	<summary>% git log -p deprecated-try-macro..tidy-lldb deprecated-try-macro</summary>

[code]

</details>

[2019-07-14 17:30] #62553 closed

[2019-07-14 17:39] nagisa commented on #62675
This will add non-trivial startup overhead.

What kind of UB are we talking about here? AFAIK x86 will never correctly decode an unsupported instruction and mismatches in architectures where a particular encoding might decode to different instructions depending on the feature set are usually sketchy in many different ways.

[2019-07-14 17:42] nagisa commented on #62647
Not a rustc bug, closing as a duplicate of https://github.com/rust-lang/cargo/issues/6914

[2019-07-14 17:42] #62647 closed

[2019-07-14 17:49] nagisa commented on #62617
Since this syntax was never intended to be stablised, I think it is fine to say it was an oversight unstable syntax is not gated.

[2019-07-14 18:03] nagisa commented on #62617
We should decide how we want to deal with unstable syntax.

If unstable syntax like in this particular instance the `<-` operator, was properly gated, people would have to always use nightly if any code uses features with unstable syntax, even if such uses appeared behind `#[cfg]`. The current situation ended up not gating the syntax properly which is now causing problems when changing/removing it

[2019-07-14 18:08] nagisa commented on #62612
Would help if you had minimal reproduction, would make reporting the issue upstream easier.

[2019-07-14 18:09] petrochenkov commented on #62617
I try to ensure during reviews that new features changing the grammar are gated at parse time.

[2019-07-14 18:12] athei commented on #62612
Sure. Just to be on the same page what that means. A repo where you basically type ```cargo xbuild``` to reproduce this?

[2019-07-14 18:22] Mark-Simulacrum commented on #62648
What about the `CARGO_LOG` run? Do you expect that the branches have different src/bootstrap or src/stage0.txt contents?

[2019-07-14 18:29] nagisa commented on #62612
A single file which could be compiled with

[code]

to reproduce would be ideal, but a repository with a leaf (dependency-free crate) is fine too.

[2019-07-14 18:31] nikic commented on #62612
Just the LLVM bitcode file produced with `--emit=llvm-bc` would also work.

[2019-07-14 19:01] czipperz commented on #62358
So there's no implementation of `PartialEq<Option<U>> for Option<T> where U: PartialEq<T>`?

[2019-07-14 19:08] timvermeulen commented on #62358
There is indeed not, see https://github.com/rust-lang/rfcs/issues/1239.

[2019-07-14 19:41] jakubadamw commented on #46415
So this is no longer an ICE. The `I-ICE` label could be dropped.

[2019-07-14 19:46] jakubadamw commented on #43623
None of the programs provided seem to ICE with the latest nightly.

[2019-07-14 19:49] jakubadamw commented on #44405
This doesn't ICE any more.

[2019-07-14 19:50] withoutboats commented on #58520
It does seem that many users found the terminology `causes` confusing for an iterator that returns self (myself, it seemed intuitive, if the documentation says so, that this error can be considered a member of the chain of causality). So a better name than `sources` might be preferred here. However, both of the other options I can think of are also imperfect:

* I think `iter` violates our naming

[2019-07-14 19:53] jakubadamw commented on #43398
@Mark-Simulacrum, this can be closed as it no longer ICEs.

[2019-07-14 19:55] Mark-Simulacrum commented on #43398
Actually, presumably, E-needstest.

[2019-07-14 20:03] jakubadamw commented on #48413
No longer ICEs. To verify, one needs to put the original code in a Cargo package with a `futures` dependency.

[2019-07-14 20:05] Mark-Simulacrum commented on #48413
Closing as per the previous. Not marking E-needstest as no minimal example exists (and doesn't seem super warranted in this case).

[2019-07-14 20:05] #48413 closed

[2019-07-14 20:24] jakubadamw commented on #50153
No longer ICEs.

[2019-07-14 20:32] nikic commented on #49828
Closing this based on https://github.com/rust-lang/rust/pull/52983#issuecomment-410022585.

[2019-07-14 20:32] #49828 closed

[2019-07-14 20:33] nikic commented on #49827
Closing this based on Closing this based on https://github.com/rust-lang/rust/pull/52983#issuecomment-410022585.

[2019-07-14 20:33] #49827 closed

[2019-07-14 20:34] Lonami commented on #62676
Maybe `x.py` could warn on missing required tools?

[2019-07-14 20:38] jakubadamw commented on #55512
Doesn't ICE any more.

[code]

[2019-07-14 20:44] jakubadamw commented on #54327
With the latest nightly this no longer ICEs and instead produces the following errors:

[code]

[2019-07-14 20:52] faern commented on #58520
I agree `causes`/`sources` would be confusing if the iterator contains the error it's called on. In `err.causes()` I want the errors that *caused* `err`. `err` did not cause itself, nor is it part of the sources for this error. It would not be consistent with the existing `err.source()` which returns the first error *under* `err` not `err` itself.

I do fully agree that `err` is part of the chain

[2019-07-14 21:04] jswrenn commented on #60553
## Documentation

I've submitted a PR to update the reference to reflect this feature (in its current state): rust-lang-nursery/reference#639.

I do not believe that either the Book or _Rust By Example_ need updating:
1. The Book [does not mention discriminants at all](https://doc.rust-lang.org/nightly/book/ch06-01-defining-an-enum.html).
2. _Rust By Example_ [mentions C-like enums](https://doc.ru

[2019-07-14 21:11] #62554 closed

[2019-07-14 21:29] gnzlbg commented on #62675
The behavior of calling a function with `target-feature`s is undefined if the `target-feature`s are not available at run-time, so LLVM assumes this does not happen. If LLVM can prove that a function with target-features is called unconditionally (e.g. after inlining / const prop), the whole execution path that leads to that function call can use those target-features.

So when a program calls, e.g

[2019-07-14 22:41] #50153 closed

[2019-07-14 22:44] ryzhyk commented on #62353
Unfortunately, the issue disappeared and we have not been able to reproduce it. Shall I close this issue and reopen once we are able to reproduce?

Having said that, it would be great if `rustc` had a more robust implementation of `current_exe` that did not rely on `readlink`.

[2019-07-14 23:02] nagisa commented on #62353
Yes, because as things stands this is unactionable.

We are always open to concrete suggestions, however this function will always be fallible in weird corner cases due to the nature of the file systems.

[2019-07-14 23:02] #62353 closed

[2019-07-15 01:51] estebank commented on #62430
[This used to fail in a graceful manner in 1.30](https://godbolt.org/z/BM8742):

[code]

[2019-07-15 02:14] #57383 closed

[2019-07-15 03:00] dtolnay commented on #24041
Closing in favor of the more general #46213.

[2019-07-15 03:00] #24041 closed

[2019-07-15 03:35] tmandry opened #62686 "Add tests for overlapping explicitly dropped locals in generators"
#61922 allows us to overlap `x` and `y` in this example:

[code]

Come to think of it, this is a pretty important behavior that I should have added an explicit test for.

[2019-07-15 03:51] lzutao commented on #62648
The gist is here: https://gist.github.com/lzutao/7b6bd404b75226452fffb65d298bb046

No, I don't.

[2019-07-15 05:28] josephlr commented on #29594
Copying @gnzlbg's comment from https://github.com/rust-lang/libc/pull/1432

I agree with the above, [`thread_local!`](https://doc.rust-lang.org/std/macro.thread_local.html) and `#[thread_local]`  for `extern static` unblocks virtually all use-cases, and would allow interfaces to `errno` using stable Rust on all platforms (see the linked `libc` issue for more context).

Right now there is no way (w

[2019-07-15 05:41] #62109 closed

[2019-07-15 06:22] chocol4te commented on #62194
I'd like to work on this if that's ok? :)

@rustbot claim

[2019-07-15 07:08] hellow554 commented on #62658
Can you try to isolate the code, e.g. procode some code (not longer than 50 lines) that reproduces this issue?

[2019-07-15 07:10] fenhl commented on #62658
I have no idea where to even start. Maybe a [`cargo-bisect-rustc`](github.com/rust-lang-nursery/cargo-bisect-rustc) run will help.

[2019-07-15 07:15] hellow554 commented on #62658
How big is the code? You could start by removing 'mod xxx' in your main.rs. Remove types that are not needed. Then if you only have a few files left, merge them into one and remove more things (e.g. not needed functions, structs, enums), try to replace macros with their actual content.

[2019-07-15 07:20] hellow554 commented on #62649
Cannot reproduce with local 1.35.0. Build passes with the exact same compiler, git commit and command line. Maybe something travis specific? Can you try to upgrade to the latest 1.36.0 and see if it still happens?

[2019-07-15 07:24] ralfbiedert commented on #62588
I just checked with `gnu` and `msvc`, the correct way seems to be:

[code]

Although I wouldn't be surprised if other `os` / `env` combinations needs their own special handling.

[2019-07-15 07:57] gnzlbg commented on #29594
cc @joshtriplett: allowing `#[thread_local]` on `extern static`s might be something for the agenda of the WG-FFI, since interfacing with `errno` is kind of an important part of the C FFI puzzle.

[2019-07-15 10:59] matklad commented on #44025
An alternative: have a dedicated `thread_local_static!` macro, with the API exactly like today's `thread_local`, but restricted to `const` expressions and without initialization overhead, and implement `thread_local!` on top of `thread_local_static`.

I *think* having explicit separate constructs for compile-time initialization vs lazy initialization fits better with rust overall direction than "s

[2019-07-15 11:31] Mark-Simulacrum commented on #62648
*rustbuild* isn't being rebuilt here; I think I misinterpreted your earlier statement. Can you show the diff between the two branches? It looks like (presumably) `std` has changed at least...

[2019-07-15 12:13] derekdreery commented on #58520
@withoutboats

Is this set in stone. I think this is the best name, because it feels familiar, in that the `iter()` method should return an iterator that makes most sense for the object. I wouldn't expect `FromIterator` to be implemented for `&Error`, but if it were to be implemented then it should look like this (i.e. include the base error).

Could the naming convention be changed to "`iter` mus

[2019-07-15 12:18] derekdreery commented on #58520
To give some more context on why I would like it to be called `iter`:

When I'm reading the documentation for some object with methods, when I see an `iter` method I think to myself "what iterator makes most sense for this object". So for a vector I would assume it returns refs to the elements, or for a linked list (which is what our error chain is essentially), I would expect it to walk the nodes

[2019-07-15 12:30] #59193 closed

[2019-07-15 12:33] chocol4te commented on #62524
Same ICE occurs with:

[code]

[2019-07-15 12:46] draganmladjenovic commented on #62612
Is this ok for a reproducer on linux? :

[code]

[code]
I've used max-atomic-width of 0 because back-end doesn't use lib-calls for mips16 atomic while it should, but otherwise I wasn't able to reproduce the crash by feeding the resulting .bc or .ll to llvm-8.0's llc.

[2019-07-15 12:51] dwrensha commented on #62524
@chocol4te could you post a base64-encoded version of your `crash-298117e3012a17b3e85cddad606b2697232cba40`? When I copy/paste what you've posted above, I don't see a compiler crash, presumably because some non-ascii characters are getting lost.

[2019-07-15 12:54] chocol4te commented on #62524
@dwrensha My bad

[code]

[2019-07-15 13:28] Mark-Simulacrum commented on #62389
Triaged. No new regressions.

[2019-07-15 14:28] alexcrichton commented on #62628
Thanks for the quick fix @petrochenkov!

[2019-07-15 14:49] eddyb commented on #44025
@matklad At that point, just stabilize `#[thread_local] static FOO: T = expr;` (#29594).

[2019-07-15 15:03] matthiaskrgr commented on #62338
@rustbot close

[2019-07-15 15:05] eddyb commented on #62675
That's neat, any chance we can output something in the ELF binary itself that would make the kernel check something for us?

That's pretty much the opposite of neat, wow.

[2019-07-15 15:24] gnzlbg commented on #62675
I'm not sure what you mean. The ELF auxiliary vectors are part of the ELF specification and is essentially a list of key,value pairs. The environment in which the binary runs is in control of which keys are defined, and their values, and amongst the keys that often get set there are `HWCAP` and `HWCAP2`, where the values are essentially a bitset of the target-features that the binary is allowed to

[2019-07-15 15:29] matklad commented on #44025
I'd be happy to see #2954 stabilized! That would allow [`once_cell`](https://docs.rs/once_cell/0.2.2/once_cell/) to subsume not only `lazy_static`, but `std::thread_local!` as well:

[code]

[2019-07-15 15:33] eddyb opened #62691 "Suboptimal niche usage within the fields of a variant."
On x86_64, this prints the values in comments:
[code]

What's happening here is that when we pick the niche to represent `None` of `Option<T>`, we pick *the largest* (or "roomiest") of the niches in `T`, so that further enums *around* `Option<T>` have more optimization opportunities themselves.

(Why just one niche? That has to do with the fact that in an `enum`, the only part of the representatio

[2019-07-15 15:36] fenhl commented on #62658
Using `cargo-bisect-rustc` I have determined that the ICE started to appear with #62407. I'll try to isolate the code now.

[2019-07-15 15:47] nox commented on #62691
I was pretty sure that my patch to find the roomiest niche covered that case, but apparently it didn't. :(

[2019-07-15 15:49] eddyb commented on #62675
@gnzlbg What I'm talking about is a way to stick a *bit mask* for `HWCAP` and `HWCAP2` in the executable image itself, and have the OS deny loading it if certain bits of the mask are missing, *without* any code in the executable itself looking at `HWCAP`/`HWCAP2`. I'm expecting this doesn't exist, but I'm asking just in case.

[2019-07-15 16:01] #62628 closed

[2019-07-15 16:17] lzutao commented on #62648
The diff is here: https://gist.github.com/lzutao/3dfed8c8bd1815e70949c05e50d1cefa

The problem is: I traveled between branches and went back to the one that have been
built sucessully. rustbuild build that branch from std stage0.

[2019-07-15 16:50] ProgVal commented on #62649
It works on 1.36.0-beta.7 on travis

[2019-07-15 16:57] Mark-Simulacrum commented on #62648
This diff changes libcore, which means that switching between these two branches will rebuild. Cargo uses timestamps to determine if a rebuild is needed, so it's unsurprising to me that this is happening for you. This is most likely not a rustbuild bug, and is probably intentional behavior.

[2019-07-15 17:09] gnzlbg commented on #62149
So my comment here: https://github.com/rust-lang/rust/issues/62149#issuecomment-511116357 is a very bad idea.

An `UnsafeFuture` trait would require the caller to write `unsafe { }` to poll a future, yet the caller has no idea of which obligations must be proven there, e.g., if you get a `Box<dyn UnsafeFuture>`, so writing `unsafe { ... }` would be meaningless.

Requiring Future's to always be saf

[2019-07-15 17:15] lzutao commented on #62648
Yes, the diff changed libcore. Even though I went back to the branch that I built earlier without doing
any changes.

I have just done some researches. Like you said, when switching between branches git will update
the timestamp for any changed files between those two branches. Perhaps I compared cargo
with mesonbuild. Mesonbuild uses hashes to determine files changed.

I would close this issue as

[2019-07-15 17:15] #62648 closed

[2019-07-15 17:20] gnzlbg commented on #62675
AFAIK this doesn't exist, and would require OS support. You can supply your own binary format loader on Linux (as a separate binary), and then generate binaries in whatever format you like, and load them with the loader. A custom loader could do that.

For this to be useful, we would need to convince those maintaining the ELF binary format that doing this is a good idea, get them to do it, and onl

[2019-07-15 18:29] joshtriplett commented on #62569
@alexcrichton I agree that we have to handle backwards-compatibility, but that wouldn't stop us from having a top-level attribute to opt-out of it.

[2019-07-15 18:41] DutchGhost opened #62700 "ICE: Can't hash a TyVid (const generics???)"
I'm not sure if this happens due to const generics, but while working on a codebase I stumbled upon this ICE multiple times:

<details>
<summary>Backtrace:</summary>

[code]
</details>

I haven't got it down to a small repro yet, but here's the repo it happens in https://github.com/DutchGhost/vecset/tree/TyVidICE

[2019-07-15 19:19] jethrogb commented on #34511
Is this supposed to work?
[code]

[2019-07-15 19:26] nils-ohlmeier commented on #62289
Confirmed with my fuzzing test case that the problem is fixed in the latest rust nightly.
Thanks for fixing it so quickly.

[2019-07-15 19:44] npmccallum commented on #43122
I have read through the RFC and all the comments here. I may be missing this. However, it doesn't seem that the case of cancellation has been considered.

Let's say that I want to collect the first million numbers in the Fibonacci sequence. I can write a generator that never returns and yields the next number in the sequence. Then I can call `resume()` until I have one million results. So far so g

[2019-07-15 20:15] Nemo157 commented on #43122
They are stored as part of the generated `impl Generator` type, the transform also produces a generated `Drop` impl for the type, so when you drop the generator all of the current state is correctly dropped ([simple demonstration playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=17c65958c28e294a41b02097673b9b8b)).

[2019-07-15 20:17] Pauan commented on #43122
Generators work similarly to closures: they are converted into a struct which contains all of the state for the generator. So the generator struct will contain the `BigNum`s as fields.

When the generator struct is dropped, it will automatically drop all of its fields, so there is no memory leak. Here is an example:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=74878c5f

[2019-07-15 20:21] npmccallum commented on #43122
Should `Generator` depend on `Drop` then? Third-party implementors of `Generator` need either clear documentation on the need to handle cancellation semantics or a strict dependency on `Drop` to force them to do so. Possibly both.

[2019-07-15 20:25] Pauan commented on #43122
@npmccallum I'm not sure what you mean. Things will automatically be dropped even if you don't implement `Drop`.

So unless you're intentionally trying to leak memory, it's very hard to leak memory by accident.

[2019-07-15 20:35] npmccallum commented on #43122
@Pauan So if you create a generator using the closure-like syntax, the Rust compiler will create a new ephemeral type, implement `Generator` and `Drop` on it and create an instance of that type.

The Rust compiler, however, is not the only party that can implement `Generator` and `Drop` on a type. For example, a number of stackfull coroutine crates do this. We might want to document that if you im

[2019-07-15 20:38] rpjohnst commented on #43122
Unless you're actually managing memory yourself you don't need to implement `Drop` at all- when you just have a `BigNum` field the compiler will generate "drop glue" to call `BigNum::drop` for you. This is exactly the same as a case like this:

[code]

[2019-07-15 20:40] npmccallum commented on #43122
@rpjohnst Agreed.

[2019-07-15 20:42] Pauan commented on #43122
That is correct, yes.

No, that is not necessary. What I said is not specific to generators, it applies to *all* Rust types:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f6d244f8fc13f887a99d1f3f425ddaec

As you can see, even though we did not implement `Drop` for `Bar`, it still dropped `Foo` anyways.

This is a fundamental property of Rust: everything is automatically

[2019-07-15 20:47] alexcrichton commented on #62569
If the proposal ends up boiling down to adding a new top-level attribute to opt-out, then I think a blocker in my mind for the proposal would be to justify why a change to the compiler/standard library is necessary when otherwise a crate on crates.io would only require two lines to add to a project (e.g. a dependency directive in `Cargo.toml` and a one-liner in `src/main.rs` to enable)

[2019-07-15 21:08] Nemo157 commented on #43122
To be fair, if you are implementing something acting like the coroutines created by the generator transform then you are likely to be manually managing your own internal memory to deal with the states efficiently e.g. translating my [earlier example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=17c65958c28e294a41b02097673b9b8b) into a [manually implemented `Generator`](

[2019-07-15 21:29] KrishnaSannasi commented on #57166
Minimal example

[code]

generates

[code]
On [playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=50acc1573d3e80e6bdfaafd13ab09feb) for the latest nightly (2019-07-14 83e4eed16ef7adb54a80)

[2019-07-15 22:12] c410-f3r commented on #62700
Try to disable incremental compilation.

Related #61338

[2019-07-15 22:17] Arnavion commented on #61482
https://github.com/rust-lang/rust/pull/61523 marked it `doc(hidden)`. Is there anything else to do here?

[2019-07-15 22:35] estebank commented on #62430
This is a case of exponential explosion:

With `#![recursion_limit="4"]`:
[code]

With `#![recursion_limit="8"]`:

[code]
With `#![recursion_limit="16"]`:
[code]

[2019-07-15 23:01] cramertj commented on #29722
ping @joshtriplett @Amanieu Let me know if I can help move things along here! I'll be in touch shortly.

[2019-07-15 23:08] samsartor commented on #62581
@rustbot claim

[2019-07-15 23:33] MSxDOS commented on #51910
I'm confused, what's wrong with putting a real pointer in an integer constant?

Btw, the following code compiles just fine:
[code]

[2019-07-16 00:42] estebank commented on #62430
CC https://github.com/rust-lang/rust/issues/60846 https://github.com/rust-lang/rust/issues/61960

@nikomatsakis I believe this is related to (not introduced in) https://github.com/rust-lang/rust/pull/61754.

[2019-07-16 01:07] estebank commented on #58017
cc @petrochenkov as this overlaps with a lot of the work he's been doing.

[2019-07-16 01:35] JohnTitor opened #62706 "Failed in tidy due to submodule"
In the latest rust-lang/rust master, we see many tidy (`x.py test src/tools/tidy`) errors probably due to stdarch(stdsimd).

Errors, for example:

- CR characters
- line longer than 100 chars
- tab characters

I already ran `x.py clean` but the issue hasn't been fixed.

[2019-07-16 01:49] lzutao commented on #62706
Tidy runs fine on my machine: 4b65a86ebace8600c8e269e8bfe3365cdc460e68

[2019-07-16 01:58] JohnTitor commented on #62706
@lzutao Thanks, this issue may be unique to me...

[2019-07-16 02:04] JohnTitor commented on #62706
Oh, it seems that `stdsimd` was out of submodules because it was renamed, and caused the tidy errors as rustc code. So the tidy errors are unique to me.

[2019-07-16 02:04] #62706 closed

[2019-07-16 02:28] Michael-F-Bryan opened #62708 "ICE using associated constant in generic type"
I'd like to use an associated constant when telling `arrayvec::ArrayVec` how big the underlying array should be and encountered an ICE while running the following code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=880487b49337cdb59010599586a814bb))

Errors:

[code]

[2019-07-16 03:52] eddyb commented on #54327
@jakubadamw Is that using the same version of `const_assert`?
You should expand it to see what it actually does: if it now creates a nested `const` item, that can't refer to type parameters *anyway*, regardless of #43408.

[2019-07-16 03:54] lzutao opened #62711 "Which is accessor method of MetadataExt?"
https://github.com/rust-lang/rust/blob/4b65a86ebace8600c8e269e8bfe3365cdc460e68/src/libstd/os/linux/fs.rs#L36-L41

[2019-07-16 04:01] eddyb commented on #61415
@RalfJung Can you trigger that from CTFE, or does it require runtime features?
It would be nice to have a issue with a testcase that ICEs/errors from miri.

[2019-07-16 04:38] limira commented on #62609
I create a PR #62712

[2019-07-16 05:53] oli-obk commented on #51910
you are converting a null pointer to a reference (which is UB) and then back to an integer (which is fine, since `0` is a valid integer and not a pointer). What I'm talking about is if you transmute a reference to e.g. a static to an integer.

[2019-07-16 06:57] SimonSapin commented on #43038
Stabilized in #61620.

[2019-07-16 06:57] #43038 closed

[2019-07-16 06:58] hellow554 commented on #62711
`as_raw_stat` returned the [stat struct](https://doc.rust-lang.org/std/os/linux/raw/struct.stat.html) containing all the information.
Now you should access them via the methods provided by the trait, e.g. [`st_dev`](https://doc.rust-lang.org/std/os/linux/fs/trait.MetadataExt.html#tymethod.st_dev), [`st_ino`](https://doc.rust-lang.org/std/os/linux/fs/trait.MetadataExt.html#tymethod.st_ino), [`st_mo

[2019-07-16 07:06] hellow554 commented on #62708
Minified:

[code]

[2019-07-16 08:39] #51221 closed

[2019-07-16 08:39] #62660 closed

[2019-07-16 08:39] #61786 closed

[2019-07-16 08:39] rust-highfive opened #62715 "`miri` no longer builds after rust-lang/rust#62704"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62704, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Mark-Simulacrum, the PR reviewer, and @rust-lang/

[2019-07-16 08:45] RalfJung commented on #61415
ICE from Miri is easy:
[code]

[2019-07-16 10:21] gnzlbg commented on #29722
@cramertj AFAICT anybody can move this forward, this is unblocked and waiting on somebody to step in and put in the work. There is a pre-RFC sketching the overall design, and the next steps could be to implement that and see if it actually works, either as a proc macro, in a fork, or as a different unstable feature.

One could probably try to just turn that pre-RFC into a proper RFC and submit it,

[2019-07-16 10:23] eddyb commented on #61415
If I try to make `fn len` a `const fn` I get this:
[code]
So I'd suggest fixing that first (seems like an unnecessary limitation while const generics are unstable - worst case it can just get its own feature gate).

After that, the entire repro is this (and it might actually go away?):
[code]

My guess is that miri isn't monomorphizing ("substituting"?) `Operand::Constant`s.

[2019-07-16 10:28] upsuper commented on #57166
That reminds me that this issue may be from the enum size optimization. When we don't have a separate field for the enum tag (in case like `Option<Box<_>>`), compiler doesn't make use of non-null guarantee when optimizing it.

To prove that, an even simpler testcase is:
[code]

which produces the following assembly:
<details>

[code]

</details>

[2019-07-16 11:39] GuillaumeGomez commented on #62571
@raphlinus Please ping us once the release is done.

[2019-07-16 11:40] GuillaumeGomez commented on #62559
How is the compiler handling such a case? If we could use the same in rustdoc, that'd be even better than warn about it.

[2019-07-16 12:06] RalfJung commented on #61415
Indeed, and I have [a patch](https://github.com/RalfJung/rust/commit/a4fbd431d4c08439400e572a99cd574b5aeb3139) for that but it ICEs. See https://github.com/rust-lang/rust/pull/61041#issuecomment-511113320.

[2019-07-16 12:34] kyrias commented on #40180
Both of the 64-bit issues have long since been fixed, and Rust's minimum LLVM is newer than the fix, so it's just the MMX/x87 floating point and 32-bit issues remaining, which appear to have been untouched since 2017.

[2019-07-16 12:47] phil-opp commented on #40180
@kyrias I updated the issue description. I also added https://github.com/rust-lang/rust/issues/57270, which will be hopefully fixed soon with the LLVM 9 upgrade.

[2019-07-16 13:08] kyrias commented on #57270
(I just double checked, and the `9.0-2019-07-12` branch does indeed contain the fix.)

[2019-07-16 13:11] eddyb commented on #61415
@RalfJung I left a comment, you shouldn't be able to trigger that ICE that easily.

[2019-07-16 13:23] lzutao commented on #62711
Thanks for explanation. But I think reading the deprecated message is misleading.

[2019-07-16 13:45] nagisa commented on #62559
The compiler requires user crates to increase the recursion limit manually, but unlike with rustdoc, you will only ever hit those cases in regular compilation when you actually use types in a certain way that would require such recursion. `rustdoc` is significantly more prone to such recursion.

[2019-07-16 14:19] SimonSapin opened #62717 "ICE "no ImplicitCtxt stored in tls" in Servo on Windows and macOS"
Compiling Servo with rustc 1.38.0-nightly (4b65a86eb 2019-07-15) works fine on Linux. On a Windows or macOS host the compiler panics on the `script` crate:

[code]

[2019-07-16 14:20] marmistrz opened #62718 "Send trait bound failure error message doesn't refer to Send at all"
If a trait method expects a `Future` to be `Send` but we try to use it for a `Future` that doesn't implement `Send`, the compiler error message doesn't mention the missing `Send` trait at all, which makes it very hard to debug the issue.

Example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53cdebbab43fa37326e73fe554de7db4

The error message:
[code]

[2019-07-16 14:37] Fensteer opened #62719 "String truncate assertion failed with some chars"
This assertion failed when using a specific charset : `liballoc/string.rs:1557`

Step to reproduce :
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace :
[code]

[2019-07-16 14:38] Fensteer commented on #62719
Maybe related issue: https://github.com/rust-analyzer/rust-analyzer/issues/314

[2019-07-16 14:39] jonas-schievink commented on #62719
Looks like this is expected, but the message could be better.

[2019-07-16 14:50] Fensteer commented on #62719
My bad you're right, I thought `truncate` use char len not bytes...

[2019-07-16 14:54] ghost opened #62721 "Why is Rust free?"
Hello Rust developers,

I have tried searching on rust-lang.org and related websites. I've searched wikipedia and the Internet. But I can't find the answer to my question: Why is Rust free?

May I ask if you could add that answer to rust-lang.org? Just in case other people have that same question.

Thank you,

[2019-07-16 15:14] #62719 closed

[2019-07-16 15:38] SimonSapin commented on #62717
Regression range: dfd52ba6a...6e310f2ab. Merges:

6e310f2aba Auto merge of #62435 - scottmcm:constrained-array-impls, r=centril
9210359b18 Auto merge of #62467 - Centril:rollup-083tn7t, r=Centril
a2500db858 Rollup merge of #62286 - petrhosek:rustc-no-duplicate-archives, r=cramertj
fe807fcf3e Rollup merge of #62213 - QuietMisdreavus:cfg-doctest, r=GuillaumeGomez
3250b8ee59 Rollup merge of #62042 -

[2019-07-16 15:42] SimonSapin commented on #62717
https://github.com/rust-lang/rust/pull/62281 updates LLVM: https://github.com/rust-lang/llvm-project/compare/1bbe0b3e1d756116cbf1fcf049555066ef929008...8538d56b2dd450063547a7690f7ffa2ac37c9c65

[2019-07-16 15:49] MoAlyousef commented on #48700
I'm also having this problem recently after updating to 1.36 on wsl. It's annoying because it explodes compile times.

`cargo build
   Compiling hem v0.1.0 (/mnt/e/Med/dev/rst/hem)
warning: Error finalizing incremental compilation session directory `/mnt/e/Med/dev/rst/hem/target/debug/incremental/hem-3i2so4g3tkaqp/s-fe52czk8pr-bxxvut-working`: Permission denied (os error 13)

    Finished dev [uno

[2019-07-16 15:52] gnzlbg commented on #62675
So I think requiring OS support is a no go.

We should just compile crt0 with a minimum set of features, and call the function that does the check, which is also compiled with a minimum set of features (no target-cpu, no extra target-feature's etc.).

For dynamic libraries, we would then need to add a function pointer, to a function compiled with minimum target-features, to the library initializat

[2019-07-16 15:53] eddyb commented on #62717
It's probably #59800 - try adding `extern crate rustc_interface;` and/or `extern crate rustc_driver;` to your plugin crate.

[2019-07-16 16:10] badboy opened #62724 "Improving error for unnecessary parentheses in `for` loop head"
The following code:

[code]

leads to this error:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0cc6c5cf1f381e2f05fce24b1e59ecba))

A colleague of mine typed this code, coming with a C++/JavaScript/Kotlin background where parentheses are required in the `for` loop head.

I wonder if it’s possible/worth it to make that error message nicer and easier

[2019-07-16 16:10] peterjoel opened #62725 "Type inference breaks down in recursive call"
This is as simple as I could make it. There is an error when I try to call `do_stuff` recursively, without explicitly giving the type of `T`:

[code]

[code]

Interestingly, when I switch around the `From` relationship, it works:

[code]
----

[code]

[2019-07-16 17:02] Thomasdezeeuw opened #62726 "Tracking issue for io_slice_advance"
This is a tracking issue for `IoSlice::{advance, advance_slices}` and `IoSliceMut::{advance, advance_slices}`.

Feature gate: #![feature(io_slice_advance)].

Steps:

- [x] Implement the RFC.
    * #62987
    * #85802
- [ ] FCP
- [ ] Stabilization PR.

Current API additions:

[code]

---
Old issue:

Writing https://github.com/rust-lang-nursery/futures-rs/pull/1741 I needed to resort to unsafe code

[2019-07-16 17:05] Thomasdezeeuw commented on #62726
Looking for some feedback as to whether this would be accepted.

[2019-07-16 17:10] RalfJung commented on #60405
What remains on-topic here I think is the following observation: we cannot both support `repr(transparent)` and say that non-`repr(C)`-unions are bags of bits. Correct?

[2019-07-16 17:25] gnzlbg commented on #60405
Depends on whether we can make `repr(C)` unions bags of bits. These aren't bag of bits in C, but maybe there is a way to make them bag of bits in Rust ?

[2019-07-16 17:28] gilescope commented on #62506
Having used https://github.com/jethrogb/rust-reduce on the code and with a little manual intervention the ICE is now this:
[code]

Replacing Output=String with Output=i32 and it passes on that version of rustc.

[2019-07-16 17:45] tbraun96 commented on #48869
Any updates fam?

[2019-07-16 19:50] joshtriplett commented on #62569
@alexcrichton Because there's a difference between "do some setup to ignore SIGPIPE, then un-ignore it" and "never ignore SIGPIPE in the first place". Because people want to build smaller executables. Because libraries and applications shouldn't have subtle differences in behavior, especially undocumented differences. Because you can do this in C and Rust makes it difficult. Because not every proj

[2019-07-16 19:56] ckaran commented on #41193
I'm getting the same error as above:

[code]

Unfortunately, I haven't been able to create a reduced test case, so I'm not too sure what to do to help in debugging this.

# Meta

[code]

[2019-07-16 20:19] roblabla opened #62729 "Link errors when compiling for i386 with +soft-float"
It appears that since https://github.com/rust-lang/rust/pull/61408, rust now requires `fminf` and `fmaxf` functions to be present when compiling for i386 with +soft-float (using a custom target JSON). However, compiler-builtins only expose those functions for some targets, which don't include x86[0].

Maybe compiler-rt should include a `target-feature = "soft-float"` in the list of conditions to e

[2019-07-16 20:31] jonas-schievink commented on #62721
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

Once an answer is found, feel free to open a PR to https://github.com/rust-lang/www.rust-lang.org/ adding it to the webs

[2019-07-16 20:31] #62721 closed

[2019-07-16 20:33] pietroalbini commented on #62571
We discussed this in today's release team meeting, and we decided not to add the label. There isn't really a difference in the way we would triage `S-blocked` and `S-waiting-on-upstream` PRs, so splitting the label wouldn't help the triage efforts that much. Thanks for the proposal though!

[2019-07-16 20:38] Lokathor opened #62731 "core::fmt::Formatter needs setter methods"
If you're given a format string when formatting a struct there's no way to

1) read some of that data
2) decide how to format the struct fields.
3) have those fields then format themselves according to an alternate `Formatter` based on your decision above.

**Example:** if you get a width argument, you can't use some of the width space yourself and then tell an inner field to format itself with a

[2019-07-16 22:34] jakubadamw commented on #54327
@eddyb, I don't know what version was used originally but I'm using the newest one.
I should have been more clear. I'm not surprised this errors out. In fact, what I meant to emphasize is just that it doesn't ICE any more so we can take off the label.

Here's the output of the expansion:
[code]

[2019-07-16 22:56] petrochenkov commented on #44113
Fixed in https://github.com/rust-lang/rust/pull/62735.

[2019-07-16 22:56] petrochenkov commented on #58072
Fixed in https://github.com/rust-lang/rust/pull/62735.

[2019-07-16 23:00] petrochenkov commented on #55708
@JohnTitor
This is a transient stage0 problem, such problems should not be tracked by GitHub issues generally.

[2019-07-16 23:00] #55708 closed

[2019-07-16 23:01] petrochenkov commented on #55864
Transient stage0 problem should not be tracked by GitHub issues generally.

[2019-07-16 23:01] #55864 closed

[2019-07-16 23:04] petrochenkov commented on #60869
`#[global_allocator]` is turned into a macro in https://github.com/rust-lang/rust/pull/62735.
I'm pretty sure now that the gensym in it can be removed together with the whole generated `allocator_abi` module and some imports.

[2019-07-16 23:29] elichai commented on #51999
Would be awesome to see compile time `assert(condition)` :)

[2019-07-17 01:28] ehuss opened #62739 "rustc-guide submodule issues"
Recent PR (#62733) failed due to some issues with updating the rustc-guide submodule.  It's not clear exactly the extent of what's wrong, but here are some issues I see:

- I can't find anything that actually runs the rustc-guide tests.
- Running them locally, they fail with bad links.

[code]

- Note, this is especially awkward for me to deal with, because it only runs on linux, which is not my n

[2019-07-17 01:49] wesleywiser commented on #59705
I got a similar error when working on `rustc` after I changed [`promote_candidates`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/transform/promote_consts/fn.promote_candidates.html) from

[code]

to

[code]

<details><summary>Full error message</summary>

[code]

</details>

In this case, `promote_candidates` is a public, exported symbol in the crate. Perhaps there's an incremental b

[2019-07-17 02:17] plugwash commented on #60019
For the record I finally got to the bottom of this as the result of another issue.

It seems that when built for armv6 llvm 7 defaults to no FPU (this doesn't seem to be an issue with llvm 6 or 8). When building code with the hard float ABI selected but no FPU selected LLVM miscompiles the code. Specifically it tags the binaries as using the hard float ABI, but actually uses what appears to be the

[2019-07-17 03:55] lzutao opened #62741 "rustdoc doesn't render links in Trait Implementations sections"
https://doc.rust-lang.org/nightly/std/iter/struct.Flatten.html#method.scan
![image](https://user-images.githubusercontent.com/15225902/61345900-28c8b300-a881-11e9-8454-90b780310685.png)
https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.scan
![image](https://user-images.githubusercontent.com/15225902/61345923-39792900-a881-11e9-937f-6ce620adc8b7.png)

As we can see, `fold` is no

[2019-07-17 03:56] lzutao commented on #62741
@rustbot modify labels: T-rustdoc

[2019-07-17 04:58] mjbshaw commented on #60405
I'm personally against the bag-of-bits idea. Some of my concerns/objects to this are that:

- Once you start dealing with the fields of a `union`, the padding bits are toast. Example:
[code]
  Neither `set` nor `consume` preserve the padding bits. The bag-of-bits idea might lead developers to incorrectly assume the padding bits are preserved in `set` or `consume`.
- Padding bytes should never be r

[2019-07-17 05:04] RustyYato opened #62742 "ICE: Generic type alias to invalid type crashes during type check on latest stable"
This also crashes on the latest nightly

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0d49e84d11fd24aa8d24c1da1be6a428)

[code]

[2019-07-17 05:13] mjbshaw commented on #62061
For some prior art, see #54832, where I tried to make `MaybeUninit::zeroed` a `const fn`, but was ultimately rejected due to it relying on `init` (and didn't have any viable alternative since `&mut` isn't `const`-friendly).

I would love to revive #54832 if people are okay with using `init` temporarily until CTFE has minimal support for mutable references.

I get that, and to a degree I agree, but

[2019-07-17 06:07] Lokathor opened #62743 "_mm_storeu_si16 and _mm_storeu_si64 are missing but not documented as such"
* [_mm_storeu_si16](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#=undefined&text=_mm_storeu_si16&techs=SSE)
* [_mm_storeu_si64](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#=undefined&text=_mm_storeu_si64&techs=SSE)

They're both missing from `core::arch::x86` and `core::arch::x86_64`.

It might be fine in a sense that they're missing, since there's still also [co

[2019-07-17 06:25] gnzlbg commented on #60405
Right now padding is only a function of field offsets. For unions to have
padding, we need to incorporate that into our more general definition of
layout somehow (eg also for structs).

Then there is also the issue of what happens when an union field is
modified. Since we want to allow taking references to fields, we cannot
forbid field padding from becoming garbage. If when accessing the union
th

[2019-07-17 06:30] RalfJung commented on #60405
IMO that's a bad argument. If you change the union to
[code]
then all bits *are* preserved and your example still kills padding.

What we have to communicate clearly is that *the type you use for the assignment matters*. I call this a "typed copy" because it also occurs when passing arguments to a function or returning them back (where only the latter looks like an assignment in surface Rust).

Th

[2019-07-17 06:42] scottmcm commented on #62508
How close would it get if `drop` were just marked `[inline(always)]`?  (Assuming the perf of running the mir inliner for that is acceptable, since there's no body so it'd be hopefully easy.)

[2019-07-17 06:47] howaboutsynergy commented on #27189
Ok, I found (at least) one case where `-Z treat-err-as-bug=1` will make you miss the actual error, as someone already mentioned [above](https://github.com/rust-lang/rust/issues/27189#issuecomment-123386305) it could happen.

For this case:
[code]

[code]

Compiler output when `-Z treat-err-as-bug=1` via `$ time cargo rustc --verbose --release -- -Z treat-err-as-bug=1 -v "$@"`:
[code]

Normal compi

[2019-07-17 07:58] hellow554 commented on #62724
I wonder why this isn't accepted. You can write `if (x == 3) { }`, so shouldn't this code be accepted as well? 🤔

[2019-07-17 08:05] andrew-w-ross commented on #48700
@MoAlyousef I had the same issue, if your using vscode it's because of the file watcher.
Ignoring the target folder fixed it for me, add this to your settings.
[code]

[2019-07-17 08:09] badboy commented on #62724
The syntax for that loop is explicitly `"for" $pattern "in" $expression {}`.
For `if` the syntax would be `if $expression {}` and only the expression can contain the parentheses.
Of course it _could_ be just accepted with optional parentheses for the loop, but we don't really want that (and parentheses in `if` are a lint-warning)

[2019-07-17 09:04] retep998 commented on #62588
Once https://github.com/rust-lang/rust/pull/60260 lands, there will be `windows-gnu` targets that use the llvm linker instead of the mingw linker, and the llvm linker requires linking through an import library so you will need `link(name = "dylib.dll")` for those specific targets. Really I wish we'd just *always* emit import libraries on all windows targets for the sake of consistency.

[2019-07-17 09:14] hellow554 commented on #62742
Backtrace:

[code]

[2019-07-17 09:42] o01eg commented on #52898
Looks like it was reappeared again after https://github.com/rust-lang/rust/pull/62150 in https://github.com/erlepereira/x11-rs/issues/99

[2019-07-17 09:55] hellow554 commented on #54284
Two things:

Current compiler suggests it:

[code]

second, on nightly this compiles flawlessly even without the move (not sure why though, but a copy type optimization?) so I close this.

[2019-07-17 09:55] #54284 closed

[2019-07-17 10:04] hellow554 commented on #55914
As an update to this:

1.30.0:
[code]

1.36.0
[code]

huge improvement. A few things could be done better, e.g. the `sub rsp, 104` could be moved after the `jne`, but I think this has to be done according to https://github.com/rust-lang/rust/pull/57815#issuecomment-457315117 but I'm not entirely sure. The two `mov`s are done, because `assert_eq` matches the references but all in all, looks okay-is

[2019-07-17 10:06] RalfJung commented on #52898
@o01eg do you know where in your code the bad reference is being created?

I can only repeat that `mem::zeroed` on a type including a reference is immediate UB, and this is stated explicitly by the docs. Having a SIGILL there is a *feature* that alerts you of the UB instead of silently exploiting it. You cannot rely on always getting the SIGILL though.

[2019-07-17 10:28] MarcAntoine-Arnaud opened #62747 "Docker build stopped due to lot of memory usage during dependencies compilation"
Hello,

I'm currently face to a big issue for me.
Trying to build the docker image of this project: https://github.com/FTV-Subtil/rs_http_worker
I cannot achieve it as lot of memory is used, so workers swap a lot and build take more than 1h.

Do you have some ideas to optimise build ? In term of memory usage ?

Thanks
Marc-Antoine

[2019-07-17 12:09] lqd commented on #62742
This started ICE-ing in 1.27. The first nightly where it's present seems to be `nightly-2018-04-28` (there were a lot of missing nightlies in april 2018). Unfortunately there are no available CI artifacts for these old commits to automatically bisect to a PR.

<details>
<summary>Backtrace on nightly-2018-04-28</summary>

[code]
</details>

A somewhat liberal range of bors commits from April 26 to

[2019-07-17 12:40] chocol4te commented on #60633
@rustbot claim

[2019-07-17 13:04] mjbshaw commented on #60405
I think that's a prerequisite to having a productive conversation about this. If we're not on the same page and talking about the same thing then this whole conversation is doomed.

I'll go first. Here's what I have been meaning by the term "padding bytes": The padding bits of a Rust `union` are the union of the following:

- Any trailing padding bytes added to the end in order to align the type.

[2019-07-17 13:04] lzutao commented on #55914
What about a codegen regression test?

[2019-07-17 13:27] mark-i-m commented on #62739
Sorry, CI has been have rate-limiting issues recently. There is supposed to be a cron job that checks the links every day, but issues are masked by the rate-limiting.

I will try to get on this today.

Our CI on the rust-lang/rustc-guide repo runs them for each PR and a CI cron job is supposed to run them nightly. Unfortunately, I don't think we can do much better. Links just break sometimes.

Thi

[2019-07-17 13:35] pietroalbini commented on #62739
cc @kennytm for toolstate

[2019-07-17 13:38] Patryk27 commented on #62747
Hi, I think you might be better off asking this question on [Reddit](https://www.reddit.com/r/rust) or other Rust-related forums - GitHub is an issue tracker related to Rust compiler's bugs.

[2019-07-17 13:39] jonas-schievink commented on #62747
Yep, that's correct, please make use of the forums or Reddit.

[2019-07-17 13:39] #62747 closed

[2019-07-17 13:58] ehuss commented on #62739
My point is, there is no reason for rustc-guide to be in toolstate if it never runs.  Without being tested, there's no "state" to add to the toolstate.  Tools usually run [here](https://github.com/rust-lang/rust/blob/d56128d2919132aceaf74cc3c68a4554f5445fce/src/ci/docker/x86_64-gnu-tools/checktools.sh#L21-L31) to generate that state.

When a tool is added, it has to be manually added to the toolst

[2019-07-17 14:19] matthiaskrgr opened #62750 "core: undefined symbol: Z3_mk_config""
repo is @ bf16480f9cf124630f4a4ffc6d8a57b72fbd5ce9

[code]
edit:
config:
[code]

I'm using manjaro and have z3 installed.
cc @nikic

cc #62592

[2019-07-17 14:42] nikic commented on #62750
We should probably explicitly set `LLVM_ENABLE_Z3_SOLVER=0` during the LLVM build. If Z3 is found it will be linked by default.

[2019-07-17 15:01] topecongiro opened #62751 "ICE while switching a type definition between enum and trait"
I have observed an ICE when I run `cargo check`. At that time I was switching a type definition between `enum` and `trait` on my own type.

At first I was using a trait:
[code]

on implementing it further I realized that I needed to use GAT, so I switched to using an enum:
[code]

and then I encountered the ICE.

 The error message is as follows:

[code]

The ICE disappeared after I run `cargo cle

[2019-07-17 15:04] mark-i-m commented on #62739
@ehuss Ah, I guess that is why toolstate is not working properly.

I very much want the guided added to toolstate. It's incredibly hard to discover these sorts of breakage with stumbling over it in other PRs to the guide. This makes it harder to keep the guide up to date and it also makes contribution to the guide more painful.

I'll also add that I don't think it will be a regular problem. It was

[2019-07-17 15:05] alexcrichton commented on #62569
Er sorry that sort of feels like a particularly antagonistic reponse to me? Many of your "Because ..." can be pretty trivially fixed (the crate doesn't have to be platform specific, difficulty seems like it's a function of the crate, etc) and seem like they're maybe blowing the problem out of proportion (we're not slowing down executables or bloating them by adding an extra syscall at the beginnin

[2019-07-17 15:08] jonas-schievink commented on #62649
@ProgVal does this happen even after clearing the Travis cache?

[2019-07-17 15:11] jonas-schievink commented on #40044
Closing in favor of https://github.com/rust-lang/rust/issues/40267, which is a more precise description of the same issue and has an actionable fix

[2019-07-17 15:11] #40044 closed

[2019-07-17 15:12] alexcrichton opened #62753 "LinuxTools builder: sccache isn't used"
The compiler time of [LinuxTool builds](https://dev.azure.com/rust-lang/rust/_build/results?buildId=3593&view=logs) are nearly 4 hours, which is due to the lack of sccache not being used. I believe that PRs don't have access to the same environment variable group as the auto builds, which means they don't have configuration of which S3 bucket to use, which means sccache is likely defaulting to the

[2019-07-17 15:13] alexcrichton opened #62754 "LinuxTools builder: TOOLSTATE_REPO is undefined"
This may or may not have the same fix as https://github.com/rust-lang/rust/issues/62753, but the LinuxTools PR builder doesn't have access to the same variables as the auto builders, which means the docker image fails at the very end (https://dev.azure.com/rust-lang/rust/_build/results?buildId=3593&view=logs) with an undefined env var.

[2019-07-17 15:13] alexcrichton commented on #62754
cc @pietroalbini

[2019-07-17 15:26] matthiaskrgr commented on #61693
Is there a reason for keeping the issue open?
I think this might be fixed? cc https://github.com/rust-lang/rust/issues/62338

[2019-07-17 15:28] mark-i-m commented on #62739
@ehuss If it is any comfort, I enabled github restrictions on rustc-guide that prevent merging PRs/pushing to master without green CI.

[2019-07-17 15:28] jonas-schievink commented on #62338
Fixed by https://github.com/rust-lang/rust/pull/62613

[2019-07-17 15:28] #62338 closed

[2019-07-17 15:30] alexwl opened #62755 "Type inference in the presence of recursive impls may result in an error message that mentions seemingly unrelated types"
Here's an example (tested with 1.36.0 and 1.38.0-nightly):

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=820e0d5fd61e7d9275a4378977488d8a

[code]

The error message:

[code]

I understand that Rust doesn't guarantee that trait resolution is decidable, so overflows are expected in certain cases. Of course, message "type annotations needed" would be much more helpful than

[2019-07-17 15:36] OvermindDL1 commented on #62569
It's possible to make a crate that causes `start` to never register a sigpipe handler at all?  I thought that was pretty baked in?

[2019-07-17 15:39] Centril commented on #62569
If this can be reasonably supported as a library function then that seems like the best solution since it is low cost. At any rate if people absolutely don't want to take on that dependency then libstd is still lower cost than a built in attribute. All in all I think @alexcrichton makes fine points.

[2019-07-17 15:46] MoAlyousef commented on #48700
Thank you...that fixed things.

[2019-07-17 15:52] ehuss commented on #62739
That's fair, I'm fine with trying for a while and see how it goes.  Also, I'm not advocating removing it from the toolstate (sorry I'm not being clear).  I meant that changing it so that it is allowed to fail when the submodule is updated at all times (even week before release).  That is, changing `checktools.sh` to allow failures of rustc-guide, even when the submodule is updated.  But still repo

[2019-07-17 15:58] mark-i-m commented on #62739
Yes, that was the original goal, but clearly, I'm not doing that right. Is this the necessary change? Or do I need to explicitly allow it to fail somewhere? https://github.com/rust-lang/rust/compare/master...mark-i-m:rustc-guide-toolstate-check?expand=1

[2019-07-17 15:59] mark-i-m commented on #62739
Also, I opened: https://github.com/rust-lang-nursery/rust-toolstate/pull/12

[2019-07-17 16:18] ehuss commented on #62739
Oh, if that's the goal, there are a few changes I think:

- Remove `rustc-guide` from `status_check`.  It's only purpose there is to fail the build if the submodule is updated and the status is not `test-pass`.
- Somehow exclude rustc-guide from the `SIX_WEEK_CYCLE` check.  That triggers during the last week, and if *any* PR causes a tool to regress, it is rejected. We probably don't want that for

[2019-07-17 16:23] eddyb commented on #54327
Yeah, it changed:
* https://docs.rs/static_assertions/0.1.0/src/static_assertions/lib.rs.html#90-101
* https://docs.rs/static_assertions/0.3.3/src/static_assertions/const_assert.rs.html#85

I've just updated the top comment to a version which still ICEs (which makes sense, 0 progress has been made in that area).

Closing as duplicate of #43408.

[2019-07-17 16:24] #54327 closed

[2019-07-17 16:45] mark-i-m commented on #62739
@ehuss Thanks! I opened #62759

[2019-07-17 17:16] RalfJung commented on #60405
I think I'd like to start by defining the *type* of "padding bytes". My thinking is that it is a set of indices indicating the bytes of a type that are purely padding. So for example, for
[code]
the "padding bytes" are: 1, 5, 6, 7, 13, 14, 15. Do we agree?

But then what are the "padding bytes" of a union?

This all makes me very sad because this notion just *should not be needed*. :(

[2019-07-17 17:39] jamesjerram opened #62762 "STATUS_ACCESS_VIOLATION on 'index out of bounds' Windows 7 with lto and avx"
With avx and lto enabled, index out of bounds causes a STATUS_ACCESS_VIOLATION instead of a panic. Initially encountered this problem in a program using rand::thread_rng() but narrowed down to a simpler test case found in issue #51794.

I tried this code:

[code]

with flags `-C lto -C target-feature=+avx`

I expected to see this happen:
[code]

Instead, this happened:
[code]

## Meta

rustc 1.36.

[2019-07-17 17:40] frehberg commented on #61560
I will investigate my crate test-generator

[2019-07-17 17:48] retep998 commented on #60405
This is how I interpret unions when working with them:

* Padding bytes in a value are always undefined. If I read a value from a union, the padding bytes in the value are still undefined even if those bytes were well defined in the union through a write from a different variant. Reading that value does not change the status of whether a given byte is defined in a union.
* When writing a value to

[2019-07-17 17:52] joshtriplett commented on #52898
FWIW, I'd be fine with closing this bug. If someone else on the lang team concurs, let's start an rfcbot close?

[2019-07-17 18:03] dlrobertson commented on #54883
I have `or-patterns` in a usable state on a local branch. I'm sure there are bugs, but the examples I have work. The change is much larger than I expected. As a result, I plan to submit support for a subset of the syntax proposed in the RFC over 4 PRs:

 - basic parsing (#61708)
 - lowering for simple patterns (no subpatterns)
 - lowering patterns that include subpatterns
 - exhaustive match check

[2019-07-17 18:25] 17cupsofcoffee opened #62763 "hashbrown's trait implementations appear in std docs"
Perhaps this is a known issue, but I've noticed that since `hashbrown` was integrated into the standard library, impls from that crate now [show up under the 'Implementations on Foreign Types' section of the trait docs](https://doc.rust-lang.org/std/iter/trait.IntoIterator.html#foreign-impls).

This is unfortunate, since the `hashbrown` versions of those types aren't actually accessible through `s

[2019-07-17 18:38] nikic commented on #62762
Can you produce a backtrace for the crash? I'm assuming it happens somewhere in the panic implementation?

[2019-07-17 18:50] jamesjerram commented on #62762
The program stops before it can print a backtrace, and I don't think it's panic-related because upon further testing, the same access violation occurs even with `i = 0` , which should be valid and produces no error or panic when run without the flags.

That being said, here's the backtrace for `i = 1` without the flags set:
[code]

and the debugger output for `i=0` with the flags set:
[code]

[2019-07-17 18:55] nikic commented on #62762
Sorry, what I had in mind here is a backtrace from lldb (typing in `backtrace` into the lldb command line should produce it).

[2019-07-17 18:58] jamesjerram commented on #62762
[code]

[2019-07-17 19:12] frehberg commented on #61560
as for the test-generator, I tested various versions, cant see any error as in the log. There is no stdout for the error-case, any idea why it might fail?

[2019-07-17 19:21] joshtriplett commented on #62231
Staring at the proposal for a while, and thinking about it further, I think if we document the assumption we're making (as well as noting all the cases we're covering like saturating to infinity) then I don't have a problem signing off on this.

In addition to the documentation changes already requested in the other issues, this needs to explicitly document the assumption that it'll be possible to

[2019-07-17 19:30] rkruppe opened #62765 "Document that str, slices, (more?) can't safely straddle allocation boundaries"
Slicing, indexing, and other safe operations on slices and strings pervasively use `<*T>::offset` and APIs built on top of it. These have the requirement that

So if one allocates two pieces of memory and after proper checking miraculously finds they are directly adjacent, one can't safely construct a slice/str/etc. that spans both of these allocations. At least, one can't do very many things with

[2019-07-17 19:35] RalfJung commented on #62765
Agreed. I am pretty sure this already came up last year or before with another "slice concat" library that was found to be unsound, but I cannot find any trace of that right now.

[2019-07-17 19:42] clarfon commented on #51999
I believe that this will be possible with the effects traits RFC? On my phone right now but someone can probably share a link.

[2019-07-17 19:45] elichai commented on #51999
I actually found out(through people in the IRC) that it's already kind of possible if you cast the bool to usize and use it in indexing `&[()][1 - (condition as usize)]`

[2019-07-17 19:47] mark-i-m commented on #51999
Yes, but IIUC it produces inefficient code.

[2019-07-17 19:49] clarfon commented on #51999
Yeah, there are ways people do compile time assertions but the main issue is that there's no compile-time `Debug`.

[2019-07-17 19:49] elichai commented on #51999
No code to produce in compile time operations that result in ZST :)
https://godbolt.org/z/1sxuS-

[2019-07-17 20:08] czipperz commented on #43038
Does someone want to edit the description to check the stabilization checkbox?

[2019-07-17 21:14] alexcrichton commented on #60419
While we're waiting for FCP to finish, I've proposed an implementation of this stabilization at https://github.com/rust-lang/rust/pull/62766

[2019-07-17 21:15] alexcrichton commented on #60987
While we're waiting for FCP to finish, I've proposed an implementation of this stabilization at https://github.com/rust-lang/rust/pull/62766

[2019-07-17 21:16] alexcrichton commented on #60988
The two blocking issues are now in FCP:

* https://github.com/rust-lang/rust/issues/60419#issuecomment-510526442
* https://github.com/rust-lang/rust/issues/60987#issuecomment-511576932

and I have posted two PRs to stabilize the implementation:

* https://github.com/rust-lang/cargo/pull/7143
* https://github.com/rust-lang/rust/pull/62766

[2019-07-17 21:25] Mark-Simulacrum commented on #62620
We discussed this a bit today and concluded that we don't need the SGX dependencies to be appropriately licensed (they're somewhat "third party") so I'm closing this issue.

[2019-07-17 21:25] #62620 closed

[2019-07-17 21:38] gnzlbg commented on #62620
So does that mean that it is ok to add third party libraries to the runtime under this license?

[2019-07-17 21:40] oberien opened #62767 "ICE when use-ing enum variant after glob-importing same-named enum"
[playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=17237a55fd54a2981a6113425362cfce)

Reproduction code:
[code]

[code]

If I re-export `pub use Foo::*` in the module, it works as expected, having enum `Foo` in the type-namespace and variant `Foo` in the value-namespace ([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=e6a83fcfa7f258d

[2019-07-17 21:45] oberien opened #62768 ""Foo is ambiguous" even though it's not"
[playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=75fda319e5fcd1be7259ee46c608a710)

Given the following code:
[code]
The compiler claims, that the `Foo` in `use Foo::*` could either mean the type `foo::Foo` imported by `use foo::*`, or the variant (value) `Foo::Foo` imported by `use Foo::*`:
[code]

How can a name refer to something that's not imported yet?

[2019-07-17 21:49] Mark-Simulacrum commented on #62620
Not in general. In this case, it's specifically for SGX so that's why we're not concerned about it.

[2019-07-17 21:56] gnzlbg commented on #62620
This issue was way broader than SGX is using an incompatible license.

On Wed 17. Jul 2019 at 23:51, Mark Rousskov <notifications@github.com>
wrote:

[2019-07-17 22:03] oberien opened #62769 ""Foo is ambiguous" only when deriving Debug"
[playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=903c3c6207c05d529bd58cc739350d65)

This may be related to #62768.

Given this code:
[code]
The compiler errors, saying that the `Foo` in `use Foo::*` may refer both to the enum (type-namespace) `Foo` and the yet-to-be-imported variant (value-namespace) `Foo::Foo`:

[code]

However, if I remove the `#[derive(Debug)]`,

[2019-07-17 22:12] oberien commented on #62769
When I expand the code using `--pretty=expanded` and just copy-paste the expanded code, which doesn't contain the `#[derive(Debug)]` anymore, the code compiles just fine ([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4f50a6a010c3163047b0db8ebf9a8133)).

[2019-07-17 22:25] MaulingMonkey opened #62770 "Minor 1.36 rustdoc regression: \] after a link is not treated as an escape"
A minor change in behavior between 1.35.0 and 1.36.0.  Repro example here:

[code]

Run a standard `cargo doc`.  In 1.36.0, the link will display `\]` instead of `]` after the link, whereas in 1.35 it will display `]` after the link.

[2019-07-17 23:14] almindor commented on #39915
I'm getting same errors as carado. Managed to "shoehorn" -L /usr/lib into the linker invokation but that just shortens the list of missed libs to `-lgcc` which does not exist anywhere in the system as `libgcc` (there's a `libgcc_s.a`) I suspect this is a result of some gnu-ism but can't figure out how to fix it.

[2019-07-17 23:21] #62754 closed

[2019-07-17 23:38] estebank commented on #41030
With #62772 the output will be:

[code]

[2019-07-18 00:17] estebank commented on #62769
cc @petrochenkov

[2019-07-18 00:38] petrochenkov commented on #62769
First, variants exist in type namespace (and their constructors exist in value namespace).
Second, macro-expanded names have some extra restriction to avoid paradoxes, so `--pretty=expanded` code compiling doesn't necessarily mean the non-expanded compiling successfully as well (see the error message, it says something about macro-expanded names specifically).

Beside that, it's rather a conservat

[2019-07-18 00:40] alexcrichton commented on #62753
Fixed now?

[2019-07-18 00:40] #62753 closed

[2019-07-18 01:00] thomcc opened #62773 "str::trim_start_matches and similar should not trust Searcher to return valid indices"
For example, https://github.com/rust-lang/rust/blob/bc2e84ca0939b73fcf1768209044432f6a15c2e5/src/libcore/str/mod.rs#L3748, and the equivalent in trim_end_matches.

The functions on Searcher that return these are not unsafe, and *someday* could be implemented outside the stdlib. Also the cost of the bounds/char boundary check there is probably going to be quite low.

In practice this doesn't matter

[2019-07-18 01:10] jethrogb commented on #44839
This feature seems too inconvenient to use right now. Having to mark everything `unsafe` is not great, but marking individual functions is also not very useful when writing generic code. Consider the following code, in which I have a larger algorithm that ties together two computational kernels:

[code]

I have several hand-optimized versions of either kernel using SIMD intrinsics for various feat

[2019-07-18 01:15] ehuss commented on #62770
I filed https://github.com/raphlinus/pulldown-cmark/issues/375 for this.

[2019-07-18 01:30] scottmcm commented on #62773
Is this really a bug?  It looks like `i` is coming from a [`Searcher`](https://doc.rust-lang.org/std/str/pattern/trait.Searcher.html), which is an `unsafe trait`:

https://github.com/rust-lang/rust/blob/bc2e84ca0939b73fcf1768209044432f6a15c2e5/src/libcore/str/mod.rs#L3740-L3750

[2019-07-18 01:50] alexreg commented on #60062
@DutchGhost That looks like a good approach to me. I actually quickly hacked together something similar myself in the past. What do you mean about making an iterator out of `!Unpin` generators? How is that possible?

Either way, I think we definitely need this in the stdlib, just needs a bit more planning first.

[2019-07-18 02:40] thomcc commented on #62773
Whoops, my bad, I missed that the trait was unsafe.

[2019-07-18 02:40] #62773 closed

[2019-07-18 03:09] ehuss commented on #58491
This is fixed in beta (1.37) via https://github.com/rust-lang-nursery/mdBook/pull/946.

[2019-07-18 03:09] #58491 closed

[2019-07-18 03:23] alexreg commented on #58887
Good spot. Not sure what PR fixed this, but I suspect it can be closed now... @centril?

[2019-07-18 03:27] JohnTitor commented on #58887
Before closing this, we can add the tests for this.

[2019-07-18 03:29] alexreg commented on #58887
@JohnTitor It depends if there is already an equivalent (minimal) example. If there is, no need... if not, then yes (and let's minimise this one).

[2019-07-18 03:45] BaoshanPang opened #62775 "test cases under run-pass directory are not running"
With the change in function  should_run_successfully() of commit 54337fab39f4c610bd5e5c51cea6a965e7bd7cdb:
         - RunPass => true,
         -  Ui => self.props.pass_mode == Some(PassMode::Run),
         +  RunPass | Ui => self.effective_pass_mode() == Some(PassMode::Run),

The test cases under run-pass directory are tested for building only, the compiled test cases are not running any more.
Do

[2019-07-18 05:44] gnzlbg commented on #44839
There are several pull requests To the RFCs repository that improve this.
You might to want to chime in on those.

Some of them do help with some of the problems that you are having (eg the
target feature 1.1 RFC). Adding support for trait methods could be a future
extension over that, but the reason trait methods in our case is slow is
because LLVM is missing basic target feature propagation opti

[2019-07-18 05:47] archshift opened #62776 "Building core on thumbv6-none-eabi fails with "LLVM ERROR: invalid symbol redefinition""
In my project I'm using xargo to build libcore.

Perhaps appropriately, the compiler warns it may crash and then promptly crashes:
[code]

[2019-07-18 05:52] SimonSapin commented on #43038
Sure, though IMO the issue being close already reflects that everything in it is either done or obsolete.

[2019-07-18 05:52] jethrogb commented on #44839
Thanks @gnzlbg! Do you have a link to those RFCs? Also in my case I'm only using associated functions, not methods.

[2019-07-18 06:00] archshift commented on #62776
Tried the July 1st nightly, and it works fine.

[2019-07-18 07:00] ProgVal commented on #62649
Indeed, it works!

Should I close the issue?

[2019-07-18 07:11] Janonard commented on #61560
Btw, I found the problem with `lv2rs-core` and already fixed and updated it!

[2019-07-18 08:11] Havvy commented on #62231
Where would you document the assumption that it's possible to set the hardware FP modes? That seems to be more of a rule about developing Rust compilers than it does about the language itself. Are *other* similar restrictions documented anywhere?

[2019-07-18 08:16] RalfJung commented on #60405
Do you mean "from a union field"? Then I agree -- that is a "copy at the field type", the fact that we are reading from a union does not have any effect.

Again, do you mean "to a union field"? If yes, I agree again because unions are not really involved. The assignment happens at the type of that field, and only that type's rules apply.

Yes: in your last clause, we could just say "when copying a

[2019-07-18 08:29] retep998 commented on #60405
@RalfJung

Yes, I did mean union fields.

I meant stricter in the sense that less code is legal under those rules. Not preserving any byte which is padding or undefined results in less code that is legal.

[2019-07-18 08:32] RalfJung commented on #62266
Oh, wow, okay the code is much more spaghetti than I thought.

The `beta_required` there is not for doing the check the week before the beta cutoff, it is for doing the check *when we are on the beta (or stable) branch*.

[2019-07-18 08:36] kennytm commented on #62266
Someday we should to rewrite all these 🍝 bash script using Python (or Rust) 🤷.

I think https://github.com/rust-lang/rust/pull/62759#discussion_r304720878 should have exempted miri.

[2019-07-18 08:39] #62650 closed

[2019-07-18 08:41] RalfJung commented on #62266
Yeah, the usual problem with CI/infrastructure scripts. ;)

Not having things spread across 2 or 3 files (in 2 totally different directories!) would also help.

[2019-07-18 08:53] jonas-schievink commented on #62649
No, that means it's an incremental compilation bug. Finding a way to reproduce this would be good.

[2019-07-18 08:57] RalfJung commented on #60405
Oh I see.

Yes: at https://github.com/rust-lang/unsafe-code-guidelines/issues/73 some people propose that with a union like
[code]
it should be UB to have the first byte of the union be anything but 0x00 or 0x01. Basically "if some byte of the union is subject to a restriction for all fields, the restriction also applies to the union as a whole". That would allow enum optimizations for unions. (Wh

[2019-07-18 09:31] retep998 commented on #62762
Are you certain that your CPU is capable of executing AVX instructions?

[2019-07-18 10:01] petrochenkov commented on #62775
Oh. This is bad.
Will fix today.
cc @Centril (on vacation)

[2019-07-18 10:16] fatemender opened #62779 "Cross-crate re-export produces invalid rustdoc for impl Trait"
In a cross-crate reexport of an `impl Trait`-accepting function, rustdoc formats it in a wrong way which is not even valid Rust.

Let `crate1` be:

[code]

Let `crate2` be:

[code]

If we generate docs for `crate2`, we get this definition for the (re-exported) `accepts_impl`:

[code]

I see some similarities with #60113 here.
Both issues still reproduce on stable 1.36.0 and nightly bc2e84ca0.

[2019-07-18 10:40] glaubitz opened #62780 "Tests related to debuginfo-both failing on sparc64"
During the past releases, a lot of bugs in the sparc64 backend have been fixed so that we're down to 59 failing tests now.

One of the tests that have been failing for a long time now (don't know whether they ever passed) are ```debuginfo-both```:

[code]

https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=sparc64&ver=1.36.0%2Bdfsg1-2&stamp=1563429749&raw=0

My suspicion would be that we ar

[2019-07-18 11:06] sinkuu commented on #62779
#61613 should fix this problem.

[2019-07-18 12:10] nagisa commented on #61960
Pre-triage visit: Doubt this will be looked at before vacation spree ends, but if you want to give it a shot, by all means do so.

[2019-07-18 12:21] nagisa commented on #61560
Assigning to self to bisect the exact change which caused this regression, but it otherwise looks more like a rustdoc issue than a rustc one.

[2019-07-18 12:54] jamesjerram commented on #62762
It's an i5-4590, and is able to run the intrinsics in std::arch directly without issue. The problem also crops up when compiling with target-cpu=native. These are all the features detected by is_x86_feature_detected!: aes, pclmulqdq, rdrand, tsc, mmx, sse, sse2, sse3, ssse3, sse4.1, sse4.2, avx, avx2, fma, bmi1, bmi2, abm, lzcnt, popcnt, fxsr, xsave, xsaveopt

[2019-07-18 12:59] nagisa commented on #62430
Assigning to self to get an accurate bisection.

[2019-07-18 13:03] nagisa commented on #62708
Possible duplicate of  #62708

[2019-07-18 13:04] marmistrz commented on #47048
Probably a duplicate of https://github.com/rust-lang/rust/issues/53454

[2019-07-18 13:05] marmistrz commented on #49078
Probably a duplicate of https://github.com/rust-lang/rust/issues/53454.

[2019-07-18 13:07] nagisa commented on #62717
Removing nomination since it appears there is nothing really to discuss anymore.

[2019-07-18 13:32] mati865 commented on #47048
@marmistrz this issue was opened earlier so #53454 is the duplicate.

[2019-07-18 13:39] Stargateur commented on #53491
@RalfJung maybe `uninit_array!` would be a better name.

[2019-07-18 13:46] RalfJung commented on #53491
@Stargateur Absolutely, this is definitely not going to be stabilized in its current name. It is hopefully not going to get stabilized ever if https://github.com/rust-lang/rust/issues/49147 happens Soon (TM).

[2019-07-18 14:06] jamesmunns opened #62781 "Recent nightly versions break thumb* targets"
Hey all,

I've noticed in nightly-2019-07-18, rustc has begun producing symbols in the `.ARM.exidx` region, which it did not previously do. As our standard linker script does not have a linker rule for this region, building fails with with the following error:

[code]

To reproduce this, this project can be used: https://github.com/ferrous-systems/embedded-trainings/tree/master/beginner/templates/

[2019-07-18 14:22] mati865 commented on #62762
Windows GNU `nightly-2019-07-18` (built with `rustc -C lto -C target-feature=+avx -O test.rs`):
[code]

@jamesjerram can you check if it works with nightly?

[2019-07-18 14:23] jamesmunns commented on #62781
Bisecting, this behavior showed up between:

* `nightly-2019-07-17` - rustc 1.38.0-nightly (07e0c3651 2019-07-16) - OK
* `nightly-2019-07-18` - rustc 1.38.0-nightly (bc2e84ca0 2019-07-17) - NOT OK

[2019-07-18 14:25] mati865 commented on #62567
It's in the nightly: https://github.com/rust-lang/rust/pull/62592
If nothing goes wrong it will be available in release 1.38.0.

[2019-07-18 14:26] jonas-schievink commented on #62781
Possibly caused by the LLVM update in https://github.com/rust-lang/rust/pull/62592 – cc @nikic

It seems unexpected to me that this section is now included, since embedded projects are built with `panic = abort`

[2019-07-18 14:40] oli-obk commented on #62061
I can guide you through implementing mutable references in const fn if you want. I believe it's not much work and stabilization wise it's just an extension of `let` bindings in const fn. The only reason I didn't add mutable references together with `let` bindings was a "small steps" approach which resulted in a standstill (and noone was pushing for mutable references).

[2019-07-18 14:47] nagisa commented on #62762
Assigning to myself to see if I can reproduce it myself and @nikic as they are somewhat actively on top of LLVM issues.

[2019-07-18 14:52] nagisa commented on #62083
Bought this up for a discussion at the T-compiler meeting. There weren’t any objections to closing this as this appears to work as intended.

[2019-07-18 14:52] #62083 closed

[2019-07-18 15:03] jamesjerram commented on #62762
I can confirm that it works properly with nightly.

[2019-07-18 15:33] eddyb commented on #53491
@RalfJung Ugh, that's my fault, I was blocking the PR without a great reason: https://github.com/rust-lang/rust/pull/61749#issuecomment-512867703

[2019-07-18 15:53] RalfJung commented on #52898
`mem::uninitialized` codegen changed, so it is possible that the behavior of a program that has UB changed.

You should really not ever call `uninitialized` or `zeroed` on a type that does or might contain a reference as a field. That has never been supported and at best "happened to work".

[2019-07-18 16:32] nikic commented on #62781
Based on https://lists.llvm.org/pipermail/llvm-dev/2019-March/130669.html it seems like the emission of `.ARM.exidx` is by design, even if no unwinding is used and the suggestion there is to discard in the linker.

[2019-07-18 16:49] jonas-schievink commented on #57041
We are now on LLVM 9, so this should be fixed since a long time. Not sure if it's effective to add a test for this though, so maybe we should just close?

[2019-07-18 17:41] retep998 commented on #52898
Were those function pointers wrapped in `Option`? If not, then the value zero is a trap representation for them.

[2019-07-18 17:48] IsaacWoods opened #62785 "Undefined symbol _fltused when compiling to x86_64-unknown-uefi"
Recent nightlies give the following linker error when trying to compile with the `x86_64-unknown-uefi` target:
[code]

My guess at likely causes is [this commit](https://github.com/rust-lang-nursery/compiler-builtins/commit/bf3a9e9d0b9c4693c8e49fcdc626117e0d5b74fc) to `compiler-builtins`. The project itself does not use any floating-point operations so I'm surprised that any code that refers to th

[2019-07-18 18:10] Mark-Simulacrum commented on #57041
I think it would be good to verify that this is indeed fixed, i.e., that we no longer encounter problems here. Once that's done, we can definitely close.

[2019-07-18 18:27] alercah commented on #52898
With `uninitialized`, it won't matter if `Option` is used. Function
pointers are similar to reference types and to the best of my knowledge
subject to the same requirements, in particular that they must be aligned.
I don't think it's valid to create an uninitialized one---you'd need to
store them as raw pointers (`*const ()` on platforms that support it as
there are apparently no raw function poin

[2019-07-18 18:29] alercah commented on #52898
Actually, I just thought of something else: even if misaligned function
pointers aren't well documented as UB, replacing `zeroed` with
`uninitialized` is never going to be correct---the compiler can happily
assume that the value returned from `uninitialized` is going to be
all-zeroes, which is enough to trigger UB on its own.

On Thu., Jul. 18, 2019, 14:27 Alexis Hunt, <alercah@gmail.com> wrote:

[2019-07-18 18:49] nikic commented on #62342
This should be fixed in the latest nightly. Can you confirm that the issue is resolved?

[2019-07-18 18:52] nikic commented on #59674
The LLVM fix is now in nightly, so we can try re-enabling this again.

[2019-07-18 18:55] nikic commented on #57631
If we didn't cherry-pick before, this fix was part of the LLVM 9 upgrade, so should be fixed in current nightly.

[2019-07-18 18:55] #57631 closed

[2019-07-18 18:56] nikic commented on #58548
Reasonably sure this has been fixed, so closing this.

[2019-07-18 18:56] #58548 closed

[2019-07-18 19:01] nikic commented on #62762
Probably a fix was pulled in with the LLVM update. As we can't backport that, this issue can probably be closed?

[2019-07-18 19:04] nikic commented on #62567
Verified that the build is fast with the current nightly, so closing this issue.

[2019-07-18 19:04] #62567 closed

[2019-07-18 19:05] joshtriplett commented on #58794
@gnzlbg Thank you for taking the time to explain in more detail, and thank you for the

It sounds like we're now in agreement on the right ways forward here?

Let's introduce the simplest possible mechanism to just remove `nounwind` from a function. I don't know if that should be a simplified version of [@BatmanAoD's RFC 2699](https://github.com/rust-lang/rfcs/pull/2699), or if we should just intr

[2019-07-18 19:08] nikic commented on #58083
Verified that both functions generate the same code on current nightly, so closing this.

[2019-07-18 19:08] #58083 closed

[2019-07-18 19:11] raphlinus commented on #62571
We just released 0.5.3 and it contains this fix among others.

[2019-07-18 19:12] estebank commented on #42574
A case that might change its behavior once this is fixed:

[code]

where it compile-passes if the `if let` block is followed by a semicolon. Taken from https://github.com/rust-lang/rust/issues/49616, which is closed but still reproduces.

[2019-07-18 19:18] nikic commented on #48627
The original issue here is fixed, but LLVM is still doing something slightly weird here with the four consecutive ud2 instructions. IR for reference: https://rust.godbolt.org/z/5vRhI1

[2019-07-18 19:32] lzutao commented on #58083
Do we have regression test for this?

[2019-07-18 19:36] nikic commented on #58083
@lzutao There are extensive regression tests for this in LLVM already. It doesn't make much sense to include tests of LLVM optimization in Rust, unless they are Rust-specific in some way.

[2019-07-18 19:38] lzutao commented on #58083
Nice. Thanks for the info.

[2019-07-18 19:46] hoodie commented on #58548
@nikic sorry, I wasn't able to build the same codebase with the newer compiler again

[2019-07-18 19:56] GuillaumeGomez commented on #62571
Thanks @raphlinus! Sending the update PR right away.

[2019-07-18 20:42] #62609 closed

[2019-07-18 20:42] #60633 closed

[2019-07-18 20:42] #62750 closed

[2019-07-18 20:42] #59356 closed

[2019-07-18 20:48] estebank commented on #60933
Duplicate of https://github.com/rust-lang/rust/issues/54516

[2019-07-18 22:14] jgalenson commented on #34902
I managed to get reproducible builds of rustc (varying mostly only the source directory).  I have proof of concept patches and a script that uses them to make two identical builds at https://github.com/jgalenson/reproducible-rustc.  The patches are not ready to upstream immediately, and I'd greatly appreciate advice or help doing so.  Some are hackier than others. :)

I have more details and the p

[2019-07-18 22:44] daym commented on #34902
@jgalenson: I guess it can't hurt.

But why not just use a build container and have the file names inside be fixed? I mean I'm sure there are use cases left where you can't use a build container (so it's good if your patches make it in), but all major operating systems support them now, most of them even for unprivileged users. So you can simplify your life a lot by calling `unshare`.

We do that

[2019-07-18 23:06] BatmanAoD commented on #58794
@joshtriplett Note that the `#[unwind(allowed)]` annotation already exists; an RFC would just need to stabilize it.

Having recommended in my RFC that the attribute itself be dependent on the compiler's ability to verify that the `panic` implementation has been explicitly selected (rather than using the default, which may be a moving target as `rustc` continues to evolve), I'm not sure I'd be in f

[2019-07-18 23:12] RalfJung opened #62790 "Miri/CTFE fails when const generic is used as value"
Miri/CTFE fails to execute code where a const generic parameter is used as a value, such as what `try_from` for arrays does these days:

[code]
yields
[code]

The "obvious" fix seems to be to call `monomorphize` on the const before evaluating it; i did that in https://github.com/RalfJung/rust/commit/a8754d4d33. However, that ICEs:

<details>
<summary>ICE backtrace</summary>

[code]

</details>

Th

[2019-07-18 23:15] RalfJung commented on #62790
@eddyb asks what `monomorphize` is; it's a method on the `InterpCx`:
[code]
Note that the ICE is somewhere in `subst`, so there *is* a substitution, just not one that rustc is happy about.

[2019-07-18 23:16] RalfJung commented on #62790
@oli-obk do you know why the `None` branch in `monomorphize` does not even do the `normalize_erasing_regions` which `monomorphize_with_substs` always does?

[2019-07-18 23:43] alercah commented on #52898
You were doing something you weren't allowed to do. Previously, the compiler didn't notice, but now it does. You're only getting caught now, but your code was incorrect all the way back to Rust 1.0.

That the bug was only encountered now is unfortunate, but compiler changes aren't the only thing that could break this code. It might break if you run it on a different platform. It might break if you

[2019-07-19 00:55] jethrogb commented on #58794
@joshtriplett I don't want to create a divide where there is none, but it seems to me that @gnzlbg is advocating for just stopping emitting `nounwind` to LLVM altogether, not stabilizing the `unwind(allowed)` attribute.

[2019-07-19 01:23] alercah commented on #52898
Ahh. I can see how you arrived at this. There's currently no good language facility for doing this, other than on a field-by-field basis, especially for function pointers. But there are other workarounds which don't rely on UB. For instance, you could add another struct where each field is just a `*const ()`, and initialize the entire thing, and then take a pointer to it and cast it to a pointer t

[2019-07-19 02:12] estebank commented on #48016
Now with #62791 the only two cases left are the last two in the previous comment. Those are tracked in #47666 and #34255 respectively. For the macro one a fix will require carrying state around from the `Parser` to the `MacroExpander`, while for the latter I believe that code is so close to _real_ code that the parser should attempt to parse it outright (for diagnostic purposes). Given this, the r

[2019-07-19 02:12] #48016 closed

[2019-07-19 02:49] rivy opened #62794 "Document that `Debug` output of structures is unstable"
Pretty printed structures for `cfg!(windows)` have trailing commas, which is inconsistent with the debug output format documentation and output on non-windows platforms.

[code]

[code]

[code]

[2019-07-19 04:16] jamesvan2019 opened #62795 "compile cdylib is ok,but staticlib can't link to __cxxframehandler3"
env : windows10
compile with cdylib is ok,just copy dll to windows path
but with staticlib , can build success , but can't link to __cxxframehandler3
panic="abort" didn't useful
nm xxx.lib
                 U __CxxFrameHandler3
                 U __CxxFrameHandler3
                 U __CxxFrameHandler3

[2019-07-19 05:18] catastrop opened #62796 "drop `let` keyword when using `mut`"

[2019-07-19 06:20] Michael-F-Bryan commented on #62739
@mark-i-m I'm not quite sure what you mean here. Are you looking for the `follow-web-links` option under [Configuration](https://github.com/Michael-F-Bryan/mdbook-linkcheck#configuration)?

[2019-07-19 06:52] eddyb commented on #62790
But none of those call the `subst_normalize_erasing_regions` @oli-obk is modifying in their PR.

By identity substs I mean the `[A => A, B => B, C => C]` that you get from `Substs:: identity_for_item` - they're *the only* idempotent substs, and encode "this is still as generic as possible".

[2019-07-19 07:07] zesterer commented on #50133
This really is a very painful feature to use due to the aforementioned conflict with the blanket implementation. I gather that removing the blanket implementation is a breaking change, but I can't imagine that it is something that is heavily depended on. Removing this blanket implementation would definitely make these traits more useful.

[2019-07-19 07:26] joshtriplett commented on #58794
@BatmanAoD I would like to see your RFC continue, to develop a more precise specification of panic behavior. But I'd also like to see `#[unwind(allowed)]` stabilized more-or-less as-is, as soon as reasonably possible.

@jethrogb If we can't trivially get `#[unwind(allowed)]` stabilized, then I'm all for fixing the problem that way, but if we can get `#[unwind(allowed)]` stabilized quickly then let

[2019-07-19 07:31] RalfJung commented on #62790
It looks like const-prop is doing that, though:

https://github.com/rust-lang/rust/blob/fe499a7b34dcb1fc054dd637ea561a19a268d2de/src/librustc_mir/transform/const_prop.rs#L168-L176

[2019-07-19 07:38] RalfJung commented on #62397
@ nathanwhit please make you to mention in an issue when you are (partially) addressing it. Now we both did the same work but in different ways.

[2019-07-19 07:38] joshtriplett commented on #62569
@alexcrichton My apologies, I certainly didn't intend to come across as antagonistic.

My most specific point is that a library crate can only *undo* what std does, it can't *stop* std from doing it in the first place. I'd like a solution that provides more control over what Rust's startup code is doing in the first place.

(Also, as one more reason, every unnecessary syscall also represents an ad

[2019-07-19 07:38] RalfJung commented on #62397
@nathanwhit please make you to mention in an issue when you are (partially) addressing it. Now we both did the same work but in different ways.

[2019-07-19 07:44] joshtriplett commented on #29594
@gnzlbg Thanks! Agreed, we definitely need thread-local-variable support.

[2019-07-19 07:49] #56132 closed

[2019-07-19 08:25] eddyb commented on #62790
That's super weird then. It's possible the offending situation propagates from earlier or something.
Maybe make the behavior that causes an ICE opt-in (via flag or env var) and try a testcase in isolation? You can then use `-Z dump-mir` and/or miri trace logging to see where the mention of a parameter (`Self`) ends up in a context where `Self` doesn't exist.

[2019-07-19 08:35] jonas-schievink commented on #62796
Hi! Changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2019-07-19 08:35] #62796 closed

[2019-07-19 08:41] jonas-schievink commented on #62795
Might be a duplicate of https://github.com/rust-lang/rust/issues/54137

[2019-07-19 08:46] RalfJung commented on #53491
@eddyb this works for libcore, yay! But somehow when I try to use the feature in liballoc, it doesn't compile even though I set the flag. See https://github.com/rust-lang/rust/commit/4c2c7e0cc9b2b589fe2bab44173acc2170b20c09.

[code]

[2019-07-19 08:47] RalfJung commented on #49147
@oli-obk @eddyb I just realized that this feature has one "interesting" consequence... the code in an array repeat expression might now be executed at compile-time, using CTFE rules and restrictions, without an explicit marker. We are having lots of pain with promotion because it imposes CTFE rules on code where the user did not ask for CTFE rules, won't we have all the same pain here?

[2019-07-19 09:05] CryZe commented on #62794
Isn't the formatting of Debug implementations (at least the derived ones) considered an implementation detail and you shouldn't be testing against those?

Also you seem to be using an outdated compiler on Linux. The formatting changed to include the commas and it does so for me on Linux as well:
[code]

[2019-07-19 09:13] RalfJung commented on #52898
@Daggerbot

You are making several unfair and unfounded assumptions here. First of all you seem to think this change was unnecessary. I am not sure why you think that; the change that likely triggered this is https://github.com/rust-lang/rust/pull/62150 in which we were able to remove a very crazy intrinsic and define it in plain Rust instead. That's a great improvement. Second you seem to think t

[2019-07-19 09:18] catastrop commented on #62796
@jonas-schievink , don't close let us discuss

[2019-07-19 09:42] nikic commented on #52898
I'm going to take you up on this invitation and say that doing `uninit().assume_init()` is on a rather different level than just leaving a value uninitialized. It's a thin line to walk, but from the perspective of LLVM initializing something to undef and then overwriting with something valid will (with some caveats) be usually well-defined. On the other hand, taking an undef value and immediately

[2019-07-19 09:53] RalfJung commented on #52898
`assume_init` does not assert initializedness towards in LLVM in any way that `mem::uninitialized` would not already to itself (namely by having `T` as return type). It's  So I do not understand in which sense you think this makes a difference for LLVM. The old `mem::uninitialized` literally took an `undef` and immediately returned it at some type `T`, so if that's enough for LLVM to insert a trap

[2019-07-19 10:06] mati865 commented on #60461
Rust was using jemalloc before 1.32.0 but an old version. Recent jemalloc versions have additional optimisations that clash with libfaketime.

There is nothing to be done on the Rust front, either libfaketime has to fix the issue or jemalloc could implement workaround.

[2019-07-19 10:31] mati865 commented on #57041
I ran commands from issue description few times with changes to ignore all warnings and I think the output looks right:
[code]
Increasing number of runs from 20 to 2000 still yields deterministic assembly.

[2019-07-19 10:44] petrochenkov commented on #62775
Fixed in https://github.com/rust-lang/rust/pull/62797.

[2019-07-19 11:19] nluedtke commented on #53566
This was assigned [CVE-2019-1010299](https://nvd.nist.gov/vuln/detail/CVE-2019-1010299).

[2019-07-19 11:21] bmwiedemann commented on #57041
That example was minimized though to trigger one particular issue. I still experienced nondeterminism with some rust builds. E.g. in packages alacritty, bat, exa, rust, tealdeer

I can debug these separately and file new issues.

[2019-07-19 11:47] qnighy commented on #62796
We can discuss, but in an appropriate place. In fact there's already [a thread](https://internals.rust-lang.org/t/suggestion-mut-like-let-keyword/8851) for the same (or similar) proposal.

[2019-07-19 11:57] mati865 commented on #57041
This specific issues seems to be resolved but there are other issues like https://github.com/rust-lang/rust/issues/34902

Ideally each bug should have it's own issue.

[2019-07-19 12:01] aschampion commented on #51445
I ran into this, including a completely wrong and unhelpful error, basically where I was `impl From<<A as B>::Assoc> for C`, and was shown an error about a conflicting `impl From<C> for C` with std's `impl<T> From<T> for T`, even though `C` is not the same as `<A as B>::Assoc` (how could it be, the crate with `A` can't even name `C`!). It was only after tracking down that if `A` was in the same cr

[2019-07-19 12:16] nathanwhit commented on #62397
I'm sorry, that's totally my mistake. These are my first few contributions, so I'm still in the process of learning the ropes. I'll make sure to do so in the future.

[2019-07-19 12:27] #62762 closed

[2019-07-19 12:39] bjorn3 opened #62798 "Disable llvm orcjit"

[2019-07-19 12:42] jonas-schievink commented on #62798
@bjorn3 I'm assuming this impacts our distribution size somewhat?

[2019-07-19 12:43] RalfJung commented on #53491
Mystery solved: the uses of the repeat expression in libcore actually were for types that *are* copy.

And the reason it doesn't work in liballoc is that `MaybeUninit::uninit` is not promotable.

[2019-07-19 12:45] RalfJung commented on #49147
Ah, turns out this actually uses the promotion infrastructure, so we the concern that we "silently" execute code under CTFE is taken care of.

Of course, the problem with this is that this is using the promotion infrastructure, which we are trying hard to contain because it's a hazard...

[2019-07-19 13:05] RalfJung commented on #62397
No hard feelings, just letting you know. :)

[2019-07-19 13:05] mark-i-m commented on #62739
@Michael-F-Bryan No, we are looking for a way to make the linkchecker platform-agnostic. Currently, it seems to depend on libssl, which is only available on x86_64 linux. If there was an option to build it with reqwest, this could be alleviated.

[2019-07-19 13:06] GuillaumeGomez commented on #62763
I only saw hashbrown in examples. If so, it can be fixed easily. Or did I miss something?

[2019-07-19 13:13] eddyb commented on #53491
@RalfJung Maybe open a PR removing uses of the macro where it's completely unnecessary?

[2019-07-19 13:19] GuillaumeGomez commented on #62763
I just realised that it's not linking to std types apparently, which is weird... Also, I think we should "hide" the hashbrown types if possible since I \*think\* they're public for the moment.

[2019-07-19 13:20] mati865 commented on #62739
OpenSSL supports all the main targets so it should be easy to make linkchecker work everywhere.

[2019-07-19 13:33] Mark-Simulacrum commented on #57041
Yep, closing this. Please file other issues if other nondeterminism arises.

[2019-07-19 13:33] #57041 closed

[2019-07-19 13:44] mark-i-m commented on #62739
@mati865 That was not our experience in https://github.com/rust-lang/rust/pull/59772

[2019-07-19 13:47] jgalenson commented on #34902
Yes, my patches don't affect older code, so the bootstrapping problem remains.  However, my goal was to make it easier to get reproducible builds going forward, so that techniques like `unshare` aren't needed past some point and it's easier to reproduce builds and detect reproducibility regressions.

[2019-07-19 13:50] bjorn3 commented on #62798
That too, but I was actually thinking about the compilation time.

[2019-07-19 13:54] mati865 commented on #62739
I don't use OS X or MSVC but it looks relatively easy to make it work on 32 bit Linux and 32/64 bit `windows-gnu`. I think I should be able to come up with solution on platforms I mentioned somewhere around next week.

[2019-07-19 13:57] mark-i-m commented on #62739
@mati865 That would be awesome! Thanks :tada:

[2019-07-19 14:08] davidtwco commented on #61963
Apologies for the time this has taken - I've struggled to find time to dig in to this. So far, I've managed to make a smaller example (it still depends on `syn`, `quote` and `proc-macro2`) that reproduces the issue, you can find it in [davidtwco/rust-reproduction-issue-61963](https://github.com/davidtwco/rust-reproduction-issue-61963) (run `cargo build` in the `repro-crate` directory).

[2019-07-19 14:11] rust-highfive opened #62802 "`miri` no longer builds after rust-lang/rust#62679"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62679, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Xanewok, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Zoxc, the PR reviewer, and @rust-lang/compiler -- nominati

[2019-07-19 14:11] rust-highfive opened #62803 "`rls` no longer builds after rust-lang/rust#62679"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62679, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Xanewok, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Zoxc, the PR reviewer, and @rust-lang/compiler -- nominating

[2019-07-19 14:20] OvermindDL1 commented on #62569
I thought as much, it really should be in the compiler then.  An attribute on `main` seems sufficient, or even a compiler flag (exposed via something in the Cargo.toml file perhaps as well?).

[2019-07-19 14:44] Diggsey commented on #62569
This seems like a problem that could be fixed with the next edition? That would justify the use of an attribute to disable/enable this feature, in that upgrading binary crates to the new edition would need to add the attribute to re-enable this feature.

[2019-07-19 14:46] Michael-F-Bryan commented on #62739
`mdbook-linkcheck` doesn't directly depend on `libssl`. I'm guessing what's happened is `reqwest` [has the `default-tls` feature flag enabled by default](https://docs.rs/reqwest/0.9.18/reqwest/#optional-features), which means it uses whatever TLS library is provided by the platform (via `native-tls`).

That should imply `mdbook-linkcheck` is as platform-agnostic as `native-tls` is, shouldn't it? I

[2019-07-19 14:57] 17cupsofcoffee commented on #62763
[The std types do have links](https://doc.rust-lang.org/std/iter/trait.IntoIterator.html#impl-IntoIterator-5) - what I'm getting at is that the first `HashMap` and `HashSet` listed *aren't* the `std` ones :p They're [`hashbrown::HashMap`](https://docs.rs/hashbrown/0.5.0/hashbrown/struct.HashMap.html#impl-IntoIterator) and [`hashbrown::HashSet`](https://docs.rs/hashbrown/0.5.0/hashbrown/struct.Hash

[2019-07-19 15:00] da-x commented on #51405
If it's anyone's interest, I've opened https://github.com/rust-lang-nursery/compiler-builtins/issues/304 . Essentially if we add CFI to the `probestack` part of `compiler-builtins`, it would enable backtrace mechanisms that are dependent on debuginfo to work, and make stack overflows a joy in Rust.

[2019-07-19 15:13] Diggsey commented on #62397
Seems like under the new UB guidelines, those tests should be testing unspecified rather than uninitialised values. (I believe they're being called "frozen" values?)

[2019-07-19 15:24] RalfJung commented on #53491
@eddyb made that part of https://github.com/rust-lang/rust/pull/62799.

[2019-07-19 15:32] BatmanAoD commented on #58794
@joshtriplett Here is the tracking issue for stabilizing `#[unwind(allowed)]`: https://github.com/rust-lang/rust/issues/58760

[2019-07-19 16:10] arie-itecho commented on #22756
Can we maybe include this as a question & answer on Stack Overflow. It'll be helpful for beginners who learn through Googling their problems.

[2019-07-19 16:59] thmo commented on #33465
Should this work out of the box? It does not for me, I had to change `~/.cargo/config` as described in the previous comment.

Therefore I think the issue should be reopened.

[2019-07-19 17:29] petrochenkov opened #62807 "Test `run-pass/generator/size-moved-locals.rs` fails on WASM"
Due to a regression in `compiletest` some `run-pass` tests weren't run properly for some time and this is one of the regressions that slipped through during that time.

https://github.com/rust-lang/rust/pull/62797#issuecomment-513279794
[code]

cc @tmandry

[2019-07-19 18:33] alexcrichton opened #62811 "LinuxTools builders fails to (mabye?) push at the end of PR builds"
Discovered through https://github.com/rust-lang/rust/pull/62766 the end of a build failed with:

[code]

That could be a weird unauthenticated pull from GitHub but I suspect that it's a push which will inevitably fail. I think we haven't configured the toolstate builder to not do anything on PRs on push?

[2019-07-19 19:17] pazolka commented on #62342
when trying to install nightly:

[code]

Any other version (beta/stable) gets installed corrrectly.

[2019-07-19 19:21] GuillaumeGomez commented on #62763
That's what I meant when I wrote "I just realised that it's not linking to std types apparently, which is weird..." (badly said though).

What's difficult is that we have types depending on std types which depend on those types. Circular documentation, I think that's a first haha!

[2019-07-19 19:28] mati865 commented on #60994
Fixed on nightly: https://godbolt.org/z/1KHG1S

[2019-07-19 19:38] mati865 commented on #59077
Rust now uses LLVM 9, could you try with recent nightly?

[2019-07-19 19:40] #60994 closed

[2019-07-19 19:43] mati865 commented on #58602
LLVM was upgraded and both functions generate equal assembly now.

[2019-07-19 19:44] mati865 commented on #58564
LLVM was upgraded in nightly, could you retest?

[2019-07-19 19:45] joshlf commented on #62581
I would just like to say that I just got bitten by this again and, even though I ran into this just last week, I initially forget and thought that I was screwed until I remembered this. We definitely need a better error message :)

[2019-07-19 19:45] #58602 closed

[2019-07-19 19:50] mati865 commented on #57270
@phil-opp LLVM 9 has made it's way to nightly, could you retest and close the issue?

[2019-07-19 22:50] HeroicKatora commented on #62765
Pretty sure you mean [this one](https://github.com/bluss/odds/issues/25)

[2019-07-19 23:20] cr1901 commented on #59077
@mati865 It was fun while it lasted. The transition to LLVM 9 causes a separate [error](https://travis-ci.org/cr1901/AT2XT/jobs/560885866#L2214) in my AT2XT repo<sup>1</sup>, so I'm unsure if we've regressed and this particular issue still applies.

Unfortunately, due to illness, I don't think I can work on this for about another week. Could you ping me again then please if I haven't responded at

[2019-07-19 23:43] tarcieri commented on #57563
Are there any plans to support `const fn` usage of `OsStr::new`? It would be nice to be able to create `OsStr` constants from string literals for things like filenames (see also `Path::new`)

[2019-07-19 23:44] mati865 commented on #59077
You can try enabling it here but I have no idea if it works at all: https://github.com/rust-lang/rust/blob/9ebf47851a357faa4cd97f4b1dc7835f6376e639/src/librustc_target/spec/msp430_none_elf.rs#L25

[2019-07-20 00:14] tmandry commented on #62807
We also disabled `ui/async-await/async-fn-size-moved-locals.rs` for the same reason. Basically these tests are "change detectors" for generator sizes. I think it's okay to skip these on WASM, but not ideal.

One alternative is to come up with reasonable upper bounds for the size. Since the inner type in these tests is 1024 bytes, we can just check for the right number of copies of that type, with

[2019-07-20 01:27] estebank commented on #23416
@Centril https://github.com/rust-lang/rust/pull/62791 and https://github.com/rust-lang/rust/pull/62816 should cover all of the (common) type ascription typos (`:` -> `;`, `foo(x: bar)`, `foo:bar::baz(1)`, etc.). With that I believe that "diagnostics being terrible" is no longer a valid reason _not_ to continue with the current syntax.

[2019-07-20 01:47] estebank commented on #51811
@StyMaar because it is being checked in two different parts of the code. FWIW, the output is now slightly more consistent:

[code]

[2019-07-20 02:31] estebank commented on #33529
Output with nll enabled:

[code]

[2019-07-20 02:46] Aaron1011 opened #62818 "Conflicting trait impls are allowed when not actually used"
The following code [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=717aed92e64fd7e046d8167654b12b73):
[code]

compiles successfully, despite having two impls of the same trait for the same type.

When I  tried to exploit this apparent incoherence, I got the expected 'conflicting implementations of trait `MyTrait` for type `MyStruct<_>`' error message. This s

[2019-07-20 02:52] Aaron1011 commented on #62818
Adding `fn foo<T>() where MyStruct<T>: MyTrait {}` causes the error to be emitted.

[2019-07-20 03:23] canadaduane commented on #60673
Just to document further agreement with @BurntSushi that this is a common pitfall--here I am, a new user, doing it today, and asking around for help :)

https://users.rust-lang.org/t/why-is-this-rust-loop-3x-slower-when-writing-to-disk/30489

[2019-07-20 06:50] djc commented on #58375
Looks like this has been fixed. Thanks, @alessandrod!

[2019-07-20 07:21] gilescope commented on #62539
I presume use a new error number rather than E0720?

[2019-07-20 08:18] leonardo-m commented on #49147
Interesting differences:

    #![allow(dead_code)]
    fn main() {
        //const ARR1: [Option<Box<u32>>; 100] = [None; 100]; // Error
        const ARR2: [Option<u32>; 100]      = [None; 100];   // OK
        const X: Option<Box<u32>>           = None;
        const ARR3: [Option<Box<u32>>; 100] = [X; 100];      // OK
    }

[2019-07-20 08:45] RalfJung commented on #52898
Seems like we are having something of a parallel discussion at https://github.com/amethyst/amethyst/issues/1808#issuecomment-513158717.

[2019-07-20 09:45] LukasKalbertodt commented on #32976
Is there any progress on this? Can anyone explain what `cfg_target_has_atomic` is blocked on? I.e. what are questions we need to resolve before stabilizing?

[2019-07-20 10:16] petrochenkov opened #62820 "Test `run-pass/command-uid-gid.rs` fails on emscripten"
Due to a regression in `compiletest` some `run-pass` tests weren't run properly for some time and this is one of the regressions that slipped through during that time.

https://github.com/rust-lang/rust/pull/62797#issuecomment-513428569
[code]

cc @alexcrichton

[2019-07-20 11:10] ia0 commented on #61053
To measure the ratio of false positives of #62008 we ran a crater with deny-by-default: https://crater-reports.s3.amazonaws.com/pr-62008/downloads.html. In this post, we go over regressed crates to see if the regression is expected (actual errors in the crate) or if it is due to false positives.

### Regressed (2820)
- `reg/abomonation/0.7.2` expected
- `reg/about-system/0.1.0` because of `quick-e

[2019-07-20 12:25] RalfJung commented on #62765
@HeroicKatora I do, nice find!

[2019-07-20 12:36] davidtwco commented on #61963
Thanks to some help from @lqd, I've now got a minimal test case w/out any dependencies that outputs the same tokens that the reduced example from servo did (you can see it in 732507b).

When inspecting the span that the lint is emitted for, it isn't marked as coming from a macro expansion, and it appears that it was created that way during the macro expansion.

I'd appreciate any opinions on what

[2019-07-20 12:58] oli-obk commented on #57563
Yes, but that requires RFC 2632 https://github.com/rust-lang/rfcs/pull/2632 in order to be able to have stable const fn with trait bounds on their generic parameters

[2019-07-20 13:13] RalfJung commented on #62794
@rivy could you do `rustc --version` on both platforms to check that you are using the same compiler version?

[2019-07-20 13:25] BO41 commented on #62488
this issue got fixed in https://github.com/rust-lang/stdarch/pull/776 so it should be closed

[2019-07-20 13:28] Lokathor commented on #62488
Got you covered

[2019-07-20 13:28] #62488 closed

[2019-07-20 13:29] BO41 commented on #62454
issue is fixed and should be closed :wink:

@JohnTitor it is nice that you fix those issue. It would be great if you could include a `fixes #62454` in your PR :smiley:

[2019-07-20 13:42] Lokathor commented on #62454
Got it.

[2019-07-20 13:42] #62454 closed

[2019-07-20 14:08] dodomorandi opened #62824 "Tracking issue for From<E> for Box<dyn Error + Send> and Box<dyn Error + Sync>"
[As explained in the Rust User forum](https://users.rust-lang.org/t/impl-e-error-from-e-for-box-dyn-error-send/30507), I noticed that the following impls are not available:
[code]
The first one is pretty useful when working with [rayon](https://crates.io/crates/rayon) and errors, which only need to be `Send` to be passed across threads. In theory, a stateful error with a `Cell` or a `RefCell` is a

[2019-07-20 14:18] ishitatsuyuki opened #62825 "re-land #62150 (Implement mem::{zeroed,uninitialized} in terms of MaybeUninit)"
#62150 got reverted to give users some time to migrate; we should re-land it.

**Original issue:**

https://github.com/rust-lang/rust/pull/62150 has changed the behavior of `mem::uninitialized()` (and `zeroed()`), causing a few popular crates to be killed by `SIGILL`. A writeup can be found [here](https://github.com/amethyst/amethyst/issues/1808#issuecomment-513449537).

There are cases where outd

[2019-07-20 14:21] rubdos commented on #56974
Could someone indicate how difficult this would be to tackle as a new Rust contributor? I fear like this might be a bit over my head, but I'd love to know.

[2019-07-20 14:27] Xanewok commented on #62811
I believe I hit this in when updating RLS in https://github.com/rust-lang/rust/pull/62805#issuecomment-513332526

[2019-07-20 15:04] alexcrichton commented on #62820
Thanks for the heads up! The `ignore-emscripten` annotation you've added is correct and intended for this test so I'm going to close this

[2019-07-20 15:04] #62820 closed

[2019-07-20 15:08] sorenmortensen opened #62826 "Library load disallowed by System Policy on macOS 10.15 beta 4"
On macOS 10.15 beta 4 (19A512f), when I try to run `rustc` (or invoke it through a command like `cargo build`) I get the following message:

[code]

This happens even if I give all of the binaries in `~/.rustup/toolchains/nightly-x86_64-apple-darwin/bin` Developer Tools permission in System Preferences.

I would tell you what version of `rustc` I have installed, but I can't run it to check.

[2019-07-20 15:19] RalfJung commented on #62825
Note that (to my knowledge) this change is in nightly only currently, and won't become stable until 1.38 (released in late September). But it causes trouble e.g. by making CI fail, I suppose.

Nominating for lang team discussion. I hope I am doing this right.^^

[2019-07-20 15:23] RalfJung commented on #62825
Some more relevant discussion:

* https://github.com/rust-lang/rust/issues/52898#issuecomment-505782110 is an old issue about `mem::zeroed` causing SIGILLs when used incorrectly.
* I [proposed](https://internals.rust-lang.org/t/make-mem-uninitialized-and-mem-zeroed-panic-for-some-types-where-0-is-a-niche/10605) to eventually make `zeroed` (and `uninitialized`) panic deterministically for some more

[2019-07-20 15:54] dtolnay commented on #62818
As long as MyStruct\<T\> does not implement MyOtherTrait, those impls do not conflict. To me this looks like it is working correctly.

[2019-07-20 15:55] dtolnay commented on #62818
As long as MyStruct\<T\> does not implement MyOtherTrait, those impls do not conflict. To me this looks like it is working correctly.

[2019-07-20 15:56] #62552 closed

[2019-07-20 15:56] #62571 closed

[2019-07-20 15:56] #62770 closed

[2019-07-20 16:14] dtolnay opened #62830 "Rustdoc link with module@ does not link to the module"
Starting with an ambiguous lib.rs:

[code]

rustdoc correctly reports the ambiguity and suggests the possible resolutions:

[code]

In this case I want to link to the module so let's update lib.rs:

[code]

`cargo doc` accepts this without warnings but the generated html file contains:

[code]

I would expect [module@x] to link to the module x, not the function x.

*Mentioning tracking issue: #434

[2019-07-20 16:16] dtolnay commented on #43466
I filed #62830, in which the "module@" disambiguator does not seem to be respected.

[2019-07-20 16:40] SOF3 opened #62831 "assume all sequences have (unique) spans for now"
Steps to reproduce:
- Extract the archive [delegate_impl.tar[1].gz](https://github.com/rust-lang/rust/files/3413804/delegate_impl.tar.1.gz)

- Run `cargo build`
- Run `cargo test`

The following generated macro is a likely source of error:
[code]

However, directly putting this macro does not seem to cause a compiler crash: [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&e

[2019-07-20 17:10] ia0 commented on #61053
How should we handle `stringify!($x)` where `$x` is free?

[code]

This is not an error apparently (but the lint would report it). Note that this is specific to `stringify!` apparently. If I try to simulate this with another macro, I get an error.

[code]

I'm currently marking those "errors" as expected when finding false positives, because I don't think this is really an issue of the lint, becau

[2019-07-20 18:19] dtolnay opened #62833 "Anchors in intra doc link"
lib.rs:

[code]

The documentation of B is rendered by rustdoc as \` <a href="#">x</a>, \[y\]\[A#errors\], <a href="#">z</a> \`, in which the x link correctly points to the documentation of A as expected, the y link is unrendered, and the z link points to href="A#errors".

I would expect both y and z to have href="struct.A.html#errors".

*Mentioning the tracking issue: #43466*

[2019-07-20 18:20] dtolnay commented on #43466
I filed #62833 to propose support for linking to sections, \[link text\]\[MyStruct#my-section\].

[2019-07-20 18:27] dtolnay commented on #62833
Importantly, this should take into account the deduplication of anchors on the same page. In the following, \[A#errors\] should go to struct.A.html#errors and \[A::f#errors\] should go to struct.A.html#errors-1 (which is how the anchor is deduplicated today).

[code]

[2019-07-20 18:45] dtolnay opened #62834 "Allow generic parameters in intra doc link"
[code]

Currently this renders as \` <a href="#">Collection</a>, \[`Collection<T>`\] \`, where the first link is ok but the second link is not rendered. I think these should both point to struct.Collection.html. For some types it can be clearer to include the type parameters when discussing them.

*Mentioning the tracking issue: #43466*

[2019-07-20 18:47] dtolnay commented on #43466
I filed #62834 about recognizing ```[`SomeType<T, U, V>`]``` as an intra doc link.

[2019-07-20 18:47] petrochenkov commented on #61804
Fixed in https://github.com/rust-lang/rust/pull/62086.

[2019-07-20 18:57] Diggsey opened #62835 "MaybeUninit<T> could be Copy for all T"
At the moment it only implements `Copy` when `T: Copy`, but there's no memory-safety reason for it not to always be `Copy`.

[2019-07-20 19:24] danieldulaney opened #62836 "Add a way to get the number of bits in a representation"
A few `core` APIs return values related to a number of bits. For example, the various [`leading_zeros` methods](https://doc.rust-lang.org/std/primitive.usize.html#method.leading_zeros), [`trailing_zeros` methods](https://doc.rust-lang.org/std/primitive.usize.html#method.trailing_zeros), [`count_zeros` methods](https://doc.rust-lang.org/std/primitive.usize.html#method.count_zeros), and [`count_ones

[2019-07-20 19:27] danieldulaney commented on #62836
BTW, an example of some code that would benefit from this is a bitwise implementation of `floor_log2`:

[code]

[2019-07-20 19:28] rkruppe commented on #62231
When I was discussing with @joshtriplett on Discord they said to put these notes in the reference. I don't have strong opinions on where it goes, I just want to know what I have to add where to get this issue settled. Can you two (& anyone else who has strong opinions on the matter) please find some consensus about that so I know what patch(es) to write?

[2019-07-20 19:35] ExpHP commented on #62835
I do agree it sounds safe, but perhaps the lack of this serves as a useful lint.

E.g. somebody could do this:

[code]

[2019-07-20 19:47] Diggsey commented on #62835
True, but then we probably need another way to make a non-Copy type Copy.

[2019-07-20 20:51] jhpratt commented on #62836
Is there _any_ system where 8 bits isn't a byte, and does Rust support that? I'd be very surprised if that ever changed.

[2019-07-20 21:27] sgrif opened #62838 "ICE on recursive struct"
repro code:

https://gist.github.com/sgrif/959bb5f820a0c9a616f569ea2195ff7c

`Expression` on line 68 should be `Box<Expression>`, introducing the indirection fixes the ICE. I haven't attempted to reduce beyond this example.

`rustc 1.36.0 (a53f9df32 2019-07-03)`

[2019-07-20 21:35] nagisa commented on #62835
The example above could be reproduced even without `Clone`:

[code]

@Diggsey what’s your use-case that’s not served by the APIs currently available?

[2019-07-20 21:36] nagisa commented on #62836
There are, but Rust consciously does not and will not support them.

[2019-07-20 21:40] nagisa commented on #62826
The rustc version is probably not too relevant here. This is probably one of the many use-cases broken by the up-coming macOS version.

[2019-07-20 21:43] nagisa commented on #62826
https://bugs.launchpad.net/gcc-arm-embedded/+bug/1832620 has a good description of the issue seen here.

[2019-07-20 21:54] Diggsey commented on #62835
It came up whilst I was looking at ways to get `slotmap` to work with non-Copy types on stable rust. Mostly it's just a missing escape hatch. We have:
- `UnsafeCell` for making the immutable, mutable
- `MaybeUninit` for making the initialised, uninitialised
- `unsafe impl Send` for making the unsendable, sendable
- `unsafe impl Sync` for making the not-thread-safe, thread-safe

But there is no esc

[2019-07-20 22:15] Kobzol opened #62839 "DWARF variant metadata for compressed enums with niche is ambiguous"
After the change of DWARF metadata generation for enums (https://github.com/rust-lang/rust/pull/54004), compressed enums with niches are not distinguishable from tagged or empty enums in GDB pretty printing (not in the actual Rust pretty printers, as they do not support the new format yet).

In the new enum debug metadata format, enums have a variant field that should serve as a discriminant to pr

[2019-07-20 22:25] GuillaumeGomez commented on #43466
@dtolnay I'm not fan of such things... For instance, what should we do with ``[`Vec<String>`]``? Only link to `Vec` and forget about `String`? I think it's better to remain "explicit" on what we want to be linked and not link to more than necessary. In your case, I think it should be "\[\`SomeType\`\]\`<T, U, V>\`".

[2019-07-20 22:30] danieldulaney commented on #62836
Would it be possible to put that in the docs somewhere? I searched for "8 bits" in the `std` source and in the RFCs repository and didn't see it anywhere.

[2019-07-20 23:56] Centril commented on #62231
It's a bit odd to note in the reference what expectations on hardware that exist for Rust since that isn't necessary for the purposes of a definitional interpreter / abstract machine. That said, I suppose we can add a lightweight note about what it means for rustc? perhaps the rustc guide is a better place for this note?

[2019-07-21 00:09] dtolnay commented on #43466
@GuillaumeGomez I would be on board with linking if and only if the type parameters in the link match the names of the type's generic parameters, for example ```[`SomeType<T, U, V>`]``` would get linked but ```[`SomeType<String, String, ()>`]``` would not.

[2019-07-21 00:39] Centril commented on #58887
It's sorta harder to minimize something that no longer ICEs...
I think it would be sufficient to simply add a test with the above snippet for now and close the issue after.

[2019-07-21 01:02] nathanwhit commented on #62397
I've done work on addressing this for CloudAbi (excluding the tests), the PR with my work so far is #62738, feedback is much appreciated!

[2019-07-21 01:12] Centril commented on #61963
cc @dtolnay @petrochenkov

[2019-07-21 01:21] Centril commented on #62831
cc @petrochenkov

[2019-07-21 01:25] dtolnay commented on #61963
I believe this is a compiler bug, not something that needs a fix in syn or quote. #0 is a call_site span. It is the span of tokens in macro output that are not attributable to any particular input token. Usually that will be most of the tokens in any macro output; diagnostics need to take this into account.

[2019-07-21 01:27] Majkl578 opened #62841 "ARMv6 architecture support broken in nightly-2019-07-18"
The support for ARMv6 architecture was broken somewhere between 07e0c3651...bc2e84ca0: `nightly-2019-07-16` compiles file while `nightly-2019-07-17` produces binary that crashes with `Illegal instruction`.

More specifically, this is a binary cross-compiled from `x86_64-unknown-linux-gnu` for `arm-unknown-linux-gnueabihf` arch, linked with a [custom linker for ARMv6](https://github.com/raspberrypi

[2019-07-21 01:46] vadixidav commented on #62187
Also encountered this issue [here](https://github.com/vadixidav/aljabar-hello#bitarray).

[2019-07-21 02:00] vadixidav commented on #61624
Encountered this issue and documented it [here](https://github.com/vadixidav/aljabar-hello/tree/861c338077cb158311f7c714e62d633b4eca9cbc#gru). The associated code is [here](https://github.com/vadixidav/aljabar-hello/blob/861c338077cb158311f7c714e62d633b4eca9cbc/src/gru.rs).

[2019-07-21 06:56] gilescope commented on #53690
@stuhood - working on improving the error message: #62539 - feel free to make suggestions!

[2019-07-21 07:46] programmerjake commented on #20671
any progress?

[2019-07-21 08:29] nikic commented on #62841
Presumably due to LLVM update. Can you determine what the illegal instruction is? (E.g. via gdb and `disassemble`.)

[2019-07-21 08:56] mkadziolka opened #62843 "Confusing error message when trying to use String as a Pattern"
Consider this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1a04d9b9f18985990294c60baf35155e)):

[code]

On both current stable and nightly, this results in this error message:

[code]

This is really confusing, since the proper way to get this to compile is to use a reference instead of an owned string:

[code]

[2019-07-21 09:15] RalfJung commented on #62835
There was talk about an `unsafe impl Copy for` in the context of https://github.com/rust-lang/rust/issues/25053.

[2019-07-21 09:35] petrochenkov opened #62844 "Test `run-pass\backtrace-debuginfo.rs` fails on i686-pc-windows-msvc"
Due to a regression in `compiletest` some `run-pass` tests weren't run properly for some time and this is one of the regressions that slipped through during that time.

https://github.com/rust-lang/rust/pull/62797#issuecomment-513516054
[code]

cc @alexcrichton

[2019-07-21 09:44] GuillaumeGomez commented on #43466
That'd force to check all the generic parameters, not very ideal...

[2019-07-21 10:17] Havvy commented on #62231
Wherever we note this assumption by Rust, we should also make note that we assume that pointer width is at least 16 bits (via `impl Into<isize> for i16`) as well.

[2019-07-21 10:26] Havvy commented on #62231
Actually, can we open a new issue for where these assumptions should be documented; it feels unrelated to actually making this choice and there are others we should do it for even if we choose not to specify the behavior in this issue.

[2019-07-21 10:31] petrochenkov commented on #62831
cc @mark-i-m

[2019-07-21 11:01] RalfJung opened #62846 "tidy complains about valid stability attribute"
With the following stability attribute
[code]
tidy complained
[code]
Seems like it's parser is a bit too simplified.

See https://github.com/rust-lang/rust/pull/62799#issuecomment-513543333 for the CI failure and https://github.com/rust-lang/rust/pull/62799/commits/f3abbf71035e469fce6db37bdb444ce3e50e870f for the work-around.

[2019-07-21 11:04] RalfJung commented on #62836
Cc @gnzlbg @rust-lang/wg-unsafe-code-guidelines

There is some documentation of this at https://rust-lang.github.io/unsafe-code-guidelines/layout/scalars.html.

[2019-07-21 12:17] DoumanAsh opened #62847 "test attribute doesn't check if another test attribute is specified"
Currently if you slap `#[test]` two times you're going to get double tests in `cargo test` output.
I suspect it doesn't really care about presence of other attributes.
And I only noticed it because `tokio::test` attribute that wraps async functions for  tests also appends own `#[test]`

Not sure if it is bug and diagnostic message should be presented to user?

[2019-07-21 12:22] DoumanAsh commented on #62847
There are several compilation diagnostics for test attribute already, so I think it wouldn't be strange to add one more to warn user about multiple attributes?
https://github.com/rust-lang/rust/blob/5c26b523686497a46d10104c7295f366099a298c/src/libsyntax_ext/test.rs#L48

[2019-07-21 12:44] dtolnay commented on #43466
Would you be able to clarify what is not ideal about checking generic parameters? Is it difficult to implement? If that's the only thing, would you consider accepting a PR that takes care of the implementation?

[2019-07-21 14:13] GuillaumeGomez commented on #43466
No it's not difficult. It's just not ideal because it creates additional rules that I find useless. The goal of a feature is to be simple enough to let users use it without having to wonder:

1. Is it something I can do?
2. What will be the outcome?

In this case, we can consider that the first point wouldn't be an issue but the second definitely would.

[2019-07-21 14:21] phil-opp opened #62852 "Codegen issue (endless recursion) with custom target and +soft-float"
The following function causes endless recursion and a stack overflow on our bare metal target, which uses the `soft-float` feature:

[code]

The target specification looks like this:

[code]

The following code is generated:

[code]

The `__floatdidf` function is just an endless recursion that leads to a stack overflow.

I tried debugging it on godbolt, but I don't know how to make it use a custom

[2019-07-21 14:24] danielhenrymantilla commented on #53491
#### Regarding `maybe_uninit_ref`

Unstable [`get_ref`](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#method.get_ref) / `get_mut` are definitely adviseable because of that; however, there are cases where `get_ref` / `get_mut` may be used when the `MaybeUninit` has been init: to get a safe handle to the (now known initialised) data while avoiding any `memcpy` ([instead of `assume_init`,

[2019-07-21 14:45] phil-opp commented on #57270
@mati865 Sure. I tried it with both `rustc 1.38.0-nightly (bc2e84ca0 2019-07-17)` and `rustc 1.38.0-nightly (95b1fe560 2019-07-20)`. Both nightlies reported a correct error code, so the issue seems to be fixed.

[2019-07-21 14:45] #57270 closed

[2019-07-21 14:57] alexreg commented on #58887
@Centril Fair point. I mean, we could use an old nightly, but that's a pain.

[2019-07-21 15:27] varkor commented on #62846
The parsing is very simplistic:
https://github.com/rust-lang/rust/blob/83dfe7b27cf2debecebedd3b038f9a1c2e05e051/src/tools/tidy/src/features.rs#L436-L446

[2019-07-21 16:11] RalfJung commented on #62846
Can't we just make rustc complain about malformed `stable`/`unstable` attributes? What is the reason why tidy has to check this?

[2019-07-21 16:29] petrochenkov commented on #62846
@RalfJung
`rustc` already complains about missing `feature`s and other ill-formed stability attributes.
Tidy wants to collect those features to complain about something else, first of all (e.g. about a feature not having a dedicated test etc.).

[2019-07-21 16:39] NieDzejkob commented on #62838
The crash seems to involve the incremental compilation mechanism. Triggering the ICE once will "store" it in the target folder, so you need to do a clean build to check whether a modified input still reproduces the bug. I'll try to minimise the example.

[2019-07-21 17:23] NieDzejkob commented on #62838
The bug stopped reproducing on clean builds even though I changed nothing. I'm really confused...

[2019-07-21 18:55] KevinWMatthews opened #62857 "Update Condvar docs to use match ergonomics"
In `std::sync::Condvar`'s [docs](https://doc.rust-lang.org/std/sync/struct.Condvar.html), it looks like [line 39](https://github.com/rust-lang/rust/blob/0c7cf8c633b388d0d8cc4991d41a281d6ddd47bd/src/libstd/sync/condvar.rs#L39):

[code]

 and [line 51](https://github.com/rust-lang/rust/blob/0c7cf8c633b388d0d8cc4991d41a281d6ddd47bd/src/libstd/sync/condvar.rs#L51)

[code]

 were written [before](https

[2019-07-21 19:06] jonas-schievink commented on #62857
Sounds like a good idea to me. This should probably also be done for *all* the examples on that type (there's quite a lot using this pattern). Want to send a PR?

[2019-07-21 19:24] KevinWMatthews commented on #62857
@jonas-schievink Sure! It will give me an excuse to read all of the `Condvar` documentation in detail.

[2019-07-21 22:40] Aaron1011 commented on #42327
What's the current status of this feature?

[2019-07-22 00:47] rivy commented on #62794
I was using fairly recent version of `rustc` for both (1.36.0 [2019-07-03] and v1.33.0 [2019-02-28], respectively). I've inserted the version output into the original issue statement.

I ran across this while trying to fix some failing windows tests for "ansi-term".

I've fixed that by converting to a regex comparison with optional trailing commas. So, that issue is essentially solved. I'm just fi

[2019-07-22 02:31] dwrensha opened #62863 "compiler nontermination after "error: bare CR not allowed in doc-comment""
[code]
... and `rustc` keeps running until I kill it.

This bad behavior did not exist on the previous nightly. I hypothesize that it has to do with #59706 (cc @matklad).

This issue was found with the help of [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc).

This issue has been assigned to @matklad via [this comment](https://github.com/rust-lang/rust/issues/62863#issuecomment-513668719).

[2019-07-22 07:06] matklad commented on #60604
closed by #60793

[2019-07-22 07:06] #60604 closed

[2019-07-22 07:09] matklad commented on #62863
Oh, excellent, thanks @dwrensha !

@rustbot claim

[2019-07-22 07:27] matklad opened #62865 "Translate `\r\n` -> `\n` when reading files"
Currently, we handle `\r\n` explicitly in the lexer. We should do this at the file read time instead.

Motivation:

1. Line endings should not affect semantics of the language. For example, git on windows by default checkouts with `\r\n` line endings, and it would be bad if compiling code on windows led to observably different results. This *could* be handled on a case-by-case basis in the lexer (

[2019-07-22 07:28] matklad commented on #62865
cc @petrochenkov

[2019-07-22 07:41] RalfJung commented on #62794
That would explain the difference then. Could you adjust the issue title? This has nothing to do with Windows vs non-Windows. The output simply changed between two versions.

[2019-07-22 08:09] nikita-fuchs commented on #62342
@nikic generally speaking, do you guys have sufficient access to System Z mainframes to try things out or should we ask IBM for some support for the Rust community ?

[2019-07-22 08:48] petrochenkov commented on #62844
`run-pass\backtrace.rs` is also failing on `i686-pc-windows-msvc`.
[code]

[2019-07-22 08:53] Nemo157 opened #62867 "Remove padding when code spans/code link spans are adjacent"
I used

[code]

in [some crates documentation](https://docs.rs/async-compression/0.1.0-alpha.1/async_compression/) which renders as

![concated-code](https://user-images.githubusercontent.com/81079/61619133-8f2d4700-ac6e-11e9-96d0-77fe43390b37.png)

There is currently a `0.1em` padding applied inside all code spans causing the spacing to look weird. It seems like adjacent code spans (including one

[2019-07-22 08:54] Nemo157 commented on #43466
It would be great if there were better support for rendering this style of linking then, currently they have weird spacing, opened https://github.com/rust-lang/rust/issues/62867 about it.

[2019-07-22 09:00] Nemo157 commented on #62834
In relation to the objection @GuillaumeGomez had on the tracking thread, I have [a usecase](https://github.com/rust-lang/rust/issues/62867) where I want to link to the different parts of a fully applied (nested) generic type.

Extending the example slightly, should the following also work:

[code]

and should that result in something like:

?

[2019-07-22 09:04] SimonSapin opened #62868 "Alternatives to rustc_plugin::registry for (Servo’s) custom lints?"
Continuing from https://github.com/rust-lang/rust/pull/62727#issuecomment-513508389:

It would take building an alternative.

This thread is to discuss what alternative mechanisms already exist or could be added.

# Requirements

* ~Having custom attributes in source code (e.g. on `struct` definitions), ignored without warning by rustc.~

  ~Currently we rely on `rustc_plugin::registry::Registry::

[2019-07-22 11:46] Nemo157 commented on #59245
It seems like #57017 is more specifically about a code pattern that leads to this happening, the underlying issue here is just that a generator holding a self-reference across a yield point requires the referenced object to be `Sync` when it shouldn't, it just needs to be `Send` as the reference will move threads along with the referenced object. #57017 shows one possible way to cause this issue,

[2019-07-22 11:53] Nemo157 commented on #59245
Minimised example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=102538dee0dfc73b2419f7b1cfc52c68)):

[code]

[code]

[2019-07-22 12:27] alex opened #62872 "Unexpected type for async closure?"
[code]

[code]

This produces:

[code]

I would have expected `async move || {}` to give me a `Future<Output = ()>`, instead from the error message it seems to be returning `()`. This is unexpected. I'm not sure if this is an error with return types or a bug with async closures returning the unit type.

[2019-07-22 12:32] Dylan-DPC commented on #44291
The PR has been closed due to inactivity so it is free if anyone wants to pick it up

[2019-07-22 12:45] #62775 closed

[2019-07-22 13:30] Nemo157 commented on #62872
Running through the types:

[code]

[code]

[code]

[code]

The problem is that both `FuturesOrdered` and `Buffered` are buffering transforms, just `FuturesOrdered` is an unbounded buffer that will run all incoming futures in parallel. You want something like:

[code]

[2019-07-22 13:37] jeff-davis opened #62874 "Building shared libraries on Mac requires '-undefined dynamic_lookup'"
**Problem**

A shared library used as a plugin will often reference symbols in the host program. These symbols will remain unresolved at build time, but will be resolved at the time the shared library is loaded into the host program.

Cargo on Mac fails to build any shared library that can't resolve the symbols at build time.

I expect cargo to build a crate containing unresolved symbols successfu

[2019-07-22 14:52] bgourlie opened #62875 "Const generics and transmute: cannot transmute between types of different sizes"
The following code should compile, but it doesn't:

[code]

The error produced is

[code]

[2019-07-22 15:12] DutchGhost commented on #62875
Duplicate of https://github.com/rust-lang/rust/issues/61956 .

To fix this for now, either use `transmute_copy`, or take a raw pointer to the MaybeUninit array, cast the ptr to the type you want, and `ptr::read` it, while making sure you `mem::forget` the MaybeUninit array!

[2019-07-22 16:03] cramertj commented on #62765
I don't suppose there's any way to mark that offsetof from one of the addresses could also be used to refer to a separately allocated object, e.g. `ptr::join(ptr_into_allocation_a, ptr_into_allocation_b)`? I don't know of any LLVM-level operation to mirror this, but it seems pretty clearly useful.

[2019-07-22 16:13] cramertj commented on #56974
It's not easy. There needs to be a way to pass an argument into the generator resume function which can be accessed by any `.await` call. Neither generator arguments nor any mechanism for accessing such a bizarrely scoped local variable exist today.

[2019-07-22 16:22] Nemo157 commented on #56974
There is a way to implement it today using `unsafe`, as far as I know [this proc-macro based implementation](https://github.com/Nemo157/embrio-rs/tree/master/embrio-async) is sound (other than one non-hygienic local variable that could be an unnameable gensym in a compiler implementation). Although, I have seen one benchmark comparing this to the builtin transform and it seems to have much worse p

[2019-07-22 16:37] m-ou-se commented on #28481
@apasel422 You can update your comment to check Option and Result. :)

[2019-07-22 17:05] cuviper commented on #38751
I tried this in #60796, and indeed type inference was a problem. Maybe the compiler can learn some tricks to make that work better, but for now this change doesn't seem feasible.

[2019-07-22 17:11] #62872 closed

[2019-07-22 17:45] cramertj commented on #62508
@scottmcm I definitely wouldn't consider the possibility of inlining and optimization enough to be relied on for soundness of any `async fn`, especially in debug mode.

[2019-07-22 19:40] Lokathor opened #62876 "Missing x86/x86_64 intrinsic: `_mm_loadu_si32`"
[intel guide](https://software.intel.com/sites/landingpage/IntrinsicsGuide/#techs=SSE2&text=_mm_loadu_si32)

[rust docs show it as not there](https://doc.rust-lang.org/std/index.html?search=_mm_loadu_si32)

[2019-07-22 19:57] jesskfullwood commented on #54508
Pretty sure this is related to/the same as #46989

[2019-07-22 20:10] nagisa opened #62877 "-Csave-temps does not retain linker scripts"
Rust uses a linker script with gcc linker flavour, adding a flag like this:

[code]

However this file is not preserved even when `-Csave-temps` is specified, making it impossible to really debug linkage issues outside of rustc.

[2019-07-22 20:47] #60602 closed

[2019-07-22 20:47] #62863 closed

[2019-07-22 21:25] Centril opened #62878 "Const generics: Wrong number of const arguments"
The following should type check but does not:

[code]

Errors with:
[code]

[2019-07-22 21:30] Centril opened #62879 "ICE with const generics with dependent const parameters"
[code]

results in an ICE:

[code]

[2019-07-22 21:49] dwrensha opened #62881 "ICE on "index out of bounds: the len is 0 but the index is 1""
When I try to run `rustc` on this program (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc))
[code]
it crashes with this error:
[code]

The error happens on stable, beta, and nightly.

[2019-07-22 21:51] estebank commented on #62881
Introduced in 1.33.

[2019-07-22 22:29] RalfJung commented on #62765
@cramertj In principle, you can implement a `cross_object_offset` as follows:
[code]
However, [there are some long-standing LLVM bugs in this area](https://bugs.llvm.org/show_bug.cgi?id=34548) and with the LLVM model being as awfully imprecise as it is for UB, we can't really tell where the bug is.

The good news though is that it seems like C++ is moving towards "pointer provenance does not propa

[2019-07-22 23:06] rivy commented on #62794
Yes, you're correct. The pretty-print is differing between versions, not platforms. It's the same, per platform, when using the same `rustc` version.

Since at least the `ansi-term` package is using the pretty-print to compare structures, I think it'd be a good idea to make a notation in the official documentation about stability and/or instability of the pretty-print output.

Also, any recommenda

[2019-07-22 23:06] rivy commented on #62794
Thanks for the input @CryZe and @RalfJung!

[2019-07-22 23:06] leo60228 commented on #56974
For platforms with ELF TLS support, https://github.com/sunriseos/core-futures-tls solves this issue. It could be trivially modified for single-core platforms without ELF TLS, but multi-core ones would be much more difficult.

[2019-07-22 23:08] iluuu1994 opened #62884 "Slow recompilation with incremental compilation"
I'm probably doing something wrong. The docs say that with incremental compilation you should be able to recompile rustc in about 30 seconds. For me it takes around 10 minutes.

I've done the following ([as described in the docs](https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html)):

1. Set `codegen-units` to `0` in **config.toml**
2. Compiled everything using `./x.py build -i --sta

[2019-07-23 01:06] dwrensha commented on #62881
I'm seeing the error on `nightly-2018-12-14` (https://github.com/rust-lang/rust/commit/f4a421ee3cf1259f0750ac7fabd19da1d8551e4c) but not on `nightly-2018-12-08` (https://github.com/rust-lang/rust/commit/4a45578bc58ff262864f72680cc02e83f5d2f5b3).

[2019-07-23 01:09] dwrensha commented on #62881
https://github.com/rust-lang/rust/pull/56248 looks suspicious.

[2019-07-23 01:32] comex commented on #40230
Is there currently no stabilized way to access intrinsics::abort?

[2019-07-23 01:49] comex opened #62888 "Link error if panic_handler is marked #[inline]"
Test case:
[code]

Compiling with:
[code]

(This is on macOS; on other platforms you probably want different link args.)

I get:
[code]

In retrospect this error makes sense, since `#[inline(always)]` normally prevents a function from being instantiated unless needed.  But there should be an exception for lang items.

Without LTO, `#[inline(always)]` is futile anyway.  But with LTO, rustc can emit

[2019-07-23 03:20] alex commented on #62872
Ahhh, thanks much.

I'm still confused as to why the error said
[code]

but this was very helpful!

[2019-07-23 03:53] daboross commented on #52607
For anyone else coming across this, I've found the following macro to work well as a workaround:

[code]

This is definitely exploiting compiler behavior, but I'd at least like to believe that the behavior is caused by some fixed macro expansion order which won't change backwards-incompatibly.

[2019-07-23 04:59] Lokathor commented on #62876
Note: `_mm_storeu_si32` is also missing

[2019-07-23 07:01] RalfJung commented on #62794
I have adjusted the title to include `Debug`; I hope that's accurate. IMO this is mostly a docs issue about stating more clearly in the docs that `Debug` output is not stable. But I will leave that to the libs or docs team. ;)

The expected way for people to compare structures is to use `PartialEq`. Why does that not work here?

[2019-07-23 07:20] landaire commented on #61624
I just hit this issue as well in my project. I'm using serde derives and const generics, but unfortunately cannot share the code I'm hitting this with.

<details><summary>Click for stack</summary><p>

[code]

[2019-07-23 08:08] acnologia000 commented on #62841
did you try compiling code on your raspberry pi 0  ?
this might be issue with gcc cross compiler (code generator part) rather than Rust

[2019-07-23 08:16] jesskfullwood commented on #46989
I just want to compare two `fn` pointers to see if they are equal. As a workaround, is it safe simply to transmute them both to `usize`? It seems to work...

[2019-07-23 08:16] nox commented on #35428
Note that users can't make their own inherent `is_empty` method on their own types if they also want to implement `ExactSizeIterator` on them, any use triggers an "use of unstable library feature 'exact_size_is_empty'" error.

[2019-07-23 08:21] Nemo157 commented on #62872
@alex that comes from the where clause on `StreamExt::buffered`, it requires `Self::Item: Future` and at that point `Self::Item = ()` (maybe the error message should also point to the exact bound that's failing, to make it more obvious that when it refers to `()` there it's referring to that via the associated type `Self::Item`?)

[2019-07-23 08:33] glandium commented on #57563
What about supporting trait bounds like the following?
[code]
They shouldn't require a RFC AIUI.
A real-life example of those is in `parking_lot::lock_api`, and it would be great if that could be done with stable.

[2019-07-23 08:39] Lokathor commented on #57563
Yeah, it's unfortunate that we can't use associated consts and marker trait bounds before the rest of it.

[2019-07-23 08:41] SimonSapin commented on #35428
I can’t reproduce this: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cec84e30d1eedd6e5fa6933b4e1f8631 Did you mean something else?

[2019-07-23 08:48] glandium commented on #57563
Or any other trait bound that is not relevant to the const fn, for that matter. e.g.
[code]
(although, a marker in involved, but it's not in the trait bound itself)

[2019-07-23 08:50] SimonSapin commented on #57563
Perhaps a way to define this is: if a `const fn` has a trait bound (perhaps inherited from an `impl` block) *but does not involve any of the items of that trait* (methods, associated types, …), then it should be allowed. (The bound can still be relied on to satisfy other bounds, e.g. those on a `struct` definition when constructing a value of that struct type.)

[2019-07-23 08:51] glandium commented on #57563
+ traits with associated consts (with no involvement from any other items of that trait)

[2019-07-23 09:14] oli-obk commented on #57563
While we could just allow const fns that don't use generics or don't actually use them to call functions, there are many questions about forward compatibility both in the language and in user defined `const fn`. This topic is discussed on the RFC in detail.

The problem is not having trait bounds (so knowing that `T: Foo`), it is declaring them (so the writing out of the `T: Foo`) and what the sem

[2019-07-23 09:35] nox commented on #35428
Ouch, it fails when the receiver of the call is a `&mut`.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ed565c343e2fc196ea1e3dc4f2e54ad1

[2019-07-23 09:38] nox commented on #35428
I assume it ends up calling `<&mut Oops as ExactSizeIterator>::is_empty` rather than `Oops::is_empty` or `<Oops as ExactSizeIterator>::is_empty`.