[2016-04-11 21:44] eddyb commented on #32888
Is it really a `rustc` bug? This looks like panicking with a non-string *from `libcore`*:
[code]

[2016-04-11 21:46] alexcrichton commented on #32888
I have a feeling we'd have gotten a lot more bug reports if libcore itself were not panicking with string literals: https://github.com/rust-lang/rust/blob/b622c3e0856767d8e53cf141e2e0a7b6d72a198b/src/libcore/option.rs#L696-L701

The compiler panics with a token indicating that it was an ICE/bug, so I think that's where the `Box<Any>` is coming from.

[2016-04-11 21:49] eddyb commented on #18086
From @pravic's examples, `clang` generates:
[code]
While `rustc` only has:
[code]

Naming aside (it ends up linking just fine), we're missing `inreg` attributes. cc @dotdash

[2016-04-11 21:50] bluss commented on #32610
Neither of these are a practical issue. crate libc does not support any other configuration than `c_int = i32` so far.

[2016-04-11 21:57] alexcrichton commented on #32888
I think I need to become more trusting, this is due to local changes.

[2016-04-11 21:57] #32888 closed

[2016-04-11 22:15] nagisa commented on #32890
cc https://github.com/rust-lang/rust/pull/30036

[2016-04-11 22:19] nagisa commented on #32886
Why relative rpaths are not enough? The libraries can still be found at `../lib/*` relative to the binary.

[2016-04-11 22:58] gwselke opened #32891 "compiler panic 'called `Result::unwrap()` on an `Err` value: JoinPathsError { inner: JoinPathsError }'"
I tried to compile libsqlite3-sys v0.4.0.

I expected to see this happen: compilation without compiler panic

Instead, this happened: above message (see title) from ../src/libcore/result.rs:688; then message
"Could not compile libsqlite3-sys"
## Meta

`rustc --version --verbose`:
rustc 1.7.0 (a5d1e7a59 2016-02-29)
binary: rustc
commit-hash: a5d1e7a59a2a3413c377b003075349f854304b5e
commit-date: 201

[2016-04-11 23:27] alexcrichton commented on #32886
The problem is that we generate relative rpaths with the expectation that the directory structure at compile time is the same as that at runtime. With the makefiles we do that but with rustbuild we just take whatever Cargo outputs and massage it into the directory structure we later ship.

For example:

[code]

When compared to a normal build:

[code]

Namely, the compiler relies on `$ORIGIN/../li

[2016-04-12 00:41] marcianx commented on #32872
It's strange that `IterBase` requires `Meta` to be copy as `IterBase` it only contains a shared reference.

But sure enough, as it says https://doc.rust-lang.org/std/marker/trait.Copy.html

Thanks for the clarification.

[2016-04-12 00:57] huonw commented on #32872
Duplicate of https://github.com/rust-lang/rust/issues/26925, thanks for filing!

[2016-04-12 01:03] marcianx commented on #32872
@huonw My last message is related to the bug you marked this as a dupe of. But isn't the original bug reported here different? The error says

[code]

But it is implement right above it in my example up top. So some information is not being propagated correctly.

[2016-04-12 02:35] alexcrichton commented on #32837
I've [opened a PR for this](https://github.com/rust-lang/rust/pull/32900).

[2016-04-12 02:43] Aatch commented on #32887
Looking at the LLVM docs, I think "protected" visibility style is what we want: http://llvm.org/docs/LangRef.html#visibility-styles

Making it the default doesn't seem like a bad idea, pulling weird `LD_PRELOAD`-style tricks is probably rare (and difficult) enough to assume it's not happening. We could add an attribute to get the previous behaviour back ("default" visibility style), not that I kno

[2016-04-12 03:18] brson commented on #32886
Maybe a new -Z flag?

Hacks also fine.

[2016-04-12 03:20] #29374 closed

[2016-04-12 03:20] Aatch commented on #29553
This just came up on IRC and should be a consideration for anything we do here. Allowing for "unbenchmarked" parts of an iteration. The specific case this came up for was benchmarking an in-place sorting algorithm. Since performance is going to be different for sorted vs. unsorted lists, you need to clone the list each iteration which can throw off the results.

[2016-04-12 03:20] #32505 closed

[2016-04-12 03:20] #29373 closed

[2016-04-12 03:20] #32833 closed

[2016-04-12 03:20] #32471 closed

[2016-04-12 03:36] alexcrichton commented on #32887
Nice find! We may want to hold off on changing `#[no_mangle]` symbols without some more investigation, but everything else should be fine to basically change at will (so long as it works) as they're all basically internal implementation details anyway.

[2016-04-12 05:44] alexcrichton opened #32901 "rustbuild: Add a tidy check to ensure Cargo.lock updates are checked in"
Right now we don't have the majority of devs using rustbuild, so it's easy to modify Cargo.toml but forget to generate a new lock file. This in turns leads to messy diffs after the change has landed because anyone working on rustbuild will start seeing that diff.

Let's get the bots to fail the build if Cargo.toml is updated and Cargo.lock does not reflect that change. Essentially, after building

[2016-04-12 05:45] alexcrichton commented on #32834
If you have any questions, feel free to ask me @cyplo!

[2016-04-12 05:48] alexcrichton opened #32902 "rustbuild: Verify sha256 of downloaded nightlies"
We should be validating our downloads for two reasons:

1. Make sure that the file wasn't corrupted in transit by accident with something like a faulty proxy.
2. Make sure the file itself wasn't tampered with.

To accomplish this let's do two things:

* Check into the compiler Rust source the sha256 of what we *should* be downloading.
* Check the sha256 of what we just downloaded against this valu

[2016-04-12 06:49] achanda opened #32904 "Cannot parse IPv6 addresses with zone indices"
Here is what I see http://is.gd/SAqJsw
These addresses are described in https://en.wikipedia.org/wiki/IPv6_address#Link-local_addresses_and_zone_indices

[2016-04-12 06:53] ihrwein commented on #20503
I hit this issue today.

[2016-04-12 07:04] mitaa commented on #32890
This is because even though we're generating unique ids, the code that renders the methods ([`render_assoc_item`]) does not know about the allocated id and [creates a naive one itself..][1]

[`render_assoc_item`] takes a
[code]
where `Anchor` refers to an item on the current page and `GotoSource` refers to the trait pages item (used in the trait implementations section).

I think the best fix woul

[2016-04-12 07:34] oli-obk commented on #32843
that's because the first is not a cast, since `0x100` is inferred to be `u8` and then casted to `u8`. The second one is a `char` which is casted to `u8`.

[2016-04-12 08:11] #32709 closed

[2016-04-12 09:30] Amanieu commented on #28951
Actually I don't think we need to make the struct packing algorithm part of the ABI. Instead we can just put the chosen struct layout in the metadata of the crate which defines the struct. The only downside is that two different structs with the same contents are not guaranteed to have the same layout.

[2016-04-12 09:35] eddyb commented on #28951
@Amanieu At least in theory, layouts have to be deterministic, but can depend on the crate SVH (as a seed).
In practice, the items taken into consideration have to be part of the dependency subgraph of the type itself, for incremental recompilation.

[2016-04-12 09:52] Ms2ger opened #32905 "Consider moving some docs from alloc::arc to alloc::arc::Arc"
http://static.rust-lang.org/doc/master/alloc/arc/index.html has some useful docs, which are somewhat hard to find. In particular, someone on IRC misconstrued the more terse documentation on the `Arc` type itself to mean that it magically allowed mutable access.

CC @steveklabnik

[2016-04-12 11:39] arielb1 commented on #32330
That's RFC447 for you, just like in a manual impl.

[2016-04-12 11:53] RalfJung commented on #32330
I somehow thought that one was for trait definitions and implementations. That's very different from using trait objects, isn't it? I can write a function with a bound `T : Iterator`, and use `T::Item` in the body of that function, and all is fine as this is instantiated at compile time. However, if I have an argument `i: Iterator`, I must not reference the `Item` type of whatever trait implementa

[2016-04-12 12:25] steveklabnik commented on #32905
part of https://github.com/rust-lang/rust/issues/29377

[2016-04-12 12:57] ford--prefect opened #32907 "long float assignment crashed compiler"
an assignment of pi with big precision makes rustc go nuts:
code line:

let pi: f64 = 3.141592653589793238462643383279502884197169399375105820974944592307816406286208998628034825342117067982148086513282306647093844609550582231725359408128481117450284102701938521105559644622948954930381964428810975665933446128475648233786783165271201909145648566923460348610454326648213393607260249141273724587006606

[2016-04-12 12:59] arielb1 commented on #32330
Trait objects basically carry an implementation with them, and that implementation needs to be RFC447-compliant.

The trait-object type `Iterator` is supposed to implement the trait `Iterator`. As it can't (what would the associated type be), the trait-object type `Iterator` is not object-safe, so you can't write `fn f(i: &Iterator)`.

That would require you to add the correct type equalities, as

[2016-04-12 14:15] #27719 closed

[2016-04-12 14:15] #27754 closed

[2016-04-12 14:15] #27780 closed

[2016-04-12 14:15] #27809 closed

[2016-04-12 14:15] #27811 closed

[2016-04-12 14:15] #27830 closed

[2016-04-12 14:15] #28050 closed

[2016-04-12 14:15] #29453 closed

[2016-04-12 14:15] #29791 closed

[2016-04-12 14:15] #29935 closed

[2016-04-12 14:15] #30752 closed

[2016-04-12 14:15] #31262 closed

[2016-04-12 14:15] #31405 closed

[2016-04-12 14:15] #31572 closed

[2016-04-12 14:15] #31755 closed

[2016-04-12 14:15] #31756 closed

[2016-04-12 14:36] kamalmarhubi commented on #20503
@jroesch although it was a few months ago, do you remember enough context to write a very quick summary of where changes would need to be made to fix this?

[2016-04-12 14:51] alexcrichton commented on #30014
Oops there's still a few unstable APIs here

[2016-04-12 14:56] alexcrichton commented on #32907
cc @oli-obk

[2016-04-12 15:12] oli-obk commented on #32907
this is already "fixed": http://is.gd/6x7P43

see #31407 for more

[2016-04-12 16:22] rkruppe commented on #32907
Well not fixed but known and already has an issue.

Man I should really get around to fixing that.

[2016-04-12 16:40] alexcrichton commented on #32907
Ah ok, closing as a dupe of https://github.com/rust-lang/rust/issues/31407

[2016-04-12 16:40] #32907 closed

[2016-04-12 17:13] #31576 closed

[2016-04-12 17:18] mbrubeck commented on #32843
Ah, right. And `0x100_i32 as u8` does not warn either. I think I'll just close this as invalid.

[2016-04-12 17:18] #32843 closed

[2016-04-12 17:49] GuillaumeGomez commented on #32777
@marti1125: I guess the first step is to find one of the listed error codes into the rust source code (github search makes it easy) and then try to span it with rust code. From there, just follow the description of this issue and if you need help, you can always ask (here or on [IRC](irc.mozilla.org) on #rust-docs chan).

[2016-04-12 18:27] Nemo157 commented on #22290
I have an actual use-case for this now :)

I'm trying to write some benchmarks comparing maud, horrorshow and a new alternative I'm working on, every one of these defines an `html!` macro as the basis of their system, so currently it's impossible to easily bring them all into a single benchmark .

I did think I would be able to work around it by pulling the crates into internal modules and just ex

[2016-04-12 18:46] Nemo157 opened #32911 "No message when importing two crates defining a macro with the same name"
If you have two crates that define an identically named macro and `#[macro_use]` both of them then there will be no warning/error about the conflict, instead it's simply the second to be imported that is used.

Example using modules ([playground](http://is.gd/0G0sat)):

[code]

This is unlikely to produce issues in practice, but could potentially be really, _really_ annoying to try and track down

[2016-04-12 19:17] cyplo commented on #32834
Hi  @alexcrichton, using your invite to ask here ;)

I took a quick look there and it seems that the initial download is done via `bootstrap.py` and it seems that the fix can be done entirely within that file.

Do you maybe know if there any other downloads, not done during the `bootstrap.py` phase that would need this treatment or other reasons to touch something beyond `bootstrap.py` in the fix

[2016-04-12 19:21] apasel422 commented on #27787
My understanding is that we're waiting on a new RFC in lieu of rust-lang/rfcs#1254.

[2016-04-12 19:22] apasel422 commented on #31690
Closing this in favor of a new range RFC.

[2016-04-12 19:22] #31690 closed

[2016-04-12 19:27] apasel422 commented on #18404
Was this effectively fixed by #32586?

[2016-04-12 19:30] steveklabnik commented on #18404
It should have been, yes!

[2016-04-12 19:30] #18404 closed

[2016-04-12 19:42] nikomatsakis commented on #5016
I expect it to land this year.

On Wed, Apr 06, 2016 at 05:39:55PM -0700, Ivan Smirnov wrote:

[2016-04-12 19:44] alexcrichton commented on #32834
Yeah I believe that's the only location where we download anything. There's other downloads that Cargo does for the actual compilation of the build system itself but Cargo handles bad internet and things like that internally already.

[2016-04-12 19:52] nikomatsakis commented on #32842
@oli-obk sorry, which is the issue that is impossible to fix specifically?

[2016-04-12 19:56] ambaxter opened #32913 "Compiler panics on latest nightly when building Redox on OS X"
Compiler panics when building Redox on latest nightly

I tried this code: Fresh checkout of Redox

I expected to see this happen: Compilation success

Instead, this happened: Compiler panic

## Meta

`rustc --version --verbose`:
rustc 1.9.0-nightly (b622c3e08 2016-04-11)
binary: rustc
commit-hash: b622c3e0856767d8e53cf141e2e0a7b6d72a198b
commit-date: 2016-04-11
host: x86_64-apple-darwin
release: 1

[2016-04-12 19:56] nikomatsakis commented on #32836
Seems like this is a good issue to raise up as an unresolved question. I'm not sure yet which approach I prefer.

[2016-04-12 20:03] ambaxter commented on #32913
Duplicate of https://github.com/rust-lang/rust/issues/32783

[2016-04-12 20:10] #31301 closed

[2016-04-12 20:13] oli-obk commented on #32842
It's not impossible to fix, it just can't be fixed without a cache for errors and/or constants.

The issue I meant is that an error is reported additionally at a use site, when using a broken constant in a normal expression. This occurs, because trans/consts doesn't cache constants, but instead evaluates them through llvm at every use site (in contrast to statics, which are only evaluated once). N

[2016-04-12 20:21] sourcefrog opened #32914 "building native libraries fails when CC/CXX contains spaces, eg for ccache"
with `CC='ccache gcc'`, building for example brotli-sys fails like this:

[code]

I think it should split the variable into words before executing, as other tools do.  Or, possibly do some more sophisticated shell-like interpretation.

[2016-04-12 20:24] LeoTestard commented on #22290
I can implement that if there is consensus on it. Shouldn't be too hard.

[2016-04-12 20:27] LeoTestard commented on #32911
(I can fix that one too.)

[2016-04-12 20:27] LeoTestard commented on #32911
Working on that one.

[2016-04-12 20:35] TimNN commented on #32914
I believe that this is an issue with the [`gcc-rs` crate](https://github.com/alexcrichton/gcc-rs) which is used by brotli-sys to build the native library.

[2016-04-12 20:38] nikomatsakis commented on #32842
@oli-obk by error do you mean lint warning?

[2016-04-12 20:38] joshtriplett commented on #32836
@nikomatsakis As much as I find it awkward for assigning to a union field of a type with Drop to require previous validity of that field, the reference case @tsion mentioned seems almost unavoidable.  I think this might just be a gotcha associated with code that intentionally disables the lint for putting a type with Drop in a union.  (And a short explanation of it should be in the explanatory tex

[2016-04-12 20:41] LeoTestard commented on #32911
I work on this one. :)

[2016-04-12 20:44] alexcrichton commented on #32914
Indeed! As @TimNN this is more relevant for the `gcc-rs` crate, so I'm going to close this here for now. As also mentioned this is currently intentional behavior, but this is so common it seems like this should just be fixed!

[2016-04-12 20:44] #32914 closed

[2016-04-12 21:02] tsion commented on #32836
And I'd like to reiterate that `unsafe` programmers must already generally know that `a = b` means `drop_in_place(&mut a); ptr::write(&mut a, b)` to write safe code. Not dropping union fields would be *one more* exception to learn, not one less.

(NB: the drop doesn't happen when `a` is *statically* known to already be uninitialized, like `let a; a = b;`.)

[2016-04-12 21:08] nikomatsakis commented on #32783
What is the simplest way for me to reproduce this problem? Does anyone have a narrowed test case of any kind? The instructions at https://github.com/redox-os/redox seem complex (run some script, run qemu etc) -- it'd be great if there were some rust file I could build without all those steps. Any tips?

[2016-04-12 21:08] nikomatsakis commented on #32913
Closing as duplicate.

[2016-04-12 21:08] #32913 closed

[2016-04-12 21:21] rkitover opened #32916 "make install prefix=/usr/local/stow/rust-git # does not work"
When using e.g. GNU Stow, the convention for autoconf based systems is to use `./configure --prefix=/usr/local` and then install to the stow directory on `make install`, with e.g. `make install prefix=/usr/local/stow/rust-git`. It seems the rust buid tools do not support this. I am just using `DESTDIR` as a workaround (cmake forces you to do the same thing, unfortunately.)

[2016-04-12 21:30] Viknet commented on #32783
I'm sure, you can just clone Redox repo (git clone git@github.com:redox-os/redox.git --origin upstream --recursive; git submodule update --recursive --init), install nasm and try to build project (make all).
It will fail pretty early on compiling redox/libstd.

[2016-04-12 21:40] rkitover opened #32917 "rustc does not allow being run via a symlink"
To add to #32916, if you install rust with e.g. GNU stow, then /usr/local/bin/rust is a symlink to e.g. /usr/local/stow/rust-git/bin/rustc, but if you do that you get errors like this compiling anything:

[code]

Setting:

[code]

fixes the problem for cargo at least.

[2016-04-12 21:42] LeoTestard commented on #32911
In fact I don't know if we *should* warn on this. For macros imported from external crates, it doesn't make much sense indeed not to, since the shadowed macro will never be visible. But for local macros imported from modules flagged with `#[macro_use]` it's not that simple. `macro_rules!` definitions are macro invocations themselves, which means that macros are registered (and thus exported) durin

[2016-04-12 22:00] LeoTestard commented on #22290
Question: what to do when using both `#[macro_use]` and `#[macro_reexport]` on the same `extern crate` declaration?

Let's say you have a renaming item `foo="bar"`. Should this apply to, say, `#[macro_reexport(bar)]`? Would the macro be exported as `foo` instead? Or should we instead refer to the macro by its local name when reexporting it, as in `#[macro_reexport(foo)]`? Also, it could be great t

[2016-04-12 22:03] Nemo157 commented on #32911
The big difference I see between shadowing of macros and `let` bindings is scope, the original `let` binding and any shadows of it will (likely) fit on a single page of code so it's easy to see that it has happened and which binding is the current one. Macros, especially when imported via `#[macro_use]`, can be declared in many different files; and there's no way at the use site to work out which

[2016-04-12 22:51] tromey opened #32918 "DWARF doesn't distinguish struct, tuple, and tuple struct"
Currently the DWARF generated by rustc doesn't distinguish a struct, a tuple, or a tuple struct.  They are all represented by `DW_TAG_structure_type`.

In gdb I handle this by examining the type name and assume that if it starts with "(" then it is a tuple.  A tuple struct is detected by seeing if the first field is named "__0".  Neither of these methods are really very good -- they work ok with t

[2016-04-12 22:57] tromey opened #32919 "DWARF loses information about public fields"
Consider a structure like

[code]

In the DWARF I see:

[code]

That is, there is nothing distinguishing that `field1` is `pub`.

This can be done by adding `DW_AT_accessibility` to the member DIE.

For gdb this is primarily used to make `ptype` generate nicer output.  So, it is not critical.

[2016-04-12 22:58] tromey commented on #32919
Note that the structure DIE itself should also have this attribute.

[2016-04-12 22:59] alexcrichton commented on #32917
Is `/usr/local/lib/rustlib` linked into place as well, or is just the `rustc` binary linked into place? Currently the compiler finds the standard library essentially via a relative path from the executable, which I'm not sure in this case whether it'll be the destination of the symlink or the symlink itself, but I'd suspect the symlink itself

[2016-04-12 23:02] nikomatsakis commented on #32836
@tsion this is not true for `a = b` and maybe only sometimes true for `a.x = b` but it is certainly true for `*a = b`. This uncertainty is what made me hesitant about it. For example, this compiles:

[code]

[2016-04-12 23:07] tromey opened #32920 "DWARF for enums could be improved"
Suppose you have a "non-trivial" enum like:

[code]

The DWARF looks like:

[code]

Then looking at the type of `One`, aka DIE 0xc0:

[code]

This is peculiar DWARF in a few ways.

First, this emits a separate structure type for each branch.  DWARF has a notion of a discriminated union that might be a closer fit semantically.  See `DW_TAG_variant_part`, `DW_AT_discr`, etc.  (gdb's DWARF reader doe

[2016-04-12 23:09] tsion commented on #32836
@nikomatsakis That example new to me. I guess I would have considered it a bug that that example compiles, given my previous experience.

But I'm not sure I see the relevance of that example. Why is what I said not true for `a = b` and only sometimes for 'a.x = b'?

Say, if `x.0` had a type with a destructor, surely that destructor is called:

[code]

[2016-04-12 23:13] tromey opened #32921 "DWARF doesn't record mut/const distinction"
Consider code like this:

[code]

Examining the DWARF for these, the types lose some information:

[code]

Something here should be marked `DW_TAG_const_type`.

[2016-04-12 23:13] tromey commented on #32921
Sorry, I meant `DW_TAG_const_type`.

[2016-04-12 23:19] rkitover commented on #32917
Yup, the way stow works is it links everything into place in prefix as necessary, as files when the dir exists, and as links to dirs when they don't, so I have:

[code]

[2016-04-13 00:04] jseyfried opened #32922 "Macro hygiene bug"
The following should print `1`, but it currently prints `0`:
[code]

For comparison, the following correctly prints `1`:
[code]

[2016-04-13 00:04] jseyfried commented on #32922
cc @nrc

[2016-04-13 00:11] jseyfried commented on #32922
Another example -- the following should print `1` but currently does not compile:
[code]

Either adding another pair of braces (as in my first example) or manually expanding the macro allows this example to compile.

[2016-04-13 01:05] sourcefrog commented on #32914
Thanks @TimNN, I see it is documented.  But the currently documented behavior is different from most other build tools.

@alexcrichton are you saying I should file in gcc-rs?

[2016-04-13 01:24] alexcrichton commented on #32914
@sourcefrog indeed!

[2016-04-13 01:29] alexcrichton commented on #32917
Hm could you try running with `RUST_LOG=rustc_metadata` and gist the output? That may have something which points to a culprit

[2016-04-13 01:43] caipre commented on #32902
I can take this one as well.

[2016-04-13 01:56] tromey opened #32924 "DWARF puts enum and union with same name into the same scope"
This is perhaps a bit of a gdb-specific bug.  The basic issue is that having multiple entities in the same scope with the same name but different DWARF tags makes it a pain for gdb to sensibly create its symbol table.

I see the issue with a number of constructs.  For this example, consider something like:

[code]

The DWARF gets an enum:

[code]

... but also a union:

[code]

It would be better

[2016-04-13 02:49] tromey opened #32925 "DWARF gets incorrect DW_AT_linkage_name for generics"
Consider a source file like:

[code]

When compiled with `rustc -g`, the generated DWARF has incorrect values for `DW_AT_linkage_name`.  These should agree with `nm` but do not:

[code]

[2016-04-13 02:55] Aatch commented on #32921
@tromey just FYI, you can edit your own comments/issues

[2016-04-13 04:10] durka opened #32927 "bad error message with type inference fail on Sized-requiring trait"
This code doesn't work and the error message is good:

[code]

[code]

This code doesn't work and the error message is bad:

[code]

[code]

The only difference is the `Sized` bound.

[2016-04-13 06:57] Aatch commented on #32887
So this is actually much harder than originally expected. Turns out the behaviour of "protected" visibility is complicated, and might run into GCC bugs. The specific problem I'm running into is this:

[code]

The creation of the function pointer is the problem.

There seems to be some weird behaviour going from an `rlib` to a `so` which is confusing something along the line.

Also, my research sug

[2016-04-13 07:51] oli-obk commented on #32842
No. We currently report const eval errors in a few locations, with differing criticality:

1. the const_err lint is triggered in the `check_const` pass on all constants and statics
2. the const_err lint is triggered in the `check_const` pass on division by zero for all expressions that can be constant evaluated
3. during trans, if a const eval error occurs outside a constant's expression, a warnin

[2016-04-13 08:20] #32797 closed

[2016-04-13 08:21] naktinis commented on #27787
How can we contribute to the discussion or at least keep track of the remaining issues?

[2016-04-13 08:51] deepak opened #32928 "Update Cargo.toml in getting-started doc"
I am learning rust and reading the book for the first time

in https://github.com/rust-lang/rust/blob/9094935b460975b6fac272ebf5985dfd71b90104/src/doc/book/getting-started.md#making-a-new-cargo-project-the-easy-way

the generated `Cargo.toml` has changed

slight difference is that it has a section called `[dependencies]`

should we specify the actual file ?

[2016-04-13 09:24] LeoTestard commented on #32911
Mhhh right, you've got a point. But I think a check for unused macro definitions would still be sufficient to catch all errorneours cases.

[2016-04-13 10:08] GuillaumeGomez commented on #32928
It should look like the generated `Cargo.toml` file. Want to open a PR to fix this?

[2016-04-13 10:20] TimNN opened #32930 "Bad / misleading error message with auto deref and mutable borrows of multiple fields"
Consider ([playpen](https://play.rust-lang.org/?gist=c948d8a0c4e8e0bc697231d743c4f4bd&version=stable&backtrace=0)):

[code]

Intuitively this should work since rust allows mutable borrows of disjoint fields however it does not because auto deref is involved.

The error message here is particularly bad / misleading for the `Box` case, in my opinion:

[code]

First found on [reddit](https://www.redd

[2016-04-13 10:24] deepak commented on #32928
@GuillaumeGomez absolutely. on it

[2016-04-13 10:27] TimNN commented on #32930
Related to #30104

[2016-04-13 10:39] deepak commented on #32928
@GuillaumeGomez submitted a small PR

[2016-04-13 11:04] bungcip opened #32933 "documentation: str::split_at_mut() example wrong"
it seem example in https://doc.rust-lang.org/std/primitive.str.html#method.split_at_mut
is duplicate of str::split_at() example

[2016-04-13 11:16] GuillaumeGomez commented on #32933
Indeed. Want to fix it?

[2016-04-13 12:45] deepak opened #32934 "the actual helpful docs for std::cmp is under std::cmp::Ordering"
rust noob here, looked up rustdoc for [std::cmp](https://doc.rust-lang.org/std/cmp/)
and realised that the meat of the docs and examples are under `std::cmp::Ordering`

should it be brought up from `std::cmp::Ordering` to `std::cmp` ?

[2016-04-13 13:05] GuillaumeGomez commented on #32934
`std::cmp` is a module whereas `std::cmp::Ordering` is an enum. It seems more logical to have specific examples on a type and more global ones (or just a global explanation) in the parent module.

[2016-04-13 13:17] bungcip commented on #32933
Sure, but I will need to clone & learn how to build rust from source tough. I hope my notebook is not too slow to compile it :).

[2016-04-13 13:21] bluss commented on #32933
Go ahead and fix. But for this small thing I would probably not build rust locally at all. Make sure the code compiles in a simpler environment, and then let the test builders take care of it?

[2016-04-13 13:25] GuillaumeGomez commented on #32933
Just like @bluss said, no need to build anything. Just modify the comment in the rustc source code and open a PR.

[2016-04-13 14:11] apasel422 commented on #27787
@naktinis A pre-RFC or general discussion thread on https://internals.rust-lang.org/ would probably work.

[2016-04-13 14:16] #31543 closed

[2016-04-13 14:19] rkitover commented on #32917
Had to rebuild rust with `--enable-debug-assertions --enable-llvm-assertions` as '#rust' told me to.

Running gmake for cargo git I get:

https://gist.github.com/rkitover/2a8550d6021b0aca9af03b4917d746f2

[2016-04-13 14:23] steveklabnik commented on #32934
part of https://github.com/rust-lang/rust/issues/29329

[2016-04-13 14:50] deepak opened #32936 "docs: add link for the next project in the guessing-game doc"
I am learning rust and reading the book for the first time

The [guessing-game](https://github.com/rust-lang/rust/blob/01d76099f261abe50342d9261fad618c5323274b/src/doc/book/guessing-game.md#complete) section mentions a "Next Project" at the very end

We can add a link to that project ?

[2016-04-13 15:06] GuillaumeGomez commented on #32936
It's referring to the next project showed in the book (so next section if I remember well). If @steveklabnik confirms, this issue can be closed.

[2016-04-13 15:13] steveklabnik commented on #32936
Actually, this sentence is vestigial from when we had the Dining Philosophers chapter. I would actually prefer to remove this sentence. Want to submit another PR? :D

[2016-04-13 15:41] deepak commented on #32936
@steveklabnik absolutely :-) on it

[2016-04-13 15:50] deepak commented on #32936
was interested in looking at the old [example](https://github.com/rust-lang/rust/blob/27a1834ce522e3ec7fe4726b1661de16ee30c503/src/doc/book/dining-philosophers.md).
pasted here for future people
was removed in https://github.com/rust-lang/rust/commit/0c6c34de87c899ecb8b977e7ef24510ab2a68168

[2016-04-13 16:02] durka commented on #32922
This is probably a special case of hygiene not really working at all in multi-statement macros, #31856.

[2016-04-13 16:09] deepak commented on #32936
@steveklabnik sent PR

[2016-04-13 16:28] istankovic commented on #20324
I can't reproduce this either with a recent nightly, rustc 1.9.0-nightly (924da295c 2016-04-10).
Probably should be closed, unless there is a source code example that demonstrates the issue.

[2016-04-13 16:31] KalitaAlexey opened #32938 "invalid suggestion for trait from extern crate if trait reexported"
[code]

Error in

[code]

It is defined in `plugin::Plugin` and reexported in `iron/lib.rs`:

[code]

https://github.com/iron/iron/blob/master/src/lib.rs#L95

The compiler says

[code]

Of course if I add `use iron::Pluggable` then the compiler says

[code]

Reproduced in

[code]

[code]

[2016-04-13 17:14] camlorn commented on #28356
These may be useful for debugging.  I don't have a concrete use case at the moment.  Somehow I've managed to avoid shared ownership thus far.
However, I could see it as potentially beneficial in the future if I had to track down a reference cycle or figure out why something isn't dying.  I do agree that the use in actual programs is less clear, but these are maybe worth having just so you can prin

[2016-04-13 17:16] ticki commented on #28356
@camlorn Cycle detection in debug mode could be awesome actually.

[2016-04-13 18:26] dotdash commented on #23252
Comparing the pretty printed names is not necessarily enough. if you use `extern crate foo` once at the top-level and once within `mod bar`, you'll get `expected foo::Type found bar::foo::Type`, which in some way is even more confusing, but regardless of that, should also have a hint, that it's the same crate but in different versions.

[2016-04-13 18:37] alexcrichton commented on #21230
This is essentially obsoleted by https://github.com/rust-lang/rust/pull/32731, so closing

[2016-04-13 18:37] #21230 closed

[2016-04-13 18:37] alexcrichton commented on #17166
We have debug assertions enabled on all bots now, so this is fixed I believe, so closing.

[2016-04-13 18:37] #17166 closed

[2016-04-13 18:39] alexcrichton commented on #14662
We've changed enough about our distribution that I don't believe this is relevant any more, so closing.

[2016-04-13 18:39] #14662 closed

[2016-04-13 18:39] alexcrichton commented on #30966
I believe this has since been fixed, so closing.

[2016-04-13 18:39] #30966 closed

[2016-04-13 20:50] dikaiosune opened #32943 "ICE with closure destructuring &str"
When using `.iter().all(|(&&_, &_) do_stuff())` on the current nightly (2016-04-11), I get ICE. Details below.

Somewhat reduced test case:

[code]

## Meta

I ran the above test case on playpen today, saw error on stable, beta, and nightly.

Backtrace:

[code]

[2016-04-13 20:52] alexcrichton commented on #32943
cc @oli-obk

[2016-04-13 20:53] alexcrichton commented on #32943
Looks like this isn't a regression though, so at least that's good!

[2016-04-13 21:19] alexcrichton commented on #32917
Hm unfortunately those logs don't look too useful :(. Ah well, can perhaps try to reproduce some time in the future

[2016-04-13 22:09] brson commented on #32717
Ignoring the panics seems an ok solution to me.

[2016-04-13 22:37] jethrogb commented on #24200
There's another problem similar to the @Diggsey describes that this would resolve. If crate CA implements a trait with an associated type for a type TB from crate CB, you can't find out the associated type from the docs. The normal way would be to look at the documentation for TB, but that is not necessarily included with the CA documentation.

[Example: `impl Num for f64` etc.](https://rust-num.g

[2016-04-13 22:50] pmarcelll commented on #32783
Based on @yohanesu75's comment, I examined the commits between the two nightlies, and the most suspicious was #32742. I've built a version of rustc based on e8ab71fa00f2264f4587ca536e93b909a9358e27 (right before the merge), compiled Redox succesfully, built another version based on 953c3b5f502437398711ca442be0a10ad575b667 (merge commit of #32742), with which I was able to reproduce the ICE.

cc @e

[2016-04-13 23:00] rkitover commented on #32917
If you want to reproduce this, first, install GNU stow, it's in pretty much all package managers, then, from your rust checkout:

[code]

When you want to remove the symlinks from /usr/local:

[code]

[2016-04-14 01:31] jseyfried commented on #32922
@durka indeed it is. That issue is also fixed by #32923.

[2016-04-14 01:32] jackpot51 commented on #32783
Very interesting. I am working to find the code in libstd that triggers it

[2016-04-14 01:33] durka commented on #32922
Amazing, thanks! (Should we check crater for breakage, though?)

[2016-04-14 01:36] euclio commented on #32374
I'd like to work on this. Is there some documentation somewhere on how to build/hack on `rustdoc`?

[2016-04-14 01:41] jseyfried commented on #32922
I think it's unlikely that there will be breakage, but it would probably be a good idea to check anyway, especially since silent changes in behavior are scary.

[2016-04-14 01:42] durka commented on #32922
Well crater doesn't catch those, so we just have to hope that nobody was actually using multi-statement macros...

[2016-04-14 01:49] jackpot51 commented on #32783
I found it, it is alloc_system.rs

Trying to find a fix, the file can be seen here: https://github.com/redox-os/redox/blob/master/libstd/src/alloc_system.rs

[2016-04-14 01:50] jseyfried commented on #32922
True, but if there's no breakage I think that's pretty strong evidence that there won't be any behavior changes since I would think breakage (either due to there not being a shadowing binding in the macro expansion or due to the shadowing binding being of the wrong type) would be much more likely than a behavior change (in which there would need to be a shadowing binding of the same type).

[2016-04-14 01:51] jseyfried commented on #32922
Also, does crater run tests?

[2016-04-14 01:52] bluss commented on #32922
Right, crater does not normally run tests. So macros not used/expanded in a crate somewhere are entirely unexercised by crater.

[2016-04-14 01:59] bluss commented on #32796
@tbu- That needs the same feature (`stmt_expr_attributes`) to compile

[2016-04-14 02:07] durka commented on #32922
Does it _build_ the tests? If not perhaps it builds bins, and we could "test" macro crates that way?

[2016-04-14 02:19] durka commented on #32922
It [seems](https://github.com/brson/taskcluster-crater/blob/3af8ffcacdad7e5c44b46f3b7bebf536c2a084d7/run-crater-task.sh#L105) that crater simply runs `cargo build`. As an experiment I just hacked up [this crate](https://github.com/durka/counted-array) so the integration tests are configured as no-op bins, such that `cargo build` fails if the tests fail to build. It's pretty ugly though and is obvi

[2016-04-14 03:21] camlorn commented on #28356
Agreed. I thought of it as well.  But this didn't seem like the place to suggest it and in truth that sounds like it would probably be very complicated and RFC-ish anyway.
Printing the counts in debug is admittedly much worse in terms of what we have, but having these as unstable and/or killing them feels like a step backward in this department.  Though perhaps only a small one.
Still, cycle detec

[2016-04-14 04:31] eddyb commented on #32783
@pmarcelll I see what the problem is. Writing the test is going to be the tricky part, I believe I need two `extern { fn ... }

[2016-04-14 05:37] pravic commented on #32818
Issue was fixed at #32823 and landed with 2016-04-12 nightly.

[2016-04-14 05:37] #32818 closed

[2016-04-14 05:38] pravic commented on #32818
Idk about testcases, may be they needed for this.

[2016-04-14 06:43] mitaa commented on #24200
I guess a src-link for ~~all-the-things~~ impls would help here too. (#12932)

[2016-04-14 07:39] #32842 closed

[2016-04-14 08:51] mitaa commented on #32374
I don't think so..

[code]

For writing rustdoc tests you need to look at [`src/etc/htmldocck.py`][0], which is run on the generated documentation, and [compiletest][1]  and its [flags][2] in general.
(using existing tests as guidance is always useful - i.e. rustdoc tests with auxiliary crates need to be marked `// ignore-cross-compile`)

[0]: https://github.com/rust-lang/rust/blob/cf81e1aba86bebb

[2016-04-14 09:09] jan-hudec commented on #30966
Yes, for nightly it compiles now.

The tests unfortunately don't run on Travis under qemu anyway, neither in the default container nor with `dist: trusty`. Most of the time they just print message `tcg fatal error` (with various source line) and lock up.

[2016-04-14 09:43] ruuda opened #32947 "Segmentation fault when transmuting simd vector temporary"
This is a pretty subtle interaction of several things that produces code which causes a segmentation fault:
- A struct with `#[repr(simd)]`.
- A struct with a member.
- A method on that struct.
- Transmuting the result of a method call.

[code]

Now `cargo test` crashes with a segmentation fault. (The test program that is, not Cargo.) `cargo test --release` runs fine. It could be that this is work

[2016-04-14 11:11] arielb1 commented on #32836
Maybe just lint against that kind of write?

[2016-04-14 11:32] RalfJung commented on #32330
I see. This is an interesting example, thanks.
Yes, that does look like the interaction with specialization could become *very* subtle.

[2016-04-14 11:41] arielb1 commented on #32330
@RalfJung

You should insert backticks when you quote them, otherwise your quote is unreadable (I added them for you above).

[2016-04-14 11:56] Kha opened #32948 "Symbol names for monomorphized trait impls are not stable across crates"
In the spirit of #32554:

crate `A`:
[code]

crate `B`:
[code]

`A.ll`:
[code]

`B.ll`:
[code]

IOW, `A` uses the encoding of `<Bar as Foo>::foo`, while `B` uses `<A::Bar as A::Foo>::foo`. The issue seems to be that while symbol names correctly use `ctxt::absolute_item_path_str`, that function indirectly calls `ctxt::item_path_str` via e.g. `TraitRef`'s `Display` implementation.

cc @nikomatsakis

[2016-04-14 12:29] eddyb opened #32949 "MIR always initializes variables with them in (debuginfo) scope."
That is, given `let x = expr;`, MIR will produce the same code as `let x; x = expr;` (modulo borrows).
When breaking inside `expr` in a debugger, `x` will be in scope, uninitialized.
It can be really annoying when dealing with shadowing or arguments.
For example, if you break on the call in `let x = ...; let x = f(x);` and try to print `x`, you will get the second `x`, which is uninitialized at th

[2016-04-14 12:30] eddyb commented on #31005
Filed #32949 for uninitialized variables always being in scope during their initialization.

[2016-04-14 13:18] spelufo opened #32950 "'rustc' panicked at 'visit_mac disabled by default'"
[code]

I accidentally used `vec![T]` as a type instead of `Vec<T>`, and got an `error: internal compiler error: unexpected panic`. Without the `#[derive(Debug)]`, rustc gives this error:

[code]

but with it it panics.

## Meta

[code]

[code]

[2016-04-14 14:02] nikomatsakis commented on #32948
I think that calling `absolute_item_path_str` is wrong. That method is intended for user output (as the comment says).

[2016-04-14 14:04] nikomatsakis commented on #32948
If you look in `back::symbol_names`, you will see the `SymbolPathBuffer`, which is what we ought to be using. Not sure how we wind up using the wrong thing exactly though.

[2016-04-14 14:04] michaelwoerister commented on #32949
This might be interesting here: https://github.com/rust-lang/rust/blob/c9f15013e0edc80989bf40b358bcefee14be5050/src/librustc_trans/debuginfo/create_scope_map.rs#L246

How would I best be able to take a look at what the scoping structure of a function looks like (i.e. what expression is assigned to what scope)?

[2016-04-14 14:07] eddyb commented on #32949
@michaelwoerister MIR scopes? `rustc --unpretty=mir -Z unstable-options` on master should print scope IDs for all variables, statements and terminators.

[2016-04-14 14:09] michaelwoerister commented on #32949
@eddyb Thanks! I'll take a look.

[2016-04-14 14:18] michaelwoerister commented on #32948
@Kha Good catch.
@nikomatsakis The problem is here:
https://github.com/rust-lang/rust/blob/c9f15013e0edc80989bf40b358bcefee14be5050/src/librustc/ty/item_path.rs#L221

[2016-04-14 14:30] eddyb commented on #32790
Not entirely certain that using the arm body's scope, like in #32952, would play nice with MIR borrowck.
It might just be a matter of adjusting the assignments from `bind_matched_candidate` to be in the same scope as the variables being bound, instead of in the `match` scope.
cc @nikomatsakis

[2016-04-14 14:31] derekstraka opened #32953 "Default hashmap implementation can cause processes to block"
When the /dev/urandom pool has not yet been initialized, the use of the default HashMap can cause a process to block.  The behavior is problematic when a program is started by an initscript and is not intended to run in the background.  The process will block until the urandom pool is initialized which on some embedded systems may be several minutes.

A concrete example of the issue in BurntSushi/

[2016-04-14 14:31] derekstraka commented on #32953
Should the crates use a non-default hasher or should the default implementation not block when the random pool isn't initialized?

[2016-04-14 14:41] cardoe commented on #32953
/cc @BurntSushi

[2016-04-14 14:56] BurntSushi commented on #32953
cc @rust-lang/libs

[2016-04-14 15:22] caipre commented on #32890
I'll take a look at this.

[2016-04-14 15:34] danlrobertson opened #32954 "gdb crashes when printing a vector before it is defined"
When debugging something like the following with `rust-gdb`

[code]

And doing something silly like the following

[code]

`gdb` freezes and will eventually be killed (on another of my machines a Python Exception is raised). This didn't occur with primitives (`integer`, `slice`, `&str`), but Python Exceptions were raised with `Option`, `String`, etc., but `Vec` was the only one that caused `gdb` t

[2016-04-14 15:39] durka commented on #32950
Moreover, even with `#![feature(type_macros)]` enabled, you can't use type macros with deriving: http://is.gd/RcacUK

cc #27245

[2016-04-14 16:12] kindlychung opened #32955 "trait object example doesn't compile"
Code from the book:

[code]

Error:

[code]

Apparently something has to be filled in. A beginner would have no idea what should go in there.

[2016-04-14 16:44] xosmig commented on #32526
Hello. I think, it's better to add the `extend_from_slice` method first and call it from the `append` method. I'd like to perform it.

[2016-04-14 16:49] alexcrichton opened #32957 "include! does not expand derive behind #[cfg_attr]"
For example.this does not compile:

[code]

Compiled with `rustc --cfg foo foo.rs` this will fail with `A` not implementing `Clone`.

[2016-04-14 16:57] durka commented on #32957
dupe #22250?

[2016-04-14 16:59] alexcrichton commented on #32957
Probably, yeah.

[2016-04-14 16:59] #32957 closed

[2016-04-14 16:59] durka commented on #32955
I think the book should just make clear that this example isn't intended to be run, just to give a general idea how the compiler is representing things.

[2016-04-14 17:03] michaelwoerister commented on #32949
r? @michaelwoerister
I'll review this if nobody minds.

[2016-04-14 17:43] anka-213 opened #32958 "pretty printer ICEs on large expressions: assertion failed: (self.right != self.left)"
(This is repost of  #17406.)
Consider the following code:

[code]

Output with `-Z unstable-options --pretty normal`:

[code]

[code]

[2016-04-14 17:52] anka-213 commented on #32958
Another example (which I assume is the same issue):

[code]

From trying it on the [playground](https://play.rust-lang.org/?gist=6222653478fe653f7e8d06eb45c95597&version=nightly&backtrace=2) (nightly) I get the following output:

[code]

[2016-04-14 17:54] steveklabnik commented on #32955
Yes, I thought that was the case, but if someone has ideas on how to make it more clear, we should

[2016-04-14 18:15] caipre commented on #22290
I'm also annoyed by this. Is this an intentional restriction?

[2016-04-14 18:42] alexcrichton opened #32959 "[MIR] broken MIR (bad assignment) for non-returning closure"
This code:

[code]

Will yield this warning:

[code]

[2016-04-14 19:02] apasel422 commented on #32526
@xosmig Cool. Feel free to submit a PR!

[2016-04-14 19:16] taralx opened #32961 "Duplicate lang items from external sources results in panic"
If we get duplicate lang items from external crates, we crash at https://github.com/rust-lang/rust/blob/073a09fd63c9b4ec3bb4709986a2517ca4c3cdf1/src/librustc/middle/lang_items.rs#L193 because we don't have a local span for the duplicate.

[2016-04-14 19:23] arielb1 opened #32963 "The trait object Foo+Copy implements the trait Copy"
`select` considers the trait object type `Foo+Copy` to implement the trait `Copy`, and therefore its supertraits `Clone` and `Sized`. This is totally bogus, as the trait object type is *not* Sized.

For example:
[code]

This obviously should not compile, but it does (and prints 16, because of the `size_of` unsized hack).

[2016-04-14 19:23] arielb1 commented on #32963
cc @nikomatsakis

[2016-04-14 19:51] ProgVal opened #32965 "thread 'rustc' panicked at 'index out of bounds: the len is 42 but the index is 44', src/libcollections/vec.rs:1166"
[code]

Rustc version: compiled just now.

It would take me some time to reduce the size of that code to allow you to reproduce the bug, please tell me if this is necessary.
(Note: A previous version of that code caused the typechecker to go to an infinite loop (reading /dev/urandom), but an update of Rustc fixed it)

[2016-04-14 19:55] tgroshon commented on #32867
I tried to do the same thing today and am seeing this exact same error message.

[2016-04-14 20:05] ProgVal commented on #32965
Actually, I managed to reproduce it with a small code:

[code]

[2016-04-14 20:17] pcwalton opened #32966 "Do move forwarding on MIR"
It'd be cool to rewrite chains of the form "a moves to b, b moves to c" to "a moves to c".

[2016-04-14 20:18] brson opened #32967 "Current atomics are not defined to be lock-free"
Right now we define things like `AtomicPtr` unconditionally. On platforms without real atomics these get lowered to locks today. People write lock-free algorithms with these atomics that are not actually guaranteed to be lock free.

For comparison, I'm told (by @sunfish) that C++ _does_ try to guarantee that atomics are lock-free.

cc https://github.com/rust-lang/rfcs/pull/1543

[2016-04-14 20:34] nagisa commented on #32959
This happens because we construct MIR for the 2nd closure as if `foo` closure was converging. That’s trivially wrong. I’m looking into fixing this.

[2016-04-14 20:39] taralx opened #32969 "Backtraces in windows are not useful"
When debugging a stage1 panic on a rustbuild on windows, I get this backtrace:

[code]

Not useful. :(

[2016-04-14 20:41] nagisa commented on #32959
Okay, so:

1. You cannot have `!` as an associated type;
2. [Fn](http://doc.rust-lang.org/stable/std/ops/trait.Fn.html) has Self::Output as return type for closures;
3. MIR uses `<[closure@test.rs:4:15: 6:6] as core::ops::Fn<()>>::call(tmp1, tmp3)` to call the offending closure in question.

[2016-04-14 20:44] jmesmon commented on #32967
`C++` (and `C11`) makes no guarantee of it's atomics being lock-free. Only `atomic_flag` is guaranteed to be lock free. All other `atomic<T>` variants are allowed to be implemented by locks.

Previous discussion around this can be seen in https://github.com/rust-lang/rfcs/pull/1505

[2016-04-14 20:51] taralx commented on #28260
I have indications that GCC 5.3 also works, but I didn't have time to fully test. If someone has a windows box and wants to try it... :)

[2016-04-14 21:00] petrochenkov commented on #28260
@taralx
5.3 doesn't work, but this segfault happens only when LLVM assertions are enabled, maybe you tested without them?

[2016-04-14 21:01] taralx commented on #28260
I did indeed test without them. Thanks for the heads up.

[2016-04-14 21:30] jonas-schievink opened #32971 ""Duplicate method" error should point to previous definition"
(same goes for "duplicate associated function" and similar errors)

I was playing around with macro-generated methods, and stumbled upon a bad diagnostic:

[code]
[gives](http://is.gd/QcZ2mk):
[code]

Rustc should print a `note: previous definition here` and include the name of the method in the diagnostic (since both could be defined by macros, in which case the name will not be obvious).

[2016-04-14 21:34] michaelwoerister commented on #32949
@eddyb This looks rather suspicious to me:
https://github.com/rust-lang/rust/blob/8b0937293bdb70ab4a5efed02b90a71af2b234f6/src/librustc_mir/build/block.rs#L55
At least from a visibility point of view, the init-scope should not be nested within the remainder-scope.

[2016-04-14 21:38] eddyb commented on #32949
@michaelwoerister that nesting is necessary for MIR borrowck AFAICT - if a variable is not in scope, you can't actually initialize it, since it doesn't exist.

[2016-04-14 21:49] retep998 commented on #32969
Did you remember to enable debuginfo?

[2016-04-14 21:52] taralx commented on #32969
Does --enable-debug not do that? Maybe it should by default?

[2016-04-14 21:52] taralx commented on #32969
Or maybe we could always include debuginfo. How expensive is it?

[2016-04-14 21:54] taralx commented on #32969
In the worst case, we should not advise people to enable backtrace when they won't produce useful results.

[2016-04-14 21:55] michaelwoerister commented on #32949
Hm, then I'm inclined to suggest that we do not re-use these scopes for debuginfo and instead build an additional *visibility* scope tree, as not to conflate two things that are not really the same.

[2016-04-14 22:14] retep998 commented on #32969
I'm personally in favor of always having debug info by default and having to opt out if you really don't want it. That's the approach VC++ takes, with release builds having full debug info by default.

I'm not sure what the exact state of backtraces is on Windows. For -msvc PDB files are always emitted and when debuginfo is enabled backtraces work perfectly, when debuginfo is disabled the PDB won'

[2016-04-14 22:20] LeoTestard commented on #22290
I don't think so. Not super easy to change though, given the current implementation.

[2016-04-14 22:21] alexcrichton commented on #32953
Interesting! One possible thing we could do is make the default hashing algorithm configurable, but that also seems pretty unfortunate in terms of how it may be implemented.

Another possibility would be to build on a strategy like https://github.com/rust-lang/rust/pull/31356 except also provide a function to manually seed a thread. That way in cases like this a thread could be manually seeded and

[2016-04-14 22:24] taralx commented on #32969
Well, I'm using ./configure --enable-rustbuild --enable-debug for what that's worth.

[2016-04-14 22:35] retep998 commented on #32969
Are you building `i686-pc-windows-gnu` or `x86_64-pc-windows-gnu`?

cc @vadimcn  @Diggsey

[2016-04-14 22:44] taralx commented on #32969
mingw-w64, so x86_64-pc-windows-gnu.

[2016-04-14 23:11] retep998 commented on #32969
The w64 bit in mingw-w64 is actually unrelated to the architecture. There are both 32 and 64 bit versions of mingw-w64.

[2016-04-14 23:14] jethrogb opened #32974 "default impl not showing up in rustdoc"
For example, we have [ToString](https://doc.rust-lang.org/stable/src/collections/up/src/libcollections/string.rs.html#1739-1749):
[code]
This shows up fine in stable: https://doc.rust-lang.org/stable/std/string/trait.ToString.html

However, starting in beta, we have a [specializable version](https://doc.rust-lang.org/beta/src/collections/up/src/libcollections/string.rs.html#1756-1766):
[code]
Whic

[2016-04-14 23:15] tbu- opened #32975 "Release note PR link incorrect (suggest enum variants for non-exhaustive match patterns)"
In [RELEASES.md](https://github.com/rust-lang/rust/blob/db2939409db26ab4904372c82492cd3488e4c44e/RELEASES.md#misc) we can find "Errors for non-exhaustive `match` patterns now list up to 3 missing variants while also indicating the total number of missing variants if more than 3.", but it links to #31534 which is about something different. I can't find the actual PR, if someone finds it, I could su

[2016-04-14 23:20] taralx commented on #32969
Was 64-bit.

[2016-04-14 23:54] alexcrichton opened #32976 "Tracking issue for #[cfg(target_has_atomic = ...)]"
Tracking https://github.com/rust-lang/rfcs/pull/1543

[2016-04-14 23:59] alexcrichton commented on #32717
This was discussed at libs triage and the decision was that this is indeed an inconsistency we'd like to fix and the window for fixing still seems open as the code this would break seems almost too niche to exist. I've [submitted a PR](https://github.com/rust-lang/rust/pull/32977) for this.

[2016-04-15 00:34] brson opened #32978 "set_current_dir fails silently when passed "C:""
This does not print "C:"

[code]

[2016-04-15 00:37] rosscanning commented on #32458
This is fixed in 1.8 stable.

[2016-04-15 00:37] #32458 closed

[2016-04-15 00:38] scharris opened #32979 "LLVM error at optim level 3 (Windows and Linux 64 bit)"
Rust 1.7 and 1.8, Windows and Linux 64 bit

At optimization level 3, build of example project (1) is exiting with an LLVM error:

cargo build --release

(1) https://gitlab.com/scharris/rust-compiler-error.git

At level 2, compilation completes normally.

[2016-04-15 00:42] scharris commented on #32979
PS: I apologize for the large size of the example, I did spend quite some time cutting it down to this size.  Cutting more tends to make the problem go away.

[2016-04-15 00:58] retep998 commented on #32978
That is because `C:` is not an absolute path, but rather a relative path. When using a drive relative path such as `C:` it joins your relative path with the current directory for that drive to get the new current directory. Note that win32 does not allow you to set the drive specific current directories using `SetCurrentDirectory`. When the drive relative path does not match the current drive it p

[2016-04-15 01:00] brson commented on #32967
@jmesmon Ah, you are right. There is an [api](http://www.cplusplus.com/reference/atomic/atomic_is_lock_free/) for asking whether atomics are lock free.

[2016-04-15 01:14] jonhoo opened #32981 "test harness does not give file name for panics in macros"
**Description**:
If a test case fails with a panic inside of a macro invocation, the test file name is not included in the stack trace. Originally reported as rust-lang/cargo#2581, but moved here at the request of the maintainers there.

**Steps to reproduce**:

[code]

**Actual output**:

[code]

Notice that backtrace segment number 11 says that the error occurred in `/tmp/<std macros>:7`.

**Exp

[2016-04-15 01:15] #32809 closed

[2016-04-15 01:15] #32936 closed

[2016-04-15 01:52] Evil-Bot-Craython opened #32982 "Genuine issue ignored by some minor functionary"
So I reported an issue with the cargo website here:

https://github.com/rust-lang/crates.io/issues/312

Then some clown comes in and closes without a hint of a comment, then locks me out.

One can only hope fools like that are not allowed to touch serious code in this repo, never mind the website!

[2016-04-15 01:54] apasel422 commented on #32974
Is this related to #32841 and #29503?

[2016-04-15 02:05] cardoe commented on #32953
So I believe the the reason that Rust uses SipHash is to avoid the denial of service attack against many hash table implementations since SipHash was designed to be resistant against it given a good seed. However that's really for unbounded data. My understanding is that if the data set is bounded a "weaker" hasher is not dangerous to a DoS. Obviously a second opinion is very welcome here.

In tha

[2016-04-15 02:13] nrc commented on #32911
Given that macros are order-dependent (and thus the current situation is at least a little bit sensible) and that this would be a breaking change, I'm not desperate to see it fixed.

[2016-04-15 02:27] niconii commented on #32982
**Moderator note**:

One could easily mistake an issue with the words "Fuck Rust" in the title as being written by a troll. While this may not have been the case, your hostile response to the issue being closed did not help matters, with you directly insulting the person who closed it, and further doing so in this issue here.

I'd like to direct you to the [Code of Conduct](https://www.rust-lang.o

[2016-04-15 03:03] briansmith commented on #31063
I have been doing this with *ring* and *ring*-based projects for many months.

[2016-04-15 03:26] jethrogb commented on #32974
Definitely a dupe of #32841, which I didn't find because it was unlabeled. Not sure if either of these is actually a dupe of #29503.

[2016-04-15 03:34] jethrogb commented on #32974
Not due to specialization, actually a regression, see e.g. https://doc.rust-lang.org/stable/std/any/trait.Any.html vs https://doc.rust-lang.org/nightly/std/any/trait.Any.html which does not use specialization.

[2016-04-15 03:34] #32974 closed

[2016-04-15 03:35] jethrogb commented on #29503
The regression is not due to specialization, see e.g. https://doc.rust-lang.org/stable/std/any/trait.Any.html vs https://doc.rust-lang.org/nightly/std/any/trait.Any.html which does not use specialization.

[2016-04-15 03:57] retep998 commented on #32982
To answer your original issue, crates.io performs searches based on the description in the `Cargo.toml` and also in the readme specified. If you look at the [readme for that crate](https://github.com/TeXitoi/rust-mdo/blob/master/README.md) you'll notice it spells out the name of the WTFPL license, hence that is how crates.io finds it via the word "fuck". The word "Rust" also occurs in the descript

[2016-04-15 04:04] mitchmindtree opened #32983 "Broken MIR - call dest mismatch (warning appeared after updating to 1.8 stable)"
When compiling the conrod examples after updating to 1.8 stable, the following `Broken MIR` warning has been appearing:

[code]

[Here is the code](https://github.com/PistonDevelopers/conrod/blob/master/examples/all_widgets.rs#L145) from the conrod example that causes the warning.

The same warning also appears in each of the other conrod examples at the same line (i.e. [here](https://github.com/P

[2016-04-15 04:27] saghm opened #32984 "Unable to use `syntax` crate on FreeBSD with nightly"
When I try to compile a simple program using the syntax crate on FreeBSD, it seems to be unable to find the `syntax` library:

[code]

I first got the error when trying to compile `docopt_macros`, but from the above test it seems clear that the issue is not in the crate itself.

I'm currently running nightly-2016-04-13 (installed from the newly-avaliable multirust toolchain for FreeBSD). In case i

[2016-04-15 06:47] Aatch commented on #32983
Looks like the associated type isn't getting normalized. Given that it "expects" an associated type.

[2016-04-15 06:49] cryon commented on #32442
This is still an issue with release 1.8.

[2016-04-15 07:11] oli-obk commented on #32943
smaller test-case: `let (&&_, &_) = (&"a", &true);`

[2016-04-15 08:08] arielb1 commented on #32943
duplicate of #30240. I am working on a fix.

[2016-04-15 08:08] #32943 closed

[2016-04-15 08:43] palazzo-train commented on #32859
I got the same problem but i resolve it now. It seems the `lib/rustlib/i686-pc-windows-gnu/lib` from multirust is not the good one.

If I download the native windows package `http://static.rust-lang.org/dist/2016-04-13/rust-nightly-i686-pc-windows-gnu.exe`, (for rustc 1.9.0-nightly (2b6020723 2016-04-13)) and install in windows, I get the  `lib\rustlib\i686-pc-windows-gnu\lib` there.

You can find

[2016-04-15 08:47] alopatindev opened #32986 "Android/ARM: opt-level = 3 produces "LLVM ERROR: Constant Island pass failed to converge" on GNU/Linux"
Building `servo` (7bd2381) for Android (`./mach build --verbose --release --android`) fails when compiling `servo/.cargo/registry/src/github.com-88ac128001ac3a9a/cssparser-0.5.5/src/lib.rs`

Environment: GNU/Linux, android-ndk-11c

[code]

Building output:

[code]

This issue doesn't reproduce with `opt-level = 2`

Also this issue doesn't reproduce when building for x86_64 (`./mach build --verbose

[2016-04-15 09:29] nikomatsakis commented on #32963
@arielb1 indeed.

[2016-04-15 09:29] nikomatsakis commented on #32963
triage: P-high

[2016-04-15 09:33] TimNN commented on #32965
On stable an Error is emitted before the ice:

[code]

[2016-04-15 09:36] Amanieu commented on #32967
The plan with rust-lang/rfcs#1543 is to only expose atomic types which are guaranteed to be lock-free. Non-lock free atomic types can then be built on top of those, like I did in the [atomic-rs](https://github.com/Amanieu/atomic-rs) library.

[2016-04-15 09:36] TimNN commented on #32965
Looks like a dupe of #31964.

[2016-04-15 09:47] TimNN commented on #31964
Even smaller test case:

[code]

[2016-04-15 10:57] BurntSushi commented on #32982
I'd like to echo this. Otherwise, this issue doesn't belong here.

[2016-04-15 10:57] #32982 closed

[2016-04-15 12:55] bluss commented on #32953
like @derekstraka points out, getrandom can tell you when it would block, so libstd could detect that and fall back to a different seed but it will inevitably be a weaker random key for the hash function then.

[2016-04-15 13:29] cardoe commented on #32953
Right. That would have to get exposed via the `rand` crate which currently has no mechanism to do so. `OsRng` just wires up to the best implementation available.

[2016-04-15 13:40] BurntSushi commented on #32953
What should we do in the mean time? Does it make sense to start moving away from the default sip hasher in crates like regex? (i.e., preferring either fnv or BTreeMap?)

[2016-04-15 13:52] bluss commented on #32953
@cardoe the relevant code is actually in this source tree, see [libstd/sys/unix/rand.rs](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/rand.rs)

[2016-04-15 15:11] jcreekmore commented on #32953
So, I would suggest migrating to something like FNV for crates that _really_ don't need the DoS resiliency that SipHash provides (such as the `regex` crate). Extending SipHash (and ultimately `rand`) to allow using a weaker seed value would still require migrating the other crates to using this extended SipHash mode so you have additional changes for very little benefit.

The biggest issue is how

[2016-04-15 15:19] cardoe commented on #32953
So I'll say that I checked systemd which is obviously used at early boot and their hash implementation uses SipHash and they also use `getrandom()` to seed it like Rust does. But they call `getrandom()` with the non-block flag set which avoids the problem.

[2016-04-15 15:45] bluss commented on #32953
@cardo you left out what they do if the getrandom call errors, that's the solution part :wink:

systemd's code [is here](https://github.com/systemd/systemd/blob/09541e49ebd17b41482e447dd8194942f39788c0/src/basic/random-util.c#L44-L84)

So this was news to me, that on a system where getrandom may block since there is not yet enough "entropy", a read to urandom will still succeed and not block. I do

[2016-04-15 15:59] alexcrichton commented on #32965
Indeed!

[2016-04-15 15:59] #32965 closed

[2016-04-15 16:19] jonathandturner opened #32992 "Detect homebrew python and fail"
Currently, in OS X, if we find homebrew python we'll use it instead of the system python.  Unfortunately, this seems to conflict with the lldb python module.

We don't warn the users that this is the case, and instead happily configure homebrew and promptly crash when the user tries to run any of the debuginfo-lldb tests.  We should instead warn the user to not use python from homebrew but instead

[2016-04-15 16:25] froydnj opened #32993 "liballoc_system's unix __rust_reallocate doesn't handle allocation failures for over-aligned types"
The Unix implementation of `__rust_reallocate` in `liballoc_system` boils down to:

[code]

The `else` branch of the conditional doesn't properly handle the case where `allocate` fails.  For comparison's sake, the Windows implementation says:

[code]

[2016-04-15 16:26] jonathandturner opened #32994 "debuginfo-lldb tests crash in OS X 10.11 / Xcode 7.3"
With a recent OS X/Xcode (here I'm using OS X 10.11.4 and Xcode 7.3), running the debuginfo-lldb tests results in a crash, even when using the system python install.

The crash pops up a window with an error: **Python quit unexpectedly while using the _lldb.so plug-in.**

[code]

[2016-04-15 16:26] alexcrichton commented on #32859
Hm that may actually be because the `rust-*` package is an assembly of a bunch of components, namely the `rust-mingw` components. I think that `rust-mingw` actually has the right set of libraries, so now that you mention it that should work!

So basically if you install both the `rust-std` and `rust-mingw` package then cross-compilation should work out of the box (I think).

cc @brson, seems... an

[2016-04-15 16:28] cardoe commented on #32953
Right my point is they seed their hasher in a best effort case by getting the best possible data they can get in a non-blocking fashion by using a fallback. I didn't expand on how they did it.

I don't think @jcreekmore advocated changing all crates to FNV. He's advocating giving crates the option to change to FNV if they know their dataset is bounded and therefore they know they aren't vulnerable

[2016-04-15 16:29] japaric commented on #32984
I'm seeing the same on host=armv7-unknown-linux-gnueabihf (installed via rustup). But I think this is expected because there is no libsyntax.rlib in the .multirust directory.

cc @alexcrichton

[2016-04-15 16:30] bluss commented on #32953
Using fnv with HashMap is a stable feature since Rust 1.7!

[2016-04-15 16:30] alexcrichton commented on #32992
Specifically, the error here (that I'm getting at least) is:

[code]

(the major part being `Fatal Python error: PyThreadState_Get: no current thread`)

I personally have no idea what that error means, but I suspect it's because we're using a *compiled plugin* for lldb which only works against one version of python (presumably) and that version of python is likely the OSX system python.

We should

[2016-04-15 16:33] jonathandturner commented on #32992
I also tried installing the 'six' package manually, and still was unable to get past the crash with homebrew python.

[2016-04-15 16:33] bluss opened #32995 "`usize()` is parsed as the type `usize`"
This compiles, but it seems it should not:

[code]

[2016-04-15 16:34] alexcrichton commented on #32994
I was also getting this recently, and I have no idea what's going on here unfortunately. We haven't gotten lots of reports about this so presumably it's only because of recent versions of XCode/OSX/python/etc.

I managed to reduce this to:

[code]

That small script crashes for me, albeit I'm not sure why. @michaelwoerister perhaps the LLDB API changed recently and we're doing something to trigger

[2016-04-15 16:39] bluss commented on #32995
@ubsan pointed out that the origin is the Trait() syntax (for the no type parameters case).

[2016-04-15 16:40] petrochenkov commented on #32995
This is syntactically correct (think about `let a: Fn()`), but the sanity check "parenthesized parameters may only be used with a trait" is missing for primitive types.

[2016-04-15 16:46] ubsan commented on #32995
This is equivalent to `let x: usize<> = 1`.

[2016-04-15 16:54] japaric opened #32996 "using `extern crate syntax` produces a binary dynamically linked to libstd.so that fails with "cannot open shared object file" when executed"
### STR

[code]

I was sort of expecting the compilation to fail because there is no `libsyntax.rlib` in `~/.multirust` and `rustc` produces binaries statically linked to all the Rust bits. But perhaps `syntax` is special because of syntax extensions?

### Meta

[code]

cc @alexcrichton

[2016-04-15 16:57] japaric commented on #32996
Just in case, the output of `rustc -Z print-link-args`:

[code]

[2016-04-15 17:04] alexcrichton commented on #32993
Oh dear, seems bad!

Out of curiosity, was this discovered from reading or from a bug? We could consider a backport to beta if that's necessary

[2016-04-15 17:11] alexcrichton commented on #32986
I believe this was initially reported as https://github.com/servo/servo/issues/10517 and @eddyb [started diagnosis](https://github.com/servo/servo/issues/10517#issuecomment-208312003) [to conclude](https://github.com/servo/servo/issues/10517#issuecomment-208376119) that [the fix is upstream](https://llvm.org/bugs/show_bug.cgi?id=25339).

We should be able to just [backport this](https://github.com

[2016-04-15 17:12] froydnj commented on #32993
This was discovered when reading through `liballoc*` to write a custom memory allocator for Firefox.  I suspect it's hard to make it trigger due to overcommit policies and the general lack of usage of over-aligned types.

[2016-04-15 17:14] nagisa commented on #32983
Smaller example:

[code]

[2016-04-15 17:18] nagisa opened #32998 "Struct is never used lint fires despite it being used to define type alias"
In following code

[code]

A warning for `C` not getting used fires, despite it getting used to define type-alias of `U`.

(not that I disagree, that equivalent code could be written in a simpler way, but the warning is trivially incorrect)

[2016-04-15 17:36] BurntSushi commented on #32953
Yeah, I feel like I could be convinced to go tweak this to get past the bad behavior for now, but I feel like "don't use `std::collections::HashMap` if you don't want your program to block for some unspecified amount of time" is not a particularly nice thing. I think that means I'm sympathetic to @bluss's idea, but that also feels like a pretty big change that warrants more visibility.

[2016-04-15 18:21] alexcrichton commented on #32979
Looks like this is related to LTO but not related to Windows (I've reproduced on Linux). Bugs like this are typically in upstream LLVM as well, so it likely points to something there that needs fixing (but not always!).

I managed to reduce it to:

[code]

Which when compiled as:

[code]

will generate:

[code]

Note that LLVM assertions are only enabled on nightly, so you may get a different erro

[2016-04-15 18:22] jonathandturner opened #33000 "Add UI testing to compiler test suite"
Currently, we don't have a way to easily test that errors have proper formatting.  This means we could potentially have regressions in terms of readability that we don't immediately catch.  It also means that possibly future improvements, like #32756, don't have a way to thoroughly catch where tweaks to formatting one one kind of error impact other errors in unintended ways.

A possible additional

[2016-04-15 18:27] michaelwoerister commented on #32992
We could also adapt `compiletest` to always use `/usr/bin/python` for the LLDB debuginfo tests? I'll look into it. Maybe LLDB even comes with its own Python version that we can fall back on.

[2016-04-15 18:28] jfranty opened #33001 "thread 'rustc' has overflowed its stack with lalrpop-generated grammar"
I've been playing around the lalrpop crate, https://github.com/nikomatsakis/lalrpop, for a little bit, and started hitting a stack overflow with rustc. I unfortunately don't have a good isolated test case that I can share.

`cargo run` fails with the following:

[code]

Here are the top and bottom of the stack:

[code]

[code]

I've hit this with both rust 1.7 and 1.8, and on both my Mac 10.9.5 la

[2016-04-15 18:30] alexcrichton commented on #32992
Yeah that may not be a bad idea to just hardcode that for OSX. https://github.com/rust-lang/rust/issues/32994 worries me though and indicates that even that may be wrong, although it could also just be a problem with our script. If LLDB has its own Python version then we should probably definitely be using that!

[2016-04-15 18:33] alexcrichton commented on #32996
Ah yeah this is expected behavior. There's a [nice big comment](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/dependency_format.rs#L11) in `dependency_format.rs` explaining this, but the gist is that if you link to libsyntax then the following happens:

* The compiler determines that libsyntax is only available as a dylib
* The compiler determines that this dylib is dynamically

[2016-04-15 18:34] #32996 closed

[2016-04-15 18:35] michaelwoerister commented on #32994
I mostly pieced it together from the [examples](https://github.com/llvm-mirror/lldb/tree/master/examples/python) provided in LLDB's source code and from the [API Docs](http://lldb.llvm.org/python_reference/index.html) (although those never get updated it seems: "Generated by Epydoc 3.0.1 on Fri Jul 19 13:22:33 2013").

[2016-04-15 18:36] alexcrichton commented on #32984
Oh man, first off thanks for testing FreeBSD :). Second, thanks for the report!

Third, gah this is a rustbuild bug. It turns out that the rust-std package is actually "all target libraries" in the sense that it's more than just libstd, it's every target library we have available for that platform. Consequently, rustbuild needs to package librustc target libs into the rust-std package if the targe

[2016-04-15 18:42] Stebalien commented on #31844
Note from https://github.com/rust-lang/rust/pull/32999/files/2c6d008246336964926d2fa2b518e019a33e40ee#r59909691: if we do go with the lattice rule (or allow negative constraints), the "use an intermediate trait" trick to prevent further specialization of something will no longer work.

[2016-04-15 18:47] alexcrichton commented on #32953
Oh wow, thanks for [the tip](https://github.com/rust-lang/rust/issues/32953#issuecomment-210502302) @cardoe, and [the code](https://github.com/rust-lang/rust/issues/32953#issuecomment-210513256) @bluss. Sounds like we should just implement that strategy in the standard library for now? I agree that we shouldn't stop recommending `HashMap` as a result of this, we need to figure out a solution!

@jc

[2016-04-15 19:09] japaric commented on #32996
Thanks for the explanation. I have two further questions:

- Why running the binary fails with

[code]

? when `libstd.so` is in the `.multirust` directory:

[code]

-  Why I get 'error: can't find crate for `syntax`' when building the same file on host=ARM or host=FreeBSD (basically #32984) when `libsyntax.so` is available in `~/.multirust`:

[code]

? But I think the answer is that `rustc` expec

[2016-04-15 19:29] nikomatsakis commented on #33000
Here is my plan:

1. The compiletest drive dumps the output into a file
2. There is a `foo.rs` and a `foo.out`
3. We diff the actual output vs `foo.out`
    - probably applying some filter to normalize the filename path for windows
4. On failure, we tell you the result of the diff
5. There is a script "update-expected-output" that regenerates the `.out` files

The last point is very important. Thi

[2016-04-15 19:43] pravic opened #33004 "What about disabling telemetry feature on msvc target?"
_Preface:_
I am not familar with it actually, only digged into compiled binary and found references to the telemetry triggers (e.g. `__telemetry_main_invoke_trigger`). Quick googleing gived following links: [small article](http://webcache.googleusercontent.com/search?q=cache:R3Jds7pW_cgJ:http://levicki.net/articles/2015/12/03/RANT_Microsoft_Visual_Studio_2015.php%2Btelemetry+main+invoke+trigger&hl

[2016-04-15 20:02] arielb1 commented on #31844
@Stebalien

Why won't it work? The trick limits the specialization to a private trait. You can't specialize the private trait if you can't access it.

[2016-04-15 20:03] Thiez opened #33006 "`std::num::Wrapping` does not implement `std::fmt::Display`"
I would expect this to work, and print '1': `println!("{}", std::num::Wrapping(1u8));`. Instead the compiler informs me:

Perhaps `Wrapping` should implement `Display`?

[2016-04-15 20:04] Stebalien commented on #31844
@arielb1 Ah. Good point. In my case, the trait isn't private.

[2016-04-15 20:09] arielb1 commented on #31844
I don't think the "externals can't specialize because orphan + coherence" reasoning is particularly interesting or useful. Especially when we don't commit to our specific coherence rules.

[2016-04-15 20:13] sgrif commented on #31369
Just wanted to bump this again, as I lost over an hour to it this afternoon. Turns out struct fields aren't stripped before being passed to `derive_Whatever` if it goes through this case, meaning `#[derive(PartialEq)]` completely blows up.

Even just that warning would be a huge help -- however, the macro expansion is actually given more than sufficient information to strip the attributes on its o

[2016-04-15 20:15] arielb1 commented on #32959
Can we have diverging closures, anyway?

[2016-04-15 20:20] arielb1 commented on #32959
The closure has the output type `()`, not `!`. This code should not compile (as splitting it into separate functions should demonstrate). Or we should support diverging closures which requires `!`.

[2016-04-15 20:21] arielb1 commented on #32959
This seems like a serious backwards-compatibility hazard. We seem to have forced ourselves to introduce a `!` type.

[2016-04-15 20:27] michaelwoerister commented on #32992
from http://stackoverflow.com/a/19642204

[2016-04-15 20:30] alexcrichton commented on #33000
Cargo's tests [are pretty similar to this](https://github.com/rust-lang/cargo/blob/59238e852cdfac7eb5c48854321f19de6b842ffc/tests/test_cargo_compile_custom_build.rs#L1546-L1563) where we literally run `cargo` and then exhaustively match stdout/stderr. There's some tricks like using `[..]` to ignore chunks of the output, but other than that it's pretty simple.

[2016-04-15 20:33] alexcrichton commented on #33006
Sounds like a good idea to me!

[2016-04-15 20:36] nagisa commented on #32983
This is a duplicate of https://github.com/rust-lang/rust/issues/28828. Thanks for the report.

[2016-04-15 20:36] #32983 closed

[2016-04-15 20:43] nikomatsakis opened #33010 "keyword-{false,true}-as-identifier.rs tests broken"
In the process of porting compiletest to use JSON, @jntrnr and I discovered that these two tests were broken. The older test runner had some bugs that let them squeak through:

[code]

yields:

[code]

[2016-04-15 20:43] nikomatsakis commented on #33010
cc @nrc maybe related to parser identifier changes?

[2016-04-15 20:43] alexcrichton commented on #32996
Is that directory in `LD_LIBRARY_PATH`?

Yeah the compiler only looks for libraries in `rustlib`. The ones directly in `lib` are only meant to be there at runtime for the compiler itself, not linked against.

[2016-04-15 20:51] petrochenkov commented on #33010
`false` is a valid literal pattern. Something like
[code]
isn't caught during parsing as well.

[2016-04-15 20:52] jonas-schievink commented on #33010
Well, technically `false` *is* a pattern (a refutable one, so you always get `error: refutable pattern in local binding: `true` not covered`). What's the last version that rejected this with the message from the test?

[2016-04-15 21:03] japaric commented on #32996
No, that's why it wasn't working. `LD_LIBRARY_PATH=$(rustc --print sysroot)/lib ./foo` works. Should `rustup` set that variable in `~/.cargo/env`? (cc @brson) Does multirust set that variable? Because I don't recall ever running into problems with LD_LIBRARY_PATH before, but perhaps I never executed Rust binaries that are dynamically linked to Rust crates :smile:.

[2016-04-15 21:06] nikomatsakis commented on #33010
@jonas-schievink ah, good point -- perhaps it was indeed a bug fix :)

[2016-04-15 21:07] nikomatsakis commented on #33000
I left a FIXME with this issue in the code -- we had to do some hacks in the new JSON-based testing harness that I'd prefer to undo when such testing is available.

[2016-04-15 21:14] tromey opened #33013 "inconsistent stepping in gdb"
While experimenting with gdb I found I couldn't really predict what statements I might step to.  Consider this test program:

[code]

If I `break step::main` and `run` in gdb, stepping stops on many of these lines, but not all of them:

[code]

[2016-04-15 21:20] jasonmolenda commented on #32994
Seems to work for a do-nothing C program.  How is it crashing?

[code]

[2016-04-15 21:36] alexcrichton commented on #33004
As far as I know we don't opt in to this anywhere, so is there some form of opt-out that we need to pass to the linker? If `-C link-args` works, does that work for now?

[2016-04-15 21:41] jasonmolenda commented on #32994
One thing to note is that lldb-350.0.21.3 (from Xcode 7.3) was branched off of the llvm.org sources circa mid-May 2015.  If the tests depend on anything added after that, the Apple-distributed lldb 7.x series isn't going to work.

[2016-04-15 21:48] alexcrichton commented on #32994
@jasonmolenda weird! So I've got the same lldb/xcode version as you, and also all the same versions as @jonathandturner mentions, and I can also reproduce. The snippet you pasted also works for me, but the segfault happens when I exit python (same as @jonathandturner mentioned).

Does the segfault not happen for you?

[2016-04-15 21:52] jasonmolenda commented on #32994
Ah, I know what's going on.  You need to add a call to debugger.Terminate() before you end your session.  There's some problem with the order all the destructors are run if you just exit lldb without calling SBDebugger:Terminate() - this is needed now.

[2016-04-15 21:52] tromey opened #33014 "gdb needs to know what traits a type implements"
I'd like to make operator overloading work for Rust in gdb.  That is, I'd like something like `print x+y` to call the appropriate method on the `Add` trait.  I'd also like to make ordinary method calls work, where the method is defined in some trait that is impl'd for the concrete type of the object.

Right now I think this can't be done.  There is no information in the debug info about what trait

[2016-04-15 21:54] pierrechevalier83 opened #33015 "Panic in librbml while drunk-compiling"
[code]

[2016-04-15 21:54] alexcrichton commented on #32994
Aha perfect! That does indeed make the segfault go away, thanks @jasonmolenda! Now it just appears that `print foo` isn't actually printing anything. The rabbit hole goes further...

[2016-04-15 21:56] pierrechevalier83 commented on #33015
Couldn't reproduce: next time I compiled, I just got a compile error in a different part of the compiled code. Just thought I would raise a ticket anyway because it should probably not have panicked the first time.

Lesson for future generations of rustaceans: don't compile code on friday pub night when drunk: It's bad for your health!

[2016-04-15 21:58] jasonmolenda commented on #32994
Good luck.  For what it's worth, it's more stable to use lldb via the SB API instead of sending raw command line commands to it (SBTarget::EvaulateExpression or the better SBFrame::EvaluateExpression).  It's a little daunting at first to figure out "how do I get lldb to do X" via the API but you don't have to deal with parsing output (& keeping the regexps up-to-date) once you do it that way.

[2016-04-15 22:05] pravic commented on #33004
By default _msvcrt?.lib_ and _libcmt?.lib_ contain references to the telemetry triggers.
But that references can be resolved to NO-OP stubs from *notelemetry.obj*, since symbols from object files has higher priority than from libraries.

And yes, `-C link-args` works well for me.

[2016-04-15 22:12] alexcrichton commented on #32994
Hm I'll admit to not knowing much about this area (@michaelwoerister is our resident expert on these scripts), but [out current script](https://github.com/rust-lang/rust/blob/master/src/etc/lldb_batchmode.py) I think is using the SB API (it at least looks like it isn't doing much parsing).

So specifically what's happening is that the tests are still failing for me. The failure looks the same as w

[2016-04-15 22:15] alexcrichton commented on #32996
Yeah this is rarely run into precisely b/c we statically link everything. I suspect rustup doesn't want to do *too* much here because it's so "non standard", but it certainly could!

[2016-04-15 22:33] jasonmolenda commented on #32994
[code]

We can create an SBValue for the local variable in this frame:

[code]

Or we can evaluate an arbitrary expression in the context of this frame (e.g. "foo+10" would work just as well) and get that back as an SBValue object.

[code]

Or we can use HandleCommand which is what the script is doing.

[code]

[2016-04-15 22:52] alexcrichton commented on #32994
Aha! Thanks for the pointers @jasonmolenda! Sounds like we have a rewrite of our script on the horizon for us.

[2016-04-15 23:08] apasel422 opened #33017 "Trait bounds not checked on specializable associated types"
`foo.rs`:

[code]

[code]

[2016-04-15 23:10] jasonmolenda commented on #32994
Sounds like that could be a lot of work. ;)  mostly I wanted to point in the direction of Best Practices for scripting lldb.

For what it's worth, when I'm working with SB objects, the way I usually use the docs is to have a command line lldb session open in a window and I'm doing things like 'script help (lldb.SBFrame)' etc which dumps the python documentation string for the SBFrame class.  The d

[2016-04-15 23:17] alexcrichton commented on #31369
In some sense I think `include!` has and perhaps always will be a bit of a hack in the compiler. This is likely best supported through [code generation](https://github.com/rust-lang/rfcs/pull/1573) in the long term as that plumbs through the compiler much more naturally, although I'll admit to also having no idea as to what the underlying issue here is as well unfortunately :(

[2016-04-15 23:22] kamalmarhubi opened #33018 "Tracking issue for slice::binary_search_by_key"
This was added in #32693.

[2016-04-15 23:23] kamalmarhubi commented on #33018
cc @alexcrichton

[2016-04-15 23:38] alexcrichton commented on #33018
Thanks!

[2016-04-15 23:45] tromey commented on #32954
The Rust vector printer collects all the children at once:

[code]

However this is not recommended practice for gdb pretty-printers.  Instead they should return a lazy iterator.  gdb will limit the displayed length according to either user settings (like `set print elements`); or, in MI mode, according to what the UI asked for.

[2016-04-16 00:05] #31856 closed

[2016-04-16 00:05] #32922 closed

[2016-04-16 00:05] #32902 closed

[2016-04-16 00:05] #32928 closed

[2016-04-16 00:05] #24838 closed

[2016-04-16 00:05] #26871 closed

[2016-04-16 00:05] #32783 closed

[2016-04-16 00:05] #32961 closed

[2016-04-16 00:05] #32993 closed

[2016-04-16 00:27] retep998 commented on #33004
Ideally we would be able to tell Rust to link `notelemetry.obj` like any other library. However Rust currently forces our hand in only linking to libraries since both `kind=static` and `kind=dylib` tack on a `.lib` on Windows. It would be nice if there were more kinds for other things such as `kind=object` to pass along a `foo.obj`. Also would be nice to have a kind for `foo.res` resource files.

[2016-04-16 01:51] tbelaire opened #33021 "Unclear if AtomicBool implements Send"
I was looking through all the types, seeing how `Send` and `Sync` bounds relate to each other, when I noticed that unlike most other types in `sync`, in the `impl` section `AtomicBool` only says

[code]
without any mention of `Send`, one way or the other.

I was expecting that like `Arc`, `Cell`, and `Mutex`, there would be an explicit listing of it's `Send`ness and `Sync`ness.

[2016-04-16 02:05] retep998 commented on #33021
`Send` and `Sync` only need to be explicitly implemented when they want to be `Send` and `Sync` in cases where they wouldn't automatically be `Send` and `Sync`. This is either closely related to or a duplicate of https://github.com/rust-lang/rust/issues/17606

[2016-04-16 02:22] michaelwoerister commented on #32994
Thanks for all the helpful information, @jasonmolenda!

The thinking behind using the SB object API as little as possible, was that we wanted to stay as close as possible to the command line interface a user would be interacting with, so that our tests gave some measure of the actual user experience.
We'll need to take a look now whether debugging Rust programs manually doesn't work with these new

[2016-04-16 02:34] plumenator commented on #32797
Related: arcnmx/cargo-clippy/issues/19

[2016-04-16 03:18] jasonmolenda commented on #32994
Sounds like your current system of using the `HandleCommand` calls makes sense - that's cool.  As for debugging this specific problem, fwiw the first thing I'd do in this situation is reproduce it with command line lldb and see what's going on.  I doubt "p foo" is actually not returning any output - expr ("p" is just an alias for "expr --") likes to print SOMETHING regardless of what happens, ther

[2016-04-16 06:07] cyplo commented on #32834
Hi ! I see that #32926 is merged now, I'm thinking on how to integrate the download resume/retry with it. @alexcrichton / @caipre Let me know what you think of the following:
* try downloading to a temp location
* check checksum there
* if invalid - remove and retry max N times
* if valid - move to destination

[2016-04-16 09:22] nikomatsakis commented on #32959
Hmm. I thought that `|| -> !` was disallowed now.

[2016-04-16 09:22] nikomatsakis commented on #32959
That is, we are not supposed to have diverging closures!

[2016-04-16 09:33] canndrew commented on #32959
You say that like it's a bad thing.

Well that's just a crappy, arbitrary restriction that we can get rid of. Also we do have diverging closures because you can write `|| -> Void`

[2016-04-16 10:11] GuillaumeGomez commented on #32834
Isn't it possible to check checksum before downloading? It seems to be overkill otherwise (downloading something to just get "no, you're up to date finally" is really annoying). Or at least check the date or something equivalent which could prevent to download for nothing.

[2016-04-16 10:29] nikomatsakis commented on #32105
I think this is now settled.

[2016-04-16 10:29] #32105 closed

[2016-04-16 10:33] arielb1 commented on #32959
@canndrew

I don't want to have MIR blocked on new RFCs, basically. Maybe we can get that done fast enough.

A `|| -> Void` closure is not treated as diverging for dataflow purposes - you have to match on it for that.

[2016-04-16 10:38] mitaa opened #33025 "rustdoc: External implementors for inlined traits are not shown"
When re-exporting a external trait, the implementors section of that (inlined) trait does not show external implementors of it (unless they too have been inlined).
Re-exported external types on the other hand do show external trait implementations.

[code]

[code]

[2016-04-16 10:43] sanmai-NL opened #33026 "Python build scripts: 2.x or 3.x?"
I am about to contribute to [`src/bootstrap/bootstrap.py`](src/bootstrap/bootstrap.py), so I checked whether it is supposed to run under Python 2.x or 3.x. I concluded that it is Python 3.x, since there is [Python 3 code](https://github.com/rust-lang/rust/blob/e0f997d3477fe28c2c5d99229bd1cd0de81604b4/src/bootstrap/bootstrap.py#L21) in there. ☂ Yet `README.md` says the dependency is on [Python 2.x]

[2016-04-16 10:56] sanmai-NL commented on #32992
LLDB [does not appear to come with a Python distribution](http://lldb.llvm.org/build.html), and explicitly depends on ‘Python 3.5’. I assume they simply depend on the latest minor version of CPython 3.x. Given the proliferation of Python code in the Rust code base, perhaps shipping a minimal Python distribution with a known version that works well across all Python code may cause the least headach

[2016-04-16 11:01] rkruppe commented on #33026
We don't have a real policy of which Python version to use. LLVM requires Python 2.7, which basically settles the question of minimum supported version. The only variable is whether we make an effort to be 3.x-compatible so that we can upgrade easily once that's possible. Again there's no official policy, some scripts try and some don't, probably depending on the mood of the authors at the time of

[2016-04-16 11:02] sanmai-NL commented on #33015
You have a curious idea of a night out!

[2016-04-16 11:03] rkruppe commented on #33026
Aside: I have a nagging feeling that, since we never run LLVM tests, we may get away with simply not passing any Python to LLVM. I don't care enough to wrestle the build system for that, but if you want to see Rust built with 3.x that's probably the best way forward.

[2016-04-16 11:13] sanmai-NL commented on #33026
According to #32992, Python 3.5 would be required by LLDB though. Most importantly, the Rust build script I was reporting about seems more important than LLVM indeed, and requires Python 3.x at present.

Wouldn't it be easier in the end to distribute signed native executables to build Rust instead of these scripts? Dropping Python dependencies as soon as possible is optimal.

[2016-04-16 11:15] arielb1 commented on #33015
I think someone is doing error recovery for "error: the crate "bitflags" has been comp
iled with rustc 1.7.0, which is incompatible with this version of rustc"

[2016-04-16 11:23] rkruppe commented on #33026
I can't comment on LLDB, but how does bootstrap.py *require* 3.x? The line you linked to, `print("downloading " + url)`, is 3.x-compatible but also works on 2.7 (in contrast with `print("downloading", url)` which would require 3.x or `from __future__ import print_function`). I also seem to recall using rustbuild with Python 2.7.

[2016-04-16 11:27] eddyb commented on #33015
@pierrechevalier83 Something was very strange in your original description, I tried to clean up the markdown to make it easier to read.

[2016-04-16 12:46] pczarn opened #33027 "Allow ignoring matches in macro rules with `_`"
Example

[code]

Gives errors

[code]

[2016-04-16 13:32] cyplo commented on #32834
Yes, totally, it would probably be like this:
* if there is no file - download
* check checksum
* invalid - retry from scratch
* valid - proceed

thanks !

[2016-04-16 13:57] sanmai-NL commented on #33026
Yes, I claimed that incorrectly. I will proceed patching some smaller things in `bootstrap.py` then in a Python 2.7.11 compatible way.

Your comment spurred a possibly interesting small investigation, because it surprised me.
[code]
all work in both Python 2 and 3, but everything after `print` is confusingly lexed as an expression. [This document](https://docs.python.org/3.4/reference/lexical_anal

[2016-04-16 13:58] quadrupleslap opened #33029 "Make duration constructor functions `const`."
Is there anything stopping the functions `from_millis, from_secs and new` in `std::time::Duration` from being constant?

[2016-04-16 14:51] caipre commented on #32834
The logic to check whether the file exists and needs updated is already present: https://github.com/rust-lang/rust/blob/6fa61b810dc95ca3e8bbda1681229f855f214fc4/src/bootstrap/bootstrap.py#L92-L93

My PR added the checksumming within the `get()` method, so you shouldn't have any work on that point. I'm not sure we need a retry mechanism. I prefer to just report the problem and let the user decide w

[2016-04-16 14:58] TimNN commented on #33027
I don't believe this will happen anytime soon (as the exiting macro machinery is already pretty complex, if I remember correctly), especially since you can easily work around this limitation by writing `($_a:expr, $_b:expr, $e:expr) => ...`. In any case I would expect a change like this to need an RFC.

[2016-04-16 15:02] nikomatsakis commented on #32836
My point is only that `=` does not *always* run the destructor; it
uses some knowledge about whether the target is known to be
initialized.

On Tue, Apr 12, 2016 at 04:10:39PM -0700, Scott Olson wrote:

[2016-04-16 15:11] nikomatsakis commented on #32948
@michaelwoerister ah, I see, yes, that makes sense. I guess the problem is that we don't have a way to serialize type names that is cross-crate safe. We should try to keep the "spirit" of that rule working though since it'd be nice to get those paths in the symbol names.

[2016-04-16 15:17] arielb1 commented on #32836
@nikomatsakis

It runs the destructor if the drop flag is set.

But I think that kind of write is confusing anyway, so why not just forbid it?

[2016-04-16 15:22] arielb1 commented on #32963
I am working on a fix.

[2016-04-16 15:51] nagisa commented on #33029
You cannot use a `const fn` with stable compiler, so for most purposes making these functions const now is useless.

[2016-04-16 15:54] nagisa opened #33031 "const fn has no result expression"
[code]

ICEs with

[code]

The result expression should probably default to unit?

[2016-04-16 16:03] sfackler commented on #33029
I'm not totally sure I understand that, @nagisa - stable users of the compiler will see no change and people on nightlies will be able to take advantage of the const-ness.

[2016-04-16 16:08] caipre commented on #33026
I believe we require python 2.7 explicitly: https://github.com/rust-lang/rust/blob/master/configure#L723-L730

[2016-04-16 17:34] tbu- commented on #32788
https://lkml.org/lkml/2015/10/25/123 says that callers only need to check for `ENOSYS` (or `EINTR` if the buffer size is larger than 256). This is probably a bug in Linux-on-Windows right now.

[2016-04-16 18:07] Ericson2314 commented on #32330
A basically off-topic nit/question (sorry in advance):

Why is the exists being hoisted over the forall? Shouldn't it be `∀'α . ∃T. (T, T: Iterator, <T as Iterator>::Item ~ &'α u32)`

[2016-04-16 18:07] tbu- commented on #31865
Fixed by #32785.

[2016-04-16 18:13] petrochenkov commented on #27899
The fact that you can't *declare* new items with keywords is certainly intended.
`$self: ident` is prohibited for the same reason why `let self = 10;` or `struct self { field: u8 }` are prohibited.
*Referencing* existing entities with keywords is possible in some cases - keywords `super`, `self` and `Self` can be used are segments in paths.

`ident` nonterminal accepting `self` is strange, because

[2016-04-16 18:50] #31865 closed

[2016-04-16 19:00] eddyb commented on #32949
How terrible would it be to have two scopes, one starting before the `let` and one after it?
The visibility problems would be fixed by having each `VarDecl` track two scopes, the one in which it's declared and the one in which it's initialized.

[2016-04-16 19:10] Veedrac opened #33037 "Neg for Wrapping<T>"
`Neg` seems to be missing for `Wrapping<T>`. This was mentioned, and promptly forgotten about, earlier:

https://github.com/rust-lang/rust/issues/27755#issuecomment-166981405

[2016-04-16 19:24] alubbe opened #33038 "Why is .fold() faster than .filter().count()?"
I was running some microbenchmarks today and noticed that .fold() runs a lot faster than .filter().count(). I find .filter().count() a lot more readable and so I was wondering whether there is some fundamental reason for this or is it something that could be sped up?
Also, being new to the language, I am more than happy to receive feedback on the below code.

[code]

[code]

[2016-04-16 19:44] TimNN commented on #33038
One factor is probably that 1 is summing into an `u32` (or `i32`, I'm not sure, it's a 32 bit type in any case) whereas count uses a usize. At least on the playpen the time of 1 is doubled (when running until `1<<28`) .

[2016-04-16 19:49] jonas-schievink commented on #33038
Playpen link: http://is.gd/dSFFkg

The filter-count version doesn't seem to vectorize, while the fold version does.

[2016-04-16 20:03] arielb1 commented on #32330
@Ericson2314

Because it's a trait object. There is a *single* type within the trait object, not a lifetime-indexed family. The *type* may be something higher-ranked, such as `for<'a> fn(&'a u32)`, but it is still a single type (the constructor form is `∀T. for<'a> T: Trait<'a> → Box<T> → Box<for<'a> Trait<'a>>`).

[2016-04-16 20:08] petevine commented on #32917
Setting `LD_LIBRARY_PATH` to where you moved the `lib` directory doesn't help?

[2016-04-16 20:13] maalgorium opened #33040 "thread 'rustc' panicked at 'Box<Any>'"
Hi.  I was building Redox and ran into an issue.  Searched around but didn't find a duplicate so here it is.  (Minor note: the compiler asks you to enable RUST_BACKTRACE even when it is already enabled.)

MacOS 10.11.4
rustc 1.10.0-nightly (2174bd97c 2016-04-14)

[code]

[2016-04-16 20:16] alubbe commented on #33038
So is there some way to optimize the types in .filter().count() to get the same performance? I just converted everything to usize and got the same (slow) speed.

[2016-04-16 21:02] rkitover commented on #32917
I tried this:

[code]

Did not help, this is the only thing that works with cargo:

[code]

[2016-04-16 21:09] petevine commented on #32917
Yeah, sorry, that should pointed to just `rust-git/lib`

-original message-
Subject: Re: [rust-lang/rust] rustc does not allow being run via a symlink (#32917)
From: Rafael Kitover <notifications@github.com>
Date: 16.04.2016 23:03

I tried this:

[code]

Did not help, this is the only thing that works with cargo:

[code]

---
You are receiving this because you are subscribed to this thread.
Reply

[2016-04-16 21:11] rkitover commented on #32917
Nope that doesn't work either.

[2016-04-16 21:22] petevine commented on #32917
Is the `std` crate separate from the rest of rustlibs? Cause frankly, otherwise it should've worked 100%.

[2016-04-16 21:51] alexcrichton commented on #33026
Thanks for the report! Currently the situation is that we basically require whatever version of Python that LLVM requires, which as mentioned before we believe is 2.7 at this time. We strive to minimize the amount of python that we ourselves actively run in-tree wherever possible, for example many scripts in `src/etc` are very old or only run occasionally and not part of a normal build.

If we're

[2016-04-16 21:51] #33026 closed

[2016-04-16 22:14] petevine commented on #32359
@japaric I've just downloaded the official armv7 nightly rust binaries and the issue reproduces just fine.
Here's a better trace:

[code]

[2016-04-16 22:29] rkitover commented on #32917
No this is a standard install made using the script I posted above.

[2016-04-16 22:47] petevine commented on #32917
Could you post a `strace` of the working scenario? Doing a `strace rustc -vV` should be enough.

[2016-04-16 22:56] petevine commented on #32917
Or rather from a `hello world` compilation.

[2016-04-16 23:05] nixpulvis commented on #25636
The ability to specify this in the `Cargo.toml` somehow might be nice. One of my crates I'm working on needs all the tests run like this.

[2016-04-16 23:16] tsion commented on #32836
@nikomatsakis I already mentioned that:

But I didn't account for dynamic checking of drop flags, so this is definitely more complicated than I considered.

[2016-04-16 23:41] jseyfried opened #33043 "resolve: bad diagnostics for unresolved enum in pattern"
Reduced from an situation I encountered in the wild:
[code]

[2016-04-16 23:43] steveklabnik commented on #25636
It is already set table by an env var, no? Cargo just can't specify them. So still not ideal but might work in the meantime.

On Apr 16, 2016, 19:05 -0400, Nathan Lilienthal<notifications@github.com>, wrote:

[2016-04-16 23:49] michaelwoerister commented on #32949
So, the this code...
[code]
... would map to the following?
[code]
That would be worth a try, I think. If it turns out not to cause to many problems with "accidental" interactions with borrow-checking, it would save us the work of maintaining two scope trees.

[2016-04-16 23:52] eddyb commented on #32949
@michaelwoerister Yeah, that's what I meant. I'm pretty sure it can work, although I'd like someone who actually is going to work on MIR borrowck look at it. @nikomatsakis?

[2016-04-17 00:02] nixpulvis commented on #25636
@steveklabnik Oh cool thanks, I'll set that in my project.

[2016-04-17 01:20] Aatch commented on #33038
Hmm, this is interesting as there's no clear reason why should vectorize while the other doesn't. The most likely answer is, unfortunately, that the filter-count version produces code such that the place where vectorisation happens is before where some other optimisation allows it to vectorize that loop.

I think the issue is that the CFG for filter-count, while functionally equivalent to the fold

[2016-04-17 01:52] Aatch commented on #33031
Default to unit, but generate a warning. A const fn with no result is probably a mistake.

[2016-04-17 02:13] tbelaire commented on #31174
I'd also like to say that I'm getting a confusing error when I'm trying to cast
[code]
and I'm not sure if it's because of the `unsafe` or the `extern "C"` or what.  More details on the error than "non-scalar cast" would be nice.

[2016-04-17 03:22] luqmana commented on #32716
I had a branch that did exactly this a while back for transmute and a few others.

https://github.com/luqmana/rust/commits/mir-intrinsics

[2016-04-17 03:24] taralx commented on #11207
As a note - rustup-setup was just renamed rustup-init because of this issue.

[2016-04-17 03:48] hgrecco commented on #32984
Same problem in a RaspberryPi

[code]

[2016-04-17 04:10] japaric commented on #32984
@hgrecco I already mentioned the same problem happens on host=armv7-unknown-linux-gnueabihf :smile:. And there's a fix in #33011.

OT: @hgrecco Is that an RPi 1 or RPi 2? Because you are not supposed to use the armv7-unknown-linux-gnueabihf target with the RPi 1. I actually expect `rustc` would crash in that case.

[2016-04-17 04:13] Aatch commented on #32716
@luqmana I have a branch that I was experimenting with that did the lowering while building, which I think makes more sense in some situations, though an intrinsic lowering pass in other cases may also be useful.

[2016-04-17 04:19] hgrecco commented on #32984
@japaric Sorry about that!. I am using RPi 2.

[2016-04-17 04:52] japaric commented on #32984
It's okay! We got a confirmation of the bug :+1:.

Never mind what I said then. (I was wondering if there was a bug where armv7 toolchain gets installed on the RPi 1. I'm glad that's not the case!)

[2016-04-17 06:06] #31005 closed

[2016-04-17 06:06] #32790 closed

[2016-04-17 06:39] alubbe commented on #33038
Should I leave this issue open as investigating it might reveal something useful or close it as a non-priority?

[2016-04-17 08:16] #32717 closed

[2016-04-17 08:48] tbu- commented on #31009
This looks fixed: https://github.com/rust-lang/rust/blob/b5de94fba9a137a1128448f4b703250e7e8ff975/src/libstd/sys/unix/fs.rs#L322-L329. Also, a recent commit claimed to fix the DragonflyBSD build: https://github.com/rust-lang/rust/commit/60c988ec176b9653bc1c3a6d6a738646d15a5ad6, so I guess this issue is fixed as well.

[2016-04-17 09:00] tbu- commented on #30330
Is this fixed by #32293?

[2016-04-17 10:09] rkitover commented on #32917
This is the ktrace of running rustc on a hello world source via the symlink:

[code]

And this is the ktrace log:
https://gist.github.com/rkitover/0026dbd55bfb45cf745f824e4478ea8c

And here is the log for running rustc via actual path:
[code]

And here is the ktrace log:
https://gist.github.com/86a4910a79862c6625b5ecb86cd12610

[2016-04-17 10:10] nodakai commented on #32934
@GuillaumeGomez Trying to be "logical" sounds nice except your argument is not.

Given that either the `Ordering` enum or the `PartialOrd` trait alone cannot implement user-defined ordering, we can "logically" say the meat of the documents should not belong to either of them.

[2016-04-17 11:42] nodakai opened #33047 "A hex int literal passed as a macro parameter forgets its identity and gets stringify!-ed as a decimal int literal"
Minor papercut:

[code]
- https://play.rust-lang.org/?gist=c71dd261fd16facbeeecb4be4444df4a&version=stable&backtrace=0

[code]

`0xff` is converted into `255` while `1.000....1` isn't (the delta from 1.0 is clearly smaller than IEEE854 double's machine epsilon)

May or may not be related to #28415

[2016-04-17 13:06] TimNN commented on #33047
The reason for this is the way they are [represented at the time macro expansion happens](https://manishearth.github.io/rust-internals-docs/syntax/ast/enum.LitKind.html): Integers are stored as a `u64` value, their representation in the source is lost. Float literals are stored as strings at this point.

[2016-04-17 13:11] nagisa commented on #33038
Keep it open.

[2016-04-17 13:28] carlosdiez commented on #32159
I ran into the same issue, I have installed:

- Visual Studio 2015 Community
- Windows 7 Professional (x64) SP1
- Rust 1.8.0

The folder `C:\Program Files (x86)\Windows Kits\10\Lib\10.0.10586.0` did not contain `ucrt`.
I copied `ucrt` folder from the previous version `C:\Program Files (x86)\Windows Kits\10\Lib\10.0.10240.0` and it worked for me.

Not the best way of fixing it, I guess the proper w

[2016-04-17 13:31] indiv0 opened #33051 "ICE when Attempting to Use an Unimportable Method in the Serde `deserializes_with` Attribute"
When attempting to compile a project utilizing the `deserialize_with` field annotation macro of [`Serde`](https://github.com/serde-rs/serde) with the annotation trying to use a function which is `not directly importable`, rustc panics.

This is the code that causes the issue:

`src/lib.rs`:

[code]

`Cargo.toml`:

[code]

Note that the correct code for this scenario would be:

[code]

I expected t

[2016-04-17 13:43] nodakai commented on #33047
@TimNN Thanks for the info, that's exactly what I expected from the above observations.

And I'd claim such an implementation detail should not affect an observable behavior of a programming language.

Ideally `stringify!(1 +1)` should yield `"1 +1"` rather than `"1 + 1"` but this is acceptable for me at the moment.

[2016-04-17 13:49] dotdash commented on #33038
The difference that makes vectorization happen is that in the `fold` case, LLVM can eliminate the conditional addition by using the zero extended result of the comparison as the second operand for the addition.

[2016-04-17 13:55] troplin opened #33052 "`net::{TcpStream,TcpListener}::set_only_v6` are useless"
AFAIUI, `net::TcpListener::set_only_v6` has to be called *before* `bind`ing a socket. However, with the current API this is not possible.

For `TcpStream` I'm not sure if this option is meaningful at all. And if it is, it surely has to be set *before* `connect`ing.

I know the FCP for those is over, but they should still be removed IMO.

[2016-04-17 14:22] bluss opened #33053 "Associated type `Self::Dim` in trait constraint yields "unsupported cyclic reference""
Should this not be ok when the associated item exists in the current trait itself?

Erroring code:

[code]

Modifying it slightly compiles:

[code]

[2016-04-17 14:45] #33006 closed

[2016-04-17 14:45] #10415 closed

[2016-04-17 14:45] #33043 closed

[2016-04-17 15:08] caipre opened #33054 "Duplicate impl blocks in rustdoc"
The inherent methods for structs in `std::os::unix::net` are shown twice, eg: http://doc.rust-lang.org/nightly/std/os/unix/net/struct.SocketAddr.html

Not sure whether this is limited to nightly or not.

Possibly related to https://github.com/rust-lang/rust/issues/21474.

[2016-04-17 15:11] notoria opened #33055 "Unexpected end"
I tried this code in stable, beta and nightly https://play.rust-lang.org/?gist=279e937d1680d46069c20f7040ca8723&version=stable&backtrace=0 .
In release mode the program ended. I expected to have a infinite loop. In debug mode the program loop forever.

[2016-04-17 16:00] sfackler commented on #33052
Oops, yeah, I'd say we should probably back these out of the beta. I'll raise it for discussion during libs triage.

@rust-lang/libs.

[2016-04-17 16:06] GuillaumeGomez commented on #33055
Just by adding a `printlln!` call, the output is the expected one: http://is.gd/9gD7ec

[2016-04-17 16:08] GuillaumeGomez commented on #33054
It's "supposed" to have been fixed in [this commit](https://github.com/rust-lang/rust/commit/0f3183f42b02aee06e920dec18b0f4d1c93e6a77).

cc @alexcrichton

[2016-04-17 16:09] arielb1 commented on #33055
known LLVM problem - duplicate of #28728.

[2016-04-17 16:09] #33055 closed

[2016-04-17 16:40] #31009 closed

[2016-04-17 17:30] timothy-mcroy opened #33057 "E0102 explanantion has out of date / incorrect example."
`rustc --explain E0102`

Gives this example code to show the problem.
[code]
This example does not return E0102, but E0282.

[code]

[2016-04-17 17:36] petevine commented on #32917
It's only searching in `/usr/local/lib/rustlib/x86_64-unknown-openbsd/lib` whereas it should be looking in `/usr/local/stow/rust-git/lib/rustlib/x86_64-unknown-openbsd/lib` as shown by the working trace.

Adding `/usr/local/stow/rust-git/lib` to your `LD_LIBRARY_PATH`  and maybe running `ldconfig` for good measure should have been enough but it isn't seemingly.

Rust solibs, however,  are being fo

[2016-04-17 18:07] mattico commented on #33040
See issue here: https://github.com/rust-lang/rust/issues/32783 seems similar to the second BT posted there.

[2016-04-17 18:11] alexcrichton commented on #30330
Indeed confirmed fixed on nightly!

[2016-04-17 18:11] #30330 closed

[2016-04-17 18:35] sgrif commented on #32281
Had a use case for this in Diesel this morning. (Code comparison: https://gist.github.com/sgrif/68cbba9a87084da3a2e8c42a12e7d6cf). Worked great, and was exactly the missing piece. Looking forward to seeing this stabilized.

[2016-04-17 18:38] arielb1 commented on #33031
@Aatch

It's not a particularly easy mistake to *make*, given that your function would *have* to be empty and return unit. More than that, in the future we may have asserts in const fns, so unit-returning const fns would be useful.

[2016-04-17 18:40] arielb1 commented on #32836
@tsion

Drop flags are only semi-dynamic - after zeroing drop is gone, they are a part of codegen.

[2016-04-17 18:44] arielb1 commented on #31174
@tbelaire

It's because of the `extern "C"` vs. non-extern-C. This is the default error message for broken casts.

[2016-04-17 18:47] tbelaire commented on #31174
I get that *now*, but the error message could be less confusing, perhaps just saying "unable to cast between these types" instead of "non-scalar cast", which is some jargon I am not familiar with.

[2016-04-17 18:56] GuillaumeGomez commented on #33057
cc @Manishearth

[2016-04-17 20:01] rkitover commented on #32917
I have a `~/lib` but it's empty and no env vars that reference it.

[2016-04-17 20:11] petrochenkov opened #33059 "'static is accepted as a loop label name"
Compiles on stable/beta/nightly:
[code]

Not sure if it's bad or not, but worth opening an issue.
It may conflict with a possible future block lifetime notation or something.

[2016-04-17 21:16] arielb1 opened #33061 "resolution time has *quadrupled* between 235d77457 and 6fa61b810"
Before (on librustc):
[code]

After (on same librustc):
[code]
cc @jseyfried

[2016-04-17 21:19] arielb1 commented on #33061
The extra RAM usage seems to be because of the AST not getting freed after the early lint checks. Not sure if this is intentional.

[2016-04-17 21:34] japaric opened #33062 "(Ubuntu's) lldb doesn't print stack variables"
Note: This issue isn't Ubuntu specific as I observe the same issue on the obscure Linux distribution I use everyday.
### STR

[code]

`lldb` doesn't print stack variables, but `gdb` does:

[code]

And `lldb` can print stack variables just fine when used with C programs:

[code]

I'm not sure what's going on. Do I need some extra steps to make lldb fully work with Rust programs? I tried `rust-lldb`

[2016-04-17 21:47] jonas-schievink commented on #33061
The AST should definitely still get freed, nobody touched [the code doing that](https://github.com/rust-lang/rust/blob/412e6f7e84986c8b9216eafb1d952c576312fe3f/src/librustc_driver/driver.rs#L165-L171), so it's not intentional (unless something about the command line options has changed?)

[2016-04-17 22:25] michaelwoerister commented on #33062
Yeah, I noticed this too and newer versions of LLDB seem to have [the same problem](https://github.com/rust-lang/rust/issues/32994) on OSX. So far, LLDB hasn't gotten any attention outside of OSX but maybe this problem is the same underlying problem. I'll start debugging this next week when I find some spare time.

[2016-04-17 22:26] michaelwoerister commented on #32994
Likely related: #33062

[2016-04-17 22:33] jasonmolenda commented on #33062
it's probably something about the debug information (DWARF) for the function that's causing the problem, unlikely to be platform (Ubutu/linux/etc) specific.  When `frame variable` reports nothing, it's clear lldb doesn't know of any variables there.  Usually you'd start with `image lookup -va $pc` to see exactly where lldb thinks it is, then run `readelf` on your binary and look at the DWARF there

[2016-04-17 23:02] jseyfried commented on #33061
The performance regression in `resolve` looks like it was caused by #32328. I'm working on a fix now.
I'm not sure what caused the RAM increase.

[2016-04-17 23:08] #32260 closed

[2016-04-17 23:12] jonas-schievink commented on #17407
This specific case is now fixed:
[code]

Self-recursive macro invocations are no longer printed. However, if the macro calls another macro (or invokes another arm of itself, such that the backtrace shows 2 alternating spans), the backtrace is still repeated.

I would consider this to be an `E-easy` candidate.

[2016-04-17 23:19] jonas-schievink commented on #16884
This can be closed:
[code]

[2016-04-17 23:31] jasonmolenda commented on #33062
I'd recommend checking out a copy of the current lldb sources from http://lldb.llvm.org and seeing if that works better.  The linux support in lldb has matured greatly over the last year and depending on when your linux distro's copy of lldb was made, it may be missing important support for e.g. "dwo" files.

[2016-04-17 23:32] brson opened #33063 "Rust nightlies published to the same archive date two nights in a row, broke everything"
These two nightlies published to the same archive (04-17) twice in a row:
- http://buildbot.rust-lang.org/builders/nightly-dist-rustc-linux/builds/494
- http://buildbot.rust-lang.org/builders/nightly-dist-rustc-linux/builds/495

Then the packaging build [failed](http://buildbot.rust-lang.org/builders/nightly-dist-packaging-linux/builds/417).

This seems to have broken rustup, which is getting chec

[2016-04-17 23:50] brson commented on #33063
rust-packaging [is failing](http://buildbot.rust-lang.org/builders/nightly-dist-packaging-linux/builds/419/steps/fetch%20inputs_2/logs/stdio) because arm-unknown-linux-gnueabi doesn't exist in channel-rustc-nightly, and indeed you can see that [in the recent rustc build there was no rustc for that architecture](http://buildbot.rust-lang.org/builders/nightly-dist-rustc-linux/builds/495/steps/listin

[2016-04-17 23:51] brson commented on #33063
[Whereas there were the previous night](http://buildbot.rust-lang.org/builders/nightly-dist-rustc-linux/builds/494/steps/listing%20artifacts/logs/stdio).

[2016-04-17 23:54] brson commented on #33063
I think there are at least two fixes that need to happen here: 1) rust-buildbot shouldn't overwrite files in the archives. Unfortunately it's not obvious how to make s3cmd do this. 2) rust-buildbot should allow fetch-inputs/package-rust to fail for nogate platforms.

[2016-04-18 00:11] retep998 commented on #33061
Resolution used to take about 1 seconds a few months ago in winapi and now it takes 9 seconds.

[2016-04-18 00:36] brson commented on #33059
Seems bogus.

[2016-04-18 00:41] steveklabnik commented on #33059
They're described as "lifetime names", so like, in a twisted way, it makes sense, but it also makes no sense. Agree that it should probably be removed.

[2016-04-18 00:42] #16884 closed

[2016-04-18 01:13] jseyfried commented on #33061
I fixed the performance regression in #33064.

[2016-04-18 01:21] tbelaire opened #33065 "Basic Block in function does not have terminator when using custom alloc crate."
I am getting a LLVM error after implementing an `allocator` crate and using `Box`.

[code]

I've stripped down the example to a quite small 3 crate example:

https://github.com/tbelaire/rust.ko/tree/rot13-minimal-example

[code]

seems to be the offending line, though it needs to have another statement after it for it to fail to compile.

`std/kmalloc_allocator/src/lib.rs` is a do nothing `#![allo

[2016-04-18 02:03] brson commented on #33063
Hopefully this fixes itself with the nightly that starts in an hour.

[2016-04-18 04:11] pierzchalski opened #33066 "Panic in rustdoc: tokenization error for markdown bullet points."
The following code causes cargo to panic when run with `cargo doc`:

[code]

`cargo doc` panics with:

[code]

This panic disappears if:

* The bullet point doesn't contain a `` ` `` or `\` character.
* The difference in whitespace of the first non-bullet line and the first bullet line is strictly less than 4 characters (for example, in the above sample the first line has a single space, while the

[2016-04-18 04:35] alexcrichton commented on #33063
Hm I think what may have happened here was:

* The bots were offline at night for 4/15 (for some unknown reason), but the builds were scheduled.
* Noticing this, I restarted buildbot the next day, 4/16
* The builders, taking forever to finish, started a build on 4/16 UTC and finished 4/17 UTC (as midnight UTC is 5pm PST). That is, I restarted the bots in the morning of 4/16 PST (probably ~10am) an

[2016-04-18 04:37] alexcrichton commented on #33063
We could try to use s3cmd's sync feature with `--skip-overwrite`, but doesn't look to be the same as "upload but error if we overwrite". We'd probably have to script it ourselves to list things, see if any inputs are in the output, and then bail if yes.

[2016-04-18 04:40] alexcrichton commented on #33066
I believe this is a dupe of https://github.com/rust-lang/rust/issues/12834 (as markdown interprets that bullet as code which rustdoc tries to parse as Rust, but thanks for the report!

[2016-04-18 04:40] #33066 closed

[2016-04-18 04:45] alexcrichton commented on #33065
Thanks for the report! Could you summarize the steps to take to reproduce this as well?

[2016-04-18 05:25] nabeelomer opened #33068 "Rust can't find crate for `std` [E0463]"
Since I upgraded to 1.10.0-nightly (576229fea 2016-04-15), I have been getting can't find crate for `std` [E0463].

[2016-04-18 05:39] #33061 closed

[2016-04-18 06:29] mitaa opened #33069 "rustdoc: local `doc(hidden)` type shows in implementors section"
[code]

[2016-04-18 08:08] scottmcm opened #33070 "internal compiler error: Type parameter `Self/SelfSpace.0` (Self/SelfSpace/0) out of range when substituting"
I was trying to figure out how to write things with traits and hit an ICE.  It looked similar to #28344, but that was closed well before 1.8, so hopefully this is useful.

I tried this code:

[code]

And this happened:

[code]
## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-04-18 08:20] mitaa commented on #33070
Hopefully a more useful playpen backtrace (nightly):
[code]

[2016-04-18 08:43] birkenfeld opened #33071 "Borrowing error refers to `***borrow` when `borrow` should be `&mut i32`"
Found on rustc 1.10.0-nightly (2174bd97c 2016-04-14). Minimal example:

[code]

The error is

[code]

Actually trying to assign to `***borrow` or `**borrow` fails with the expected "i32 cannot be dereferenced".

[2016-04-18 09:16] KalitaAlexey commented on #33071
@birkenfeld In closure you have `borrow_borrow`, but use `borrow`. Is it ok?

[2016-04-18 09:23] birkenfeld commented on #33071
@KalitaAlexey I know. The point of the issue isn't that it should compile, but that the error message is strange: it refers to `***borrow` which is probably invalid, but at least confusing.

[2016-04-18 09:39] oli-obk commented on #33031
We can't fix this yet, because we can't create struct and tuple `ConstVal`s, we can only use existing constructor expressions. I had a fix for it once, but it was a breaking change, I have an idea how to make sure it isn't a breaking change.

[2016-04-18 10:30] tromey commented on #33014
It occurred to me later that for operator overloading, I could perhaps just compute the method name directly in gdb.  For example, `impl Add for S` might result in a method `crate::S.Add::add`.

However, there doesn't seem to be a way to tell whether this is `std::ops::Add` or some other trait that happens to have the same name.  For this, rustc would have to emit some extra debuginfo.

I think it

[2016-04-18 11:06] #33068 closed

[2016-04-18 11:46] nikomatsakis commented on #32963
@arielb1 saw your ping on IRC; it seems like we simply should consider `Copy` to be object-unsafe. Ideally with a warning period.

[2016-04-18 11:47] nikomatsakis commented on #32963
(I've always thought that unsized types would be move-only.)

[2016-04-18 12:04] tomaka commented on #31343
For the record, the stdout and stderr are ignored when running an Android app.
android-rs-glue is using this feature to redirect stdout/stderr to Android's logging system.

[2016-04-18 13:45] tbelaire commented on #33065
[code]
Should be sufficient to reproduce it, though you will get an error message like:
[code]
if you are using a normal build of Rust instead of one with the extra assertions turned on.

[2016-04-18 13:52] tromey opened #33073 "no DWARF difference between references and raw pointers"
I have a test program that does `&x` and `&x as *const i32`.  The only difference in the generated DWARF is the name of the pointer type:

[code]

I think it would be better if the DWARF represented the difference via tags or attributes, and not just the type name.  One way would be to emit references as `DW_TAG_reference_type`, and save `DW_TAG_pointer_type` for raw pointers.

[2016-04-18 15:07] jonathandturner commented on #32992
I'm pretty sure the trouble I was hitting with homebrew was with the 2.x python.  It was the one installed as 'python' in /usr/local/bin.  Likewise, system Python is 2.7.10 for OS X 10.11.4.  I haven't see it use 3.x, yet, though maybe I'm looking in the wrong place?

[2016-04-18 16:01] alexcrichton opened #33075 "Add support for new `allocsize` attribute in LLVM"
This is mostly a TODO issue for when we next upgrade LLVM. They have recently [landed upstream](http://reviews.llvm.org/rL266032) support for a new attribute to tag functions with to indicate that they are an allocator.

This should hopefully obsolete [our local patch](https://github.com/rust-lang/llvm/commit/cca16c06fbec672b7d1dd9753491783a006bdfe5) and we should use these attributes instead.

[2016-04-18 16:18] alexcrichton commented on #32834
Yeah @caipre's thoughts are exactly my own, let's download to a temp location, verify the checksum, and once both are done we move it to the final location.

[2016-04-18 16:22] Ericson2314 commented on #32330
@arielb1 oh so the whole of `for<'a> Iterator<Item=&'a u32>` is the constaint/bound which defines trait object?

[2016-04-18 16:36] jonhoo opened #33076 "Cannot build with -g: dbg attachment points at wrong subprogram for function"
Trying to compile the following code with `-g` fails on stable, beta, and nightly:

[code]

with the error

[code]

[2016-04-18 16:36] arielb1 commented on #32330
@ericson2314

Yeah. It's a `TyObject(for<'a> Iterator<Item=&'a u32>)`, basically.

[2016-04-18 16:37] jonhoo commented on #33076
Don't know if this is related to @28947 or @29923.

[2016-04-18 16:38] Ericson2314 commented on #32330
Ok. Kinda makes me wish there was a surface syntax for `TyObject` then, as its somewhat of an ambiguous notation (only bailed out by the fact that what I wrote first is incompatible with our monomorphization scheme).

Well, thanks for the clarification!

[2016-04-18 16:44] crazymykl commented on #33040
I had had this issue with `rustc 1.10.0-nightly (2174bd97c 2016-04-14)`, but it's gone with `rustc 1.10.0-nightly (ed7c56796 2016-04-17)`.

[2016-04-18 16:45] KalitaAlexey opened #33077 "E0308 Expected private type instead of public reexported"
[code]

I expect that compiler say one of variants:

[code]

or

[code]

If private entry reexported is available from different places then

[code]

EDIT:
It also relevant for extern crate private types

[2016-04-18 16:58] arielb1 commented on #32330
@Ericson2314

Buut... but fn types behave in *exactly the same way*! Although that would require dependent types to properly represent.

[2016-04-18 17:00] matklad opened #33078 "Generic parameters VS less then comparison parsing ambiguity"
The following

[code]

produces a parse error, because the parser expects type parameters after `i32`, like in `1 as i32<T>`. Is this intentional? Looks like there are no tests for this behavior:

[code]

`1 as i32 <= 1` and `1 as i32 > 1` are parsed successfully. `1 as i32 << 1` also fails.
`

[2016-04-18 17:11] alexcrichton commented on #33076
cc @michaelwoerister

[2016-04-18 17:23] michaelwoerister commented on #33076
Thanks for the bug report, @jonhoo!
At first glance this looks like an incarnation of https://github.com/rust-lang/rust/issues/17201, which supposedly has been fixed. We'll need to take a look at the unoptimized LLVM IR to see if all calls are assigned a valid debug location.

[2016-04-18 18:35] rainboh opened #33080 "internal compiler error: unexpected panic"
I tried this code:

[code]

stable reports

[code]

nightly reports

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

-------

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2016-04-18 19:14] pmarcelll commented on #33078
It's a known issue: #22644

[2016-04-18 19:44] alexcrichton commented on #32994
Hm yeah, so I suspect that #33062 is the bug that I'm running into!

[2016-04-18 20:17] nagisa commented on #33080
Seems to be a duplicate of https://github.com/rust-lang/rust/issues/32765. Thanks!

[2016-04-18 20:17] #33080 closed

[2016-04-18 20:20] nagisa commented on #33078
What @pmarcelll said.

[2016-04-18 20:20] #33078 closed

[2016-04-18 20:27] alexcrichton opened #33082 "Tracking issue for alloc_system/alloc_jemalloc"
Introduced in [RFC 1183](https://github.com/rust-lang/rfcs/blob/master/text/1183-swap-out-jemalloc.md) these two crates lie underneath the facade with their tracking issue hooked up to https://github.com/rust-lang/rust/issues/27783. I'd like to open a separate issue for just these two crates.

We have a [request in Gecko](https://bugzilla.mozilla.org/show_bug.cgi?id=1163224#c36) to stabilize the a

[2016-04-18 22:10] michaelwoerister commented on #33062
So, I spent the whole day trying to track this issue down and finally found it in the last place I would have suspected it: LLDB seems to have changed its behavior when encountering a compilation with an unknown `DW_AT_language` attribute. Previously, it did something similar to GDB, i.e. trying to evaluate expression as if they where C/C++ -- now it doesn't do anything `:/`

This is a bit of a pr

[2016-04-18 22:14] nrc commented on #27899
Agree with @petrochenkov. For all the macro token classifiers, I would treat `foo` as meaning 'vaguely foo like', otherwise we would end up with hundreds of classifiers and it would be awkward to write macros. This has some downsides in terms of catching errors a bit later than is optimal, but I think the trade-off is OK here.

[2016-04-18 22:14] #27899 closed

[2016-04-18 22:18] Manishearth commented on #31645
https://github.com/rust-lang/rust/pull/33041 will land in a few days. It changes the parser and [some of the token tree representation](https://github.com/rust-lang/rust/pull/33041/files#diff-74b5ba63896c56c0964426955d2700d1L153)

 - Definitely will break syntex/aster/serde (cc @erickt)
 - Might break Diesel, Regex, phf (cc @sgrif, @sfackler, @BurntSushi): anyone who uses macros operating on token

[2016-04-18 22:28] alexcrichton commented on #33062
Whoa, nice find! Could you expand on the downsides of just marking ourselves as C++ for now? It seems like that may be our only course of action in the near future, unless there's perhaps a way for `rust-lldb` to "do the right thing" like set it up as a C++ binary even through it says it's a Rust binary?

Looking forward, maybe we could try to beef up `rust-lldb` to do version detection and "do th

[2016-04-18 22:38] Thiez commented on #33071
Not sure if this helps, but using a move closure as shown below changes the name in the error `**borrow` instead of `***borrow`.

[code]

    6:9: 6:20 error: cannot assign to `**borrow` because it is borrowed [E0506]
    6         *borrow = 1;
              ^~~~~~~~~~~
    5:41: 5:47 note: borrow of `**borrow` occurs here
    5         let borrow_borrow: &&mut i32 = &borrow;

[2016-04-18 23:54] sgrif opened #33087 "rustc ran my code at compile time and then reported a failed `assert!` as an ICE"
To be clear, this was normal Rust code, not a compiler plugin or anything else.

Video of the event: https://www.twitch.tv/seantheprogrammer/v/61454250?t=49m45s

I completely understand if this is just closed, as I haven't really given much to reproduce. I would be remised if I didn't report it anyway though, as this somewhat fundamentally broke my understanding of what the compiler is doing

The

[2016-04-19 00:37] alexcrichton commented on #33087
The backtrace had `diesel` in it, so perhaps this was a panic in one of diesel's plugins? (notably the `expand_infer_schema` function

[2016-04-19 00:40] sgrif commented on #33087
Ugh, you're right. Looking at it now, this is our compiler plugin using our non-compiler-plugin code... Sorry for the noise

[2016-04-19 00:40] #33087 closed

[2016-04-19 00:42] sgrif commented on #33087
Faith in computers restored.

[2016-04-19 00:54] #32474 closed

[2016-04-19 00:54] #33057 closed

[2016-04-19 01:13] alexcrichton commented on #24335
I was playing around a week or so with an idea that I had, and I came up with a [`cargo fancy` subcommand](https://github.com/alexcrichton/cargo-fancy). It's certainly stable by no means nor will it be shipping with Cargo any time soon, but I had some fun working with it and others may find it interesting as well!

[2016-04-19 02:03] Aatch commented on #33082
Whatever the behaviour of `alloc_malloc` is, it'll impact the behaviour of the other allocator traits, though this probably isn't a worry in practice, just need to make sure we don't stabilize ourselves into a corner.

I think a `malloc` allocator crate is useful and general enough that we could probably make it a compiler switch of some sort, anything that supports Rust should have a functioning

[2016-04-19 03:07] sfackler commented on #33082
Just to be clear, the only thing that would be stabilized here would be the fact that a crate named `alloc_malloc` exists and causes allocation calls to hit malloc/realloc/free, and it would have no stable items?

[2016-04-19 04:26] nixpulvis opened #33088 "Tests as compilation units"
Would it be possible to treat a `#[test]` as a unit of compilation to avoid recompiling a whole library while rewriting/debugging a test?

[2016-04-19 06:44] Aatch commented on #33088
This almost certainly requires incremental recompilation, #2369, so I'm closing in favour of that.

[2016-04-19 06:44] #33088 closed

[2016-04-19 06:46] nixpulvis commented on #33088
Sorry I'll read up on that more.

[2016-04-19 10:00] jasonmolenda commented on #33062
Nice detective work.  The proper solution would be to add a rust parser to lldb (see `source/Plugins/ExpressionParser/Go/` in the lldb repository for an example of a language that does not use the clang front-end) - a less satisfying approach is to tell lldb to try parsing Rust as if it were C++ e.g. see the RenderScript support in `ClangASTContextSupportsLanguage()` in `source/Symbol/ClangASTCont

[2016-04-19 12:00] #32890 closed

[2016-04-19 12:47] #32848 closed

[2016-04-19 13:57] aturon commented on #33082
cc @nikomatsakis @pnkfelix

I think it's reasonable to fast-track stabilization of *some way* of getting pure malloc-based allocations. I'm slightly uneasy with `extern crate` having these kind of behind-the-scenes effects, but I also don't immediately see a better mechanism.

[2016-04-19 14:56] sheganinans commented on #31752
I've ran into this error, until this issue is closed maybe it would be good to have an example of a fix here. Thanks!

[2016-04-19 15:03] #14586 closed

[2016-04-19 15:03] #31948 closed

[2016-04-19 15:03] #28480 closed

[2016-04-19 15:11] nikomatsakis commented on #32959
On Sat, Apr 16, 2016 at 02:33:55AM -0700, Andrew Cann wrote:

I don't really disagree. I'd just prefer to make that decision on its
own merits, not because of this oversight. But oh well: the failure to
completely remove `-> !` closures (which is my oversight as much as
anyone's) does kind of force our hand. We have to fix it one way or
another, and it's certainly worth thinking if we can fix it i

[2016-04-19 15:11] alexcrichton commented on #33082
@Aatch, @sfackler

To be clear, I'm thinking we could stabilize *only* the name `extern crate alloc_malloc` and no other APIs. Semantically you would essentially be guaranteed that if you link to that crate then all allocations will be implemented via `malloc` and friends (standard C APIs, not Windows-specific ones where possible).

Also to be clear, it is not clear to me that this is actually wha

[2016-04-19 15:31] michaelwoerister commented on #33062
@jasonmolenda Thanks for the pointers to other language implementations.

That's definitely the long term solution to this problem.

I assume it just fell out of adding support for language plugins.

[2016-04-19 15:49] michaelwoerister commented on #33062
The practical downsides would be negligible, I guess. We couldn't rely on debuggers doing anything Rust specific before and C++ is the closest thing. I thought, there might be some benefit in choosing a value that is definitely not a known language (e.g. `DW_AT_language=0x0`), so that debuggers might try to activate some more fallback mechanisms when trying to deal with Rust. But at the moment I c

[2016-04-19 15:52] Manishearth commented on #31752
The fix is to figure out which captured variable is being moved and not move it. In this case, the variable `buf`  is owned by the outer closure and needs to be kept around since the outer closure will get called multiple times. However, the inner `move` closure is moving it, so it gets used up after the first call. In this specific case to fix this error you would do something like `let buf = &mu

[2016-04-19 15:58] zwn commented on #30849
Is this the right place to look at?
https://github.com/rust-lang/rust/blob/master/src/librustc_resolve/check_unused.rs

[2016-04-19 16:06] januszn commented on #33062
You can do `settings set target.language c++` but the `TypeSystem` abstraction introduced in LLVM 3.8 is pervasive in that overriding the language on the "target" level is not enough - you also need to do it for reading the symbols and I don't think there's a way exposed to do this - I've done that in a debugger (and it works then).

PS. Apologies for butting in, it's just that I'm interested in t

[2016-04-19 16:28] sgrif opened #33094 "Error message for "no method defined" is less helpful than it could be"
This is specifically when the method comes from a trait, and that trait being implemented has any sort of trait bounds. For example:

http://is.gd/pO7GZN

`x.foo()` gives the error:

[code]

Switching to `<Type as Trait>::method()`, however, will give you the specific constraint that is missing.

[code]

In this case (which is simplified to fit in a playground easily), the difference isn't so bad.

[2016-04-19 16:52] trolleyman opened #33096 "Compilation ICE on nphysics crate"
When trying to compile nphysics on a nightly created on or after `2016-04-14`, the compiler errors. Before this date it is fine.

Example code:

[code]

Presumably was [this commit](https://github.com/rust-lang/rust/commit/cd85120ef9be436b8cd32c7208a913cc41c66e13) that broke things, as it's a commit on that day that touches trans.

On Windows 64 bit GNU this is the output:

[code]

[2016-04-19 18:17] alexcrichton commented on #33096
cc @eddyb

[2016-04-19 18:50] eddyb commented on #33096
You sure it's that innocent commit and not, you know, my changes to debuginfo, for MIR?
Specifically, [this normalization](https://github.com/rust-lang/rust/pull/32803/files#diff-86c1222a1321d7917414f33746d1d7d3L487) is gone, that could cause problems.

[2016-04-19 18:56] michaelwoerister commented on #33073
Agreed.

[2016-04-19 18:58] michaelwoerister commented on #33013
This will hopefully get some more attention again once we switch to MIR for code generation.

[2016-04-19 18:59] eddyb commented on #33096
@trolleyman I can't reproduce on master (just rebased one of my branches containing unrelated changes, so I had a compiler to check with).

[2016-04-19 18:59] michaelwoerister commented on #32994
PR #33097 should fix the missing output problems.

[2016-04-19 19:08] michaelwoerister commented on #32919
I'm closing this as a duplicate of #9228.
Thanks for the report though `:)`

[2016-04-19 19:08] #32919 closed

[2016-04-19 19:08] jdm commented on #30232
Yes; #30249 was closed without merging the changes.

[2016-04-19 19:15] michaelwoerister commented on #32920
Yes, that would be nice. This strange encoding was chosen because it only contains things that also occur in C, so that existing debuggers can work with it. LLDB (and maybe GDB too) don't allow discriminated unions to be accessed via the Python API we use for pretty printing.

Once we get proper support for Rust in debuggers, it would definitely better to encode enums differently.

About `DW_AT_ar

[2016-04-19 19:17] michaelwoerister commented on #32925
Yes, that's a known issue. In former times, it was the only way to get GDB to print nice, fully-qualified function names. We might want to revisit that though.

[2016-04-19 19:29] nikomatsakis commented on #32949
@eddyb having an extra scope (the innermost enclosing block) seems... fine. I'm still somewhat unconvinced that we want those variables to be visible before you have stepped to the `let` in question though, but I guess that's a (somewhat) separate question.

[2016-04-19 19:32] eddyb commented on #32949
@nikomatsakis Why would they be visible before? I'm only suggesting changing the scope we use in debuginfo from starting "just before the `let`" to " just after the `let`", i.e. not including the `let` RHS.

[2016-04-19 19:51] nikomatsakis commented on #33082
@aturon

It seems reasonable to have the idea of "global language services" that can be required and which can admit only one implementation. I wouldn't want this to be an expandable, user-defined set, since it's kind of anti-modular (unlike say a trait), but we do need SOME answer that permits someone to say "gimme memory" or "panic" without having to have the implementor in scope. Tying it to ve

[2016-04-19 19:54] trolleyman commented on #33096
Yeah I really am not sure which commit it is, was just a guess really.

Hmm, let me try this again, one sec...

[2016-04-19 19:55] sfackler commented on #33082
To make things a bit more explicit, we could take a similar approach as to what we do now for plugins:

[code]

[2016-04-19 20:13] trolleyman commented on #33096
Ok so I was misinterpreting which crate was beign compiled. nphysics compiles fine, but [my crate](https://github.com/trolleyman/neat), which uses nphysics, doesn't. I'm trying to narrow down the code now.

[2016-04-19 22:04] trolleyman commented on #33096
Here's some of the rust log that I got when compiling on debug builds:
[code]

[2016-04-19 22:17] eddyb commented on #33096
@trolleyman That's not really helpful, sadly, nightly doesn't use `-C debug-assertions` yet, so there's no `debug!` output.

[2016-04-19 23:17] eddyb commented on #33096
@trolleyman This bug is not in beta, correct?

[2016-04-20 00:17] trolleyman commented on #33096
@eddyb I'm afraid that I can't test that as I'm using `#[feature]`s.

[2016-04-20 00:20] eddyb commented on #33096
@trolleyman Can you check the test from #33099 instead? Particularly interested about the nightlies you had issues with.

[2016-04-20 00:26] trolleyman commented on #33096
@eddyb Sure, unfortunately that test case works fine for both pre and post-`2016-04-14`.

[2016-04-20 00:28] eddyb commented on #33096
@trolleyman Ah, beats me then.

[2016-04-20 00:29] trolleyman commented on #33096
I'll try and find which part of my code hits the error.

[2016-04-20 00:46] kylewlacy opened #33101 "Macro in extern crate fails to resolve when imported with another macro"
# What works

If I have a `hello!` macro in a module...

[code]

I can use it like this:

[code]

I can also, if I so choose, extract this into *another* macro that actually does the importing (a sort of "prelude macro"), then I can use the `hello!` macro as normal:

[code]

(see [kylewlacy/rust-macro-include/macro-include-mod](https://github.com/kylewlacy/rust-macro-include/tree/master/macro-incl

[2016-04-20 03:52] lfairy commented on #26270
Looks like it's fixed now. Should we close this issue?

[2016-04-20 05:00] alexcrichton commented on #26270
Indeed!

[2016-04-20 05:00] #26270 closed

[2016-04-20 05:19] Manishearth commented on #31645
Note that https://github.com/rust-lang/rust/pull/31414 has been added to the rollup. It will break derive plugins, not sure what else.

[2016-04-20 05:57] kylewlacy commented on #33101
I also noticed that this issue happens when using `include!`:

[code]

[code]

[code]

(see [kylewlacy/rust-macro-include/macro-include-prelude](https://github.com/kylewlacy/rust-macro-include/tree/master/macro-include-prelude))

[2016-04-20 08:17] #32886 closed

[2016-04-20 09:50] nagisa commented on #32433
I’m certainly surprised we do not drop things in reverse order for the 2nd test case. Once we “fix” that, the first issue should fix itself too.

[2016-04-20 09:51] nagisa commented on #30941
This is fixed.

[2016-04-20 09:51] #30941 closed

[2016-04-20 09:54] mwm opened #33104 "Can we get a decorate-sort-undecorate sorting in the standard libaries?"
The decorate-sort-undecorate idiom makes for much faster key-based sorts, especially when key calculation is  expensive. My implementation for vectors (as I needed those rather than slices) looks like:

[code]

The quick test for timing for the case I was interested in looks like:

[code]

The decorated version runs six times faster on even the relatively short lists (72 elements) I was using, dec

[2016-04-20 09:55] nagisa commented on #30612
Seems to be fixed indeed.

[2016-04-20 09:55] #30612 closed

[2016-04-20 09:57] nagisa commented on #29856
The drop now exists.

[2016-04-20 09:57] #29856 closed

[2016-04-20 10:08] bluss commented on #33104
New features can be suggested in the [RFC repo](https://github.com/rust-lang/rfcs) with a formal proposal (pull request) or issue.

You can make a one off tuple struct there and define the ordering to only use the first field. That removes the need to clone `K`.

[2016-04-20 10:45] #29555 closed

[2016-04-20 10:45] #29557 closed

[2016-04-20 12:14] trolleyman commented on #33096
@eddyb So I did some digging and I was wrong again, it turns out it _is_ the nphysics crate. This is a minimal test case:
[code]

[2016-04-20 14:24] eddyb commented on #33096
@trolleyman It depends on the `nphysics3d` crate, but it's not the crate itself, and that testcase is still large in terms of how much it needs to monomorphize.

[2016-04-20 15:12] regexident commented on #27245
Is there any review/stability status on this feature by any chance?

[2016-04-20 15:13] cuviper commented on #29556
A self-rebuild will be required if there is *any* need to regenerate the Rust package.  Rust x.y will already be in the distro buildroot, thus the prior x.(y-1) is no longer available, but perhaps we need to apply some bugfix or security patch to Rust, or relink due to a changed dependency, etc.

(Actually, I'm not sure how that will technically work, if something like LLVM gets rebased and we nee

[2016-04-20 15:38] GuillaumeGomez commented on #33059
Shouldn't rust keywords not be used as label name (and not just `static`)?

[2016-04-20 15:46] alrz commented on #33059
That's a double-negative right there.

[2016-04-20 15:53] durka commented on #33101
In both cases public items from the crate are accessible, so it seems like it is dropping the `#[macro_use]` attribute.

[2016-04-20 15:56] durka commented on #33101
duplicate of #28071

[2016-04-20 16:17] alexcrichton commented on #29556
This might be easier as part of rustbuild rather than the makefiles (as it's in theory easier to read the dependency list). If you want to dive into the makefiles, the relevant targets start [around here](https://github.com/rust-lang/rust/blob/133f60f82012ad92c40693bf1ae28419b60146a7/mk/target.mk#L73) for libraries. For rustbuild, the list of dependencies [show up in this file](https://github.com/

[2016-04-20 16:25] linfir opened #33109 "Internal compiler error: index out of bound"
Using either rust-stable or rust-nightly, this very short program crashes the compiler.

The program:

    use std::io::Read;

    fn main() {
        let mut file = std::fs::File::open("foobar").unwrap();
        let mut data = Vec::new();
        file.read_to_string(&mut data);
    }

Note that replacing `Vec::new()` by `String::new()` prevents the crash.

Rust stable:

    ~ $ rustc --version

[2016-04-20 16:28] bluss opened #33110 "Allow rebuilding just stage1 libcore, libstd, etc"
A proposed workflow enhancer when developing libstd and/or the libraries it fronts.

The build system configuration or option will:
- Build but the stage1 compiler if it is missing, but not rebuild even if libcore, libstd etc are dirty.
- Use the stage1 compiler to rebuild libcore until libstd

The intention is to allow faster iteration and evaluation

---

The current crates that would be rebuilt

[2016-04-20 16:36] #33101 closed

[2016-04-20 16:58] #32377 closed

[2016-04-20 17:01] alexcrichton opened #33111 "MIR: Bootstrap up to a half-hour longer with --enable-orbit"
I just took a look at our list of bots and was surprised that the builder lagging behind was the `auto-win-msvc-64-opt-mir` builder. Investigating it looks like a MIR bootstrap (`--enable-orbit`) is taking about a half hour longer than a normal bootstrap. For example compare:

* [Normal bootstrap](http://buildbot.rust-lang.org/builders/auto-win-msvc-64-opt/builds/3868)
* [MIR bootstrap](http://bui

[2016-04-20 17:11] nagisa commented on #33111
Not surprising, honestly. We still generate worse LLVM-IR (lack of cheap optimising/simplifying transformations) compared to the regular trans, so despite our translation taking a small fraction of the time old trans takes, the LLVM recoups doubly.

[2016-04-20 17:20] Azy8BsKXVko commented on #33059
It seems like the difference in syntax would prevent a conflict, though I could be wrong (I'm new to Rust). It might be worthwhile to at least have the compiler throw a warning for ergonomic reasons.

[2016-04-20 17:39] alexcrichton opened #33112 "MSVC: Cleanups are run on all faults, like segfaults"
For example:

[code]

On Unix this doesn't print anything where as on Windows it will print `foo`. While initially intentional I'm thinking that this may seem like a bad idea now.

This is happening because in Windows faults like segfaults (or illegal instructions) all go through the same error handling mechanism that normal program exceptions go through. Our cleanups (aka drop code) are registere

[2016-04-20 17:43] brson commented on #33112
I agree. This behavior is likely to cause security issues.

[2016-04-20 17:44] TimNN commented on #33109
Another dupe of #31964 (although we may want to tag that issue or another issues as a (minor) regression from stable since stable produces a type mismatch before the ice whereas beta & nightly do not).

The error on stable:

[code]

[2016-04-20 17:51] alexcrichton commented on #33112
Looks like this is not the behavior of C++ on using clang on Windows. The IR generated also uses a `cleanuppad` with no arguments, but the personality function is `__CxxFrameHandler3` instead of `__C_specific_handler` that we use.

[2016-04-20 18:43] durka opened #33113 "missing impls in std::str::Pattern docs"
Some of the impls of Pattern disappeared from the std docs starting in beta. Compare:

- http://doc.rust-lang.org/std/str/pattern/trait.Pattern.html (stable docs, impls shown)
- http://doc.rust-lang.org/nightly/std/str/pattern/trait.Pattern.html (nightly docs, impls missing)

They are also missing from the stable (and nightly) docs of core.

[2016-04-20 18:45] michaelwoerister commented on #32574
Interesting. We are probably setting the static's linkage to private but don't take care of removing debuginfo for it and LLVM doesn't either.

[2016-04-20 18:45] alexcrichton opened #33114 "Run tests for cross-compiled platforms in QEMU"
QEMU has some pretty nice acceleration for x86_64/x86 targets, and it can run basically everything else under the sun in an emulation mode. We should try to run all our cross-compiled targets' tests in QEMU, or at least some subset of tests (e.g. run-pass + stdtest or something like that).

Some targets to run tests for would include:
- `x86_64-unknown-freebsd`
- `x86_64-unknown-netbsd`
- `arm-unk

[2016-04-20 18:51] #33109 closed

[2016-04-20 18:51] alexcrichton commented on #33109
I've also tagged https://github.com/rust-lang/rust/issues/31964

[2016-04-20 18:51] michaelwoerister commented on #32924
We should be able to set the name of the `DW_TAG_enumeration_type` entry to something like `__<enum-name>_discriminant`. I'll need to look up though how we represent C-like enums (probably just the `DW_TAG_enumeration_type` without the ``DW_TAG_union_type`) and if that needs special attention then.

[2016-04-20 18:52] alexcrichton commented on #31964
Nominating because this seems to be coming up all over the place, I think we've gotten 3-4 separate reports about this ICE (a regression on beta).

Note that an ICE happens on stable, but a *worse ICE* happens on beta/nightly...

[2016-04-20 19:15] Hansyperman commented on #28224
I think I reported this same issue on reddit: rust 1.8 stable lost valgrind support
https://www.reddit.com/r/rust/comments/4fddre/i_lost_valgrind_in_rust_18/

I have a mixed rust/extern "C" program. I know it leaks memory and use valgrind to verify behaviour. When I upgraded to rust stable 1.8, it proudly claims not to leak anymore, and even stops allocating memory altogether! While I'm impressed

[2016-04-20 20:13] bltavares commented on #30815
Triaging: here is the updated [location](https://github.com/rust-lang/rust/blob/92e3fb3ebe6d7129ff0fe85c17f30c8669899129/src/libsyntax/feature_gate.rs#L411) on the latest master for the KNOW_ATTRIBUTES list.

[2016-04-20 20:15] nikomatsakis commented on #32949
@eddyb oh, hmm, I was not understanding what you meant. The issue is that today the "suffix" scopes include the initializer, and you would rather that they do not? In any case, having an extra scope seems fine.

[2016-04-20 20:21] alexcrichton opened #33116 "MSVC: LTO plus -Z no-landing-pads leaves landing pads"
If you compile a program with `-Z no-landing-pads` plus `-C lto` it is intended that all landing pads are removed. This does not happen on MSVC, however! A simple `fn main() {}` compiled with LTO will still have a bunch of `invoke` instructions lying around, even though they only call `nounwind` functions.

I believe this is due to [this check](https://github.com/llvm-mirror/llvm/blob/7c73f3f39c49

[2016-04-20 20:25] eddyb commented on #32949
@nikomatsakis Correct, that would result in the expected behavior in a debugger.
But borrowck has to know that the initializer is in the scope of the definition, doesn't it?
Can we actually get away with only recording the post-initializer "suffix"?
Because that's the trivial fix @michaelwoerister mentioned, for `let`, while `match` already works like that.

[2016-04-20 21:01] TimNN commented on #31964
To be more precise, the regression is that the actual error message about mismatched types only shows up on stable and not on beta or nightly.

[2016-04-20 23:30] jseyfried opened #33118 "resolve: the relative order of items and statements in a block can be important"
For example,

[code]

Since items in a block are above the block's local variables in the scope hierarchy, it might make sense to resolve the items' bodies in scopes that descend directly from the scope of the block's items, bypassing the scopes of the local variables.

~~That being said, I think I prefer the current behavior.~~ However, since it will mildly complicate name resolution in the futur

[2016-04-20 23:30] jseyfried commented on #33118
cc @rust-lang/lang

[2016-04-20 23:31] jseyfried commented on #33118
cc @nrc @petrochenkov

[2016-04-20 23:51] trolleyman commented on #33096
@eddyb True, sorry but I am not knowledgeable at all in rustc or nphysics, so it's the best I can do :/

[2016-04-21 00:32] Aatch commented on #33111
I checked against `libsyntax`, since it's a nice large crate that LLVM can chew through.

LLVM takes ~50% longer using the MIR trans path compared to the normal one to optimise. Translating to LLVM is actually about the same between them though.

It looks like the main issue is that we're simply generating more IR than before. Some of the LLVM passes have moved up in terms of relative time. One th

[2016-04-21 02:12] huonw commented on #32872
@marcianx, oh, sorry, you are correct that this seems different!

[2016-04-21 02:42] huonw commented on #31662
Fixed by #31709, I believe. Thanks @ranma42!

[2016-04-21 02:42] #31662 closed

[2016-04-21 02:46] tromey opened #33121 "DWARF does not describe closure type"
I wrote a simple test case that makes a closure.  The closure is just:

[code]

The resulting DWARF doesn't describe the closure type at all:

[code]

I was planning to make it so the user can invoke a closure from gdb, but I think this bug prevents that.

[2016-04-21 02:59] colonelmo opened #33122 "Octal literals"
Shouldn't literal numbers that start with a zero (e.g. 0123) be interpreted as octal numbers as they are in many other languages? I believe anyone who is familiar with this notation would expect this behavior.

[2016-04-21 03:23] tromey opened #33123 "DWARF doesn't describe use declarations"
I wrote a small test program of `use` declarations:

[code]

Examining the DWARF, I don't see anything in the body of `f` that reflect the `use` declaration.

What this means is that when stopped in `f` in gdb, name lookup will not work properly -- `call g()` will call the wrong `g`.

`use` declarations can be represented with something like `DW_TAG_imported_declaration` or `DW_TAG_imported_module

[2016-04-21 03:28] retep998 commented on #33122
And anyone who isn't familiar with that notation would be surprised when their code breaks or acts differently just because they had a `0` prefix. Rust currently uses `0o` as the octal prefix. To make numbers that start with a `0` interpreted as octal numbers would be a breaking change at this point, so even if you convinced the Rust community that your way was better, we wouldn't be able to do an

[2016-04-21 03:47] colonelmo commented on #33122
Very well said. Sounds quite logical to me.

P.s. I'm not trying to "convince" anybody that "my" way is better. I have been surprised by this behavior previously in other languages and I wanted to know what's the deal in rust.

P.p.s. closing

[2016-04-21 03:47] #33122 closed

[2016-04-21 04:25] #32984 closed

[2016-04-21 05:47] sheganinans commented on #31752
Perfect, thanks!

On Tue, Apr 19, 2016 at 8:53 AM, Manish Goregaokar <notifications@github.com

[2016-04-21 05:58] Manishearth commented on #31645
Also https://github.com/rust-lang/rust/pull/33125

So far, we will be landing

 - https://github.com/rust-lang/rust/pull/33125
 -  #31414
 - #33041

once they all get approved

[2016-04-21 10:43] BusyJay opened #33127 "UpperHex/LowerHex trait should be implemented for &[u8]"
It is a common use case to print a byte array in hex format. For example:

[code]

And user can't implement this behaviour cleanly.

[2016-04-21 12:08] bluss commented on #33113
Related to #29503. I'm surprised, I would not call `for CharEqPattern<C> where C: CharEq` a blanket impl.

[2016-04-21 13:28] eddyb commented on #25544
I didn't get to this before the beta.
@jseyfried Did you say you wanted to work on something like this?

[2016-04-21 14:04] indutny commented on #32520
Hello!

Not sure how much it will help, but I was investigating similar crashes with llnode, and it turns out that lldb is lying when reporting its version:

[code]

In fact it is more compatible to 380, because [this commit][0] is present there. I was able to tell that after checking the disassembly of lldb and offsets in vtable that it expects.

Anyway, hope this helps!

[0]: https://github.com/

[2016-04-21 15:00] camlorn opened #33131 "docs: fix the order of items in method headers for screen reader users"
I think this is the right repository.  If it's not, I'd appreciate being directed to the right place.

Rustdoc has begun showing the version at which a function was introduced on some methods.  I'm not sure if this was introduced in 1.8.0 or if more methods were marked up, so I'm not sure how old this behavior actually is.

Unfortunately, these headers are horrible for screen reader users (i.e. me

[2016-04-21 16:19] alexcrichton opened #33132 "Tracking issue for adding a new cdylib crate type"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1510

[2016-04-21 16:21] alexcrichton opened #33134 "Tracking issue for -C overflow-checks"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1535

[2016-04-21 16:53] Manishearth commented on #33062
Could we ship a language plugin with rust that just redirects lldb to C++ (and later improve on it so it's smarter)?

[2016-04-21 17:49] petrochenkov commented on #33118
My intuition says that function bodies (and constant initializers, etc) should be isolated from local variables in their containing scopes.

I suppose that current behavior is targeted at people coming from languages that allow nested functions to capture their environment, so they can get proper diagnostics - "you can't do that in Rust".
This can probably be done with a lint with the same success

[2016-04-21 18:01] Mixthos opened #33136 "rustc runs out of memory after reporting faulty macro"
Rustc runs out of memory when parsing this (faulty) code:

[code]

I ran this command:

[code]

Then it allocated extreme amounts of memory and after a few minutes this happened:

[code]
## Meta

[code]

The same thing happens on 1.8 stable GNU, though.

[2016-04-21 18:49] sfackler commented on #32281
I just noticed that while this is on both `OccupiedEntry` and `VacantEntry`, the convenience impl on `Entry` is missing.

[2016-04-21 18:56] seanmonstar commented on #32281
If I wanted to propose a `fn take(self) -> (K, V)`, would it be fine to tag along with this issue, or should that require its own RFC?

[2016-04-21 18:59] sfackler commented on #32281
I think it'd be more associated with the key recovery tracking issue, but that's already landed. In any case, I don't think an RFC would be required - it can piggy back off of the existing key recovery one.

[2016-04-21 19:00] sfackler commented on #32281
cc @aturon

[2016-04-21 20:09] nikomatsakis commented on #33096
triage: P-high

[2016-04-21 20:13] nikomatsakis commented on #31964
related to https://github.com/rust-lang/rust/issues/25801

[2016-04-21 20:15] nikomatsakis commented on #31964
triage: P-high

This core issue according to @arielb1 is the problem of the OF not doing snapshotting, but method resolution assumes it does. An older fix was https://github.com/rust-lang/rust/pull/26324.

[2016-04-21 20:45] arielb1 commented on #31964
Not method resolution, but rather coercion.

[2016-04-21 20:55] nikomatsakis commented on #32949
@eddyb I think borrowck does want the lifetime to include the initializer, in order to allow things like `let foo = &3`

[2016-04-21 21:22] arielb1 opened #33139 "trait objects with late-bound regions and existential bounds are resolved badly"
## STR

[code]

## Expected Result

Code should compile and run

## Actual result

[code]

[2016-04-21 21:30] arielb1 opened #33140 "Send + Sync and Sync + Send are distinct valid types"
## STR

[code]
## Expected Result

This should not compile, or should print "types are equal"
## Actual Result

This prints "types differ".

[2016-04-21 21:32] arielb1 commented on #33140
I *think* this should be fixed to not compiling, right?

[2016-04-21 21:51] jseyfried commented on #33118
cc @nikomatsakis

[2016-04-21 22:01] #33069 closed

[2016-04-21 22:17] nrc commented on #33118
I think I would prefer for inner function bodies not to 'see' the enclosing function bodies at all, i.e., `f2` in the OP would not be an error. AIUI, the motivation is only that error comparing with closures, which I believe should be a lint, rather than an error (to be clear, there should be a warning lint when there are names in scope both outside the function and inside it, which today would be

[2016-04-21 22:37] jseyfried commented on #33118
@petrochenkov @nrc ok, you've convinced me that we should allow the example in the OP with a warning lint.

[2016-04-21 22:59] jasonmolenda commented on #33062
My two cents: The right solution is for the rust files' debug info to use `DW_LANG_Rust` (0x1c) as their language code.  gdb and lldb can be modified to handle `DW_LANG_Rust` as if it were C++ if that's the closest approximation.  I mentioned in an earlier comment that the RenderScript language support in lldb behaves this way, see `ClangASTContextSupportsLanguage()` in `source/Symbol/ClangASTCont

[2016-04-21 23:48] petevine commented on #32359
After the exa refactor, `debug + optimizations` produces some more info, this time neon memcpy is explicitly hit, probably starting at # 4:

[code]

[2016-04-22 00:19] jseyfried commented on #33118
@nrc Do you think the relative order of macro 2.0 definitions and statements in a block should matter?
For example,
[code]

[2016-04-22 00:27] jseyfried commented on #33118
If we decided the relative order of macro 2.0 definitions and statements should not matter, we would be able to use a macro in a statement before it was defined.

Perhaps a simpler way to state the question is "should a macro 2.0 definition in a block be analogous to a function item or to a local variable initialized with a closure?"

[2016-04-22 01:47] jmjoy opened #33144 "Recursive type can't finish compile under 1.8.0 stable."
[code]
Run in playground:
playpen: timeout triggered!

[2016-04-22 01:58] alexcrichton opened #33145 "MSVC: Spurious PDB error on the bots"
Bots are very frequently nowadays failing with:

[code]

Normally on some run-pass test. The test that fails is almost always different.

No idea what's going on, and the internet seems to think that this is either one of:

* Something running in parallel
* OOM
* Stale cache files
* maybe more?

I'm pretty sure the bots aren't hitting OOM as these are tiny tests, I'm also pretty sure that nothing

[2016-04-22 04:03] tromey opened #33146 "wrong line number for function in DWARF"
Consider this test case:

[code]

If I compile this and then examine the resulting DWARF line table for `p`, I see that it apparently covers line 2:

[code]

A somewhat easy way to see this is with `disassemble/s` in gdb.  (Also for some reason gdb thinks that this line 2 is the end of the prologue for the function, but from the disassembly this is many instructions in, so I think something else w

[2016-04-22 04:22] durka commented on #33140
Why should they be different?

[2016-04-22 04:23] durka commented on #33144
Fixed in beta and nightly.

[2016-04-22 04:24] #33144 closed

[2016-04-22 04:31] bluss commented on #33127
it would need to be `format!("{:02x}", &[2u8, 3])` for the assertion to hold, requiring the formatter options to apply per element. I think it makes sense that way, but it's unprecedented unfortunately.

[2016-04-22 05:03] glandium opened #33147 "--target should ignore the machine part of the triplet in most cases"
Currently, rustc accepts a limited set of --target values. Those match _some_ of the values one can get out of the typical `config.guess`, but for most platforms, the machine/manufacturer part of the target triplet should be ignored, or allowed to be omitted. (the output of config-guess is of the form `CPU_TYPE-MANUFACTURER-OPERATING_SYSTEM` or `CPU_TYPE-MANUFACTURER-KERNEL-OPERATING_SYSTEM`)

For

[2016-04-22 07:21] netroby commented on #32566
Rust lang 1.8.0 rustup seems fix this bug now.

[2016-04-22 07:21] #32566 closed

[2016-04-22 08:09] Manishearth commented on #33062
@jasonmolenda "All of that support is over at swift.org (github repositories) - the swift language support pretty cleanly drops on top of lldb (the model being designed os that additional languages can be added by other groups). "

So does swift ship a dylib plugin or something? Can we do the same thing in a bare-bones way and just have it redirect to C++ for now?

[2016-04-22 08:20] Manishearth commented on #33062
If that's not possible, I suggest we patch lldb asap so that it treats DW_LANG_RUST as C++, and by the time that reaches a release we can switch to emitting DW_LANG_RUST by default so that the gdb thing is more widely useful. If this language switch flag is to be kept around for a long time we'd need `'cargo` integration and all and I'd really prefer to get rid of it as fast as possible.

[2016-04-22 08:22] jasonmolenda commented on #33062
lldb is hosted over at http://lldb.llvm.org (not github, unfortunately).  Check out the sources (svn or there's a read-only git mirror) and make the change I suggest above -- verify that it works correctly & is sufficient for your rust program when it calls itself `DW_LANG_Rust` in the debug information.  Normally you'd then you'd go through the patch review system there - add a Differential Revie

[2016-04-22 08:25] Manishearth commented on #33062
Thanks. I personally don't have enough space right now for an extra LLVM+LLDB build (no time either, and already working on gdb stuff).

Is anyone else up for this?

[2016-04-22 08:32] arielb1 commented on #33140
They should be the same type (rather, this code should not compile) The bug is that they are different.

[2016-04-22 08:59] GuillaumeGomez commented on #33131
I see the version number on the right and the "[ - ]" on the left.

[2016-04-22 09:16] nikomatsakis commented on #33118
A couple of points:

Maybe I am unusual, but this error always confuses me every time I get it. It assumes (as @petrochenkov said) that I was *trying* to capture that variable in the first place, but -- because I know Rust's rules -- I never am. I would much prefer a straight-forward error with a HELP attached or something like that.

Just to clarify though, there are two distinct cases to be conc

[2016-04-22 09:17] nikomatsakis commented on #33118
In any case, I agree that -- in the original example -- the reference should resolve successfully in both cases to the `foo` at the module scope.

[2016-04-22 09:44] mitaa commented on #33131
That's because of the css, but the actual html element ordering is "version number, [-], function".
(the screenreader presumably doesn't care about css (?))
(I have a simple [fix][0] ready - will check and submit later today)

[0]: https://github.com/mitaa/rust/tree/patch-3

[2016-04-22 09:49] thepowersgang opened #33150 "ICE when macro substitution doesn't have */+"
Regression from stable (present in beta and nightly)

The following code hits an ICE after emitting the expected error

[code]

[code]

[2016-04-22 12:34] pnkfelix commented on #32637
This particular instance of this problem seems to have resolved itself on `master`:

[code]

Looking over the git log for rust in range `bf5da36f1..7979dd608`, my guess is that it was probably fixed by #32748

Closing as fixed.

[2016-04-22 12:34] #32637 closed

[2016-04-22 13:50] xosmig commented on #19986
I started working on `append` and `split_off` methods for `BTreeMap` and `BTreeSet`.

[2016-04-22 13:52] arielb1 commented on #32867
This does not affect 1.8+

[2016-04-22 13:52] #32867 closed

[2016-04-22 14:01] apasel422 commented on #19986
@xosmig #32466 already covers `BTreeMap::append`.

[2016-04-22 14:39] arielb1 commented on #28660
I feel like this is fixed in 1.9+:

[code]

[2016-04-22 15:40] llogiq commented on #30785
RFC [#1270](https://github.com/rust-lang/rfcs/blob/master/text/1270-deprecation.md) explicitly notes the possibility of future deprecation, but cautions that this implies a semver dependency. OTOH, `std` only has to care about rustc's version.

[2016-04-22 15:50] xosmig commented on #19986
@apasel422 OK. Then only `append`.

[2016-04-22 16:11] durka commented on #33140
I still don't understand, sorry... what compile error do you expect? If they were the same type, it would print "types are equal"? Are you saying that neither of them should be accepted as a type?

[2016-04-22 16:59] camlorn commented on #33131
yeah, the screen reader behavior is different.  Some CSS is respected, some isn't.  There is no list of things that will and won't work.
If you can post a link to generated docs or something, I'll go over it.  This should be an easy fix, I just can't be the one to do it for really obvious reasons.

[2016-04-22 17:01] arielb1 commented on #33140
@durka

I am going to write a PR that will make neither of them be accepted as a type.

[2016-04-22 17:03] durka commented on #33140
Okay... maybe in the PR you can explain why, as I keep asking? FWIW, `Any + Send + Sync` and `Any + Sync + Send` are equal using your code above.

[2016-04-22 17:12] aturon commented on #33145
cc @vadimcn @retep998

[2016-04-22 17:36] GuillaumeGomez commented on #33131
I'll try to take a look this week-end if you want.

[2016-04-22 17:47] alexcrichton commented on #33145
Theory: We have two concurrent builds running on the same machine. They both hit the run-pass test suite at the same time. They then try to compile the same test case at the same time. Finally, this chokes mspdbsrv.

That seems to align with the vague descriptions on the internet about parallel builds, explains why we started seeing this recently (an uptick in the amount of things we test), explai

[2016-04-22 18:05] michaelwoerister commented on #33062
@Manishearth I'll look into it.
@jasonmolenda Thanks for offering your help, it's very much appreciated!

[2016-04-22 18:18] alexcrichton commented on #33145
To update, looks like the 32-bit linker on MSVC will simply choke **if it is ever invoked in parallel**. We only have one 32-bit MSVC bot which confused me for a bit, but this'd explain why we're failing in run-pass, we're invoking a lot of things in parallel...

[2016-04-22 18:38] jseyfried commented on #25544
@eddyb yeah, I was plannning on doing cfg processing after parsing during expansion, but it looks like this will require at least some cfg processing during parsing.

I like the idea of not loading or parsing an unconfigired module, but that will probably need more discussion.

cf #32846 and #32006
cc @nrc

[2016-04-22 19:43] jseyfried commented on #33118
@nikomatsakis

Agreed.

Right.

I think we're all pretty much in agreement on how to handle this issue.

[2016-04-22 19:53] alexcrichton commented on #33145
For posterity, this was my test program. This fails on 32-bit MSVC today (the 1.8 release) and will hopefully pass once #33155 lands.

[code]

[2016-04-22 19:56] vadimcn commented on #33145
From what I could glean on the internet, it seems that the culprit is `mspdbsrv` running out of memory.  Why only on 32-bit builder?  Because it probably uses 32-bit tools, so `mspdbsrv` is limited to 2G of memory.   Care to check?  (I don't have a 32-bit Windows handy).

[2016-04-22 19:59] alexcrichton commented on #33145
Yeah unfortunately I found the internet pretty unreliably in diagnosis here. I could definitely repro locally and didn't see OOM anywhere (maybe I misssed it?).

No idea! But actually, I'm not sure :(. The program above will succeed for x86_64-pc-windows-msvc and fail for i686-pc-windows-msvc, though.

Unfortunately I don't have access to a 32-bit only machine either :(

[2016-04-22 20:19] alexcrichton commented on #33147
cc @brson, do you recall if there was any specific reason for doing exact target matching at some point in the past?

I believe LLVM has support for all of this under the hood, so it should be relatively easy to just follow what clang does here.

[2016-04-22 20:47] nikomatsakis commented on #32409
So in the @rust-lang/lang meeting we discussed this problem, as well as the solution implemented in #33100. Our conclusion was that we really ought to explore the cover grammar approach [described earlier by @petrochenkov](https://github.com/rust-lang/rust/issues/32409#issuecomment-204926186) here:

It is basically the only approach that lets restricted paths and tuple structs be fully integrated,

[2016-04-22 20:53] arielb1 commented on #33140
The problem type is `Sync + Send` *without any additional trait*. `Any + Sync + Send` is a perfectly good type, and will not be removed.

[2016-04-22 21:01] nikomatsakis opened #33156 "permit `Drop` types in constants (tracking issue for RFC #1440)"
Tracking issue for rust-lang/rfcs#1440: "Allow Drop types in statics/const functions"

- [x] Implement [amendment RFC](https://github.com/rust-lang/rfcs/pull/1817)
- [ ] [Improve error message](https://github.com/rust-lang/rust/pull/44212#discussion_r136288924)

[2016-04-22 21:10] thejpster commented on #31367
So I tried 1.10.0-nightly (b5ba5923f 2016-04-21) with my bare metal ARM project and it says it "failed to run rustc to learn about target-specific information". In verbose mode it complained that "Field data-layout in target specification is required".

Oh, well, I'll put it back in then. But if you put it back in, you still get this issue.

I note the O/Ps Travis build is also broken, so it's pro

[2016-04-22 21:13] Manishearth commented on #31645
https://github.com/rust-lang/rust/pull/33157 is also in the list

[2016-04-22 21:22] mbrubeck commented on #32725
I think the problem is that `Box<Debug>` is shorthand for `Box<Debug + 'static>`, so the `deref_mut` returns `&mut (Debug + 'static)` instead of just `&mut Debug`.  This compiles:

[code]

[2016-04-22 21:27] eefriedman commented on #32725
Yes, deref_mut returns an `&mut (Debug + 'static)`... the question is why the implicit conversion isn't kicking in when it should. The following compiles:

[code]

[2016-04-22 21:32] phil-opp commented on #31367
The data-layout field was made manditory again in #32939. The correct values for the built-in target triples can be found [in the commit diff](https://github.com/rust-lang/rust/pull/32939/commits/0776399eac62f8cf5cb02761014e8ed6c51204aa) (they are shorter now). The field layout is specified in the [LLVM documentation](http://llvm.org/docs/LangRef.html#data-layout).

Thanks for the hint :).

[2016-04-22 21:35] japaric commented on #31367
FWIW, I have found two ways to make llvm generate a (seemingly) correct data layout for you:

### Using `clang`

[code]

Where `thumbv7m-none-eabi` is the `llvm-target` field in your target specification file. And `clang` should be recent-ish, probably 3.8+ or you'll get the old, longer data-layout format.

### Using an old `rustc`

The other way is to use a `rustc` nightly from 2016-04-20 or olde

[2016-04-22 21:40] durka commented on #33140
Is it because they are both marker traits? Or both auto traits?

[2016-04-22 21:49] gsquire commented on #32901
I would like to try and tackle this. Is this the home of the tidy checks?
https://github.com/rust-lang/rust/tree/a43eb4e774f6d51b7012bba3d25212819ab0e3dc/src/tools/tidy

[2016-04-22 21:53] alexcrichton commented on #32901
@gsquire Awesome! That is indeed where they all live

[2016-04-22 23:27] nikomatsakis opened #33158 "`#[repr(packed(N))]` (tracking issue for RFC 1399)"
Tracking issue for rust-lang/rfcs#1399: `#[repr(packed(N))]`

### Unresolved issues ###

* [ ] Should borrows to packed fields be safe if the field's natural alignment is greater than or equal to the packing value, or should all fields of a packed struct always be unsafe to borrow?
* [ ] Currently `#[repr(packed(_))]` structs cannot transitively contain `#[repr(align(_))]` structs due to differing

[2016-04-22 23:32] nikomatsakis commented on #29638
After discussion in the @rust-lang/lang meeting, we decided **not** to stabilize this feature just yet (and hopefully not ever).

The key points of discussion already appear in this thread:

- The interaction with `$crate` seems thoroughly flawed. The only way to use this is if you are adopting a "facade" pattern like libstd, where each successive crate in the facade re-exports everything.
- In pr

[2016-04-22 23:52] nagisa opened #33159 "Missing auto-load script in gdb"
When compiled with `-g`, we produce binaries which contain a `gdb_load_rust_pretty_printers.py` in `.debug_gdb_scripts` section.

However, distribution puts this script into `$INSTALL_ROOT/lib/rustlib/etc`, which is someplace gdb wouldn’t ever look at by default.

Some experimentation suggests that placing the scripts at gdb’s `DATA-DIRECTORY/python/gdb/printer/` will at least make gdb detect the

[2016-04-23 00:29] nagisa commented on #33147
From the man pages:

[code]

This matches the behaviour of LLVM.

To me it seems like `<vendor>` might have some purpose, as long as it is not `unknown`, but I do not agree we should allow to omit it even in the case of `unknown`.

Perhaps it would make sense to not allow target files to be for `unknown` vendor and, when a target with `unknown` vendor is requested, select any of the known vendors

[2016-04-23 03:08] retep998 commented on #33145
Did you know, the point of `mspdbsrv.exe` is actually to serialize requests to PDB files to _avoid_ issues that arising when invoking the compiler in parallel?

[2016-04-23 10:32] bluss opened #33162 "impl Copy does not know about specialization"
[(Playground link)](https://play.rust-lang.org/?gist=ff071268e631f721b1fa1c4cb222b97c&version=nightly&backtrace=0)

Imagine you have a type that you want to be `Copy` in a subset of cases (in a specialization).

In the example code, the bound `A: Copy` in `impl<A: Copy> Copy for Foo<A> { }` implies a special case of `Repr` where the type of the struct field is known to be `Copy`, and thus this sho

[2016-04-23 11:32] arielb1 commented on #33162
This looks like the normal "associated type being hidden from view" issue.

[2016-04-23 12:16] thejpster commented on #31367
I tried the clang method with clang-3.5, but the value it produced did not work. On a whim, I added a:0:32 and then it compiled OK. Haven't actually tested the binary though.

[2016-04-23 12:36] #32994 closed

[2016-04-23 12:52] bluss commented on #33162
Ok. If I add `where A: Repr, A::Data: Copy ` the Copy impl does compile (but it makes Repr visible in the public).

[2016-04-23 12:56] sanmai-NL commented on #32947
Maybe you can write a PR with test case so that this gets addressed?

[2016-04-23 13:00] sanmai-NL commented on #25295
@alexcrichton: should a test still be written for this?
Panicking is not correct, better would be that the number of variants is limited explicitly and that this is documented. Better still if there is no limit, of course.

[2016-04-23 13:09] arielb1 commented on #33162
@bluss

The problem is that outside users are not allowed to assume *anything* about specialized associated items.

[2016-04-23 13:18] bluss commented on #33162
The code in the example seems to be self-contained and should not involve reasoning from the outside. The `A: Copy` bound implies a specific specialization that can not be specialized further.

[2016-04-23 14:36] fgsch opened #33165 "rustc breaks when jemalloc is configured with abort:true,junk:true,redzone:true"
[code]

Same if I try to compile something:

[code]

@bluss tested other combinations with similar results so doesn't look like it's Debian specific:
https://travis-ci.org/bluss/rust-itertools/builds/125225098

[2016-04-23 14:59] durka commented on #29638
I agree that it's only practical for a facade pattern, but sometimes that's
fine or there are no non-macro items so it's not an issue.

I'm confused by your last bullet. Can you elaborate on how Cargo features
provide a facility for macro crates to participate in the dependency system?
On Apr 22, 2016 19:33, "Niko Matsakis" <notifications@github.com> wrote:

[2016-04-23 15:40] sourcefrog opened #33166 "suggest adding #[test] on otherwise-dead code that looks like a test?"
On this code:

[code]

I currently get

[code]

What I need here is a `#[test]` before the function of course.  Perhaps rustc could suggest this if some of the following hints are seen
- it's in `#[cfg(test)]`
- it's in a submodule `tests`
- the function's called `test_*`

I don't know if making suggestions based on names is considered unhygienic, but this would remove a small speed bump for new u

[2016-04-23 16:21] sourcefrog opened #33168 "Mutex docs don't describe the semantics of `clone`"
Examples in https://doc.rust-lang.org/std/sync/struct.Mutex.html show cloning a mutex, but don't describe the semantics of it.

I see the actual lock is in a box and the contents are in a cell so I think cloning gives you another value referring to the same lock.

To me this wasn't obvious from the docs and it would be worth making clear.

If you think this isn't too obvious to document, assign to

[2016-04-23 16:35] #33168 closed

[2016-04-23 16:35] sourcefrog commented on #33168
sorry, I misread this

[2016-04-23 16:43] c4rlo commented on #32725
I described a closely related issue [here on the Rust user forums](https://users.rust-lang.org/t/confused-about-deref-mut/5523/4).

[2016-04-23 17:04] oyvindln commented on #32111
What is blocking this from being stabilised?

[2016-04-23 19:24] nagisa commented on #33165
Can’t seem to reproduce with the `rustc 1.9.0-nightly (177905703 2016-04-08)` built by our buildbots myself.

(configuration as symlink??!)

[2016-04-23 19:32] GuillaumeGomez commented on #33166
That's maybe a bit too much? The idea is good but I'm afraid it might overload the output. Let's see what others think about it.

[2016-04-23 20:36] bstrie commented on #31239
@sfackler I'm not sure that this requires Rust 2.0 to achieve. We could simply follow the precedent set by our renaming of `connect` to `join` on strings and deprecate the old names.

[2016-04-23 21:07] fgsch commented on #33165
Yes, symlink is one of the ways to do this. The environment and the malloc_conf variable are the others.

[2016-04-23 21:44] m4b opened #33172 "no_mangle static symbols have improper debug info"
# Repro
1. `cargo new --bin static`
2. `cd static`
3. add the following code to `main.rs`:

[code]
4. `cargo build`
5. `gdb target/debug/static`
6. `break static::main`
7. `r`
8. `whatis TEST`
9. output: `type = <data variable, no debug info>`
10. frown

When `TEST` is a `repr(C)` struct, etc., this makes debugging extraordinarily difficult and laborious.
# Actual Use Case

I'm implementing the gd

[2016-04-23 22:59] sfackler commented on #32111
Nothing in particular other than that we haven't gotten to it yet.

[2016-04-24 00:03] #33052 closed

[2016-04-24 00:41] ubsan opened #33173 "Building a staticlib tells you *all* of the native artifacts you must link against in a non-optional way"
I'm currently building a C library, and it gets really annoying when, every time I compile, I get

[code]

First: it's not in a useful output format. It would be more useful if each of the `note: library:`s was replaced with `-l`, and it was moved to one line.

Second: It's not optional. I have to see this _every time I compile_. Which is a lot.

Third: It's to stderr. These are not errors. _I can

[2016-04-24 03:10] briansmith commented on #27703
More feedback: Currently `rand::Rng::fill_bytes` is defined to panic if it fails to generate the necessary random values, and there's no way to avoid those panics. Further, the panic behavior of other methods isn't specified but since they also don't use `Result` as their return type, they also have no choice other than to panic or abort the process.

For some applications, this is unacceptable. T

[2016-04-24 03:34] alexcrichton commented on #25295
In theory yeah if there's something that overflowed previously and no longer does, we should have a test for that :)

[2016-04-24 03:39] alexcrichton commented on #33173
cc https://github.com/rust-lang/rust/issues/31471

[2016-04-24 03:56] ubsan opened #33174 "pub(restricted) produces misleading diagnostic for private type in public interface lint"
[code]

fails with `error: private type in public interface [E0446]`

https://play.rust-lang.org/?gist=35cee8425ac59ef27aa8898bd6343083&version=nightly&backtrace=0

[2016-04-24 04:18] tromey commented on #33172
This is issue #32574.

Note that gdb supports a second, improved interface to detecting shared library events.  I don't remember exactly when this went in but here's one of the series; if you're interested this should help find the final patches:

http://www.cygwin.com/ml/gdb-patches/2012-07/msg00157.html

There's a Rust crate for making stap-style probes.

[2016-04-24 04:19] tromey commented on #32954
Also, this is issue #29467, which apparently has a patch.

[2016-04-24 04:32] tromey opened #33175 "DWARF does not mention Self type"
I wrote a simple test program using the `Self` type:

[code]

When I examine the resulting DWARF, I don't see any mention of `Self`.  I think it should be emitted as a typedef pointing to `Something`.

[2016-04-24 05:34] tromey commented on #29423
FWIW this works in my gdb branch now:

[code]

[2016-04-24 06:29] cyplo commented on #32834
Hey ! I need some more time to get to PR, as I'm quite tight on time lately. If it's not critical/needed quickly - I will come up with PR eventually. If it is - feel free to grab it.

[2016-04-24 06:53] retep998 commented on #31471
While there might not be a standard for most compilers, msvc definitely does have a way for libraries to specify dependencies that are pulled in automatically.

[2016-04-24 08:23] petrochenkov commented on #33174
The error itself is correct, but the error messages are not updated yet.
`Doop` and `Inner` don't have the same scope (visibility), `Doop` is `pub` so its visibility is "all crates", `Inner` is `pub(crate)` so its visibility is "this crate".
Items with visibility `v` can't use items with visibilities `v' < v` in their interfaces.

[2016-04-24 08:24] #33054 closed

[2016-04-24 08:40] ubsan commented on #33174
@petrochenkov Inner is not in the interface of Doop.

[2016-04-24 08:45] ubsan opened #33176 "Codegen bug? (very unsure)"
The following code:
[code]

Results in a double drops of all the Ts inside the Arena and I'm not sure why...

[2016-04-24 09:21] llogiq opened #33177 "rustc::lint could use some helper functions for working with macros"
(See #22451 and possibly others)

Currently we have a few functions in [clippy](https://github.com/Manishearth/rust-clippy)`/src/util/mod.rs` to deal with macros. Namely we can check if some span stems from a macro expansion (though that one could need some work), or if some span was expanded by a given macro (by name) somewhere or directly, or if two spans are in the same macro expansion. This is

[2016-04-24 09:26] Manishearth commented on #33177
As far as licensing is concerned, feel free to relicense my contributions to clippy as Apache v2, MIT, or dual Apache v2/MIT.

... should have put more thought into the license when picking it initially. It has made it easier to copy code into Servo (which I do every now and then, and Servo is MPL), but I'm not sure what the situation with copying to Rust without needing to add a license is. I'm o

[2016-04-24 09:28] Manishearth commented on #33177
I actually looked through Rust's lints and most of them don't _need_ macro checks; they all make sense from within a macro or across macro boundaries. Some of them like the unused_ ones just need your macro to have underscores or allow annotations. I don't think there's a pressing need for macro checks for any of them, however I would like to move macro checks into rustc::lint so that other lint w

[2016-04-24 09:47] Marwes opened #33178 "Rustdoc does not generate links for `pub extern crate`"
When reexporting crates using `pub extern crate` rustdoc does not generate links to the crates.

Example https://marwes.github.io/embed_lang/embed_lang/index.html#reexports

[2016-04-24 10:16] SimonSapin commented on #27703
That’s `Result::unwrap`, right?

[2016-04-24 10:20] bluss commented on #27739
I think that as long as libstd does not want to have traits for numerics, these iterators need to wait as well. Num crate would be a good place to put them.

[2016-04-24 10:27] nodakai commented on #33127
+1. Let's discuss the details...

What shall we do if we want a space between elements? `{:03x}`? Then the first item will get an unnecessary space. What about a space and a comma? Perhaps we can utilize the "alternative format" `#` here.

Do you think we should have a way to limit the number of elements to print? Maybe we can repurpose the "precision" parameter for it but that might be too arbitr

[2016-04-24 10:37] bluss commented on #33127
itertools has a method (.format_default() is the name..) that does elementwise lazy formatting with an explicit separator. That would rather be a good model for an addition to the libstd API (for example a method for an iterator).

[2016-04-24 10:45] BusyJay commented on #33127
I don't think we need to take care of custom delimiter, because neither currently implemented format traits of Vec support custom delimiter.

[2016-04-24 11:00] bluss commented on #33127
The default delimiter is ", " isn't it (what Vec uses in Debug)? So if you want to print them without anything separating the elements, maybe it needs to be specified.

[2016-04-24 11:17] retep998 commented on #33127
I personally would prefer `Debug` style output, just with hex instead of decimal.

[2016-04-24 12:47] Manishearth commented on #31645
Merging now: https://github.com/rust-lang/rust/pull/33179

[2016-04-24 14:16] gdrooid opened #33180 "Infinite loop when building recursive type"
[code]
This causes an infinite loop when building, unlike:
[code]
where you get a `error: recursive type `X` has infinite size [E0072]`.

This happens on stable `rustc 1.8.0 (db2939409 2016-04-11)`.

[2016-04-24 14:28] jonas-schievink commented on #33180
This is fixed on nightly. Please check if bugs exist on the current nightly before opening an issue :)

[2016-04-24 14:30] gdrooid commented on #33180
I see, sorry.

[2016-04-24 14:30] #33180 closed

[2016-04-24 16:17] petevine opened #33181 "stdio related segfault (ARM regression affecting 1.9+)"
Issue https://github.com/rust-lang/rust/issues/32359 doesn't reproduce in 1.8 stable and it doesn't trigger when redirecting console output to a file.

If the issue is actually related to LLVM in any way (via parallel codegen), the relevant difference could be clang, as [rustc 1.8](https://www.dropbox.com/sh/ewam0qujfdfaf19/AAAIWnsAZKokFJflFVhdf0lia/ARMv7/1.8.0-stable/rust-1.8.0-stable-2016-04-12-

[2016-04-24 16:34] ubsan commented on #33176
[code]

results in the printout

[code]

[2016-04-24 16:49] ubsan commented on #33176
Here's the full code: https://gist.github.com/ubsan/372cc32d052f4d4d88e9c74cca10d9ca

[2016-04-24 17:06] ubsan commented on #33176
Well. I'm dumb.

typed_arena::Arena frees it's contents when it drops xP

[2016-04-24 17:06] #33176 closed

[2016-04-24 19:50] rillian commented on #31471
Oh! That would be great. Can you share some documentation about how this works? As far as I knew msvc `.lib` static libraries were just `ar` archives of COFF object files--with no link metadata--the same as Linux and Mac.

[2016-04-24 20:24] retep998 commented on #31471
I can't find any documentation on it at the moment, just some other documentation that alludes to it.

https://msdn.microsoft.com/en-us/library/f1tbxcxh.aspx

https://msdn.microsoft.com/en-us/library/229a6ysd.aspx

So the capability is there in object files, I just have no idea how to add that information to the object file.