[2016-12-18 18:11] alexcrichton commented on #38447
Yes this is currently expected behavior to support out-of-tree builds. I don't think there's really any location for a shared cache as well as often the source tree can be read-only where the only writable directory is the build tree (current directory)

[2016-12-18 18:12] zeldin commented on #36793
No, the nightly has the same problem:
[code]
And the symbol in the library is `std::rt::lang_start::hbf07045205cfddc7`

[2016-12-18 18:16] eddyb commented on #36793
cc @infinity0 @michaelwoerister

[2016-12-18 18:17] #38448 closed

[2016-12-18 18:24] alexcrichton commented on #38273
I'd like to avoid adding two crate types for this at all costs if possible (plus it's already landed so it'd be difficult to change).

This basically *only* deals with lint warnings, so I think @michaelwoerister has a good point that we can just, if compiling metadata, consider the start function, if any, used. I agree that it shouldn't be too difficult to implement in the compiler as well.

[2016-12-18 18:25] alexcrichton commented on #38446
This is sort of the definition of `--keep-stage`, it's flaky unless it's precisely understood why it's ok to skip a previous stage. There's not really any way to solve this issue short of removing the flag itself. If you believe there's buggy logic in rustbuild elsewhere then we can dig into it, but I'm going to close this issue as it's not particularly actionable.

[2016-12-18 18:25] #38446 closed

[2016-12-18 18:30] shouya opened #38456 "rustc panic with &str"
Looks like I triggered a bug in rustc.

[code]

[2016-12-18 18:32] shouya commented on #38456
Here's the backtrace output:

[code]

[2016-12-18 18:32] nagisa commented on #38456
Duplicate of https://github.com/rust-lang/rust/issues/38155.

[2016-12-18 18:36] shouya commented on #38456
Fix confirmed in `rustc 1.15.0-nightly (8f02c429a 2016-12-15)`, thanks :)

[2016-12-18 18:36] #38456 closed

[2016-12-18 21:24] a2aaron opened #38458 "ICE when returning from block in const"
A friend was teaching me Rust and showing me the distinction between `return` and the value of an expression, and when I tried to put a `return` in a top level `const`, we got a panic.

Here's a minimal reproducing case.
[code]
[Playground](https://is.gd/skI0zo)

Fails with:
[code]

[2016-12-18 21:27] nrc commented on #38273
@alexcrichton what do you think of this idea, I think it is my favourite, although the semantics are a little bit non-obvious:

[2016-12-18 22:01] zeldin commented on #38453
Hm.  In clang (3.8.1) you need to specify either `-mcpu=power8` or `-mpower8-vector` to enable these instructions.  The default is `-mcpu=ppc64` and `-mno-power8-vector`.  But maybe defaults are different when using LLVM directly?

[2016-12-18 22:06] #23755 closed

[2016-12-18 22:06] #27746 closed

[2016-12-18 22:06] #27784 closed

[2016-12-18 22:06] #28356 closed

[2016-12-18 22:06] #31398 closed

[2016-12-18 22:06] #34931 closed

[2016-12-18 22:06] #35601 closed

[2016-12-18 22:06] #35603 closed

[2016-12-18 22:06] #35918 closed

[2016-12-18 22:06] #36105 closed

[2016-12-18 22:16] zeldin commented on #38453
Looking at `Target/PowerPC/PPC.td` in the LLVM sources, the instruction is enabled by the ProcessorModels "pwr8" and "ppc64le", but not by "ppc64".  No idea how the default ProcessorModel is chosen if none is specified...

[2016-12-18 23:35] vadimcn opened #38460 "Repeated #[link] attributes for the same library cause it to be passed as many times to the linker."
In extreme cases this may cause trouble on Windows, where the maximum length of the command line is 32000 bytes.  Also, may slow down linking.

[2016-12-18 23:38] vadimcn commented on #37403
In any case, this is not a new issue and has nothing to do with dllimport annotations.  Let's continue this discussion in #38460.

[2016-12-18 23:41] vadimcn commented on #38460
As I mentioned on IRC, we could probably safely collapse repetitions of the same library.  Beyond that, there's a risk of breaking someone.
Also, we can de-dupe libs passed to msvc linker, as it doesn't do left-to-right scanning and considers all libraries at once.

cc @retep998, @dgrunwald, @alexcrichton.

[2016-12-18 23:56] KodrAus commented on #20168
I played around with a similar idea, but didn't like that it's possible to implement incorrectly, which in my case would mean interpreting memory incorrectly. Which I guess is why you've marked it as `unsafe`.

I'd like to propose simply removing the `'static` bound from the `type_id` intrinsic. That way implementations of `Any` and `TypeId` for non-static types can easily be put together outside

[2016-12-19 00:01] abonander opened #38461 "Generic/where clause bounds generated by a macro fail to parse even when syntactically correct"
There is **no** fragment specifier to make `$genericbnd` work in the following macro:

([playpen](https://is.gd/uSRu8D))
[code]

The parser assumes the `$generic` token encompasses the whole type and fails to parse the actual bound:

[code]

This similarly fails with `where` clauses:

([playpen](https://is.gd/bws0m5))

[code]

Which yields the following error:

[code]

This makes it very difficult

[2016-12-19 00:08] nagisa opened #38462 "Properly fix the personality_fn setting in MIR trans"
https://github.com/rust-lang/rust/pull/37862 has landed despite my repeated warnings this is a hack and should be fixed properly. This issue is a reminder for self to fix this properly once the larger PRs in queue land (the old trans cleanup and i128).

The fix would likely be as simple as fixing init_cpad function and reverting the whole patch from the linked PR.

[2016-12-19 00:11] Mark-Simulacrum commented on #38462
Just leaving a note here so it's easier to find for whoever works on this: After #38302, init_cpad will not exist, but will be inlined into `trans_mir`.

[2016-12-19 01:23] #37455 closed

[2016-12-19 03:09] michaelwoerister commented on #36793
PR https://github.com/rust-lang/rust/pull/38357 refactored the symbol hashing code a bit. Maybe it accidentally broke something. We should check if this reappeared recently or was broken all along for these targets.

[2016-12-19 03:12] michaelwoerister commented on #36793
Or maybe we fixed 32 bit vs 64 bit but not endianess (at least not all cases)?

[2016-12-19 05:04] durka commented on #38461
The problem is that a trait bound (right side of the `:`) isn't a type, even though it looks like one, and by the time it's parsed that way it's too late. In fact, there's no fragment specifier for it. The only choice is a tt-sequence, but then you need to use a recursive macro. See also [parse-generics](https://crates.io/crates/parse-generics).

[2016-12-19 05:30] sanxiyn commented on #38453
If you look at the file @alexcrichton linked, base.cpu is set to "ppc64". This is what is used to choose ProcessorModel. base.cpu defaults to "generic".

[2016-12-19 05:46] retep998 commented on #38460
While we can de-dupe libraries passed to the msvc linker, we should still be careful to preserve the order of the first mention of any given library, because if a symbol can come from several libraries, `link.exe` will pick whichever library has it first.

[2016-12-19 07:52] #36081 closed

[2016-12-19 12:17] #38406 closed

[2016-12-19 15:17] dawirstejeck commented on #38458
Seems to be fixed in nightly.

[2016-12-19 15:36] #31242 closed

[2016-12-19 15:36] #35046 closed

[2016-12-19 15:36] #38402 closed

[2016-12-19 15:36] #36934 closed

[2016-12-19 15:36] #38417 closed

[2016-12-19 16:07] tbu- commented on #38434
[code]

It looks like rustc can't deal with the combining character `VARIATION SELECTOR-16`.

[2016-12-19 16:31] xen0n commented on #22380
Random triage: already fixed by #31709.

[2016-12-19 16:38] petrochenkov commented on #37544
ping @nikomatsakis
I hoped to get this into the upcoming beta :(

[2016-12-19 16:48] alexcrichton commented on #38273
@nrc to clarify, that's for special casing when the compiler has two crate types requested, one for metadata and one for a binary?

If that's true, wouldn't that not solve the `cargo check` case because Cargo compiles with only `--crate-type metadata`?

[2016-12-19 16:50] bluss commented on #22380
Thanks, this is now fixed. (The fix is in Rust 1.13 at least, may be earlier).

[2016-12-19 16:50] #22380 closed

[2016-12-19 16:51] nikomatsakis commented on #38273
I agree it's easy to implement, but I'm not sure it's the right thing. If I understand the context correctly, @nrc is using this in the RLS. This means that if you are building a library and you have dead-code relating to a `main` function, then when using the IDE, you would not get the same warnings that you get when you run cargo from the command line, right? Isn't that confusing? It seems we sh

[2016-12-19 18:56] #37745 closed

[2016-12-19 19:35] michaelwoerister commented on #38281
@japaric I think that's pretty much up to the tools and compiler teams to decide. I personally don't mind giving lang-items special treatment, since that allows us to later not require #[no_mangle] or even that they are exported.

[2016-12-19 20:42] sgrif commented on #38382
Yes, I agree. I did check that adding

[code]

compiles successfully. It does (e.g. no coherence issues). I didn't confirm whether it solved the problem I was encountering though.

[2016-12-19 20:45] luser opened #38475 "Add something like `Duration::as_fractional_secs`"
I've found myself wanting to format a `Duration` as a human-readable number of seconds with a fractional portion. Of course I screwed up the conversion when I wrote that code, thankfully someone sent me a PR to fix it:
https://github.com/mozilla/sccache/pull/52

It would be nice if this was a built-in API. Ideally we'd have `pub fn as_fractional_secs(&self) -> f64`, but maybe that'd lose too much

[2016-12-19 20:54] zackmdavis opened #38476 "gentle skepticism of x.py naming rationale"
The commit message for a270b8014 states:

But the present author's dev environments do end up with another path starting with `x` in that directory, requiring another character to be typed to disambiguate tab completion: namely, the build directory for x86 target triples—

[code]

Unless the present author somehow has something configured unusually such that the `x86_64-unknown-linux-gnu` build di

[2016-12-19 20:54] michaelwoerister commented on #38475
:+1: I've found myself wanting something like this too quite a bit in the past.

[2016-12-19 20:56] nagisa commented on #38476
`x86_64-unknown-linux-gnu/` is a build artefact from the old configure-Makefile-based build system.

[2016-12-19 21:23] zeldin commented on #38453
Then it's weird that the instruction is generated, since that ProcessorModel does not have the required FeatureVSX.  Well, I'm going to cross compile rustc on Linux/AArch64 (which has a working beta available to bootstrap the process) so that I can investigate more directly.

[2016-12-19 22:11] zeldin commented on #38453
Ok, it's becoming more clear now.  The offending instruction does not come from compilation of Rust code at all, it is in fact C++ code from `src/llvm/lib/Support/CommandLine.cpp`.  This file is compiled with
[code]
For me this does not produce any VSX instructions, so I suspect the cross toolchain on the build server has been configure with inappropriate defaults.

[2016-12-19 22:36] aturon commented on #30172
@nagisa Thanks for the reminder! It looks like what happened here is that the libs team discussion was posted [to the PR](https://github.com/rust-lang/rust/pull/32366#issuecomment-240231116) rather than the tracking issue.

To recap:

But then [it turned out](https://github.com/rust-lang/rust/pull/32366#issuecomment-240272462) we can't quite get the desired sweet syntax for `Vec` yet, so we're pro

[2016-12-19 23:04] clarcharr commented on #38475
I'd recommend rewording to this as `as_float`, because `as_fractional` makes me think that it's going to be some sort of reduced fraction type.

[2016-12-19 23:35] Emilgardis commented on #38347
The `lldb_rust_formatters.py` script is not found, it should live in rustlib/etc, currently it lives in rustlib/src/rust/src/etc. I believe there is an open issue for it on rustup. This recursion issue is most likely something mac specific, as I've gotten rust-lldb to work on linux by softlinking the py script.

[2016-12-19 23:55] sfackler commented on #38475
There are a bunch of convenience accessors/constructors that would be great to add to `Duration`, including this one, milliseconds, etc. There are some slightly nontrivial API design decisions here around return types, so an RFC is probably warranted but I don't think it'd need to be too complex.

[2016-12-20 00:12] vadimcn commented on #33685
@nikomatsakis:

What if the returned value lives in the closure's environment?   I don't think `'static` would be a correct lifetime in such a case, but is there a syntax for referring to the lifetime of closure's `self`?

[2016-12-20 00:22] Emilgardis commented on #38347
#38380 could be related.

[2016-12-20 00:26] XMPPwocky opened #38481 "Outdated info in nomicon on drop flags"
[https://github.com/rust-lang/rust/blob/master/src/doc/nomicon/drop-flags.md](https://github.com/rust-lang/rust/blob/master/src/doc/nomicon/drop-flags.md)

The work described landed in #33622, so this is now out of date.

[2016-12-20 00:30] lfairy commented on #26330
Is there any workaround for this? A macro that I'm writing works this way.

[2016-12-20 00:31] alexcrichton commented on #38273
@nikomatsakis that is indeed a very good point. The only solution I see to that is indeed having a metadata-lib and a metadata-bin crate type.

Or just considering `fn main` used for lib crate types.

[2016-12-20 00:32] lfairy commented on #12832
Seems related to #26330

[2016-12-20 01:15] eddyb commented on #33685
@vadimcn `fn foo<'a, F: Fn() -> &'a u32>(f: &'a F)`

[2016-12-20 01:24] alexcrichton commented on #29717
@briansmith yeah makes sense to me that we'd want to make sure we document all supported target features in one way or another, including hierarchies and implications amongst them.

I do believe we support `-C target-feature=-foo`, although I don't know if it also has those sorts of implication changes (we just rely on LLVM for now). Would be good to find out!

[2016-12-20 02:29] est31 opened #38484 "rustbuild warning"
When you compile rust you get:

[code]

Regression of #38072

cc @nikomatsakis

Maybe rustbuild should be compiled with `#[forbid(warnings)]` to prevent errors like these in the future?

[2016-12-20 02:34] frewsxcv opened #38485 "Variadic foreign functions are not documented in the reference or TRPL"
Implemented in https://github.com/rust-lang/rust/pull/10064

e.g. https://github.com/rust-lang-nursery/rand/blob/71cba26d4c69eb57b9a10a5917e2fffd49de0b92/src/os.rs#L81

[2016-12-20 02:34] frewsxcv commented on #38485
I'm working on this right now.

[2016-12-20 02:38] est31 commented on #38484
cc @alexcrichton

[2016-12-20 02:58] japaric opened #38487 "Tracking issue for the `msp430-interrupt` calling convention/ABI"
Added in #38465

This calling convention is used to define interrup handlers on MSP430 microcontrollers. Usage looks like this:

[code]

which generates the following assembly:

[code]

cc @alexcrichton @pftbest

[2016-12-20 04:07] alexcrichton commented on #38484
Yeah when we fix this let's tag rustbuild with `#![deny(warnings)]`

[2016-12-20 08:41] cramertj opened #38489 "rustc fails to compile to asmjs on Windows"
After following the steps in the ["Compiling to the web with Rust and Emscripten" guide](https://users.rust-lang.org/t/compiling-to-the-web-with-rust-and-emscripten/7627), running `rustc --target=asmjs-unknown-emscripten hello.rs` gives the following output:

[code]

See https://github.com/kripken/emscripten/issues/4741 for discussion. @juj believes it to be an issue with `rustc` invoking `emcc` w

[2016-12-20 09:06] #34388 closed

[2016-12-20 09:08] jethrogb commented on #36167
Can someone from @rust-lang/lang add relevant labels to this issue?

[2016-12-20 09:59] sanxiyn commented on #36282
Another way to trigger this is `llvm-config = "/usr/bin/llvm-config-3.9"`. bindir is /usr/lib/llvm-3.9/bin, /usr/bin/FileCheck-3.9 is a symbolic link to /usr/lib/llvm-3.9/bin/FileCheck. rustbuild tries to find /usr/bin/FileCheck which does not exist and fail.

[2016-12-20 10:10] bluss commented on #29717
What's the relation to cargo's `CARGO_CFG_TARGET_FEATURE` that it gives to build scripts? This env var is possible to use from Rust 1.14 (from the cargo version shipped with it) and the project can set its own cfg vars depending on which features are enabled.

[2016-12-20 10:38] chpio opened #38492 "Linking JS files from libraries"
hi,

it seems that it's not possible to link javascript files from a rust library at the moment. The usual practice is by setting the `--js-library $path_to_js_file` *emcc*-linker argument. But setting linker arguments from a lib is not allowed in rust (https://github.com/rust-lang/rust/issues/36176, https://github.com/rust-lang/cargo/issues/1293).

I can think of two possible solutions for this:

[2016-12-20 11:43] matklad commented on #38475
A somewhat orthogonal use case to keep in mind: I often add ad-hoc time measurements to my code as a difference between two `Instant::now`. In this circumstances, it would be really helpful to have `as_fractional_[secs|millis|micros|nanos]`. And for this particular purpose I wish I could `format!("{:?}", duration)` and get human friendly `"100 ms"` or `"1.5 sec"` or `"42 ns"` automatically based o

[2016-12-20 12:47] zeldin commented on #38453
Fascinating.  I downloaded the `g++-5-powerpc64-linux-gnu` package from Debian testing, using the following entry in `/etc/apt/sources.list`:
[code]
It had `-mppc64` as the default:
[code]
(excerpt of the output of `powerpc64-linux-gnu-g++-5 -dumpspecs`), and when cross-compiling rustc I did _not_ get any VSX instructions, and the resulting `rustc-1.15.0-dev-powerpc64-unknown-linux-gnu.tar.gz` act

[2016-12-20 13:08] gyscos opened #38494 "Doc: `std::io::Write::write_all` should mention `ErrorKind::Interrupted`"
Just like [`std::io::Read::read_to_end`](https://doc.rust-lang.org/std/io/trait.Read.html#method.read_to_end) mentions that `Interruped` errors are safe to ignore, [`std::io::Write::write_all`](https://doc.rust-lang.org/beta/std/io/trait.Write.html#method.write_all) should mention that `write` too can safely return this error without interrupting `write_all`.

Actually, both `std::io::Read::read`

[2016-12-20 15:05] bluss commented on #38461
See also rust-lang/rfcs/pull/1583, it points out macros 1.1 to solve this (which I think didn't come to pass).

[2016-12-20 15:05] luser commented on #38475
I looked around, and `chrono::Duration` implements `Display`:
https://docs.rs/chrono/0.2.25/chrono/struct.Duration.html

but it's just re-exporting `time::Duration`. The `Display` implementation is here:
https://github.com/rust-lang-deprecated/time/blob/8d7d141fe91ea936b952376b36e50ad861f01e16/src/duration.rs#L363

It outputs in [ISO 8601 format](https://en.wikipedia.org/wiki/ISO_8601#Durations),

[2016-12-20 15:25] michaelwoerister opened #38495 "The cargo-incremental subcommand needs to support `test`"
The [cargo-incremental](https://github.com/nikomatsakis/cargo-incremental) subcommand only support the incremental equivalent of `cargo build` but not of `cargo test`. See https://github.com/nikomatsakis/cargo-incremental/issues/42.

[2016-12-20 16:14] nikomatsakis commented on #38078
In terms of the compiler's implementation, this isn't really about projection. It's not actually getting that far. Rather, it fails when lowering the AST into types, which is the point where we have to pick a trait. @eddyb has been doing a lot of heroic work refactoring the type-end to remove that limitation, which is fairly tricky -- the problem is that to do it properly, one must reason about th

[2016-12-20 16:50] nikomatsakis commented on #36349
It's basically fixed, yeah. But we can wait for #37712

[2016-12-20 17:30] alexcrichton commented on #29717
Cargo gained a feature recently to ferry along everything from `rustc --print cfg` over to build scripts, which is where `CARGO_CFG_TARGET_FEATURE` comes from. The `--print cfg` option is stable as well and is basically orthogonal to this feature itself.

The `#![feature(cfg_target_feature)]` in this issue is specifically related to `#[cfg(target_feature = "...")]` annotations. Note, though, that

[2016-12-20 17:36] bluss commented on #29717
Ok that's important information. I don't like that stable prints something different, but it's important to know.

[2016-12-20 17:59] alexcrichton commented on #38453
@zeldin the build machine is actually that docker image which was most recently built as `alexcrichton/rust-slave-linux-cross:2016-11-11` so when running

[code]

I get [this output](https://gist.github.com/alexcrichton/02197eb50f9a82beed7c84ddf7d9d6d0)

[2016-12-20 18:05] zeldin commented on #38453
Most peculiar.  I don't see anything in there that would turn on POWER8 instructions by default...

[2016-12-20 18:53] xen0n commented on #38365
FYI it seems that the `make distcheck` steps on buildbot are also affected by the same symptom, which is very awful as here every target takes ~3h instead of a few minutes... Just check out the buildbot waterfall. I could integrate a fix into #38468 hopefully before the next nightly build triggers.

[2016-12-20 19:04] xen0n commented on #38365
(Or you could directly push into my branch instead, the fix would just be an additional test for `kind == Kind::Test`. It's 3 am here and I need some rest, maybe couldn't get up in time. I'd personally appreciate seeing this land just after the i128 PR as a quickened nightly update benefits everyone.)

[2016-12-20 19:07] alexcrichton commented on #38365
@xen0n your fix in #38468 will fix those problems, right? Or could you elaborate on what's taking too long?

[2016-12-20 19:13] aturon commented on #37544
@petrochenkov We can backport the stabilization. Looks like this was blocked on @pnkfelix who's been on vacation. I'll try to get a hold of him now.

[2016-12-20 19:17] xen0n commented on #38365
@alexcrichton Take [this build](https://buildbot.rust-lang.org/builders/beta-dist-rustc-linux/builds/120/steps/distcheck/logs/stdio) for an example. `distcheck` after #38367 essentially equals to a `dist` followed by a `test`; you can see in the logs where although the `dist` steps are taking somewhat longer, the *real* waste of time comes in the form of multiple compilations of LLVM and multiple

[2016-12-20 19:31] imYavuz opened #38500 "Compiler panicks"
When I try to run this code https://github.com/imYavuz/azra/blob/master/src/main.rs
This happens:
![adsiz](https://cloud.githubusercontent.com/assets/19875240/21364906/8c62cb72-c6fb-11e6-8fd5-1ab543e7028f.png)

[2016-12-20 19:46] alexcrichton commented on #38365
Ah yeah distcheck takes forever in its own right, but we hope to fix that soon!

[2016-12-20 20:09] petrochenkov commented on #38500
Duplicate of https://github.com/rust-lang/rust/issues/38155, fixed in https://github.com/rust-lang/rust/pull/38375

[2016-12-20 20:36] eddyb opened #38501 "Sort out body-less function argument names wrt incremental recompilation."
The `x` and `y` in `trait Foo { fn bar(x: T, y: U); }`, for example, are stored outside of any isolation, as such function declarations don't have bodies holding the arguments (see #38449), for this purpose.

Right now they're primarily used by `rustdoc`, which even loads them across crates. #38449 asserts that the cross-crate usage always happens without incremental recompilation and doesn't trac

[2016-12-20 20:43] pnkfelix commented on #37544
@rfcbot reviewed

[2016-12-20 21:26] #38500 closed

[2016-12-20 21:51] pnkfelix commented on #35897
@rfcbot reviewed

[2016-12-20 22:02] #38176 closed

[2016-12-20 23:24] Mark-Simulacrum commented on #36457
I have a [branch](https://github.com/Mark-Simulacrum/rust/tree/drop-glue) that in theory fixes this, but it's based on #38302. Will post PR once that gets merged.

[2016-12-20 23:38] Nashenas88 opened #38504 "ICE: assertion failed (left == right) in astconv.rs"
The following code:
[code]

Produces the following error only on nightly. Stable and beta fail compilation without an ICE.

[code]

[2016-12-20 23:45] petrochenkov commented on #38504
Duplicate of https://github.com/rust-lang/rust/issues/38409, fixed in https://github.com/rust-lang/rust/pull/38154

[2016-12-21 02:48] #38365 closed

[2016-12-21 02:48] #36282 closed

[2016-12-21 02:48] #38458 closed

[2016-12-21 02:48] #38484 closed

[2016-12-21 02:48] #38429 closed

[2016-12-21 02:48] #38204 closed

[2016-12-21 03:01] DiThi commented on #34297
As a beginner I stumbled upon this problem, but with integers, and a more complicated expression. The problem was much more clearly explained (what errors in the expression) when I replaced `x += ` by `x = x +`

[2016-12-21 06:38] m4b commented on #38238
Both gold and ld (`-fuse-ld=bfd`) are broken for me:
[code]

I guess unicode is too hard for C ppls.

[code]

[code]

[2016-12-21 07:13] jseyfried commented on #38016
Fixed in #38232 (https://github.com/rust-lang/rust/pull/38232#issuecomment-268453076).
After that lands, we will pretty-print `$crate::io::_print` as `::io::_print`.

[2016-12-21 08:17] cmr commented on #35118
How should FFI with this type be handled? Is there any standard ABI support for these types? AFAICT, the answer is "no", which means this type should be FFI-unsafe, and the FFI unsafety lint should be updated to reject `Ty{I,Ui}nt` with 128-bit sizes.

[2016-12-21 08:18] cmr commented on #35118
cc @est31

[2016-12-21 08:24] tinaun opened #38508 "question mark and `try!` obscure type inference errors"
[code]

has the confusing error message
[code]

replacing the `?` with `.unwrap()` gives a nicer explanation of the problem (`try!` gives the same error message as `?`)

[code]

[2016-12-21 08:25] retep998 commented on #35118
On Windows there is most definitely no standard i128 yet because the standard compiler (msvc) does not support `__int128` yet on x86.

[2016-12-21 08:31] est31 commented on #35118
It depends on the architecture. SysV defines the ABI for 64 bit architectures. For x86, its most likely its not defined. Same goes for windows: it should in theory be defined for 64 bit (just sadly nobody adheres to it, its a gigantic mess), but not on x86.

This directly maps the support of the i128 type in C, and I think generally it makes little sense to have FFI for types that don't exist in C

[2016-12-21 10:58] philippkeller commented on #18807
@shepmaster: yes I'm seeing that on Linux as well now:

[code]

Linux version: `Linux osboxes 4.8.0-32-generic #34-Ubuntu SMP Tue Dec 13 14:30:43 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

I started with the second example in of [no stdlib](https://doc.rust-lang.org/book/no-stdlib.html#writing-an-executable-without-stdlib) but needed to remove `rust_begin_panic` and `rust_eh_personality` otherwise

[2016-12-21 10:59] newpavlov opened #38509 "Check dependencies for no_std crates"
It's possible to compile `no_std` crates with dependencies dependent on std. (e.g. [generic-array](https://github.com/fizyk20/generic-array) rev. #7f73b31) But as expected it's impossible to use such crate in environments without std. In my opinion when compiler builds `no_std` crate it also should check if `no_std` was enabled in all its dependencies, as otherwise we can't consider it independent

[2016-12-21 12:07] zeldin commented on #38453
Well, at least I can reproduce the issue by running the g++ command inside the docker image.  I also tried `powerpc64-linux-gnu-g++-5 --version` and got the following
[code]
Ok, so apparently some IBM patches have been applied to the toolchain?  Might be relevant...

[2016-12-21 12:09] zeldin commented on #38453
I can also confirm that passing `-mcpu=powerpc64` explicitly to g++ fixes the issue.  So the defaults have indeed been tampered with.

[2016-12-21 12:29] softprops commented on #24346
Is this at
 all helpful https://github.com/gimli-rs/addr2line?

[2016-12-21 12:50] cristicbz commented on #37197
@alexcrichton  shouldn't this have a `B-unstable` label? Don't know if it matters, but I figured I'd check.

[2016-12-21 13:10] BookOwl opened #38510 "AVG detects Rust 1.13 as a trojan"
AVG says that it has found the following two threats on my system:

"Trojan horse Generic38.ADSI, c:\Program Files (x86)\Rust stable GNU 1.13\bin\log-a4729905.dll"
"Trojan horse Generic38.ADKS, c:\Program Files (x86)\Rust stable GNU 1.13\lib\rustlib\i686-pc-windows-gnu\lib\log-a4729905.dll"

I'm pretty sure that these are false positives, but you guys should probably check on why AVG is detecting

[2016-12-21 13:21] abonander commented on #38461
Closed by #38279! Well done @KalitaAlexey.

[2016-12-21 13:21] #38461 closed

[2016-12-21 13:32] KalitaAlexey commented on #38461
@abonander, I am glad you are happy)

[2016-12-21 13:32] zeldin commented on #38453
So, I guess my proposal would be to add
[code]
to the environment in the build script.  That should fix it.

[2016-12-21 13:59] #35566 closed

[2016-12-21 14:06] Jake-Shadle commented on #34324
This is still an issue on the latest nightly build.

[code]

[2016-12-21 14:08] zeldin commented on #38453
Created a pull-request rust-lang/rust-buildbot#145 for this solution.

[2016-12-21 14:28] est31 opened #38512 "Incr comp tests failing on windows with debuginfo turned on"
Maybe its no issue, as other tests are failing with debuginfo turned on as well, but some incr comp regression tests fail on windows if debuginfo is turned on (tested with mingw, x86_64 target).

Reproducible with `x.py test src/test/incremental --stage 2` and debuginfo-test set to true in config.toml.

@michaelwoerister can you say whether this is a bug or whether its wanted behaviour? If its wan

[2016-12-21 14:37] michaelwoerister commented on #38512
I'll look into it.

[2016-12-21 14:45] michaelwoerister commented on #38512
What exactly do you mean by "if debuginfo is turned on"?

The test certainly need control over whether they are compiled with or without debuginfo, so if some setting of the build system leaks into the test suite, that would be a bug.

[2016-12-21 14:45] arthurprs commented on #38475
Related #1545

[2016-12-21 14:52] schulzch commented on #38489
[Potential fix](https://github.com/schulzch/rust/commit/8b70cb405ba5f226d2b4d397bb20c483bfa43152)  for #38489 - not sure if there is a better way.

[2016-12-21 16:19] michaelwoerister commented on #38495
Removed from milestone. The cargo-incremental tool is a bit too unpolished to recommend its usage to a wider audience.

[2016-12-21 16:19] michaelwoerister commented on #38495
cc @nikomatsakis

[2016-12-21 17:33] penguin42 opened #38514 "doc/book/crates-and-modules.md: Doesn't explain where it's legal to declare a mod"
Rust wont let me do (all in one src/)

main.rs:
   mod image;

image.rs:
   mod string;    <<<< 'error: cannot declare a new module at this location'

string.rs:
  whatever

I don't see anything in crates-and-modules.md that says it's not possible and/or why.
It does let me add the   mod string;   in the top level main.rs.
(as a new rust user it doesn't make much sense to me why you can't, since m

[2016-12-21 18:00] alexcrichton commented on #37197
Oops, indeed!

[2016-12-21 18:01] alexcrichton commented on #37197
And while we're at it, I'd like to stabilize this!

@rfcbot fcp merge

[2016-12-21 18:02] pnkfelix commented on #38514
FYI The reason for this restriction is documented as part of rust-lang/rfcs#63 ([RFC 63 text](https://github.com/rust-lang/rfcs/blob/master/text/0063-module-file-system-hierarchy.md)). In particular, the [Motivation section](https://github.com/rust-lang/rfcs/blob/master/text/0063-module-file-system-hierarchy.md#motivation) of that RFC lays out an example that shows a footgun for new users when put

[2016-12-21 18:05] Stebalien commented on #38510
That's a generic heuristic that detects "suspicious" behavior. Unfortunately, they're next to worthless. If you have time, could you submit those files here: https://secure.avg.com/submit-sample?

[2016-12-21 18:23] Pireax opened #38515 "Specialization on arrays does not work as expected."
The following example currently does not work as expected:

    #![feature(specialization)]

    trait Length {
        fn length(&self) -> usize;
    }

    impl<T> Length for [T] {
        default fn length(&self) -> usize {
            println!("Default");
            self.len()
        }
    }

    impl<T> Length for [T]
        where T: Length
    {
        fn length(&self) -> usize {

[2016-12-21 18:27] dtolnay opened #38516 "Specialization does not find the default impl"
[code]

## Expected:

Compiles and prints out "default". This is the behavior if you comment out the `impl Serialize<JsonSerializer> for i32`.

## Actual:

[code]

[2016-12-21 18:31] dtolnay commented on #31844
I filed https://github.com/rust-lang/rust/issues/38516 for some unexpected behavior I ran into while working on building specialization into Serde. Similar to https://github.com/rust-lang/rust/issues/38167, this is a case where the program compiles without the specialized impl and when it is added there is a type error. cc @bluss who was concerned about this situation earlier.

[2016-12-21 18:50] apasel422 commented on #38515
The type of `x` in your example is `[[i32; 2]; 3]`. Method lookup autorefs that array as `&[[i32; 2]; 3]`, coerces it to a slice `&[[i32; 2]]`, and selects the default `Length` implementation.

You might try:

[code]

[2016-12-21 18:52] Mark-Simulacrum commented on #38425
Simplified the test case:
[code]

Error:
[code]

[2016-12-21 19:10] steveklabnik commented on #38510
Yes, this is not actionable, unless AVG tells us that we need something specific to stop triggering this. Please submit this to the link @Stebalien has given you, thanks!

I'm going to give this a close, but if they happen to come back with something we need to do, please leave a comment and let us know, and we can re-open.

[2016-12-21 19:10] #38510 closed

[2016-12-21 19:12] achanda commented on #36949
Shouldn't @rfcbot mark this for FCP now?

[2016-12-21 19:21] #38515 closed

[2016-12-21 19:21] est31 commented on #38512
@michaelwoerister I meant the [debuginfo-tests](https://github.com/rust-lang/rust/blob/master/src/bootstrap/config.toml.example#L165) setting in config.toml. If the tests indeed are only made to work with debuginfo turned off then its no issue I think, just wanted to be sure that there is no bug with rustc where debuginfo changes some basic behaviour.

[2016-12-21 19:25] Pireax commented on #38515
Ah right, makes sense. The reason I want to do this is to recursively go into a nested array and get it's dimensions. Seems this isn't possible at the moment.
Thanks

[2016-12-21 20:00] steveklabnik commented on #38514
We are not improving the existing book ourselves, as we're re-writing it over at https://github.com/rust-lang/book, and this chapter has completely changed. If you or anyone else would like to improve this, please send in a PR, and/or read the new book and file an issue over there if it's still deficient in this way. But we're not keeping bugs open that track problems with the book's text. Thanks!

[2016-12-21 20:00] #38514 closed

[2016-12-21 20:01] brson opened #38519 "There are s3 addresses in the Rust 1.14 manifests"
[code]

This is incorrect. Every address in the manifest should be from static.rust-lang.org. I don't want to make any guarantees that https://s3.amazonaws.com/rust-lang-ci/cargo-builds will always exist. I believe there is minor functionality in rustup that will break if the manifest contains multiple root URLs.

[2016-12-21 20:40] nikomatsakis opened #38520 "illegal moves permitted in statics and constants"
This code [compiles on nightly today](https://is.gd/5SDSWz) but it should not, because `Foo` is not `Copy`:

[code]

Note that the `get(*&X)` in a function body [properly results in an error](https://is.gd/zU2BVo).

[2016-12-21 21:01] carols10cents commented on #35946
Hi @durka, what do you have so far where? I don't see a PR linked to this issue at all :-/

Is there anyone I could bother to get you the help you need to finish this?

I'd really love for this to get fixed before the new version of the book comes out, and for all the new rustaceans who are hitting this in the meantime <3 <3 <3

[2016-12-21 21:07] brson commented on #38273
Please triage and add a P-tag. This seems important since it involves a recently-added stable interface.

[2016-12-21 21:16] petrochenkov commented on #31306
I see these error all the time on Windows/GNU, but never got to actually reporting them.

How to reproduce:
- Get a fresh clone of Rust repo.
- `make check-stage1-cfail`, everything passes, these errors never happen right away.
- work with Rust repo, change things, recompile, not sure what exactly needs to be changed
- `make check-stage1-cfail` again, several stage1 tests fail, these tests never f

[2016-12-21 21:33] zackmdavis commented on #18390
Triage: now fixed? Playground [says](https://is.gd/CQkQSX):
[code]

[2016-12-21 21:33] nagisa commented on #35118
Also one in GCC: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78799

[2016-12-21 21:53] michaelwoerister commented on #31306
@petrochenkov Did I do that? `:)`

[2016-12-21 22:04] petrochenkov commented on #31306
@michaelwoerister
I believe this started together with all the work on incremental compilation / hashing, so you or @nikomatsakis probably had highest chances to make some change causing this.

[2016-12-21 22:18] michaelwoerister commented on #31306
@petrochenkov It's possible. But off the top of my head I can't think of anything that would cause that.
@alexcrichton might also no something?

[2016-12-21 22:57] kkimdev opened #38522 "support test::make_unpredictable ?"
Facebook Folly's benchmarking util includes the following two functions:

https://github.com/facebook/folly/blob/1c098e2758d1bd55c48ffa26dab389dbbe96a666/folly/Benchmark.h#L260

[code]

`doNotOptimizeAway` corresponds to `test::black_box` in Rust, but to my understanding we don't have `makeUnpredictable` counterpart.  I think it will be useful to ensure that tested code is not optimized by constan

[2016-12-21 23:03] kkimdev commented on #38522
@huonw @amaranth

[2016-12-21 23:05] nagisa commented on #38522
`black_box` does both. LLVM cannot do any optimisations based on the value of stuff passed into it.

[2016-12-21 23:07] kkimdev commented on #38522
Oh Ok, I missed that `black_box` also returns T thanks!

[2016-12-21 23:07] #38522 closed

[2016-12-21 23:23] stjepang opened #38524 "Reconsidering the recent changes in sort guarantees"
The PR in question is #38192.

@steveklabnik had some [objections](https://www.reddit.com/r/rust/comments/5jkvo0/four_years_with_rust/dbh394k/) to new guarantees of the sort algorithm.

**Old** guarantees: "This sort is stable and O(n log n) worst-case but allocates approximately 2 * n where n is the length of self."
**New** guarantees: "This sort is stable and O(n log n) worst-case, but allocates

[2016-12-21 23:27] kkimdev opened #38525 "test::black_box for big size T?"
I'm not sure if this is a bug or not, but I noticed that FB Folly has two versions of `doNotOptimizeAway`

https://github.com/facebook/folly/blob/1c098e2758d1bd55c48ffa26dab389dbbe96a666/folly/Benchmark.h#L308

[code]

First one for size <= long, second one for larger sizes.  Where as our `test::black_box` only has the first version.  Is the second one needed?

[2016-12-21 23:34] aturon commented on #36949
Yes -- the bot has been buggy lately. Thanks for catching it -- I'll mark it manually.

🔔 **This issue is entering its final comment period for stabilization** 🔔

[2016-12-21 23:59] kkimdev commented on #38525
@nagisa @huonw

[2016-12-22 00:01] zackw opened #38526 "feature request: std::process::Command.envs()"
You can add a vector of command-line arguments to a Command object with `.args()`, but there's no equivalent for environment variables.  I'd like to be able to do things like

    let filtered_env : Vec<(String, String)> =
        std::env::vars().filter(|&(ref k, ref v)| /* criterion */).collect();

    let status = Command::new("printenv")
        .stdin(Stdio::null())
        .stdout(Stdio::inh

[2016-12-22 00:23] zackw opened #38527 "feature request: std::os::unix::process::CommandExt.groups()"
`std::os::unix::process::CommandExt` already offers `.uid()` and `.gid()` methods to control the user identity of the child process (calling [`setuid`](http://pubs.opengroup.org/onlinepubs/9699919799/functions/setuid.html) and [`setgid`](http://pubs.opengroup.org/onlinepubs/9699919799/functions/setgid.html) respectively).

For complete control of Unix credentials, there should also be a way to cal

[2016-12-22 00:31] sfackler commented on #38524
I'm not sure I understand in what contexts `2 * n` allocation is a deal breaker but `n` or `n / 2` isn't?

[2016-12-22 00:45] nagisa commented on #38525
We do

[code]

which is pretty much the same as `"m"(dummy)`. We could make it

[code]

in order to use a technically correct reference type and avoid a single instruction for putting the address into a register, but it seems to me like a wasted effort to me.

[2016-12-22 00:51] sfackler opened #38528 "Nonlinear compile time blow-up with deeply nested types"
Compiling the postgres-tokio crate at https://github.com/sfackler/rust-postgres/commit/d27518ba76d76ccaa59b3ccd63e981bd8bd0ef33 goes from 5 seconds to 45 seconds on nightly if the two `.boxed()` calls in the middle of this call chain are removed: https://github.com/sfackler/rust-postgres/blob/d27518ba76d76ccaa59b3ccd63e981bd8bd0ef33/postgres-tokio/src/lib.rs#L342-L408.

Looks like 15 seconds is sp

[2016-12-22 01:59] kkimdev commented on #38525
fwiw, this if Folly's commit log https://github.com/facebook/folly/commit/81d9192f8afdf53fcbc7bf572f8ce638516380f8

[2016-12-22 02:38] brson commented on #38526
This sounds reasonable to me considering `args`. If you want to submit a PR for the feature go ahead.

[2016-12-22 02:47] brson commented on #38524
It seems to me like the question here is only about what the docs say. I don't know the answers to your concerns, but the specificity of the documentation here, and that it has changed both raise suspicion with me.

@sfackler I think the concern is that the documentation is constraining the implementation by being so specific about its space requirements. There aren't many sorts that can guarantee

[2016-12-22 02:52] durka commented on #35946
Hey @carols10cents, I don't really have anything working unfortunately. I'd like to pick it up again, I'll need some help though. I think that #38301 will change things anyway (@bluss why was that closed?).

[2016-12-22 03:02] brson opened #38531 "Enable building complete release artifacts on Travis / Appveyor"
## Updated description

Active work items:

* [x] Turn on Travis/AppVeyor nightlies - update secrets.toml
* [x] Turn off Buildbot nightlies - comment out trigger in rust-buildbot
* [x] Separate `--enable-extended` from `x.py test` builds on all platforms (only Windows remaining)
* [x] Pull in Cargo as a submodule instead of from a pre-built location
* [x] Run cargo's test suite on select bots.
* [

[2016-12-22 03:09] brson commented on #38531
re https://internals.rust-lang.org/t/rust-ci-release-infrastructure-changes/4489

[2016-12-22 03:19] Mark-Simulacrum commented on #38531
What's the expected approach to dealing with situations where `cfg(stage0)` or `cfg(not(stage0))` is currently used? Currently, since stage0 is bootstrap (old compiler) and stage1 is a new compiler, there is a transition path, but with this I'm not sure what the expected arguments to `x.py` are.

[2016-12-22 03:22] brson commented on #38531
@alexcrichton will need to address those details @Mark-Simulacrum.

[2016-12-22 03:25] nrc commented on #38524
IMO, the docs should not be considered a normative spec for the implementation

[2016-12-22 03:27] nrc opened #38532 "rustbuild should not grab the latest beta unless instructed to (or on first run)"
There is a principle - one should opt-in to a build tool accessing the internet, but also a practical effect - I was in the middle of debugging and my 5 min edit-compile-debug cycle is now an hour because there a new beta got released and now I'm re-compiling llvm :-(

[2016-12-22 03:31] skysch commented on #28794
I think I'm having the same issue? But the RTLD_NODELETE option doesn't seem to help. It's also probably not appropriate for my use-case, which requires unloading and reloading the library repeatedly.

Stack looks like this:

Exception Type:        EXC_BAD_ACCESS (SIGSEGV)
Exception Codes:       KERN_INVALID_ADDRESS at 0x0000000115ab5cb0

Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0

[2016-12-22 03:33] nrc commented on #38273
I vote for p-high given it affects stability and we'll need to uplift to beta. I'm working on a fix.

[2016-12-22 03:40] nagisa commented on #28794
Lack of `_tlv_atexit` in the backtrace seems to suggest that yours is different issue. [This comment](https://www.reddit.com/r/rust/comments/3n1ozv/segfault_when_using_dlclose_on_a_rust_library_osx/cvk5q8q/) might help to give some pointers.

[2016-12-22 05:48] Mark-Simulacrum commented on #28415
`stringify!($c)`, along with any other macro invocation with `$foo` as an argument, now errors with "error: unknown macro variable `c`", so this can either be closed or renamed/repurposed; a decision as to what we want would be nice.

[2016-12-22 05:53] Mark-Simulacrum commented on #30484
This no longer appear to happen; closures are `_ZN8rust_out4main28_$u7b$$u7b$closure$u7d$$u7d$17hc86fb7b1008d9517E` in LLVM IR output which unmangles to `_ZN8rust_out4main28{{closure}}17hc86fb7b1008d9517E`. Not sure if LLVM IR is the IR referred to, though.

[2016-12-22 05:58] Mark-Simulacrum commented on #30667
Appears to be a part of/subsumed by #33156.

[2016-12-22 08:06] SimonSapin opened #38535 "Type inference regression"
Servo compiles with rustc 71c06a56a120a0d5e3b224105ee3e6754f83e5fa 2016-12-18, but not with 439c3128d740af372dae163310f7292e999098e1 2016-12-21. Diff: https://github.com/rust-lang/rust/compare/71c06a56a...439c3128d7

The `style` crate fails to build with:

[code]

The `to_css` method being called here is:

[code]

Its return type is `std::fmt::Result` which is `type Result = std::result::Result<()

[2016-12-22 08:07] SimonSapin commented on #38535
CC @GuillaumeGomez, @nikomatsakis

[2016-12-22 08:19] est31 commented on #38532
related #37305

[2016-12-22 08:26] jseyfried commented on #38237
Fixed in #38537.

[2016-12-22 08:42] estebank commented on #38283
Related to #21934.

[2016-12-22 08:45] SimonSapin commented on #38535
Also fails in 92d46006b, so #38099 is not to blame. New diff: https://github.com/rust-lang/rust/compare/71c06a56a...92d46006b

I don’t have another guess, and doing a full bisect would take a very long time…

[2016-12-22 08:47] jseyfried commented on #34324
@Jake-Shadle sorry for the delay!
Fixed in #38539.

[2016-12-22 09:39] Jake-Shadle commented on #34324
Oh awesome, I guess this just fell through the cracks! 😄

[2016-12-22 10:17] stjepang commented on #38524
@brson Yes, the question is only about what the docs say.

What you said makes sense, and I no longer believe that guaranteeing n/2 is a good idea. Or anything too specific, while we're at it.

By the way, here's what the C++ standard says about `std::stable_sort`: [pdf](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4296.pdf), page 911 (or 925 in the pdf).
TL;DR: It doesn't specify how

[2016-12-22 10:20] eddyb commented on #38535
I can't find the cause in that range, at least nothing changed in the compiler AFAICT.
Can you try 3038f30f96fe366e910f9a02521c5a06e5cdc653 (the commit before @alexcrichton's larger rollup)?

[2016-12-22 10:26] spinda opened #38540 "default_type_parameter_fallback error message is overly verbose"
With `#![feature(default_type_parameter_fallback)]` enabled, I get the following error message:

[code]

Notes 1 and 3 just point to the same code as the error. Notes 2 and 4 also print out duplicate code. Is it necessary to print the entire impl, or could the message just point to the definition of the default?

I've also never seen one of these error messages with any types but `_` in the `note:

[2016-12-22 10:31] spinda commented on #38540
(Honestly, in my particular case,

[code]

alone would suffice.)

[2016-12-22 10:33] bluss commented on #35946
It may look like I did something significant but I didn't think so. This rust-lang/rfcs/issues/1718 is the main thread, and niko proposed another variant of the formulation (which I confirmed compiles and works in rustc).

It does change slightly for the better, it doesn't have a carrier trait anymore.

[code]

[2016-12-22 11:23] JoeyAcc opened #38541 "Macro recursion limit is still too low"
I've seen [this issue](https://github.com/rust-lang/rust/issues/22552), and since it's closed I've decided to open a new one.

I have just hit this limit. The problem for me is that I hit it while using `std::vec!`, and AFAICT the only way to accommodate more elements is not just by specifying `#[recursion_limit = "10000"]` but *also* defining my own version of `vec!` since otherwise the default `

[2016-12-22 11:54] bluss commented on #38541
You don't need to define your own vec, simply up the recursion limit. Put `#![recursion_limit = "1024"]` at the top of your crate.

That said (1) `vec![]` is not deeply recursive (but calls itself at most once), so something else must be consuming recursion steps, and (2) please let's raise the default macro recursion limit.

[2016-12-22 13:26] notriddle commented on #38524
This sort is stable. It is O(n log n) with respect to comparisons and swaps, and O(n) with respect to memory allocated, worst-case.

[2016-12-22 13:51] achanda opened #38544 "rustbuild: error while trying to run tests incrementally"
I cloned rust, built it by running `./x.py build --incremental`. Later I pulled new changes and ran that again. Now when I try to run `./x.py test --incremental`, I see

[code]

[2016-12-22 14:12] JoeyAcc commented on #38541
I put the attribute with some insanely high number (10k or something) in my own crate and it still hit the recursion limit.
My datastructure is huge and deeply nested (on the order of 400 SLOC and so deeply nested it rightward-drifted off screen 2x over), but it's not huge enough to hit 10k. Nowhere near it in face.

Ultimately I decided to just keep the boilerplate, editing the datastructure is n

[2016-12-22 14:22] bluss commented on #38541
Just to make sure, did you use the attribute form with the `#!` (exclamation mark included)?

[2016-12-22 14:36] Nemo157 commented on #37884
This appears to be in beta (testing on the playground). Super tiny repro:

[code]

gives

[code]

[2016-12-22 14:42] Nemo157 commented on #21875
This appears to have been improved at some point, trying the original code on the playground gives

[code]

the block suffix part of the message is gone and a `note` is added explaining why it does not live long enough in this specific case.

[2016-12-22 14:49] Nemo157 opened #38545 "Reference outlives content error message is wrong when there are explicit unrelated lifetimes"
[code]

gives

[code]

There are two issues I see with this:
 * `lifetime of reference outlives lifetime of borrowed content`
   * This is not strictly true, the lifetime of the reference is independent from the lifetime of the borrowed content and the real issue is that the compiler cannot prove that the reference will not outlive the content without additional constraints added by the programmer

[2016-12-22 15:12] eddyb commented on #37884
Has nobody looked into this? I'll take a peek before the compiler meeting today.

[2016-12-22 15:17] djc opened #38546 "Allow access to location information from proc_macro TokenStreams"
I would like to build a template engine that leverages custom derive to attach a template rendering function to a struct at compile time. I was planning on attaching an attribute to the struct to specify the path to the template file, which could then be read and transpiled into Rust. However, it seems it is currently not possible to get at the path to the source file where the `TokenStream` origi

[2016-12-22 15:19] eddyb commented on #37884
Of course it was me who introduced this bug, or rather triggered #27942 *sigh*.

[2016-12-22 15:20] djc commented on #38546
My experimental code can be found here: https://github.com/djc/askama

[2016-12-22 15:22] michaelwoerister commented on #38495
Closing, since not relevant for rust-lang/rust anymore (there's a separate issue in the cargo-incremental repo).

[2016-12-22 15:22] #38495 closed

[2016-12-22 15:49] Keruspe opened #38547 "rustbuild: install target improvements"
Currently, if I enable rustbuild and then run

[code]

the `make install` part retries to build stuff even though everything is fresh, and in doing so it tries refreshing the list of available crates, this requiring network.
It would be great to have a way to either only do the installation part or to do it with something like the `--frozen` flag that cargo supports.

Also, the install target curr

[2016-12-22 16:01] SimonSapin commented on #38535
Expanding the `try!` macro:

[code]

(Even simplifying it, this is not using `From`) gives:

[code]

[2016-12-22 16:04] eddyb commented on #38535
@SimonSapin Alright, that matches what I've seen from @nox.
What about a couple more steps of bisecting? Or maybe compiling this crate with the "servo" feature off
(which, AFAICT, turns off all the macros 1.1 - they might be responsible).

[2016-12-22 16:11] SimonSapin commented on #38535
Swapping the order of the two `match` arms:

[code]

Changing the `Ok(_)` pattern to `Ok(())`:

[code]

Hacking `./mach build-geckolib` to not use the stable version of the compiler (so effectively disabling the `servo` feature and enabling the `gecko` one) also gives the same error.

[2016-12-22 16:27] bstrie opened #38550 "Randomize the ordering of struct fields when compiling in debug mode"
Now that it looks like https://github.com/rust-lang/rust/issues/28951 will be addressed via https://github.com/rust-lang/rust/issues/37429 , we may have a further obligation to ensure to do what we can to ensure that this doesn't bite people. One way that we could help out would be to randomize the order of struct fields by default when compiling in debug mode. This would only apply to structs tha

[2016-12-22 16:27] schulzch commented on #38489
Invoking `emcc.bat` fixes the error above, even though another one pops up:
[code]

Removing the quotes around `emcc.bat` or invoking `"%EMSCRIPTEN%\emcc.bat"` would fix this. Ideas?

[2016-12-22 16:49] steveklabnik commented on #38524
I am also very happy to have this be true, if that's what @rust-lang/libs wants. This issue, as @stjepang mentions, is mostly about gaining clarity: if this comment _was_ normative, then this would have been a breaking change.

I have no personal opinion on if it should be or not, but I fear it appears normative today.

[2016-12-22 16:53] nikomatsakis commented on #38528
This *may* be the affect of the projection cache.

[2016-12-22 16:58] aidanhs commented on #38544
cc #37929

Note that (as far as I can tell) you don't have to pull changes for this to happen (which could do all sorts of changes), you just need to a) clean incremental build, b) make a tiny change to libcollections c) incremental build.

[2016-12-22 17:04] aturon commented on #38528
cc @alexcrichton This is obviously a show-stopper for futures.

[2016-12-22 17:51] eddyb commented on #37884
Fix is at #38552, using @nagisa's reduction as the testcase for this issue.

[2016-12-22 18:09] nagisa opened #38553 "[rustbuild] test src/serialize is no-op if target is provided"
[code]

works, but if `--target=<triplet>` is added, it does nothing

[code]

Note that target here is the same as `build` and `host`.

[2016-12-22 18:12] aturon commented on #38553
cc @alexcrichton

[2016-12-22 18:44] steveklabnik commented on #24617
Okay, it's been a while; I'm going to give this one a close. If someone feels strongly about it and has a proposal for today's situation with regards to stability markers, please open a new issue. Thanks!

[2016-12-22 18:44] #24617 closed

[2016-12-22 18:45] steveklabnik commented on #30838
https://www.rust-lang.org/en-US/documentation.html now links to doc.rust-lang.org, many times 🎊

[2016-12-22 18:45] steveklabnik commented on #30838
Oh wait, this is the _inverse_ issue, sorry for the noise! There hasn't been any change here.

[2016-12-22 18:47] steveklabnik commented on #34271
Triage: I talked extremely briefly with @nrc two weeks ago in Hawaii and I vaguely remember him saying "yeah we're giving up on this." Is this true? Should this be closed? My memory is very likely to be faulty.

[2016-12-22 18:53] Dr-Emann commented on #23818
`print!("x")` should be "Display x to the screen".
`write!(io::stdout(), "x")` should be "I'm building something up. Don't force a flush"

[2016-12-22 18:58] steveklabnik commented on #34271
Oh wait, https://github.com/rust-lang/rust/pull/35236 was a re-do of https://github.com/rust-lang/rust/issues/35020 which was supposed to close this. So I think this should be closed.

[2016-12-22 18:58] #34271 closed

[2016-12-22 19:03] nikomatsakis commented on #38528
I can do some profiling. I've had some plans for improving collection/trans that I think may be related. One question to try and answer is what %age of this is just "we are making more code" vs "we are wasting time doing things in trait selection that could be cached". I have observed the latter from time to time and had some thoughts on how to fix it.

[2016-12-22 19:10] SimonSapin commented on #38535
New range, based on @eddyb-guided manual bisect: 58d58c24d good, 551cb0646f bad. Diff: https://github.com/rust-lang/rust/compare/58d58c24d...551cb0646f, which leaves only #38171 in-between. CC @jseyfried, @nrc.

Also found more clues. More context for the code where the error happens:

[code]

`computed` is a module generated by a macro, that contains `pub use` re-exports of other modules:

[code]

[2016-12-22 19:21] brson commented on #38519
The cargo tarballs mentioned in the manifest also don't have accompanying .asc signatures, which people expect as part of our release process. There are .sha256 files.

Fortunately the cargo hashes are captured in the signed manifest. For this release I will go make the signatures and upload them to the cargo-builds s3 bucket by hand.

cc @rillian

[2016-12-22 19:24] SimonSapin opened #38556 "ICE src/librustc/hir/def.rs:139: attempted .def_id() on invalid def: Err"
Test case:

[code]

Compiles successfully on 58d58c24d, causes an ICE on 551cb0646f. Diff https://github.com/rust-lang/rust/compare/58d58c24d...551cb0646f contains only #38171, CC @jseyfried, @nrc.

Found while trying to minimize #38535, but filed separately since the error message is different and this one has a small test case.

[2016-12-22 19:24] SimonSapin commented on #38535
Found another ICE, I don’t know if it’s related: #38556.

[2016-12-22 19:27] rillian commented on #38519
Thanks @brson! I have a packaging script I use to upload new releases to the Firefox build infrastructure and it failed on the missing cargo signatures.

Thanks also for pointing out that the manifest is signed; I'll add that as a verification step.

[2016-12-22 19:27] SimonSapin commented on #38535
Found a smaller test case for the inference issue:

[code]

[2016-12-22 19:32] eddyb commented on #38535
@SimonSapin That "other ICE" is actually a direct observation of the bug, whereas this inference issue is some weird side-effect of the way we handle errors that don't stop compilation.

[2016-12-22 19:33] eddyb commented on #38556
@SimonSapin Do you have a backtrace?

[2016-12-22 19:34] SimonSapin commented on #38556
Yes of course. Sorry I forgot to include it:

[code]

[2016-12-22 19:47] kballard opened #38558 "wasm link failures - "The end of the file was unexpectedly encountered""
With the release of Rust 1.14.0, I wanted to try out the emscripten support. I've never used emscripten before, so here's the steps I took:

[code]

At this point, `emcc` spewed a bunch of link errors:

[code]

This is on macOS 10.12.2, Rust 1.14.0, and emscripten 1.36.14.

[2016-12-22 19:51] durka commented on #38541
If increasing the limit to a ridiculous number doesn't resolve the problem, that's a clue that you might actually have unbounded recursion (`vec!` won't be the culprit though). Try running `cargo rustc -- -Zunstable-options -Ztrace-macros` (might require nightly now) to see what macro expansions are actually happening.

[2016-12-22 20:04] brson commented on #38519
I've deployed .asc files for the cargo builds and checked that the hashes match.

[2016-12-22 20:53] nikomatsakis commented on #32330
Working on doing a complete fix for this now.

[2016-12-22 21:11] nikomatsakis commented on #38408
@eddyb also thinks a likely duplicate.

[2016-12-22 21:13] nikomatsakis commented on #37991
#38408 is a duplicate, so whoever fixes this should check that out too.

[2016-12-22 21:20] nikomatsakis commented on #37105
triage: P-medium

Seeing as how we have not been able to reproduce, and we've basically stalled out, we're going to downgrade this in priority.

@BusyJay, please let us know current status (is this still reproducing for you outside rr?) and if there is anything we can do to help track it down.

[2016-12-22 21:21] nikomatsakis commented on #37105
Is this now stable-to-stable?

[2016-12-22 21:32] nikomatsakis commented on #38535
@SimonSapin when I try that test [on nightly](https://is.gd/n5Qnjp), it works...?

[2016-12-22 21:34] nikomatsakis commented on #38535
triage: P-high

Seems bad. Assigning to @jseyfried based on bisection.

[2016-12-22 21:35] nikomatsakis commented on #38556
triage: P-high

Seems bad. Assigning to @jseyfried based on bisection.

[2016-12-22 21:36] nikomatsakis commented on #38520
triage: P-medium

[2016-12-22 21:37] nikomatsakis commented on #38520
This is likely a problem of how borrowck kind of special-cases the handling of statics a bit. Should be relatively easy to fix. Could be fixed "en passante" by MIR borrowck; I'll also try to add some mentoring tips.

[2016-12-22 21:38] nikomatsakis commented on #38437
triage: P-high

@arielb1 will investigate, as he is the dynamic drop master :)

[2016-12-22 21:39] nikomatsakis commented on #38404
triage: P-medium

Pretty old regression, barely qualifies. =) However, @arielb1 says he has a fix.

[2016-12-22 21:41] arielb1 commented on #38412
Now a regression to beta.

[2016-12-22 21:41] nikomatsakis commented on #38305
triage: P-medium

[2016-12-22 21:41] arielb1 commented on #38444
1.15.0 is now beta

[2016-12-22 21:41] nikomatsakis commented on #38305
I'll try to investigate.

[2016-12-22 21:43] nikomatsakis commented on #37884
triage: P-high

We have a fix though =)

[2016-12-22 21:44] arielb1 commented on #38535
Does this affect beta (3f9823d)?

[2016-12-22 21:44] #38428 closed

[2016-12-22 21:45] arielb1 commented on #38428
not a Rust regression.

[2016-12-22 21:50] est31 commented on #38404
Oh sorry, disregary my comment above, the issue is reproducible on 1.3.0 as well as on stable 1.0.0. Its not a regression, at least not one from a stable rust release.

[2016-12-22 21:52] nikomatsakis commented on #38412
triage: P-high

[2016-12-22 22:02] Arnavion commented on #38237
Thanks. I'll try it tonight.

[2016-12-22 22:02] SimonSapin commented on #38535
@nikomatsakis At the moment the latest successful nightly build is 3 days old. I don’t know how often playpen’s nigthly is updated. #38499 merged 2 days ago. (This is the rollup PR that merged #38171, which introduced this issue if I did my manual bisecting correctly.)

@arielb1 As far as I can tell no, 551cb0646ff430f6bf80d1e5f331f8218c1c09b6 is not reachable from 3f9823d5f53230e83b707b4876b5bb27

[2016-12-22 22:12] nikomatsakis commented on #38390
triage: P-high

[2016-12-22 22:12] nikomatsakis commented on #38390
I'll investigate, but seems like it is likely expected behavior.

[2016-12-22 22:27] nikomatsakis commented on #34537
We discussed in @rust-lang/lang meeting. Consensus was that we should write-up the plan to do "minimal" enforcement for *errors*:

- check at use-site that you don't use private types
- check that you don't leak private types in "public" impls
    - Question: is that adequate? Can you not use private types in *any* impls?

We would still want lints that can try to help you find coverage gaps in yo

[2016-12-22 22:38] abonander commented on #38550
I know there's code out there in the wild that will be broken by this, especially if it affects the stdlib. Perhaps a Crater run and an early warning for the affected crates is in order.

[2016-12-22 22:50] rillian commented on #38519
Signature files are working now.

[2016-12-22 23:00] brson commented on #38558
Thanks for the report @kballard. I intend to make a sweep through all the emscripten issues soon and try to make some fresh progress.

[2016-12-22 23:19] petrochenkov commented on #34537
@nikomatsakis

Formally, this + reexport checking in resolve would be enough to enforce the basic guarantee "private things can't leave their module".
Everything else can be turned into a lint (probably deny-by-default) that shouldn't necessarily be completely precise and can use reachability and may be even heuristics.

I don't understand what you mean.
"types" as opposed to traits? why only impl

[2016-12-23 00:17] skysch commented on #28794
Hmm, I got the impression from that comment that this was fixed already. I'll look into it, thanks.

[2016-12-23 00:27] bstrie commented on #38550
@abonander We ran Crater for #37249 and saw no instances of legitimate breakage, though of course what I'm proposing here is more radical and also Crater only catches a subset of errors. This is definitely a conversation that we need to have with the broader community so that people are aware of what Rust actually guarantees (i.e. "less than you think if you're not using repr(C)"), which is part o

[2016-12-23 00:29] bstrie commented on #38550
Unanswered question: if a user *does* reveal a bug thanks to Rust reordering struct fields randomly (which, in correct code, should never trigger bugs), how do we help the user reproduce that bug deterministically?

[2016-12-23 00:33] abonander commented on #38550
Probably some compiler flag that prints the seed for randomization for each struct, and/or prints the final ordering of the fields for a given struct given the seed.

[2016-12-23 00:43] brson opened #38564 "Binop type mismatch error could be better"
From the [new book](https://rust-lang.github.io/book/ch06-01-option.html).

[code]

If we run this code, we get an error message like this:

[code]

This error could be a lot more newbie friendly. The next section of the book even has to apologize and explain:

"Intense! What this error message is trying to say is that Rust does not understand how to add an Option<i8> and an i8, since they're diff

[2016-12-23 00:45] brson commented on #38564
On the other hand, one might argue that it's important for users to understand how to interpret this error. It seems like binops though could be special case to say "The operator `+` is not implemented for ...".

[2016-12-23 01:36] chriskrycho commented on #37340
What's the current status on this—in nightly, it looks like, via https://github.com/rust-lang/rust/issues/11994? Do we know when it's expected to land?

[2016-12-23 02:10] siddontang commented on #37105
Hi @nikomatsakis

Sorry that we don't have enough time to reproduce it. We tested it three weeks ago and this issue still existed.  We can test it again after you release the newest nightly version :-)

[2016-12-23 02:23] jseyfried commented on #38237
@Arnavion #38537 won't make it in to today's nightly.

[2016-12-23 02:27] jcbritobr commented on #38347
It happens in release 1.14 with rust-gdb. :(

[2016-12-23 02:27] retep998 opened #38565 "libstd Process tests depend on msys programs on windows"
If you don't have some sort of msys in your PATH, then the libstd process tests will fail because they attempt to spawn programs that don't exist on Windows by default.

[code]

[2016-12-23 02:30] jseyfried commented on #38556
Fixed in #38566.

[2016-12-23 02:30] jseyfried commented on #38535
Fixed in #38566.

[2016-12-23 02:30] brson commented on #38565
It's probably best for the test suite to use it's own binaries for testing processes, but in the short term we can just make their names unix/windows-specific.

[2016-12-23 02:32] brson commented on #38565
The task here should probably be simple. Identify equivalent windows system exes to call for the failing tests and use cfgs to enable them on windows.

[2016-12-23 02:49] Arnavion commented on #38237
That's not a problem. I'm perfectly capable of building a local rust build synced to your PR :)

[2016-12-23 06:58] mkj opened #38570 "arm-unknown-linux-gnueabihf produces armv7 output not armv6"
I'm cross compiling on x64 Linux to a Raspberry Pi 1, Raspbian Jessie. Binaries produced by arm-unknown-linux-gnueabi target work fine, binaries from arm-unknown-linux-gnueabihf segfault in _start().

Readelf tells me that the arm-unknown-linux-gnueabihf target is actually armv7, which contradicts https://forge.rust-lang.org/platform-support.html

[code]

[2016-12-23 08:20] sanxiyn commented on #38547
DESTDIR support is tracked at #38441.

[2016-12-23 10:19] mitsuhiko commented on #24346
I know this is not the highest pressing issue on the list but I really would love to see this fixed. How much work would it be to switch this over to `backtrace-rs`? It's very frustrating to debug test cases on osx currently.

[2016-12-23 11:46] Keruspe commented on #38547
Indeed, don't know how I managed to miss this one.

[2016-12-23 12:32] Zoxc commented on #35937
I got this error now:
[code]
Where `self` is `&mut EventLoop` which means I don't know the real cause of the error.

From:
https://github.com/Zoxc/coroutines/blob/e25d2b66a8cae8b03440ed4fdd2d32408fd71735/future/src/lib.rs#L128

[2016-12-23 12:44] japaric commented on #38187
This should have been fixed (the target_family part) in #38401.

[2016-12-23 13:14] japaric commented on #38570
I think this may be your cross toolchain's fault because all the Rust side is v6, AFAICT:

[code]

If you are using the `gcc-arm-linux-gnueabihf` package that ships with Ubuntu, that would be problem because that toolchain targets ARMv7.

[code]

You should use the toolchain in the [raspberrypi/tools](https://github.com/raspberrypi/tools) repo or build your own but that targets v6.

[2016-12-23 13:16] eddyb commented on #35937
@Zoxc My guess would be missing `DerefMut` or `IndexMut` impl.

@nikomatsakis @jonathandturner We should print the first element of the lvalue that causes the whole lvalue to be immutable only, either an immutable variable, reference or overloaded deref/indexing.

[2016-12-23 14:09] Zoxc commented on #35937
@eddyb I forgot I changed `timers` to `Vec<Rc<Timer>>`

[2016-12-23 14:18] mkj commented on #38570
Thank you @japaric , that is the problem. I was using the Ubuntu toolchain, the raspberrypi one works as expected.
Sorry for the noise.

[2016-12-23 14:18] #38570 closed

[2016-12-23 14:32] michaelwoerister commented on #38512
@est31 Ah, yes, that explains it. But it's kind of a problem. The build system should at least emit a warning. Many tests rely on being able to control their debuginfo and optimization settings.

[2016-12-23 14:42] #36457 closed

[2016-12-23 14:58] nikomatsakis commented on #37929
Fixed by #38072

[2016-12-23 14:58] #37929 closed

[2016-12-23 15:02] nikomatsakis opened #38575 "rustbuild: copy libs for stage1 from stage0 when using incremental and enable-local-rust"
When building stage 2, we could copy the libstd etc that we built from stage1 instead of rebuilding (it has the correct metadata format). If we are using `--enable-local-rust`, we could do this even with `--stage 1` for the output from stage0 (presuming that you haven't locally changed the metadata). The downside is that you lose the testing of running the compiler you just built on libstd.

This

[2016-12-23 15:27] eddyb commented on #35937
Then the error message should contain "...because `Rc<Timer>` implements `Deref` but not `DerefMut`".

[2016-12-23 15:39] pnkfelix commented on #32409
After further discussion with @nikomatsakis, we are wondering whether `pub{restricted}` (instead of `pub(restricted)` is all that bad...

It seems like the shortest path to something that would remain as palatable as the status quo while fixing the `struct Tuple(pub (TYPE))` problem.

[2016-12-23 15:47] abhijeetbhagat commented on #38565
i can work on this.

[2016-12-23 15:51] michaelwoerister commented on #38380
Yeah, unfortunately LLDB only runs with the pre-installed version of Python. Even using the same version installed via homebrew often fails.

[2016-12-23 16:02] michaelwoerister commented on #38575
Related to this issue is also that the old build system split building libraries while rustbuild doesn't:

* For running most test suites (run-pass, run-fail, compile-fail, incremental, ...) the old system only built libraries from `libcore` to `libstd` (roughly), which takes about 40 seconds on my machine.
* Only for running additional test suites (run-pass-fulldeps, run-make, ...) it built the r

[2016-12-23 16:26] learnopengles opened #38576 "Request for clarification on arm-linux-androideabi"
I've been doing some reading up about Rust's support for Android, and it seems that now it is essentially a Tier 1, but I'm not sure if Rust's Android targets quite match up with Android's ABI.

For example: Both arm-linux-androideabi and armv7_linux_androideabi seem to be targeting arm-v7a, except armv7 also enables thumb2 mode and disables NEON.

Looking at this page: https://developer.android.c

[2016-12-23 16:49] camlorn commented on #38550
This will probably end up being a flag that does it both in debug and release.  Se [this thread](https://internals.rust-lang.org/t/rolling-out-or-unrolling-struct-field-reorderings/4485/7).

I wish the three related discussions were centralized.

[2016-12-23 16:52] camlorn commented on #28951
I think #37429 addresses this  for the most part, but note that it's being turned off by #38523.  There is a thread on it [here](https://internals.rust-lang.org/t/rolling-out-or-unrolling-struct-field-reorderings/4485/7).

There is more exotic stuff being discussed here, in particular the Swift ABI.  I think it might be worth doing someday, but I doubt it will help much.  Especially as compared to

[2016-12-23 17:08] learnopengles commented on #25678
I retested this and Rust is now faster than clang in this same test, with the ZIP iterator being slightly faster than the regular for loop:

### Rust
[code]
(Regular for-loop)
[code]
(ZIP iterator)
[code]

### C++ Clang
[code]
[code]

I'm curious why the for loop is slightly slower, but no matter, this particular I-slow bug is definitely no longer present on Rust 1.14!

[2016-12-23 17:08] #25678 closed

[2016-12-23 17:23] pedrocr opened #38578 "Rust 1.14 seems to make at least some performance sensitive code 10% slower"
At least some of the tight loop code in https://github.com/pedrocr/rawloader has become 10% slower in rust 1.14. To replicate this do something like:

[code]

On the same machine using rust 1.13 I get:

[code]

That's a >10% performance regression. The relevant hot code in this case is this one:

https://github.com/pedrocr/rawloader/blob/master/src/decoders/arw.rs#L177-L207

decode_threaded() uses

[2016-12-23 17:32] Digipom commented on #37235
On Rust 1.14 the abort version is significantly faster now.

Stable unwind: 2.6s
Stable abort: 2.0s

[2016-12-23 17:35] steveklabnik commented on #38576
Hey @learnopengles ! We try to keep the bug tracker for bugs only. Questions are better asked on https://internals.rust-lang.org/. Could you ask over there please? Thanks!

[2016-12-23 17:35] #38576 closed

[2016-12-23 17:36] mattgodbolt commented on #11906
Is there another way to get the line-level information in the asm output, without passing -debug? Compiler Explorer runs `rustc -g --emit asm` to get the assembly, and then parses the `.loc` directive to marry input code with output code.

Sadly the `-g` changes the code generation, which makes the output less useful.

The equivalent flags for C++ compilation don't have the same effect.

[2016-12-23 17:41] Digipom commented on #37235
rust.godbolt.org doesn't show any difference with the ASM, but if I ask Rust to emit the ASM then I can see this diff:

https://www.diffchecker.com/WNWOw2PB

The only difference seems to be that the unwind version has some extra .cfi directives. That alone could account for this difference? Interesting.

[2016-12-23 17:54] Digipom commented on #37235
Hmm, it seems that fib is called 2,269,806,339 times so even if those cfi directives are relatively cheap, that certainly can account for an extra 600ms. :)

I'll close this since -C panic=abort seems to be doing its job now.

[2016-12-23 17:54] #37235 closed

[2016-12-23 17:58] rkruppe commented on #37235
Those directives don't generate any code. They result in debug/unwinding info, but that's stored in a separate section which is not even touched in normal execution (i.e., no panics, no debugging, no stack Trave). And with the program being so small, it can't even be due to Instruktion cache misses... Weird.

[2016-12-23 18:02] nagisa commented on #38578
Another LLVM 3.9 case, I think.

[2016-12-23 18:27] learnopengles commented on #38576
Well that's just it, I thought it might be a bug, I'm just not 100% sure. But sure, I can ask over there instead. :)

[2016-12-23 19:18] sanmai-NL commented on #38564
I also think unimplemented operators in general could be described more accessibly in the way you described @brson.

The error message you gave as an example would be optimal, I think, if it pointed out instead that it pertains to `x`, even though the whole context is `x + y`. I expect that a novice programmer will then understand the problem more readily.

[2016-12-23 19:43] michaelwoerister commented on #11906
`-g` is equivalent to `-C debuginfo=2`, meaning "full debuginfo". But there is also `-C debuginfo=1` which means "just line-tables" and should have less of an impact on code generation.

[2016-12-23 19:57] clarcharr commented on #38564
I think that the general gist of the error is good, but it should add something mentioning that the reason why it needs this trait is because the function `add` is not implemented.

Perhaps we could explain this using the regular trait-not-found error and do something like:

"The compiler converts this operation into the form `x.add(y)`, using the `Add` trait. Because this trait isn't implemented,

[2016-12-23 20:20] pedrocr commented on #38578
Unfortunately I don't have a clang 3.9 to check if the equivalent C++ code shows the same regression.

[2016-12-23 20:21] frewsxcv commented on #37046
Opened a PR for this: https://github.com/rust-lang/rust/pull/38581

[2016-12-23 20:55] mattgodbolt commented on #11906
That doesn't appear to be the case.

(some lines removed from the below for clarity)
[code]

Note how adding the `debuginfo=1` has caused code generation differences.

[2016-12-23 20:57] mattgodbolt commented on #11906
Apologies; you did say "less of an impact" - and maybe it does. I was ideally looking for "no code impact" - but I'll change to use this at least! Thanks for the reply; any further suggestions welcomed!

[2016-12-23 21:17] nagisa opened #38582 "[rustbuild] --keep-stage=0 and tidy"
With `test --keep-stage=0` tidy.exe will not be built and if it didn’t exist previously, the tests will fail.

[2016-12-23 22:30] aturon commented on #38524
@nrc

Why not?

In general, we need a place to document the guarantees that client code should be able to rely on, and documentation is the natural place to do that. There are plenty examples of giving such contracts in documentation throughout the standard library.

Personally, I would take any behavior mentioned in the documentation as something you can and should rely on in your code, unless st

[2016-12-23 23:30] matthew-piziak commented on #37340
@chriskrycho Confirmed—it works in nightly. I'm using the feature in my nightly project right now.

[2016-12-23 23:49] m4b commented on #33417
I don't usually comment on these threads, but I've been waiting for this for a while and as expressed by several above, I'm not sure what the hold up is; I always want a from trait that can fail. I have code all over that is called `try_from`... This trait _perfectly_ encapsulates that idea.  Please let me use it on stable rust.

I also wrote a whole bunch of other things, but I've since deleted i

[2016-12-24 00:40] aturon commented on #34537
Note: there are some recent thoughts in a new [internals thread](https://internals.rust-lang.org/t/lang-team-minutes-private-in-public-rules/4504).

[2016-12-24 01:00] poke opened #38584 "Add support for the Visual Studio 2017 linker"
With Visual Studio 2017, Microsoft has changed the folder structure it uses for everything. `link.exe` is now located at `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\VC\Tools\MSVC\14.10.24728\bin\HostX64\x64\link.exe`. As you can see, the folder is dependent on the actual edition of Visual Studio as well.

Currently, Rust does not seem to recognize this path correctly. I don’t k

[2016-12-24 01:09] novacrazy opened #38585 "Compiler infinite loop with memory allocation"
EDIT:

This issue is with recursively imported modules like this:

[code]

where if crate A defines a module like that, attempting to use it in crate B will cause rustc and rustdoc to choke.

-----

I'm sorry I can't provide any compiler output for this, because it technically did not crash, but I did get the thread stack using Process Explorer.

Here is the process info when I decided to kill the

[2016-12-24 02:00] infinity0 commented on #36323
#37410 was closed, does that mean this is now fixed? It doesn't seem to be in 1.14.0, will it be in 1.15.0?

[2016-12-24 02:09] novacrazy commented on #38585
Getting this exact behavior very often now with types that don't exist in scope.

[2016-12-24 03:28] brson opened #38586 "proc macro 1.1 error messages spew massive amounts of junk"
This is an example of an error message I got with serde and serde_derive 0.8.20 on a recent nightly. As pasted here it doesn't look horrific, but it consists of massive lines of garbage and whitespace that _wordwrap_ on the console to create a nonsense maelstrom.

Even if we accept that the error messages must be bad, I think we can do considerably better than this. This is scheduled to be stable

[2016-12-24 03:33] brson commented on #38586
cc @erickt

[2016-12-24 04:42] sfackler commented on #33417
This was previously blocked on an investigation into the possibility of using `!` as the error type for infallible integer conversions. As the feature is currently implemented, this fails in even the most simple cases: https://is.gd/Ws3K7V.

Are we still thinking about changing the method names, or should we put this feature into FCP?

[2016-12-24 05:56] retep998 commented on #38584
I already spoke with the Visual C++ team a few months ago and someone was going to investigate adding support for this. I'll poke them and see if any progress has been made, and if not I'll end up doing it myself. I have VS 2017 myself so there should be nothing I'd need from you.

[2016-12-24 08:41] novacrazy commented on #38585
It might not be related, but rustdoc is hanging now instead of rustc.

[2016-12-24 08:55] Ixrec commented on #33417
@sfackler That playground link works for me if I change the return type on line 29 from `Result<u32, ()>` to `Result<u32, !>`: https://is.gd/A9pWbU It does fail to recognize that `let Ok(x) = val;` is an irrefutable pattern when val has Err type !, but that doesn't seem like a blocking issue.

[2016-12-24 08:59] novacrazy commented on #38585
![rustc memory behavior](https://cloud.githubusercontent.com/assets/4708645/21466163/ca763a62-c984-11e6-8b3d-c1eabe105f49.PNG)

I'm letting rustc overflow (eventually, after eating all my RAM), and I notice this memory behavior.

Could this be a Vec reallocating?

[2016-12-24 09:22] novacrazy commented on #38585
Another note: All this memory is either empty or very, very redundant. Although it has allocated over 16GB now, Windows 10 memory compression is keeping it around 6GB actual RAM usage.

[2016-12-24 09:45] TimNN commented on #38585
I'm trying to reproduce this, so a few questions:

* does the problem occur on the stable or beta channel? Or do you know of a nightly version in which the problem does not occur?

* in `run` you have `-> ALResult<()>` however run doesn't return anything, which should produce another error. Does the problem reproduce without the `-> ALResult`?

* How and where (another module, extern crate, ...) a

[2016-12-24 10:24] novacrazy commented on #38585
After working around this for more than a few hours I can safely say this only occurs with types that are not in scope. Any and all other errors don't impact it. After I correct `GLuint` to `ALuint`, I did in fact get the missing return value error.

The OpenAL-Soft bindings look like this:
![openalsoft-sys](https://cloud.githubusercontent.com/assets/4708645/21466360/7089b0c4-c98e-11e6-926e-ca7124

[2016-12-24 10:34] novacrazy commented on #38585
Ah, I think I see.

in `mod all`, I import `efx` and `ext`, both of which define a `types` mod. So it's importing two separate `types` modules into the same module scope. In fact, I'm surprised it compiled at all before. It seems the beta and nightly channels just merge the two modules together or ignore them entirely.

The only reason I could use the types defined in those modules, is because in

[2016-12-24 10:36] novacrazy commented on #38585
Nope, that didn't fix it. Problem exists on stable, too. If anything, it's allocating memory leaks even faster than the nightly.

[2016-12-24 10:37] novacrazy commented on #38585
Later today I'll publish the repos here on Github to help with recreating the problem.

[2016-12-24 10:40] segevfiner commented on #35566
I just tried building master and encountered this issue. 😕

[2016-12-24 10:41] chris-morgan commented on #38489
Here is a workaround: instead of invoking `cargo build --target=asmjs-unknown-emscripten`, invoke `cargo rustc --target=asmjs-unknown-emscripten -- -C linker=emcc.bat`.

(*Wow*, it takes a long time—90 seconds until it fails in optimisation for a very basic thing seems inordinate!)

[2016-12-24 10:42] chris-morgan commented on #37558
Same as #38489. I posted a workaround there.

[2016-12-24 10:47] chris-morgan opened #38588 "Emscripten compilation is failing"
Latest nightly build of rustc, fresh installation of Empscripten, Windows 10, 64-bit.

Given this basic `hello.rs`:

[code]

This is what I get when I try to compile it with Emscripten:

[code]

/cc @kripken; not sure if this should be here or in https://github.com/kripken/emscripten.

[2016-12-24 10:50] novacrazy commented on #38585
Repos are here:
[openalsoft-sys](https://github.com/novacrazy/openalsoft-sys)
[openalsoft-rs](https://github.com/novacrazy/openalsoft-rs)

Of course it's all still very WIP, so apologies in advance. I'm not sure if it even works correctly outside of MSVC yet.

[2016-12-24 11:00] eddyb commented on #35566
@segevfiner It's because the beta doesn't have the fix. Try building stage1 libstd without debuginfo then use `--keep-stage 0` always with `x.py` so the beta compiler is not used, and only then enable debuginfo.

[2016-12-24 11:18] killercup commented on #38564
I think as a first step it would be helpful to add type annotations to `x` and `y`. For example:

[code]

This way, people can at least recognize the `Option<i8>` in the error message as the type of `y`. I think this might be helpful in other "trait bound not satisfied" cases as well.

For operators in particular, it might be nice to add a sentence saying `+` becomes `std::ops::Add::add`. Alternat

[2016-12-24 11:51] steveklabnik commented on #38509
@rust-lang/lang , this would be technically-backwards-incompatible modification to `no_std`. What do you think?

[2016-12-24 16:25] aidanhs commented on #38575
A brief outline of the stage system as I understand it:
 - stage0-in - downloaded from the internet (or the local rust)
 - stage0-out - std, test, rustc (created with stage0-in, latter two use the stage0-out std) (all this can be incremental, as stage0-in doesn't change)
 - stage1-in - copied stage0-out std and rustc
 - stage1-out - std, test, rustc (created with stage1-in)
 - stage2-in - copied s

[2016-12-24 16:32] sfackler commented on #33417
@Ixrec a primary motivation for these traits was conversions to and from C integer typedefs. If I have a function

[code]

This will compile on i686 targets but not on x86_64 targets.

Similarly, say I want to replace the `IntoConnectParams` type: https://docs.rs/postgres/0.13.4/postgres/params/trait.IntoConnectParams.html. How can I do that if there's a blanket `impl<T> TryFrom<T> for T { type Er

[2016-12-24 17:07] cillian64 opened #38590 "std::fs::File::read tries to read more than INT_MAX on OSX and causes EINVAL"
std::fs::File::read calls the libc read function passing the buffer length to read's nbyte (or count) argument [0].  From POSIX the maximum read is SSIZE_MAX [1], although 64-bit MacOS libc is buggy and limits the read to INT_MAX [2].

I tried this code on OSX 10.11.6 (El Capitan):

use std::io::prelude::*;
fn main() {
    let mut buf = vec![0u8; 2147483648]; // 2^31
    let mut file = std::fs::Op

[2016-12-24 17:12] jhjourdan opened #38591 "rustc overflows its stack when type checking ~~a simple program~~ polymorphmic recursion"
The following program triggers a stack overflow in rustc:

[code]

My version of rustc:

[code]

The problem also appears when replacing `fn(u : T)` with `fn() -> T`.

[2016-12-24 18:00] #37807 closed

[2016-12-24 18:04] achanda commented on #38591
Interestingly, I don't see a stack trace with `RUST_BACKTRACE`
[code]
Same version of `rustc`

[2016-12-24 18:14] AraHaan commented on #38591
Well oddly than not it does look to see if there is about half a GB left on disk and if there is not updating would not work. Which is bad because there actually is enough space if I have an older version of it.

[2016-12-24 18:14] kripken commented on #38588
One possibility is the emscripten version is too old. We actually just updated it yesterday, so that should fix it if that's the issue. You should see `emcc -v` say the version is `1.37.0`.

[2016-12-24 18:48] jrmuizel opened #38592 "Allow for the ability to have undefined behaviour for division in release builds"
Currently, rust emits checks for division by 0 and division overflow when doing integer division. It would be nice to have a way to avoid these checks in performance sensitive code like arithmetic decoders (e.g. Opus)

[2016-12-24 19:26] lobachevzky opened #38593 "Stainless panics when I try to write a macro for running tests"
I am using the [stainless testing framework](https://github.com/reem/stainless) and I found a compiler bug. I'll also post this on the stainless repo.

The simplest version of the code that produces the bug is this:
[code]

The bug that it throws is:
[code]

Let me know if I can provide any additional info.

[2016-12-24 20:00] steveklabnik commented on #38592
This kind of change would require an RFC, as it's a major change to the language. Specifically, it would modify [RFC 560](https://github.com/rust-lang/rfcs/blob/master/text/0560-integer-overflow.md). Specifically,

As such, I'm going to give this one a close; please pursue this in the RFCs repository. Thanks!

[2016-12-24 20:00] #38592 closed

[2016-12-24 20:40] oconnor663 opened #38595 "rustc hangs when RUST_BACKTRACE is on"
Rustc hangs for almost 20 seconds when trying to compile an empty file, but only when RUST_BACKTRACE is on.

[code]

[2016-12-24 20:44] retep998 commented on #38590
For comparison, on Windows Rust already caps the amount that you can read/write in a single call to `0xFFFFFFFF` (the maximum value of a `DWORD`). I see no issue with enforcing similar limits on other platforms.

[2016-12-24 20:51] retep998 commented on #38584
For reference, a code sample for finding VS 2017 instances https://code.msdn.microsoft.com/windowsdesktop/Visual-Studio-Setup-0cedd331

[2016-12-24 21:10] chicoxyzzy commented on #38588
Same error on portable Emscripten SDK for OS X.
@kripken you are right emcc is 1.35.0
[code]

is there a way to update emcc right from Portable SDK?

[2016-12-24 21:14] #35875 closed

[2016-12-24 21:21] chicoxyzzy commented on #38588
also I see 1.37.0 as latest but emsdk install latest installs 1.35.0
[code]

[2016-12-24 21:42] kripken commented on #38588
Strange, maybe a bug in the emsdk? cc @juj

[2016-12-24 21:47] durka commented on #38593
You can get more info by running `RUST_BACKTRACE=1 cargo build`. That said I would guess this originates within stainless since it's a plugin.

[2016-12-24 22:09] infinity0 opened #38596 "ppc64le and s390x 1.13.0 binaries segfault when trying to build 1.14.0"
s390x: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=s390x&ver=1.14.0%2Bdfsg1-1&stamp=1482615802

[code]

ppc64el: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=ppc64el&ver=1.14.0%2Bdfsg1-1&stamp=1482614656

[code]

No time atm to investigate further, but will follow this up with more info in the new year.

[2016-12-24 22:33] nyarly opened #38597 "ToOwned trait bound not accepted for u8"
While `to_owned()` called on a reference to a `u8` returns a `u8`, a trait bound function doesn't accept `u8`/`&u8` as type parameters

I tried this code:

[code]

(Sorry for the length... not sure what more I can cut and still have it fail.)

I expected to see this happen: In the above snippet, I'd expect to be able to treat `&line` as a `&[u8]`, and therefore `IntoIterator<Item=&u8>`, therefore

[2016-12-24 23:12] retep998 commented on #38595
Dupe of https://github.com/rust-lang/rust/issues/37477?

[2016-12-24 23:43] theduke commented on #38591
The struct is obviously infinitely recursive.

The compiler should catch that of course and emit something like "illegal recursive struct" or whatever.

[2016-12-24 23:52] chicoxyzzy commented on #38588
Solution is `emsdk install sdk-incoming-64bit`. It will compile 1.37.0 from sources.

[2016-12-25 00:36] #37744 closed

[2016-12-25 00:46] sinkuu commented on #38597
No, `&u8` implements `ToOwned<Owned=&u8>`. `u8` implements `ToOwned<Owned=u8>` which has the method `fn to_owned(&u8) -> u8 { clone it }`.

You can use `Clone` for getting `T` from either `&T` or `T`.

[code]

If you don't like this solution (will be surely optimized out, but borrow and then clone!?), you can write a trait to dispatch between `T` and `&T`: https://is.gd/Wnw2E2

[2016-12-25 01:37] AraHaan commented on #38591
This also happens that sometimes it actually uses over than 1 GB of RAM as well for some insanely small code for some unknown reason.

[2016-12-25 02:57] canndrew commented on #33417
Note that there's [a PR open for that](https://github.com/rust-lang/rust/pull/38069).

This should work though

    fn foo(x: i64) -> Result<c_long, TryFromIntError> {
        let val = x.try_into()?;
        Ok(val)
    }

[2016-12-25 03:26] jimmycuadra commented on #33417
At the risk of being an annoying +1 comment, I just want to mention that after macros 1.1 arrives in Rust 1.15, try_from will be the last feature keeping [Ruma](https://github.com/ruma/ruma) on nightly Rust. Stable try_from is eagerly anticipated!

[2016-12-25 03:41] jimmycuadra commented on #33417
On a more substantial note...

That's a good observation, but I think the reason for the try_ prefix is not that it's necessary to identify the return type as a `Result`, but to distinguish it from the non-fallible equivalent.

I agree on this one. Most other error types I have come across in libraries are named "Error" and I like that so far "Err" has only ever meant `Result::Err`. It seems like

[2016-12-25 04:37] bstrie commented on #35120
I see that the FCP is complete, but this issue is still open. What's the status?

[2016-12-25 05:26] nyarly commented on #38597
Okay...

I think my reasoning ran like this: I could implement a "make an 'into'" trait like your `CloneOrPassthrough`, but *surely* there's a standard trait to do this, an then I found ToOwned and it sure looked like it would do what I wanted.

Given that the docs for ToOwned describe it as a generalization of Clone, why doesn't it work as I'd assumed? Conversely, with it defined as you explain,

[2016-12-25 05:28] novacrazy commented on #38585
I figured out how to create a minimal test case: https://github.com/novacrazy/rust-test-case-38585

[2016-12-25 05:30] Havvy commented on #37340
The new documentation required RFC means we need to figure out how to document it, I think?

* The [grammar](https://github.com/rust-lang/rust/blob/master/src/doc/grammar.md#structure-expressions) needs updating
* as would adding a section to [the book](https://github.com/rust-lang/rust/blob/master/src/doc/book/structs.md) and the new book.
* The [reference](https://github.com/rust-lang/rust/blob/

[2016-12-25 05:34] lobachevzky commented on #38593
The output of `RUST_BACKTRACE=1 cargo test` is

[code]

[2016-12-25 06:04] novacrazy commented on #38585
Okay, nevermind the test case. I know exactly what the issue is.

[code]

Is recursive. `myMod` imports `myMod`, causing type/symbol resolution to choke.

[2016-12-25 07:10] sinkuu commented on #38597
`<T as ToOwned>::to_owned` takes `&self` (which is `&T`, not `T`) and returns `T`. By taking `&self`, both `(T).to_owned()` and `(&T).to_owned()` work through `<T as ToOwned>` instance. But `<&T as ToOwned>::to_owned` takes `&&T` as self and returns `&T`.

I'm not sure why `ToOwned` is implemented in this way. There may be reasons.

[2016-12-25 07:41] nyarly commented on #38597
It makes some sense that `ToOwned` would be defined as `fn to_owned(&self) -> Self::Borrowed`...

Okay, I've just now realized, and maybe it's useful to someone else: therefore `(&b'u8').to_owned()` is calling the `to_owned` for `u8` and ToOwned, not `&u8` Which is basically what you just said, and I'm a bit thick here.

Thanks very much for taking the time to lay that out. I'm still not sure I co

[2016-12-25 07:41] #38597 closed

[2016-12-25 08:43] TimNN commented on #38585
Awesome work @novacrazy!

cc @jseyfried, this is your are of expertise, I think.

This is a (minor) regression from 1.7.0 to 1.8.0.

[2016-12-25 08:48] cgag commented on #36235
I don't know why it's not called lifetime inference. I've never heard the term type elision, nor do I think omit has any generalized negative connotation.  If the feature had been called omission, and someone proposed changing it to elision, I think most people would think it were a bad idea.

However, I have no idea if changing it is worth the cost in effort and making it harder to google existin

[2016-12-25 08:54] TimNN commented on #38593
This panic originates from the stainless plugin: Apparently stainless does not support using the `make_test!();` macro in the place where you are using it.

This bug is already reported to stainless as reem/stainless#76.

Since this ICE is triggered by an explicit panic in a plugin, I'm gonna close this issue.

[2016-12-25 08:54] #38593 closed

[2016-12-25 10:08] stianeklund opened #38599 "Failed to connect to the Mir Server (Running compiled binary fails on Windows Linux Subsystem, Ubuntu 14.04 with Rust 1.14.0 and latest nightly)"
Compiling works, but running the binary fails on WSL with Rust 1.14.0 and nightly.

[code]

[2016-12-25 10:49] abonander commented on #36235
Lifetime inference is actually its own thing already. You could call it lifetime *parameter* inference, but I think that would be even more confusing.

Elision is not an unfit word, it just needs to be explained a little better.

[2016-12-25 11:12] petrochenkov commented on #38358
@nagisa

How do they deal with LLVM build system requiring Python 2.7?

[2016-12-25 13:13] est31 commented on #38599
Hello!

I think WSL wasn't made for GUI applications. They can't run in WSL without some manual work (and its not officially supported by Microsoft). Rust runs just as well with an msvc linker, or with mingw/msys. Maybe try those instead.

The error you seem to have is less related with rust and more related with your actual program (aka a bug in the program). This issue tracker is for bugs in the

[2016-12-25 13:21] stianeklund commented on #38599
@est31 It must be a change in WSL perhaps, it worked earlier. :-) Anyhow, I thought as much and have it running fine in Virtualbox. It's likely the change has happened on Microsoft's end. Consider this solved.

[2016-12-25 13:51] jhjourdan commented on #38591
I don't know what you mean by this, but I do no think this is the problem here. The following program also reveals the problem:

[code]

But the following is accepted:
[code]
Recursive structs are a well-known and important feature of Rust.

[2016-12-25 15:15] lobachevzky commented on #38593
Sounds good.

[2016-12-25 15:55] sfackler commented on #33417
@canndrew Of course it's *possible* to make work, but the entire point of that motivation for this feature is to make it easy to correctly handle these kinds of platform differences - we want to avoid the entire space of "compiles on x86 but not ARM".

I think I chose `Err` for consistency with `FromStr` but I would be very happy to switch to `Error` before stabilizing!

[2016-12-25 15:59] sfackler commented on #38591
@jhjourdan `S<()>` contains an `S<fn(u: ())>`, which contains an `S<fn(u: fn(u: ()))>`, which contains an `S<fn(u: fn(u: fn(u: ())))>`, which contains...

[2016-12-25 16:02] jhjourdan commented on #38591
@sfackler : it does not /contain/ it. It /refers/ to it.

Again, recursive structs are a well-known, important feature of Rust. For example, you cannot define linked lists without them.

[2016-12-25 16:16] sfackler commented on #38591
The issue is not the storage of the struct. The issue is that you are asking the compiler to generate code for an infinite number of instantiations of `S`.

[code]

Is a very different thing than

[code]

[2016-12-25 16:21] jhjourdan commented on #38591
Well, but I am not asking the compiler to generate any code here... Or at least, the code that is generated is not used anywhere.

[2016-12-25 16:24] sfackler commented on #38591
I'm confused then - why is it valuable for it to be possible to define but never use this type?

[2016-12-25 16:43] jhjourdan commented on #38591
Btw, now I understand better why my code provokes a stack overflow.

But still, there is no reason this code is generated if the code is never used, and even then, this is not an excuse for rustc to do a stack overflow.

[2016-12-25 16:48] novacrazy commented on #38585
Some questions:

* How should Rust handle "recursive" modules like what happened here?
* Why did stable Rust (1.14) complain about the two `types` modules imported into the same namespace while the beta or nightly did not? And is that intentional? It is an ambiguity, after all.

Things to note just in case they overlooked it in my ramblings:

* This only seems to occur when the "recursive" module

[2016-12-25 16:52] tengwar commented on #18533
I just wanted a clear and simple answer for that question and I found it on StackOverflow: http://stackoverflow.com/a/25590515/2436687

[2016-12-25 17:30] steveklabnik commented on #36235
"inference" implies more complexity than "elision", this does not attempt to figure out, aka infer, how lifetimes should work. It just takes some patterns and allows you to elide, aka omit, the explicit lifetime if it fits the pattern.

[2016-12-25 17:41] #38535 closed

[2016-12-25 17:41] #38556 closed

[2016-12-25 17:42] DominusCarnufex opened #38602 "Weird error with inline assemby (invalid operand for inline asm constraint 'i')"
The following code

[code]

fails to compile with the following error

[code]

What is weird is :

1. Everything works perfectly fine with `#![crate_type="bin"]` and `#![crate_type="staticlib"]` but fails with `#![crate_type="rlib"]` and `#![crate_type="dylib"]`.
2. If there is only one variant in the enumeration, it compiles fine.
3. If you replace `"i"(u64::from(self))` with `"i"(0x1)`, it compi

[2016-12-25 17:43] Randl commented on #38441
That causes fail in Gentoo build https://github.com/gentoo/gentoo-rust/issues/217

[2016-12-25 17:45] arielb1 commented on #36082
Nominating since this seemed to disappear.

[2016-12-25 17:48] arielb1 commented on #35144
This should be fixed - projections are now sorted by their `DefPath`.

[2016-12-25 17:50] arielb1 commented on #31467
This is fixed as of Rust 1.15.

[2016-12-25 17:50] #31467 closed

[2016-12-25 18:20] arielb1 opened #38604 "Can create trait objects with self-containing bounds"
## Meta
[code]

## STR

[code]

## Expected Result

`Box<Foo>` is not well-formed, because `u32: Q<Foo>` does not hold.

## Actual Result

Code compiles.

This does not seem to cause any trouble, but is a potential future-compatibility hazard if we start elaborating these bounds.

[2016-12-25 20:57] matthew-piziak commented on #37340
Rustfmt also needs support for this feature. [The tracking issue is here](https://github.com/rust-lang-nursery/rustfmt/issues/1215). I'm planning to tackle that eventually but I'm not going to lick the cookie just yet.

[2016-12-25 21:28] alexcrichton commented on #24346
I would be wary of integrating backtrace-rs in the standard library due to the usage of private and not necessarily stable APIs on OSX (or at least, so I am told about CoreSymbolication). My personal hope for integration here is to actually get gimli to the point where we can integrate it into the standard library which would provide quite robust parsing of the line tables and whatnot.

[2016-12-25 21:29] #34324 closed

[2016-12-25 21:30] sfackler commented on #24346
Note that you can swap out the default implementation with your own based off of the crates.io backtrace crate with the `std::panic::set_hook` function.

[2016-12-25 21:33] alexcrichton commented on #38599
@stianeklund does this panic come from the Rust compiler itself? From the backtrace it looks like a local program perhaps?

[2016-12-25 21:43] alexcrichton commented on #38582
This is just a case where `--keep-stage` is only meant for local quick development, not a battle tested feature. If we keep getting but reports about it then I'm tempted to just remove it to match apparent expectations.

[2016-12-25 21:50] alexcrichton commented on #38528
I've also seen this before, with [tokio-socks5](https://github.com/tokio-rs/tokio-socks5/blob/d76bce1ac31d36a3bbf191bec738a11400ef3708/src/main.rs) as well. Removing [just a handful](https://gist.github.com/alexcrichton/c265e1bb03de0850fa518b3b4bc99827) of the trait objects in that file makes the compile time of the crate shoot from 2.34s to 89.52s (!!)

[2016-12-25 21:51] alexcrichton commented on #38532
I somewhat disagree with this in the sense that we're doing exactly the same thing as the previous build system, and no one complained about the makefiles...

[2016-12-25 21:56] alexcrichton commented on #38553
This is currently due to [this clause](https://github.com/rust-lang/rust/blob/20b6c160cac48d046e4fb21c70c31ce9339799fb/src/bootstrap/step.rs#L844-L849) which is intended to get `./x.py test --target ...` working. This can be worked around locally by using `--host` instead of `--target` for now at least.

[2016-12-25 22:45] mitsuhiko commented on #24346
Even though core symbolication is a private framework i still think that it's the best of all options because it will also do the right thing for loaded dylibs. Is there a particular thing you're worried about here?

[2016-12-25 23:24] shepmaster commented on #37477
This is negatively impacting the alternate playground, which always sets RUST_BACKTRACE, and is now present in released 1.14.

[2016-12-25 23:36] arielb1 commented on #37477
[code]

[2016-12-25 23:57] shepmaster commented on #33417
Likewise, the alternate playground backend only needs nightly for access to `TryFrom`; the nightly serde stuff was too unstable for my liking, so I moved to the build script setup. With 1.15, I'll be moving back to `#[derive]`. I'm eagerly awaiting this feature becoming stable!

[2016-12-26 00:51] alexcrichton commented on #31306
I feel like I've seen errors like this all the time when the build dir gets into weird states, but starting back from a stage0 libstd usually fixes everything. I've never had a chance to track it down unfortunately so nothing leaps to mind :(

[2016-12-26 03:30] parched commented on #38187
OK, yes that is my preferred fix, but it will probably break some custom target specs as @arcnmx mentions.

[2016-12-26 03:30] #38187 closed

[2016-12-26 05:56] jseyfried commented on #38585
@novacrazy Thanks for the report!
This is #34324, it was fixed in #38539.

They should "just work".

Yes, this is due to the recent [stabilization](https://github.com/rust-lang/rust/pull/37127) of [RFC 1560](https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md) (specifically [this rule](https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md#multiple-unused

[2016-12-26 05:56] #38585 closed

[2016-12-26 05:59] parched commented on #38602
The operand for the "i" constraint must be constant, so in general this won't work.

1. The code is completely optimised away because it isn't used. For me it fails with optimisation turned on.

2. If there is only one variant it is optimised to a constant 0.

3.  A literal is a constant so that is expected.

4.  & 5. These always fail for me.

[2016-12-26 06:13] jseyfried commented on #35120
RFC 1560 was stabilized in #37127 (currently in beta).

[2016-12-26 06:13] #35120 closed

[2016-12-26 06:19] alexcrichton commented on #38519
@brson how serious is a regression is this? Is it something we should fix ASAP? Patch rustup ASAP?

I don't currently have plans to fix this until we redo releases entirely, but we can prioritize a fix if it's causing active breakage.

[2016-12-26 08:19] Amanieu commented on #37197
Is there any chance of putting `from_raw` and `into_raw` into a trait or would that be a breaking change for `Box`?

[2016-12-26 08:33] Amanieu commented on #37197
Also I think `from_raw` and `into_raw` for `Rc` and `Arc` should accept unsized types, just like the implementations for `Box`.

[2016-12-26 09:01] withoutboats commented on #35900
Hey! This is an [RFC 1636](https://github.com/rust-lang/rfcs/blob/master/text/1636-document_all_features.md) documentation audit. This is the first major feature to stabilize since RFC 1636 was accepted, and we should do a good job of following it in this case.

The RFC states:

What is the right process for this? Should we add checklist items to the top comment of this issue, or create a new issu

[2016-12-26 10:20] Randl commented on #38441
As far as I understand, we need to to pass `DESTDIR` to `install` function and add value of `DESTDIR` to prefix here https://github.com/rust-lang/rust/blob/master/src/bootstrap/install.rs#L27

[2016-12-26 11:44] nikomatsakis commented on #32409
I am in favor of `pub{restricted}`. Well, mostly I am in favor of stabilizing this syntax form -- and that seems the most straightforward and uncomplicated syntax for achieving it. =)

cc @rust-lang/lang -- what does everyone think about the alternative syntax `pub{restricted}` (note: braces) instead of `pub(restricted)`?

[2016-12-26 12:06] eddyb commented on #32409
I like the prospect of potentially expanding the feature to sibling ("friend") modules, which would match multiple import `use` syntax if we have braces, so for that reason I'd prefer them over parens.

[2016-12-26 12:50] learnopengles commented on #33278
Hi team, I know this is closed but it seems steps 2 and 3 aren't yet implemented. Should we reopen this or open new tracking issues?

[2016-12-26 13:32] #34628 closed

[2016-12-26 13:58] DominusCarnufex commented on #38602
Actually, you’re right. I was trying to use this to get around a bug I was having on OS X, but I managed to find where the bug came from and to resolve it, so let’s forget this idea.

I’m closing the issue.

[2016-12-26 13:58] #38602 closed

[2016-12-26 14:17] chris-morgan commented on #38584
Concerning a workaround: if this is the same as Visual Studio “15” Preview 4 (which had the new directory structures): you can run vcvarsall.bat to set up the current terminal and then it all works.

For me, this works:

[code]

[2016-12-26 14:31] infinity0 opened #38612 "1.14.0 tests fail (1 run-pass, 1 compile-fail) on arm64"
We are bootstrapping this from Debian's 1.13.0, see https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=arm64&ver=1.14.0%2Bdfsg1-1&stamp=1482639065&raw=1

`run-pass/allocator-default.rs`:
[code]

`compile-fail/allocator-rust-dylib-is-jemalloc.rs`:
[code]

The logs linked above also contain some extra stack traces.

[2016-12-26 14:38] learnopengles opened #38613 "memset not being optimized out when initializing array contents"
Apologies as there's most likely already a tracking issue for this, but I wasn't able to find it. When initializing an array's contents, it seems that the initial memset is not optimized out:

https://godbolt.org/g/pbgnlq

[code]

Clang has the same issue actually, except there memset would have to be called explicitly.

[2016-12-26 14:47] steveklabnik commented on #38613
If clang has the same issue, it's likely an LLVM bug, not our bug, I'd guess.

[2016-12-26 14:51] steveklabnik commented on #35900
Thanks @withoutboats ! It's the first major one, yeah. I had had this on my list to look at this morning, and lo and behold, you beat me to it 😄

My imagining of this was always that the decision to stabilize and the actual stabilization are separate. That is, @rust-lang/lang can say "this can be made stable", but the commit to remove the gate also ensures the documentation exists. In a world wher

[2016-12-26 14:55] ProgVal opened #38614 "`for` borrowing lasts after the end of the for loop"
Hi,

The following code:

[code]

Raises an error about `vector.iter()`'s borrow conflicting with `vector.last_mut()`:

[code]

 However, I would have expected the first borrow to end with the first closing bracket.

Playground URL: https://play.rust-lang.org/?gist=36c206ebc1f8c96b96978a628b5c09a9&version=stable&backtrace=0

[2016-12-26 14:57] steveklabnik commented on #38614
I _believe_ this is a duplicate, but I'm not sure.

[2016-12-26 14:59] peterjoel opened #38615 "Unhelpful error message using impl trait to return a closure."
The following code ([Rust Playground link](https://is.gd/wJ4EkR))
[code]

produces the error:

[code]

This error can be gotten rid of, by adding a lifetime constraint:
[code]

But that still leaves an error about borrowing the `log` reference:

[code]

Fixing this (by making the closure a `move`, as is suggested) doesn't require the named lifetime, so really the error second error message should

[2016-12-26 16:10] learnopengles commented on #38613
Quite possibly yes, the difference is that everything starts out uninitialized so you wouldn't be running into this case by default. Could MIR omit the check to prevent it from cascading down to the IR level?

[2016-12-26 16:14] #38012 closed

[2016-12-26 16:14] #38409 closed

[2016-12-26 16:14] #38504 closed

[2016-12-26 16:25] rkruppe commented on #38614
This is because of lexical lifetimes and is thus covered by https://github.com/rust-lang/rfcs/issues/811. `item` is returned, so it must be valid for longer than the loop (longer than the function, actually) and consequently the vector is also borrowed for as long. This isn't a real problem because this only applies to the return path, but because lifetimes are lexical, the compiler only has one c

[2016-12-26 16:35] steveklabnik commented on #38614
I was not 100% sure, but this was also a suspicion I had. Thanks for the report, @ProgVal , but yes, it's covered by that linked issue.

[2016-12-26 16:35] #38614 closed

[2016-12-26 16:40] bluss commented on #38582
tidy is not part of the use case, so I don't think this is a bug.

[2016-12-26 16:42] bluss commented on #38613
Sounds like it's related to #35662

[2016-12-26 17:12] nox commented on #38614
But the whole loop is in a block by itself, why would the borrow need to survive longer than the enclosing block?

[2016-12-26 17:38] learnopengles commented on #38613
It seems to be present in older versions of Rust too (at least when comparing with rust.godbolt.org). I tried switching to enumerate and that didn't cause the memset to go away.

[2016-12-26 17:52] steveklabnik commented on #38614
You're reading "not a real problem" backwards; @rkruppe is saying that your code is fine, that it doesn't have an actual problem. Borrowck can't understand that, though.

[2016-12-26 17:53] nox commented on #38614
Oh I see, thanks for the explanation!

[2016-12-26 18:21] nagisa commented on #38613
Use `std::mem;:uninitialized()` if you want the default behaviour of C.

[2016-12-26 18:36] cengizIO commented on #38520
Hello @nikomatsakis. I'd like to take a shot at this if I'm allowed.

[2016-12-26 18:48] cengizIO commented on #38520
My first observation is that this isn't related to `const_fn`. Am I right?

I reading the [RFC](https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md) now and doesn't seem to require `Copy` on `const_fn`s.

[2016-12-26 19:08] alexcrichton opened #38618 "Spurious segfault in tests for musl"
[First seen](https://travis-ci.org/rust-lang/rust/jobs/186801430) on Travis, the error looks like:

[code]

cleaned up as:

[code]

This means that the *test harness itself* segfaulted. Sounds quite suspicious!

[2016-12-26 19:26] alexcrichton opened #38620 "Spurious failure in incremental\cache_file_headers.rs on Windows"
I've seen [this failure](https://ci.appveyor.com/project/rust-lang/rust/build/1.0.1263/job/2ojivhva8umurjyf) a number of times on AppVeyor at this point:

[code]

where the actual error is:

[code]

So far I've been unable to isolate what's happening here much less reproduce it, unfortunately

Other examples are:

* https://ci.appveyor.com/project/rust-lang/rust/build/1.0.1245/job/ntewu3y9r37b0a3a

[2016-12-26 19:26] alexcrichton commented on #38620
cc @michaelwoerister

[2016-12-26 19:32] alexcrichton commented on #24346
My specific worry is that we'd be embedding basically all Rust executables with the logic of loading core symbolilcation. If core symbolication then changes an API (e.g. changes the ABI of one of the functions we use) it'd cause all Rust executables to start segfaulting on OSX by default basically. With such a large impact (all Rust executables) I'd prefer to ensure that we'll continue working int

[2016-12-26 19:51] mitsuhiko commented on #24346
But this only ever gets executed if Rust is already crashing. So realistically even if this were to break in the future it only breaks if stuff already breaks.

[2016-12-26 19:52] sfackler commented on #24346
Uh, a SIGSEGV is *very* different than a panic in a long running process.

[2016-12-26 19:58] mitsuhiko commented on #24346
Well. I'm assuming that any panic outside of testsuites better shut down the process anyways. That said if you do thinkt his is no path forward I wonder what is. Because OSX does not guarantee much about debug symbols either so if one does not use coresymbolication one needs to keep updating a custom implementation with all apple changes as they come in.

[2016-12-26 20:09] #18086 closed

[2016-12-26 20:34] pornel commented on #24346
Can this be done only in *debug* Rust executables?

I would even prefer it that way, because line numbers are inaccurate in optimized builds anyway, and for distribution I'd rather have smaller executables.

[2016-12-26 20:43] thomas-huet commented on #24843
No longer crashes:

[code]

[2016-12-26 20:58] sheldon commented on #38588
Heya

I can confirm there's a bug somehow in emsdk. Update says 1.37.1 is latest, but installing latest stays on 1.35.

[code]

[2016-12-26 21:10] alexcrichton commented on #24346
@mitsuhiko I'd consider any SIGSEGV from the standard library as unacceptable, requiring an immediate fix. I could also imagine that some changes in ABI could even lead to exploitations perhaps. In that sense I'd just want to shield us as much as possible.

If changes in format periodically broke line numbers (e.g. they're just not displayed) then that's totally fine by me at least. We can always

[2016-12-26 21:13] chicoxyzzy commented on #38588
@sheldon there are just no pre-built binaries for 1.37.0. Try `emsdk install sdk-incoming-64bit` instead.

[2016-12-26 21:16] learnopengles commented on #38613
I dont believe I said I wanted the behaviour of C? I only wanted to clarify that we wouldn't run into this bug as often there because arrays start out uninitialized.

[2016-12-26 21:18] sheldon commented on #38588
thanks, running it now, just wanted to let you know it's not just you 😄

[2016-12-26 21:24] alexcrichton commented on #38547
@Keruspe could you provide a full log, ideally with `RUST_LOG=cargo::ops::cargo_rustc::fingerprint`, when rustbuild builds too much?

[2016-12-26 21:35] sbstp commented on #32409
If `pub{restricted}` can help stabilize this, then ok. I'd like to see short cuts for the most common patterns, like `crate fn` to mean `pub{crate} fn`. I feel like most people won't bother with finer grained restrictions and use pub{crate/super} most of the time, at least I would. Perhaps a contextual keyword could be used, like in default's case.

[2016-12-26 21:39] camlorn commented on #38550
Just thought of something else. The seed for the reordering can be a hash of the path to the struct, thus producing a stable ordering until such time as the struct is moved or renamed.  This should be really easy to implement.

[2016-12-26 21:55] alexcrichton commented on #37197
@Amanieu could you elaborate on why you'd like to see these as a trait? I do think that'd be a breaking change to remove the inherent methods on `Box` (unless we add the trait to the prelude), but that doesn't meant we could also add a unifying trait later. We've just tended to avoid premature abstraction in libstd with extra traits.

Also on a technical level is accepting unsized types possible?

[2016-12-26 21:55] glennpratt commented on #38343
Implementing sum or product where the result is a larger type seems like it would be very valuable.

Sum or product on bytes (u8) will easily overflow, making the methods fairly useless unless I'm misunderstanding something.

[2016-12-26 22:05] alexcrichton commented on #38575
Ok I think there's a lot going on in this issue, so I want to try to help tease it apart. As currently titled I think that this issue is conflating two orthogonal issues.

First, one optimization we can do as part of the build is to just omit the third time we compile the compiler. We only need to fundamentally compile the compiler twice. That's covered by the second bullet in https://github.com/r

[2016-12-26 22:08] learnopengles opened #38621 "Error about "does not live long enough" could be more helpful"
When we receive a "`(var)` does not live long enough" error message, the compiler doesn't always tell you which line is actually causing the problem. For example:

[code]

Compiling this will give the following error:

[code]

Neither of the shown lines are that close to where the problem actually is, on line 50:

`} else if let Some(label) = label_map.insert(label, instruction_address) {`

Changi

[2016-12-26 22:16] nikomatsakis commented on #38575
@aidanhs I'm not sure if this is the same as what @alexcrichton said, but I was thinking that it's orthogonal in that you can copy the libs from stage N-1 to stage N, where N is the "final stage". This would mean copying output from stage 1 to stage 2 if you're building with beta as the snapshot, but if your snapshot is "new enough", you could copy stage 0 to stage 1 (and consider stage 1 as the f

[2016-12-26 23:03] Ms2ger commented on #38343
It doesn't do anything else than any other mathematical operation. Why are you doing mathematics on `u8` anyway?

[2016-12-26 23:39] alexcrichton commented on #37479
Looks like this is related to using lldb 360 vs lldb 330. The 330 version was in use by our old buildbots, and 360 recently [failed on Travis](https://github.com/rust-lang/rust/pull/38507). I've confirmed locally 360 fails with both rustbuild and makefiles (e.g. it's not a rustbuild problem).

I'm going to ignore this test for now on OSX, to land that change, but let's leave this open to track the

[2016-12-26 23:41] alexcrichton commented on #32836
One issue that may want to be considered before stabilization is https://github.com/rust-lang/rust/issues/37479. Looks like with the most recent version of LLDB debugging unions may not work :(

[2016-12-26 23:43] FabianEmmes opened #38624 "Inconsistent life time behavior between BorrowMut::borrow_mut() and AsMut::as_mut()"
The following code shows inconsistent behavior in lifetime checking:

    use std::convert::AsMut;
    use std::borrow::BorrowMut;

    trait T {}

    impl T for u8 {}

    fn main() {
        // A (AsMut and Primitive Type):
        {
            let mut r: Box<u8> = Box::new(23u8);
            let _: &mut u8 = r.as_mut();
        }

        // B (AsMut and Trait Objects):
        {

[2016-12-26 23:45] FabianEmmes commented on #38624
There is some discussion of this issue at https://users.rust-lang.org/t/trait-objects-and-borrowmut/8520

[2016-12-26 23:46] est31 commented on #35897
@rfcbot you are broken! Something is supposed to happen here, no?

[2016-12-26 23:53] Mark-Simulacrum opened #38625 "VecDeque<T> should implement PartialEq with &[T]"
I believe this is definitely possible (comparing the iterators of each), and I suspect that there's a more efficient method as well.

See this documentation PR where it simplifies the code: https://github.com/rust-lang/rust/pull/38581/files#diff-266e22074e3b36596081857cbf5b1513R1256.

[2016-12-26 23:57] eddyb commented on #35897
I've checked off both of them manually just now, maybe that will do something?

[2016-12-27 00:07] joshtriplett commented on #32836
@alexcrichton Does it work with GDB?

[2016-12-27 00:13] alexcrichton commented on #32836
From what I can tell, yes. The Linux bots seem to be running the test just fine.

[2016-12-27 00:19] glennpratt commented on #38343
Just implementing a toy program trying to familiarize myself with iterators. But one could also ask why does `impl<'a> Product<&'a u8> for u8` exist?

[2016-12-27 00:25] glennpratt commented on #38343
This is what I tried to do before I jumped to google:

[code]

[2016-12-27 00:40] Amanieu commented on #37197
@alexcrichton I'm building a safe interface for `intrusive-collections`, which works by having a collection "take ownership" of an owned pointer. This is done by calling `into_raw` before inserting an object into a collection, and calling `from_raw` when an object is removed from a collection. I currently define an `IntrusivePointer` trait myself which does this, so I guess a trait in the standard

[2016-12-27 01:54] aidanhs commented on #38575
@alexcrichton

I think it's important to talk about scenarios. If you're locally developing, I can't think of any reason to build anything more than once (i.e. no further than stage1-in). But for (say) merging a commit it's important to make sure the compiler is self hosting so you do it twice (i.e. no further than stage2-in). If you want extra verification then you can do it a third time and comp

[2016-12-27 02:13] #19914 closed

[2016-12-27 05:17] J-F-Liu commented on #25041
I also meet this issue while writing the following code:
[code]
The error message is:
[code]

[2016-12-27 05:43] elahn commented on #19914
Fixed in #38274 when running from native Windows (cmd/PowerShell/etc).

When running a Windows exe from [Mintty](https://github.com/mintty/mintty) (MSYS/Cygwin TTY), stdin & stdout are piped from/to Mintty. ReadFile() is used to read the stdin pipe and there seems to be no way to detect EOF, i.e. it doesn't return zero bytes when the user presses Ctrl+D.

This is a [known issue](https://github.com

[2016-12-27 06:57] joshtriplett commented on #32836
Then that means Rust provides all the right debugging information, and LLDB just has a bug here.  I don't think a bug in one of multiple debuggers, not present in another, should block stabilizing this.  LLDB just needs fixing.

[2016-12-27 07:32] alexcrichton commented on #38531
@Mark-Simulacrum  you may be interested in https://github.com/rust-lang/rust/pull/38631, but the gist is that nothing changes, it's all the same. It may not be clear what terminology means what, but https://github.com/rust-lang/rust/pull/38631 as a concrete implementation should hopefully clarify what's intended.

[2016-12-27 07:45] eddyb commented on #25041
@J-F-Liu Completely intentional, associated types are supposed to be determined from `Self` and trait parameters *alone* but yours is extra generic.

[2016-12-27 07:45] #38237 closed

[2016-12-27 10:08] YaLTeR opened #38633 "Macros don't work in struct declarations"
https://is.gd/qo9P1O

[code]

Gives an error:
[code]

Expected: generated code like

[code]

[2016-12-27 10:19] withoutboats commented on #31844
What if we allowed specialization without the `default` keyword within a single crate, similar to how we allow negative reasoning within a single crate?

My main justification is this: "the iterators and vectors pattern." Sometimes, users want to implement something for all iterators and for vectors:

[code]

(This is relevant to other situations than iterators and vectors, of course, this is just

[2016-12-27 10:40] canndrew commented on #33417
@sfackler Sorry I wasn't following. In the case of integer conversions it sounds like what we really need is to *not* typedef `c_ulong` to either `u32` or `u64` depending on platform but to somehow make it a newtype. That way a `TryFrom<c_ulong>` impl can't interfere with a `TryFrom<u{32,64}>` impl.
After all, we're always going to have "compiles one platform but not the other" problems if we defi

[2016-12-27 11:14] killercup commented on #38444
Just published cargo-edit 0.1.4 without this lint (and a bunch of dependency updates).

[2016-12-27 11:52] reverendhomer commented on #28570
Looks like MIR didn't help. This bug is still reproducible: https://is.gd/LNFdkl

So, any progress with that?

[2016-12-27 11:54] nikomatsakis commented on #34537
@petrochenkov

Maybe best to carry this on the internals thread, but what did you mean by "reexport checking in resolve" when you wrote:

(I think that (as I explained in the internals thread) we do need some checking for associated types in impls, at least.)

[2016-12-27 11:59] YorickPeterse commented on #27700
Perhaps this is not the right place to ask, but what's the progress on the `alloc` library, and `alloc::heap` in particular? I'm currently working on a programming language and the only hard reason this requires nightly is the use of `alloc::heap` as I have to allocate memory with a specific alignment.

[2016-12-27 12:04] nikomatsakis commented on #38575
Hmm, this might be a bit imprecise. One wrinkle is that, to use compiler X, you need to have a version of libstd etc that has metadata compatible with compiler X. Strictly speaking, the only official guarantee of compatible metadata is that libstd etc were produced by compiler X. But sometimes, in practice, any compiler Y that is "close enough" to X will do. Hence the desire to copy libraries.

Bu

[2016-12-27 12:38] tspiteri opened #38634 "unhelpful error when match pattern upper bound literal is converted to less than lower bound"
[code]
This triggers  error E0030, and the error message states that the lower bound is larger than the upper bound, presumably because 256 is converted to 0u8. The overflowing_literals warning could have hinted at the real issue, but the error takes precedence and the root cause is thus not highlighted.

[2016-12-27 12:49] sfackler commented on #33417
I would not advocate that we break literally all FFI code in the world. Having tried and failed to pick up similar integer newtype wrappers like `Wrapping`, there are massive ergonomic costs.

Is there a `impl<T> From<!> for T` in the standard library? I don't see it in the docs but that might just be a rustdoc bug. If it's not there, then there's no way to convert the `TryFrom<ConnectParams>` imp

[2016-12-27 13:11] djc commented on #34482
It seems like this has regressed in 1.14.0:

[code]

[2016-12-27 13:57] Amanieu commented on #38509
Maybe just as a lint then? That would make it backward-compatible.

[2016-12-27 14:03] steveklabnik commented on #38509
New lints require an RFC.

[2016-12-27 14:10] newpavlov commented on #38509
For transitional period of course, but in my opinion this lint should state that in future it will become a hard error. I guess it will depend on how many crates (and versions of them) affected by this issue, if there is just a few of them then it's possible to skip lint stage altogether by contacting crate owners directly and arguing that it's better to yank affected versions, but if there is too

[2016-12-27 14:15] #37710 closed

[2016-12-27 14:48] bluss commented on #38509
Seems like a great lint. Not sure it should ever be an error. Consider if you have a no_std crate with add-on std-using deps. It's more convenient if you can just continue to use `no_std` unconditionally.

[2016-12-27 15:12] Mark-Simulacrum commented on #38531
So instead of stage0 we should now `cfg(stage1)`?

Perhaps a better way to ask my question is: when changes are made to the compiler that make a given lang item no longer necessary, what `cfg` should it be annotated with?

[2016-12-27 16:06] nikomatsakis commented on #37105
@siddontang

I'm sorry that we can't reproduce it either. =( Please do give it another try so at least we know if it is still a problem!

[2016-12-27 16:06] nikomatsakis commented on #37105
Have we at least narrowed this down to a specific nightly where the problem seems to occur? It seems like it is not due to the switch to MIR, right?

[2016-12-27 16:08] canndrew commented on #33417
I was thinking something more like being able to define your own integer types a. la. C++:

[code]

Would that solve most the ergonomic issues? I don't actually like C++ user defined literals - or features in general that give people the power to change the language in confusing ways - but I guess it could end up being the lesser of two evils.

Not currently because it conflicts with the `From<T>

[2016-12-27 16:11] nikomatsakis commented on #31306
I can't think of anything that incremental would have done to cause this, but I have observed this sort of thing I think (though not on Windows) -- this is not to say that changes for incremental are not at fault in some way of course.

[2016-12-27 16:24] newpavlov commented on #38509
I just afraid it will be a false guarantee. Personally when I see unconditional `#[no_std]` in the `lib.rs` I expect crate to be unconditionally independent over stdlib. (well, ideally I would like to get this infromation from `Cargo.toml` but it's a separate topic) In that context argument of "convenience" seems strange, especially in the language with goals of Rust. For me to have feature gated

[2016-12-27 16:25] xen0n opened #38637 "rustbuild: i686 rustc artifact is gone"
This is the reason of nightly packaging failing. I strongly suspect my own #38468 for that, although I don't yet know why the artifact is skipped in the first place. I'll investigate further.

[2016-12-27 16:34] michaelwoerister commented on #38620
This test relies on an environment variable being set correctly by `compiletest`. Might that be a hint?

[2016-12-27 16:50] alexcrichton commented on #38531
Oh no everything should proceed as usual. When the compiler changes a lang item you use `#[cfg(stage0)]` and `#[cfg(not(stage0))]`, as we do today.

Is there something specific, though, that you're worried about breaking?

[2016-12-27 17:04] alexcrichton commented on #38575
@aidanhs Ah I think @nikomatsakis may have answered as well, but I'll try to help clarify as well. All compilers are basically useless unless they have a libstd to link with as well.  So once you actually build a compiler, you still need to get a standard library from somewhere to link against.

Now the compiler changes metadata format, ABI, etc, from time to time. This means that we can't just pi

[2016-12-27 17:42] xen0n commented on #38637
Indeed:

In [`step.rs`](https://github.com/rust-lang/rust/blob/da73b4e40b2c89ca058b57de3a7e6614524ae1a7/src/bootstrap/step.rs#L843-L852) we have some logic to presumably shave off some test time by checking if the rule is host-only, limiting the cross product to hosts array if applicable. However after #38468 the hosts array only consists of the build triple, so the output of host rules is effecti

[2016-12-27 17:55] alexcrichton commented on #38620
Hm I think that may be a red herring. Presumably the env var is being set correctly because the compiler is recompiling, right?

Digging more into this this morning I came across https://bugzilla.mozilla.org/show_bug.cgi?id=509960, a similar error, but no resolution there. One possibility is disk space running out but this is such a deterministic error that seems unlikely.

[2016-12-27 17:59] fluxxu opened #38638 "rustdoc: rustc panicked at 'assertion failed: !self.is_proc_macro(item_id)'"
rustdoc panic while generating documentation

Reproduce:
- ```diesel_codegen = { version = "0.9.0" }```
- ```#![feature(proc_macro)]```
- ```#[macro_use] extern crate diesel_codegen;```
- ```pub use <whatever>;```
- ```cargo doc```

I made a minimal example here:
https://github.com/fluxxu/rustdoc-issue

I expected to see this happen: documentation generated

Instead, this happened:
[code]

## Back

[2016-12-27 18:09] alexcrichton commented on #38620
My *guess* is that this is failing because something else has the file open. On Windows at least if there's an open file handle you're unable to delete that file. This is happening on both MSVC and GNU so I don't think it's linker specific (e.g. no problems like with mspdbsrv.exe I believe).

@michaelwoerister you wouldn't happen to have any ideas about when we'd open this file, would you? IIRC th

[2016-12-27 18:18] xen0n commented on #38637
Opened #38639.

Before #38468:  (some additional debug info added by me, not present in the PR)

[code]

After #38468, before #38639:

[code]

After:

[code]

[2016-12-27 19:08] alexcrichton commented on #19914
@elahn I'm not 100% privvy to all the issues in play here but if the handling code is reasonably small enough seems fine to put in the standard library. If it becomes quite large, however, or invasive, then we may wish to punt those issues to an external crate for now.

[2016-12-27 19:20] japaric commented on #36488
@alexcrichton @brson Is this now easier to fix now that we are using Travis for testing/packaging? (This is blocking Xargo from being able to (cross) compile `std` with the "jemalloc" feature enabled.)

[2016-12-27 19:33] alexcrichton commented on #36488
Source tarballs are created from rustbuild now, but we're not using Travis for packaging. I don't think this bug fix should be any easier than before, though.

[2016-12-27 20:07] caipre commented on #36235
@steveklabnik : I might have this wrong, but doesn't elision imply inference? Meaning, if the lifetimes are not explicitly written out (ie, are elided), then compiler must be able to infer them. When inference isn't possible, neither is elision.

[2016-12-27 21:05] steveklabnik commented on #36235
This is inference:

[code]

Here, the Rust compiler looks at v, and says "oh, I don't know what the type is yet." But once you use `v` by passing it to `foo`, rust says "oh, foo takes a vec<i64> so that must be the type of `v`."

Elision on the other hand does no such thing. It only allows you to elide/omit things that fit into a pattern. In other words:

[code]

This function has two trivial impl

[2016-12-27 21:08] nrc opened #38640 "Remove deprecation warning for --crate-type=metadata"
UPDATE: Very easy way first bug! [Mentoring instructions here.](https://github.com/rust-lang/rust/issues/38640#issuecomment-304306325)

-----

This didn't spend long in the wild, so we don't need to wait too long. But, Cargo does rely on the flag, so we should leave it in at least long enough to fix Cargo and for people to upgrade.

[2016-12-27 21:10] #38437 closed

[2016-12-27 21:15] Mark-Simulacrum commented on #38531
In https://github.com/rust-lang/rust/pull/38574, I removed the `trans_exchange_free` lang item, and as such a compile with `--increnental` (which I understand is equivalent to the changes suggested above) failed since the beta compiler expected it to be defined. Perhaps I missed something, though.

[2016-12-27 22:07] brson commented on #12868
Updated test

[code]

It looks to me like the paths in the debugger want to be crate-prefixed today.

Results in gdb on Ubuntu 16.04:

[code]

Results in lldb on Ubuntu 16.04:

[code]

[2016-12-27 22:13] spinda opened #38642 "Specialization doesn't trigger for these cases"
As discussed in https://github.com/rust-lang/rfcs/issues/1825, specialization should allow the following to compile:

(original impetus, using the `!` type)

[code]

(general case, without `!`)

[code]

cc @canndrew @aturon

[2016-12-27 22:23] spinda commented on #38642
I suppose I should tag #31844 here as well.

[2016-12-27 22:26] alexcrichton commented on #35900
@steveklabnik that sounds good to me, and I'd be ok landing docs whenever as well (even ahead of FCP finishing). The FCP here is sort of pseudo-finished anyway as we accidentally took a long time to enter.

It'd also be good to get these in quickly so we can ensure a safe backport to 1.15 beta branch!

[2016-12-27 22:57] sfackler commented on #33417
That sounds like something we should circle back to in a couple of years.

What's the timeline on stabilization of specialization and `!`?

[2016-12-27 23:15] rhysd commented on #35553
I made a workaround for this until this API is stabilised.

[code]

[2016-12-28 00:03] alexcrichton commented on #37197
Hm yeah it's true I'm not entirely sure what the vtable would look like. Would be good to clarify before we support the functionality!

[2016-12-28 00:04] frewsxcv commented on #38625
I'm working on this.

[2016-12-28 00:42] chriskrycho opened #38643 "Document all features in the reference"
Last updated **February 10, 2017**, now processing a [fork] of @Eh2406's wonderful [gist].

[fork]: https://gist.github.com/chriskrycho/e5507ca0a1f1db1246fff12c74f5e183
[gist]: https://gist.github.com/Eh2406/57e9b7d4d2be1dd11eb400de9c65ec8f

---

Tracking issue for [RFC #1636][#1636]. I'm going to be updating this parent issue with a master list of items that need to be documented in the reference

[2016-12-28 00:47] chriskrycho commented on #38643
A note on this: my plan is to spend some of my time between now and when I go back to work on Tuesday compiling the lists above. The goal will be to have an exhaustive list of items to tackle. Once we have those, I'll tackle the list piece by piece over the course of 2017; it's a personal goal of mine that when 2017 ends, the end-of-year blog post can say "We now have a fully up-to-date reference!

[2016-12-28 01:02] steveklabnik opened #38644 "s/try!/?/g in documentation examples"
Now that `?` is stable, documentation should be updated to use it instead of `try!`. `try!`'s docs should probably have a once-over, as well.

PRs to do this in any amount will be welcome, even just one examples!

[2016-12-28 02:33] canndrew commented on #33417
For specialization I don't know. For `!` itself it's mostly a matter of whenever I can get my patches merged.

[2016-12-28 02:44] canndrew commented on #38642
Thanks for opening this. Actually I don't think those examples should compile as described because neither impl is contained by the other. It should work if you explicitly write an impl for the overlap though (but currently it doesn't)

[code]

[2016-12-28 03:18] canndrew commented on #31844
Is that really so bad though? If you want to specialize an impl then maybe other people want to aswell.

I worry because just thinking about this RFC is already giving me PTSD flashbacks of working in C++ codebases which use obscene amounts of overloading and inheritance and having no idea wtf is going on in any line of code which has a method call in it. I really appreciate the lengths that @atur

[2016-12-28 03:52] J-F-Liu commented on #28237
I think inclusive range should still implement std::collections::range::RangeArgument and a new method to this trait.
[code]
So that `fn foo<T, R: RangeArgument<T>>(arg: R)` can take either inclusive or half-open ranges.

[2016-12-28 04:04] Keats commented on #34981
Any news about stabilisation of that feature?

[2016-12-28 05:26] SimonSapin commented on #35553
@rhysd This work, but takes O(N × (M + N)) time where N = `inserted.len()` and M = `target.len() - index`. (This is because a single `String::insert` call takes O(M) time, since it needs to move the bytes in `target` after `index` to the right in order to make room for `c`.) But maybe that’s OK for you because N and M are small in your program.

`String::insert_str` uses `unsafe` code to only move

[2016-12-28 05:57] lu-zero opened #38646 "The compiler gets confused if an additional "/*" is included in the comments"
e.g:
[code]
Leads to

[code]

[2016-12-28 06:42] frewsxcv commented on #38625
I ran into an issue.

https://github.com/rust-lang/rust/blob/a9ab7788150d19e44419c3b153336aa24ad830b9/src/libcollections/vec_deque.rs#L2530-L2531

These now become errors:

[code]

[2016-12-28 07:08] frewsxcv commented on #38625
Is this inference issue allowed breakage?

[2016-12-28 07:35] J-F-Liu commented on #25041
@eddby ah, thanks, the following code works:
[code]
<style>
.tab-size-8 .blob-code {
    -moz-tab-size: 4;
    tab-size: 4;
}
</style>

[2016-12-28 08:27] petrochenkov commented on #38565
All `run-make` tests also fail when run without msys (they are not skipped on MSVC, at least in rustbuild).
In theory they could use MSVC's `nmake` instead of `make`, they should be compatible for very simple makefiles.

[2016-12-28 10:39] stianeklund commented on #38599
@alexcrichton It comes from the compiled program, indeed.

[2016-12-28 11:51] xen0n commented on #38646
This is working as intended, because

* Rust supports nested comments, and
* Text inside a comment block is not lexed like code (no parsing is done for the text!).

The compiler has no way to figure out whether the `/*` should be treated as start of a nested comment block or not, so it's just treated as such.

That said, maybe the diagnostics could be more helpful? However I seriously doubt we cou

[2016-12-28 12:39] lu-zero commented on #38646
It is quite anti-ergonomic, if that's intended please at least make `//` have priority over `/*` since:

[code]

won't make the thing behave.

[2016-12-28 13:13] infinity0 commented on #38612
#37392 seems related

[2016-12-28 13:15] infinity0 commented on #38596
Probably same as or related to #37320, see also #38612.

[2016-12-28 13:18] infinity0 commented on #31529
After applying #38650 and trying the Debian build again, I get

[code]

[2016-12-28 13:32] rhysd commented on #35553
@SimonSapin yeah, N is 4 and M is 10~20. Just a workaround for this API.

[2016-12-28 13:48] bluss commented on #38625
It's definitely allowed, but not every allowed type inference breakage is a good idea. So it still has to be decided carefully.

[2016-12-28 13:50] bluss commented on #37079
This item in the documentation: [`.repeat()`](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.repeat). I propose this is stabilized soon.

[2016-12-28 14:19] thirtythreeforty opened #38651 "Compiler error: No def'n found for DefId"
The following code ([Playground link](https://is.gd/VeDxzS)) produces an ICE on Rust 1.14.0 on Arch Linux x86_64.

[code]

The error is:

[code]

Backtrace:
[code]
Version info:
[code]

[2016-12-28 14:32] infinity0 opened #38652 "Provide a non-cargo alternative to bootstrap rust"
Requiring cargo to bootstrap rust (as is the case with the planned move to rustbuild) will greatly raise the cost of bringing it to new architectures, as well as making it harder to audit security-wise.

One way this could be done, is to add functionality in cargo to output a shell script that runs "what it would have done", then check this in with the rustbuild source code. (edit: assuming this o

[2016-12-28 14:37] Mark-Simulacrum commented on #38625
@frewsxcv Mind posting a PR? Perhaps we can find a way to fix the inference breakage.

[2016-12-28 14:52] apasel422 commented on #38651
Yields the following on beta and nightly:

[code]

[2016-12-28 14:52] xen0n commented on #38200
This is such a niche use case, to the point that it's arguably already moot by use of `ccache`, if the sole purpose is to reduce build time. However there may be some other advantages, maybe space savings for use on some *really* storage-constrained systems? I don't know, it's trivial to make the list of targets configurable but the maintenance and support burden is real.

What do the Rust team th

[2016-12-28 14:57] xen0n commented on #38652
Oh, I just realized [there's an irlo thread discussing exactly this](https://internals.rust-lang.org/t/solving-the-bootstrap-problem/3269)... Let's move there instead for the discussion?

This issue could be left open BTW, in case the proposal ever materialized, as a ready-made tracking issue.

[2016-12-28 15:02] est31 commented on #38652
It seems to be easy to bootstrap cargo with only rustc and some traditional unix build tools available. Using this, you can then bootstrap rustc.

@xen0n Interesting thread! mrustc had quite some progress since that thread, it can now actually compile and run programs.

[2016-12-28 15:17] infinity0 commented on #38652
We can't "bootstrap cargo with only rustc and some traditional unix build tools", if we don't have rustc in the first place. But future versions of rustc will need cargo.

So I/Debian would have to download the previous rustc *and* cargo binaries, and use these to build the current version of rustc and cargo. This is not a good situation, because it greatly increases the amount of binary code ("bl

[2016-12-28 16:03] sfackler commented on #37079
@rfcbot fcp merge

[2016-12-28 16:30] thirtythreeforty commented on #38651
Ah.  If it works in beta, sounds like the problem has already been identified.  Does a unit test exist for this?

[2016-12-28 16:38] est31 commented on #38652
No, as it was pointed out in #2110, it is possible to bootstrap cargo with rustc only. You will have to build cargo one way or another already, as you will want to include it in debian too. So all you need to do is to create one package for cargo that has been bootstrapped using the blob rustc, and use that cargo to bootstrap the current version of rustc.

Sorry for bringing mrustc into the discus

[2016-12-28 16:49] alexcrichton commented on #38200
Seems fine to me to add an option for this! We won't do it on the bots, but that doesn't mean it can't exist.

[2016-12-28 16:51] alexcrichton commented on #38565
@petrochenkov oh my plan with `run-make` was to migrate all the tests to Rust actually one day rather than prolonging the life of `make`. I feel like it'd be a never-ending series of painful PRs to maintain compatibility with both `make` and `nmake`, so we could solve both by making a rustbuild-like transition, just rewriting all the tests in Rust.

[2016-12-28 16:51] alexcrichton commented on #38599
Ah ok, in that case I think this may be a bug locally rather in the compiler itself, so closing.

[2016-12-28 16:51] #38599 closed

[2016-12-28 16:52] alexcrichton commented on #35553
@rfcbot fcp merge

Seems like a consistent API and has baked for awhile!

[2016-12-28 17:50] steveklabnik commented on #38652
Yes, let's do that please!

I like to try to keep the bug tracker clean; we can always make new issues. Without a plan of action to get the ticket closed, it will just hang around. Better to decide what, if anything, we need to concretely do in that thread, and then make a tracking issue later.

Thanks @infinity0 ! But yes, let's keep discussing this over there.

[2016-12-28 17:50] #38652 closed

[2016-12-28 17:52] Amanieu commented on #37197
`&RcBox<Trait>` and `&Trait` have the same vtable pointer: https://is.gd/QNfAIo

[2016-12-28 17:55] xen0n commented on #38652
@steveklabnik Fair point, especially from a triage perspective. Let's head over to the forums!

[2016-12-28 17:57] brson commented on #36488
This is going to involve hacking on both rustbuild and rustup. Ideally rustbuild will produce tarballs with the correct permissions and rustup will use those permissions when extracting the tarball.

[2016-12-28 18:06] infinity0 commented on #38652
Anything is "possible"; you're overlooking the fact that someone has to spend the time to write this stuff. @lucab had already looked into using dhuseby/cargo-bootstrap for Debian and decided it would take too much effort.

How do you want to continue that thread? It talks about issues beyond the scope of this issue. I don't want the solution to this issue, to be blocked by the other issues it tal

[2016-12-28 18:08] durka commented on #38541
I guess we'll need to see the code at this point. If a non-recursive macro can trigger the recursion limit, there is a problem somewhere. That said, I just checked and you don't need a nightly to use `trace-macros` as I suggested above, so you can try it.

[2016-12-28 18:10] est31 commented on #38652
Making cargo output a shell script sounds like a good workaround, but it would almost certainly require an RFC...

[2016-12-28 19:06] alexcrichton commented on #38391
Checking back in on this, there haven't been any more comments in https://github.com/rust-lang/cargo/issues/3368. For the breakage we've seen:

* pinyin has a PR - https://github.com/mozillazg/rust-pinyin/pull/5
* rasen is already fixed by removing the build script - leops/rasen@fa6ee9223d10e37c2e85b4f9c9739013b0f0c11b
* zip_codes has a PR - https://github.com/SkylerLipthay/zip_codes/pull/2

Still

[2016-12-28 20:18] frewsxcv commented on #38625
Opened a PR: https://github.com/rust-lang/rust/pull/38661.

[2016-12-28 20:42] cyplo commented on #38054
Is this easy to fix ? If so - maybe worth marking as so and mentioning on Rust Weekly ?

[2016-12-28 21:39] tshepang commented on #38644
am curious why the downvotes

[2016-12-28 21:43] shepmaster commented on #35120
This code currently fails in stable, but compiles in beta and nightly. I do not think it should:

[code]

Since `use super::Outer;` does not re-export `Outer` from `foo` via `pub`, I don't believe that `foo::test::super::*` should include `Outer`.

I've skimmed through the [changes to name resolution rules](the https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md#changes-to-n

[2016-12-28 22:13] lfairy opened #38663 "`break` without labels should be hygienic"
Minimal test case:

[code]

Now, since the call `blah!(break)` is written in the context of `main()`, I would expect that `break` to exit the *outer* loop. That is,

[code]

But instead, the `break` is hooked up to the loop within the macro:

[code]

This behavior seems unintuitive, especially when the equivalent code with labels

[code]

*does* respect hygiene.

[2016-12-28 22:35] pnkfelix commented on #38412
(for anyone else who like me is looking to applying bisection here: note that the build system changed during the same time span that one might start with for the bisection, and so you need to invoke the correct build system depending on where you are in the history. Furthermore, the build products go into different places depending on which build system you use, so if you're like me and not payin

[2016-12-28 22:51] jseyfried commented on #38054
@cyplo Yeah, I believe this can be fixed by replacing [these lines](https://github.com/rust-lang/rust/blob/c80c31a502c838f9ec06f1003d7c61cf9de9d551/src/librustc_resolve/resolve_imports.rs#L598-L599) with `_ => None,`.

[2016-12-28 23:02] #24414 closed

[2016-12-28 23:06] est31 commented on #38618
maybe the actual failing test has nothing to do with the actual issue, but counting the dots, the test that's failing is number 560, which is `test ptr::test_as_mut`.

[2016-12-28 23:07] est31 commented on #38618
err, that was the last one that succeeded, the one which would come next is `ptr::test_as_ref`

[2016-12-28 23:10] alexcrichton commented on #38618
@est31 sounds plausible! Note though that tests are run in parallel so I don't think we can know for certain which test failed, unfortunately :(

I'll also note that I tried running this locally thousands of times, but none of them segfaulted :(

[2016-12-28 23:16] alexcrichton opened #38666 "Tracking issue for reverting `cargo check` in Rust 1.15"
This is a tracking issue for the tasks to revert `cargo check` and `--crate-type=metadata` in the Rust 1.15 release branch. currently `--crate-type=metadata` is on the `beta` branch of this repository and `cargo check` is itself in the rust-1.15.0 branch of the Cargo repository.

Unfortunately there have been a number of bugs associated with `cargo check` since first implemented:

* https://github

[2016-12-28 23:17] alexcrichton commented on #38666
I'm tagging this as a regression to make sure we don't lose track of it, but to be clear there's not actually a regression here. Just want to piggy back off the processes that triage beta regressions!

[2016-12-28 23:21] alexcrichton commented on #38666
cc @nrc

[2016-12-28 23:33] Timmmm commented on #22547
I have actually read this issue twice before and it *still* took me around 10 minutes to figure out why I was getting this error. Specifically I had this code:

[code]

That is, normal code but I had commented out one function. It gives this error:

    error: expected one of `const`, `default`, `extern`, `fn`, `pub`, `type`, or `unsafe`, found `}`

This is *really* confusing. Would it really be t

[2016-12-28 23:44] llogiq commented on #35837
This is now in stable, so it seems safe to close.

[2016-12-28 23:44] #35837 closed

[2016-12-29 00:27] alexcrichton commented on #38618
Looks like [this just happened in collectionstest as well](https://travis-ci.org/rust-lang/rust/jobs/187333971). Still musl specific.

[2016-12-29 00:43] russellmcc commented on #35968
Any movement on this?  I don't feel at all good about using Rust on iOS without a plan for supporting bitcode.  Apple has a history of making optional things like this non-optional fairly suddenly.

This approach (by @ricky26) seems to be the most natural to me as a rustc user.

[2016-12-29 01:13] brson commented on #38620
Why would this only show up on AppVeyor? Is the Windows job object set up differently in rustbuild than in rust-buildbot?

[2016-12-29 01:15] alexcrichton commented on #38620
That's a good question! (I'm not sure why it's only on AppVeyor). We aren't actually using job objects on AppVeyor like we were on rust-buildbot, notably we aren't using [rustjob](https://github.com/alexcrichton/rustjob). The rustbuild job object (which we do use), however, should be the same across rust-buildbot/AppVeyor.

Between AppVeyor and rust-buildbot we've had a ton of changes, though. App

[2016-12-29 01:18] alexcrichton commented on #35968
I don't believe anything has changed on this recently to my knowledge at least. With LLVM's [recent announcement](http://blog.llvm.org/2016/12/llvms-new-versioning-scheme.html) about versioning they indicated that bitcode should (I think) always be loadable by future versions of LLVM. That *may* mean that this issue is "solved" on a fundamental level, but it'd still require a more ergonomic interf

[2016-12-29 01:34] nagisa opened #38669 "Storage liveness is generated incorrectly for this code snippet"
[code]

has

[code]

as the generated MIR. The LLVM IR ends up being generated correctly, because `_4` is determined to be an SSA-like lvalue, but I fear that there may also be cases where equivalent of `_4` would be forced into an alloca (and generate incorrect IR, after some compiler change maybe?) and would certainly interfere with MIR optimisations and MIR borrowck.

[2016-12-29 01:42] brson commented on #38620
It doesn't look like compiletest is doing anything itself that would hold the exe open.

[2016-12-29 02:01] brson commented on #38643
Having a list to work off of will be a great start!

[2016-12-29 02:28] bombless commented on #38625
I think that inference failure was there long before Rust 1.0
https://is.gd/j8KMA1

[2016-12-29 02:33] frewsxcv commented on #38625
It occurs because prior to this PR, the only thing you could compare `VecDeque` with was another `VecDeque`, so the compiler knew to `collect` into a `VecDeque`. Now that it can compare `VecDeque` with `VecDeque` *or* `Vec`, it doesn't know which one to choose.

[2016-12-29 03:12] durka commented on #38663
The second case is definitely working as expected due to identifier hygiene (it prints a warning which seems incorrect though).

The first case is somewhat unintuitive, I agree, but can't be changed for stability (at least until macros 2.0, but I'm not sure it is a good idea even then to change subtle things like this out of concern for porting).

[2016-12-29 03:24] spinda commented on #38642
After looking over the `rustc` source, this is what happens now when compiling that example:

1. Attempt to insert `impl<T> Unto<T> for T` into the specialization graph. No overlaps detected, so insertion succeeds.

2. Attempt to insert `impl<T> Unto<T> for !` into the specialization graph. An overlap is detected with `impl<T> Unto<T> for T` currently in the specialization graph; specifically, `!:

[2016-12-29 03:40] ishitatsuyuki commented on #37197
I'm looking forward to have something like `std::shared_from_this`(C++), thus constructing a new Arc from a reference (probably &self).

[2016-12-29 04:02] alexcrichton commented on #36436
@rfcbot fcp merge

Still looks like a good API to me!

[2016-12-29 04:02] alexcrichton commented on #37516
@rfcbot fcp merge

[2016-12-29 04:03] alexcrichton commented on #37838
@rfcbot fcp merge

[2016-12-29 04:03] alexcrichton commented on #37827
@rfcbot fcp merge

With the one remaining open question I think it's safe to stabilize as this is still consistent with our approach to custom flags in other areas of platform-specific extensions as well.

[2016-12-29 07:05] oconnor663 commented on #37868
My `duct` library is [currently working around this](https://github.com/oconnor663/duct.rs/blob/0.5.0/src/lib.rs#L294) by doing a `canonicalize` under the covers. My reasoning here is that errors are acceptable, because in the situations that trigger this (relative program name, `current_dir` is in use) it's pretty much guaranteed that the invocation would fail otherwise anyway, unless the caller

[2016-12-29 07:43] deepak commented on #32934
am still a rust noob. so may be wildly wrong
but it seems as if, `std::cmd` is useful for both:

1. implementing equality and ordering. need the traits there
2. comparing "stuff" implemented with (1). need the `Ordering` enum here

as a casual user of rust, expected using `Ordering` to be more important than implementing
traits in `std::cmp`. in hindsight, this was a bad assumption on my part (may

[2016-12-29 08:51] nanosankaku opened #38672 "stability.rs:516: encountered unmarked API (the compiler unexpectedly panicked. this is a bug.)"
[code]

% cat src/lib.rs
[code]
## Meta
Tried nightly and beta, same error

% rustc --version --verbose
rustc 1.15.0-beta.1 (d9a0f0df7 2016-12-19)
binary: rustc
commit-hash: d9a0f0df7051c603011d6b60fbdd155318fc47f3
commit-date: 2016-12-19
host: x86_64-unknown-linux-gnu
release: 1.15.0-beta.1
LLVM version: 3.9

% rustc --version --verbose
rustc 1.15.0-nightly (71c06a56a 2016-12-18)
binary: rustc
co

[2016-12-29 09:28] petrochenkov commented on #35120
@shepmaster

https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md#non-public-imports + https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md#glob-imports-of-accessible-but-not-public-names

[2016-12-29 09:36] cristicbz commented on #37197
Unlike C++ we don't support splitting the allocation of the ref counts from
the allocation of the data, so that would be a bigger change.  Not sure it
can be done backwards compatibly even without this functionality.

What use case is not covered by Rc::new(self)? (i. e. Moving into an Rc)

On Thu, 29 Dec 2016, 03:41 Tatsuyuki Ishi, <notifications@github.com> wrote:

[2016-12-29 09:40] ishitatsuyuki commented on #37197
The best thing is to take self as &Arc<T>, but it's impossible due to the language design. This is common in building circular reference, which has been hard to do in safe area of Rust.

[2016-12-29 09:59] petrochenkov commented on #38672
Duplicate of https://github.com/rust-lang/rust/issues/38672

[2016-12-29 10:03] tomaka opened #38673 "Impossible to infer the lifetime parameter of a function parameter when going through a trait"
This code:

[code]

Leads to:

[code]

In case you're wondering, there is a `impl<T> From<T> for T` in stdlib, so `&'a str` does implement `From<&'a str>`. To make sure I used a custom trait instead of `From` and it didn't fix the problem.

Chances are that this is a duplicate of an existing issue, but it's hard for someone not familiar with the internals of rustc like me to know if that's the cas

[2016-12-29 10:05] petrochenkov commented on #38412
I think I know what is the reason.
After https://github.com/rust-lang/rust/pull/37676 stability checks on fields/methods are performed during type checking, i.e. before the privacy checking pass.
Private fields/methods are obviously lacking stability attributes, i.e. they are "unmarked API".
Privacy checking pass aborted compilation on errors end prevented stability pass from checking private stuf

[2016-12-29 12:00] nanosankaku commented on #38672
Sorry, duplicate of itself?

[2016-12-29 12:11] jucs commented on #38355
@eddyb The worst user-facing complexity is when things don't work for no obvious reason; or, even worse, if there is inconsistency between different language constructs.

Also, from my point of view, non-lexical borrow scopes is one of the most important features Rust currently lacks.

[2016-12-29 12:13] petrochenkov commented on #38672
Oops, duplicate of https://github.com/rust-lang/rust/issues/38412

[2016-12-29 12:46] #38672 closed

[2016-12-29 14:03] djzin commented on #38673
Not clear if it helps in your specific use case, but your example would compile with the following:

[code]

[2016-12-29 14:26] tomaka commented on #38673
Indeed, it looks like this works if I then use `BuildFrom` as a replacement for `From`:

[code]

[2016-12-29 14:42] shepmaster commented on #35120
@petrochenkov Thank you. "non-public imports" appears to be the piece I was missing; I was aware of the glob change. I guess I missed it when skimming because it uses a sibling module, not the nested module that my brain was primed for.

[2016-12-29 15:44] JoeyAcc commented on #38541
Fair warning, it's pretty huge. But I can't and won't split it up since it's a parse tree resulting from a grammar I did not define (i.e. the [xquery](https://www.w3.org/TR/xquery-3/) grammar).
Some info about the offending code snippet:
1. `Node` is a struct
2. The argument to `Node::new()` is of type `NodeType`, which  is an enum
3. Nodes have either `children` or `data`, but a valid parse tree

[2016-12-29 15:59] pnkfelix commented on #38412
a hypothesis: Did we start running the stability checking pass (which as I understand it is the thing emitting the "unmarked api" errors) *before* we check for privacy violations?

[2016-12-29 16:43] cbreeden opened #38677 "`Signs` in `fmt` documenation"
cf: <https://doc.rust-lang.org/std/fmt/index.html#sign0>

This can't be accurate as there is no `Signed` trait anymore.  Though, it's unclear to me if `+` is even allowed in formatting, so I don't feel comfortable modifying the docs here.

[2016-12-29 16:58] infinity0 commented on #37320
After setting this envvar for the whole build on powerpc64le (and making other fixes) I'm getting a failure in `tests::test_typed_arena_drop_small_count`, could it be related?

[code]

[2016-12-29 17:03] brson commented on #35408
No changes since 11/17. Still P-high. @nikomatsakis @eddyb please re-triage.

[2016-12-29 17:05] brson commented on #37991
This needs to be fixed and backported soon. Release is feb 2. I'd like this backported by the third week of jan at latest.

[2016-12-29 17:07] brson commented on #38519
I'd like to fix before the next release. I think the fix as of now is in rust-buildbot.

[2016-12-29 17:13] brson commented on #38444
Since this is just a change in lints, I don't think there's anything to be done.

[2016-12-29 17:13] #38444 closed

[2016-12-29 17:19] brson commented on #38412
This'll need a backport to 1.15, and we've got about 3 weeks to get it in.

[2016-12-29 17:30] pnkfelix opened #38678 "TAGS targets (for emacs and vi integration) disappeared from Makefile"
We used to have a collection of targets for generating so-called TAGS tables, which could then be read into one's editor for source navigation.

But with the revisions to the configure and build system to use `rustbuild` by default, those targets see to have disappeared.

[2016-12-29 17:39] bluss commented on #38541
It looks like you're using trailing commas. That's the case where the `vec![]` macro is recursive, it calls itself *once*. So you'd gain recursion levels by removing the trailing comma. Still, it's clear that it's not the vec macro that is to blame for using recursion levels, but the code itself is deeply nested.

[2016-12-29 18:18] brson opened #38682 "Bad unnecesary qualification lint from macro expansion in Rust 1.15"
Here's a log I saw recently (ignore the "kablam"s):

[code]

This is pointing out an unused qualification in the expansion of a macro. I can't tell what the underlying error is, but I know that sometimes we ignore the results of macro expansion for certain analysis purposes, because macros want to output "bad" style sometimes. Do we ever ignore lints for macro expanded code? cc @jseyfried

[2016-12-29 18:34] brson opened #38683 "Illegal instruction in hamt-rs in Rust 1.15"
This did not happen in Rust 1.14.

https://github.com/michaelwoerister/hamt-rs commit 7bb893a2e4e5258b9bfcef46355a1dedfe0fc596

rustc 1.15.0-beta.1 (d9a0f0df7 2016-12-19)

x86_64-unknown-linux-gnu

[code]

cc @michaelwoerister

[2016-12-29 18:39] brson opened #38684 "itm fails its tests in Rust 1.15"
Regression from 1.14.

https://github.com/japaric/itm commit 2a27aa2e2bd66598d39e5c1f8ec4f1a7987074b7

[code]

[code]

cc @japaric

[2016-12-29 18:44] brson opened #38685 "iwls-0.0.2 fails its test suite in Rust 1.15 beta"
Regression from 1.14.

https://github.com/alopatindev/iwls commit 7316d2125f848914e90b26d532dc2165db4054bf

[code]

[code]

cc @alopatindev

[2016-12-29 18:49] pnkfelix opened #38686 "rustbuild `--verbose` switch is missing env var info"
When I run `time python /Users/fklock/Dev/Mozilla/rust.git/x.py build --stage 1`, in an error condition like `` error: Could not compile `core` ``, I see the subsequent suggestion: `To learn more, run the command again with --verbose.`

When I run with `--verbose`, I do see helpful output with the build commands it executes. In particular, I see `rustc` invocations that I would like to run myself,

[2016-12-29 18:50] alexcrichton commented on #38683
Looks like this is actually a panic in a panic with the test harness hiding the output. The [actual error](https://gist.github.com/alexcrichton/9fc10cf3db98d0222f2f994a3278f1dc) is a debug assertion tripping

[code]

[2016-12-29 18:50] brson opened #38687 "json-rust-0.11.3 fails its test suite in 1.15 beta with SIGSEGV"
Regression from 1.14.

https://github.com/maciejhirsz/json-rust commit 3bc4e49687bfaa541214d4a3371a543231e18069

[code]

[code]

Note this is non-deterministic, happens 1/5 times for me perhaps.

cc @maciejhirsz
[code]

[2016-12-29 18:56] alexcrichton commented on #38684
Fixed in https://github.com/japaric/itm/pull/9, caused by https://github.com/rust-lang/cargo/pull/3102

I'd prefer to close this as the "bug" here is that Cargo's output directory structure changed slightly, but we haven't really provided any strong guarantee about the structure so it's just a bug fix really.

[2016-12-29 18:59] pnkfelix commented on #38686
(I suspect the naive fix for this, to print key="value" each time `.env` is invoked within the rustbuild, is not palatable because it looks like we invoke `.env` many times with the same arguments for every cargo invocation.)

[2016-12-29 18:59] pnkfelix commented on #38686
cc @alexcrichton

[2016-12-29 19:02] brson commented on #38684
Thanks @alexcrichton. I concur there's nothing else we can do here.

[2016-12-29 19:02] #38684 closed

[2016-12-29 19:11] alexcrichton commented on #38685
Minimized:

[code]

The cause I would guess is https://github.com/rust-lang/rust/pull/38192 (cc @stjepang, @bluss) and it looks like it's just relying on particulars of our sorting algorithm.

I would hazard a guess that this isn't really a regression.

[2016-12-29 19:17] alexcrichton commented on #38687
Not a regression, looks like this nodeterministically happens on stable as well.

@maciejhirsz you're likely very interested in the segfault regardless!

[2016-12-29 19:17] #38687 closed

[2016-12-29 19:26] alexcrichton commented on #38686
Yeah I've often wondered if we should update the `Debug for Command`  implementation to print out extra environment variables. Unfortunately short of vendoring our own `Command` we don't really have a way to implement this in rustbuild :(

[2016-12-29 20:13] est31 commented on #38686
Dupe of #38221

[2016-12-29 20:14] rkruppe opened #38688 "Coding style of rustllvm"
Our supplementary LLVM bindings, found in the `src/rustllvm/` directory, are a mess. Even basic things like brace style, naming convention, and indentation differ between functions in the same file. This makes it more painful to work with than it has to be. We should settle on a coding style and run `clang-format` over the file.

*Which* style is chosen is less important than that it's used consis

[2016-12-29 20:22] carols10cents commented on #35946
@bluss thanks! That definitely looks better :) I assume if you use `?` in `main` (the most common thing new rustaceans do) that the error message looks like:

[code]

With this implementation, would it still be possible to add this note?

[code]

[2016-12-29 20:22] alexcrichton commented on #38666
Ok, this should be done now, so closing.

[2016-12-29 20:22] #38666 closed

[2016-12-29 20:34] est31 commented on #37991
I'll give it a try later today.

[2016-12-29 20:40] est31 commented on #38184
IANAL, but to my best understanding, when vendoring GPL code, you might be obliged to guarantee source code downloads for 3 years (aka static.rlo may not be deleted), depending on which "option" you chose in section 3 of the GPLv2.

[2016-12-29 20:41] alexcrichton commented on #38618
After running all of these test suites locally thousands of times I'm still unable to reproduce. I'm not entirely sure what's going on here..

[2016-12-29 21:13] dvc94ch opened #38690 "vendored dependendencies are incomplete in the beta and nightly tarballs"
The process of creating the tarballs doesn't include .gitignore files from src/vendor. This results in a missmatched hash failure when building with vendoring enabled. Hoping to switch to rustbuild with the next rust release!

FYI: I'd be happy with the vendoring happening during the create tarball process, having enormous vendoring commits in the git history is ugly...

![screenshot from 2016-12-

[2016-12-29 21:14] nikomatsakis commented on #35408
triage: P-medium

Still worthy of investigation -- and I hope to do so post-xmas -- but not a burning priority. More of a long-standing issue we need to improve bit by bit.

[2016-12-29 21:20] arielb1 commented on #31287
Reproducer without matching on the discriminant:
[code]

[2016-12-29 21:21] nikomatsakis commented on #31287
Related example from #37891; here the `if` is part of the `if let` desugaring:

[code]

[2016-12-29 21:22] RReverser commented on #38489
Same, when trying to invoke given `emcc` command directly, getting instead:

[code]

[2016-12-29 21:23] RReverser commented on #38489
Ah, this seems to be rather related to https://github.com/rust-lang/rust/issues/38588

[2016-12-29 21:27] nikomatsakis commented on #31287
triage: P-medium

We decided that having this P-high wasn't really proper, since although we're actively working on a fix, it's via MIR borrowck, and not really a "drop everything" sort of situation.

[2016-12-29 21:34] nikomatsakis commented on #38604
Discussed in compiler team meeting. This is also an @rust-lang/lang thing, so cc @rust-lang/lang. It does seem like it'd be better to make any trait that references `Self` in bounds as being not object-safe, as much as a precautionary measure as anything else, but we decided to first run a crater run and measure impact in any case. @arielb1 has a branch that can be adapted.

[2016-12-29 21:38] nrc commented on #38586
I think we could basically never show source spans for proc macro source code. And/or always show the use site, rather than the def site.

[2016-12-29 21:38] nrc commented on #38586
cc @jseyfried @dtolnay

[2016-12-29 21:43] nikomatsakis commented on #38586
@jseyfried says he'll take a look when he gets back from vacation

[2016-12-29 21:43] nikomatsakis commented on #38586
triage: P-medium

[2016-12-29 21:46] Craig-Macomber commented on #11010
I have a benchmark with a long setup time, and this runs the setup 101 times. Running the benchmark inner loop a lot of times would be pretty bad, but all those setup runs is far worse: it takes ~6 minutes.

For comparison, google benchmark (their C++ library) runs a comparable test setup once, and test 10 times, and takes about a second.

[2016-12-29 21:51] nikomatsakis commented on #36082
Discussing in @rust-lang/compiler meeting. This does seem like a kind of "spec bug", at the least -- in that the spec for temp lifetimes wasn't fully revised in light of other language changes. It'd be good to measure potential impact. We could use @brson's craterbomb tool to run tests.

If we do decide to change, we can also do a kind of warning period where we report if the lifetime of something

[2016-12-29 21:53] brson commented on #38688
Agree which style is not important. If you are motivated to do it then awesome.

[2016-12-29 21:54] brson commented on #38688
Only hard part here is making a decision, but any decisions will do!

[2016-12-29 21:56] brson opened #38691 "Add a distcheck bot that does a vendored build"
Currently the vendored build is broken.

cc https://github.com/rust-lang/rust/issues/38690

[2016-12-29 21:57] brson commented on #38690
Needs to be fixed for 1.15.

[2016-12-29 21:57] brson commented on #38690
cc @alexcrichton

[2016-12-29 21:58] brson commented on #38690
Seems like the vendoring process should include a sanity check that the vendored sources hash correctly.

[2016-12-29 22:03] brson commented on #38685
I don't see anything obvious in the reduced case that would be perturbed by an algorithm change.

[2016-12-29 22:08] brson commented on #38685
Oh, the sort function is very weird here, depending on only one of its arguments. I'm not sure what it's trying to capture but it's definitely capturing effects from the algorithm.

[2016-12-29 22:12] brson commented on #38677
Should probably just say "for signed types".

[2016-12-29 22:25] bluss commented on #38685
This seems to be the original sort closure https://github.com/alopatindev/iwls/blob/7316d2125f848914e90b26d532dc2165db4054bf/src/lib.rs#L224-L230

I think they can use `.sort_by_key(|ch| (ch.1 < LOW_LOAD && least_intersected(ch.0), ch.1))` instead. Tuples is a good way to do prioritized sort.

[2016-12-29 22:25] schulzch commented on #38489
Indeed. PR #38601 is work in progress.
Also emscripten 1.35.0 (latest pre-build binary) does not work (see llvm assertion above). I haven't had the chance to try out emscripten 1.37.0 (`emsdk install sdk-incoming-64bit`)

[2016-12-29 22:39] brson commented on #38137
@rfcbot fcp merge

[2016-12-29 22:39] brson commented on #38137
My only qualm is the slippery slope of ever-expanding unicode tables.

[2016-12-29 22:44] brson commented on #38080
@rfcbot fcp merge

Mirrors an existing vec function. It looks to me like the argument name needs to be changed for one of them to be consistent ("mid" vs "at").

[2016-12-29 23:16] SimonSapin commented on #38137
Stabilizing this feature seems somewhat premature, the PR that adds it has not been merged or r+’d yet.

I also share @brson’s concern. That PR adds 4336 bytes of static data to `std`, but this functionality could just as well be provided by an external crate.

[2016-12-29 23:19] brson commented on #33577
This issue is primarily about the `call_once_force` method. Once implements poisoning, and this method is how you get around a poisoned `Once`.

[2016-12-29 23:19] RReverser commented on #38588
@chicoxyzzy Thanks, that fixed issue for me on Windows.

[2016-12-29 23:23] brson commented on #36436
What's special abut the first N of a thing during replacement that it needs its own function? I don't see much discussion on the linked PR that created this, and I don't recall anything about it.

[2016-12-29 23:25] clarcharr commented on #38080
Adding to what @brson said, `Vec::split_off` uses `at`, whereas `str::split_at` and `slice::split_at` use `mid`. Perhaps the original `split_off` should be changed to `mid`?

[2016-12-29 23:31] SimonSapin commented on #37069
Have you opened issues for these bugs, or checked that they’re already in the issue tracker?

[2016-12-29 23:41] alexcrichton commented on #38137
Yes I agree with @SimonSapin, we should probably at least let it bake in tree a bit before stabilizing.

[2016-12-29 23:44] RReverser opened #38694 "Rust doesn't unroll a loop with constant data"
I was playing with http://rust.godbolt.org/ and noticed one weird thing where Rust (all of stable, beta and nightly versions) seems to prevent loop unroll and/or constant propagation optimizations.

Here is original minimal code using which I can reproduce an issue:

[code]

So it basically creates a vector out of constant values with constant length & capacity, and then searches for a constant va

[2016-12-29 23:46] nikomatsakis commented on #35897
Hmm, cc @dikaiosune :(

[2016-12-29 23:47] RReverser commented on #38489
@schulzch Yep, that's what was suggested in that other issue and I can confirm it works.

[2016-12-30 00:24] jrmuizel commented on #38592
Ok, I'll look into pursuing this there. In the mean time, could this behaviour be documented in an easier to find location than the RFC?

[2016-12-30 01:18] brson opened #38696 "Boxes displayed around item names in docs in nightly"
See https://doc.rust-lang.org/nightly/std/io/trait.Read.html#method.chars. Every item has a one pixel black border that looks poor.

cc @bluss

[2016-12-30 01:22] nagisa commented on #38696
Similarly https://doc.rust-lang.org/nightly/std/io/trait.Read.html#method.read_exact has stabilisation version in a wrong place (caused by https://github.com/rust-lang/rust/pull/38329). The linked commit may be the cause of this issue too.

[2016-12-30 01:28] Mark-Simulacrum commented on #38541
Maybe we can make the recursion detection somehow detect nested macro invocations in the original source code. That case feels like something the author intended (and can't really be infinitely recursive, which AFAIK is what we're trying to prevent).

[2016-12-30 01:31] est31 commented on #37991
Sorry, I think the code is too unfamiliar to me. I don't want to fix it anymore :)

@arielb1 do you want to take over?

[2016-12-30 01:38] schulzch commented on #38489
For the sake of completeness, I finally had the time to test everything. This works for windows:

Get emscripten 1.37.0:

1. Install VS 2013 Community (required by emscripten)
2. `"C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\vcvarsall.bat" x86_amd64`
3. `emsdk install sdk-incoming-64bit`
4. `emsdk activate sdk-incoming-64bit`

Rewire rustc to `emcc.bat`:

- Workaround for rust 1.14: `ru

[2016-12-30 01:59] RReverser commented on #38694
Oh, and FWIW, analogous C code with Clang does constant-evaluate in all cases.

[2016-12-30 02:18] knight42 commented on #36436
@brson
I often came across a case that I only need to replace the first match in a line during text processing. Since `str::replace` will always replace all the matches, I guess adding a parameter to control the count of occurrences would be more convenient.

[2016-12-30 03:00] dtolnay commented on #27730
If we keep NonZero or something like it, I would love a safe (checked) way to construct one. Currently the single line of unsafe code in Serde is constructing a NonZero.

[code]

[2016-12-30 03:09] jrmuizel commented on #38694
Interestingly if I take g2 and build without -O and then pass the result to llvm-opt -O2 I get
[code]
Instead of
[code]

I don't know what causes this difference. I'm actually surprised the calls to __rust_allocate are being eliminated as it seems like OOM could still happen.

[2016-12-30 03:24] jrmuizel commented on #38694
What was the C code that you were using?

[2016-12-30 06:01] alexcrichton commented on #24531
buildbot's on its way out, so closing

[2016-12-30 06:01] #24531 closed

[2016-12-30 06:02] alexcrichton commented on #28710
This is quite old, and probably no longer true, so closing.

[2016-12-30 06:02] #28710 closed

[2016-12-30 06:02] alexcrichton commented on #33361
Closing as we've moved off buildbot, and praying we won't ever see this on AppVeyor!

[2016-12-30 06:02] #33361 closed

[2016-12-30 06:03] alexcrichton commented on #33391
Closing as we've moved off buildbot, and praying we won't ever see this on Travis!

[2016-12-30 06:03] #33391 closed

[2016-12-30 06:04] alexcrichton commented on #34595
Buildbots are almost gone now, so closing.

[2016-12-30 06:04] #34595 closed

[2016-12-30 06:04] alexcrichton commented on #35002
Buildbots are almost gone now, so closing.

[2016-12-30 06:05] alexcrichton commented on #36238
Haven't seen this in awhile, and we're off buildbot, so let's see if it's gone.

[2016-12-30 06:05] #36238 closed

[2016-12-30 06:05] alexcrichton commented on #37005
Buildbot's almost on its way out, so closing.

[2016-12-30 06:05] #37005 closed

[2016-12-30 06:06] alexcrichton commented on #38248
Buildbot's on its way out, and I think this was resolved, so closing.

[2016-12-30 06:06] #38248 closed

[2016-12-30 06:55] daschl commented on #37069
@SimonSapin yes and did address them subsequently https://github.com/swgillespie/unicode-categories/pull/5 . That said, I still think `is_letter` has its place int he standard library

[2016-12-30 09:39] #36115 closed

[2016-12-30 09:39] #38590 closed

[2016-12-30 09:39] #38485 closed

[2016-12-30 09:40] #38200 closed

[2016-12-30 12:04] RReverser commented on #38694
@jrmuizel Something like this seems to be the closest to what Rust is supposed to do: https://godbolt.org/g/RLs90U

[2016-12-30 12:10] RReverser commented on #38694
Hmm this is getting even weirder. I played a bit more with constant slices (not vector) versions of functions here: https://godbolt.org/g/FzynPE

As you can see, I've added `f3` and `f4` as below

[code]

And first one is not optimized to a constant, but second one is... Not sure if it's a different issue or sheds a light on what's happening in vector one too.

[2016-12-30 12:42] pnkfelix opened #38700 "Goofy error when destructuring via Box pattern"
Consider this code:

[code]

on the [playpen](https://is.gd/b0djzX), it yields the error:

[code]

This is probably an artifact of how we partially treat Boxes as a built-in language feature within the compiler. Nonetheless, we could do better with the message here.

[2016-12-30 12:43] pnkfelix commented on #38700
triage: P-medium

[2016-12-30 12:44] pnkfelix commented on #38700
(I don't regard this as *terribly* important to fix, at least not on its own. And of course in general we are planning to move towards a world where `Box` is not built-in, but doing so requires something like `DerefMove.)

[2016-12-30 12:46] pnkfelix commented on #38700
Oh wait, this is a dupe of #22207

[2016-12-30 12:46] #38700 closed

[2016-12-30 13:24] bluss commented on #38541
We need a way to reproduce this issue. I don't think recursion limit behaves in the way it has been described here.

[2016-12-30 15:06] ollie27 commented on #38696
This was my bad. It was caused by #38329. Sorry about that. It should have been by #38671.

[2016-12-30 15:30] RReverser commented on #38613
Is it even a good idea to allocate 4 KB off the stack? And, when allocating off the heap, you can just do `(0..1000).collect()` to a vector and issue won't appear as internal array will be allocated and filled just once.

[2016-12-30 15:44] est31 opened #38705 ""x.py build" generates test tools for all stages, even though they are not needed"
Often I just want to test bootstrap, and maybe the test suite on stage2. However, a recent (maybe 3 days ago - now) change has made `x.py build` generate test artifacts for all stages. I'd prefer if it didn't build them, keeping `x.py` focussed on bootstrap itself.

cc @alexcrichton

[2016-12-30 17:06] alexcrichton commented on #38705
Thanks for the report! I'm not *quite* sure I understand what you mean here, but you may be interested in https://github.com/rust-lang/rust/pull/38667. Does that solve what you're thinking of here?

[2016-12-30 17:14] chriskrycho commented on #38643
This comment a placeholder for RFCs I've reviewed and marked as either already-documented or otherwise not-in-need (e.g. process RFCs).

## Already documented

## Otherwise

- #1728: North Star (process)

[2016-12-30 17:31] dtolnay opened #38706 "proc_macro does not support type macros"
[code]

[code]

[code]

[2016-12-30 17:37] dtolnay commented on #35900
If I am the first one to hit this it can't be that bad but let's include it under known bugs: using a type macro inside a struct with a custom derive causes an ICE https://github.com/rust-lang/rust/issues/38706

[2016-12-30 17:42] dtolnay commented on #38706
This is a regression from https://github.com/rust-lang/rust/pull/37614 because it works fine on nightly-2016-11-06.

[2016-12-30 17:45] Eh2406 commented on #38643
Is there a list of rfcs you are working from?

[2016-12-30 17:46] est31 commented on #38705
@alexcrichton its doing "Building stage1 test artifacts" now, didn't do it before.

[2016-12-30 17:57] chriskrycho commented on #38643
@Eh2406 that list is indeed the one, and thanks! If you want to start from the top after 0016 and work down, I'll start from the bottom and work up. You can just add them in an edit or a new comment, formatted similarly to what I have above, and I can then integrate that once we have the full list. Quite a few of those should be already documented.

[2016-12-30 18:02] chriskrycho commented on #37955
Status check: it looks like this is implemented, behind a feature flag, and not-yet-documented?

[2016-12-30 18:02] RReverser commented on #38687
@alexcrichton @brson Why was this closed? (given that it's not resolved) If I experience very similar issue but with serde-json, on stable Rust, should I submit as a separate one or it's already known and tracked somewhere?

[2016-12-30 18:03] alexcrichton commented on #38687
@RReverser I closed this as it appears to be an existing bug, and it's not clear that it's actually a bug in the compiler. With `unsafe` blocks and an existing segfault it looks like the problem may lie in json-rust

[2016-12-30 18:05] RReverser commented on #38687
Hmm you mean unsafe blocks in `json-rust` itself? I'm experience issue which rather looks like happening after JSON was parsed by `serde-json`, and I'm trying to process resulting tree. Then it fails in seemingly random places, which looks like stack overflow which was not caught properly.

[2016-12-30 18:06] RReverser commented on #38687
To clarify - in that own procession code there is no `unsafe` blocks or whatever, just handling `BTreeMap` in a thread.

[2016-12-30 18:06] Eh2406 commented on #38643
[#0019](https://github.com/rust-lang/rfcs/blob/master/text/0019-opt-in-builtin-traits.md) Is still being implomented. Not sure how to handle.

[#0026](https://github.com/rust-lang/rfcs/blob/master/text/0026-remove-priv.md) removes priv. So does not need docs, and is not in the reference.

Now back to work. I will continue as I have time.

[2016-12-30 18:07] alexcrichton commented on #38687
@RReverser if you've got a segfault with no unsafe code, then that's definitely a bug! Could you open a second issue to track that? It's not clear that it'd be related to this issue itself.

[2016-12-30 18:08] RReverser commented on #38687
@alexcrichton Sure, just wanted to make sure it's not the same and/or known issue (given `json` as common denominator). I'm in process of trying to minimize example, trying to see how far I can get while preserving a bug.

[2016-12-30 18:09] elferdo commented on #32677
How about offering the end user maximum flexibility? The writer types could have a "DropPolicy" parameter (in the sense of c++ policy-based design), with maybe some default, but still allowing the end user to choose behaviour.

[2016-12-30 18:09] RReverser commented on #38687
I was just trying to find similar issue and found this one and https://github.com/rust-lang/rust/issues/34877, which looked like could or could not be related.

[2016-12-30 18:10] alexcrichton commented on #38687
Ok no worries. If you've got a larger code base to post feel free to do so and you can update with your minimization progress and I'm sure others will join in and help minimize as well!

[2016-12-30 18:10] RReverser commented on #38687
@alexcrichton Sounds great, thanks!

[2016-12-30 18:18] alexcrichton commented on #38690
Fixed in https://github.com/rust-lang/rust/pull/38708

[2016-12-30 18:33] alexcrichton opened #38710 "Spurious Android testing failure: connection reset by peer"
First seen as https://travis-ci.org/rust-lang/rust/jobs/187737907, I've also seen this from time to time on other locations but haven't ever tracked it down. Wanted to have an issue to track it though!

Failures tend to look like:

[code]

[2016-12-30 18:34] frewsxcv commented on #24659
Relevant RFC: https://github.com/rust-lang/rfcs/pull/1826

[2016-12-30 18:41] chriskrycho commented on #38643
[#0019](https://github.com/rust-lang/rfcs/blob/master/text/0019-opt-in-builtin-traits.md) is… wow. Old, and moving slowly but steadily. Also going to require some work to figure out what the documentation status is!

[2016-12-30 18:55] alexcrichton commented on #38119
We've done this and this has landed, so closing!

[2016-12-30 18:55] #38119 closed

[2016-12-30 18:56] chriskrycho commented on #13231
This is… beyond me. Someday maybe. 😬

But I'm trying to [document all the things](https://github.com/rust-lang/rust/issues/38643), so: can someone take a gander at the reference and the book and give me a reasonable summary of the extent to which this is or isn't documented?

[2016-12-30 19:10] est31 commented on #38705
Mhh, seems it built before as well, I just didn't notice it.

[2016-12-30 19:10] #38705 closed

[2016-12-30 19:17] RReverser commented on #38687
D'oh, now that I spent two hours minimizing it, turns out that it's definitely similar to #34877. Basically even

[code]

fails with such error, except the source of it might be much less obvious in a more complicated code that traverses a deep tree and thus also exhausts a stack.

I guess by design Rust is supposed to print the stack overflow warning in such case and not segfault? Or is this desi

[2016-12-30 19:35] steveklabnik commented on #38643
long live https://github.com/rust-lang/rust/issues/20137

[2016-12-30 19:38] chriskrycho commented on #38643
It's prior art!

[2016-12-30 19:43] Eh2406 commented on #38643
[#0034](https://github.com/rust-lang/rfcs/blob/master/text/0034-bounded-type-parameters.md)
looks to have bean implemented in https://github.com/rust-lang/rust/pull/16432 altho thay seam to think it is #11. I don't entirely understand what it does but it seems that it changes when errors happen so I think it is ok on docs. I don't think it needs anything in the reference, but I don't understand it

[2016-12-30 19:45] chriskrycho commented on #38643
@Eh2406 ah, didn't realize you would have more time *today*, so I already looked at a couple more of those; see updated comment above!

[2016-12-30 19:51] bluss commented on #38694
Is this simply the following? “LLVM cannot unroll loops with multiple exits“ https://llvm.org/bugs/show_bug.cgi?id=27360

I've looked at in context of #37972 which aimed to unroll some searching loops manually for this reason.

[2016-12-30 19:54] Eh2406 commented on #38643
N.P. I didn't think I was going to have more time. :-P Are the notes I am making helpful? What would make them better?

[#0040](https://github.com/rust-lang/rfcs/blob/master/text/0040-libstd-facade.md) is an oled reorganazation of std. I think the std docs are newer than this organization, so I think it is good.

[2016-12-30 19:56] RReverser commented on #38694
@bluss Might be related, but how come Clang with constant-evaluates a very similar implementation of `g1` with early return inside of loop (I've posted a link above) just fine?

[2016-12-30 19:56] chriskrycho commented on #38643
Help is appreciated; though see my comments on what is now the root of the issue re:both 0034 and 0040. 0034 is documented; 0040 *isn't* (at least, not sufficiently).

[2016-12-30 20:03] RReverser commented on #38694
Also, doesn't explain that last `f3` vs `f4` example (unless it's unrelated issue with liveness analysis).

[2016-12-30 20:24] Eh2406 commented on #38643
[#0059](https://github.com/rust-lang/rfcs/blob/master/text/0059-remove-tilde.md) dose not nead docs.

[2016-12-30 20:28] RReverser commented on #38687
@alexcrichton The original issue author had problem on Linux, I've tried on OSX. Sounds like stack probes are supported only on Windows then?

[2016-12-30 20:29] Eh2406 commented on #38643
[#0123](https://github.com/rust-lang/rfcs/blob/master/text/0123-share-to-threadsafe.md) renamed to Sync alsow dose not nead docs.

I am skipping around to find ones that I can tell about.

[2016-12-30 20:32] alexcrichton commented on #38687
Currently, yeah, LLVM emits stack probes unconditionally on Windows. It doesn't yet for other platforms.

[2016-12-30 20:35] RReverser commented on #38687
That's pretty scary :( Okay, I've probably already overspammed this irrelevant thread too much then. Thanks!