[2016-08-25 13:12] mtanski opened #35986 "associated_type_defaults not working correctly"
It seams like associated_type_defaults are not working. I have an example below from a query processing engine where I'm trying to use traits and associated types to express the application level Types of the (sql like) schema.

[code]

playpen link: https://play.rust-lang.org/?gist=2d2295013a3b9bb859b3e04bc1b9dc18&version=nightly&backtrace=0

leads to the result of:

[code]

Which is the same err

[2016-08-25 13:22] CryZe opened #35987 "Wrong Error Message "Add is not a Trait""
I made a mistake while implementing Add for a type. Instead of using `+` for specifying multiple constraints, I accidentally used `,` and for some reason the compiler can't handle this very well. Instead of complaining about the `,` it says that `Add is not a Trait`

[Playground Link](https://play.rust-lang.org/?gist=fa1cbdc67f59ea33616f121ae697654a&version=nightly&backtrace=0)

[code]

[code]

Th

[2016-08-25 13:24] petrochenkov opened #35988 "ICE: failed to get layout for `E`: the type `E` has an unknown layout"
This is a regression: reproduces on beta and nightly, doesn't reproduce on stable.

[code]

[code]

[2016-08-25 13:32] petrochenkov commented on #35987
Compiler can't complain about `,`, everything is syntactically correct - the first `Add` is interpreted as a fresh type parameter.

The error message should say something like "error: expected trait, found type parameter `Add`" + "note: ^^^ type parameter `Add` is defined here"

[2016-08-25 13:34] CryZe commented on #35987
Oh yeah, that would make sense.

[2016-08-25 15:16] durka commented on #35982
Since it seems to be aborting with no output or backtrace, can you try running it under a debugger to see where it stops?

[2016-08-25 15:20] GuillaumeGomez commented on #35290
@jaredwy: Sorry, didn't see you took it and I did it. :-/ As apologies, I propose you to have a first possible lock on https://github.com/rust-lang/rust/pull/35920 before we give them to others as well.

[2016-08-25 15:23] GuillaumeGomez commented on #35964
As far as I can tell, this is very unlikely to get any better than this. If someone confirms it, I'll close this issue.

[2016-08-25 15:24] belst commented on #35982
[code]

[2016-08-25 15:27] durka commented on #35982
And `bt` doesn't give any hints?

On Thu, Aug 25, 2016 at 11:25 AM, Joshua <notifications@github.com> wrote:

[2016-08-25 15:30] belst commented on #35982
no stack
single stepping through gives this:
[code]

[2016-08-25 15:33] durka commented on #35982
It seems like the compiler doesn't even start.

On Thu, Aug 25, 2016 at 11:31 AM, Joshua <notifications@github.com> wrote:

[2016-08-25 15:34] belst commented on #35982
well it works on the `std::process::exit()` example

[2016-08-25 16:02] jrmuizel commented on #35981
A reduced test case would help here.

[2016-08-25 16:04] petevine commented on #35982
Did you manage to run `rustc -vV`? If not, look for a patchelf workaround a dozen issues earlier.

[2016-08-25 16:06] belst commented on #35982
@petevine yes. I have seen the other issue. but running `rustc -vV` succeeds

[2016-08-25 16:13] brson commented on #35662
Is this fixed after https://github.com/rust-lang/rust/pull/35740?

[2016-08-25 16:17] CensoredUsername opened #35991 "LLVM assertion failure when compiling winapi with the latest nightly"
When compiling a project that depends on `winapi` on the latest nightly, the compilation halts due to an llvm assertion failure while `winapi` is being built.

Error message:
[code]

Toolchain/platform info
[code]

[2016-08-25 16:17] nikomatsakis commented on #35408
@eddyb  well we can certainly just check the results for `procinfo` by hand, as well

[2016-08-25 16:19] petevine commented on #35982
Right, sorry;missed the meta info.  If you're using an official build, try the workaround all the same or use a different nightly. Definitely works for me.

[2016-08-25 16:20] brson commented on #23157
@jseyfried Does https://github.com/rust-lang/rust/pull/35894 fix this?

[2016-08-25 16:20] frewsxcv commented on #23755
@sfackler Are you still working on this? Or can I take this?

[2016-08-25 16:28] brson commented on #9883
This will be an open issue forever. Closing.

[2016-08-25 16:28] #9883 closed

[2016-08-25 16:28] belst commented on #35982
just updated rustc to latest nightly
[code]
still no change. stable works btw.

[2016-08-25 16:30] brson commented on #19733
Closing in favor of https://github.com/rust-lang/rfcs/issues/1447

[2016-08-25 16:30] #19733 closed

[2016-08-25 16:35] petevine commented on #35982
Could you try a recent [build](https://www.dropbox.com/s/esfhr8erg8kyhoe/rust-nightly-armv7.tar.xz?dl=0) of mine? If that doesn't work either, rustc is not to blame.

[2016-08-25 16:37] brson commented on #23755
@frewsxcv you got it.

[2016-08-25 16:40] belst commented on #35982
your build works.

[2016-08-25 16:42] brson commented on #26139
Closing in favor of https://github.com/rust-lang/rust/issues/30046

[2016-08-25 16:42] #26139 closed

[2016-08-25 16:42] nikomatsakis commented on #30046
Related example from #26139:

[code]

[2016-08-25 16:47] brson commented on #29008
Just needs to update docs pr @aturon's last comment.

[2016-08-25 16:48] petevine commented on #35982
Aha, hopefully a variation of that patchelf issue. It would be ridiculous if the buildbot binaries didn't work for some new reason!

[2016-08-25 16:49] nikomatsakis commented on #21903
So this issue is a regular annoyance. It's worth trying to figure out just what we want to do, however!

The key problem is that type aliases are "invisible" to the type checker. You could *almost* just remove where-clauses from them altogether, but that we need them to resolve associated types in things like `type Foo<I: Iterator> = I::Item`. Interestingly, in cases like that, if in fact `Foo<X>`

[2016-08-25 16:49] petevine commented on #35843
Any idea if #35982 could be related?

[2016-08-25 16:52] belst commented on #35982
the patchelf workaround described in #35843 does not work and I do not get a segfault.

[2016-08-25 16:53] nikomatsakis commented on #21192
triage: P-low

Decided to keep this open as the place to discuss precedence of `box` specifically, but not that it must be resolved before `box` is stabilized.

[2016-08-25 16:54] brson commented on #13231
RFC needs to be ammended, not sure for what.

[2016-08-25 16:56] petevine commented on #35982
Without a trace we don't even know what to add. Did you try both?

[2016-08-25 16:56] nikomatsakis commented on #13231
Roughly speaking I wanted to formalize the following things:

- [ ] that we no longer do *fallback* with priorities, but instead do "default impls" more like what is described here <https://gist.github.com/nikomatsakis/d5fe4a4b5b075b3d0ec9>
- [ ] the name `auto trait`
- [ ] perhaps a change in the syntax
- [ ] coinductive matching semantics (loosely described in the RFC today)

[2016-08-25 16:58] belst commented on #35982
there is no more trace than this https://github.com/rust-lang/rust/issues/35982#issuecomment-242430386

[2016-08-25 17:00] brson commented on #26758
cc @vadimcn

[2016-08-25 17:02] eddyb commented on #35408
@nikomatsakis My manual check suggests it's fixed, but I want to see it on crater before closing.

[2016-08-25 17:09] aturon commented on #35943
cc me

[2016-08-25 17:12] aturon commented on #35943
I think what happened here is that we had `Error: Any` initially (which implies `'static`), but that was replaced with `Reflect`. Sadly, it seems there weren't any tests of the downcasting functionality...

It's *definitely* worth a crater run with adding a `'static` bound, to see how widespread the problem is.

[2016-08-25 17:20] alexcrichton commented on #35991
cc @eddyb, MIR related?

[2016-08-25 17:22] eddyb commented on #35991
Doubtful, especially if the previous nightly worked. cc @rust-lang/compiler

[2016-08-25 17:30] nixpulvis commented on #21192
@kjpgit I'm not sure I completely agree, although I do think Rust is airing in the side of too many levels now. As a programmer that primarily learned using Racket I'd love to throw parenthesis everywhere, but I really don't want to end up with a weird rule like you sometime need parens unless it's a box that is near other operators.

I've always thought that precedence should be a programmer prob

[2016-08-25 17:31] nagisa commented on #35687
This is not fixed. All things considered I now hit this bug much earlier in the build and it is not limited to just -tools anymore.

[2016-08-25 17:32] eddyb commented on #35687
@nagisa I think what you're seeing is the unfixed beta - maybe a backport is warranted?

[2016-08-25 17:58] Stebalien commented on #35943
So, I'm worried about generic errors that return values to the programmer (e.g. `PoisonError`). Such a change *would* break std. However, as `Reflect` is unstable, generic errors defined without the help of unstable features will bound their generic parameter with `T: Any`, not `T: Reflect`. This implies `T: 'static`.

Unfortunately, this logic does not apply to errors that return values of non-ge

[2016-08-25 18:19] jonathandturner commented on #35687
agreed @nagisa - I can confirm I didn't manage to fix it the first time.  I have a repro but haven't gotten back to it.

[2016-08-25 18:21] ruuda commented on #35991
I am seeing the same error when compiling `scoped_threadpool`, see [this ci build](https://ci.appveyor.com/project/ruuda/convector/build/1.0.10). It’s compiling [Convector `209010ec`](https://github.com/ruuda/convector/commit/209010ec) with `rustc 1.13.0-nightly (e9bc1bac8 2016-08-24)` on Windows.

[2016-08-25 18:26] eddyb commented on #35991
@ruuda Did it start on that nightly, i.e. does it work with the previous nightly?

[2016-08-25 18:30] Razican commented on #33417
I guess that now this is no longer blocked, right?

[2016-08-25 18:33] nagisa commented on #35982
belst: I would recommend adding a breakpoint for `exit` before running the program under a debugger. It might not still work if stack gets trashed, but still something to try.

[2016-08-25 18:35] ruuda commented on #35991
@eddyb: The previous ci build is a bit older, it was `1.13.0-nightly (f883b0bba 2016-08-19)`, and it passed. I could try to reproduce locally. Are older nightly installers archived somewhere?

[2016-08-25 18:41] eddyb commented on #35991
If you use `rustup` you can just pick a date, or you can [download manually](https://static.rust-lang.org/dist/index.html).
Given the commit  range, this *could* be #35764, although it's not clear to me how, just yet.

[2016-08-25 18:42] belst commented on #35982
[code]

[2016-08-25 19:25] TimNN commented on #35991
For `scoped_threadpool`, `nightly-2016-08-23` is fine while `nightly-2016-08-25` failes.

[2016-08-25 19:31] TimNN commented on #35991
Minimal repro (even on non-windows platforms with `cargo +nightly-2016-08-25 build --target i686-pc-windows-msvc`):

[code]

[2016-08-25 19:32] arielb1 commented on #35941
My original intent when I wrote the conversion code was to execute the drop. That was before `mem::forget` was made safe, so it was the only option.

[2016-08-25 19:33] arielb1 commented on #33498
The issue was never present in MIR.

[2016-08-25 19:36] TimNN commented on #35991
`i686-pc-windows-gnu` is fine, `i686-pc-windows-msvc` failes.

[2016-08-25 19:37] StefanoD commented on #35981
The thread has a simple test case. Is this not sufficient? Maybe the author of the thread could write something here. I linked this bug report in the thread.

[2016-08-25 19:38] petrochenkov commented on #32836
I'm not quite sure how to treat unions with non-`Copy` fields in move checker.
Suppose `u` is an initialized value of `union U { a: A, b: B }` and now we move out of one of the fields:

1) `A: !Copy, B: !Copy, move_out_of(u.a)`
This is simple, `u.b` is also put into uninitialized state.
Sanity check: `union U { a: T, b: T }` should behave exactly like `struct S { a: T }` + field alias.

2) `A: Cop

[2016-08-25 19:43] TimNN commented on #35991
Even smaller:

[code]

[2016-08-25 19:43] jrmuizel commented on #35981
It's not clear from the thread exactly which bounds checks are not being eliminated that are eliminated by Go. A reduced test case would ideally point out a single array access that has a bounds check in Rust but not in Go.

[2016-08-25 19:49] jdm opened #35995 "ICE on nightly when return type for trait method doesn't match return type for implementation"
[code]
yields
[code]
This exists at least as far back as the 8/22 nightly.

[2016-08-25 19:51] retep998 commented on #35991
I am legitimately wondering how this could get past CI when we have `auto-win-msvc-64-cargotest` which builds the latest `winapi` among other crates.

[2016-08-25 19:55] eddyb commented on #35991
@retep998 The bots don't have LLVM assertions enabled :crying_cat_face:.

[2016-08-25 19:56] pcwalton opened #35996 "Replace the link step of codegen-units with ThinLTO"
See: http://blog.llvm.org/2016/06/thinlto-scalable-and-incremental-lto.html

This is supposedly able to provide the optimization benefits of a normal release build while still enabling parallel codegen.

[2016-08-25 19:59] TimNN commented on #35995
Probably a duplicate of #35869.

[2016-08-25 20:00] jdm commented on #35995
Yep.

[2016-08-25 20:00] #35995 closed

[2016-08-25 20:16] nrc commented on #35991
discussed briefly at the compiler meeting, leaving to eddyb to investigate before we can make any decision

[2016-08-25 20:19] nrc commented on #35996
cc @michaelwoerister are you interested in looking into this?

[2016-08-25 20:23] jseyfried commented on #23157
@brson Yeah, once `#![feature(item_like_imports)]` is stable, that is.

[2016-08-25 20:25] nrc opened #35998 "Can we run with LLVM assertions on the bots?"
Probably on the debug builds.

cc @alexcrichton @edunham @jonathandturner

[2016-08-25 21:08] jonathandturner opened #35999 "E0493 needs to be updated to new format"
From: src/test/compile-fail/E0493.rs

E0493 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: show a label where the destructor is defined:

[code]

[2016-08-25 21:10] michaelwoerister commented on #35996
Yes, I'm definitely interested in this.

[2016-08-25 21:11] nagisa commented on #35982
A-ha! So its the rustup’s wrapper which is doing the early exit. (cc @brson)

@belst could you try invoking rustc directly? It should be somewhere in `~/.multirust/toolchains/{something}/bin/rustc`

[2016-08-25 21:11] jonathandturner opened #36000 "E0496 needs to be updated to new format"
From: src/test/compile-fail/E0496.rs

E0496 needs a span_label and a span_note converted to a span_label, updating this:

[code]

To:

[code]

[2016-08-25 21:11] michaelwoerister commented on #35996
And also in looking into this :)

[2016-08-25 21:12] alexcrichton commented on #35998
I don't know of any particular reason why not. We may have disabled in the past to decrease cycle time, but that's pretty much it.

[2016-08-25 21:20] eddyb commented on #35408
[Crater report](https://gist.github.com/eddyb/5013119a94c9758a2f676c1b89e1e29b) shows it didn't actually get fixed.

[2016-08-25 21:22] nikomatsakis commented on #35941
We discussed this in the @rust-lang/lang meeting. We like the idea of making it an error to coerce an enum to an integer if that enum type supports `Drop` -- presuming it doesn't have impact in practice (which seems likely).

[2016-08-25 21:24] nikomatsakis commented on #35941
triage: P-medium

[2016-08-25 21:25] nikomatsakis commented on #35851
Discussed in @rust-lang/lang meeting. This is definitely a bug; we should "just fix it". We should measure the impact, of course.

[2016-08-25 21:25] nikomatsakis commented on #35851
triage: P-medium

[2016-08-25 21:37] yrnameer commented on #35982
For what it's worth the same nightly works on a model **3**. Both models use the same `armv7` [img](https://www.raspberrypi.org/downloads/raspbian/), and only differ in hardware. So maybe it's a missing instruction?

[2016-08-25 21:52] antoyo opened #36001 "Constant let binding slower than const"
Hello.
I am currently optimizing my [`des`](https://crates.io/crates/des) crate and I found out that using a `let` statement can be significantly slower than using a `const` statement.

For instance, when I run `cargo bench` with the `const` declaration [here](https://github.com/antoyo/des-rs/blob/97031b96ebb2534a8b0bb9cf3cc675048fb0d742/src/lib.rs#L258), I get:
[code]
If I replace this `const` by

[2016-08-25 22:15] arielb1 commented on #35991
This only breaks with debuginfo enabled.

STR:
[code]

[code]

[code]

[code]

[2016-08-25 22:19] eddyb commented on #35991
@arielb1 Don't think the machine IR dump is relevant. @TimNN provided [before and after IR](https://gist.github.com/TimNN/faddf66c5a09e9af60f442ab9c8cb0da) on IRC.
It's probably the use of the original `DefId` instead of an inlined one, to get the `DefPath`, that triggers this.

[2016-08-25 22:35] paulfanelli commented on #35934
I'll take this one.

[2016-08-25 22:37] mwinterb commented on #35836
Is the license for the source code in David Butenhof's "Programming with POSIX Threads" book known? The "best" information that I could find was from the pthreads-win32 COPYING file which has this to say:

    The file tests/rwlock7.c is derived from code written by
    Dave Butenhof for his book 'Programming With POSIX(R) Threads'.
    The original code was obtained by free download from his webs

[2016-08-25 22:37] paulfanelli commented on #35233
If it's ok, I'll take E0463.

[2016-08-25 22:40] retep998 commented on #35998
We especially should run with LLVM assertions on the cargobuild bot. https://github.com/rust-lang/rust-buildbot/issues/120

[2016-08-25 22:45] nagisa commented on #36001
with `let` you’re making the compiler to put your big array on the stack, whereas with `const` it will likely be placed in read-only section of the binary. While there’s nothing inherently preventing us from upgrading this `let` to a `const` (through, e.g. constant propagation) but it is not entirely clear to me that such an optimisation would always be beneficial.

[2016-08-25 23:42] yrnameer commented on #35982
[code]

[2016-08-26 00:02] briansmith commented on #14875
I think people are aware of this, but: It depends on what the resource is, right? If the resource is a mutex or equivalent then deadlocks or worse could definitely occur.

Also, keep in mind that some code in a destructor (`Drop` implementation`) might assume that if it is reached, then some previously-dropped item's destructor ran successfully--e.g. nulling a pointer. Thus, running a destructor a

[2016-08-26 00:09] nagisa commented on #35982
Now, the trace strongly points to this being the same issue as all other ARM SIGILL issues. You could try to check the disassembly at the point where signal is raised to check what the instruction it is and whether it is related to neon or other optional features of ARM.

[2016-08-26 00:11] nagisa commented on #14875
With MIR, a panic inside your destructor will not prevent other destructors in the scope running anymore. Since MIR is the default and AST based translator is removed, this is technically fixed now.

[2016-08-26 00:33] nrc commented on #35998
we recently had a bug (#35991) which was only exposed by LLVM assertions, so if we have the bot time it would be great to have them turned on in at least some capacity.

[2016-08-26 00:59] brson opened #36006 "Add ppc64, ppc64le, s390 host release builds for linux"
All three of these architectures are supported by Debian and Fedora (and RHEL). To make it easier for them to package Firefox it would be proper for us to have compilers for these architectures. End of year is a reasonable timeframe.

- [ ] s390
- [ ] ppc64
- [ ] ppc64le

cc @hsivonen @stransky @glandium @fabiand @sylvestre @infinity0

[2016-08-26 01:12] michaelwoerister commented on #35991
Has LLVM been updated in the meanwhile? Maybe this assertion is new. We might be adding methods to basic types which doesn't seem to be allowed (anymore?).

[2016-08-26 01:15] eddyb commented on #35991
@michaelwoerister Main difference AFAICT is that `{inlined-root}` is gone, having been replaced by the correct path and I don't know of a LLVM update.

[2016-08-26 01:21] michaelwoerister commented on #35991
Well, for reference, there's https://github.com/rust-lang/rust/pull/33358, which kind of looks relevant. But it's strange that it should become a problem now.

[2016-08-26 01:26] Amanieu commented on #35836
@nagisa That could work with my [thread_local](https://github.com/Amanieu/thread_local-rs) crate which gives you per-object thread-local storage.

However I still think that the proper solution to this is to use the [parking_lot](https://github.com/Amanieu/parking_lot/) crate which provides implementations of `Mutex`, `RwLock` and `Condvar` that work on all platforms including Windows XP. This was

[2016-08-26 01:26] petevine commented on #35982
@nagisa We're talking about an Rpi2 here, so no unsupported ARMv7 instructions SIGILL's are possible.

This is probably the first time #34427 has been triggered outside of bootstrap. @yrnameer Can you confirm the broken `STR` instruction? (or run with `-Zorbit=off` which should also work.)

[2016-08-26 01:36] #35753 closed

[2016-08-26 01:58] yrnameer commented on #35982
[code]
The nightly I downloaded in order to test this had no ```orbit``` option.

[2016-08-26 01:59] Aatch commented on #36001
@nagisa shouldn't the array get promoted anyway, so the `let` and the `const` should produce very similar code?

[2016-08-26 02:04] Aatch commented on #36001
Ok, just checked and a `let` doesn't use the promoted constant. Presumably because it's not a reference to the constant, even though it's only used via a reference. Constant propagation would probably help, but maybe constant promotion should be improved to handle this kind of thing better?

/cc @eddyb & @rust-lang/compiler

[2016-08-26 02:08] petevine commented on #35982
Right, old-trans has just been removed so you're out of luck until LLVM provide a patch.

[2016-08-26 02:28] brson commented on #35982
rustup also has a crash bug on armv7: https://github.com/rust-lang-nursery/rustup.rs/issues/687. Might be related.

[2016-08-26 02:34] brson commented on #35981
There are many examples in the linked thread, and a quick read doesn't make it obvious where there are bounds checks to eliminate. Clearly there are optimization opportunities here, but this thread needs reduced examples with a clear description of which bounds checks are not being removed.

[2016-08-26 03:09] eddyb commented on #36001
@Aatch The first constant promotion pass has a semantic role (in rvalue promotion), so it has to happen early, before MIR borrow-checking.
Doing another pass for aggregates specifically has come up (I think I talked about it with @nikomatsakis),
the problem is that doing it naively can inhibit other optimizations.

I believe that we should be able to work with field assignments instead of `Rvalue:

[2016-08-26 03:21] plietar opened #36007 "Rustc coerces smart pointer to unsized too eagerly"
Full code: https://is.gd/hZ9nqK

Given a smart pointer, which only works on types implementing the trait `Bar` or on `Bar` trait objects, such that `Pointer<T>` is allowed to coerce to `Pointer<Bar>`, and the corresponding `PartialEq` implementation :

[code]

Applying the `==` operator on two `Pointer<Foo>` will try to coerce them to `Pointer<Bar>`, even though this isn't needed. This is an issue

[2016-08-26 03:35] Aatch commented on #36001
@eddyb it might be worthwhile to just have a pass that promotes in pretty much just this case. I can see large arrays being a common cause of either stack exhaustion or performance issues compared to aggregates. Even if it's replaced by a more sophisticated analysis + transformation, it'd be a good short-term gain.

That said, it seems that this issue isn't MIR-specific, as the old backend doesn't

[2016-08-26 03:41] eddyb commented on #36001
@Aatch Sorry, I used "aggregate" in the MIR sense, which *includes* arrays.
One thing to note is that you *don't* want to promote anything with `[x; n]` in it in most cases, as in-place initialization is almost always faster than copying the data from some other place in memory.

[2016-08-26 03:46] Manishearth commented on #31645
Everything seems reviewed, breaking batch will be made todayish (and land over the weekend).

cc @dtolnay @BurntSushi @sgrif @sfackler @llogiq

[2016-08-26 03:59] eddyb commented on #35991
Does `fn main() { Box::new("foo"); }` also fail? The metadata for 3 `fn` has `scope` pointing to a type:
[code]

[2016-08-26 04:03] Aatch commented on #36001
@eddyb sure, but only when you need a copy, which, like in this case, you might not. The fact that you can change the `let` to a `const` and it 1) compile and 2) be faster suggests that there's a pattern we can look for and take advantage of.

[2016-08-26 04:11] eddyb commented on #35991
The failure suggests #33358 *shouldn't* have worked. It didn't work, or regressed, in cross-crate cases.
But did this ever work?
[code]
AFAICT it would cause the exact same problem after the LLVM upgrade, which is in beta.

[2016-08-26 04:46] eddyb commented on #35988
This is not supported though, why aren't you getting an error? cc @arielb1 @nikomatsakis

[2016-08-26 05:09] alexcrichton opened #36010 "LLVM doesn't understand Some(Box<u32>) is always some"
[playground](https://play.rust-lang.org/?gist=4eafc9285fd5d642c94e1e92f5b6f7d1&version=nightly&mode=release)

For the following code:

[code]

This compiles down to the IR (optimized)

[code]

It seems odd that the `Box` case is not as optimized as the `u32` case? This seems due to the null-pointer optimization of the `Option<Box>` itself. I wonder if there's more metadata we can attach to tell LL

[2016-08-26 05:47] TimNN commented on #35988
Note that referencing the type also causes an ICE on stable:

[code]

This triggers without referencing the type since #34755 moved `variant_size_differences` from trans to a lint (I believe).

[2016-08-26 07:13] eshansingh commented on #34674
Hey, just wanted to know what's the status on this? jemalloc has fixed this on their end, by PR https://github.com/jemalloc/jemalloc/pull/427. Is there an update yet for this?

[2016-08-26 07:41] eddyb commented on #36010
Probably using [`!nonnull` on loads](http://llvm.org/docs/LangRef.html#id188) would work.

The fundamental problem is that it's hard to decide when to apply metadata because of how completely arbitrary and unreasonably difficult our ADT handling is (i.e. `trans::adt`).
Thankfully, that can now be eroded away, and once we have a bit more uniformity we can start doing things better.

That said, [we

[2016-08-26 08:12] jonas-schievink commented on #35988
Yes, similar to #34571

[2016-08-26 09:31] infinity0 commented on #36006
Nice, thanks! Here are the pages describing supported architectures for [Debian](https://www.debian.org/ports/) and [Fedora](https://fedoraproject.org/wiki/Architectures).

You might also want to add mips64el to your list - Fedora already supports it, and it's due to be supported by Debian with the next stable release this November (and both of us call it mips64el, unlike the Fedora:pcc64le/Debian

[2016-08-26 09:37] eddyb commented on #35662
I've experimented with this change to LLVM:
[code]

It seems to result in the constant-length `memset` being removed in the simpler cases.

However, I ended up re-doing the reduction and [ended up with something similar](https://play.rust-lang.org/?gist=c625b017b810c51fd902c737b20dfb79&version=nightly&backtrace=0).
That testcase does 2ns with old trans (beta) and 9ns with MIR trans + the modified

[2016-08-26 09:41] nikomatsakis commented on #18937
OK, so @jroesch and I implemented an initial fix for this (finally). I did a crater run with the following results:

-    5819 crates tested: 4167 working / 1605 broken / **12 regressed** / 3 fixed / 32 unknown.

https://gist.github.com/nikomatsakis/cba00297c8659f71740b8e45dad07137

That's not too bad. I want to dig into those results some more, but I'm hoping we can get away w/o a warning period

[2016-08-26 09:43] nikomatsakis commented on #18937
(It may also be worth investing a bit of energy in the error messages, which do not currently hint at the fact that the impl is imposing more requirements than the trait.)

[2016-08-26 10:09] nikomatsakis commented on #35408
@eddyb were you able to observe it failing before?

[2016-08-26 10:11] eddyb commented on #35408
@nikomatsakis Yes, and a stage2 build of #35764 was the first time I saw it work again.

[2016-08-26 11:01] petevine commented on #35982
@eddyb We need some advocacy in your nicely isolated upstream issue; in the meantime ARM builds need reverting to old trans during bootstrap.  Otherwise this issue is a duplicate of #34427

[2016-08-26 11:07] petrochenkov commented on #32836
@retep998
I know this is completely irrelevant to FFI needs :)
The good news is that it's not a blocker, I'm going to implement whatever behavior is simpler and submit PR this weekend.

[2016-08-26 11:31] yossi-k commented on #35233
I wanna grab E0088, E0318 and E0221 (with bonuses).
(I will release them asap if I end up not having time for them.)

[2016-08-26 11:44] GuillaumeGomez commented on #35233
@yossi-k: Then start with just one or two.

[2016-08-26 11:47] yossi-k commented on #35233
You're right. I'll take up just E0088 and E0221.

[2016-08-26 12:42] crypto-universe commented on #35233
@yossi-k E0221 is already fixed, isn't it?

[2016-08-26 12:43] yossi-k commented on #35233
@crypto-universe it's in the bonus list below

On Fri, 26 Aug 2016 at 3:43 PM crypto-universe <notifications@github.com>
wrote:

[2016-08-26 12:51] bluss commented on #36010
Same for `Some(&T)`, affects a lot of iterator optimizations.

[2016-08-26 12:51] kyrias commented on #1311
Does anyone have a short example for reproducing this?

[2016-08-26 12:53] bluss commented on #36007
Seems related to #31740

[2016-08-26 13:18] nagisa commented on #35836
On 2016-08-25 18:26:57-0700, Amanieu wrote:

I do not disagree. I’m just brainstorming for simple and quick-to-implement fixes which could paper
over immediate issue without us doing any sort of large scale change.

[2016-08-26 13:34] Sh4rK opened #36011 "non-exhaustive patterns: type ! is non-empty"
Hi!

I'm trying out `feature(never_type)` and getting an error on the simplest example possible.
Rustc is `rustc 1.13.0-nightly (3c5a0fa45 2016-08-22)` on `x86_64-pc-windows-msvc`.

The code:

[code]

And the error I get:

[code]

Which is quite bad, as the point of `!` is that it is empty.

If I replace it with an empty enum, it works. (It errors on the uninitialized variable, but that's not the

[2016-08-26 13:54] Sh4rK commented on #36011
Related to #35162 (`feature(never_type)`)

[2016-08-26 14:04] nikomatsakis commented on #13231
@dylanede hmm, sorry I failed to answer your question before. I'm sorry to say this, but your code snippet is not expected to work.

In particular, the way to think about it is that, by adding a negative impl for `(T, T)`, you have suppressed the default impl that would have been provided -- so now there is no positive impl! Therefore, `(X, Y): NotSame` cannot hold *for any* tuple. (But, `(X, Y):

[2016-08-26 15:15] blabaere opened #36013 "ICE when using generics, associated types and necromantic copy/paste"
rustc panic !

I tried this code:

[code]

I expected to see this happen: compiler error, because it was a just a copy/paste and laziness to actually look at it.

Instead, this happened: ICE

## Meta

`rustc --version --verbose`:
[code]
Backtrace:
[code]

[2016-08-26 15:33] durka commented on #36013
dupe of #35869

[2016-08-26 15:51] nagisa commented on #36006
s390 corresponds to the SystemZ in LLVM, which we have no support for in rust (yet?).

[2016-08-26 16:01] brson opened #36015 "Publish host builds of mips, mipsel, mips64el for Linux"
Today we publish target builds for mips and mipsel, and have no support for mips64el. All three of these are or will soon be supported by Debian and Fedora.

- [x] mips
- [x] mipsel
- [ ] mips64el

cc https://github.com/rust-lang/rust/issues/36006#issuecomment-242679364

[2016-08-26 16:02] brson commented on #36006
@infinity0 Today we have target builds for mips and mipsel, but I haven't considered it a priority to make host builds for them yet. With mips64el we don't even have target builds though. I will open seperate issues for the mipses: https://github.com/rust-lang/rust/issues/36015

Frankly, the reason I've prioritized these three together, and highly, is because they are IBM platforms, important to R

[2016-08-26 16:03] gmatht commented on #34721
Errors from `rustc` are usually so helpful that I can learn rust without documentation, just by reading the error messages. The first thing that I couldn't learn from error messages was how to convert types. Even with something as simple as:  `let x : u32 = 0; let y : i32 = x`, and after reading `--explain E0308` it wasn't at all clear that I was meant to use `as`. Maybe the error could also sugge

[2016-08-26 16:10] jonathandturner commented on #35964
I poked around a little bit and started coming to the same conclusion.  I'll close for now.

[2016-08-26 16:10] #35964 closed

[2016-08-26 16:20] japaric commented on #36006
@infinity0 Do you know what's the minimum/oldest glibc each port is expected to run against? rustc
is dynamically linked to glibc and we should pick a glibc to link to that's *not* newer than the
glibc installed in any of these ports.

This is what's need to be done for each target:

For mips and mipsel:

b) Try to cross compile rustc for this target (locally)
c) Fix any error that pops up during

[2016-08-26 17:37] nikomatsakis commented on #32836
@petrochenkov my instinct is that unions are a "bit-bucket", essentially. You are responsible for tracking whether the data is initialized or not and what it's true type is. This is very similar to the referent of a raw pointer.

This is why we can't drop the data for you, and also why **any** access to the fields is unsafe (even if, say, there is only one variant).

By these rules, I would expect

[2016-08-26 17:40] nikomatsakis commented on #32836
Let me give some examples to clarify:

[code]

This union is affine, because `Copy` has not been implemented.

[code]

This union type `Bar` is copy, because `Copy` has been implemented.

Note that if `Bar` were a struct, it would be an error to implement `Copy` because of the type of the field `x`.

Huh, I guess I'm not actually answering your question though, now that I re-read it. =)

[2016-08-26 17:47] nikomatsakis commented on #32836
OK, so, I realize I was not answering your question at all. So let me try again. Following the "bit bucket" principle, I would *still* expect that we can move out from a union at will. But of course another option would be to treat it like we treat a `*mut T`, and require you to use `ptr::read` to move out.

[2016-08-26 17:55] alexbool commented on #24346
What is the status on this? I see that @mitsuhiko's pull request to backtrace-rs was merged. When can one expect some improvement?

[2016-08-26 18:07] frewsxcv commented on #23755
Opened a PR: https://github.com/rust-lang/rust/pull/36019.

[2016-08-26 18:28] nikomatsakis opened #36020 "`incremental/ich_method_call_trait_scope.rs` appears to be failing on windows"
https://github.com/rust-lang/rust/pull/36017 disables `ich_method_call_trait_scope` because it has been failing on windows. Reason currently unknown, something to do with I/O errors...

[2016-08-26 18:28] nikomatsakis commented on #36020
cc @michaelwoerister

[2016-08-26 18:30] petrochenkov commented on #32836
Ha, I, on the contrary, would like to give as much guarantees about union's content as we can for such a dangerous construct.

The interpretation is that union is an enum for which we don't know the discriminant, i.e. we can guarantee that at any moment of time at least one of union's variants has valid value (unless unsafe code is involved).

All the borrow/move rules in the current implementatio

[2016-08-26 18:31] aturon commented on #35968
cc @rust-lang/compiler

[2016-08-26 18:40] alexcrichton commented on #36020
I believe [this is the diagnosis](https://github.com/rust-lang/rust/pull/36017#issuecomment-242817382), and I don't think we'll need to land the PR after all, so closing.

[2016-08-26 18:40] #36020 closed

[2016-08-26 18:45] infinity0 commented on #36006
@japaric I'm not too sure myself, but I would *guess* whatever version is listed [here](https://packages.debian.org/stretch/libc6) in ~3 months' time when stretch is finally released as Debian 9. Right now this is glibc 2.23. I'll try to find someone who knows this better than I. Fedora probably has something similar.

[2016-08-26 18:50] japaric commented on #36006
Great! That's what we are using in the build slaves (for ppc* and mips*) right now. If we find out later that we need an older version, we can always revisit.

[2016-08-26 19:14] jonas-schievink commented on #24518
Why is this tagged `A-metadata`?

[2016-08-26 19:22] jonas-schievink commented on #21482
#35764 has significantly reduced the size of metadata since `#[inline]`d functions are no longer stored as ASTs - The metadata of libcore was more than halved!

`rustup update` saw quite an improvement:
[code]
Before, it looked like this:
[code]

[2016-08-26 19:49] brson opened #36022 ""multiple dylibs candidates for std" found"
[Original report](https://users.rust-lang.org/t/linking-problems-with-1-12-beta1/7001)

@csperkins can you share the repo this reproduces with, or provide a reduced test case?

Nominating because this is a beta regression.

[2016-08-26 21:12] sylvestre commented on #36006
FYI, LLVM 3.8 is supported correctly on Debian for these three archs: https://buildd.debian.org/status/package.php?p=llvm-toolchain-3.8

[2016-08-26 21:20] steveklabnik commented on #21482
So, at what point is metadata small enough that this bug can be considered fixed?

[2016-08-26 21:38] michaelwoerister commented on #21482
1 byte, tops

[2016-08-26 22:09] brson opened #36023 "rustup-init 0.6.1 segfaults on x86_64 and armv7, 0.6.0 on OS X 10.10"
rustup reports of 0.6.1 crashes:

- https://github.com/rust-lang-nursery/rustup.rs/issues/691
- https://github.com/rust-lang-nursery/rustup.rs/issues/687

These were built with `rustc 1.13.0-nightly (3c5a0fa45 2016-08-22)`

rustup 0.6.0 crashed on OS X 10.10+. Fixed with a strategic `#[inline(never)]`

- https://github.com/rust-lang-nursery/rustup.rs/issues/679

That was built with `rustc 1.13.0-n

[2016-08-26 22:11] eddyb commented on #36023
@brson Do you know of a `rustc` nightly which doesn't result in crashes?

[2016-08-26 22:17] brson commented on #36023
@eddyb looking for one now.

[2016-08-26 22:18] japaric commented on #36015
#36024 adds the target definition to the compiler.

[2016-08-26 22:27] eddyb commented on #36023
rust-lang/rustup.sh#68 looks like the exact same issue AFAICT.

[2016-08-26 22:36] eddyb commented on #35982
Closing in favor of #34427.

[2016-08-26 22:36] #35982 closed

[2016-08-26 22:36] eddyb commented on #34427
All I could get from an ARM engineer is that a check like [this one](https://github.com/llvm-mirror/llvm/blob/65eaa0f3a4009f6f7822dc48b649ff11387de1ad/lib/Target/ARM/ARMLoadStoreOptimizer.cpp#L971) is missing from `ARMLoadStoreOptimizer` but he has no clue as to where in the file, and I'm honestly a bit lost, but I'll keep looking.

[2016-08-26 22:47] japaric commented on #36006
OK, I got a functional rustc for ppc64 and also managed to build rustc for ppc64el but couldn't test the latter under qemu because it segfaulted. But `qemu-ppc64el` segfaulted with every other binary I threw at it so ... yeah, perhaps that rustc also works but I have no way to know (I don't have powerpc hardware lying around).

I sent a PR (rust-lang/buildbot#121) with the required changes to the

[2016-08-26 22:48] japaric commented on #36015
I managed to produce functional rustcs for the mips and mipsel targets. I've sent the required changes to the rust-buildbot repository (rust-lang/rust-builtbot#121).

[2016-08-26 22:50] eddyb commented on #34427
Odd, looks like registers are assigined in a way that results in invalid instructions:
[code]

[2016-08-26 23:01] eddyb commented on #34427
From IRC, looks like the `undef` is disabling `earlyclobber`'s ability to prevent `source == base`:
[code]

[2016-08-26 23:31] brson commented on #28419
@caipre Oh awesome! Sorry not to get back to you for so long. @nikomatsakis or @arielb1 can probably help mentor.

[2016-08-26 23:41] brson commented on #32444
This will require editing the makefiles in `mk/dist.mk` as well as the rustbuild build system in `src/rustbuild`. The version info is in `CFG_VERSION`. I realized that the installers already include this info in a file called 'version', so we can just duplicate that logic. Use the same lower case naming for consistency.

[2016-08-26 23:45] nikomatsakis opened #36026 "tailor "borowed value does not live long enough" to temporaries"
I recently encountered this error message (the relevant code is in the error):

[code]

This is great (much better than it used to be) but I feel like could be better still. Some observations:
- the "help" snippet is distracting and kind of confusing; I expect it to reflect the change it is suggesting, but it does not
- we could make the labels explain the fact that this is a temporary value

I'm

[2016-08-26 23:55] brson commented on #36023
`rustc 1.13.0-nightly (aef6971ca 2016-08-17)` from 2016-08-18 is the first nightly that miscompiles. Curiously this is also the first 1.13 nightly. Unfortunately the bug is on beta too.

reproducing:

commit c8cc167a0ab725e25dc49eda1ea9d71196def5d7

[code]

nightly results:

- 2016-08-10, rustc 1.12.0-nightly (576f76659 2016-08-09) - good
- 2016-08-16, rustc 1.12.0-nightly (197be89f3 2016-08-15) -

[2016-08-27 00:44] brson commented on #36023
Removing the [two lifetime annotations](https://github.com/rust-lang/rust/pull/35409/commits/02aec40dc9c0f67c60a1ec353d06a88b63387d9b#diff-c33499a551ed05118f63c138e9b734d9R75) from https://github.com/rust-lang/rust/pull/35409 appears to make the crash go away.

[2016-08-27 01:11] #35991 closed

[2016-08-27 01:29] brson commented on #36023
I am trying to minimize a test case next.

[2016-08-27 02:17] japaric commented on #36006
#36028 adds initial support for s390x

[2016-08-27 02:25] eddyb commented on #35408
@brson's beta crater runs reveals that @nagisa's [`marksman_escape`](https://github.com/nagisa/marksman_escape/) also overflows the stack (but not for me).
If it *is* the change to remove filling drop from `syntax::ptr::P::map`, we should backport it to beta.
However, crater doesn't agree that the stack overflows have been fixed on master, which is troubling.

[2016-08-27 03:31] caipre commented on #28419
@brson Thanks, and no worries. I've been reacquainting myself with Rust since I've been away from it for a bit; my head hurts. 😄 I've made a few smaller contributions to the project but nothing this close to the compiler. I'll probably reach out sometime next week for some guidance.

[2016-08-27 05:07] Manishearth opened #36031 "rustdoc panics on None at html::render"
Running `make docs` with `--enable-compiler-docs`

[code]

cc @alexcrichton

[2016-08-27 06:10] retep998 commented on #36031
Might be worth having `--enable-compiler-docs` on some of the buildbots.

[2016-08-27 06:11] Manishearth commented on #36031
I've wanted an official rust-internals-docs for a while now 😄

[2016-08-27 07:42] mitsuhiko commented on #35968
Would be curious to hear how other programming languages plan on dealing with this. In particular mono and go.

[2016-08-27 07:59] ricky26 commented on #35968
Unity's answer to this problem is il2cpp - building all of their IL assemblies into C++ code.

Relevant golang bug: https://github.com/golang/go/issues/12682; the suggestion there seems to be that they could use the LLVM go toolchain (which isn't as featured as the standard go toolchain).

All in all, the story for bitcode support outside of Apple is poor.

[2016-08-27 08:51] nixpulvis opened #36033 "Rustdoc should preserve order of item declaration by default."
I'm trying to write code in a specific order for the proposes of reading, and the fact that it sorts them by default alphabetically is not what I want.

At least make it an option, what the default it might be an argument.

[2016-08-27 08:55] mitsuhiko commented on #35968
Mono proper goes via apple LLVM it would appear: http://tirania.org/blog/archive/2015/Sep-02.html

[2016-08-27 09:47] ahmedcharles commented on #34398
@eddyb Is this closed by #35764?

[2016-08-27 09:49] ahmedcharles commented on #34151
@michaelwoerister Now that MIR is the only option, is this still relevant? And if so, what needs to be done?

[2016-08-27 09:49] #35869 closed

[2016-08-27 09:50] ahmedcharles commented on #18616
Does anyone know what this means or what work needs to be done?

[2016-08-27 10:00] ahmedcharles commented on #27384
@nagisa Should this be closed now?

[2016-08-27 10:30] nagisa commented on #35408
Its probably caused by the auto generated trie in
https://github.com/nagisa/marksman_escape/blob/master/src/unescape_named_gen.rs
.

We should really investigate that arbitrary sized initializers do not break
our compiler, likely by removing a great deal of recursion from
visitors'n'stuff.

On Aug 27, 2016 5:25 AM, "Eduard-Mihai Burtescu" <notifications@github.com>
wrote:

[2016-08-27 10:31] eddyb commented on #34398
Indeed!

[2016-08-27 10:31] #34398 closed

[2016-08-27 10:34] eddyb commented on #34151
Drop glue might still be needed, but on-demand monomorphizations are gone.

Somewhat relatedly, @arielb1 has expressed interest in working on making the collector generate MIR bodies for all the needed shims and drop glues.

[2016-08-27 10:35] nikomatsakis commented on #28419
@caipre I would indeed be hapy to mentor. Let me give a tips to get you started. I think @arielb1 was [basically right](https://github.com/rust-lang/rust/issues/28419#issuecomment-225362994) in this comment, though the names may have shifted in the meantime.

The thing about how this works in the compiler is that a lot of times we have to deref a pointer before we know whether it will be a "mut de

[2016-08-27 10:47] nikomatsakis commented on #28419
Reading through the code, I definitely think the most minimal edit would be to continue behaving as it does but report an error if a `DerefMut` is requested and not found. However, I still think that's an odd structure, since the fn would report an error in one case (`DerefMut` requested but not found) but not another (`Deref` requested but not found). I think the *right* fix would probably be to

[2016-08-27 11:47] yati-sagade commented on #35233
I'll take E0049 and E0050 if that's okay

[2016-08-27 11:47] Boddlnagg opened #36035 "Rustdoc still generates docs for some hidden methods"
I've seen #34025, but in the following case `rustdoc` still generates documentation for `hidden()` in the `impl Bar for Foo` (but as `tymethod` instead of `method`). It works correctly if `hidden()` is also marked as hidden in the trait *definition*.

[code]

[2016-08-27 12:08] sinkuu opened #36036 "ICE: the type `u8` has an unknown layout"
(See https://github.com/rust-lang/rust/issues/36036#issuecomment-242961726 for shorter example)

I tried this code:

[code]

with
- `tokio-core` at b9395808bea624e6b64bcafbf6cc05cabdaca6cc,
- `tokio-proto` at 9b694ed5d92a9614058674032a37836300727314
- `tokio-service` at 821739abb9a9c138d84ea1a81c90809af7530e08
- `futures` at ecbca61c8123eff5b939933d9fe0633b522be52b

I expected to see this happen:

[2016-08-27 13:00] #35907 closed

[2016-08-27 13:00] #27245 closed

[2016-08-27 13:11] Sh4rK commented on #36011
I'm guessing @canndrew or @eddyb might know what's going on?

[2016-08-27 13:19] jonathandturner commented on #35233
@yati-sagade, @yossi-k, @paulfanelli - I've updated the list with your picks

[2016-08-27 13:23] mitsuhiko commented on #35968
One stumbling block will be that you cannot carry inline assembly in bitcode :(

[2016-08-27 13:30] canndrew commented on #36011
[This function here](https://github.com/rust-lang/rust/blob/099b9fdb1a170b57ffd7174b3c3042cc86b7fe91/src/librustc/ty/sty.rs#L916) is the one that checks whether a type is empty but it currently only works on empty enums. I tried to extend it to also handle `!` (and all other empty types) but @eddyb and @nikomatsakis were worried about that change because the function was originally only written wi

[2016-08-27 13:47] canndrew opened #36038 "Detect empty types in sub-patterns"
If I define the following types

[code]

I can pattern match on them like this

[code]

But if I put them inside something (not just a tuple), I can no longer match the empty case

[code]

This is inconsistent.

[2016-08-27 13:50] canndrew commented on #35121
https://github.com/rust-lang/rust/issues/36011
https://github.com/rust-lang/rust/issues/36038
https://github.com/rust-lang/rust/issues/35940

Are some bugs to add to the list of pending issues.

[2016-08-27 14:01] 3442853561 opened #36039 "C程式語言中的那個類型更類似常數？"
There is some wrong when we translate the book.We have a problem with the type of `const ` .It is more like the type of `const ` in C language or `#define` in C language,or neighter?How can we translate as well as tell the others to learn it?

[2016-08-27 14:07] canndrew commented on #36038
The main reason I want this is because it will allow people to match on enums while eliding variants that have been "deleted" using `!`. For example, people should be allowed to match on `Result<T, !>` with

    match result {
        Ok(x) => x,
    }

Currently, they have to do

    match result {
        Ok(x) => x,
        Err(e) => e,
    }

Which is confusing because it looks like they're ma

[2016-08-27 14:17] nagisa commented on #35408
For all its worth I coud not reproduce the issue with nightly from 08-04, but could reproduce with stage2 build of rustc built from my i128 PR.

[2016-08-27 14:50] MaikKlein opened #36040 "Conservative impl trait does not seem to work with anonymous types"
[code]
[playpen](https://play.rust-lang.org/?gist=9e2469798d91f973d5724c02fdc64622&version=nightly&backtrace=0)
Basically what I was trying to do was to bind a handle to a specific instantiation of a container. It should not be allowed to pass handle from one container to another container.

So I had the idea of using the new `impl syntax` in combination with an anonymous type. Here `create_contai

[2016-08-27 14:58] birryree commented on #35280
@jonathandturner Yes, sorry - I already have the changes local, about to make a PR.

[2016-08-27 15:34] petrochenkov commented on #28445
Fixed in GCC 6.2 which is officially available in MinGW-w64 now.

[2016-08-27 15:34] #28445 closed

[2016-08-27 15:35] comex commented on #35968
@mitsuhiko You *can* have inline assembly in bitcode on iOS and tvOS, but not watchOS, for some reason.

[2016-08-27 15:45] Sh4rK commented on #36011
That seems a bit unfortunate, but I understand it might not be a trivial change.

So to safely unwrap a `Result<T, !>` for example, currently I should do something like this, or is there a better way?
[code]

[2016-08-27 15:47] glaebhoerl commented on #35121
@canndrew those look a bit similar to https://github.com/rust-lang/rust/issues/12609

[2016-08-27 15:52] canndrew commented on #35121
Boy, that's an old bug! But yes I'd say my #36038 is a dupe of that (I thought I'd seen it somewhere before). I don't think `!` can really be considered for prime time until that's fixed.

[2016-08-27 15:53] canndrew commented on #36038
Closing this as a dupe of #12609.

[2016-08-27 15:53] #36038 closed

[2016-08-27 15:55] canndrew commented on #12609
I think this should be fixed before `feature(never_type)` can be considered stable. In particular, if someone has a `Result<T, !>`, they should be able to match on it with `match res { Ok(v) => v }`

[2016-08-27 15:57] canndrew commented on #36011
Yes, that's how you have to do it.

[2016-08-27 16:02] petrochenkov opened #36043 "Support `#[derive(Copy, Clone)]` and `#[derive(Clone)]` for unions with `Copy` fields"
[code]

This wasn't implemented in https://github.com/rust-lang/rust/pull/36016 for reasons described in https://github.com/rust-lang/rust/pull/36016#discussion_r76496154
cc https://github.com/rust-lang/rust/issues/32836 https://github.com/rust-lang/rust/pull/31414 @durka

[2016-08-27 16:15] glaebhoerl commented on #12609
Some concrete motivation for that: for user-defined uninhabited `enum`s (`enum Void { }`), if we want the same behavior, we'd have to go through a warning-cycle or something, at least, before making the change. But `Result<T, !>` is not currently a legal type (in stable), so there would be no backwards compatibility concerns either (as long as we change this behavior *before* making it stable, as

[2016-08-27 16:56] abhiQmar commented on #35233
Can I take E0076 ?

[2016-08-27 16:58] jonathandturner commented on #35233
@abhiQmar - yup, E0076 is yours now

[2016-08-27 17:11] MaikKlein commented on #36040
I just realized that `struct Anon` has to remain the same type for every function call, so everything is indeed working as intended.

[2016-08-27 17:11] #36040 closed

[2016-08-27 17:24] aturon commented on #29625
@nrc also possibly some questions around the inheritance relationship, see https://github.com/rust-lang/rust/issues/19032

[2016-08-27 17:38] izgzhen commented on #36039
[code]

More like `#define` as far as I see.

BTW, I think it is better asked at https://github.com/rust-lang/book/ or the repository where you did the translation ;)

[2016-08-27 17:44] #35967 closed

[2016-08-27 17:47] #27048 closed

[2016-08-27 18:34] Wilfred opened #36046 "Warn on shadowing built-in types"
I got a little confused by the following code:

[code]

rustc gives the error: `42: expected type parameter, found integral variable`.

The mistake is that I've created a type parameter named `u32`. Could we warn on this case? I can't see any legitimate use case for shadowing `u32`.

[2016-08-27 19:02] bluss commented on #35967
@tomaka how relevant is this platform for stable rust? Should we beta-nominate the fix?

[2016-08-27 19:18] pcwalton commented on #36001
Can we do this in LLVM?

[2016-08-27 19:22] mark-i-m commented on #27910
@Gankro The book is really great! Do you know of plans to complete this chapter?

[2016-08-27 19:22] eddyb commented on #36001
@pcwalton I know clang doesn't, but you would have to ask someone from LLVM to know why.

[2016-08-27 19:41] nagisa commented on #36046
Should report an issue to [clippy](https://github.com/Manishearth/rust-clippy) in case they don’t already have such a lint instead.

[2016-08-27 19:44] alexcrichton commented on #36006
@brson so today we're producing six cross-compiled host builds on our nightly builder  which takes about 9 hours ([!!!](https://buildbot.rust-lang.org/builders/nightly-dist-rustc-cross-host-linux/builds/169)). This, added with https://github.com/rust-lang/rust/issues/36015, is *another* six hosts to build. Surely we can't have an 18 hour build cycle, so we'll need to add some parallelization, but

[2016-08-27 19:44] koute commented on #36036
I'm also getting this ICE. Here's a more minimal example:

[code]

And here's the error:

[code]

[2016-08-27 19:51] jonathandturner commented on #36026
I like it!  I wonder if there's a note we can use instead. Maybe something like:

[code]

Seems a little wordy, but maybe okay?

As an aside, an "extract as variable" would be a nice refactoring.

[2016-08-27 19:56] abhiQmar commented on #35221
I have updated the message to show after span. All tests are passing.
Figuring out how to make span point to the parameters only. Any suggestion is welcome

[2016-08-27 20:03] durka commented on #36043
I knew that hack would come back to bite us :)

We can just remove it if we agree on the policy that all Clone + !Copy
types will eventually be fixed...

On Sat, Aug 27, 2016 at 12:03 PM, Vadim Petrochenkov <
notifications@github.com> wrote:

[2016-08-27 20:05] vlad9486 opened #36051 "Certain wrong code crashes nightly rustc"
The crash happens when trait method returns `Option<Self>` but implementation returns just `Self`. It happens only on nightly version. [Playground](https://play.rust-lang.org/?gist=f1067b92ee4e2bf4f08c72c65f4423a9&version=nightly&backtrace=0)

[2016-08-27 20:08] Wilfred commented on #36046
Since this code is also a compile error, I believe clippy can't help.

[2016-08-27 20:11] durka commented on #36043
Reproducing @petrochenkov's comment from the union PR:

---

Can we instead remove the parameter from `assert_receiver_is_clone` and generate something like this?

    // libcore
    pub fn assert_receiver_is_clone<T: Clone + ?Sized>() {}

    union U { a: u8, b: u16 }

    impl ::std::clone::Clone for U {
        #[inline]
        fn clone(&self) -> U {
            ::std::clone::assert_receiver_i

[2016-08-27 20:17] nagisa commented on #36043
For unions `derive(Clone)` without `derive(Copy)` makes little sense IMO, since the fields must be Copy to derive either, so we should just require users to derive both at all times for unions.

[2016-08-27 20:27] ebfull opened #36052 "Impl check with trait ICE"
[code]

causes on current nightly (`rustc 1.13.0-nightly (3c5a0fa45 2016-08-22)`):

[code]

[2016-08-27 20:28] Stebalien opened #36053 "Type inference ICE: `assertion failed: !self.obligations_in_snapshot.get()`"
Type inference is barfing on:

[code]

This only happens to iterators over ~~`&str`s~~ types with lifetime parameters and only happens when fused, mapped or filtered, than "operated" on (e.g., counted).

The following works:

[code]

Trace:

[code]

[2016-08-27 20:34] TimNN commented on #36052
This should be fixed by #35877 which was merged today (and should thus be included in the next nightly).

[2016-08-27 20:35] Stebalien commented on #36051
Dup of #35869. Should be fixed by https://github.com/rust-lang/rust/pull/35877

[2016-08-27 20:38] mikhail-m1 commented on #35233
I'll take E0265

[2016-08-27 20:43] #36051 closed

[2016-08-27 20:46] jonathandturner commented on #35233
@mikhail-m1 - done :)

[2016-08-27 21:46] paulfanelli commented on #35934
I've fixed this, but when I ran the unit tests after making my changes, all the tests passed.  I was expecting the unit tests related to E0463 to fail.  What this suggests to me is that there are no unit tests for E0463? How should I proceed?

[2016-08-27 21:49] jonathandturner commented on #35934
@paulfanelli - yeah, there's a quirk in the unit test system where it will only start testing the labels if you add at least one NOTE to the test.  You can read up on it in the Extra Credit section of the [blog post](http://www.jonathanturner.org/2016/08/helping-out-with-rust-errors.html)

[2016-08-27 21:52] jonathandturner commented on #35221
@abhiQmar - sadly, some of the bonuses don't have enough information to be completed.  I looked around and wasn't able to find an easy way to get this span information.

Please feel free to submit without the bonus and I'll close the bonus part as not easily possible for now.

[2016-08-27 22:10] paulfanelli commented on #35934
Ok, I added a NOTE with bogus data and got the unit test for E0463 to fail.  Then I put the correct NOTE in and it passed the test.  But...I coded it 2 different ways and they both worked.  Not sure what the best practice is?

the 1st way I coded it is (adding the NOTE separately; leaving the original ERROR alone):

#![feature(plugin)]
#![plugin(cookie_monster)] //~ ERROR E0463
//~^ NOTE can't fin

[2016-08-27 22:14] jonathandturner commented on #35934
Those are both correct.  The testing system has been around a little while so, inevitably, there are a couple ways to do things.

My preference is the second of the two as, imho, it looks a little better.

[2016-08-27 22:17] GuillaumeGomez commented on #35934
'|' comes in when '^' has already be called on a same span IIRC.

[2016-08-27 22:36] birryree opened #36057 "E0194 Bonus Formatting"
This ticket covers the bonus portion of #35280 as part of #35233.

It takes the original error message updates and expands it to:

[code]

I made this ticket in order to separate the improvement from the original issue.

[2016-08-27 22:38] birryree commented on #35280
Bonus section is being tracked by #36057 because I wanted to commit the non-bonus part of the update before I committed/made a PR for my additional bonus fixes (as they may require some extra review).

[2016-08-27 22:45] apasel422 commented on #36033
Sort of a duplicate of #8552.

[2016-08-27 23:03] jonas-schievink commented on #36053
What Rust version is that? Can't reproduce on the [Playpen](https://is.gd/5u9Z5S)

[2016-08-27 23:23] Stebalien commented on #36053
linux, x86_64, rustc 1.13.0-nightly (e9bc1bac8 2016-08-24)

[2016-08-27 23:30] Stebalien commented on #36053
Same on 1.13.0-nightly (198713106 2016-08-26)

[2016-08-27 23:31] Stebalien commented on #36053
Also happens on http://play.integer32.com/

[2016-08-27 23:32] japaric commented on #34486
It seems this is a duplicate of #29694

[2016-08-27 23:35] jonas-schievink commented on #36053
Ah I see. Does not reproduce on rustc 1.13.0-nightly (f883b0bba 2016-08-19)

[2016-08-28 00:00] acrrd commented on #35233
I'll take E0496

[2016-08-28 00:01] mcarton commented on #36046
@Wilfred Sure it can. Purely syntactic lints are run before type checking.

This had already been reported on Clippy: https://github.com/Manishearth/rust-clippy/issues/949. I implemented it: https://github.com/Manishearth/rust-clippy/pull/1199.

[2016-08-28 00:02] jonathandturner commented on #35233
@Coder206 Look at the list at the top ^.  Anything that doesn't have a lock and a name is available

[2016-08-28 00:03] jonathandturner commented on #35233
@accrd - done!

[2016-08-28 00:41] Stebalien commented on #36053
Note: This was is probably related to specialization. It's definitely not at all related to https://github.com/rust-lang/rust/pull/35656, I don't even know why you would suggest that. Any suggestion that uncommenting the commented line below is at all related to this problem will be met with derision:

[code]

/cc @alexcrichton @aturon

[2016-08-28 00:45] Stebalien commented on #36043
(@durka pedantic `!Clone + Copy`)

[2016-08-28 01:11] eddyb commented on #35408
I've managed to get the IR from old and MIR trans for `hir::lowering::LoweringContext::lower_expr`, and looking for `alloca`s with no `llvm.lifetime.start` calls:  https://gist.github.com/eddyb/0b9afd3a5cc04fcc35643afb3aa00804

The `[140 x i8]` `alloca`s are `hir::Expr` reduced to `hir::Expr_` (+ 4 unused bytes AFAICT).
Just the `[140 x i8]` and `hir::Expr_` `alloca`s together add up to 9kB, about

[2016-08-28 01:14] Wilfred commented on #36046
Aha, this is well-trodden ground then. I'm going to close as a duplicate of #35030.

Huge thanks for implementing it in clippy! I did not know clippy could help with invalid code.

[2016-08-28 01:14] #36046 closed

[2016-08-28 01:15] durka commented on #36043
@Stebalien oops yeah.

On Sat, Aug 27, 2016 at 8:46 PM, Steven Allen <notifications@github.com>
wrote:

[2016-08-28 01:23] dten commented on #35807
https://twitter.com/CryZe107/status/769498246930661376

short discussion about this here. personally I think it's a shame that the swapping `fold(0, Add:add)` for `sum()` results it such a performance hit

Docs perhaps could mention that it's `checked_add`

[2016-08-28 01:43] petrochenkov commented on #36043
By the way, why do `#[derive(Clone, Copy)]` and `#[derive(Copy, Clone)]` generate different code? (Unoptimized in the first case.)

[2016-08-28 01:43] durka commented on #35654
Looks like maybe a dupe of #34053. Anyway, works fine with nightly since in-struct drop flags are gone.

[2016-08-28 01:43] #35654 closed

[2016-08-28 01:44] durka commented on #34053
Fixed now.

[2016-08-28 01:59] durka commented on #36043
Uh, they aren't supposed to. I added the check to the `#[derive_Clone]` handler because I figured even if you wrote `#[derive(Clone, Copy)]` then all the attributes would be attached before the handlers are called. But I guess I thought wrong? Or maybe the behavior changed?

[2016-08-28 02:16] durka opened #36061 "spurious E0210 (coherence) after E0120 (blanket Drop impl)"
$ cargo script -e 'trait Trait {}      impl<T: Trait> Drop for T { fn drop(&mut self) { } }'
       Compiling expr v0.1.0 (file:///Users/alex/.multirust/toolchains/beta/cargo/.cargo/script-cache/expr-223e68b0943558e6)
    error[E0120]: the Drop trait may only be implemented on structures
     --> /Users/alex/.multirust/toolchains/beta/cargo/.cargo/script-cache/expr-223e68b0943558e6/expr.rs:5:41

[2016-08-28 02:20] kornholi commented on #34053
Confirmed working in latest nightly.

[2016-08-28 02:25] eddyb commented on #34053
We want a test though.

[2016-08-28 03:53] brson commented on #36023
Reduced case. This segfaults on x86_64-unknown-linux-gnu with `rustc 1.13.0-nightly (e07dd59ea 2016-08-25)`, compiled with `-O`.

[code]

[2016-08-28 04:20] #35311 closed

[2016-08-28 04:20] #35929 closed

[2016-08-28 04:20] #35925 closed

[2016-08-28 04:20] #35966 closed

[2016-08-28 04:29] eddyb commented on #35408
Something I noticed while looking at #36023 which *may* be relevant: we seem to be emitting `StorageDead` for *all* bindings in *all* arms in the merge of a `match` instead of on each arm.
Not sure if anything better can be done here. Also, the `StorageLive` are in the appropriate arms, so perhaps this has no negative impact at all.

[2016-08-28 04:45] eddyb commented on #36023
Normalized to:
[code]
Backtrace is:
[code]

Note the `ptr=0x0` passed to `je_huge_dalloc`.

[2016-08-28 05:02] abhiQmar commented on #35221
@jonathandturner Thanks for your help on this. I have submitted without the bonus, please review.

[2016-08-28 05:38] eddyb commented on #36023
So far I've found that the drop glue for `Result<String, Option<String>>` optimizes to start with:
[code]
That `load` is reading the data pointer of the `String` (which may be null in the `Err` case, where it represents `Err(None)`) *and assuming* it's `nonnull`.
While the null check which distinguishes between `Err(None)` and `Err(Some(_))` is still there, it gets optimized out later, due to that

[2016-08-28 06:37] Aatch commented on #36039
Not sure this is appropriate as an issue here, so I'm going to close it. If there's an issue related to translating the book, then that would be the place to ask this question.

[2016-08-28 06:37] #36039 closed

[2016-08-28 06:40] Aatch commented on #36013
Fixed by #35877

[2016-08-28 06:40] #36013 closed

[2016-08-28 07:13] TimNN commented on #36036
This is a regression from stable to beta.

[2016-08-28 07:36] #35815 closed

[2016-08-28 07:55] TimNN commented on #36036
Introduced in `nightly-2016-08-13`, [changes from `nightly-2016-08-12`](https://github.com/rust-lang/rust/compare/8787a1233...1deb02ea6).

Slightly smaller example:

[code]

[2016-08-28 07:58] TimNN commented on #36036
cc @eddyb, probably introduced as part of #35091.

[2016-08-28 08:02] eddyb commented on #36036
Seems like pointers need to be normalized specially (as we don't recurse through them).

[2016-08-28 08:22] vitiral opened #36063 "internal UnsafeCell causes references to be dropped immediately"
This has been driving me crazy and I have finally found the root cause of the bug.

[code]
I have tried to compile with all of these versions, so I can be pretty sure that this bug is NOT a regression.

The source code that details the bug is here:
https://github.com/vitiral/notes/tree/rust_bug/rust/lifesucks/src

You can see I have created 3 versions of roughly the same code in increasing complex

[2016-08-28 09:00] razielgn commented on #35233
Taking E0493.

[2016-08-28 09:18] leeopop opened #36064 "Access to "rustc_plugin::Registry" for CompilerControllers"
Currently, Registry structure is allocated and used in the rustc_driver (https://github.com/rust-lang/rust/blob/1bf5fa3269ba32ae21e349ac675bdedcc7e99a66/src/librustc_driver/driver.rs#L590).
It is not accessible by the CompilerController.
The CompilerController can only access the read-only version of CompileState.session.plugin_attributes.
One suggestion is to manage the Registry structure inside

[2016-08-28 09:26] eddyb commented on #36023
Barebones reproduction:
[code]

[2016-08-28 10:03] eddyb commented on #36023
Found LLVM commit which is supposed to fix this: https://github.com/llvm-mirror/llvm/commit/a90859a6e3751e2289c44b57723658bf8962dcc5.

[2016-08-28 10:47] eddyb commented on #36023
Filed LLVM bug report: https://llvm.org/bugs/show_bug.cgi?id=29163.

[2016-08-28 12:33] CryZe opened #36067 "Rust Doc accidentally elides lifetimes"
For some reason the lifetime `'a` is missing in the docs for `std::slice::from_raw_parts` and it's probably missing in more places. It shows that it's returning a `&'a [T]` but the lifetime is completely missing from the rest of the function signature even though it's clearly there in the source code.

[std::slice::from_raw_parts](https://doc.rust-lang.org/std/slice/fn.from_raw_parts.html)

Signat

[2016-08-28 13:20] #35752 closed

[2016-08-28 13:23] arielb1 commented on #36023
But I thought that bad-metadata loads only result in `undef`, not in UB.

[2016-08-28 13:34] arielb1 commented on #36063
This is because you are taking an `&'pool Mutex`, while `Mutex` is a pointer, as an argument. This requires the `struct Mutex` returned from `alloc` to live as long as the pool, which is impossible because it only lives like a local variable.

[2016-08-28 13:35] #36063 closed

[2016-08-28 14:04] wehjin opened #36071 "internal compiler error matching std::env in static variable initializer."
`rustc` panics while compiling and matching an environment variable in static variable initializer.

I tried this code:
[code]

It returns a note saying the compiler unexpectedly panicked.

[code]

## Meta
rustc --version --verbose:
[code]

Backtrace:
[code]

[2016-08-28 14:14] gavinb commented on #35233
@jonathandturner I'll take E0164, E0165 and E0184

[2016-08-28 14:17] jonathandturner commented on #35233
@razielgn and @gavinb - updated!

[2016-08-28 14:20] zjhmale commented on #35233
@jonathandturner i'll take E0089, E0318 and E0393

[2016-08-28 14:41] hanna-kruppe opened #36073 "std::ops::Drop documentation focuses on scope, ignores other causes of drops"
There was some confusion in #rust over when values are dropped. It was pointed out that the `std::ops::Drop` documentation only says drop is called if "a value goes out of scope", which is inaccurate:
- Scopes apply to variables, not values
- Values can be dropped for other reasons than scopes ending. For example, if a variable is re-assigned, the old value is dropped. There are also temporaries.

[2016-08-28 14:44] ideasman42 opened #36074 "vec! macro slows down compiler with ~10,000+ elements, rust 1.11"
In the attached example, compilation takes between 2.5-3.5 minutes here (AMD FX-8350, 4ghz).

Both with:

[code]

and

[code]

Of course having large data-sets defined this way is something to avoid, even so - ideally it wouldn't be prohibitively slow to compile, since they may be useful in some corner cases (generated code for example).

See: [main.rs.txt](https://github.com/rust-lang/rust/files/

[2016-08-28 14:55] acrrd commented on #35233
I'll take E0318

[2016-08-28 14:59] acrrd commented on #35233
@zjhmale sorry I posted without refreshing the page, I have almost finish it with only the test to fix; if is ok for you I will send the PR otherwise I move to something else

[2016-08-28 15:16] jonathandturner commented on #35233
@acrrd - since there aren't many left, what if you take E0318 and @zjhmale takes E0089 and E0393?

[2016-08-28 15:21] acrrd commented on #35233
@jonathandturner  it's ok for me

[2016-08-28 15:33] nagisa commented on #36073
I feel like scopes are still the best way to model the intuition about drops, but it is important to understand that scopes used for drop generation aren’t exactly the lexical scopes which you have in the source file.

Most notably drop scopes may overlap in various ways in which the lexical scopes cannot. Similarly, each let binding introduces a scope, which is distinct from any lexical scope you

[2016-08-28 15:35] Stebalien commented on #36052
This is fixed in the latest nightly (`rustc 1.13.0-nightly (a23064af5 2016-08-27)`)

[2016-08-28 15:38] nagisa commented on #36071
Duplicate of https://github.com/rust-lang/rust/issues/31577

[2016-08-28 15:44] #36052 closed

[2016-08-28 15:46] nox opened #36075 "Unused type parameter error regression with nightly-2016-08-28"
The following code now fails to typecheck in latest nightly:

[code]

[code]

*[source](https://github.com/servo/rust-cssparser/blob/59835bc76add364a3bab2cc59ca2405b16728948/src/rules_and_declarations.rs#L189-L196)*

[2016-08-28 15:54] vitiral commented on #36063
Hey @arielb1, thanks for taking a look at this.

I don't understand several points you are making though.

When is `Mutex` a pointer? Do you mean with `MutexGuard`?

but the Pool is a local variable too, I don't understand why it can't just live as long as the pool (I am even *telling it* to live as long as the pool with the lifetime)

I'm not sure what I should replace it with. `Mutex` references

[2016-08-28 16:05] TimNN commented on #36074
Seems to be fixed on beta / nightly.

On stable I get around 170s for expansion whereas it's around 5s in beta / nightly (other phases are negligible).

[2016-08-28 16:05] zjhmale commented on #35233
@acrrd cool, just go ahead 😄

[2016-08-28 16:09] rkruppe opened #36076 "x86_64 MSVC coretest::ptr::test_variadic_fnptr: "error LNK2019: unresolved external symbol""
I get a linker error when building coretest as part of the `check` step, or more specifically `check-crate-std`. The source of the problem is the test `test_variadic_fnptr` in `src/coretest/ptr.rs`, and the same error can be provoked by this self-contained program:

[code]

Some notes:

- compiling with optimizations will inline the `clone` and subsequently eliminate all the code including the par

[2016-08-28 16:10] steveklabnik commented on #36074
I wonder if that means "fixed by MIR"...

On Aug 28, 2016, 12:05 -0400, Tim Neumann <notifications@github.com>, wrote:

[2016-08-28 16:11] zjhmale commented on #35233
@jonathandturner ok for me

[2016-08-28 16:17] TimNN opened #36077 "Travis is failing ("undefined reference to LLVMInitializeSystemZ*")"
Excerpt from a recent travis build:

[code]

These symbols were introduced in #36028.

cc @japaric

[2016-08-28 16:22] TimNN commented on #36074
@steveklabnik I don't think so, macro expansion happens long before mir / trans is reached, doesn't it?

[2016-08-28 16:27] steveklabnik commented on #36074
It would, yeah, I was thinking maybe it does a better job of handling the code it's given. As I said though, just a random thought; I don't actually know.

[2016-08-28 16:29] TimNN commented on #36074
I checked `-Z time-passes`, anything but macro expansion had sub second timings on all channels.

[2016-08-28 16:31] nagisa commented on #36076
printf function is not a thing in MSVC. That test ought to be removed, because we test variadic functions in [this test](https://github.com/rust-lang/rust/blob/master/src/test/run-pass/variadic-ffi.rs), including the function pointer.

[2016-08-28 16:31] rkruppe commented on #36073
What exactly is a "scope", then? An arbitrary execution path in the CFG? I can't see them being anything less, since all the various operations that cause early drops may be condition or in loops.

And I find it very strange to "desugar" a primitive language construct such as assignment to a combination of various API calls. I understand it's meant for "intuitive" understanding, but even so it sou

[2016-08-28 16:31] rkruppe commented on #36076
If there is no way that test can work, why haven't MSVC bots been failing since forever?

[2016-08-28 16:35] rkruppe commented on #36076
Why aren't the MSVC bots seeing the same error, then?

[2016-08-28 16:37] nagisa commented on #36076
Well existence of an actual function might depend on MSVC version, I guess. (e.g. the ulibc and the old libc implementation) Perhaps that’s the reason buildbots haven’t been failing?

I really meant to say that it is not guaranteed to be a function and may be a macro too (i.e. does not export a symbol to link to)

[2016-08-28 17:08] vitiral commented on #36063
nevermind, I have found a way around it -- I just don't use UnsafeCell at all. I added the file `complex_ptr.rs` to show how I am getting around it.

[2016-08-28 17:09] vitiral commented on #36063
I really do still think this is a bug -- try to get `very_comlex.rs` to compile and I don't think it is possible (if it is I would love to see, since I think it would help me understand lifetimes that much better). Can someone else take a quick look at it?

[2016-08-28 17:20] #20433 closed

[2016-08-28 17:20] #26251 closed

[2016-08-28 17:20] #28625 closed

[2016-08-28 17:20] #33687 closed

[2016-08-28 18:01] #36071 closed

[2016-08-28 19:05] eddyb commented on #36023
@arielb1 Just `undef` is useless, the metadata is there to kill later redundant checks. Hopefully the fix is just to add one or two of those metadata stripping loops to that unhandled case.

[2016-08-28 19:36] nrc opened #36081 "expr_field_access in build.rs should not be span-mangling"
cc #35990, @sgrif

There are no guarantees that the two spans used to create the new one come from the same place or are even valid.

[2016-08-28 20:07] arielb1 opened #36082 "Dubious region behaviour affected by `&_` annotations"
## Meta

[code]
## STR

This code compiles and runs successfully

[code]

But adding a `&_` type annotation causes a double borrow panic:

[code]
## Notes

"Specification-wise", the type annotation changing the code behaviour is rather dubious. The root cause is [this gem of a function](https://github.com/rust-lang/rust/blob/6fd13fad9349a4c36a61a6f2766406cff7bcee8a/src/librustc/middle/region.rs#L9

[2016-08-28 20:18] tomaka commented on #35967
The crash disappeared after the latest nightly.

[2016-08-28 20:24] arielb1 commented on #35619
The compiler team was using I-wrong for bugs where the compiler silently emits wrong code. I suppose that silent standard library breakage also counts.

Diagnostic problems are just `A-diagnostics`.

[2016-08-28 20:44] sfackler commented on #27784
It looks like serde is interested in the remaining unstable functionality.

cc @dtolnay

[2016-08-28 20:46] sfackler commented on #28147
I believe the functionality of `replace` is subsumed by `peek_mut`.

[2016-08-28 22:36] Aatch commented on #36073
I adjusted the title to make it more clear this is talking about documentation, rather than the operation of destructors in general.

[2016-08-28 22:39] KiChjang commented on #35847
I'm looking into this, should I add a test for it? Because using the example provided in the issue description causes rustc to run for a loooooooooooooooooong time, and this would hurt PR turnover rates if I include the test.

[2016-08-28 22:40] duesee commented on #28237
I often want to iterate over inclusive ranges and really liked typing `0...x` instead of `0..(x + 1)`. I understand that this may introduce off-by-one errors, but what alternatives do we have?

Assuming Rust's syntax could be freely changed without side-effects, I see only a few obvious patterns:

Taking it as it is
[code]
which is a good solution IMHO and also used in pattern-matching.

Borrow fr

[2016-08-28 22:45] KiChjang commented on #35847
Also, why is `std::sync::mpsc::shared::Packet`'s `channels` field an AtomicIsize? Shouldn't it be AtomicUsize instead?

[2016-08-28 23:03] nathanaeljones commented on #34877
I'm running `stable-x86_64-unknown-linux-gnu (default) rustc 1.11.0 (9b21dcd6a 2016-08-15)`

For me, this works: `let input_bytes = [0u8;1 * 1024 * 1024];`

For me, this segfaults: `let input_bytes = [0u8;2 * 1024 * 1024];

`(signal: 11, SIGSEGV: invalid memory reference)`

It's not possible to catch this with `catch_unwind`, either. Is it possible to catch *any* kinds of allocation failure at the

[2016-08-28 23:13] #12033 closed

[2016-08-28 23:19] Aatch commented on #34877
@nathanaeljones as the name suggests, `catch_unwind` catches unwinding, and that's all it catches. Can't catch a segfault.

Also, your issue is probably closer to being this one: #36001

[2016-08-28 23:21] nathanaeljones commented on #29802
@bluss, could you elaborate how a failed 1GB allocation (say, for a large photograph) would prevent unwinding later? My understanding is that there are many myths around overcommit, and that the system can actually tell prior to memory access whether an allocation is likely possible.

[2016-08-28 23:23] arielb1 opened #36088 "Parameter patterns are dropped *after* arguments"
## Meta

[code]
## STR

[code]
## Actual Result

[code]
## Explanation

When the function exits, the argument `arg0` is dropped _first_, followed by the variable `var0` aka `y`. This is the reverse of what happened in old trans, and looks quite unnatural. OTOH, it is quite similar to `let`-bindings, so maybe that is for the best.

## Relation to `match` statements

I don't think that lifetimes in

[2016-08-28 23:33] apasel422 commented on #22713
If the test case here can't be reduced, we should just close this issue as is.

[2016-08-28 23:38] nathanaeljones commented on #26951
@pythonesque Why? If it's not possible to deal with OOM in Rust, I can't use Rust. See https://internals.rust-lang.org/t/could-we-support-unwinding-from-oom-at-least-for-collections/3673/21 for an exploration of why handling OOM is important.

[2016-08-28 23:50] eddyb commented on #34877
@Aatch Don't think this is related to performance issues of stack arrays.
I haven't investigated this further, I should've tried to report a clang reproduction, my bad.
Here it is: https://llvm.org/bugs/show_bug.cgi?id=29171.

[2016-08-28 23:54] eddyb commented on #26951
@nathanaeljones IMO the real problem here is that we don't have an allocator abstraction in `libstd` yet.

[2016-08-29 00:04] steveklabnik commented on #26951
@nathanaeljones the default, std allocator aborts, but given Rust's low-level nature, you could replace it with one that doesn't. It is a lot more work right now, but as @eddyb said, this is something that will come along in time.

[2016-08-29 00:04] tikue commented on #35121
Is it planned for `!` to affect pattern matching exhaustiveness? Example:

[code]

[2016-08-29 00:06] lfairy commented on #35121
@tikue yes, it's one of the bugs listed above.

[2016-08-29 00:08] tikue commented on #35121
@lfairy whoops, didn't see it because it wasn't listed in the checkboxes at the top. Thanks!

[2016-08-29 00:24] nathanaeljones commented on #27700
I noticed that `set_oom_handler` mentions this issue and provides *not a scrutinized interface* as the reason for instability.

Echoing @glandium, my focus is:

Per https://github.com/rust-lang/rust/issues/33082#issuecomment-218919567, I understand the answer is:

I'm focused on server use cases - particularly those where large allocations are both common and recoverable. I think [a strong case fo

[2016-08-29 00:41] nathanaeljones commented on #26951
@steveklabnik Thanks; I'm not too concerned with 'lots of work', but rather if I can produce well-behaved binaries for both FFI and server use.

I started porting Imageflow over to Rust in June, but failed to verify that OOM panics (as widely reported) instead of aborting. I'd assumed that the stabilization of `std::panic::catch_unwind` meant Rust was ready for my use case. I decided to write a te

[2016-08-29 01:03] Stebalien commented on #36088
Really, I'd expect `x` and `z` to be dropped at the *start* of the function (same as let bindings).

[2016-08-29 01:27] durka opened #36091 "odd span with unused import generated by macro"
I noticed this in a much more complex macro (it was recursive), but I minimized it:

[code]

[code]

I can't say the span is wrong... but it also doesn't seem right. cc @jonathandturner

[2016-08-29 02:53] glandium opened #36092 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', ../src/libcore/option.rs:326"
I was incrementally trying to define a trait for Peekable on playpen. When compiling an intermediate and unbalanced version of the code, I ended up with a rustc panic. The code is the following:

[code]

(This is obviously incomplete code, but it crashes rustc)

The panic looks like:
[code]

The panic doesn't happen when both the trait and the impl use either `Option<&Self::Item>` (which yields a

[2016-08-29 03:21] frewsxcv opened #36093 "rustdoc style bug: version number floating position overlaps description"
https://doc.rust-lang.org/nightly/std/collections/hash_map/enum.Entry.html

<img width="655" alt="screen shot 2016-08-28 at 8 18 17 pm" src="https://cloud.githubusercontent.com/assets/416575/18039971/cdf181bc-6d5c-11e6-90c1-0354f269e702.png">

[2016-08-29 03:21] sinkuu commented on #36092
dupe of #35869. Should be fixed in the latest nightly (probably playpen is yet to be updated).

[2016-08-29 03:53] gavinb commented on #35233
@jonathandturner I've finished E0164, E0165 and E0184. They're each in their own commit in my fork, but because I messed up resyncing my local and git repos, so I can't make a PR for the newer changes yet. Once my first PR is closed and merged, I'll update my tree to get back in sync with rust-lang and then shoot off a PR for the next 3.

Happy to do some more if any become available. Might take a

[2016-08-29 04:00] carols10cents opened #36094 "What to do with the old book when the new book is ready"
For some value of ready. This is related to these issues in the [new book repo]()
- https://github.com/rust-lang/book/issues/181
- https://github.com/rust-lang/book/issues/235
- https://github.com/rust-lang/book/issues/236

But since this issue has to do with what happens to the current (old) version of the book, I'm filing it in this repo where this book lives.

This issue is for deciding between

[2016-08-29 04:06] retep998 commented on #36076
@nagisa If we can detect whether we're using a new enough MSVC version, we can tell the Rust to tell the linker to link `legacy_stdio_definitions.lib` which provides `printf`.

[2016-08-29 04:10] glandium opened #36095 "Weird (and possibly wrong) E0308"
Continuing after issue 36092, I ended up with the following code:
[code]

Compiling it fails with:
[code]

FWIW, because this was created incrementally, it turns out the type Item is not necessary, and removing it doesn't change anything.

Anyways, talchas on irc figured how to make it compile:

[code]

But simply adding redundant `where Self: ITerator` clauses causes the same E0308 error:
[code]

[2016-08-29 04:25] RandomInsano opened #36096 "Who can help with conflicting serde and log macro mumbo jumbo?"
I have a project which uses `serde_macro`, and this seems to break the `log` crate. I'm on nightly (rustc 1.12.0-nightly (b30eff7ba 2016-08-05)), so I'm not sure if this is a rust compiler problem, a conflict between serde and log, or something completely different. Looking for troubleshooting advice.

To reproduce: (on Mac and Linux, paste this into your command line or copy and paste the stuff b

[2016-08-29 04:27] RandomInsano commented on #36096
Also, these crates do work fine on their own. It has something to do with the combination of them.

[2016-08-29 04:33] durka commented on #36096
Please post the full error message as well.

[2016-08-29 04:35] RandomInsano commented on #36096
Fair enough!

[code]

[2016-08-29 04:41] durka commented on #36096
You're just missing `#[macro_use]` before `extern crate log;`.

[2016-08-29 04:43] RandomInsano commented on #36096
So, it needs to be directly before `extern crate log`?

[2016-08-29 04:44] durka commented on #36096
Yes, it's an attribute which needs to be attached to the appropriate `extern crate` item. Right now you have one attached to the `serde` import, but not the `log` import, so you won't get the macros from the latter.

[2016-08-29 04:45] RandomInsano commented on #36096
Good to know! Not overly clear exactly what #[macro_use] was from my quick skimming of the docs. Closing as invalid!

[2016-08-29 04:45] #36096 closed

[2016-08-29 04:56] Aatch commented on #36092
Closing as duplicate

[2016-08-29 04:56] #36092 closed

[2016-08-29 05:22] upsuper opened #36097 "Fail to link i686 staticlib with MSVC"
See my test repo: [upsuper/rust-msvc-link-test](https://github.com/upsuper/rust-msvc-link-test)

* Build the crate with `i686-pc-windows-msvc` toolchain
* Build the C++ file with `cl.exe` from MSVC 2015
* Link them together via `link.exe` from MSVC 2015

(The 32bit MSVC 2015 toolchain locates at "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\amd64_x86\" for me)

It shows linker error

[2016-08-29 05:25] upsuper commented on #36097
This affects Stylo. See [atom_macro.rs](https://raw.githubusercontent.com/servo/servo/3895b7118eba982891a6d592b11cd08fb7083dbb/ports/geckolib/string_cache/atom_macro.rs). (The test code is also simplified from Stylo case)

[2016-08-29 06:29] #34183 closed

[2016-08-29 06:35] TimNN commented on #36095
Regarding the ``expected struct `std::iter::Peekable`, found type parameter`` message:

As far as I understand the situation, the real message is basically in the notes:

[code]

The ``expected struct `std::iter::Peekable`, found type parameter`` is some kind of summary, focusing only on the actual difference between the expect / found types (in this case `std::option::Option` and `std::iter::Iter

[2016-08-29 07:22] SimonSapin commented on #36075
Note that this is a regression from stable. This code may be wrong, but the end users of an application that depends on a library that depends on a library that depends on a old version of the `cssparser` library won’t care about that when their app breaks after updating their compiler.

We’ve publish a new version of `cssparser` that removes the type parameter, but since this is a public type we’

[2016-08-29 07:41] SimonSapin commented on #36075
To clarify:

* Building this code on 1.11.0 stable, 1.12.0-beta.2, or 1.13.0-nightly (198713106 2016-08-26) shows no warning. It errors on 1.13.0-nightly (a23064af5 2016-08-27).
* By Cargo supressing warnings, I mean it passing `--cap-lints allow` to rustc when building dependencies

[2016-08-29 07:46] eddyb commented on #36075
Looks like it was accidentally caused by #36002. Sorry for the earlier dismissal, I didn't realize `I` isn't used as a type parameter, but only as an associated type. For example, `DeclarationListParser` could use:
[code]

So it *is* possible it was *correctly* considered constrained before, but I'd want confirmation from @nikomatsakis or @arielb1 before changing anything.
We didn't have any test

[2016-08-29 08:00] SimonSapin commented on #36075
In cssparser 0.6.0 I’ve removed `where` clauses on structs entirely, together with the type parameter. But I kept this extra type parameter on `impl`s, for example:

[code]

(because using `<P as AtRuleParser>::AtRule` instead of `I` in multiple places like `Item` was more verbose, and I mildly disliked the asymmetry in the `where` clauses.)

Is this likely to be rejected later?

[2016-08-29 08:28] glandium commented on #36095
Aaah, so it kind of makes sense now, but the `found type parameter` is not really making things clear. It should however figure that `std::iter::Peekable<I> as std::iter::Iterator>::Item` and `I as std::iter::Iterator>::Item` are, in fact, the same thing.

[2016-08-29 09:26] petevine commented on #34476
The following news makes this issue much less interesting. Who knows what effect DVFS has under different loads.

http://www.cnx-software.com/2016/08/28/amlogic-s905-and-s912-processors-appear-to-be-limited-to-1-5-ghz-not-2-ghz-as-advertised/

[2016-08-29 09:26] #34476 closed

[2016-08-29 09:57] bluss commented on #36067
Thank you! This is already present as issue  #14462

[2016-08-29 09:57] #36067 closed

[2016-08-29 10:31] GuillaumeGomez commented on #35233
@gavinb: You can always create a new branch, put your commits in it (or re-doing changes by hand and commit them) and then force push it on your branch.

[2016-08-29 10:31] nagisa commented on #36076
Why? Just use the test helper we have exactly for this issue.

On Aug 29, 2016 7:06 AM, "Peter Atashian" <notifications@github.com> wrote:

[2016-08-29 10:38] bluss commented on #29802
There will be cases due to overcommit where the application receives a "successful" allocation, and it crashes when trying to use it later. However, that doesn't seem to be the problem, because we can't do much about that.

@nathanaeljones I don't understand the scenario, I don't see why a failed allocation would prevent unwinding later. I may be missing something.

The only Rust code that should

[2016-08-29 10:38] retep998 commented on #36076
@nagisa Well sure, that's probably easier and more reliable.

[2016-08-29 10:44] retep998 commented on #31816
There are 9.53MB of `.dll.lib` files in the `bin` folder for `x86_64-pc-windows-msvc`, so some real savings could be had here.

[2016-08-29 11:20] sanxiyn commented on #35675
@Aatch's example gives this error, which seems good to me:

[code]

That is, different errors are given depending on whether name is in scope.

[2016-08-29 12:28] bluss commented on #35967
Thank you

[2016-08-29 13:29] rkruppe commented on #36076
Are the test helpers available to coretest? Because `test_variadic_fnptr` tests some library features (hashing, clone, equality) that should, ideally, go into coretest.

[2016-08-29 14:50] jonathandturner commented on #35227
@zjhmale - I got your message.  If all the unit tests pass after you make a change, you'll need to update the test by hand.  If a unit test doesn't have any NOTE tests in it, it won't test any labels.  When you add a NOTE to the unit test, it will test the labels.  In the [blog post](http://www.jonathanturner.org/2016/08/helping-out-with-rust-errors.html), look for the section called Extra Credit.

[2016-08-29 14:58] zjhmale commented on #35227
@jonathandturner cool! i should read the blog post more carefully 😅 , anyway i figured it out through [this](https://github.com/rust-lang/rust/pull/35961/files), thx all the same!

[2016-08-29 15:24] jonathandturner commented on #36091
I see something a little different, granted I tweaked your example to be:

[code]
But I get...

[code]

That's not great either (primary span needs a label), but it's different

[2016-08-29 16:24] alexcrichton commented on #35847
@KiChjang yeah it's ok to omit a test in this case and also yeah I think it's fine to change to `AtomicUsize` as well. Thanks!

[2016-08-29 17:00] arielb1 commented on #35940
You can also skip the check in liveness if the return expression has type `TyNever`.

[2016-08-29 17:03] arielb1 commented on #36095
Duplicate of #31760,

[2016-08-29 17:03] #36095 closed

[2016-08-29 17:07] arielb1 commented on #36075
Will investigate.

[2016-08-29 17:17] alexcrichton commented on #36097
Yes I think this *may* have to do with dllimport at least a little? Right now we blindly apply dllimport to all imports and we rely on the linker to fix up any mistakes. This in general works for most references and will otherwise be fixed by https://github.com/rust-lang/rfcs/pull/1717

The other remaining piece here is that it looks like LLVM is adding a leading `_` on x86 which I believe is part

[2016-08-29 17:32] brson opened #36105 "Tracking issue for Iterator min/max_by"
https://github.com/rust-lang/rust/pull/35856

[2016-08-29 17:34] durka commented on #36091
Yeah, it is only pointing to part of the path for some reason, but I don't know where it _should_ point -- it might not even be a contiguous span since the path is being assembled by a macro.

[2016-08-29 17:35] durka commented on #35940
@arielb1 isn't that the check that we put back in at #35883? If you don't check you end up with `fn foo() -> ! { 42 }` being accepted.

[2016-08-29 17:36] jonathandturner commented on #36091
In the future, ideally, we'll have a macro debugger that should be a much better experience than debugging macros like this with the compiler errors.

cc @nrc - who might have some ideas.

[2016-08-29 17:36] eyelash opened #36106 "Snap package for Linux"
It would be nice if a [Snap package](http://snapcraft.io/) could be provided additional to the .tar.gz on the downloads page and possibly be uploaded to the Ubuntu Store.

I feel slightly uncomfortable executing a shell script that I downloaded from the internet with root rights and I like to have all my installed software tracked by a package manager. Unfortunately the Rust packages provided in t

[2016-08-29 17:48] jonathandturner opened #36107 "E0512 needs to be updated to new format"
From: src/test/compile-fail/E0512.rs

E0512 needs a span_label, updating it from:

[code]

to:

[code]

[2016-08-29 17:49] jonathandturner opened #36108 "E0516 needs to be updated to new format"
From: src/test/compile-fail/E0516.rs

E0516 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-29 17:56] jonathandturner opened #36109 "E0517 needs to be updated to new format"
From: src/test/compile-fail/E0517.rs

E0517 needs a span_label, updating it from:

[code]

To:

[code]

Note: you'll have to change the label to match title.  There are a few different error examples in that file.

[2016-08-29 17:57] talchas opened #36110 "Silent overflow on debug beta/nightly"
The standard wishlist

[code]

no longer panics, but AFAICT from the code this is not due to any deliberate change. The Iterator implementation is start.add_one()/swap, and add_one() is self + 1. This sounds like some overflow checks are being lost somehow.

[2016-08-29 17:58] jonathandturner opened #36111 "E0518 needs to be updated to new format"
From: src/test/compile-fail/E0518.rs

E0518 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-29 18:04] jonathandturner opened #36112 "E0520 needs to be updated to new format"
From: src/test/compile-fail/E0520.rs

E0520 needs a span_label, a span_note converted to a span_label, a note, and a new title, updating it from:

[code]

To:

[code]

[2016-08-29 18:09] jonathandturner opened #36113 "E0527 needs to be updated to new format"
From: src/test/compile-fail/E0527.rs

E0527 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-29 18:18] nikomatsakis commented on #36112
The new form of the message is not quite accurate. You can either `default` on the impl or the item -- putting it on the impl implies both that all items are specializable and also that the impl trait is not implemented (yet).

Maybe the message we want is more like this:

- `fly` specializes a non-`default` item from a parent impl
- `fly` specializes an item from a parent impl, but neither that i

[2016-08-29 18:29] jonathandturner commented on #36112
@nikomatsakis - I updated it based on your suggestions.  Could probably stand another pass, but maybe good for now?

[2016-08-29 18:33] jonathandturner commented on #35233
I just added a few more to the list if people are looking for errors to update.

[2016-08-29 18:46] TimNN commented on #36110
related: #35589

[2016-08-29 18:51] nikomatsakis commented on #36112
@jonathandturner agreed good enough for now; I think I would maybe adopt something shorter in the header (like "not specializable") given that the note at the bottom spells out what that means

[2016-08-29 18:51] nikomatsakis commented on #36112
but I could go either way

[2016-08-29 18:59] mikhail-m1 commented on #35309
I try to understand how static recursive works, but I cannot find any example with enum witch compiles.
But I found example witch one crash compiler.

'''
const I : i32 = J;
const J : i32 = Foo::A;
enum Foo { A = I }
fn main() {}
'''

May some RFC or other doc about this feature?

[2016-08-29 19:19] eddyb commented on #36023
Fix is https://github.com/llvm-mirror/llvm/commit/f94d4a796c7b8b9c11976de6410ae747073fcfb4. Recommend backport to beta, too.

[2016-08-29 19:20] barik opened #36115 "README.md confusing sentence in msys2 for Windows"
The last sentence says:

[code]

I'm unclear on the sentence starting with `Note`. The sentence seems to be missing a verb: are not used? But if that is true, it looks like the `pacman` command below wants to install them anyway.

[2016-08-29 19:41] mcarton opened #36116 "Using `Foo::<Bar>` in some contexts where a type is expected gives wrong error message"
The following example gives a wrong error message:

[code]

[code]
The ``help: use `::<...>` instead of `<...>` `` bit is wrong and suggests the opposite of the fix.

---

Note that none of the following give that error message:

[code]
gives
[code]
and
[code]
gives
[code]

which are correct but could be more explicit about the problem.

[2016-08-29 20:06] brson commented on #23157
Depends on https://github.com/rust-lang/rust/issues/35120.

[2016-08-29 20:43] brson commented on #36023
Thanks a bunch @eddyb

[2016-08-29 20:44] michaelwoerister commented on #34151
The code for instantiating it on demand is still there, but it should not be needed anymore.

[2016-08-29 20:52] brson commented on #36006
Regardless of whether we parallelize or not we're going to be paying for the additional CPU hours. It's definitely something we need to discuss internally.

[2016-08-29 20:57] nrc commented on #35900
From #35957: we should bikeshed the name of the librustc_macro crate some more. In particular, this is intended to be a long-lived crate which will have essentials for all macro authors in it, so limiting to rustc_macro (which in my mind, at least) is just about the 1.1 idea seems bad. I'd previously wanted libmacro for this, but since `macro` is a reserved word (and we might want it as a keyword

[2016-08-29 20:59] ahmedcharles commented on #34151
Is there a pointer for what likely needs removing if I wanted to do this?

[2016-08-29 21:06] michaelwoerister commented on #34151
@ahmedcharles The relevant code is here: https://github.com/rust-lang/rust/blob/86dde9bbda92c02c61282b5df5d38338a798ef3b/src/librustc_trans/glue.rs#L227

You can just delete anything below that line in that function. The trickier part is finding out if this causes any breakage. If `make check` passes with the code removed, that would be a good indication that everything still works as expected. If

[2016-08-29 21:12] nrc commented on #29644
cc #35900

[2016-08-29 21:27] brson commented on #32837
The only remaining thing here is the stable mechanism for plugging in new unwinders, which is not a priority.

[2016-08-29 21:47] csperkins commented on #36022
Can't duplicate with a clean repo - sorry for the noise. Assuming this was something improperly cleaned, potentially from several releases ago, although can't see what.

[2016-08-29 22:42] #36077 closed

[2016-08-29 22:47] eternaleye commented on #35900
@nrc: Okay, my immediate thoughts on naming:

- `extern crate macros;` - short and sweet, but might be read as containing macros, rather than support code for writing them
- `extern crate macro_runtime;` - exactly what it says on the tin
- `extern crate metarust;` - write Rust, about Rust, for operating on Rust
- `extern crate bikeshed;` - with procedural macros, you can have whatever color of Rus

[2016-08-29 22:50] JustAPerson opened #36122 "ICE when accessing externed DST"
I realize it's kinda nonsensical, but here:

[code]

[code]

[code]

[2016-08-29 23:03] nagisa commented on #27195
Still `8 12` and `4 4`.

[2016-08-29 23:14] eddyb commented on #27195
LLVM doesn't distinguish between "in a `struct`" and otherwise, AFAIK.
Is there a possibility preferred alignment is being used instead of ABI alignment by C `alignof`?
E.g. the ABI alignment of `long long` on 32-bit x86 is `4` while the preferred alignment is `8`.

A few minutes later: @nagisa confirmed on IRC `alignof(long long)` is `8`, which means it's "preferred".
Rust only exposes "ABI align

[2016-08-29 23:14] #27195 closed

[2016-08-29 23:23] eddyb commented on #35662
I found the remaining problem: initializing the arrays right now uses `<` (`UGT`) while our iterators and C++ use `!=` (`NE`) for the stop condition of the pointer.
Fixing that and running GVN twice fixes the performance of @bluss' benchmark.

[2016-08-29 23:30] adelarsq commented on #34222
This code also crashes on both stable and nightly:
[code]

[2016-08-29 23:31] mrstork commented on #35233
I'll take on E0512

[2016-08-29 23:35] jonathandturner commented on #35233
@mrstork - done!

[2016-08-29 23:58] michaelfairley commented on #31178
I'm getting a similar ICE (`Error { repr: Os { code: 1, message: "Incorrect function." } }`) with 1.11 when compiling [xml-rs](https://github.com/netvl/xml-rs). #29783 seems to be related, and like that reporter, I'm running Windows 7 32-bit within VirtualBox.

[2016-08-30 00:49] ashrko619 commented on #35233
Can I take E0527?

[2016-08-30 00:57] upsuper commented on #36097
Looks like adding `\x01` at the beginning of link_name works. Thanks for the advice.

[2016-08-30 01:23] upsuper commented on #36097
FWIW, it seems the warning is simply based on the name having `__imp_` prefix. In this case, after I prepend the `link_name` with `\x01`, the linker no longer complains about `dllimport` using on static link symbos for `before` (but still for `after` because it still has `__imp_` prefix).

[2016-08-30 01:50] retep998 commented on #33240
Oh good, now even _more_ stuff is using the difficult to read blue text.

![](http://i.imgur.com/2xe2RQj.png)

Come on, good defaults are really important!

Also, the Windows Console doesn't support bold, so I'd really appreciate it if instead you simply used white. Note that regular text is light gray by default, not white, so white would be the perfect choice here, making the text brighter and s

[2016-08-30 01:52] gavinb commented on #35233
@jonathandturner  I'll take E0516, E0517, E0518. And I cheekily just put up a PR for these. Hopefully nobody else picked them up in the meantime!

[2016-08-30 02:31] eddyb commented on #36122
@nikomatsakis @arielb1 Why didn't WF catch this?

[2016-08-30 04:27] #36023 closed

[2016-08-30 04:31] 0xmohit commented on #35233
@jonathandturner I'll take E0520.

[2016-08-30 04:32] ahmedcharles commented on #34151
I removed the code, changed the debug! to a panic! and got this:

[code]

[2016-08-30 06:49] arielb1 commented on #36122
That's because e85adffd6402acce79887e1b911ff33841c6133a only checks statics/constants.

[2016-08-30 09:13] davidlattimore commented on #27060
It would be nice if borrows of fields within a repr(packed) struct could remain safe if the type of the field was also repr(packed) - or perhaps more generally if the field has byte alignment. I have an unpublished crate that I'm hoping to finish off some day that relies on users of the crate being able to do this.

[2016-08-30 09:29] retep998 commented on #27060
It would be nice if unsafe was only required when the alignment of the field's type is greater than the packing of the struct itself, and if it is only less than or equal it should merely be a lint.

Also, I'm pretty sure the only reason this wasn't implemented yet was because it was blocked by MIR. Now that old trans is completely gone can someone hurry up and implement this already? Maybe squeez

[2016-08-30 09:53] TimNN opened #36138 "Travis is failing"
I believe this is due to travis using system llvm which misses the fix backported in #36117.

[code]

cc @eddyb

[2016-08-30 09:57] phungleson commented on #35233
I can take a look at E0516 E0517 E0518 E0520 E0527

[2016-08-30 09:59] PieterPenninckx opened #36139 "ICE "broken MIR ((*var0)): "deref of non-pointer [...]" ""
The following code makes `rustc` panic:
[code]

Before panicking, `rustc` gives a warning:

[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:

[code]

[2016-08-30 10:05] eddyb commented on #36138
@rust-lang/tools Can we do anything about this?

[2016-08-30 10:28] GuillaumeGomez commented on #33240
Using some env vars to define colors sounds like a good idea. :D

[2016-08-30 10:28] nagisa commented on #36138
Our best bet is to add a `// ignore-travis` for tests, I think (alternative is to drop support for LLVM pre 3.9, which would be a shame, even if its buggy in certain cases).

Implementation of such `ignore` directive could be implemented by injecting an environment variable `COMPILETEST_IS_TRAVIS` or some such (done [this way](https://docs.travis-ci.com/user/environment-variables/)) and checking f

[2016-08-30 11:17] Amanieu opened #36142 "Invalid calling conventions for the target architecture cause a LLVM assert"
Compiling this code with `rustc --target=arm-unknown-linux-gnueabi` triggers an LLVM assert:

[code]

[code]

[2016-08-30 11:39] nikomatsakis commented on #35123
@mikhail-m1 Argh, sorry for not responding, I've been behind on GH notifications the last few weeks apparently. Can you give me a bit more details on how the `krate_reassign_34991` test failed? (What message did you get, etc?) Also, if you could link to a commit (perhaps on your repo) with your changes, it would be helpful. That said, I think that your test case is a pretty good one. :)

One of th

[2016-08-30 12:05] Manishearth commented on #31645
Batch at https://github.com/rust-lang/rust/pull/36066

[2016-08-30 12:12] nikomatsakis commented on #32730
I've been plugging away on the higher-ranked code. It's coming along, but it's a bit trickier than I naively expected (e.g., I forgot about `plug_leaks`).

I'm thinking more and more I need to writeup the overall plan here. I still think we're on the right track, but the end-game is complicated. (e.g., in order to make lazy norm and higher-ranked stuff work -- which is of course one of the main mo

[2016-08-30 12:14] TimNN commented on #36139
This works fine on 1.7.0 and ice's on any later stable releases as well as current beta / nightly.

[2016-08-30 12:52] jonas-schievink commented on #36138
There's no need to set an extra environment variable, just check if `HAS_JOSH_K_SEAL_OF_APPROVAL` is set (or `TRAVIS` if you're boring :wink: )

[2016-08-30 12:57] nagisa commented on #36138
@jonas-schievink but… but… what if people have `HAS_JOSH_K_SEAL_OF_APPROVAL` on their own systems too?

[2016-08-30 13:01] #35404 closed

[2016-08-30 13:13] Manishearth commented on #31645
Landed!

[2016-08-30 13:53] birryree commented on #36057
I have a fix ready for this/for review but I'm waiting for PR #36056 to be merged into `master` before I make another PR.

[2016-08-30 14:14] michaelwoerister commented on #34151
That means that the [collector](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/collector.rs) did not anticipate that drop-glue for this type would be needed. It's not entirely surprising that this happens to be a closure type. Closures are special in a few ways. This looks like the collector is missing the drop glue because it is only accessed via the closures vtable.

[2016-08-30 14:17] eddyb commented on #34151
Could be from [`rustc_trans::closure::trans_fn_once_adapter_shim`](https://github.com/rust-lang/rust/blob/71ee82a8aa0c02fc2c73e84f40bdb55512d10938/src/librustc_trans/closure.rs#L307) scheduling a closure drop.

This is where @arielb1's plans for generating shim/glue MIR would come in real handy.

[2016-08-30 14:20] japaric opened #36143 "rustbuild incorrectly builds std for musl targets"
It copies the crt\*.o objects from the *host* system libraries when it, instead, should copy them from the musl-root. [Related code](https://github.com/rust-lang/rust/blob/71ee82a8aa0c02fc2c73e84f40bdb55512d10938/src/bootstrap/compile.rs#L103-L107)

It asks rustc to pass -ldl -lpthread and -lrt to the linker when it shouldn't because those are already included in musl libc.a. [Related code](https:

[2016-08-30 14:22] michaelwoerister commented on #34151
Yes, that would remove some special cases from the collector.

[2016-08-30 14:32] scharris commented on #32979
This appears to have been fixed at 1.11, both for my original code and Alex's reduced example. Closing.

[2016-08-30 14:32] #32979 closed

[2016-08-30 14:45] alexcrichton commented on #36143
Hm the crt.o files look like they're coming from the target compiler, but maybe the target passed in is wrong? The -ldl and -lpthread stuff should definitely be omitted on musl!

[2016-08-30 14:48] japaric commented on #36143
[code]

But the musl-root in my case is `/musl`.

[2016-08-30 15:09] alexcrichton commented on #36143
Oh weird, I was hoping `musl-gcc` would do the right thing :(

[2016-08-30 15:32] SimonSapin commented on #35070
The error types do have a lifetime parameter now. Can we go to FCP and bikeshed the naming in that period? (I think the naming is fine.)

[2016-08-30 15:48] jonathandturner commented on #35233
@ashrko619 @gavinb @0xmohit - updated!

@phungleson - looks like those are taken, but hopefully we'll have a few more soon

[2016-08-30 16:01] aturon commented on #35070
This nomination didn't come in before our meeting yesterday, but I'd be fine adding it.

**Proposing FCP with inclination to stabilize**.

Libs team, please signal your agreement below or leave comments with concerns:

- [ ] @alexcrichton
- [ ] @aturon
- [ ] @brson
- [ ] @BurntSushi
- [ ] @Kimundi
- [ ] @sfackler

[2016-08-30 16:04] aturon commented on #36138
cc @alexcrichton

[2016-08-30 16:56] alexcrichton commented on #36097
Ok cool! Should this be closed?

[2016-08-30 16:56] KiChjang commented on #35233
Just so everyone knows, E0057 and E0072 are still open, and require assistance.

[2016-08-30 16:56] alexandermerritt commented on #29594
Hi! Is there any update on the status? Nightly still requires statics to be ```Sync```. I tried with:

[code]

[2016-08-30 17:07] #35280 closed

[2016-08-30 17:07] #35928 closed

[2016-08-30 17:07] #35934 closed

[2016-08-30 17:07] #35423 closed

[2016-08-30 17:07] #35227 closed

[2016-08-30 17:07] #35269 closed

[2016-08-30 17:07] #35270 closed

[2016-08-30 17:07] #35275 closed

[2016-08-30 17:11] GuillaumeGomez commented on #35233
@phungleson: You can look at those proposed by @KiChjang.

[2016-08-30 17:45] alexcrichton commented on #36138
@eddyb no we do not have existing infrastructure for this. I'd prefer to avoid `// ignore-travis` as that's not the relevant piece here, but rather something like `// ignore-llvm-3.7` or `// min-llvm-version 3.7`. Distros or anyone else building with an older LLVM are likely to hit this and we'd need a solution for them as well.

That being said I think it's fine to temporarily disable the test un

[2016-08-30 17:59] Ericson2314 commented on #32837
And which should probably wait for some needs-provides functionality to be implemented or avoided.

[2016-08-30 18:00] jonathandturner commented on #35309
You may want to ask around on #rust-internals on irc.mozilla.org.

Also, can you file an issue for the compiler crash?

[2016-08-30 19:10] Riateche opened #36146 ""mod lib" in lib.rs produces incorrect error message"
lib.rs:
[code]
a1.rs - empty file.

Error:

[code]
Error location and some of the messages incorrectly refer to a1 module instead of lib. Module a1 itself is declared correctly. If I write lib before a1, the error starts making more sense:

lib.rs:
[code]
Error:
[code]

[2016-08-30 19:30] alexcrichton commented on #35998
I had to revert this in https://github.com/rust-lang/rust-buildbot/commit/71b494e52fce494d411a9283cb0c81a65ab68b50 because we've been getting failures on the mac bots looking like:

[code]

I ran this patch through dev but maybe it regressed recently?

[2016-08-30 19:33] alexcrichton commented on #35998
Wait no on second thought it may be a stale LLVM build, I'm going to clean the mac bots and try again.

[2016-08-30 19:33] #35998 closed

[2016-08-30 19:45] mikhail-m1 commented on #35309
I'll create Issue about stack overflow and try to fix it
For now I've done next

[code]
It's not the aim but better then now
I'll try to improve it later

[2016-08-30 19:59] michaelfairley commented on #31178
Some more info after a few more hours trying to work around this:
- It occurs with windows 8 as well (again, 32-bit and in VirtualBox).
- I can only get it occur to when I'm building a project that's on a mapped shared folder from the host (which appears as a network drive to the guest).
- If I copy the contents of the shared folder to a folder on my C: drive, things build fine.
- If i `subst` the

[2016-08-30 20:44] michaelfairley commented on #31178
I grabbed a stacktrace with gdb:
[code]

[2016-08-30 21:17] ahmedcharles commented on #34151
Any ideas on how to fix it? Well, given that I don't really know what drop glue is (I assume it's code that calls the drop function on things when they go out of scope), it seems hard to fix. :)

[2016-08-30 21:19] mikhail-m1 commented on #35123
this trace https://github.com/mikhail-m1/rust/commit/6aaf566ab78e9144e2c570053910ce3394b8ed0a breaks krate_reassign_34991. I'll send full change list later, I need some time to clear it

[2016-08-30 21:32] aturon commented on #35900
@nrc It seems like an important aspect of this question is the naming of our various macro styles over all -- in particular, if we go with `libproc_macro`, we're making a hard commitment to the "procedural macro" terminology. I don't have a strong opinion here, but I'm not sure if we've openly explored the space of terminology.

To be clear, are you thinking that today's `macro_rules` would simply

[2016-08-30 21:34] durka commented on #36146
I think what happens in the first case is:

- Parse lib.rs (in "crate-root mode")
    - `mod a1;`
        - ✓ can declare modules at crate root
        - parse a1.rs (in "non-crate-root mode")
            - ✓ a1.rs contains a valid module
    - `mod lib;`
        - ✓ can declare modules at crate root
        - parse lib.rs (in "non-crate-root mode")
            - `mod a1;`
                - ✗ cann

[2016-08-30 21:47] nrc commented on #35900
My thinking here is that all macros are "macros", and when we need to make a distinction based on the implementation (the usage should be exactly the same for all kinds) we use "procedural macros" vs "macros by example". I would like to banish "syntax extension" and "compiler plugin" entirely (and one day re-use the latter for actual plugins).

But, yes, I strongly want to get behind the "procedur

[2016-08-30 21:50] aturon commented on #35900
@nrc Makes good sense to me! While "macros by example" is a bit unwieldy, it's also a very evocative/intuitive term. My one worry about "procedural macro" is that "procedure" is not a thing in Rust. I wonder if there's a way of making the connection more direct. "Function macro" isn't quite right, but maybe gives you a sense of what I mean?

[2016-08-30 22:01] nrc commented on #35900
Yeah, it's not quite perfect, but given that it is a well-known/used term outside of Rust I think it is better than coining our own term. "Programmatic macro" is possible, but I prefer "procedural".

[2016-08-30 22:01] excaliburHisSheath opened #36149 "ICE - Generic Specialization With Default Associated Type"
Having a trait `Foo` with associated type `Bar` and function `foo()` and a generic default implementation using `default` keyword for `Bar` and `foo()` yields an ICE.

See the following playground for a minimal example: https://is.gd/FIf4Jc

ICE backtrace:

[code]

I'm running this on the playground on the nightly setting so I can't find the exact rustc version being run.

[2016-08-30 22:07] alexcrichton opened #36150 "Cannot bootstrap for PowerPC with LLVM assertions enabled"
[Relevant code to disable this](https://github.com/rust-lang/rust/blob/a4d11495f9e70ee246ab6a61dec8bdc751fb142a/src/ci/docker/dist-powerpc-linux/Dockerfile#L45-L47)

From [these logs](https://buildbot.rust-lang.org/builders/auto-linux-cross-opt/builds/3519/steps/compile/logs/stdio).

[code]

This means we do not blanket turn on LLVM assertions on all of our bots, which we would ideally like to do.

[2016-08-30 22:08] alexcrichton commented on #36150
cc https://github.com/rust-lang/rust-buildbot/commit/571864e94556ca576c93b67e6a7ad77fed5b0eda

cc @eddyb

[2016-08-30 22:09] retep998 commented on #31178
Yes, rustc is currently not robust with regards to network drives. They have weird quirks such as saying something was done before it was actually done, leading to fun race conditions that some software doesn't know how to deal with.

[2016-08-30 22:09] alexcrichton commented on #35998
Yup was a dirty build directory!

More problems though: https://buildbot.rust-lang.org/builders/auto-linux-cross-opt/builds/3519/steps/compile/logs/stdio

More issues https://github.com/rust-lang/rust/issues/36150

[2016-08-30 22:12] eternaleye commented on #35900
Perl's term for the closest equivalent it has to "procedural macros" is "source filters", which (especially with the shift from AST to tokens) is a pretty fitting description.

[2016-08-30 22:17] durka commented on #36149
duplicate of #35869

[2016-08-30 22:19] mystor commented on #35900
Perhaps 'Syntax transformers' or 'programmatic macros'  would work well as names? I don't have a problem with procedural macros however.

[2016-08-30 22:27] michaelfairley commented on #31178
Indeed. This particular error (`Incorrect function.`) seems to happen to VirtualBox shared folders when the guest tries to do certain things to a file too quickly or while the host is also accessing the same file.

Setting `CARGO_TARGET_DIR` to somewhere outside the shared folder is a reasonable (at least for me) workaround for now.

[2016-08-30 22:55] eddyb commented on #34151
@arielb1 wants to fix this by generating MIR for those cases as-needed. Don't think there's a much simpler solution.

[2016-08-30 22:59] upsuper commented on #36097
Should it? I suppose Rust (or LLVM) should fix this rather than relying on users to prepend an `\x01` to `link_name`?

[2016-08-30 23:33] phungleson commented on #35233
@GuillaumeGomez I can look into E0072 first.

[2016-08-30 23:33] GuillaumeGomez commented on #35233
@phungleson: Sure.

[2016-08-30 23:47] jonathandturner commented on #35233
@GuillaumeGomez @KiChjang @phungleson - isn't E0072 already finished?

[2016-08-30 23:52] jonathandturner commented on #33240
@retep998 - agreed good defaults are important, which is why we took so long to stabilize and work on what the format should look like.  tbh there wasn't a ton of feedback on what it looks like on Windows.

The colors are easy enough to change.  We could potentially detect Windows and switch to something like:

![cyan_secondary](https://cloud.githubusercontent.com/assets/547158/18111123/ea2b7b46-6

[2016-08-31 00:07] retep998 commented on #33240
@jonathandturner I'm saying to use bright white instead of bold, not instead of blue. If you look at images from other platforms you'll notice how certain text is bold. In conhost that text is not bold because there is no support for bold. Instead of making that text bold, make it bright white on Windows which achieves a similar effect.

[2016-08-31 00:13] KiChjang commented on #35233
@jonathandturner I haven't worked on it at all, and I don't think anyone else has claimed it, or submitted a PR for it? (I meant the bonus section btw)

[2016-08-31 00:16] retep998 commented on #36097
@upsuper LLVM decorating symbols based on the calling convention is expected behavior and not a bug. It is surprising behavior sometimes, yes, and there are cases where you don't want it, but the majority of the time it does the right thing. Dllimport shenanigans are a different yet known issue https://github.com/rust-lang/rust/issues/27438

[2016-08-31 00:44] jimmycuadra commented on #35900
"Procedural" is already what people call this, and I think it's clearly understood what it means, especially in contrast to "macros by example." I wouldn't worry about trying to find a different name.

[2016-08-31 00:57] phungleson commented on #35233
@jonathandturner @GuillaumeGomez @KiChjang Yes I meant the bonus for E0072

[2016-08-31 01:57] jonathandturner commented on #33240
@retep998 - I think you might have something in mind, though I'm not entirely following what you're saying.  All blue text is bold text.

I'm certainly amenable to helping here.  For example, like I said, we can detect Windows and make changes to the defaults.

I think the best way to help "the status quo" is to help us create a solution that works for Windows.

[2016-08-31 01:59] alexcrichton opened #36155 "Link error regression on nightly"
When running `cargo test` inside the `futures-cpupool` folder of https://github.com/alexcrichton/futures-rs/commit/093a63825e3a2b0f93186afdf0e9ac47f0df2cfa, I get an error looking like:

[code]

I haven't had a chance to minimize this yet unfortunately, but I figure that a bug report is better than no bug report.

[2016-08-31 02:06] excaliburHisSheath commented on #36149
Ah, sorry about that! I didn't recognize that it was the same error. Thanks for clarifying.

[2016-08-31 02:06] #36149 closed

[2016-08-31 02:10] Aatch commented on #36139
A regression from stable to stable! A use for the tag!

"Fortunately", this appears to be bug in the type-checking pass run on the MIR. It's probably not handling the associated type properly for this case. I'm surprised this hasn't come up sooner to be honest.

[2016-08-31 02:38] japaric opened #36156 "Targets filtered out too early"
Targets like `aarch64-apple-ios` don't appear under `--print target-list` with today's nightly (and latest beta):

[code]

but they appear there if I use the latest stable:

[code]

It's not like they just don't appear under the list of built-in targets. Using `--target aarch64-apple-ios` also says that the target doesn't exist

[code]

The weird thing is that you _can_ `rustup target add aarch64-

[2016-08-31 02:41] japaric opened #36157 "`rustc --target aarch64-apple-ios --print cfg` shouldn't ICE"
[code]

I should be able to query information about the target even if I don't have the SDK installed.

### Meta

[code]

I don't know if this has been fixed on nightly because of #36156

cc @alexcrichton

[2016-08-31 03:39] retep998 commented on #33240
@jonathandturner Look at this screenshot someone posted earlier from a non-windows platform:
![](https://cloud.githubusercontent.com/assets/260370/15100656/72b5772c-1578-11e6-9e39-ac8b6107b673.png)
Notice how some of the white text is bold? That bold text is being generated by https://github.com/rust-lang/rust/blob/d00c2454157713e77729989c715b96ee31c6b278/src/librustc_errors/emitter.rs#L898. Notic

[2016-08-31 04:09] kennytm commented on #34222
All examples no longer ICE when using `rustdoc`.

[2016-08-31 04:28] kennytm opened #36159 "rustdoc panics when some unstable features is used without `#![feature(…)]`"
(May be same as #31647?)

With the source:

[code]

Running `rustdoc 1.rs` gives the error:

[code]

Similar for other features like:
- `fn main() { Ok(())?; }`
- `fn main() { box 1; }`
- `const fn f() {}`
- `#[structural_match] struct S;`
- `#![no_core]`
- `#[naked] fn a() {}`
- `#[start] fn start() {}`
- `fn b() { 1: i32; }`
- `fn b() { let a: ! = 0; }`
- `fn a() { 1...2; }`
- `trait T { type A

[2016-08-31 04:55] Amanieu commented on #27060
@retep998 This sounds very tricky to do if you take generics into account since the type layout is only known after monomorphization. I think just making packed structs unsafe to access is enough for a start, we can always look into loosening the restrictions later.

[2016-08-31 05:00] athulappadan commented on #35233
@jonathandturner Is it okay to take up those ones which are assigned but not got any response for a long time.?

[2016-08-31 05:01] eddyb commented on #27060
@Amanieu That's not entirely correct, we can do partial layout queries at any point after typeck completes.
*In fact*, that's how `transmute` has been checked since rust-lang/rust#32939.

[2016-08-31 05:02] TimNN commented on #36156
Works fine on OS X:

[code]

[2016-08-31 05:13] TimNN commented on #36156
I think this was a side effect of #34980 and is directly related to #36157:

* The code no longer panics if the SDK path cannot be found (returns `Results` now)
* When generating the list of targets, the `Err` Results for the iOS ones are filtered out (and the error messages discarded
* Thus the iOS targets cannot be found in the target list's

[2016-08-31 06:52] Ragnaroek commented on #34582
yes, this had nothing to do with rust. closing.

[2016-08-31 06:52] #34582 closed

[2016-08-31 08:39] ehiggs opened #36161 "Errors in early passes should not bail until trans"
If you use clippy and set `deny` to a lint in an early phase, like checking docstring syntax, then rustc will bail when it is done finding the issues in this early pass. This can give the impression that the code is sound since 'oh it's only docstring issues, whatever' when actually there could be more serious issues lurking. Obviously you can stop the lint from flagging errors and denying instead

[2016-08-31 08:44] glandium opened #36162 "E0119 errors are unhelpful when doing things involving types from another crate"
I was trying to do something like this:

[code]

And got the following error as a result:

[code]

In and of itself, there is no straightforward explanation as to why this is happening, since io::Error _doesn't_ implement PartialEq.

[2016-08-31 08:55] mikhail-m1 opened #36163 "stack overflow by enum and const"
while I was working on #35309 I found example not detected by static recursion checker

[code]

I'm going to fix it

[2016-08-31 09:10] TyrfingMjolnir commented on #33230
The PDF is no longer available: Not Found [CFN #0005]

[2016-08-31 09:40] nikomatsakis opened #36164 ""snippet" for "did you mean `x`" is not so helpful"
On current beta, at least, I see:

[code]

But I feel like I'd rather see:

[code]

Come to think of it, we could shorten the main message and move the suggestion into the label, as I think you've done elsewhere:

[code]

Standalone example:

https://is.gd/8STXMd

cc @jonathandturner

[2016-08-31 09:44] GuillaumeGomez commented on #35233
@athulappadan: No. Please wait for @jonathandturner or me say that this is available again.

[2016-08-31 09:51] GuillaumeGomez commented on #36116
cc @jonathandturner

[2016-08-31 10:21] nikomatsakis commented on #26179
@comex I do agree =)

@Aatch Not sure what your time is like, but if you don't have time to implement this, it seems like a case where we might be able to mentor someone. The idea would be to leave a comment explaining roughly how you think it should work, and then tagging the issue with `E-mentor` and `E-help-wanted`. I of course can do this too and will try to remember to do so. =)

[2016-08-31 10:21] nikomatsakis commented on #26179
Unassigning @Aatch since, empirically, he doesn't seem to be actively hacking on this right now. =) (Feel free to correct me.)

[2016-08-31 10:56] nikomatsakis commented on #35900
I like the term "procedural macro" for regular use (or maybe "custom macro"). I particularly like using the word *macro* so that it's clear that they can (eventually...) be used in the same way as "regular macros". For this reason, I don't like "source filters" (I also expect a filter to just drop data, not transform it, though I know the term is used for both).

I am fine with either `libproc_mac

[2016-08-31 10:59] nikomatsakis commented on #35900
One question: do we ever expect to have "support routines" that could be used from non-procedural macros? I know of no such plans, but if we did, and we wanted them in the same crate, then `libmacros` would be a better name. =)

(I am thinking a bit about e.g., [@dherman's comment](https://github.com/rust-lang/rfcs/pull/1628#issuecomment-242542293) from the eager-expansion RFC.)

[2016-08-31 11:21] eternaleye commented on #35900
@nikomatsakis: A related but subtly different question is a use case I brought up in https://github.com/rust-lang/rfcs/pull/1561#discussion_r60459479 - will we want procedural macros' implementation functions to be able to call other procedural macros' implementation functions?

I can easily see wanting to allow one custom derive to call another, and that would essentially make procedural macro de

[2016-08-31 12:52] #34622 closed

[2016-08-31 13:50] CensoredUsername opened #36167 "Tracking issue for "sysv64" calling convention"
`extern "sysv64" fn foo()`

This solves #34388

An implementation is available in #34494

[2016-08-31 14:09] oconnor663 commented on #29563
Lots of packaging discussion at https://internals.rust-lang.org/t/beta-testing-rustup-rs/3316/188

More Arch Linux specific discussion at https://aur.archlinux.org/packages/rustup/?comments=all

[2016-08-31 14:36] nikomatsakis opened #36168 "Errant edge to krate node"
I noticed when checking the `syntex-syntax` node that, when I add a private fn into the crate module, it invalidates the krate-0 module. This is because the metadata includes edges to the immediate children. This seems bad, but then there is also a read whenever we read an inlined item from crate X of the crate root, which means that this winds up triggering bad reuse. I am trying to figure out wh

[2016-08-31 14:54] nikomatsakis commented on #33454
So, I started hacking on a related, but different tool:

https://github.com/nikomatsakis/cargo-fozzy/

It basically works now though I plan to make a number of enhancements (you can see the open issues). I'm going to close this issue in favor of enhancing that tool -- if anyone would like to contribute, please check it out!

[2016-08-31 14:54] #33454 closed

[2016-08-31 14:56] nikomatsakis commented on #33454
Ah, let me leave some notes for posterity. I did some investigation into crates.io metadata but found that it was more difficult than I expected to do the kinds of "incremental update and rebuild/run-tests" than I expected. For example, crates.io will rewrite metadata in the repo which means that, in general, you can't necessarily run tests on packages pulled out from crates.io (at least according

[2016-08-31 14:58] jrmuizel opened #36170 "Improve the error messages for lifetimes extended by return"
[code]

This code doesn't compile giving the following error:

[code]

This error does not say anything about the lifetime being extended by the return, which seems to be the source of the problem.

This problem came up here: https://www.reddit.com/r/rust/comments/509jgo/confused_by_the_borrow_checker_is_this_a_bug/

[2016-08-31 15:50] durka commented on #36110
This was indeed caused by MIR:

    seas779:cargo-script alex$ RUSTFLAGS=-Zorbit=off mr ru nightly-2016-08-23 cargo script --force --use-shared-binary-cache no --debug -e '(255u8..).next()'
       Compiling expr v0.1.0 (file:///Users/alex/.multirust/toolchains/nightly-2016-08-23/cargo/.cargo/script-cache/expr-24db503e5185c33f)
        Finished debug [unoptimized + debuginfo] target(s) in 0.41 secs

[2016-08-31 15:54] nikomatsakis commented on #36075
@eddyb the intention is that yes you can have type parameters which are constrained by an associated type. I thought there were tests for this but perhaps not this particular scenario. I see @arielb1 has an open PR, however, will take a look now.

[2016-08-31 16:18] arielb1 commented on #18937
This appears to be broken by the fix:

[code]
[code]

[2016-08-31 16:23] alexcrichton commented on #36156
I believe @TimNN's diagnosis is correct in that https://github.com/rust-lang/rust/pull/34980 is the cause here.

I feel like we should do a larger refactor and just not return a `Result` at all. That is, the iOS pieces should all have graceful fallbacks, or we should delay running tools like `xcrun` until as late as possible (e.g. when actually linking for the target).

[2016-08-31 16:27] alexcrichton commented on #36157
I believe this has essentially always been the case, but I'd love to have a fix! I think the best choice here is to delay the pieces of the iOS target that are fallible until we actually need them, for example at link time.

[2016-08-31 16:38] #35155 closed

[2016-08-31 16:43] alexcrichton commented on #36097
Yes it sounds like here you're basically taking on the name mangling of MSVC yourself, so I don't think there's much we could really do here *other* than offer this escape hatch.

[2016-08-31 16:43] #36097 closed

[2016-08-31 16:44] acrrd commented on #35233
I'll take E0057

[2016-08-31 16:48] jonathandturner commented on #35233
Alright - @phungleson - you've got bonus E0072, and @acrrd - you have bonus E0057

[2016-08-31 17:22] nikomatsakis commented on #35662
This is so beautifully fragile.

[2016-08-31 17:26] nikomatsakis commented on #35123
@mikhail-m1 ah! yes, that would cause a problem, since invoking `tcx.crate_name()` expects a "new crate number" but you are passing an "old crate number" (which may be out of range). This is why the code below calls `krate_still_valid()` :)

[2016-08-31 17:28] nikomatsakis commented on #35408
@eddyb do you think that having *more* lifetime-start calls would cause problems? I guess it's possible.

[2016-08-31 17:31] durka commented on #36164
Another possibility is to actually replace it

    error: attempted access of field `test_results` on type `TestResult`, but no field with that name was
     found
       --> src/main.rs:196:25
        |
    196 |         tests_passed += normal_test.test_results.iter().filter(|t| t.status == "ok").count();
        |                         ^^^^^^^^^^^^^^^^^^^^^^^^
        |
    help: did you mean

[2016-08-31 17:32] whitequark commented on #35119
I am in favor of this feature. My problem is that I need to use ARM EHABI directives inside assembly, however LLVM does not support them inside `call asm` instructions, and there is no workaround (specifically, `.save` must come after `.fnstart` but the context of `call asm` is as-if there was no `.fnstart` so it asserts in the parser; and I cannot specify `.fnstart` inside the `call asm` itself s

[2016-08-31 17:37] nikomatsakis commented on #32836
@petrochenkov

Note that unsafe code is always involved, when working with a union, since every access to a field is unsafe.

The way I think of it is, I think, similar. Basically a union is like an enum but it can be in more than one variant simultaneously. The set of valid variants is not known to the compiler at any point, though sometimes we can figure out that the set is empty (i.e., the enum

[2016-08-31 17:44] nikomatsakis commented on #35988
This seems like a legitimate "staging" problem... not quite sure how to triage though.

[2016-08-31 17:48] nikomatsakis commented on #36164
@durka my inclination is that the extra 5 lines of output aren't valuable enough in this case, it's not likely it's tricky to figure out how to apply the change

[2016-08-31 17:55] nikomatsakis commented on #12609
@canndrew I added this as a note to the `!` tracking issue

[2016-08-31 17:58] nikomatsakis commented on #18937
@arielb1 I feel that is an orthogonal issue. It is true that this code no longer compiles, and that it would be nice and safe if it did compile, but it is not true that it *should* compile with the current state of rustc's reasoning. That is, I think we should indeed deduce that if `[T]: 'a` than (e.g.) `T: 'a` must hold and so forth, but we fail to do so in other contexts too, and I'm not sure wh

[2016-08-31 18:00] brson commented on #35070
It looks like I'm being asked to sign off on something before the design is complete ("Can we go to FCP and bikeshed the naming in that period?"). I don't agree to that.

[2016-08-31 18:15] petrochenkov commented on #32836
One argument against the "more than one variant" interpretation is how unions behave in constant expressions - for these unions we always know the single active variant and also can't access inactive variants because transmuting at compile time is generally bad (unless we are trying to turn the compiler into some kind of partial target emulator).
My interpretation is that at runtime inactive varia

[2016-08-31 18:18] jonas-schievink commented on #36161
There's been a lot of work on error recovery for rustc, doing exactly this. I can't find any code aborting compilation after early lints (there's no reason to abort), so it's probably some pass between that and late lints (which is almost the entire compiler). What's the last error you see in the example?

[2016-08-31 18:23] Ericson2314 commented on #35092
Relatedly, I'd like `PoisonError` to turn into an empty type with panic=abort.

[2016-08-31 18:24] solson commented on #32836
@petrochenkov This is one of the goals of my [Miri](https://github.com/solson/miri) project. Miri can already do transmutes and various raw pointer shenanigans. It would be a small amount of work to make Miri handle unions (nothing new on the raw memory handling side).

And @eddyb is pushing to replace rustc constant evaluation with a version of Miri.

[2016-08-31 19:49] #35221 closed

[2016-08-31 19:49] #35322 closed

[2016-08-31 19:49] #24204 closed

[2016-08-31 19:49] #34053 closed

[2016-08-31 19:49] #36112 closed

[2016-08-31 19:49] #14875 closed

[2016-08-31 19:49] #35309 closed

[2016-08-31 19:49] #36057 closed

[2016-08-31 19:53] whitequark opened #36175 "rustc --verbose does not print linker invocation"
To reproduce:

[code]

[code]

This might be an OS X-specific bug, I have not tried 1.13 on any other OS.

[2016-08-31 19:54] whitequark opened #36176 "#[link_args] is not propagated from libraries to binaries"
To reproduce:
[code]
[code]
Build with:
[code]
This successfully builds (and it shouldn't, if it would pass the `-Wl,-just_die`). (`--verbose` is not usable here because of https://github.com/rust-lang/rust/issues/36175). If I replace `#[link_args]` with e.g. `#[link(name = "just_die")]` then the linker invocation fails, so I believe this is a bug with link_args.

[2016-08-31 19:55] whitequark commented on #36176
My particular use case is a library that includes DWARF unwinding info that crashes ld64, so I need to be able to include `#[link_args = "-Wl,-no_compact_unwind"]` in the library to work around that, otherwise it has to be manually inserted into every binary crate.

[2016-08-31 19:57] steveklabnik commented on #36175
It does not on Linux either.

[2016-08-31 20:21] glaebhoerl commented on #35092
@Ericson2314 Wouldn't that break source compatibility? (Am I right to assume that panic=abort is not supposed to?)

[2016-08-31 20:56] alexcrichton commented on #36175
AFAIK this has never been the behavior, so I'm not sure this is a bug but rather a feature request?

[2016-08-31 20:59] whitequark commented on #36175
@alexcrichton  Hm, I kind of assumed that it should be already the case, since cargo as well as basically every other compiler toolchain in existence respects this convention. But I guess this is a feature request, yes.

[2016-08-31 21:08] jonathandturner commented on #36164
Or maybe even...

[code]

[2016-08-31 21:24] JasonSmith commented on #34478
I had this problem as well.

I am on the 1.11.0 checkout of rust. I am trying to build a cross compiler toolchain for Linux, Windows, and a couple of arm targets.

My configure command is:
   ` ../configure --host=x86_64-unknown-linux-gnu --target=x86_64-unknown-linux-gnu,x86_64-pc-windows-gnu,arm-unknown-linux-gnueabihf,arm-linux-androideabi --arm-linux-androideabi-ndk="$ANDROID_TOOLCHAINS/arm"`

[2016-08-31 21:27] brson commented on #36022
Closing per @csperkins

[2016-08-31 21:27] #36022 closed

[2016-08-31 21:33] eddyb commented on #36110
Missing [`#[rustc_inherit_overflow_checks]`](https://github.com/rust-lang/rust/blob/7a187c39c79e21cd61d1688d449bdd52d7510281/src/libcore/iter/mod.rs#L1106) on the `Step` methods that do arithmetic (`add_one` and `sub_one`), introduced in #34530.

[2016-08-31 21:36] eddyb commented on #35662
@nikomatsakis See https://github.com/rust-lang/rust/pull/36124#issuecomment-243339747 for a quick explanation of why LLVM's reluctance is correct in general (even though it has enough information to optimize nested `<` loops working on nested local arrays)

[2016-08-31 21:40] nagisa commented on #21724
I recently had a chance to live on data-capped tether for 2 weeks and it hurt me very hard when the new stage0 compiler got in. It took me a considerable amount of time to download the new compiler and put a noticeable dent into my data allowance. Both of those would have been much more bearable with `xz`.

[2016-08-31 21:48] nagisa commented on #36150
Seems related to https://llvm.org/bugs/show_bug.cgi?id=27083 somewhat. We do not use the maxnum intrinsic (totally should!) but from the existence of bug for maxnum seems to suggest that a similar issue for some non-maxnum intrinsic is likely to exist (and libcore is kinda intrinsic-heavy).

[2016-08-31 22:08] SimonSapin commented on #35070
@brson As I see it, the design is complete and there was just some mild reservation about the naming in the RFC discussion. It’s been a month since this was implemented and merged, and two months since the RFC was first submitted. I don’t think new information is likely to appear if we wait more.

[2016-08-31 22:37] japaric commented on #36175
FWIW, you can use `rustc -Z print-link-args foo.rs` to see the linker invocation.

[2016-08-31 22:55] steveklabnik opened #36179 "Bad diagnostic for bad lifetime syntax"
Consider this function:

[code]

This gives a help note:

[code]

This doesn't demonstrate how to do the syntax. So, if you screw it up:

[code]

(which you are likely to do if you are new because the lifetime syntax is foreign...)

Rust will give a _very_ confusing diagnostic:

[code]

This seems like something we could improve.

[2016-08-31 23:12] seanmonstar commented on #26179
@nikomatsakis PR up, though I could use some help adding tests.

[2016-08-31 23:55] jonathandturner opened #36182 "E0537 has a span with extra characters"
[code]

Currently, we underline a little too much of the predicate.  Notice that we underline two `)` instead of just the matching `)`

I noticed that E0535 and E0536 also have the same problem

[2016-09-01 00:10] japaric commented on #36176
How this propagation mechanism should work is an unresolved question of the issue that's tracking the stabilization of this `link_args` feature. cf. https://github.com/rust-lang/rust/issues/29596#issuecomment-153919231

[2016-09-01 00:40] #32754 closed

[2016-09-01 00:40] #34957 closed

[2016-09-01 00:40] japaric commented on #9367
Update: #36120 is a PoC PR that embeds lld into rustc itself. It has only been tested with x86_64 ELFs though.

[2016-09-01 01:48] elidupree opened #36184 "Confusing error message when traits from different modules have the same name"
This error looks pretty bizarre, right? Especially the "help:" message, which is clearly not helpful at all. (This is from the current nightly.)

[code]

What happened is that I had two traits named Basics, one in the crate root and one in the current module. Presumably, the compiler could give a clearer error message in this situation, although I'm not sure what the best way to handle it is – it

[2016-09-01 01:57] alexcrichton commented on #36176
This is an intentional design decision of `#![link_args]`, and is one of the reasons it's not generally suitable for passing linker arguments. This "feature" has basically always been slated for deprecation/removal.

[2016-09-01 02:18] Manishearth commented on #36161
There doesn't need to be an error after the lints, we have plenty of `abort_if_errors()` calls scattered throughout the compiler.

Early lint errors shouldn't be counted as errors till the last bit.

[2016-09-01 02:18] bholley opened #36185 "lldb crash on stack frame with closure: DWARF DIE at 0x000a7888 (class closure) has a member variable 0x000a788e (__0) whose type is a forward declaration, not a complete definition"
After stumbling upon #33062, I grabbed a copy of XCode 8 Beta and tried out lldb to debug assertion in Stylo (experimental Servo-in-Firefox). When I try to backtrace or |up| my way through a stackframe with a closure, lldb aborts:

error: libgkrust.a(geckoservo.0.o) DWARF DIE at 0x000a7888 (class closure) has a member variable 0x000a788e (__0) whose type is a forward declaration, not a complete de

[2016-09-01 02:19] bholley commented on #36185
Any thoughts @michaelwoerister?

CC @eddyb @alexcrichton @Manishearth

[2016-09-01 03:53] #35514 closed

[2016-09-01 03:53] #28324 closed

[2016-09-01 03:53] #35632 closed

[2016-09-01 03:53] #36076 closed

[2016-09-01 04:07] dtolnay commented on #35900
I have a cargo PR https://github.com/rust-lang/cargo/pull/3064 which should check all the "cargo integration" boxes in the checklist.

[2016-09-01 04:56] ashrko619 commented on #36110
Can I work on this ?

[2016-09-01 04:58] eddyb commented on #36110
@ashrko619 Sure! The only change needed here is adding `#[rustc_inherit_overflow_checks]` before those 2 methods in all 3 implementations of `Step` and writing a test (not sure if it can be `#[test]` - cc @rust-lang/libs).

[2016-09-01 05:04] Ericson2314 commented on #35900
I left a comment on the cargo PR, but I think we want a different type of *dependency*, not just a different type of *package*. Firstly, I think this just is just better aestheticly and ergnomicly, but that's just my opinion. But I have two concrete reasons too.

- In a future with public and private deps, it's important to know that its to know that public deps of procedural deps and regular publ

[2016-09-01 05:12] ashrko619 commented on #36110
@eddyb Thanks. About the test - why shouldn't it be ```#[test]``` ?

[2016-09-01 05:23] dashed commented on #17307
This isn't implemented yet: https://github.com/rust-lang/rust/issues/8995

[2016-09-01 05:33] eddyb commented on #36110
I don't know where we can put a `#[test]` for this, that's all. Also, it's dependent on having it in a separate crate, so `#[test]` might invalidate that requirement (i.e. it would have a local copy of `Step`).

However, it looks like [`libcoretest` has the tests](https://github.com/rust-lang/rust/blob/3135b7877a66e72ac4833588eb8654aa155876e8/src/libcoretest/iter.rs#L885) and it's a separate crate

[2016-09-01 08:12] mitsuhiko commented on #24346
@alexbool unlikely that this would land in rust before the new cargo based build process lands.

[2016-09-01 10:01] gnzlbg commented on #28728
What is the LLVM bug tracking this issue?

[2016-09-01 10:46] matross4 opened #36187 "Issue with DirectX 12"
Not long ago I did a clean install of Windows 10 mostly due to pre-installed DX12. The first game I tried to start with it was Rust. But when I joined a server I was stucked. I could not move camera or player. UI worked as usual. Then I joined another server and I could move, but it was not playable. Just look at these pictures. At the 1st server a had the same screen but at least I could move.
![

[2016-09-01 10:51] petevine opened #36188 "MIR-only segfault in `panic=abort` code"
I've just compiled `tokei` (`RUSTFLAGS=-Cpanic=abort cargo install tokei`) on `i686` and the binary does its regular job, but trying to see `--help`:

[code]
I'm using the last nightly supporting old trans, and `-Z orbit=off` doesn't produce crashing code.

[2016-09-01 11:06] petevine commented on #36188
Adding debugging info via `-g` also fixes the crash.
@eddyb

[2016-09-01 11:32] jonas-schievink commented on #36187
This is a bug tracker for the Rust programming language, not the Rust game

[2016-09-01 11:44] eddyb commented on #36188
@petevine Is this specific to `i686` or can it be reproduced on `x86_64` as well?

[2016-09-01 11:54] #36187 closed

[2016-09-01 12:25] acrrd commented on #35214
The note of #35290 and this one are printed by the same function, can I modify it to print the expected types directly in the label?

I also did the bonus2 part for both E0060 and E0061.

[2016-09-01 12:29] petevine commented on #36188
Can't check, sorry.

[2016-09-01 12:40] whitequark commented on #36176
@alexcrichton ack, closing then. I assume that once lld gets integrated into rustc this goes away / gets turned into proper attributes, though the situation might be worse for thrid-party Rust compilers...

[2016-09-01 12:40] #36176 closed

[2016-09-01 13:11] 0xmohit opened #36189 "rustc and rustdoc manpages are out of sync in the installer"
Installed rust as per the [download](https://www.rust-lang.org/en-US/downloads.html) page:

    curl -sSf https://static.rust-lang.org/rustup.sh | sh

The installed manpages for `rustc` and `rustdoc` appear to be those for rust 1.2.0 instead of the installed version, i.e. rust 1.11.0

[code]

This appears to be coming from the tarball itself:

[code]

[2016-09-01 13:34] michaelwoerister commented on #36185
Hm, that's interesting. I didn't think that we produced forward declarations anywhere. Seems like a bug on our side though.

[2016-09-01 13:43] carols10cents commented on #35946
As of `rustc 1.13.0-nightly (eac41469d 2016-08-30)`, the error in this case has gotten less understandable, imo:

[code]

This error message seems to be guiding me towards implementing `Carrier` on `()`, but what would be better is what @steveklabnik and @durka suggested: something that mentions the return type is `()`, and that mentions you can only use `?` in a function that returns a `Result`.

[2016-09-01 13:51] nikomatsakis commented on #36188
Marking as regression.

[2016-09-01 13:55] jonas-schievink commented on #31133
Filling drop is no more

[2016-09-01 13:57] eddyb commented on #31133
My second example is now:
[code]

[2016-09-01 13:57] #31133 closed

[2016-09-01 14:11] frewsxcv commented on #36138
Another option would be to create a base Docker image (publishing it to Docker Hub) that is just `FROM ubuntu:xenial` and the appropriate steps to build whatever version of LLVM we want.

[2016-09-01 14:41] GuillaumeGomez opened #36191 "Contributing.md should speak about make tidy"
For the moment, a lot of new contributors encounter an issue when they open a PR because they don't know about the `make tidy` command. It should be added.

cc @steveklabnik

[2016-09-01 15:13] nagisa commented on #36188
Could reproduce for i686 (`cargo rustc --release --target=i686-unknown-linux-gnu --verbose --bin tokei -- -Cpanic=abort`), and could **not** on x86_64 (`cargo rustc --release --target=x86_64-unknown-linux-gnu --verbose --bin tokei -- -Cpanic=abort`)

[2016-09-01 15:45] 0xmohit commented on #36189
It now appears that the manpages aren't stale; only the version info was.  (rustc.1 was updated in c622a427bff3ae51788c78c3e63ce316fef6f85c and rustdoc.1 in 91f970429998fa237eefb82cdeecd3a9d55f243c)

[2016-09-01 15:45] #36189 closed

[2016-09-01 16:57] nagisa commented on #36188
Does not fail with either `-Cdebuginfo=1` or `-Cdebuginfo=2`. Fails with `-Copt-level=2`, but not `-Copt-level=1`.

Compiling every single crate with `-Copt-level=1` with exception of `term_size` dependency (which I’ve compiled with `-Copt-level=2`) still results in the crash. Similarly, compiling every other crate with `-Copt-level=3` and the `term_size` with `-Copt-level=1` still works fine. Tha

[2016-09-01 17:05] nikomatsakis commented on #32836
@petrochenkov

How to best support the use of unions in constants is an interesting question, but I see no problem with restricting constant expressions to a subset of runtime behavior (this is what we always do, anyhow). That is, just because we may not be able to fully support some particular transmute at compilation time doesn't mean it's illegal at runtime.

Hmm, I'm trying to think how this i

[2016-09-01 17:05] sanxiyn commented on #36188
Does not fail if you set dependencies.clap.version to =2.10.2. Fail for =2.10.3.

[2016-09-01 17:11] nikomatsakis commented on #36164
@jonathandturner how is that different from my 3rd example?

[2016-09-01 17:13] jonathandturner commented on #36164
@nikomatsakis - lol are you sure you didn't add it after I commented?

Just kidding, I just didn't see it the first time through.

[2016-09-01 17:14] jonathandturner commented on #36164
My vote is your #3 ;)

[2016-09-01 17:16] alexcrichton commented on #36138
We currently advertise ourselves as supporting LLVM 3.7+, and Travis is kinda our test for that, so I'd prefer to not pull that forward just yet (but instead just fix this)

[2016-09-01 17:25] SimonSapin opened #36193 "Move std::os::raw to libcore?"
I’m currently playing "embedded" with hardware (ARM Cortex-M CPU with 64 KB RAM). I’m using `#![no_std]` (there’s no operating system) and FFI to use C and C++ device drivers.

For bindings I’d like to use `std::os::raw::c_long` and other types in that module. But this module is not available in libcore. Is there a reason for this? If not, I’ll submit a PR to move it (and of course re-export it at

[2016-09-01 17:27] petrochenkov commented on #32836
More detailed description of the implementation (i.e. better documentation), some small extensions (like empty unions and `..` in union patterns), two main (contradicting) alternatives of union evolution - more unsafe and less restrictive "scratch space" interpretation and more safe and more restrictive "enum with unknown discriminant" interpretation - and their consequences for move/initializatio

[2016-09-01 17:28] steveklabnik commented on #36193
Historically, my understanding is that `libcore` is not supposed to contain anything os-specific. I think.

[2016-09-01 17:34] sanxiyn commented on #36188
Reverting kbknapp/clap-rs@7dfdaf2 causes the problem to disappear.

[2016-09-01 17:39] jonathandturner opened #36194 "E0528 needs to be updated to new format"
From: src/test/compile-fail/E0528.rs

E0528 needs a span_label, updating it from:

[code]

To:

[code]

[2016-09-01 17:40] petrochenkov commented on #32836
It would also be useful to define when accessing an inactive union field is UB, e.g.
[code]
but this is an infinitely tricky area.

[2016-09-01 17:42] jonathandturner opened #36195 "E0529 needs to be updated to new format"
From: src/test/compile-fail/E0529.rs

E0529 needs a span_label, updating it from:

[code]

To:

[code]

[2016-09-01 17:45] SimonSapin commented on #36193
My understanding is that it doesn’t depend on API or other things provided at run-time by an OS, but that doesn’t mean it can’t have things that compile differently based on the target/platform. `src/libcore` already contains `cfg` attributes or macros for:

* `target_pointer_width`
* `target_arch`
* `sse2`
* `target_endian`
* `target_has_atomic`

[2016-09-01 17:52] jonathandturner opened #36196 "E0558 needs to be updated to new format"
From: src/test/compile-fail/E0558.rs

E0558 needs a help converted to span_label, updating this:

[code]

To:

[code]

[2016-09-01 17:54] sfackler commented on #35807
I believe we just need to add a `#[rustc_inherit_overflow_checks]` to all of the `Sum`/`Product` implementations: https://github.com/rust-lang/rust/blob/7a187c39c79e21cd61d1688d449bdd52d7510281/src/libcore/iter/mod.rs#L1106

[2016-09-01 17:54] jonathandturner opened #36197 "E0559 needs to be updated to new format"
From: src/test/compile-fail/E0559.rs

E0559 needs a help converted to a span_label, updating this:

[code]

To:

[code]

[2016-09-01 17:56] jonathandturner opened #36199 "E0560 needs to be updated to new format"
From: src/test/compile-fail/E560.rs

E0560 needs a span_label, updating it from:

[code]

To:

[code]

[2016-09-01 18:03] Np2x commented on #28794
I had the same issue, one workaround was loading the lib with RTLD_NODELETE.

[2016-09-01 18:05] alexcrichton commented on #34478
Oh we've actually removed the cmake build of compiler-rt on the master branch, so this should be fixed now!

[2016-09-01 18:05] #34478 closed

[2016-09-01 18:38] alexcrichton commented on #36193
Yes historically we have not done this because of what @steveklabnik said. These types are *OS-specific*, not *architecture specific*, which I believe the other flags you're mentioning @SimonSapin are.

This is also why the libc crate has a `#![no_std]` mode, for using these types without libstd.

[2016-09-01 18:51] SimonSapin commented on #36193
Ohh, I didn’t know about that. Thanks!

[2016-09-01 18:52] Cobrand commented on #35233
I'd like to take E0559 and E0560 if possible

[2016-09-01 18:56] #33242 closed

[2016-09-01 18:57] ohAitch commented on #32836
Sounds likely, cross-field semantics are basically a pointer cast right?
*(*() as *u8)

On Thursday, 1 September 2016, Vadim Petrochenkov <notifications@github.com>
wrote:

[2016-09-01 19:12] nikomatsakis commented on #35855
[This graph][g] seems to suggest not fully fixed. I am investigating, but the output I see from running locally is as follows:

[code]

[g]: http://perf.rust-lang.org/graphs.html?start=Wed%20Aug%2024%202016%2005%3A52%3A29%20GMT%2B0000%20(UTC)&end=Thu%20Sep%2001%202016%2009%3A53%3A28%20GMT%2B0000%20(UTC)&kind=benchmarks&crates=syntex-0.42.2%2Csyntex-0.42.2-incr-clean&phases=total&group_by=crate

[2016-09-01 19:16] StefanoD opened #36201 "Type Inference in Iterator::sum() is not working well"
From [this](https://users.rust-lang.org/t/using-iterator-sum-in-an-expression/7126/1) thread:

Example 1:

[code]

Example 2:

[code]

rust version: 1.11 stable

[2016-09-01 19:17] nikomatsakis commented on #35855
Better dump:

[code]

[2016-09-01 19:18] EugeneGonzalez commented on #35233
I will take E0528 and E0259.

[2016-09-01 19:22] mikhail-m1 commented on #35123
@nikomatsakis  I missed max check, now it works but I don't know how to write check in test
https://github.com/mikhail-m1/rust/commit/8a17f7ab8a09008d4e8bc88c75f1286d3ff6aa63

[2016-09-01 19:26] mikhail-m1 commented on #35233
I'd like to take  E0537 bonus

[2016-09-01 19:27] EugeneGonzalez commented on #35233
@jonathandturner Yes, sorry about the mix-up.

[2016-09-01 19:29] jonathandturner commented on #35233
@EugeneGonzalez - no worries :)

@mikhail-m1 - it's yours!

[2016-09-01 19:30] ohAitch commented on #32836
Isn't field access always unsafe?

On Thursday, 1 September 2016, Vadim Petrochenkov <notifications@github.com>
wrote:

[2016-09-01 19:36] abhi-sm commented on #35233
I'd like to take E0558

[2016-09-01 19:37] abhiQmar commented on #35233
I'd like to take E0558

[2016-09-01 19:38] jonathandturner commented on #35233
@abhi-sm - updated

@abhiQmar - looks like someone beat you to it

[2016-09-01 19:43] michaelwoerister commented on #35855
https://github.com/rust-lang/rust/pull/36025 fixes quite a few things in the ICH.

[2016-09-01 19:44] abhi-sm commented on #36196
@jonathandturner
Hi,
@abhiQmar is also my handle. I would request you to assign to that account. Thank you
Didn't want to spam on the common thread hence writing it here. :)

[2016-09-01 19:44] petrochenkov commented on #32836
It can be made safe sometimes, e.g.
- assignment to trivially-destructible union fields is safe.
- any access to fields of a `union U { f1: T, f2: T, ..., fN: T }` (i.e. all fields have the same type) is safe in "enum with unknown discriminant" interpretation.

[2016-09-01 19:58] Cobrand commented on #36191
I volunteer as tribute !

Just to be sure I don't forget anything, `make tidy` checks for :
* Trailing whitespaces
* Length of all the lines of the file (which shouldn't be higher than 99)
* TODOs in comments

Did I forget something ?

[2016-09-01 20:04] nikomatsakis commented on #36155
cc @michaelwoerister -- could this be related to collector changes?

[2016-09-01 20:06] nikomatsakis commented on #36155
triage: P-high -- this is a regression.

Going to assign to @michaelwoerister for now on the suspicion that it is related to the collector.

[2016-09-01 20:07] fhahn commented on #28592
@dns2utf8 are you still working on it? If not, I could have a look this weekend.

[2016-09-01 20:10] jaredwy commented on #35290
@jonathandturner All is well, thanks! Was expected surgery just managed to get in earlier  :)

@GuillaumeGomez that is ok :) Spent the past week on the couch. I might hit you up on that offer of an apology in way of mentoring on a bigger rust issue :D

[2016-09-01 20:10] nikomatsakis commented on #36053
triage: P-high

Regression, seems bad. @arielb1 says he'll take a look at it.

[2016-09-01 20:13] nikomatsakis commented on #36036
triage: P-high

Assigning to @eddyb to start since he seems to have a clue what the problem is.

[2016-09-01 20:15] nikomatsakis commented on #34427
@eddyb -- is the current status that this is an LLVM bug? Is there a known fix?

[2016-09-01 20:16] nikomatsakis commented on #34427
triage: P-high

This seems like a fairly bad regression, at least on ARM. I'm not sure what action we ought to take to address it though!

[2016-09-01 20:17] pnkfelix commented on #36036
assigning to self to try to lift load from @eddyb

[2016-09-01 20:17] nikomatsakis commented on #34427
Assigning to eddyb since he's been keeping on top of this. Nice job.

[2016-09-01 20:25] steveklabnik commented on #36191
I think it'd be best to say "stuff like" rather than to exhaustively list, otherwise, it will go out of date.

On Sep 1, 2016, 15:59 -0400, Cobrand <notifications@github.com>, wrote:

[2016-09-01 20:31] nikomatsakis commented on #36188
triage: P-high

[2016-09-01 20:33] durka opened #36202 "splitn documentation is not clear"
Is the last element yielded by the iterator the remainder _after_ the N items, or is the remainder included in N? The answer is the latter, but I don't think it's clear. Or am I the problem here?

[2016-09-01 20:45] mikhail-m1 commented on #35123
and bonus https://github.com/mikhail-m1/rust/commit/738c02611b1f8b3893145c5ca135a07abc1da0e5
I'll do PR as soon as fix test

[2016-09-01 20:53] michaelwoerister commented on #36155
This might have to do with the switch to MIR trans since on-demand monomorphization for functions went away with that. That might have exposed a preexisting hole in the collector.

[2016-09-01 21:03] eddyb commented on #34427
@nikomatsakis The bug is https://llvm.org/bugs/show_bug.cgi?id=28809 and some choices were presented in IRC but they're invasive changes to multiple LLVM targets, i.e. something LLVM developers  familiar with those targets would have to investigate and work on.
I can try to push for this or get someone to tell me what steps I can take for at least a partial fix, if need be.

[2016-09-01 21:08] eddyb commented on #36188
Is it trying to allocate something with the size `term_w`?
We could have something going wrong for very large allocations that ends up in a segfault.
And that it's 32-bit only means that it may not be able to hit some kind of "impossible allocation size" check.

[2016-09-01 21:25] nagisa commented on #36188
@eddyb no its a NULL dereference.

[2016-09-01 21:35] nagisa commented on #35946
This is what you can get with rustc_on_unimplemented:

[code]

Bikeshed on wording.

[2016-09-01 21:40] SimonSapin commented on #36193
Well, current `libc` doesn’t build on a custom `thumbv7em-none-eabi` target. (4 thousands and some lines of compile errors.)

Regardless, I don’t understand why having `cfg(windows)` conditional compilation in libcore is so much worse than `cfg(sse2)`, long as libcore doesn’t run-time-depend on things from the OS.

[2016-09-01 21:49] arielb1 commented on #36138
For the record, I downgraded our LLVM version in a botched rebase and only this test stopped it at bors. Hopefully, someone would have noticed the absence of a fix, but you can't count of that.

[2016-09-01 22:09] arielb1 commented on #36053
The problem is that `rustc::traits::specialize::translate_substs`, which is called during normalization, is registering obligations into the global fulfillcx during method probing.

[2016-09-01 22:28] GuillaumeGomez commented on #36191
@Cobrand: I'm not sure it's really needed to add all of this but I think you have everything.

[2016-09-01 22:29] GuillaumeGomez commented on #35290
@jaredwy: Let's do it like this then. Try to get better meanwhile!

[2016-09-01 22:36] cuviper commented on #32836
It seems better not to apply special conditions to this, from a user point of view.  Just call it unsafe, always.

[2016-09-01 22:37] nagisa commented on #36188
So, I used some `rr`, and here’s the thing:

The instruction which causes the null derefence here is this one:

[code]

And `(%esi)` is all ponies and rainbows before this instruction:

[code]

Disassembly for the said function looks quite okay, `pushes` have matching `pops` etc.:

[code]

So I figured out the address in stack where the %esi gets saved and set a watch on that. Imagine my surprise

[2016-09-01 23:00] nagisa commented on #36188
I figured this out. This definition of [Winsize](https://github.com/kbknapp/term_size-rs/blob/bb909ba92fd89d7072afc5a5607b7e582a47ff86/src/lib.rs#L35) is not correct. The actual winsize has 4 fields 16 bits each. The actual winsize [looks like this](https://doc.rust-lang.org/nightly/libc/struct.winsize.htm).

Now guess who passes the pointer to an area on the stack which is too small to fit the wh

[2016-09-01 23:02] eddyb commented on #36188
Looks like MIR trans exposed another bug by being less wasteful :laughing:. Thanks, @nagisa!

[2016-09-01 23:02] #36188 closed

[2016-09-01 23:13] alexcrichton commented on #36138
@arielb1 touche!

[2016-09-02 00:03] phungleson commented on #35965
Hey guys, have been looking into this for last few days and do some trials and errors to understand the structure here.

https://github.com/rust-lang/rust/blob/147371f58f1a99e32524d61af1d86b2e1e0a503b/src/librustc/traits/error_reporting.rs#L575-L584

I seem to get the basic ideas but it would be helpful if there is some documents or some similar examples to guide how to fix this?

[2016-09-02 00:41] brson opened #36207 "configure needs to detect name of the nodejs binary"
On some systems it's nodejs, on some its node. It should probably just use "nodejs" unless "nodejs" doesn't exist and "node" does. Not having node shouldn't be an error. I don't recall exactly how the configure script handles these cases but there's existing code to crib off of.

Then bootstrap can pass that value to compiletest via command line, which uses it for running emscripten tests.

[2016-09-02 00:41] brson commented on #36207
cc https://github.com/rust-lang/rust/issues/33205

[2016-09-02 00:45] nikomatsakis commented on #35855
Indeed testing with a build #36025 seems to achieve full re-use.

[2016-09-02 01:10] retep998 commented on #36193
Regarding `#[cfg(windows)]`, `winapi` defines the C types itself https://github.com/retep998/winapi-rs/blob/dev/src/lib.rs#L35. It only relies on std for `c_void` if that feature is enabled.

I personally don't hold an opinion either way on whether this sort of stuff should be in `libcore`. If it does get added to `libcore`, just be very careful to ensure that the are defined correctly for every s

[2016-09-02 02:21] carllerche opened #36209 "The thread park / unpark implementation is suboptimal"
The current implementation of thread park / unpark is suboptimal. It currently unconditionally uses a mutex / cvar to implement the functionality. A much improved implementation is able to use an atomic variable to avoid most calls to the mutex / cvar.

An example of how to use this is available in Java's thread park / unpark implementation (the license for this section of the code is compatible).

[2016-09-02 02:25] carllerche commented on #36209
This comment in the code provides more info:

[2016-09-02 02:42] retep998 commented on #36209
If it wasn't for `park_timeout`, I would have recommended using something like `SuspendThread` and `ResumeThread` on Windows.

I'm sure @Amanieu can come up with something efficient though.

[2016-09-02 03:29] Amanieu commented on #36209
I have several implementations of thread parking in parking_lot (https://github.com/Amanieu/parking_lot/tree/master/core/src/thread_parker), but they all use precise wakeups and won't generate spurious wakeups.

In general I don't think there is much benefit over just using a mutex & condvar since the majority of the overhead is from calling into the kernel to wakeup/suspend a thread.

[2016-09-02 04:50] dtolnay opened #36211 "Reordering of attributes passed to `rustc_macro_derive`"
(Using rustc from #35957)

Macros 1.1 is reordering attributes in a way that breaks Syntex. If I have the following:

[code]

It gets passed to my `#[rustc_macro_derive(Serialize)]` as:

[code]

I would expect the `#[derive(Deserialize)]` to stay above `#[serde(...)]`.

cc @alexcrichton

[2016-09-02 05:35] alexcrichton commented on #36211
Hm I'm not actually sure how to fix this offhand. When the `#[derive]` syntax extension is running the `#[derive]` attribute has already been removed, and then when we call the first `Serialize` implementation we manually push back on the `#[derive(Deserialize)]`. We could push it at the front instead of the back but I have a feeling that's probably also not the right place :(

Might require a mor

[2016-09-02 05:51] nrc commented on #36211
Why? Putting the remaining derives back where the one we just took out seems like the right thing to do to me.

[2016-09-02 05:56] alexcrichton commented on #36211
Oh right yeah we should put the `#[derive]` attribute back where we found it, but I don't think that information is available via the kind of syntax extension `#[derive]` is today?

[2016-09-02 05:56] dtolnay commented on #35900
Yes https://github.com/serde-rs/serde/releases/tag/v0.8.6

(except for container attributes in some cases #36211)

[2016-09-02 06:00] alexcrichton commented on #35900
Awesome, thanks for the updates @dtolnay!

[2016-09-02 06:40] carllerche commented on #36209
The point of the optimization is specifically to avoid yielding to the kernel & going through that overhead when not needed.

[2016-09-02 08:08] retep998 commented on #36209
@carllerche The whole point of thread parking is to yield to the kernel and put the thread to sleep. As long as parking the thread only involves a single syscall then it is optimal.

[2016-09-02 08:56] nikomatsakis commented on #34902
Potentially relevant, from IRC:

[code]

[2016-09-02 08:57] eddyb commented on #34902
Fix suggestion is changing that to be a `BTreeSet<DefIndex>`. Other things could also use btrees.

[2016-09-02 09:06] nikomatsakis commented on #15701
I recently ran into a similar situation that made me want attributes on *more* places, not less. In particular, I have a field:

[code]

but this field is only used for some debugging code:

[code]

Because of our tight lints, this can result in the field `forbidden` being considered "dead code", I believe. It'd be nice to make the forbidden field `#[cfg(debug_assertions)]`, but that is annoying b

[2016-09-02 09:08] nikomatsakis commented on #29149
I'm going to lower this from P-high to P-medium -- it's still important to fix, but the simplest fix I think is too inexpressive. I am working on a better fix, but I don't think we need to keep revisiting this in triage and other meetings just now.

[2016-09-02 09:08] nikomatsakis commented on #29149
triage: P-medium

[2016-09-02 09:12] nikomatsakis commented on #36188
@nagisa nice work.

[2016-09-02 13:08] ehiggs commented on #36161
[clippy-errors.txt](https://github.com/rust-lang/rust/files/452048/clippy-errors.txt)

I've uploaded an example text file of errors. It seems that there are a few more errors reported now before it bails but I'm pretty sure it's not all the lints since the project was EoL  soon after I reported the issue:

[code]

[2016-09-02 14:10] White-Oak commented on #35900
Are there docs on these macros? I suppose, the only example of using them is in serde, am I right?

[2016-09-02 14:40] bluss opened #36215 "Mark dropck-related borrow errors explicitly"
Today you can use the key phrase “note: reference must be valid for the block suffix”... to get reminded that a borrow error is related to dropck. This could be improved to explicitly mention dropck rules or put the error message in that context in some way.

cc @pnkfelix

[2016-09-02 14:49] carllerche commented on #36209
@retep998 The point of thread park is to put the thread to sleep until unpark was called **if unpark has not already be called**. If thread park is called after unpark the thread is not parked. This is a common occurrence and causing a syscall / context switch is suboptimal.

An optimization implemented in other thread park / unpark systems (as referenced in the issue and comments in the rust impl

[2016-09-02 15:09] jonathandturner commented on #36196
I'll update it :)

[2016-09-02 15:10] nikomatsakis commented on #35897
This should not have been closed.

[2016-09-02 15:10] nikomatsakis commented on #35897
(Until it becomes stable.)

[2016-09-02 15:11] nikomatsakis opened #36216 "Missing feature gate for the default of `'static`"
We neglected to add a feature gate for the new default to `'static` in statics and constants (added in https://github.com/rust-lang/rust/pull/35915). Need to fix this pronto.

cc @llogiq -- you up for that? (Sorry to ask you twice, just decided I wanted a way to track this so I don't forget.)

[2016-09-02 15:14] llogiq commented on #36216
Sure. I guess I'll need to look into how feature gates are implemented and then conditionally use the old/new behavior.

[2016-09-02 15:16] nikomatsakis commented on #36216
I am up for mentoring this for whomever (hence the E-mentor tag). [This was my description of how to *add* the change.](https://github.com/rust-lang/rust/issues/35897#issuecomment-241476626) I think what you need to do to fix this is as follows:

- add the feature gate (in `libsyntax/feature_gate.rs`)
- make a new rscope, I think, instead of re-using the elidable rscope (or else add a bool to the

[2016-09-02 15:16] nikomatsakis commented on #36216
ok @llogiq above comment may help :)

[2016-09-02 15:32] retep998 opened #36217 "E0080 should provide use suggestions like E0412"
This is E0412. Notice how it has a suggestion of what to use to fix the error.

[code]

This is E0080. Notice how it does not have such a suggestion even though I know that exact symbol is defined somewhere.

[code]

Also the error message is actually kind of misleading because it says the path is non-constant which makes no sense at all.

Maybe instead of emitting E0080 we should actually be emit

[2016-09-02 15:36] jonathandturner commented on #35965
@phungleson - yeah, some of these bonuses can definitely be tricky, and some of them don't even have a clear solution given the representations available in the compiler.  From what I, @KiChjang, and others have seen so far, types seem to be the ones with the least amount of span information, and so this bonus might not have a clear solution.

Now, that doesn't mean we can't change things up a bit

[2016-09-02 15:39] nikomatsakis commented on #35123
@mikhail-m1 getting closer =) I [left some comments here](https://github.com/mikhail-m1/rust/commit/8a17f7ab8a09008d4e8bc88c75f1286d3ff6aa63#commitcomment-18882213), let me know what you think.

[2016-09-02 15:43] dtolnay opened #36218 "Error spans in macros 1.1"
I understand that we can't know the spans correctly after passing through `rustc_macro_derive` but instead of pointing to the "Serialize" in these examples I think it would usually be less misleading to point to the "struct A" or maybe to the entire struct body. I don't want to field these support tickets in Serde's issue tracker:

[code]

[code]

Side note: those errors are inconsistent with each

[2016-09-02 16:00] alexcrichton commented on #36218
Unfortunately I think this is a fundamental downside to the current approach of macros 1.1. When we parse an arbitrary string into a token stream, we need to give them *some* span. Right now we just give them the span of the original `#[derive]` mode, as it's one of the only spans we have.

Maybe we could try to show the expanded code though? I'm not 100% sure if that'd work though.

[2016-09-02 16:06] dtolnay commented on #36218
I assumed you also had the span of the ast::Item that was passed in. If that is not easily available then I'll close this.

[2016-09-02 16:11] alexcrichton commented on #36218
Oh so for that we convert the `ast::Item` to a string directly, losing all span information, and then the tokens you pass back don't necessarily have any correlation to the previous item that was stringified.

Now it's not to say we *can't* do anything here, it's just that we can't do anything trivial here unfortunately afaik. Maybe @nrc has an opinion though?

[2016-09-02 16:18] dtolnay commented on #36218
My suggestion was [here](https://github.com/rust-lang/rust/blob/e7cb64617c43cdca0193eaf23e5b9c575ba68c34/src/libsyntax_ext/deriving/custom.rs#L82) instead of using the span of the derive mode, use `item.span` from the original input item.

[2016-09-02 16:21] dtolnay commented on #36218
I'll try it out and report back if the errors make any more sense.

[2016-09-02 16:28] LeMoussel opened #36219 "Linking fails in some cases on windows, "undefined reference to `hypot'""
Under Windows 10 64bits, with Rustc V 1.11.0 Windows (GNU ABI ) (9b21dcd6a 2016-08-15) when compiling  with .cmd file (cargo build in it) , I got this error
If  I do `Cargo build` in MSys2 Shell, threre is no errors.

**PATH variable**

**Error**

[code]

[2016-09-02 16:29] Ericson2314 commented on #35092
@glaebhoerl sorry this would be a scenario thing where one can be portable/parametric wrt panic strategy, or rely on one not working with the other.

[2016-09-02 16:40] vitiral commented on #6393
@metajack the link for your original code is a 404. Can you include it inline for people reading this bug?

[2016-09-02 16:49] metajack commented on #6393
After some digging, I believe this is equivalent to the original code:
https://github.com/servo/servo/blob/5e406fab7ee60d9d8077d52d296f52500d72a2f6/src/servo/layout/box_builder.rs#L374

[2016-09-02 16:51] metajack commented on #6393
Or rather, that's the workaround I used when I filed this bug. The original code before that change seems to be this:
https://github.com/servo/servo/blob/7267f806a7817e48b0ac0c9c4aa23a8a0d288b03/src/servo/layout/box_builder.rs#L387-L399

I'm not sure how relevant these specific examples are now since they were pre-Rust 1.0.

[2016-09-02 16:55] vitiral commented on #6393
@metajack it would be great to have an ultra simple (post 1.0) example in the top of this issue. This issue is now part of https://github.com/rust-lang/rfcs/issues/811

[2016-09-02 16:55] nikomatsakis commented on #31436
There has been a lot of discussion about the relative merits of `?` in this internals thread:

https://internals.rust-lang.org/t/the-operator-will-be-harmful-to-rust/3882/

I don't have time to do a deep summary just now. My recollection is that the comments are focused on the question of whether `?` is sufficiently visible to draw attention to errors, but I'm probably overlooking other facets of

[2016-09-02 16:57] jethrogb commented on #6393
[code]

[2016-09-02 17:12] metajack commented on #6393
I think what I was complaining about was something like this:
https://is.gd/yfxUfw

That particular case appears to work now.

[2016-09-02 17:24] conradkleinespel commented on #31436
I haven't commented before and this maybe way too late, but I find the `?` operator confusing as well, if it is used as a hidden return statement, as @hauleth pointed out in the discussion you have linked @nikomatsakis.

With `try!`, it was obvious that there might be a return somewhere, because a macro can do that. With the `?` as a hidden `return`, we would have 3 ways to return values from a fu

[2016-09-02 17:35] est31 commented on #31436
How would making `?` resolve on the expression level instead of the function level affect futures? For all other use cases it seems okay for me.

[2016-09-02 17:46] hauleth commented on #31436
I have postulated this. I think it would be perfect solution.

[2016-09-02 17:47] birkenfeld commented on #31436
It is only obvious because you're familiar with how macros work in Rust. Which is going to be the exact same once `?` is stable, widespread and explained in every intro to Rust.

[2016-09-02 17:54] steveklabnik commented on #31436
@conradkleinespel

Rust doesn't have "implicit returns", it has expressions that evaluate to a value. This is an important difference.

[code]

If Rust had "implicit return", this code would compile. But it doesn't, you need `return 5`.

[2016-09-02 17:55] steveklabnik commented on #31436
For an example of what that might look like, https://github.com/rust-lang/book/pull/134

[2016-09-02 17:56] nagisa commented on #15701
An use case for attributes on (at least block) expressions is to [supply compiler with branch likeliness metadata](https://github.com/rust-lang/rust/pull/36181#issuecomment-244369720).

[2016-09-02 17:59] vadimcn opened #36221 "Performance left on the table?"
I've been playing with Rust optimizations today and discovered something curious: it looks like LLVM `opt` does a better job at optimizing Rust IR than `rustc`:

[code]

produces:

[code]

(n_body.rs having been copied verbatim from [benchmarksgame](http://benchmarksgame.alioth.debian.org/u64q/program.php?test=nbody&lang=rust&id=1))

Adding `-O` to the second `rustc` invocation and running IR thro

[2016-09-02 18:09] abhiQmar commented on #36196
Hi @jonathandturner ,

I am stuck at this error while compiling. Tried cargo update on liblog, libserialize and libstd. But still facing the issue

[code]

[2016-09-02 18:11] hauleth commented on #31436
In any language that I am aware of "macros" mean "here be dragons" and that there anything can happen. So I would rephrase that to "because you're familiar with how macros work", without "in Rust" part.

[2016-09-02 18:13] jonathandturner commented on #36196
Sometimes when you rebase master, you'll need to clean up the old build before you can start the new one (we'd like to fix this at some point):

[code]

[2016-09-02 18:19] dtolnay commented on #36218
@alexcrichton @nrc using `item.span` seems less misleading:

[code]

[2016-09-02 18:20] kennytm commented on #31436
@hauleth

I strongly disagree. As you will get a magic symbol that only works in `try!` and not outside.

[2016-09-02 18:24] hauleth commented on #31436
I haven't said that `?` should work only in `try!`. What I was saying is that `?` should work like pipe operator that would push data down the stream and return error as soon as it occurred. `try!` would not be needed in that case, but could be used in the same context as it is used now.

[2016-09-02 18:50] conradkleinespel commented on #31436
@steveklabnik I think of Rust as a language having implicit return, In your example, `5` was not returned implicitly, but lets take this:
[code]

Here, `5` is implicitly returned, isn't it ? As opposed to `return 5` you would need in your example. This makes for 2 different ways to return a value. Which I find somewhat confusing about Rust. Adding a third would not help IMO.

[2016-09-02 18:54] steveklabnik commented on #31436
It is not. It's the result of an expression, specifically, the function body. "implicit return" implies that you can somehow implicitly return from anywhere, but that's not true. No other expression-based language calls this an "implicit return", as that would be my code sample above.

[2016-09-02 18:56] KiChjang commented on #35965
Check what the span contains [here](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/mod.rs#L1185). It's being passed to `is_representable`, but I don't seem to see it being actually used in any sort of error reporting.
Since you already have the AST node, it's just a matter of scanning the struct's fields/enum variants again to check which of the fields/variants have the ex

[2016-09-02 18:57] nikomatsakis commented on #36164
I'm happy to mentor the change. It seems like it would be fairly self-contained. The error is reported by [this code](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/mod.rs#L2984-L3022) in `src/librustc_typeck/check/mod.rs` -- just search for "attempted access of field" and you ought to find it.

The idea would be to

- change the main message there to something shorter, li

[2016-09-02 18:57] nikomatsakis commented on #36164
One wrinkle I am not sure about: the changes that I suggested above will, iirc, cause a `^^^` with no suggestion to appear in the case that we don't have a suggested field name to offer. I feel like we wanted to move away from those, which might suggest that we ought to offer a generic label like "this field here" or something? <-- @jonathandturner ?

[2016-09-02 18:58] conradkleinespel commented on #31436
@steveklabnik Alright, thanks for taking the time to explain this :+1:

[2016-09-02 19:00] steveklabnik commented on #31436
It's all good! I can totally see where you're coming from, it's just two different things that people use in a wrong way often. I have seen people assume "implicit return" means that you can just leave the `;` off anywhere in source to return.... that _would_ be very bad :smile:

[2016-09-02 19:05] CryZe commented on #31436
@hauleth The ? operator would just be syntactic sugar for and_then in that case. That way you could use it in a lot more cases and it wouldn't have to be a hard to miss return. This is also what all other languages do that have a ? operator. Rust's ? operator in the current implementation would be the exact OPPOSITE of what all other languages do. Also and_then is the functional approach and is en

[2016-09-02 19:06] hauleth commented on #31436
Exactly.
--

Łukasz Niemier
lukasz@niemier.pl

[2016-09-02 19:10] CryZe commented on #31436
And when working on a Pull Request for the Rust repo I actually had to work with code that used the ? operator and in fact it really hurt readability for me, as just like ; was super hidden and I overlooked it a lot. And I find that quite scary.

[2016-09-02 19:11] jonathandturner commented on #36164
Yes, a default label would be great when we don't know the name.  Maybe something like "^^^^ unknown field" when we don't know of a good suggestion

[2016-09-02 19:16] aravind-pg commented on #36164
I'd love to try my hand at this. The instructions posted seem sufficient for now, but I'll come back if I have any

[2016-09-02 19:27] hauleth commented on #31436
@steveklabnik we call it "implicit return", [because](https://www.codecademy.com/en/forum_questions/51342c816035724a1b00440e) [we](http://stackoverflow.com/questions/1064159/implicit-return-values-in-ruby) [aren't](http://stackoverflow.com/questions/26188710/explicit-vs-implicit-return) [the](http://best-ruby.com/idiomatic_ruby/implicit_return.html) [only](http://stackoverflow.com/questions/288894

[2016-09-02 19:34] nagisa commented on #36221
Mostly a duplicate of https://github.com/rust-lang/rust/issues/33299 AFAICT.

[2016-09-02 19:38] steveklabnik commented on #31436
@hauleth huh, in all of my years of Ruby, I've never heard of anyone calling it implicit return. I still maintain that it's the wrong way to think about it.

[2016-09-02 20:07] Sawyer47 commented on #35169
I still reproduce it. Maybe my description was not entirely clear. If a type implements the std::ops::Deref trait then there is an additional section in its documentation page `Methods from Deref<Target=...>`.
Even though `Deref::deref` returns an immutable reference, the generated documentation contains all methods, including those that would require `DerefMut`  implementation for the code to com

[2016-09-02 20:27] aturon commented on #36209
There seems to be some confusion here. The intent of `park`/`unpark` is precisely as @retep998 was saying -- providing direct access to thread blocking/signaling facilities at the kernel level. Things like briefly spinwaiting before parking are intended to be done in a *data structure-specific* way, since the right choice of strategy varies. This is essentially the same as the JVM's model.

The op

[2016-09-02 21:05] withoutboats commented on #27749
I'm curious what this means in the larger picture, not specific to this tracking issue.

[2016-09-02 21:17] aturon commented on #27749
@withoutboats In a nutshell, it means that Rust will not attempt to ensure traditional parametricity for type arguments (i.e. that generic code behaves "equivalently" when instantiated with different types). This is already formally the case due to the ability to get the size of a type parameter, but we're opening the door to observable, behavioral differences under different type arguments.

That

[2016-09-02 21:27] mikhail-m1 commented on #35123
@nikomatsakis  thanks for comments, I'll send you reworked version soon, but I still don't know how write test for it

[2016-09-02 21:35] vadimcn commented on #36221
`opt` doesn't use a custom pass list though.  I can understand the reluctance to custom-tailor
passes to Rust, but here we have a standard llvm tool doing better than rustc.

cc @alexcrichton, @dotdash

[2016-09-02 21:35] brson commented on #31436
I've used `?` in a few projects and have preferred it to `try!`, mostly because it is in postfix position. In general, "real" Rust code pretty much enters the `Result` 'monad' at "main" and never leaves it except at occasional leaf nodes; and such code is just expected to propagate errors always. For the most part it does not matter which expressions are generating errors - they are all just being

[2016-09-02 22:05] nagisa commented on #36221
@vadimcn then rustc does (or might have forgotten to populate the pass manager fully or does not configure the pass manager the same way). The list of passes ran by rustc and opt compiled against the same system LLVM differ (already kinda obvious from `rustc -O → opt -O2 → link` producing different results from `rustc -O → link`) by `opt` running SLP vectorizer,

BTW rustc -O is a -Copt-level=2 AF

[2016-09-02 22:08] withoutboats commented on #27749
I'm trying to get at what specifically we're talking about. In my opinion, strict parametricity is not so important, but explicit, algorithmic reflection almost always is a band-aid over a wrong abstraction which results in increasingly unmaintainable spaghetti. Having automatically determined aparametricity during monomorphization (so specialization) is fine, in my opinion, but making explicit do

[2016-09-02 22:12] aturon commented on #27749
I entirely agree. (I think there are some occasional uses for it, but it should be a very niche part of the Rust programmer's toolkit.)

But that's not what's being debated here. The question is whether we retain what you call "strict parametricity".

[2016-09-02 22:18] withoutboats commented on #27749
Cool. I guess since this trait doesn't impact specialization, I thought Niko's comment referred to some other plans.

[2016-09-02 22:18] durka opened #36226 "can rustbuild default to ccache for LLVM?"
Is there a reason that `ccache = false` is the default? I keep forgetting to modify config.toml when I check out a branch.

[2016-09-02 22:18] aturon commented on #27749
On further, ahem, reflection, I think I understand your concern, @withoutboats.

`Reflect` is currently mostly tied to our one downcasting facility, and so it might seem to act as a speedbump for doing downcasting. While that's true, the *intent* was actually to retain some form of "strict" parametricity, by forcing you to signal when even "static reflection" was occurring.

So we've been talking

[2016-09-02 22:23] withoutboats commented on #27749
I agree, and I think deprecated `Reflect` is probably the right path. I think the main thing `Reflect` does is make downcasting more confusing, because its another trait you have to understand the role of. One of the big problems with downcasting is that it can be confusing, so if anything this exacerbates the problem, rather than being a speedbump.

I was just asking about whether or not Niko's c

[2016-09-02 22:25] brson commented on #35070
@SimonSapin understood, but I think this is a bug in the new process. Me checking that box is _my final decision_ as a member of the libs team, and the design _is not final_.

[2016-09-02 22:25] alexcrichton commented on #36221
It's basically always been our *intention* to configure the LLVM pass manager in the same way that LLVM/clang do. This is susceptible to drift, though, across LLVM versions as idioms are updated but we don't.

I'd consider any difference between clang's pass manager and ours as a bug.

[2016-09-02 22:26] nagisa commented on #36226
config.toml is not checked into the tree so it should stay dirty at all times and you should never have to modify it when jumping across branches.

[2016-09-02 22:29] brson commented on #35070
Per discussion with @aturon I've checked the box and we'll discuss the process mechanics later.

[2016-09-02 22:31] mitsuhiko commented on #31436
I wrote this many times before but I am absolutely in love with `?` and the possibilities of the carrier trait. I converted one project over to using `?` entirely and it made many things possible (particularly with regards to chaining) which was too complex with `try!`.  I also for fun went over some other projects to see how they would do with `?` and overall I have not encountered any problems w

[2016-09-02 22:36] durka commented on #36226
I use worktrees to prevent rebuilds when jumping across branches anyway. But that's orthogonal to my question.

[2016-09-02 22:47] nathanaeljones commented on #27700
I've seen a lot of push-back about whether Rust should offer graceful handling of malloc failure. A few points that recur:

* *If any malloc fails, there's no hope of recovery anyway.* - This is false, as delayed or smaller mallocs are likely to succeed. Malloc failure can be temporary, and is typically (in most allocators) specific to the size of the block requested. Anything involving a work que

[2016-09-02 23:01] durka commented on #27749
To be clear, AFAIK you can't quite implement @aturon's `print` because the impls for `T: Debug` and `T: Display` conflict (as @withoutboats said, "what if `T: Debug + Display`?").

[2016-09-02 23:02] aturon commented on #27749
@durka Yep, you need something like "lattice impls" to make it work.

[2016-09-02 23:03] durka commented on #27749
I came up with [this](https://is.gd/JDdtZJ).

[2016-09-02 23:08] solson opened #36229 "Sort error messages by file and line number"
It would be more clear if error messages were printed out sorted. Say, by filename and then by line within a given file. Currently it seems like they are printed in the order they were emitted, which is mostly arbitrary.

cc @whitequark

[2016-09-02 23:08] durka commented on #36226
Better yet, can we distribute a binary snapshot of LLVM?

[2016-09-02 23:11] japaric opened #36230 "s390x: "LLVM ERROR: Cannot select" when building libcore"
Using system LLVM (Ubuntu's llvm-3.8-dev) I get this error when building libcore for s390x:

[code]
### Meta

[code]

I'm going to try using rust-lang/llvm next. If that doesn't work, this issue would block #36006

cc @alexcrichton @brson

[2016-09-02 23:12] alexcrichton commented on #36230
:(

[2016-09-02 23:14] alexcrichton commented on #36226
Right now rustbuild just mirrors `./configure`, and yes the idea is that to get around that you can persist `config.toml` across multiple branches

Let's keep this issue focused and discuss that elsewhere

[2016-09-02 23:19] nathanaeljones commented on #27700
I am also concerned that as `catch_panic` was stabilized a few weeks ago, crates may start using it with false assumptions about panic vs. abort on OOM (currently [*either*](https://github.com/rust-lang/rust/issues/26951) can occur, which is actually a good thing - they cannot *correctly* assume OOM exclusively aborts, although the docs aren't clear about this).

As code paths dependent upon this