[2015-04-11 05:48] thepowersgang opened #24319 "AtomicBool does not implement Default"
The three atomic types (`AtomicBool`, `AtomicIsize`, and `AtomicUsize`) which include `const` initialisers do not also implement Default.

I believe that they should, as the presence of `ATOMIC_*_INIT` implies that there is an accepted default value for these three types.

[2015-04-11 06:48] pnkfelix commented on #24317
cc @nikomatsakis

(I'm not sure I agree with the assertion made here, but it seems like it would be good to talk about it, and then either improve the docs to explain why one should not, or actually do it.)

[2015-04-11 07:17] pnkfelix opened #24320 "Remove repr-lookup attempt in `derive` expansion"
Spawned off of #24270, in particular this discussion: https://github.com/rust-lang/rust/pull/24270#discussion-diff-28163635

The new code for `deriving(PartialOrd)` attempts to look up if there is a `repr` attribute on the `enum` that is driving the deriving expansion, because we need (at least) to incorporate knowledge of whether the discriminant is meant to be interpreted as a signed integer or

[2015-04-11 07:19] pnkfelix commented on #24320
I do not see this as a terribly high priority item.

Exposing the problem requires injecting a `repr` attribute at a later pass of expansion, but I am not sure there are currently any instances of expansions that do this.

[2015-04-11 07:19] pnkfelix commented on #24320
triage: P-low

[2015-04-11 07:25] pnkfelix commented on #22033
I cannot reproduce this. @kballard is it still happening for your OS X system?

[2015-04-11 07:26] pnkfelix commented on #21751
Seems like this may have been fixed?

Marking as needs-test.

[2015-04-11 07:55] blankname commented on #15628
Note: I'm out of my depth here and late for bed, so hopefully I'm not just adding noise.

Personally I'd love to have a words iterator that works along the same lines as the "Counting the Words in a UTF-8 String" example in this icu guide http://userguide.icu-project.org/strings/utext

So use UAX#29 word breaking, but only return words and numbers; not whitespace or punctuation. I don't think that

[2015-04-11 08:07] #21291 closed

[2015-04-11 08:15] SimonSapin commented on #15628
I disagree with the claim that putting something in `std` will automatically make it high quality. The people with domain-specific knowledge, those would you would want to do reviews, are not necessarily the same people as the `std` maintainers. On the contrary, being forced to provide the same stability guarantees as the rest of `std` would make it harder to fix issues that might be found later:

[2015-04-11 09:27] vberger commented on #20999
I just tested it again on the playpen, and it seems to compile fine now.
Should I close this issue ?

[2015-04-11 09:52] njwhite commented on #24311
Ah yes:
[code]

[2015-04-11 10:00] maghoff opened #24322 "ICE when attempting to explicitly type function pointer variable"
I get an internal compiler error on the input detailed below.

I tried this code:

    struct B;

    impl B {
    	fn func(&self) { }
    }

    fn main() {
    	let x:&fn(&B) = &B::func;
    }

I expected to see this happen: Maybe it should work like `let x = &B::func`, but I'm guessing that I have some error here. I get an error message when I try a variant of the above;

    fn main() {
    	l

[2015-04-11 10:05] maghoff commented on #24322
I attempted a small search for similar issues, but didn't quite know what to look for. In any event, I was unable to identify a duplicate :)

I am currently trying to build rustc from source to see if I will be able to get a backtrace that way.

[2015-04-11 11:23] alfiedotwtf opened #24324 "Duplicate trait functions in documentation for std::fs::File"
Currently, the documentation for std::fs::File is showing duplicate content:

    http://doc.rust-lang.org/1.0.0-beta/std/fs/struct.File.html#

    ...
    impl AsRawFd for File
      fn as_raw_fd(&self) -> RawFd
    impl FromRawFd for File
      fn from_raw_fd(fd: RawFd) -> File
    impl AsRawFd for File
      fn as_raw_fd(&self) -> RawFd
    impl FromRawFd for File
      fn from_raw_fd(fd: RawFd

[2015-04-11 11:24] carribus opened #24325 "inverse<T>() example in the Generics/Traits documentation does not work in beta 1.0.0"
The inverse<T>() function introduced in the Generics chapter and 'solved' in the Traits chapter does not actually work. Even after adding the #![feature(std_misc)] attribute to the crate, it refuses to compile:
[code]
yields:
[code]

The solution should look like this:

[code]

[2015-04-11 11:30] mahkoh opened #24326 "There is no lang item that makes `+` an unsafe operation"
[code]
relies on the user knowing about the unsafety.

[2015-04-11 11:38] #21732 closed

[2015-04-11 11:40] #22840 closed

[2015-04-11 11:42] pnkfelix commented on #24311
Closing as fixed by #22544 (and that PR carried a test).

[2015-04-11 11:42] #24311 closed

[2015-04-11 11:44] pnkfelix commented on #21526
cc me

[2015-04-11 12:43] huonw commented on #24326
Hm, I'm confused; where is this `impl`? `grep` doesn't find anything in `core`, and  `fn main() { (0 as *mut u8) + 1; }` doesn't compile.

[2015-04-11 12:45] bjeanes commented on #22547
New syntax doesn't feel needed for differentiating the types of comments. Either `///` is preceded by whitespace or by content. It seems like a reasonable rule that comments following content apply to that content, not to something on the next line.

[2015-04-11 12:57] mahkoh commented on #24326
It doesn't exist in the standard library that comes with the distribution.

[2015-04-11 13:24] maghoff opened #24327 "ICE when assigning to member function pointer variable"
When I attempt to assign to a variable of type `&fn(&B)`, other than in the declaration of the variable, I get an unexpected panic in the compiler.

I tried this code:

[code]

I expected to see this happen: It should compile.

Instead, this happened: I got an internal compiler error:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:
[code]

This issue could be related to a simila

[2015-04-11 13:25] maghoff commented on #24322
I have now been able to try with a locally compiled `rustc`:

`rustc --version --verbose`:

rustc 1.0.0-dev (3a8275397 2015-04-11) (built 2015-04-11)
binary: rustc
commit-hash: 3a8275397a156b17331e16393e5e1ba89ab4de3f
commit-date: 2015-04-11
build-date: 2015-04-11
host: x86_64-unknown-linux-gnu
release: 1.0.0-dev

Backtrace:

[code]

[2015-04-11 13:26] maghoff commented on #24322
This issue may be related to a similar issue I also bumped into: https://github.com/rust-lang/rust/issues/24327

[2015-04-11 13:35] arielb1 commented on #24326
@mahkoh

Of course it does not. Carelessly using pointer arithmetic can invoke UB very easily. That's why we put it behind `<*T>::offset`.

[2015-04-11 13:41] mahkoh commented on #24326
[code]

Wow, `offset` is obviously much safer and makes the code easier to read. Clearly this has nothing to do with the lack of unsafe operators. My bad.

[2015-04-11 13:47] #21400 closed

[2015-04-11 13:47] #21486 closed

[2015-04-11 14:05] pnkfelix commented on #24326
@mahkoh this style of conversation is unproductive, and you *know* it violates community norms.  Your constant search for ways to express yourself that antagonize the community wastes a lot of everyone's time.

if this bug is "we need a variant of the `Add` trait where the `add` method is marked unsafe, so that uses of `a + b` for such implementing types can be forced to be in `unsafe` blocks", th

[2015-04-11 14:18] mahkoh commented on #24326
You seem to have missed the title of the issue:

**There is no lang item that makes `+` an unsafe operation**

What exactly is unclear about that?

Mozilla's standard library is completely irrelevant when it comes to lang items that are a feature of the language. `ptr + 1` already works in other people's standard libraries but has to come with a big warning in the documentation that it's unsafe.

[2015-04-11 15:40] GuillaumeGomez commented on #24319
I added them, I'll open a PR.

[2015-04-11 16:49] TeXitoi commented on #24153
That would be great for the binarytree benchmark on http://benchmarksgame.alioth.debian.org/ (related issue: https://github.com/rust-lang/rfcs/issues/665)

[2015-04-11 17:17] arielb1 opened #24331 "LLVM undef with overflowing floating-point -> integer casts"
An overflowing fp -> int cast, for example:
[code]
[playpen](http://is.gd/0sDILD)

Causes LLVM to not initialise the parameter passed to `show`:
[code]

[2015-04-11 17:18] SimonSapin commented on #24153
I published a rewrite of `TypedArena`: https://crates.io/crates/typed-arena

It runs on beta/stable. It’s probably less efficient, but uses much less unsafe code internally. (It’s based on `Vec<Vec<T>>` where inner vectors never grow beyond their initial capacity, instead of raw pointers and manual drops.)

[2015-04-11 17:18] #24153 closed

[2015-04-11 17:41] tsion commented on #7970
I ran into this when I tried to use `println!()` to print just a newline. Worse, I had an unrelated `macro_rules` at the start of the file, which the error message pointed to. :disappointed:

[2015-04-11 17:48] Diggsey commented on #24326
Surely by rust's logic, pointer arithmetic is not unsafe, for the same reason that converting a reference to a pointer is not unsafe: it's only unsafe to actually dereference such a pointer?

Regardless, it seems quite plausible that there might be other cases where addition/other operator should be unsafe, but the "more flexible operator overloading" rfc would fix that.

[2015-04-11 17:52] arielb1 commented on #24326
@Diggsey

Invalid pointer arithmetic is LLVM UB - if you do it, LLVM will "miscompile" your code.

@mahkoh

Rust is meant to be used with `libcore`. Because of the orphan rules, the only crate which can implement `+` for unsafe ptrs is `libcore`. It doesn't and won't, intentionally.

Anyway, adding a lang-item that makes `+` unsafe is RFC territory, and is currently a part of rust-lang/rfcs#420.

[2015-04-11 17:58] achanda opened #24332 "Code example in std::net::lookup_host is not working"
Th example here: https://doc.rust-lang.org/std/net/fn.lookup_host.html shows

[code]

[2015-04-11 18:06] kmcallister commented on #24326
The core team won't enforce the code of conduct on our GitHub threads. Rather the "norm" that's been established is infinite excuses and "last" chances for this kind behavior. mahkoh has been at it for at least 5 months (I can provide specific links) and strcat was tolerated for several years.

Don't be surprised when you start to lose more contributors over breaking the promise the CoC represents

[2015-04-11 18:24] mahkoh commented on #24326
It's unsafe because rustc uses the LLVM inbounds attribute and LLVM says that invalid pointer arithmetic with this attribute is UB even if the pointer is never used afterwards.

I'm using it without libcore.

[2015-04-11 18:38] arielb1 commented on #24326
@kmcallister

Well, str​cat's objections at least were *smart*.

@mahkoh

Providing your own libcore isn't supported.

[2015-04-11 18:38] arielb1 commented on #24326
Could someone close this?

[2015-04-11 18:43] BurntSushi opened #24334 "unintended provocation of thread_local_internals feature"
I have no idea what's causing this, but on the current nightly, this fails:

[code]

with "use of unstable library feature 'thread_local_internals'." Enabling the feature works, but this should be a stable function. Interestingly, tweaking the `use` works:

[code]

I wonder if it's because there is a (private) sub-module called `scoped` which has a module-wide `unstable` marker.

Version info:

[c

[2015-04-11 18:47] mahkoh commented on #24326
@arielb1 It was my pleasure.

[2015-04-11 18:53] #24326 closed

[2015-04-11 19:08] kwantam commented on #15628
@SimonSapin I agree with your concerns about stability and domain knowledge, but I fear you might be overselling them slightly.

My understanding is that marking it `#[stable]` doesn't mean bugs can't be fixed! though obviously it does mean we need a sensible decision about what to call things so that the interfaces don't change.

As far as domain knowledge goes, in general I agree but in this cas

[2015-04-11 19:21] mahkoh commented on #24326
If this repo cannot even be used for language only topics that are unrelated to the garbage that is the rest of the distribution then it's pretty useless. That is very good to know!

[2015-04-11 19:21] #15270 closed

[2015-04-11 19:22] #16044 closed

[2015-04-11 19:22] #16221 closed

[2015-04-11 19:22] #16845 closed

[2015-04-11 19:22] #17071 closed

[2015-04-11 19:22] #17427 closed

[2015-04-11 19:22] #17452 closed

[2015-04-11 19:22] #17460 closed

[2015-04-11 19:22] #17697 closed

[2015-04-11 19:22] #18380 closed

[2015-04-11 19:23] #18618 closed

[2015-04-11 19:23] #17406 closed

[2015-04-11 19:23] #18358 closed

[2015-04-11 19:23] #18569 closed

[2015-04-11 19:23] #18744 closed

[2015-04-11 19:23] #18873 closed

[2015-04-11 19:23] #18902 closed

[2015-04-11 19:23] #19218 closed

[2015-04-11 19:23] #20658 closed

[2015-04-11 19:23] #20884 closed

[2015-04-11 19:24] #21465 closed

[2015-04-11 19:24] #21851 closed

[2015-04-11 19:24] #22222 closed

[2015-04-11 19:24] #22406 closed

[2015-04-11 19:24] #22412 closed

[2015-04-11 19:24] #23350 closed

[2015-04-11 19:24] #23984 closed

[2015-04-11 19:24] #23903 closed

[2015-04-11 19:24] #23679 closed

[2015-04-11 19:24] #23596 closed

[2015-04-11 19:24] #23523 closed

[2015-04-11 19:24] #23514 closed

[2015-04-11 19:24] #23463 closed

[2015-04-11 19:25] #23348 closed

[2015-04-11 19:25] #20638 closed

[2015-04-11 19:25] #22965 closed

[2015-04-11 19:25] #23258 closed

[2015-04-11 19:25] #23308 closed

[2015-04-11 19:26] kmcallister commented on #22227
Fuck you @mahkoh, I did the effort to turn your shitty ticket into a real, good idea, and now you are closing it out of pure spite.

[2015-04-11 19:29] mahkoh commented on #22227
Yep, it took me one year to realize how shitty this whole project is. Imagine that effort!

[2015-04-11 19:34] kmcallister opened #24335 "Indicate compilation progress in a form useful to end users"
Was #22227, closed due to vandalism.

@sanxiyn said:

To which I replied:

+1. We can use control codes to update parts of the terminal without spewing output.

I will think about how to integrate this with `--color` and the drawing characters.
I'm imagining that rustc in whiz-bang fancy terminal mode would display progress on a single line, updated at each stage:

[code]

And just that last "succ

[2015-04-11 19:35] kmcallister commented on #22227
Closing this in favor of #24335. Thanks for the pointless make-work.

[2015-04-11 19:35] #22227 closed

[2015-04-11 19:51] gsingh93 opened #24336 "Show library version in documentation generated by rustdoc"
I recently was using a library whose online documentation was out of date. One of the method signatures had changed and that wasn't reflected in the documentation. I checked the source code of the project to confirm that the signature had changed, but it also would have been nice to see on the documentation page that the version I was using didn't match up to the documentation version.

[2015-04-11 20:18] blaenk commented on #24335
Yes this would be so cool.

[2015-04-11 20:30] Blei commented on #23403
The clone problem has been solved by #24168. Thanks @kballard!

[2015-04-11 20:32] #23403 closed

[2015-04-11 20:59] #19097 closed

[2015-04-11 20:59] #24241 closed

[2015-04-11 20:59] #20772 closed

[2015-04-11 20:59] #20939 closed

[2015-04-11 20:59] #21950 closed

[2015-04-11 20:59] #22034 closed

[2015-04-11 21:04] rprichard commented on #24334
This change was introduced just recently: https://github.com/rust-lang/rust/commit/f651bea822c7c1b1dcc317e089709804a97e2236.

I reproduced the problem without using anything thread-related:

mycrate.rs:
[code]
main.rs:
[code]
Commands:
[code]
Output:
[code]
 - If I remove the `unstable` attribute from the `mycrate::bar` module, the code gives me the `use of unmarked library feature` error.
 - I ma

[2015-04-11 23:13] tomjakubowski commented on #24305
cc me

[2015-04-11 23:20] kballard commented on #17606
OIBITs didn't solve this. Well, it solved it for `Copy`, but the traits that have default impls (e.g. `unsafe impl Sync for .. { }`) still don't show up in rustdoc. A trait will show the negative impl if it has one, but not if it inherits its negative impl from a field.

[2015-04-11 23:22] kballard commented on #17606
Nominating. I really think this needs to be fixed. Not having `Sync`/`Send` properly documented on types can be a real source of confusion. As this is a documentation issue, it could come after 1.0, but if we're expecting a bunch of people to start jumping into Rust as soon as 1.0 is released (which seems reasonable), then we should really try and have this done before then.

[2015-04-11 23:28] joliv commented on #22501
I would think. Could someone with authority close this?

[2015-04-11 23:38] tomjakubowski commented on #24336
There will need to be some coordination with cargo because "crate versions" are not something even rustc knows about.

[2015-04-11 23:40] tomjakubowski commented on #24336
The `html-after-content` argument might be useful.

[2015-04-12 00:37] huonw opened #24338 "Trait generic over lifetime causes uses of associated types to fail to infer properly inside default methods"
[code]

[code]

Strangely, switching to the commented out form works fine, i.e. just moving the body of the code out of the default method.

Nominating since I am unsure how important we regard inference issues like this to be.

[2015-04-12 01:09] kballard commented on #24141
RFC has been submitted as rust-lang/rfcs#1058

[2015-04-12 02:29] vi commented on #23389
Another case:
`macro_rules! q { ($($w:ident,$t:$ident)*) => {}}  q!();`

Playpen: http://is.gd/CYZPiW

[2015-04-12 02:44] tomjakubowski commented on #17606
I think the easiest solution is to walk all the impls for the type and check whether !Sized or !Share are among them. If not, synthesize a positive impl for documentation purposes. 

—
Sent from Mailbox

On Sat, Apr 11, 2015 at 4:22 PM, Kevin Ballard <notifications@github.com>
wrote:

[2015-04-12 04:38] timetofly commented on #22638
This code doesn't compile too.

    struct Button<T: FnMut()> {
        f: Option<T>,
        title: &'static str,
    }

    impl<T: FnMut()> Button<T> {
        fn new() -> Button<T>
        { Button { f: None, title: "ClickMe" } }

        fn set(&mut self, f: T)
        { self.f = Some(f); }

        fn title(&mut self, title: &'static str)
        { self.title = title; }

        fn click(&mu

[2015-04-12 04:47] lfairy commented on #24118
Implemented in #22358

[2015-04-12 06:48] #23896 closed

[2015-04-12 07:17] tomjakubowski commented on #18226
This was brought up in a discuss thread as well: http://internals.rust-lang.org/t/newcomer-to-rust-my-experience/1816/28

[2015-04-12 07:57] vhbit commented on #24154
@steveklabnik I'd say 'A-iOS' is incorrect label as this is related to Aarch64 in general and can happen on Android too.

[2015-04-12 08:24] pnkfelix commented on #24154
@vhbit (to be fair i suspect @steveklabnik was working from the description in the title)

[2015-04-12 08:27] vhbit commented on #24154
@steveklabnik, may I ask you also to cc me on issues which you mark with iOS label - till today I didn't know it exists at all as I don't track issues.

[2015-04-12 08:31] vhbit commented on #24154
@pnkfelix I didn't mean to offense anyone, I apologize if that sounded like that - my intention was just to clarify issue

[2015-04-12 09:03] huonw commented on #22501
Thanks!

[2015-04-12 10:01] pornel commented on #23459
:+1:

[code]

[2015-04-12 10:04] zwippie commented on #15684
Same happens on Ubuntu 14.04.2 LTS with rust 1.0.0-beta. Adding `export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib` to `.zshrc` solved it.

[2015-04-12 10:28] semarie opened #24345 "It seems impossible to link rust with specific version of libstdc++"
Under OpenBSD (like others BSD) it is possible to have installed at same time multiple versions of compiler (gcc-4.2, gcc-4.8 and gcc-4.9 for example).

When compiling rustc under this environnement, the linkage with libstdc++ or libgcc always occurs to be the more elevated version. As result, it links always with libstdc++ from gcc-4.9, even if build with gcc-4.8, resulting a binary with wrong de

[2015-04-12 10:48] kornelski opened #24346 "Backtrace does not include file and line number on non-Linux platforms"
When a Rust program run with `RUST_BACKTRACE=1` panics it outputs backtrace which only has function names (with noisy hashes), but doesn't include file names and line numbers.

[code]

During development (not necessarily in release builds), I'd prefer something like:

Sometimes line numbers are very important, e.g. if the panic is some generic out-of-bounds assertion, and the function uses vectors

[2015-04-12 10:51] pornel commented on #21102
That would be great, given that Rust's backtrace is less complete than lldb's: #24346

[2015-04-12 10:52] pornel commented on #20978
Oops, I've filed a duplicate #24346, because it doesn't work for me in rustc 1.0.0-nightly (6436e348e 2015-04-08) (built 2015-04-08)

[2015-04-12 11:43] ehiggs commented on #23389
I had a crash in a bad macro which hits the same bug as vl. Note that his/her error has the following which is a different stack trace:

[code]

I'm on the latest beta; not nightly.

[2015-04-12 11:54] huonw commented on #24346
This does work on some platforms for binaries compiled with debug-info (which `cargo run` does by default, unless you've edited profiles in the `Cargo.toml`); what are you on?

E.g. on x86-64 linux, I get:

[code]

[code]

[2015-04-12 11:58] huonw opened #24348 "`include_bytes!` should add file dependencies like `include_str!`"
This causes cargo to misbehave: https://github.com/rust-lang/cargo/issues/1510

Tagging as E-easy, since @tomaka [has tracked down](https://github.com/rust-lang/cargo/issues/1510#issuecomment-92031760) the appropriate fix.

[2015-04-12 13:08] steveklabnik commented on #24154
Yeah, I just try to ensure each issue has _at least_ one label, but I'm not always perfect with them.

@vhbit I can try to remember :)

[2015-04-12 13:21] pnkfelix commented on #24154
@steveklabnik do you know if there is a way to utilize the github's API so that someone could register to receive notices of such labels?

[2015-04-12 13:30] steveklabnik commented on #24154
Not off the top of my head. https://developer.github.com/v3/issues/labels/ could probably make it work, I'd bet.

[2015-04-12 14:21] Munksgaard commented on #23707
It seems like PR #23580 is the cause of this issue. Perhaps @nikomatsakis could comment on whether or not this is intentional?

[2015-04-12 14:23] Munksgaard commented on #23707
Specifically, 809a554fca2d0ebc2ba50077016fe282a4064752 compiles my above snippet while 76ead081088d7cc88a4686210b72b60ae12bd7a8 doesn't.

[2015-04-12 14:35] pornel commented on #24346
I'm using rustc 1.0.0-nightly (6436e348e 2015-04-08) (built 2015-04-08) on OS X 10.10.3.

[2015-04-12 16:54] pczarn commented on #24004
this is done

[2015-04-12 17:00] haskelladdict opened #24352 "internal compiler error using rustc 1.0.0-beta"
The simplified code below results in an ICE using the following rust version

rustc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)
binary: rustc
commit-hash: 9854143cba679834bc4ef932858cd5303f015a0e
commit-date: 2015-04-02
build-date: 2015-04-02
host: x86_64-apple-darwin
release: 1.0.0-beta

---- CODE resulting in ICE -------
[code]
----------------------------------

The issue appears to be

[2015-04-12 17:03] hawkw commented on #23762
:+1:

[2015-04-12 17:21] ptal commented on #24294
The commit https://github.com/ptal/Rust.mcp/commit/be05cf0cfea4a7922975478aaa8df9bb02602c40 make the ICE dissapeared. It certainly linked to the `Event` associated type of the trait `Variable` that I extracted outside of the trait in this commit.

[2015-04-12 17:57] tbelaire commented on #12327
It'd be also a good idea to not just use #[cfg(not(test))] on main, since that'll cause spurious import not used errors on functions that are just imported for use in main.

[2015-04-12 18:52] alserio opened #24353 "internal compiler error (rust 1.0.0-beta) with early return"
The following code produces an ICE on playpen with rust 1.0.0-beta or nightly:

[code]
[code]
The code compiles when the if condition is false (or not immediately true), when the last line uses an explicit return or when the value is returned without let expression.

[2015-04-12 19:52] cybergeek94 commented on #24313
What would be the preferred fix here? Have `thread::current()` return some sane value instead of panicking itself?

[2015-04-12 20:27] sfackler commented on #24353
bactrace:
[code]

[2015-04-12 21:14] goertzenator commented on #15018
Can this be brought back as "concat_bytes!" ?  Byte literals are great, but the concat part has been lost.  My use case is to append a null byte to byte literals at compile-time.  bytes! would have been great for that.  We have concat! and concat_idents!, so concat_bytes! would seem to make sense.

[2015-04-12 21:16] SimonSapin commented on #15018
Yeah, makes sense. The best way to make it happen is probably an RFC baked by a pull request.

[2015-04-12 21:16] cybergeek94 commented on #24041
I'm not sure I follow. `&MyTrait` and `Box<MyTrait>` are the same width, neither can be zero, and the second half of the enum could be `[0us; 2]` or empty space. I don't see a way to deduce the variant without a discriminator. Maybe I'm missing something.

[2015-04-12 21:31] Diggsey commented on #24041
The layout of the Boxed variant could theoretically be altered such that `Box<MyTrait>` occupies the same space as the `[usize; 2]` from the Inline variant. The first `usize` bytes could then be used as the discriminator, where 0 => Boxed, _ => Inline.

I'm not sure how worthwhile this is, since it's very specific, and the algorithm to calculate the best layout for every possible scenario is at th

[2015-04-12 21:31] dotdash commented on #24041
If you put the box in the same space as the array, i.e. in the second half,
then you can identify the Boxed variant by the first half being set to zero.
Am 12.04.2015 23:17 schrieb "Austin Bonander" <notifications@github.com>:

[2015-04-12 21:33] pnkfelix commented on #22932
(I think I have something put together to address this.)

[2015-04-12 21:38] Virtlink opened #24354 "Confusing error "trait is not implemented for the type" on syntax error"
This code:

[code]

...give me this error:

[code]

This is confusing. The trait `B` _is_ implemented for the type `BImpl`.

Instead, I have to change this:

[code]

...into this:

[code]

The error should make that clear.

[code]

[2015-04-12 22:21] ebfull commented on #24036
If you're satisfied the issue can be closed now.

[2015-04-12 22:38] carllerche commented on #24002
A new rust user hit the following when using mio. Instead of doing `mio::Io::new(...)` they did `mio::Io.new(...)`, this failed with the error message `unresolved name 'mio::Io'` implying that the type could not be found / loaded. There is most likely a better error message for this case.

Code:

[code]

Output:

[code]

[2015-04-12 22:42] #24036 closed

[2015-04-12 22:42] richo commented on #24036
Thanks!

[2015-04-12 22:48] nstoddard opened #24355 "Ampersands in documentation are drawn incorrectly in some browser configurations"
On my system, ampersands in the documentation are drawn incorrectly in Chrome: https://i.imgur.com/FmG93G5.png. I'm using Windows 7, 64-bit. This doesn't happen in Firefox.

I'm thinking this could be a bug in Chrome, but I haven't seen it on any other site. It seems to happen on any page generated with rustdoc. Ampersands in the examples aren't affected.

[2015-04-12 23:05] nstoddard commented on #24355
It looks like this is similar to #16372. I deleted the Source Code Pro font, which fixed it. Since I'm at least the second person to come across this issue, maybe we should try to find a more permanent solution. Is it possible for rustdoc to automatically download and use the most recent version of the font? If not, maybe this issue should at least be documented somewhere.

[2015-04-12 23:05] niconii opened #24356 "Internal compiler error from an incorrect Deref impl"
[This code](http://is.gd/WGEmQI) produces an ICE for both beta and nightly. The code and backtrace are reproduced below:
[code]
[code]

[2015-04-12 23:06] #16602 closed

[2015-04-13 01:19] bkoropoff commented on #24085
It looks like this may have been introduced in 83ef3042de889db07b819fc6b2802cd0ace7e21c.  Prior to this, checking for `Copy` bounds in `expr_use_visitor` was done via `ty::type_moves_by_default`, which creates a throw-away inference context before calling into trait selection.  It now goes through the `Typer`; the impl of `Typer` for `FnCtxt` uses its own inference context.  This causes region con

[2015-04-13 01:55] huonw opened #24357 "Error message for reuse of variable moved into a closure uses closure type instead of variable type"
[code]
[code]

Presumably the error message should say ``because it has type `NoCopy` which is non-copyable``.

[2015-04-13 02:20] graue opened #24358 "Libraries not found after 1.0.0-beta install on Linux"
I installed as per the instructions, and ended up with rustc unable to find its shared libraries:

[code]

But everything seems to be there:

[code]

I'm running Ubuntu 14.04.2 LTS.

[code]

Appreciate any help. Searched the issue tracker and found nothing relevant.

[2015-04-13 02:32] nstoddard opened #24359 "It's no longer possible to implement From in certain cases"
I'm working on a linear algebra library where I have generic vectors and I use the `From` trait to convert between different types of vectors. I have code similar to the following:

[code]

(The real code uses `NumCast` for the bound on U, instead of `From`, but I've changed it so the code is simpler and doesn't require external libraries.)

This used to work fine, but at some point in the past co

[2015-04-13 02:58] steveklabnik commented on #24358
Try running ldconfig?

[2015-04-13 02:59] steveklabnik commented on #24358
/cc @brson

[2015-04-13 03:03] genbattle commented on #24358
I got the same issue installing on Ubuntu 14.04  using rustup.sh. Running `sudo ldconfig` seems to have fixed it.

[2015-04-13 03:37] graue commented on #24358
Thanks, `sudo ldconfig` fixed the issue. @steveklabnik, perhaps this is worth adding to the install instructions? Otherwise, feel free to close.

[2015-04-13 03:52] theemathas opened #24361 "Literal overflow warnings should only apply to decimal."
E.g. 0x8888i16 should not warn. Similar to binary operations | and &, hexadecimal, binary, and octal literals are often used to specify the concrete representation in memory whereas decimal literals are used to represent abstract values.

Also note that -(0x8000i16) which evaluates to -32768 (hex: 0x8000i16, which is the minimum value of i16) currently does not warn.

cc #22020

reincarnation of #

[2015-04-13 03:59] rprichard commented on #24358
The rust installer can run `ldconfig`, but the rustup script is apparently turning it off?
 - https://github.com/rust-lang/rustup/blob/e74a90e17b0293570832eabd023472c87a3368d2/rustup.sh#L467
 - https://github.com/rust-lang/rust-installer/blob/ebc6b04c29591108d3f28e724b4b9b74cd1232e6/install-template.sh#L682

[2015-04-13 04:20] alexcrichton commented on #24307
This seems like a somewhat obscure flag to be passing *by default*, but are you aware of any other libraries which do this by default?

[2015-04-13 04:59] mason-larobina opened #24363 "ICE: the type of this value must be known in this context"
While fiddling with some code I stumbled upon an internal compiler error with the following:
https://gist.github.com/mason-larobina/9e7dd78e4b605329800c

Here is the backtrace:

[code]

[2015-04-13 05:15] alexcrichton commented on #24359
Unfortunately it's not possible to write an impl such as this because you would need to inform the compiler that `T` != U` which is not currently expressible. This would likely be served by a language feature called specialization where multiple overlapping implementations would be allowed but they'd be prioritized accordingly.

This is working as expected, though, so I'm going to close this. Than

[2015-04-13 05:15] #24359 closed

[2015-04-13 05:29] tomaka opened #24364 "Regression from beta: closure may outlive the current function, but it borrows `...`, which is owned by the current function"
As reported in [this thread](http://internals.rust-lang.org/t/regression-report-beta-2015-04-03-vs-nightly-2015-04-10/1860/5), the two examples [here](https://github.com/tomaka/glium/tree/891b83655a3b6fc1a059ba7c9808e357b973b3e9/examples-disabled) no longer compile with the nightly but they *do* compile with the beta (tested with the 2015-04-12 nightly).

[code]

I didn't manage to reproduce on a

[2015-04-13 06:35] mquinn opened #24365 "ICE: ID not mapped to struct fields"
I received an internal compiler error "ID not mapped to struct fields" while attempting to compile the code below (relevant parts excerpted for brevity). The important part is marked "BEGIN INTERNAL COMPILER ERROR CAUSING CODE;" note that this code will refuse to compile for several reasons (for loop should be using .iter(), string concatenation needs &str rather than String), so I expected to see

[2015-04-13 07:07] imron commented on #24250
This is happening because the underlying call to getaddrinfo doesn't provide an addrinfo as a hint, and so the linked list of returned addrinfo structs contains addrinfo for both TCP and UDP protocols.

A simple fix would be to simply pass in a hint specifying only one protocol (e.g. TCP)

However I'm not sure how often you'll find a hostname that has UDP available but not TCP and vice versa, and

[2015-04-13 08:33] killercup commented on #24355
Is there a reason why for the _Source (\w*) Pro_ fonts the locally installed version is requested first, but not for _Fira Sans_ (cf. rustdoc's [`main.css`](https://github.com/rust-lang/rust/blob/49798c597f810fbce14959bdbcdae0b635a5bde9/src/librustdoc/html/static/main.css#L40))? Are there many people who have those installed? (Even then, why not give _Fira_ the same chance?)

If we are concerned a

[2015-04-13 08:37] ebfull commented on #24365
Smaller demonstration of the ICE:

[code]

[2015-04-13 08:37] oli-obk commented on #24365
minimal example:

[code]

[PlayPen](http://is.gd/bVZ6Ye)

[2015-04-13 09:21] ebfull commented on #24365
It's actually even more subtle than that:

[code]

It's trying to suggest field names for you, thinking it's a struct, but I'm not sure how it manages to think that. Anyway, keep in mind this is intentional language behavior. You cannot address a field name of a variant of an enum without destructuring with a pattern match first.

[2015-04-13 10:32] dotdash commented on #24353
Same ICE with:
[code]

[2015-04-13 11:18] steveklabnik commented on #24358
It used to tell you to run ldconfig if you needed to. Let's see what @brson says

[2015-04-13 12:53] huonw opened #24372 "Guard types should implement more traits"
Types like `std::sync::MutexGuard` are semantically just a `&mut` with a destructor, and so it makes sense for them to implement the same sort of traits, e.g. `Display` and `Debug`.

[2015-04-13 12:55] huonw opened #24373 "Rendered where clauses in `fn` docs need more linebreaks"
E.g. http://doc.rust-lang.org/nightly/std/thread/fn.scoped.html is all on one line

[code]

It'd be much nicer as

[code]

or even broken more.

[2015-04-13 13:12] SimonSapin commented on #24280
@steveklabnik, does "needstest" include comparative benchmarks as well?

[2015-04-13 13:12] SimonSapin commented on #24280
Or is it possible to test directly the output of the optimizer to see that some bit of code that ends up doing nothing is actually optimized away?

[2015-04-13 13:22] lambdaburrito opened #24374 "Add _SC_NPROCESSORS_ONLN constants for linux and macos"
There is a bug in `num_cpu` where the call to `sysconf` is hard-coded to `84` so doesn't work when on Mac OS X; which consequently brakes a lot of libraries when used on Mac OS X.

We need to add constants to `numcpu` so this type of bug doesn't occur again.

https://github.com/seanmonstar/num_cpus/issues/2

[2015-04-13 13:28] steveklabnik commented on #24280
I don't know off the top of my head, to be honest.

[2015-04-13 14:23] mossberg opened #24375 "ICE: panic on static array element in match arm"
I tried this code (http://is.gd/NU1Rx1):

[code]

and got this output:

[code]

so here is my bug report!

[code]

[2015-04-13 14:31] nagisa commented on #22753
[code]

currently results in

[code]

So this can be closed.

[2015-04-13 14:32] nagisa commented on #22651
The sample in the report now results in

[code]

So this can be closed.

[2015-04-13 14:34] nagisa commented on #19495
This now results in

[code]

So this can be closed.

[2015-04-13 14:36] nagisa commented on #16403
This now fails with

[code]

[2015-04-13 14:44] #22651 closed

[2015-04-13 14:44] #19495 closed

[2015-04-13 14:44] #22753 closed

[2015-04-13 14:54] nagisa commented on #10883
I think

[code]

is an equivalent minimal test case.

[2015-04-13 15:11] Passw opened #24378 "Build rust failure under Ubuntu 15.04 with gcc 4.9.2"
[code]

[code]

[code]

[2015-04-13 15:41] oli-obk commented on #21906
I think the issue is actually that not the return value's mutability is used but the function argument's mutability.

The following code calls a mutating function that returns an immutable reference. After that I cannot take immutable references.

[code]

[Playpen](http://is.gd/qiKsXL)

[2015-04-13 15:55] Byron commented on #23286
Same here, this was my code:

[code]

[2015-04-13 16:32] nikomatsakis commented on #24085
@bkoropoff hmm good catch, sorry I let this slip through last week :( I'll try to pay it some attention now. The current code does not seem entirely wrong to me, though. I have to think this through a bit.

[2015-04-13 16:41] arielb1 commented on #24363
Minified:

[code]

[2015-04-13 16:47] alexcrichton commented on #18981
I haven't seen this in quite some time, and I touched up a few suspicious areas in the new process module when it went through the most recent I/O reform, so I'm going to tentatively close this in hopes that it's actually fixed!

[2015-04-13 16:47] #18981 closed

[2015-04-13 16:51] alexcrichton commented on #16148
These are being removed shortly, so closing.

[2015-04-13 16:51] #16148 closed

[2015-04-13 17:13] Virtlink commented on #24108
I have the same issue. It worked fine in nightly c89de2c56 (2015-03-28), but now in nightly 47def3ef2 (2015-04-13) I get these errors when trying to link my standalone kernel with libcore:

    libkernel-7b2dcbc423fd2cc0.a(r-core-core-bffd6497cd08eb80.o):
    In function `core::option::Option<T>::and_then<(&core::fmt::ArgumentV1, &&str),closure>':
    libcore/src/option.rs:627: undefined reference

[2015-04-13 17:17] pnkfelix commented on #22496
Reopening, apparently `us`/`is` is still being silently accepted?

Example on [playpen](http://is.gd/mIpSkK):

[code]

See also http://internals.rust-lang.org/t/how-did-the-is-us-suffixes-survive/1871

[2015-04-13 17:18] pnkfelix commented on #22496
Nominating: I want to figure out if a fix for this needs to be backported to beta, or to 1.0, or if we are stuck accepting it for now (or forever).

[2015-04-13 17:44] semarie commented on #24108
@Virtlink you could try to explicitly link with libgcc by providing `-lgcc` on rustc command-line.

[2015-04-13 17:45] japaric opened #24382 "UFCS: incorrect "multiple applicable methods in scope" error"
### STR

[code]

I'm not familiar with how UFCS is implemented, but my wild guess is that the compiler is not using the type of the `0u8` argument to discard the `convert::From<u16>` candidate. I also find suspicious that the note message reports `cast::From`/`convert::From` instead of `cast::From<u8>`/`convert::From<u16>`, might be related.

### Workaround

rename `cast::From::from` to `cast::Fro

[2015-04-13 17:50] Virtlink commented on #24108
@semarie Can that be done through Cargo too? As I've only used Cargo up to now.

[2015-04-13 18:12] brson commented on #21149
Done.

[2015-04-13 18:12] #21149 closed

[2015-04-13 18:16] semarie commented on #24108
I really don't known... (I don't have cargo on openbsd). You could try to add
`#[link(name="gcc")]` in your file.

[2015-04-13 18:19] nagisa commented on #24317
`Box` is just a wrapper around plain pointer, while `Rc` and `Arc` are not. This is also https://github.com/rust-lang/rfcs material.

[2015-04-13 18:20] brson commented on #20832
This appears to be fixed.

[2015-04-13 18:20] #20832 closed

[2015-04-13 18:42] ghost opened #24384 "rustc silently ignores a class of errors in flexible target json files"
Currently `rustc` will allow for extra fields to be added to flexible target json without notifying the user, even with `--verbose`.  For example, the following is accepted:

[code]
- `dynamic_linking` has a underscore separator instead of a hyphen.
- `morestack` is of type bool, but a string was provided
- `pre-link-args` takes an array of strings, but a string was provided

The last three entrie

[2015-04-13 18:57] nikomatsakis commented on #24317
My feeling is that making `Rc`, `Arc`, and other "smart pointer" types "fundamental" probably does make sense, but I'm still reluctant to use this attribute too widely until we have a better feeling for what changes (if any) we want to make to coherence. i.e., is `#[fundamental]` the actual scheme that we want or what?

If we do decide the fundamental IS the scheme we want, then I would probably a

[2015-04-13 19:31] kmcallister opened #24387 "Use Unicode line drawing characters for spans"
![example](http://i.imgur.com/G2lm9I9.png)

See discussion on old PR #21406. @Manishearth expressed interest in reviving this.

[2015-04-13 19:32] kballard commented on #22033
This does not reproduce for me anymore. @pnkfelix I'm ok with closing this, unless you think it's worth trying to track down when the crash disappeared in order to figure out whether it's actually fixed or simply became harder to trigger.

[2015-04-13 19:39] arielb1 commented on #24363
I think the problem is the rather interesting match in writeback.rs:123. cc @nikomatsakis.

[2015-04-13 19:40] arielb1 commented on #24363
I mean, it says "Hacky Hack".

[2015-04-13 20:00] sinistersnare commented on #24387
+1 sounds nice.

Would this work on any windows terminals, such as  the shell that comes with mingw?

[2015-04-13 20:26] theWebalyst opened #24388 "Feedback on rust book > Patterns"
I'm reading the book in section order and some sections have obvs been switched and the text still assumes the old order. I'm just going to mention that but not point out the occurrences here. However, it may explain some of my confusion, if a section I'm commenting on is silently assuming I've read something that now occurs later.

Firstly, I like Rust and am enjoying reading about it. The most c

[2015-04-13 20:41] steveklabnik commented on #24388
I think sample output here would be a great idea, for sure.

To answer the questions quickly, the patterns match in order: so the `OptionalInt` case, if `i` is 5, that will match, because it comes before the `..` case.

[2015-04-13 20:56] theWebalyst commented on #24388
Just to clarify further.. So a maximum of one case will 'match'?

On 13/04/15 21:41, Steve Klabnik wrote:

[2015-04-13 20:59] Diggsey opened #24389 "Self should be consistently usable within method bodies"
The following code will fail to compile at "Self::new()" with the message, "error: failed to resolve. Use of undeclared type or module `Self`"
[code]

While either of the following will work:
[code]

The first example should compile as-is.

[2015-04-13 21:20] pnkfelix commented on #24280
(i don't think this qualifies as "needstest"; that is usually applied to issues, usually *bugs*, where the only remaining task post bug fix was to put in a regression test.  The use of the word "test" in the title for this issue is referring to a conditional in the low-level code, not a regression test; not sure if that was part of confusion here or not.  Anyway, removing the E-needstest label.)

[2015-04-13 21:22] pnkfelix commented on #24280
(i would not object, however,  if we used a hypothetical `B-datagathering` label, as in "blocked on data gathering".)

[2015-04-13 21:31] SimonSapin commented on #24280
Ah, yes, "test" in the title was meant as "use an `if` statement".

[2015-04-13 21:41] steveklabnik commented on #24388
Yup.

[2015-04-13 21:49] steveklabnik commented on #24280
@SimonSapin ohhhhhhhhhhh

[2015-04-13 22:21] steveklabnik commented on #24332
We need an explicit `main` here, I think

[2015-04-13 22:21] steveklabnik commented on #24334
With #24362 merged, is this fixed?

[2015-04-13 22:22] alexcrichton commented on #24334
The exact issue at hand has been resolved, but the underlying issue remains. Specifically a module and free-function of the same name but different stability level will cause problems.

[2015-04-13 22:29] brson commented on #22830
Ugh, I'm wishing I had done this a lot sooner. Working on a patch for this now, but it's probably going to cause some breakage. I'll see if I can guess how much.

[2015-04-13 22:32] #24004 closed

[2015-04-13 22:52] brson commented on #22830
Here's the list of current out-of-tree usage of stability attributes https://gist.github.com/brson/1dd62761ee8dff6cdcaa

[2015-04-13 22:56] achanda commented on #24332
@steveklabnik when I click on the codepen link, I do see an explicit `main`. However, the function `foo` was not being called.

[2015-04-14 00:15] steveklabnik commented on #24332
Right, but I think it does the wrong thing, because that main is generated by Rustdoc.

It's only a theory, I could be wrong

[2015-04-14 01:21] Diggsey opened #24397 "64-bit .exe installer for windows has wrong default directory"
The .exe installer tries to install to "C:\Program Files (x86)\Rust", even though it's the 64-bit version. It then fails to create the destination directory due to a permission error.

The .msi installer correctly defaults to "C:\Program Files\Rust <channel> <version>", and has no problems with permissions, I would expect the .exe installer to have the same behaviour.

[2015-04-14 01:58] liigo commented on #24387
Always prefer ASCII characters.

[2015-04-14 02:34] tbelaire commented on #24387
The plan, from [before][1] was to have both a flag `--output-plain-ascii`, as well as environment variables which can be set to `always`, `auto` or `never`, for each of color, having underlines at all, and having unicode underlines.

[1]: https://github.com/rust-lang/rust/pull/21406#issuecomment-74359331

[2015-04-14 05:06] tav opened #24403 "Official FreeBSD Release"
It would be great to have a fully working build of Rust 1.0 on the [downloads page](http://www.rust-lang.org/install.html) for those of us who run FreeBSD in production.

[2015-04-14 05:58] cybergeek94 commented on #13663
@huonw @steveklabnik Should this be closed now that `rand` is out-of-tree?

[2015-04-14 06:12] vks commented on #13663
I think the issue should rather be moved there.

[2015-04-14 06:29] cybergeek94 commented on #23999
`ToString::to_string` takes `&self` and not `self`, that's why you get the second error

This works:
[code]

As for why `(|x| x.to_string())` fails to typecheck, I couldn't say. It'd be nice if the compiler explained the type ambiguity here. Adding a type annotation fixes it, though:

[code]

[2015-04-14 06:33] norcalli commented on #23999
@cybergeek94 After playing more with rust, the `ToString` point makes sense. I was seeing `&` still in C++ terms before. But mostly, I want to understand better why the `.to_string()` example doesn't work.

[2015-04-14 06:51] pnkfelix opened #24405 "`configure --enable-debug --enable-optimize` is not enabling optimizations"
Running `configure --enable-debug --enable-optimize` is not enabling optimizations.

Concretely, running `../configure --enable-debug --enable-optimize` yields:
[code]

And, just out of curiosity, I tried switching the order of args; that made little difference:
[code]

[2015-04-14 06:58] pnkfelix commented on #24405
(the fix for this look easy... i wonder why no one else has been flummoxed by the resulting build times though...)

[2015-04-14 06:58] jimmycuadra opened #24406 "Attributes not documented in the Rust Reference"
I have discovered a few attributes that are not documented in the Rust Reference:

* `cfg_attr`
* `stable`
* `unstable`
* `deprecated`

The ones relating to stability are also not mentioned in the Rust Book in the Documentation section.

[2015-04-14 06:59] richo commented on #24405
poking at a fix before I crash, mostly because I want to build rust overnight

[2015-04-14 07:01] michaelsproul opened #24407 "Add error explanations for all error codes (tracking issue)."
This is a metabug for `rustc --explain` error descriptions.

All the errors in need of descriptions are listed in [this spreadsheet][spreadsheet]. If you'd like to help out, comment with the bunch of errors you'd like to tackle, and list yourself as assigned on the spreadsheet!

Choosing a few errors in the same file is probably a good way to start.

# How to add an error explanation

Error explan

[2015-04-14 07:05] lifthrasiir commented on #24407
This is going to be a good effort, but do not forget to add the following lists:

* https://github.com/rust-lang/rust/blob/master/src/librustc_resolve/diagnostics.rs
* https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/diagnostics.rs
* https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/diagnostics.rs

[2015-04-14 07:08] michaelsproul commented on #24407
Thanks! I wasn't aware of those!

[2015-04-14 07:19] lfairy commented on #24407
I'll take E0152 through E0170.

Question: Should I squash all the additions into a single commit, or keep them separate?

[2015-04-14 07:27] robn commented on #24100
Me three, with this trivial program:

[code]
[code]

Self-built rustc from the 1.0.0-beta commit:

[code]

[2015-04-14 07:41] petrochenkov commented on #24405
How much time does it take to build and test stage2 with `configure --enable-debug`. Days, I guess? I haven't tried yet.

[2015-04-14 07:57] GuillaumeGomez commented on #24407
I'll take E0009 (a little start to begin).

[2015-04-14 08:01] michaelsproul commented on #24407
@lfairy: Either is fine. If there are logical slabs of messages that could also work well.

@GuillaumeGomez: Sounds good :smile:

[2015-04-14 08:02] SimonSapin opened #24409 "Remove unicode::regex"
The `unicode` crate (the one shipping with rustc) contains a `regex` module with some special-purpose tables of Unicode data to support the `regex` crate. But `regex` now has [its own copy](https://github.com/rust-lang/regex/blob/master/src/unicode.rs) of these tables, so I believe the module and the script that generate it can just be removed.

CC @alexcrichton, @kwantam

[2015-04-14 08:02] michaelsproul commented on #24407
Thanks!

[2015-04-14 08:10] shadowmint commented on #24334
Also hit by this; still affecting the nightly for osx right now, but hopefully the next build will include the fix.

[2015-04-14 08:14] killercup opened #24410 "Some descriptions beginning with `/// ` in docs"
In the [`std::str` API docs](http://doc.rust-lang.org/std/str/index.html), some Struct descriptions beginn with `///`.

![std__str_-_rust](https://cloud.githubusercontent.com/assets/20063/7132987/baf67ffe-e28e-11e4-9c0f-14f60ab08915.jpg)

Some of these structs are generated by macros, e.g. `Matches` [here](https://github.com/rust-lang/rust/blob/5dc8060e3fbf49f225885217dc9f966ce95ff72d/src/libcore/

[2015-04-14 08:40] pnkfelix commented on #24405
@petrochenkov certainly hours for me, but not a full day

[2015-04-14 08:47] pnkfelix commented on #24405
(Note that this bug is only discussing `--enable-optimize` and `--enable-debug`, and that is all that is addressed by #24408 ... but there are other flags being overridden by the relevant block of code in configure that probably have a similar problem.  I will address that separately; I want to land #24408 asap.)

[2015-04-14 09:04] Kimundi commented on #24410
Its an issue with doc comments taken as an attribute in a macro. cc @kmcallister

[2015-04-14 09:34] arielb1 commented on #24352
Minified:

[code]

Seems like the trait cache is broken.

[2015-04-14 09:48] #24262 closed

[2015-04-14 11:08] arielb1 opened #24411 "Use fast_reject in coherence"
libcore seems to spend several seconds in coherence checking the `#[derive]` impls. Using fast_reject should make this faster.

[2015-04-14 11:17] #24405 closed

[2015-04-14 11:33] rprichard commented on #20596
`println!("{:+}", -0_f64)` prints `+0`, but the `{:+?}` format is going to print `-0`.  The formatters for scientific notation ('e' and 'E') also have this behavior where they omit the minus sign for negative zero, and emit a plus sign when a sign is explicitly requested, but there's no way to get scientific notation *and* the correct IEEE-754 sign.

I think I'd prefer that we be consistent and tr

[2015-04-14 11:40] arielb1 commented on #24352
Well it's not just the trait-cache:

DEBUG:rustc::middle::traits::select: CACHE MISS: cache_fresh_trait_pred=Binder(TraitPredicate(<f64 as Sub<FreshIntTy(0)>>)), candidate=ImplCandidate(DefId { krate: 0, node: 18 }:f64.Sub<f64>)

How can `<f64 as Sub<FreshIntTy(0)>>` ~ `f64.Sub<f64>`?

[2015-04-14 11:53] arielb1 opened #24412 "Integer overflow compiling libcore with RUST_LOG=rustc::middle::dataflow"
[code]

Gives this ICE

[code]

[2015-04-14 12:04] sinkuu commented on #24138
I hit mostly same ICE when multiplying. Somehow I couldn't get backtraces (if I set RUST_BACKTRACE rustc crashes with Illegal instruction).
[code]
[code]

Looks like this ICE is caused by using same operator twice. Doesn't happen if I change one of operators to `+`, but happens if I change both:
[code]
[code]

[2015-04-14 12:10] tbu- opened #24413 "Ignored errors in file handling"
Currently you cannot handle a potential error of the `close` syscall on POSIX systems, and of the `CloseHandle` function on Windows. This means that you cannot reliably write to files, because the errors are also silently ignored.

The man page of `close(2)` specifically says:

I couldn't find specific information for Windows, but it hinted that `CloseHandle` might also fail to indicate an error.

[2015-04-14 12:18] pnkfelix opened #24414 "Improve "no type for local variable" error when in check_const_with_ty"
The control flow for `rustc_typeck::check::check_const_with_ty` can end up spitting out an error of the form:

[code]

With the compiler as it stands today, this is usually coupled with an error of the form:

[code]

but other changes being made may lead to _only_ the "no type for local variable" message being emitted.

We can do better here, e.g. by passing along knowledge that we are looking at

[2015-04-14 12:23] arielb1 commented on #24352
The problem here is that freshen turns both `IntVid` and `FloatVid` into `FreshIntTy`, but there is no subtyping relationship between them.

[2015-04-14 12:55] steveklabnik commented on #24403
We'd like to support more platforms, but can't support any more officially right now.

[2015-04-14 12:55] #24403 closed

[2015-04-14 12:59] rprichard commented on #20596
I noticed that this test case currently prints `-0`.  I *think* it will continue doing so with this PR:
[code]

[2015-04-14 13:33] pnkfelix opened #24416 "`configure --enable-debug` sub options cannot be overridden"
Spawned off of #24405.

`configure --enable-debug` will enable `CFG_ENABLE_LLVM_ASSERTIONS`, `CFG_ENABLE_DEBUG_ASSERTIONS`, `CFG_ENABLE_DEBUG_JEMALLOC`,
and there is no way to turn them off.

The options `--disable-{llvm-assertions,debug-assertions,debug-jemalloc}` will all be silently ignored.

An analogous approach to that used by #24408 would probably work here.

But it might be better still to

[2015-04-14 14:11] rkruppe commented on #20596
@rprichard Yes, my PR does not (well, should not) change behavior for small negative numbers. The existing code is pretty naive w.r.t. rounding (and probably rather inexact at the rounding it does perform), but this is a separate issue.

As for scientific notation, I'm not sure if this is desired: like `Display`, it's probably more commonly used for user-facing output, right? If it's desired, I co

[2015-04-14 14:19] nikomatsakis commented on #22496
The problem seems to be in this commit: 54f16b818b58f6d6e81891b041fc751986e75155

[2015-04-14 14:20] nikomatsakis commented on #22496
Specifically [here](https://github.com/rust-lang/rust/commit/54f16b818b58f6d6e81891b041fc751986e75155#diff-899f995d4388dafbea87f6f67b5c7609R713).

[2015-04-14 14:25] mbudde opened #24417 "rustdoc: Generates wrong signature for function with associated type parameter"
Create a library with the following `src/lib.rs`:
[code]
and run `cargo doc`. The documentation will show the type of `Foo::foo` as `fn foo(&self, bar: T)` and not `fn foo(&self, bar: T::Typ)` as expected.

`rustdoc 1.0.0-beta (9854143cb 2015-04-02) (built 2015-04-02)`

[2015-04-14 14:47] bombless commented on #12425
[code]
[code]
I believe current error message for this is quite good-looking, so I think it's safe to say this issue has been fixed.

[2015-04-14 14:48] b52 opened #24418 "Bundled gcc (windows x64) is unable to build any c file"
I just installed the Rust 1.0 nightly on Windows x64 and run into a severe problem with the shipped MinGW infrastructure.

**Environment:**
[code]

If I now try to build a minimal C program `main() {}` with `gcc -v test.c` I receive the following error:
[code]

[2015-04-14 14:57] bombless commented on #20078
I think this is a little similar as https://github.com/rust-lang/rust/issues/22644 .
I imagine if we change the parser's front-end to parse this ideally, of course it is potentially a breaking-change, but I doubt if it would actually break a single line of existing code.

[2015-04-14 14:59] SimonSapin commented on #22644
I think #20078 is the same underlying issue.

[2015-04-14 14:59] dylanbraithwaite commented on #12425
Yes, that certainly is a lot better. I guess I can close this now.

[2015-04-14 14:59] #12425 closed

[2015-04-14 15:02] steveklabnik commented on #24417
You may want to try the nightly; a number of bugs have been fixed post-beta. Can you check?

[2015-04-14 15:03] tbelaire commented on #12966
I don't understand why it didn't.

mk/clean.mk
[code]

So `make clean` does `rm -Rf tmp/*`. Perhaps it needs to delete the directory too?

Can I get more detailed steps on how to reproduce this bug, so I can tell if deleting `tmp/` instead of `tmp/*` fixes it?

[2015-04-14 15:13] tbelaire commented on #24348
I'm going to try and fix this.

[2015-04-14 15:21] pythonesque commented on #24292
From a pragmatic perspective, I like the idea of ?Leak like ?Sized, but I'm not sure it's really justifiable since (1) it's not a language-level feature like Sized is, (2) we don't have builtin support Leak, (3) it puts a lot of emphasis on Rc / Arc, since those are (IIRC) the only Rust constructs that can leak anything in the first place.  Wouldn't just making Leak an OIBIT and opting out for sco

[2015-04-14 15:42] kwantam commented on #24409
I think this was addressed by #24339.

[2015-04-14 15:45] SimonSapin commented on #24409
Indeed! Thanks.

[2015-04-14 15:45] #24409 closed

[2015-04-14 16:02] mbudde commented on #24417
@steveklabnik: I can reproduce with `rustdoc 1.0.0-nightly (e6a812402 2015-04-14) (built 2015-04-14)`.

[2015-04-14 16:09] ruud-v-a commented on #24407
I’ll take E0297 through E0302 (the ones in check_match).

[2015-04-14 16:33] alexcrichton commented on #24413
I believe this is the topic that https://github.com/rust-lang/rfcs/pull/770 is trying to address, so I'm going to close in favor of that RFC.

The current idea is to add `fn close(self) -> io::Result<()>` which should be a backwards-compatible change to make.

[2015-04-14 16:33] #24413 closed

[2015-04-14 16:34] alexcrichton commented on #24418
The shipped `gcc` executable with Rust is currently only intended to be used as a linker by the compiler itself. Unfortunately we do not ship anything like header files or other runtime support needed by gcc to link arbitrary C files together. I'd recommend installing msys2 and the mingw-w64 toolchains to get a full-fledged C compiler!

[2015-04-14 16:34] #24418 closed

[2015-04-14 16:47] bombless commented on #15980
I guess we can summary a pattern here (missing `=>` between pattern and block) to the parsing rule that allow us to add something similar as `check_no_chained_comparison`.

I suspect another valid approach would be, don't mention the ident thing, just focus on the fact that a value is needed here (a struct literal, in fact), so we can just say "invalid struct literal, unexpected `return` here" or

[2015-04-14 16:49] frankmcsherry opened #24421 "Closure parameter inference and lifetime elision mayhem"
If you throw the following code into playpen, in the fourth case (by my reading of the error message) Rust determines an incompatible number of lifetime parameters `for<'r> core::ops::Fn<(&'r u64, &'r u64)>` vs. `for<'r,'r> core::ops::Fn<(&'r u64, &'r u64)>`).

[code]

I won't try to explain how mysterious this was, manifesting as a "sorry, you don't implement that trait" error (because the closur

[2015-04-14 16:56] tbelaire commented on #24348
After reading the files `libsyntax/ext/source_util.rs` and `libsyntax/coremap.rs`, I have come up with a plan.
This is a little bit tricky, since with `include_str!`, we know that we are including utf-8 content, so it's safe to store the source as a String in a `FileMap`.  We don't know that for `include_bytes!`, but I don't think we actually need to track the contents anyways, so I'm passing `""`

[2015-04-14 16:57] #22953 closed

[2015-04-14 17:09] b52 commented on #24418
I completely agree, but some crates like `time` require a working gcc toolchain during their build process. This however means that I'm effectively unable to build certain projects under Windows if I don't setup my own properly configured MinGW toolchain.

For example, I created a dummy project with `cargo new test` and added `time = "*"` as depedency. If I now try to build my project using the cu

[2015-04-14 17:19] steveklabnik commented on #24417
:+1: thanks for checking.

[2015-04-14 17:21] alexcrichton commented on #24418
How did the directory for `gcc` get into your PATH? I don't believe our installer will add it automatically and this is why we don't recommend adding it to your PATH.

This is also why we recommend crates not use C code unless absolutely necessary! There's a [tracking issue](https://github.com/rust-lang/time/issues/78) in libtime for removing the C dependency.

[2015-04-14 17:31] b52 commented on #24418
I added it manually to PATH because I assumed that this is the desired toolchain to build such C parts. That means I additionally have to maintain an extra MinGW setup. That sucks :/

[2015-04-14 18:12] kyledewey opened #24424 ""coherence failed to report ambiguity" ICE Involving Lifetimes"
The following causes an ICE:

[code]

Backtrace:

[code]

With:

[code]

I can confirm that this bug has been around since 1.0.0-alpha (though with a slightly different assertion violation; I accidentally posted that version originally).

[2015-04-14 18:15] kyledewey commented on #24424
Removing either constraint in the `where` clause, or changing the lifetimes used in the `where` clause to be the same causes the ICE to go away.

[2015-04-14 18:41] vosen opened #24427 "Calls from C to Rust get miscompiled on Windows 64"
Rust code:
[code]
C code:
[code]
Expected output:
[code]
Actual output:
[code]
I couldn't reproduce it with larger number of smaller arguments (eg. passing ten u64s), couldn't reproduce it on 32 bits either. Changing debug/optimization options has no effect.
Works correctly when calling C from C (eg. using [this code](https://gist.github.com/vosen/baa3e405b5dffb38e4fd)).
It originally manifested o

[2015-04-14 18:44] pyfisch commented on #24410
Duplicate of #23812

[2015-04-14 19:15] #24410 closed

[2015-04-14 20:01] norcalli opened #24429 "Suggestion: assert pattern macro."
[code]

Something like this would be useful for checking a pattern instead of deriving `Eq,PartialEq` for an enum.

[2015-04-14 20:46] dotdash commented on #23431
To quote myself:
[code]

[2015-04-14 21:01] rprichard commented on #20596
The user could easily be another computer system or another programmer, which is frequently the case for, say, the `str` type.  In the case of scientific notation, the user could be a scientist or engineer (likely also a programmer).  If they're using floating-point, they probably should be aware of IEEE-754 semantics.

@SimonSapin Both `{}` and `{:?}` truncate after 6 decimal places (and they nev

[2015-04-14 21:19] alexcrichton commented on #24429
There's actually a crates on crates.io that does this already! https://crates.io/crates/matches

Right now we're also tracking new feature requests in the [RFC repo](https://github.com/rust-lang/rfcs), so if you feel that it still needs to be included in the stdlib by default, feel free to open an issue!

[2015-04-14 21:19] #24429 closed

[2015-04-14 21:19] alexcrichton commented on #24429
Er, looks like there's already an issue!

https://github.com/rust-lang/rfcs/issues/264

[2015-04-14 21:20] fhahn opened #24434 "Configuration stripping should happen before checking feature gates"
At the moment, `feature_gate::check_crate_macros` is executed before `strip_unconfigured_items` which leads things like `#![cfg_attr(stage0, feature(custom_attribute))]` in https://github.com/rust-lang/rust/blob/master/src/libcore/lib.rs#L50 beeing ignored (`#![feature(custom_attribute)]` is again defined in the same [file](https://github.com/rust-lang/rust/blob/master/src/libcore/lib.rs#L76)).

T

[2015-04-14 23:29] pnkfelix commented on #24416
@brson points out also that:

So it would be good to address that too.

[2015-04-14 23:30] pnkfelix commented on #24416
part of #8058

[2015-04-14 23:30] brson commented on #22496
I'll put a patch together.

[2015-04-14 23:30] prajwalkman commented on #23193
+1

I had the same issue on ElementaryOS (Freya release)

[2015-04-15 01:07] nstoddard commented on #24365
Is this the same as #21797?

[2015-04-15 01:44] liigo opened #24441 "rustdoc: Searching traits in Chrome got color confused"
It's hard to recognize the text inside the orange color block:
![rustdoc-search-traits](https://cloud.githubusercontent.com/assets/346530/7150840/406a1e10-e353-11e4-944b-84ae99727ee3.png)

[2015-04-15 02:26] fuchsnj opened #24442 "compiles on linux but not windows"
[code]

The above code compiles fine using the latest nightly build on Ubuntu (`rustc 1.0.0-nightly (e6a812402 2015-04-14) (built 2015-04-14)`)
but gets the following error on Windows 8 (same rustc version)
[code]

[2015-04-15 03:15] #24289 closed

[2015-04-15 03:15] #24319 closed

[2015-04-15 03:15] #24314 closed

[2015-04-15 03:15] #20596 closed

[2015-04-15 03:15] #24353 closed

[2015-04-15 03:15] #24374 closed

[2015-04-15 03:15] #24365 closed

[2015-04-15 04:20] joshtriplett commented on #24292
This doesn't seem like innate unsoundness so much as a way to turn one form of unsoundness (the ability to cause a leak) into a worse form of unsoundness (the ability to cause a crash).

Have there been any previous efforts to eliminate the uncollectability of reference cycles?

[2015-04-15 04:26] aturon opened #24443 "Tracking issue for Std::iter::{once, empty} (RFC 771)"
https://github.com/rust-lang/rfcs/pull/771

[2015-04-15 04:26] aturon commented on #24443
cc @XMPPwocky

[2015-04-15 04:59] achanda opened #24444 "Error message on wrong number of arguments in println macro is not helpful"
[code]

The error message (even without `trace_macros`) is unintuitive and not helpful. It should:
1. Print the faulty line from the input file, not from an internal library
2. Say something better

[2015-04-15 05:43] huonw opened #24445 "thread_local!s with destructors segfault in non-PIE executables"
[code]

[code]

[code]

`staticlib2` segfaults, `staticlib2-pie` doesn't.

This is possibly/probably the expected behaviour, but it would be quite nice to not cause a segfault or at least find some way to help the user get it right. (cc http://stackoverflow.com/q/29632715/1256624)

[2015-04-15 05:47] whipsch opened #24446 "ICE (1.0.0-beta): "no type for node ... in fcx" with function-local static Fn"
Abbreviated backtrace:
[code]

Reproduce: ([playpen](http://is.gd/eMEEMo))
[code]

The error message provided when doing the above with a let binding instead may be useful:
[code]

Looks to be related to PR #20897, however the change there has a rather catch-all appearance to it, so there is likely more to this particular ICE.

[2015-04-15 07:12] klutzy opened #24450 "`std::os::windows::io::RawHandle` exposes `libc::HANDLE`"
`std::os::windows::io::RawHandle` is a re-export of `libc::HANDLE = *mut libc::c_void`, and `c_void` is defined as enum.
So it's possible to access non-primitive type of liblibc via `std`. This leads to confusing error if someone uses both `RawHandle` and crates.io's liblibc:

[code]

(On unix, `std::os::unix::io::RawFd` is re-export of `libc::c_int`, which is re-export of primitive type.)

[2015-04-15 07:26] dbpokorny commented on #24292
https://github.com/python/cpython/blob/master/Modules/gcmodule.c

[2015-04-15 07:40] lfairy commented on #24407
@ruud-v-a I was already working on 158/162/165 (see my comment above), but meh

[2015-04-15 07:40] bombless commented on #20616
I'm not sure if it is a bug or a feature.
[code]
It seems that we can always omit the comma between lifetime bounds and type arguments.

[2015-04-15 07:44] michaelsproul commented on #24407
Sorry Chris, I only just noticed this now... If you have anything to add to Ruud's descriptions go ahead!

I was hoping I could transform the list into a more complete one, but my script is somewhat broken so I'm looking into better ways to extract error information (uniqueness checking, finding errors without descriptions, HTML output). For now I've marked who's working on what in the current lis

[2015-04-15 07:45] bombless commented on #20616
Now I can imagine we may even need a RFC to enforce that comma.

[2015-04-15 07:52] michaelsproul commented on #24407
I just did E0296.

[2015-04-15 08:03] michaelsproul commented on #24407
I'll also take the loop ones, E0267 and E0268.

[2015-04-15 08:04] pnkfelix commented on #24292
@joshtriplett raw memory leaks explicitly do not qualify as unsound, or at least, "unsafe", under Rust's use of the term, as explicitly discussed here:

  http://doc.rust-lang.org/1.0.0-beta/reference.html#behaviour-not-considered-unsafe

There is further detailed discussion on an internals thread here:

  http://internals.rust-lang.org/t/are-memory-leaks-considered-to-violate-memory-safety/1674

[2015-04-15 08:18] laumann commented on #24227
For the record, this does not appear to be a problem in beta: http://is.gd/ZLVqTF, but it _is_ a problem in nightly: http://is.gd/0NiZTx

[2015-04-15 08:21] #24206 closed

[2015-04-15 09:00] lfairy commented on #24407
@michaelsproul No worries :)

I'll take E0306 and E0307.

[2015-04-15 09:08] laijs commented on #23020
it seems work now

[2015-04-15 09:08] #23020 closed

[2015-04-15 10:04] bombless commented on #15903
I think this has been fixed by https://github.com/rust-lang/rust/pull/23872
The example code give us `error: invalid digit for a base 8 literal` for Beta.

[2015-04-15 10:17] theemathas commented on #24292
@reem and @nikomatsakis proposed different solutions for solving this on IRC

@reem's solution: make `Rc` and `Arc` require `'static` and specify that leaking memory for non-`'static` data is `unsafe`. (Optional: create `unsafe` variants for `Rc` and `Arc` that allow non-`'static` content) ([logs](https://botbot.me/mozilla/rust-internals/2015-04-15/?msg=36646819&page=4))

@nikomatsakis's solution:

[2015-04-15 10:19] reem commented on #24292
I don't really think the "make `Rc` require `'static`" solution is good after @nikomatsakis demonstrated compelling use cases for `Rc` of non-`'static` data and reminded me that it would break code like `fn x<T>(...) -> Rc<T>`.

[2015-04-15 10:37] reem opened #24456 "`mem::forget` is unsafe, but can be written in entirely safe code"
For instance:

[code]

This is problematic, and an indicator that something is amiss in our rules.

cc @aturon @nikomatsakis @bstrie from IRC

[2015-04-15 10:38] bstrie commented on #24456
Nominating for 1.0 because some men just want to watch the world burn.

[2015-04-15 10:45] theemathas commented on #24456
This is one of the root causes of #24292

[2015-04-15 10:50] reem commented on #24292
Note that a hypothetical `Gc` type would naturally require `'static`, since the destructor can run at any time in the future. `Rc` is very similar in this sense, which is what inspired me to say we should just bound by `'static`, but pragmatism might have to prevail here, since it's useful to `Rc` non-`'static` data.

[2015-04-15 10:57] pnkfelix commented on #24292
@reem (well there might be some other bound we come up with in the future that is more flexible than `'static` for `Gc`'s purposes, at least if the collector ends up being thread-local, as originally planned for `@T` ... something that encodes that the data does not outlive the task ...)

[2015-04-15 11:07] cactorium commented on #24407
Could I try E0308-E0311?

[2015-04-15 11:12] michaelsproul commented on #24407
@cactorium: Go for it! :smile:

[2015-04-15 11:19] Passw commented on #24378
It seems that build with ```./configure --enable-debug``` , it works.
But build with ```--enable-debug``` takes it about ONE day to compile ```rust```.
It takes so long...

[2015-04-15 12:14] Manishearth opened #24459 ""transmute called on types with potentially different sizes" for zero-sized phantom data"
[code]

On [compiling](http://is.gd/TI1OVh), we get:

[code]

However, struct `Thing<T>` is _always_ 0-sized.

This doesn't happen if the associated types are removed (Is it doing some trait object-esque magic here?)

[2015-04-15 12:20] Manishearth commented on #24459
cc @nikomatsakis

[2015-04-15 12:24] vberger commented on #24456
Hmm... I was trying to understand this example, but it doesn't compile:
[code]
My first guess was to wrap `x.clone()` into `Some(x.clone())` so that the types matches, but it doesn't compile either:
[code]

[2015-04-15 12:37] retep998 commented on #24456
Here is a working example:
[code]

[2015-04-15 13:06] steveklabnik commented on #19263
Triage: multirust has matured significantly.

[2015-04-15 13:59] nikomatsakis commented on #24456
My current thinking:

0. There were other ways to forget even before Rc, at least in some cases. For example, if `T:Send` holds, you could send the value to a thread that runs an infinite loop, or which is deadlocked on a port.
1. It is true that one cannot assume that a destructor will run, and hence that `forget` is not itself unsafe (rather, it is unsafe to write a dtor that *must run*). This i

[2015-04-15 14:05] Kimundi commented on #24456
@nikomatsakis Did you mean "4. If we did step 3, [...]" rather than "4. If we did step 2, [...]"?

[2015-04-15 14:34] lambdaburrito opened #24462 "Enrich SC constants for macos"
We need to add all SC constants for `macos` for `libc`. There's only two at the moment which I only added to quickly fix an issue with `num_cpu`.

[2015-04-15 14:36] ceram1 opened #24463 "Can't use crate with '-' in name, for [build-dependencies]"
I can't use some crates like 'rust-serialize' in [build-dependencies]
But 'phf_codegen' works.

Cargo.toml
[code]

[code]
works in src/main.rs,

but
[code]
in codegen/main.rs says
codegen/main.rs:2:19: 2:20 error: expected one of `;` or `as`, found `-`
codegen/main.rs:2 extern crate rustc-serialize;

and

[code]
says
codegen/main.rs:2:1: 2:30 error: can't find crate for `rustc_serialize`
codegen/m

[2015-04-15 14:38] Manishearth commented on #24459
Note: This also happens when the struct has some substantial fields(which are all equal) followed by phantom data (which depends on the type param).

[2015-04-15 14:40] nagisa commented on #24463
This is a cargo issue. Please report it to https://github.com/rust-lang/cargo/issues/new

[2015-04-15 14:51] pythonesque commented on #24456
@nikomatsakis My concern is that (3) couldn't be done backwards-compatibly, at least not without making it unsafe to create a new type that leaks like ` Rc` does.  Doing it now would subsume all four points (except point [1], but as I mentioned earlier Rust is a long way off from providing guarantees of totality or anything crazy like that, so it will be sufficient in practice).

[2015-04-15 15:06] nagisa commented on #24463
I believe `extern crate something-with-hyphens` is not supposed to work and cargo is supposed to provide `rustc` with `--extern rustc_serialize=path-to-rlib.rlib`.

Generally, I’d guess this is a cargo issue, but it certainly needs more information to say for sure.

[2015-04-15 15:17] bombless commented on #24257
shorter reproduce but with longer backtrace:
[code]
[code]
[code]

[2015-04-15 16:22] alexcrichton commented on #24463
@nagisa is right in that this is a Cargo issue, so could you report it against rust-lang/cargo instead? You may want to try making sure that your Cargo is up-to-date though as this sort of error can be indicative of an out-of-date Cargo (or rustc)

[2015-04-15 16:22] #24463 closed

[2015-04-15 16:34] ruud-v-a commented on #24407
@lfairy: oops, my apologies. I hope you don’t mind.

[2015-04-15 16:35] alexcrichton commented on #24450
I think that https://github.com/rust-lang/rfcs/pull/1044 will fix this as it sets a vision for "raw" types and where they're defined and/or organized. In this case they'll be defined in the `std::os::windows::raw` where they'll be accessible.

[2015-04-15 17:01] semarie commented on #24345
Here the way I used to resolv this problem:
- make an empty directory
- copy (or link) desired library version (don't change the name of the library)
- build rust as usual passing `RUSTFLAGS=-L /path/to/my/directory`

[2015-04-15 17:01] #24345 closed

[2015-04-15 17:05] arielb1 commented on #24456
@nikomatsakis

If you have `T: 'static`, then you can move it into a thread-local `Vec<Box<SomeTrait>>` (with an `impl<T:?Sized> SomeTrait for T {}`) or something and lose it, so `forget` is only "interesting" on lifetime-bounded traits, where it allows the lifetime to end without the destructor running.

[2015-04-15 17:12] arielb1 commented on #24292
Well making `Rc` require `T: 'static` would be really bad (as in, `librustc` would require a pretty deep refactoring).

I think we do want to introduce `Leak` someday, but that would be a breaking change. We may have to settle for an ST-like `with_scope` API.

[2015-04-15 17:27] thelink2012 opened #24469 "External enums are not constant"
I'm not entirely sure this issue is by design of the language or really a bug, but it feels quite limiting.

When trying to use a enum variant from a external crate on a constant expression rustc fails telling it's not a constant expression although it works fine when it's in the same crate.
## Example

Since it involves crates and such it's complicated to post the code only, so here's a project o

[2015-04-15 17:32] dgrunwald commented on #24456
A safe `mem::forget` has the advantage that it makes it easier to write the counterexample proving `thread::JoinGuard` unsafe. Safe `mem::forget` makes it more likely that people will know that destructors are not realiable, so they can avoid repeating this mistake.

Making an unsafe function safe is a (minor) breaking change (`fn(T)` is not a subtype of `unsafe fn(T)`).

We might want two functio

[2015-04-15 18:02] alexcrichton commented on #24292
After thinking about this for a bit, I think that dealing with `Rc`/`'static`/`Leak` may be a bit of a red herring. Upon investigating, we actually have a few known sources of memory leaks today in the standard library and the compiler itself, all of which can lead to the same form of memory unsafety as exposed through `Rc`:

* [Failing destructors will leak local variables](https://github.com/rus

[2015-04-15 18:04] alexcrichton commented on #24456
I [commented on #24292](https://github.com/rust-lang/rust/issues/24292#issuecomment-93505374), but the gist is that there are multiple ways to leak memory today (e.g. #14875 and #16135), so a targeted solution at `Rc` may not cover all use cases. Although as I mention in #24292 these other bugs can also be considered separate bugs on their own which need to be fixed regardless (but sometimes is qu

[2015-04-15 18:12] brettcannon opened #24470 "Traits section of Book references generics before they have been discussed"
E.g., the [Our inverse Example](file:///Users/bcannon/Downloads/rust-nightly-x86_64-apple-darwin/rust-docs/share/doc/rust/html/book/traits.html#our-inverse-example) section talks about being "Back in Generics" even though Traits is section 5.21 and Generics is 5.23. There are couple of other places that mention generics in the section as if they have already been discussed.

[2015-04-15 18:14] Gankro commented on #24292
Yeah I'm a bit confused that std::thread::JoinGuard is getting the blame here. It seems to me that the real problem is that Rc+RefCell enables writing mem::forget in safe code:

[code]

Planned features like `Vec::drain_range` rely on the fact that the destructor of the iterator will be called before the parent `Vec` becomes accessible again for *memory safety*. (rough sketch: data in the middle o

[2015-04-15 18:38] joshtriplett commented on #24292
I understand that memory leaks are not currently considered unsound.  I'm suggesting the same thing @Gankro is, that we *should* prevent writing mem::forget in safe code, using Rc or otherwise.

Would it work to somehow prevent an Rc from being put in an Rc, by requiring a particular type class for things put in Rc, and not providing that type class for Rc itself?  (That would then prevent buildin

[2015-04-15 18:39] joshtriplett commented on #24292
Or alternatively, perhaps just JoinGuard needs to be prevented from being put in an Rc (directly or indirectly).  Anything used for RAII needs to not be.

[2015-04-15 18:45] pythonesque commented on #24292
@alexcrichton These are all probably resolvable with a `Leak` trait the compiler knows about... for example, we could forbid putting types with `!Leak` in locals within destructors (this would imply that we should use `?Leak` like `?Sized`, assuming `Leak` by default for type parameters on types with `Drop` impls, and that this was assumed by default for destructors, which I think is fine since `L

[2015-04-15 18:57] sfackler opened #24473 "Rustdoc output slightly nondeterministic"
There's a bit of nondeterminism in rustdoc output across runs even when the source doesn't change: https://github.com/sfackler/rust-openssl/commit/1cb83ffe9b974980704b7e809aa7279cf02a7252 I'm guessing it's due to randomized HashMap iteration order.

It'd be nice to switch to a non keyed Hasher or maybe just TreeMaps in rustdoc to avoid "phantom" documentation updates.

[2015-04-15 18:59] arielb1 commented on #24424
I guess we should change that error message to be different from "coherence failed to report ambiguity" to "trait selection failed".

Your use-case isn't currently supported (#21974). Not sure which error message to give, through.

[2015-04-15 19:12] Gankro commented on #21182
Note for nitpickers: You *can* synthesize a Hash using your favourite commutative function (+, *, XOR), but this would substantially undermine the *security* properties provided by SipHash. We obtain security through siphash by mixing *values* through the hasher, which is fundamentally order-dependent. This ensures that e.g. "tac" and "cat" don't hash to the same thing. However of course for a Has

[2015-04-15 19:13] mgolub2 opened #24474 "Internal compiler error, index out of bounds"
I'm working on making rustboot work with the current rust nightly, and I am getting this output on compiling that ported code:

    RUST_BACKTRACE=1 rustc -O --target i686-unknown-linux-gnu --crate-type lib -o out.r --emit obj       main.rs
    error: internal compiler error: unexpected panic
    note: the compiler unexpectedly panicked. this is a bug.
    note: we would appreciate a bug report: h

[2015-04-15 20:10] steveklabnik commented on #24470
Thank you! I'm in the middle of doing a general editing pass, and I haven't gotten there yet. I'll be addressing this as I go.

[2015-04-15 20:10] #24470 closed

[2015-04-15 20:15] brson commented on #24025
Dupe of https://github.com/rust-lang/rust/issues/18588

[2015-04-15 20:15] #24025 closed

[2015-04-15 20:18] brson commented on #18588
@emanueLczirai the problem you've discovered is an unfortunate limitation of the configure system. Writing conditionals about configuration correctly requires knowing the default value.

[2015-04-15 20:21] joshtriplett commented on #24292
mem::forget is unsafe; using that on an RAII type is a footgun, but not one that needs fixing.  However it shouldn't be possible to implement mem::forget in purely safe code.

So, rather than introducing traits to prevent putting JoinGuard in Rc, why not introduce traits to prevent putting Rc in Rc?  (And since in general a type like Rc that can have reference loops would necessarily involve unsaf

[2015-04-15 20:30] jakub- commented on #24469
Related (a dupe, really) to https://github.com/rust-lang/rust/issues/24106.

[2015-04-15 20:33] jakub- commented on #24473
May be as simple as changing `HashMap` to `rustc::util::FnvHashMap` in https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/render.rs.

[2015-04-15 20:40] dgrunwald commented on #24292
Because that would make it impossible to implement many useful data structures in safe rust code. I'd imagine such a change would horribly break pretty much any program with non-trivial Rc usage, and leave them with using `unsafe` all over the place as the only fix that doesn't involve re-writing the whole program.

I think the proper solution is to admit that we won't be able to prevent memory le

[2015-04-15 20:47] alexcrichton opened #24479 "TLS dtor panics abort the process"
Today a destructor in TLS which panics will abort the process:

[code]

When compiled and run (note that it must be run on a recent system due to #19776):

[code]

The reason behind this is that the context in which TLS destructors are running is different than the execution of the main thread itself (e.g. there is no try/catch block).

Is this (a) desirable and (b) should we change it?

[2015-04-15 20:50] joshtriplett commented on #24292
Not necessarily; such data structures could use arena allocation, right?

Interesting; such as?

But in any case, adding traits that prevent putting JoinGuard in Rc will still work; it just seems unfortunate that Rust cannot actually guarantee memory reclamation even for programs written entirely using safe code.

[2015-04-15 21:04] Gankro commented on #24292
Discussing on IRC several of the compiler devs are of the opinion that mem::forget is unsafe largely as a warning, and not that it should be possible to trigger memory unsafety. Evidently there has never been a safe guarantee that destructors would be run when a type is believed to be dropped (e.g. its borrows expire).

[2015-04-15 21:05] jemcroft commented on #19332
This is still a problem. The duplicates are concerned with version/build date of the `rust::std` documentation, and the proposed solution is look at the url which encodes the version. However, the problem still exists for documentation for crates not distrubuted with rust.

[2015-04-15 21:05] dgrunwald commented on #24292
persistent binary trees need to be able to share data with previous versions, but you'd still want to free memory used by old versions that you don't need to access anymore. The easiest implementation by far is to use `Rc` for the references to child nodes.

You can send values to another thread that runs an infinite loop. (OK, this is restricted to T: Send, but it's still a memory leak in safe co

[2015-04-15 21:07] steveklabnik commented on #19332
We have another bug open for that: https://github.com/rust-lang/rust/issues/24336

[2015-04-15 21:23] ryanobjc commented on #23103
I also ran in to this issue.  I needed to install the 'g++' package to provide /usr/bin/g++.  Also the README instructions said g++ | clang++, so I didn't think I needed g++.

[2015-04-15 21:48] kungfumike commented on #16065
Hi, if you are here from the same search that brought me here:

[code]
Yes, I have every hope of getting this into the docs or rust by example or something, but for now...

[2015-04-15 21:55] reem commented on #24292
I would be interested in hearing if it's possible to implement forget for non-'static data, not using Rc, and only safe code (including safe APIs in std). All the alternatives I've heard so far either exploit a bug in panicking during destructors or require `'static` - this actually makes a lot of sense conceptually, since `'static` data is by definition safe to keep around for arbitrary regions o

[2015-04-15 22:18] steveklabnik commented on #24276
Both of these also no longer crash for me either! @kmcallister , let me know if I'm missing something, but closing for now.

[2015-04-15 22:18] #24276 closed

[2015-04-15 22:19] dgrunwald commented on #24292
I'm not aware of a `forget` implementation not using `Rc` that works for non-`'static` using the standard libraries. (but similar smart pointer types in other libraries probably will have the same problem)

Bugs regardings panics are equivalent to requiring `'static` since you can't catch panics for non-`'static` data. (you could with the first version of `thread::scoped`, but that leads to unsafe

[2015-04-15 22:30] Passw commented on #24378
After
[code]

Then
[code]

Everything went back to OK.

[2015-04-15 22:37] dgrunwald commented on #24000
Note that the lack of `Clone` impls for `Copy` types can cause internal compiler errors:

    fn test<T: Copy>(x: T) { x.clone(); }
    fn main() { test(main); }

error: internal compiler error: Encountered error `Unimplemented` selecting `Binder(core::clone::Clone)` during trans

[2015-04-15 22:40] mdinger opened #24483 "rustdoc trait implementations should be collapsible"
Pages like [vec](http://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#) are very repetitive, especially when arrays are involved.It'd be nice if collapse all collapsed the methods inside the `Trait Implementations` `impl`'s

[2015-04-15 22:49] reem commented on #24292
There is also:

5. The `Drop` impl *must* be run or memory safety can be violated.

This is not true of many Drop impls. Banning 5 is basically the `Leak` solution.

[2015-04-15 22:50] mdinger opened #24484 "Linkify more things in rustdoc"
A page like [vec](http://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#) has many things that could be useful to link to. These should be possible to link to by clicking on:
- [x] The `Trait Implementations` header
- [x] `impl`'s on a page.
- [x] `Methods` at the top

On [index](http://doc.rust-lang.org/nightly/std/ops/trait.Index.html) it's hit or miss:
- [x] Examples
- [x] Associated Types
-

[2015-04-15 23:09] #24267 closed

[2015-04-16 00:04] Diggsey opened #24486 "Rustdoc broken hyperlinks"
I've come across quite a few broken links just while browsing the online documentation generated by rustdoc (particularly when clicking on links from search results). There are already issues relating to specific cases, but perhaps there should be a catch-all test on the output of rustdoc to check that all generated hyperlinks are valid?

[2015-04-16 00:05] rprichard commented on #20596
@SimonSapin Could you answer the question I posed above?  i.e. Why does CSS serialization care about negative zero, but is OK with truncating small floating-point values (e.g. `println!("{:?}", 1e-8)` prints `0` rather than `1e-8` (or similar).)

[2015-04-16 00:33] richardscottmills commented on #20324
I can not reproduce this issue.  Emitted asm looks fine to me...

[2015-04-16 00:54] steveklabnik commented on #24486
The problem with things like this is that services that go down then break your build. We did this for Rust By Example, but then a bad deploy caused the whole site to 404, and we couldn't bring it back up because the site was 404'ing :wink:

Specific cases should be looked into, and bugs should get filed, for sure, but running checks like this takes about an hour and a half, I've done it with link

[2015-04-16 01:10] Passw commented on #24378
[code]

[2015-04-16 01:10] #24378 closed

[2015-04-16 01:17] #24108 closed

[2015-04-16 01:17] #24197 closed

[2015-04-16 01:17] #24375 closed

[2015-04-16 01:26] Gankro commented on #24483
Hmm this is a bit tricky. If you want to collapse to search for a fn, this will hide some of the fns. If it's on a trait that you don't know about you might never find it. I suppose you could toss a bulk-collapse on top of the "traits". Or perhaps double-clicking collapse "super collapses" everything.

[2015-04-16 01:31] huonw commented on #24417
triage: I-nominated

This can lead to some very confusing signatures, especially since associated types are quite widely used in the standard library with core types like iterators.

[2015-04-16 01:32] Diggsey commented on #24486
I was thinking more of something which ran on the files offline - it can ignore external urls, but just check that internal urls point to a file that was actually generated. That wouldn't be affected by anything outside the current build.

[2015-04-16 01:46] Gankro commented on #24473
Using @jakub-'s solution barring catastrophe

[2015-04-16 02:13] steveklabnik commented on #13841
`rustc -C target-cpu=native' does in fact exist today :confetti_ball:

[2015-04-16 02:13] #13841 closed

[2015-04-16 02:15] steveklabnik commented on #10264
libuv is totally gone now, so as far as I can tell, this needs closed.

[2015-04-16 02:15] #10264 closed

[2015-04-16 02:23] mdinger commented on #24483
Why not just search for the trait? Each trait lists all the functions it supports anyway.

[2015-04-16 02:52] klutzy commented on #10264
@steveklabnik the test is [still at `libstd/fs.rs`](https://github.com/rust-lang/rust/blob/abf0548b5caaa389a5b29813132d2cf4c8b0f1ed/src/libstd/fs.rs#L1659). Could you reopen this?

[2015-04-16 03:03] Russell91 commented on #23973
So how does one fix this error? I'm a new user of the rust library and I can't seem to use the collections library during the beta due to this problem. Given this git issue is a top google result, it would be nice if there were a solution here.

[2015-04-16 03:22] #22496 closed

[2015-04-16 03:40] ceram1 commented on #24463
Moved issue to rust-lang/cargo.

[2015-04-16 04:20] frewsxcv commented on #24140
For the sake of cross-posting, [I just asked this same question in Discourse](http://users.rust-lang.org/t/are-the-traits-in-collections-borrow-redundant-with-the-traits-in-core-convert/999).

[2015-04-16 04:45] echochamber commented on #24358
Also got this error on Ubuntu1404 also with the latest install, ldconfig fixed it. Installer didn't provide any notice to run ldfconfig.

[2015-04-16 05:52] nham commented on #24407
I've tried my hand at E0015 and E0020

[2015-04-16 05:59] vadimcn commented on #24427
Looks like there a slight misunderstanding about the calling convention between GCC and LLVM.
GCC passes a pointer to `a5`, whereas LLVM expects `a5` to be by-value.  Changing the last line of `foo()` to this ↓ produces the expected result.
[code]

The IR generated by rustc looks correct... unless I am missing some implication of the `byval` attribute.
[code]
Hmm...  LLVM codegen bug?

[2015-04-16 06:45] pnkfelix commented on #23973
@Russell91 by design, you have access to the parts of `libcollections` that are *re-exported* from `libstd` (and are stable).

http://doc.rust-lang.org/1.0.0-beta/std/collections/

[2015-04-16 07:10] tbu- opened #24489 "Performance of inlined code not as expected"
I expect the following two snippets to have the same performance:

    #[inline(always)]
    fn decrement(val: u32) -> Option<u32> {
        if val != 0 {
            Some(val - 1)
        } else {
            None
        }
    }

    match decrement(a) {
        Some(aa) => /* do something */ {},
        None => /* do something else */ {},
    }

and

    if a != 0 {
        a - 1;
        /* do

[2015-04-16 09:01] mbudde commented on #24417
I ran into the problem while reading the documentation for [mio](http://carllerche.github.io/mio/mio/struct.EventLoop.html#method.timeout_ms). I have not been able to find any instances of this problem in the standard library (only a couple of hits in the `librustc` crate) [1] .

[1] `git grep '\<fn[^(]*([^)]*[A-RT-Z][a-zA-Z_]*::[A-Z][^)]*)'`

[2015-04-16 09:25] frankmcsherry commented on #24063
I have a fairly minimal *change* that causes the ICE to happen; the actual crate is quite large and I'm not really sure how to simplify it yet. Note, the ICE happens when you try to build *against* the crate, not when you build the crate itself.

[code]
If you swap in the following roughly equivalent lines of code (or, weirdly, change `self.frontier[index]` to `self.frontier[0]`), the ICE goes awa

[2015-04-16 09:28] SimonSapin commented on #20596
It’s a combination of multiple things.

In CSS you can write things like `:nth-child(2n+1)` or `unicode-range: U+00-FF`, but their syntax were designed (as far as I can tell) with little consideration as to how it fits in the CSS tokenizer. In some cases like `4n -0` or `U+4-0`, a `-` is tokenized as the sign of a number token, but its presence is significant.

Additionally, invariants like `parse

[2015-04-16 09:40] jakub- commented on #24486
Also, rather than using `linkchecker`, which – as @steveklabnik is saying – usually is not an expedient process, we could have `rustdoc` record all the URLs produced when generating the HTML and then validate them against the directory structure.

[2015-04-16 09:45] pnkfelix commented on #23657
cc me

[2015-04-16 09:47] pnkfelix commented on #20596
(if I had my druthers, `Display` on floats that happen to be integers would always include a trailing `.0`, and include the sign on negative values.  But I'm a schemer, so i'm used to seeing that sort of output when working with inexact values...)

[2015-04-16 10:22] nathanl commented on #24486
One example: From http://doc.rust-lang.org/1.0.0-beta/book/hello-world.html

We provide some sample configurations for various editors.

Link is broken.

[2015-04-16 10:36] dotdash commented on #24489
That's an interesting case, which I think LLVM should handle, but currently doesn't. Maybe the required analysis is too expensive? No idea. The problem is this:
[code]

`%.14` is only used in the PHI node when we are looping. And that is only the case when `%5` is false, which means that `%.i14` will always be equal to `%6`. And indeed, replacing `%.14` by `%6` in the PHI node leads to identical I

[2015-04-16 10:50] steveklabnik commented on #24486
That's due to a Rustdoc... Mis-feature, for which we already have a bug open.

[2015-04-16 10:59] bombless commented on #4287
Modem form of the example code give us new output now.
[code]
[code]

[2015-04-16 11:57] jakub- commented on #17507
I'm going to close this as a subissue of https://github.com/rust-lang/rust/issues/15509. Please yell or open if you disagree.

[2015-04-16 11:57] #17507 closed

[2015-04-16 11:58] jakub- commented on #22679
I moved the issue to https://github.com/rust-lang/regex/issues/74.

@goffrie The message wording problem you described is tracked by https://github.com/rust-lang/rust/issues/15509.

Closing.

[2015-04-16 11:58] #22679 closed

[2015-04-16 12:31] hirschenberger commented on #24412
Can't reproduce with
[code]

[2015-04-16 12:37] jakub- commented on #21797
Fixed in https://github.com/rust-lang/rust/pull/24380. Closing.

[2015-04-16 12:37] #21797 closed

[2015-04-16 12:44] dotdash commented on #24489
http://reviews.llvm.org/D9051

[2015-04-16 12:45] jakub- commented on #19593
Closing as a duplicate of https://github.com/rust-lang/rust/issues/19064.

[2015-04-16 12:45] #19593 closed

[2015-04-16 13:17] lstat commented on #22820
The test for `custom_attribute` is located in [custom_attribute.rs](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/custom_attribute.rs)

[2015-04-16 13:29] #24434 closed

[2015-04-16 13:49] arielb1 commented on #24412
Are you sure you used a build with active logging? You need to configure it with `--enable-debug-assertions --enable-debuginfo` (which isn't done with the nightlies) or `RUST_LOG` will be ignored.

[2015-04-16 13:51] arielb1 commented on #24474
Which lang-items did you use? We don't try to detect broken lang-items ATM.

[2015-04-16 14:01] Munksgaard opened #24497 "MethodCallee does not implement Debug"
I'm under the impression that everything that can reasonably implement Debug should implement Debug. MethodCallee does not.

[2015-04-16 14:29] hirschenberger commented on #24412
Sorry, good hint. I CAN reproduce the ICE.

[2015-04-16 14:34] Gankro commented on #24483
That requires you to know that it's a trait being invoked. This is perhaps unrealistic; they'll probably search for the fn in the global search.

[2015-04-16 14:40] steveklabnik commented on #15435
Traige: `extend` still does the efficient append to the end, but we don't have something that shifts existing elements over.

[2015-04-16 15:15] pnkfelix commented on #24412
oh cool, this seems like it must be a bug either in the overflow-detection or in the dataflow code

[2015-04-16 15:17] pnkfelix commented on #22820
I am not surprised that I "overlooked" that ... the expected error message prefix does not say anything about a feature gate.  Let me just confirm that the whole message does ...

[2015-04-16 15:17] tomaka commented on #22992
Simpler code:

[code]

[2015-04-16 15:34] #24445 closed

[2015-04-16 15:57] steveklabnik commented on #15435
Closing in favor of https://github.com/rust-lang/rfcs/issues/1065

[2015-04-16 15:57] #15435 closed

[2015-04-16 16:14] alexcrichton commented on #24456
I have [created an RFC](https://github.com/rust-lang/rfcs/pull/1066) for marking `forget` as a safe function.

[2015-04-16 16:15] alexcrichton commented on #24292
I have [created an RFC](https://github.com/rust-lang/rfcs/pull/1066) spurred on by this topic, which proposes admitting that memory leaks are safe behavior in Rust. (consequently admitting that `scoped` was the source of unsafety here).

[2015-04-16 16:59] steveklabnik commented on #24406
Yeah, that section is mostly about documenting your own code, and these attributes cannot be used outside of the standard library.

[2015-04-16 17:29] GuillaumeGomez commented on #24407
I now take E0012 (should I open a new PR for it or not ?).

[2015-04-16 17:37] #24154 closed

[2015-04-16 17:49] petrochenkov commented on #24456
By the way, is it okay to leak references through `Rc`-powered forget?
[code]

[2015-04-16 18:25] jgilchrist commented on #21246
This appears to have been fixed by rust-lang/cargo#1530

[2015-04-16 18:25] iopq opened #24503 "Rustdoc problem with lifetimes"
http://webcache.googleusercontent.com/search?q=cache:ufyF2_8E4hUJ:doc.rust-lang.org/1.0.0-alpha.2/std/string/type.CowString.html+&cd=2&hl=en&ct=clnk&gl=us

Using a single apostrophe breaks the tag:

[code]

as you can see, the title is `use Cow<` and the rest is malformed HTML

[2015-04-16 19:07] l0kod commented on #24307
All software dealing with TTY (i.e. TUI tools, startup daemons…) does or should handle controlling TTY, including the libraries they could use (e.g. [OpenSSL](https://github.com/openssl/openssl/blob/0f113f3ee4d629ef9a4a30911b22b224772085e5/crypto/rand/rand_unix.c#L279-L280), ). Cf. [Debian code](https://codesearch.debian.net/perpackage-results/O_NOCTTY/2/page_0) for more examples.

Anyway, it seem

[2015-04-16 19:19] cactorium opened #24504 "ICE: "cat_expr Errd""
The compiler appears to crash when fed this invalid syntax.

I tried this code:

[code]
I expected to see a syntax error, but instead I got this trace:

[code]

Backtrace is this:
[code]

[2015-04-16 19:29] iopq opened #24505 "No unused annotation warning when externing crate"
Put this at the top of the file
[code]

Result: this compiles without warnings in the nightly
Expected: warning: unused crate `core`, consider removing `extern crate core`

[2015-04-16 19:32] steveklabnik commented on #24019
So, now that the TOC has changed, the old pointer guide is gone, so I'm considering this closed for now. Ownership still needs to be improved, but that'll happen regardless of this issue. thank you again!

[2015-04-16 19:32] #24019 closed

[2015-04-16 19:39] steveklabnik commented on #24076
I've since moved this to unstable. Thanks!

[2015-04-16 19:39] #24076 closed

[2015-04-16 19:58] steveklabnik commented on #24300
http://doc.rust-lang.org/nightly/std/thread/struct.JoinGuard.html#method.join does in fact say 'panics on the child thread are propagated by panicking the parent.'

[2015-04-16 19:58] #24300 closed

[2015-04-16 19:59] steveklabnik commented on #24127
This chapter has since disappeared, solving the issue.

[2015-04-16 19:59] #24127 closed

[2015-04-16 20:03] steveklabnik commented on #23915
I'm not keeping bugs open for non-specific 'improve these docs,' so i'll give it a close, then. Of course I hope to improve these docs at some point!

[2015-04-16 20:03] #23915 closed

[2015-04-16 20:23] steveklabnik commented on #24505
/cc @pnkfelix

I'm not sure this is a bug, exactly...

[2015-04-16 20:30] alexcrichton commented on #24505
I'm a little confused, do you expect the statement `extern crate core` to *not* require the `core` feature? (right now it is intentional that it does).

[2015-04-16 20:34] alexcrichton commented on #24503
Thanks for the report! This should be fixed by https://github.com/rust-lang/rust/pull/24396, however, as the way we render descriptions will be changing.

[2015-04-16 20:34] #24503 closed

[2015-04-16 20:35] alexcrichton commented on #21246
Thank @jgilchrist!

[2015-04-16 20:35] #21246 closed

[2015-04-16 20:42] nikomatsakis commented on #6393
Closing in favor of https://github.com/rust-lang/rfcs/issues/811

[2015-04-16 20:42] #6393 closed

[2015-04-16 20:43] nikomatsakis commented on #6268
Closing in favor of https://github.com/rust-lang/rfcs/issues/811

[2015-04-16 20:43] #6268 closed

[2015-04-16 20:54] steveklabnik opened #24511 "alloc::boxed points to old pointers chapter"
Originally pointed out by @fhartwig

http://doc.rust-lang.org/nightly/alloc/boxed/ links the pointers chapter, which is now gone. This needs fixed.

[2015-04-16 21:18] pnkfelix commented on #17606
Not 1.0; P-low.  (Also, not clear how to solve this, since most of the time the presence/absence of an impl is dependent on the particular type parameters you are instantiated with.)

[2015-04-16 21:20] pnkfelix commented on #24338
Probably "just-a-bug"; P-low, not 1.0.

[2015-04-16 21:21] iopq commented on #24505
Because it is not required for my program to work. Maybe there should be a warning for `extern crate core` not being necessary?

[2015-04-16 21:24] pnkfelix commented on #24417
P-high, not 1.0.  Seems nice to fix, but without an example of this bug occurring in the stdlib itself, it is not a 1.0 blocker.

[2015-04-16 21:26] pnkfelix commented on #24456
closing this issue to encourage all further discussion of this matter to happen on the RFC thread, see https://github.com/rust-lang/rfcs/pull/1066

[2015-04-16 21:26] #24456 closed

[2015-04-16 21:34] MatejLach commented on #24505
I think what @iopq is saying is that when he puts `extern crate core` into his source code and then does not make use of the `core` feature in his program that the compiler should warn him something like `consider removing "extern crate core"`, something akin to `variable does not need to be mutable`, although I am not sure.

[2015-04-16 21:38] reem commented on #24456
@pnkfelix seems weird to close the issue if it's not fixed, how about just leaving the comment?

[2015-04-16 21:51] iopq commented on #24505
MatejLach: yes, that's exactly what I want

[2015-04-16 22:13] eddyb commented on #22501
Somehow I forgot to comment that this was never finished, #22994 contained merely the *easy* cases.

[2015-04-16 22:18] eddyb commented on #20427
How so? #23104 does not make use of associated constants (#23606 is still not merged yet) so there is a chance things like `u32::MIN` will slightly change in behavior in 1.0.
Will we have `std::u32` or w/e stuck around forever, as an alias to the type? (allowing beta code to keep working without removing the potentially needless import)

The names of primitives cannot be considered a fixed set, so

[2015-04-16 22:36] alexcrichton commented on #24505
@iopq there's [actually a lint for this today](https://github.com/rust-lang/rust/blob/master/src/librustc/lint/builtin.rs#L25-L29) although it may not be super well tested. Additionally, linking crates may have side effects such as pulling in C libraries or providing lang items which are not always easy to track (hence the allow-by-default).

For simple cases, though, I think that lint should suff

[2015-04-16 22:36] #24505 closed

[2015-04-16 22:39] #15468 closed

[2015-04-16 22:39] #19190 closed

[2015-04-16 22:39] #21311 closed

[2015-04-16 22:39] #21674 closed

[2015-04-16 22:39] #24201 closed

[2015-04-16 22:48] tbu- commented on #24489
@dotdash Is this already the fix?

[2015-04-16 22:51] steveklabnik commented on #9232
Triage time!

To reproduce today, source code:

[code]

compile:

[code]

use gdb:

[code]

notably: *hello::foo () at <std macros>:3* and *hello::main () at hello.rs:6*

Is this wrong? should it say `hello::foo() at hello.rs:2`, I'd guess? It's at least different than before.

[2015-04-16 22:57] steveklabnik commented on #4353
Today, compiling with `rustc -O --emit=llvm-ir hello.rs`, I get

[code]

No more `case`. Is this resolved, or does some other code still generate poorly?

[2015-04-16 22:59] steveklabnik commented on #4566
triage: this is an enhancement, nothing has really changed.

[2015-04-16 23:01] steveklabnik commented on #1766
Seems good! Thank you @aochagavia and @fhahn !

[2015-04-16 23:01] #1766 closed

[2015-04-16 23:03] steveklabnik commented on #12429
What do we think the status is of this today? @aturon , I'd imagine that during stability, these kinds of concerns have been addressed, yes?

[2015-04-16 23:05] steveklabnik commented on #8591
Triage: now that `@` is removed form the language, I'm not _entirely_ sure how to reproduce this bug.

[2015-04-16 23:09] alexcrichton commented on #12429
Yeah I think that all public-facing types have been audited as necessary. A lot of the internal implementation details of channels still need to be dealt with, but that can always happen at a later date!

[2015-04-16 23:09] #12429 closed

[2015-04-16 23:10] steveklabnik commented on #8591
New code:

[code]

ouputs: `(3, 2)`

[2015-04-16 23:11] cmr commented on #8591
Modernized:

[code]
((140238844473352, 140238875981712), (140238873824724, 140238875981712), (140238844473368, 140238875981712), (140238873824728, 140238875981712))
[code]

[2015-04-16 23:14] cmr commented on #8591
(That is, vtables *are* only emitted only once where identical, I suspect we've modified the linkage such that LLVM merges them? Or maybe the compiler just got smarter)

[2015-04-16 23:14] dotdash commented on #24489
@tbu- Yes, with that patch, both examples optimize to the same IR.

Tested with:
[code]

[2015-04-16 23:14] cmr commented on #8591
I'm not sure if we *want* to have a test for this sort of optimization to be honest, but I'll leave that up to someone else.

[2015-04-16 23:16] steveklabnik commented on #12554
This is not likely to get fixed anytime soon, as Markdown doesn't have any kind of standard for how to mark up something like this. As it would be a pretty big extension / change, I'd imagine this would go through the RFC process, since Rustdoc is part of the Rust distribution, and so I'm going to give it a close here. In practice, writing manual links leads to breakgage sometimes, but it's not to

[2015-04-16 23:16] #12554 closed

[2015-04-16 23:18] steveklabnik commented on #12590
Triage: the output here has gotten weirder:

[code]

I'm guessing the blank line comes from dropping the comment when `b` gets inlined, but who knows.

[2015-04-16 23:23] steveklabnik commented on #12872
Triage:

today's code:

[code]

using lldb:

[code]

Works for me too, on Debian. Given this bug is a year old, I'm going to give it a close, I think. @larsbergstrom , if this isn't working for you still, let me know and we'll re-open, but I bet the weirdness got fixed in the meantime.

[2015-04-16 23:23] #12872 closed

[2015-04-16 23:23] lfairy commented on #14814
@kmcallister According to rust-lang/crates.io#91, some members of the community have reserved rustdoc.org and doc.rs for this purpose. So getting a domain is not a blocker.

[2015-04-16 23:29] steveklabnik commented on #8591
When we start doing codegen tests like this, we'll need to decide what all we cover, so I think I'll make that decision for now, to give this a close :wink:

[2015-04-16 23:29] #8591 closed

[2015-04-16 23:29] steveklabnik commented on #8591
(and thanks for the backup! :heart: )

[2015-04-16 23:30] steveklabnik commented on #24489
Since this is not only not our bug, but already fixed upstream, I'm going to give it a close. Thanks so much, @dotdash !

[2015-04-17 00:00] huonw commented on #4353
I think fast isel is only ever attempted to be used when optimisations are off. Using fast isel makes compilation faster and so we want to ensure we're using with `opt-level=0` as much as possible. I don't how one can detect if fast isel is being used by LLVM.

[2015-04-17 00:21] bstrie commented on #24489
Reopening for the moment, since the patch mentioned above has not yet been accepted by LLVM and may need to be backported to our fork.

[2015-04-17 01:14] michaelsproul commented on #24407
@GuillaumeGomez: You'll need a new PR as your previous one was just approved

[2015-04-17 02:13] lstat commented on #22820
I was wondering the same thing about the help message. It is not very clear what that `custom_attribute` test is doing, the only hint was the filename.

From reading #23974 some help messages were removed, would there be any concern for adding help messages to the expected test output in this case?

It could be worth adding a comment in there similar to the other gated tests:

    // Test that `#[

[2015-04-17 02:17] steveklabnik commented on #4353
Ah, gotcha, that makes sense. Given that it's an optimization, I assumed that it would be with optimizations on. :)

[2015-04-17 02:20] lstat commented on #22820
In relation to the feature gate list above I'm going to start off by looking into the following:

* `rustc_attrs`
* `on_unimplemented`
* `custom_derive`
* `box_patterns`

[2015-04-17 02:48] retep998 commented on #24450
I'd be happy with just having `c_void` publicly accessible in `std`.

[2015-04-17 02:55] retep998 commented on #24427
You forgot to specify the calling convention for your Rust function, so it is using the rust call convention which is different from the C calling convention.
Once you've set the calling convention from both sides to ensure they match up, if it still doesn't work, then you have an actual bug.

[2015-04-17 03:00] retep998 commented on #15028
Issue subsumed by https://github.com/rust-lang/rust/issues/23344

[2015-04-17 03:00] #15028 closed

[2015-04-17 03:39] jimmycuadra commented on #24406
I didn't realize they were specific to the stdlib. That would explain why they didn't work when I tried them. What's the reason for limiting to the stdlib? It'd be a very useful feature in general.

[2015-04-17 04:39] steveklabnik commented on #24406
They're closely tied to release channels, which non-stdlib crates don't use. We agree it would be useful and want to make something, but haven't worked on a design yet.

[2015-04-17 05:09] erickt opened #24518 "Make libsyntax compile with minimal amount of feature flags"
This a meta-bug that's tracking getting libsyntax to compile with the smallest possible feature flag set so that I can use it as the foundation for [syntex](https://github.com/erickt/rust-syntex). I've done a bunch of the work in #24487, but here are some more longer term dependencies that need some planning:

 Here's what needs to be done:

`#[feature(core)]`:
- [x] `Int::zero()` in ast
- [x] `To

[2015-04-17 05:52] #23729 closed

[2015-04-17 05:52] #23827 closed

[2015-04-17 05:52] #24356 closed

[2015-04-17 06:40] vosen commented on #24427
No, looking at the `--pretty=expanded` output function convention correctly defaults to `pub extern "win64" fn foo(...)`.
Also, I forgot to mention in the original post, but, I've tried every calling convention mentioned in the FFI part of the book.

[2015-04-17 06:56] pnkfelix commented on #24456
@reem the idea was to funnel conversation over to the RFC.   A single comment in the middle of a thread won't do that.

(To be clear: this was was the outcome of the team triage, since the issue had been nominated; it was was a group decision. My initial instinct had been to let it sit for a week with the nomination, but was persuaded by arguments  to close in favor of the RFC.)

[2015-04-17 07:02] pnkfelix commented on #22820
@lstat ah yes, #23974 is (correctly) why the help mag is missing .... hmm .... that complicates things

[2015-04-17 07:42] GuillaumeGomez commented on #24407
@michaelsproul: Yes, I just saw that.

[2015-04-17 08:07] rprichard commented on #22021
@pnkfelix AFAICT, the `PRETTY_DEPS$(1)_H_$(3)_pretty-...` definitions in [this commit](https://github.com/rust-lang/rust/commit/b26972e28bfc1b797e2dfa14435b551685cb180b) are not defining the expected variables, because the definitions are outside any function, so $(1) and $(3) expand to nothing.

`make -pn` shows this line:
[code]

I'll work on a fix.

[2015-04-17 08:16] frankmcsherry opened #24520 "ICE: FulfillmentError(Obligation, ... Unimplemented). Drop related?"
Sorry about the incoming wall of text. The backtrace was over 100 frames long.

[code]

This seems to be something I can avoid by switching some logic out of `Drop` and in to an explicitly called method (`seal()`, in the code). I have [a commit checked in](https://github.com/frankmcsherry/timely-dataflow/commit/5f568b83cde4dc196842ee05eeef52338eb88969) that is just a few edits away from the ICE; i

[2015-04-17 09:49] bombless commented on #20616
We actually have code that use this "feature", see https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/method/suggest.rs#L367

[2015-04-17 10:43] thepowersgang opened #24522 "ICE "bad enum variant for ty::AutoRef""
Unknown cause as yet (posting issue to before attempting to isolate, triggered by a large set of changes to my 9k line kernel)

[code]

[2015-04-17 10:52] thepowersgang commented on #24522
Closing, was most likely caused by accidental stale objects (as indicated by the rbml decoder in backtrace). Recompiling libcore fixed ICE.

[2015-04-17 10:52] #24522 closed

[2015-04-17 11:23] #23962 closed

[2015-04-17 11:23] #24160 closed

[2015-04-17 11:23] #24185 closed

[2015-04-17 11:23] #24228 closed

[2015-04-17 11:23] #24406 closed

[2015-04-17 11:23] #24497 closed

[2015-04-17 11:37] rprichard commented on #22021
@pnkfelix Do you have a preference on how to fix the `run-make/simd-ffi` test with parallel `make check`?

I have a fix now, but it's not successfully tested.

Parallel `make check` now fails because the `run-make/simd-ffi` test is run in parallel, and it has multiple phony targets that generate the same output file.  I think it's easy to fix that test.  Alternatively, we could disable parallelism

[2015-04-17 11:44] P1start commented on #20616
I’m working on a fix. I don’t think this needs an RFC—it’s clearly a bug (it doesn’t work everywhere: `type Foo<'a T> = &'a T;` doesn’t work) and I doubt much code will be relying on it.

[2015-04-17 11:46] retep998 commented on #24427
Okay, I tested this locally, made sure the calling conventions match up, and yet I can still reproduce this issue.

[2015-04-17 11:48] hirschenberger commented on #24412
It seems as if the dataflow code is flawed, trying to shift a usize var by values >32bits. Shouldn't the and'ed mask be `0x1F` to prevent this?

dataflow.rs:660
[code]

[code]

[2015-04-17 11:52] bombless commented on #20616
Hmm I already made a patch.. waiting for compiling and `make check`.

[2015-04-17 11:57] bombless commented on #20616
[code]
[code]

[2015-04-17 12:02] rprichard commented on #22021
I fixed `run-make/simd-ffi`.  I'll leave `maketest.py` alone for now.

[2015-04-17 12:45] klutzy commented on #16819
Triage: still an issue. Sub-bug of #24266.

[2015-04-17 12:48] klutzy commented on #18892
Solution 1 has been implemented:

[code]

Fixed!

[2015-04-17 12:48] #18892 closed

[2015-04-17 13:23] theWebalyst commented on #24388
This comment is a placeholder that you might take as additional feedback, but its just raw braindump while I'm reading. Consider the following work in progress that I may re-visit and edit/delete:

#### Trait Objects https://doc.rust-lang.org/book/trait-objects.html
I get most of the explanations of dispatch, but while I do recall the basics of vtables from C++ (last touched >10yrs ago) I can't fo

[2015-04-17 15:01] iluuu1994 commented on #23360
The beta branch must've been merged into master but the issue persists for me...

[2015-04-17 15:05] tamird commented on #3170
I think this is now fixed for real:
[code]

[2015-04-17 15:06] tamird commented on #24348
This should have been closed by #24423. Can someone with power close?

[2015-04-17 15:07] tamird commented on #24214
Also interested in working on this. Anything left to do?

[2015-04-17 16:06] theWebalyst commented on #24388
Ok, I've finished my first read through and the preceding comment concludes my feedback. Hope it is helpful. I look forward to updates and adiitions.

[2015-04-17 16:29] alexcrichton commented on #24348
Indeed!

[2015-04-17 16:29] #24348 closed

[2015-04-17 16:39] alexcrichton opened #24531 "Buildbot may test the wrong commit"
If a build is cancelled too soon, it may send a kill signal to a `git` process early on in the `git clone` step of buildbot. This will in turn leave the `.git/index.lock` file lying around, causing all future invocations of `git` to fail.

Subsequent builds then fail to update the repository, and all future builds end up running tests for the previous revision that was checked out into the local d

[2015-04-17 16:40] nikomatsakis commented on #24002
On Thu, Apr 09, 2015 at 11:45:57PM -0700, Carl Lerche wrote:

It's interesting because we try to give backtraces in such cases. I'm actually thinking of modifying the compiler to give more such
backtraces whenever we are processing a trait obligation like `x: Foo` because of something indirect, which would probably fix this case too
(presumably this is a case where somehow we cut off the stacktrac

[2015-04-17 16:40] pnkfelix commented on #24531
cc me

[2015-04-17 17:01] nikomatsakis commented on #24000
@dgrunwald oh, that's... not very good at all! that kind of ups the urgency of finding a good fix for this.

[2015-04-17 17:24] ldanko opened #24533 "thread 'rustc' panicked at 'Box<Any>'"
<short summary of the bug>
Hi,
I got following message from rustc:
[code]

I tried this code:
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2015-04-17 17:37] pnkfelix opened #24534 "difficulty: unstable helper macro used by stable macro_rules macro"
Spawned off of #24370

As a strategy for statically checking the input to the `panic!` macro, I had its expansion include a helper procedural macro that did some inspection of the input.

The helper macro (named `ensure_not_fmt_string_literal`, though that really shouldn't matter) was supposed to be unstable. We don't have a direct way to mark such a macro as unstable though, since it ends up bein

[2015-04-17 17:37] retep998 commented on #24411
This is especially prominent in winapi which spends the majority of its time in coherence checking.
[code]

[2015-04-17 18:25] nikomatsakis commented on #24000
(though if we have to hack up something to fix the ICE, we could.)

[2015-04-17 18:29] #24363 closed

[2015-04-17 18:32] Binero opened #24535 "Cannot mutably borrow inside a match guard"
I understand this shouldn't be possible in some occasions, because you might be able to modify what you're matching, which can cause the match to break. Why would it be disallowed to mutably borrow something that only exists within the match though?

[code]
http://is.gd/yuIFGc

I have constructed this minimal case. In my actual code I am running `.iter().any()` on a variable form outside the match

[2015-04-17 18:37] asQuirreL commented on #24535
Hi @Binero, I actually solved your use case like so: http://is.gd/ffFhbA by using `.contains(...)` instead of your `.iter().any()`.

[2015-04-17 18:50] maximih commented on #15684
Same issue on Redhat 6.4 after installing as root user. Should we reopen this? It gives a bad impression if rust installation doesn't 'just' work.

[2015-04-17 19:45] nstoddard opened #24536 "Standardize on either 'upper_case' or 'uppercase'"
The standard library uses names like `to_uppercase`, while there's a warning with the name `non_upper_case_globals`. One of these should be changed, for consistency. (There may be other instances of this inconsistent naming - I haven't checked.)

It would be a breaking change to change functions like `to_ascii_uppercase`, but renaming `non_upper_case_globals` to `non_uppercase_globals` should only

[2015-04-17 19:52] Binero commented on #24535
This certainly is a nice fix (and probably how it should've been done in the first place), however I still feel like this should be possible.

[2015-04-17 20:38] #22190 closed

[2015-04-17 20:38] #24070 closed

[2015-04-17 20:38] #22619 closed

[2015-04-17 21:08] steveklabnik commented on #24536
Naming conventions are covered by https://github.com/rust-lang/rfcs/blob/master/text/0430-finalizing-naming-conventions.md,

[2015-04-17 21:09] steveklabnik commented on #24536
Oh, you literally mean one or two words for 'upper case,' _not_ when things should be upper vs lower case. Sorry about that!

[2015-04-17 21:09] steveklabnik commented on #24536
/cc @aturon

[2015-04-17 21:14] steveklabnik commented on #24388
Thanks! Dumps always are. I'm hoping to go through this issue sometime this weekend, so I'll check it out then.

[2015-04-17 21:16] alexcrichton opened #24538 "Add Default/ToOwned/IntoIterator to the prelude"
Also remove inherent `into_iter` methods if possible,

Tracking issue for https://github.com/rust-lang/rfcs/pull/1030

[2015-04-17 21:20] pnkfelix commented on #24412
yeah; if the code (that this is providing instrumentation for) is extracting a byte and then a bit from within it, then `bit_str` should look like:
[code]

If its extracting a 32-bit word and then a bit within *that*, then `bit_str` should look like:
[code]

(if the extraction really is word-size dependent, that seems like a recipe for trouble to me... better to just use `u32` everywhere here, IMO

[2015-04-17 21:21] pnkfelix commented on #24412
cc @nikomatsakis

[2015-04-17 21:25] jorisgio opened #24539 "Panic on list items containing inline code blocks"
rustdoc panic in certain combinations of inline code blocks, list items and headlines :

this works :
[code]

this works too :
[code]

But this fails :
[code]

with the following error :

[code]
backtrace :

[code]

on `rustdoc 1.0.0-nightly (a52182ffd 2015-04-17) (built 2015-04-17)`, running on linux

[2015-04-17 21:30] jorisgio commented on #24539
After an advice from asQuirreL on #rust i tried with only two spaces to indent the list block and it doesn't panic in this case.

[2015-04-17 21:35] nstoddard opened #24540 "Linking to external libraries on Windows requires two copies of the libraries in different directories"
On Windows 64-bit, the linker looks for DLLs in `bin\x86_64-pc-windows-gnu`. However, when running the program, either with `cargo run` or running it directly, it doesn't look there, and instead looks for the DLLs in the project's base directory as well as the directories in your PATH. As a result, you need to include two copies of each DLL, one in each location.

It would be nice if it would alwa

[2015-04-17 22:45] #22077 closed

[2015-04-17 22:59] pnkfelix commented on #24388
@theWebalyst BTW, regarding match and patterns, the most recent blog post may be of interest:

  http://blog.rust-lang.org/2015/04/17/Enums-match-mutation-and-moves.html

(Full disclosure : I wrote it)

[2015-04-17 23:04] P1start commented on #20616
Ah OK, you can submit your patch, then. I haven’t even got mine working yet.

[2015-04-17 23:14] mkpankov commented on #23818
I'm against this.

Implicit flushing will degrade performance of programs doing specifically `print!()` and printing long lines out of several components.

What, for example, do you use for actual text printing of your main output in console programs? I used `print!()` in clone of `hexdump`, for example.

About buffering: this man mentions the defaults
http://manpages.courier-mta.org/htmlman3/setb

[2015-04-17 23:50] alexcrichton opened #24543 "Rename str::words to str::split_whitespace"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1054

[2015-04-17 23:53] posix4e opened #24544 "Confusing error message when you attempt to build for a target that rustc isn't prepared for"
I am trying to build rustboot

rustc -O --target i686-unknown-linux-gnu --crate-type lib -o main.o --emit obj main.rs

Get's
te-type lib -o main.o --emit obj main.rs
main.rs:7:1: 7:19 error: can't find crate for `core`
main.rs:7 extern crate core;
          ^~~~~~~~~~~~~~~~~~

The actual error should tell you that you are trying to build for a target that rustc can't handle.

[2015-04-18 00:26] P1start opened #24545 "Warn when transmuting between non-#[repr(C)] structs"
[code]

Since struct layout is undefined, this code is technically incorrect, as the representation of `Foo` and/or `Bar` could change in future versions of Rust. It would be nice if a lint could detect this sort of thing and warn about it.

[2015-04-18 00:36] Boreeas opened #24546 "rustup on mint fails with "empty installer version""
I've tried installing the beta version of rust on mint 17.1, using rustup.sh as described on the install page. However, running rustup fails with the following error

[code]

`/usr/local/lib/rustlib/install.log` doesn't contain any interesting information either, just the line `install: error: rust installer version is empty. see logs at '/usr/local/lib/rustlib/install.log'`

[2015-04-18 04:57] #24049 closed

[2015-04-18 05:30] P1start opened #24549 "Make `lifetime` a keyword"
The [associated items RFC](https://github.com/rust-lang/rfcs/blob/master/text/0195-associated-items.md) adds the ability to declare associated lifetimes using the `lifetime` keyword. Presumably this would require adding `lifetime` as a keyword.

[2015-04-18 06:31] kballard commented on #24549
Technically, we could get away with making it a contextual keyword, only treating it specially within a `trait` or `impl` block. We don't currently have any precedent for contextual keywords, although it's been suggested a number of times in the past for various things.

[2015-04-18 06:55] lstat commented on #22820
I've done a pass through of the unchecked feature gates and have found tests for the following:

* `box_patterns` ([gated-box-patterns.rs](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/gated-box-patterns.rs))
* `box_syntax` ([gated-box-syntax.rs](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/gated-box-syntax.rs))
* `custom_derive` ([single-derive-attr.rs

[2015-04-18 07:13] pnkfelix commented on #22820
@lstat thanks!

[2015-04-18 08:46] thesam opened #24550 "No longer possible to add numbers without libcore?"
Hi!

I have a fork of rustboot which I try to keep up to date with the latest rust releases. Lately, I have run into an issue with the basic operators, for example using '+' to add two numbers. This used to work before without libcore, but I guess something has changed?
[code]
Output:
[code]

[2015-04-18 09:07] nikomatsakis commented on #20862
I can't seem to produce an ICE no matter what I do.

[2015-04-18 09:10] zummenix commented on #16264
I have a similar example:
[code]
Only acceptable fix for me is to move the `Check` trait to the `core` level.

[2015-04-18 09:13] bombless commented on #20862
Those closure kinds info are already gone, so I think many related bugs are gone as well.
e.g. I cannot reproduce a bug related to closure kinds and macro https://github.com/rust-lang/rust/issues/21087

[2015-04-18 09:55] P1start commented on #24549
There could be some more uses for `lifetime`, though. In particular, I’m thinking of an HKT-like extension to the language where traits can be for arbitrary kinds, including lifetimes. So something like the following could be valid:

[code]

Or perhaps the kind signature for a type like `struct Foo<'a>` would be `type<lifetime>`. These all might seem to work fine with `lifetime` as a contextual ke

[2015-04-18 10:39] jakub- commented on #24504
Thanks for your report! This issue is a duplicate of https://github.com/rust-lang/rust/issues/22897 so I'm going to close it.

[2015-04-18 10:39] #24504 closed

[2015-04-18 11:08] wooque opened #24551 "Auto-dereferencing bug?"
Auto-dereferencing is working if `&Box<Struct>` is in place of `&Struct` function argument, or in:

[code]

but not if Struct reference is destructured:

[code]

Example:

[code]

Is it a bug or intended behaviour?

[2015-04-18 11:09] meqif commented on #24407
I took a stab at E0133.

[2015-04-18 11:17] #24462 closed

[2015-04-18 11:36] roelvanduijnhoven commented on #15684
Also got this error after an upgrade.

[2015-04-18 15:01] kostya commented on #24014
confirm that matmul fixed https://github.com/kostya/benchmarks/commit/5e8409fce699e9dda95ade14876d312dbceea681
but brainfuck, still slower, than before

[2015-04-18 15:48] mdinger commented on #24483
I see how this could be problematic.

[2015-04-18 15:51] Gankro commented on #24483
I still think this has potential. I'd suggest basically making the "super collapse" buttons step-wise:

lvl 0: show everything
lvl 1: hide examples
lvl 2: hide all descriptions
lvl 3: hide trait methods

`-` goes up a level; `+` does down one.

[2015-04-18 15:56] kostya commented on #24014
btw, is any better way to write into multi arrays? to simplify code in matmul example:
`a: Vec<Vec<f64>>`
`*a.get_mut(i).unwrap().get_mut(j).unwrap() = val;`
because it looks not readable.

[2015-04-18 15:57] theWebalyst commented on #24388
Thanks @pnkfelix that looks very useful. Rust is powerful! Have bookmarked it :-)

PS Felix was a fave of mine!

[2015-04-18 16:16] rkruppe opened #24556 "Default float formatting is too narrow-minded"
Currently, `{}` and `{:?}` always prints at most 6 digits after the decimal point, and never uses scientific exponential notation (`1.23e6`) regardless of how large the number is.

This has several undesirable consequences:

- It introduces significant error when serializing numbers and reading them back (even ignoring #24557), making it the wrong default for machine-readable output.
- It can prod

[2015-04-18 16:16] rkruppe opened #24557 "Float printing and/or parsing is inaccurate"
This example program produces a frighteningly large amount of numbers that, without even leaving the save haven of `[0.0; 1.0)`, change when printed out and read back in:

[code]

Not all numbers fail to round trip, but in all my trials a majority did. The error is in the order of 1e-16 (much more, around 1e-6, for the default `{}` formatting) for all outputs I looked at, but that is more than IEE

[2015-04-18 16:25] lifthrasiir commented on #24556
FYI, I'm currently working on the flt2dec patch.

[2015-04-18 16:26] mdinger opened #24558 "Traits get duplicated because of different types"
[f32](http://doc.rust-lang.org/nightly/std/primitive.f32.html#) for example essentially supports traits like `Add` which have multiple copies which aren't duplicates but seem repetitive because they are essentially very similar:

#### Currently:
[code]

It would be very nice if these could be combined so the repetition is less drastic. I've only come up with 2 options so far but maybe there are mo

[2015-04-18 16:28] mdinger commented on #24558
This may interfere with https://github.com/rust-lang/rust/issues/24558 if it was ever implemented though it may be a better idea.

cc @Gankro

[2015-04-18 16:43] #3914 closed

[2015-04-18 17:04] pnkfelix commented on #24557
potential dupe of #7030 and/or #7648 .  I've been meaning to try to look at this for a long long time; for the most part we've always just triaged these issues as "just a bug", but that's not a reason to not try to fix them, if someone has time.

I am very familiar with Will Clinger's paper, as he was my Ph.D advisor -- though floating-point parsing was not my topic area -- and I have seen him pre

[2015-04-18 17:09] Gankro commented on #24558
cc @acrichto

[2015-04-18 17:38] dgrunwald opened #24561 "Name collision between extern "C" functions can cause undefined behavior in safe code"
I'm generating `extern "C"` functions using macros. Since it's currently not possible to use `$concat_ident` for function names, I can't give these functions unique names.

I was hoping for rust's name mangling to take care of the issue; but unfortunately this doesn't work if the macro is used twice in the same function. This usually results in internal compiler errors for me, but on the playpen m

[2015-04-18 18:50] rrichardson opened #24564 "Provide support for arbitrary width atomics from 16bit to 2x word size (u16, u32, u64, u128)"
In order to perform many tasks without locks, CAS requires two values in order to avoid the [ABA Problem](https://www.wikiwand.com/en/ABA_problem)

Typically, the first value is the item which needs to be swapped, and the 2nd is an independently adjust variable which reduces the likelyhood that a value can be swapped in, and swapped out without competing threads observing it.

For example, popping

[2015-04-18 19:00] alexcrichton commented on #24561
Hm this sounds like a bug, the compiler should be giving each of these `extern` functions a different symbol...

[2015-04-18 19:19] maximih commented on #15684
cc @brson

[2015-04-18 19:36] Manishearth opened #24565 "Add a cfail mode for doc comments"
Many times the docs mention an error message in non-compiling Rust code to illustrate a concept. For example, the [move semantics](https://github.com/rust-lang/rust/blob/88601f8d7d0784a2fe502193b9d98edd3e7d88ea/src/doc/trpl/move-semantics.md) chapter illustrates how moves can cause errors.

However, it's possible that the error message may update in the future, or that the code (which is marked as

[2015-04-18 19:38] alexcrichton opened #24566 "Consider adding a .foreach()-like method to Iterator"
Proposed in https://github.com/rust-lang/rfcs/pull/582 and https://github.com/rust-lang/rfcs/pull/1064, the `Iterator` trait could have a `.foreach` method which drains the iterator immediately and runs a closure on each element to concisely do so without a `for` loop.

[2015-04-18 19:56] nagisa commented on #24564
Related: https://github.com/rust-lang/rfcs/issues/521. I believe adding quad-width types would also involve adding atomic operation support for them.

[2015-04-18 20:00] nagisa commented on #24561
On the nightlies it is an ICE:

error: internal compiler error: symbol `_ZN4main4test10__rust_abiE` already defined
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
note: run with `RUST_BACKTRACE=1` for a backtrace

This issue is a duplicate of https://github.com/rust-lang/rust

[2015-04-18 20:09] Binero opened #24568 "Bad error message on returning match with incompatible match arms"
When returning the result of a match expression with incompatible arms, rust gives a rather obscure error message:

[code]
[code]

http://is.gd/J3qEpq

This is likely to be because panic! takes on the return type of the function, which is (), and than complains that it doesn't match the first arm's return type. This error message makes sense, but left me quite puzzled figuring out what was wrong.

[2015-04-18 20:15] rkruppe commented on #24557
Thanks for the dupes, I'm useless with GitHub's search.

If you check out the companion #24556 you'll see that lifthrasiir has an implementation of Loitsch's algorithm and is apparently intending to contribute it (IIUC). I'm very interested in seeing this fixed (despite actually having no use case for it myself... self-nerd-sniping FTW), so I'll try implementing Clinger's algorithm over the next w

[2015-04-18 20:17] Manishearth commented on #21793
I got some similar errors when playing with OIBIT

[code]

[playpen](http://is.gd/px7zEZ)

(I'm using this code for a heap-size deriving which needed an overridable blanket impl)

Instead of telling me that `SizeOf` isn't implemented for u64, it tells me that `SizeOfOI` isn't implemented for u64, which is pretty confusing when found in a larger context.

[2015-04-18 20:46] bhanderson opened #24569 "30-minute Introduction to Rust example does not compile"
The example for concurrency on the [30-minute Intro](http://doc.rust-lang.org/nightly/intro.html) does not compile and run.
[code]

[2015-04-18 20:51] rkruppe commented on #24557
I only just realized that there are actually functions in the standard libraries that display in bases other than ten. They all seem to be deprecated, though. Is this a thing that should be supported indefinitely, or is this slated for removal in the near future? That would be a bummer, since (as discussed in one of the other issues) a lot of the research focuses on base 10.

[2015-04-18 20:58] tamird commented on #7493
This discussion should probably move to the RFcs repo. cc @steveklabnik

[2015-04-18 21:14] steveklabnik opened #24570 "File does not implement Debug"
All types should, but it doesn't:

[code]

[2015-04-18 21:30] #23431 closed

[2015-04-18 21:43] huonw commented on #24564
How many architectures support double-width atomics in the CPU? (x86-64 with `cmpxchg16b` is one.)

[2015-04-18 21:49] huonw commented on #24564
(Also alignment isn't a particular problem, e.g. the SIMD types have similarly higher alignment requirements.)

[2015-04-18 21:51] steveklabnik commented on #24569
Yes, we had to de-stabilize `scoped`.

[2015-04-18 22:25] wooque opened #24573 "Examples in beta docs using unstable features"
http://doc.rust-lang.org/1.0.0-beta.2/reference.html#match-expressions
Unstable features are not allowed in beta/stable, so examples should be probably redoed.

[2015-04-18 22:34] killkrt opened #24574 "Build fails on MSYS2"
Hi,

I've installed MSYS2 on a clean installation of Windows 7 SP1 64bit, installed the building tool chain as described in the guide (that is mingw-w64-x86_64-toolchain and base-devel), but the configure script fails with the following error:

[code]

This is the full output:
[code]

[2015-04-18 22:51] Stebalien opened #24575 "Rustdoc inlined Deref impls should not include static methods."
As of #24396, rustdoc inlines Deref impls (:smiley:). However, static methods are also included. Static methods probably shouldn't be included as they can't be called through Deref. They also appear to mess with search results.

[2015-04-18 22:54] steveklabnik commented on #24535
Changing `match` in this way would require an RFC, I would believe, as it's a pretty significant change, and would need to be well-thouht-out for soundness reasons. You should open an RFC issue instead. Thanks!

[2015-04-18 22:54] #24535 closed

[2015-04-18 22:55] steveklabnik commented on #24540
I _believe_ this is a Cargo issue, not really a `rustc` issue, yeah? /cc @alexcrichton

[2015-04-18 22:55] mdinger commented on #24483
I wonder about clicking the `+/-` button multiple times to keep hiding more things. Maybe a dropdown which changes what the `+/-` does by switching between those levels you suggested.

[2015-04-18 22:56] steveklabnik commented on #24546
/cc @brson

[2015-04-18 22:57] steveklabnik commented on #24549
Nominating, as this seems important for backcompat reasons.

[2015-04-18 22:58] steveklabnik commented on #24550
You need to define the `add` lang item if you're not using libcore.

[2015-04-18 22:58] #24550 closed

[2015-04-18 22:59] steveklabnik commented on #24551
/cc @nikomatsakis

[2015-04-18 22:59] #24569 closed

[2015-04-18 23:03] steveklabnik commented on #24566
should be over here instead: https://github.com/rust-lang/rfcs/issues/1070

[2015-04-18 23:03] #24566 closed

[2015-04-18 23:04] steveklabnik commented on #24574
/cc @brson

[2015-04-18 23:25] pnkfelix commented on #14505
reopening; #13824 did not address the fact that this ICE's.

[2015-04-18 23:33] pnkfelix opened #24578 "Don't allow array types in extern "C" functions."
(imported from improperly closed bug #16221)

You cannot pass an array to or return an array from a C function.
The signature `f(char x[N])` is equivalent to `f(char *x)` for every `N` in C.  Therefore it is meaningless to write this in Rust, (or rather, it does not mean what a C programmer and/or FFI generation tool likely thinks it means):

[code]

Option for dealing with this:
- We can extend o

[2015-04-18 23:33] pnkfelix commented on #24578
triage: P-low

[2015-04-18 23:39] pnkfelix commented on #16745
@jakub- this actually appears to be currently fixed to me; I don't doubt that your PR has value, but can you explain which of the cases reported on this ticket is currently failing for you?

[2015-04-18 23:50] pnkfelix opened #24579 "pretty printer ICE on large const-expr summation"
(imported from improperly closed bug #17406)

This code:

[code]

when I hit the "format" button in the [playpen](http://is.gd/2Y1VHZ) (which I assume just calls `rustc -Z unstable-options --pretty`), it ICEs.

[2015-04-18 23:58] alexcrichton commented on #24566
Oh oops! I meant for this to be in rust-lang/rfcs but wasn't paying attention...

[2015-04-18 23:58] pnkfelix opened #24580 "dead code (+ unused assignment, etc) warnings in macros do more harm than good"
(imported from improperly closed bug #17427)

Consider the following code:
[code]

[playpen](http://is.gd/tUWPua)

The `unused_assignments` lint fires from the expansion of the second occurrence of `m!()`. But if you follow the advice of the lint and remove the assignment, you discover that the assignment was in fact significant, because when you remove the assignment, the side effect from the *fi

[2015-04-19 00:03] pnkfelix opened #24581 "LLVM abort from deref of 0 in a const expression initializing a static"
(imported from improperly closed bug #17452)

[code]

[playpen](http://is.gd/QrfaqE)

This causes LLVM to abort, causing a core dump from `rustc`.  :(

(I suspect we should be more careful, somehow, about handling such things in our const expression evaluator.  Not 100% sure how best to resolve this though.)

[2015-04-19 00:04] pnkfelix commented on #24581
(i don't want to tag this as `ICE` -- that implies to me that we are actually catching this and issuing the ICE message...)

[2015-04-19 00:04] pnkfelix commented on #24581
(I suppose I could tag it as both `I-ICE` and `I-crash`, though that seems like it does more harm than good w.r.t. the labeling system.)

[2015-04-19 00:05] frewsxcv opened #24582 "Misleading error message when calling method on unowned struct"
#### Code

[code]

#### Compiler error

[code]

I personally understand what the issue is, but to claim that `Vec` doesn't implement `map` is incorrect.

#### Playpen

http://is.gd/Auf2Af

[2015-04-19 00:05] jakub- commented on #16745
@pnkfelix Ah, I hadn't actually checked if this issue was still valid! But it seems you're right and I don't think my PR is even relevant after the recent changes to constant evaluation. Closing, thanks.

[2015-04-19 00:17] jakub- commented on #24581
I think this issue is a dupe of https://github.com/rust-lang/rust/issues/13973 so I'm going to close it. @pnkfelix, feel free to reopen if you disagree.

[2015-04-19 00:17] #24581 closed

[2015-04-19 00:22] jakub- commented on #24568
Thanks for reporting this issue! This is essentially https://github.com/rust-lang/rust/issues/24157 so I'm going to close it as such. The test case is sufficiently different, though, that I'll include it in the other issue too.

[2015-04-19 00:22] #24568 closed

[2015-04-19 00:24] jakub- commented on #24157
Another interesting test case, by @Binero from https://github.com/rust-lang/rust/issues/24568, that we should include as part of the fix:

[code]

[code]

[2015-04-19 00:24] pnkfelix opened #24583 "rustc crash when #[no_mangle] function is declared multiple times with different signatures."
(imported from improperly closed bug #18358)

[code]

[playpen](http://is.gd/SCMl71)

This crashes with:
[code]

(I don't know what it does if one compiles about LLVM assertions turned on.)

[2015-04-19 00:27] sfackler commented on #24570
We can easily slap one on that just prints the file descriptor/HANDLE, but it would ideally include the path of the open file. It looks like it'll be a bit of a pain to get.

Windows can get it via either [`GetFinalPathNameByHandle`](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364962(v=vs.85).aspx) or [`GetFileInformationByHandleEx`](https://msdn.microsoft.com/en-us/library/aa364953

[2015-04-19 00:28] fenhl opened #24584 "Missing docs lint ineffectual in test builds"
The `missing_docs` lint does not do anything in test builds. Minimal code example:

[code]

To reproduce, make a new crate, replace `src/lib.rs` with the above code, and run `cargo test`. The command will run successfully. I would expect the command to report a “missing documentation for crate” compile error.

As for the cause, my wild guess is some sort of interaction between `cfg(test)` and whic

[2015-04-19 00:28] sfackler commented on #24570
It'd also be nice to print if the file's writable or read only.

[2015-04-19 00:30] jakub- commented on #16745
Well, sorry, FWIW, this A-needstest.

[2015-04-19 00:34] pnkfelix opened #24585 "The `Drop` flag is a footgun for `#[repr(C)]`"
(imported from improperly closed bug #18380)

As suggested by @huonw:

Until #5016 is done, we really should lint for this scenario.  [People have run into it](http://internals.rust-lang.org/t/priorities-after-1-0/1901/67)

[2015-04-19 00:34] pnkfelix commented on #24585
triage: P-low

[2015-04-19 00:34] pnkfelix commented on #24585
oops.

triage: P-high

(but nonetheless not 1.0)

[2015-04-19 00:41] pnkfelix commented on #23833
This example, adapted from #18744 , is probably another instance of this:

[code]

It currently errors with `error: lower range bound must be less than upper [E0030]`

(The workaround is to add explicit suffixes to at least the `0` and optionally both ends of the range.)

[2015-04-19 00:49] JLeech commented on #24182
You just mistype, as i think
[code]

[2015-04-19 00:52] mossberg commented on #24182
Yes, you're right. But even with that, rustc shouldn't panic?

[2015-04-19 01:02] JLeech commented on #24182
Why he should?
Types are correct: line break  on str with iterator, which collected by collect() into Vec.

[2015-04-19 01:13] pnkfelix opened #24587 "don't print a span from DUMMY_SP"
(imported from improperly closed bug #22222)

Errors like:

[code]

are frustrating.  What purpose is the span serving there -- at _most_ it's going to, what, put someone into the correct root directory?  We might be better off not printing spans at all in these cases.

[2015-04-19 01:18] pnkfelix opened #24588 "`fmt::Debug` should not escape printable characters"
(imported from improperly closed bug #22412)

[code]

prints:

[code]

but probably should print:

[code]

(See discussion on #22412 for strategies for fixing this; team seemed pretty much on board for this change.)

[2015-04-19 01:21] richo commented on #24182
To be clear, there should be no inputs to rustc that cause it to panic, at
all.

On Sat, Apr 18, 2015 at 6:02 PM, JLeech <notifications@github.com> wrote:

[2015-04-19 01:27] pnkfelix opened #24589 "LLVM abort: Ptr must be a pointer to Val type!"
(imported from improperly closed bug #23679)

Code ([playpen](http://is.gd/0y4bmD)):
[code]

yields rustc crash (LLVM assert):
[code]

[2015-04-19 01:46] lfairy commented on #24565
:+1: This would be great for documenting syntax extensions.

[2015-04-19 02:01] michaelsproul opened #24590 "Empty match expressions can be ill-typed."
I've been playing around with empty match expressions, which are only allowed if the type being matched on is empty, and I've noticed that it's possible to compile (seemingly) ill-typed code like the following:

[code]

I would have expected this not to compile as `match *x {}` can only sensibly evaluate to `()`, yet `y` has type `u32`. The compiler only reports that the variable `y` is unused.

[

[2015-04-19 02:05] pnkfelix commented on #12501
@eddyb I cannot reproduce the issue now; i.e. when I try (e.g. by plugging in mismatched types for the initializer, and also experimenting with using `const` vs `static` to see if that tickles something), I seem to consistently get a type check error.

can you make another example at this point demonstrating the issue here?

[2015-04-19 02:06] pnkfelix commented on #12501
e.g. here is one version of updated code, but it compiles and runs:

[code]

[2015-04-19 02:12] pnkfelix commented on #24581
well I'd say that one could probably argue that #13973 should actually compile successfully (and bind `BLOCK_UNSAFE_SAFE_PTR` to the address that corresponds to the number `0xdeadbeef`), while this code does not seem like it should compile successfully...

In other words, solving both of these problems may involve a more general solution than solving either independently...

[2015-04-19 02:17] pnkfelix commented on #24590
see also #12609 and #4499

[2015-04-19 02:21] pnkfelix commented on #24590
See the dialogue starting here in particular: https://github.com/rust-lang/rust/issues/4499#issuecomment-36292097

Essentially, it is a huge abuse of the system to transmute a value to an instance of an empty enum.  Arguably we should assign a size to an empty enum that would ensure such transmutation does not occur.

I am actually halfway tempted to assign them the size `usize::MAX` right now.  I

[2015-04-19 03:11] tomjakubowski opened #24591 "Clarify documentation on HashMap::capacity()"
The documentation for `HashMap::capacity()` says:

However, a `HashMap` will sometimes store more elements than its capacity indicates. See this example ([Playpen link](http://is.gd/QC3JY9)):

[code]

[2015-04-19 03:14] reem commented on #24590
I don't actually think this is a bug - this code invokes undefined behavior in *multiple* ways, so it's ok that it segfaults.

Operations on unreachable values are themselves unreachable; operations on `Void` types, e.g. an empty `match`, can return any type, since, in a program without undefined behavior, they are always unreachable. cf. the type of `std::intrinsics::unreachable`.

[2015-04-19 03:28] lfairy commented on #24570
On Linux, you can read the link at `/proc/self/fd/<FD>`. The destination of that symlink is the name of the file.

That shouldn't be too hard, given that we have a [`read_link`](http://doc.rust-lang.org/nightly/std/fs/fn.read_link.html) function in `std`.

[2015-04-19 03:59] Stebalien commented on #24582
Vec doesn't implement map.

[2015-04-19 04:02] lfairy commented on #24570
I'm working on this.

[2015-04-19 04:05] tomjakubowski commented on #16862
Can this be closed? Seems like #23104 addressed this.

[2015-04-19 04:08] tomjakubowski opened #24593 "Unstable functions can't be collapsed in rustdoc"
This may have been intentional (as to not hide the "unstable" marking when everything is collapsed), but it's still annoying.

![2015-04-18-210637_684x367_scrot](https://cloud.githubusercontent.com/assets/667901/7218104/d24849fc-e60e-11e4-9c8b-21740a0d980b.png)

I would suggest that the collapsed state could have an indication of the function's instability. Perhaps collapsing a function's descript

[2015-04-19 05:48] bombless commented on #19878
This doesn't reproduce now.

[2015-04-19 05:51] FreeFull commented on #23888
Code that still works (causes the ICE) after the lifetime regression:
[code]

[2015-04-19 05:58] eddyb commented on #12501
@pnkfelix it must have been fixed by adding more type information to const_eval, I guess.

[2015-04-19 06:07] P1start commented on #8706
Because of #24428, this issue should be reopened.

[2015-04-19 06:08] frewsxcv commented on #24582
This is what happens when I open Issues before I consume caffeine. Sorry for the noise.

[2015-04-19 06:08] #24582 closed

[2015-04-19 06:54] pnkfelix commented on #12501
closing, assumed fixed

[2015-04-19 06:54] #12501 closed

[2015-04-19 06:55] pnkfelix commented on #24590
@reem right, well, i guess my point is that it would make it more obvious that the user is doing something bad, in a way that ... shouldn't ... break anything else?

[2015-04-19 06:58] reem commented on #24590
@pnkfelix imo it's actually useful for these operations to be any type, since it simplifies writing code that deals with empty "values" in branches-never-taken. That said, you could deal with this in a lot of different ways, so it's not a big deal if it becomes an error.

[2015-04-19 07:07] crumblingstatue commented on #24138
I've run into this problem too. Test case:
[code]

[2015-04-19 07:48] alexcrichton commented on #24540
This one reason why the compiler favors static linkage by default. Unfortunately there's no way for rustc to inject a path into each binary on Windows, so you'll have to set up your PATH environment variable appropriately before running executables if they're dynamically linked.

For most usage the dlls in the same folder as `rustc.exe` will suffice, so if `rustc.exe` is in your PATH then everythi

[2015-04-19 07:48] alexcrichton commented on #24540
I'm not certain that this is a Cargo issue, though. @nstoddard can you be more specific in how this problem arises and what triggers it?

[2015-04-19 07:52] alexcrichton commented on #16862
Indeed!

[2015-04-19 07:52] #16862 closed

[2015-04-19 09:16] frankmcsherry opened #24596 "ICEs (plural): "assertion failed: unsized_fields.len() == 1""
There is a second ICE once this one gets dealt with (I'll explain). I have some code checked in https://github.com/frankmcsherry/dataflow_join/commit/03b82bc7c07b4ce5bf40b7b776387d0fb416601a that has both a `lib.rs` and a `lib-fail.rs`. The two are basically the same except that the failing one uses associated types where the non-failing one doesn't.

It is a bit more complicated than that: there

[2015-04-19 09:53] nagisa commented on #24583
This doesn’t crash anymore.

[code]

[2015-04-19 09:59] nagisa commented on #24557
cc @lifthrasiir, because you were working on making conversions correct AFAIR.

[2015-04-19 10:01] nagisa commented on #24570
relying on procfs is bad, because it may not be mounted or be mounted at a non-standard location.

[2015-04-19 10:20] lfairy commented on #24570
@nagisa We aren't really relying on it here. If `/proc` isn't present, the code would just not print a path. No biggie.

[2015-04-19 10:59] killkrt commented on #24574
I think the problem is that my home folder name contains spaces. MSYS2 creates the home folder using the user name from Windows (that in my case contains spaces).
I think the issue could be fixed easily putting double quote in the right place in the configure script. I'll make a test and then make a pull request.

[2015-04-19 11:18] bombless commented on #24574
Hmm did you run with  mingw64_shell.bat or in cmd.exe?

[2015-04-19 11:25] pnkfelix commented on #24583
@nagisa it currently crashes in the playpen, set to "Nightly" ... are you saying its been fixed since the last nightly, but the PR didn't reference this ticket?

[2015-04-19 12:14] nagisa commented on #24583
@pnkfelix cases like these are errors (or ICEs, like in https://github.com/rust-lang/rust/issues/24561) since #23011.

I think playpen’s nightly might be outdated.

[2015-04-19 12:29] nagisa opened #24599 "ICE: assertion failed: !is_undef(val)"
code:

[code]

output:

[code]

EDIT: minimized example a bit

[2015-04-19 12:48] bombless opened #24600 "rustc takes too much time to evaluate a struct type with recursion using Rc"
Check my code here to reproduce:
https://github.com/bombless/bfvm-rs/commit/ff03a10d7b09b1a9d3365886f6accc20df68cfa7
(see that `sexp` crate)

[code]

here's "-Z time-passes" output:
[code]

FWIW, 2 weeks ago rustc reported "overflow evaluating the requirement `_ : core::marker::Sized`" in a minute instead of hanging for this code.

@tomaka may have other ways to reproduce this.

[2015-04-19 12:54] bombless commented on #24600
Oh after Ctrl+D to kill the process, the terminal prints "error: overflow evaluating the requirement `_ : core::marker::Sized` [E0275]" now, but still hang after printing "error: aborting due to previous error"

[2015-04-19 12:56] nagisa commented on #24600
NB: after “resolving dependency formats” comes “translation”.

[2015-04-19 13:10] tomaka opened #24601 "rustc 32bits takes one hour to compile with optimisations on"
EDIT: only happens with the 32bits version, 64bits version works.

Similar to #24600, but at a different step.
To reproduce: clone https://github.com/tomaka/glium/tree/aae2129a279c80a022e940393c54462b5d8df99c and run `cargo run --release`.

Compiling with `opt-level=0` doesn't hang. This is with `opt-level=3`.

The output of `-Z time-passes`:

[code]

(EDIT: I didn't wait long enough to have the r

[2015-04-19 13:14] pnkfelix commented on #8706
I agree with @huonw's [comment on PR #24428](https://github.com/rust-lang/rust/pull/24428#issuecomment-94273913): namely, we should revert the portions of that PR that regressed `rustc`

[2015-04-19 13:30] tomaka commented on #24601
Apparently some people can't reproduce.

I'm on Windows 7 with `rustc 1.0.0-nightly (a52182ffd 2015-04-17) (built 2015-04-17)`.

[2015-04-19 13:36] nagisa commented on #24600
Got

[code]

after a few minutes of trans.

(1284be404 2015-04-18 on linux)

[2015-04-19 13:46] bombless commented on #24600
beta.2 took several minutes but doesn't hang.
[code]
with
[code]
Maybe it's because my `./configure --enable-debug --enable-optimize`, and per https://github.com/rust-lang/rust/issues/24601 it's probably a Windows-only thing(I'd admit it's likely that these are 2 different things).

I'm using Windows 8.1 64 bit.

[2015-04-19 13:53] killkrt commented on #24574
I ran with mingw64_shell.bat, anyway I noticed that also the LLVM configure script has the same issue... I'm starting to think to change the home folder name...

[2015-04-19 13:57] bombless commented on #24600
I tested `rustc 1.0.0-nightly (00978a987 2015-04-18) (built 2015-04-19)` resulted in
[code]
(it seems that "-Z time-passes" is not useful in this case)

[2015-04-19 14:01] tomaka commented on #24601
Same with `rustc 1.0.0-nightly (00978a987 2015-04-18) (built 2015-04-19)`

[2015-04-19 14:12] rrichardson commented on #24564
ARMv[78]-A support double register CAS.  I haven't checked, but I am assuming LLVM's cmpxchg handles that correctly.   Between that and x86 I think 99% of the relevant platforms are covered. (the rest are typically not multithreaded archs :)

[2015-04-19 14:17] bombless commented on #24600
Okay my local rustc take 10 minutes to compile now.
[code]
The thing is, last time I tried I was using a rustc without `--enable-optimize` (see <https://github.com/rust-lang/rust/issues/24405>), so rustc didn't make it to compile within 1 hour.

[2015-04-19 14:21] bombless commented on #24601
Cannot reproduce it with `rustc 1.0.0-beta.2 (e9080ec39 2015-04-16) (built 2015-04-16)`.
I'm on Windows 8.1 64-bit.

[2015-04-19 14:27] bombless commented on #24600
FWIW: removing the `main()` makes the error go away.

[2015-04-19 14:35] tomaka commented on #24601
I think it's a 32bits vs 64bits problem. The two versions I used above are 32bits versions.
I tried the 64bits beta and it's working. Will try 64bits nightly later to confirm.

[2015-04-19 14:44] apasel422 opened #24603 "librustc_data_structures missing from 2015-04-19 nightly"
[code]

[2015-04-19 15:01] tomaka commented on #24601
Confirmed working with 64bits nightly, so it's a 32bits-only problem.

[2015-04-19 16:17] doomsplayer opened #24607 "need more libc consts bindings in liblibc"
As #24594 , we need `IPPROTO_TCP` and `TCP_KEEPALIVE` at least to merge this PR successfully.
So, are there any document for category convention of liblibc? I would like to help but dunno which mod owns `IPPROTO_TCP` and `TCP_KEEPALIVE`, and anything else.

[2015-04-19 16:31] alexcrichton commented on #24603
I believe this library is indeed inside the tarball, perhaps `LD_LIBRARY_PATH` for you isn't set up?

[2015-04-19 16:32] alexcrichton commented on #24583
I think @nagisa is right, I get an error on the most recent nightly, co closing. I'll investigate what's up with playpen.

[2015-04-19 16:32] #24583 closed

[2015-04-19 16:32] apasel422 commented on #24603
Hmm. This was the first time that `sudo ./rustup --channel=nightly` didn't just work. Let me see.

[2015-04-19 16:33] alexcrichton commented on #24603
On some systems you may also need to run `sudo ldconfig` I believe, and I think rustup accidentally stopped doing that recently?

[2015-04-19 16:35] apasel422 commented on #24603
That did the trick. Thanks!

[2015-04-19 16:35] #24603 closed

[2015-04-19 16:37] alexcrichton commented on #24607
Unfortunately this isn't quite an actionable bug as we're probably not going to scour each system to ensure we have an exhausting listing of all constants. We generally add values to liblibc in an on-demand fashion instead of having an issue-per constant, so I'm going to close this for now.

[2015-04-19 16:37] #24607 closed

[2015-04-19 16:47] killkrt commented on #24574
Ok... I have changed my home folder name (removing the space) and the build worked, but now I'm getting another problem. It seems the carriage return is completely messed up in the MSYS2 shell:

![screen shot 2015-04-19 at 18 46 18](https://cloud.githubusercontent.com/assets/4274153/7220353/70c689f8-e6c4-11e4-899b-203bacd761fb.png)

[2015-04-19 16:51] bombless commented on #24574
Did you download MSYS2 from http://sourceforge.net/projects/msys2/ , as https://github.com/rust-lang/rust-wiki-backup/blob/master/Note-getting-started-developing-Rust.md suggests?

[2015-04-19 16:55] killkrt commented on #24574
Uhm... I downloaded from here: http://msys2.github.io
So I will revert my virtual machine and try again!

[2015-04-19 16:59] semarie opened #24609 "several tests fails with check-stage3-rpass-full and not with check-stage2-rpass-full"
Doing testing at stage3 under openbsd, I have several failures in rpass-full that I don't have at stage2 (all tests pass at stage2).

In order to debug, I have test it under Linux, and I reproduce theses issues. All errors below come from Linux using `make check-stage3-rpass-full` (configure options are just `--disable-docs` and `--disable-valgrind-rpass`) .

[code]

The failures seems mainly rela

[2015-04-19 17:02] bombless commented on #24574
Ah, nvm, they lead to the same URL anyway.

[2015-04-19 17:49] TimNN commented on #23825
I can reproduce this error with the following test case ([playpen](http://is.gd/cOYlsl)):

[code]

The ICE also happens with the operators `+ - / %`.

Adding or removing any type suffix, changing the operand order or using two different operators fixes the ICE.

Version:  `rustc 1.0.0-nightly (00978a987 2015-04-18) (built 2015-04-18)` on OS X

Backtrace:

[code]

[2015-04-19 18:01] sfackler commented on #24591
Seems to me like this is more of a bug in `capacity` rather than a docs issue. cc @Gankro

[2015-04-19 18:36] nstoddard commented on #24540
I'll use GLFW as an example. I have a program which uses [glfw-rs](https://github.com/bjz/glfw-rs), which requires linking with `glfw3.dll`. If I put this DLL in my project's base directory (alongside `Cargo.toml`), the linker doesn't find it and I get this error:

[code]

It appears that the base directory isn't included in a `-L` flag. Looking at those flags, there's a few places where the linke

[2015-04-19 18:39] njwhite opened #24613 "Default for AtomicPtr?"
Is there any reason why there isn't an `ATOMIC_PTR_INIT` (cf `ATOMIC_BOOL_INIT`, `ATOMIC_ISIZE_INIT`, &c.) struct? I'd like to use AtomicPtrs in statically-initialized variables - and `AtomicPtr` is the only atomic class that doesn't implement the `Default` trait. A std::ptr::null_mut() seems to be a sensible initial value.

[2015-04-19 18:50] Gankro commented on #24591
This is intended behaviour. It's a lower-bound.

[2015-04-19 19:32] #21538 closed

[2015-04-19 19:54] a-jamesregan opened #24614 "Rust-lang website looks blank on firefox/chrome."
All of the text on the webpage appears to be broken in both firefox and chrome.  Does your site need any special fonts?  I'm running the latest version of Arch linux.  I didn't install any extensions that would cause this on chrome and I didn't install any extensions on firefox.  I would like to point out that your site does work on the command line browser lynx.

Chrome:
![image](https://cloud.gi

[2015-04-19 20:21] tomjakubowski commented on #24591
@Gankro maybe the wrong venue for this question, but as a user of `HashMap` is there a way to know whether an operation resizes a `HashMap` + moves its allocation, either in advance or after the operation has completed? More precisely, I guess I'd like to know whether **any** value in the `HashMap` has been relocated.

If values are only moved when a resize happens I suppose I could just take a po

[2015-04-19 20:39] pnkfelix commented on #24591
@tomjakubowski I think you cannot predict whether a value will be moved, regardless of whether the hashmap is resized.

In particular, we use robin-hood hashing which can move elements around (essentially as an attempt to move the most frequently accessed elements to an earlier point in the chain of hash-colliding elements).

[2015-04-19 20:42] pnkfelix commented on #24614
I assume it attempts to use the fonts listed in its style file, e.g.:

  http://www.rust-lang.org/css/style.css

[code]

Not sure why these entries would be causing a problem for you, though...

[2015-04-19 20:55] bluss commented on #24614
Look at [this story of the same kind of issue](http://www.reddit.com/r/archlinux/comments/2gix0k/rust_website_now_with_invisible_fonts/) and see if this might still be the same problem.

[2015-04-19 21:10] Gankro commented on #24591
robin-hood doesn't do "most frequent" but rather "furthest from its ideal". So yeah all the elements are in general slowly drifting to higher addresses. You'd need a chaining hashmap to try to guarantee position properties. Even then an optimized chaining map wouldn't try to preserve that property.

If you want to know if a reallocation happened just check if the capacity has increased. It's a low

[2015-04-19 21:33] sfackler commented on #24613
You can't define generic consts so `ATOMIC_PTR_INIT` can't be expressed. We can add a `Default` implementation though.

[2015-04-19 22:59] a-jamesregan commented on #24614
Thanks!  That is exactly what it was.  I uninstalled ttf-google-fonts-git and installed ttf-fira-sans and ttf-fira-mono.

[2015-04-19 22:59] #24614 closed

[2015-04-19 23:13] tomjakubowski commented on #24591
Ah, I see. Thanks for the clarification @Gankro and @pnkfelix

[2015-04-19 23:25] 14427 opened #24616 "Constraints on supertraits associated types are ignored"
The following code:
[code]

fails to compile, with the error message

`the trait Bar is not implemented for the type <X as Foo>::T [E0277]`

As it is impossible for the return type of `quux()` to not return a type that implements `Bar`, I think this is a bug in the compiler.

[2015-04-20 01:34] thepowersgang opened #24617 "Rustdoc should show both a stability colour, and unstable/deprecation text"
While the recent change to make deprecated items more obvious is nice, the lack of colour annotations makes it harder to scan down a list (e.g. in trait impls) and spot stable/unstable items.

Could the colours be restored (along side the new warning boxes)?

[2015-04-20 02:00] steveklabnik commented on #24617
One of the reasons the colors were bad was color-blind users...

[2015-04-20 02:47] #16745 closed

[2015-04-20 03:08] lifthrasiir commented on #23150
This issue should be closed as it's now fixed.

[2015-04-20 03:11] lifthrasiir commented on #24557
I originally planned to work on `dec2flt` once my `flt2dec` branch (now #24612) is finished, but my schedule was too sloppy. I wouldn't care if @rkruppe or others want to take this :)

@rkruppe Base 10 is not *that* special, but many practical algorithms rely on the precalculated table which is base-specific. It is not reasonable to ship all tables for possible bases.

[2015-04-20 03:44] SSheldon commented on #24616
Related to #20671?

[2015-04-20 04:54] rprichard commented on #24556
I think this is a good idea for the default float->string behavior -- it has better interoperability properties. I opened [issue #1075](https://github.com/rust-lang/rfcs/issues/1075) for it in the rfcs repo.

[2015-04-20 07:23] bytewiseand commented on #24533
This compiles fine on `rustc 1.0.0-nightly (1284be404 2015-04-18) (built 2015-04-17)`

[2015-04-20 07:36] bytewiseand commented on #24446
On `rustc 1.0.0-nightly (1284be404 2015-04-18) (built 2015-04-17)` the ICE is fixed.
The code now results in
[code]

[2015-04-20 07:36] nham commented on #17461
I think the updated equivalent of this code is:
    use std::marker::PhantomData;

    #[derive(Hash, Eq, PartialEq)]
    struct A<'a> {
        x: u64,
        marker: PhantomData<&'a ()>,
    }

    fn main() { }

Which compiles on this version of rust-nightly:

    rustc 1.0.0-nightly (a52182ffd 2015-04-17) (built 2015-04-17)

So it seems this issue may be resolved.

[2015-04-20 07:58] nrc commented on #24603
I got bit by this just now too. Is there an issue/fix to make rustup do the `ldconfig` step again?

[2015-04-20 09:09] bytewiseand commented on #24199
Reduced testcase:
[code]

[2015-04-20 10:51] Munksgaard opened #24621 "rustbook: Generics chapter trait confusion"
The generics chapter ends like this:

    To fix this example, we need to learn about another Rust feature: traits.

But the generics chapter (5.23) comes after the traits chapter (5.21). However, there is a trait object chapter (5.25) that comes after the generics chapter.

[2015-04-20 10:52] GuillaumeGomez commented on #24407
I'll now take E0271.

[2015-04-20 10:54] Manishearth commented on #24407
@michaelsproul Thanks for taking the reins here and coordinating everything! :smile:

Diagnostics are an area of the compiler that could do with a lot of improvement.

:heart:

[2015-04-20 11:06] huonw opened #24622 "Mismatched assumptions for interaction between associated type and lifetime in trait"
[code]

This segfaults.

The `impl` is allowing `&'a String` because `'a` is in scope, but the use in `foo` assumes that `Bar` is independent of `'a`.

(Noticed in http://stackoverflow.com/q/29745134/1256624 .)

[2015-04-20 11:08] huonw commented on #24622
triage: P-high

cc @nikomatsakis

[2015-04-20 11:18] bluss commented on #24622
petgraph uses this kind of trait to provide generic "neighbor vertex" iterators.

[2015-04-20 11:39] steveklabnik commented on #24621
https://github.com/rust-lang/rust/pull/24571 Will fix this. Thanks!

[2015-04-20 11:39] #24621 closed

[2015-04-20 12:09] nagisa opened #24623 "Wrong formatting of negative zero when sign is requested"
[code]

Fails with “assertion failed: `(left == right)` (left: `"+0"`, right: `"-0"`)”

[playpen](http://is.gd/SXlL11)

[2015-04-20 12:11] nagisa opened #24624 "Debug impl of floating numbers does not display signaling NaNs"
[code]

fails with “assertion failed: `(left == right)` (left: `"NaN"`, right: `"sNaN(00000)"`)”

The actual representation is bikeshedable (could be just “sNaN” etc).

[playpen](http://is.gd/mGrmcs)

[2015-04-20 12:38] asolove commented on #24335
I'm brand new to contributing, but I'd like to take a crack at this one. I'm pretty sure I can do the pretty terminal bits, but I would probably need help keeping the spinner running.

[2015-04-20 13:05] steveklabnik commented on #24384
This isn't strictly diagnostics, but close enough.

[2015-04-20 13:08] steveklabnik commented on #24590
I would imagine changing the size of an empty enum would require an RFC, and as @reem says, this is okay to segfault, so I'm gonna give it a close.

[2015-04-20 13:08] #24590 closed

[2015-04-20 13:10] steveklabnik commented on #24601
not _exactly_ an ICE, but close enough for the tag

[2015-04-20 13:11] steveklabnik commented on #24613
/cc @aturon

[2015-04-20 13:12] steveklabnik commented on #24617
/cc @alexcrichton

[2015-04-20 13:25] steveklabnik commented on #24591
So, this isn't a bug then? Or should we clarify that it's a lower bound?

[2015-04-20 13:28] aij opened #24626 "Include type of missing trait methods in error"
Feature request (improved diagnostics):

This is what the error currently looks like:

[code]

In order to implement the missing method I need to double check the type in the documentation, even though I already know what the function needs to do. It would be really convenient if the compiler could print out the required type for me.

[2015-04-20 13:31] steveklabnik commented on #24388
Okay, I've gone through the rest of this too. Thanks again for the feedback. Between the already-open PR, work that's been done since this was filed, and some of the future work I'm doing, I'm going to give this a close, since no _specific_ issue is going to close it. This has been very helpful, thanks again :)

[2015-04-20 13:31] #24388 closed

[2015-04-20 13:34] steveklabnik commented on #24332
Oh! No, this is https://github.com/rust-lang/rust/pull/24597

[2015-04-20 13:46] thepowersgang commented on #24617
Understandable. As said, I just think the colours (and maybe symbols?) should return along side the new text boxes. For easier scanning (and inclusion alongside the prototypes)

[2015-04-20 13:49] steveklabnik commented on #22391
I'm basically going to close this as a sub-bug of https://github.com/rust-lang/rust/issues/16676

[2015-04-20 13:49] #22391 closed

[2015-04-20 13:50] steveklabnik commented on #23478
Since we don't have something that's clearly better, and neither of us have the time, I'm going to give this a close. If someone wants to write a patch with a particular set of colors, please weigh in here.

[2015-04-20 13:50] #23478 closed

[2015-04-20 14:06] tshepang commented on #23478
A guideline on what to call these things would be great though. Maybe something similar Style Guidelines document, but for documenting Rust code.

[2015-04-20 14:25] steveklabnik commented on #22569
I'm removing the 'docs' tag until we decide what we want to specify here.

[2015-04-20 14:32] oli-obk commented on #24616
Note: it works when no generics are involved.

[code]

[2015-04-20 14:40] semarie commented on #24609
@steveklabnik I am not agreed about A-bsd flag: it is reproductible under Linux. Please note there are also several ICE generated. Thanks to review the labels.

[2015-04-20 14:49] steveklabnik commented on #24609
@semarie ah, you're right, thanks! I was going through it quickly, and mis-read. Fixed!

[2015-04-20 15:00] retep998 commented on #24540
On Windows linking should actually only need to be done to a `.lib` or a `.a`, not to a `.dll` directly. You'd have all your `.a` libraries in a location visible to rustc at compile time, while the `.dll`s would be somewhere visible to the binary at run time.
Cargo build scripts let you specify directories to look in for libraries. http://doc.crates.io/build-script.html#outputs-of-the-build-script

[2015-04-20 16:11] alexcrichton commented on #23150
Yay!

[2015-04-20 16:11] #23150 closed

[2015-04-20 16:13] alexcrichton commented on #17461
Thanks @nham!

[2015-04-20 16:13] #17461 closed

[2015-04-20 16:14] alexcrichton commented on #24603
@nrc I believe that's covered by https://github.com/rust-lang/rust/issues/24358

[2015-04-20 16:27] alexcrichton commented on #19109
Fixed now, just needs a test!

[2015-04-20 16:29] alexcrichton commented on #13155
This was fixed quite some time ago.

[2015-04-20 16:29] #13155 closed

[2015-04-20 16:30] Gankro commented on #24591
Hmm... I thought I specifically worded the docs to make this more clear (or at least, more debateable). Yes clarifying that for HashMap it is a lower bound seems appropriate. Although it might not even be that if we decide to allow reallocs if degenerate collisions are detected...

[2015-04-20 16:37] rkruppe commented on #24623
Note that `{:?+}` produces the desired result. So this is consistent with the behavior agreed upon in #20596 (Display treats negative zero as positive, Debug differentiates them). In the light of that, it's not clear to me why the `+` format code should make a difference.

Also, by the way: You can produce a negative zero with `-0.0`, no need for the transmute.

[2015-04-20 16:38] alexcrichton commented on #24617
The idea here is that the set of unstable/deprecated items is actually pretty small, so there doesn't need to be that much visual distinction, but I'd certainly believe that the UI could be better.

[2015-04-20 17:28] #24332 closed

[2015-04-20 17:30] jakub- commented on #20105
[code]

works fine now. E-needstest.

[2015-04-20 17:44] frangio commented on #24616
Here's another, less general example of this bug:

[code]

[2015-04-20 17:58] tamird commented on #9367
@alexchandel can you provide a minimal recipe for this usage of lld?

[2015-04-20 18:24] Popog commented on #23057
Occurs with const as well:
[code]
Results in:
[code]
[playpen](http://is.gd/wyev8Q)

[2015-04-20 18:28] tbu- commented on #22569
@steveklabnik Can you also remove the 'easy' tag?

[2015-04-20 19:04] laumann commented on #24459
We have something like the following in our [rust-sessions](https://github.com/Munksgaard/rust-sessions/blob/master/src/lib.rs#L452-460) (session types in Rust) project (exactly the case @Manishearth describes in his last post)

[code]
where we want to transmute from `P` to `Q`, both presumably zero-sized phantom types.

So far, we're able to work around it by destructuring the received `Chan` and

[2015-04-20 19:22] tshepang commented on #7030
@pnkfelix why is this not a 1.0 blocker?

[2015-04-20 19:41] alexcrichton commented on #24540
This primarily sounds like a problem glfw-rs would want to solve rather than Cargo or the compiler. Cargo probably won't be copying dlls into each output folder, and symlinks require admin privileges by default on Windows. The build script support @retep998 linked to also allows for local overrides where you can [globally inform Cargo](http://doc.crates.io/build-script.html#overriding-build-script

[2015-04-20 19:41] #24540 closed

[2015-04-20 19:47] posix4e opened #24638 "What about a macro for printing to stderr"
I see people using http://is.gd/8TYNHp so much, that I wonder if it should be in the standard library.

[code]

[2015-04-20 20:18] gsingh93 opened #24639 "Document the `..` syntax in struct expressions in the book"
The `..` syntax described in the [reference](http://doc.rust-lang.org/reference.html#structure-expressions) should be added to the book.

[2015-04-20 20:34] steveklabnik commented on #24638
Additions to the standard library need to go through the RFC process, as they're added to every Rust program in existence. Please open an issue over at https://github.com/rust-lang/rfcs/issues/new

Thanks!

[2015-04-20 20:34] #24638 closed

[2015-04-20 20:57] djmally commented on #24214
@aturon Any word on this?

[2015-04-20 21:33] pnkfelix commented on #7030
@tshepang because at the time of triage, we decided it would be acceptable to fix this after 1.0

As in, we were *not* saying we cannot fix it  just that we would not wait for perfection before releasing 1.0

I do hope the recently posted flt2dec PR gets into 1.0

[2015-04-20 21:40] tshepang commented on #7030
@pnkfelix Why I wanted to know is why this was decided. For example, is the fix hard and/or time consuming?

[2015-04-20 21:42] pnkfelix commented on #7030
Yes, fixing this properly is hard.  See PR #24612 for a taste of the difficulty

[2015-04-20 21:44] tshepang commented on #7030
@pnkfelix thanks

[2015-04-20 21:53] pnkfelix commented on #24214
Also, I'm curious if methods like `skip(n)` are required to actually call `next` n tines, or if they are allowed to "jump ahead" on random-access iterators.  (Maybe that sort of trick will have to wait for specialization in the language, to avoid composing that with e.g. a `map` or other potentially side-effectful iterator

[2015-04-20 22:07] steveklabnik commented on #12279
triage: as far as I can tell, the IR for a generic and specific `a + b` are different, and so nothing has changed here.

[2015-04-20 22:09] steveklabnik commented on #9461
Triage: no change.

[2015-04-20 22:12] steveklabnik commented on #5258
Triage:

I would guess this is why there's no change so far.

[2015-04-20 22:16] steveklabnik commented on #12634
Triage: rust-intrinsic still exists

[2015-04-20 22:16] steveklabnik commented on #12633
Triage: no change

[2015-04-20 22:17] brson commented on #24358
@rprichard Aha! You've found it. Yes, that `--disable-ldconfig` is not supposed to be there. I will fix now.

[2015-04-20 22:18] steveklabnik commented on #5585
/cc @aturon

[2015-04-20 22:20] steveklabnik commented on #12868
Triage: today, a different error:

[code]

[2015-04-20 22:21] steveklabnik commented on #19532
Closing in favor of https://github.com/rust-lang/rfcs/issues/1079

[2015-04-20 22:21] #19532 closed

[2015-04-20 22:23] steveklabnik commented on #6691
This seems to have been fixed:

[code]

[2015-04-20 22:23] #6691 closed

[2015-04-20 22:24] steveklabnik commented on #8521
Triage:

[code]

[2015-04-20 22:27] steveklabnik commented on #13146
Triage: nothing has changed, these transmutes still silently work:

[code]

[2015-04-20 22:27] steveklabnik commented on #8389
Triage: @brson, what's up with this one?

[2015-04-20 22:30] steveklabnik commented on #10379
Triage: this test is still disabled, and relevant issues still seem to be open. I don't have an android toolchain to test with further.

[2015-04-20 22:34] steveklabnik commented on #11802
triage: nothing has changed with `link` in a while.

[2015-04-20 22:42] steveklabnik commented on #13577
Triage: no change, these errors are the same today

[2015-04-20 22:42] steveklabnik commented on #5236
Triage: nothing to add

[2015-04-20 22:44] steveklabnik commented on #13365
Traige: still true

[2015-04-20 22:48] bytewiseand opened #24644 "ICE: assertion failed: prev_const.is_none() || prev_const == Some(llconst)"
## Code
[code]

## Output
[code]

## Rust Version
[code]

[2015-04-20 22:59] brson commented on #24358
A new rustup.sh is uploaded. This should be fixed.

[2015-04-20 22:59] #24358 closed

[2015-04-20 23:09] nham commented on #15479
I made an attempt at reproducing this. Here is the updated code:

    use std::string::String;

    #[derive(Clone)]
    struct Foo {
     a: String,
     b: String,
     // Possibly some more fields here
    }

    #[derive(Clone)]
    struct FooThing(Vec<Foo>);

    impl FooThing {
        fn filter(&mut self, bar: &Foo) {
            // Oops. Shouldn't be a `ref` there
            let FooThing(

[2015-04-20 23:12] barosl opened #24645 "Consider renaming `.connect()` to `.join()`"
`SliceConcatExt` has a method named `.connect()`, which is similar to `.join()` in other languages. I don't have any specific numbers, but "join" seems to be used more widely.

We could not use "join" because it was previously a keyword. Now it isn't, and `SliceConcatExt` is currently marked as unstable, so how about renaming the method to a more popular name?

One blocker is that `SliceConcatExt`

[2015-04-20 23:17] lstat commented on #22820
Ok, so I've had a look through everything, here's my findings:

@pnkfelix I have some questions below for the three outstanding feature gates (at the very bottom of this comment) and was wondering if you could help confirm the status of those feature gate tests?

My previous [comment](https://github.com/rust-lang/rust/issues/22820#issuecomment-94135582) listed feature gates that had existing tests

[2015-04-20 23:36] steveklabnik commented on #10550
The original sample now works, so I'm gonna give this a close

[2015-04-20 23:36] #10550 closed

[2015-04-20 23:36] steveklabnik commented on #4696
Triage: no change

[2015-04-20 23:39] steveklabnik commented on #13882
Triage: no change

[2015-04-20 23:40] steveklabnik commented on #13370
Triage: appears to be the same today.

[2015-04-20 23:45] steveklabnik commented on #14361
`rust-gdb` now prints

[code]

So seems good!

[2015-04-20 23:45] #14361 closed

[2015-04-20 23:45] steveklabnik commented on #24645
/cc @aturon

[2015-04-21 00:20] steveklabnik commented on #13317
Hey @farcaller , is this ICE still happening? It's been quite a while, and `rust-core` isn't a project anymore, so I'm not sure how best to reproduce.

[2015-04-21 00:21] frewsxcv commented on #24645
What other languages use:

* Ruby: [`join`](http://ruby-doc.org/core-2.2.0/Array.html#method-i-join)
* Python: [`join`](https://docs.python.org/3/library/stdtypes.html#str.join)
* JavaScript: [`join`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/join)

[2015-04-21 00:21] steveklabnik commented on #16229
Triage bump. @logicchains , does this still ICE in this situation?

[2015-04-21 00:26] steveklabnik commented on #18322
@sfackler , do you have any way to reproduce this today?

[2015-04-21 00:30] steveklabnik commented on #18954
can confirm this is still present in `rustc 1.0.0-nightly (07560d233 2015-04-20) (built 2015-04-20)`

[2015-04-21 01:05] sfackler commented on #18322
I haven't tried to cross compile in a while, so no idea if this is still a problem. I'll just close it.

[2015-04-21 01:05] #18322 closed

[2015-04-21 01:54] lifthrasiir opened #24650 "Confusing error message for `unsafe fn` in the `extern` block"
[code]

Courtesy of @slurps-mad-rips.

[2015-04-21 03:55] #22621 closed

[2015-04-21 03:55] #24573 closed

[2015-04-21 03:55] #24008 closed

[2015-04-21 03:55] #24173 closed

[2015-04-21 03:55] #24511 closed

[2015-04-21 03:55] #24271 closed

[2015-04-21 03:55] #24325 closed

[2015-04-21 04:24] XMPPwocky commented on #24443
Are you OK with just a PR?

[2015-04-21 04:27] thepowersgang opened #24653 "Separate unstable feature errors from other lints in output"
When an unstable feature is used in a crate, and an error is emitted, it will sometimes (always?) be emitted before other lints (e.g. unused_*, dead_code). This causes the compilation error to be functionally lost in the compile output.

Example:
[code]
(An excerpt from compiling a kernel, there are a lot of warnings due to incomplete/unused APIs)

[2015-04-21 05:11] alexcrichton commented on #24443
Sure!

[2015-04-21 06:50] sfackler opened #24655 "Extra 20px left margin applied to typedef'd return types"
![capture](https://cloud.githubusercontent.com/assets/1455697/7246889/e143f438-e7b7-11e4-9ad7-423e8c7745dd.PNG)

http://sfackler.github.io/rust-postgres/doc/postgres/struct.Row.html

[2015-04-21 06:52] farcaller commented on #13317
Haven't seen it in a while and can't reproduce now. I think it's safe to close.

[2015-04-21 07:04] petrochenkov commented on #24645
- C++ (boost): [join](http://www.boost.org/doc/libs/1_58_0/doc/html/string_algo/reference.html#header.boost.algorithm.string.join_hpp)
- C#: [Join](https://msdn.microsoft.com/en-us/library/dd783876(v=vs.110).aspx)
- Java 8: [join](http://docs.oracle.com/javase/8/docs/api/java/lang/String.html#join-java.lang.CharSequence-java.lang.Iterable-)
- Perl: [join](http://perldoc.perl.org/functions/join.htm

[2015-04-21 07:20] bombless commented on #24645
+1, we should do it in 1.1-nighty

[2015-04-21 08:36] P1start commented on #24653
More generally, lints set to `deny` should probably run after lints set to `warn`.

[2015-04-21 09:10] pnkfelix opened #24656 "`std::fmt` needs doc for `precision := '*'` case"
I spent a while looking at http://doc.rust-lang.org/nightly/std/fmt/index.html#syntax and comparing it against the rest of the API documentation there, but I saw no discussion of the meaning of the asterisk precision, e.g. what the format string `"{:.*}"` denotes.

The error message you get when you try to use it incorrectly is pretty inscrutable:
[code]
yields
[code]

----

Manual experimentation

[2015-04-21 09:20] SimonSapin opened #24658 "std::os::windows missing on http://doc.rust-lang.org/nightly/std/os/"
The builders are running rustdoc on Linux, so `#[cfg(windows)]` is false.

Maybe the platform rustdoc in running on should not be relevant for generating documentation. Could rustdoc be run with both `--cfg unix` and `--cfg windows`?

[2015-04-21 09:27] nwin commented on #19433
I might be wrong but I think my current problem (more minimal example) falls under the same class:

    struct Foo;

    impl Foo {
        fn borrow_mut(&mut self) -> Option<&str> {
            Some("Hello World")
        }
    }

    fn main() {
        let mut foo = Foo;
        let mut retval = None;
        while retval.is_none() {
            retval = foo.borrow_mut()
        };
    }

It sh

[2015-04-21 10:09] pavlov-dmitry commented on #20749
Is this issue still here http://is.gd/oX7GWN, or I am doing something wrong ?

[code]

[2015-04-21 12:00] arielb1 commented on #24622
I think a cleaner example is:

[code]

It is clear here that the declaration and implementation of `Foo` is not doing anything wrong, but `free_and_use` wrongly assumes that `<T as Foo<'s>>::Bar : 'body`, which does not make a lot of sense.

[2015-04-21 12:29] steveklabnik commented on #24658
I would imagine this wouldn't work, as they have implementaitons that conflict and such.

[2015-04-21 12:29] nwin commented on #24658
This is actually not so trivial. What about things that exist on both Platforms but are different?

[2015-04-21 12:30] klutzy commented on #24658
cc #1998

[2015-04-21 12:31] SimonSapin commented on #24658
My suggested solution probably doesn’t work, but the issue remains that non-Linux things should still be documented.

[2015-04-21 12:32] SimonSapin commented on #24658
Yes, this sounds like a special case of #1998.

[2015-04-21 13:01] steveklabnik commented on #24658
I'm going to nominate this particular version, as it would be _really_ unfortunate for the official docs to only have linux docs.

[2015-04-21 13:06] nwin commented on #24658
The most straightforward solution is probably to compile all docs separately and add a little pop-up box on the top to switch between Windows <-> Linux <-> Mac. I suppose one needs some more metadata to avoid that google gets confused…

[2015-04-21 13:07] lambda commented on #24658
rust-lang/rfcs#915 is a postponed RFC that proposes one possible solution.

[2015-04-21 13:12] lambda commented on #24658
I think that that case should generally be avoided, shouldn't it? It would be confusing to have the same functionality available on multiple platforms, but with conflicting implementations; instead, if functionality differs meaningfully, they should probably have different names. For example, in the standard library, there are `std::os::unix` and `std::os::windows`, so even if you happened to have

[2015-04-21 13:19] nwin commented on #24658
I was thinking of `libc::types::os::common::bsd44::sockaddr_in`. That struct is defined differently on Darwin and Linux. I’m pretty sure there are more surprises like this lurking around.

[2015-04-21 13:20] bvssvni commented on #23904
This seem to be fixed now:

[code]

[2015-04-21 13:20] #23904 closed

[2015-04-21 13:29] steveklabnik commented on #9224
Triage: still no change

[2015-04-21 13:40] steveklabnik commented on #3554
Triage:

### -Z time-llvm-passes 2>&1 | grep "Module Verifier"

[code]

### -O -Z time-llvm-passes 2>&1| grep "Module Verifier"

[code]

tested with wtftw, takes 17s total on my machine

[2015-04-21 13:42] steveklabnik commented on #10530
bindgen does some of this, but `rust.h` would be nice for FFIing into Rust for sure

[2015-04-21 13:47] SimonSapin commented on #22168
@alexcrichton This issue was marked closed in ed276caeec64033f38a18dbe796dc78ce3c57c6a, but I can still reproduce it though the steps in the original message.

[2015-04-21 13:49] SimonSapin opened #24659 "Deduplicate doc URLs"
There are at least three sets of URLs that give the same thing:

http://doc.rust-lang.org/std/
http://doc.rust-lang.org/nightly/std/
http://static.rust-lang.org/doc/master/std/

One of the should be picked and the others redirect to it.

Related, but I believe not quite duplicate: #9461, #12466, #14466, #18558.

CC @brson

[2015-04-21 13:50] SimonSapin commented on #24658
It would be unfortunate to duplicate the entire set of documentation for a comparatively small set of differences.

[2015-04-21 13:54] steveklabnik commented on #24659
The second are synonymous on purpose, and I'm not sure the third is even exposed anywhere, exactly

[2015-04-21 13:59] steveklabnik commented on #22168
I can too

[2015-04-21 14:00] ArtemGr commented on #10530
Bindgen wasn't even a proper Rust crate, last time I checked, and building it on Debian was enough of a pain that I had to choose another route for my FFI needs. The wish to have this functionality in Rust is, I think, primarily a wish to have it available everywhere. It could be satisfied with bindgen working as a proper Cargo `dev-dependencies` package able to generate the Rust stubs from a C he

[2015-04-21 14:01] huonw opened #24660 "Conditional mutation in Iterator::next doesn't optimise well"
[code]

Compiles to:

[code]

It should at least look something like:

[code]

But really that case should be constant folded (clang folds the equivalent C `for` loop).

(NB. `count` is currently implemented as `self.fold(0, |c, _| c + 1)`, and the bad codegen occurs if that is definition is used directly, and also if one uses the mutating for loop: `let mut c = 0; for _ in ... { c += 1 }`.)

This

[2015-04-21 14:20] Undeterminant commented on #24227
I also still have this problem in the nightly.

[2015-04-21 14:28] steveklabnik commented on #14807
Okay, so this API has changed significantly, but I think this is it:

[code]

yields

[code]

that error seems much more clear. And [its documentation](http://doc.rust-lang.org/nightly/std/thread/struct.LocalKey.html#method.with) says

So I'd consider this closed. What do you think, @alexcrichton