[2022-06-27 04:58] jyn514 commented on #43801
Triage: we now use symlinks only for compiler + tool documentation and not the standard library, which should make it more rare to come across this. The symlinks for std were removed in https://github.com/rust-lang/rust/pull/74352; maybe we can do something similar for tools?

[2022-06-27 05:03] Cerber-Ursi opened #98565 "Misleading error when using fully qualified trait syntax without trait"
Given the following code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f3ca5eea2c043a3bdf681d6c3e864b67)

The current output is:

[code]

However, `str` is not a trait, therefore the fully-qualified trait syntax should be simply invalid in this case - therefore, the error would better say the real problem ("`str` is not a trait"), probably with the h

[2022-06-27 05:10] jyn514 commented on #49914
There are two ways we could make the file name shorter:
1. Write test files to /tmp instead of build/$TARGET/test. This shouldn't be too hard to implement, but not sure why build/ was chosen in the first place so hard to know what the tradeoffs are.
2. Abbreviate the test name if it goes over an arbitrary limit. We shouldn't change the source name (in src/test) but we can pass a custom `--crate-na

[2022-06-27 05:15] jyn514 commented on #47903
See https://doc.rust-lang.org/nightly/rustc/target-tier-policy.html for the policy on adding new targets.

My understanding is the linux builders have a bit of spare capacity, so that shouldn't be a blocker if we cross-compile from linux to sparc.

[2022-06-27 05:16] matthiaskrgr commented on #68027
Ah well, I still see this happening from time to time, but ok.. 😅

[2022-06-27 05:20] jyn514 commented on #68027
ah ok, didn't realize you were still running into this - you're still using Alacritty? are you seeing the issue with any other terminal?

[2022-06-27 05:41] jyn514 commented on #47808
https://www.gnu.org/software/make/manual/html_node/POSIX-Jobserver.html#POSIX-Jobserver says the way to do this is by prefixing the commands in the makefile with `+` and parsing MAKEFLAGS. But that doesn't seem to be true in practice (maybe make is special-casing the `make` command?).

That said, MAKEFLAGS is set to the args on the command line:
[code]
[code]
so this should be possible to detect a

[2022-06-27 05:47] jyn514 commented on #47355
I'm going to close this, I think it's since been fixed.

[2022-06-27 05:47] #47355 closed

[2022-06-27 05:58] jyn514 commented on #44914
I can reproducing by writing the config to ~/.cargo/config (I had to also run `rm -r build/bootstrap/debug` to clear the cache). I think the fix would be to use `--output-format json` and look for `executable` in the output.

But I also think this isn't really worth fixing - having any custom flags in .cargo/config isn't supported, which is why we delete the version in-tree: https://github.com/rus

[2022-06-27 06:01] jyn514 commented on #32827
Rustup no longer uses the install.sh script and its native IO should work fine on NFS, so I'm going to close this.

[2022-06-27 06:01] #32827 closed

[2022-06-27 06:32] wyfo commented on #27336
I've recently noticed the following "hack":
[code]
`<Foo>::Baz` is also more convenient, as it can be used directly as an expression. I did believe that `T::` and `<T>::` were equivalent, but it's not the case.

[2022-06-27 06:53] Grobycn opened #98568 "Wrong optimization"
I tried this code:

[code]

I expected to see this happen: 5 is printed.

Instead, this happened: when build with release, the output is 2.

### Meta

`rustc --version --verbose`:
[code]

I also test all the following rust version at [playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=7caf4bed4464c48f38586228fa378cc9), and got wrong answer when build with release

[2022-06-27 07:15] apiraino commented on #98543
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398543.20implied.20bounds.20from.20associated.20types.20may.20not.20actuall.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-06-27 07:21] wyfo commented on #95486
As I've just posted in #27336, you can,also use `let _ = <TestStruct>::default()`.

[2022-06-27 07:21] apiraino commented on #97584
@SNCPlay42 would you prefer to close this in favor of #47525 (and working on that one instead)?

[2022-06-27 07:36] nrc commented on #89780
Yep, @yoshuawuyts's comment sums up the WG's discussion pretty well. I just want to add that I am pretty unsure about using `?` for `Poll` in general (not necessarily against it, just very unsure) and so I prefer `ready!` since it doesn't force us further down that road. Again though, these are weakly held opinions so I (nor others on the WG) won't be mad if y'all decide to go the `ready()` route.

[2022-06-27 08:04] GuillaumeGomez commented on #42686
I confirm it works as expected.

[2022-06-27 08:12] poliorcetics commented on #98444
Note this is a problem because [the book has an example](https://doc.rust-lang.org/rust-by-example/primitives/array.html) which is supposed to fail to compile but this bug makes it fail at runtime instead

[2022-06-27 08:27] SparrowLii commented on #94654
This is not a problem with the implementation logic of the deadlock handler, but a very hard-to-trace thread scheduling vulnerability. If we add the following non-functional statement in [this position](https://github.com/rust-lang/rust/blob/master/compiler/rustc_query_system/src/query/plumbing.rs#L200) of the `try_start` function, this problem will disappear.
`let _map = tcx.try_collect_active_jo

[2022-06-27 08:35] Uriopass commented on #98568
Simplified the function a bit:

[code]

It seems that something assumes that d = prev in the loop. However doing it explicitely by changing the condition to if d == prev doesn't trigger the bug.

[2022-06-27 08:41] SparrowLii commented on #75760
Submitted a new [PR](https://github.com/rust-lang/rust/pull/98570) to fix another set of ui test failures

[2022-06-27 08:42] michaelwoerister commented on #57968
At this time, I am strongly against making incr. comp. the default for release builds because that's the mode that's usually being used for production builds -- and incr. comp. is not a good choice for that because of increased code size, less effective optimizations, and the added risks for running into incr. comp. specific compiler bugs.

That being said, optimized incremental builds certainly h

[2022-06-27 09:04] SNCPlay42 commented on #98568
Per [godbolt](https://rust.godbolt.org/z/TGTo8zdvh) this produced the correct result on 1.55 and misoptimises on 1.56 and later.

@rustbot label A-codegen I-unsound T-compiler regression-from-stable-to-stable

[2022-06-27 09:23] nikic commented on #98568
Works with `-C no-prepopulate-passes`, so presumably an LLVM miscompile. Assigning to me for investigation.

[2022-06-27 09:24] nbdd0121 commented on #98568
This C version has the same issue: https://godbolt.org/z/E86n349nr, so likely a LLVM bug.

@rustbot label: +A-LLVM

[2022-06-27 09:34] jtmoon79 commented on #31383
For anyone that ends up here from internet searches, [here is the Stackoverflow question](https://stackoverflow.com/questions/39023559/how-to-concatenate-a-literal-string-with-a-const-string).

A useful Answer was suggesting [`concatcp` from crate `const_format`](https://docs.rs/const_format/0.2.25/const_format/macro.concatcp.html).

[2022-06-27 10:04] nikic commented on #98568
Miscompile still present on current main, and appears to be introduced during this `-indvars` transform: https://alive2.llvm.org/ce/z/I-4JjZ

[2022-06-27 10:15] nikic commented on #98568
Upstream issue: https://github.com/llvm/llvm-project/issues/56242

[2022-06-27 11:41] sander2 commented on #97584
I think you're right. I'm ok with closing this issue then. Just note that the linked issue has different tags (`enhancement` vs `bug`, no priority, and no regression tag) which may have contributed in it being an open issue for 4 years

[2022-06-27 11:41] 0x182d4454fb211940 opened #98575 "When restricting an associated type, suggested code doesn't respect modules"
Given the following code: (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c76624704206f023ab0e28dfe0a097c2)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

since otherwise rust's suggestion doesn't compile. It's worth noting that when suggesting trait bounds, modules are respected: (https://play.rust-lang.org/?version=stable&mode=debu

[2022-06-27 12:03] apiraino commented on #97584
agreed, will update #47525 accordingly. Thanks!

[2022-06-27 12:04] apiraino commented on #97584
Closing this in favor of #47525

[2022-06-27 12:04] #97584 closed

[2022-06-27 12:06] lcnr commented on #98543
while this currently does not work, we should also add a test for something like this. If we get stronger implied bounds, simply requiring the caller to prove wf for all projection components won't be enough anymore
[code]

[code]

[2022-06-27 12:50] spastorino commented on #98260
@yanchen4791 having an early return on `compiler/rustc_typeck/src/variance/mod.rs` if no generics will solve this problem.

[2022-06-27 13:44] eddyb commented on #65111
We should probably run @Gankra's tool instead of our own (less comprehensive) tests. cc @rust-lang/compiler

Anyway came here to add one more to the pile:
* SPARC64 aggregate recursion code gets offsets wrong in several ways (I'm surprised the test added in that PR even works) https://github.com/rust-lang/rust/pull/94216#pullrequestreview-1020206046

[2022-06-27 14:43] bjorn3 commented on #37971
Cargo doesn't share anything with the rest. For the rest of the tools the fact that query methods on `TyCtxt` use `#[inline(always)]` is probably related.

53MB of that is the crate metadata.

[2022-06-27 15:34] SNCPlay42 commented on #98467
I see on zulip there was some confusion surrounding the edition:

The 2018+ edition version of this code:

[code]

still behaves the same way as the 2015 code, in that it compiles, but *shouldn't* (IMO), and is still dependent on the order of the uses in `g`.

[2022-06-27 18:42] nagisa commented on #35678
`exclude` in config.toml would be stellar, but I can imagine myself living with just a flag (which I can write a wrapper script over for example)

[2022-06-27 18:55] cuviper commented on #92791
`Send` and `Sync` are also missing, compared to `Box<T>`, because `NonNull<_>` blocks them by default. I think it should be perfectly fine to justify manual impls for `ThinBox<T>` though.

[2022-06-27 18:56] thomcc commented on #92791
Oh, it should definitely be Send and Sync.

[2022-06-27 19:09] #96810 closed

[2022-06-27 19:09] #98546 closed

[2022-06-27 19:09] #98436 closed

[2022-06-27 19:19] aliemjay opened #98589 "NLL: named lifetimes in closures can be unrelated to those in parent function"
Update: I originally thought it's a soundness issue, but it may not be, see comment https://github.com/rust-lang/rust/issues/98589#issuecomment-1168006613.

This code compiles after #95565 ~although it shouldn't~: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=057c2a94b5d705db176a8ca5e02a2104))
[code]

@rustbot label C-bug T-types regression-from-stable-to-n

[2022-06-27 19:47] Lokathor opened #98590 "missing_copy_implementations warning appears on types which impl Iterator"
It has long been the policy of the standard library that Copy and Iterator on the same type is a footgun.

Therefore, the `missing_copy_implementations` lint should not fire on a type that impls Iterator.

[2022-06-27 20:00] apiraino commented on #98568
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398568.20Wrong.20optimization)).

@rustbot label -I-prioritize +P-critical

[2022-06-27 20:14] apiraino commented on #98589
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398589.20NLL.3A.20unsound.20propagation.20of.20region.20constraints.20from.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-06-27 20:24] steffahn commented on #98589
I have yet to exploit this code for *actual* unsound behavior.

[2022-06-27 20:29] steffahn commented on #98589
E.g. this works
[code]
but this doesn’t
[code]

[2022-06-27 20:58] steffahn commented on #98589
I feel like the “predicate containing `'a`”  makes `'a` early-bound instead of late-bound which is probably what makes “a difference” here in terms of compiler behavior.

[2022-06-27 21:09] thomcc commented on #72356
(See also my comments in https://github.com/rust-lang/rust/issues/53020#issuecomment-1139332065, although the issue is otherwise unrelated)

[2022-06-27 21:17] m-ou-se commented on #95439
I think this is a really important point. I think this is case where Rust accidentally mixes 'unsafe' with 'bad idea'. The best example of that is how `mem::forget` is usually a "bad idea", but not `unsafe`. From that perspective, `UnsafeCell` does it wrong: it is not Sync, and requires you to write `unsafe impl Sync` on your type containing it if you want to share it, even though a `Sync` `Unsafe

[2022-06-27 21:19] m-ou-se commented on #95439
It reminds me also of some arguments for implementing `Copy` for `Range` or not. It's not unsound, but might lead to mistakes. Whether that means it should or shouldn't be done is debatable.

[2022-06-27 22:08] RalfJung opened #98593 "[strict provenance] Provide a way to "create allocations at a fixed address""
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

On some platforms it makes sense to just take a hard-coded address, cast it to a pointer, and starting working with that pointer -- because there are external environment assumptions that say that certain things are provided at certain addresses.

This is perfectly fine for Rust as long as that

[2022-06-27 22:09] RalfJung commented on #95228
Good question; this was discussed somewhere but I forgot where. I made a new issue for it: https://github.com/rust-lang/rust/issues/98593.

[2022-06-27 22:09] RalfJung commented on #98593
Until such a function exists, one can use `from_exposed_addr_mut` for this purpose. The "provenance for all things outside the Abstract Machine" is definitely exposed and can hence be picked up by that function.

[2022-06-27 22:14] lcnr opened #98594 "`-Zverbose` hrlt pretty printing ICE"
[code]
with `rustc src/main.rs -Zverbose` causes the following ICE ([godbolt](https://godbolt.org/z/6sTf1W8sf))
[code]
<details>

[code]
</details>

[2022-06-27 22:24] Lokathor commented on #98593
One thing I'd like to mention at the start is that hardware addresses should not be modeled as "owned" by anything inside Rust. They're generally volatile, and generally what you read from them might change without Rust doing anything on its end. At best we should think of them as Rust *sharing* the address with some external force.

Because of this, I think a name like "alloc" would be a misstep.

[2022-06-27 22:34] Mark-Simulacrum commented on #98466
cc https://github.com/rust-lang/rust/issues/45256 and https://github.com/rust-lang/rust/issues/93415 which are previously open issues on this

[2022-06-27 22:41] BGR360 commented on #95529
Oh, why's that? I was thinking of just using `Instance` as the other part of the key.

Yeah I originally wanted to use `Option<&'a str>` but I didn't know how to properly write an `Option` field using `Place::write_*. It was simpler to model it off the existing code (which currently puts `"<redacted>"` as the filename if `-Z location-detail` has been set a certain way).

Yep, that's my plan. Do yo

[2022-06-27 22:41] clarfonthey commented on #98593
Perhaps directly labelling these addresses as volatile might be the best way to go? This would also help for FFI as well, since you could make the distinction between an address for something that is "owned" inside the Rust code until passed back via FFI, or something that could concurrently be modified outside of Rust, by hardware or another thread.

[2022-06-27 22:49] aliemjay commented on #98589
I agree that this is most likely not a soundness issue, but it's still confusing and fixing it in the future would be a breaking change.

By looking closer at the source, the named lifetime `'a` that appears in the closure is indeed a free inference variable independent from the `'a` found in the defining scope. It behaves similarly to how @steffahn theorized in the previous comment.

Perhaps this

[2022-06-27 22:53] RalfJung commented on #98593
@Lokathor what you say also confirms my thoughts above that we want to use the same provenance for all calls to this function, and not generate a fresh one. That provenance is assumed to be exposed from the start, so it is basically public and can change any time control is given to other code (including via another thread).

Using volatile accesses is a separate concern; Rust assumes for *all* po

[2022-06-27 23:10] Lokathor commented on #98593
Nit: a hardware address can change _even without_ control going to other code.

It could be modeled that the hardware is another thread and that the hardware thread has started before the abstract machine does (similar to how static values are initialized before the abstract machine begins), if that suits you.

But that doesn't matter at all? There's no such thing as a wrapping integer, wrapping i

[2022-06-27 23:42] RalfJung commented on #98593
I am well aware. That's what `volatile` is for.

And I think we can very easily not make this the 50th thread about volatile. Just focus on the provenance concern. They are entirely orthogonal. We do *not* have to co-design this with a volatile pointer type, and you are *not* helping this cause by ting all these issues in one big knot that is impossible to tackle incrementally.

[2022-06-27 23:44] RalfJung commented on #98593
There are plenty of cases where you want access at a particular address that has *nothing to do with volatile*. For example, you might write a kernel and know that the firmware put some data structure with important info at a hard-coded address.

So, this API certainly should not be tied to volatile in any way. That's why I marked the previous posts about volatile as off-topic.

[2022-06-27 23:45] adamgreig commented on #98593
I'll raise this at the next embedded WG meeting (tues 28th 20:00 CEST) to see if anyone else has thoughts.

I'd think so, we will often have a pointer to a large struct or array or quite possibly an entire memory region that is only for MMIO with fixed addresses (e.g. on Cortex-M, 0x4000_0000 through 0x5FFF_FFFF is all peripheral MMIO).

[2022-06-27 23:46] RalfJung commented on #98593
And then would you want it to be UB to use that pointer outside the given range? Or what would the exact consequence be of setting a particular size?

[2022-06-27 23:54] adamgreig commented on #98593
If it didn't take a size, would you assume a single word provenance or the whole memory, like an escaped pointer? I was imagining you'd want to be able to restrict it to the smallest usable provenance, which is generally known statically or easily bounded to a memory region.

If there's not really any advantage to the compiler to knowing the possible valid range of the pointer, then I suppose just

[2022-06-27 23:58] RalfJung commented on #98593
It would be allowed to access all memory that is outside of what the Abstract Machine knows about (`static`, stack, heap).

This means multiple calls to that function can overlap anyway, so a size does not give any disjointness guarantees.

[2022-06-28 00:00] Lokathor commented on #98593
A size/span restriction does not seem useful.

[2022-06-28 00:07] adamgreig commented on #98593
Right, I should have read the issue more carefully. I agree then, it doesn't seem like there'd be any benefit to giving a size, even if it is known.

For naming, I'm also not entirely sure about saying `alloc`; maybe the thing to express is that we're making a pointer that shares some global disjoint-from-known-universe provenance with all other similarly-created pointers? I think `extern` has too

[2022-06-28 00:19] jamesmunns commented on #98593
Thinking a bit about the use cases here, just to make sure I understand:

* Fixed memory map addresses (e.g. MMIO pointers)
* Runtime mapped regions (virtual memory mapping?), created by the code itself
* Runtime mapped regions done indirectly from the code (i.e. `mmap` - this might have a separate function for provenance? Or is this just handled by "pointer escaping" in the compiler currently?)

[2022-06-28 00:20] Lokathor commented on #98593
"external address" seems like a good term, `<*mut T>::from_extern` seems maybe like a fine way to make them.

[2022-06-28 00:29] purplg opened #98598 "range start index 1 out of range for slice of length 0"
### Code

[code]

### Meta
I reproduced this bug on nightly and master but did not exist on stable or beta.

`rustc --version --verbose`:

[code]

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Let me know if I can further assist.

[2022-06-28 00:30] RalfJung commented on #98593
Yeah I considered "extern", too -- but the term is awfully overloaded.

This is specifically to replace current uses of `int as *mut PTR`. Functions like `mmap` already return a pointer and that one for all intents and purposes will have a fresh provenance -- they are like `malloc`, I think.

[2022-06-28 00:35] jamesmunns commented on #98593
That makes sense for the third point!

My second item is more for *implementing* an operating system, where you might want to map a page, zero it, then pass it on to "userspace".

If you were implementing ASLR for example, you'd (more or less) be generating the base mapped address from an RNG, which would probably have come from some kind of integer rather than pointer. That being said, the OS its

[2022-06-28 00:49] Dirbaio commented on #98593
"foreign" maybe? so there's "program memory" and "foreign memory". The function could be `ptr::from_foreign_addr()`.

[2022-06-28 00:53] RalfJung commented on #98593
@jamesmunns from the kernel perspective this is memory outside of what Rust knows about, so if there are int2ptr casts there then using this function probably makes sense.

However now that if you e.g. implement a global allocator, then the memory return by that *is* considered to be "known to Rust" and thus must not be accessed with that "external"/"foreign" provenance.

[2022-06-28 01:03] #88756 closed

[2022-06-28 01:03] #81340 closed

[2022-06-28 01:03] #98500 closed

[2022-06-28 01:04] rust-highfive opened #98599 "`miri` no longer builds after rust-lang/rust#98591"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98591, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-28 01:06] Rageking8 commented on #98598
@rustbot label regression-from-stable-to-nightly

[2022-06-28 01:12] A1-Triard commented on #98593
But what if I want to perform `mmap` syscall using asm? Looks like it seems you need a way to create a new, unique provenance for a such case.

[2022-06-28 01:18] Lokathor commented on #98593
inline asm provenance creation rules *should* be the same as FFI provenance creation rules (whatever those are).

I don't know if that's fully decided yet, but in all other situations inline asm works "basically like FFI with a weird calling convention", and I see no reason to follow from that convention.

[2022-06-28 01:19] RalfJung commented on #98593
`asm!` block semantics are axiomatized anyway. You just have to be able to *describe* what happens in terms of the Abstract Machine state (in a way that is consistent with the actions of the `asm!` on the physical state); so that description can just state that it generates a fresh provenance since that is something the Abstract Machine can do.

[2022-06-28 01:22] ehuss commented on #95432
I think it would be nice if the diagnostic system could world-wrap text in general.  For example:

<img width="568" alt="image" src="https://user-images.githubusercontent.com/43198/176066383-136021ce-12be-417a-aa0e-ff11830cbe2e.png">

could be rendered something like:

[code]

[2022-06-28 01:25] Rageking8 commented on #98598
This also ICEs with a slightly different variant of the code.
1.64.0-nightly
(2022-06-26 c80c4b8fdcf3da69cd48)
[code]

However, it does not ICE using stable 1.61.0 or 1.62.0-beta.7 (2022-06-26 747075d9c00f1ac84763).

[2022-06-28 01:38] programmerjake commented on #98593
one other case to consider is where the program picks an address, and then memmaps to that address, using something like [`MAP_FIXED`](https://manpages.debian.org/bullseye/manpages-dev/mmap.2.en.html#MAP_FIXED):
[code]

imho `mmap` here should return the same provenance as the `addr` argument even though that `addr` argument wasn't valid until the `mmap` call.

[2022-06-28 01:54] RalfJung commented on #98593
That sounds pretty reasonable to me.
In particular you also must stay clear of any Rust-managed memory when doing this.

[2022-06-28 02:14] QuineDot commented on #89356
Dupe of #51445, at least at the surface level.

[2022-06-28 02:17] QuineDot commented on #85898
Dupe of #51445, though this has the better title IMO.

[2022-06-28 02:29] QuineDot commented on #51445
[Changing a type in your API is already considered a major breaking change,](https://rust-lang.github.io/rfcs/1105-api-evolution.html#major-change-any-non-trivial-change-to-item-signatures) so I don't think that's a factor.  I noted a couple dupes; there was [a PR that passed review](https://github.com/rust-lang/rust/pull/86360) for #85898, but it ran into some CI problems and got dropped.

[Here'

[2022-06-28 02:41] Xuanwo commented on #91178
Also related to https://github.com/tikv/pprof-rs/issues/142

[2022-06-28 02:55] yanchen4791 commented on #98260
The output of the test case after the fix is correct:
[code]

[2022-06-28 02:58] mcy opened #98601 "Diagnostic for early closing delimiter incorrectly blames empty block"
See: https://godbolt.org/z/rPxvYMf1h

This code:
[code]

produces

[code]

on latest stable (1.61.0). @estebank

[2022-06-28 03:06] psionic12 commented on #98448
Thanks for helping @lcnr, hope this bug can be fixed asap, I'm highly relied on this feature, and have to use macros instead for now.

[2022-06-28 04:25] compiler-errors commented on #98601
Maybe we could form a heuristic around tokens that we know should _eventually_ be followed by `{` -- `if`, `match`, `fn`, etc.

If we see one of those, (then some random other tokens), then we see `}`, then that would be a suspicious rbrace which we could point out later..

e.g. if we see `if a b c d e }` that triggers the heuristic, but not `if a b c d e { }`

[2022-06-28 04:39] #89356 closed

[2022-06-28 05:17] KSBilodeau opened #98604 "Broken Mir Resulting From Async Function Pointer Cast"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-28 05:35] KSBilodeau commented on #98604
This ICE is also triggered by unsizing coercion such as follows:

[code]

[2022-06-28 05:56] Nilstrieb commented on #98604
Borrowck is correct I'm rejecting this code, since the cast is not allowed like this. Looks like some earlier pass didn't check it it correctly.

[2022-06-28 06:57] apiraino commented on #98589
Prioritization assessment `P-critical` still holds (discussion on [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398589.20NLL.3A.20unsound.20propagation.20of.20region.20constraints.20from.20.E2.80.A6)).

@rustbot label -I-prioritize

[2022-06-28 07:28] AurelienFT commented on #97422
I don't have time to work on this anymore I remove my assignation.

[2022-06-28 07:30] compiler-errors commented on #98604
cc @oli-obk this regressed in #94081

[2022-06-28 07:40] oli-obk commented on #98604
Yea regular typeck should already reject that cast/coercion

[2022-06-28 07:42] compiler-errors commented on #98604
Strangely, inlining the type alias's definition gives us:

[code]

[2022-06-28 07:44] apiraino commented on #98598
bisection leads to commit e40d5e83dc133d093c22c7ff016b10daa4f40dcf

searched nightlies: from nightly-2022-03-21 to nightly-2022-06-28
regressed nightly: nightly-2022-06-04
searched commits: from https://github.com/rust-lang/rust/commit/e71440575c930dcecac288b7c3536410d688b351 to https://github.com/rust-lang/rust/commit/a6b8c6954829669a5c4fa320c3e6132edf04fcfc
regressed commit: https://github.com/r

[2022-06-28 07:45] apiraino commented on #98598
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398598.20range.20start.20index.201.20out.20of.20range.20for.20slice.20of.20length.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-06-28 07:48] Nilstrieb opened #98608 "Function type with opaque return type can be coerced to `dyn Fn` with arbitrary return type"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a78a1c65a7788a1fc16bbb49823e31b1

I expected to see this happen: Compiler error, since `impl Sized` cannot be coerced to `Box<u8>`.

Instead, this happened: Code compiles, segfault

### Meta

`rustc --version --verbose`:
[code]

[2022-06-28 07:50] Nilstrieb commented on #98604
I investigated this closer and.. found a soundness bug! #98608

[2022-06-28 07:55] compiler-errors commented on #98598
cc @lcnr

[2022-06-28 07:56] JakobDegen commented on #98608
This regressed in 1.61, unfortunately my wifi is not currently up for running a proper bisect.

@rustbot label +regression-from-stable-to-stable

[2022-06-28 08:04] oli-obk commented on #98608
likely cause is one of the uses of `take_opaque_type` without actually registering the hidden types

[2022-06-28 08:07] 5225225 commented on #98608
searched nightlies: from nightly-2022-01-01 to nightly-2022-06-26
regressed nightly: nightly-2022-03-31
searched commit range: https://github.com/rust-lang/rust/compare/9c06e1ba47e1077725a950e0b5d1870a89c8b536...c5cf08d37b85f953b132951e868df5b924250fdc
regressed commit: https://github.com/rust-lang/rust/commit/f132bcf3bdf6d3ff9be7d02e8d0088b99007cd5e

<details>
<summary>bisected with <a href='http

[2022-06-28 08:09] Nilstrieb commented on #98604
Seems like the soundness bug is caused by the same issue, so fixing that should fix this as well. It's just that here borrowck managed to find the broken code and bail out, but there, no one was there to catch it.

[2022-06-28 08:12] Enselic commented on #98547
Closed by #98577

[2022-06-28 08:12] #98547 closed

[2022-06-28 08:30] lcnr commented on #98598
@rustbot claim

[2022-06-28 08:34] algesten commented on #98593
In the embedded code I've encountered (STM32 mainly), this is the [common pattern](https://github.com/stm32-rs/stm32f4xx-hal/blob/master/src/gpio.rs#L473).

[code]

There will be an underlying crate that is mostly generated from the MCU vendor's SVD-files (often with some patch set with correction on top). The  maps each MCU peripheral to a specific memory address [`RCC::ptr()` etc](https://docs.r

[2022-06-28 09:18] GuillaumeGomez commented on #93058
This issue is done so closing it.

[2022-06-28 09:18] #93058 closed

[2022-06-28 09:48] Darksonn commented on #98593
As long as the address doesn't require volatile to access it, I don't see any problem with creating references to them. In fact, I think `mmap` is a great example of that.

[2022-06-28 09:52] dtolnay commented on #98604
Correct error in 1.60.0, and nightly prior to f132bcf3bdf6d3ff9be7d02e8d0088b99007cd5e:

[code]

[2022-06-28 10:05] compiler-errors commented on #98604
just for the record, oli figured out the bug, so other ppl don't waste too much time investigating

[2022-06-28 10:14] gimbles commented on #92470
@rustbot claim

[2022-06-28 10:36] tbu- opened #98616 "Nightly regression: ndarray 0.9.1 stops compiling: temporary value dropped while borrowed"
ndarray 0.9.1 compiles with rustc 1.61.0 but not with rustc 1.64.0-nightly (2f3ddd9f5 2022-06-27).

### Code

Put this into a `Cargo.toml` of a new project:

[code]

rustc stable <= 1.61.0 compiles the crate fine, rustc nightly gives the following error:
[code]

### Version it worked on

[code]

### Version with regression

[code]

@rustbot modify labels: +regression-from-stable-to-nightly -regres

[2022-06-28 10:58] LawrenceEsswood commented on #98593
Can we revisit this? The CHERI crowd (and I'm sure others) want to attach sizes to all pointers. Specifying a size, with UB if accesses are made outside of it, would make the CHERI transition easier. On a CHERI machine, the rust runtime may not even have the capacity to construct a pointer valid for "all memory that is outside of what the Abstract Machine knows about".

[2022-06-28 11:09] adamgreig commented on #98593
@algesten

The current svd2rust-generated API has to change regardless*, so I wouldn't look too closely at how it works currently. The proposed API here just creates a pointer-with-provenance from an integer, so whether that's a pointer to a struct or a pointer to a single register or even a pointer to the entire peripheral memory region is somewhat immaterial to the eventual API in PACs, I think.

[2022-06-28 11:21] spastorino commented on #98260
@yanchen4791 great, now you can send a pull request :).

[2022-06-28 11:31] withoutboats commented on #89780
(NOT A CONTRIBUTION)

Another remark has occurred to me that I realized hasn't been made quite explicit here: it's not just that `Poll` and `Result` are different types and its important to distinguish which is being returned, but it also has a big impact on how you write a poll method. When a future early returns `Err` with `?`, it is incorrect for that future to be called again. However, when a

[2022-06-28 11:44] apiraino commented on #98616
Just adding a note. The issue seems to be an old version of `num-complex` that `ndarray` used to use back in v0.9.1

<details>

[code]

</details>

The crate `ndarray` from v0.13.0 (released in sept. 2019) compiles fine also on latest Rust nightly

[2022-06-28 12:04] apiraino commented on #98616
bisection seems to point to commit  10f4ce324baf7cfb7ce2b2096662b82b79204944 cc @cjgillot

searched nightlies: from nightly-2022-04-01 to nightly-2022-06-28
regressed nightly: nightly-2022-06-23
searched commits: from https://github.com/rust-lang/rust/commit/dc80ca78b6ec2b6bba02560470347433bcd0bb3c to https://github.com/rust-lang/rust/commit/10f4ce324baf7cfb7ce2b2096662b82b79204944
regressed commi

[2022-06-28 12:39] AurelienFT opened #98620 "ICE On unknown type on HapMap templated"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-28 13:13] RalfJung commented on #98593
I am not entirely sure what you mean.  Basically what we are talking about is replacing `0x4002_0000 as *const _` by `ptr::from_foreign_addr(0x4002_0000)`.

I think most of the code we are talking about here is extremely platform-specific and has no chance of being portably even across "normal" architectures, let alone CHERI.
Yes, CHERI also wants something that *does* take a size, but that sounds

[2022-06-28 13:32] Rageking8 commented on #98620
Seems to have already been fixed with the latest Nightly version: 1.64.0-nightly (2022-06-27 2f3ddd9f594adf977354). Could not reproduce ICE using rust playground for latest nightly, beta and stable 1.61.

[2022-06-28 13:41] Lokathor commented on #98593
Having a way to specify a size is reasonable if the platform requires it. Most platforms don't require a size and on those platforms and so they shouldn't need to provide a size. We can and should probably "easily" cfg out the no-size methods from being available on CHERI and similar.

I don't think that llvm should be using the size info to determine if UB is happening or anything of that nature.

[2022-06-28 14:04] LawrenceEsswood commented on #98593
But do they really not require it? These platforms very much **do** have sizes for their memory mapped registers. This information is just _possibly_ not in use by some compilers. Why shouldn't LLVM be free to use the information for safety / bug checking?

Other allocations nominally have a size, why make these "pre-existing" allocations special? If a particular compiler implementation wants to d

[2022-06-28 14:19] Lokathor commented on #98593
What makes them special is that the sizes are often enough just imaginary, and as long as you write particular bits into each particular byte it often doesn't matter if you do it with four `strb` or two `strh` or one `str`. And so sometimes you might view the memory one way or another logically but that doesn't change the physical limits. And at this level of programming the developer should be bo

[2022-06-28 14:26] AurelienFT commented on #98620
Yes it has been fixed. Just test it I close it.

[2022-06-28 14:26] #98620 closed

[2022-06-28 14:30] LawrenceEsswood commented on #98593
I agree in principle UB is dangerous, but you are not exactly specifying an alternative defined behaviour. Rather, nothing is being specified at all with regards to the extent to which such a pointer can be used. Are you not already imagining making it UB to use such a pointer to access memory that is a part of the memory rust understands for its heap and stack? Surely if UB is so unsafe, we shoul

[2022-06-28 14:58] LawrenceEsswood commented on #98593
But why not "as long as I stick to just the memory regions I intended to access when I made this cast"? Just a slight narrowing of what the pointer should be used for. Certainly not _less_ safe.

I think "whatever I want that would be legal in asm" is a terrible target for a language that purports to be fixing memory safety issues.

[2022-06-28 15:17] lcnr commented on #66451
this issue isn't really relevant anymore, as we now use `fn pretty_print_const_valtree` for this:

https://github.com/rust-lang/rust/blob/baf382e63c023259fa1f9042f8f479f183ca6ed3/compiler/rustc_middle/src/ty/print/pretty.rs#L1417-L1541

This should also deal with references by printing a `&` and then calling `pretty_print_const_valtree` recursively.

as a test case, consider https://play.rust-lang

[2022-06-28 15:22] lcnr commented on #66615
visited during project-const-generics triage, added to https://github.com/rust-lang/project-const-generics/issues/42 but don't expect us to make much progress here.

[2022-06-28 15:31] lcnr commented on #68555
It looks like the https://github.com/djugei/optimath/tree/f39d6d378826c345a8136d93c19fbcd087a13d3c now compiles after fixing all error messages related to outdated features.

closing this, please open a new issue if you discover the same bug with some other code

[2022-06-28 15:33] lcnr commented on #69943
the unification for generic constants has now been implemented under the `generic_const_exprs` feature. `bar_ret` now compiles and we already have similar tests.

[2022-06-28 15:33] #69943 closed

[2022-06-28 15:38] atsuzaki commented on #90531
@rustbot claim

[2022-06-28 15:46] lcnr commented on #71547
this has now been fixed
[code]

[2022-06-28 15:53] lcnr commented on #72845
[const generics triage](https://rust-lang.zulipchat.com/#narrow/stream/260443-project-const-generics/topic/.60F-generic_const_exprs.60.20triage/near/287735894).

This still causes an ICE with the following code.
[code]
seems interesting

[2022-06-28 16:09] Lokathor commented on #98593
I suppose it depends on what you mean by allocated object.

[2022-06-28 16:09] lcnr commented on #74713
from what I can tell this now works even with debug assertions? marking as needs-test.

[2022-06-28 16:14] lcnr opened #98629 "evaluation error hides "impl item missing" error"
[code]
results in
[code]
without showing that `N` is missing in the trait impl.

Taken from the comment by @carado in https://github.com/rust-lang/rust/issues/74713#issuecomment-882408859

[2022-06-28 16:16] ChrisDenton opened #98631 "Deprecated suggestion message could be better"
`#![feature(deprecated_suggestion)]` (#94785) produces warning messages that I think could be improved? The current suggestion message doesn't seem ideal to me:

[code]

Specifically this part sounds to me more like `Once::new()` is the deprecated constant:

I think something like this would be better, but I don't know how easy it would be to implement a more natural sentence:

[2022-06-28 16:17] lcnr commented on #75039
types and const ordering requirements are now relaxed on stable, closing

[2022-06-28 16:17] #75039 closed

[2022-06-28 16:33] cjgillot commented on #98616
I've been suspecting this bug for a few days, but unable to reproduce it.  I think I have a patch, will confirm once I manage to MCVE.

[2022-06-28 16:34] lcnr commented on #84238
[code]
still compiles, the issue is that function pointers are currently considered to be structural match. I intend to work on structural equality in the near (not that near) future, going to assign this to myself.

@rustbot claim

[2022-06-28 16:37] lcnr commented on #84669
see https://github.com/rust-lang/rust/issues/83972#issuecomment-1168955100, should still be fixed :laughing:

[2022-06-28 16:38] Rageking8 commented on #98629
@rustbot label T-compiler

[2022-06-28 16:39] jyn514 commented on #76720
The proper way to fix this is to wipe the build cache whenever the stage1 compiler changes. That will make builds a lot slower, but it's better than ICEs and having to wipe the cache anyway.

 I guess we could add a --keep-stage-cache flag if you're sure you haven't touched metadata - not sure how useful it would be in practice.

@RalfJung said on Zulip:

[2022-06-28 16:41] lcnr commented on #88116
the error message now correctly mentions `A`

[2022-06-28 16:41] #88116 closed

[2022-06-28 16:45] lyming2007 commented on #98492
if we change the code to
[code]
the error will be like:
[code]
How about we make the error message for your case like:
Ideally the output should look like:

[code]

[2022-06-28 16:59] Rageking8 commented on #98629
@rustbot label regression-from-stable-to-nightly

[2022-06-28 17:09] lyming2007 commented on #98492
@rustbot claim

[2022-06-28 17:11] jfortin42 opened #98634 "Compiler error when an async function is store in a async struct"
Hello,

I was trying differents things with Future and callbacks - to be more precise, I am trying to store an asynchronous callback inside an asynchronous struct.
In my attempts, I found an unexpected compiler crash  - I have taken the care to create a minimal reproducible example, which you can see, and test for yourself - note that the crash occurs both on the latest "stable" and "nightly" vers

[2022-06-28 17:13] ash2x3zb9cy opened #98635 "attempting to run wasm32 on windows without a runner gives useless error "%1 is not a valid Win32 application""
Given a completely fresh binary project structure (e.g. `cargo new`), the following command:

[code]

The current output is:

[code]

Ideally the output could look like:

[code]

This message is also displayed if, for example, there's a typo in the cargo config key:
[code]

**Rationale**: The existing error message does not identify the issue and also is simply broken. It also occurs in even the s

[2022-06-28 17:19] Rageking8 commented on #98634
Just to add this also ICEs on 1.62.0-beta.7 (2022-06-26 747075d9c00f1ac84763)

[2022-06-28 17:24] RalfJung commented on #98593
Yes. That is the amount of UB we need. Beyond that, it is also UB if the load causes a fault or data race. But everything else we can should not make UB.

We cannot really assign a lot of semantics to those accesses since that memory doesn't exist in the AM.

No, I don't think we want that. The resulting raw ptr looks like any other raw ptr, so the compiler will still make a bunch of assumptions a

[2022-06-28 17:36] Lokathor commented on #98593
But Ralf, a data race is a property of an *access*, and we're not talking about accesses ;3

[2022-06-28 17:41] RalfJung commented on #98593
You were talking about accesses by saying "whatever thing i want that would be legal in asm code", weren't you?  So yes indeed that's off-topic in this thread. ;) https://github.com/rust-lang/unsafe-code-guidelines/issues/321 is a great thread for exactly that goal: "do whatever asm would do" (for accesses).

This thread is "do whatever asm would do" for int2ptr casts. ;)

[2022-06-28 17:42] Lokathor commented on #98593
No, I did mean like you said in the longer post, that you should be able to offset from wherever to wherever else and it's still a valid pointer.

[2022-06-28 19:23] matthiaskrgr commented on #93117
another example:
[code]

[2022-06-28 19:35] Enselic commented on #83720
I can reproduce with `nightly-2022-05-18` but not with `nightly-2022-06-27`.

If you can confirm I think we can just close this?

@rustbot labels +C-bug

[2022-06-28 20:39] sharifhsn opened #98645 "Wrong span for E0277 error message "trait bound is not satisfied""
### Problem

I had an error in my code where I tried to convert a `u32` to an enum using `try_into` without implementing it first. My code essentially looked like this:
[code]
This code generates the following error message:
[code]
The compiler correctly notes that I have not implemented `TryInto` on `Thing` for `u32`, but it tells me that I haven't satisfied that trait bound for `value`, not `thi

[2022-06-28 20:55] ehuss commented on #98645
Thanks for the report!  I have transferred this to the rust-lang/rust repository as this is a rustc issue.

[2022-06-28 21:03] ehuss commented on #98645
I bisected this to nightly-2021-10-27.  There are several PRs which are candidates there https://github.com/rust-lang/rust/compare/29b1248025b19bd132c8047fc710ea9314b9b76b...e269e6bf47f40c9046cd44ab787881d700099252

The most likely look like either #90282, #90299, or #90075.

The previous error message looked like:

[code]

[2022-06-28 21:17] #80074 closed

[2022-06-28 21:17] #85907 closed

[2022-06-28 21:17] #98003 closed

[2022-06-28 21:17] #98432 closed

[2022-06-28 22:16] compiler-errors commented on #98631
This is because it's a suggestion, but being rendered inline. You could bump it up to a [verbose suggestion](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_errors/diagnostic/struct.Diagnostic.html#method.span_suggestion_verbose) so it renders more distinctly.

[2022-06-28 22:21] compiler-errors commented on #98645
This is probably #90181

[2022-06-28 22:23] compiler-errors commented on #98645
I was looking into `point_at_arg_instead_of_call_if_possible` recently in #98607 so I can look at this too.

@rustbot claim

[2022-06-28 23:01] alice-i-cecile opened #98648 "Unhelpful error message when using traits + duplicate libraries in tree"
When users have more than one copy of a dependency in their tree, trait resolution can give very unhelpful error messages,
typically of the form

The user however will have provided their own implementation for this trait, but the version mismatch causes the traits to not line up.

Ideally, the error message should a) alert the user that they have duplicate dependencies in their tree (as is curren

[2022-06-28 23:02] alice-i-cecile commented on #98648
Let me know if you would like me to pull together a small reproduction of this; Bevy users get this constantly when relying on third-party crates targeting the main branch or vice versa.

[2022-06-28 23:14] eggyal commented on #98634
And to further add, it does not om stable.

@rustbot label: +regression-from-stable-to-beta

[2022-06-28 23:18] eggyal commented on #98634
Apologies, it does ICE on stable too (but, at least on the Playground, only when running not just building).

@rustbot label: -I-prioritize -regression-from-stable-to-beta

[2022-06-28 23:25] Lokathor commented on #98593
Unless you're going to literally prevent people from using `usize as *mut T`, which you cannot do in rust 1.0, then you need to decide what function call the old style `as` expression expands to.This means that if size is used in general then the function call needs to infer the size (eg: size_of T or something). But then you're back with all the badness previously discussed.

[2022-06-28 23:29] RalfJung commented on #98593
Oh that is decided, at least for me. ;)  It's [`from_exposed_addr`](https://doc.rust-lang.org/nightly/std/ptr/fn.from_exposed_addr.html).

That's a big hammer though. This thread is about providing a less big hammer targeted for this specific use-case.

[2022-06-28 23:30] Lokathor commented on #98593
That's fine, but I'll note that `from_exposed_addr` doesn't take a span parameter.

[2022-06-28 23:47] Dirbaio commented on #98593
How would this interact with `expose_addr`/`from_exposed_addr`?

It probably shouldn't be UB to pass a foreign pointer to `expose_addr`. Otherwise foreign pointers would be too dangerous, it'd be too easy to pass them to code written with only normal pointers in mind.

Does this means then the "all foreign memory" allocation can itself be exposed or not, just like normal allocations? And when it h

[2022-06-28 23:53] digama0 commented on #98593
@Dirbaio External allocations are always exposed, so you can use `from_exposed_addr` on them without issue. It doesn't even make sense to have an external allocation which is not exposed since then it wouldn't be external.

[2022-06-29 00:15] RalfJung commented on #98593
Yes that was my intent. We need to keep that code working for backwards-compatibility anyway.
Any "globally well-known provenance" should be considered exposed. The reason we need to distinguish "exposed" vs "non-exposed" is that when some code generates a fresh provenance in the privacy of its own function (e.g. for their stack variables, or via `malloc`), we need to make sure nobody else can jus

[2022-06-29 00:18] CAD97 opened #98650 "`py ./x.py` no longer works on Windows"
### Workaround for Windows developers

Put the following as `py.ini` in `%LOCALAPPDATA%`:

[code]

This will make `py` interpret the `#!/usr/bin/env bash` shebang as running `python`.

You can also put `py.ini` alongside `py.exe`. This is likely `C:\Windows`; you can find it with `where py`<sub>cmd</sub> or `Get-Command py`<sub>pwsh</sub>.

Alternatively, run `x.py` with `py -3` to explicitly sele

[2022-06-29 00:22] Dirbaio commented on #98593
Makes sense.

Why do we need a `from_foreign_addr` then if `from_exposed_addr` already works, then?

It could enable better optimizations, since the compiler knows `from_foreign_addr` will never touch exposed program memory. Would these make a difference in practice though? Most code out there will conform to Strict Provenance, so most program memory won't be exposed

[2022-06-29 00:29] Rageking8 commented on #98650
@rustbot label C-bug

[2022-06-29 00:30] CAD97 commented on #98650
Since this is also relevant, from the [Using Python on Windows](https://docs.python.org/3/using/windows.html) docs:

As much as ms would like to push the msstore version of python, the full installer is still generally preferred for developers.

(Also, thanks, I used the blank template because I wasn't sure what to use for build tooling.)

[2022-06-29 00:55] vincenzopalazzo commented on #98648
An example would be very helpful thanks!

[2022-06-29 01:00] tmandry commented on #84605
@rustbot label +I-lang-nominated

Lang team, can we move forward on an FCP?

[2022-06-29 01:09] Rageking8 commented on #98650
@rustbot label A-rustbuild

[2022-06-29 01:17] Rageking8 commented on #98648
@rustbot label E-needs-mcve

[2022-06-29 01:24] TaKO8Ki commented on #79495
Adding `#![feature(generic_const_exprs)]` still causes the same ICE.

[code]

[2022-06-29 01:30] vincenzopalazzo commented on #94705
This should be fixed in https://github.com/rust-lang/rust/pull/94712

[2022-06-29 01:31] camelid commented on #98550
IIRC (though I may be incorrect) rustdoc's `--nocapture` also doesn't print the output until it's finished executing, so it wouldn't work to debug hangs.

[2022-06-29 01:36] camelid commented on #97933
Yeah, the current state of the code is quite unfortunate :(

I've tried to improve it, but as you've seen it's very hard to understand and change.

[2022-06-29 01:44] RalfJung commented on #98593
It was mostly meant as an explicit bit of documentation, i.e., the programmer making their intent more clear.

[2022-06-29 01:46] RalfJung commented on #94705
That fixes one instance of this problem; https://github.com/rust-lang/rust/issues/94705#issuecomment-1061987717 lists a couple more (and I am not sure if that list is exhaustive).

[2022-06-29 01:46] RalfJung commented on #98550
I tried it, and it does print output immediately for me.

[2022-06-29 02:56] zirconium-n commented on #31844
Linked article literally said it can't solve the issue in a generic context at foreword.

[2022-06-29 03:17] guswynn commented on #98407
@clarfonthey that would conflict with https://doc.rust-lang.org/std/pin/struct.Pin.html#method.get_mut

[2022-06-29 04:36] quark-zju commented on #75744
Not sure if this is the right place for this discussion but I wonder if `?` with control flow can work if the function returns the `B` type.

[code]

This seems useful in cases where the caller of `f` does not care about whether its result comes from a break or a continue, which might be most of the cases.

[2022-06-29 05:46] Liamolucko commented on #87335
I took a look at the HIR and it looks like this:

[code]

gets desugared to this:

[code]

Because the code after the `let ... else` gets put inside of the `if let`, the guard hasn't yet been dropped and it deadlocks.

That's not what the RFC originally proposed. It proposed (and I assumed) that it would get expanded to this:

[code]

That version doesn't deadlock, since the guard gets dropped aft

[2022-06-29 06:07] digama0 commented on #98593
Especially if it is "the programmer making their intent more clear" I think there is use for the size field. Since as far as AM operations are concerned, the intrinsic is already superfluous since `from_exposed_addr` also works. Unless you want to say that `from_foreign_addr` on an exposed Rust allocation is UB?

[2022-06-29 07:14] Enselic opened #98658 "rustdoc-json: Default value of assoc type in blanket impls missing"
### Step-by-step

Run `cargo +nightly-2022-06-29 rustdoc -- -Z unstable-options --output-format json` with this in `src/lib.rs`:
[code]
and inspect `target/doc/repro.json`.

### Expected result

There is an item for the `Error` of the blanket impl [`impl<T, U> const TryFrom<U> for T where U: ~const Into<T>`](https://doc.rust-lang.org/1.60.0/src/core/convert/mod.rs.html#594-603) and it's default va

[2022-06-29 08:13] ChrisDenton commented on #98631
Hm, thinking more about it, could it not be simplified to:

Since the help message focuses on what's actionable without repeating less essential information.

[2022-06-29 08:19] ChrisDenton commented on #98631
Yeah, sorry I edited once I started actually playing with this.

[2022-06-29 08:21] compiler-errors commented on #98631
I think it's meaningful for the suggestion's message to say what it's doing -- "try replacing with" seems a bit terse.

I think I still prefer how this would render if we just bumped the suggestion to a verbose (not inclined) suggestion.

[2022-06-29 08:23] ChrisDenton commented on #98631
Ah ok. My thought was just that it's essentially repeating warning message using slightly different language.

[2022-06-29 08:28] #93596 closed

[2022-06-29 08:28] #97682 closed

[2022-06-29 08:28] #79224 closed

[2022-06-29 08:48] spital opened #98664 "library/std time::tests::instant_math Conditional jump or move depends on uninitialised value(s) reported in Valgrind"
I am not sure if this may be a problem or if I am doing something wrong, please kindly check.

Tested with a notebook and a desktop PC, no ECC RAM, same error reported by valgrind.

### NTB:

[code]

### Desktop

[code]

## Test

I just cloned rust repo and copied config.toml.example -> config.toml

[code]

[code]

[2022-06-29 09:47] MatrixDev commented on #87335
Personally I'm using following approach until let-else is stabilised, but match version is basically the same:
[code]

[2022-06-29 10:09] Aandreba commented on #80437
Why would we prefer * to ```Box::into_inner```?

[2022-06-29 10:56] Wyvern commented on #82450
Hi guys, following this thread put `-Zcheck-cfg=features,names,values,output` as command args works, but is there a way to put it in `config.toml [unstable]` section for now? Tried several times, still got parse errors...

[2022-06-29 11:08] vincenzopalazzo commented on #94705
@rustbot claim

Ok! @RalfJung, I can take a look into it

[2022-06-29 12:13] Alexendoo commented on #97946
Fixed by #98609

[2022-06-29 12:13] #97946 closed

[2022-06-29 12:24] Alexendoo commented on #94432
Fixed by #98609, different enough to the added test that I'll mark as needs-test. But anybody feel free to close this if we don't generally add fuzzed inputs to tests

[2022-06-29 12:52] GuillaumeGomez commented on #98658
It seems like you already suggested a fix. Want to open a PR for it?

[2022-06-29 13:05] Urgau commented on #82450
@Wyvern Sorry for the inconvenience, there is currently no way to set it because of a mistake from my part when changing a not so internal struct. I've posted a fix the cargo side https://github.com/rust-lang/cargo/pull/10799 (it should take at least a few days before being available in nightly).

[2022-06-29 13:08] Enselic commented on #98658
Yep I will do that as soon as I get time. Probably today.

[2022-06-29 13:09] GuillaumeGomez commented on #98658
It's not in a hurry. Don't hesitate to ask if you need help.

[2022-06-29 13:52] camsteffen opened #98672 "Let-else does not drop temporaries at the end of the statement"
This bug has already been identified but I wanted to open an issue for it.

The following code should print `I've been dropped` first. ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=95717efda964f173b2bb06d347148d44))

[code]

I believe there is an unanswered question: Should temporaries be dropped *before* the `else` block?

[code]

@nikomatsakis said this i

[2022-06-29 14:10] camsteffen commented on #98672
@rustbot assign @dingxiangfei2009 (I'm pretty sure you are working on this)

[2022-06-29 16:25] AaronFriel opened #98676 "Const associated items behave differently than module const declarations, "cannot evaluate destructors" error"
[I tried this code (Rust Playground link)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1b17588e165e1e8f1a628fa120d0e082)

[code]

I expected to see this happen: the declaration of BAZ and BAZ_TAKE_TWO should work, just as the declaration of BAR and the impl of SomeTrait worked.

Instead, this happened: compiler error.

Trait associated constants seem to lack some bit/fl

[2022-06-29 16:38] Rageking8 commented on #98676
@rustbot label T-compiler

[2022-06-29 16:47] ortem opened #98678 "Missing debug information about type definitions in PDB"
It seems like rustc does not generate enough information about types in PDB debug information. Particularly, the PDB IPI Stream contains invalid `LF_UDT_MOD_SRC_LINE` entries without source file information. Due to this issue, from the debugger's perspective, it is impossible to check whether a certain type corresponds to Rust source code or not. This affects both user-defined and stdlib types.

#

[2022-06-29 17:15] cherryleafroad commented on #98158
Related / dupe issues #94913 #59998
Yeah, while it is indeed an invalid ident, it shouldn't be doing an ICE on it

[2022-06-29 17:21] #65992 closed

[2022-06-29 17:24] joshtriplett commented on #66079
To clarify, we don't necessarily need to prohibit name conflicts; rather, we need to document *what* happens in that case. If what should happen is "silently shadow", we should document that.

[2022-06-29 17:29] Nekrolm opened #98679 "Heap allocation in Box optimized out with rustc 1.60 but not with 1.61+"
I tried this code:

[code]

With rustc 1.60 all Box allocations are totally optimized out.
But starting from 1.61 it doesn't happen.

[godbolt link](https://godbolt.org/z/nvob7acWW)

Possible it is the same issue as https://github.com/rust-lang/rust/issues/97751

[2022-06-29 17:30] bjorn3 commented on #66079
What about making `#![register_tool(...)]` "define" a module containing attribute macro definitions under every possible name and making `#![register_attr(...)]` "define" an attribute macro as far as name resolution is concerned. And then make it possible to publicly re-export said fake attribute macros. This way you could use `#![register_tool(xyz)]` and then `#[xyz::foo]` as consumer in case the

[2022-06-29 17:31] joshtriplett commented on #66080
We discussed this in today's @rust-lang/lang meeting, and we agreed: anything new should be scoped, and anything existing we need to support for backwards compatibility shouldn't require calling `register_tool` first, so we can just keep the hardcoding of the handful of exceptions in the compiler.

@rfcbot close

[2022-06-29 17:31] Mark-Simulacrum commented on #66079
I agree with this -- it's not obvious to me that we want these in attributes, which are harder to e.g. manage across an entire workspace. I think Manish is right in https://github.com/rust-lang/rust/pull/57921#issuecomment-457855515 that -Z attributes *can* be harder to pass, particularly on a workspace basis today, but I'm not sure that's actually the right motivation for not doing things via the

[2022-06-29 17:37] Mark-Simulacrum commented on #66151
Discussed briefly in lang backlog bonanza; we think that this no longer needs lang oversight. The remaining work here is gradually ratcheting up our checking for UB (and turning that into panics), but that doesn't need lang oversight.

[2022-06-29 17:54] joshtriplett commented on #67456
Partial stabilization in FCP at https://github.com/rust-lang/rust/pull/97522

[2022-06-29 17:54] joshtriplett commented on #67456
The remainder is blocked on #57349.

[2022-06-29 18:04] #98645 closed

[2022-06-29 18:07] scottmcm commented on #67264
One place this would be particularly useful is for `isize`, since putting a lower bound doesn't work to make it exhaustive (intentionally, as otherwise it would fail to compile on a different pointer size).  `usize` has the same problem regarding exhaustiveness (`0..=usize::MAX` doesn't work either) but we stabilized `0..` which works fine for the unsigned case.

I've untagged that E-* labels here

[2022-06-29 18:10] chorman0773 commented on #66079
I would definately like the attribute and lint controls separate.

For https://github.com/LightningCreations/lccc, I want the ability to support additional lints via its own namespace, however, the namespace is also used for attributes. Unlike, e.g. `#[rustfmt::skip]` these attributes aren't merely informative to the tool, but have actual semantics, and on lccc itself, they would be gated behind a

[2022-06-29 18:24] JohnScience commented on #67792
@joshtriplett Can you provide the link to the keyword generics issue, please?

[2022-06-29 19:10] joshtriplett commented on #91946
Unchecking my box, because I just realized this takes an `Into`, rather than just an `Error`, which precludes us from storing an error more efficiently (e.g. alternate boxes / thin boxes). I think this method should just take `E: Error + ...`.

[2022-06-29 19:51] #47178 closed

[2022-06-29 20:01] jhpratt commented on #67792
Keyword generics would supersede `~const` but not `impl const Trait`, unless I'm mistaken? `impl const Trait` still has design blockers, but I don't think it's inherently tied to keyword generics or `~const` bounds.

[2022-06-29 20:22] joshtriplett commented on #91946
@rfcbot concern into-box

[2022-06-29 21:01] bugadani commented on #98679
Interestingly, a much simpler case isn't optimized at all with either compiler version (though generated code changed between the versions): https://godbolt.org/z/5G9cP5n88

[2022-06-29 21:15] estebank commented on #98575
Furthermore, when applying the suggestion the output is

[code]

The first error should mention you might have meant `foo::X`, and the second error shouldn't be emitted.

[2022-06-29 21:23] #66451 closed

[2022-06-29 21:23] #98260 closed

[2022-06-29 21:23] #98631 closed

[2022-06-29 21:37] estebank commented on #98601
The problem is that the error happens in the lexer, not the parser. Ideally we'd rework the lexer to have a token stream mode of operation instead of a token tree mode of operation, only for code that is being passed to the parser (i.e., not coming from a macro).

[2022-06-29 22:11] xd009642 opened #98690 "Panic if invalid path used for -Z persist-doctests"
When setting the directory to persist doctests to if an UNC path is used on windows there's a segfault.

The offending setting of persist-doctests: ` --persist-doctests \?\C:\Users\danie\Documents\doc_coverage\target\doctests`. cargo-tarpaulin sets this programatically using a path it gets for the target directory from cargo-metadata. The path from cargo-metadata is an UNC path and this then cause

[2022-06-29 22:37] dtolnay commented on #98650
While this is being shaken out in https://github.com/python/cpython/issues/94399 (I agree with https://github.com/python/cpython/issues/94399#issuecomment-1169497006 &mdash; ideally this would be at most a warning, and `py` should interpret the file as if there were no shebang, which I believe already works):

Is there a different possible entrypoint with better availability across systems? https:

[2022-06-29 22:46] aliemjay opened #98693 "NLL and closures: higher-ranked lifetime bounds are not enforced in type tests"
This code compiles after https://github.com/rust-lang/rust/pull/95565 although it shouldn't: ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=d82d76384724fb7761f8cf14a79a34f8))

[code]

This is similar to #98095 in that we're not taking into account placeholder regions when "promoting" type-tests from the closure to its caller:
https://github.com/rust-lang/rust/b

[2022-06-29 22:48] aliemjay commented on #98693
I guess it would be an easy fix
@rustbot claim

[2022-06-29 23:00] mbartlett21 commented on #98314
If this ends up being done, will the type aliases in std be changed back to re-exports?

[2022-06-29 23:30] est31 commented on #98672
Originally reported in: https://github.com/rust-lang/rust/pull/93628#issuecomment-1050037021

There are also some variations of it: https://github.com/rust-lang/rust/pull/93628#issuecomment-1055738523

I've made a little test case for it that doesn't rely on printf but instead can be ran as a run-pass test:

[code]

[2022-06-29 23:32] ibraheemdev commented on #91946
@joshtriplett `io::Error::new` already takes `E: Into<Box<dyn error::Error + Send + Sync>>`

[2022-06-30 00:04] steffahn commented on #98693
The unsoundness exploitation in #98095 can easily be adapted for this issue, so it is in fact a soundness issue: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=48b83b597779c174b0f7ef8824bb5501)

[2022-06-30 00:22] est31 commented on #64797
An any/all free `cfg(accessible)` would unlock the sys crate use case: https://github.com/rust-lang/rust/issues/64797#issuecomment-706286311

And I think many more use cases don't need any combinators.

Also, one *can* support `all` at least, by making the `cfg(accessible)` feature desugar `cfg(all(foo, bar, all(accessible(a), baz), accessible(b)))` to `cfg_attr(all(foo, bar, baz), cfg_accessible(

[2022-06-30 00:53] vincenzopalazzo commented on #95943
@rustbot claim

[2022-06-30 00:56] vincenzopalazzo commented on #86868
@rustbot claim

[2022-06-30 01:20] vincenzopalazzo commented on #89064
@chansuke are you still working on this? :)

[2022-06-30 01:53] erikdesjardins commented on #98679
@bugadani that happens because println takes references to its arguments, which keeps the allocation alive. If you force a move then it is optimized out: https://godbolt.org/z/qz8n7M5jd

[2022-06-30 01:54] erikdesjardins commented on #98679
Since this starts getting optimized in 1.59 and stops in 1.61, it is likely #92419, which landed in 1.59 and was reverted in 1.61. (see issues linked in #94823 for more info)

[2022-06-30 02:12] dtolnay opened #98697 "Rustdoc shows broken anonymous lifetimes on re-exported signatures"
[code]

[code]

[code]

[code]

The correct behavior is for both crates' docs to render `repro` as:

<img src="https://user-images.githubusercontent.com/1940490/176577639-bd3508ac-5d84-463f-8987-c57af472dbc0.png" height="100">

However, recent versions of nightly rustdoc render `foo::repro` as the above, while rendering `repro::repro` incorrectly as:

<img src="https://user-images.githubuserconten

[2022-06-30 02:13] dtolnay commented on #98697
### Bisect:

[code]

bisects to 10f4ce324baf7cfb7ce2b2096662b82b79204944 in nightly-2022-06-23 (https://github.com/rust-lang/rust/pull/98279 &mdash; @cjgillot @petrochenkov)

[2022-06-30 02:19] dtolnay commented on #98697
Example affecting the standard library docs:

- `alloc::collections::BTreeMap::retain` not affected. https://doc.rust-lang.org/beta/alloc/collections/btree_map/struct.BTreeMap.html#method.retain

    <img src="https://user-images.githubusercontent.com/1940490/176578691-e2e7b25b-6ad2-4b8a-834e-12bcc7a391b0.png" height="100">

- `std::collections::BTreeMap::retain` broken. https://doc.rust-lang.org/

[2022-06-30 02:35] sunfishcode opened #98699 "Tracking Issue for std::os::fd"
Feature gate: `#![feature(os_fd)]`

This is a tracking issue for the `std::os::fd` module, which is currently defined on
both Unix and WASI , and contains `OwnedFd`, `BorrowedFd`, `RawFd`, `AsFd`,
`AsRawFd`, `IntoRawFd`, and `FromRawFd`.

### Public API

The types and traits are the same as those already defined in `std::os::unix::io`
and `std::os::wasi::io`. This PR is just introducing a new alia

[2022-06-30 02:46] DylanRJohnston-FZ commented on #48067
@Wandalen life saver!. I ran into this issue trying to write a macro that adds `to_owned()` to every field of a struct.

[code]

[2022-06-30 03:21] dtolnay commented on #98650
From the discussion on the cpython issue it sounds like this is already fixed in the upcoming Python 3.11's `py` launcher. The release is scheduled for October 2022.

We can decide whether to revert our x.py change until October. I am hesitant because it would involve re-breaking the Linux and macOS users, while Linux distributions (since 2020) and macOS upgrades (since October 2021) are deleting

[2022-06-30 03:22] AngelOnFira commented on #98260
Thanks for your work @yanchen4791!

[2022-06-30 03:49] CAD97 opened #98700 "`rustc -C help` panics (ICEs) when piped to a closed stdout"
### Code

[code]

After more testing, this only reproduces consistently under cmd, as other Windows shells have diverging behavior about what it means to close a pipe via program termination 🙃

`rustc --help | cmd /c exit` *does not* panic, but this appears to be not because of rustc doing anything different, but because `rustc` finishes writing to stdout before it is closed.

### Meta

Note: neve

[2022-06-30 03:50] #94432 closed

[2022-06-30 03:50] #68875 closed

[2022-06-30 03:50] #96552 closed

[2022-06-30 03:50] #98658 closed

[2022-06-30 05:02] irelativism commented on #93157
@programmerjake  pong?

[2022-06-30 05:08] CAD97 commented on #98650
[§ 4.8.4.1 Customization via INI files](https://docs.python.org/3/using/windows.html#customization-via-ini-files) provides a workaround: `py.ini` can be used to specify that a `bash` shebang should instead run {insert executable}. Unfortunately for us at least, `py.ini` is loaded from `%LOCALAPPDATA%` and the same directory `py.exe` is in (e.g. `C:\Windows` with a default install), so we can't jus

[2022-06-30 05:34] CAD97 commented on #98700
@rustbot label +O-Windows

[2022-06-30 06:43] Nemo157 commented on #64797
`not` would be needed if you were doing something like providing a polyfill when the feature is not available.

[2022-06-30 07:06] Dylan-DPC commented on #98608
marking it as critical based on the [prioritisation group discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398608.20Function.20type.20with.20opaque.20return.20type.20can.20be.20coerced.E2.80.A6)

[2022-06-30 07:09] thomcc commented on #64797
Yeah, `not` seems extremely important to me, and hard to work around its absence. Lack of `any`/`all` could definitely be worked around, though, just it would be tedious.

[2022-06-30 07:41] ChrisDenton commented on #98700
This is a consequence of using the print series of macros. They ignore `ERROR_INVALID_HANDLE` errors but otherwise they're designed to panic on I/O errors.

The panic could be handled in a global `catch_unwind`. Or by using `writeln!` and handling the error in place.

[2022-06-30 07:46] 497e0bdf29873 opened #98702 "GAT crash"
The compiler crashes with an internal error on the following MWE of a GAT workaround attempt to current const generics limitations, i.e., not being able to just do `{N*N}` (or rather `pow(2, N)` in my real code). There is no crash if `T` is fixed to some type, i.e, GATs are not needed, however, the idea would be to limit “trait bound bloat” by only having to repeat `NodeLookup : NodeT<N>` througho

[2022-06-30 08:15] m-ou-se commented on #64797
I'm not sure I agree that's a good use case for this feature. Using cfg(accessible) for that quickly results in hard-to-maintain code that changes behavior depending on whether a symbol exists, without any checks for typos or signatures. There would be all kind of very implicit contracts between crates, similar to what we'd have if we relied on duck-typing everywhere instead of well defined traits

[2022-06-30 08:29] time-killer-games commented on #60560
I know this issue is years old, but since i found something that works a bit more reliably than relying completely on argv[0], i thought I'd share it. The code logic will basically be the same for whatever the Rust equivalent is for my C++ code: https://github.com/time-killer-games/libfilesystem/blob/21610b6311df80cbce75a8bfce61d99463c8936e/filesystem.cpp#L541-L591

Or if you want to somewhat accu

[2022-06-30 08:30] Rageking8 commented on #98702
@rustbot label +requires-nightly

[2022-06-30 08:35] m-ou-se commented on #64797
Ideally, something that interacts well with our type and trait system, with where-clauses. E.g. an `impl GetLoadAvg for System`, such that a function with a `where System: GetLoadAverage` can call `System::getloadavg()`. Then it can also be type checked properly on all systems, instead of only on those where the cfg()s are enabled. That'd also prevent a lot of the cases where we accidentally break

[2022-06-30 08:45] thomcc commented on #64797
I also have noted [in the past](https://github.com/rust-lang/rust/issues/32976#issuecomment-990468220) that `cfg(accessible)` can seem like the right solution to a problem, but passing the wrong argument to accessible might end up with the code not running when expected. It's certainly a problem.

I also agree something like what I suggested probably wouldn't be the right fit for use inside libstd

[2022-06-30 08:46] joshtriplett commented on #64797
@m-ou-se I think we should document the implications of potential `accessible` patterns, and in particular, document the `pub use std::...` approach as not necessarily compatible with semver.

[2022-06-30 09:08] jplatte commented on #64797
As some anecdata that this kind of thing is always hard and requires getting many details right:

1\. A number of years ago, when working with C++, I wanted to use its `std::optional` type but it wasn't available in all GCC / clang versions people were using to build / work on this codebase. I used the shiny new `__has_include` mechanism, plus a fallback for when *that* wasn't available or none of

[2022-06-30 09:11] apiraino commented on #98608
Correct link for WG-prioritization [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.E2.9C.94.20.2398608.20Function.20type.20with.20opaque.20return.20type.20can.20be.20coe.2E.2E.2E)

[2022-06-30 09:20] #98599 closed

[2022-06-30 09:27] Dylan-DPC commented on #98604
Marked p-medium as per [zulip triage discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398604.20Broken.20Mir.20Resulting.20From.20Async.20Function.20Pointer.20Cast)

[2022-06-30 09:38] apiraino commented on #98604
Link for WG-prioritization [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.E2.9C.94.20.2398604.20Broken.20Mir.20Resulting.20From.20Async.20Function.20Pointer.2E.2E.2E)

[2022-06-30 10:02] apiraino commented on #98629
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398629.20evaluation.20error.20hides.20.22impl.20item.20missing.22.20error)).

The missing diagnostic message in this case can possibly make fixing the code *quite* confusing.

@rustbot label -I-prioritize +P-high

[2022-06-30 10:31] Alexendoo commented on #97047
No longer ICEs since #98669 (perhaps due to #98499?)

[2022-06-30 10:39] m-ou-se commented on #98699
Is *"OS's that use fds"* anything other than just "Unix and Wasi"? How close is Wasi to Unix? Would we treat Wasi similar to Unix in other situations too?

[2022-06-30 10:43] xd009642 commented on #98690
The lack of ICE is definitely nicer, but this still won't handle UNC paths on windows will it? Which is the main issue I personally have with the code

[2022-06-30 10:45] pinkforest commented on #98690
That's a problem for std::fs::create_dir_all(&path) me thinks has to be fixed there

[2022-06-30 10:51] pinkforest commented on #98690
Actually, yes it would be great to raise another issue targeting std::fs::create_dir_all - as it is wider issue. you are right. Thanks!

[2022-06-30 10:56] the8472 commented on #98690
We call those [verbatim paths](https://doc.rust-lang.org/std/path/enum.Prefix.html) and they have to start with `\\?\`, not `\?\`.
So isn't this an issue with the tool generating an incorrect argument?

[2022-06-30 11:01] xd009642 commented on #98690
So the paths are weirding me out (I normally only use linux), because they seem to sometimes print differently given different display methods. It shows up as `\\?\` printing the path in my rust code before making the env var, and if I print the rustdocflags I'm setting it's correct. But if I do `path.starts_with(r#"\\?\");` it returns false, I have to do `.display().to_string().starts_with(r#"\\?

[2022-06-30 11:14] pinkforest commented on #98690
@xd009642 do you mind changing title s/UNC/invalid/ to address the panic on this issue, thanks! :)

[2022-06-30 11:15] pinkforest commented on #98690
@xd009642 also please remove s/on windows// thanks a lot :+1:

[2022-06-30 11:15] xd009642 commented on #98690
Done, and I realised what was wrong with the path, it's correct in the code, it's just when it got set into the environment variable it seems it needed the first slash to be escaped and that caused the invalid path

[2022-06-30 11:34] shepmaster commented on #64797
Would adding a `#[cfg(stable)]` help in conjunction?

[2022-06-30 12:08] #98156 closed

[2022-06-30 12:50] spital commented on #98664
Again, I am not sure if this may be a problem or if I am doing something wrong, please kindly check.

Tested with a MacBook Pro 2020, error reported by valgrind.

[code]

### Install valgrind first

[code]

## Test

I just cloned rust repo and copied config.toml.example -> config.toml

[code]

[code]

[2022-06-30 13:27] WaffleLapkin commented on #97762
It seems like the same thing happens to rustfmt: `x b rustfmt` doesn't include rustfmt as part of the built rust toolchain, meaning that `rustfmt +custom-toolchain` doesn't work.

[2022-06-30 13:52] lcnr opened #98711 "incorrect resolutions for type dependent paths in struct expression"
[code]
stores the following resolution for `Self::Output` via `fn write_resolution`:

[code]

the `node_substs` for `Self::Output` are however empty. This makes the stored resolution completely useless as there isn't really a way to go from `Foo::Output` to `Type<T>::Output` which is what we actually need.

We should probably store `<Foo as Type<T>>::Output` instead. This happens here https://gith

[2022-06-30 14:08] Will-Low opened #98712 "Code coverage misses `.await` lines"
I tried running the LLVM code coverage report against this code using `cargo llvm-cov`:

[code]

I expected this to result in 100% code coverage.

Instead, the `.await` on line 3 is considered not covered:
![Code Coverage](https://user-images.githubusercontent.com/26700668/176689358-95b25efc-94c1-4175-8cb0-8624d6002c79.jpg)

### Meta
[code]

[2022-06-30 14:43] Nemo157 commented on #64797
`cfg(accessible)` is supposed to obey stability itself (but [doesn't currently](https://github.com/rust-lang/rust/issues/72011)), but that doesn't help with code written assuming an unstable API will be stabilized without any changes. That part of the RFC also specified:

[2022-06-30 14:50] ChrisDenton commented on #98650
Btw, I feel like I mentioned the failure mode in the OP on the original PR but perhaps I wasn't clear enough.

[2022-06-30 14:55] steffahn commented on #98589
I haven’t more thoroughly tested it, but adding `(): Dummy<'a>` bounds for all early-bound lifetime arguments of a function for a trait
[code]

as in:
[code]
seems to “fix” the problem (of incorrectly accepting this function). If code after this transformation does indeed behave as desired, all that would be necessary is to identify what needs to be changed so it behaves *as if* such a dummy trait

[2022-06-30 15:00] estaban opened #98719 "lifetime bound when returning impl Trait is not considered"
Lifetimes bounds added to returned `impl Trait` does not seem to be considered by the compiler.

Example: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=02f184ddb3ce9d04c049c93c9d8b25b5

I would expect the above example to compile: `wrap` is defined to return a `'static` Future, so why is the compiler saying that it should have the same lifetime as `&self` ?

The issue doe

[2022-06-30 15:04] kpreid commented on #47851
Would it be reasonable to add a special signal to `Clone`'s expansion which doesn't count it as a construction of the struct? Precedent is the way that `Debug` now does not cause struct fields to count as _read_ for dead code analysis.

(I just hit this bug today, and it briefly gave me worries of “is my file not being compiled? I should get a warning”. Extra keywords for search: “struct is never

[2022-06-30 15:22] dtolnay commented on #98650
I think this is an oversimplification; we regularly put responsibility on existing contributors. If an existing contributor's muscle-memory workflow breaks, most of them will not quit the project over it. They will look somewhere for guidance. The next step in this issue is figuring out *where* they look for guidance (probably directly in x.py, first), and putting guidance there.

[2022-06-30 15:55] WaffleLapkin opened #98720 "`x check --stage 1 std` doesn't work"
For me currently `x b --stage 1 library/std` works fine, while `x c --stage 1 library/std` with **a lot** of errors related to `core` not being found.

This is the commit that I'm trying to check: https://github.com/rust-lang/rust/pull/98705/commits/c68cd2fa2ec4e3c542b8357596fac61575c842d4

I had the same problem previously too, but it usually solves magically after rebase / `x clean` / etc. Howev

[2022-06-30 16:02] alice-i-cecile opened #98721 "Documentation for `ExactSizeIterator` does not make clear that `len()` should change with iteration"
Reading between the lines on [`ExactSizeIterator`](https://doc.rust-lang.org/stable/std/iter/trait.ExactSizeIterator.html#) (and investigating other implementations), it appears that the value of the returned `len()` should change as iteration occurs.

This is very subtle, and was missed by our entire team, see https://github.com/bevyengine/bevy/issues/5149.

This information should be discussed p

[2022-06-30 16:09] alice-i-cecile opened #98722 "This repository has no issue template for documentation problems"
This is unfortunate because:

1. It gives the impression that documentation fixes should not be submitted here, or are not welcome.
2. It prevents you from gathering commonly requested information (link to docs, rust version number, suggested fixes) in an automatic fashion.
3. It prevents automatic labelling for documentation-relevant issues.

To fix this, [add a new issue template](https://github

[2022-06-30 16:12] Rageking8 commented on #98719
@rustbot label C-bug T-compiler

[2022-06-30 16:14] thomcc commented on #64797
It being technically allowed doesn't really mean we can ignore the concern, since if it breaks a large number of crates it still becomes a concern, as it can prevent people from updating.

[2022-06-30 16:15] Rageking8 commented on #98721
@rustbot label A-docs

[2022-06-30 16:17] Rageking8 commented on #98722
@rustbot label A-meta

[2022-06-30 16:46] wesleywiser commented on #98650
In general, I agree with this point and I'm also frustrated when my workflows are interrupted so I definitely empathize. We should absolutely strive to minimize workflow changes to project contributors!

At the same time, it should probably be noted that at no point (from what I can see) have we ever told people to run `py x.py` on Windows-msvc (I have no knowledge of Windows-gnu and never use it)

[2022-06-30 17:10] yanchen4791 opened #98726 "Missing dyn keyword in bare_trait_objects with Rust 2015 edition produces faulty error instead of warnings"
### Code
I tried this code with `edition = "2015"`:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=40892217ad5a83b67570be18e19a43c4

I expected to see only warning without error, like this:
[code]
Instead, this happened (extra error E0521 emitted, which is incorrect):
[code]
If I add `dyn` in line 3, it compiles without any error or warning:
[code]
So the E0521 err

[2022-06-30 17:39] jyn514 opened #98728 "Fix hack for `test --stage 0 --doc std`"
In https://github.com/rust-lang/rust/pull/95993 I added a hack to bootstrap that special-cased sysroot handling for doctests. Since https://github.com/rust-lang/cargo/issues/10560 has been merged, we can remove the hack - I think just reverting the PR should still work, although you should test locally.

[2022-06-30 17:43] Rageking8 commented on #98726
@rustbot label A-diagnostics

[2022-06-30 17:44] InfRandomness commented on #98728
@rustbot claim

[2022-06-30 17:53] yanchen4791 commented on #98726
@rustbot labels: +regression-from-stable-to-nightly

[2022-06-30 17:54] steffahn commented on #98726
@rustbot label -regression-untriaged

Bisection:
regressed nightly: nightly-2022-06-23
searched commit range: https://github.com/rust-lang/rust/compare/dc80ca78b6ec2b6bba02560470347433bcd0bb3c...10f4ce324baf7cfb7ce2b2096662b82b79204944
regressed commit: https://github.com/rust-lang/rust/commit/10f4ce324baf7cfb7ce2b2096662b82b79204944

that’s #98279, cc @cjgillot

[2022-06-30 17:57] CAD97 commented on #98700
rustc explicitly chooses to override the startup code (which installs a SIGPIPE handler of SIG_IGN) and reinstall a handler of SIG_DFL:

https://github.com/rust-lang/rust/blob/7f08d04d60d03e1a52dae61ce6aa50996898702b/compiler/rustc_driver/src/lib.rs#L433-L440

This means that rustc halts via SIGPIPE on POSIXy platforms and a broken pipe. To match this behavior on non-POSIX platforms, rustc should

[2022-06-30 18:05] target-san commented on #62290
The first thing is a closure which returns parameterless async block.
The second one is the actual async closure.

[2022-06-30 18:09] steffahn commented on #98726
Here’s another kind of code example that reproduces the issue
[code]

[2022-06-30 18:11] CAD97 commented on #98650
Here's I think a near-full summary of the Windows behavior as it currently exists:

## Before (`#!/usr/bin/env python`)

- `./x.py` (pwsh; `x.py` in cmd) works iff an ftype handler has been registered for `.py`; this is the case if the “full installer” was used, or if the msstore python was used and a default “Open With” has been manually set to a python interpreter.
- With a “full installer” pyth

[2022-06-30 18:16] mqudsi commented on #93083
There's an alternative approach C that might (or might not!) be considered cleaner, which is to manually lift your doc comments to doc attributes then left them again via `cfg_attr` to be contingent on the presence/absence of a feature.

The approach [I have been using](https://github.com/neosmart/prettysize-rs) to include a doctest if feature `std` is present and exclude it otherwise:

[code]

wh

[2022-06-30 18:28] clarfonthey commented on #67792
Keyword generics are currently tracked here: https://rust-lang.github.io/keyword-generics-initiative/

[2022-06-30 18:34] jonhoo opened #98735 "Regression in 1.62.0 with macro exports in doctests"
### Code

I tried this code (in a crate called `foo`):

[code]

and run

[code]

I expected to see this happen: the doctest passes

Instead, this happened: the doctest fails to build with

[code]

### Version it worked on

It most recently worked on: Rust 1.61.0

### Version with regression

`rustc --version --verbose`:
[code]

### Notes

It works if I add `#[macro_export]` above the `macro_rules!

[2022-06-30 18:43] CAD97 commented on #98650
Actually, I first blamed nushell 🙃 It was only after someone else prompted me that I checked in pwsh and realized the error was not coming from the shell and then went to check `x.py` and spotted the changed shebang.

However, even though the contributing guidelines say to run `python ./x.py`, using `py` *is* generally understood as the proper way to launch python on Windows[^1], the same way a un

[2022-06-30 18:53] wesleywiser commented on #98678
Interesting! It looks like we generate a `LF_UDT_SRC_LINE` ([godbolt example](https://rust.godbolt.org/z/7jTf33j34)) but the line number and source file are both wrong. That happens in [LLVM](https://github.com/llvm/llvm-project/blob/d64ba896d3762241b6ebf004ae88b33cb991a575/llvm/lib/CodeGen/AsmPrinter/CodeViewDebug.cpp#L2192-L2210).

The [PDB source implies](https://github.com/llvm/llvm-project/bl

[2022-06-30 19:11] steffahn commented on #98735
On my machine, on `1.61` or older it doesn’t appear to be running the doctest ***at all*** (i.e. it says `running 0 tests`, and the test could just as well be completely invalid code, or unconditionally failing); does that mirror what you’re observing?

[2022-06-30 19:17] jonhoo commented on #98735
Oh, yes, good catch, that's what I observe on 1.61 and before too.

[2022-06-30 19:50] Kixunil commented on #93083
@mqudsi cool trick! `rustfmt` issue seems to be good enough reason to support gating in language though.

[2022-06-30 20:15] jyn514 commented on #98735
Duplicate of https://github.com/rust-lang/rust/issues/97030

[2022-06-30 20:15] #98735 closed

[2022-06-30 20:33] AndyGozas commented on #96374
I really don't think that the name should be any different from what it is in most other languages. If ```throw``` is changed to ```yeet``` then the only next step would be to use ```yoink``` instead of ```catch``` when that keyword comes up, but naming more and more things with what's essentially slang terms, raises the entry bar for the Rust language, especially for those who don't use English a

[2022-06-30 20:34] M1cha opened #98740 "Generators should be able to yield references to local variables"
Consider this:
[code]

Currently, this causes:
error[[E0515]](https://doc.rust-lang.org/nightly/error-index.html#E0515): cannot yield value referencing local variable `buf`

I don't see a reason why the compiler couldn't track that lifetime like it does when returning references to `self`  from synchronous functions. As long as you want to use the return value, you'd simply not be allowed to call

[2022-06-30 20:38] Enselic commented on #93588
With latest nightly I do not get any ICEs any longer.

So I think we can close this issue now, right?

[2022-06-30 20:38] CAD97 commented on #98700
<details><summary><code>--help</code></summary>

https://github.com/rust-lang/rust/blob/7425fb293f510a6f138e82a963a3bc599a5b9e1c/compiler/rustc_driver/src/lib.rs#L1020-L1026

https://github.com/rust-lang/rust/blob/7425fb293f510a6f138e82a963a3bc599a5b9e1c/compiler/rustc_driver/src/lib.rs#L759-L791

https://github.com/rust-lang/getopts/blob/c11eb65097d0dc9fe9ceb351d63c3ac8b5f05e0b/src/lib.rs#L586-L5

[2022-06-30 20:59] jonhoo commented on #97030
Carrying over from https://github.com/rust-lang/rust/issues/98735, this should be marked as `regression-from-stable-to-stable`. If it is indeed intended breakage, it should be added to the compatibility notes for the 1.62.0 release so that those adopting the new release understand why things broke and how to fix it.

[2022-06-30 21:00] jonhoo commented on #98735
@jyn514 I left a comment over there. I think we should make sure to update the changelog with a note about this change then, and sooner rather than later since 1.62.0 is now out.

[2022-06-30 21:09] steffahn commented on #97030
@rustbot label regression-from-stable-to-stable, -regression-from-stable-to-nightly

[2022-06-30 21:16] jyn514 commented on #98735
I'm not the one who approved the PR. Anyone is welcome to submit a change to the release notes.

[2022-06-30 21:28] compiler-errors commented on #98740
I think this is exactly why this is an issue. Generators just lower down to special objects that implement the `Generator` trait -- there's no way to express this lifetime relationship, since the yield type of a generator cannot capture the lifetime of the `self` passed in.

[2022-06-30 21:45] oldgalileo commented on #52393
The `include_str!` macro seems related, but I'm curious if there's been any work unlinked here that enables the usage of a `const _: &str` in an attribute yet?

[2022-06-30 22:06] i509VCB opened #98743 "Rustdoc macro visibility regression"
### Code

When updating the clippy lints in Smithay I found that one of the doc tests no longer compiles in CI: https://github.com/Smithay/smithay/runs/7139965884?check_suite_focus=true

A minimal example also reproduces this:

I tried this code and ran `cargo test`:

[code]

I expected to see this happen:

Test completes successfully.

Instead, this happened:
[code]

### Version it worked on

It

[2022-06-30 22:18] steffahn commented on #98743
This doc test used to be not executed at all. This is an intentional change, however it's unfortunately missing in the release notes. See #92630.

[2022-06-30 22:25] ehuss commented on #98720
It's not really clear to me how #81064 was supposed to work, but commenting out [this line](https://github.com/rust-lang/rust/blob/7425fb293f510a6f138e82a963a3bc599a5b9e1c/src/bootstrap/check.rs#L104) makes it work for me.

[2022-06-30 23:50] mati865 commented on #94390
Pinging Serde maintainer @dtolnay

Would it be feasible to apply such change to Serde?

[2022-07-01 00:05] glandium opened #98746 "Broken debug info with 1.62.0"
Building Firefox with rustc 1.62.0 on Linux and running it under valgrind makes valgrind emit the following error:
[code]
As of filing, I don't have more information to share yet, but I thought I'd already file it before starting to investigate it next week.

[2022-07-01 00:23] aordano commented on #98746
I am unfamiliar with Valgrind, but i updated a couple hours ago and i can't get LLDB to display local variables while debugging. Maybe related? It worked perfectly fine before the updated and i didn't change anything else.

Tried common fixes, resetting, etc.

[2022-07-01 02:22] CAD97 commented on #97030
PR to add it to a rustdoc section: https://github.com/rust-lang/rust/pull/98749

[2022-07-01 02:35] shkoo commented on #97919
Is "B" specified by relative path?  It doesn't look like you included your Cargo.toml.

If it's specified by relative path my #98185 might be a duplicate of this issue.

[2022-07-01 03:00] YaLTeR opened #98750 "Beta 1.63 breaks calloop 0.4.4 build"
### Code

I tried this code: https://github.com/Smithay/calloop/tree/v0.4.4 `cargo check`

I expected to see this happen: successful build

Instead, this happened: build fails on the new beta (1.63)

[code]

### Version it worked on

It most recently worked on: Rust 1.62

### Version with regression

`rustc --version --verbose`:
[code]

@rustbot modify labels: +regression-from-stable-to-beta -regr

[2022-07-01 03:03] jyn514 commented on #98743
This is a duplicate.

[2022-07-01 03:03] #98743 closed

[2022-07-01 03:43] pinkforest opened #98751 "compiletest: only-linux header ignored"
Whilst working on https://github.com/rust-lang/rust/pull/98708 to fix https://github.com/rust-lang/rust/issues/98690
It seems that `// only-linux` header is ignored in rollup CI for some reason for windows-msvc task that should not execute the test
`auto (x86_64-msvc-1, --build=x86_64-pc-windows-msvc --enable-profiler, make ci-subset-1, windows-... `

I expected all the non-linux tasks to ignore t

[2022-07-01 03:55] pinkforest commented on #98751
This is bors issue, please ignore.

[2022-07-01 03:55] #98751 closed

[2022-07-01 05:08] workingjubilee commented on #97540
This issue only dubiously shows a codegen regression. If it is, it does not show it is a performance impact in practical cases, as it is still very few instructions and then a simple `ret`. This requires a benchmark to show what we are actually trying to improve on, or comparison for multiple values, not just the zero cases.

[2022-07-01 05:27] alexschrod commented on #87517
I don't know if this is the right place to ask, but why is it that

? I feel like a more natural behavior would be to behave like `#[derive(Default)]` behaves in every other context; which is that
[code]
will only be `Default` when `T: Default` and its value will be `Foo(T::default())`. That is to say,
[code]
would only be `Default` when `T: Default` and its value would be `Error::Message(T::defau

[2022-07-01 05:37] ChayimFriedman2 commented on #50990
This is "fixed" on nightly thanks to [`explicit_generic_args_with_impl_trait` stabilization](https://github.com/rust-lang/rust/pull/96868).
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e43997ce75350ad49e6fc177eb75a37b

[2022-07-01 05:37] workingjubilee commented on #97540
An alternative would be experimenting more with this in context of other code we expect it to live in, because LLVM eagerly inlining can make problems go away, as cited here: https://github.com/rust-lang/rust/issues/91447#issuecomment-1059840995

Small functions like this, in particular, will tend to be inlined by any backend, precisely because Rust functions are not made external by default. Thus

[2022-07-01 07:16] FrostKnight commented on #93157
I hope they aren't doing nothing, because they intend to sue people/organizations that modify it after getting permission because they dislike said projects and want them to fail...

This, I say because, trademarks do not prevent people from abusing their power to do evil stuff that the owners forbid.

One might say, that copyright only hurts those who want to do things by the law and not those th

[2022-07-01 07:33] hgy59 commented on #97255
fixed with rust 1.62.0

[2022-07-01 07:33] #97255 closed

[2022-07-01 08:01] apiraino commented on #98750
bisection points to commit 10f4ce324baf7cfb7ce2b2096662b82b79204944 from #98279 cc @cjgillot

searched nightlies: from nightly-2022-04-01 to nightly-2022-07-01
regressed nightly: nightly-2022-06-23
searched commits: from https://github.com/rust-lang/rust/commit/dc80ca78b6ec2b6bba02560470347433bcd0bb3c to https://github.com/rust-lang/rust/commit/10f4ce324baf7cfb7ce2b2096662b82b79204944
regressed co

[2022-07-01 08:55] apiraino commented on #98726
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398726.20Missing.20dyn.20keyword.20in.20bare_trait_objects.20with.20Rust.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-07-01 09:00] apiraino commented on #98616
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398616.20Nightly.20regression.3A.20ndarray.200.2E9.2E1.20stops.20compiling.3A.20t.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-07-01 09:41] aDotInTheVoid commented on #93588
Probably worth adding a test first

@rustbot label +E-needs-test

[2022-07-01 09:51] erenon commented on #77143
Is there a workaround for this issue, short of removing the offending Add implementations? (as they can be in dependencies. e.g: I'm unable to add prometheus_client, as it breaks other code in the project)

[2022-07-01 09:56] m-ou-se commented on #87517
@alexschrod How about these cases?

[code]
Does that require only `A: Default`? Or also `B: Default`?

How about this?
[code]

Does that require `T: Default` or `Option<T>: Default`?

[2022-07-01 10:27] voidc commented on #98702
Minimized:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1444eedab2d00ece8390f7014abc8716)

[2022-07-01 10:54] cjgillot commented on #98750
Will be fixed by a backport of https://github.com/rust-lang/rust/pull/98637

[2022-07-01 11:09] #46511 closed

[2022-07-01 11:09] #98598 closed

[2022-07-01 11:09] #98697 closed

[2022-07-01 11:09] #98721 closed

[2022-07-01 11:23] lcnr commented on #98711
this is needed to resolve the following fixme
https://github.com/rust-lang/rust/blob/7e2733bb1dd9afe5fd20370ca4d539d42ac50419/compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs#L738-L754

[2022-07-01 11:24] m-ou-se commented on #98650
Wouldn't it be easier to just add a separate `x.bat` for Windows? (Or whatever other file extension and script language works out of the box on Windows.)

[2022-07-01 11:43] pickfire opened #98759 "Rustdoc reduce search rank for deprecated items"
When user search `radix` the non-const which is deprecated rank higher than the non-deprecated version.

![image](https://user-images.githubusercontent.com/4687791/176887397-4f2c6a53-6a00-40d4-b97f-e5d52e6321f3.png)

Would be nice to reduce rank of deprecated items in search, it appears on the first result.

It would be better if the search result show that the item is deprecated in favor of somet

[2022-07-01 12:03] fee1-dead opened #98760 "Wrong suggestion when calling extension methods on `Box<dyn Trait>`"
Given the following code: [<sup>Play!</sup>](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f822db791eded317d69544745889930f)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-07-01 12:37] Enselic commented on #93588
Regarding the [E-needs-test](https://github.com/rust-lang/rust/labels/E-needs-test) label: I'm not sure what more tests to write? All relevant ICE fixes has already added regression tests to the best of my knowledge. Notably:
* https://github.com/rust-lang/rust/pull/98577
* https://github.com/rust-lang/rust/pull/98053

[2022-07-01 13:18] taladar opened #98762 "Test runner filtering does not handle r# based module names (e.g. r#async)"
I have some code in my project similar to the following (the r#async part is the same)

[code]

and tried to run a test in this module using the r# based name selectively since the other tests in the project take a long time.

[code]

or

[code]

I expected to see this happen: running of 1 test

Instead, this happened: running of 0 tests

### Meta

`rustc --version --verbose`:
[code]

[2022-07-01 13:55] #72793 closed

[2022-07-01 13:55] #98492 closed

[2022-07-01 14:27] pro465 commented on #98750
ahh, the usual logic bugs. i hope they dont make it into beta or, even worse, stable in future

[2022-07-01 15:14] haraldh opened #98768 "RUSTFLAGS="-Z cf-protection=full" gives prologue in naked functions for x86_64-unknown-none"
I tried this code:

[code]

I expected to see this happen:

no `endbr64` prologue in `_hlt` naked function.

[code]

Instead, this happened: an unwanted `endbr64` prologue in a naked function

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-01 15:14] haraldh commented on #93754
one issue:
https://github.com/rust-lang/rust/issues/98768

[2022-07-01 15:28] kadiwa4 opened #98769 "HTML Documentation doesn't load locally-saved fonts in macOS Safari"
When viewing locally-saved documentation (`file:///`), rustdoc's output website isn't able to load in any of the woff2 fonts. Since #96279 removed the woff versions of the fonts, the browser defaults to other fonts, and it turns out Times and Menlo don't look great in combination.
Update: since #115904 (1.75.0), the bold version of Source Serif 4 is now used.

Version: macOS 12.4 / Safari 15.5 (st

[2022-07-01 15:48] haraldh commented on #98768
CC @npmccallum

[2022-07-01 16:19] asquared31415 commented on #48121
Currently in 1.62.0 stable the output is now
[code]

However that suggestion is still wrong, and applying it will cause an error with regards to type inference which will lead you down a path that won't work.  The ideal suggestion is to put the `.as_ref()` before the `.unwrap()`.

[2022-07-01 16:57] asquared31415 commented on #21590
This cannot be made an error specifically with raw pointers because it may be okay.  The following code is valid (though odd):
[code]
Of course, transmuting between pointers should not be done, in favor of `.cast` or `as`, and Clippy will tell you this, but it's perfectly valid because the pointer is a pointer to the whole array and can be used to access more than just one u8.

[2022-07-01 17:44] haraldh commented on #98768
somehow this does not happen with the x85_64-unknown-linux-gnu target

[2022-07-01 18:17] JanBeh commented on #91004
See also Christopher Durham's attempt to define a smart pointer [here](https://users.rust-lang.org/t/smart-pointer-which-owns-its-target/77686/15?u=jbe).

[2022-07-01 18:19] CAD97 commented on #91004
A bit more complete; here's how I currently lean towards defining a "smart pointer:"

[code]

Details are of course extremely fungible, but the main idea is that a "smart pointer" is "raw pointer + smarts," so it should be defined by conversions into/from a raw pointer.

[2022-07-01 18:24] compiler-errors commented on #95230
This is fixed with @jackh726's PR. Marking as needs test.

[2022-07-01 18:25] apiraino commented on #98750
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398750.20Beta.201.2E63.20breaks.20calloop.200.2E4.2E4.20build)).

@rustbot label -I-prioritize +P-critical

[2022-07-01 18:52] jackh726 commented on #95230
wait huh

really? Which PR? The one open?

[2022-07-01 18:52] jackh726 commented on #95230
Oh, I guess the TypeOutlives -> WellFormed.

Neat.

[2022-07-01 18:54] alexschrod commented on #87517
It makes sense that for a `struct` all the generic types must be `Default`, but for an `enum`, it only makes sense to require the one(s) involved in the `#[default]` value to be `Default`. Which makes the answer obviously `A` only, in the first case. For the second case, the "ideal" answer is `Option<T>`, but since `#[derive(Default)]` seems to not have a lot of existing finesse with structs (`str

[2022-07-01 19:11] scottmcm commented on #87517
Because `derive(Debug)` works totally differently from ever other derive when generic parameters are involved.  (This was discussed in the FCP a bunch.)

Since it's not using the "we put the bound on all the generic parameters" approach, this is a great future-proofing until it's decided whether it should ever do anything else.

Maybe we'll one day get "perfect derive" (https://smallcultfollowing.

[2022-07-01 19:40] RalfJung commented on #96152
@nikic that's amazing. :-)
Looks like your patches have all landed by now?

[2022-07-01 20:01] CAD97 opened #98777 "min_specialization: cannot specialize on `Binder(ProjectionPredicate(..))`"
Given the following code:  [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d6402d21a1ad4e732154a879f9207bb4)

[code]

The current output is:

[code]

Ideally the output should not reference the debug format of an internal type 🙂

@rustbot modify labels +F-specialization +A-specialization +requires-nightly

[2022-07-01 20:08] dpaoliello commented on #93842
@rustbot claim

[2022-07-01 20:14] #93117 closed

[2022-07-01 20:14] #96076 closed

[2022-07-01 20:14] #96258 closed

[2022-07-01 20:14] rust-highfive opened #98779 "`miri` no longer builds after rust-lang/rust#98767"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98767, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-01 20:25] dpaoliello commented on #58713
@rustbot claim

[2022-07-01 20:28] dpaoliello commented on #58713
Hi everyone, I'm going to be picking up from where Richard left off on stabilizing this.

It looks like the only two remaining issues are the ones that Richard mentioned above (#93842 and #96534).

Additionally, it seems like there may be some pre-existing incompatibilities between the GNU and LLVM toolchains that are probably out-of-scope for this feature?

[2022-07-01 20:29] dpaoliello commented on #96534
@rustbot claim

[2022-07-01 20:31] workingjubilee commented on #93889
Given that the M1 parallels the A14 Bionic, it's unfortunate that the string selected was `"cyclone"` given that it's the A7. Otherwise the obvious comparisons would fall out.

[2022-07-01 20:45] mati865 commented on #58713
It was said this feature has to cover Tier 1 Windows targets so this means MSVC and GNU toolchains.
Tier 3 `*windows-gnullvm` aren't necessary for stabilisation if that's what you mean. Though these targets require basically no changes. I made them generate import lib via LLVM (just like MSVC does) but they could use dlltool just like `*-windows-gnu`.

[2022-07-01 20:46] nikic commented on #96152
Yes, everything has landed here, so this should be fixed with the next LLVM upgrade.

[2022-07-01 20:56] workingjubilee commented on #92255
Rust does support using system LLVMs as much as possible, but that's on the assumption that the system LLVM can be as equally capable as the bundled LLVM. So it's not immediately clear why we should support an LLVM which has deliberately disabled functionality that Rust supports. To "think out loud" a bit:

- If there's a non-negligible impact on binary size, of course, that would be one reason.
-

[2022-07-01 21:07] ChrisDenton commented on #98650
I believe the possibility of `x.bat`/`x.ps1` (on Windows) and `x.sh` (on POSIX) has been discussed a few time before, though search is failing me atm.

[2022-07-01 21:38] Hawk777 opened #98780 "Confusing wording of Vec::from_raw_parts pointer allocation requirement"
[The Alternatives section of the documentation for `core::mem::transmute`](https://doc.rust-lang.org/stable/core/mem/fn.transmute.html#alternatives) has this to say about a better way to turn a `Vec<&X>` into a `Vec<Option<&X>>`:

[The documentation for `Vec<T>::from_raw_parts`](https://doc.rust-lang.org/stable/alloc/vec/struct.Vec.html#method.from_raw_parts) has this to say about where you can ge

[2022-07-01 22:03] RalfJung commented on #98779
Cannot reproduce... another non-deterministic test? And the build log is lost as well, https://github.com/rust-lang-ci/rust/runs/7154373244?check_suite_focus=true doesn't show it and the raw log is missing.

[2022-07-01 22:30] CAD97 commented on #98650
In [one of the other threads](https://github.com/rust-lang/rust/pull/98716#issuecomment-1171578079) I commented on `x.bat` (there `x.ps1`) to the extent of roughly:

To this Windows user, it seems to make more sense to have an `x.sh` than an `x.py`. `x.py` with a `python3` shebang works for (somewhat less than) everyone, since it's just a regular python file using the python interpreter as its int

[2022-07-01 22:46] CAD97 opened #98786 "Placeholder span used when trait uses a HRTB on itself"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=80446f85cb95ca52230fc6521feb1548)

[code]

The current output is:

[code]

This should at least point at the `Self: for<'x> Pack<'x>` bound.

Ideally, this should work. (It's unclear why it shouldn't, given other `where Self:` work fine.)

[2022-07-01 22:55] rust-highfive opened #98787 "`miri` no longer builds after rust-lang/rust#93967"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#93967, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-01 23:02] jpfreyen opened #98788 "rustup says its on older rust version but rustc/cargo say otherwise"
I tried this command-line sequence to retrieve a specific rust version:

[code]

I expected to see this happen: *rustc, cargo, and the other rust binaries to have version 1.59.0*

Instead, this happened: *rustc -V, cargo -V, etc reports the latest version, 1.62.0*

[2022-07-01 23:03] jpfreyen commented on #98788
This running on a Apple M1 Max laptop

[2022-07-01 23:52] AaronKutch commented on #57749
I found a workaround that works on stable for this:
[code]
not sure if there is a safer way to do this, trying to make `Ref` unsized some other way rapidly multiplies the unsafety

[2022-07-02 00:13] dtolnay opened #98790 "Rustc pretty printer generates syntactically invalid output for some binary operators"
[code]

[code]

Another manifestation of the exact same pretty printer bug (in case this one is easier to incorporate into the test suite):

[code]

[code]

The `repro` function in each of these outputs is syntactically invalid code, which is not what `-Zunpretty=expanded` or `stringify!` should be creating.

[code]

The correct output in both cases would be either of the following syntactically v

[2022-07-02 00:14] RalfJung commented on #98787
Duplicate of https://github.com/rust-lang/rust/issues/98779

[2022-07-02 00:14] #98787 closed

[2022-07-02 00:19] jpfreyen commented on #98788
I think I'm ok now, whatever is going on in my environment can get fixed with a

rustup override set 1.59.0

But I find it confusing the "rustup install' would let me know 1.59  apple package was being used but I'd get 1.62.0 if I used a -V on a rust app

[2022-07-02 01:05] ehuss commented on #98788
`rustup install` installs a toolchain, but does not change the default or any overrides. There are various ways to set the "current" version via [overrides](https://rust-lang.github.io/rustup/overrides.html).  Any of those methods allows you to choose which version is currently being used.

Closing as this isn't the issue tracker for rustup (found at https://github.com/rust-lang/rustup), but also

[2022-07-02 01:05] #98788 closed

[2022-07-02 01:36] #98690 closed

[2022-07-02 01:42] compiler-errors opened #98792 "`./x.py test tidy` should reject additions of new binary files"
It would be great if the `tidy` check rejected commits of binary files, such as what happened in #97488 (removed in #98791). Ideally we would have an allowlist of binary files in the repo, so people can't sneak in rogue binaries...

[2022-07-02 02:04] Mark-Simulacrum commented on #98792
https://github.com/rust-lang/rust/blob/master/src/tools/tidy/src/bins.rs is what attempts to check for this -- I'm investigating what went wrong with it.

I think the root cause is that we run tidy on src/, library/ and compiler/, but not any other directories as far as I can tell. That won't cover the root directory, which is obviously a problem. Investigating a fix to that now.

[2022-07-02 02:16] compiler-errors commented on #96834
For the record, this no longer suggests `Pin`ing the self type.

[2022-07-02 03:23] workingjubilee commented on #98768
Not immediately clear which one is the bug. Naked functions are supposed to be prologue-free in the sense of having no instructions that e.g. modify parameter passing, but `cf-protection=full` or `cf-protection=branch` require marking branch targets in code using `endbr`. This can be seen as a "prologue" in a strict sense but it is required in order to fulfill the requests that are made to the com

[2022-07-02 03:26] thomcc opened #98797 "Ignore gitignored files in tidy's file counting"
Recently I apparently ended up with a `.DS_Store` file inside `src/test/ui`. This caused `./x.py test tidy` to complain about:

[code]

This *would* be reasonable, however I have these files globally gitignored. @jyn514 suggested that maybe it would be good if tidy didn't complain about gitignored files, and asked me to file an issue. This is that issue.

Forgive the imprecise title, I have no ide

[2022-07-02 03:54] jackh726 commented on #98702
Caused by this change: https://github.com/rust-lang/rust/pull/97648/files#diff-79cd877dd2dfb44945f291684ef33b7d715853b694fcaa153e0d849712e9439cR770

[2022-07-02 03:54] jackh726 commented on #98702
@lcnr ^

[2022-07-02 04:16] jackh726 commented on #98702
The problem is we end up with `for<T> <() as Foo>::Assoc<T> = [T; 2*2]` in the param_env.

When folding consts, we eval them (here: https://github.com/rust-lang/rust/blob/9a6fa4f118d88991458549464d960aa1e495541b/compiler/rustc_trait_selection/src/traits/project.rs#L618)

`try_eval_inner` calls `erase_regions` here: https://github.com/rust-lang/rust/blob/9a6fa4f118d88991458549464d960aa1e495541b/com

[2022-07-02 05:18] workingjubilee commented on #93754
If these are going to be independent compiler flags and not, say, target features, then yes, it may be a good idea to coalesce these. At least, certainly when the feature is functionally identical (e.g. `branch-protection=bti` vs. `cf-protection=branch`).

[2022-07-02 05:31] haraldh commented on #98768
either way, it would be nice to have a `cfg` to know, if the `endbr64` happens or not.

[2022-07-02 05:35] haraldh commented on #98768
In my case I was resembling the reset vector page with a naked function, so any addition voids the expectation. I can  live with the `endbr64` if there was a cfg for the CET flags, which results in the prolog.

[2022-07-02 05:57] xobs opened #98800 "`warn(path_statements)` triggers when using constants to limit values of `const usize`"
As referenced from https://github.com/rust-lang/rust-clippy/issues/9080

I tried this code:

[code]

I expected this to compile without warning

Instead, this happened:

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=266aa082052cfca6fcb4f051d239e9f0

### Meta

`rustc --version --verbose`:
[code]

[2022-07-02 05:58] xobs commented on #98800
This syntax was suggested by clippy. Previously, it would not allow `let _ = Self::CHECK_ALIGNED;`, and suggested that I write `Self::CHECK_ALIGNED;` instead.

Clippy now allows ignoring this lint, however according to https://github.com/rust-lang/rust-clippy/issues/9080#issuecomment-1172836876 this is a bug in Rust

[2022-07-02 07:06] joshtriplett opened #98803 "Generated trait methods have trailing spaces after arguments"
See https://docs.rs/async-std/latest/async_std/io/trait.Write.html for an example. Copy-pasting the trait implementation produces:

[code]

Note the trailing spaces after every argument but the last. (Also note the lack of trailing comma.)

Copy-pasting the trait methods is a common first step when implementing a trait. Ideally, the methods should be formatted in a way that copy-pasting produces w

[2022-07-02 07:18] unageek commented on #97933
I don't like this.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/29035331/176990849-78f74674-f16f-441c-8c11-eb9245405415.png">

[2022-07-02 07:36] alexschrod commented on #87517
Thanks for the explanation, @scottmcm, it makes sense to me now that this first version is intentionally conservative with regard to a less problematic possible future improvement.

[2022-07-02 07:47] unageek opened #98804 "Spurious `rustdoc::broken_intra_doc_links` reported by linking to macro defined later"
I tried this code:

[code]

I expected to see this happen: No warning is reported by `cargo doc`.

Instead, this happened: The following warning is reported:

[code]

Despite the warning, the generated link does work as expected.

This does not happen if I change ``[`bar`]`` to ``[`crate::bar`]``.

### Meta

`rustc --version --verbose`:
[code]

[2022-07-02 09:05] petrochenkov commented on #98804
I suspect that the code you posted is not in the root module, right?
In that case `bar` is indeed not in scope at the location of the ``[`bar`]`` link, it's an intentional change made in https://github.com/rust-lang/rust/pull/96676.

This is a compatibility measure to keep stuff on docs.rs working if possible.

[2022-07-02 09:54] GuillaumeGomez commented on #98803
It reminds me of https://github.com/rust-lang/rust/pull/98256. I'll take a look.

[2022-07-02 10:29] lunar-mining commented on #51443
I'm encoutering the same issue: https://github.com/lunar-mining/trait_ptr

When I add Sync to the trait it compiles fine providing the trait methods pass &self. But if I change this to an Arc<Self> then it produces the same warning.

[2022-07-02 10:55] SpriteOvO commented on #59368
It looks like this issue has been inactive for a while, but the problem is still there.

I would like to know if there are more comments from members about https://github.com/rust-lang/rust/issues/59368#issuecomment-826034070?

@danielhenrymantilla said [in this reply](https://users.rust-lang.org/t/how-to-namespace-a-macro-rules-macro-within-a-module-or-macro-export-it-without-polluting-the-top-le

[2022-07-02 11:24] #79494 closed

[2022-07-02 11:25] aliemjay commented on #98719
Duplicate of #42940.

@rustbot label A-impl-trait

[2022-07-02 12:39] jxs opened #98808 "false warning: comparison is useless due to type limits"
hey all,

I tried this code:

[code]
available [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=60db89b19176bad3ba415e3b70258997)
I expected to not get the warning: `comparison is useless due to type limits`.
Replacing `>=` with `>` or `0` with `1` solves the warning, but the behavior is different as the loop isn't entered.

### Meta

`rustc --version --verbose`:
[cod

[2022-07-02 12:45] thomcc opened #98809 "`align_offset` seems to generate worse code than is desirable (unless `size_of::<T>() == 1`)"
There are many examples where `align_offset` produces worse code than it should (worse than you'd write by hand, at the very least, and in the case of slices, worse then I think it needs to). You can often work around this by going through a `*const u8` pointer, although this is surprising, and not always an option (for example, it is not an option for users of `align_to`).

Here's a minimal examp

[2022-07-02 12:47] ChrisDenton commented on #98808
It's trying to say that `p < 10` must always be `>= 0` because a `usize` is never less than zero.

So the intended suggestion is:

[code]

[2022-07-02 13:06] jxs commented on #98808
ah right! now that you have pointed out, it's painfully clear.
thanks Chris!

[2022-07-02 13:06] #98808 closed

[2022-07-02 13:57] unageek commented on #98804
Aha! You are right! Thank you for your reply!

[2022-07-02 13:57] #98804 closed

[2022-07-02 14:45] gimbles commented on #98722
@rustbot claim

[2022-07-02 14:53] gimbles commented on #95969
Proposal to close this since the PR has been closed? [See PR thread for discussion]

[2022-07-02 15:20] gimbles commented on #98379
Powershell isn't only available on Windows, so checking the shell rather than the OS would be better. And on Windows, there is also cmd.exe, so the suggestion might be invalid for some people.

[2022-07-02 15:21] gimbles commented on #98379
@rustbot claim

[2022-07-02 15:42] fmease commented on #97933
PR coming up within the next hour. I just need to write some more tests.

[2022-07-02 15:48] jyn514 commented on #59368
I'm no longer a member of the rustdoc team, please don't ping me.

[2022-07-02 16:21] peku33 opened #98813 "Anonymous f64 generic parameters causes compiler panic"
When anonymous value is used as generic parameter, the compiler panics with `thread 'rustc' panicked at 'Box<dyn Any>', compiler\rustc_errors\src\lib.rs:1425:13`.

However if a value is bound to a const variable, it works.

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output
[code]

[2022-07-02 16:34] #96926 closed

[2022-07-02 16:44] npmccallum commented on #98768
This is not the definition of constrained naked functions that has been adopted via the RFC. That definition is stronger and insists that no instructions are emitted before the inline assembly in naked functions.

The reason for this is obvious: any other behavior creates an unknown set of interactions between the generated instructions multiplied across all possible compiler features.

The author

[2022-07-02 18:06] estebank commented on #98539
I got a reasonable PR to suggest the appropriate fix, but removing the improper suggestion is gonna be hard because it's too naïve and flat out incorrect in cases like these where the obligation doesn't come directly from the impl'd trait:

[code]

[2022-07-02 18:37] A1-Triard commented on #98593
@RalfJung , can you imagine a situation when difference between `from_exposed_addr`, and `from_foreign_addr` would mean something in practice? As longer I think about it, as more artificial `from_foreign_addr` seems to me. Maybe it is better to accept that such situation breaks strict provenance unavoidably.

[2022-07-02 18:56] RalfJung commented on #98593
It's not unavoidable though. :shrug:

`from_exposed_addr` is a non-deterministic operation, i.e. executing it twice on the same input could produce two different results. So that could make a difference for the optimizer, when compared with `from_foreign_addr` which is deterministic.

[2022-07-02 19:09] DutchGhost commented on #84238
Same issue with raw pointers (both `*const _` and `*mut _`):

[code]

[2022-07-02 19:15] leonardo-m opened #98818 "[ER] Better error message for integer function"
Currently (rustc 1.64.0-nightly) this code:

[code]
error[E0425]: cannot find function `abs_diff` in this scope
 --> ...\test.rs:4:20
  |
4 |     println!("{}", abs_diff(10_usize, 10_usize));
  |                    ^^^^^^^^ not found in this scope

error: aborting due to previous error

For more information about this error, try `rustc --explain E0425`.
[code]

[2022-07-02 20:39] matthiaskrgr opened #98821 "ICE during mir inlining: None in compiler/rustc_mir_transform/src/inline.rs:185:32"
### Code
code from `./src/test/ui/abi/rustcall-generic.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/abi/rustcall-generic.rs -Zmir-opt-level=3`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

cc https://github.com/rust-lang/rust/pull/91743 cc https://github.com/rust-lang/rust/issues/81567

[2022-07-02 21:02] FauconFan opened #98822 "Better error message when asking for derive when there are already derive macros"
Hi !

I just notice something that looks like a subtlety than anything else, but I still created this issue.
Consider the following program:

[code]
A snippet on the playgroud: [Link to Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=acf2c1194991f9854a9b384f1d8935e5)

This code obviously doesn't compile, but the error message could be better (in my opinion). The

[2022-07-02 22:26] #97047 closed

[2022-07-02 22:26] #50439 closed

[2022-07-02 22:26] #98722 closed

[2022-07-02 22:26] #98779 closed

[2022-07-02 22:29] Kobata commented on #98650
It's worth pointing out here that on Windows *with* WSL the 'failure mode' for `#!/usr/bin/env bash` is instead that... it runs, except *under WSL* (`py.exe` handles `#!/usr/bin/env` so it finds the `%LOCALAPPDATA%\Microsoft\WindowsApps\bash.exe` launcher, and runs that) which leads to much fun of things *mostly* working except for sometimes git submodule updates failing and the platform detection

[2022-07-02 22:29] oberien opened #98826 "u64 has an alignment of 8 bytes on i686-pc-windows-msvc instead of 4 as implied in the reference"
The rust reference states:

This is true for `i686-unknown-linux-gnu`:
[code]

However, currently on `i686-pc-windows-msvc` the alignment of `u64` is 8 bytes:
[code]

The C++ compiler on that platform (at least the one UE uses) aligns `u64` inside classes and structs to 4 bytes. I had expected `repr(C)` in rust do to the same (especially having read the part above from the reference) and was surpr

[2022-07-02 22:40] ChrisDenton commented on #98650
That seems like a serious failure mode. I hadn't considered that.

(Aside: I find it a bit weird that the python launcher will launch something that isn't python. But it is what it is.)

[2022-07-02 22:47] Niedzwiedzw commented on #89976
happened to me today

[code]
for some reason this produces a cryptic error:
[code]

[2022-07-02 23:11] jakubdabek commented on #89976
@petrosagg `tokio::spawn` requires the future to be `Send`, and that's what triggers the error.
On today's nightly (and beta `1.63.0-beta.2`) on the playground with the following example the error is different (same one is with `tokio::spawn`):
[code]
Error message:
[code]
It explains why the error happened, but gives zero information about what could be wrong, the `not general enough` one could a

[2022-07-02 23:43] CAD97 opened #98828 "`Self` keyword is documented as `SelfTy`"
This should just be `Self`. "`SelfTy`" is [not a keyword](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1bf26a96870a6e5030045bf492b3de8a).

https://doc.rust-lang.org/nightly/std/keyword.SelfTy.html

![rustdoc keywords list](https://user-images.githubusercontent.com/5992217/177019111-2366b46f-7286-4260-ad96-50748eae9be9.png)

![rustdoc keyword page for `SelfTy`](https://us

[2022-07-02 23:44] CAD97 commented on #98828
I did search for open issues, but

Previously closed as an intentional hack: https://github.com/rust-lang/rust/issues/92722
Because of case-insensitivity: https://github.com/rust-lang/rust/pull/83678

[2022-07-02 23:45] CAD97 commented on #98828
Correct label

@rustbot modify labels +T-rustdoc

[2022-07-03 00:06] CAD97 commented on #98650
Being explicit: the behavior is now tracked via a GitHub issue (https://github.com/python/cpython/issues/94399). The seemingly most likely upstream classification is that

- The behavior of `py.exe` interpreting shebangs with a non-python executable is undocumented behavior.
- Changing the behavior of the existing launcher of searching path when given a `/usr/bin/env` is likely a nonstarter.
  - I

[2022-07-03 00:35] CAD97 opened #98829 "Conflicting impls where one type is an associated type should provide a note that another crate could define the associated type to make the impls overlap"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ac0ec13c782fd22f9efa6a20aef81f5a)

[code]

The current nightly (2022-07-01) output is:

[code]

Ideally the output should look like:

[code]

I've spent multiple hours trying to figure out how this impl could be overlapping on at least two separate occasions. I'd like to prevent that f

[2022-07-03 00:42] jyn514 opened #98830 "Don't use `process::exit` in bootstrap tests"
Bootstrap has a lot of places where it calls process::exit. This makes it hard to figure out why tests fail. We should use unique exit codes so it's easier to tell where something wrong (and maybe consider using resume_unwind instead? not sure).

<details>

[code]

</details>

[2022-07-03 00:46] Mark-Simulacrum commented on #98830
I don't think unique exit codes are a good idea; we should probably replace the exit's with a call to something like crate::exit which can panic! in cfg(test) and resume_unwind in regular code; the goal of the exits is really just to more cleanly exit than the big panic message you get otherwise.

[2022-07-03 01:18] jyn514 opened #98832 "Make the default sysroot configurable by rustc_private tools"
This code hard-codes the default sysroot to be "one path above the binary":

https://github.com/rust-lang/rust/blob/a3d7a5e94507e3d6618790187bd85250ced82c4f/compiler/rustc_session/src/filesearch.rs#L128-L131

That doesn't work for Miri, which is why it needs various hacks around sysroot (also copied in clippy and rustfmt). We should make the default sysroot configurable in rustc_driver so tools ca

[2022-07-03 01:30] RalfJung commented on #98832
(Just for the historical record, Miri copied these hacks from Clippy.)

[2022-07-03 02:05] alex opened #98833 "Recent nightly started ICEing with "No counters provided the source_hash for used function""
This can be seen here: https://github.com/pyca/cryptography/runs/7165695219?check_suite_focus=true

[code]

To reproduce:

[code]

[2022-07-03 02:08] alex commented on #98833
Last passing run was `  nightly-x86_64-unknown-linux-gnu installed - rustc 1.64.0-nightly (7425fb293 2022-06-30)` so this regressed between 2022-06-30 and 2022-07-02.

[2022-07-03 02:16] SohumB opened #98834 "`negative_impls` doesn't seem to agree with `const_trait_impl`"
[code]

This fails compilation on both consts; the first because `the trait `~const PartialOrd` is not implemented for `u32` (note: the trait `PartialOrd` is implemented for `u32`, but that implementation is not `const)`, and the second because `the trait bound `u32: ~const NotPartialOrd` is not satisfied`.

I tried `with_negative_coherence` too, but it did not impact this test case.

### Meta
[Pl

[2022-07-03 02:31] CAD97 commented on #98809
Saw, got interested. Some drive-by notes:

- `simd_align1` is exactly the `align_offset` codegen plus an `lea` to multiply it by the stride.
- `pmoda` which is used to gate [the already-aligned fast path](https://github.com/rust-lang/rust/blob/aedf78e56b2279cc869962feac5153b6ba7001ed/library/core/src/ptr/mod.rs#L1667-L1668) is necessarily not constant folded. Interestingly, the fast path thus seem

[2022-07-03 02:56] jyn514 commented on #47645
triage: the behavior here has changed recently:
[code]

[code]
I tried --on-fail=bash with https://github.com/rust-lang/rust/pull/98673, but it behaves very strangely:

<details>

[code]

</details>

I think cargo has done something to the terminal that breaks stdout from bash (maybe buffered output or something like that?). But this is definitely closer than in the previous release :)

[2022-07-03 03:01] alex commented on #98833
Minimized a reproducer.

`Cargo.toml`:

[code]

`src/lib.rs`:

[code]

Execution:

[code]

[2022-07-03 03:03] jyn514 commented on #47645
ok, this does work on beta:
[code]
I'll see if I can find some way to make this less painful for people who don't want to mess with /dev/tty, etc.

[2022-07-03 04:35] gimbles commented on #95996
@rustbot claim

[2022-07-03 04:48] kons-9 commented on #98481
I'm sorry for the delay in replying, I didn't realize I had receive a reply.
On second thought, as you say, it couldn't infer it because of the method call in it.

Actually, in my project, I was able to do type inference with rust-analizer, so I misunderstood the compiler could do it too. However, I realized that my case is very specific and a lot of code works like rustc. So it may be a bug in ru

[2022-07-03 04:48] #98481 closed

[2022-07-03 05:36] Rageking8 commented on #98834
@rustbot label T-compiler requires-nightly

[2022-07-03 05:37] Rageking8 commented on #98822
@rustbot label A-diagnostics

[2022-07-03 05:39] Rageking8 commented on #98780
@rustbot label A-docs

[2022-07-03 05:39] #94654 closed

[2022-07-03 05:41] Rageking8 commented on #98833
@rustbot label regression-untriaged

[2022-07-03 05:51] Havvy opened #98836 "Suggest adding zero to errornous floating point number with dot and exponent but no post-dot digit"
When writing floating point numbers, some people try to include the dot and and exponent notation. Rust sees this as a field access on an integral value. It should suggest adding a `0` after the dot.

Given the following code: [Playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a4120491cf37cccc22a6b19e653c1491)

[code]

The current output is:

[code]

Ideally the outp

[2022-07-03 06:35] workingjubilee commented on #96140
Do you have an example of this use-case being a performance bottleneck in a sample program with practical effects that we can benchmark?

LLVM insists any boolean value, in most practical cases, to interact with most of LLVM's instruction set that is intended to model "compare then act" in assembly, become an `i1`. Rust takes the path of least resistance and says that `bool` is indeed an `i1`. So

[2022-07-03 07:11] JakobDegen opened #98837 "Cross running tests fails due to missing C compiler"
Beginning with #97513 (cc @jyn514 ) , `RUST_BACKTRACE=1 x test src/test/mir-opt/ --target i686-unknown-linux-gnu` fails on my system, printing:

[code]

I'm not sure if this is intentional - the PR mentions that there is a vendoring change, so that might be related. It would be nice if this worked though.

[2022-07-03 07:11] JakobDegen commented on #98837
@rustbot label A-testsuite

[2022-07-03 07:17] JakobDegen commented on #98837
Wait, hold on, I just started reading this right. Why does it think that `i686-linux-gnu-gcc` is the name of a C compiler? That's not typical, is it?

[2022-07-03 07:23] workingjubilee commented on #98151
In spite of the popular rumor that LLVM's instruction set is "architecture-neutral", there are quite a few architecture-specific variations in the "LLVM ISA".

But some things do have an architecture-neutral implication, even when they have architecture-specific meaning. In particular, the `signext` attribute is a [parameter attribute] that only insists on extension to the degree specified by the

[2022-07-03 07:23] #98151 closed

[2022-07-03 07:39] JakobDegen commented on #98837
Investigated a little bit more. The cause of this issue is the version bump of `cc`. Setting `CC=clang` fixes the issue. I think this might be a bug on their end, but at least going to close this for now.

[2022-07-03 07:39] #98837 closed

[2022-07-03 07:49] #86391 closed

[2022-07-03 07:56] jimblandy commented on #84605
Here's a use case for module-level `#[coverage(off)]`:

The [perf-event-open-sys](https://github.com/jimblandy/perf-event-open-sys/) crate includes a few hand-written functions for a system call that is not covered by the `libc` crate (nor by glibc, for that matter), and a few ioctls associated with that system call. These, it is reasonable to want coverage for.

However, it also has a file `bindi

[2022-07-03 08:07] gilescope commented on #49359
Belongs to the test team but alas that doesn’t exist yet.

On Fri, 27 May 2022 at 15:55, Felix S Klock II ***@***.***>
wrote:

[2022-07-03 08:43] workingjubilee commented on #92958
As Rust's sort is highly generic, it should also be noted that we cannot simply trust the Eq or Ord impls of the types we are implementing `sort_unstable_by` for, as well. So we cannot simply replace all the accesses with their unsafe variants. Obviously, the result of incorrect implementations would be a garbage sort, but that's not the problem we're concerned about here. We're only concerned abo

[2022-07-03 09:15] ChayimFriedman2 commented on #98786
As for the "it should work", see #84435.

[2022-07-03 09:53] workingjubilee commented on #98768
Fair enough. :thinking: Then the question is, why would this happen with the `x86_64-unknown-none` target and not the `-unknown-linux-gnu` target?

...Actually, checking Godbolt, there seems to be no difference?
https://rust.godbolt.org/z/WMqe85G38

So that answers that.
It looks like `cf-protection-branch` is a module-level attribute in LLVM. Extracting naked functions into their own modules just

[2022-07-03 11:22] nagisa commented on #98809
Thanks for the report. I think I have an idea how this can be improved, but I need to think about it a little further to see if it really is correct in all instances and to evaluate if it the tradeoffs in code quality are going to be positive enough to warrant a change I’m thinking of.

@rustbot claim

[2022-07-03 12:20] danielhenrymantilla opened #98842 "Inlined recursive type error can be dodged, leading to compiler overflowing its stack"
[code]

This happens on `1.0.0`, `stable`, and `nightly` (haven't checked the others).

### Error

![image](https://user-images.githubusercontent.com/9920355/177039840-804a3864-6b0c-44c2-b3ed-0001a82e89c7.png)

On older toolchains, it succintly says:

On newer ones, it yields:

[code]

___

[Demo](https://rust.godbolt.org/z/hj6GWhhbP)

[2022-07-03 12:21] danielhenrymantilla commented on #98842
Note that if no `*const Foo` tries to make it to codegen then the:

[code]

part, alone, compiles Just Fine™ 😅

[2022-07-03 14:33] Hellzbellz123 opened #98849 "`--nxcompat` unrecognized option when cross compiling from linux to windows"
### Problem

On my wsl2 machine, trying to compile my bevy project with ```cargo build --target=x86_64-pc-windows-msvc -Z unstable-options --out-dir=publish --release``` will work up until the linker gets a random --nxcompat. i also noticed that in the error message its using ld even though clang is setup. setting mold as the linker causes mold to fail from the same error

error output by cargo
[c

[2022-07-03 14:40] leonardo-m commented on #98836
I think not requiring a zero (or other digit) before and after the dot for floating point numbers was a small Rust design mistake, that causes troubles later.

[2022-07-03 15:49] ajirving commented on #48556
It's confusing that if you try to use AVX512 intrinsics on stable the compiler error references this closed issue.  Is there an issue tracking AVX512 stabilization and would it be possible to reference it rather than this one?

[2022-07-03 16:11] ehuss commented on #98849
Transferred to rust-lang/rust as cargo is not involved with linking.

You might get better help for cross-compiling by posting on one of the forums (such as https://users.rust-lang.org/).

I suspect you will have better luck by using lld-link instead of mold, as that is designed to emulate MSVC's linker. (That is, set `linker="lld-link"`).

However, I think this *might* be a real issue with other

[2022-07-03 16:27] HeavyRain266 commented on #96374
The word `yeet` surely looks "funny", but please be real because if we don't want some mainstream keywords like `throw`, what about `toss`? You can say "Hey, rustc toss an error here.", which sounds natural.

Personally, using slang words in programming language, feels really unprofessional. Perhaps it makes sense to be used in some esolangs but not in the language used by mostly mature (as in age

[2022-07-03 16:41] aliemjay opened #98852 "implied bounds from impl header are not used in associated functions/consts"
The following fails to compile although it shouldn't: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f7287b6897a385360f7190001b58348d

[code]

Another repro:
[code]

The first repro regressed in 1.43 while the second one is as old as implied bounds.

@rustbot label A-implied-bounds A-associated-items regression-from-stable-to-stable T-types

### Meta

Nightly version: 1.64

[2022-07-03 17:03] TheRawMeatball commented on #96374
I think it should be either `yeet` or `throw`. If we're going to do something fun (which I'd personally support) it should be `yeet` given the community support it already has, and if not, we should stick to what is already pretty much the standard and go with `throw`.

[2022-07-03 17:39] 5225225 commented on #98833
Bisection says

searched nightlies: from nightly-2022-06-29 to nightly-2022-07-03
regressed nightly: nightly-2022-07-03
searched commit range: https://github.com/rust-lang/rust/compare/46b8c23f3eb5e4d0e0aa27eb3f20d5b8fc3ed51f...f2d93935ffba3ab9d7ccb5300771a2d29b4c8bf3
regressed commit: https://github.com/rust-lang/rust/commit/0075bb4fad68e64b6d1be06bf2db366c30bc75e1

<details>
<summary>bisected wi

[2022-07-03 18:18] dnsco commented on #96374
"Yeet" was chosen as a placeholder name to prevent bike-shedding and make room for implementation unhindered.

My understanding is that there will be a time to voice what you think the keyword should be, but for now, let's yeet those lines of inquiry.

[2022-07-03 18:37] Iron-E commented on #98842
Possibly related: #39959

[2022-07-03 18:57] mati865 commented on #98849
MinGW linkers use that flag. I guess setting clang as the linker caused rustc to use `GccLinker` implementation.

Mold doesn't even support Windows yet. `lld-link` is a good tip, it should make rustc use `MsvcLinker` implementation.

[2022-07-03 19:39] belcar-s opened #98857 "Compiler error"
I'm sorry about the title. I very hardly can write Rust programs; I saw the note requesting a bug report, and am hoping this is helpful.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-03 19:57] belcar-s commented on #98857
Errors like those continued regardless of the contents of my `main.rs` file until I deleted both the `target` directory and `Cargo.lock`.

[2022-07-03 19:58] compiler-errors commented on #98842
This works for any associated type, right? Or just `Deref::Target`?

[2022-07-03 20:01] yoav-lavi opened #98861 "`std::fmt::Write` methods error documentation"
### Location

[std::fmt::Write](https://doc.rust-lang.org/std/fmt/trait.Write.html#errors-1)

### Summary

While opening [this issue for Clippy](https://github.com/rust-lang/rust-clippy/issues/9077), I noticed that many of the `write_xyz` methods have the following error description:

While I understand that this is due to the description being general for any implementation, this can seem tautolo

[2022-07-03 20:10] VixieTSQ commented on #96374
And yet there appears to be a lot of bike-shedding.. I think it backfired...

[2022-07-03 20:15] c410-f3r commented on #97758
Closing due to the lack of activeness

[2022-07-03 20:15] #97758 closed

[2022-07-03 20:17] RalfJung opened #98862 "Make mem::uninitialized inaccessible in future editions"
We have reached the end of what we can do in https://github.com/rust-lang/rust/issues/66151 (making `mem::uninitialized` panic when it is used incorrectly) without enormous amounts of crater failures. However, there is still one more thing we can do: we can make `mem::uninitialized()` inaccessible in future editions. We seem to have the support of at least [one lang-team member](https://rust-lang.

[2022-07-03 20:20] RalfJung commented on #66151
I have created an issue for that: https://github.com/rust-lang/rust/issues/98862

[2022-07-03 20:22] compiler-errors commented on #98857
Seems like an incremental compilation bug :/

[2022-07-03 20:23] RalfJung commented on #52652
This attribute is gone now, as far as I can see.
https://github.com/rust-lang/rust/issues/74990 is the tracking issue for the `c_unwind` feature that will solve this.
I am not sure if this issue here is still tracking anything else than that?

[2022-07-03 20:24] DemiMarie commented on #98593
Forbidding data races is okay.  Forbidding faults is in general _not_ okay, as it would prevent legitimate uses of faults such as pagable kernel heap memory.  That actually has an additional constraint, which is that it can be safe to access some memory memory at time A or at time C, but _not_ at time B (between A and C) because time B is one at which paging is not permitted.

In short, for kernel

[2022-07-03 20:25] RalfJung commented on #52652
OTOH, the behavior without any feature gates is still unsound AFAIK, so there should be *some* I-unsound issue open to track that.

[2022-07-03 20:28] DemiMarie commented on #98593
Another point to keep in mind: Accessing freed memory is UB.  However, the memory allocator (almost by definition) needs to do exactly that!

[2022-07-03 20:29] RalfJung commented on #82523
https://github.com/rust-lang/rust/pull/95372 made this warning show up in future breakage reports. This has shipped with 1.62.0, which is the current stable release. There is only one step left: making it an unconditional hard error. I am not sure what the timeline for that should be.

[2022-07-03 20:43] m-ou-se commented on #98862
I'm not sure if it makes sense to tie this to an to an edition. If it's so broken that it needs to be removed or cause a loud warning, we should probably do that in all editions.

[2022-07-03 20:46] RalfJung commented on #98862
We will never be able to make this hard-error in old editions. There is too much old code out there that uses it.

At the same time we should do whatever we can to prevent new code that uses it from being written. I think this means it should hard error for new code.

[2022-07-03 20:48] cole-dda opened #98865 "move keyword not right"
I tried this code:

[code]

I expected to see this happen: *test1 variable "a" dropped*

Instead, this happened: *test1 variable "a" live*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-03 20:49] est31 commented on #98862
New editions are not just for new code, but also old. Do you know of a way to automatically migrate code away from `mem::uninitialized`? cargo fix-ability is a requirement for edition changes unless that requirement has been removed.

[2022-07-03 20:51] RalfJung commented on #98862
There is no automatic migration possible.

AFAIK cargo-fixability *of code that is already warning-free* is a requirement for edition changes. This method is deprecated, so warning-free code will not call it.

[2022-07-03 20:56] RalfJung commented on #98593
Sorry, I should have been more precise -- by "fault" I meant something that the program can actually observe. If the kernel or some other entity does some magic in the background, that is fine. But, crucially, all memory accesses must succeed and not have any side-effect besides reading/writing the given memory location.

Otherwise, the compiler would not even be allowed to reorder reads.

They wi

[2022-07-03 20:57] m-ou-se commented on #98862
No, but we can make it a deny-by-default lint. Perhaps even a future-incompatability lint, such that it becomes visible even when it occurs in dependencies.

I don't think it's right to mix up "new edition" and "new code". It's true that most new code gets written for the newest edition, and that `cargo new` automatically uses the latest edition, but that doesn't mean "new code" means "new edition

[2022-07-03 21:01] RalfJung commented on #98862
I don't think this is odd at all. It's a case of "We screwed up and our only chance to fix it is to disallow this terrible thing in the next dialect. Bad enough that we have to deal with it in our previous dialects, let's at least contain this problem as much as we possibly can."

[2022-07-03 21:03] m-ou-se commented on #98862
What value does a hard error provide over a deny-by-default lint? People could turn off the lint, sure, but people could also switch to another edition.

[2022-07-03 21:05] RalfJung commented on #98862
Fair. But it somewhat corresponds to "maintained code", aka code that anybody still works on. (Not all maintained code is in a new edition, but all new edition code is necessarily maintained.) Getting rid of `mem::uninitialized()` for maintained code seems like a good thing to me. It's the unmaintained code that depends on old hyper/crossbeam that is blocking our other avenues to make progress her

[2022-07-03 21:09] m-ou-se commented on #98862
There are many reasons to upgrade to a newer Rust version, including being able to use dependencies that require the newer Rust version. There are very few reasons to use a later Rust edition. Using Rust 2018 for your crate today has almost no downsides.

[2022-07-03 21:11] m-ou-se commented on #98862
But it will never be a hard error, as you explained. All we're discussing now is whether the syntax for disabling the lint should be `#![allow(mem_uninitialized)]` or `edition = "2021"`.

[2022-07-03 21:13] RalfJung commented on #98862
That's not even in the same category of a thing. There is always the `rustup install 1.40.0` syntax available.

[2022-07-03 21:14] m-ou-se commented on #98862
No, because changing your Rust version can break things in your entire dependency tree. Many of my dependencies will not work with Rust 1.40. All of my dependencies will work fine if I switch my crate to Rust 2015 though, as Rust Edition is a decision per crate, just like enabling/disabling lints.

[2022-07-03 21:14] ChayimFriedman2 commented on #98865
This is an expected outcome of [disjoint captures in closures](https://doc.rust-lang.org/edition-guide/rust-2021/disjoint-capture-in-closures.html).

[2022-07-03 21:16] RalfJung commented on #98862
Sure, pinning an old Rust has much bigger side-effects than pinning an old edition. Still to me they are much more comparable than allowing a lint. As you said, editions are basically Rust dialects. Different Rust releases are also Rust dialects. But we could and should at least make it so that the latest and greatest dialect doesn't have this thing that should never have existed.

It can be a har

[2022-07-03 21:30] m-ou-se commented on #98862
We don't maintain Rust 1.40 or release new versions of it. We do maintain Rust 2015 and release new vesions of it.

Why? There is virtually _no cost_ to using an older edition, which is a per crate decision that doesn't affect anything around it.

If someone doesn't care how unsafe the function is and is willing to disable the lint with `#![allow]`, why wouldn't they be willing to disable the lint

[2022-07-03 21:40] saethlin commented on #98862
In the issue that this comes from, it looks like it was decided that even issuing a panic in the insta-UB cases is not acceptable right now. But even if users of such libraries with insta-UB `mem::uninitialized` never bump their edition but they bring in a new Rust version it's entirely possible their code will just... miscompile some day with no warning. I think we should do something to help tho

[2022-07-03 21:54] BatmanAoD commented on #52652
I think it makes sense to leave this open until `c-unwind` and its
associated changes are stabilized.

On Sun, Jul 3, 2022, 2:26 PM Ralf Jung ***@***.***> wrote:

[2022-07-03 21:55] m-ou-se commented on #98862
Rust versions have this "ratchet" effect: they only go up and don't go down. Dependencies all slowly raise their MSRV over time, important bugs are discovered in now unmaintained versions, cool features are added to new versions and not to older ones, etc. If you don't move with it, you get left behind.

Rust editions do not have this effect. Any crate can move freely between editions, in both dir

[2022-07-03 22:04] vincenzopalazzo commented on #98861
@rustbot label +T-docs-rs +E-easy

[2022-07-03 22:08] est31 commented on #98862
There is the traditional forward compat lint deprecation mechanism which is used to deprecate a lot of features. It's kinda new to have it for a standard library function like `mem::uninitialized` though, which has been *the* recommended way of creating uninitialized memory for a while.

But if there is the will to get it out of the language, why not use that mechanism? Add a lint for `mem::uninit

[2022-07-03 22:08] scottmcm commented on #98593
I don't know that that means "alloc" is an inappropriate word, though.  We describe `static` as an "allocation" that's definitely never freed either.

[2022-07-03 22:12] m-ou-se commented on #98862
If `#[deprecated]` isn't strong enough, maybe we need a `#[deprecated_and_also_completely_broken]` or something, to trigger something stronger than a warning. It doesn't have to be specific to `mem::uninitialized`.

[2022-07-03 22:13] scottmcm commented on #98524
Given the associated PR was closed (https://github.com/rust-lang/rust/pull/98522#issuecomment-1172553773), I'll close this tracking issue as well.

[2022-07-03 22:13] #98524 closed

[2022-07-03 22:23] obeis commented on #98861
@rustbot claim

[2022-07-03 22:35] danielhenrymantilla commented on #98842
Yeah any associated type of any trait; I just went for a `dyn Deref` to keep the snippet short thanks to the convenience of the already present impl, **provided the associated type has `: ?Sized`** (otherwise the `Sized` bound will cause errors for `Foo`)

[2022-07-03 22:41] saethlin commented on #98862
It has been deprecated since 1.39.0, almost exactly 3 years ago, and MaybeUninit was stable since 1.36.0. By the time the next edition rolls around, `mem::uninitialized` will have been deprecated for longer than it wasn't. So yes I agree that a lot of code could have been written in the time it was _the way_, but also we've given people a lot of opportunity to port.

I am not personally aware of a

[2022-07-03 22:52] 5225225 commented on #98862
There's https://github.com/rust-lang/rust/pull/94075#issuecomment-1086780758 which seems to have at least a fair few segfaults due to "they're making an uninit enum, so changes to the way we use enums can cause LLVM to notice the UB / something else to go wrong".

At least that's what I assume is going on for at least some of them. The work there doesn't seem *blocked* because of this, though.

Th

[2022-07-03 22:59] est31 commented on #98862
The issue of `deprecated` is twofold. First, one can't escalate that lint to deny by default in the future, etc. Second, there might be code that added `#[allow(deprecated)]` a while ago to silence deprecation warnings of some unrelated piece of code and didn't notice the `mem::uninitialized` deprecation warning (see #62398). The latter is a bit rare though and given that `deprecated` is already w

[2022-07-03 23:04] saethlin commented on #98862
I do not want to drag this off topic, but I think if Rust is going to live up to its safety claims/reputation, we should work to prevent situations like this and not wait for people to report problems first.

[2022-07-03 23:10] workingjubilee commented on #57241
I feel doubtful the 0.0 / 0.0 issue is material, even for soundness, except when LLVM is ignoring explicit copysigns (which is contra IEEE754 semantics). What's far more immediate, for instance, are things like denormal """optimizations""" in certain processors.

[2022-07-03 23:11] RalfJung commented on #98862
I view this as a two-dimensional matrix -- there is Rust 2015 version 1.40 and Rust 2018 Version 1.60 and so on.

We can't change the past, and we are bound by stability guarnatees within editions, but we *can* make *some* of the entries in this matrix be the language Rust would be if we hadn't made mistakes in the past -- like having `mem::uninitialized()`.

I view this as similar to how we now *

[2022-07-03 23:12] JakobDegen commented on #97649
`ty::cast::CastKind` is used by type checking and can probably be left alone. That area has its own needs anyway, especially because of diagnostics and such things.

Besides that, I've taken a look at some of the surrounding stuff. My rough guess is that the principled thing to do here would be as follows: First, stop sharing types (specifically `PointerCast`) between THIR/MIR and HIR. HIR has a n

[2022-07-03 23:17] workingjubilee commented on #98862
I would hope we don't have to "quell" anyone, as that is a sign of fundamental disagreement deeper than anything we can reasonably expect to deal with merely through discourse. Never mind "in the context of a GitHub issue".

Not that I did not grok your meaning otherwise. Hard examples are quite useful.
I feel it is worth reiterating from [RFC 1122] what was discussed as an option and eventually r

[2022-07-03 23:27] programmerjake commented on #57241
I'm not aware of any cpus that flush denormals by default for scalar operations (since correctly supporting denormals is required by ieee754), though that does happen for simd on certain cpus (e.g. arm neon) and can happen on gpus...

[2022-07-03 23:28] RalfJung commented on #98862
There is not, technically, a soundness bug here -- `mem::uninitialized()` was always `unsafe.` (Though that text pretty much says we should, as a breaking change, remove [`before_exec`](https://doc.rust-lang.org/nightly/std/os/unix/process/trait.CommandExt.html#method.before_exec) and `env::set_var` from the safe part of the language. Interesting.) It's "just" that a lot of old code uses `mem::uni

[2022-07-03 23:52] workingjubilee commented on #98862
Correct. Not all of [RFC 1122] nor [RFC 1105] are actually applicable to this conversation. I just think it helps to get a nice cup of Context from the artifacts of previous discussions.

[RFC 1122]: https://rust-lang.github.io/rfcs/1122-language-semver.html
[RFC 1105]: https://rust-lang.github.io/rfcs/1105-api-evolution.html

[2022-07-04 00:03] JakobDegen commented on #98862
Why don't we make them write both? Deny by default (or future incompat, or whatever) on old editions and hard error in new editions?

[2022-07-04 00:49] Shfty commented on #96374
With the unfortunate side-effect of planting a highly noticeable name - and accompanying link to this issue - in the `std::ops` documentation, which practically begs the reader to click on it and ask why on earth meme-tier keywords are appearing in unstable.

It's reassuring to see "at the very least it will not stabilize under the name Yeet" in the description, but it's an unnecessary distraction

[2022-07-04 02:30] compiler-errors commented on #93986
This was fixed.

[2022-07-04 02:30] #93986 closed

[2022-07-04 03:05] CAD97 opened #98871 "derive(Default) suppresses warn(dead_code)"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cccc52bdc184fe0561a4757b67821202)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

After the derive, the code looks roughly like

[code]

As the default implementation is both 1) itself unused and 2) `#[automatically_derived]`, ideally it should not

[2022-07-04 03:26] RalfJung commented on #95453
With https://github.com/rust-lang/miri/pull/2323, test relevant testcase should pass in Miri.

However, this still requires some [gross hacks](https://github.com/rust-lang/rust/pull/98847) so we should keep an issue open to track finding a proper solution for this.

[2022-07-04 03:30] RalfJung commented on #32838
In fact this feature is littered with ICEs. That's because it fits quite badly with MIR and the MIR-consuming parts of the compiler -- codegen, Miri all need to do lots of special-casing for `Box`, and adding an allocator field made it all a lot worse. See https://github.com/rust-lang/rust/issues/95453 for more details. IMO we shouldn't stabilize `Box<T, A>` until these design issues are resolved.

[2022-07-04 03:38] RalfJung commented on #97649
Fully agreed.

The source and dest type are available anyway, right? In MIR at least, the source is an operand and that always has a type. So only a destination type would be needed.

Miri indeed mostly ignores the `CastKind` and just looks at the pair of source and destination types. However, two kinds of casts are very different from the others and should be somehow singled out: ptr2int and int2

[2022-07-04 03:39] CAD97 commented on #98862
Note: `forbid` lints *cannot* be latter overridden, *except* by `--cap-lints`. As such, the difference between making the use of `mem::uninitialized` a hard error in --edition-202X or a `forbid`-by-default lint in --edition-202X is *effectively zero*. The only difference is whether we call this

or

and it *really doesn't matter which*. The latter error is even significantly more useful, and more

[2022-07-04 03:40] dpc commented on #96374
I thin it was chosen, so work can be done before bikesheding ends. Bikesheding itself is unavoidable.

[2022-07-04 03:52] workingjubilee commented on #98768
I have a patch which fixes this for x86, but with `-Zbranch-protection="bti"` (essentially the AArch64 version the same option) and otherwise equivalent Rust code, I get this assembly ([Godbolt](https://rust.godbolt.org/z/Ed6vfxKTo)):
[code]

And yes, the hint instructions disappear otherwise... it seems to be the same issue.
Setting "branch-target-enforcement"="0" (or "false") on the function see

[2022-07-04 04:12] matthiaskrgr commented on #98871
Probably a duplicate of https://github.com/rust-lang/rust/issues/47851

[2022-07-04 05:02] CAD97 commented on #98871
Definitely related but *maybe* not a duplicate; #47851 is about explicit impls whereas this is a subset for just `#[automatically_derived]` impls.

[2022-07-04 05:43] compiler-errors commented on #98871
I thought the dead code lint (or other lints?) actually mentioned they didn't do this explicitly. Like, "this lint ignores automatic derives" or something.

[2022-07-04 05:43] compiler-errors commented on #98871
Ah, unused field lint does:

[code]

[2022-07-04 06:02] jyn514 commented on #53650
@RalfJung are you still running into this issue now that bootstrap locks the build directory?

[2022-07-04 06:33] haraldh commented on #98768
Sorry, might have been a glitch in my configuration. Can't reproduce it again either.

[2022-07-04 06:35] #98728 closed

[2022-07-04 06:37] goldwind-ting opened #98875 "could not find native static library `boost_iostreams`, perhaps an -L flag is missing?"
`build.rs`:
[code]
rust:
rustc 1.62.0
ubuntu 20.04

when I compile the code, it shows that `could not find native static library boost_iostreams, perhaps an -L flag is missing?`,
I have installed the boost by `sudo apt-get -y install libboost-all-dev`, the location is `/usr/lib/x86_64-linux-gnu/`.

[2022-07-04 06:55] workingjubilee commented on #98865
As the problem seems to be "something worked", and that something is an intentional feature of Rust, and it is very hard to even improve diagnostics for "something worked on purpose", as it is definitionally not erroneous and we should not emit errors for things that are not erroneous...

Well. My apologies if this is confusing. If you have any requests for improvement of the non-successful routes

[2022-07-04 06:55] #98865 closed

[2022-07-04 07:04] workingjubilee commented on #98875
This issue currently does not show a bug with Rust. Perhaps you meant to ask for technical support on https://users.rust-lang.org or on StackOverflow?

I say this because the error message does seem to address your problem. I assume you actually used `cargo build` instead of invoking `rustc` directly. Does your `PATH` include `/usr/lib/x86_64-linux-gnu`? If it does not, you have to [use the `-L` f

[2022-07-04 07:08] goldwind-ting commented on #98875
okay

[2022-07-04 07:08] #98875 closed

[2022-07-04 07:47] apiraino commented on #98833
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398833.20Recent.20nightly.20started.20ICEing.20with.20.22No.20counters.20prov.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-07-04 08:13] apiraino commented on #98852
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398852.20implied.20bounds.20from.20impl.20header.20are.20not.20used.20in.20asso.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-07-04 08:45] apiraino commented on #94509
this is now on stable. I could not pinpoint a specific moment it started. For the record, the bisection points to `nightly-2022-01-18` and mentions these rollups:
[code]

[2022-07-04 08:58] oli-obk commented on #97649
`ptr2int` and `int2ptr` seem like fairly ok candidates for intrinsics instead of a special MIR rvalue. I think the only thing that cares about them is const checking, and we could just not mark `ptr2int` as `const`.

[2022-07-04 08:58] oli-obk commented on #97649
I do prefer full enumeration of all casts, mostly because it keeps biting us to redo categorization everywhere.

[2022-07-04 09:23] #98803 closed

[2022-07-04 09:23] #86784 closed

[2022-07-04 09:23] #98821 closed

[2022-07-04 09:45] apiraino commented on #98437
Issue discussed by T-compiler on Zulip, adding [their notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bplanning.20meeting.5D.202022-07-01/near/288178369), opinion was that there's no need revert.

(Also, the `Types` team had a discussion about this issue)

@rustbot label -I-compiler-nominated

[2022-07-04 09:51] apiraino commented on #98693
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398693.20NLL.20and.20closures.3A.20higher-ranked.20lifetime.20bounds.20are.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-07-04 10:30] ChrisDenton commented on #54800
As far as I understand [the current Linux code](https://github.com/rust-lang/rust/blob/9c9ae85a4773be3c1e33717e4fa9759b4ce020ef/library/std/src/sys/unix/fs.rs#L1402), `InvalidInput` is only returned in the case where the `from` is a symlink to a directory

https://github.com/rust-lang/rust/blob/9c9ae85a4773be3c1e33717e4fa9759b4ce020ef/library/std/src/sys/unix/fs.rs#L1350-L1354

https://github.com/

[2022-07-04 10:32] ChrisDenton commented on #52816
Given the above discussion I'm closing this in favour of #66621, which I think would provide a solution to the problem. But if I'm wrong then please tell me and I'll be happy to reopen.

[2022-07-04 10:32] #52816 closed

[2022-07-04 10:36] ChrisDenton commented on #76586
Closing as fixed. The original issues has been addressed, there is also now an (unstable) [`std::fs::absolute`](https://doc.rust-lang.org/std/path/fn.absolute.html) and the only outstanding item would be adding application manifests to binaries, which should be its own separate issue.

[2022-07-04 10:36] #76586 closed

[2022-07-04 11:34] juliankrieger commented on #78964
@GuillaumeGomez How is one sup[posed to combine `#![cfg_attr(not(feature = "xxx"), doc = r#"` with `no_run` when backtick compilation no longer works in that case?

[2022-07-04 11:49] ritobanrc commented on #93601
I'd be interested in tackling this, though it would be my first contribution, so I'll probably need some additional guidance.

[2022-07-04 11:49] ritobanrc commented on #93601
@rustbot claim

[2022-07-04 11:51] iamtheblackunicorn opened #98885 "Cannot join the Rust Discord server."
Why on earth can't I join the Rust Discord server???

[2022-07-04 11:57] Rageking8 commented on #98885
Official discord: https://discord.gg/pMvyHeDnXw
Community discord: https://discord.gg/rust-lang-community

[2022-07-04 12:08] lcnr commented on #98702
I guess alternatively, just anonymize all bound variables at this point? don't think regions should be special, going to try that

[2022-07-04 12:29] xfix commented on #39220
This appears to be fixed. `first`, `second` and `fourth` are merged. `third` is correctly optimized to always panic.

[2022-07-04 12:52] 5225225 commented on #98862
Well, in editions >= 20XX, it should be a hard error. Since you *can* publish non-building crates to crates.io, and a forbid by default doesn't stop a crate being used as a dependency because of cap-lints. Not that I suspect that's likely to happen, but there's no reason not to.

a future compat warning for < 20XX code (probably only for types that we know are UB, don't emit it for `mem::uninit::<

[2022-07-04 13:07] RalfJung commented on #97649
I would say they are great candidates for the new `StatementKind::Intrinsic` that keeps coming up. ;)

[2022-07-04 13:30] RalfJung commented on #53650
Yes, this has nothing to do with concurrency.

[2022-07-04 13:47] est31 commented on #98862
Re "quell" yeah "respond to" or "counter" would have been better terms. Not a native speaker, so I'm sorry for misunderstandings. It's just easier to justify the change/deprecation if the danger of miscompilations is real.

[2022-07-04 13:51] danielhenrymantilla opened #98890 "Incremental compilation bug with `async fn` method capturing multiple lifetimes"
### Regression since `1.62.0`

The following diff:

[code]

if done in between `cargo check`s, makes the second check fail with:

[code]

 * Aside: that error is printed twice, which is also curious.

To reproduce, the following snippet fails on the Playground:

[code]

  - [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=45b7a787312fdabfec160653140b6f81)

I've

[2022-07-04 13:57] CAD97 opened #98891 "E0283 and E0284 on same expression uselessly duplicate identical help"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ad231695c1c3e37f3fbbb20551d2ade7)

[code]

The current output is:

[code]

Ideally the output should be a single error, something like:

[code]

[2022-07-04 13:58] Dajamante commented on #95622
@rustbot claim

[2022-07-04 14:16] #98885 closed

[2022-07-04 15:00] WaffleLapkin opened #98894 "Calling a function with wrong number of arguments and a `while` loop or its equivalence yields weird diagnostics"
## Explanation / examples

This perfectly wrong statement causes compiler to mention `if`s, `!` and `()` even though nothing like this is written in the code:
[code]
[code]
(here and after normal errors about argument number/type mismatch are not shown as they are not the problem)

Originally I've found this while editing some async code and passing `String` instead of `&str`. I was very confused

[2022-07-04 15:13] compiler-errors commented on #98894
I wonder if this is also fixed by #98785 -- I will check and/or fix this too.

@rustbot claim

[2022-07-04 15:31] vakaras opened #98896 "StorageDead is not dominated by StorageLive"
As far as I understand, a `StorageDead` has to be dominated by `StorageLive`. For this code (which is a simplified version of `#[derive(PartialEq, Eq)]` on `E`):

[code]

This does not seem to be the case. I get the following MIR (`mir_dump/test.test.-------.renumber.0.mir` produced with `rustc +nightly -Zdump-mir=all -Zdump-mir-dataflow=y -Zdump-mir-graphviz=y --crate-type lib test.rs`):

[code]

[2022-07-04 15:46] eholk commented on #98476
@rustbot label +AsyncAwait-Triaged

[2022-07-04 15:47] WaffleLapkin opened #98897 "Passing array of `return` to a function with wrong number/type of arguments causes an ICE"
Found this one while researching for #98894, probably has a related cause (since #92364 diagnostics call `check_expr` a second time which confuses the compiler). This is an ICE though so opening a dedicated issue.

cc @compiler-errors

### Code

[code]

### Bisection

searched nightlies: from nightly-2022-04-10 to nightly-2022-05-09
regressed nightly: nightly-2022-04-17
searched commit range: http

[2022-07-04 15:50] eholk commented on #98477
@rustbot label +AsyncAwait-Triaged

[2022-07-04 16:14] saethlin commented on #98862
I think there are two concerns here,

1. Pushing people to stop using `mem::uninitialized` directly
2. Helping people dig invalid calls to `mem::uninitialized` out of their dependency tree, because they depend on an old crate.

I think the suggestions here, such as a forbid-by-default lint work pretty well as a response to the first concern.

I'm not sure this issue is about the second one. But I

[2022-07-04 16:37] 5225225 commented on #66151
Also did some looking to find direct test failures in the crater run, and came up with `rg '(attempted to .* which is invalid)'\'', src.*'` to just find panics caused in the same crate as the tests.

There's far fewer of these

https://crates.io/crates/keypad/0.1.4
https://crates.io/crates/par-array-init/0.0.5
https://crates.io/crates/hash-trie/0.4.0
https://crates.io/crates/hexagon/0.1.2
https://

[2022-07-04 16:48] Rageking8 commented on #98897
[code]
This does not ICE on stable 1.62.0 but ICEs on
Beta version: 1.63.0-beta.3 (2022-07-02 59f577d6388060f65b5f) and
Nightly version: 1.64.0-nightly (2022-07-03 495b216696ccbc27c73d)
* Using rust playground

[2022-07-04 16:49] Rageking8 commented on #98897
@rustbot label regression-from-stable-to-nightly

[2022-07-04 17:27] jzakiya opened #98902 "Performance regression with 1.62 vs 1.60"
In running this code with 1.62, vs 1.60, there is an appreciable slowdown in performance.

https://gist.github.com/jzakiya/b96b0b70cf377dfd8feb3f35eb437225

Below are example times, from multiple runs, using an input of 10^14, to really see the accumulation of the regression.

`echo 100000000000000 | ./twinprimes_ssoz`
The times are: `1.60 - 3734 secs` (1hr 2m 14s): `1.62 - 3977 secs` (1hr 6m 17s)

[2022-07-04 17:34] CAD97 commented on #98862
This is exactly what forward-compatibility / future-compat lints are designed to support, and now that these lints are reported for dependencies they're quite decent at it. With the ability to forbid compat lints in dependencies in a way not overridden by `--cap-lints` (`forbid` may actually already be this, I didn't check) I think we pretty clearly have the situation we want: the dependency still

[2022-07-04 17:40] SoniEx2 commented on #55005
we have an alternative proposal: instead of disabling `dereferenceable` for `UnsafeCell` entirely, why not do it for `#[may_dangle]`, and extend `#[may_dangle]` to functions? like uh,

[code]

?

[2022-07-04 17:50] RalfJung commented on #55005
`may_dangle` is a *type system* thing it controls whether types/lifetimes are still alive.

It makes little sense to use that to control the *run-time* property of `dereferenceable`. Also note that we still require `&self` to be "dereferenceable on function entry", LLVM just does not let us express that.

[2022-07-04 17:55] Nilstrieb commented on #98902
I benchmarked the program with 1.60 vs the more or less latest nightly:
[code]
This does look like a real regression.

[2022-07-04 18:02] SoniEx2 commented on #55005
yes and `may_dangle` should apply to functions too and should not require unsafe(!).

but when you go to those lengths it starts to become more interesting. and then you realize, you do need it to control `dereferenceable`. there's been threads on irlo about it. https://internals.rust-lang.org/t/rfc-basic-unsafe-lifetime/16873 but the basic idea is that if a reference can become dangling (even if

[2022-07-04 18:12] RalfJung commented on #55005
The existing uses of `may_dangle` are totally with with the `dereferenceable` attribute. That memory still *exists*, it just might contain data that has already been dropped.
If you are aware of a soundness issue here, where one of the standard library types that use `may_dangle` can be made to pass a non-dereferenceable reference, then please report it -- as a separate bug. But I doubt that we ac

[2022-07-04 18:20] SoniEx2 commented on #55005
well can you even apply dereferenceable to a struct's fields? we thought it only applied to pointer-type function arguments.

[2022-07-04 18:30] RalfJung commented on #55005
I suggest we take this offline since this is (a) increasingly off-topic and (b) more of a teaching / Q&A thing than actually discussing this issue.

[2022-07-04 18:44] est31 commented on #98862
I've looked it up, you need to specify `FutureIncompatibilityReason::FutureReleaseErrorReportNow` in the `declare_lint` macro. This works on a per-lint basis so if it was chosen for mem::uninitialized, one would have to introduce a new lint for it. There are multiple forward compat lints currently in the compiler that enable cargo integration: `proc_macro_derive_resolution_fallback` (#83583), `pro

[2022-07-04 18:54] sehz opened #98903 "Linker regression issue in 1.62."
FFI functions used to work fine in Rust 1.61 but fail in 1.62 with this message:
[code]

It works fine in Mac OSX but fails in Linux.  See original issue filed in the repo:

https://github.com/infinyon/node-bindgen/issues/195

[2022-07-04 19:17] mcobzarenco commented on #98836
Even so, the problem would remain, no? Rust interprets `2` as an integer and `.` as field acces. Requiring a 0 after the dot for floats would not change how this gets parsed.

Rereading, do you mean that if a digit after the dot were required, then people would be used to always include it and not to run into this? Agreed

[2022-07-04 19:54] dtolnay commented on #73714
Closed by #97791; these will be const in 1.63.

[2022-07-04 19:54] #73714 closed

[2022-07-04 20:02] WaffleLapkin commented on #98897
I think this should actually be
@rustbot +regression-from-stable-to-beta

[2022-07-04 20:54] 5225225 commented on #66151
Hmm... is there a reason the invalid_value lint uses its own logic, instead of the may_permit_raw_init? Other than it giving better error messages, which could be added to may_permit_raw_init

What i'm thinking is

1. Make invalid_value use may_permit_raw_init on strict mode (without regressing the error messages)

2. Make invalid_value a FCW. This'll want to be done a while after, since we would

[2022-07-04 21:52] JanBeh opened #98905 "Cow<'_, T> should not implement AsRef<T> but AsRef<U> where T: AsRef<U>"
I tried this code:

[code]

I expected to see this happen: Code compiles and runs without error.

Instead, this happened:

[code]

More examples of (allegedly) inconsistent behavior can be found in [this comment below](https://github.com/rust-lang/rust/issues/98905#issuecomment-1177307181). The cause is subtle and I suspect it is in `std`. I believe that

[code]

should actually be:

[code]

That

[2022-07-04 22:09] robertbastian opened #98906 "`expr` metavariable drops commas"
When matching an expression in a `macro_rules`, trailing commas in argument lists and initializers disappear.

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fafdfe051f645148a4a5b9fa411f4657)

[2022-07-04 22:19] robertbastian commented on #98906
(this is not an issue with `stringify`, I'm actually encountering this when I pass the expression into the `quote` macro)

[2022-07-04 23:13] Zalathar commented on #84605
On the reporting side, [cargo-llvm-cov](https://github.com/taiki-e/cargo-llvm-cov) supports ignoring entire files or directories via a path regex. So that might be a useful workaround for wanting to ignore a module.

(The ignored code still gets instrumented; it just doesn’t show up in reports or summary statistics.)

Ignoring smaller regions of code is trickier, since neither the compiler nor the

[2022-07-04 23:20] JanBeh commented on #98905
Also compare @conradludgate's `Owned` implementation, which [contains a correct `AsRef` implementation](https://github.com/conradludgate/into_owned/blob/235d534d890c836362f6b5bcb42c67851f90f6d8/src/owned.rs#L27-L31) (apart from missing `U: ?Sized`) and the crate [`deref_owned` version 0.8.2](https://docs.rs/crate/deref_owned/0.8.2), which [also has a correct `AsRef` implementation](https://docs.rs

[2022-07-04 23:54] Rageking8 commented on #98897
Sorry

@rustbot label -regression-from-stable-to-nightly

[2022-07-05 00:21] ark0f opened #98908 "Misleading doc about `Vec::into_boxed_slice`"
### Location

[`Vec::into_boxed_slice`]
[`impl From<Vec<T>> for Box<[T]>`](https://doc.rust-lang.org/nightly/std/boxed/struct.Box.html#impl-From%3CVec%3CT%2C%20A%3E%3E)

### Summary

[`impl From<Vec<T>> for Box<[T]>`](https://doc.rust-lang.org/nightly/std/boxed/struct.Box.html#impl-From%3CVec%3CT%2C%20A%3E%3E) says:

When [`Vec::into_boxed_slice`] does not:

Despite the fact that [`impl From<Vec<T

[2022-07-05 00:29] RalfJung commented on #98813
See https://github.com/rust-lang/rust/pull/98825#issuecomment-1172974472for some relevant discussion. In particular

[2022-07-05 00:37] RalfJung commented on #66151
You mean, making it warn on integers?
That makes sense. It would be a lang-team commitment to resolve https://github.com/rust-lang/unsafe-code-guidelines/issues/71 by saying these are indeed UB when uninit. So this would probably be a good first step. It should come with suitable doc updates; e.g. the `MaybeUninit` does currently say "the rules around uninitialized integers are not finalized yet".

[2022-07-05 00:55] Rageking8 commented on #98905
@rustbot label T-compiler

[2022-07-05 01:02] saethlin commented on #66151
If a plan to do this is decided upon (which I would support, for what it's worth) I think we should plan ahead to take a stronger stance on defusing the UB that may emerge from this, even if that means we end up with new build or test failures in crater. I worry a lot about the incentive structure that crater is creating here: delivering surprise UB via new LLVM attributes won't show up in crater

[2022-07-05 01:03] QuineDot commented on #98905
Arguably for your example, all that's missing is PR #73390.  See that PR to see how it breaks inference in existing code, which your suggestion would do as well.

Definitely breaking without PR #39397 (which would probably be more disruptive than PR #73390), as `Cow<'_, T>` will no longer implement `AsRef<T>` when `T` doesn't implement `AsRef<T>`.

[2022-07-05 01:21] kons-9 commented on #98830
@rustbot claim

[2022-07-05 01:23] #97933 closed

[2022-07-05 01:23] #98777 closed

[2022-07-05 01:23] #98792 closed

[2022-07-05 01:23] #98023 closed

[2022-07-05 01:52] glandium commented on #98746
This seems to have started somewhere between nightly-2022-04-28 and nightly-2022-04-29... and there's an LLVM update in the range. I'm going to bisect further with the bors builds.

[2022-07-05 02:16] noprofessional commented on #39232
on second look, seem like rust-analyze automaticlly add `use std::borrow::BorrowMut` at begining, just remove it will solve the problem.

[2022-07-05 02:40] KodrAus commented on #70887
Just ran into wanting this myself. Without following any prior context, as far as naming goes, I'd put my vote in for `log`, `log2`, without the prefix, and returning a `u32` seems reasonable to me.

[2022-07-05 02:47] asquared31415 commented on #35121
The two issues linked in the main issue body are closed, and the PR that seemed to fix one was also closed and linked back here.  Is there any update on what is blocking things?

[2022-07-05 02:53] glandium commented on #98746
Yep, started on 1388b38c52d1ca9fbc80bf42fa007504fb0b1b41.

[2022-07-05 02:55] saethlin commented on #98908
I'm confused, what do you think the difference is? Those mean the same thing to me.

[2022-07-05 02:59] asquared31415 commented on #98908
Those do mean the same thing, because "dropping excess capacity" *is* reallocating, which means moving to a new allocation.  However this probably could be clarified/made consistent anyway.  I don't see why these *shouldn't* be identical docs.

[2022-07-05 03:08] saethlin commented on #98902
Based on the hyperfine output, the change here is well within run-to-run variance, so I would want a t-test before even calling this a regression.

If this _is_ a statistical regression, doing anything about this will definitely require a smaller project than what is supplied. Or at least something that works in godbolt.org.

[2022-07-05 04:04] #63085 closed

[2022-07-05 04:22] glandium commented on #98746
So... if I build 1388b38 locally, it doesn't reproduce...

[2022-07-05 04:24] ToiletCommander opened #98909 "Error Report on Generic Trait Bound with a trait that has generic type parameters"
Given the following code: [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c9d54a17c9086dd4f7d66d00262ddb5d)

[code]

If we were to remove the `PhantomData<S>` typed member `placeholder` in `SomeOtherStruct`, the compiler would spit out the following error
[code]

But if we follow the direction of the compiler and further remove the `S` type parameter in `SomeOtherSt

[2022-07-05 05:44] 5225225 commented on #66151
Yeah, integers, floats, and raw pointers are the last things that we say are UB that we don't check.

Though `Option<usize>`, for example, doesn't seem to be warned about (to be uninit), although that panics at runtime. I'll look into the enum handling there too.

Ah, yeah, it also warns on transmutes which is cool. (though in theory we could do some magic data flow analysis stuff to notice that i

[2022-07-05 06:10] JanBeh commented on #98905
PR #73390 would be a workaround instead of solving the problem by fixing its cause. Note that it's not possible for external code to provide this workaround for types that are not defined in `std`.

See this extended example:

[code]

I would also expect this code to compile and run without error, but it doesn't:

[code]

It's also (obviously) not possible to add a workaround where needed:

[code]

[2022-07-05 06:35] glandium commented on #98746
The CI change in 278fdf6c828f18d2db1b3b5d026214ce2d7dadb3 had the unintended side effect of shipping libcompiler-builtins with DWARF5 debuginfo, which is not well supported.

[2022-07-05 06:50] glandium commented on #98746
For the record, libprofiler_builtins, and librustc-stable_rt.*san.a also have DWARF5 debuginfo.

[2022-07-05 06:58] glandium commented on #98746
For the record (bis), my local builds of 1.62 were unaffected despite being compiled with clang 14 because they don't contain debuginfo in those libs at all.

[2022-07-05 08:21] JanBeh commented on #98905
For a *meta* discussion on these kind of problems, I opened a new thread on IRLO: [Rust's complexity + Rust's stability policy = ?](https://internals.rust-lang.org/t/rusts-complexity-rusts-stability-policy/16946)

[2022-07-05 08:30] andrzejtp opened #98917 "No mention of "field init shorthand""
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6fd5b067e894e9be655bd28918386f7e

[code]

The current output is:

[code]

The first message is about an expected comma or closing curly brace, which is not terribly helpful - we do want to initialize more than one member, so why would we be required to end the instantiation after the `id,`?

The "miss

[2022-07-05 08:32] apiraino commented on #98897
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.E2.9C.94.20.2398897.20Passing.20array.20of.20.60return.60.20to.20a.20function.20with.20wro.2E.2E.2E)).

@rustbot label -I-prioritize +P-medium

[2022-07-05 08:42] QuineDot commented on #98905
That's why I used the phrasing I did.  The point is, even fixing the single use-case of the original example was deemed too disruptive, and it isn't even a major breaking change.

Even if there's a way to keep the inference breakage from being too disruptive, it's a major breaking change that can't happen before intersection specialization or Rust 2.0, modulo some other reversion of Rust's backwar

[2022-07-05 08:45] andrzejtp opened #98918 "Missing "path statement drops value""
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ee9151221000d9d30a653aa00bd14d47

[code]

The current output is:

[code]

The note does not explain well why the move occurs. It instead explains why in subsequent iterations of the loop the move cannot be performed: because the value is already moved in the first iteration. But there's no clue why t

[2022-07-05 09:13] jsha commented on #98769
Thanks for the report! That's strange - I could imagine reasons why Safari might refuse to load fonts, but I can't think of why it would affect both woff and woff2.

Since I don't have a Safari handy at the moment, could you do me a favor - check what happens if you remove the `<link rel="preload"...` tags at the beginning of the document? Preloading interacts in interesting ways with CORS; and th

[2022-07-05 09:23] JanBeh commented on #98905
A potential migration path might be to provide something like [`deref_owned::GenericCow`](https://docs.rs/deref_owned/0.8.2/deref_owned/trait.GenericCow.html), deprecate `Cow`, and reintroduce a fixed version of `Cow`, where both the old and the new version of `Cow` implement `GenericCow`.

[2022-07-05 09:36] #95226 closed

[2022-07-05 09:36] rust-highfive opened #98922 "`miri` no longer builds after rust-lang/rust#98910"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98910, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-05 09:45] michaelwoerister commented on #96655
I suspect that https://github.com/rust-lang/rust/pull/86118 exposed an existing instability in the construction of `BorrowCheckResult` by changing the `concrete_opaque_types` field from `FxHashMap` to `VecMap`.

`FxHashMap` (invalidly) ignores its ordering during stable hashing while `VecMap` doesn't.

[2022-07-05 10:22] JanBeh commented on #98905
I had an error in my original proposed solution. This has been corrected (by editing) as follows:

[code]

[2022-07-05 10:39] oli-obk commented on #91601
fwiw, the limitation can be worked around by moving the type alias impl trait into a free type alias, which just has the generics that you want to bind.

[code]

[2022-07-05 10:41] oli-obk commented on #96996
I'm wondering if we could change the meaning of `+ 'a` on type alias impl trait. Right now it's a no-op, as all lifetimes from the type alias are captured. But the convenient thing would be to make it mean what `Captures` means, as I'm rather certain almost no one will be aware of the `Captures` workaround

[2022-07-05 11:07] michaelwoerister commented on #98890
The bug also reproduces when the `enum Bar {}` is added above the impl, but only when that does not change the spans of the impl. It also reproduces when the `enum Bar {}` is add in a different file, or when a `struct` or an `fn` is added instead.

This suggests to me that this is somehow related to the overall set of DefIds changing.

It does not reproduce when the function is non-async.

@rust-l

[2022-07-05 11:14] michaelwoerister commented on #98890
Maybe something related to generators / async function generates numeric IDs based raw DefIndex values which are then not hashed in a stable way?

[2022-07-05 11:18] leonardo-m opened #98926 "ICE with panic!("")"
I have a problem with the latest Nightly, if I compile:

[code]

with:

[code]

The compiler segfaults immediately. I'm using:

[code]

[2022-07-05 11:55] leonardo-m commented on #98926
Thank you for trying it. That was on Windows 8.1, later today I'll try the same code on a Windows 11.

[2022-07-05 12:06] lqd commented on #98890
Bisection seems to point to https://github.com/rust-lang/rust/pull/91557

[2022-07-05 12:08] catenacyber opened #98928 "coverage: internal compiler error: regression on 20220702"
### Code

This comes from Suricata coverage build on oss-fuzz :
https://oss-fuzz-build-logs.storage.googleapis.com/log-adfe2312-62e1-4c25-a25b-221bfb9ed3e0.txt

### Meta

`rustc --version --verbose`:
[code]

Was working with `rustc 1.64.0-nightly (46b8c23f3 2022-07-01)`
cf https://oss-fuzz-build-logs.storage.googleapis.com/index.html#suricata

### Error output

[code]

<details><summary><strong>Ba

[2022-07-05 12:19] fmease opened #98929 "rustdoc: rich-text and visibility-aware formatting for constant values"
While _types_ in rustdoc are richly formatted using HTML (most notably for hyperlinks to definitions),
_constant expressions_ and _values_ do not enjoy any such treatment and are printed as plain text (or
sometimes even entirely omitted from the documentation).
With the continuously growing language support for “`const`” (`const fn`, const generics, `adt_const_params`,
`generic_const_exprs`, `cons

[2022-07-05 12:37] rayanmargham commented on #56152
for now the fix is to use opt-level = 1 in the debug profile for the optimizer to optimize it out

[2022-07-05 13:27] WalterSmuts opened #98931 "Type inference on cont generic defaults"
Currently you're able to define default const parameters for a type.  This is explained [here](https://blog.rust-lang.org/inside-rust/2021/09/06/Splitting-const-generics.html#featureconst_generics_defaults). This allows one to write generic `impl` blocks but requires some explicit type coercion as shown in [this stack-overflow article on the `new` constructor](https://stackoverflow.com/questions/7

[2022-07-05 13:35] fmease commented on #98931
Duplicate of #96300, #83687.

[2022-07-05 13:36] 0xdeafbeef opened #98932 "Regression from 1.61 to 1.62"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-05 14:09] kellerkindt opened #98934 "Add `Option::take_if`"
Feature gate:
`#![feature(option_take_if)]`

This is a tracking issue for adding `Option::retain_if` similar to `Option::take` but requires an additional predicate.
It `takes()` the value if the predicate evaluates to `true`. If the predicate evaluates to `false`, the value of the `Option` remains `Some(...)`. The predicate (`Fn(&mut T) -> bool`) also has the chance to modify the value.

[code]

#

[2022-07-05 14:31] wesleywiser commented on #98928
This looks like a duplicate of #98833

[2022-07-05 14:44] ivan770 commented on #98934
Is there a reason to have both `retain` and `retain_mut` when we already have `&mut self` in `retain`?

[2022-07-05 14:54] kellerkindt commented on #98934
To be honest, personally I can't think of a concrete reason at the moment. `Vec` has both, [although `Vec::retain` seems to be replaced by `Vec::retain_mut` basically](https://github.com/rust-lang/rust/blob/53792b9c5c3cded466a073e4b9a9e51d0007b9ab/library/alloc/src/vec/mod.rs#L1494), and I used it as impl orientation.

The question would then also be which name to keep: `retain` or `retain_mut`. A

[2022-07-05 14:58] #63159 closed

[2022-07-05 15:24] yoshuawuyts opened #98938 "Calling a trait method as a free function yields odd diagnostics"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=add44602b791902bc38a5e3faf486c45)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

For bonus points: The trait is currently not callable since it's not implemented for anything. It needs to actually be implemented. "It looks like you're trying to call