[2022-10-02 03:54] tmandry commented on #102563
Implementation notes: Mocking can be implemented with traits (hopefully trait objects to avoid having so many generics). But for any "reading" from the environment you must specify some mock data that can be used in tests. For example, when reading from a file you must provide mock file contents that are used in tests.

Tip: Virtualizing the filesystem itself is not actually necessary. If it's eas

[2022-10-02 05:48] compiler-errors commented on #102555
I think this was fixed in #102557?

[2022-10-02 05:48] #102555 closed

[2022-10-02 06:10] chenyukang commented on #102518
This error is reported in the phase of name resolving,
for `func(obj)`, seems we need to know the type of `obj` and then check whether it has `func`,
This seems need to be in type checking phase?

[2022-10-02 06:31] joshlf commented on #48556
What is the state of this feature intended to be? It's not clear from the documentation. In particular:
- [This documentation page](https://doc.rust-lang.org/nightly/core/arch/aarch64/struct.float32x2_t.html) contains a warning that the `float32x2_t` type is a "nightly-only experimental API", and links to this issue
- The source code linked from that doc page seems to suggest that the type is actu

[2022-10-02 07:56] cjgillot commented on #101771
I'm sorry @cameron1024, I ended up having to do it myself in order to get the PR in a mergeable state.

[2022-10-02 07:56] #101771 closed

[2022-10-02 07:56] cjgillot commented on #101771
But you are still welcome to look at the lint code and get it faster :smile:

[2022-10-02 10:10] matthiaskrgr opened #102571 "ICE: RPITIT: expected item, found trait method --emit mir"
### Code
`./src/test/ui/impl-trait/in-trait/nested-rpitit.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/impl-trait/in-trait/nested-rpitit.rs  --emit=mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-02 10:39] djeedai opened #102572 "internal compiler error: no warnings or errors encountered even though `delayed_good_path_bugs` issued"
### Code

This triggers on CI on Linux; I don't have a Linux to try a repro:

[code]

### Meta

https://github.com/djeedai/bevy_hanabi/actions/runs/3168209195/jobs/5159251886#step:4:47
[code]

https://github.com/djeedai/bevy_hanabi/actions/runs/3168209195/jobs/5159251886#step:7:311
[code]

### Error output

https://github.com/djeedai/bevy_hanabi/actions/runs/3168209195/jobs/5159251886

[code]

<de

[2022-10-02 10:40] djeedai commented on #102572
Possibly a duplicate of #102561

[2022-10-02 11:33] Alexendoo commented on #102523
Yep! 👍

[2022-10-02 11:33] #102523 closed

[2022-10-02 12:06] aDotInTheVoid opened #102575 "Tracking Issue for `const_collections_with_hasher`"
Feature gate: `#![feature(const_collections_with_hasher)]`

This is a tracking issue for making [`HashMap::with_hasher`](https://doc.rust-lang.org/stable/std/collections/hash_map/struct.HashMap.html#method.with_hasher) and [`HashSet::with_hasher`](https://doc.rust-lang.org/stable/std/collections/hash_set/struct.HashSet.html#method.with_hasher) `const`.

### Public API

[code]

### Steps / History

[2022-10-02 12:09] Alexendoo opened #102576 "Notable traits tooltip is laid out underneath subsequent methods"
This happens because `contain: layout` (#102253) establishes a new stacking context

https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/hir/map/struct.Map.html#method.parent_owner_iter
![parent_iter's notable trait tooltip underflowing is_lhs](https://user-images.githubusercontent.com/1830331/193452774-ddadf1a3-fdf9-436d-b927-47eda94d0328.png)

[2022-10-02 13:33] PizzasBear opened #102580 "Overflow when deriving Clone on a struct with a recursive GAT"
I tried this code:

[code]

I expected the derive to happen successfully without issue, like the manual implementation that I commented out.

Instead the derive resulted in an overflow error.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-10-02 13:52] joshlf opened #102582 "try_blocks type inference failure suggests illegal code"
I have the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=91394c69ee1a2d9b3bbe9aa2220e42c3):

[code]

I get the following error:

[code]

If I try to follow the compiler's advice by adding a trailing `::<Result<usize, bool>>` on line 12, it results in [code that can't be parsed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=73d3

[2022-10-02 13:57] Enselic opened #102583 "rustdoc JSON: struct fn missing if re-exported from private mod"
### Step-by-step

1. Put this in `repro.rs`:
[code]

2. Run `rustdoc +nightly-2022-10-02 repro.rs -Zunstable-options -wjson`

3. Check if `missing_from_rustdoc_json` is in the generated JSON: `grep missing_from_rustdoc_json doc/repro.json`

### Actual result

Item is missing.

### Expected result

Item is present.

### Remarks

The item is present in the HTML version of the docs (`rustdoc +nightly

[2022-10-02 14:20] joshlf commented on #29639
@kotauskas

IIUC you might want to have core depend on an external crate for its _implementation_ without exposing that crate's API in core's API. E.g., per @gnzlbg, "we currently duplicate `cfg-if` in libcore, libstd, stdsimd, and in libc" - even if we don't intend to expose `cfg-if`'s API anywhere in the standard library, it would still be a boon to allow libcore, libstd, stdsimd, and libc to de

[2022-10-02 15:39] chenyukang commented on #102408
Understood it now, it's expecting the second argument return a same type with first argument -- a closure.

[2022-10-02 15:39] #102408 closed

[2022-10-02 15:55] wwylele commented on #102580
I guess this is related to the existing limitation of derived Clone which blindly apply trait bounds to generic parameters, and generates the following impl block
[code]
Note the additional `Clone` bound on `T` comparing to the manual implementation, which means not all `Struct<T>` implements `Clone`, so it needs to evaluate the bound recursively for `Type<T: Clone>`

[2022-10-02 15:58] sjud opened #102588 "ice ice baby"
Sorry, I'm not sure what code is causing this. Is it the code in the error before the ICE?

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-02 16:24] compiler-errors commented on #102588
@sjud, please next time provide as much code as possible, and give the issue a descriptive title. there's not really much to work off in this issue.

[2022-10-02 16:38] RalfJung commented on #101983
While the [RFC for a proper fix is cooking](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/manually_drop_maybe_dangling), I am proposing a preliminary fix in https://github.com/rust-lang/rust/pull/102589.

[2022-10-02 17:41] zbraniecki commented on #84605
My use case for ability to exclude derived traits from coverage statistics is a public library that implements traits intended to be usable by its customers.
For example:

[code]

Our library implements thousands of them. We will not add manual tests to verify that `Debug` works on each of them, that would make no sense. With the current situation the coverage results are noisy because we have to

[2022-10-02 17:55] Emilgardis opened #102590 "`go_to_exact` for rustdoc"
I would really like something like `go_to_exact` in rustdoc that we could add for the `::` redirects. I don't think we can just add `go_to_first` always because e.g. <https://docs.rs/tokio?search=tokio::span&go_to_first=true> goes to the `tokio::spawn` docs.

_Originally posted by @Nemo157 in https://github.com/rust-lang/docs.rs/issues/1830#issuecomment-1244136700_

Add a query `go_to_exact` which

[2022-10-02 18:07] Nemo157 commented on #102590
There was also some related discussion on zulip: https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/go_to_first.3Dmaybe, the suggestions there are to have it as a tri-state on the existing flag like `go_to_first=if-exact` rather than a separate parameter.

[2022-10-02 18:34] DavidVonDerau commented on #69099
sorted so we can't use a simple entry-based API where we split the borrow
upfront in this case. (Technically, some GhostCell variant could maybe be
used as well but at the time it wasn't nearly as established and I did not want
to have too much unsafe proof obligations floating around). The code that
runs after the operation expects a reference to the whole table, mostly
immutable but noalias is g

[2022-10-02 19:18] scottmcm opened #102595 "Don't give "no rules expected the token" errors for macros that failed to parse"
Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=293168337d6a7ce2c74a82461e536bad>

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Because telling me the call to the macro is invalid doesn't make much sense when that's impossible to fix without fixing the macro first.

---

Non-minimized mistake I made that i

[2022-10-02 19:24] markus-k commented on #91639
Since I just fell into the trap of hidden lifetime parameters myself, I'd like to provide another example where it really wasn't  obvious (to me) what's wrong: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e7a8987750461aa92afa167ca91c4e82

The very nice people on the Rust Discord pointed me to this issue, making it clear what the problem was. Probably could've saved mysel

[2022-10-02 19:40] compiler-errors commented on #102572
Yeah, it's a duplicate of #102561. I won't bother minimizing a test for this because the stack trace looks identical.

[2022-10-02 19:45] scottmcm commented on #91639
Agreed, @markus-k -- hidden lifetimes *in return types* like that are the case where there's broad agreement that this lint is most valuable, and thus should definitely be on by default.

This is `E-help-wanted` because it'd be great if someone wants to pick up splitting out just that part, as we'd probably turn *that part* on by default pretty quickly, should the implementation exist to allow it.

[2022-10-02 19:47] djeedai commented on #102572
Closing as duplicate of #102561.

[2022-10-02 19:47] #102572 closed

[2022-10-02 19:59] sgued commented on #60896
Looking at https://github.com/rust-lang/hashbrown/pull/342 it seems to me that the proposed entry API doesn't solve the issue of having to clone the element if you want to obtain a reference to it after inserting it.

[2022-10-02 20:44] compiler-errors commented on #102571
This can be repro'd without `--emit mir`, see the test in #102571. It just requires the RPITIT to be printed somehow.

[2022-10-02 20:55] lukas-code opened #102598 "`impl 'a Trait` in argument position emits multible wrong diagnostics"
I tried this almost-correct code: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4b790ecfcbff9ad627076dcc3ca0e584)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-10-02 21:22] Emilgardis commented on #97762
this seems related to #81431

[2022-10-02 21:41] jyn514 opened #102600 "Add consistent feature gating for bootstrap"
Currently, we have a several "best-effort" features in bootstrap, which aren't really supported, but we have code for since they're impossible to do otherwise. `x.py fix`, `x.py clippy`, and `x.py test --stage 0 src/test/ui` are some examples. Currently, only the last one has a feature gate: by default it gives a hard error ("this tests the beta compiler, you probably don't want that") but it lets

[2022-10-02 22:01] nyurik opened #102601 "Show an actionable help text to add a "use ..." on error "cannot find macro""
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ce82062ad528c01674b39e7acb633eb6):

[code]

The current output is:

[code]

The output should include an actionable help that tells novice users what to do in a way that can be copy/pasted, instead of just specifying which macro to use. Modeling after the error message of a missing type, the missing

[2022-10-02 22:17] nathan-at-least opened #102603 "(Resolved by downgrade) `internal compiler error: unexpected panic` while running `cargo doc` on `rustc 1.66.0-nightly (9c56d9d6f 2022-09-29) running on x86_64-unknown-linux-gnu` on crate `nom`"
### Code

I have created [a stand-alone crate on github](https://github.com/nathan-at-least/rustc-internal-bug-nightly-2022-09-30-cargo-doc) which reliably reproduces the internal compiler error on my system. The readme in that crate includes `rustup` version as well as `cargo --version` from inside and outside the repo which has a `rust-toolchain.toml`.

This is recreated with:

1. `cargo new`
2.

[2022-10-02 22:28] nathan-at-least commented on #102603
Note, changing `rust-toolchain.toml` to `channel = "nightly"` enables `cargo doc` to succeed with version:

[code]

-and:

[code]

[2022-10-02 22:38] spital commented on #98664
Seems to be fixed now
[code]

[2022-10-02 22:38] #98664 closed

[2022-10-02 23:27] earthengine opened #102605 "thread 'rustc' panicked at 'index out of bounds: the len is 681 but the index is 682'"
### Code

A reliably replication the issue with minimized code is not available yet. It appears and disappear after modified code where the root cause is uncertain at the moment.

The backtrace however, contains some useful information like "index out of bounds", for those who knows the implementation of the compiler. I guess it should be a good clue to find out what makes it wrong.

### Meta

`ru

[2022-10-02 23:46] compiler-errors commented on #102605
Can you check if this is fixed on nightly?

[2022-10-02 23:47] #33286 closed

[2022-10-02 23:47] #86587 closed

[2022-10-03 00:06] earthengine commented on #102605
@compiler-errors
Running the nightly channel on the same code reports a type error that linked to a change I made in the code that making a function returning `Result<T, E>` to an `async fn` but forgot to change the calling site to use `.await`.

[2022-10-03 00:15] earthengine commented on #102605
Ok, according the clue above I found a minimal code example

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a4a9d407c344da29b521a2ba6fbf68af)

[2022-10-03 00:39] compiler-errors commented on #102605
So this is fixed by #99928 -- unfortunately that's going to land in the next release cycle (1.65) and this isn't a critical enough ICE to warrant a patch release for 1.64

[2022-10-03 00:51] jruderman opened #102608 "Improve diagnostics like "incompatible types: expected fn item, found a different fn item""
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5f0eff331da6114a37a95bd7c2483146)):

[code]

The current output is:

[code]

I would like this error to explain why these are incompatible despite having the same signature (or link to an explanation).

I would also like it to suggest an alternative, perhaps one of these:
* Change `&doubl

[2022-10-03 00:58] WaffleLapkin commented on #81431
I believe this will be fixed by https://github.com/rust-lang/rust/pull/102010, once we figure out some problems with clippy/fmt builds.

[2022-10-03 01:23] jgao222 opened #102609 "`array::from_fn` behavior is unclear from documentation"
### Location

https://doc.rust-lang.org/std/array/fn.from_fn.html and https://doc.rust-lang.org/core/array/fn.from_fn.html

### Summary

The documentation for `from_fn` states

It is not clear what "current array index" refers to, since the function description doesn't necessarily indicate that there is iteration happening to create the resulting array.

Additionally, the first line summary doesn'

[2022-10-03 01:46] vacuus commented on #102609
I'm not sure if the `Arguments` section helps, since it separates the description of the callback somewhat. I think it should all be at the same visual level. Juxtaposing `T` next to "array element" also seems weird. How about:

Creates an array `[T; N]`, where each array element is the result of calling `cb` with that element's index.

(Maybe "returned value" instead of "result"?)

[2022-10-03 04:00] CleanCut commented on #100717
https://github.com/rust-lang/rust/pull/102110 is ready for review!

[2022-10-03 04:06] sharnoff opened #102611 "Generic param requires bounds on call to function that is already required for calls to the caller"
Seems like this behavior has existed for a while, so apologies in advance if this is already a settled matter. If so, I still think the failure coulld use a better error message.

In short, the following code fails to compile:
[code]
([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8c6adca96101697aaee5c75621a35eb4))

Error message:
[code]

In `call_foo`, t

[2022-10-03 05:33] X-m7 commented on #68987
I ran into another instance of this confusing error here:
[code]

The error messages I get are:
[code]

Again the first error is misleading because it matches just fine, and as someone who just came back to messing around with Rust after a couple of years it took me a few minutes before I noticed the what the second error is saying. It also does not help that the first thing the second error highl

[2022-10-03 06:14] chenyukang commented on #102601
@rustbot claim

[2022-10-03 08:02] jonay2000 commented on #101763
Could this be related? #70660

[2022-10-03 09:22] rbtcollins opened #102616 "cargo clippy --fix generated broken code"
Output from clippy.
[code]

I would be happy if either the lint didn't fire, or if clippy fixed things with code that works.

### Meta

The same error occurs with nightly.

`rustc --version --verbose`:
[code]

[2022-10-03 10:32] the8472 commented on #101691
I actually wanted to recommend something like this as an alternative std benchmarking workflow. Currently I have to suggest a stage1 build.

[2022-10-03 12:09] lcnr commented on #102611
[code]
yeah, implied bounds from the impl header are ignored while typechecking a function body but apparently still required somewhere :grin: i am currently working on this and should hopefully be able to fix this in the somewhat near future

@rustbot claim

[2022-10-03 12:16] aliemjay commented on #102611
They're required for the WF-check of `Self` in borrowck. This is a duplicate of #98852.

[2022-10-03 12:48] conradludgate opened #102619 "Tracking Issue for `const_path_initialization`"
Feature gate: `#![feature(const_path_initialization)]`

This is a tracking issue for initializing `&Path` from a `&str` in a const context.

### Public API

[code]

### Steps / History

- [ ] Implementation: #92930

### Unresolved Questions

- `from_str` conflicts with `FromStr::from_str`, what alternative name should we choose?
- Should we provide a direct `&str -> &Path` conversion, instead of r

[2022-10-03 13:47] jyn514 commented on #101691
@the8472 I meant `dist --stage 0` is very rare. I agree wanting to use a stage 0 toolchain with just the libstd changes is common :)

[2022-10-03 13:55] Mark-Simulacrum opened #102621 "Crater runs for 1.65"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-10-03 13:55] Mark-Simulacrum commented on #102621
@craterbot run name=beta-1.65-1 start=1.64.0 end=beta-2022-09-25 mode=build-and-test cap-lints=warn p=1

[2022-10-03 13:56] Mark-Simulacrum commented on #102621
@craterbot run name=beta-1.65-rustdoc-1 start=1.64.0 end=beta-2022-09-25 mode=rustdoc cap-lints=warn

[2022-10-03 13:56] #100327 closed

[2022-10-03 14:26] Rageking8 commented on #102383
@rustbot label +T-compiler +C-bug

[2022-10-03 14:45] estebank commented on #49733
@est31 Yet another alternative would be to have a `rustc_box!()` macro or similar, but I don't know if that buys us much beyond a lang-item (beyond making it slightly clear that the macro intrinsic might be doing something beyond a pure function call).

[2022-10-03 14:57] CastilloDel commented on #89742
This is marked as help wanted, but it doesn't seem clear what the path to solve it is. Is there already a decision on whether to add a warning or deprecate the option?

[2022-10-03 15:07] nikic commented on #89742
I think those are effectively the same thing, just a question of the precise wording for the warning. Support for the legacy pass manager has been removed recently, so `-C inline-threshold` is now completely non-functional, under all circumstances. The message at this point could probably be something along the lines of:

possibly with a

[2022-10-03 15:08] bjorn3 commented on #89742
Would it make sense to translate `-Cinline-threshold=` to `-C llvm-args=-inline-threshold=`?

[2022-10-03 15:12] chorman0773 commented on #49733
If it's going to be a public macro, it should be called `boxed!()` instead.

On Mon, 3 Oct 2022 at 10:46, Esteban Kuber ***@***.***> wrote:

[2022-10-03 15:37] Alexendoo commented on #102124
No longer seems to ICE after #102192

[2022-10-03 16:00] est31 commented on #49733
@estebank Personally, I see the attribute on the function more as a guaranteed *optimization*. But admittedly you can see macros in the same way, as one of the things they provide is guaranteed inlining.

I've recently been drawn towards `builtin#box()`. There have been [questions on how to pretty print `format!` invocations in the MCP for making format an AST token](
https://rust-lang.zulipchat.c

[2022-10-03 17:19] estebank commented on #102605
@compiler-errors can we add the repro to the test suite and close the ticket then?

[2022-10-03 17:24] estebank commented on #102608
We should in [every E0308](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=36e5b62a7d83f3891fdb077b3fe3c1a2) explain that different functions have distinct types, and how to cast them to a fn pointer.

(I thought we were doing that already. :-/ )

[2022-10-03 17:49] estebank opened #102629 "On E0308, detect incorrect attempts to use trait objects"
_https://users.rust-lang.org/t/expected-trait-object-dyn-trait-found-struct-struct/82198_

When encountering cases where the user's intent is to have a trait object, but we produce an E0308, we should put some effort in sending them in the right direction. We should provide a suggestion with the right code to properly box and erase the type in the appropriate branches.

[code]

[code]

[code]

[co

[2022-10-03 17:53] estebank commented on #102608
@compiler-errors that makes sense. We might get away with only supporting the simple case of reference to `fn` like in the OP. For more complex cases we might get over our heads to provide a structured suggestion (but we might want to just check if there are diverging `fn`s and only provide a note for those cases as a hint that might or might not get the user unstuck).

[2022-10-03 18:29] Nilstrieb commented on #102603
@rustbot claim

[2022-10-03 18:33] nazmulidris opened #102631 "Running cargo doc causes compiler to crash complaining it could not document `nom`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-03 18:42] Nilstrieb commented on #102603
This issue here is caused by nom as well. The fix is pretty simple, I should be able to open up the PR today.

[2022-10-03 19:05] sceedy opened #102638 "target mipsel-unknown-linux-gnu standard libraries problem"
### Problem

I have sucessfully compiled a static librsvg for 10 targets (1 native and 9 crosses) but my last target is giving me problems.

"export RUSTFLAGS='-C target-cpu=mips32'" sorts out the code in the tarball but I still have unimplemented opcodes in the compiler libraries for target mipsel-unknown-linux-gnu (see "unimplemented opcodes.txt") i.e. opcodes for mips32r2 (i.e. mips32 version 2

[2022-10-03 20:10] conqp commented on #90056
Not sure whether this is related, but I just tried to test one of my [projects ](https://github.com/conqp/rucman)with Coverage on Windows 10 x86_64 resulting in this error message:
[code]
On my Linux machine, however, the test runs fine.

[2022-10-03 20:16] MauriceKayser commented on #93838
I think this is related:
[code]
Currently `1` panics, but `2` does not.

[2022-10-03 20:22] #84579 closed

[2022-10-03 20:22] #102142 closed

[2022-10-03 20:22] #101739 closed

[2022-10-03 20:22] #102571 closed

[2022-10-03 20:29] seanpianka commented on #100544
Is this actually a regression? I saw it mentioned that this is a correctness fixed introduced as a part of https://github.com/rust-lang/rust/pull/98835.

[2022-10-03 21:20] estebank commented on #83518
As implemented, `#![deny(large_assignments)]` relies on a flag being passed to `rustc` or on `#![move_size_limit = N]` being set at the crate level. Would it make sense to instead make `move_size_limit` an attribute accepted on *any* scope, and the lint having to walk up from every fn item upwards to see if the limit is set? (Impl details: You'd likely instead want to have some preprocessed DefId

[2022-10-03 21:32] ehuss commented on #102638
Transferred the issue to rust-lang/rust as I believe this is a compiler issue.

As for the `trimmed_def_paths constructed` error, I believe there are several other reports of that: #102561, #100114, #99563, though I do not know if they are at all related.

[2022-10-03 23:03] cuviper commented on #102638
We've had that cpu level since #48874, configured here:
https://github.com/rust-lang/rust/blob/092255976862c1f0121bb4446acd38336a860c4f/compiler/rustc_target/src/spec/mipsel_unknown_linux_gnu.rs#L11-L12

And big-endian has been mips32r2 since #31303.

[2022-10-03 23:23] QuentinPerez commented on #102510
cc https://github.com/rust-lang/rust/pull/98559

[2022-10-03 23:31] #98780 closed

[2022-10-04 00:21] SeeSpring opened #102640 "ICE generic_const_exprs"
### Code

[code]
Note that the code runs fine if combined into one file.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-04 03:17] thomcc opened #102643 "`getentropy` apparently considered private on non-macOS darwin"
Ugh. https://github.com/rust-lang/rust/pull/101011 probably needs reverting before 1.65 hits stable, or Rust apps may[^1] fail AppStore review on iOS and tvOS.

Apparently, `getentropy` on Darwin platforms is actually only considered public API on MacOS. This is surprising, since there are several indications to the contrary:

1. In the declaration in the public header (`sys/random.h`) on MacOS, i

[2022-10-04 03:37] danii commented on #39412
Should metavariables be prevented from being named `self` or as keywords? I feel like metavariable keywords could be used for future expansions to macros, like associated macros with `$self`.

[2022-10-04 04:14] KisaragiEffective commented on #29641
maybe create new gate `min_box_pattern` and think about only Box on there? Is there blocker to stabilize?

[2022-10-04 04:29] matthiaskrgr opened #102645 "ICE: index out of bounds: the len is 0 but the index is 0 -Zdrop-tracking, generators"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Zdrop-tracking <file>`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-04 05:15] Rageking8 commented on #102605
@rustbot claim
To add the test if it's not already done.

[2022-10-04 05:17] compiler-errors commented on #102605
Please do!

[2022-10-04 05:19] Rageking8 commented on #102611
@rustbot label +T-compiler +C-bug

[2022-10-04 05:51] SUPERCILEX commented on #48711
I came here looking for the Termination impl on the E side of Result after migrating to stack_error and I'm so confused. Why was https://github.com/rust-lang/rust/pull/97803#issuecomment-1147817381 accepted as a common use case for implementing termination on the success side? The code didn't improve IMO.

If what @yaahc said is true then this is so sad. Everyone is now doomed to write:
[code]

Wh

[2022-10-04 06:05] HBBrennan opened #102646 "Regression in rust-nightly 2022-09-09"
### Issue

I've been working on an advent of code solver using specialization to evaluate the separate parts of the challenge if they have been implemented. I found my code stopped compiling on nightly after September 9th 2022.

### Code Reproduction

I've tried to create a minimal reproduction case.

Cargo.toml
[code]

src/main.rs
[code]

However, the following replacement of Enum with u32 compil

[2022-10-04 06:22] alexschrod commented on #29596
The removal of this makes it hard to do certain things in the playground. I realize that's probably not a priority or reason to keep it, I'm just pointing it out. There's no `-C link-arg`, `build.rs` or `.cargo/config` there.

[2022-10-04 08:24] ShadowJonathan commented on #49733
Apologies for the ping on this question for anyone else, but I haven't heard of `builtin#` before, where can I follow that development?

[2022-10-04 08:38] lulf opened #102649 "ICE cannot relate region: LUB(ReErased, ReEarlyBound(0, 'm))"
### Code

[code]

This code compiled previously before 14th or 15th of September. Changing the trait and impl signature to the following resolves the issue:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-04 08:50] Nilstrieb commented on #102510
cc @jackh726

[2022-10-04 08:50] Nilstrieb commented on #102649
Might have something to do with #102510

[2022-10-04 09:00] Nilstrieb commented on #102649
searched nightlies: from nightly-2022-01-01 to nightly-2022-10-04
regressed nightly: nightly-2022-09-11
searched commit range: https://github.com/rust-lang/rust/compare/1d37ed661a6922e7a167609b8cd7eb31e972b19b...2287107588d92889d282e6cd3c1ca5df34cd34a5
regressed commit: https://github.com/rust-lang/rust/commit/2287107588d92889d282e6cd3c1ca5df34cd34a5

<details>
<summary>bisected with <a href='http

[2022-10-04 09:09] sfzhu93 commented on #43520
This seems to be only a naming problem here, considering the following Go code can compile:
[code]
https://gotipplay.golang.org/p/k5ngVKP0XKE

[2022-10-04 09:29] #102320 closed

[2022-10-04 09:29] #102561 closed

[2022-10-04 10:18] chriss0612 commented on #102497
I think that would make a lot of const code a bit cleaner.

[2022-10-04 10:34] chriss0612 commented on #57349
Is there a reason why functions pointers with mutable references in Argument or return Position need this feature?
Since fn pointers can't be called in const fn's anyways it shouldn't be a problem to allow those.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c967ceadcc4cfdca1b93793e1096ea8d)

[2022-10-04 10:57] oli-obk commented on #57349
That's just a bug, I'd just prefer not to add exceptions to the check and instead stabilize the feature

[2022-10-04 11:28] oli-obk commented on #67792
I added some additional notes to the message to explain the "why":

[code]

I'm going to lock this issue. If anyone would like to comment on this issue, please instead open separate issues for any questions or concerns about this feature and link this issue from your new issue.

[2022-10-04 11:59] FlyingRatBull commented on #102510
I get the same ICE when using the current nightly in a complex Codebase.
The `nightly-2022-09-09` works fine.

[2022-10-04 12:01] c410-f3r commented on #101863
Closing due to the lack of activity.

[2022-10-04 12:01] #101863 closed

[2022-10-04 12:45] arctic-penguin opened #102654 "missing warning about unreachable code"
[code]

I expected to see this happen: `rustc` or `cargo check` or `cargo clippy` warn about unreachable code.

Instead, this happened: no warning

Why should we care: unreachable code is an obvious sign of programming errors.

### Meta

`rustc --version --verbose`:
[code]

[2022-10-04 13:46] devendranaga opened #102658 "Infinite loop detection possibility"
Consider a below example of the code that makes the program run in infinite loop.

[code]

Is there a possibility to detect loops? It does seem that `i` and `len` are already immutable which could lead to a deduction that the `while` loop can be infinite?

My apologies if this was already discussed before. As of now i do not seem to get any warnings too. The code compiles cleanly.

My `rustc` vers

[2022-10-04 13:58] Nilstrieb commented on #102654
Rust only checks for trivially unreachable code based on control flow. I don't think it would be a good idea to look that deeply into methods and do cross-function analysis for this, it would introduce a lot of complexity and unreliability.

[2022-10-04 14:00] arctic-penguin commented on #102654
Thanks for the swift reply. Would this then be better suited for clippy, it at all?

[2022-10-04 14:49] roblabla commented on #56354
I am so confused by this. I currently have code to the effect of

[code]

This triggers this hard error. I'm... not sure I understand the rationale behind this.

I can understand denying precise pointer matching when hardcoding numbers, but it seems to me like half-open ranges should *obviously* be accepted here - there is no room for any confusion or portability issues. And this isn't even a lint

[2022-10-04 15:31] joshtriplett commented on #101991
I don't think we should do any modification to the source text, even newline normalization. I think we should just return the source text verbatim. If a user wants to normalize it, they can do so (or use any number of crates to do so); however, a user can't *un*-normalize it if we've normalized it.

[2022-10-04 15:39] matklad commented on #101991
To clarify why normalizing might be a good idea:

What line endings are used is already somewhat ill-defined. The source code of the same git project checked out on Linux and on Windows would typically have different line-endings.

If we don't normalize line-endings and expose them to proc-macros, that opens another avenue why, eg, `cargo build --target wasm32-unknown-unknown` might give different

[2022-10-04 15:46] Amanieu commented on #101991
I think that differing newlines will already cause issues with reproducible builds since all of the spans will have different offsets, the debuginfo will be different, etc. I think it's reasonable to require configuring git to preserve line endings if you want reproducible builds.

[2022-10-04 16:18] Nugine opened #102664 "Compiler Segfault when sse2 is disabled and lto is fat"
### Code

[code]

Compiler flags: `-C opt-level=3 -C target-feature=-sse2 -C lto=fat`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace

None

[2022-10-04 16:24] #101628 closed

[2022-10-04 16:24] #102074 closed

[2022-10-04 16:24] #102553 closed

[2022-10-04 16:24] #102603 closed

[2022-10-04 16:24] #102631 closed

[2022-10-04 16:47] matthiaskrgr opened #102667 "LLVM_ERROR: access past stack top"
While playing around with https://github.com/rust-lang/rust/issues/102664  I noticed a different llvm error:

### Code

[code]
compiled with `-C opt-level=3 -C target-feature=-sse2 -C lto=fat` will cause an llvm error:
`LLVM ERROR: Access past stack top!`

### Meta

`rustc --version --verbose`:
[code]

[2022-10-04 17:10] PlasmaPower commented on #80158
I ran into this when experimenting with creating an aligned slice type:
[code]

`MaybeUninit` would have been a great abstraction for this, but requiring `T: Sized` makes it inviable

[2022-10-04 17:19] dnut opened #102668 "Failed to extract DefId: local_def_id_to_hir_id"
### Code
https://github.com/jet-lab/jet-v2/pull/360/commits/8e384b87b066661f1f491f4a1238afe82cda9d9f

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-10-04 17:23] the8472 commented on #102658
Clippy catches this.

[code]

[2022-10-04 17:33] cdmistman opened #102669 "Attempting destructuring of struct reference to mutable variable results in partial moves of fields"
I tried this code:

[code]

I expected to see this happen: The above should compile with `bar` being a mutable variable of type `&Bar`

Instead, this happened: The above fails to compile with `bar` being a mutable variable of type `Bar`.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[playground](https://play.rust-lang.org/?versi

[2022-10-04 17:48] SUPERCILEX commented on #48711
If this is not possible, I just thought of something that would make the situation a little less bad. Since we'd be stuck with the convention of having Termination on the success side, we could do the same for Option and `impl<T: Debug + Termination> Termination for Option<T>` where `None -> ExitCode::SUCCESS`. I kind of hate that because we're just digging ourselves deeper into nonsense since I w

[2022-10-04 17:48] CastilloDel commented on #84447
I'm gonna give this a try
@rustbot claim

[2022-10-04 18:03] cjgillot commented on #102668
This is a bug with incremental compilation. Do you remember which changes you were making when this happened?

[2022-10-04 18:05] steveklabnik opened #102671 "std::thread docs are unclear regarding stack sizes"
### Location

https://doc.rust-lang.org/std/thread/#stack-size

### Summary

This says

This is not correct, because it implies this is true for all platforms, but each platform sets their own default stack size. Even amongst unices, 2mib isn't always the case. https://github.com/rust-lang/rust/blob/02cd79afb8080fce8c8ce35533c54d8ecf8f390e/library/std/src/sys/unix/thread.rs#L14-L21

[2022-10-04 18:44] joshtriplett commented on #102389
Prioritized as P-critical in @rust-lang/lang meeting just now. This needs to be fixed by 1.65 at a minimum.

[2022-10-04 18:46] dnut commented on #102668
The linked commit is the change that led to this issue. It was a work in progress that I committed immediately as soon as I saw this error in hope that it would be reproducible from that commit.

I think maybe the last thing I did within that commit was something in the file `tests/hosted/tests/bonds.rs` around this line:
[code]
Previously I had this
[code]
and the struct for the tx field probably

[2022-10-04 19:42] dtolnay commented on #101991
I don't feel that either of these warrants blocking the stabilization of `source_text`:

@rfcbot resolve a question of line-endings
@rfcbot resolve span which escapes the macro

For line endings, either normalizing or not is okay with me. For spans that cross boundaries of a macro invocation, I'd probably prefer if `join` would return `None` in this situation but it's pretty far down the list of t

[2022-10-04 21:31] apiraino commented on #102317
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102317.20ICE.3A.20Broken.20MIR.20in.20Item.28.2E.2E.2E.29.20with.20.60let_else.60.20usage.20.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-10-04 21:32] apiraino commented on #99852
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102317.20ICE.3A.20Broken.20MIR.20in.20Item.28.2E.2E.2E.29.20with.20.60let_else.60.20usage.20.E2.80.A6)).

@rustbot label -I-prioritize +P-high T-compiler

[2022-10-04 21:38] apiraino commented on #102303
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102303.20Array.20indexed.20by.20enum.20cast.20to.20usize.20no.20longer.20has.20b.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-10-04 22:07] nikomatsakis opened #102678 "prevent negative impl cycles"
When integrating negative impls into a-mir-formality, I realized a problem with the current check.

The current logic has a check that, at its heart, boils down to this:

* If there are two overlapping impls and one impl requires `T: Trait`, and we can prove `T: !Trait`, then this impl can be ignored.

This assumes that the coherence checker is guaranteeing that `T: Trait` and `T: !Trait` do not h

[2022-10-04 22:08] nikomatsakis commented on #102678
@rustbot label +P-low -I-prioritize

I am removing the prioritization label. This is a feature gated, incomplete feature, so the unsoundness here is not relevant to stable Rust.

[2022-10-04 22:10] vacuus commented on #102609
I don't know about how best to document the type inference in the other issue (though, to throw my 2¢ in, I'm not sure it needs documentation :), but you raise a good point about `impl FnMut` and ordering. Assuming the guarantee of the order of arguments:

Creates an array of type `[T; N]`, where each element is the result of calling `cb` with that element's index. It is guaranteed that the index

[2022-10-04 22:10] nikomatsakis commented on #102678
One possible fix is to leverage the query system to prevent cycles between traits:

Before we try to prove `T: !Trait`, we could force a query that checks that `Trait` and `!Trait` have been proven disjoint. If we are in the process of checking coherence for `Trait`, this would then force a cycle.

I'm not sure how I feel about this fix. It may be that the rules we're using for proving positive/ne

[2022-10-04 22:40] lcnr commented on #82633
fixed by #100096 which removes the builtin `Fn*` impl for function pointers with unsized return values.

marking as needs test

[2022-10-04 23:20] H4x5 opened #102679 "Uninformative error message for incorrect placement of type annotations in tuple destructuring patterns"
I made the mistake of attaching type annotations inside of a let-binding tuple destructuring pattern and was very confused for a bit.

Given the following code: ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b1f7bf2847707055b3abbf40b228d326))

[code]

The current output is:

[code]

The output is very confusing and doesn't point users toward a solution. This

[2022-10-04 23:56] bryangarza opened #102681 "Compilation error for lifetimes in associated type used by async-fn-in-trait"
The following UI test (`async-associated-types.rs` from https://github.com/rust-lang/rust/pull/102642) currently does not compile

[code]

I expected to see this happen: successful compilation

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-10-05 00:02] bryangarza opened #102682 ""Parameter type may not live long enough" compilation error for async-fn-in-trait"
Encountered in these test cases:
- `async-generics.rs`
- `async-generics-and-bounds.rs`
- `async-lifetimes-and-bounds.rs`

From https://github.com/rust-lang/rust/pull/102642

Here is `async-generics.rs`
[code]

I expected to see this happen: Successful compilation

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-10-05 00:06] Aaron1011 commented on #79813
@joshtriplett: I've been letting this slowly percolate through the ecosystem (there's a steady stream of commits referencing this issue), as macro-related lints are always tricky for users to deal with. However, I think enough time has passed that we could add this to the future-incompat report.

[2022-10-05 01:08] joonazan opened #102683 "generic_const_exprs: Exact same code compiles as unit test but fails to compile as integration test"
This is a minimal reproduction of an issue I encountered when I tried to use const generics in my library.

lib.rs:

[code]

tests/same_test.rs:
[code]

`cargo test`:
[code]

`rustc --version --verbose`:
[code]
I updated to
[code]
and got the same output.

[2022-10-05 02:40] compiler-errors commented on #101662
Gonna unassign myself this issue because I don't think it's necessarily an issue, or at least I don't know exactly how to solve it in a way that makes me happy yet. I think "required by this bound in `Foo::bar` is also ambiguous compared to mentioning `::{opaque#0}`", though someone else can take a stab at it and we can see what the diagnostic fallout looks like.

[2022-10-05 02:41] compiler-errors commented on #97661
Closing this as a duplicate of #94651.

[2022-10-05 02:41] #97661 closed

[2022-10-05 02:53] dripton opened #102687 "Internal compiler error from traderust"
### Code

I made a commit with the exact broken code that causes this panic.  I have not minimized it yet.

https://github.com/dripton/traderust/commit/301d27f80e0d53e2173780ed9156948af64fcd3c

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-05 02:55] compiler-errors opened #102688 "default-body `async fn` in trait with `impl Trait` return fails to compile"
This code fails to compile after #101679:

[code]

This is the same RPIT issue as https://github.com/rust-lang/rust/issues/101968#issuecomment-1252815586. Filing as a `known-bug`.

[2022-10-05 03:19] compiler-errors commented on #102682
This is probably actually the same issue as the other one, and as https://github.com/rust-lang/rust/issues/102552#issuecomment-1264460389.

[2022-10-05 03:20] compiler-errors commented on #102688
I have a hacky solution to fix this and to fix https://github.com/rust-lang/rust/issues/101968#issuecomment-1252815586, but it's disgusting, so I want to separate it from #101679.

[2022-10-05 05:00] nnethercote commented on #73307
We have four different people reporting similar but different things. Going through them one by one.

@Right2Left: when I profile with Massif I see three peaks, with memory use dropping to almost zero after each one. The peak for the `test_vec_not_clear` call is smaller because it's just a `Vec` plus the one million copies of `value`. The peak for the `test_map_not_clear` calls are larger because

[2022-10-05 05:13] compiler-errors commented on #102518
Made some progress:
[code]

@rustbot claim

[2022-10-05 05:16] BlackHoleFox commented on #102643
@rustbot claim

[2022-10-05 07:36] WaffleLapkin opened #102696 "Tracking Issue for `{Option,Result}::owned`"
Feature gates: `#![feature(option_owned)]`, `#![feature(result_owned)]`

This is a tracking issue for `owned` method on `Option` and `Result`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #98061
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-10-05 09:14] apiraino commented on #101350
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101350.20ignored.20regions.20constraints.20when.20normalizing.20user-p.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-10-05 09:25] apiraino commented on #100544
@seanpianka I think at this point I agree with your opinion (also by looking at this [comment](https://github.com/rust-lang/rust/issues/100544#issuecomment-1215907088)).

@jackh726 do you agree this can be closed without further action? is it a case of intended behaviour but perhaps poorly communicated to users? other interesting points to note here?

thanks!

[2022-10-05 09:26] RalfJung commented on #102402
Should we add a test for this?

[2022-10-05 09:28] oli-obk commented on #95921
The error is now

[code]

[2022-10-05 09:42] apiraino commented on #99656
I'll nominate for `T-compiler` meeting for an opinion on how to proceed (e.g. understand how impacting this could be due to the unclear origin, possibly find an owner if it turns out to be worth being investigated soon)

@rustbot label I-compiler-nominated

[2022-10-05 10:17] wucke13 opened #102702 "rustc fails to compile complicated `uom` code that reaches out on `num_trait`'s `libm` feature"
### Code

Running this command on https://github.com/wucke13/uom/commit/7dce87a1a2fc0c9c334403ab16cb9fcd297355b0 yields a whole lot of errors. Throughout multiple rust versions we encountered hard to debug problems over in https://github.com/iliekturtles/uom/pull/309 which we suspected to be related to unwanted recursion. Today I gave it another shot with a nightly compiler and got a different res

[2022-10-05 10:52] JustForFun88 opened #102703 "hashbrown tests fail on `Rust / test (ubuntu-latest, i586-unknown-linux-gnu, nightly)`"
Hashbrown crate starts fail when running `Rust / test (ubuntu-latest, i586-unknown-linux-gnu, nightly)` with:
[code]
Full log file can be found [here](https://github.com/rust-lang/hashbrown/actions/runs/3188684403/jobs/5201632441) in [rust-lang/hashbrown#363](https://github.com/rust-lang/hashbrown/pull/363).

### Backtrace

<details><summary>Log</summary>
<p>

[code]
</p>
</details>

[2022-10-05 11:14] estebank commented on #82633
Feel free to take https://github.com/rust-lang/rust/pull/83915/files#diff-8c64c576ccaceb816e71d2279a6ee4bf79211bc06f55c46dda3f98a18748ad7a to close this.

[2022-10-05 11:22] TaKO8Ki commented on #96594
Minimal Example:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2d338d00f2ef169fe0c65b8606587ffa

[2022-10-05 11:26] Alexendoo commented on #101665
The ICE part was fixed by #102597

[2022-10-05 11:41] #100607 closed

[2022-10-05 12:20] Visic opened #102705 "nightly 1.66 x86_64-unknown-linux-gnu compiler error"
Note: Switching back to 1.65 compiles fine

`rustc --version --verbose`:
[code]

### Error output

[code]
</p>
</details>

[2022-10-05 12:29] NickLarsenNZ commented on #45127
Oh man, need this right now. Kustomize plugins look for a TitleCaseFileName.

To save having to do an extra rename, I'll just live with the warnings.

[2022-10-05 12:59] Rageking8 commented on #102705
@rustbot label +E-needs-mcve

[2022-10-05 13:03] Rageking8 commented on #82633
@rustbot claim

For adding the test.

[2022-10-05 13:40] sjud commented on #102588
Oops, sorry! This was a low effort bug report. :(
I'll try and replicate the error later. Thank you!

[2022-10-05 14:02] Visic commented on #102705
Oddly enough, I can no longer reproduce this issue.
In the hopes that any of this helps, the steps I went through this morning were..

1. Clean the project and update dependencies (Although I might have stopped the update prematurely)
2. Realize I should update to the latest nightly, so go ahead and update to 1.66
3. clean, update, and build (run into this issue)
5. set the rust_backtrace and buil

[2022-10-05 14:17] Nugine opened #102709 "Incorrect auto-vectorization on a simple for-loop"
I tried this code:

<https://rust.godbolt.org/z/5dE9h9G3T>

Compiler flags: `-C opt-level=3 -C target-feature=+avx2`

[code]

I expected to see this happen: The function should be compiled to a small scalar loop.

Instead, this happened:

<details><summary><strong>Huge ASM</strong></summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]

[code]

[2022-10-05 14:37] Rageking8 commented on #102709
@rustbot label +T-compiler +A-codegen +I-heavy +I-slow

[2022-10-05 14:43] Rageking8 commented on #102709
@rustbot label +T-compiler +A-codegen +I-heavy +I-slow

[2022-10-05 14:48] #55235 closed

[2022-10-05 15:08] Rageking8 opened #102711 "Recover from missing `crate` or other scope resolution in `use` where appropriate"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5e4e7b9267c47b552cb72774775f3b2d)

[code]

The current output is:

[code]

Ideally the output can look something like this:

[code]

This can also be extended to other items such as functions and variables. The help should only be emitted if an exact match exist in the parent scope and the sco

[2022-10-05 15:39] elichai opened #102712 "Valgrind triggered on correct rust code - Potential miscompilation"
The following source code:
<details>
  <summary>main.rs</summary>

[code]

</details>

Compiled with `cargo +nightly run --release`
This works the same with the libstd's`String` but with debug assertions enabled (so that alignment checks will be executed)

`rustc --version --verbose`:
[code]

<details><summary>Valgrind Output</summary>
<p>

[code]
</p>
</details>

@tavianator checked the assembly

[2022-10-05 15:55] ChrisDenton opened #102714 "`raw-dylib` imports not being linked when inlined from a dylib"
See https://github.com/rust-lang/rust/pull/102327#issuecomment-1258863431

When an imported foreign function is inlined from a dylib, a normal `#[link(name="...")]` will cause the associated import library to also be linked into the final binary. However, when using [`raw-dylib`](https://github.com/rust-lang/rust/issues/58713) no import library is linked which causes linking to fail.

cc @dpaoliel

[2022-10-05 15:58] nbdd0121 opened #102715 "Unsoundness when a panic Rust code is caught by separetely compiled Rust code through FFI-unwind"
Rust code might be able to catch foreign Rust code through FFI unwind.

a.rs:
[code]

b.rs:
[code]

These two crates *could* be compiled with different Rust versions, or same version with different flags (e.g. struct layout randomisation), and this will create unsoundness because we couldn't guarantee the ABI for separate compilations.

Currently we just use the exception class in the unwind runti

[2022-10-05 16:00] nbdd0121 commented on #102715
@rustbot label: +F-c_unwind +WG-project-ffi-unwind +I-unsound +requires-nightly +A-ffi +A-runtime

[2022-10-05 16:48] compiler-errors commented on #102705
I caused this. Let me put up a fix.

[2022-10-05 16:57] DesmondWillowbrook commented on #87417
What's the status of this issue? I'd be happy to try and pursue [stabilization](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html) if it's ready.

[2022-10-05 17:02] devendranaga commented on #102658
@the8472  Thats very good to know. Thank you very much.

[2022-10-05 17:02] #102658 closed

[2022-10-05 17:13] matthiaskrgr opened #102716 "invalid -Ctarget-cpu could fail more gracefully?"
`rustc helloworld.rs  -C target-cpu=lol`

will print a ton of identical/similar warnings:

[code]

[2022-10-05 17:16] leonardo-m commented on #102709
What exactly is the asm should rustc produce here?
(Currently rustc mostly/totally unrolls the loop. That's why the asm is very long.)

[2022-10-05 17:42] the8472 commented on #102709
`-Copt-level=s` produces a simple scalar loop without any unrolling. Doing a simple `cargo bench` with 1MB random data and a randomly initialized LUT shows that the simple loop is a bit faster than the unrolled one.

[2022-10-05 17:54] #66151 closed

[2022-10-05 17:54] #100137 closed

[2022-10-05 18:31] Nugine commented on #102709
The unrolled one is ok. But the auto-vectorization looks terrible since there are so many `vpinsrb` instructions.

[2022-10-05 19:23] dtolnay commented on #43244
I noticed linked list's DrainFilter is missing Send and Sync impls. I believe these types should have identical autotrait impls because they do not differ in thread safety.

### std::vec::DrainFilter:

![Screenshot from 2022-10-05 12-20-26](https://user-images.githubusercontent.com/1940490/194144488-2fbb2d56-0897-4c79-bcdb-5efaf7b26261.png)
https://doc.rust-lang.org/1.64.0/std/vec/struct.DrainFilt

[2022-10-05 20:27] nnethercote commented on #73307
As far as I can tell Rust is doing the right thing here in all cases, even though the system allocator's behaviour may be surprising in some cases.

[2022-10-05 20:27] #73307 closed

[2022-10-05 22:25] sffc commented on #76014
Also useful would be a `split_at` method that returns an `Option<&[T], &[T]>` instead of panicking.

[2022-10-05 23:42] #99852 closed

[2022-10-05 23:42] #102317 closed

[2022-10-06 00:19] wonchulee commented on #100717
I mislinked work in progressed PR, fixed to point https://github.com/rust-lang/rust/pull/101935

[2022-10-06 00:21] cuviper commented on #102703
That's probably introduced by #102530, but I haven't looked further yet.

[2022-10-06 04:11] djkoloski opened #102722 "`PartialEq` impl for `IpAddr` causes `SIGBUS` on `mips-unknown-linux-gnu`"
I tried this code on `mips-unknown-linux-gnu` through `cargo-cross`:

[code]

[code]

I expected to see this happen: the program exits successfully.

Instead, this happened: `qemu: uncaught target signal 10 (Bus error) - core dumped`

This is truly baffling because:

1. This is extremely plain code, just a struct in an enum.
2. This is crashing in the implementation of `PartialEq` which has been g

[2022-10-06 04:26] CAD97 commented on #90850
Instead of `downcast_unchecked`, is there a good reason to not just have the more general

[code]

? I suppose you lose the `debug_assert!` for correct typing which is possible if you have `dyn Any`, though it is true that you can already `any.downcast().unwrap_unchecked()` for that.

[2022-10-06 04:56] saethlin commented on #102722
Trying to repro, but I can't.
[code]
Is it possible this is related to a qemu version?

[2022-10-06 05:03] djkoloski commented on #102722
Maybe? I thought it might also be host platform specific but then remembered that the same issue occurred locally (on Windows) and [in a GitHub action](https://github.com/rkyv/rkyv/actions/runs/3192861765/jobs/5210926280) (on Ubuntu). I updated `cross` just in case as well and it still expressed for me.

[2022-10-06 05:17] bgilbert opened #102727 "Performance regression in 1.64+ when `BufReader` inner reader doesn't fill the buffer"
### Code

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

The problem doesn't occur with optimization enabled.

### Version it worked on

It most recently worked on:

[code]

### Version with regression

[code]

Also fails on:

[code]

@rustbot modify labels: +regression-from-stable-to-stable -regression-untriaged

[2022-10-06 05:41] scottmcm commented on #101970
We discussed this in the lang meeting this week.

I don't think we had agreement on what the way forward should be, but we had consensus that

- The inference breakage of just making the basic change is more than we're willing to accept.
- We're interested in seeing a plan to make a migration path reasonable over an edition
  - We don't know what that plan should be.
  - But needing `..<Foo<A, B>>

[2022-10-06 05:53] saethlin commented on #102727
Thanks for reporting this! This is an issue with a debug build so it's unlikely to be prioritized high but I'm interested in helping out because this is very goofy.

The slow code here is the Iterator impl on slices. I think in the last stable release we switched the implementation of BufReader to eventually use ReadBuf, and the slow code is ReadBuf initializing the remaining uninitialized capacit

[2022-10-06 06:08] axos88 opened #102728 "Orphan rule checking too strict for associated types"
I tried this code:

[code]

I expected to see this happen: both commented code and uncommented code should compile fine

Instead, this happened: orphan rule is triggered:

error[E0117]: only traits defined in the current crate can be implemented for types defined outside of the crate
  --> src/my_crypto.rs:95:1
   |
95 | impl<'a> From<&'a <MyAccountKey as Crypto>::AccountKey> for ForeignFoo {
   |

[2022-10-06 06:24] Nilstrieb commented on #102711
We already have similar logic for normal uses of items
[code]
[code]

[2022-10-06 07:40] Nilstrieb commented on #102722
[Between `2.4.0` and `main` of `cross`](https://github.com/cross-rs/cross/compare/v0.2.4...main#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5), QEMU has been bumped from `5.1.0` to `6.1.0`.

[2022-10-06 08:37] andreeaflorescu opened #102730 "Build with memory sanitizer causes panic"
### Code

This seems to happen when compiling rustc-std-workspace-core v1.99.0.
I am unsure what Rust code triggers this. I am running the following commands:

[code]

### Meta
`rustc --version --verbose`:
[code]

I've tried the build with other nightly versions as well and it still fails but does not provide a stack trace.

### Error output

[code]

<details><summary><strong>Backtrace</strong></s

[2022-10-06 08:58] #102643 closed

[2022-10-06 09:45] GoldsteinE opened #102731 "False positive for conflicting implementations"
I tried this code ([playground]):

[code]

[playground]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5f1c551c59778be5fa911dd8015066ba

I expected to see the code to compile.

Instead this failed to compile with the following error:

[code]

I don’t think that `FromResidual<Bool> for Option<T>` conflicts with `FromResidual for Option<T>`, since the latter is actually `F

[2022-10-06 10:03] apiraino commented on #102703
Quick repro:
[code]

and then

[code]

[2022-10-06 10:11] olivier-fs opened #102733 "error[E0588]: packed type cannot transitively contain a `#[repr(align)]` type"
Hi!

I'm trying to build  the bindgen tutorial example from :
https://rust-lang.github.io/rust-bindgen/tutorial-0.html
=> https://github.com/fitzgen/bindgen-tutorial-bzip2-sys
=> https://fitzgeraldnick.com/2016/12/14/using-libbindgen-in-build-rs.html

It's an exemple binding to bzip2 (just as an exemple ; the author knows about bzip2 and bzip2-sys crates).

I'm using :
- rustc 1.64.0 (a55dd71d5 20

[2022-10-06 10:14] RalfJung commented on #72302
There are some soundness issues with `poll_fn` as is (not strictly speaking a soundness bug, but we might still want to do a breaking change now before there are too many people relying on this): the fact that `PollFn<F>` is always `Unpin` is a problem. It should require `F: Unpin` for that.

See [IRLO](https://internals.rust-lang.org/t/surprising-soundness-trouble-around-pollfn/17484/14) for deta

[2022-10-06 10:18] apiraino commented on #102727
WG-prioritization assigning highest priority since this looks a pretty visible runtime perf. regression ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102727.20Performance.20regression.20in.201.2E64.2B.20when.20.60BufReader.60.20in.E2.80.A6)). If the assessment should be revised, please feel free to comment.

@rustbot labe

[2022-10-06 10:37] petrochenkov commented on #102352
In HIR `pub use crate::builder::Foo;` desugars into two items (import in type namespace and import in value namespace).
One of them is externally reachable and another is not (before https://github.com/rust-lang/rust/pull/102109 both of them were incorrectly marked as externally reachable).

Code in `compiler\rustc_lint\src\builtin.rs` should somehow account for this desugaring and not report the

[2022-10-06 10:54] lcnr opened #102734 "failing orphan check with associated types should suggest using the associated type directly."
[code]
results in
[code]
ideally it should mention that `<() as Trait>::Assoc` may actually be local to the current crate and that the user could replace that projection with the associated type itself.

[2022-10-06 10:55] lcnr commented on #102728
your snippet fails the orphan check. the orphan check does not look into associated types as it has to run before we are able to do so.

It is therefore not able to tell that `<MyAccountKey as Crypto>::AccountKey` would be a local type and this is expected behavior. Opened #102734 to potentially improve the error message here

[2022-10-06 10:55] #102728 closed

[2022-10-06 10:59] ortem opened #102735 "Macro call breaks debug line information in PDB"
Certain macro calls seem to break the debug line information in PDB files.

Consider the following code:
[code]
When the debugger stops at `println!` call, it does not show `my_string_2` variable and is unable to evaluate it when adding it as a watch. This affects both Visual Studio debugger and MSVC-enabled LLDB, with 1.64.0-stable and 1.66.0-nightly Rust toolchains.

![string_println_debuginfo_b

[2022-10-06 11:39] RalfJung commented on #72302
I am proposing to change the `Unpin` impl in https://github.com/rust-lang/rust/pull/102737.

[2022-10-06 12:38] Nugine opened #102738 "Intrinsic name not mangled correctly for type arguments"
My project uses **arm neon intrinsics**. The arm test starts failing after 2022-10-04.

Reproduce:
[code]

<https://github.com/Nugine/simd/actions/runs/3191907964/jobs/5214086504>

[code]

`rustc 1.66.0-nightly (57f097ea2 2022-10-01)` works.

`rustc 1.66.0-nightly (c97d02cdb 2022-10-05)` works (incremental compilation enabled)
`rustc 1.66.0-nightly (c97d02cdb 2022-10-05)` fails    (**incremental c

[2022-10-06 13:28] nowakf opened #102739 "internal compiler error: unexpected panic"
Unfortunately, I can't reproduce the bug. I tried to create a minimal reproduction, but the compiler stopped crashing, even when I reverted the source to the state it was when it crashed.

Attached is rustc output, with RUST_BACKTRACE=1.

[compiler_bug.txt](https://github.com/rust-lang/rust/files/9725192/compiler_bug.txt)

[2022-10-06 13:45] apiraino commented on #102727
I've tried bisecting with `cargo bisect` and feeding this command: `rustc main.rs && timeout 2 ./main`.

Regression seems to be in 50166d5e5e82ca795306824decbe4ffabcc23d3d and confirm #98748

<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v0.6.0</summary>

Host triple: x86_64-unknown-linux-gnu
Reproduce with:
[code]
</details>

[2022-10-06 13:59] barafael opened #102740 "ICE while compiling `tower` (broken MIR in DefId)"
### Code

[achat.zip](https://github.com/rust-lang/rust/files/9725403/achat.zip)

(working on simplifying it, still)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-10-06 14:20] saethlin commented on #102727
:joy: I was so sure this wasn't my fault. More fool me for not bisecting it myself.

[2022-10-06 14:48] pnkfelix commented on #102727
(This probably shows an opportunity to add a benchmark to the newly-established "runtime benchmarks" (rather than the compilation-time benchmarks that perf.rlo has classically focused on...)

[2022-10-06 14:54] djkoloski commented on #102722
Thanks for the help everyone, I think this is pretty conclusively a `cross` issue. I've moved the issue to the `cross` repo here: https://github.com/cross-rs/cross/issues/1060

[2022-10-06 14:54] saethlin commented on #102727
After sleeping on this, I realized that there's no real reason to expect the world-worst-memset code which is the source of the slowdown to be totally optimized out with `--release`. And of course it isn't. This is also a substantial regression with optimizations. Here's a version of the original program that's touched up a bit:
[code]
On 1.63 I see runtime ~0.43 s, and on 1.64 ~4.8 s. So we have

[2022-10-06 14:55] cuviper commented on #102703
I can reproduce with a simple `cargo new` hello-world when running in an older container. I think it's related to the user having binutils < 2.32, which would be fixed by https://sourceware.org/bugzilla/show_bug.cgi?id=23919

Our new i586-gnu cross toolchain appears to be compressing `.debug_line` *by default*, like the `gcc -gz=zlib` option, but I don't know why it's happening on this one and not

[2022-10-06 15:49] Gankra commented on #102174
I have not, it's on my TODO list to figure out how platforms-that-aren't-host-but-can-run-on-host should be handled by abi-checker, since that's a lot easier than the full cross-compile case but also I'm not sure what problems come up if you build an i386 dylib and load it into an x64 process on the various platforms (esp when passing opaque pointers across the dylib boundary).

[2022-10-06 15:54] Gankra commented on #102174
More broadly, I'm not sure [abi-cafe](https://github.com/Gankra/abi-cafe) would be able to catch this since the ultimate ABI *is* correct, it's just that llvm freaks out after cross-lang LTO. Maybe this is something abi-cafe should support checking? I'm not sure how hard it is to setup.

llvm has had other bugs like this before too, right? istr something wonky about inlining functions compiled for

[2022-10-06 15:59] lyming2007 commented on #102598
@rustbot claim

[2022-10-06 16:06] RalfJung commented on #102712
From what I [learned](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/Reading.20uninitialized.20integers/near/302568093)

So this might be a case of that.

[2022-10-06 16:10] bjorn3 commented on #102174
Cranelift doesn't allow assigning exact registers. Cranelift is pretty much exactly on the same level as what rustc_target exposes. You tell it the calling convention (for assigning registers and stack locations) and a list of input and output [`AbiParam`](https://docs.rs/cranelift-codegen/latest/cranelift_codegen/ir/struct.AbiParam.html) where each `AbiParam` has a primitive type (i8, i16, i32, i

[2022-10-06 16:23] bjorn3 commented on #102174
@Gankra `cargo run --target i686-unknown-linux-gnu` works just fine on an x86_64 host and compiles the tests for i686. I get the following results:

[code]

The errors I get are:

[code]

and

[code]

[2022-10-06 16:46] barafael commented on #102740
on current nightly, the issue is resolved.

[2022-10-06 16:54] matthiaskrgr commented on #102740
perfect, thanks, closing. :slightly_smiling_face:

[2022-10-06 16:54] #102740 closed

[2022-10-06 17:06] amab8901 opened #102743 "Future-Incompatible Lint - Improve Example"
I was reading about future-incompatible lints on [this](https://doc.rust-lang.org/rustc/lints/index.html) page.

First of all, I struggled to reproduce the lint warning, and it would have been really educational if you provided an example of how to trigger that lint warning for future incompatibility (please add example of how I can trigger the warning showed in that section).

Second, I tried app

[2022-10-06 17:51] cuviper commented on #102703
I found this commit in binutils:
https://sourceware.org/git/?p=binutils-gdb.git;a=commit;h=4e3e1fdf327b225b28b754d96a4d592fb3a23df0

That is, gas (the assembler) enables compression by default only on Linux/x86, which is why we haven't had this problem with other crosstool-ng toolchains. I'll explicitly turn that off.

[2022-10-06 17:55] compiler-errors opened #102745 "`async fn` in trait should require `async fn` in impl"
For now, we've decided that an `async fn() -> T` in a trait should not be satisfied by a `fn() -> Type` where `Type: Future<Output = T>` until we at least hammer out how `#[refine]` is gonna work, etc.

So let's just do a HIR check that the signatures are compatible.

[2022-10-06 17:56] compiler-errors commented on #102745
Assigning to @ComputerDruid who expressed interest in working on this.

[2022-10-06 17:56] compiler-errors commented on #102745
@rustbot assign @ComputerDruid

idk if that works, the github UI doesn't let me assign to you :stuck_out_tongue_closed_eyes:

[2022-10-06 18:10] ComputerDruid commented on #102745
@rustbot claim

[2022-10-06 18:16] amab8901 opened #102746 "Explain use-case(s) of lint capping"
I'm reading about capping lints on [this](https://doc.rust-lang.org/rustc/lints/levels.html) page.

I understand that `--cap-lints` tag will filter out the higher-severity lints and keep only the lower-severity lints. And I also understand that Cargo automatically runs that tag on `allow` level. But what would be a high-value use case of me actually writing that tag manually? Aren't the higher-int

[2022-10-06 18:24] jimblandy commented on #95027
We could have avoided the `unsafe` block that led to gfx-rs/wgpu#3076 by using this function. I hope it gets stabilized.

[2022-10-06 18:50] matthiaskrgr commented on #102746
If you have a crate where you absolutely do not want pattern X in its code, you can use `deny(somelint)` to make findings of that pattern a hard error, whenever someone does `cargo check` or `cargo build`.

Now if someone else wants to still build your crate without editing the code, they can work around the `deny(x)` you set downgrading the "severity" of the lint from `deny` to `warn` using `--ca

[2022-10-06 19:04] nikic commented on #102738
Looks like stdarch hardcodes LLVM intrinsic mangling in a few places. These should be changed from p0i8 to just p0 in LLVM 15: https://github.com/rust-lang/stdarch/search?q=p0i8

Usually this gets gracefully handled through intrinsic remangling, I don't know why that doesn't occur for your particular case. Updating stdarch to directly use the right names should avoid any problems though.

cc @Aman

[2022-10-06 19:22] tylerhawkes opened #102749 "ICE when resolving auto traits during incremental compilation"
Possibly related:
https://github.com/rust-lang/rust/issues/102739

### Code

Unfortunately, this is probably an incremental compilation issue, so probably not reproducible. This is the 3rd time I've run into this in the last day. `cargo clean -p <my-crate>` seems to fix it. The previous issues were also with `Send` and `Sync` so it appears to be an issue with resolving auto traits. The `UserCompar

[2022-10-06 19:35] dwrensha opened #102751 "Region parameter out of range when substituting in region"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):

[code]

[code]

[2022-10-06 20:04] dwrensha commented on #102751
This regressed in #95779, specifically in https://github.com/rust-lang/rust/pull/95779/commits/fc9f25531a3681f0644267eb954d51f4b22ff5b7.
cc @cjgillot

[2022-10-06 20:08] GuillaumeGomez commented on #93784
A new spurious failure appeared in https://github.com/rust-lang/rust/pull/102744.

[2022-10-06 20:33] sceedy commented on #102638
The nightly compiler stated to build without error yesterday (cargo configurations uploaded under 'date'.txt).
[06 October 2022.txt](https://github.com/rust-lang/rust/files/9728371/06.October.2022.txt)
[05 October 2022.txt](https://github.com/rust-lang/rust/files/9728372/05.October.2022.txt)
However xargo dir not build all the standard libraries so I switched to :-
cargo build -Z build-std=std,cor

[2022-10-06 20:46] RalfJung commented on #102549
This looks like it might be related to https://github.com/rust-lang/rust/pull/100201. But given that CI passed that change in general seems to work, so the question is why it would fail only for you?

If you just try to build this is a crate with no dependencies, does that work?
[code]
If that still shows the error, what does `rustc filename.rs --pretty=expanded` on that file show?

[2022-10-06 20:46] Phosra commented on #94922
Closing in favour of letting this be fixed by LLVM auto-vectorisation of inclusive ranges, eventually.

See <https://github.com/rust-lang/rust/issues/45222#issuecomment-363008094>

[2022-10-06 20:47] #94922 closed

[2022-10-06 20:51] apiraino commented on #102703
great detective work @cuviper thanks! :)

[2022-10-06 20:53] RalfJung commented on #102403
Probably another apfloat bug, either in the LLVM original or in the transpilation?
Which is even the correct answer?
Cc @eddyb @workingjubilee

[2022-10-06 20:55] RalfJung commented on #101907
Yeah it is confusing. :D Could you explain what happens?

[2022-10-06 21:07] jachris commented on #101907
From what I can tell, yes. The logic that determines that commit seems to not account for merge commits. But @jyn514, who helped me troublshoot this issue initially, might know the details.

[2022-10-06 21:11] glandium opened #102754 "ld64.lld: error: too many personalities (4) for compact unwind to encode"
When mixing ObjC, C++ and Rust in the same binary on aarch64-apple-darwin targets (e.g. like in Firefox), lld from LLVM 15 complains about "too many personalities". This is a regression from #92845 and affects beta.

For some reason, since #92845, this code in lld is hit: https://github.com/llvm/llvm-project/blob/d30dccd21f2c3bc1ed6cd054c131436a1af548e1/lld/MachO/UnwindInfoSection.cpp#L300

Ultima

[2022-10-06 21:21] olivier-fs commented on #102733
Excerpt from bindgen generated bindings.rs :
[code]

So these are nested struct, and rustc complains about the repr(align(4)) of the innermost struct, when the outer struct has repr(pack(4)).

Can someone with better understanding than I have of this packed vs align conflict confirm that rustc is rightfully raising an error ? I would then forward the issue to the bindgen crate.

Or is that a rustc

[2022-10-06 21:36] nbdd0121 commented on #102715
I think it's worth mentioning that catching a foreign unwind in Rust is UB. I mark this as I-unsound because:
1. We don't have a clear documentation about the situation of Rust code being foreign code.
2. We are currently not guarding against it.
3. It might work by mistake without anyone noticing.

While guarding against it is favorable, this issue could be considered solved if we simply document

[2022-10-06 22:51] SumiGovindaraju commented on #102549
This still throws the same error:
`cargo build`:
[code]

I tried running `rustc src/lib.rs --pretty=expanded` and `rustc -Z unstable-options --pretty=expanded` and both of them give the following error: `error: Unrecognized option: 'pretty'`. Is there an alternate command I can use?

[2022-10-06 23:11] #88365 closed

[2022-10-06 23:11] #102705 closed

[2022-10-06 23:26] saethlin commented on #102727
@rustbot claim

[2022-10-06 23:45] cuviper commented on #102638
Ok, if you're satisfied, I will close this.

[2022-10-06 23:45] #102638 closed

[2022-10-07 00:23] zachs18 commented on #102722
I think this may be a QEMU issue or a miscompilation, and not a `cross` issue, since I can observe it without `cross` at all on `qemu-mips version 7.0.0 (Debian 1:7.0+dfsg-7ubuntu2)` on Ubuntu Kinetic (20.10 pre-release) using rust 1.64.0 stable.
[code]
(same main.rs as OP, default Cargo.toml, run `sudo apt install gcc-mips-linux-gnu qemu-user gdb-multiarch`)
[code]
[code]

Specifically, I observe

[2022-10-07 00:31] Gankra commented on #102174
Ok so I should just figure out a way to optionally flip on LTO for `clang_calls_rustc`, nice!

[2022-10-07 01:25] antiphoton opened #102762 "Internal Compiler Error"
### Code

[Rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5c6c09b18b792a9d74242fe45d528cf2)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-07 01:45] bryangarza commented on #102682
Ah, so https://github.com/rust-lang/rust/issues/102681 and [the](https://github.com/rust-lang/rust/issues/102552#issuecomment-1264460389) are all the same? Okay, I'm going to use this one as the master one and link it in all 4 tests.

[2022-10-07 01:46] bryangarza commented on #102681
Dupe of #102682

[2022-10-07 02:04] compiler-errors commented on #102682
Thanks, and sorry for the confusion.

[2022-10-07 02:22] compiler-errors commented on #102762
Minimized:

[code]

[2022-10-07 02:43] amab8901 commented on #102746
oh, thanks. That makes a lot of sense. So if the project compiles without errors, but it has tons of noise from warnings, you can pick one flaw in particular and focus on solving that one by elevating its lint to error-level and using `--cap-lints` to ignore the noise from the other flaws that the compiler is complaining about, so you can focus more easily on that one flaw until it's fixed. Thanks

[2022-10-07 04:18] CAD97 commented on #87586
As of some point between `cargo 1.65.0-beta.2 (082503982 2022-09-13)` and `cargo 1.66.0-nightly (0b84a35c2 2022-10-03)`, the behavior here has changed, and `cargo test -- --include-ignored` no longer runs documentation tests.

<details><summary>example pwsh session</summary>

[code]
</details>

Now in order to run ```` ```ignore```` documentation tests, you *have* to use `cargo test --doc -- --ign

[2022-10-07 04:26] CAD97 commented on #87586
To be clear, this change makes the nightly state

| | compile | run |
| -- | -- | -- |
| ```` ```ignore```` | with `test --doc -- --ignored` | with `test --doc -- --ignored` |
| `#[ignore]` | with `cfg(test)` build | with `test -- --ignored` |

Personally I think this is a completely reasonable state and nothing needs to be added.

[2022-10-07 04:41] CAD97 commented on #82715
Note that the cargo update on nightly to clap4 has changed behavior such that `cargo test -- --ignored` no longer runs documentation tests, though `cargo test --doc -- --ignored` still does. [See the other issue for more context.](https://github.com/rust-lang/rust/issues/87586#issuecomment-1271091766)

rustdoc is limited in what it can do here in that it essentially creates a single `#[test]` that

[2022-10-07 05:05] DemiMarie commented on #102715
I would like to see this somewhat changed in the future.  Specifically, I would like:

- Throwing e.g. a C++ exception across Rust stack frames causes Rust destructors to be called.
- A Rust panic that unwinds into C++ causes C++ destructors to be called.
- Cross-language exception objects are completely opaque: one can drop them (which will call its destructor, if applicable) or rethrow them, but

[2022-10-07 06:01] bjorn3 commented on #102715
You can't rethrow foreign exceptions without hooking directly into the runtime of the respective language when catching them and when rethrowing them. libstd can't hook into the C++ standard library, so rethrowing after std::panic::catch_unwind is out of the question.

[2022-10-07 06:15] matthiaskrgr opened #102768 "ice: unexpected non-type generic_const_exprs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc <file> "-Zcrate-attr=feature(generic_const_exprs)"`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-07 06:15] bryangarza commented on #102682
Gotcha, yeah I'll keep all of the tests in the PR! :)

[2022-10-07 06:16] e2-71828 commented on #42168
Would it be possible to add an implementation of `Step` for `*const T` and `*mut T` safely (perhaps via `wrapping_offset`)?  That would mean that `slice::get_{mut_,}ptr_range` would then be returning an iterator over the slice’s element pointers, which can make certain `unsafe` access patterns simpler to write.

cf. [This IRLO topic](https://users.rust-lang.org/t/write-an-iterator-returning-multip

[2022-10-07 06:21] TennyZhuang commented on #101750
FYI, it seems that the bug is not related to `async` but to every nested `impl trait`.

[code]

[2022-10-07 07:18] nakatomotoi commented on #99144
@rustbot claim

[2022-10-07 08:15] mankinskin commented on #62633
My god, what is the harm in adding `unwrap_none` and `expect_none(msg)`? So many people are asking for this very API because they find it useful.

People here seem to completely miss the idea behind using it. It is obviously not about unwrapping to get some value, but about panicking when it is not none. maybe "unwrap_none" sounds a bit odd, but "expect_none" is very clear. Also "unwrap_none" make

[2022-10-07 08:31] Nilstrieb commented on #102746
The most important use case for cap-lints are dependencies. Cargo builds all dependencies with cap-lints, so that crates can `deny(warnings)` just fine, even if new warnings are added that crates haven't fixed yet.

[2022-10-07 08:40] epbuennig opened #102770 "Lint: `unused_assignments` lint not triggered when assigning though `Option` on a `Copy` type"
When matching over a `&mut Option` and binding the result to a `mut PATTERN` instead of a `ref mut PATTTERN` or `PATTERN`, the resulting pattern is moved out, for copy types this will usually result in an `unused_assignments` lint.

Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1a5bc95859328b95d21023136c0c743f)), this doesn't happen,

[2022-10-07 08:46] kamulos opened #102771 "Different behavior of the `let_underscore_lock` lint in rustc compared to clippy"
I tried this code with the new rustc lint:

[code]

Clippy warns here, but rustc doesn't. This might be intentional, but I think this could be a source of mistakes...

The rustc lint is triggered, as soon as I use `.lock().unwrap()`

### Meta

`rustc --version --verbose`:
[code]

[2022-10-07 08:58] amab8901 opened #102772 "+ and - keyboard shortcuts mixed up in docs page"
Take any page in the Rust docs, for example [this](https://doc.rust-lang.org/std/index.html). When you press the `+` or `-` keyboard shortcuts on your keyboard, they are supposed to either collapse or expand all items on the page, but not both (according to the instructions that you can find by clicking `?` on your keyboard (or on the screen).

Please make the + and - keyboard shortcuts idempotent

[2022-10-07 09:34] Dylan-DPC commented on #31943
Closing this as build system has changed a lot since this issue was created

[2022-10-07 09:34] #31943 closed

[2022-10-07 09:42] jyn514 commented on #82715
There's some flag to compile only and persist the doctest afterwards, which lets you run the doc test manually yourself. But I'm not sure that rustdoc actually emits the name of the generated file which makes it kind of useless.

[2022-10-07 09:45] RalfJung commented on #102549
@thomcc you're on macOS right? Any chance it's a aarch64-apple-darwin? AFAIK our CI builders are x86 machines, so maybe this has to do with the aarch64 target -- but I am sure we would have heard sooner of thread_local was entirely broken on aarch64-apple-darwin...

Hm, that's what I get for copy-pasting commands from the web... I am looking for whatever the playground does when you ask it to 'exp

[2022-10-07 09:48] RalfJung commented on #102549
@SumiGovindaraju ah here we go: `rustc -Zunpretty=expanded filename.rs`. What does that print?

[2022-10-07 10:15] TennyZhuang commented on #101750
I've tested with the following codes:

[code]

It seems that the result of `mir_borrowck` is wrong:

[code]

It seems that `0:11` wasn't be resolved correctly.

[2022-10-07 10:20] #102397 closed

[2022-10-07 10:20] #102703 closed

[2022-10-07 10:36] joboet commented on #93740
A few things to note regarding the choice between parking-lot- (PL) and inline-queue-style (IQ) locks:
* SGX does not have an OS-provided mutex. A PL would probably need to use spinlocks here, which is unfortunate. It is however the only platform with that limitation
* IQ locks are probably faster, since a thread waiting on a lock using a PL needs to park potentially twice upon heavy contention (o

[2022-10-07 10:48] ouz-a commented on #88015
@rustbot claim

[2022-10-07 10:52] amab8901 opened #102774 "lint `missing_doc_code_examples` is apparently missing documentation"
[This](https://doc.rust-lang.org/rustdoc/write-documentation/what-to-include.html) page mentions the lint `missing_doc_code_examples`, but I couldn't find it in any of these 3 [subpages](https://doc.rust-lang.org/rustc/lints/listing/index.html), i.e. 3.3.1, 3.3.2, 3.3.3.

Please check if `missing_doc_code_examples` is a valid lint. If it's valid, then add it in the approrpate rustc doc page (3.3.1

[2022-10-07 11:00] gimbling-away opened #102775 "Failing to infer type of T::into() in [] operator, results in broken diagnostic."
[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=37aa5e0d1f97c184f3d035bf5b4f2fcf)

I tried this code:

[code]

Error ->
[code]

I expected to see this happen: It should infer the type, or at least emit a correct diagnostic.

Instead, this happened: It errors, with the diagnostic containing a non-working suggestion.

### Meta
`rustc --version --verbose`:
[c

[2022-10-07 11:24] alyssais commented on #71213
The methods in `std::os::wasi::fs::FileExt` look a lot like the POSIX `*at` methods.  Would it be possible to make this extension available for all Unix platforms, rather than limiting it to wasi?

There are a lot of reasons to want to use these methods from other Unix operating systems:

- They make it possible to work with paths longer than MAX_PATH.
- They are the only way to interact with file

[2022-10-07 11:29] alyssais opened #102776 "Make (most?) `std::os::wasi::fs::FileExt` functions available on all Unix platforms"
The methods in `std::os::wasi::fs::FileExt` look a lot like the POSIX `*at` methods.  Would it be possible to make this extension available for all Unix platforms, rather than limiting it to wasi?

There are a lot of reasons to want to use these methods from other Unix operating systems:

- They make it possible to work with paths longer than MAX_PATH.
- They are the only way to interact with file

[2022-10-07 11:38] AE1020 commented on #76187
I don't know anything :innocent: just skimming Rust source to see how it works... and following a few nontrivial issues to try to motivate my understanding.

Seeing this one, it made me curious about how cycles are *ever* handled in datatypes--lifetime or not.  I found a [comment in the definition of Adt](https://github.com/rust-lang/rust/blob/dd8c3a80dd2e5a0b62c3ef77511f3296070f78e2/compiler/rust

[2022-10-07 11:40] Ploppz opened #102777 "Deprecated field should not be warned against when it must be used during struct initialization"
Given the following code:

[code]

The current output is:

[code]

Ideally there should be no warning. Because it's nice to be allowed to use the simple way of constructing a struct, in which case there's no point in avoiding initializing deprecated structs to some default values, or am I the only one who thinks so? I just don't see how this warning can be useful in this use case.

[2022-10-07 12:28] TaKO8Ki commented on #102768
Rgression in #102336

[2022-10-07 12:31] Nilstrieb commented on #102775
Cam you attach the error message here on the issue?

[2022-10-07 13:17] RalfJung commented on #102715
Yeah this makes sense to me. Do we have any documentation talking about linking together Rust code compiled with different toolchains? We already obviously don't allow passing `repr(Rust)` types between them, they have to use FFI-safe types, so arguably it is only consistent to say the same about unwinding.

[2022-10-07 13:18] jackh726 commented on #99492
We talked about this today in a types team meeting (https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/2022-10-07.20Planning.20meeting/near/302848792).

We don't think we learn anything new from this issue (that isn't already a known limitation). We have ongoing work that should help this, but nothing immediate.

[2022-10-07 13:22] jackh726 commented on #100013
This error message sucks, but is likely related to TAITs. Nevertheless, I'm going to take some time this upcoming week (I think) to take a look at least to improve the error message.

[2022-10-07 13:32] jackh726 commented on #101350
This is moving, unnominating.

[2022-10-07 13:36] bjorn3 commented on #102715
Rust panics pass a `Box<dyn Any + Send>` around (passed to panic_any and resume_unwind and returned from catch_unwind) which is not FFI safe, so we shouldn't need to have an extra rule specifically for panics.

[2022-10-07 13:39] nbdd0121 commented on #102715
The problem is that there are no explicit use of `Box<dyn Any + Send>`. The example code in the OP exhibits UB in a quite subtle way.

[2022-10-07 13:46] in42 commented on #102734
@rustbot claim

[2022-10-07 13:55] #102002 closed

[2022-10-07 14:05] joboet commented on #102398
It actually does most of the time, as `thread::spawn` always creates a `Thread`. However, if the thread is created through other means, the `Thread` struct needs to be lazily allocated, which can of course fail. Either way, we also need to protect against the case where `clock_gettime` fails - it should not, but who knows what some obscure system might do (the UNIX parking implementation is used o

[2022-10-07 14:13] jyn514 commented on #81930
Done in https://github.com/rust-lang/rust/commit/973ff033f38a1ee23798560e748a7e2035f49ed0

[2022-10-07 14:52] RalfJung commented on #102549
@SumiGovindaraju could I also ask you for the output of running this program, compiled with the same toolchain?
[code]

[2022-10-07 15:48] RalfJung commented on #102549
So we really have `cfg!(target_thread_local) = false`. No idea if that is expected. And inexplicably, [this](https://github.com/rust-lang/rust/blob/e42c4d7218b2596276152c5eb1e69335621f3086/library/std/src/thread/mod.rs#L220) does not get imported.

I am entirely unfamiliar with macOS details so I hope someone more familiar will pick this up here.

[2022-10-07 15:49] fmease commented on #102456
This strongly relates to the ongoing discussion around the formatting of constant values and expressions in rustdoc. I am in the process of writing an RFC (I've finally found time to start working on it). Your issue would fit in the drawbacks / alternatives section.
( I won't assign myself to this issue since I am already assigned to too many issues related to this topic and no decisions have been

[2022-10-07 17:15] memoryruins commented on #102410
Duplicate of #36375

[2022-10-07 18:03] jruderman commented on #102775
Even variants without the `println!` macro produce bad diagnostics.

### Example 2

[code]

gives no suggestion, and highlights a too-large span:

[code]

### Example 3

[code]

suggests adding an explicit type in a place where it doesn't help:

[code]

### Example 4

After following the suggestion from example 3:

[code]

the compiler finally suggests a possible solution:

[code]

[2022-10-07 18:06] scottmcm commented on #42168
@e2-71828 See https://github.com/rust-lang/rust/pull/91000#issuecomment-982001655 for my thoughts on why a `Step` for pointers is probably not the right API.  And in addition to the `unsafe` factors, unaligned pointers are safely representable, so it's not incredibly obvious to me whether `*const i32` should step by `wrapping_byte_add(1)` or `wrapping_add(1)`, and questions like that discourage tr

[2022-10-07 18:38] RalfJung commented on #87586
I would say running ignored (doc)tests when `--ignored` is set is exactly expected behavior. After all you asked for ignored tests to be executed. *Not* running them would be a bug.

`cargo test --tests -- --ignored` can be used to run ignored tests but not doctests.

[2022-10-07 18:41] cuviper commented on #86890
It looks like `RustDev` unconditionally copies llvm binaries right now, so I think `llvm-tblgen` should be no different.
https://github.com/rust-lang/rust/blob/43c22af267fd9337bc05382b2771dde49d2e9f26/src/bootstrap/dist.rs#L2020-L2033

[2022-10-07 19:00] tylerhawkes commented on #102749
Turns out this is kind of reproducible. I just got a panic in a test crate and then compiled a crate that depends on on the library that generates code and ended up with this stack trace. They looked identical. All I did was rename some fields and a struct in the derived code.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-07 19:33] alercah commented on #53667
This isn't specific to `if let`: `if true && if true {false}` gives the same error.

It would probably have been nice to disallow this long ago by requiring parens for any nested block expression, as is done for struct expressions, but that ship is long sailed. Definitely should be considered for improved diagnostics and maybe a lint, but it shouldn't affect this RFC.

[2022-10-07 19:55] wesleywiser opened #102793 "Stabilize raw-dylib for non-x86"
The `raw-dylib` feature was proposed for stabilization for non-x86 targets in #99916 which the compiler team FCP'd and merged but forgot to tag `T-lang` as well. Sorry about that!

Since that PR has already been FCP'd rfcbot won't allow me to start another FCP on it so I'm creating this issue to act as T-lang's FCP.

[Link to stabilization report](https://github.com/rust-lang/rust/issues/58713#iss

[2022-10-07 20:10] Hezuikn commented on #85614
rip

[2022-10-07 20:51] #102727 closed

[2022-10-07 20:51] #102762 closed

[2022-10-07 20:51] #102768 closed

[2022-10-07 21:04] danielrab commented on #39412
yeah, I agree, no keywords should probably be valid names for metavariables, in case we want to make any of them special somehow

[2022-10-07 21:20] ehuss commented on #102774
All rustdoc lints are on their own page in the rustdoc book. For example: https://doc.rust-lang.org/rustdoc/lints.html#missing_doc_code_examples

[2022-10-07 21:27] matthiaskrgr opened #102796 ""cycle detected" with "const async" fn"
[code]
Seems a bit surprising that we don't bail out immediately when jumping from a function to itself? :thinking:

[code]

[code]

[2022-10-07 22:53] mikebenfield commented on #101872
A little more data:

I did some local testing using the "Self profile" mode of the `perf` tool, compiling `syn` for the Opt profile and scenario IncrPatched (the same profile at the link above). I compared a recent master to a modifed master turning off niche optimizations when more than one variant has data.

The results I get locally make a lot more sense to me. The linked data shows the `LLVM_l

[2022-10-07 23:12] joshtriplett commented on #102793
@rfcbot merge

[2022-10-07 23:59] #71800 closed

[2022-10-07 23:59] #100114 closed

[2022-10-08 00:02] rol1510 commented on #100421
@rustbot claim

[2022-10-08 01:32] aliemjay opened #102800 "borrowck: no entry for key revived"
### Code
This is another version of #99665 that still ICEs: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c53ef9e38fe104a894c6150aece9a389
[code]

Note: opened for reference, should be fixed by #99818.

### Meta

Build using the Nightly version: 1.66.0-nightly

(2022-10-06 0ca356586fed56002b10)

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</d

[2022-10-08 02:20] alercah commented on #60405
Is the concern in [this comment](https://github.com/rust-lang/rust/issues/60405#issuecomment-625371605) about poison spreading to entire union fields not equally valid for `#[repr(C)]` unions that must be passed as integers per platform ABIs?

[2022-10-08 05:38] asquared31415 commented on #102733
This is intended behavior as described by [The Reference](https://doc.rust-lang.org/reference/type-layout.html#the-alignment-modifiers)

bindgen's code is very strange here, is it emitting both a `repr(align)` attribute *and* a dummy align field, at most one of those should be necessary.

[2022-10-08 06:50] zirconium-n commented on #102745
Should it be satisfied with `fn() -> impl Future<Output = T>` ?

[2022-10-08 07:24] olivier-fs commented on #102733
Very clear now, this is an issue with the bindgen generated code ; and it's even not a matter of relative values of the packed/align parameters.
As always, machine-generated code looks strange/non-optimal for humans ; but bindgen spares a lot of hassle of doing manual bindings.
I guess this section of code is the result of a different bindgen code path than the one fixed in the other issue.
I'll f

[2022-10-08 07:24] #102733 closed

[2022-10-08 07:42] qiujiangkun commented on #63033
Encountered this today.
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7171c029eb79ccf2068ee469dbce73a1

Though the original error was this, which I couldn't reproduce it in playground.
[code]

[2022-10-08 08:42] gimbles commented on #102775
IMO in example 4 it should be `T::from(m)` rather than `<M as Into<T>>::into(m)`

[2022-10-08 08:53] compiler-errors commented on #102745
I think not for now, and certainly not without the user enabling the `return_position_impl_trait_in_trait` feature gate

[2022-10-08 10:00] cjgillot opened #102805 "Tracking Issue for MIR-only generator witness"
This is a tracking issue for the unstable option `-Zdrop-tracking-mir`.
This option changes how generator interior types are computed, to get the types from MIR instead of computing them on the HIR.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design question

[2022-10-08 10:02] RalfJung commented on #60405
Yeah sure, that's the same situation.

Judging from [this discussion](https://discourse.llvm.org/t/remove-undef-move-uninitialized-memory-to-poison/61123), it seems like LLVM will get a "freezing load" operation. Whenever we have a load that would allow partially uninit data, we could use the freezing load and be sure that the data is preserved correctly. This does lose some information, but at le

[2022-10-08 10:14] jruderman opened #102806 "Detect attempt to use '...' for struct update"
If I try to use "functional record update syntax" (aka "struct update syntax") with three dots instead of two, the compiler could emit a clearer error message.

Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=39a57212a40e794a2c10cfec60fdd323)):

[code]

The current output is:

[code]

Ideally the output should be more inclusive about w

[2022-10-08 11:03] vitamiin commented on #102537
I have successfully solved the problem by adding the following build (under the [build] section) flag in `.cargo/config`:
[code]
Thanks to the following video:
https://www.youtube.com/watch?v=2YAgDJTs9So

This might be trivial to some however I wasn't aware of this argument in the first place.
Overall, the above is not a bug in the Rust language. Can be closed.

[2022-10-08 11:04] #102537 closed

[2022-10-08 11:36] porky11 opened #102808 "Confusing hexadecimal floating point numbers"
[code]

I would expect this to be of type f32.
Or I would expect an error message, which indicates that hexadecimal numbers or numbers without dot are not valid integers.

But this just works. It's interpreted as some integer. But not hexadecimal 10 (decimal 16), but some random huge number.

And it's not really a bug. It's just a valid hexadecimal integer, since F is just a hexadecimal digit, and

[2022-10-08 12:41] SoniEx2 opened #102810 "PhantomData behavior is very surprising w.r.t. lack of Drop implications"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=14dee41511095d6e940069db08cdc23f

I expected to see this happen: since a `PhantomData` claims to act like a `T` including for the purposes of borrowck/dropck then this should absolutely compile-fail. just as it does if you use a `Box`, or `T` directly!

Instead, this happened: it doesn't!

this is c

[2022-10-08 12:46] chenyukang commented on #102806
@rustbot claim

[2022-10-08 13:36] SkiFire13 commented on #102810
It isn't clear to me though. I don't see how this could ever be exploited to create unsoundness.

It seems the error happens because `Box<T>` actually drops `T`, which counts as a use of the `T`, while `PhantomData<T>` doesn't, so it compiles.

[2022-10-08 13:37] SoniEx2 commented on #102810
see also https://docs.rs/selfref/0.2.4/selfref/

[2022-10-08 13:44] SkiFire13 commented on #102810
It's supposed to make a struct act as if it contains a `T`, it doesn't act itself as a `T`.

[2022-10-08 13:45] SoniEx2 commented on #102810
why can't it act itself as a `T` when used directly?

[2022-10-08 14:28] WaffleLapkin commented on #99108
I think `ptr` in method names (`fetch_ptr_add` and `fetch_ptr_sub`) is confusing, we are not adding/subtracting a pointer but instead just add/sub in units of `T`. IMO it's too similar to [`sub_ptr`](https://doc.rust-lang.org/std/primitive.pointer.html#method.sub_ptr).

[2022-10-08 14:31] lukas-code commented on #102808
Clippy already has a related lint that could probably be expanded:
[code]
[code]

[2022-10-08 14:51] Monadic-Cat commented on #102810
`PhantomData` is less like `Box<T>` and more like `[T; 0]`.
Using your example, this compiles:
[code]

I haven't stared at this long enough to decide whether this is correct behavior for `PhantomData<T>`, but I think it's a bit of a stretch to call it "unsound" without qualification- it's clearly not an "unsound" API in the sense of "we wrap something `unsafe` but still cause UB in some cases" whi

[2022-10-08 14:53] SoniEx2 commented on #102810
it's unsound as in "if you use this with unsafe, you'll have soundness issues". and the worst part is that there's no appropriate alternative that can be used on stable. there's no "PhantomDrop", no "PhantomBox", no anything like that.

[2022-10-08 15:14] the8472 commented on #102776
I don't think the wasi API is ideal. Usually you need to hold onto a directory and be able to iterate it at the same time. So the `*at` methods should primarily be available on a `ReadDir` and optionally on `File`.
If we do this in std then this can be done via a trait or a Fd wrapper type.

But if we want to let other crates handle this, e.g. to support async support then they'd need a way to get

[2022-10-08 16:26] naiveai commented on #62581
I'm new to the compiler, and I don't fully know whether this is a good issue to jump in on, but I find it interesting so I'll give it a shot. I'll set a reminder to unassign myself if I can't figure it out so I don't forget about it.

@rustbot claim

[2022-10-08 16:39] davxy commented on #79530
@tromey do you know if there has been any progress on this topic? I think that the vscode-lldb guys may propose their patch to the upstream maybe... wdyt?

[2022-10-08 16:59] Lee-Janggun commented on #102810
AFAIK, `PhantomData` are special markers to place in structs to aid `rustc` on doing some analysis. When it is used by itself, it should really mean nothing as it is a zero sized type, so should be optimized away.

[2022-10-08 17:19] SoniEx2 commented on #102810
a `PhantomActuallyData<T: ?Sized>` that acts like a `T` except for size. which should be just `PhantomData` but for some reason isn't.

acts like a `T` for borrowck, dropck, `Drop` impl, `Copy`/`Clone`, projections, etc etc.

[2022-10-08 17:38] Lee-Janggun commented on #102810
1. What would be the motivation for such type?
2. Can such type ever be sound? Since it has size 0, in actual compilation it will be optimized away, and in actual execution there will be nothing. For example if you had a `PhantomActuallyData<Cell<u64>>` and called `get()` on it to get the inner value, what would the value of this at runtime?

[2022-10-08 17:39] #101081 closed

[2022-10-08 17:54] nbdd0121 commented on #102810
The difference is solely because `PhantomData` does not implement `Drop`.

[2022-10-08 17:59] dylni commented on #101978
@chenyukang The current behavior is unexpected because `.env("foo=bar", "baz")` will not set an environment variable called `foo=bar`. It will set a variable called `foo`.

For example, this call will fail because `foo=bar` is not a valid variable name:

[code]

[2022-10-08 18:02] SoniEx2 commented on #102810
@Lee-Janggun the actual receiver is `Cell<u64>` not `PhantomActuallyData<Cell<u64>>` so you can't actually call `get()` on it unless it explicitly supported it. but the point is that it should work just like a `Foo<T>` for some `Foo` except this one happens to be zero-sized for any `T` (including `T: !Sized`).

@nbdd0121 it *needs* the `#[may_dangle]` like `Box` has, otherwise it would have the wr

[2022-10-08 18:16] nbdd0121 commented on #102810
Anyway, `PhantomData` is not unsound, but surely it is not doing what the document suggests. You can't produce UB without unsafe code, it's just that your unsafe code depends on the property described in the document.

I think it'll be a breaking change to modify the behaviour of `PhantomData` does though, because if `PhantomData<T>` were truly behave like `T`, the need of a drop glue will make th

[2022-10-08 18:22] SkiFire13 commented on #102810
Note that `PhantomData`'s documentation specifically talks about using it as a field, not by itself like in this issue.
Quoting from the documentation (emphasis mine):

Does this issue also affect `PhantomData` when used as a field?

[2022-10-08 18:25] SoniEx2 commented on #102810
[yes.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7b92dd6acf20f8850483078420ce9c23)

[2022-10-08 18:30] Lee-Janggun commented on #102810
Ok I think I get your point, in that it should act like a struct with a T field, but be zero sized at runtime.

Still, is that intended for PhantomData? IDK about the full technical details but my understanding has been that PhantomData is just a marker to properly able certain compiler analysis for certain types, and nothing really more.

[2022-10-08 18:37] nbdd0121 commented on #102810
Maybe we should change the doc to say that `PhantomData<T>` act like `ManuallyDrop<T>`.

[2022-10-08 20:24] alexschrod commented on #91639
I'd love contributing to this as it seems like a manageable task (at least at face value) _and_ I'd really like this warning to become enabled by default, at least in return position, but I've never touched the compiler before and wouldn't really know where to start to be honest. 🙁

[2022-10-08 21:31] tewi0000 commented on #101866
Should I close the issue?

[2022-10-08 21:54] lyming2007 commented on #101866
yes please.

[2022-10-08 22:14] mejrs commented on #91639
I'd recommend searching for `elided_lifetimes_in_paths` (not case sensitive) in rustc and looking at how it's implemented.

As far as the lint itself goes:
- you'll need to declare a new lint for this
- create a new lint group that activates two (or more) lints that together do what `elided_lifetimes_in_paths` did
   - e.g. this one could be named `elided_lifetimes_in_return_paths`
   - one and mo

[2022-10-08 23:11] thomcc commented on #93740
FWIW on latest versions of darwin OSes, the pthread locks have become quite competitive. They (and as a result std::sync::Mutex) are competitive or even ahead of things like parking_lot or usync (or os_unfair_lock), on several different use cases ranging from very high contention to uncontended. This may only be on my machines, and on some of them they do better than others. This makes me a lot mo

[2022-10-09 00:24] #76383 closed

[2022-10-09 00:24] #99878 closed

[2022-10-09 00:24] #102562 closed

[2022-10-09 01:40] softdevca commented on #99878
Thanks for getting the fix for this merged everybody.

[2022-10-09 02:40] #102774 closed

[2022-10-09 02:48] JanCVanB opened #102861 "Add buffer flush note to `Macro std::eprint`"
### What needs to be fixed?
I'm told that `eprint!` should often be paired with `io::stdout().flush()` just like `print!`, but the docs don't mention that.

### Page(s) Affected
https://doc.rust-lang.org/std/macro.print.html recommends buffer flushing, but https://doc.rust-lang.org/std/macro.eprint.html doesn't.

### Suggested Improvement
We should copy/paste the buffer flush note from `print!` do

[2022-10-09 02:59] hechangqin commented on #73307
@nnethercote Thanks for your explanation. After I call `HashMap::clear`, I have called `HashMap::shrink_to_fit`, but the phenomenon is that the memory is not recycled. But after replacing the **standard allocator** with **jemalloc**, it got better, but there are still some parts that are not recycled.

[2022-10-09 03:56] matheus-consoli opened #102823 "Bad diagnostics when using async fn's and attributes"
[rustexplorer](https://www.rustexplorer.com/b#%2F*%0A%5Bdependencies%5D%0Atracing%20%3D%20%220.1.36%22%0A*%2F%0A%0A%23%5Bderive(Debug)%5D%0Astruct%20Foo%3B%0A%0Aimpl%20Foo%20%7B%0A%20%20%20%20%23%5Btracing%3A%3Ainstrument()%5D%0A%20%20%20%20async%20fn%20missing_implementation(%26self)%20-%3E%20char%20%7B%7D%0A%0A%20%20%20%20%23%5Btracing%3A%3Ainstrument()%5D%0A%20%20%20%20async%20fn%20missing_wrap

[2022-10-09 04:15] chenyukang commented on #102518
The code in the issue seems still does not report new suggestion:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1b4aad8d1252936ed279ddb2f71839fc

[2022-10-09 05:10] jsha opened #102824 "rustdoc: improve mobile navigation display on mobile"
Following up on https://github.com/rust-lang/rust/pull/102815 (which I think was correct since we're not _currently_ showing the topbar).

Here's what a source page looks like on my Pixel 6a:

<img src="https://user-images.githubusercontent.com/220205/194735532-f00674c0-0a11-49b2-9c36-55357d12bc9c.png" width=200>

The Rust logo really shouldn't wrap to the previous line, and the expander for the s

[2022-10-09 05:20] memark commented on #99619
Just cloned the repo to maybe try and start contributing, immediately running into this failed test. Having read through the Zulip thread, it's still not clear to me what I need to do? Does this fail for everyone building/testing a fresh clone?

[2022-10-09 05:23] harudagondi opened #102825 "`default_free_fn` feature does not have the same diagnostics as using `Default::default` in recursing situations"
Given the following code: [Rust playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3d6b6403d9ba304664c2defc11bc43ba)

[code]

The current output is:

[code]

Ideally the output should look like: ([Using `Default::default()`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b0e3199a9ecfac128da4ca6b59e059e3))

[code]

Using `default()` sh

[2022-10-09 05:27] trrk commented on #88884
With rust 1.64.0, the expected behavior occurs, i.e. compile errors. So I will close this as resolved.

[2022-10-09 05:27] #88884 closed

[2022-10-09 05:50] matheus-consoli opened #102826 "ICE using `return_position_impl_trait_in_trait` with default implementation"
### Code

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fd65e6bb7ec1ed55d2113ab294523435)

rustc panics on:

[code]

but not on:

[code]

note that when not using the implementation, the compiler doesn't panic, but gives a `mismatch types` error (try commenting `main`)

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</stron

[2022-10-09 06:20] compiler-errors commented on #102826
This is a duplicate of #101665, so it's fixed by #101679. Thanks for reporting.

[2022-10-09 06:20] #102826 closed

[2022-10-09 06:42] matthiaskrgr opened #102827 "ICE: rustdoc: unexpected ambiguity: -Znormalize-docs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc -Znormalize-docs   issue-74244.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-09 06:49] matthiaskrgr opened #102828 "ICE: rustdoc: Ty::fn_sig() called on non-fn type, Znormalize-docs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustdoc explicit_auto_deref.rs -Znormalize-docs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-09 07:31] Nugine commented on #102664
Looks like duplicate
+ #65844

[2022-10-09 07:31] Nugine commented on #102667
Looks like duplicate
+ #65844

[2022-10-09 07:57] compiler-errors commented on #102827
caused by 7808f69ad7a31e54719bf71017b745ee3ceac167

[2022-10-09 08:03] Tamschi commented on #43122
I thought I'd chip in another use-case for transient references, just so that it's surfaced somewhere: Efficient streaming parsers.

With that I could take my (probably not very efficient) manual state machine code

[code]

and write

[code]

instead without too much macro weirdness.

(I just noticed the `next-gen` crate, that's probably worth a try for the time being…)

[2022-10-09 08:22] semiviral opened #102833 "crate fails to compile a usable binary (no executable sections, only debug)"
### Code

I tried this code:

https://www.github.com/semiviral/linuiz

I expected to see this happen: project compiles as expected, and a binary executable (ELF format) is output into `.hdd/root/linuiz/kernel.elf`

Instead, this happened: the compiled binary contains no `.text`, `.rodata`, `.data`, or `.bss` sections (and thus cannot be loaded).

### Version it worked on

It most recently worked o

[2022-10-09 09:16] attila-lin commented on #15701
Can this be stable yet?

[2022-10-09 09:46] compiler-errors commented on #102518
This is because in the `cos` example, we don't suggest turning it into `.cos` if there was a "import this function" suggestion made -- in this case, there was already the suggestion to import `libm::cos`.

[2022-10-09 09:49] compiler-errors commented on #102518
Not sure if that's actually the behavior we want -- but if we did make that suggestion even if there was a previous import suggestion, I think it would be kinda noisy. Just my opinion though.

Though, it's kinda hard to give the import suggestion a lower priority than the fn->method suggestion, due to the fact that the former happens during name resolution, and the latter happens during type check

[2022-10-09 10:03] RalfJung opened #102837 "x.py feature request: support "x.py fmt" as rust-analyzer formatter"
When working with vscode in the rustc repo, one needs to set a rustfmt invocation to use for formatting files. The dev guide recommends
[code]
However, this command fails when rustfmt has not been extracted yet, so I often get errors from vscode here and then I have to do `x.py fmt` on the terminal by hand to make things work again. (Also the user has to figure out the right TARGET_TRIPLE themselv

[2022-10-09 10:04] lukas-code commented on #102825
Another instance of https://github.com/rust-lang/rust/issues/57965.

[2022-10-09 10:12] cjgillot commented on #91639
The lint logic is in `LateResolutionVisitor::resolve_elided_lifetimes_in_path`.  There is a loop over `lifetime_ribs` which is used to determine what is the correct behaviour. If the lifetime is in a parameter, it will reach the `AnonymousCreateParameter` case.  If the lifetime is in a return type, it will be `Elided` if there is successful lifetime elision or `ElisionFailure`.  The lint itself is

[2022-10-09 10:20] sdroege opened #102839 "Trait bounds that would be satisfied if autoderef was applied are not considered"
I tried this code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b6f99e7da0029b2f21f9138513154e3d)):

[code]

I expected to see this happen: The above code compiles

Instead, this happened:

[code]

### Meta
`rustc --version --verbose`:
[code]

[2022-10-09 10:28] sdroege commented on #102839
Updated to make it clear that the very same currently works fine via autoderef and the dot-operator.

[2022-10-09 10:42] alexschrod commented on #91639
Alright. Well, I'm jumping in! Let's see if I can even [get started](https://rustc-dev-guide.rust-lang.org/getting-started.html). 😅

[2022-10-09 11:03] jyn514 commented on #102837
That was fixed in https://github.com/rust-lang/rust/pull/101969.

Have you tried `x.py fmt src/bootstrap/lib.r` (or whatever file you care about)? That should already work today.

[2022-10-09 11:28] nox opened #102840 "Suggest using a struct's name instead of Self"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3c81ead494d0897d6cd49f20d51302df

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Using `Self` instead of the struct name when `self` and the return type of the method only differs in lifetimes will never work, and the user must write the returned struct value wi

[2022-10-09 11:29] RalfJung commented on #102837
Oh, nice!

I tried that a while ago, and back then it just re-formatted everything, even when given a particular filename. But looks like that was fixed. :)
So can one set `./x.py fmt` as formatter for RA then? Should the dev guide be adjusted?

[2022-10-09 11:30] RalfJung commented on #102837
Answering my own question: yes it works but it is annoying because then formatting has to wait for the workspace lock.

[2022-10-09 11:31] RalfJung commented on #102837
Also the per-file thing does not entirely work... when I ask x.py to format library/core/src/intrinsics.rs, it also formats library/core/src/panicking.rs.

[2022-10-09 11:33] #102392 closed

[2022-10-09 11:33] #102414 closed

[2022-10-09 11:33] #102800 closed

[2022-10-09 11:33] #86890 closed

[2022-10-09 11:33] #102124 closed

[2022-10-09 11:41] jyn514 opened #102841 "x.py fmt <file> sometimes formats other files"
_Originally posted by @RalfJung in https://github.com/rust-lang/rust/issues/102837#issuecomment-1272521731_

[2022-10-09 11:43] jyn514 commented on #102837
Hmm, good point. We added that because our sysroot handling wasn't parallel safe; I wonder if it's possible to remove that restriction only for stuff that doesn't touch the sysroot? I won't have time to look into it but happy to mentor.

[2022-10-09 11:50] aleksanderkrauze commented on #98262
I think this function should be marked `#[must_use]` as well.

[2022-10-09 11:59] Mark-Simulacrum commented on #102837
I don't think we should be removing it selectively - in particular, this operation *could* need the lock if you had changed stage0.json (and need to redownload). I think if we want to make the lock more granular we will need to actually protect specific resources (e.g., the stage0 sysroot distinct from everything else would suffice here, probably).

[2022-10-09 12:05] jyn514 commented on #102841
@RalfJung can you post the commit you were on and the diff x.py created?

[2022-10-09 12:18] RalfJung commented on #102841
I wasn't on a commit as the committed files are all formatted already. So I introduced changes in both files and then triggered RA formatting, and it ended up undoing my changes in both files.

[2022-10-09 12:44] RalfJung commented on #102841
But strangely, I cannot reproduce outside of RA... when I invoke `./x.py fmt filename` myself, it behaves as expected; when I ask it to do formatting from RA, it formats other files, too.

[2022-10-09 12:45] RalfJung commented on #102841
Oh, is it possible that RA expects the formatting to happen via stdin/stdout? I was wondering how things would work for files with `mod` statements where calling rustfmt with the filename causes it to recurse.

[2022-10-09 12:47] RalfJung commented on #102841
Yes indeed, formatting in RA happens via stdin/stdout. So the filename argument is not the problem.

[2022-10-09 12:47] #102841 closed

[2022-10-09 12:47] RalfJung commented on #102837
Turns out I was entirely off, and individual files are not even what RA needs. What RA needs is to pass the code via stdin and retrieve the formatted result on stdout.

[2022-10-09 12:56] rol1510 commented on #85566
@rustbot claim

[2022-10-09 13:02] RalfJung opened #102844 "Add back assert_unsafe_precondition in hint::unreachable_unchecked"
https://github.com/rust-lang/rust/pull/102732 had to temporarily remove the `assert_unsafe_precondition` in `hint::unreachable_unchecked` to work around https://github.com/rust-lang/compiler-builtins/issues/491. Once https://github.com/rust-lang/compiler-builtins/pull/496 lands and propagates, we should bring back the `assert_unsafe_precondition` in `hint::unreachable_unchecked`.

[2022-10-09 13:32] aliemjay commented on #102840
Thanks for reporting. This issue is tracked in #101393 and should be fixed by #100976. You may want to close it as a duplicate.

[2022-10-09 13:34] GuillaumeGomez commented on #102824
We could do like on the other pages: the top navbar remains at the very top of the page (not of the screen) and when we press the button (hamburger one?), we show the menu. That would make things more coherent.

[2022-10-09 14:01] cjgillot commented on #102770
This will be fixed by https://github.com/rust-lang/rust/pull/101500 if it lands.

[2022-10-09 14:06] aliemjay commented on #102494
The diagnostic issue is tracked in #101393, so this can be closed as a duplicate.

[2022-10-09 14:16] jyn514 commented on #102837
Ok. That seems like a major expansion of scope and I think we should continue recommending using stage0 rustfmt instead.

[2022-10-09 14:16] #102837 closed

[2022-10-09 14:22] aliemjay commented on #101350
I'll have time after 2 days to finish the fix. @rustbot claim

[2022-10-09 14:34] urben1680 commented on #93050
I would have a use case for this too.
I have a `VecDeque` and at some point I want to find out if I need to pop the front.
I would do this if:
1. There is a second element
2. The second element has a certain value

[code]

[2022-10-09 14:35] ISibboI opened #102848 "Function leaks passed closure, even if lifetimes are declared to be independent"
(continuing from [users.rust-lang.org](https://users.rust-lang.org/t/why-does-the-compiler-think-that-a-function-can-return-a-passed-closure-even-if-the-lifetimes-are-independent/82481))

I tried this code:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c7170a411338eefd98da6e93596a1178))

I expected to see this happen: it should compile and run just

[2022-10-09 15:05] berkus opened #102849 "Code generation changes cause CPU aborts with use of format_args!()"
I am using nightly compiler.

It worked well until a point, and now started generating code that GPFs.

The project and branch for testing this is here: https://github.com/metta-systems/vesper/tree/investigate/invalid-code-gen

In the `rust-toolchain` file I have found the exact version which breaks: nightly-2022-08-12 works, while nightly-2022-08-13 started generating something incorrectly.
I hav

[2022-10-09 15:21] Mark-Simulacrum commented on #102837
FWIW my own hack is that I just manually copy over the rustfmt binary (it doesn't dynamically link to librustc) into a directory somewhere and only update the path configured in rust analyzer when I notice divergence between in tree and my copy. This happens pretty rarely; rustfmt is pretty stable.

You could imagine a helper script that's purely conditional on stage0.json updates that does someth

[2022-10-09 15:23] cjgillot commented on #96259
@haibane-tenshi your backtrace points to a different place in the compiler, this is probably a different bug. Could you open a new issue with a more complete code snippet? I could not reproduce the ICE with the one you provided.

[2022-10-09 15:45] amab8901 opened #102851 "How to trigger `invalid` from `cargo verify-project`?"
I'm reading [this](https://doc.rust-lang.org/cargo/commands/cargo-verify-project.html) page. I'm trying to understand how I can trigger the `cargo verify-project` into outputting `invalid`. It seems like no matter what I write in the `Cargo.toml` file, the `cargo verify-project` will always output `success`. Even when I write for example `time: "1000000.0.0"` as a dependency (which obviously isn't

[2022-10-09 15:53] alice-i-cecile opened #102852 "Poor diagnostic message when passing in type constructor to generic function"
When passing arguments to a generic function, users can accidentally provide the type, rather than an instance to a type.
The error message provided is not very helpful (especially for beginners), as it uses the anonymous type, rather than pointing out the obvious error.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:
[code]

[2022-10-09 15:57] bgilbert commented on #102727
Awesome, thanks for the really quick fix!

[2022-10-09 16:35] garypen commented on #102398
I just tripped over an issue in this area. I'm trying to put together a userspace mutex for learning and it works fine apart from when there is a panic. If there has been a panic, then I get a panic when handling panic and fall over with this stack trace:

[code]
Note that at 18, some destructors are run, that appear to be releasing Thread local storage. By the time I try to run `park_timeout()`,

[2022-10-09 16:44] nagisa commented on #102840
Duplicate of https://github.com/rust-lang/rust/issues/101393

[2022-10-09 16:44] #102840 closed

[2022-10-09 16:53] nagisa commented on #102849
Some targeted questions: Is this generally reproducible or with QEMU only?

As a more general note, it may be necessary for you to narrow down the problem further (minimal reproducible code sample would be great), more precisely bisect the offending commit ranges ([cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc) can help somewhat), etc.

[2022-10-09 17:04] joboet commented on #93740
That's great! I did notice that the pthread mutex [uses the `ulock` API](https://github.com/apple/darwin-libpthread/blob/2b46cbcc56ba33791296cd9714b2c90dae185ec7/src/pthread_mutex.c#L1080) (in a fashion very similar to [`os_unfair_lock`](https://github.com/apple/darwin-libplatform/blob/215b09856ab5765b7462a91be7076183076600df/src/os/lock.c#L511) and [Fuchsia's mutex](https://github.com/rust-lang/r

[2022-10-09 17:26] saethlin commented on #47241
As reported this, has been fixed for a while. Benches and tests don't panic if passed unexpected arguments, and the provided example prints this:
[code]

[2022-10-09 17:36] pczarn commented on #48556
@joshlf Looks like it's shown as stable on aarch64 and unstable on other archs. That's what the `cfg_attr` on `stable` means. The docs are probably generated for x86_64. That's why you see the warning inside official docs. I am not sure what was really intended.

[2022-10-09 17:50] SoniEx2 commented on #102810
and so anyone who inadvertently (without testing it) relied on the as-documented behaviour is left with no usable alternative and an unsound crate.

why not... fix `PhantomData`?

[2022-10-09 18:33] saethlin commented on #47561
The regression still exists, but I think I've been able to root-cause this to some kind of change in LLVM's inlining (in combination with codegen-units?).

Poking through the benchmark executables with `perf annotate` indicates that previously after LLVM was done we had about 3 functions left, and now for whatever reason we have a lot more than 3, and some look suspiciously small to me, but LTO ha

[2022-10-09 18:54] compiler-errors commented on #102823
@matheus-consoli this isn't really a rustc bug, but a bug in the proc macro expansion of tracing. I think I fixed it in tokio-rs/tracing#2270, can you try updating your tracing version and seeing if that fixes it? Thanks!

[2022-10-09 18:59] berkus commented on #102849
I've only noticed and tested it on QEMU so far, could try on real hw as well, but the fact that it works on the same QEMU with 08-12 means something.

I will try to bisect rustc.

[2022-10-09 20:33] estebank commented on #102518
@compiler-errors in that case, lets keep the ticket open for this case in particular. Your PR already improves things quite a bit, we can take some time to think about how to best go about this other case.

[2022-10-09 21:02] #100421 closed

[2022-10-09 21:02] #102828 closed

[2022-10-09 21:32] rossilor95 commented on #101961
@rustbot claim

[2022-10-09 21:34] nagisa commented on #98070
Not a strong objection, but I wonder if there has been any discussion about making this universally available vs. it being a OS-specific `Ext` trait? I guess on std-systems that don’t have a concept of a terminal at all this can be implemented to always just return `Ok(false)`, but that doesn’t sound obviously superior over telling callers that, “no, terminal is not a thing here.”

[2022-10-09 21:35] nagisa commented on #102849
Reproducing this on real hardware would beyond reasonable doubt rule out any possible bugs in QEMU.

[2022-10-09 21:38] nagisa commented on #102848
This looks like a duplicate of https://github.com/rust-lang/rust/issues/79415?

[2022-10-09 21:42] nagisa commented on #102810
I’m going to nominate this for a look by T-lang. The lang team seems like the best candidate to make a call here as to how the `PhantomData` should be behaving and what the implications of that decision may be.

[2022-10-09 21:49] nagisa commented on #102754
So, uh, wouldn’t [this code](https://github.com/llvm/llvm-project/blob/d30dccd21f2c3bc1ed6cd054c131436a1af548e1/lld/MachO/UnwindInfoSection.cpp#L378) basically mean that you cannot link a binary that consists of more than 3 languages with their own unwinding personalities? That seems like an unfortunate limitation, and I would argue that this is something `ld.lld` should be fixing, regardless.

As

[2022-10-09 21:51] nagisa commented on #102754
Does this happen with other linkers (e.g. `ld` that ships with Xcode, if it is something other than `lld`?)

[2022-10-09 21:56] nagisa commented on #102716
Once upon a time I looked into this and there isn’t a good way to do this (without changes to LLVM, anyway.) We will produce a warning for each LLVM context created, which is going to be 1 informational + 1 for each codegen unit. To the best of my knowledge there isn’t a way to either suppress nor to get LLVM to fail when this happens.

We could create an informational target and _then_ check for

[2022-10-09 21:57] #102494 closed

[2022-10-09 22:42] scottmcm opened #102864 "Is exact count of other implementations useful in this error message?"
I got the following CI failure in #102862
[code]

I don't know if this is a diagnostics request or a UI test normalization request, but getting UI test failures when adding a `From` implementation is kinda annoying (if admittedly easy enough to fix).

So I wonder how much value the exact number here is providing.  I wonder if it might make sense to change the message to

if it's above some thresho

[2022-10-09 22:55] compiler-errors commented on #102864
I'm fine with either of the suggestions, choosing some other phrasing for large numbers of trait candidates or normalizing it in the UI tests themselves.

Coincidentally, @mejrs just implemented a trybuild normalization for this in dtolnay/trybuild@ea3f2070321b7718ad5244af1fe38658f18c4917.

The code we use to generate "`... and {} others`" is kinda scattered all over the place for different sugges

[2022-10-09 23:26] #101866 closed

[2022-10-09 23:35] passcod commented on #97048
There's three contexts in which a function signature is displayed in docs:
- freestanding functions and impl methods. In that case a pattern is internal use only, ack'ing the point that partial use could be interesting information.
- required methods in traits. In that case a pattern is not allowed.
- provided methods in traits. In that case, a person using the method would 'only need to know the

[2022-10-09 23:43] passcod commented on #97048
There is also some minor precedent in _not_ showing pattern details in that `mut` modifiers are excluded from signatures.

Tangentially, #35203 may contain interesting context to this discussion.

[2022-10-10 00:04] eddyb commented on #102403
To look at LLVM, just feed it through constant folding: https://godbolt.org/z/oWqrhKe4h

So it looks like *current* LLVM APFloat results in negative sign.
This remains the case even when going back to 1.20 (which should be old enough to reflect the state of LLVM at the time of the porting): https://godbolt.org/z/8dj73sEjr.

So this looks like it might be another bug like https://github.com/rust-la

[2022-10-10 00:22] #84649 closed

[2022-10-10 01:00] tommythorn opened #102866 "Segfault in futex_wait() on riscv64gc-unknown-linux-gnu with rustc 1.64.0"
Note, this does not appear to be related to issue #102155 but I can't be sure.

I'm many levels deep in the original problem, but traced it down to autocfg not building (filed here: https://github.com/cuviper/autocfg/issues/51); the repro is trivial.

The back trace however makes me suspect this is a deeper issue:
[code]
Unfortunately I don't have the expertise to debug this.

[2022-10-10 01:02] tommythorn commented on #102866
The dmesg info may be useful:

[code]

[2022-10-10 01:19] tommythorn commented on #102866
Aha, it's a regression.  Doesn't happen with 1.58.0.  I'll track it down to the exact version.

[2022-10-10 01:56] SNCPlay42 commented on #75061
This is a duplicate of #62769

[2022-10-10 03:15] dwrensha commented on #102172
including the (unsurprising) output of cargo-bisect-rustc for completness...

---

searched nightlies: from nightly-2021-02-10 to nightly-2022-10-05
regressed nightly: nightly-2022-09-15
searched commit range: https://github.com/rust-lang/rust/compare/17cbdfd07178349d0a3cecb8e7dde8f915666ced...750bd1a7ff3e010611b97ee75d30b7cbf5f3a03c
regressed commit: https://github.com/rust-lang/rust/commit/6153d

[2022-10-10 04:14] ISibboI commented on #102848
I think so, yes. Over there they also found an even simpler example.

[2022-10-10 04:25] saethlin commented on #102866
You might want to use https://github.com/rust-lang/cargo-bisect-rustc

[2022-10-10 04:29] saethlin commented on #102866
Oh, that's not the right backtrace. I think gdb just halts on any signal, and that's a SIGUSR1 not a SIGSEGV. Everything is fine when the program is there. Perhaps this is helpful: https://peeterjoot.wordpress.com/2010/07/07/avoiding-gdb-signal-noise/

(I usually debug from core dumps, which is one way around this)

[2022-10-10 04:41] sundeep-kokkonda commented on #102299
The path is autogenerated, this object file is generated during the 'stage-0' and still 'stage-1' is yet to build, so I guess in that way the build is 'incremental'? Is there any option that can avoid this?

[2022-10-10 05:16] faptc commented on #102299
@rustbot label +A-reproducibility +A-bootstrap +T-compiler

[2022-10-10 05:16] White-Green opened #102870 "Occurs `higher-ranked lifetime error` by dyn-trait, associated types, and Send constraints."
A program using dyn-trait and associae types fails to infer a Send constraint and gives a `higher-ranked lifetime error`.
I think this is either a bug in rustc or the error message needs to be improved.
Here is the (probably near-minimal) code that produces this error.

[code]

When compiling this program, rustc outputs the following error.

[code]

I tried some changes to the program to see if th

[2022-10-10 05:42] tommythorn commented on #102866
Thanks Saethlin, yes, I should have known better than that.  This looks more likely:

[code]

Note the fault was introduced post 1.63.0 and it doesn't reproduce on rust version 1.66.0-nightly (81f391930 2022-10-09), so we can probably close this (I wanted to capture the bug right away in case I didn't get time to dig deeper).  I'll leave it for open in case somebody want me to run another experime

[2022-10-10 06:02] tommythorn commented on #102866
Ok, clearly a dup of #102155

[2022-10-10 06:02] #102866 closed

[2022-10-10 06:09] golddranks commented on #94035
I have a use case where I have to trim a bunch of `'\0'`s from the end of a byte slice. To me, `trim_matches`-like methods for slices in all generality would be warranted. I wonder whether people agree with that?

[2022-10-10 06:19] #102182 closed

[2022-10-10 06:19] #102751 closed

[2022-10-10 07:41] pluiedev opened #102873 "Docs missing about the machine instruction that could be emitted by `core::hint::spin_loop`"
[The documentation for `core::hint::spin_loop`](https://doc.rust-lang.org/core/hint/fn.spin_loop.html) only mentions that a non-specific machine instruction may be emitted when calling the function. It would be useful for curious readers like me to document which instructions are generated for which architecture without reading the source code and tracking down calls to architecture-specific intri

[2022-10-10 07:53] apiraino commented on #102833
@semiviral how to reproduce? Does the entire project you link need to be cloned and crosscompiled? Would be great if you could help with a smaller reproducible and instructions. Thanks!

@rustbot label e-needs-mcve

[2022-10-10 08:30] mikebenfield commented on #101872
In addition to #102872, I have in mind two other optimizations for switching on a discriminant:

First, rather than this llvmir-like pseudocode:
[code]
we could instead do this:
[code]
Replacing a conditional move with a jump. I am fairly certain this would be a win, as it would allow to skip the tag calculations whenever we have the untagged variant, it would let us remove the cmov, which has dat

[2022-10-10 08:49] zachs18 commented on #46850
I cannot reproduce this on Ubuntu 20.04 amd64 under `qemu-aarch64 version 6.2.0 (Debian 1:6.2+dfsg-2ubuntu6.3)` using either current nightly or nightly-2017-12-18. Can you still reproduce this? If so, what QEMU version are you using? (I believe QEMU 2.11 (or close to that) was the latest around when this was posted).
[code]

[2022-10-10 09:08] SparrowLii commented on #102185
I came up with my solution, but it looks like the language team wants a different approach. So unassigned myself.

[2022-10-10 09:09] SparrowLii commented on #101970
I came up with my solution, but it looks like the language team wants a different approach. So I unassigned myself.

[2022-10-10 11:12] togami2864 commented on #102601
@rustbot claim

[2022-10-10 11:52] dwrensha opened #102878 "panicked at 'expected non-translatable diagnostic message'"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):
[code]

[code]

[2022-10-10 11:52] dwrensha commented on #102878
searched nightlies: from nightly-2022-02-10 to nightly-2022-10-09
regressed nightly: nightly-2022-09-29
searched commit range: https://github.com/rust-lang/rust/compare/470e518c4b43265020c882bcf3c86632f5494910...ce7f0f1aa0f02c45cad0749e63f3086234b1f422
regressed commit: https://github.com/rust-lang/rust/commit/09ae7846a272a500ff7145255f0de5556c0b8949

<details>
<summary>bisected with <a href='http

[2022-10-10 11:53] dwrensha commented on #102878
This regressed in https://github.com/rust-lang/rust/pull/101619.
cc @Xiretza

[2022-10-10 12:04] saethlin commented on #47561
I'm sifting through old issues. I think this situation should be discussed because I'm not sure there is anything for us to do here on account of this being an inlining heuristic issue, and also this issue's age. It's been 4 years and 9 or 10 LLVM releases since this issue was opened. What are the odds we manage to fix this regression without creating other issues?

@rustbot label -I-prioritize +I

[2022-10-10 12:09] #99272 closed

[2022-10-10 12:09] #102089 closed

[2022-10-10 13:03] pwnorbitals opened #102882 "Warn when two crates with different versions are in use in the same compilation unit"
I was faced with this error message, saying my `Memory` trait was both not implemented and implemented by the `Flash` type :

![image](https://user-images.githubusercontent.com/8146140/194871912-4a838057-9e4f-448e-b6f2-54dd14a1a3f6.png)

This particular issue was caused by having two different versions of the STM32H7 HAL, leading to this confusing and misleading error.

**Should we consider adding

[2022-10-10 15:10] mejrs commented on #102882
Can you post the full error (from `cargo check`)? This looks like ide output.

[2022-10-10 15:35] js2xxx opened #102886 "The compiler fails to produce INTERP section on custom ELF targets"
I tried this:

It's within my OS project [oceanic](https://github.com/js2xxx/oceanic). My OS can only execute binaries depending on its dynamic loader. However, some recent update seems to change the compiler's behavior and it fails to produce INTERP section on my custom ELF target (located in [`/.cargo`](https://github.com/js2xxx/oceanic/blob/task-async/.cargo/x86_64-pc-oceanic.json)), causing th

[2022-10-10 15:36] js2xxx commented on #102833
Looks like it had a similar issue with my project: #102886.

[2022-10-10 15:39] eholk commented on #102383
@rustbot label +AsyncAwait-Triaged

[2022-10-10 15:49] amirrezaask opened #102887 "Compiler panics unexpectedly when compiling a simple hyper network program"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-10 16:27] Stef16Robbe commented on #83958
For anyone coming from Google, this worked perfectly for me:

https://github.com/rust-lang/rustup/issues/478#issuecomment-330467741

[2022-10-10 16:28] memoryruins commented on #102882
Looks like a duplicate of #22750 and/or #89143

[2022-10-10 17:08] dpaoliello commented on #102714
@rustbot claim

[2022-10-10 17:34] pnkfelix opened #102892 "vicious "add `&`" then "remove `&`" cycle of suggestions"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=27603cb69f02a777439de35be1c29ce0)):

[code]

The current output is:

[code]

To be clear, both of the above are *fine* suggestions.

Here's the problem:

When you make the suggested change on the second version (the one with the type annotation in the interior of the code):

[code]

The

[2022-10-10 18:15] vincenzopalazzo commented on #102383
As discussed [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/triage.20meeting.202022-10-10/near/303305758) I will try to make some report tomorrow regarding this issue!

@rustbot claim

[2022-10-10 18:34] bsferrazza commented on #102339
@compiler-errors is there a way I can do an strace on this or something? Running strace on the x.py build command doesn't seem to work, however. I need some way to see where it's freezing up.

I tried running the command directly on the command line, but there are a lot of RUSTC environment variables, like RUSTC_STAGE, RUSTC_SYSROOT, etc that it expects to be set that are obviously done so by the

[2022-10-10 18:44] bsferrazza commented on #102339
@compiler-errors

I traced the error to the stage0 rustc calling sys_getrandom which is apparently only supported by kernels > 3.4.17. Is there an older version of stage 0 rustc that doesn't use syscall_318?

[2022-10-10 18:46] nikomatsakis commented on #100344
Assigning to @cramertj as the current lang team liaison.

[2022-10-10 19:02] berkus commented on #102849
True. I'll need to restore my hw setup for that though.

[2022-10-10 19:31] bsferrazza opened #102897 "building rust breaks on older kernels < 3.17, due to syscall_318 (getrandom)"
I am using a host machine that is on RHEL7 and kernel 3.10. This means it does not support the later versions of rust, which makes use of syscall_318 (sys_getrandom) that is only supported by kernels >= 3.17.

It's not clear when this syscall was introduced to rustc, but it seems that it's undocumented that it would break on kernels < 3.17. This results in an infinite loop calling syscall_318 when

[2022-10-10 20:06] kawogi opened #102899 "ICE with generic associated types + higher ranked trait bounds"
Got this while trying to implement a GAT and higher ranked trait bounds. The code is likely flawed because I was in the middle of a refactoring.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-10 20:10] bsferrazza commented on #102897
yeah, I just realized that now. 1.64.0 makes use of 1.63.0, as per the stage0.json file. But it still seems to be making that syscall_318 (getrandom) which is not supported by kernels less than 3.17, which doesn't seem to be documented by rust. Are you aware of which version of rust started using this syscall?

[2022-10-10 20:12] jyn514 commented on #102897
I am not, sorry. I'm not aware of any guarantees we have WRT syscalls the compiler itself uses.

[2022-10-10 20:26] jyn514 commented on #102897
Oh, apparently I'm wrong
https://blog.rust-lang.org/2022/08/01/Increasing-glibc-kernel-requirements.html

[2022-10-10 20:27] thomcc commented on #102897
We've used getrandom since Rust 1.0. We *seem* to still have a fallback to urandom in it, but maybe that isn't getting hit.

CC @cuviper

[2022-10-10 20:41] RReverser commented on #27732
Yes, they can, that's what Deref provides. Your example of `&s as &str` compiles just fine: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bd56db69728b59c755a066c9e42ef37c

[2022-10-10 20:44] bsferrazza commented on #102897
OK thank you. For some reason on my system it just infinitely loops calling getrandom with errno 38 (function not implemented) when doing a strace on it. This is when building core with the stage0 compiler. Going to try some other versions and see what I find out.

[2022-10-10 20:51] the8472 commented on #102897
There should be a fallback to open `/dev/urandom` when ENOSYS is encountered.

Can you run it under `strace -ff --signal=none -e 318,execve --stack-traces <command>`? That should give you a stacktrace where it's called and let you correlate the pid with an exec, i.e. which program is running it.

[2022-10-10 20:55] nagisa commented on #102848
Duplicate of https://github.com/rust-lang/rust/issues/79415.

[2022-10-10 20:58] nagisa commented on #102886
Whether to add `INTERP` or not, and what value it should take, is a decision made by the linker. `rustc` invokes said linker and the rest is pretty hands-off.

[2022-10-10 21:10] lf- commented on #95736
This winds up extra fun under Nix using $RUST_SRC_PATH where the rust sources are literally on a readonly file system, which is the r-a issue here: https://github.com/rust-lang/rust-analyzer/issues/13393

The correct fix for this issue is to add the stuff to rust-src, I think, so cargo doesn't try to relock it.

[2022-10-10 21:24] RalfJung commented on #95736
IMO it's a bug in `cargo metadata` that it doesn't work on a read-only file system (https://github.com/rust-lang/cargo/issues/10096).

[2022-10-10 21:32] bsferrazza commented on #102897
Ok thanks. I'll try that. Currently trying to build rustic-1.64 with built-in LLVM. Have a sneaking suspicion it may be LLVM 15

[2022-10-10 21:33] compiler-errors commented on #102899
I wonder if this is related to or a duplicate of #100689? It seems so, since @danielhenrymantilla's solution of replacing (in this case) `'buffer: 'channel` with `&'buffer (): 'channel` seems to make the code compile.

[2022-10-10 21:50] glandium commented on #102754
It doesn't happen with ld64, but the resulting binary only lists 3 personalities as per `llvm-object --unwind-info`...

[2022-10-10 21:54] ehuss opened #102902 "bare_trait_objects suggestion JSON includes stray suggestion"
Given the following code:

[code]

Running `rustc foo.rs --error=format=json` produces two machine-applicable suggestions. One of them is an empty span which has no effect. The relevant part of the JSON output is:

[code]

Notice that the second suggestion is an empty string for an empty span.

I expect this to not emit an empty span suggestion.

[code]

[2022-10-10 23:23] kpcyrd commented on #102299
I think it's specifically the build path that's embedded, this is a known limitation at the moment and projects like Arch Linux that are currently doing reproducible builds use a standardized build path to reproduce their rust binaries (and the rust compiler itself).

It would be nice to have rust/cargo not embed the build path by default (that's why I've filed https://github.com/rust-lang/cargo/i

[2022-10-10 23:34] compiler-errors commented on #102902
I bet this is the span to insert `)` if it's a complex trait object that needs parens. While this can probably be fixed in that one case specifically, it's probably better to filter multipart suggestion parts that are empty spans with empty replacements out of the list before emitting them as JSON.

This shouldn't be too hard.

[2022-10-10 23:34] compiler-errors commented on #102887
Looks like an incremental bug :/

[2022-10-10 23:43] bsferrazza commented on #102897
@the8472 ok my suspicion was wrong. Still resulted in it getting "stuck" at building core.

Here's the strace. It just loops on pid 24928 trying to getrandom

[code]

[2022-10-10 23:58] cuviper commented on #102897
That's interesting -- `arc4random` is new to glibc 2.36, but LLVM has had that support conditionally for a long time. The version in `glibc` will also call `getrandom` and on `ENOSYS` will fallback to `/dev/random`, then `/dev/urandom`. There is no caching of that though, so it will try it every time it is called. That should still work though, just a little wasteful.

Are you sure this is really

[2022-10-11 00:24] edward-shen commented on #66116
I'm a big fan of `.ignore()`. Thinking about it, an implementation would basically just be

[code]

which is reminds me of `drop`. Maybe `drop` should really be the conventional way to ignore a `Result`?

I think between an `.ignore()` and `drop` I would still prefer a convenience method (especially since it's postfix!) on `Result` (and if it's not clear, to also throw `#[must_use]` on `.ok()`).

[2022-10-11 00:33] bsferrazza commented on #102897
@cuviper I don't know that it's looping. But it repeats that code block indefinitely and needs to be killed, otherwise it will run without any progress forever. I could try falling back to glibc 2.35 to see if that resolves the issue, though I'd prefer not to. I did build rustc-1.60.0 with LLVM 14.0.6 and glibc 2.35 without issue, for what it's worth.

[2022-10-11 00:36] js2xxx commented on #102886
Yes. So I wonder if the compiler doesn't pass the flags (e.g. `--dynamic-linker`) to the linker, because I have tested my code with the same linker but only different versions of rustc.

[2022-10-11 00:37] cuviper commented on #102897
It's also worth noting that the official Rust builds here are built against much older glibc, so LLVM will have decided *at compile time* that `arc4random` is not available, and then it just uses plain C `rand()`. The weak linkage will still be there in Rust `std`, but that's the one that remembers `ENOSYS`.

[2022-10-11 00:49] bsferrazza commented on #102897
what's making rustc continually try and get a random in this case? is there a FLAG or something I can use to avoid this?

[2022-10-11 00:55] cuviper commented on #102897
Your log shows that Rust (`librustc_driver`) tried only *once* in pid 24928, which is what we intend, since it's supposed to cache the fact that it got `ENOSYS`. The next two are through LLVM calling `arc4random`, which we don't control, but since you're building your own maybe there's a cmake incantation to suppress `HAVE_DECL_ARC4RANDOM`, around here:
https://github.com/llvm/llvm-project/blob/a4

[2022-10-11 01:02] bsferrazza commented on #102897
@cuviper ok thank you. I'm assuming I would try building LLVM with cmake -DHAVE_DECL_ARC4RANDOM=OFF?

[2022-10-11 01:42] glandium commented on #102754
Should this be labeled regression-stable-to-beta or something?

[2022-10-11 01:55] pitaj opened #102905 "`str::array_split` for splitting a string into a constant number of parts"
Related to:

- [`str::split_once`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.split_once)
- [`str::splitn`](https://doc.rust-lang.org/stable/std/primitive.str.html#method.splitn)
- [`slice::as_chunks`](https://doc.rust-lang.org/stable/std/primitive.slice.html#method.as_chunks)

The idea is to provide an API similar to `split_once`, but allowing the programmer to specify any num

[2022-10-11 02:33] amirrezaask commented on #102887
yes, seems so, i deleted target/ and now it compiles ok

[2022-10-11 02:37] skittles1412 opened #102907 "Suggest HRTB when &T is used in a where clause"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=496009deb9b692d7952de1f933c244df
[code]

The current output is:

[code]

Ideally the output should look like:

rustc should suggest
[code]

[2022-10-11 02:37] bsferrazza commented on #102897
Closing, as this appears to be an issue with LLVM

[2022-10-11 02:37] #102897 closed

[2022-10-11 02:44] bsferrazza commented on #102339
This was resolved after working through [issue 102897](https://github.com/rust-lang/rust/issues/102897)

[2022-10-11 02:44] #102339 closed

[2022-10-11 03:02] eggyal commented on #27732
Perhaps my previous comment wasn't clear enough: a deref coercion is not an unsize coercion.  What you cannot do is call the following with a `&Str<N>` argument where `U` is `str`:

[code]

[2022-10-11 04:27] #100295 closed

[2022-10-11 04:27] #102711 closed

[2022-10-11 04:46] rodrimati1992 opened #102909 "doc attributes on reexport of type are copied to inherent impls"
With a `foo_lib` dependency, I tried documenting the `bar_lib` crate with this code:

[code]

I expected to see this happen: the documentation appears only for the type.

Instead, this happened: the documentation appears on the type's inherent `impl` block as well as the type.

![image](https://user-images.githubusercontent.com/18036327/194999326-20ce6e18-43ce-4a31-b52e-a71af7be922a.png)

### Meta

[2022-10-11 05:16] matthiaskrgr opened #102910 "rustdoc: hang/OOM with recursive type"
I tried this code:

[code]

[2022-10-11 06:08] lilasta opened #102911 "Tracking Issue for `const_location_fields`"
Feature gate: `#![feature(const_location_fields)]`

This is a tracking issue for `core::panic::Location` methods as `const` functions.

### Public API

[code]

### Steps / History

- [x] Implementation: #101030
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-10-11 07:04] iankronquist commented on #97724
Awesome thanks for the update! I believe the bug can be closed now.Ian KronquistOn Sep 23, 2022, at 03:38, Adam Gemmell ***@***.***> wrote:﻿
As the above issue says it's locked behind the el2vmsa LLVM feature, which Rust doesn't directly expose. You can turn it on with the unstable v8.1a feature for now: https://godbolt.org/z/6vcd3aYEM

—Reply to this email directly, view it on GitHub, or unsubscr

[2022-10-11 07:17] Sporky073189ImSpecial commented on #100000
huh?

On Sun, Aug 7, 2022 at 10:35 AM Couleur ***@***.***> wrote:

[2022-10-11 07:28] RalfJung commented on #93481
Miri has an option to print a warning every N basic blocks of execution. We could have something similar for CTFE, maybe, if we have a way of emitting diagnostics during CTFE without halting evaluation. (Having that would also be useful for https://github.com/rust-lang/rust/issues/99923.)

[2022-10-11 08:05] Voultapher commented on #101628
I think the issue will be type confusion. Which is what I initially looked for. If dropping those remaining Old elements panics, it would drop Olds as News. I think a simpel drop guard before forget_ should do the trick.

[2022-10-11 08:11] SparrowLii commented on #102892
@rustbot claim

[2022-10-11 08:29] RalfJung commented on #95627
Does the Windows stdout/stderr go through a "handle" or is it a separate code path?

[2022-10-11 08:38] gustav3d commented on #93740
Why not offer both types ?.

On Fri, 7 Oct 2022 at 12:36, joboet ***@***.***> wrote:

[2022-10-11 08:47] blueglyph commented on #70336
I saw the same strange behaviour of Display with f64, and made a comparison between Display::fmt and a trivial rounding function. Display was wrong 50% the time in my small test, and `round()` was wrong 5% of the time.

The code is [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=36d3ebdd089cfa69e38322d4b2d042a2).

Here is the output, with comments where Display is wr

[2022-10-11 09:06] m-ou-se commented on #102398
@garypen It looks like you're implementing a global allocator using your thread::park_timeout-based mutex? That's going to be problematic, since the thread parking data is stored in a heap allocation (an `Arc`) that gets deallocated on thread destruction.

[2022-10-11 11:52] garypen commented on #102398
@m-ou-se Thank you. I have an approach to the problem which works as a spinlock, but I was experimenting to see if I could do something more efficient using `park_timeout()`. It's one of those where I wasn't sure if it was interesting to report, but I thought I'd mention it.

[2022-10-11 14:03] vincenzopalazzo opened #102918 "resolve the function call on an async trait cause a compiler crash"
While working on an experimental runtime [rio](https://github.com/vincenzopalazzo/rio/tree/main/rt) and using a couple of experimental features I found that the compiler while in resolving the async call on a trait crash badly.

This is a minimal reproducible example

[code]

and this is the stacktrace generated

[code]

N.B: I guess this happens with any runtime? BTW also if happens only with rio

[2022-10-11 14:04] vincenzopalazzo commented on #102918
@rustbot label +A-async-await +T-compiler

[2022-10-11 14:05] #101983 closed

[2022-10-11 14:05] #102398 closed

[2022-10-11 14:05] vincenzopalazzo commented on #102918
In the meanwhile, I will try to swim inside the codebase to catch the problem!

@rustbot claim

[2022-10-11 14:11] scottmcm commented on #76001
Any thoughts on how close this is to being potentially stable, folks?

Yet another [URLO thread wanted to use it](https://users.rust-lang.org/t/how-to-declare-arrays-gracefully-vec-string-8/82584/3?u=scottmcm), so I'd love to get it out to people.

[2022-10-11 14:23] nbdd0121 commented on #76001
I believe in the last 6 month I have fixed everything (implementation-wise) that blocks inline const in expr position.

No progress on the unsoundness issue for inline const in pattern position (https://github.com/rust-lang/rust/blob/bb93450ec4af83c20e9ba6c8e575aca55423001a/src/test/ui/inline-const/const-match-pat-lifetime-err.rs). I am slightly worried about the impact this can have on the overal

[2022-10-11 14:31] vincenzopalazzo commented on #102383
After playing a little bit with this today, as posted also on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/triage.20meeting.202022-10-10/near/303450227) I can have a thesis that can make sense, I take a look to the following crates report https://crater-reports.s3.amazonaws.com/pr-97334-1/try%23b755f8b9936d084e0363ce6b393c7e444a37080e/gh/88IO.blogpost-rs/log.txt

wh

[2022-10-11 14:42] blueglyph commented on #70336
Since  I already had a routine that rounds a number by processing its string representation, I quickly used it to detect erroneously rounded values in a simple test on more values. Maybe not as good as using a crate like `decimal` but good enough for a quick investigation.

I found out the **ratio of mismatches was 5 / 22** so about 25%, for different number of fractional digits and only testing v

[2022-10-11 14:58] lunabunn commented on #53667
What is the status on this? Is it ready for a FCP?

[2022-10-11 15:14] joshtriplett commented on #98070
@nagisa I've updated the API (and now the documentation in this tracking issue): it now just returns `bool`, and returns `false` (not a terminal) if something goes wrong.

I personally think that there's value in being able to call it universally and just get a "false", because "treat as a non-terminal" is almost always the correct behavior in such cases: don't try to do fancy formatting, don't tr

[2022-10-11 15:39] masklinn commented on #23465
Unix-like OS without futexes still use pthread locks, and for windows

I also looked around and didn't find any actually stated guarantee that futexes can be released by a non-owning thread.

[2022-10-11 15:43] ilammy opened #102921 "Tracking issue for `-Z instrument-xray`"
This is a tracking issue for `-Z instrument-xray` flag, enabling XRay instrumentation support.

- Docs: TBD
- MCP: rust-lang/compiler-team#561

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large sca

[2022-10-11 16:16] kper commented on #102902
@rustbot claim

[2022-10-11 16:25] compiler-errors commented on #102918
@vincenzopalazzo, this is fixed by #102334.

[2022-10-11 16:27] compiler-errors commented on #102918
Minimized so it doesn't depend on rio:

[code]

[2022-10-11 16:27] afetisov opened #102923 "Better diagnostics for proc macro attributes"
Given the following code:

[code]

The current output is:

[code]

The compiler knows the meaning of `#[proc_macro*]` attributes, so it could provide more helpful error messages. The `ProcMacro::custom_derive` etc types are not part of the API that the users normally work with, so listing them is unhelpful. Since the signatures of proc macro functions are fixed, the compiler can directly list them

[2022-10-11 16:58] amab8901 opened #102925 "swap places F_(n-2) and F_(n-1)"
https://veykril.github.io/tlborm/decl-macros/macros-practical.html

It says: "the [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number) can be defined by the relation:"

And right after that it says F_(n-1), and F_(n-2). These two should swap place because F_(n-1) is greater than F_(n-2)

[2022-10-11 17:04] cuviper commented on #102897
PS: RHEL7 *does* have the `getrandom` syscall since RHEL 7.4.

https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/7.4_release_notes/new_features_kernel#BZ1432218

The system glibc still won't have a wrapper for it, but your own glibc-2.36 should be able to use that.
(So your `ENOSYS` implies that you're using an *even older* kernel than this...)

[2022-10-11 17:05] matheus-consoli commented on #102823
oh, sorry for opening it in the wrong repo!

it's fixed, thank you for your work

[2022-10-11 17:05] #102823 closed

[2022-10-11 17:10] compiler-errors commented on #102925
@amab8901 you should open this against https://github.com/veykril/tlborm/, since that's not Rust documentation. cc @Veykril

[2022-10-11 17:11] #102925 closed

[2022-10-11 17:16] bsferrazza commented on #102897
@cuviper I'm on 7.3. This is the Linux servers I use at work, so don't have any way to change that. I was building rustc using my own bootstrapped toolchain. I've compiled dozens and dozens of libraries and binaries that are completely insulated from the host machine's libs.

[2022-10-11 17:18] compiler-errors commented on #102925
Anyways, filed this as Veykril/tlborm#79

[2022-10-11 17:29] crlf0710 commented on #58533
I think i wrote this doc comment, sorry for my bad English! Basically i wanted to mean that "there's always a prior element and a next element", sorry for the confusing wording. The actual code behavior matches what the RFC says, i think.

[2022-10-11 17:34] ajtribick commented on #70336
I'm not sure that matching the output of `round()` is the only correct option here. To take an example from C++, `std::round` is defined to round away from zero (same as Rust's `f64::round`), while the floating point formatting output depends on the current rounding mode, which on my system defaults to rounding to even.

But I think having a consistent rounding mode in the formatter is a desirable

[2022-10-11 18:07] compiler-errors commented on #102907
Hm, I only think we should suggest an HRTB if the function that this where-clause is attached to has no lifetimes of its own in its generics.

Otherwise, it's very likely that the user might've mistyped (for example) `fn foo<'a>(..) where &T: Trait` when they meant `fn foo<'a>(..) where &'a T: Trait`.

[2022-10-11 18:10] mimoo commented on #52662
my way of circumventing this limitation:

[code]

[2022-10-11 18:15] nikomatsakis commented on #102389
@rustbot labels +T-compiler

This needs work from T-compiler! :)

[2022-10-11 18:16] nikomatsakis commented on #102389
@rustbot labels -I-lang-nominated

Meeting consensus is that the current behavior is wrong and needs to be fixed.

[2022-10-11 18:28] scottmcm commented on #102810
This changed between 1.35 and 1.36 in the 2015 edition: <https://rust.godbolt.org/z/bYvjeGvM5>

[2022-10-11 18:48] blueglyph commented on #70336
I think I've shown it was not a good solution indeed, since `round()` doesn't always produce a predictable result. It needs to be processed with a decimal base, one way or another, to provide a correct rounding away from zero and rounding to even.

First and foremost, it should be consistent with a corresponding rounding function. Here the fact that the displayed values don't match anything makes

[2022-10-11 18:49] vincenzopalazzo commented on #102918
Cool @compiler-errors great work :)

[2022-10-11 18:53] kprotty commented on #93740
@gustav3d If I understand your question correctly, there's only one `std::sync::Mutex`.

As long as `thread::park/unpark` exist, an IQ lock can be made. `parking_lot` uses an IQ lock called `WordLock` to implement its "userspace futex" which powers everything else.

PL locks can sometimes be faster since queuing happens on a separate cache line. This means the "lock state" isn't under contention w

[2022-10-11 18:59] finnbear opened #102929 "Tracking Issue for `String::leak`"
Feature gate: `#![feature(string_leak)]`

This is a tracking issue for `String::leak`

[code]

### Steps / History

- [x] ACP (https://github.com/rust-lang/libs-team/issues/109)
- [ ] Implementation: (pending; will PR soon)
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.ht

[2022-10-11 20:09] #71614 closed

[2022-10-11 20:09] #102878 closed

[2022-10-11 20:09] #62924 closed

[2022-10-11 20:57] matthiaskrgr opened #102933 "ICE: assertion failure: eps.array_windows() ... rustc_middle/src/ty/context.rs:2684:9"
`59324.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-11 21:28] camsteffen commented on #100717
`rustc_ty_utils` is incomplete after https://github.com/rust-lang/rust/pull/102622. I updated the OP.

[2022-10-11 21:33] eholk commented on #102383
Yeah, so for some more background, this bug is with a new generator capture analysis called Drop Tracking. Drop tracking is more precise than the current analysis, which means that it finds fewer types in the generator type than before (basically, the current analysis has a lot of false positives and drop tracking has less of them). This analysis happens during type checking, and then the code is

[2022-10-11 21:45] matthiaskrgr commented on #102933
searched toolchains 81f391930301afbc121b7c468138069daa354bf8 through a6b7274a462829f8ef08a1ddcdcec7ac80dbf3e1

********************************************************************************
Regression in 0265a3e93bf1b89d97cae113ed214954d5c35e22

hmm

[2022-10-11 21:54] okayplanet opened #102937 "Unable to build demo project with latest version of rust"
I tried this code:

[code]

I expected to see this happen: I expected the new project that I created to build, from following https://guide.nannou.cc/getting_started/create_a_project.html

Instead, this happened:
<img width="887" alt="Screen Shot 2022-10-11 at 4 49 40 PM" src="https://user-images.githubusercontent.com/3144575/195205015-1ed8f47f-7eb9-4e77-ae14-7f838c6a6b85.png">

### Meta

`rustc -

[2022-10-11 22:31] ehuss commented on #102937
Sorry for the trouble you've run into. There was a change to Rust to fix a soundness problem (#99413, #100544). That requires updating to a newer version of wgpu-core that does not have the problem. It looks like you should be able to update to the latest version of `nannou` to fix it.  In `Cargo.toml`, you can update it to `nannou = "0.18"` to pick up the new version.

[2022-10-11 22:48] compiler-errors commented on #102933
@matthiaskrgr what's your system? do you have debug builds on? I can't seem to repro this on master.

[2022-10-11 22:55] okayplanet commented on #102937
Perfect! Works great now! Thanks

[2022-10-11 22:55] #102937 closed

[2022-10-11 22:57] matthiaskrgr commented on #102933
no this is not with debug build on, its just the normal master toolchain installed via `rustup-toolchain-install-master -f -n master  -c rustc-dev llvm-tools rust-src clippy rust-analyzer rustfmt miri` on x86

[2022-10-11 23:00] RikardLegge opened #102939 "Unrelated trait bounds prevents generic types to be inferred in function call."
I tried this code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6af5347fc4b86cc9e41551719382814e)):

[code]

Another example with the same problem caused associated types: [Example 2 Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e6d824a679932452a78e31f03402dd88).

I expected to see this happen: The example should compile

[2022-10-11 23:26] cuviper commented on #102897
That kernel is over 5 years without any updates! I suppose you're not on AUS, or you'd be getting security updates like [this](https://access.redhat.com/errata/RHSA-2022:5806) (and many before), but I do understand that it's out of your control.

[2022-10-11 23:44] compiler-errors commented on #102933
Literally can't repro this locally. I'm pretty sure that I know the reason why (the `object_ty_for_trait` function, which is called from `virtual_call_violation_for_method` isn't actually returning a sorted list of elaborated predicates). This must be because we're calculating def path hash or something differently between the CI master build and a local build of master.

[2022-10-11 23:53] glandium commented on #102754
The LLVM bug has a fix for lld.

[2022-10-12 00:18] wez commented on #69267
At this point I think it would get more visibility to open a new issue that references this

[2022-10-12 02:44] JeremyRubin opened #102942 "ICE Compiling rustc_hir"
apologies if this is not too useful since it's coming out of CI for a private repo, and I don't have a minimal reproduction, but the following error came up so adding a report here:

[code]

[2022-10-12 02:51] sargun commented on #98245
One thing I noticed is that there's no way to set the AT_SYMLINK_NOFOLLOW flag for this call. We might want to expose that.

[2022-10-12 03:01] compiler-errors commented on #102510
I think I minimized this to:

[code]

[2022-10-12 03:55] NobodyXu commented on #99262
@rust-lang/libs-api I'd like to push for stabilisation of this feature.

The only thing I'm not sure about is the return value`Result<Box<E>, Self>`
Returning a `Box` here might expose too much of an internal detail, in case the internals of `io::Error` change in future to use something like a thin box.

[2022-10-12 03:59] NobodyXu commented on #99262
Emmm it seems I can't at libs-api team...

[2022-10-12 04:18] matthiaskrgr commented on #102933
so you can't even repro with the official master artifacts? :| or just not with a local build?

[2022-10-12 04:24] compiler-errors commented on #102933
Sorry, I can repro with the master artifacts. But not with a local build of master, which makes testing the change that I want to make to fix this issue difficult.

[2022-10-12 04:26] matthiaskrgr opened #102946 "ice: unexpected unresolved segments"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 04:31] matthiaskrgr commented on #102946
panic was added in 1a8f177772658a244e79a9aa2d48898a4e24c9ce / https://github.com/rust-lang/rust/pull/102889/files

[2022-10-12 04:49] compiler-errors commented on #102933
Actually, repro on stable:

[code]

This should be a UI test that is resilient to def path hashing changes.

[2022-10-12 05:27] compiler-errors commented on #102942
This is a duplicate of #102946 (well, chronologically that issue is a duplicate of this one, but that issue has an MCVE :stuck_out_tongue_winking_eye: )

[2022-10-12 05:34] NobodyXu commented on #99262
r? @thomcc

[2022-10-12 06:06] #102942 closed

[2022-10-12 06:06] JeremyRubin commented on #102942
cool closing as dup

[2022-10-12 07:40] PriamX commented on #31343
Say, I'm entirely new to rust, trying to get [encrusted](https://github.com/demille/encrusted) going, which, in turn, uses [wasm-glue](https://github.com/DeMille/wasm-glue) ([doc.rs here](https://docs.rs/wasm-glue/latest/wasm_glue/))

In wasm-glue's source file [lib.rs](https://github.com/DeMille/wasm-glue/blob/master/src/lib.rs), it's apparently still using `io::set_print()` and `io::set_panic()`

[2022-10-12 08:54] RalfJung commented on #76001
I remain unconvinced of inline consts in pattern position anyway, so I don't think we should block expression inline consts on the pattern. Do they use the same feature gate currently? If yes I think a good next step would be to split the feature gates.

[2022-10-12 08:57] m-ou-se commented on #31343
There's no replacement, because these functions never actually existed in stable Rust at all. The code you linked relied on a nightly feature, making use of an internal implementation detail of some older versions of Rust that wasn't meant for that purpose.

A solution might be for that crate to provide its own `print` and `println` macros.

Another solution could be to add some new feature to Rus

[2022-10-12 09:35] Sp00ph commented on #99805
I wrote [this](https://www.reddit.com/r/rust/comments/y1j2sl/why_does_vecdequet_waste_space_by_design/) reddit post yesterday, and got some replies saying I should maybe comment on here so here goes nothing:
I've written [a Deque implementation](https://github.com/Sp00ph/deque) which should be basically a drop in replacement for `alloc::collections::VecDeque`, which allows for empty buffers (so `D

[2022-10-12 09:40] ozkanonur opened #102955 "value declaration via preprocessor"
[code]

If we use the macro above as following:

[code]

We will able to achieve C style reusable value declaration like:
[code]

Which means .rodata section will be lighter and compiled output will be optimized at micro level.

Can we or should we have this as std macro?

[2022-10-12 10:13] mchernyavsky opened #102957 "Cargo test can't find doc tests when `--format=json` option is presented"
### Code

I tried this command:

[code]

on this code (`lib.rs`):

[code]

The result is:

[code]

As expected, cargo found 1 doc test. But when I add `--format=json` option to the command line:

[code]

I expected to see this:

[code]

Instead, I got this:

[code]

### Version it worked on

It most recently worked on: `nightly-2022-10-02`

### Version with regression

`nightly-2022-10-08`

`rustc

[2022-10-12 10:21] the8472 commented on #99805
VecDeque documentation doesn't promise that it'll size its capacity to a power-of-two so that kind of rewrite should be ok in principle. Other collection impls have been replaced piecemeal or wholesale before (e.g. HashMap). And free conversions are enticing, even if VecDeque is a bit more niche than Vec itself.

Since it'll likely touch a lot of code, including some unsafe code, you should be pre

[2022-10-12 10:34] Sp00ph commented on #99805
It does work for ZSTs, just like Vec it doesn't allocate for ZSTs, its capacity is always usize::MAX and some of the functions that copy stuff around (make_contiguous, rotate_{right,left} and so on) also skip the copying for ZSTs to minimize the required work.

[2022-10-12 10:37] the8472 commented on #99805
That's due to [a specialization](https://github.com/rust-lang/rust/blob/2b91cbe2d4ce90d30520674876e9d700cf7a561b/library/alloc/src/collections/vec_deque/spec_extend.rs#L38-L94) that eliminates repeated reallocation and bounds-checks.

[2022-10-12 10:37] Sp00ph commented on #99805
And as for the diff size, I'm not sure a lot of the VecDeque code is salvageable, so I would've preferred to just replace it outright, as most of the algorithms and functions would need to be replaced anyways.

[2022-10-12 10:38] expeluo opened #102959 "compiler flags: --crate-type lib -C opt-level=3 -C embed-bitcode=no"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 10:39] lukas-code commented on #102955
Rust already does that for constant items. If you define a constant like this:
[code]
Then all uses of the constant will be replaced by its value and the constant will not end up in `.rodata` or any other section of the resulting binary (as long as you don't take the address of the constant).

If you also want to infer the type of the constant, like a C `#define` would, you can use it as `ORIENTAT

[2022-10-12 10:41] Sp00ph commented on #99805
I'm aware of the specialization and have [implemented it](https://github.com/Sp00ph/deque/blob/master/src/lib.rs#L1166-L1179) in a very similar manner myself.

[2022-10-12 10:51] #102117 closed

[2022-10-12 10:51] #100422 closed

[2022-10-12 11:04] ehuss commented on #102957
Thanks for the report! This was a regression in cargo. There was a brief window between 10-05 and 10-08 with this issue. If you update to the latest nightly, it should work.

Closing as a duplicate of https://github.com/rust-lang/cargo/issues/11191. Feel free to comment if the latest nightly doesn't work.

[2022-10-12 11:04] #102957 closed

[2022-10-12 11:18] ozkanonur commented on #102955
I knew constants usually works like that, but I also thought in scenario like casting constant types for function parameters then it becomes a real value in .rodata. But as I can see I was wrong. Thanks for the clarification @lukas-code

[2022-10-12 11:18] #102955 closed

[2022-10-12 11:30] ozkanonur commented on #98832
I would like to work on this.

@rustbot claim

[2022-10-12 12:16] Sp00ph commented on #99805
If I do change `VecDeque::new` to be const, should I add a `#[rustc_const_unstable]` attribute? If so, whats the process for adding a feature for it? I never worked on the stdlib itself before, so I'm not very knowledgeable on how to do things like that.

[2022-10-12 12:22] nbdd0121 commented on #76001
They are in separate feature gates after #91140.

[2022-10-12 12:24] joboet commented on #99805
Yes, that is the correct attribute. I would recommend checking out the [std-dev-guide](https://std-dev-guide.rust-lang.org/getting-started.html), it might answer a few questions :wink: (I only discovered it a few days ago, and it's pretty good). For making a function `const`, you should especially look at the "API Change Proposal" section. But you can make the function `const` in a separate step a

[2022-10-12 12:40] kornelski commented on #43596
What are the chances of stabilizing this soon?
I've written workaround for it #84612 a year ago, and I wonder if I should push for the workaround still.

[2022-10-12 12:48] NoNaim95 opened #102964 "ICE delay_span_bug"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-10-12 13:18] TaKO8Ki commented on #102964
It seems that the ICE does not occur on latest nightly.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=76ef9c2344afdb4774ec8d6e8291554e)

[2022-10-12 13:19] TaKO8Ki commented on #102959
I think this is related to https://github.com/rust-lang/rust/issues/102946.

[2022-10-12 13:29] NoNaim95 commented on #102964
Yes indeed.
I was told to still submit bugs even when they only occur on newest Beta.

[2022-10-12 13:32] Rageking8 commented on #102964
@rustbot label +E-needs-test

@rustbot claim

To add the test

[2022-10-12 13:33] Rageking8 commented on #102964
@rustbot label +E-needs-test

[2022-10-12 13:34] Rageking8 commented on #102964
@rustbot claim

To add the test

[2022-10-12 14:02] dwrensha opened #102965 "failed to get output type of async function"
rustc crashes on the following input, found by [fuzz_rustc](https://github.com/dwrensha/fuzz-rustc):
[code]

[code]

[2022-10-12 14:03] dwrensha commented on #102965
searched nightlies: from nightly-2022-02-10 to nightly-2022-10-11
regressed nightly: nightly-2022-09-10
searched commit range: https://github.com/rust-lang/rust/compare/1120c5e01df508de64fe6642f22fadeb574afd6d...1d37ed661a6922e7a167609b8cd7eb31e972b19b
regressed commit: https://github.com/rust-lang/rust/commit/ab32548539ec38a939c1b58599249f3b54130026

<details>
<summary>bisected with <a href='http

[2022-10-12 14:04] dwrensha commented on #102965
This regressed in #101224. cc @compiler-errors

[2022-10-12 14:06] #85261 closed

[2022-10-12 14:07] cormacrelf opened #102966 "Compiler hangs on some types threading lifetimes through a carrier trait"
The following code hangs rustc stable 1.64, beta and nightly. It sits on 100% CPU doing rustc_middle things inside a `rustc_typeck::outlives::implicit_infer::infer_predicates > insert_outlives_predicate` operation. (**Edit**: by "rustc_middle things" I mean `<rustc_middle::ty::TyS as core::cmp::Ord>::cmp`.) I've let it run for at least half an hour to no avail.

[code]

You can change the code in

[2022-10-12 14:26] WaffleLapkin commented on #94836
The current error looks like this:
[code]

Maybe we shouldn't set the APIT type at all, so that we don't show the latter two errors? (they are somewhat confusing IMO)

[2022-10-12 14:26] Amanieu commented on #76001
[Here](https://gist.github.com/Amanieu/c70c40aad31ce7acd53e3d64ab6ff7e4) is a seccomp-BPF interpreter I wrote which uses const patterns in match. I don't see an easy way to write this code without this feature.

[2022-10-12 14:28] nbdd0121 commented on #76001
Technically you can do it with a lot of `const XXX: i32 = xxx;`, although I agree it's ugly.

[2022-10-12 14:35] Sp00ph commented on #99805
Alrighty, with any luck I should have a working version ready later today, what exactly is the process to merge it? Do i just fork the repo, push my changes to the fork and then create a PR, or are there any additional required steps?

[2022-10-12 14:41] Pointerbender opened #102968 "Missing implied lifetime bounds for method with GAT in return position"
The following example fails to compile:

[code]

The error message is:

[code]

This error message is a bit surprising, because the lifetime bounds are specified on the generic associated type: `type Bar<'bar> where 'foo: 'bar;` . I had expected that Rust would be able to automatically infer these bounds from the GAT declaration instead of giving an error. By using the information that the GAT is

[2022-10-12 14:46] Rageking8 commented on #102968
@rustbot label +T-types +C-bug +F-generic_associated_types

[2022-10-12 14:49] Rageking8 commented on #102966
@rustbot label +C-bug +I-hang +T-compiler

[2022-10-12 14:50] andydGoram opened #102969 "error: internal compiler error: unexpected panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 15:00] joboet commented on #99805
Yes, exactly. Perhaps include "r? @scottmcm" in the PR description to assign @scottmcm, I saw on Reddit that they were interested in this.

[2022-10-12 15:02] matthiaskrgr commented on #102964
If someone finds out which nightly pr fixed it I guess we could consider a backport to beta?

[2022-10-12 15:03] matthiaskrgr commented on #102969
@andydGoram  do you have any details like the backtrace or the code/crate you were compiling?
Right now this ticket is not actionable and we'll just have to close it without further details given.

[2022-10-12 15:04] Sp00ph commented on #99805
Perfect, thank you.

[2022-10-12 15:09] apiraino commented on #102965
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102965.20failed.20to.20get.20output.20type.20of.20async.20function)).

@rustbot label -I-prioritize +P-medium

[2022-10-12 15:11] PriamX commented on #31343
Thank you for the reply. It's not my code, I was just hoping to be able to contribute a fix for it. I'd be comfortable developing a fix to the existing wasm-glue code, but since I'm new to rust, designing a new solution may be a bit out of my wheelhouse right now.

[2022-10-12 15:12] mark-i-m commented on #76001
You could also do `x if x == BPF_LD | … => …`

[2022-10-12 15:19] compiler-errors commented on #102965
This is fixed by #101679 -- since it's a regression from an error to an ICE (i.e. it never compiled in the first place) and this is code discovered by a fuzzer, I don't think this warrants a beta backport.

[2022-10-12 15:20] amab8901 commented on #63466
if this issue is closed, then maybe you should stop referring to it on [this](https://doc.rust-lang.org/rustc/targets/known-issues.html) page?

[2022-10-12 15:25] cormacrelf commented on #102966
I demangled a trace a bit, and, if you imagine the left margin steadily increasing here as they're all nested, it looks like this but goes on a lot longer:

<details>
<summary>Demangled trace</summary>
[code]
</details>

So we are maybe looking at a huge TyS object constructed recursively. It may be at least 1,110 levels deep, the bottom level happens to be a `<rustc_middle[44a83f749f1857ae]::ty::

[2022-10-12 15:35] WaffleLapkin commented on #57951
Since the last comment the output has changed again:
[code]

I think that the output is basically perfect, so this issue can be closed 😄

[2022-10-12 15:49] compiler-errors commented on #102964
I fixed this in #102059. I'll beta nominate it.

[2022-10-12 16:00] scottmcm commented on #70887
@m-ou-se Looks like your concern can probably be resolved now, with #102578 merged.

[2022-10-12 16:09] lylythechosenone opened #102972 "Better messages for `next` inside `for` loops"
Given the following code:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=521fa77822c348df75f29034633aa31d)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
or similar. The note and/or help are both subject to changes, this is just a basic idea.
We could also conceivably rewrite the error message to expand on what the note s

[2022-10-12 16:13] scottmcm commented on #99805
Yup, you can assign it to me.

One procedural thing: I would suggest ensuring your PR is *only* an implementation change, and doesn't — in that first PR — add any new API guarantees.

Because changing the implementation could always be reverted, and thus we can just do it.  But new promises, like "`Vec` → `VecDeque` is always O(1)" is something that would need a libs-api FCP because it's something

[2022-10-12 16:14] dpc opened #102973 "Nightly rustdoc ICE: `panicked at 'assertion failed: eps.array_windows().all(|[a, b]|\n a.skip_binder().stable_cmp(self, &b.skip_binder()) !=\n `"
### Error output

Whole output available at https://github.com/fedimint/fedimint/actions/runs/3233716428/jobs/5295926737

Just started happening in our CI on the one flow that doesn't have Rust locked via Nix, so I guess it must have just got introduced.

Please excuse very little information. I just want to report it timely, and I have move on to some other stuff for now.

[code]

[2022-10-12 16:38] Sp00ph commented on #99805
Sure thing. The way I've written it now, it says that in its current implementation (the new one), it's a cheap conversion, but this isn't guaranteed and shouldn't be relied upon. Hope it's okay that way.

[2022-10-12 16:40] scottmcm commented on #99805
Yeah, something non-committal is fine.

Like the current one says

<https://doc.rust-lang.org/std/collections/struct.VecDeque.html#impl-From%3CVec%3CT%2C%20A%3E%3E-for-VecDeque%3CT%2C%20A%3E>

[2022-10-12 17:03] rjzak opened #102976 "Potential `char` type issue on `powerpc64le-unknown-linux-gnu` for `wasm32-wasi` target"
I tried this code:
* Compiling this library for `wasm32-wasi`: https://github.com/kateinoigakukun/wasi-vfs. It creates a file `libwasi_vfs.a` which is then linked against when creating a Wasi application using the author's virtual filesystem application. This application allows packing files and directories into a Wasi .wasm binary for running with a runtime environment.
* Both instances below als

[2022-10-12 17:11] MasterAwesome commented on #102162
@rustbot label -I-prioritize +P-high

[2022-10-12 17:25] matthiaskrgr commented on #102973
probably duplicate of https://github.com/rust-lang/rust/issues/102933

[2022-10-12 17:50] fu5ha opened #102978 "Nightly ICE during build of `rkyv`"
### Code

Unfortunately I don't have a minimal repro. ~~See the changes listed in this commit: https://github.com/rkyv/rkyv/pull/319/commits/8e558b3e3f4550c54b5eabd49a891c46c85be740~~

Not caused by the above changes, it seems just compiling `rkyv` with latest nightly ICEs identically. I'll try to bisect which nightly it first fails on...

Full failing job output here https://github.com/rkyv/rkyv/

[2022-10-12 18:20] clubby789 opened #102979 "'Nightly API' warning boxes on docs.rs are displayed incorrectly on mobile (iOS)"
When browsing to docs.rs pages with 'Nightly API' warning boxes on my phone (iPhone 6s), they are displayed incorrectly.
![](https://media.discordapp.net/attachments/818964227783262209/1029815528354742343/IMG_2546.png)
![](https://media.discordapp.net/attachments/818964227783262209/1029816893109973012/IMG_2547.png)

These boxes were broken in the same way on both Safari and Chrome.

On Android, (C

[2022-10-12 18:27] fu5ha commented on #102978
Okay I'm failing at bisecting which nightly it fails on, but it's at least known good on nightly-2022-10-05 since that was the last time `rkyv` had a CI build on nightly, which succeeded.

[2022-10-12 18:46] ojeda opened #102981 "rustdoc: Tracking Issue for `--test-builder`?"
The flag was added in the second commit of https://github.com/rust-lang/rust/pull/64328, but I couldn't find a tracking issue (like https://github.com/rust-lang/rust/issues/87022 for `--no-run`).

Is it meant to be stabilized?
  - If yes: please feel free to reuse this as the tracking issue like in the `--no-run` one.
  - If not: we are currently using it (together with `--no-run`) in the kernel t

[2022-10-12 18:51] GuillaumeGomez commented on #102981
I don't think it was intended for stabilization.

[2022-10-12 19:02] nikomatsakis commented on #102810
We discussed this in the [2022-10-11 meeting](https://github.com/rust-lang/lang-team/blob/master/minutes/2022-10-11.md#phantomdata-is-unsound-rust102810).

Some things we realized:

* `PhantomData` is `Copy`, which in NLL implies that dropping it has no effect.
* The docs as written do state that however that `PhantomData<T>` acts "as though" `T` is dropped (and I at least expected that), which is

[2022-10-12 19:14] nbdd0121 commented on #102810
I think the answer to the last question is yes.

For the selfref crate, the `UBCheck`:
[code]
can be implemented as
[code]

[2022-10-12 19:17] fu5ha commented on #102978
Yep, looks like it!

[2022-10-12 19:25] Pointerbender opened #102982 "Minimal support for implicit lifetime bounds on GATs"
The following Rust code fails to compile:

[code]

The error message is:

[code]

The error message could be clearer if it would suggest to add a `where 'long: 'short` bound on the GAT instead of the suggested `where Self: 'short`. because adding `where Self: 'short` solves the first error, but not the second error. Besides that it would be nice if Rust could support defining implicit lifetime bou

[2022-10-12 19:29] SoniEx2 commented on #102810
@nikomatsakis honestly we'd lean towards considering this behaviour of NLL incorrect *in the presence of PhantomData*, because PhantomData is just that special. but if we were to do that, then how do you even fix that? we mean, what would dropck for Copy types even translate to in NLL terms? maybe it creates more problems than it solves...

@nbdd0121 huh. interesting.

[2022-10-12 19:36] dimpolo opened #102983 "rust-objcopy produces broken binary in nightly"
I uploaded the elf file, some configuration info and a way to produce the correct and broken binary over at https://github.com/dimpolo/objcopybug

### Code

With a recent nightly:
[code]

I expected to see this happen:
`rust-objcopy` should produce the same binary as the `probe-rs` tool.

Instead, this happened:
`probe-rs` produces a working binary, but `rust-objcopy` does not.

### Version it wor

[2022-10-12 19:38] veber-alex commented on #90595
There is a regression with nightly compared to 1.64, the memcpy is back with `opt-level` of `2` or `3`.
It still optimized with `opt-level` of `z`, `1` or `s`.
https://godbolt.org/z/43r8GjWcr

[2022-10-12 20:01] Rageking8 commented on #102982
@rustbot label +T-types +F-generic_associated_types

[2022-10-12 20:04] nikic commented on #90595
Goes away with `-Z mir-opt-level=1`, likely caused by MIR inlining. On the LLVM side, the issue appear to be a lifetime.start intrinsic blocking call slot optimization: https://llvm.godbolt.org/z/43oe7Mon9

[2022-10-12 20:23] clubby789 commented on #102979
Actually, this was fixed in #100718

[2022-10-12 20:23] #102979 closed

[2022-10-12 20:29] nbdd0121 commented on #43596
I don't think std is ready for oom=panic yet. The unwinding path is not allocation-free, so likely currently oom=panic only works when a large allocation fail (but the allocator can still satisfy a few small ones).

[2022-10-12 20:34] mikebenfield commented on #101872
I filed [this LLVM issue](https://github.com/llvm/llvm-project/issues/58328), which if addressed would lead to better code in niche match statements in many cases.

[2022-10-12 20:56] Lokathor commented on #43596
that still seems like a strict improvement over the current situation.

[2022-10-12 21:08] Mark-Simulacrum commented on #102981
That PR *tried* to make it unstable (see the call to unstable in lib.rs), so we should track down the gap or PR that stabilized it.

[2022-10-12 21:30] kornelski commented on #43596
@nbdd0121 As long as this behavior is safe (I assume it causes abort like a panic during a panic), I don't think this issue is a blocker to stabilization, because this deficiency doesn't change the public interface of `oom=panic`. It's a quality-of-implementation issue, but even aborting sometimes is better than aborting every time.

[2022-10-12 21:36] nbdd0121 commented on #43596
Currently we panic with error message, and that will require allocation, and I consider that a publicly visible behaviour.

[2022-10-12 21:38] matthiaskrgr opened #102985 "ICE: to get the signature of a closure, use `substs.as_closure().sig()` not `fn_sig()`, const_trait_impl"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  /tmp/im/85871.rs  "-Zcrate-attr=feature(const_trait_impl)"`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 21:42] Aaron1011 commented on #43596
If the error message is fixed, we should be able to pre-allocate the necessary object (though it might require some hacky code in the panic internals).

[2022-10-12 21:44] matthiaskrgr opened #102986 "ICE: rustdoc: unimplemented type Typeof(AnonConst..."
### Code

[code]

### Meta

`rustdoc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 21:53] nbdd0121 commented on #43596
Even for fixed error message we need to allocate a `Box<dyn Any>` for it, and since `&str` is not a ZST, there are actual heap allocation required. We couldn't preallocate it because we need to allocate one of them for each thread (not all threads are created by std APIs).

C++ doesn't have this issue because it uses special `__cxa_allocate_exception` and `__cxa_free_exception` instead of normal h

[2022-10-12 22:28] SimonSapin commented on #43596
We’re constrained to `Box<dyn Any>` because it’s part of `std::thread::Result`, right?

[2022-10-12 22:33] matthiaskrgr opened #102989 "ICE: index out of bounds: the len is 1 but the index is 1 -Cinstrument-coverage"
### Code
found via fuzzing
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Cinstrument-coverage file.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-12 22:59] #57951 closed

[2022-10-12 23:37] adamgreig commented on #102983
The elf in question has the following sections:

[code]

Notably the third section has an offset of 0x6924 and an alignment of 16 which doesn't match, _but_ since the first section has an offset of 0xf4 the resulting start of the third section in the output is 0x6830 which _is_ aligned. In the working binary, which is identical between GCC, LLVM14, and probe-rs, that third section starts at byte 0