[2021-11-22 19:46] pnkfelix commented on #90357
@cuviper it seems like it still reproduces to me on nightly.

[code]

[2021-11-22 19:54] pnkfelix commented on #90357
It looks to me like the problem still reoccurs on the current nightly:

[code]

<details>

<summary>For completeness, here is a transcript showing the behavior that is expected, from nightly-2021-09-22</summary>

[code]

</details>

[2021-11-22 19:56] dtolnay commented on #44838
I've implemented a stable version of this RFC in the [anyhow](https://github.com/dtolnay/anyhow) crate's `ensure!` macro, without needing specialization. I believe that analogous generated code would work for `assert!` in libcore as well. Making the behavior conditional on `Debug` impls is handled by [autoref-based stable specialization](https://github.com/dtolnay/case-studies/tree/5042c13a4e00f0b

[2021-11-22 19:57] cglong commented on #88068
Thank you @jyn514! Really appreciate you reading through the LLVM ticket and letting me know where to start 😊

[2021-11-22 19:59] ehuss commented on #91134
The following seems like a minimal reproduction when used with 2015:

[code]

Bisected to #91026.

[2021-11-22 20:15] camelid commented on #91077
There are advantages and disadvantages to the current behavior and the behavior suggested here. For now, I'm unassigning myself since I won't have time to investigate alternatives.

[2021-11-22 20:19] jyn514 commented on #91134
cc @notriddle , I think it might make sense to revert #91026 temporarily unless you already have an idea for a fix.

[2021-11-22 20:38] jyn514 commented on #88068
I'd also suggest running with `-v` to see the exact command line bootstrap is passing, that should confirm whether -isystem is actually the issue or not.

[2021-11-22 20:56] jzhou76 commented on #88068
It just occurred to me that this simple "program" compiles without the missing headers files error probably because the compiler simply **optimized away** the whole body of the program as it is obvious to the compiler that this program does nothing and hence does not need any included libraries. On the other hand, even if you only print a "hello world" inside the `main` function, the compiler sees

[2021-11-22 21:01] tuplecats opened #91142 "Default::default() has bad optimization for String since 1.52.0"
Since 1.52.0 Rust copy byte from static memory for creating String by `Default::default()`. But when uses `"".to_string()` it doesn't happen.

Additional instruction appears when use `Default::default()` [(godbolt)](https://godbolt.org/z/bcj8fYxfn)

[code]

[code]

[2021-11-22 21:27] aDotInTheVoid commented on #91120
Fair enough, although a toc is in the same order as content, but it works well as and index instead

[2021-11-22 21:27] #91120 closed

[2021-11-22 21:31] hkratz commented on #91142
`String::default()` just calls `String::new()`, so this is a duplicate of #86106.

[2021-11-22 21:35] #91142 closed

[2021-11-22 21:39] BlackDex commented on #89626
Rust stable is also having issues now.
[code]
I was able to fix this on stable by adding this to the `RUSTFLAGS`
`-Clinker=/root/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/bin/rust-lld`

[2021-11-22 22:02] the8472 commented on #43244
drain-on-drop has been called a design flaw in the context https://github.com/rust-lang/lang-team/issues/97 since draining happens in a drop handler and invokes the user-provided filter closure, which means drops can run arbitrary code and panic which leads to lots of problematic edge-cases.

Since there's a desire to make panic-in-drop abort it may be better to change drain_filter to not continue

[2021-11-22 22:09] oconnor663 commented on #44838
Just a quick mention of some prior art, in case it makes a helpful comparison: Python's `pytest` framework has done something like this for a while. (Using I-don't-know-what interpreter magic to hook into the builtin `assert` keyword.) Here's a simple example:

[code]

[code]

[2021-11-22 22:33] insinfo opened #91146 "error: linking with x86_64-w64-mingw32-gcc failed: exit code: 1"
i'm trying to compile on windows and i get this error , on Windows 11

[code]

[code]

###  Expected behavior
compile without errors

`rustc --version --verbose`:
[code]

[code]

[code]

[2021-11-22 23:55] jsha commented on #91120
@aDotInTheVoid FWIW, I agree with you - it would be conceptually cleaner for the sidebar to act more like a TOC by being in the same order as the content. But that would mean either the sidebar would have to be non-alphabetical (hard to search for items), or the content would also have to be alphabetical. But having the content in order by appearance in the source is useful so crate authors can gr

[2021-11-22 23:57] umanwizard opened #91147 "Doc comments only apply to the first `#[cfg]` item, even if another is ultimately selected."
Given the following code:

[code]

The current output is:

[code]

The above is only seen on release builds; on debug builds, no warning is output.

The doc comment should apply to whichever piece of code is actually compiled. Is there a way to achieve this without duplicating the comment?

[2021-11-22 23:59] m-cat commented on #90806
I fixed it.

## What worked

After some experimenting I found that the issue was caused by

[code]

in my `.cargo/config`.

## What didn't work

I thought the `Blocking waiting for file lock on build directory` was a big clue so I tried stuff like disabling my file backups. I also tried everything [here](https://stackoverflow.com/questions/47565203/cargo-build-hangs-with-blocking-waiting-for-file-

[2021-11-23 00:00] umanwizard commented on #91147
Maybe a dupe of https://github.com/rust-lang/rust/issues/1998

[2021-11-23 00:01] jyn514 commented on #91147
@umanwizard you seem to be imagining that doc-comments apply like this (using braces to mean precedence since rust doesn't have a syntax for this):
[code]
But they don't - they apply like this:
[code]
The doc-comment is just another attribute - you could also write it as `#[doc = " foo."]` if you like. For consistency, it behaves the same as any other attribute in that position.

If you want to sh

[2021-11-23 00:10] umanwizard commented on #91147
For posterity, I ended up solving it like this:

https://github.com/MaterializeInc/materialize/pull/9238/files

[2021-11-23 00:15] #91147 closed

[2021-11-23 00:48] jhpratt commented on #87517
With #88681 being merged, I'm inclined to resolve the question of multiple `#[default]` attributes in favor of prohibiting them. This is the current behavior. There's not really a reason to have it warn instead of outright error in my opinion, and it could conflict if `#[default = val]` is permitted in the future.

[2021-11-23 00:59] nbdd0121 commented on #60705
Yes.

[2021-11-23 03:27] adsnaider commented on #32838
Figured I would put this in here. I ran into a compiler bug when using the allocator_api feature with Box: #90911

[2021-11-23 04:32] cglong commented on #88068
Sorry @jyn514, I wasn't able to figure out where to add `-v`. When I tried adding it to the `configure.sh` call, it complained that it was an unknown argument; when I tried either `make` call, it became a no-op (maybe it interpreted `-v` as a target?). The whole Rust formula is available [here](https://github.com/Homebrew/homebrew-core/blob/d03f9edc37449ce7f69ec6e8fc170b4bb775cacc/Formula/rust.rb#

[2021-11-23 04:51] nnethercote commented on #60705
https://bugs.kde.org/show_bug.cgi?id=445916 has been filed for possibly updating Valgrind's v0 demangler to handle these suffixes, though it's still a bit unclear to me if that's the right thing to do.

[2021-11-23 05:53] archer884 opened #91152 "Copying multiple large files results in `assertion failed: (left == right)` in kernel_copy.rs:592"
I tried this code:

[code]

I expected the copy operation to succeed (that is, to return `Ok(())`) or to fail (that is, to return `Err(BUY A BETTER HARD DRIVE!)`. What happens instead is a panic thrown from line 592 of kernel_copy.rs. Before I changed from the default mount options to something else, this happened pretty much every time I tried to copy multiple large files from a Linux laptop to a

[2021-11-23 06:08] #90865 closed

[2021-11-23 06:46] #86168 closed

[2021-11-23 08:25] fbstj commented on #87517
https://github.com/rust-lang/rust/blob/master/src/test/ui/feature-gates/feature-gate-derive_default_enum.stderr still points at #86735. this file was the most "useful" result when I searched the feature gate on the repository/

[2021-11-23 09:26] ssomers commented on #43244
I agree it's a design flaw, but is merely "not draining on drop" a good outcome? Is it surprising that a statement like [```v.drain_filter(|_| true);```](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3c332e644ba6fd8afecbc6956095c604) wouldn't drain anything? I think I would have opposed that a year ago, but now I think it's fine, because `drain_filter` isn't a verb like

[2021-11-23 09:38] the8472 commented on #43244
We should make it `#[must_use]`.

[2021-11-23 09:58] Nilstrieb commented on #90869
@LukasKalbertodt the issue wasn't linked to the PR, so you'll have to close it manually

[2021-11-23 10:06] LukasKalbertodt commented on #90869
Oh, true. Thanks for solving this so quickly :)

[2021-11-23 10:06] #90869 closed

[2021-11-23 10:23] hkratz commented on #89626
Hmm, can't reproduce the issue with current stable (1.56.1). However the problem is present in the current beta (1.57) which will become stable soon.

[2021-11-23 10:43] AnthonyMikh commented on #60055
Looks like it was fixed in Rust 1.39, this version as well as newer ones compile the example just fine.

[2021-11-23 10:43] #60055 closed

[2021-11-23 10:43] apiraino commented on #91011
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391011.20wasm32-unknown-unknown.20stuck.20in.20infinite.20loop.20when.20c.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-11-23 11:21] leonardo-m opened #91155 "[ER] Better error message for trying to open a missing file"
When I try to open a missing file in Rust with code like:

[code]

I get:

[code]

While this Python code:

[code]

Gives an error message that tells me what's the file name I was trying to open:

[code]

Could such information be added to the Rust error message?

[2021-11-23 12:19] BlackDex commented on #89626
If i use `blackdex/rust-musl:aarch64-musl-stable` i get the same errors.
Though for some reason if i use `messense/rust-musl-cross:aarch64-musl` it doesn't, even if i force use 1.56.1 because that image is still on 1.56.0. But if i use nightly on the `messense` image it does produce that same error.

The other way around is also a bit strange, if i force 1.56.0 (or even 1.55.0) on the `blackdex` i

[2021-11-23 13:12] kepexx opened #91156 "ICE on `use` on a macro-generated macro from an external crate/doctest"
### Code
I tried to minimize the code by removing everything except the module containing the offending macro, but it didn't ICE, not sure what to do, so here is my entire code: https://github.com/oxidash/oxibase/tree/ice

ICE occurs on running doctests via `cargo test` (or `cargo test --doc`), but also works if you create a separate crate which depends on the above crate and do `use oxibase::chan

[2021-11-23 14:20] matklad commented on #64260
As an experience report, I've recently found roughly the following code in the wild:

[code]

It takes some mental puzzle-solving to figure out whether `is_uppercase` results in error or not.

Don't think this is actionable in any way, but it's a useful real-world specimen to ponder.

[2021-11-23 14:42] FireCubez commented on #91156
I believe this has to do with the usage of `adt_const_params` in the crate root, as commenting out the `pub mod tests` seems to fix it. I'll look more into it

[2021-11-23 14:59] jyn514 commented on #88068
@cglong I'd suggest trying to replicate this with x.py alone before wrapping it in another build system. It looks like you're building with `./configure.sh; make` which is very limited in what options you can set - try `./x.py build -v` instead.

[2021-11-23 15:10] ehuss commented on #91155
Unfortunately this would require extra allocations which could have an effect on performance.  There is an open RFC at https://github.com/rust-lang/rfcs/pull/3084 to add this which has more detail.  Closing as a duplicate of #44938.

[2021-11-23 15:10] #91155 closed

[2021-11-23 15:54] pvdrz commented on #88536
I managed to get a minimum example that doesn't use any nightly features:
[code]
panics when compiled with: `env RUSTFLAGS="-Z save-analysis" cargo +nightly build`

[2021-11-23 16:11] WaffleLapkin commented on #81513
Currently, `Pointee::Metadata` is bound by the following traits: `Copy`, `Send`, `Sync`, `Ord`, `Hash`, `Unpin`. While all of them are required, they are not actually sufficient for being `Metadata`. The compiler must also be able to know the size (and align) of the pointed value to generate code for `std::mem::size_of_val` (`align_of_val`).

Shouldn't `Metadata` be bound by a trait that would pro

[2021-11-23 16:22] RalfJung commented on #73255
This is probably also a blocker: https://github.com/rust-lang/rust/issues/91009

[2021-11-23 16:23] RalfJung commented on #91025
This was fixed by reverting the problematic change.

[2021-11-23 16:23] #91025 closed

[2021-11-23 16:35] WaffleLapkin commented on #81513
Actually, now that I've thought about `size_of_val`/`align_of_val` functions a little bit more, I may have an idea how to remove the downside from https://github.com/rust-lang/rust/issues/81513#issuecomment-976781622.

The solution is just to inverse dependencies. Instead of `SliceLen<_>` implementing `PointerMetadata`, `size_of_val`/`align_of_val` should be implemented by the type itself. This wo

[2021-11-23 16:53] RalfJung commented on #91095
Ah, and then that `load_operand` function is called at
https://github.com/rust-lang/rust/blob/5b2f757dae374e22a7733f90af482f405bd426e9/compiler/rustc_codegen_ssa/src/mir/place.rs#L232

Yeah that seems like there are a lot of special cases for uninhabited variants / enums built into the codegen backend that do not seem to fall out of any more general underlying principle -- except for "the entire v

[2021-11-23 17:06] SimonSapin commented on #81513
The compiler has no need to be able to work with arbitrary `impl Pointee for $Something {…}` custom definitions. In Rust 1.56 such an `impl` is always disallowed because the compiler already generates impls of `Pointee` for all types.

`size_of_val` is not limited to methods available through the `Pointee` trait (in the way generic library code would be) since it is a compiler intrinsic that can h

[2021-11-23 17:25] athei opened #91158 "Compiler builtin calls imported function when compiling with `-Z build-std` for wasm"
[This is a minimal reproducer](https://github.com/athei/mult-panic) for a bug where the compiler inserts a call to a non-existent
panic function. The following things need to be true to reproduce the bug:

* target must be wasm32-unknown-unknown
* overflow checks must be enabled
* link time optimization must be enabled
* core must be recompiled using `-Z build-std`
* The compiler needs to insert a

[2021-11-23 18:41] MaskRay opened #91160 "compiler-rt runtime directory path when -DLLVM_ENABLE_PER_TARGET_RUNTIME_DIR=on is enabled"
It seems that "runtimes build" is getting more popular in llvm-project and -DLLVM_ENABLE_PER_TARGET_RUNTIME_DIR=on may possibly be enabled by default in the future.

Currently compiler-rt runtime libraries are aggressive on normalizing the target triple `LLVM_DEFAULT_TARGET_TRIPLE=x86_64-linux-gnu` to `lib/clang/14.0.0/x86_64-unknown-linux-gnu/`.

If https://reviews.llvm.org/D110663 is accepted, t

[2021-11-23 18:43] nikomatsakis commented on #29864
cc @rust-lang/wg-traits -- I seem to recall some concerns about the implementation potentially being unsound? Does anyone remember what I'm talking about?

[2021-11-23 18:43] bombela commented on #88252
For what is worth `nightly-2021-01-07-x86_64-unknown-linux-gnu` produces working machine code for me on attiny13a, attint24a and atmega328. Any version after that I get the `LLVM ERROR: Not supported instr: <MCInst 312 <MCOperand Reg:1> <MCOperand Imm:15> <MCOperand Reg:47>>` error.

[2021-11-23 18:44] nikomatsakis commented on #29864
We discussed this in our @rust-lang/lang meeting today. One thing we were wondering about are the active use cases and stakeholders -- seems like @rust-lang/wg-safe-transmute was one potential consumer, did the current design meet the needs there?

[2021-11-23 18:49] scottmcm commented on #29864
Can you elaborate on this one, @RalfJung?  I would have guessed that `Copy` could be `#[marker]`, for example.  (Albeit I'm not sure how useful that one would be, given the extra magic requirements that exist on `Copy`.)

[2021-11-23 19:05] scottmcm opened #91161 "`#[non_exhaustive]` on variant should block cross-crate `as` casts"
This currently compiles
[code]
[code]

However, that `as` cast [would be an erroneous "non-primitive cast" if the variant ever got any fields](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=937d8b99fb52c90059e15d1cd66a73d0), as it's allowed to do by the `#[non_exhaustive]`.

Thus we need to fix the compiler so that the cast is rejected outside the crate that owns `Foo`.

[2021-11-23 19:13] thepheer commented on #83574
The motivation is explained in #82917.

[2021-11-23 19:19] RalfJung commented on #29864
For `Unpin` we have a concrete example where making it `#[marker]` would introduce soundness issues in a crate (https://github.com/rust-lang/rust/issues/29864#issuecomment-409398581, https://github.com/taiki-e/pin-project/pull/18).

I assume the same could happen, in principle, for any of the other existing marker traits, though I am not aware of concrete examples.

[2021-11-23 19:23] lcnr commented on #29864
I think the issue was #88139. The implementation now results in weird ambiguities, but at least it isn't unsound anymore afaik

Afaict the issue here is about impls for marker traits violating the orphan rules, which is generally unsound to my knowledge and not permitted by the current implementation. It might actually be possible to change all auto traits to marker traits again, only requiring op

[2021-11-23 19:43] JanBeh commented on #91004
I think that's an assumption that isn't necessarily true. There have been different opinions whether a "smart pointer" needs to be generic (see also the aboved linked discussion thread ["What are smart pointers?"](https://users.rust-lang.org/t/what-are-smart-pointers/67361)). Most prominent example is `String` which, according to the Rust book, *is* a smart pointer to `str`. If we would consider s

[2021-11-23 19:48] RalfJung commented on #29864
The entire point of the feature in this tracking issue is to allow violating the orphan rules by permitting overlapping implementations -- or am I misunderstanding?

[2021-11-23 20:30] lcnr commented on #29864
it allows overlapping impls in the same crate, allowing it across crates is unsound without restricting the way marker traits can be used.

consider a crate like this:
[code]
if a different crate were to add an impl leading to `B: Marker`, we have an ambiguous associated type

[2021-11-23 20:44] bnjbvr commented on #91128
I've managed to reduce our use case to a small file that reproduces the issue, all the code is accessible in the following repository https://github.com/EmbarkStudios/rustc-compile-time-regress:

- on stable, it takes around 26 seconds to compile on my machine with `--release`
- on beta and nightly, it takes around 2 minutes to compile with `--release`

There are multiple variants of the `Shim` tr

[2021-11-23 20:47] Badel2 commented on #91161
Across different crates the code does not compile, the `#[non_exhaustive]` attribute seems to mark the enum variant as private:

[code]

[2021-11-23 20:48] bluss commented on #79524
I think (just guessing!) it would be realistic to use a build script in itertools, coordinate with stabilizations, and cfg-out methods that collide depending on the compiling rustc version. I mostly wonder if that's even a good enough solution - are there too many things breaking that use a lockfile or won't otherwise pick up a  newer version of itertools anyway?

[2021-11-23 21:13] aodhneine commented on #71499
Hi, what's the progress on this issue?

[2021-11-23 21:24] jswrenn commented on #79524
Only about 38% of crates.io downloads for itertools are for the latest release; the rest are for older versions. Given this, the added maintenance burden of checking the version of rustc might be mostly wasted effort. I also worry about the possibility that there might be subtle breaking changes between how an adapter works in Itertools vs how it works in the version ultimately stabilized in libco

[2021-11-23 21:26] oli-obk commented on #71499
As decided in the unsafe const RFC, we only need to do a best effort UB check.

I reviewed the methods in question and believe we can stabilize all of them. The only user visible const/runtime differences occur in the presence of UB.

[2021-11-23 21:28] crumblingstatue commented on #90829
Thank you! It's nice not to have to use a crate for this simple functionality.

[2021-11-23 21:38] thomaseizinger commented on #64260
I think that is a good example that not everything is better with combinators :)

I haven't decipered 100% it but I would write this as:

[code]

Personally, I've been using `.then()` primarily with `.filter_map`. I think it is a fantasic fit for that.

[2021-11-23 22:05] Lucretiel commented on #64260
Agree. I've seen some similar code in the wild. I think that *usually* `.then()` is only appropriate in cases where an `Option` (or `Result`, via `ok_or_else`) is actually in play; `.then()` followed immediately by `*_or_else` is probably an antipattern (because you're needlessly round-tripping through an `Option`. I'd love to see a clippy lint to this effect.

[2021-11-23 22:07] richkadel commented on #85461
@wesleywiser - Did you have any opportunity to look into this?

[2021-11-23 22:20] Urgau commented on #90825
Just for the record, I have been trying to reproduce the issue on x86_64 with qemu, on a container like the issue suggest and on bare metal (armv7 but still) but I have been unsuccessful.

[2021-11-23 22:29] bhgomes commented on #46379
Any updates on this? Still encountering this issue on `v1.58.0-nightly`.

[2021-11-23 23:42] estebank commented on #91106
I believe this will be fixed by https://github.com/rust-lang/rust/pull/90519.

[2021-11-23 23:48] #83250 closed

[2021-11-23 23:48] #91152 closed

[2021-11-23 23:55] estebank commented on #91063
We already provide suggestions for casting between numeric literals, it could be extended to also account for `char`:

https://github.com/rust-lang/rust/blob/09e4a75f294a9b058bd908c98df38dd41e68f6ff/compiler/rustc_typeck/src/check/demand.rs#L808

[2021-11-24 00:13] estebank commented on #91119
You'll want to look at this method

https://github.com/rust-lang/rust/blob/0a5640b55f4a34a1f96859663449b0cabfb08c87/compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs#L550

and potentially to this PR for some inspiration on parts of this https://github.com/rust-lang/rust/pull/85346.

I'll be trying to land that PR shortly.

[2021-11-24 00:35] estebank commented on #90820
It's pointing at the `enum` variant, not at the `stable` annotation. That annotation is for the inner field `T` on `Some`.

[2021-11-24 00:37] SimonImbrogno opened #91165 "Compiler hangs when pattern matching an enum variant that does not exist."
I tried this code:

[code]

**I expected to see this happen:**
I expected an error indicating that the variant `BadVariant` does not exist in `Foo`

**Instead, this happened:**
The compiler hangs.

**Note:**
I also tried using an `if let` instead of a `match` but got the same result.
I'm surprised I've not heard of anyone encountering this before, so I fear its related to some specific quirk of my

[2021-11-24 01:02] ricobbe opened #91167 "Incorrect code generated for `fastcall` functions on i686-pc-windows-gnu"
I tried this code:

[code]

linked against the following C code (compiled to `extern.dll`):

[code]

I expected to see this output:
[code]

Instead, I got this output:
[code]

### Meta

`rustc --version --verbose`:
[code]

Reproed against commit 7b3cd075b of master.

To reproduce, check out the [fastcall-bug branch](https://github.com/ricobbe/rust/tree/fastcall-bug-report) on my fork of rustc; the

[2021-11-24 01:09] jsha commented on #90820
Ah, @NieDzejkob, you're right I have rust-src installed:

[code]

Is that not installed by default for most people?

Yep, that makes sense to me. So if I'm understanding right: when rust-src is installed, some extra diagnostics will show up that point to specific lines in Rust stdlib source files, and those lines will naturally contain stability annotations. I had previously been under the impress

[2021-11-24 01:10] ricobbe commented on #91167
Oh, forgot: it was suggested that I include my config.toml:

[code]

Also please note that rustc generates correct code for this case on i686-pc-windows-msvc (with the obvious change to config.toml).

[2021-11-24 01:45] RalfJung commented on #29864
Oh, because rustc actually uses negative reasoning *inside* a crate, so not all 'monotone' extensions of the impl set are actually allowed... that's nasty.

[2021-11-24 02:06] fangism opened #91168 "nondeterministic LLVM-IR with `@anon.HASH.number`"
I am observing that repeating the same command twice with `--emit=llvm-ir` gives non-deterministic .rlib and .ll outputs.

[I apologize in advance for not providing a full set of repro inputs and commands right now, but I will work with my team on this.]

LLVM-IR differences look like this:

[code]

Do we know why the hash value in `@anon.HASH.n` generated by `rustc` is non-deterministic? and what

[2021-11-24 02:07] fangism commented on #91168
This should be labeled with `A-reproducibility`.

[2021-11-24 03:00] #91134 closed

[2021-11-24 04:59] matheus-consoli commented on #91119
@rustbot claim

[2021-11-24 05:23] cglong commented on #88068
That's a great point, thanks @jyn514! I was able to build and run successfully outside Homebrew with both the `.x.py` ([rust.log](https://github.com/rust-lang/rust/files/7592931/rust.log)) and `./configure.sh; make` ([rust2.log](https://github.com/rust-lang/rust/files/7592938/rust2.log)) methods. And neither log contains `isystem` at all.

So yeah, this is definitely being introduced by the Homebr

[2021-11-24 06:04] estebank commented on #90820
Your understanding is correct. The attributes aren't hidden, just not included in the span when they are outer attributes, but in this case it is the outer attribute of a field inside of the thing being displayed.

[2021-11-24 06:16] jyn514 commented on #88068
Gotcha. I'm going to close this then since there's nothing we can do on our end - feel free to ping me on the homebrew ticket if you think I can be helpful :)

[2021-11-24 06:16] #88068 closed

[2021-11-24 06:40] jsha commented on #90820
Thanks for the explanations! I'll consider this working as intended, then.

[2021-11-24 06:40] #90820 closed

[2021-11-24 08:55] tspiteri commented on #72447
Now that transmute is const since 1.56.0, not stabilizing these methods is only an invitation to use unsafe code instead of these safe methods.

[2021-11-24 09:25] jsha opened #91173 "rustdoc: don't hyperlink square brackets in method signatures"
For example, in https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.get, the method signature contains a `[T]`:

![image](https://user-images.githubusercontent.com/220205/143210616-7fc0c6a4-64e7-451c-98d4-e9482e9bb11b.png)

In that method signature, all four instances of `[` or `]` are colored and hyperlinked (to https://doc.rust-lang.org/nightly/std/primitive.slice.html).

These hyp

[2021-11-24 09:34] Ethiraric opened #91174 "Jump to definition doesn't generate a link for macro calls"
On [this page](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_errors/diagnostic_builder.rs.html), the macros calls (`forward!`, `concat!`, ...) are not clickable to jump to their definitions.

[2021-11-24 09:39] Urgau commented on #91168
Some reproducibility issue with LLVM have been [fixed](https://github.com/rust-lang/rust/pull/90954) very recently. Can you check with the latest nightly ?

[2021-11-24 09:51] clarfonthey commented on #67792
Now that I've read up and understand the reasoning for the `~const` syntax, here's my opinion on it.

Basically, we would prefer that constness be a bonus for generic impls to offer, but not a requirement. A trait impl can take all the steps required to make something const, but if its dependencies are not const, we would rather offer a non-const method than a compiler error.

Basically, if we say

[2021-11-24 10:17] GuillaumeGomez opened #91175 "Invalid color used for titles' anchor"
As you can see from this screenshot:

![Screenshot from 2021-11-24 11-15-22](https://user-images.githubusercontent.com/3050060/143219474-009afb0e-2ea2-4ded-8bfa-36e5c2ec126e.png)

It is a regression from #91102.

cc @jsha

[2021-11-24 11:50] petrochenkov commented on #46736
I think at this point target-specific stuff is used in libcore prominently enough to close the debate and choose the alternative that is useful in practice (i.e. moving at least `CStr` to libcore).

[2021-11-24 11:54] ChrisDenton opened #91177 "The new Windows exe resolver has changed broken symlink behaviour"
The old resolver would try to run broken symlinks. The new one skips them and continues searching.

To test this I created the simplest program that will run successfully.

[code]

Then I used the following test program:

[code]

The result of compiling and running this program:

[code]

@rustbot claim
@rustbot label +O-windows

[2021-11-24 12:07] haraldh opened #91178 "x86_64-unknown-linux-musl: backport musl bug fixes or use new `1.2` version?"
Seems like x86_64-unknown-linux-musl is built with `musl-1.1.24`.

For this version I hit a bug, which is fixed with
https://git.musl-libc.org/cgit/musl/commit/?id=cb5babdc8d624a3e3e7bea0b4e28a677a2f2fc46
for the renamed `src/malloc/malloc.c` file.

What is the recommended procedure here?

Try to persuade upstream to release a fixed `musl-1.1.25` or drive rust to switch to `musl-1.2.x`?

[2021-11-24 13:42] haraldh commented on #59302
Opened a new issue against the musl version used in building https://github.com/rust-lang/rust/issues/91178

[2021-11-24 13:51] petrochenkov commented on #72274
The only thing required for implementing the first item now is bumping libc version used by this repo.

[2021-11-24 14:20] ketsuban commented on #35119
Currently I am using `global_asm` in the simple form documented by the Rust Unstable Book, to include an external assembly file containing [a header whose integrity is checked by the firmware on startup](https://problemkaputt.de/gbatek.htm#gbacartridgeheader) and some initialisation code which calls my main function. It is absolutely the best tool for the job short of `rustc` consuming external as

[2021-11-24 14:26] wesleywiser commented on #91178
Ideally, we would upgrade to the `1.2` series. It looks like there is a PR in progress to update the libc crate which is probably a dependency before we can perform the upgrade here (https://github.com/rust-lang/libc/pull/2088).

[2021-11-24 14:35] wesleywiser commented on #91165
That is very strange! I can't repro on either `x86_64-pc-windows-msvc` or `x86_64-unknown-linux-gnu` for any of stable, beta or nightly. All toolchains report:

[code]

Perhaps there is some quirk of whatever terminal/shell you're using?

[2021-11-24 14:44] RalfJung commented on #67792
This is wrong. `const` and `static` initializers, array lengths, and enum discriminant values are evaluated at compile-time, but *all other code* is evaluated according to runtime rules, and `const fn` vs `fn` is entirely irrelevant for that.

[2021-11-24 14:58] Lokathor commented on #67792
In the language that comes after Rust it might be possible to say that all functions are const by default and mark ones which aren't const. However, for Rust that's just not possible because of backwards compatibility reasons. Since functions opt in to being const, then trait impls must also opt in to being const for consistency.

[2021-11-24 15:10] lifehome commented on #39998
Hi,

I am new to Rust and because of some projects I'm in, static linking is needed. For now, I am reading on `-C target-feature=+crt-static` but does that really do the job for **all** libraries?

Hopefully there will be a flag, or it's really painful to take care of every platform and the so-called "dynamically" linked libraries...

-- Ivan

[2021-11-24 15:32] SimonImbrogno commented on #91165
Ha, some strange quirk indeed. Nobody n the discord could seem to repro it either. I don't think it's my shell (I'm using `cmder`), because the background `cargo check` that rust-analyzer runs was hanging as well. (I made sure to kill all rust related processes before trying to repro in case something there was interfering.)

However, since yesterday, I've rebooted my system and tried compiling ag

[2021-11-24 16:07] not-my-profile opened #91180 "Better error message for attempting to use an associated type as a TypeParamBound"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-11-24 16:11] JamieCunliffe commented on #90972
I would say GCC is correct here, in https://github.com/ARM-software/acle/blob/main/main/acle.rst#scalar-data-types `poly64_t` is an unsigned integer type.

For the LLVM ICE is there a bug for this? I'll take a look into it if no one else has.

[2021-11-24 17:13] nikic commented on #91128
Problematic IR for `opt -O3`: https://gist.github.com/nikic/cae7dbfe7da91308ba012b4b3172eebc

[2021-11-24 17:34] Aaron1011 commented on #90662
Sorry for the delay in getting to this. I've opened https://github.com/rust-lang/rust/pull/91183 with a fix.

[2021-11-24 18:05] camelid opened #91184 "rustdoc: Can't click any links in methods that use `details`"
For example, I can't click any links (i.e., when I click them, nothing happens) in [this method's](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast_lowering/struct.LoweringContext.html#method.lower_expr_try_block) header. Likewise, I can't click any links for `make_async_expr`, but I **can** click links in `wrap_in_try_constructor`, which has no `details` tag.

This same behavior occurs i

[2021-11-24 18:06] jyn514 commented on #91184
This is probably https://github.com/rust-lang/rust/pull/91103; I don't know why that change was made or if this is intentional.

cc @Manishearth @jsha

[2021-11-24 18:10] camelid commented on #91184
I can't imagine this part of the behavior is intentional, since it breaks a lot of rustdoc's UI.

[2021-11-24 18:12] camelid commented on #91184
We really need more GUI tests so this can't happen again...

[2021-11-24 18:16] jsha commented on #91184
Can confirm, that wasn't intentional. I manually checked during development to make sure that wouldn't happen, but it must have broken. Sorry for that, and sorry for not adding a GUI test for it. I'll post a fix in a moment.

[2021-11-24 18:22] SadiinsoSnowfall commented on #91138
I was unable to reproduce the issue, could you indicate the exact version of Windows 11 and the Ubuntu WSL distribution you are using ?

[2021-11-24 18:45] mati865 commented on #91167
I don't think it's Rustc issue but either LLVM or GCC. If I'd bet I'd say it's GCC.
I haven't tested your configuration but when I was working on raw-dylib I've got the same issue with GCC but with Clang it worked perfectly.

[2021-11-24 19:01] camelid opened #91187 "rustdoc doesn't show that a trait bound is `~const`"
For example, see https://doc.rust-lang.org/nightly/std/intrinsics/fn.const_eval_select.html. The trait bounds for `F` and `G` each include `~const`, and while the bound itself is shown, `~const` is not.

[2021-11-24 19:02] rrahulraman commented on #91138
Ubuntu 20.04.3 LTS (GNU/Linux 4.4.0-22000-Microsoft x86_64)
OS Name	Microsoft Windows 11 Home Single Language
Version	10.0.22000 Build 22000

[2021-11-24 19:13] camelid commented on #91184
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391184.20rustdoc.3A.20Can't.20click.20any.20links.20in.20methods.20that.20use.20.60.E2.80.A6) in the prioritization working group.

[2021-11-24 19:23] shepmaster commented on #89976
See also #85516

[2021-11-24 19:39] shepmaster commented on #71723
Another reproduction:

[code]

Removing the `.map(drop)` line allows the code to compile.

[2021-11-24 19:59] nikic commented on #91128
Top passes time `-time-passes`:
[code]
Most time is spent in CVP. Though the real problem is that NewPM produces a huge function, with `"_ZN102_$LT$core..iter..adapters..map..Map$LT$I$C$F$GT$$u20$as$u20$core..iter..traits..iterator..Iterator$GT$9size_hint17haa64424fbc292ec1E"` having 750k or so instructions.

Most likely it's another case of catastrophic inlining, though not the same as the other

[2021-11-24 20:01] naturallymitchell opened #91193 "How to use fs::read_dir for hidden files"
By the looks of [an issue](https://github.com/jazzdotdev/torchbear/blob/5c79de30320ad88ba2c2a57c3098bc284ebf4d3d/src/bindings/system/fs.rs#L165) in [our attempt at copying a directory](https://github.com/jazzdotdev/torchbear/blob/5c79de30320ad88ba2c2a57c3098bc284ebf4d3d/src/bindings/system/fs.rs#L222), [read_dir](https://github.com/rust-lang/rust/blob/e8423e6c449ad3f4b0dab442175462004554e499/libra

[2021-11-24 20:01] AngelicosPhosphoros opened #91194 "Compiler cannot remove unneccessary loop in case of unwrap_unchecked and Vec collect() optimization"
I tried this code:

[code]

I expected to see this happen: code compiles into noop essentially, like transmute.
<details><summary>Expected code</summary>

[code]

</details>

Instead, this happened: code iterates over the vec without toching real backing buffer. This is a loop without side effects so it should be removed by LLVM.

<details><summary>Generated code</summary>

[code]
</details>

###

[2021-11-24 20:35] camelid opened #91196 "rustdoc: Section icon color and font-weight has changed on nightly"
I don't know for sure whether this is intentional, but the new icon styling is a bit more distracting IMO.

### nightly (new)

![image](https://user-images.githubusercontent.com/37223377/143309349-3ad44060-0f12-4128-8e7b-969d8ee6aa54.png)

### beta (old)

![image](https://user-images.githubusercontent.com/37223377/143309339-01a63005-34ec-426e-9582-8b03c1f1c0df.png)

[2021-11-24 20:35] camelid commented on #91196
cc @rust-lang/rustdoc

[2021-11-24 20:35] naturallymitchell commented on #91193
nevermind.  it was explicitly not done in the next few lines

[2021-11-24 20:35] #91193 closed

[2021-11-24 20:37] nivkner commented on #90825
created a [repository](https://github.com/nivkner/issue-90825) where the issue is reproduced in the CI

[2021-11-24 20:59] GuillaumeGomez commented on #91196
I can't find the PR but we changed the size. Do you have it @jsha maybe?

[2021-11-24 21:19] jsha commented on #91196
The font-weight increase probably came from https://github.com/rust-lang/rust/pull/90089/files, since we increased the font weight of the variant name headings (e.g. Slice in this example).

The font-color change comes from #91102. That's accidental and should definitely be fixed. @camelid if we fix the font color is that sufficient, or do you also think the variant name headings should be reduced

[2021-11-24 21:25] GuillaumeGomez opened #91200 "The first heading in all doc comments have left margin"
Which looks weird as you can see:

![Screenshot from 2021-11-24 22-21-15](https://user-images.githubusercontent.com/3050060/143314551-df3f5495-d9db-4c96-9fe2-7d74ae634fe4.png)

It's even more weird on enum variants:

![Screenshot from 2021-11-24 22-24-04](https://user-images.githubusercontent.com/3050060/143314740-021ab83c-1127-4e95-9fe9-730fc1e67037.png)

I'll fix it tomorrow.

[2021-11-24 21:27] camelid commented on #91196
I'm ambivalent about the variant name's font weight, but I definitely think the section icon should be reduced.

[2021-11-24 21:39] camelid opened #91201 "Newlines don't cause a paragraph break when mixing `#[doc]` and `///`"
See the test added in #91199. This code:

[code]

renders as:

rather than the expected:

Meanwhile, changing some `#[doc]`s to `///`s and vice versa causes it to render as expected.

cc @GuillaumeGomez

[2021-11-24 21:39] camelid commented on #91200
Yeah, this has been bothering me for a while 👍

[2021-11-24 21:51] jsha commented on #91196
That would be a big departure from practice elsewhere in rustdoc: the section icon is always the same weight as the heading it decorates. For instance, look at section headings and method headings.

[2021-11-24 21:56] scottmcm opened #91204 "Intra-doc link in `core` for a pointer method couldn't find `Self`"
I had [my PR](https://github.com/rust-lang/rust/pull/91127) fail [(web)](https://github.com/rust-lang/rust/runs/4285011951?check_suite_focus=true) [(plain)](https://github.com/rust-lang/rust/commit/875e01e6166d4b5dea370023564703968a3cd92a/checks/4285011951/logs) when I tried to use intra-doc links to link to a pointer method.
[code]

Opening a bug as requested in
https://rust-lang.zulipchat.com/#n

[2021-11-24 21:59] camelid commented on #91196
Really? This section icon looks way more bold than any other section icon I've seen. The variant name itself also looks a higher font weight, though maybe that part's an optical illusion.

[2021-11-24 22:03] mati865 commented on #91138
Judging by the kernel version I guess it's WSL 1, works for me in WSL 2 on Windows 10 and Windows 11.
In any case this crash has nothing to do with Rust, either it's faulty hardware or Windows bug which should be reported to Microsoft.

[2021-11-24 22:29] Wolvereness commented on #87401
This issue bit me hard updating my Rust version. I use a very minimal approach; all I care about is the exact spot in *my* code that broke normal flow. Errors that I expect get handled with a normally without `?`, and unexpected ones (ones that should basically never occur) I let bubble up. If I need more context, I can go manually implement an error-message for that location. I use this for work

[2021-11-24 22:49] wesleywiser commented on #91165
I think it makes sense to close at this point since you can no longer reproduce this either. If you (or anyone else) experiences this again, we can always re-open.

For future reference, the next step is probably to attach a debugger and collect backtraces to see what is blocked.

[2021-11-24 22:50] #91165 closed

[2021-11-24 23:09] ijackson commented on #40032
This seems related to #59567, too.

[2021-11-24 23:09] #91184 closed

[2021-11-24 23:15] jsha commented on #91196
Both the section icon and the variant name are font-weight 600. To verify: In Chrome, right-click, inspect element, click over to the Computed tab on the right, scroll down to font-weight.

For comparison, do the same on the method heading at https://doc.rust-lang.org/nightly/std/string/struct.String.html#method.as_bytes. Also font-weight 600. An important difference, though: method headings have

[2021-11-24 23:22] the8472 commented on #91194
dup of #79308

[2021-11-24 23:34] WhyNotHugo commented on #40174
If you're bumping into this in 2021, it's likely that you need to run `apk add --no-cache musl-dev`.

[2021-11-24 23:35] AngelicosPhosphoros commented on #91194
Yeah, forgot about those.

[2021-11-24 23:35] #91194 closed

[2021-11-25 00:29] Jonxslays opened #91206 "Nightly compiler panics when attempting to mutate a shared reference."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

In case it helps, when using the stable toolchain, the compiler does not panic but instead emits this error:

[code]

`Stable version used in above output:`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-25 00:30] MSxDOS commented on #74917
LLVM 13 - no change.
No such failure with GCC: https://godbolt.org/z/5jGWfGc7z

[2021-11-25 01:28] TonalidadeHidrica commented on #27721
`Pattern` is implemented for `FnMut(char) -> bool`.  Is it allowed that this function returns different values for the same input?  Specifically, say that we want to strip at most three `a`'s from a string, then currently we may prepare a counter so that it returns `true` for input `a` while the counter is less than 3 or otherwise `false`.  Is it an intended use?  Particularly, is it guaranteed th

[2021-11-25 01:36] jhpratt commented on #27721
@TonalidadeHidrica I wouldn't rely on that myself. To me that's not an idiomatic use case; I'd expect the function to be pure.

[2021-11-25 01:43] dtolnay commented on #90319
I hit this in Syn. This is a regression in 1.57-beta. My own case minimized:

[code]

<details>
<summary><code>RUST_BACKTRACE=1 cargo check</code></summary>

[code]
</details>

[2021-11-25 01:54] allada commented on #70530
I just came across a use case for this method but found it could not handle the case where I need to run my predicate function on the map in reversed order. There are work arounds to this problem, but thought I'd notate potential pain pointers of users.

[2021-11-25 01:55] Mark-Simulacrum commented on #90319
Just to make sure, you are still only seeing a error -> ICE regression (which is only a "diagnostics regression", in some sense), correct?

[2021-11-25 01:59] dtolnay commented on #90319
It bisected to nightly-2021-10-09 and e0aaffd8a45cd0e9f331ec7734713e9de11aa6c8 (#89576). @tom7980 @estebank

@Mark-Simulacrum That's right. According to the PR title too, it suggests this would only occur during trying to emit a suggestion about an ambiguous trait impl, so I think there wouldn't be previously successfully compilable code that would be affected by this.

[2021-11-25 02:15] #10380 closed

[2021-11-25 02:15] #59853 closed

[2021-11-25 02:15] #91175 closed

[2021-11-25 02:48] upsuper commented on #90829
As I mentioned in https://github.com/rust-lang/rust/pull/90772#issuecomment-978772209 maybe we should add this for VecDeque as well.

[2021-11-25 05:25] hkratz commented on #91206
Bisected to #90352. CC @camsteffen @oli-obk

searched nightlies: from nightly-2021-10-01 to nightly-2021-11-25
regressed nightly: nightly-2021-11-23
searched commit range: https://github.com/rust-lang/rust/compare/65f3f8b220f020e562c5dd848ff7319257a7ba45...936f2600b6c903b04387f74ed5cbce88bb06d243
regressed commit: https://github.com/rust-lang/rust/commit/cebd2dda1d9071f2209079370c412f4ef9ef2b82

<

[2021-11-25 05:36] hkratz commented on #91130
@rustbot label A-attributes T-compiler

[2021-11-25 05:51] rrahulraman commented on #91138
Yes updating to WSL 2 solved the problem, Thanks.

[2021-11-25 05:51] #91138 closed

[2021-11-25 05:53] thomcc opened #91210 "Bad error message when trying to assign to a field through raw pointer"
If I try to assign to a value named read through a raw pointer, I get a particularly bad error message
[code]

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1a491cb65ab0afb0f69c80d92b91d7f5

I think this happens because it finds `core::ptr::read`'s method version on `*mut T`. It would be nice if we suggested[^1] something like `(*x).read` instead.

[^1]: I guess t

[2021-11-25 06:08] asquared31415 opened #91211 "Confusing error message with associated type bounds doesn't hint to possible typo"
Given the following code:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c3bac94aa162006b0a507616f81caeb1)
[code]

The current output is:

[code]

Ideally the first error should have a `hint` that `Assoc` is also the name of an associated type on `T` and point to the single colon `:` with a suggestion to change it to a double colon to access the associated typ

[2021-11-25 07:09] compiler-errors commented on #91206
I can fix this quickly -- seems like just changing an `[index]` to a `get()` since the `statement_index` can be out of bounds.

@rustbot claim

[2021-11-25 07:20] compiler-errors commented on #91206
(only tangentially related) I also noticed a regression in error spans between stable and beta...

stable:
[code]

beta:
[code]

[2021-11-25 07:43] thomcc commented on #91210
@rustbot modify labels: +A-diagnostics

[2021-11-25 07:46] thomcc commented on #91210
If the field isn't "shadowed" by a method name, it says something like
[code]
  which is probbaly just what it should say always.

[2021-11-25 08:16] #84946 closed

[2021-11-25 08:30] Luro02 commented on #27721
Why has this trait been implemented for `FnMut`? If the function should be pure, then wouldn't it be better to only implement it for `Fn`?

From the docs of `FnMut`:

https://doc.rust-lang.org/std/ops/trait.FnMut.html

[2021-11-25 08:32] Luro02 commented on #27721
This seems like something that should be documented in the docs of the `Pattern` trait.

[2021-11-25 08:33] hkratz commented on #81788
This still fails for me locally with current nightly (d2c24aabcdd):
[code]
Not sure why it compiles on Godbolt.

[2021-11-25 08:40] TonalidadeHidrica commented on #27721
I agree that this should be documented.  I guess why this function is `Fn` instead of `FnMut` is that we may sometimes use something like "cache" of a large database of chars, the update of which requires mutations.  The issue of use of `FnMut` is somewhat similar to "`Iterator::map` accepts `FnMut`, then can I update an external counter during the iteration of `map`?  No, it's discouraged."

[2021-11-25 08:40] ChrisDenton commented on #40032
This isn't quite true. Windows doesn't use magic handle values. Instead it uses [`GetStdHandle`](https://docs.microsoft.com/en-us/windows/console/getstdhandle) to get the relevant handle. These can be changed at any time using [`SetStdHandle`](https://docs.microsoft.com/en-us/windows/console/setstdhandle). So closing the handle would be a two step process: firstly replace the handle with, say, 0;

[2021-11-25 09:49] Mingun commented on #27721
Would it be better to ban the mutation, and if it is needed, use the internal mutation (`Cell`, etc.)?

[2021-11-25 10:30] jhpratt commented on #27721
Not possible due to pack-compatibility. `Pattern`, while unstable, is exposed in some stable APIs.

[2021-11-25 10:42] GuillaumeGomez commented on #90829
I'll send a PR and we'll see if the libs team will agree or not. I'll update the issue afterward.

[2021-11-25 10:48] hkratz commented on #81788
The failed assertion is in line 55 here: https://github.com/rust-lang/rust/blob/6f53ddfa74ac3c10ceb63ad4a7a9c95e55853c87/compiler/rustc_const_eval/src/interpret/util.rs#L53-L61
Wrapped in `if cfg!(debug_assertions)` it will not be checked with the prod compiler.

So this unfortunately not fixed and needs more than just a testcase.

@rustbot label -E-needs-test

[2021-11-25 11:48] tom7980 commented on #90319
Looks like I missed a path to get to coerce_diag in my PR - seems you can get to it through the calls here to select_obligations_where_possible call  https://github.com/rust-lang/rust/blob/b8e5ab20ed7a7677a998a163ccf7853764b195e6/compiler/rustc_typeck/src/check/fn_ctxt/checks.rs#L322-L324

and the resolve_vars_with_obligations_and_mutate_fulfillment call here https://github.com/rust-lang/rust/blob

[2021-11-25 12:52] c410-f3r commented on #73494
For reference, some tests have duplicated file names (Removals should be investigated manually).

[code]

And a subset of the above list has identical file contents (Removals should be trivial).

[code]

[2021-11-25 13:07] DzenanJupic opened #91219 ".. syntax copies lifetime"
I tried this code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=20323306116c8ab342d6a5ce9fee05e2):

[code]

### I expected to see this happen:

Since all fields with a lifetime were replaced by owned values I expected `make_owned2` to compile.

### Instead, this happened:

The compiler is unable to understand, that the remaining fields don't influence the lif

[2021-11-25 13:31] jyn514 commented on #90703
Just for posterity: the zulip thread for this is https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/help.20with.20.2390703.

[2021-11-25 13:44] jrmuizel commented on #54144
The `Err` variant has a lang item associated with it. It should be possible to introduce the function call during HIR to THIR translation. I'm not sure if lang item data gets kept after the translation to THIR so I don't know if it's possible to do later.

[2021-11-25 14:59] K4rakara commented on #31436
Regarding the issues with type inference, could something like this be done?
[code]
certainly beats the current way:
[code]
If proposing this would require an RFC, just let me know, I haven't contributed to the language that much.

[2021-11-25 15:05] xmo-odoo commented on #44189
For any reader stumbling upon this issue, that seems to be the option `parking_lot` uses: its rw guards are mappable and return a dedicated `MappedGuard` structure.

[2021-11-25 15:22] Aaron1011 commented on #91206
@compiler-errors That was an intentional change, meant to highlight the fact that the attempted mutable borrow is occurring because of the method call. However, it seems to be confusing for a lot of people, so I'll look into improving it.

[2021-11-25 16:36] poliorcetics opened #91226 "`std::env::vars` and `std::env::args` should silently ignore non-UTF8 values"
[`std::env::vars`](https://doc.rust-lang.org/std/env/fn.vars.html) and [`std::env::args`](https://doc.rust-lang.org/std/env/fn.args.html) both panic when they encounter non-UTF8 values.

This is harmful for several reason:

1. It means binaries can fail simply because someone else set an env var that ended up in the user's environment (e.g, [cargo](https://github.com/rust-lang/cargo/blob/58a961314

[2021-11-25 16:37] compiler-errors commented on #91206
@Aaron1011 Ah thanks for letting me know.

Maybe we can split the span up into the receiver and the method, and add a note on the latter like "due to this method which takes &mut self". Not sure if that much info bubbles down into borrowck. I'd be interested in making that change if you've got a lot on your plate and it's (relatively) easy to do.

[2021-11-25 16:46] fmease commented on #91219
In the current version of Rust, this works as intended: The type cannot change with the struct update syntax. On nightly with `#![feature(type_changing_struct_update)]`, your second function compiles successfully. See #86555.

[2021-11-25 16:49] nagisa commented on #91219
Closing as…

Duplicate of #86555

[2021-11-25 16:49] #91219 closed

[2021-11-25 16:53] Urgau commented on #91226
Ignoring is (on my opinion) not a great idea as it would create a difference with the args/envs provided potentially leading to vulnerabilities (ex. when forking, ...).

fwi, there is already a method for retrieving arguments/environment in the native OS format: [`std::env::args_os`](https://doc.rust-lang.org/std/env/fn.args_os.html) and [`std::env::vars_os`](https://doc.rust-lang.org/std/env/fn.v

[2021-11-25 16:53] ijackson commented on #78149
A similar issue arises with `fehler`, https://github.com/withoutboats/fehler/issues/45.  In fact, it would be nice in general to be able to say, for a function which returns `Result<Wombat,SomeError>`, that the `Wombat` must be used.  `#[must_use]` doesn't work there either, because it just demands use of the `Result`.

Another way to look at this is that both `Result` and `Future` have syntactic

[2021-11-25 16:54] roblabla commented on #91226
The problem is that any crate using `std::env::vars` introduces a DOS vulnerability in your program.

[2021-11-25 17:07] booleancoercion opened #91227 "Misspelling of macro_rules!"
Consider the following snippet:
[code]
It might look completely fine at first, but then rustc spits out this error message:
[code]

The actual problem is that `macro_rules` is misspelled as `ma*rc*o_rules`. It took me a while to see the problem myself when I encountered it.

Could there possibly be a lint that checks for this case and gives a proper error message? The current one is extra misleadi

[2021-11-25 17:09] JIVIN0902 opened #91228 "can't find crate std in rustc"
[code]

I am unable to compile the code due to this error. Any help is appreciated. Thanks

[2021-11-25 17:23] the8472 commented on #91226
@poliorcetics

Panics are a trade-off they make handling very rare and unexpected problems more ergonomic at the expense of more disruptive failure modes when those edge-cases occur. If you want to lean more towards robustness then you need to pick dependencies which use `vars_os` instead of `vars` and return an `Error` type instead. Or file an issue with that library

Panicking is documented beha

[2021-11-25 17:32] ChrisDenton commented on #91226
This is correct. Although to be absolutely fair, it can be frustrating if an application is open from the File Explorer. That said, non-unicode environment variables are exceptionally rare in Windows and you should definitely talk to your administrator about either a malicious or buggy software that is polluting the environment.

[2021-11-25 18:16] izderadicka commented on #39998
@lifehome
Static linking in Rust is a mess, unfortunately. My experiences are on linux only.

Rust dependencies are linked statically, but even if you are Rust only final binary has few dynamic dependencies on core linux os libs. This can help `-C target-feature=+crt-static -C link-self-contained=yes`, but works works only on targets with musl clib.

But if you have dependencies on C/C++ libraries

[2021-11-25 18:39] mamins1376 opened #91231 "ICE: could not fully normalize `<&Extern as Trait>::Type` on `#[inline]` function"
Interestingly, omitting `#[inline]` makes the ICE ~melt down~ go away.

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-25 18:39] hkratz commented on #91228
This is not an internal compiler error, just a normal compiler error message with the helpful note that the target you are compiling for, `bpfel-unknown-unknown`, does not support the standard library. Which is true, see #79608. The `lazy_static` crate does support building for nostd targets with the `spin_no_std` feature but I am not sure if that helps you. What are you trying to accomplish?

@ru

[2021-11-25 18:42] hkratz commented on #91228
Oh, is this about [solana](https://github.com/solana-labs/solana)? Then you are probably better of asking in their project for help.

[2021-11-25 19:00] compiler-errors commented on #91211
I'd love to work on this if nobody else is interested in it. @estebank, you're the expert on diagnostics, so you might know the best advice to do this fix cleanly.

My thoughts: In `rustc_typeck::astconv::generics`, there's `AstConv::check_generic_arg_count`. Perhaps I can augment [the logic that checks for (and denies) assoc ty bindings in generic args](https://github.com/rust-lang/rust/blob/mast

[2021-11-25 19:20] #81886 closed

[2021-11-25 19:20] #90342 closed

[2021-11-25 19:20] #90873 closed

[2021-11-25 19:43] twertybog commented on #91146
I get the same error on Windows 10 and x86_64-pc-windows-gnu

[2021-11-25 19:52] the8472 commented on #26179
@MSxDOS that's probably worth a regression issue.

[2021-11-25 20:01] camelid commented on #91206
See #90286 for discussion about this exact idea. It'd be nice, but likely hard to implement.

[2021-11-25 20:14] twertybog commented on #91146
Try install mingw64-gcc and add it to PATH, this work for me.

[2021-11-25 20:14] mamins1376 opened #91234 "ICE on stable: could not fully normalize `<&Struct as Trait>::Type` as enum variant"
The error message strongly suggests that this is coming from the same origin as #91231, but the reproduction is different.

In this one, due to lack of reliance on `#![feature(extern_types)]` it is possible to trigger it on stable channel as well as nightly.

I made [a repo](https://github.com/mamins1376/trait_type_ice) to have both codes at one place.

### Code

[code]

### Meta

Stable:

`rustc

[2021-11-25 20:43] WaffleLapkin opened #91235 "encountered incremental compilation error with normalize_generic_arg_after_erasing_regions"
I've got an "encountered incremental compilation error" (#84970) while running `x test library/core --doc --stage 1`

### Meta

1.57.0-beta.2 (7e4c9eebd 2021-10-22)

### Error output

[code]

<details><summary><strong>Full output</strong></summary>
<p>

Running a second time with `RUST_BACKTRACE=1` succeded, so I don't have a backtrace.

[code]

</p>
</details>

[2021-11-25 20:48] Aaron1011 commented on #91235
@WaffleLapkin Were you modifying the compiler locally before performing this build? I'm not sure where `rustc_query_system::query::plumbing::QueryCacheStore<bool>` is coming from, since `bool` is not a `QueryCache`.

[2021-11-25 21:32] piegamesde commented on #31436
Wasn't there a proposal for explicit type hints that ought to solve this, that was initially designed for `.into()` type annotations? IIRC it would allow something like `try {…} as Result<()>`

[2021-11-25 21:36] WaffleLapkin commented on #91235
@Aaron1011 no, I only updated the `core` (it's this PR: https://github.com/rust-lang/rust/pull/91216)

[2021-11-25 21:43] mati865 commented on #91146
Cannot reproduce and it seems like wrong libmsvcrt was linked somehow.

I can think of few possibilities:
- external C toolchain detection didn't work properly, you can rule it out by running `where x86_64-w64-mingw32-gcc` in your shell (based on your log it should find nothing)
- something has altered libraries inside `"C:\\rust\\toolchains\\stable-x86_64-pc-windows-gnu\\lib\\rustlib\\x86_64-pc-w

[2021-11-25 21:51] RalfJung opened #91237 "Inconsistency in behavior of MIR and SIMD shifts"
The MIR primitive binops for shifting are well-defined even when the shift offset is larger than the size of the left operand: the shift offset is truncated to that size before doing the shift. (MIR building relies on this, with overflow checks disabled it is entirely safe to produce MIR shift binops without any guards.)

On the other hand, the SIMD shift intrinsics are currently UB when the shift

[2021-11-25 21:56] RalfJung commented on #91237
The consistent behavior should probably be that either both of them truncate, or both of them are UB when the offset is too big. I will try to summarize what I understood to be the arguments in favor of either solution.

Arguments in favor of UB:
- This matches the LLVM backend, so each MIR binop would directly correspond to an LLVM operation.
- Defining less behavior in principle means more backe

[2021-11-25 22:14] insinfo commented on #91146
simply commenting this line  'whoami = "1.1.1"' of Cargo.toml stopped giving this error.
I tested it on a clean machine with only rust --gnu, visual studio 2019/2022 and mingw-64 installed via chocolatey and it works normally if you comment out the line 'whoami = "1.1.1"', but if you leave this line not compiles and this error appears.

[2021-11-25 22:51] mati865 commented on #91146
Ah, it built whoami 1.2.1 on my desktop.

This was `whoami` bug fixed in latest version: https://github.com/libcala/whoami/commit/8c673fe048ca6a11dfe3b6b0a1cebe4b3c489277
You should either call `cargo update` to pull newer version or even better update it in `Cargo.toml` to make sure it always picks recent enough verson.

[2021-11-25 23:20] ijackson commented on #31436
I think you may mean type ascription, [RFC803](https://github.com/rust-lang/rfcs/blob/master/text/0803-type-ascription.md), #23416

[2021-11-25 23:22] estebank commented on #91211
@compiler-errors you'll end up having to touch at *least* two different places (maybe three) to handle this correctly.

You might want to *silence* the first error that happens on `visit_assoc_ty_constraint`, simply because it's early enough that you don't have enough info to recover. `E0107` I don't know how easy it will be to silence, depending on how we go about this. The last error is the one

[2021-11-25 23:34] workingjubilee commented on #91237
My current hypothesis regarding the performance of lowering using `cranelift::simd_shl(V, V) -> V` as our `rust::simd_shl(V, V) -> V`, which would, for LLVM, lower to `llvm::simd_shl(lhs, llvm::simd_and(rhs, lhs::T::BITS -1))`: Assuming that LLVM simply generates the appropriate `machine::simd_and(V, V) -> V` , and `machine::simd_shl(V, V) -> V`, in the case of a tight loop this may slow the opera

[2021-11-26 02:06] cameron1024 commented on #91063
Hi, I'm looking at implementing @estebank 's solution, my current plan is to check for the case of "expected `u32` or `i32`, got `char`", should I submit a PR for this?

[2021-11-26 03:43] workingjubilee commented on #91063
Go for it!

[2021-11-26 03:44] workingjubilee commented on #91079
Ah, Damn.

[2021-11-26 05:57] AlbertMarashi commented on #15347
+1

As both a user and maintainer of library it would be valauable to have a full "developer" section.

I'd argue that many users would benefit from also understanding internals directly from docs, even if they are not going to directly use them.

[2021-11-26 07:34] DAigory commented on #73307
Hi. I'm not sure it is correct behavior.
Try to change HashMap to BtreeMap or vec. Result: BtreeMap and Vec will like you expected (return memory to system)
I want to know...how to control it...and why it happening?
For example I'm going to load bigdata to hashMap and never use it...My process will never back this memory to System?

[2021-11-26 08:47] apiraino commented on #91206
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391206.20Nightly.20compiler.20panics.20when.20attempting.20to.20mutate.20a.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-11-26 09:13] scottmcm commented on #73255
I noticed in [a PR today](https://github.com/rust-lang/rust/pull/91222/files#diff-1a068eac2c0aea102f63d52824630fcba21adc6431426b70c9769137e2ff42a7R11) that I accidentally changed what this was doing by making what I *thought* was just an optimization -- same as `SimplifyBranches` -- but changed the precise drop errors.  So I'm glad to see the cancel here, since it made me nervous about where this

[2021-11-26 09:53] daladim commented on #91226
Yes, but only if you click on fhe function to see the complete documentation.
![image](https://user-images.githubusercontent.com/6873361/143561594-5639139d-f20f-48d7-a4a1-8229ec40119f.png)

I bet most developers won't bother looking at the complete documentation and say "well, I don't want to retrieve an OS string, a regular String is fine, so I'll use `vars` instead of `vars_os`".
Maybe this shou

[2021-11-26 10:30] mat-gas commented on #91226
Maybe adding some kind of flag to permit not panicking but ignoring the environment variable could be added?

Big Rust applications pull a lot of dependencies, expecting each developer of those different crates to use the "correct" / non panicking one is _difficult_

[2021-11-26 10:51] b-naber commented on #91234
Seems as if `layout_of` shouldn't expect the normalization in `normalize_erasing_regions` to succeed, since `normalize_after_erasing_regions`, which is internally called by `normalize_erasing_regions` calls `bug` if the normalization fails.

This actually results in ICEs whenever `layout_of` is called on an associated type that isn't provable, e.g. this also ICEs:

[code]

https://play.rust-lang.o

[2021-11-26 10:51] b-naber commented on #91234
@rustbot claim

[2021-11-26 11:10] mamins1376 commented on #91234
@b-naber There are quite a few of [seemingly related issues](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+normalize_erasing_regions+label%3AI-ICE), so fixing one might eradicate many.

[2021-11-26 13:05] BeastLe9enD opened #91249 "New declerative macros, functions and fields not being recognized"
I ran into some issues with rustc 1.58.0-nightly (b426445c6 2021-11-24).
I have the following code:

[code]

What I try to do here is creating a macro that just creates a struct with a given identifier as a name.
When I call MyTestClass::new(3), the compiler complains that this function does not exist:

[code]

running cargo expand produces code that should work in my opinion:

[code]

Not sure if

[2021-11-26 13:24] jyn514 commented on #85593
@jam1garner do you want to make a PR with that fix? :) I think as long as it passes in CI it's no worse than the existing situation, and it sounds like it's fixed your problem.

[2021-11-26 13:36] steffahn commented on #91231
I suppose you mean `#[inline]`?

[2021-11-26 15:54] jyn514 commented on #77735
@chengniansun Hi, I'm not sure how to contact you, so I'm reaching out here - you said that this input was autogenerated with a tool called Kira? Is that tool open-source/available? I would be very interested in using it to automatically find bugs in rustdoc :), which sees much fewer bug reports than rustc because people usually run it on working code.

[2021-11-26 16:04] jyn514 commented on #79481
@ssomers I'm still not able to replicate this. I ran `x test library/alloc --stage 0 --test-args debug_assert` with your test case added and the test failed appropriately:
[code]

[2021-11-26 16:28] mamins1376 commented on #91231
Yes, the typo is fixed.

[2021-11-26 16:30] #88747 closed

[2021-11-26 16:44] jyn514 commented on #82741
Note that this was actually a performance *regression* on linux for some reason: https://perf.rust-lang.org/compare.html?start=9faa714154dbc03faa174a7d4f72d6bbbfd61f7c&end=853cac83440612cc4564f31c8b0ea39ef4389bf1

[2021-11-26 17:02] Aaron1011 commented on #91068
PRs https://github.com/rust-lang/rust/pull/91243 and https://github.com/rust-lang/rust/pull/91242 have been opened to fix this on nightly and beta (by partially reverting https://github.com/rust-lang/rust/pull/88312)

[2021-11-26 17:27] nagisa commented on #91228
I'm going to take liberty to close this issue because there's little we can do in terms of helping or improving rustc itself here, I feel.

[2021-11-26 17:27] #91228 closed

[2021-11-26 18:15] tobx opened #91256 "rustc is not able to see that an anonymous fn type and a fn pointer have the same call signature"
Hi,

I have been told in Discord that:

"rustc should be able to see that one is an anonymous fn type and the other a fn pointer with the same call signature"

and that I should open an issue.

Here is the example:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b35796ef8b42be226dbba7c213fbd348

with the error:

[code]

This can be solved by casting to the function pointer:

[2021-11-26 18:16] the8472 commented on #82741
That link shows total CPU instructions spent, across all cores. That's expected to get worse when you parallelize things due to communication overhead. But wall-time should go down, which didn't happen if you switch to those results.

But that PR only parallelizes IO, right? I.e. it doesn't parallelize the CPU-heavy parts, like querying the compiler internals or perhaps compression (if any). Write

[2021-11-26 18:21] jyn514 commented on #82741
Oh! I didn't realize writes happen asychronously. Yeah, this probably doesn't have much benefit on Linux then (maybe MacOS would benefit though?)

[2021-11-26 18:24] tobx opened #91258 "rustc is not able to see that an anonymous fn type and a fn pointer have the same call signature"
I have been told in Discord that:

"rustc should be able to see that one is an anonymous fn type and the other a fn pointer with the same call signature"

and that I should open an issue.

Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b35796ef8b42be226dbba7c213fbd348

The current output is:

[code]

Ideally the output should add a note, somethin

[2021-11-26 18:25] #91256 closed

[2021-11-26 18:26] tobx commented on #91256
Closed in favor of #91258

[2021-11-26 18:34] comex commented on #60705
Well, if it helps:

With LLVM, names like `foo.llvm.3285396211802591752` and names like `foo.5` both arise when a symbol that originally had linkage local to a single object file, and thus only needed a locally unique name, goes through LTO and suddenly needs a globally unique name.

<details>
<summary>Details</summary>
<ul>
<li> Names like <code>foo.llvm.3285396211802591752</code> come from ThinL

[2021-11-26 18:37] camelid commented on #91234
It looks like adding the impl used in the bound makes compilation succeed:

[code]

So am I correct that this is an ICE that occurs when an error should've been emitted?

[2021-11-26 18:40] Badel2 commented on #90871
Another input with a slightly different error message: `No bound vars found for "type fn() (hir_id=HirId...`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2021-11-26 18:42] compiler-errors commented on #91211
Thanks for the advice. I'll take a look at it when I get back to my rustc-building computer in a few days :)

@rustbot claim

[2021-11-26 18:44] camelid commented on #91196
Ok, the color has been fixed now. The font-weight has not been changed, so we need to decide about that.

[2021-11-26 18:48] camelid commented on #91196
Yeah, but inherent methods don't have section icons :)

I think I'm okay with accepting the font-weight + size of the variant section icon for consistency. This kind of ties into the discussion about making rustdoc consistent about using section icons vs self-links (cc https://github.com/rust-lang/rust/issues/90331#issuecomment-952459062).

[2021-11-26 18:48] #91196 closed

[2021-11-26 18:49] chengniansun commented on #77735
@jyn514

Thank you for your interest. The tool is currently under active development, and is not ready to be open sourced. We hope this can happen in the middle of next year.

Meanwhile, if can share how to run rustdoc on a single rust file, i.e., the command lines you want to test, I would be happy to launch several testing runs on our server to stress test rustdoc.

[2021-11-26 18:52] camelid commented on #91258
Hmm, it kind of feels like rustc should be performing this cast automatically, though I guess that'd be a larger language change.

[2021-11-26 18:55] camelid commented on #91249
My recollection is that declarative macros use "def-site" hygiene; that is, identifiers defined in the macro cannot be referenced outside the macro.

Passing `new` as an argument to the macro makes the program compile successfully:

[code]

[2021-11-26 18:55] the8472 commented on #91226
That argument could be applied to all functions that might panic or have other properties that one has to be aware of. We can't compress all that knowledge into one line. Ultimately one has to understand the API one is working with. And downstream users have to pick libraries that are written with sufficient care or suffer the consequences.

Note that the search results don't show unsafe, nightly-

[2021-11-26 19:03] comex commented on #60705
Also, regarding the idea of just getting rid of the suffixes:

For Rust code, it might theoretically be possible to get rid of suffixes that exist to ensure global uniqueness, under the assumption that Rust compilers will never actually produce two unrelated symbols with the same mangled name.  But C and C++ compilers can and do produce such symbols (those languages expose local linkage directly i

[2021-11-26 19:04] jyn514 commented on #41574
I just opened https://github.com/rust-lang/rust/pull/91259 which
a) doesn't show any warnings by default,
b) lets you use `--test-args --show-output` to show all warnings but the `unused` lints, and
c) lets you add `#![warn(unused)]` to get all warnings without exceptions.

Does that seem like a reasonable solution? Or do you think rustdoc should show all lints besides `unused` by default? That's

[2021-11-26 19:26] jyn514 commented on #77735
Sure, that would be great! Rustdoc is mostly the same as rustc (i.e. if you have `rustc --extern=... src/lib.rs`, then `rustdoc --extern=... src/lib.rs` should work fine as well). It does accept slightly different options - `--out-dir` is `--output`, `--emit` is unstable, and a few other things - but for simple things like fuzzing it should be the same :)

Rustdoc also has a couple different modes

[2021-11-26 19:29] jyn514 opened #91260 "rustdoc: accept `--out-dir` and soft-deprecate `--output`"
Rustc uses `--out-dir`, but rustdoc rejects it. This is an unnecessary incompatibility; rustdoc should accept `--out-dir` too. Accepting `--output` was a mistake, but it's stable and used in almost literally every run by cargo, so we realistically can't even warn on it. We should document that `--out-dir` is the recommended option, though.

Once `--out-dir` has been accepted for several releases,

[2021-11-26 19:29] jyn514 commented on #91260
@fcpbot fcp merge

[2021-11-26 19:30] jyn514 commented on #91260
@rfcbot fcp merge

[2021-11-26 19:32] MSxDOS commented on #91249
It works fine with old declarative macros: https://rust.godbolt.org/z/35oYrPv7E and that's how they're often used, including std.
So either it's a bug with declarative macros 2.0 or they're fundamentally useless.

[2021-11-26 19:33] jyn514 commented on #91260
Note that this will still leave an inconsistency - rustdoc will treat `-o` as a synonym for `--out-dir`, while rustc treats `-o` as a filename and not a directory. This isn't great for modes where it makes sense to output a single file, such as `--output-format json`. I think it's still better than the current situation though (where `-o` is a synonym for `--output`).

[2021-11-26 19:40] #91206 closed

[2021-11-26 20:03] ojeda opened #91262 "`target json file contains unused fields` unaffected by `-Dwarnings`"
I tried this:

[code]

I expected to see this happen: the `warning: target json file contains unused fields: foo` diagnostic to be an error.

Instead, this happened: the warning is still a warning, even with `-Dwarnings`.

If this is intended (i.e. `-Dwarnings` is only intended for code-related diagnostics), then this issue would be a feature request: a way to control whether non-code warnings are

[2021-11-26 20:11] BeastLe9enD commented on #91249
Yes, with macro rules, its working as intended. But with the new gen 2.0 macros it doesn't.

[2021-11-26 20:13] camelid commented on #91249
IIRC, part of the reason for adding macros 2.0 was to have def-site hygiene. But I'm not sure, so I'll ask on Zulip.

[2021-11-26 20:25] BeastLe9enD commented on #91249
Yea, wasn't really sure if its actually a bug or my mistake, but in my opinion it would be great if it would work because I think many people including me use macros for things like that, sure u could use macro_rules in that specific case, but perhaps one could initiate a little discussion in this context

[2021-11-26 20:26] camelid commented on #91249
I started a [thread](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/macros.202.2E0.20hygiene.20.2391249) on Zulip about this.

[2021-11-26 20:32] jyn514 commented on #56232
I think the proper way to do this is something like this:
- Add a new `--check-tests` flag to rustdoc (or we can make it `--test --no-compile`, but I don't know if that's any more clear) which passes `--emit=metadata` to rustc. In this mode rustdoc will just print the output of rustc without marking the test as passed or failed; this addresses @Nemo157's concern in https://github.com/rust-lang/rus

[2021-11-26 20:35] camelid opened #91265 "rustdoc: Show type layout for type aliases"
~~Blocked on #85103.~~ No longer blocked!

[2021-11-26 20:48] camelid commented on #91249
`@bjorn3` replied on Zulip and also thinks this is intended behavior. I'm going to nominate this for T-lang since the behavior seems to be surprising to users.

[2021-11-26 21:13] jyn514 commented on #41574
I tried implementing this just now and it was a little tricky, since if rustdoc passes `--show-output` to libtest, it will show output from *all* tests, including `compile_fail` tests. Not sure how this could work.

[2021-11-26 21:14] Badel2 opened #91267 "ICE: compiler/rustc_typeck/src/collect/type_of.rs:186:25: no arg matching AnonConst in path"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting another error, so low priority. Affected versions: I tried nightly 2021-11-25 and stable 1.56.1 and they both show the same ICE.

<details><summary><strong>Backtrace</strong></summary>
<p>

[2021-11-26 21:16] BeastLe9enD commented on #91249
I don't know if there is a better way to implement this, but you could put a $ in front of the identifier, if the identifier is not in the pattern, the identifier has the same * value * as its name and has a global scope

[2021-11-26 21:22] jyn514 commented on #91262
This happens because the code is using `sess.warn` instead of `tcx.struct_span_lint_hir` (presumably because tcx isn't available that early in compilation). I agree that this should be an error with `-D warnings`, but you could construe that as a breaking change for people who are running `-D warnings` currently. Could you open an [MCP](https://github.com/rust-lang/compiler-team/issues/new/choose)

[2021-11-26 21:24] camelid commented on #91249
I'm pretty sure `$foo` with no corresponding argument pattern is already accepted to mean `$ foo`.

[2021-11-26 21:25] jyn514 commented on #91262
Relevant code: https://github.com/rust-lang/rust/blob/6d246f0c8d3063fea86abbb65a824362709541ba/compiler/rustc_session/src/session.rs#L1479

[2021-11-26 21:25] Manishearth commented on #91260
@rfcbot reviewed

[2021-11-26 21:26] ojeda commented on #91262
Of course, will do!

[2021-11-26 21:37] jam1garner commented on #85593
I'll try and put together a PR, been a while though so I'll need to refamiliarize myself first

[2021-11-26 21:37] Badel2 opened #91268 "ICE: string indexed not at a char boundary when constructing error message"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Affected versions: I tried nightly 2021-11-25 and stable 1.56.1 and they both show the same ICE.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Thanks to the detailed error message I was able

[2021-11-26 21:38] Badel2 commented on #91268
@rustbot claim

[2021-11-26 22:27] dtolnay commented on #75861
What's a real world use case for try_new_cyclic where the fallible work can't be done before the new_cyclic call, possibly putting Weak::new() placeholders into the object. The new_cyclic only needs to wire in the self references.

[code]

[2021-11-26 22:36] b-naber commented on #91234
@camelid That's what I also thought initially, but it seems we never reject these during typecheck, e.g. this also compiles:

[code]

Using this function or the enum above would yield an error then.

[2021-11-26 22:43] Thomasdezeeuw commented on #75861
@dtolnay I have a use case where a fallible `Arc::new_cyclic` would help, although I'm currently working around with an additional type. Basically I need to make a system call (the fallible part) to create a special fd (epoll in this case), which I then put in a shared structure (using an `Arc`). But this shared structure contains a type (`waker_id`, see code below) which is created using an `Arc`

[2021-11-26 22:52] camelid opened #91274 "rustdoc: `broken_intra_doc_links` is incorrectly reported when linking to a proc macro"
Rustdoc only emits a documentation page for `my_macro` as a macro; there's no function page for it.

Note that the link indeed fails to resolve.

### Code

[code]

### Output

[code]

[2021-11-26 22:53] camelid commented on #91274
Adding the `!` as suggested causes the link to resolve successfully.

However, I found another, related bug: When I add `()`, the link *resolves to the macro*!

[2021-11-26 22:55] cjgillot commented on #44699
We now support using `()` as a query key.

[2021-11-26 22:55] #44699 closed

[2021-11-26 23:06] the8472 commented on #74479
#91057 updates the documentation in anticipation of cgroups support.

[2021-11-26 23:18] camelid commented on #91234
Ah, that's a good point! The `where` bound is impossible to fulfill, but the definition is still valid.

[2021-11-27 00:55] TDHolmes opened #91276 "llvm-objdump fails to find many source files in core/intrinsics/etc for embedded ARM targets"
Using `cargo-binutils` to see disassembly along with source on embedded ARM targets (`thumbv7em-none-eabihf` in this case), it can't seem to find `core`/`compiler_builtins` source properly. It doesn't reproduce when compiling a native project and using the same disassembly commands. I get warnings along the lines of: `llvm-objdump: warning: 'usb_echo': failed to find source /rustc/(..)/library/cor

[2021-11-27 01:04] TDHolmes commented on #91276
I'm trying to poke around the rust source code to see where things might be going wrong. It's not clear to me if this is even a rust problem.

[2021-11-27 01:58] cuviper commented on #90825
I believe this is a qemu issue. You can even reproduce it with `qemu-x86_64` vs. running native.

The main thing I notice is that `vfork` (or `CLONE_VFORK` as used by `posix_spawn`) is not actually pausing the original process the way it is supposed to. If you run `qemu-arm -strace ...` you'll see:

[code]

That is, process 4289 continued executing before the child 4291 runs, but it should be susp

[2021-11-27 02:57] YushArora commented on #91226
Simply *ignoring* may cause undefined behavior, mind you.

Plus, I feel like ignoring... will cause problems with foreign characters being used in env vars.

[2021-11-27 03:15] PatchMixolydic commented on #91249
Perhaps [metavariable expression](https://github.com/rust-lang/rfcs/blob/master/text/3086-macro-metavar-expr.md) syntax could be used? This would give us something like `pub fn ${escaping_ident(new)}` (though the final product would probably have a better name).

I do feel that while the limitations are a bit surprising coming from macros 1.0, they ultimately make hygiene more consistent.

[2021-11-27 03:23] shawn-skt opened #91280 "rust liquid analyze error for transfer example claimed in Liquid Docs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-27 03:24] #91280 closed

[2021-11-27 03:30] scottmcm commented on #91161
Confirmed this is a problem: https://github.com/rust-lang/rust/pull/91281

Nominating for lang to confirm that this should be fixed.  Presumably via a forward-compat error at first.

[2021-11-27 03:45] #41574 closed

[2021-11-27 03:45] #90481 closed

[2021-11-27 03:45] #91200 closed

[2021-11-27 04:42] BGR360 commented on #90435
Is there consensus that this is a good thing to do? I understand that the thing that @jhpratt wanted to do with `PathBuf` was advised against, but for types that already have `repr(transparent)` like `NonZeroU8`, why shouldn't it be advertised? Is there no scenario where a user both relies on the fact that a type is `repr(transparent)` and doesn't do anything "impermissible" with it?

[2021-11-27 04:44] jhpratt commented on #90435
The reason I was advised against it is because the attribute is only meaningful if you are able to know what the inner type is. While something like `NonZeroU8` is logically represented as `u8`, there's nothing that strictly days that's the case. The `#[repr(transparent)]` doesn't give a user sufficient promises to do _anything_. So why show it at all?

[2021-11-27 05:19] BGR360 commented on #90435
I mean, that's not true, is it? It makes some very explicit promises. Consider `UnsafeCell`. We have tons of code where I work that wraps up thread-safe C types in `UnsafeCell` so they can be accessed from multiple threads in Rust. When those types cross the FFI boundary, it seems critical for there to be a guarantee that the memory layout will be the same so we can `transmute` a value or referenc

[2021-11-27 05:23] jhpratt commented on #90435
Ignoring the fact that the example you provided is unsound, I see no reference to the inner type of `UnsafeCell` in its documentation. As a result I'm deferring to the comment by @dtolnay who knows more about this than me. He's indicated that barring the field being public it cannot be relied upon.

[2021-11-27 05:35] BGR360 commented on #90435
Which part is unsound?

Ignoring the details of my example, though, here's [the Nomicon](https://doc.rust-lang.org/nomicon/other-reprs.html#reprtransparent) regarding `repr(transparent)`:

[2021-11-27 05:35] dtolnay commented on #90435
Yeah @jhpratt is correct. Just a repr(transparent) attribute does not give **any** public-facing guarantee when the field isn't pub.

Individual data structures may document a commitment that their layout may be publicly relied on, but that is simply not repr(transparent). Currently this kind of thing is just written in prose but this came up as well in https://github.com/rust-lang/unsafe-code-gui

[2021-11-27 06:18] BGR360 commented on #90435
Okay I see what you're saying. To put it in my own words, the set of all `repr(transparent)` types in the standard library can be split into two categories: "publicly transparent" (e.g., `UnsafeCell`, `NonZero*`) and "incidentally transparent" (e.g., `PathBuf`).

The unfortunate thing is that this split is currently not documented very well if at all. And as shown above, the Nomicon describes `rep

[2021-11-27 06:28] dtolnay commented on #90435
I disagree that the nomicon's description refers to publicly transparent. It's describing guarantees that the language makes to the module/crate that contains the type. Nothing in there is about what guarantees the module/crate makes to its downstream users.

[2021-11-27 06:41] jsha opened #91283 "rustdoc: unstable feature warning wraps early on iPad"
Visiting https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html#method.assume_init_read on an iPad Pro results in the following:

![PXL_20211126_050244055](https://user-images.githubusercontent.com/220205/143671000-9d16e38c-24d3-4e89-8009-405819fe0e13.jpg)

The yellow box warning about an unstable feature is both too long and too short. If it were wider, it could accomodate all its text

[2021-11-27 06:48] BGR360 commented on #90435
Hm, maybe not explicitly. But when I read it, it seems strongly implied.

Nothing on that page, nor in the parent page, nor even in [the Reference page on layouts](https://doc.rust-lang.org/reference/type-layout.html), suggests to me that these rules only apply to the module/crate where the type is defined. My own intuition additionally tells me that the layout of a type is a property that is true

[2021-11-27 06:53] jhpratt commented on #90435
To me that's _precisely_ why this issue was created and should be resolved.

[2021-11-27 07:03] BGR360 commented on #88586
I'd like to take a stab at this. @jackh726 I started [a thread](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/mentor.20thread.20.2388586) on zulip to track mentoring questions. You've given a very good starting point so I'll start reading code to see if it doesn't just click.

[2021-11-27 08:28] scottmcm opened #91285 "Tracking Issue for `ops::Residual` (feature `try_trait_v2_residual`)"
Feature gate: `#![feature(try_trait_v2_residual)]`

This is a tracking issue for the `ops::Residual` trait.

This is used by `try_*` APIs that need to change from one member of a family to another, such as
- https://doc.rust-lang.org/nightly/std/array/fn.try_from_fn.html #89379
- https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.try_find #63178
- https://doc.rust-lang.org/night

[2021-11-27 08:58] scottmcm commented on #88302
Given that this is answered in https://github.com/rust-lang/rust/issues/88302#issuecomment-910614687, I'll close it.

[2021-11-27 08:58] #88302 closed

[2021-11-27 09:04] inquisitivecrystal commented on #91249
My impression is that one of the reasons macros 2.0 isn't stable is that their hygine isn't finished yet. I think currently the plain is to make def-site hygine the default, and add some way of distinguishing when you want different hygine. However, people haven't decided on what that way should be. Macros 2.0 haven't even been completely designed yet, let alone completely implemented, and it prob

[2021-11-27 09:14] scottmcm commented on #91109
Thanks for including the `vector::at` C++ version!

I suggest that you prefer re-slicing to `assert`s for avoiding bounds checks.  For example, this one works:
[code]
https://rust.godbolt.org/z/f19nasGPh

And that's a general strategy for improving bound-check-elimination.  It's how the the new `reverse` implementation works, for example (#90821).

[2021-11-27 10:03] scottmcm commented on #89379
@dtolnay I've submitted a PR to update this to be generic over `Try` types: #91286

(As well as other related methods like `Iterator::try_find` #63178 that hit similar questions.)

[2021-11-27 10:35] EdorianDark commented on #83984
To define Clamp in terms of Minimum and Maximum instead of Min and Max is not possible right?
If it cannot changed, then I would add to Clamps documentation, that it follows the IEEE-754 2008 semantics.

[2021-11-27 10:57] piegamesde commented on #90558
https://github.com/rust-lang/llvm-project/pull/121

[2021-11-27 11:04] rust-highfive opened #91289 "`miri` no longer builds after rust-lang/rust#90846"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#90846, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cuviper, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-11-27 11:10] rukai commented on #86759
This is solved by https://github.com/rust-lang/rust/pull/90667
The example now outputs:
[code]

[2021-11-27 11:27] vorot93 commented on #91036
Having the same issue with the latest nightlies:

[code]

[code]

[2021-11-27 12:45] ssomers commented on #79481
Well, I can still replicate it… on the master at the time. I located the fix at auto merge #90042 (25 October).

And it's really flawless now. The debug assertions detonate if `debug` or `debug-assertions-std` is true, or both, and you don't need to clean anything before building to see it.

[2021-11-27 12:45] #79481 closed

[2021-11-27 13:04] GuillaumeGomez opened #91290 "Notable traits popup position issue"
When it's present on the item of the page (and too far on the right) and the width of the screen is too small, the popup breaks the page flow:

![Screenshot from 2021-11-27 13-59-56](https://user-images.githubusercontent.com/3050060/143682422-ec0207b4-050f-475f-9f1e-092d30fe8ec4.png)

And when you scroll to see the popup content:

![Screenshot from 2021-11-27 14-00-55](https://user-images.githubus

[2021-11-27 13:12] BeastLe9enD commented on #91249
I don't think it was somebody's intention to judge the macros although they are not finished yet, it is much more about thinking about things and looking for a good solution together.

[2021-11-27 13:14] GuillaumeGomez commented on #90855
For more information:

[code]

gives:

[code]

It is linked to https://github.com/rust-lang/rust/issues/67792. So for now, let's remove this display.

[2021-11-27 15:23] jyn514 commented on #91274
Hmm, I don't think `my_macro()` resolving is actually a bug? It is a function, it just happens to also be a macro.

I agree that the warning isn't helpful though since the link is the same in both cases.

[2021-11-27 15:27] jyn514 commented on #89020
I think this is a special case of https://github.com/rust-lang/rust/issues/84619.

[2021-11-27 15:36] Yuri6037 opened #91292 "Lifetime mismatch with Option as_mut and map"
Consider the following code:

[code]

I find it strange that a match statement works but not the map function with as_mut. On the IRC a user found a way to fix it by replacing `Option<&mut dyn SectionData>` with `Option<&mut dyn SectionData + 'static>`. Which is also weird considering 'static is supposed to be implicit. What's also weird is this works perfectly with as_ref alone.

[2021-11-27 15:41] mendess opened #91293 "ICE: ProjectionKinds Deref and Field were mismatched: (Deref, Field(5, 0))"
### Code

I'm going to try to make a minimal rust example, in the mean time, this commit has my code in the state that causes the ICE: https://github.com/mendess/wtime/tree/246e60ceb9b65f4e389eaf6c4b76a05995894a92

The error message points to [`main.rs`](https://github.com/mendess/wtime/blob/246e60ceb9b65f4e389eaf6c4b76a05995894a92/src/main.rs#L134)

### Meta

#### Stable

`rustc --version --verbo

[2021-11-27 16:29] terrarier2111 commented on #91267
I was able to reduce it even further:
[code]

[2021-11-27 16:30] terrarier2111 commented on #91267
I will give this a try
@rustbot claim

[2021-11-27 16:34] PatchMixolydic commented on #91292
The diagnostic in question:
[code]

It seems that [`&'a dyn Trait` is equivalent to `&'a (dyn Trait + 'a)` by default](https://doc.rust-lang.org/reference/lifetime-elision.html#default-trait-object-lifetimes). Since the lifetime bounds here are inferred, that means that `'a` is the anonymous lifetime on `&mut self`. With the lifetimes revealed, the signature of `open` is as follows:
[code]

I'm no

[2021-11-27 17:15] alexwlchan opened #91297 "Collapse the "missing lifetime specifier" error when there are multiple errors within a single item"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Filing at the request of @estebank, after I made this mistake in a real project. [Brief discussion thread on Twitter](https://twitter.com/alexwlchan/status/1464508309688528904).

[2021-11-27 17:35] #74215 closed

[2021-11-27 17:59] bvahdat commented on #50776
I was able to successfully install the latest rust version `1.56.1` on macOS Heigh Sierra thanks to [this PR](https://github.com/Homebrew/homebrew-core/pull/89988) which has been merged yesterday.

[2021-11-27 19:00] Aaron1011 commented on #85099
@y86-dev Thanks for the excellent write-up!

I believe that `#[fundamental]` only comes into play when writing a local impl for `Pin<SomeType>`. In my understanding, `CoerceUnsized` does not interact with `#[fundamental]` at all (except maybe if you were writing a `CoerceUnsized` impl for a foreign type, but the example doesn't include any new `CoerceUnsized` impls).

@steffahn: If I understand co

[2021-11-27 19:14] aliemjay commented on #89020
Last time I checked (and that was a long ago), for any re-exported item in a module, we concatenate the docs for the `use` statement with the resolution of the item (`Res`), and since `Res` refers only to where the item is originally defined (which may be cross-crate), any docs added anywhere other than these two places is ignored.

This behavior is now consistent for cross-crate and same-crate re

[2021-11-27 19:43] jyn514 commented on #89020
Yeah, that seems reasonable. We can do the more proper fix later.

cc @petrochenkov who may have suggestions about how to do this with the existing metadata

[2021-11-27 20:11] jyn514 commented on #91260
Mentoring instructions:
1. Add a new `out-dir` option in `src/librustdoc/lib.rs`.
2. Change the `output` option to point to `out-dir`: https://github.com/rust-lang/rust/blob/686e313a9aa14107c8631ffe48fa09110a7692db/src/librustdoc/lib.rs#L281

Feel free to ask for help, but please do so [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc) or [Discord](https://discord.gg/2v73xet

[2021-11-27 20:12] TDHolmes commented on #91276
This seems to also occur in gdb when debugging embedded programs:
[code]

[2021-11-27 22:15] scottmcm commented on #91292
Here's another fix that works: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7f61519b420c4725dcacddd9a80f69ee>

Two steps to get there.  First, since `SectionMut` is holding a lifetime-restricted reference, it'd be fine for the `Box` it's referencing to be non-`'static`:
[code]

Then in the impl, you don't want to tie the trait object's lifetime to the passed-in lifetime

[2021-11-27 22:30] scottmcm opened #91302 "Consider re-tuning the lifetime elision rules for trait objects"
The lifetime elision rules for functions are willing to fail sometimes, and that's good because `-> &i32` defaulting to `-> &'static i32` would not be what people generally want, and having the error say "hey, what lifetime did you mean?" is way better than getting borrowck errors about "that's not `'static`".

It might be worth taking inspiration from that to improve the elision rules for `dyn Tr

[2021-11-27 23:47] Manishearth commented on #91290
My understanding is that there is a way to do this in CSS positioning but I don't really know it

[2021-11-28 00:31] RalfJung commented on #91226
Basically the same thing has been previously suggested in https://github.com/rust-lang/rust/issues/70251.

"ignoring" here likely means "skipping", i.e., not yielding them from the iterator. That is not UB.

[2021-11-28 00:33] lexi-lambda commented on #91249
I think this issue is basically a question of “what does hygiene *mean* for a reference through a qualified name?”

When a macro expands to a free function definition, (definition site) hygiene is straightforward: bindings defined by the macro are not visible at the use site unless the binding identifier was passed as an argument to the macro. For example, if we adjust the program from the [start

[2021-11-28 00:47] camelid opened #91304 "rustdoc: Header color has regressed"
They used to be blue and are now black. I don't think this change was intentional, although we have been thinking about migrating more headers to be black recently. I think this regressed very recently, since I probably would have noticed it otherwise.

![image](https://user-images.githubusercontent.com/37223377/143724718-d00c1c81-e8a6-445b-ae07-ff7dd21bfef3.png)

[2021-11-28 00:49] camelid commented on #91304
I wonder if this was caused by #91062 or #91223? Those were both merged recently, though the second one doesn't seem like it could have changed colors.

cc @jsha @GuillaumeGomez

[2021-11-28 00:52] camelid commented on #91118
I kind of wonder if we should just remove the implementors (and implementations on foreign types) sidebar sections. They're not part of the trait's interface, and for many traits the list will be very long and fill up the sidebar. I will start a discussion on Zulip about this.

[2021-11-28 00:54] camelid commented on #91118
It may not even be a bug that the section is empty; perhaps it's intended just to be a link to the beginning of the implementors section in the main body of the page. I agree that it looks confusing though.

[2021-11-28 00:56] GuillaumeGomez commented on #91290
I think there is a way in CSS as well, but I don't know it either.

[2021-11-28 01:37] workingjubilee commented on #86941
For any given situation where a codegen backend offers what we consider "two" features as one feature, either enabling both is what one might consider a _reasonable_ interpretation or it is not.

An example is if we decide to, say, separate the architectural state added by certain ISA features from the instructions that are enabled by those, such as with `#[target_feature(enable = "+sse4.2, -xmm")

[2021-11-28 01:37] lexi-lambda commented on #91249
## An aside on the philosophy of hygienic macros

To elaborate on my previous comment a little more, I think it’s helpful to make a distinction between *scope of bindings* and *the names of exports*.

Macro hygiene is about the scope of bindings. The idea is that we intuitively think about variable scope *lexically*: variable uses reference the nearest enclosing definition with the same name, and

[2021-11-28 03:10] saethlin opened #91306 "Miri detects a violation of stacked borrows in slice::sort_unstable with -Zmiri-track-raw-pointers"
Similar to https://github.com/rust-lang/rust/issues/78749?

I tried this code:
[code]
`MIRIFLAGS="-Zmiri-track-raw-pointers" cargo +nightly miri run`

I expected to see this happen: Miri does not detect UB

Instead, this happened: Miri detects UB (experimentally)

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-11-28 03:14] hi-rustin commented on #91260
@rustbot claim

[2021-11-28 03:14] petrochenkov commented on #91249
How would the next example behave?
[code]

In Rust it's pretty deeply ingrained that items are "planted" into modules regardless of their visibility (i.e. `pub` or not).
So `hello` produced by a macro and not by a macro are supposed to conflict or not conflict regardless of their visibilities as well.

[2021-11-28 03:17] petrochenkov commented on #91249
Regarding this specific issue, it doesn't look like a bug in the current system used by Rust, where resolution of module-relative paths (`module::foo`) and type-relative paths (`Type::foo`, like in this issue, resolved by type checker) are also affected by hygiene, like it was described above.

[2021-11-28 03:26] petrochenkov commented on #91249
@MSxDOS

That's because a crucial part of the macro 2.0 story - a hygiene opt-out (call-site hygiene for declarative macros) - is still unimplemented. Without it all interactions with the call site has to be done through macro arguments, which is pretty inconvenient, no doubt.

[2021-11-28 03:35] workingjubilee commented on #86941
What is the user-visible distinction between the "fp" and "neon" features for aarch64, as defined by this list?

[2021-11-28 03:47] ketsuban opened #91307 "Syntax errors in assembly included from another file produce confusing output"
The following is a sufficiently supported pattern in Rust to get [a mention in the unstable book](https://doc.rust-lang.org/nightly/unstable-book/library-features/global-asm.html).

[code]

However, if the included assembly contains a syntax error (such as the ARM instruction `push {r2, r3, r12, lr}` - the solution* is to double the curly brackets to prevent the compiler from interpreting them as

[2021-11-28 04:10] lexi-lambda commented on #91249
I assume you meant to include a `define_hello!()` statement in the outer module body. Regardless, I think it’s a good example: it highlights that Rust’s notion of a “module” is not as cleanly decoupled from its notion of lexical scope as Racket modules are, which makes sense, as Rust uses nested modules much more pervasively than Racket does.

But, as it happens, Racket actually *does* have a dire

[2021-11-28 04:35] CeleritasCelery commented on #60553
What will it take to get this back on track to be stabilized? Is there anything a normal person can do to help this along, or does it still need to be discussed by the T-lang team?

[2021-11-28 05:00] jsha commented on #91304
This regressed in #91179, which added `.section-header a` as one of the rules for an anchor to be styled black.

The goal with that change was to make the section headings on module pages black (e.g. https://doc.rust-lang.org/nightly/std/index.html#macros). Those have `class="section-header"`. However, headings generated from Markdown in a docblock also have `class="section-header"`.

I think the

[2021-11-28 05:20] jsha commented on #67804
This seems like the wrong direction to go. Compare https://docs.rs/crate/rustls/0.20.2/source/src/builder.rs vs https://docs.rs/rustls/0.20.2/src/rustls/builder.rs.html#97-100.

The rustdoc-generated source view is more featureful:

 - It has line numbers (extremely useful for linking someone to a specific line or range of lines).
 - The file navigation allows toggling open directories without doi

[2021-11-28 05:27] workingjubilee commented on #91226
"panic on invalid input" makes sense as a strategy when the user perfectly controls the input... generally, while env vars are settable by users, that is actually somewhat dangerous (`set_env` is potentially "racy" when FFI is involved in a way that Rust users are probably not expecting, so using that function as a reason why these functions are acceptable is building on a foundation of sand).

[2021-11-28 05:32] jyn514 commented on #67804
The problem is each has features the other doesn't; in particular rustdoc only shows files in the library itself, it's missing Cargo.toml and build.rs and anything else that doesn't directly have documentation generated.

I agree changing docs.rs to only store src/ for one platform makes sense.

[2021-11-28 05:36] jsha commented on #67804
Ah, I forgot to address that aspect of things. Yes, I think it's important that there be an authoritative way to view the contents of a specific crate artifact, including non-.rs files. But that should probably be on crates.io.

[2021-11-28 05:37] jyn514 commented on #67804
Well, you can already use `cargo download`. But it's nice to be able to browse it online, I use that feature quite a lot to read Cargo.toml versions and examples.

[2021-11-28 05:43] jsha commented on #91076
This is a good point - as the saying goes, post problems rather than solutions. So, in that spirit:

Problem: rustdoc search is too slow, particularly when searching many crates.

I went to find a citation for that - for instance, I though I saw someone mention a use case where search was very slow for them. However, I couldn't find it! I thought serde might be one such example but https://docs.se

[2021-11-28 05:43] #91076 closed

[2021-11-28 05:51] workingjubilee commented on #90711
Ah, sorry for missing this followup question!

Unfortunately, uh, debuginfo for Rust can get a little weird. LLVM does generate the debuginfo, yes, but on MSVC platforms it is basing that off the CodeView data that rustc passes to LLVM. Likewise clang is probably doing at least some work in generating the debuginfo, and then LLVM is materializing the rest. So I don't know if Rust supports this use

[2021-11-28 05:55] jsha opened #91309 "Consistentize rustdoc icons"
Here's a sample of some icons used in rustdoc:

<img width=40 src="https://user-images.githubusercontent.com/220205/143731240-24f94d7f-1655-4752-9450-a0f647b0b8f7.png">
<img width=40 src="https://user-images.githubusercontent.com/220205/143731245-25934400-ccea-4c5d-a90a-c4faad3d78d9.png">

<img width=60 src="https://user-images.githubusercontent.com/220205/143731203-e01e9a7b-0b4a-4976-aec8-54859e7

[2021-11-28 06:19] inquisitivecrystal commented on #91249
@lexi-lambda's points seem pretty convincing to me, though I'm by no means an expert on the issue. I also really appreciate the references to racket, as it was my favorite language for many years, even if I never learned how to use it at beyond a beginner level. Racket takes its macros about as seriously as Rust takes ownership and lifetimes. In any case, I'm really glad the lang team has been ask

[2021-11-28 06:50] BGR360 commented on #90528
@rustbot claim

[2021-11-28 07:10] EFanZh commented on #85138
@jyn514 Just out of curiosity, how can I have a `dyn Foo` that doesn’t implement `Foo`?

[2021-11-28 07:37] scottmcm commented on #89379
My 2¢ on the `usize` parameter question:
- There's clearly a bunch of cases where it's handy, as @‍c410-f3r showed in https://github.com/rust-lang/rust/pull/90505#issue-1042513716
- It's easy to ignore it if you don't need it, like in `array::from_fn(|_| value.clone())`.
- But tracking it yourself if the function doesn't when you *do* need it is a pain. `ι` being `from_fn(identity)` is so much tid

[2021-11-28 08:53] #81106 closed

[2021-11-28 09:06] Yuri6037 commented on #91292
That won't fix the case where the Box is inside of another structure like so:
[code]

[2021-11-28 09:08] oli-obk commented on #91306
cc @rust-lang/miri

[2021-11-28 09:57] Munksgaard commented on #90656
I've encountered the same problem with this example:

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=384859be0ad2e507a0fb22f596e3b132

[2021-11-28 10:56] danieleades commented on #67982
this seems to have stalled. that's a real shame, because I have a few crates where this would massively help with ergonomics

[2021-11-28 11:45] ChrisDenton commented on #91226
If this were to be changed I'd prefer that it did the equivalent of `to_string_lossy` rather than be outright ignored. That is, invalid unicode is replaced with '�'.

[2021-11-28 11:47] inquisitivecrystal commented on #91309
At a glance, looks to me like fontawesome's free set has alternatives for all of the sample icons!

[2021-11-28 11:50] leonardo-m commented on #82378
See also:
http://docs.myhdl.org/en/stable/manual/hwtypes.html

[2021-11-28 12:36] jyn514 commented on #85138
@EFanZh I don't think that's actually true, I misremembered.

[2021-11-28 13:21] petrochenkov opened #91315 "`x.py test` fails due to "unnecessary `unsafe` block" in `stdarch`"
[code]
[code]

My target is `x86_64-pc-windows-gnu`.
This passed through CI, so there perhaps some configuration mismatch?
I didn't investigate further.

[2021-11-28 13:32] BGR360 commented on #91059
@rustbot label +A-traits

[2021-11-28 13:36] GuillaumeGomez commented on #67804
It would be interesting for rustdoc to generate source code pages for all files included in the released crate I guess. I'm also not a big fan of having sources in two different places. We could argue that the display of docs.rs-specific sources is a bit better than rustdoc's and I'd agree. However, I expect it to be fixed by https://github.com/rust-lang/rust/pull/89385.

[2021-11-28 13:38] rouanth commented on #36887
I was playing around with making a wrapper that performed mutations and then returned the mutated argument, so that some elegant one-liners could be written for tests.

Without the default type parameters, I fail to imagine a definition such that both lines using `mutated` compile without extra type annotations.
[code]

Now that I think of it, this function has limited use anyway, given how few fe

[2021-11-28 13:42] guytbk commented on #72110
@joshtriplett Is there an estimation of when a new release containing this feature will be released?

[2021-11-28 13:57] tanriol commented on #72110
Seems to be coming in 1.58 (coming to beta next week, to release in mid-January).

[2021-11-28 14:09] Stock84-dev opened #91316 "Hint possible ambiguous derive macros for extern crate"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:
Hint that derive macros from `std::prelude::*` are overridden by extern crate.
It already hints if glob import is used:

[code]

[2021-11-28 15:44] yanchith commented on #91249
@lexi-lambda

Might be just my misunderstanding (or I am missing the greater point), but should this compile at all regardless of `mod inner`? We are defining the same symbol twice. I imagine this was a stepping stone towards your later point about lexical scoping in macros (and the macro selecting `const hello: u32 = 0`), which intuitively does make sense:

[2021-11-28 17:54] hkratz commented on #81890
The cargo test `lto::complicated` has been triggering this a lot lately. And cargo itself prints warnings, because the same .pdb file is written multiple times:
[code]
So I guess _something_ locks the file after it is written so it can't be overwritten shortly thereafter. Can the test be updated not to do this?

[2021-11-28 17:58] RpxdYTX opened #91322 "Dynamic linkage to C library failing because static library wasn't found."
I tried this code:

[code]

my_lib (C code)
[code]

I expected to see this happen: Test passing

Instead, this happened: when the static lib is in the path the external symbols are unresolved (i mean, dllexport exports code in a **_dll_**), when only the dll is in the path, `link.exe` says that it could not find my_lib._**lib**_.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Ba

[2021-11-28 18:31] SNCPlay42 commented on #91322
This is how linking works on Windows; you need to provide a `.lib` file to the linker to link with a DLL.

[Microsoft Documentation](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-creation#creating-an-import-library)

[2021-11-28 18:39] RpxdYTX commented on #91322
Thanks, after seeing that glfw works this way i started doing some real research.

[2021-11-28 18:39] #91322 closed

[2021-11-28 18:43] ajeetdsouza commented on #72110
@guytbk there's a PR to add this option to cargo too: https://github.com/rust-lang/cargo/pull/10088

[2021-11-28 19:10] lefth opened #91326 "fs::rename does not delete the source file if it's a hard-link of the dest file (linux)"
When performing move/rename, the source file should no longer exist after the operation, regardless of its relationship with the destination file (unless they are the same file). I found that this does not happen if the two files are hard linked. I think the sameness check (_are src and dest the same file?_) may have a false positive in this case. I guess the problem is that it's not always trivia

[2021-11-28 19:14] RalfJung commented on #90962
I agree this [is a problem](https://github.com/rust-lang/rust/pull/91325#issuecomment-981135151), but sadly the link seems to just go to the PR (links to collapsed discussions don't seem to work) so I have no idea what this has to do with the UTF8 methods -- could someone explain the connection? Is it just because `align_offset` is indirectly being called there? Or can the UTF8 methods *themselves

[2021-11-28 19:27] camelid commented on #67804
Could this break go-to-definition for platform-specific code though?

[2021-11-28 19:32] WaffleLapkin commented on #90962
@RalfJung I've unresolved the discussion, now the link should be working (it's the first discussion in the PR).

TL;DR: originally in #90607 I've used `const_eval_select` in the methods that check utf8 validity to make them available in `const fn`. `const_eval_select` just replaced call to `align_offset` to `usize::MAX` there, this is valid per the documentation of `align_offset` - it can spurious

[2021-11-28 19:32] jyn514 commented on #67804
It could, yes.

[2021-11-28 19:59] edmorley opened #91328 "Incorrect slicing suggestion for pattern matching against a `Vec` inside a `Result` or `Option`"
When trying to pattern match against a `Vec` inside a `Result` or `Option`, an incorrect suggestion is given, that says to append `[..]` to the variable to slice it, which won't work since the variable is of type `Result` / `Option` rather than being a `Vec` itself.

Instead one option is to use `.as_deref()` on the `Result`:
https://doc.rust-lang.org/std/result/enum.Result.html#method.as_deref

G

[2021-11-28 20:03] RalfJung commented on #90962
Emphasis mine. :) Safe code can easily use align_offset incorrectly. So this is not something we can rely on for safety concerns.

[2021-11-28 20:11] FabianWolff commented on #91326
But the [documentation](https://doc.rust-lang.org/std/fs/fn.rename.html) says that the behavior of `std::fs::rename()` is platform-specific, and that

And the [man page](https://man7.org/linux/man-pages/man2/rename.2.html) for `rename(2)` says that

So it seems that this is the intended behavior.

[2021-11-28 20:13] hkratz commented on #91326
Interestingly enough Macos behaves the same, though it is not documented. It is also not documented as a special case [in the POSIX standard](https://pubs.opengroup.org/onlinepubs/9699919799/functions/rename.html) or for BSD. I think just calling into libc is the right choice here. Doing any magic ourselves will likely break user code in unexpected ways.

[2021-11-28 20:16] #88586 closed

[2021-11-28 20:27] FabianWolff commented on #91326
Actually, I think it is, in the third paragraph of the description:

[2021-11-28 20:29] hkratz commented on #91326
Yeah, missed that because I thought that was only about symbolic links.

[2021-11-28 20:37] lexi-lambda commented on #91249
Yes, it should absolutely compile, as we are *not* defining the same symbol twice! Or, at least, we aren’t defining the same *identifier* twice. In a hygienic system, two definitions can coexist with the same symbolic name as long as they have different identifiers (which goes right back to my comment from above about the difference between “flat” symbols and “rich” identifiers).

If that weren’t

[2021-11-28 20:41] fintelia opened #91333 "Lifetime error missing information about where `'static` bound is coming from"
Given the following code ([Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5619c5d726ba882adf3eeed7d2c9a21c)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(Or some other way of pointing out that line 11 is why the 'static bound is needed).

This is a simplified version of the code from https://github.com/image-rs/i

[2021-11-28 20:57] Badel2 opened #91334 "debug_assert at compiler/rustc_typeck/src/check/generator_interior.rs:542:17"
This debug_assert:

https://github.com/rust-lang/rust/blob/db9d361a4731ca0bb48533fab6297a8fea75696f/compiler/rustc_typeck/src/check/generator_interior.rs#L542

Is triggered by the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):
### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-28 21:07] rope-hmg opened #91335 "Borrower checker mutability ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-28 22:04] BGR360 commented on #91180
@rustbot claim

[2021-11-28 22:13] xfix commented on #91335
Couldn't reproduce with newest nightly, but could be reproduced with nightly-2021-11-24. I assume it's an already fixed issue.

[2021-11-28 22:40] AzureMarker commented on #90662
I noticed that this regression was found in the 1.56 beta crater run:
https://crater-reports.s3.amazonaws.com/beta-1.56-3/index.html

Was it just overlooked at that time?

[2021-11-29 00:07] dylni commented on #77199
@camelid Thanks, I updated the option name. However, I am still not seeing a warning for ``[`&[String]`]``, which was my primary concern. It would be ideal if bracketed text could either be properly linked or give a warning in all cases.

[2021-11-29 00:11] petrochenkov commented on #91249
Of course it has!
The current system was made to fit naturally into the rest of the language, I have hard time imagining how you'd implement the new proposed system (although you probably can, with some extra work and increased complexity).

Hey, I'm pretty sure jseyfried (and reviewers) *did* think about what hygiene means when implementing the logic for multi-segment paths :)
It's just the concl

[2021-11-29 00:19] camelid commented on #77199
I've changed the title since `--display-doctest-warnings` is being removed and is not the right way to expose this anyway.

[2021-11-29 00:23] dylni commented on #77199
That's great. Enabling the warnings by default is much better.

[2021-11-29 00:34] camelid commented on #77199
I see the advantage of enabling them by default, but rustdoc intentionally silently ignores some links to avoid tons of lints being emitted for existing docs.

[2021-11-29 00:46] jyn514 commented on #77199
This is a duplicate of https://github.com/rust-lang/rust/issues/54191.

[2021-11-29 00:46] dylni commented on #77199
Is there a plan to allow requesting stricter behavior when `--display-doctest-warnings` is removed? I read through #73314, but there seems to be some confusion about the many purposes the option serves, which I assume is why it's being removed.

[2021-11-29 00:48] jyn514 commented on #77199
@dylni what do you mean by stricter behavior? If you mean what's in this issue, I don't think it's a good idea for rustdoc to decide whether to resolve a link based on an option; it already does that for --document-private-items and it's pretty confusing IMO. If you mean something else, please open a new issue; I'm ok with adding additional lints but I'm not a fan of additional configuration.

[2021-11-29 00:54] dylni commented on #77199
@jyn514 camelid mentioned

I was wondering if there was a particular replacement planned for the option. In the past, it enabled warnings when intra-doc links failed to resolve, but that part seems to be enabled by default now. I was wondering if there's any additional strictness/warnings that would be lost by removing the option.

I agree. It doesn't matter to me if these links are resolved or fa

[2021-11-29 01:05] lexi-lambda commented on #91249
No, it does not. Note that the example I gave there is a function definition, not a module definition. The [section of the Rust Reference I linked](https://doc.rust-lang.org/reference/paths.html#canonical-paths) is quite unambiguous about this:

It would, in my mind, be quite a departure to say that local definitions inside macro bodies have canonical paths even though local definitions inside fun

[2021-11-29 01:08] camelid commented on #77199
Hmm, I didn't realize the flag used to enable intra-doc warnings. My understanding was that it was always used to show warnings in doctests (i.e., ` ``` ` code examples).

[2021-11-29 01:13] dylni commented on #77199
That was the only reason I mentioned it in this issue. IIRC, at the time this issue was created, not using `--display-warnings` caused no warnings to be displayed.

[2021-11-29 01:15] petrochenkov commented on #91249
Yep, you are right, didn't notice it was a function.
I still disagree that macros are supposed to be *this* close to functions, they are supposed to generate pieces of code inserted into arbitrary places after all, including items available to other modules (nested or not).

[2021-11-29 01:19] jyn514 commented on #77199
That can't be correct. I started working on intra-doc links about 2 months before you opened the issues and they still gave warnings at that time; AFAIK they've never been behind any sort of feature gate.

[2021-11-29 01:20] jyn514 commented on #77199
Anyway, I think this is a distraction. CLI options seem like the wrong model for this and I don't think we should add more; this should be a new lint if we add it at all.

[2021-11-29 01:21] jyn514 commented on #77199
I'm going to close this in favor of https://github.com/rust-lang/rust/issues/54191.

[2021-11-29 01:21] #77199 closed

[2021-11-29 01:23] camelid commented on #91260
@rfcbot concern consistency with rustc
@rfcbot concern churn

My understanding is that the purpose of this proposal is to increase consistency with rustc. However, I would like to ensure that (1) the new behavior is fully consistent with rustc and (2) the churn and potential confusion of having `--output` and `--out-dir` be synonyms is worth it.

For example, rustc prefers `-o` over `--out-dir`; i

[2021-11-29 01:25] jyn514 commented on #54191
@dylni mentioned in https://github.com/rust-lang/rust/issues/77199 that this also applies to things like `[&[String]]`, because of the brackets; it would be nice to warn about those. I know @Manishearth has been concerned in the past about warning too much in case it has false positives - maybe we could make this a new opt-in lint? as a bikeshed `warn(rustdoc::strange_intra_doc_links)` seems ok

[2021-11-29 01:26] dylni commented on #77199
It's entirely possible this is correct, and you would know better than I. That is just what I recall being the reason.

Right, this got a little off-topic.

Thanks for pointing out that issue!

[2021-11-29 01:32] camelid commented on #77199
@dylni Perhaps you're thinking of `--deny warnings`?

[2021-11-29 01:32] jyn514 commented on #91260
I think the better comparison is passing --out-dir twice:
[code]
Recall that in rustdoc, `-o` is a synonym for `--output`.

I'm ok with doing this, but I don't know what inconsistency you're worried about. Can you be in charge of asking T-compiler about this?

I'm not suggesting we remove any existing documentation, only document that `--output` is a synonym for `--out-dir`. See #91310 if you'd li

[2021-11-29 01:49] BGR360 commented on #91180
I looked through the code for a bit, and it's not going to be as trivial a fix as I initially thought. I don't yet know enough to say whether it will require some larger refactor, but here's what I've learned.

The error is occurring at the resolve stage. When `rustc_resolve` visits the trait item and attempts to resolve the `Self::X` path, the only lexical scope it searches through is the whole m

[2021-11-29 02:17] dylni commented on #77199
@camelid After investigating a bit, I think I may have falsely attributed the option with showing intra-doc warnings in addition to doctest warnings. Cached compilation not re-issuing warnings was likely what I was seeing instead. Sorry for the confusion.

[2021-11-29 02:24] ehuss commented on #91315
Do you have a configuration that sets `-C target-cpu=native` or something similar?

Those tests are not normally run on CI since they all use the default cpu, which in this case does not enable SSE4.1.

I have posted https://github.com/rust-lang/stdarch/pull/1261 to fix the error itself.

I'm not sure if we should look into trying to get doctests to work with other CPUs on CI.

[2021-11-29 02:37] ehuss commented on #81890
@hkratz I'm looking into fixing that test (and doing some other collision stuff).

I'm also trying to dig into `LNK1201`. Most of the errors seem to be on tests that build the same crate twice in a row. Unfortunately everything I've tried to reproduce it haven't succeeded.

Just on the off chance we can find someone who wants to help:

@rustbot ping windows

This issue is causing significant troub

[2021-11-29 03:20] ehuss commented on #64245
@jyn514 The rustdoc flags are still unstable, so this is tracking the stabilization of those flags.

[2021-11-29 03:37] lexi-lambda commented on #91249
Yes, that’s fair—and to be honest, after spending most of the past 6 hours thinking about this and trying out various examples… I think I’m wrong! Because sometimes you really do want such names to be kept distinct, like in a macro like this:

[code]

In this case, input to the macro is intermingled with macro-generated definitions inside the `impl` block, and it is valuable for them to remain dis

[2021-11-29 04:01] lefth commented on #91326
Thank you for explaining the rationale. I will work around this in my program, just as many other programs with "rename" functionality must be doing.

[2021-11-29 04:01] #91326 closed

[2021-11-29 04:26] Manishearth commented on #54191
I suspect a thing we can do is unconditionally hit the intra doc resolution path if it has backticks in it, at least. I'd rather not introduce another lint; we should work on improving the diagnostic instead.

[2021-11-29 04:27] ibraheemdev opened #91345 "Tracking Issue for `result_option_inspect`"
Feature gate: `#![feature(result_option_inspect)]`

This is a tracking issue for `Option::inspect` and `Result::{inspect, inspect_err}`.

### Public API

[code]

### Steps / History

- [x] Implementation: #91346
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should there be a more general [`Tap`](https://docs.rs/tap/latest/tap/tap/trait.Tap.html) trait in `std

[2021-11-29 04:39] jsha opened #91347 "rustdoc: Read and Write show up as notable traits on &mut [u16]"
https://rustdoc.crud.net/jsha/fewer-colors/std/primitive.char.html#method.encode_utf16

![image](https://user-images.githubusercontent.com/220205/143809753-3ae4eeae-06ca-4ff4-951d-894e227c15d6.png)

[2021-11-29 04:40] #90924 closed

[2021-11-29 04:57] petrochenkov commented on #91249
The general logic is that the identifier `foo` in `base_path::foo` is "adjusted to the `base_path`" before resolving so paths from macros can refer to any kinds of items from the outer world, like standard library names or whatever.
I don't quite remember the details of this operation though (especially in case of type-relative paths).

[2021-11-29 05:19] not-my-profile commented on #91180
Hey Ben, thanks for looking into this!

I think that such a lookahead / deferral might not be necessary. The way I understand it is that there is currently no way that

[code]

will ever compile. Because `Self` is a reserved keyword: `mod Self {}` fails with "expected identifier, found keyword `Self`"

While other keywords can be used as identifiers by using [raw identifiers](https://doc.rust-lang

[2021-11-29 05:56] BGR360 commented on #91180
This is a good point, and I agree that it's true. However, it doesn't make the problem of deciding what to say in the error message any easier.

Suppose we make the compiler use the following logic: if the inherited trait path starts with `Self::`, then say `expected trait, found associated type`. You'd get the right message for your code example, but you'd get the wrong one for something like thi

[2021-11-29 06:23] not-my-profile commented on #91180
Yes I think that:

is a bad error message because there can be no traits in `Self`. Furthermore saying that you couldn't find something implies that it could exist ... because why else would you be looking for it? The error message makes you think the problem is that something is missing but the actual problem is a fundamental misunderstanding. But you are right that `found associated type` would

[2021-11-29 07:46] #91289 closed

[2021-11-29 08:28] dhardy opened #91348 "GATs: repeating not-locally-required bounds on impls?"
See: #87479

So, I believe #89970 broke my code [kas-text](https://github.com/kas-gui/kas-text/blob/master/src/format.rs) (nightly rustc + `--feature gat`).

This isn't true in *general*, though it may be in specific instances. My code (reduced) exemplifies this perfectly:
[code]
Here, `font_tokens` *may* return an iterator over an instance of `Self`... but it also may not (`&str` does not have an

[2021-11-29 08:48] Nemo157 commented on #54191
Can we check whether it resolved as a markdown link too?

``[`foo.bar()`]`` is creating a link to an undefined reference `` `foo.bar()` ``, so should be warned about as a broken link whether it was intended to be an intra-doc link or not.

[2021-11-29 09:27] rope-hmg commented on #91335
I'll update my compiler tonight and check this then thanks.

[2021-11-29 09:27] dhardy commented on #91348
Okay, I'm wrong that a workaround is needed: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9c22eb9f05bc249d062e794a2f9b49ec

That said, I'm still not convinced the bound should be necessary.

[2021-11-29 10:11] dhardy commented on #91348
Reading through the issue again, I would like to say a couple of things.

First, the error message for missing bound in the trait is clear about what to do (though it would be helpful if it also mentioned why / referenced extra doc), however the same is not true for implementations: here it's less clear what bound is required.

Further, putting a `where Self: 'a` bound on the impl works, but `wher

[2021-11-29 10:52] poliorcetics commented on #91226
We used a workaround that does not change behavior by calling `std::env::vars_os` and simply removing all vars which returned `true` on `key.to_str().is_none() || value.to_str().is_none()` for our process. Doesn't fix the issue for `std::env::args` but a dependency calling it is much less likely and probably a bug/mistake or malicious code (and it is easier to test for).

Calling `to_string_lossy`

[2021-11-29 14:20] jyn514 commented on #54191
@Nemo157 none of these links will ever resolve. `.` and `[]` are not paths and rustdoc doesn't special case them: https://github.com/rust-lang/rust/blob/8b954910c59a7a362c60959e93110892b6e9a691/src/librustdoc/passes/collect_intra_doc_links.rs#L2206-L2234

[2021-11-29 14:20] jyn514 commented on #54191
Oh, you mean as an HTML link. Hmm, maybe? I have to look back over the pulldown API.

[2021-11-29 14:30] Nemo157 commented on #54191
The `[foo]` form does not link to a URL, it references a URL defined elsewhere inside the markdown document using the identifier `foo`. If that identifier is not defined, I think technically it is not a link, it's just the text `[foo]`; but this is a syntax niche that intra-doc-links has already inserted itself into so I think it's fine for us to warn on all [_reference links_](https://spec.common

[2021-11-29 14:47] petrochenkov commented on #91315
@ehuss
Thanks!
Yes, I'm using `-C target-cpu=native` for rustc development.

[2021-11-29 14:47] kdy1 commented on #91128
This also affects [swc][].
There's an issue for this. (https://github.com/swc-project/swc/issues/2872)

[code]

With workaround:

[code]

[swc]: https://github.com/swc-project/swc

[2021-11-29 14:51] petrochenkov commented on #72274
libc has been updated in https://github.com/rust-lang/rust/pull/90681.

[2021-11-29 14:59] hkratz commented on #81890
@ehuss Great! I wrote a little script to grep through the CI logs and of the last 30 failed msvc runs which had LNK1201 in it *all* failed at `lto::complicated`. So fixing this test will solve this for us.

The script for reference (excuse my Python, not a Python native):
[code]

[2021-11-29 15:24] alexcrichton commented on #84223
I've posted a stabilization PR for this at https://github.com/rust-lang/rust/pull/91355

[2021-11-29 15:49] Manishearth commented on #54191
@Nemo157 you misunderstand; we only hit this codepath for _broken_ refs and for actual URLs. If it resolved to a markdown ref the ref title will never be seen here, though the URL passed to the ref title might (if it's sufficiently non-URLlike)

[2021-11-29 15:50] Manishearth commented on #54191
Oh, though I guess we could unconditionally warn on unresolving broken refs (but use the intra doc diagnostic on broken urls)

[2021-11-29 15:50] hkratz commented on #90812
I have a little script which greps through the CI logs for 'SIGSEGV' and there was no new segfault since this one. No idea why it was happening or why it stopped.

[2021-11-29 16:19] RalfJung opened #91357 "const-features can be both stable and unstable at the same time"
Since https://github.com/rust-lang/rust/pull/90896, the `const_maybe_uninit_assume_init` feature is in a strange limbo state: there are both stable and unstable methods with that feature gate. For regular stability we prevent that, but it seems for const-stability that check is missing.

Cc @rust-lang/wg-const-eval

[2021-11-29 16:28] RalfJung commented on #84184
I think it should be valid, but I don't think we have an RFC or a lang-team decision saying that it is valid. So we can't really recommend using it in the docs currently.

[2021-11-29 16:51] tmandry commented on #90937
Discussed in wg-async-foundations triage meeting. It's possible #91032 fixes this; we should add a test for this case if it does.

This doesn't necessarily need to block stabilizing the feature (cc #83310), but it would be really nice if we could fix it.

[2021-11-29 17:29] cuviper commented on #87021
It makes sense to me, but it's more precisely a question for @rust-lang/libs-api.

[2021-11-29 17:53] SNCPlay42 opened #91363 "Inserting a conditional `break` in working code causes strange borrowck error"
This code compiles successfully:

[code]

I tried this version:

[code]

I expected this to compile successfully.

Instead, this happened:

[code]

### Meta

Occurs on stable (1.56) on the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d80ce203d520eb9e52fdd6468c7499ac).

Notably, this [compiles succesfully](https://rust.godbolt.org/z/EnY4rxxsG) with polonius.

[2021-11-29 18:01] jackh726 commented on #91348
Okay, I'll try to respond to points individually, since there a lot here.

While it's not true to say that *every* type for a GAT will need the `Self: 'a` bound to be well-formed, the idea behind the lint is that the required bounds are those that we *know* based on how it's returned from the methods in the trait. Specifically, the idea is that with the required bounds, *any* type assigned to the

[2021-11-29 19:23] wesleywiser commented on #81890
I talked with an engineer internally and they said that LNK1201 most often occurs because some program has a lock on the file. I don't know what the configuration of the GH runners looks like but perhaps Windows Defender (or similar AV/AM software) is scanning the file right after the linker finishes writing it the first time?

Regardless, rust-lang/cargo#10137 looks like the correct approach to r

[2021-11-29 19:27] Type1J commented on #67982
@danieleades Same here.

[2021-11-29 19:36] wesleywiser commented on #67982
There's work ongoing in #90737 to resolve this. Thanks @eholk  and @yoshuawuyts! 🎉

[2021-11-29 19:38] tmandry commented on #91168
This is separate from #90301 which was fixed recently. That was an issue where the output produced by LLVM was nondeterministic for the same LLVM IR. This is an issue where the LLVM IR itself is changing.

[2021-11-29 20:52] FabianWolff commented on #91334
Reduced (in terms of unrelated errors):
[code]

[2021-11-29 21:10] TheBlueMatt opened #91369 "rustc sometimes resolves an ambiguous generic parameter instead of erroring"
Apologies that I don't have a minimum reproduction but I've tried a few ways and thus far failed to reproduce outside of the original crate.

We recently had an error where we were deserializing a dummy object for backwards-compatibility, but the type being read was ambiguous, causing the code to behave unexpectedly. For some reason rustc concretized the object to an `Option<()>` (guessing based o

[2021-11-29 21:15] Badel2 opened #91370 "ICE when a function inside an extern block has a body, and that body has a trait `impl`"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Affected versions: I tried nightly 2021-11-28 and stable 1.56.1 and they both ICE. In stable 1.56.1 the error message is different though, I would say it's better:

[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2021-11-29 22:20] spookyvision opened #91371 "Compiler suggests `[type error]` when encountering placeholder in fn return type"
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0c45a08fa50834678f5ea8ef3b7e6a87):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[this issue](https://github.com/rust-lang/rust/issues/79040) might be related/helpful.

[2021-11-29 22:28] tmandry commented on #87021
wg-async-foundations discussed and we're generally supportive of the idea, but agreed it's the libs API team who owns this.

[2021-11-29 22:45] madsmtm opened #91372 "Linking to private symbols from frameworks between compilation units"
This used to work on Rust `nightly-2021-11-24`:

[code]

`CGDisplayCreateUUIDFromDisplayID` is present in the `ColorSync` framework (on macOS +10.13; on lower versions, in the `CoreGraphics` framework). The `AppKit` framework uses `ColorSync` internally, so the symbol is available through that (I think).

Linking like this worked previously, but since Rust `nightly-2021-11-26` it started failing.

[2021-11-29 22:46] madsmtm commented on #91372
Sorry if the issue is not very well explained, I'm very inexperienced with how linking works

[2021-11-29 22:47] camelid opened #91374 "rustdoc: Source code pages briefly render in bold as page loads"
For example: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_attr/builtin.rs.html#96-99

This happens in macOS Safari. It doesn't seem to occur in Firefox on macOS.

I think this regressed within the last day or two since I would've noticed otherwise.

[2021-11-29 22:50] camelid commented on #91374
While the brief rendering in bold doesn't happen for the std docs—so I assume it's related to go-to-definition—the std docs do have a brief rendering in a different font that doesn't happen on beta, so I think the same issue is present there as well.

[2021-11-29 23:52] madsmtm commented on #91372
This is affecting [`coreaudio`](https://github.com/RustAudio/coreaudio-rs) as well from what I can tell.

[2021-11-29 23:53] SNCPlay42 opened #91377 "Unreachable code is not borrow-checked"
I tried this code:

[code]

I expected this to fail to compile, since I create one immutable and two mutable borrows of an immutable variable that all have to be alive at once.

It's not *unsound* to accept this, since none of it is even codegened, but unreachable code is otherwise held to the same standards as reachable code (must type-check, etc.).

Instead, this code is accepted with only warni

[2021-11-30 00:26] camelid commented on #91377
I'm not sure if this is really a regression since I'm pretty sure it's expected behavior. Borrow-checking is now a flow-based analysis, so unreachable code can't be borrow-checked I think.

You can also use uninitialized variables in unreachable code, since initialization-checking is also a flow-based analysis ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fb

[2021-11-30 00:37] camelid commented on #91260
I think I won't have enough time in the near future to manage discussing this with T-compiler. I don't feel strongly about this change in either direction, but it seems okay, and I don't want to block it since the rest of the team has signed off.

@rfcbot resolve consistency with rustc
@rfcbot resolve churn
@rfcbot reviewed

[2021-11-30 01:00] SNCPlay42 commented on #91377
Is this closely related to the borrowck code? I notice that whether this is accepted also depends on whether the edition+rustc version uses NLL borrowck or not.

[2021-11-30 01:33] ricobbe commented on #91167
That makes sense.  To be honest, I mostly wanted to make sure this issue is documented.  I've got a test case that is currently disabled for unrelated reasons that trips over this bug, so I want to have an issue number that I can put into the comments when I disable the affected functions calls as part of re-enabling the larger test.

[2021-11-30 01:44] inquisitivecrystal commented on #91377
I think this is expected behavior, per [nikomatsakis](https://github.com/rust-lang/rust/issues/80059#issuecomment-780016513). I'm sorry I don't have a more canonical source. It does seem to be implied by the [NLL RFC](https://github.com/rust-lang/rfcs/blob/master/text/2094-nll.md), but that requires a fair bit of reading between the lines.

[2021-11-30 01:45] antonok-edm opened #91378 "Type inference regression on Nightly"
### Code

This minimized code example:

[code]

should compile successfully.

Instead, I get the following 2 compiler errors:

[code]

### Version it worked on

It most recently worked on: Rust 1.57.0 (beta)

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

N/A

</p>
</details>

@rustbot modify labels: +regression-from-stable-to-nightly -regression-untriaged

[2021-11-30 02:12] jsha commented on #91290
I would like to propose we treat this as a reason to render this box using JS. Already this box causes us some HTML non-conformance since we have a div inside a `<summary>`, which can only contain "[Phrasing content or one element of heading content](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary)". Also, it's duplicated a lot on some pages. I know we like to make things work wi

[2021-11-30 02:15] jsha commented on #9461
I propose closing as a duplicate of https://github.com/rust-lang/docs.rs/issues/1438.

[2021-11-30 02:17] jsha commented on #18558
I think this issue has largely resolved itself - doc.rust-lang.org now ranks rather high. For instance, `[rust macro_rules]`, the starting example here, now shows doc.rust-lang.org as the top two results.

[2021-11-30 02:26] Manishearth commented on #91290
I'm fine with that. Perhaps we can try to make this work via HTML-attribute-set events instead of doing a for loop over all the elements and attaching listeners (which we used to do, wasn't great)

[2021-11-30 02:28] jhpratt commented on #91334
@rustbot label +requires-nightly +A-generators +F-generators

[2021-11-30 02:40] inquisitivecrystal commented on #91378
Well, that's interesting. This regression appears to stem from #89167. CC @workingjubilee .

I'd guess the type inference has become ambiguous due to library changes, which is ordinarily allowed. It might be worth improving the error message somehow though.

[2021-11-30 02:42] dalcde opened #91380 "rustdoc ICE when resolving traits"
### Code
`rustdoc` crashes on the following code:

[code]

### Meta
This crashes on both `1.54.0`, `1.56.0` and nightly (2021-11-29)

### Error output

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-30 02:56] antonok-edm commented on #91378
Bizarre :smile:

I assume it must also be related to https://github.com/rust-lang/rust/issues/90904 then.

[2021-11-30 03:26] ehuss commented on #91372
This appears to have regressed via #90499, cc @hkratz.

As a temporary workaround, you can try setting the environment variable `MACOSX_DEPLOYMENT_TARGET` to something like `11.0`.

[2021-11-30 07:32] hkratz commented on #91372
With #90499 Rust sets `MACOSX_DEPLOYMENT_TARGET` to 10.7 for the linker, if not set, to match what we are passing to LLVM. Setting it to 10.8 or above get rids of the linker failure.

I will look into this more.

[2021-11-30 08:06] glandium commented on #90301
So, as far as Firefox is concerned, everything is fixed in the latest betas. I _did_ find a source of non-determinism that is not fixed, but a) it seems to also affects clang (as in, I also have found one in clang, and I think it's the same root cause) b) it goes away with PGO, so it doesn't actually affect Firefox.

[2021-11-30 08:10] hkratz commented on #91372
@madsmtm Can you elaborate on that? Building it locally with `cargo +nightly build --target x86_64-apple-darwin` worked fine for me on an M1.

[2021-11-30 10:17] jagenheim opened #91392 "Crash during compilation"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-30 10:55] dhardy commented on #91348
No, that's a great response, thanks.

So somehow I had trouble putting the bounds on the impl. Given better error messages this wouldn't have been an issue.

The point is simply that it was not initially clear the bounds on the trait are required to cover all possible implementations:

- In the case of (struct) type parameters, impls may have more bounds than the type (and the impl bounds cannot b

[2021-11-30 12:39] SNCPlay42 commented on #91377
Hmm. Actually, in terms of *initialization-checking* the code in my original post, I notice that it is either

1. invalid since there is no control flow path from where `a` is initialized to where the borrows use it, or
2. valid since those borrows that use `a` are never reached

And 2 does seem like the less surprising option.

[2021-11-30 12:41] inquisitivecrystal commented on #91378
@antonok-edm: we should probably close this in favor of #90904. Do you want to post your code sample there? It's shorter and easier to parse than the one that's there now.

[2021-11-30 13:52] mbartlett21 commented on #91392
Are you able to get the source for your `post_question` function?

[2021-11-30 14:05] mbartlett21 commented on #91292
@Yuri6037

The lifetime can simply be propagated to the inner struct:
[code]

[2021-11-30 14:08] jagenheim commented on #91392
[code]

The line which is causing the crash is:
[code]
as it should not be questions:: in there...

I admittedly have very vague ideas on how diesel pulls in stuff from the database tables, so not sure what the type of question and the questions::question is...

[2021-11-30 14:58] sunfishcode commented on #90964
If it's important for users to be aware that a Windows program with no console attached has no `stdout` handle, and to surface this at the earliest origin of the problem, it seems like it isn't enough to make `std::io::stdout().try_as_handle()` report an error; what we'd really want is to make `std::io::stdout()` itself report an error. It seems difficult to promote a new mental model, when Rust i

[2021-11-30 16:15] ChrisDenton commented on #90964
I would definitely be in favour of this.

Sure. If we were redesigning the high level stdio API that is something I'd be likely to argue for. But I don't think that's on the table.

And to be fair that's perfectly fine for a high level API. It's free to hide the internal implementation details as much as it wants so long as it presents a consistent interface. The trouble is that people want to get

[2021-11-30 17:30] sunfishcode commented on #90964
What if we were to say that NULL, at this level of abstraction, is a normal valid handle, and not a sentry. It's just a valid handle to a device that just happens to fail on any I/O operation. It does happen to alias a sentry value used in some Windows APIs, but that's similar to how the process handle aliases the `INVALID_HANDLE_VALUE` sentry used in other Windows APIs. It's weird, but it's how W

[2021-11-30 18:15] jyn514 commented on #91380
@BoxyUwU @lcnr do one of you happen to know what's going on here?

[2021-11-30 18:23] jyn514 commented on #91380
Slightly smaller:
[code]

[2021-11-30 18:25] tuxmark5 opened #91395 "'static lifetime ignored when applied to GAT"
I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9d6bf566b87dfd31acf4049377f34912):
[code]

I expected this code to compile, but it doesn't. rustc suggests this:
[code]

But such bound already exists and does seemingly nothing.

### Meta
`rustc --version --verbose`:
[code]

[2021-11-30 18:35] joshtriplett commented on #91161
We discussed this in today's @rust-lang/lang meeting, and we agree that this is a bug.

We should fix this if possible. We'll need a crater run to confirm that this won't break things.

[2021-11-30 18:37] gmacon opened #91396 "Provide pointer to escaped reference"
This is a simplified version of the question reported at ebfull/pcap#193. The compiler error message didn't point the reporter to the bug in their code. `pcap`'s API make the problem worse because `Capture::next` doesn't directly return a reference, it returns a struct containing a reference, so it's not obvious from the function signature (`fn next(&mut self) -> Result<Packet>`) that a borrow is

[2021-11-30 18:39] scottmcm commented on #91161
And a clarification from the meeting:

This should error in the *downstream* crate, saying something along the lines of "enums with `#[non_exhaustive]` variants cannot be `as` cast".

I don't know how hard this is; hopefully it should be relatively straight-forward following all the other `non_exhaustive` logic.

[2021-11-30 18:50] nikomatsakis commented on #60553
Cross-posting from #89234:

There have been a lot of PRs and questions concerning corner cases related to this RFC, for example:

* when one is allowed to use `as`
* when one is allowed to use a custom repr
* when one is allowed to NOT use a custom repr

We in @rust-lang/lang meeting would love it if we could review a single write-up that covers a complete design, approve it, and then land PRs tha

[2021-11-30 18:53] jyn514 commented on #90323
Hi @Milo123459, have you had time to work on this? Feel free to ask here or [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc) if you need help :)

[2021-11-30 18:54] jyn514 commented on #90309
This was added in #90487; thanks @NoraCodes !

[2021-11-30 18:54] #90309 closed

[2021-11-30 18:57] Milo123459 commented on #90323
I have worked on it pretty actively. The amount of borrowing errors is.. indescribably large.

[2021-11-30 19:03] TheBlueMatt opened #91398 "doctests reject extra semicolons as of nightly-2021-11-21 (and beta)"
The following fails to compile in doctests as Rust 2015 on Beta and latest nightly, but passes doctests fine on stable:

[code]

Probably related to #91014, #91026, and #91134.

[2021-11-30 19:27] yaahc opened #91399 "Tracking Issue for `float_next_up_down`"
Feature gate: `#![feature(float_next_up_down)]`

This is a tracking issue for two argumentless methods to f32/f64, next_up and next_down. These functions are specified in the IEEE 754 standard, and provide the capability to enumerate floating point values in order.

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/100578
- [ ] Final comment

[2021-11-30 19:42] jyn514 commented on #90323
@Milo123459 let me see if I can help with that at all :) I pinged you on https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/.26mut.20Context so we can talk with less delay.

[2021-11-30 19:42] Milo123459 commented on #90323
Fantastic!

[2021-11-30 19:49] lcnr commented on #91380
uh.. that seems weird

https://github.com/rust-lang/rust/blob/207c80f105282245d93024c95ac408c622f70114/compiler/rustc_trait_selection/src/traits/auto_trait.rs#L764-L774

cc @nikomatsakis @jackh726

so the obligation is `Obligation(predicate=Binder(ProjectionPredicate(ProjectionTy { substs: [CC2], item_def_id: DefId(0:7 ~ dep[b688]::ChainComplex::Module) }, _), []), depth=2)` with param env

[code]

[2021-11-30 19:51] yaahc commented on #86941
@m-ou-se does this comment resolve your concern?

[2021-11-30 19:54] jyn514 commented on #91398
@TheBlueMatt I don't think this is a bug, that's invalid code. Rustdoc just didn't happen to catch it before.
[code]

[2021-11-30 19:55] jyn514 commented on #91398
If you move it inside a function, the test correctly passes.
[code]

[2021-11-30 20:03] jyn514 opened #91400 "rustdoc: "Methods from Deref" appears inconsistently"
I tried this code:

[code]

I expected to see this happen: Rustdoc generates a "Methods from Deref" section, the way it does if the struct derefs to Path:
![image](https://user-images.githubusercontent.com/23638587/144119374-124a645f-aed6-4ecf-826b-acedea7fad77.png)

Instead, this happened: Rustdoc doesn't generate the section:
![image](https://user-images.githubusercontent.com/23638587/144119424-

[2021-11-30 20:04] jyn514 commented on #91400
I thought originally this was related to `Baz` being in the current crate, but I moved it to an inner crate and that still didn't generate the right section.

[2021-11-30 20:05] jyn514 commented on #81633
I continue to be stymied in investigating this :facepalm: https://github.com/rust-lang/rust/issues/91400

[2021-11-30 20:09] jyn514 commented on #91400
Relevant code: https://github.com/rust-lang/rust/blob/207c80f105282245d93024c95ac408c622f70114/src/librustdoc/html/render/mod.rs#L1035-L1076

[2021-11-30 20:10] yaahc commented on #86941
I'm going to mark the current discussion as a concern since this doesn't seem resolved currently but otherwise approving the FCP

@rfcbot reviewed
@rfcbot concern to split `pauth` or not to split `pauth`

[2021-11-30 20:14] jyn514 commented on #91204
FWIW I'm pretty sure intra-docs won't help with this, it assumes there's only of function of that name per item :upside_down_face:

[2021-11-30 20:15] jyn514 commented on #91204
See also https://github.com/rust-lang/rust/issues/80896

[2021-11-30 20:21] madsmtm commented on #91372
I can confirm that using `MACOSX_DEPLOYMENT_TARGET=10.8` gets rid of the linker failure in `winit`.
For `coreaudio`, `MACOSX_DEPLOYMENT_TARGET=10.11` is required.

You need to build a binary, so that the linker is actually invoked. Try building an example (e.g. `cargo +nightly build --target x86_64-apple-darwin --example feedback`).

[2021-11-30 20:22] Yuri6037 commented on #91292
Why would I want to restrict my dyn trait to a specific lifetime; it shouldn't be.

[2021-11-30 20:25] FranchuFranchu commented on #90682
I experienced the same ICE after writing [https://github.com/FranchuFranchu/rust-0bsd-riscv-kernel/commit/908e047c5db73ff23b8d6f2e8b9626ae2f4fb2c3](this commit). The last file I had worked on was `src/trap_future_executor.rs` and some changes in `src/syscall.rs`. However, I don't use `-Zshare-generics`. I do however use a large amount of unstable features so that might be the main risk factor in m

[2021-11-30 20:27] jyn514 commented on #90068
@camelid they do behave like other re-exports:
![image](https://user-images.githubusercontent.com/23638587/144122738-a228f4d2-8f30-41cb-b66c-07451bf94645.png)
Inlining doesn't happen because they're defined in the same crate; by default items are only inlined if the definition is private or in another crate.

I'm not sure what the bug here is?

[2021-11-30 20:42] TheBlueMatt commented on #91398
Oh, duh, yes, you're totally right, I just saw a compile failure on new rustc and not old rustc and immediately assumed it was a rustc bug. Indeed, this is our bug, thanks.

[2021-11-30 20:42] #91398 closed

[2021-11-30 20:50] jyn514 opened #91401 "ICE while bootstrapping stage0 rustc with incremental"
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-11-30 20:54] Nilstrieb opened #91402 "rustc suggests `Box<Option<T>>`, but could specialize to suggest `Option<Box<T>>` instead"
Given the following code: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=362a02b4692f3d53218ca4454e704e69)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This allows rustc to use the nullpointer niche optimization, and is also easier to handle, and what the user probably wants in general.

[2021-11-30 21:00] camelid commented on #90068
Hmm, perhaps I forgot that inlining doesn't happen unconditionally.

[2021-11-30 21:00] #90068 closed

[2021-11-30 21:04] GuillaumeGomez commented on #91400
This is surprising. I'll take a look tomorrow.

[2021-11-30 21:09] camelid commented on #91304
@jsha Since you figured out a way to fix this regression, do you want to assign yourself and open a PR with the fix?

[2021-11-30 21:39] mbartlett21 commented on #91292
It isn't restricting the data behind the `Box`. What it is doing is lessening the requirements from `'static` to `'a`. Without an annotated lifetime in `Box`, Rust assumes you meant `'static`, which unnecessarily restricts the allowed types.

With it, you can now use borrowed data in your `dyn SectionData + 'a`.

E.g:
[code]

[2021-11-30 21:46] cjgillot commented on #90682
`-Zshare-generics` is very probably a red herring. This looks like a regular (so to speak) incremental compilation bug. Changing the value of `share-generics` triggered a compilation with a clean incr. comp. cache.

[2021-11-30 22:08] sunfishcode commented on #90964
Ok, I've now done some experiments with this. `DuplicateHandle` does not work on NULL, though that can be worked around by just special-casing NULL around calls to `DuplicateHandle`. The bigger problem is that `CreateProcessW` fails with `ERROR_FILE_NOT_FOUND` if `hStdInput`/`hStdOutput`/`hStdErrror` are NULL. I don't know of a reasonable way to fix that. So I don't know of a reasonable way to mak

[2021-11-30 22:27] antonok-edm commented on #91378
@inquisitivecrystal sure, that makes sense!

[2021-11-30 22:27] #91378 closed

[2021-11-30 22:29] antonok-edm commented on #90904
Cross-posting another minimal example from #91378, which was bisected to #89167 as well.

This minimized code example:

[code]

should compile successfully.

Instead, I get the following 2 compiler errors:

[code]

[2021-11-30 22:34] edward-shen commented on #86035
I can verify that this problem still exists on 1.56.1 and 1.59.0, where I also ran into this via the `tracing` ecosystem, this time with this one-liner and `tracing-subscriber`:

[code]

[2021-11-30 22:54] Yuri6037 commented on #91292
I think you misunderstood my point with SectionEntry. SectionEntry cannot have a lifetime as it's what's stored in a container and passing the lifetime to the container itself is just increasing complexity of the API and has no benefit because the underlying trait in all cases will always be created in a Box not a lifetime based box.

[2021-11-30 23:19] Amanieu commented on #86941
Regarding `pauth`, there is a pull request to split them for feature detection in stdarch (https://github.com/rust-lang/stdarch/pull/1259) but this is still missing support in rustc for `cfg(target_feature)` and `#[target_feature(enable)]`.

[2021-11-30 23:30] fangism commented on #91168
I'm still working on reducing a test case but wanted to add one more observation:

There has been an observable chance that running the same command twice *does* produce the same result, so it may take multiple attempts to see a difference.  What these means for automatic reduction tools like creduce/delta is that it may encounter false-negatives that discard a reduction candidate.  For example, I

[2021-11-30 23:35] mbartlett21 commented on #91292
With a limited lifetime, *everything*\* above it has to have a lifetime or generic. E.g: If your container is a `Vec`, it can be `Vec<SectionEntry<'a>>`. The reason lifetimes cannot be 'forgotten' is that it could potentially be unsound.

\* Allocators are different the user keeps track of types, not the allocator.

[2021-12-01 00:11] xd009642 opened #91409 "Linking issue with -Zno-profiler-runtime for thumbv7em-none-eabihf"
Nightly version: cargo 1.58.0-nightly (7f08ace4f 2021-11-24)

So I'm utilising [minicov](https://github.com/Amanieu/minicov) by @Amanieu to attempt to create a PoC of coverage instrumentation of a bare metal target with Rust. And it seems something odd is happening at link time with thumbv7em-non-eabihf. For reference I implemented a basic version working on x86_64-unknown-linux-gnu using no std A

[2021-12-01 00:18] cynecx commented on #70263
Another test case I think is related to this:

[code]

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d1b59bc80a43507e6f5eea622ff978cc)

This pattern comes up quite often in async programming. This is quite annoying because I can't think of a workaround that doesn't destroy ergonomics because of the closure avoidance.

[2021-12-01 00:43] Amanieu commented on #91409
The only place where `no-profiler-runtime` is used in rustc is here:
https://github.com/rust-lang/rust/blob/68568dcb8ff49a3d70f4cc2d9215b5753d088738/compiler/rustc_metadata/src/creader.rs#L776

Literally all it does it prevent the `profiler-builtins` crate from being linked in as a dependency.

I think what is more likely is that your use of RUSTFLAGS is interfering with whatever tools you are usi

[2021-12-01 00:55] compiler-errors commented on #86035
I've written up fix of this in several parts. Let me put up a PR.

@rustbot claim

[2021-12-01 01:01] joelswenddal commented on #86929
This resolved it for me as well, moving to wsl 1 on Windows PC. Thanks!

[2021-12-01 02:51] ehuss commented on #60553
Sorry for the confusion and derailing this for a corner case. I can try to summarize with `arbitrary_enum_discriminant` as of 2021-11-30.

Currently, on stable, the following is allowed:

[code]

The `arbitrary_enum_discriminant` feature extends to allow the following cases:

[code]

The concern was the difference between the `Fieldless` case and the `FieldlessExplicit` one.

If you add explicit d

[2021-12-01 03:22] jhpratt commented on #83163
This should be blocked on const mut refs, I believe.

[2021-12-01 03:51] cormacrelf commented on #91372
I can clarify this a little more: If you were building a Rust program for an Apple platform that linked to APIs with availability somewhere between 10.7+ and 12.0+, and you weren't setting your own deployment target, #90499 has revealed a bug in your build process. Your binaries were only ever going to run on recent OS releases, but you would have been unaware without testing.

For coreaudio, if i

[2021-12-01 04:38] compiler-errors commented on #91211
So I've hit some complications here.

1. Am I able to resolve a path in `rustc_typeck`? We have constraints of the form `T : A::B::C` and in order to suggest replacing `:` with `::`, we need to be able to verify that `T::A::B::C` is a valid path. I don't know if we have that kind of information in `check_generic_arg_count` or the rest of astconv.
2. Some lowering shenanigans are going on somewhere

[2021-12-01 04:43] ketsuban opened #91415 "#[cfg] guards seem to have no effect on asm!"
I tried this code:

[code]

I expected the assembly to be ignored when running `cargo test`, but instead I get errors (it's ARM assembly and I'm running `cargo test` on x86_64) indicating that it's still being processed.

I tried putting my code in naked functions instead but the same thing happened.

[2021-12-01 05:27] hi-rustin commented on #91309
@rustbot claim

[2021-12-01 05:40] compiler-errors commented on #91402
Gave this a shot in the attached PR, so

@rustbot claim

[2021-12-01 05:52] #90610 closed

[2021-12-01 05:52] #91347 closed

[2021-12-01 06:01] Fuuzetsu commented on #90301
@glandium is there a ticket about this one somewhere? It's great that it doesn't impact Firefox but it may be impacting other rust software

[2021-12-01 06:25] scottmcm commented on #91004
Perhaps it could help to elaborate on the "confusion", rather than reference smart pointers.

For example, it could discuss how any method you add to something which implements `Deref` is a potential shadowing risk for something on the target.  (And thus why `MaybeUninit` -- which doesn't `Deref` -- has a *method* `assume_init_drop`, but `ManuallyDrop` -- which does `Deref` -- has an associated fu

[2021-12-01 06:27] hkmatsumoto commented on #91371
@rustbot claim

[2021-12-01 06:46] Nilstrieb commented on #91020
@rustbot release-assignment

[2021-12-01 06:47] Nilstrieb commented on #91020
I don't have enough time for that right now, someone else can do it

But some infos I was able to find:

For the call with no params, that error comes from `rustc_resolve`, since `bar()` is successfully parsed as a  `Type`.

The second case gets rejected in the parser, because it's not a valid `Type`.

[2021-12-01 08:15] Yuri6037 commented on #91292
Yeah I know and that's the problem, restricting dyn traits to have always generic lifetimes in my case renders them completely useless.

The original problem here is that if the return type of the function is explicitly `dyn SectionData + 'static` option map works but if not it fails whereas in the immutable case it works. It's disturbing to see this inconsistency.

[2021-12-01 08:28] Yuri6037 commented on #91302
If this proposition allows to do
[code]
and use that type everywhere instead of typing the full type always, I'm in favor of that as it's indeed not always clear that it defaults to `'static` and the proof is it doesn't do this for the example in #91292: if the `'static` lifetime isn't explicitly written as part of the return type, the compiler infers a different lifetime which fails to compile.

[2021-12-01 08:57] asquared31415 commented on #91415
This does not seem to be an issue in the latest nightly (2021-11-30 207c80f10) as demonstrated on [the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c2f420bb1f19fdb9b6298d7cbd818588)

[2021-12-01 08:57] xd009642 commented on #91409
Ah okay my fault then, I'll dig in using this then. Thanks :+1:

[2021-12-01 08:57] #91409 closed

[2021-12-01 09:29] hkratz commented on #91372
Hmm, this change had more impact than I thought.

[(Open-source) clang does a dance](https://github.com/llvm/llvm-project/blob/40d5eeac6cd89a2360c3ba997cbaa816abca828c/clang/lib/Driver/ToolChains/Darwin.cpp) to determine which minimum Macos version to target by looking at the various command line options and environment variables that have accumulated over the years. If nothing is specified, it ap

[2021-12-01 09:47] wangrunji0408 opened #91417 "`Instant + Duration` produce wrong result on aarch64-apple-darwin"
I tried this code on M1 macOS:

[code]

It's expected to succeed.

Instead, this happened:
[code]

It seems that there is something wrong with the `Duration -> Instant` casting in Rust std:
https://github.com/rust-lang/rust/blob/1d6f24210c4a8f46f9781a56f819a383e590cccf/library/std/src/sys/unix/time.rs#L227-L232

This problem does not exist on x86_64-apple-darwin, because `info.denom = info.numer =

[2021-12-01 10:03] GuillaumeGomez commented on #91400
This is the expected behaviour because they are not methods (they don't have a `self` argument). We call the function to check it [here](https://github.com/rust-lang/rust/blob/2446a215954a99f9d33019fad7d415ef9c083502/src/librustdoc/html/render/mod.rs#L1347) and the function itself is [here](https://github.com/rust-lang/rust/blob/2446a215954a99f9d33019fad7d415ef9c083502/src/librustdoc/html/render/m

[2021-12-01 10:03] #91400 closed

[2021-12-01 10:31] GuillaumeGomez commented on #91290
I had in mind to add a `onclick` callback (can be `onhover` too, we can discuss it on the PR I guess). Having loops is useful to generate new content, but I don't think it's a good fit to create new events. Or we can simply have a global "onclick" handler and if the target is the `i` element, we show it. Might be even simpler and would require much less new adds.

[2021-12-01 10:59] GuillaumeGomez commented on #91290
Thinking about what you said @jsha about duplication: do you mean having like an array objects for notable traits on each HTML page and the `i` button refers to the index into that array? Then in rustdoc, we would have a `BTreeMap` (to keep the insert order) and we would add it into it and get its index. I think I just answered my question. :laughing: For now I'll keep the HTML as is when generati

[2021-12-01 11:42] hkratz commented on #91417
@rustbot label +T-lib +O-macos +O-arm

[2021-12-01 11:57] bobi6666 opened #91419 "bug reports output that was created after command cargo clippy --fix --allow-dirty"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[code]

[2021-12-01 12:13] hellow554 commented on #91419
Can you please format your code correctly and fill in the fields in the issue template?

[2021-12-01 12:56] #91028 closed

[2021-12-01 13:05] csmoe commented on #91417
Seems related to the time resolution difference on Apple M1, cc https://eclecticlight.co/2020/09/08/changing-the-clock-in-apple-silicon-macs/

[2021-12-01 13:21] leonardo-m opened #91420 "[ER] Warn against impls that don't need to take mutable &self"
The Rust compiler gives a very useful warning for variables that don't need to be mutable. This is more than just tidyness, such little things could sometimes reveal a bug nearby:

[code]

So I'd like rustc to give a similar warning for impls:

[code]

Here I'd like rustc to give two warnings here, that explain that both bar() and spam() don't need to take self as mutable.

Currently to solve this

[2021-12-01 14:08] madsmtm commented on #91372
Actually, that makes a lot of sense, thanks! I fully agree that it's better to catch these issues when developing (instead of later, when users complain that the application doesn't work on their older system)!

I've opened https://github.com/rust-windowing/winit/pull/2078 to fix the linking in `winit`, and https://github.com/RustAudio/coreaudio-sys/pull/49 would fix the linking in `coreaudio`.

[2021-12-01 14:33] lcnr opened #91421 "Poor diagnostic when using an if expression with missing half of binary operator"
Given the following code:

[code]

The current output is:

[code]
Ideally the output would refer to either the `&&` or at least that there is an unexpected else or something :thinking:

[2021-12-01 14:48] yoshuawuyts commented on #89379
Seconding this. I'm trying to collect an iterator into an array, for which I'd like to write:

[code]

But because `try_from_fn` is hard-coded to return a `Result`, this does not work. Having an `R: Try` bound would solve this issue.

[2021-12-01 15:00] hanabi1224 opened #91422 "Tracking Issue for mul_add being absent from std::simd::Simd"
Feature gate: `#![feature(portable_simd )]`

[mul_add](https://rust-lang.github.io/portable-simd/core_simd/simd/struct.Simd.html#method.mul_add) presents under core_simd::Simd in [rust-lang/portable-simd](https://github.com/rust-lang/portable-simd) but is missing from [std::simd::Simd](https://doc.rust-lang.org/nightly/std/simd/struct.Simd.html)

Below code ([playground](https://play.rust-lang.org

[2021-12-01 15:22] NieDzejkob opened #91423 "Type inference around Iterator::collect can result in confusing error messages"
Given the following code:

[code]

The current output is:

[code]

I am not sure what the ideal output would be here, but currently it suggests that `collect` wants to build an array of a specific size, which hasn't been specified.

[2021-12-01 15:34] gThorondorsen commented on #82775
<details><summary>@drahnr in <a href="https://github.com/rust-lang/rust/issues/82775#issuecomment-804807877">#82775 (comment)</a></summary>

</details>

Your example can be rewritten to a match guard that always returns true except when it panics, like this.
[code]
Definitely non-obvious when you don't know about it, but hardly worse to write if you are adding to an existing test suite with the pa

[2021-12-01 15:54] wesleywiser commented on #85461
I'm still looking into this but I have managed to construct a minimal (I believe) repro:

[code]

[code]

[code]

[code]

Which, with the appropriate flags, will then trigger the link error:

There's quite a lot of dead code in the "minimal" repro but removing any of it or even moving it around causes the error to go away. We need basically this exact structure to get the codegen units to be place

[2021-12-01 16:07] drahnr commented on #82775
Re-reading the comments, I fully support the current impl and withdraw my previous concerns.

[2021-12-01 16:15] jyn514 commented on #81633
Ok, I managed to mostly reproduce this without using types from the standard library - this has different bugs but there are still bugs.

[code]

That has the following output when run with rustdoc:
[code]
and with rustc:
[code]

[2021-12-01 16:18] jyn514 commented on #81633
Oh, and Deref isn't related, you get the same issues without it:
[code]

[2021-12-01 16:18] richkadel commented on #85461
Thank you! Having a reproducible example like this is still very helpful.

It's not a stretch to assume the trigger relates to the CGU-specific logic in https://github.com/rust-lang/rust/blob/0c57fab5fcd19244df6fa946bb504ce0601b29d1/compiler/rustc_codegen_llvm/src/coverageinfo/mapgen.rs#L279

My educated guess (still a guess though) is that we're trying to `define_unused-fn` for the same unused `d

[2021-12-01 16:22] richkadel commented on #85461
It might also be worth logging the `def_id`s in that `define_unused_fn` call on line 374, maybe along with identifying the CGU, to confirm that more than one CGU is trying to define the same `def_id` (unless you already know this to be the case).

[2021-12-01 16:36] #85103 closed

[2021-12-01 16:36] #91231 closed

[2021-12-01 16:36] #59324 closed

[2021-12-01 16:36] #67684 closed

[2021-12-01 16:36] #69398 closed

[2021-12-01 16:36] #71113 closed

[2021-12-01 16:36] #82079 closed

[2021-12-01 16:36] #88856 closed

[2021-12-01 16:36] #91234 closed

[2021-12-01 16:42] richkadel commented on #85461
@wesleywiser - What is the filename for the last chunk of rust code? It doesn't appear to be referenced from any of the other files, unless I'm missing something. I wonder why it gets pulled into the compilation?

[2021-12-01 16:49] wesleywiser commented on #85461
@richkadel Woops, sorry about that! I've updated the comment to include the file name. It's pulled in by the `mod memmem;` statement in `src/lib.rs`.

Codegen on Linux does use multiple cgus (especially when `-Cincremental` is passed). At least from my tests, `-Ccodegen-units=16` is the minimum number of CGUs required to trigger this.

I haven't had any issue reproducing with this source (ie, it's

[2021-12-01 17:14] jyn514 commented on #81633
This is the code that's incorrectly resolving `str!`: https://github.com/rust-lang/rust/blob/f04a2f4b8e89eac1119061ea2055d33c97e618b4/src/librustdoc/passes/collect_intra_doc_links.rs#L413-L415

That was first added in https://github.com/rust-lang/rust/pull/47046, specifically https://github.com/rust-lang/rust/commit/00ce770e348a4d00985b8872fc4874480115f621. There are two other macro lookups in tha

[2021-12-01 17:15] jyn514 commented on #81633
Tried this and I'm not seeing any test failures :)

[2021-12-01 17:18] jsha commented on #91290
What was the not-great part? Performance? We currently have a loop over all `<a>` to set a handler, and another loop for all the toggles. I haven't noticed a performance impact but I also haven't profiled it. I'd like to avoid setting handlers in HTML attributes if we can.

I meant that often a single type is returned from many different methods, but the contents of the "Notable Traits" box are th

[2021-12-01 17:19] GuillaumeGomez commented on #91290
Ok! My current work is click-based but since it's JS, it's pretty easy to change.

[2021-12-01 17:25] mamins1376 commented on #91234
@b-naber Thank you!

[2021-12-01 17:31] richkadel commented on #85461
FYI, I just compiled this on my Linux machine, using `-Ccodegen-units=16`, and I added a debug message. It does indeed appear to define the same `def_id` from different CGUs, but it links successfully.

This log is printed twice, with two different cgu names:

[code]

[2021-12-01 17:32] scottmcm commented on #89379
@yoshuawuyts I think my PR handles that scenario: https://github.com/rust-lang/rust/pull/91286/files#diff-534d866e6adad8a1f7577c2f1b3eed0b05d5f001c0d5032ac226393736940381R78-R82

[2021-12-01 17:35] richkadel commented on #85461
(In case you'd like to try the same, I added this line right before the call to `define_unused_fn(...)`:

[code]

[2021-12-01 18:03] Manishearth commented on #91290
I don't think we should need a global array, we should still have the element be nearby in a way that's easy to find via js

[2021-12-01 18:09] grahac commented on #86658
FYI - I noticed I needed to specify the specific target for M1  in my .cargo/config file.  So something like this:

 [target.aarch64-apple-darwin]
      rustflags = [
          "-C", "link-arg=-undefined",
          "-C", "link-arg=dynamic_lookup",
      ]

[2021-12-01 18:15] Mark-Simulacrum commented on #90904
I'm not sure that this requires-nightly: the trait impls that affect inference are likely going to cause the same pain regardless of whether you're on nightly. The examples above also don't have any feature gates.

So I'm going to drop that label temporarily, but feel free to re-add it if we have evidence this *does* require nightly. In that case, it's probably not (yet) a regression and will only

[2021-12-01 18:30] ChrisDenton commented on #90964
I'm not sure I agree with your reasoning. `NULL` is a successful result, and expected in some circumstances, but it means there's no handle not that the handle is valid:

And indeed the `NULL` is not a valid handle value in any context.

In the standard library, stdio is the special case here. Other types, such as `File` or `JoinHandle`, will always produce a valid handle. It seems weird to me to

[2021-12-01 18:36] GuillaumeGomez commented on #91290
It has a few advantages: no more duplicates and one file for a crate. The only thing I store in the DOM is the position in the array.

[2021-12-01 18:44] Manishearth commented on #91290
So we should definitely not have a single global onclick handler that handles dispatch.

Here's what I think we should do:

 - we continue generating the notable trait HTML as we do today
 - the notable trait icon gets an `onclick="toggleNotable()"` attribute. No other changes to the HTML
 - hover and positioning CSS goes away
 - `toggleNotable()` is able to look for the relevant notable dialog bo

[2021-12-01 18:44] nickdavies opened #91428 "std::process::Command::spawn could benefit from [must_use]"
I was writing some code that used `Command::new` for 3 commands that I wanted to run in a row and I accidentally copy/pasted code that used `spawn` instead of say `output` so my code silently kicked off all 3 commands at the same time and didn't wait for them to exit.

I feel like most cases that you call `spawn` you probably should use the return value for that so having `must_use` on either `std

[2021-12-01 18:44] workingjubilee commented on #90904
Fair enough. Perhaps I misjudged it, then.

[2021-12-01 18:53] richkadel commented on #85461
Here's another (surprising? to me anyway) clue:

I added a debug log here:

[code]

And two CGU's (`4e9rgm7ajlxolwev` shown below and a different CGU) printed identical results:

[code]

Doesn't this mean that the two CGUs are redundantly generating code for the same 5 functions (6 including the undefined function coverage is adding)? Is there something about the symbols generated for the "used" f

[2021-12-01 18:58] Lucretiel opened #91429 "Subslicing a slice in a `for` loop should show a hint about borrowing the subslice"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

As above, but includes a hint that an `&` or `&mut` will make this code compile and is probably what the user intended, especially if the receiver type for the index operator is a slice or mut slice type.

[2021-12-01 18:58] jsha commented on #91290
Agree.

This doesn't address the issue I raised earlier:

One of the impacts of that issue is that `tidy` rejects our output, which is a blocker for having programmatic validation of our HTML.

It also doesn't save us any page size.

That said, I realize I'm violating the same principle I raised earlier, of refactoring one thing at a time. :-) So if we want to move the HTML generation as a separat

[2021-12-01 19:15] compiler-errors commented on #91423
I've got a draft PR to improve [`rustc_on_unimplemented`](https://doc.bccnsoft.com/docs/rust-1.36.0-docs-html/unstable-book/language-features/on-unimplemented.html) to make a diagnostic here more useful. I'll put it up later tonight.

@rustbot claim

[2021-12-01 19:19] Manishearth commented on #91290
Yeah we can tweak the generation slightly to make it a sibling instead of a child

Regarding onclick; I meant mouseover (and whatever needed to make taps work(. What's the CSP interaction? Does it prevent us from using any attributes for events?

[2021-12-01 19:29] compiler-errors commented on #91429
This seems to suggest adding `&` or `&mut` on nightly:

[code]

[2021-12-01 19:51] goetsche101 opened #91432 "uhh? good luck?"
use std::env; // to get arugments passed to the program
use std::thread;
use std::sync::Arc;
use std::sync::Mutex;

/*
* Print the number of partitions and the size of each partition
* @param vs A vector of vectors
*/
fn print_partition_info(vs: &Vec<Vec<usize>>){
    println!("Number of partitions = {}", vs.len());
    for i in 0..vs.len(){
        println!("\tsize of partition {} = {}", i, vs[i]

[2021-12-01 19:57] jsha commented on #91290
Pretty much, yeah. See https://csp.withgoogle.com/docs/adopting-csp.html. You can allow them with `unsafe-inline` but that eliminates the main point of CSP.

[2021-12-01 19:58] Stargateur commented on #75027
Is compile time check of N == 0 a real problem ? I expect LLVM to remove this check for free. The only thing I could think of is we consider it's breaking change to add the compile time check in the future but I hardly can imagine break someone workflow with that, cause it's a hard panic anyway, user code would be considered totally bogus ?

[2021-12-01 20:19] leonardo-m commented on #75027
That's beside the point. The point is spotting at compile-time some wrong code.

[2021-12-01 20:19] Badel2 opened #91434 "thread 'rustc' panicked at 'f64 failed to parse `9E`: ParseFloatError { kind: Invalid }'"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting a malformed float error, so low priority. Note that slight modifications of the input fix the panic. For example using `0` instead of `h` results in no panic. Also there is no panic if com

[2021-12-01 20:20] joshtriplett commented on #87021
We discussed this in today's @rust-lang/libs-api meeting. We're in favor of adding these methods, as inverses of `RawWaker::new`. Please feel free to send a PR and we'll r+ it.

[2021-12-01 20:27] eddyb commented on #90904
If we allow a change of the trait involved (<sup>and ignore the weird `()` inference result - that's either an interaction with the `?` operator or an unrelated bug</sup>), the full reduction looks like this:
[code]

Compiles on stable, ambiguous on nightly, due to the new `impl`s allowing for multiple solutions to the `usize: Add<&_>` requirement.

The `&` is needed for it to compile at all, othe

[2021-12-01 20:37] Amanieu commented on #26179
We discussed this during the libs-api meeting and don't think that a function is the correct interface for exposing probabilities on LLVM IR branch instruction (or equivalents in other backends). We would instead prefer an attribute-based solution which would work on both `if` and `match` arms.

Passing this back to T-lang.

[2021-12-01 20:51] eddyb commented on #90904
Sorry, I forgot to look at the original example again. With this change, [the error appears on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3cfb4a7bd66fa1353f3c1f67270ef90e):
[code]
(or alternatively, dereferencing the `val` reference, i.e.: `=> source + *val`)

So it's the same situation where (in this case) `i32: Add<&$1>` resolves to `$1 = i32` because there's

[2021-12-01 20:56] ehuss commented on #91432
Sorry, I can't tell from what you have posted, what is the issue you are reporting?

[2021-12-01 20:59] workingjubilee commented on #90904
This was reviewed in the T-libs-api meeting today, right now, and it was decided that we will be needing to land a revert of the relevant impls that follow a format roughly equivalent to

[code]
and, because this breakage has currently hit beta, beta backport it.

However, the backport should be deferred (not very long!) until after the next scheduled crater run (which is very soon to come) so we

[2021-12-01 21:04] gThorondorsen commented on #68318
[According to the documentation](https://doc.rust-lang.org/nightly/std/mem/fn.drop.html)

As a trait bound, `T: Drop` means that the type has defined a custom `Drop::drop` method, nothing more (see the warn-by-default `drop_bounds` lint). It does not mean that `T` has non-trivial drop glue (e.g. `String: Drop` does not hold). Conversely, `T: !Drop` only says that writing `impl Drop for T { … }` in

[2021-12-01 21:21] FabianWolff commented on #91421
@rustbot claim

[2021-12-01 21:31] Lucretiel commented on #91429
Confirmed, looks great on nightly

[2021-12-01 21:31] #91429 closed

[2021-12-01 21:44] CAD97 opened #91436 "Unused shadowing variable should suggest mutating the shadowed variable instead"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4266164d35907aecdf2884e9f588b05e

[code]

The current output is:

[code]

Ideally, the compiler should notice that `x` shadows the outer binding, and suggest removing the `let` instead (and adding `mut`, if required).

This is likely the cause of this user's mistake: https://www.reddit.com/r/rust/comm

[2021-12-01 22:41] alex65536 opened #91438 "Potentially redundant check for zero alignment in generated assembly"
Consider the following code with custom DSTs:

[code]

The generated assembly for x86_64 is as follows (with my comments added):

[code]

This can be seen on [Godbolt](https://godbolt.org/z/hYM8cz8Kr).

Why does the compiler check for zero alignment? It seems that it's impossible, as the alignment cannot be zero.

### Meta

`rustc --version --verbose`:
[code]

[2021-12-01 22:59] jyn514 opened #91440 "rustdoc: Inlining a foreign public struct with private fields shows the fields as private in the current crate"
[code]

![image](https://user-images.githubusercontent.com/23638587/144327690-dce80280-a474-47bf-980a-2d791d8b43c4.png)

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/91408#discussion_r760635400_

[2021-12-01 23:26] Monadic-Cat commented on #91432
Hi. This was talked about in the Rust Community discord and it appears to be a homework assignment.

[2021-12-01 23:51] Stargateur commented on #91438
Why alignment can't be zero ?

[2021-12-02 00:14] edlanglois commented on #85451
This also happens when the wrapper / structured type is the associated type:
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=89e313fbd97d19d81a9e5ec10ee603e4))

[2021-12-02 00:40] glandium commented on #90301
I haven't filed it because the smallest reproducer I have at the moment is "build firefox with these flags and observe how sometimes some functions have an extra mov", and from experience, those don't lead to any action.

[2021-12-02 01:12] workingjubilee commented on #91438
Adding
[code]
gets me
[code]

So, at least as far as the compiler is concerned, there is no obvious reason it could not be a zero-sized type.
I could believe this is a missed optimization, where the compiler could infer that because of the i8 field, it has to be aligned to at least 1, but I do not believe it is a bug. It seems to satisfy the current reasoning around alignment and DSTs.

[2021-12-02 02:14] #55768 closed

[2021-12-02 02:14] #60199 closed

[2021-12-02 02:14] #63110 closed

[2021-12-02 02:14] #71957 closed

[2021-12-02 02:39] sajattack opened #91442 "MIPS delay slot codegen issue"
I tried this code:

[code]

and compiled with the official tier 3 target, mipsel-sony-psp, the psp crate, and the cargo-psp crate. This should compile for any other mips target by renaming `psp_main` to `main`, removing `#[no_main]`, removing `psp::enable_home_button`, removing `psp::module!` and replacing `psp::dprintln!`with `println!`. I suspect the problem would be the same on other MIPS targe

[2021-12-02 03:03] sajattack commented on #91442
@rustbot label: +O-mips

[2021-12-02 03:04] sajattack commented on #91442
@rustbot label: +A-codegen

[2021-12-02 03:34] arnabanimesh commented on #79524
Or just use a different name like `sperse`, `intersparse`, or something.

[2021-12-02 04:41] clarfonthey commented on #84605
Is there a good reason why derived traits are included in coverage reports, and not also marked as `#[no_coverage]`? Considering how the assumption for derived traits is that they're already "tested" by the standard library, I figure that it makes the most sense to simply not include coverage for them by default.

But, I could see an argument for including them by default but allowing a `#[no_cove

[2021-12-02 04:46] Manishearth commented on #91290
Hmmm. In that case I guess we should do the for loop thing, but I'd still prefer to not have any kind of separate map or anything; either we include the stuff in `data-foo` attributes or we pregenerate the elements and `display:none` them.

[2021-12-02 04:51] jswrenn commented on #60553
One of my goals in implementing this RFC was to help incrementally reform the design and use of enums to be more explicit and less implicit. As far as I know, it's always been the case that Rust has _implicitly_ assigned discriminants to the variants of enums. And, for probably just as long, it's been the case that Rust has only *let* you provide explicit discriminants in the case of enums with *o

[2021-12-02 04:58] jswrenn commented on #79524
I *really* cringe at the thought of playing any part in Rust having a [#smooshgate](https://developers.google.com/web/updates/2018/03/smooshgate) every time someone wants to upstream an itertools adapter into libcore.

[2021-12-02 05:19] clarfonthey commented on #84605
In terms of specifically how this attribute should be named, I would be in favour of going with a `#[coverage(...)]` style attribute as @nagisa recommended. This also opens up adding other coverage-based attributes in the future, like:

* `#[coverage(hide)]` -- the existing `#[no_coverage]` attribute
* `#[coverage(ignore)]` -- would mark code as "coverage doesn't matter," e.g. derives, telling too

[2021-12-02 06:11] #86163 closed

[2021-12-02 06:19] CraftSpider opened #91446 "Unexpected E0271 while using Pointee trait"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=53652794c179fb2128d73e2f11888a8a

I expected to see this happen:

The code compiles successfully

Instead, this happened:

There are two errors, despite the error sites apparently being no different from the  successfully compiled ones, aside from the presence of generic type inference.

I couldn't get thi

[2021-12-02 07:24] sajattack commented on #91442
Simplified example:

[code]

[code]

[2021-12-02 07:35] hkratz commented on #91417
The reason for this behavior is that `Instant` uses platform-specific resolution while `Duration` uses nanosecond resolution. For Macos x86-64 and Linux this does not matter because on those platforms the resolution of `Instant` is also nanoseconds.

`Instant` resolution on my M1 is 125 / 3 ≈ 41.67 ns. So when, you add 50 ns to `t0` you are adding 1 to its internal representation (= ~41.67 ns). Wh

[2021-12-02 08:29] alex65536 commented on #91438
As stated in https://doc.rust-lang.org/reference/type-layout.html,

Yes. The references to `dyn Trait` consist of two pointers, one of with is a base pointer (`rdi` in the assembly above) and the second one (`rsi` in the assembly above) is the pointer to vtable. The entry of vtable with index `2` (written as `[rsi + 16]` in assembly) is the alignment (as it can be seen [here](https://github.com/ru

[2021-12-02 08:40] alex65536 commented on #91438
How does the compilation error above indicate that? Also, ZSTs has alignment 1, as you can check using
[code]

Why it's not a bug? The compiler generates a seemingly unnecessary instruction, which is an optimization issue. I agree that the issue is minor, though, and maybe it doesn't cause observable slowdown.

Maybe there are some reasons why the alignment in vtable can be zero, but it seems to c

[2021-12-02 08:47] Stargateur commented on #91438
I fail to see any explanation in the link that say that, `COMMON_VTABLE_ENTRIES_ALIGN` is about the alignment of the vtable not its position or whatever registry contain it. For me it's make more sense it's the size of the object or something, why this code would need the vtable anyway ?