[2020-03-23 21:24] RReverser commented on #70255
@memoryruins Thanks!

By the way, I just double-checked, and while first snippet does compile under `-Zpolonius`, the second one still fails.

Given that this part seems different from other linked issues (for them polonius does fix the problem), I'm hesitantly reopening this one for tracking.

[2020-03-23 21:33] eddyb opened #70334 "Move from {{closure}}#0 syntax to {closure#0} for (def) path components."
Today if a path refers to unnamed defs such as closures, it's printed using double braces e.g. for the following example, `rustc` refers to `Foo` as `main::{{closure}}#0::Foo`:
[code]

However, the new Rust Symbol Mangling (rust-lang/rfcs#2603 / #60705), uses `{closure#0}` instead.

I forget if I wrote about this before, but I prefer the newer form and it would be nice if we could switch everythin

[2020-03-23 22:02] #53275 closed

[2020-03-23 22:02] #66636 closed

[2020-03-23 22:02] #68808 closed

[2020-03-23 22:47] johnbartholomew opened #70336 "Float Display with fixed precision output uses inconsistent rounding rules"
Rust's f32 formatting seems to follow inconsistent rounding rules when rounding to a fixed output precision.

[code]

Output ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=05bcc5570b84b256ce15347fb776451b)):

[code]

I get this output on Linux x86-64 with both rustc 1.42.0 (b8cedc004 2020-03-09) and rustc 1.44.0-nightly (f509b26a7 2020-03-18). I have not test

[2020-03-23 22:50] dbartussek opened #70337 "Rust "forgets" intel attribute on assembly code sometimes"
I tried this code:

[code]

I expected to see this happen:
The inline assembly should be compiled in intel syntax

Instead, this happened:
Under some circumstances, Rust seems to forget about the intel attribute and tries to compile it as AT&T assembly.
I have not found a consistent reason for this, if the code compiles or not changes seemingly at random with different compile options or code reor

[2020-03-23 23:13] oli-obk opened #70339 "MIR dump const Allocation printing of large relocation ids"
After #69916 the MIR dump of const `Allocation`s can result in things like

[code]

where even just the `alloc12+99` would be too wide on 32 bit systems.

We should find better ways to handle this. Some suggestions:

# 1. Indent all columns so they align again after the oversized relocation

[code]

# 2. More ascii art

[code]

[2020-03-23 23:21] nagisa opened #70340 "assert failure in mpsc::shared `recv`"
Don’t have minimal reproducer, but the issue reproduces this very often, so I’m hopeful it will be easy to eventually minimize. Either way, reporting the issue now.

The assertion looks like this:

[code]

From quick read through the code it looks like the assertion being triggered is this one: https://github.com/rust-lang/rust/blob/55299b2ba99432d10f925cd28ff52fe397577371/src/libstd/sync/mpsc/sha

[2020-03-23 23:26] ltratt opened #70341 "Build error in src/librustc_data_structures/profiling.rs"
When compiling nightly on OpenBSD, I get this build error:

[code]

This seems to be the result of c8140a88f67cf1fea104b1aaa615af7816984615. Naively, this error doesn't seem surprising: `as_u64() as u32` does not look like a chunk of code I'd have expected to compile but perhaps I'm missing out on something obvious!

[2020-03-23 23:52] Mark-Simulacrum commented on #70341
One of those is out of date; we don't generally support compilation with external (i.e. non-x.py downloaded) compilers.

[2020-03-23 23:52] #70341 closed

[2020-03-23 23:53] Mark-Simulacrum commented on #70341
You may be able to get additional help on internals.rust-lang.org.

[2020-03-24 00:53] #70310 closed

[2020-03-24 01:08] memoryruins commented on #70255
Ah my mistake, thanks for double-checking and reopening!
These changes also allow the second sample to compile (with `-Z polonius`):

[code]
[code]
[code]

I'll leave it to someone else to explain if this is expected or not :)

[2020-03-24 01:54] nwsharp commented on #31436
Apologies if this has been addressed already, but it seems strange to me that:

[code]
fails to compile with:
[code]
but:
[code]
is okay.

If this were a problem because the type arguments of `Result` could not be deduced I'd understand, but, as shown above, that's not the case and rustc is able to perform inference once it is told that the result of a `try` expression is *some sort* of `Result`,

[2020-03-24 02:06] CAD97 commented on #31436
@nwsharp that's because `?` is generic over `Try` types. If you had some other type that was `impl Try<Ok=_, Error=()>`, the try block could evaluate to that type as well as `Result`. Desugared, [your example is roughly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=213fb2bbe9c67556d2c5fb126532d0e5)

[code]

[2020-03-24 02:34] pfmooney commented on #55553
As an FYI, I'm picking up this work from @jasonbking.  I've rebased and fixed up his progress in a new branch: [pfmooney/rust#illumos-triple](https://github.com/pfmooney/rust/tree/illumos-triple).  I'm currently accumulating a series of PRs to go into crate dependencies so rustc and all the necessary tools can be cross compiled in an environment similar to the other platforms.

[2020-03-24 02:37] pfmooney commented on #52577
Additional testing seems to suggest this is not currently an issue.  Absent evidence to the contrary, I'm closing this out.  Thanks for your help.

[2020-03-24 02:37] #52577 closed

[2020-03-24 04:07] #54384 closed

[2020-03-24 04:07] #68567 closed

[2020-03-24 04:07] #69789 closed

[2020-03-24 04:07] #70291 closed

[2020-03-24 04:08] rust-highfive opened #70346 "`miri` no longer builds after rust-lang/rust#70343"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70343, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-24 04:15] nwsharp commented on #31436
@CAD97 Thank you for the explanation.

That said, I didn't expect that `try` would effectively be capable of causing a sort-of conversion between different `Try` impls.

I'd *expect* a de-surgaring where the same `Try` impl is selected for `into_result`, `from_ok`, and `from_error`.

In my opinion, the ergonomic loss of being unable to perform the type inference (especially considering that no alt

[2020-03-24 04:16] #70155 closed

[2020-03-24 04:20] nwsharp commented on #31436
Or, going even further with the blanket impl, I suppose.

[code]

Or whatever...

[2020-03-24 04:47] CAD97 commented on #31436
There are four stable `Try` types: `Option<T>`, `Result<T, E>`, `Poll<Result<T, E>>`, and `Poll<Option<Result<T, E>>`.

[`NoneError`](https://doc.rust-lang.org/nightly/std/option/struct.NoneError.html) is unstable, so `Option<T>` is stuck trying in `Option<T>` while `NoneError` is unstable. (Note though that the docs explicitly call out `From<NoneError>` as "enable `option?` to your error type.")

[2020-03-24 05:00] ayushmishra2005 commented on #70336
@rustbot claim

[2020-03-24 05:01] ayushmishra2005 commented on #70336
@rustbot claim

[2020-03-24 05:29] nwsharp commented on #31436
@CAD97 Thanks for humoring me. This will be a tricky thing to teach to newcomers and will require quite a bit of love in terms of error messages.

Has thought been given to allowing the specification of the desired `impl Try` to assuage the unintuitive behavior here?

For example, bikeshedding for a bit, `try<T> { ... }`. Or is there yet again something to trip up on with even that?

[2020-03-24 05:40] nwsharp commented on #31436
To maybe add a bit more color here, the fact that `try { }` over a bunch of `Result`'s doesn't "just" produce a `Result` is *unexpected* and *makes me sad*. I understand *why*, but I don't like it.

[2020-03-24 05:42] CAD97 commented on #31436
Yes, there has been discussion of the combination of "generalized type ascription" (there's your term to search for) and `try`. I think, last I heard, `try: Result<_, _> { .. }` was intended to work eventually.

But I do agree with you: `try` blocks deserve some targeted diagnostics for making sure their output type is specified.

[2020-03-24 08:07] goffrie commented on #70340
Dupe of #39364?

[2020-03-24 08:15] mati865 commented on #70316
Has it started with latest nightly?
It'd be good to rule out AppVeyor change by installing previously working nightly.

[2020-03-24 09:29] RalfJung commented on #70271
Why does `_mm256_extract_epi64` even use that attribute? `simd_extract` doesn't have it, so it does not seem relevant for codegen?

[2020-03-24 09:37] #67651 closed

[2020-03-24 09:37] #68855 closed

[2020-03-24 09:37] #70273 closed

[2020-03-24 09:48] hanna-kruppe commented on #70271
While it goes through an LLVM IR instruction that supports variable indices, the corresponding C intrinsics and AVX instructions require an immediate, i.e., a compile time constant index. Variable indices on that target with that vector type lower to "store the vector to the stack and load the desired element from it" instead. So the attribute is useful for consistency with C, to avoid surprisingl

[2020-03-24 11:03] jeswin commented on #70098
@woshilapin I was able to reproduce the issue on a freshly install of Ubuntu 19.10. My ndk version is the same as yours - 21.0.6113669.

I think ndk uses (at least on Linux) clang and llvm bundled and prebuilt with the ndk. For me, it gets installed at ~/Android/Sdk/ndk/21.0.6113669/toolchains/llvm/prebuilt/linux-x86_64/bin.

The clang --version (from the directory above) is
[code]

So there seems

[2020-03-24 12:04] staktrace opened #70353 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc/hir/mod.rs:81:37"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-24 12:06] jonas-schievink commented on #70353
duplicate of https://github.com/rust-lang/rust/issues/70041

[2020-03-24 12:06] #70353 closed

[2020-03-24 12:11] staktrace commented on #70353
Thanks. @jonas-schievink Tangential, but do you happen to know if there's an issue tracking the missing components in latest nightlies? i.e. when I do `rustup update nightly` it has to go back to the 2020-03-18 version before it finds one which has all the necessary components (more recent ones are missing things like `rustfmt-preview` and `clippy-preview`).

[2020-03-24 12:12] tmiasko commented on #70337
ValueMapper used during ThinLTO import does not preserve assembly dialect when remapping types (the last argument of `InlineAsm::get`, which is not provided here, defaults to `AD_ATT`) https://github.com/rust-lang/llvm-project/blob/9f65ad057357b307180955831968f79e74090a90/llvm/lib/Transforms/Utils/ValueMapper.cpp#L371-L372

Using `-Clto=off` should avoid the issue.

[2020-03-24 12:24] ayushmishra2005 commented on #70336
@rustbot release-assignment

[2020-03-24 12:25] ayushmishra2005 commented on #70336
@johnbartholomew I am not able to find out how Rust is internally handling precision `{:2.0}`. I check `round()` of f32. It looks ok.

Can you please guide me?

[2020-03-24 12:33] dbartussek commented on #70337
Interesting. This should probably be more prominently documented. I can't find a single reference to this issue online. No resource about inline assembly told me I had to turn off lto to get it to work.

[2020-03-24 12:36] Alexendoo commented on #63695
No longer ICEs as of #70249, could do with a test

[2020-03-24 12:42] #68671 closed

[2020-03-24 12:43] jonas-schievink commented on #70353
issues for that get opened automatically, eg. https://github.com/rust-lang/rust/issues/70280

[2020-03-24 12:44] bjorn3 commented on #70337
This is a bug in LLVM. Inline assembly should just work with LTO.

[2020-03-24 12:48] nagisa commented on #70340
That issue appears to conflate two distinct crashes, although the problem reported by @DenisKolodin in the comments does appear to be relevant.

[2020-03-24 12:50] nagisa commented on #70340
Duplicate of #39364

[2020-03-24 12:50] #70340 closed

[2020-03-24 12:52] staktrace commented on #70353
Thanks!

[2020-03-24 12:57] dbartussek commented on #70337
Is this a known issue in LLVM? I can't find any mention of this anywhere else

[2020-03-24 13:01] bjorn3 commented on #70334
The `{{closure}}` name seems to be introduced in 862911df9af8216edc94458df2084143aad7be5b, which uses `InternedString::new("{{closure}}")`. Before that commit it was `InternedString::new("<closure>")`. This doesn't seem like being escaped for `format!`.

[2020-03-24 13:07] michaelwoerister commented on #70333
It might have to do with the reachability pass being rather conservative around methods in trait impls? https://github.com/rust-lang/rust/blob/1add455ec6f81045e7651c6225902823f5d4fbfa/src/librustc_mir/monomorphize/collector.rs#L1008

[2020-03-24 13:09] RalfJung opened #70356 "Why does const-prop refuse to read from statics that contain pointers?"
const-prop checks statics for whether they contain relocations, and if they do, it refuses to read from them. It is not clear why that happens.

~~As discussed in https://github.com/rust-lang/rust/pull/70241#discussion_r396066858, it turns out that const-prop will sometimes permit reading from mutable global allocations. That could be a soundness issue in case those allocations are actually mutate

[2020-03-24 13:09] bjorn3 commented on #70337
https://bugs.llvm.org/buglist.cgi?quicksearch=lto%20inline%20assembly

There are several bugs for inline assembly and LTO interaction, but this one doesn't seem to be reported yet. Somebody with an account for the LLVM bug tracker will have to do this.

[2020-03-24 13:14] RalfJung commented on #70356
I just realized the condition is `allocation.mutability == Mutability::Mut || allocation.relocations().len() > 0`, so maybe the allocation in question was not even mutable but had relocations in it. I am testing that now.

I do not understand the argument given in the code for why relocations are a problem:
[code]
If the memory behind that pointer is mutable, we will notice that when *that* alloca

[2020-03-24 13:15] RalfJung commented on #70356
Also the mystery about why validation is even happening is answered here:

[2020-03-24 13:17] RalfJung commented on #70356
Also the mystery about why validation is even happening is answered here:

https://github.com/rust-lang/rust/blob/1add455ec6f81045e7651c6225902823f5d4fbfa/src/librustc_mir/transform/const_prop.rs#L643

I think I understand why, conservatively, this does validation... can this ever fail? Validation is quite picky about the kinds of errors in expects can happen, and with const-prop having a machine

[2020-03-24 13:24] Pzixel opened #70357 "Code inferrence fails after several levels of indirection"
I tried this code:

[code]

Which fails with:

[code]

It's enough to remove one level of indirection, e.g. remove `Option`. or change `Vec<Vec<usize>>` to `Vec<usize>` to make compiler happy:

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

Although I can stable reproduce it in every toolchain I have and playground (I'm not sure what version it uses).

[2020-03-24 13:25] RalfJung opened #70358 "Per-module control of overflow checks?"
For arithmetic that happens inside Miri, I am quite paranoid that we may have an overflow issue, so I spent a lot of time last week-end to go over every occurrence of `+`/`-`/`*` and replace them all by `checked_*` operations. That has not made code more readable, and I am worried I might have missed some cases.

I am not sure if enabling overflow checks for all of rustc is realistic, so it would

[2020-03-24 13:26] Pzixel commented on #70357
Possibly duplicate of #63702

[2020-03-24 13:36] RalfJung commented on #70356
Okay so the actual problem turned out to be relocations. There is no bug here, we can reject all reads from mutable globals (phew).

What remains open is why we check for the presence of relocations at all. @wesleywiser you added that comment that I mentioned above, would be great if you could explain it a bit more. :)

[2020-03-24 13:43] Mark-Simulacrum commented on #70358
We should probably check what the overhead of turning them on globally inside rustc is; if it's low enough that seems like a good stopgap solution.

But I've definitely wanted this myself before.

[2020-03-24 13:45] RalfJung commented on #70358
In Miri I've been setting `-C debug-assertions` at least for local builds, but I only just realized there is also `-C overflow-checks`. Does the former imply the latter?

[2020-03-24 13:49] lcnr commented on #63695
@rustbot release-assignment

While the ICE is gone, this is still a bug. probably related to https://github.com/rust-lang/rust/issues/70167#issuecomment-602016539

[2020-03-24 13:49] kotauskas commented on #42327
After almost 3 years, is this any closer to being resolved?

[2020-03-24 13:53] tmiasko commented on #70337
https://bugs.llvm.org/show_bug.cgi?id=45291

[2020-03-24 14:04] #54434 closed

[2020-03-24 14:07] wesleywiser commented on #70356
@oli-obk [wanted it](https://github.com/rust-lang/rust/pull/64419#discussion_r327982230):

But I'm not quite sure why...

[2020-03-24 14:11] Kixunil commented on #66636
Good job guys!

[2020-03-24 15:03] benschulz commented on #60658
I fail to do the mental gymnastics required to be sure, but this might be a dupe of #64552. That the HRTB works lines up well with [Aaron1011's analysis](https://github.com/rust-lang/rust/issues/64552#issuecomment-533267241) over there.

[2020-03-24 15:04] hanna-kruppe commented on #70358
Yes, `-C debug-assertions` implies overflow checks. `-C overflow-checks` was added later to enable overflow checks independently of the other things `-C debug-assertions=on` implies.

[2020-03-24 15:41] Aaron1011 commented on #64650
I think the 'one type is more general than the other' error is another instance of https://github.com/rust-lang/rust/issues/64552

[2020-03-24 15:44] bedax opened #70360 "Documentation for io::Read::read's return value"
As far as I know `File` uses `libc::read` on unix for its `Read` implementation. The `read` method returns the amount of bytes that were read to the given buffer. [`libc::read`'s man page](http://man7.org/linux/man-pages/man2/read.2.html) says the following:

`It is not an error if this number is smaller than the number of bytes requested; this may happen for example because fewer bytes are actual

[2020-03-24 16:26] ChrisDenton commented on #70336
I think the formatting code starts at [libcore/fmt/float.rs](https://github.com/rust-lang/rust/blob/master/src/libcore/fmt/float.rs). Which is a wrapper around [libcore/num/flt2dec/](https://github.com/rust-lang/rust/tree/master/src/libcore/num/flt2dec).

[2020-03-24 17:24] nikomatsakis commented on #68523
I'm looking quickly over the branch, @Nokel81.

@estebank or others may feel differently but my take:

I don't think it's a good idea to return `Spanned<hir::IsAsync>` if we are going to sometimes use a dummy span. I see that we do use a similar pattern for `VisibilityKind`, but I'm of the opinion that dummy spans should be avoided and should not be common.

If we were going to use `Spanned`, I'd

[2020-03-24 17:28] Nokel81 commented on #68523
Thanks for the quick look over @nikomatsakis. I am wondering what should happen if an error occurs where it is required to be async but isn't (maybe I am thinking too hard in the future).

I sort of like the span of the `fn` keyword solution, and it is definitely better than using a dummy value.

[2020-03-24 17:51] nikomatsakis commented on #68523
@Nokel81 we can solve that problem later, but in that scenario, having a "dummy span" on hand would not be especially useful anyway -- that is, though, I think the right question to be asking, which is why I suggested the span for the "fn" keyword (or perhaps the fn name). i.e., what would you want  to highlight in such a case?

[2020-03-24 17:51] nikomatsakis commented on #68523
but perhaps better to wait until indeed we have such a message to emit, which might hep clarify things

[2020-03-24 18:00] lopsided98 commented on #69420
This bug on armv7l (#62896) was fixed by upgrading the CI builds to use GCC 8 in https://github.com/rust-lang/rust/commit/e66a6282275802fcb0a29ba58ddc445fc64ac8ef. This change only applied to armv7l, so it seems like doing the same for armv6 would potentially fix this bug.

[2020-03-24 18:19] spastorino commented on #69420
@sk-Prime can you try this out and if it works provide a PR?, thanks!.

[2020-03-24 18:22] Dylan-DPC commented on #70360
@bedax thanks for the issue. Would you be ready to submit a PR that makes it clearer?

[2020-03-24 18:40] bedax commented on #70360
Hi @Dylan-DPC, absolutely, I'll give it a go and submit it soon.

[2020-03-24 19:03] nikomatsakis commented on #69307
OK so I've been investigating this a bit. I am not quite able to write-up mentoring instructions yet because I don't really understand what's going on, but I can leave a few notes.

First off, the ICE occurs in the code that is attempting to approximate what values may be live across an `await`. It occurs specifically when you have a `foo += async { ... x.await ... }` structure. The nested async b

[2020-03-24 19:05] nikomatsakis commented on #69307
Ah, I think maybe I see the problem here actually -- I *suspect* the problem is that we need to clear the `pessimistic_yield` flag when we recurse into a closure body.

[2020-03-24 19:21] ehuss opened #70365 "Suggestion for adding a type parameter happens a little too often."
The following code now emits a suggestion to add a type parameter (since #68447 in 1.42):

[code]

Emits:

[code]

The suggestion to add `<PathBuf>` is clearly wrong (in my eyes), and I feel like I am seeing this suggestion a lot.

Perhaps, if there is already a "possible candidate import" suggestion, it could skip the suggestion to add a type parameter?  Or maybe some other heuristic to dial back

[2020-03-24 20:39] staktrace commented on #69933
Confirmed the fix by forcing a nightly update. Thanks!

[2020-03-24 21:24] steffahn opened #70372 "Incorrect "unreachable pattern" warning."
Not much to comment about. The supposedly “unreachable” pattern is obviously reached.
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=3f11f5a60aaa9b7c478583c18becb57e))

Output:

[code]

Errors:

[code]

This issue has been assigned to @AminArria via [this comment](https://github.com/rust-lang/rust/issues/70372#issuecomment-604096011).

[2020-03-24 21:49] kryptan commented on #61977
The issue here is that you cannot put unsized objects behind `dyn Trait`. For example the following fails to compile with the same error:

[code]

It is not clear to me what is the reason for this.

[2020-03-24 22:00] Centril commented on #70372
Looks like this was injected in 1.41.0, ostensibly in the exhaustiveness checking refactorings.
To find out, let's cc @rustbot ping cleanup

cc @varkor @Nadrieril

[2020-03-24 22:08] Centril commented on #70372
The relevant code is in [`check_match::check_arms`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir_build/hair/pattern/check_match/fn.check_arms.html):
[code]

From the point of exhaustiveness checking this algorithm is correct, but not from a linting POV in the presence of guards. Previously, before the or-patterns reform, we merely interpreted each `|` as a separate arm, so this was co

[2020-03-24 22:37] kryptan commented on #59656
Allowing `?Sized` in trait objects would be confusing because you can't actually cast unsized values to trait objects. If I see `&dyn Trait` I assume that I can cast `&T` to it if `T` implements `Trait`. If I saw `&(dyn Send + ?Sized)` I would therefore think that I can cast `&str` to it but it is not allowed. In my mind model, traits listed after `dyn` refer both to traits that underling object i

[2020-03-24 22:42] steffahn commented on #70372
In case this is still relevant.. I went trying out `cargo-bisect-rustc` and it gave me:

regressed nightly: nightly-2019-12-04
regressed commit: https://github.com/rust-lang/rust/commit/f577b0ef6e637ab7a6095cdfe0b51fa3faf97050

[2020-03-24 23:07] RalfJung commented on #69763
The fixes for asserting field access sanity in Miri and codegen have landed.
I am not aware of any other such hacks in Miri (where we "work around" weird layout). There is the issue with `SetDiscriminant` and uninhabited variants bailing out early, but I got convinced some time ago that that is just needed -- and saying "`SetDiscriminant` for an uninhabited variant is insta-UB" makes enough sense.

[2020-03-24 23:07] #69763 closed

[2020-03-24 23:46] #70308 closed

[2020-03-25 00:17] sk-Prime commented on #69420
My system is fully updated with gcc 8.3.0 (so doesn't work on armv6)
`fn main() {let x=100; println!("{}",x);}` compiling with `rustc -O` produces segmentation fault.

[2020-03-25 00:22] lopsided98 commented on #69420
How did you install your Rust compiler? If you got it through rustup then it was not built with GCC 8.

[2020-03-25 02:02] estebank commented on #70152
There are two things here:

1) the suggestion should try and identify spans coming from macro expansion and not suggest changes
2) `#[derive(Eq)]` in this case expands to the following:
[code]

Note the `&'b str` param, which could avoid having any lifetimes and thing would work correctly. We can probably change the desugaring to not specify the lifetime and then we would avoid the second unnecess

[2020-03-25 02:16] Evian-Zhang opened #70380 "rustdoc -- Re-export type shadowing leads to wrong doc"
I tried this code:

[code]

[code]

Since Rust does not check the re-definition in re-exporting, the code compiles sucessufully.

And I use `cargo doc` to generate the doc of `doc_test`. As expected, there are `foo` and `foo2` in the crate `doc_test`.

I expected to see this happen:

The return type of `foo` should be the `MyReturnType` with `bar: usize` as field, and the return type of `foo2` sho

[2020-03-25 02:50] Reconcyl opened #70381 "ICE when combining "\r", unicode, and unused parameter in format string"
The following code causes an ICE:

[code]

As far as I can tell:

- Any number of characters can be inserted between `\r` and `¡` and the error will still happen.
- `¡` can be replaced with any unicode character and the error will still happen.
- No escape sequences other than `\r` cause the error.

The error is reproducible on the stable or nightly compiler at https://play.rust-lang.org.

`rustc

[2020-03-25 03:18] lzutao opened #70382 "Incorrect suggestion after #70074"
https://github.com/rust-lang/rust/blob/02046a5d402c789c006d0da7662f800fe3c45faf/src/test/ui/type/ascription/issue-47666.stderr#L16-L27

https://github.com/rust-lang/rust/blob/02046a5d402c789c006d0da7662f800fe3c45faf/src/test/ui/type/ascription/issue-47666.stderr#L29-L43

[2020-03-25 04:54] sk-Prime commented on #69420
@lopsided98 yes, using rustup, the standard method.

[2020-03-25 04:59] hadv commented on #46391
Great! It worked for me, thanks!

[2020-03-25 06:01] eddyb commented on #69763
@RalfJung What about the second half of https://github.com/rust-lang/rust/issues/69763#issuecomment-595699745? Right now the layouts for `enum`s with 0 or 1 present (inhabited or with non-ZST fields) variants are pretty artificial, and I think they should be fixed.

[2020-03-25 07:32] zserik commented on #42327
@Lokathor that would only work if a return type `Result<Result<X,Y>,Z>` or similiar wasn't possible. But it is. Thus not possible.

[2020-03-25 07:35] Lokathor commented on #42327
I don't understand why a layered Result causes problems. Could you please elaborate?

[2020-03-25 08:19] RalfJung commented on #69763
Agreed, but that sounds like a separate issue to me? At least there aren't field accesses to variants that don't exist, or stuff like that.

Would that proposal also help with `SetDiscriminant`, i.e. would we still need to bail out explicitly and early for uninhabited variants?

[2020-03-25 08:53] p-kraszewski opened #70387 "`internal compiler error: unexpected panic` when compiling `docopt` with nightly"
### Code

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]
**It compiles correctly on *stable***

----

`cat /etc/lsb-release`

[code]

----

`CPU` (as I use `-C target-cpu=native`) - happens on multiple versions:

* Intel(R) Core(TM) i7-4771 CPU @ 3.50GHz
* Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz

### Error output

Found in https://gist.github.com/p-kraszewski/c5d20e90dad884850d5

[2020-03-25 09:02] DutchGhost commented on #60890
This now errors with a normal message, and can thus be closed :)

[2020-03-25 09:02] #60890 closed

[2020-03-25 09:03] #66312 closed

[2020-03-25 09:03] #70323 closed

[2020-03-25 09:18] DutchGhost commented on #67981
update,
[code]
seems already enough to cause the ICE

[2020-03-25 09:45] jonas-schievink commented on #70387
Update your nightly, this is already fixed

[2020-03-25 09:45] #70387 closed

[2020-03-25 09:51] p-kraszewski commented on #70387
OK, thank you.

The reason, why I wasn't on the freshest nightly:
[code]

Sometimes lack of various components in *nightlies* drives me nuts. Especially nightly `rustfmt` has huge added value over stable.

[2020-03-25 09:58] matthiaskrgr opened #70388 "diagnostic could be better whe using "..." instead of ".." when destructuring enum"
[code]
The problem here is that we have `if let MyEnum::A(...) = e` instead of `if let MyEnum::A(..) = e`

The compiler however points towards `)` in the error message instead of the superfluous `.`:
[code]

Fun fact: when using four dots ` MyEnum::A(....)`, it correctly points at the last dot :)
[code]

This issue has been assigned to @rakshith-ravi via [this comment](https://github.com/rust-lang

[2020-03-25 10:00] NickeZ commented on #51540
Are the right people aware of this issue? This is still the only blocker for using `no_std` + `alloc` as far as I can tell and it seems to be stuck on a decision / organizational question.

[2020-03-25 10:13] rakshith-ravi commented on #70388
@matthiaskrgr seems like a simple issue to fix. If I were to take a shot at fixing this, where would I start?

[2020-03-25 10:45] taro-yamada commented on #19776
It seems that when we call println first time, it register a closure to drop the resource at the end of the program.
https://github.com/rust-lang/rust/blob/02046a5d402c789c006d0da7662f800fe3c45faf/src/libstd/io/lazy.rs#L43-L53

If we call println from normal Rust program, lang_start_internal execute that closure at the end and memory freed.
https://github.com/rust-lang/rust/blob/3982d3514efbb65b3e

[2020-03-25 10:56] Centril commented on #70388
Mentoring instructions:

Add a branch after this one...
https://github.com/rust-lang/rust/blob/cdb50c6f2507319f29104a25765bfb79ad53395c/src/librustc_parse/parser/pat.rs#L294-L297

...but instead of `self.check(&token::DotDot)`, check that `self.token.kind == token::DotDotDot`.

This should be interpreted as a `::Rest` as in the previous branch, but an error should also be emitted. (Add the code fo

[2020-03-25 11:16] rakshith-ravi commented on #70388
Sure thing! Will get to it right after work. Thanks for the guidance.

[2020-03-25 11:16] Centril commented on #70388
@rustbot assign @rakshith-ravi

[2020-03-25 11:24] DomantasJ opened #70390 "Reexports from other crate are listen in docs even when hidden by other types"
Given a two crate set up:

* Crate `a`:
[code]

[code]

* Crate `b`:

[code]

[code]

Documentation for crate `b` lists two `Foo` types, with the `a::Foo` one being inaccessible because it is actually hidden by `b::Foo`:

![image](https://user-images.githubusercontent.com/41150975/77530118-8940d300-6e99-11ea-99f2-9c0d0f793e65.png)

If you change `a` to a module instead of a separate crate, then on

[2020-03-25 11:31] RalfJung commented on #66961
@michaelwoerister is there a link missing here?

[2020-03-25 11:51] RalfJung commented on #60639
So, in terms of implementing this as an unstable feature... the main problem is that we want these to be inherent methods on `*const [T]`, right? AFAIK this needs some rustc magic and lang items as those types are not defined in any crate, and thus cannot usually get inherent methods?

[2020-03-25 12:21] michaelwoerister commented on #66961
@nnethercote's original PR (linked above) has some quite compelling numbers: https://github.com/rust-lang/rust/pull/66598#issuecomment-557005098

[2020-03-25 13:47] oli-obk commented on #70356
Basically I want to avoid the following (assume it compiles with more boilerplate) from optimizing `foo` to `unsafe fn foo() -> u32 { 42 }`

[code]

Since we can't ever know what users are up to with their code, the presence of relocations was the easiest way to avoid any kind of troubles there.

Furthermore, assuming we just forbid raw pointers from being derefed in const prop, we'd still have pr

[2020-03-25 13:54] oli-obk commented on #60639
Yea, we need to add the same kind of magic that the integer types have in https://github.com/rust-lang/rust/blob/1572c433eed495d0ade41511ae106b180e02851d/src/libcore/num/mod.rs#L2380-L2381

Though in this case it may be more difficult due to the involved generics, so you should look at the implementation of the magic for slices for inspiration:

https://github.com/rust-lang/rust/blob/1572c433eed49

[2020-03-25 14:08] RalfJung commented on #70356
@oli-obk that sounds to me like an indirect way to do the check that we can now do much more reliably and directly:

https://github.com/rust-lang/rust/blob/cdb50c6f2507319f29104a25765bfb79ad53395c/src/librustc_mir/transform/const_prop.rs#L285-L287

This is done for all accesses to globals (things stored in `tcx`). So if a constant global points to a mutable one, the check will fire when the mutabl

[2020-03-25 14:25] oli-obk commented on #70356
that's true. Makes more sense to handle it there.

[2020-03-25 14:25] oli-obk commented on #70356
But how does that help with the second example I gave?

[2020-03-25 14:51] RalfJung commented on #70356
The second example does not involve any global though? So nothing we do in that hook will have any effect? I am confused.^^

[2020-03-25 14:56] jeswin commented on #70098
@woshilapin I was able to compile it successfully on OSX. So the problem occurs only on Linux.

[2020-03-25 15:17] oli-obk commented on #70356
The problem is that it would magically create a global if we used const prop here. Basically the same problems apply that we have with promotion.

[2020-03-25 15:22] pnkfelix commented on #65023
cc #58633

[2020-03-25 15:23] RalfJung opened #70393 "rustdoc: many methods do not have [src] link (any more?)"
Looking at pages like [this one](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/mir/interpret/struct.Allocation.html), I feel there used to be `[src]` links there to directly view the method source code, but those links are gone now.

I am not sure if this is indeed a regression (I might be misremembering), but in any case having these links would be really useful.

[2020-03-25 15:29] vertexclique commented on #39610
This is just reproduced in my current build with `libc v0.2.67`:

[code]

[2020-03-25 15:34] lzutao commented on #39610
Did you try with build-std?

[2020-03-25 15:35] eddyb commented on #69763
If the whole `enum` is uninhabited, it would be an exhaustive match like `Tag` vs `NicheFilling` today.

If a specific *variant* is uninhabited, you could probably let the regular discriminant writing code handle it, although there's always the risk that the way that code is implemented would write *a different* variant's tag/niche (e.g. by truncation, if the uninhabited variant is just outside).

[2020-03-25 15:35] lzutao commented on #70382
Cc @Centril

[2020-03-25 15:37] pnkfelix opened #70394 "Add `winapi` (or variant thereof) as benchmark to perf.rust-lang.org"
Spawned off of #48247

There have been instances where we have injected performance issues when compiling `winapi`

It has been suggested that we add `winapi` as a standard benchmark.

(In general I would like to revisit our benchmarks as a whole, which I guess is a task  covered by #48750.)

*This* issue is more targeted: We should add `winapi`, or a variant that captures its workload but works o

[2020-03-25 15:45] RalfJung commented on #70356
But again, what does the `before_access_global` hook have to do with that? It won't prevent creation of that global, just access to it.

I also cannot imagine how const-prop could do *anything* in your example... `x` doesn't have a known value. And in a case like
[code]
it would be entirely okay to replace `z` by `42`.

Of course with
[code]
it would not be okay, but then that is exactly the same

[2020-03-25 15:49] RalfJung commented on #69763
I was mostly concerned with fields for this issue, not variants. I guess I got used to variants being a mess. ;) None of the text in the OP makes sense for the variant case though, I think?

And then there's also the thing where primitives are "fieldless unions", and maybe instead there should be `FieldPlacement::Atom` or so to indicate that there are no fields (but there is still data).

[2020-03-25 15:54] eddyb commented on #69763
Variants are what contain fields. The reason for any oddities with fields is because the variants they're in aren't actually in the layout so they have to be faked on the spot (which is what I think we should fix).

[2020-03-25 16:07] gizmondo commented on #55234
@DutchGhost, it seems this issue isn't reproducible anymore.

[2020-03-25 16:11] Nadrieril commented on #70372
I'm going to assume we're ok with not detecting
[code]
as redundant, otherwise we violate one of the assumptions of match checking, namely that variables and wildcards behave identically, and that's a whole other can of worms.

Agreed. Specifically, what we want to avoid is adding to the matrix any pattern that is under a match guard. The code in `check_match` does that correctly, but the or-patte

[2020-03-25 16:13] oli-obk commented on #70356
I'm not worried about `z`. I'm worried about const propping into `y`, so `x` is eliminated entirely.

[code]

optimized to

[code]

I'm not sure how we're supposed to prevent this without banning relocations in propagated constants.

[2020-03-25 16:18] RalfJung commented on #70356
I don't see why we would even try to do that, that seems like a really odd transformation? And certainly, if any code is responsible for getting things like that right, it's the code that *constructs new constants*, not the code that *reads from existing constants*?

You still didn't explain how the `before_access_global` prevents anything like that. It prevents *reading from* constants that have

[2020-03-25 16:23] DutchGhost commented on #55234
Closing since it isn't reproducable any longer.

[2020-03-25 16:23] #55234 closed

[2020-03-25 16:26] varkor commented on #70372
With such clear instructions, this looks like a good issue for beginners! I'll add the labels.

[2020-03-25 16:50] oli-obk commented on #70356
Ah, that's where the confusion comes from. Let's start with a code example again:

[code]

If we const prop the `load` at some point (or construct your own lockfree datastructure that doesn't use any intrinsics), we have now changed behaviour because we never read the runtime value of `A` (0) but instead the initializer value (42).

[2020-03-25 17:08] ehuss opened #70396 "Some macro errors now include file names into the standard library (JSON)."
The error message for the following has changed so that that JSON spans include file names into the standard library:

[code]

With JSON output, previously this had a span that looked like this:

[code]

Pay attention to the "file_name" field, it now includes a span that references `macros.rs` instead of `<::alloc::macros::vec macros>`. There are other differences, such as missing `text` rendering

[2020-03-25 17:44] RalfJung opened #70399 "Layout for enums does not match MIR (and types) vry well"
Enum layout computation entirely ignores ZST uninhabited ("absent") variants, which can lead to the layout being quite different in structure from the user-visible enum:
* if there are more than 1 non-absent variants, `Variants::Multiple` is used.
* if there is exactly 1 non-absent variant, `Variants::Single` is used.
* if all variants are absent, the layout of `!` is used, so the entire thing end

[2020-03-25 17:44] RalfJung commented on #69763
Okay, I made a new issue for that: https://github.com/rust-lang/rust/issues/70399

[2020-03-25 18:00] oli-obk opened #70400 "MIR dump prints the location of each statement as a comment"
originally mentioned in https://github.com/rust-lang/rust/pull/69916#discussion_r395162776

Basically all the lines look like

[code]

which is a lot of noise if used with `mir-opt` tests and `diff` mode, because mir optimizations that don't even touch the current statement may still cause diff fallout because they touch the comments.

Should we just stop emitting the location? Or maybe just speci

[2020-03-25 18:04] arlosi opened #70401 "Tracking Issue for `-Z src-hash-algorithm`"
This is the tracking issue for the unstable option `-Z src-hash-algorithm`

### Steps
- [ ] Implementation PR #69718
- [ ] Adjust documentation
- [ ] Stabilization PR

### Unresolved Questions
- Should we have a separate option in the target specification to specify the preferred hash algorithm, or continue to use `is_like_msvc`?
- Should continue to have a command line option to override the pref

[2020-03-25 18:19] spastorino commented on #70280
Removing nomination, as part of pre-triage we are looking anyways into tool breakage.

[2020-03-25 18:19] spastorino commented on #70346
Removing nomination, as part of pre-triage we are looking anyways into tool breakage.

[2020-03-25 18:30] spastorino commented on #70396
pre-triage: prioritized as `P-medium` given that this is unlikely to break important stuff badly.

@Centril should we assign to you?.

[2020-03-25 18:33] Centril commented on #70396
Let's not assign it to me, but let's cc @eddyb and @petrochenkov :)

[2020-03-25 18:36] Centril commented on #70381
Godbolt says this regressed in 1.29.0.

[2020-03-25 18:37] spastorino commented on #70381
pre-triage: this doesn't seem to be very important but would be of course nice to fix. Tagging it as `P-low`.

[2020-03-25 18:44] moonheart08 commented on #70381
@rustbot claim
Time to try an easy issue

[2020-03-25 18:54] spastorino commented on #70314
@jxs can you try out if it works for you using `nightly-2020-03-22` or superior?

[2020-03-25 18:59] oli-obk opened #70405 "Miri engine is too permissive with type-changing MIR assignments"
https://github.com/rust-lang/rust/blob/02046a5d402c789c006d0da7662f800fe3c45faf/src/librustc_mir/interpret/place.rs#L856 just checks whether the layout of the target and value of an assignment is the same. The only time the types can differ is when assigning a `&mut T` to a `&T` variable. We should instead employ a function like

[code]

(source https://github.com/rust-lang/rust/pull/69700#discuss

[2020-03-25 19:14] Centril commented on #70382
cc @estebank

[2020-03-25 19:19] spastorino commented on #69841
pre-triage: nominating for discussion on next meeting.

[2020-03-25 19:23] spastorino commented on #68304
pre-triage: nominated for discussion in the next weekly meeting.

[2020-03-25 19:27] Centril commented on #65577
This seems rather moot now that we're in 1.44 nightly, so let's close the issue as no-action-is-likely-to-be-taken.

[2020-03-25 19:27] #65577 closed

[2020-03-25 19:29] spastorino commented on #70314
pre-triage: assigning `P-high` just in case is not a dupe of #70185

[2020-03-25 19:33] Centril commented on #70400
That info seems useful to me when e.g., dumping the MIR in the playground -- I think if we're going to make tweaks, let's do it only for mir-opt tests (but please find a way to thread this info without hacks in `Debug` impls).

[2020-03-25 19:34] jonas-schievink commented on #70314
Still an issue on rustc 1.44.0-nightly (02046a5d4 2020-03-24)

[2020-03-25 19:40] eddyb commented on #70400
The comment is printed outside of any formatting `impl`s so we should be fine.

@Centril do you mean the `bb2[0]`, or the scope/span?

I specifically meant the `mir::Location` i.e. the `bbX[Y]`, maybe this issue is unclear.

[2020-03-25 19:40] Centril commented on #70314
Let's try to shrink the input into something more manageable for finding a fix / understanding the cause.

@rustbot ping cleanup

[2020-03-25 19:43] Centril commented on #70400
@eddyb both seem useful :)

[2020-03-25 19:47] eddyb commented on #70396
This is #53486, maybe we should prioritize it?

I hope not, it was always a hack that we've been wanting to get rid for years (#49511) and even used to be even more useless (e.g. `<std macros>` i.e. crate name, that's why it was `macros` and not `macro`).

We shouldn't treat this as a regression unless we have some evidence of misuse in the wild.

[2020-03-25 19:52] eddyb commented on #70400
But have you actually *used it*? I can't remember having used it or imagine how, other than maybe correlating it with some `debug!` output?
If it was missing, worst case you have to count statements or something.

We could maybe normalize `// bb\d+\[\d+\]: ` to just `// ` by default for `mir-opt` tests in `compiletest`, that might be enough.

[2020-03-25 19:56] eddyb commented on #70400
Looks like printing `mir::Location`s started with #46319, so they're likely used for debugging MIR/NLL borrowck, for which we've already pinged @nikomatsakis and @matthewjasper, I guess?

[2020-03-25 20:00] Manishearth commented on #70280
Working on it in https://github.com/rust-lang/rustfmt/pull/4095 , but would appreciate help

[2020-03-25 20:02] petrochenkov commented on #70396
Hmm, I'm pretty sure that I've seen paths like this before https://github.com/rust-lang/rust/pull/66364, but probably in debuginfo rather than in spans.

It still seems to be better than no paths at all because some tools have an option to remap paths like this to a different directory with actual sources, or `/rustc/38114ff16e7856f98b2b4be7ab4cd29b38bed59a` can be symlinked to the actual source d

[2020-03-25 20:05] lcnr commented on #68990
@zaharidichev are you still looking into this?

[2020-03-25 20:14] kulicuu commented on #54843
I'm on nightly and compiler is complaining that f64 doesn't have the `from_str` method associated.

[2020-03-25 20:17] AminArria commented on #70372
Hi, I want to take this

I understand the solution explained by @Nadrieril, but have one question regarding [check_not_useful](https://github.com/rust-lang/rust/blob/cdb50c6f2507319f29104a25765bfb79ad53395c/src/librustc_mir_build/hair/pattern/check_match.rs#L413) because it also calls `is_useful`. From what I gather it generates a wildcard pattern and check it isn't useful, so for this task I can

[2020-03-25 20:19] eddyb commented on #68304
I just checked and, a function call `r = f(a, b, c)` [turns into](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=8feebe9d6b7738b25b68ba492c44d848) roughly this (touched up for clarity):
[code]
Some of my previous comments assumed the `r = move _4` wasn't there and the call would use the destination directly, but given that there is a move, that simplifies my suggestion.

[2020-03-25 20:36] oli-obk opened #70408 "[const generics] symbol `foo` is already defined"
Const generics causes monomorphization to compare constants by identity instead of structurally. This means that two different references to equal data will compare as unequal.

The root problem is in https://github.com/rust-lang/rust/blob/3c1d9adb3cb3aad4233075fa296fc3c70b42cdb8/src/librustc_mir/monomorphize/collector.rs#L338 which puts the `Instance` of a function into a `FxHashSet`. Since the `

[2020-03-25 20:47] Umaigenomu commented on #62031
delete the target folder, exclude future target folders from being watched with `files.watcherExclude` (e.g. `"**/target/**": true`), rebuild and you won't get the message anymore.

[2020-03-25 21:02] oli-obk commented on #70408
There's two ways that I see that we can use to go forward:

1. remove `Eq, PartialEq, Ord, PartialOrd, Hash` from `ConstValue` and everything that depends on it. This requires some wrapper helpers (forwarding `Eq` to `TypeRelation`) around the return values of queries as query return types need `Eq` impls I think.
2. manually implement `Eq, PartialEq, Ord, PartialOrd, Hash` to use `TypeRelation` a

[2020-03-25 21:04] eddyb commented on #70408
`TypeRelation` isn't relevant here, you should have fully normalized constants by the time of the monomorphization collector (i.e. no `CosntKind::Unevaluated`), anything else is a bug.

Keep in mind types have the same problem with `ty::Projection` and `ty::Opaque`.

[2020-03-25 21:08] oli-obk commented on #70408
Ok, but even ignoring any `ConstKind` other than `ConstKind::Value`, the only place that correctly compares `ConstKind::Value` is `TypeRelation`, so we can pull that out as a common function for comparing `ConstKind::Value`. That'll still have to have access to a `TyCtxt` in order to be able to fetch the `Allocation` that a const pointer points to.

[2020-03-25 21:11] Alexendoo commented on #61936
since 342c5f33d097b2dc07a2dbc0ca45a37379d2ff60 this still ICEs, but needs an explicit type added on line 40 (`let v = vec![...];`).

[code]

[2020-03-25 21:12] eddyb commented on #70408
You shouldn't need `TypeRelation` to compare fully normalized monomorphic things, interning should deduplicate everything by-typesystem-semantic-value.

[2020-03-25 21:14] ehuss commented on #70396
Just a quick perusal of projects:

* Sublime: https://github.com/rust-lang/rust-enhanced/blob/7acf8a9914906efb2431ba475f2148f1c16e2ae4/rust/messages.py#L988-L1007
* RLS: https://github.com/rust-lang/rls/blob/782b7962546ab584097da6d5c80fcff9d4f19c7a/rls/src/actions/diagnostics.rs#L122-L130
* Rust-analyzer: https://github.com/rust-analyzer/rust-analyzer/blob/402bf53a09a3edbb0ff4c94bf22d94d484f81eb9/

[2020-03-25 21:25] spastorino commented on #70372
@rustbot assign @AminArria

[2020-03-25 21:30] Alexendoo commented on #66706
Things changed slightly from 342c5f33d097b2dc07a2dbc0ca45a37379d2ff60:

No longer ICEs:

[code]

[code]

Still ICEs:

[code]

[code]

[2020-03-25 21:32] ollie27 commented on #70393
Duplicate of #70025

[2020-03-25 21:32] #70393 closed

[2020-03-25 21:36] lcnr commented on #65813
This seems to be fixed on the most recent nighty.

Can't close this myself.

version : `rustc 1.43.0-nightly (564758c4c 2020-03-08)`

[2020-03-25 21:36] steveklabnik commented on #56997
Triage: it's been a while. Are you still seeing this, @vi?

[2020-03-25 21:40] spastorino commented on #70396
hmm I wonder if we should bump the priority to `P-high` then. Thoughts?.

[2020-03-25 21:41] woshilapin commented on #70314
For those who don't have a CircleCI account or don't want to create one, it seems that the build command is

[code]

[2020-03-25 21:51] Centril commented on #70396
(I want to push back on the notion of "breaking change" here, as it is typically associated with "you broke some stability guarantees", which isn't the case here AFAIK, and it would be pretty dangerous if we would have given such guarantees. That said, it would be nice to make more robust improvements here, but I agree with @petrochenkov re. "better than nothing".)

For now I think P-medium is app

[2020-03-25 21:52] eddyb commented on #70396
Isn't that what the macro backtrace is for? `"def_site_span"` is in the macro, while `"span"` is the invocation, if I'm reading the JSON correctly.

The change is that the `<... macros>` hack has been completely removed and now `Span`s pointing to the definition of a macro are identical in the same-crate and cross-crate cases. This means that for anything built locally by Cargo,

No tools should'v

[2020-03-25 21:56] Nadrieril commented on #70372
Absolutely !

[2020-03-25 22:02] Centril commented on #66706
@Alexendoo Would you be game to add the two cases no longer ICEing as tests in a PR?

[2020-03-25 22:05] Centril commented on #70400
I don't remember it vividly, but I recall that the info was useful when doing my initial investigation in https://github.com/rust-lang/rust/issues/67565. Could be wrong though.

Yeah I could do that, but it was a bit of a time saver not to have to do that work in my head. :)

[2020-03-25 22:12] Centril commented on #70372
@AminArria Thanks for tackling this. :)

I think it would also be neat to add some comments on `fn is_useful` around what it means to pass in "yes it has a guard", specifically that it shouldn't be relied on for soundness (i.e. in `check_not_useful`). Perhaps also consider an `enum HasGuard { Yes, No }` or some such for added robustness (consider also turning `is_top_level: bool` into `enum TopLev

[2020-03-25 22:15] Centril commented on #70372
👍 -- that seems like quite a reasonable tradeoff for what is a rare occurrence. :)

[2020-03-25 22:18] Alexendoo commented on #66706
Yeah no problem, I'll get on that tomorrow

[2020-03-25 22:50] #70317 closed

[2020-03-25 23:04] comath commented on #65813
Thanks, I'll test there @icnr

[2020-03-25 23:11] varkor commented on #70372
I don't think this is any more readable, or safe, than a `bool`. The variable name makes it very clear in the method, and we can comment the call site if that seems ambiguous.

[2020-03-26 00:50] lopsided98 commented on #69420
See #70414

[2020-03-26 01:37] jxs commented on #70314
thank you all for the support!
@woshilapin you have to checkout into the [PR branch](https://github.com/jxs/refinery/tree/target-migrations), but yeah I can't reproduce it locally, only launching tests from the `rustlang/rust:nightly` container
[i just tried with the latest version](https://app.circleci.com/pipelines/github/rust-db/refinery/318/workflows/bb49094d-6d0f-4ff2-b740-9243bebf4d9b/jobs/4

[2020-03-26 01:47] estebank commented on #69597
Non-lexical lifetimes were indeed stabilized in that we no longer borrow check on the AST, but there's more to [the `nll` feature](https://github.com/rust-lang/rust/issues/43234).

[2020-03-26 01:58] Centril commented on #64926
Some points:

- The pre-expansion gating of the syntax no longer happens. Post expansion gating is used now instead (so you might want to use that to your advantage).

- An RFC is perhaps unnecessary, but a detailed stabilization report could serve the same purpose, and we'd want that for any stabilization.

- To stabilize this now would be to extend the surface arena under which the soundness hol

[2020-03-26 02:11] CAD97 commented on #47720
I found a new instance of this. [[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a4e46a066a402d72793c7040ef8255cd)]

[code]

[2020-03-26 04:12] pfmooney commented on #55553
Once the referenced PRs are merged, and corresponding package versions are cut in order to update the cargo/rustup dependencies, I believe most of what we need will be in place.  Work on a cross-compile CI process is ongoing between @jclulow and I.

Necessary component PRs:
- [ ] alexcrichton/openssl-src-rs#56
- [ ] danburkert/fs2-rs#32
- [ ] alexcrichton/filetime#51
- [ ] rust-lang/git2-rs#535
-

[2020-03-26 05:36] #67565 closed

[2020-03-26 06:21] eddyb commented on #70408
Oh, as a side mention, if you need to validate that the typesystem doesn't contain any non-deduplicatable constants (e.g. `&STATIC` references), we can do it in WF checking, post-#70107.

[2020-03-26 07:26] eddyb opened #70419 "Instance::resolve doesn't have the exact same checks as associated type projection."
Specifically, this part of resolving associated `fn`/`const`s:
https://github.com/rust-lang/rust/blob/a17dd3608477a47741f97b907a61b6d81524ba4e/src/librustc_ty/instance.rs#L90-L100

Is missing this logic deciding whether an associated item is `default`:
https://github.com/rust-lang/rust/blob/a17dd3608477a47741f97b907a61b6d81524ba4e/src/librustc_trait_selection/traits/project.rs#L1018-L1042

Just fr

[2020-03-26 07:30] RalfJung commented on #64926
Also see https://github.com/rust-lang/rust/issues/63943 where the soundness hole is tracked.

[2020-03-26 08:47] dtolnay opened #70422 "Unable to find variable "NO_TYPE_FILTER" during ./x.py test"
When running `./x.py test` on my workstation (linux, x86_64) against the current master branch, it fails in the following way:

[code]

Mentioning @GuillaumeGomez and @kinnison because NO_TYPE_FILTER appears to be related to #69402. Any idea what may be going on?

Indeed rerunning the command that it says failed does fail:

[code]

The node version on my machine is:

[code]

[2020-03-26 09:08] Centril commented on #65490
- On 2020-03-26, https://github.com/rust-lang/rust/pull/70389, written by @Centril and reviewed by @mark-i-m, landed. The PR fixed some bugs in diagnostics where we would end up using `_` as the name of the place when matching on a temporary. Now it says *"value"* in the diagnostic instead.

[2020-03-26 09:38] apopiak opened #70423 "Rustc gives out-of-date/misleading help on macro-backtrace"
rustc gives out-of-date/misleading help on macro-backtrace.

[This PR](https://github.com/rust-lang/rust/commit/f6fc80206e9600ae753cdfbd762fb982afca48b0) seems to have changed the flag (from `external-macro-backtrace` to `macro-backtrace`), but not updated the help.

I tried this code:
[code]

I expected to see this happen:
Warning that I have missing docs with a note on how to achieve this when i

[2020-03-26 09:39] Centril commented on #70423
cc @eddyb

[2020-03-26 09:43] apopiak commented on #70423
mmh, just checked out rust and it seems it's already fixed in `master`, just not in `nightly`

[2020-03-26 09:46] apopiak commented on #70423
aaand I think I might have only gotten the misleading warning on `stable`, not on `nightly` :grimacing:

[2020-03-26 09:48] apopiak commented on #70423
jep, confirmed that the confusing note was on stable, will close

[2020-03-26 09:48] #70423 closed

[2020-03-26 10:40] #70346 closed

[2020-03-26 11:05] Centril commented on #52981
Current output seems pretty decent and explains the problem well.

[2020-03-26 11:05] #52981 closed

[2020-03-26 11:09] Centril commented on #48899
Now we have:
[code]

[2020-03-26 11:09] #48899 closed

[2020-03-26 11:20] Centril commented on #43495
We now recognize this as a struct and emit a good error:
[code]

[2020-03-26 11:20] #43495 closed

[2020-03-26 11:22] Centril commented on #44507
[code]
with `#![feature(nll)]`, so I think we can close this.

[2020-03-26 11:22] #44507 closed

[2020-03-26 11:25] Centril commented on #37205
Triage: we now emit:
[code]

@KiChjang do you expect the example to compile successfully? If not, I think we can close.

[2020-03-26 11:27] Centril commented on #38633
cc @petrochenkov -- I think we should close this, as it would be too hacky and arbitrary to provide good diagnostics in this case.

[2020-03-26 11:29] Centril commented on #38634
Closing in favor of https://github.com/rust-lang/rust/issues/68972.

[2020-03-26 11:29] #38634 closed

[2020-03-26 11:34] Centril commented on #34421
Current output:
[code]
(Notice that we recover -- it's not a fatal error now.)

[2020-03-26 11:36] Centril commented on #32059
cc @matklad re. lexer impl.

[2020-03-26 11:37] petrochenkov commented on #38633
I agree.

[2020-03-26 11:37] #38633 closed

[2020-03-26 11:42] Centril commented on #31745
Could someone add a reproducer to this issue?

[2020-03-26 11:44] Centril commented on #22488
@estebank The error message seems pretty good... let's close this?

[2020-03-26 11:59] calixteman opened #70426 "Some functions are inlined when they shouldn't"
Here is the code:
[code]
and then run `rustc -Cinline-threshold=0 --emit=llvm-ir plop.rs && rg '::new' plop.ll`.
The output is:
[code]
According to https://doc.rust-lang.org/rustc/codegen-options/index.html#inline-threshold, `A::new` shouldn't be inlined.

[2020-03-26 12:10] jonas-schievink commented on #70426
The docs don't mention what a threshold of 0 means, perhaps LLVMs cost model determines that the cost of inlining that function is in fact 0.

[2020-03-26 12:13] calixteman commented on #70426
I'm reading here `only inlines always-inline functions`.

[2020-03-26 12:17] jonas-schievink commented on #70426
That's opt-level=0, not inline-threshold=0

[2020-03-26 12:21] KiChjang commented on #37205
It should compile, yes. I haven't heard a specific reason why we shouldn't allow macro declarations in impl blocks.

[2020-03-26 12:24] Centril commented on #37205
I'm not sure exactly how such a thing would interact with resolve, if e.g., the impl has type parameters... is this macro only local to the impl, and what about if it is exported?

cc @petrochenkov

[2020-03-26 12:37] calixteman commented on #70426
My bad, you're right.
Anyway, the result is the same with `-C opt-level=0`.

[2020-03-26 12:41] petrochenkov commented on #37205
Why should we?
Impls are entirely about type-relative stuff.
We don't have associated macros, we don't want to resolve macros during type-checking, so we don't support macros in impls.

We could implement this only for `macro_rules` with their `let`-like scoping and not for `macro` items, but it would be strange to support a new exclusive feature for something we eventually want to replace.

[2020-03-26 13:04] jonhere commented on #64552
One **workaround** is an explicit Send wrapper.
[code]

[2020-03-26 14:07] TimotheeGerber opened #70431 "rustdoc on a standalone markdown file fails with an unclear error message"
I tried this command:

[code]

I expected the command to finish without error and the creation of the file `README.html` or `doc/README.html`.

Instead, I got the following error message:
[code]
Indeed, this file does not exist and we expected the command to create it! The error message is not really helping in this case and does not explain that it cannot create the file because the directory `do

[2020-03-26 14:14] steffahn opened #70432 "Macro Invocations Behave Questionable Regarding Semicolons"
### Calling Statement Macros with “return values”?
Macros can be used both for expressions and for sequences of statements. The latter being useful to create new definitions (e.g. one or even multiple `let` clause(s)).

I’m observing that the general rule that _expressions ending in a “Block” of type `()` don’t need a semicolon when used as a statement_ translates in a weird way to even macros wit

[2020-03-26 14:17] KiChjang commented on #37205
This issue was created before macro items were introduced, so if that can introduce proper scoping so that it's able to be used in methods, then there's no need to have macro declarations in impl blocks.

[2020-03-26 14:24] scalar438 opened #70433 "Confusing error message"
I tried this code:

[code]

I expected to see error like "error[E0381]: use of possibly-uninitialized variable". But instead I got error "use of moved value: `activity`". [Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=5c0758aacb9c18d2f2c3a070124f7253). It happens on nightly and stable and seems very confusing.

[2020-03-26 14:35] steffahn commented on #70433
Smaller example:

[code]

([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=0afaec45010e35e090dcab41201b0ba8))

Errors:

[code]

[2020-03-26 14:44] nikomatsakis commented on #70314
A few questions:

* Have we ruled out that this is a duplicate of https://github.com/rust-lang/rust/issues/70185?
* @jxs if you are able to reproduce, can you try to identify which nightly caused the behavior to change? There is some [advice available on how to bisect](https://rustc-dev-guide.rust-lang.org/ice-breaker/cleanup-crew.html#bisecting-regressions) as well.

[2020-03-26 14:50] pnkfelix commented on #69841
I'm volunteering to mentor someone through resolving this bug.

[2020-03-26 14:57] steffahn commented on #70433
Gives correct error in 1.35.0. First appears (in stable) in 1.36.0.

[2020-03-26 15:27] AnthonyMikh commented on #49976
@ExpHP do you still have plans to make a PR for this feature?

[2020-03-26 15:38] #62691 closed

[2020-03-26 15:38] #66544 closed

[2020-03-26 15:38] #70388 closed

[2020-03-26 15:50] lzutao commented on #69841
Doesn6 this bug only need a submodule update?

[2020-03-26 16:01] Dujunayan commented on #44109
i got this issue , any solution ?

[2020-03-26 16:20] estebank commented on #22488
@Centril I still think that [we should see if any associated function would fit the bill](https://github.com/rust-lang/rust/issues/22488#issuecomment-336316560). Definitely low priority now given the other improvements on the error.

[2020-03-26 16:22] jxs commented on #70314
@nikomatsakis
rustc version: `rustc 1.44.0-nightly (02046a5d4 2020-03-24)`
steps i used to reproduce locally:
[code]

i am now going to try and bisect to find at which nightly did this start

[2020-03-26 16:33] cuviper commented on #69841
It needs someone to do the LLVM backport, as @nikic suggested above, in a PR to rust-lang/llvm-project. Then yes, it's a submodule update here, with a regression test if possible.

[2020-03-26 16:50] petrochenkov commented on #70432
This issue is very similar to https://github.com/rust-lang/rust/issues/61733.

[2020-03-26 16:52] Thomasdezeeuw opened #70436 "Add io::Write::write_all_vectored"
In the `io::Write` trait we've got the helpful `write_all` method, which calls `write` in a loop to write all bytes. However there is no such function for `write_vectored`. I would suggest adding a function called `write_all_vectored` to performance such a task.

A possible implementation. Note that `bufs` is a mutable slice, also see the discussion in https://github.com/rust-lang/futures-rs/pull/

[2020-03-26 17:15] Dujunayan commented on #44109
<img width="1161" alt="Screen Shot 2020-03-26 at 6 10 50 PM" src="https://user-images.githubusercontent.com/51866960/77675767-a8209180-6f8d-11ea-83c7-fb772b710ed5.png">

[2020-03-26 17:27] eddyb commented on #44109
@Dujunayan This was stabilized back in October 2019, try updating your Rust.

[2020-03-26 18:09] eddyb commented on #69060
I've done some local experiments and I can't cause this on nightly, even by doing this:
[code]
for several values of `$N`, then running `summarize diff` and looking at the counts.

<hr/>

Next thing I'm going to do is build a local `rustc` with `channel = "nightly"`, which will hopefully include a git hash, and then add an empty git commit to get it to change.
My assumption is that Cargo will embe

[2020-03-26 18:15] AminArria commented on #70314
@nikomatsakis @jxs  result of `cargo bisect-rustc`

[code]

[2020-03-26 18:30] moxian opened #70439 "Missed optimization: concatenating fixed-size arrays"
The following three functions are the same semantically - they pack two `u64`s into 16 bytes in big-endian order, but produce different assembly:

[code]

Credits to @memoryruins for coming up with `test3`.

Godbolt link: https://godbolt.org/z/4QaBp4

It is surprising that naive implementation (`test1`) produces worse assembly than the other two. I was told I should report this here as a bug.

###

[2020-03-26 18:39] moxian commented on #70439
This might be related to #62446 and/or #67484

[2020-03-26 18:53] Mark-Simulacrum commented on #69060
Hm, FWIW perf does not use nightly channel, but maybe you can try the above we pre-produced artifacts? (We can look at some PR changing unimportant things like README or triagebot.toml, if they exist given rollups).

But building locally should work too, you may need to disable ignore-git though in config.toml.

[2020-03-26 19:26] eddyb commented on #69060
@Mark-Simulacrum pointed out that some paths may differ, but building two copies of `syn` with the same compiler, while it does result in different artifacts (since `--remap-path-prefix` wasn't used), the query counts do stay the same.

[2020-03-26 19:36] eddyb commented on #69060
Just realized I've been doing all my testing without `CARGO_INCREMENTAL=1`, so if this requires both release mode *and* incremental builds, I might've missed it.

[2020-03-26 19:38] jxs commented on #70314
yeah got the same results:
[code]

[2020-03-26 19:38] #68895 closed

[2020-03-26 19:42] eddyb commented on #69296
This is a duplicate of #43408 (of which tend to be many, sadly).

[2020-03-26 19:42] #69296 closed

[2020-03-26 19:52] ExpHP commented on #49976
Nope, totally forgot about this!  Feel free to take the reins.

(looking back, it seems I went ahead with the test suite PR (#50010), but that long enough to merge that by the time it was done I must have moved on to other things.)

[2020-03-26 19:55] eddyb commented on #69060
I was able to reproduce this once, but I'm not sure I know all the factors, I had:
* different `rustc -vV` output (but built from the same source)
* different build dirs for `syn`
* `--release` mode
* `CARGO_INCREMENTAL=1`

| Item                                          | Self Time     | Self Time Change | Time          | Time Change | Item count | Cache hits | Blocked time | Incremental load tim

[2020-03-26 20:16] cramertj commented on #70436
cc @sfackler, @withoutboats

[2020-03-26 20:16] eddyb commented on #69060
This seems to repro as well:
[code]

| Item                                          | Self Time     | Self Time Change | Time          | Time Change | Item count | Cache hits | Blocked time | Incremental load time |
|-|-|-|-|-|-|-|-|-|
| metadata_decode_entry                         | -51.316108ms   | -55.44%          | -71.070789ms   | -54.85%     | +1         | +0         | +0ns         | +0ns

[2020-03-26 20:20] Mark-Simulacrum opened #70440 "regression: failed to resolve console_error_panic_hook"
A bunch of crates are failing with the following error on beta.

[code]

Number of crates regressed: 31

<details>

- [`CallumJHays/wasm-bindgen-futures-test`](https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/gh/CallumJHays.wasm-bindgen-futures-test/log.txt)
- [`FilipLitwora/Assembly-Studio`](https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/gh/FilipLitwora.Ass

[2020-03-26 20:20] sfackler commented on #70436
The main API question I have (which is more about IoSlice::advance than this I guess) is if we're okay saying that the content of the `bufs` slice is unspecified after this call returns. It's probably fine, but just one "weird" affect that you may not naively expect.

[2020-03-26 20:29] eddyb commented on #69060
*Which* queries are redone seems consistent for a given `rustc -vV` output, and I went and changed `rust-4-stage1` (by adding another empty commit) and got this instead:

| Item                                          | Self Time     | Self Time Change | Time          | Time Change | Item count | Cache hits | Blocked time | Incremental load time |
|-|-|-|-|-|-|-|-|-|
| param_env

[2020-03-26 20:31] lcnr commented on #67075
@rustbot claim

[2020-03-26 20:33] lcnr commented on #66615
@rustbot claim

[2020-03-26 20:52] clintfred commented on #55105
This error went away for me this week, but I'm not sure why. I did apply some system updates (kubuntu 19.10) so perhaps clang fixed this upstream? I am able to use `-C lto` inside of `cross` without error

`cross rustc --target i686-linux-android --release -p ironoxide-android -- -C lto` now works and was giving me "ran out of registers" earlier.

[code]

[2020-03-26 21:03] nikomatsakis opened #70442 "blank specializing impls don't "lock in" defaults"
I believe RFC 2532 changed the behavior so that a "blank impl" effectively "locks in" inherited defaults. This means that, in this code, the `()` impl "locks in" the associated type value of `bool`:

[code]

However, we currently get two errors ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9d6e5e5963faba475add53476dbd5935)):

[code]

[2020-03-26 21:04] nikomatsakis commented on #70442
This was an oversight in https://github.com/rust-lang/rust/pull/61812 (cc @jonas-schievink -- sorry, I missed this interaction!)

[2020-03-26 21:07] Mark-Simulacrum opened #70443 "regression: mismatched types (lifetimes)"
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/gh/FlorianFranzen.dx/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/reg/granne-0.5.0/log.txt

Based on the error context, this looks correct, but I am uncertain. Filing a bug.

Each of these might be separate bugs, it is unclear based on the error messages. Certainly they look similar.

cc @matthewjasp

[2020-03-26 21:08] Mark-Simulacrum opened #70444 "regression: mismatched types"
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/gh/finegeometer.vector-spaces-rs/log.txt

It looks like type parameter order got switched somewhere somehow, though I am unclear how that managed to happen. Possibly related to recent inference work to make binary operators work for references?

[2020-03-26 21:12] Mark-Simulacrum opened #70445 "regression: assertion failed: data.is_empty()"
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/reg/in_stream-0.0.45-alpha1/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/reg/jnix-0.2.1/log.txt

[2020-03-26 21:13] Mark-Simulacrum commented on #70444
Also leaving https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/reg/yass-aux-0.1.1/log.txt here in case it's the same underlying bug (looks quite similar at a high level) but we should file a separate issue if not.

[2020-03-26 21:13] Mark-Simulacrum commented on #70444
cc @Aaron1011 who I think has done some inference related work recently

[2020-03-26 21:14] petrochenkov commented on #66615
Is it *useful* to disambiguate between `()` type and `()` value in generic argument?

The disambiguation is done for `IDENT` type vs `IDENT` value only because it's a super common case, so we can afford paying for it with more complexity and special cases. I'm not sure this is the case for `()`.

[2020-03-26 21:14] Mark-Simulacrum commented on #70147
* https://github.com/rust-lang/rust/issues/70440

Cargo changed behavior on cfg(debug_assertions)-gated dependencies, pinged ehuss on Discord. Possibly related to #70440 as well but have not checked.

* https://github.com/rust-lang/rust/issues/70443
* https://github.com/rust-lang/rust/issues/70444
* https://github.com/rust-lang/rust/issues/70445

Also pinged Centril about https://crater-reports.s3

[2020-03-26 21:15] varkor commented on #66615
It makes the language more consistent, though it's definitely a less useful case than with identifiers. Let's see how much additional complexity it adds to support this case, and if it seems disproportionate, then we can re-evaluate.

[2020-03-26 21:17] Mark-Simulacrum opened #70446 "regression: local ambiguity: multiple parsing options: built-in NTs lifetime"
https://crater-reports.s3.amazonaws.com/beta-1.43-1/beta-2020-03-12/reg/pin-project-lite-0.1.4/log.txt

cc @Centril

[2020-03-26 21:21] Centril commented on #70446
Possibly accidentally injected by https://github.com/rust-lang/rust/pull/70074.
Would be good to find out why this is happening, so let's @rustbot ping cleanup
and see if we can bisect / shrink the problem down to something usable for finding a fix.

[2020-03-26 21:21] Centril commented on #70446
@rustbot ping cleanup

[2020-03-26 21:33] nikic commented on #49185
This flag has already been removed quite a while ago in #57021, so closing this.

[2020-03-26 21:33] #49185 closed

[2020-03-26 21:36] Centril commented on #70443
I think this is expected fallout from https://github.com/rust-lang/rust/pull/69340. Closing as wontfix.

[2020-03-26 21:36] #70443 closed

[2020-03-26 21:39] Centril commented on #70444
Closing as expected fallout from https://github.com/rust-lang/rust/pull/69340 and wontfix.

https://github.com/rust-lang/rust/issues/70444#issuecomment-604689732 might be unrelated though.

[2020-03-26 21:39] #70444 closed

[2020-03-26 21:40] Centril commented on #70445
cc @matthewjasper

[2020-03-26 22:03] nikomatsakis commented on #59490
So #65232 made good progress towards this goal by adding universes to the `'empty` regions and thus ensuring that we don't have any region `R1` where `forall<R2> { R2: R1 }` is true. However, this work did not extend to the NLL checker. Therefore, I think the major remaining work items are as follows:

* extend the NLL check to avoid a notion of a `'empty` value
* resolve the [confusing error mess

[2020-03-26 22:04] nikomatsakis commented on #59490
I'm looking some into that first point and will probably create a spin-out issue for it and put more details there.

[2020-03-26 22:11] eddyb commented on #69060
Looks like the difference is that for that last pair of runs, the one with extra query counts uses:
* `associated_item_def_ids` for `core::slice::SlicePartialEq`
* `trait_def` for `core::slice::BytewiseEquality`
* `def_span`, `param_env` and `issue33140_self_ty` for:
  * `core::slice::{{impl}}[127]`: https://github.com/rust-lang/rust/blob/f4c675c476c18b1a11041193f2f59d695b126bc8/src/libcore/slice/

[2020-03-26 22:16] ehuss commented on #70440
I didn't look at each package, but I believe this was resolved in #70244 (rolling up https://github.com/rust-lang/cargo/pull/8007).

[2020-03-26 22:21] LeSeulArtichaut commented on #70446
Failed to confirm that #70074 is the cause:
```tested 342c5f33d097b2dc07a2dbc0ca45a37379d2ff60, got Yes```
Seems like it regressed prior to 342c5f3

[2020-03-26 22:23] jonas-schievink commented on #69060
This iterates over an `FxHashMap`:

https://github.com/rust-lang/rust/blob/2fbb07525e2f07a815e780a4268b11916248b5a9/src/librustc_trait_selection/traits/specialize/specialization_graph.rs#L217

[2020-03-26 22:28] AminArria commented on #70446
[code]

For code I used:

[code]

[2020-03-26 22:32] Mark-Simulacrum commented on #70440
Sounds reasonable. Closing. Thanks!

[2020-03-26 22:32] #70440 closed

[2020-03-26 22:36] eddyb commented on #69060
I guess the order this loop iterates in matters because of side-effects? https://github.com/rust-lang/rust/blob/2fbb07525e2f07a815e780a4268b11916248b5a9/src/librustc_trait_selection/traits/specialize/specialization_graph.rs#L95

[2020-03-26 22:50] LeSeulArtichaut commented on #70446
@rustbot modify labels: -E-needs-bisection

[2020-03-26 22:57] clarfon commented on #61977
I believe that it's a strict limitation on the size of fat pointers. Unsized types require extra information to encode what their size is, and ditto for polymorphism. To get around it, you have to take a reference to the reference to the unsized type, which would be a thin pointer, and that can have the polymorphic info attached.

That in particular makes a lot of sense from an implementation pers

[2020-03-26 23:03] eddyb commented on #69060
Sorting `possible_siblings` going into that loop seems to fix the problem, but...

This is the `FxHashMap`: https://github.com/rust-lang/rust/blob/2fbb07525e2f07a815e780a4268b11916248b5a9/src/librustc/traits/specialization_graph.rs#L64

And `SimplifiedType` only has `DefId` leaves (and `usize` for some counts, irrelevant here): https://github.com/rust-lang/rust/blob/2fbb07525e2f07a815e780a4268b119

[2020-03-26 23:08] eddyb commented on #69060
As I was afraid, there's explicit sorting upstream, and I'm not sure it helps: https://github.com/rust-lang/rust/blob/2fbb07525e2f07a815e780a4268b11916248b5a9/src/librustc_trait_selection/traits/specialize/mod.rs#L308-L318

[2020-03-26 23:12] LeSeulArtichaut commented on #70446
[My progress on an MCVE so far](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=b0d289ad6cc238e3dda42054c305298d)

[2020-03-26 23:22] steffahn commented on #70446
Minimal example:
[code]

[2020-03-26 23:22] eddyb commented on #69060
@michaelwoerister @Zoxc Do you know what happens to `DefId` allocation for crates with the same contents but different `-C metadata` (so different def path root hash)?
I'm trying to figure out if sorting by `DefIndex` makes sense, in terms of being stable across *compiler version changes* (assuming the compiler and standard library do not otherwise change).

[2020-03-26 23:37] Amanieu commented on #67939
This API should return a `usize`, not a `u64`. `AtomicU64` isn't supported on all platforms, while `AtomicUsize` is. Also since threads share the address space, it should be possible to guarantee that an id fits in a `usize`.

[2020-03-26 23:44] LeSeulArtichaut commented on #70446
Split the macro in two parts to make it easier to follow, and removed the special lifetime `'static`:
[code]

([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=47ed3bab6f0881c774b9f93409c49a93))

Error:
[code]

I think we can now @rustbot modify labels: -E-needs-mcve

[2020-03-26 23:54] LeSeulArtichaut commented on #70446
I believe that the most probable culprit is #69384, cc @petrochenkov

[2020-03-27 00:01] #70372 closed

[2020-03-27 00:01] #37205 closed

[2020-03-27 00:02] jonas-schievink commented on #70442
Seems like this requires somewhat significant changes to the specialization graph – now we don't just need to know the most specialized impl defining the item, but also whether some applicable sub-impl finalizes that definition.

(this was initially induced by https://github.com/rust-lang/rust/pull/64564, assoc. type defaults aren't required)

[2020-03-27 00:06] jonas-schievink commented on #70442
I guess that's not quite true – this is always how specialization behaved, but I *meant* to change this behavior in #64564

[2020-03-27 00:47] Mark-Simulacrum commented on #67939
@Amanieu We currently use a u64 I think because (a sufficiently long lived) process could spawn more than 2^32 threads, not simultaneously. And currently we guarantee that the index is unique, i.e. will not wrap. I am unopposed to changing this, but we should do so in ThreadId::new and make a decision about behavior on wrapping.

[2020-03-27 01:19] eddyb opened #70453 "Should enum discriminants have generics in scope?"
### What are our options?
1. we teach name resolution (`rustc_resolve`) to hide `enum` generic parameters from the discriminant expression
    * this effectively enshrines that we don't want the parameterization to happen
    * I'm not sure this can be backwards-compatible with 2.
2. we keep the current name resolution support but error if we can't evaluate to concrete values
    * the concrete va

[2020-03-27 01:33] Amityville-DE opened #70454 "std::io::stdin().read_line(..) blocking in debug but not in release"
I expected the read_line function to block the thread until i press enter on my keyboard.
With `cargo run` (I think that is debug) everything is fine, but with `cargo build --release | target\release\myprog` the read_line function seems not to block the thread?

Windows 10
`cargo 1.42.0 (86334295e 2020-01-31)`
`rustc 1.42.0 (b8cedc004 2020-03-09)`
`rustup 1.21.1 (7832b2ebe 2019-12-20)`

I tried th

[2020-03-27 02:14] SchrodingerZhu opened #70455 "compilation panic at HIR step"
I tried this code:

[code]

## Error Message
[code]
## Toolchain

[code]

[2020-03-27 02:15] SchrodingerZhu commented on #70455
DUP

[2020-03-27 02:15] #70455 closed

[2020-03-27 02:36] programmerjake commented on #69270
This would be very useful for implementing an extensive C FFI API since most of the functions are unsafe externally but the functions' bodies don't necessarily need any unsafe code. Once this is stabilized, I will definitely be using this in [Kazan](https://salsa.debian.org/Kazan-team/kazan), the Vulkan driver I'm writing.

[2020-03-27 03:27] #66667 closed

[2020-03-27 03:28] rust-highfive opened #70456 "`clippy-driver` no longer builds after rust-lang/rust#70451"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70451, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritizat

[2020-03-27 04:49] Globidev commented on #36549
The original example [now compiles on beta](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=69dd76c2d670ef305b4859155e43601f) (I'm guessing due to the changes made to fix #57447 ?)
Maybe we can close this issue ?

[2020-03-27 06:47] Centril commented on #54883
- On 2020-03-27, https://github.com/rust-lang/rust/pull/70413, written by @AminArria and reviewed by @varkor, @Nadrieril, and @Centril, landed. The PR fixed https://github.com/rust-lang/rust/issues/70372, a false positive  in the linting behavior of `unreachable_patterns` when combining or-patterns, bindings, and guards.

[2020-03-27 07:05] petrochenkov commented on #70453
This seems equivalent to something like
[code]
where `T` is "obviously" in scope, it's just not concrete enough for a use in a constant (the current error is weird though).

I don't like the idea of hiding the name `T`, but if this is going to be done in resolve, we could setup a "barrier" making it an error to use it, like in this case
[code]
, but I'd still prefer the option 2.

[2020-03-27 07:59] eddyb commented on #70453
No, that's #43408, which is why I added `#![feature(const_generics)]` to enable the fix above.
[This is how it should work](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=46f25a1b6e2c6742fb0e0f13bac37da3) and maybe we should just apply an approach like #70452 to as many cases that won't cause query cycle errors, as we can, even before lazy normalization is ready with the

[2020-03-27 08:04] #55979 closed

[2020-03-27 08:14] joshlf opened #70460 "Implement conversion traits for usize/isize together with a portability lint"
[This PR](https://github.com/rust-lang/rust/pull/37423) was closed 3.5 years ago just prior to the development of the [portability lint RFC](https://github.com/rust-lang/rfcs/blob/master/text/1868-portability-lint.md). In light of the portability lint RFC having been accepted, we should be able to resurrect that PR.

This issue tracks that work.

[2020-03-27 08:36] eddyb commented on #66706
I think the reason these doesn't ICE anymore is a bug, the ICE itself wasn't fixed.
I'm saying that because I've just triggered it with the first commit of #70452, which should cover most of the WF hole around constants right now.

I'm guessing what's happening is #69981 introduced a bug, hiding the ICEs, as some of these cases no longer fail during type-checking, but with my changes, they do agai

[2020-03-27 09:19] RalfJung commented on #70356
Indeed, that would be a problem. And that problem is caught by

[2020-03-27 09:21] RalfJung commented on #70356
(Sorry for the double-post, GH keeps submitting comments for me way before I am done. Probably some silly trigger-happy shortcut.)

Indeed, that would be a problem. And that problem is caught by

https://github.com/rust-lang/rust/blob/6c19a10e24af157b96687ca8dc1b48ebac4b9489/src/librustc_mir/transform/const_prop.rs#L285-L287

which would reject and read from a mutable global allocation such as `A`

[2020-03-27 09:29] AlbertoGP commented on #63161
Another one here, looks like the same problem and it also went away for now after `cargo clean`.
[code]

[2020-03-27 09:48] LeSeulArtichaut commented on #70446
#69384 is indeed the culprit, I can reproduce the bug on b2605c118de31db9d61a9f7d0d158b9bf35f7a4a

[2020-03-27 09:56] Thomasdezeeuw commented on #70436
@sfackler I agree, but I don't know how an alternative that takes `&[IoSlice<'_>]`, like you would expect, would work.

[2020-03-27 09:58] eddyb commented on #69060
I'm starting to believe this is the culprit: https://github.com/rust-lang/rust/blob/b9ac29169ac541a64471b83d8019cd0b442f8065/src/librustc_metadata/rmeta/encoder.rs#L1454-L1457

The `impl`s are already in a stable order: that in which they appear within the crate.
But the `DefPathHash`es aren't stable across compilers, so this injects a non-deterministic order.

That is, I believe `DefIndex` is sta

[2020-03-27 10:13] #36549 closed

[2020-03-27 10:14] Ploppz opened #70461 "ICE: Switch on discriminant of non-ADT (running cargo clippy)"
This did not happe the first time I ran `cargo clippy`, but every subsequent time.
### Code

https://github.com/openanalytics/s3-algo/tree/ice
This tag.

### Meta
[code]

### Error output

[code]

[2020-03-27 10:20] djc commented on #42327
For cross-referencing purposes, an alternative formulation has been proposed on internals by @dureuill:

https://internals.rust-lang.org/t/a-slightly-more-general-easier-to-implement-alternative-to-the-try-trait/12034

[2020-03-27 10:32] eddyb commented on #69060
@Mark-Simulacrum If we want to avoid changing the compiler at all, there might be a way to guarantee stability of `DefPathHash`es across compiler versions, on `perf.rust-lang.org`:
1. redirect Cargo's use of `rustc` to a wrapper that changes the output of `-vV` to hide the commit hash entirely, making the before/after look identical to Cargo
    * note that the version *inside* `rustc` doesn't mat

[2020-03-27 10:39] jonas-schievink commented on #70461
Please update to the newest nightly and check if this is still an issue

[2020-03-27 10:56] Luro02 opened #70464 "Type inference + compiler message problems with closures and array of Option<&str>"
I tried this code:

[code]

I expected to see this happen: it should allocate a string with the size of 16 + the length of the first string + the length of all other elements + 4

Instead, this happened:

[code]

Okay this message is kind of wrong? I mean my type is `usize` and the compiler seems to know that so what should I annotate? (I think it wants me to annotate the `s + 4` which desugars to

[2020-03-27 10:57] uploy opened #70465 "build a macro `String` in std::string"
I hope to build a macro `String` in std::string

[code]

usage
[code]

[2020-03-27 11:20] steffahn commented on #70432
@rustbot modify labels to A-macros, A-frontend, and A-parser.

[2020-03-27 11:22] sfackler commented on #70436
It could for example perform vectored writes when the current cursor position is at a slice boundry and switch to a normal write_all if it's in the middle of one of the slices.

[2020-03-27 11:26] popzxc opened #70466 "Template structures deriving `Clone` unreasonably require the template type to implement `Clone`"
For template structures, which only use the type parameter to have a reference, deriving `Clone` does not seem to work properly (or at least works counterintuitively).

Simplified example:

[code]

The code above produces the following compile error:

[code]

Since we only have a reference, this field can be just copied, and `Clone` implementation of `T` is not required.

And indeed, the manual `C

[2020-03-27 11:27] jonas-schievink commented on #70465
Hi! Additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-03-27 11:27] #70465 closed

[2020-03-27 11:28] steffahn commented on #70432
@rustbot modify labels to +T-lang and +C-bug.

[2020-03-27 11:28] jonas-schievink commented on #70466
duplicate of https://github.com/rust-lang/rust/issues/26925

[2020-03-27 11:28] #70466 closed

[2020-03-27 11:59] Thomasdezeeuw commented on #70436
But then you're missing out on the efficiency of vectored writes, if that were the case I wouldn't consider using it.

[2020-03-27 12:14] sfackler commented on #70436
You are only missing out on the efficienty of vectored writes some of the time.

[2020-03-27 12:17] eddyb opened #70468 "LLVM build output spew doubles the size CI logs."
Out of the 12622 log lines in a recent `dist-x86_64-linux` build:
* 4843 of them are from the LLVM build itself
  * half of those are printing the file being compiled
  * the other half is this warning for every compiler invocation:
[code]
* 1693 are from installing the LLVM build

So that's 6536 lines, over half of the log, that's noise from a successful LLVM build.

The result is slowed down log

[2020-03-27 12:17] sfackler commented on #70454
Why are you piping the output of cargo build into your program?

[2020-03-27 12:20] Thomasdezeeuw commented on #70436
True, but with the implementation I provided (which I still admit isn't great) you don't miss out. I've made the point already in https://github.com/rust-lang/futures-rs/pull/1741#discussion_r398715869, but personally I don't its really a big deal that the provided slice is modified. In most cases I imagine the `bufs` slice being build just before this call and only used in this call.

[2020-03-27 12:28] eddyb opened #70469 "`ninja` is only used in Windows builds on CI."
AFAICT this is the only thing that adds `--enable-ninja`, and it's Windows-only:
https://github.com/rust-lang/rust/blob/b9ac29169ac541a64471b83d8019cd0b442f8065/src/ci/scripts/install-ninja.sh#L9-L16

We also autodetect `ninja` and use it, but only for MSVC specifically (#43767 / #44084).

On top of being (supposedly) faster than relying on `make`, IME `ninja` also has less log spew when building

[2020-03-27 12:39] lcnr opened #70471 "const_generics with default arguments"
Should the following code be accepted?
[code]
if so, we probably also want to accept the following:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a80b3b2c8ebe0860a4ea9d1faae1d581)

cc @varkor @eddyb

[2020-03-27 13:21] eddyb opened #70472 "CI logs should be split by build steps, or stages at the very least."
Right now most of the build is under a single "run the build" CI step, which results in massive logs (e.g. #70468), even if for common tasks like looking at a failure, only a small part is relevant.

At the very least we could do something like this to split it up:
* `./x.py build --stage 0`
* `./x.py build --stage 1`
* `./x.py build`
* `./x.py test`

This would be trickier with `distcheck`, I sup

[2020-03-27 13:28] RalfJung commented on #70454
The release equivalent of `cargo run` is `cargo run --release`, does that block?

Also indeed that `|` there makes very little sense, maybe you meant `&&`?

[2020-03-27 13:29] RReverser opened #70473 "#[repr(transparent)] for str and String"
Similarly to https://github.com/rust-lang/rust/issues/52976, I'd suggest that `str` and `String` should have a guaranteed transparent representation of `[u8]` and `Vec<u8>` correspondingly.

They are a newtype wrappers of these types under the hood anyway, and I don't see any reasons why they would need to behave differently in the future, and making them different probably would become a breaking

[2020-03-27 13:34] steveklabnik commented on #40594
Triage: this still overflows.

[2020-03-27 13:34] steveklabnik commented on #60689
Triage: I don't think this was ever implemented.

[2020-03-27 14:16] calime opened #70475 "Rustdoc shouldn't document a struct's associated constants as methods"
When writing associated constants in a struct's implementation, those constants appear under the `Methods` section. Here's a minimal example:
[code]
`$ cargo doc`

For traits though, they appear under `Associated Constants`:
[code]
There should also be an `Associated Constants` section for struct documentation.

[2020-03-27 14:23] alexreg commented on #59656
What are the current thoughts on this, generally?

[2020-03-27 14:27] antoyo opened #70476 "Anchor to trait item in rustdoc does not expand the trait"
The link https://docs.rs/webkit2gtk/0.9.0/webkit2gtk/struct.WebViewClass.html#get_type.v does not expand the trait, so we don't see the anchor.

cc @GuillaumeGomez

[2020-03-27 15:46] rcoh commented on #66000
@rustbot claim

[2020-03-27 16:09] #67865 closed

[2020-03-27 16:42] Ploppz commented on #70461
Seems fine, thanks.

[2020-03-27 16:42] #70461 closed

[2020-03-27 16:54] Amityville-DE commented on #70454
`cargo run --release` works as expected

I just piped it in because i did not use any `std::env::args` anyway, but yes that is not a really good command. I used it because I think in Windows Powershell `&&` is not working.

`carg build --release` and `.\target\release\myprog.exe` are also working as expected.
I think this issue can be closed.
Thank you.

[2020-03-27 16:54] #70454 closed

[2020-03-27 17:51] pnkfelix commented on #69841
@nikic , when you [wrote](https://github.com/rust-lang/rust/issues/69841#issuecomment-598318490):

are the "before"/"after" referring to portions of that diff? Or to commits in a series? (in other words, what is the implicit sequence of things referenced there?)

My current inference is that the "part after it" that you are saying we need to drop the changes that are in `static bool isKnownNonNull

[2020-03-27 17:55] nikic commented on #69841
Yup, that's right. The changes to `isKnownNonNullFromDominatingCondition()` are a new optimization that shouldn't be backported. The rest are fixes for issues that this new optimization exposed, but which are also reproducible (as this issue shows) without it.

[2020-03-27 18:03] cramertj commented on #70436
One possibility would be to keep a fixed-size buffer of, say, `[IoSlice<'_>; 128]` and copy sections of the caller's slice into that, pairing it with an index for the last-most unwritten `IoSlice` . It's more complicated in that you have to re-load that `IoSlice` at some clever point in order to both minimize shifting but also maximize the number of `IoSlice`s being offered to the underlying reade

[2020-03-27 18:40] pnkfelix commented on #69841
Okay, so here are my mentoring notes:

 1. Adapt the code on this issue into a regression test. Make sure you have a test that fails. (Note that the issue as written is not a failing test; it just has differing stdout output, which is not really usually how we write our regression tests on this project. E.g. a panic! in the `else` block would be more in line with how we usually do things.)

 2. Gr

[2020-03-27 19:37] steveklabnik commented on #54444
Triage: no change

[2020-03-27 19:54] briansmith commented on #70148
AFAICT using these flags is the only way to get code coverage reporting working. A lot of projects (all that I've been associated with) build everything with stable Rust but then do code coverage using nightly Rust + these unstable flags. Temporarily I've reverted back to a 2020-03-11 nightly for this as a workaround, but that workaround will stop working effectively in once Stable Rust is no long

[2020-03-27 20:15] bjorn3 commented on #69841
Just append `.diff` to the commit url, like so: https://github.com/llvm/llvm-project/commit/a7d992c0f2d235c67f04160405c5c5606408d4b1.diff

[2020-03-27 20:48] eddyb commented on #60163
Remaining possible renames:
* `associated` -> `assoc`, `Associated` -> `Assoc`: https://github.com/rust-lang/rust/blob/75208942f6144daac669e8e382029fc33bdce841/src/librustc/query/mod.rs#L374-L381
* `Method` -> `Fn`: https://github.com/rust-lang/rust/blob/75208942f6144daac669e8e382029fc33bdce841/src/librustc/ty/mod.rs#L203-L208
* `method` -> `fn`: https://github.com/rust-lang/rust/blob/75208942f614

[2020-03-27 21:17] Aaron1011 opened #70482 "Unhelpful 'possible better candidate' message on enum struct/tuple variant mismatch"
The following code

[code]

gives the following error message:

[code]
The 'help' message is not actually very helpful here. We're matching on an instance of `Foo`, so it would never make sense to change a pattern to a variant of a completely different enum.

This error message is emitted before type-checking, so it might be difficult to check if the pattern would have been correct if not for the

[2020-03-27 21:18] Aaron1011 commented on #70482
@rustbot modify labels to +A-diagnostics

[2020-03-27 22:28] Lokathor opened #70484 "[rustdoc] Please add support for `Self` in inter-method docs links"
Currently if you have a link in a method's docs to another method on the same type you have to put it as

[code]

It would be helpful if `Self` was recognized when linking to other methods of the same type.

[code]

[2020-03-27 22:30] Dylan-DPC commented on #60551
The error now is:
[code]

[2020-03-27 22:35] eddyb commented on #69060
From https://github.com/rust-lang/rust/pull/70462#issuecomment-605342285:

So we'd need to investigate the codegen/LLVM non-determinism separately. And that will be harder since it's all timing differences, not a discrete quantity query counts.

@Mark-Simulacrum What might be useful is grabbing `-Zself-profile` data from multiple runs, with the same compiler and with compilers that only differ in

[2020-03-27 22:38] DutchGhost commented on #60735
Im willing to give this a shot in the weekend and next week!

[2020-03-27 22:42] Dylan-DPC commented on #60735
@rustbot assign @DutchGhost

[2020-03-27 23:06] Dylan-DPC commented on #61537
The error message now is:

[code]

[2020-03-27 23:11] Dylan-DPC commented on #61935
The error is now:
[code]

[2020-03-27 23:25] Mark-Simulacrum commented on #67058
I've opened up a PR with the rename and stabilization: https://github.com/rust-lang/rust/pull/70487

[2020-03-27 23:47] zserik commented on #42327
@Lokathor
Ok, I thought about it more deeply and think I might have found a rather good explanation.

## Using an annotation

The problem is the interpretation of the return type or weird annotations would clutter the code. It would be possible, but it would make code harder to read. (Precondition: `#[debug_result]` does apply your wanted behavoir, and modifies a function to panic in release mode

[2020-03-28 01:14] goffrie opened #70488 "Async performance regression"
See https://github.com/rust-lang/rust/pull/69033#issuecomment-605357808; @kpp reports a 200%+ regression on some futures microbenchmarks, e.g.:

[code]

The benchmarks are at https://github.com/kpp/futures-async-combinators/.

I bisected this to 57e1da59cd0761330b4ea8d47b16340a78eeafa9, which most likely implicates #69837.

[2020-03-28 03:10] rcoh commented on #60762
@rustbot claim

Working on this now, should have a diff in a few days

[2020-03-28 03:16] mimoo opened #70489 "linking with `cc` failed: multiple definition of `__muloti4'"
Hello,

I'm running into a link failure with `cc` and I'm not sure how to investigate this. I'm also running out of ideas.

[code]

This will compile with clang 10 on ubuntu xenial:

[code]

I'm getting this error:

[code]

[2020-03-28 03:43] #34421 closed

[2020-03-28 03:43] #67259 closed

[2020-03-28 06:19] jonas-schievink commented on #70488
Can reproduce. The regression comes from changing the discriminant type from u32 to u8 (or whatever fits best, which almost always is u8), exposing the niche does not regress performance much.

Isn't x86 generally less efficient when dealing with <32 bit words? In that case we might want to consider doing this optimization conditionally, since it can be a somewhat significant RAM saving on smaller

[2020-03-28 06:48] comex opened #70490 "unused_parens incorrectly lints on `if let Ok(x) = (try { ...`"
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=32dff2ee98cb5c7d41ed4969e6aa8e1c)
This produces a lint:
[code]
But removing the parentheses produces an error.

This bug was already mentioned in #42528, but that issue is lost in feature-request purgatory since it asks for the version without parentheses to be allowed.  I'm opening this issue to track the i

[2020-03-28 06:51] haoel opened #70491 "How to return a reference in Rust closure"
I have the following rust code cannot be compiled.

[code]
And the compiler gave the following error message.

[code]
I tried to add the lifetime for name closure.
[code]
I just want to know how to add the lifetime for anonymous function?

[2020-03-28 06:54] jonas-schievink commented on #70491
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-03-28 06:54] #70491 closed

[2020-03-28 08:11] ayushmishra2005 commented on #70336
@rustbot claim

[2020-03-28 08:39] #69975 closed

[2020-03-28 09:40] Dhan-An-Jay commented on #25289
If You are Mac user then try below command into terminal,
xcode-select --install

I have tried for Mac and now my rust is started using it.....

[2020-03-28 09:42] Dhan-An-Jay commented on #25289
xcode-select --install

above repair will works fine... I have updated my os from 10.12 to 10.14 (Catalina) and I have started getting above problem, So to solve above issue use above command into terminal.....

thank you!

[2020-03-28 09:42] Dhan-An-Jay commented on #60149
If You are Mac user then try below command into terminal,
xcode-select --install

I have tried for Mac and now my rust is started using it.....

[2020-03-28 09:44] Dhan-An-Jay commented on #60149
After. updating the OS from 10.12 to 10.14 Catalina then I have started getting this issue, So to solve this incompatible issue I have updated my Xcode developer kit using. below command and its started working out, so please try it once, I have tried and its solved now...I can execute my cargo and its working as expected

xcode-select --install

[2020-03-28 09:57] mitsuhiko opened #70492 "Tests do not set thread name when concurrency is disabled"
Currently there are only workarounds for getting the test name from the current running test. The main one that people use is the thread name, but that does not work when tests are run with `--test-threads=1`.

I believe it would be beneficial to spawn a thread anyways so that the test name is discoverable. Alternatively — and maybe that's the better solution — there should be an API to discover t

[2020-03-28 10:54] bkaestner opened #70494 "Should `TryFrom` get mentioned in AsRef/AsMut?"
Both `AsMut` as well as `AsRef`'s documentation contain the following note:

This wording was added in 58d2c7909f9 and 6cda8e4eaac back in 2016/01. It was also very similar in `From` and `Into` up to 71bdeb022a9, where the explicit mention of dedicated methods was replaced by a link to the `Try*` variants.

Since `TryFrom` is now stabilized, one could go ahead and write `AsRef` variants via `try_f

[2020-03-28 11:32] RalfJung commented on #70492
This used to be how libtest operates. Unfortunately, that makes libtest not work in environments where threads cannot be spawned, such as [Miri](https://github.com/rust-lang/miri/). That's why I made it now spawn threads when parallelism is disabled (https://github.com/rust-lang/rust/pull/56243).

However, this could also be achieved by disabling tests on `cfg(miri)`. We just try to keep those to

[2020-03-28 11:54] denisandroid opened #70496 "The ability to remove the warning `label name `T` shadows a label name that is already in scope`"
It was necessary to generate such code, everything works, but I get warning. The question is how to remove this warning if the “rust” does not give such an opportunity, or is there an error here?

Executable code:
[code]
Output:
[code]

Play: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=28fa5504d1c601d272e5cef0f2b66cbc

Version:
[code]

[2020-03-28 12:24] kpp opened #70497 "No insert-sideeffect can wipe off overflow checks"
I wanted to replace a call to `panic` with a `ud2` instruction only, so I implemented a dummy panic handler which does nothing, enabled overflow checks and lto.

I tried this code:

[code]

[code]

I expected to see this happen: `imul + jo to ud2`.

Or at least a possible asm output:

[code]

Instead, this happened:

[code]

`cargo +nightly rustc -- -Z insert-sideeffect` helped me to keep `jo to c

[2020-03-28 13:13] Mark-Simulacrum commented on #70497
I don't think a separate issue here is helpful; this has the exact same causes and effects as the primary issue. If you want this and are willing to use nightly, `core::intrinsics::abort()` will compile to ud2 or similar.

[2020-03-28 13:13] #70497 closed

[2020-03-28 13:19] Mark-Simulacrum commented on #70492
Hm, can we perhaps set the thread name for the current thread? std doesn't provide a way to do it, but I know e.g. postgres does something like that.

In the multithreaded case, are we spawning a dedicated thread per test? That seems potentially quite costly, I would've expected some sort of thread pool (though likely without work stealing or anything fancy).

[2020-03-28 13:27] RalfJung commented on #70492
I think so:

https://github.com/rust-lang/rust/blob/b76238a3ee5ebffbad8a3aefd36012f3bceb7069/src/libtest/lib.rs#L472

[2020-03-28 13:38] est31 commented on #61935
@Dylan-DPC yeah also see the comment above yours as well as eddyb's [reply](https://github.com/rust-lang/rust/issues/62879#issuecomment-561937599) in that thread.

[2020-03-28 13:41] Dylan-DPC commented on #61935
@est31 i'm aware was just updating so it is easier to check with later

[2020-03-28 13:41] GuillaumeGomez opened #70498 "Clean up src/librustdoc/markdown.rs render function"
It should return a `Result`/`Option` and not just an integer, it makes the code a bit confusing.

[2020-03-28 14:18] jonas-schievink commented on #70496
duplicate of https://github.com/rust-lang/rust/issues/65269

[2020-03-28 14:18] #70496 closed

[2020-03-28 15:23] leocornelius commented on #21750
Getting this with some hashing code.
[code]
will output something along the lines of:
Start hash
BYTES: [69, 84, 87, 87, 100, 57, 118, 102, 80, 97, 122, 56, 100, 116, 80, 82, 74, 78, 104, 116, 109, 51, 88, 54, 56, 98, 56, 97, 66, 119, 105, 116, 90, 114, 50, 83, 107, 99, 51, 52, 89, 121, 121, 112, 86, 116, 57, 66, 120, 87, 86, 112, 88, 55, 66, 49, 76, 90, 86, 48, 49, 53, 56, 53, 52, 48, 56, 56, 49,

[2020-03-28 15:36] jyn514 opened #70500 "assert_eq(x, y) is not the same as assert_eq(y, x) because of type inferrence"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8c06ef8af87645f50695bdba65f8a723)):

[code]

I expected to see this happen: The program compiles and runs successfully.

Instead, this happened:

[code]

Note that the `assert_eq!(0_i64, S::zero());` works as expected.

### Meta

`rustc --version --verbose`:
[code]

The same error is present on

[2020-03-28 15:44] jyn514 commented on #70500
Not sure the `T-lang` label is right here, I think this could be fixed in the standard library.

[2020-03-28 15:48] jonas-schievink commented on #70500
How so? There's already a `PartialEq` impl for `i64`

[2020-03-28 16:01] RalfJung opened #70504 "TryEnterCriticalSection prototype does not match Windows docs"
According to [this documentation](https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-tryentercriticalsection), the return type of `TryEnterCriticalSection` is `BOOL` (an alias for `i32`), but in Rust we use `BOOLEAN` (an alias for `u8`):
https://github.com/rust-lang/rust/blob/b9d5ee567652cd342d9348c215009049551747b0/src/libstd/sys/windows/c.rs#L781
Which one is right?

[2020-03-28 16:44] Mark-Simulacrum commented on #70488
I think the slowdown is likely some sort of bug in our codegen or LLVM perhaps?

This is a single iteration on nightly (unrolled 8 times in the actual benchmark code):

[code]

On the good commit, it looks like this (and is only unrolled 4 times):

[code]
Trying to reduce this down, I came up with this example:

[code]

In godbolt, the nightly has an offset of 52 -- and that increases by 8 each ad

[2020-03-28 16:53] jonas-schievink commented on #70488
Thanks, that's helpful!

[2020-03-28 16:55] jonas-schievink commented on #70488
The dword vs. byte moves can be explained by the alignment changing from 4 (due to using `u32` as the discriminant) to 1 (since we now use `u8` as the discriminant), as long as nothing with a larger alignment is contained.

[2020-03-28 16:59] Mark-Simulacrum commented on #70504
winapi [uses](https://docs.rs/winapi/0.3.8/winapi/um/synchapi/fn.TryEnterCriticalSection.html) BOOL (c_int/i32) -- I suspect that this has been wrong since forever. Presumably we haven't noticed because in practice the values are always just `!= 0` and usually not 0 modulo 256, either, so we aren't spuriously wrong, and the value is passed in a register -- which on ~all platforms is 32-64bits anyw

[2020-03-28 17:02] jonas-schievink commented on #70426
Doesn't seem to happen on [this playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f626f5bc43ce176667a3930e7383253c):

[code]

[2020-03-28 17:09] DutchGhost commented on #68596
I hit this when trying to implement https://github.com/rust-lang/rust/issues/60735

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=55159853dce5dba0f3ab0fd711535b10

[2020-03-28 17:13] DutchGhost opened #70507 "ICE: Failed to get layout for `[type error]`:"
I hit this ice when trying implement https://github.com/rust-lang/rust/issues/60735.
The ice message looks very similar to https://github.com/rust-lang/rust/issues/70291, which has been closed already.
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-28 17:15] #70456 closed

[2020-03-28 17:19] jonas-schievink commented on #70488
Not entirely certain, but I think this is just automatic field reordering doing its thing. The discriminant is now a u8 with alignment 1, so it gets moved to the very end of the memory layout to not waste space with padding. Previously it was a u32 with alignment 4, just like all the other fields in the generator, so reordering anything there doesn't make sense.

If I take your example and replace

[2020-03-28 17:32] alexcrichton commented on #70504
This is practically guaranteed to just be a typo on my end, so BOOL is most likely right.

[2020-03-28 17:45] DutchGhost commented on #60735
So, a simple PoC fails to compile horribly
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=770bf3df27b12c5ce77d5b2a91c5b110

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-28 17:56] DutchGhost commented on #60735
Notice that a freestanding function does work:
[code]

[2020-03-28 18:06] steveklabnik commented on #31446
Triage: I don't think anyone has addressed this issue.

[2020-03-28 18:07] steffahn commented on #70507
When I switch from “Run” to “Build” in the playground, the error changes.
[code]

When I change the call
[code]
into
[code]
the ICE disappears. (The code segfaults though.)

[2020-03-28 18:07] steveklabnik commented on #33623
Triage: as far as I know, this has not been done.

[2020-03-28 18:07] steveklabnik commented on #33177
Triage: A *lot* has changed since 2016. Do either of you feel this is still an issue?

[2020-03-28 18:08] steveklabnik commented on #33809
Triage:

I'm going to give this a close; @mmatyas (or anyone else) if you're still seeing this issue, please let me know and we can re-open!

[2020-03-28 18:08] #33809 closed

[2020-03-28 18:09] steveklabnik commented on #34117
Triage: this still reproduces.

[2020-03-28 18:11] steveklabnik commented on #34999
Triage: no changes here. Not entirely sure this should be fixed, but it's up to the rustdoc team.

[2020-03-28 18:12] ratijas commented on #39125
The problem still exists. I'm trapped in the same situation: having two enums, one for owned data, other for borrowed counterparts. And I can't seem to be able to benefit from the `AsRef` / `Borrow` infrastructure with those. Any ideas or workarounds?

This is my particular usecase:

[code]

[2020-03-28 18:17] steveklabnik commented on #36582
Triage: this still fails to compile.

[2020-03-28 18:18] steveklabnik commented on #36675
Triage: no changes here.

Personal note: not sure if this is enough of a paint point to address. Not my call though.

[2020-03-28 18:21] Amanieu commented on #70148
Fixed in LLVM: https://github.com/rust-lang/llvm-project/commit/e5bf5037d869c74bc2faf81fa1f58dfd827e8356

[2020-03-28 18:29] steveklabnik commented on #42870
Today, this produces:

[code]

However, `mem::uninitialized` isn't to be used these days. With `MaybeUninit`, you'd write

[code]

which gives

[code]

But I dont think you can write `foo` this way. I am not a `MaybeUninit` expert though.

[2020-03-28 18:40] DutchGhost commented on #70507
Yup, the segfault is my own mistake, the Iterator should yield items of type `&'a [T; N]`, and the return expression should be `Some(unsafe { &*ptr})`

[2020-03-28 18:44] RalfJung opened #70509 ""discriminant_value" intrinsic returns u64, cannot fit all discriminants"
Ever since we had enums with `repr(u128)`/`repr(i128)`, the type of the `discriminant_value` intrinsic was no longer adequate: it returns a `u64`, which simply cannot fit all discriminant values.

@eddyb says the type of the intrinsic should be adjusted. This will affect both its codegen and Miri implementation.

This issue has been assigned to @lcnr via [this comment](https://github.com/rust-lang

[2020-03-28 18:53] RalfJung commented on #70504
Yeah, that one is on Microsoft... [other functions do return `BOOLEAN`](https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-tryacquiresrwlockexclusive).

[2020-03-28 18:56] eddyb commented on #70509
cc @rust-lang/libs I wonder if we're safe to change `std::mem::discriminant`.
We might need a crater run as I suspect there are people who transmute the result to `u64`.

[2020-03-28 19:04] sfackler commented on #70509
A crater run would be fine, but we should not block a change on people doing things like that IMO.

[2020-03-28 19:05] dtolnay commented on #70509
I wouldn't have any sympathy for people transmuting to u64.

If you want to be slick, you could make std::mem::Discriminant<T> have the same size as T's discriminant, rather than always 8 bytes. This supports enums with a 128 bit discriminant without increasing the size of Discriminant in the common case.

[2020-03-28 19:06] memoryruins commented on #70488
A `#[rustc_layout(debug)]` attribute was added in #69901. With the help of `type_alias_impl_trait`, rustc output some layout information for `bar`'s future: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fe35226f08ada59aec81c43fd33de373)

[2020-03-28 19:11] jonas-schievink commented on #70488
Ah, nice to see that land, that's certainly a step in the right direction

[2020-03-28 19:14] Dylan-DPC commented on #62645
I agree with @ExpHP here, since when those issues are fixed the error message is going to change. Closing this as duplicate.

[2020-03-28 19:14] #62645 closed

[2020-03-28 19:41] steveklabnik commented on #42295
@koivunej are you still seeing this today? any chance of a reproduction?

[2020-03-28 19:43] steveklabnik commented on #38743
Triage: the README still says:

[2020-03-28 19:45] steveklabnik commented on #40699
Triage: the error has changed slightly:

[code]

[2020-03-28 19:46] steveklabnik commented on #41816
Triage; this now says

[code]

So, not fixed yet!

[2020-03-28 19:47] lcnr commented on #70509
Would the following work?

Add a (potentially hidden) permanently unstable trait
[code]
which is automatically implemented for every type and remove `intrinsics::discriminant` completely.

`mem::Discriminant` should now be able to use `<T as DiscriminantKind>::Discriminant` as its only field.

This allows for `mem::Discriminant` to be smaller in most cases while still being fairly simple to implem

[2020-03-28 19:47] steveklabnik commented on #39104
Triage: any chance we could get a self-contained reproduction here?

[2020-03-28 19:49] steveklabnik commented on #39656
Triage: this feels like a big enough thing that it maybe is RFC-worthy; regardless, it's not clear to me what team to assign this to.

[2020-03-28 19:50] steveklabnik commented on #39755
Triage: does unquote even exist any more?

[2020-03-28 20:00] rickvanprim commented on #63291
Similar to `new_zeroed()` it would be nice to have a `new_zeroed_slice()`.

[2020-03-28 20:04] steffahn commented on #70507
Yeah, that’s what I thought, the segfault being a bug in the `unsafe` code.

Here’s a smaller example:
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03f6624a1122dbc7aa3611dda0f598a7))

<details><summary><strong>Errors:</strong></summary>

[code]

</details>

[2020-03-28 20:10] #70431 closed

[2020-03-28 20:14] tspiteri commented on #42870
Making `Outer` have `repr(transparent)`, I *think* you can then cast the pointer, so `foo` would become
[code]

That is the current way to do it as far as I know, at least until `&raw mut` or something of the sort is stable, maybe making it possible to write `init(&raw mut (*outer.as_mut_ptr()).inner)`.

This makes `foo` and the updated `bar` create the same optimal code, which I think fixes this

[2020-03-28 20:15] tspiteri commented on #42870
And, in relation to a previous comment in the thread, with the current compiler `foo` and `bar` would also actually be merged as they have equivalent LLVM IR.

[2020-03-28 20:42] joshtriplett commented on #50784
I ran into this today, and found it confusing. I would love to be able to write doctests in the modules of my binary crate.

What would it take to make that work out-of-the-box?

[2020-03-28 20:46] DutchGhost commented on #62220
I'll look into adding a test for this tomorrow! :)

[2020-03-28 20:52] nagisa commented on #70509
The `Discriminant` type was originally made opaque due to exactly this issue IIRC (and a couple other reasons). If only there was a way to prohibit transmuting it, or mark the type Unsized...

There’s no point in making the intrinsic hide its implementation details, as the intrinsics are inherently _unstable_.

[2020-03-28 20:56] nagisa commented on #70488
@jonas-schievink a quick test to see if this is indeed an alignment problem is to stick a `#[repr(align(4))]` onto the enum.

[2020-03-28 21:01] mati865 commented on #38743
AFAIK 32 bit MinGW builds are fine nowadays.

[2020-03-28 21:13] Dylan-DPC commented on #62220
@rustbot assign @DutchGhost

[2020-03-28 21:23] ehuss commented on #50784
I can think of a few hurdles that someone would need to address:

* How to resolve symbols in a binary?  Doctests behave as-if they are a separate crate linking in the library.  But a binary is normally not used a library, so it has no name to refer to.  For example:

[code]

Here, `do_something();` would fail because it is not in scope.  You could try to scope it with the name of the binary (`myt

[2020-03-28 21:23] lcnr commented on #70509
The reason why I considered hiding it is to not pollute rustdoc by adding this (for the user irrelevant) impl to every type.

[2020-03-28 21:43] jonas-schievink commented on #70488
That does not seem to do anything, hmm... Maybe I'm doing it wrong though. Would be useful to get an MCVE that exhibits the inefficient codegen.

[2020-03-28 21:45] jonas-schievink commented on #70488
I've just checked the benchmark code, and it does not actually benchmark anything except copying the futures around. They are never polled because they are never spawned onto an executor.

The benchmark results would make sense here if the alignment is really the cause.

[2020-03-28 21:49] lights0123 commented on #70098
I'm experiencing this same issue with a custom, `no_std` target:
[code]
Running Arch Linux 5.5.10-arch1-1 and rustc 1.44.0-nightly (75208942f 2020-03-27).

Here's a sample source:
[code]
(I'll post the code of the custom types if needed, mostly stolen from [this recent blog post](https://os.phil-opp.com/async-await)) Interestingly enough, the function `does_work` *does* work and doesn't produce a

[2020-03-28 21:52] Mark-Simulacrum commented on #69060
I had some spare time today and deployed the `rustc -vV` change -- that should now be canonical starting with 5b594d6bbb9d492633d0f48e9d6c8a864bea2f3d (currently the last commit on perf.rlo). From what I understood talking to @eddyb, we will almost certainly also need something like `-Zbuild-std` to sort out the nondeterminism fully, but I didn't have the time today to figure that out. Either way

[2020-03-28 22:00] syntacticsugarglider opened #70513 "Severe compilation time blowup in typeck_tables_of"
This simple test of a codegen macro from [protocol](https://github.com/noocene/protocol) using a transport from [protocol-mve-transport](https://github.com/noocene/protocol-mve-transport) takes an unreasonable amount of time to compile. `protocol` itself takes 4 to 5 minutes to compile on my laptop but compiling this simple example takes up to 20 minutes on the same hardware, and that's with a lot

[2020-03-28 22:03] jonas-schievink commented on #70513
Are you on the newest nightly?

[2020-03-28 22:11] kpp commented on #70488
How so?

[code]

We got `block_on` and `.await`.

[2020-03-28 22:12] jonas-schievink commented on #70488
Enabling Criterion's `real_blackbox` feature significantly speeds up the `future::ready` benchmarks. The default implementation does [more copying](https://docs.rs/criterion/0.3.1/src/criterion/lib.rs.html#141-147).

With the feature enabled the benchmarks now take <1ns, so yeah, they were really just benchmarking the memcpy in `black_box`.

[2020-03-28 22:12] syntacticsugarglider opened #70514 "Incorrect/confusing error message with multiple bounds of a single associated-type parametrized trait"
[code]

I expect that this would compile given that the type of `a` is fully specified and only one implementation of `B` can satisfy the requirement imposed. Aside from that, the error message produced here is on `let ctx`, specifically "consider giving `ctx` the explicit type `&mut C`, where the type parameter `C` is specified". An error is in fact reported on `join`,
[code]
but in the real-worl

[2020-03-28 22:14] jonas-schievink commented on #70488
@kpp `block_on` only blocks on the outer `async` block, which does not await anything. The futures created by the closure passed to `iter` are just dropped without being spawned or awaited (which is what is actually getting benchmarked here). You can test this by putting a `panic!()` inside the inner `async` blocks. It is never reached.

[2020-03-28 22:14] syntacticsugarglider commented on #70513
[code]

Let me run another profile on the latest nightly.

[2020-03-28 22:23] kpp commented on #70488
Ooops. Never felt more embarrassed.

[2020-03-28 22:30] syntacticsugarglider commented on #70513
Same behavior on nightly `75208942f 2020-03-27`. Takes less total time but the vast majority of the compilation process is still spent on that same stage and it's still longer than building the dependency that contains all of the logic by more than two times.

[2020-03-28 22:38] kpp commented on #70488
Jonas does this sounds better to you?

[code]

[2020-03-28 22:47] jonas-schievink commented on #70488
I'd wrap the `block_on` in a `black_box` to make sure the entire thing gets evaluated (and not just the expression producing the future)

[2020-03-28 22:51] kpp commented on #70488
`black_box(futures::future::ready(42).await);` ?

[2020-03-28 22:54] anp commented on #47809
I finished the first full draft of the [section of the rustc-dev-guide](https://github.com/rust-lang/rustc-dev-guide/pull/582) documenting the feature, the PR is still open. I'm sure there are aspects of this that aren't covered sufficiently or additional material that could be helpful. Feedback on the PR very much appreciated!

I *think* that the only remaining implementation question is how to h

[2020-03-28 23:21] TyPR124 opened #70516 "Tracking Issue for ASCII methods on OsStr"
Feature gate: `#![feature(osstring_ascii)]`

### Public API

[code]

### Steps / History

- [x] #70048 - Stabilized traits necessary to obtain `&mut OsStr`
- [x] #69937 - Added ASCII methods on `OsStr`
- [x] Final commenting period (FCP)
- [x] #80193 - Stabilization PR

### Unresolved Questions

- None yet.

[2020-03-28 23:35] Manishearth commented on #33177
Yes, I think there are still lints that need macro checks. I recall coming across this relatively recently.

[2020-03-28 23:41] eddyb opened #70517 "build.rs "rerun-if-env-changed" goes out of sync with the actual use site of the env var."
This is still in `rustc_codegen_llvm`'s build script:
https://github.com/rust-lang/rust/blob/77621317d643cc5d13da60b26ab68b057668e688/src/librustc_codegen_llvm/build.rs#L4

But the use site has been moved here: https://github.com/rust-lang/rust/blob/77621317d643cc5d13da60b26ab68b057668e688/src/librustc_codegen_ssa/back/link.rs#L1427

This means that `rustc_codegen_ssa` won't be rebuilt when that e

[2020-03-28 23:52] joshtriplett commented on #50784
On Sat, Mar 28, 2020 at 02:23:19PM -0700, Eric Huss wrote:

I would love to see that as the *normal* approach to doctests,
personally. It would also unify the different kinds of tests. I do agree
that that would be a more invasive change, though.

Why should the concept of documentation and testing be limited to
libraries, and not supported in binary crates? I use documentation in
binary crates to

[2020-03-29 00:59] clarfon commented on #39104
@steveklabnik quick one from playground https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ddbcff7463b50dfc14abc9dffe86a15b

[2020-03-29 01:37] steffahn commented on #70514
I’m not sure this should compile. I would however have expected an error like the one that you will get after replacing the call with `C::join(ctx,a);`:
[code]

The current error, suggesting that the type `C` is not known and should be specified, for sure seems incorrect.

@rustbot modify labels to A-diagnostics, D-incorrect, and T-compiler.

[2020-03-29 02:03] eddyb commented on #47809
I was suggesting elsewhere that we could be using sections. Specifically, two:
* the string data for filenames would go into one section, which could be discarded
* the `Location`s i.e. `(&str, u32, u32)` would go into another section, which would be zeroed
  * `Location` will have to use `Option<&str>` for filenames, instead of `&str`, for this to be sound

However, I'm not sure there's a good wa

[2020-03-29 03:05] eddyb opened #70520 "rustc_mir::shim misuses `ParamEnv`s."
(This example is about `CloneShim`, but `DropGlue` has a similar issue)

In this snippet, `param_env` is obtained from `tcx.param_env(def_id)` and used twice with `self_ty`:
1. for `is_copy_modulo_regions`
    * if `self_ty` doesn't involve type parameters, `param_env` doesn't matter, but if it does, they could be from anywhere (e.g. caller of `clone`, via MIR inliner), so the `param_env` being th

[2020-03-29 04:06] #69566 closed

[2020-03-29 04:06] #70182 closed

[2020-03-29 04:06] #70504 closed

[2020-03-29 04:07] rust-highfive opened #70521 "`miri` no longer builds after rust-lang/rust#70518"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70518, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-03-29 05:57] lambda-fairy commented on #65031
Do we know where most of the `rustc` crate build time comes from?

I had a quick look and it seems that the main challenge is that the MIR interpreter and type context depend on each other -- is that correct?

[2020-03-29 06:11] Centril commented on #65031
@andjo403 Could you try the current HEAD with the same machine to see if there were any improvements?

[2020-03-29 06:16] lambda-fairy commented on #55779
For posterity, here's the current backtrace (since the `item_path` module no longer exists):

[code]

[2020-03-29 06:24] tronta opened #70523 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc/hir/mod.rs:81:37"
I am getting a ICE when compiling the attached code.
[code.zip](https://github.com/rust-lang/rust/files/4398375/code.zip)

As I'm not expert enough to do any reanalysis, I did not do any deduplication of other issues.

## Meta
rustc 1.44.0-nightly (f509b26a7 2020-03-18)
binary: rustc
commit-hash: f509b26a7730d721ef87423a72b3fdf8724b4afa
commit-date: 2020-03-18
host: x86_64-unknown-linux-gnu
releas

[2020-03-29 07:12] IgorPerikov opened #70524 "Improve panic messages for Vec methods"
I've spotted, that `remove()` panic message could've provided details on what values led to this panic, instead of mentioning condition only. Generally speaking this and some other `assert!`s in Vec could've been more detailed. If it's okay to step in, I'd like to offer my help.

In case of `remove` I'd suggest calling this instead
[code]

I find this more informative than `assertion failed: index

[2020-03-29 07:28] andjo403 commented on #65031
16 core 32 threads machine
built with `CARGOFLAGS_BOOTSTRAP=-Ztimings ./x.py build --stage 1`

build of https://github.com/rust-lang/rust/commit/150322f86d441752874a8bed603d71119f190b8b
with default config.toml

the wsl times can differ more due to I do not remember if I checked that the config.toml was "clear" last time. I noticed that I had the parallel-compiler set to true some time ago but do

[2020-03-29 08:04] kinnison commented on #69525
@SolraBizna In theory, if the channel manifest were extended to contain enough information for rustup to know that then sure it'd be possible.  However platforms move between tiers of support without `rustup` necessarily needing to be involved so it wouldn't be part of `rustup` itself.

@12101111 If you make that link, there's the possibility `rustup` will get confused in the future, just to warn

[2020-03-29 09:33] kinnison commented on #70422
I'm unable to reproduce this.  (though lldb tests currently fail for me, so I had to specifically run the `rustdoc-js-std` suite directly)

[2020-03-29 09:59] jonas-schievink commented on #70523
Please update to the newest nightly and try again

[2020-03-29 10:27] kennytm commented on #70472
One issue with splitting them into CI stages is that it requires [uploading/download all the artifacts (the entire `build/` directory)](https://help.github.com/en/actions/configuring-and-managing-workflows/persisting-workflow-data-using-artifacts#passing-data-between-jobs-in-a-workflow), since each stage uses a brand new container.

Or we could use a different log file for each `x.py` stage, and p

[2020-03-29 10:50] lcnr commented on #70490
@rustbot claim

Will wait for #70081 to get merged before this is fixed though.

[2020-03-29 11:02] eddyb opened #70528 "#! (shebang) stripping doesn't account for spaces."
A file containing only this [correctly errors](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b1d3380c63f1f1b66e5a74f386dfbaaa):
[code]

But this [doesn't error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7fab91b933ff640d6c0f627b3def6b5e), as it's stripped the same way [`#!/usr/bin/env ...` (i.e. "shebang")](https://en.wikipedia.org/wiki/Sheban

[2020-03-29 11:10] rodrimati1992 opened #70529 "Compiler can't infer const parameter from infallible array pattern"
The compiler can't infer a const parameter based on the expected array type in an infallible pattern.

I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4673d663e2f78cdc15395c1cc3701d67
[code]

I expected the code to compile and run without errors.

Instead, I got this compiler error:
[code]

### Meta

The compiler was 1.44.0-nightly (2020-03-28 77621317d

[2020-03-29 11:10] ssomers opened #70530 "Tracking Issue for {BTreeMap,BTreeSet}::drain_filter"
This is a tracking issue for the Implementation of a `drain_filter` method on `BTreeMap` and `BTreeSet`, similar to the one in LinkedList and in Vec (#43244).
The feature gate for the issue is `#![feature(btree_drain_filter)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g.,

[2020-03-29 11:25] mitsuhiko commented on #70492
@RalfJung

I think this generally would be a welcome addition to the stdlib. There does not seem to be a good reason why the thread name can't be changed after spawning.

[2020-03-29 11:40] rodrimati1992 commented on #70471
So,how would the following be handled?
[code]
That is if `Foo<C>` (passing an identifier as a const argument) is eventually allowed.

[2020-03-29 11:44] bjorn3 opened #70531 "Unused MIR statement directly before return"
[code]

[code]

[code]

The `_5 = discriminant(_1);` doesn't have any effect.

(Labeling `A-cranelift` because this prevents codegen of the `goto -> bb4` like `return`. Which may result in a few extra instructions being emitted to move registers and jump to the return block for cg_clif.)

@rustbot modify labels: +A-mir +A-mir-opt +A-cranelift

[2020-03-29 11:45] matthewjasper commented on #70445
I think that this is fixed by #69591

[2020-03-29 11:51] Mark-Simulacrum commented on #70472
Hm, I think that's for jobs, not steps though? We (for example) install the AWS tools in a separate step today and don't copy things around.

[2020-03-29 11:53] lcnr commented on #70471
@rodrimati1992 it should be A<C> should be equal to `A<u32; C>` imo.

rn literals which are in both the type and the value namespace are always used as type params though (see #66615). So this would fail to compile even if we get `A<10>` to work.

[2020-03-29 11:56] pscott commented on #46016
We just disabled this in [substrate](https://github.com/paritytech/substrate).
Instead of using [libc](https://docs.rs/nix/0.17.0/nix/) we used [nix](https://docs.rs/nix/0.17.0/nix/).

For those in need for some help:
1. Add this to your Cargo.toml file:
[code]
2. Create the reset function:
[code]
3. Call this function at the start of your program.

[2020-03-29 12:31] Centril commented on #70529
Simplified:
[code]

[2020-03-29 12:36] Centril commented on #70529
The relevant code is defined here:

- https://github.com/rust-lang/rust/blob/8045865873f7cdbb864d0f66ef5ecb0d3ad847b2/src/librustc_typeck/check/pat.rs#L1360-L1366

- https://github.com/rust-lang/rust/blob/8045865873f7cdbb864d0f66ef5ecb0d3ad847b2/src/librustc_typeck/check/pat.rs#L1396-L1427

- https://github.com/rust-lang/rust/blob/8045865873f7cdbb864d0f66ef5ecb0d3ad847b2/src/librustc_typeck/check/

[2020-03-29 12:36] jonas-schievink commented on #70531
We already have a pass that propagates the `unreachable` terminator, it should be possible to make it handle `return` as well.

[2020-03-29 12:41] jonas-schievink commented on #70523
fixed on nightly

[2020-03-29 12:41] #70523 closed

[2020-03-29 12:47] Centril commented on #70529
To solve this, I suspect we'd need to register an obligation `CheckArrayPatLen { has_slice: bool, min_len: u64 }` which is the information required to check what `check_array_pat_len` does and then connect this to a const inference variable. Later on, we'll do the checks which were in `check_array_pat_len` when dealing with the obligation.

cc @varkor @eddyb

[2020-03-29 12:56] eddyb commented on #70529
What if we just handle the case in which they have to be equal, for now? Because that needs no obligation, you can just unify the constant with the length.

And you'd get a proper mismatch error if the length is not an inference variable.

[2020-03-29 12:57] #67963 closed

[2020-03-29 12:58] Centril commented on #70529
Yeah, scratch what I said. We can tweak the branch here:
[code]
and as you say, unify the constant with the known length.

[2020-03-29 14:02] IgorPerikov commented on #70524
@Centril Does triaging mean a green light for this suggestion?

[2020-03-29 14:04] Centril commented on #70524
@IgorPerikov No, I just apply the relevant labels. :)

[2020-03-29 14:10] steffahn commented on #70446
@rustbot change labels: -ICEBreaker-Cleanup-Crew

[2020-03-29 14:39] Mark-Simulacrum commented on #70492
One challenge is that AFAICT, we are restricted to 15 characters in the naming of the thread; currently I believe libstd just ignores this -- the kernel will silently truncate I guess. "The thread name is a meaningful C language string, whose length is restricted to 16 characters,  including  the terminating null byte ('\0')." is from the manpage for pthread_setname_np which is what we use.

I'm n

[2020-03-29 14:43] Mark-Simulacrum commented on #70147
No new regressions from the rustdoc run.

[2020-03-29 14:46] Mark-Simulacrum commented on #39755
I think it means `$` and @jseyfried's suggestion to use `concat!` or manual string concatenation IIRC works today, at least in proc macros, so I believe this is fixed; closing.

[2020-03-29 14:46] #39755 closed

[2020-03-29 15:01] Mark-Simulacrum commented on #39656
I tend to agree that an RFC would be necessary here, though perhaps a small one. We could also plausibly start by adding `-Z` flags to rustc that allow precisely controlling what `include!`, `include_str!` and `env!` can see (probably not rising to sandbox-level control, but something like enumerating the list of environment variables and files seems not too hard, given usage of e.g. [`same-file`]

[2020-03-29 15:07] pickfire commented on #56345
Any news on `slice::find`?

[2020-03-29 15:18] Centril opened #70537 "Check accuracy of some references in docs to files in librustc(_middle)"
Context:
- https://github.com/rust-lang/rust/pull/70536#discussion_r399811166
- https://github.com/rust-lang/rust/pull/70536#discussion_r399811361
- https://github.com/rust-lang/rust/pull/70536#discussion_r399811475

[2020-03-29 15:24] jonas-schievink opened #70538 "Odd "error[E0658]: is unstable" diagnostic"
[code]

[code]

:thinking:

In addition to the malformed diagnostic, the tracking issue has been closed already. According to https://rust-lang.github.io/rfcs/1721-crt-static.html#lazy-link-attributes, this is supposed to be a permanently-unstable implementation detail. In that case, should the link be updated to point somewhere else?

This issue has been assigned to @Rustin-Liu via [this comment]

[2020-03-29 15:26] dtolnay commented on #70422
Seems to work again after an x.py clean. It may be worth reopening and investigating if it happens again, but for now it could have just been one problematic commit that left some stale JS in the build directory.

[2020-03-29 15:26] #70422 closed

[2020-03-29 16:05] jonas-schievink commented on #61352
Yeah, this could not be optimized like that.

[2020-03-29 16:05] #61352 closed

[2020-03-29 16:36] RalfJung commented on #69270
I updated the RFC to discuss the new proposed lint and the interaction with the "unnecessary unsafe" lint. See https://github.com/rust-lang/rfcs/pull/2585#issuecomment-605663111.

[2020-03-29 16:39] RalfJung commented on #69173
I updated the RFC to discuss the new proposed lint and the interaction with the "unnecessary unsafe" lint. See https://github.com/rust-lang/rfcs/pull/2585#issuecomment-605663111.

[2020-03-29 17:23] DeanRoddey opened #70542 "Some debugger variable display issues"
This may be a dup but I didn't see one right off hand.

Visual Studio Code: 1.43.2
Rust 1.42.0
Toolchain: stable-x86_64-pc-windows-msvc
C/C++ VSC extension: 0.26.3
Rust RLS: 0.7.0

![VSCRustCharVal](https://user-images.githubusercontent.com/45377887/77855591-52cbc680-71bf-11ea-9226-774ab0d665f5.png)

**Not displaying char variables**

The debugger always shows an unspecified error for the value of

[2020-03-29 17:35] DeanRoddey commented on #70542
I would also throw in that the optimized variables thing is made a bit messier since it often shows that message even if it's just that the variable hasn't come into scope yet. Just not displaying variables that aren't in scope would probably be better, but the alternative would be to display a somewhat more accurate message like 'not in scope'.

[2020-03-29 17:39] jonas-schievink commented on #70542
We cannot control your debugger frontend, only how rustc emits debuginfo

[2020-03-29 17:42] jonas-schievink commented on #70542
The "variables display as optimized out" issue is https://github.com/rust-lang/rust/issues/46698.

The issue with chars looks like an issue with your debugger. Please check if that works with GDB or LLDB.

[2020-03-29 17:44] DeanRoddey commented on #70542
I understand you can't control the debugger, but all debuggers I've used don't display variables until/unless they are in scope. It seems a bit unlikely this one does otherwise. Presumably that is controlled by when the symbols are emitted, right?

[2020-03-29 17:46] DeanRoddey commented on #70542
Going back again, it seems to me now that all of the optimized out variable errors were really misleading and they were really just not in scope. So, for now, I'm going to delete that part of my complaint since I'm not sure if I really have any legit issues of that sort now. It's possible a lot of the complaints you've gotten may be of that sort.

[2020-03-29 17:57] #70148 closed

[2020-03-29 18:06] robinmoussu opened #70543 "Make all code block of the documentation of a single item share the same scope"
**Describe the problem you are trying to solve**
When documenting a single item, if there is more than one code-block, compile and run (with `cargo test`) all snippets at once. This way, it become possible to share variable between multiple blocks. It think it would be useful when:

- you have something long (and boring) to set-up, like a small graph, and want re-use it.

[code]

- you have a mult

[2020-03-29 18:10] ehuss commented on #70543
This is an issue for rustdoc, so I have moved it to the rust-lang/rust repo where it lives.

[2020-03-29 18:30] robinmoussu commented on #70543
Thanks

[2020-03-29 19:30] Mark-Simulacrum commented on #70543
You can comment out lines in code blocks by prefixing with `#`. I think beyond that, this would be significantly backwards incompatible, so we could only do it on an edition boundary (and even there it's a bit hard), or, as you suggest with an attribute.

I personally feel like it could be hard to get the UI right for this in the rendered documentation - though it seems like that's already true fo

[2020-03-29 19:52] dtolnay commented on #28257
I put up a fix in #70420. I don't think an RFC is going to be required. If the compiler team is on board with the approach, then the lang team can do FCP on the PR.

[2020-03-29 20:00] jonas-schievink commented on #70426
Ah, I see the problem. When `-Cinline-threshold` is passed, we create an inlining pass with that threshold, and that ends up inlining `A::new`. This means the docs for or implementation of `-Cinline-threshold` are wrong in at least two ways:

* `-Cinline-threshold=0` does not just inline `#[inline(always)]` functions, as shown here, other functions can also have an inlining cost of 0
* `-Cinline-t

[2020-03-29 20:04] jonas-schievink commented on #49453
Triage: Embedded book is now added. Since the docs team has been disbanded, what do we do with this issue?

[2020-03-29 20:13] ehuss commented on #70025
I have narrowed this down to #66364.  There some interaction between remap-path-prefix and macros in a dependency.

**Repro:**
[code]

This emits a warning:

```warning: source code was requested to be rendered, but processing `/dep/src/lib.rs` had an error: "/dep/src/lib.rs": No such file or directory (os error 2)```

and the `[src]` links don't exist.

If you want to repro with the rustc sources

[2020-03-29 20:30] jeremystucki commented on #69701
I’ll try to implement this

[2020-03-29 20:45] jonas-schievink commented on #70488
[Reproduction](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=fc0db5e71c27b16c010db95c9053b6ac):

[code]

On stable:

[code]

On nightly:

[code]

[2020-03-29 20:56] goffrie commented on #70488
Hm, I guess this is not really a bug then.

On Sun., Mar. 29, 2020, 13:45 Jonas Schievink, <notifications@github.com>
wrote:

[2020-03-29 21:10] DutchGhost commented on #67377
I'll add a test for those 2 tomorrow :)

[2020-03-29 21:19] lcnr commented on #69913
will be fixed by lazy normalization.
@rustbot release-assignment

[2020-03-29 21:20] lcnr commented on #67075
@rustbot release-assignment

[2020-03-29 21:20] lcnr commented on #66615
@rustbot release-assignment

[2020-03-29 21:49] jonas-schievink commented on #70488
The actual LLVM type did change to have an alignment of 1:

[code]

One odd thing is that the volatile load in the LLVM IR is passed `align 8`, so I'm wondering why that isn't used to make the load more efficient here.

[code]

[2020-03-29 21:53] 9999years opened #70545 "Misleading E0583 when attempting to compile a file that includes itself as a module"
If we have any file `aaa.rs` and `example.rs` in the same directory, where `example.rs` contains:

[code]

Compiling `example.rs` with `rustc example.rs` gives an error about being unable to find `aaa`, rather than an error about `example.rs` importing itself as a module:

[code]

<details>
<summary>The error message with <code>rustc +nightly</code>.</summary>

[code]

</details>

**I expected to

[2020-03-29 22:30] jonas-schievink commented on #55526
Triage: The AST borrow checker has been removed. Closing.

[2020-03-29 22:30] #55526 closed

[2020-03-29 22:50] #62220 closed

[2020-03-29 23:26] ecstatic-morse commented on #70531
For background, this is a side-effect of #68528 (see the MIR diagram in the PR summary) and #68943. The MIR for this example used to contain a frivolous open drop of `x`. After my changes to drop elaboration, all branches of the open drop become no-op `Goto`s, which are then removed by the `SimplifyCfg` pass. The read of the discriminant that used to be the subject of the branch remains, however.

[2020-03-30 00:11] LifeIsStrange commented on #70488
@jonas-schievink

Cf: http://www.idryman.org/blog/2012/11/21/integer-promotion/

In C this potential cause of performance regression cannot happen because of [Integer promotion](https://stackoverflow.com/questions/44455248/integer-promotion-in-c)

If so, couldn't rust support integer promotion? At the very least as an optional flag in order to enforce performance garanties?

[2020-03-30 00:46] estebank commented on #70538
The wording can be easily fixed at https://github.com/rust-lang/rust/blob/699f83f525c985000c1f70bf85117ba383adde87/src/librustc_metadata/native_libs.rs#L165.

The link can't be changed to a non-issue because of how the machinery is currently set up, but we can update the description of the ticket to point at RFC 1721.

[2020-03-30 02:04] #69983 closed

[2020-03-30 02:04] dwrensha opened #70549 "Internal Compiler Error: unexpected resolution for an identifier in pattern: SelfCtor(DefId(0:4))"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

The error happens on nightly but not on beta or stable.

[2020-03-30 02:07] dwrensha commented on #70549
Report from `cargo bisect-rustc`:

searched nightlies: from nightly-2020-03-09 to nightly-2020-03-30
regressed nightly: nightly-2020-03-16
searched commits: from https://github.com/rust-lang/rust/commit/7cdbc87a49b0b705a41a004a6d486b0952521ae7 to https://github.com/rust-lang/rust/commit/45ebd5808afd3df7ba842797c0fcd4447ddf30fb
regressed commit: https://github.com/rust-lang/rust/commit/e0f5df017368

[2020-03-30 02:10] dwrensha commented on #70549
#70006 looks like the probable culprit. cc @petrochenkov

[2020-03-30 03:40] dwrensha opened #70552 "internal error: entered unreachable code: parse_dot_or_call_expr_with_ shouldn't produce this"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2020-03-30 03:43] dwrensha commented on #70552
Report from `cargo bisect-rustc`:

[code]

[2020-03-30 05:03] rust-highfive opened #70554 "`clippy-driver` no longer builds after rust-lang/rust#70449"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70449, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @ecstatic-morse, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team priori

[2020-03-30 06:24] koivunej commented on #42295
@steveklabnik I haven't touched this old codebase in some 2-3 years :) Thanks for pinging me though, I had hoped this was already fixed. I'll look into reproducing this and reopen if I can make this happen.

Looking at https://github.com/rust-lang/rust/issues/29293 the merge of https://github.com/rust-lang/rust/pull/45523 should had fixed this, closing as the 29293 is already closed.

[2020-03-30 06:24] #42295 closed

[2020-03-30 06:26] petrochenkov commented on #70549
Will fix.

[2020-03-30 06:44] Centril commented on #70549
@petrochenkov Was already looking at this hehe, I have a fix for you in https://github.com/rust-lang/rust/pull/70555.

[2020-03-30 06:51] Centril commented on #70552
Reduced to:
[code]

I would guess https://github.com/rust-lang/rust/pull/68985 is the cause.

[2020-03-30 08:19] Centril commented on #70025
For now, I'll cc @GuillaumeGomez @eddyb @petrochenkov who probably know more about this than I.

[2020-03-30 08:28] Centril commented on #65031
@andjo403 That's looking promising, thank you.

N.B. the crate has been renamed to `rustc_middle` in https://github.com/rust-lang/rust/pull/70536.

[2020-03-30 08:41] calixteman commented on #70426
I supposed that an `inline-threshold=0` would disable inlining.
It doesn't seem to be the case anyway: if `opt-level!=0` then`A::new` and `B::new` are inlined so the annotation `#[inline(never)]` is finally ignored.

[2020-03-30 08:50] hanna-kruppe commented on #70426
`-C inline-threshold`, `#[inline(never)]`, etc. control a specific pass (well, two of them, `-inline` and `-always-inline`). Other interprocedural analyses optimizations can produce the same result by different means in some cases. For example (just one of many), after noticing that a function has no side effects, calls to it can be removed if the result is not used. I expect that's what is happen

[2020-03-30 09:04] Dujunayan commented on #44109
i still got probleme

[2020-03-30 09:16] tiide opened #70557 "Different result of std::process::Command's example on different platform"
Summary
---
The example is located at https://doc.rust-lang.org/std/process/struct.Stdio.html.
When running on my CentOS, **assert** happens **due to an extra character '\n'** at the left side. It exists under both stable and nightly  versions (seeing "My platform info").

Details
---
[code]

When I click run button, it runs on play.rust-lang.org, nothing assert_eq is triggered as below:
[run on p

[2020-03-30 09:45] RalfJung commented on #70301
Fix PR is up: https://github.com/rust-lang/rust/pull/70558

[2020-03-30 10:04] leonardo-m commented on #67058
In Rust we have arithmetic operations that are checked in debug builds and unchecked in release builds. I think I'd like a FP->int conversion that does the same. Is this a good idea?

[2020-03-30 10:10] jonas-schievink commented on #70557
Are you sure this is not a difference in the installed `rev` binaries themselves? (or in the kernel, even?)

[2020-03-30 10:10] lcnr commented on #70529
@rustbot claim

[2020-03-30 10:21] SimonSapin commented on #67058
@leonardo-m This has been discussed at length in https://github.com/rust-lang/rust/issues/10184. An important difference is that unchecked arithmetic can let overflow happen which could could logic bugs, but the uncheked float to int conversion can causes Undefined Behavior which should never happen in Rust without `unsafe`.

[2020-03-30 10:31] hanna-kruppe commented on #67058
Even if we take "unchecked in release mode" to mean "some defined behavior" rather than UB, the trade-offs are very different:

- With integer overflow, the "unchecked" option is defined as two's complement wrap-around, which is practically free to implement (just omit the overflow checks). For float->int casts, there is no behavior that's consistent across platforms and requires no extra code to

[2020-03-30 11:56] Centril commented on #70524
@IgorPerikov Though this is a small change with little time required to fix, so I'd just make the PR if I were you. :)

[2020-03-30 12:28] RReverser opened #70564 "Private fields should not throw errors if not explicitly used in literals"
I tried this code:

[code]

I expected to see this happen: code compiles successfully.

Instead, this happened: rustc throws an error
[code]

### Meta

Applies to all known rustc versions.

I understand why this happens in principle, if the literal is desugared literally (no pun intended) to:

[code]

However, it seems that this code could be equally expanded to:

[code]

This way an immutable lit

[2020-03-30 12:33] petrochenkov commented on #70564
The desugaring change would break existing use cases, yes.
See https://internals.rust-lang.org/t/proto-rfc-expanded-functional-record-update/3077/2.

[2020-03-30 12:37] RReverser commented on #70564
@petrochenkov Interesting. It's hard to understand from the branch code, but is desugaring in your experiment same as I have shown above? I don't really understand why `Drop` would be an issue here, since I'm not trying to move any fields out.

[2020-03-30 12:41] RReverser commented on #70564
Tried to add `Drop` to my `S` and the desugaring still works as expected. Could you please provide an example code that would break?

[2020-03-30 12:51] lzutao commented on #44109
What's your rustc version?

[2020-03-30 13:10] Centril commented on #44109
This is not the place to discuss this. Please file a new issue for any problems you might have.

[2020-03-30 13:41] RalfJung commented on #70564
This discussion also reason came up on IRLO again: https://internals.rust-lang.org/t/pre-rfc-relaxed-non-exhaustive-structs/11977

As the linked comment says: " FRU from borrowed contexts, you can’t move the whole value, but can copy individual Copy fields."
So, try a situation where the thing after the `..` is borrowed, not owned. [This commit has some examples](https://github.com/petrochenkov/ru

[2020-03-30 14:12] Centril commented on #47809
This seems like a reasonable compromise. 👍

[2020-03-30 14:14] lenary commented on #65024
Rustc should now be doing the correct ABI lowering of calls in the C psABI, including hard-float support (since #68452).

A target spec for rv64gc + lp64d (targetting linux) has been added in the form of `riscv64gc-unknown-linux-gnu` which should be exactly what's needed for linux platform support.

[2020-03-30 14:23] pietroalbini commented on #70472
That's surely possible, but I have no clue what the impact on our configuration would be (as we'd need different sets of steps).

[2020-03-30 14:24] RalfJung commented on #70557
On my system, `echo -n 'Hello, world!' | rev` has no trailing newline. Notice how it ends up on the same line as my shell prompt:
[code]

[2020-03-30 14:26] Mark-Simulacrum commented on #70472
Yes, I think personally this would only be viable if GitHub provided a way to "start" a step dynamically -- similar to Travis' folders which were based on printing a message.

[2020-03-30 14:28] Mark-Simulacrum commented on #70557
Notably, on macOS, I *am* getting a newline:

[code]

I'm pretty sure this is not a bug in Rust.

[2020-03-30 15:09] pietroalbini opened #70569 "Only one try build can happen at the same time on GHA"
On Azure Pipelines we can run as many try builds as we want, since cancelbot only looks at the `auto` branch. On GitHub Actions instead we kill the build if a new commit is pushed on all workflows, including try. We should avoid using the cancel-outdated-builds action on the try branch.

[2020-03-30 15:09] RalfJung commented on #70524
Note: https://github.com/rust-lang/rust/pull/70558 uses the same kind of assertion in `swap_remove` (as the old check had aliasing issues).

Depending on which PR lands first, we should make sure it gets the same panic message as the others.

[2020-03-30 15:14] pietroalbini commented on #55861
While this happened rarely in Azure Pipelines (at least in the recent months), I noticed it happens a lot on GitHub Actions. We should find a workaround before we start gating on GHA.

[2020-03-30 15:23] pietroalbini opened #70570 "Provisioning issues for macOS in GHA"
While looking through the GitHub Actions failures I noticed a few builds either failed to start or were killed due to provisioning issues in macOS.

Failed to provision:

* https://github.com/rust-lang-ci/rust/actions/runs/65748461

Received request to deprovision:

* https://github.com/rust-lang-ci/rust/actions/runs/65084440
* https://github.com/rust-lang-ci/rust/actions/runs/64385948

cc @ethoms

[2020-03-30 15:28] pnkfelix commented on #69841
(I decided to go ahead and take care of it, further mentoring/publicizing would probably be just as much work as the PR I've posted at https://github.com/rust-lang/llvm-project/pull/44 )

[2020-03-30 16:04] Mark-Simulacrum opened #70572 "Do not suggest adding a type parameter on multi-letter types"
In the process of writing some code, I didn't import an enum, resulting in

[code]

The import suggestion is great, but suggesting the type parameter seems likely to be confusing (and IMO, is almost certainly wrong). My suggested heuristic is to avoid suggesting the type parameter if we suggest a candidate in another module, at least, and possibly even avoid suggesting it always if there's more th

[2020-03-30 16:05] IgorPerikov commented on #70524
@RalfJung I think it makes sense to follow the message, that is being currently printed, when trying to access element out of bounds via `[]`. Current message template is `index out of bounds: the len is {len} but the index is {index}`. I followed this idiom to keep it consistent.

[2020-03-30 16:13] ethomson commented on #70570
I've not seen this before - @thejoebourneidentity can you help route this?

[2020-03-30 16:17] tiide commented on #70557
[code]
I try the shell command, and from the result with a trailing newline, also pretty sure it is really up to the platform or rev itself, nothing to do with Rust.

That's good, thanks.

[2020-03-30 16:18] #70557 closed

[2020-03-30 16:53] ark0f opened #70575 "Incremental compilation ICE after electricity was turned off during compilation"
Electricity was turned off during compilation and some files were corrupted

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Backtrace when trying to compile again</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-30 16:57] ark0f commented on #70575
Cache cleaning or changing code fix it

[2020-03-30 17:03] #42870 closed

[2020-03-30 17:42] jsgf commented on #39656
I had an RFC underway but as I implemented it I realized it didn't really work the way I wanted it to. I need to get back to it.

[2020-03-30 17:53] PankajChaudhary5 commented on #61137
I am picking E0657

[2020-03-30 18:01] anp opened #70579 "Measure binary size impact of implicit caller location"
The largest unanswered questions about [implicit caller location](https://github.com/rust-lang/rust/issues/47809) are about the binary size impact of the feature and how to offer users control over it.

There are three ways I see that `#[track_caller]` inflates binaries:

1. code bloat from panicking branches that were previously fused
2. encoding the `Location` structs themselves
3. encoding the

[2020-03-30 18:01] anp commented on #70579
@eddyb could you provide some pointers on how to put static allocations in their own sections? I assume it's a change to `librustc_codegen_ssa`?

[2020-03-30 18:09] anp opened #70580 "Mitigate binary size impact of implicit caller location"
Once we've [measured the size impact](https://github.com/rust-lang/rust/issues/70579) of [implicit caller location](https://github.com/rust-lang/rust/issues/47809), we need to decide what (if any) knobs to offer users to mitigate that impact.

The RFC originally proposed a [`-Zlocation-detail-control`](https://github.com/rust-lang/rfcs/blob/master/text/2091-inline-semantic.md#location-detail-contr

[2020-03-30 18:09] anp commented on #70580
cc @eddyb @tmandry

[2020-03-30 18:20] RalfJung opened #70583 "Confusing suggestion on incorrect closing `}`"
I tried this code:

[code]

I expected to see this happen: Some more or less helpful message about the imbalanced braces.

Instead, this happened: I got a rather confusing suggestion:
[code]
The empty block it points to is not even in the same function, so this suggestion is more confusing than helpful.

This issue has been assigned to @kper via [this comment](https://github.com/rust-lang/rust/iss

[2020-03-30 18:21] eddyb commented on #70579
@anp Yeah, look at how `link_section` is handled and do the same.

[2020-03-30 18:28] Mark-Simulacrum commented on #70579
Have we looked at a diff of a stage1 (or stage2) rustc build? rustc has a lot of expect/unwrap etc code so I suspect if there's essentially no delta then I'm not too worried. I haven't noticed nightlies getting much bigger so I suspect we in practice aren't growing by too much.

[2020-03-30 18:30] eddyb commented on #70579
@Mark-Simulacrum this reminds me that we're not measuring size changes on perf.rust-lang.org.

[2020-03-30 18:49] inanna-malick opened #70584 "regression - temporary value dropped while borrowed with static slice (as used by rust-phf)"
The below code compiles in 1.40.0 but not in 1.42.0 (stable). (minimized example from rust-phf)

[code]

When built in 1.42.0, it produces the following error:

[code]

The same error occurs using nightly.

There's an issue from January mentioning this build error on the rust-phf repo (seems to occur in 1.41.0+), but no followup discussion/work that I could find. https://github.com/sfackler/rust-p

[2020-03-30 19:06] inanna-malick commented on #70584
Notes:
- the same error occurs if `Slice` is a struct instead of an enum
- the error does not occur if `Slice` is removed and the `&'static [T]` is stored directly on `Map`

[2020-03-30 19:11] jonas-schievink commented on #70584
Minimized:

[code]

`CONTENT` must be a `static` for this to happen, with a `const` it doesn't happen.

[2020-03-30 19:21] jonas-schievink commented on #70584
This happens on *both* 1.41.0 and 1.41.1, so it's not fallout from https://github.com/rust-lang/rust/pull/69145 (which fixed https://github.com/rust-lang/rust/issues/69114 in that release). There's no entry in the release notes or blog post for 1.41.0 that indicates that this is expected fallout.

cc @matthewjasper anyways re: borrowck

[2020-03-30 19:32] DutchGhost opened #70586 "Const generics ICE: no type-dependent def for method"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-03-30 19:50] DutchGhost commented on #60735
The more I go into this, the more obstacles I stumble upon.
Below a list of all ICE's I encountered:

https://github.com/rust-lang/rust/issues/70586
https://github.com/rust-lang/rust/issues/70507
https://github.com/rust-lang/rust/issues/68596

[2020-03-30 19:52] leonardo-m commented on #60735
Keep going on, those bugs/limitations are worth fixing anyway :)

[2020-03-30 20:13] gyakovlev opened #70589 "wasm target not honoring linker set at bootstrap time (1.42.0 and maybe earlier)"
rust for gentoo linux (the one we ship in official repositories)

here's how we configure wasm target:

[code]

but it still looks for rust-lld for that target by default.

[code]

not sure when it started to happen, but it was working as expected before.
`rustc -Z unstable-options --target=wasm32-unknown-unknown --print target-spec-json`
[code]

for some reason target spec still lists `rust-lld`

[2020-03-30 20:28] msrd0 commented on #48869
Given that there seem to be no updates, does anybody have a workaround for this issue yet?

[2020-03-30 20:52] #70554 closed

[2020-03-30 21:54] lachlansneff opened #70592 "Generate an empty main function when compiling for wasi without an explicit main?"
When compiling a binary for the `wasm-unknown-wasi` target, perhaps the rust compiler should insert an empty entry point (or rather one that runs initialization code, like pulling in program arguments and whatnot) if there isn't an explicit main function supplied.

[2020-03-30 21:57] jonas-schievink commented on #70592
Binaries need to specify an `fn main` though, or they won't compile. Or do you mean something else?

[2020-03-30 22:00] RReverser commented on #70564
@RalfJung Ah, I see, haven't realised it's possible. It could be interesting to enable this at least for owned case, but I suppose that's what makes feature request more nuanced (which explains previous forum discussions).

[2020-03-30 22:08] lachlansneff commented on #70592
Ah, sorry, yes I meant libraries that are compiled by themselves and not as part of a larger crate.

[2020-03-30 22:28] #70592 closed

[2020-03-30 22:32] vi commented on #56997
No longer reproducible, at least with `rustc 1.41.0-nightly (3eeb8d4f2 2019-12-12)`.

Works both with `codegen-units=2` and `codegen-units=1`

[2020-03-30 22:32] #56997 closed

[2020-03-30 22:48] steffahn commented on #70584
regressed nightly: nightly-2019-11-24
searched commits: from https://github.com/rust-lang/rust/commit/5fa0af2327944bd806b2fa382d4e983149ae7e4a to https://github.com/rust-lang/rust/commit/0c987c5c02498b4e77f5dfae1f6914ffb9268575
regressed commit: https://github.com/rust-lang/rust/commit/a449535bbc7912c4adc1bbf2ab2738d0442f212c

@rustbot modify labels to -E-needs-bisection

[2020-03-30 22:53] jonas-schievink commented on #70584
Nice, thanks @steffahn! Looks like https://github.com/rust-lang/rust/pull/66587 is the cause then.

[2020-03-30 23:03] jonas-schievink commented on #70488
The PR that caused this intentionally did the opposite of integer promotion (narrowing a u32 to a u8), just not in a way that's visible to users. Generally rustc/LLVM is free to do integer promotion or narrowing whenever it sees fit, as long as it doesn't change the observed behavior of the program.

I haven't completely nailed down *this* issue yet as I'm not an LLVM expert, but it seems like it'

[2020-03-30 23:09] LifeIsStrange commented on #70488
I have no idea if this is really relevant to the conversation but LLVM is introducing a new alignment type that could solve some issues http://lists.llvm.org/pipermail/llvm-dev/2019-July/133851.html

[2020-03-30 23:15] archshift commented on #65024
I suppose this can be closed now?

[2020-03-31 00:06] steffahn commented on #66768
The reduced example gives a `broken MIR` error since `nightly-2017-08-31`.
<details><summary><strong>ICE on nightly-2017-08-31</strong></summary>

[code]

</details>

Before that it compiles with nothing but unused-warnings.

[2020-03-31 00:46] steffahn commented on #61870
@rustbot modify labels to -E-needs-bisection.

[2020-03-31 01:31] dwrensha opened #70594 "internal compiler error: no type for local variable"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2020-03-31 01:33] dwrensha commented on #70594
Report from `cargo bisect-rustc`:

searched nightlies: from nightly-2020-03-09 to nightly-2020-03-31
regressed nightly: nightly-2020-03-22
searched commits: from https://github.com/rust-lang/rust/commit/1057dc97afce39ff6a224966ece3ed438af4c1f5 to https://github.com/rust-lang/rust/commit/38114ff16e7856f98b2b4be7ab4cd29b38bed59a
regressed commit: https://github.com/rust-lang/rust/commit/5f1382047890

[2020-03-31 02:52] IsaacWeintraub opened #70596 "Segmentation fault compiling inline assembly using function address"
### Code
This was compiled targeting ARM Cortex-A53 with `opt-level=3`.
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

Even re-running the command I invoked previously with RUST_BACKTRACE=1, the only output I get is
[code]

</p>
</details>

[2020-03-31 03:37] quark-zju commented on #56105
I got a warning compiling the following code using the nightly compiler. The simplified case is:

[code]

The warning is:

[code]

However with line 6 removed, the code no longer compiles on `<fn(&u8)>::x()`.

[2020-03-31 04:02] eloraiby commented on #47493
a quickfix for now is to add `lto = true` in your profile:
[code]

[2020-03-31 04:48] XVilka opened #70599 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc/hir/mod.rs:81:37"
OS: Fedora 31, amd64
Rust version is `rustc 1.44.0-nightly (f509b26a7 2020-03-18)`

[code]
With backtrace enabled:
[code]

[2020-03-31 04:54] Rustin-Liu commented on #70538
@rustbot claim

[2020-03-31 05:32] BatmanAoD commented on #56105
Is that issue actually being tracked? I couldn't find a separate issue for it.

[2020-03-31 06:30] tmiasko commented on #70316
The compiler-builtins CI now fails with the same error. The latest working nightly is 2020-03-14.
Looks like it is related to changes from #67502 which included `-lpthread` in link args.

[2020-03-31 07:32] mati865 commented on #70589
Linker configured during Rust compilation is not meant to propagate to the final binary.
AFAIK if you want to change default linker you should patch the spec file or use Cargo configuration file.

[2020-03-31 08:16] DanSnow commented on #70599
minimal reproduce:

[code]

[2020-03-31 08:48] Centril commented on #70599
@DanSnow I cannot get that to ICE in the playground. How are you testing this?

[2020-03-31 08:53] Centril commented on #70594
Simplified:
[code]
and cc @jonas-schievink (https://github.com/rust-lang/rust/pull/69033)

[2020-03-31 08:53] mati865 commented on #70316
@rustbot modify labels: +E-needs-mcve

cc @Amanieu

[2020-03-31 08:58] DanSnow commented on #70599
@Centril

[code]

[2020-03-31 09:03] DanSnow commented on #70599
@Centril  Sorry, I just try it with `nightly-2020-03-30` and this error cannot reproducible

[2020-03-31 09:13] mimoo opened #70602 "1.42.0 cc link issue"
Since the switch to rust 1.42.0 we cannot use libfuzzer anymore on our codebase.

to repro:

[code]

This will compile with clang 10 on ubuntu xenial:

[code]

I'm getting this error:

[code]

[2020-03-31 09:43] Amanieu commented on #70316
Ugh, mingw has a stupid amount of circular dependencies in its libraries...

What I am more concerned about is why Rust CI didn't catch this. Maybe it's because it is using an older mingw version. We should considering upgrading it.

[2020-03-31 09:52] mati865 commented on #70316
@Amanieu I'd love to upgrade MinGW on the CI as it would help me with a few thing but there is a problem. Upstream no longer provides prebuilt GCC and latest version available had issue where it ran out of memory on the CI: https://github.com/rust-lang/rust/pull/51989
I can help with building GCC or providing builds but I don't really know how to start.

[2020-03-31 09:55] oli-cosmian commented on #70584
@rustbot assign @oli-obk

[2020-03-31 09:59] matthiaskrgr commented on #70599
looks like a dupe of https://github.com/rust-lang/rust/issues/70041

[2020-03-31 10:03] Centril commented on #70025
I did a bit of investigation. In https://github.com/rust-lang/rust/pull/66364/files#diff-2b18e583c8286c5f266dcc0aea004e91, we have:
[code]

Note in particular the `.new_source_file(source_name, def.body)` call, which results in a call to https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/source_map/struct.SourceMap.html#method.try_new_source_file, which has:

[code]
In particular:
[code]

[2020-03-31 10:13] Centril commented on #70025
Also relevant:
https://github.com/rust-lang/rust/blob/2113659479a82ea69633b23ef710b58ab127755e/src/librustdoc/html/sources.rs#L35-L55

[2020-03-31 10:22] Amanieu commented on #70316
I managed to reproduce this locally. It only happens if you *don't* have MSYS installed, in which case rustc will use the gcc and libraries from the `rust-mingw` component.

This is a bit worrying, since it means that `rust-mingw` isn't being properly tested in CI.

[2020-03-31 10:32] #70599 closed

[2020-03-31 10:39] xldenis opened #70603 "Rustdocs link is broken"
It seems that over the last 24 hours the link to the Rustdocs for the compiler has turned into a 404.

At the bottom of the README there is a link to this url:

https://doc.rust-lang.org/nightly/nightly-rustc/rustc/

which currently returns a Not Found response.

I'm not sure if this is a problem caused by any recent changes to rustc or by the doc hosting itself.

This issue has been assigned to @

[2020-03-31 10:39] jonas-schievink commented on #70602
not sure why you filed https://github.com/rust-lang/rust/issues/70489 again, but closing as a duplicate

[2020-03-31 10:39] #70602 closed

[2020-03-31 10:40] jonas-schievink commented on #70489
Apparently this is a regression in 1.42.0?

[2020-03-31 11:15] jonas-schievink commented on #70603
The crate was renamed, the new link is https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/

Should be an easy fix, but I don't know where that page is located

[2020-03-31 11:16] jonas-schievink commented on #70603
Oh, the *readme*, duh

[2020-03-31 11:19] eddyb commented on #70025
Hang on, but there should be no macros involved in the `impl` @bjorn3 posted, how is #66364 relevant?

[2020-03-31 11:21] bjorn3 commented on #70025
That code sets `self.scx.include_sources` to false when **any** file could not be read.

[2020-03-31 11:22] eddyb commented on #70025
Oh, that's just bad UX and should be fixed independently on not being able to load some file.

[2020-03-31 11:32] steffahn commented on #70586
Example made smaller
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3d3c447f2cec1933419dcebb3bd6c0ac))

Errors:

[code]

[2020-03-31 12:18] DutchGhost opened #70607 "Unsized type allowed in array declaration"
I tried this code:

[code]

I expected to see this happen: Fail to compile because an array doesn't allow DST's

Instead, this happened: It just compiled

### Meta

`rustc --version --verbose`:
[code]

Whenever the type is used:
[code]

rustc complains correctly:
[code]

[2020-03-31 12:21] dwrensha opened #70608 "internal compiler error: cannot relate region: LUB(ReErased, ReErased)"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2020-03-31 12:22] dwrensha commented on #70608
Report from `cargo bisect-rustc`:

searched nightlies: from nightly-2020-03-09 to nightly-2020-03-31
regressed nightly: nightly-2020-03-20
searched commits: from https://github.com/rust-lang/rust/commit/f509b26a7730d721ef87423a72b3fdf8724b4afa to https://github.com/rust-lang/rust/commit/f4c675c476c18b1a11041193f2f59d695b126bc8
regressed commit: https://github.com/rust-lang/rust/commit/57e1da59cd07

[2020-03-31 12:30] jonas-schievink commented on #70607
duplicate of https://github.com/rust-lang/rust/issues/44075

[2020-03-31 12:30] #70607 closed

[2020-03-31 12:47] steveklabnik commented on #47905
Triage: seems that this is not possible today, and doing so would be a big change, and no comments in two years. So I'm going to give this a close! Pursuing an RFC might be a good way to tackle this, if anyone wants to try to figure out how to add something like this into the language!

[2020-03-31 12:47] #47905 closed

[2020-03-31 12:50] Centril commented on #70608
This is presumably due to https://github.com/rust-lang/rust/pull/69189 -- cc @matthewjasper

[2020-03-31 13:08] oli-obk commented on #70356
Oh. I see now. Yea, we don't need the second check, any later const prop will do the mutability check and bail out, no matter the number and kind of indirections.

We can remove the `if static_def_id.is_some() && allocation.relocations().len() > 0 { ` check

[2020-03-31 13:28] RalfJung commented on #70356
That's what I thought, thanks. :)

[2020-03-31 13:30] eddyb commented on #70517
Found another one: `CFG_COMPILER_HOST_TRIPLE` is used in `src/librustc_session/config.rs` but it's still mentioned by `src/librustc_middle/build.rs`.

cc @Mark-Simulacrum Could we automate ensuring this? e.g. by searching for `env!` in tidy.

[2020-03-31 13:40] Mark-Simulacrum commented on #70517
Yeah, we can try I guess. Not sure :)

Maybe the right solution is that Cargo would, other than some whitelist, remove unknown variables from rustc's environment -- and the whitelist can be expanded via the build script env-tracking.

[2020-03-31 15:36] eddyb commented on #53081
I took a deeper look at this, and the simplest approach for fixing #53486 won't directly fix this.
Or rather, won't fix running tests with `remap-debuginfo = true` in `config.toml`.

That's because there's no equivalent to the `rust-src` `rustup` component, for the `stage{1,2}` sysroots that exist while building/testing Rust. We could use a symlink to the real `src` directory, but I don't think th

[2020-03-31 15:41] eddyb commented on #70517
@Mark-Simulacrum hmm I wonder if abusing the `.d` file format (from `--emit=dep-info`) or encoding this extra info in a comment, would be a good idea.

[2020-03-31 15:46] Mark-Simulacrum commented on #70517
You mean such that if you use `env!` we automatically tell Cargo to rebuild on changes? (That's https://github.com/rust-lang/rust/issues/40364).

But yeah, I think that would be good. Ideally this would be "well-integrated" vs. the current state of everyone having to remember to do it.

[2020-03-31 16:16] nikomatsakis commented on #68793
So @rylev reached out to me to ask about stabilization as well as the possibility of enabling this option by default for the stdlib when built on Windows (at least with msvc, I imagine).

I would like to see this move forward, as it seems like a useful option with important safety implications.

What I think we want is the following

* A PR adding user-facing documentation to [the unstable book](h

[2020-03-31 16:20] ortem opened #70620 "No error code for "union patterns should have exactly one field""
It would be nice to have a specific error code for `union patterns should have exactly one field`  [error](https://github.com/rust-lang/rust-gha/blob/master/src/librustc_typeck/check/pat.rs#L948). Currently, there is [no such code](https://doc.rust-lang.org/error-index.html).

[2020-03-31 16:31] mksyposz commented on #70603
@rustbot claim
Seems easy enough for the first issue😄

[2020-03-31 17:18] zicklag opened #70624 "Panic: non-eager expansion without a parent scope"
I tried this code:

[code]

I didn't actually expect it to work ( yet ), but it shouldn't have panicked.

### Meta

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14f71fd110cf071422833fa0c79b20bf).

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-03-31 17:24] #70529 closed

[2020-03-31 17:24] #70549 closed

[2020-03-31 17:27] tmandry commented on #70488
We discussed this in the wg-async-foundations meeting and several people wanted to close as won't fix. Without evidence that this causes performance regressions in real-world code, it may not be worth pursuing further. We also don't think it's worth making generators bigger or changing their alignment to improve a microbenchmark.

That said, it does seem like LLVM could be generating better assemb

[2020-03-31 17:34] petrochenkov commented on #70624
Likely a duplicate of https://github.com/rust-lang/rust/issues/55414.

[2020-03-31 17:37] nikomatsakis commented on #66107
@rustbot claim

I'm going to "claim" this issue, but only to write mentoring instructions! If anybody is interested in taking a crack at it, I'd be happy to help.

[2020-03-31 17:57] jdmpapin commented on #44005
It seems like the test added in bbbbf2d is passing only because `broken`, `uncallable`, etc. aren't reachable from `main`. If I copy the test to the Rust playground, it compiles and runs as-is, but it produces an ICE again if I modify `main` to call `catalyst` like so:
[code]
Here's the output from stable (1.42.0):
[code]

[2020-03-31 18:03] #27322 closed

[2020-03-31 18:50] Centril commented on #70620
We don't have error codes for most errors in the compiler. I don't know that it makes sense to file issues when one is missing. It would be easier to make a PR directly instead.

[2020-03-31 18:57] ortem commented on #70620
OK, I will try to make a PR soon

[2020-03-31 18:58] robinmoussu commented on #70543
That's right, but it would clutter the code source a lot, as well as making it harder to maintain.

I really think that backward compatibility is really important for this, so using an attribute seems a much better idea.

What do you mean by that?

[2020-03-31 19:24] abonander commented on #62529
@pnkfelix I'd like to request that the team re-address this at the next meeting because this is requiring some ugly workarounds in SQLx:

* A special trait for each instantiation of `QueryAs<DB>`: https://github.com/launchbadge/sqlx/blob/283f0ef6d86729cdd6561b1ee2475fb3759d3024/sqlx-core/src/query_as.rs#L66
* Traits instead of taking closures directly for `for<'a> FnMut(<DB as HasRow<'a>>::Row) ->

[2020-03-31 19:47] nikomatsakis commented on #66173
So, picking this up again, and [echoing a comment from Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/never.20type.20fallback/near/192438123):

In my previous comment, I linked to a branch. The key idea there was to (a) identify type variables that that got their value as a result of diverging fallback and then (b) warn when we find those type variables in "certain c

[2020-03-31 20:17] kper commented on #70583
@rustbot claim

[2020-03-31 20:18] lcnr commented on #70285
@rustbot claim

I want to look into this, may take a few days though.

[2020-03-31 20:24] kper commented on #70583
In the last commit, I simply dropped the "block is empty..." message.
This leads to this error message now:
[code]
Any suggestions what to put there too?

[2020-03-31 20:42] pnkfelix commented on #68550
@rustbot assign @nikomatsakis

reassigning to niko because they told me that they are doing work that should address the issue here.

[2020-03-31 20:53] Mark-Simulacrum commented on #70543
We currently try to highlight whether a code block compiles or not in the UI. I think this particular request is getting into the territory of literate programming, which rustdoc's UI IMO is not particularly well suited for. I suspect that there's a sufficient amount of toggles you'd eventually reach where rustdoc at some point is just the wrong tool for the job. I suspect that for this request in

[2020-03-31 21:19] Mark-Simulacrum commented on #59838
Closing in favor of https://github.com/rust-lang/rust/issues/65063.

[2020-03-31 21:19] #59838 closed

[2020-03-31 21:24] Mark-Simulacrum commented on #68793
Yeah, I think that's about the right set of people. In this particular case I imagine we'd treat this similarly to stack guards and so forth on other platforms (at a high level, my understanding is that this is similar, just more pervasive -- related to control flow vs. stack overflows).

With regards to whether or not to stabilize/add this to std's flags I would definitely need to read a write up

[2020-03-31 21:40] jonas-schievink commented on #70594
Fix up at https://github.com/rust-lang/rust/pull/70636

[2020-03-31 21:48] tspiteri commented on #54475
If you create a const `Vec` and use it instead of `Vec::new()`, it does seem to work around the issue.

[code]

[code]
https://rust.godbolt.org/z/ftbvHX

[2020-03-31 22:14] That3Percent commented on #47966
It would be useful to have a working example of the "just use pointer casting" technique in the interim while waiting for something to be implemented.

I'm arriving at this thread after writing a function which attempts to `transmute` a `[MaybeUninit<T>; const_size]`. `transmute` is the recommended method when initializing that type, and it's unclear how to accomplish this when generics are involv

[2020-03-31 22:16] #69411 closed

[2020-03-31 22:16] #70603 closed

[2020-03-31 22:16] #70356 closed

[2020-03-31 22:23] That3Percent commented on #47966
There is a crate which allows for this call to be made - [transmute](https://crates.io/crates/transmute)

[2020-03-31 22:28] RalfJung commented on #54475
And unsurprisingly so -- making a function `const fn` has exactly no effect at all on the generated LLVM IR.

[2020-03-31 23:32] jonas-schievink commented on #70488
Ah, I see, that explains the emitted code, thanks! It also explains what was observed in https://github.com/rust-lang/rust/issues/66595 I suppose.

Well, I don't think there's much of a point in leaving this issue open then, so closing.

[2020-03-31 23:32] #70488 closed

[2020-04-01 00:22] retep998 commented on #27322
Closed because of https://github.com/rust-lang/rust/pull/69425 I assume

[2020-04-01 00:24] mimoo commented on #70489
Actually no sorry, not introduced by 1.42.0

[2020-04-01 00:37] steveklabnik commented on #48220
Triage: this text is no longer in the book; it seems like a warning was added. I'm gonna call this fixed. Please let me know if this is not the case!

[2020-04-01 00:37] #48220 closed

[2020-04-01 00:38] comex commented on #66595
You probably don't actually want volatile for this; a command table is stored in RAM and is not itself composed of hardware registers, so you don't need to regulate the memory access size.  (The same is true for command lists, incidentally.)

Instead, you probably want to follow the general pattern:
1. Use regular memory writes to write the data to some address;
2. Execute a compiler fence to prev

[2020-04-01 00:42] steveklabnik commented on #53760
Triage: I don't believe the lint is wrong. Each file in the `tests` directory is compiled as a separate thing. When `bar.rs` is compiled, there is `mod common;`, meaning the module is private, and `common::baz` is never used.  That `foo.rs` uses it isn't really something that rust can know about.

This may be slightly confusing at first, but it is working as intended, as far as I know. thanks for

[2020-04-01 00:42] #53760 closed

[2020-04-01 01:01] durka commented on #48220
Whether or not the book suggests this or not, the syntax is still allowed by rustc. The movement to fix it, or even lint on it for future deprecation (#55373, #56575) seems to have stalled.

[2020-04-01 01:29] #68387 closed

[2020-04-01 01:29] #70316 closed

[2020-04-01 01:29] #70552 closed

[2020-04-01 01:41] benesch commented on #67302
Ok, the code should be far more optimized now. What remains to be done? The main issue description has yet to be filled in. 😄

[2020-04-01 01:42] msmouse commented on #70489
libcompiler_builtins defines "__muloti4" which is also part of libc++ which is statically linked to liblibrocksdb_sys (from https://github.com/tikv/rust-rocksdb). I naively think compiler-builtins usually should not be included in buiids and it being linked here is the problem? @jonas-schievink

[2020-04-01 02:10] mexus commented on #61695
Is there anything else required to begin the process of stabilizing the feature?

[2020-04-01 03:31] coolreader18 commented on #54726
RustPython has a use case for this in allowing the contents of a module to basically be collected into a map; RustPython/RustPython#1832. The current implementation would basically have an inline module with an attribute on it in every module file, but that's not great as it creates unnecessary rightward drift and indentation.

[2020-04-01 03:37] cksac commented on #69943
I also found it very hard or not possible to use type alias as workaround in some cases, [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=285fbf4ca8b0a4535c904b636523c23b)

[2020-04-01 06:23] ethindp commented on #66595
Sage advice. This hasn't happened to me for a while now, so I'll close this issue. I'll reopen it if I hit this problem again.

[2020-04-01 06:23] #66595 closed

[2020-04-01 06:32] cksac commented on #69943
#62058

[2020-04-01 07:52] #69420 closed

[2020-04-01 09:32] Timmmm commented on #41758
I disagree! `resize_default()` is such a common operation it is nice to have a short way of writing it. And as @Lucretiel mentioned there are plenty of other convenience `_default` methods in Rust. What exactly is the problem with leaving it in?

[2020-04-01 09:48] Hexilee opened #70646 "Add option to set global `no_run` for doc test"
As this [issue](https://github.com/GuillaumeGomez/doc-comment/issues/20).

I want to guarantee all examples in external files can pass compiling, but I would not like to run them.

The main reason not to add no_run for each block is many markdown renders cannot correctly recognize a "rust,no_run" block.

So, could we add a option for `#[doc]` like `#[doc(include = "../README.md", no_run)]`?

[2020-04-01 09:51] Popog opened #70647 "Associated types expansion issue"
Adding an bound on an associated type (`where T::BarOutput: TraitFoo`) causes the compiler to erroneously complain about the original bound:

`the trait bound ``T: TraitBar<u64>`` is not satisfied`

The compiler is able to expand the associated type `BazOutput` enough to generate that error, but not enough to realize it would satisfy that bound.

[code]

([Playground](https://play.rust-lang.org/?v

[2020-04-01 10:12] ayushmishra2005 commented on #70336
@rustbot release-assignment

[2020-04-01 11:07] #70521 closed

[2020-04-01 11:23] oli-obk opened #70651 "Replace submodules with subtrees"
cc @rust-lang/clippy @RalfJung

cc @rust-lang/compiler @rust-lang/infra  we gate on clippy soon, so if you break clippy you need to fix it immediately in the same PR. This is trivial now though, since we are basically in a monorepo state, so you just edit stuff in `src/tools/clippy/` until everything works again.

Synchronizations of the remote repo and the local subtree is explained in CONTRIBUTI

[2020-04-01 11:30] #68116 closed

[2020-04-01 11:30] lzutao commented on #68116
Closed until I find a snippet that trigger this.

[2020-04-01 11:32] RalfJung commented on #70651
Cc @rust-lang/miri because we have that now :D

[2020-04-01 11:38] jonas-schievink commented on #70489
Can't help you with that, I try to do as little FFI as possible

[2020-04-01 11:56] QIvan commented on #40267
Hi! sorry, is there any news about this problem in 2020?
Thanks!

[2020-04-01 12:21] eddyb commented on #70651
Hmm, I was led to believe that `git subrepo` was nesting `git` repositories, in a way which `git` natively handles. But it turns out it's just a monorepo sync tool, same as manually making large commits. I don't think losing commit history is acceptable.

At a glance, `git subtree` looks like it might do the right thing, i.e. keep the repository nesting of a submodule, but I haven't tried it yet t

[2020-04-01 12:28] MikailBag commented on #70488
To sum up.
Am I right than performance regression happens only when all conditions are met?
1) Custom `black_box`, based on volatile (instead of `std::hint::black_box`)
2) Future is created, but neither polled not awaited.
3) Future is tiny.

[2020-04-01 12:56] oli-obk commented on #70651
I moved to git subtree.

[2020-04-01 13:24] eddyb commented on #70651
In case it gets lost on the PR, I said: https://github.com/rust-lang/rust/pull/70655#issuecomment-607240782

[2020-04-01 13:40] nikomatsakis commented on #68793
@ajpaverd do you think you'd be up for producing the write-up that I referenced?

[2020-04-01 13:42] nikomatsakis commented on #70285
This sounds right. I was wondering whether that flag still needed to exist really, given that the gcx/tcx split was removed.

[2020-04-01 13:46] nikomatsakis commented on #56105
So, the warning that @quark-zju is getting is tracked -- by this issue! In other words, that warning may become a hard error in the future, though we're still working through the relevant code and deciding just how everything should shake out.

@quark-zju I have a question about your crate. If you had a way to write an impl that applied to **all** function pointer types, would that fulfill your us

[2020-04-01 13:51] RalfJung commented on #70651
Would be good to get the pro's and con's of that decision documented somewhere. `git submodule` advertises itself as a better alternative to `git subtree`; why is `subtree` still the better choice for us?

[2020-04-01 13:59] oli-obk commented on #70651
I don't know why `git subrepo` is better than `git subtree` other than what the documentation of `git subrepo` states at https://github.com/ingydotnet/git-subrepo#benefits

Git subtree is better than `git subrepo because it preserves all commits in history instead of squishing them in the name of the person who synchronizes it.

[2020-04-01 14:01] eddyb commented on #70651
`git subtree` is upstream, which is nice, and it also supports preserving the commits better.
I believe the "rebase failures" that `git subrepo` talks about are actually an anti-pattern: rebasing a merge commit, it's not meant to work *at all*.

`git subrepo` seems to want to just throw all the changes into single commits so you "don't have to deal with it", whereas `git subtree` is more history-p

[2020-04-01 14:08] pickfire commented on #62188
It would be nice for rustdoc to be able to show which feature enables a function beside it. @QuietMisdreavus Is this feasible? Just wondering if this issue relates to https://github.com/rust-lang/rust/issues/55938

[2020-04-01 14:11] pietroalbini commented on #69895
Discussed this at the infra meeting, there is a PR removing webrender. De-prioritizing.

[2020-04-01 14:17] eddyb commented on #70285
@nikomatsakis What would you prefer we do to "fresh variables"? Does anything rely on `needs_infer` returning `true` for them?

I guess there's at least one place where we want to check if any types or consts could be later replaced ("is further specializable" type checks), but @davidtwco is adding a special flag for that.
I think right now the check omits `ty::Bound` and `ty::Placeholder` (becaus

[2020-04-01 14:21] nikomatsakis commented on #70285
I'd like to get rid of fresh variables altogether, but in the meantime, I don't *think* anything should be relying on that -- they really shouldn't leak outside of the select caching in the trait system, I don't think.

[2020-04-01 14:29] nikomatsakis commented on #60163
Note: as part of the effort to "extract a shared library for types", I want to do a review of naming conventions for things like this and try to reach some decisions.

[2020-04-01 14:30] nikomatsakis commented on #60163
I have mixed feelings about "shortening things" like `Assoc`. I do appreciate it being concise, but I also think that writing things out has a surprisingly nice effect on things feeling more readable overall.

[2020-04-01 14:30] nikomatsakis commented on #60163
But I think that using "associated function" instead of "method" is perhaps wise, particularly if it applies uniformly to things with `&self` and without.

[2020-04-01 14:36] RalfJung commented on #70651
Is this true in both directions (subtree pull/push)?

Does `git subtree` also have the problem that a "subtree push" needs a commit on the rustc side?

[2020-04-01 14:41] eddyb commented on #70285
Okay I've looked at all `needs_infer` uses, these are the interesting ones:

1. this one is super weird, I think it refers to something that doesn't exist anymore? https://github.com/rust-lang/rust/blob/99009bf31992fb9257b84550dbf7cb509f987952/src/librustc_infer/infer/resolve.rs#L184-L228

2. the specialization check I mentioned, which @davidtwco will open a PR to replace: https://github.com/rust-