[2021-03-26 18:40] Aaron1011 commented on #83523
@casperin: Can you share your full repository (or at least `schema.rs` and your `Cargo.toml`)?

[2021-03-26 18:45] casperin commented on #83523
There is no repo. It's just me playing around locally. Here is schema and cargo.toml

[code]

[code]

[2021-03-26 18:50] Aaron1011 commented on #83523
@casperin: Thanks! If this crash is still happening, could you zip and upload your entire `target` directory?

Do you remember what types of changes you were making before this crash happened? This kind of issue is caused by the state of the incremental cache, so this can only be reproduced by compiling the project multiple times (with some modifications).

[2021-03-26 18:57] bIgBV commented on #83310
@rustbot claim

[2021-03-26 19:01] casperin commented on #83523
It is definitely still happening. I can't get it to compile at all anymore. It's not a problem as such (I'm just testing out various web frameworks to get a feel for them) but it has me looking for something that does not require nightly now.

I was following [this tutorial](https://www.youtube.com/watch?v=tjH0Mye8U_A) with slight changes yesterday. I did not encounter any compiler error then.

To

[2021-03-26 19:21] MidasLamb commented on #83499
@rustbot claim

[2021-03-26 19:33] Aaron1011 commented on #83523
I've had a lot of trouble reproducing this issue, and it's been affecting some other people as well. Any help in reproducing this would be very much appreciated :)

If the crash is still happening, could you create a zip file with your entire project directory (e.g. your `Cargo.toml`, the `src`, and `target` directories)? I've been unable to reproduce this locally, so that would be a huge help in

[2021-03-26 19:35] leonardo-m commented on #83518
This seems an useful lint. But is this lint firing when there's a copy larger than X bytes in the source code, or when the compiler optimization passes actually leave a X bytes copy in the binary? In the second is much more useful because modern compilers are supposed to optimize away many copies (see RVO, etc).

[2021-03-26 19:40] casperin commented on #83523
The file is 250mb ... how do I get it to you?

[2021-03-26 19:46] Aaron1011 commented on #83523
@casperin: Can you upload it to this Google drive folder: https://drive.google.com/drive/folders/1mRdlADbVaVnxUbF0oBcz8gGi1cuMyQm6?usp=sharing

[2021-03-26 19:50] nikomatsakis opened #83527 "Tracking Issue for RFC 3086: macro metavariable expressions"
This is a tracking issue for the RFC "3086" (rust-lang/rfcs#3086).
The feature gate for the issue is `#![feature(macro_metavar_expr)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale disc

[2021-03-26 19:53] nikomatsakis commented on #83167
@luojia65 can you elaborate on that? Do you mean specifically that being able to invoke the functions without using "turbofish syntax" is remarkable convenient?

[2021-03-26 19:58] sdragic opened #83528 "Writing to `stdout` with `write()` changed behavior between version 1.47 and >= 1.48"
I'm not sure this is worth reporting, but it has caused confusion at least once, so maybe it makes sense to be documented somewhere.

When writing to `stdout` with `write()`, write will return smaller number bytes than direct `write()` call would do in some cases. Here is example code:
[code]

Rustc 1.47 gives expected result:
[code]

This is also in accordance with similar programs written in C,

[2021-03-26 19:59] casperin commented on #83523
Done. Let me know if there is anything else I can do. We can do a zoom call if that would help. Just know that I'm in CET (it's 9pm here)

[2021-03-26 20:09] Aaron1011 commented on #83523
Thanks - I'm now able to reproduce it!

[2021-03-26 20:14] casperin commented on #83523
Sweet! Have fun :-)

... this totally made my day btw. My very first (very small) contribution to the greatest language.

[2021-03-26 20:38] camelid commented on #83502
Though I don't think it will handle the `i--;` case, since that's a syntax error.

[2021-03-26 20:51] alex commented on #68167
On the latest nightly you get a memset call, as hoped. Fixed! Thanks to everyone who made mutable-noalias work.

[2021-03-26 20:51] #68167 closed

[2021-03-26 20:53] Aaron1011 commented on #83473
It looks like this is not actually due to corruption - it showed up in a completely different project (https://github.com/rust-lang/rust/issues/83523), also with `predicates_of` for a trait in libstd.

[2021-03-26 21:17] Aaron1011 commented on #83523
This is related to the presence of the `rust-src` component. When this component is present, rustc is able to 'remap' standard library filenames (this is how you get paths like `/home/g/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/library/core/src/ops/deref.rs:64:1: 64:16 (#0)` which point into your local filesystem.

If I remove the `rustc-src` component when compiling

[2021-03-26 21:19] chengniansun opened #83531 "ICE: compiler/rustc_mir/src/interpret/eval_context.rs:188:17: The type checker should prevent reading from a never-written local"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-26 21:19] chengniansun commented on #83531
This might be relevant to or a duplicate of #69487

[2021-03-26 21:28] chengniansun commented on #83531
Besides, I finally trigged this hidden rustc feature.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-26 21:40] petrochenkov commented on #37199
@r00ster91
This issue is about pretty-printing with AST pretty-printer in `rustc`, rather than about `rustfmt`.
It is available on https://play.rust-lang.org through "Tools > Expand macros", for example.
The issue still reproduces there.

[2021-03-26 21:46] 00alia00 opened #83533 "found unstable fingerprints for evaluate_obligation - Only occurs after the previous build was successful"
cargo clean
cargo build <-- works

small change
cargo build <-- fails

### Meta

`rustc --version --verbose`:
[code]
<details><summary><strong>Console</strong></summary>
<p>

[code]
</p>
</details>

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-26 21:52] lcnr commented on #83466
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383466.20ICE.3A.20wrong.20const.20argument.20causes.20a.20couple.20of.20ICE) in the prioritization working group.

@rustbot label: +P-medium -I-prioritize

[2021-03-26 22:06] a2aaron opened #83534 "Missed unconditional recursion warning in Default trait implementation."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=97f86e28bd7cd07f59f1507f35a9c7a3

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The above code should produce a warning because it is impossible for `Foo::default()` to return without recursing. This likely occurs because the compiler is conservative when it com

[2021-03-26 22:32] mitsuhiko commented on #67984
Neither do I. Sorry my comment was unclear. The ambiguity only exists for `panic!`. I have updated my comment accordingly.

[2021-03-26 22:56] asomers commented on #27887
@sanxiyn I fixed the out-of-stack test in abc3777c06abced90b415b920082a4814d9051d7 , but at some point it regressed again.

[2021-03-26 23:08] Aaron1011 opened #83538 "Trait evaluation cache interacts badly with incremental compilation"
PR https://github.com/rust-lang/rust/pull/83220 solved one issue with the trait evaluation cache, but I've found another one.

On the `perf` server, `syn` is currently causing the following ICE:

[code]

I've created a standalone repository that reproduces this crash: https://github.com/Aaron1011/syn-crash

The following shell script can be used to reproduce the ICE:

[code]

**EDIT**: This appear

[2021-03-26 23:09] sjakobi commented on #77290
Is there still work to do here now that #78666 has been merged?

[2021-03-26 23:11] chengniansun opened #83539 "ICE: panicked at 'called `Result::unwrap()` on an `Err` value: MoveData...compiler/rustc_mir/src/transform/rustc_peek.rs:37:70"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-26 23:24] sjakobi commented on #77548
Is the plan suggested in https://github.com/rust-lang/rust/pull/77675#issuecomment-736585939 still good?

[2021-03-26 23:28] sjakobi commented on #76547
Is there still work to do here now that #76765 has landed?

[2021-03-26 23:34] RalfJung commented on #77548
@sjakobi yeah I'd say it is. https://github.com/rust-lang/rust/pull/77675 actually did most of the work (adjusting tidy); someone just has to do the multi-stage landing process:
- in a first PR, land the tidy change with disabled "ignoring length unnecessarily" (and probably adjust no existing tests, to keep conflicts down)
- then in a second PR, remove the unnecessary ignore-line-length comments

[2021-03-26 23:52] camelid commented on #83539
The code has borrowck errors, so this is probably a case of the attribute implementation assuming that the code is valid.

[2021-03-27 00:20] camelid commented on #82114
Actually it's not implicit; some docs, such as the rustc API docs, use `--document-private-items`.

[2021-03-27 00:26] jsha commented on #82114
Associated types are inside the declaration, so would be shown without resorting to a special case. But yes, it's true about attributes. Worth noting, though, that the current experience for attributes is not good: Even if there's only one attribute, it gets hidden behind a toggle. Opening the toggle to see just one attribute makes me wonder "why was this hidden?"

Note that we already have a plac

[2021-03-27 00:28] Aaron1011 opened #83540 "Devirtualized file names interact badly with incremental compilation"
We we import `SourceFile`s from a foreign crate, we try to 'devirtualize' paths pointing into the standard library crates. However, this only occurs if the user has the Rust source available locally (through the `rust-src` component):

https://github.com/rust-lang/rust/blob/5e65467eff3d1da4712586d8402d1d2e1d6654bc/compiler/rustc_metadata/src/rmeta/decoder.rs#L1614-L1625

The filename ends up getti

[2021-03-27 00:34] khvzak opened #83541 "illegal hardware instruction when using ffi+luajit on beta and nightly >=2021-03-11"
Hello, I'm [`mlua`](https://crates.io/crates/mlua) maintainer and found a regression when running tests for the library on the latest beta and nightly.
I narrowed it down to a minimal example:

### Code

main.rs
[code]

Cargo.toml
[code]

build.rs
[code]
Repo: https://github.com/khvzak/luajit_bug

It works on stable rust, but fails on beta and nightly with `illegal hardware instruction` on macos 1

[2021-03-27 01:05] sfackler commented on #83541
You have declared run_me as a C ABI function, which Rust currently does not allow to unwind. However, LuaJIT is throwing an exception. The change in beta/nightly is to inject some code to cause the process to abort if the thread unwinds through a C ABI function: https://github.com/rust-lang/rust/issues/52652.

There is a `"C-unwind"` ABI (currently nightly only), which is the C calling convention

[2021-03-27 01:09] sfackler commented on #83541
For reference, this diff fixes the UB:

[code]

[2021-03-27 01:10] Guozhanxin commented on #76727
### os
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.2 LTS
Release:        20.04
Codename:       focal
### kernel
Linux LAPTOP-HGRKL30R 4.4.0-18362-Microsoft #1049-Microsoft Thu Aug 14 12:01:00 PST 2020 x86_64 x86_64 x86_64 GNU/Linux
### rust
rustc --version
rustc 1.50.0 (cb75ad5db 2021-02-10)
cargo --version
cargo 1.50.0 (f04e7fab7 2021-02-04)
### filesystem
mo

[2021-03-27 01:12] camelid opened #83542 "rustdoc: Try removing `Cache.stack` and instead working directly with the item path"
Maybe it exists to avoid issues with re-exports? It would be good to experiment and see if we can get rid of it.

[2021-03-27 01:28] Manishearth commented on #70651
I feel like that's a pretty rare occurrence and unfortunately the tooling doesn't support doing such a transform currently. We could tweak the bors thing though

[2021-03-27 01:33] Manishearth commented on #82114
I think this would be a good followup to my PR.

Currently rustdoc hides based on a binary of _types of things_, whereas IMO we should be doing based on what we think is _worth hiding_. Single attributes? No. Multiple? Maybe, picking some threshold. It's the same thing with my PR, I'm trying to move away from "hide structs" "hide enums" etc to "hide all kinds of things when they get too big".

No,

[2021-03-27 01:54] sjakobi commented on #75080
I can't find any old-style links in in `library/core/src/ptr`. I'm probably misunderstanding the task description though.

(And is whatever remains to be done still `E-easy`?!)

[2021-03-27 02:04] Aaron1011 commented on #83538
This option would make our choice of `EvaluatedToOk`/`EvaluatedToOkModuloRegions` depend entirely on the input predicate - if the predicate has any regions, we'll return `EvaluatedToOkModuloRegions`. Otherwise, we'll return `EvaluatedToOk` (assuming that evaluation succeeds).

[2021-03-27 02:10] jsha commented on #82114
Great! By the way, how common is it for there to be enough attributes that we would need to hide them? I'm working on the CSS for your PR right now, and I think it might simplify things if we could say "attributes are never hidden." In my limited experience, I've only ever seen a single attribute. I know there can be more, but it seems quite rare that there would be so many they need hiding.

Defi

[2021-03-27 02:13] Manishearth commented on #82114
Probably pretty rare! I'm okay with taking this approach for now.

I think this makes sense in the case of attributes, but not as a general rule: for example we let you collapse impl blocks and also their individual contents and I think that's fine.

[2021-03-27 02:14] glandium opened #83544 "Type coercion of tuples of arrays vs. slices in if/else"
I tried this code:

[code]

This happened:
[code]

It would have been convenient if it weren't an error. Similar code does work without a tuple:
[code]
or in functional form:
[code]
thanks to, I guess coercion. That former example didn't work before 1.9.0, by the way, for a similar reason to why it doesn't work with a tuple now.

### Meta

`rustc --version --verbose`:
[code]

[2021-03-27 02:19] JohnTitor commented on #83138
Triage: Fixed by #83404, that PR should have a regression test for this so I'm going to close, thanks!

[2021-03-27 02:19] #83138 closed

[2021-03-27 02:28] camelid commented on #82114
For traits it's probably relatively rare to have a lot of attributes on the associated items, but I think the standard library tends to have several attributes on structs, enums, enum variants, and fields. For example, `Option` looks like this:

[code]

However, we don't currently show attributes for stuff in types, so the declaration looks like this:

![image](https://user-images.githubuserconten

[2021-03-27 02:31] jsha commented on #82114
Interesting. Is there special logic for hiding the attributes on enums? If you look at e.g. https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html, and hit "Show declaration," it has the attributes.

[2021-03-27 02:36] asomers commented on #67153
@paulfloyd I'm not highly familiar with the internals of the Rust compiler, but I can easily answer one of your questions:
* Rust does not use MAP_GUARD because that's a FreeBSD-specific feature, and it's younger than Rust's stack overflow detection code.  It wasn't added until FreeBSD 11.1.  We could change it, but IIRC Rust currently tries to support back to FreeBSD 10.0 or something.  I disagre

[2021-03-27 02:37] camelid commented on #82114
I feel like I saw Manish say somewhere that he was going to fix that?

[2021-03-27 02:42] camelid commented on #82114
It looks like we only render attributes for methods: https://github.com/rust-lang/rust/blob/f811f14006fa46030f1af714f7d640580d3ad822/src/librustdoc/html/render/mod.rs#L1043

Probably we just need to call `render_attributes` in more places.

[2021-03-27 03:23] Amanieu commented on #79175
I think this might be because of the order in which the LLVM instrumentation pass is executed relative to the other LLVM passes.

Clang runs the "Frontend instrumentation-based coverage lowering" very early before any optimization passes while rustc runs it at the end after all the optimizations.

### rustc
[code]

### clang
[code]

[2021-03-27 03:27] fee1-dead commented on #83533
Try using the latest nightly and see if you can reproduce the issue.

@rustbot label: A-incr-comp

[2021-03-27 03:27] jsha commented on #82114
Actually, it looks like there is a list of allowed attributes, and the attributes you point out on `Option` aren't in the list: https://github.com/rust-lang/rust/blob/f811f14006fa46030f1af714f7d640580d3ad822/src/librustdoc/html/render/mod.rs#L1095-L1103

[2021-03-27 03:33] SolraBizna commented on #72802
I'm currently writing a tool that needs to be able to produce a very large output file, and write each block of that output file in a semi-random order. Its output file is specified by redirecting stdout. This particular tool could be changed to accept its output file as a command line argument, but if I were writing a tool that needed to avoid file creation race conditions (like the ones `tmpnam`

[2021-03-27 03:51] jyn514 commented on #75080
I think there are few enough links left to convert it's not useful to have a tracking issue for them.

[2021-03-27 03:51] #75080 closed

[2021-03-27 05:15] teor2345 commented on #83291
I'm also seeing a similar error intermittently, when compiling https://github.com/ZcashFoundation/zebra using `clippy --all-targets --all-features`. See #83381 for more details.

It seems like `nightly-2021-03-13-x86_64-unknown-linux-gnu` is unaffected (or the issue is very rare).

`2021-03-14` to `2021-03-21` are affected occasionally. (Maybe 1 in 10 runs.)

I haven't tested anything more recent,

[2021-03-27 05:36] Amanieu commented on #79175
@richkadel I've confirmed that reordering the passes fixes this issue.

[2021-03-27 07:27] mgeisler opened #83550 "Inline code has collapsed whitespace"
### Code

When documenting the handling of whitespace in the [textwrap](https://github.com/mgeisler/textwrap/) crate, I noticed that whitespace is collapsed in inline code. That is,

[code]
is rendered the same as
[code]

Test it with
[code]

### Version it worked on

It worked on Rust 1.50:

![image](https://user-images.githubusercontent.com/89623/112713538-f08eca00-8ed5-11eb-8a98-675179f60ae2.pn

[2021-03-27 07:56] klensy opened #83551 "compiletest should check for possible typos in annotated test directives"
This should help with things like https://github.com/rust-lang/rust/pull/83348#discussion_r602685312
Levenshtein distance with list of known directives will be enough?

[2021-03-27 07:59] klensy commented on #83551
@rustbot label: A-testsuite

[2021-03-27 08:01] hi-rustin commented on #83513
@rustbot claim

[2021-03-27 08:30] osa1 commented on #83518
Has anyone started working on the implementation yet?

[2021-03-27 08:30] hi-rustin commented on #83227
@pietroalbini Could you please take a look?

[2021-03-27 08:32] osa1 commented on #83158
I don't understand HIR ownership and I'm working on other issues currently. I'm hoping to come back to this but if anyone wants to do it in the meantime please feel free to pick this up.

[2021-03-27 08:37] RalfJung commented on #70651
Well, it's also something that has a high chance of flying below the radar when it happens. All we know is it happened *at least* once.

[2021-03-27 08:44] inliquid commented on #23818
This is the dumbest thing I ever seen in programming languages for years.

This works:

[code]
Output:
[code]

But I want to have a prompt and cursor on the same line, so I change `println!` to `print!`:

[code]
and I have no idea what the heck is happening:
[code]

[2021-03-27 08:48] osa1 commented on #83551
Is this to distinguish an ordinary comment from a directive?

[2021-03-27 09:15] klensy commented on #83551
@osa1
Yes, this is the first idea that came into my mind.

[2021-03-27 09:26] m-ou-se commented on #67984
@mitsuhiko The panic issue is [already resolved in Rust 2021](https://github.com/rust-lang/rust/issues/80162). `panic!(anything)` in Rust 2021 unconditionally expands to an expression with `format_args!(anything)`:
https://github.com/rust-lang/rust/blob/f811f14006fa46030f1af714f7d640580d3ad822/library/core/src/panic.rs#L33-L40

If we add `f".."` syntax, we should just make `format_args!()` accept

[2021-03-27 10:40] #83340 closed

[2021-03-27 10:41] stijnfrishert commented on #83473
Ah, that's great news! Looks like you've chased the problem down already.

I totally agree with Casperin in the other issue, I'm just happy to contribute to this great language and team :)

[2021-03-27 10:47] glandium opened #83552 "-Z profile broken since the upgrade to LLVM 11"
The same errors as #50203 (cannot merge previous GCDA file: corrupt arc tag) are happening again, starting with nightly-2020-08-24 (5180f3da5), which is the first nightly after #73526.

I'm using the flags `-Zprofile -Ccodegen-units=1 -Cinline-threshold=0`, and setting `CARGO_INCREMENTAL=0` in the environment.

[2021-03-27 10:50] m-ou-se commented on #82812
This is fixed by https://github.com/rust-lang/rust/pull/83353

[2021-03-27 10:51] m-ou-se commented on #82812
Turns out it was *three times*, if you also count the `String` that the `&str` is copied into.

[2021-03-27 10:54] m-ou-se commented on #83352
The usages in std have been fixed by https://github.com/rust-lang/rust/pull/83353

However, we still need to find a way to improve this for `io::Error`s created in other crates. We can't fix `io::Error::new` as explained [here](https://github.com/rust-lang/rust/pull/83353#issuecomment-803656916), so that'd have to be some new function or type, unfortunately. :(

[2021-03-27 10:56] khvzak commented on #83541
Thanks Steven for the explanation!

What is confuses me that it's reproducible only when using LuaJIT. I ran a full test suit on Linux/Windows/MacOS and nightly rust (excluding LuaJIT) and it passed (https://github.com/khvzak/mlua/actions/runs/692598095)

I expected the same behaviour regardless of Lua version, they all should use setjmp/longjmp for exception handling.
I see the PR https://github.

[2021-03-27 11:00] JohnTitor opened #83554 "Tidy doesn't check the dependencies from submodules/subtrees"
Filing this so that I don't forget to fix it...
We have a license check on tidy for each dependency but it doesn't check dependencies coming from submodules/subtrees. For instance, tidy doesn't say anything about the `libm` crate, which comes from rustfmt (`rustfmt-nightly -> bytecount -> packed_simd2 -> libm`). Ideally, tidy should also check those dependencies.

_Originally discussed on https://

[2021-03-27 11:06] m-ou-se commented on #82812
Running your benchmark (thanks!):

Before:
[code]

After:
[code]

Looks like it isn't completely solved yet. Adding `#[inline]` to `io::Error::new_const` now... :)

[2021-03-27 11:13] m-ou-se commented on #82812
That fixed it.

[code]

[2021-03-27 11:17] davidhewitt commented on #67984
Some uncertainty I have about  `f".."` syntax is that if we were going for something semantically equivalent to Python, `f".."` should expand to `format!("..")` rather than `format_args!("..")`.

Expanding to `format!("..")` doesn't look like it would compose nicely with the other macros.

If `f".."` expanded to `format_args!("..")` then `f"{foo}".to_string()` might become a common way to format s

[2021-03-27 11:19] lcnr opened #83556 "unused param error mentions incorrect param if there's a misplaced lt param"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f6aaeef90ca703dffc311e3829186005
[code]
causes the following error:
[code]
it should be "parameter `T` is never used"

[2021-03-27 11:37] TheAlgorythm opened #83557 "'rustc' panicked at 'found unstable fingerprints for extern_mod_stmt_cnum(<project>[d5a7]::rocket)'"
The bug was not reproducible to me as it disappeared after a `cargo clean`. So i think it has a low priority.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-27 12:04] m-ou-se commented on #78021
Feel free to send that as a PR and assign me with `r? @m-ou-se`.

I don't have a very strong opinion on that. I think it might be useful, but I'd be fine with starting the FCP for just the three `VecDeque::binary_search*` functions.

[2021-03-27 12:22] RalfJung commented on #78778
I don't think it is a good idea to change the working directory; the tool might be invoked with relative paths that would then not work any more. But I also have no idea how the working directory is even determined currently.

However, I also don't see why that would even help. The RPATH is set to `$ORIGIN/../lib`, so the working directory dos not matter, does it?

[2021-03-27 12:25] RalfJung commented on #78778
@Mark-Simulacrum  Moreover, `tool_cmd` does not even seem involved here? I added some debugging output but it doesn't show. The code that invokes the tool from bootstrap looks like
[code]

[2021-03-27 12:39] markbt commented on #83527
There is a working prototype on the [`markbt/rust/metavariable_expressions` branch](https://github.com/markbt/rust/tree/metavariable_expressions).  This needs feature gating, and there are a couple of TODOs to resolve, but it's otherwise in reasonable shape.  I'm planning to work on it over the coming weeks.

[2021-03-27 12:41] Mark-Simulacrum commented on #78778
Oh, that seems wrong. IIRC we generally don't build+run in one step, rather we run cargo build and then tool_cmd on the binary? Setting up the environment in prepare_tool_cargo seems feasible, too, though.

[2021-03-27 12:46] Mark-Simulacrum commented on #78778
We do already modify this variable in some places, but I don't think in a very principled way (so I'm not terribly surprised it's not working). I'm not sure I have enough time to investigate though, unfortunately.

[2021-03-27 12:48] sjakobi commented on #77548
@rustbot claim

[2021-03-27 12:52] RalfJung commented on #78778
We later want to do `cargo test` in the Miri crate and that has all the same problems. I doubt we want to re-do all the logic of `cargo test`. So given that `cargo test` has to work, why is using `cargo run` wrong?

Which variable?

---

I did some more experiments and I can confirm that adding `build/x86_64-unknown-linux-gnu/ci-llvm/lib` to the LD_LIBRARY_PATH helps. Now the `cargo run` part work

[2021-03-27 12:58] m-ou-se commented on #83528
Thanks for your detailed report!

Agreed. Marking this as low priority.

[2021-03-27 12:58] RalfJung commented on #78778
Okay, I found who's overwriting LD_LIBRARY_PATH. Here's my hackfix that makes `./x.py test --stage 0 src/tools/miri` work with the downloaded LLVM:
[code]
I hope at some point someone can take this and turn it into something proper. ;)

[2021-03-27 13:01] m-ou-se commented on #82344
There's no limit to the amount of data the user-provided formatting code might write, so we can't buffer it all and might have to write it in multiple bursts while the formatting code is still running. As @the8472 said, we'll have to keep the lock around during that time to make sure the output doesn't interleave with that of other threads.

So, I don't think this issue is actionable.

[2021-03-27 13:05] m-ou-se commented on #81902
Maybe we should find a way to remove the ``run with `RUST_BACKTRACE=1` `` suggestion from the panic message when unwind tables are not available.

[2021-03-27 13:05] #82812 closed

[2021-03-27 13:12] bjorn3 commented on #81902
How would that work? Plain checking for `.eh_frame` would almost always result in unwind tables for linked in native dependencies. And when one rust dependency doesn't have unwind tables, another may have. A better solution would be I think to handle this case more gracefully during unwinding by printing something like "unwind info unavailable for the next function; aborting".

[2021-03-27 13:17] m-ou-se commented on #76831
This is now solved by https://github.com/rust-lang/rust/pull/74024. Thanks for the report!

[2021-03-27 13:17] #76831 closed

[2021-03-27 13:25] #24623 closed

[2021-03-27 13:25] JCBurnside opened #83563 "Misleading diagnostic when Deref is implemented. [E0308]"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=99918b2dd711e6d34f9d0345873bb616
[code]

The current output is:

[code]

How ever I feel the term borrowing in the diagnostic is misleading since we are not borrowing `foo` but rather dereferencing it.

[2021-03-27 13:25] leonardo-m opened #83564 "Rustc suggests both std and core imports at times"
rustc often offers a help to import something from std and core:

[code]

Perhaps in such situations rustc could use an heuristic to suggest only one of the two imports.

[2021-03-27 13:30] wonderconstant commented on #71146
A second idea for a suggestion that came to me today. Currently this tracking issues is for all of `<*const T>::len`, `<*mut T>::len` and `NonNull::<T>::len`. If I understand correctly, #73987 is only related to `<*const T>::len` and `<*mut T>::len`, but does not affect `NonNull::<T>::len()`, because creating a reference `&NonNull<T>` through `len()` would merely be a reference to the pointer to `

[2021-03-27 13:34] pickfire commented on #83550
Note that a fix here could potentially create a regression for ascii art on mobile. Need to double check the vec page.

[2021-03-27 13:36] sfackler commented on #83541
Yeah, it is using the C++ unwinding API:

[code]

[2021-03-27 13:39] ChrisDenton commented on #72243
In that case, is there a way to force linking to a macro in a specific path instead of resolving to the crate root? I'm finding it makes some docs weird when the text says one thing but the link goes somewhere else.

[2021-03-27 13:48] RalfJung commented on #71146
https://github.com/rust-lang/rust/issues/73987 indeed does not affect `NonNull::len`.

[2021-03-27 14:07] chengniansun commented on #83394
A duplicate
[code]

[2021-03-27 14:12] chengniansun commented on #83479
A duplicate

[code]

[2021-03-27 14:24] sjakobi commented on #56445
@rustbot claim

[2021-03-27 14:34] ehuss commented on #83554
Can you say more about why tidy would complain about adding libm?  From what I see, it has a "MIT or Apache-2.0" license which is in the [blanket allow list](https://github.com/rust-lang/rust/blob/aef11409b43a533f4e59ffb9b0efcb619c6e6879/src/tools/tidy/src/deps.rs).

The license checks should be applied to everything in Cargo.lock. There are 3 categories (runtime, rustc, and tools) which are each

[2021-03-27 14:41] Manishearth commented on #82114
@camelid This has nothing to do with enums vs traits; we only show a small set of attributes. I think the only relevant attribute is `non_exhaustive` on structlike enum variants; but when I last tried we don't render that anyway

[2021-03-27 14:47] a1phyr opened #83570 "Tracking Issue for `#![feature(const_slice_first_last)]`"
This is a tracking issue for  `#![feature(const_slice_first_last)]`.

New `const` functions are:
- `slice::first`
- `slice::split_first`
- `slice::last`
- `slice::split_last`

Blocking on `#![feature(const_mut_refs)]`:
- `slice::first_mut`
- `slice::split_first_mut`
- `slice::last_mut`
- `slice::split_last_mut`

### Steps

- [x] Implementation: #83571
- [x] Stabilization PR (non-mut part): #86593

[2021-03-27 14:52] bstrie commented on #67984
There's enough unexplored design space around first-class f-strings that I think we should avoid bogging down this issue with that discussion. It seems completely reasonable to consider stabilizing this feature as-is, while leaving broader f-string design to a future RFC.

[2021-03-27 14:53] AurevoirXavier commented on #83291
Now I stay at 03-01

Quite stable

[2021-03-27 15:08] DieracDelta commented on #83517
Nevermind. The spec states that soft float calling convention should be used when making calls to variadic functions for all floats after the fixed arguments. This is exactly what rustc is doing.

[2021-03-27 15:09] #83517 closed

[2021-03-27 15:16] SirWindfield commented on #80486
What's the procedure on documentation changes? Can they be simply done by opening a PR or is there a more elaborate process needed?

[2021-03-27 15:28] Aaron1011 commented on #83557
This is fixed in the latest Nightly.

[2021-03-27 15:28] richkadel commented on #79175
Thanks @Amanieu.

It's not clear to me from your posts if you tests this with the changes from #83307. From the timing of your post, I'm assuming so, but I'm also testing this (without your suggested fix) just to be sure, since my PR fixed `-O` incompatibilities in a lot of other tests.

#83307 only landed Thursday morning, and as far as I can tell,`rustup update nightly` hasn't worked since Thurs

[2021-03-27 15:52] RalfJung commented on #80486
Yes. :-)

[2021-03-27 16:06] #83235 closed

[2021-03-27 16:25] Amanieu commented on #79175
Actually you're right, it seems this issue was already fixed by #83307. Still, changing the pass ordering may help with the issues you are seeing with LLVM optimizations breaking coverage results.

Changing the pass order to match Clang may allow you to remove some of the hacks [here](https://github.com/rust-lang/rust/blob/101003881418d23fee3fcb1b1721a216a366f2da/compiler/rustc_middle/src/mir/mono

[2021-03-27 16:29] osa1 commented on #83563
You borrow it, that's what `&` does. Dereferencing is done by the compiler. So in that sense the diagnostic is correct.

How would you tell the user to pass borrow of `foo` here?

[2021-03-27 16:36] richkadel commented on #79175
Hmm, that's an interesting theory and probably worth trying.

How did you change the order? Do you have a patch you can share?

[2021-03-27 16:37] richkadel commented on #79175
Can we close this issue as "Fixed"?

[2021-03-27 16:51] Amanieu commented on #79175
Here's the patch I'm using: https://github.com/rust-lang/rust/compare/master...Amanieu:instrprof-order

Looking at the generated LLVM IR, it seems that this is fixed by #83307 because the LLVM IR now marks these functions as `hidden` instead of `internal`, which preserves them long enough to reach the instrumentation pass after all the optimization passes. Closing as fixed.

[2021-03-27 16:51] #79175 closed

[2021-03-27 17:13] cuviper opened #83574 "Tracking Issue for `core::iter::zip`"
Feature gate: `#![feature(iter_zip)]`

This is a tracking issue for `core::iter::zip`, a function that combines two `IntoIterator` arguments into a `Zip` iterator.

### Public API

[code]

### Steps / History

- [x] Implementation: #82917
- [x] Final commenting period (FCP) https://github.com/rust-lang/rust/issues/83574#issuecomment-991151625
- [ ] Stabilization PR #91881

### Unresolved Questions

[2021-03-27 17:31] ShagonRU opened #83575 "Panic about invalid identifier `"SomeIdentifier::Something"` from proc macro produces ICE at call-side code"
### Code

I'm not sure if this is actually a ICE or not, but I decided to write a post to give more experienced people a chance to figure it out.

Crate with proc_macro. Cargo.toml and actually code.
[code]

[code]

Project has structure like
my_project
|__procedural_macros
    |__ src
|__ src // code below written here

My code from another crate, which uses this proc macro
[code]

### Meta

`rus

[2021-03-27 17:43] khvzak commented on #83541
Seems I have time only till the 6th of May to solve it (when Rust 1.52 will be released with changed "C" unwinding compatibility).
LuaJIT support is an important `mlua` feature and it would be sad to require nightly compiler (to activate the `c_unwind` feature).
I see two ways to solve it:
1) Quick and dirty by activating `c_unwind` feature and setting `RUSTC_BOOTSTRAP=1` env from the build script

[2021-03-27 18:08] Boscop opened #83578 "`PrefixComponent` cannot be constructed in any way"
I need to pass a canonicalized path to `cl.exe`:
https://github.com/google/autocxx/blob/78965991ba04e6c9383920e9c4275deaa808a7a5/demo/build.rs#L19

`Path::canonicalize` returns `\\?\C:\foo\bar` instead of `C:\foo\bar`, which `cl.exe` doesn't interpret correctly (it's as if I hadn't passed that include path).
So I need to strip the prefix. It seems the way to do it, is like this:
[code]
But I need

[2021-03-27 18:54] dylni commented on #83578
I've worked a little with these structs, so I might be able to answer why they're designed this way.

The issue is that libstd doesn't have any way to convert `Prefix` to `Path`. If you give `Prefix::Disk`, it doesn't know what path you want to use for that prefix. For example, `Prefix::Disk` always has a lowercase disk letter when you extract it from `PrefixComponent`. However, converting `Prefix

[2021-03-27 19:04] #83344 closed

[2021-03-27 19:04] #56445 closed

[2021-03-27 19:18] jyn514 commented on #74481
Note that this only works for items, not associated items, there's no way to add documentation to a function.
[code]
[code]

[2021-03-27 20:06] petrochenkov opened #83583 "Tracking issue for deprecation lint `proc_macro_derive_resolution_fallback`"
This is a lint for code like
[code]
when it comes from a derive macro.

The code should obviously not compile because `S` is not in scope at its point of use, but before https://github.com/rust-lang/rust/pull/51952 it compiled if the code was produced by a derive macro, and some popular crates like `actix_derive`, `diesel_derives` and `palette_derive` exploited this in the wild.

This deprecation

[2021-03-27 20:15] jyn514 opened #83584 "Convert 'may not' to either 'must not' or 'might not' in the standard library documentation"
"may not" has two possible meanings:
1. A command: "You may not stay up past your bedtime."
2. A fact that's only sometimes true: "Some cities may not have bike lanes."

In some cases, the meaning is ambiguous: "Some cars may not have snow
tires." (do the cars *happen* to not have snow tires, or is it
physically impossible for them to have snow tires?)

It would be better to change places where th

[2021-03-27 20:19] memoryruins commented on #82223
With `or_patterns` stabilized in #79278, the following is accepted without a feature gate (not yet on a stable release)

[code]

The method this issue tracks could still be useful for chaining, but I thought I may as well mention the above ^^

[2021-03-27 20:47] chengniansun commented on #83499
A duplicate.
[code]

[2021-03-27 20:48] SNCPlay42 commented on #80816
Reduced:

[code]

[2021-03-27 20:54] leonardo-m opened #83585 "Small POD struct equality ineffective"
From a recent Reddit discussion (https://old.reddit.com/r/rust/comments/medh15/why_are_derived_partialeqimplementations_not_more/ ):

[code]

Gives (rustc 1.53.0-nightly 5e65467ef 2021-03-26):

[code]

That Reddit discussion shows other cases.

[2021-03-27 21:29] AurevoirXavier opened #83586 "Use 100% CPU and 30G ram"
<img width="676" alt="image" src="https://user-images.githubusercontent.com/16152305/112735342-30ad8580-8f86-11eb-8997-7a8a27efd7c8.png">

[code]

[code]

[code]

[2021-03-27 21:30] AurevoirXavier commented on #83586
I don't think anybody need a 64gb ram machine to compile this project.

[2021-03-27 22:08] fxdave opened #83588 "The compiler unexpectedly panicked"
## cargo clean solved the issue

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-27 22:12] lopopolo opened #83589 "&Box<[T]> does not impl IntoIterator"
I tried this code:

[code]

I expected to see this happen: I expected both functions `one` and `two` to compile.

Instead, this happened: function `one` does not compile:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93a16fe1e2860bd5eb98b2d73f00fc50

### Meta

`rustc --version --verbose`:
[code]

[2021-03-27 22:19] #46043 closed

[2021-03-27 22:19] #82602 closed

[2021-03-27 22:19] rust-highfive opened #83590 "`miri` no longer builds after rust-lang/rust#83580"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#83580, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-03-27 22:47] alexeymuranov commented on #59278
How about renaming?
* `iter` -> `into_iter_unsorted`,
* `drain` -> `drain_unsorted`,
* `into_iter_sorted` -> `iter`
* `drain_sorted` -> `drain`

[2021-03-27 23:43] nagisa commented on #83586
Looks like most of the use is in the linker? There isn't much this project can do about the native toolchain's linker implementation.

[2021-03-27 23:50] #83557 closed

[2021-03-27 23:50] nagisa commented on #83557
Please report a new issue if you can still reproduce it with a most recent nightly.

[2021-03-28 00:11] nagisa commented on #83116
This is probably pretty hard to fix in a way that affects least amount of code negatively.

Any function that may at any point, directly or indirectly, end up calling a `C-unwind` function must _not_ be annotated with a `nounwind`. It can't be known in general case that this is true, this knowledge could only be available at binary load time.

So AFAICT the only viable fixes here are:

* just don'

[2021-03-28 00:23] dylni commented on #83176
Thanks @arora-aman!

[2021-03-28 00:34] wozniak opened #83594 "fast inverse square root algorithm causes ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-28 00:35] RalfJung commented on #83116
There's another possible fix: wrap *import* `extern "C-unwind"` functions in a wrapper that turns unwinding into aborts. Rust code calling the function all goes through that wrapper. Then the `nounwind` is actually correct.

[2021-03-28 00:51] nagisa commented on #83116
We cannot do that, I think. Rust has no idea what the correct personality function would be to "catch" the unwinds from the other side of FFI. Also, isn't the intent that in situations where "C calls Rust calls C" unwinding across POF Rust frames is a supported use-case?

[2021-03-28 01:03] workingjubilee commented on #83594
I made a copy of this file. I used `rustc file.rs`. I did not get a reproduction of this ICE, I only got the warning.
[code]

Aside, you may want to use the `to_bits` and `from_bits` methods on f64 instead of `unsafe { transmute }`.

[2021-03-28 01:42] jhpratt commented on #35203
Possible reason for this to stay around: macros. While I never write code like this by hand, I just happened to generate code that hit this warning by auto-generating a trait definition based on a provided implementation. Without any way to cleanly extract a function header, it's stupidly difficult to avoid this warning in a situation like this.

[2021-03-28 01:44] manuthambi opened #83595 "`#[repr(align(8))]` is not accepted for arrays"
### Code

[code]

`#[repr(align)]` was accepted for arrays in rust v1.50, but is rejected in v1.51.

[code]

 I am not entirely sure whether the attribute actually did the alignment in 1.50, or the compiler just ignored it. Regardless, is this expected behavior, and if it is how do I align an array?

[2021-03-28 01:45] keur commented on #79567
@camelid I think the reason is because `llvm::writeArchive(..)` creates a temp file as follows:

[code]

It ends up hitting [this code path](https://sourcegraph.com/github.com/llvm-mirror/llvm@2c4ca68/-/blob/lib/Support/Path.cpp#L762-763). The `%` in the file path gets formatted with a random character. It looks like it's common in their tree to call `sys::fs::TempFile::create(Prefix + ".temp-arch

[2021-03-28 02:51] workingjubilee commented on #73920
Because LLVM generally turns `powi` into a call to `libm`, `powi` consistency is not possible without Rust bypassing this and shipping its own `powi`.

[2021-03-28 02:56] longfangsong commented on #83375
@rustbot claim

[2021-03-28 03:18] ehuss commented on #83595
Extra validation was added for situations where attributes were ignored (in this case it was #80641).  Previous versions issued an `unused-attribute` warning.

If you want to align an array, I think you can wrap it in a struct with `#[repr(align(8))] struct Arr([usize; 20])`.

[2021-03-28 03:33] Maxpxt opened #83597 ""overflow evaluating the requirement" caused by a blanket impl with a wrapper on one of the trait's type parameters"
I tried this code:

[code]

This code fails to compile with the following error at the `show_at` call in `main`:
[code]

I expected the code to compile, since `()` is not `Wrapper<_>`.

What I imagine is happening is that the trait resolution attempts to compute the set of possible `Style`s such that `Foo: ShowAt<(), Style>` even though, clearly, `Style = ()`. This leads to checking `Foo: ShowAt<_

[2021-03-28 03:56] jyn514 commented on #83588
This is missing the panic message - do you happen to still have it? There should have been more output *above* "internal compiler error".

[2021-03-28 03:57] jyn514 commented on #83594
@workingjubilee FYI any panic with "found unstable fingerprints" comes from a bug in incremental compilation, there are a whole bunch popping up recently due to https://github.com/rust-lang/rust/pull/83007.

[2021-03-28 03:59] Undxxx commented on #75614
Same problem. Did you solve it?

[2021-03-28 04:05] jyn514 opened #83598 "Renaming a tool lint to another tool lint does not apply the warning"
Similar to https://github.com/rust-lang/rust/issues/82615, but the source lint is a tool lint this time.

I tried this code:

[code]

and renamed `non_autolinks` in a fork of rust-lang/rust.

I expected to see this happen: Rustdoc warns that the lint is renamed and still applies the lint.

Instead, this happened: Rustdoc warns that the lint is renamed, but does not apply the lint.

[code]

### Met

[2021-03-28 05:05] jyn514 opened #83600 "Cross-compiling to s390x musl is missing __rdl_alloc when `codegen-units-std` is not set to 1"
I do not have the time or hardware to replicate this. The original error came up in zulip: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/bootstrapping.20on.20s390x.2Fmips.20for.20musl/near/227436553

cc @Mark-Simulacrum @kaniini @nagisa

[2021-03-28 05:35] JohnTitor commented on #83554
Oh, I totally misunderstood! So, we actually run the license check but `PERMITTED_DEPENDENCIES` only has direct rustc_* crates dependencies, right? Then I think the issue is that whether we want to expand the list to submodules/subtrees but I'd like to see @Mark-Simulacrum's opinion since I don't have a strong thought for it.

[2021-03-28 05:45] kaniini commented on #83600
This is because of musl actually.  It’s because libc needed to be adapted for musl s390x i believe.

[2021-03-28 05:58] jyn514 commented on #83600
Does that mean you can replicate this on x86_64-musl? What changes does libc need?

[2021-03-28 06:01] bjorn3 commented on #83116
There is no "correct" or "wrong" personality function to catch unwinds. Any personality function is allowed to catch any non-forced unwind. The `panic_abort` crate could define a personality function that always aborts when not generating a backtrace. If the wrapper function or any function directly calling "C-unwind" without wrapper doesn't use `nounwind`, any attempt at unwinding through rust co

[2021-03-28 06:06] ThePuzzlemaker opened #83601 "Code coverage (-Zinstrument-coverage) showing #[derive(Eq)] as a missed region, even though Eq has no functions"
I tried this code:

[code]

Running these commands to get the code coverage report:
[code]

This provides this report:
[code]

I expected to see this happen: `Eq` is not marked as a missed region

Instead, this happened: Eq is marked as a missed region (the `^0`). I'm guessing this is because of the internal `assert_receiver_is_total_eq` function on `Eq`.

### Meta

`rustc --version --verbose`:
[c

[2021-03-28 06:08] kaniini commented on #83600
The libc crate did not have definitions for musl on s390x.  I think the latest libc crate will be fine.  And yes, it is reproducible when building a cross compiler.

[2021-03-28 06:24] Undxxx commented on #75614
Solved the same problem by updating linker, thanks!

[2021-03-28 06:33] rodrimati1992 commented on #69111
Fixed by arrays directly implementing the indexing traits in Rust 1.50.0

[2021-03-28 06:33] #69111 closed

[2021-03-28 08:21] Riey opened #83603 "i32 saturating_* functions is slower than checked_* + unwrap_or"
I think this two function have same semantic but satruating has more specialized at least it shouldn't be slower

[playground link](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=7ce67b5ecf36009ca4a036743a46224b)

and simple benchmark for add

[code]

[code]

[2021-03-28 08:53] #80335 closed

[2021-03-28 08:56] Riey commented on #83603
It seems `llvm.sadd.sat` is suboptimal is this llvm issue?

[code]

[2021-03-28 09:04] nikic commented on #83603
Those two implementations are not equivalent: Your checked_add code saturates to INT_MAX, while it should saturate to INT_MIN when overflowing the low bound.

[2021-03-28 09:07] Riey commented on #83603
Thank you I understand so you mean `i32::MIN, i32::MIN = i32::MIN`?

[2021-03-28 09:08] nikic commented on #83603
Yes, that's correct.

[2021-03-28 09:09] #83603 closed

[2021-03-28 09:12] RalfJung commented on #83116
I don't think this is a support use-case *with `-Cpanic=abort`". At least, the fact that `nounwind` is emitted aggressively under `-Cpanic=abort` kind of implies that this is not a support use-case.

[2021-03-28 10:29] paulfloyd commented on #67153
Fair enough.

However, I still don't have answers to many of my questions.

What is being done differently on  Linux?

How do you determine the address for this guard page on FreeBSD?

Without this information it is going to be difficult for me to progress.

[2021-03-28 10:30] MaikKlein opened #83604 "Unknown imports appear randomly in wasm with wasm32-unknown-unknown"
In the last ~6months imports are appearing in my wasm file that shouldn't be there

Sadly I can't post the full wasm file, but I'll post the relevant snippets from the wat file.

[code]
None of the imports should have made it into the resulting wasm file.

Loading this into a wasm runtime, it will produce the following error

Running `cargo clean` and recompiling will "fix" this issue, and makes t

[2021-03-28 10:56] RalfJung commented on #46043
I have implemented that with https://github.com/rust-lang/rust/pull/83605.

[2021-03-28 11:29] glandium opened #83606 "Part of the error for lack of type annotations can give a hint that doesn't work"
Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ae61a2639ec467045b2b804b7daa9be2):

[code]

The current output is:

[code]

The first half is correct, but the problem is that final suggestion. If you [try it](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c04d4d9a64a5e604126cd60719f43c82):
[code]

you get another error b

[2021-03-28 11:38] matthiaskrgr commented on #83115
@Aaron1011  I can no longer reproduce the ICE with `rustc 1.53.0-nightly (07e0e2ec2 2021-03-24)`.
Can this be closed?

[2021-03-28 11:47] Mark-Simulacrum commented on #83554
Ah, interesting. Yeah, I don't think the speed bump is directly necessary at this time, thanks for clarifying.

[2021-03-28 11:47] #83554 closed

[2021-03-28 11:48] mouchtaris commented on #80351
I seem to have run into the same issue.

[Here][rust-pg] is a another minification that should reproduce this error.

[rust-pg]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=pub%20fn%20main()%20%7B%0A%20%20%20%20f%3A%3A%3C()%2C%20_%3E(%7C_%7C%20%7B%7D)%3B%0A%7D%0Afn%20f%3CS%2C%20P%3E(p%3A%20P)%0Awhere%0A%20%20%20%20P%3A%20for%3C'r%3E%20FnOnce(%3CS%20as%20Trait%3C'r%3E%3E

[2021-03-28 11:56] Berrysoft commented on #54137
Could we just forward to `__CxxFrameHandler3` in `rust_eh_personality`, and remove the requirement of `__CxxFrameHandler3` in [context.rs](https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_llvm/src/context.rs)? I'll try to do that later.

[2021-03-28 12:02] rise0chen commented on #43234
[code]
Should the `MutexGuard` be dropped in `else block` ?

[2021-03-28 13:24] nagisa commented on #83116
It is allowed to, but we don't necessarily want to expend the effort necessary to implement the personality function in a way that would allow catching e.g. all sorts of different unwinds that arbitrary runtime on the other end could generate. But I guess you're right in that we could just abort inside of the personality function itself.

Okay, I think that's a fair limitation to have. All of the

[2021-03-28 13:28] shepmaster commented on #43234
The lock should be dropped at the end of the statement it’s created on because there is no owner of the lock.

[Will the non-lexical lifetime borrow checker release locks prematurely?](https://stackoverflow.com/q/57467555/155423)

[2021-03-28 13:48] asomers commented on #67153
Here are the two files that deal with guard pages.
https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/stack_overflow.rs
https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/thread.rs

[2021-03-28 14:19] cyqsimon commented on #79524
I would like to suggest a simpler, alternative name for this method - `weave`.

`Intersperse` is quite verbose, but more importantly rarely used in common English. `weave` is much more common and concise, and is not yet used in Rust std at the time of comment.

[2021-03-28 14:55] RalfJung commented on #83116
Yeah, for now they'd have to tell users "you must build your final binary with `-Cpanic=unwind`".
Rust in principle supports linking `-Cpanic=unwind` rlibs into a `-Cpanic=abort` crate tree (that's what we do for the standard library).

[2021-03-28 16:03] Stargateur commented on #24372
What strategy and what are the downside ? Following https://stackoverflow.com/q/66753005/7076153 question.

[2021-03-28 16:51] kevinmehall commented on #83586
Try passing `-j16` (or lower) to cargo to limit the number of parallel processes.

[2021-03-28 17:27] tmiasko opened #83611 "v0 mangled symbol doesn't match specification nor can it be demangled with rustfilt or c++filt"
For program below, mangled symbol doesn't match specification nor can it be demangled with rustfilt or c++filt (with rust v0 support):

[code]

[code]
<details>
<summary>Partial derivation</summary>

[code]

</details>

[2021-03-28 17:53] tmiasko commented on #83611
cc @michaelwoerister @eddyb

[2021-03-28 17:56] jessehorne commented on #83584
@rustbot claim

[2021-03-28 18:13] tmiasko commented on #83611
The mangling was changed in #79945  cc @jackh726

[2021-03-28 18:42] chengniansun opened #83613 "ICE: compiler/rustc_trait_selection/src/traits/coherence.rs:600:13: ty_is_local invoked on unexpected type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-28 18:49] workingjubilee commented on #63171
@KodrAus:

Respectfully, I do not agree that whether the digits are before or after the decimal is meaningful: I think the only thing that is meaningful is accurately displaying the number of significant digits. Once the decimal formatter reaches the number of significant digits the source float can be said to meaningfully represent, all others _should_ be zero, as to print anything else is to giv

[2021-03-28 19:34] Aaron1011 commented on #83594
I suspect that is caused by https://github.com/rust-lang/rust/issues/83540. @wozniak have you recently added/removed the `rustc-src` component?

For these kinds of issues, running `cargo clean` should stop the ICE.

[2021-03-28 19:51] workingjubilee commented on #77745
Apologies for not explaining this more fully:
- An "arithmetic" float is one that supports IEEE754 operations.
- An "interchange" float is a float with a specified interchange format.

The standard recommends that for reproducible results we should use floating point numbers that satisfy both of these criteria, and that means we should use binary32 binary64, AKA `f32` and `f64` which satisfy both

[2021-03-28 20:27] haaami01 opened #83616 "Explicitly specifying the type of self using the syntax `self: Box<Self>` is sort of vestigial. The feature of allowing `Box<Self>` as the type of `self`, along with the syntax for explicitly writing out the type of `self`, sort of slipped into 1.0 without anyone really considering the issue. The other syntax is strongly preferred."
Explicitly specifying the type of self using the syntax `self: Box<Self>` is sort of vestigial.  The feature of allowing `Box<Self>` as the type of `self`, along with the syntax for explicitly writing out the type of `self`, sort of slipped into 1.0 without anyone really considering the issue.  The other syntax is strongly preferred.

The explicit type syntax will probably be deprecated at some po

[2021-03-28 20:28] fxdave commented on #83588
I didn't get the panic message. I couldn't reproduce it.

[2021-03-28 20:42] jonas-schievink commented on #83616
Looks like this was opened accidentally.

[2021-03-28 20:42] #83616 closed

[2021-03-28 20:47] haaami01 opened #83617 "test-example.md"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=d48b2f3c3a2a4f9e00139e7891ee0c84))

Errors:

[code]

[2021-03-28 20:48] Qwaz opened #83618 "Double free in Vec::from_iter specialization when drop panics"
https://github.com/rust-lang/rust/blob/4a20eb6a9da36c88ee929826c4f1eb8d7ea393b2/library/alloc/src/vec/source_iter_marker.rs#L71-L72
https://github.com/rust-lang/rust/blob/4a20eb6a9da36c88ee929826c4f1eb8d7ea393b2/library/alloc/src/vec/into_iter.rs#L88-L93

`SpecFromIter<T, I> for Vec<T>` calls `Vec::IntoIter::drop_remaining()`. `drop_remaining()` calls `drop_in_place()` before overwriting the point

[2021-03-28 21:23] cuviper commented on #83589
You could say the same for `&mut Box<[T]>`, as well as `&Rc<[_]>` and `&Arc<[_]>`.

We might also want owned `IntoIterator` for `Box<[T]>` and `Box<[T; N]>`, but this has the same caveat as #65819, that calling `.into_iter()` currently does auto-deref to the same effect as calling `.iter()` to get references.

[2021-03-28 21:29] camelid commented on #83550
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383550.20Inline.20code.20has.20collapsed.20whitespace) in the prioritization working group.

@rustbot label: +P-high -I-prioritize

[2021-03-28 21:29] jackh726 commented on #83611
🙄 So, I'm not familiar at all with this (in fact, I didn't even realize we had a spec for symbol mangling until I saw this). But let's see.

I'm just looking at
[code]

[2021-03-28 21:32] jackh726 commented on #83611
Oh, I see what's happening, I think

[2021-03-28 21:33] haaami01 opened #83620 "test-rust-lang. md"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9eeaba9bd1ebe85e0669cc26969726bf))

Errors:

[code]

[2021-03-28 21:39] chengniansun opened #83621 "ICE: compiler/rustc_lint/src/types.rs:1132:32: unexpected type in foreign function: [type error]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-28 21:41] SNCPlay42 commented on #81685
Reduced:

[code]

If I change it to

[code]

I get this output:

[code]

So I think this is related to/another version of #75791.

@rustbot label -E-needs-mcve

[2021-03-28 21:46] SNCPlay42 commented on #79648
This and #71723 look like the same thing.

[2021-03-28 21:48] camelid commented on #83595
Nominating to see if this was an intended "lint -> hard error" change.

(If there's another way to ask if a change is intended that people on `T-compiler` prefer, please let me know :)

@rustbot nominate

[2021-03-28 21:53] jackh726 commented on #83611
I guess we're lowering `dyn FnMut(&u8)` to
[code]
whereas it was
[code]
before.

This is a bit interesting, because the (slightly desugared) `FnMut<Output = &u8>` really is only one level of binder. But we could imagine something like `&(dyn for<'a> Foo<'a, As=()> + for<'b> Send)` (which is completely valid). This gets lowered into
[code]
I have to think about this. The mangling is very much of th

[2021-03-28 21:54] cuviper commented on #59878
FWIW, I just tried adding `Box<T>` and `Box<[T; N]>` to see what would break, and they fail immediately:

[code]

[code]

This has to do with `impl<I: Iterator + ?Sized, A> Iterator for Box<I, A>` to complete the conflict, although *we* know that we would never add direct `Iterator for [T]` or `[T; N]`. I don't know if we could hack around that with a `lang` item or something.

[2021-03-28 22:02] #83620 closed

[2021-03-28 22:02] #83617 closed

[2021-03-28 22:10] AngelicosPhosphoros opened #83623 "&& operator chains (and ||, possibly) generates unoptimizable LLVM IR"
**tl;dr:** Current IR generated by && chain too hard to optimize for LLVM and always compiles to chain of jumps.

I started of investigation of this from [this Reddit thread](https://www.reddit.com/r/rust/comments/medh15/why_are_derived_partialeqimplementations_not_more/) about lack of using SIMD instructions in PartialEq implementations.

## Current Rust PartialEq

I assumed that PartialEq implem

[2021-03-28 22:11] chemsaf3 commented on #40552
came to report tthe same

this didnt work for me, user still in binary, and not flexible to use wildcard for src path

+1

[2021-03-28 22:22] leonardo-m commented on #83585
See also: #83623

[2021-03-28 22:36] cuviper commented on #83589
I experimented with this locally. Fully-generic `&Box<[T], A>` fails:

[code]

I think downstream could only implement this if they have a local allocator type `A`, because `[T]` is always foreign. The compiler accepts it if I only implement for `&Box<[T]>` though, for the default global allocator. `&Rc<[T]>` and `&Arc<[T]>` are also fine, and I think they would still work even if they get a param

[2021-03-28 22:58] Lucretiel commented on #78186
Sorry for my ignorance, but how is this sound? It seems to trade on the idea that `&'static mut` can never be moved out of, but I don't see any reason that should be case? Can you not `mem::swap` a pair of `&'static mut T`?

[2021-03-28 22:58] wozniak commented on #83594
@Aaron1011 I had just installed nightly earlier that day. Just ran cargo clean and it fixed it. Should I close?

[2021-03-28 23:28] tkaitchuck commented on #56167
As discussed here: https://github.com/rust-lang/hashbrown/pull/232
Allowing the user to specify the hashed value with the contract that it is generated in the same way that the map computes that hash has two drawbacks:
1. It locks in the implementation of the Hashmap to never changing how that code is invoked. In particular this prohibits hashmap from ever using specialization. This is leaving sig

[2021-03-28 23:41] nagisa commented on #83623
The Rust backend is not in a position  to generat phis or code that uses SSA values directly in general.

Note that the optimized IR for the Rust code is also SSA and is also exploiting phis. When comparing optimized code there is ultimately just one difference between the eq0 case and the Clang IR – Rust code has a `bb2` block that acts as a phi springboard. That's what LLVM is ultimately unable

[2021-03-28 23:55] camelid opened #83624 "Move primitive docs to `core`"
Rust primitives are currently documented in `std`, but in some cases we want to link to primitives from `core` (cc #83577). Also, `core` seems like it would be a better place to document primitives since they are available in programs that are `no_std` (yes, they're also available in `no_core` programs, but we have to put the docs *somewhere*).

We would probably have to re-export the primitives i

[2021-03-29 00:01] camelid commented on #83611
Which is the part of the code that prints the binder?

https://github.com/rust-lang/rust/blob/4a20eb6a9da36c88ee929826c4f1eb8d7ea393b2/compiler/rustc_symbol_mangling/src/v0.rs#L497-L502

I am potentially interested in implementing this :)

@rustbot claim

[2021-03-29 00:12] jackh726 commented on #83611
It's the `in_binder` call. So, it's not really clean, but you would have to only call that if the inner `ExistentialPredicate` is a `Trait`.

[2021-03-29 00:27] lopopolo commented on #83589
The same happens for `Cow` of slice too:

[code]

`one` and `two` fail to compile, `three` and `four` succeed.

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e4c86a0bd57ff629a4bd31beb9c9ceb2

[2021-03-29 00:33] pthariensflame commented on #83623
Would it be worth investigating improvements to LLVM for this, then?  That would help Rust here but also help Clang if it ever generates similar things.

[2021-03-29 00:41] nagisa commented on #83623
There are a couple of avenues we could explore here, yes. We probably won't emit ideal code from Rust, but we could look into emitting something that LLVM does not trip over.

Adding ability in the x86 backend to see past the offending pattern, such as seen here, might be beneficial in a more general way. Its LLVM itself that optimizes to this particular pattern too, so adjusting some of LLVM's op

[2021-03-29 00:47] jyn514 commented on #83624
This has been discussed before in https://github.com/rust-lang/rust/issues/73423, I would rather keep discussion in one issue.

[2021-03-29 00:47] #83624 closed

[2021-03-29 00:48] jyn514 commented on #73423
Note that because the standard library uses lang items to add impls to primitives in alloc and std, this means the documentation in `core` will be missing some methods.

[2021-03-29 00:52] camelid commented on #83624
Sounds good, I didn't know if there was a previous issue.

[2021-03-29 00:54] camelid commented on #73423
Hmm, why would that be? IIUC, `String` wouldn't resolve anyway in `core` because it's defined in `alloc`, and it's not a primitive. Why would this change cause links to `String` to not resolve?

[2021-03-29 00:58] jyn514 commented on #73423
Because right now, the links are written in libstd, which can link to alloc fine. If we changed it to be in libcore, then the links would break, because core doesn't depend on alloc.

[2021-03-29 00:59] Lucretiel opened #83625 "Downloaded llvm doesn't include `link-type.txt`"
I tried this:

[code]

I expected to see this happen: A successful built & test of the standard library

Instead, this happened:

[code]

The file it wants is `./build/x86_64-unknown-linux-gnu/ci-llvm/link-type.txt`. The only files in this directory are `bin/`, `lib/`, `include/`, and `manifest.in`.

I suspect this has something to do with `download-ci-llvm = "if-available"`, which is the recommen

[2021-03-29 01:29] the8472 commented on #58533
I think except for the `insert_*` methods the cursor API could be generalized to `BTree{Map,Set}` too.

Currently finding a particular element that is lower/higher than some particular key and then operating on adjacent elements and removing some of them takes several `O(log n)` lookups and fairly cumbersome code involving ranges. To change the direction of a walk one has to obtain a new half-open

[2021-03-29 01:42] Lucretiel commented on #83528
The basic issue at play here is that, in line buffering logic, the buffer will generally attempt to only forward whole lines to the underlying writer; the only exception is when the line length exceeds the size of the buffer. Once it forwards the line, it can't attempt any more fallible operations, because it must return an `Ok` result at that point. This means it will:

- Write the line to the un

[2021-03-29 01:45] slightlyoutofphase commented on #83618
This issue made me go "what the heck? Since when does it do that?" (as I studied `Vec::IntoIter` a bunch while implementing something analogous for a crate of mine), and upon going back and looking it seems that the `drop_remaining` function was present for the first time in release 1.48. It does not exist in release 1.47. So it's a relatively recent addition overall, like I was thinking it had to

[2021-03-29 01:46] the8472 commented on #83618
Thanks, I totally didn't consider that case!
According to #14875 panic during drop should result in the storage being leaked. That shouldn't be too difficult to achieve by forgetting the original allocation before the drop.

The question is whether it is necessary to attempt to drop the stuff moved to output vec or whether we can leak those too.

@rustbot claim

[2021-03-29 01:55] alercah commented on #40552
I was linked this issue from Reddit, and I got interested as personally having good privacy-preserving defaults is important to me. I spoke informally with some colleagues, and it sounds like:

- This particular issue is fundamentally about the default behaviour of the compiler in absence of controlling flags. It's a request to change that behaviour.
- If the `--remap-path-prefix` flag is not work

[2021-03-29 02:24] glandium opened #83627 "Failure to infer closure argument type under some circumstances"
I tried this code:

[code]

This fails to compile with:
[code]

This builds fine if you remove the `impl Foo<u8> for [u8]`.
It also builds fine with an explicit type for the closure argument: ` b"abc".foo(|b: &u8| match b { b' ' => true, _ => false});`

The error changes when using `b"abc".foo(|b| *b == b' ');`, to:
[code]

Again, in that case, it builds fine without the `impl Foo<u8> for [u8]`.

[2021-03-29 02:35] camelid commented on #83035
PR is merged!

[2021-03-29 02:51] AurevoirXavier commented on #83586
<img width="1402" alt="image" src="https://user-images.githubusercontent.com/16152305/112781068-b90e5200-907c-11eb-8f8a-5e4015a05811.png">

[2021-03-29 02:53] AurevoirXavier commented on #83586
Have to limit to 8 cores manually.

---

Seems not a bug? But need some optimize for this.

[2021-03-29 02:57] chengniansun opened #83628 "ICE: broken MIR, could not prove Binder(TraitPredicate(<i32 as Copy>)) and 'no errors encountered even though `delay_span_bug` issued', compiler/rustc_errors/src/lib.rs:1014:13"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-29 03:08] chengniansun opened #83630 "ICE: TyKind::Error constructed but no error reported, broken MIR in DefId"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-29 03:09] chengniansun commented on #83630
This might be a duplicate of #83628, though this bug requires the flag `-C opt-level=3`.

[2021-03-29 03:33] eddyb commented on #78186
This has been resolved elsewhere, but effectively you cannot both call `Pin::static_mut(r)` and use `r` ever again - that would (roughly) amount to copying `r`, which would never be allowed for `&mut T` in general.

It's a bit subtle, but once you create a `&'a mut U` (or even `&'a U`) from a `&'a mut T`, since the `'a` is the same in both, they cannot be distinguished at the typesystem level, and

[2021-03-29 03:38] repnop commented on #83430
I don't understand how making the alloc error handler function unsafe helpers here.

[2021-03-29 03:41] tmandry commented on #78186
I had this question as well.. the answer is that you can. But once you put your `&'static mut T` in a `Pin` you can never "get it out" again. Nor can you have any other reference to the original value, crucially, since (as @eddyb described) a `&'static mut T` reference _must_ be the only valid reference to that value.

[2021-03-29 04:02] pthariensflame commented on #83623
Does this only fail to vectorize on x86(_64)?  Should we check other backends?

[2021-03-29 04:05] vedantroy opened #83631 "Future is not Send as this value is used across an await (even though I explicitly drop the value)"
Reference rustlang forums question: https://users.rust-lang.org/t/future-is-not-send-as-this-value-is-used-across-an-await-but-i-drop-the-value-before-the-await/57574

I tried this code:

[code]

I expected to see this happen: *this could should compile (assuming there are no compile errors outside of this function)*

Instead, this happened:
I get the following error. This error seems confusing be

[2021-03-29 04:26] rijenkii commented on #83623
Just adding some probably not really useful info:
Rust 1.37 vectorizes just fine, Rust 1.38 and above produce the bug OP has
https://rust.godbolt.org/z/s1vnzdThT

[2021-03-29 05:14] eddyb commented on #83611
There's a single type with multiple bounds, so I would prefer keeping a single binder IMO (tho I can see us having to change the mangling if `dyn for<'a> Foo<'a, for<'b> Assoc<'b> = Bar<'a, 'b>>` becomes a thing).

You can basically work around having a different implementation, by having the bound-lifetime anonymizing process work for you.

Any `ExistentialProjection::Projection`'s substs would e

[2021-03-29 05:23] asomers commented on #67153
@paulfloyd I did some work on the guard page stuff this weekend.  It's not my area of expertise, but I'm making some progress in fixing stack overflow detection.  Fingers crossed, that might fix Valgrind too.

[2021-03-29 06:08] paulfloyd commented on #67153
On 3/29/21 5:23 AM, Alan Somers wrote:

Based on the rust source links that you sent I wrote the following C++
snippet:

#include <iostream>
#include <pthread.h>
#include <pthread_np.h>

int main()
{
    int a;
    std::cout << " a addr " << &a << '\n';

    pthread_attr_t attr;
    pthread_attr_init(&attr);
    pthread_attr_get_np(pthread_self(), &attr);
    void* stackaddr;
    size_t stacksize;

[2021-03-29 06:12] JohnTitor commented on #83531
Assigning `P-medium` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383531.20ICE.3A.20compiler.2Frustc_mir.2Fsrc.2Finterpret.2Feval_context.2Er.E2.80.A6) and removing `I-prioritize`.

[2021-03-29 06:20] JohnTitor commented on #83618
Assigning `P-critical` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383618.20Double.20free.20in.20Vec.3A.3Afrom_iter.20specialization.20when.20dr.E2.80.A6) and removing `I-prioritize`.

[2021-03-29 06:25] joshtriplett commented on #83623
@rijenkii The upgrade to LLVM 9 seems like the most likely culprit between those two releases.

[2021-03-29 06:28] JohnTitor commented on #83510
Assigning `P-medium` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383510.20ICE.3A.20panicked.20at.20'called.20.60Option.3A.3Aunwrap.28.29.60.20on.20a.20.60No.E2.80.A6) and removing `I-prioritize`.

[2021-03-29 06:41] paulfloyd commented on #67153
Quick test on Linux - seems OK.

paulf> ./sa
a addr 0x7ffd6fab4aec
stack addr 0x7ffd6f2b7000 stack size 8380416

paulf> valgrind -q ./sa
a addr 0x1ffefffe0c
stack addr 0x1ffe801000 stack size 8384512

[2021-03-29 06:43] hlopko commented on #83282
Oh great! Thank you so much!

[2021-03-29 06:46] aeiouaeiouaeiouaeiouaeiouaeiou commented on #80804
Still broken in 1.51. Does this mean that support for older systems has been discontinued after all? According to [this commit](https://github.com/rust-lang/rust/commit/6249cda78f0cd32b60fb11702b7ffef3e3bab0b2) a OS X <10.10 detection should also be added, but `target_os` cannot detect the kernel version.

[2021-03-29 07:14] AngelicosPhosphoros commented on #83623
@pthariensflame

No, ARM fails to remove branches too. [godbolt](https://rust.godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAFlICsupVs1qhiAVwDOBUpMztkBPHUqZa6AMKpW4gLa0QAVkOk16ADJ5amAHJ6ARpmIgATAHZSAB1STCy2lo6%2BkYm3r5KdJbWdrqOzu6y8piK/gwEzMQEgXoGxokKEbRpGQRRtg5Orh7SJdnBeTWZZTFxVQCUsqjixMgcAOSe4vYA1NISisMAQjqYnsRWBMMApG6TSwAMAILDO8ODI1Ti8gD66bQA1se%2BAF4cw%2BIAzC6kG9u7%2

[2021-03-29 07:46] AngelicosPhosphoros commented on #83623
Understood. But my second suggested algorithms doesn't use this tricks.

[2021-03-29 07:51] longfangsong opened #83632 "Rustdoc: Resolve to wrong mod when use glob reexport and non-glob reexport together"
I'm trying to work on #83375, but found a related but not same bug:

I run `rustdoc` on this code:

[code]

I expected to see this happen:
Only one `prelude` link exists and it resolves to `sub2::prelude` (if you do `println!("{}", resolve::prelude::describe());`, you'll get `sub2::prelude`)

Instead, this happened:
1. Similiar with #83375 described, there are two `preludes` here:
<img width="192"

[2021-03-29 07:54] longfangsong commented on #83632
@rustbot label: +T-doc

[2021-03-29 07:54] AngelicosPhosphoros commented on #83623
I wrote a benchmark

<details><summary>Code</summary>

[code]

</details>

Output:
[code]

As can be seen in criterion ouput, SIMD version works better in case when branch predictor cannot predict which field differ (Random field) while having same speed in other cases. Also, difference is big: 26% and I think that for struct with more fields it matters even more.

[2021-03-29 08:02] vlisivka opened #83633 "SIGSEGV in rust nightly 2021-01-07 (rustc 1.51.0-nightly)"
Code for AVR target. Code compiled on Fedora 33. Code reduced by `comby-reducer`.

[rapt-reduced.tar.gz](https://github.com/rust-lang/rust/files/6220133/rapt-reduced.tar.gz)

Program requires nightly 2021-01-07. I cannot use newer version of rustc to check, because of _unrelated_ bug in llvm for AVR target(`LLVM ERROR: Not supported instr: <MCInst 296 <MCOperand Reg:1> <MCOperand Imm:15> <MCOperan

[2021-03-29 08:26] ChrisDenton opened #83635 "`--remap-path-prefix` does not remap all path prefixes"
I'm using the `x86_64-pc-windows-msvc` toolchain and target.

My system environment variables:

`CARGO_HOME` = `C:\Users\Chris\AppData\Local\Programs\Cargo`
`RUSTUP_HOME` = `C:\Users\Chris\AppData\Local\Programs\Rust`
`CARGO_TARGET_DIR` = `Z:\target`

Without setting `--remap-path-prefix` the final binary has source paths from `CARGO_HOME` and `RUSTUP_HOME`. It also has a `.pdb` file (Windows debu

[2021-03-29 08:35] oli-obk commented on #83518
The implementation is in #83519

[2021-03-29 08:36] oli-obk commented on #83518
It is indeed the second part. We do this doing collection, so after monomorphization, but before LLVM has a chance to do anything. Though I don't believe LLVM does anything useful here.

[2021-03-29 09:23] osa1 opened #83638 "Debug assertion failure when error snippet has tab character"
Generated by a simple fuzz tool I'm working on. Repro:

[code]
(note that the second string has a tab)

Error:

[code]

<details>

<summary>Backtrace:</summary>

[code]

</details>

@rustbot claim

[2021-03-29 09:43] GuillaumeGomez commented on #83035
Do you want to work on it? Otherwise I'll do it. :)

[2021-03-29 10:11] jonas-schievink commented on #83628
duplicate of https://github.com/rust-lang/rust/issues/9307 - the `Copy` impl is simply missing

[2021-03-29 10:11] #83628 closed

[2021-03-29 10:11] jonas-schievink commented on #83628
well, maybe not even that issue would fix this, but `no_core` is only for use by libcore anyways

[2021-03-29 10:13] jonas-schievink commented on #83631
duplicate of https://github.com/rust-lang/rust/issues/57478

[2021-03-29 10:13] #83631 closed

[2021-03-29 11:20] #83590 closed

[2021-03-29 11:26] jjl opened #83641 "using pub macro_rules outside of the crate ICEs with `Missing span for DefIndex(3)`"
using [pub_macro_rules](https://github.com/rust-lang/rust/issues/78855) on the latest nightly, i get this compiler panic.

index varies according to the code that's running as you might expect

### Code

in a project called 'repro'

main.rs:
[code]
lib.rs:
[code]

### Meta

[code]

### Error output

[code]

[2021-03-29 11:30] jjl commented on #83641
Note that I was not able to reproduce this without using a main.rs or test file,  which is why i think it's about being used outside of the crate.

[2021-03-29 11:36] jjl commented on #83641
It appears to be because it's trying to give me a helpful error for the variable i never defined that i'm passing as an argument to the macro

[2021-03-29 11:53] chemsaf3 commented on #83635
will this also help with similar cargo issue https://github.com/rust-lang/cargo/issues/9311 ?

[2021-03-29 12:12] ChrisDenton commented on #83635
@chemsaf3 Could you try setting `--remap-path-prefix` and see if it works for you? You can do so by setting the `RUSTFLAGS` environment variable to something like this:

`--remap-path-prefix=D:\REDACTED\.cargo\registry=registry`

Then do:

    cargo clean
    cargo build --release

[2021-03-29 12:15] kevincox opened #83642 "`hash_map::OccupiedEntry` should provide original key back."
My understanding is that when `.entry()` returns `Occupied` the key provided is not used as the key was already in the map. There should then be a way to get the original key back. The current workaround is `.key().clone()` if they key type is clonable.

The following APIs could have an alternate version that provided the original key:

* [std::collections::hash_map::Entry::and_modify](https://doc

[2021-03-29 12:24] JohnTitor commented on #82865
Triage: Fixed by #83103, marking as `E-needs-test`.

[2021-03-29 12:41] petrochenkov commented on #83641
Unfortunately, the feature was merged in half-implemented state.
@spastorino @nikomatsakis I mentioned in https://github.com/rust-lang/rust/pull/78166 that cross-crate cases need to be tested/fixed, but https://github.com/rust-lang/rust/pull/82296 was merged as is instead.

[2021-03-29 12:50] m-ou-se commented on #83439
@Aaron1011 This is still happening regularly for us on `rustc 1.53.0-nightly (07e0e2ec2 2021-03-24)` (07e0e2ec2 includes your fix).

[2021-03-29 12:50] m-ou-se commented on #83439
Ah I now see you already filed https://github.com/rust-lang/rust/issues/83538. :)

[2021-03-29 12:55] m-ou-se commented on #83538
Can we revert whatever caused this (https://github.com/rust-lang/rust/pull/83007, i think?) until a solution is available?

[2021-03-29 13:27] pedantic79 commented on #83623
@rijenkii #62993 is probably the cause of why the optimization disappeared.

In 1.33, the same version where the SIMD optimizations appear, the following code doesn't optimize out the unnecessary modulo operations.

[code]

The fix to revert the optimization in 1.33 was added for 1.38.

[2021-03-29 13:30] jrmuizel commented on #48556
Is it possible to stabilize the existing instructions without waiting for everything to be done?

It looks like https://github.com/rust-lang/cargo/pull/9181 is going to break the use of neon instrinsics in [qcms](https://github.com/FirefoxGraphics/qcms/blob/master/build.rs) so it would be nice to have a partial solution sooner rather than later.

[2021-03-29 13:42] FrederikP commented on #83303
This just happened to me as well after following bevys fast compile setup at: https://bevyengine.org/learn/book/getting-started/setup/

I'm on the latest nightly (just installed it).

[code]

It doesn't happen if I comment out in `.cargo/config.toml`:

[code]

[2021-03-29 13:59] hi-rustin commented on #83513
@estebank I've found the corresponding suggest and trait_ref, but I don't know how to get its prefix, do you have any suggestions?

[2021-03-29 14:07] chemsaf3 commented on #83635
i tried that and in my case it did not work

[2021-03-29 14:11] cuviper commented on #83642
`OccupiedEntry::replace_key` and `replace_entry` both return the old key.

[2021-03-29 14:22] Mark-Simulacrum commented on #83625
Hm, this seems unexpected - the llvm package *should* always contain that file as of late. Could you provide the commit hash rustbuild is trying to download? It should be in the full log after an rm -rf build or so. (The full log may also be useful).

Additionally, can you say if this was previously working for you?

[2021-03-29 14:31] vminkov commented on #78744
Does anybody have a solution for this?

[2021-03-29 14:34] kevincox commented on #83642
That is different. Those consume the new key. The other methods listed do not. Only one of the new or old keys will end up in the map. It should be possible to get the other key back.

[2021-03-29 14:59] chemsaf3 commented on #75362
saw these on reddit and might be related here too as paths will cause differ hashes

https://github.com/rust-lang/cargo/issues/9311
https://github.com/rust-lang/rust/issues/40552
https://github.com/rust-lang/rust/issues/75263

[2021-03-29 15:59] Aaron1011 commented on #83538
@m-ou-se: These ICEs occur when we would otherwise produce an incorrect result. Given that there's already once case of that leading to unsoundness, I'd be concerned that we'd be simply covering up miscompilations.

[2021-03-29 16:13] xu-cheng opened #83648 "Ipv4Addr: Incorrect Parsing for Octal format IP string"
This issue is inspired by [this blog](https://sick.codes/universal-netmask-npm-package-used-by-270000-projects-vulnerable-to-octal-input-data-server-side-request-forgery-remote-file-inclusion-local-file-inclusion-and-more-cve-2021-28918/).

Due to the specification, leading zero in IP string is interpreted as octal literals. So a IP address `0127.0.0.1` actually means `87.0.0.1`. As shown in the f

[2021-03-29 16:19] xu-cheng commented on #83648
While the fix should be quite straightforward, there are two possible solutions:

* Make the parsing conform the standard.
* OR only accept IP string in decimal format. Certain software chooses this approach because it may improve the security. See https://tools.ietf.org/html/rfc6943#section-3.1.1

[2021-03-29 16:19] joshtriplett commented on #83648
It's not at all obvious that we *should* parse octal IP addresses. Seems exceedingly unlikely to come up outside of security advisories. I would venture a guess that if we added this, far more people would be tripped up by it happening unexpectedly than would ever use it intentionally.

[2021-03-29 16:21] xu-cheng commented on #83648
I agree. So I think disallowing octal string like [`inet_pton`](https://tools.ietf.org/html/rfc6943#section-3.1.1) should be better approach.

Nevertheless, the current implementation in Rust std library should be considered as a (low-risk?) security vulnerability.

[2021-03-29 16:41] keur commented on #80989
@nagisa Just to add, it looks like this was introduced in 1.47. Changing rustc to 1.46 and the generated code looks good.

[2021-03-29 16:45] ehuss commented on #83635
Do you maybe have the rust-src component installed?  There's a known issue with it (#73167).

[2021-03-29 16:51] nbdd0121 opened #83651 "Switch table generated when code for all match arms are identical"
The following code will generate a switch table, with all entries in the table pointing to the same label.

[code]

This generates the following assembly:
<details><summary>Assembly</summary>
<p>

[code]

</p>
</details>

This is observed for all Rust versions and clang (but not GCC), so this is likely a LLVM issue.

@rustbot label: +I-slow +I-heavy +A-LLVM

[2021-03-29 16:51] ChrisDenton commented on #83635
Ah, that would be it then. I somehow missed that when searching for issues. I'll close this in favour of that issue.

[2021-03-29 16:51] #83635 closed

[2021-03-29 17:09] chemsaf3 commented on #83635
i do not have rust-src installed via rustup when i list components

[2021-03-29 17:20] cuviper commented on #83642
I think I see what you mean -- e.g. `remove_entry` also does give you the old key, but then the new one is lost.

[2021-03-29 17:25] leonardo-m commented on #72599
An alternative is to add f64/f32 methods like:
[code]
With this method you can use max_by_key instead of max_by.
But the wrapper idea could be better.

[2021-03-29 17:40] scottmcm commented on #72599
That was brought up in my original PR: https://github.com/rust-lang/rust/pull/53938#issuecomment-420402303

[2021-03-29 18:17] Lucretiel commented on #83625
It was previously working for me several months ago; I'm sorry that I don't remember when that was. I've been working on other things and haven't tried to run `x.py` since at *least* January and maybe not even then.

[2021-03-29 18:17] jyn514 commented on #83630
I can reproduce without -C opt-level=3, although the error is different:

[code]

[2021-03-29 18:18] jyn514 commented on #83630
If I add `pub`, I get the ICEs in debug mode as well: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ff07815db1102032bf1dc1e67f20ebff

[2021-03-29 18:36] Lucretiel commented on #83625
Seems to be fine now 😑 I wish I had more to offer. I ran it several times last night with different configurations and `rm -rf build target` and it kept happening, but now it's fine (and the file is present). I'll reopen this issue if it happens again.

[2021-03-29 18:36] #83625 closed

[2021-03-29 18:46] tbraun96 commented on #63768
Bumping this issue. In more complex architectures wherein there are nested scopes, the usual workaround leads to unfriendly code

[2021-03-29 18:50] memoryruins commented on #83430
@rustbot label F-track_caller

[2021-03-29 19:24] rodrimati1992 opened #83657 "Returning `ManuallyDrop` `const`s generates code to zero out the return value."
I tried this code:

[code]

I expected to see this happen: Both functions to compile to just a return instruction

Instead, this happened: Only `bar` did, `foo` zeros the return value in release builds.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-03-29 19:39] rodrimati1992 commented on #83657
This turns into a memset when the array is large, which is significantly slower than doing nothing

[2021-03-29 19:42] frol opened #83659 "Tracking Issue for `alloc::collections::BinaryHeap::as_slice`"
Feature gate: `#![feature(binary_heap_as_slice)]`

This is a tracking issue for `std::collections::BinaryHeap::as_slice`, a method that returns a slice of the data that is stored in the BinaryHeap (the order is arbitrary).

### Public API

[code]

### Steps / History

- [x] Implementation: #82331
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-03-29 19:44] #78911 closed

[2021-03-29 20:25] nagisa commented on #83430
At the machine code level the function is expected to be defined with a specific signature. Defining the function with any other signature results in the caller invoking UB. Making it the attribute to imply its unsafe somehow (cf. https://github.com/rust-lang/rust/issues/82499) would then properly indicate that there are invariants user must satisfy. It seems, however, that we're already checking

[2021-03-29 20:42] paulfloyd commented on #67153
On 3/29/21 5:23 AM, Alan Somers wrote:

I may be close to having a solution.

Can you try the attached patch with my git repo?

Regards

Paul

[2021-03-29 20:43] paulfloyd commented on #67153
diff --git a/coregrind/m_main.c b/coregrind/m_main.c
index f3a0d1c27..56f9c6cbf 100644
--- a/coregrind/m_main.c
+++ b/coregrind/m_main.c
@@ -3843,6 +3843,13 @@ UWord voucher_mach_msg_set ( UWord arg1 )
 #endif

+Word VG_(get_usrstack)(void)
+{
+   return VG_PGROUNDDN(the_iicii.clstack_end - the_iifii.clstack_max_size);
+}
+
+
+
 /*-------------------------------------------------------------------

[2021-03-29 20:49] Goirad opened #83661 "Ineffective `--exclude` argument on `./x.py test`"
I think this is a sufficiently minimal example:
`./x.py test --stage=1 --target=i686-unknown-linux-gnu --no-doc --exclude src/tools/linkchecker`

After https://github.com/rust-lang/rust/pull/80839, I expect the exclude argument to correctly apply to the linkchecker. Instead, when running the above command I get:
[code]

This is on commit `2917eda69decdf813daa94b20dfb2edd3a555963`

As the linked co

[2021-03-29 21:16] repnop commented on #83430
after searching for how the alloc error handler is implemented, I see what you're getting at. (I assumed it directly inserted a call to that and didn't go through a bunch of `unsafe extern "C"` machinery) I think erroring on any ABI other than the Rust ABI would be far better than marking the function as unsafe and letting things explode if the user specifies an invalid ABI (and I just tested that

[2021-03-29 21:32] AngelicosPhosphoros commented on #83623
@pedantic79 @rijenkii
I reimplemented simplification of CFG from reverted commit, I think, we should benchmark changes to decide if they should stay.
https://github.com/rust-lang/rust/pull/83663

[2021-03-29 21:49] mcronce commented on #83623
If it turns out that #83663 costs more than it saves in terms of runtime performance, would there be value in simply changing `#[derive(PartialEq)]` to produce code that looks more like `eq2()` in @AngelicosPhosphoros's examples above?  It's more verbose, but since it's generated, that doesn't seem like a major issue; if it produces faster binaries, that does sound like a win

[2021-03-29 21:54] AngelicosPhosphoros commented on #83623
@mcronce Yes, that's a plan.

[2021-03-29 22:02] nikic commented on #82890
Upstream fix: https://github.com/llvm/llvm-project/commit/7669455df49e6fc8ae7d9f4bd4ee95bb20e7eb6e

[2021-03-29 22:50] Titaniumtown commented on #51575
Is this ever going to happen? seems the issue has been inactive for some time now.

[2021-03-29 23:26] Artoria2e5 commented on #63010
I am a bit concerned about the fact that `file_index` is just a `u64`. On NTFS and ReFS the type is now more properly a `u128`, but a different API GetFileInformationByHandleEx is needed to get the info.

[2021-03-30 02:03] estebank opened #83668 "Handle `fn` parameter type with named borrow missing a leading `'`"
Appropriately handle encountering an `fn` parameter type that has a named borrow missing a leading `'`:

[code]

[We currently spam multiple errors for this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=18c695ded8bfa7f71b5f6b2a39da860f):

[code]

[2021-03-30 02:16] NathanIceSea commented on #76407
I could confirm with TryFrom trait associated type Error's Debug constraint, used as generic return type

[2021-03-30 02:35] the8472 commented on #37572
In some cases it would be useful to know when an iterator has a known length that is guaranteed to be `<= usize::MAX`. E.g. when you're collecting and want to transform it into a counted loop. Currently this needs a fallback code path for the None case which is awkward because it's probably going to run out of memory anyway (except for ZSTs) and bloats the implementation.

Having a stricter `Trust

[2021-03-30 02:38] TheWastl commented on #78586
If we should not look at foreign types' sizes, should it be allowed to use an opaque zero-sized type as the single non-zero-sized field in a `repr(transparent)` struct?

Crate A:

[code]

Crate B:

[code]

This is currently rejected, but I think the zero-sizedness of opaque types (i.e. types with `non_exhaustive` or private fields) should be considered an implementation detail of crate A.

[2021-03-30 02:46] QuineDot commented on #57749
Another use case [came up on URLO:](https://users.rust-lang.org/t/why-does-rust-require-two-ampersands-in-this-scenario/57609/) the desugared `?` operator:
[code]
<details>
<summary>More code context</summary>

[code]
</details>

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dc094dc11e050c10086aa483413ac200)

[2021-03-30 02:51] estebank commented on #83513
@hi-rustin you'll want to use this function where the suggestion is being created

https://github.com/rust-lang/rust/blob/72ebebe474aae7203a27fdc1296617edd01321f1/compiler/rustc_middle/src/ty/print/pretty.rs#L102-L112

[2021-03-30 03:30] pubfnbar commented on #73338
I wonder if this issue is related to [#83623](https://github.com/rust-lang/rust/issues/83623)

[2021-03-30 03:41] #82792 closed

[2021-03-30 03:45] TheWastl commented on #78586
@Areredify Are you still working on this?

[2021-03-30 04:05] stusmall opened #83670 "Nightly crashing when building structopt using -Z sanitizer=address"
### Code
I've pulled this code out of a larger project.  Unfortunately I haven't been able to minimize it more yet but will try tomorrow.

https://github.com/stusmall/panic_rustc

EDIT 3/30:  I reduced it down to just being an issue with importing structopt 0.3 and building with asan.  Will try to reduce further

### Meta
This only triggers when build with -Z sanitizer=address.  Otherwise it build

[2021-03-30 04:48] AaronKutch commented on #39078
The perf changes have made it into stable Rust by now, what does it look like?

[2021-03-30 07:43] jethrogb commented on #37572
Even `usize::MAX` is probably going to run out of memory though. Your actual maximum length you can handle is likely much lower than that. This depends on runtime behavior (the amount of RAM available on the system) so you won't be able to handle this at compile time anyway.

[2021-03-30 08:42] RalfJung commented on #83657
Cc @oli-obk

[2021-03-30 08:43] RalfJung commented on #83657
Good catch! Yes we probably could be emitting proper undef constants to LLVM here (assuming LLVM has a way to let us do that).

[2021-03-30 08:46] RalfJung commented on #78586
Btw, I just noticed we have a somewhat similar restricting in `repr(packed)`, which shows an error if it transitively contains a `repr(align)`. This seems related in terms of being a semver hazard, doesn't it?

[2021-03-30 08:46] oli-obk commented on #83657
Oh! yea we should totally fix that. Not sure how to do it for partially initialized aggregates, but we should at least cover the fully uninit case.

[2021-03-30 08:50] RalfJung opened #83672 "One can put repr(align) into repr(packed) with generics"
Usually, one cannot put `repr(align)` fields into `repr(packed)` structs:
[code]

However, this check can be circumvented using generics:
[code]

I don't know why this restriction exists in the first place, but I think we have one of two situations here:
* The restriction is truly needed, as parts of the compiler rely on it, and we have a problem here.
* The restriction is not really needed, and w

[2021-03-30 08:53] RalfJung commented on #83672
This is the exact same problem we had with `repr(transparent)` where we also had a check that could be circumvented with generics... we should probably do a proper audit of all these checks as that seems to be a weak spot.

Cc @nikomatsakis

[2021-03-30 09:21] JohnTitor commented on #75986
The relevant code:
https://github.com/rust-lang/rust/blob/a0e229abadfe47df74625309fba44c0f3b8a0649/compiler/rustc_typeck/src/check_unused.rs#L61-L68

This can be resolved by adding a tool-only suggestion with a check whether or not we should remove the entire use statement.

[2021-03-30 10:35] tspiteri opened #83675 "rustdoc replaces aliases used as trait type parameters"
[code]

The documentation for the `S` trait implementations looks like this:

![image](https://user-images.githubusercontent.com/18604588/112975460-f8f43880-9153-11eb-9be3-851fa234e6f4.png)

While the `from` function itself is documented correctly to take a parameter of type `c_long`, the `From` trait has type parameter `i64` instead of `c_long`. I expected it to be `impl From<c_long> for S` inste

[2021-03-30 10:54] vext01 commented on #81431
Can anyone comment on what the correct fix for this might be?

I notice that if I copy `cargo-clippy` and `clippy-driver` from `stage1-tools-bin/` into `stage1/bin` then I'm able to run `cargo clippy` via the linked toolchain.

I initially considered changing rustup to add `stage1-tools-bin` to the PATH, but that seems incorrect as we would be adding something outside of the toolchain root to PATH

[2021-03-30 11:05] leonardo-m commented on #39078
Now the code at Aug 29 runs in 0.50-0.52 seconds, and the original (buggy) code runs in 0.43-0.47 seconds (this variability is caused by different compilation flags). I've tried the code that uses extprim, and the performance is the same. So we can close this issue down.

The next LLVM improvement step could be to optimize remainder/divisions by small constants:

[code]

rustc 1.53.0-nightly 4a20e

[2021-03-30 11:05] #39078 closed

[2021-03-30 12:35] the8472 commented on #37572
The `take(usize::MAX)` would just be needed to guarantee at compile time that the iterator length always fits into usize, as an upper bound. The actual size can still be lower than that if each link in the chain is small enough. The issue with `TrustedLen` is that it can return `None` in principle, even if a concrete instantiation of an iterator chain never will, and that prevents some specializat

[2021-03-30 12:48] stusmall commented on #83670
I worked on reducing this.  All I need is to import structopt = "0.3" and build with `RUSTFLAGS="-Z sanitizer=address" cargo build`

I'll try and reduce further to find the trouble causer inside structopt

[2021-03-30 12:58] jyn514 commented on #83670
This looks similar to https://github.com/rust-lang/rust/issues/82991.

[2021-03-30 13:04] TheWastl commented on #78586
@RalfJung

If adding `repr(align)` is not a breaking API change, then we run into another issue: `repr(transparent)` requires that the contained ZSTs have an alignment of 1. But if libraries can make their ZSTs `repr(align(2))` (for example), then external types may not be used as ZSTs in `repr(transparent)` types at all! Unfortunately, `PhantomData` is such an external type ...

Granted, adding `

[2021-03-30 13:29] tspiteri opened #83677 "rustdoc intra-doc links emits spurious warnings"
[code]

When generating docs, this emits the warning:
[code]

I get no warning for this:
[code]
and no warning for this:
[code]

### Meta
`rustc +nightly --version`:
[code]

[2021-03-30 14:07] manuthambi commented on #83595
1.50 didn't warn I think. I haven't specifically configured `unusued_attributes` in my project. Anyways, it is a good idea to lint/error for unused attributes.

That works, if the compiler guarantees that there will not be any padding at the beginning of `Arr` struct. Does it?

[2021-03-30 14:37] cbeuw commented on #82108
This seems like a deliberate design choice:
https://github.com/rust-lang/rust/blob/689e8470ffa7aeca17cfee428704a4d6c4148c11/compiler/rustc_span/src/source_map.rs#L1030-L1044

`.rev()` has been there since when path remapping was first introduced back in 2017: https://github.com/rust-lang/rust/commit/39ffea31df73b20d5549330d446713e56e60e801

Indeed by simply removing `.rev()` it gives the same beha

[2021-03-30 14:41] nagisa commented on #82108
Yeah, I opened this issue basically to figure out an answer to the last question. The source you linked seems to suggest to me its intended and given that this behaviour is long-standing I doubt we are in a position to change it anyway.

Thank you for looking into it.

[2021-03-30 14:41] #82108 closed

[2021-03-30 14:55] jyn514 commented on #83677
@tspiteri the warning is correct. Here's the HTML generated for each:
[code]
The issue is that `[a][b](c)` is ambiguous markdown syntax: it could either be
1. a link to `b` titled `a`, which you seemed to intend, or
2. the literal text `[a]`, with a link to `c` titled `b`.

Rustdoc is using the second meaning here, and when `c` fails to resolve it falls back to the first meaning. I'd recommend usi

[2021-03-30 14:57] jyn514 commented on #83675
Duplicate of https://github.com/rust-lang/rust/issues/80557.

[2021-03-30 14:57] #83675 closed

[2021-03-30 14:58] jyn514 commented on #83632
Duplicate of https://github.com/rust-lang/rust/issues/83375 (but thanks for the report).

[2021-03-30 14:59] jyn514 commented on #83632
The reason I consider them the same is they have the same cause: if there's already an item with that name in scope, rustdoc will use both that item and the glob re-export. Whether the item is a re-export or was defined in the current module shouldn't matter.

[2021-03-30 15:00] jyn514 commented on #83632
BTW, this isn't super helpful because the version is always the same - it's more helpful to link the commit you built from source.

[2021-03-30 15:02] jyn514 commented on #83133
Yes, it was changed intentionally in https://github.com/rust-lang/rust/pull/80653 and mentioned in the release notes: https://github.com/rust-lang/rust/blob/master/RELEASES.md#rustdoc.

Vec derefs directly to slice - maybe the user crates you're talking about always deref to Vec?

[2021-03-30 15:04] jyn514 commented on #83133
:+1: I like this idea.

Hmm, I'm a little concerned the methods will be harder to find that way. We get a lot of complaints that the "Trait Implementations" section is hard to read because you have to click on the name of the trait to see what methods are available.

[2021-03-30 15:22] jyn514 commented on #24183
@guillaumegomez https://github.com/rust-lang/rust/pull/78181 did not fix this - it now shows `impl !Sized for dyn Trait`, which is nice, but it doesn't show `Self: Sized` bounds on traits. For traits it does matter because the default is `?Sized`.

[2021-03-30 15:22] jyn514 commented on #82581
Duplicate of https://github.com/rust-lang/rust/issues/24183.

[2021-03-30 15:22] #82581 closed

[2021-03-30 15:25] jyn514 commented on #24183
@guswynn I would start by finding out why this is different between local crates and cross-crate re-exports. I expect `impl Clean<Item> for hir::TraitItem<'_>` is behaving differently from `impl Clean<Type> for (ty::TraitRef<'_>, &[TypeBinding]) `.

[2021-03-30 15:41] jjl opened #83679 "feature use after accidentally using an outer comment might give lots of 'enable feature' errors"
If you start a module like this:

[code]

and then go on to use that feature in lots of code, you will get an error like this:

[code]

unfortunately, you might not notice for all the errors telling you to enable the feature. more than my terminal's scrollback in this case, apparently.

[2021-03-30 16:08] umanwizard commented on #56167
There is a very simple and common use case that, as far as I can tell, is not currently possible with the standard `HashMap`, which covers most of the times I have wanted `raw_entry_mut` . Is it possible to support this without the full generality and complexity of the raw entries API?

Description of the use case:

Imagine I have `HashMap<Vec<u8>, usize>`. What I want to do is:

(1) check if some

[2021-03-30 16:10] thomcc commented on #56167
No, this requires raw_entry_mut.

[2021-03-30 16:20] umanwizard commented on #56167
Thanks for confirming. Has the idea of adding an API for this specific use case (e.g., `get_or_clone_key_and_insert_with`, which would of course only be available when `K: Clone`) been discussed? I feel like it would be much simpler than nailing down the fully general `raw_entry_mut` .

[2021-03-30 16:22] thomcc commented on #56167
Yes, there was a great deal of discussion about this in the past.

Note that `K: Clone` isn't quite enough for common `str`/`String` or `[T]`/`Vec<T>` cases. It would need to be `ToOwned`, probably at the very least.

[2021-03-30 16:47] joshtriplett commented on #82633
Starting a poll to check lang-team consensus:

@rfcbot poll T-lang Should we prohibit types like `fn(...) -> Out` if `Out` is not `Sized`?

[2021-03-30 16:59] thomcc commented on #56167
- https://github.com/rust-lang/rfcs/pull/1769
- https://internals.rust-lang.org/t/pre-rfc-abandonning-morals-in-the-name-of-performance-the-raw-entry-api/7043
- https://internals.rust-lang.org/t/head-desking-on-entry-api-4-0/2156
- https://github.com/rust-lang/rfcs/pull/1533
- https://github.com/rust-lang/rfcs/issues/1203

Actually, there are way more discussions that this doesn't bring up, but th

[2021-03-30 16:59] joshtriplett commented on #82633
Clarification: this does not prevent us from potentially improving support for unsized values in the future, it just prevents such function types from existing until we do.

[2021-03-30 17:13] joshtriplett commented on #82633
ping @estebank

Do you still have the bandwidth to implement this? Looks like we have consensus.

[2021-03-30 17:41] tblah commented on #83661
Thanks for reporting this. I think https://github.com/rust-lang/rust/pull/83683 should fix it

[2021-03-30 17:45] leonardo-m commented on #78504
Now there are Nightly ways to enforce N > 0.
If the array::max() name is not available then array::array_max() and array::array_min() names could be acceptable.

A related function could be array::fold.

[2021-03-30 17:51] Amanieu commented on #56167
IMO `raw_entry` is a poor API because it is trying to do too much at once. It is trying to serve two different types of use cases:
- High level cases where you just want to avoid having to pass ownership of the key into `entry`. These might be better served with an `entry_ref` API that takes a `T: ToOwned`. Or perhaps allowing the user to provide the key separately when inserting (if it doesn't ma

[2021-03-30 17:51] camelid commented on #83611
So does that mean I need a different approach from https://github.com/rust-lang/rust/issues/83611#issuecomment-808986220? I haven't interacted with the trait-solving-related code that much, so I would appreciate if you could give me more detail on how I would implement what you're suggesting :)

Alternatively, I could open a PR using `@jackh726`'s approach since it seems like it should be very qui

[2021-03-30 17:52] camelid commented on #83035
I'm hoping to work on it, but if I don't get to it I'll try to let you know so you can do it :)

[2021-03-30 18:10] umanwizard commented on #56167
Reading the past discussions posted by Thom, I didn't find where `entry_ref`, `entry_or_clone` and similar ideas were clearly rejected -- just that discussion on them has fizzled out because `raw_entry` will subsume those use cases.

It has been five years - perhaps it's time to land those so people can start using HashMaps now without performance overhead, rather than waiting for `raw_entry_mut`

[2021-03-30 18:34] maxlein opened #83685 "Cargo seg fault"
Immediate seg fault when calling `cargo build` on Ubuntu 20.04 x64.

I tried this code:

[code]

I expected to see this happen:

Build runs through.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

[2021-03-30 18:42] jrandall opened #83686 "Signature mismatch in __wasilibc_find_relpath"
In https://github.com/rust-lang/rust/pull/67267, @alexcrichton indicated that the signature of `__wasilibc_find_relpath` had changed upstream, and that PR was merged changing the signature from a 4-argument version to a 2-argument version.

I'm not 100% sure what "upstream" means in this context, but I had previously thought it was wasi-libc from the `WebAssembly` repo. It does seem to be the case

[2021-03-30 18:47] jyn514 commented on #83685
That doesn't look like it came from the demo project, this is what cargo runs for me:

[code]

Can you make sure this happens in a fresh project? If not, can you link the project where it crashes?

[2021-03-30 18:51] maxlein commented on #83685
I do exactly this:

[code]
Then crash ...

[2021-03-30 18:53] Soveu opened #83687 "Cannot infer const parameter that has a default value"
I tried this code:
[code]

I expected to see this happen:
Code compiles and `arr` is `Array<1>`, because of the default.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

No backtrace

</p>
</details>

[2021-03-30 18:54] ehuss commented on #83685
@jyn514 That's normal behavior for cargo. That command is usually hidden, and will be cached if it is successful.  It is only displayed if it fails.

[2021-03-30 20:24] nhynes commented on #56975
Yep, those are the ones.

[2021-03-30 20:28] leshow opened #83688 "newly added next_if uses impl Trait"
https://doc.rust-lang.org/std/iter/struct.Peekable.html#method.next_if

Shouldn't this use a type param with a bound? With impl trait it's not possible to use turbofish. I'm assuming this is why type params are used everywhere in the std lib (ignoring legacy reasons)
[code]

If this is undesirable feel free to close, if it's a change that would accepted, I can submit a PR.

[2021-03-30 20:52] nanguye2496 commented on #81894
Fix https://github.com/rust-lang/rust/pull/81898  has been merged.

[2021-03-30 20:52] #81894 closed

[2021-03-30 20:57] estebank commented on #82633
@joshtriplett I do. I'll cook up a PR.

[2021-03-30 21:30] spastorino commented on #83641
@petrochenkov yeah, I understood that and I was going to work on this problem. At some point these changes that were supposed to be included in edition 2021, are now (if I'm not wrong) not going to be included so I ended de-priorizing this work.

Please @nikomatsakis correct me if I'm wrong. We may want or to have this open and assigned to me or @petrochenkov you can feel free to fix this too or w

[2021-03-30 22:01] jyn514 commented on #83688
@leshow you can't name the types of closures or functions. When would turbofish be useful here?

[2021-03-30 22:07] camelid commented on #81431
I'm not really knowledgeable about `x.py`. You might want to ask in `#t-compiler` on Zulip.

[2021-03-30 22:15] #83648 closed

[2021-03-30 22:21] nikomatsakis commented on #83641
I think at this point we should just revert the PR. My sense was that we never quite got the design resolved to the point where we were confident we were going to go forward with it. Another option would be to add the "half-baked" flag that gives warnings when you use it, of course.

[2021-03-30 22:21] bluss commented on #83688
Custom-implementing `FnOnce` is an experimental feature, but that allows implementing it for any of your own named types. Another example is to name function pointer types that also implement `FnOnce`.

This method is stable now, so it's something that should have been discussed in stabilization.

[2021-03-30 22:39] jianshu93 commented on #25289
I am having this error on a RHLE 7 cluster where I do not have sudo privilege and cannot install anything. Any idea?

[2021-03-30 22:43] leshow commented on #83688
I'm not claiming it's super useful, it's just something I noticed when looking through the docs. Like @bluss said there are some edge cases where it's possible to try to use it and it won't work. To be safe, it seems like using type params in std is a good idea.

[code]

This doesn't compile, for example, although it's obviously not necessary.

[2021-03-30 22:56] jackh726 commented on #83611
I think what @eddyb is saying roughly lines up with my comment. @camelid I think just open a PR with my approach.

I imagine this is a "single binder" in the mangling, not in the predicate list.

I don't quite follow this. Maybe this referring to multiple bound traits? Lifetimes bound in `Projection` should always be the same as those bound under `Trait`, since it's just a desugaring.

[2021-03-30 22:58] joshtriplett commented on #64796
@rfcbot concern ecosystem-impact-of-version-without-accessible

I'm going to go ahead and register this as a concern, precisely *because* `accessible` is harder than `version`. Other ecosystems (e.g. C) had version-detection much earlier than they had feature-detection, and the effects of that are quite visible in the ecosystem. I'm quite concerned that `version` will become the "good enough" mech

[2021-03-30 23:00] JohnTitor commented on #68830
Current output:
[code]

The E0119 is no longer shown, marking as E-needs-test.

[2021-03-30 23:09] chengniansun opened #83691 "ICE: compiler/rustc_codegen_llvm/src/context.rs, failed to get layout for `[type error]`: the type `[type error]` has an unknown layout"
rustc 1.32 does not ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-30 23:14] chengniansun opened #83693 "ICE: panicked at 'assertion failed: !substs.has_escaping_bound_vars()', compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs:1475:9"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-30 23:41] jyn514 commented on #83693
Slightly smaller:
[code]
[code]

[2021-03-31 00:26] #82125 closed

[2021-03-31 00:26] Mark-Simulacrum opened #83694 "Crater runs for 1.52"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-03-31 00:27] Mark-Simulacrum commented on #83694
@craterbot run name=beta-1.52-1 start=1.51.0 end=beta-2021-03-27 mode=build-and-test cap-lints=warn p=10

[2021-03-31 00:28] Mark-Simulacrum commented on #83694
@craterbot run name=beta-1.52-rustdoc-1 start=1.51.0 end=beta-2021-03-27 mode=rustdoc cap-lints=warn p=5

[2021-03-31 01:54] ExpHP commented on #42168
Really?  To me this trait looks like nothing more than an internal implementation detail of `std::ops::Range` iteration.  I would point out that notably, if this were stabilized as is, then it would never be possible to write a `Range<MyCustomIdx>` that can be iterated over without the use of `unsafe`.

It seems to me that this is definitely a big enough thing to deserve going through the RFC proc

[2021-03-31 02:02] glandium opened #83695 "Suggestion for as_mut_ref method on *mut T is <*const T>::as_ref rather than <*mut T>::as_mut"
Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f15b53bbca5aa0b5125737c87928e17a):

[code]
(I don't know why to this day, I still type `as_mut_ret`... it's beyond me...)

The current output is:

[code]

The note is misleading in two ways:
- it's suggesting a method on `*const T`, when it should be a method on `*mut T`.
- it's suggesting `as_ref`

[2021-03-31 02:05] jhpratt commented on #42168
@ExpHP A user iterating over some type would not need `unsafe`, if that's what you're saying. `unsafe` would only be required to implement the trait, and even then only because of the number of invariants that need to be upheld — there doesn't actually need to be anything unsafe being used.

[2021-03-31 02:28] #75801 closed

[2021-03-31 02:28] #80504 closed

[2021-03-31 02:28] #83606 closed

[2021-03-31 02:28] #83661 closed

[2021-03-31 02:48] ExpHP commented on #42168
I was, of course, referring to the fact that `unsafe` is required to implement the trait.  I do not think this is an unrealistic thing to want to be able to do in safe code; in fact, I would rather think there should be a fair overlap between the kind of projects that would want to use a custom-typed range, and the kind of projects that would `#![deny(unsafe)]`;  but this is conjecture.  (all I kn

[2021-03-31 02:53] jhpratt commented on #42168
I wasn't quite sure which you were referring to.

There's a `TrustedLen` trait, which is already separate. It just has a blanket impl for all `Range<T> where T: Step`. I've asked on Zulip to see if there is any technical reason this blanket impl is necessary or if it could be switched to a number of specific impls (leaving the behavior of stdlib the same).

Ultimately the decision to require a for

[2021-03-31 04:03] skyline75489 opened #83696 "Unexpected panic when compiling ppv-lite86 project"
### Code

I wish I know the exact code that cause the crash but I failed to narrow it. The file that cause the crash is

https://github.com/cryptocorrosion/cryptocorrosion/blob/ppv-lite86-0.2.10/utils-simd/ppv-lite86/src/soft.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-31 04:46] chengniansun opened #83697 "ICE: panicked at 'index `8` is out-of-bounds of vector type `i8` with length `1`',"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-31 05:47] #83429 closed

[2021-03-31 06:42] maxlein commented on #83685
No I didn't overclock my system.
This is just my work notebook with a common dev environment setup. ( clang, g++, vscode )

[2021-03-31 07:50] JohnTitor commented on #77290
Triage: #78666 fixed the shellcheck errors and I don't think it's much worth applying shellcheck's suggestions to our source, while fighting a lot of regressions, so I'm going to close the issue. Thanks!

[2021-03-31 07:50] #77290 closed

[2021-03-31 10:17] apiraino commented on #83335
Removing `I-prioritize`, PR is on the way ([Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383335.20Upgrade.20to.20LLVM.2012.20caused.20AArch64.20bare.20metal.20program.E2.80.A6))

@rustbot  label -I-prioritize

[2021-03-31 10:25] XAMPPRocky opened #83701 "Tracking issue for `explicit_generic_args_with_impl_trait`"
This is a tracking issue for the `explicit_generic_args_with_impl_trait` feature gate.
There has not been an RFC for this.

### Steps
- [x] Implement (#86176)
- [ ] Adjust documentation ([see instructions on rustc-dev-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-dev-guide][stabilization-guide])

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_gui

[2021-03-31 10:46] jjl commented on #83641
I think the 'half-baked' flag is still worth having, but it would be helpful if it noted that out of crate use is unlikely to work.

[2021-03-31 11:14] apiraino commented on #83691
Regression seems to be in nightly-2020-01-01
[code]

[2021-03-31 11:14] apiraino commented on #83691
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383691.20ICE.3A.20compiler.2Frustc_codegen_llvm.2Fsrc.2Fcontext.2Ers.2C.20fai.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-03-31 11:38] apiraino commented on #83630
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383630.20ICE.3A.20TyKind.3A.3AError.20constructed.20but.20no.20error.20reported.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-03-31 11:49] apiraino commented on #83499
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383499.20ICE.3A.20panicked.20at.20'index.20out.20of.20bounds.3A.20the.20len.20is.202.20.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-low

[2021-03-31 13:04] est31 commented on #64796
Which feature detection do you mean? The one that runs alongside configure scripts, launching compiler processes with tiny test programs and checking whether they return an error? That is already possible with rust and build.rs, and already in use in the ecosystem. I'd say that both `cfg(accessible)` and `cfg(version)` are better as they avoid the overhead of launching an entire compiler process.

[2021-03-31 13:23] Xanewok commented on #78700
I'd be happy to tackle this on. @nikomatsakis could you give some pointers on why things work the way they do and where should I look/how do you imagine implementing that? 🙏

[2021-03-31 13:38] chengniansun opened #83702 "ICE: compiler/rustc_symbol_mangling/src/legacy.rs, finding type for DefId(...), encountered def-id DefId(...) with no parent"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-31 13:44] JohnTitor commented on #83621
The ICE happens because the type placeholder error has been gone since 1.43.

[2021-03-31 13:45] daira commented on #80684
This issue is compounded on macOS, where it seems to be even more inefficient to launch lots of processes from a shell. Sorry I don't have timings, but it takes tens of minutes at least for this step; long enough that I would expect most users who are trying to build our software from source in macOS (it's Zcash, which installs a pinned version of Rust in order to build) are likely to think it's h

[2021-03-31 13:55] Mark-Simulacrum commented on #80684
I think the problem may largely be that the manifest.in generated for rust-docs component (at least) is a file: list instead of using the directory: command; directory commands should be much more efficient. This change may be a recent(ish) regression; I suspect that fixing that is likely the right solution here.

[2021-03-31 14:14] alexcrichton commented on #83686
When using an external version of wasi-libc you'll need to match the version of wasi-libc that libstd is compiled against. In this case you'll need to have an updated version externally I believe

[2021-03-31 14:19] jgallagher opened #83704 "ICE on Rust 1.51 with min const generics and Deref<Target=[T; N]>"
Hi! I ran into an ICE experimenting with a wrapper that would hold a `Vec`'s length. I've tried to minimize it and made it this far:

### Code

[code]

### Meta

1.51, beta, and nightly all ICE for me:

`rustc --version --verbose`:
[code]

`rustup run beta rustc --version --verbose`:
[code]

`rustup run nightly rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong

[2021-03-31 14:56] matklad commented on #53639
Note that we stabilized `core::ptr::addr_of_mut` in 1.51.0, and that changes the landscape here. In particular, something like this now should be possible:

[code]

sadly, this gives `error[E0133]: use of mutable static is unsafe and requires unsafe function or block` which feels like a bug to me?

This probably means that we can go forward with the plan outlined in https://github.com/rust-lang/ru

[2021-03-31 15:03] nikomatsakis commented on #83641
My personal take is that if nobody is actively pursuing this design (and I think nobody is) we should just revert the PR.

[2021-03-31 15:33] nikomatsakis commented on #53639
Regardless of whether `addr_of_mut!(X)` is unsafe or not, it would still be possible to deprecate `&mut X`, no?

[2021-03-31 15:34] lcnr commented on #83249
the ICE is caused by using `InferCtxt::const_eval_resolve`, the `tcx` one "just" replaces the whole substs with the identity substs and the param env of the constant itself, which is correctly typed.

Always using `tcx.const_eval_resolve` would actually "just fix" this issue.

[2021-03-31 15:35] Lokathor commented on #53639
Correct.

[2021-03-31 16:14] apiraino commented on #83704
regression should be in nightly-2019-11-21:

[code]

[2021-03-31 16:36] oli-obk commented on #83249
The backtrace in the issue here does use `rustc_middle::mir::interpret::queries::<impl rustc_middle::ty::context::TyCtxt>::const_eval_resolve` without first going through `InferCx::const_eval_resolve`. There are also `InferCtxt` calls in the middle, but the last `const_eval_resolve` call (the one that ICEs) is called directly by just dropping the `InferCx` in https://github.com/rust-lang/rust/blob

[2021-03-31 16:40] devins2518 opened #83708 "Backslash at the end of line followed by \n on the next line in a print! or println! macro crashes rustc"
### Code

This fails to compile using both println!() and print():
[code]
This does not panic the compiler but correctly gives an error that the number of arguments are incorrect:
[code]

### Meta

Stable, nightly, and beta fail with the same error.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Stable Backtrace</strong></summary>
<p>

[code]

</p>
</deta

[2021-03-31 16:44] wesleywiser commented on #50778
Closing this since no one has reported seeing it in the last 3 years. If you run into this again, please leave a comment and we'll reopen.

[2021-03-31 16:44] #50778 closed

[2021-03-31 16:59] wesleywiser opened #83709 "When debugging on windows-msvc, closure environments cannot be inspected"
I compiled the following program and started debugging in Windbg:

[code]

but after stepping inside `closure`, it's not possible to inspect the `x` or `y` variables.

![image](https://user-images.githubusercontent.com/831192/113182089-82713c80-9220-11eb-8b76-e20e44627fe8.png)

### Meta

`rustc --version --verbose`:
[code]

`Windbg 1.2103.01004.0`

[2021-03-31 17:14] wesleywiser commented on #83709
Running `cvdump.exe` on the pdb shows the function is missing local variable information entirely:

[code]

where as the DWARF info is generated correctly:

[code]

So this is an issue with the debug info generation itself and not a bug in Windbg.

[2021-03-31 17:14] bcpeinhardt opened #83710 "Compiler panics internally on "cargo run hello""
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-31 17:59] therealprof commented on #53639
Can someone point me to a hint why and how `addr_of_mut!(X)` helps to get rid of `static mut`. Somehow I'm not seeing the relation... 😅

[2021-03-31 18:07] SimonSapin commented on #53639
`addr_of_mut` helps with the counter proposal of not deprecating `static mut` entirely, only taking references to it. Such references/borrows are (as far as I understand) the ones that are problematic since they easily last longer than intended.

[2021-03-31 18:10] Boiethios commented on #83291
I'm on `2021-03-24`, and I'm getting that bug a lot. Is the source of the bug known?

[2021-03-31 18:26] lcnr commented on #83249
yeah, the last `const_eval_resolve` call isn't the one which introduces the placeholder causing the ICE though. That one is the `InferCtxt::const_eval_resolve` call at 168 afaict.

So the `TyCtxt::const_eval_resolve` *should* only ICE because of the `InferCtxt::const_eval_resolve` call it is used in afaict.

[2021-03-31 18:28] hyd-dev commented on #83672
Is this a duplicate of #80926?

[2021-03-31 18:40] m-ou-se commented on #31343
Closing this, since these functions no longer exist since 1.50 (https://github.com/rust-lang/rust/pull/78714).

[2021-03-31 18:40] #31343 closed

[2021-03-31 18:51] therealprof commented on #53639
@SimonSapin Thanks, now I'm on the same page.

[2021-03-31 18:53] slightlyoutofphase commented on #83133
Yeah, that makes sense. Honestly just showing `Trait Implementations` before `Methods From Deref` in any case where both exist would likely pretty much cover the kind of thing I was mostly concerned about by itself anyways.

[2021-03-31 18:56] Zapeth opened #83715 "On stable channels, suggest removing `#![feature]`s that have already been stabilized"
I was under the impression that `min_const_generics` should work on stable channel with version 1.51, however using the example code from https://github.com/rust-lang/rust/pull/79135 I get
[code]

rustc -Vv output (its the [mingw package](https://github.com/msys2/MINGW-packages/tree/master/mingw-w64-rust)):
[code]
[code]

[2021-03-31 18:58] eggyal commented on #83715
`#[feature]` attributes are used to enable unstable/gated features in the nightly compiler.  Once a feature stabilizes, the attribute is no longer required.

[2021-03-31 19:02] jyn514 commented on #83715
I think the compiler should suggest removing the feature gate if it's been stabilized.

[2021-03-31 19:03] Zapeth commented on #83715
I see, I was unsure whether the error message was referring to the referred feature or the feature flag itself (since the example code of the stabilize PR was using it too I was assuming the former).

And yes, removing the feature line from the example code makes it comile, thanks.

Is there any way to make rustc ignore the feature flag and still try to compile it? The library I want to use still

[2021-03-31 19:07] jyn514 commented on #83715
No, you'll need to either patch the crate or fix it upstream.

[2021-03-31 19:07] RalfJung commented on #83672
It is, good point, thanks!

[2021-03-31 19:07] #83672 closed

[2021-03-31 19:10] leonardo-m commented on #79898
I've just hit this :)

[2021-03-31 19:39] m-ou-se commented on #79288
@rfcbot merge

[2021-03-31 19:39] apiraino commented on #83704
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383704.20ICE.20on.20Rust.201.2E51.20with.20min.20const.20generics.20and.20Deref.3CT.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-03-31 19:41] joshtriplett commented on #76904
Closing this since #82565 has been merged.

[2021-03-31 19:41] #76904 closed

[2021-03-31 19:43] m-ou-se commented on #76416
@rfcbot merge

[2021-03-31 19:47] m-ou-se commented on #73544
@rfcbot merge

[2021-03-31 19:48] Aaron1011 commented on #83439
@m-ou-se: You're getting this exactly crash (with `extern_mod_stmt_cnum`) on a recent nightly? This should have been fixed by https://github.com/rust-lang/rust/pull/83153

[2021-03-31 19:49] joshtriplett commented on #60108
Closing, as these intrinsics have been stabilized.

[2021-03-31 19:49] #60108 closed

[2021-03-31 19:52] m-ou-se commented on #78271
@rfcbot merge

[2021-03-31 19:57] joshtriplett commented on #79025
We discussed this in today's @rust-lang/libs meeting. We'd like to see a comment added documenting the performance characteristics of this (as well as a corresponding update to `drain_filter`), and suggesting that this might not be what you want if you're removing a substantial number of elements.

Beyond that documentation, though, we'd be happy to see this stable.

@rfcbot merge

[2021-03-31 19:59] aDotInTheVoid opened #83718 "[rustdoc-json] Assertion error on blanket impls"
[code]

`rustdoc +stage1 trait.rs -w json`

[code]

Interesingly, and shockingly If you remove `pub struct Wrapper<T>(T);` and `impl<T> Get for Wrapper<T>`, this doesn't panic.

[code]

<details>
<summary> Whats up with the diff? </summary>

The assetion format is differnt to usual as I've patch rustc with
[code]
to make it readable, but this can also be repoduced with the latest nightly

[code]

[2021-03-31 20:03] m-ou-se commented on #79143
@rfcbot merge

cc @rust-lang/wg-const-eval

[2021-03-31 20:09] aDotInTheVoid opened #83720 "[rustdoc-json] Assertion error on reexporting item from private module with 2 names"
[code]

[code]

It's unlear to me what the correct representation should be, as currently for items `pub use`d from a non `pub` `mod`, we add the item to the `mod` it's being imported to, with the name it's imported under.

FWIW, in HTML, 2 seperate pages are created, each with the same content.

Eg: https://docs.rs/ansi_term/0.12.1/ansi_term/enum.Color.html and https://docs.rs/ansi_term/0.12.1/an

[2021-03-31 20:23] Amanieu commented on #27778
This trait isn't used anywhere and doesn't seem to be needed any more now that we have const generics.

@rfcbot fcp close

[2021-03-31 20:27] jrmuizel commented on #45663
We have -Zmutable-noalias by default now so closing.

[2021-03-31 20:27] #45663 closed

[2021-03-31 20:27] m-ou-se commented on #83439
@Aaron1011 Oh, I'm not sure now. I'll check and post details if it happens again.

[2021-03-31 20:33] jrmuizel commented on #80921
Yep, this is fixed in Nightly

[2021-03-31 20:44] jrmuizel commented on #81163
@wesleywiser do you still plan on redoing #81344?

[2021-03-31 20:45] jyn514 commented on #83718
MCVE:

[code]
One has `output: None` while the other has `output: Some(Tuple([]))` - I bet one is going through HIR and the other is going through metadata, that could explain why the generic parameter matters.

[2021-03-31 21:43] Manishearth commented on #83564
cc @estebank feels like we should _at least_ show `std` first here?

[2021-03-31 21:48] tmiasko commented on #83309
@rustbot label +regression-from-stable-to-beta

[2021-03-31 22:22] leonardo-m commented on #83564
This is quite useful in situations like the rust playground because there sometimes there are many different sources for a function, and sometimes the std one (that's most times the one you really want) gets elided in the "others" sources.

[2021-03-31 22:26] skyline75489 commented on #83696
This seems a regression because 1.49 works fine. I’d like to draw people’s attention since this affects compiling a bunch of softwares, for example nushell.

[2021-03-31 23:51] ehuss opened #83730 "macos: unable to get debug information from dylib dependencies"
On macOS, the debug information for the dependencies of a dylib do not seem to be working with split-debuginfo=unpacked.

One way to demonstrate this is building rustc itself with debug enabled, and split-debuginfo as unpacked (the default). Backtraces are unable to find the source file information for anything past `rustc_query_system`.  lldb is also unable to find any debug information (it can't

[2021-04-01 00:17] teor2345 commented on #83291
Recent nightlies are also affected for me.

[2021-04-01 00:28] WilliamVenner commented on #39797
Hi, for anyone coming across this issue, `turbonone` might interest you:

https://github.com/WilliamVenner/turbonone

https://crates.io/crates/turbonone

Here's the solution to this issue, as an example:

[code]

[2021-04-01 01:41] vg249 opened #83733 "Cargo built app fails with "Killed: 9" error in Apple M1"
Followed rust-lang https://doc.rust-lang.org/book/ch01-03-hello-cargo.html example.
When tried to run compiled app in ./target/debug/hello_cargo, i get "Killed: 9" error.

OS Kernel:
Darwin Kernel Version 20.3.0

Arch: Apple M1 ARMv8.4-A

[2021-04-01 01:48] PatchMixolydic opened #83735 "Nightly 2021-03-24 claims that the feature `unsafe_block_in_unsafe_fn` was stabilized in 1.51, but stable 1.51 claims that the lint `unsafe_op_in_unsafe_fn` is still unstable"
I tried this code on nightly Rust:

[code]

This produced a warning claiming that `unsafe_block_in_unsafe_fn` was stabilized in 1.51:
[code]

I removed the feature gate and tried compiling the code on Rust 1.51.0:
[code]

However, this lead to an error claiming that `unsafe_op_in_unsafe_fn` is unstable:
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[c

[2021-04-01 01:52] #83733 closed

[2021-04-01 01:53] vg249 commented on #83733
Not related to rust-lang

[2021-04-01 01:53] PatchMixolydic commented on #83735
According to the milestone on the stabilization PR (#79208), this feature will be stabilized in 1.52, but the PR wasn't updated to account for this.

[2021-04-01 01:55] eddyb commented on #83611
Right, sorry for the ambiguity.

Sure, but how confident are you some kind of strange interaction can't create something that seems to be out of sync? Anyway, if we check instead of assuming it, it should be fine.

This doesn't work, it will keep `Projection`s outside the binder, and e.g. turn this:
`for<'a> fn(&'a dyn for<'b> FnOnce(&'b T) -> &'b U) -> &'a V`
into
`for<'a> fn(&'a dyn for<'b> FnOn

[2021-04-01 01:59] JohnTitor commented on #83735
Thanks for the report, yeah, the stabilized version should be wrong. Submitted #83736 as a fix.

[2021-04-01 02:41] richkadel opened #83737 "rustc panic after merge of PR #76814 (refactor Binder)"
It looks PR #76814 introduced a bug. Is it possible to revert this change until resolved?

cc: @jackh726 , @nikomatsakis

[code]

Note, line 154 starts a function declared within a proc macro:

[code]

cc: @tmandry

[2021-04-01 03:13] #79825 closed

[2021-04-01 03:13] #81555 closed

[2021-04-01 03:13] #68238 closed

[2021-04-01 03:23] jyn514 commented on #83737
Can you link to the code that causes this bug? It seems better to fix the bug rather than revert straight away, especially since https://github.com/rust-lang/rust/pull/76814 was a pretty big refactor.

[2021-04-01 03:29] Aaron1011 commented on #83538
I opened https://github.com/rust-lang/rust/pull/83719 to measure the performance impact of only ever returning `EvaluatedToOkModuloRegions` (and never using `EvaluatedToOk`). There were many large regressions, so I think we'll need to use a different option.

[2021-04-01 04:01] richkadel commented on #83737
The referenced line/function is here:
 https://cs.opensource.google/fuchsia/fuchsia/+/ac45cc43108978f7b313a2664d4e93f9b2fbb97e:src/ui/bin/brightness_manager/src/main.rs;l=154

The proc macro definition is here:

https://cs.opensource.google/fuchsia/fuchsia/+/e8ad635912500db1dee8f0fbc3c37598f56bdeb1:src/lib/fuchsia-async-macro/src/lib.rs;l=241

[2021-04-01 04:44] slightlyoutofphase commented on #83133
Sure, I'll take a look at it tomorrow.

[2021-04-01 04:58] jackh726 commented on #83737
Urgh. So, a MCVE would be super helpful here.

And this error is popping up in a bit of code I'm not at all familiar with. But just by guessing for the few minutes I've looked at this, we might need to erase late bound regions [here](https://github.com/rust-lang/rust/blob/4896450e7e0a522486b4d3a8d360ac4e1d2072a0/compiler/rustc_mir/src/transform/generator.rs#L746).

As to exactly what's happening,

[2021-04-01 05:07] zebozhuang opened #83741 "can not compile rocket example"
[dependencies]
rocket = "0.4.7"

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-01 05:13] sebschmi opened #83742 "ICE: get_adt_def called on a non-ADT, caused by build caching issues"
### Code

See https://github.com/algbio/practical-omnitigs. Branch `sebschmi/ICE` The Rust code is in the subfolder `implementation`.

Run `cargo test` to reproduce.

I am sorry, but I am not able to provide a minimal example at the moment.

### Meta

`rustc --version --verbose`:
[code]

### Full error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

##

[2021-04-01 07:31] Amanieu commented on #58533
A cursor API for `BTree` is a big item on my wishlist. I started working on one a while ago ([gist](https://gist.github.com/Amanieu/fd7b7b1e06019dadacd0a8937caf8f55)) but I never ended up completing it. If you are interested in implementing BTree cursors, feel free to use my draft code as a base.

[2021-04-01 07:55] #83735 closed

[2021-04-01 08:13] jhpratt commented on #46363
I'm running into this when playing around with stdlib. For a type that accepts either `i32` or any other integer type, inference fails because the compiler sees that `i32` is a valid option and automatically chooses that without actually trying to solve the inference.

[2021-04-01 08:24] Nemo157 commented on #83677
That seems incorrect based on my reading of the CommonMark Spec, (though, since it defines the parser largely through examples and doesn't have an example exactly like this, I can't be sure). The closest examples are [examples 565-567](https://spec.commonmark.org/0.29/#example-565). From these my expectations for how `[a][b](c)` is parsed is:

1. if `b` is a link reference: `full-reference-link("a

[2021-04-01 08:34] Nemo157 commented on #83677
[code]

[code]

Of these warnings I think the final one should not be emitted. The first line gets two warnings emitted because it attempts to first resolve the full-reference-link `[a][b]`, fails, and switches to instead resolving the inline-link `[b](c)`, and fails again. The third line gets 1 warning because it attempts to first resolve the full-reference-link `[f][g]`, fails, and switches to i

[2021-04-01 08:48] apiraino commented on #83621
Assigning priority as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2383621.20ICE.3A.20compiler.2Frustc_lint.2Fsrc.2Ftypes.2Ers.3A1132.3A32.3A.20unexp.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-04-01 08:57] oli-obk commented on #83249
Right. I don't know what the correct solution is. I just assumed that due the comment left here, that we should be preferring the `InferCtxt` over the `TyCtxt` version, but I don't actually know anything about the differences to make a decision here, and don't want to summon eddby. Maybe @skinny121 can shed some light?

[2021-04-01 09:12] DomWilliams0 opened #83743 "Can't use const generic inside a const expression"
I tried this code:

[code]

I expected to see this happen: `BAR` can be used in a const inside the function

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

Also occurs on nightly
[code]

[2021-04-01 12:00] jonas-schievink commented on #83743
This is working correctly. `const` items are standalone items that don't have access to type parameters of the containing item.

[2021-04-01 12:00] #83743 closed

[2021-04-01 12:05] apiraino commented on #83737
@rustbot label +T-compiler

[2021-04-01 12:07] Amanieu commented on #76738
Note that the LLVM patches needed to support Intel syntax for `asm!` were only merged in 10.0.1, not 10.0.0.

[2021-04-01 12:16] JohnTitor commented on #79949
Triage: This has been fixed on the latest nightly, I'm quite sure #76814 fixed it, marking as `E-needs-test`.

[2021-04-01 12:48] jackh726 commented on #83737
@richkadel if I were to get build artifacts with my potential fix from above, would you be able to check whether or not it works?

[2021-04-01 12:54] nikomatsakis commented on #83737
One thing that might be helpful is to run with `RUSTFLAGS=-Zverbose`

[2021-04-01 13:08] slerpyyy opened #83747 "Tracking Issue for Iterator::{dedup, dedup_by, dedup_by_key}"
Feature gate: `#![feature(iter_dedup)]`

This is a tracking issue for the functions `std::iter::Iterator::{dedup, dedup_by, dedup_by_key}` as well as the corresponding structs `std::iter::{Dedup, DedupBy, DedupByKey}`.

This feature provides similar functionality as the functions for slices and `Vec`s with the same name:

[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #

[2021-04-01 13:32] richkadel commented on #83737
I'm not building this locally. The error is from our CI system that dryruns rustc updates. So there's a bit of a setup, for me to build against a version of rust we haven't transitioned to. I will try to get it set up though. If you push a draft PR with your proposed patch, I can cherry-pick that on top of a pull with the breaking change and try to validate your fix.

Running with `-Zverbose` is g

[2021-04-01 13:49] Thoralf-M opened #83749 "Option::unwrap() on a None value' with wrong import path"
### Code

In Cargo.toml
`bee-crypto = { git = "https://github.com/iotaledger/bee.git", branch = "dev" }`

Then just add

[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-01 14:20] pnkfelix commented on #82758
Discussed in [weekly rustc triage meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/45595weekly2021040154818.html). We believe this was fixed by #82804. Closing as fixed.

[2021-04-01 14:20] #82758 closed

[2021-04-01 14:37] daira commented on #80684
We solved our problem for Zcash by just not building rust-docs (passing `--without=rust-docs` to `install.sh`). Obviously that doesn't solve the underlying issue.

[2021-04-01 14:38] nikomatsakis commented on #64796
I think the concern is valid, but I think we should then invest some energy in recruiting and mentoring someone to move cfg(accessible) along.

[2021-04-01 15:16] richkadel commented on #83737
I'm ready for your patch Jack so send it my way as soon as you can and I
will try it.

On Thu, Apr 1, 2021, 6:32 AM Rich Kadel ***@***.***> wrote:

[2021-04-01 15:18] nothingbutnetcode opened #83751 "Windows - std::fs bug - specific file name causes thread to hang or false positive on file open."
When trying to open a file (which in this case did not exist) that starts with con. - eg: con.txt, con.toml - fs::read_to_string will hang the thread.  File::open will incorrectly succeed, and subsequently panic when methods on the file handle are called.

I tried this code:

[code]

I expected to see this happen:  File not found error returned.

Instead, this happened: Thread hang or incorrect re

[2021-04-01 15:27] jonas-schievink commented on #83751
That's because any file named `con` (ignoring the extension) refers to the CONsole device: https://superuser.com/questions/86999/why-cant-i-name-a-folder-or-file-con-in-windows

Reading from it presumably will block until the console is closed, so the hang is expected.

[2021-04-01 15:27] GuillaumeGomez commented on #82986
The problem doesn't occur on the new tokio version so I think we can now close this.

[2021-04-01 15:27] #82986 closed

[2021-04-01 15:47] jackh726 commented on #83737
@richkadel here's a patch: https://github.com/jackh726/rust/commit/b0bd48c4499839584178e35e101bd7dc159ec7eb

[2021-04-01 16:02] the8472 commented on #83751
If you use a verbatim prefix (`\\?\`) then the resolution to legacy device names shouldn't happen. But then some programs then may have issues dealing with a directory containing `con.txt`.

[2021-04-01 16:45] ModProg commented on #36861
I am currently using `.parent()` to differentiate between a relative filename (`"./a" => Some(".")`) and a passed command (`"a" => Some("")`) probably returning `None` in the second case would make sense for `.dirname())` I think.

[2021-04-01 16:46] alexcrichton commented on #83730
Aha I see what's happening here. Instrumenting [this function](https://github.com/rust-lang/backtrace-rs/blob/c6e5bffdbe44cb9da250bda0a061ad5558673235/src/symbolize/gimli/macho.rs#L280) it looks like it's attemping to load a file named `/var/folders/b0/wd3mrtcj36l61jkqrzpdjds00000gn/T/rustc2vbk9u/libsomedep-3b1888eeb49387a1.rlib(somedep-3b1888eeb49387a1.4c36handi6gb1nd7.rcgu.o)`. That file was pre

[2021-04-01 16:48] extrawurst commented on #82933
I just ran into this after simply having a typo in an `#![allow(..)]`:
[code]

unfortunately the entire project is too large and closed-source to be a repro, but I was confused how a simple typo triggered this. I guess it was just bad luck :(

<details><summary>backtrace</summary>
<p>

[code]

</b>
</details>

[2021-04-01 16:59] richkadel commented on #83737
got it. I just tested locally with the latest rust without your patch and confirmed I can reproduce the error locally.

I'm rebuilding with your patch now.

Thanks!

[2021-04-01 17:16] leonardo-m commented on #83747
This is probably going to be rather useful.

[2021-04-01 17:18] klensy commented on #83708
There was similar issue #83344

[2021-04-01 17:29] devins2518 commented on #83708
Ok, thanks for checking that out!

[2021-04-01 17:29] #83708 closed

[2021-04-01 17:38] richkadel commented on #83737
Unfortunately that didn't work. But I can try adding `-Zverbose` now that I'm set up to build locally.

Here's what I'm getting as-is, with the patch:

[code]

[2021-04-01 17:45] richkadel commented on #83737
With `-Zverbose`, I'm not sure I see much more:

[code]

[2021-04-01 17:47] nothingbutnetcode commented on #83751
The main issue here is, in the case of read_to_string which hangs, you can check if it exists first with Path::new("con.txt").exists(), this gives the create answer of false, but according to the read_to_string API doc - "This function will return an error if path does not already exist."  So one would expect that error to return, rather than DOS your app.

[2021-04-01 17:48] richkadel commented on #83737
I need to try that again (the `-Zverbose`)

[2021-04-01 17:52] richkadel commented on #83737
OK, this has `-Zverbose`:

[code]

[2021-04-01 18:01] the8472 commented on #83751
The `exists()` result is not the canonical definition of what exists from the perspective of the filesystem. Rust just tries to probe existence in one particular way (fetching `metadata()`) without opening the file. Opening a path may give a different result.
Not sure about windows, but on linux there can be weird cases where a filesystem doesn't support metadata but does support opening paths, e.

[2021-04-01 18:13] jackh726 commented on #83737
Okay weird.
`decl_ty` is
[code]
which makes sense, because we erased all bound vars

But witness has
[code]
which looks the same except for the late bound regions, which I would have thought would have been replaced by `ReErased` in `erase_late_bound_regions`

[2021-04-01 18:14] nothingbutnetcode commented on #83751
The docs rather concretely state "Returns `true` if the path points at an existing entity."

[2021-04-01 18:17] nikomatsakis commented on #83737
@jackh726 `erase_late_bound_regions` only erases one level of binders, i think, could that be related?

[2021-04-01 18:17] fanninpm commented on #82933
@extrawurst Are you able to get a more recent version of nightly?

[2021-04-01 18:21] ChrisDenton commented on #83751
The docs are wrong, unfortunately. The function itself is in the process of being deprecated and replaced with `try_exists` that will hopefully be more clear on what's happening.

Just to be clear on what this problem is, the path in:

[code]

Will be rewritten by the OS as (roughly speaking):
[code]

This does actually exist. It's the `CON` device. Unfortunately the way Rust currently tests for e

[2021-04-01 18:22] the8472 commented on #83751
That statement cannot be seen as universally true because it is then qualified by

So file can exist without `exists()` returning true. But that caveat mentioned in the documentation is not the *only* edge-case that exists. Filesystems are complex. Even more so across platforms and when dealing with legacy features.

[2021-04-01 18:23] nikomatsakis commented on #43234
I think the main reason this issue is still open is that we haven't fully removed the lexical region checker.

[2021-04-01 18:23] jackh726 commented on #83737
I mean, the bound vars in the witness are definitely bound correctly:
`ReLateBound(DebruijnIndex(1), BoundRegion { var: 6, kind: BrNamed('t4) })` (bound by the `Binder` on `GeneratorWitness` types, not on the `fn` binders)
`erase_late_bound_regions` does descend through `fn`s, so it *should* be seeing that bound var.

So, really not sure. Maybe the `has_escaping_bound_vars` isn't returning true on

[2021-04-01 18:25] nothingbutnetcode commented on #83751
Sure, but accepting the caveat furthers the point, the restrictions on permissions return the safer option of false!

[2021-04-01 18:32] the8472 commented on #83751
I'm not sure what the point is. `read_to_string` will try to open something for reading and if that succeeds it will read it.

Which is a different operation then trying to check if something exists and thus may give different results.

This is a general principle with filesystems. If you want to do a check for something it's best to just perform the operation you want to check, rather than some p

[2021-04-01 18:34] nikomatsakis commented on #63768
Added to https://github.com/rust-lang/rust/issues/69663

[2021-04-01 18:44] nothingbutnetcode commented on #83751
I guess the point is there should be a safe API that guards against this, otherwise every single user API that accepts consumer provided file names to be attempted to be read need to manually guard against these filenames themselves (thus assuming all users know about these OS nuances - I did not before today), or face being DOS'd.

[2021-04-01 18:56] the8472 commented on #83751
If you're accepting untrusted paths over the network to write into the filesystem then you probably have bigger issues. E.g. they could contain absolute paths or `..` and lead to arbitrary access on the system.

If you're accepting arbitrary from a trusted user then the user can still shoot themselves in the foot. E.g. by attempting to read huge files that will cause the process to run out of memo

[2021-04-01 19:03] richkadel commented on #83737
@tmandry suggested sharing the output of `-Zunpretty=expanded`:

https://gist.github.com/6d27a91c1c8e402a181ddc3d47bca747

[2021-04-01 19:20] the8472 commented on #83751
Note that you would probably get the same effects on cmd via `type con.cxv`

[2021-04-01 19:23] nothingbutnetcode commented on #83751
If you have a file server that accepts a file name to be read, knowing that it can be guarded against that with the current implementation of Path.exists() for these, clearly exceptional, windows file names filenames, are you saying that it is acceptable for the read_to_string  method (the convenience method to read a file) to hang?  If that's the case, fine - then document it as such.

[2021-04-01 19:24] jackh726 commented on #83737
@richkadel can I get you to try another patch for me? https://github.com/jackh726/rust/commit/fb97c61cdbfab3e4bd1a2f4f4ce140476ba697e8

I'm not expecting this to change anything, but running with `-Zverbose` should help debug some more.

I appreciate it!

[2021-04-01 19:27] jackh726 commented on #83737
It's important to note: the output that we saw above with from the decl that was erased is actually coming directly from `Body` (`decl.ty` not `decl_ty`) i.e. regions were already erased (good) and makes sense why erasing regions again didn't change anything. But I'm wondering if that `normalize` bit is causing problems.

[2021-04-01 19:37] chengniansun opened #83753 "ICE: compiler/rustc_ty_utils/src/ty.rs:209:14: associated_item_def_ids: not impl or trait"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-01 19:47] the8472 commented on #83751
Neither `exists` nor `read_to_string` are appropriate to when implementing some network server. On efficiency and security grounds. A hang is the most benign kind of trouble you might be inviting there.

But the problem isn't specific to those two methods. Any naive approach to interacting with the filesystem will have pitfalls.
For your particular problem [fs::canonicalize](https://doc.rust-lang.

[2021-04-01 19:55] nothingbutnetcode commented on #83751
I fear you're in love with that hill you occupy.  How about a method that understands that Windows (bizarrely) will translate con.txt to  Path::new(r"\\.\CON") as per @ChrisDenton's observation, causing this issue, and guard against it?

[2021-04-01 20:08] ago-84 commented on #65025
good found!
01111001 01101111 01110101 01110010 00100000 01100001 01100111 01100101 00100000 01110100 01101111 00100000 01100010 01101001 01101110 01100001 01110010 01111001 00111111

[2021-04-01 20:15] richkadel commented on #83737
[code]

[2021-04-01 20:27] the8472 commented on #83751
I believe canonicalize already does that, which is why I suggested it. But i don't have a windows machine nearby to test on. Give it a try.

The issue is that `CON` is just one particular case of many possible sources of trouble. We'd need a way to say "this is not a normal file and probably won't behave like one". E.g. another case is that windows recently gained AF_UNIX socket support for WSL in

[2021-04-01 20:27] mbrubeck commented on #58419
[Related thread on the internals forum](https://internals.rust-lang.org/t/indexing-syntax-borrow-checking-should-work-as-with-functions/14391)

In that thread, SNCPlay42 notes that this already works on types that implement the `IndexMut` trait directly (like `[T]`), but not on types that `DerefMut` to an indexable type (like `Vec<T>`).  The same is true for method calls, which similarly don't wor

[2021-04-01 20:46] JohnTitor commented on #83753
Bisected: caused by #76814.

[2021-04-01 20:48] jackh726 commented on #83737
[code]
not found in
[code]
umm...hashing issue?

[2021-04-01 21:01] JohnTitor commented on #83753
Slightly simplified:
[code]

[2021-04-01 22:16] Fishrock123 commented on #83737
I believe I have also run into this issue compiling Tide as a dependency of tide-sqlx.
See this github run: https://github.com/eaze/tide-sqlx/runs/2249783716

<details>
<summary>log copied for posterity</summary>

[code]

</details>

Interestingly, I can't seem to reproduce this locally, even though I also run linux on my desktop:
[code]

I'm not quite sure if I can find that info out from the git

[2021-04-01 22:18] Fishrock123 commented on #83737
Some extra info - that was from running `cargo +nightly doc --no-deps --features=docs`, which we use to do `#![cfg_attr(feature = "docs", feature(doc_cfg))]`.

[2021-04-01 22:20] Aaron1011 opened #83760 "Misleading error message when variable is not re-initialized in loop"
The following code compiles:

[code]

If we don't ensure that `val` is re-initialized at the end of the loop:

[code]

we get the following error:

[code]

This error message seems to imply that the `while let pat = variable { ... }` pattern is invalid. However, the fact that `val` gets re-initialized in one branch of the loop means that the user likely intended to initialize it in *all* branches.

[2021-04-01 22:24] jyn514 opened #83761 "rustdoc: Stop cloning the resolver"
Rustdoc currently creates a copy of the resolver to use for intra-doc links: https://github.com/rust-lang/rust/blob/d474075a8f28ae9a410e95d849d009006db4b176/src/librustdoc/core.rs#L350-L354
This is a Terrible, Horrible, No Good, Very Bad Idea. In particular, it causes rustdoc's copy of the resolver and the TyCtxt to disagree about what crates exist:
- https://github.com/rust-lang/rust/issues/66159

[2021-04-01 23:13] jyn514 commented on #83677
Hmm, that makes me think meaning 2 should have precedence over meaning 1.

[2021-04-01 23:39] PatrickNorton opened #83764 "Stable ICE with fieldless enums and dyn traits"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-01 23:41] jyn514 commented on #83764
Possible duplicate of https://github.com/rust-lang/rust/issues/82954.

[2021-04-01 23:55] saolof opened #83765 "ICE: Trying to collect bound vars with a bound region:"
Got an ICE while trying to make a crate that implements Julia-like broadcast functionality. Not the most minimal example:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=64799ae35f987dc509e11973c1f20153

<details><summary>backtrace</summary>

[code]

</details>

Edit: fixed link.

[2021-04-01 23:59] jonas-schievink commented on #83765
Looks like you've posted the generic playground URL without your code. Can you click on "Share" and post the link displayed there instead?

[2021-04-02 00:03] jyn514 commented on #82172
I opened https://gcc.gnu.org/bugzilla/show_bug.cgi?id=99878.

[2021-04-02 00:03] #82172 closed

[2021-04-02 00:42] alice-i-cecile commented on #62529
Over at Bevy, we've managed to work around this ICE a few times using a secondary trait, as described [here](https://github.com/bevyengine/bevy/pull/1763#issuecomment-812065447).

[2021-04-02 01:11] saolof commented on #83765
Ah, sorry. Link is now fixed.

[2021-04-02 01:43] glaubitz commented on #73685
This has been implemented and Rust already produces working m68k code: https://twitter.com/rickytaylor26/status/1361305806164144128

Sources: https://github.com/glaubitz/rust/commits/m68k-linux

Therefore closing.

[2021-04-02 01:43] #73685 closed

[2021-04-02 01:53] danobi opened #83766 "Function is optimized to a ZST leading to invalid pointer from `Box::from_raw()`."
I tried this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8c5696502cedfae159ceeee9356b1749

I expected to see this happen: `p` to be a valid address (not `0x1`)

Instead, this happened: `p == 0x1`

### Meta
Just running this on the playground. Looks like it reproduces for nightly as well as stable.

I understand this may be the compiler optimizing `foo()` to be a Z

[2021-04-02 02:39] camelid commented on #83611
`in_binder` was inside the loop, around a `match`. I think I'll open a PR with jackh726's approach, and then we can talk about some concrete code.

[2021-04-02 02:48] Mark-Simulacrum commented on #83766
This is not an optimization; the Box is created with the ZST (unique) type of the function, rather than a function pointer. I'm not sure why you'd want to box a pointer, but regardless, if you want the 'real' pointer you can do `foo as fn()` (with the right signature).

[2021-04-02 02:48] #83766 closed

[2021-04-02 02:48] camelid commented on #80658
The note seems clearer now:

[code]

But it would be good to get confirmation that this is fixed before closing.

[2021-04-02 02:50] SNCPlay42 commented on #83766
Function item types are documented [here](https://doc.rust-lang.org/reference/types/function-item.html) for reference.

Also, `0x1` is in fact a [valid](https://doc.rust-lang.org/stable/std/ptr/index.html#safety) pointer to any ZST type (because "the memory range of the given size starting at the pointer" is empty; perhaps the docs should be more explicit about this?)

[2021-04-02 02:59] SNCPlay42 commented on #80658
"checked the `Output` of this `async fn`, found opaque type" still seems confusing to me; that makes it sound like the mismatch is in the `Output` of the `Future` returned by the function, which isn't the case. The mismatch is that it *is* a `Future<Output = T>`, regardless of what `T` is, instead of just a `u8`.

(Oops, did I confuse the issue by giving `foo` and `async_fn` different nominal retu

[2021-04-02 03:01] camelid opened #83768 "`unused_doc_comments` warning reported for each doc comment line on macro invocation, unlike on other expressions"
Other expressions work as expected: it reports just one error, for the whole sequence of doc comment lines.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c41b81351bf2c3092b1fe60635965068))

Errors:

[code]

[2021-04-02 03:15] xobs opened #83769 "1.51.0: 404 when running `python3 ./x.py build`"
When attempting to build 1.51.0, the build system gives me a 404 error:

[code]

It is trying to download https://ci-artifacts.rust-lang.org/rustc-builds/50b9553c1504b1af991b662f6cbd6a3a51b925d7/rust-dev-nightly-x86_64-unknown-linux-gnu.tar.xz which does not appear to be valid:

[code]

This is an unmodified checkout, and I am working from the `1.51.0` tag:

[code]

[code]

[code]

[code]

[2021-04-02 04:49] SNCPlay42 commented on #83737
Reduced from the `tide` regression:

[code]

[2021-04-02 05:06] the8472 commented on #82303
In the meantime I have introduced some additional specializations relying on `TrustedRandomAccess` and I just realized that they all suffer from similar problems when a zip exists somewhere earlier in the iterator pipeline. I think that is fixable for those cases, but...

Indeed, I would be in favor of getting rid of it and rewording the documentation instead.

[2021-04-02 05:44] jhpratt commented on #65516
I believe this should be tagged disposition-postpone, not disposition-close, as the comments above indicate that this is wanted, just not now.

[2021-04-02 06:00] petrochenkov commented on #83761
I'm not sure what do you mean by freezing the resolver outputs, but I meant the regular rustc's mode of operation
- resolver is unique and is not kept under `Rc`
- therefor `to_resolver_outputs` always results in calling `Resolver::into_outputs` rather than `Resolver::clone_outputs`
- `Resolver::into_outputs` consumes the resolver with `ResolverOutputs` being the only thing left from it, i.e. it's

[2021-04-02 06:23] the8472 commented on #82303
Original discussion about side-effects: https://github.com/rust-lang/rust/pull/33090#issuecomment-247682528
And the PR implementing it for the first time: https://github.com/rust-lang/rust/pull/37230

I don't find those to be particularly strong arguments, primarily concerns about consistency between default and specialized code.
As far as side-effects are concerned this consistency arguably does

[2021-04-02 06:29] jyn514 commented on #83761
Ok, I see, I updated the title.

I'm not quite sure I follow - is there a reason the tcx *has* to freeze the resolver into ResolverOutputs? Or could the tcx store the resolver itself? If it stored the resolver rustdoc could stop cloning it without major changes.

To be clear, I don't yet know how much work it would be for rustdoc to move all resolution before creating a TyCtxt, but the model where

[2021-04-02 06:47] jyn514 commented on #83737
You can remove the `Pin` by adding an Unpin bound: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2f48ba135b53a5d66c4deb20743f03b1
Strangely, changing `Box` to `&'static mut` makes the ICE go away: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bae808438ccd575492a60e194c51c2fe

[2021-04-02 06:58] jyn514 commented on #83769
You have `download-ci-llvm = "if-available"` set (through `profile = "library"`). That's not supported for anything other than nightly builds.

[2021-04-02 06:59] jyn514 commented on #83769
If you only want to build the standard library, you might consider using `-Z build-std`: https://doc.rust-lang.org/cargo/reference/unstable.html#build-std

[2021-04-02 07:01] jyn514 commented on #83768
(`unused_doc_comments` is a rustc lint.)

[2021-04-02 07:04] jyn514 opened #83773 "Some run-make-fulldeps don't fail if `-include` fails"
I tried this code:

	renamed:    run-make-fulldeps/exit-code/Makefile -> run-make/exit-code/Makefile
	renamed:    run-make-fulldeps/exit-code/compile-error.rs -> run-make/exit-code/compile-error.rs
	renamed:    run-make-fulldeps/exit-code/lint-failure.rs -> run-make/exit-code/lint-failure.rs
	renamed:    run-make-fulldeps/exit-code/success.rs -> run-make/exit-code/success.rs

I expected to see thi

[2021-04-02 07:04] #68561 closed

[2021-04-02 07:11] jyn514 commented on #83773
Ok it looks like make defaults to the environment variable if it's not set? So because x.py is setting RUSTC and RUSTDOC for the bootstrap shim, they get set to reasonable values:

[code]

Maybe this doesn't need changes? I'm not sure how important it is that RUSTC and RUSTDOC get set to their new values: https://github.com/rust-lang/rust/blob/4fa76a4a7742bb9c1febe33019f5a9e7e4839a65/src/test/run-

[2021-04-02 07:19] jyn514 commented on #83773
Looks like TMPDIR is also set: /home/joshua/rustc3/build/x86_64-unknown-linux-gnu/test/run-make/rustdoc-map-file/rustdoc-map-file

[2021-04-02 08:06] jyn514 commented on #81893
@TaKO8Ki hi, have you made any progress on this issue? No problem if not, but please comment `@rustbot release-assignment` if so, so other people can work on it.

[2021-04-02 08:11] TaKO8Ki commented on #81893
@jyao1
I'm sorry. I was busy a while ago, but I have some time on my hands these days, so can I work on this issue some more?

[2021-04-02 08:15] jyn514 commented on #81893
Sure thing. If it helps, I think this is the place to look: https://github.com/rust-lang/rust/blob/4fa76a4a7742bb9c1febe33019f5a9e7e4839a65/src/librustdoc/clean/inline.rs#L287

[2021-04-02 08:17] TaKO8Ki commented on #81893
@jyn514
Thank you! I'm going to take a look.

[2021-04-02 08:33] DomWilliams0 commented on #83743
TIL, makes sense. I suppose declaring the `const` in a function only restricts its scope, but it's still a global item.

[2021-04-02 09:15] WiSaGaN commented on #47219
Another related case is whether we should still output deprecated usage warnings for deprecated items inside an already deprecated item.

Say we have an deprecated item `Foo` in crate `foo`, and we have below code (in crate `foo` or in another crate `foo2`)
[code]
In this case the usage is already in a deprecated function, there is little upside to change the already deprecated code. We can howeve

[2021-04-02 09:25] jhpratt commented on #64796
Given the presence of crates like rustversion that make it trivial to gate functionality by a version, surely the ship has already sailed on containing that? Unless your thought is that including it in Rust proper will make it more widely used (which will likely be the case, admittedly).

[2021-04-02 09:26] #80936 closed

[2021-04-02 10:18] AngelicosPhosphoros commented on #83623
As PR merged, I think we can close this issue.
https://github.com/rust-lang/rust/pull/83663

[2021-04-02 11:29] martin2250 opened #83779 "leading_zeros() return value is still bounds checked"
`leading_zeros()` can return at most the number of bits of the underlying data type. The compiler does not seem to consider this during optimization.

### Code

[code]

Tested on `rustc 1.51.0 (2fd73fabe 2021-03-23)`, `nightly` in the Compiler Explorer with `-C opt-level=3`.

I expect the unsafe block to have no effect, since `u64::leading_zeros()` shouldn't return a number greater than 64. Instea

[2021-04-02 11:40] nikic commented on #83779
Godbolt: https://rust.godbolt.org/z/5GG6b4e8v

Problem seems to be that LVI doesn't use range metadata on intrinsic calls.

[2021-04-02 11:43] leonardo-m commented on #83779
There are many problems like this. That people keep patching in various ways (for the division and rem of NonZeroXX, for binary_search, etc). My opinion is that a system language as Rust needs a principled and user-level type system improvement that allows the compiler analyse, handle and use value ranges for optimization & correctness purposes, both for constant and dynamic ranges.

[2021-04-02 12:30] AngelicosPhosphoros commented on #73338
We could test it in next nightly.

[2021-04-02 13:06] giovanniberti opened #83782 "Too-wide spans for function arguments with unsatisfied trait bounds"
Currently rustc outputs very wide spans for missing trait impls in function signatures (the spans cover the whole function instead of the offending arguments only).

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=910ee19aff7219ada0a39c619137aafc

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

For example, com

[2021-04-02 13:14] jackh726 commented on #83737
So, uh, that's great. But I just popped it in a unit test and it didn't repro...but it clearly does on the playground...investigating

[2021-04-02 13:16] eggyal commented on #83737
I did the same and discovered it only repros when building not running... this unit test is failing:

[code]

Am also investigating... :-)

[2021-04-02 14:03] nikomatsakis commented on #65516
sure. adjusted.

[2021-04-02 14:15] aobatact commented on #43781
Can't we have something like a feature-selector, a ui for selecting which feature to show?

[2021-04-02 14:34] jyn514 commented on #83782
The error comes from here: https://github.com/rust-lang/rust/blob/0978a9eb99eca9f99889014b232f67ece898aadb/compiler/rustc_trait_selection/src/traits/error_reporting/mod.rs#L303-L309
But I'm not sure where the span comes from, it's passed in as an argument to `report_selection_error`. I think it comes from somewhere in `FnCtxt::select_all_obligations_or_error`?

[2021-04-02 14:34] EFanZh opened #83783 "Deref coercion does not work for `await` returned values"
I tried this code:

[code]

I expected to see this happen: The code compiles.

Instead, this happened: The code does not compile.

### Meta

`rustc --version --verbose`:
[code]

[2021-04-02 14:35] jyn514 commented on #83783
[code]
The error also happens on nightly.

[2021-04-02 14:46] jyn514 opened #83784 "rustdoc: follow-up work for `--emit=toolchain-shared-resources`"
This is a tracking issue the unstable feature `--emit=toolchain-shared-resources`, which requires `-Z unstable-options`. This feature is not meant to ever be stabilized; it's used by docs.rs to avoid copying the same files for each crate. Users other than docs.rs are not supported.

### Unresolved Questions

- `--print=unversioned-files` should be removed as soon as docs.rs stops using it.
- Can w

[2021-04-02 14:48] nikic commented on #83779
Upstream fix: https://github.com/llvm/llvm-project/commit/4a3e006830aaaf094f3a8ea0a3780a5e1b6f3ecc

[2021-04-02 15:05] nikic commented on #72211
The `#[inline(never)]` variant now optimizes by default (https://rust.godbolt.org/z/5f84aqG3j), otherwise the problem persists.

[2021-04-02 15:14] nikic commented on #65333
Fixed in nightly now that mutable-noalias is enabled again.

[2021-04-02 15:14] #65333 closed

[2021-04-02 15:14] #83499 closed

[2021-04-02 15:14] #50239 closed

[2021-04-02 15:34] wesleywiser commented on #83751
I would agree that this can be a surprising behavior of Windows but it is the way that platform is intended to operate. Windows is hardly exceptional in this manner though as your program will hang on both macOS and Linux if a user supplies `/dev/tty` as a path.

Perhaps the `std::fs` module docs can be updated to include a section explaining that the apis are thin wrappers over the platform speci

[2021-04-02 15:40] pnkfelix commented on #41193
I suspect some people may be ending up here due to the diagnostic: "error: need to add support for DW_TAG_base_type '()' encoded with DW_ATE = 0x7, bit_size = 0"

But I think this bug as written is not focused on that detail, but rather than the issue that `lldb` itself is crashing.

(I may file a separate issue about the `DW_TAG_base_type '()'` thing, if only to get a dedicated thread about its i

[2021-04-02 15:40] AaronKutch commented on #83594
FYI floats now have `to_bits` and `from_bits` methods you could replace the transmutes with

[2021-04-02 16:00] jameshilliard commented on #58394
Possible fix for this in [#9322](https://github.com/rust-lang/cargo/pull/9322).

[2021-04-02 16:30] slightlyoutofphase commented on #74674
This is 100% doable in current nightly rust, in a way that simply results in an immediate compile-time error if an invalid split index is provided, and is also completely `const`-compatible. [Here's a playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e2c2a98f95a02f118cb14d46af10094) that does it as a `const` impl of the following trait (which is just a stan

[2021-04-02 16:33] slightlyoutofphase commented on #74674
This is 100% doable in current nightly rust, in a way that simply results in an immediate compile-time error if an invalid split index is provided, and is also completely `const`-compatible. [Here's a playground link that does it](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e2c2a98f95a02f118cb14d46af10094) as a `const` impl of the following trait (which is just a stan

[2021-04-02 16:36] the8472 commented on #77404
Is that really the intended specification? Some adapters and sources could implement `advance_by` far more efficiently than by calling `next()`. E.g. `vec.iter().map().advance_by()` could just ignore what happens in map and advance the slice iterator directly.

Wouldn't it be better to explicitly allow implementations to skip side-effects?

[2021-04-02 16:41] alexcrichton opened #83788 "Tracking issue for the unstable "wasm" ABI"
This issue is intended to track the stabilization of the `"wasm"` ABI added in https://github.com/rust-lang/rust/pull/83763. This new ABI is notably different from the "C" ABI where the "C" ABI's purpose is to match whatever the C ABI for the platform is (in this case whatever clang does). The "wasm" ABI, however, is intended to match the WebAssembly specification and should be used for functions

[2021-04-02 17:16] tmandry commented on #83783
@rustbot label +E-medium

Not sure what exactly is going wrong here. Doing some code spelunking with `-Ztreat-err-as-bug` (and maybe some added debug logs) should make it possible to trace the issue.

[2021-04-02 17:38] #83318 closed

[2021-04-02 17:45] MartinKavik commented on #31343
@m-ou-se I see you've done some changes related to `set_print` / `set_output_capture` so I assume you have the best knowledge about them now.

Could you please write us about future plans with `println`-like functions and wasm? I often need to resolve "silently failing" `println` calls in web apps and it's confusing for beginners and even for me when I switch context between backend and frontend d

[2021-04-02 19:03] camelid commented on #83768
True, but I added `T-rustdoc` as well since it's a rustdoc-related lint.

[2021-04-02 19:33] richkadel commented on #83737
@jackh726 - How close are you to a fix?

I'm concerned that this is still blocking my project's ability to roll forward, so unless you have a plan to fix this very soon, I'd like to ask about reverting your change until there is a solution.

I'm still willing to help you verify the fix, but I thought I should ask since it's been a while since your last trial patch.

Thanks

[2021-04-02 19:48] jackh726 commented on #83737
Well, we have a [repro](https://github.com/rust-lang/rust/issues/83737#issuecomment-812524596), so shouldn't need you to test patches (but thank you, it did help me start looking). I'm at work today, so I won't have time until this evening to dig into this more.

@eggyal is also potentially looking into this a bit (I think?). Now that we have a minimal repro, narrowing down the problem should be f

[2021-04-02 19:50] richkadel commented on #83737
I agree. We can wait until early next week, and a fix is preferable to everyone I think. Thanks for the estimate.

[2021-04-02 19:52] epompeii opened #83792 "Internal compiler error while running llvm-tools-preview"
Hey All,
I was trying to follow the [instructions to run grcov](https://github.com/mozilla/grcov), and things bottomed out on me.
The compiler suggested I open this issue so here I am!

It may be worth mentioning that I am in a Cargo Workspace, and I'm not using a Cargo.lock file.
The compiler error appears to go away when I remove `cargo-edit` as a dev dependency. Without it though, things seem t

[2021-04-02 20:06] #53325 closed

[2021-04-02 20:12] m-ou-se commented on #31343
@MartinKavik There are no concrete plans here. The original feature (`set_print`) was only meant for tests, and was (ab)usable (behind a nightly feature gate) for a few other purposes as well. A mechanism for intercepting output from outside `std`/`test` would have to go through an RFC, but I'm not sure if that's the right solution here.

In general, the situation of wasm in the standard library i

[2021-04-02 20:36] jessa0 commented on #82631
Looks like this is intentional, but for reasons I couldn't find documented:

https://github.com/rust-lang/rust/blob/23fa5360502be2554382c9d860e6438d3b822858/compiler/rustc_typeck/src/check/fn_ctxt/checks.rs#L962-L967

I'm guessing this is because we have to choose exactly one span to point to for the error? It's unclear to me, when more than one parameter references the type variable, which one to

[2021-04-02 20:39] bluss commented on #59359
For BufWriter, it might not be clear to users that this method will write out the buffer. Even though that shouldn't be a big problem (and possible to deduct). Same with `stream_position`

[2021-04-02 20:41] jyn514 commented on #83737
@richkadel is there a reason you're using the very latest nightly for such a large project? Part of the point of nightly is to give us time to fix bugs before they hit stable.

[2021-04-02 21:12] dhardy commented on #83291
Worse yet I've found my builds not updating and `cargo test` running outdated code (using `1.52.0-beta.2`).

[2021-04-02 21:26] petrochenkov commented on #83761
It may be possible.
Resolver contains a lot of early compilation stuff like `NodeId`s  that is out of place in tcx though.
Also it may be preferable to finish all the resolution activities [as early as possible](https://internals.rust-lang.org/t/crate-dependency-discovery/11418) (at least those that may result in loading new crates).
I think we may end up with some scheme working similarly to this

[2021-04-02 21:28] programmerjake commented on #53605
I think it would be a good idea to split out into a separate feature that can be stabilized transmute of references to types that are `repr(transparent)` wrappers:
[code]

[2021-04-02 22:18] estebank commented on #83564
We already have a couple of hacks for these kind of suggestions, so I'd be fine with just modifying the code here to push any `use` suggestion that starts with `core::` to the end of the list, or at the very least, after `std::`.

https://github.com/rust-lang/rust/blob/ee0357af3b57379153e023bbc91975e26301e40c/compiler/rustc_resolve/src/diagnostics.rs#L1640

[2021-04-02 22:23] Aaron1011 opened #83794 "Less accurate span is used when projection occurs in associated type position"
The following code:

[code]

produces the following error:

[code]

Note that the span points directly at `<u8 as MyTrait>::Item`

However, if the same projection `<u8 as MyTrait>::Item` is used in associated type position:

[code]

produces this error:

[code]

Here, the span points to the entire associated type, instead of just the projection.
This can lead to unhelpful errors in macro-generated

[2021-04-02 22:24] Aaron1011 commented on #83383
I've opened https://github.com/rust-lang/rust/issues/83794 to track fixing the underlying cause of `bad_insertable.rs`.

[2021-04-02 22:45] tmandry commented on #83737
@jyn514 Fuchsia is not a tier 1 target, so we run our own CI and build Fuchsia against every bors merge. We don't use nightly, but instead try to update to the latest tip-of-tree once a week. We do the same for clang.

A project of this size can exercise a lot of edge cases in the compiler, and we regularly find bugs in rustc and LLVM. The cost of fixing bugs is usually much lower right after they

[2021-04-02 22:47] #83618 closed

[2021-04-02 22:47] #83513 closed

[2021-04-02 23:10] RalfJung commented on #53605
I think once we find some kind of consensus on https://github.com/rust-lang/rfcs/pull/3016 (which turned out to be much harder than I anticipated), there's not much blocking stabilization here.

[2021-04-02 23:53] tgnottingham commented on #82406
@rustbot release-assignment

Sorry, I haven't had time to work on this.

[2021-04-03 00:32] jackh726 commented on #83737
Update: problem identified, just have to figure out best fix

[2021-04-03 00:50] tgnottingham commented on #82685
Right now, we're using the number of MIR statements in the CGU as an initial codegen cost estimate (though IIRC, we may not be counting terminator statement of basic blocks, which isn't ideal).

After codegen to an LLVM module, we use the length of time that it took to codegen as the cost estimate for optimization. That may not be the best estimate, since the elapsed time is likely to be sensitive

[2021-04-03 00:59] tgnottingham commented on #79432
@michaelwoerister -- Well, the increase in node count before and after those query invocations was a clear indication that the dep graph was being modified while we were in the `with_ignore` closure. But I'm not totally certain what the ramifications are. I mentioned that the dep graph and result cache would have an inconsistency, but that was speculation based on my understanding, not something s

[2021-04-03 01:10] workingjubilee commented on #67264
Well... I have not just been dawdling. While exploring the interactions with other recently introduced experimental language syntax for the purpose of stabilizing the aforementioned subset of this feature, I produced the following amusing snippet which demonstrates various edge cases:

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=58777b3c715c85165ac4a70d93e

[2021-04-03 01:52] #81802 closed

[2021-04-03 02:00] DiamondLovesYou commented on #51575
In upstream Rust, not likely: I have absolutely no interest in upstreaming anything anymore. I'm (relatively) actively developing my Rust fork which supports AMDGPU however: https://github.com/geobacter-rs.

[2021-04-03 02:00] #51575 closed

[2021-04-03 02:18] Titaniumtown commented on #51575
Very interesting! I'm cloning and compiling that right now to check it out. Thanks for the info!

[2021-04-03 02:45] Aaron1011 commented on #83291
The underlying issue is tracked at https://github.com/rust-lang/rust/issues/83538

If you're running into this issue, you can use `cargo clean -p <your_package_name>` as a temporary workaround.

[2021-04-03 03:42] hi-rustin commented on #78482
I started to try it.

[2021-04-03 03:43] camelid commented on #83035
I'm working on this now, and I noticed that statics use only a `BodyId`. When they come from another crate, their value is set to `None`. Why are constants and statics treated differently here?

[2021-04-03 03:57] camelid commented on #83035
I think the code would be greatly simplified if we always evaluated constants. I.e., currently something like `const FOO: usize = 1 + 2;` will render as

[code]

I don't think showing the `1 + 2` is that valuable—unless there are cases where it's valuable? Instead, I suggest we just show

[code]

I think this is the difference between `ConstantKind::expr` and `ConstantKind::value`: `expr` shows th

[2021-04-03 04:02] camelid commented on #83035
One weird thing is that we print the values of some constants, but not others. E.g., we seem to print `&str` constants, but not custom struct constants.

[2021-04-03 04:11] #78184 closed

[2021-04-03 04:27] camelid commented on #83035
Wow, we literally store rendered constant initializers in crate metadata just for rustdoc. So, not showing the pretty-printed version, or only showing it for local items, would probably reduce crate metadata size somewhat significantly.

[2021-04-03 04:37] camelid commented on #83035
I think as a team we should have a discussion about if we want to change constant rendering. I think the current logic is confusing both to end users and to people who work on the code.

For example, the initializer of `const FOO: i32 = 42;` is rendered, but the initializer of `const FOO: &'static i32 = &42;` is **not** (no value is shown, just a semicolon). That behavior seems arbitrary and confu

[2021-04-03 06:38] Areredify commented on #78586
@TheWastl I can't work on this, but I was close to completing it if you want to pick it up. The issue was that I was traversing type contents incorrectly, iirc. It's at `transparent_nonexhaustive` branch.

[2021-04-03 06:46] nanoqsh opened #83801 "Stable ICE"
### Code

[code]

### Meta
Crashes on 1.51, beta and nightly

`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-04-03 07:24] dhardy opened #83802 ""Useless comparison" warnings should be squelchable in generic code"
See: https://github.com/kas-gui/easy-cast/pull/16

This macro is supposed to handle type conversions for any integer type and compile down to sensible code in each case; these comparisons should never be evaluated when useless (assuming appropriate optimisations).

[2021-04-03 07:34] AngelicosPhosphoros commented on #73338
Well, this issue doesn't fixed by it (which is expected because we changed MIR of && and ||, not match) so we need to make changes in LLVM or change our generated code.

[2021-04-03 07:40] AngelicosPhosphoros commented on #83585
I am quite surprised but fix of https://github.com/rust-lang/rust/issues/83623 doesn't fix this issue.

<details><summary> ASM </summary>
playground::foo1a: # @playground::foo1a
# %bb.0:
	cmpb	%sil, %dil
	jne	.LBB0_6
# %bb.1:
	movq	%rsi, %rcx
	shrq	$8, %rcx
	movq	%rdi, %rdx
	shrq	$8, %rdx
	xorl	%eax, %eax
	cmpb	%cl, %dl
	jne	.LBB0_7
# %bb.2:
	movq	%rsi, %rcx
	shrq	$16, %rcx
	movq	%rdi, %rdx
	shrq

[2021-04-03 07:53] JohnTitor commented on #83801
I think duplicate of #80291.

[2021-04-03 08:03] eggyal commented on #83802
This is the `unused_comparisons` lint.  You could just apply a `#[allow(unused_comparisons)]` attribute?

[2021-04-03 08:20] dhardy commented on #83802
... sure.

I was used to printing the lint name alongside warnings.

[2021-04-03 08:20] #83802 closed

[2021-04-03 08:37] eggyal commented on #83802
...and [it did](https://github.com/kas-gui/easy-cast/runs/2258749287#step:5:17), but only on the first such warning.

[2021-04-03 08:42] eggyal commented on #83802
Perhaps when a macro causes triggers a lint, it would be more helpful if the error/warning was (by default) shown only once but with a note along the lines of "repeated n times"?

[2021-04-03 08:48] Timmmm opened #83805 "build_std can't find crate for panic_abort"
I'm trying to build `std` for `wasm32-unknown-unknown`. I cloned [the wasm template](https://github.com/rustwasm/wasm-pack-template) but compiling it gives this:

[code]

I tried adding the `panic_abort` crate from crates.io but it gives some other errors and I'm pretty sure I shouldn't have to.

Compiling with `RUSTC_LOG=info` gives a bit more info:

[code]

As you can see it is looking for the w

[2021-04-03 09:26] JohnTitor commented on #49700
Triage: We're now on GHA and the config should be cleaned up, closing.

[2021-04-03 09:26] #49700 closed

[2021-04-03 09:33] crlf0710 commented on #58533
[I've got one for `Vec` too](https://github.com/crlf0710/vec-cursor/blob/master/src/lib.rs) :)
Not sure if it would be useful.

[2021-04-03 10:00] leonardo-m commented on #83585
With the last nightly I'm seeing a probable improvement in foo1b (the second):

[code]

[2021-04-03 10:43] Amanieu commented on #58533
I'd say that a `Vec` cursor is less useful since you can always implement it yourself with just a `usize`. `LinkedList` and `BTreeMap` cursors actually need unsafe access to the internals of the data structure to be efficiently implemented.

[2021-04-03 10:51] GuillaumeGomez commented on #83035
I agree, printing the value directly would be more interesting. If they want to see the original code, they can see the source.

Overall, there is a lot of cleanup to do apparently. I'm surprised we didn't detect all those weird behaviours before but I'm glad you did. So except for keeping the original value in the const and show the computed value as a code comment, I think you can just ahead for

[2021-04-03 11:06] AngelicosPhosphoros commented on #83585
It looks like that one of SROA passes transforms getting of tuple fields into nearly this:
[code]

[2021-04-03 11:28] dhardy commented on #83802
Yes, it would be very helpful to omit repeated warnings and errors if they are identical to previous ones (including same line number). It's quite easy with macros to get *many* pages of identical reports.

[2021-04-03 12:13] r00ster91 opened #83808 "No-op function call affects overflow error below"
I tried this code (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=202f73e993354404bc266b817d665469):

[code]
It results in:
[code]
This is what I expect to happen. But if I uncomment the line, i.e. run this:
[code]
Instead, this happens:
[code]
I don't know but this doesn't seem right. This empty function call without any meaning has an effect on whether I will get a compi

[2021-04-03 13:01] Bendrien commented on #62633
I hope it is fine that im writing here. I just stumbled over this api and was wondering about the `Debug` constrain. I want to use `expect_none` on a generic option but dont care about the value itself, I just want to give some context msg why a `None` is expected. Since this is still an unstable feature I thought it makes sense to share my opinion with you.

[2021-04-03 13:24] RalfJung commented on #62633
@Bendrien  `expect_none` was removed recently, see https://github.com/rust-lang/rust/pull/83349.

[2021-04-03 13:43] jonas-schievink commented on #83808
This is working as expected. The lint is best-effort and is driven by constant propagation, which does not currently propagate past function calls.

[2021-04-03 13:59] AngelicosPhosphoros commented on #83585
This leads to big overhead of tuples and structs (because tuples is structs).

Benchmark
[code]

Results:
[code]

So, PartialEq slower from 4 to 40 times.

[2021-04-03 14:17] eggyal commented on #83794
The [same happens](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e0a44bd2fe5b8040ea50a3cbf54ecb2b) with (unassociated) type aliases:

[code]

which produces:

[code]

[2021-04-03 14:22] chemsaf3 commented on #83635
@ehuss can you reopen please? i dont have rust-src installed and have this issue

[2021-04-03 14:24] chemsaf3 commented on #40552
@rust-lang/core & @rust-lang/compiler any chance of official comment on this? seems here and in reddit there is significant user interested in it being fixed. workarounds dont work, and using ci is not a solution as same issue is present there, even if different user name

@alercah also suggest rust team input on this which is absent. i dont think its reasonable to force community to fix this as m

[2021-04-03 14:26] sollyucko commented on #77404
If the function passed to `map` doesn't have any side effects, monomorphization + inlining + dead code elimination (DCE) should take care of it. If it does have side effects, it would be very confusing if specifically this method and nothing else were to skip the potentially-important side effect.

[2021-04-03 14:38] ehuss commented on #83805
This is a known issue (unfortunately), mainly tracked in https://github.com/rust-lang/wg-cargo-std-aware/issues/29.  The `build-std` feature doesn't know how to handle abort vs unwind targets, so it doesn't handle them automatically.  wasm doesn't support unwinding, so it needs to use abort.  You can force it by using `-Zbuild-std=std,panic_abort`.

[2021-04-03 14:47] ehuss commented on #83635
@chemsaf3 I recommend opening a new issue. Please try to include very exact steps on how to reproduce.

[2021-04-03 14:51] r00ster91 commented on #83808
I see. Does currently mean it might change in the future? Is there an issue tracking this? Otherwise maybe this one can be used to track it?

[2021-04-03 14:52] AngelicosPhosphoros commented on #83585
**Hack**

We could change std using this weird trick but possibly shouldn't.

<details><summary>Hacky code</summary>
[code]

</details>

The problem is that we still:
1. Don't fix situation for structs (actually, problem affects every struct which size less or equal to than 8 bytes)
2. Don't fix situation with tuples like `(u8, u8, u16)` or (newtype_over_u8, u8, ...)

@leonardo-m

Unfortunately, [

[2021-04-03 15:05] ldm0 commented on #83783
This issue has nothing to do with async or await, this is an old coercion issue: https://github.com/rust-lang/rust/issues/57749.

[2021-04-03 15:07] AngelicosPhosphoros commented on #83585
It looks like Clang incapable for making such optimizations as well.
[godbolt link](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAFlJvoCqAZ0wAFAB4gA5AAYppAFZdSrZrVDIApACYAQjt2kR7ZATx1KmWugDCqVgFcAtrRDbSV9ABk8tTADlnACNMYi4ATlIAB1QhQnNaO0cXN2jY%2BLofP0CnELDOSONMUwSGAmZiAiTnV3cikroyioIsgODQiKNyyuqUuu6W3zbcjoKASiNUB2JkDikdAGZfZEcsAGpNBZtkIQJ8ek3sTRkAQWOT3eIHUzW2PGBa