[2021-07-08 14:32] mbartlett21 commented on #86964
This is not an incorrect assumption, as octal numbers in the loose format are specified by the number having a leading zero.

This is an implementation detail in the way that it checks for leading zeroes: it checks if the number starts with a zero and rejects it *if* the resultant parsed number is not zero.

[2021-07-08 14:36] jyn514 opened #86976 "Detect git conflict markers and give a more helpful error"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7e5e8f5be813f62db32e0ca490fae525

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Clang does this quite nicely, it would be great to match it:

[code]

Meta: tested with 1.55.0-nightly (2021-07-07 d2b04f075c0ce010758c).

[2021-07-08 14:41] jonas-schievink commented on #86976
Duplicate of https://github.com/rust-lang/rust/issues/32059

[2021-07-08 14:41] #86976 closed

[2021-07-08 14:54] zacknewman commented on #86964
So we are re-defining how mathematics defines numeral systems? Saying that `089A` is in base-8 (i.e., octal) because of the leading `0` makes no sense since none of those symbols except `0` exist in that system. Rust certainly doesn't treat the variable `x` as 0100 in base-8 here : `let x = 0100;` because it doesn't assume that leading zeros means base-8.

[2021-07-08 14:58] AsafFisher commented on #60553
What about the following scenario?:
[code]

[2021-07-08 14:59] JamieCunliffe commented on #78226
It does look like it's to do with the linker. It looks like the profile data section isn't being included correctly in the binary, the counts and other sections appear to be correct though. The data section size on a working one is almost the same as the difference we are seeing on the CI.

When using gold as the linker for the test it passes but the default doesn't, which could explain why we are

[2021-07-08 15:02] Mark-Simulacrum commented on #78226
FWIW we try to use gold on the linker on non-x86 I *think* https://github.com/rust-lang/rust/blob/0cd0709f19d316c4796fa71c5f52c8612a5f3771/src/test/run-make-fulldeps/pgo-branch-weights/Makefile#L24-L28 -- maybe that's not working though.

I'm not sure if it's the right fix to always not gc-sections but I think it's likely a good idea for now -- seems pretty harmless, too; profile-generate isn't re

[2021-07-08 15:03] fmease commented on #86975
Note that you cannot import associated functions. So that suggestion shouldn't be there either.

[code]

[2021-07-08 15:05] Nokel81 commented on #86975
Ah fair, still think the original suggestion is a bug though.

[2021-07-08 15:06] #85219 closed

[2021-07-08 15:09] oli-obk commented on #80970
How does this interact with custom target json files? Something like https://github.com/embed-rs/stm32f7-discovery/blob/e4c00f8536d7c6b167c9cf5574d0fe8e1e0cfcff/stm32f7.json

[2021-07-08 15:12] jacobbramley commented on #78226
To be clear, hacking `rustc` to pass `--print-gc-sections` as well as just `--gc-sections`, it's clear that the default linker is deliberately stripping the `__llvm_prf_data` section. It's present in all the intermediate steps (even the `.o` files). It gets restored for the final binary (with dummy contents) by `compiler-rt/lib/profile/InstrProfilingPlatformLinux.c`, and that's why we see that sec

[2021-07-08 15:17] oli-obk commented on #59631
I just assumed that considering that

[code]

compiles, that the impl trait version should compile, too. But we can just make a decision and declare this kind of cyclic static to be irrelevant and thus we can just ignore it. It's in the defining use scope, so it gets revealed, which would cause an infinitely deep reference (`&&&&&&&&&&...`), so it's not really useful or even well defined.

[2021-07-08 15:18] #59631 closed

[2021-07-08 15:23] b-naber commented on #86934
This seems to not be a big, but an intentional error, see https://github.com/rust-lang/rust/issues/25041

[2021-07-08 15:24] b-naber commented on #86934
@rustbot release-assignment

[2021-07-08 15:28] fee1-dead commented on #60553
I don't think that code would work with this RFC, I think it is pretty clear that it just allows one to specify explicit discriminants of variants on arbitrary enums.

For your case I think you might just define a separate, c-like enum so the match would look better, or you can just hard code those numbers, or you can use a macro.

[2021-07-08 15:32] Progdrasil opened #86978 "Conversion between the same type with different const generic values"
I have a struct which uses const generics for defining some of its properties.
I'd like to use the standard `From` and `Into` traits for converting from one struct to another with different const values.
There exists a non-fallible equation for the conversion.
However the default `impl<T> From<T> for T` is clashing with my implementation.

I tried this code:

[code]

The compiler [outputs](https:/

[2021-07-08 15:35] 12101111 commented on #86712
I can reproduce this issue, the output will segfault when

1. use x86_64-unknown-linux-musl target
2. crt-static is enabled `-C target-feature=+crt-static` (It enabled by default on musl )
3. Use lld as linker ( Either use ld.lld directly `-Clink-self-contained=yes -Clinker=ld.lld` or use clang and linker args `-Clink-self-contained=no -Clinker=clang -Clink-arg=-fuse-ld=bfd`)
4. In debug mode ( no

[2021-07-08 16:03] b-naber commented on #86934
Maybe to summarize why this is an error. The rules for constrained parameters are in [this rfc](https://github.com/nikomatsakis/rfcs/blob/unused-impl-parameters/text/0000-no-unused-impl-parameters.md):

[code]

Since the lifetime parameter `'a` is unconstrained when we determine whether `G` is constrained the third rule does not apply.

[2021-07-08 16:07] adamgemmell commented on #85250
@rustbot claim

[2021-07-08 16:07] BoxyUwU commented on #86978
[code]
this code not compiling is expected. It does conflict with the impl for `From<T> for T` as this impl implies `From<Decimal<1>> for Decimal<1>`. `Decimal<1>` and `Decimal<1>` are the same type

[2021-07-08 16:10] Progdrasil commented on #86978
Yes however, even in nightly with the `NotEqual` implementation it still clashes even though it rules out the case where `X==Y`.

[2021-07-08 16:11] Smittyvb commented on #86964
Using leading zeros to designate octal literals is a fairly common convention. In other languages like JS and C, `010 == 8`. Rust doesn't have that as an octal prefix because it is confusing. When using leading zeros to indicate octal numbers, `089A` isn't a valid number at all (in the same way that `⼋ⓡ⮯` isn't a valid base-10 number).

[2021-07-08 16:12] voncloft opened #86980 "1.53 build fails"
I tried the instructions both on this README.md file on this repo and the instructions here: https://www.linuxfromscratch.org/blfs/view/svn/general/rust.html

substituting 1.52 with 1.53

[code]

I expected to see this happen: to compile

Instead, this happened: it failed

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-07-08 16:13] voncloft opened #86981 "Build 1.53 fails"
Tried to compile 1.53 using:

https://www.linuxfromscratch.org/blfs/view/svn/general/rust.html

and the README.md on this site

Got the following error:

`   Compiling cargo-miri v0.1.0 (/var/cache/scratchpkg/work/rust/src/rustc-1.53.0-src/src/tools/miri/cargo-miri)
error: failed to run custom build command for `cargo-miri v0.1.0 (/var/cache/scratchpkg/work/rust/src/rustc-1.53.0-src/src/tools/miri

[2021-07-08 16:19] jonas-schievink commented on #86981
duplicate of https://github.com/rust-lang/rust/issues/86436

[2021-07-08 16:19] #86981 closed

[2021-07-08 16:20] jonas-schievink commented on #86980
duplicate of https://github.com/rust-lang/rust/issues/86981

[2021-07-08 16:20] #86980 closed

[2021-07-08 16:33] nikomatsakis commented on #86743
No longer reproduces. I'm going to assume this was a duplicate. Closing as we already have the relevant tests.

[2021-07-08 16:33] #86743 closed

[2021-07-08 16:35] jonas-schievink commented on #86635
Looks like a duplicate / special case of https://github.com/rust-lang/rust/issues/20671

[2021-07-08 16:35] zacknewman commented on #86964
So it sounds like the documentation needs to be modified. It is confusing (because it is contradictory to reality) to say that each octet is in decimal notation when the actual implementation requires each octet to be either base-10 or base-8 where the latter is assumed when there are leading `0`s and the value is not 0—at which point any positive-integer amount of `0`s are allowed—and furthermore

[2021-07-08 18:53] jhpratt opened #86985 "Tracking Issue for deriving `Default` on enums"
This is a tracking issue for the [RFC 3107](https://github.com/rust-lang/rfcs/pull/3107).
The feature gate for the issue is `#![feature(derive_default_enum)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* me

[2021-07-08 18:53] jhpratt commented on #86985
Technically this isn't yet accepted, but barring something crazy FCP will complete tomorrow.

@rustbot label +A-derive +A-enum +T-libs-api

[2021-07-08 19:14] afranchuk commented on #86934
Okay, that's what I suspected. I guess I really want a more powerful `for<'a>` that can apply to the return type (which I've discussed before on Zulip). It'd be very helpful in the future if the error message indicated exactly what makes a particular type unconstrained.

[2021-07-08 19:19] alex commented on #86972
FYI: @richkadel

[2021-07-08 19:44] richkadel commented on #86972
`proc_macro` is a very reasonable guess. Producing accurate coverage for macros, in general, is very hard to get perfect since they can generate almost anything. If you're able to reduce this at some point in the future, I'll try to take a deeper look, but I can't promise a quick fix.

[2021-07-08 19:46] apiraino commented on #86959
I've tried bisecting this and it seems that the warning was introduced a long time ago, exactly on `nightly-2019-08-19` (before was a hard error). Probably goes back to https://github.com/rust-lang/rust/issues/54883

[code]

bisectecd with
[code]

and this helper script
[code]

[2021-07-08 20:10] alex commented on #86972
I tried minimizing with the following macro:

[code]
This produces the following extremely confusing coverage report, where it seems that not only does the function not get covered, but also the test function isn't covered at all!

![image](https://user-images.githubusercontent.com/772/124984216-f03eb880-e006-11eb-84b8-bf83f43062f8.png)

[2021-07-08 20:18] #84954 closed

[2021-07-08 20:18] #69630 closed

[2021-07-08 20:18] #86900 closed

[2021-07-08 20:37] ExpHP commented on #86959
Yes, I wouldn't expect bisecting to tell much in this instance because I wouldn't expect this to be a regression?  I could be wrong, but it seems pretty clear how this behavior arises as a logical consequence of other behaviors of the compiler, and normally "unused" warnings are just a basic fact of life when working with macros.

I created an issue for this warning because I feel that this one is

[2021-07-08 20:44] bstrie commented on #60705
By "not want it" I just mean that there might exist people who are using tools that only understand the legacy mangling. I see no reason why anyone would want the legacy mangling on principle, but perhaps there's something preventing them from upgrading to newer versions of their tools? The question is, what is the reasonable time to wait in order to accommodate such users and give them time to up

[2021-07-08 21:00] grantslatton commented on #69275
This appears to be fixed on stable now. Current output is:

[code]

Does this need a test before closing or can we just close it?

[2021-07-08 21:51] jyn514 commented on #67751
Oh sorry, I misread the original issue. Yes, the second one still fails on nightly.

[2021-07-08 22:31] tschuett commented on #86945
There is one binary lld and various symbolic links with different names. You have to pass `-flavor Darwin` for OSX and `-flavor gnu` for linux. You are probably passing the wrong flavour, i.e. gnu.

[2021-07-08 23:18] jeanlucthumm commented on #86102
I ran into a very problematic category `So` (Symbol Other). The Ferris the Rustacean emoji in the original post is part of `So`, as are most common emojis you'd try to use in an identifier. So I decided to include that category as identifier-like. But this leads to a contradiction in the code. Take this example:

[code]
The symbol `➖` ([char description](https://www.compart.com/en/unicode/U+2796))

[2021-07-08 23:33] klensy commented on #86102
@jeanlucthumm You should that to rust\src\tools\tidy\src\deps.rs PERMITTED_DEPENDENCIES

[2021-07-08 23:52] cuviper opened #86989 "Inconsistent lifetime rules with parameter patterns"
Here's an example derived from https://github.com/rayon-rs/rayon/issues/866:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6bdb2536f5a94b3c8afd89d75a597b7e)

[code]

The first two loops fail, because `x` has an "external" lifetime that `c` can't possibly satisfy. However, with the third pattern, `x` gets a local lifetime which _can_ be assigned from `c`. @nik

[2021-07-09 00:07] rossy62 commented on #62588
_"Producing dylib.dll.lib is intentional to not conflict with dylib.lib for static libraries."_

This makes sense in a linux output environment.  But windows generates dylib.lib and dylib.exp dylib.dll for a DLL.  If a windows users builds a DLL there cannot be a *.lib of the same name in that directory.  So the naming convention is not consistent with Windows IMHO.
When I implicitly link a DLL in

[2021-07-09 00:51] Manishearth commented on #86102
@jeanlucthumm Yeah so emoji are kinda scattered everywhere, it's hard to tell with the block/etc property. You're looking for `Emoji_Presentation`.

I think delaying the diagnostic would be very hard since this stuff has to be rejected at lex time.

I think it's totally fine to treat all `So` as diagnostic-worthy, the heavy dash is not a "clear punctuation character" to me since it's also an emoji

[2021-07-09 02:49] CDirkx opened #86991 "Tracking Issue for IP address prefixes"
This is the tracking issue for IP address prefixes such as `192.0.2.0/24`.
The feature gate for the issue is `#![feature(ip_prefix)]`.

### Overview

#### Ipv4AddrPrefix
[code]

#### Ipv6AddrPrefix
[code]

### Unresolved Questions

### Implementation history

- [ ] Implementation PR: #86992

[2021-07-09 04:08] jam1garner commented on #86940
My guess is this should be a simple fix, just copying the code the lint already uses for adding unspecified generics (`Foo<_, _>`). Will try implementing a fix soon.

[2021-07-09 05:01] 756445638 commented on #86547
fn foo(x: Option<i32>) -> Result<(), &'static str> {
    let _ = x.ok_or_else(|| Err(      &         "nope"))?;
    Ok(())
}

fn main() {
    println!("{:?}", foo(Some(1)));
}

is this better, I think this should works fine and compile ok.

[2021-07-09 06:50] RalfJung commented on #86964
"The actual implementation" is relevant only insofar as its behavior is externally observable. And -- correct me if I'm wrong -- in every case where the function succeeds, it (behaves as if it) interprets all digits in decimal, right? So I'd say it is correct to say that everything is "in decimal notation".

The only weird bit is that `0000` is accepted, but `0001` is not. This is strange, but not

[2021-07-09 07:00] 756445638 commented on #86547
the compiler is right!! <br>

try will desuger to this
[code]

[code]
will be

[code]

[2021-07-09 07:16] scottmcm commented on #86547
@756445638 Oops, I forgot to update that comment.  Fixed with PR #86994

[2021-07-09 07:23] tspiteri commented on #70887
#86930 (special case for integer log10) has been merged, which uses a different strategy from https://github.com/rust-lang/rust/pull/70835#issuecomment-609976593. I did a quick benchmark for `u32`, and while the strategy of the comment was indeed faster than the non-special-cased original, the actually committed PR was faster still:
[code]

This should complete the task about optimizing log10.

[2021-07-09 07:27] michaelwoerister commented on #86893
I'll take a look.

[2021-07-09 08:25] markbt commented on #83527
I'd be happy with any help if there's someone available.  I still plan to work on it, but personal stuff is getting in the way at the moment.  Sorry about that.

To recap: I have a working prototype on my branch at https://github.com/markbt/rust/tree/metavariable_expressions . The next steps are to rebase that onto the latest master, and then polish it up so that it's ready for inclusion.  Then th

[2021-07-09 09:16] #86902 closed

[2021-07-09 09:28] apiraino commented on #86959
@ExpHP yes, totally agree. I've tried a diagnose because I was confused about the "edition 2021" part of your report: also trying to make this code "2021-ready", the warning does not disappear without forcing it out by adding `#![allow(unused_parens)]` (which is a bit inconvenient).

Perhaps related to #80636 and (in cascade) to #78747

Assigning priority as discussed in the [Zulip thread](https:/

[2021-07-09 09:30] yume-chan commented on #86511
@pnkfelix Yes, I didn't bisect very nightly versions. My versions are taken from Compiler Explorer and Rust Playgournd.

Thanks for pointing to `cargo-bisect-rustc`, I used it and the first version with regression is nightly-2021-05-18

[2021-07-09 10:18] nikomatsakis commented on #86940
@rustbot assign @jam1garner

[2021-07-09 10:21] nikomatsakis commented on #82940
This seems to be largely done, and there are specific issues for each piece. Going to close.

[2021-07-09 10:21] #82940 closed

[2021-07-09 10:22] nikomatsakis opened #86996 "Link to edition guide from lints."
This was opened from the [Rust 2021 Project board](https://github.com/orgs/rust-lang/projects/7) from a note by @m-ou-se. I believe the intent is that every Rust 2021 Edition lint should link to the edition guide. I think what would be nice is if that was part of the link metadata.

[2021-07-09 11:09] matklad opened #86997 "rustc is unsure if lto is allowed for rlibs"
[code]

As you see, `rustc` agrees to compile rlib and cdylib with lto separately, but refuses when they are both specified.

[2021-07-09 11:31] cynecx commented on #86631
Well, the PR title/description says something different:

    Remove methods under Implementors on trait pages

It’s about removing the methods. Personally, that sounds fine. But why did the PR remove the whole section including associated types. To me that’s a really valuable insight/convenience.

[2021-07-09 12:46] boklm opened #86999 "thread 'main' panicked at 'missing rust-analyzer', src/bootstrap/install.rs:170:14"
I backported the two patches from https://github.com/rust-lang/rust/pull/86568 to 1.53.0 (trying to fix #86436), but now the build fails with:
[code]

According to @Mark-Simulacrum in https://github.com/rust-lang/rust/pull/86568#issuecomment-877141461:

[2021-07-09 12:49] gilescope commented on #81684
I love the idea of being able to plug in builtins (ignoring the oxymoron). Feels very rusty - prior art: we can plug in global allocators.

[2021-07-09 13:41] lcnr opened #87001 "don't eagerly emit errors when evaluating constants during selection"
[code]
currently errors with
[code]
while checking whether the two impls overlap during coherence. Failing to evaluate a generic constant in the where clauses should not eagerly cause an error if it happens during selection. See #81339 for how to fix this issue, I did not have the capacity to finish that PR.

[2021-07-09 13:56] ehuss commented on #86997
I think this is a duplicate of #51009.

[2021-07-09 14:04] lerouxrgd opened #87002 "Cannot compile, linking with `cc` failed: exit status: 1 (many undefined references) with 1.53.0"
**Problem**

After updating to `1.53.0` I cannot compile most of my Rust projects, due to the error mentioned in the title.

It looks like it doesn't happen on a different machine. So I tried to re-install latest rustup/cargo from scratch on my main machine but it still happens.

If I rollback to `rustup default 1.52.1` then it works fine.
In this case `cargo version` gives `cargo 1.52.0 (69767412

[2021-07-09 14:10] ehuss commented on #87002
Transferred to rust-lang/rust as this is unlikely to be a cargo error (though it is possible).

I am uncertain what could possibly cause that.  You may be able to get more help on one of the user forums (like https://users.rust-lang.org/).  Some information that would be helpful:

* The platform you are running on.
* Does this happen every time? Or just after subsequent builds?
* Do you have *any*

[2021-07-09 14:13] nikomatsakis commented on #85447
@pnkfelix and I dug into this. The problem is exactly this FIXME here:

https://github.com/rust-lang/rust/blob/ee86f96ba176f598d64dc9f3bb7e074d5b8b86b6/compiler/rustc_trait_selection/src/traits/project.rs#L1058

In particular, the `BindGroup` struct has a single field, and it is a (normalizable) projection:

[code]

The `Instance::resolve` code expect that, by the time we get to monomorphization,

[2021-07-09 14:29] ehuss commented on #86999
I think I see the issue, I'll investigate more.

[2021-07-09 14:50] zacknewman commented on #86964
When the documentation says the "four octets are in decimal notation", that is effectively a definition which in turn can be phrased as a logical biconditional. In this case, the logical biconditional I formed in my head was something like: "a `&str` will be parsed into an `std::net::Ipv4Addr` iff it is a sequence of exactly 4 base-10 numbers delimited by a `.`". Only one of those directions is tr

[2021-07-09 15:34] #86600 closed

[2021-07-09 15:36] lerouxrgd commented on #87002
OS: Manjaro 21.0.7 Ornara
Kernel: x86_64 Linux 5.10.42-1-MANJARO
CPU: Intel Core i5-8365U @ 8x 4.1GHz [61.0°C]
GPU: Mesa Intel(R) UHD Graphics 620 (WHL GT2)

This happens every time (on certain projects)

No, I double checked with `env | grep CARGO`

I don't have a `~/.cargo/config.toml` nor a `~/.cargo/config`.
I actually deleted `~/.cargo` when I made a clean re-install.

As for the nightly comm

[2021-07-09 15:58] RalfJung commented on #86964
That's true in C but not for this function. Any number that has leading 0s is *rejected* by this function.

No base-8 occurs anywhere in the behavior of this function. If you disagree, please show an input-output pair for this function which demonstrates that base 8 is used. (The code inside the function doesn't matter, of course. Only its observable behavior does.)

Even mathematically speaking,

[2021-07-09 16:00] klensy commented on #86106
This can be somewhat solved by using `RawVec::new()` directly, without `pub const NEW: Self = Self::new(); ` hack, i.e. for Vec:
[code]

instead of
[code]

but i been hit by
[code]

Tried solving this by placing `rustc_allow_const_fn_unstable` in some places, but no luck. Any suggestions?

[2021-07-09 16:09] nbdd0121 commented on #86106
Seems like you hit #75794.

[2021-07-09 16:21] zacknewman commented on #86964
Saying a definition matches _exactly_ with another definition before subsequently changing the definition by adding other restrictions does not make sense to me. Does the definition of an even integer "match exactly" with the definition of an integer? No. Adding or removing restrictions to a definition changes the definition. So the fact that leading `0`s is not allowed means we are not talking ab

[2021-07-09 16:25] RalfJung commented on #86964
Okay, I guess I should have said that it is strictly a restriction of the mathematical definition (a subset, if you take the graph view of a function). But it doesn't disagree on any inputs where it is defined. Your talking about base 8 makes it sound like something it is not matching the base 10 function, and it took a quite a lot of time to realize that is not what happens.

Moreover, the subset

[2021-07-09 16:35] lqd commented on #86106
`RawVec::new` is `pub`, so maybe not ?

It could be because these stability changes are seen by the bootstrap compiler and not your own version of `liballoc`.

There are a few examples of attributes needing to be `cfg_attr`ed out until a new version of the compiler with your changes is used for bootstrap (and then these attributes are removed when that happens.)

Depending on whether you need to t

[2021-07-09 16:52] zacknewman commented on #86964
Well, I think we are talking in circles at this point honestly, lol. While I would agree my example is a more extreme example of documentation failure since conflating the definition of "even integer" with "integer" is more absurd than conflating the definition of "base-10 in the shortest representation (with the exception of 0 which is allowed any non-zero integer amount of leading 0s)" with "bas

[2021-07-09 17:04] ehuss commented on #86999
Posted #86999 with a fix.

[2021-07-09 17:14] jyn514 opened #87008 "Rustdoc: size layout should show "uninhabited" for empty enums, not 0"
_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/86263#discussion_r666157631_

[2021-07-09 17:15] jyn514 commented on #87008
cc @camelid @pickfire

[2021-07-09 17:17] RalfJung commented on #86964
We already agree that the docs need to be improved. :)  The rest of this discussion is then mostly philosophical and not going to lead to a productive outcome, so maybe we better stop it. ;)

[2021-07-09 17:32] ptrojahn commented on #86146
@rustbot claim

[2021-07-09 17:43] #86964 closed

[2021-07-09 18:14] camelid commented on #87008
I'm ambivalent, I don't think showing zero is necessarily wrong, especially since that's what's reported by `layout_of`.

[2021-07-09 18:15] camelid commented on #4287
It might still be a good idea to add a `note:` that Rust doesn't support polymorphic recursion though.

[2021-07-09 18:21] camelid commented on #80218
I modeled it after `Read::read_to_string`, which takes an `&mut self`, but that has to use `&mut self` because it's defined as part of the trait. I don't know enough about the idiom for `std` here, so if that works it seems fine to me.

[2021-07-09 18:37] klensy commented on #86106
@lqd
Tried to change Vec to:
[code]
and RawVec to
[code]

with adding `#![feature(rawvec_const_new_fake_stable)]`

But this clearly wrong (tried few permutations of cfg's), as error the same.

[2021-07-09 18:57] asquared31415 commented on #87008
In my opinion, I think that while size 0 is not *wrong*, that showing that it's uninhabited is *more right*, or at least more clear and makes the distinction.

[2021-07-09 19:38] patrickfreed opened #87012 "Test suite compilation spends a large amount of time in `evaluate_obligation`"
I originally posted this on the [Rust forums](https://users.rust-lang.org/t/extremely-slow-compile-times-in-test-suite/61842) but was directed here since the cause could be related to a compiler bug.

I'm looking for some help debugging why the compile times in the [`mongodb`](https://github.com/mongodb/mongo-rust-driver) crate's test suite are much slower than the crate itself. For reference, a s

[2021-07-09 19:56] SimonSapin commented on #85447
When writing this comment as part of https://github.com/rust-lang/rust/pull/81172 I remember feeling very much feeling like the "no idea what I’m doing meme". I mostly imitated what the compiler already did for the `DiscriminantKind` trait, which is also automagically implemented for every type and also has an associated type.

Does `DiscriminantKind` not have a similar problem?

[2021-07-09 20:01] lqd commented on #86106
Asking about how to handle this on zulip, e.g. the [t-libs stream](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs) would probably be best then.

[2021-07-09 20:40] lf- opened #87014 "Undetailed diagnostics for object safety of supertraits defined in dependencies"
Currently, the diagnostics for object safety are not very good if the object safety issue is caused by a trait defined outside the current crate, as it just points that some supertrait is not object safe and doesn't explain why from there. It's possible to argue that the current way this works is correct and that exposing implementation details of your libraries is a bad idea, but it's not necessa

[2021-07-09 20:56] #29494 closed

[2021-07-09 21:10] danii commented on #60571
May I volunteer in fixing? And can anyone help in pointing to the main file where match MIR is generated?

[2021-07-09 21:58] klensy commented on #86106
Found workaround, but this bloats rcgu size a lot, sadly.

[2021-07-09 23:23] nirvdrum opened #87015 "Improve error messages for HashSet with non-Hash type"
I ran into a situation with confusing error messages constructing a `HashSet` with a type that doesn't inherit `Hash`.

I tried this code:

[code]

I expected to see this happen:

The values from `value.uses` to be inserted into the set `live_in`. Or, an error message letting me know what's wrong.

Instead, this happened:

I saw the following error:

[code]

This error message isn't terribly helpf

[2021-07-09 23:23] est31 commented on #87012
How many tests does the testsuite contain? Is it doctests? tests in the `tests/` directory? `#[test]` functions?

Can you isolate the behaviour to a lone test that if you remove it, the time spent in `evaluate_obligation` is more normal again? You could try commenting out tests one by one. Maybe it is the result of the combination of multiple tests?

[2021-07-09 23:46] RDambrosio016 opened #87016 "Rustdoc creates a cursed merged line at the end of the libc docs constants section"
This is a fun one, while browsing libc docs i found that for some reason, the final constants are merged together into a cursed line:

![what is this rustdoc?](https://imgur.com/3kTrhjW.png)

You can look at this yourself by just going to https://docs.rs/libc/0.2.98/libc/ and scrolling down to the end of `Constants`

[2021-07-09 23:48] RDambrosio016 commented on #87016
Turns out it looks fine on firefox, so this is probably some chrome-specific odd behavior

[2021-07-09 23:56] RDambrosio016 commented on #87016
@rustbot label: +T-rustdoc +A-rustdoc-ui

[2021-07-10 00:01] drewtato commented on #87016
It's exactly the 1000th grid row. I found this about it: https://stackoverflow.com/questions/47218341/css-grid-layout-in-chrome-seems-not-to-work-properly-with-more-than-1000-rows which links to this: https://github.com/w3c/csswg-drafts/issues/1009 and this: https://bugs.chromium.org/p/chromium/issues/detail?id=688640

[2021-07-10 00:02] RDambrosio016 commented on #87016
I see, in this case i'll close this issue since it's irrelevant to rust/rustdoc 👍

[2021-07-10 00:02] #87016 closed

[2021-07-10 02:04] estebank opened #87017 "When trying to destructure a `Vec` as a slice provide a suggestion"
We currently emit the following:

[code]

Ideally we should mention the appropriate solution, to use `&bounds[..]` instead.

[2021-07-10 03:52] tabokie commented on #86470
@the8472 We encountered the same issue in a production service ([TiKV](https://github.com/tikv/tikv)) deployed on AWS EC2.

System information as requested:
- OS and kernel version
[code]

- output for one core from /proc/cpuinfo

[code]

- hypervisor if the system is virtualized

[code]

- selected clock source (cat /sys/devices/system/clocksource/clocksource0/current_clocksource

[code]

[2021-07-10 05:18] pickfire commented on #87008
I don't understand uninhabited when I first see it. It is a hard word compared to 0. I think 0 is easier. What if we show `0 (uninhabited)`?

[2021-07-10 06:01] #57569 closed

[2021-07-10 09:22] leonardo-m commented on #87015
What's the reason?

[2021-07-10 09:55] kornelski commented on #29494
It's here!

https://doc.rust-lang.org/nightly/std/process/struct.Command.html#method.raw_arg

Now it's a good time to bikeshed the name. Is `raw_arg` acceptable? It kinda sounds like a raw pointer.

I've tried `unquoted_arg`, but that was ambiguous regarding escaping (e.g. `foo\ bar` is still unquoted).

Maybe literal? Hopefully won't be confused with string literals :/

[2021-07-10 10:02] the8472 commented on #86470
@tabokie thanks for the report.

Looks like that does contain [backported patches](https://github.com/amazonlinux/linux/blob/kernel-4.14.154-128.181.amzn2/arch/x86/xen/time.c#L504-L507) which query the hypervisor whether the pvclock is stable which then [disables the clock monotonization in the kernel](https://github.com/torvalds/linux/blob/8bb495e3f02401ee6f76d1b1d77f3ac9f079e376/arch/x86/kernel/

[2021-07-10 10:35] oxalica opened #87021 "Feature: Provide getters of data and vtable pointer for `RawWaker`?"
[Docs of `std::task::RawWaker`](https://doc.rust-lang.org/stable/std/task/struct.RawWaker.html):

We said it consists of two pointer, but doesn't enforce its layout by `repr`, nor provide methods to get data and vtable pointer from a constructed `RawWaker`. So it impossible to destruct a `RawWaker` even with `transmute`, since the layout is unknown, which makdes it difficult to pass `RawWaker` or

[2021-07-10 10:48] oli-obk commented on #60571
https://github.com/rust-lang/rust/blob/a84d1b21aea9863f0fc5f436b4982d145dade646/compiler/rustc_mir_build/src/thir/cx/expr.rs#L593-L601 is the entry point for if and match. we could check whether the discr is of bool type and whether both match arms are plain bool literals without a guard.

[2021-07-10 10:59] AlexApps99 commented on #53827
It is not fixed, I have been able to reproduce this on the current nightly version.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5a82a7ddce8ade5ad798bc08fce20cd3

[2021-07-10 11:06] gilescope opened #87022 "rustdoc should enable examples to be cargo checked"
The cargo issue here https://github.com/rust-lang/cargo/issues/6424 points out that we don't have a tracking issue on the librustdoc side for how we can make doc examples compile when we run `cargo check --all-targets` or `cargo build --all-targets`. By hook or by crook it would be great to remove this surprising edge case.

Also probably even more surprising `cargo test --no-run` also doesn't com

[2021-07-10 11:08] nagisa commented on #53827
The current correct way to reliably allocate an array is to use `Box::new_uninit`, `Box::new_zeroed`, `Box::try_new_uninit_in`, `Box::try_new_zeroed_in` and similar APIs and initialize the data within the allocated region as a separate step. These APIs are, however, currently unstable, but similar things can be achieved by using the allocation APIs directly. You can also consider one of the librar

[2021-07-10 11:21] GuillaumeGomez commented on #87008
I think displaying 0 is better as well, but we can do as @pickfire suggested and simply display both.

[2021-07-10 11:25] GuillaumeGomez commented on #86882
The focus on the search input was ruled out in https://github.com/rust-lang/rust/pull/77333 because it prevented to scroll the page with the spacebar. However, in what you suggested, it wouldn't prevent it. I think we should go for it.

What do you think @rust-lang/rustdoc ?

[2021-07-10 11:27] GuillaumeGomez commented on #86767
The more I think about it, the more I appreciate the fact that it's now close to the type and not on the item description anymore.

[2021-07-10 11:34] GuillaumeGomez commented on #86632
The ones who don't have the `[src]` link are generated by the JS because they come from external crates. Also, the display is broken haha.

[2021-07-10 12:03] Artoria2e5 commented on #29494
Hmm. That's one thing to split off from #82930.

[2021-07-10 12:06] tabokie commented on #86470
@the8472 Thanks for looking into our case, we have only experienced the panic once. Will share more information if there's progress in reproducing it.

Since it's hard for us to lock-in certain "safe" kernel/hardware to our software, or check the safety of arbitrary kernel/hardware, we are leaning towards replacing standard `Instant` to our own with a non-panic version of `elapsed`(`saturating_ela

[2021-07-10 12:28] the8472 commented on #86470
I'm primarily asking to figure out how to adjust std's built-in heuristics for the clock monotonization and where to report upstream bugs. Something is violating the posix [CLOCK_MONOTONIC](https://pubs.opengroup.org/onlinepubs/009695399/functions/clock_getres.html) contract and it's hard to pinpoint the cause because the issue only affects specific hardware/software constellations.

You can alrea

[2021-07-10 12:47] jyn514 commented on #87022
This is unrelated to rustdoc. Cargo can do this with `rustdoc --persist-doctests` - although I think that might still run the tests? Hmm, that's worth looking into.

[2021-07-10 12:56] jyn514 commented on #87008
0 is wrong. 0 means "this is a zero sized type", like `()` or `NoneError`; it can be created. Uninhabited types cannot be created, they are things like `!` and `enum Void {}`. IMO posting 0 there is actively misleading. See also https://internals.rust-lang.org/t/size-of-uninhabited-types/7651.

Ok, then we can link to some docs. I didn't see anything in the nomicon but I'm sure they'd take a PR ad

[2021-07-10 13:02] jyn514 commented on #87008
This is a bug imo, it allows transmuting from ZSTs to uninhabited types which is UB.

[2021-07-10 13:06] GuillaumeGomez commented on #87008
Even if they cannot be created, their size remain 0 as they don't "exist", however since they cannot be constructed, it makes sense to mention they're unhabited types. Well, I don't have a strong conviction on this in any case. I think we all agree for the mention of "unhabited" though.

[2021-07-10 15:15] Manishearth commented on #86882
Yeah if it's directly navigated to it makes sense

Though actually what I want is a query parameter that will also navigate directly to the first result on your behalf so that I can set up my custom searches to use it.

[2021-07-10 15:38] nirvdrum commented on #87015
I have no idea. My experience has been when an established code seems to have a problem with an obvious solution, there's usually a historical reason for it. Changing `struct HashSet<T, S = RandomState>` to `struct HashSet<T : Hash, S = RandomState>` would have led to the most helpful error message, but such a change is apt to break someone's code. `HashMap` has the same omission on its key type,

[2021-07-10 16:17] RalfJung commented on #86999
I think you meant https://github.com/rust-lang/rust/pull/87007.

[2021-07-10 16:41] rust-highfive opened #87030 "`miri` no longer builds after rust-lang/rust#81360"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81360, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Aaron1011, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-10 16:52] Aaron1011 commented on #87030
Opened https://github.com/rust-lang/miri/pull/1849

[2021-07-10 17:35] GuillaumeGomez commented on #86882
@Manishearth You mean like this: https://github.com/rust-lang/rust/pull/85876 ? ;)

[2021-07-10 19:01] #83921 closed

[2021-07-10 20:30] Aaron1011 opened #87038 "rustdoc: When rendering const values, show ADS in addition to primitives."
When rustdoc renders a `const` item, it will print the actual (evaluated) value for primitives. For example, https://doc.rust-lang.org/std/i32/constant.MAX.html:

![const_val](https://user-images.githubusercontent.com/1408859/125175711-c5d23400-e19b-11eb-9c9e-cdbd84bcbf6b.png)

It would be useful to do the same for ADT values (structs, enums, and unions). For example:

[code]

would print somethin

[2021-07-10 21:01] jyn514 commented on #87022
Oh look, this was already added but without a tracking issue :facepalm: I'm going to repurpose this as the tracking issue if you don't mind. https://github.com/rust-lang/rust/pull/83857/files

[2021-07-10 21:11] jyn514 commented on #86631
Ah, I see. Yes, I agree only the methods should have been removed.

[2021-07-10 21:43] jyn514 commented on #87012
Without looking into this for more than 30 seconds, I'd expect this to be the issue.

[2021-07-10 21:44] jyn514 commented on #87012
For context, `evaluate_obligation` is the part of the compiler that determines whether a `T: Trait` bound is fulfilled.

[2021-07-10 22:13] WaffleLapkin opened #87043 "Rustdoc: long lines are escaping text code blocks"
Repro:

[code]
Rustdoc output:
![image](https://user-images.githubusercontent.com/38225716/125177499-f5f1f500-e1e4-11eb-9a77-03ab867f8ee8.png)

It seems that only code block with `text` language are affected.

cc @GuillaumeGomez

### Meta

[code]

[2021-07-10 22:14] AlexApps99 commented on #53827
So this issue is won't fix?
Using unsafe fns, allocation, or Vec::into_boxed_slice feels more like a workaround than a solution to me, so what will the proper solution to this issue be, if any?

I would have thought it would be box_syntax, but the tracking issue doesn't seem to be going towards stabilization rather phasing it out

[2021-07-10 23:13] WaffleLapkin commented on #87043
A quick test showed that the bug was introduced in `nightly-2021-06-30` (i.e.: `nightly-2021-06-29` works fine)

[2021-07-10 23:18] 756445638 commented on #86547
scottmcm ok I just notice that!

[2021-07-10 23:18] neoeinstein opened #87046 "Strongly-typed str-wrapper const results in ICE in pattern match"
### Code

[code]

Changing `Username::is_root` and introducing `ROOT_USER_STR` compiles successfully:
[code]

### Meta

`rustc --version --verbose` (Was from the Rust Playground):
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-10 23:25] WaffleLapkin commented on #87043
@rustbot label +regression-from-stable-to-nightly

[2021-07-10 23:27] Lokathor commented on #53827
`Vec::into_boxed_slice` is free if your vec is exactly filled when you call it. It seems like the most reasonable thing to use if you *only* want to use the safe standard library.

[2021-07-10 23:47] upsuper commented on #53827
Box syntax will not fully solve the issue even if everything goes as expected. For example, if you do something like `box Wrapper([0; 4096])`, the array would semantically still be allocated on stack before being moved into the box.

[2021-07-11 01:07] jinpan commented on #78149
A hacky workaround for this is to wrap the return type inside a `Result`:
[code]
and the compiler will emit warnings for the unused result.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&code=async%20fn%20bar()%20-%3E%20Result%3C()%2C%20i32%3E%20%7B%0A%20%20%20%20std%3A%3Afuture%3A%3Apending().await%0A%7D%0A%0Apub%20async%20fn%20async_with_warnings()%20%7B%0

[2021-07-11 01:17] jyn514 opened #87048 "rustdoc: cache.access_levels is wrong"
I tried this code:

[code]

I expected to see this happen: All the rustdoc tests pass; this should be the same behavior as before.

Instead, this happened:
[code]

The code for this test is https://github.com/rust-lang/rust/blob/dfd7b8d03fb93d0e03147d28b3be6d93260fa94d/src/test/rustdoc/blanket-reexport-item.rs#L1-L8. `m::S` should be marked as public (since it's accessible through the glob re-expo

[2021-07-11 01:22] jyn514 commented on #87048
Probably https://github.com/rust-lang/rust/blob/dfd7b8d03fb93d0e03147d28b3be6d93260fa94d/src/librustdoc/visit_ast.rs#L275 needs to mark items as public if they're used through a glob.

[2021-07-11 02:00] Manishearth commented on #86882
Oh we landed that cool!

[2021-07-11 02:51] SimonSapin commented on #83430
The signature of the handler is checked here: https://github.com/rust-lang/rust/blob/53cb7b09b00cbea8754ffb78e7e3cb521cb8af4b/compiler/rustc_typeck/src/check/check.rs#L372-L411

We should either find a way to make that code check the effective signature after modifications such as by `#[track_caller]`, or make it check for signature-affecting attributes like `#[track_caller]`.

[2021-07-11 03:22] inquisitivecrystal commented on #87048
I'm currently taking a look to see if I'll be able to do this, though I think I probably will.

[2021-07-11 04:05] Cerberuser commented on #84218
Probably duplicate of #24066.

[2021-07-11 04:13] inquisitivecrystal commented on #87048
Alright, so...

It looks to me like I need to figure out how to get the DefId of the items behind the glob use, so I can add them to `self.cx.cache.access_levels.map`. Is that correct, and if so, how would I go about it?

[2021-07-11 04:19] jyn514 commented on #87048
Yes, that sounds right. You can get the DefId by calling `path.res.def._id().`

[2021-07-11 05:09] ben0x539 opened #87051 ""consider using a semicolon" where there already is one, after a `?`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=47f2843373fb4ad713fa520aa446ee5a

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(I guess, even tho in my un-reduced case I needed to make `a` take a closure returning a non-`()` thing)

Doesn't happen without the `?`.

[2021-07-11 05:49] kit-981 opened #87053 "Tracking Issue for Iterator::try_reduce (feature iterator_try_reduce)"
Feature gate: `#![feature(iterator_try_reduce)]`

This is a tracking issue for adding a `try_reduce` method to the `Iterator`trait. There is `fold`and `try_fold` but only `reduce`. It's possible for users to use `try_fold` directly but it's also possible to use `fold` directly instead of `reduce`. I reason that if `reduce` exists that a fallible `try_reduce` should also exist to encourage the safe

[2021-07-11 06:12] oxalica opened #87055 "Unable to optimize out branches in drop function in unwind landing pad"
In [this code](https://godbolt.org/z/4Wrsb4z5f):
[code]

Assembly:
[code]

`_var` is known to be `None` so the deallocation is optimized away in the normal flow. But in landing pad for unwinding, it still generates a branch to check if `_var` is null. But it's a local variable which is not able to be modified in anywhere else and should be known to be null.

I'm expecting the `drop` of `_var` shou

[2021-07-11 07:22] nikic commented on #87055
I'd say the main problem here is that drop_in_place isn't inlined. If it were, it would be optimized away.

[2021-07-11 07:40] gilescope commented on #87022
Please do :-)  - Great sluthing btw. Ok so for nightly the cargo issue is unblocked and we should be able to now try and do this.

[2021-07-11 07:51] tmiasko commented on #87055
#69715 tracks alternative MIR solution which is to track active enum variants during drop elaboration.

[2021-07-11 07:56] hmvp commented on #80312
For the next one finding this: See https://github.com/rust-lang/rust/issues/83330

You don't need PhantomData with const generics in this case

[2021-07-11 08:55] GuillaumeGomez commented on #87043
Thanks, I'll fix it in the next hours.

[2021-07-11 09:13] inquisitivecrystal commented on #87048
Okay,  I've done some work. That test case now passes even with your changes. Unfortunately, a lot of the other tests are still failing. Should I be working on those too?

@rustbot claim

[2021-07-11 11:09] piegamesde commented on #42253
Please reopen. I'd really like to have the option to store `fmt::Arguments` in a variable without running into these lifetimes issues.

A selection people who ran into this as well:

- https://docs.rs/fern/0.6.0/fern/struct.FormatCallback.html
- https://stackoverflow.com/questions/56304313/cannot-use-format-args-due-to-temporary-value-is-freed-at-the-end-of-this-state
- https://users.rust-lang.org

[2021-07-11 12:05] gilescope commented on #58278
I get that, but panic prints out to the screen in a no_std context so there's room for some quality of life special cases. If there's really no std out and I'm run inside a keyboard then I totally get that dbg!() can be a no-op (or could goto a hook that people provide like global alloc?), but if I'm running no_std tests for example it's kinda annoying that I have to import the log crate to print

[2021-07-11 12:33] SimonSapin commented on #58278
Does it really? To what screen?

Or do you mean compile-time panics in `const` contexts? (Since that’s what this issue is about.) Because for run-time panics, a `no_std` must define a [`#[panic_handler]` function](https://doc.rust-lang.org/nomicon/panic-handler.html). If there’s a screen that you want panic info printed to, this handler is where you write code to make it happen. There might or mig

[2021-07-11 12:51] gilescope commented on #58278
I guess rust’s test runner must add it’s own panic handler and that’s how
it writes to std out. If we had a dbg_handler fn then libtest could
implement that. But you’re right I can’t see that that would be relevant to
a const eval dbg().

On Sun, 11 Jul 2021 at 13:33, Simon Sapin ***@***.***> wrote:

[2021-07-11 13:07] JohnTitor commented on #85713
Triage: Fixed by #87013, it has a regression test for this case, closing.

[2021-07-11 13:09] jyn514 commented on #87048
@inquisitivecrystal I'm not sure - what are the other failures?

[2021-07-11 13:28] apiraino commented on #86631
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386631.20rustdoc.3A.20trait.20implementors.20don't.20have.20assoc.2E.20types.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-07-11 13:30] pickfire commented on #87008
Yeah, that solved the issue of 0 which is wrong. I do think it is better to link it to https://doc.rust-lang.org/stable/reference/glossary.html?highlight=uninhabited#uninhabited, but I think it's wrong to put that in "size" such that it should be in "type" instead, because it doesn't have a size to begin with.

Well, there are parts where rust sacrificed correctness for ease of understanding, one

[2021-07-11 13:32] Mark-Simulacrum commented on #85713
Reopening - that PR has not been backported to 1.54 (beta) yet.

[2021-07-11 13:37] abc-mikey commented on #63033
I just got bitten by this and I'm a beginner. @danielhenrymantilla 's workarround worked but a proper fix would be desirable.

[2021-07-11 13:44] JohnTitor commented on #85713
We should mark #87013 as `beta-nominated` then.

[2021-07-11 13:54] bunnie commented on #86693
Yep, looks like the issue is due to a mis-alignment of `$sp`. Even for 32 bit systems, the stack alignment must be 64 bits:

https://github.com/riscv/riscv-eabi-spec/blob/master/EABI.adoc#4-eabi-stack-alignment

Thanks for tracing this down @xobs! I'll close this for now, seems not to be an issue with Rust/llvm and actually an issue with our runtime.

[2021-07-11 13:54] #86693 closed

[2021-07-11 14:02] varkor commented on #85077
@JulianKnodt: that looks good, thanks!

[2021-07-11 14:04] varkor commented on #64586
I was planning to prototype changes to match ergonomics to address this issue, but I haven't found time to do so yet. I think that would be a good first step in determining the viability of the change.

[2021-07-11 14:20] apiraino commented on #86712
thanks @12101111 for the additional information. Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2386712.20Rust.20musl.20build.20segfaults.20on.20startup.20when.20linked.20wit.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high +T-compiler

[2021-07-11 14:47] poliorcetics commented on #85462
@rustbot claim

[2021-07-11 14:52] weihanglo commented on #85494
@rustbot claim

[2021-07-11 15:09] nikomatsakis commented on #63033
@danielhenrymantilla are you saying you want to change how `-> impl Trait` works for all cases? That would certainly be a breaking change, so I don't think we can do that. However, it would be good to talk about a better fix than the `Captures<'tcx>` hack. One thing we talked about in the very beginning was having a syntax like `impl<'a, T>` to be very explicit about what things are captured and w

[2021-07-11 15:19] ahicks92 opened #87059 "fix screen reader accessibility of rustdoc item documentation"
I opened this as one issue because the overarching problem is the problem, if you will.  if I should have made a bunch, let me know.

Looks like the following applies to beta.  Example page: https://doc.rust-lang.org/beta/std/collections/struct.BTreeMap.html

I'm a screen reader user (e.g. blind).  Specifically NVDA.  Whatever changes are coming down the pipeline with Rustdoc make the above-linked

[2021-07-11 15:30] lambinoo commented on #64762
@rustbot claim

[2021-07-11 15:33] NieDzejkob opened #87060 ""note: deref defined here", but it doesn't actually show anything"
Given the following code: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=42fbfa2bb5053ea312d329c7c2cbe55d))

[code]

The current output is:

[code]

It would seem as if something is supposed to come after "deref defined here".

[2021-07-11 16:07] purejgleason opened #87063 "Tracking Issue for ./x.py install error `invalid enum variant tag while decoding `PanicStrategy``"
Feature gate: `#![feature(...)]`

This is a tracking issue for ...

As a developer
I should be able to install rust using `./x.py install`

However, when I run the command I get...

[code]

### Unresolved Questions

Why is the install failing?

[2021-07-11 16:09] #87030 closed

[2021-07-11 16:40] SimonSapin commented on #58278
The `test` crate depends on `std`:

https://github.com/rust-lang/rust/blob/e9a387d6cf5961a7f2dcb671da3147bd413355c4/library/test/src/lib.rs#L63

So the test runner is not a `no_std` *application*, even if some of the *crates* involved (like the one being tested) are `no_std`. If `std` is anywhere in the dependency graph then [its `#[panic_handler]`](https://github.com/rust-lang/rust/blob/53cb7b09b

[2021-07-11 17:40] gilescope commented on #42190
I'd argue `std` feature should be autodefined if we're building against std (more positive than a `no_std` feature). But would love to see one of these (or both) defined so that we don't have to rely on conventions that people will almost all follow. I don't really see any downside to them being defined. I do see maintanence downside to them not being autodefined as every crate that targets no_std

[2021-07-11 17:43] gilescope commented on #58278
Firstly thank you for your patience!

I think what I should be arguing for (assuming this isn’t already the case)
is for there to be a #[cfgif not(feature=“no_std”)] in the definition of
dbg! so that they don’t do anything if compiled in a no_std context but if
the code is compiled in a std context then they do the standard print.

But this relies on there being a std or no_std feature defined whi

[2021-07-11 17:49] wozniak commented on #86470
For me, this error did not occur in a VM, it was on bare metal. Unfortunately said machine isn't working at the moment, but I do know the CPU was a Celeron n3060.

[2021-07-11 18:39] TopologicallySpeaking commented on #83288
Unfortunately, the code I provided a few months ago is not the same error. I know that because my code now compiles on nightly, but the code in the original issue does not.

[2021-07-11 18:44] steffahn opened #87067 "Std implementations of PartialOrd are violating the conditions regarding transitivity and symmetry. And the transitivity requirements are i̶m̶p̶o̶s̶s̶i̶b̶l̶e̶ hard to ensure in a multi-crate ecosystem anyways."
### Std implementations of PartialOrd are violating the conditions regarding transitivity and symmetry.

From the [standard library docs](https://doc.rust-lang.org/nightly/std/cmp/trait.PartialOrd.html):

_(emphasis mine)_

focus on the final paragraph in the quote above and look at the following example
[code]
([in the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018

[2021-07-11 19:33] nikic commented on #87055
After taking a closer look, the reason it doesn't get inlined is that we explicitly mark it as noinline here: https://github.com/rust-lang/rust/blob/432e145bd5a974c5b6f4dd9b352891bd7502b69d/compiler/rustc_codegen_ssa/src/mir/block.rs#L158 Generally sensible, but backfires here.

Though argument promotion doesn't happen either, not sure why that is.

[2021-07-11 19:35] oxalica commented on #87055
It's aiming at `enum` variant which doesn't need drop. I'm not sure if it can also eliminate conditional de-allocation inside drop like `drop(String::new())`.

[2021-07-11 19:49] Mark-Simulacrum commented on #85713
https://github.com/rust-lang/rust/pull/86413 already backported #81234 into 1.54 beta, so this is handled on 1.54 beta. Closing.

#87013 looks like a more invasive patch but seems good for 1.55.

[2021-07-11 19:49] #85713 closed

[2021-07-11 19:51] nikic commented on #87055
Apparently because a bitcast is sitting before the load.

[code]

[2021-07-11 20:05] tmiasko commented on #87055
The idea is to solve a data flow problem that answers which enum variants might reach a drop terminator. In the case here, we know that Option doesn't implement Drop, and that the only variant that might reach drop is None which doesn't contain anything that needs to be dropped either. Thus it would be valid to remove the drop terminator.

This is de-facto implemented as part of const validation w

[2021-07-11 20:07] sfackler commented on #87067
Those requirements are for values that are actually comparable.

[2021-07-11 20:13] steffahn commented on #87067
@sfackler
Let me repeat what I already stated:

and that final paragraph is

[2021-07-11 20:16] jyn514 commented on #87059
cc @jsha

[2021-07-11 20:18] jyn514 commented on #87059
@ahicks92 when you say "coming down the pipeline" you specifically mean that these are changes in beta, that haven't made it to stable, right?

[2021-07-11 20:21] sfackler commented on #87067
Ah right - we already changed that language for PartialEq: #81198. We should make the same change here IMO.

[2021-07-11 20:23] jyn514 commented on #87059
Also, a broader question: your suggested changes seem fine to me, and I will try to make sure one or more of them land before the beta release, but how can we avoid regressions like this in the future? Do you know some software that can "rate" how accessible a page is, something like Google PageSpeed insights but for HTML layouts? Or are you maybe willing to donate a bit of your time every six wee

[2021-07-11 20:33] jyn514 commented on #87059
Is there a way to tell screen readers not to read aloud certain buttons/divs? That seems like a better fix than just moving the buttons between the comment.

[2021-07-11 20:36] oxalica commented on #87055
Seems this issue has the same root cause as #46515.

And the LLVM issue of heavily inlining, mentioned in #41696, which let us mark drop in unwinding noinline, is still NOT fixed. https://bugs.llvm.org/show_bug.cgi?id=33072

My point is that the MIR approach cannot handle manual drop impl which conditional does nothing. This code cannot have `drop` eliminated without inlining.
[code]

[2021-07-11 20:43] steffahn commented on #87067
The solution that `PartialEq` takes isn’t perfect either. The following example is a bit artificial because I couldn’t find or come up with a real/realistic one (yet). According to those docs, if I have one crate `a` with
[code]
and a crate `b` depending on `a`
[code]
then – AFAICT – this kind of `PartialEq` implementation would be allowed
[code]

However, now the crate `a` could make a minor vers

[2021-07-11 20:45] jyn514 commented on #87063
@purejgleason this is probably https://github.com/rust-lang/rust/issues/76720 - if you run `rm -r build/x86_64-unknown-linux-gnu/stage1-rustc/x86_64-apple-darwin/release/incremental` does it fix the issue?

[2021-07-11 20:45] inquisitivecrystal commented on #87048
Here you go! I should mention that there's a bit of information from a `dbg!` statement in the full text version.
[code]

<details>

[code]
</details>

[2021-07-11 20:47] sfackler commented on #87067
In what context are those `PartialEq` implementations actually reasonable?

[2021-07-11 21:17] steffahn commented on #87067
This `PartialEq` documentation also doesn’t disallow something like
[code]
since it doesn’t disallow a situation where
[code]
[code]

<hr>

Similarly, this wouldn’t be disallowed either
[code]
where we’ll have
[code]
[code]

<hr>

These kinds of examples can also be used for new examples like in my previous comment demonstrating that semver makes it unclear which crate needs to ensure which kinds

[2021-07-11 21:45] nagisa commented on #87059
Looking at the accessiblity panel in the Firefox Developer tools it seems like at least as far as `[ - ]` is concerned, the problem is that the `[ - ]` has become the "summary" of some of the `<details>` elements. Since it is _not_ a summary, the default roles are struggling to make the content sensible. I believe finding an appropriate aria role here and applying it to all of the `<details>` elem

[2021-07-11 21:59] nagisa commented on #87059
I mention the Firefox's accessibility developer tools panel in the post above. It can be used to intuit what a screen reader would read without having to set up a full accessibility stack. It also has some lints in there, though they are pretty anemic still, as well as an ability to display tab order in a nice way.

[2021-07-11 22:14] #86954 closed

[2021-07-11 22:14] #87051 closed

[2021-07-12 00:19] camelid opened #87072 "rustdoc: Styling regressions from stable to beta"
### Regression 1

**Ayu-only.** The summary in the search results is now blue, when it used to be white.

#### [beta](https://doc.rust-lang.org/beta/std/?search=match) (incorrect)

![image](https://user-images.githubusercontent.com/37223377/125213243-7147bb00-e266-11eb-94f4-bf9c81e7b394.png)

#### [stable](https://doc.rust-lang.org/stable/std/?search=match) (correct)

![image](https://user-images.

[2021-07-12 00:24] jyn514 commented on #76252
I'm going to close this because I don't think it's actionable; setting `cfg(doc)` for dependencies seems like the only thing we could reasonably change and that's already tracked by https://github.com/rust-lang/cargo/issues/8811.

[2021-07-12 00:24] #76252 closed

[2021-07-12 00:50] sfackler commented on #87067
The documentation states useful properties that code working with partial equality can assume. I don't think it is necessary or even particularly useful to guard against every hypothetically possible malicious or bizarre combination of impls.

[2021-07-12 01:00] #86238 closed

[2021-07-12 01:57] lengyijun commented on #70797
`peek_mut` return a `PeekMut` struct.
`PeekMut` struct contains a mut ref of BinaryHeap.
The `drop` of `PeekMut` conflicts with `heap.push`

[2021-07-12 02:56] andersk commented on #70797
@lengyijun No, [`PeekMut::pop`](https://doc.rust-lang.org/std/collections/binary_heap/struct.PeekMut.html#method.pop) consumes the `PeekMut` by value before the `heap.push`.

[2021-07-12 03:08] joshtriplett opened #87074 "Tracking Issue for RFC 3128: I/O Safety"
Feature gate: `#![feature(io_safety)]`

This is a tracking issue for [RFC 3128: I/O Safety](https://github.com/rust-lang/rfcs/pull/3128).

Raw OS handles such as `RawFd` and `RawHandle` have hazards similar to raw pointers; they may be bogus or may dangle, leading to broken encapsulation boundaries and code whose behavior is impossible to bound in general.

Introduce a concept of *I/O safety*, and

[2021-07-12 03:21] Amanieu commented on #51540
The consensus was to not stabilize `#[alloc_error_handler]` for now and instead make it panic by default as proposed in #66741. However I don't believe there has been any progress towards implementing this so far.

[2021-07-12 03:41] #84210 closed

[2021-07-12 04:57] Buzzec opened #87076 "Regression ICE with const generics when updating from `7c3872e6b 2021-06-24` to `7a16cfcff 2021-07-11`"
Compiled fine on `7c3872e6b 2021-06-24`, updated to `7a16cfcff 2021-07-11` and got ICE.
Using const generic features.

### Code
[Github link](https://github.com/Buzzec/space_rpg/tree/4f0ca843c7c48baebeb8b275ae7926887709f61b)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-12 05:11] Buzzec commented on #87076
Does not occur on `7100b311d 2021-07-01`:
[code]
Does occur on `798baebde 2021-07-02`
[code]

[2021-07-12 05:32] Buzzec commented on #87076
I'm not the most familiar with the compiler but I think the issue lies here [commit](https://github.com/rust-lang/rust/commit/aac8a885520854e4b60ea5733b8b06f9e0cc1fcc).

[2021-07-12 05:47] Buzzec commented on #87076
Also similar to #86961

[2021-07-12 06:52] mlindner commented on #71668
Sorry if this is a bit of a necropost, but you should never be writing unsafe code that doesn't check all of its required invariants. If you rely on safe code to ensure certain invariants are held, then the unsafe code is incorrectly written.

[2021-07-12 07:39] lengyijun commented on #70797
@andersk
In BB12, `drop _7`

![b](https://user-images.githubusercontent.com/14830596/125248737-04e0c080-e327-11eb-8f36-06bb93199d1a.png)

[2021-07-12 07:40] lengyijun commented on #70797
A simpler demo to trigger this bug:

[code]

[2021-07-12 07:51] bjorn3 commented on #70797
The `drop(_10)` does nothing as `_10` is guaranteed to be uninitialized at that point due to `_12 = move _10`. Maybe that causes MIR borrowck to ignore the `drop` completely?

[2021-07-12 08:15] hellow554 commented on #87076
One thing to mention:

you are asked to provide your rust version and you provided the stable version, but in your command you are using `cargo +nightly`, therefore you should provide the nightly version you're using, e.g. `rustc +nightly --version --verbose`

[2021-07-12 08:40] insou22 commented on #86882
Thanks for linking the related issues / PRs @GuillaumeGomez !

I'm wondering if this solution breaks that premise also, as although you can still use the spacebar to scroll the page, up/down won't scroll anymore.

Is this a reasonable compromise for both sides of things, or still just the same issue?

[2021-07-12 08:43] hellow554 commented on #87076
MCVE:

`cargo build` (`test` is not sufficient)

[code]

[2021-07-12 08:45] GuillaumeGomez commented on #86882
Up/down would still work actually. We made a lot of changes recently on the search results, so now the event isn't only when you are focused on the search input but also when you are focused on a search result "row". So in this regard, it would be perfectly fine.

[2021-07-12 08:46] hellow554 commented on #87076
@rustbot modify labels: requires-nightly A-const-generic

[2021-07-12 08:48] insou22 commented on #86882
Ah okay, so please correct me if I'm wrong here but as I understand it, we would only be making <Return> navigate to the first result, and up/down will still simply scroll the page rather than navigating through the search results?

[2021-07-12 08:50] GuillaumeGomez commented on #86882
No, if a search result is focused, up/down would go through the search results, not scroll the page. However, the spacebar would scroll.

[2021-07-12 08:51] hellow554 commented on #87076
searched nightlies: from nightly-2021-06-26 to nightly-2021-07-11
regressed nightly: nightly-2021-07-03
searched commits: from https://github.com/rust-lang/rust/commit/7100b311df0367c4d9067687573d1396b22411df to https://github.com/rust-lang/rust/commit/798baebde1fe77e5a660490ec64e727a5d79970d
regressed commit: https://github.com/rust-lang/rust/commit/2545459bff0aae43288e2e17bff0d332c49a6353

<deta

[2021-07-12 08:55] fee1-dead commented on #85615
[code]

[2021-07-12 09:31] steffahn commented on #87067
In any case, I agree that the conditions as in `PartialEq` are *better* than before and better than the ones in `PartialOrd`.

[2021-07-12 10:12] fee1-dead commented on #85615
@rustbot claim

[2021-07-12 11:06] GuillaumeGomez commented on #86631
There is https://github.com/rust-lang/rust/pull/87035 open to fix implementors already. I can fix it once this https://github.com/rust-lang/rust/pull/87035 has been merged.

[2021-07-12 11:51] RalfJung commented on #71668
@mlindner I do not agree with your statement in the generality that you are making it.

It is perfectly fine for unsafe code to rely on *known safe code* for its invariants. For example, if I write an entirely safe `sort` function, it is okay for unsafe code to call that function and rely on it to indeed correctly perform a "sort". Saying that unsafe code must not rely on safe code for its correct

[2021-07-12 11:57] DevinR528 opened #87079 "Borrowed Fn closure gives "implementation of FnOnce is not general""
I tried this code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=99267c6aead07c71ea7208c90cafc598)

[code]

The current output is:

[code]

This seems similar to https://github.com/rust-lang/rust/issues/70263 but wasn't sure so I figured I'd error on the side of opening a new one.

[2021-07-12 11:59] kunzaatko opened #87080 "Footnote in rustdoc not rendering correctly"
## I tried this code:
[code]
Fully analogous to the [docs](https://doc.rust-lang.org/rustdoc/how-to-write-documentation.html#note)

Expected behaviour is as in the docs.

## True behaviour:
![rustdoc_issue_footnote](https://user-images.githubusercontent.com/56647779/125283999-3d799d80-e319-11eb-84f5-5a2c3060e907.png)

Using the newest components.

[2021-07-12 12:08] kunzaatko commented on #87080
Acctually it does work. I am sorry. You only need to activate `--all-features` flag. It should probably be more explicitly stated in the docs though...

[2021-07-12 12:08] #87080 closed

[2021-07-12 12:09] Stargateur commented on #81996
Note that C **doesn't** have any standard ABI, the only thing C require is field order. So, `repr(C)` from rust is a "best try" to match the "most common" layout from a platform, not a easy task. I say that cause I read thing like "the C ABI mandates on that particular target" C mandate nothing or any particular target about ABI.

[2021-07-12 12:33] RalfJung commented on #76001
FWIW, some (crude) approximation of this feature can be [implemented on stable with macros](https://crates.io/crates/inline-const). ;)

[2021-07-12 12:35] RalfJung commented on #78174
Many of the ICEs here seem to be caused by using `const {...}` in pattern position, so maybe we should separate that into its own feature or so?

But some examples don't involve any patterns. The backtrace for @Patryk27's example is
[code]
Sadly the borrowck code is way outside my expertise in rustc. @oli-obk any idea who'd be a good candidate for looking at these problems?

[2021-07-12 13:14] GuillaumeGomez commented on #87059
Maybe I'm missing something but it has always been on the left of the items.

[2021-07-12 13:19] nagisa commented on #87059
Previously at the DOM level they came after the `pub fn ...`, and were repositioned to appear on the “left” via CSS. From an excerpt I posted above (formatted further)

[code]

---

@ahicks92's complain complaint was specifically about the ToC only appearing when the browser window is maximized. Given that people using screenreaders don't usually need browsers rendering an entire screen worth of c

[2021-07-12 13:24] GuillaumeGomez commented on #87072
Regression 3 is fixed in https://github.com/rust-lang/rust/pull/87035.

[2021-07-12 13:25] Vurich commented on #64926
All the issues that were blocking this feature from being stablised appear to have been addressed, could this be stablised now? I _think_ any code that would want to use it could just use a non-const extern function which wraps a `const fn` Rust-ABI function but if there's no reason for it not to be stablised it then it might as well be.

[2021-07-12 13:34] GuillaumeGomez commented on #87043
In case you want to take a look to the fix, it's #87056.

[2021-07-12 13:37] GuillaumeGomez commented on #87059
Oh I see! I'm way to used at thinking about display and not about DOM... Thanks for the clarification!

Is there a way to check if the page is rendered on a screenreader? If so, we could simply ignore the width in such a case and put the sidebar anyway.

[2021-07-12 13:37] GuillaumeGomez commented on #87072
Send a fix for the three others.

[2021-07-12 13:52] michaelwoerister opened #87083 "Spurious assertion in rustc_codegen_ssa/src/back/write.rs"
There seems to be a race condition that sometimes triggers this assertion in CI builds:
https://github.com/rust-lang/rust/blob/e97c29bda238cf55ddd7eec772deb823364b1846/compiler/rustc_codegen_ssa/src/back/write.rs#L1464

See https://github.com/rust-lang/rust/pull/86965#issuecomment-877554723 for an example.

Let's start collecting instances of this issue here.

[2021-07-12 14:07] alex commented on #86972
@davidhewitt this happened when we upgraded to pyo3 0.14. I skimmed that diff and couldn't see what might have led to a change in a coverage. Do you have any ideas?

[2021-07-12 14:09] nikomatsakis commented on #86465
In progress PR: https://github.com/rust-lang/rust/pull/86410

[2021-07-12 14:10] alexcrichton commented on #83043
I just published 1.0.69 to make sure all recent changes are published as well.

[2021-07-12 14:11] alexcrichton commented on #56935
Sorry it's been so long I don't really remember most of this code here any more.

[2021-07-12 14:12] cdecompilador commented on #23818
This is my personal suggestion to the problem:
[code]
being `shouldflush` just an optional token, as far as I know this is possible.

[code]

Maybe other options might be passing a boolean, or `flush`,  or `shouldflush = true`

[2021-07-12 14:17] #86997 closed

[2021-07-12 14:17] matklad commented on #51009
Minimized example:

[code]

[2021-07-12 14:33] #86276 closed

[2021-07-12 14:37] richkadel commented on #86972
Upgraded from which earlier version?

[2021-07-12 14:45] fee1-dead opened #87084 "Unrelated changes make multiple-definitions test fail spuriously"
The test was originally added in #86419, see the comments under that for more discussion.

#86922 and #86857 fails with this diff:
[code]
#87075 was opened, removing the `^^^` and adding indentation (I did not see that it suggested removing `--> $DIR/...`). It fails with this diff:

[code]

I just want to say that I don't think there was some nondeterministic code causing the span to be different

[2021-07-12 14:49] GuillaumeGomez commented on #87072
Regression 1 is fixed in #87085.

[2021-07-12 15:02] michaelwoerister commented on #60705
@tmiasko has done a great job at summarizing the results of the crate run here: https://github.com/rust-lang/rust/pull/85530#issuecomment-857855379

It looks like const generics are the main blocker. @eddyb (or anyone else), do you have ideas about how to proceed there? Would it make sense to have generic support for unstable things in the mangling scheme that allows to opaquely encode things for

[2021-07-12 15:03] alex commented on #86972
0.13.1 -- https://github.com/pyca/cryptography/commit/120e804d8a36b4adfa71b2e5700a773ff9cfd19a is the commit that cause the loss of coverage

[2021-07-12 15:27] ahicks92 commented on #87059
Happy to see quick feedback.  To answer questions in no particular order and hopefully without missing anything:

It does seem to be  beta only.  I've got an ongoing project in 1.53 which renders the old way, for lack of better phrasing.

For some reason my browser starts not fully maximized.  When I maximize it I get the table of contents.

Screen readers like to read things in DOM order, so "end

[2021-07-12 15:31] joshtriplett commented on #87084
At this point I think we may want to revert the addition of the test until this issue can be debugged, to avoid spuriously breaking other PRs.

[2021-07-12 15:33] eddyb commented on #60705
We could introduce something like `p` but which instead of being `_` takes a hash, so we can opaquely encode types/constants/etc. that we don't currently support mangling, as their "stable hash".

Other than that, we need to actually design a structural mangling scheme for constants, and if we have that we can "just" make it official, I think.

[2021-07-12 15:41] oconnor663 opened #87086 "a missing path separator (: instead of ::) in enum match leads to confusing error"
[code]

[On the playground (rustc 1.53)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b4a8fd6f21b4de08cc7bafd4ca0dd7b9), here's what I see:

[code]

It would be nice if rustc could say "hey it looks like you forgot a colon" here, similar to [this case](https://twitter.com/ekuber/status/1414333635092574212).

[2021-07-12 15:58] eddyb commented on #60705
@bstrie keep in mind that changing the mangling scheme is as easy as using `-Z build-std` - in fact, I've recommended using `env RUSTFLAGS=-Zsymbol-mangling-version=v0 cargo build -Z build-std` in the past, in order to get a fully-`v0` build. The toggle likely won't be on stable, though, unless there's at least active demand for it (but that is, of course, no guarantee by itself).

[2021-07-12 16:00] ahicks92 commented on #87059
Going to also drop this here: https://docs.rs/prost/0.8.0/prost/trait.Message.html

Which has "left bracket minus right bracket go to source code" before everything.  Looking at rust beta stdlib, that's not there for at least `PartialOrd`, so maybe it's a docs.rs theming issue, or docs.rs is on a newer nightly than beta.

[2021-07-12 16:20] fee1-dead commented on #87084
They are removed in #87087.

@rustbot label F-raw_dylib

[2021-07-12 16:32] oli-obk commented on #78174
I don't know anyone with free capacities to look at this.

From a cursory glance I would say it is promotion related. If someone wants to dig into this, dumping the MIR before mir borrowck and checking the exact lifetimes that show up is probably the right way. Maybe it is incorrect for us to use `re_erased` in `promote_consts.rs`. It is ok to use in general, but in promotion we also use it for th

[2021-07-12 17:52] the8472 commented on #77404
I'm currently working on implementing `advance_by` on more iterators and making `advance_by(0)` do meaningful work such as bringing a `Take`, `Zip` or `Flatten` into a state where `next()`/`next_back()` don't have to unspool the inner iterator anymore to perform their first step. That in turn could lead to `advance_by(0)` possibly returning `Err(0)` instead of the currently guaranteed `Ok()`. That

[2021-07-12 17:56] rylev commented on #86691
Closing this now as we've done the run and found some issues. I think we're unlikely to find more issues in this controlled path, and we should focus on the full crater run and public testing.

[2021-07-12 17:56] #86691 closed

[2021-07-12 18:05] pawkw commented on #23818
I am new to Rust and ended up here with this problem. I note that print commands in all languages default to displaying on the screen rather than actually printing anything on the printer. If I were to name an autoflushing macro, I would call it display!

[2021-07-12 18:10] richkadel commented on #86972
Obviously I don't know how you invoked this, but based on the output you're showing here, it looks like you didn't invoke the test, when running the binary that produced those coverage results; in which case, the results are correct. The compiler compiled the test and the proc_macro, and shows the correct coverage spans, and if they were not executed, then `0` is correct.

I know that some proc_ma

[2021-07-12 18:16] alex commented on #86972
Is there a good way for us to debug the spans generated by a macro? I'm
more than happy to dive into that and attempt to just improve things on the
pyo3 side.

On Mon, Jul 12, 2021 at 2:10 PM Rich Kadel ***@***.***> wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2021-07-12 18:22] richkadel commented on #86972
I'm not sure if there's a "good" way, but I believe there is a compiler `--unpretty` option to expand proc_macros. Other than that, I'm not sure what to suggest.

[2021-07-12 18:39] ricobbe commented on #87084
In the interest of time feel free to assign this issue to me, in case anyone sees it before I can find the appropriate rustbot command.

[2021-07-12 18:40] ricobbe commented on #87084
@rustbot claim

[2021-07-12 19:57] Yasgur99 commented on #85133
I see this issue marked as open. Is it being worked on or available for me to pickup?

[2021-07-12 19:58] Yasgur99 commented on #81605
Is this issue something I could pick up and work on?

[2021-07-12 20:16] TheMatten commented on #62729
Same problem seems to appear on `x86_64-unknown-uefi`.

[2021-07-12 21:00] blaahaj opened #87093 "Functions/closures do not coerce to trait objects and give confusing diagnostics"
Bad case:

[code]

[code]

Worse case:

[code]

[code]

In all cases, the workaround is to cast to the function type, for example `&(||{} as fn())`. But this is not obvious, not hinted by the diagnostic, and it is surprising that it is required. Moreover, it can in one case produce an even worse diagnostic:

[code]

It would be most convenient if no casting would be needed. If casting is unavoidab

[2021-07-12 21:30] adrian17 opened #87094 "iter::Flatten, FlatMap should return more precise size_hint and be TrustedLen when item type is an array"
If I understand correctly, presence of `TrustedLen` trait allows `.collect::<Vec<_>>()` to avoid reallocations, right?

In that case, given the following:
[code]
Since the type I map to has known const size (`[u8; 4]`), size_hint should be able to precisely return `(40, Some(40))`, and the iterator specialization should implement TrustedLen.
Currently, it returns `(0, None)`. This means that to im

[2021-07-12 22:09] the8472 commented on #87094
It does a bit better than that. Collecting into a `Vec` first takes an element and only then queries the `size_hint`, which allows `Flatten` to give a better result than you get from its initial state.

https://github.com/rust-lang/rust/blob/b5a2ccee81406303324016d03399fac68ceb6718/library/alloc/src/vec/mod.rs#L2550-L2562

But yes, we should be able to do better for array::IntoIter.

[2021-07-12 22:17] adrian17 commented on #87094
Only a bit better:

[code]
results in `(3, None)`. It knows that the first flattened array has 4 elements, but not about further ones.

[2021-07-12 23:29] alex commented on #86972
Ok, I've put a full reproducer in: https://github.com/alex/temp-rust-coverage

With teh current contents of the repo `sh get-coverage.sh` shows the all lines uncovered issue. If you comment out https://github.com/alex/temp-rust-coverage/blob/main/src/lib.rs#L1 then you get full coverage (as expected).

So somehow the no-op proc-macro is causing a loss of coverage, even in spans it doesn't touch. I

[2021-07-13 01:15] tlyu opened #87096 "Tracking Issue for `Stdin::lines` forwarder method"
Feature gate: `#![feature(stdin_forwarders)]`

This is a tracking issue for adding new methods `Stdin::lines` ~~and `Stdin::split`~~ that will forward to the corresponding methods on the `BufRead` implementation of `StdinLock`. This proposal is related to #86845, and further reduces the obstacles for beginners to write simple interactive terminal programs.

Especially for beginners, reading a sequ

[2021-07-13 04:38] #86999 closed

[2021-07-13 04:38] #87046 closed

[2021-07-13 04:38] #85615 closed

[2021-07-13 05:31] AuroraLantean commented on #25289
if you have "note: /usr/bin/ld: cannot find -lsqlite3"
then install libsqlite3-dev: $ sudo apt install libsqlite3-dev
This works on Rust 1.53.0, Linux Mint 20.2(based on Ubuntu 20.04 LTS)

[2021-07-13 06:14] DropDemBits opened #87097 "ICE with `capture_disjoint_fields` during match MIR building"
Nightly only, since it depends on the `capture_disjoint_fields` feature gate.
Without the `capture_disjoint_fields` feature gate, the code compiles without an ICE.

`f5d8117c3 2021-03-16` is the first nightly with the ICE.
Still occurs on the latest nightly (`955b9c0d4 2021-07-12` at the time of writing).

### Code

[code]

ICE still occurs when `out_ref` is substituted with `here.field`, e.g.

[c

[2021-07-13 06:46] RalfJung commented on #87084
Could the use of `sort_unstable` be the problem here?

[2021-07-13 08:35] JohnTitor commented on #83765
Ugh, I minimized the test case but it overlooked another ICE, re-opening.

[2021-07-13 09:01] JohnTitor commented on #83043
Thanks! Opened #87099 to upgrade the `cc` crate.

[2021-07-13 09:08] Stupremee commented on #87038
@rustbot claim

Should the struct just be printed in one line like the integers currently? That seems like the simplest solution and closest to the number constants but may be really messy for larger structs.

[2021-07-13 09:32] the8472 commented on #87094
Yeah, sorry, that's what I meant.

[2021-07-13 11:18] lqd commented on #87083
When I looked at this last time, it seemed:
- in the messages with/from the coordinator, codegen being aborted expects [that codegen is not complete and the main worker thread is still codegenning](https://github.com/rust-lang/rust/blob/e97c29bda238cf55ddd7eec772deb823364b1846/compiler/rustc_codegen_ssa/src/back/write.rs#L1454-L1465) (the failing assertion).
- but it seems the main thread worker c

[2021-07-13 11:29] Moxinilian commented on #85133
It is being worked on, see #85646

[2021-07-13 11:55] wiz21b opened #87100 "Match compiles with undefined symbols (but gives warning)"
I tried this code:

[code]

I expected to see this happen: compilation failure because ALTZP_ON is not defined. In the rust documentation, things are not clear about undefined patterns... Worse, when I execute the program, it prints "hello".

Instead, this happened: Rust compiles with warnings
[code]

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2021-07-13 11:56] jonas-schievink commented on #87100
This is working as expected. `ALTZP_ON` is a catch-all pattern that matches any value.

[2021-07-13 11:56] #87100 closed

[2021-07-13 12:07] wiz21b commented on #87100
I solved the issue like this:
[code]

[2021-07-13 12:54] michaelwoerister commented on #60705
OK, I think it's clear that we don't want to block the mangling scheme on const generics reaching their final state, right?

I see three possibilities:
1. Just use the existing `<const> = <type> <const-data>` production and rely on the `<type>` to give enough information to demanglers for deciding if `<const-data>` is a hash value. The comment on `<const-data>` would then be:
[code]
2. Add another

[2021-07-13 13:51] purejgleason commented on #87063
@jyn514

    rm: build/x86_64-unknown-linux-gnu/stage1-rustc/x86_64-apple-darwin/release/incremental: No such file or directory

I will look more at the link

[2021-07-13 14:06] kyasbal opened #87103 "Simple `for` statement can be broken with linker error since nightly-2021-06-10-x86_64-unknown-linux-gnu"
Minimal reproducible code:

`.cargo/config.toml`

[code]

`main.rs`

[code]

These code above would raise following rust-lld error.

[code]

This linker error is not observed when I use `nightly-2021-06-09-x86_64-unknown-linux-gnu` or comment out the empty `for` statement in KernelMain. This issue was reproduced in the other environment also by my friend.

I assume #86003 is related to this proble

[2021-07-13 14:10] jyn514 commented on #87063
If that doesn't work, try `rm build/x86_64-unknown-linux-gnu/stage1-rustc/` - that should clear less than a full x.py clean.

[2021-07-13 14:10] jyn514 commented on #87063
Err uhh I found the issue, I meant to paste `rm -r build/x86_64-apple-darwin/stage1-rustc/x86_64-apple-darwin/release/incremental

[2021-07-13 14:21] jyn514 opened #87104 ""expect slice, found Vec" error is unrelated to the actual issue"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=80af81f48a03fb52f7c948a4fd4c686e

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The compiler seems to only perform Deref coercion if the types match exactly - that makes sense if the code compiles, but for diagnostic, I think it should try harder to perform der

[2021-07-13 14:52] tp-m opened #87105 "Compiler should warn if "unused" shadowed variable is actually used in inner block"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[code]

The current output is: no warnings.

Ideally the output should look like:

[code]
Rationale: This might happen if initially `a` from Line 5 wasn't used in the inner block (e.g. it was just `println!("b: {}", b);`). In that case the compiler warns about the unused variable `a` and tells me to chan

[2021-07-13 15:15] runiq commented on #39232
I've just been bitten by this. Given the proposed change in method resolution for arrays and `into_iter()` in the 2021 edition, I'd like to note @nikomatsakis' proposed fix for this issue in https://github.com/rust-lang/rust/issues/39232#issuecomment-371231665:

(Emphasis mine.) I'm reasonably certain 2021 edition is pretty much set in stone, but would this be in scope?

[2021-07-13 15:31] eddyb commented on #60705
Honestly, I was going to offer to take a stab at defining the mangling for ADT constructors ("2." in https://github.com/rust-lang/rust/issues/61486#issuecomment-878932102), it doesn't seem much harder than adding an opaque hash-only leaf (if we do that, I would prefer it to also be available for types too, FWIW).

And on the mangler side, we do have `destructure_const` to use today to take apart a

[2021-07-13 15:35] oli-obk commented on #60705
yea... just make sure that anything that uses `destructure_const` needs a feature gate, I'm not too sure it behaves soundly for const generics in all cases

[2021-07-13 16:59] ricobbe commented on #87084
I don't think so, no.  The problem is that the error message only occurs when we have multiple `DllImport`s in the same `FxHashSet` that have the same name (plus a couple of other conditions that aren't important for this issue).  So sorting the elements of an `FxHashSet<DllImport>` based solely on their names, as is the case on master, isn't sufficient to guarantee a unique result when we select

[2021-07-13 17:06] MarkTanashchuk opened #87109 "E0495 shows the same found and expected"
Given the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a7edd4df2431f6a29aa19edb4a29f590), the current output in Rust Analyzer is:

[code]

And in the playground:

[code]

I think it would be helpful to add a tip that brings the code to something like in [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=89d061266a48bcd31e9de81

[2021-07-13 17:31] ChristianWilkie opened #87131 "rust-docs installation is very slow"
**Describe the problem you are trying to solve**
I'm new to Rust and was trying to install it on a Linux machine (user/non-root) by downloading the .tar.gz and using install.sh.

When it reached the part "install: installing component 'rust-docs'" I thought it hanged but it just took a few minutes.

**Describe the solution you'd like**
Not a big deal but just a suggestion - it might be good if the

[2021-07-13 20:10] FabianWolff commented on #80856
I think this is the intended behavior:
https://github.com/rust-lang/rust/blob/3e1c75c6e25a4db968066bd2ef2dabc7c504d7ca/compiler/rustc_passes/src/dead.rs#L384-L391

Note that this is different from prefixing the item name with an underscore:
[code]
[code]
The implementations are [here](https://github.com/rust-lang/rust/blob/3e1c75c6e25a4db968066bd2ef2dabc7c504d7ca/compiler/rustc_passes/src/dead.rs#

[2021-07-13 23:25] JohnTitor commented on #87103
Slightly minimized (removed unstable `asm` feature):
[code]

Note that the mentioned PR just reverted the changes by #81238 and the issue exists on older stable (at least I confirmed on 1.45).

[2021-07-14 03:07] nrc opened #87121 "Tracking issue: deref patterns"
Tracking issue for implementing deref patterns.

[deref patterns project group repo](https://github.com/rust-lang/project-deref-patterns)

cc @chorman0773

The initial implementation should be minimal and restricted, such as:

* apply only to std library types (or a subset of them)
* apply only to literals in patterns (i.e., string or slice patterns)
* might only apply to a single type, e.g., `Str

[2021-07-14 03:26] orvij commented on #86829
Fixed on latest master [c7d6bcc](https://github.com/rust-lang/rust/commit/c7d6bcc788ef6b2293d2d5166a9b0339d5d03b0a)

[2021-07-14 03:26] #86829 closed

[2021-07-14 03:46] jyn514 commented on #9607
Why would that be a breaking change? If `.clone()` ended up being ambiguous because of a Deref impl or something?

[2021-07-14 03:47] programmerjake commented on #42639
Can this be re-nominated for discussion? I'd expect a lot has changed in the past 4 years, having rustup work on aarch64-linux-android would be awesome!

[2021-07-14 03:49] jyn514 commented on #35148
I'm not sure if this is still relevant - can proc macros still generate code with DUMMY_SP?

[2021-07-14 03:52] jyn514 commented on #35560
The compiler now gives an error if there are multiple expressions in the included file:
[code]
(presumably it's a deny-by-default lint and not a hard error for backwards-compatibility reasons.)

[2021-07-14 03:56] jyn514 commented on #38546
This is Span::call_site, right? That's stable: https://doc.rust-lang.org/stable/proc_macro/struct.Span.html#method.call_site

[2021-07-14 03:57] est31 commented on #35560
@jyn514 seems that there is still a decision to be made whether to turn this into a hard error or so: #64284

[2021-07-14 04:02] jyn514 commented on #60856
Triage: both of these cases are covered by `non_fmt_panic`, which is on by default:

[code]

[2021-07-14 04:02] #60856 closed

[2021-07-14 04:05] jyn514 commented on #61876
Is this useful? It seems awfully complicated, and I don't think the lexer is the slow part of the compiler ...

[2021-07-14 04:07] jyn514 commented on #35560
I mean, I personally don't think we should be making things hard errors unless there's a specific reason to, the only benefit is that it slightly simplifies the compiler. I guess it doesn't hurt to have an issue open; but I would rather bring this up in a T-lang meeting and have a decision one way or another than leave this open indefinitely.

[2021-07-14 04:28] est31 commented on #35560
@jyn514 yeah if the decision by the lang team is to keep it a deny by default lint indefinitely, it's okay too. As you've rightly pointed out, errors should be introduced cautiously to previously compiling code. There should be a decision on it, though, because there are possible other resolutions.

For example, this works right now and prints `hello 1, hello 2`:

[code]

So why can't the `include

[2021-07-14 06:40] lf- opened #87122 "Poor diagnostic for closure not returning Result when there is a return Ok/Err in it"
I was doing a refactoring of moving a match arm into a closure and I got confused at the error when it was saying the closure had the wrong type. I think that one part of it is that the error should say something about it being that the closure return type is wrong, not just "expected x type" like it was just a normal variable being the wrong type, and because of this insufficiently specific messa

[2021-07-14 08:06] djc commented on #38546
I have a hard time remembering exactly my intent with this issue from 5 years ago, but I think this would depend on getting `proc_macro_span` stabilized (for the `Span::source_file()` method).

[2021-07-14 08:23] abonander commented on #38546
What would actually be more useful, less work to stabilize and have additional utility, is to basically just be able to resolve a file path the way `include!()` or `include_str!()` does, given a span or `SourceFile`.

Then like the new [`proc_macro_tracked_path`](https://doc.rust-lang.org/nightly/proc_macro/tracked_path/fn.path.html) feature, the compiler could know to watch that file for changes

[2021-07-14 08:26] djc commented on #38546
Yeah, that would be pretty great to have for my use case.

[2021-07-14 12:08] petrochenkov commented on #61876
This kind of leads to a philosophical question - what is the purpose of an issue tracker? Should it track potentially nice ideas that nobody is going to implement, not even the author?

I'd personally close this, if someone is ready to invest work into proving usefulness of this idea and measure performance, then a PR is welcome, but otherwise we should not track this as an open issue.

[2021-07-14 12:08] #61876 closed

[2021-07-14 12:10] michaelwoerister commented on #60705
@eddyb, I'm not sure we are talking about the same thing here. I'm proposing to make `rustc` emit `<type> <const-data>` (with `<const-data>` being a hash of the constants value) just as a temporary solution until we have a proper grammar for ADT constants. Are you proposing to get rid of the `<const> = <type> <const-data>` production entirely?

[2021-07-14 13:37] pickfire opened #87128 "Vec::iter not found in search in rustdoc"
In rust doc search, I can't find `Vec::iter` although `iter` is available in `Vec`.

https://doc.rust-lang.org/std/index.html?search=vec%3A%3Aiter

[2021-07-14 13:40] poliorcetics commented on #66219
With #87127, only some `unsafe` blocks in `src/libcore/slice/sort.rs` are left. I looked them over and I don't think I understand the algorithm well enough to make a `SAFETY` comment for them though

[2021-07-14 14:20] jackh726 commented on #87097
cc @arora-aman

[2021-07-14 14:21] petrochenkov commented on #40356
Closing as a duplicate of https://github.com/rust-lang/rust/issues/54724.

[2021-07-14 14:21] #40356 closed

[2021-07-14 14:23] FabianWolff commented on #87122
But the error message points at the block expression that represents the closure body, and it says that this should have type `Result<_, ()>` (due to the explicit return) while it has type `()` (due to the missing tail expression), so it does tell you what exactly has the wrong type. Perhaps something like this would help here:
[code]
The "desired output" that you provided would be misleading, bec

[2021-07-14 14:25] jackh726 commented on #86868
@b-naber I think you should feel free to claim and work on this

[2021-07-14 14:35] eddyb commented on #60705
That production is ~~a lie~~ more general than what is implemented (which is only integer types, `bool` and `char` for the `<type>` part).

Right now demanglers will treat any other type in that position as an error, so using it for that purpose requires changing demanglers, just like adding a special form for the opaque hash-only leaves, but leaving less encoding space usable by any future ADT ma

[2021-07-14 14:59] michaelwoerister commented on #60705
@eddyb: OK, I'm all for solving this properly now -- iff we can get it done in a reasonable amount of time 😃

It sounds like you and @oli-obk have come up with an [exhaustive list](https://github.com/rust-lang/rust/issues/61486#issuecomment-878932102) of things the grammar needs to support, right? But it also sounds like the implementation on the compiler side is somewhat complicated by the fact t

[2021-07-14 15:18] #37201 closed

[2021-07-14 15:18] #87086 closed

[2021-07-14 15:27] pietroalbini commented on #87131
Moved the issue.

[2021-07-14 15:27] FabianWolff commented on #87109
Related to (or maybe a duplicate of) #73521.

[2021-07-14 16:03] oconnor663 commented on #87086
So fast! Thank you!

[2021-07-14 16:27] jyn514 commented on #87128
@pickfire it's there, it's just called `slice::iter` because it comes from the Deref impl.

Are you suggested rustdoc should show Deref methods in search? That seems useful, but a little complicated ... Search is already pretty buggy.

[2021-07-14 16:27] arora-aman commented on #87097
-  @roxelo can you take a look please

[2021-07-14 16:29] jyn514 commented on #87131
Hmm, this should have been fixed in https://github.com/rust-lang/rust/pull/84289 - what version of rust are you installing? That fix landed in 1.53.

[2021-07-14 16:36] MarkTanashchuk commented on #87109
Yes, I think it would be better to close this issue in favor of #73521

[2021-07-14 16:36] #87109 closed

[2021-07-14 16:40] pickfire commented on #87128
Yeah, that would be good but do seemed a little bit complicated, the search for deref could have a lower score or shown with some sort of visual to know it's a `Deref`.

At least I didn't noticed that it's `slice` because the doc page is quite long and I don't know which function does it `impl` for. Quite a few times I wonder which `impl` I am looking at, scroll up tons of page and saw the wrong o

[2021-07-14 16:42] jyn514 commented on #79710
I wonder if it makes more sense to add this as a proc-macro. Rustdoc can still provide the CSS classes and things, and you could use them with HTML directly, but you could use `warning!("warning text here")` or something and it would expand to the correct HTML tags and classes.

[2021-07-14 17:03] SkiFire13 opened #87132 "`rustc_skip_array_during_method_dispatch` is bypassed by method calls implemented for any `I: IntoIterator`"
After seeing #84147 I wondered if it applied to any method call that requires `[T; N]: IntoIterator`, but looks like that's not the case. This code compiles fine in rust 1.52, but fails to compile from rust 1.53

[code]

In rust 1.53 it fails with the following error:

[code]

[2021-07-14 17:46] GuillaumeGomez commented on #79710
Might be better to have a `doc(warning = "...")` then, no?

[2021-07-14 17:59] #86893 closed

[2021-07-14 18:22] DataTriny commented on #87059
Hello,
As an NVDA user on Windows, and an Orca user on Linux, I can confirm that what @ahicks92 said is right. This new version of rustdoc pages is bad in terms of accessibility for users relying on screen reading software.
Even though I also am an advanced screen reader user, I really hope this does not land on stable as is or else it will very much hit my ability to navigate through the document

[2021-07-14 18:27] ribsthakkar commented on #39364
Following up on the last comment, just wondering if there are there any plans to address this?

[2021-07-14 18:33] khuey opened #87135 "Add slice::from_pointer_range"
#65806 added [T]::as_ptr_range. It would be nice if there were a `slice::from_raw_parts` analog that went the other way. `Range<*const T>` is a convenient way to pass around the start and length information needed for a slice.

[2021-07-14 18:34] GuillaumeGomez commented on #87059
One thing I thought about to fix the "table of content" not being visible for screen readers would be to move it outside of the viewport when not being used. Would that work for you?

[2021-07-14 18:59] Amanieu commented on #85264
Closing as working as intended. The error message has been improved, and a description of the potential breakage will be included in the 1.54 release notes (#86696).

[2021-07-14 18:59] #85264 closed

[2021-07-14 19:03] bjorn3 commented on #39364
I don't think so. If I recall correctly there were some talks about adding crossbeam-channel to the standard library as additional channel implementation and deprecate `std::sync::mpsc`. I believe the interface between the two is sufficiently incompatible that it is not possible to make the current channel interface backed by crossbeam-channel. In addition I believe someone said that there are mis

[2021-07-14 19:03] Amanieu commented on #62439
Closing in favor of https://github.com/rust-lang/hashbrown/issues/278.

[2021-07-14 19:03] #62439 closed

[2021-07-14 19:06] ChristianWilkie commented on #87131
@jyn514 oh jeez, you're absolutely right. I thought I had the latest but I grabbed 1.50 by mistake. Retried with 1.53 and it's golden. Thank you :)

[2021-07-14 19:12] #87131 closed

[2021-07-14 20:18] RalfJung commented on #69297
I am also seeing *many* exceptions being raised and caught in ConstProp -- so, `RUSTC_CTFE_BACKTRACE=1` is a serious slowdown for constprop. I am not sure if there is anything we can do about that... @oli-obk any idea?

Sadly this also masks any exceptions being raised elsewhere, making it really hard to figure out if there are non-constprop instances of this problem left.

[2021-07-14 20:44] lf- commented on #87122
I generally have trouble understanding diagnostics pointing at block expressions as the way the span is shown doesn't yet line up with "it's referring to the return type of the block" for me. It sort of makes me feel like it's something else inside the block that's wrong. I'm not sure how to display the span with ascii art more effectively, but a more accurate description of what's referred to wou

[2021-07-14 20:46] yaahc commented on #86831
We discussed this in today's @rust-lang/libs  meeting and decided that since we already approved this breakage during the RFC and the breakage has already been fixed in the repo that was caught by crater we're happy with the current status and should close this issue.

@rfcbot close

[2021-07-14 21:04] apiraino commented on #87059
Assigning priority as discussed in the [Zulip thread](https://zulip-archive.rust-lang.org/245100tcompilerwgprioritizationalerts/4407887059fixscreenreaderaccessibilityofrustdocitemdocu.html) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-07-14 21:04] ojeda opened #87139 "Allow to provide a custom map of rendered strings for `doc(cfg(...))`"
Currently, `rustdoc` has some hardcoded logic to render `doc(cfg(...))` in:

https://github.com/rust-lang/rust/blob/4f0c568785adcc0a123cac9d47047020b7a24821/src/librustdoc/clean/cfg.rs#L464

`rustdoc` could also take a map of config options to "rendered strings" (passed as e.g. a file via the command line), so that one may have:

instead of:

Ideally, there could be also be one for the "short" nam

[2021-07-14 21:06] Manishearth commented on #79710
Is that going to be a special header similar to the "unsafe"/"experimental"/etc ones, or is that going to also be used within docs in an order-sensitive way? If the latter we should probably just use a CSS class; mixing `///` and `#[doc]` is ugly

[2021-07-14 21:10] GuillaumeGomez commented on #79710
Agreed. Among the suggested ideas, my favourite one remains the code block with "warning" as tag:

[code]

[2021-07-14 21:17] #87043 closed

[2021-07-14 21:17] #87072 closed

[2021-07-14 21:52] richkadel commented on #86972
Thank you. This is helpful!

[2021-07-14 21:56] roxelo commented on #87097
I started looking into the issue and I think it spans from failing to resolve the upvars [here](https://github.com/rust-lang/rust/blame/master/compiler/rustc_mir_build/src/build/matches/test.rs#L160) when the feature is enabled: `try_upvars_resolved` fails which leads to the `pre_binding_block` field of the Candidate to not be assigned as the assignment of this field is being done [here](https://g

[2021-07-14 22:02] jyn514 commented on #87132
Is this an issue in practice? Does it break any crates on crates.io?

[2021-07-14 22:51] richkadel commented on #86972
OK, I tried your sample, and I think the problem you're having is related to how you are running and extracting the results.

Your script works for me and does produce the results with missing coverage, but when I changed the first `cargo test` command to add `--tests`, I actually get correct coverage.

Dig into the documentation in the Rust Unstable Book to get more insights on this, but I think

[2021-07-14 22:58] pcd1193182 commented on #71072
I have a related question, and perhaps it should be a separate issue; is there some reason the compiler can't realize that if I call `drop` on a mutex before the await that it doesn't need to be sent? The ownership is gone (Drop takes the ownership, not a ref, and returns nothing), so I literally *can't* use it anymore, according to the borrow rules.

[2021-07-14 22:58] alex commented on #86972
Fascinating... I can confirm that with `--tests` everything works ok.

I don't really understand why having a proc-macro or not impacts this.

Unfortunately this doesn't impact the underlying issue that caused me to file the bug. But at least now I have a reproduction environment where I can continue to pursue the real issue here.

[2021-07-14 23:04] alex commented on #86972
Ok, that repo has now been updated to reproduce the _original_ issue here (partial coverage of arguments).

If you change `foo`'s arguments to be on a single line, you'll that the line is now claimed to have coverage, but it's still really only partial coverage.

I suspect, but can't prove yet, that what's happening behind the scenes is that pyo3 is generating _other_ code that's uses the spans of

[2021-07-14 23:18] richkadel commented on #86972
For future reference, the results from your new sample are shown below as a screenshot, so the specific coverage spans show up (by character).

Also, FYI, I inserted a blank line at the top to reduce confusion. At least in my environment (using the `llvm-cov` build from rust sources), there appears to be a bug in the `llvm-cov` output. Line 1 is duplicated (on the same line). I'm ignoring that for

[2021-07-14 23:35] WorldSEnder opened #87142 "ICE using min_type_alias_impl_trait with generators"
### Code

[code]
[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=710d29b3c22f9d8ffad0415c31e5716c)

I haven't gotten it to error without nightly features, so I believe it has to do with the generated enum for the Generator.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[2021-07-14 23:35] Radbuglet opened #87143 "Codegen bug: `repr(C)` `const`s containing a reference don't inline"
Bug summary: `repr(C)` interacts weirdly with codegen and prevents `const` items from being inlined in specific scenarios.

Which specific scenarios? Here are the simplest conditions I could find:

- The "parent" struct contained in the `const` must contain a separate `repr(C)` "wrapper" struct. The parent struct may be `repr(C)` or `repr(Rust)` but the wrapper struct must be `repr(C)`. A separate

[2021-07-14 23:47] jsgf opened #87144 "--cap-lints and related affect crate hash"
I tried this code `t.rs`:

[code]

I'd expect the output of:
[code]
to all produce the same output from
[code]
since this only affects the diagnostics and nothing about the crate itself (other than whether the crate is generated at all,
if an error is converted to a warning).

Instead, they all get different crate hashes:
(nothing)
[code]
--cap-lints=warn:
[code]
-Ddead-code:
[code]
### Meta

`rus

[2021-07-14 23:50] jsgf commented on #87144
Similar issue to https://github.com/rust-lang/rust/issues/86044, fixed in https://github.com/rust-lang/rust/pull/86045. cc @Aaron1011 @bjorn3

[2021-07-14 23:55] notriddle commented on #87128
Adding an alias works, if it's acceptable to solve this as a one-off.

![image](https://user-images.githubusercontent.com/1593513/125707341-775a1427-b79d-4910-9245-9059bc7f64b8.png)

<details>

[code]

</details>

[2021-07-14 23:57] jyn514 commented on #87128
Seems silly to do this for every single slice method. I think we should do this consistently if we do it at all.

[2021-07-14 23:58] #85863 closed

[2021-07-15 00:01] ahicks92 commented on #87059
Usually moving things out of the viewport works.  There is info on making screen reader only content here that I believe works: https://webaim.org/techniques/css/invisiblecontent/

That said, if we go that route you then need a way to skip it.  My preference would be for us to overall fix the header hierarchy because most screen readers including myself use those by reflex and nothing else in HTML

[2021-07-15 01:35] alex commented on #86972
I haven't attempted to officially prove it by reverting the patch (since like 900 follow up patches rely on it)... but I'll bet a nickle that https://github.com/PyO3/pyo3/pull/1440 is what introduced this issue, since it started generating code with spans on the `ty` of the args.

I don't know exactly how the spans work for rust's coverage, but I'll bet something is going on like:

1. Rust generat

[2021-07-15 01:53] roxelo commented on #87097
The underlying issue is that currently the compiler does not realize, for the above example, that the discriminant should be read. We incorrectly assumed [here](https://github.com/rust-lang/rust/blame/master/compiler/rustc_typeck/src/expr_use_visitor.rs#L264) that

1. variants would only be of type `Adt` when they could be of other types like `Ref`
2. that we should be looking at the `place.base_t

[2021-07-15 02:56] richkadel commented on #86972
Yes plausible. Not sure but it fits what we see.

Did you notice this issue?

https://github.com/PyO3/pyo3/issues/1506

A fix was submitted. Is that fix in the version you upgraded to? If not, just maybe that fix could help, but maybe a long shot.

[2021-07-15 03:09] alex commented on #86972
Yes, that fix is present in the version tested by the test repo (and the
real pyca/cryptography)

On Wed, Jul 14, 2021 at 10:56 PM Rich Kadel ***@***.***>
wrote:

--
All that is necessary for evil to succeed is for good people to do nothing.

[2021-07-15 03:25] alex commented on #86972
A git bisect tells me that in fact https://github.com/PyO3/pyo3/commit/ce851ad7d946a7dff8bee4ab294ae47b7b9bf5bf is the commit that introduce the coverage issues.

Going to stare at the commit intently and see which part triggers it.

[2021-07-15 03:38] alex commented on #86972
I've now sent https://github.com/PyO3/pyo3/pull/1726 as a workaround.

[2021-07-15 05:23] #56935 closed

[2021-07-15 07:26] davidhewitt commented on #86972
Sorry I haven't participated in the discussion. Thanks both for all the digging, this is really interesting.

[2021-07-15 08:37] lengyijun opened #87151 "Feature : rustc args check on mir-dump"
In rustc args,`-Zdump-mir-dataflow` (`dump-mir-dataflow`, `dump-mir-spanview` ...) only works if `-Zdump-mir` is provided.
If we provide `dump-mir-graphviz` without `dump-mir`, nothing happens.
rustc doesn't warn or emit an error.
So I suggest rustc should make an early args check about it.

[2021-07-15 09:18] SkiFire13 commented on #87132
As previously stated I discovered this by seeing #84147, not due to some crate suddently not compiling anymore, and since the setup needed is pretty niche I don't think this is a big issue in practice.

[2021-07-15 10:23] apiraino commented on #85873
removing T-compiler as this seems more in T-libs ballpack ([Zulip thread](https://zulip-archive.rust-lang.org/238009tcompilermeetings/78309weekly2021070854818.html#245323827))

@rustbot label -T-compiler

[2021-07-15 10:31] jonas-schievink commented on #87132
The workaround was added specifically to fix `array.into_iter()`, which some crates in the crater run were doing. I don't think any crates were found that relied on *this* behavior.

[2021-07-15 10:35] nikomatsakis commented on #86940
@rustbot release-assignment

[2021-07-15 10:42] nikomatsakis commented on #86940
### Mentoring notes

The code related to this lint lives in the [prelude2021 module](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/method/prelude2021.rs).

The relevant suggestion is generated here:

https://github.com/rust-lang/rust/blob/b9197978a90be6f7570741eabe2da175fec75375/compiler/rustc_typeck/src/check/method/prelude2021.rs#L264-L269

The "self type" string

[2021-07-15 10:51] nikomatsakis commented on #85895
### Mentoring notes

I'm no expert on the crater code, but here are some notes extracted from the thread above (thanks @pietroalbini).

#### The goal

We want to modify crater so that, for each 2018 crate, it runs `cargo fix --edition` to see if it builds.

* Run `cargo fix --edition`
* Run `cargo check` afterwards, to see that it still builds (maybe? I think that cargo fix may do this itself...)

[2021-07-15 11:03] pickfire commented on #87128
Yes, if we do it it should be added for everything that implements `Deref`.

[2021-07-15 11:13] LukasKalbertodt opened #87155 "Tracking Issue for `Iterator::map_windows` (feature `iter_map_windows`)"
Feature gate: `#![feature(iter_map_windows)]`

This is a tracking issue for `Iterator::map_windows`:

### Public API

[code]

### Steps / History

- [ ] Implementation: #82413
- [ ] Optimize with buffer of size `2 * N`: this is currently blocked on const generics features. An implementation of this can be found here: https://github.com/LukasKalbertodt/rust/commit/2796bd16cf24c68a97c30bdeac0ef95dee

[2021-07-15 11:16] oli-obk commented on #69297
I'm not sure const prop can do better other than duplicating all the checks that would lead to the exceptions being raised. We can do some half measures to eliminate obvious cases.

We could add a `Drop` impl to the error type and require all destructions of the errors to be made explicit. Not sure how annoying that would be in practice, but it could work well.

[2021-07-15 11:19] oli-obk commented on #60705
it should work just fine for all normal aggregates like arrays, tuples, enums and structs, but there are certainly types it cannot handle or will handle weirdly. I'm fairly certain that all currently legal const generic types will work just fine, so that should be ok. It's just that extending the list of legal types is not trivially ok.

[2021-07-15 11:25] RalfJung commented on #69297
We could also do something awful and have some thread-local storage so this code

https://github.com/rust-lang/rust/blob/b9197978a90be6f7570741eabe2da175fec75375/compiler/rustc_middle/src/mir/interpret/error.rs#L116

knows it is inside ConstProp and always treats this as `Disabled`.

[2021-07-15 11:52] oli-obk commented on #69297
and then re-enable (in a scoped manner) when inside the CTFE query. Seems hacky and annyoing and actually manageable. I think it's fine, it's just for the backtrace printing, nothing that actually affects anyone that is not already debugging CTFE

[2021-07-15 12:06] apiraino commented on #85447
I think I can remove the `I-nominate`, was discussed on [Zulip a while ago](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202021-05-20.20.2354818/near/239605615), T-compiler followed up on this

@rustbot label -I-nominated

[2021-07-15 12:27] x1tan opened #87157 "Missing debug symbols for x86_64-unknown-uefi binaries"
Since nightly-2020-11-15 building a binary for the x86_64-unknown-uefi target (dev/debug build) does not include debug symbols anymore.

I expected to see this happen:

[code]

Instead, this happened:

[code]

### Version it worked on

nightly-2020-11-14

### Version with regression

nightly-2020-11-15

### Possible commits

`cargo-bisect-rustc` identified the following commits:

[code]

PR #78959

[2021-07-15 13:48] zhou-mfk opened #87159 "ICE: thread 'rustc' panicked at 'slice index starts at 10701 but ends at 2510', src\librustc_query_system\dep_graph\serialized.rs:43:10"
I first use Rust to learn sort ......

I found ...

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-15 14:41] nikomatsakis commented on #85895
@ehuss [pointed out on Zulip](https://zulip-archive.rust-lang.org/268952edition2021/64759craterrun.html) that another, perhaps better, approach would be to do a crater run with a modified cargo. This would make it easier to get a "stable" comparison.

The idea would be to modify cargo so that e.g. `cargo build` or `cargo test` runs `cargo fix --edition`.

[2021-07-15 14:57] Aaron1011 commented on #87159
@zhou-mfk You're using an old version of Rust - do you still get this error on the latest version?

[2021-07-15 14:58] michaelwoerister commented on #86511
@apiraino I don't think https://github.com/rust-lang/rust/pull/85702 can be relevant for this issue.

[2021-07-15 15:27] paulmenzel commented on #86436
Reading the comments, I missed a solution for building Rust 1.53.0 with `extended = true`. Building Rust 1.50.0 worked with:

    python3 ./x.py build --exclude src/tools/miri

but with 1.53.0 the `--exclude` switch seems to be ignored. How can Rust 1.53.0 be built including Cargo?

[2021-07-15 15:40] mati865 commented on #86436
One workaround is to create and initialize git repository in the directory where you want to build Rust.

[2021-07-15 15:44] RalfJung commented on #86436
@paulmenzel I haven't tried it but shouldn't setting the `tools` work?
[code]
So if you just want cargo, I'd try `tools = ["cargo"]`.

[2021-07-15 17:19] paulmenzel commented on #86436
Thank you. Sorry, I didn’t mention it. I tried it, and it did not work.

[2021-07-15 17:25] RalfJung commented on #86436
@Mark-Simulacrum is that expected that Miri is built even when `tools` is explicitly set to a list that does not include Miri?

[2021-07-15 17:56] anka-213 commented on #74465
Is there any specific reason why something like `into_inner` doesn't/shouldn't exist for `Lazy` and `SyncLazy`, as it does for `OnceCell` and `SyncOnceCell`?

I believe something like this would work
[code]

[2021-07-15 18:03] Mark-Simulacrum commented on #86436
In the sense that I'm not surprised, yes -- tools is pretty poorly supported around rustbuild, it's not something I have in cache to think about when we introduce new code so its easy to miss a dependency there.

It should likely get fixed to skip building miri when tools doesn't include it though.

[2021-07-15 18:34] Fishrock123 commented on #63168
My 2c:

cloned and copied for `Result` should do the respective operation to either branch, it seems to me that in most cases where you'd need it fro one you'd need it to handle both branches.

I realize this does make the copied one kinda marginal since most errors are unlikely to be `Copy`, but perhaps there is a workaround in the odd case you'd want to copy and yet be able exclude `Err`?

[2021-07-15 19:09] matklad commented on #74465
No specific reason. once_cell has into_value for that: https://docs.rs/once_cell/1.8.0/once_cell/sync/struct.Lazy.html#method.into_value, it could be added here as well.

[2021-07-15 20:12] LvInSaNevL commented on #82104
@Rahix sorry to reopen this older issue but I'm seeing the same issues. I've tried like 3 different versions of the rust compiler, plus the current (1.55) version, and they all have the exact same issue?

[2021-07-15 20:43] smklein commented on #71436
Does the workaround described [here](https://github.com/alexcrichton/proc-macro2/issues/218#issuecomment-622599064) not work for you? I'm running into a similar use-case, but the `force()` function is a sufficient escape-hatch for now

[2021-07-15 20:52] bjorn3 commented on #71436
That doesn't help when you don't control the source. proc-macro2 is used by a dependency of the user's project most of the time. And even if it isn't, I can't except users of cg_clif to always add `proc_macro2::fallback::force()` to their build scripts. I would like something that works out of the box.

[2021-07-15 21:03] GuillaumeGomez opened #87169 "Improve error messages for intra-doc links when there are backticks"
In #87078, we arrived at the following situation:

[code]

I want to underline this part in particular:

[code]

Having two backticks is very weird. What I suggest instead is to reduce the "^^^^^" underlining part in order to not include backticks in it so then they can be removed from the error message as well, which would give:

[code]

I'll do it in the next days if no one does until then. :)

[2021-07-15 21:14] dylanede commented on #60896
What about the safe (wrt. logic errors) subset of the `HashSet::get_or_insert_with` use cases of inserting from a `Cow<T>`? This would be equivalent to a more efficient version of the current stable code:

[code]

With  `HashSet::get_or_insert_with` this would become

[code]

But perhaps there should be a specialised version of this, e.g. `HashSet::get_or_insert_cow`.

[2021-07-15 21:20] Rahix commented on #82104
`nightly-2021-01-07` is the last working version as of now.  We're still blocked on a fix landing in LLVM which is pending review (see the compiler-builtins issue linked above).

[2021-07-15 21:24] notriddle opened #87172 "rustdoc sidebar is not accessible from keyboard on small screens"
On a PC (or on an iPad with "Full Keyboard Access" turned on), shrink the browser so that the sidebar goes into the overflow menu, then try to get at it with a keyboard.

There's no focus ring. You can actually get keyboard focus on it, in iPadOS, but you can't see it, and I can't seem to get keyboard access to it at all on desktop Firefox. In either case, it's not good enough. The hamburger butto

[2021-07-15 21:35] Aaron1011 commented on #79813
The crater run https://github.com/rust-lang/rust/pull/81477 showed 25k regressions, with over 1k root regressions.
I've opened https://github.com/rust-lang/rust/pull/87146 to improve `lint_node_id`, which should let us make this warn-by-default at some point.

[2021-07-15 22:12] Mark-Simulacrum commented on #82913
Going to reopen to track the beta backport.

[2021-07-15 22:17] paulmenzel commented on #86436
Sorry, I do not understand. It’d be great if you rephrased it.

[2021-07-15 22:18] paulmenzel commented on #86436
Can I patch the source some how (delete the miri files?) to fix the build?

[2021-07-15 22:41] #83107 closed

[2021-07-15 22:45] Mark-Simulacrum commented on #86436
I'm not sure why the exclude switch is being ignored; you'll need to provide a full verbose log to try and dig in on what specifically is causing miri to be invoked despite the exclude.

FWIW we don't generally expect people to use x.py build in dist tarballs -- x.py dist/install are more likely to work.

[2021-07-15 22:57] Mark-Simulacrum commented on #83167
I think there should be *some* indication that the "legacy" call signature is allowed. Perhaps even defaulting to that rendering would be preferable, given that it matches both (a) historical practice in Rust and (b) the convention in C or C++ when invoking these intrinsics.

@rust-lang/rustdoc, given that this is in 1.54 which ships in 2 weeks, do we think we can create a patch that adds some ind

[2021-07-15 23:12] Manishearth commented on #83167
Maybe ... what kind of UI do you expect here?

[2021-07-15 23:22] Mark-Simulacrum commented on #83167
I think there's a couple options:

1. Render them as-if they were still in the old format (i.e., re-inline the const generic, perhaps as something like `fn foo(const name: ty)` rather than `fn foo<const name: ty>()`).
2. Add a box like the unstable/target feature/etc with a note like "this function is also callable with the generic inline with the arguments"
   * it's not very clear how to indicat

[2021-07-15 23:26] Manishearth commented on #83167
a really cool way to do this would be to have this annotation, and you can _click it_ to swap the signature.

[2021-07-16 00:51] jhpratt commented on #70887
With regard to base 10, I've found that using the approach followed [here](https://commaok.xyz/post/lookup_tables/) is approximately 10% faster on `u32` using a crude benchmark. Presumably this holds for larger integers, but the current approach is faster on `u8` and `u16`.

[code]

Happy to provide similar lookup tables for other integer types if desired.

[2021-07-16 00:55] jeanlucthumm commented on #86102
A few things:

So I'm basically done with the code changes I wanted to make, but there are quite a few broken UI tests as a result. Before I go through and fix them, I just wanted to get a second opinion on the error messages:
[code]
The current heuristic is to print the help message about identifiers if both the following are true:
1. The first code point of the first grapheme cluster in the toke

[2021-07-16 01:18] scottmcm commented on #70887
I always find it hard to judge table lookups.  In microbenchmarks they often look great since cache pressure isn't a concern.

[2021-07-16 01:20] jhpratt commented on #70887
Of course cache is huge for something like that. Just throwing it out there; it's plenty fast either way.

[2021-07-16 01:35] nrc commented on #87121
@roxelo or @matthewjasper would you be able to mentor @chorman0773 on implementing the compiler parts of this please?

[2021-07-16 03:42] Manishearth commented on #86102
Yeah I'd change it back.

------

I would go for unicode-general-category. @wezm are you open to relicensing it?

 @rust-lang/compiler I believe Apache-only crates are allowed if they're dependencies of the compiler but not the stdlib, yes? So we can opt out with https://github.com/rust-lang/rust/blob/ac8c3bfffb2829d0af075a5d4020fb7e9e86c3a2/src/tools/tidy/src/deps.rs#L24-L27 if we need to?

[2021-07-16 04:03] #76407 closed

[2021-07-16 04:03] #76826 closed

[2021-07-16 05:02] edward-shen opened #87181 "Zero member tuple struct should warn on incorrect construction"
Hey folks, this just bit me so and took a bit to figure out, so I'd thought I'd file an issue for this admittedly niche issue.

Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b709d444dfcf0590f293531e3a7e173f)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This was an extremely confusing error m

[2021-07-16 06:07] Pyther99 commented on #86940
@rustbot claim

[2021-07-16 08:35] petrochenkov commented on #87157
Debuginfo is likely lying around in `.pdb` files now.

[2021-07-16 08:47] RalfJung commented on #69488
A great way to represent the desired semantics of `MaybeUninit<i64>` in LLVM would be with the [proposed "byte" type](https://lists.llvm.org/pipermail/llvm-dev/2021-June/150883.html). However, it is not clear yet if LLVM will accept this proposal.

[2021-07-16 08:47] waterlens commented on #35735
Since the SipHasher has been deprecated in the core library, I think the improvement is not important. So the issue could be closed.

[2021-07-16 08:49] josephlr commented on #57349
@RalfJung do we need to resolve all the issues with `const_refs_to_cell` before merging this feature (`const_mut_refs`)?

[2021-07-16 08:58] RalfJung opened #87184 "const-eval: loading or overwriting parts of a pointer is not supported"
The Miri core engine can only represent "full" pointers in memory, no parts of a pointer. This leads to strange behavior on code like
[code]
If overwriting a part of a pointer happens during CTFE, we halt execution (since https://github.com/rust-lang/rust/pull/87248). In Miri, instead we de-initialize the entire pointer, so a write will affect the bytes "next to it". (Halting execution is [not an

[2021-07-16 09:13] RalfJung commented on #56166
So... what would it take to use this in Miri? @eddyb @oli-obk and maybe @bjorn3
I assume I have to somehow get hold of an `FnAbi` around here

https://github.com/rust-lang/rust/blob/057050a95bdfc5849a893208c53c7b2a081c6808/compiler/rustc_mir/src/interpret/terminator.rs#L72

and adjust [the `eval_fn_call` function](https://github.com/rust-lang/rust/blob/057050a95bdfc5849a893208c53c7b2a081c6808/comp

[2021-07-16 09:18] GuillaumeGomez commented on #83167
Let's try to keep the UI as simple as possible (even though that sounds good). :laughing:

Once we've reached a consensus on the what the UI should look like, I can send a PR if you want.

[2021-07-16 09:21] lqd commented on #83167
Note: Intel only uses the `imm8` name, and documents its acceptable width in the documentation, and in the guide's xml data like so: `<parameter type="int" varname="imm8" etype="IMM" immwidth="1"/>`.

[2021-07-16 09:24] waterlens commented on #86499
@rustbot claim

[2021-07-16 09:28] pietroalbini commented on #85895
Actually, now that I think about it the best way to implement this in Crater would be to add a new "toolchain flag" that runs `cargo fix --edition`, allowing you to define a toolchain like `try#1234567890abcdef+edition-fix`. That way you'd run the experiment between `try#1234567890abcdef` and `try#1234567890abcdef+edition-fix`, and you could use all the existing modes on top of that (`check-only`,

[2021-07-16 09:28] #86620 closed

[2021-07-16 09:47] csmoe commented on #84175
https://github.com/rust-lang/rust/pull/68414 seems already shared there? @bjorn3

[2021-07-16 10:36] safinaskar opened #87186 "Not detailed error message when trying to move self-referential vector"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=30b9592e45402507ee43723a5ddd6146

[code]

The current output is:

[code]

I used 1.55.0-nightly, Rust 2018.

This code, of course, should not work. But error message is too small. The error says "borrow later used here", but it doesn't explain how the borrow used there.

The message surely doesn't pr

[2021-07-16 10:44] bjorn3 commented on #84175
[code]

The `core::ptr::drop_in_place<lib::Foo>` shouldn't be codegened in `main`, but in `liblib.so` if `-Zshare-generics` is used. The `<lib::Foo as core::ops::Drop>::drop` is codegened in `liblib.so` as intended though.

[2021-07-16 11:33] RalfJung commented on #57349
I am honestly not sure of the status here. AFAIK mutable refs inside `const fn` are okay(-ish), but to permit `&mut` in a `const`/`static` body we need to use the same analysis as `const_refs_to_cell`. This might or might not be already implemented for mutable references, and if it is then the same concerns as with `const_refs_to_cell` apply.

@oli-obk hopefully knows more than I do. :D

[2021-07-16 11:41] oli-obk commented on #87184
I prefer the status quo over this, even if it would make debugging easier. We could consider emitting a lint though.

That seems like we're treating this as UB or at least unspecified behaviour and doing something random that we can change in the future. I don't like it much. It will also cause differences between the runtime and compile-time behaviour of const fns

preferrable, but yea, a perf pr

[2021-07-16 11:56] RalfJung commented on #87184
Well, we already treat it as UB to overwrite some bytes of a pointer and then inspect the remaining bytes. So we already have a difference between runtime and compile-time behavior of `const fn`. The goal of this proposal is to make it more obvious when the proposal arises: throwing a "const-unsupported" error seems like a reasonable signal to indicate things that work differently between compile-

[2021-07-16 12:09] #87144 closed

[2021-07-16 12:09] #87097 closed

[2021-07-16 12:40] oli-obk commented on #87184
well... we can keep CTFE doing simple things and give Miri the ability to go crazy via more `Machine` shenanigans.

[2021-07-16 12:45] SkiFire13 commented on #81513
Would it be possible to have `*const T` be the data component for this pointers and slice pointers and `*const ()`/`*const !`/`*const u8`/other the data component for trait objects?

[2021-07-16 12:53] SimonSapin commented on #81513
That would require another automagic associated type like `Metadata`. It’s possible but not simple.

Regarding `*const !` specifically, I don’t think it would be appropriate here. There can be no value of type `!`, so a `*const !` has the semantics of never point to a valid value. However we want the data pointer of `&dyn SomeTrait` to be very much pointing to a valid value, just one of specified

[2021-07-16 13:03] oli-obk commented on #57349
We allow mutable references and immutable cell references in all const contexts now. The problems mentioned for `const_refs_to_cell` apply to mutable references as follows

* `static mut FOO: &'static mut i32 = &mut 42;` is problematic, because LLVM currently duplicates the inner mutable reference when you do `static mut BAR: &'static mut i32 = FOO;`. This is not the expected behaviour, but we cou

[2021-07-16 13:55] richkadel opened #87189 "std::assert::assert_matches! module name conflicts with std::assert! macro name"
https://github.com/rust-lang/rust/pull/86947 recently landed, but in some situations, compiling with code that references both the `std::assert` macro and the `assert_matches` macro creates a name collision (at best, confusing error messages when `std::assert` appears to be feature gated, but there are other more complicated errors that are harder to workaround).

The new `assert` _module name_ is

[2021-07-16 15:39] eddyb commented on #60705
Initial mangling implementation (and grammar) up at #87194 - I spent more time convincing myself that I couldn't cut certain corners in the grammar, writing the comments for it, and refactoring the current handling of placeholders (which is in a separate commit), than adding the new support.

That's mostly because `deref_const` and `destructure_const` already exist, and have been around for a few

[2021-07-16 15:41] eddyb commented on #61486
First attempt at previously suggested constant value mangling approaches, is now up at #87194 (including grammar).

[2021-07-16 16:05] Manishearth commented on #79710
Yeah, but triple backticks is also for preformatted text without further markup, so you won't be able to e.g. use text formatting (or other code) in there

[2021-07-16 16:43] estebank opened #87197 "Suggest `;` on parse error when applicable"
[Given the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5c83c78479ee9e0edd87b032e91d2200):

[code]

The current output is:

[code]

We should detect cases where a semicolon would be appropriate (probe that the current token and maybe limited lookahead confirm that what comes next could be a valid statement on its own) and suggest a semicolon. [If there is

[2021-07-16 16:44] nikomatsakis commented on #86940
@Pyther99 great! Let us know if you need anything or make progress. This issue is fairly time sensitive.

[2021-07-16 16:46] matthieu-m commented on #81513
I realized that the question I raised about having `<T as Pointee>::Metadata` being a strong type (and kinda forgot about, sorry) never quite got an answer. For reference https://github.com/rust-lang/rust/issues/81513#issuecomment-779353340 .

Summing it up: when experimenting with the Storage API, it came up that in order for `Box<T>` to be coercible into `Box<U>`, I needed:

    <T as Pointee>::

[2021-07-16 16:50] RalfJung commented on #87184
Propagating the `Machine` so far down into `Allocation` is non-trivial. It certainly will mean a lot *more* work to implement than just doing it for both CTFE and Miri.^^

[2021-07-16 16:59] GuillaumeGomez commented on #79710
True... Finding the right syntax is much more complicated than expected...

[2021-07-16 17:01] oli-obk commented on #87184
don't we already do that with `AllocExtra`?

[2021-07-16 17:09] tmandry commented on #69663
@rustbot assign @eholk

[2021-07-16 17:09] RalfJung commented on #87184
I removed that with my previous PR. ;) (And I am glad I did.)

[2021-07-16 17:11] RalfJung commented on #87184
We could just always have that table, and have a boolean flag in `Provenance` to determine if it is used. So CTFE would have zero perf cost (just a tiny bit of space cost).

But honestly I think there's no good reason CTFE shouldn't implement this the right way -- as long as that doesn't cause slowdown for code not needing this feature.

[2021-07-16 17:12] r00ster91 commented on #52811
Has the Dragonbox algorithm ever been discussed? https://github.com/jk-jeon/dragonbox/
From https://github.com/jk-jeon/dragonbox/#performance:

It looks like if the float to string conversion algorithm is going to be rewritten, the Dragonbox algorithm might be an even better candidate than Ryu.

[2021-07-16 17:13] oli-obk commented on #87184
yea that's true. I'm not going to stop you from pursuing this, it just seems like quite a bit of work and lots of performance tuning

[2021-07-16 17:13] estebank commented on #87181
We should [suggest writing `(self.0)()`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fac439b4d516b3f36ad4302e6c40087d) like we already do if you write `self.0()`.

You'll want to look at this file

https://github.com/rust-lang/rust/blob/2119976c492894b72287f08865c71d63cff8d471/compiler/rustc_typeck/src/astconv/mod.rs#L1714-L1751

and a check to see if `qself_ty` is a c

[2021-07-16 17:17] ibraheemdev commented on #63768
I was recently surprised by this not compiling:
[code]
But this working just fine:
[code]

Even more surprisingly, this doesn't work either:
[code]

[2021-07-16 17:23] Amanieu commented on #35735
It doesn't seem like the customized version of SipHash brings any performance improvement over what we already have, so I'm just going to close this.

[2021-07-16 17:23] #35735 closed

[2021-07-16 17:31] ibraheemdev opened #87199 "All relaxed bounds are assumed to be ?Sized"
[code]
[code]

[2021-07-16 17:33] estebank commented on #86102
@jeanlucthumm, can you make the lexer give back a new placeholder identifier? I would love it if we could get rid of the "expected pattern, found `=`" superfluous error.

You could also tweak the output to be closer to

[code]

If we have graceful recovery, we might also want to handle things like

[code]

where we would hopefully only have the lexer errors and nothing else.

[2021-07-16 18:08] tema3210 commented on #60471
Any news?

[2021-07-16 19:07] camelid opened #87202 "rustdoc: Regression in width of stability (etc.) banners"
I'm not sure if this change is intentional or not, but I thought it's worth reporting in case it's a bug.

### [nightly](https://doc.rust-lang.org/nightly/core/arch/x86_64/fn._mm256_mask_extracti32x4_epi32.html) (incorrect)

![image](https://user-images.githubusercontent.com/37223377/125996784-93e94c8f-ed56-46bf-b2fe-54dea785a800.png)

### [beta](https://doc.rust-lang.org/beta/core/arch/x86_64/fn.

[2021-07-16 19:07] camelid commented on #87202
cc @rust-lang/rustdoc

[2021-07-16 19:22] estebank commented on #87169
You can fix this by using a `span_suggestion_verbose` instead of `span_suggestion`. It'll take more vertical space, but it's ok.

[2021-07-16 20:27] Manishearth commented on #87202
I don't think so!

[2021-07-16 20:53] tamird commented on #76483
Reached this as well and found the same problem with Result; not even the standard library compiles because of the same inference failure that @cuviper reports above.

[code]

[2021-07-16 20:54] mont1985 opened #87204 "#``"
#``

_Originally posted by @mont1985 in https://github.com/rust-lang/rust-bindgen/issues/738#issuecomment-881712584_

[2021-07-16 21:26] jedel1043 commented on #81487
Minimized:

[code]

[2021-07-16 21:28] SimonSapin commented on #81513
Nope, that’s also a breaking change. A downstream crate might have separate `impl`s for one of their trait. If the two types are later unified, those impls start colliding.

[2021-07-16 21:38] ehuss commented on #85895
I have prepared a hacked cargo that should work: https://github.com/ehuss/cargo/commit/e32d9d54c8dfbe0c890cb88c327e22d05399313c

Another snag I ran into was that crater runs with a read-only filesystem.  The source needs to be writeable to apply any fixes. The hack copies the source to `/tmp` to work around that.  I'm uncertain if that will cause problems, but I think it should work (at least it s

[2021-07-16 21:44] #87204 closed

[2021-07-16 21:47] patrickfreed commented on #87012
I went ahead and commented each test out in chunks until they were all commented out and saw no meaningful change, which means the slowdown is somewhere in the test harness code rather than the tests themselves.

Digging further, I managed to find that it's likely due to a large number of of `#[async_trait]` implementations (which is in line with `evaluate_obligation` being related to determining

[2021-07-16 21:54] #75243 closed

[2021-07-16 21:54] #87172 closed

[2021-07-16 21:54] #85592 closed

[2021-07-17 00:21] ricobbe commented on #58713
Current state of this work:
  * we emit idata sections for lib crates
  * we support cdecl, stdcall, and fastcall, but not vectorcall
  * @kennykerr is starting to use the feature in the `windows` crate under a feature flag

We believe the work has progress far enough for the `winapi` crate to begin using it under a feature flag.

As the work so far provides a lot of functionality for Rust devs tr

[2021-07-17 00:24] tinaun commented on #58713
the major missing feature is ordinal imports, right?

[2021-07-17 00:40] camelid commented on #86631
triage: It looks like #87035 has been merged now.

[2021-07-17 00:55] ricobbe commented on #58713
That's correct, yes.

[2021-07-17 01:59] programmerjake opened #87208 "Associated type not resolved based on lifetimes"
I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d9dd02dbc642c719d6a984f0e4dd91fb
[code]

I expected to see this happen: compile without errors.

Instead, this happened:
[code]

related: https://users.rust-lang.org/t/compile-failing-even-though-it-seems-like-it-should-work/62409?u=programmerjake

[2021-07-17 04:31] wrnrlr opened #87209 "expected bits of [u32; 4], got Const"
### Code

There is not much info in backtrace on where the problem originates so you'll have to build my entire project.

It probably has something todo with my use of `std_simd`, I also used to use the `fn_traits` but I turned it off to rule this out.

The project is very much still a WIP, many `todo!()`, but now I am stuck with this cryptic error.

[code]

### Meta

My project uses the experimen

[2021-07-17 04:51] kennykerr commented on #58713
It works marvelously. Ship it! 😎

[2021-07-17 05:13] est31 commented on #58713
@ricobbe I remember the PR which added initial support only added support for the proprietary msvc toolchain. Does it work with the GNU toolchain yet? Does it work with LLD?

[2021-07-17 05:22] b41sh commented on #87169
@rustbot claim

[2021-07-17 06:44] richkadel commented on #87189
Fixed by #87195

[2021-07-17 06:44] #87189 closed

[2021-07-17 07:26] yotamofek commented on #87209
IMHO, this looks like a duplicate of #86893 , try running it with the latest nightly (your traceback says you are using the nightly from `2021-07-05`).

[2021-07-17 09:32] GuillaumeGomez commented on #87169
@estebank It's a bit different here because we create the spans ourselves because they come from inside a doc comment. So I'm sure if your suggestion will work out.

Also, in here it's `src/test/rustdoc-ui`, not `src/test/ui` (but otherwise it's the same). ;)

[2021-07-17 09:34] GuillaumeGomez commented on #87202
We found it out with @dns2utf8 and we weren't sure whether it was good or not (from a "look" point of view) and simply decided to wait and see if people liked it or not. So, should we revert it or not? :)

[2021-07-17 10:06] masklinn commented on #79710
That's the issue of using markdown, for all that it has a pretty nice baseline syntax it really was not designed for extensibility.

[2021-07-17 10:07] hi-rustin commented on #87181
@rustbot claim

[2021-07-17 10:13] Darksonn opened #87211 "Confusing error: Immutable reference to future is not a future"
Given the following code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b7adade3c7dd34b220454c8c4a3b5fc8)

The current output is:

[code]

---

Given the following code:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=78cfe7a15e3cbd16ae65d7918743050c)

The current output is:
[code]

---

Given the following

[2021-07-17 10:15] #86017 closed

[2021-07-17 10:19] John2143 opened #87212 "Add hint to correct `Vec::append` into `Vec::push` when the wrong method is used."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a6f4c87ca812c201bfb57ef861c4d919

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

There should be some kind of suggestion to use `push` when a value `T` is incorrectly `append`-ed onto a `Vec<T>`. This likely only trips up newcomers to rust, but I know a fair numb

[2021-07-17 10:27] moxian commented on #87202
As a random person on the internet, I prefer the old look better. Although I admit that's at least partially due to familiarity with it.

[2021-07-17 10:28] GuillaumeGomez commented on #79710
We can always use `<warning>`: it'd allow to have text formatting inside it.

[2021-07-17 10:42] nickfarrow commented on #49146
I was able to fix this error by running `rustup update`

[2021-07-17 10:54] avl opened #87213 "Possible regression with llvm 12"
I'm developing a largeish rust-application. I'm using a few nightly features, and recently I upgraded to the latest nightly.

This caused my application to crash at start up. The problem manifests as a segfault. It only occurs in release-mode. The crash location is somewhere in glium::uniforms::UniformBuffer::empty_unsized_persistent (of the glium graphics library).

I used cargo bisect rustc to p

[2021-07-17 11:04] SkiFire13 commented on #87212
If it's just changing the documentation you can do it here:
https://github.com/rust-lang/rust/blob/153df0f6ef0f3ff00b12122774825507fd88169f/library/alloc/src/vec/mod.rs#L1693-L1716

[2021-07-17 11:14] oli-obk commented on #85484
Closing as it is working as expected and there is a trivial workaround (use raw pointers)

[2021-07-17 11:14] #85484 closed

[2021-07-17 11:19] leonardo-m commented on #87212
append is used in Python, so this could be a common enough mistake.

[2021-07-17 11:20] oli-obk commented on #14007
We could probably add a Map<InferTy, Span> to InferCtxt and look at it whenever we encounter an error during inference. Though we may want to look at something that also works for concrete types, showing us where the type came from for all type mismatch errors.

[2021-07-17 11:21] leonardo-m commented on #87213
Have you tried to compile it with `-Z mutable-noalias=no` ?

[2021-07-17 11:33] pietroalbini commented on #82465
This has been fixed by https://github.com/rust-lang/rust/pull/84867 on 1.54 too.

[2021-07-17 11:33] #82465 closed

[2021-07-17 12:05] crumblingstatue opened #87215 "Address sanitizer false positive when calling FFI function"
When calling an extern C function with a specific signature, -Zsanitize=address reports a false positive error.
I included a C version of calling the same function in the same way, which reports no error.

Seems to only trigger with opt-level=0. If the Rust version is built with opt-level=1 or above, no error gets reported.

mytestlib.h:
[code]
mytestlib.c:
[code]
cver.c:
[code]
rustver.rs:
[code]

[2021-07-17 12:13] dunmengjun opened #87216 "The code cannot run in version 1.55, but it can run in version 1.51"
Environment required:

When everything above is ok，you can run cargo build to build the elf file，and  use
[code]
to run the elf program in qemu.

Currently the version of rust toolchain is the nightly newest (1.55), so you will get an error that
[code]

But if you change the toolchain to nightly-2021-01-30 (1.51), Just make this change, don’t change other things. the command will be running correc

[2021-07-17 12:55] Alexendoo commented on #82956
No longer ICEs since #86993

[2021-07-17 12:59] RalfJung commented on #57349
For unsafe primitives it is even more important than for safe ones that their behavior makes sense, since we don't have the type system doesn't help us get it right. So I very strongly object to the sentiment "it's unsafe so we don't care if it's behavior is broken".

And "broken" is the only description I can have for this kind of behavior. Furthermore, as you said yourself it also affects shared

[2021-07-17 13:00] poliorcetics opened #87217 "Confusing diagnostic for inversion of `extern "..."` and `unsafe` in function decl"
Given the following code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1b788bae1dfa4ef4ab19acad7284c2e1)):

[code]

The current output is:

[code]

Ideally the output should look like the one for inverting `unsafe` and a visibility like `pub`:

[code]

Meta `rustc -V`:

[code]

[2021-07-17 13:01] poliorcetics commented on #87217
Addition: this works with visibilities coming after `extern "..."` too:

[code]

[2021-07-17 13:03] RalfJung commented on #57349
We just don't allow that, right? The really problematic cases I think are things like
[code]
but it actually catches that.

[2021-07-17 13:29] Alexendoo commented on #77179
The original no longer ICEs since #87200, however the following does

[code]

Maybe a different ICE?

[code]

[2021-07-17 13:37] avl commented on #87213
I tried that now. It appears to make no difference.

[2021-07-17 13:41] hi-rustin commented on #87181
I may not have the time these days, maybe others would like to try and unassign myself.

[2021-07-17 13:43] mati865 commented on #58713
@est31 it works for `windows-gnu` when using LLD but doesn't work with the default BFD linker.

[2021-07-17 13:56] Aaron1011 commented on #87216
This runs correctly for me under qemu-riscv64 6.0.0. Can you try updating your qemu version?

[2021-07-17 14:03] apiraino commented on #87202
Assigning priority as discussed in the [Zulip thread](https://zulip-archive.rust-lang.org/245100tcompilerwgprioritizationalerts/3151587202rustdocRegressioninwidthofstabilityetcban.html) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-07-17 14:04] oli-obk commented on #57349
Sorry, I meant, static mut is frequenly unsound already and should be deprecated anyway: https://github.com/rust-lang/rust/issues/53639

[2021-07-17 14:05] oli-obk commented on #57349
No, borrowck would end up with unsoundness if we removed all storagedead. It must know when things are finished. Maybe it would not be unsound, but it would at least be a breaking change because suddenly borrowck things change in weird ways.

[2021-07-17 14:13] matthiaskrgr opened #87218 "ICE: assertion failed: self.is_free_or_static(r_a) && self.is_free_or_static(r_b), glacier fixed/74761.rs with --emit=mir -Zsave-analysis"
### Code
code from glacier fixed/74761.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  /home/matthias/vcs/github/glacier/fixed/74761.rs --emit=mir -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-17 14:17] matthiaskrgr commented on #87218
cargo-bisect says `Regression in nightly-2021-07-16` but was not able to bisect the PR for some reason. :/

[2021-07-17 14:21] matthiaskrgr opened #87219 "ICE: assertion failed: !ty.has_vars_bound_at_or_above() , glacier fixed/76826.rs with --emit=mir -Zpolymorphize=on"
### Code
code from glacier  fixed/76826.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc glacier/fixed/76826.rs --emit=mir -Zpolymorphize=on `
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-17 14:49] khang00 commented on #87197
@rustbot claim

[2021-07-17 15:13] Manishearth commented on #79710
I would use `div class=warning`, it's not quite kosher to invent arbitrary HTML tags (though you can use Custom Elements, which is more heavyweight)

[2021-07-17 15:26] #31407 closed

[2021-07-17 15:26] #85198 closed

[2021-07-17 15:26] #85214 closed

[2021-07-17 15:26] #53015 closed

[2021-07-17 15:26] #85234 closed

[2021-07-17 15:35] avl commented on #87213
Ok, I've investigated this some more.

I think this code is probably UB:

[code]

at

https://github.com/glium/glium/blob/2ff5a35f6b097889c154b42ad0233c6cdc6942f4/src/macros.rs

Is it plausible that this code was never valid, but recent LLVM now causes it to fail in practice, when previously it worked by accident?

[2021-07-17 15:41] AuroransSolis commented on #82956
I know it's not a proper test, but all tests in the crate mentioned in the opening message for this issue pass now.

[2021-07-17 15:54] Manishearth commented on #87202
@GuillaumeGomez I would revert it

[2021-07-17 16:10] poliorcetics commented on #87217
@rustbot claim

[2021-07-17 16:17] jackh726 commented on #87219
Yep, I suppose this is expected. This is caused by https://github.com/rust-lang/rust/blob/f502bd3abd12111bbfae0974db018c165a977c0e/compiler/rustc_middle/src/ty/layout.rs#L2486.

While this doesn't have the `generic_associated_types` feature gate, it isn't a GATs issue. It's due to how we're handling bound vars (in GATs right now, but soon everywhere). The current design of `normalize_erasing_regio

[2021-07-17 16:24] jackh726 commented on #87218
One option that this could have come from is #86993, which we now we fold through with bound vars (which isn't free or static).

But, could also be #87200.

[2021-07-17 16:29] jackh726 commented on #87208
Possibly fixed by #85499 (but is the same cause)

[2021-07-17 16:35] estebank commented on #87169
@GuillaumeGomez thanks for the correction!

As long as the span was synthesized correctly (including what side of a char the boundary falls on), then just changing the method will work as expected.

[2021-07-17 17:12] dunmengjun commented on #87216
@Aaron1011 thanks very mush，you provided me with ideas

In fact, qemu only needs to be upgraded to 5.2.0. because I have another lower-level program running on bare metal, this program is guided by rustsbi, and rustsbi currently does not support 6.0.0.

Thank you again for providing me with ideas

For the question, i gu, my guess is that qemu5.0.0 has a bug, which was fixed in 5.2.0. However, rust

[2021-07-17 17:13] #87216 closed

[2021-07-17 17:23] GuillaumeGomez commented on #87202
I'll change the look then.

[2021-07-17 17:38] tmiasko commented on #87215
Thanks for reporting. opt-level >= 1 usually workarounds the issue as you observed.

Duplicate of #75839

[2021-07-17 17:42] GuillaumeGomez commented on #87169
I had in mind to simply update the span instead in case the string was starting and ending with backticks.

[2021-07-17 17:57] rust-highfive opened #87222 "`miri` no longer builds after rust-lang/rust#87123"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#87123, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-07-17 18:03] bjorn3 opened #87223 "Include function signature hash in v0 mangled names"
Currently v0 mangled names don't change when the function abi changes unlike legacy symbol names. This makes it easy to use a rust dynamic library with an incompatible abi at runtime when trying to update rust dynamic libraries the same way as C dynamic libraries for example by a distro. This may work out fine, but it may also cause crashes or exploitable bugs. There is a test for this, but for so

[2021-07-17 18:15] RalfJung commented on #87222
Fix already prepared at https://github.com/rust-lang/miri/pull/1851

[2021-07-17 18:24] GuillaumeGomez commented on #79710
Sounds good to me. It's funny because we kinda came back to the [starting point](https://github.com/rust-lang/rust/pull/79677). :rofl:

[2021-07-17 18:28] mcy opened #87226 "Pretty-printing of `Fn*` traits in diagnostics leaks unstable details"
[code]

The current output is:

[code]

Ideally the output should look like:

Same as above, but `Fn<(i32, i32)>` should be `Fn(i32, i32) -> i32`.

Compare with a fnptr instead of a closure:
[code]

Seems like it would be straightforward to special case `core::ops::Fn*` et. al., especially since they're lang items. For cases when `Output` is not specified (nightly-only), we can write the return ty

[2021-07-17 18:31] mcy commented on #87226
Interestingly, rustc *does* prettyprint the trait object *type* correctly:
[code]

[2021-07-17 18:37] jyn514 commented on #87169
@GuillaumeGomez look at the code that's already there: https://github.com/rust-lang/rust/blob/c49895d9049f67e07e297ee487836a587f69690e/src/librustdoc/passes/collect_intra_doc_links.rs#L2104-L2108
If you think this shouldn't use `verbose`, remove that instead. But I think it's better to show backticks if the user had them there originally.

[2021-07-17 18:43] wrnrlr commented on #87209
Yes you are right, I was using an old version of the nightly release, I did run  `rustup update` buit for some reason this did not update the nightly release, anyway did a uninstall and install and now it is building without any problem

[2021-07-17 18:43] #87209 closed

[2021-07-17 18:49] GuillaumeGomez commented on #87169
We can take advantage of the span to exclude the backticks from the underlining, so then we can avoid displaying the backticks twice in the suggestion. As for the how, I guess it's fine as long as we get the output we want.

[2021-07-17 18:51] Mark-Simulacrum commented on #87213
Yes, that code is definitely UB; it's creating null-pointing references. Seems plausible LLVM started exploiting it (perhaps even due to inlining changes or something like that).

[2021-07-17 19:34] bstrie opened #87228 "Decide whether `asm!` and/or `global_asm!` should be exported from the prelude."
In https://github.com/rust-lang/rust/issues/84019 it was decided that `asm!` and `global_asm!` should be defined in `core::arch` rather than be defined in the crate root. Whereas anything defined in the crate root is essentially "in the prelude" by necessity, being defined elsewhere means that we have the option of deciding whether or not these macros should be exported from the prelude.

In the o

[2021-07-17 19:37] bstrie commented on #72016
I've filed https://github.com/rust-lang/rust/issues/87228 for tracking whether or not `asm!` etc. should be exported from the prelude. However, I think this does not block an MVP, as it would be possible to only stabilize the items exported from `core::arch` at first and defer the prelude decision for later.

[2021-07-17 20:12] avl commented on #87213
Thanks for your reply! Glium is a reasonably popular library. I'm not a maintainer or anything, but I'd really like to help fix it.

I'd be very happy for any pointers on how to do this.

I notice that the following code seems to work:

[code]

Note the use of 1usize instead of 0usize.

It doesn't really feel right, but would that be an acceptable fix? Or is it just inviting more problems down the

[2021-07-17 21:01] extrawurst commented on #37748
Ran into this too now. Unfortunately my project is a rather big backend service using warp. hard to boil down a reproduction. it started to appear wafter upgrading to rust 1.53

[2021-07-17 21:02] avl commented on #87213
Ok, I think this issue should be closed. There's nothing wrong with rustc here. The unsafe code in question was always UB.

I've created a PR against glium: https://github.com/glium/glium/pull/1950 . It's still UB, but works again.

[2021-07-17 21:02] #87213 closed

[2021-07-17 22:04] Ericson2314 commented on #44663
@Eh2406 in https://github.com/rust-lang/rfcs/pull/3146#issuecomment-881957976 wrote

Is more written about this? It definitely does make it harder, but I am surprised it is so bad in practice when Cabal etc. do this today. Were you ret-conning existing deps as public deps? (I thought the plan was to keep them private which I have my doubts about but which I thought would not suddenly increase the

[2021-07-17 22:06] amalik18 commented on #87197
Where would this stuff be contained?

[2021-07-17 22:10] GuillaumeGomez opened #87231 "table content is displayed in short doc blocks whereas it shouldn't"
A picture of the issue:

![Screenshot from 2021-07-18 00-01-53](https://user-images.githubusercontent.com/3050060/126050331-cbade09d-3b1b-43a7-9c0a-9abfa1c69a65.png)

I found it when working on #87230.

[2021-07-17 22:19] inquisitivecrystal commented on #87202
I think I like the new look better, but it's a slight preference and I seem to be outvoted. :)

[2021-07-17 22:27] jyn514 commented on #87202
I don't think we should be changing the UI by accident. I'm open to a discussion in changing it, but it shouldn't have changed without a discussion, so we should change it back in the meantime.

[2021-07-17 23:05] GuillaumeGomez commented on #87202
Agreed. I'll send a fix in the next two days.

[2021-07-17 23:35] x1tan commented on #87157
My current workaround: using a custom target with `"is-like-msvc": false` builds PEs with the debug sections in place.

[2021-07-18 00:07] ahicks92 commented on #87059
Per comments in #87207, here's some more clarity on how the navigation falls apart so that we can explore solution spaces.

First, some background: screen readers offer functionality called first-letter navigation, which lets you do things like hit b for next button and shift+b for previous button.  Most of these are that simple, but there's an exception: headings get mapped typically to h, but sp

[2021-07-18 00:37] estebank commented on #66523
The only thing I'd change it so change "item's body" with "`bar`'s body" or "the function's body", but otherwise this is good enough to close the ticket.

[2021-07-18 00:37] #66523 closed

[2021-07-18 01:02] notriddle commented on #87059
https://a11ysupport.io/tests/tech__html__details-summary

[2021-07-18 02:03] orlp opened #87238 "Option and Result are missing documentation on their internal order"
`Option<T>` where `T: Ord` implements `Ord` (and similarly for `PartialOrd`), but as far as I can see the order it uses isn't documented anywhere. You have to read the source to find out that its `Ord` implementation is `derive`d, and that `None` comes before `Some` in the `enum` declaration thus `None` sorts before `Some`. I think that should be documented.

The same issue also appears to apply t

[2021-07-18 02:58] gheoan opened #87239 "Unreachable code warning missing at if expression with false condition"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6526368602dd7742a2bd1d988fe03f66

[code]

The current output is: nothing
Can be reproduced on versions 1.55-nightly and 1.53.

Ideally this code should trigger the `unreachable_code` lint at least in the case when an integer variable is compared with itself, to prevent mistakes such as typos.
AFAIK, t

[2021-07-18 03:06] cceckman opened #87240 "Constructing `Option<&'static dyn T>::None` in a `const fn` requires `const_fn_trait_bounds`"
Thank you for continuing to improve Rust!

---

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=368bc1495ce529ba04b340a6b6f4823e)

[code]

The current output is:

[code]

After reading this message and reading #57563, I'm not sure **what trait bound is a problem**. The code that is literally written here does not have any trait bounds

[2021-07-18 03:16] cceckman commented on #87240
It looks like https://github.com/rust-lang/rust/issues/64992 has more context:

matches my experimentation above.

I see #85078 is marked as 1.54.0; however, [this example](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=003727a9f24f80f198eee4821016c753) still fails to compile on beta.

I see [const_eval](https://doc.rust-lang.org/nightly/reference/const_eval.html) says:

Per

[2021-07-18 03:40] mcy opened #87241 "Inferred struct lifetime bounds result in bad diagnostics around HRTBs"
Given the following code: https://godbolt.org/z/he33YcxPM

[code]

The current output is the default borrow check diagnostic.

[code]

This code can be made to compile (ht @Manishearth) by observing that the compiler infers `'b: 'a` for `C<'a, 'b>`:

[code]

It would be useful for rustc to suggest this fix, but it looks a bit hard to find. Either way, this one puzzled me for several hours until I

[2021-07-18 03:46] mcy commented on #87241
Upon inspecting this closer, the fix is *not* correct, because a lifetime that was one HRTB is now a normal lifetime parameter, making the type signature strictly less general. In fact, this code cannot be written at all in current Rust:

[code]

Either way, this seems like a place where the diagnostic could be better.

[2021-07-18 03:57] Manishearth commented on #87241
I think one of the underlying issues is that, like variance, the inferred lifetime bounds for `C<'a, 'b: 'a>` should _probably_ be included in the diagnostic since it is a part of the bug. This is another one of those cases of rustc figuring something out implicitly that is not immediately obvious and can lead to confusing error messages.

cc @estebank

[2021-07-18 04:54] #83760 closed

[2021-07-18 05:50] programmerjake opened #87243 "Change rustc's AST to support formatting code around unrecognized literals"
From https://github.com/rust-lang/rustfmt/issues/4901:

I think this can be achieved by changing rustc's AST to produce a formattible expression AST even when a literal isn't recognized.

This also has benefits around future-proofing, allowing an old rustfmt to work on a later version of Rust code that added additional literal types (like `123u20` or (`format_args!` literal) `f"abc{var}"`).

[2021-07-18 07:20] IQBigBang opened #87245 "Type inference for the `!` type behaves unexpectedly"
In summary, for the following code:

[code]

The first function compiles (and then obviously fails at runtime), but the second one doesn't compile and produces the following message:

[code]

Which is wrong, because the type of `m` should be `!`.

Adding any sort of type constraints, such as the following, makes the code pass the type-checker:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-07-18 08:15] #86395 closed

[2021-07-18 08:36] hi-rustin commented on #87181
@rustbot claim

[2021-07-18 08:48] inquisitivecrystal commented on #87245
Is this actually a bug? Obtaining a value of a value of type ! is [undefined behavior](https://doc.rust-lang.org/reference/behavior-considered-undefined.html). As I understand it, that means we're not obliged to compile a program that tries to do it, though I could be mistaken.

[2021-07-18 08:48] RalfJung commented on #57349
It has been proposed for deprecation several times, but has not actually been deprecated as such, so I don't think we can treat it as such.

Hm, I see.
But the structure of borrowck will change a lot with Polonius, and it is not at all clear if the approach we currently have can be ported to the logic programming approach of Polonius.

This is the thing that I have no confidence will actually be p

[2021-07-18 09:55] r00ster91 opened #87249 "Speed up string to integer conversion too"
Now that #86761 is merged, it might be worth looking in other places too where potentially faster conversion algorithms can be used. This page has quite a lot of them:
https://johnnylee-sde.github.io/
One of them is this string to integer conversion algorithm: https://johnnylee-sde.github.io/Fast-numeric-string-to-int/
This algorithm is also used and mention in #86761 under **Digit Parsing Improve

[2021-07-18 10:01] hniksic commented on #60551
I encountered this limitation, and it makes const generics much harder to apply to my use case, where the behavior of a large chunk of code is fully customized by the trait. Customization normally includes associated types, and should also be able to include associated constants to be used in const generics. For example:

[code]

I understand that there are issues to resolve with the more general

[2021-07-18 10:42] #63355 closed

[2021-07-18 10:42] #86781 closed

[2021-07-18 10:42] #86820 closed

[2021-07-18 10:42] #87084 closed

[2021-07-18 10:55] RalfJung commented on #87067
That sounds reasonable.

So the point is that *if `b == a` would type-check then it would be required to hold (and then `a != b` would be forbidden), but there is a "gap" in the chain and thus this fails to be disallowed?

This still requires `C` to have a clearly weird notion of equality though, doesn't it? Namely it depends on the crate defining `A` and `B` and provides a way to (transitively) c

[2021-07-18 10:57] RalfJung commented on #87038
Does rustdoc have its own printing code for constants or is it using the MIR pretty-printer?

[2021-07-18 11:26] eddyb commented on #57349
That's just the part that reasons about "regions" of code for which a borrow is held, isn't it? The special nature of `Drop` terminators and `StorageDead` terminators would still be preserved, where e.g. a variable is considered uninitialized after either.

AFAIK MIR will not change for Polonius, the logic constraints are computed from MIR within the confines of the borrowck analysis (just as toda

[2021-07-18 11:28] eddyb commented on #14007
@oli-obk That effectively already exists, and is called the "origin" of the inference variable, and is already used by diagnostics.
What might be missing is more fine-grained/details "origins" and diagnostic logic to use them.

[2021-07-18 11:33] eddyb commented on #14007
However, what's *really* lacking (and for good reasons - i.e. performance), is a "log" of unifications - you may end up with an inference variable, but have no clue as to what else it got unified with, on your way there.

IMO the way to have our cake and eat it too would be to add a generic parameter to `InferCtxt` and the typeck contexts that use it, that decides whether this is a "fast / inferen

[2021-07-18 12:07] IQBigBang commented on #87245
Even if code may exhibit undefined behavior at runtime, I feel like it should still be able to compile if it's type correct which IMHO this code is. Although feel free to correct me if I'm wrong, I'm no expert.

[2021-07-18 12:19] Oliboy50 commented on #66079
👍 I think that this kind of tool could help to solve [such issue](https://github.com/awslabs/aws-sdk-rust/issues/156)

[2021-07-18 12:21] crlf0710 opened #87253 "Make `VtblEntry::MetadataDropInPlace` carry `Instance` value."
This is mentioned in https://github.com/rust-lang/rust/pull/86461#discussion_r671802401 .

It will make `MetadataDropInPlace` more like `Method`, and be handled more consistently.

[2021-07-18 12:23] crlf0710 commented on #87253
blocked on #86461

[2021-07-18 12:28] Oliboy50 commented on #72081
related issue: https://github.com/awslabs/aws-sdk-rust/issues/156

[2021-07-18 12:35] steffahn commented on #87067
Yes

That’s true…

I agree, intuitively it’s clear

My problem is perhaps more the problem that I’m not even sure if there exists a way to make it watertight without contradictions at all. And even if there is a way there might be multiple ways to make this mathematically accurate and watertight. And then one crate creator could intuitively have one understanding of the rules while another one cou

[2021-07-18 13:19] JohnTitor commented on #86528
Triage: #86761 _removed_ the ICE but it doesn't seem like an actual fix. Any other examples to reproduce it?

[2021-07-18 13:19] RalfJung commented on #87067
Yeah I agree it's not entirely trivial. Basically, instead of reasoning about the impls that currently exist, you have to reason about the impls that might exist in the future -- "For all legal supersets of the current set of implemented traits, if `A: PartialEq<B>` and `B: PartialEq<C>` and `A: PartialEq<C>`, then ..."

This can be made precise with a "multiple worlds" kinds of model -- coherence

[2021-07-18 13:41] huangjj27 commented on #87249
How to do this in the condition of String with non-numeric characters? for example, we have to consider things like "x1234" or  "0x234"

[2021-07-18 14:21] jyn514 commented on #86528
This still ICEs on docs.rs.
[code]

<details><summary>Backtrace</summary>

[code]

</details>

[2021-07-18 14:35] r00ster91 commented on #87249
I don't think `from_str_radix` or `parse` (which uses `from_str_radix` internally) consider such prefixes. Neither `u8::from_str_radix("xFF", 16)` nor `u8::from_str_radix("0xFF", 16)` work (but `u8::from_str_radix("FF", 16)` does).
Prefixes that it does consider are `+` and `-`: https://doc.rust-lang.org/src/core/num/mod.rs.html#865 (or no prefix).
It will check for those and otherwise move on wit

[2021-07-18 14:52] Buzzec commented on #87076
Fixed as of
[code]

[2021-07-18 14:52] jyn514 commented on #87245
Duplicate of https://github.com/rust-lang/rust/issues/35121

[2021-07-18 14:52] #87245 closed

[2021-07-18 15:07] bblur commented on #56673
I'm using the newest rustc && cargo. And "Edition = 2018" also exists in Cargo.toml. But it still failed to import rand.
When I add rand in Cargo.toml, it works.
e.g.
[dependencies]
rand = "0.8.0"

[2021-07-18 15:21] ahicks92 commented on #87059
that definitely does what we want with NVDA.  The example on that page also appears to work with Voiceover on Big Sur.  I don't have access to jaws to see what it does here.  Practically speaking narrator isn't relevant: I have yet to hear of anyone using it as a primary screen reader.

I doubt anyone reads docs on the phones for the same reasons no one programs on their phone so we probably needn

[2021-07-18 15:29] #87222 closed

[2021-07-18 16:15] Voultapher commented on #68455
@m-ou-se  having read the entire conversation in this thread, it's not entirely clear to me what is blocking this from progressing. Would this set a precedent for runtime feature detection, and or something else? I'd appreciate if you, or someone else from the lib team could help me and others like @hkratz understand what would be need to get this into libcore.

[2021-07-18 16:16] jonas-schievink commented on #64102
Would there be a problem with making `black_box` always take its argument by reference? That way, it could always generate optimal code (https://github.com/rust-lang/rust/issues/64102#issuecomment-673921803) and would have fewer performance pitfalls (for example, passing an array to it currently results in a `memcpy` call).

[2021-07-18 16:21] bjorn3 commented on #68455
@Voultapher The main problem is how to detect which target features are supported from inside libcore. Except for x86, all platforms require asking the OS for which target features are supported by the CPU. libcore by definition doesn't know anything about the OS and as such can't know which target features are supported by the CPU. It is not safe to use target features before checking if they are

[2021-07-18 16:32] lemire commented on #68455
The Rust runtime does rely on runtime feature detection, but, as far as I can tell, only indirectly (e.g., by calling memcpy).

Languages like Go, Java, C/C++... do use (quite often) runtime feature detection as part of the core libraries.

A sensible way forward would be to add runtime CPU feature detection directly in the Rust core.

[2021-07-18 16:38] Voultapher commented on #68455
I agree, there are enough examples that demonstrate it can be done withing the larger constrains of the Rust language. A potential nice side-effect would be efficient and correct feature detection in the standard library, there are enough libraries and tools ripgrep, memchr etc. that have to hand roll it today. And tbh intrinsic support feels incomplete without feature detection.

[2021-07-18 16:38] bjorn3 commented on #68455
CPU feature detection is supported as part of libstd, as this is the part of the standard library that is allowed to interface with the OS, but libcore does not. How should CPU feature detection work when compiling a kernel against libcore? That would require some way to pass the supported features to libcore. What if the kernel works right now with stable rustc and doesn't provide the supported f

[2021-07-18 16:46] Voultapher commented on #68455
To clarify, I poorly worded my earlier comment. I'm thinking about both feature detection and corresponding dispatch. For example implemented with atomic function pointer overwrite.

I'm not deep enough into the Rust standard library to even fully understand the implications of what you said. I'm looking at this from a user perspective. Many Rust applications use the standard library, not only lib

[2021-07-18 16:46] hkratz commented on #68455
One way would be to tell the core library that SIMD implementations are supported (`core::somewhere::set_cpu_features_enabled(...)`) or setting a callback which return if they are supported (`core::somewhere::set_cpu_features_enabled(...)`)  from the std startup code.

For aarch64 detection would not even be needed because ASIMD/neon is enabled by default on nightly Rust so LLVM autovectorizes to

[2021-07-18 16:48] hkratz commented on #68455
`std::str::from_utf8()` is just an alias (via pub use) for `core::str::from_utf8()`. Changing that would be a breaking change.

[2021-07-18 16:48] dhardy commented on #80967
This requires replacing
[code]
with
[code]
But with impls of `ResolveTo<T>` for both `T` and `FnOnce() -> T` this breaks type inference.

This is a breaking change and also in my opinion undesirable (explicit typing is often easier to work with).

---

I honestly am in favour of `bool::then_some`; many arguments here are more criticisms of `bool::then` which has already been stabilised.

[2021-07-18 16:49] CryZe commented on #68455
With LLVM / gcc / System V having recently introduced a concept of x86-64-v1/2/3/4 there's a reasonable chance we'll get actual targets for those. Also there's always the possibility of using build-std for a specific set of features / target cpu. So I'd say for an initial implementation we wouldn't need any runtime detection at all.

[2021-07-18 16:59] SoniEx2 commented on #80967
It would be possible with overlapping traits.

[2021-07-18 17:04] GuillaumeGomez commented on #87059
I do. ^^'

[2021-07-18 17:10] Voultapher commented on #68455
It seems this issue is suffering a bit from https://xkcd.com/2368/. How can we get to an MVP, even as small as, you only get this feature if you compile std with a feature flag, or only x86-64 etc. ?

[2021-07-18 17:23] hkratz commented on #68455
I am currently working on speeding up using SIMD UTF-8 validation for strings < 128 bytes. I plan to work on a PR adding SIMD UTF8 support in core for aarch64 as that is compiled with SIMD support anyway afterwards. Following that we can have a look at the tradeoffs and performance in real world projects and then maybe implement X86-64 support with runtime detection in core (checking CPUID ond CR4

[2021-07-18 17:30] bjorn3 commented on #68455
It doesn't work inside an SGX secure enclave: https://github.com/rust-lang/stdarch/blob/ec989330959b31348d182767a0d40291519ba9d2/crates/core_arch/src/x86/cpuid.rs#L101-L104

[2021-07-18 17:35] hkratz commented on #68455
But we can just check for `target_env = "sgx"` at compile-time and fall back to scalar UTF-8 validation, right?

[2021-07-18 17:44] bjorn3 commented on #68455
Yes, or check `has_cpuid()`.

[2021-07-18 18:39] bstrie opened #87257 "Rustdoc: `pub use`ing and/or globbing a submodule containing a `pub macro` (Macros 2.0) does not document the macro"
Rustdoc will properly generate the documentation for a Macros-2.0 macro when that macro is defined in a directly-exported submodule, e.g. `pub mod foo { pub macro bar()`. But if the module is not directly exported (`pub mod foo {`) but indirectly exported (`pub use foo;`) then the macro no longer exists in the documentation: the module documentation for `mod foo` will not mention it, and no page f

[2021-07-18 18:44] bstrie commented on #87257
From Zulip:

[2021-07-18 18:48] jyn514 commented on #87257
Here is the proper fix I mentioned: https://github.com/rust-lang/rust/pull/79396#issuecomment-733534180

[2021-07-18 18:50] jyn514 commented on #87257
See also https://github.com/rust-lang/rust/issues/73754, which has the same root cause.

[2021-07-18 18:51] uzytkownik opened #87258 "GATs and min_type_alias_impl_trait cause ICE"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

(Also https://play.rust-lang.org/)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-18 19:01] uzytkownik commented on #87258
Issue #87218 might be related (or this may be a duplicate of it).

[2021-07-18 19:08] dhardy commented on #80967
@SoniEx2 if you are referring to <https://rust-lang.github.io/rfcs/1268-allow-overlapping-impls-on-marker-traits.html>, this is not applicable since the `ResolveTo` used above is not a marker trait:
[code]

[2021-07-18 19:19] SoniEx2 commented on #80967
nah, we mean our rejected proposal for marking traits as overlapping, and having both preferred and overlapping impls of those traits. you can then explicitly choose impls in the overlapping case, or default to the preferred impls only.

you'd write

[code]

and then calls would be one of these:

[code]

[2021-07-18 20:02] jhpratt commented on #80967
You've proposed this _three_ times with negative reactions; there's no need to hijack a tracking issue with what _you acknowledge_ is a rejected proposal.

[2021-07-18 20:14] patrick-gu opened #87261 "Incorrect suggestion when trying to implement `Trait<Associated = ()>` with `impl Trait + 'static`"
Given the following code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bc010f95c7ce224d84a5fdd06be94dc6)):

[code]

The current output is:

[code]

The syntax `impl Trait + 'static<Associated = ()>` does not actually work.

Ideally the suggested fix should look like:

[code]

This bug appears to be present in stable, beta, and nightly, on both Rust 2015 and

[2021-07-18 21:00] Eh2406 commented on #44663
I wrote that from memory, and wanted to go back and reread the records (mostly https://github.com/rust-lang/cargo/issues/6129) before expanding on it. It seems like my memory had lost some of the subtlety of the situation. Sorry.

There are some open question about behavior, best somerized at https://github.com/rust-lang/cargo/issues/6129#issuecomment-501783242. However, except for important surfa

[2021-07-18 22:51] #70117 closed

[2021-07-18 23:05] Alexhuszagh commented on #87249
None of the existing functions use that, and this approach works for any radix <= 10 (it could work above that, but it cannot merely use a bitmask to determine if all the characters are valid digits).

[2021-07-18 23:21] Alexhuszagh commented on #87249
So in general, there's 2 different approaches to finding out if `N` digits are all valid digits, and then afterwards you can use a trick to convert them to the base numbers to process them like above (it's obviously radix-dependent, but it's not that complicated):

1. Use a wrapping add of `0x46` and wrapping sub of `0x30` for each byte, take the bitwise or, and ensure that the MSB is 0.

So, for

[2021-07-18 23:23] jhpratt commented on #86921
Why would this be a breaking change? Wouldn't it only permit compilation of more code?

[2021-07-18 23:45] ijackson opened #87263 "rustdoc no longer honours --default-theme"
### Steps to reproduce

[code]

### Expected results

The documentation appears in the "ayu" (dark) theme.

### Observed results

The documentation appears in the default (light) theme.

### Notes

This works on stable.  I haven't bisected it or anything.

Empirically, changing the default theme once works for any one browser profile with the default firefox settings.  AIUI the setting is intended

[2021-07-18 23:47] ijackson commented on #87263
@rustbot modify labels +A-rustdoc-js +regression-from-stable-to-nightly

[2021-07-18 23:50] ijackson commented on #87263
FTR, a faster test is available if you hae a browser which blocks cookies and web storage: then you can just reload the page, as it always shows whatever the docs' built-in default is.

[2021-07-18 23:50] jyn514 commented on #87263
@ijackson does this also happen on beta?

[2021-07-18 23:53] ijackson commented on #87263
Beta is fine.

[2021-07-19 00:16] ijackson commented on #87263
The first bad nightly is `406d4a9cc 2021-06-21`; the last good nightly is `e82b65026 2021-06-20` (in each case from `rustup ... <the following date>`.

`git-log` suggests #86157 may be implicated.  The diffs do seem to suggest that it would be easy to make a mistake there.  Weirdly, https://github.com/rust-lang/rust/pulls/86157 is 404 even though bors says in 9d93819fa7ae40376ac1f563a858d2ba5f3b02

[2021-07-19 00:20] ijackson commented on #87263
(FTR, @jyn514, I am 100% in favour of using Tera instead of all those `write!` calls.)

[2021-07-19 01:50] bstrie commented on #86921
Hm, I was under the impression that it would break code like the following:

[code]

...but actually maybe that would compile just fine? I thought I remembered *somebody* coming up with a reason that it couldn't be done backwards-compatibly, but I can't recall it now.

[2021-07-19 05:15] hellow554 commented on #87076
Fixed by #87082

@Buzzec please reopen this issue, there should be a testcase for this.

@rustbot modify labels: E-needs-test

[2021-07-19 05:19] hellow554 commented on #86961
Does not happen on latest nightly anymore.
#87082 has landed and seems to fix this

I would suggest closing this and using #87076 as a testcase.

What do you think @jyn514

[2021-07-19 07:06] newpavlov commented on #55458
Nightly compiler now produces the same assembly for all 3 snippets, so I am gonna close this issue as fixed.

[2021-07-19 07:06] #55458 closed

[2021-07-19 07:10] newpavlov commented on #41894
The issue is no longer reproducible.

[2021-07-19 07:10] #41894 closed

[2021-07-19 08:47] RalfJung commented on #78186
I think this is a (contrived) counterexample, demonstrating that `Pin::static_ref` is a breaking change:
[code]
With `Pin::static_ref` I can make the assertion fail: `Pin::static_ref(Nasty::new_shared()).check()`.

The example is somewhat similar in spirit to those examples which show that `Sync` does not imply `Send`: if there is no operation on `&self`, the invariant associated with those values

[2021-07-19 09:08] khang00 commented on #87197
Sorry, I don't have much time these days.

@rustbot release-assignment

[2021-07-19 09:47] carado commented on #74713
Is there a known workaround to this ? I'm getting this error with the following:
[code]

[2021-07-19 10:31] woshilapin opened #87272 "Incorrect suggestion to add a bound where another bound is needed"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=54c331139ff05068f86c61f4f685ea52

[code]

The current output is:

[code]

It might not be possible to get the hint so at the very least, I would expect no hint instead of the wrong one. But ideally, the output should look like:

[code]
(Note the proposed bound is `Parser`, not `Enhancer` anymore).

Te

[2021-07-19 10:31] RalfJung commented on #69297
I think I'll just use a locally patched rustc that does not do const-prop.^^ But we should maybe make a note that `RUST_CTFE_BACKTRACE=1` currently is rather expensive since it captures a lot of backtraces during const-prop. I'll open an issue for that.

Regarding the issue at hand, the following are the only Miri test cases that have any exceptions caught and discarded. :)
[code]

[2021-07-19 10:35] RalfJung commented on #69297
Ah, and those are expected, since they are using `throw_machine_stop!`.

So I think this issue is solved. :-) We don't have a strategy in place to detect when it arises again in the future, but still I think we can close this one now.

[2021-07-19 10:35] #69297 closed

[2021-07-19 11:24] eddyb commented on #87253
AFAICT you wouldn't need two variants if you used `Instance` - assuming the difference between the variants isn't significant in some other way.

[2021-07-19 11:39] rylev opened #87274 "ICE failed to process buffered lint here (dummy = false) introduced by #87146"
### Code

It seems that #87146 introduced an ICE which happens when building the [`piston_image` benchmark](https://github.com/rust-lang/rustc-perf/tree/b9fb9956fd7daebb60cfacfc4545f25dbe0f3585/collector/benchmarks/piston-image) for rustc-perf.

The ICE seems to be caused by `delay_span_bug` being issues but no errors being encountered.

**Panic message**: "no errors encountered even though `delay

[2021-07-19 11:53] dvc94ch commented on #27060
Instead of a warning/error, why can't rust generate unaligned loads and stores automatically? When using zerocopy structs I think `packed` is the only layout that is guaranteed to be the same across architectures. It would be really nice if rust could just do an unaligned load/store when necessary.

[2021-07-19 12:00] jyn514 commented on #86961
Actually, it looks like this already had tests added as part of the PR: https://github.com/rust-lang/rust/pull/87082

[2021-07-19 12:00] #86961 closed

[2021-07-19 12:11] mathstuf commented on #27060
This would mean that *all* reads and writes through `&T` must be done with unaligned instructions. If I pass `&u64` to a function, it can currently assume it is aligned. That is not the case for `&packed_struct.some_u64` and without callees knowing all callers, code would *all* need to be done through unaligned loads and stores. A quick search shows [this post](http://www.alexonlinux.com/aligned-v

[2021-07-19 12:12] psionic12 opened #87276 "transmute moved the parameter of "&mut f32" type"
reproduced code:

[code]

the reported error is:

[code]

Rust version:

[code]

[2021-07-19 12:23] b-naber commented on #87258
This seems to be caused by https://github.com/rust-lang/rust/pull/87200. Re-inserting `fixup_opaque_types` gets rid of the ICE.

@oli-obk What was the rationale for deleting that function?

[2021-07-19 12:29] oli-obk commented on #87258
It was replacing inference lifetimes with concrete ones (but wrong ones, as it was using lifetimes from a completely different item). This avoided certain ICEs and was even correct by accident for the example in the doc comment, but it was just papering over the ICEs causing other examples (where the impl trait is outside the current impl block) to fail.

I am looking into this new ICE now

[2021-07-19 12:40] #26309 closed

[2021-07-19 12:40] #45724 closed

[2021-07-19 12:40] #84019 closed

[2021-07-19 12:40] #87202 closed

[2021-07-19 13:01] spastorino opened #87277 "impl traits in consts through const fns are allowed but shouldn't"
The following code compiles after #87141 but shouldn't

[code]

[2021-07-19 13:15] dvc94ch commented on #27060
I guess defining getters/setters for all fields isn't that bad. Is there something that can be done to optimize unaligned accesses on architectures were it happens to be aligned? Or does that also give a 2x penalty?

[2021-07-19 13:30] jackh726 commented on #85921
Fixed in latest nightly

[2021-07-19 14:25] lqd commented on #87274
[code]
`rustc +0ecff8c623fa29cccad6f946c657e81dacd85847 --crate-name image src/lib.rs --crate-type lib`

[2021-07-19 14:28] Aaron1011 commented on #87274
Minimized:

[code]

This is caused by a weird special-case for `ExprKind::Paren` that was added back in 2016: https://github.com/rust-lang/rust/pull/34355. I'm working on a fix.

[2021-07-19 14:49] zhou-mfk commented on #87159
Thanks reply.

I use command  rustup update  but no found latest version in windows system.

---

In Linux system no found this bug.
`[root@zls-185 ~]# rustup -V
rustup 1.24.3 (ce5817a94 2021-05-31)
info: This is the version for the rustup toolchain manager, not the rustc compiler.
info: The currently active `rustc` version is `rustc 1.47.0 (18bf6b4f0 2020-10-07)
`

[2021-07-19 15:20] fee1-dead commented on #87276
Why do you think it is a bug? Transmute does move the reference. Are you looking for:
[code]
?

[2021-07-19 15:46] GuillaumeGomez commented on #79710
I just thought: we could use `<warning>` tag in the markdown and then transform it into `<div class="warning">` in the generated HTML?

[2021-07-19 15:47] ijackson commented on #87263
I have found the problem: the generated HTML now says:

[code]
instead of
[code]
The formatting is of no consequence, but the changes of `_` to `-` are causing the breakage.  (I eyeballed this yesterday but didn't spot this difference, seeing only what I expected...)

I suspect that this may be the result of Tera's autoescaping function.  Things are subtle here (primarily because of the crazy way

[2021-07-19 15:49] roxelo commented on #87121
@nrc I would not consider myself an expert on the pattern matching code but I can try to help mentor...

[2021-07-19 15:52] yaahc commented on #53823
We discussed this issue in our last libs team meeting and concluded that there's nothing left for libs to do, and that we need to wait for the fix to happen upstream in https://bugs.llvm.org/show_bug.cgi?id=40027. Our plan is to hand this over to the compiler team for tracking as discussed in https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/tracking.20an.20old.20regression. F

[2021-07-19 15:57] jyn514 commented on #79710
My main objection to *all* of these is that rustdoc shouldn't be adding custom markdown syntax that no one else supports. Any new syntax we use should look reasonable even if rendered with the default `pulldown-cmark` renderer.

[2021-07-19 16:03] #86958 closed

[2021-07-19 16:28] mathstuf commented on #27060
Even if it doesn't have that penalty, you now have:

  - more instructions; and
  - a conditional jump.

Both of which are very bad in tight loops (instruction cache pressure and branch prediction shenanigans). Speculation is also probably poking its head in here somewhere. I think if you want to pass around unaligned references, the best you have is:

[code]

to ensure that any unaligned loads or

[2021-07-19 16:34] muellerpeter-pms opened #87286 "unexpected panic in rustc"
### Code

There is no special code, I tried to compile libc 0.2.98 as a dependency.

### Meta

`rustc --version --verbose`:
[code]

As you can see i try to compile on a raspberry pi
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-19 16:40] dvc94ch commented on #27060
Sorry for my dumb questions

[code]

[code]

These are not undefined behaviour? I'd expect the `.` to add an offset to the struct pointer which would be undefined behaviour.

[2021-07-19 16:46] RalfJung commented on #27060
Those are indeed not UB. Accessing *packed places* is okay since the required alignment is directly visible in the place expression.

What is UB is to do the same through a reference, where there is no more any indication in the code that things might not be aligned.

[2021-07-19 16:50] oli-obk commented on #87258
I am getting

[code]

locally before the ICE, so likely the ICE just hides actual errors. Should still fix that of course, but needs more looking into it

[2021-07-19 17:03] spydx commented on #84859
I would agree that the `err.span_label` for E0117 is a bad sentence : "impl doesn't use only types from inside the current crate".  Since I'm not a native english speaker this "doesn't use only" is what tosses me of the rails.
The error message for E0117 is very good and explains it.

The `err.span_label` could have become something like this e.g "impl can only use types from inside the current cr

[2021-07-19 17:07] GuillaumeGomez commented on #79710
Well, it remains valid markdown since it's HTML (even though it's custom tag). I'm completely fine with `<div class="warning">`, but it might be simpler/better for users to simply write `<warning>`.

[2021-07-19 17:34] ebobrow commented on #63857
Hey! I wanted to try working on this, but I'm a little stuck. I can't write the implementations in the `rustc_target` crate, where `HasDataLayout` and `HasTargetSpec` are defined, because the `rustc_middle` crate already depends on that crate and it would create a dependency cycle if I tried to import `HasTyCtxt`. However, if I try to write the implementation in the `rustc_middle` crate, where `Ha

[2021-07-19 17:38] psionic12 commented on #87276
So why `let dst : *mut u8 = transmute::<&mut f32, *mut u8>(v);` compiles in my case? Anything different with `let dst : *mut u8 = transmute(v);`?