[2022-03-03 21:34] Mark-Simulacrum commented on #58635
Likely largely based on discussion in https://github.com/rust-lang/rust/pull/55909 and https://github.com/rust-lang/rust/pull/58636, though it's been some time since then. Feel free to drop by #t-libs on Zulip and ask for folks opinions now.

(It may also be that the necessary work to make this happen is easier now, if the kernel APIs have simplified somewhat).

[2022-03-03 21:51] F0903 commented on #93624
I also have this issue on 1.59.

[2022-03-03 22:06] arlosi commented on #93624
This ended up getting (unintentionally) backported to the 1.59.0 stable release along with another unrelated LLVM change. More details are available over on the CodeLLDB page here: https://github.com/vadimcn/vscode-lldb/issues/633#issuecomment-1057209602

We need to get a new release of the CodeLLDB extension to fix it. Until a new CodeLLDB is available the options are:
* Use the 1.58.1 toolchain.

[2022-03-03 22:25] JakobDegen commented on #91095
oh, another relevant point here @RalfJung : Types don't have to have niches in order for us to want to read some of their bytes in relation to a discriminant call. Specifically, imagine that I have an enum like the following:
[code]
rustc could choose a layout like this:
[code]

Now we could imagine a future in which we get enough features (eg a `byte` type) to implement `mem::discriminant` in MIR

[2022-03-03 22:43] edhebi opened #94581 "Better error message when forgetting `iter()` on slices"
Given the following code: https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=965472aeea871e8f49d3decac84abe64

[code]

The current output is:

[code]

Ideally the output should at least mention that `.iter()` exists on slices

[2022-03-03 22:43] Aaron1011 commented on #93838
I think we should clarify that this is true even for unused *generic* functions:

[code]

[code]

Since (as @XrXr mentioned) unnamed const items cannot use generics, we evaluate unnamed const items in the body of unused generic functions.

[2022-03-03 22:48] ricobbe commented on #58713
I've discovered a problem with how this feature, as currently implemented, supports stdcall functions from certain DLLs on i686-pc-windows-msvc.  (I don't yet know if this problem also affects i686-pc-windows-gnu; I'll try to reproduce it there in the next couple of hours.)  The details are included below, but in summary, it appears that the import libraries generated by rustc/LLVM only work for D

[2022-03-04 00:04] Amanieu commented on #94026
It seems that the key question here is whether the responsibility for ensuring that `([a, b], [c])` and `([a], [b, c])` have different hashes resides in the `Hash` impl or the `Hasher` impl.
1. If `Hash` is responsible then it must hash a length or terminator separately. This is already the case today with the `Hash` impl of slices hashing the length of the slice and the `Hash` impl of `str` hashi

[2022-03-04 00:04] #75564 closed

[2022-03-04 00:04] #94523 closed

[2022-03-04 00:05] Jeremiah-Griffin commented on #93624
Thank you kindly for taking the time to note this - have a good one!

[2022-03-04 00:35] RalfJung commented on #91095
It's the least amount of UB we can have. That's IMO the default state and any extra UB needs justification. :)

I am not convinced that special-casing `UnsafeCell` in the safety contract of this operation is a good idea -- it is quite complicated, and it is still not enough ti justify what current codegen does. (`UnsafeCell<!>` is still uninhabited, but if I understand your proposal then it would

[2022-03-04 00:41] ricobbe commented on #58713
I'm not entirely sure I follow this, unless you're saying that the way I'm building the DLL in src/test/run-make/raw-dylib-alt-calling-convention shouldn't be supported.

Also, I think we may have gotten wires crossed slightly -- the question is not whether or not the calling module uses `__declspec(dllimport)`; the question is whether (among other things) the defining module uses `__declspec(dlle

[2022-03-04 00:46] JakobDegen commented on #91095
This last part is a good point, and I'm not sure what the best strategy for proceeding with it is. But my point above still stands. There are real (and probably non-trivial) optimizations that require us to read possibly anything that is not behind an `UnsafeCell`. What would the alternative rule that allows the above optimization even be?

[2022-03-04 00:53] sunfishcode commented on #87074
Preparing for stabilization, I was porting some of io-lifetimes' tests into the rust tree, and I noticed that io-lifetimes is still using `allow(improper_ctypes)`, which I had added to work around errors in the FFI tests. The proper fix is to make rustc consider `Option<OwnedFd>` FFI-safe. I've now submitted https://github.com/rust-lang/rust/pull/94586 to implement the rustc half of this. If I und

[2022-03-04 01:00] RagibHasin commented on #93624
@arlosi is there any instruction about how to compile Rust-enabled LLDB somewhere? It seems that I cannot find it. Some pointers would be very helpful, for me and for future reference also, I think.

[2022-03-04 01:33] jyn514 opened #94589 "Fallback to top-level config.toml if not present in current directory"
Currently x.py has some very strange behavior around config.toml.
- If `--config` and `RUST_BOOSTRAP_CONFIG` are unset, it will assume the file to use is `./config.toml` in the current directory, even if it doesn't exist.
- If either --config or RUST_BOOTSTRAP are set to a relative path, it will first look in the current directory, then fall back to the root directory if the file doesn't exist.
ht

[2022-03-04 01:35] jyn514 commented on #94589
While writing this up I realized that https://github.com/rust-lang/rust/pull/92260 is missing the root dir fallback for the flag and env variable; but given that it only affects the new `cargo run` workflow and I doubt the fallback is used much in practice, it's probably fine.

[2022-03-04 01:44] aDotInTheVoid opened #94591 "rustdoc-json: Guard agains 2 commits making the same modification to `FORMAT_VERSION`"
If merge A and merge B both try to increase the version from 10 to 11, git will helpfully merge both of them, resulting in the version 11 having both changes. If a nightly is released in the time between A and B are merged, then both will claim to have the save version, but with different features.

This almost happened with #94009 and #94150, but was prevented by manual noticing and intervension,

[2022-03-04 01:50] Dylan-DPC commented on #94591
cc @rust-lang/rustdoc

[2022-03-04 02:39] joshlf commented on #91850
Is this waiting for anything before being stabilized?

[2022-03-04 02:40] RalfJung commented on #91095
Actually it should be able to do that, since all our references are `dereferencable`.

[2022-03-04 02:44] ahrens commented on #91988
I'm also seeing this:

[code]

[code]

[2022-03-04 02:53] #92341 closed

[2022-03-04 03:27] avirtuos commented on #58635
@Mark-Simulacrum thanks, will follow up as you suggest after reading those items.

[2022-03-04 03:36] JakobDegen commented on #91095
`dereferenceable` is not strong enough, since it's not enough to guarantee that the read doesn't race. See [this example](https://godbolt.org/z/5zsbf83vn), where LLVM has to keep the `select` because the second load might have yielded `poison`.

[2022-03-04 04:43] compiler-errors commented on #94511
Minimization is included as test in #94596

[2022-03-04 04:43] compiler-errors commented on #94511
@rustbot claim

[2022-03-04 05:15] #86845 closed

[2022-03-04 06:21] saks commented on #35968
I've encountered an issue that looks similar:

I'm pretty sure that bitcode is disabled, since it works if I use rust 1.55 (before upgrade to LLVM 12) and xcode project is configured to disable bitcode.
I'd appreciate if anyone can suggest how to debug this further. Thanks!

[2022-03-04 06:49] Havvy commented on #91999
Is this fixed by #94344 ?

[2022-03-04 07:32] tmiasko commented on #94326
This should be fixed by #94579. @smsxgli it would be great if you could confirm if this fixes the issue for you as well. The toolchain containing the fix can be installed with rustup-toolchain-install-master tool:

[code]

[2022-03-04 08:40] scottmcm commented on #94026
I've made a proposal partway between those two approaches as PR #94598

I think *just* leaving it to `Hasher::write` isn't great, since something like `VecDeque` can't use that, and it would be nice for a `Color`'s hash to be able to just call write with the 3-byte array, and *not* get a length prefix even in a dos-resistant hasher since it doesn't need it.  (Notably not via the array or slice has

[2022-03-04 08:41] bjorn3 commented on #94026
On the other hand this would require siphasher (used for hash tables by default) to hash the length, which would slow it down as lengths now get hashed even if not necessary for disambiguation. Maybe we could have a third option where the Hash impl is responsible for calling a new method with the disambiguation data and the Hasher can then decide to hash it or not depending on if it needs HashDoS

[2022-03-04 08:46] tczajka commented on #94026
@Amanieu

You're misreading that code. `SipHash` currently merges all `write` calls, so this is not a collision, this is working as expected. `SipHash` *makes sure* these sequences behave exactly same.

[2022-03-04 08:58] smsxgli commented on #94326
Thanks! I will try it later.

[2022-03-04 09:20] M1ngXU opened #94599 "Format macro causes panic if it is inside closure which result is passed into a function that accepts less args."
If using format inside a closure (e.g. in iter functions) and the returning String is passed into a function that takes less args, rustc panics.

### Code

[code]
Minimized code snippet: https://github.com/rust-lang/rust/issues/94599#issuecomment-1059665300

### Meta
version: 1.60.0-beta.2 and 1.61.0-nightly

### Error output

[code]

query:
[code]

[2022-03-04 09:22] M1ngXU commented on #94599
playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8f160df4d4da266b4105b65244898f4c

[2022-03-04 09:33] GuillaumeGomez commented on #94591
I'm not sure what the best solution would be here... Adding a tidy check on the version number wouldn't work in this case unless you rebased your PR. Maybe adding this comment would be better, not sure...

[2022-03-04 09:40] SkiFire13 commented on #94573
Note that `count` will fully consume the iterator, while you probably want it to stop when the second `b'-'` is found. This should a tiny bit better, though it's still not as fast as it should be.
[code]

I think C++'s `find_first_of` is specialized to use an optimized `memchr`, while the Rust version can't do that because `filter` takes a closure that could do anything, not just a plain equality

[2022-03-04 10:07] est31 commented on #94591
You could make a `const FORMAT_CHANGELOG = ["Initial version", "Done foo", "Done bar", ...];`, and then require PRs that change the version to add to that list. Then you could have `const FORMAT_VERSION = FORMAT_CHANGELOG.len();`. Or you could alternatively do it with PR numbers, but those are not known upon filing.

[2022-03-04 10:24] inferrinizzard opened #94602 "Option unwrap called on None value when building to wasm32-unknown-unknown"
This error started occurring after I moved the canvas module that contains the `Canvas` struct from the crate root into a submodule directory. (updates to mod.rs declared the new submodule, lib.rs to update the module path)
ie:
Old:
![image](https://user-images.githubusercontent.com/10782902/156745694-46eabf4a-900d-423b-aa23-bdbe0f81218f.png)

New:
![image](https://user-images.githubusercontent.co

[2022-03-04 10:51] aleokdev commented on #69821
We have a similar issue in https://github.com/mapeditor/rs-tiled, so far we've resorted to [creating a `Tag` enum](https://github.com/mapeditor/rs-tiled/blob/dab7cb6bbd544e83863fc13ae05e7e471de22fe6/src/layers/mod.rs#L25) but using the discriminant would be much cleaner. One thing I'm unsure about though, is how to refer to the discriminant of a variant at compiletime without actually creating an

[2022-03-04 11:02] oli-obk commented on #69821
I don't think that is possible. There is currently no work being done to allow this, and it's unclear to me how that could be done without making enum variants their own types that you can mention without needing a value

[2022-03-04 11:17] aleokdev commented on #69821
Maybe some kind of macro could do the job, like `std::mem::discriminant_of!(Enum::Variant)`.

[2022-03-04 11:35] bjorn3 commented on #46552
The `.tdata.*` sections are used to store tls data. The respective symbols point to the start of the sections. The same is done for all other kinds of sections. If you use `-Zfunction-sections=no`, there should be a single `.tdata` section and thus a single `.tdata` symbol. The `.llvm.*` suffixes are added by LLVM's ThinLTO to prevent symbol conflicts of symbols that were private but had to be mad

[2022-03-04 11:48] ouz-a commented on #94599
Probably duplicate of #94516

[2022-03-04 12:33] oli-obk commented on #69821
I'm not saying we can't add it, but that there are no plans for it. This issue is also the wrong place to figure out a design for it, so maybe open a thread on the internals forum?

[2022-03-04 13:58] puuuuh commented on #44265
Got issue simular to https://github.com/rust-lang/rust/issues/93323 with many generic lifetimes on associated type

[2022-03-04 14:02] panstromek commented on #94573
There's also [memchr](https://docs.rs/memchr/latest/memchr) crate, which was created to address similar performance issues.

[2022-03-04 14:24] GuillaumeGomez commented on #93216
I opened https://github.com/rust-lang/rust/pull/94607 and explained what we plan to do in the future.

[2022-03-04 15:11] pnkfelix commented on #17657
@rustbot label +S-tracking-impl-incomplete

[2022-03-04 15:22] pnkfelix commented on #20561
@rustbot label +S-tracking-design-concerns

As noted by @petrochenkov [here](https://github.com/rust-lang/rust/pull/80427#issuecomment-752909280) and @oli-obk [here](https://github.com/rust-lang/rust/pull/80427#issuecomment-757912783), its not clear if this change is still well-motivated.

[2022-03-04 15:23] pnkfelix commented on #20561
I propose we close this until someone who can drive it comes forward and can motivate doing this at this point.

@rfcbot fcp close

[2022-03-04 15:29] pnkfelix commented on #26600
Based on investigations in previous comments, it seems like we're unlikely to invest effort here and we're unlikely to see FastISel actually be suitable in the short term.

@rust-lang/wg-llvm , especially @nagisa and @nikic , I'm closing this, but feel free to reopen if you think it is worth having it open.

@rustbot label -C-tracking-issue

[2022-03-04 15:29] #26600 closed

[2022-03-04 15:31] pnkfelix commented on #27579
@rustbot label +T-lang +WG-traits +S-tracking-needs-investigation

[2022-03-04 15:38] pnkfelix commented on #28937
@rustbot +T-lang +I-lang-nominated

Its not clear from discussion whether its appropriate to shift this to S-tracking-ready-to-stabilize, or if it is S-tracking-needs-to-bake

[2022-03-04 15:44] #94558 closed

[2022-03-04 15:44] pnkfelix commented on #31265
discussed at today's T-compiler backlog bonanza. This is work that needs doing, but it should not be tracked here.

We're shifting the conversation over to https://github.com/rust-lang/rustc-perf/issues/69 instead, and closing this issue.

[2022-03-04 15:44] #31265 closed

[2022-03-04 15:48] pnkfelix commented on #37403
@rustbot label +T-compiler -T-dev-tools

[2022-03-04 15:49] RalfJung commented on #91095
Races are not a concern, in LLVM a read-write race just means the read returns undef.
And yes LLVM might have to add a `freeze` to get around `poison`, but that's still very possible. (But I have no idea if it will actually do that. All I ams aying is that it legally could.)

[2022-03-04 15:49] AnthonyMikh commented on #90847
Closing as it was fixed and have a regression test

[2022-03-04 15:49] #90847 closed

[2022-03-04 15:50] pnkfelix commented on #37403
From quickly skimming the comments here, I can tell there are people invested in this feature, but I cannot tell what its current status is (how much has been stabilized, how much was insta-stabilized, how much is still unstable), nor how much remains to be done, if anything.

@rustbot label S-tracking-needs-summary

[2022-03-04 15:53] pnkfelix commented on #37504
@rustbot label -C-tracking-issue

[2022-03-04 16:06] pnkfelix commented on #38338
We discussed this in today's T-compiler backlog bonanza meeting

[2022-03-04 16:08] niuhuan opened #94610 "[Consult] How to configure different crate-type on platforms?"
I want use staticlib on macos, and  cdylib on android.

dependencies is ok, but  crate-type not work

[code]

[code]

![13333](https://user-images.githubusercontent.com/20847533/156798215-8ee4c8d0-e341-4bea-b406-ec6bfc6ccd19.png)

[2022-03-04 16:55] pierwill commented on #94456
@rustbot claim

[2022-03-04 17:38] cjgillot commented on #38382
This was fixed a long time ago.

[2022-03-04 17:38] #38382 closed

[2022-03-04 17:41] vberger opened #94616 "Profraw files are not produced when using instrument-coverage on freebsd"
Running the following command on the [calloop](https://github.com/Smithay/calloop) repo on a FreeBSD environment:

[code]

No `.profraw` file is produced with the latest nightly (which now causes our CI script to fail).

### Meta

The files were correctly produced with `rustc 1.60.0-nightly (88fb06a1f 2022-02-05)`, but are no longer produced on `rustc 1.60.0-nightly (30b3f35c4 2022-02-17)` nor `ru

[2022-03-04 17:54] cjgillot commented on #40182
Initial report now errors with
[code]

[2022-03-04 17:54] #40182 closed

[2022-03-04 18:27] cjgillot commented on #38673
The bound in the original code is needlessly restrictive. The error is correct.

[2022-03-04 18:27] #38673 closed

[2022-03-04 18:34] workingjubilee commented on #85265
Fixed and with a codegen regression test in #94570.

[2022-03-04 18:34] #85265 closed

[2022-03-04 18:42] workingjubilee commented on #91447
This should be fixed in https://github.com/rust-lang/rust/pull/94570, can we confirm that?

[2022-03-04 18:42] nagisa commented on #94616
For this to be really actionable, it would be great if you could reduce the regression range further. E.g. using https://github.com/rust-lang/cargo-bisect-rustc

[2022-03-04 18:46] kennykerr commented on #58713
FWIW, Windows binaries always use `no_mangle` or equivalent when exporting from a DLL.

[2022-03-04 18:46] #40343 closed

[2022-03-04 18:49] cjgillot commented on #33273
This now compiles.

[2022-03-04 18:49] #33273 closed

[2022-03-04 19:02] pravic commented on #58713
It depends what you mean by "Windows binaries". Standard Windows API dlls? Yes, they do not use mangling - either ordinals or "clean names".

DLLs in general? They are free to use whatever they want. Different languages and different toolchains use different mangling.

[2022-03-04 19:03] ricobbe commented on #58713
@mati865

Much to my chagrin, that turns out not to be the case, as demonstrated by the following example.  (To my knowledge, this difference only arises for __stdcall functions on 32-bit Intel; 32-bit cdecl and 64-bit are both fine.  That said, I haven't tried fastcall or vectorcall yet.)

dllexport.c:
[code]

def-file.c:
[code]

def-file.def:
[code]

I compiled these in a Developer Command Promp

[2022-03-04 19:10] cjgillot commented on #22694
This now works.

[2022-03-04 19:10] #22694 closed

[2022-03-04 19:34] camelid commented on #94591
Do we definitely _need_ a format version?

[2022-03-04 19:46] vberger commented on #94616
As a first range reduction, I can say that `rustc 1.60.0-nightly (30b3f35c4 2022-02-17)` is actually the first nightly to have the problem, the previous one `rustc 1.60.0-nightly (75d9a0ae2 2022-02-16)` works fine.

[2022-03-04 19:57] cjgillot commented on #49356
The diagnostic is now correctly normalized
[code]

[2022-03-04 19:57] #49356 closed

[2022-03-04 20:02] John-Nagle commented on #72353
What happened with this? Seemed reasonable.
There is a crate, "atomic-float", but it only has 80 downloads.

[2022-03-04 20:05] cjgillot commented on #54296
Original report works now.

[2022-03-04 20:05] #54296 closed

[2022-03-04 20:12] ricobbe commented on #58713
Update: I've found a way to invoke LLVM's `writeImportLibrary` in a way that works with libraries like kernel32.dll, so I think the primary technical hurdle here has been overcome.  However, this leaves us with the questions I raised initially:
1. Do we want rustc to be able to link against DLLs generated in both of these two ways?
2. If so, what mechanism do we want to introduce to allow the user

[2022-03-04 20:13] Gankra commented on #54341
Ok to help move along concerns of "so what are the actual ABIs?" I have written a tool that can take a function signature and generate C and Rust code on both sides and checks that they FFI'd to eachother properly:

https://github.com/Gankra/abi-checker

Here we can see attempting to FFI with u128/i128 fails on x64 linux with both pass-as-args and pass-in-struct if you perturb the alignment with s

[2022-03-04 20:23] mati865 commented on #58713
So turns out that MSVC, GCC+Binutils and Clang+LLD targetting mingw-w64 all handle this differently:

GCC+Bintuils:
[code]

Clang+LLD with i686-pc-windows-gnu target:
[code]

I think one the main selling points for raw-dylib was to use it for system libraries which would imply the answer "yes".

I worry this might need larger discussion than this thread. I *think* you could start the topic on Zuli

[2022-03-04 20:24] ChrisDenton commented on #58713
For what it's worth, the import library format supports 4 name types https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#import-name-type

The only one I *think* hasn't been discussed is `IMPORT_NAME_NOPREFIX` (which is like unmangling the name but only applies to the prefix). Though to be honest I'm not sure if anything uses that but I thought I'd bring it up in case.

[2022-03-04 20:27] vberger commented on #94616
I confirm that the issue was introduced by 30b3f35c420694a4f24e5a4df00f06073f4f3a37.

[2022-03-04 20:42] ricobbe commented on #58713
Well, that suggests another possibility for a user-provided annotation.  I haven't yet seen a case where `IMPORT_NAME_NOPREFIX` would be useful, but it would be easy enough to implement, so we might as well.

Just for completeness, I'll point out that we already have a mechanism for dealing with `IMPORT_ORDINAL`, the `#[link_ordinal]` attribute.  There is test coverage of this feature in src/test/

[2022-03-04 20:44] JakobDegen commented on #91095
Oh this is a good point about the races, I thought they returned `poison` instead of `undef`. Still though, ideally LLVM would be able to combine the two loads into one, and it can't do that by freezing the result of the places. It might be able to do it by freezing the load itself (or something equivalent)

[2022-03-04 20:53] Yuri6037 commented on #91447
When will this PR be available in Nightly or is it already available? What about stable?

[2022-03-04 20:55] estebank commented on #94509
CC @myrrlyn, just in case

[2022-03-04 20:58] myrrlyn commented on #94509
… weird

has crater failed any of _my_ builds?

[2022-03-04 21:39] RalfJung commented on #91095
Yeah, it can do the 2-byte load, freeze that, and then compare with `[0, 1]`.

[2022-03-04 21:52] matthiaskrgr opened #94627 "ICE: assertion failed: !suggestion.is_empty()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-04 22:20] tmandry commented on #51999
Is there an issue tracking support for non-`&str` panic arguments in consts?

Right now the compiler just gives an error (implemented in #80734) "argument to `panic!()` in a const context must have type `&str`", but there's no error code or other explanation text.

The RFC doesn't mention this limitation.

[2022-03-04 22:36] oli-obk commented on #51999
There's no special tracking for it. It's essentially just blocked on the fact that you can't implement Display or Debug in a way that is callable in a const context.

[2022-03-04 22:42] matthiaskrgr opened #94629 "ICE: should be a function item"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-05 00:21] ChrisDenton commented on #58713
Hm, both [short](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#import-header) and [long](https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#import-lookup-table) forms support ordinals. However, I don't know if LLVM can produce such import libraries or if mingw can consume them.

But yes, in the ordinal case the symbol names only need to be consistent between the applic

[2022-03-05 00:23] aDotInTheVoid commented on #94591
Anacdotaly it is used to detect when the json moves, which does happen quite a bit:

https://github.com/awslabs/smithy-rs/blob/d823f61156577ab42590709627906d1dc35a5f49/tools/api-linter/src/cargo.rs#L78-L96

Iff and when where talking about stabilization, we should reconsider, but I think it works well for now

[2022-03-05 00:24] scottmcm commented on #91447
The milestone on the PR shows the first stable release in which it's projected to be included:
![image](https://user-images.githubusercontent.com/18526288/156858946-6262e737-67a6-45b3-bce1-f0dc12863a96.png)

I'm not certain when the nightlies are generated, but the 2022-03-06 or later nighlies should be a safe bet.

[2022-03-05 00:25] HTG-YT commented on #69232
@rustbot claim

[2022-03-05 00:28] aDotInTheVoid commented on #94591
cc @hkmatsumoto @disanti @Urgau @Maan2003 @akiross @Enselic: Do you use `FORMAT_VERSION`, and if not why? Would you like a fuller changelog, just a number, or nothing at all?

[2022-03-05 00:33] tmandry commented on #80706
This ICE has since [regressed](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a74f7e30f5c4289126b0806f4b2f40f3). #88640 added a test but marked it as check-pass. This did not reproduce the failure which only occurs in codegen.

`error: internal compiler error: compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs:393:13: debuginfo: Trying to create type name for unexpect

[2022-03-05 00:36] scottmcm commented on #94519
Possible dup of #76342 where it was pointed out that references are also possible: the `spam` closure could also validly type as `&[T; 9] -> [&T; 9]`.  It's always unclear to me when closures can care about things after themselves, to pick up call here that would disambiguate the rest of the way.

[2022-03-05 00:44] notriddle commented on #94591
Instead of names, pull request URLs?

[2022-03-05 00:44] ricobbe commented on #58713
I think there are two separate issues here: the question of correctly generating import libraries for symbols that are exported via ordinal, and the question of compatibility of import libraries between LLVM and mingw.

For the first question: to the best of my knowledge, support for ordinals is complete. You can find test coverage of it in src/test/run-make/raw-dylib-{stdcall,link}-ordinal, and t

[2022-03-05 01:14] workingjubilee commented on #91447
It should be on nightly as of this exact moment.

[2022-03-05 01:58] kupiakos commented on #92980
I'd like to see if we can work out the kinks and stabilize this sooner rather than later. Since `addr_of!` is stable, this being stabilized would enable us to do something quite powerful: stable const-time `offset_of`. See https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e8073c3551048421b730a8246fb58f3d for an example. With that, we can get stable const-time calculation of

[2022-03-05 02:46] #90248 closed

[2022-03-05 02:46] #94454 closed

[2022-03-05 02:46] #94516 closed

[2022-03-05 03:01] compiler-errors commented on #94599
Actually, not sure if it's a duplicate of #94516. Still failing on master after the fix for that one landed, and failed with the same error (and not a duplicated adjustment bug) on beta. I will look into it!

@rustbot claim

[2022-03-05 03:08] compiler-errors commented on #94599
Minimized:

[code]

[2022-03-05 03:18] RalfJung commented on #92980
Note that that macro has some subtle flaws, see https://github.com/Gilnaa/memoffset for a bullet-proof (and also nightly-const-compatible) version. In particular it protects against `.field` triggering deref coercions, which make your version of the macro unsound.

[2022-03-05 03:20] RalfJung commented on #92980
But regarding this tracking issue, I think it would be good to fix https://github.com/rust-lang/miri/issues/1950 before stabilizing, to ensure we actually check the UB for this function properly. (Miri and CTFE share that implementation.) Other than that, I am not aware of any blockers. I *think* we should do the change suggested in https://github.com/rust-lang/rust/issues/92512, but that can happ

[2022-03-05 03:20] johnw42 commented on #93624
I think this is worth making a new 1.59.x release to fix. Discovering what's going wrong is not easy. I was trying to debug Rust code on a new computer, and I assumed I was doing something wrong. I was starting to doubt my sanity until I tried debugging a Rust program on an older computer (where I had 1.57 installed) and it worked.

[2022-03-05 03:47] HTG-YT commented on #69232
@rustbot release-assignment

[2022-03-05 03:47] HTG-YT commented on #69232
@rustbot assign

[2022-03-05 03:47] HTG-YT commented on #69232
@rustbot claim

[2022-03-05 04:12] bombela commented on #78260
I just hit the problem, and it took more hours that I am willing to admit to to find out what was going on. Looking at random Rust projects for AVR on the web, nobody seems to realize that calling a normal function from an interrupt handler can lead to this issue. I also wonder how many bugs and issues people encounter with Rust on AVR that are a manifestation of this problem, without discovering

[2022-03-05 04:46] bombela commented on #78260
For a workaround, I am doing this:
[code]

By using an empty inline assembly with all the registers as clobbered, the compiler will union this set of registers with the registers also used directly by the interrupt handler. This means a single push/pop pair per registers compared to manually spelling out the push and pop instructions.

[2022-03-05 07:26] #94335 closed

[2022-03-05 07:30] kupiakos commented on #92980
Good call on the `Deref` soundness, rest assured I'm not copying playground code into production 😃

I'll see if I can spend some time looking at the change or issue.

For now, I think may have found an alternative way to calculate `offset_of!` in stable CTFE that doesn't depend on pointer arithmetic, it's just [more expensive at compile time](https://play.rust-lang.org/?version=stable&mode=debug&e

[2022-03-05 09:46] csmoe commented on #94610
it's a cargo issue https://github.com/rust-lang/cargo/issues/10083

[2022-03-05 09:46] #94610 closed

[2022-03-05 09:51] mati865 commented on #58713
As a Tier 1 targets all of their tests (unless explicitly ignored) have to pass for every PR. So the implementation itself is tested.

[2022-03-05 10:14] jplatte commented on #77443
Stabilization PR was merged, this can be closed AFAICT.

[2022-03-05 10:30] cjgillot commented on #54272
Incremental compilation has evolved a lot since this bug was filed. Keeping it open does not bring any value.

[2022-03-05 10:30] #54272 closed

[2022-03-05 10:32] Yuri6037 commented on #91447
I've tested on the playground version with assembly output and it attempts to return values to the stack whereas the C++ variant leaves them in xmm registers. It does however look a bit better than godbolt which uses an even older nightly.

Here is current assembly output from playground (with 2022-03-04):
[code]

[2022-03-05 10:35] cjgillot commented on #55706
The associated const is now correctly resolved. The example still errors awaiting progress on `generic_const_exprs` feature.

[2022-03-05 10:35] #55706 closed

[2022-03-05 10:38] cjgillot commented on #33811
Now works with a `Box<dyn FnOnce(&str)>`.

[2022-03-05 10:38] #33811 closed

[2022-03-05 10:53] #26634 closed

[2022-03-05 10:58] cjgillot commented on #26026
The report now correctly type-checks.

[2022-03-05 10:58] #26026 closed

[2022-03-05 10:59] cjgillot commented on #57616
We now get both the backtrace and the query stack.

[2022-03-05 10:59] #57616 closed

[2022-03-05 11:06] #30002 closed

[2022-03-05 11:09] petrochenkov commented on #37403
This issue is basically tracking the removal of `static-nobundle` now.

It's currently blocked on https://github.com/rust-lang/rust/pull/93901 and on one more following PR stabilizing the `bundle` modifier.

[2022-03-05 11:09] davidhewitt commented on #77443
Looks like docs PR not merged yet

[2022-03-05 11:29] Urgau commented on #94591
No, not yet; I just didn't found the time and the right way to get it but the solution from `smithy-rs` is quite simple so I've use it.

Yes, a changelog would be useful but I don't think it's not required. The format number is good no need for more.
I would just like to have a recommended way to get and check it. The `smithy-rs` solution could maybe be integrated in the crate?
[code]

[2022-03-05 11:51] jplatte opened #94641 "Iterator documentation lists Box impl twice"
As far as I can tell, these two impls are the same:

* https://doc.rust-lang.org/1.59.0/std/iter/trait.Iterator.html#impl-Iterator-147
* https://doc.rust-lang.org/1.59.0/std/iter/trait.Iterator.html#impl-Iterator-178

The second one doesn't have a `[src]` link so I don't know where it's coming from.

[2022-03-05 11:51] jplatte commented on #94641
@rustbot labels T-rustdoc

[2022-03-05 11:52] jplatte commented on #94641
@rustbot modify labels: +T-rustdoc

[2022-03-05 12:51] Alexendoo commented on #77735
Original can still ice with the addition of a stability gate, but closing for the same reason as #94382

[2022-03-05 12:51] #77735 closed

[2022-03-05 12:51] Alexendoo commented on #82880
Original can still ice with the addition of a stability gate, but closing for the same reason as #94382

[2022-03-05 12:51] #82880 closed

[2022-03-05 12:51] Alexendoo commented on #83697
Original can still ice with the addition of a stability gate, but closing for the same reason as #94382

[2022-03-05 12:51] #83697 closed

[2022-03-05 13:08] Alexendoo commented on #82327
The everybody loops pass has been removed - #93913

[2022-03-05 13:08] #82327 closed

[2022-03-05 13:30] #46426 closed

[2022-03-05 13:31] cjgillot commented on #27863
Original report now correctly compiles.

[2022-03-05 13:31] #27863 closed

[2022-03-05 14:25] fzyzcjy commented on #69207
@silverweed Hi, I am having the same problem. How did you solve it? Thanks!

[2022-03-05 15:07] 5225225 opened #94643 "Compiler OOM when creating extremely large array of `String` using `const` with const evaluation"
I tried this code:

[code]

I expected to see this happen: Either an error about the value being too large for the current architecture, or nothing (because errors about too large arrays don't seem to happen for values bound to `_`)

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Valgrind with `trace-children=yes` gives me the following location for the error

<det

[2022-03-05 15:18] 5225225 commented on #94643
The fix here might be similar to the fix in #86255? Try and reserve the `Vec::with_capacity(size)`, then if that fails, report an error? Not sure, especially since it looks like this whole area of code has no way to report errors, so that would need to be added.

[2022-03-05 16:27] m-ou-se commented on #93203
Found a soundness bug in the implementation. Here's the fix: https://github.com/rust-lang/rust/pull/94644

[2022-03-05 17:26] matthiaskrgr opened #94646 "rustc makes claims about Cargo.toml when there is none in async context"
I tried this code:

[code]

When I check this file with `rustc async.rs --crate-type lib`, rust errors
[code]
Which is a bit confusing.
Does it want me to set `edition = 2021` in Cargo.toml (as in "please set edition = 2021...")?
Why does it complain about a Cargo.toml when there isn't one (as I just checked the file directly with rustc x.rs).

For some other examples, the message is even more con

[2022-03-05 17:41] scrabsha commented on #93336
Can confirm that Jan 27 nightly fixes the issue. Thanks!

[2022-03-05 17:41] #93336 closed

[2022-03-05 18:17] ehuss commented on #94646
It is giving instructions on how to resolve the issue.  It reads fine to me, though maybe a bit terse. Perhaps a few more words could make it clearer.

As for the hint being given when not using cargo, these suggestions should be gated [like this](https://github.com/rust-lang/rust/blob/379e94f5a4aebe7dc2d8742653ca244d92b06f3d/compiler/rustc_incremental/src/persist/fs.rs#L534) to only be shown when

[2022-03-05 19:49] carloabelli opened #94651 "Failed to normalize <std::borrow::Cow<str> as rkyv::Archive>::Resolver"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-05 20:21] mati865 commented on #94646
IMO rustc should tell the user to add `--edition x` command line argument when running without Cargo.

[2022-03-05 20:24] ibraheemdev commented on #83574
I realize that this has already merged, but it might have been nicer as a `zip!` macro that flattens nested tuples.

[code]

[2022-03-05 20:37] QuineDot commented on #88696
I just got this too, in code with zero dependencies which is not at all exotic.  All the non-std types here are just enums.
[code]
"miniz_oxide" doesn't cry out "implicit stdlib thing" so I spent awhile trying to figure out how an unrelated project was polluting this one, running cargo clean in various places, etc.

[2022-03-05 20:54] DJDuque opened #94652 "Documentation of associated constants"
Maybe this is not a bug, but I was expecting the documentation of associated constants to work in the same way as it does for functions.

I tried this code:

[code]
I was expecting the documentation to show e.g. `A` and `B` as required, and then `TOTAL` would just be auto generated. Same way as it happens with functions of a trait.

In practice it does work like that. I can implement only `A` and

[2022-03-05 20:57] DJDuque commented on #94652
@rustbot modify labels: +T-rustdoc

[2022-03-05 21:08] sebastian-palma commented on #25289
I had the same error while using the `macroquad` crate. Make sure to check all [the dependencies for your OS](https://github.com/not-fl3/macroquad#linux) are installed (successfully).

[2022-03-05 21:23] RalfJung commented on #94643
Cc @rust-lang/wg-const-eval

[2022-03-05 21:26] RalfJung commented on #94473
Why do you think that is the case?
"Dereferencing" (as in, creating a place from) a pointer to uninitialized memory is fine. Only actually *reading* from that place is a problem (it depends on the type, some types allow uninit memory -- like `MaybeUninit<u64>` -- and others do not).

[2022-03-05 21:51] workingjubilee commented on #91447
Ah, the memory-passing thing is a known bug which has its own issues tracking its nuances, essentially, so if this has been reduced to that, it is now a duplicate of those and I shall close this. In the meantime, it usually is a concern that is significantly reduced by inlining.

Thank you for investigating, however!

[2022-03-05 21:51] #91447 closed

[2022-03-05 22:12] nicholasbishop commented on #94473
Thanks, I didn't realize that was allowed. Getting a good handle on what is and isn't allowed with pointers in Rust is not always super easy :)

Is there an existing piece of documentation that spells out what all the rules are? It would be great to hyperlink `all the usual rules` to that documentation, or just directly list out what the rules are inline if they are sufficiently short.

[2022-03-05 22:12] #93942 closed

[2022-03-05 22:20] scottmcm commented on #91447
Here's a quick demonstration that the extra `movups`s go away when used, rather than when looking at the function in isolation: https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=70f02a31bb33e4fce6b9de2ac29e4326

[code]

[2022-03-05 22:29] scottmcm commented on #83574
@ibraheemdev that's available in https://docs.rs/itertools/latest/itertools/macro.izip.html if you'd like.

It's not clear whether `core` wants such macros.  Like it waited for const generics before getting a bunch of array stuff, it might be waiting for variadic generics to let that be just `zip(ia, ib, ic, id)` eventually.

[2022-03-05 22:41] matthiaskrgr commented on #92470
Another reproducer from  `./src/test/ui/closures/print/closure-print-generic-verbose-1.rs` (needs `--edition=2021` to crash)

[code]

[2022-03-05 23:11] camelid commented on #94591
I think the issue with that is that you can't determine it before opening a PR, but we could have people just update that after opening their PR maybe?

[2022-03-05 23:28] matthiaskrgr opened #94654 "ICE with --alt rustc: WorkerLocal can only be used on the thread pool it was created on"
### Code
code from glacier /fixed/72554.rs
[code]

### Meta

`rustc --version --verbose`:

NOTE this is the alt master rustc, installed via `rustup-toolchain-install-master -f -n master  -c rustc-dev llvm-tools rust-src clippy rust-analyzer --alt`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-06 00:28] Milo123459 commented on #94098
Is there not some manual way we could check inside of the cfg block?

[2022-03-06 01:28] compiler-errors commented on #94651
This is due to an (almost, but not currently detected) trivially falsifiable bound. `Cow<'_, str>` does not satisfy `Archive` for any lifetime, but we don't raise a type error because there's a `where Cow<'a, str>: Archive` in the macro expansion. We don't see that this is satisfied for no lifetimes until we erase the region during MIR lowering.

Then since the type [is global](https://doc.rust-la

[2022-03-06 01:32] compiler-errors commented on #94629
minimized:

[code]

I think it's just that this attr ICEs when attached to methods and not functions.

[2022-03-06 02:05] RalfJung commented on #91237
There are some other hidden gems in codegen for shifts, in the treatment of signed RHS operands:

https://github.com/rust-lang/rust/blob/f047af24b3b90f19b89fac80822acd69613b89ec/compiler/rustc_codegen_ssa/src/base.rs#L315-L317

I sure hope they are not Undefined Behavior because we expose them to safe code. ;)
(But only via `<<` -- the `{wrapping,overflowing,checked}_{shl,shr}` methods force the R

[2022-03-06 02:06] bornjre opened #94656 "linking error when compiling for wasm-unknown-unknown"
linking error when compiling for `wasm-unknown-unknown`  target (wasmer, not browser/js), whenever i include a mod/file that is using Hashmap or some other library linking fails. Probably related to multivalue?

`rustc 1.61.0-nightly (68369a041 2022-02-22)`
[rust_err_example.zip](https://github.com/rust-lang/rust/files/8191827/rust_err_example.zip)

minimal reproducible program

[code]

The curren

[2022-03-06 02:53] saethlin commented on #94564
I've kind of been hoping someone else will ask this: Are you sure this is a soundness bug? At a glance, this looks to me like a  logic bug in an unfortunate location that double-panics.

[2022-03-06 03:30] woppopo commented on #91850
Yes. This is waiting for `const_ptr_write`(#86302) and `const_maybe_uninit_as_mut_ptr`(#75251).

[2022-03-06 03:33] jyn514 commented on #94556
@jonhoo is the difference between the three modes documented somewhere? I don't have any clear idea what they do.

[2022-03-06 04:35] jafioti opened #94661 "Manual PartialEq impl not found for const generics."
I tried this code:

[code]

I expected to see this happen: I expected to be able to use DimType as a const generic type. I am able to use it when I derive PartialEq and Eq, but when I manually derive PartialEq it doesn't work.

Instead, this happened: I get an error: `tensor::DimType must be annotated with #[derive(PartialEq, Eq)] to be used as the type of a const parameter`

### Meta

`rustc --ve

[2022-03-06 04:47] barryfam opened #94662 "nightly: ICE: borrow checker panic instead of error on borrow of moved value"
### Code

[code]

### Meta

Playground beta `1.60.0-beta.2` correctly reports:
[code]
But Playground nightly `rustc 1.61.0-nightly (c274e4969 2022-03-05)` instead ICE's

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-06 04:53] LollipopFt opened #94663 "discrepancy between debug and release: panic at `attempt to add with overflow`"
I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dc2817fac40c3b63807d4375a34fd70a

this works in release, but not in debug.
### Meta

`rustc --version --verbose`:
[code]
note: this problem appears in both rust playground and my offline rustc.

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-03-06 05:05] ssande7 opened #94664 "Compiler crash during doc test with generic_const_exprs"
Trying to use `generic_const_exprs` (#76560) to enforce bounds on a const generic is causing a compiler crash for doc tests if `#![feature(generic_const_exprs)]` is not included in the doc test snippet. This does not occur in all cases - eg. the `TryFrom` example below causes a crash, but the `From` example does not. Seems to be related to the `Result` type.

### Code
`cargo new --lib const_generi

[2022-03-06 05:06] LollipopFt commented on #94663
found issue:
when a function is used:
[code]
this is allowed in release as it seems it does some conversions and panics in debug, but when it is not a function:
[code]
the linter catches it:
[code]

[2022-03-06 07:00] Enselic commented on #94591
I currently do not make direct use of format version, but I think there is value in keeping it anyway.

There are several reasons I don't make direct use of it:
* It does not mean anything to regular users of my tools. If I say "you need format version 12" no one knows what that means. If I say "you need at least nightly-2022-03-04" people know what that means.
* In the past it JSON was sometimes

[2022-03-06 07:11] bjorn3 commented on #94564
It shouldn't panic, so I would expect the panic is caused by corruption. Also if it was a double panic there should at least be a panic message for the first panic.

[2022-03-06 07:22] #94562 closed

[2022-03-06 08:05] hkratz commented on #94564
Reproducable with 1.59.0, 1.60.0-beta.2 and current nightly (c274e4969 2022-03-05).

Stacktrace with current nightly:
[code]

[2022-03-06 08:16] hkratz commented on #94564
It seems that RWLocks are not working for some reason leading to the double panic, because RWLock is used in the central panic dispatcher. For the first panic there is no message displayed because the actual panic handler is never called.

[2022-03-06 09:30] #89122 closed

[2022-03-06 10:05] BoxyUwU commented on #94664
same as #79018 probably

[2022-03-06 11:23] insilications commented on #90522
+1 here too.

To avoid these errors, I've build the standard libraries with "-Clinker-plugin-lto=on -Ccodegen-units=1", so that all .rlib files contain the LLVM IR bitcode instead of the native object. I placed them all inside /usr/lib64/rustlib/x86_64-unknown-linux-gnu/lib/ and remove the previous ones. Following the guide (https://doc.rust-lang.org/nightly/rustc/linker-plugin-lto.html), you can

[2022-03-06 11:42] silverweed commented on #69207
@fzyzcjy Hello, I just copied the DLLs in the executable directory so it could find them when calling LoadLibrary.

[2022-03-06 11:57] ssande7 commented on #94664
Sounds like that's probably the case. Feel free to close this if appropriate

[2022-03-06 15:06] Badel2 commented on #94663
This is the expected behavior, see here for more info:

https://doc.rust-lang.org/book/ch03-02-data-types.html?highlight=overflow#integer-overflow

Also the `as` operator has higher precedence than the `+` operator, so your code is equivalent to:

[code]

While you probably intended to do:

[code]

[2022-03-06 15:24] ouz-a commented on #94627
@rustbot claim

[2022-03-06 15:35] malaire opened #94674 "Macro with format literal doesn't find captured identifier in scope"
I tried this code:

[code]

I expected to see this happen:
Code should succeed because macro is given a literal format and so variable `bar` should be found in the scope of `format!($format)`.

Instead, this happened:
Compiler gives following error:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-03-06 15:37] TaKO8Ki commented on #92685
It seems that this problem has already been solved in nightly.

ref: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3e83c005d6a642b50a98f1e1a39ff582

[2022-03-06 15:47] hkratz commented on #94564
@rustbot label regression-from-stable-to-stable

[2022-03-06 15:49] leonardo-m opened #94675 "ICE with const_trait_impl and const_mut_refs and explicit lifetimes"
[code]

Using:

[code]

[code]

[2022-03-06 15:55] TaKO8Ki commented on #91953
It seems that this problem has already been solved in nightly.

[2022-03-06 16:51] RalfJung commented on #94473
Yeah, it's all kind of complicated. ;)

Basically the core rules are [these ones](https://doc.rust-lang.org/reference/behavior-considered-undefined.html).

[2022-03-06 17:07] workingjubilee commented on #88539
This function seems pretty niche, not actually that hard to implement as `unsafe` code goes, and it seems doubtful it is going to have a lot of users, while it will add more noise to every single instance of the slice method documentation which is transcluded into... many other types. Is it really appropriate for `std`?

[2022-03-06 17:33] Badel2 commented on #94171
Both of my examples are fixed as of ad0d1d71d3bc6f85f53d8ab2bf47daa7c8bc2c51, not sure what is the exact PR that fixed it, but we can probably close this issue.

[2022-03-06 18:22] jonhoo commented on #86654
Hit a few more examples of these errors being relatively unhelpful today ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7df008d688a7d992ace9b3f8a9f8d187)):

[code]

[2022-03-06 18:28] 10maurycy10 opened #94680 "ICE with generics."
### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3f6d8b903da8b01348137330371e7ff5

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-03-06 19:12] Person-93 commented on #74465
Proposed addition to the API for  `OnceCell`: initialization that returns a mutable reference.
[code]
NOTE: I'm not sure about the method names.

[2022-03-06 19:37] SimonSapin commented on #74465
If you have a `&mut OnceCell<T>` during initialization why would you need `OnceCell` at all? If you only have `&OnceCell<T>`, any method that returns `&mut T` from that would be unsound. Only `&T` ever being accessible through `&OnceCell<T>` is a basic principle of `OnceCell`.

[2022-03-06 19:55] Person-93 commented on #74465
My use case is where initialization can be expensive so it should only happen once but updates can happen often and are usually pretty cheap.

[2022-03-06 20:15] SimonSapin commented on #74465
If there’s shared access and there can be any update after initialization, `OnceCell` does not work. That’s why it’s called "once". You need a `RefCell` or a `Mutex` or a `RwLock` instead.

Allowing mutation after initialization in `OnceCell` would make it unsound. For example:

[code]

[2022-03-06 20:24] RalfJung opened #94682 "Surprising behavior of portable SIMD integer vector max/min"
The following code does not print what I would expect:
[code]
I expected element-wise max/min, but I got:
[code]

The funny thing is that portable-simd does not even define `max`/`min` on its integer SIMD types (only on the float ones). What happens is that it falls back to `Ord::max`, and it looks like vectors implement `Ord` by comparing them as arrays, which probably uses lexicographic comparis

[2022-03-06 20:28] Shadlock0133 commented on #74465
It is possible to implement it completely outside of `std`:

[code]

But I still don't know if it's that useful.

[2022-03-06 20:34] Person-93 commented on #74465
The call to `cell.get()` to assign to `b` wouldn't work because `cell` is mutably borrowed.

[2022-03-06 20:42] ehuss commented on #93329
It's been about 3 weeks since the last occurrence of this.

I wasn't able to reproduce this. I tried for several days to reproduce by running the two jobs over and over, but they never failed. I don't have any ideas why that it is.

My guess is that it might be sensitive to codegen layout, and some change has shuffled the code around enough to make it stop.  Or maybe some PR incidentally fixed it?

[2022-03-06 20:51] ehuss commented on #94663
Closing per the comment above.  This is expected behavior as `--release` will disable overflow checks.  More about what `--release` does can be found in the [profile documentation](https://doc.rust-lang.org/cargo/reference/profiles.html#release) along with explanations of the various settings like [`overflow-checks`](https://doc.rust-lang.org/cargo/reference/profiles.html#overflow-checks).

As for

[2022-03-06 20:51] #94663 closed

[2022-03-06 21:11] compiler-errors commented on #94680
This is due to an (almost) trivially unsatisfiable bound. Minimized:

[code]

[2022-03-06 21:14] Aaron1011 commented on #86935
cc @petrochenkov: It looks like this might interact with my higher-ranked closure RFC: https://github.com/rust-lang/rfcs/pull/3216#discussion_r780008500

Since only lifetimes can be specified within a `for<>` binder (which I doubt will ever change, since lifetimes are the only generic 'kind' that we can erase), I think we can still disambiguate between the two cases by checking for `'` token immed

[2022-03-06 21:28] SimonSapin commented on #74465
So `get_mut_with` would take `&mut self`? But if you can afford exclusive access for initialization, why use a cell at all?

[code]

[2022-03-06 21:39] CryZe commented on #94656
Multivalue doesn't work with Rust yet.

[2022-03-06 21:46] MingweiSamuel opened #94683 "ICE: rustdoc unwrap `None` when documenting dependency with GATs #94009"
### Code

~~Code here, big project, but only need to run `-p kvs` or `-p relalg` to cause the error. Maybe will try to minimize later.
https://github.com/hydro-project/hydroflow/commit/d39d44d76355db3e0b9b5c1317dbdd9ba314857c~~

Minimized example: https://github.com/MingweiSamuel/rustdoc-ice

`my_dependency/src/lib.rs`
[code]

`my_package/src/lib.rs`
[code]

Command:
[code]

### Meta

* Platform:

[2022-03-06 21:52] #94664 closed

[2022-03-06 22:31] compiler-errors commented on #94683
I'll look into it!

@rustbot claim

[2022-03-06 22:35] Person-93 commented on #74465
If initialization is expensive or not idempotent, I want to ensure that it only happens once.

[2022-03-06 22:40] compiler-errors commented on #94674
Isn't this expected with macro hygeine?

[2022-03-06 22:55] ChayimFriedman2 commented on #94661
This is not a bug, this is intended. `PartialEq` and `Eq` has to be derived so the compiler can ensure comparing types is sound.

See https://github.com/rust-lang/rfcs/blob/master/text/1445-restrict-constants-in-patterns.md.

[2022-03-06 22:58] ChayimFriedman2 commented on #94646
Does rustc have a way to know it's being run by Cargo?

[2022-03-06 23:02] matklad commented on #74465
@Person-93 perhaps you are looking for https://doc.rust-lang.org/stable/std/option/enum.Option.html#method.get_or_insert_with?  Otherwise, I'd say https://github.com/rust-lang/rust/issues/74465#issuecomment-1060033519 is the way to go.

As a policy question, I would probably suggest to *not* discuss additional convenience methods in this issue, but rather direct issue requests at once_cell crate.

[2022-03-06 23:15] compiler-errors commented on #94683
Minimized this to a local-crate-only test, and working on a solution currently:

[code]

[2022-03-06 23:49] ehuss commented on #94646
[The link](https://github.com/rust-lang/rust/blob/379e94f5a4aebe7dc2d8742653ca244d92b06f3d/compiler/rustc_incremental/src/persist/fs.rs#L534) in the comment above shows how to do it.

[2022-03-07 00:18] ChayimFriedman2 commented on #94629
@rustbot claim

[2022-03-07 00:39] compiler-errors commented on #94662
This seems to have regressed a few days ago. Maybe an infer variable is leaking out of a probe. I'll take a look.

@rustbot claim

[2022-03-07 00:44] compiler-errors commented on #94662
searched nightlies: from nightly-2022-03-02 to nightly-2022-03-04
regressed nightly: nightly-2022-03-04
searched commit range: https://github.com/rust-lang/rust/compare/8769f4ef2fe1efddd1f072485f97f568e7328f79...10913c00018c76103b2fd4260d8c02ec728fd244
regressed commit: https://github.com/rust-lang/rust/commit/2f8d1a835b4e7feaf625f74d0d5cb9b84dbc845a

<details>
<summary>bisected with <a href='http

[2022-03-07 00:55] jonhoo commented on #94556
The [unstable docs](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#target-applies-to-host) _should_ explain exactly what the feature does (and doesn't) do. The challenge is that `=true` matches Cargo's current behavior exactly, and `=false` makes `rustflags` _not_ apply more often, with the expectation that users will be using `[host]` instead.

See https://github.com/rust-lang/ca

[2022-03-07 01:01] guyuming76 commented on #49979
i am new to rust, i am brought here by search engine with the same error message.

i "fixed" the error with cargo clean.

![Screenshot_20220307_085003](https://user-images.githubusercontent.com/12045548/156950888-2ffe7ad0-8cf0-4283-a8e6-9c07e9b0de99.png)

[2022-03-07 01:14] compiler-errors commented on #94675
Bisecting this one currently

@rustbot claim

[2022-03-07 01:18] rust-highfive opened #94687 "`miri` no longer builds after rust-lang/rust#94597"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94597, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @nnethercote, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-07 01:20] jafioti commented on #94661
@ChayimFriedman2 Is there any way to manually implement PartialEq like I have it then?

[2022-03-07 01:32] compiler-errors commented on #94675
searched nightlies: from nightly-2022-02-01 to nightly-2022-03-01
regressed nightly: nightly-2022-02-14
searched commit range: https://github.com/rust-lang/rust/compare/5d8767cb229b097fedb1dd4bd9420d463c37774f...1e12aef3fab243407f9d71ba9956cb2a1bf105d5
regressed commit: https://github.com/rust-lang/rust/commit/9a60099cc43c8a07abb280be323d1ed9afc27f2c

<details>
<summary>bisected with <a href='http

[2022-03-07 02:32] wwylele commented on #94661
Your PartialEq implementation doesn't satisfy the transitivity requirement ( Static(1) == Dynamic == Static(2) => Static(1) == Static(2) ). Exactly because of the existence of this ill-formed PartialEq implementation, the compiler cannot trust a custom PartialEq implementation for const generic dispatch. So no, no workaround here.

[2022-03-07 05:10] Havvy opened #94691 "Document FAQ why we have both PartialEq and Eq in PartialEq"
The title says it all. It's a frequently asked question; most recently on [reddit](https://www.reddit.com/r/rust/comments/t8d6wb/why_does_rust_have_eq_and_partialeq/). It'd be nice if we could link to the standard library docs to answer this.

[2022-03-07 05:17] comex commented on #86935
Personally I'm really hoping to someday see Rust support closures with generic type parameters, similar to C++.  There's no need to erase the type parameter; you "just" desugar to a generic `Fn*` impl, e.g.

[code]

would be like

[code]

Though, this is of limited use unless you also have higher-ranked trait bounds, like

[code]

But this too is something I would like to see someday.

[2022-03-07 07:55] FrancescElies opened #94694 "Linter warning not fired in macro code"
ℹThis report has previously been discussed in [Why is a warning suppressed when the code is inside of a macro? - help - The Rust Programming Language Forum](https://users.rust-lang.org/t/why-is-a-warning-suppressed-when-the-code-is-inside-of-a-macro/72477)

I tried this code:

[code]
When executing, it does evaluate the code twice:

[code]

I expected to see a warning for each time I wrote `CStrin

[2022-03-07 08:16] petrochenkov commented on #86935
@Aaron1011
This ambiguity already exists in the language in a few places, like `impl <T> :: A {}` and some others, and we have some disambiguation rules for this case.
I think we need to reuse the same rules for the `for<...>` closure case too, without introducing more special cases.

[2022-03-07 08:31] malaire commented on #94674
yes, I missed that hygiene is based on actual string literal even when it's being passed as literal macro argument.

[2022-03-07 08:31] #94674 closed

[2022-03-07 09:49] #94599 closed

[2022-03-07 09:49] #94683 closed

[2022-03-07 10:23] jfrimmel commented on #94682
I think this is the same as portable-simd#247 and portable-simd#253.

[2022-03-07 10:46] GuillaumeGomez commented on #75622
Once https://github.com/rust-lang/rust/pull/90630 is merged, I'll take a look to this one.

[2022-03-07 10:48] GuillaumeGomez commented on #74937
As far as I can tell, it was fixed by https://github.com/rust-lang/rust/pull/77809. Don't hesitate to reopen this issue if something from this issue is still missing though!

[2022-03-07 10:48] #74937 closed

[2022-03-07 10:58] leonardo-m commented on #94519
related:

    let test = |[[a,b,c], [d,e,f], [g,h,i]]: [[_; _]; _]| [[g,d,a], [h,e,b], [i,f,c]];

[2022-03-07 10:59] GuillaumeGomez commented on #74849
It was fixed in https://github.com/rust-lang/rust/pull/90089.

[2022-03-07 10:59] #74849 closed

[2022-03-07 14:18] RightFS opened #94701 "[Bug] Create a report for an internal compiler error in rustc"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-07 15:25] #94662 closed

[2022-03-07 15:25] pnkfelix commented on #42940
tagging with wg-async with hopes that it will be enqueued as a polish issue for a volunteer from that group to work on.

@rustbot label: +wg-async

[2022-03-07 15:30] pnkfelix commented on #40107
https://github.com/rust-lang/cargo/pull/8825 has been merged, so this (among many other issues tagged C-future-incompatibility) could be a candidate for becoming a hard error in a future edition.

[2022-03-07 15:40] GuillaumeGomez commented on #93784
There is also #94417.

[2022-03-07 15:42] pnkfelix commented on #79320
I think this is best handled by delegating to the unsafe-code-guidelines WG. (That is, I think any of the footguns and issues discussed arised solely in the context of unsafe code. All sound code should continue to be sound.)

Filed https://github.com/rust-lang/unsafe-code-guidelines/issues/320 and closing this.

[2022-03-07 15:42] #79320 closed

[2022-03-07 17:12] arlosi commented on #93624
There's a prerelease version of CodeLLDB that has a fix for this: https://github.com/vadimcn/vscode-lldb/issues/633#issuecomment-1059681468

You can download the appropriate .vsix file, and install it in VSCode:
<img width="466" alt="image" src="https://user-images.githubusercontent.com/704597/157083359-dc01211c-2504-4492-9a95-42a3cbb89f1c.png">

Please report any feedback / issues over on the Cod

[2022-03-07 17:22] tavianator opened #94705 "stdlib makes assumptions about errors returned by POSIX functions"
Split off from https://github.com/rust-lang/miri/pull/1981#discussion_r820782765

For example, we assume that the return value of `pthread_rwlock_rdlock()` is either 0, `EAGAIN`, or `EDEADLK`: https://github.com/rust-lang/rust/blob/ac470e95852336172197810a9a4f6d2e8c8b6574/library/std/src/sys/unix/rwlock.rs#L51-L54

And that's kinda what POSIX documents: https://pubs.opengroup.org/onlinepubs/969991

[2022-03-07 17:29] RalfJung commented on #94705
Cc @rust-lang/libs

[2022-03-07 17:48] #92056 closed

[2022-03-07 17:48] Cyborus04 opened #94707 "Reference to uninitialized memory in `Arc::make_mut`"
In `Arc::make_mut`, `Arc::get_mut_unchecked` is called with an arc created by `Arc::new_uninit` that has not yet been initialized

https://github.com/rust-lang/rust/blob/f5e6d16d000e0aa73833de909de44e8dcc8589ed/library/alloc/src/sync.rs#L1440-L1445

I know some weird stuff not normally allowed can happen in `std`, but this still seems _odd_.

[2022-03-07 18:16] ricobbe commented on #58713
I've posted [a proposal](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Proposal.3A.20new.20attributes.20for.20use.20with.20raw-dylib) for the attribute changes to the t-compiler channel on Zulip.  Feedback welcome.

[2022-03-07 18:38] WaffleLapkin commented on #94662
It seems like that was caused by my PR (https://github.com/rust-lang/rust/pull/94375). @compiler-errors can you explain what was the problem? I don't think I understood it after looking on the fix...

[2022-03-07 18:46] compiler-errors commented on #94662
@WaffleLapkin: So the type that we try to process the copy obligation for has a region variable (I think it was like `&'_#0r Vec<&'n i64>` where `'_#0r` is a region variable), but since that new infcx is a fresh/empty one, that region variable doesn't exist in the new infcx's tables. I erased the regions in that type to fix the ICE, since we only really care about trait obligations anyways.

Alter

[2022-03-07 18:47] jdisanti commented on #94591
I use `FORMAT_VERSION` to be notified of changes to the JSON format so that I can make sure my tool is working correctly with those changes. If you wanted to use a list of feature names, that works for me too since I could just compare the last known feature name with the end of that list.

Thinking about it more though, I don't absolutely need a format version or change log since I have a compreh

[2022-03-07 19:00] montanalow opened #94710 "`cargo check` crashes, but build/run etc don't"
### Code

This doesn't appear to be directly related to the code in the repository. I can build and run the executables, but running `cargo check` crashes. I was editing code using VS Code with the rust-analyzer plugin installed when the bug manifested the first time.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2022-03-07 19:09] PatchMixolydic commented on #94707
This seems fine from a casual inspection since `Arc::<T>::new_uninit` returns `Arc<MaybeUninit<T>>`, and `MaybeUninit<T>` is allowed to be uninitialized:

[code]

[2022-03-07 19:11] Cyborus04 commented on #94707
Oh, yes, of course. Forgot about that. Whoops. 🤦🏻‍♂️

[2022-03-07 19:11] #94707 closed

[2022-03-07 19:50] jhpratt commented on #87517
## Stabilization report

### Summary

An attribute `#[default]`, usable on `enum` unit variants, is introduced thereby allowing some enums to work with `#[derive(Default)]`.

[code]

The `#[default]` and `#[non_exhaustive]` attributes may not be used on the same variant.

### Test cases

- The feature gate itself is tested in [`feature-gate-deriving_default_enum.rs`](https://github.com/rust-lang/r

[2022-03-07 19:59] kckeiks commented on #94705
@rustbot claim

[2022-03-07 20:34] #93349 closed

[2022-03-07 20:45] workingjubilee commented on #94682
Hello!
Yes, it is a bit peculiar and we should fix that.
We usually track library-level issues over there and integration-level issues on the Rust issue tracker.

[2022-03-07 22:27] camsteffen commented on #93050
FWIW this was attempted in #75298.

[2022-03-07 23:05] timClicks opened #94715 "Confusing lifetime diagnostics hint: "note: expected `&str` found `&str`""
I have occasionally encountered a few problems with the output relating to "[E0495](https://doc.rust-lang.org/stable/error-index.html#E0495): cannot infer an appropriate lifetime due to conflicting requirements". The recommended fix is the same as what's being provided. I haven't been able to create a minimum sized repro, but the example below definitely produces the error.

Given the following co

[2022-03-07 23:51] Fishrock123 commented on #87335
[code]

This example is not good. Code will not look like this in practice.

“Must diverge” in let-else is enforced in a specific way: it must return `!` (the never type).

This explicitly means that a let-else block is almost certainly going to end with one of a few options: `return`, `break`, `continue`, `panic!` (or another macro which invokes `panic!`). Any other options are obscure and unlike

[2022-03-08 01:09] 0rphon opened #94720 "encountered ambiguity selecting `T` during codegen, presuming due to overflow or prior type error"
### Code

[code]

### Meta

encountered this while trying to run an example int he Rocket documentation. bug only exists on nightly. im using `rocket = "0.5.0-rc.1"`

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-08 01:10] Aaron1011 commented on #40107
@pnkfelix Note that this lint (along with all of the other future-incompat lints) is *not* included in the future-incompat report by default. That is, the lint will continue to be completely hidden when the crate is compiled as a dependency.

The only lints that show up in the cargo report are ones marked `FutureReleaseErrorReportNow` (currently, only `PROC_MACRO_BACK_COMPAT` and `PROC_MACRO_DERIV

[2022-03-08 01:56] c410-f3r opened #94721 "`missing_docs` lints external third-party dependencies"
### Cargo.toml

[code]

### lib.rs

[code]

### Command

RUSTFLAGS="-Dmissing_docs" cargo check

### Error

[2022-03-08 01:59] c410-f3r commented on #94721
IIANM, this erroneous behavior was recently introduced.

Feel free to close the issue if duplicated.

[2022-03-08 02:04] QuaternionsRock opened #94722 "Compiler detects conflicting implementations of a trait where there are none"
Stable 1.59.0 and nightly 2022-03-06 have shown no differences in this issue in my testing.

I seem to have discovered a situation where the compiler claims there are two conflicting implementations of a trait when the bounds don't actually intersect? Type theory can be tricky, so it's possible this behavior is actually correct.

Minimum Reproducible Example: [(playground)](https://play.rust-lang.

[2022-03-08 03:13] matthiaskrgr opened #94725 "debug assertion failure: debuginfo + feature(allocator_api):"
for example:
### Code

[code]

### Meta

`rustc --version --verbose`:
rustc needs to be built with debug assertions!!
[code]

### Error output
`rustc ./78459.rs  -Cdebuginfo=2 --edition=2021`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-08 03:13] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-rustdoc-2 start=1.59.0 end=beta-2022-03-08 mode=rustdoc cap-lints=warn

(Partially using this to test crater reliability, since we otherwise are idle).

[2022-03-08 03:15] matthiaskrgr commented on #94725
might be related to https://github.com/rust-lang/rust/issues/94149

[2022-03-08 03:16] #90729 closed

[2022-03-08 03:19] jackh726 commented on #93341
I think this was fixed in #90887, but needs to be confirmed.

[2022-03-08 03:20] jackh726 commented on #93342
I think this was fixed in #90887, but needs to be confirmed.

[2022-03-08 03:21] jackh726 commented on #94160
I think this was fixed in #90887, but needs to be confirmed.

[2022-03-08 03:21] skyzh commented on #93342
Thanks a lot! I'll have a try on the latest nightly.

[2022-03-08 03:41] compiler-errors commented on #93342
@skyzh you probably need to try on tomorrow's nightly (or the day after), since #90887 just landed very recently.

[2022-03-08 04:00] compiler-errors commented on #93342
@jackh726, I manually checked this compiles on master.

[2022-03-08 04:01] compiler-errors commented on #94160
@jackh726, confirmed fixed on master.

[2022-03-08 04:02] compiler-errors commented on #93341
@jackh726, confirmed fixed.

[2022-03-08 04:14] compiler-errors commented on #94725
Probably related to #78459 (or in the same spirit) -- debuginfo code may not account for non-ZST allocator on `Box<T, A>`.

[2022-03-08 04:23] compiler-errors commented on #94725
Actually mentioning that issue, it gives me a probable fix.

@rustbot claim

[2022-03-08 04:35] crlf0710 commented on #93341
Closing according to the comment above.

[2022-03-08 04:35] #93341 closed

[2022-03-08 05:00] lukechu10 commented on #58874
Sorry for the ping but with [exception handling implemented in both Chrome and Safari](https://webassembly.org/roadmap/), any chance for progress on this issue?

[2022-03-08 05:20] #93342 closed

[2022-03-08 05:43] ChrisDenton commented on #85642
Rust recently upgraded to LLVM 14 so I'm closing this as resolved. I'll also comment on the tracking issue.

[2022-03-08 05:43] #85642 closed

[2022-03-08 05:44] ChrisDenton commented on #71520
#85642 is now resolved in nightly (Rust 1.60.0).

[2022-03-08 07:23] grelative opened #94729 "The error is confusing when return a reference to a captured variable that's moved into the closure"
It seems return a reference to captured variable that's moved into a closure is disallowed, no matter the closure is a `Fn`, `FnMut`,or `FnOnce`. But the compiler gives different error for `Fn`, `FnMut`, and `FnOnce`(You can uncomment the code in `main` to see it), which is confusing. If it's not allowed anyway, give a error that states "return a reference to captured variable that's moved into th

[2022-03-08 10:24] #94687 closed

[2022-03-08 11:23] nertpinx commented on #94458
it's also possible to add
[code]
but I was not sure where to check what does it imply and where to find the definitions for these. I think that it is useful to check that gdb can actually display the character. Thanks @ratmice to pointing to the implementation of those. I'll try to look at that at some point, although it will probably take me quite some time O:-) so I do not want to promise anythi

[2022-03-08 12:45] #94646 closed

[2022-03-08 14:05] GuillaumeGomez commented on #69160
We don't show the implementors' items anymore so this is not relevant anymore.

[2022-03-08 14:05] #69160 closed

[2022-03-08 14:25] hummingly opened #94735 "Compiler"
Rust-analyzer as well as the compiler fail to emit an error for map_page_indices. It seems like the impl before makes the compiler ignore it. If I remove the first impl of SparseTreeSet, a compile error is output as usual. Also cargo clean does not solve the issue. However, I cannot test on a more recent nightly as the hospital wifi is too slow.

Edit 1: Minimized the code more.
Edit 2: Problems s

[2022-03-08 14:54] jyn514 commented on #94721
This isn't related to devtools, the lint is part of the compiler itself.

@rustbot label: -T-dev-tools +T-compiler

[2022-03-08 16:20] danakj commented on #73295
For Chrome's purposes, we will be linking rlibs (in the future, --emit=obj or similar via https://github.com/rust-lang/rust/issues/73632) together into a .so with clang. Thus no use of `crate-type=staticlib`. And marking a symbol as `pub` in Rust does appear to make the symbol visible in that .so file. It needs to be tested and confirmed on Windows though. Work on this is happening in https://crbu

[2022-03-08 16:31] nrc commented on #78485
We discussed this on Zulip (https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/ReadBuf.20API). We concluded that including the bytes read inside the ReadBuf was preferable to keeping it outside. As well as being less error prone it seems like better encapsulation in data structures and a more Rust-y API.

[2022-03-08 16:47] Darksonn commented on #78485
My experience with having a similar API in Tokio is that you _have_ to fix the footgun. You will have a lot of buggy implementations if you don't.

[2022-03-08 16:49] nrc opened #94741 "ReadBuf's API"
cc #78485

ReadBuf is unstable, part of the read-buf feature. I believe the API might be improved by some of the following ways (I've grouped methods by theme):

## Construction

* remove `new` (it should create an empty `ReadBuf`, but that is useless, I think)
* Should implement `From<&'a mut [u8]> for ReadBuf<'a>` to create a ReadBuf from a byte slice (rather than `new`)
* Should implement `From

[2022-03-08 16:51] kckeiks commented on #94705
@RalfJung I found these that might be of interest

* https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/thread_local_key.rs#L16
* https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/thread_local_key.rs#L27
* https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/condvar.rs#L69
* https://github.com/rust-lang/rust/blob/master/library/std/src/sys

[2022-03-08 16:55] djc commented on #94741
Not sure about this one. If I convert a `&mut [u8]` to `ReadBuf` (with `let mut buf = ReadBuf::from(slice);`, say), suddenly the `buf.len()` is shorter than the `slice.len()`. IMO we should either stick with `filled_len()` or ditch it in favor of `filled().len()` (which is nicely symmetric with `unfilled().len()`).

This one also doesn't make sense to me. `filled()` and `filled_mut()` reborrow the

[2022-03-08 17:10] kckeiks commented on #94705
If someone can confirm if we should update these functions (promoting assert_debug to assert) then I'll go ahead and open a PR.

[2022-03-08 17:33] nrc opened #94742 "Read::read_buf mutable reference to ReadBuf"
cc #78485

Currently, `Read::read_buf` takes a `&mut ReadBuf`. That means that a malicious `Read` impl could swap out the buffer for another whereas the intent is that an impl should only write into the buffer. If users rely on properties of the `ReadBuf` to hold for an underlying buffer, then they must check that the ReadBuf has not been changed, otherwise they risk writing code which is unsound

[2022-03-08 17:45] jackh726 commented on #91693
GATs issue triage: not blocking. This needs some work with Polonius, I think. But not backwards-incompatible.

[2022-03-08 17:46] jackh726 commented on #92985
GATs issue triage: not blocking. This needs some work with Polonius, I think. But not backwards-incompatible.

[2022-03-08 17:49] joshtriplett commented on #94741
I agree that we shouldn't have unqualified methods like `len` affect part (not all) of the buffer; too much potential for confusion.

[2022-03-08 17:59] chordtoll commented on #94432
@rustbot claim

[2022-03-08 18:00] ChrisDenton opened #94743 "Windows: Support running script files using `process::Command`"
On Windows, currently only running `.exe` files is supported and script files aren't. Running `.bat` or `.cmd` (batch) files may work due to an undocumented feature of [`CreateProcessW`](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-createprocessw) (the underlying Windows API call) but it would be good to have proper, documented support rather than relyi

[2022-03-08 18:11] Darksonn commented on #94742
The Tokio crate already uses a `ReadBuf`-based API in its IO traits, and my experience using the `ReadBuf` design there for more than a year is that this is important to fix. Pretty much everyone who writes something that can have this mistake does make the mistake until pointed out to them.

Regarding ergonomics, one way could be to have `ReadBuf` have an `.as_mut()` method that returns an `ReadB

[2022-03-08 18:38] tavianator commented on #94705
Yeah I figured this might be a more general problem than just that one example.  I think most of them should become unconditional asserts.  It would be helpful if the assertion message included errno (or the returned error code for the pthread functions).

It might be tempting to ignore failures of `_destroy()` functions in `Drop` impls, but that can theoretically lead to UB, since the allocation

[2022-03-08 18:41] RalfJung commented on #94705
No strong opinion on what to do with them, but if we opt to not change the code for the reasons you mention, we should still add a comment explaining exactly that.

[2022-03-08 18:57] dtolnay opened #94745 "Tracking issue for core::hint::must_use"
Feature gate: `#![feature(hint_must_use)]`

This is a tracking issue for the function `core::hint::must_use`

### Public API

[code]

### Steps / History

- [x] Implementation: #94723
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

-

[2022-03-08 19:04] dtolnay commented on #94745
Copied over 2 proposed alternatives from https://github.com/rust-lang/rust/pull/94723#issuecomment-1061360128. I like `#[must_use]` on blocks if that can be made to work. Though it would be blocked on #15701 which has been open since 2014.

[2022-03-08 19:15] lovasoa opened #94747 "improve similar method names suggestions"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=af286f54d571ef5e00cd728ea244b3aa

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

To a human, the method name `is_empty` is much closer to `empty` than to `bs_xmpty`.
However, the algorithm used by the compiler to suggest similar method names seems a little bit si

[2022-03-08 19:21] dtolnay commented on #53835
Closing because generic impls like proposed won't behave correctly, as described in #94744.

[2022-03-08 19:21] #53835 closed

[2022-03-08 19:34] Mark-Simulacrum commented on #94745
I don't think it would be blocked on #15701 -- I believe exprs on blocks are currently permitted, e.g., cfg and lint attrs (allow etc) [work](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fb424c1592bea4863a17214240cfcefd):

[code]

I am not familiar with the implementation details of must_use enough to know whether putting it on a block causes problems, though naively I w

[2022-03-08 19:40] DrMeepster commented on #94741
I don't like having From/Into be the only way to do this. I think it's always better to have explicit methods of doing things, in addition to the conversion traits.

[2022-03-08 19:57] DrMeepster commented on #94742
#93359 implements this

[2022-03-08 20:09] nagisa commented on #94745
I'm somewhat concerned it might give an impression to a developer that

[code]

is an equivalent to

[code]

[2022-03-08 20:10] dtolnay commented on #94745
@Mark-Simulacrum what currently works is attributes on **statements**. In order for us to use `#[must_use]` as a replacement for `core::hint::must_use` it would need to work on expressions in general, not on statements, which is not supported:

[code]

[code]

[2022-03-08 20:14] dtolnay commented on #94745
Alternatively I suppose it would be possible to support attributes only on an outermost macro-produced expression/block, without going all the way to attributes on expressions in general, if that's less prone to grammatical ambiguities or whatever is holding up #15701.

That is we could conceivably make the following work (which it doesn't today) without making the code in my previous comment work

[2022-03-08 21:07] zesterer commented on #94715
Notes are generally not considered recommended fixes, but it's unfortunate that the compiler doesn't invent aliases for these differing lifetimes (`'1`/`'2`), despite doing this in other cases.

[2022-03-08 21:29] workingjubilee commented on #94654
This features a parallel-compiler-only bug.
It is a variant of https://github.com/rust-lang/rust/issues/72554
It is ultimately a blocker for https://github.com/rust-lang/rust/issues/48685
and might be a blocker for https://github.com/rust-lang/rust/issues/59667
but itself does not need to be fixed any time soon.

[2022-03-08 22:25] pierwill commented on #41044
@rustbot release-assignment

[2022-03-08 22:38] euclio commented on #77968
Looks like this was fixed by #93142.

[2022-03-08 22:53] KodrAus commented on #31844
I'd settle for literally anything at this point syntactically, including some kind of attribute that punts the question of first-class syntax.

[2022-03-08 23:17] BarePotato opened #94755 "Doc states no iter_mut on HashMap but there is"
https://github.com/rust-lang/rust/blob/1eb72580d076935a3e590deb6e5813a5aef3eca4/library/core/src/iter/mod.rs#L246

HashMap clearly has iter_mut https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.iter_mut while HashSet does not.

Docs should be changed to reflect this. I would be happy to do this, but as I have not contributed to Rust before, wanted to make sure I didn't miss some

[2022-03-08 23:37] BarePotato commented on #94755
I also realize that the key itself is reference as seen here https://doc.rust-lang.org/std/collections/hash_map/struct.IterMut.html#associatedtype.Item but feel the wording here being updated is still valid.

[2022-03-09 00:26] #39006 closed

[2022-03-09 00:26] #94675 closed

[2022-03-09 00:27] dtolnay commented on #77968
Indeed! Thanks for finding that.

[2022-03-09 00:28] #77968 closed

[2022-03-09 01:20] bvinc opened #94757 "doctest regression in Rust 1.59.0. doctest seems to be incorrectly triggered by 4 spaces inside comment."
Playground link:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=49cbbdbc31452b20822c8753c67a13d3

### Code

I tried this code:

[code]

I expected to see this happen: tests pass because there are no tests

Instead, this happened: A doctest fails with the following error

[code]

### Version it worked on

It most recently worked on: I believe it worked on 1.58.0

### Versi

[2022-03-09 01:53] compiler-errors commented on #94755
I agree this wording should be updated. Perhaps "or `HashMap<K, V>`" should just be removed.

[2022-03-09 01:55] ChrisDenton commented on #38227
This will be enabled by #88193 but it would be good if this had a dedicated API. It'd be nice to do this by default too but that may be too breaking.

@rustbot label +T-libs-api

[2022-03-09 01:59] compiler-errors commented on #94735
This was fixed in #94596. Can you test this after running `rustup update` to update your compiler to the newest nightly?

[2022-03-09 02:35] carloabelli opened #94758 "Incorrect Debug derive macro error"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Output

[code]

### Error when the commented line is un-commented

[code]

Despite the fact that `<With<Cow<'_, str>, AsOwned> as Archive>::Archived` is `rkyv::string::ArchivedString` which implements `Debug`.

[2022-03-09 02:36] carloabelli commented on #94758
Maybe related to #94651?

[2022-03-09 02:41] Gankra commented on #54341
Ok so I tested out my new tool (which now has even more tests) on aarch64 via:

* My coworker running it on an m1 mac
* Me running it via termux on an android phone

Much to my surprise **both of these platforms completely pass the suite**!

Which is to say, u128/i128 in rust are 100% ABI compatible with both major aarch64 platform's `__uint128_t` and `__int128_t` definitions (I pray to bejeezus t

[2022-03-09 03:33] QuaternionsRock commented on #94722
@plazmoid that is actually by design. As I tried to demonstrate in the "brute force" example, `NDArrayType<[T; N]>` is _supposed_ to be implemented for `[T; N]` in this way. As an example, the following traits should be implemented for every type `[[T; M]; N]`:

* `NDArrayType<[[T; M]; N]>` (by the first impl), because `[[T; M]; N]` *is* technically a scalar (0D array) of itself in the sense that

[2022-03-09 04:23] Toru3 commented on #94160
I confirmed fixed on nightly(1eb72580d 2022-03-08). 🎉

[2022-03-09 04:23] #94160 closed

[2022-03-09 05:04] eignnx commented on #94680
Played around a little and found that:

1. The same ICE is generated on version 1.59.0 stable.

2. If a `'static` lifetime is used, no ICE is generated:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=eba7813b633302c60221d58389a58468
Instead you get this error (which seems to be correct):
[code]

[2022-03-09 05:07] QuaternionsRock commented on #94722
Going back to the example -

If I had to guess, I would say that the type relationship of the identity impl is not being properly evaluated by compiler when it tries to deduce the bounds of `U` in the array impl. I would expect it to see that there is an `impl<T> NDArrayType<T>` and take that to mean that *every* type implements `NDArrayType<T>`, which makes it no different from `impl<T, U> NDArra

[2022-03-09 05:31] Gankra commented on #65111
While looking into #54341 I wrote a tool for actually generating+compiling+running+checking rust<->C ffi interfaces:

https://github.com/Gankra/abi-checker

It needs some polish and UX work for it to be totally useful in the context of automated tooling/reporting, but I think it's a pretty useful baseline for just objectively verifying whether C and Rust agree on how different concepts get passed

[2022-03-09 05:57] AlexApps99 opened #94762 "SIGFPE in rustc LTO"
### Code

Haven't minimized it yet, so I won't upload for now

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

Coredump info
[code]
[Coredump file](http://filedump.to/download/3ccd92f6512e4bea997b098870c7bc6f/core.rustc.1000.b36f276488334d8b9e64dc716732839c.39711.1646804502000000.zst)

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-09 05:59] jackh726 commented on #94722
Let's look at this a bit.

For the second impl, let's simplify to `N=1`. So, we have

[code]

Now, we have to find some substs where these impls overlap. So, they overlap when `X == [U; 1]` and `X == T`. In theory, this only really matters in the case where *both* apply, so `T == [U; 1]`. Next, we need to verify that the bounds on all impls can hold under these substs, so `U: NDArrayType<[U; 1]>`.

[2022-03-09 05:59] #94722 closed

[2022-03-09 07:52] QuaternionsRock commented on #94722
@jackh726, I gave some thought to that explanation as well. I understand what you're saying about the global requirements of the generic impl, but nonetheless I feel it may be worthy of being considered a bug. Above all else, it is definitely inconsistent behavior: whether or not it will compile depends *only* on the identity impl being concrete or generic. I tried to demonstrate this in [the seco

[2022-03-09 08:58] #94311 closed

[2022-03-09 08:58] #94629 closed

[2022-03-09 08:58] #73212 closed

[2022-03-09 09:09] nikic commented on #89524
Closing this one as the specific case doesn't reproduce anymore, and we have other issues tracking similar problems.

[2022-03-09 09:09] #89524 closed

[2022-03-09 09:15] apiraino commented on #94564
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394564.20Binary.20crashes.20when.20statically.20linked.20with.20LTO.20turne.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-03-09 09:43] GuillaumeGomez commented on #94757
It's not a bug. Try it [here](https://spec.commonmark.org/dingus/?text=Some%20ascii%20art%20documentation%0A%207%206%205%204%203%202%201%200%0A%2B-%2B-%2B-%2B-%2B-%2B-%2B-%2B-%2B%0A%7C%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7C%0A%2B%20%20%20%20%20AB%20CD%20%20%20%20%20%2B%0A%7C%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7C%0A%2B-%2B-%2B-%2B-%2B-%2B-%2B-%2B-%2B). The problem is that `+` sta

[2022-03-09 09:43] #94757 closed

[2022-03-09 09:59] nikic commented on #92869
The fix has been pulled in by the LLVM 14 upgrade. I've verified this works on beta.

[2022-03-09 09:59] #92869 closed

[2022-03-09 11:31] nagisa commented on #54341
Yes, the data layout of all of the the aarch64 targets supported by rust has the prerequisite `-i128:128` component within it.

[2022-03-09 11:39] #94056 closed

[2022-03-09 11:57] burrbull opened #94766 "limitations of literal usage in declarative macros"
1. Matching literals with constants:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2e60491da5cd43301b9b64b26dc1e320

2. Indexing of tuples:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=571e5a9d34cee2250d1a716c6ae7c86d

[2022-03-09 12:19] Alexendoo commented on #79224
No longer appears to ICE since #90887

[2022-03-09 13:19] m-ou-se commented on #71499
@rfcbot merge

[2022-03-09 13:30] m-ou-se commented on #92939
@rfcbot merge

[2022-03-09 13:33] Gankra commented on #54341
Oh nice!

This problem is so historically jank that I am a little paranoid about this... it would still be nice to actually confirm FFI works on all our aarch64 platforms. I don't *expect* any platform's C to randomly overwrite the arch default but.......

[2022-03-09 13:44] JiamingLinn opened #94767 "A confusing compile error about lifetime of mutable reference after reborrowed"
## Code
[code]
The mutable reference `mref` were not used anymore after reborrowed. But It seems that it's lifetime were not over when I used `ref1`.

## Result
[code]

##  Other case
[code]

[2022-03-09 14:49] m-ou-se opened #94770 "Allow multiple #[unstable] attributes on one item"
We sometimes have things that should be gated by multiple features. E.g. `ScopedJoinHandle::is_running` is part of `scoped_threads`, but also of `thread_is_running`. In these cases we now just apply only one of the `#[unstable]` attributes, and because of that sometimes accidentally stabilize something when only one of the features gets stabilized.

It'd be great if we could add multiple `#[unstab

[2022-03-09 15:01] oli-obk commented on #28238
We are now checking everything properly. I don't remember if my comment was wrong or if it got addressed.

[2022-03-09 15:01] #28238 closed

[2022-03-09 15:47] Be-ing commented on #75075
I have an alternative idea. What if there was an option to tell Cargo to use / path separators for all its path environment variables like OUT_DIR and CARGO_MANIFEST_DIR?

[2022-03-09 16:34] #60993 closed

[2022-03-09 17:43] ChrisDenton commented on #46243
I think this was fixed by https://github.com/rust-lang/backtrace-rs/pull/242 which uses a session-local named mutex to synchronize use of dbghelp. cc @alexcrichton

[2022-03-09 17:55] 0rphon commented on #94720
fixed on latest nightly. my bad

[2022-03-09 17:55] #94720 closed

[2022-03-09 17:58] jackh726 commented on #91883
Current output is
[code]
I think that's pretty helpful. Going to mark as needs-test

[2022-03-09 18:47] bvinc commented on #94757
I considered it clearly a bug because code that compiled previously no longer compiles with Rust 1.59.0.

Where can I find information about `+` starting a list?  What kind of list?

[2022-03-09 18:58] GuillaumeGomez commented on #94757
It's in the commonmark spec. I linked you the dingus but you can see the spec from the same website.

[2022-03-09 19:02] levkk opened #94778 "Recursive call warning does not appear inside a match statement"
I tried this code:

[code]

I expected to see this happen: the compiler should of warned me that the implementation `PartialEq` for `Test` is recursive.

Instead, this happened: it compiled the implementation for `Test` without warnings and produced a stack overflow. Implementation for `Test2` is included to show that it does produce a warning when the recursive call is made not inside a `match` s

[2022-03-09 19:18] yaahc commented on #87707
closed by https://github.com/rust-lang/rust/pull/94236

[2022-03-09 19:18] #87707 closed

[2022-03-09 19:19] nikic commented on #93784
It looks like rustdoc-gui tests are now consistently failing with:

[2022-03-09 19:43] GuillaumeGomez commented on #93784
I'm checking locally.

[2022-03-09 19:46] jackh726 commented on #92857
Okay, so I was talking to @compiler-errors about this. Looking at the error output, it seems like we miss a normalization late: `<Instance as Provider>::ListEntry<'a>`. It might be possible to make this work by specifying specific generics. Additionally, fixing this shouldn't cause any backwards-compatibility problems.

GATs issue triage: not blocking. See reasons above.

[2022-03-09 20:08] frengor opened #94780 "Tracking Issue for `Iterator::collect_into`"
Feature gate: `#![feature(iter_collect_into)]`

This is a tracking issue for adding the `collect_into` method to the `Iterator` trait.
`Iterator::collect_into` lets an iterator to be collected into a collection which implements the `Extend` trait, consuming the iterator and adding every of its item to the collection.
Adding this method has also the benefit of making the `Extend` trait more discove

[2022-03-09 20:14] workingjubilee commented on #94654
Remark from @cjgillot:

[2022-03-09 20:32] jonhoo opened #94781 "Cannot build just stage 0 `rust-std` from `rust-src` with local rust"
I'm trying to _just_ rebuild the 1.59.0 standard library from `rustc-src` using the 1.59.0 compiler I have locally, but it appears not to work. Specifically, I tried this sequence of steps:

[code]

I expected to see this happen: `rust-std` should get built

Instead, this happened:

[code]

followed by a _huge_ list of similar errors stemming from the lack of `std`.

### Meta

`rustc --version --v

[2022-03-09 20:33] nasherm commented on #80268
@rustbot claim

[2022-03-09 20:33] jonhoo commented on #94781
This _might_ be related to https://github.com/rust-lang/rust/issues/51698, I'm not sure?

[2022-03-09 20:37] jonhoo opened #94782 "rustc-src target does not include vendor/ when re-building rustc-src"
I tried this sequence of steps:

[code]

I expected to see this happen: `rustc-1.59.0-src.tar.xz` should be built, and should include a `vendor/` subdirectory with the same entries as in the source tarball.

Instead, this happened: the produced `rustc-1.59.0-src.tar.xz` does not contain a `vendor/` subdirectory, likely because of the logic here, which ties the inclusion of that directory to whethe

[2022-03-09 20:39] jonhoo commented on #94782
Ooops, I opened this a little too early, sorry about that. This _is_ a bug, but the steps outlined currently hit https://github.com/rust-lang/rust/issues/94781. It's possible to reproduce by doing a full `dist` build instead — the outcome is the same, it just takes a lot longer.

[2022-03-09 21:03] workingjubilee commented on #26350
For this matter, I do not believe that the GNU math.h is quite as overwhelmingly tuned for all our supported platforms as suggested, and we also have to consider e.g. inconsistency over musl, msvc, darwin, etc. Being able to have these methods be part of our own libm story is very useful, because it allows consistency across Rust and thus coherently const-evaluating these methods.

In addition, ha

[2022-03-09 21:05] m-ou-se commented on #65225
We briefly discussed this issue last week in the Library API meeting. We'd like to see a more complete proposal for an alternative API, such as the `EntryRef` idea that was mentioned before.

[2022-03-09 21:22] Merlin1846 opened #94783 "Showing error that comparison is useless, but if changed to non "useless" code it produces different output, meaning its not useless."
It should not produce a warning but it does.

[code]

The current output is:

[code]
But it should be:

[code]

Although this code does not produce a warning it seems a little silly since it does the exact same thing as far as I can tell. But with extra steps.
[code]

And in the event that this is a bug and not just me being stupid should I do this instead?
[code]

[2022-03-09 21:29] jhpratt opened #94785 "Tracking Issue for `#![feature(deprecated_suggestion)]`"
Feature gate: `#![feature(deprecated_suggestion)]`

This is a tracking issue for suggested replacements on deprecations. This has been used as part of the `#[rustc_deprecated]` attribute since 2019-01-31. The suggestions are machine-applicable, in that `cargo fix` is capable of making the replacement without further user intervention. As such, the suggestion must be valid Rust (though this is not

[2022-03-09 21:29] rtzoeller commented on #94783
The warning is valid - `position.0` and `position.1` are `u16`s, i.e. non-negative. Thus `position.0 >= 0 && position.1 >= 0` is always true.

[2022-03-09 21:37] workingjubilee commented on #72447
per @burrbull in https://github.com/rust-lang/rust/issues/57241#issuecomment-909858133
"`const fn transmute` is already stabilized"

This allows routing around these using `unsafe` const code. I think that the question now is whether we want to stabilize the safe methods or to instead fix the bugs that can cause unconst behavior (and thus, continue to make people `unsafe`ly assert that they believ

[2022-03-09 21:45] Merlin1846 commented on #94783
The code that does NOT produce a warning produces this result:
![image](https://user-images.githubusercontent.com/57198951/157540975-a6327ef7-46f3-4310-975e-32cf878358b1.png)

But this code, which produces a warning:
[code]
Gives the correct result.
![image](https://user-images.githubusercontent.com/57198951/157541237-dd859474-22a4-463a-a8d9-c78b8b0c0aa5.png)

So that can't be, right?

[2022-03-09 22:03] compiler-errors commented on #94680
Gonna claim this because I've been thinking about it recently: #93008, https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/What.20to.20do.20with.20trivially-false.20trivial_bounds

@rustbot claim

[2022-03-09 22:29] nikomatsakis commented on #94207
I'm not sure this is a bug at all, or rather, it may be a diagnostics issue-- the value of `F` is not given, so we are not going to be able to prove that the where clauses on `foo` hold, but I would expect it to say 'please provide a type annotation'. Am I missing something?

(Also, this is not GATs, right?)

[2022-03-09 22:44] jackh726 commented on #94207
Yeah, this isn't GATs.

[2022-03-09 23:26] hummingly commented on #94735
Everything fine on the latest nightly!

[2022-03-09 23:26] #94735 closed

[2022-03-09 23:53] estebank commented on #94192
@TaKO8Ki sorry, didn't mean to take this over from you, I happened to be looking at this code. The error that @compiler-errors linked is still there and requires a medium-sized amount of refactoring to properly account for cases like the following:

[code]

[2022-03-09 23:56] notriddle commented on #94783
As proven by [this exhaustive test case](https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=d7223e4391e03418e0133703399bfe4c), the following two lines of code mean exactly the same thing:

[code]

[2022-03-10 00:02] jonhoo commented on #94781
I'll add that `./x.py dist rust-std` (so without `--stage 0`) gives
[code]

[2022-03-10 00:29] joshtriplett commented on #70436
It seems like the biggest blocker for this is the open question about the API. The current API requires the caller to pass a `&mut`, so that `write_all_vectored` can modify it in place if it needs to make an additional writev call. This seems to have been proposed for performance reasons, to minimize the work required to make subsequent calls.

I would like to propose changing this, for a couple o

[2022-03-10 00:52] gimbles commented on #93779
For now, cargo clean and rebuild.

[2022-03-10 01:41] robjtede opened #94791 "macros in `static-assertions` crate no longer compile"
### Code

I tried this code:

This is a reduction of the macro output from `assert_not_impl_any!` macro of the [static-assertions](https://crates.io/crates/static-assertions) crate.

[code]

I expected to see this happen: Successful compilation.

Instead, this happened:

[code]

### Version it worked on

It most recently worked on: `rustc 1.59.0 (9d1b2106e 2022-02-23)`

### Version with regression

[2022-03-10 01:47] compiler-errors commented on #94791
Lemme cargo-bisect this..

[2022-03-10 02:00] luyikk opened #94792 "internal compiler error: unexpected panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-10 02:14] robjtede commented on #94791
I'm on a tier 2 platform but here's my bisect:

searched nightlies: from nightly-2021-10-01 to nightly-2022-03-10
regressed nightly: nightly-2022-02-08
searched commit range: https://github.com/rust-lang/rust/compare/f624427f8771c00819684c783bb841bf72095704...734368a200904ef9c21db86c595dc04263c87be0
regressed commit: https://github.com/rust-lang/rust/commit/734368a200904ef9c21db86c595dc04263c87be0

[2022-03-10 02:24] compiler-errors commented on #94791
Nah you're likely right. My internet died during the bisect so sorry for leaving you hanging, haha. Thanks for doing the bisect.

So the issue seems to be that #87869 made [`std::io::Error` implement `UnwindSafe`](https://doc.rust-lang.org/nightly/std/io/struct.Error.html#impl-UnwindSafe) whereas that's not true on stable.

[2022-03-10 02:32] robjtede commented on #94791
Okay, that's good then. Weird that there's no reference to it in the PR.

I suppose this is the tricky bit about negative impl testing auto traits.

[2022-03-10 02:32] #94791 closed

[2022-03-10 04:34] shuoli84 opened #94795 "Inline attribute caused multiple function generated in final output"
I tried this code:

[code]

I expected to see this happen: *the final dylib should contain only one TestModel::clone*

Instead, this happened: *I see two copies of TestModel::clone*

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-03-10 04:35] shuoli84 commented on #94795
build profile

[code]

build cmd

[code]

[2022-03-10 05:37] jyn514 opened #94797 "`cargo run -p bootstrap -- test tidy` fails because it can't find the sysroot"
I tried this:

[code]

I expected to see this happen: Tidy runs fine, just as if I'd run `x test tidy`.

Instead, this happened:
[code]

The problem is that `src/bootstrap/build.rs` is setting `RUSTC` to `~/.cargo/bin/rustc`, not `~/.rustup/toolchains/beta-x86_64-unknown-linux-gnu/bin/rustc`, which breaks because rustbuild then can't find the appropriate sysroot.

cc https://github.com/rust-lang/r

[2022-03-10 06:16] brendanzab commented on #87840
I've needed `checked_add_signed` for working with [`io::SeekFrom`](https://doc.rust-lang.org/stable/std/io/enum.SeekFrom.html), for example! Had to roll my own (and I'm not sure how correct it is), inspired by [this implementation](https://github.com/freedomlayer/offset/blob/e935f8f5f5d84cd1bb7b6359e4fc3b57b6fddaee/components/common/src/safe_arithmetic.rs#L81-L87):

[code]

It would be great to ha

[2022-03-10 06:53] adamreichold commented on #70436
I am not saying that it is a common pattern, but in a ecological simulation I am using a single call to `write_all_vectored` with up to 10^5 `IoSlice` items to write out the simulation state as a single copy into the page buffer, i.e. without assembling a separate serialized representation first. (Since the indirections I need to follow for this might have been re-allocated when the next state dum

[2022-03-10 09:37] apiraino commented on #94757
I think the source of confusion is that the commonmark library used (pulldown-cmark) was updated (perhaps in https://github.com/rust-lang/rust/commit/ecd39aae0ea07271181978494391c19e26bcb29b) and the linting/validation improved accordingly, now respecting more closely the spec, hence the new error correctly reported.

[2022-03-10 10:55] phip1611 commented on #90962
@WaffleLapkin  Can you please explain why the const implementation always returns `usize::MAX`? Please look at the following example:

[code]

This currently prevents me from doing an alignment check inside the constructor. Is this intended?

[2022-03-10 11:29] WaffleLapkin commented on #90962
@phip1611 during CTFE (compile time function execution) memory is organized differently, than while runtime execution Specifically it doesn't really have addresses or alignment, so there is no way to implement `align_offset`  in a sensible way. (PS I'm not an expert in CTFE, so correct me if I'm wrong)

Also, see the documentation:

`align_offset` is expected to be used in cases where you can proc

[2022-03-10 11:45] phip1611 commented on #90962
Thanks for the quick reply @WaffleLapkin. What do you think about the use case shown in my example? Shouldn't this be possible in the future? Do you think it is worth it to open a dedicated ticket for this?

[2022-03-10 11:58] WaffleLapkin commented on #90962
@phip1611 I don't think this can be ever possible, addresses of `static` variables are not known at compile time and are even randomized at runtime:
[code]
([screenshot](https://user-images.githubusercontent.com/38225716/157656913-fc6da3bc-d5dc-4460-9886-74191943fad2.png))

[2022-03-10 12:16] Diggsey commented on #93367
I haven't really looked into it yet, but one of my crates is flagging up this warning: https://github.com/Diggsey/scoped-tls-hkt/issues/2

[2022-03-10 12:28] #89609 closed

[2022-03-10 12:28] #93923 closed

[2022-03-10 12:28] #94032 closed

[2022-03-10 12:42] phip1611 commented on #90962
Rust could deduce the alignment somehow from a `#[repr(align(4096))]` attribute perhaps?

[2022-03-10 13:22] steffahn opened #94803 "`~const Drop` bounds are broken / wrong / unsound"
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=90858e7c355c9f6859d180bd415de0dd))

@rustbot label requires-nightly, I-unsound, T-compiler, F-const_trait_impl, A-const-fn

By the way, even if this worked “correctly” (i.e. soundly) I ***really*** hate the fact that this feature is using a sort of `T: Drop` bound; the `drop_bounds` warning exists

[2022-03-10 13:58] steffahn opened #94804 "`1.59` accidentally stabilized dropping `Box<T>`s in `const fn`s"
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6349e1b7d3023327e25c2fdebf4924cb))

Note that this works even if `T` implements `Drop` in a non-`const` way. This seems ***hightly*** problematic, especially provided we eventually want to support constructing `Box` at compile time.

Relevant PR: [#91884](https://github.com/rust-lang/rust/pull/91884/files#

[2022-03-10 14:19] oli-obk commented on #94804
cc @rust-lang/wg-const-eval

[2022-03-10 14:21] lcnr commented on #94804
[code]
that impl should be illegal, shouldn't it? I would expect us to need an explicit `T: ~const Drop` here. But also, reverting and maybe even backporting that impl for now seems like the right choice to me

[2022-03-10 14:25] RalfJung commented on #94804
Actually calling this leads to odd behavior:
[code]
[code]
It doesn't even say what went wrong. I expected an error saying a non-const function was called as part of the `Box` drop glue.

[2022-03-10 14:26] danielhenrymantilla commented on #91004
Also relevant to the discussion: currently the standard library implements `Deref` for `Cow`s, including something like `Cow<'_, u8>`, which in the owned case features no pointer/indirection.

In general, I find this whole warning to be a bit too opinionated and subjective, since, as we can see, it's difficult to come up with hard rules. I thus second @scottmcm's more practical approach of: "bewar

[2022-03-10 14:32] RalfJung commented on #90962
It is true that in this specific case, the CTFE implementation of `align_offset` could be made smarter to take into account the alignment of the `static`.

However, `align_offset` is also *not* meant for doing alignment checks, as the docs clearly indicate. If const-compatible alignment checks are something we want to provide, IMO it should be a separate function (and one that clearly documents th

[2022-03-10 14:34] WaffleLapkin commented on #90962
@phip1611 aligning everything to the minimum alignment wouldn't work either 😄

Consider this example:
[code]
This will pass in runtime, because either `&A[0]` or `&A[1]` must have an even address. However, if we think that every object is aligned to the minimum possible alignment (`align_of::<T>()`), then both `&A[0]` or `&A[1]` will have alignment = 1, so `.align_offset(2)` will return `1` for bo

[2022-03-10 14:45] m-ou-se commented on #93740
Next up: **Windows**

Now this one is a bit tricky because the source code isn't available, but I made some guesses and have good reason to believe they are accurate.

#### Reader-writer locks (and Mutexes)

On Windows we use SRW locks for both `RwLock` and `Mutex`, so there's no separate mutex implementation we're looking at. SRW locks are one pointer in size, of which the last four bits encode f

[2022-03-10 14:54] RalfJung commented on #90962
@WaffleLapkin definitely, not all cases will work. A `[u8; N]` static will never have a member that is const-time-aligned to more than 1. That's why I said such a check would be conservative.

The specific case @phip1611 asked about, however, would work. In fact, `ptr.align_offset(X) == 0` under the smarter `align_offset` would behave exactly the same as the conservative const-compatible alignment

[2022-03-10 14:58] #94581 closed

[2022-03-10 14:58] #92125 closed

[2022-03-10 15:13] FlawlessDeveloper opened #94808 "erroneous constant used panics the compiler"
### Code
https://github.com/FlawlessDeveloper/Stackyy

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-10 15:52] nikic commented on #89647
This is *supposed* to be fixed by https://github.com/rust-lang/rust/pull/94764, but as mentioned above, I already couldn't reproduce this on nightly before that, so I can't verify whether this specific instance of the problem has been addressed.

If someone still sees hangs with the new pass manager, please let me know.

[2022-03-10 15:52] #89647 closed

[2022-03-10 16:41] nikic commented on #75045
This should have been fixed by the LLVM 14 upgrade, and indeed I cannot reproduce this on nightly anymore.

[2022-03-10 16:44] nikic commented on #79865
This is fixed by the LLVM 14 upgrade on beta/nightly.

[2022-03-10 16:51] TaKO8Ki opened #94812 "`Vec<foo::bar:A>` (with single `:`) in a struct field causes misleading errors"
Given the following code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=43eaa091f27b11807fadff36c41b3945

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-03-10 16:55] nagisa commented on #79865
I think we still want a regression test for this issue, right?

[2022-03-10 16:58] m-ou-se commented on #93740
And then we have: **boost** (on Posix)

#### Mutexes

Boost's mutexes (`boost::mutex`) on Posix platforms are simply a wrapper around `pthread_mutex_t`. (So, using glibc, these are 40 bytes.) (Implementation [here](https://github.com/boostorg/thread/blob/develop/include/boost/thread/pthread/mutex.hpp).)

#### Condition variables

Boost's condition variables (`boost::condition`) on Posix platforms

[2022-03-10 16:58] bjorn3 commented on #94564
There is discussion at https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/crt-static.20.2B.20LTO.20yields.20crash.20.2394564

[2022-03-10 17:35] pnkfelix commented on #94564
Quick note from Zulip discussion: We are seeing evidence that the ability to reproduce this issue is somewhat coupled with the version of glibc that one is using.

Specifically, people who have been able to reproduce the issue did so atop glibc versions 2.31 and 2.33-5.

People who have *not* been able to reproduce the issue were running atop glibc versions 2.34 and 2.35-2.

[2022-03-10 17:41] mstange commented on #47240
Is this fixed now, now that dsymutil is no longer run by default?

[2022-03-10 18:06] Gankra commented on #54341
So I was looking into whether it was possible for library code "polyfill" __int128 on x64 because the SysV ABI document notes that:

yet they do not fit into one general purpose register but require two registers.
For classification purposes __int128 is treated as if it were implemented
as:

memory must be aligned on a 16-byte boundary.

Unfortunately, at least on x64 linux it looks like clang and

[2022-03-10 18:12] #94783 closed

[2022-03-10 18:27] Gankra commented on #54341
I've added this attempted-emulation to ABI-checker as `sysv_i128_emulation`

https://github.com/Gankra/abi-checker

failing on linux (gcc): https://github.com/Gankra/abi-checker/runs/5500611507?check_suite_focus=true#step:4:4639
passing on macos (clang): https://github.com/Gankra/abi-checker/runs/5500611774?check_suite_focus=true#step:4:4399

lol computers are so bad

[2022-03-10 18:41] compiler-errors commented on #94803
cc @fee1-dead @oli-obk

[2022-03-10 18:46] mstange opened #94815 "Please default "force-unwind-tables" to "yes" on Linux, so that unwind tables are present even if panic = "abort""
On Linux, binaries need to contain unwind tables if one wants to get useful and accurate stack traces in profilers, debuggers and crash reports,. This requirement is mostly due to the fact that the Rust compiler, by default, does not use frame pointers on Linux.

When `panic` is set to `"unwind"` (the default), the Rust compiler emits unwind tables for all functions. This is good.

However, when b

[2022-03-10 18:52] Milo123459 commented on #94808
Can you add a MCVE?

[2022-03-10 19:05] oli-obk commented on #94803
FWIW I agree. I brought some of this up in https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/.22implicit.22.20const-if-const.20Drop

We can't automatically require all generic params to be const droppable, as that would make `const fn foo<T>(T: T) -> T {t}` stop being callable in const contexts with types that implement `Drop`, which works right now on stable.

[2022-03-10 19:45] steffahn commented on #94803
@oli-obk Looking at the linked discussion I don’t see where this brings up the same point. Maybe I’m missing something.

In my mind, there should be a trait `CanBeDropped`[^1] (that can’t be implemented manually) that is always (non-const-)implemented by all types[^2] `T: ?Sized`, but then a type also implements `T: const CanBeDropped` whenever all `Drop` implementations called in the [destructor]

[2022-03-10 20:43] a1phyr commented on #87840
This is exactly what prompted me to write these !

Also it is [what `std` uses for `Cursor` now](https://github.com/rust-lang/rust/blob/ba14a836c7038da21f5e102aacc7e6d5964f79a6/library/std/src/io/cursor.rs#L295).

[2022-03-10 20:51] #94804 closed

[2022-03-10 21:43] jyn514 opened #94821 "Add a way to parse IP addresses without having to utf8-validate"
The only standard way I've found to parse an IP address is [`IpAddr::from_str`](https://doc.rust-lang.org/stable/std/net/enum.IpAddr.html#impl-FromStr). That function immediately converts the string to bytes: https://github.com/rust-lang/rust/blob/5f4e0677190b82e61dc507e3e72caf89da8e5e28/library/std/src/net/parser.rs#L44

It would be great to expose some way (not necessarily `Parser::new`, but som

[2022-03-10 21:45] matthiaskrgr opened #94822 "ICE: len is 1 but index is 1: rustc_middle/src/ty/subst.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-10 21:51] jyn514 commented on #92893
It was unclear to me - I think @compiler-errors meant that changing `(let a = (), 1).1` to `{(let a = (), 1).1}` gives a compile error instead of an ICE. So the proper fix here is probably to add `delay_span_bug` somewhere instead of panicking.

[2022-03-10 22:18] jyn514 opened #94825 "`IpAddr::from_str` is unnecessarily slow for IPv6 addresses"
`from_str` is implemented like so: https://github.com/rust-lang/rust/blob/5f4e0677190b82e61dc507e3e72caf89da8e5e28/library/std/src/net/parser.rs#L226-L229
This unnecessarily penalizes ipv6 addresses, because the parser will always do a full linear scan of the input before it even starts to parse the address. Instead, it could use the knowledge that IPv4 addresses are at most 15 bytes long to skip

[2022-03-10 22:23] matthiaskrgr commented on #94808
Might be related to https://github.com/rust-lang/rust/issues/94502

[2022-03-10 22:31] jyn514 commented on #94825
This is true because octal addresses were banned in https://github.com/rust-lang/rust/pull/83652.

[2022-03-10 22:50] ouz-a commented on #92893
Then this should be easy.
@rustbot claim

[2022-03-10 22:54] bugadani commented on #94822
Slightly smaller repro:
[code]

<details>
<summary>Backtrace</summary>
<pre>
error[E0152]: found duplicate lang item `sized`
 --> <source>:4:1
  |
4 | trait A {}
  | ^^^^^^^^^^
  |
  = note: the lang item is first defined in crate `core` (which `std` depends on)
  = note: first definition in `core` loaded from /opt/compiler-explorer/rust-nightly/lib/rustlib/x86_64-unknown-linux-gnu/lib/libcore-0e3

[2022-03-10 23:20] equt commented on #94825
@rustbot claim

[2022-03-10 23:22] RalfJung commented on #94682
Fixed by https://github.com/rust-lang/portable-simd/pull/260
(though `clamp` remains unfixed)

[2022-03-10 23:22] #94682 closed

[2022-03-10 23:51] jyn514 opened #94829 "Tracking Issue for `cargo run` as the main bootstrap entry point"
This is a tracking issue for removing the requirement on python for bootstrapping the compiler.
Note that bootstrap.py is never going to be removed altogether, since distros still need to get a bootstrap compiler from anywhere; this issue is about contributors who already have a rust toolchain installed.

### About tracking issues

Tracking issues are used to record the overall progress of impleme

[2022-03-11 00:03] jyn514 commented on #76419
The drawback to this is it assumes you're using rustup and gives a hard error otherwise. It should still be possible to bootstrap with a standalone toolchain, it will just be slightly less user friendly.

[2022-03-11 00:20] kckeiks commented on #94821
Hi @jyn514, where is the utf8 validation happening? As you said, the string slice gets converted to a byte slice but then it looks like the parser just works with `u8`s which get cast to `char`s at some points in the algorithm

[2022-03-11 00:41] jyn514 commented on #94821
@kckeiks it happens before you ever pass the string to `from_str`: I have a byte sequence, and in order to parse it, I'm forced to call `std::str::from_utf8`.

[2022-03-11 00:54] kckeiks commented on #94821
`IpAddr` implements `From` for arrays [u8; 4] and [u8; 16]

[2022-03-11 01:46] tobz commented on #67456
As an interested party: is there a path to eventual stabilization here, at least for some of the incremental work that is required?  For example, `std::ptr::slice_from_raw_parts` has been available as a `const fn` (behind a feature flag) for over 2 years now... but I can't seem to find any actionable comments that provide a reason for it to not be stabilized.

Happy to try and learn/help to get it

[2022-03-11 01:51] #94725 closed

[2022-03-11 02:04] jyn514 commented on #94821
I don't have an array. I have a dynamically sized &[u8], and I'm not sure whether it's a valid IP address or not.

[2022-03-11 03:12] Gankra commented on #54341
OK SO

THESE TYPES ARE JUST COMPLETELY BUSTED AND CURSED FOR FFI

literally just on x64 linux, if you ask clang and gcc to do

[code]

They will disagree on the ABI and fail to properly pass the values once they start needing to be passed in memory.

[code]

It looks like they're literally pushing them eightbytes in different orders, but I think that's actually an artifact of me using the same val

[2022-03-11 03:26] kckeiks commented on #94821
Gotcha. If this `&[u8]` is a valid ipv6 address (so it has at least 16 bytes) but the first four bytes make up a valid ipv4 address too then we'd have to make a decision. We could require that the `&[u8]` be of size 4 or 16 then we'd know how to interpret it?

[2022-03-11 03:31] Gankra commented on #54341
Sure am fucking glad I made an objective FFI validator cuz I believed a lot of absolute lies coming into this!

[2022-03-11 03:37] exrook opened #94835 "ICE when dereferencing `Box<T, &A>`"
### Code
[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=72df4c2a153eacd5e586143302c8c6ae)
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-11 04:00] kckeiks commented on #94821
@rustbot claim

[2022-03-11 04:28] jyn514 commented on #94821
4 and 16 are misleading I think. This is a normal IP address, like "127.0.0.1", it just happens to have come from the network and not be utf8 validated. "127.0.0.1" is 9 bytes, and in general, IP addresses can be variable length.

[2022-03-11 05:39] kpreid commented on #36375
As stated, that would violate trait coherence, since the crate defining `Trait` should be allowed to `impl Trait for !`. That could be worked around: for purposes of the `-> impl Trait` type resolution, the function could pretend to return an anonymous implementing type that isn't actually `!` itself.

A more serious surprise would be action-at-a-distance panics: if the return type gets unified wi

[2022-03-11 05:59] DrMeepster commented on #94835
@rustbot claim

[2022-03-11 06:06] kckeiks commented on #94821
If the address, say "127.0.0.1", comes from the network, as inside an IPv4 header, then it must be a 32 bit value, it would be of the form `01111111 00000000 00000000 000000001`. The form you're suggesting would have a byte for each digit including the dots. IP address converted to bytes from a utf8 string representation would have variable length and probably longer than 4 as you said.

[2022-03-11 06:11] lopopolo opened #94836 "Calling trait function declared with both explicit generics and impl Trait gives confusing errors"
Given the following code:

I had a trait that was originally defined like this:

[code]

`T` is a type parameter that is used to pass a function pointer into implementations of this trait.

Users of this API call it like this:

[code]

I was trying to remove the `P` type parameter to allow for a bit nicer of a turbofish without the anonymous placeholder so I redefined the trait to look like:

[cod

[2022-03-11 06:15] lopopolo commented on #94836
Linking https://github.com/rust-lang/rust/issues/83701 since this ticket appears in the diagnostic output.

[2022-03-11 06:16] csmoe opened #94837 "Rust doc does not fullfill the whole page on firefox with minimum font size setted"
![image](https://user-images.githubusercontent.com/35686186/157811833-d64bb22c-ec59-4956-8051-793502fe79f5.png)

browser: Firefox 97.0.2 (64-bit) stable
Can be reproduced on macOS and Linux.

Not sure it's a firefox bug or rustdoc.

[2022-03-11 06:47] #93423 closed

[2022-03-11 08:41] trofi commented on #92869
Would it be fair to say it's a cargo bug that `doctest` and standard `cargo test` binaries use different optimization options and make this bug somewhat unique to `doctest`?

[2022-03-11 09:10] Thomasdezeeuw commented on #65275
Since https://github.com/rust-lang/rust/issues/93423 is now stabilised (in 1.61) I think this can be closed.

[2022-03-11 09:43] Thomasdezeeuw commented on #70436
Note that I'm the one who added that question and after working with for a while it's not that big a deal. It's a little different then what you might expect, e.g. compare to the `write_vectored` call, but it's very usable.

I don't think that is true. If I remember correctly the limit is 1024, and I've been near it before so I don't think we should optimise of for the 2-3 iovecs use case *too* mu

[2022-03-11 10:37] Xuanwo commented on #37009
The feature is also helpful for structs that have sensitive data like AWS s3 access_key_id & secret_access_key.

[2022-03-11 11:28] crepererum opened #94843 "Additional let bindings needed to avoid `Sync`"
I tried this code:

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=804ee0ff0209cb9bc3d8c6a0b1d31518))

I expected to see this happen:
It should compile.

Instead, this happened:

[code]

Note that following the suggestion using an additional `let` binding fixes the issue:

[code]

What is kinda weird (from my PoV) is the explanation: adding an additio

[2022-03-11 11:37] JKAnderson409 commented on #90107
Closed by #94587

[2022-03-11 11:37] #90107 closed

[2022-03-11 11:49] bjorn3 commented on #92102
Weak lang items should be marked with `#[rustc_std_internal_symbol]` already which should hide it from cdylibs: https://github.com/rust-lang/rust/blob/f58d51b3c00b1e30acd75aead202eb2248bb33f9/compiler/rustc_typeck/src/collect.rs#L3230-L3232

[2022-03-11 11:57] kalcutter commented on #62726
Please FCP this. It is quite annoying implementing functions that do vectored I/O without any straightforward way to advance.

[2022-03-11 12:48] FlawlessDeveloper commented on #94808
The referenced issue #94502 referenced above has already a MCVE that I have tested which also produces the same error.
Ill also append the example here so you dont have to search for it.
[code]

[2022-03-11 12:48] #65275 closed

[2022-03-11 13:52] Plettro opened #94846 "ICE on stable/nightly: const parameter `C/#0` (Const { ty: (), val: Param(C/#0) }/0) out of range when substituting substs=[]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-11 13:56] Plettro commented on #94846
If the feature gate is removed then no ICE occurs (both on stable and nightly)

[2022-03-11 13:58] Urgau opened #94847 "No more auto-vectorization starting with LLVM 14"
### Code

I tried this code:

[code]

I expected to see this happen: I expect that the generated assembly will have some vectorization instructions. Aka auto-vectorization from the compiler.

Instead, this happened: There is no more vectorization perform by the compiler.

### Version it worked on

[code]

It most recently worked on: 1.59

### Version with regression

[code]

`rustc --version --ver

[2022-03-11 13:59] Urgau commented on #94847
searched nightlies: from nightly-2022-02-01 to nightly-2022-03-01
regressed nightly: nightly-2022-02-18
searched commit range: https://github.com/rust-lang/rust/compare/75d9a0ae210dcd078b3985e3550b59064e6603bc...30b3f35c420694a4f24e5a4df00f06073f4f3a37
regressed commit: https://github.com/rust-lang/rust/commit/30b3f35c420694a4f24e5a4df00f06073f4f3a37

<details>
<summary>bisected with <a href='http

[2022-03-11 14:53] tavianator commented on #94564
Just to repeat what I found in the Zulip thread: I think what's happening is with LTO, enough dead code elimination runs that only some object files from `libpthread.a` are linked in.  Notably, the static initializer that fills in the TID for the main thread doesn't get linked in and so it doesn't run.  This means that it thinks the main TID is zero, and the owner field of the `rwlock` is also zer

[2022-03-11 14:57] abocquet opened #94850 "ICE: match arm generation using macros + `paste` crate"
### Code

[code]

### Meta

`paste` crate (imported on top): https://docs.rs/paste/latest/paste/

`rustc --version --verbose`:
[code]
The error also occurs in beta and nightly

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-11 15:28] elidupree commented on #74825
Today I just happened to be reading the documentation for write_vectored, which currently states:

This appears to describe a trait contract, and then immediately violate it!

Even after reading this thread, I am left moderately confused about the purpose of this method or the obligations of a Write *implementor* in relation to it. Better docs are definitely in order.

[2022-03-11 16:06] m-ou-se commented on #62726
Right now, `advance` panics if its argument is larger than the amount of bytes in the slice(s), but `advance_slices` does not. Both should probably have the same behaviour, and it should be documented.

Other than that, this seems ready for stabilization.

[2022-03-11 16:07] m-ou-se commented on #62726
I think both of them should panic in that case, but am open to hear why the non-panicking behaviour would make more sense.

[2022-03-11 16:27] m-ou-se commented on #62726
PR for that: https://github.com/rust-lang/rust/pull/94855

[2022-03-11 16:37] #94589 closed

[2022-03-11 16:39] SNCPlay42 commented on #94847
The assembly is actually not vectorized in either version (each version only operates on 8 bytes (1 `f64`) per `minsd` instruction); what's changed is the loop was unrolled before and isn't any more.

[2022-03-11 16:40] Urgau commented on #94847
I just checked and now [`rustc`](https://rust.godbolt.org/z/6c5197f8f), [`clang`](https://clang.godbolt.org/z/KhM3ccEGT) and [`gcc`](https://gcc.godbolt.org/z/xfraW9o5E) are generating the same assembly code for the example.

Oh, you're right. My bad.

[2022-03-11 17:22] kckeiks commented on #94821
We could add something like this
[code]

[2022-03-11 17:22] BoxyUwU commented on #94846
should be the issue described in description of #86580 thought we had an issue tracking this but cant remember what it was called

[2022-03-11 17:36] saethlin commented on #94847
`-O` for rustc is `-Copt-level=2`, and `--release` is `-Copt-level=3`. In clang and gcc I think it is equivalent to `-O1` (at least that's what the gcc docs say) which I've never seen anyone use. You probably want to pass `-Copt-level=3` in godbolt for Rust, and `-O2` or `-O3` for clang/gcc. `-O3` is probably best if you're comparing to rustc codegen. But that's not relevant to whether we have a p

[2022-03-11 18:00] LeSeulArtichaut opened #94858 "`BorrowMut::borrow_mut` taking precedence over `RefCell::borrow_mut` can be confusing"
Given the following code:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=27c35dea78a72527eff5eaf0c86c0095)

The current output is:

[code]

Here, `borrow_mut` uses `BorrowMut::borrow_mut` instead of `RefCell::borrow_mut` which can be confusing especially for beginners.

`borrow` doesn't have the same problem because it will cause a conflict, AFAICT be

[2022-03-11 18:00] mstange commented on #94815
@jrmuizel suggested I answer the following questions, to allow for a more informed decision:

 - What is the default behavior for C++ code which is compiled with `-fno-exceptions`? Does clang emit unwind tables for leaf C++ function which don't throw any exceptions?
 - For the functions without unwind tables, is the information only missing from `.eh_frame` or also from `.debug_frame`?

[2022-03-11 18:49] jyn514 commented on #94821
It doesn't. No part of that code requires `b` to be utf8 encoded - if it contains a non-utf8 byte, then it's not a valid IP address anyway, and it returns `AddrParseError` like normal.

[2022-03-11 19:45] RalfJung commented on #54341
Wow what a disaster.^^
Are there bugreports for GCC/clang? At least one of them is violating the x86_64 Linux ABI but I guess they will disagree on who. ;)

[2022-03-11 19:50] nagisa commented on #54341
Clang/LLVM is. I tried to fix it in https://reviews.llvm.org/D28990 and then there's a latter attempt still open at https://reviews.llvm.org/D86310. My view is that clang/LLVM needs to stomach that some breakage will happen. Or we'll continue living with clang being wrong indefinitely.

[2022-03-11 20:13] Gankra commented on #54341
Yeah up until this point I thought clang *did* handle it right because it added some extra metadata on top of llvm. I was surprised to learn that it *still* doesn't do the right thing even with its changes. 😱

[2022-03-11 20:29] Gankra commented on #54341
@nagisa can you confirm that I'm understanding you right? That your patches to llvm would have fixed clang as well? This is not the impression I got from earlier discussion in this thread and your PR to llvm. In your PR you note that "this is what clang does" and "for the 64-bit targets 128-bit alignment is necessary for correct FFI with Clang-generated code, which generates code with assumption t

[2022-03-11 20:31] Yuri6037 opened #94864 "Wrong program interpreter on musl targets with cc"
When a cargo project, which depends on the cc crate and a C++ runtime, is built on an musl target, the generated binary is broken: the program interpreter is set to "/lib/ld-linux-aarch64.so.1" instead of "/lib/ld-musl-aarch64.so.1".

After having posted an issue in cc crate (https://github.com/alexcrichton/cc-rs/issues/635) it appears the problem is rustc choosing the wrong linker.

[2022-03-11 20:48] pierwill commented on #94721
This does not reproduce for me.

[2022-03-11 20:51] kckeiks commented on #94821
I disagree. The slice of bytes must represent an IP address string in dot notation so the slice of bytes "encodes" this string; some comment should be added to the docs to explain what the slice of bytes is.

For instance, this slice of bytes is bad and would cause a parse error. It doesn't contain non-utf8 byte but it doesn't encode an IP address string in dot notation.
[code]
instead it should b

[2022-03-11 20:51] c410-f3r commented on #94721
I guess it is necessary a more recent compiler version.

Here is mine -> `rustc 1.61.0-nightly (03918badd 2022-03-07)`

[2022-03-11 20:57] jyn514 commented on #94821
Oh, I see what you mean - you're saying that it should be a byte string, and not an array of the ip numbers. Yes, I agree that's what the code is doing.

[2022-03-11 21:05] nagisa commented on #54341
Ah, so first of all, I made that patch so long ago, I won't be able to recall exactly what I meant by “this” in “this is what clang does”. Reading the description today, my interpretation would be “clang consider __int128 128 aligned” and that'd be the justification to have LLVM do so as well.

I may or may not have be aware of the complications that occur when arguments spilled out to stack at th

[2022-03-11 21:08] nagisa commented on #54341
Perhaps the most straightforward way to double-check would be to apply this patch locally (I doubt there should be any conflicts) and try running the patched clang against your test suite again.

[2022-03-11 21:17] aDotInTheVoid commented on #94140
Started work at https://github.com/aDotInTheVoid/rust/tree/jsondocck-ng

[2022-03-11 21:20] pcwalton commented on #93740
Futexes on Linux seems like a good plan. Remember to read "Futexes Are Tricky" if we're going down that road: https://dept-info.labri.fr/~denis/Enseignement/2008-IR/Articles/01-futex.pdf

[2022-03-11 21:21] kckeiks commented on #94821
So is this issue for exposing a new way to parse ip byte strings or a slice of the ip numbers? Not sure how to move forward.

Thanks for working with me on this btw.

[2022-03-11 21:22] John-Nagle commented on #79489
I'm getting this trying to cross-compile from Linux to "--target i686-pc-windows-gnu". The only mingw I have installed is whatever the Rust release installer loaded.

[2022-03-11 21:34] aphsai commented on #93088
Yes sorry I got really bent over by school

[2022-03-11 21:52] m-ou-se commented on #93740
It wouldn't cause memory unsafety. It would only cause a missed notification. `Condvar::wait` staying asleep when it misses exactly 4294967296 notifications while unlocking the mutex.

[2022-03-11 22:05] jyn514 commented on #94821
I don't understand the question. I have `b"127.0.0.1"` and I want to turn it into an IpAddr.

[2022-03-11 22:21] kckeiks commented on #94821
This made me think that you were taking about an array/slice of the numbers of the ip address and not a byte string.

I'll add the snippet above and add some comments from this discussion.

[2022-03-11 23:01] dtolnay opened #94866 "Invalid syntax (missing comma) in non-exhaustive patterns error's suggestion involving macros"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b417dca9b7f8cab72fc583d6a97f97de

[code]

The current output is:

[code]

Rustc's suggested fix is:

[code]

which is not valid syntax:

[code]

The diagnostic appears to be getting misled by the fact that `m!()` expands to a braced block, which would not ordinarily require a trailing comma if writte

[2022-03-11 23:05] dtolnay commented on #94850
Closing as a duplicate of #59998.

[2022-03-11 23:05] #94850 closed

[2022-03-11 23:27] Milo123459 commented on #94822
@rustbot claim

[2022-03-11 23:32] RalfJung commented on #92980
## Stabilization report

I would like to propose this feature for stabilization: it allows const-code to call
[code]
`offset_from` has been stabilized for runtime code more than 1.5 years ago (see https://github.com/rust-lang/rust/issues/41079). Its CTFE implementation is shared with Miri and has been working fine for a long time; https://github.com/rust-lang/rust/pull/94827 works out the last kin

[2022-03-11 23:34] RalfJung commented on #92980
Or is this @rust-lang/libs-api ? It is const-exposing an intrinsic, so.. possibly both.

[2022-03-11 23:46] JKAnderson409 commented on #93088
@aphsai No problem, I'm just looking for issues to clean up.

@rustbot claim

[2022-03-11 23:46] scottmcm commented on #92980
Both teams sounds reasonable, yeah.

Teams, do we want to allow offset-between-pointers calculations in `const`?

Stabilization report from Ralf: https://github.com/rust-lang/rust/issues/92980#issuecomment-1065644848

@rfcbot fcp merge

One correction to the report: it's `T: Sized` only, due to a where clause:

https://github.com/rust-lang/rust/blob/335ffbfa547df94ac236f5c56130cecf99c8d82b/library

[2022-03-12 00:11] rust-highfive opened #94871 "`miri` no longer builds after rust-lang/rust#94860"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94860, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-12 00:59] joshtriplett commented on #70436
@Thomasdezeeuw I'm not suggesting that we optimize for the 2-3 case; I'm suggesting that we don't need to optimize heavily for an already-less-optimized subcase (partial writes) of the 1024 case, at the *expense* of both usability (not having to recreate buffers) and other optimization (not having to recreate buffers).

No, I personally would add a local array of 8, and if larger than that, call `

[2022-03-12 01:56] jonhoo opened #94874 "bootstrap: CARGO_TARGET_$TARGET_RUSTFLAGS is appended to RUSTFLAGS"
In the bootstrap build, we respect `CARGO_TARGET_$TARGET_RUSTFLAGS` so that users can set target-specific rustflags if they wish. Unfortunately, the semantics of `CARGO_TARGET_$TARGET_RUSTFLAGS` in bootstrap do not match those of Cargo. In Cargo, `CARGO_TARGET_$TARGET_RUSTFLAGS` are equivalent to setting `target.$target.rustflags`, and it is _overridden_ by the `RUSTFLAGS` environment variable. Wh

[2022-03-12 01:58] Dessix commented on #81823
As [the blog post on GAT stabilization mentions](https://blog.rust-lang.org/2021/08/03/GATs-stabilization-push.html#what-limitations-are-there-currently):

rust-lang/rust#44265 is linked to this issue as the tracking issue for GATs in general, but that thread does not mention anything on this deferral, instead simply marking this issue as `Closed`.

This work item (81823) appears to have been the

[2022-03-12 02:16] John-Nagle commented on #77394
Reproduce in stable Rust by:

[code]

Environment: Ubuntu 20.04 LTS x64, rustc 1.59.0 (9d1b2106e 2022-02-23)

[2022-03-12 02:16] John-Nagle commented on #76020
Bug seems to be back. See https://github.com/rust-lang/rust/issues/77394

[2022-03-12 03:01] jhpratt commented on #85098
Realistically I don't think there's anything actionable here, so I'm going to go ahead and close this.

[2022-03-12 03:01] #85098 closed

[2022-03-12 03:35] jyn514 commented on #76020
cc @jonhoo, this might be related to https://github.com/rust-lang/rust/pull/94719

[2022-03-12 03:42] jonhoo commented on #76020
Hmm, that's 1.59.0, which doesn't have any of my changes around linking in it. Though it could be they my change will fix it I suppose 😅

[2022-03-12 03:45] John-Nagle commented on #76020
Try this on Linux with your version, to check, please.

[code]
This will build on Linux with a Linux target, but not with a i686-pc-windows-gnu target.

[2022-03-12 03:53] jonhoo commented on #76020
If you want to test it with my various fixes around linker flags, those should all be active on nightly I think. Or possibly tomorrow's nightly.

[2022-03-12 04:04] John-Nagle commented on #76020
No joy. Just downloaded nightly.

rustc --version
rustc 1.61.0-nightly (335ffbfa5 2022-03-11)

still fails with the linker unable to find `_Unwind_Resume'.

Full compile listing.

[unwindbug01.txt](https://github.com/rust-lang/rust/files/8237036/unwindbug01.txt)

[2022-03-12 04:40] ImUrX commented on #69210
No news on an API for returning ``Node<T>``?

[2022-03-12 04:44] equt commented on #94825
I do agree that could benefit the `read_ip_addr` and maybe also the `read_socket_addr`. But I believe that

is not true.

If I didn't get it wrong, the current parser will realize the input is an IPv6 after parsing at most four bytes. And if we're going to use the input size as a factor to guess, something like `0000::1` that doesn't meet will always cause the parser to backtrace.

[2022-03-12 05:19] SvenDowideit commented on #84890
Is this related to what I hit in https://github.com/rust-rse/reed-solomon-erasure/issues/94 ?

on a coretex-a57 SoftIron overdrive1000 from 2016 ...

[code]

[2022-03-12 09:39] OliverMD commented on #94747
@rustbot claim

[2022-03-12 10:04] horacimacias commented on #94364
I think I'm having a similar issue, although I don't see any `libstdc++.a` file under my musl folders. @amircodota , would you mind sharing some bits of your custom dockerfile or at least the part where musl/libstdc++.a are involved? perhaps this helps me fix my issue.

[2022-03-12 10:20] Thomasdezeeuw commented on #70436
I agree that the usability improvement is nice, but I've found I always have to recreate my buffers anyway (see below). If it's such a big problem maybe this needs a new type that wraps `&mut [IoSlice]` to show that ownership is passed to the function?

That would make this function unusable for my case, which would be a real shame.

But you'll almost always have to recreating the `iovec`s before

[2022-03-12 11:14] TimJentzsch opened #94877 "Confusing diagnostic suggesting to remove `.await` in attribute macro"
Given the following code, using `wasm_bindgen` combined with `tokio`:

[code]

One of the given errors is:

[code]

While I'm sure that what I implemented doesn't make sense, the particular suggestion

[code]

is very confusing to me.

## More info

`rustc --version --verbose`:
[code]

<details><summary><strong>Full `cargo check` output</strong></summary>
<p>

[code]

</p>
</details>

If you want

[2022-03-12 11:19] TimJentzsch commented on #94877
Swapping the `#[wasm_bindgen]` and `#[tokio::main]` removes the errors. My guess is that the code generated by `#[tokio::main]` created the error. It would probably be fine to somehow detect that the `help` suggestion is useless and to just remove it in that case.

[2022-03-12 12:01] cjgillot opened #94878 "Investigate computing crate_hash by hashing metadata"
The `crate_hash` query is used to detect is metadata has changed before attempting to decode more complex information from it.
Until now, this crate hash has been computed manually using HIR.
Computing it while encoding metadata itself may be more robust and exhaustive.

General instructions:
- add a `StableHasher` and a `StableHashingContext` in `rustc_metadata::rmeta::encoder::EncodeContext`;
-

[2022-03-12 12:26] PoignardAzur opened #94879 "Compiler diagnostic suggests wrong keyword order"
If I write this code:

[code]

[The compiler tells me:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e60fe18af7d9f28837a7ad8c6201e80f)

[code]

That's a great message, very helpful... except the order is wrong. If I write:

[code]

[The compiler gives me a weird error message.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=19b5be0b9dea856e8cbbab

[2022-03-12 12:35] PoignardAzur commented on #94879
Side note: it's interesting that the error suggestion is triggered in some cases but not in others. Maybe the diagnostics should be standardized over the codebase.

From quick experimentation:

- If any of `const` `async` `unsafe` `extern` are in the wrong order, rustc gives the above message.
- If `pub` is in the wrong position, eg `const async pub unsafe` rustc gives another message:
[code]
- If

[2022-03-12 12:43] arnabanimesh opened #94880 "1+1=2 causing attempt to add with overflow error on datatype usize"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

<details><summary><strong>VSCode debugger main thread callstack</strong></summary>
<p>

[code]

</p>
</details>

<details><summary><strong>VSCode debugger tests::percolationstats_works call stack</strong></summary>
<p>

[cod

[2022-03-12 12:59] nvzqz opened #94881 "Tracking Issue for `BITS` constant for non-zero integers"
Feature gate: `#![feature(nonzero_bits)]`

This is a tracking issue for adding the associated [`BITS`](https://doc.rust-lang.org/stable/std/primitive.usize.html#associatedconstant.BITS) constant to `NonZero{U,I}{8,16,32,64,128,size}`.

This is useful when a type alias refers to either a regular or non-zero integer.

### Public API

Repeated for all `NonZeroX` integers:

[code]

### Steps / History

[2022-03-12 13:04] Lol3rrr opened #94882 "Rustc panics with unwrap on Result on Err value: PlaceBuilder {...}"
### Code

[code]
The Code currently only exists on my custom OS Project, which is rather large and I will try to produce a smaller example in the coming Days, but in the mean time the full code can be found in [this repo](https://github.com/Lol3rrr/rucoonos/tree/7c17a99e6cbba08420db2ea9414cd9a965d4d76c).

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
Im not exactly sure w

[2022-03-12 13:08] nvzqz commented on #89065
This is now available on nightly ([docs](https://doc.rust-lang.org/nightly/std/num/struct.NonZeroUsize.html#associatedconstant.MIN)).

[2022-03-12 13:23] leonardo-m commented on #94881
In the end I hope we'll have proper general ranged integral types in Rust (as in Ada), that will also replace all the NonZeroXX types :-)

[2022-03-12 14:12] 12932 commented on #63939
And on Windows?

[2022-03-12 14:36] jafioti opened #94885 "Specialization impls conflicting"
I posted this on the Rust Forum, but got no response so I'm not sure if this is a bug or a rough edge for const generics and specialization.

I'm trying to basically use const generics to compile time check tensor shapes. I have a pretty simple example where I need to custom specify different impls of Mul for tensors of 2 dims times 2 dims, 1 x 1 dim, 2 x 1 dim, and 1 x 2 dim. So I wrote this:

[c

[2022-03-12 15:41] wwylele commented on #94880
I just ran the code with some `dbg!`, and it shows that the number being added (`size1` and `size2`) are both `11688735918920665213`, which is indeed a large number and would overflow a 64-bit `usize` in an `Add` operation. This surely isn't 1+1 =2 and the panic on overflow is intended behavior. Unless there is evidence that `size1`/`size2` get this large number due to misconpilation, this shouldn

[2022-03-12 16:17] sandeep-gh opened #94888 "compiling rust on OpenBSD"
Rust is available in OpenBSD as part of standard package, however the version is bit old and is giving problems. I am trying  to compile latest rust on openBSD but runs into this error:
[code]

Is there a workaround?  Why there is no checksum for this file in src/stage0.json. Can I compute the checksum and manually add it to src/stage0.json?

[2022-03-12 16:37] #94835 closed

[2022-03-12 16:46] arnabanimesh commented on #94880
One misprint can ruin everything. Closing this issue.

Also I didn't put those labels those were automatically assigned on reporting the compiler issue.

[2022-03-12 16:46] #94880 closed

[2022-03-12 17:02] c410-f3r commented on #35853
This issue can probably be closed now

[2022-03-12 17:44] Hukadan commented on #94888
The OpenBSD Rust maintainer wrote a script to compile more recent versions of Rust (https://github.com/semarie/build-rust). May be you can have a look at how the script does.

[2022-03-12 18:13] aDotInTheVoid opened #94889 "rustdoc-json-types: Inconsistant spelling of type/ty"
We mostly use `type_: Type`,

https://github.com/rust-lang/rust/blob/ed2a69c4a9f3e5535461484af6266681fd7d90d4/src/rustdoc-json-types/lib.rs#L567-L568

But sometimes use `ty`

https://github.com/rust-lang/rust/blob/ed2a69c4a9f3e5535461484af6266681fd7d90d4/src/rustdoc-json-types/lib.rs#L380-L383

https://github.com/rust-lang/rust/blob/ed2a69c4a9f3e5535461484af6266681fd7d90d4/src/rustdoc-json-types/l

[2022-03-12 18:41] m-ou-se commented on #71941
@rfcbot merge

[2022-03-12 18:50] jonhoo commented on #76020
I think you may need today's nightly to get my latest fix. Though I still don't know that my changes would actually fix this issue — this doesn't _feel_ related to whether libstdc++ is statically compiled.

[2022-03-12 18:57] slanterns opened #94891 "No longer build with external llvm < 14 on riscv"
https://github.com/rust-lang/stdarch/pull/1271 includes the use of `.insn` and goes into Rust 1.59 in https://github.com/rust-lang/rust/pull/92574, which is introduced in https://github.com/rust-lang/llvm-project/pull/121 and https://github.com/rust-lang/rust/pull/91528. However this makes rustc no longer work with external llvm < 14 on riscv platforms. Is this considered as a regression?

[2022-03-12 18:58] John-Nagle commented on #76020
OK. Nightly hasn't updated yet. Still "rustc 1.61.0-nightly (335ffbfa5 2022-03-11)". I'll try later.

[2022-03-12 19:06] #94627 closed

[2022-03-12 19:07] slanterns commented on #94891
Seems duplicate with https://github.com/rust-lang/stdarch/issues/1291.

[2022-03-12 19:07] #94891 closed

[2022-03-12 19:22] m-ou-se commented on #82223
I think it's best to keep this method symmetric. It's not always clear that E should be converted to T rather than the other way around.

[2022-03-12 19:24] m-ou-se commented on #82223
@rfcbot merge

This is `Result<T, T>::into_ok_or_err()`, which consumes `self` and returns the `T` that was either in `Ok` or `Err`. It is useful for things like `Atomic*::fetch_update` where there are many situations where you simply don't care whether an update happened, but are only interested in the (new) value.

[code]

There are a lot of possible names for this function, but I think `into_ok

[2022-03-12 20:04] plazmoid commented on #53667
Why `||` is forbidden in let chains? I didn't find anything about it in RFC

[2022-03-12 21:34] #94812 closed

[2022-03-12 21:52] scottmcm commented on #82223
I think the name here being a bit verbose is fine, because it's really only for slightly-weird situations, as normally one would have an error as E and a non-error as T, in which case this is method doesn't apply.  Thus a slightly-longer name to help emphasize it's in the unusual T == E case makes sense.

[2022-03-12 22:44] amircodota commented on #94364
@horacimacias I'll try to exaplin in a little more detail what was the issue for me - hopefully this can help you figure out your case.

In my case I had a custom docker image, based off `rustembedded/cross:x86_64-unknown-linux-musl`.

This image already comes bundled with musl static and shared libraries under `/usr/local/x86_64-linux-musl/lib`.
However, by default, the rust compiler will not nee

[2022-03-12 23:44] dtolnay commented on #82223
Of the above comments, I think my perspective most closely matches https://github.com/rust-lang/rust/issues/82223#issuecomment-780822417 and https://github.com/rust-lang/rust/issues/82223#issuecomment-808796940. The bar for whether a method goes on `Result` isn't about how simple the transformation it's expressing is (which this one obviously is). In other words our job isn't to assign a name to e

[2022-03-13 00:01] #89837 closed

[2022-03-13 01:18] jyn514 commented on #94874
This whole problem could be avoided once #94829 is implemented.

[2022-03-13 01:19] jyn514 commented on #94874
Or alternatively, it might make sense to add a RUSTFLAGS_BOOTSTRAP_ITSELF flag or similar.

[2022-03-13 02:24] John-Nagle commented on #76020
Nightly has updated to rustc 1.61.0-nightly (f103b2969 2022-03-12).

Same problem: `undefined reference to `_Unwind_Resume'`  Compile log attached.
[unwindbug02.txt](https://github.com/rust-lang/rust/files/8238854/unwindbug02.txt)

But I was building for a Windows 32 bit target, which nobody cares about much any more. That doesn't work.
If i build for a Windows 64 bit target, it works. Which is wh

[2022-03-13 02:27] #84495 closed

[2022-03-13 03:54] John-Nagle commented on #67408
Did this fix make it into stable? I'm getting that error in rustc 1.59.0 (9d1b2106e 2022-02-23).

Cross-compiling from Linux: `cargo build --target x86_64-pc-windows-gnu --examples`

Trying to run  under Wine 7.0.

Wine error messages:

[code]

Please, statically link this stuff.

(Trying to find the correct version of `libstdc++-6.dll`. MinGW has four different versions. Any suggestions?)

[2022-03-13 04:51] #94871 closed

[2022-03-13 05:17] Enselic commented on #94889
I am strongly in favor of `type_`, because
* It is consistent with `for_`, `async_`, `trait_`, etc
* Abbreviations has no place in any public API. Clarity is paramount. (I'm sure you can think of exceptions, but `ty` is not one of them.)

[2022-03-13 05:26] spikespaz opened #94902 "The Try trait causes str::parse to infer the unit type ()"
Given the following code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8d63b01b21fae5600b5e7bcc1ead3092)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

If a type is provided to `str::parse` via the turbofish, rather than leaving it anonymous as `_`, the code compiles well.

[code]

[2022-03-13 05:40] ahmadjubair33 commented on #94902
Hi, @spikespaz I want to contribute to this repo. Can you please me in which file this code is?

[2022-03-13 05:54] spikespaz commented on #94902
@ahmadjubair33
This is a MCVE, the original problematic code can be found here:
<https://github.com/spikespaz/sorbet-rs/blob/0124efd4a3e1695d47db9c8ccf1c1b6112f4073e/sorbet-color/src/css.rs#L91>

[2022-03-13 06:47] matthiaskrgr opened #94903 "ICE: failed to get layout for type, issue-80706.rs with --edition 2018"
### Code
code from `./src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-80706.rs `
[code]

### Meta

`rustc --version --verbose`:

This crashes nightly, beta and stable

[code]

### Error output
`rustc ./src/test/ui/higher-rank-trait-bounds/normalize-under-binder/issue-80706.rs  --edition=2018`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</detai

[2022-03-13 06:49] matthiaskrgr commented on #94903
Looks like this is happens during codegen which is why this didn't show up in the test (note the ´check-pass`) ...?

[2022-03-13 08:09] conradludgate commented on #45040
I was looking at the rustdocs the other day and I ended up re-inventing this attribute (I assumed rust-doc just had a hard coded list).

The version I came up with allowed the attribute to be in two different locations.

[code]

This solves two problems. First, it allows the original behaviour with how Iterators/Futures are always notable. And it solves another issue where `Vec` for some reason is

[2022-03-13 08:57] horacimacias commented on #94364
it does help, thanks.
In my cae my image is based on [okteto](https://github.com/okteto/devenv/tree/main/rust) and on top of that we're installing libraries for other things (e.g. libpq, openssl).
In the end we were missing some `-L` entries to rustflags as well. After adding them we seem to be good now.

thanks!

[2022-03-13 09:06] mati865 commented on #67408
It was linked statically in the past, must be regression.
Does it work on other versions for you?

[2022-03-13 09:42] mati865 commented on #76020
@John-Nagle this issue is for building Rust with specific config option not using it.

It is tested every time PR is merged.
I think you are building on Ubuntu 20.04 which ships SLJL exceptions rateher than Dwarf for i686. AFAIK this is fixed in newer Ubuntu releases.

[2022-03-13 10:28] cjgillot opened #94905 "Refactor item attributes into a `SortedIndexMultiMap<u32, Symbol, &Attribute>`"
Now, when code needs to look up attributes on an item, it fetches the complete list of attributes and sequentially looks for the interesting one. This could be made more efficient by making the attribute list a `SortedIndexMultiMap`.

Steps:
- replace `&[ast::Attribute]` by `SortedIndexMultiMap<u32, Symbol, &ast::Attribute>` in `rustc_hir::hir`, `rustc_middle::query` and `rustc_middle::ty`;
- buil

[2022-03-13 10:55] c410-f3r commented on #53667
https://github.com/rust-lang/rfcs/blob/master/text/2497-if-let-chains.md#keeping-the-door-open-for-if-let-or-expressions

"Not supported" is probably a better term

[2022-03-13 11:30] dvc94ch commented on #44265
Looks like stabilization is imminent? when can this be expected to hit stable?

[2022-03-13 11:40] conradludgate commented on #45040
A few more ideas:

We could somehow use the `Try` trait to our advantage? Determine if the return type implements `Try`, then use it's `<Return as Try>::Output` instead in the `is_notable` check.

---

Another point I wanted to make when I initially had my idea was that the documentation on the specific type's page does not indicate it's notable traits:

![Screenshot from 2022-03-13 11-32-39](http

[2022-03-13 13:18] mati865 commented on #67408
Upon closer inspection you are not having problem running rustc but with artifacts built with rustc.
In this case this entirely different issue and you need to find which crate in your dependency tree has linked dynamic libstdc++.

[2022-03-13 13:20] #92591 closed

[2022-03-13 13:58] bjorn3 opened #94906 "Exclude stdarch/crates/{stdarch-verify,intrinsic-test} from rust-src component"
These directories account for 30MB combined of 53MB total for the rust-src component (unpacked size) and are only necessary for testing stdarch, not building. Excluding these directory may need excluding `stdarch/Cargo.toml` too as they are part of the stdarch workspace.

[2022-03-13 14:16] aloucks commented on #92656
I apologize for being blunt here, but you're missing the mark entirely. You're absolutely right that attention is a finite resource, but merging these sections (and making them all the same color) requires **more** attention, not less. When I'm searching for an enum, now I have to read through a much larger section and there is no longer any way to see what enums are available. You're forcing peop

[2022-03-13 14:54] klensy opened #94908 "`cargo tree -d` partially stopped working from #94796 for rustc workspace"
From fa685a54995a `cargo tree -d` stopped displaying duplicates for all crates in workspace.
Before:
[code]

after:
[code]

I think this is not specific for `-d` flag, but noticed change of behavior for it.

[2022-03-13 14:57] klensy commented on #94908
Ah, this can be fixed by using `cargo tree -d --workspace`.

[2022-03-13 14:57] #94908 closed

[2022-03-13 15:02] m-ou-se commented on #84277
After having explained the new `Try` trait to several people, I noticed that it repeatedly comes down to three things that are the main source of confusion:

1. The names `Residual` and `Output`. Especially since `Output` makes most people think of the 'output' of a function, the return value, which points them in exactly the wrong direction since `Output` is for the case where `?` does *not* resu

[2022-03-13 15:08] m-ou-se commented on #84277
To explain why ~~`Residual`~~ *`Break`* is `Result<!, E>` rather than `E` or `Result<T, E>`, I usually explain that it is basically the type of `Err(e)`, in which `T` is not relevant.

Using the name changes proposed above, a more complete explanation could be:

---

Taking `Result` as an example, `branch()` will map a `Result<T, E>` containing `Ok(x)` or `Err(y)` to either *continuing with `x`*,

[2022-03-13 15:22] kevincox commented on #84277
I would recommend avoiding the name `Continue` because there is already a `continue` in Rust and IIUC it is completely unrelated.

In my opinion the most understandable solution is to use `Result` in the API because everyone who uses rust already understand what it means and it means that implementing this trait for a custom type is as simple as mapping it to Result. It seems like we are favouring

[2022-03-13 15:26] m-ou-se commented on #84277
Then we'd be back at 'Try trait v1' and its problems. See the motivation section of the v2 RFC: https://rust-lang.github.io/rfcs/3058-try-trait-v2.html#motivation

[2022-03-13 15:33] kevincox commented on #84277
Maybe I disagree with the motivations listed. To me the From part makes sense and I would stick with another trait. But I think using Result in the API of that trait still makes sense.

[2022-03-13 15:45] djc commented on #94741
I guess my concern is that there are two lengths in play here, the filled length and the initialized length, and because there are two it would be better to disambiguate between them explicitly. The same is not true for `Vec`, where all filled values are also initialized.

IMO this proposed `Into` argument loogs pretty convoluted and not at all intuitive. I don't think conversions into slices like

[2022-03-13 15:53] rust-highfive opened #94910 "`miri` no longer builds after rust-lang/rust#94899"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94899, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @workingjubilee, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-13 16:05] jyn514 commented on #80096
@conradludgate you should be able to work around this by adding --stage 2 I think.

[2022-03-13 16:39] zdimension opened #94912 "Erroneous unused_unsafe diagnostic for macro invocations"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4fc81da81334f7865f292f98a62735a3

[code]

The current output is:

[code]

This is obviously wrong, because `macro_inner!` is *also* invoked at line 14, in the `main` function, outside an `unsafe` block. The analyzer seems to only take in account the invocation occurring inside the `macro_outer!` expan

[2022-03-13 16:55] MolotovCherry opened #94913 "ICE : Proc macro : If Ident is invalid, panic occur"
### Summary
First off, I'll start by saying, I can see the obviousness of how an empty `Ident` would cause an ICE. But an ICE is an ICE, so I'm reporting it regardless. While I haven't tested, I can bet that similar errors for empty other stuff might also exist.

### Code
**Proc macro:**
`cargo.toml`
[code]
`lib.rs`
[code]
**bin crate:**
`cargo.toml`
[code]

`main.rs`
[code]

### Meta

`rustc --ve

[2022-03-13 16:55] tmccombs commented on #84277
@kevincox you think that returning an `Err` when something succeeds is less confusing than the "Continue" terminology?

Personally, I think that is much more confusing. And from what I've read on this issue and related issues, I think a lot of people would agree with me.

[2022-03-13 17:24] Xuanwo commented on #86942
I'm sorry I don't have enough time to finish this issue now, interested contributors please take over themselves. Existing work could be found at https://github.com/rust-lang/rust/pull/91559. Thanks for all the help!

[2022-03-13 17:34] Stargateur commented on #84277
It's really not a problem, it's follow the same concept of `continue` hey word, and we already have a `Continue` with [`ControlFlow`](https://doc.rust-lang.org/std/ops/enum.ControlFlow.html) without any problem of confusion with keyword `continue`

[2022-03-13 17:43] dtolnay commented on #94913
I suspect this is #59998.

[2022-03-13 17:45] light4 opened #94914 "cargo build release extremely slow."
I tried this code:

https://github.com/light4/databend/tree/split_common_functions

Build with command `cargo build -Ztimings -p common-functions-scalars --release -vvv`

Build before this commit is fine, https://github.com/light4/databend/commit/d6bad0a7964042ea3c5d0452ce7f9d04cb82b990

I expected to see this happen: build time should be almost the same, at least in less 5min.

Instead, this happ

[2022-03-13 17:47] Xuanwo commented on #91789
Sorry for stalling this work for so long; I'll take care of all the concerns next week.

[2022-03-13 17:52] camelid commented on #94905
I would like to attempt this. @rustbot claim

[2022-03-13 17:58] m-ou-se commented on #93740
That's an old version of that paper. A newer version is available [here](https://www.akkadia.org/drepper/futex.pdf).

It explains the design of basically the most simple futex-based mutex by taking a bit of a detour through an obviously incorrect mutex first. (And a second implementation based on the assumption that `Atomic*::swap` does not exist.) The final simple mutex implementation it describe

[2022-03-13 18:11] camelid commented on #92656
Could you elaborate on in what kinds of situations you'd be looking for an enum _in particular_, rather than any kind of type? I think that would help me understand your use case better.

[2022-03-13 18:17] sdroege commented on #93740
[GLib](https://gitlab.gnome.org/GNOME/glib/-/blob/8e89da90a37c5f08f2efd1bda7d765cc50eaa700/glib/gthread-posix.c#L1398) has a quite simple futex mutex/cond implementation without any bells and whistles, if you want to take a look at another one. It's probably not very different from the one you have though, there's only so many things you can possibly do differently.

[2022-03-13 18:26] m-ou-se commented on #93740
Thanks. It's indeed basically identical, except it uses an atomic add rather than a compare exchange when locking the mutex, although it does overwrite it with a 2 right afterwards if it is incremented higher than 1. This means that the state of the mutex can temporarily get higher than 2 and has a slightly higher chance of unnecessary `EAGAIN` returning futex wait calls. But (at least on x86) res

[2022-03-13 18:38] conradludgate commented on #80096
Thanks, that worked

[2022-03-13 19:15] kprotty commented on #93740
Would also like to recommend [semaphore based synchronization primitives](https://preshing.com/20150316/semaphores-are-surprisingly-versatile/) if it hasn't been considered already, and if simplicity (but not necessarily throughput) is a top priority.

[2022-03-13 19:20] VorfeedCanal opened #94917 "Compiler generates suboptimal code when array is iterated (works fine with slice)."
Couldn't find if that was reported yet.

This is example [from reddit](https://www.reddit.com/r/rust/comments/tajbgl/why_does_the_assembly_for_these_look_different/):

This produces suboptimal results:
[code]

while this works as expected:
[code]

Godbolt reference with comparison: https://godbolt.org/z/1T6G3s7Gz

[2022-03-13 19:20] windrunner414 opened #94918 "Apparently unnecessary bound check"
Please see [https://godbolt.org/z/39xWbfzsd](https://godbolt.org/z/39xWbfzsd)

line 26  (`.LBB1_32`), there is an unnecessary bound check, but a strange thing is if you the line 15 `if i >= len {` to `if i > len {`, this bound check can be optimized.
`i >= len` should contain the case of `i > len`.

and I'm not sure why `.LBB1_29` exists? It doesn't seem to have any effect.

[2022-03-13 20:09] jackh726 commented on #44265
Yes, stabilization is close. It's *possible* we'll get it in this cycle (so May 19th stable), but more likely next cycle (so June 30 stable).

The remaining items are to finish issue triage (only a couple of issues left - basically understanding why the issue is there and verifying that fixing it in the future won't be backwards-incompatible), do some testing and design around potential future std

[2022-03-13 21:58] jackh726 commented on #81823
I'm reopening this, since GATs are not object-safe currently (with no plans to make them so for initial stabilization) but we want them to be eventually.

[2022-03-13 22:10] joshtriplett commented on #87517
@rfcbot merge

[2022-03-13 22:11] joshtriplett commented on #87517
@rfcbot merge

[2022-03-13 22:29] clarfonthey opened #94919 "Tracking Issue for extra UTF-16 methods"
Feature gate: `#![feature(is_utf16_surrogate)]`

This is a tracking issue for extra UTF-16 methods, which currently just includes `u16::is_utf16_surrogate`.

### Public API

[code]

### Steps / History

- [x] Implementation of `u16::is_utf16_surrogate` (#94713)
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-03-13 22:37] mwerezak commented on #68318
Coming here from a compiler error, how do I "use marker types" to indicate a struct is not Send on stable Rust? I don't see any "PhantomUnsend"  or similar anywhere in std.

[2022-03-13 22:45] Dessix commented on #44491
[@Andlon said:](/rust-lang/rust/issues/44491#issuecomment-931960916)

Would this be akin to some sort of `trait HyperReference<T>` applied for all reference levels of `T`?
It feels like this may be an alternative direction for handling the ergonomics of the "Eye of Sauron", otherwise-solved by #44762 (AutoDeref and AutoRef in operators), but solving it at the type (rather than language) level. I s

[2022-03-13 22:54] mbartlett21 commented on #94825
That seems correct

https://github.com/rust-lang/rust/blob/21b0325c68421b00c6c91055ac330bd5ffe1ea6b/library/std/src/net/parser.rs#L145-L148

[2022-03-13 23:06] #94906 closed

[2022-03-13 23:56] danburkert opened #94920 "pass-by-value bool summation optimizes poorly"
While optimizing a hot loop in an application which counts the number of `true` values in an sequence of `bool`s, I came up against some very unexpected differences between how functions which take `bool`s by-value and by-reference get optimized.

Here is a minimal godbolt link showing the issue: https://godbolt.org/z/e98Grvoeo

The godbolt contains two tabs, each containing a variant of:

[code]

[2022-03-13 23:58] danburkert commented on #94920
Couple of interesting things I found while looking at this:

* if `bool` is changed to `u8` both version optimize exactly the same
* if the `for_each` is swapped for a raw for loop both versions optimize exactly the same

[2022-03-14 00:04] aDotInTheVoid commented on #93667
This shouldn't be done untill  after #94140, because rewriting all the tests is a pain

[2022-03-14 00:35] rMazeiks commented on #68318
@mwerezak I think I've seen `PhantomData<*mut ()>`. If I understand correctly, `*mut ()` is not `Send`, so neither is the enclosing `PhantomData` nor your struct. (Did not test)

`PhantomUnsend` might be a good alias/newtype for better readability – I had no idea what `PhantomData<*mut ()>` meant at first :D

[2022-03-14 01:27] c410-f3r commented on #83274
The help note is not showed anymore so this issue can probably be closed

[2022-03-14 01:36] aloucks commented on #92656
For example, I want to select an adapter based on a particular device API. I remember that this is a flag, so it's likely and enum, but I can't remember it's name. I scroll down until I see green and then start checking the items.  I find `Backend`.

https://docs.rs/wgpu/0.12.0/wgpu/

When you ask about looking for an enum _in particular_, why is enum being treated any differently than structs or

[2022-03-14 02:09] Phosra opened #94922 "RangeInclusive<Integer>::sum Optimization Suggestion"
The idiomatic way to sum a range of integers from `a` up to `b` is simply `(a..=b).sum()`. Yet, this always emits suboptimal codegen, as LLVM cannot perfectly optimise this, yet slightly better mathematics can be employed to do the same, more efficiently.

I suggest that specialisation be applied to range inclusive for integer elements where `T::BITS < 128`, to exchange a default internal implemen

[2022-03-14 02:47] zirconium-n commented on #94885
The second impl is not a specialization of the first impl. It implments `T<2, 3> * &T<2, 1>`, which the first impl doesn't cover.

I guess this requires lattice specialization but it's not yet implemented.

[2022-03-14 02:53] LegionMammal978 commented on #65816
To put in my own two cents (whatever they're worth), I really don't think that using `NonNull<T>` here would be worth the symmetry hit. Currently:

- The standard library has 6 stable `into_raw` functions that return a non-null raw pointer: `{Arc, Rc}::into_raw`, `Box::into_raw`, `CString::into_raw`, and `{rc, sync}::Weak::into_raw`.
- It has 12 stable `from_raw`-type functions that take a non-nul

[2022-03-14 03:04] dtolnay commented on #87517
FYI @rust-lang/libs-api: this is proposed for lang FCP. I forget if we've talked about whether the builtin derives are a language feature or library feature.

[2022-03-14 03:16] jhpratt commented on #87517
I believe consensus was that it's T-libs-api because everything done here could be done in a userland procedural macro.

[2022-03-14 03:46] scottmcm commented on #87517
@rfcbot concern I-think-this-is-libs-api

[2022-03-14 04:24] dtolnay commented on #70256
This has been implemented in nightly, so I am closing this feature request in favor of the tracking issue at https://github.com/rust-lang/rust/issues/92827.

Per https://github.com/rust-lang/rust/issues/92827#issuecomment-1032975319, a lang team MCP is eventually going to be required, along with some medium sized doc explaining what is going on and why. @oli-obk will open a hackmd for folks to col

[2022-03-14 04:24] #70256 closed

[2022-03-14 04:49] John-Nagle commented on #67408
Yes. I was using a deprecated package that pulled in some DLLs. Once I got rid of that package, the problem disappeared.

[2022-03-14 04:56] ta32 commented on #66348
Is it because cargo took the npm approach of duplicating the dependencies very where?

Eg If I create a small utility that uses
clap = "3"
serde_json = "1.0"
aws-config = "0.8.0"

If I create 100 small utilities the target area of each of these projects will be around 1 gig in size...

Maybe there could be a global dependency cache - which caches the binaries for a particular version in a single p

[2022-03-14 06:36] light4 commented on #94914
Maybe it's normal.
codegen-units           | build time
----------------------------|--------------------------
16 (default)               | 158.5s (2m 38.5s)
8                               | 260.4s (4m 20.4s)
4                               | 431.2s (7m 11.2s)
2                               | 722.2s (12m 2.2s)
1                               | 982.2s (16m 22.2s)

[2022-03-14 06:36] #94914 closed

[2022-03-14 06:37] edlanglois opened #94923 "Compiler segfault in release mode, reasoning about inlining/optimizing many versions of a generic function"
I discovered a compiler error (segfault) in the following code ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=377015bbbc54a677cb98d22f4097834e)) in which a generic function is called many times with different types.

Some changes that avoid the crash:
* Running with debug mode instead of release
* Making `f0` simpler (e.g. `std::hint::black_box(x)` or `x.wr

[2022-03-14 07:01] maboesanman commented on #65225
One very odd part of this api is that `insert_entry` gives you an `OccupiedEntry` but `remove_entry` doesn't give you a `VacantEntry`

This could be useful in situations where you remove an item, but may or may not need to replace it. In this case you can use `.entry(k).remove_entry()`, then keep the resulting `VacantEntry` around for use later.

Useful additions to this api would be `next_occupie

[2022-03-14 07:39] #94198 closed

[2022-03-14 07:39] #94889 closed

[2022-03-14 07:58] WaffleLapkin opened #94924 "rustdoc shows `self::` path in a warning when `crate::` was used"
The following code currently produces the following warning:
[code]
[code]

Note that the warning says "unresolved link to `self::DoesNotExist`" even though the code mentions `crate::DoesNotExist`

@rustbot label +T-rustdoc +A-intra-doc-links

### Meta

`rustdoc --version --verbose`:
[code]

[2022-03-14 08:15] lcnr commented on #93367
your code shouldn't change when we land the fix for #84857, so this shouldn't necessarily warn. I think that #94925 will fix that.

Thanks :+1:

[2022-03-14 08:39] WaffleLapkin commented on #67456
I think that these API are ready for stabilization 🤔

APIs that return `&mut`/`*mut` are probably blocked on #57349, but the `&`/`*const` versions can be stabilized and only need https://github.com/orgs/rust-lang/teams/wg-const-eval FCP

[2022-03-14 08:58] AaronErhardt opened #94926 "ICE when using rustdoc-scrape-examples on example that uses proc macros"
### Code

Use the "next" branch at Relm4: https://github.com/AaronErhardt/Relm4/tree/next

#### Reproduce:

[code]

Doesn't panic without `-Z rustdoc-scrape-examples=examples`.

I assume it is caused by a proc-macro because all other examples that don't use the `#[component]` macro seem to be scraped just fine.

### Meta

[code]

### Error output

[code]

If I read the code in librustdoc correctly

[2022-03-14 09:34] nrc commented on #94741
OK, I've removed the controversial changes: lets keep `filled` and not implement deref/into for getting the the filled part. I've suggested removing `filled_len` and using `filled().len()`. (fwiw, I think the distinction between filled and unfilled should not be important for the user (only to a function which is filling the buffer), so I think the analogy to Vec holds, but operating directly on t

[2022-03-14 10:37] c410-f3r commented on #53667
A stabilization attempt is available at https://github.com/rust-lang/rust/pull/94927

[2022-03-14 11:27] Urgau commented on #94926
cc @willcrichton

[2022-03-14 11:34] baoyachi opened #94930 "Use Default::default syntax sugar maybe cause stack overflow"
I tried this code:

[code]

I expected to see this can compile ok

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-03-14 11:58] porky11 commented on #60551
I have a similar problem:

[code]
Wouldn't this be the next thing, that should be stabilized? Doesn't seem too complicated.

[2022-03-14 12:51] Urgau commented on #94930
This code doesn't do what you expect it to do. In you're example `..Default::default()` is inferred as `Self` (not `i32`, or anything else) transforming it to a `..Self::default()` call, which is an unconditional recursion leading to a stack overflow.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2842aca9907fe24d3f66ce852f49d5f1 (with clippy)

[code]
See also https://git

[2022-03-14 13:00] mwerezak commented on #68318
@rMazeiks Thanks, I wouldn't have known really what type would be the appropriate choice to use with `PhantomData` for this.

A `PhantomUnsend` sounds like a good idea.

[2022-03-14 13:05] tromey commented on #94245
To get a more useful Python stack trace, use `set python print-stack full`.  I stick this in my gdbinit, since I bascially always prefer it.  (Without this setting gdb just shows a summary.)

Often `int` problems mean you have a gdb that's using Python 2.  I wouldn't expect this on a Linux distro but it is worth double checking.

[2022-03-14 13:06] tromey commented on #93164
FWIW I can confirm this seems to be fixed in nightly.

[2022-03-14 13:42] GuillaumeGomez commented on #60664
Seems like this issue was fixed so closing. Don't hesitate to reopen if something is still missing.

[2022-03-14 13:42] #60664 closed

[2022-03-14 13:42] camsteffen commented on #84277
@nyuichi Splitting `FromBreak` allows you to have `impl FromBreak<T>` for multiple `T`.

[2022-03-14 13:49] GuillaumeGomez commented on #55791
We already solved this issue a while ago so closing. Some more information: we keep track of the IDs used by rustdoc and then "derive" the ones generated by users' docs to prevent conflicts.

[2022-03-14 13:49] #55791 closed

[2022-03-14 13:50] RalfJung commented on #94910
This is only really fixed once the submodule got bumped.

[2022-03-14 13:52] GuillaumeGomez commented on #55580
They are now listed in the corresponding deref section (in the sidebar too).

[2022-03-14 13:52] #55580 closed

[2022-03-14 13:54] michaelwoerister commented on #93164
Great! There's a test now that should prevent this from regressing again.

[2022-03-14 13:55] GuillaumeGomez commented on #53750
It's now looking like this:

![Screenshot from 2022-03-14 14-55-06](https://user-images.githubusercontent.com/3050060/158186690-08ab35e2-8f27-48fa-b163-662d47c725df.png)

So I think we can consider this issue as fixed.

[2022-03-14 14:00] GuillaumeGomez commented on #52516
It's not an issue anymore since we handle it directly in the HTML generation now and not in JS anymore (except for a few parts but it's not relevant here). Closing then.

[2022-03-14 14:02] #48563 closed

[2022-03-14 14:04] #45078 closed

[2022-03-14 14:05] GuillaumeGomez commented on #43571
The UI has been greatly reworked, preventing this issue from happening anymore. I'm closing it but if you still have some issues around the "responsiveness", please reopen it.

[2022-03-14 14:05] #43571 closed

[2022-03-14 14:09] GuillaumeGomez commented on #42658
Seems like it's not the case anymore in https://docs.rs/serde/1.0.136/serde/trait.Serializer.html. Closing then!

[2022-03-14 14:09] #42658 closed

[2022-03-14 14:14] GuillaumeGomez commented on #34246
Problem was fixed a while ago. Closing then.

[2022-03-14 14:14] #34246 closed

[2022-03-14 14:21] nox commented on #92656
FYI I already asked for all those sections to be merged into a single one in https://github.com/rust-lang/rust/issues/64454. I understand that not everyone thinks the same way I do, so I'm not going to claim either way requires less or more attention than the other, and neither should anyone else.

[2022-03-14 15:05] #94930 closed

[2022-03-14 15:46] tmiasko commented on #90513
The original example prints a warning since 1.60:

[code]

[2022-03-14 15:46] #90513 closed

[2022-03-14 16:16] cuviper commented on #94829
Distros generally need **offline** builds, so I'm not sure what role you see for bootstrap.py there. For most builds I'm just pointing to the `/usr` toolchain, or if that's broken or non-existent I'll use a manually-unpacked upstream toolchain.

[2022-03-14 16:54] compiler-errors commented on #94903
Hmm... this should be normalized somewhere above codegen I think? Curious to investigate though.

@rustbot claim

[2022-03-14 16:56] lcnr opened #94937 "rustdoc shows auto impls for `[u8]`"
https://doc.rust-lang.org/nightly/std/marker/trait.Send.html#impl-Send-80

this is pretty confusing as there also exists an auto impl for `[T]` https://doc.rust-lang.org/nightly/std/marker/trait.Send.html#impl-Send-429

I expect that rustdoc incorrectly treats the `impl [u8]` impl as a distinct type or something like this... not completely sure

[2022-03-14 16:58] lcnr commented on #94937
![Screenshot from 2022-03-14 17-57-41](https://user-images.githubusercontent.com/29864074/158222429-94e6096a-9a40-44f1-9923-8b6517f077eb.png)
![Screenshot from 2022-03-14 17-57-35](https://user-images.githubusercontent.com/29864074/158222432-89b4dd67-d574-46fc-b14c-71ccb5c66b7c.png)

[2022-03-14 17:08] yaahc commented on #82223
I agree with @dtolnay on this one, though I think the second comment he linked is the much more persuasive justification for me. The fact that we already have or-patterns stable that let you write almost the exact same thing, and which is useful in far more situations makes me strongly prefer we focus on pushing users towards using or-patterns rather than stabilizing this API.

As a follow up thou

[2022-03-14 18:23] pnkfelix commented on #44874
Input from T-lang Backlog Bonanza [meeting from 2022-02-09](https://hackmd.io/dDHReOBwTWmsf4TUVgdBRg?view#Tracking-issue-for-arbitrary_self_types-44874): Can anyone write down a summary of the status of this feature?

Should any of the checkboxes in the description be checked off now as done? Do new checkboxes need to be added?

[2022-03-14 18:47] SUPERCILEX commented on #78485
ReadBuf doesn't implement the write trait AFAIK. Are there any against doing that? See https://github.com/rust-lang/rust/pull/94665 for reasoning.

[2022-03-14 19:35] djkoloski opened #94940 "Misidentified conflicting blanket impls for generic subtraits"
I tried this code:

[code]

Where `lib.rs` and `main.rs` are in different crates. This gives the following compiler error:

[code]

The `UpperBase` impl compiles fine when it's alone. The `UpperDerived<X>` impl should be allowed because:

1. `impl UpperBase for Foo` prevents `impl LowerBase for Foo` since that would cause the blanket impls to conflict.
2. `LowerDerived<X>` cannot be implemented fo

[2022-03-14 20:01] pnkfelix opened #94941 "cleanup: Unify find_use_placement approaches."
Spawned off of: https://github.com/rust-lang/rust/pull/94584#issuecomment-1060910292

The [code for `find_use_placement`][code] was at one point roughly the same as the algorithm used prior to PR #94584.

[code]: https://github.com/rust-lang/rust/blob/6d7684101a51f1c375ec84aef5d2fbdeb214bbc2/compiler/rustc_typeck/src/check/method/suggest.rs#L1939

PR #94584 changed things to use a more robust algo

[2022-03-14 20:02] pnkfelix commented on #94941
(I think I should be able to mentor this.)

[2022-03-14 20:13] kpreid opened #94942 "Suggestions when a single-field enum variant pattern is needed"
Beginners are often confused by the pattern where a set of types are combined using an `enum`, especially when the name of the enum variant is the same as the name of the variant's field's type. Even knowing how it works, I've myself forgotten to write out enum variant patterns containing struct patterns where they are needed. It would be useful if the compiler could give suggestions that understa

[2022-03-14 21:09] kckeiks commented on #94941
@rustbot claim

[2022-03-14 22:28] bstrie commented on #89586
@Wardenfar You may want to try asking on the #t-compiler Zulip thread: https://rust-lang.zulipchat.com/#streams/131828/t-compiler

[2022-03-14 23:34] willcrichton commented on #94926
Thanks for the report @AaronErhardt. I will take a look and fix this soon.

[2022-03-14 23:45] workingjubilee commented on #94910
Ahhh okay.

[2022-03-15 00:10] tbodt opened #94943 ""failed to open bitcode file: No such file or directory" 2, electric boogaloo"
This has similarities to #72006: the incremental cache gets into the exact same bad state as in that issue (missing .pre-lto.bc file, all other expected files are there), and the diagnostic message is exactly the same. But it must be getting into this bad state some other way. I've yet to find any way to consistently reproduce. But I see this a lot while doing a git pull that triggers an inotify-t

[2022-03-15 00:11] Heliozoa opened #94944 "Improve error message when trying to use `?` in an async block that does not return a FromResidual type"
Currently, trying to use `?` in a function that does not return a compatible type results in a great error message:
[code]
[code]

However, when the same issue occurs in an async block, the output is not as helpful: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d8fadebcedd4dda50a5377047a6227d7
[code]

The current output is:

[code]

This is especially unhelpful in the cu

[2022-03-15 00:32] #94910 closed

[2022-03-15 00:32] maboesanman commented on #65225
I've created a mockup for what I think this api could be: https://github.com/maboesanman/InPlace
and cargo docs here: https://maboesanman.github.io/InPlace/in_place/

curious what people's thoughts are.

[2022-03-15 00:46] brodieG opened #94945 "Bidi Trojan Source Linter Bypassed in Format Strings"
This relates to the [Trojan Source exploit](https://trojansource.codes/trojan-source.pdf).

I tried this code:

[code]

Where RLO are the raw bytes representing "\u202e" (or any of the other forbidden stateful bidi control characters) does not trigger the linter, whereas e.g.:

[code]

Does trigger the linter (as it should).

This was seen with:

[code]

I discussed this over e-mail with @pietroal

[2022-03-15 02:39] compiler-errors commented on #94770
@rustbot claim

[2022-03-15 02:51] Nokel81 commented on #65225
I think it looks good, for what it is worth. With that I see a nice solution to a complaint that I have seen about that's hashmap type where the entry API requires allocation even just to check if some boxed key (such as `String`) is present.

[2022-03-15 03:39] josephg commented on #43781
Whats blocking stabilization here? It seems like the feature is complete, and people are using it. If there's tweaks to how documentation is rendered, surely that could happen after stabilization? Devs can already opt out of this for their crates by not adding `#[doc(...)]` attributes in their code.

Are we just waiting on a write-up being merged into the core rust documentation?

I use stable rus

[2022-03-15 03:49] EFanZh opened #94950 "Update safety requirements of `Vec::from_raw_parts`?"
[The “Safety” section of the document of `Vec::from_raw_parts`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#safety) says:

I think the first requirement should also add “The first `length` elements starting from `ptr` are initialized”. And the second requirement could be relaxed into “`capacity` needs to be **less than or equal to** the capacity that the pointer was allocated with”,

[2022-03-15 03:56] #80800 closed

[2022-03-15 04:05] AzureMarker commented on #94348
I tested the static workaround and it doesn't seem to work (with `used(compiler)` or `used(linker)`).

[2022-03-15 05:29] mfrw commented on #93792
Please do.. I am not getting the time at the moment

[2022-03-15 06:14] matthiaskrgr opened #94953 "ICE: all diagnostics with unstable expectations should have been converted, compiler/rustc_errors/src/lib.rs: Zunpretty=expanded"
### Code
code reduced from `./src/test/ui/lint/rfc-2383-lint-reason/catch_multiple_lint_triggers.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/lint/rfc-2383-lint-reason/catch_multiple_lint_triggers.rs  -Zunpretty=expanded`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-15 06:16] #87613 closed

[2022-03-15 06:17] matthiaskrgr commented on #94953
cc @xFrednet ?
looks like it might be related to https://github.com/rust-lang/rust/pull/94670

[2022-03-15 06:40] comex commented on #29603
A small rant about weak linkage: It's really two or maybe three separate features stuffed into one.  They have the same syntax in GNU extensions to C (`__attribute__((weak))`), and they use the same bit in ELF files (though not Mach-Os), but their semantics and use cases are different.

1. A weak *reference* (LLVM's `extern_weak`) means "this symbol is allowed to not be defined; treat it as null".

[2022-03-15 08:38] xFrednet commented on #94953
Mehh, I have a rough idea were this comes from. Thank you for the ping :upside_down_face:

@rustbot claim

[2022-03-15 09:36] SimonSapin commented on #43467
https://github.com/rust-lang/rust/pull/94954 implements this part of the pointer metadata RFC

[2022-03-15 09:46] michaelwoerister commented on #94878
I think this is very promising. I would suggest to entirely remove the local version of the `crate_hash` query. That should make things easier to implement.

[2022-03-15 10:06] lqd commented on #94878
@rustbot claim

[2022-03-15 10:09] bjorn3 commented on #94878
The crate metadata is missing the session configuration with which the crate has been compiled. This means that eg changing optimization level probably won't change crate metadata. It probably needs to change the crate hash though.

[2022-03-15 11:26] michaelwoerister commented on #94878
Ideally it wouldn't be necessary because the hash includes everything that is accessible to downstream crates, right?

[2022-03-15 11:42] bjorn3 commented on #94878
The object files are accessible to downstream crates (they are linked into the final artifact after all), but they depend on both the crate metadata and the compilation session options.

[2022-03-15 11:51] michaelwoerister commented on #94878
Yes, but linking is done unconditionally, independent of the crate hash.

[2022-03-15 11:55] bjorn3 commented on #94878
I think it isn't too far fetched that cargo or other build systems will use the crate hash in the far future instead of mtime or hashing the entire file.

[2022-03-15 12:02] JKAnderson409 commented on #93792
Thanks! @rustbot claim

[2022-03-15 12:46] c410-f3r commented on #83527
The implementation has been merged so please try testing the feature as much as possible to find any potential bugs

[2022-03-15 12:51] michaelwoerister commented on #94878
I don't know. In my opinion the crate hash is an internal implementation detail of the incremental compilation system that's only there to optimize a common code path there. I wouldn't recommend any outside tooling to rely on it.

[2022-03-15 13:13] bjorn3 commented on #94878
The SVH has introduced feb 2014 in https://github.com/rust-lang/rust/commit/ec57db083ff10fc4da0a2f25df5acf1d4398e560

downstream crates have not been recompiled.

[2022-03-15 13:38] CryZe commented on #94950
Two opinions:
1. The Allocator API is unstable, I don't think it would make sense to adjust documentation to guarantee unstable behavior.
2. It's actually even more tricky than your wording, because it also needs to be at least the size of the Layout that was used when allocating the memory block, which you may or may not even know about depending on whether the Vec itself was using the Allocator

[2022-03-15 14:23] mark-i-m commented on #83527
Thanks @c410-f3r for all your hard work!

From my limited experience with this feature, I have some concerns about the design:
* The depth arguments are confusing because some of the functions count up from the most nested depth and some count down from the outermost level.
* Also, indexing does not universally start at 0, and an index of 1 means different things for different meta-variable expres

[2022-03-15 14:58] matthiaskrgr opened #94961 "ICE: layout error: SizeOverflow([u8; 18446744073709551615]), compiler/rustc_codegen_ssa/src/debuginfo/type_names.rs:77:78"
### Code
code from glacier fixed/75158.rs
[code]

### Meta

`rustc --version --verbose`:
[code]
with 040703018c51409ea8c9a0cfb8f829a138d2a411 cc @michaelwoerister

### Error output
`~/.rustup/toolchains/master/bin/rustc  ./75158.rs  -Cdebuginfo=2`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-15 15:00] matthiaskrgr commented on #94961
This would previously just throw an error but not "crash":
[code]

[2022-03-15 15:41] pnkfelix commented on #44839
The lang-team looked at this issue during its [backlog bonanza on 2022-06-09](https://hackmd.io/dDHReOBwTWmsf4TUVgdBRg?view#Tracking-issue-for-RFC-2045-improving-target_feature-44839)

There are a couple of problems here.

First, from my own attempts to quickly review the status here, It is not immediately clear which items that are listed on [this issue's description](https://github.com/rust-lang