[2022-07-29 21:34] saethlin commented on #97250
Closing because if https://github.com/rust-lang/rust/pull/95377 or anything like is merged, it will be opt-in.

[2022-07-29 21:34] #97250 closed

[2022-07-29 21:49] eddyb commented on #99923
You should've never needed to transmute the pointer side to `usize`, [this works fine](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5050686f4269a0244cb559cf6fd177d8):
[code]

[2022-07-29 21:49] Manishearth commented on #99923
Yeah, I managed to make it work with this instead:

[code]

[2022-07-29 21:55] cuviper commented on #99836
Here's what I've got so far:

[code]

For the example of `Result<[usize; 0], bool>`, it ends up using a direct tag instead, still `size == align == 8`.

[2022-07-29 22:01] eddyb commented on #99909
* #35957

(i.e. the original proc macro impl) is what appears to have added the proc macro case here (which seems to have been called `RustcMacro` back then):
https://github.com/rust-lang/rust/blob/7a26aeca77bcf334747eddb630e3b9475149b7f5/src/librustc_trans/back/linker.rs#L240-L248

So what happened was that proc macros were a lot more like `dylib`s than `cdylib`s originally, and this was consiste

[2022-07-29 22:09] jyn514 commented on #99914
@compiler-errors
[code]
[code]

[2022-07-29 22:10] eddyb commented on #60593
Not sure yet if relevant, but: turns out my expectation of proc macros being "most `cdylib`" is wrong because (more details here: https://github.com/rust-lang/rust/issues/99909#issuecomment-1199945273) of this bail-out: https://github.com/rust-lang/rust/blob/9067d5277d10f0f32a49ec9c125a33828e26a32b/compiler/rustc_codegen_ssa/src/back/linker.rs#L651-L661

AFAICT that's what's causing proc macro dyl

[2022-07-29 22:46] eholk commented on #97333
I'm spending some time looking at this one again this afternoon to see if it's still an issue after @jyn514's changes. It seems like yes, although we aren't getting duplicate warnings now, we're just getting now warnings. I think seeing through references is probably the right option, but I'm getting kind of lost between the different PRs I have open so I'm going to rebase some things and figure o

[2022-07-29 22:56] eholk commented on #97332
I'm happy with how this error message looks after the recent changes, so I'll go ahead and mark it as closed.

[2022-07-29 22:56] #97332 closed

[2022-07-29 23:20] yshui commented on #78893
@lcnr This seems to be tied to the specific implementation of the trait system in rustc. And, at least to me, doesn't feel like an intuitive distinction between the 2 cases.

i.e. another implementation of the Rust language might come along and implement this differently.

But I guess in the end this isn't that impactful of a change, and I can go with the decision. :+1:

[2022-07-29 23:33] jackh726 commented on #98437
We discussed this a bit in the [t-types meeting today](https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/meeting.202022-07-29/near/291329139).

We basically concluded (as has already really been said a few times in a couple places) that #96899 was a soundness fix and not worth reverting for *this* regression. Also, the regression is small, weird enough, and has an easy

[2022-07-29 23:38] jyn514 commented on #97333
Sounds good :) @eholk let me know if there's any way I can help, I've been repeatedly running into places at work that would be fixed by drop tracking haha

[2022-07-29 23:42] edef1c opened #99926 "unstable fingerprints for def_ident_span"
### Meta

Instance of #84970.
I can't reproduce it anymore, so this is all I have.
The codebase I was compiling is available at https://src.unfathomable.blue/tree/ripple/minitrace?h=db58b80ac7d1cc4f16ef1bc21146de9ab6e90302.

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-07-29 23:44] edef1c commented on #99926
This __seems__ like a dupe of #95945 to my untrained eye.

[2022-07-30 00:26] #98702 closed

[2022-07-30 00:49] CAD97 opened #99930 "type parameter `impl Sized` (type parameter `impl Sized`)"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3792730264eb43bb2ce3bd464a9fad6b)

[code]

The current output is:

[code]

Note specifically

[code]

The addition of the parenthetical here is not useful. Additionally, this note simply repeats the immediately previous inline span note, but less usefully, since the inline note specifi

[2022-07-30 01:42] RalfJung commented on #99923
That PR improved our ability to detect UB in const code. Transmuting a ptr (that was not created via int2ptr cast) to a usize in const is UB. So I am not sure this is a regression. Code with UB is not subject to stability guarantees.

[2022-07-30 01:58] saethlin commented on #64102
Elaborating on @BurntSushi's point above about naming... Both `criterion` and `bencher` have their own functions which are supposed to fill this role. They are of course called `black_box` and do not link directly to the function in question here but allude to it very strongly:

`criterion` says

`bencher`

People have wanted this and been hacking around not having it by writing polyfills for at l

[2022-07-30 02:53] bmiyuan opened #99931 "current_exe return \\\?\\ prefix symbols"
**Background：**
I use current_exe() on Windows, but std::env::current_exe() return "\\\\?\\D:\\code\\test\\target\\debug\\test.exe"

**Steps to Reproduce:**
fn main() {
    let program_dir=std::env::current_exe().unwrap();
    println!("program_dir {:?}",&program_dir);
}

**Rust Version:**
rustc 1.62.1 (e092d0b6b 2022-07-16)

**Expected Behavior:**
I would expect to get:
"D:\\code\\test\\target\\d

[2022-07-30 03:36] crusader-mike opened #99934 "`std::fs::remove_dir_all()` doesn't delete all files on Windows 7"
On Windows 7 my incremental builds produce following warnings:
[code]

I tracked this issue down to a bug in `std::fs::remove_dir_all()` ([here](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/windows/fs.rs#L1005)). This function tries "posix delete" each file and if it fails -- falls back to  "windows delete". Problem is that it does not restart enumeration in fallback -- thus f

[2022-07-30 03:51] RalfJung commented on #64102
The fact that it is known from other languages/frameworks under this name is exactly what concerns me. There is (or at least I have the impression that there is) a widespread misconception that one could use black_box to get a guarantee that certain optimizations don't happen, and hence it is okay to do things that are usually UB. This is emphatically not true for the operation we are discussing h

[2022-07-30 03:58] RalfJung commented on #64102
I don't like using the term "fence" here. `atomic::fence` is an operation with a clearly defined meaning and observable side-effects that actually alter program behavior. This thing here is just a hint, it can never alter "observable" program behavior (putting this inn quotes because runtime is not considered "observable" and that is the one kind of behavior this thing is intended to alter).

[2022-07-30 04:05] #93951 closed

[2022-07-30 04:05] #98672 closed

[2022-07-30 04:05] #96678 closed

[2022-07-30 04:05] #99876 closed

[2022-07-30 04:05] Manishearth commented on #99923
I understand, but I will point out that currently what is and isn't UB is in flux (and almost completely undocumented), and also a lot of the APIs to do this safely are not yet available (const `slice::from_raw_parts` _just_ stabilized[^1]).

I don't think "this is UB" is sufficient to ignore breaking changes when there is no documentation on what Rust considers UB, and Rust is still pinning down

[2022-07-30 04:33] ChrisDenton commented on #99934
Hi, thanks for the report! I have submitted #99937 to address the specific problem in this issue. It's intended to be the most minimal change possible so that it can (hopefully) be reviewed and quickly merged.

[2022-07-30 04:36] JustForFun88 opened #99938 "Broken MIR with ```if let chain```"
Recently I played with the newly stabilized ```if let chain``` (tracker for issue #53667, stabilized in Rust 1.64 #94927) and found that in some cases it gives ```internal compiler error: broken MIR``` . Below is a minimal example. It compiles fine with ```cargo build``` or ```cargo run```, but does not compile with ```cargo build --release```. It also compiles if you replace ```if let chain``` wi

[2022-07-30 04:55] Lokathor commented on #64102
One vote for "you're being overly paranoid". Or maybe, "the kind of people that would try to hide UB behind a black_box function are going to try and hide UB behind any other name you give it, so that should not be a factor".

[2022-07-30 04:58] workingjubilee commented on #99923
At minimum we need to start emitting a lot better diagnostics about how `const` + `unsafe` is extra-"fun" territory. If something happens inside a `const unsafe` context that is busted in that context and we detect it, but it would work in a non-const `unsafe` context, we should start signaling appropriately. If it would be UB in both contexts, all the more reason to emit a **very** clear error me

[2022-07-30 05:06] lygstate commented on #60784
What's going on on this?

[2022-07-30 05:10] pitaj commented on #64102
If also like to point out that the name "black box" heavily implies a sense that "we're not going to tell you how this works or what it does. You must assume it does nothing at all yet also everything possible".

[2022-07-30 05:36] crusader-mike commented on #99934
@ChrisDenton Thank you. You (or whoever is in charge of `std::fs`) should consider notes in first post. Current design is inefficient -- it unnecessarily penalises Win7 (or any Win32 FS that doesn't support posix semantic) by re-reading first batch twice, it also suboptimal in other ways (as described).

[2022-07-30 06:54] conradludgate opened #99940 "Default trait argument through 2nd trait has conflicting impl"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5a6bc60775d41ce5ef3ff9656d489c51

[code]

I expected to see this happen: Code compiles successfully

Instead, this happened:

[code]

As you you see, the stdlib has

[code]

Which makes use of a default type arg on `FromResidual` - `<Self as Try>::Residual`. For `Option<T>`, that is `Option<Infallible>`.

[2022-07-30 06:57] conradludgate commented on #99940
I want this to focus away from `FromResidual` and more towards the type conflicts. `FromResidual` is just the first trait I found with this behaviour. I believe this would affect other traits too.

Also note, this requires a crate boundary. `core` already implements both
[code]
which is exactly what I'm trying to accomplish - just that it's conflicting in my crate

[2022-07-30 07:15] Nilstrieb commented on #99938
Thank you for you report, but this is probably a duplicate of #99852

[2022-07-30 09:30] #91039 closed

[2022-07-30 09:32] MatteoLeonesi opened #99941 "error: toolchain 'nightly-aarch64-apple-darwin' is not installed (during zokrates installation on M1)"
I tried this code:

[code]

Instead, this happened:
***error: toolchain 'nightly-aarch64-apple-darwin' is not installed***

[2022-07-30 09:48] eddyb commented on #99923
Keep in mind the provenance changes pretty much *only affect* runtime execution.
CTFE has its own much stricter rules that AFAIK are unaffected by provenance variants, as it's by necessity/design *at least* as restrictive as the most restrictive provenance model for runtime, with symbolic pointers into allocations that behave more like disjoint address spaces.

The irony here is that where before

[2022-07-30 10:49] eddyb commented on #99836
Ah, does it hit the check between niche-filling and tag, that IIRC might prefer tag (if the sizes are equal) because it likely results in better codegen/more niches in many cases?

Looks like it:
https://github.com/rust-lang/rust/blob/5dda74a48cd50de10539478c1e0b6699bfdab665/compiler/rustc_middle/src/ty/layout.rs#L1555-L1560

In that case, it should get the same layout as s/bool/u8/ (since it ends

[2022-07-30 11:22] #99941 closed

[2022-07-30 11:39] bjorn3 commented on #99931
libstd uses `GetModuleFileNameW` to get the executable name: https://github.com/rust-lang/rust/blob/e50ff9b4521234e56ff46f8ed0372d5cb5689654/library/std/src/sys/windows/os.rs#L239 This function seems to indeed return `\\?\` prefixed paths. libstd can handle these paths just fine, and they are mandatory when the path gets too long. Not a windows expert, but I did say not a bug.

[2022-07-30 11:48] bjorn3 commented on #99909
Removing the gate at https://github.com/rust-lang/rust/blob/9067d5277d10f0f32a49ec9c125a33828e26a32b/compiler/rustc_codegen_ssa/src/back/linker.rs#L651-L661 seems to cause the .rustc section to be omitted.

[2022-07-30 12:18] BurntSushi commented on #64102
@RalfJung I'm personally not particularly worried about that. I'm in favor of putting your strenuous warnings in the docs to make it clear. (Which I think we should do regardless of what name we pick.)

I just think "black box" is the name people expect for this.

With that said, I would rather see this stabilized than not, even if not using black_box as the name.

[2022-07-30 12:18] bjorn3 commented on #99909
Opened https://github.com/rust-lang/rust/pull/99944 with a fix.

[2022-07-30 12:21] #53475 closed

[2022-07-30 12:26] ssokolow commented on #64102
Honestly, I think the're so much variation in what misconceptions people might have, both from person to person and from candidate name to candidate name that, no matter what you name it, it's not going to be enough.

They're going to need to read the rustdoc page to not misuse it either way, so I think the most important thing is to minimize the odds that people have to "syscall to google" to fin

[2022-07-30 12:44] the8472 commented on #99931
These are [valid paths](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#win32-file-namespaces). If you need to pass them to an application which can't handle them you can try using the [dunce](https://crates.io/crates/dunce) crate, but it's not guaranteed that this will work for all paths because verbatim paths can refer to files that are unnamable by non-verbatim ones. Not onl

[2022-07-30 12:58] lasernoises opened #99945 "Failed to normalize"
I hit this error working with `type_alias_impl_trait`. This is the most I've managed to minimize the code.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-30 13:13] RalfJung commented on #98862
My impression was that @m-ou-se is not happy with this part, so we do not have consensus on this.

[2022-07-30 13:18] RalfJung commented on #64102
So you think people are going to just write `hint::black_box` without even consulting rustdoc for which module this operation is in? https://doc.rust-lang.org/nightly/std/?search=black_box should show the expected results even if it is called `bench_black_box`.

To be clear, I can live with the outcome that I am too paranoid, but I also don't quite understand what makes the name `bench_black_box`

[2022-07-30 13:21] ssokolow commented on #64102
I was more addressing suggestions based on words like "fence".

[2022-07-30 13:33] RalfJung commented on #99923
I do agree with the concern that our UB rules can be hard to follow. However, note that the UB involved here is much more clearly documented than most other kinds of UB that we have. Quoting from the `transmute` docs:

So, if this is not enough, then I don't know what is. We also have [an RFC](https://github.com/rust-lang/rfcs/blob/master/text/3016-const-ub.md) saying that the compiler is *not* re

[2022-07-30 13:36] ChrisDenton commented on #99934
While I do agree it should definitely be implemented more efficiently, I would doubt reading the first batch twice has a measurable impact on performance. At that point the directory information will be in the OS cache (because we only just loaded it) so it's just copying the memory from the OS to the application again. This is far cheaper than all the other operations we're doing (e.g deleting fi

[2022-07-30 13:37] nbdd0121 commented on #64102
When I propose `optimizer_fence` I was considering `compiler_fence`, which prevents compiler from doing some reordering; by analogy, `black_box` prevents the optimiser from moving computation across it so `fence` sounds like a reasonable name to me. The fact that `atomic::fence` is an atomic memory fence shouldn't take away the literal meaning of fence or barrier as something that provides separat

[2022-07-30 13:37] BurntSushi commented on #64102
The module name and the docs are enough clarifying context IMO.

I'm not thinking about writers. I'm thinking about readers.

[2022-07-30 13:41] RalfJung commented on #64102
compiler_fence also has *some* kind of operational effect, but [it's hard to say what exactly that effect is](https://github.com/rust-lang/unsafe-code-guidelines/issues/347). If anything I think it is an example of bad naming that we should not repeat.

So what is the issue with the extra "bench" prefix for readers?

[2022-07-30 13:51] BurntSushi commented on #64102
What is the issue with dropping it? It just seems unnecessary to me. We'ee going in circles and this is turning into a rapid fire unproductive back-and-forth. Let's just accept that reasonable people can disagree. We're talking about a name here. There are subjective preferences in play here. I've elaborated on why I think `black_box` is sufficient. I have not put forward a bullet proof argument i

[2022-07-30 14:09] saethlin commented on #64102
Can we even have this under the path `test::bench::black_box`? I think all of `test` is unstable (and I would like it to stay that way for now, please).

[2022-07-30 14:35] DevinR528 commented on #89554
I don't have strong feelings either way, so whatever the outcome, I'll like it :smile: . My thought about `non_exhaustive_wildcards` is that it sounds like you are forbidding the use of wildcards. What about `#[deny(missing_non_exhaustive_patterns)]`?

[2022-07-30 14:57] est31 commented on #98672
So I was rebasing #99291 onto latest master and I wanted to share this as part of the diff:
![Screenshot_20220730_164823](https://user-images.githubusercontent.com/8872119/181919643-64bd39f5-2847-4e4c-8a5a-4b888bbe4c16.png)

There has been great improvement by #99518 but it was no full fix, especially this still post-drops:

[code]

prints:

[code]

If you remove the `&` it works now thanks to #99

[2022-07-30 15:20] Eijebong opened #99949 "Regression with lifetimes when using `Foo as Trait` and `Trait` has an associated lifetime"
This code:

[code]

compiles on stable but not on nightly.

Error:
[code]

I bisected it to 2643b16468fda787470340890212591d8bc832b7 and then refined it; reverting
a2254d5d7c57be00cc640c0f7a8e21b320e947aa fixes the issue.

This is the cause for https://github.com/launchbadge/sqlx/issues/2004

[2022-07-30 15:32] Eijebong commented on #99949
ping @cjgillot since you're the author of the commit

[2022-07-30 15:58] chomosuke opened #99951 "showing "the trait bound `impl TArray: TList` is not satisfied" instead of the more correct "the trait bound `<impl TList + TArray as TList>::Element: TSigned` is not satisfied""
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=44ef54bf6258a86b1ddb0497b8c08a25)
[code]

The current output is:
[code]

However, `impl TArray: TList` is not the trait bound that is not being satisfied. It is `<impl TArray as TList>::ELement: TSigned` that's not being satisfied.

Further more, help actually suggest `ArrayListU32` as a

[2022-07-30 16:00] dingxiangfei2009 commented on #98672
@est31 I think this is because the borrowed `Droppy::B` is assigned with extended lifetime. #99518 only breaks out towards the remainder scope. It turns out this is not sufficient. I will try to break out to further one scope up, say the parent remainder scope of the current one. I feel that this should suffice.

[2022-07-30 16:02] elichai opened #99952 "[rustdoc] Generate documentation for type definitions"
Would it be possible to add traits and functions to type definitions? For example, it's really hard to figure out what functions exist on this type: https://docs.rs/blake2/0.10.4/blake2/type.Blake2b.html
It's a type definition of a generic struct where some of the impls on the generic struct depend on the traits the generic implements.
so having docs on the type definition will allow seeing what t

[2022-07-30 16:24] camsteffen commented on #98672
This is correct behavior I think. Anything accessible in the pattern needs to be in scope till the end of the block. Consider you can write `let x @ &Droppy(_) =  `. It shouldn't depend on whether the pattern matches since that is not known at compile time generally.

[2022-07-30 16:31] est31 commented on #98672
@camsteffen yeah it may not be dropped before the code after the `let else` construct terminates, but it can be dropped before the `else` block.

[2022-07-30 16:33] Manishearth commented on #99923
Yeah, I'm aware (since opening this issue and digging further) that this is documented. Thing is, it's on a function that has existed for ages; users aren't going to recheck that documentation each time they use it once they're familiar with it.

_If_ Rust had a complete story for UB it would be totally worth it to go and read through the UCG docs, the reference, the nomicon, and the stdlib docs t

[2022-07-30 16:55] est31 opened #99955 "warning: enumeration values 'AllocatedPointer' and 'AllocAlign' not handled in switch"
On recent master, compiling gives me this warning in stdout:

[code]

Now, they *are* handled in the switch case, but are gated by `LLVM_VERSION_GE`. I think this is a fall out of #99574. The issue is probably fixed by adding similar gating to LLVMWrapper.h .

@rustbot label A-llvm T-compiler

[2022-07-30 17:05] saethlin commented on #56253
Doesn't reproduce anymore on Rust 1.62.1.

[2022-07-30 17:14] #56253 closed

[2022-07-30 17:29] Manishearth commented on #99923
Oh, also, like I said before, I totally understand stuff like this slipping; there are many times when it's too subtle to realize and this case might be one of them. But, _in general_, future incompat cycles aren't _that_ long and it would be nice to at least _consider_ them on a case by case basis.

[2022-07-30 17:37] saethlin commented on #99923
The largest regression in the entire rustc-perf benchmark suite was 1.94% on `ctfe-stress`, 0.8% on any real crates. The only way to invent a large regression was with a completely contrived program. Perhaps it is worth asking, @Manishearth would you have accepted a 0.8% compile time regression to know about this sooner, or to have more thorough UB detection in `const` in general?

[2022-07-30 17:40] Manishearth commented on #99923
@saethlin Probably, yeah, I'd even be happy to run a build under some rustflag to opt in if I knew about it (but stuff here changes so often it's hard for me to know about these things)

However in this case it's unclear to me why there would have to be a perf regression for this. We currently _already_ detect this UB, what I would have preferred is if we threw a future incompat warning for a stab

[2022-07-30 17:53] cuviper commented on #99836
That's a nice test, thanks! And indeed, nightly currently makes those both niche with `align==8 && size==2`, while my branch makes them direct and niche respectively with `align == size == 8`.

[2022-07-30 18:04] mqudsi opened #99960 "Rust 1.56.0+ no longer recognizes boundary checks as avoiding division overflow panic"
The following code (contrived for demonstration purposes) correctly checks for and avoids a division overflow condition (`i64::MIN` input coerced to `i64::MIN.abs()` output) but a regression in rustc 1.56.0 (still in latest nightly and latest 1.62.0 release) causes the optimizer to no longer skip the checked division and panic branch:

[code]

[Godbolt link comparing 1.55.0 to 1.62.0](https://godb

[2022-07-30 18:16] oli-obk commented on #99923
What @saethlin did was try out how expensive adding any checking would be without changing the miri logic. What Ralf did was a cleanup that accidentally opted into some of that checking by just not having a code path for the UB case anymore.

So yes, for this specific case we could have written a future incompat lint had we known about it. Had we known about it we'd have cratered it and discussed

[2022-07-30 18:16] mqudsi opened #99961 "rustc 1.48.0+ generates branchier and less compact code for integer division w/ boundary checks"
The following code, which correctly bypasses overflow and divide by zero conditions, generates branchier and less optimal machine code (under x86_64) when compiled under rustc 1.48.0+ as compared to rustc 1.46.0 and below:

[code]

[Godbolt comparison link](https://godbolt.org/z/bbYzb8no8)

The assembly generated in 1.46.0:

[code]

vs in 1.48.0:

[code]

The astute will observe that rustc 1.47.0

[2022-07-30 18:30] ldm0 commented on #95323
Cannot reproduce with nightly rust: https://godbolt.org/z/M5vvsbGnK

[2022-07-30 18:31] cuviper commented on #63787
Now that the library fix has landed, are we still considering lang changes, or can we close this?

[2022-07-30 18:42] Manishearth commented on #99923
@oli-obk to try and be abundantly clear, _I do not think that this was a problem at review time_. Mistakes happen, it's fine, and I've stated that multiple times before above. Even with more stringent reviews it's hard to catch all of this. It's going to happen. I've worked on rustc before, I understand how hard it is to catch all the things.

My reaction here is _entirely_ against the response to

[2022-07-30 18:48] RalfJung commented on #95323
Cc @Nilstrieb

[2022-07-30 18:50] RalfJung commented on #63787
I think the lang side of this is not final yet, but this is not the right issue to track that. We have https://github.com/rust-lang/unsafe-code-guidelines/issues/125 and this will have to be part of the discussion of the aliasing model, once we get there.

[2022-07-30 18:50] #63787 closed

[2022-07-30 19:10] RalfJung commented on #99923
To be fair, the comment has been there ever since the function was callable on CTFE in stable.

The problem is, nobody expects there to be a difference between CTFE UB and run-time UB, and so nobody thinks of re-checking the docs when calling a function in CTFE for the first time.

Yeah, I don't disagree, and I appreciate the feedback!

I just wonder what the concrete next steps are that we could

[2022-07-30 19:13] eddyb commented on #99923
#### *Nominating for @rust-lang/compiler discussion for the below proposal*
(hoping @RalfJung and @oli-obk agree to it)

### 1. Undoing #97684's "`transmute<*T, usize>` is now lossy instead of UB", *in CTFE*

### [**EDIT**: just noticed _**this is regressed on beta!**_ - the beta that will be stable _**next week**_]
(cc @rust-lang/release is it too late to backport a fix?)

<hr/>

Minimal repro (o

[2022-07-30 19:15] camsteffen commented on #98672
I see. I think this is the non-temporary case, when the pattern doesn't match.

[2022-07-30 19:18] workingjubilee commented on #99923
re: "do we need future incompat lints for every such change?"

Yes, I think that's the expectation in the absence of thorough expectation management, which is why my earliest remarks were "we need to be doing a lot more expectation management". If it was thoroughly understood by Rust programmers that UB in `const` is... explosive... and any `unsafe` blocks they open in it had better be sound or th

[2022-07-30 19:20] Mark-Simulacrum commented on #99923
With regards to backports, the release is August 11th I believe, which is a little under 2 weeks out. Backports over the next week (before August 5th) are fine, past that please communicate with t-release (pinging me on Zulip in #t-release is best) to make sure the release includes the relevant changes.

[2022-07-30 19:25] RalfJung commented on #99923
Nah, the first transmute is UB. We just only detect this when its result is used in the 2nd transmute. Here is similar code that errors already on stable:
[code]

And no it doesn't extract the offset, it just returns the pointer value at integer type. The 2nd transmute errors because what would happen here at runtime is that it'd strip provenance, but that is not possible in CTFE (because we only

[2022-07-30 19:31] mqudsi commented on #99961
This bisects to something between 2021-08-21 and 2021-08-22 in the range of a0035916e01d8e644ccd44554c57f0874cef8c8c to d3e2578c31688619ddc0a10ddf8543bf4ebcba5b, which includes #87570 (the upgrade to llvm 13), which is the most likely culprit.

[2022-07-30 19:32] mqudsi commented on #99960
This bisects to something between 2021-08-21 and 2021-08-22 in the range of a0035916e01d8e644ccd44554c57f0874cef8c8c to d3e2578c31688619ddc0a10ddf8543bf4ebcba5b, which includes #87570 (the upgrade to llvm 13), which is the most likely culprit.

[2022-07-30 19:35] workingjubilee commented on #99960
The only difference in our unoptimized LLVMIR is that we now emit noundef, which enables other optimizations. Typically we do not add regression tests to Rust's test suite based purely on LLVM optimizations, and this regression does seem to be due to that. Even if we wanted one here, there's so many valid code emissions and optimizations for division, I'm not seeing a simple path forward for a reg

[2022-07-30 19:41] eddyb commented on #99923
Unnominating... (and edited the original comment).

Alright, that was really pointless on my part, I *thought* I understood what effect the PR change had, but I missed the interaction between `read_target_uint` and CTFE relocations, that makes way more sense now (including explaining why the confusing error is happening in the way that it does). <sub>(oh and I did show an `+ 0` example to @Manishe

[2022-07-30 19:43] RalfJung commented on #99923
I am working on a patch that should defuse the problem at least for beta, hopefully giving us the time to discuss this a bit more. Your suggestion for mitigation made sense @eddyb, I just don't think this is a long-term solution. That's why `enforce_number_no_provenance` does not even exist any more on master.

[2022-07-30 19:44] workingjubilee commented on #74917
Leaving this open because clang trunk fixes this: https://godbolt.org/z/f516vsxd7

[2022-07-30 19:45] workingjubilee commented on #91039
Please file LLVM-only enhancement requests upstream with LLVM: https://github.com/llvm/llvm-project/issues

[2022-07-30 19:45] mqudsi commented on #99960
Thanks for clarifying - I wasn't sure what was in-scope and what would purely be considered an upstream issue without any workarounds on our end. I should have checked `--emit=llvm-ir` and included that info in my original bug report - I've made a mental note to do that in the future.

I look forward to seeing if the migration to LLVM 15 will address this. In the meantime, I suppose this is what `

[2022-07-30 19:52] eddyb commented on #99923
New minimal repro, based on the now-hopefully-correct understanding ([stable compiles](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9de3ef6ca4a5fb842adfc63f7a01cccb) while [beta errors](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=6f9532fb53d292e66e1ba600226a0c2e)):
[code]

So the way this works, IIUC, is that the observable checks are comparable

[2022-07-30 19:54] nikic commented on #99960
Still fails to optimize on current LLVM: https://llvm.godbolt.org/z/n7x4e9TKP It does work if the first logical and is replaced with a bitwise and, so something is missing logical and handling.

[2022-07-30 19:55] workingjubilee commented on #99960
It's a regression, so I see some value in tracking it on our issue tracker, I just don't see much value in a specific test for it because for the optimized forms of the LLVMIR, I thiiiink the only thing we could really do is check that bb6 is _not_ present: https://godbolt.org/z/M9brfTcj9

[2022-07-30 19:57] oli-obk commented on #99923
FWIW, we frequently don't add future incompat lints for other breakage (fixing type system unsoundness ), but we crater it, inform the broken crate authors or submit patches, and do the merge early in a release cycle

[2022-07-30 20:01] QuineDot commented on #96996
It's not a no-op, as the implicit capturing is intersection based and `+ 'a [ + 'b ...]` is union-based.  [For example, the following compiles but errors if you uncomment the `+ 'future`:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d5a99670c465329a113e6ae309d578e6)
[code]

Adapted from [this forum post.](https://users.rust-lang.org/t/how-feature-type-alias-impl-trait-

[2022-07-30 20:04] RalfJung commented on #99923
All memory is untyped. Checks happen on *loads* as those are types. That explains what you are seeing.

The first transmute itself doesn't error because that does a ptr-typed store into the memory that backs the usize variable -- that's what a transmute is, internally (for values which the interpreter can represent as a `Scalar`).

Yeah we should definitely have cratered this one. As you said, we

[2022-07-30 20:08] RalfJung commented on #99923
I don't think this code does what you think it does... what even are the transmuted types here? This fails:
[code]

Your code actually ends up reading the first byte of `*r` as `u8`, not a pointer byte.

[2022-07-30 20:11] mqudsi commented on #99961
After the discussion in #99960, I feel like I should close this since it's just tracking the minutia of llvm optimizations (as we generate the same unoptimized llvm ir for both)?

[2022-07-30 20:13] workingjubilee commented on #99923
When I say "you need to do expectation management", I don't mean you need to change anything per se. I mean that when your interpreter fails to proceed with execution because it has no viable forward execution, it should be explaining this sort of thing that you are explaining here.

This isn't about whether or not the **RFC** requires the future compatibility lint. It's about how the foremost dev

[2022-07-30 20:17] RalfJung commented on #99923
@workingjubilee fair. I think we'll need help with that, since my expertise is figuring out the semantics of unsafe languages and implementing them in an interpreter, *not* managing user expectations or communicating interpreter faults to non-expert users in an automated way. I have no clue what I am doing for those parts. :D

[2022-07-30 20:17] nikic commented on #95323
This always worked with `-C opt-level=3` but failed (and still fails) with `-C opt-level=2`.

[2022-07-30 20:18] Nilstrieb commented on #95323
I think LLVM inlined the function anyways and that's why it's not reproducible anymore (even with `-Zbox-noalias=no`). Interestingly, if the function is made truly opaque my passing a function pointer instead, the assert is _not_ optimized away with `-Zbox-noalias=no`, but it is optimized away with `-Zbox-noalias=yes`. So this indeed seems like a case where `noalias` on box improves codegen.

[2022-07-30 20:21] nikic commented on #95323
@Nilstrieb Yes, LLVM infers that the return value is noalias in this case (noinline does not affect IPO inference passes).

[2022-07-30 20:32] obeis commented on #99910
@rustbot claim

[2022-07-30 20:35] mqudsi commented on #99961
After the discussion in #99960, I'm going to close this because it's just tracking the minutiae of LLVM's optimization changes between LLVM 10 and LLVM 11, and the penalty isn't that big of a deal (compared to generating the panic code). There are [some minor differences](https://godbolt.org/z/1n8Pj3T1x) in the unoptimized IR but I don't think they're responsible.

[2022-07-30 20:35] #99961 closed

[2022-07-30 20:59] crusader-mike commented on #99934
There is absolutely zero guarantee this will happen. Especially if OS is under load. You really can't rely on this kind of logic.

Yeah... This is another call for re-design.

In addition to everything said, also note that current implementation leaves state in underlying kernel object -- i.e. if dir enumeration stopped early, current position will be remembered and next time user uses this handle

[2022-07-30 21:14] RalfJung commented on #99923
https://github.com/rust-lang/rust/pull/99965 avoids the regression for beta, and exactly un-does the visible changes from https://github.com/rust-lang/rust/pull/97684.

However the same approach does not work for master, and I don't think we want to bring back support for disabling `enforce_number_no_provenance` into the interpreter permanently. Thus I am not sure what the path forward for master

[2022-07-30 21:18] ChrisDenton commented on #99934
The reason is to actually successfully delete more often. A problem that plagues Windows 7, 8 and early versions of Windows 10 is that a virus checker or other software may hold an open handle to a file, preventing actual deletion until they close the handle. From the point of view of `remove_dir_all` this means deleting the file was "successful" but when it comes to delete the parent directory it

[2022-07-30 21:33] workingjubilee commented on #93279
Correct.

It's actually somewhat well-known, unfortunately, that the optimization you want is often made invalid by the language semantics, including here:
- ["Short-circuit evaluation", Wikipedia](https://en.wikipedia.org/wiki/Short-circuit_evaluation#Possible_problems)
- ["The Select Story", Juneyoung Lee](https://aqjune.github.io/posts/2021-10-4.the-select-story.html)

I do not see an obvious w

[2022-07-30 21:38] workingjubilee commented on #98215
Hm. Is there any chance we could get the crate or reduced code that can demonstrate the problem? I can probably dig up some code that LLVM merges functions on from my own snippets, just want to be sure.

[2022-07-30 21:39] crusader-mike commented on #99934
yeah... typical suggested approach on old Windows is to "if it failed -- wait a bit and try again". Maybe it should be adopted in `std::fs` fallback execution path...

[2022-07-30 21:45] workingjubilee commented on #93372
I believe this has already been resolved, given that we are currently underway to LLVM 15?

[2022-07-30 22:14] saethlin commented on #99923
Just in case any passers-by such as myself are wondering why this is a bug report about a regression, as opposed to a crater finding: `icu` tests depend on other workspace members which are not packaged. So the `icu` crates just always encounter an error, and will never report a regression (`icu` is far from the only crate like this).

[2022-07-30 22:36] RalfJung commented on #99923
To be clear, my main intention here is to give us some time to figure out whether doing a future incompat lint here is feasible. If someone can propose and implement a reasonable strategy for that, we could make this a future incompat warning (but otherwise successful CTFE query) in 1.64, and then go back to making the CTFE query fail in 1.65 or 1.66.

If we can not come up with a future incompat

[2022-07-30 22:58] workingjubilee commented on #96487
Passing-by note / reason for editing very, very slightly: the problem is in fact calling out to libc's memcpy, and is not necessarily about the `@llvm.memcpy` intrinsic nor the assembly-language loop referred to as "memcpy". Also, it generates similar code on x86 too, though there LLVM has inlined the memcmp libcall as vector instructions:
https://godbolt.org/z/dcfcMPdKz

[2022-07-30 23:00] RalfJung commented on #93481
Miri has an option to print a warning every N basic blocks of execution. We could have something similar for CTFE, maybe, if we have a way of emitting diagnostics during CTFE without halting evaluation. (Having that would also be useful for https://github.com/rust-lang/rust/issues/99923. )

[2022-07-30 23:05] clarfonthey commented on #99842
A few comments. First: we should definitely elaborate on docs; cmath has a few guarantees for gamma that I think we can strengthen. I think it would be good to at least link the Wikipedia page for the gamma function, but we could also potentially add that for integers n, this is equivalent to (n-1)!, so that at a glance people understand the purpose of it.

Taking a look at the requirements C give

[2022-07-30 23:47] #99828 closed

[2022-07-30 23:47] #99934 closed

[2022-07-30 23:47] #99955 closed

[2022-07-30 23:56] ElectrifyPro opened #99970 "ICE: index out of bounds: the len is 53 but the index is 54"
### Code

I have this exact function in my code:

[code]

When I run `cargo check`, it prints the correct `mismatched types` compiler error.

However, when I made the function `async`:

[code]

`cargo check` produces, apparently, two internal errors, shown below.

I can provide additional information if needed.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><sum

[2022-07-30 23:59] c410-f3r opened #99971 "Inconsistent `unused_qualifications` lint"
For `alloc` imports, `unused_qualifications` shouldn't be triggered.

[code]

As a reference, this "does-not-trigger" behaviour already happens with `core` imports.

[code]

The lint becomes a problem when you are dealing with optional `no_std` code and imports `alloc` regardless of a `std` feature.

[2022-07-31 00:11] QuineDot commented on #71668
Isn't the first step to simply stop warning on `unsafe` in `unsafe`, or at a minimum those that contain unsafe operations?

[2022-07-31 00:24] workingjubilee commented on #96472
We could offer a way to suppress the warning, but then users would not request that we canonicalize in rustc the target features LLVM currently recognizes and Rust does not, as they would simply turn off the warning instead. I understand it can be quite annoying, but the reason to have these canonicalizing mappings is not just an abstract decision about supporting multiple codegen backends. It is

[2022-07-31 00:53] Lokathor commented on #71668
Ah, Yes. My previous long comment was based on the (apparently very wrong!) notion that we'd stopped doing this ages ago. I thought that had already happened.

We should stop doing that *immediately* (in all editions), wait some number of versions (6? however many), and then warn in the opposite direction (again, in all directions). Then a future edition would be well placed to potentially deny-by

[2022-07-31 01:03] RalfJung commented on #99838
`drop_in_place` takes a raw pointer, so it could very well be the place where the packed struct alignment trouble is handled. And IMO it'd be a much more natural place than doing this by transforming caller MIR.

[2022-07-31 01:10] eddyb commented on #93481
You should be able to emit arbitrary diagnostics from *at least* any part of the compiler that has access to `Session`, since diagnostics are just methods on that (you can do it with even less but since you have a `TyCtxt` that should be enough).

Though I am a bit confused since *I thought* miri already emitted lint warnings and whatnot?
Are they *always* propagated up using `?` then emitted at a

[2022-07-31 01:14] RalfJung commented on #93481
Are they always propagated up using ? then emitted at a central point?

Do you mean the core interpreter, or Miri-the-tool?

Miri-the-tool has some support for non-halting diagnostics. But the core interpreter never emits a diagnostic, it just raises errors and then it is up to whoever created the `InterpCx` to handle the resulting `InterpResult` and do suitable error reporting.

The interpreter r

[2022-07-31 01:20] JakobDegen commented on #99838
@RalfJung I don't understand the suggestion. The example above never calls `drop_in_place` for a packed struct. The offending drop in the MIR in the example above is `drop(m.1._a)`. The type of that place is `U16` - but if `drop_in_place::<U16>()` were to be responsible for moving, then we would need to emit a move in literally every drop shim for a non-trivial alignment type.

[2022-07-31 02:14] #99836 closed

[2022-07-31 02:46] NEUDitao commented on #94905
Since @camelid hasn't reported on this in a while, can I take a stab at it?

[2022-07-31 03:30] HTG-YT opened #99975 "Internal Compiler Error: Broken MIR in Item(...) With `let_else` Usage"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-31 03:31] 5225225 commented on #99975
Looks like another instance of https://github.com/rust-lang/rust/issues/99852 ? ICE messages look the same.

[2022-07-31 03:34] compiler-errors commented on #99970
This is fixed by #99928

[2022-07-31 03:34] HTG-YT commented on #99975
Could be. Looks like a general issue with `let_chains` and `let_else` in general. My instance ICE'd on `let_else`:

[code]

[2022-07-31 03:47] eddyb commented on #93481
All diagnostics involving HIR/MIR/type-system/trait-system/etc. come from inside queries, so that's all good.

[This is an example of emitting a MIR lint](https://github.com/rust-lang/rust/blob/2614e437f54ebf98b8336d35af0a5821990eeac9/compiler/rustc_mir_transform/src/check_packed_ref.rs#L79-L103) (with significant metadata from `SourceInfo`).
Once `.build(...)` is done on that lint-specific thing,

[2022-07-31 05:05] sffc commented on #99923
I wonder if Rust should define UB on each edition (2018, 2021, ...), and change the definition according to the edition, in order to give maintainers an opportunity to re-evaluate their `unsafe` code according to the new definition of UB

[2022-07-31 05:34] eddyb commented on #93481
For "running too long", we can at least narrow the "loopy frames" if we:
1. have, at the `InterpCx` level (miri-the-tool's warning sounds a bit like this?):
    * `now`, as deterministic "timestamp" - counting BBs/statements(?)/"steps"(??)
    * `last_notify` for when we last warned (or "notified") the user
    * notify on `now - last_notify > notify_threshold`
      (updating `last_notify = now`

[2022-07-31 07:25] eddyb commented on #93481
Oh another last-minute idea (should maybe get own issue?): so right now Ctrl+C just kills `rustc`, right?
What if we had a way to trigger some slow path in the query system *without* slowing down the normal fast path?

I guess it would have to go on the "cache miss, time to run provider" codepath... oh yeah we could make the provider `fn` pointers `AtomicPtr`s instead, pray and hope relaxed loads

[2022-07-31 07:32] Lokathor commented on #90957
update: seems that `raw` is already accepted as an option to naked function inline assembly, so the docs just need to be fixed whenever.

[2022-07-31 10:08] bjorn3 opened #99978 "Don't export no_mangle symbols from proc macros"
https://github.com/rust-lang/rust/pull/99944 will hide all non-no_mangle symbols, but given that proc macros will only be loaded by rustc, we can hide all symbols except the specific ones that rustc needs.

[2022-07-31 10:44] #99135 closed

[2022-07-31 11:35] eddyb commented on #73917
Duplicating from my comment at https://github.com/rust-lang/rust/pull/99944#discussion_r933949542:
[code]
The idea being that these `LinkGuard` `static`s:
* form a DAG (reifying the `dylib`s in the static crate dep graph)
* can be used with e.g. global constructors to keep them alive, worst case
  * that is, if some platform lacks any other way to make `#[used]` and similar features work (not sure

[2022-07-31 11:42] fmease commented on #99952
@rustbot label T-rustdoc C-enhancement

[2022-07-31 12:32] xfix opened #99981 "Stringification of pub(in crate) visibility removes `in`"
### Code

I tried this code:

[code]

I expected to see this happen: it to print `pub(in crate)`.

Instead, this happened: it prints `pub(crate)`.

### Version it worked on

It most recently worked on: 1.62.1

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrace

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

@rustbot modify labels: +regression-from-

[2022-07-31 12:33] RalfJung commented on #99923
No, editions cannot change language semantics. They can only change syntactical things very early in the pipeline.

[2022-07-31 13:10] matthiaskrgr commented on #96857
This now looks like this
[code]

[2022-07-31 13:26] rust-highfive opened #99982 "`miri` no longer builds after rust-lang/rust#99553"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#99553, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @ChrisDenton, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-31 13:39] RalfJung commented on #99982
Looks like the `cfg(miri)` codepath doesn't build:
[code]

[2022-07-31 13:39] ChrisDenton commented on #99982
Yeah, sorry was just about to say. The `cfg(miri)` bits got out of sync with the code after edits. Fixing...

[2022-07-31 13:50] K900 opened #99985 "Confusing diagnostic when typoing `Wrapper(T): Wrapper<T>` in a function signature"
Given the following code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=57d52025a7f3f79dae1ff241d9e7a243

[code]

The current output is:

[code]

Ideally the output should look like:

Something like "did you mean `Wrapper<Foo>`?"

CC @estebank

[2022-07-31 13:51] K900 commented on #99985
Originally encountered by a user in #rust:matrix.org, using Axum's `axum::extract::Form`.

[2022-07-31 15:27] petrochenkov commented on #99721
There's a similar issue that *can* be fixed.

You link a staticlib (written in C, or Rust, or whatever) to a binary, and you want to preserve some symbol from it.

[code]

Unfortunately, `#[used]` attributes do not work on foreign items, but it probably should.
(It should also work on (foreign) functions too, but this is what https://github.com/rust-lang/rust/issues/94348 is about.)

If it worked

[2022-07-31 15:31] Manishearth commented on #99923
@sffc besides what Ralf said, this doesn't really solve anything; UB right now is _not  pinned down_, and if we wanted to sit down and define it it's marginally less work than finishing the full work of defining what is and isn't UB for Rust once and for all, except now we have to do it twice.

Currently the answer to "is this UB" for many things in Rust is "we can't say for sure".

Once Rust _has

[2022-07-31 16:03] Manishearth commented on #99923
So this is interesting to me, because I don't see _how else_ unsafe writers are supposed to operate, and I'm curious what the UCG expected of us.

I think a lot of this boils down to what @workingjubilee calls "expectation management". Currently there is no communication from the UCG on how we should be writing unsafe code whilst UCG is still working on defining it, and no place for us to keep app

[2022-07-31 16:06] crumblingstatue commented on #15701
This feature would be handy for enabling/allowing lints for individual expressions, like so

[code]

Although this doesn't seem to be working right now. The lint is still triggered.

[2022-07-31 16:07] Manishearth commented on #99923
Despite being the one to file this issue, I'm not actually convinced that undoing it is a good call, especially since it seems rather tricky in this case. I think _ideally_ what would have happened is that when miri _first_ started erroring on this kind of thing (ages ago), we warned instead in const contexts; and we waited long enough for the kinks to be worked out before turning it into a hard e

[2022-07-31 16:11] RalfJung commented on #99923
FWIW the UCG has not looked much at const UB, it is pretty much exclusively concerned with runtime UB. The way CTFE works right now there is basically no risk of accidental misbehavior due to const UB, the worst that can happen is unexpected compilation failures. So the risk profile is quite different.

[2022-07-31 16:14] Manishearth commented on #99923
Hmm, interesting, I think that's all the more reason for the various groups to come up with a consistent bit of public messaging on all of this.

[2022-07-31 16:27] mati865 commented on #99931
There is also unstable [`absolute`](https://doc.rust-lang.org/std/path/fn.absolute.html) function.

[2022-07-31 16:31] clarfonthey commented on #67792
Something worth doing at some point: `#[marker]` should probably imply `#[const_trait]`.

[2022-07-31 17:35] jyn514 opened #99989 "Download a pre-compiled bootstrap from CI"
Currently, we unconditionally recompile bootstrap on all builds, like libstd. In most cases, this is unnecessary: bootstrap is rarely changed and it's confusing that we have to build a whole rust program before processing `x.py --help`. Additionally, it means that when we add the new shell script entrypoints, we'd have to replicate all of bootstrap.py's logic for finding config.toml and the build

[2022-07-31 17:36] dvtkrlbs commented on #99989
@rustbot claim

[2022-07-31 17:55] camelid commented on #94905
Hi, sorry, I didn't see these previous messages. I did attempt this but got stuck and didn't have time to figure out the right approach. Feel free to try it!

[2022-07-31 18:10] LeSeulArtichaut commented on #71668
It's already the case if the `unsafe_op_in_unsafe_fn` lint is `warn` or greater. This doesn't yield any warnings:

[code]

In other words, we consider that an unsafe block is "needed" if the absence of said unsafe block would lead to at least a warning.

[2022-07-31 18:14] camelid commented on #89554
I like your suggestion!

[2022-07-31 18:16] arieluy commented on #99882
@rustbot claim

[2022-07-31 18:20] jyn514 commented on #99870
Duplicate of https://github.com/rust-lang/rust/issues/81311

[2022-07-31 18:20] #99870 closed

[2022-07-31 18:28] Dylan-DPC commented on #96341
Completed by #96341

[2022-07-31 18:28] #96341 closed

[2022-07-31 18:35] compiler-errors opened #99990 "Macro spans cause erroneous suggestions"
Macro spans cause suggestions that, once applied, break other code.

[code]

Suggests:
[code]

Once applied, causes this error:
[code]

This has some considerations:
1. We could suppress this suggestion if it comes from a macro, which "fixes" this issue, but ideally we'd be suggesting "`Wrapper(m!())`" in the first case.
2. This is a general issue -- while we could fix it in this one case, that's

[2022-07-31 18:45] Aiden2207 opened #99991 "Rustc fails to infer appropriately general `Fn*` trait implementation in the face of complex HRTBs with GATs"
I tried this code:

[code]

I expected to see this happen: Code compiles without errors.

Instead, this happened:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a37e7a432f252b749abc561ead74e4f7)

The compiler needs closures to be explicitly coerced into a general enough type for the provided trait bounds to work. It's not the end of the world, because

[2022-07-31 19:42] compiler-errors commented on #99991
This doesn't have to do with GATs really:

[code]

[2022-07-31 19:46] aliemjay commented on #99991
This is a known bug with closures where we fail to infer if the lifetime in an argument type is higher-ranked.

Minmized further to make it independent of GAT:
[code]

@rustbot label T-types A-closures A-lifetimes

[2022-07-31 19:51] locriacyber opened #99995 "cargo install trunk failed at building time"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

The above log already have backtrace.

[2022-07-31 19:51] locriacyber opened #99996 "`cargo install trunk` failed at building `time`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

The above log already have backtrace.

[2022-07-31 19:51] locriacyber commented on #99995
duplicate

[2022-07-31 19:51] #99995 closed

[2022-07-31 20:17] lopopolo opened #99997 "`OneSidedRange` should be an `unsafe trait`"
I tried this code:

[code]

I expected to see this happen: Compiler error because this code did not acknowledge the invariants of `OneSidedRange` without an `unsafe` keyword.

Instead, this happened:

[code]

### Meta

Nightly channel (playground)
Build using the Nightly version: 1.64.0-nightly

(2022-07-30 0f4bcadb46006bc484da)

<details><summary>Backtrace</summary>
<p>

The backtrace starts from

[2022-07-31 20:25] Nilstrieb commented on #99852
@rustbot claim

[2022-07-31 20:40] Tooniis commented on #38206
Was this removed at some point? because
[code]

[code]

[2022-07-31 20:43] ChrisDenton commented on #38206
It was stabilized as `--print link-args`

[2022-07-31 21:00] Mark-Simulacrum commented on #99997
In general, traits that have some expected behavior aren't unsafe -- and being able to cause asserts as a result is also fine. For example, BTreeMap will do something similar with a bad implementation of Ord, if it happens to detect it.

So I think this isn't a bug unless there's unsafe code relying on the correct implementation for soundness.

[2022-07-31 21:15] lopopolo commented on #99997
This seems to at least be a bit of a footgun in that the call to `unreachable!` has a load bearing panic and can't be replaced with `std::hint::unreachable_unchecked`.

[2022-07-31 21:16] ehuss commented on #99996
Thanks for the report! Closing as a duplicate of https://github.com/rust-lang/rust/issues/99261. This should be fixed by https://github.com/rust-lang/rust/pull/99263 and should be fixed in the latest nightly.

[2022-07-31 21:16] #99996 closed

[2022-07-31 21:53] RalfJung commented on #71668
Yeah that was the consensus when the RFC got passed.

If there is consensus for that it should be easy to always remove the warning.

[2022-07-31 21:58] RalfJung opened #99999 "Happy birthday, issue tracker. :)"
Not an issue, just a nice number. :D

[2022-07-31 21:59] Mark-Simulacrum commented on #99997
The call to unreachable!() can be replaced with a more informative panic message, that would be a good change to make. However, in general, it's not the case that you can replace unreachable!() with UB -- it's not that uncommon for it to mean "this should be unreachable if all is well", and a bad trait impl that's not satisfying its contract is a relatively reasonable thing to not consider when ca

[2022-07-31 22:01] Mathspy opened #100000 "Rust is Beautiful"
:heart: :crab: :heart:

100,000 issues filled with love, compassion and a wholesome community. Thank you, Rust community, for being one of the most, if not straight out the most, welcoming programming communities out there. Thank you, Rust teams, for the tireless hours you spend every day on every aspect of this project. Thank you to the Rust team alumni for the many hours spent growing a plant an

[2022-07-31 22:01] chop0 commented on #100000
shush

[2022-07-31 22:02] 5225225 commented on #99999
I joked about how issue 100000 was going to be a mutable-noalias regression.

It wasn't. That would have been rather funny though :)

[2022-07-31 22:03] Nilstrieb commented on #100000
❤️ 🦀 ❤️

[2022-07-31 22:07] RalfJung commented on #99999
:joy: it would have been on-brand, yeah. ;)

Anyway https://github.com/rust-lang/rust/issues/100000 is so much better than this one, now I feel bad for being so unimaginative.^^

[2022-07-31 22:10] Mathspy commented on #99999
You’re not, you’re awesome <3 You literally have papers about Rust, you’re like The Keeper of the Unsafe. You’re awesome c:

[2022-07-31 22:12] NEUDitao commented on #94905
@rustbot claim

[2022-07-31 22:15] jhpratt opened #100001 "[rustdoc] Hide impl block containing only private items by default"
[Zulip thread where this was discussed](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/empty.20impl.20block/near/291286595)

cc @GuillaumeGomez

@rustbot label +A-docs +A-rustdoc-ui +C-enhancement +T-rustdoc

This is technically a regression, but it doesn't feel appropriate to label it as such.

[2022-07-31 22:22] aliemjay opened #100002 "type annotation of closure args breaks borrow checking"
This example compiles as expected:
[code]
but when a type annotation is added to the closure argument, it fails:
[code]

## Workaround
Sometimes type annotation is necessary when type inference fails. :
[code]
In this case you can use this ugly hack to annotate the type in the closure body:
[code]

## But why?
When rustc encounters such closure, It has to pick up one of these two types for the clo

[2022-07-31 22:23] aliemjay commented on #100002
I have written this be referenced when addressing the breakages of #98835. Because I found most breakages were users relying on #98835 as a workaround for this limitation with closures.

@rustbot label C-bug T-types A-closures A-lifetimes

[2022-07-31 22:29] est31 commented on #99989
I'm not sure I agree. According to `git log --pretty=format:"%ad" --author "bors@rust-lang.org" src/bootstrap/ | rg 2022 | wc -l` there have been 73 PRs merged this year that changed something in bootstrap. If we assume 211 days since Jan 1, there has been a change every 2.9 days. Compare that to 16 updates of src/llvm-project in 2022 (obtained with a similar command, but bors commits don't show u

[2022-07-31 22:34] RossSmyth commented on #100000
❤️ 🦀 ❤️

[2022-07-31 22:38] dconnolly commented on #100000
🦀🧡🦀

[2022-07-31 22:46] Piturnah commented on #100000
💚🦀💚

<3 Rust

[2022-07-31 22:47] jyn514 commented on #99989
@est31 I'd guess probably a good half of those are related to https://github.com/rust-lang/rust/issues/94829. We should be seeing less churn once that gets closed out (i.e. fewer and larger changes).

A fair number of the rest are related to https://github.com/rust-lang/rust/issues/44293, which has also been fixed and won't have more PRs in the future.

Bootstrap is definitely changing more than L

[2022-07-31 22:52] Mark-Simulacrum commented on #99989
It's also true that we could tune the divide here over time - for example, splitting bootstrap into configuration+ flag parsing and the inner bits which actually run things.

Ultimately, the primary goal with downloading it is to reduce the amount of non-Rust code we maintain, and we need a pretty thin shim to parse flags, config, and download bootstrap compiler to proceed from there.

But yes, we

[2022-07-31 22:53] jyn514 commented on #100001
Here is an example of a block that should be hidden when `--document-private-items` is not passed:
[code]

[2022-08-01 00:08] nagisa commented on #99931
Duplicate of https://github.com/rust-lang/rust/issues/59117

[2022-08-01 00:08] #99931 closed

[2022-08-01 00:08] LoganDark commented on #100000
UwU

[2022-08-01 00:21] nagisa commented on #99749
This is probably a duplicate of #84161

[2022-08-01 00:22] nagisa commented on #84161
This should not have been closed.

[2022-08-01 00:47] jyn514 commented on #98248
going to close this, don't have ideas on how to make non-path primitives work :(

[2022-08-01 00:47] #98248 closed

[2022-08-01 00:47] lovelyyfiaaa commented on #100000
I love Rust soo much!!! Happy issuee #100000 everyonee!!! 😊

[2022-08-01 00:49] ChrisDenton commented on #44391
To be clear the TLS isn't duplicated, it simply doesn't exist in `b.exe`.

On Windows, native TLS is scoped to the module (where "module" means either a dll or exe file). So when the dylib is built, the TLS value is in that scope. This would be fine in a normal dll file but Rust's dylibs are special in that they're kind of a weird cross between an actual dll and a static lib. So when compiling an

[2022-08-01 00:54] wemgl commented on #100000
❤️🦀❤️

[2022-08-01 01:06] kcubeterm commented on #100000
Love you Rust

[2022-08-01 01:11] #99006 closed

[2022-08-01 01:26] ehuss opened #100009 "link_ordinal attribute position is not restricted"
The `link_ordinal` attribute currently does not appear to have any restrictions on where it is located.

The following code compiles without warning or error:

[code]

I expected to see this happen: An error when `link_ordinal` is placed in the wrong position.

Instead, this happened: `link_ordinal` is ignored in wrong positions.

The code in [`CheckAttrVisitor`](https://github.com/ehuss/rust/blob

[2022-08-01 01:27] ehuss commented on #58713
See #100009, I think it would be good to fix before stabilized.

[2022-08-01 01:46] euclio commented on #92499
@rustbot label A-diagnostics

[2022-08-01 02:03] Rageking8 commented on #99999
Now let's get 70k stars 🤩

[2022-08-01 02:22] manaskarekar commented on #100000
This is one of the most welcoming communities I've seen, and rust itself is a joy to behold. Here's to many more!

[2022-08-01 02:30] jackos commented on #100000
It's my favourite community by a long way, I never even thought about making contributions to official language repo's before rust, I feel very welcomed in this community 😀

[2022-08-01 02:33] moksh-mahajan commented on #100000
❤️🦀❤️

[2022-08-01 02:33] jyn514 commented on #90672
I looked into this and it was trickier than expected. If we build rustfmt unconditionally, it means building the whole compiler on each `x.py fmt`, which is more of a compile time hit than I'm willing to accept, but if we only build it on changes to rustfmt we have to be considerably smarter about formatting than we are today ...

@Mark-Simulacrum at one point suggested having ~everything be downl

[2022-08-01 02:44] crlf0710 commented on #99981
Similar effect can already be observed on stable too
[code]
prints `pub(self)` already. But it is indeed a (small?) behavior change in this beta for the `in crate` case.

[2022-08-01 02:45] jyn514 commented on #76419
We'll be able to side-step this altogether if we download rustfmt on HEAD from CI like I suggested in https://github.com/rust-lang/rust/issues/90672#issuecomment-1200618507 (i.e. `initial_rustfmt` will go away completely).

[2022-08-01 02:58] MomoLangenstein commented on #100000
❤️🦀❤️

[2022-08-01 03:01] jyn514 commented on #95518
@antoyo what are your thoughts on running test.sh in-tree? I ran `prepare.sh` and `test.sh` locally - looks like there's not too much to modify.
- use the sysroot built from source instead of `rust-toolchain` (not too hard, I can help)
- install hyperfine to the `build/` directory instead of globally (very easy; we can do this only when `RUSTC_BOOTSTRAP` is set to avoid breaking any of your workfl

[2022-08-01 03:35] lopopolo commented on #99653
I think this was fixed in https://github.com/rust-lang/rust/pull/99903.

[2022-08-01 03:37] #99653 closed

[2022-08-01 03:38] shabane commented on #100000
now I want to learn `rust`

[2022-08-01 03:45] NateLing commented on #99999
happy birthday. keep hungry ,keep foolish

[2022-08-01 03:55] zonemeen commented on #100000
❤️🦀❤️

[2022-08-01 03:58] #99982 closed

[2022-08-01 04:00] crusader-mike commented on #99934
@ChrisDenton I noticed an anomaly: if I delete directory in question and run cargo build again -- it fails with exactly same error (even though directory doesn't exist anymore). Looks like some sort of caching mechanism is in play -- do you know anything about it?

[2022-08-01 04:06] chenerg commented on #100000
❤️🦀❤️

[2022-08-01 04:20] Cyborus04 commented on #100000
❤️🦀❤️

[2022-08-01 04:39] ethe opened #100013 "Unexpected higher-ranked lifetime error in GAT usage"
I tried this code:

[code]

I expected to see this happen: both IterCaller::call_1  and IterCaller::call_2 pass the compiling

Instead, this happened:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2022-08-01 05:35] faern commented on #100000
:heart::crab::heart:

[2022-08-01 05:41] fffzlfk commented on #100000
❤️🦀❤️

[2022-08-01 05:46] Rageking8 commented on #100000
❤️🦀❤️

[2022-08-01 06:02] Gary50613 commented on #100000
❤️🦀❤️

[2022-08-01 06:11] amesy commented on #100000
❤️🦀❤️

[2022-08-01 06:13] LePichu commented on #100000
❤️ 🦀 ❤️

[2022-08-01 06:28] TieWay59 commented on #100000
❤️ 🦀 ❤️ Happy to work with such brilliant language.

[2022-08-01 06:39] kawadakk opened #100014 "`slice::Chunks[Exact]Mut` are no longer `Send + Sync` after #94247"
I tried this code ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d62cd17f5b0ab5dc500c3195caccaeaa)):

[code]

I expected to see this happen: Successful compilation (as it does in 1.62.1)

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

The problem doesn't occur with `nightly-2022-07-27` (pre-#94247).

[2022-08-01 06:42] lencx commented on #100000
❤️ 🦀 ❤️

[2022-08-01 06:44] #59998 closed

[2022-08-01 06:44] #99909 closed

[2022-08-01 06:55] Igigog commented on #100000
❤️ 🦀 ❤️

[2022-08-01 07:26] maximousblk commented on #100000
❤️ 🦀 ❤️

[2022-08-01 07:38] marc2332 commented on #100000
![imagen](https://user-images.githubusercontent.com/38158676/182097240-eb6bd22f-8d75-432f-96ef-d2ae3bdd0144.png)
I Love Rust  ❤️ 🦀 ❤️

[2022-08-01 07:45] ms747 opened #100015 "Rustc panics when piped into other commands"
`rustc` panics when its output is being piped into other commands.

I tried this code:

[code]

### Meta
Bug exists on both stable and nightly builds.

[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-08-01 08:01] chenyukang commented on #100009
@rustbot claim

[2022-08-01 08:03] floriantz commented on #100000
❤️ 🦀 🦀 ❤️

[2022-08-01 08:13] TheBestTvarynka commented on #100000
![image](https://user-images.githubusercontent.com/43034350/182103910-3aa6e2ac-305e-4e2a-8131-6a82c8c66494.png)
❤️ 🦀 ❤️

[2022-08-01 08:21] frengor commented on #100000
❤️🦀❤️

[2022-08-01 08:23] myname1111 commented on #100000
❤️🦀❤️

[2022-08-01 08:31] crlf0710 commented on #88580
I feel this specific code snippet can/should be integrated with `inline_const` feature after it's stablized, keeping major work on the rustc side instead of on llvm side.

cc #76001

[2022-08-01 09:04] Jake-Shadle commented on #93372
Yes, I can compile it on stable and latest nightly without issue now so I'm going to close this.

[2022-08-01 09:08] conradludgate commented on #99940
It was suggested that this might be due to the generic `Flip<T>`, but I get the same error when non-generic:
[code]

[2022-08-01 09:13] Garker commented on #100000
❤️🦀❤️

[2022-08-01 09:14] Andy-Python-Programmer commented on #100000
<3 rust. Lets all celebrate this moment by rewriting one piece of software in rust :trollface:.

🚀 Blazingly Fast Gang 🚀

[2022-08-01 09:17] MarlzRana commented on #100000
❤️

[2022-08-01 09:20] petrochenkov commented on #99981
I would expect to see this issue in 2020, but not now when we are collecting tokens in (almost) all cases instead of converting them from AST.
Apparently for visibilities they are collected incorrectly for some reason.
cc @Aaron1011 (in case you have time for this)

[2022-08-01 09:34] JSKitty commented on #100000
❤️🦀❤️

[2022-08-01 09:45] Alishahidi commented on #100000
Nice 👍🙂 ❤️❤️

[2022-08-01 10:05] jabbalaci commented on #99999
The largest palindrome below 100K :)

[2022-08-01 10:10] thecaralice commented on #100000
♥️🦀♥️ i love this community

[2022-08-01 10:15] SchrodingerZhu commented on #100000
♥️🦀♥️

[2022-08-01 10:25] iamonuwa commented on #100000
♥️🦀♥️

[2022-08-01 10:34] devtomio commented on #100000
♥️🦀♥️ rust🚀

[2022-08-01 10:40] mindstorm38 commented on #100000
🦀

[2022-08-01 10:43] BlueskyFR commented on #100000
🦀🦀🦀 🥳🎉

[2022-08-01 10:48] Alonely0 commented on #100000
❤️🦀❤️

[2022-08-01 10:58] AZProductions commented on #100000
❤🦀❤

[2022-08-01 11:00] EliasFleckenstein03 commented on #100000
:heart::crab::heart:

[2022-08-01 11:04] erwanor commented on #100000
❤️🦀❤️

❤️🦀❤️

❤️🦀❤️

❤️🦀❤️

[2022-08-01 11:09] CallumIO commented on #99648
@rustbot claim

[2022-08-01 11:15] supergnaw commented on #100000
I started picking up rust ironically because of memes and shitposts I was seeing, and now I unironically love it.

[2022-08-01 11:18] TahaTesser commented on #100000
❤️ 🦀 ❤️

[2022-08-01 11:23] itsTyrion commented on #100000
❤️ 🦀 ❤️
https://i.giphy.com/media/2dK0W3oUksQk0Xz8OK/giphy.webp

[2022-08-01 11:26] ismailcherri commented on #100000
❤️🦀❤️
I really love the community.. Keep it up

[2022-08-01 11:35] Mark-Simulacrum commented on #90672
I suspect that in many cases this wouldn't be true? rustfmt doesn't dynamically link against the locally compiled code (and probably that's not really possible), so any changes in rustc wouldn't be picked up by rustfmt.

Changes to rustfmt code that rely on rustc would cause a recompile and reformat, but at that point you might as well just build rustfmt (via x.py) and adjust config.toml to point

[2022-08-01 11:37] RDambrosio016 commented on #100000
❤️🦀 crab

[2022-08-01 11:38] FedericoSchonborn commented on #100000
❤🦀❤

[2022-08-01 11:43] Restioson commented on #100000
♥ 🦀 ♥

[2022-08-01 11:48] pwoolcoc commented on #100000
❤️ 🦀 ❤️

[2022-08-01 11:51] zitsen commented on #100000
:heart: :crab: :heart:

[2022-08-01 12:04] MarlzRana commented on #100000
❤️🦀❤️

[2022-08-01 12:13] langzime commented on #100000
❤️🦀❤️

[2022-08-01 12:13] andjo403 commented on #98468
the examples in this issue seems to be fixed by the Enabling of MIR inlining in https://github.com/rust-lang/rust/pull/91743
see generated code in https://godbolt.org/z/vYr3ab96Y with and without MIR inlining enabled.

[2022-08-01 12:13] ChrisDenton commented on #100015
The issue is that `grep`, `rg` and `echo` without arguments will exit without reading input and some shells are aggressive about closing the pipe immediately afterward.

Consider these commands:

[code]

Here we see that grep doesn't

The fix for rustc is to either:

a) not use the `println!` macro (which panics on all errors)
b) change the `println!` macro to ignore pipe closing errors (this woul

[2022-08-01 12:16] cpea2506 commented on #100000
❤️🦀❤️ Yay!

[2022-08-01 12:18] aviramha commented on #100000
🤟  🦀 🤟

[2022-08-01 12:19] nappa85 commented on #100000
![image](https://user-images.githubusercontent.com/7566389/182146096-fe8275e3-6315-4869-8815-09d86c443c41.png)

[2022-08-01 12:28] lcnr commented on #100014
[code]

[2022-08-01 12:29] aliemjay commented on #94483
another regression I stumbled on: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=56db000bf6de1f611185c769fe098d5e
[code]

[2022-08-01 12:30] baneetparmar commented on #100000
❤️🦀❤️

[2022-08-01 12:32] ignazio-castrogiovanni commented on #100000
❤️🦀❤️🦀❤️

[2022-08-01 12:39] cnuebred commented on #100000
❤️🦀❤️

[2022-08-01 12:39] itohatweb commented on #100000
❤️🦀❤️

[2022-08-01 12:40] jyn514 commented on #90672
Oh I see, you're worried about changes to rustc_parser or lexer impacting rustfmt. We could have some logic to rebuild from source if those crates change (no need to rebuild if any part of compiler/ changed IMO).

That requires you to
a) know what's going wrong (i.e. that there's even a possibility you could have broken rustfmt semantically)
b) know how to configure initial_rustfmt
c) mess with a

[2022-08-01 12:42] zofoc commented on #99749
"This is a tracking issue for the RFC "2841" (https://github.com/rust-lang/rfcs/pull/2841).
The feature gate for the issue is #![feature(export_executable_symbols)]. "  and "Add the ability to export symbols from executables, not just dylibs, via a new compiler flag: -C export-executable-symbols"" , But none of them worked

[2022-08-01 12:43] SummonSteve commented on #100000
💚🦀💚

[2022-08-01 12:44] Monadic-Cat commented on #100000
:green_heart:

[2022-08-01 12:49] TigrRooT commented on #100000
<3

[2022-08-01 12:50] Filip-Tomasko commented on #100000
❤️🔥💜

[2022-08-01 12:54] Mark-Simulacrum commented on #90672
Parser and lexer are part of compiler/, and I'd rather not maintain a mapping of interesting crates -- we can't readily extract it from rustfmt due to it pulling from sysroot rather than declaring in Cargo.toml. The list is somewhat longer than just those two: https://github.com/rust-lang/rust/blob/1f5d8d49eb6111931091f700d07518cd2b80bc18/src/tools/rustfmt/src/lib.rs#L17-L25

I think, in general,

[2022-08-01 12:56] mon-jai commented on #100000
❤️🦀❤️

[2022-08-01 12:58] manank20 commented on #100000
❤️🦀❤️

[2022-08-01 12:59] jyn514 commented on #90672
Makes sense to me :)

Mentoring instructions: I believe `test rustfmt` already does the right thing, so this just needs someone to
- Add --bless support to `x test rustfmt`; i.e. if any of the tests fail, build rustfmt and then use it to format itself.
- Make `x fmt rustfmt` give a hard error that suggests using `test --bless` instead.

[2022-08-01 13:02] Mark-Simulacrum commented on #90672
I don't think `x.py test src/tools/rustfmt` reformats the full Rust tree, unless I missed something -- it might have a rustfmt-internal check that reformats rustfmt only, but if that makes sense a x.py fmt w/ the newly built rustfmt probably also does.

I don't think we should make `x.py fmt rustfmt` hard error; it might print a warning but no more. In 99% of cases it's a perfectly reasonable thin

[2022-08-01 13:08] jyn514 commented on #90672
Currently we don't format any code in subtrees (there's some config in `rustfmt.toml`) by the rationale they may be using a different rustfmt than the rest of tree. Either we should start doing that or give an error IMO; it's very confusing to have it silently do nothing.

I don't think we should start formatting with a two different rustfmts, that seems likely to break. I guess this is a question

[2022-08-01 13:16] Mark-Simulacrum commented on #90672
OK, sure, that makes sense -- we definitely shouldn't break `x.py fmt` from working; I don't mind us giving an error for explicitly trying to format a path that we know to be ignored (like any subtree), though.

[2022-08-01 13:20] awh6al commented on #100000
Rust is the future

[2022-08-01 13:23] saethlin commented on #100014
@rustbot claim

[2022-08-01 13:30] jharrilim commented on #100000
🧡🦀🧡

[2022-08-01 13:35] Cyborus04 commented on #100000
Proposition to pin?

[2022-08-01 13:41] danielyrovas commented on #100000
🦀 C 🦀 R 🦀 A 🦀 B 🦀  🦀 R 🦀 A 🦀 V 🦀 E 🦀

[2022-08-01 13:42] JasonkayZK commented on #100000
❤️ 🦀 ❤️

[2022-08-01 13:50] Stargateur commented on #95027
That a better doc that real doc

[2022-08-01 13:51] seanchen1991 commented on #100000
You beautifully summed up my sentiments of the Rust language and its community: come for the language (or sometimes the memes 😉), stay for the community ❤️

[2022-08-01 13:55] NoComment1105 commented on #100000
❤️ 🦀 ❤️

[2022-08-01 14:02] leocth commented on #100000
:heart::crab::heart: May the funny crab lang live long and prosper

[2022-08-01 14:04] abrowne2 commented on #100000
❤️ 🦀 ❤️

[2022-08-01 14:06] nox commented on #99999
![e4b48373c6bc74d4e61ce78042d61c5dc186f3fcr1-390-290_hq](https://user-images.githubusercontent.com/123095/182165997-70388469-031d-46e7-8fd0-0bd0a519945e.gif)

[2022-08-01 14:06] nox commented on #100000
![e4b48373c6bc74d4e61ce78042d61c5dc186f3fcr1-390-290_hq](https://user-images.githubusercontent.com/123095/182166076-20de19f4-3592-49d7-a40a-f466c6c58d00.gif)

[2022-08-01 14:09] akabinds commented on #100000
❤️🦀❤️
rust for life

[2022-08-01 14:13] ehuss commented on #100015
Thanks for the report!  Closing as a duplicate of #98700.

[2022-08-01 14:13] #100015 closed

[2022-08-01 14:20] PleahMaCaka commented on #100000
:heart::crab::heart:

[2022-08-01 14:26] gemone commented on #100000
:heart: :crab: :heart:

[2022-08-01 14:27] rdrpenguin04 commented on #100000
❤️🦀❤️

[2022-08-01 14:29] hapash-reguiam commented on #100000
❤️♥️🦀🦀🦀🦀 ♥️♥️

[2022-08-01 14:41] Merded commented on #100000
❤️🦀❤️🦀

[2022-08-01 14:48] Dolphin2Point1 commented on #100000
thanks for making funny crab language :heart: :crab:

[2022-08-01 14:52] ijliym commented on #100000
❤️❤️祝贺

[2022-08-01 14:55] Hocuri commented on #100000
❤️❤️❤️❤️   ❤️   ❤️   ❤️❤️❤️   ❤️❤️❤️❤️❤️  
❤️   ❤️  ❤️   ❤️  ❤️   ❤️    ❤️    
❤️   ❤️  ❤️   ❤️  ❤️        ❤️    
❤️   ❤️  ❤️   ❤️  ❤️        ❤️    
❤️❤️❤️❤️   ❤️   ❤️   ❤️❤️❤️     ❤️    
❤️❤️     ❤️   ❤️      ❤️    ❤️    
❤️ ❤️    ❤️   ❤️      ❤️    ❤️    
❤️  ❤️   ❤️   ❤️  ❤️   ❤️    ❤️    
❤️   ❤️   ❤️❤️❤️    ❤️❤️❤️     ❤️    

[2022-08-01 15:03] Earthcomputer commented on #100000
:heart: :crab: :heart:

[2022-08-01 15:05] MidnQP commented on #100000
I'm still learning Rust. A few great 📚concepts to grasp and get better at - before I start writing supercool, clean, maintainable, blazing fast 🚀🔥 Rust code.
❤️🦀❤️

[2022-08-01 15:12] ElfWitch commented on #100000
❤️🦀❤️
You're all the best!
❤️🦀❤️

[2022-08-01 15:12] Jwindler commented on #100000
❤️

[2022-08-01 15:23] od0 commented on #100000
❤️🦀❤️

[2022-08-01 15:31] jdahlstrom opened #100027 "Stable Rust erroneously suggests GAT to fix missing lifetime in associated type"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=90a31f5f0c164d4a9e03e7d99c0fac2f)):

[code]

The output on stable 1.62.1 is:

[code]

If I do what the compiler says, I (reasonably) get

[code]

and

[code]

Interestingly, on nightly the error message is more along the lines of what I'd expect to see on stable:

[code]

Based on a quick

[2022-08-01 15:47] khuey commented on #85641
I think the bigger problem would be defining "whatever rustc is doing" in the DWARF spec. IMO it makes more sense for the compiler to emit a DWARF location expression for the return value somewhere.

[2022-08-01 15:51] eholk commented on #99104
We talked about this issue in triage [last time](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/Triage.20meeting.202022-07-18/near/289983531) and [this time](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/Triage.20meeting.202022-08-01/near/291592286) (because I forgot to mark it as triaged the first time).

Thanks for the PR! I'll take a closer look at i

[2022-08-01 15:56] jdahlstrom commented on #100027
Looks like a semi-duplicate of #75547, feel free to close in that case.

[2022-08-01 16:08] hoangph271 commented on #100000
You're all beautiful...! 💕

[2022-08-01 16:09] arrudagates commented on #100000
![abc563150f48f0a8e6301b7e91027d8d.gif](https://user-images.githubusercontent.com/30242466/182192228-ef973bbb-2018-4909-89f6-92d5c65392d3.gif)

[2022-08-01 16:09] lck commented on #100000
despite the fact that I don't use rust professionally, I learned a lot just by studying it

[2022-08-01 16:10] big-lip-bob commented on #100000
:crab: In Rust we trust :crab:

[2022-08-01 16:13] yaahc commented on #100000
Thank you, as just one of a long line of contributors and community members who have made Rust what it is today, I deeply appreciate this message. In fact, I think I might just have to get it framed.

❤️🦀❤️

[2022-08-01 16:13] Rafael-Conde commented on #100000
What a time to be alive!! <3 Rust <3

Thank you to this awesome community!!!

[2022-08-01 16:16] wojciech-cichocki commented on #100000
Rust is like your girlfriend, so many people love her <3 @NorbertBodziony

[2022-08-01 16:16] always-maap commented on #100000
The future of software is bright ❤️🦀❤️

[2022-08-01 16:19] cotneit commented on #100000
❤️🦀❤️

[2022-08-01 16:22] ramones156 commented on #100000
We love rust!
![image](https://user-images.githubusercontent.com/55579979/182196918-13785058-4578-4fe5-ae48-c0b48ca8d31f.png)

[2022-08-01 16:22] Dolpheyn commented on #100000
❤️🦀❤️

[2022-08-01 16:22] Selicre commented on #100000
I think it would be apt to close this issue as "wontfix". :blue_heart:

[2022-08-01 16:24] erwanvivien commented on #100000
❤️🦀❤️ aayyyyyyy everyday we rustin' 🚀

[2022-08-01 16:27] jht5945 commented on #100000
I ❤️ 🦀 !

[2022-08-01 16:29] EduRenesto commented on #100000
❤️🦀❤️

[2022-08-01 16:30] Omar-Belghaouti commented on #100000
🦀❤️

[2022-08-01 16:40] maddymakesgames commented on #100000
❤️🦀❤️

[2022-08-01 16:47] mohammadjavad948 commented on #100000
❤️🦀❤️

[2022-08-01 16:50] HarryET commented on #100000
❤️🦀❤️

[2022-08-01 16:50] ma1ted commented on #100000
❤️ 🦀 ❤️

[2022-08-01 16:55] ErikKarlgren commented on #100000
❤🦀🦀🦀🦀🦀❤

[2022-08-01 17:04] parker-codes commented on #100000
❤️🦀❤️

[2022-08-01 17:07] jrose-signal commented on #98215
This reproduces with just
[code]

[code]

[2022-08-01 17:26] anden3 commented on #100000
❤️ 🦀 ❤️

[2022-08-01 17:27] djkoloski opened #100028 "Impls for associated types misidentified as conflicting"
This issue came up when a downstream user attempted to implement an [rkyv trait](https://docs.rs/rkyv/0.7.39/rkyv/rel_ptr/trait.Offset.html) for their own types. It appears that using an associated type as the target of an impl is not treated as a conflicting impl in the defining crate, but is treated as a conflicting impl in any downstream crates.

I tried this code:

[code]

I expected to see th

[2022-08-01 17:28] nico-abram commented on #100000
❤️ 🦀 ❤️
Long live rust

[2022-08-01 17:32] lcnr commented on #99940
minimization
[code]
results in
[code]
this is a language/compiler bug. we're missing a normalization during coherence, cc @rust-lang/types

[2022-08-01 17:35] aliemjay commented on #100013
This is  another manifestation of #92096.

Minimized:
[code]

@rustbot F-generic_associated_types A-async-await A-lifetimes A-generators T-types

[2022-08-01 17:36] J-TAG commented on #100000
❤️🦀❤️

[2022-08-01 17:36] Milo123459 commented on #100000
❤️🦀❤️

[2022-08-01 17:39] pxp9 commented on #100000
heartcrabheart

[2022-08-01 17:45] sam20908 commented on #100000
I LOVE RUST ❤️

[2022-08-01 17:51] sinaomrani commented on #100000
(\\/) (♡,,,,♡) (\\/)

[2022-08-01 17:54] leighmcculloch commented on #56639
This problem seems to be much worse on nightly lately. If I have codegen-units set very high with a stable build the link sections still get included, but recently noticed nightly builds are omitting custom sections. Unfortunately I don't have a definitive version of nightly when this started happening.

[2022-08-01 17:56] workingjubilee commented on #98215
Wait, really? Wow.

[2022-08-01 17:58] JuanMarchetto commented on #100000
❤️🦀!

[2022-08-01 18:00] jyn514 commented on #48594
Hi @cramertj @nikomatsakis @scottmcm - have you gotten a chance to look at
this change? I'm happy to answer questions or do more research.
Message ID: ***@***.***>

[2022-08-01 18:07] arijit79 commented on #100000
Congratulations 🎉🎉🎉🎉 Rust 🦀 for #100000 issue

[2022-08-01 18:10] 01mf02 commented on #100000
:heart: :crab: :heart:

[2022-08-01 18:14] hydrogenbond007 commented on #100000
Even though I am just starting to learn rust, already feels like family.

[2022-08-01 18:17] ouz-a commented on #99840
Although it looks suspicious this is not caused by #99383 I reverted all changes made by it and tested it, this still passes without any errors. Here https://github.com/ouz-a/rust/tree/undo_formalize

[2022-08-01 18:27] #99470 closed

[2022-08-01 18:27] #99648 closed

[2022-08-01 18:31] tguichaoua commented on #100000
❤🦀❤

[2022-08-01 18:32] janogale commented on #100000
Congratulations 🎉🎉🎉🎉 Rust 🦀community 💖

[2022-08-01 18:50] GoldsteinE commented on #95795
There was no activity for a while, so I took a liberty of implementing this.

@rustbot claim

[2022-08-01 18:57] HoomanOnEarth commented on #100000
nice, time to learn rust

[2022-08-01 19:04] lcnr commented on #99940
normalizing the trait refs during coherence we end up with the obligation `<() as Assoc>::Ty == LocalTy` which should result in an error, proving that these two impls cannot overlap. To check that this obligation holds, we have to normalize `<() as Assoc>::Ty`.

For this we try to get the impl candidate for `(): Assoc`.

https://github.com/rust-lang/rust/blob/c9e134e1b609e571f4d7d18f91f0ccb1a0cb68

[2022-08-01 19:06] lcnr commented on #99940
going to look into this at some point after rustconf

@rustbot claim

[2022-08-01 19:18] lcnr commented on #99940
another case where normalization being ambiguous prevents a later error is
[code]

unlike the first case, this one is order dependent as `T: Bar` remains ambiguous until we've normalized `() as dep::Assoc>::Ty`. Afaik to correctly fix this we have to stop using `predicate_may_hold` but instead have to use a proper fulfillment context https://github.com/rust-lang/rust/blob/c9e134e1b609e571f4d7d18f9

[2022-08-01 19:21] MoskalykA commented on #100000
❤🦀❤

[2022-08-01 19:24] Oreoezi commented on #100000
Congrats on the milestone 🦀♥️
ᕙ(ಠ ਊ ಠ)ᕗ

[2022-08-01 19:26] dawnofmidnight commented on #33286
@rustbot claim

[2022-08-01 19:30] SorenSaket commented on #100000
🦀🦀🦀🥰😍

[2022-08-01 19:30] veber-alex commented on #100028
I believe this is a duplicate of #99940

[2022-08-01 19:34] typeable-nickname commented on #100000
![](https://github.githubassets.com/images/icons/emoji/unicode/1f980.png)

![](https://github.githubassets.com/images/icons/emoji/unicode/1f980.png)

![](https://github.githubassets.com/images/icons/emoji/unicode/1f980.png)

![](https://github.githubassets.com/images/icons/emoji/unicode/2665.png)

[2022-08-01 19:35] repnop commented on #90957
while talking to @memoryruins about another feature which might interact poorly with LLVM's function deduplication pass (`fn_align`), it looks like LLVM gladly deduplicates `#[naked]` functions when the body is the same even in the face of different alignment requirements (which appears to pick the higher alignment between the two at least) on the functions: https://rust.godbolt.org/z/WzWTEqM9d

I

[2022-08-01 19:36] Phinner commented on #100000
🦀 Blazingly fast, as always 🦀

[2022-08-01 19:42] lcnr commented on #100028
yes, this is a duplicate of #99940, closing.

still thinks for opening this PR :sweat_smile: how can a bug existing since at least version 1.30 (which is the oldest one i have locally) get discovered twice in the span of 3 days.

i can't remember ever seeing this bug before #99940 :sweat_smile:

[2022-08-01 19:42] #100028 closed

[2022-08-01 19:50] pxp9 commented on #100000
This issue will be close with Love

[2022-08-01 20:03] tonyalaribe commented on #100000
Congrats to the rust community.  Sending rusty hugs 🤗🤗🤗❤️❤️❤️❤️🦀🦀🦀🦀🦀
![download](https://user-images.githubusercontent.com/6564482/182235051-c8b0c729-1814-4b05-b5f7-ce2346031878.jpeg)

[2022-08-01 20:09] lectromoe commented on #100000
<img src="https://user-images.githubusercontent.com/72769566/174778672-94dcc92e-59ac-48c1-9cf6-71870482feb2.png" width="50" align="center"> ❤️

[2022-08-01 20:11] danielsn commented on #100000
![image](https://user-images.githubusercontent.com/4389518/182236350-e43a3879-0f73-4761-9d75-66c50367027b.png)

Kani sharing the ❤️

[2022-08-01 20:24] dpaoliello commented on #87678
Can you please provide samples of this? I'm not sure how'd you write this without having to duplicate the entire function or extern block...

[2022-08-01 20:28] KBone12 commented on #100000
:heart: :crab: :heart:

[2022-08-01 20:31] fintelia commented on #90957
@repnop If you do binary patching, then the deduplication you're describing will break things. One example: a program that creates two identical naked functions `bar` and `baz` and then at runtime overwrites the contents of `bar`. Any calls to `baz` are unexpectedly going to have the new behavior.

[2022-08-01 20:52] xolve commented on #100000
I 🦀 rust.

[2022-08-01 20:54] BurnyBoi commented on #100000
![floppa-vibing-big-floppa-vibing](https://user-images.githubusercontent.com/41203525/182244880-560088d3-8141-4a65-8fb7-7cc3e2d445ee.gif)

[2022-08-01 21:03] coreylowman commented on #76560
Is there a team working on this? Where can I find updates/progress/timeline/roadmap/etc?

[2022-08-01 21:07] JelNiSlaw commented on #100000
🦀

[2022-08-01 21:11] OdedShimoni commented on #100000
❤️🦀❤️

[2022-08-01 21:18] npmccallum commented on #80437
@dtolnay I have a real-world use case. I have a trait `Foo`. This trait contains a method which consumes `self`. Most of the time this trait is implemented directly on types. But occasionally, I need a trait object for `Foo`. Therefore, I want to provide a blanket implementation of the trait for a box of a type which likewise implements the trait. For example:

[code]

[2022-08-01 21:23] evant commented on #100000
:heart: :crab: :heart:

[2022-08-01 21:25] ByteDream commented on #100000
♥️🦀♥️

[2022-08-01 21:38] dpaoliello commented on #58713
@joshtriplett `vectorcall` support and tests have been merged in.

[2022-08-01 21:48] wcampbell0x2a commented on #99971
@rustbot claim

[2022-08-01 22:02] scottmcm commented on #80437
@npmccallum It's unclear to me why `(*self).finish()` isn't fine there?

That'd be more consistent with how one writes `&`/`&mut` methods in such cases too, as can be seen on the standard library's implementation of `Iterator` for boxed iterators, for example: https://doc.rust-lang.org/1.62.0/src/alloc/boxed.rs.html#1803-1817

[2022-08-01 22:02] CodeDead commented on #100000
🦀🦀🦀

[2022-08-01 22:10] mkroening commented on #99721
Interesting!

Since in our use case we want to distribute the static library, this won't work. It's great that you can use `--undefined` from within Rust, though. For our problem I have now resorted to having a macro in the excluded module to define the static in the rood module while keeping the logic separate.

[2022-08-01 22:19] dwisiswant0 commented on #100000
![#](https://giphy.com/gifs/crab-rave-dance-party-2dK0W3oUksQk0Xz8OK)

[2022-08-01 22:37] c410-f3r commented on #99971
My bad, `type _Foo = core::task::Poll<i32>` does not trigger because it isn't in the prelude.

I guess the lint is then behaving like it should, sorry.

[2022-08-01 22:49] wcampbell0x2a commented on #99971
no problem, got me to read some rustc code

[2022-08-01 23:07] c410-f3r commented on #99971
Thank you @wcampbell0x2a !

[2022-08-01 23:07] #99971 closed

[2022-08-01 23:17] RalfJung commented on #90957
https://github.com/rust-lang/rust/issues/54685 was different, that was a case of inconsistent compilation in the face of function deduplication. This is a case of potentially undesirable deduplication. I have no idea what the intended behavior is here (I leave that to the domain experts), nor how to control LLVMs deduplication (I leave that to the LLVM experts).

@fintelia that argument applies eq

[2022-08-01 23:17] nehalch commented on #100000
❤️🦀❤️

[2022-08-01 23:20] BD103 commented on #100000
❤️🦀❤️

[2022-08-01 23:24] SpeedyCraftah commented on #100000
rust is ok i guess

[2022-08-01 23:27] jonasohland commented on #100000
♥️🦀♥️

[2022-08-01 23:37] nagisa commented on #87678
Macros are a traditional solution to duplication woes. Something like this, perhaps:

[code]

[2022-08-01 23:44] joseluis commented on #100000
![ferris is pure love](https://user-images.githubusercontent.com/5832068/182263022-088febd2-f0c3-4e26-9c4d-4074e2c4fa52.png)

[2022-08-02 00:10] edelsohn commented on #42743
@lu-zero Does this new version of the Power ISA as a JSON document help?
https://github.com/open-power-sdk/PowerISA/blob/main/ISA.json

[2022-08-02 00:19] darah3ng commented on #100000
This is very wholesome. 💪

Gonna add learning Rust to my list.

[2022-08-02 00:20] Mercen-Lee commented on #100000
❤️🦀❤️

[2022-08-02 00:47] uvd commented on #100000
❤️ 🦀 ❤️

[2022-08-02 00:53] Amanieu commented on #90957
Binary patching is allowed, but the compiler is still allowed to duplicate an `asm!` block. The way that would work is that, from within the `asm!`, you record instruction addresses in a separate section which you can later use to find patchable code blocks.

[2022-08-02 00:54] bigmarselo commented on #100000
🦀❤️❤️

[2022-08-02 00:55] bigmarselo commented on #100000
❤️🦀

[2022-08-02 01:06] withlin commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:15] ix0rai commented on #100000
:heart: :crab: :heart:

[2022-08-02 01:21] ankane commented on #99842
Thanks for the feedback! I added more tests to show the current behavior. In the "Error handling" section of the link above, it mentions if the implementation supports IEEE floating-point arithmetic, the behavior is:

1. If the argument is ±0, ±∞ is returned
2. If the argument is a negative integer, NaN is returned
3. If the argument is -∞, NaN is returned
4. If the argument is +∞, +∞ is returned

[2022-08-02 01:26] Toursslivers commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:36] iutx commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:38] NlCEDAY commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:39] Coordinate-Cat commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:45] CAD97 opened #100041 "Normalization can skip WF"
I tried this code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5cd930a4dee00e88a93712e13ee57e0)

[code]

I expected this to error; `[[[[[[u8]]]]]]` is clearly not a well-formed type, as

`Vec<str>` is perhaps even more cursed.

Instead: it compiles.

This is especially relevant for blanket/builtin traits which have associated types, such as `mem::Discri

[2022-08-02 01:50] eddyb commented on #100041
cc @rust-lang/types

[2022-08-02 01:52] Borber commented on #100000
❤️ 🦀 ❤️

[2022-08-02 01:53] sav commented on #100000
heart crab heart

[2022-08-02 01:56] CAD97 commented on #100041
@rustbot label +T-types

[2022-08-02 02:02] bigwhite commented on #100000
I am confused about how 100000 came about. the total count of issues(open+closed) is less than 5w. could someone tell me the reason.

<img width="582" alt="image" src="https://user-images.githubusercontent.com/419088/182275253-9e120551-0406-410d-8d82-f5cef71b502f.png">

[2022-08-02 02:05] HTG-YT commented on #100000
That number is Issues + PRs...

[2022-08-02 02:35] compiler-errors commented on #100041
I think I found the bug. This is partly due to #90887 and partly due to us doing a `normalize` call before registering a `WellFormed` predicate in normalization code. Let me put up a PR.

[2022-08-02 02:52] jyn514 commented on #96928
For anyone planning to pick up this issue: take a look at https://github.com/rust-lang/rust/pull/97573#discussion_r891875590, my instructions here are not quite right.

[code]

[2022-08-02 03:12] jackh726 commented on #100041
Is this fixed in #99217?

[2022-08-02 03:16] thedanvail commented on #98861
Would it be fair to have the docs say something along the lines of:

[code]

That way, it is clear that std doesn't produce any errors and also that the user should be aware that it *is* a possibility in third-party crates.

[2022-08-02 03:19] compiler-errors commented on #100041
Just checked out that PR, and it's not fixed by #99217.

[2022-08-02 03:46] joshtriplett commented on #99104
Seems fine to me from a lang perspective. I do think this needs a lang FCP for the behavior change, though.

[2022-08-02 03:46] joshtriplett commented on #99104
@rfcbot merge

[2022-08-02 04:21] lu-zero commented on #42743
It looks very promising!

[2022-08-02 04:29] bigwhite commented on #100000
get it. thank you!

[2022-08-02 04:47] JasonShin commented on #100000
Thanks for this great programming language

[2022-08-02 05:11] jdobbin-hsahealthplan commented on #100000
❤️ 🦀 ❤️

[2022-08-02 05:12] JoshDobbin commented on #100000
❤️ 🦀 ❤️

[2022-08-02 05:28] matthiaskrgr opened #100047 "rustdoc: entered unreachable code"
### Code
`rustdoc src/librustdoc/clean/mod.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustdoc src/librustdoc/clean/mod.rs`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-02 05:48] clarfonthey commented on #99842
So, you didn't include negative non-integers, but I'm assuming you also meant those return NaN.

My proposal would specify explicitly that nonpositive integers return NaN (I believe it permits ±∞ by the C spec) and +∞ can stay +∞.

[2022-08-02 06:09] naj1n commented on #100000
❤️🦀️❤️

[2022-08-02 07:04] adam-tokarski commented on #99751
Hi guys, another rust newbie looking for something easy to get started here. @ypprog are you still on this or could go with my attempt here?

[2022-08-02 07:08] Skenvy commented on #100000
I forgot that linking it would pop up here, but I'm borrowing "❤️🦀️❤️" for what will be my first Rust project because this is just so wholesome.

[2022-08-02 07:19] eddyb commented on #15701
@crumblingstatue In the meanwhile, this has been stable for a while AIUI:
[code]
And if you need it on a `let` that wouldn't make sense to nest in a block:
[code]
(I believe this is due to `let` being strictly a statement, not an expression)

[2022-08-02 07:25] eddyb commented on #60593
@fedochet @edwin0cheng @hawkinsw Checking in now that this landed:
* #99944

Can any of you confirm that:
* `nightly-2022-08-01` (before that PR) can reproduce the issue
* `nightly-2022-08-02` (after that PR) does not reproduce anymore

We can likely close this issue once confirmed. Thanks in advance!

[2022-08-02 07:32] lcnr commented on #76560
this is currently mostly tracked in https://github.com/rust-lang/project-const-generics/issues?q=is%3Aissue+is%3Aopen+label%3AA-generic-exprs and on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/260443-project-const-generics)

[2022-08-02 07:33] eddyb commented on #99909
[code]
Beautiful, thanks @bjorn3! :sparkles:

[2022-08-02 07:38] parkerqueen commented on #100000
❤️🦀❤️

[2022-08-02 07:39] crumblingstatue commented on #15701
Thank you for the advice!

[2022-08-02 07:41] BlueStaggo commented on #100000
❤🦀❤
Rust deserves to be the most loved programming language!

[2022-08-02 08:03] MultisampledNight commented on #100000
Awesome, consistent, comfortable, verbose if needed and sensible language, package manager, build system and community. :purple_heart::crab::purple_heart:

[2022-08-02 08:10] n-yoneoka opened #100050 "cargo doc with only "\n" in INNER_BLOCK_DOC causes internal compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-02 08:14] aliemjay opened #100051 "implied bounds fro projections in impl header can be unsound"
A variant of #98543 that has a different failure path and thus is not fixed by #98900. cc @lcnr

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=da2da1d93c1e2c99c640000a78e9a80f
[code]

@rustbot label C-bug I-unsound T-types A-implied-bounds A-associated-items

[2022-08-02 08:21] lunandd commented on #100000
🦀 <33

[2022-08-02 08:32] pikhosh commented on #100000
❤️ 🦀 ❤️

[2022-08-02 08:50] #98266 closed

[2022-08-02 08:50] #98343 closed

[2022-08-02 09:08] ajansari95 commented on #100000
🦀💚

[2022-08-02 10:07] Floranid opened #100054 "Inaccuracy in the documentation for Option::unwrap_or_default"
### Location
https://doc.rust-lang.org/std/option/enum.Option.html#method.unwrap_or_default
### Summary
It appears that the example was wrongly adapted from Result::unwrap_or_default, however the example does not work here because parse will never return None, its returns a Result. It appears that ideally a more fitting example should be written.

[2022-08-02 10:08] Sculas commented on #100000
❤️🦀❤️

[2022-08-02 10:14] gimbles commented on #99751
@adam-tokarski ypprog does seem to be active and it hasn't been that long, if you'd like you can pick another issue. =)

Try going through the E-Easy and/or E-Mentor category for easy issues. However, to clarify, if an issue which is claimed doesn't seem to have any work done for a long period of time (A month or so is a good amount of time) -- Feel free to ping the assignee to confirm and handle

[2022-08-02 10:18] gimbles commented on #100054
The documentation seems alright? Yes, `parse` returns a `Result` -- The example is calling `Result::ok` to convert `Result<T>` to `Option<T>` and *then* using `Option::unwrap_or_default`.

[2022-08-02 10:32] Powerbored commented on #100000
I work with a team of Java developers and this certainly is an issue 😅

[2022-08-02 10:38] lcnr commented on #100051
ah, that's fun :+1:

[2022-08-02 10:41] Kelpsy opened #100055 "Nightly `std` fails to build for WASM with `-C target-feature=+atomics`"
Trying to build the standard library for the `wasm32-unknown-unknown` target with `-C target-feature=+atomics` fails using the latest nightly compiler. Specifically, this happens:
[code]

### Meta
`rustc --version --verbose`:
[code]
</details>

[2022-08-02 11:06] Aandreba commented on #80437
`Box::into_inner(self).finish()` better signals the intention to move the value from the box, instead of copying the value from it.
Also, in my opinion, it looks beter.

[2022-08-02 11:32] avelino commented on #100000
Congrats 🎉🎈🍾

[2022-08-02 12:29] RalfJung commented on #99838
Oh I see, I didn't quite read the example correctly. The problematic drop is the one that happens on field assignment, and we know it's a packed field because of the path we are accessing it with.

[2022-08-02 12:29] 5225225 opened #100060 "`./x.py doc` on a clean repo on master passes, but with warnings about feature gates"
[code]

This should probably fail docs, but also it shouldn't happen in the first place. Not entirely sure why the other lines in the file don't trigger this, but I'm just making a note of this.

[2022-08-02 12:34] cshif commented on #100000
🦀️ 💖

[2022-08-02 12:35] RalfJung commented on #99838
No what I just said makes no sense. What happens is that this is a *partial* drop -- one field has been moved out (`m.1.b`) and then the logic for dropping the remaining fields seems to be wrong.

So https://github.com/rust-lang/rust/pull/83605 is relevant because it changed `is_disaligned`. And it looks like somehow the change is wrong; here is also [fails to ask for an `unsafe` block](https://pl

[2022-08-02 12:43] thomcc commented on #56639
If the static also has `#[used]` it may be related to https://github.com/rust-lang/rust/pull/93718.

If so, checking that it worked prior to the 2022-07-20 nightly, and is broken after the 2022-07-26 nightly (note that the the nightlies between these two had a very broken version of `#[used]`, which got fixed by https://github.com/rust-lang/rust/pull/99676) would be pretty helpful, absent an actua

[2022-08-02 12:45] RalfJung opened #100061 "rustc_const_eval::util contains some code that does not belong there"
The `rustc_const_eval::util` module consists of functions that are never used inside rustc_const_eval, so these are at the wrong location -- looks like a mistake that was introduced when rustc_mir was split up a while ago.

Cc @rust-lang/wg-const-eval @cjgillot
Any suggestions for where this code belongs instead? Some of these are exclusively used by rustc_mir_transform, so they could go there. So

[2022-08-02 13:19] marcospb19 commented on #100000
:heart::crab::heart:

[2022-08-02 13:35] xNxExOx commented on #99341
🤔 @ChrisDenton I get maybe a bit crazy idea, but my DLL hooks functions anyway, so if I would limit `DllMain` to
[code]

and before the hooked main do my initialization. (for my use case any time before main is good enough)

Would that eliminate wast majority of potential breaks related to `DllMain`? Or is it not worth it?

[2022-08-02 13:37] alphaolomi commented on #100000
❤🦀❤

[2022-08-02 13:57] RalfJung opened #100062 "`./x.py test src/test/ui` fails to build compiletest"
[code]

[2022-08-02 14:23] RalfJung commented on #100062
This seems to have started recently; going back to before https://github.com/rust-lang/rust/pull/99768 fixes the problem.

[2022-08-02 14:35] TaKO8Ki commented on #100050
This ICE does not seem to occur on latest nightly.

`rustc --version`:

[code]

[2022-08-02 14:36] Amanieu commented on #64102
I agree with @BurntSushi here: the "bench_" prefix is unnecessary and confusing. The `hint::` module prefix should be enough to indicate that this is a hint (i.e. the compiler can just ignore it) and it does not provide any hard guarantees.

[2022-08-02 14:39] arnavbhatt288 commented on #100000
My wife's boyfriend liked this. :heart::crab::heart:

[2022-08-02 14:46] ChrisDenton commented on #44391
On further investigation it looks like the exe does get an entry embedded in the binary's TLS data array. But it's only one byte no matter the size of the value. And it is always zero initialized. So I guess it is legal to access the first byte of the TLS value. The dylib has the full value in its TLS data array, properly initialized.

[2022-08-02 14:47] huhlig commented on #100000
❤️🦀❤️

[2022-08-02 14:47] iago-lito commented on #100000
:heart: :crab: :heart:

[2022-08-02 14:52] calebcartwright commented on #90672
tbh, I'm not entirely sure I follow all of the proposals and associated implications as I don't typically do much work in this repository beyond the subtree syncs.

However, as I see it the original impetus for this is really about the inner dev loop experience when contributors also have to modify the rustfmt source in tree, and that ties back to a test we have in rustfmt that's critical to the C

[2022-08-02 14:53] nikic commented on #99960
Even this simple case doesn't get optimized: https://alive2.llvm.org/ce/z/jvVFVJ

[2022-08-02 15:23] pnkfelix commented on #44493
https://github.com/rust-lang/rust/issues/54185#issuecomment-1124097663 ended the question about whether to special-case `'static` and removed `#![feature(infer_static_outlives_requirements)]`.

[2022-08-02 15:53] xd009642 commented on #74727
First stabilisation report so let me know if I've done anything wrong :pray:

# Request for Stabilization

## Summary

The instruction set attribute provides a new function attribute for  architectures which support more than one form of machine code. Currently, this is just implemented for CPUs in the ARM family which support a program switching between "ARM code" and "Thumb code". Although other

[2022-08-02 16:23] RalfJung commented on #99838
https://github.com/rust-lang/rust/pull/100064 should fix this.

[2022-08-02 16:28] dcsommer opened #100066 "`rustc --test` ignores `static:-whole-archive` link modifiers"
I am attempting to use the ([now stabilized](https://github.com/rust-lang/rust/pull/93901)) [RFC 2951](https://rust-lang.github.io/rfcs/2951-native-link-modifiers.html) syntax to control how my test binary is compiled. I have created a repro at https://github.com/dcsommer/rustc-linking

[code]

In `run.sh`, I tell `rustc` to link 2 static libraries, one *with* (+whole-archive) and one *without* (-

[2022-08-02 16:57] antoyo commented on #95518
@jyn514 That sounds good to me. The `hyperfine` stuff is not currently ran and should probably be skipped for in-tree testing.

Would that be simpler to use upstream GCC 12 instead of compiling GCC? That could be an option (of course, less tests would pass, but that would still be useful).

[2022-08-02 17:12] petrochenkov commented on #100066
This is a bug introduced in https://github.com/rust-lang/rust/pull/95606.
The backward compatibility condition should look like `whole_archive == None && bundle != Some(false) && sess.opts.test` and not `bundle != Some(false) && sess.opts.test`.

[2022-08-02 17:18] petrochenkov commented on #100066
@dcsommer
Could you submit a PR with this fix?
(We can backport it to beta if it's done in time.)

[2022-08-02 17:21] dcsommer commented on #100066
@petrochenkov Sure, I'll create a PR. I'm not sure what tests to include, however.

[2022-08-02 17:28] est31 commented on #99909
I wonder what the impact of this reduction has been.

[2022-08-02 17:33] dcsommer commented on #81490
For "Unresolved Questions" I think there is still the matter of the default of the `bundle` link modifier and it's purpose and interaction with respect to `whole-archive`. The full cross-product of intended behaviors for (+/-whole-archive, +/-bundle, crate-type) is a little unclear to me and would ideally get documentation.

[2022-08-02 17:34] bjorn3 commented on #99909
https://github.com/rust-lang/rust/pull/99944#issuecomment-1200926150 shows quite significant build time improvements. [serde_derive debug](https://perf.rust-lang.org/detailed-query.html?commit=25bb1c13bd472b75ceebee3b8dcf4dcbc431a8be&base_commit=6423ab3a755fed97f75b2361849155d4e996d02f&benchmark=serde_derive-1.0.136-debug&scenario=incr-unchanged) got almost 3MB smaller (down to 23MB). Same for [se

[2022-08-02 17:37] Lisenaaaa commented on #100000
yooo epic!

:heart: :crab: :heart:

[2022-08-02 17:48] thomcc commented on #97540
Note that this also happens for `Result<SomePointer, SomeInteger>`. I saw some suggestion that single-pointer Error types (`std::io::Error`, `anyhow::Error`, `ThinBox<dyn Error>`, ...) could work around this bug by storing their pointers in a `NonZeroUsize` when not running under miri. Ignoring the fact that this is gross, it would just move the problem so that you get the bad codegen for cases wh

[2022-08-02 17:49] petrochenkov commented on #100066
You can try adding a test case with `--test` to `src\test\run-make\native-link-modifier-whole-archive\Makefile`.
One with `--test` and `-whole-archive`, and another with `--test` and without any `whole-archive` (the compatibility case).

[2022-08-02 18:03] matthiaskrgr commented on #100047
tried to reduce a bit :thinking:
[code]

[2022-08-02 18:17] BasToTheMax commented on #100000
I never used rust, mostly because I am using Javascript for frontend, but this is still a very good milestone! Keep it up!
👍😉

[2022-08-02 18:30] joshtriplett commented on #71668
Yikes. @QuineDot Good catch.

We should disable `unused_unsafe` ASAP.

And given that, we may have to make this warn-by-default in 2024 rather than deny-by-default. :(

[2022-08-02 18:34] scottmcm commented on #71668
With https://github.com/rust-lang/rust/issues/71668#issuecomment-1189396860 updated to specify that this is "warn in 2024",

@rfcbot resolve define-required

[2022-08-02 18:36] joshtriplett commented on #71668
Without waiting for the FCP for this, could someone submit a PR changing `unused_unsafe` to allow?

[2022-08-02 18:36] mqudsi commented on #31436
Since this issue is still open, I figured I'd ask here first before opening a new `C-feature-request` issue:

Are there any issues tracking the use of `?` in rustdoc examples? IMHO it would allow the documentation to line up better with idiomatic crate usage and rust best practices, instead of being littered with `.unwrap()` everywhere. More importantly, it would allow docs to clearly distinguish

[2022-08-02 18:38] Lokathor commented on #71668
I still don't think so. This is still a version issue, not an edition issue.

[2022-08-02 18:38] joshtriplett commented on #93333
@Amanieu wrote:

It's inherently *architecture*-specific; it doesn't necessarily have to be *OS*-specific.

[2022-08-02 18:47] Jint3x commented on #100000
❤️ 🦀 ❤️

[2022-08-02 18:48] scottmcm commented on #99104
What's the definition of "holding" here?  Since there's no use after the `await`, I'm unsure what's complaining.

[2022-08-02 18:55] joshtriplett commented on #99104
@jyn514 Could you retitle this issue to make it clearer that this is *only* for not actually holding the type, and doesn't work if you *actually* use it after the await?

[2022-08-02 19:12] jyn514 commented on #99104
Yes, exactly. Theoretically we could do this for types like
[code]
too, but haven't thought that far ahead.

[2022-08-02 19:18] peterjoel commented on #31436
@mqudsi This is a bit off-topic for this issue. But you can already do this. Use `#` in your doc comments to hide the set-up. [for example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7e25b312426f429ed1dd55c47ae879a0)

[2022-08-02 19:20] Mark-Simulacrum commented on #54503
I tend to agree with @ehuss in https://github.com/rust-lang/rust/issues/54503#issuecomment-1180773121 that the current behavior feels pretty awkward to me. My sense is that the "goal" we should have for our rule set is:

* Removing `#[expect]` *always* causes a warning
   * Which also means that adding `#[expect]` always silences at least one warning

I think that also matches an intuition that li

[2022-08-02 19:22] joshtriplett commented on #54503
@Mark-Simulacrum I agree. I think it would make sense for `expect` to warn if used on a lint that's already marked as `allow`.

[2022-08-02 19:23] petrochenkov commented on #81490
@dcsommer
This is already documented in nightly docs - https://doc.rust-lang.org/beta/rustc/command-line-arguments.html
Except that the compatibility case for `whole-archive` is intentionally vague, and the restriction on `+bundle,+whole-archive` in rlibs in not documented because it's sort of an implementation deficiency that we are planning to fix (https://github.com/rust-lang/rust/issues/99429)

[2022-08-02 19:24] cnheider commented on #100000
🎉

[2022-08-02 19:28] jo3bingham commented on #98720
Fixed by #99293. I forgot to link the issue in the PR, but this can be closed now that it has merged.

[2022-08-02 19:36] #98720 closed

[2022-08-02 19:37] ankane commented on #99842
Thanks for the clarification. The gamma function is defined for negative non-integers, so I don't think we'd want to change that behavior.

Agree it'd be good for negative integers to be consistent across platforms. If there are any platforms that return ±∞, we could probably use conditional compilation to return NaN.

[2022-08-02 19:40] BRAVO68WEB commented on #100000
Great Language. Happy to Rust Lang and the Community

[2022-08-02 19:41] scottmcm commented on #99104
I think the explicit promise is important for semver.  Especially if you have a type with private fields, `async` code shouldn't stop compiling because you decided to add a `String` field where there wasn't one before.

[2022-08-02 19:48] #63552 closed

[2022-08-02 19:57] #49565 closed

[2022-08-02 20:02] clarfonthey commented on #99842
Sorry, I somehow got into my head that they'd have complex values here when that's not the case. Yes, they should be still defined there.

[2022-08-02 20:04] Hezuikn opened #100075 "yet another silly `delay_span_bug` issue"
## [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=417be37498bc3738cc635a92a3a14168)

### Code

[code]

### Error output

[code]

[2022-08-02 20:07] #13926 closed

[2022-08-02 20:09] ChrisDenton commented on #99341
Calling load_library in `DllMain` is susceptible to deadlocks unless the library is already loaded. I think you might just need to be very careful about the dependencies you use. Maybe there's a different or lighter weight logger you can use in place of log4js that doesn't use HashSet?

[2022-08-02 20:10] thomcc commented on #99341
On further inspection it seems unlikely that https://github.com/rust-lang/rust/pull/99371 fixes the issue although I still think it's a good cleanup and simplification (so I stand by my r+).

That is, looking at your back trace... the deadlock you're hitting is from inside BCryptGenRandom itself, not from our code that synchronizes while calling it. It looks like BCryptGenRandom does some synchron

[2022-08-02 20:22] workingjubilee opened #100077 "Tracking LLVM workarounds"
This is a metabug for tracking the compiler's workarounds of LLVM's behavior that have resulted in the compiler implementing what one might refer to as "ugly hacks" to fix the behavior in question on our side. Logically, when the behavior is resolved and appropriate tests if any have been added, the issue can be closed, from Rust's perspective. Worse, leaving "fixed but not ideally" issues open ma

[2022-08-02 20:26] #98768 closed

[2022-08-02 20:27] 5225225 commented on #100075
searched nightlies: from nightly-2022-01-01 to nightly-2022-08-02
regressed nightly: nightly-2022-04-30
searched commit range: https://github.com/rust-lang/rust/compare/e85edd9a844b523a02dbd89f3c02cd13e4c9fe46...a707f401074bc769bab4efb2bfdde7f6c5a4068d
regressed commit: https://github.com/rust-lang/rust/commit/87937d3b6c302dfedfa5c4b94d0a30985d46298d

<details>
<summary>bisected with <a href='http

[2022-08-02 20:33] #97226 closed

[2022-08-02 20:50] RalfJung opened #100078 "rustdoc "* -> vec" (documented example for search in type signature) yields error"
In its help, rustdoc says I can use "* -> vec" to search by type signature. But when I actually run exactly that search query, rustdoc [says](https://doc.rust-lang.org/nightly/std/?search=*%20-%3E%20vec)

Cc @rust-lang/rustdoc

[2022-08-02 20:59] camelid commented on #100078
Hmm, I think it uses the syntax `-> vec` instead (though we've discussed switching to `* -> vec`, which I prefer). I'll open a PR.

cc @GuillaumeGomez

[2022-08-02 21:01] ehuss commented on #100060
Not failing with `x.py doc` is intentional. We didn't want generating the documentation to depend on tests passing, as that can make it difficult to work with. There is a separate `x.py test src/tools/lint-docs` which will fail if they are not passing. It could add a note explaining why it is only a warning, though.

As for why it is failing at all, it seems to have been broken by #97277 (cc @jyn5

[2022-08-02 21:03] RalfJung commented on #100078
Yeah `-> vec` works.

This looks like a fairly recent regression, [it still works in 1.61](https://doc.rust-lang.org/1.61.0/std/?search=*%20-%3E%20vec).

[2022-08-02 21:03] camelid commented on #100078
It could be that the old query parser just ignored the `*`. A new one was implemented recently that's strict about syntax.

[2022-08-02 21:05] Nemo157 commented on #31436
Rustdoc even has support for detecting a final turbofished `Ok` value, see the final example under <https://doc.rust-lang.org/nightly/rustdoc/write-documentation/documentation-tests.html#using--in-doc-tests>.

[2022-08-02 21:07] RalfJung commented on #71668
Done: https://github.com/rust-lang/rust/pull/100081

[2022-08-02 21:09] safinaskar commented on #29641
@deontologician, @jonhoo, @jcotton42, @ice1000, @Robbepop, @nirvdrum, @bbqsrc and everybody else interested!

I made proc macro library, which implements deref patterns right now, in stable Rust! 🎉

https://crates.io/crates/match_deref

It will work for any type, which implements Deref, for example Box, Rc and String.

My library is not drop-in replacement for box patterns, because I call Deref::d

[2022-08-02 21:09] lopopolo commented on #54503
one use case I have to this is:

1. I upgrade a project to the newest Rust toolchain.
2. A clippy lint fires and is a false positive.
3. I file a bug.
4. I allow the lint so I can land the rust upgrade.
5. I want to remove the allow once the upstream clippy bug fixes the false positive.

[2022-08-02 21:29] RalfJung commented on #100062
Cc @dtolnay any idea what might be happening here? Not everyone sees this behavior, strangely.

[2022-08-02 21:32] djpiper28 commented on #100000
I'm NeW, CaN SoMeOnE tElL mE HoW tO mAlLoC iN rUsT?

[2022-08-02 21:33] dtolnay commented on #100062
Looks like https://github.com/rust-lang/rust/pull/99431#issuecomment-1192938240, and probably needs the same fix. Something is lying about the exit status of rustc.

[2022-08-02 21:35] RalfJung commented on #100062
Cc @yaahc who seems to be (or has been) getting similar errors

[2022-08-02 22:04] princessmortix commented on #100000
I don't personally use Rust but happy 100000-issue-day. 💖🦀💖

[2022-08-02 22:06] mss1451 opened #100084 "Weird `type annotations needed` error caused by irrelevant code"
I tried this code:

[code]
[code]

I expected to see this happen: Compiled successfully

Instead, this happened:
[code]
Deleting the first line of the code eliminates the error but I can't see how they are related. I suspect that this is a compiler bug.
### Meta

`rustc --version --verbose`:
[code]
Also tried the stable version:
[code]

[2022-08-02 22:19] RalfJung commented on #100062
@dtolnay hm, but this code seems to forward the exist status correctly

https://github.com/rust-lang/rust/blob/471fa05fef0b09e0430a80e3d7f205ef19fc4a86/src/bootstrap/bin/rustc.rs#L215-L236

[2022-08-02 22:34] mss1451 commented on #100084
Sorry, my bad. Looks like this is not a bug: https://users.rust-lang.org/t/irrelevant-code-causes-type-annotations-needed-error/79295/3?u=mss1451

[2022-08-02 22:34] #100084 closed

[2022-08-02 23:40] RalfJung commented on #100062
One possible issue is that anyhow does not seem to propagate `--target` (set via the TARGET env var) to `rustc`. (This would likely also make it fail in Miri cross-interpretation.)

The bootstrap `rustc` binary [also uses `--target`](https://github.com/rust-lang/rust/blob/471fa05fef0b09e0430a80e3d7f205ef19fc4a86/src/bootstrap/bin/rustc.rs#L31) to determine whether to use the bootstrap sysroot or t

[2022-08-02 23:42] RalfJung commented on #100062
IOW, [this logic from autocfg](https://github.com/cuviper/autocfg/blob/9d4a074f67593b1a513d85180231d72b4be2111e/src/lib.rs#L219) is missing.

[2022-08-02 23:55] yaahc commented on #100062
Not sure what's going on in this case sadly :/ I had this issue because of a bug in rustc-perf but I haven't seen it show up outside of that context.

[2022-08-03 00:19] lack-io commented on #100000
❤🦀❤

[2022-08-03 00:32] paulo-e commented on #96928
@lionellloh Are you going to continue working on this issue?

[2022-08-03 00:33] compiler-errors commented on #100075
Minimized:

[code]

Let me find a good way to explain what the issue is.

[2022-08-03 00:37] RalfJung commented on #100062
I can confirm that the issue is fixed by applying https://github.com/dtolnay/anyhow/pull/249.

[2022-08-03 00:51] ankane commented on #99842
Great. Another question is: should we add a `ln_gamma` function (`lgamma_r` and `lgammaf_r` in C) as well?

[2022-08-03 01:12] WormPatch commented on #100000
crab

[2022-08-03 01:35] Ilqjx commented on #100000
❤️ 🦀 ❤️

[2022-08-03 01:37] #100050 closed

[2022-08-03 01:55] SebastianBilek commented on #91146
If you're using windows. What I did was run "Get-Command x86_64-w64-mingw32-gcc" and removed the folder it resided in from PATH, however it should be possible to just delete the file.

[2022-08-03 02:39] atsuzaki commented on #99554
@rustbot claim

[2022-08-03 03:12] xNxExOx commented on #99341
😮 I am loading an dll from DLL main for years now, and you just told me that Microsoft can screw me over at any time 😮

Well thanks for warning. I will keep doing that and hope Microsoft will never change that.

[2022-08-03 03:17] ChrisDenton commented on #99341
If you scroll down this page it has a list of things Microsoft says you should never do in DllMain:

[Dynamic-Link Library Best Practices](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-library-best-practices)

[2022-08-03 03:37] csjiabin commented on #100000
❤️ 🦀 ❤️

[2022-08-03 03:59] wcampbell0x2a commented on #92751
@rustbot claim

[2022-08-03 04:15] chenyukang commented on #99170
@ritikBhandari  are you still working on it?

[2022-08-03 04:27] chenyukang commented on #99170
This is fixed in https://github.com/rust-lang/rust/commit/6d5e8f384362ed250f946ccd35bcc52a65817380, we could close this issue.

[2022-08-03 05:02] lyming2007 commented on #98982
https://github.com/lyming2007/rust/pull/new/issue-98982

[2022-08-03 05:26] Jeremiah-Griffin opened #100097 "Non exhaustive match error presents incorrectly with tuples and .unwrap()"
When matching against a tuple, if one of the values is an Option<char>, unwrapping it in the match statement itself provides a garbled error message from the compiler.

`previous_chr` is of type `Option<char>`
`current_char` if of type `char`

`match ( (previous_chr.unwrap(), current_chr) ){
    ('\\', '"') => {
        self.is_within_literal = true;
        self.previous_chr = Some(current_chr)

[2022-08-03 05:26] Jeremiah-Griffin commented on #100097
Finger slipped and I accidentally submitted this early. Please give me just a moment to complete it.

[2022-08-03 06:14] khoover commented on #100000
Sure.

[code]

[2022-08-03 07:35] #99083 closed

[2022-08-03 07:35] #99907 closed

[2022-08-03 07:58] taiki-e commented on #49206
This can be reproduced without nightly: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=cde77f0d6a528826e8880ee55be9a3d1)

[code]

[2022-08-03 08:08] nikic commented on #43517
The LLVM issue has long since been fixed, so it's possible that the workaround may be removed.

[2022-08-03 09:25] dnbln opened #100103 "ICE trying to use `Err(1)?` with `let_else` in a `try` block"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-03 11:10] Kelpsy commented on #100055
Fixed by #99800

[2022-08-03 11:11] #100055 closed

[2022-08-03 11:58] apiraino commented on #99923
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399923.20Regression.20in.20consteval.3A.20error.5BE0080.5D.3A.20could.20not.20eva.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-08-03 12:12] PatrickShaw commented on #100000
❤️🦀❤️

[2022-08-03 12:42] aDotInTheVoid opened #100106 "Rustdoc-Json: Add ResolvedPath type"
We don't yet have a `ResolvedPath` type in the json output, so I think that should be done in a followup change, as theirs a couple of other places we'd also want to use it (https://github.com/rust-lang/rust/blob/e141246cbbce2a6001f3181d3d0f661bbfd9c7ea/src/librustdoc/json/conversions.rs#L423, https://github.com/rust-lang/rust/blob/e141246cbbce2a6001f3181d3d0f661bbfd9c7ea/src/librustdoc/json/conve

[2022-08-03 12:42] aDotInTheVoid commented on #100106
@rustbot claim

[2022-08-03 12:46] estebank commented on #98982
@lyming2007 that seems very close! I'll add comments in the PR.

[2022-08-03 13:06] apiraino commented on #99914
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399914.20ICE.3A.20index.20out.20of.20bounds.3A.20the.20len.20is.20323.20but.20the.20ind.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-03 13:17] #99734 closed

[2022-08-03 13:17] #99341 closed

[2022-08-03 13:17] #100078 closed

[2022-08-03 13:21] l1npengtul commented on #100000
:heart: :crab: :heart:

[2022-08-03 13:29] estebank commented on #99885
@ryanavella don't feel bad about having gotten confused:

* the error wasn't as clear as it should be
* type ascription isn't stable, so it isn't publicized much
* type ascription has a syntax that has very small syntactic distance to other valid things you might want to do
* bad diagnostics due to type ascription have made it my most hated syntactic wart 😅

[2022-08-03 13:31] apiraino commented on #99734
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399734.20ICE.20when.20attempting.20to.20document.20crates.20re-exporting.20.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-03 13:54] jhpratt commented on #99981
Without even looking at the rest of the rollup, it's definitely my PR. Short of storing whether `in` was used, I'm not sure what could be done.

[2022-08-03 14:06] apiraino commented on #100014
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100014.20.60slice.3A.3AChunks.5BExact.5DMut.60.20are.20no.20longer.20.60Send.20.2B.20Syn.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-03 14:24] apiraino commented on #100041
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100041.20Normalization.20can.20skip.20WF)).

@rustbot label -I-prioritize +P-high

[2022-08-03 14:25] apiraino commented on #100051
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100051.20implied.20bounds.20fro.20projections.20in.20impl.20header.20can.20b.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-03 14:29] Ghost543 commented on #28419
try this
`impl std::ops::DerefMut for B {
    fn deref_mut(&mut self) -> &mut Self::Target {
        &mut self.0
    }
} `

[2022-08-03 14:29] apiraino commented on #99949
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399949.20Regression.20with.20lifetimes.20when.20using.20.60Foo.20as.20Trait.60.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-08-03 14:32] lqd commented on #99949
note: there's a fix in https://github.com/rust-lang/rust/pull/99953 ready for review

[2022-08-03 15:50] jendrikw opened #100109 "Confusing suggestion when E0719 and E0191 occur at the same time."
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=01548eb9fd3d66231e3b834bcc6e17b7)

[code]

The current output is:

[code]

`B<X=X, X=X, X = Type>` is wrong, specifying another `X=Type` isn't going to fix the problem.

Writing just `dyn B` has a suggestion ``consider introducing a new type parameter, adding `where` constraints using the fully

[2022-08-03 16:09] #100014 closed

[2022-08-03 16:10] noonuid opened #100110 "x86_64-unknown-linux-gnu using 'target-feature=+crt-static' exits with: Segmentation fault (core dumped)."
I expected to see this happen: complied program with static linking runs normally.

Instead, this happened:

* when i debug, it exits with: `Stop reason: signal SIGSEGV: invalid address (fault address: 0xe5)`
* when i run the executable directly, it exits with: `Segmentation fault (core dumped)`

But when i debug the executable without static linking, it works well. And when i build with '--target

[2022-08-03 16:18] AlanDeLosky commented on #100000
🎉 🎉 🎉

[2022-08-03 16:34] jenra-uwu commented on #100000
:heart: :crab: :heart:

[2022-08-03 17:01] rMazeiks opened #100114 "`no warnings or errors encountered even though delayed_good_path_bugs issued` when constructing a `const` never type with warnings disabled"
I was working on some perfectly reasonable and definitely not cursed Rust code when Cargo suddenly started crashing for some reason.

### Code

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=18d868f2895c570c6e7d167b73d0fe42)

[code]

### Meta
This happens on nightly

`cargo +nightly --version`:
[code]

### Error output

[code]

<details><summary><strong>

[2022-08-03 17:14] jonay2000 opened #100116 "Traits on function pointers"
First of all, I'm not yet sure if this is a problem with just diagnostics, or with the entire type system.
The following is a minimal example of an issue I got working on a larger project. The example may seem like a weird thing to do
but that's because it's minimized.

[code]
(https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5f3e7f2b710cec461b0f4f824583fa69)
I expected this

[2022-08-03 17:29] joshtriplett commented on #86730
Since `let PAT = expr` isn't allowed in an arbitrary expression, only in `if let` and `while let`, it sholdn't be added to `expr`. And AFAICT you currently have to match if-let and while-let explicitly in macro matches if you want their contents. So, people would need to add support for let chains in those matches. We could add something like `cond` to help with that, but I don't think that's a bl

[2022-08-03 17:38] mstange commented on #79410
I cannot reproduce this with the provided testcase on Rust 1.62.0.

However, the test case is incomplete, so I may not be testing the same thing.

@mitsuhiko Which target were you using? `wasm32-unknown-unknown` or `wasm32-wasi`? Were you building a debug or a release configuration? What did your Cargo.toml look like?

I tried with the following Cargo.toml, and `cargo build --release --target=wasm

[2022-08-03 17:42] matthiaskrgr commented on #100114
This one might also get fixed with https://github.com/rust-lang/rust/pull/99893

[2022-08-03 17:43] mstange commented on #79410
I can reproduce it with 1.48.0! So it looks like this got indeed fixed.

Output with 1.48.0:

[code]

[2022-08-03 18:27] compiler-errors commented on #100103
@rustbot claim

[2022-08-03 18:31] compiler-errors commented on #99866
Probably just needs a normalize call somewhere :thinking:

[2022-08-03 18:39] compiler-errors commented on #100116
This is two things.

1. This is a legitimate code bug, since `MyEnum::B` is not a function pointer, but a zero-sized _function item_: https://doc.rust-lang.org/reference/types/function-item.html -- that's why specifying that generic in your fixed example ("if I insert an explicit cast to the function pointer type") since that coerces the zero-sized function item to a pointer-sized function pointer

[2022-08-03 18:40] compiler-errors commented on #100114
Probably not fixed by #99893, but the fix is very likely quite similar. Let me take a look tonight (and also complete that PR mentioned).

@rustbot claim

[2022-08-03 18:45] mark-schultz opened #100118 "Unclear doctest error when implementing a trait in a different file."
Consider a library with the following directory structure (no playground because multiple files, but [this git repository](https://github.com/mark-schultz/doctest)).

[code]
where `module_one.rs` is

[code]
and `module_two.rs` is
[code]
The current output of `cargo test --doc` is

[code]

This error message suggests that the issue is the *visibility* of `returns_true` in `module_two`.
This is not

[2022-08-03 18:55] compiler-errors commented on #100109
We probably should modify E0191 to hint that an supertrait's associated type is shadowed. I think E0719 here is fine to keep as-is, imo.

[2022-08-03 18:55] obeis commented on #100109
@rustbot claim

[2022-08-03 19:02] #99838 closed

[2022-08-03 19:06] hdelc commented on #100097
The errors emitted look correct, but your second example's diagnostic output is incomplete.
- `(previous_chr.unwrap(), current_chr)` evaluates to a `(char, char)`, which is then matched against. So, exhaustiveness checks are done on the range of characters, rather than `Option<char>`'s possible `Some(_)` and `None`.
- `(previous_chr, current_chr)` is a `(Option<char>, char)`, so both `Some(_)` and

[2022-08-03 19:07] cjgillot commented on #100061
IIRC, I put these methods there because `rustc_const_eval` was the most downstream crate that both `rustc_borrowck` and `rustc_mir_transform` depended on. I know this is wrong, but I did not really know of a better place.

[2022-08-03 19:20] safinaskar commented on #87121
@rdrpenguin04 and everybody else who cannot wait: I made a proc macro crate, which implements deref patterns in stable Rust: https://crates.io/crates/match_deref

[2022-08-03 19:20] jendrikw commented on #100109
I agree the message for E0719 is good as-is.

[2022-08-03 19:24] sgued commented on #53241
I still found the current error message confusing. In my case it wasn't with a variable but within the type parameter:

[code]

gives the following error:

[code]

`rustc --explain E0401` doesn't mention `consts` or `statics`, it seems to me that it should.

[2022-08-03 19:33] mitsuhiko commented on #79410
I wonder if it makes sense to add a regression test to make sure it does not happen again.

[2022-08-03 19:43] dnbln commented on #100103
On a side note this is valid and compiles:

[code]

[2022-08-03 19:58] compiler-errors commented on #100103
Yeah, this is very likely due to expr [adjustments](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TypeckResults.html#method.adjustments) either not being recorded correctly when type-checking `let else`, or those not being used correctly when building MIR for `let else`.

I will look into this later.

[2022-08-03 22:16] #100062 closed

[2022-08-03 22:55] fadeevab opened #100125 "Regression in code coverage (`-Zprofile`) at some point after `nightly-2021-11-11`"
### TL;DR:
Older nightly toolchain gives [an expected code coverage](https://coveralls.io/builds/51400491): `rustup default nightly-2021-11-11`

**UPDATE:** Regression is reproduced below https://github.com/rust-lang/rust/issues/100125#issuecomment-1209535289

### Prerequisites

I have [a GitHub workflow](https://github.com/fadeevab/cocoon/blob/main/.github/workflows/rust.yaml) which generates a c

[2022-08-04 00:56] saethlin commented on #100110
Can you provide or point to enough code that we can use to reproduce this?

[2022-08-04 02:06] noonuid commented on #100110
thread.rs
[code]

[2022-08-04 02:06] noonuid commented on #100110
unix.rs
[code]

[2022-08-04 02:12] noonuid commented on #100110
In thread.rs, program crashes in handle_pty_start function, but not the same line in every time, I marked it below.
[code]

[2022-08-04 02:14] noonuid commented on #100110
In unix.rs
[code]

[2022-08-04 03:52] #78907 closed

[2022-08-04 03:52] #100066 closed

[2022-08-04 03:52] #90871 closed

[2022-08-04 04:37] compiler-errors commented on #100103
Minimized this a tiny bit:

[code]

Still working on it though.

[2022-08-04 05:30] Loga-Shanmugam opened #100133 "SSL error when using cargo add in WSL"
I am using rust in WSL 1. When I try to use cargo add <package name>, its throwing SSL certificate error. I am behind a corporate firewall, and I tried everything including specifying CA cert path. Below is my git config file.

![image](https://user-images.githubusercontent.com/63439362/182769208-0b0aaacd-47c3-4a30-b90f-3461f1288127.png)

Whenever I run cargo add its throwing the below error.

![i

[2022-08-04 05:34] reez12g commented on #100000
❤️ 🦀 ❤️

[2022-08-04 06:20] dilyanpalauzov opened #100134 "Rust 1.62.1 cannot be compiled and installed, because of miri"
When compiling rust 1.62.1 it fails with:
[code]

The above is during `x.py build -j1`.  When I call afterwards `x.py install -j1` the output is:
[code]
That is, rust 1.62.1 cannot be compiled and installed.

[2022-08-04 06:49] #98589 closed

[2022-08-04 06:49] #45814 closed

[2022-08-04 06:49] #99625 closed

[2022-08-04 06:49] #43037 closed

[2022-08-04 06:49] #99777 closed

[2022-08-04 07:20] Aiden2207 opened #100135 "GATs plus mutable reference causes rustc to improperly believe data escapes function"
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=05ae5d1cfb5f8f2263aeb25e49864c43)

I expected to see this happen: code successfully compiles.

Instead, this happened:
[code]
Note that removing the bound on `F` causes a successful compilation. Also,  removing the call to `next` lets things compile. The example probably can be minimize

[2022-08-04 08:03] apiraino commented on #100125
Unless I am mistaken, [grcov](https://github.com/mozilla/grcov) is a third-party tool, not officially under the Rust project umbrella.

In order to find an actionable here, a bisection and ideally a reproducible are probably the way to go.

@rustbot label E-needs-bisection E-needs-mcve

[2022-08-04 08:12] dilyanpalauzov commented on #100134
[code]

[2022-08-04 08:19] unknowntrojan commented on #100000
❤️ 🦀 ❤️

[2022-08-04 08:22] Nilstrieb commented on #100134
You're using `extended = true`, which builds all tools (including Miri). Miri doesn't work on stable, so the build fails.

Does uncommenting the next option`tools` help? This should exclude Miri from being built.
`tools = ["cargo", "rls", "clippy", "rustfmt", "analysis", "src"]`

[2022-08-04 08:41] chitoyuu opened #100136 "const fns cannot have fn pointer arguments that take mutable references, even if they aren't called"
I tried this code:

[code]

I expected to see this happen: code compiles.

Instead, this happened: error[E0658]: mutable references are not allowed in constant functions

However, putting the function pointer in a simple newtype compiles without problem:

[code]

This should indicate that:

- Either merely having an argument of a fn pointer type is not problematic, even if said fn pointer takes a

[2022-08-04 09:09] fadeevab commented on #100125
@apiraino I've spent a few hours yesterday, and that's my result:

1. **latest** `grcov` + **latest** rust `nightly` = **bad**
2. **old** `grcov` 0.8.2 (~July 2021) + **latest** rustc `nightly` = **bad**
3. **old** `grcov` + **old** rustc `nightly-2021-11-11` = **good**
4. **latest** `grcov` + **old** `nightly-2021-11-11` = **good**

Notes:
 - "old" is for simplicity, it means the versions of the

[2022-08-04 09:11] Nilstrieb commented on #100134
Also, it would be nice if you wrapped the info in your message in a `<details>` tag like this:

[code]

Which will look like this:
<details>
<summary> my config.toml </summary>

[code]
</details>

That would make it a little easier to scroll by :)

[2022-08-04 09:18] 5225225 opened #100137 "Incorrect suggestion when type annotation on turbofished enum is needed"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=b9b341939839ec733bf081c5ddf86e5b

[code]

The current output is:

[code]

But applying this causes an error, saying that `C` doesn't allow type arguments.

This happens on nightly and beta, but not on stable. I'm assuming the "consider specifying the generic arguments" was added recently.

I don't

[2022-08-04 09:30] dilyanpalauzov commented on #100134
Eventually I called
[code]
as suggested by `x.py install -v -h`.

Building rust takes on my system eternity.  Once a new rust version is released, I will try with `tools=[…]` without `miri` .

Currently ./configure generates config.toml containing:
[code]
I propose changing the default for `extended=true` not to build Miri, as long as Miri does not build on stable, and spelling this in the above c

[2022-08-04 09:43] Nilstrieb commented on #100134
I think it would make sense to not include Miri by default. The commented out array of tools doesn't contain Miri as well, which I assume is because no one has bothered to add it yet. But maybe there is some deeper reason behind it. I'll open an issue.

[2022-08-04 09:47] Nilstrieb opened #100139 "Don't build Miri tool by default"
When setting `extended = true` in the `config.toml`, bootstrap also builds all the tools, including Miri. Since Miri doesn't always build, this can cause problems like in #100134. There is another option to only build a set of tools using `tools = []` (this doesn't contain "miri" in the example form, which is a little odd, it should probably be added there as well).

`rust-demangler` is already ex

[2022-08-04 09:47] Nilstrieb commented on #100139
@rustbot label +A-bootstrap

[2022-08-04 10:44] aliemjay commented on #100135
tl;dr `LendingIterator` is pretty much not usable for now unless you force the `'static` bound on the trait.

This is the classic limitation of not supporting implied bounds under `for<'a>` binder. Minimized to generate the same error message:
[code]

@rustbot label F-generic_associated_types  A-lifetimes

[2022-08-04 11:55] fmease commented on #100118
I am not sure what the issue is. The the message and the span of the diagnostic both look correct to me.

It's true that `returns_true` is not defined inside of `module_two`. The diagnostic only highlights the path and not the whole use item since that's more precise (and since it can scale to use _trees_). Do you suggest it should only highlight the last path segment `returns_true`? That I would

[2022-08-04 12:31] mark-schultz commented on #100118
While `returns_true` is not defined within `module_two`, there is an implementation of `returns_true` within `module_two` that I want to access in this situation. It was not clear to me from this error message that the way to get access to the `returns_true` implementation that is given in `module_two` is by ignoring `module_two` and solely importing from `module_one`.

If the error message had me

[2022-08-04 12:47] metalwhale commented on #100000
❤️ 🦀 ❤️

[2022-08-04 13:14] akabinds opened #100140 "Suggest `use` if `import`, `using`, or `require` is used instead"
I was looking at namely issue #99751 when I thought about this. If work is being put into improving error messages when somebody uses a keyword that defines a function in another language, there should also be improved error messages if someone uses the incorrect directive to bring something into the scope of their module or namespace/

Given the following code: [Playground Link](https://play.rust

[2022-08-04 13:16] akabinds commented on #99751
With these changes, I also think it is important to implement improved error messages for when a user puts the return type at the start of the function instead of the end.

PS: I don't know how that issue was mentioned there. I am sorry lol.

[2022-08-04 13:21] #99949 closed

[2022-08-04 13:38] fanninpm commented on #100125
You can help narrow down the regression even more by using [`cargo-bisect-rustc`](https://github.com/rust-lang/cargo-bisect-rustc/blob/master/TUTORIAL.md). The `cargo-bisect-rustc` tool is usually used to find compilation errors, but you can use a shell script to tell `cargo-bisect-rustc` what your regression is.

[2022-08-04 13:38] gimbles commented on #99751
I feel like adding `auto` might also be helpful for C++ developers :)

[2022-08-04 13:39] gimbles commented on #100140
@rustbot claim

[2022-08-04 13:39] compiler-errors commented on #100140
For the record, on nightly, both `import` and `using` suggest using `use`. I'm sure it's not that difficult to add `require`.

[2022-08-04 13:54] matklad opened #100141 "Subtracting Duration from Instant on Mac is panic-prone"
The following program:

[code]

works on Linux, but could panic on Mac. The reason for that is that, as implemented, `Instant` on mac starts at zero at reboot, so it can't represent times before the machine started.

This is pretty unfortunate -- it means that `impl Sub<Duration> for Instant` isn't really usable on mac, as subtracting even a small duration can panic. And subtracing duration is pre

[2022-08-04 14:00] CaribouJohn opened #100142 "futures caused signal: 4, SIGILL: illegal instruction when compiling"
### Code

I'm new to rust and interestingly the base tokio example I was using worked - it went bad when I added the futures crate.

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-04 14:02] jendrikw opened #100143 "ICE in rustdoc: 'called `Option::unwrap()` on a `None` value', src/librustdoc/clean/auto_trait.rs:356:26"
### Code

[code]

### Meta

No crash in stable 1.62.1, crashes with nightly 85b500cca 2022-07-24 and 1b57946a4 2022-08-03

`rustc --version --verbose`:
[code]
### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-04 14:23] CaribouJohn commented on #100142
I tried nightly (still fails) but 1.60 does seem to compile.

[2022-08-04 14:25] apiraino commented on #99923
Backport of #99965 has been approved, let's leave this issue open in order to allow room for the discussion about what to do for 1.64

[2022-08-04 14:32] pnkfelix commented on #65991
@joshtriplett can you confirm that when you added the S-waiting-on-team label, that was a reference to T-lang, and not T-compiler?

[2022-08-04 14:33] RalfJung commented on #100114
I was hoping to make const_err a hard error in ~6 weeks anyway, so the best way forward here might be to just wait for that...

[2022-08-04 14:37] fmease commented on #100118
Further, we could probably also improve the diagnostic for the case when the trait *isn't* imported:

[code]

[code]

[2022-08-04 14:49] pnkfelix commented on #98437
reassigning to T-types on basis that the eventual plan for fixing this is tied to a better HRTB implied bounds story.

@rustbot label: -T-compiler +T-types

[2022-08-04 15:06] lxk1170 opened #100145 "RUST_LOG environment variable isn't read"
I tried this:

[code]

I expected to see the same output as:
[code]
Instead I received no debug logs.

### Meta

`rustc --version --verbose`:
[code]

<p>
Accepting environment variables both ways is the standard these days.
</p>

[2022-08-04 15:10] nmain commented on #100141
Is the situation on Windows also concerning?  It uses `QueryPerformanceCounter` which doesn't guarantee a particular epoch.

[2022-08-04 15:30] ChrisDenton commented on #100141
To be honest, I think I agree that `Add<Duration>` and `Sub<Duration>` should probably not have been implemented for `Instant`. It doesn't make sense given the [current documentation](https://doc.rust-lang.org/std/time/struct.Instant.html) (and implementations) of `Instant` as they can only really be compared with other `Instant`s.

That said, there is definitely a use case for adding/subtracting

[2022-08-04 15:31] SNCPlay42 commented on #100145
I don't know what you mean by this. With the `&&` in between, shells (or bash at least) simply don't pass the variable to external processes:

[code]

[2022-08-04 15:47] gimbles commented on #100140
[Ignore this, just notes]

https://github.com/rust-lang/rust/blob/caee496150a551fe1b9f77b3a58f7e66d54bc824/compiler/rustc_parse/src/parser/item.rs#L274 diag
https://github.com/rust-lang/rust/blob/master/compiler/rustc_span/src/symbol.rs#L1172 sym

[2022-08-04 15:52] Purpzie commented on #100000
❤️ 🦀 ❤️

[2022-08-04 16:00] estebank commented on #99256
This is of course fallout from removing the migrate borrowck.

CC @rust-lang/wg-diagnostics, I believe this should be high priority, but having looked at it in the past it will be non-trivial to get back to the same quality we had before :-/

[2022-08-04 16:05] Rageking8 opened #100146 "For const variable declaration, if type is left dangling, also suggest type"
Given the following code:

[code]

The current output is:

[code]

Since the compiler suggests the type needed for the following:

[code]
[code]

The output ideally should also suggest the type if its left dangling.

[2022-08-04 16:07] mark-schultz commented on #100118
Yes, both of those look great!

[2022-08-04 16:07] djpiper28 commented on #100000
Thanks now I can make an array with a length unknown at compile time

[2022-08-04 16:24] the8472 commented on #100141
You can do this instead: `foo.created_at + Duration::from_secs(60) < Instant::now()`

[2022-08-04 16:50] jendrikw commented on #100143
Managed to find something. The `Fn` bound seems crucially important.

[code]

[2022-08-04 17:21] cryptoquick commented on #91642
Is there a better way to accomplish parallel await than with this feature? My use-case is basically the example here:
https://doc.rust-lang.org/std/future/macro.join.html

[2022-08-04 17:31] Ph0enixKM commented on #100000
❤️🦀❤️

[2022-08-04 18:24] CAD97 commented on #98650
Update on upstream: the new launcher has reimplemented the `/usr/bin/env` PATH lookup (though in a way that fails much more gracefully when lookup fails) and [also considers the shebang in a `*.py` to always be a python interpreter](https://github.com/python/cpython/issues/94399#issuecomment-1205521249). If we want to avoid `x.py` always running under WSL on Windows when `bash` launches under WSL,

[2022-08-04 18:35] albinocordeiro opened #100149 "Backtrace has no information on older Windows Server"
I tried this code:

[code]
And made sure RUST_BACKTRACE=1 in the environment.

I expected to see in the logs: "
 thread 'unnamed' panicked at 'TEST PANIC LOGGING':  ...src\some.rs:169
   0: [Relevant stack info here]
   1: [Relevant stack info here]
   2: [Relevant stack info here]
   3: [Relevant stack info here] ...
 "

Instead, the following shows on the logs: "
thread 'unnamed' panicked at 'TE

[2022-08-04 18:58] cor commented on #100000
❤️🦀❤️

[2022-08-04 20:31] CAD97 commented on #99923
Miri now supports `expose_addr`/permissive provenance, mostly, kinda. Would it be possible to have CTFE transmute of ptr2int do an expose rather than `throw_ub!`? `expose_addr` is actually far too strong in what it allows, though. The ideal semantic AIUI (for *temporarily* allowing this) would be a third scalar kind of "PVI" which poisons any integer operations beyond copying to `throw_ub!` and th

[2022-08-04 21:17] Jakobeha opened #100153 "`x` dropped because it borrows itself + dropping a reference causes more errors"
This file produces a very strange error message on build: https://github.com/Jakobeha/typed-arena-any-vec/blob/weird-issue/src/test.rs

[code]

additionally when I try to drop a reference I get

[code]

but I dropped the *reference* to node, IntelliJ even warns "Dropping a reference does nothing".

This seems like a compiler issue considering dropping the reference causes a new error. However I do

[2022-08-04 21:31] RalfJung commented on #99923
No. CTFE does not know the integer value it needs to return here. And we can't just make one up because that could be inconsistent with the *actual* address that LLVM / the linker / the dynamic loader picks for this allocation.

So far, we have *never* had a diagnostic for CTFE that would not also make CTFE just stop evaluation. `const_err` can be made into a warning, but it still stops evaluation

[2022-08-04 21:33] matthiaskrgr opened #100154 "ICE: compiler/rustc_middle/src/ty/context.rs:705:13: node_type: no type for node"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-04 21:39] 5225225 commented on #100143
searched nightlies: from nightly-2022-01-01 to nightly-2022-08-02
regressed nightly: nightly-2022-06-23
searched commit range: https://github.com/rust-lang/rust/compare/dc80ca78b6ec2b6bba02560470347433bcd0bb3c...10f4ce324baf7cfb7ce2b2096662b82b79204944
regressed commit: https://github.com/rust-lang/rust/commit/10f4ce324baf7cfb7ce2b2096662b82b79204944

<details>
<summary>bisected with <a href='http

[2022-08-04 21:56] lyming2007 commented on #98982
committed the changes as you suggested which is very helpful. Please check if I missed anything. @estebank

[2022-08-04 22:00] workingjubilee commented on #99923
Yeah, I think if we can somewhat consistently make it so that `-Zconst-expect=stricter` triggers on all anticipated UB and `-Zconst-expect=paranoid` detects all "might be UB?" that would be a good first step since it would allow people to sanitize their code against any perceived "moodiness" in CTFE. It would involve more work on the part of programmers, but more nightly-only diagnostic tools that

[2022-08-04 22:02] RalfJung commented on #99923
I don't see there being two modes for this. Not sure what "might be UB" would flag over and above "check all the UB we can check for".

[2022-08-04 22:13] CAD97 commented on #99923
"`=stricter`" would be roughly everything but aliasing (things relying on SB that miri flags as experimental); "`=pedantic`" would include aliasing.

(And yes, this one release delay from the backport is the one release delay for this change. Delaying another release I agree is too limiting to miri. I also acknowledge the large amount of work required to get nonfatal warnings out of miri — my idea

[2022-08-04 22:13] workingjubilee commented on #99923
Because the semantics of UB are a little ambiguous, even in CTFE, we've been in a situation where there's "this is definitely UB" and "this relies on semantics that are a little unclear, or something somehow slips past const UB detection, even though it seems like it might be kinda iffy..."

If, while implementing this, you _never_ run across a case where you would want to mention to a programmer,

[2022-08-04 22:22] RalfJung commented on #99923
Hm, right now I don't think we'd want to put Stacked Borrows into rustc. But once we have a better idea for the final aliasing model, that might be worth doing. However note that doing this will have a performance cost even when the flag is disabled -- right now we have a lot of careful engineering ensure that the representation of an `Allocation` in CTFE is the same as what rustc uses outside the

[2022-08-04 22:31] workingjubilee commented on #99923
I agree that it might be more useful from the library dev (hello, I am a contributor to the library) perspective. Would it be possible to have that flag allow a `const_debug_assert!` or something to trigger?

[2022-08-04 22:33] compiler-errors commented on #100154
I have a fix for this but literally don't know how to turn this into a UI test lol

[2022-08-04 22:41] compiler-errors commented on #100154
nvm minimized:

[code]

[2022-08-04 22:46] compiler-errors commented on #100146
cc @WaffleLapkin who knows how to do this since he worked on that `typeof` PR i think

[2022-08-04 22:52] RalfJung commented on #99923
Hm, that doesn't seem entirely obvious but we should definitely explore that possibility. It has the usual problem that debug assertions in the standard library have -- the stdlib that people actually download is built without debug assertions...

How close is `-Zbuild-std` to providing a solution for that?

[2022-08-04 23:15] duplexsystem commented on #100000
❤️🦀❤️

[2022-08-04 23:28] albinocordeiro commented on #100149
I'm sorry guys. It's not really an issue. I forgot to copy over the pdb file.

[2022-08-04 23:28] #100149 closed

[2022-08-04 23:56] #96791 closed

[2022-08-04 23:56] #98241 closed

[2022-08-04 23:56] #92751 closed

[2022-08-04 23:56] #97311 closed

[2022-08-04 23:59] WaffleLapkin commented on #100146
@rustbot claim

[2022-08-05 00:00] WaffleLapkin commented on #100146
@Rageking8 what you've meant by a type that's left dangling?

[2022-08-05 02:49] Rageking8 commented on #100146
Basically just that the colon is included but no type is specified

[2022-08-05 03:16] EvanCarroll opened #100159 "Rust is difficult to install on distros where /tmp is noexec."
The prescribed method to install Rust (from the [Rust install doc here is](https://www.rust-lang.org/tools/install)) is,

[code]

This plain doesn't work for me, and that's understandable.

[code]

It's right in the diagnosis too,

[code]

However, if I download the same script using `-o rust-install.sh` to `curl`

[code]

And then I try to run it (`sh ./rust-install.sh`) I would expect it to give

[2022-08-05 03:25] chenyukang commented on #100136
@rustbot claim

[2022-08-05 03:28] EvanCarroll commented on #39771
This is related to this issue I opened up. There is a better solution here. https://github.com/rust-lang/rust/issues/100159

[2022-08-05 03:50] EvanCarroll commented on #100159
It just occurred to me I filed this in the wrong project. This should have been in rustup. My bad one sec.

[2022-08-05 03:53] EvanCarroll commented on #100159
reopened as https://github.com/rust-lang/rustup/issues/3056

[2022-08-05 03:53] #100159 closed

[2022-08-05 04:05] dotneet commented on #100000
❤️🦀❤️

[2022-08-05 05:05] samothx opened #100161 "Illegal Instruction from rust installation"
I am getting an Illegal Instruction when trying to install rust on a VPS running debian 10:
Linux version 5.10.0-16-amd64 (debian-kernel@lists.debian.org) (gcc-10 (Debian 10.2.1-6) 10.2.1 20210110, GNU ld (GNU Binutils for Debian) 2.35.2) #1 SMP Debian 5.10.127-1 (2022-06-30)

I tried this code:
[code]

I expected to see this happen: installation of rust

Instead, this happened:
[code]

[2022-08-05 05:32] chenyukang commented on #100146
This is because if we have colon, the parser will try to parse a type, then error will trigger.
If we don't have colon, parser will try to insert a place hold:

[code]
Then type checker will enrich the type messages.

[2022-08-05 06:35] #33172 closed

[2022-08-05 06:49] chenyukang commented on #100146
@WaffleLapkin
I have a branch in local could fix this issue.
But it also break another testcase with wrong syntax, but I think this testcase is far from normal one.
Do you mind I send a PR for this?

[2022-08-05 08:39] weiznich opened #100162 "Inconistent build failures between `cargo install` and `cargo build --release`"
I tried this code to install `diesel_cli` via `cargo install diesel_cli --version 2.0.0-rc.0` and the build failed with the following error message:

[code]

To debug this issue in diesel I've tried to checkout the source code locally via

[code]

which just builds the binary without error message.
To verify that this is not dependent on the diesel workspace I've also copied the diesel_cli 2.0.0-r

[2022-08-05 09:11] chenyukang commented on #100136
@chitoyuu
Add `#![feature(const_mut_refs)]` in source file will be OK.

[2022-08-05 09:24] michaelwoerister commented on #58713
@rust-lang/lang & @rust-lang/compiler, do we have a precedent for stabilizing a feature on some CPU architectures but not others?

[2022-08-05 09:27] chenyukang commented on #100140
@gimbles
And also add `include`?
Rust may go tooooo friendly in diagnostic message 😊.
Do you mind that I make a PR for it? I'm a newbie in hacking Rust compiler.

[2022-08-05 09:35] Amdahl-rs opened #100164 "Compilation error signal: 9, sigkill: kill"
**

I have a function with 30000 enum match items, which directly reports an error when compiling. "(signal: 9, sigkill: kill)", and the code is roughly as follows

[code]

 process didn't exit successfully: `rustc  ................................. (signal: 9, sigkill: kill)`

### Meta

`rustc --version --verbose`:
[code]

Linux   5.15.0-41-generic #44~20.04.1-Ubuntu SMP Fri Jun 24 13:27:29 UTC 2

[2022-08-05 09:43] TheAwiteb opened #100165 "Suggest invalid expression when use `public`"
When writing `public let some = 3;` it will suggest `pub let some = 3;` and I think nothing should be suggested before it is validated.

The statement to be suggested must be checked if it is true or not, if true it is suggested and if not it is not.

The issue from: https://github.com/rust-lang/rust/pull/99903

[Given the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edit

[2022-08-05 09:43] TheAwiteb commented on #100165
@rustbot claim

[2022-08-05 09:52] gimbles commented on #100140
Sure! The earlier message should clarify where the edits are needed to be made. Ain't nothing as a diagnostic too friendly. =)

@rustbot unassign

[2022-08-05 09:57] gimbles commented on #100140
@chenyukang Remember to assign yourself using rustbot. 😄

Just a note for the future, usually if someone has already claimed an issue, it's not exactly common for someone else to fix it [aside from if the issue is abandoned by the claimee].

Since you're a newcomer here, I removed my assignment (and because I was working on another). However, you can find loads of easy issues with the E-Easy and/o

[2022-08-05 10:00] gimbles commented on #100165
Oh dear, I didn't think of that while making the PR. 😅

A possible solution could be checking if the current token is for initializing an item? Like, struct/enum/macro, etc.

[2022-08-05 10:05] gimbles commented on #100075
That issue title is..not particularly ideal.

[2022-08-05 10:07] TheAwiteb commented on #100165
I wrote this solution, but I don't know if I can use it in rust It is currently building 😁

[code]

[2022-08-05 10:19] chenyukang commented on #100140
@rustbot claim

[2022-08-05 11:26] Nilstrieb commented on #100164
Perhaps the compiler is running out of memory and getting killed by the OOM killer.

[2022-08-05 11:34] chenyukang commented on #96928
@rustbot claim

[2022-08-05 11:35] Amdahl-rs commented on #100164
I monitored the memory usage. It should not be. My memory is 32g, basically free

[2022-08-05 11:36] roblabla commented on #58713
@michaelwoerister `asm!` is stable on some CPU archs but not all (only x86/x64, arm/arm64 and riscv).

[2022-08-05 11:40] 5225225 commented on #100164
Can you upload a single rust file that fails to compile on your system? You can use https://gist.github.com/ as a pastebin.

[2022-08-05 12:21] anupj commented on #100000
❤️ 🦀 ❤️

[2022-08-05 12:24] #92790 closed

[2022-08-05 12:38] WaffleLapkin commented on #98392
So, I've tried to fix this, but got stuck fairly quickly.

The reason is that handling of errors for methods and free functions is different, for method calls the error reporting happens in `rustc_typeck::check::method::suggest::FnCtxt::report_method_error`, while for free functions it happens in `rustc_trait_selection::traits::error_reporting::InferCtxt::report_selection_error`. Note that calling

[2022-08-05 12:43] yasuo-ozu commented on #29625
@clarfonthey I think there's some needs to implement Fn* traits for arbitrary types.

1. Giving multiple function signatures to an object.
2. In following URL, there's some difficulty defining trait `Handler`, so we want to use Fn* trait directly.
https://users.rust-lang.org/t/type-inference-in-closures/78399

[2022-08-05 12:47] bjorn3 commented on #29625
This is something I think we shouldn't support in the first place, even with Fn*.

If I understand it correctly, preventing multiple impls of Fn* would fix this issue.

[2022-08-05 13:32] WaffleLapkin commented on #100146
@chenyukang oh, I've had a fix too, oops 😅

I've opened a PR already: https://github.com/rust-lang/rust/pull/100168, but feel free to open a PR as well, if you think your approach might be better.

[2022-08-05 13:40] akabinds commented on #100140
Totally forgot about `include`! Good catch!

[2022-08-05 13:55] shepmaster commented on #92790
Thank you @FabianWolff !

[2022-08-05 13:57] schneiderfelipe opened #100170 "Bug? attempted to read from stolen value: rustc_middle::mir::Body"
I can't currently provide the code, but the rest of the information is below.
I'll try to provide a minimal example when I'm able to.

Please let me know if there's anything else I can do to help (this is my first bug report to this repo).

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-05 14:12] chenyukang commented on #100146
My fix is shorter, but seems a little bit hacky 😁
FYI: https://github.com/chenyukang/rust/commit/344042927bef524ee87d34a9f625593cc9c1aaac

[2022-08-05 14:15] Nilstrieb commented on #100170
Thank you for your bug report! Is the problem still present on the latest nightly?
[code]

[2022-08-05 14:20] gimbles commented on #100170
@rustbot label +E-needs-mcve

[2022-08-05 14:22] gimbles commented on #100170
This is probably a duplicate of [this issue](https://github.com/rust-lang/rust/issues/91015).

[2022-08-05 14:24] gimbles commented on #92572
This is indeed a duplicate of #91015

[2022-08-05 14:57] #99201 closed

[2022-08-05 14:58] wesleywiser commented on #100149
Thanks for following up @albinocordeiro!

[2022-08-05 15:39] nyxtom commented on #29625
Allowing implementation of the Fn trait is the only way at the moment to get good variadic composition https://github.com/nyxtom/composition/blob/main/src/lib.rs

[code]

Here I'm using a trait specialization technique on a custom Function<Args, T> handler as well as other Func traits that allow me to make it easier to compose functions like so:

[code]

[2022-08-05 16:44] Amdahl-rs commented on #100164
Sorry, the project is too big to be separated

[2022-08-05 17:06] Manishearth commented on #99923
@RalfJung the proposed plan sounds pretty great!

[2022-08-05 17:34] notriddle opened #100176 "Trait methods with bounds on `Self` are shown on types that do not fulfill those bounds"
### Location

https://doc.rust-lang.org/std/collections/hash_map/struct.Keys.html#method.rev

### Summary

Found in [this topic] on URLO.

It shows the method `Iterator::rev` on the page for `hash_map::Keys`. This is misleading, because you can't actually call that method, because `Keys: !DoubleEndedIterator`.

[this topic]: https://users.rust-lang.org/t/cannot-understand-this-error-hashmap-rev/79

[2022-08-05 18:57] robinhundt opened #100177 "Generic trait with generic supertrait bound by associated type can't be used in trait bound with associated type"
I'm trying to create a `Channel` abstraction over `Sink` and Stream` and encountered the following issue:

Given the following (simplified without Sink and Stream) code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c8273c047fd65cf6ce11c5b49eced321)

[code]

The current output is:

[code]

The issue is present in stable, beta and nightly.

When either removin

[2022-08-05 19:31] aldanor opened #100179 "ICE when using non-lifetimes in `for<>`"
### Code

[code]

(this is invalid syntax but it shouldn't ICE)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-05 20:06] #100154 closed

[2022-08-05 20:06] #100146 closed

[2022-08-05 20:10] TheAwiteb commented on #100165
I can't work on the problem unfortunately, whoever will assign it to him you can solve it this way

[code]

The block
https://github.com/rust-lang/rust/blob/affe0d3a00e92fa7885e3f5d2c5073fde432d154/compiler/rustc_parse/src/parser/diagnostics.rs#L605-L614

[2022-08-05 20:10] TheAwiteb commented on #100165
@rustbot release-assignment

[2022-08-05 20:29] docbobo opened #100180 "Asahi Linux: Rust 1.62 reports out of memory"
I just installed Asahi Linux on my Mac Mini M1 and wanted to compile a Rust-based application using `cargo build --release`. However, that fails immediately with the following error output:

[code]

[2022-08-05 20:48] pnkfelix commented on #83518
A couple thoughts that came up during RustConf today:

 1. One particularly insidious case of these large moves is when its some local variable that is carried over a `.await`. Its an anti-pattern to have such local variables that end up stored in the generated `Future`, and we could do more to guide developers to avoid them. (Whether that guidance should be incorporated into the `large_assignment

[2022-08-05 21:10] joshtriplett commented on #83518
I think the await case should be a separate lint, but I do think we should have it.

[2022-08-05 21:20] RalfJung commented on #100062
I am pretty sure this was caused by https://github.com/rust-lang/rust/pull/99431: after that PR, the build probe of anyhow fails to build with latest libstd. It still works with the bootstrap compiler's libstd though, which is why anyhow *thinks* it can use the backtrace feature, but actually can't.

eyre has exactly the same problem: https://github.com/yaahc/eyre/issues/84

[2022-08-05 21:36] chenyukang commented on #100176
@rustbot claim

[2022-08-05 21:40] chenyukang commented on #100176
The same issue with [partition_in_place](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.partition_in_place) and [rposition](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.rposition).

@notriddle do you know how to exclude these options from hash_map? I'm still digging with it, if hash_map has this kind of issue, other data structures maybe have similar kind of issue.

[2022-08-05 21:44] compiler-errors commented on #100177
@rustbot claim

[2022-08-05 21:47] workingjubilee commented on #100180
Hello!
I assume you have an installation via Rustup?
Can you run the following and show me the output?
[code]

[2022-08-05 21:49] chenyukang commented on #100165
@rustbot claim

[2022-08-05 22:20] ArtifyCZ opened #100182 "VecDeque missing time complexity docs"
### Location
std::collections::VecDeque - functions like front, back, etc.
https://doc.rust-lang.org/std/collections/struct.VecDeque.html
### Summary
I think there's missing time complexity (big O notation) for functions as front, back, front_mut, capacity, clear, pop_back, pop_front, push_back, push_front, etc.

[2022-08-05 22:21] PatchMixolydic opened #100183 "ICE when trying to use `typeof(reference_expr)` in a struct"
### Code

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b2741fa8ddb0f418c02ec55d4ca26005)

[code]

### Meta

Initially encountered on a modified build of rustc based on affe0d3. Reproduces on the playground using `1.64.0-nightly (2022-08-04 f6f9d5e73d5524b6281c)`.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2022-08-05 22:23] ArtifyCZ commented on #100054
I think there could be for people like this (no offensive) type annotations.

[2022-08-05 22:53] est31 commented on #49733
I've been wondering about `#[rustc_box] Box:new(x)`: the issue with it is that it requires two feature gates to be enabled, both `stmt_expr_attributes`, and `rustc_attrs`. Furthermore, both are general features and enabling them exposes users to an unnecessarily large range of unstable features.

The alternative that I could think of would be a lang-item function like `Box::new_in_place` or a free

[2022-08-05 22:57] docbobo commented on #100180
Valid assumption - but wrong. I had been using the ArchLinux package.  With the rustup install, everyhing works :facepalm:

[2022-08-05 22:57] #100180 closed

[2022-08-05 23:06] thomcc commented on #77745
I am going to use this space to talk about `const_eval_select` because it has no tracking issue. Basically, I'm not fond of the safety requirement for `const_eval_select`.

Here's an example where safe code might want to use it: it seems desirable to have some kind of `debug_or_const_assert!` in certain cases -- in fact, stdlib already uses this pattern all over the place to check for soundness vi

[2022-08-05 23:09] lyming2007 commented on #98982
@estebank thanks for the review and suggestions.
Can you take a look at https://github.com/rust-lang/rust/pull/99064 by the way? It's been a while since I fixed it

[2022-08-05 23:31] compiler-errors commented on #100183
We should probably replace the lifetimes in the `typeof` recovery with `'static`

[2022-08-05 23:40] workingjubilee commented on #100180
Hmm. Usually, installing Rustup from the ALARM repos and using that to get rustc is generally the recommended flow for Arch Linux (on ARM). Can you link me to the PKGBUILD for the ALARM package you were using?

[2022-08-05 23:44] y3ll0wlife commented on #100000
❤️ 🦀 ❤️

[2022-08-05 23:46] workingjubilee commented on #100180
Oh, I see. This is covered as an issue by the wiki for Asahi Linux:
https://github.com/AsahiLinux/docs/wiki/Broken-Software

https://github.com/rust-lang/rust/issues/100180

[2022-08-05 23:55] compiler-errors commented on #100176
For the record I was working on this, sorry for not claiming this... Anyways, let me know if you don't get around to this. Seems like you've claimed a few issues in the past hours @chenyukang.

[2022-08-05 23:56] compiler-errors commented on #100177
The diagnostic needs to be suppressed in this case, but also I don't know why this works but it's probably due to normalization and substitution somewhere :thinking:

[2022-08-05 23:57] compiler-errors commented on #99820
Fixed by #99943

[2022-08-06 00:27] workingjubilee commented on #100182
We don't seem to document those for other collections either, only the methods that can be directly compared, so we probably should try to set an actual policy on these before we document them, considering that VecDeque has more implementation variance.

[2022-08-06 00:30] chenyukang commented on #100165
Trying to add a method in token:

[code]

And add a check:
[code]

Any other better idea? @gimbles

[2022-08-06 01:17] workingjubilee commented on #100161
This issue is found in Rustup. Can someone transfer this there?

Unfortunately quite a lot of action happens right after that message. It may be due to SHA2 acceleration, or it may even have been a malformed instruction. https://github.com/rust-lang/rustup/issues/595

But it may also be due to OpenSSL.
https://github.com/rust-lang/rustup/issues/1565

Would you please run this in the shell?
[code]

[2022-08-06 01:53] #98215 closed

[2022-08-06 02:21] chenyukang commented on #100176
I haven't started this one, released it, please go ahead.
It's funny and also helpful to learn some Rust internals, starting with some trivial fixes 😁

[2022-08-06 03:06] workingjubilee commented on #100110
Mmm. Pushing a repo might have been more to-the-point.
What is the exact build command you used?

[2022-08-06 04:11] samothx commented on #100161
cat /proc/cpuinfo | grep 'flags' | uniq

flags		: fpu de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 syscall nx lm nopl cpuid tsc_known_freq pni cx16 hypervisor lahf_lm svm abm sse4a 3dnowprefetch vmmcall

[2022-08-06 04:12] samothx commented on #100161
I also found this in dmsg:
[109268.842512] traps: rustup-init[37790] trap invalid opcode ip:55bdc536d208 sp:7ffe5633c1d0 error:0 in rustup-init[55bdc4e00000+a88000]
[109586.401035] traps: rustup-init[38248] trap invalid opcode ip:557e4f76d208 sp:7fffcf846240 error:0 in rustup-init[557e4f200000+a88000]
[110370.282129] traps: rustup-init[39127] trap invalid opcode ip:5586a4f6d208 sp:7ffc96683e20 err

[2022-08-06 04:52] piedoom commented on #100000
❤️ 🦀 ❤️

[2022-08-06 05:05] matthiaskrgr opened #100187 "ICE: Region parameter out of range when substituting in region 'b (index=4)"
### Code
reduced from `src/test/rustdoc/async-fn.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./async-fn.rs -Zsave-analysis --edition=2021  --crate-type lib`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-06 05:18] matthiaskrgr commented on #100179
Can you reproduce this on nightly?

[2022-08-06 05:20] eddyb commented on #99684
@danielhenrymantilla Isn't that just like my earlier suggestion in https://github.com/rust-lang/rust/issues/99684#issuecomment-1196585508, except without the protection from users defining e.g. inherent `__by_ref` methods that would end up with higher priority than the one the macro intends to call?

[2022-08-06 05:28] chenyukang commented on #100153
Which rustc version, I use this code and it compiles without error：

[code]

[code]

[2022-08-06 05:32] compiler-errors commented on #100176
Thank you @chenyukang. Sorry for the mistake, and I am excited for you to get involved more in the compiler :)

@rustbot claim

[2022-08-06 05:47] saethlin commented on #100164
Can you get a backtrace to this by running the build under gdb then running `backtrace` when the SIGKILL hits?

[2022-08-06 05:48] saethlin commented on #100164
I can easily imagine this compilation using 32 GB or more, question is why

[2022-08-06 07:07] chenyukang commented on #100187
@rustbot claim

[2022-08-06 07:25] mati865 commented on #100164
You should check dmesg and journal if there are any mentions of killed process.

[2022-08-06 07:30] workingjubilee commented on #97540
Hmm. It kinda sucks that we don't use higher-level information from MIR or thereabouts to annotate types with "wants vectorization" and "doesn't want vectorization". MIR is about where we know which cases of `(isize, isize)` would prefer to go into a vector register and which would be just as happy being passed in two general registers.

[2022-08-06 08:02] yasuo-ozu commented on #29625
@bjorn3
Thanks for replying.

Do you have any standings for preventing higher-order signaitures as mentioned below?
https://github.com/rust-lang/rust/issues/29625#issuecomment-991226468

[2022-08-06 08:10] workingjubilee commented on #67674
This no longer appears to crash?

[2022-08-06 08:11] workingjubilee commented on #63018
This no longer appears to crash? It's probably still a bad idea to allow people to specify incorrect functions when we know they are dubious at best, though.

[2022-08-06 08:15] Soveu opened #100189 "Tracking Issue for `extended_varargs_abi_support`"
This is a tracking issue for extending available ABIs for var-args functions to support `aapcs`, `win64`, `sysv64` and `efiapi`.
The feature gate for the issue is `#![feature(extended_varargs_abi_support)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design

[2022-08-06 08:53] Sejsel opened #100190 "Missing docs for panics when slicing with ranges out of bounds"
### Location
Somewhere near slices and ranges, maybe in sliceable types as well.

### Summary
Currently there doesn't seem to be any documentation on slices (both `std::slice` and the primitive type) or ranges for their panic behavior when range indices are out of range (unless I missed it somewhere).

This notably means I cannot find any documentation for the following behavior ([playground](http

[2022-08-06 09:21] matthiaskrgr opened #100191 "ICE: with_negative_coherence + specialization"
Seems that both these snippets trigger the same ICE
`rustc ./43037.rs -Zcrate-attr="feature(with_negative_coherence)"`

### Code
glacier/fixed/45814.rs
[code]

### Code
glacier/fixed/43037.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-06 09:41] bjorn3 commented on #29625
I don't know how to support higher-order signatures while at the same time preventing multiple call signatures for a type other than keeping Fn* perma-unstable.

[2022-08-06 10:31] gimbles commented on #100165
1. This could be the `macro` keyword, as well.
2. That looks *alright*, ideally the repeated block could be prevented using a macro? I'm afraid that might slightly overengineer it, though. 😂

[2022-08-06 10:43] gimbles commented on #100179
While this [does ICE on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=bb9cd9f84db1c28090463bd6884be53e), it [doesn't on latest nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bb9cd9f84db1c28090463bd6884be53e).

[2022-08-06 10:46] gimbles commented on #100164
I mean...

I'm not exactly *surprised* that Rustc is taking more than 32 gigabytes of memory to compile **30000** patterns in a single match statement.

[2022-08-06 10:51] peterjoel commented on #29625
Changing the Fn* traits to make the arguments an associated type could
accomplish that. It would break the symmetry with Fn*() constraints though.

Peter

[2022-08-06 11:27] zseri commented on #29625
@peterjoel but that wouldn't scale to function-like objects with generic arguments, for which an associated type wouldn't work. What we really want to prevent here are functions with multiple simultaneous argument counts (because varying argument types is already possible, although a bit complicated, using sealed traits), which could be solved with 2 additional traits (one for tuples, one for func

[2022-08-06 11:51] aldanor commented on #100179
It looks like it doesn't on nightly, indeed. I'm not sure what the policy is though, an ICE on stable (even though not occurring on nightly) is still an ICE?

[2022-08-06 11:55] gimbles commented on #100179
Well, yes, it's still an ICE. But it is now fixed!

[2022-08-06 11:55] bjorn3 commented on #29625
Closures can't be generic either.

[2022-08-06 12:37] jannau commented on #100180
I'm thinking if it wouldn't make sense to fix this problem in rust itself. The problem is not limited to Arch Linux ARM but will affect every distribution which enables jemalloc and builds on systems with 4k page size. Based on https://github.com/jemalloc/jemalloc/issues/467 it seems to be unrealistic to expect jemalloc to ever work with dynamic page sizes.
So it would make sense t ensure within r

[2022-08-06 12:45] Amdahl-rs commented on #100164
Why need 30000 patterns in a single match.Because I can't find a suitable way for the following modes:
**“Association type cannot dyn”**

[code]

[2022-08-06 13:28] yasuo-ozu commented on #29625
@zseri

Is this really harmful? it looks fine in current unstabilized `fn-traits`:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=157729b98808b439ecc992e4ba59273e

[2022-08-06 13:35] danielhenrymantilla commented on #99684
@eddyb yeah, totally[^robustness], sorry for the redundant suggestion 🙇, I somehow scrolled past your post.

  - so, would the suggested workaround tackle the remainging two-phased borrows failures?

[^robustness]: I had left the part where we make `by_ref` more robust to clashes for a later stage, since we know it's doable (and with `opaque`/ def_site hygiene, it would even be trivial)

[2022-08-06 13:46] bjorn3 commented on #29625
It may be fine from a technical perspective, but from a language perspective we have chosen to not allow function overloading. See for example https://internals.rust-lang.org/t/justification-for-rust-not-supporting-function-overloading-directly/7012, https://users.rust-lang.org/t/is-it-possible-to-specialize-hashmap-index-for-copy-types/7750/5, https://users.rust-lang.org/t/what-is-the-reason-for-

[2022-08-06 14:26] petrochenkov commented on #99425
Known issue: `fn find_library` in the compiler still falls back from `"{target_staticlib_prefix}{name}{target_staticlib_suffix}"` to `"lib{name}.a"` even if `+verbatim` is enabled, it shouldn't do that.

[2022-08-06 14:41] Rageking8 opened #100197 "Recover from mutable variable declaration where ```mut``` is placed before ```let```"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should suggest to move the ```mut``` to behind the ```let```, since the current error message does not identify the problem accurately.

[2022-08-06 15:10] #99387 closed

[2022-08-06 15:16] nyxtom commented on #29625
I recently did some experiments with function traits that requires the use of trait specialization to get it working.

https://github.com/nyxtom/composition/blob/main/src/lib.rs

[code]

Specifically it allowed me to compose between two functions that is already a tuple being returned and apply them as arguments, or in the natural case where the return value is a single type.

[code]

Does this co

[2022-08-06 15:39] yoshuawuyts commented on #91642
@cryptoquick the stdlib doesn't provide any other APIs for concurrenly `.await`ing futures right now, no. You can look at the `futures`, `async-std`, `tokio`, and `futures-lite` ecosystem crates for various variations on the `join!` functionality provided here.

Additionally I've been experimenting with alternative static async concurrency designs and writing about them in my [blog](https://blog.y

[2022-08-06 16:02] leonardo-m opened #100198 "[ICE] with lines()"
This reduced code:

[code]

Gives:

[code]

Using:

[code]

[2022-08-06 16:05] yasuo-ozu commented on #29625
@bjorn3 Thanks very much, but I cannot understand the difference of *higher-order function arguments* and *arbitrary function signatures*(function overloading) clearly.

Thinking of this example, what is the main factor to distinguish the two concepts?

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c13f39de7df4c9fbc26b19fd7da4a197

Is this the correct way forcing not to u

[2022-08-06 16:09] bjorn3 commented on #29625
Higher-order function arguments is when the function arguments only differ by lifetimes.

[2022-08-06 16:14] yasuo-ozu commented on #29625
@bjorn3 If so, the following is different signaitures?

[code]

[2022-08-06 16:19] dvdsk opened #100199 "ICE: index out of bounds: the len is 0 but the index is 0 in emitter.rs"
I am still working on a minimal example however that takes a bit more time. I checked whether this is a duplicate but I would like have a second opinion before I continue as I have missed duplicates in the past :( . Once I have that I will minimize this further. I also would not mind taking a crack at fixing this one (I might need some mentor ship though).

### Code
See this commit: https://github

[2022-08-06 16:37] SNCPlay42 commented on #100198
I haven't been able to reproduce this, even on the exact toolchain being used (`x86_64-pc-windows-gnu`). The code builds without ICE, and - modified to produce output and given different input - appears to produce correct results.

Judging by the message and stack trace, this is due to a broken .rmeta/.rlib file. Is this being built as a cargo project with any dependencies? Otherwise I think maybe

[2022-08-06 16:42] parasyte commented on #29625
`"hello".to_owned()` and `vec![1,2,3]` have the same lifetime (they are stack-allocated). `&'static T` is special because it is valid for every lifetime.

[2022-08-06 16:46] Lokathor commented on #29625
if by stack you mean heap, yes

[2022-08-06 16:48] parasyte commented on #29625
They both happen to point to the heap, but the structs themselves are stack-allocated when used in the argument position like that. Or when assigned to a variable with a `let` binding, for instance.

[2022-08-06 17:07] Lokathor commented on #29625
Anyway, the fact that people can already make up their own trait based operator overloading, and even paper over the arity issue with a do_call! macro or whatever, means that there's not much reason to make the Fn traits themselves specifically and magically reject the possibility of overloading. We're just giving people a hard time.

I found tour first reference link as to why not function overlo

[2022-08-06 17:10] petrochenkov commented on #97755
Fixed in https://github.com/rust-lang/rust/pull/100200.

Sorry for the delay, I should have fixed this two months ago.
@tschuett could you test the fix on Darwin?

[2022-08-06 17:12] petrochenkov commented on #97402
Update: https://github.com/rust-lang/rust/pull/100200 uses the strategy described in https://github.com/rust-lang/rust/issues/97402#issuecomment-1147404520 to fix https://github.com/rust-lang/rust/issues/97755.

[2022-08-06 17:21] leonardo-m commented on #100198
It was built with just rustc (so with zero dependencies).

[2022-08-06 17:30] compiler-errors commented on #100176
This is a dupe of #80481

[2022-08-06 17:45] nyxtom commented on #29625
This has been my experience (as I've seen implemented in other places). One macro to implement arity to fix the `Fn(A)`, `Fn(A, B)`..etc and another to be able to call with `do_call!(A, B, C)`. Having the generics on the actual trait here `Fn<Args>` makes this less difficult to work with and avoids the extra macro expansion. That being said, it's not strictly required to have an `impl Fn<Args> for

[2022-08-06 17:50] #100103 closed

[2022-08-06 17:50] #100140 closed

[2022-08-06 18:04] notriddle opened #100204 "Docs regression on crate teloxide-0.10.1"
# Behavior, describe in zulip thread

https://docs.rs/teloxide/0.10.1/teloxide/struct.Bot.html has an inherent impl block, but it is not shown. https://docs.rs/teloxide/0.10.0/teloxide/struct.Bot.html (which was built with an earlier version of rustdoc) shows it.

# Regression information

searched nightlies: from nightly-2022-08-03 to nightly-2022-08-04
regressed nightly: nightly-2022-08-04
searc

[2022-08-06 18:11] aliemjay commented on #100187
I've just hit it independently:
[code]

Regressed in f6f9d5e73..affe0d3a0, most likely #99867. cc @spastorino.

[2022-08-06 18:12] Skepfyr commented on #43467
I haven't been involved in this so far but I'm going to attempt to summarize where this is in the hope that it allows some forward progress.

The [original RFC](https://github.com/rust-lang/rfcs/blob/master/text/1861-extern-types.md) kind of relied on the [custom DSTs RFC](https://github.com/rust-lang/rfcs/pull/1524) which has been postponed, this means some of the workarounds mentioned may need t

[2022-08-06 18:53] matthiaskrgr commented on #100187
interesting, so this does neither require async nor `-Zsave-analysis` actually :slightly_smiling_face:

[2022-08-06 18:58] compiler-errors commented on #100176
Uh, sorry, actually not a dupe. That's impl level, this is method level. I think there were legitimate concerns with hiding whole impls in that other issue. Reopening this, andf I'll probably solve this first.

[2022-08-06 19:44] ChrisDenton commented on #100198
Hm, I'm also unable to reproduce with nightly `rustc`:

[code]

Are there some command line arguments I should be trying?

[2022-08-06 19:50] leonardo-m commented on #100198
I'm just using:

    rustc test.rs

[2022-08-06 19:53] not-matthias commented on #100000
❤️🦀❤️

[2022-08-06 19:55] ChrisDenton commented on #100198
Huh, weird that we're getting different results. I'm currently unable to figure out why.

[2022-08-06 19:58] leonardo-m commented on #100198
It isn't your fault ChrisDenton, thank you for helping :-)
 SNCPlay42 wrote "maybe your toolchain's installation has been corrupted somehow". So let's wait for the successive Nightly. I several years I've seen many weird things with rustc :-)

[2022-08-06 20:19] obeis commented on #100197
@rustbot claim

[2022-08-06 20:49] Mark-Simulacrum commented on #21192
Given that box syntax is currently permanently unstable and potentially on a deprecation path, I don't think this issue is too useful. Closing.

[2022-08-06 20:49] #21192 closed

[2022-08-06 21:16] cr0wg4n commented on #100000
🦀❤️

[2022-08-06 21:29] compiler-errors commented on #84128
Gonna reopen this since I regressed this (intentionally, the original fix had some side-effects)

[2022-08-06 21:29] compiler-errors commented on #84128
@rustbot claim

[2022-08-06 21:31] simonbuchan commented on #43467
Nice summary!

Interestingly, if we had `#[repr(unsized)]` it would seemingly be redundant with `extern { type Foo; }`, as you could use `#[repr(unsized)] struct Foo`. That implies that it should be spelled `extern { struct Foo { head: u32, } }`.

[2022-08-06 21:34] couleurm commented on #100000
wouldve sucked if you prepared this message only for you not getting the 100kth, happy you did though

[2022-08-06 21:34] RalfJung commented on #77745
The current requirements on `const_eval_select` reflect an abundance of caution. I am not aware of there being anything fundamentally wrong with having functions that behave differently at compile-time and run-time, and allowing such differences would also bring float-in-const a lot closer to stabilization. However, that should be done very explicitly, not as a byproduct of introducing an intrinsi

[2022-08-06 21:36] Lokathor commented on #77745
For something of this magnitude the additional publicity of an RFC would be essential.

[2022-08-06 21:58] evanrichter commented on #99886
This issue also occurs when compiling the fuzz harness of multer-rs: https://github.com/rousan/multer-rs and adding `RUSTFLAGS="-Cllvm-args=-experimental-debug-variable-locations=0"` fixes the issue here too

[2022-08-06 21:59] RalfJung commented on #77745
Another question that the RFC probably needs to settle at the same time: must a `const fn`, when called at runtime in a way that it could also have been called at compile-time, always behave deterministically and without side-effects (other than writing to references explicitly given to the function)?

This is currently true, and it is *potentially* useful for unsafe code: given a `const fn`, unsa

[2022-08-06 22:14] Robert-Cunningham commented on #95092
@rustbot claim

[2022-08-06 22:56] Mark-Simulacrum commented on #100204
@notriddle it sounds like the regression here was introduced in https://github.com/rust-lang/rust/pull/99738, which was backported to 1.63 beta (releasing in <1 week). Is that right?

If so, I assume that we should review + backport #100207 into 1.63 and 1.64, correct?

[2022-08-06 22:58] Mark-Simulacrum commented on #100204
On the other hand, it looks like #99738 was a stable/stable regression, so it may make sense to back out the backport of that PR instead -- it makes me a little nervous that we already encountered one regression introduced by it (i.e., this issue); we don't have a lot of time for things to bake and get reviewed.

[2022-08-06 23:47] Mark-Simulacrum commented on #30784
I agree that this doesn't seem particularly useful to keep open - this is just linker behavior, and rustc doesn't even invoke/care about linker search paths itself for the most part.

[2022-08-06 23:47] #30784 closed

[2022-08-07 00:18] andoriyu opened #100215 "Internal Compiler Error when compiling/checking sea-orm 0.9.1 crate."
### Code
Here is a minimal repo: https://github.com/andoriyu/rust-ice

I think just having dependencies in `Cargo.toml` is enough to trigger it:
[code]

### Meta

`rustc --version --verbose`:
[code]

Worked fine* on `rust version 1.62.1 (e092d0b6b 2022-07-16)`

* There were some changes to project since then, but I don't think it effects it since error is from dependency and not my code.

### Erro