[2016-02-09 18:36] asajeffrey commented on #31518
Discussed on irc with @durka.

[2016-02-09 18:37] durka commented on #31518
If the expansion code for `#[derive(Debug)]` were smart enough to add `where Baz<F>: Debug` to the impl, then it would work. I'm not sure if this is too much magic or not, but I plan to take a look.

[2016-02-09 18:38] johnzachary commented on #27801
Awesome. Thank you!

[2016-02-09 18:39] durka commented on #31518
Here's a [playpen](http://is.gd/QkEn1j) with the pretty-expanded form of the original code, with the bound on line 26 added to make it compile.

[2016-02-09 18:54] jonas-schievink commented on #31518
Duplicate of #26925

[2016-02-09 19:19] nikomatsakis commented on #27715
Even though I was an initial advocate for (and proposer of) scoped TLS, I think it's good to deprecate it. One major limitation that I didn't fully appreciate at the time is that the `T` of the variable must meet `T: 'static`, which tends to rule out a lot of the uses I've had in mind. At least without some unsafety. e.g., in the compiler we do some tricks to put a `&ty::ctxt<'tcx>` in there.

[2016-02-09 19:32] durka commented on #31518
Hmm yep and it's basically unfixable as per the discussion there, at least with structs which can have private members, because adding `where Baz<F>: Debug` could hit "private type in public type signature". Hackish ways I can think of to get around that are exempting derived impls from that error, or allowing users to specify additional necessary bounds (ick): `#[derive(Debug(Baz<F>))]`.

[2016-02-09 19:57] nagisa opened #31521 "asm-src-loc-codegen-units test fails spuriously"
The test may fail spuriously due to interleaved output:

[code]

Note how a bunch of actual diagnostics are interleaved and thus the error message we’re looking for gets broken.

[2016-02-09 20:31] asajeffrey opened #31522 "Named functions don't implement Debug"
Trying to compile (https://play.rust-lang.org/?gist=3b38f384f0f7ddecc142&version=stable):
[code]
It seem that named functions have to be coerced to anonymous ones in order to implement `Debug`. This means any structs containing functions don't derive `Debug`, which makes unit testing tricky.

[2016-02-09 20:46] asajeffrey commented on #31518
Yes, for the case:
[code]
you'd need the derivation for `Bang<F>: Debug` to recursively get the bounds for `Baz<F>: Debug`, which are `F: Foo+Debug`. This sounds tricky.

[2016-02-09 20:49] durka commented on #31518
It's worse than tricky. If you turn them into structs

[code]

then you aren't even allowed to write the necessary bound.

[2016-02-09 20:50] asajeffrey commented on #31518
Isn't the bound `F: Debug+Foo`?

[2016-02-09 20:54] durka commented on #31518
Actually the most specific bound is `F: Foo, <F as Foo>::Bar: Debug` but that's not discoverable from the point of view of `#[derive]`. An equivalent bound is `F: Foo, Baz<F>: Debug` but you can't write that due to the privacy error.

[2016-02-09 20:55] asajeffrey commented on #31518
You could recursively derive the bounds for `Baz<F>: Debug`, which are `F: Foo+Debug`.

[2016-02-09 20:58] durka commented on #31518
Yeah, I could, but `#[derive]` can't, unless we add some magic syntax as suggested in the other issue, or if the privacy checker tried that before triggering an error.

[2016-02-09 20:59] asajeffrey commented on #31518
Yes, it sounds like `#[derive]` is missing enough type information to be able to do the recursive call.

[2016-02-09 21:01] alexcrichton commented on #31521
This was a problem long ago and was fixed via 013d47b19b25b94e9740f725425bc836bac6efde, but perhaps some stuff around how we output errors has changed? The fix is likely still similar.

[2016-02-09 21:07] nagisa commented on #31521
cc @nrc likely a regression from the structural errors refactoring.

[2016-02-09 22:24] nrc commented on #31521
More likely the other work I've been doing on handling errors without panicking.

[2016-02-09 22:31] Zoxc commented on #31505
I've filed a LLVM bug for this: https://llvm.org/bugs/show_bug.cgi?id=26554

[2016-02-09 23:12] arielb1 commented on #31504
Nominating because regression.

[2016-02-09 23:43] Aatch commented on #31508
This seems like very strange behaviour to me. I'm not sure if "some pointers can't be null" is a sensible reason for this behaviour at all.

[2016-02-10 00:02] alexcrichton commented on #31508
The supported added in #12556 (the indirection here) was only really intended for weak symbols. Weak symbols are currently required to be pointers as otherwise this is not memory safe:

[code]

because `fn` types aren't nullable. I believe it was intended that this `linkage` restriction was detected at compile-time in some typechecking pass, although I'm not sure if that was ever implemented.

[2016-02-10 00:32] #29339 closed

[2016-02-10 00:32] #29376 closed

[2016-02-10 01:07] kvark commented on #31504
@nagisa thanks for composing the test case!

[2016-02-10 01:35] nrc opened #31528 "When tokenising, use semi-colons to hint error recovery"
e.g.,

[code]

When we hit `}`, we know that the delimiters are mismatched, we currently close all the token trees to recover, but that then gives us a bunch of errors in parsing. We should rewind to the `;` and treat that kind of like an EOF, closing the `(` and then continuing to tokenise from the `;`.

Annoyingly we can't do this eagerly since `;` could always be expected. For parens though, th

[2016-02-10 01:54] durka commented on #31522
I guess it would have to be an impl-by-compiler-magic since they are all separate types. Would you expect it to print out the memory address like the casted version (which, as I understand it, may not even exist due to inlining etc) or the function name?

[2016-02-10 02:02] nikomatsakis commented on #31504
Storing the normalized type seems reasonable to me as a first step, though @arielb1 I'd expect typeck to revalidate that.

[2016-02-10 02:24] nikomatsakis commented on #31504
However, the problem that @arielb1 referred to of having to re-run region inference suggests that perhaps there *is* a reason to resurrect that old patch of mine that "extracts" regions and types rather than inferring them when doing trait matching. It would avoid the need to re-run inference, I believe. (Also, lazy normalization seems like it would help here too, of course.)

[2016-02-10 03:12] infinity0 opened #31529 "tests.mk/runtest.rs splits RUSTFLAGS/host_rustcflags,target_rustcflags inappropriately"
edit: **TL;DR:** tests.mk and runtest.rs respectively split `RUSTFLAGS` and `{host,target}_rustcflags` inappropriately; reproduce this in rust upstream (1.8 and earlier) by:
- test.mk bug: set `RUSTFLAGS="-C link-args=\"-Wl,-Bsymbolic-functions -Wl,-z,relro\""` when building tests
- runtest.rs bug: set `RUSTFLAGS="-C link-args='-Wl,-Bsymbolic-functions -Wl,-z,relro'"` when running tests.

**These

[2016-02-10 03:18] infinity0 commented on #31529
Hm, it could be due to the double-quoting of `{host,target}-rustcflags`. On Ubuntu, that would get broken by the shell into two separate options to `compiletest`:

[code]

[2016-02-10 03:26] infinity0 commented on #31529
Oh, looks like this might be the fault of the Debian packaging - we have `RUSTFLAGS = -C link-args="$(LDFLAGS)"` somewhere near the top. I'll change those to single quotes and try again. Sorry for the noise.

[2016-02-10 03:54] asajeffrey commented on #31522
The function name would be best, even just "..." would be fine,  currently we can't use unit tests with assert_eq with any type which contains a named function.

[2016-02-10 05:31] jseyfried commented on #28777
@eddyb This can be closed -- #30375 fixed it and added a test.

[2016-02-10 05:40] dirk commented on #31497
I'm giving this a shot with changing it to only accept identifiers as valid cfg's.

[2016-02-10 06:01] #28777 closed

[2016-02-10 06:46] jethrogb commented on #31508
I guess this bug in particular is about the non-weak pointer case. However, I think the weak pointer case also warrants more discussion, for which I've opened a [topic on internals.r-l.o](https://internals.rust-lang.org/t/weak-linkage/3165).

Here's the code in question btw: https://github.com/rust-lang/rust/blob/3e9589c/src/librustc_trans/trans/foreign.rs#L139-L145 . It does not distinguish at al

[2016-02-10 06:48] #31463 closed

[2016-02-10 08:44] Ecco opened #31531 "Symbols are removed from object file when optimizations are enabled"
Consider this very simple sample code, referred to as `test.rs` hereinafter:

[code]

When compiling it without optimizations, we get the following result:

[code]

If we enable optimizations (like `cargo build` does) we get this:

[code]

My understanding is that it is not the compiler's job to trim this (apparently) unused symbol from the object file, but the linker's. Indeed, one could imagine

[2016-02-10 09:21] infinity0 commented on #31529
OK, that temporarily fixed the compile but then there are other issues. Actually there *is* a bug in rust, in `runtest.rs`.

The build failures are now like this:

[code]

This suggests that rustc is being passed the wrong flags. And indeed it is:

[code]

This is called several times (in the same file) as `split_maybe_args(&config.{host,target}_rustcflags)` and these invocations are not appropria

[2016-02-10 09:40] infinity0 commented on #31529
Ideally, one should also [be able to use double quotes](https://github.com/rust-lang/rust/issues/31529#issuecomment-182180855) in RUSTFLAGS (like matching behaviour for CXXFLAGS, etc), and to fix this you would fix these lines in `mk/tests.mk`:

[code]

One would shell-quote the args in "[..]", e.g. by using the `quote` bash utility.

[2016-02-10 10:05] nbaksalyar commented on #31363
@Zoxc filed an LLVM bug: https://llvm.org/bugs/show_bug.cgi?id=26554
Here's a linked issue: #31505

[2016-02-10 10:11] zetok opened #31533 "documentation test fails with library"
I've tried to document something in crate I'm making, and `cargo test` panicked on documentation test.

Reproducible: Always
Note that it's not reproducible if crate is not a lib.

Most reduced doc which fails to pass documentation test:
[code]

Steps to reproduce:
1. Create new library with `cargo new lib`
2. Append test case to `lib/src/lib.rs`
3. Run `cargo test`

↑ which results in:
[code]

Ru

[2016-02-10 11:35] bluss commented on #31505
Good job! What a nightmare bug to identify.

[2016-02-10 11:48] ollie27 commented on #31533
rustdoc interprets anything in a code block as a test and tries to run it. You can avoid that by doing:
[code]
See https://doc.rust-lang.org/nightly/book/documentation.html for more information.

[2016-02-10 11:57] semarie commented on #31363
\o/

[2016-02-10 12:52] zetok commented on #31533
Oh, ok, thanks. I didn't expect that something in comments would be run. Sorry for the issue.

[2016-02-10 12:52] #31533 closed

[2016-02-10 13:18] bluss opened #31536 "std `c_void` and libc `c_void` are different types"
Using libc v0.2.7 and rustc 1.8.0-nightly (34af2de40 2016-02-05)

[code]

[code]

These must be compatible, otherwise we cause incompatibilities in the ecosystem.

[2016-02-10 14:00] petevine commented on #31503
Doing a `-C target-cpu=pentium2 -C target-feature=+sse2` immediately destroys performance (compared to just the first option):

[code]

Looks like the autovectorizer might be too eager.

[2016-02-10 15:56] ollie27 commented on #27809
As far as I can tell the only real reason not to stabilise these methods is the name so here are some random possibilities:

* `make_ascii_uppercase()`
* `make_uppercase_ascii()`
* `to_ascii_uppercase_in_place()`
* `uppercase_ascii()`
* `uppercase_as_ascii()`
* `in_place_uppercase_ascii()`
* `make_ascii_uppercase_in_place()`
* `uppercase_ascii_in_place()`
* `ascii_uppercase_in_place()`

etc...

I

[2016-02-10 17:19] dotdash commented on #31435
This is at least partially caused by the new AA handling which ends up being quadratic in the number of used passes. I've filed an LLVM bug at https://llvm.org/bugs/show_bug.cgi?id=26564

[2016-02-10 17:20] nikomatsakis commented on #27060
I don't know, packed is used widely enough, and the vast majority of
uses are fine. I expect the fix will come in a month or two, once the
MIR transition has made more progress, but perhaps that is wildly
optimistic.

On Sun, Feb 07, 2016 at 01:48:31PM -0800, Nick Cameron wrote:

[2016-02-10 17:23] #31495 closed

[2016-02-10 17:25] nikomatsakis commented on #31380
Sorry, what is a multispan? :)

[2016-02-10 17:37] jonathandturner opened #31538 "Writing to values after giving up ownership doesn't error"
Taking this example:

[code]

Currently, Rust nightly doesn't error on the 'data.x = 2' line, even though we've given up ownership to data.  The error does appear if you uncomment the following line and try to do something a little less trivial than assigning to an i32.

Should we treat them the same and warn of *any* use, whether reading or writing, of any field of a value that we no longer own?

[2016-02-10 17:42] alexcrichton commented on #31536
This is an [unresolved question](https://github.com/rust-lang/rfcs/blob/master/text/1291-promote-libc.md#unresolved-questions) in the design of libc, and it's mostly a libc-specific issue, so I'm going to close in favor of https://github.com/rust-lang-nursery/libc/issues/180

Which is to say that the current setup is indeed intentional, and in light of https://github.com/rust-lang/rfcs/pull/1415 i

[2016-02-10 17:42] bluss commented on #31536
libc bindings desperately needs a _single source of truth_. Can `libcore` be the central point? It would put an end to incompatibilities between different libc versoins too.

[2016-02-10 17:43] bluss commented on #31536
std depending on in-tree libc only enables conflicts between different versions of libc. `libcore` on the other hand, is guaranteed to be used in only one single version.

[2016-02-10 17:51] bluss commented on #31536
As long as you insist this is a libc bug only, we can't have a nice solution. Can you point me to why we cannot define these types in some subcrate of libstd?

[2016-02-10 17:51] semarie commented on #31363
I confirm that reverting the LLVM patch `rL253557` ("Alternative to long nops for X86 CPUs") permit to solve the issue (build and testsuite).

[2016-02-10 17:53] arielb1 commented on #31538
Why should it error?

[2016-02-10 17:54] bluss commented on #31538
The behavior after `data` is moved from is pretty haphazard, for example

[code]

[2016-02-10 18:01] alexcrichton commented on #31529
Yeah right now most of our tools don't deal well with quoted or sub-quoted arguments. I'm sure the makefiles are a mess in terms of how they pass variables to each tool, and then all our tools currently just split on spaces rather than attempting to interpret quotes, quote escapes, etc.

Seem like a legit bug!

[2016-02-10 18:04] nikomatsakis commented on #29485
On Thu, Feb 04, 2016 at 02:48:48PM -0800, Björn Steinbrink wrote:

Great.

[2016-02-10 18:04] jonathandturner commented on #31538
@arielb1 - it's a totally fair question.  For me it's about having a mental model that's simple to explain for how ownership works after you've handed off ownership of your data.  Like @bluss shows, the current behavior is a mix of errors and non-errors, depending on what you're doing.

I think a simpler mental model might be something like "after you hand off ownership, any read or write to the d

[2016-02-10 18:05] alexcrichton commented on #31536
We've avoided having these types in libcore, and this basically has to be a libc change as `std::os::raw::c_void` is stable. Along those lines I don't really see how this is an actionable issue other than serving as a place for discussion, which can also happen in the libc repo.

Do you have a concrete plan of action in mind though that affects libstd?

[2016-02-10 18:10] bluss commented on #31536
yes, c_void is stable, but it can move to libcore.

[2016-02-10 18:35] alexcrichton commented on #31538
Thanks for the report! I think this is the same as https://github.com/rust-lang/rust/issues/26665 which is in turn described more thoroughly in https://github.com/rust-lang/rust/issues/21232, so I'm going to close in favor of that.

[2016-02-10 18:35] #31538 closed

[2016-02-10 18:40] alexcrichton commented on #31536
The libs team [decided recently](https://github.com/rust-lang/rust/pull/30594#issuecomment-179550823) that due to how libcore stabilization and interoperability with libstd works we need to be quite careful about stabilizing items in libcore. We also agreed that there needs to be motivation for moving an item to libcore as opposed to simply "this works currently".

I would personally not view this

[2016-02-10 19:10] SimonSapin commented on #28356
Another use case for `strong_count`:

The `heapsize` crate traces through things and counts heap-allocated memory. Doing so with `Arc<T>` or `Rc<T>` is tricky: https://github.com/servo/heapsize/issues/37. One idea is to divide by the strong reference count: consider that each reference "owns" a fraction of the memory.

[2016-02-10 19:19] #27607 closed

[2016-02-10 20:28] nrc commented on #31380
@nikomatsakis a MultiSpan is like a Span, but covers multiple disjoint spans.

[2016-02-10 20:34] llogiq commented on #31512
Seeing that we already have a few, _post methods, I think adding some more will be an acceptable solution here. I'll have a PR shortly.

[2016-02-10 20:38] bluss opened #31543 "Warn for type parameter defaults on `impl` blocks"
If I understand correctly, type parameter defaults have no effect in the block `impl<T = default> Foo<T> { }`.

Just like in PR #30724, this should have a warning and then an error.

Example [(playground) ](https://play.rust-lang.org/?gist=08052df3fced5418fcde&version=nightly)
[code]

cc @nikomatsakis

[2016-02-10 20:51] japaric opened #31544 "`copy_nonoverlapping` optimizes to a `__aeabi_memcpy` function that recurses infinitely"
on a custom target with `no-compiler-rt: true`.

This binary:

[code]

Was generated by this cargo project:

[code]

`thumbv7m-none-eabi.json`

[code]

[code]

[code]

### Version

[code]

### Workarounds

- Define `__aeabi_memcpy4` as a loop instead of using `rlibc::memcpy` then you can drop the `rlibc` dependency. But depending on how you write the definition you may end with infinite recursion

[2016-02-10 20:53] japaric commented on #31531
rust-lang/rfcs#1459 proposes a `#[used]`/`#[preserve]` that would force the compiler to preserve the symbol even when it's unused.

[2016-02-10 21:10] bltavares commented on #9607
Triaging:

Updated the latest snippet by removing the MarkerTrait.

[code]

Output:
[code]

[2016-02-10 21:55] nodakai commented on #30936
Possible duplicate of #26264

[2016-02-10 21:55] nodakai commented on #28556
Possible duplicate of #26264

[2016-02-10 22:30] durka opened #31546 "--color=always still checks for a terminal before printing colors"
rustc --color=always foo.rs 2>&1 | cat

This produces colored output on 1.6.0, but not 1.7.0 or 1.8.0. Related to rust-lang/rust-playpen#174, cc @nrc.

[2016-02-10 22:46] durka commented on #31546
Also related to #29999, @Stebalien do you have any thoughts?

[2016-02-10 22:51] TimNN commented on #31546
I also commented on the playpen issue and think that some change (maybe #29999) changed `term::stderr()` so that it no longer returns `Some(_)` if `stderr` is not a tty or something like that.

[2016-02-10 23:35] nrc commented on #31546
A fix for this should get uplifted to Beta (not sure how to signal that with the available labels).

[2016-02-11 00:03] alexcrichton commented on #31544
Is the problem here that LLVM recognizes `__aeabi_memcpy4` as an implementation of `__aeabi_memcpy4` and then tries to lower it to calling itself? The rlibc crate currently solves that via `#![no_builtins]`, and maybe that would help here as well?

[2016-02-11 00:06] alexcrichton commented on #31531
The relevant logic for this I believe [is here](https://github.com/rust-lang/rust/blob/5d771cd5b3c736f8217ff49d57a409b7587279b7/src/librustc/middle/reachable.rs#L231-L243) and may just be a bit too eager. There's a few other locations that we check for "extern fn or #[no_mangle] static", and we may just need to add it here as well.

It would probably be good to sort this out more thoroughly though

[2016-02-11 00:09] tatsuya6502 opened #31547 "doc question: Is Android extensively tested or not?"
Hi,

We started to translate the Rust book (The Rust Programming Language) into Japanese (You can read it [here](https://rust-lang-ja.github.io/the-rust-programming-language-ja/1.6/book/index.html)). And I have got a question about the following sentences:

https://github.com/rust-lang/rust/blob/1.6.0/src/doc/book/nightly-rust.md

I am not sure whether Android is extensively tested or not.

Does t

[2016-02-11 00:35] alexcrichton commented on #31547
Oh wow, awesome work! Right now the support for each platform is best officially explained in the [tiers documentation](http://doc.rust-lang.org/nightly/book/getting-started.html#platform-support), but that unfortunately classifies Android as a tier 2 platform. In reality, the support for Android looks like:

* All PRs run the full test suite on Android, and nothing lands if a test fails
* We are

[2016-02-11 00:51] alexcrichton opened #31548 "Tracking issue for the Rust Language Server"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1317

(to be filled in by @nrc...)

[2016-02-11 00:56] alexcrichton commented on #31150
triage: P-low

[2016-02-11 00:56] alexcrichton commented on #31151
triage: P-low

[2016-02-11 00:58] alexcrichton opened #31549 "Tracking issue for deprecating std::os::*::raw types"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1415

[2016-02-11 01:03] tatsuya6502 commented on #31547
Thank you for the prompt and detailed reply! I think now I understand what you guys were trying to say in the Nightly Rust page. Android is basically extensively tested but not (yet) be as battle-hardened as tier 1 platforms. Also other aspects (such as lack of installer) are making Android not to be tier 1.

Let me think about a bit more on the sentences in the book. I will try to come up with a

[2016-02-11 01:03] #31547 closed

[2016-02-11 01:04] Stebalien commented on #31546
Ignoring windows...

The term library doesn't care if it's writing to a TTY, only if (1) the TERM environment variable is set and (2) it can find/parse the terminfo database.

This appears to have been introduced in #30711. Adding `-Z unstable-options --error-format=human` brings the color back. I've submitted a pull-request.

[2016-02-11 01:11] alexcrichton commented on #31453
The libs team discussed this during triage today and decided that the fallout here is acceptable under the [API evolution RFC](https://github.com/rust-lang/rfcs/blob/master/text/1105-api-evolution.md), so closing.

Thanks again for the report though!

[2016-02-11 01:11] #31453 closed

[2016-02-11 01:11] alexcrichton commented on #27754
The libs team discussed this during triage today, and the conclusion was:

* It seems prudent to stabilize `is_char_boundary` (definitely seems desired at least)
* We may be able to deprecate all other methods, they're all expressible in terms of slicing an iterators, and there doesn't seem to be much of a burning desire to keep them!

[2016-02-11 01:20] DanielJCampbell opened #31553 "Incomplete save-analysis for macros"
Currently macros are only recorded if they are called at some point in non-generated source code. The most notable effect of this is that if a macro references some other macro internally (eg. foo! expands to bar!), that macro will not be indexed.

A fix probably requires changes to expansion traces, to store more information about macro bodies after expansion, or manually pulling nested macro cal

[2016-02-11 01:45] niconii opened #31554 "Docs: Vec<T>'s contents being contiguous could be a little more clear"
At the moment, `Vec<T>`'s [module](https://doc.rust-lang.org/nightly/std/vec/index.html) and [type](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html) doc pages don't quite make it clear that its contents are in fact contiguous. They imply it in several places...

...but it would be better to make it more clear. In addition, `Vec<T>`'s documentation refers to it as a "growable list type",

[2016-02-11 02:09] japaric commented on #31544
Adding `#![no_builtins]` to the top of the crate, and removing `__aeabi_memcpy` seems to fix the problem:

[code]

What's the scope of `no_builtins` though? It seems that applying it directly to a item or putting it inside a module doesn't work. Is it effect crate global? Should I isolate the `__aeabi_memcpy4` function and `#![no_builtins]` into its own crate?

[2016-02-11 02:33] niconii opened #31556 "`println!(123)` works, but `print!(123)` and `format!(123)` do not"
`println!` uses `concat!($fmt, "\n")` internally, which for literals converts `$fmt` into a string before concatenating. Because of this, `println!(123)` is accepted.

That said, rather than make `println!` as strict as `print!` and `format!`, it would be nice if `format_args!(foo)` could become shorthand for `format_args!("{}", foo)`, somewhat similar to what `panic!` does.

[2016-02-11 03:14] lilred opened #31558 "Compiler panic on 1.8.0-nightly 2016-02-09"
On `rustc 1.8.0-nightly (32b2ef7ad 2016-02-09)`

    cargo rustc --target x86_64-unknown-xen -- -Z no-landing-pads
       Compiling alloc v0.1.0 (https://github.com/phil-opp/nightly-liballoc.git#71c37961)
    error: internal compiler error: unexpected panic
    note: the compiler unexpectedly panicked. this is a bug.
    note: we would appreciate a bug report: https://github.com/rust-lang/rust/blo

[2016-02-11 03:16] durka commented on #31558
duplicate of #31477

[2016-02-11 03:18] #31558 closed

[2016-02-11 03:21] durka commented on #31556
relevant #30143

[2016-02-11 03:39] niconii commented on #31556
Oh, whoops, is this a dupe, then? That seems more about making a breaking change to `println!` (and `writeln!`), whereas I'd personally like `format_args!` to be _more_ permissive.

[2016-02-11 03:43] durka commented on #31556
I guess it's a duplicate, but the opinion in the other issue seemed to be that strictifying would be better than loosening. Loosening wouldn't be a breaking change, though. I guess an RFC would be required.

[2016-02-11 03:45] durka opened #31560 "strange errors with multiple impls of FnOnce"
If one maliciously attempts to hack function overloading into rust

[code]

then one receives appropriately inscrutable errors:

[code]

I don't understand which value rustc wants a type for, and the second error is clearly untrue. I assume this use case is not going to be supported, even if these features are stabilized, but the diagnostic is not good.

[2016-02-11 04:15] alexcrichton commented on #31544
Ah `no_builtins` applies to the crate as we end up telling LLVM "don't consider using any builtins for this entire module", it's equivalent to the `-fno-builtins` argument to gcc I believe.

For now I guess yeah you'd have to isolate it to its own crate, unfortunately. If you want to add this to rlibc though I'd be fine to do that!

[2016-02-11 04:18] alexcrichton commented on #31556
Ah yeah I think this is a dupe of https://github.com/rust-lang/rust/issues/30143 so I'm going to close in favor of that (which was previously decided as a whelp-this-would-be-nice-to-fix-but-2.0 kind of thing)

[2016-02-11 04:18] #31556 closed

[2016-02-11 04:37] dvgb opened #31561 "rustc nightly panics on refutable pattern"
The below (invalid) code gives a panic in nightly rust. Stable and beta both happily reject it without panicking.

[code]

Seems to only happen when the enum has at least three arms. Changing number of arms the  `(left == right)` seems to have left equal to number of arms minus one.

[2016-02-11 06:21] dikaiosune commented on #31265
@nikomatsakis I'd be interested in helping out with this effort overall, but I also wanted to ask about a somewhat related project I started after reading your comment above.

I did a little hacking on this in the last couple of days:

https://github.com/dikaiosune/secondstring

It's really crappy still and will need more work to properly do the monitoring you're talking about, but I'm curious if

[2016-02-11 06:48] #31403 closed

[2016-02-11 06:48] #31404 closed

[2016-02-11 08:34] cuviper opened #31567 "`Drop` and leaking `&mut` references"
There's a way to leak a `&mut` member borrowed from a struct, and then manipulate that member from the `Drop` handler -- even while it is immutably borrowed!

[code]

[playground](http://is.gd/v4Qi95) output:

[code]

So this drop frees the vec's buffer, then an unrelated string allocation reuses the same memory, and those new values come out of the `vec::Iter`.

I think if the member was immutabl

[2016-02-11 08:45] jseyfried opened #31568 "Linking error when using a public inherent method on a value of an unnameable type in an external crate."
For example, consider a crate `demo`:
[code]
and another crate that uses `demo`:
[code]
Here, `demo::foo::Bar` is unnameable in the other crate.
Compiling the other crate will cause an error:
[code]

[2016-02-11 08:49] petrochenkov commented on #31568
Duplicate of https://github.com/rust-lang/rust/issues/16734

[2016-02-11 08:51] jseyfried commented on #31568
Thanks

[2016-02-11 08:51] #31568 closed

[2016-02-11 08:54] petrochenkov commented on #16734
Ok, I'll try to allocate some time this weekend and fix this, people continue hitting this bug again and again.

[2016-02-11 09:02] Ticki opened #31569 "The links in the chapter about compiler plugins are broken."
The doc links are broken. cc @steveklabnik

[2016-02-11 09:30] nagisa commented on #31567
The behaviour feels somewhat intuitive to me, but is certainly a memory safety issue. Nominating.

cc @rust-lang/core and @rust-lang/lang, I think?

[2016-02-11 10:32] arielb1 commented on #31567
Minified:

[code]

MIR borrowck would of course catch `get_dangling` borrowing a pointer and dropping its owner, given that the relevant MIR is
[code]

[2016-02-11 10:39] bluss commented on #31567
Here's another minification [(playground)](http://is.gd/m0LxYV)

[code]

[2016-02-11 10:46] TimNN commented on #31569
Duplicate of #29893.

At the moment you can find these docs (hosted by @Manishearth) here: https://github.com/Manishearth/rust-internals-docs.

[2016-02-11 10:50] arielb1 commented on #31567
I suppose we can leave this to fix-by-MIR-borrowck.

[2016-02-11 10:56] #31451 closed

[2016-02-11 11:28] rthomas commented on #31262
This has been merged, this issue can now be closed.

[2016-02-11 11:33] retep998 commented on #31536
Perhaps whenever `libc` does use `std` it could simply re-export `std::os::raw::c_void` instead of defining its own `c_void`. In `#[no_std]` situations there wouldn't be an `std` to have an incompatible type with anyway.

[2016-02-11 11:48] bluss commented on #31536
An std-using crate could easily wind up using no_std libc.

[2016-02-11 12:20] apasel422 commented on #31262
@rthomas This actually needs to stay open to track the stability of the newly added methods.

[2016-02-11 13:20] steveklabnik commented on #31569
Yup!

[2016-02-11 13:20] #31569 closed

[2016-02-11 13:31] bltavares commented on #24780
This issue has been resolved after #31455 got merged.

[code]

The error now is the following:
[code]

[2016-02-11 13:40] SimonSapin opened #31572 "Tracking issue for SocketAddr setters"
#31083 adds `set_ip` and `set_port` methods to `SocketAddr`, `SocketAddrV4`, and `SocketAddrV6`; as well as `set_flowinfo` and `set_scope_id` on `SocketAddrV6`. They are all fairly straightforward and correspond to existing getter methods.

As all new additions, they will be `#[unstable]` for now.

[2016-02-11 14:34] GuillaumeGomez commented on #31554
A more global description is a nice idea. However, keeping the original text is also a nice thing, it's appreciated to have algorithm's complexity. So from my point of view, this would be perfect:

[2016-02-11 14:37] camlorn commented on #30027
if I understand what this does correctly--removes the need to have the import library on Windows--I really want this.
Getting users to have the import libraries in the right places is painful in basically any language.  Not to mention getting the users to have the right import libraries for the toolchain they're using, etc.  You can probably build a lot of stuff from source, but at least one of my

[2016-02-11 14:37] steveklabnik commented on #31554
part of https://github.com/rust-lang/rust/issues/29380

[2016-02-11 14:42] julienw opened #31573 "Uniformative error message when missing a "self" while importing a module"
Exemple code:
[code]

Error is:
[code]

The compiler should detect that "self" is missing.

Note this is an error I do all the time as a beginner.

[2016-02-11 14:57] SimonSapin commented on #31573
Even without doing an analysis of what could have likely been intended this error message could mention that paths in `use` are absolute by default, unless they start with `self::` or `super::`.

[2016-02-11 15:06] frewsxcv commented on #31573
Ran into this a few days ago, would love to the messaging here improved :+1:

[2016-02-11 15:13] frewsxcv commented on #29453
I'm currently working on this.

[2016-02-11 16:55] Roxxik opened #31574 "Cannot derrive Clone for empty enums when using no_std"
derriving clone on an empty enum does not work without std, because it calls `core::rt::begin_unwind`:

    #![no_std]

    #[derive(Copy, Clone)]
    enum MyEnum { }

leads to:

    <anon>:4:16: 4:21 error: failed to resolve. Could not find `rt` in `core` [E0433]
    <anon>:4 #[derive(Copy, Clone)]
                            ^~~~~
    <anon>:4:16: 4:21 note: in this expansion of #[derive_Clone]

[2016-02-11 16:55] arielb1 commented on #30612
We should not be emitting any instructions for an identity cast. I think that this could be best done in a post-processing pass.

[2016-02-11 16:55] Ticki commented on #31574
Related: https://github.com/rust-lang/rust/issues/29548

[2016-02-11 17:15] durka commented on #31574
This is actually common to all derives, and the bug is that when generating a panic expression, it hardcodes `std::rt::begin_unwind` which gets automatically changed to `core::rt::begin_unwind` when `#![no_std]` is in effect. Perhaps it should generate a call to the actual `panic!()` macro instead? I'm not sure if macros can still be expanded at the point where this is generated.

[2016-02-11 18:05] alexcrichton opened #31576 "no_run doctests no longer verify lints"
For code like this:

[code]

The stable/beta rustdoc will generate an error, while the nightly rustdoc will pass silently. [This block](https://github.com/rust-lang/rust/blob/master/src/librustdoc/test.rs#L253-L255) looks suspicious perhaps?

~~r?~~ cc @nrc

[2016-02-11 18:05] alexcrichton commented on #31576
er, that r? was meant to be a cc

[2016-02-11 18:06] alexcrichton commented on #31576
Tagging as a regression and nominating

[2016-02-11 18:09] 35359595 opened #31577 "Internal compiler error when creating a static constant"
I'm trying to create static or constant from matching the env::home_dir:

[code]

But I'm getting a compiler bug:

I know that my code is broken but compiller should not crush anyway.

rustc 1.6.0 (c30b771ad 2016-01-19)
binary: rustc
commit-hash: c30b771ad9d44ab84f8c88b80c25fcfde2433126
commit-date: 2016-01-19
host: x86_64-unknown-linux-gnu
release: 1.6.0

[2016-02-11 18:11] julienw opened #31578 "Missing lifetime parameter for reexported methods in rustdoc"
For example, see https://doc.rust-lang.org/std/slice/fn.from_raw_parts.html

We're missing the `<'a>` parameter.

[2016-02-11 18:21] brson commented on #17269
changing xcode system wide would be sufficient *if* we limited build concurrency to 1

[2016-02-11 18:22] alexcrichton commented on #31574
Oh wow now that's just crazy (calling some runtime panic function..)

I think this would be more appropriate to perhaps derive as:

[code]

[2016-02-11 18:25] alexcrichton commented on #24780
Thanks @bltavares!

[2016-02-11 18:25] #24780 closed

[2016-02-11 18:28] durka commented on #31574
@alexcrichton it could equivalently call `intrinsics::unreachable()` as it does in another part of the expansion... it does change the behavior of unsafe code (`transmute::<_, MyEnum>(()).clone()` triggers UB instead of panicking) but it's probably the right thing to do.

[2016-02-11 18:31] alexcrichton commented on #31574
Perhaps, but using `match *self {}` has 0 dependencies on any API for any crate you're linking to, and should in general just be more robust

[2016-02-11 18:47] nixpulvis commented on #21192
I agree, just bumped into this. `box 1 + 2` feels like it really should be `box(1 + 2)`. Another problem here is that things might be hidden issues, for example consider the following. It's because objects dereference for method resolution automatically, `x` and `y` could be either the same or different and the programmer might not notice at first.

[code]

[2016-02-11 18:51] Gankro opened #31580 "Can't Unify Super Generic Code"
I was trying to verify that the associated-items-based HKT described in the associated items RFC still worked. As best I know, I updated everything to work with today's stable Rust (1.7), but it fails out in unifying in the actual implementation of `Mappable for Vec<T>` (see the FIXME).

[code]

[2016-02-11 18:52] aturon commented on #31580
cc @nikomatsakis

[2016-02-11 18:57] jonas-schievink commented on #31580
cc #30472 and #28994 (dupe?)

[2016-02-11 19:05] aturon commented on #31580
@jonas-schievink Yes, I think you're right -- the projection works if you define a helper like:

[code]

[2016-02-11 19:08] aturon commented on #31580
Actually, I was a bit too hasty: HRTBs are not clearly at fault here, since there's no lifetime involved in the `FnMut` where clause. I suspect it's related, but not identical to the other bugs.

[2016-02-11 19:14] Gankro commented on #31580
The full fix, to be clear:

[code]

But this shouldn't be necessary.

[2016-02-11 19:56] steveklabnik commented on #3482
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 19:56] #3482 closed

[2016-02-11 19:57] steveklabnik commented on #4112
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 19:57] #4112 closed

[2016-02-11 19:58] steveklabnik commented on #5657
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 19:58] #5657 closed

[2016-02-11 19:59] steveklabnik commented on #9197
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 19:59] #9197 closed

[2016-02-11 19:59] steveklabnik commented on #11345
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 19:59] #11345 closed

[2016-02-11 20:00] steveklabnik commented on #11818
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:00] #11818 closed

[2016-02-11 20:00] steveklabnik commented on #12447
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:00] #12447 closed

[2016-02-11 20:00] steveklabnik commented on #12565
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:00] #12565 closed

[2016-02-11 20:00] steveklabnik commented on #12805
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:00] #12805 closed

[2016-02-11 20:01] steveklabnik commented on #12836
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:01] #12836 closed

[2016-02-11 20:01] steveklabnik commented on #14220
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:01] #14220 closed

[2016-02-11 20:01] steveklabnik commented on #14287
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:01] #14287 closed

[2016-02-11 20:01] steveklabnik commented on #14599
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:01] #14599 closed

[2016-02-11 20:02] steveklabnik commented on #15022
Closing as per @reem s comment

[2016-02-11 20:02] #15022 closed

[2016-02-11 20:03] steveklabnik commented on #31454
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:03] #31454 closed

[2016-02-11 20:03] steveklabnik commented on #31012
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:03] #31012 closed

[2016-02-11 20:05] steveklabnik commented on #29758
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:05] #29758 closed

[2016-02-11 20:05] steveklabnik commented on #29427
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:05] #29427 closed

[2016-02-11 20:06] steveklabnik commented on #29257
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:06] #29257 closed

[2016-02-11 20:06] steveklabnik commented on #29097
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:06] #29097 closed

[2016-02-11 20:06] steveklabnik commented on #28456
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:06] #28456 closed

[2016-02-11 20:07] steveklabnik commented on #28296
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:07] #28296 closed

[2016-02-11 20:07] steveklabnik commented on #28121
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:07] #28121 closed

[2016-02-11 20:07] steveklabnik commented on #27266
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:07] #27266 closed

[2016-02-11 20:07] jonas-schievink commented on #31454
https://github.com/Manishearth/rust-clippy/wiki#redundant_closure

[2016-02-11 20:07] steveklabnik commented on #27107
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:07] #27107 closed

[2016-02-11 20:07] steveklabnik commented on #26585
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:07] #26585 closed

[2016-02-11 20:08] steveklabnik commented on #25871
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:08] #25871 closed

[2016-02-11 20:09] jonas-schievink commented on #28296
This isn't just a bug?

[2016-02-11 20:10] steveklabnik commented on #24545
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:10] #24545 closed

[2016-02-11 20:10] steveklabnik commented on #24299
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:10] #24299 closed

[2016-02-11 20:12] #22206 closed

[2016-02-11 20:12] steveklabnik commented on #21935
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:12] #21935 closed

[2016-02-11 20:12] steveklabnik commented on #21921
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:12] #21921 closed

[2016-02-11 20:12] SimonSapin commented on #27705
Should `lookup_addr` have been un-deprecated along with `IpAddr`? (#31438)

[2016-02-11 20:12] steveklabnik commented on #21812
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:12] #21812 closed

[2016-02-11 20:13] steveklabnik commented on #21775
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:13] #21775 closed

[2016-02-11 20:13] steveklabnik commented on #21737
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:13] #21737 closed

[2016-02-11 20:13] steveklabnik commented on #21684
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:13] #21684 closed

[2016-02-11 20:13] steveklabnik commented on #20945
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:13] #20945 closed

[2016-02-11 20:13] steveklabnik commented on #20192
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:13] #20192 closed

[2016-02-11 20:15] steveklabnik commented on #19446
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:15] #19446 closed

[2016-02-11 20:15] steveklabnik commented on #19219
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:15] #19219 closed

[2016-02-11 20:15] steveklabnik commented on #18820
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:15] #18820 closed

[2016-02-11 20:16] steveklabnik commented on #18549
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:16] #18549 closed

[2016-02-11 20:16] steveklabnik commented on #18312
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:16] #18312 closed

[2016-02-11 20:16] steveklabnik commented on #17417
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:16] #17417 closed

[2016-02-11 20:16] steveklabnik commented on #16719
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:16] #16719 closed

[2016-02-11 20:17] steveklabnik commented on #16516
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:17] #16516 closed

[2016-02-11 20:18] steveklabnik commented on #15128
Since new lints have a big impact on users of rustc, the policy is that they should go through the RFC process like other user-facing changes. As such, I'm going to give this one a close, but if anyone comes across this ticket and wants this lint, consider adding it to clippy and/or writing up an RFC. Thanks!

[2016-02-11 20:18] #15128 closed

[2016-02-11 20:19] untitaker commented on #29758
Would it be appropriate to just refile this issue against `rust-lang/rfcs` for now?

[2016-02-11 20:21] eddyb commented on #27266
@steveklabnik That's fine, I'm hoping #31123 will let us use clippy on rustc fairly easy.

[2016-02-11 20:40] gsingh93 commented on #24299
Can you use high five bot to move this over to the RFCS repo?

On Thu, Feb 11, 2016 at 12:11 PM Steve Klabnik <notifications@github.com>
wrote:

[2016-02-11 21:02] nikomatsakis commented on #31337
Nominating for discussion in the lang team meeting.

[2016-02-11 21:06] VladUreche commented on #21221
Since it doesn't seem like there's much activity around this bug, let me try to revive it. Please correct me if this is not the desired behavior:

[code]

So, I imagine, in the ideal case, `rustc` would look up all the traits within the following contexts:
 * modules defined by the current crate
 * the standard library
 * external crates
Right?

As for the implementation, I imagine I can start fro

[2016-02-11 21:11] nikomatsakis commented on #31567
The problem (I think) is the special case rule in the borrow checker concerning `&mut` borrows whose owners go out of scope. That always seemed a bit suspicious to me. It does not consider destructors. Shouldn't be too hard to fix.

[2016-02-11 21:11] nikomatsakis commented on #31567
triage: P-high

[2016-02-11 21:12] nikomatsakis commented on #31504
triage: P-high

[2016-02-11 21:12] nikomatsakis commented on #31504
Note that this is fixed in @arielb1's branch.

[2016-02-11 21:14] nikomatsakis commented on #31435
triage: P-medium

Not much to do here besides try to keep an eye on how LLVM progresses in fixes this issue, right? (Rolling back LLVM doesn't really seem like a viable plan.)

[2016-02-11 21:20] nikomatsakis commented on #27060
After some discussion in compiler team meeting:

- We can easily feature-gate references into fields of packed structs specifically.
- *But* MIR may be mature enough to just port over the unsafety checking and do this The Right Way. I a thinking of taking a stab at that because it sounds fun and I want to do some more MIR work. But if others really want to and I fail to make progress please ping m

[2016-02-11 21:37] nikomatsakis commented on #31299
I think that for now the best thing here is to fix the error message, leaving ourselves the freedom to make this legal again in the future if we decide it won't undermine the type system. :)

[2016-02-11 22:14] glaebhoerl commented on #30942
If we can generate a parser from the official grammar, and if we can run `rustc` in parse-only mode, and if we can make the two of them produce output and errors in identical format, then I wonder if we could use [AFL](http://lcamtuf.coredump.cx/afl/) to [automatically generate](http://lcamtuf.blogspot.hu/2014/11/pulling-jpegs-out-of-thin-air.html) test cases for them. Of course even this could no

[2016-02-11 22:20] aturon commented on #31337
I strongly agree with this sentiment. Shadowing *is* what we want here in the long run, and it doesn't make sense to me to break code that's using it, only to more completely implement shadowing later on.

[2016-02-11 22:24] brson opened #31586 "Regression in servo-skia-0.20130412.6 build script on 1.7 beta"
[Original report](https://internals.rust-lang.org/t/regression-report-stable-2016-01-21-vs-beta-2016-02-04/3171/1).

This builds on 1.6 stable but on 1.7 beta produces

[code]

cc @alexcrichton @larsbergstrom

[2016-02-11 22:29] petrochenkov commented on #31337
The regression in tiled-0.1.4 is related to glob shadowing, see https://internals.rust-lang.org/t/regression-report-stable-2016-01-21-vs-nightly-2016-02-11/3172 for details

[2016-02-11 22:34] brson commented on #31586
@alexcrichton Couldn't repro this locally

[2016-02-11 22:36] larsbergstrom commented on #31586
Seems... curious. Skia currently builds just fine against 1.8.0 (a pretty recent nightly):
https://travis-ci.org/servo/skia/builds/106752311

[2016-02-11 22:45] brson opened #31587 "error index tests are not run during `make check`"
https://github.com/rust-lang/rust/pull/30726 adds testing of the error index. They run on `make check-docs` but not yet on `make check`. They should.

This is just a matter of deciphering tests.mk and figuring the right rule to add.

[2016-02-11 22:50] brson commented on #30634
This has been ported to beta. Closing.

[2016-02-11 22:50] #30634 closed

[2016-02-11 22:57] alexcrichton commented on #31586
Because I can't reproduce this locally, seems to be working for Servo, and it kinda looks spurious, I'd probably also classify this as spurious?

[2016-02-11 22:57] alexcrichton commented on #31586
I also can't recall anything that would have landed in Cargo recently to cause this to break...

[2016-02-11 23:01] jorendorff commented on #31299
@areilb1 Would you mind explaining your `*)` notation?

I'm trying to understand what's causing the loop. It seemed to me like it might be

* let's check if `struct M(PtrBack<Vec<M>>);` is a reasonable thing to say
* that requires that `M` is a valid parameter to `Vec<_>`
* that requires that `M: Sized` (implicit bound)
* that requires that all `M`'s fields have valid types
* that requires that `M

[2016-02-11 23:07] freebroccolo commented on #17269
@pnkfelix yes, as far as I remember it does. There may be another way to switch versions nicely that isn't system wide in this fashion but I don't know of it.

[2016-02-11 23:24] GuillaumeGomez commented on #31587
I don't think anything Makefile related should be labelled as easy.

[2016-02-11 23:32] Aatch commented on #31435
At the very least we could apply a temporary local patch if it's a quick hack vs. a longer proper fix.

[2016-02-11 23:37] Manishearth commented on #31435
We could perhaps disable that pass? I'm not sure if it *is* a pass that's causing the problem.

[2016-02-11 23:56] Aatch commented on #31299
@jorendorff so the message you get about "infinite size" there is actually wrong, it's actually the issue that we have the requirement `M` is `Sized` if `M` is `Sized`. Though that's not technically true here, either, hence @arielb1 stating that the error goes away if you tweak when normalization (turning T::Foo into an actual type) happens. Though it doesn't solve the issue in all cases.

As for

[2016-02-11 23:59] sfackler commented on #31586
Looks like a one-off failure. It'd probably be worth adjusting the command invocation to record stdout and stderror and display them on failure.

[2016-02-12 00:15] dotdash commented on #31435
We could remove TBAA which does nothing for us. That saves a few percent.
Am 12.02.2016 12:37 Vorm. schrieb "Manish Goregaokar" <
notifications@github.com>:

[2016-02-12 00:19] #29485 closed

[2016-02-12 00:22] alexcrichton commented on #31435
We've got a pretty long period of time before this reaches stable, so I'd be willing to give the LLVM bug report some more time to get some analysis on behalf of the LLVM folks. If this gets close to stable, however, backporting a change to just disable TBAA seems like it should definitely be worth it! In other words, ideally, there'd be an upstream patch to fix this regressions, we'd backport it

[2016-02-12 00:28] jonas-schievink commented on #31435
This is perhaps a bit off-topic, but why are we running passes that don't do anything for us? Just to keep us close to the C/C++ pass pipeline?

[2016-02-12 00:41] alexcrichton commented on #31586
Ok, this appears to be spurious (as confirmed by @mbrubeck as well), so I'm going to close this as likely spurious.

If, however, we see this in another crater report I can definitely try to do a more thorough investigation.

[2016-02-12 00:41] #31586 closed

[2016-02-12 00:49] nikomatsakis commented on #21221
I feel like changing the message to "trait name `Mul` is not a scope" would already be an improvement. To me, "undeclared" suggests something stronger (that is, not declared *anywhere*).

[2016-02-12 00:50] nikomatsakis commented on #21221
But yes if we wanted to all out and give suggestions, I think the code you pointed out would be a logical starting point, though of course it is harvesting all traits that have a method with the given name, which is somewhat more complicated.

[2016-02-12 00:59] infinity0 commented on #31328
This is also reproducible on a completely i686 environment (only the processor is x64), see [Debian bug 812825](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=812825) and some build logs:

- [Debian unstable, rustc 1.6.0](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=i386&ver=1.6.0%2Bdfsg1-2&stamp=1453812219)
- [Ubuntu xenial, rustc 1.8.0 nightly.20160211](https://launchpadlibrarian

[2016-02-12 01:33] Aatch commented on #31572
Seems like 'B-unstable' is the most appropriate label for this issue? There's no RFC, but this is a stability-tracking issue.

[2016-02-12 01:35] alexcrichton commented on #31572
Indeed! We try to have `B-unstable` for all tracking issues on the libs team

[2016-02-12 04:00] sfackler commented on #20856
This appears to be resolved.

[2016-02-12 04:00] #20856 closed

[2016-02-12 04:31] eternaleye commented on #30942
@glaebhoerl: Well, there's also that the entire formalism the official grammar is based on on is called "generative grammars" - using them to create working parsers came after using them to create exemplars, which is essentially a matter of transforming the grammar into a tree and executing a BFS.

For example:
[code]

We form the following tree:
* start
  * possibility
    * light
      * "Solita

[2016-02-12 04:42] klutzy commented on #20213
@steveklabnik This is still an issue; we currently don't do like "GCC and Clang". We do like llvm IR which is different from GCC/Clang.

For given GCC/Clang inline asm:

[code]

Clang-3.7 emits the following LLVM IR:

[code]

where `"=t"` ([GCC x86 constraint](https://gcc.gnu.org/onlinedocs/gcc/Machine-Constraints.html#Machine-Constraints)) is converted to `"={st}`" ([LLVM IR x86 constraint](http:

[2016-02-12 05:07] durka commented on #31574
@alexcrichton as far as I can tell this is the only in-tree usage of `syntax::ext::build::expr_unreachable` and `syntax::ext::build::expr_fail`, and that's where the call to `std/core::rt::begin_unwind` is generated -- do you think it makes sense to change those functions (which are going to be broken on `#![no_std]` as in this issue), or leave them for dead and generate `match *self {}` from the

[2016-02-12 05:43] alexcrichton opened #31590 "Tracking issue for rustbuild, the alternate build system for rustc"
I'm opening this up as a tracking issue for all work that needs to happen to get rustbuild, our new build system, turned on by default. The end goal here is to completely jettison our thousands of lines of makefiles and configure scripts for tons and tons of Rust code! Initial support has landed in #31123, but we've still got quite aways to go!

Here's a list of items left that need to be implemen

[2016-02-12 05:48] alexcrichton commented on #31590
Also as the most bike-sheddy thing, I'm not a huge fan of the term "rustbuild", so I'd also be fine calling this something cooler like "rust laser build"

[2016-02-12 06:11] nixpulvis opened #31592 "ICE: assert! on Non Boolean"
Running the following yields an unhelpful error message, and ICE in the span printing.

[code]

With error

[code]

A potential solution could be `if $cond { } else { panic! ... }`

Either way there is some problem with span printing on this bad use of `assert!`.

[2016-02-12 07:06] ubsan opened #31593 "Associated types aren't normalized with impl cycles"
[code]

errors with

[code]

[playground](http://is.gd/FnD5wQ)

A similar issue happens when you now return `Self::Shaboom`:

[code]

[playground](http://is.gd/1BNlTP)

[2016-02-12 07:14] ubsan commented on #31593
Honestly, it probably just needs a better error message.

[2016-02-12 07:18] eddyb commented on #31593
This seems related to #29859, but not... actually working?
AFAICT, `<T as Doop>` in the `impl<T: Doop> of Doop for T` cannot refer to the same impl.

cc @nikomatsakis

[2016-02-12 07:20] ubsan commented on #31593
@eddyb looks like the forest fixed this? #30533

[2016-02-12 07:34] alexcrichton commented on #31574
Hm, in theory we should just never call those functions. In contexts with empty enums they never exist so they shouldn't even panic, I'm not sure about others though.

[2016-02-12 07:47] SimonSapin commented on #31572
Yes. I would have set it, but you need write access to a repository to set labels :)

[2016-02-12 07:55] pitdicker opened #31594 "`create_dir_all` can't create directories through a dangling symlink."
Currently `create_dir_all` first does a stat on the file to see if it is a directory, and if not tries to create the parent dirs. This does not take into account that stat can fail if the path is a dangling symlink.
The classic `mkdir -p` just tries to create a directory and see why it fails. This spares a syscall and handles dangling symlinks transparently.

On Windows this method hit two problem

[2016-02-12 08:49] tomjakubowski commented on #31578
This is a duplicate of #14462

[2016-02-12 09:11] mmatyas opened #31595 "Building the `aarch64-linux-android` stdlib fails"
I was trying to build the stdlibs for the `aarch64-linux-android` target like this:

[code]

However, the build fails with the following error:

[code]

Here is the full build log: http://pastebin.com/cX9WgVA4

I'm using Xubuntu 15.10. At the time of building, the Rust master was at b9732ed.

[2016-02-12 09:51] eddyb opened #31597 "E0269 (not all control paths return a value) misfiring on an () associated type."
Try on [playpen](https://play.rust-lang.org/?gist=a8c01b70bab1386ccb73&version=stable):
[code]

This looks like missing normalization when checking for the return type.
`fn make() -> Self::Out { () }` and `fn make() -> Self::Out { return; }` work just fine.

[2016-02-12 10:17] mitaa opened #31598 "Rustdoc: static methods have self argument in search-index"
Searching i.e. for ["vec -> vec"](http://doc.rust-lang.org/nightly/std/?search=vec%20-%3E%20vec) returns `Vec::new` as search result.

[2016-02-12 11:06] mitaa commented on #25511
@bluss
Thanks, it seems like it shouldn't be too hard to extend the syntax for this use-case then. Something like `... -> Chunks` or `* -> Chunks` maybe.

[2016-02-12 12:17] Thiez opened #31599 "Incorrect documentation on read_and_drop"
The documentation of the unstable function `core::ptr::read_and_drop` makes a reference to `read_and_zero`, but this function does not exist (anymore?). Expressing the semantics of `read_and_drop` in terms of something that does not exist is unhelpful.

The problem seems to be located [here](https://github.com/rust-lang/rust/blob/e548d6c08f87c6a0a15a91c21df0990112b5a7f4/src/libcore/ptr.rs#L130).

[2016-02-12 12:37] ranma42 commented on #17269
The [manpage](https://developer.apple.com/library/mac/documentation/Darwin/Reference/ManPages/man1/xcode-select.1.html) of xcode-select suggests an alternative to `xcode-select --switch`:

[2016-02-12 12:44] aoaaxy opened #31601 "[Doc] the try! and vec! macros don't have a [src] link"
Hi. Would it be feasible to have a link to the source code on github for the specific function/macro from its doc?
For example, from this doc: https://doc.rust-lang.org/std/macro.try!.html
I wanted to know what's in-between these `{ ... }` and I imagined how great would be if there were a nearby link pointing to the source code for this `try!` macro. An example of such link would be: https://githu

[2016-02-12 13:37] Yoric opened #31603 "error: internal compiler error: cannot get field of type: ..."
Between yesterday and today, something changed that broke my builds with Nightly. I don't know if this is an upgrade to the latest Nightly or a change in my code yet.

See https://travis-ci.org/fxbox/thinkerbell/builds/108783925 for links to all the details.

[2016-02-12 13:47] bluss commented on #31599
Filling drop is a temporary "feature" of rust, and in the long run this function will not be needed once the in-struct drop flags are gone. In anticipation of this improvement, it would be best to not write any code that relies on read_and_drop.

[2016-02-12 13:49] mitaa commented on #31601
This works for most things, but it seems like rustdoc has a problem here because `try` is is a macro re-export from `core`.

i.e the `[src]` button is available [here](https://doc.rust-lang.org/core/macro.try!.html) at the top right.

[2016-02-12 13:55] Thiez commented on #31599
I'm not using that function, I was merely browsing the docs and noticed the documentation was wrong. I would expect the documentation of functions to be correct even if they are unstable and scheduled for removal, unless the removal is scheduled for the immediate future.

[2016-02-12 13:56] aoaaxy commented on #31601
Oh that's amazing! I didn't know that's already true for others!(I just blindly assumed it's not)
Thank you for this!

[2016-02-12 14:05] arielb1 commented on #31592
No ICE in the span printing on nightly.

[2016-02-12 14:05] #31592 closed

[2016-02-12 14:21] arielb1 commented on #31299
The expectation was that you encounter this error when you try to make a recursive type (say a tree or something) without using a `Box`. In that case, the error message tells you exactly what went wrong, and how you fix it.

I think that's a general problem with error messages. When code with a typo attempts to do something silly, you will get an error message about the silly thing.

There's a bug

[2016-02-12 14:55] oli-obk commented on #30143
this should have the  `rust-2-breakage-wishlist` label

[2016-02-12 15:14] steveklabnik commented on #31601
There are already open issues for macros not being able to show their source, so this is a duplicate. Thanks though!

[2016-02-12 15:14] #31601 closed

[2016-02-12 15:42] steveklabnik commented on #31590
This is a very simple thing, but I hit control-C while it was downloading stage0 and because the file wasn't valid, it just bailed out and I had to remove it manually. I'm not sure if deleting it and retrying is the right thing, or if this is just going to be a papercut generally.

[2016-02-12 15:48] japaric commented on #31544
I'm not sure about doing that because compiler-rt provides this symbol when cross compiled for arm-eabi like targets so that would preclude using compiler-rt and rlibc. Unless __aeabi_memcpy4 is defined as a weak symbol on rlibc.

[2016-02-12 16:42] mitaa commented on #28302
Seems fixed?

@nfallen

Judging from that this seems to have been the same problem as #30109 and #30198

[2016-02-12 17:00] steveklabnik commented on #28302
This is in fact fixed!

[2016-02-12 17:00] #28302 closed

[2016-02-12 17:18] jsgf commented on #29866
I've been using time2 in one of my projects, and I've been getting panics from "overflow when subtracting Durations". Unfortunately I haven't been able to repro this myself, but one of the users of my code has been getting it sporadically. I haven't been able to tell which subtraction could be causing them (they all look fine), and I've yet to get a backtrace back.

I think its a bit of an ergonom

[2016-02-12 17:55] julienw commented on #31578
in that case :)

[2016-02-12 17:55] #31578 closed

[2016-02-12 18:09] mitaa commented on #31059
Search result descriptions aren't markdown rendered and read/written unaltered from the search-index to the page.

*Should* these descriptions be markdown rendered or html escaped (#18419)?

[2016-02-12 18:25] #31546 closed

[2016-02-12 18:38] alexcrichton commented on #31595
Unfortunately `aarch64-linux-androideabi` is a [Tier 3 platform](http://doc.rust-lang.org/nightly/book/getting-started.html#tier-3) which means that we don't guarantee that it builds in-tree right now. Patches are certainly welcome to fix this, however! We tend to not keep issues tracking build support for all Tier 3 platforms, however, so I'm going to close this.

If you're interested in promotin

[2016-02-12 18:38] #31595 closed

[2016-02-12 18:43] alexcrichton commented on #31590
Sounds like a bug! (added a checkbox)

[2016-02-12 18:49] alexcrichton commented on #31328
I can reproduce this outside of the bootstrap as well. By downloading the i686 linux nightlies and compiling this tests I get the same valgrind error.

I'm not really sure if it's legitimate or not, as it only causes weird behavior in valgrind...

[2016-02-12 18:51] alexcrichton commented on #31594
I'm not sure I quite understand the Windows parts here, could you elaborate? For example, if we just tried the syscall and then backtracked on Windows, what would the problem be specifically?

Just doing the syscall and inspecting the error seems pretty reasonable to me for Unix!

[2016-02-12 19:18] alexcrichton commented on #31544
Ah yeah I guess that wouldn't work out well then. In any case though it seems like `no_builtins` did the trick? If so I'm gonna close this, but feel free to reopen if I misinterpreted.

[2016-02-12 19:18] #31544 closed

[2016-02-12 19:20] nodakai commented on #31590
By going from `Makefile` to `build.rs`, are we not throwing away the notion of dependency graph?

Please enable resuming on curl if possible, for people with narrowband.

[2016-02-12 19:38] alexcrichton commented on #31590
No, I would expect any build system to take dependencies into account. It's an implicit assumption of mine that any sort of dependency tracking done by the current build system *must* be done by rustbuild as well.

[2016-02-12 19:40] frewsxcv opened #31611 "Add 'is_empty' method for 'std::path::Path'"
https://github.com/rust-lang/rust/pull/31231

[2016-02-12 19:40] steveklabnik commented on #31590
Regarding the documentation features... maybe we should try to land https://github.com/rust-lang/cargo/pull/2256 and then they could just be their own crates?

[2016-02-12 19:40] frewsxcv commented on #31611
Grr, meant to open this in rfcs

[2016-02-12 19:40] #31611 closed

[2016-02-12 19:45] alexcrichton commented on #31590
I suspect that may not end up helping too much unfortunately, most of our docs are rustbook-based rather than rustdoc-based.

[2016-02-12 19:47] steveklabnik commented on #31590
Oh duh. I should, uh, know that :sweat_smile:

The new book is going to use mdBook, and I _think_ it should just be a drop-in replacement. Maybe it's time to kill rustbook for real?

[2016-02-12 19:51] alexcrichton commented on #31590
It probably doesn't matter either way in terms of dependency management and instrumentation of the compiler building mdbook/rustbook, so I suspect switching over wouldn't change things too much really

[2016-02-12 20:12] pitdicker commented on #31594
On Unix this way the code will just work with dangling symlinks.

On Windows there is no way to create a directory through a dangling symlink. So if creating a directory fails but the parent exist, we have to do another check for dangling symlinks. And if there is one, read the symlink and create the directory at the target.

So there is no unfixable problem. I am just checking whether we want to

[2016-02-12 20:22] nikomatsakis commented on #31337
We discussed this in the @rust-lang/lang meeting. The conclusion was that we should adopt @jseyfried's "option 2":

Specifically, we do eventually want shadowing semantics, and therefore it doesn't make sense to regress crates that are taking advantage of it, even if the current support *is* a bug.

[2016-02-12 20:42] jseyfried commented on #31337
Ok, sounds good.
How should we fix the documentation for the example in [this comment](https://github.com/rust-lang/rust/issues/31337#issuecomment-177763636)?
The last option (the one I implemented in #31377) is the only one that is future comparable with the others.

[2016-02-12 21:40] Flaise opened #31615 "Timeout for TcpListener::accept()"
As best I can tell, there isn't a way to set a timeout for the TcpListener::accept() function without accessing private fields, which the Rust compiler of course won't allow. This makes it very difficult to cleanly terminate a thread that is currently blocking for incoming connections.

[2016-02-12 22:35] alexcrichton commented on #31615
Thanks for the report! Our runtime way-back-when actually supported this kind of functionality, but this design in libstd currently isn't support, nor does it necessarily fit well. There aren't actually really any private fields of `TcpListener` as on Windows it's just a fancy wrapper around a single `SOCKET` and on Unix it's just a wrapper around `c_int`. You can access both underlying values via

[2016-02-12 22:35] #31615 closed

[2016-02-12 22:38] arielb1 opened #31617 "typeck has an different notion of reachability from liveness"
for example:

[code]

[2016-02-12 23:02] alexcrichton commented on #31594
Are you talking about a situation where a symlink points to a nonexistent file, and then you call `create_dir_all` on that symlink exactly? And on Unix that will create the directory where the symlink is pointing at, but on Windows it fails?

(sorry just clarifying)

[2016-02-12 23:03] steveklabnik commented on #31590
@azerupi is okay with mdbook becoming a dependency https://github.com/azerupi/mdBook/issues/105#issuecomment-183518235

I will poke at that docs branch sometime next week.

[2016-02-12 23:21] japaric commented on #31590
I'm going to look into building compiler-rt as a crate using cargo instead of having the bootstrap binary build it. This should get us closer to being able to (cross) compile the std crate with cargo, i.e. just `cd src/libstd && cargo build`.

[2016-02-12 23:30] alexcrichton commented on #31590
(added some bullet points to that effect)

[2016-02-12 23:52] mbrubeck commented on #27780
Why do these methods take `&self` instead of `self`?  The lifetime of the `&self` borrow is not used anywhere.  (Should it be?)

[2016-02-13 00:16] #27328 closed

[2016-02-13 00:30] Flaise commented on #31615
If there were no private fields on TcpListener, I'd be able to do something like:

`tcp_listener.0.socket().set_timeout(Some(Duration::from_secs(1)), SO_RCVTIMEO);`

From what I've read elsewhere, SO_RCVTIMEO works on server socket accept operations as well as the client socket read operation that you're already using it for. I don't see what the big deal is, though I haven't tried forking and tam

[2016-02-13 00:37] japaric opened #31619 "[rustbuild] error on out of source build: fatal: Not a git repository"
### STR

[code]

But using a build directory *inside* the cloned rust directory works fine. i.e.

[code]

It seems `git submodule status` is called in the build directory instead of calling it inside the rust repository.

### Version

[code]

cc @alexcrichton

[2016-02-13 01:12] alexcrichton commented on #31615
Interesting! In that case this may be a good addition to the [net2 extensions](https://github.com/rust-lang-nursery/net2-rs). One point to maybe consider is if this works on Windows as well (I'm not sure)

You can extract the file descriptor on Unix through the `AsRawFd` trait

[2016-02-13 01:23] VladUreche commented on #21221
Thank you for the feedback @nikomatsakis -- if all else fails, I will PR an update to the error message.

I've been following the logical thread from the trait suggestion, but I need some help:
* the trait/method search in `suggest.rs` is done during typechecking, in the `librustc_typeck` crate, and ultimately relies on the [typechecker context](https://github.com/rust-lang/rust/blob/243a30c9319b5

[2016-02-13 01:35] habnabit commented on #27719
The prose docs say `&Mutex<T>` should be recover-safe, but that's not actually true: the implementation is only `impl<T: ?Sized> RecoverSafe for Mutex<T>` and there's no `impl RefRecoverSafe`. Not sure if the docs or the implementation is incorrect here.

[2016-02-13 06:06] tomaka commented on #27719
`Mutex` is recover-safe thanks to its poisoning mechanism.
If you try to use a mutex that was in use when a panic occurred, you will get a poison error. This prevents you from viewing the actual content, which may be in an invalid state.

[2016-02-13 06:08] habnabit commented on #27719
@tomaka sure, `Mutex<T>` is. I'm asking about `&Mutex<T>`.

[2016-02-13 06:11] pitdicker commented on #31594
Ah, yes. That is exactly the problem.

Now it always fails, but is easy fixable on Unix

[2016-02-13 06:15] pitdicker commented on #31594
Maybe I should just finish it and make a pull request... :)

[2016-02-13 06:18] tomaka commented on #27719
Oh sorry I thought you were saying that `&Mutex` does implement RecoverSafe, but shouldn't in theory.

[2016-02-13 06:20] tomaka opened #31622 "Compiletest doesn't pass environment variables to emscripten tests"
Compiletest passes environment variable to the `Command` object. However in the case of emscripten, these values get passed to `node` instead of the program itself.

`node` doesn't propagate env vars to the javascript code, since javascript has no concept of environment variable.

It is possible to pass environment variables to a javascript code compiled with emscripten, but that must be done by w

[2016-02-13 06:26] habnabit commented on #27719
[code]
Well, this fixes it, at least.

[2016-02-13 07:25] jseyfried opened #31624 "libsyntax: bug in macro expanded non-inline module declarations"
The search paths for a macro-expanded non-inline module declaration are always computed as if the declaration were at the top level of the file in which the macro was defined.

[2016-02-13 09:31] luxspes commented on #18533
This is far from fixed, the crates guide does not explain at all how to find the way to  use more than one file on your project.
It explains how to call files from one project into another project, but if if you try to have 2 files in one crate call a function from each other you will fail and the guide will not help you at all

[2016-02-13 09:38] luxspes opened #31625 "Multiple-file single project/crate with function calls example in guide, please?"
This https://github.com/rust-lang/rust/issues/18533 is far from fixed, the crates guide does not explain at all how to find the way to use more than one file on your project.
It explains how to call files from one project into another project, but if if you try to have 2 files in one crate and call a function from each other you will fail and the guide will not help you at all.
You create a crate

[2016-02-13 10:08] #31512 closed

[2016-02-13 10:38] mitaa commented on #29814
The deeper problem is that rustc (`hir::{Path, PathSegment, ..}`) doesn't give enough information (just an ident) about the path-segments to rustdoc so that we can ascertain the item-type necessary for creating the hyperlink.

I'm not sure how this ought to be solved:
* Somehow attaching resolved DefId's within rustc to the path-segments? (metadata bloat?)
* Running resolve within rustdoc and reso

[2016-02-13 12:51] raindev commented on #29646
I'm curious about the reasons behind this feature. Why aren't ordinary functions good enough for the same purpose? Given that Rust have default methods it shouldn't be much less ergonomic. And combination of monomorphisation and static lifetimes should converge any difference in terms of performance.

[2016-02-13 13:11] dumindu opened #31628 "Docs Bug : Primitive Types - Conflict between Rust Book and the Reference"
Please refer,
* https://doc.rust-lang.org/book/primitive-types.html
* https://doc.rust-lang.org/reference.html#primitive-types

Rust book considers arrays, tuples, slices and functions also primitive types but on the reference it does not

[2016-02-13 14:48] steveklabnik commented on #31625
There is an entire section that covers this https://doc.rust-lang.org/book/crates-and-modules.html#multiple-file-crates

[2016-02-13 14:48] #31625 closed

[2016-02-13 14:49] steveklabnik commented on #31625
(You need to call `first::blah()` rather than just `blah()`)

[2016-02-13 18:45] quodlibetor commented on #31598
Without the self type as the lhs of the `U -> T` there is no way to search for "all methods that produce T" (i.e. [`-> vec`](http://doc.rust-lang.org/nightly/std/?search=-%3E%20Vec) and similar don't work) perhaps something like `* -> T` and/or `void -> T` should be added before this is fixed?

[2016-02-13 19:04] arielb1 commented on #31603
a backtrace would help

[2016-02-13 19:05] Aaronepower opened #31634 "Add documentation for &str prefixes."
I cannot find any documentation of `&str` prefixes, some are obvious, like `b"Hello"` gives the equivalent in bytes, which is easily shown by it's usage in doc tests, but for example the prefix `r#"Hello"#` isn't obvious from it's usage.

There may also be other prefixes, but there is no definitive place to find that out. There should be a list of prefixes available to remove this "hidden" knowled

[2016-02-13 19:07] Yoric commented on #31603
See above link, it includes a backtrace.

[2016-02-13 19:07] arielb1 commented on #31603
I suspect this is a duplicate of #31504.

[2016-02-13 19:10] petrochenkov commented on #31634
The [language reference](http://doc.rust-lang.org/reference.html) contains information like this.
http://doc.rust-lang.org/std/primitive.str.html and http://doc.rust-lang.org/std in general are about library things.

[2016-02-13 19:14] Aaronepower commented on #31634
@petrochenkov Maybe it should just contain a link to the language reference then?

[2016-02-13 19:17] untitaker commented on #29758
whatever, continued at https://github.com/rust-lang/rfcs/issues/1499

[2016-02-13 19:22] skylerberg opened #31636 "Internal Compiler Error during operating system (redox) build"
I am working building the redox operating system, which is built in rust and I got an ICE. I don't have any understanding of why this happened, so I will just try to give as much meta information as possible.

Subsequent builds also resulted in the same ICE.

## Meta

Version:
[code]

Redox commit `31bf5ab19e1222739f30ec5c7535cf4c0fccad09`

Operating system: Ubuntu 14.04, Linux kernel `4.2.3-04020

[2016-02-13 19:27] jonas-schievink commented on #31636
Should've been fixed by #31564

[2016-02-13 19:28] skylerberg commented on #31636
@jonas-schievink So that should hit in tomorrow's nightly?

[2016-02-13 19:29] jonas-schievink commented on #31636
Yeah, I think so

[2016-02-13 19:35] skylerberg commented on #31636
Thanks, closing.

[2016-02-13 19:35] #31636 closed

[2016-02-13 21:33] rkruppe commented on #31634
I'm ambivalent about linking to the language reference. It's old, often incomplete or outdated, sometimes misleading, occasionally even wrong (e.g. in examples). Even if it were complete, up-to-date and correct, it's far too detailed for casual learning.

The *syntax* reference seems like a better place for this information.

[2016-02-13 23:24] #25787 closed

[2016-02-13 23:24] #30366 closed

[2016-02-13 23:47] jseyfried opened #31644 "Resolve: incorrect error messages after a duplicate module definition"
For example,
[code]
reports the duplicate definition of foo, but also reports
[code]

The example compiles without errors if one of the modules' name is changed.

[2016-02-14 00:39] alexreg commented on #19207
Could we have writable variants actually, please? Currently, since `FlagV1` is private, I can't even mimic the functionality of `impl<T> Pointer for *const T` for my own types, which is a shame.

[2016-02-14 01:52] VladUreche commented on #21221
Some progress on this: https://github.com/VladUreche/rust/commit/f4abc9d08ebd17bc4d765286e2fec4278976e216

[2016-02-14 02:01] Manishearth opened #31645 "Tracking issue for libsyntax breaking changes"
See also: https://internals.rust-lang.org/t/please-consider-stability-of-libsyntax/2947

We decided to batch up breaking changes to oft-used unstable compiler internals (mainly, libsyntax) until they're large enough; so that the impact of these breaking changes is minimized. (For example, every time libsyntax breaks, aster and transitively everyone using serde on nightly has to fix it)

Let's try

[2016-02-14 05:06] VladUreche commented on #21221
Okay, sloppy implementation, but I have a solution:
[code]
Commit is https://github.com/VladUreche/rust/commit/9a4c9e54be207b88732ff9caa123ab1daa529b85.

[2016-02-14 05:16] #28978 closed

[2016-02-14 05:16] #30050 closed

[2016-02-14 05:16] #31549 closed

[2016-02-14 06:37] nixpulvis opened #31647 "ICE: Associated const feature missing."
Adding this associated constant to my program makes it ICE, not 100% why, but I wouldn't expect this to compile anyway due to the lacking `feature`. It could have something to do with the `Self` in the type.

[code]
## Meta

rustc 1.8.0-nightly (b94cd7a5b 2016-02-01)
binary: rustc
commit-hash: b94cd7a5bd488324e39047682e1e4dad9c08fa93
commit-date: 2016-02-01
host: i686-apple-darwin
release: 1.8.0-n

[2016-02-14 09:12] petrochenkov commented on #3784
This can be closed now, I believe.
`def_mod` and `def_ty` are now `Def::{Mod, Enum, TyAlias and maybe Struct}` and they are often used after resolve, when types and modules are treated very differently.

[2016-02-14 09:18] bluss commented on #28235
This is a wanted feature in numerical crates of course.

There is one limitation of the current implementation that's appeared in ndarray, and it ties in with something else: There are no custom DSTs in rust. So when we produce an array view (slice of part of an array), we return a new struct type, for example `ArrayViewMut<'a, f32>`.

The `+=` limitation is that it does not apply on rvalues, so t

[2016-02-14 11:58] arielb1 commented on #3784
I think this was fixed.

[2016-02-14 11:58] #3784 closed

[2016-02-14 12:14] #26606 closed

[2016-02-14 13:23] eddyb commented on #26978
Update: That was dumb of me: I did not realize this only ever happens with `str`.
Of course it does, [because I never implemented it](https://github.com/rust-lang/rust/blame/083dc5b12d6d29e5d88f6446664968d1f868562d/src/librustc_typeck/check/mod.rs#L3831).

[2016-02-14 13:56] #31059 closed

[2016-02-14 17:35] itaibn opened #31654 ""unprintable span" compiler error with improper closure in nom macro"
[Note: I believe that this is probably another instantiation of issue #31089]

The macro `chain!` from the package `nom` expects at the end a closure with zero arguments. If the closure has more arguments, the compiler emits the error "internal compiler error: unprintable span". Crate to replicate this error:

Cargo.toml
[code]

src/lib
[code]

Error message (full path omitted for privacy):
[code]

[2016-02-14 17:51] wesleywiser commented on #31577
Here's a backtrace from `rustc 1.8.0-dev (f3619ce02 2016-02-14)`:

[code]

[2016-02-14 19:48] pitdicker opened #31657 "Spurious timeout in test net::tcp::tests::close_read_wakes_up"
It just happend with my unrelated pull request on auto-win-msvc-32-opt.
It is the only test that dit not complete between this build and the previous.
It also contains the comment: "this test will never finish if the child doesn't wake up"

[2016-02-14 20:04] pitdicker commented on #31657
This seems to be relevant.
http://stackoverflow.com/questions/10935267/does-a-socket-shutdown-call-from-another-thread-always-make-blocking-recv-thre

A thread may not wake up on Windows if a socket is shut down.

[2016-02-14 20:10] nagisa commented on #31617
My guess would be liveness using proper dataflow-analysis, and typeck only considering `loop` to be diverging if it is not `break`-d out from.

We recently investigated typeck behaviour with @nikomatsakis (or, rather, @nmatsakis did) when trying to replicate it for loops in MIR builder.

[2016-02-14 20:18] nrc commented on #31337
@jseyfried Are talking about Rustdoc? I think listing a struct when it is only exported in a single namespace is OK (better than not listing it, since it is in fact exported in some sense). Perhaps adding notes for such situations would be nice.

[2016-02-14 20:34] petrochenkov commented on #31337
By the way, what will happen with half-shadowed items in cross-crate scenarios?
Metadata doesn't care about namespaces currently, it will keep the half-exported items as whole items.
Then some of the conflicting names will be unpredictably ignored again due to `try_define` when this metadata is read.

[2016-02-14 21:24] Amanieu commented on #27719
`AssertRecoverSafe` should have a `into_Inner()` method to consume its contents. This would allow it to wrap `FnOnce` objects without needing to use an `Option`.

[2016-02-14 21:24] #28528 closed

[2016-02-14 21:25] petrochenkov opened #31659 "Tuple struct/variant patterns don't work with type aliases"
[code]

For some reason names of tuple struct/variant patterns are searched for in the value namespace and not in the type namespace.
This is strange, because `S` here is a name of the type, not constructor function, and `S(x)` is not a function call.
`S` and `Z` should probably be searched in the type namespace, like names of struct patterns `S{..}`.
Theoretically such change can break code, but

[2016-02-14 21:30] nodakai opened #31660 "Confusing help message on an attempt to call a module-local macro"
[code]

[code]
The help message is off the point.

- https://play.rust-lang.org/?gist=f707c254c6feded72200&version=nightly

[2016-02-14 21:36] Amanieu commented on #31536
I think there is a good case for moving these types into libcore to support FFI with freestanding C code which does not use a libc. This is mainly relevant for embedded and/or kernel code, which will be using no_std and will not be able to use the libc crate.

[2016-02-14 22:33] fhahn commented on #31654
I just tried to reproduce the bug, but it seems to be fixed in nightly. I noticed you are using rustc 1.6, but #31089 landed after 1.6 was released.

[2016-02-14 22:47] jseyfried commented on #31337
@nrc I was talking about Rustdoc. Thinking about this some more, I agree that it is OK to list a partially shadowed struct -- it looks like it would be very uncommon in the wild and we already have far more common cases of unnameable paths in rustdoc thanks to the distinction between visibility and nameability.

@petrochenkov Indeed, except they will be predictably ignored -- items are listed befo

[2016-02-14 23:02] rkruppe opened #31662 "target_feature cfg only obeys `-C target-feature="+feature"`"
[This program](https://gist.github.com/anonymous/f1d2de2d893c74887919) on a 32 bit Linux outputs `no SSE :(` even though our default target *does* enable SSE and SSE2:

[code]

I'll save myself the hassle of copying `rustc -vV` from the VM I tested this on, because the relevant code hasn't been touched since `cfg_target_feature` was introduced in 4f44258 (July 2015).

This is because the feature d

[2016-02-14 23:07] petrochenkov commented on #31337
Well, at least it doesn't depend on the phase of the moon.

[2016-02-14 23:08] jseyfried commented on #31659
I agree with the current behavior. The way I see it, tuple struct constructors live in the value namespace and these constructors can be used as functions or as patterns.

I think it would be confusing to have `S` in `S(x)` mean one thing as an expression and another thing as a pattern, which could happen if we split constructor functions and patterns into different namespaces; for example,
[code]

[2016-02-15 00:00] itaibn commented on #31654
I tested it on nightly, but now I just upgrade nightly and tested it again, and I confirm that it works in this case.

[2016-02-15 00:00] #31654 closed

[2016-02-15 00:30] cetra3 opened #31665 "getaddrinfo may be slow on OS X"
Tracking down an issue within the [Iron library](https://github.com/iron/iron/issues/423), It appears as though when making a connection, the TTL of the DNS record is not honoured, and each subsequent request to the same URL (host) is met with a DNS lookup.

With a hostname in the URL I get about a half a second delay.  Without, I get normal response times.

If I watch the interface with tcpdump I

[2016-02-15 00:37] cesarb commented on #24564
The RISC-V architecture (http://riscv.org/) doesn't support double-wide compare-and-swap. It supports only Load-Reserved/Store-Conditional, which is an alternative way of avoiding the ABA problem. See page 30 of http://riscv.org/wp-content/uploads/2015/11/riscv-spec-v2.0.pdf.

I don't think it would be a good idea to have in the standard library an API which can only support DW-CAS but not LR/SC,

[2016-02-15 00:44] nagisa commented on #31665
I believe it is the OS’s responsibility to cache DNS requests. We do not produce raw DNS queries either – we’re using the libc getaddrinfo call.

[2016-02-15 00:51] arielb1 commented on #31617
@nagisa

Right - I already checked that. That's the problem - typeck essentially considers all `break`s to be always reachable, while liveness uses CFG reachability. The question is what we want to do about it - there is some plan to allow for unreachable patterns, and in that case CFG reachability would require pattern reachability, at least to be consistent.

A few alternatives:
* Outside of `ma

[2016-02-15 01:15] #31599 closed

[2016-02-15 01:33] Aatch commented on #31665
Looking into this it appears that the OS is normally expected to cache DNS requests. I think that adding caching behaviour to the standard library for this is inappropriate and the relevant libraries should handle it, if deemed necessary.

Feel free to re-open if you disagree.

[2016-02-15 01:36] cetra3 commented on #31665
The OS does cache requests correctly, but rust doesn't appear to be using this facility at all.

[2016-02-15 02:12] huonw commented on #31662
Yeah, this should be looking at the target spec in use (i.e. even if it is a custom one, not knowing about the built-in ones), and it should also correctly turn off features when requested.

(I tried to do this, but couldn't find a way to actually get it to work. This would be far-and-away the nicest way.)

[2016-02-15 02:20] VladUreche commented on #21221
The last commit adds recommendations for both resolution errors in the bug description and the new message is more comprehensible, IMO: https://github.com/VladUreche/rust/commit/e11a5ffe4643a29ce68915d97deab80d8920833b

@fitzgen @nikomatsakis are you okay with the [result](https://github.com/VladUreche/rust/blob/e11a5ffe4643a29ce68915d97deab80d8920833b/src/test/compile-fail/issue-21221.rs)? Btw, i

[2016-02-15 02:48] jethrogb opened #31667 "Can't mutably borrow out of box pattern twice"
See the following code
[code]
`foo_s` compiles fine, but `foo_box` generates an error:
[code]

[2016-02-15 02:53] Aatch commented on #31665
@cetra3 having done further investigation, it seems like OS X has a history of being weird with `getaddrinfo`. While nothing I have found matches your issue, I'm tempted to think that it's an OS X issue.

[2016-02-15 03:23] cetra3 commented on #31665
@Aatch I have tried this on Ubuntu 14.04 and don't receive the same slowdown so it does appear to be related to OSX.

Appears as though the Kerberos library hit this issue also: https://krbdev.mit.edu/rt/Ticket/History.html?id=1683

Is it possible to use this same workaround in Rust, using `gethostbyname` instead of `getaddrinfo`?

[2016-02-15 03:34] japaric commented on #9367
My experience using `lld` to link Rust programs on Linux: (**Spoilers** it didn't work at all)

I started with a hello world program:

[code]

Then produced an object file and got the linker arguments used by `rustc`:

[code]

These arguments don't work with `lld`, so I made the following changes:

- First argument: `-flavor gnu`
- Add /usr/lib to search path: `-L /usr/lib`, or `lld` won't be able

[2016-02-15 03:45] nrc commented on #31659
There is a philosophy in Rust that deconstruction by patterns matches construction. I think that supports the notion that the pattern is the constructor function 'in reverse' rather than the type.

Can we contrive an example with structs where the struct name is hidden in the type namespace but not the value namespace, and then what happens to the pattern? Does it still work? As long as we are con

[2016-02-15 03:54] jseyfried commented on #31659
Yeah, and the pattern still works:
[code]

[2016-02-15 05:18] Aatch commented on #31665
@cetra3 the thing is, that issue is over a decade old now, so I'm reluctant to use that solution. Especially since `gethostbyname` is largely considered obsolete nowadays.

I don't have access to an OS X machine to investigate on, so I'll punt this along to @rust-lang/libs

[2016-02-15 05:22] cetra3 commented on #31665
@Aatch A decade old and still not fixed!  I doubt that Apple would be bothered fixing it if it's gone this long.

[2016-02-15 05:56] Aatch commented on #31662
Argh, LLVM apparently doesn't want anybody to get/query CPU features. This means it'll require a patch to LLVM to do properly, not a big one, since the functionality we need is basically already there (is feature X enabled), but it's not exposed at present.

[2016-02-15 05:59] Aatch commented on #31665
@cetra3 it's more that I can't find any new reports that match this issue properly. There's all sorts that have similar complaints but don't apply to us (setting a servname is one, which we don't do). `getaddrinfo` has had some significant work done on it between now and then, so it seems weird that it'd still be slow.

[2016-02-15 07:20] mitaa commented on #31098
I think this is still an issue?

[2016-02-15 08:02] mitaa commented on #31577
Minified:
[code]

[2016-02-15 08:05] pijul opened #31670 "std::sync::RwLock upgrade a ReadGuard to WriteGuard."
I'm writing a library implementing transactions on an memory-mapped file.
Transactions can be mutable and non-mutable, with rules slightly different from the usual Rust model:

- All transactions can read memory
- There can be only one mutable transaction started at any time
- Mutable transactions do not exclude non-mutable ones, except for a very short synchronization time at the end

Right now,

[2016-02-15 08:08] mitaa commented on #31647
I think you're running `rustdoc`/`cargo doc`? Does this also happen when just running `rustc`/`cargo build`?

[2016-02-15 08:49] cybergeek94 commented on #31670
RwLock and Mutex are both wrappers for operating system primitives. Unfortunately neither Windows nor Linux seem to support upgrading a read lock to a write lock without releasing the former. If you don't release the read lock first, the thread will deadlock when you try to acquire a write lock.

[2016-02-15 09:10] #31644 closed

[2016-02-15 09:11] #31402 closed

[2016-02-15 09:14] pijul commented on #31670
Sure, hence my solution with an extra mutex. I didn't know the wrapper was that thin.

[2016-02-15 09:16] pijul commented on #31670
(sorry about the open/close).

Sure, that's why I'm using the extra mutex. It didn't seem to me like the wrapper was that thin. If it is, then it's definitely not worth doing what I'm suggesting.

[2016-02-15 09:18] rkruppe commented on #31662
Querying LLVM would be perfect, but since we're committed to supporting some older releases (not sure which ones exactly) this won't be a solution in the short term. Still, if someone wrote that patch and got it upstream *now*, this issue could be solved properly in the future (whenever we bump our minimum requirement to, let's say, 3.9).

[2016-02-15 09:20] ranma42 commented on #31662
I think it might be possible to extract the features from LLVM without any changes to its code base.
Given an `llvm::TargetMachine` they are made available through its `getMCSubtargetInfo()` method. The `MCSubtargetInfo` objects exposes the raw features through the `getFeatureBits ()` method and (given the CPU, which is available from the same object though `getCPU()`), they can be associated to t

[2016-02-15 09:29] eddyb commented on #31265
It might be interesting to see if [polly](http://polly.llvm.org/example_load_Polly_into_clang.html) has any effects on our testcases.

[2016-02-15 09:55] mitaa commented on #14077
Hmm, I deliberately removed the search-index entry in #30504 because it was [broken](https://github.com/rust-lang/rust/issues/30327).

[2016-02-15 10:15] pnkfelix commented on #28356
If another reader sees this and like me thinks "won't the need to handle cycles provide a separate place to represent this information?" then you should read the linked issue. (Quick answer: maybe yes,  but it sounds like it doesn't currently handle cycles well anyway, and the comment thread has some interesting alternative ideas beyond a separate map of seen addresses.)

[2016-02-15 11:27] jonas-schievink commented on #26600
Triage:
[code]
(this creates an absurd amount of code)

`llc -O0 -fast-isel -fast-isel-abort 1 test.ll` gives, using the `llc` shipped with the current Rust master:
[code]

And with the `llc` of LLVM 3.7.1:
[code]

(on x86_64 Arch Linux)

Rust's own `llc` is better probably because of rust-lang/llvm@e37f45f5f4dc8a40e15c72045bb9b6330dee302c, but I'm not sure why the `icmp` still isn't selected. @pc

[2016-02-15 11:37] jonas-schievink commented on #4353
FastISel still dislikes `switch`, and the MIR translator generates it as well. Fixing this with MIR is much easier, we could replace unneeded `SwitchInt`s in the SimplifyCfg pass or write another pass for this.

(you can check for FastISel by running the LLVM IR through `llc -O0 -fast-isel -fast-isel-abort 1 test.ll` - preferrably using the `llc` compiled from Rust's LLVM submodule, which is locat

[2016-02-15 11:45] arielb1 commented on #4353
@jonas-schievink

We may want to do this in the lowering for `SwitchInt`.

[2016-02-15 12:00] arielb1 commented on #26600
Yes trans is sure to load and store every value quite a bit of times.

[2016-02-15 12:11] nagisa commented on #9367
ELF `lld` is being rewritten and the old version is not maintained much anymore to my knowledge. I wouldn’t be surprised about it (either version) not quite working yet.

[2016-02-15 12:35] japaric commented on #9367
Aha, that would explain the errors. I'll try again at a later date :smile:.

[2016-02-15 13:07] ferjm opened #31676 "error: internal compiler error: Error constructed but not emitted"
I am seeing the following panic:
[code]

Caused by the following code:

[code]

I can workaround the panic if I do:
[code]

[2016-02-15 13:11] ferjm commented on #31676
The issue seems to be the missing `;` after the closing match `}`

[2016-02-15 13:18] jonas-schievink commented on #31676
Looks like this is a bug in the "describe" syntax extension.

[2016-02-15 13:20] jonas-schievink commented on #31676
Yep. Bug in stainless. This file is using `.ok()` quite a lot: https://github.com/reem/stainless/blob/master/src/parse.rs

[2016-02-15 15:04] BurntSushi commented on #31645
I would also like to re-submit my plea that commits with breaking changes are tagged, and if possible, at least some message that hints at or explains how to fix breakages.

Other crates with macros in use (apparently) are `docopt_macros` and `quickcheck_macros`.

[2016-02-15 16:03] steveklabnik commented on #31670
/cc @rust-lang/libs , is this even possible to implement? I share @cybergeek94 's concern.

[2016-02-15 16:13] pijul commented on #31670
What I'm doing right now is
- 1 Mutex for "read access"
- 1 RwLock.

Readers take the read access to the RwLock, writers take the mutex (but not the RwLock). Whenever a writer needs to "upgrade", it takes the write access to RwLock.

Guarantees:
- No race condition: because of the mutex, there is always at most one writer. in particular, during the "upgrade", no other writer can be started.
- No d

[2016-02-15 16:14] Manishearth commented on #31645
Yeah, they get tagged with [breaking-change]. With this bug in place they should also be posted here first and we can notify everyone well in advance before a rollup.

[2016-02-15 16:43] tamird commented on #9367
FWIW, I've updated https://github.com/tamird/rust_lld, and things seem to work as before against LLVM HEAD (`$(brew --prefix llvm)/bin/llvm-config --version` prints `3.9.0svn`).

That is, "hello world" works, but panic doesn't (illegal instruction). I'm not sure what you were doing wrong @japaric but I'd be happy to collaborate if you want to use my work as a starting point.

[2016-02-15 16:47] alexchandel commented on #9367
@nagisa It *will* be fixed eventually right? It'd be a pity to only be able to link mach-o and windows binaries.

FWIW, by having a shell script called `link.exe` that adds the `./lib` folder of `~/i686-pc-windows-msvc` (itself a union of ~/i686-pc-windows-msvc-vc6 and ~/i686-pc-windows-msvc-w10) to the `LIB` env variable and then calls `lld-link`, (and doing a similar thing for `cl.exe` for proje

[2016-02-15 16:50] nagisa commented on #9367
@alexchandel they’re rewriting it ELF backend from scratch.

[2016-02-15 16:51] mackwic commented on #14595
I can't speak for chris, but here are the advantages I can see from emitting a metadata blob:
- it can be used for various other tools other than HTML emitting (eg: automatic blanket impl code generation in editor à la IntellijIdea pop to mind, or completion with embedded documentation à la VisualStudio)
- it can also be used by crates.io in order to check any API breakage and enforce semver, or b

[2016-02-15 16:52] alexchandel commented on #20213
@steveklabnik I agree with @klutzy, this is exactly what I found confusing initially.

We could *actually* be "Like GCC and Clang" and translate `"=t"` to `"={st}"`, which is what I'd assume after reading the phrase "Like GCC and Clang", or we could say we're like LLVM IR.

[2016-02-15 17:08] SimonSapin commented on #28356
@pnkfelix indeed. One of the alternative idea is to return 0 if the strong reference count is more than 1, and that would also need stabilizing one of the methods covered in this issue.

[2016-02-15 17:24] steveklabnik commented on #20213
Okay, sorry for missing the boat here.

[2016-02-15 17:33] malbarbo commented on #30423
Should we open another issue for `binary_search_by_key` or you think it's no relevant anymore?

[2016-02-15 17:59] bstrie opened #31681 "Mark &mut pointers as noalias once LLVM no longer miscompiles them"
This issue tracks the undoing of the workaround introduced in https://github.com/rust-lang/rust/pull/31545 on account of a bug in LLVM. cc @dotdash

[2016-02-15 18:09] SimonSapin opened #31682 "Tuples should be fundamental"
Test case:

[code]

Output with rustc 1.8.0-nightly (fae516277 2016-02-13):

[code]

But the impl _does_ define a type defined in this crate, `Host`.

Is this impl fundamentally problematic, or could coherence rules be extended for tuples?

[2016-02-15 18:28] alexcrichton commented on #31670
Thanks for the report @pijul! As @cybergeek94 mentioned, right now we simply bind the OS primitives rather than build a suite of fancier synchronization utilities on top of them. This sort of functionality can always be done through crates.io!

That, plus an atomic rwlock upgrade is actually generally impossible. There must be a way to handle two readers upgrading simultaneously. I've heard that s

[2016-02-15 18:28] #31670 closed

[2016-02-15 18:36] alexcrichton commented on #31657
Hm that just seems to indicate that the child will *eventually* wake up... I wonder if `Shutdown::Both` would fix the problem here?

[2016-02-15 18:37] arielb1 commented on #31682
That's the annoying future compatibility rules. Tuples are currently not `#[fundamental]` - I imagine that we should fix this. cc @nikomatsakis

[2016-02-15 19:39] jorendorff opened #31683 "rustc error message prose style in "recursive type `T` has infinite size""
Stable (1.6):

    <anon>:1:1: 3:2 error: invalid recursive struct type [E0072]
    <anon>:1 struct T {
    <anon>:2     t: T
    <anon>:3 }
    <anon>:1:1: 3:2 help: see the detailed explanation for E0072
    <anon>:1:1: 3:2 help: wrap the inner value in a box to make it representable

Nightly (1.8):

    <anon>:1:1: 3:2 error: recursive type `T` has infinite size [E0072]
    <anon>:1 struct T {

[2016-02-15 19:39] jorendorff commented on #31683
I would *not* recommend adding:

    <anon>:1:1: 3:2 help: "Big `T`s have little `T`s,
    <anon>:1:1: 3:2 help: Upon their backs to bite 'em,
    <anon>:1:1: 3:2 help: And little `T`s have lesser `T`s,
    <anon>:1:1: 3:2 help: and so, ad infinitum."

but it's not like I can stop you.

[2016-02-15 19:45] jorendorff commented on #31299
Sorry I mentioned it. Filed #31683 for the pet peeve.

[2016-02-15 19:50] arielb1 commented on #31683
The cycle can also contain enums - in which case an `Option` would not be needed. I'm generally against adding lots of special-case error messages - as you can see in this case, they have an annoying tendency of

OTOH, I see the point of adding the relevant field (and variant) to the backtrace of structural traits/default traits/OIBITs, as ADTs can get quite large.

[2016-02-15 20:00] arielb1 commented on #31683
A possible example:
[code]

or for more complicated cases
[code]

[2016-02-15 20:19] james-w commented on #31587
I will take a look at this. I'm pretty experienced with Makefiles, and I've had a look and
I think I follow how this works.

[2016-02-15 21:24] #31497 closed

[2016-02-15 21:25] japaric commented on #9367
@tamird I think `lld` works in your case because you are using the `mach-o` backend (macos) instead of the `elf` backend (linux). I tried your scripts, I had to modify them to run on Linux, but `lld` is not being used at all. I think it's because `rustc` uses `cc` as a linker, `cc` calls `collect2` (instead of `ld`) with all the linker arguments and `collect2` then calls a prefixed `ld` (i.e. `/us

[2016-02-15 21:41] tamird commented on #9367
You must be using GCC; `-B` is an undocumented flag respected by clang.

Also, note that some of the scripts invoke `rustc` and `lld` in two steps, so even on your system, those should be using `lld`. See https://github.com/tamird/rust_lld/blob/master/manual_dynamic.sh#L11 and https://github.com/tamird/rust_lld/blob/master/manual_static.sh#L11.

[2016-02-15 22:34] nagisa opened #31686 "`type` aliases cannot be used for traits note is printed wrongly"
[code]

The error here is pretty clear, but the note is completely wrong as the relevant snippet appears in the type of the struct field and not `type` item.

[2016-02-15 22:35] nagisa commented on #31686
A bit relatedly, the `E0404` is explaining something about implementing non-traits. The error explanation should either be expanded to include the current case or a different error code should be used.

[2016-02-15 22:38] nagisa opened #31687 "E0404 error explanation is too narrow"
The E0404 is explaining something about implementing non-traits, but the error code is also presented for cases like in https://github.com/rust-lang/rust/issues/31686. The error explanation should either be expanded to include the current case or a different error code should be used.

cc @GuillaumeGomez on the thing described in this comment, since you originally authored the explanation for the

[2016-02-15 23:00] tmiasko opened #31688 "sync::Once and panicking closure"
The documentation for sync::Once does not clarify what happens if given closure
panics. Currently I would rather expect that call_once will execute the closure
only once, whether it panics or not. But this is not what happens:

[code]

Prints:
[code]

Either way documentation needs a slight improvement. And additionally code if
it is not a desired behaviour. As a side comment I will note that this

[2016-02-15 23:32] GuillaumeGomez commented on #31687
Thanks! I'll take a look as soon as I can.

[2016-02-15 23:47] abbradar opened #31690 "Minimum/maximum elements search in BTreeMap/BTreeSet"
It would be nice to have something like (pseudo-code):

[code]

This should be fast for trees (just walk the tree to the left-most or right-most element) and is very useful. For example Haskell has these functions in its excellent library [containers](https://hackage.haskell.org/package/containers-0.5.7.1/docs/Data-Map-Lazy.html#v:findMin), along with other potentially interesting functions (see t

[2016-02-15 23:51] apasel422 commented on #31690
A dedicated method would improve discoverability, but you can do:

[code]

and the same for `BTreeSet`.

[2016-02-15 23:53] abbradar commented on #31690
Hm, I haven't known about `next_back`. What I'm interested however is algorithmic complexity of these -- would this be O(log_2 n) (with all the caveats of using B-tree) or something different?

[2016-02-15 23:56] abbradar commented on #31690
BTW, I don't see a mention in the [documentation](https://doc.rust-lang.org/std/collections/struct.BTreeMap.html#method.iter) that `iter()` walks items in proper order. It would be nice to add it there, I think.

[2016-02-16 00:06] abbradar commented on #31690
Some thoughts on the matter: if `iter()` does walk items in order, then we should get `min` with proper complexity automatically if I understand correctly. So this leaves a question of whether `next_back()` does the right thing there.

[2016-02-16 00:20] comex opened #31691 "Cow trait bound without ToOwned produces odd "`core::marker::Sized` is not implemented""
Incorrect code, because `Cow` requires `ToOwned` on its parameter:

[code]

Fixed:

[code]

Makes sense, but rustc's error for the first version is odd:

[code]

`Into` doesn't require `T` to be `Sized`, and indeed in the `Cow` case it usually isn't.

If I remove the `?Sized` from `T`, I get `the trait core::clone::Clone is not implemented for the type T`; stable produces this error for the origin

[2016-02-16 01:07] durka opened #31692 "#[repr(C)] silently accepted on ADT enums"
This code compiles without error or relevant warning:

[code]

But obviously the representation of the enum is still going to be undefined, and not integral or C-compatible (trivially checked by `mem::size_of` in this case).

There should be an error (probably infeasible) or at least a lint that is on by default.

@aatch says there is already an issue about this, but I can't find it, so feel free

[2016-02-16 01:22] #31554 closed

[2016-02-16 02:32] petevine commented on #31503
In case there's nothing actionable on the Rust side I'm posting a link to the upstream issue:

https://llvm.org/bugs/show_bug.cgi?id=26539

Still, maybe @bluss has an idea what could be going on here?

[2016-02-16 03:15] Aatch commented on #31691
Related: #30976

[2016-02-16 03:16] apasel422 commented on #31667
This looks like a duplicate of #30104.

[2016-02-16 03:18] kvark commented on #31504
Looks like it's fixed now, thanks!

[2016-02-16 03:50] sfackler commented on #31690
It does do the right thing.

[2016-02-16 04:29] abbradar commented on #31690
Thanks! I guess this is purely a documentation issue then. What about changing `iter()` documentation to something like:
[code]
(Sorry for possibly bad language, I'm bad at writing documentation)

[2016-02-16 05:38] zonyitoo opened #31697 "Segmentation fault to return tuple struct from FFI"
Reproduce step:

[code]

[code]

Compile it with
[code]

* Run `test` on `Darwin YTC-MBP 15.3.0 Darwin Kernel Version 15.3.0: Thu Dec 10 18:40:58 PST 2015; root:xnu-3248.30.4~1/RELEASE_X86_64 x86_64`, it prints
[code]

* Run `test` on `Linux debian 3.16.0-4-586 #1 Debian 3.16.7-ckt20-1+deb8u3 (2016-01-17) i686 GNU/Linux`, the program crashes with `SIGSEGV`.

    Run `gdb` on the `test`, I saw the

[2016-02-16 05:54] alexcrichton commented on #31688
triage: I-nominated

[2016-02-16 05:55] alexcrichton commented on #31688
I don't really have an opinion on what the semantics *should* be in this case, but I'm curious what others think!

[2016-02-16 05:58] alexcrichton commented on #31667
Indeed!

[2016-02-16 05:58] #31667 closed

[2016-02-16 06:01] alexcrichton commented on #31697
The ABI of returning a newtype struct is different than returning the contents of the struct, so I think the first example is wrong on the Rust side by indicating the return value is a struct, not just the pointer.

In the second example it ends up working out because the return type is a struct in both cases, but you'd likely still get the most bang-for-your-buck if the two ABIs are exactly the s

[2016-02-16 06:01] #31697 closed

[2016-02-16 06:02] jethrogb commented on #30104
#![feature(box_patterns)]

box pattern

There. Now other people can find this bug.

[2016-02-16 06:18] sfackler commented on #31688
I personally think the current behavior is fine (a common use case for Once it to initialize something, and if the closure panics it probably hasn't been initialized), but we should document it.

[2016-02-16 07:01] #31122 closed

[2016-02-16 07:03] zonyitoo commented on #31697
@alexcrichton But in the second example, the C API is defined as follow:

[code]

And I have to pass a Rust function `extern "C" fn(Transfer t) -> Transfer` to the C library and called by the  library, which means that I have to define a `struct Transfer` in Rust. So my question is: Is it safe to define `Transfer` in Rust like this

[code]

Because in C code, it passed the argument in pure ASM cod

[2016-02-16 07:12] tarrant commented on #31665
I attempted to replicate this issue on OSX 10.11.1 and Rust 1.6.0 with the following code:

[code]

My invocation to getaddrinfo appears to match that of [libstd](https://github.com/rust-lang/rust/blob/c4b16384f101bbe28dc4eec0651a61cb9d5274ac/src/libstd/sys/common/net.rs#L123-L124), although I'm calling via crates.io/libc instead of what appears to be the builtin c.

The output of the test program

[2016-02-16 07:37] cetra3 commented on #31665
@tarrant,

I have tested your code and it works OK with google.com, but not `.local` addresses.

The local addresses I have do not have ipv6 (AAAA) records, which is what I can see is being requested continously.  My assumption is that `getaddrinfo` is doing something weird in this case.

[2016-02-16 07:41] AlexRadch commented on #19535
Where instructions how to download Rust sources?
I want configure RustDT (https://github.com/RustDT/RustDT/blob/latest/documentation/UserGuide.md)  but I don't see any instructions here. I use Windows.

[2016-02-16 08:31] mischief opened #31698 "rustc crash in nightly from 2016-02-16"
hi, i have updated to rustc nightly from 2016-02-16. rustc crashes and i got the following backtrace.

my full codebase is not online but if i can provide more info i'll see what i can do.

output of `echo "thread apply all bt" | coredumpctl gdb 19425`

[code]

[2016-02-16 08:36] RexMorgan commented on #29679
I'm seeing this same error on `1.8.0-nightly (7fce5037a 2016-02-07)` 32bit GNU ABI.

I'm not sure if this is just your problem @pmwhite, I think it might be something related to rust.

This is on a fairly recent (within the past 2-3 weeks) install of windows 10.

Thanks for the pointer on killing the process, that worked for me and I didn't get an `Access Denied` error.

For me, everything works f

[2016-02-16 09:09] mischief commented on #31698
at @eddyb's suggestion i deleted my old rlibs and it fixed the problem.

timestamps of old v new rust-nightly:
[code]

compiled using https://github.com/gentoo/gentoo-rust/blob/master/dev-lang/rust/rust-999.ebuild

[2016-02-16 09:28] flying-sheep opened #31699 "compiler panic (on stable) when trying to implement trait for enum member"
offending code:

[code]

where “function” is [`sxd_xpath::function`](http://jakegoulding.com/sxd-xpath/sxd_xpath/function/index.html)

backtrace:

[code]

[2016-02-16 09:47] mitaa commented on #31699
I think this may have been fixed recently (#31126)

[2016-02-16 10:00] mitaa commented on #25511
This has now been implemented in #31639 using `* -> T`

[2016-02-16 10:38] genodeftest commented on #19535
@AlexRadch : Go to https://www.rust-lang.org/downloads.html and click on "Source".

[2016-02-16 10:43] Ketsuban commented on #29646
One notable case is that of the `Zero` and `One` traits, which exist solely to confer their constant value to the types which implement them. With associated constants they would be redundant, as `Sum` and `Mul` would include the additive and multiplicative identities.

[2016-02-16 10:49] eugene-bulkin opened #31701 "Not sufficiently useful error message when FnMut is needed instead of Fn"
This code:

[code]

results in [the following error messages](https://play.rust-lang.org/?gist=7381046af7c70d49d344&version=stable) in stable:

[code]

The problem here is that we're using `Fn()` instead of `FnMut()`, but the phrase "consider changing this closure to take self by mutable reference" is not particularly useful in telling us that that specifically is the problem. That is, the fact th

[2016-02-16 10:54] bluss commented on #25511
nice, I'll have to try it out.

[2016-02-16 10:55] bluss commented on #25511
Fixed in #31639

[2016-02-16 10:55] #25511 closed

[2016-02-16 10:56] GuillaumeGomez commented on #31687
The following code (wrote by @nagisa) reproduces it:

[code]

I think the best solution here is to create another error code.

[2016-02-16 11:14] GuillaumeGomez commented on #31660
I'm looking at it. The function in cause is [find_best_match_for_name](https://github.com/rust-lang/rust/blob/master/src/libsyntax/util/lev_distance.rs#L49).

[2016-02-16 11:22] arkpar opened #31702 "rustc assertion failed when building in release mode with -g"
rustc fails to build my crate in release mode with debugging symbols.
The crate is located here: https://github.com/ethcore/parity/tree/master/ethcore
It is hard to pinpoint the exact piece of code responsible since the error message gives no such indication.

Running `cargo rustc --release -- -g` fails with the following message:

[code]

Stack trace:

[code]

[code]

[2016-02-16 12:15] jonas-schievink commented on #29679
@RexMorgan This should have been fixed by rust-lang/cargo#2370, I believe

[2016-02-16 13:13] frewsxcv commented on #31185
Done in https://github.com/rust-lang/rust/issues/31391 and https://github.com/rust-lang/rust/issues/31669

[2016-02-16 13:13] #31185 closed

[2016-02-16 13:19] raindev commented on #29646
@Ketsuban how would it be different than including `zero` and `one` _as functions_ into `Sum` and `Mul` traits?

[2016-02-16 13:27] raindev commented on #29646
Having skimmed through #27739 it looks like there're opinions about the concepts of "zero" and "one" as functions as it may gives additional flexibility.

[2016-02-16 13:50] mitaa commented on #29646
@raindev

https://github.com/rust-lang/rfcs/blob/master/text/0195-associated-items.md#user-content-expressiveness

[2016-02-16 14:07] oli-obk commented on #31528
What about the semi-colon in array types and repeat expressions? Won't those complicate things?

[2016-02-16 14:08] vberger commented on #29646
The use of associated consts could make things like `bitflags!` more pretty in my opinion, by scoping the consts in the name of the bitflags struct, much like enum variants are scoped in the name of the enum.

[2016-02-16 14:14] vberger commented on #29719
If I understand correctly, the only blocking point for this feature is dereferencing a pointer to a static in a static, which should actually completely be forbidden? So... no big problem?

If so I'd love to see this feature advancing, I need it for my wayland crates, and there is no workaround, as I must match the rules of the C API I'm binding to.

[2016-02-16 15:44] julienw opened #31705 "Error message for a bad macro invocation could be improved"
I invoke a macro inside another macro, and I forgot a semicolon:

[code]

The issue is the call to `network_onefunc!` inside `network_impl`:

[code]

We can see the arrow should likely point at the end of the line instead of the start of the line.

[2016-02-16 15:45] nodakai opened #31706 "Nitpicking: visibility errors on a tuple struct count fields from 1 when the language counts them from 0"
[code]

[code]

- https://play.rust-lang.org/?gist=d090346cd5446b09a7d4&version=nightly

[2016-02-16 16:08] asajeffrey commented on #30867
I was bitten by this bug... simplifying a lot, my code looked like this (https://play.rust-lang.org/?gist=76fd1bad2b276b335db7):
[code]
but this isn't lifetime-polymporphic:
[code]
produces:
[code]
but if you make the iterator item type a type argument, then it all works:
[code]
so I need to rewrite a lot of code to take an extra type argument in order to be lifetime-polymorphic!

[2016-02-16 16:38] nodakai commented on #27511
@Gankro I don't see how the layout of the `[repr(C)]` type can be meaningful when its fields have unspecified layout.

We should at least see a warning for such an inconsistency.

[2016-02-16 16:39] BurntSushi commented on #31265
For `regex`, you probably want [`benches/bench.rs`](https://github.com/rust-lang-nursery/regex/blob/master/benches/bench.rs) and [`benches/bench_sherlock.rs`](https://github.com/rust-lang-nursery/regex/blob/master/benches/bench_sherlock.rs). They can be run with `cargo bench --bench dynamic`. (The same benchmarks run on other configurations of the regex, but the `dynamic` bench is the primary one

[2016-02-16 16:49] nodakai commented on #31502
Fixed by #31557

[2016-02-16 16:49] #31502 closed

[2016-02-16 16:56] nodakai commented on #31692
Take a look at #25651

[2016-02-16 17:07] durka commented on #31692
Okay, so `#[repr]` on an enum controls the size of the discriminant, not the whole enum. At least `#[repr(C)]` should warn IMO because `#[repr(C)]` means "give this thing a defined layout", but that doesn't happen in this case.

[2016-02-16 17:16] bluss commented on #31688
panic inside call_once is a very broken scenario.

Maybe it would only help authors of critical unsafe code if we ensured the closure could only be called once ever. The closure call could be enforced to abort on panic (it should be a "noexcept" zone).

It's an FnOnce closure, so being called twice is an unsoundness problem, too.

[2016-02-16 17:19] alexcrichton commented on #29679
Ah yes @RexMorgan it looks like that problem is addressed by the PR @jonas-schievink linked to, specifically it's entirely Cargo related rather than rustc-related.

[2016-02-16 17:20] bluss commented on #31688
Interesting, it's not broken because of FnOnce, the actual closure value is only called once (or never).

[2016-02-16 17:22] alexcrichton commented on #31698
Did... that crash while generating a backtrace? That seems quite bad! @mischief do you have some steps we could do to reproduce this? Hopefully through a minimized source code base?

[2016-02-16 17:24] alexcrichton commented on #29814
In theory when rustdoc runs we have the entire results of resolve, right? Along those lines I figured the resolution would be *somewhere*...

[2016-02-16 17:25] arielb1 commented on #31698
@alexcrichton

All nightlies have the same `CFG_VERSION`, so that the metadata lock does not work - maybe we should fix this. I think we changed the metadata format in-between (not sure what change).

[2016-02-16 17:30] alexcrichton commented on #31697
When dealing with assembly I'd recommend *only* having an API which has pointers in it (both arguments and return values). Once you've got those transferred it should be fine to use either representation because the memory layout is the same.

[2016-02-16 17:52] nodakai commented on #31665
What happens if you pass `PF_INET` as `ai_family` ?

[2016-02-16 17:55] RexMorgan commented on #29679
Awesome, thanks, I missed that cargo issue :)

[2016-02-16 17:57] nodakai commented on #31659
Probably related to #26264

[2016-02-16 18:28] bluss opened #31711 "HashSet iteration on drop not elided for Copy elements"
If a `HashSet` has `Copy` elements, it doesn't need to visit all elements on drop. The iteration in RawTable's drop still is computed even if the elements have no destructors, which leads to O(n) average complexity even then.

[2016-02-16 18:35] petrochenkov commented on #31659
Given the drawbacks/interpretations given above I'm not sure this change would be better than status quo anymore.
I'll keep this open for a few days in case someone has more comments.

[2016-02-16 18:37] shepmaster opened #31712 "HashSet operations against another HashSet should allow for differing hash algorithms"
Operations such as `intersection` take a second `HashMap`. It's required that the second `HashMap` implement the same hashing algorithm as the first one:

[code]

This means that you cannot intersect a `HashMap<u8, SipHash>` against a `HashMap<u8, FnvHash>`. This seems overly restrictive.

/cc @bluss

[2016-02-16 18:43] JDemler opened #31714 "rustc nightly 2016-02-13: unexpected panic when external crate conflicts with module"
While trying out benchmark-tests I ran into an unexpected panic:
[code]

compiled with `rustc --test`

Reproducible at [Rust Playground](https://play.rust-lang.org/?code=%23![feature%28test%29]%0A%0Aextern%20crate%20test%3B%0A%0A%23[cfg%28test%29]%0Amod%20test%20{%0A%0A%20%20%20%20%23[test]%0A%20%20%20%20fn%20it_works%28%29{%0A%20%20%20%20}%20%20%20%20%0A}&version=nightly)

## Meta
`rustc --versio

[2016-02-16 18:44] alexcrichton commented on #31698
Do they? isn't the git sha in there?

[2016-02-16 18:45] bluss commented on #31712
With FnvHash it doesn't need to recompute hashes either. But we should not stall on that, this change is more likely to introduce type inference regressions the longer custom hasher support is stable.

[2016-02-16 18:46] alexcrichton commented on #31702
[This commit](https://github.com/llvm-mirror/llvm/commit/777479f80202057f041683129d4fd9e574ffea79) in the LLVM 3.8 release branch looks suspicious. Could you try updating your code to the most recent nightly so I can test against a rustc with that LLVM?

[2016-02-16 18:48] gbersac commented on #18241
still a bug in cargo 0.8.0-nightly (28a0cbb 2016-01-17)

[2016-02-16 19:03] arielb1 commented on #31698
I remember there being an issue around these lines. Checking now reveals that it is fixed.

OTOH, @mischief was using a Gentoo rustc, and that might have squashed `--version`.

[2016-02-16 19:19] #29914 closed

[2016-02-16 19:30] arkpar commented on #31702
`rustc 1.8.0-nightly (fae516277 2016-02-13)` compiles it fine in debug mode or release without -g. That's the most recent nightly available with multirust.
Here is a similar issue btw: #29541

[2016-02-16 19:30] alexcrichton commented on #31714
cc @jseyfried

[2016-02-16 21:30] nrc commented on #31528
We would only do this when we know we are outside `{}` and `[]` (using the token tree rules).

[2016-02-16 21:31] nrc commented on #31265
See https://www.reddit.com/r/rust/comments/4616ny/almost_6_months_of_rust_runtime_performance/ which is a discussion of https://dikaiosune.github.io/almost-6-months-rust-runtime-perf.html

[2016-02-16 21:50] alexcrichton commented on #31702
Ah right, yes! I'll try with the same nightly where the only change is an upgraded LLVM and see what I can come up with.

[2016-02-16 21:58] nikomatsakis commented on #27511
@nodakai

Well, imagine you have a struct like:

[code]

This tells me that the data for `Bar` will precede the data for `Baz` in memory, though it doesn't tell me anything about the fields of `Bar` and `Baz` (or size/alignment thereof). But it's still meaningful.

[2016-02-16 22:03] rkruppe commented on #31711
To be clear, this is also in release mode, right? A while back there was a similar issue for vec but AFAIK that one was only about debug mode.

[2016-02-16 22:04] nikomatsakis commented on #29719
I think that is correct, but we do need to fix that bug first or else we
introduce a backwards compat hazard.

On Tue, Feb 16, 2016 at 9:15 AM, Victor Berger <notifications@github.com>
wrote:

[2016-02-16 22:11] bluss commented on #31711
Yes, also in release mode.

[2016-02-16 22:11] nikomatsakis commented on #31682
Hmm. It does seem like tuples ought to be considered fundamental. I'd not be opposed to an RFC on this topic.

[2016-02-16 22:16] jseyfried commented on #31714
Reduced example:
[code]
This panics when we try to compute `LastPrivate` data for `foo::bar` in `main` since PR #31338 defines `bar` to be `Def::Err`, which has diverging `def_id`.

[2016-02-16 22:25] mischief commented on #31698
@alexcrichton i don't have the code published, i'm also using custom makefiles and linking. i'm writing rust for UEFI, you see :-)

the rustc im using was built with the linked ebuild, on the dates that i mentioned.

it seems like maybe it did crash while generating a backtrace - the stacktrace is from:

[code]

[2016-02-16 22:32] nikomatsakis commented on #21221
Vlad, I left some comments on the commit. I didn't read it too closely but
at first glance it *seems* like a reasonable approach to me. My main
hesitation is that the name resolution code is expecting somewhat major
upheaval, and having to support a more complex error message like this
would make this harder -- but not a lot harder, probably.

On Sun, Feb 14, 2016 at 9:21 PM, Vlad Ureche <notifica

[2016-02-16 22:35] #29765 closed

[2016-02-16 22:43] VladUreche commented on #21221
@nikomatsakis Thank you for the feedback! All your comments should be addressed by the latest version of this commit, https://github.com/VladUreche/rust/commit/5f1b4a497ade761a4254de0b97af10f2f5934231, where I had a chance to clean things up.

For the burden of maintaining the additional lookup method, it makes sense to delay the PR (#31674) if there's a major refactoring going on. On my side, I c

[2016-02-16 23:00] alexcrichton commented on #31698
@mischief this would have a much higher likelihood of getting fixed soon if there's some way we can reproduce this, so I was just wondering if one would be easy to make. Is there a way you could reduce the amount of code in play or the amount of rustc commands needed to exhibit this behavior? We can use the archived nightlies to switch between compilers, but without an easy reproduction there's no

[2016-02-16 23:24] alexcrichton commented on #31702
Ok, fixed in https://github.com/rust-lang/rust/pull/31717/files

[2016-02-17 00:50] durka opened #31719 "unprintable span with nested macro call and shadowed loop label"
[This code](http://is.gd/sm0gIf):

[code]

triggers a warning about the shadowed label name, but it does not manage to print out either of the two spans:

[code]

(It says it's an ICE but compilation continues. So... it's a slush?) This occurs on stable/beta/nightly.

[2016-02-17 00:56] cetra3 commented on #31665
@nodakai I'm sorry I am not skilled enough to know how to pass in a C const into rust code.  Can you give me info on how to do this?

[2016-02-17 01:02] #25916 closed

[2016-02-17 01:34] rphmeier commented on #31706
I don't know if this needs "fixing", but I've "fixed" it and can submit a PR if desired.

[2016-02-17 02:47] frewsxcv commented on #31094
I took a stab at this: https://github.com/rust-lang/rust/pull/31720

[2016-02-17 03:22] Aatch commented on #31665
@cetra3 oh, so you're using local addresses? That changes things. There's tons of reports of OS X doing lookups for `.local` addresses, e.g. http://apple.stackexchange.com/questions/175320/why-is-my-hostname-resolution-taking-so-long & http://www.lists.apple.com/archives/darwin-userlevel/2005/Feb/msg00018.html

There's not really much we can do about it though. Even if we detect the use of `.local

[2016-02-17 03:56] tarrant commented on #31665
@Aatch `.local` adresses often aren't `127.0.0.1`, they are generally mDNS, mutlicast DNS, addresses that are detected via Bonjour. I'm hoping to attempt to replicate the issue when I'm home tonight where I have IPv6 enabled and multiple apple devices with bonjour.

I do agree you that this is likely a system issue. My current theory is that OS X is not caching NXDOMAIN for these quad records. Due

[2016-02-17 04:08] erickt opened #31722 "`rustc --pretty normal` generates bad code with top level struct doc comments"
This code:

[code]

When run with `rustc -Z unstable-options --pretty normal foo.rs` produces this invalid code because it's losing a newline:

[code]

With `rustc -Z unstable-options --pretty expanded foo.rs`, however, it produces this syntactically correct code:

[code]

[2016-02-17 04:18] kvark commented on #31504
Actually, I can still repro this by changing our code slightly (commenting out [this](https://github.com/gfx-rs/gfx/blob/3dafc23a95a39f4902d01bb70656c860b0fb1cd2/src/render/src/macros/pso.rs#L210) and [this](https://github.com/gfx-rs/gfx/blob/3dafc23a95a39f4902d01bb70656c860b0fb1cd2/src/render/src/macros/pso.rs#L225)), reopening.

[2016-02-17 05:07] SimonSapin commented on #31682
In case that’s a hint for me to write an RFC: I don’t feel I can since I don’t understand the finer details of coherence rules or what fundamental means in this context, only the end result of “I can’t write this seemingly-reasonable code”.

[2016-02-17 05:25] semarie commented on #31505
any feedback from llvm upstream ? this bug completely breaks rustc build under OpenBSD

[2016-02-17 07:27] #28939 closed

[2016-02-17 07:32] tarrant commented on #31665
I played around on my home network with mDNS. It looks like OSX definitely isn't caching it, every request appears to be hitting the network, in addition if you are attempting to lookup a host that isn't responding it gets extremely slow, around five seconds to timeout.

Sadly I have no mDNS broadcasting machines that aren't listening on IPv6 so I can't investigate that specific case.

I'd definit

[2016-02-17 07:39] alexcrichton commented on #29594
A note, we've [since implemented](https://github.com/rust-lang/rust/pull/30417) `cfg(target_thread_local)` which is in turn itself feature gated, but this may ease the "this isn't implemented on all platforms" worry.

[2016-02-17 07:41] alexcrichton commented on #23477
This has apparently since been fixed, yay!

[2016-02-17 07:44] alexcrichton commented on #12859
I'm going to close this as basically "there's nothing we can do here". Cross compiling works for x86_64 where we don't depend on the style of unwinding of the MinGW toolchain, but we can only cross compiling to a MinGW toolchain targeting dwarf exceptions on 32-bit. Unfortunately the toolchains on Linux tend to be SjLj based, but that's just not the binaries we ship for libstd.

[2016-02-17 07:44] #12859 closed

[2016-02-17 08:13] bstrie opened #31723 "Replacing a parameter declared as `mut a` with `let mut a = a;` causes program to no longer compile"
This may very well be a dupe of #31439, but it manifests somewhat differently and may shed light on the potential fix. Probably still worth having a test case for anyway.

Take this program, which compiles:

[code]

Now, instead of declaring the parameter as `mut a`, declare it as immutable and rebind it as mutable in the body of the function, which is supposed to be semantically equivalent. This

[2016-02-17 09:02] retep998 commented on #27376
This should probably be closed now.

[2016-02-17 09:04] bombless commented on #27376
Seems that the link is cleaned now, I'm not sure the problem has really been solved, but there's no sign that the problem still exist, so closing.

[2016-02-17 09:04] #27376 closed

[2016-02-17 09:06] arkpar commented on #31702
Giant thank you @alexcrichton

[2016-02-17 09:28] Fiedzia opened #31724 "There is no way to set connection timeout for TcpStream"
I see that its possible to define timeouts for read/write, but not for initiating connection. I've noticed this while trying to add this to memcached client, and it turned out there is just no way to do it in std lib.

[2016-02-17 10:07] arielb1 commented on #31723
This is the destruction order problem: the destructor of `Vec` runs before the destructor of `drain`, so if `collect` panics you will have trouble.

[2016-02-17 10:08] arielb1 commented on #31439
This looks like a destruction order problem to me.

[2016-02-17 12:31] Marwes commented on #31157
Is there any work done towards improving this further? `combine` still suffers badly from this change, even becoming so bad that Travis times out when building it (see https://travis-ci.org/Marwes/combine)

[2016-02-17 13:08] White-Oak commented on #31157
@Marwes it is not backported to beta yet.

[2016-02-17 13:14] bluss commented on #31157
Still shows a regression in `cargo build` time there from 96 seconds in stable, 374 seconds in nightly. Can we keep an issue for that, or is there no way to recover the compilation time?

[2016-02-17 13:58] infinity0 commented on #31328
Here's the proc-mem map from vgdb https://paste.debian.net/394272/

[2016-02-17 14:30] Marwes commented on #31157
[Here](https://travis-ci.org/Marwes/combine/builds/99604257) is a link to a build before the regression so there is still a significant slowdown. And even on nightly it fails occasionally https://travis-ci.org/Marwes/combine/jobs/109742755.

[2016-02-17 14:38] flying-sheep commented on #24135
damn, a clonable io::Error would be really nice for me right now :cry:

[2016-02-17 16:11] shepmaster commented on #31590
While trying to help out the AVR-Rust fork, I started using rustbuild. I've been able to compile LLVM, but then realized that I had to change the configuration of LLVM. I edited `src/bootstrap/build/native.rs` to add a new value to the `LLVM_TARGETS_TO_BUILD` definition. When I ran `make` again, LLVM was not rebuilt.

[2016-02-17 16:15] wolfgang42 opened #31729 "Panic after unresolved import: at 'attempted .def_id() on invalid def"
`rustc --version --verbose`:
[code]

Rust panicked on me while I was trying to set up a module. Here's a minimal testcase:

`lib.rs`:
[code]
`m/mod.rs`:
[code]

Backtrace:
[code]

[2016-02-17 16:17] shepmaster commented on #31590
As a work-around, I've deleted all the `llvm-config` executables in my build directory. This seems to trigger a *complete* rebuild of LLVM. I have a feeling that this will make me a sad :panda_face: when it comes time to make single bits of change to LLVM and incorporate them into Rust. Perhaps this is what the custom LLVM option is made for?

[2016-02-17 16:37] jonathandturner opened #31730 "Implementation of traits on functions ignored after function call"
In this example, I implement a trait on generic functions.  One with mutability and one without.  When invoked manually, the proper trait gets called.  Instead, if I try to peel off the function's unique tag using another function, the traits are no longer visible.

Checked against: rustc 1.8.0-nightly (57c357d89 2016-02-16)
[code]

[2016-02-17 16:54] alexcrichton commented on #31729
cc @jseyfried (looks like a nightly-only bug)

[2016-02-17 16:56] nagisa commented on #30172
Since the LinkedList has been implemented one could use the PR as example when implementing the protocol for other collections.

[2016-02-17 17:00] alexcrichton commented on #31724
This is indeed correct! This is one of the purposes of the [net2 crate](https://crates.io/crates/net2/) (to provide extensions to libstd types). You can use the [`TcpBuilder`](http://doc.rust-lang.org/net2-rs/net2/struct.TcpBuilder.html) to create an in-progress socket, `bind` it, set it to nonblocking mode, and then use `select` or some other similar polling system to wait for it to become readab

[2016-02-17 17:00] #31724 closed

[2016-02-17 17:03] apoelstra commented on #29363
Hi,

https://doc.rust-lang.org/std/net/struct.Incoming.html

Says that the `Incoming` iterator will return an infinite list of incoming connections. In fact, it may error out (for example if the system runs out of file descriptors) and return an infinite list of errors, with no delays in between. A naive "log and retry" loop may become a spinloop in this case, pegging the CPU and/or filling log sp

[2016-02-17 17:17] Fiedzia commented on #31724
Thanks. It would save me some pain if it was mentioned in the documentation.

[2016-02-17 17:35] jseyfried commented on #31729
This is a duplicate of #31714, it was also caused by #31338.

[2016-02-17 17:48] erickt commented on #31722
Moving this bug over to syntex: https://github.com/serde-rs/syntex/issues/31.

[2016-02-17 17:56] erickt commented on #31722
Oops, closed the wrong ticket.

[2016-02-17 18:34] arielb1 commented on #31730
This is an unfortunate issue with late-bound regions.

Your impl is for the type `for<'a> fn(&'a mut T) -> T`, while `strip` forces `T` to be concrete, so you have `fn(&'α mut T) -> T` for some (specific) lifetime `α`.

I agree that the error message could be better.

[2016-02-17 18:38] alexcrichton commented on #31729
Aha, thanks @jseyfried!

[2016-02-17 18:38] #31729 closed

[2016-02-17 18:41] alexcrichton commented on #31590
@shepmaster ah yeah right now the build system doesn't track changes to itself. I personally found that to be the most annoying part of the makefiles and I was glad to *not* reimplement that, but I suspect we'll have to add that eventually.

[2016-02-17 18:43] alexcrichton commented on #31590
Also yeah, the handling of LLVM specifically may not be as great as it needs to be. Currently it unconditionally always configures via `cmake` before building with `cmake`. There's currently no entry point for "run a build in this directory but don't reconfigure". I'd probably recommend using an external LLVM for now, and that should be much easier through the `config.toml` configuration rather th

[2016-02-17 19:03] jan-hudec commented on #12859
@alexcrichton, so what happened to the SEH plan from #30448? Is it not possible for the 32-bit gnu target after all?

[2016-02-17 19:16] #31711 closed

[2016-02-17 19:29] alexchandel commented on #20213
@steveklabnik nw. I don't even know whether rustc should support GCC/Clang inline assembly, though it might improve ease of use. It just felt like a papercut to find out the hard way that it doesn't.

[2016-02-17 19:34] bltavares commented on #15102
Triaging:

The following test case still warns on `y`, but not on `x`.

[code]

Adding `#[repr(C)]` to the `Bar` struct does indeed remove the warning.

[2016-02-17 19:36] alexcrichton commented on #12859
Unfortunately there's a combination of:

1) LLVM doesn't support that
2) The MinGW linker somehow produces an invalid binary

(1) may be surmountable but I couldn't make heads or tails of (2) unforutnately :(

[2016-02-17 19:40] steveklabnik commented on #23513
This was fixed by https://github.com/rust-lang/rust/pull/30714 :+1:

[2016-02-17 19:40] #23513 closed

[2016-02-17 19:55] jonathandturner commented on #31730
@arielb1 Assuming I understand what you're saying, it seems like the more specific lifetime still inhabits the space of the more generic lifetimes that the impl covers.  If that's true, I'd expect that functionality to still be available, even when it's concrete.

Or are you saying that mechanically the decision of whether the type has the impl available to it has to be made earlier than the naili

[2016-02-17 20:48] Yoric commented on #31504
If this is indeed #31603, I still encounter it with latest Nightly: https://travis-ci.org/fxbox/thinkerbell/jobs/109967451

[2016-02-17 21:11] Kimundi commented on #27721
Today I investigated a bit what would need to be done to generalize the Pattern API to arbitrary slice types. As part of that I also took a more pragmatic route to the involved types and interfaces based on these assumptions:

- Generally, the API should suit the std library, with more complex scenarios being handled by external libraries.
- Thus, providing the same feature set for libstd slice ty

[2016-02-17 21:13] dikaiosune commented on #31265
@nrc asked me to share some of my thoughts after doing the above analysis. I still think that that depth of the linked analysis is too shallow to be truly useful, but it did highlight a few questions for me. I don't think all of these need to be answered for a good benchmark suite, but some of them are tough nuts to crack and I'd argue that all of them are important for having a really good automa

[2016-02-17 21:28] eddyb commented on #31265
My 2 cents: don't measure wall-clock time in a multi-threading OS.
On Linux, `getrusage`'s `ru_utime` field will measure time spent in userspace, which helps to remove I/O and scheduling noise. It's not used by `libtest`'s `#[bench]` because it's not portable (AFAIK).

The ideal solution would involve pinning a single thread to a single core *exclusively* (i.e. no other threads can run on that cor

[2016-02-17 22:22] dikaiosune commented on #31265
@eddyb So you see the ideal solution as one that uses a bespoke benchmarking library for *insert OS here*, as opposed to `#[bench]`? I guess I find the use of the standard toolchain's features attractive, but you're right that it limits the metrics that can be collected, as well as how reliable the results will be.

I do think that limiting non-determinism can become a bit of a rabbit-hole. If you

[2016-02-17 22:25] eefriedman commented on #31730
The issue is fundamentally a type mismatch; there are two different kinds of "generic" lifetime.  It tends to be a bit confusing, since the syntax is very similar, and there are implicit conversions in some cases, but the error is legitimate.

To illustrate:

[code]

[2016-02-17 23:03] japaric commented on #31544
Update: I mentioned that using `#![no_builtins]` in the same crate works. Isolating `__aeabi_memcpy4` into its own crate (with `no_builtins`) also works, *unless* LTO is enabled. If LTO is enabled then `copy_nonoverlapping` optimizes to a recursive call to `__aeabi_memcpy` as shown in the original report.

[2016-02-18 00:01] aturon commented on #31688
cc me

[2016-02-18 00:01] brson commented on #31688
I prefer poisoning it, without any options to unpoison. Alternately, just leaving it alone.

[2016-02-18 00:24] bluss opened #31740 ""cannot move out of" error using `==` with `Box<Trait>`, where no move is needed"
The following code has a compilation error, but it should be a valid program [(playground)](https://play.rust-lang.org/?gist=f39d36c50f0f54b8c3fd&version=nightly)

[code]

[code]

- This only occurs for the reflexive (x == x) case.
- It doesn't actually compile into a move out of the box.
- Fat boxes like `Box<[T]>` don't behave like this

The error is the same when using this equality impl instea

[2016-02-18 00:36] Aatch commented on #31740
Doing `&*x == &*x` works. I'm not sure how the compiler gets from `&Box<Trait>` to `&Trait` though, so I don't know why it would have issues there.

[2016-02-18 00:46] nikomatsakis commented on #31157
I'm willing to re-open the issue on the basis that there is still ground to get back, even if the worst part is solved.

[2016-02-18 00:46] nikomatsakis commented on #31157
triage: P-medium

[2016-02-18 00:46] nikomatsakis commented on #31157
However, I'm bumping priority to medium.

[2016-02-18 01:03] nikomatsakis commented on #31682
It wasn't really a hint to *YOU* Simon ;)

Probably this doesn't merit a full RFC actually; an amendment to the existing one might suffice.

On Tue, Feb 16, 2016 at 09:07:54PM -0800, Simon Sapin wrote:

[2016-02-18 01:06] nikomatsakis commented on #28235
On Sun, Feb 14, 2016 at 01:19:19AM -0800, bluss wrote:

Interesting. I'm happy to see you overloading call notation to get
rvalues like that -- I've been thinking of this as an appealing
alternative to `IndexMove` (since it preserves the "`[]` is an lvalue"
concept).

[2016-02-18 01:10] nikomatsakis commented on #21221
cc @jseyfried @petrochenkov, resident resolve experts :)

[2016-02-18 01:10] nikomatsakis commented on #21221
oops!

[2016-02-18 01:12] bluss commented on #28235
I realized that the lvalue restriction makes sense. Without it, expressions like `string.len() += 1` would compile too, and that's too confusing to allow.

[2016-02-18 01:17] jplatte commented on #31681
Was just reading about this, and it was a little hard to find the LLVM bug report, so for reference, [here it is][llvm-bugreport].

[llvm-bugreport]: https://llvm.org/bugs/show_bug.cgi?id=25422

[2016-02-18 01:26] VladUreche commented on #21221
Thanks @nikomatsakis!
Hi @jseyfried @petrochenkov -- the PR for this bug is here: https://github.com/rust-lang/rust/issues/31674

[2016-02-18 03:24] KodrAus opened #31743 "Pretty Print DocComment Attribute With Slashes"
Should the [libsyntax::print::pprust::print_attribute_inline fn](https://github.com/rust-lang/rust/blob/master/src/libsyntax/print/pprust.rs#L755), given an `Attribute` where `is_sugared_doc` is true print the prefixing `///` or `//!`?

Or are the slashes expected to already be there before printing, in case the string is multiple lines? And if so, is there a helper fn somewhere in `libsyntax` I c

[2016-02-18 03:35] #31094 closed

[2016-02-18 03:40] CamJN opened #31744 "String docs are misleading."
Ping @steveklabnik

https://doc.rust-lang.org/std/string/struct.String.html#method.to_uppercase
https://doc.rust-lang.org/std/string/struct.String.html#method.to_lowercase

These methods are on str not String, which is not hard to see from the examples but only if you read them, and notice that those aren't strings. Probably shouldn't be in the String docs, or at least update the example to be a s

[2016-02-18 03:44] frewsxcv commented on #31744
Those methods fall under the section with heading:

So it should be implied that these are methods on `str`, not `String`. If you know a way to make this more obvious/clear, definitely share!

[2016-02-18 03:45] sfackler commented on #31744
Those methods should automatically be callable from a `String` as well: http://is.gd/GrVA5H

[2016-02-18 03:49] CamJN commented on #31744
@sfackler Then I must have royally screwed up my dev env. XD

@frewsxcv Not sure how to make that more obvious, I tend to grep into the page to find what I want so I don't see the headings at all. And adding a marker to each function saying if it's from that type directly would probably take too much room.

[2016-02-18 03:50] frewsxcv commented on #31744
It'd be interesting if the `impl` heading used something like [position=sticky](http://html5-demos.appspot.com/static/css/sticky.html) so that it's obvious which section you're in

[2016-02-18 03:52] CamJN commented on #31744
Yeah that'd be cool.

[2016-02-18 03:54] durka opened #31745 "there's no #[allow(shadowed_label_names)]"
The warning about shadowed label names can't be turned off. Seems like it ought to have some name and be under the "future incompatible" lint group.

EDIT (ehuss):

Example:

[code]

Warning added in #24162, see also #21633 and https://internals.rust-lang.org/t/psa-rejecting-duplicate-loop-labels/1833.

[2016-02-18 07:35] #16734 closed

[2016-02-18 08:20] vyskocilm opened #31748 "Process exited with signal 11 when mutable array of usize created"
The testcase

[code]

[code]

[code]

This is an output of lldb
[code]

[2016-02-18 08:23] vyskocilm commented on #31748
I've tested several basic types (isize, u32, i64, char, ...), but it fails all the time with segfault. The only one form, which I found working well is array of bools.

[2016-02-18 08:30] mitaa commented on #31748
Related to #31273, #31333, #31457

[2016-02-18 09:40] nagisa commented on #31504
Fix for this didn't land yet.
On Feb 17, 2016 10:49 PM, "David Rajchenbach-Teller" <
notifications@github.com> wrote:

[2016-02-18 09:52] Thiez commented on #31439
Assigning the result to a local and then implicitly returning that local also solves this problem:

[code]

Perhaps rustc sometimes incorrectly requires too many lifetimes in an implicit return expression to be valid until the end of the function, instead of looking only at the lifetimes mentioned in the result of the expression?

[2016-02-18 09:58] Thiez commented on #31723
@arielb1 I was under the impression that destructors ran in reverse order of declaration, so surely the destructor of `drain` would in fact run before the destructor of `Vec`?

[2016-02-18 10:02] jonas-schievink commented on #31745
This might become a hard error later, so it doesn't seem like a good idea to turn the warning off

[2016-02-18 10:09] Thiez commented on #31439
Here, a minimal example:

[code]

[2016-02-18 10:15] retep998 commented on #31748
1000*1000 is nearly a MB. I believe the default stack for new threads in Rust is 2MB although Rust doesn't control the stack size for the main thread. This is simply a stack overflow.

[2016-02-18 10:32] iwinux commented on #29596
Got hit by this issue when trying out https://gist.github.com/jansegre/043f5ab7f53e23890eed.

As LuaJIT requires, I need to link the binary with flags `-pagezero_size 10000 -image_base 100000000`, which seems only achievable via `#[link_args = "..."]`.

Could this be done *without* using Rust nightly? Obviously `link_args` is not available as of Rust 1.6.0:

[code]

[2016-02-18 10:35] #31363 closed

[2016-02-18 11:48] retep998 commented on #29596
You can use the command line flag `-Clink-args="-pagezero_size 10000 -image_base 100000000"` which does work fine (or `cargo rustc -- -Clink-args="blah"`)

[2016-02-18 12:08] pnkfelix commented on #31723
I would need to go review the temp r-value lifetime rules in a case like this, in terms of how the temporaries of the final expression in a block relate to the local variables in that block

(I know it's unintuitive for explicit return to work in cases like this that are supposedly equivalent ...)

[2016-02-18 12:21] Thiez commented on #31723
@pnkfelix If/when you review those rules, could you perhaps check if the root cause is the same as [the example here](https://github.com/rust-lang/rust/issues/31439#issuecomment-185637341)?

[2016-02-18 13:30] bluss commented on #31744
Since it's a method, you'd usually call it like `s.to_uppercase()` and not `Typename::to_uppercase(&s)`. Using the former, the docs are correct -- you can call it.

[2016-02-18 15:04] Manishearth opened #31752 ""cannot move out of captured outer variable in an `FnMut` closure" should mention the outer variable"
[code]

(https://gist.github.com/772bde36b6cddebcd46a)

gives

[code]

Except that it's totally confusing as to which outer variable is being talked about. In this case it's obvious since there's a single capture, but this won't always be the case.

The error should at least mention the name of the captured variable, and preferably point out where the variable was captured and how to fix it.

[2016-02-18 15:13] steveklabnik commented on #31744
Since this is not a bug, I'm giving it a close. Thanks all!

[2016-02-18 15:13] #31744 closed

[2016-02-18 16:29] bluss opened #31753 "Trace_macros!() is not effectively gated"
Since the trace_macros feature has effect before compilation stops, it's not really effectively gated.

[code]

output:

[code]

[2016-02-18 16:44] durka commented on #31753
Compilation doesn't complete, so is it really a stability hazard?

[2016-02-18 17:23] alexcrichton commented on #31748
Ah yes this just looks like a standard case of stack overflow. The guard page is getting completely skipped over here which is why you're not getting the standard stack overflow message as well. As a result this is largely just a dupe of https://github.com/rust-lang/rust/issues/16012, so I'm going to close this in favor of that.

Thanks for the report though!

[2016-02-18 17:23] #31748 closed

[2016-02-18 18:11] durka commented on #31745
Seems like the same argument could be applied to the other future-incompatibility lints. What even is the plan for a feature that might make duplicate labels within a function a problem? `goto 'a`‽

[2016-02-18 18:18] durka opened #31754 "shadowed label false positive in closure"
It seems that #27093 did not fully fix #25343. [The following code](http://is.gd/qA7fIE) reports a spurious warning on `'b`:

[code]

Stable, beta, nightly.

[2016-02-18 18:18] jonas-schievink commented on #31745
I think there was this idea of allowing nameable regions (`'a: { /* stuff */ }`), other than that, I don't know

[2016-02-18 18:42] alexcrichton opened #31755 "Tracking issue for <[T]>::copy_from_slice"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1419

[2016-02-18 18:45] alexcrichton commented on #31755
cc @ubsan, would you like to implement?

[2016-02-18 18:46] alexcrichton commented on #23055
I believe this has [since been implemented](http://doc.rust-lang.org/std/vec/struct.Vec.html#method.drain)

[2016-02-18 18:46] #23055 closed

[2016-02-18 18:47] alexcrichton commented on #22020
I believe this has basically all been implemented, so closing.

[2016-02-18 18:47] #22020 closed

[2016-02-18 18:49] alexcrichton commented on #27517
Lots of time has passed since these were originally designed, so they would likely basically require another RFC to be added today, so closing.

[2016-02-18 18:49] #27517 closed

[2016-02-18 18:51] alexcrichton commented on #13231
I believe this has basically all been implemented to the fullest extent it will for now, so closing.

[2016-02-18 18:52] alexcrichton commented on #15552
This has long since been implemented and [the last two issues](https://github.com/rust-lang/rust/issues/15552#issuecomment-49657291) have separate issues, so I'm going to close this one.

[2016-02-18 18:52] #15552 closed

[2016-02-18 18:52] alexcrichton commented on #17307
This has basically all long since been implemented, so closing.

[2016-02-18 18:52] #17307 closed

[2016-02-18 18:53] alexcrichton commented on #16293
I believe this has all long since been implemented, so closing.

[2016-02-18 18:53] #16293 closed

[2016-02-18 18:53] alexcrichton commented on #19986
I believe this has all since been implemented, so closing.

[2016-02-18 18:54] alexcrichton commented on #22477
I'm going to close this in favor of the new tracking issue over at https://github.com/rust-lang/rust/issues/27721

[2016-02-18 18:54] #22477 closed

[2016-02-18 18:56] alexcrichton commented on #28498
I think this was since implemented, so closing (but please reopen if there's something left!)

[2016-02-18 18:57] alexcrichton opened #31756 "Tracking issue for ptr::{read,write}_volatile"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1467

[2016-02-18 18:58] alexcrichton commented on #31756
cc @Amanieu, would you be interested in implementing?

[2016-02-18 19:03] Amanieu commented on #31756
I'll give it a go when I find some free time, hopefully this weekend.

[2016-02-18 19:20] bluss commented on #27721
Is the focus of Pattern for slices going to be specific for `&[u8]` only? I think that's ok, I'm unsure how to really extend "substring search" further to generic `&[T]`. Technically, the two-way algorithm that we use for `str::find(&str)` can be made to work on any *ordered alphabet*, i.e. `T: Ord` is enough, but I don't know how performant or realistic this is.

[2016-02-18 19:21] eternaleye commented on #16293
@alexcrichton: No, my example is still broken (destructuring Self): http://is.gd/3i9oCg

[2016-02-18 19:36] steveklabnik commented on #13231
For posterity's sake, what hasn't been?

One question I have about a lot of these older RFCs is how much I can actually rely on their text for documenting semantics. For really old stuff like this, I worry that the RFCs might not be useful for people. This might just be the reality, though.

On Feb 18, 2016, 13:51 -0500, Alex Crichton<notifications@github.com>, wrote:

[2016-02-18 19:41] aturon commented on #13231
There's definitely more work to do here (see the checklist -- there may be more), and this should ultimately become the tracker for stabilization.

cc @nikomatsakis

[2016-02-18 19:46] eddyb commented on #16293
@eternaleye The accepted RFC supports nothing of the sort.

[2016-02-18 19:46] rasendubi opened #31758 "rustc doesn't propagate custom link sections"
I have a library that outputs a custom link section (`.isr_vector`). That works fine, but when I link that library into the second one, there is no `.isr_vector` section in the result static library.

That worked before, so I bisected the issue down to a nightly build. The first bad nightly is 2016-02-12 (`rustc 1.8.0-nightly (4b2c7030f 2016-02-12)`). The last good one is 2016-02-11 (`rustc 1.8.0-

[2016-02-18 20:06] eternaleye commented on #16293
@eddyb: From the opening paragraph, "(In fact, the distinction between static methods and other methods is completely erased, as per the method lookup of RFC PR #48.)"

Thus, defining a function that takes a first argument of type `[&[mut ]]Self` inside an `impl` block should permit method call syntax, no?

[2016-02-18 20:11] notmatt commented on #30172
@nagisa this looks like something I'd like to take a swing at; would some initial code in a week (±a weekend) be ok?

[2016-02-18 20:12] eddyb commented on #16293
@eternaleye It refers to `self`-ish methods behaving like static methods when accessed via a path.
If you read the full RFC, you'll see that it only talks about paths.
Also, if you look at RFC PR 48, there's some interesting discussion about special-casin the first argument, but nothing other than `self`, `&self`, `&mut self` and `~self` (now `self: Box<Self>`) is in the accepted RFC 48.

[2016-02-18 20:12] eternaleye commented on #16293
Mm, I suppose I misunderstood then. I'll see about writing up an RFC myself.

[2016-02-18 20:23] nikomatsakis opened #31760 "Normalization fails with where clauses on methods"
[This code](http://is.gd/nSF2lc) from @jroesch fails to compile:

[code]

with the following error:

[code]

but, I think, *ought* to work. Looks like a problem where we normalize without having all the where clauses from the method available. Lazy normalization would probably fix it.

[2016-02-18 20:24] jroesch commented on #31760
cc me

[2016-02-18 20:33] arielb1 commented on #31760
The problem is that the where-clause `M: MutType<'v, Lit>` is preventing normalization from working..

[2016-02-18 20:35] bltavares commented on #16874
Triaging:

The following code now only prompts one warning:

[code]

[code]

As @steveklabnik said, it compiles just fine, as the declared `Int` trait has not lifetime parameter.
If we modify to code to introduce a new lifetime paramenter, we have a different error message which points to the missing lifetime argument.

[code]

[code]

As `Int` no longer exists, I think this issue could be closed.

[2016-02-18 20:37] nikomatsakis commented on #16293
@eternaleye it's true that we initially intended to not make the name significant, but I think that ship has sailed (and it's worth amending the RFC). For one thing, it would be backwards incompatible to make a change here, as it would introduce potential new ambiguities into method dispatch (though I don't know whether this would actually affect any crates in practice).

But also, I've shifted my

[2016-02-18 20:55] eternaleye commented on #16293
Regarding conflict, ISTR an older syntax (from before `<T as U>::foo()`) that may have just been an idea, but was `x.Trait::foo()`

And personally, my interest in this is for cleanliness and concision in implementing things like state machines - in particular, being able to destructure the invocant lends itself very nicely to simple, concise implementations of state machines that can be used in a

[2016-02-18 21:01] pnkfelix commented on #22020
(Well there is the lint that was listed in the description, but its questionable whether we actually need/want that...)

[2016-02-18 21:04] durka commented on #29638
Any opinions on whether this should be stabilized?

I would love to see it stabilized. Currently, a crate A which exports a macro whose expansion references a macro from crate B cannot express that dependency: it is pushed onto the user of crate A, even though otherwise they wouldn't have to know about the implementation detail. If crate A could reexport the macro from crate B, it would be a bette

[2016-02-18 21:25] jooert commented on #19986
Actually `append` and `split_off` have not been implemented for `BTreeMap` and `BTreeSet` yet.

[2016-02-18 21:40] nagisa commented on #30172
Sure!
On Feb 18, 2016 10:12 PM, "Matthew Smillie" <notifications@github.com>
wrote:

[2016-02-18 21:48] alexcrichton opened #31766 "Tracking issue for adding some net2 methods to std"
This is a tracking issue for https://github.com/rust-lang/rfcs/pull/1461

[2016-02-18 21:48] alexcrichton commented on #31766
cc @sfackler, would you be interested in adding these?

[2016-02-18 21:50] alexcrichton commented on #31688
The libs team discussed this during triage yesterday and we didn't necessarily reach any concrete conclusion. As @brson mentioned we talked about how we may want to just poison a `Once` in the same way mutexes and rwlocks are poisoned, but it also seemed that if we didn't do that the behavior here was reasonable.

[2016-02-18 21:52] sfackler commented on #31766
Yep, I can take it, but will wait until the next release.

[2016-02-18 22:17] alexcrichton opened #31767 "Tracking issue for compare_exchange"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1443

[2016-02-18 22:17] alexcrichton commented on #31767
cc @Amanieu  and #30969 (the implementation)

[2016-02-18 22:30] alexcrichton commented on #19986
Ah good point.

[2016-02-18 22:47] nikomatsakis commented on #31287
triage: P-high

[2016-02-18 22:51] aturon commented on #27732
cc @eddyb

[2016-02-18 22:52] aturon commented on #27732
Removed T-libs tag, but note that we'd like to review the naming conventions here before stabilization.

[2016-02-18 23:06] eddyb commented on #27732
There's room for generalization and a good chance we might want `Source: Coerce<Target>`.
See [this comment](https://github.com/rust-lang/rfcs/issues/1403#issuecomment-166980781) in response to wanting `&mut T` reborrows working through structs.

[2016-02-18 23:47] Kimundi commented on #27721
@bluss: I only used `&[u8]` as a quick proof of concept that the traits work with different slice types. The actual implementation would be on `&[T] where T: Eq` or similar.

[2016-02-18 23:53] tsion opened #31769 "#[inline] is allowed on structs inside fns"
http://is.gd/mRtTeS causes an error, as expected:

[code]

http://is.gd/POCLQo should cause the same error, but is allowed:

[code]

[2016-02-19 01:17] tsion commented on #31472
Maybe we should only emit [what @nagisa linked to](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/build/block.rs#L28) when the actual type of the block is unit?

Generally, a missing final expression doesn't necessarily mean `()`  could be inserted, e.g.:

[code]

[2016-02-19 01:59] Aatch opened #31770 "Investigate using the As-Infinitely-Ranged Integer Model for overflow detection"
Currently we use "precise" overflow traps, meaning we detect overflow when it happens. However this isn't strictly necessary for a couple reasons:
1. Some calculations have overflow that is "cancelled" out by a later step, for example `a + 100 - 1000`. The `a + 100` step may overflow, but the following `- 1000` step will cancel it out producing the correct result.
2. Overflowed calculations are on

[2016-02-19 02:07] Aatch commented on #31769
Ah, easy fix. [This function](https://github.com/rust-lang/rust/blob/master/src/librustc/front/check_attr.rs#L99-L104) needs to have `visit::walk_item` at the end to walk the contents on the item in question.

[2016-02-19 02:08] briansmith commented on #17844
Maybe #31414 will help with this.

[2016-02-19 03:14] ubsan commented on #31755
@alexcrichton sure, I'll do it tonight :)

[2016-02-19 03:25] bluss commented on #17844
This seems to be fixed? String::clone could still be improved to unconditionally use memcpy (benefits debug perf)

[2016-02-19 03:38] rphmeier commented on #31770
I'd be interested in working on this over the next few weeks.

[2016-02-19 05:15] #31714 closed

[2016-02-19 06:51] alexcrichton commented on #31702
Alas it looks like I was a little too eager to close this issue, sorry about that! Looks like the LLVM update didn't actually fix anything.

[2016-02-19 06:57] ubsan commented on #31755
Well... start work on it at least.

[2016-02-19 07:13] pcwalton commented on #31770
I think this needs an RFC, no?

[2016-02-19 07:52] Aatch commented on #31770
@pcwalton maybe. I just realised that we didn't have an issue around it, so I opened one. I think it falls into a grey area, since it's kinda user-visible, but kinda isn't. If someone wants to do an RFC though, that's fine.

[2016-02-19 09:01] nagisa commented on #31472
@tsion your code sample should always fail before MIR generation. I believe it is only the `return *;` case that matters.

[2016-02-19 09:19] urschrei opened #31773 "Make it clear that chunks() and chunks_mut() can be called on their own chunks"
I know that it's implied by the [docs](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.chunks_mut), but it wasn't immediately obvious to me that the chunks returned by [`chunks()`](https://github.com/rust-lang/rust/blob/4b615854f00ba17ad704155e1d3196c17a6edb62/src/libcollections/slice.rs#L409-L433) and [`chunks_mut()`](https://github.com/rust-lang/rust/blob/4b615854f00ba17ad704155e1d3196c

[2016-02-19 11:08] arielb1 commented on #31770
@aatch

This is a bit more than "kinda" user-visible. It allows for panics to occur at unexpected places, which unsafe code must take care of.

[2016-02-19 11:44] pitdicker commented on #29497
I will give fixing this a try.

On Windows XP we could use `SHFileOperation`, and on Vista and up `IFileOperation`. For Windows store applications there is no easy function. But I would still like to try implementing it by walking the directories en deleting recursively.

Current problems with `remove_dir_all`:
- can not remove contents if the path becomes longer than MAX_PATH
- files may not be d

[2016-02-19 11:45] pitdicker commented on #29497
O, and I walked against this bug when rustbuild (is that the current name) failed after make clean because of this.

[2016-02-19 12:31] nxnfufunezn commented on #31769
taking this..

[2016-02-19 12:33] eddyb commented on #31769
(Oops, GitHub UI is finicky. I wanted to check whether I can assign @nxnfufunezn to this issue, but it won't let me)

[2016-02-19 12:49] lilianmoraru commented on #23818
Ok, I've hit this problem too. I was using println! until now and now I tried to write a line and then wait in the same line for input, to solve this I had to read this issue(and then of course I've read the entire conversation)...
It was strange to me that nothing was appearing although I said `print!`.

I think of `println!` and `print!` as helpers. If I want control/performance I will use Stdou

[2016-02-19 12:53] bluss commented on #31773
Is it enough to stress that each chunk is itself a slice (or mutable slice)?

[2016-02-19 13:01] gnzlbg commented on #17606
https://www.reddit.com/r/rust/comments/46e32h/structs_not_fully_described_w_r_t_send_sync_drop/

[2016-02-19 14:30] Roxxik opened #31774 "recursive associated consts leading to stack overflow"
writing "normal" recursive consts as in http://is.gd/B7m8qw

[code]

will leave us with a E0265, while doing so for associated consts will overflow the compilers stack as in http://is.gd/LyDzYp

[code]

[2016-02-19 14:39] Roxxik commented on #29646
would love to use associated consts for array sizes for example: http://is.gd/VSee6B

    struct Something {
        inner: [u8; Something::LENGTH]
    }

but this will leave me at E0250

[2016-02-19 15:33] urschrei commented on #31773
Hm. What would be the distinction between stressing it and showing it? In theory, it should be obvious that *because* the chunk is a slice, you can call `chunks()` on it. At the same time, it depends on the intended audience; For the beginner, it means that there's no need to go off to the playpen or ask a question (which may or may not be a good thing, depending on your point of view).

Either op

[2016-02-19 17:25] alexcrichton commented on #31758
Do you have a small reproduction that we can test against? It'd help to know how you're linking a library into a second one as that may have something going awry there as well.

[2016-02-19 17:38] alexcrichton commented on #29497
@pitdicker thanks for taking this on! We may want to discuss this a bit before moving much more on a solution. One question is how principled should something like `fs::remove_dir_all` be. For example if `fs::remove_dir_all` automatically handled read-only files, should `fs::remove_file` also do the same? Currently we have this "duality" where some `fs` functions are straight counterparts to the u

[2016-02-19 17:44] steveklabnik commented on #31773
In general, API docs usually are written for an intermediate/advanced user: we don't generally mention "oh and because this has a return type of foo you can call these other things on it." Where does this stop and end?

[2016-02-19 17:54] urschrei commented on #31773
Fair point. But what about explicitly stating that the functions return slices, as opposed to "an iterator"?

[2016-02-19 17:54] sfackler commented on #31773
It does return an iterator - an iterator over slices.

[2016-02-19 18:00] rasendubi commented on #31758
Pushed a small reproduction to https://github.com/rasendubi/rust_link_section. Steps to reproduce:
[code]

I also discovered the issue shows only with LTO enabled. Seems that it collects the section because nobody refers to it. Can I instruct the compiler to keep the section?

[2016-02-19 18:01] sgrif opened #31776 "Consider turning "visibility has no effect inside functions" into a lint"
The current code results in a hard error:

[code]

This can be painful when writing macros that generate structs or inherent methods, which would otherwise need to be public (particularly when writing tests for those macros). This doesn't seem like something which should need to be an error, and could instead be a lint (which is `deny` by default). I'm unsure if this would need a full RFC or not,

[2016-02-19 18:03] Diggsey commented on #29497
@alexcrichton Hmm, I would prefer `remove_file` and `remove_dir` to try to give the same guarantees they have on linux if possible. Specifically that if they succeed, the file or directory should be completely gone.

It's inevitable that people will build their own abstractions over the top of these primitive operations, and I'd very much like to avoid these kind of bugs where it's sufficiently ra

[2016-02-19 18:10] petrochenkov commented on #31776
Yeah, this restriction is pretty artificial, it isn't required for anything else.

[2016-02-19 18:14] retep998 commented on #29497
This wouldn't really work because files don't necessarily get deleted right away. You can't just move the file somewhere else and then delete it because there isn't always a reasonable place on the same volume to move the file to. Sitting around and indefinitely waiting for the file to vanish isn't ideal either. I'd personally just use `IFileOperation` for `remove_dir_all` and call it a day.

[2016-02-19 18:17] urschrei commented on #31773
Undeniably true, but I don't think it's clear; The docs say "an iterator over `size` / `chunk_size` *elements* of the slice".

[2016-02-19 18:36] Diggsey commented on #29497
What if the file is opened with `FILE_FLAG_DELETE_ON_CLOSE`, no share flags specified, and then is immediately closed? Successfully opening the file means that you have exclusive access, and so closing it should delete the file.

[2016-02-19 19:30] Thiez commented on #31773
I'm not sure one would be able to use `chunks` and `chunks_mut` correctly without understanding that they yield slices. Once you understand that you can use `chunks` to divide a slice into more slices, surely it makes sense that one can divide those slices in yet more slices, In much the same way that one can add two numbers and use the result for further addition.

[2016-02-19 19:36] retep998 commented on #29497
No share flags means nobody else can open it to read/write/delete it. However another handle can still be opened without read/write/delete permissions. Also what happens if you fail to open the file with no share flags? Does it error or fallback to the normal deletion method that provides no guarantees?

[2016-02-19 20:34] mitaa commented on #29253
Thanks @apasel422, I've implemented the filename part [here][0], but it turns out that solving the issue with line numbers being relative to the start of the codeblock instead of to the start of the file is kind of infeasible to solve (which is AIUI the main request from @KalitaAlexey).

The current `<anon>` is I think preferable to showing the correct filename with wrong line numbers.

[0]: https

[2016-02-19 20:47] pitdicker commented on #29497
Great to see so many comments. Just what I hoped for!

@alexcrichton I completely agree to keep `remove_file` and `remove_dir` simple, and only let `remove_dir_all` do magic. Actually removing read-only files is pretty difficult when you also don't want to break hard links. http://stackoverflow.com/questions/3055668/delete-link-to-file-without-clearing-readonly-bit is an example, but I am sure I f

[2016-02-19 21:08] l0calh05t commented on #30947
This is also an issue when using the MSVC linker and passing /manifestdependency flags which always contain spaces such as (for example):

`/manifestdependency:type='win32' name='Microsoft.Windows.Common-Controls' version='6.0.0.0' processorArchitecture='*' publicKeyToken='6595b64144ccf1df' language='*'`

This is currently impossible.

[2016-02-19 21:24] mitaa commented on #19181
The two testcases don't panic for me (fixed/needstest ?)

`rustdoc 1.8.0-nightly (57c357d89 2016-02-16)`

[2016-02-19 22:22] bluss commented on #31773
Yes we should clarify the docs to say it returns an iterator whose elements are slices.

[2016-02-19 23:13] tsion commented on #29548
This also affects enums, e.g. http://is.gd/qwKetS.

[2016-02-19 23:14] alexreg commented on #29548
Any progress on this? This has been around a while.

[2016-02-20 00:12] alexcrichton commented on #31758
Ah it looks like this was caused by #30830 where we fixed LTO to internalize static symbols that weren't needed as part of the ABI. If you mark the symbol as `#[no_mangle]` for now that should do the trick.

We don't really exhaustively define how we retain symbols, however, especially for LTO, so this is indeed a little bit of a gray area as to what the "correct" behavior here is.

cc @arcnmx

[2016-02-20 00:13] jseyfried opened #31779 "A private module can be used outside its containing module"
Consider the following code:
[code]

[2016-02-20 00:44] brson opened #31780 "Breakage due to changing jemalloc symbol names"
We recently unprefixed the jemalloc symbols, which [causes breakage](https://github.com/servo/heapsize/pull/44) when you link to them.

[2016-02-20 00:54] brson commented on #29497
I feel ok about going to extra effort to make `remove_dir_all` work as expected.

[2016-02-20 01:03] rasendubi commented on #31758
Thanks! Adding `#[no_mangle]` fixed my build.

I'm closing the issue now. Feel free to re-open if you expect any further activity.

[2016-02-20 01:04] #31758 closed

[2016-02-20 02:52] #31328 closed

[2016-02-20 03:21] jseyfried commented on #31779
Here is another example:
[code]
If `baz::f` were `pub`, we would get the correct privacy error.

[2016-02-20 05:07] jseyfried commented on #31779
A path `P` appearing in a module `M` is valid w.r.t. visibility iff for each segment `s` of `P`, the item to which `s` resolves is visible to `M`.

Since `pub` items are visible everywhere, it is sufficient to only consider the segments of `P` that resolve to non-`pub` items.

Most of the time, the visibilities of these non-`pub` items are monotonically decreasing along the path. If we assume this

[2016-02-20 05:10] infinity0 commented on #31328
Hm, shouldn't we at least file a bug upstream to valgrind?

[2016-02-20 06:46] #31706 closed

[2016-02-20 06:46] #31769 closed

[2016-02-20 07:03] jseyfried commented on #31779
cc @nikomatsakis @nrc @petrochenkov

[2016-02-20 08:01] jseyfried opened #31783 "resolve: Privacy rules for re-exports can be too restrictive"
[code]

[2016-02-20 08:19] petrochenkov commented on #29548
I was waiting for stabilization of `braced_empty_structs` to fix this cleanly.
But it can be done without stabilization too, I'll try to fix it this weekend.

[2016-02-20 09:39] petrochenkov commented on #31783
Well, `use foo::bar` unlike `use foo::*` does try to access a private name.
Personally, I wouldn't bother to change this (unless it would follow logically from some grander scheme), the practical impact is negligible.

I have more interesting examples though, in which `use` statement simultaneously accesses two things with *different properties*. I'll post them when I get home.

[2016-02-20 09:44] dotdash commented on #31435
Yes, as far as I'm aware that's it. The reason for that is that the default pass setup works reasonablly well so far, and having your own pass setup means more maintenance to keep compatible with different LLVM versions and that you don't automatically profit from improvements made to the default pass setup (obviously). That said, there have been various people who wanted to look into getting a mo

[2016-02-20 09:52] petrochenkov commented on #31779
Having the information about the way in which a particular name was introduced (directly, or through a specific `use` alias) would be very helpful for later stages of compilation, for many things beyond privacy - error messages, stability/deprecation checks, probably something else.
It doesn't prevent moving parts of `PrivacyChecker` to the name resolution stage though.

[2016-02-20 10:20] jseyfried commented on #31779
Definitely agree that it would a good for the rest of the compiler to know what item a path resolves to before following `use` aliases. I don't think that is enough information to fix this bug, though, especially not after RFC 1422.

[2016-02-20 10:35] jseyfried commented on #31783
I agree that the practical impact is very small, but I do think it is inconsistent to be able to re-export a `pub` item with a glob but not by name.

I think of `*` as a pattern that matches any name in any namespace and `bar` as a pattern that matches the name `bar` in any namespace. When we `pub use` a glob pattern, we import everything `pub` that matches the pattern, so I would expect a `pub us

[2016-02-20 10:40] #31619 closed

[2016-02-20 10:47] petrochenkov commented on #31783
In this case `use foo::bar` would be a noop and not an error when both `bar`s are private or don't exist. That would be pretty strange.

I think this is going to change when proper glob shadowing is implemented to support cases like
[code]
but there are some details, I'll elaborate later.

[2016-02-20 11:05] jseyfried commented on #31783
Good point. To be fair though, it would be an unused import warning if a glob pattern didn't match anything. It actually might be a good idea to not allow an empty glob import -- I don't think anyone would do that intentionally.

[code]
Right now `pub use foo::*` is equivalent to `pub use foo::f`. Are you saying that `pub use foo::*` would change to be equivalent to `pub use foo::f; use foo::g`?
I

[2016-02-20 11:16] Zoxc commented on #31505
This is fixed in the 3.8 release branch only, https://github.com/llvm-mirror/llvm/commit/fdf40bea4fc416643210790fff4345be98d97245
We should update rust's LLVM version to that.

[2016-02-20 12:20] lilydjwg opened #31786 "In HTML docs, visited links should have a different color than unvisited ones"
I'm learning Rust through the book from time to time. I'm look up things in the documentation for std now and then.

Ideally, the browser tracks what I have (recently) visited and show links in a different color, so when I see it I know I've read that before. Maybe the link text seems new to me, but I've read it actually. Maybe I'm finding the same doc for some frequent used functions or traits or

[2016-02-20 12:55] alexreg commented on #29548
Thanks, that would be great.

Sent from my iPhone

[2016-02-20 14:25] lilydjwg opened #31787 "Built binaries crash with illegal hardware instruction on BCM2708 cpu (raspberry pi)"
Cross build a "Hello World" program generated by cargo, and it fails to run.

I use the rustc and rust-std-nightly-arm-unknown-linux-gnueabihf.tar.gz from https://static.rust-lang.org/dist/
[code]

The crash in gdb:
[code]

`/proc/cpuinfo`:

[code]

The gcc toolchain used to link the program can build runnable C program on this pi.

[2016-02-20 14:33] #31466 closed

[2016-02-20 14:33] #31482 closed

[2016-02-20 14:33] #31504 closed

[2016-02-20 15:36] Zoxc opened #31788 "error: duplicate entry for `...` [E0152] doesn't specify a source"
`E0152` doesn't specify the source/location of the error. This is the output of rustc when cargo pulls in multiple libcores:

[code]

[2016-02-20 15:48] Zoxc opened #31789 "Windows paths should not be prefixed with \\?\ when displayed"
That just turns this already confusing error into an insult:
[code]

[2016-02-20 16:08] dragostis opened #31790 "Arithmetic overflow when working with HashMap"
I have a `HashMap` defined as follows:
[code]

On Yosemite I get no errors, but it fails on Linux:
[code]

[Travis](https://travis-ci.org/dragostis/mrusty/builds/110611773) build which failed.

[2016-02-20 16:51] apasel422 commented on #31790
I think this is actually a bug in some of the unsafe code in your PR. I will comment there.

[2016-02-20 16:54] dragostis commented on #31790
After a bit of debugging, this appears to be an issue with a pointer.
[code]
`methods` pointer is differe [here](https://github.com/dragostis/mrusty/blob/8e49823c390b342006318fabe251e73057bb39bf/src/mruby.rs#L204) and [here](https://github.com/dragostis/mrusty/blob/8e49823c390b342006318fabe251e73057bb39bf/src/mruby.rs#L62) on Linux but not on Yosemite.

[2016-02-20 17:03] #31790 closed

[2016-02-20 17:07] Zoxc commented on #31590
libc and alloc_system should be removed from liballoc's dependencies. With that change I can cross-compile a freestanding sysroot by depending on libcollections, https://github.com/AveryOS/avery/blob/master/sysroot/Cargo.toml

[2016-02-20 17:17] petevine commented on #31787
You didn't say where you got your rustc from - I suspect you picked up an armv7 version.

[2016-02-20 17:28] nikomatsakis commented on #13231
In this particular case, the RFC is definitely out of sync with the current
implementation. One of my pending worklist items has been to write an
update to the text.

@steveklabnik I also think that, as part of the stabilization process, we
should go back and update the RFCs to bring them inline with the final
results.

On Thu, Feb 18, 2016 at 2:42 PM, Aaron Turon <notifications@github.com>
wrote:

[2016-02-20 17:32] alexcrichton commented on #31328
Perhaps, yeah, but I'm also not confident that it's a bug in valgrind, so it may be premature to do so

[2016-02-20 17:40] petevine commented on #31787
Wait, I forgot Rust's SIGILL doesn't have to come from an actual illegal instruction. It's probably a sign of some unexpected crash related to jemalloc. Try a version of rustc that was built without jemalloc.

[2016-02-20 18:27] alexcrichton commented on #31787
Looks like the faulting instruction is `cbz` (thanks for the disassembly!) which [according to ARM](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489c/Cjaghefc.html) is only a 16-bit thumb instruction. I guess your CPU doesn't have 16-bit thumb instructions?

I guess this means that gcc emits these instructions by default, and I'm not sure if LLVM does (or if we should disable a

[2016-02-20 18:34] petevine commented on #31787
Before posting the second time I checked the `cbz` instruction and it's present in `armv6` (16-bit is the feature of thumb that is supposed to make the code more compact)