[2022-02-21 08:06] est31 commented on #93995
I've filed a PR to issue a dedicated error: #94211

[2022-02-21 08:09] andylizi opened #94231 "Stacked borrows fails on `{ChunksMut,ChunksExactMut}::__iterator_get_unchecked()`"
### Description

[code]

Running this code in Miri will produce the following output:

[code]

<details>
<summary>

With `-Zmiri-track-pointer-tag=1832,1585,12319`

</summary>

[code]

</details>

A few things to note here:

1. Access to the mutable chunk will fail. For example `arr1.chunks(8).zip(arr2.chunks_mut(8))` will fail on `chunk2[0]` instead.
2. `zip()` is required. This is probably due t

[2022-02-21 08:41] workingjubilee commented on #18147
Hm... With new eyes, I can affirm. No change.
Soluble, though.

[2022-02-21 09:48] Rua commented on #86555
#90035 seems to have implemented this, so that box can be crossed off.

[2022-02-21 10:09] michaelwoerister commented on #94124
I think we should do something here. If this is an ICE that shows up multiple times a day in people's regular workflow, it will give the impression of being a severe bug.

I agree that a performance hit (even a big one) is acceptable if it allows us to prevent the compiler from ICEing frequently. @oli-obk's proposed mitigation should work -- but it would still be good to a few days of focused test

[2022-02-21 12:29] Mark-Simulacrum commented on #94124
Release is Thursday, I don't think we should move it at this point. We can backport (or only land) patches into it up until ~Wednesday evening in the worst case.

[2022-02-21 12:58] #93371 closed

[2022-02-21 13:03] yourmoonlight commented on #25289
Looks like this is still happening after 3 years? 🤔

[2022-02-21 14:08] estebank commented on #94124
@pnkfelix, @wesleywiser, @rust-lang/compiler, I agree with @oli-obk's [proposed stop-gap solution](https://github.com/rust-lang/rust/issues/94124#issuecomment-1046033374) for this fingerprinting issue that seems to be prevalent enough in beta to be concerning (at least to me). I believe that we should get a patch ready and backported before tuesday (outside of our weekly backport evaluation schedu

[2022-02-21 14:51] jackh726 commented on #94207
Pretty sure this is #90950. Specifying a type for `F` for `foo` should work: `foo::<X>`

[2022-02-21 15:01] psumbera opened #94217 "RuntimeError: src/stage0.json doesn't contain a checksum for dist/2022-01-28/rustc-beta-sparcv9-sun-solaris.tar.xz"
Trying to build latest sources on SPARC Solaris and `./x.py` fails with:

[code]

[2022-02-21 15:04] Mark-Simulacrum commented on #94217
sparcv9-sun-solaris is not a [tier 2 with host tools platform](https://doc.rust-lang.org/nightly/rustc/platform-support.html), so rustc is not available in precompiled form for that target. You'll have to cross-compile from a different machine, most likely.

[2022-02-21 15:05] nagisa opened #94218 "rustc suggests wrapping receivers even if it wouldn't immediately help method resolution"
[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=61c9bd17bdd6b6e62304592aea0d6a68)

Produces the output as such:

[code]

Note that the message suggests wrapping the receiver expression in a `Box::new` even though it won't really help much unless the traits are imported. And if the trait was imported in the first place, the receiver type would've been fi

[2022-02-21 15:20] psumbera commented on #94217
I build every released veresion using previous one. Is there way to build latest github version using latest released version 1.58.1? Is cross-compiling explained somewhere?

[2022-02-21 15:34] m-ou-se commented on #90829
@rfcbot merge

[2022-02-21 15:34] m-ou-se commented on #90829
@rfcbot cancel

[2022-02-21 15:34] m-ou-se commented on #90829
@rfcbot merge

[2022-02-21 15:37] pnkfelix commented on #94032
FYI I took the test from the primal crate and reduced it down to a single (large!) file: https://gist.github.com/pnkfelix/f45098bc69482dac920dcf384049b849

I suspect this is still too absurdly large to turn into LLVM bitcode to file a bug with LLVM. But, just as i write this, I realize it might suffice as input for the bitcode *automatic reduction tools*  that LLVM distributes. Looking in that nex

[2022-02-21 15:37] dhardy commented on #65225
Suggestion: replace `insert_entry` with simpler `insert` as @Nokel81 suggested above: `pub fn insert(self, value: V) -> &'a mut V`

This covers *most* uses (anything not needing to access the key), and since the only motivation for this method is convenience, there's no need to worry about that case. This then removes the conflict with #44286.

[2022-02-21 15:48] TheTechRobo commented on #84859
Either that, or "impl uses types defined outside of the current crate" or something similar. The current sentence a bit hard to read at first.

[2022-02-21 15:53] michaelwoerister commented on #94124
It looks like we also need to backport #92278 for the mitigation to work. Otherwise spans become part of the symbol hash due to a bug in the stable hash caching infrastructure.

[2022-02-21 16:05] Aaron1011 commented on #94124
This is exactly the kind of thing that I was worried about. @oli-obk has thought that just hashing more spans would be entirely risk free (and I didn't see any obvious issues when they suggested it). However, this turned out to be incorrect due to the fact that the incremental compilation logic is so tightly couples to other parts of the compiler (symbol hashing, in this case).

I think incrementa

[2022-02-21 16:13] ivmarkov opened #94219 "PR #94122 Broke `cargo -Z build-std`"
I don't know how that's possible, but https://github.com/rust-lang/rust/pull/94122 broke [cargo -Z build-std](https://doc.rust-lang.org/cargo/reference/unstable.html#build-std), so all our CIs currently [fail](https://github.com/esp-rs/esp-idf-svc/runs/5269416558?check_suite_focus=true) with:
[code]

Commenting out the three lines this PR introduces allows the STD build to proceed normally.

[2022-02-21 16:20] GuillaumeGomez commented on #94219
How a rustdoc tag can break a normal build? O.o

[2022-02-21 16:24] ivmarkov commented on #94219
Well, I can dig a bit further - but - if I trust my eyes - commenting these three lines allows the build to continue?

And - strictly speaking - is it just a rustdoc tag? You are declaring a crate as extern.

[2022-02-21 16:24] GuillaumeGomez commented on #94219
Ok, I think I know where the problem comes from: `miniz_oxide` is an optional dependency and it should have been taken into account...

[2022-02-21 16:29] Mark-Simulacrum commented on #94217
To be clear, I don't believe sparv9-sun-solaris has *ever* been a tier 2 with host tools target. Did x.py work for you before? It might be that we're detecting a different build triple for some reason. The problem you're running into is precisely that no 'previous' version exists for this target triple.

I'm not sure there's a very detailed explanation, but https://rustc-dev-guide.rust-lang.org/bu

[2022-02-21 16:31] Mark-Simulacrum commented on #90829
drain_filter:

retain_mut:

These methods are very similar in terms of functionality and behavior (drain_filter additionally provides access to removed elements via an iterator). That doesn't mean we shouldn't have both, but I think it makes sense to at least consider the two APIs somewhat together -- particularly when they have different behavior for identical closures (true removes the element i

[2022-02-21 16:37] psumbera commented on #94217
It probably newer worked for me. I was mainly confused that it did download some existing archive and it failed later with python stack trace. I would hope at least for some error message (not supported platform?!).

[2022-02-21 16:40] Mark-Simulacrum commented on #94217
Yeah, we can probably improve the checksum error message to something like "pre-built artifacts not available for this target at this time, see [platform support] page" -- happy to take a PR doing so.

[2022-02-21 16:43] kpreid opened #94222 "https://doc.rust-lang.org/error-index.html is not getting updated"
The text at <https://doc.rust-lang.org/error-index.html> is stale compared to what appears to be its source material, <https://github.com/rust-lang/rust/tree/master/compiler/rustc_error_codes/src/error_codes>.

For example, the [section for E0038](https://doc.rust-lang.org/error-index.html#E0038) uses the deprecated `dyn`less syntax `Box<Trait>`, but [the markdown file in Git](https://github.com/r

[2022-02-21 16:45] crumblingstatue commented on #90829
drain_filter has been stagnating for a very long time because it has a lot of complexities.
In contrast, retain_mut is a very simple API. In fact, its implementation is exactly the same as Vec::retain. It's only due to a historical accident that Vec::retain doesn't take &mut T.

Vec::retain_mut has been delayed many times citing drain_filter, yet drain_filter is so complex that it hasn't been stab

[2022-02-21 17:01] Mark-Simulacrum commented on #94222
I believe this is just a case of needing to wait until the relevant PR hits stable -- the top-level files on doc.rust-lang.org are updated on each stable release. In this case, https://github.com/rust-lang/rust/pull/91387 needs to hit stable which will happen later this week. Closing as not-actually-a-bug.

[2022-02-21 17:01] #94222 closed

[2022-02-21 17:06] horazont opened #94223 "internal compiler error: unexpected panic: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_target/src/abi/call/x86_64.rs:158:47"
### Code

[code]

Notes:

* Removing `inner: CDriver` removes the ICE
* Removing any of the other fields from CDriver removes the ICE
* Removing the trait + impl removes the ICE

### Meta

NB: reproduces with [beta + nightly via play.rust-lang.org](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=788f1de2c6ec05c23dee3d65ff2a33f5)

`rustc --version --verbose`:
[code]

### Er

[2022-02-21 17:17] pnkfelix commented on #94124
So: my current take is this:

 * We should not release with incr-comp on by default with ICE's that have messaging like the one in this bug. Its not an acceptable end-user experience.
 * Talking about this with @oli-obk and @estebank , one suggestion is to change all the indexing operations within `compiler/rustc_query_impl/src/on_disk_cache.rs` to use `.get(...).expect(MSG)` where `MSG` gives adv

[2022-02-21 17:36] Mark-Simulacrum commented on #94124
Rather than switching indexing, since the ICE message already has CLI options, we can likely use that to give a better error message. That said, I am not personally convinced an error message is of much help here - ultimately, my understanding is the best we can offer is a "cargo clean" suggestion, right?

We should probably schedule some time to discuss incremental testing and/or policy in genera

[2022-02-21 17:43] pnkfelix commented on #94124
We can tell them to `cargo clean` to work-around the immediate error.

We might also tell them to disable incremental-compilation entirely (though then that setting might stay in their codebase forever, even after the bugs are fixed, so its not the greatest option; this is a case where a version-conditional setting in the Cargo.toml might provide a better long term experience to address that scena

[2022-02-21 17:48] michaelwoerister commented on #94124
I think turning it off by default and adding a message in the release notes is an acceptable option.

[2022-02-21 18:13] Mark-Simulacrum commented on #94124
I've posted the initial stable artifacts build (https://github.com/rust-lang/rust/pull/94224) with incremental soft-disabled; we can of course iterate on the exact language there and likely a section for the blog post also makes sense. cc @tmandry on the latter, or maybe someone here wants to draft something up.

We have time until ~Wednesday to rebuild artifacts with a different patch, of course,

[2022-02-21 18:24] jonhoo commented on #90829
I wonder if we could change `retain` to be `retain_mut` at an edition boundary. Not actually _remove_ `retain`, mind you, but rather than for a crate with edition >=X, when you write `retain`, you get `retain_mut`.

[2022-02-21 18:39] jsgf commented on #73632
I think I see - I'll need to dig into it some more. But I did notice that Cargo has specific knowledge of the rustc-std-workspace* names baked into it, and they don't appear as normal resolved dependencies in the `cargo metadata` output. This led me to believe that they're intended to be resolved against whatever sysroot your rustc is using (since quite a few crates.io packages depend on them, I g

[2022-02-21 18:41] rekby opened #94226 "compile error with bad cache state"
### Code
Can't show code now.

It is error with cache. It doesn't reproduce on other version of rust toolchain (beta, nightly) and stop reprocude when I remove folder target.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-21 18:51] jlogan03 opened #94227 "Compiler panicked unexpectedly on instantiation of struct parametrized by nested const generic exprs"
### Code

Offending line here: https://github.com/jlogan03/catnip/blob/f7ff6dc5fb3ac36f3c06e2cb81f842b0b34e3eed/catnip/examples/packet.rs#L55

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-21 19:05] bjorn3 commented on #73632
The only occurences of rustc-std-workspace-core in the cargo source code are for tests and the implementation of `-Zbuild-std`. It doesn't have any special meaning for regular compilation. https://github.com/rust-lang/cargo/search?q=rustc-std-workspace-core

The patching of rustc-std-workspace-* happens at https://github.com/rust-lang/rust/blob/1103d2e914b67c18b0deb86073c26c6aefda761d/Cargo.toml#L

[2022-02-21 19:40] Techcable commented on #89626
Yes. Here is a gist: https://gist.github.com/Techcable/1b1dbf9a808cc62381bf2866e64c31e8

The code is public `gitpatcher-bin` available [here](https://github.com/Techcable/gitpatcher/tree/master/bin)

[2022-02-21 19:57] jhpratt commented on #82450
Wow, that's awesome! I didn't even know this was being worked on actively.

As someone who would like _love_ to use this in CI, how feasible is it to try this on nightly, even if "just" for features? I ask because it sounds like cargo integration isn't a thing yet.

[2022-02-21 20:04] nipzu commented on #94223
Minimized to:
[code]

Changing the argument of `f` from `[u8]` to another FFI-unsafe type like `dyn std::any::Any` causes the same ICE. Maybe `f` being a function argument skips some FFI-related checks.

[2022-02-21 20:35] passcod commented on #65225
Didn't want to jump the horse during the unstabilisation moment but I'm unfortunately not terribly interested in this feature anymore, so am unsubbing from it all. This has nothing to do with anyone involved and only to do with me/time, and I generally/superficially agree with the concerns raised for the stabilisation revert. Thanks for all the fish 🐬

[2022-02-21 20:37] Urgau commented on #82450
:heart:

It would just be a matter of passing something like this `-Z unstable-options --check-cfg='values(feature, "f_a", "f_b", "f_n")'` where `f_a`, `f_b`, ... `f_n` are your features name to `rustc` with `cargo` you can use the `RUSTFLAGS` env variable do to it. This manual process is only temporary until `cargo` support is added.
[code]

[2022-02-21 20:41] jhpratt commented on #82450
That's not bad at all! I'll definitely add in a CI check. Should massively improve speed over checking the literal power set of features.

[2022-02-21 21:24] lilyball commented on #87800
I just ran into this today. I have code like

[code]

and what I really want to say is

[code]

Having to split this apart myself is annoying. Doing this as a `map` makes perfect sense, instead I'm going to have to use an `if let Some(bar) = self.bar { … } else { (None, None) }`.

[2022-02-21 21:30] jlogan03 opened #94230 "Compiler index out of bounds error while typechecking function with const generic"
### Code
See https://github.com/jlogan03/catnip/blob/e10eb1e02c1d3bed2d71b9d8c4e50bd9190d4333/catnip/src/enet.rs#L113

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-21 21:36] fanninpm commented on #94230
That's more than a month out of date. Does this still happen on the latest nightly?

[2022-02-21 21:36] the8472 commented on #82303
I believe with #83791 merged this can be closed since it turns it into a non-promise

[2022-02-21 21:43] Milo123459 commented on #75704
@rustbot claim

[2022-02-21 21:48] RalfJung commented on #94231
All right, I moved this to the Rust repo.

[2022-02-21 22:01] CAD97 commented on #46571
Just recording here that these functions being `const` has an implication for user defined custom DSTs (specifically requiring size/align access to be `const`).

[2022-02-21 22:02] matthiaskrgr opened #94232 "failed to get bitcode from object file for LTO (Bitcode section not found in object file)"
[code]
fails to build without any interesting details unfortunately
[code]

with `nightly-2022-02-10`

[2022-02-21 22:17] jhpratt commented on #82450
Note to both myself and anyone else reading this: don't add spaces inside the `values(…)` bit. It won't work. Without spaces it works as expected.

[2022-02-21 22:55] frxstrem opened #94233 "Internal compiler error "cannot convert `RePlaceholder(..)` to a region vid" with higher-rank trait bounds"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-21 23:03] jonhoo opened #94234 "bootstrap: RUSTFLAGS_BOOTSTRAP does not affect building bootstrap"
I'll prefix this with: I don't _know_ if this is a bug, or just confusing behavior.

It appears that setting `RUSTFLAGS_BOOTSTRAP` does not affect the `RUSTFLAGS` used to build the Rust-based bootstrap binary (`src/bootstrap`). Instead, when `x.py` builds `src/bootstrap`, it just uses `RUSTFLAGS` directly:

https://github.com/rust-lang/rust/blob/8769f4ef2fe1efddd1f072485f97f568e7328f79/src/bootstr

[2022-02-22 00:17] compiler-errors commented on #94218
@rustbot claim

[2022-02-22 00:39] compiler-errors commented on #94210
@rustbot claim

[2022-02-22 00:46] compiler-errors commented on #94192
This reminds me of #92741

[2022-02-22 00:58] ArcaneNibble opened #94239 "Integer literal overflows in match patterns result in unhelpful error message"
Given the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e4ae2aced36b3afd228f8e8c43af3fdf):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-02-22 01:33] compiler-errors commented on #94149
@rustbot claim

[2022-02-22 01:42] nyurik opened #94241 "cargo clippy --fix produced uncompilable code"
Per instructions in `cargo clippy --fix`, posting a bug. The same bug shows up when using the latest `1.61.0-nightly (03a8cc7df 2022-02-21)`

[code]

To reproduce:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Full error report</summary>
<p>

[code]

</p>
</details>

[2022-02-22 02:03] #78520 closed

[2022-02-22 02:03] #93995 closed

[2022-02-22 02:03] #94219 closed

[2022-02-22 02:04] compiler-errors commented on #94025
Should we close this now that #94113 is landed?

[2022-02-22 02:06] compiler-errors commented on #93997
@rustbot claim

[2022-02-22 02:12] neil1899 opened #94244 "rustc linker = aarch64-linux-gnu-ld, aarch64-linux-gnu-ld: cannot find -lgcc_s"
the simple code

fn main() {
    println!("Hello, world!");
}

rustc 1.57.0-nightly (5ecc8ad84 2021-09-19)
binary: rustc
commit-hash: 5ecc8ad8462574354a55162a0c16b10eb95e3e70
commit-date: 2021-09-19
host: x86_64-unknown-linux-gnu
release: 1.57.0-nightly
LLVM version: 13.0.0

error:
= note: aarch64-linux-gnu-ld: cannot find -lgcc_s

[2022-02-22 02:22] camelid commented on #94219
It seems that maybe it'd be a good idea to test `-Z build-std` in CI somehow so this sort of thing doesn't happen again?

[2022-02-22 02:27] eddyb commented on #39412
Before being reminded that `Span::def_site()` on the proc macro side is what hygiene is tracked under, I came up with this silly little snippet:
[code]

The idea there is that by using `$crate` from inside a `macro` (as opposed to `macro_rules!`), the "hygiene 2.0" aspect was captured, and private parts of `$crate` can now be accessed through it (in a kind of objcap-y way, heh).
(Similarly, passin

[2022-02-22 02:33] melynx commented on #50297
I second this. Allowing functions to be aggregated provides for maximum flexibility.
I'm working on some no_std shared objects which have a different architecture from the runner.
I wanted to just have custom_test_frameworks expose the runner test harness "main" as an exported symbol but it seems that building test assumes that it has to be compiled as an executable.

[2022-02-22 02:45] John-Nagle opened #94245 "rust-gdb: "Python Exception <class 'OverflowError'> int too big to convert: ""
Note: this report may be in the wrong place, but it's not clear where rust-gdb bugs go.

I tried this code:

[code]

I expected to see this happen: *Normal GDB operation"

Instead, this happened: *Python errors from within GDB, followed by GDB hung and unable to accept more commands*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>
This is inside rust-gdb,

[2022-02-22 03:06] theJasonFan commented on #90594
I ran into this on `rustc 1.58.1 (db9d1b20b 2022-01-20)` after moving a struct from one module to its parent module. My project built after running cargo clean. Unfortunately, I cannot reproduce the issue and did not capture a backtrace. FWIW, I got the following error:
[code]

[2022-02-22 05:03] #94025 closed

[2022-02-22 07:29] thanatos opened #94250 "Navigating back/forward in rustdocs causes theme change if page is restored from bfcache"
I normally use the "dark" theme for docs.rs ; however, lately, if I hit "back" to go backwards, the previous page is now in light mode, not dark mode. Refreshing the page fixes it, but is annoying, of course.

[2022-02-22 09:29] GuillaumeGomez commented on #94219
@camelid Agreed. The difficult part is that I think it'd require a whole new CI run. To be discussed with infra...

[2022-02-22 09:50] emabee commented on #85444
Same here - it works in firefox, but not in Safari, unless I enable the dev tools; rust version (for doc) is rustc 1.60.0-nightly (75d9a0ae2 2022-02-16)

[2022-02-22 10:20] michaelwoerister commented on #94245
Thanks for the bug report, @John-Nagle! This looks like a bug somewhere in https://github.com/rust-lang/rust/blob/master/src/etc/gdb_providers.py, so this is the right place to report it.

Is there a small sample program that reproduces the bug?

[2022-02-22 10:35] philipcraig commented on #94124
Hi everyone, this bug in beta is so prevalent that lots of tests in https://github.com/google/autocxx/blob/main/integration-tests/tests/integration_test.rs have had to be disabled for beta builds. Incremental compiles fail crazily often, and it is breaking the integration tests that use beta channel on the CI, always with this same compile panic.

If the beta channel gets promoted to stable in thi

[2022-02-22 10:59] philipcraig commented on #92595
Hi everyone, this bug in beta is so prevalent that lots of tests in https://github.com/google/autocxx/blob/main/integration-tests/tests/integration_test.rs have had to be disabled for beta builds. Incremental compiles fail crazily often, and it is breaking the integration tests that use beta channel on the CI, always with this same compile panic.

If the beta channel gets promoted to stable in thi

[2022-02-22 11:00] philipcraig commented on #92847
nightly, doesn't have the problem. But the beta that's about to promote stable does.

[2022-02-22 12:40] TimJentzsch commented on #92595
@philipcraig You should probably open a new issue for this, I just tested this scenario again and it seems to compile without issues now.

I'll probably close this issue soon

[2022-02-22 13:12] leonardo-m opened #94256 "[ER] slice::partial_sort ?"
In Rust code that uses Itertools I see code like

data.sorted().rev().take(3)...

Or more generally I see sorting + take. In such cases when the number of items to take is small it's better to use a faster algorithm that sorts only those few items. This is the partialSort() of the D language stdlib:

https://dlang.org/phobos/std_algorithm_sorting.html#partialSort

Currently in Rust this could be d

[2022-02-22 13:13] leonardo-m opened #94257 "[ER] Iterator::array_chunks_copy ?"
In Itertools there's Itertools::next_tuple():

https://docs.rs/itertools/0.10.3/itertools/trait.Itertools.html#method.next_tuple

But for the Rust stdlib I prefer something more general, an array chunks for iterator (that perhaps works only on Copy types?):

Iterator::array_chunks_copy::<const LEN: usize>()

It's similar to slice::array_chunks but I think it should return actual arrays instead of

[2022-02-22 13:13] leonardo-m opened #94258 "[ER] array::reshape ?"
Here I propose to add a new commonly useful array method related to slice::as_chunks_unchecked_mut and similar ones and also related to Iterator::flatten. (But this one is safe). Its purpose is to replace std::mem::transmute in a common and provably safe group of cases. That is to reshape arrays. From 3x2 => 2x3 => 6x1, etc. This means the number of input dimensions could be different from the num

[2022-02-22 15:14] madsmtm commented on #93367
Hey, I hit this warning on a struct that uses `PhantomData` to state that it does not necessarily always implement some marker traits (some FFI stuff, for specifics see [here](https://github.com/madsmtm/objc2/blob/f23c3fc1afb1d8247eb11dc153054c8ddc86947d/objc2-foundation/src/array.rs#L18-L42), [here](https://github.com/madsmtm/objc2/blob/f23c3fc1afb1d8247eb11dc153054c8ddc86947d/objc2-foundation/sr

[2022-02-22 15:28] nikic commented on #94032
Upstream issue: https://github.com/llvm/llvm-project/issues/53990 Not a great reduction, but my attempts to construct a minimal MIR test failed.

[2022-02-22 15:39] pnkfelix commented on #94124
Just to assuage concerns of anyone following along here: We are not letting the beta channel get promoted to stable in the state described here.

As noted by @Mark-Simulacrum [above](https://github.com/rust-lang/rust/issues/94124#issuecomment-1047129205), we have now ["soft-disabled" incremental](https://github.com/rust-lang/rust/pull/94224/commits/6af5faf7928c989e5b8bb6b006bec293e4376656) on 1.59

[2022-02-22 16:12] aDotInTheVoid commented on #94140
2 Possible approaches for this:

### 1 Crate per test

Each test is its own crate (in addition to the crate being documented). Rustbuild documents the `<name>.rs` file, compiles `<name>_test.rs` to a binary, and then calls generated binary with a path the the json. Their is a library crate that each test depends on that provides common test utilitys, and a main method that reads the json file, and

[2022-02-22 16:22] pnkfelix opened #94262 "Compiler bootstrap infrastructure and tests should be exercising `-g` more aggressively"
On https://github.com/rust-lang/rust/pull/93006 a change landed that broke `rustc -g` for unsized tuples, in a manner that ICE'd the compiler.

We didn't notice that it happened until nearly two weeks later, when  #93866  and  #93871 were filed.

The reason I'm filing a bug is that we have tests of unsized tuples; even the libcore test suite itself uses them. (I.e., this bug broke my attempts to b

[2022-02-22 16:27] bphd commented on #43301
I hoped while heading here that it was a long time implemented function and that the documentation wasn't up to date. But, well...

[2022-02-22 17:24] JonathanWoollett-Light commented on #94204
To add a simpler example of what I beleive to be the same error.

`Cargo.toml`:
[code]
`src/main.rs`:
[code]

[2022-02-22 17:44] #85247 closed

[2022-02-22 17:44] #92378 closed

[2022-02-22 17:44] #94218 closed

[2022-02-22 17:59] abrown commented on #73820
@xnox and all: #93439 adds initial support for CET behind the `-Z cf-protection` flag. More information is available [here](https://github.com/rust-lang/rust/blob/master/src/doc/unstable-book/src/compiler-flags/cf-protection.md) and will presumably be available in the unstable book once the next version is released. Even though the availability of this flag is pending that release (unless you buil

[2022-02-22 18:06] jhpratt commented on #87517
How do people feel about stabilizing this? There was a minor concern from @Mark-Simulacrum in #92366, but that's a diagnostic that can be changed at any time. The implementation is straightforward, tested, used in rustc, and has remained unchanged for ~7 months.

[2022-02-22 18:08] Arnavion commented on #92137
@m-ou-se @Urgau Will this be in 1.59.0? I don't see it in the release notes, but I do see the fix in the `beta` git branch. If it's going to be in 1.59.0, could the release notes be updated to mention it?

[2022-02-22 18:09] cuviper commented on #94032
The [proposed patch](https://reviews.llvm.org/D120330) does work for me, thanks!

[2022-02-22 18:11] jhpratt commented on #92137
This is in fact on beta: [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=4a6209c6ba69c06d6e47af703265f91e)

[2022-02-22 18:14] danakj commented on #94138
Thanks @nagisa for looking. It's well-known that linking rlibs isn't supported, but also that it's widely done at the moment: https://github.com/rust-lang/rust/issues/73632

I tried linking with rustc to verify and indeed the rlib has `UND` symbols but rustc links it without errors. So I went back to the drawing board to re-minimize my test-case and verify what's going on.

Here's my improved mini

[2022-02-22 18:16] danakj commented on #73632
I linked https://github.com/rust-lang/rust/issues/94138#issuecomment-1048077884 here. The summary from there is that I've now hit my first case of a linker error due to linking rlibs. And the error does not occur if you link the --emit=obj object file instead.

[2022-02-22 18:18] John-Nagle commented on #94245
Unfortunately, I don't have a test case. IThere's no extra-long arithmetic involved in this program; the biggest numeric types are **usize** and **f64**. No unsafe code or foreign functions are involved. It's a debug compile, so debug information should be clean.

When it  happens, the debugger is broken and no further debugging is possible. Recovery from that exception is not successful. That's t

[2022-02-22 18:43] joshtriplett commented on #93838
Do we already have tests that confirm this behavior?

[2022-02-22 18:46] pnkfelix commented on #93838
(just passing this on to the compiler team to double-check that people there are okay with what's being proposed here. And if firmer language is required to be checked against the rust-lang/reference, then we need to check that nominations there show up on the T-compiler agenda.)

[2022-02-22 18:55] CraftSpider commented on #94140
Personally, 1 sounds better. I like the idea of one crate per test, with a helper they all rely on. On the other hand I agree it may be a little more complex.

[2022-02-22 19:13] dhardy commented on #81659
Another example is running this in the playground:
[code]

[2022-02-22 19:13] joshtriplett commented on #43364
We discussed this in today's @rust-lang/lang meeting, and in a previous meeting.

We didn't have any clear consensus on whether we wanted to stabilize an option that produces machine-parseable output. Some team members proposed that we should ideally have a dedicated option for machine parseability, rather than having tools parse Rust code. In general, there was a fair bit of trepidation about sup

[2022-02-22 19:22] AkechiShiro commented on #90698
Hi @wihobbs, sure I'm fine in collaborating for this issue, is there any way to know what is WIP at the moment? And how I could get started on this issue ? What do you suggest I look at first or play around with ?

Did you understand how you could use the Layer object mentioned in the first message?

[2022-02-22 19:27] Arnavion commented on #92137
Yes, as I said it's in the beta branch but not mentioned in the release notes for the upcoming 1.59.0. So if it's confirmed that it will be in 1.59.0, then it would be great if the release notes could be updated to mention it.

[2022-02-22 20:33] Urgau commented on #92137
Yes it will be 1.59.0. cc @Mark-Simulacrum about the change not being in the release notes.

[2022-02-22 20:40] Mark-Simulacrum commented on #92137
https://github.com/rust-lang/rust/pull/94265 includes a note about this into the 1.59 release notes.

[2022-02-22 20:51] pnkfelix opened #94266 "process: release procedure only runs crater on nightly->beta cut"
In a [recent compiler team meeting](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-02-10.20.2354818.html#271445043), the timing of crater runs came up.

Today, we typically do a crater run at the start of the six week release cycle; we run crater against the beta freshly cut from nightly.

The problem with this model is that we then cherry-pick beta

[2022-02-22 20:53] pnkfelix commented on #94266
(i want to discuss this at a compiler triage meeting; thus the nomination. I probably won't be at the meeting on 2022-02-24, so if the team wants to table the discussion until 2022-03-03, that's okay with me.)

[2022-02-22 20:58] tavianator commented on #85573
@marcospb19 An owned version is already available from [`DirEntry::file_name()`](https://doc.rust-lang.org/std/fs/struct.DirEntry.html#method.file_name)

[2022-02-22 21:01] aDotInTheVoid commented on #94140
After some [zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/rustbuild.2Fcompiletest.20question.3A.20Many.20or.20One.20test.20crate) with @_Mark-Simulacrum, it looks like one-crate-per-test is infeasable, because compiletest can't build crates that have crates.io dependencys (needed for serde_json).

Additionaly this looks alot like https://github.com

[2022-02-22 23:25] amyspark opened #94269 "x86_64-pc-windows-gnu target works with Clang, but assumes the gcc alias exists always"
I tried this code to install `cargo-c` manually (see https://invent.kde.org/graphics/krita/-/blob/master/3rdparty/ext_heif/CMakeLists.txt#L98):

[code]

I expected to see this happen: cargo-c is happily linked and installed

Instead, this happened:

[code]

This is because https://github.com/msys2/MINGW-packages/pull/10651 removes the gcc alias that allowed this (potentially unsupported, but worki

[2022-02-23 00:04] kckeiks commented on #73931
Hi,
I've been taking a high level look at the parts that are involved in `try_report_anon_anon_conflict` and `add_missing_lifetime_specifiers_label`. As @p3achyjr said, the error reporting for traits and free functions are in diff modules and are methods of different objects but it looks like `try_report_anon_anon_conflict` or `NiceRegionError` might have the parts needed (and that `add_missing_li

[2022-02-23 00:31] ehuss commented on #94232
I believe this is because the compiler rlib libraries do not include bitcode in them.  The [`compile-test.rs`](https://github.com/rust-lang/rust-clippy/blob/master/tests/compile-test.rs) test depends on them, so it is not possible to build that test with LTO.

It would be nice if the error message included which file was missing the information (which would be easy to add [here](https://github.com

[2022-02-23 01:07] xnox commented on #93754
In distributions that already elect to build everything with CET enabled by default, we would want to turn it on by default in the rustc compiler and use it for the standard library, and everything by default.

The question is simply as to when. And what can be done to get there. I wonder if we could attempt rebuilding all packages with CET in the distribution to see how far the coverage goes.

[2022-02-23 01:55] cuviper commented on #93754
I don't see any way we could conditionally-default CET for rustup toolchains, but I think the way to go is to make it a rustbuild option, for such distributions to use when building their own Rust toolchain.

[2022-02-23 04:35] JonathanWoollett-Light commented on #94204
Adding `#![feature(generic_const_exprs)]` fixes the error. Although I'm not sure this prevents this being a bug still.

[2022-02-23 06:36] wangbyby opened #94275 "multiple definition of `llvm:: cl ::Option::anchor()' when running x.py build"
Hi，I am working for huawei. And I am trying to build rustc with `bisheng`, a custom version of  llvm12.
But I get some errors in running command `./x.py build`. The log is very long, so I split it into two files:  [error_1.txt](https://github.com/rust-lang/rust/files/8122074/error_1.txt), [error_2.txt](https://github.com/rust-lang/rust/files/8122075/error_2.txt).
Some of them looks like this:
[cod

[2022-02-23 07:05] B-Teague commented on #80967
So, I ran into this issue when refactoring some code from the rust book as a learning exercise:

[code]

Only downside was expect doesn't accept multiple arguments for the panic! macro. (yes, I know I can use format!().as_str())

[2022-02-23 07:34] paulmenzel opened #94278 "Typo in URL to 1.58.1 release notes in announcement blog post"
The URL to the 1.58.1 release notes in the [blog post *Announcing Rust 1.58.1*](https://blog.rust-lang.org/2022/01/20/Rust-1.58.1.html) is incorrect. Instead of

https://github.com/rust-lang/rust/blob/stable/RELEASES.md#version-1581-2022-01-20

it should be

https://github.com/rust-lang/rust/blob/stable/RELEASES.md#version-1581-2022-01-19

[2022-02-23 07:42] jsha commented on #93216
We've made some changes in response to the feedback here:

 - Fixed theme updating on forward/back navigations. Now if you change theme on the settings page then go back, the page you go back to will have the correct theme.
  - Changed theme selector from dropdown to radio buttons. This means there's a larger click target, and it takes only a single click to select one, rather than a click to open

[2022-02-23 08:21] steffahn commented on #93216
I'm aware of these changes.

Now you're defining ayu as a light theme in that demo!?

I'm not convinced anything can be as user friendly as a paintbrush icon. I'm not convinced a paintbrush symbol is a clutter or distracting or bad in any way. I am convinced that there's clear disadvantages w. r. t. discoverability and usability when NOT having it. Accessibility (which apparently is a main movatio

[2022-02-23 08:39] nikic commented on #93731
Upstream patch: https://reviews.llvm.org/D120337

[2022-02-23 08:46] djc commented on #91496
I think this is the same problem:

[code]

Fails with

[code]

Despite there clearly being no calls in this function.

[2022-02-23 09:16] tspiteri commented on #76200
While checking whether the [fixed crate](https://crates.io/crates/fixed) can be ported from typenum to nightly with `generic_const_exprs`, I hit this warning. I am not sure whether it's a false positive or whether the behavior I want is meant to be disallowed, but I think it should be allowed when enabling `generic_const_exprs`.

I've reduced the code though I left some stuff to show why it would

[2022-02-23 09:22] nikic commented on #93923
Upstream issue: https://github.com/llvm/llvm-project/issues/54012

[2022-02-23 09:43] tspiteri opened #94282 "generic_const_exprs: cycle detected where it is not expected"
I hit this while checking whether the [fixed crate](https://crates.io/crates/fixed) can be ported from typenum to nightly with `generic_const_exprs`. The code below contains two parts which seem to be independent, but they are causing a cycle to be detected. Commenting out either part 1 or part 2 will remove the compilation error.

[code]

This error message is shown:
[code]

### Meta

`rustc +nig

[2022-02-23 10:07] tspiteri commented on #94282
I don't know if it's the same issue or just related, but I'm also getting a cycle with this code:
[code]

Error:
[code]

[2022-02-23 10:35] Urgau commented on #94278
Well now it should be: https://github.com/rust-lang/rust/blob/stable/RELEASES.md#version-1590-2022-02-24

The is also a rendering issue with `unreachable!` not being a link due to an incorrect markdown:
![](https://puu.sh/IKY6P/0eb9f1532c.png)

cc @Mark-Simulacrum (for the release team)

[2022-02-23 10:45] rust-highfive opened #94284 "`rls` no longer builds after rust-lang/rust#94277"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94277, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @ehuss, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-02-23 11:08] SkiFire13 commented on #94258
Wouldn't this become obsolete with project-safe-transmute?

[2022-02-23 11:10] SkiFire13 commented on #94257
Have you seen #92393 and #93700?

[2022-02-23 11:15] SkiFire13 commented on #94256
This can also be done using a `BinaryHeap` for any general `Iterator`. In fact Itertools uses it for `k_smallest`.

The problem I see with this iterator adapter is that it must consume the wrapped iterator before being able to yield the first item, which goes against how every other stdlib's iterator adapter works.

[2022-02-23 11:41] tspiteri opened #94287 "ICE while compiling doctests with generic_const_exprs due to failed normalization"
### Code

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

[2022-02-23 12:42] Mark-Simulacrum commented on #94278
Since the announcement was made on the 20th, it probably makes sense to edit the release notes instead of the blog post.

The compatibility notes would indeed be nice to adjust, but I'm not likely to have another stable build in the next ~24 hours before a release, so we'll leave that for an upcoming forward-port to master.

[2022-02-23 12:53] michaelwoerister commented on #94245
Maybe an enum discriminant ends up being 128 bits wide. That can happen if another field is being re-used as the discriminant.
Or it's related to fat pointers.

Can you share the type definition of the `objects` parameter of `scenetest::dummyscene::DummyWorldScene::recalc_all_object_lods()`? That seems to be where things start going sideways.

[2022-02-23 13:17] Mark-Simulacrum commented on #42611
I'm going to go ahead and close this metabug, I think the general shape should be tracked in issues on rustc-perf these days (and each of these has a dedicated issue there or is too broad for effective tracking).

[2022-02-23 13:17] #42611 closed

[2022-02-23 13:45] eddyb commented on #89106
The linked clippy code looks suspicious in at least one particular way: it doesn't *literally* parse both the original and the proposed replacement, into the appropriate type, to do a *bitwise* comparison.

It only parses the original and the only obviously-exact operation is `value.fract() == 0.0` (the other use of `value` is formatting it to a string).

For a `MachineApplicable` lint, it should

[2022-02-23 13:49] edmorley opened #94291 "ICE in 1.60.0-beta.1: `thread 'rustc' panicked at 'Box<dyn Any>', compiler/rustc_errors/src/lib.rs:1160:9`"
### Code
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8246316eaa144bdcfc3f421aa56fd785

[code]

Note: In the example above, there are parens missing around the tuple being passed to `.push_back()`, which once added in, resolves the ICE.

### Meta

`rustc --version --verbose`:
[code]

This also reproduces using nightly on playground:
`rustc 1.61.0-nightly (68369a041 2022

[2022-02-23 13:59] lcnr opened #94293 "`const_evaluatable_unchecked` doesn't correctly deal with non default substs"
While checking whether the [fixed crate](https://crates.io/crates/fixed) can be ported from typenum to nightly with `generic_const_exprs`, I hit this warning. I am not sure whether it's a false positive or whether the behavior I want is meant to be disallowed, but I think it should be allowed when enabling `generic_const_exprs`.

I've reduced the code though I left some stuff to show why it would

[2022-02-23 14:00] lcnr commented on #76200
@tspiteri this is a bug which only happens with `feature(generic_const_exprs)`, opened a separate issue for that

[2022-02-23 14:06] lcnr commented on #94293
`const_evaluatable_unchecked` is emitted if we successfully evaluate an anonymous constant with generic const arguments.

Anonymous constants currently inherit all of their parents generics, so for `If<{ FRAC_RHS <= 8 }>: True,` the constant `{ FRAC_RHS <= 8 }` has both `FRAC_RHS` and `FRAC_LHS` in scope, even though it only uses `FRAC_RHS`.

This would mean that pretty much all anonymous constant

[2022-02-23 14:09] lcnr commented on #93367
@madsmtm yeah, that's an issue with our implementation of the lint, should be able to fix that one soon

[2022-02-23 14:12] Mark-Simulacrum commented on #64140
Closing in favor of https://github.com/rust-lang/rust/issues/38827, I agree this is a duplicate.

[2022-02-23 14:12] #64140 closed

[2022-02-23 15:02] leonardo-m commented on #94256
I see. I close this issue down as unfit for stdlib for now. (But I've used Itertools just for the sorted() adapter, and I think it's so useful that with a different API it's worth having a sorted() in the stdlib).

[2022-02-23 15:02] #94256 closed

[2022-02-23 15:03] leonardo-m commented on #94257
Thank you, I didn't, I close this issue down as dupe.

[2022-02-23 15:03] #94257 closed

[2022-02-23 15:03] leonardo-m commented on #94258
Thank you for your comments. You're right, a safe-transmute should be a superset of an array reshaping functionality. The advantage of a reshape() function is that its API is more specific, so it's probably a little simpler (simpler to understand its purpose when you read code too). So the question is if it's worth having an array::reshape() once the safe-transmute ideas are implemented. I think t

[2022-02-23 15:03] #94258 closed

[2022-02-23 15:16] s-knibbs commented on #90522
I've also hit this issue when LTO is enabled with the following rustc version:
[code]

Backtrace:
[code]

[2022-02-23 15:21] JakobDegen commented on #79191
@rustbot claim

[2022-02-23 17:00] kjetilkjeka commented on #38788
I'm curious if I might have found a codegen bug related to this feature.

<details open>
<summary>When compiling the following with rustc</summary>

[code]
</details>
<details open>
<summary>Rustc will produce the following</summary>

When compiling with `rustc +nightly --target nvptx64-nvidia-cuda <filename> --crate-type cdylib`

[code]
</details>

<details open>
<summary>On the other hand, when

[2022-02-23 17:32] scottmcm commented on #38827
This codegen test suggests that drop glue is *not* marked for inlining by default:
https://github.com/rust-lang/rust/commit/4ea25da237d75efc69d15824f6e04e2599420c38#diff-d13eb81c7eec73d0e1f5f62e9c15e987b7fac6b90e1924401152d1146200b92fR1-R2

[2022-02-23 17:40] notriddle commented on #93216
The reason these anecdotes seem unconvincing, at least to me, is that they're trying to tell me something I never disagreed with in the first place. I know that the theme switcher is harder to find than before; you don't have to convince me of that. Given that [people focus more on the left-hand side of English-language web pages](https://www.nngroup.com/articles/horizontal-attention-leans-left/),

[2022-02-23 18:09] estebank commented on #73931
I think the first approach might be to try and move the relevant methods to a place that can be called from both modules. If that is not possible *maybe* creating a PR that duplicates the code could be useful to see the extent of the needs/impact. Feel free to take this for a spin and ping me on zulip or here for help!

[2022-02-23 18:48] John-Nagle commented on #94245
OK. Here's the call to `recalc_all_object_lods`, and the definition of `objects`

[code]

Types used for sharing across threads:
[code]

SceneObject, which owns the data for an entire 3D scene:
[code]

Traits and structs referenced above:

[code]
ViewableData, which is an enum with multiple big items. These are Plain Old Data. I can provide those defs if requested.

[code]

RenderFace:

[code]
Sce

[2022-02-23 19:07] Sejsel opened #94302 "Lifetime error is missing the cause"
I am somewhat struggling to find the best way to name the issue. The code below is somewhat synthetic, but hopefully demonstrates the issue well enough.

The current error is technically correct, but is not nearly helpful enough. I would expect some indication of which function or type adds the  `'static` requirement. In this case, it is only required because of the `?` and `anyhow::Error` requiri

[2022-02-23 20:03] joshtriplett commented on #80697
@rfcbot resolve confirm-with-wg-const-eval

[2022-02-23 20:17] kckeiks commented on #73931
@rustbot claim

[2022-02-23 20:17] joshtriplett commented on #86845
Cancelling in favor of #93965

@rfcbot cancel

[2022-02-23 20:56] steffahn commented on #93216
Obviously with a solution of that style, I would be mostly okay. As I noted in my original post:

Comparing to status quo of the Rustdoc settings, apart from the fact that it takes you to a different page, there’s additional significant differences to the Pocket screenshot: The fact that by default there’s going to be 2 sets of selection, labelled “Preferred light theme” and “Preferred dark theme”

[2022-02-23 20:59] #94210 closed

[2022-02-23 21:01] jrmuizel commented on #38827
Indeed. As I understand it, the problem is not that code is marked as inline it's that it's generic code that gets a monomorphized version generated for it instead of sharing it. See #68414 and #84175

[2022-02-23 21:26] kckeiks commented on #73931
Sounds good. I will try the first approach. If it's not possible, I may be able to duplicate the code and have a PR but it depends on my bandwidth. I'll keep in touch.

[2022-02-23 21:31] steffahn commented on #93216
So on mobile, and properly changing the option, the thing takes 4 clicks (the 4th click is deselecting “Use system theme”), and the things aren’t quite as close together and smooth:

* the “Back” button is on the left side
* toggling “Use system theme” makes the radio buttons jump across the screen
* in it’s location, the “Back” button is easy to miss, my intuition was then to click the cog wheel

[2022-02-23 21:55] kahomayo opened #94307 "unused_lifetimes lint has false positives with GATs"
The `unused_lifetimes` lint can be incorrectly triggered both by declaring and by implementing GATs.

Declaring a GAT with an unconstrained lifetime causes the lint to fire ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=906033d3864d7b30ba35b14f9d7a378c)):

[code]

This code should be accepted (or maybe produce a lint about a lack of constraints on `'x`). Rig

[2022-02-23 22:04] SNCPlay42 commented on #91496
Output on current nightly, after #90532:

[code]

Output from https://github.com/rust-lang/rust/issues/91496#issuecomment-1048556896, (as reproduced like [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=97db383dea52309ed26c9c452450b8a5)) has improved as well, although the span is still a bit confusing:

[code]

At any rate, I'm closing this as fixed/in favor of the b

[2022-02-23 22:04] #91496 closed

[2022-02-23 22:54] reez12g commented on #87707
@lukaslueg

Could you please give me the sample code for this?
In writing a test in PR for this case, I don't want to misunderstand the situation of this case.

[2022-02-23 23:05] apiraino commented on #93690
bisection points to commit e0e70c0c2c4fc8d150a56c181994e3a3b3e9999a

searched nightlies: from nightly-2021-12-01 to nightly-2022-02-23
regressed nightly: nightly-2022-01-29
searched commit range: https://github.com/rust-lang/rust/compare/21b4a9cfdcbb1e76f4b36b5c3cfd64d627285093...e0a55f4491a729bffc63b402ba903d90858c806b
regressed commit: https://github.com/rust-lang/rust/commit/e0e70c0c2c4fc8d150a

[2022-02-23 23:20] steffahn commented on #93690
cc @bobrippling @camelid

[2022-02-23 23:51] yaahc commented on #87707
Probably something like this:

[code]

The first panic will still print a panic report before being caught and discarded, but the second call_once does subsequently observe the poisoned `Once` with the incorrect location as outlined in this issue:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=88310f9456e506298c454b3e577ca740

[2022-02-24 03:07] Mark-Simulacrum commented on #90829
To be clear, I was not suggesting that retain_mut should be *delayed* in favor of drain_filter, but that it seems annoying that the current implementations result in a flipped conditional -- if you are refactoring and start to need the elements returned from retain_mut, and are now using drain_filter, then you need to be careful to flip the return value of your closure.

I suppose this is more of

[2022-02-24 05:10] pierwill opened #94310 "Explain name of `rustc_middle::traits::query::DtorckConstraint`"
What does `Dtorck` in [`DtorckConstraint`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/traits/query/struct.DtorckConstraint.html) stand for? "Destruction check?" Didn't find any answer in a few searches of docs and rustc dev guide.

@rustbot label:T-compiler E-easy

[2022-02-24 05:23] pierwill opened #94311 "Review and update docs for `rustc_infer::infer::lattice`"
The docs for [`rustc_infer::infer::lattice`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_infer/infer/lattice/index.html) ([source here](https://github.com/rust-lang/rust/blob/bafe8d06e015eb00724d3d497516191d6681943f/compiler/rustc_infer/src/infer/lattice.rs#L5)) refer to a file called `infer.rs`.

Currently, we only have two files with that name:

- ./compiler/rustc_trait_selection/src/i

[2022-02-24 05:23] pierwill commented on #94311
@rustbot claim

[2022-02-24 05:26] pierwill commented on #94311
- [ ] Add documentation for [`rustc_infer::infer::lattice::LatticeDir`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_infer/infer/lattice/trait.LatticeDir.html).

[2022-02-24 05:38] pierwill commented on #41044
I'm interested in looking into this :) @rustbot claim

[2022-02-24 06:18] JohnScience opened #94313 "Zero-length arrays are non-`Copy`."
According to the documentation of [`core::marker::Copy`][`Copy`],

[Zero-sized types](https://runrust.miraheze.org/wiki/Zero-sized_type) in general are a bit tricky in that regard because they (just like [`core::marker::PhantomData`](https://doc.rust-lang.org/core/marker/struct.PhantomData.html)) can be used to represent ownership over values of types that non-trivially implement [`core::ops::Drop

[2022-02-24 07:12] clarfonthey commented on #79024
One potential concern re: methods on `AsyncIterator`, which is less of a concern and more of a justification for requiring them, is methods that use internal versus external iteration.

For example, it can be very efficient to perform a `fold` on an iterator which is composed of several `chain`s, but it can be much less efficient to directly call `next` on said iterators.

My concern is that witho

[2022-02-24 08:12] nnethercote commented on #54208
#93984 has been merged. It reduced max-rss on CI from 974MB to 399MB, a 2.44x reduction. This wins back enough of the original [2.69x regression](https://github.com/rust-lang/rust/issues/54208#issuecomment-423882560) that I am happy to declare victory here :smile:

[2022-02-24 08:12] #54208 closed

[2022-02-24 08:31] apiraino commented on #93690
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2393690.20Internal.20Compiler.20Error) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-02-24 09:07] LollipopFt commented on #23818
what is the difference between `print!` and `write!`? aren't they basically the same?

[2022-02-24 09:37] rust-highfive opened #94318 "`miri` no longer builds after rust-lang/rust#94314"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94314, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-02-24 10:06] yoshuawuyts commented on #79024
@clarfonthey yes, definitely. The concerns you raise are valid, and the working group is currently actively investigating how we can ensure parity between sync and async Rust APIs. We don't yet (but should) have guidelines on how methods on async traits should be translated from sync to async, but that likely needs us to land async closures / async traits first.

[2022-02-24 10:26] jethrogb commented on #74479
How was I, as a platform maintainer, supposed to know that this platform-specific functionality was added and an implementation would be needed for the platform I maintain, prior to reading about this in the release notes?

[2022-02-24 10:52] jqnatividad commented on #92137
Folks, reading the 1.59 release notes, it's odd that the markdown link to this issue is not rendering.

https://github.com/rust-lang/rust/blob/stable/RELEASES.md#compatibility-notes

[2022-02-24 10:59] Urgau commented on #92137
@jqnatividad Already reported [here](https://github.com/rust-lang/rust/issues/94278#issuecomment-1048646087) with a response [here](https://github.com/rust-lang/rust/issues/94278#issuecomment-1048743791), but basically fixing this rendering issue would required a complete rebuild of all the artifacts of 1.59.0 which don't seems worth while.

[2022-02-24 11:16] ChayimFriedman2 opened #94319 "Unit struct and enum variants are not accepted as the pattern for destructuring assignment"
[code]
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bf807e599b504f489454388eb27acbbb

The RFC states explicitly we should support them:

https://github.com/rust-lang/rfcs/blob/master/text/2909-destructuring-assignment.md#reference-level-explanation

@rustbot label: +F-destructuring_assignment

[2022-02-24 11:36] oli-obk commented on #94313
cc @rust-lang/project-const-generics

[2022-02-24 11:42] apiraino commented on #91809
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391809.20Regression.20in.20compile.20time.20when.20optimizing.20for.20size) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-02-24 11:48] apiraino commented on #90436
I'm going to remove the I-prioritize label for the moment, discussion can proceed in the [Zulip thread](https://zulip-archive.rust-lang.org/stream/245100-t-compiler/wg-prioritization/alerts/topic/.2390436.20WASM.20.2B.20Innative.20float.20parsing.20crash.html) of the Prioritization Working Group.

@rustbot label -I-prioritize

[2022-02-24 11:56] apiraino commented on #89295
I'm going to remove the I-prioritize label as this issue seems to have become harder to reproduce (might also be a candidate for being closed if no more evidence emerge). In case, don't hesitate to raise the flag.

@rustbot label -I-prioritize -s-waiting-on-author

[2022-02-24 12:36] lcnr commented on #94313
pretty much, yeah. Though I am not sure we want it even once marker trait attributes, as it will be inconsistent with other traits which also rely on lattice specialization, e.g. `Clone` and so on

[2022-02-24 13:40] tspiteri opened #94321 "generic_const_expr: doc test does not compile while similar lib test compiles fine"
The doc test for `foo` and the test `tests::test` contain the same code (the only difference is the `use` statement which has to be different). The lib test passes but the doc test fails to compile.

[code]

`cargo +nightly test`:
[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

[2022-02-24 13:49] m-ou-se opened #94322 "compiletest's 'SKIPPED 246746 BYTES' logic breaks tests"
`src/tools/compiletest` truncates large outputs by replacing the middle by `<<<<<< SKIPPED {} BYTES >>>>>>`:

https://github.com/rust-lang/rust/blob/7ccfe2ff1d59666dc0188dfd5847304fec257565/src/tools/compiletest/src/read2.rs#L52

This can break the test runner which tries to parse the output as json, which will break on the `<<< .. >>>` message. For example here: https://github.com/rust-lang/rust/

[2022-02-24 14:08] yoshuawuyts commented on #74479
@jethrogb I'm sorry to hear you feel you should've been notified about this, but weren't. Perhaps there's indeed room for improvement here. The right place to discuss this would likely on the libs team stream on [the rust-lang Zulip](https://forge.rust-lang.org/platforms/zulip.html).

Additionally, some existing ways of tracking project changes such as these are:
- [The TWiR newsletter](https://th

[2022-02-24 14:11] jyn514 commented on #94250
Please file this under rust-lang/docs.rs.

[2022-02-24 14:13] jyn514 commented on #94234
RUSTFLAGS_BOOTSTRAP is set only when compiling rustc for the first time. If you want a flag to affect rustbuild, use RUSTFLAGS. There's no way to set flags for rustbuild and not rustc that I know of.

[2022-02-24 14:21] Mark-Simulacrum commented on #94234
I would expect RUSTFLAGS_BOOTSTRAP to affect all builds with the stage0 (beta) compiler -- it's probably an oversight if that's not the case and could be corrected.

[2022-02-24 14:40] bsodmike opened #94323 "ICE: #1 [resolve_instance] resolving instance `<&error::ChronoError as core::fmt::Debug>::fmt`"
I did some refactoring and this suddenly happened.  It compiles fine in stable and nightly, but only this version of beta (that I know of).  I've now upgraded to the latest beta, and
[code]

This is fine.  Infact, I only updated due to the ICE.  Sorry, I can't seem to go back to get a backtrace,

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-02-24 14:54] jackh726 commented on #94307
This lint gets emitted [in this function](https://github.com/rust-lang/rust/blob/45e2c2881d11324d610815bfff097e25c412199e/compiler/rustc_resolve/src/late/lifetimes.rs#L1975). This was actually mentioned in [this comment](https://github.com/rust-lang/rust/pull/92386#issuecomment-1013507194), so it's good that this was filed.

To fix this, I think we probably want to add another field on `Scope::Bin

[2022-02-24 15:04] uweigand opened #94324 "Provide rust-lld on s390x (for the wasm target)"
Trying to build for the `wasm32-unknown-unknown` target on a s390x host fails with:
[code]

This seems to be because - unlike on other architectures - `rust-lld` is not built and packaged as part of the rust toolchain.

Now, it is true that LLD currently does not support the s390x architecture.  But that is only an issue when trying to use the s390x architecture as **target** - it is completely fi

[2022-02-24 15:13] JohnScience commented on #94313
@lcnr Can you please explain the inconsistency?

[2022-02-24 15:24] djkoloski commented on #74722
#94274 fixes the issue of `-Aunknown-lints` not applying to subsequent CLI arguments.

[2022-02-24 15:41] lcnr commented on #94313
We won't be able to implement `Clone` for zero-length arrays without having lattice specialization or by adding some hacks to the compiler.

e.g. see `Default` which had the special-case for 0 length arrays and now can't be implemented using const generics https://doc.rust-lang.org/nightly/std/default/trait.Default.html#impl-Default-71.

So if we add `impl<T> Copy for [T; 0]` once marker traits ar

[2022-02-24 16:18] smsxgli opened #94326 "LLVM ERROR: Cannot select: intrinsic %llvm.x86.aesni.aesenc"
[Related issue in LLVM](https://github.com/llvm/llvm-project/issues/54055)

Compiling firefox with rustc and clang, failed during PGO while linking `libxul.so` with thin LTO
[code]

I expected to see this happen: compile succeed

Instead, this happened: compile failed

### Meta

build with stable rust, rustc version `1.58.1`

And same error in freebsd can be found [here](https://bugs.freebsd.org/b

[2022-02-24 16:28] apiraino commented on #93770
Issue was mentioned during T-compiler weekly meeting [on Zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-02-24.20.2354818.html#273106652)

[2022-02-24 16:34] apiraino commented on #94032
Priority label has been mentioned during T-compiler weekly meeting [on Zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-02-24.20.2354818.html#273108216). This will be reviewed in a follow-up meeting.

[2022-02-24 16:54] chansuke commented on #94307
@rustbot claim

[2022-02-24 17:13] bsodmike commented on #94323
I also shouldn’t be using Debug in production code, so cleaning that up next.

[2022-02-24 17:27] Aaron1011 commented on #94322
See also https://github.com/rust-lang/rust/issues/92211

[2022-02-24 17:38] Mark-Simulacrum commented on #94322
#94327 should help with this specific instance, though is not a root cause fix. In general limiting the number of JSON bytes is a pretty poor estimate of the number of bytes in stderr files; it might make sense to avoid the abbreviated read abstraction for that part of compiletest. (Or, at least, set the limit to a few megabytes or so).

[2022-02-24 18:02] Lucretiel commented on #23818
They are basically the same; `write!` allows you to write to any stream, whereas `print!` specifically writes to stdout.

[2022-02-24 18:29] eddyb commented on #93333
IMO the way to do this is to require an `AnonConst` (similar to the `const {...}` feature) around the `sym` path, at least in `global_asm!`. While it might be possible to whip up a typeck session without that, it seems easier to reuse the `AnonConst` functionality (similar to how we would implement `typeof(...)`).

Only downside I can think of is that it's a bit annoying that a HIR body containing

[2022-02-24 18:43] notriddle commented on #93536
Is this the same issue as https://github.com/rust-lang/rust/issues/91999 ?

[2022-02-24 19:03] yaahc commented on #74479
We've been discussing this in the libs team meetings recently, specifically the relationship between the libs teams and various platform maintainers and what kind of support we should be providing. The most recent discussion was around specific platforms and making sure that, among other things, every platform we support has a ping group so we can notify them of relevant PRs. We didn't discuss iss

[2022-02-24 19:16] Julian-Wollersberger commented on #90470
+1 for @Amanieu's suggestion.
Since the intended use case is more or less `if !is_running() { join() }`, it would be clearer to invert the function name: `if is_finished() { join() }`

[2022-02-24 19:17] Xaeroxe opened #94330 "Consider deprecating std::mem::swap"
[With the latest release it's now possible to do this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=524693a1096917b98eb484195a47a39c). This doesn't require importing the memory module. Even if this isn't justification for deprecating `std::mem::swap`, the documentation for that function should at least mention tuple swapping as an alternative.

[2022-02-24 19:23] workingjubilee commented on #94326
I believe this is happening due to the `get_mut` function on hashbrown depending on a hasher which is inlined, specifically it appears to be using
https://searchfox.org/mozilla-central/source/third_party/rust/ahash/src/aes_hash.rs
But the code appears to `cfg` on a feature test correctly, so I am not sure what is going on.
https://searchfox.org/mozilla-central/source/third_party/rust/ahash/src/ope

[2022-02-24 19:25] Xaeroxe commented on #94330
The new approach doesn't facilitate usages where the caller doesn't own the values in question. So `std::mem::swap` is still useful in those contexts.

[2022-02-24 19:25] #94330 closed

[2022-02-24 19:27] m-ou-se commented on #90470
As suggested above, let's rename to `is_finished` and then FCP that instead. :)

@rfcbot cancel

[2022-02-24 19:38] smsxgli commented on #94326
Well, in fact I am not very familiar with rust. So this may not be a bug of rustc ? Just a bug of a crate?

[2022-02-24 19:41] workingjubilee commented on #94313
Using 0-length arrays to align things is a hack and should be replaced by an actually fluent interface to adjust layout computations based on various parameters.

[2022-02-24 19:45] workingjubilee commented on #94326
Possibly. Can't say for sure at the moment, it might be an error in how we steer inlining and feature annotations in general. Also, what's weird is that an i7-4790 CPU has AESNI support, so there's no clear reason why building it natively shouldn't work.

[2022-02-24 19:48] smsxgli commented on #94326
Got it. If more information needed, please let me know.

[2022-02-24 19:58] eddyb commented on #94326
Does this happen during the first build or the post-profiling one that does PGO?
`-march=native -mtune=native`/`-C target-cpu=native` seem suspicious with PGO, is every step ran locally on the same CPU? It seems like it would be very easy for those to get out of sync.

If PGO is not relevant, that's more worrying - but also, I'm surprised the LLVM devs didn't bring up PGO.

[2022-02-24 20:02] smsxgli commented on #94326
This occurs in second build, with thin LTO

[2022-02-24 20:05] smsxgli commented on #94326
And yes, every steps ran on the same CPU. I build `firefox` locally on my own PC.

[2022-02-24 20:24] workingjubilee commented on #94326
Oh. I don't believe the Rust toolchain has anything to do with PGO or ThinLTO except sometimes turning it on via flags, am I wrong?

[2022-02-24 20:30] smsxgli commented on #94326
I think thin LTO is handled by lld, and PGO is handled by LLVM. And `firefox` is build with PGO, and first build without LTO, post-profiling one with thin LTO across clang and rustc. As I said, I am using `arch linux`, so if you need, I can post my build script `PKGBUILD`, which contains the build steps.

[2022-02-24 20:32] smsxgli commented on #94326
[cross-language LTO in Firefox for all platforms](https://twitter.com/eroc/status/1152351944649744384)

[2022-02-24 20:33] eddyb commented on #94326
What happens if you replace all occurrences of "native" with the appropriate value? (`haswell`, I assume?)
So `-C target-cpu=haswell` in `RUSTFLAGS` and `-mcpu=haswell` in `CFLAGS`.

Right now I'm expecting either `native` detection to silently fail (is any containerization done as part of the build, that could hide some CPU details somehow?) or something to be mismatched between Clang and `rustc`

[2022-02-24 20:34] smsxgli commented on #94326
Ok, I will have a try.

[2022-02-24 20:46] smsxgli commented on #94326
And I mentioned, same environment (clang, rustc and so on with same version, and using `systemd-nspawn`) and same configuration (same `CFLAGS`, `CXXFLAGS`, `RUSTFLAGS` and `LDFLAGS`), this error will not raise on `Intel(R) Core(TM) i7-11800H CPU tigerlake`

[2022-02-24 20:53] ouz-a commented on #94233
this works in the current stable 1.59.0 and nightly

[2022-02-24 21:23] rgiot opened #94334 "Compiler crashes on a piece of code that misses some parenthesis around a tuple contained in Result::Ok"
I am doing deep modifications to an existing program that was not raising compilation issues.
It is not yet finished, it is probably not  nice rust code, but I am reaching a point where it make crashe the compiler.
You can reproduce it with:

[code]

I have to admit that I do not really know how to guide more to find the reason. But I can make specific tests on request.
I would say it is realted t

[2022-02-24 21:25] nikic commented on #94324
I believe we don't build lld for most non-x86 hosts, though I don't see any particular issue with including it. I think all it would take is an `--enable-lld` in https://github.com/rust-lang/rust/blob/4b043faba34ccc053a4d0110634c323f6c03765e/src/ci/docker/host-x86_64/dist-s390x-linux/Dockerfile#L40

[2022-02-24 21:28] Mark-Simulacrum commented on #94324
Yep, if CI passes with it added it's generally fine to do so for tier 2 with host tools targets (or better), though it may get removed if it causes undue CI time burden (unlikely).

[2022-02-24 21:46] JohnTitor commented on #93008
Triage: The test added in #93024 has `mir-opt-level=4`, not `mir-opt-level=3`, and the original issue still remains, re-opening.

[2022-02-24 21:48] jclulow opened #94335 "Fix for CVE-2022-21658 is unsafe on some file systems"
The fix for CVE-2022-21658 (#93112, 54e22eb7dbb615bd44355028d3fd867aa93c0972) appears to have introduced a regression that can cause file system corruption on some UNIX systems.

The new code will attempt to use [unlinkat(2)](https://illumos.org/man/2/unlinkat) in any case where it does not know what type of file a directory entry represents.  Some systems do not provide that information along wit

[2022-02-24 21:50] Milo123459 commented on #75704
I think just updating with `cargo update` actually might be the best course of action here. It seems to remove quite a few duplicates.

[2022-02-24 21:53] compiler-errors commented on #93008
Thanks for catching this. I will look into this and be more careful about reproducing the issue in question.

[2022-02-24 21:55] Urgau commented on #94335
cc @hkratz (as you're the one how wrote the new code)

[2022-02-24 21:55] compiler-errors commented on #94227
@jlogan03 have you tried building this with the latest version of nightly?

[2022-02-24 22:03] lilyball opened #94336 "rustdoc: `pub use` re-exports of private re-exports of public items show the private path"
I tried this code:

[code]

I expected to see this happen: The `Bar` item should be documented as a re-export of `bar::Bar`

Instead, this happened: It shows up as a re-export of `qux::Bar` (though the link takes me to `bar::Bar`):

This is very odd, it shouldn't be exposing a private module path like that, it should instead show it as <code>pub use bar::[Bar]()</code>.

### Meta

`rustdoc --versi

[2022-02-24 22:13] uweigand commented on #94324
Thanks for the comments!   Would you like me to submit a PR adding the `--enable-lld` flag as described above?  (I'm not really familiar with how the automated builds work, so I'm not sure how to verify this works correctly ...)

[2022-02-24 22:23] bobrippling commented on #93690
At a guess, the original code has a compile error (`self.channel.send((X::new(xx.S)), 1)` should be `self.channel.send((X::new(xx.S), 1))`) and this is now detected and throwing out this adjustment code - I'm not familiar with this but I believe it's adding the autoref expressions?

So it seems that the suggestion is auto-applied and then we attempt to autoref based upon that, but there's no exist

[2022-02-24 22:27] yaahc commented on #84475
Hey @alarixnia, I'm taking a look[^1] into the target tier policy from the perspective of the library team because of an [netbsd PR](https://github.com/rust-lang/rust/pull/88178) and am interested in getting netbsd's platform support[^2] documented. Looking at your comments in https://github.com/rust-lang/rfcs/pull/2803 it seems like you were going to do this a while back but ran into difficulties

[2022-02-24 22:32] Mark-Simulacrum opened #94337 "track_caller on panic_no_unwind leads to LLVM crash"
https://github.com/rust-lang/rust/pull/94290 is expecting to land having introduced `#[cfg_attr(bootstrap, track_caller)]` on [panic_no_unwind in library/core/src/panicking.rs](https://github.com/rust-lang/rust/pull/94290#discussion_r813144009).

We saw these errors in stage 1 std compilation in CI (with track_caller and without it):

[code]

[code]

Locally, I'm not able to reproduce these (perha

[2022-02-24 22:33] lilyball opened #94338 "rustdoc: `pub use` items have docs inlined if impl is private even if `use`'d path is a public reexport"
The [rustdoc book](https://doc.rust-lang.org/1.59.0/rustdoc/the-doc-attribute.html#inline-and-no_inline) explains that `pub use` items are documented under "Re-exports" by default when re-exporting a public item, and are inlined by default when re-exporting a private item.

Unfortunately, this appears to be implemented today by checking whether the item in its original path is public or private. I

[2022-02-24 22:42] Amanieu commented on #94337
The relevant change is [here](https://github.com/rust-lang/rust/pull/92911/files#diff-6eb34d22bb08ffb647a2da4423957658ad0be3f51d9991a172fe5525b36cd8d8L489). This function used to take a caller location but this was removed to reduce code size bloat.

[2022-02-24 22:42] nikic commented on #94324
Normally, you'd be able to verify using `sudo src/ci/docker/run.sh dist-s390x-linux`. However, it's not possible to actually build this docker image anymore, due to the Ubuntu 16.04 certificate expiration issue. And unfortunately, this one doesn't upgrade to Ubuntu 20.04 cleanly, because it's on make 3 + old crosstool-ng. It would be nice to upgrade it, but probably this workaround would work in t

[2022-02-24 22:47] Mark-Simulacrum commented on #94337
I guess it seems *ok* for an internal function and a lang item, but I'm surprised that we don't have some proper error being emitted if the function is somehow being manually called -- that seems generally hazardous. (Should it have some special ABI declared at the Rust syntax level?)

I also note that the function still *calls* Location::caller: which seems useless or at least confusing without t

[2022-02-24 22:50] Amanieu commented on #94337
The `panic_no_unwind` function is only expected to be called by the compiler via the lang item. It is never used directly.

That's the only way to construct a `Location` which is required for a `PanicInfo`.

[2022-02-24 22:51] lilyball commented on #94336
Also see #94338 wherein I argue that inline/no_inline inference should be done by considering the visibility of the re-exported path, not the underlying item.

In the case of a public re-export of a private `use`, rustdoc should recurse once into that private `use` and reevaluate. That would solve the issue described here, where the top-level `pub use qux::Bar` would recurse once into `qux::Bar` a

[2022-02-24 22:52] BGR360 commented on #88829
Potentially the same thing as https://github.com/rust-lang/rust/issues/89149

[2022-02-24 22:52] uweigand commented on #94324
OK, I'll give it a try.

As an aside, Ubuntu 20.04 contains a full cross-toolchain targeting s390x out of the box, so I'm not sure we'd really need crosstool-ng at all - unless there's a particular reason the Rust build requires it?

However, if we update this to Ubuntu 20.04, would this have the side effect that the generated Rust toolchains would no longer install on older distros?   We really d

[2022-02-24 22:55] nbdd0121 commented on #94337
Oops. I think I started working on #92911 before panic_no_unwind lands on beta and I forget to add cfg bootstrap after it's promoted into beta.

[2022-02-24 22:56] Mark-Simulacrum commented on #94337
Even if it's not used directly, we should probably be adding a comment to the function about that, right? It seems like such a function should be documented as being compiler-only.

Anyway, seems OK -- I can adjust my FIXME comment to include this information.

[2022-02-24 22:59] #94337 closed

[2022-02-24 23:07] fmease opened #94340 "Attempting to `include!` inner attributes leads to incorrect and confusing diagnostics"
First of all, trying to `include!` inner attributes _should be an error_, I think, reading between the lines of [`std::include`'s documentation](https://doc.rust-lang.org/nightly/std/macro.include.html) and [the Reference on modules](https://doc.rust-lang.org/reference/items/modules.html). Correct me if I am wrong. I initially did not know this but `std::include` may only include expressions and i

[2022-02-25 00:23] smsxgli commented on #94326
Well, with stable rust version `1.59`, as @eddyb  suggested, changing `RUSTFLAGS` and `CFLAGS` fix this problem. Now I will test again with rust `1.58.1`

[2022-02-25 00:46] #93687 closed

[2022-02-25 00:46] #94149 closed

[2022-02-25 02:02] Aaron1011 commented on #64926
cc @rust-lang/lang - This should be ready for stabilization. I've written up a stabilization report in the issue description.

[2022-02-25 02:07] smsxgli commented on #94326
Well, with rust `1.58.1` and `-C target-cpu=haswell` in `RUSTFLAGS` and `-mcpu=haswell` in `CFLAGS`, this problem disappeared and the build succeed. Very strange indeed.

[2022-02-25 02:12] Mark-Simulacrum opened #94345 "Crater runs for 1.60"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-02-25 02:13] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-1 start=1.59.0 end=beta-2022-02-22 mode=build-and-test cap-lints=warn

[2022-02-25 02:13] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-1 start=1.59.0 end=beta-2022-02-22 mode=rustdoc cap-lints=warn

[2022-02-25 02:14] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-rustdoc-1 start=1.59.0 end=beta-2022-02-22 mode=rustdoc cap-lints=warn

[2022-02-25 02:14] #93034 closed

[2022-02-25 02:38] jdisanti opened #94346 "rustdoc: Links to types in other crates broken when docs inlined via re-export from another crate"
Let's say you have crates A, B, and C, where:

1. Crate A has a struct named `AType`.
2. Crate B depends on crate A, and has a struct named `BType` that has docs that link to type `AType` in crate A.
3. Crate C depends on crate B, and has a struct named `CType` that re-exports `B::BType` with `#[doc(inline)]`.

In the docs for crate C, the link to `AType` in the inlined documentation for `BType` i

[2022-02-25 03:28] smsxgli commented on #94326
Tried again and now I can confirm that with `-mcpu=native` in `CFLAGS` and `-C target-cpu=native` in `RUSTFLAGS` will lead to this LLVM error, but `-mcpu=haswell` in `CFLAGS` and `-C target-cpu=haswell` in `RUSTFLAGS` do not.

[2022-02-25 03:52] JohnScience commented on #94313
I suggest the following labels for the issue:
* [A-array](https://github.com/rust-lang/rust/labels/A-array)
* [A-layout](https://github.com/rust-lang/rust/labels/A-layout)
* [F-marker_trait_attr](https://github.com/rust-lang/rust/labels/F-marker_trait_attr)
* [F-specialization](https://github.com/rust-lang/rust/labels/F-specialization)

Since I can't account for everything and write a reasonable R

[2022-02-25 04:16] SUPERCILEX opened #94347 "Use mold as default linker?"
https://github.com/rui314/mold/releases/tag/v1.1

1.1 now supports LTO... is there anything else missing? Or could mold become the default linker?

[2022-02-25 04:57] AzureMarker opened #94348 "`#[used(compiler)]` and `#[used(linker)]` should work on functions."
Related to #93798
cc @cynecx since you did the implementation.
cc @Meziu and @ian-h-chamberlain

The `#[used(compiler)]` and `#[used(linker)]` should work on functions. They weren't explicitly one of the main motivating use cases brought up in #47384, but expanding them to support functions would be very beneficial. For example, in https://github.com/Meziu/pthread-3ds and https://github.com/Meziu/

[2022-02-25 05:33] Shnatsel commented on #90972
https://github.com/rust-lang/stdarch/pull/1266 has landed and shipped in 1.59. Should this issue be closed, or is there something else left to do?

[2022-02-25 05:37] alexschrod opened #94349 "The examples for `ControlFlow::is_break` and `ControlFlow::is_continue` still use `#![feature(control_flow_enum)]` despite being stabilized"
The title pretty much describes it. It's a minor thing, but I still think it should be addressed. Other stabilized types with a mix of stable and unstable API do not use `#![feature()]` in in their stable examples.

[2022-02-25 06:34] hkratz commented on #94335
@Urgau Thanks for the ping

@rustbot claim

[2022-02-25 06:42] smsxgli commented on #94326
Finally I am sure `RUSTFLAGS` with `-C target-cpu=native` leads to this LLVM error. With `-mcpu=native` in `CFLAGS` and `-C target-cpu=haswell` in `RUSTFLAGS` build succeed.

[2022-02-25 06:50] hkratz commented on #90972
Only aarch64/armv8 neon support was stabilized, this issue also tracks armv7 neon.

[2022-02-25 08:09] #84565 closed

[2022-02-25 08:33] bugadani commented on #94349
@rustbot claim

[2022-02-25 08:40] bugadani commented on #94349
This was fixed in https://github.com/rust-lang/rust/pull/94283

[2022-02-25 08:49] apiraino commented on #94335
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394335.20Fix.20for.20CVE-2022-21658.20is.20unsafe.20on.20some.20file.20systems) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-25 09:30] lcnr opened #94351 "let else doesn't eagerly drop with `_` pattern"
I think we have a bug then. 😢  (see [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=97844d29f488fec5bb242e38d8635483))

_Originally posted by @camsteffen in https://github.com/rust-lang/rust/issues/93628#issuecomment-1050037021_

[2022-02-25 09:33] lcnr commented on #94351
i misunderstood the issue here i think

[2022-02-25 09:33] #94351 closed

[2022-02-25 09:33] eddyb commented on #94326
Thanks! It would be useful to get an "expansion" of what `-C target-cpu=native` is considered to be, for both the original build and the PGO one - my best guess is that something about the PGO build confuses the autodetection?

Sadly, I'm not sure how to do this, as both builds are probably deeply nested within Firefox's build system.
Perhaps a `RUSTC_WRAPPER` script that runs `rustc -C target-cpu

[2022-02-25 09:35] adrian17 commented on #89647
Looks like this regression is now on stable 1.59.
This makes it impossible to build our project locally and on CI, so we'll have to lock version to 1.58 for the time being.

@apiraino sorry, I missed the notification back then; but I didn't investigate this further. (I also don't know how to pass `--debug-pass=Details`)

[2022-02-25 09:52] a-lafrance commented on #94047
Just a thought: I was looking back at Rust by Example recently and I noticed that [this section](https://doc.rust-lang.org/rust-by-example/error/iter_result.html) mentions fallible collection with `Iterator::collect`. Would it be worth updating to include `try_collect` upon stabilization? Just so that people are aware of the new technique that we've introduced.

[2022-02-25 09:55] alercah commented on #81513
I'm not in a position to really write this up properly right now, but I think I may have a good case for adding a new type of pointer with additional, entirely dynamic metadata that couldn't be uniquely associated with the pointee type.

This wouldn't affect `Pointee::Metadata` but it would maybe mean we should consider `pointee_metadata` instead of `metadata`. Hopefully I will be able to write up

[2022-02-25 10:33] Thomasdezeeuw commented on #93423
Starting to discuss stabilisation: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Stabilization.20of.20unix_socket_creation/near/273212183.

[2022-02-25 10:33] Thomasdezeeuw commented on #65275
I think this can be closed in favour of https://github.com/rust-lang/rust/issues/93423? Since the `unix_socket_creation` feature does exactly this.

[2022-02-25 10:33] ouz-a commented on #94291
@rustbot claim

[2022-02-25 11:22] terrarier2111 commented on #94291
Sorry, that i didn't claim this before,
I found a fix for this, should I create a pr for it, or do you wanna fix this?

[2022-02-25 11:24] ouz-a commented on #94291
I am just about to open my pull request

[2022-02-25 11:24] terrarier2111 commented on #94291
Oh, okay

[2022-02-25 12:00] cyqsimon commented on #91930
In #94317 I noticed this feature is WIP for similar methods, but I don't understand it enough to be confident that what I wrote was correct. Please help me verify, thanks.

[2022-02-25 12:09] gustav3d commented on #94347
Might need to be battle tested a bit first ?.

[2022-02-25 12:13] marmeladema commented on #90972
I am trying to understand what exactly has been stabilized and what target feature is needed to use the simd intrinsics on aarch64 but when I go to https://doc.rust-lang.org/core/arch/aarch64/fn.vdupq_n_u8.html it says that the intrinsic is still unstable:
[code]

Additionally, it says that the target feature `neon` is required, however I tried and I am able to use them without declaring any targe

[2022-02-25 12:21] jlogan03 commented on #94227
@compiler-errors yes, it still shows up on the latest version

[code]

[2022-02-25 12:23] CryZe commented on #90972
This is a rustdoc bug. The intrinsics that are shared with the 32-bit ARM targets basically partially stable; stable on AArch64, unstable on 32-bit. Rustdoc doesn't seem to be able to handle that. As to why you don't need to specify neon: It's an active by default target feature of Aarch64.

[2022-02-25 12:25] madsmtm commented on #90470
Would it make sense to document that if `is_finished` returns true, it is guaranteed to always return true in subsequent calls (kinda like `FusedIterator`)? Or is that implied implicitly?

[2022-02-25 13:22] marmeladema commented on #90972
Thank you for your answer, that explains everything.

Even though, from a user perspective, I think it's very confusing. At least, it was very confusing for me.

Is there an issue opened for the rustdoc bug already? If not, I can create one.

For the neon target feature, if it's a bit weird to advertise it in the doc as a regular target feature that looks like needed to be enabled. Would it be pos

[2022-02-25 13:27] m-ou-se commented on #90470
Sounds good.

[2022-02-25 13:47] compiler-errors commented on #94227
@jlogan03, did you run `rustup update`? I'm expecting something newer than 2021-12-31, since nightly is released every day or so. Unless I'm misunderstanding something about that version output or your testing environment.

[2022-02-25 13:48] compiler-errors commented on #94227
@jlogan03, did you run `rustup update`? I'm expecting something newer than 2021-12-31, since nightly is released every day or so. Unless I'm misunderstanding something about that version output or your testing environment.

[2022-02-25 14:17] Veetaha opened #94358 "Trait resolution on associated type breaks with type inference for references"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7d833ff4e6403c0b4109c82b7cd98f85)):

[code]

I expected this to compile just fine.
Instead, the following error is produced:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-02-25 14:33] Kusou1 commented on #63939
is there any solution？

[2022-02-25 14:34] ehuss commented on #94349
Yea, the fix is in the latest master (https://doc.rust-lang.org/nightly/std/ops/enum.ControlFlow.html#method.is_break), but will need to ride the trains to the stable docs.

[2022-02-25 14:34] #94349 closed

[2022-02-25 15:34] marmeladema commented on #90972
Additionally, I tried this small snippet:
[code]

Which doesn't compile because the `neon` target feature is considered unstable:
[code]

Now, I understand even less what has been stabilized.

[2022-02-25 16:09] #44524 closed

[2022-02-25 16:09] #84422 closed

[2022-02-25 16:09] #93536 closed

[2022-02-25 16:35] amircodota opened #94364 "Rust 1.59 using linux-musl and PIE"
I'm trying to upgrade our codebase to rust 1.59.0. It compiles fine on 1.58.0.

For linux targets, we compile using the x86_64-unknown-linux-musl target.
But with 1.59.0, I'm getting many such errors

[code]

Followed by this

[code]

I'm guessing this has to do with [this change](https://github.com/rust-lang/rust/pull/70740).

I tried compiling with both `-C relocation-model=pie` and `relocation-

[2022-02-25 17:24] tschuett commented on #93740
llvm libc for comparison:
https://github.com/llvm/llvm-project/blob/main/libc/src/threads/linux/CndVar.h

[2022-02-25 17:49] 12101111 commented on #93975
https://github.com/rust-lang/libc/pull/2664
Should fix by https://github.com/rust-lang/rust/pull/94052

[2022-02-25 18:05] compiler-errors commented on #94358
@jackh726 i wonder if this is fixed by the fulfillment normalization PR. i can test later today.

[2022-02-25 18:21] jackh726 commented on #94358
Probably not. I think this is #90950

[2022-02-25 19:55] lolo32 commented on #89626
I encountered the same issue building `cargo-deny` crate.

I successfully built it using `CFLAGS=-mno-outline-atomics` like said @jbg in his post (see https://github.com/rust-lang/rust/issues/89626#issuecomment-945814003)

[2022-02-25 20:03] negge opened #94370 "Invalid opcode generated with anonymous registers in inline assembly"
I tried this code in the rust playground here (https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=05d8e52640801f67b600cef3e03fc6e8)

[code]

I expected to get the output `24`.

Instead, I got a compiler error as it tried to store `s` in `dl` register.

[code]

The byte code generator for x86 needs to store `s` in `cl` and then it will generate correct code.

[2022-02-25 20:08] Amanieu commented on #94370
You need to explicitly tell the compiler to put the value in the `cl` register:
[code]

[2022-02-25 20:09] RalfJung opened #94371 "mem::swap behaves incorrectly in CTFE (and Miri)"
Since https://github.com/rust-lang/rust/pull/94212, `mem::swap` behaves incorrectly during CTFE (where it is unstably accessible) and in Miri. This is demonstrated by the following code failing to build:
[code]
The error is:
[code]

The underlying reason for this is https://github.com/rust-lang/rust/issues/69488: the new `swap` copies the data in chunks of `MaybeUninit<usize>`, but this is impleme

[2022-02-25 20:10] RalfJung commented on #94371
Cc @rust-lang/wg-const-eval

[2022-02-25 20:20] negge commented on #94370
It seems like this is something the compiler should know how to do right? The instruction `shl {reg}, {reg8}` can only be generated if `{reg8} = cl`.

[2022-02-25 20:24] Amanieu commented on #94370
The compiler does not know anything about the assembly code, it only does string substitution based on the constraints given to it. You specified the `reg_byte` register class which means "any single-byte x86 register".

[2022-02-25 20:30] the8472 commented on #90829
From [this zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/drain.20filters.20.28tracking.20issue.29/near/273279234):

There are two ways `retain_mut` could be generalized further

* it could take a range, this way one can operate on a small subset of a large vec, this is especially useful when another method appends something to a vec and then the caller wants to p

[2022-02-25 20:31] scottmcm commented on #94371
Playground miri is on 2-12, so I don't have an easy way to check, but something like this should hit it:
[code]
To get to the code in question, the type needs:
- size > 4*align
- align <= sizeof(usize)
- size is either not a power of two or size > 2*sizeof(usize)
- align >= alignof(usize)
  - if it doesn't meet this one it'll get copied byte-by-byte, which I assume would still be a problem for poi

[2022-02-25 20:43] ghost opened #94374 "Confusing borrowck error when multiple borrow errors in different match arms"
In a match statement where the value is moved, only one of the two branches got a compiler error, despite the fact that both should be an error,

I tried this code:

[code]

I expected to see this happen:
Writing this code I expected it to work normally, but of course, I am not handling moving the value, so it should be borrowed.
The compiler should yield an error for both branches.

Instead, this

[2022-02-25 20:46] oli-obk commented on #94371
🙈 lots of fun things that can go wrong here. These are not easy to fix, but maybe we can buy us some time by just using `const_eval_select` to always take the copy_nonoverlapping branch?

[2022-02-25 20:56] Dylan-DPC commented on #43244
[Relevant discussion on zulip](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/drain.20filters.20.28tracking.20issue.29)

[2022-02-25 20:58] RalfJung commented on #94371
You mean `swap_simple`? Yeah if we use that with the original `T`, we should actually always be good, even with pointers at strange positions. We want this for Miri and CTFE though, so... const_eval_select and cfg(miri) will be needed to do that.

Thanks, we spent a lot of work on it. :)

[2022-02-25 21:03] RalfJung commented on #94371
Yeah you would think so, but strangely this does not cause a problem:
[code]

Nor does this:
[code]

[2022-02-25 21:05] RalfJung commented on #94371
Ah, got it:
[code]
Looks like my mistake was looking at `x` after the swap, when it is only `y` that becomes bugged.

[2022-02-25 22:02] cynecx commented on #94348
`no_mangle` should not imply `used(compiler)`. This is a diagnostics issue and an oversight. https://github.com/rust-lang/rust/pull/94377 will fix that.

I think supporting `used` on functions should be possible, however someone will have to do the impl work (Unfortunately, I don't have much time to work on this).

[2022-02-25 22:09] cynecx commented on #94348
I might be wrong but I'd imagine something like this should work as a workaround?

[code]

[2022-02-25 22:15] scottmcm commented on #94371
Interesting that it's asymmetric.  The only asymmetry that exists in the implementation (that I can remember, at least) is

https://github.com/rust-lang/rust/blob/d981633ed6669c6f7b1cb46d1d1a7282e281ca8e/library/core/src/mem/mod.rs#L743-L745

So does the fact that only one of them errored mean that this might be "fixed" (probably not for the unaligned pointer case) if that was changed from `read`+

[2022-02-25 22:24] AnnikaCodes commented on #89498
Do you still want me to work on this?

[2022-02-25 22:31] matthiaskrgr opened #94378 "ICE: collect_error_for_expanding_node() could not find error for var '_#0r in universe"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-25 22:33] matthiaskrgr opened #94379 "ICE: unknown intrinsic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-25 22:36] matthiaskrgr opened #94380 "ICE: no enclosing scope for id 7"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-25 22:38] Kobzol commented on #79442
LLVM 14 (with in-tree support for BOLT) is nearing its release. I'll try to use BOLT to optimize LLVM (just LLVM, not `rustc` yet) in https://github.com/rust-lang/rust/pull/94381.

[2022-02-25 22:42] nikic commented on #94348
Agree that supporting `#[used]` on functions makes sense, and I'd expect that this would mostly "just work" if the restriction to statics is dropped. This applies to `#[used]` in general though, not really related to the linker/compiler argument.

[2022-02-25 22:47] matthiaskrgr opened #94382 "ICE: assertion failed: base.layout.ty.is_simd()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-25 23:02] brandonros commented on #69774
Did Tokio get rid of set_keepalive for TcpStream on v1.0 on purpose?

[2022-02-25 23:14] #93760 closed

[2022-02-25 23:32] compiler-errors commented on #94334
@ouz-a, does #94355 fix this? (or is it related)

[2022-02-26 00:22] AzureMarker commented on #94348
Unfortunately that doesn't work because we need the actual functions to be exported. We're polyfilling/implementing well known APIs like pthread.

[2022-02-26 00:39] lopopolo commented on #92173
Is this issue related to the crashes folks are observing in clippy on macOS in the new 1.59.0 release?

- https://github.com/rust-lang/rust-clippy/issues/8470

[2022-02-26 00:44] yoshuawuyts commented on #67644
I just realized that the associated type of the `IntoFuture` trait is `Future`, while the associated type of `IntoIterator` is `IntoIter`. It would probably make sense to keep the two consistent and rename the associated type to `IntoFuture`. Not sure why I missed that in https://github.com/rust-lang/rust/pull/72459, but it's not yet too late to correct it.

[2022-02-26 00:59] lilyball commented on #92173
This issue here is about when rustc is built without jemalloc, whereas that issue is occurring with binaries downloaded via rustup and which presumably are using jemalloc.

[2022-02-26 01:00] ehuss commented on #92173
@lopopolo Yea, it's the same issue.

@lilyball clippy is not built with jemalloc.

[2022-02-26 01:01] lopopolo commented on #92173
@ehuss should this be tagged as a stable-to-stable regression and up the priority?

[2022-02-26 01:06] ehuss commented on #92173
I'd leave it up to the clippy team to set the priority for fixing clippy specifically.
Fixing for rustc is probably low priority, as the official builds use jemalloc.
I'm not sure where to follow along. Here, or #92185 or on the clippy repo.

[2022-02-26 01:09] lopopolo commented on #92173
Thanks for the context and the links @ehuss!

[2022-02-26 01:45] crumblingstatue commented on #90829
I don't think either of those should be the job of retain_mut. retain_mut should behave exactly as retain, with the only exception of taking &mut.
Other APIs can be added later (after possibly a lot of bikeshedding). retain_mut should just be about correcting the mistake that retain doesn't take &mut. (which can't be directly fixed due to backwards compatibility issues)

[2022-02-26 02:49] DrMeepster commented on #87675
@rustbot release-assignment

[2022-02-26 02:50] DrMeepster commented on #81270
@rustbot claim

[2022-02-26 03:20] josephlr commented on #71146
I would also like to see these methods on `NonNull`, mostly so https://github.com/rust-osdev/volatile could use them in its [new implementation](https://github.com/rust-osdev/volatile/pull/22).

As https://github.com/rust-lang/rust/issues/73987 is still pending, could we open a separate stabilization PR just for the `NonNull` methods?

[2022-02-26 04:39] #93848 closed

[2022-02-26 04:49] compiler-errors commented on #94287
@rustbot claim

[2022-02-26 05:36] sstangl opened #94390 "Rust 1.59 rustc ~infinite loop with include_str!"
The following repo/hash compiles with rustc v1.58, but loops forever in v1.59 and Nightly (1.61): https://github.com/sstangl/openpowerlifting/commit/ac057e388ac911fda2e93acd8689d13f6df23034

The problem appears to be with the compilation of a very small crate (`modules/langpack`) that uses `include_str!` to include some JSON files. The problematic method is the implementation of `default()`:

[cod

[2022-02-26 05:49] mhammerly commented on #73632
On the topic of allocator shims: I took a crack at implementing a `-C force-allocator-shim` per @jsgf's suggestion elsewhere and when I was 90% finished I saw https://github.com/rust-lang/rust/pull/86844 "Support #[global_allocator] without the allocator shim" from @bjorn3 who has been active here. #86844 has been open since July so I put my PR up to see if it'd bump the discussion.

I think eithe

[2022-02-26 06:27] compiler-errors commented on #94287
So it actually turns out that this fails because the child crate doesn't have the `#![feature(generic_const_exprs)]` flag enabled.

When the child crate tries to normalize the function signature `fn from_str(_s: &str) -> Result<Self, Self::Err>` from the `FromStr` impl in the parent crate, specifically `Self::Err` which is `<FixedI32<FRAC> as FromStr>::Err`, this normalization fails, because we do

[2022-02-26 07:00] #92776 closed

[2022-02-26 08:07] MarkDDR commented on #94390
From poking at the codebase a bit I have determined that `include_str!()` itself is not the direct cause of the issue, rather it is the optimizer at `opt-level = 2` trying to optimize the `serde_json::from_str::<Translations>()` function given compile time knowledge of what the json string looks like. The issue also occurs if you manually inline the string

[2022-02-26 09:05] MarkDDR commented on #94390
I have created a much smaller code sample that recreates this bug https://github.com/MarkDDR/long_compile_rustc_1.59.0

[2022-02-26 09:41] sadmac7000 opened #94394 "Strictures on accessing packed fields could be loosened."
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0f63bd5f4a76190effcdc079e4e1b4dc

In the above playground we access a field of a packed struct, and are told that it is unsafe to do so due to alignment issues (just a warning for now, but as the warning states, will be an error in the future).

The trouble is that this is an array field, and all we're doing is asking its leng

[2022-02-26 10:05] the8472 commented on #90829
Obviously the method could be renamed if it does more.

If the performance is the same I don't see much of a benefit of having both.

[2022-02-26 10:08] ouz-a commented on #94334
My pr doesn't fix this but it sure looks like these are related.

[2022-02-26 10:21] yvt opened #94395 "The `type_alias_bounds` lint misfires when `impl Trait` is used in a portion of a type alias"
[code]

Compiling this code ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2bf579306e77e8dd64dd066447f29087)) produces the following diagnostics:

[code]

I expected to see this happen: The compiler should not have suggested removing `: Send` from the type alias.

Instead, this happened: Removing `: Send` as per the compiler's suggestion breaks the code.

[c

[2022-02-26 10:42] the8472 commented on #90829
Considering that things that go into std have to be maintained forever rushing things doesn't seem like a good plan either.

[2022-02-26 10:45] lukaslueg commented on #87707
@yaahc The code I noticed this with is [this](https://github.com/lukaslueg/sqlite3_hyperminhash/blob/87dc48caf4e50860412bb2d1ecdde0f217f7f1d9/tests/util.rs#L23) utility code in a test suite. The code initializes a sqlite3 environment in the testing process, and it simply panics on failure, as the tests are going to fail anyway from that point on. Minimizing the example boils down to what you poste

[2022-02-26 12:03] Urgau commented on #82450
Good news! `rustdoc` (https://github.com/rust-lang/rust/pull/94154) and `cargo` (only features, https://github.com/rust-lang/cargo/pull/10408) support have been merged. :fireworks: As well a some improvements to the lint (https://github.com/rust-lang/rust/pull/94175).

You can now simply use `cargo build -Z check-cfg-fetaures` to check values of every config `feature`. Works with: `check`, `build`

[2022-02-26 12:27] the8472 commented on #90829
Tests, documentation and general clutter in the API surface have non-zero costs. Anyway, _I_ don't see urgency here and I would prefer not to spend more time on meta-discussion and instead discuss the API itself on its own merits rather than shutting down discussion on the ground that discussion is harmful because it delays things.

So, back to the API itself. Taking `&mut T` is a generalization h

[2022-02-26 12:50] crumblingstatue commented on #90829
I argue that it qualifies as a fix rather than simply a generalization. There is no reason why it shouldn't take &mut T, so taking &T was a mistake. The merit of this change is to fix that mistake (without breaking backwards compatibility).

If a more general API is possible, it would deprecate `retain` as well by extension, since it's the exact same function.
So this discussion should also extend

[2022-02-26 13:01] yvt opened #94398 "The `type_alias_bounds` lint misfires when the trait bound is used by a const generic parameter"
[code]

Compiling this code ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0366391e897564ccab2e971b576361a4)) produces the following diagnostics:

[code]

I expected to see this happen: The compiler should not have suggested removing `: Trait` from the type alias.

Instead, this happened: Removing `: Trait` as per the compiler's suggestion breaks the code.

[2022-02-26 13:52] Wardenfar commented on #89586
Hello @workingjubilee,

I'm trying to understand the issue and i have some questions.
 - For the first sub-task : i need to detect imcompatible global features or at function level ?
   and i have not found a way to detect ` x87 FPU`.
 - To report an error : should i use `sess.err(...)` ?

 Thanks

[2022-02-26 14:09] apiraino commented on #94364
@amircodota I'm figuring out if your issue it reproducible with something as minimal as a hello world, something like (example):
[code]

[2022-02-26 14:23] #93829 closed

[2022-02-26 15:08] apiraino commented on #89647
Summarizing here (for SEO purposes) from the linked issues the mitigating flags that make the issue disappear: setting the release build profile `opt-level` != 3 ([mentioned here](https://github.com/rust-lang/rust/issues/91011#issuecomment-974787195))

[code]

or disabling the new LLVM pass manager altogether:

[code]

[2022-02-26 16:05] ehuss commented on #94374
Edited for clarity. "Panic" means something specific that is different from an "error".

[2022-02-26 16:09] amircodota commented on #94364
@apiraino I seriously doubt it.

This is a pretty complex multi-crate workspace, with many dependencies, some of which contain c and c++ code.

I'm pasting a full output of the error - maybe ot would help zero in of the issue

[code]

[2022-02-26 16:16] amircodota commented on #94364
hmmm... Interesting.

I am using cross to compile musl, and I have a custom Dockerfile, that is built from the cross base docker image for musl.

Let me see if I can reproduce on simple code using cross

[2022-02-26 16:17] JmPotato commented on #74928
@rustbot claim

[2022-02-26 16:20] amircodota commented on #94364
using cross on a brand new `cargo init` code, it does not fail, but it gives a warning

[code]

Maybe this would give a clue?

Here's how to reproduce

[code]

[2022-02-26 16:24] c410-f3r commented on #82450
Thank you for all the hard work, @Urgau

Hopefully the Rust team will enable this check by default in the future (fingers crossed)

[2022-02-26 16:55] ehuss commented on #94390
Thanks for putting together the reproductions!  This seems to have started with #92419. cc @erikdesjardins

[2022-02-26 17:16] tmiasko commented on #94326
The global attributes obtained from `-Ctarget-cpu=native` and `-Ctarget-feature=` are applied only to functions that have some target feature attributes of their own:

https://github.com/rust-lang/rust/blob/6f681a8eb3fbdf37075ae5f921518f5f4b9306a6/compiler/rustc_codegen_llvm/src/attributes.rs#L412-L423

The global attributes are still in effect, since target machine configuration includes them. At

[2022-02-26 17:20] erikdesjardins commented on #94390
Presumably there are more issues with runaway inlining (possibly the same thing as #89524 / https://reviews.llvm.org/D98481 - serde almost certainly has mutual recursion somewhere).

It is unlikely that there will be a trivial fix, and I don't have time to investigate it deeply right now. I'll open a revert in a bit.

[2022-02-26 17:34] StrongerXi commented on #81872
Any progress on this? Wondering why it's still pending...

[2022-02-26 17:38] 12101111 commented on #94364
I can't reproduce this in cross,
It use a old gcc 6.4.0 and pick musl's libc.a from rust, your are using gcc 9.2 and pick musl's libc.a from gcc:

[code]

[2022-02-26 18:01] gimbles opened #94403 "Rustc does not lint *sometimes*."
Given the following code:

[code]

The current output is:

[code]

But when the input is

[code]

It lints with
[code]

Expected behavior:
It should lint in both cases since they're essentially the same code and both *are* dereferencing a null pointer *and* both segfault [Duh.]

[2022-02-26 18:08] scottmcm commented on #72599
Looks like, with #93403 now merged, this just needs someone to make a stabilization PR!

[2022-02-26 18:10] RalfJung commented on #71146
Technically that function is wrong in case `ptr` points to previously allocated but now deallocated memory, or an out-of-bounds pointer created e.g. with `wrapping_offset`. (See the notes about size zero in the [ptr validity docs](https://doc.rust-lang.org/nightly/std/ptr/index.html).)

[2022-02-26 18:21] nagisa commented on #94326
`-Ctarget-cpu=native` causes the features to be set based on the cpuid-reported features, but we also encode a guessed specific target-cpu name (in this case `haswell`)  in the IR at https://github.com/rust-lang/rust/blob/6f681a8eb3fbdf37075ae5f921518f5f4b9306a6/compiler/rustc_codegen_llvm/src/attributes.rs#L191-L199

and https://github.com/rust-lang/rust/blob/6f681a8eb3fbdf37075ae5f921518f5f4b930

[2022-02-26 19:03] golddranks commented on #72599
A big thank you ya'll!!!

As the contributor of the initial PR and this issue two years back. (And unfortunately, not having much time to work on Rust in between.) I'd very much like to push it over the goal line! I'll get back to this tomorrow.
@rustbot claim

[2022-02-26 19:19] merriam commented on #61764
I am a newcommer to Rust and have a similar issue.  In my case, the code is:
[code]

The problem with the error message is probably the word 'item'.  Is this expected 'function, struct, or enum item' or 'top level item' or is there some other term?

Also, if you spot my error, let me know ;)

[2022-02-26 19:56] amircodota commented on #94364
Posting an update here - in case someone else runs into this issue too.

I was using a [custom cross docker image](https://github.com/cross-rs/cross#custom-docker-images) which added some depndencies to the cross base image.

In the Dockerfile I had the following line

[code]

The reason was one of the crates I was using needed libstdc++.a, which does not come bundled with the rust target, but doe

[2022-02-26 19:56] #94364 closed

[2022-02-26 19:59] compiler-errors commented on #94334
I have a PR that generalizes this, I think I understand the root cause.

@rustbot claim

[2022-02-26 20:48] mark-i-m commented on #81872
Mainly, I think this is lacking manpower to drive it forward...

[2022-02-26 22:22] jlogan03 commented on #94230
Amazing, thanks folks! Looks like I had managed to break my rustup update process, hence thinking I had the latest when I clearly did not. I'll be more diligent about running my builds in a pristine environment before making bug reports in the future.

[2022-02-26 22:22] #94230 closed

[2022-02-26 22:34] BartMassey opened #94406 "Add ability to specify backlog size for `TcpListener` and `UnixListener`"
In socket-style network interfaces, the server side typically requests a "backlog" from the operating system. This controls how many requests the OS is willing to buffer before failing or ignoring new requests.

The backlogs used by `std::net::TcpListener::bind`, `std::os::unix::net::UnixListener::bind` and the nightly `std::os::unix::net::UnixListener::bind_addr` are currently hardwired to 128. T

[2022-02-26 22:54] RalfJung commented on #94403
The first case is a lot harder to lint against, since it has to "see though" a `let`-binding.

We have a lot of lints that are circumvented by extra `let` bindings like this. If that is something we want to improve, we probably want to track this is a central space (and solve it via shared infrastructure).

[2022-02-26 23:00] RalfJung opened #94408 "x.py rebuilds "bootstrap" a lot"
When `x.py` is invoked both by vscode and from the terminal directly, "bootstrap" is rebuilt each time. I think in the end this is due to that line:

https://github.com/rust-lang/rust/blob/10cc7a6d031fd607f594f4c7af113bfaa9a879e9/src/bootstrap/build.rs#L7

Indeed `PATH` is almost certainly different between the two environments. (vscode lives inside a sandbox, it just runs too many untrusted thing

[2022-02-26 23:02] jlogan03 commented on #94170
Confirmed this also happens with the latest nightly build:

[code]

[2022-02-26 23:03] Mark-Simulacrum commented on #94408
We could probably move that into this if:

https://github.com/rust-lang/rust/blob/10cc7a6d031fd607f594f4c7af113bfaa9a879e9/src/bootstrap/build.rs#L13-L21

I think that would still be fine and maybe enough to avoid trouble in practice? That if is the reason we added it in the first place.

[2022-02-26 23:06] Mark-Simulacrum commented on #94408
RUSTC is likely set for you -- this is a build script environment, where it *should* be set to something. IIRC, I had some trouble assuming it was an absolute path in all cases which is why this ad-hoc canonicalization logic was added.

[2022-02-26 23:07] bjorn3 commented on #94408
`RUSTC` is set by x.py: https://github.com/rust-lang/rust/blob/10cc7a6d031fd607f594f4c7af113bfaa9a879e9/src/bootstrap/bootstrap.py#L1001

[2022-02-27 00:21] jackh726 commented on #91762
GATs issue triage: not blocking. The example can compile by changing the `ret = ` line to `ret = <Self::Base as Functor>::fmap::<T, U>(arg)`. We've updated the code so that we no longer arbitrarily constrain inference vars in GAT substs when projecting an associated type, which would have been a backwards-compatibility hazard. We would like the current test to compile eventually, but doing so is b

[2022-02-27 01:33] JohnScience opened #94410 "Tracking Issue for `Copy` trait implementation for zero-length arrays"
Feature gate: `#![feature(copy_zero_len_arrs)]`

This is a tracking issue for `Copy` trait implementation for zero-length arrays

### Public API

`Copy` trait implementation for zero-length arrays

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

**Related issue**:  [Zero-length arrays are non-`Copy`](ht

[2022-02-27 02:15] ChayimFriedman2 commented on #94394
This is actually Undefined Behavior, since you're not using the array's `len()` method, as it does not exist. You coerce the array to a slice, and then call `<[T]>::len()`. So you take a reference to an unaligned slice, which is UB.

[2022-02-27 03:27] RalfJung commented on #94371
https://github.com/rust-lang/rust/pull/94411 indeed fixes the testcase (but the PR still needs more work)

[2022-02-27 06:39] #94324 closed

[2022-02-27 08:21] workingjubilee commented on #94347
Why?

"It is possible" is not enough. Even "it is faster" is not enough. It is also buggier at the moment, such as with [this miscompilation found on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/.E2.9C.94.20transmute.20usize.20-.3E.20fn.20pointer.20miscompilation.3F/near/271913499)

It has limited cross-platform support:
- https://github.com

[2022-02-27 08:31] DrMeepster commented on #92054
This is a duplicate of #81270

[2022-02-27 09:20] terrarier2111 commented on #93867
@rustbot claim

[2022-02-27 10:36] Jzow opened #94416 "I compiled an error while updating rust to the new environment"
os：mac
rust version：rustc 1.59.0 (9d1b2106e 2022-02-23)
cargo version：cargo 1.59.0 (49d8809dc 2022-02-10)

`cargo test`

error output:

[code]

[2022-02-27 10:44] yoshuawuyts commented on #87074
Something we should probably track here is that we don't yet have a solution for async Windows `HANDLE` types. A docs change has been proposed in https://github.com/rust-lang/rust/pull/93562 to mention that that raw handles be not opened with the `FILE_FLAG_OVERLAPPED` flag. But we don't yet have a solution for what to do for handle types which have been opened with `FILE_FLAG_OVERLAPPED`.

This s

[2022-02-27 10:45] Jzow commented on #94416
I tried to uninstall and reinstall, but I also found that it couldn't run

`rustup self uninstall`

[2022-02-27 10:51] light4 commented on #94416
Did you install the `Xcode Command Line Tools`?

[2022-02-27 10:55] Jzow commented on #94416
@light4  emm, right, install list:

[code]

[2022-02-27 10:59] light4 commented on #94416
May you should check it use this command:
`$ xcode-select -p`
Use `xcode-select –install` to install Command Line Tools.

[2022-02-27 11:09] Jzow commented on #94416
@light4  Thank you very much for helping me solve this problem, but I still want to know why `xcode-select --install` needs to be installed after the installation of trust?

[2022-02-27 11:13] #94416 closed

[2022-02-27 11:20] plagerweij opened #94418 "Exclamation ! return type not respected in unwrap_or_else"
I often write a function that logs an error in a custom way and then panics afterwards, e.g.

[code]

This has worked for me for a long time, but I recently noticed this clippy warning:

[code]

I'd like to catch all clippy warnings in CI pipelines and just adding `#[allow(clippy::redundant_closure)]` everywhere I call that function is suboptimal, but when I try to fix it as clippy suggests I get

[2022-02-27 12:08] Alexendoo commented on #94291
Fixed by #94355

[2022-02-27 12:08] #94291 closed

[2022-02-27 13:48] trevyn opened #94419 "Issues that would encourage a decision to disable incremental in 1.60 stable"
https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html states:

I would like to raise https://github.com/rust-lang/rust/issues/47384#issuecomment-631790924 as an issue that would encourage a decision to disable incremental in 1.60 stable.

`#[used(compiler)]` and `#[used(linker)]`, which can mitigate this issue, are currently behind a feature gate: https://github.com/rust-lang/rust/issues/93798

[2022-02-27 14:04] droundy commented on #81513
I was thinking of something like
[code]
Hopefully with a nicer name than Opaque.

[2022-02-27 15:01] nagisa commented on #94370
The behaviour designed here is as designed/intended, so I'll take the liberty to close this as a not-a-bug.

[2022-02-27 15:01] #94370 closed

[2022-02-27 15:06] nagisa commented on #94394
Closing as per the comment above. In general this explanation would also hold true even if `<&[u32; N]>::len` existed; calling it would still create an unaligned reference and that is UB, even if the reference is not manually dereferenced.

[2022-02-27 15:06] #94394 closed

[2022-02-27 15:08] Pointerbender commented on #71146
Thanks for catching that @RalfJung! :smiley: I updated the code snippet to `unsafe` in case anyone stumbles upon it in the future.

Thinking about safe alternatives, these 2 safety requirements can be satisfied for all situations if the caller has an `&UnsafeCell<[T]>` instead of a `NonNull<[T]>`. This won't work in all situations though, `UnsafeCell` and `Nonull` most notably differ in the follow

[2022-02-27 15:19] nagisa commented on #94335
Shouldn't this issue be ideally fixed in the filesystem itself? Filesystems corrupting themselves seem like a poor failure mode in any case, and in some ways is a violation of the sandboxing that the kernel ought to provide for the user-space applications.

[2022-02-27 16:14] tema3210 opened #94422 "Unneccessary error"
I have the following snipset:
[code]
The current stable gives me:
[code]
the `System<...>` trait has a `'static` supertrait bound;

The point is that the `typemap::Key` trait is intended as type level function (of `* -> *` kind) and because of this error my code doesn't compile.

Can we define there an additional behavior like "usage of lifetime parameter in associated type constrains it"?

[2022-02-27 16:25] Rua commented on #51402
I just ran into this issue, pretty much in the situation described by @withoutboats. In my case, the return type contains `Self` but it's the same idea.

[2022-02-27 16:27] Rua commented on #82825
I ran into this issue, see also #51402.

[2022-02-27 16:30] Badel2 commented on #94171
Run into this while fuzzing, here is a minimized test case:

[code]

[code]

Note that you need rustc with debug assertions enabled. Reproduced in nightly 2022-02-25.

[2022-02-27 16:30] wwylele commented on #94422
I don't think this would work in the way you want. (non-generic) associated type is like the output of the type function defined by the trait implementation. It reads like "The function `typemap::Key` of `S` outputs the `Value = SystemData`". This is what distinguished associated type from a type parameter in trait (the type parameter would be the input of the type function). As an output, the ass

[2022-02-27 16:39] wwylele commented on #94418
I think this is a bug in clippy rather than in rust. Rust cannot implicitly coerce a function because the return type is coercable, and this isn't limited to `!` type, or `unwrap_or_else`. For example

[code]
And clippy doesn't take the coercion at function return position into account, and provides a wrong suggestion

[2022-02-27 16:45] wwylele commented on #94418
Clippy side issue: https://github.com/rust-lang/rust-clippy/issues/7812

[2022-02-27 16:45] oconnor663 opened #94423 "using too many registers in asm!() produces confusing compiler errors"
Here's an example of a program that uses too many registers on x86-64:

[code]

When I run `cargo build`, sometimes I get this output, which seems like what we want here:

[code]

But if I run `cargo build` over and over again, I see different output, seemingly at random. Sometimes I get this:

[code]

Sometimes I also get this:

[code]

In these latter two cases, the helpful error is still there

[2022-02-27 16:57] nikic commented on #85133
So ... what is the actual Rust code we're supposed to be optimizing here? Is the goal to get rid of the icmp + zext in https://rust.godbolt.org/z/nd9fEx3ed or is it something else? (The referenced LLVM change does not get rid of those.)

[2022-02-27 17:00] RalfJung commented on #69488
As mentioned before, a strategy to fix this problem would be to adjust Miri such that it no longer attempts to put union values into its `interpret::Scalar` type. `Scalar` can only be wholly initialized or wholly uninitialized, and is thus not suited for types that can be partially initialized (as is the intent for `MaybeUninit<_>`).

In https://github.com/rust-lang/rust/pull/94411 I started worki

[2022-02-27 17:01] joshtriplett commented on #93203
I tried the current nightly API in some test code I was writing, and it worked well. Served the purpose I wanted it for, borrowing some local values, without any issues.

[2022-02-27 17:05] joshtriplett commented on #93203
What's the next step here? We have an existence proof that it's *possible* to eliminate the scope parameter. It might be possible to do so in a simpler way, but we don't know that yet. Can we hide some of the internals and the multiple lifetimes from the public API to allow for future evolution, perhaps by keeping the Scope type unstable for longer than the scope function?

[2022-02-27 17:07] oconnor663 opened #94426 "in asm!() using a local numeric label made of all 0's and 1's gives a confusing error"
[code]

Here's a function that jumps to a local numberic label inside of `asm!`:

[code]

As per [Rust By Example](https://doc.rust-lang.org/nightly/rust-by-example/unsafe/asm.html#labels), we use `2:` as a local label there to work around an LLVM bug that mistakes labels like `0:`, `1:`, or `10:` for binary. This example works. However, if we don't know about this rule, and we try to use `0:` ins

[2022-02-27 17:19] RalfJung opened #94428 "Make sure our handling of partially initialized values is compatible with LLVM"
The intent is for types like `MaybeUninit<u64>` to support dealing with partially initialized data: e.g., if we have a `(u32, u16)` (and assuming for a second we could rely on its layout), it should be sound to transmute that to `MaybeUninit<u64>` and back *even though* the padding between the two tuple fields might be uninitialized. Code like https://github.com/rust-lang/rust/pull/94212 relies on

[2022-02-27 17:21] RalfJung commented on #69488
After thinking about this some more, and seeing bugs like https://github.com/rust-lang/rust/issues/94371, we definitely need to fix something in Miri here. I opened https://github.com/rust-lang/rust/issues/94428 to track the LLVM side of the problem.

[2022-02-27 17:30] henryksloan opened #94429 "ICE on wrong generator yield/return type when using type_alias_impl_trait"
Possibly related to #87142 as both ICEs arise from `Box<dyn Any>`, but this ICE occurs on a different line.

### Code

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=efa0ee487d7f598dc2fbd924d1a306bc)

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</

[2022-02-27 17:42] Badel2 commented on #94171
Another test case:

[code]

[code]

[2022-02-27 18:10] plagerweij commented on #94418
Ah, thanks for pointing that out. Closing this issue.

@wwylele while I have you, could you answer one last question (not clippy related)? If I remove the `!` return type and still use my original closure I get the following error:

[code]

So clearly `!` is useful in this case. Why is it that `!` seems to work for closures but not when I call my `error` function directly?

[2022-02-27 18:11] #94418 closed

[2022-02-27 18:45] JohnScience commented on #94313
While it's impossible to solve the problem systematically until lattice specialization lands, there is a hack that can allow to imitate the desired behavior. [`core::mem::ManuallyDrop`](https://doc.rust-lang.org/stable/core/mem/struct.ManuallyDrop.html)`<T>` implements [`Copy`](https://doc.rust-lang.org/core/marker/trait.Copy.html) whether `T: Copy` or not.

[2022-02-27 18:49] scottmcm commented on #85133
@nikic That's right.  [`try { x? }`](https://rust.godbolt.org/z/f3hMKzTMx) not being a nop, as in your example, is the easiest demonstration.

As I understand it, the `icmp` shows up because there's a `trunc` in there originally, but LLVM has lost track of the fact that the truncation doesn't ever wrap.

(My uninformed thought: It's odd to me that there's no `nsw`/`nuw` flags for `trunc`, as a way

[2022-02-27 19:05] scottmcm commented on #85133
Actually, here's a better cut-down version of the example.  This is (essentially) the first part of `?`, but with no trait calls involved to muddle things: <https://rust.godbolt.org/z/MWxdTcGn6>

[code]

`Ok` and `Continue` are both discriminant `0`; `Err` and `Break` are both discriminant `1`.

It looks like the core of what we emit there is
[code]

where that range metadata is

[code]

So AFAIK

[2022-02-27 19:15] JohnScience commented on #94313
I want to do something terribly unsafe. I would like to have a struct implement `Copy` even though one of its fields doesn't. Any ideas which terrible hacks would help me achieve that?

**Note**: `core::mem::ManuallyDrop<T>` implements `Copy` only if `T: Copy`

[2022-02-27 19:47] nikic commented on #85133
Okay, so I think the PhaseOrdering change is necessary to avoid folding the switch before SROA (of course, the alternative solution is to make SROA emit range assumptions). But it's not sufficient:

[code]

We'd need either InstCombine or SimplifyCFG to fold `%.sroa.0.0` into `%.fca.0.extract1`.

I believe SimplifyCFG would do that as part of ForwardSwitchConditionToPHI, but this is only done at t

[2022-02-27 20:55] Badel2 opened #94432 "thread 'rustc' panicked at 'no label after fn', compiler/rustc_span/src/source_map.rs:958:18"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after correctly reporting the error "unknown start of token", so low priority. I guess that one part of the code treats `�` as whitespace, while another part of the code treats it as not whitespace, causing a logic

[2022-02-27 22:15] nagisa opened #94434 "target-feature diagnostics should run for check-builds"
Today any sort of checking done to verify the validity of the target features runs at codegen/post-monomorphization time. This means these issues are not visible for check builds and more importantly they also fail to show up for functions that do not get collected into a codegen unit. An example of this sort of problem is something I encountered when adjusting the `ui/target-feature/tied-features

[2022-02-27 22:17] nikic commented on #85133
Just remembered that we have https://github.com/llvm/llvm-project/blob/fdfe26ddbeb1a5eb6106a6a27d6f8240deca543f/llvm/lib/Transforms/InstCombine/InstCombinePHI.cpp#L1256 in InstCombine. I guess it would be natural to extend to that to switches and not just conditional branches.

[2022-02-27 22:21] Aloso commented on #63193
I found a solution. It's a hack, but it works:

[code]

To understand how it works, you need to know the following:
 - In Rust, `///` comments are equivalent to a `#[doc = ""]` attribute
 - In CommonMark, a fenced code block that starts with _n_ backticks (_n_ ≥ 3) can be closed with _at least n_ backticks.

Line 3 inserts `` ````no_test ``, but only if doctests are being run. If that line is pres

[2022-02-27 22:49] daira commented on #25289
There is no "same issue" that is "still happening".

`error: linking with cc failed: exit code: 1` is shown for *any* linking error. There are literally thousands of possible causes of linking errors.

For the past few years none of the issues described here have had anything to do with the one that the ticket was opened for in 2015. Open new tickets!

[2022-02-27 22:51] xfix opened #94435 "str::lines consumes carriage returns at the end of a line which is undocumented"
I tried this code:

[code]

I expected to see this happen: `"a\r"` to be printed.

Instead, this happened: `"a"` is being printed.

At this point fixing this behavior may break actual code (and this would be a quiet change), however documenting this may make sense. This behavior was introduced in Rust 1.4.0 as a result of [implementation of RFC 1212](https://rust-lang.github.io/rfcs/1212-line-endi

[2022-02-27 23:50] AnnikaCodes commented on #89498
I'm not able to compile the following with your diff:
[code]

The following error is produced:
[code]

I'm not sure why this is; here is the produced LLVM IR with your diff:
[code]
and the IR from compiling a similar function in C with `clang`:
[code]

[2022-02-28 00:14] FrostKnight commented on #93157
Its really not practical to rebrand rust due to how many references to rust logo, etc...

So yeah, I am heavily against Rust, until they change this annoying problem...

To be honest, it makes me wonder if the programming language is even free, as well as if those who have added it and done what they want with it, are not opening themselves up for being sued, etc...

Besides, some people may want

[2022-02-28 00:23] jrtc27 commented on #89498
The IR you pasted is for a totally different function

[2022-02-28 00:31] jclulow commented on #94335
It was reported upstream, and we're working on a fix -- but that fix will obviously only be in new versions of the operating system.

To expand further on the corruption: the file system becomes inconsistent and requires repair, and the damage such as it is can only be caused by privileged users; i.e., by root or a user with root equivalent privileges.  I am not yet aware of a way that it would ca

[2022-02-28 00:53] jonhoo commented on #80234
Just to double-check my understanding, is it correct that `-Zmiri-track-raw-pointers` will fail to track correctly when using `AtomicPtr::compare_exchange` and friends, since they still use pointers-as-integers under the hood (I think only load/store/swap have been "fixed")?

[2022-02-28 01:18] AnnikaCodes commented on #89498
Yes, it's for the following in C:
[code]

[2022-02-28 02:39] jrtc27 commented on #89498
The error you got was for the following instruction:
[code]

The Rust-produced IR you included is for `_ZN6simple1t17h9b9464898cd4c360E`, which is neither `_ZN6simple5start17h171a72bdff8bf80aE` nor contains a call to `_ZN6simple5start17h171a72bdff8bf80aE`. Therefore it is not relevant.

[2022-02-28 03:44] #78701 closed

[2022-02-28 03:44] #79465 closed

[2022-02-28 03:44] #94408 closed

[2022-02-28 06:11] #94318 closed

[2022-02-28 06:13] zirconium-n commented on #94313
Not really solving `[T; 0]` is non-`Copy`, but for force alignment, it seems `generic_const_exprs` would suffice?

[code]

[2022-02-28 07:16] est31 commented on #94351
Why have you closed it? Drop order is different, and personally I think it would be a good idea to at least try fixing this issue.

[2022-02-28 07:24] lcnr commented on #94351
the issue is that it doesn't drop eagerly with any pattern, not just `_`. see https://github.com/rust-lang/rust/pull/94012#discussion_r814617249 where I am looking into this

[2022-02-28 07:46] lcnr commented on #94410
I don't think it makes sense to have a tracking issue for this. There won't be any work on adding `Copy` to Zero-length arrays until we finish the lang features necessary for this, at which point the added trait impls are instantly stable (as all trait impls) and there will again be nothing to track. It also seems unusual to mention a feature gate that doesn't exist.

Prefer tracking this in #9431

[2022-02-28 07:46] #94410 closed

[2022-02-28 08:18] est31 commented on #94351
I'd just have changed the issue title, as it's a bug one way or another.

[2022-02-28 08:40] leoleoasd opened #94444 "compiler panic on "this enum variant takes 1 argument but 2 arguments were supplied""
### Code

https://github.com/leoleoasd/ptranse/blob/6e7d647a2ea77af904c461df7df6a9067c76809f/src/process.rs#L90

Sorry, I'm new to rust and I can't provide a more minimized example. Commenting this line out and everything works fine.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Oth

[2022-02-28 09:32] YanWQ-monad commented on #94444
Provide a minimized example based on the given code.

[code]

<details>
<summary>Compile Details</summary>

### Rustc version
[code]

### Compiler Output
[code]

</details>

[2022-02-28 09:52] DutchGhost commented on #94380
This looks like a dupe of https://github.com/rust-lang/rust/issues/92893

[2022-02-28 09:55] Emilgardis commented on #94444
searched nightlies: from nightly-2022-01-27 to nightly-2022-01-29
regressed nightly: nightly-2022-01-29
searched commit range: https://github.com/rust-lang/rust/compare/21b4a9cfdcbb1e76f4b36b5c3cfd64d627285093...e0a55f4491a729bffc63b402ba903d90858c806b
regressed commit: https://github.com/rust-lang/rust/commit/e0e70c0c2c4fc8d150a56c181994e3a3b3e9999a

<details>
<summary>bisected with <a href='http

[2022-02-28 10:00] tema3210 commented on #94422
Like, can't we take this:
[code]
as this:
`for<'h> for<S: ...> exists< Value = SystemData<'h,S> >`
?
;Here, two terms are introduced, two terms are used - no reason for error I guess.

[2022-02-28 10:17] frxstrem commented on #94233
Unable to reproduce after updating to `1.59.0` so I guess it's already been fixed. Closing.

[2022-02-28 10:17] #94233 closed

[2022-02-28 12:27] hkratz commented on #94435
There is a PR for it:  #91191

[2022-02-28 12:39] marmeladema commented on #47511
Hi!
In a discussion around lifetime-only GAT not really requiring GAT, @steffahn ended up sharing this code: https://gist.github.com/rust-play/a050229041bd8924c1891ab4756827d7#file-playground-rs-L72

[code]

We believe it's another instance of this bug! If you just introduce the `<'e>` lifetime, you get this error:
[code]
Is there a path forward to fix it?

[2022-02-28 13:11] hkratz commented on #94335
@jclulow Thanks again for the report.

The linked PR should fix the issue. Apparently only [Linux](https://man7.org/linux/man-pages/man2/unlink.2.html) and [FreeBSD](https://www.freebsd.org/cgi/man.cgi?query=unlink&sektion=2) _guarantee_ that trying to `unlink()` a directory fails. [Macos](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/unlink.2.h

[2022-02-28 14:24] wwylele commented on #94422
I think the direct translation of that is making `'h` an input of the type function. e.g. making it part of the trait generic `impl<...> typemap::Key<'h> for S`

[2022-02-28 16:14] JmPotato commented on #74189
Hi, @ecstatic-morse @RalfJung. After reading the code, it seems that safety is guaranteed by the check of the head and tail index, so there is no implementation that will access these uninitialized memories currently. However, considering the possibility of these codes being modified in the future, we do need to do something to make it be aware. Should I change `&[T]` to something like `&[MaybeUni

[2022-02-28 17:41] RalfJung commented on #74189
The main concern is that this code is violating the rules that are explicitly stated at https://doc.rust-lang.org/reference/behavior-considered-undefined.html. So we have two options, both of which seem reasonable to me:
- Adjust the code to follow the rules.
- **Since this is the standard library**, we could alternatively document that we rely on privileged compiler-internal knowledge saying that

[2022-02-28 19:23] lmapii commented on #57966
I've also stumbled upon this and then found an answer on stack overflow that wasn't working at all: https://stackoverflow.com/a/31749071/7281683

It says that the `#[macro_use]` is the "old method" and proposes a solution that wasn't working for me either. I kept the `#[macro_use]` but I'm not really happy with it. Also the linked book is outdated and should be updated to https://veykril.github.io

[2022-02-28 19:57] AronParker opened #94454 "Rare case of not properly rounding up thread stack size on Windows"
The following code states that `stack_size` rounds up to the next 64 kB:

https://github.com/rust-lang/rust/blob/97cde9fe08804a3a5208d77f6870ad7d43f8c9c3/library/std/src/sys/windows/thread.rs#L31-L33

However, if `stack` is any of `0xffff * x + 1` (where x is a non-negative number) it will not properly round up. Additionally, the least significant byte is retained, I doubt that is intended either.

[2022-02-28 20:19] pnkfelix opened #94456 "Module shadowing a crate is indistinguishable in diagnostics"
Given the following code ([link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=54ced179014048a858e5c13c7dd7b0bd)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-02-28 20:42] nertpinx opened #94458 "Two debuginfo tests fail with gdb 11.2"
Building the compiler and running the tests on system with GDB 11.2 fails on current master (commit 97cde9fe0880) with the following:
[code]
... a little bit down we see ...
[code]
and the same for `src/test/debuginfo/borrowed-basic.rs`.

The reason for that is pretty simple. GDB 11.2 added support for printing characters for Rust: https://sourceware.org/bugzilla/show_bug.cgi?id=28637 which is eff

[2022-02-28 20:43] jhpratt commented on #87517
Stabilization PR: #94457

[2022-02-28 20:45] yaahc commented on #87707
For sure, but this would only be available when you compile std yourself locally using `--build-std` because the pre-distributed copies of `std` all have the debug_asserts disabled even when the rest of the libraries in your project are compiled in debug.

[2022-02-28 20:54] cuviper commented on #94335
We can try to avoid this case by default, as #94446 is switching to try unknown as a directory first, but you should note that this is still going to be racy. If there's an unprivileged adversary like the CVE supposes, then they can try to race changes between "try (and fail) as a directory" to "unlink as a file", to make it unlink a directory after all and induce corruption.

IOW, it sounds like

[2022-02-28 20:57] nertpinx commented on #94458
I would also like to fix this as I found out about this while trying to go through https://rustc-dev-guide.rust-lang.org/ hoping to find a possibility for my first contribution.

My commit https://github.com/nertpinx/rust/commit/def7bb9bde3e3c337e1e33fa86904290777a821a works for me, but is definitely not a great fix. I went on Zulip to ask about how to proceed and after some redirection I found ou

[2022-02-28 20:58] SUPERCILEX commented on #94347
Thanks for those details! So step 1 then would be supporting mold as an official linker flavor? Would that be desirable? I do think the performance gains are at least worth making it easy for people to switch if it fits their use case.

[2022-02-28 21:16] ids1024 commented on #92789
I couldn't seem to work around it by adding an `#[allow]`, so I've just edited the schema file.

[2022-02-28 21:48] hkratz commented on #94335
It should not really cause _corruption_ according to the [Illumos man page](https://illumos.org/man/2/unlinkat), just orphaned directories:

Of course this can lead to resource exhaustion since the disk space and the inodes cannot be reclaimed.

[2022-02-28 22:15] wesleywiser commented on #94419
Thanks for raising this issue! In my opinion, we would not disable incremental compilation in the 1.60 stable release because of that issue for a few reasons:

- Is this actually an incremental compilation issue? Incremental compilation does not factor into the process of deciding what items are used. It *does* however change the default number of codegen units we hand to LLVM and, eventually, the

[2022-02-28 22:16] Aaron1011 commented on #94419
Incremental compilation *does* determine whether or not we decide to re-use a particular CGU, so it's plausible that incremental compilation could be causing this bug.

[2022-02-28 22:25] wesleywiser commented on #94419
That's true. The linked comment isn't 100% clear but since they don't complain about it periodically not working (thus requiring a `cargo clean`), I interpreted it to mean that they consistently see this issue. In particular, this sentence (emphasis mine) strongly suggests to me it's actually the higher number of CGUs that's at fault:

[2022-02-28 22:56] hkratz commented on #94347
Mold is "designed to be a drop-in replacement for the GNU linkers", so a new linker flavor does not seem to be necessary.
There already is documentation on how to use it with Rust at https://github.com/rui314/mold#how-to-use, I don't think we could make it much simpler without bundling it. `mold -run cargo build` also worked fine for me.

Also, I don't know what the stance on redistributing softwa

[2022-02-28 23:38] #92345 closed

[2022-02-28 23:38] #92705 closed

[2022-02-28 23:38] #93997 closed

[2022-02-28 23:38] #81270 closed

[2022-02-28 23:43] kckeiks opened #94462 "missing hints for elided lifetime mismatch in traits and impl"
This [merge](https://github.com/rust-lang/rust/pull/90179) introduced a helpful hint for a (elided) lifetime mismatch error. However, we don't get the hint when the function is in a `trait` or an `impl`.

Given the following code:

[code]

The current output is:

[code]

But given the following:

[code]

The output is missing the hint:

[code]

Ideally the output should look like:

[code]

[2022-02-28 23:43] cuviper commented on #94335
And that user is only root or otherwise root-like?
i.e. it's not just talking about regular access privileges?

[2022-02-28 23:43] kckeiks commented on #94462
@rustbot claim

[2022-02-28 23:43] ChrisDenton commented on #94454
To be honest, I think this line may as well be removed. As the comment says, the OS will do the rounding up in any case. And as the [MSDN docs say](https://docs.microsoft.com/en-us/windows/win32/procthread/thread-stack-size):

So 64 KB isn't technically guaranteed. I'm not sure there's anything to be gained by doing the rounding up ourselves.

[2022-02-28 23:44] kckeiks commented on #94462
Claiming this because I came up with a fix while working on another issue. No problem if this issue is closed though. The fix is small.

[2022-02-28 23:46] ChrisDenton commented on #94454
@rustbot label +O-windows +T-libs

[2022-02-28 23:46] eholk opened #94463 "generator_interior should be refactored to use ExprUseVisitor"
With the introduction of generator drop tracking, we essentially have two generator interior type analyses: the previous scope tree based analysis and the new drop tracking analysis. The two analyses cover different aspects of generator interior analysis, but having two of them makes the code complicated, adds weird edge cases and heuristics, and comes at a performance cost.

It should be possible

[2022-02-28 23:47] eholk commented on #94463
@rustbot label +A-async-await +A-technical-debt

[2022-02-28 23:48] eholk commented on #94463
@rustbot label +C-cleanup

[2022-03-01 00:04] kckeiks commented on #73931
@estebank I found some inconsistencies with the hints being given in [different_lifetimes.rs](https://github.com/rust-lang/rust/blob/master/compiler/rustc_infer/src/infer/error_reporting/nice_region_error/different_lifetimes.rs#L154) so I made a small change #94464. The description of the issue is in #94462. I think the changes in that PR could provide a useful hint for the case in this issue, alt

[2022-03-01 00:33] pigflying commented on #93002
still reproduce in rustc 1.60.0

rustc --version --verbose
rustc 1.60.0-nightly (17d29dcdc 2022-01-21)
binary: rustc
commit-hash: 17d29dcdce9b9e838635eb0adefd9b8b1588410b
commit-date: 2022-01-21
host: x86_64-apple-darwin
release: 1.60.0-nightly
LLVM version: 13.0.0

[2022-03-01 00:34] workingjubilee commented on #94347
Ah, I thought [`-Clinker-flavor`](https://doc.rust-lang.org/rustc/codegen-options/index.html#linker-flavor) was for controlling the linker selection in general. Yes, if that's not the intent then there is probably nothing to be done, it seems?

[2022-03-01 02:01] Amanieu commented on #93333
#94468 adds `sym` support for `global_asm!` which should help unblock the stabilization of `sym`.

[2022-03-01 02:07] yaahc commented on #91473
fixed by https://github.com/rust-lang/rust/pull/91547

[2022-03-01 02:07] #91473 closed

[2022-03-01 04:23] jhpratt commented on #74935
Would it be reasonable to permit `?` in `const fn` only for `Option<T>`? The only thing would have to change is the desugaring, I think.

[2022-03-01 05:29] nicholasbishop opened #94473 "Documentation for `addr_of_mut!` is contradictory"
The documentation for [`addr_of_mut!`](https://doc.rust-lang.org/core/ptr/macro.addr_of_mut.html) says:

However, in the example for `Creating a pointer to uninitialized data` it shows this code:

[code]

In that example it appears as though `expr` contains a dereference of uninitialized data, which is not normally valid. That seems in conflict with the earlier warning that "all the usual rules" a

[2022-03-01 05:39] #93906 closed

[2022-03-01 05:40] #94092 closed

[2022-03-01 05:40] rust-highfive opened #94474 "`miri` no longer builds after rust-lang/rust#94469"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94469, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-01 05:44] Shnatsel opened #94475 "Non-literal arguments to `unreachable!()` are rejected starting with v1.59.0"
### Code

I tried this code:

[code]

In 2021 edition.

On 1.58.1 this compiles, but on 1.59.0 and later it fails to build:

[code]

### Version it worked on

It most recently worked on: 1.58.1

### Version with regression

[1.59.0 stable on Rust playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a7af35253e6777e7ae6efadeedc40548), as well as the following nightly v

[2022-03-01 05:54] workingjubilee commented on #91422
Please `use std::simd::StdFloat;` for now.

[2022-03-01 05:54] #91422 closed

[2022-03-01 05:55] thomcc commented on #91979
Hmm, is this possibly caused by https://github.com/rust-lang/rust/issues/88737 ? That bug shouldn't be that hard to fix, if so.

[2022-03-01 06:26] oli-obk commented on #74935
You mean to make the desugaring different if we're in a const fn?

[2022-03-01 06:31] Mercanuis commented on #27812
This is occuring again, I am getting the following error , using either `raze` or `crate_universe`

M1 Mac

[code]

The deps in question depend on what is built first but ran into
* atty
* gen_random

[2022-03-01 06:40] jhpratt commented on #74935
I don't see any reason we couldn't desugar to this unconditionally for `Option<T>`:

[code]

Sure, the `Try` trait was designed with this in mind, but ultimately it is just a matter of desugaring the syntax. There's no semantic difference. `Result<T, E>` is more complicated due to the `E::from(err)` call, which can't be stable `const fn` right now anyways.

If it's possible to stabilize it on `Opt

[2022-03-01 07:33] PatchMixolydic commented on #94475
This appears to have been an intentional bugfix to bring `unreachable!` in line with other panic macros. See also #92137, the original report of this macro exhibiting Rust 2015-like behaviour in Rust 2021.

[2022-03-01 07:39] oli-obk commented on #74935
The reason we can't do this is that during desugaring we don't know what the type is. We compute types *after* desugaring.

[2022-03-01 07:43] jhpratt commented on #74935
Ah, dang. For some reason I thought the order was the other way around.

[2022-03-01 08:57] #94334 closed

[2022-03-01 09:07] hkratz commented on #94335
For the process must have root privileges or Illumos `PRIV_SYS_LINKDIR` needs to be in the process privilege set ([Illumos privileges(5) man page](https://illumos.org/man/5/privileges)). Solaris has at some point abolished this privilege and apparently does not allow unlinking directories anymore ([Solaris privileges(5) man page](https://docs.oracle.com/cd/E36784_01/html/E36883/privileges-5.html))

[2022-03-01 10:48] Jeremiah-Griffin commented on #93624
I seem to be experiencing this now in the 1.59 stable release and not the 1.60 nightly.

Same issues were detailed here:
https://github.com/vadimcn/vscode-lldb/issues/641#issue-1130568438

and here:
https://github.com/vadimcn/vscode-lldb/issues/633#issue-1124725975

Bit new to GitHub so if you need more detail I would be happy to supply it.

[2022-03-01 11:10] GuillaumeGomez commented on #92789
I have a fix for this issue in https://github.com/rust-lang/rust/pull/94478.

[2022-03-01 11:12] ouz-a commented on #93690
I think this is fixed by #94438 (great work @compiler-errors) I can't reproduce on the latest nightly

[2022-03-01 11:56] m-ou-se commented on #93740
Finishing up **glibc**:

#### Reader-writer locks

Glibc's `rwlock` is documented [here](https://sourceware.org/git/?p=glibc.git;a=blob;f=nptl/pthread_rwlock_common.c;h=bdc55d959271d9ca4d3c3948b9fe7baeb526aea2;hb=HEAD#l30). It is 32 bytes, of which 22 are used during normal operation. It contains two futexes, a readers counter, a writers counter, the thread ID of the current writer, the selected m

[2022-03-01 13:25] hellow554 commented on #92054
This was not closed by #94414

@jonas-schievink can you please close this? :)

[2022-03-01 14:00] lcnr opened #94483 "Tracking Issue for post #89862 cleanup"
#89862 rewrote the inference error reporting, but slightly worsened some causes or requires some additional improvements.

- [ ] readd a special diagnostic for `for` loops
- [ ] maybe readd handling for try expressions `?`
- [x] add `InferSource` for `x.into()` to `<Type as Into<_>>::into(x)`
- [ ] add `ty_msg` back if no infer source is found
- [ ] in the suggested type, try to only print `_` for

[2022-03-01 14:32] JKAnderson409 commented on #92941
@rustbot claim

[2022-03-01 14:50] #92054 closed

[2022-03-01 14:54] Alexendoo commented on #89682
Original is fixed by #94414

[2022-03-01 14:54] #89682 closed

[2022-03-01 15:03] LHolten commented on #87335
My bad if this has been suggested before;

Instead of requiring the "let else block" to diverge, you could make it work the same as the `else` case of an `if let` statement.
This implies a straigtforward desugar:
[code]
always desugars to
[code]
As a result we would have implicit return for `let else` statements outside loops and implicit continue for `let else` statements inside loops.
[code]
Adv

[2022-03-01 15:28] andylizi commented on #87335
This would probably cause endless confusion…… No one could possibly guess that `snippet 2` won't be executed, as this behavior differs from literally every programming language in existence.

[2022-03-01 15:39] Mark-Simulacrum commented on #94345
@craterbot retry-report name=beta-1.60-1

[2022-03-01 15:45] jyn514 commented on #94408
The fix in https://github.com/rust-lang/rust/pull/94409 seems wrong to me - if bootstrap isn't rerun when `RUSTC` changes, it will still break moving the `build` directory, even if the path is absolute. If you want to fix it properly, you'd probably have to remove this handling from the build script altogether and into rustbuild instead.

[2022-03-01 15:48] RalfJung commented on #94474
Ah, now division needs `simd_select`:
[code]
@workingjubilee in the docs it says this is equivalent `(yes & m) | (no & (m^-1)` -- so, both `yes` and `no` need to be fully initialized? That's different from the `select` LLVM operation so I am slightly surprised. (OTOH this intrinsic is by-value and its type would not allow uninit data anyway so I guess the question is somewhat moot.)

[2022-03-01 15:49] Mark-Simulacrum commented on #94408
I'm not sure I follow your logic -- bootstrap is still rerun when RUSTC changes, just not when it is a relative path. My assumption (perhaps wrong, happy to be corrected) there is that a relative path is only encountered when we're being invoked with a more global rustc (e.g., /usr/bin/rustc, which is in PATH normally).

[2022-03-01 15:54] RalfJung commented on #94408
Nothing changed about rebuilds when `RUSTC` changes. The PR only changes things about rebuilds when `PATH` changes bust `RUSTC` stays the same.

Put differently: we still emit `rerun-if-env-changed` for every env var we actually read. If we had build script helpers for `var_os` that do the `rerun-if-env-changed` automatically, then they would behave like the post-https://github.com/rust-lang/rust/

[2022-03-01 16:40] jplatte commented on #27747
This issue is still referenced in at least two `#[unstable]` attributes here: https://github.com/rust-lang/rust/blob/f0c4da49983aa699f715caf681e3154b445fb60b/library/alloc/src/str.rs#L78

It seems like those need to be rewritten, right?

[2022-03-01 16:42] matthiaskrgr commented on #94444
Yes, not crashing anymore =)

[code]

[2022-03-01 16:52] bjorn3 commented on #94408
It checks for `is_relative()` and not for a lookup.

[2022-03-01 16:53] workingjubilee commented on #94474
Whoops.
Yes, that's the intent, it's also called a "blend" in SIMD jargon. It not having much in common is due to it merely having a shared name from outside the LLVM terminology.

[2022-03-01 17:17] m-ou-se commented on #93740
Next up: **Wine**

We don't have the source code to Microsoft's SRW locks and condition variables, but we do have the source code to Wine, which implements these as well. However, while they have to be the same size as Microsoft's implementation, they are implemented very differently and you'll see very different bit patterns in them if you inspect them while they are in use.

#### Reader-writer l

[2022-03-01 17:43] kckeiks opened #94492 "Suggesting adding lifetime to return type"
When there is a (elided) lifetime mismatch, we output a hint to introduce a lifetime but the hint does not suggest adding a lifetime to the return type.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should also suggest adding `'a` to the return type:

[code]

[2022-03-01 17:52] kckeiks commented on #94492
The diagnosis error shown in the issue description is created by the type `NiceRegionError`.
There is another type, `LifetimeContext`, that displays a better hint for similar code:

[code]
Output:
[code]

These types have different information about the code, for example, `LifetimeContext` has span info for all parameters in function so it can produce a nice suggestion but `NiceRegionError` has "r

[2022-03-01 17:55] oribenshir commented on #78543
Trying my luck with solving this issue #94493, followed the solution laid above by @davidtwco

[2022-03-01 17:56] kckeiks commented on #94492
@rustbot label P-low

[2022-03-01 18:21] xFrednet commented on #85549
Hey, while implementing the `expect` attribute in rust-lang/rust#87835 I came across a discussion in the RFC suggestion to change the `expect` attribute name to something else. (Initiated by @Ixrec https://github.com/rust-lang/rfcs/pull/2383#issuecomment-378424091, suggestion from @scottmcm to use #[should_lint(...)] https://github.com/rust-lang/rfcs/pull/2383#issuecomment-378648877). No real conc

[2022-03-01 18:37] matthiaskrgr commented on #94458
Getting this too.

[code]

[2022-03-01 18:55] JKAnderson409 commented on #90107
Hi @henrifrancois! I'd like to claim this issue if you're interested in releasing it.

[2022-03-01 18:58] nikomatsakis commented on #64926
@rfcbot fcp merge

Sounds good to me! Thanks @Aaron1011!

@RalfJung or @oli-obk would love your verbal "ok" here :)

[2022-03-01 19:05] workingjubilee commented on #94474
I don't think it strictly has to have both being init, though... for this purpose, it is sufficient to assume that the stated equivalence holds in the case of uninit data only both sides are implicitly frozen by this operation. The important detail is that the operation is fully branchless: it may be valid to execute it using branches, but it does not need any to complete.

[2022-03-01 19:12] RalfJung commented on #94474
Well, it is still quite relevant whether calling the intrinsic with uninit data in a "dead" element is UB or not.

But for now I will simply make it UB, and then if that is ever a problem we can see what we want to do.

[2022-03-01 19:16] workingjubilee commented on #94474
It should not be, though I think that the resulting vector from a `simd_select` should always be fully initialized as a weak postcondition, which means it may be UB if both sides of a selection are uninitialized data. We don't have MaybeUninit vectors yet though.

[2022-03-01 19:20] RalfJung commented on #94474
In that case, at least on the LLVM side, equivalence with `(yes & m) | (no & (m^-1)` does not hold -- under that equivalence, if any input is `poison`, the output will be `poison`.

That seems like an odd requirement, what would motivate this?

Definitely.

Yeah so in a sense the discussion is rather moot currently and maybe I shouldn't have started it. (But by default Miri does not check integer

[2022-03-01 19:30] workingjubilee commented on #94474
Because ultimately, `simd_select` is "really" trying to be
https://www.felixcloutier.com/x86/blendps

And there's a suite of separately-defined LLVM intrinsics... the `llvm.vp` intrinsics... that we will probably introduce Rust equivalents if we get around to working with MaybeUninit vectors. And all of those will probably use `masked_` or something in their nomenclature.

[2022-03-01 20:09] RalfJung commented on #94474
I don't understand how that motivates introducing UB when "forwarding" uninit data.

I expected the type of `simd_select` with `MaybeUninit` to be something like `simd_select(mask: Mask<N>, yes: MaybeUninitVec<N>, no: MaybeUninitVec<N>) -> MaybeUninitVec<N>`. Such an intrinsic could even be safe to call, but requiring the "selected" values to be initialized would prevent that, and I do not underst

[2022-03-01 20:13] xFrednet commented on #54503
Hey, while implementing the `expect` attribute in rust-lang/rust#87835 I came across a discussion in the RFC suggestion to change the `expect` attribute name to something else. (Initiated by `@Ixrec` https://github.com/rust-lang/rfcs/pull/2383#issuecomment-378424091 and the suggestion from `@scottmcm` to use #[should_lint(...)] https://github.com/rust-lang/rfcs/pull/2383#issuecomment-378648877). N

[2022-03-01 20:52] oli-obk commented on #64926
Yea, this is a harmless change. Though we should add a test for each calling convention that we support to make sure it actually works in a const context. Or restrict the stabilisation to Rust and C calling conventions.

[2022-03-01 20:53] oli-obk commented on #54503
Changing the name can be some before stabilization, so imo you can just roll with `expect`

[2022-03-01 21:08] RalfJung commented on #64926
Same here, no objections from my side.

Nobody is going to expect that Rust-defined `const extern "C" fn` can be called in a C++ constexpr, right?^^

[2022-03-01 21:53] daprilik opened #94500 "`-D warnings` should deny warnings from lint renames"
### Description

e.g: setting `-W clippy::disallowed_type -D warnings` when invoking clippy currently results in the following warning:

[code]

...when this should be a hard error (due to the `-D warnings`)

### Version

[code]

[2022-03-01 21:53] daprilik commented on #94500
(cross posted from https://github.com/rust-lang/rust-clippy/issues/8485)

[2022-03-01 22:04] workingjubilee commented on #94474
Hmm, perhaps you are right then.

[2022-03-01 22:11] joshtriplett opened #94501 "Tracking Issue for core_ffi_c"
Feature gate: `#![feature(core_ffi_c)]`

This is a tracking issue for providing the aliases for C types (`c_int`, `c_char`, etc) via `core::ffi`, not just via `std::os::raw`. The ability to interoperate with C code via FFI is not limited to crates using `std`; this allows using these types without `std`.

### Public API

[code]

The existing types in `std::os::raw` will become type aliases for the

[2022-03-01 22:24] scottmcm commented on #56167
One thing I wanted to record for consideration in whatever this becomes:

It's certainly true that for unknown generic types, one cannot trust the `Hash` impl, and thus can't trust `HashMap` for arbitrary generic types when it comes to soundness.

But it might be nice to be able to trust, say, a `HashMap<usize>` (type and hasher both from the standard library) that someone gave you in your unsafe

[2022-03-01 22:52] Mark-Simulacrum opened #94502 "regression: ICE -- bad ConstKind after monomorphizing"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in a number of crates:

May be a duplicate of https://github.com/rust-lang/rust/issues/93002, but filing this as a dedicated bug with a rough list of affected crates in Crater.

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/mpancia.aoc2020/log.txt
* https://crater-reports.s3.amazonaws.com/beta-

[2022-03-01 23:00] Mark-Simulacrum opened #94504 "regression: abs_diff parameter types"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in a number of crates:

cc https://github.com/rust-lang/rust/issues/89492 (tracking issue, should probably be closed as feature is stable?)

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/reg/genevo-0.7.0/log.txt (looks like only tests affected in this crate)

[code]

[2022-03-01 23:06] Mark-Simulacrum opened #94506 "regression: MIR assertion failure ICE"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue:

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/playXE.Jazz/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/Ahrimanox.strategy_game/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/Sonnenhut.aoc2019/log.txt
* https://crater-report

[2022-03-01 23:06] Mark-Simulacrum opened #94507 "regression: Display and Debug for ErrorKind"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in a number of crates:

* lightning-0.0.104:
  * https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/reg/lightning-background-processor-0.0.104/log.txt
  * https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/reg/lightning-block-sync-0.0.104/log.txt
  * https://crater-reports.s3.amazonaws.c

[2022-03-01 23:09] Mark-Simulacrum opened #94508 "regression: hard error on #[test] attribute on non-associated function"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in a number of crates:

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/zetok.tox/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/yytian.bignum/log.txt

[code]

cc @estebank - https://github.com/rust-lang/rust/pull/92959 seems like the likely cause

[2022-03-01 23:10] Mark-Simulacrum opened #94509 "regression: stack overflow in InvocationCollector"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in:

https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/reg/k2_tree-0.5.2/log.txt

[2022-03-01 23:13] Mark-Simulacrum opened #94510 "regression: hard error on ? in type"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue in:

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/reg/fn_block-0.2.1/log.txt

[code]

cc @estebank likely introduced by https://github.com/rust-lang/rust/pull/92746

[2022-03-01 23:33] Mark-Simulacrum opened #94511 "regression: ICE adjusting Expr can't compose Pointer(Unsize)"
[Crater](https://github.com/rust-lang/rust/issues/94345) picked up this issue:

* https://crater-reports.s3.amazonaws.com/beta-1.60-1/beta-2022-02-22/gh/cpg1111.conspect/log.txt

[code]

[2022-03-01 23:56] RalfJung commented on #71146
Yeah, purely from a perspective of #73987, stabilizing NonNull::len seems fine. It would encourage some odd coding patterns (turning a raw slice ptr into a NonNull to get its length, unnecessarily asserting non-nullness) -- but arguably the coding patterns that were just suggested in this thread are worse.^^

@Pointerbender you don't need the blessing of the original authors to push a feature over

[2022-03-02 00:56] Dylan-DPC commented on #94379
output from cargo-bisect:
[code]

[2022-03-02 01:54] #94444 closed

[2022-03-02 03:02] sopium commented on #76892
Now that inline assembly is in stable, it can used to preventing “memset” from being optimized out, right?

[code]

This wastes a register, but generates optimal code for the “memset”, especially when inlined and the size of the buffer is known and a multiple of e.g. xmm register size.

cc https://github.com/RustCrypto/utils/issues/743

[2022-03-02 04:39] estebank commented on #94510
Oh that sucks... :(

Feel free to revert and backport. It likely only affects macros and can be fixed easily, but have the time now to look for it.

[2022-03-02 05:00] hi-rustin commented on #94454
@rustbot claim

[2022-03-02 06:22] matthiaskrgr commented on #94382
I was playing around and generating rust code using markov chains and filtering out the compiler crashes 😁
So probably not with fixing them.. ^^

[2022-03-02 06:54] ChayimFriedman2 commented on #93980
@rustbot release-assignment

I don't have time for that now. If somebody wants to pick it and work on it, feel free.

[2022-03-02 06:55] compiler-errors commented on #93980
@rustbot claim

[2022-03-02 08:09] #92789 closed

[2022-03-02 08:50] oli-obk commented on #94382
Yea, if your generated code, contains feature gates like `platform_intrinsics`, `intrinsics` or `no_core`, you will run into lots of ICEs, but few of them actionable. I recommend explicitly rejecting programs with such feature gates.

That said, we should totally talk. I want to start generating some random programs, too, but instead of finding crashes I want to find UB in safe code.

[2022-03-02 08:50] #94382 closed

[2022-03-02 09:09] matthiaskrgr opened #94516 "ICE: no type for local variable"
### Code
code from `./src/tools/rustfmt/tests/source/expr-block.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-02 09:22] matthiaskrgr commented on #94516
searched toolchains 48132caac241b4a278d58e1d791c6d31f7439ad6 through f0c4da49983aa699f715caf681e3154b445fb60b

********************************************************************************
Regression in 6e5a6ffb14fc47051b0a23410c681ad6e4af045f
********************************************************************************

probably #94438  cc @compiler-errors

[2022-03-02 09:34] oli-obk commented on #94511
Should probably become a delay span bug, I don't see this happening unless there are other errors involved

[2022-03-02 10:21] grelative opened #94518 "Concurrency bugs in mpsc's stream and shared mode"
# Case 1
If a reader wait on` recv_timeout()`  wakeups because of timeout, that reader will first call `abort_selection()` to clear the signal_token, then do another `try_recv()`, and return whatever` try_recv()` got.  Howerver if a `send()` operation happen after the reader wakeup and finish before the `try_recv()` got to execute, the `try_recv()` will return the data from that `send()` operation

[2022-03-02 11:06] leonardo-m opened #94519 "[ER] A simple case of missed type inference"
A type inference problem:

[code]

In the second case the added : [_; _] adds very little information, at best it just states it's an array. I think Rustc could perform this little step and accept the "spam" case too.

[2022-03-02 12:46] b-naber commented on #94502
Does a crater run use nightly?

None of the changes we made are in nightly right now. Only one PR was merged, but that was later reverted.

[2022-03-02 13:11] andylizi commented on #87335
Yeah, "every language in existence" is probably a bit of an exaggeration. I was more referring to the behavior of "code blocks". While we're reading code and we see a closing brace, we wouldn't expect it to implicitly diverge. For example:
[code]
[code]
It really does go against one of the first instinct we got for curly-braced language.

And while I know little about Lean or functional languages

[2022-03-02 14:24] Dylan-DPC opened #94523 "ICE in rollup"
ICE encountered in a [rollup](https://github.com/rust-lang/rust/pull/94521#issuecomment-1056918044), will post more details when i trace it further:

[2022-03-02 15:29] bstrie commented on #94501
To clarify, was https://github.com/rust-lang/rust/pull/94503 able to avoid insta-stability of the new items? There seems to be some confusion as to whether or not type aliases respect stability markers.

[2022-03-02 15:34] yoshuawuyts opened #94526 "Nightly regression for `#![feature(with_negative_coherence)]`"
[This branch](https://github.com/yoshuawuyts/rust/tree/future-for-termination-3) used to compile, and now ICEs. It seems recent change to our negative coherence impl have broken the implementation, causing the compiler to fail. Thanks!

r? @spastorino

# Stacktrace
<details><pre>
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler\rustc_trait_selection\src\traits\coh

[2022-03-02 16:05] #94462 closed

[2022-03-02 16:08] andylin2004 opened #94528 "Rust language guide html page seems to be missing on stable-aarch64-apple-darwin builds of Rust"
I tried this command on my MacBook Air M1 using the stable-aarch64-apple-darwin build of Rust:

[code]

I expected to see this happen: The html page to the Rust language guide opens up in my browser of choice.

Instead, this happened:

[code]

[2022-03-02 16:50] yanok commented on #38206
Yes, I have a commit for this bug. I wasn't happy about it somehow and wanted to do some more but I guess I will make a PR and discuss it with reviewers.

[2022-03-02 16:57] Urgau commented on #94523
I am able to reproduce the issue with this code:
[code]
And it's combination of https://github.com/rust-lang/rust/pull/94433 ("introduce" the ICE, preexisting issue) and https://github.com/rust-lang/rust/pull/94298 (trigger the lint which trigger the ICE).

[2022-03-02 17:14] RalfJung commented on #94382
To be fair, the ICE error message explicitly tells people to report these as bugs, so we shouldn't be surprised about reports like this. ;)

[2022-03-02 17:17] krasimirgg commented on #81490
We don't need to preserve relative order between `--extern` and `-l`/`-C` link args. Tangentially, I noticed that `CodegenOptions::pre_link_args` also exists, [AFAIK not available as a rustc flag]. That seems like another little reason to use `-l link-arg=something`.

@petrochenkov does the following sound good:
1. We still reference the same RFC, updating the link order section accordingly.
2. We

[2022-03-02 17:33] Gankra commented on #54341
Sorry to be That Girl and bump this ancient topic, but I have spent the last couple weeks getting repeatedly stymied by this issue. Here is a writeup of the situation *as I understand it*, in the hopes that it encourages/helps progress.

----

# Terminology

I will be using the same terminology as my article on rust layouts and abis[5].

A type's (target-specific) *layout* is its size and align, a

[2022-03-02 17:36] zerj9 commented on #94528
Looks like this is a known issue. There's a workaround here: https://github.com/rust-lang/rustup/issues/2692#issuecomment-848406797

[2022-03-02 17:42] Urgau commented on #94523
Further reduced to:
[code]

[2022-03-02 17:44] ehuss commented on #94528
This has been fixed in 1.60 via #92800.

If you install beta or nightly, you should be able to get the rust-docs component.  This should hit stable in about 5 weeks.  Closing as fixed, however, feel free to let us know if it is not working in newer releases.

[2022-03-02 17:44] #94528 closed

[2022-03-02 18:08] ratmice commented on #94458
How about just changing that to `// gdb-command:print/d *char_ref`, which should print the same on old gdb and new?

[2022-03-02 18:23] eddyb commented on #54341
It's hard to be 100% without looking further, but there are two main, mostly-orthogonal, concerns:
* in-memory layout (alignment and field offsets)
  * this one is pretty easy, "just" make sure to put the correct value in `i128_align` instead of doing this kind of complex calculation: https://github.com/rust-lang/rust/blob/c42d846add941a26bd254911e16f02c4a3f9346f/compiler/rustc_target/src/abi/mod.

[2022-03-02 19:01] camelid commented on #21934
Rustdoc would benefit from work on this; see https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/To.20alias.20or.20not.20to.20alias.

[2022-03-02 19:03] joshtriplett commented on #87074
Thanks to @sunfishcode for a detailed review of the issues! All of them but the last feature request are on track now; when those PRs finish getting merged, I'd love to see this proposed for stabilization with a stabilization report.

[2022-03-02 19:04] petrochenkov commented on #81490
@krasimirgg
Sounds ok to me.

[2022-03-02 19:19] m-ou-se commented on #94504
Discucssed this in the libs meeting. Closing this as expected and acceptable breakage.

[2022-03-02 19:19] #94504 closed

[2022-03-02 19:23] ahl commented on #90594
Hit what looks to be the same bug again:

[code]

[2022-03-02 19:24] yaahc commented on #94507
caused by https://github.com/rust-lang/rust/pull/93090

[2022-03-02 19:26] m-ou-se commented on #94507
Discussed in the libs meeting just now. We consider this breakage acceptable.

[2022-03-02 19:26] #94507 closed

[2022-03-02 19:27] nagisa commented on #54341
Clang just `alloca i128, align 16`s their `__int128`s and copies the value over to the allocas.

All i128s seem to always go through at least one such alloca. However, when passing `__int128`s by value I believe clang will still might produce stack layout that's not compatible with gcc. E.g. you can see https://godbolt.org/z/v737MzM8Y that one way or another clang will push onto stack a `__int128`

[2022-03-02 19:34] Kixunil commented on #88743
This also affects `pub extern crate` statements.

[2022-03-02 20:11] camelid commented on #93690
The issue is fixed on nightly but still present on beta. I beta-nominated the PR that fixed it. I'm going to close this issue now.

[2022-03-02 20:11] #93690 closed

[2022-03-02 20:12] joshtriplett commented on #94026
cc @Amanieu for summary of libs discussion and reply

[2022-03-02 20:14] compiler-errors commented on #94516
I can look into this

@rustbot claim

[2022-03-02 20:26] matthiaskrgr commented on #94502
Reduced a bit from https://github.com/deaz/adventofcode-2018:

[code]

This crashes on beta but not on stable or nightly.

[2022-03-02 20:27] digama0 commented on #87335
It's not implicitly diverging, it's going to the end of the block. Saying that it "implicitly diverges" is the same as arguing that a `loop `"implicitly diverges" when you reach the end of the body and go back to the start, or an `if` "implicitly diverges" when you reach the end of the then block and skip the rest of the `else if ... else` stuff. It's a jump to a lexically well defined location (t

[2022-03-02 20:55] m-ou-se commented on #41263
This was discussed in the libs-api meeting just now. We discussed how this method is used in Cow's clone_from implementation, and how that seems to be a good reason to stabilize this function and allow others to imlement it.

@rfcbot merge

[2022-03-02 21:09] Pointerbender commented on #71146
Oh! That is very good to know, thank you @RalfJung :) I'm gonna find out how to get an FCP started for a partial stabilization (just for `NonNull<[T]>::len`) and then report back here ([zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/First.20time.20going.20through.20FCP/near/273875556)).

[2022-03-02 21:58] joshtriplett commented on #64926
@RalfJung That's something that would need defining on the C++ header side. (And if such a mechanism exists, cbindgen/cxx could generate it given `const extern fn`.)

[2022-03-02 22:03] the8472 commented on #94518
The current implementation of mpsc is in the process of being replaced (#93563) due to maintainability issues and a long-standing bug that seems related(?) #39364.
That would render this issue moot.

[2022-03-02 22:43] Mark-Simulacrum commented on #77661
I'm going to go ahead and close this issue, as it seems to me that it's largely a consequence of the overall bench design (wall time, not instruction counts, for example) which seems unlikely to get much more sophisticated inside the standard library. And, realistically, unless you're doing software emulation of some kind, most larger benchmarks will have some amount of uncertainty, especially if

[2022-03-02 22:43] #77661 closed

[2022-03-02 23:10] Mark-Simulacrum commented on #29553
This has been discussed numerous times across various RFCs and internals threads over the last ~7 years (and probably before then, too), and the latest 'next step' towards stabilization here seems to be the custom test frameworks RFC (tracked in https://github.com/rust-lang/rust/issues/50297). That RFC and implementation seem unlikely to be pushed over the finish line -- even for a working, usable

[2022-03-02 23:31] joshtriplett commented on #89780
@rfcbot merge

[2022-03-03 01:41] rex-remind101 opened #94542 ""Illegal instruction" on 1.59"
I tried this code:

large private repo.

But altered our Dockerfile as such:
before:
`FROM rust:1.57.0 as base`
after:
`FROM rust:1.59.0 as base`
updating our rust version.

We use actix, and now `cargo run --release` results in the following soon after the web application starts:
[code]

If we run locally (not docker) using `cargo run --release` we get a similar error:
[code]

If we run locally n

[2022-03-03 01:47] rex-remind101 commented on #94542
Found though seems smaller in blast radius https://github.com/rust-lang/rust/issues/82278

[2022-03-03 01:56] joshtriplett commented on #94501
@bstrie It appears so: https://doc.rust-lang.org/nightly/core/ffi/type.c_ulong.html shows up as unstable, while https://doc.rust-lang.org/nightly/core/ffi/type.c_ulong.html shows up as stable.

[2022-03-03 01:58] rex-remind101 commented on #94542
I think I may have isolated the issue. There was a recent update in our panic handling. It's possible that that is panicing itself.

[2022-03-03 02:01] rex-remind101 commented on #94542
Yes, my mistake. This is an issue internally. My hope would be that Rust could provide a clearer error message, but will close.

[2022-03-03 02:01] #94542 closed

[2022-03-03 02:02] OleStrohm opened #94543 "Unary operators do not add bounds to closure, instead just errors"
I tried this code:

[code]
Howevery this unexpectedly fails, requiring the type to be specified in the closure definition. `(|a| a + a)(42)` on the other hand works just fine.

Digging a little deeper I discovered this related problem. It seems that the unary operator doesn't add an implicit trait bound to the closure, and instead just gives an error immediately.
This seems to be the behaviour for

[2022-03-03 03:29] JakobDegen commented on #91095
I don't really see how there's more than one option here. For `Option<NonZeroU8>` and any other enum for which we may want to do layout optimizations in the future (ie all of them), we have to ban calling discriminant on `Some(uninit)`, since that's just `uninit`. That means that at least for the stable `mem::discriminant` of user code, I think the reasonable rule to choose is this:

For SB this c

[2022-03-03 03:34] JakobDegen commented on #91095
Note that this doesn't necessarily have to make the elaborate drops code wrong, if we decide that moving out leaves the value initialized (not that I'm advocating for that)

[2022-03-03 05:26] JmPotato commented on #90779
@rustbot claim

[2022-03-03 06:56] #90553 closed

[2022-03-03 06:56] #93623 closed

[2022-03-03 06:56] #77030 closed

[2022-03-03 06:58] JmPotato commented on #87766
Hi! I noticed that it had been a while since the last update of this issue, so I took some time to clean up the std library's `![feature]`s. Could you please take a look at #94546, thx!

[2022-03-03 07:13] Nilstrieb commented on #93958
This is a known issue with incremental compilation and should be fixed on nightly.

[2022-03-03 09:30] Kixunil commented on #29553
@Mark-Simulacrum as far as I can see the only part that *the language has to* support is preventing optimizations - stabilizing `black_box`. Everything else can be built on top using external crates. Am I missing something?

[2022-03-03 10:04] #76709 closed

[2022-03-03 10:08] GuillaumeGomez commented on #75981
@pickfire: There is a work in progress for that (started in https://github.com/rust-lang/rust/pull/84176). I need to write an RFC at some point so we can stabilize it.

[2022-03-03 10:18] lcnr commented on #94502
minimalized
[code]
the issue is that `body.tainted_by_errors` is also set when only emitting a lint

[2022-03-03 10:32] jyn514 commented on #94500
Hmm, I would have expected this to be fixed by https://github.com/rust-lang/rust/pull/82620. Maybe I missed lints that are denied using the CLI.

[2022-03-03 10:54] eddyb commented on #94502
Sounds like this comment might be relevant: https://github.com/rust-lang/rust/pull/93368#issuecomment-1048487073 - i.e. that PR ended up doing a drive-by fix because conflating errors and warnings became a type mismatch at the `DiagnosticBuilder` level.

So you can probably confirm that nightly was broken between #93691 landing (`nightly-2022-02-13`?) and #93368 landing (`nightly-2022-02-26`?), an

[2022-03-03 10:55] SimonSapin commented on #29553
Like `#[test]`, `#[bench]` has special powers not available to `#[proc_macro_attribute]`: all functions in a crate with these attributes are "collected" and then some code is generated at the crate top-level to call them all.

[2022-03-03 11:03] apiraino commented on #94509
addtional info: the crate compiles fine on beta, the crate's tests fail. To reproduce:
[code]
Upgrading the dependency crate `bitvec` (v0.17.4 -> v1.0.0), will cause the crate to stop compiling.

[2022-03-03 11:19] ratmice commented on #94458
A more complicated but future looking fix could be adding `[gdb-version, gdbr-version, gdbg-version]`
PREFIXES to `support/tools/compiletest/src/runtest.rs`
I'm not sure if there is a better way of getting a parsable gdb version than something like:
[code]
This at least seems to avoid color styling output.

[2022-03-03 11:51] koute commented on #91639
I sincerely hope that this isn't made into a hard error, because as soon as this lint is turned on by default I'll be permanently disabling it for all of my projects.

As @petrochenkov said this just makes it painful to refactor code in certain cases (no, I don't want to add a `'_` a thousand times across my whole codebase every time I fiddle with the lifetimes on my types), makes things less ergo

[2022-03-03 12:08] jpcaulfi commented on #25289
Thank you big time! (Worked for WSL2)

[2022-03-03 12:47] jyn514 opened #94556 "Remove most of the logic in fake rustc once `-Ztarget-applies-to-host=true` lands"
https://github.com/rust-lang/cargo/pull/10395/ made it possible to apply RUSTFLAGS to build scripts and proc-macros. Bootstrap currently special-cases this in fake rustc: https://github.com/rust-lang/rust/blob/06460fe72c1ad9962c65f3b7326481a81979f465/src/bootstrap/bin/rustc.rs#L110-L135
We should switch to using `-Ztarget-applies-to-host=true` on the next cargo update.
cc @Mark-Simulacrum @ehuss @

[2022-03-03 12:48] zertyz commented on #90522
+1 here.
I'm experiencing the exact same problem on Rust 1.59.0 and I just confirmed that using LTO="off" allows the PGO compilation -- when LTO="fat" produces the error messages on the OP and LTO="thin" produces other error messages.

Maybe this is a bug -- or, if it is by design, a better error message is needed.

If PGO + FAT LTO is possible, I wonder what would be the combined power of those o

[2022-03-03 13:21] meme opened #94558 "Silenced `unconditional_recursion` when a modified parameter is passed"
Given the following code:

[code]

The current output is:

No diagnostics.

Ideally the output should look like:

[code]

The `unconditional_recursion` fails to detect recursion when a parameter passed to itself has a member call, for example:
 if the call to `.trim()` is removed, the `unconditional_recursion` is presented. Instead, the compiler should also handle cases where the parameter has a m

[2022-03-03 13:33] m-ou-se commented on #93203
I think we should go forward with removing that parameter. I implemented @danielhenrymantilla's suggestion here: https://github.com/rust-lang/rust/pull/94559

[2022-03-03 14:30] sunfishcode commented on #88564
As mentioned in #93354, we looked at several options for what to do about `to_owned` here, but just documenting it seems to be the least bad option. That's now implemented.

https://github.com/rust-lang/rust/pull/88794 added `try_clone()` to `OwnedFd`.

There isn't a `BorrowedFd::try_clone` or `TryFrom<BorrowedFd> for OwnedFd` or equivalent yet. There's nothing fundamentally wrong with it, however

[2022-03-03 14:30] #88564 closed

[2022-03-03 14:46] Mark-Simulacrum commented on #29553
black_box is separately tracked by https://github.com/rust-lang/rust/issues/64102 these days and is not necessary for a baseline stabilization (the closure return value is already passed through a black box, IIRC).

FWIW, I don't personally see bench as *distinct* from test there -- they both share nearly all of the same infrastructure in the compiler and libtest. If we wanted to make test the onl

[2022-03-03 14:50] tmiasko commented on #94558
This was fixed for 1.60 (beta / nightly):

[code]

[2022-03-03 14:52] #72175 closed

[2022-03-03 14:58] ehuss commented on #94500
It's because it is using [`struct_warn`](https://github.com/rust-lang/rust/blob/06460fe72c1ad9962c65f3b7326481a81979f465/compiler/rustc_lint/src/context.rs#L339) which is not a lint, and thus not affected by lint controls.   There's an [MCP](https://github.com/rust-lang/compiler-team/issues/473) to change that, but it never went anywhere.

[2022-03-03 15:10] ehuss commented on #93599
Closing per the comment at https://github.com/rust-lang/rust/issues/94507#issuecomment-1057297130.

[2022-03-03 15:10] #93599 closed

[2022-03-03 15:21] rust-highfive opened #94562 "`miri` no longer builds after rust-lang/rust#94512"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#94512, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-03 15:22] Urgau commented on #92137
See https://github.com/rust-lang/rust/issues/92137#issuecomment-1019519285, in particular:

And

[2022-03-03 16:11] elast0ny opened #94564 "Binary crashes when statically linked with LTO turned on"
I tried this code:
[code]
[code]
Compiled with :
`RUSTFLAGS="-C target-feature=+crt-static" cargo run --release`

I expected to see this happen: Spawn & get output of child `ls` process

Instead, this happened: Program crashes with :
[code]

Disabling LTO or static linking removes  the issue without any code changes.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summ

[2022-03-03 16:31] dtzxporter commented on #92173
Some more details:

- It only happens for me when the block size is 256 bytes.
- Using malloc inception with `DYLD_INSERT_LIBRARIES` and a module linked to the latest `libSystem.B`, the issue does NOT occur.
- It seems to be an issue with `free` as hooking just `realloc` still triggered the issue, and as soon as I hooked free, the issue went away.

[2022-03-03 16:52] henrifrancois commented on #90107
@rustbot unclaim. All yours @JKAnderson409

[2022-03-03 17:04] apiraino commented on #93838
Discussed in T-compiler meeting ([on Zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-03-03.20.2354818.html#273991518))

@rustbot label -I-compiler-nominated

[2022-03-03 17:05] apiraino commented on #94266
Discussed in T-compiler meeting ([on zulip](https://zulip-archive.rust-lang.org/stream/238009-t-compiler/meetings/topic/.5Bweekly.5D.202022-03-03.20.2354818.html#273992443))

@rustbot label -I-compiler-nominated

[2022-03-03 17:37] pnkfelix commented on #83783
@rustbot claim

[2022-03-03 17:40] jonhoo commented on #94556
Ah, so, unfortunately, `-Ztarget-applies-to-host=true` doesn't quite do what it says on the box. I discuss that issue in https://github.com/rust-lang/cargo/pull/10395#discussion_r814356356. Basically, you'll want to move towards `=false`, not `=true`, since `=false` is the "more correct and consistent" behavior. And then you'd want something like `-Zhost-config` on top of that. Alternatively my pr

[2022-03-03 17:46] JKAnderson409 commented on #90107
Thanks! @rustbot claim

[2022-03-03 17:59] Dylan-DPC commented on #94510
working on the revert if nobody has got to it yet

[2022-03-03 18:26] TheBlueMatt commented on #93599
Is there a tracking issue for reconsidering the policy in RFC 1105?

[2022-03-03 18:27] bjorn3 commented on #94564
I can reproduce this issue.

[2022-03-03 19:10] kckeiks commented on #94374
[Looks like](https://github.com/rust-lang/rust/blob/master/compiler/rustc_borrowck/src/diagnostics/conflict_errors.rs#L58) the location of the second arm gets looked at and buffered first before the location of the first arm gets looked at. They ended having the same `moi` and `PlaceRef` so [these](https://github.com/rust-lang/rust/blob/master/compiler/rustc_borrowck/src/diagnostics/conflict_error

[2022-03-03 19:26] linclelinkpart5 commented on #60551
I'm in this exact same scenario, I'm trying to avoid propagating the `N` generic parameter everywhere in my codebase.

[2022-03-03 19:28] newpavlov commented on #94098
Are you sure that `RtlGenRandom` will work in the case of `BCryptGenRandom` failure? I don't think it's correct to introduce such workaround hacks into `std`, since it's clearly an OS problem.

IIUC `RtlGenRandom` is deprecated in favor of `BCryptGenRandom` and ideally should not be used outside of Windows XP. Relevant discussion can be found in: https://github.com/rust-random/getrandom/issues/65

[2022-03-03 19:31] SimonSapin commented on #56167
I’ve [replaced a use of `entry` with `raw_entry_mut`](https://foss.heptapod.net/mercurial/mercurial-devel/-/commit/b577c99cdbc095fd7a7fbd78404739614ebee148) in order to avoid memory allocation for keys already present in a `HashMap`. To simplify, keys in the map are `Cow<'a, [u8]>` and the input is `&'b [u8]`. In some cases lifetimes match so `Cow::Borrowed` can be used, but in other cases `Cow::O

[2022-03-03 19:35] mcy opened #94573 "Poor codegen for string search (i.e., `memchr`) with iterators"
A colleague provided me with [this benchmark](https://quick-bench.com/q/uYm7Wboe6G5KSEsDEXJTtH5oX7M), which compares the following equivalent C++ and Rust:

[code]

[code]

C++ performs 20x better in the microbenchmark. We haven't tried very hard to figure out why, but our suspicion is that Rust's implementation of `memchr` is worse than the one provided by the system that ran the benchmark. C++ a

[2022-03-03 19:36] kckeiks commented on #47727
@rustbot claim

[2022-03-03 19:37] mcy commented on #94573
(I should mention that this used the newest stable rustc and clang as of writing: 1.59 and 13, resp.

[2022-03-03 19:52] workingjubilee commented on #91126
I do not believe these methods are the correct ones.

[2022-03-03 20:08] camelid commented on #94475
Closing this issue as intended behavior.

[2022-03-03 20:08] #94475 closed

[2022-03-03 20:24] RalfJung commented on #91095
That's not actually so bad -- it is, I think, basically what Miri currently does. One "just" implements the logic of determining the discriminant in the obvious way, and if any of the values considered in that process are uninit, we raise UB.

[2022-03-03 20:25] compiler-errors commented on #94511
This is (probably) fixed in #94438. As soon as I fix #94516, we should probably backport both of those together, because there is a potential for more ICEs like this. I can look into making this an MVCE.

[2022-03-03 20:30] gskt17 commented on #94573
OK, I godbolted this and am working through the assembler code. It's definitely using SSE.

[2022-03-03 21:02] JakobDegen commented on #91095
What are the benefits of this though? Users can't stably rely on this anyway, so the only way that they can make use of this is to do some cursed thing where they try and analyze the chosen layout - I'm not even convinced though that it's actually possible to do this for enums the same way it is for structs. Do we expect MIR optimization passes to do this sort of analysis? Do we even want them to?

[2022-03-03 21:02] panstromek commented on #94573
Those function seem different, am I missing something?  C++ version returns true when there are at least 2 dashes, while Rust version returns true when there are at least 3 dashes.

[2022-03-03 21:08] panstromek commented on #94573
Also, when first `sv.find_first_of('-')` returns npos (no dashes), `+1` overflows and the whole string is searched again, which is interesting, but it should still return the correct result.

[2022-03-03 21:14] avirtuos commented on #58635
@Mark-Simulacrum I realize this is an old issue but can you share some insights into why it was decided that sparse files are not something you want to handle? There are a few growing rust projects related to VMMs like ( https://github.com/firecracker-microvm/firecracker ) that are built largely with rust and frequently trip over this limitation.