[2021-12-29 07:22] Stargateur commented on #45222
[code]

produce the more or less the same than your `example` more or less some detail.

Off topic todo: Try out an `Into` implementation when both generic in `ControlFlow` are Identical.

[2021-12-29 07:31] Stargateur commented on #84277
What about implement `From` trait when the two generic of `ControlFlow` are identical as `impl From<ControlFlow<T, T>> for T`. Would allow to use `into()` instead of doing a match "at hand".

Inspired by https://github.com/rust-lang/rust/issues/45222#issuecomment-1002432515

[2021-12-29 07:33] BGR360 commented on #78312
Current output on nightly:

[code]

Send your kudos to @Nilstrieb : https://github.com/rust-lang/rust/pull/90179

[2021-12-29 07:37] BGR360 commented on #79281
It seems the gods of time have smiled upon this one:

[Current output on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bd0a59c89a25d36f65405d6bbea6cff8):

[code]

[2021-12-29 07:47] BGR360 commented on #79879
This seems like it would be a good candidate to apply the language of https://github.com/rust-lang/rust/pull/90179 to.

Here's what I picture:

[code]

I think the key point that wasn't addressed in that PR is that there's an elided lifetime parameter on `A`, but that PR only acts upon elided lifetimes on references (or so it would seem).

cc @Nilstrieb

[2021-12-29 08:09] fee1-dead commented on #91187
Related: #92229 helped by not showing `~const Drop`. We don't really have a policy for documenting experimental features in rustdoc, since `const_trait_impl` is not yet accepted and `~const` is still provisional syntax, this issue is probably currently unactionable.

[2021-12-29 08:47] leonardo-m commented on #45222
LLVM is sometimes able to optimize enough if you have a single inclusive loop. The real problem appears when you have two or three nested inclusive loops. In this case LLVM gives loops with bad efficiency. So I've mostly banned inclusive loops in Rust code.

[2021-12-29 09:16] iliakonnov commented on #92362
As far as I know, it is not possible to use `-Zbuild-std` on non-nightly channels, so I've tried `1.57.0-nightly (5d2a410ff 2021-09-04)` which is the first 1.57.0 nightly — got same SIGTRAP.

[2021-12-29 09:19] devonhollowood opened #92398 "ICE with chumsky crate"
### Code

#### Cargo.toml
[code]

#### src/lib.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

**This bug does not appear to occur in beta or nightly** (`cargo 1.58.0-beta (7f08ace4f 2021-11-24)` and `cargo 1.59.0-nightly (fcef61230 2021-12-17)`). I'm not sure whether it's still useful to report here.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[2021-12-29 09:46] Veeupup commented on #92345
@rustbot claim

[2021-12-29 09:47] Nilstrieb commented on #79879
sounds like a good idea, I'll look into that

[2021-12-29 11:26] Freax13 commented on #92292
I can confirm that this is fixed on the latest nightly.

[2021-12-29 11:34] fee1-dead commented on #92292
It's E-needs-test because that someone should add an ui test for this issue

[2021-12-29 11:40] danielkeller opened #92400 "Rustdoc paragraphs are sometimes individually scrollable"
On Firefox and MacOS, the individual paragraphs in item documentation sometimes scroll internally. This appears to happen when the cursor is on the top or bottom row of pixels of the paragraph, right where the cursor changes to a text cursor. If I remove the overflow-x: auto set on the paragraphs, the problem goes away.

[2021-12-29 12:26] GuillaumeGomez commented on #43882
I guess so.

[2021-12-29 12:26] #43882 closed

[2021-12-29 12:26] #43265 closed

[2021-12-29 12:44] Alexendoo commented on #91502
Fixed by #92112

[2021-12-29 12:44] #91502 closed

[2021-12-29 12:45] GuillaumeGomez commented on #92400
Do you have a URL so I can test it locally (and also a screenshot to see where precisely)?

[2021-12-29 12:50] GuillaumeGomez commented on #92379
I don't have the completely broken page:

![Screenshot from 2021-12-29 13-49-56](https://user-images.githubusercontent.com/3050060/147664089-9242d911-7035-481a-b4df-45f5528bc21e.png)

Which rustdoc version did you use?

[2021-12-29 13:20] iliakonnov opened #92403 "Found unstable fingerprints for exported_symbols with custom target"
First of all, this is known issue (unstable fingerprints, https://github.com/rust-lang/rust/issues/84970), I'm just adding another case.

### Code

1. Create minimal no_std application. See [smallest no_std](https://docs.rust-embedded.org/embedonomicon/smallest-no-std.html) for example.
    <details>
    <summary>Code</summary>

[code]

    <details>
2.  Create custom target specification based on

[2021-12-29 15:04] hkratz commented on #92387
Looks like a cargo issue, as memchr is being built with default features enabled (but only in the workspace):

[2021-12-29 15:15] Yatekii opened #92406 "`rustc` seems to panic when looking up type info for a compiler error."
`rustc` seems to panic when looking up type info for a compiler error.
This does not happen with 01.12.2021 nightly.

### Code

I unfortunately can't really show that because it's huge ... and not public atm.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-29 15:15] hkratz commented on #92362
Not all feature combinations are supported by LLVM. `+soft-float,+sse2` in particular has been known to cause problems. We have issue #89586 for showing a warning for known-bad combinations.

[2021-12-29 15:19] #92100 closed

[2021-12-29 15:28] ehuss commented on #92376
Thanks for the report!  I'm going to close this as a duplicate of #92163.

[2021-12-29 15:28] #92376 closed

[2021-12-29 15:32] ehuss commented on #92387
You'll need to place `resolver = "2"` in the workspace definition.  The new feature resolver is able to avoid unifying features in some cases like this.

There is more information at https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2

Closing as this is working as intended (though I understand it can be confusing).

[2021-12-29 15:32] #92387 closed

[2021-12-29 15:44] hkratz commented on #92163
@rustbot label regression-from-stable-to-nightly

[2021-12-29 16:05] steffahn commented on #92379
@GuillaumeGomez I used
[code]
on Windows. I tested with
[code]
now

![Screenshot_327](https://user-images.githubusercontent.com/3986214/147681038-16211fac-ffeb-46f1-bf93-3cd03943428f.png)

as mentioned above, this result is _**not**_ reproducable on every build, it seems to happen randomly. Try doing `cargo clean` and `cargo doc` a few times, and you _might_ get it. E.g. now, trying it again it to

[2021-12-29 16:13] Javier-varez opened #92407 "Internal Compiler Error using `Box::new_in` and the `allocator_api` feature"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Notes

 - This issue is also reproducible in the [Rust Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=cbd262574473a3a82fb5ddc3e7a1e296).

[2021-12-29 16:21] iliakonnov commented on #92362
Thanks for the comment! I'll close this issue then. Hopefully, it would be helpful for those who will google this problem.

[2021-12-29 16:21] #92362 closed

[2021-12-29 16:28] slightlyoutofphase commented on #67792
Just wanted to say firstly that I think this is a fantastic feature overall which I've been enjoying making use of recently (as it is at least in my perspective robust enough to be fully useful in quite a few scenarios).

That said, there's one thing I wanted to clarify, which is basically just whether I'm correct in assuming that what's demonstrated below is simply a byproduct of the feature not

[2021-12-29 16:35] jackh726 commented on #91395
Looking more into this, it looks somewhat related to the autoderef on `table.blocks()`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=186ffccf48c7b69388263f638a6a4a7b

Still looking

[2021-12-29 16:43] clarfonthey commented on #92384
Reopened now that I've found a proper way to do this. Linked the tracking issue for `~const` since this depends on the semantics of `~const Drop`.

[2021-12-29 16:49] clarfonthey commented on #92380
Going to add this case here as well, since I think it goes along with the trait variant. Take this code: https://gist.github.com/486de68ccf35f90a4e6814365d0ee295

[code]

Gives this output:

[code]

When we could suggest adding a `where Self: ~const Drop` (or better, `where T: ~const Drop`) bound if the user has the right features enabled.

However, we should at least point out that the destructor

[2021-12-29 17:07] GuillaumeGomez commented on #92379
The rustdoc builds are reproducible normally, if not we have a much bigger issue on our hands... At this point, I wonder if the problem isn't your web browser?

[2021-12-29 17:08] clarfonthey commented on #67792
New weird case to cover: I think that `~const Drop` should have its own tracking issue and feature flag, since as I mention in #92385 I think that the semantics are weird enough to warrant their own discussion.

[2021-12-29 17:36] kornelski opened #92410 "Warn about duplicated trait bounds like Send + Send"
[Given the following code: playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d9deba3199038ac6f81c6288cbffaf82)

[code]

There's no warning.

The bug is in `Send` specified twice, instead of one of them being a `Sync`. It would be nice to warn about this, e.g.:

[code]

A `+ Send + Send` has no useful purpose, but it looks very similar to a common `+ Send + Sync`.

[2021-12-29 19:14] JulianKnodt commented on #53827
Would it make sense to create a direct constructor on the array module, such as `boxed_from_fn` which creates a `Box<[T;N]>` type but it operates with a function that takes a `|t: &mut T, i: usize| { <modify t> }`? If the issue is that arrays can't be generated specifically, this might resolve the problem, but if the issue is more broadly that it is annoying to construct boxed objects without stac

[2021-12-29 19:16] steffahn commented on #92379
They aren't reproducible in this case, but I suppose the reason is just that it's because there's two different items that get documented under the same URL? If rustdoc's reproducibility relies on the fact that no two pages go to the same location, then that would make sense to me. You should more easily be able to create non-reproducible results with the original example where I noted

If you bui

[2021-12-29 19:56] ibraheemdev commented on #92410
Duplicate of #88013

[2021-12-29 20:02] ibraheemdev opened #92415 "Implementation of trait is not general enough when boxing future returning `<T as Foo<'a>>::Foo`"
Reproduction:
[code]

Output on stable and nightly:
[code]

Interestingly, the code compiles without the `+ Send`. This may be related to #61949.

[2021-12-29 20:09] afetisov opened #92416 "Invalid reached the recursion limit error: long types where there are none"
I have encountered the weirdest bug. When I run `cargo build` or `cargo test` on my project, compilation fails with the error

[code]

The error mentions long types, but the file mentioned contains the following text:

[code]

which doesn't look like an infinite recursion at all. The function in question looks like

[code]

and the type is

[code]

None of these hint at any possible infinite recur

[2021-12-29 20:40] fweimer commented on #27970
We should be able to make the *internal* `getenv` calls in glibc MT-safe at least. The external interface is a different matter. POSIX even hints towards a thread-safe implementation for the public `getenv` function (*The returned string pointer might also be invalidated if the calling thread is terminated.*), although this would be an observable difference to the C11 `getenv`.

[2021-12-29 21:24] Badel2 commented on #92267
Another test case:

[code]

[2021-12-29 21:27] slightlyoutofphase commented on #92391
One interesting thing to note is that you can currently _use_ all of those primitive types as fields inside structs, implement `const PartialOrd` / `const PartialEq` / etc for the structs, and then have `const fn`s defined with the appropriate `~const` bounds work completely fine with them.

However, `const` "free" functions attempting to operate _directly_ on the primitive types just do not work,

[2021-12-29 22:04] weirane commented on #92292
I'm interested in working on this. Could you tell me where should the test be added? It seems to be somewhere inside `src/test/ui`.

[2021-12-29 22:12] wtfsck commented on #91809
I'm also getting a16f686e4a0ea15dcd3b5aa3db7b1cba27bb9453 as the culprit but I agree it doesn't look like the correct commit since it's cargo related.

`cargo-bisect-rustc` also said these regressed

- RESULT: dfc5add915e8bf4accbb7cf4de00351a7c6126a1, ===> Yes
- RESULT: 5728bd64b49b0e78d0180efed75ef0870ae60266, ===> Yes

Full output:

[code]

[2021-12-29 22:30] inquisitivecrystal commented on #92292
I might go with `src/test/ui/traits/issue-92292.rs`. There isn't really much dark magic to picking which directory to file something under; there are a few directories that aren't really used anymore, but other than that, it's just a matter of picking something that makes sense.

[2021-12-29 22:35] weirane commented on #92292
@rustbot claim

[2021-12-29 22:42] Aaron1011 commented on #92403
When a custom target triple is in use, we only hash the path to the JSON file, not the actual contents:

https://github.com/rust-lang/rust/blob/78fd0f633faaa5b6dd254fc1456735f63a1b1238/compiler/rustc_target/src/spec/mod.rs#L2364-L2369

Since custom targets are (as far as I know) permanently unstable, I don't think this urgently needs a fix. If you're working on a custom target, you can run `cargo

[2021-12-29 22:42] GuillaumeGomez commented on #92379
Oh hold on, that might be a windows-specific issue: I wonder if the file is being written from two places at the same time (we have a thread handling file writing on Windows).

[2021-12-29 22:49] bugadani commented on #92407
Seems like a duplicate of #92054

[2021-12-29 22:55] #92410 closed

[2021-12-29 23:08] jsha opened #92421 "Overflow in sidebar heading "See all _ items""
When a crate name is long, the "See all `<crate name>` items" heading in the sidebar overflows its box.

E.g.: https://docs.rs/trillium-caching-headers/0.1.0/trillium_caching_headers/index.html

![image](https://user-images.githubusercontent.com/220205/147709544-de8a0f87-8607-4092-813c-3c0106a10c79.png)

Note that `Crate trillium_caching_headers` above it does not overflow, because it has `word-wr

[2021-12-29 23:16] jonhoo opened #92422 "Unhelpful error when `Cargo.toml` is missing `edition` key."
Given the following code:

[code]
[code]

The current output is:

[code]

Ideally the output should look like:

error[E0432]: unresolved import `anyhow`
 --> src/lib.rs:1:5
  |
1 | use anyhow::*;
  |     ^^^^^^ maybe a missing crate `anyhow`?
               hint: try adding an `extern crate` or move to a newer Rust edition
[code]

[2021-12-29 23:51] Aaron1011 commented on #91966
Related: this code:

[code]

produces the following error:

[code]

[2021-12-29 23:53] Aaron1011 commented on #41078
Related: https://github.com/rust-lang/rust/issues/91966

[2021-12-30 00:02] camelid commented on #91809
FWIW, that doesn't mean _those commits_ regressed; it just means the regression was present in them. I.e., it very well may have occurred before them.

[2021-12-30 00:28] JakobDegen opened #92424 "Type inference gets confused by method call in closure"
On both `rustc 1.59.0-nightly (83b15bfe1 2021-12-28)` and `rustc 1.57.0 (f1edd0429 2021-11-29)`, this code:

[code]

Errors:

[code]

Annotating the parameter with `: u8` fixes the error. Annotating the output type does not. Replacing the body with:

[code]

also does not produce the error.

I may not understand type inference well enough, but this feels like a bug. If the type of `s` can be deter

[2021-12-30 00:44] inquisitivecrystal commented on #92267
I'm somewhat confused. Are you getting the same error from this? I'm having trouble reproducing.

[2021-12-30 01:05] JakobDegen commented on #92424
Ah, this is fixed by switching the order of the expressions in the tuple. This is apparently a known restriction, so I'm going to close this for now. If anyone finds something concrete here to work on, feel free to re-open

[2021-12-30 01:05] #92424 closed

[2021-12-30 01:49] inquisitivecrystal commented on #92267
The problem seems to reside within the crate `rustc_builtin_macros`, in the files `format.rs` and `format_foreign.rs`. The function `expand_preparsed_format_args` in  `format.rs` has a macro, `check_foreign!`, which is in charge of looking for foreign substitutions - that is, someone using printf or shell style formatting rather than Rust's style. It's a macro so it can be generic over the two typ

[2021-12-30 02:16] jackh726 commented on #91395
Ok, so I'll talk to Niko about this sometime soonish, but for now, here's a basic analysis of what's going on. I'll use the `Foo` trait from the playground above rather than `Iterator`, just for simplicity.

When we call `table.blocks()`, rustc essentially makes the return of this `<T as Table>::Blocks<'_#1r>` , where `'_#1r` is some lifetime. Then, we call `blocks.item()` to get a `block` of type

[2021-12-30 02:47] humenda commented on #92387
Thanks for the explanation. This has been a long debugging session, so your
pointer is appreciated :).

Ok, I was assuming that it would be active with all crates being at edition=2021.

Thanks again

[2021-12-30 04:45] dwrensha commented on #92267
Something is broken about `printf::Substitutions::pos`.

This change makes the ICE go away (but probably breaks other things):

[code]

[2021-12-30 04:50] DemiMarie commented on #27970
@fweimer would it be possible to provide a way for Rust to detect this at runtime?

[2021-12-30 05:05] dwrensha commented on #92267
When `parse_next_substitution()` returns here: https://github.com/rust-lang/rust/blob/d331cb710f0dd969d779510a49a3bafc7f78a54e/compiler/rustc_builtin_macros/src/format_foreign.rs#L343
it seems like we should increment `self.pos` by `start + 2`, but we actually only increment it by 2: https://github.com/rust-lang/rust/blob/d331cb710f0dd969d779510a49a3bafc7f78a54e/compiler/rustc_builtin_macros/src/f

[2021-12-30 05:31] DemiMarie commented on #27970
@fweimer Would it be desirable to:

1. Issue an advisory for this, so that it gets backported by distribution maintainers, and
2. Provide an interface that Rust can use at runtime to detect a patched glibc?

@RichFelker would you be interested in changing this in musl?

[2021-12-30 05:39] leo60228 commented on #27970
This issue doesn't solely apply to glibc and musl. We'd need to ensure this for every target, or get it changed in the standard. I don't think either option is feasible.

[2021-12-30 05:45] Xaeroxe opened #92428 "windows_subsystem isn't documented anywhere"
The feature made available at https://github.com/rust-lang/rust/issues/37499 isn't documented in the rust book, the cargo book, or the std library documentation. It's not clear how people are supposed to discover this without combing the RFCs.

[2021-12-30 05:49] saethlin commented on #27970
Patching POSIX/glibc has been proposed in the IRLO thread linked above. I don't think it's a good solution because this takes the ability to fix things out of the hands of the Rust programmers, and in many cases leaves us at the behest of whatever distro we happen to be using (there is at least one comment to this effect in the thread). And in addition, this does nothing to help with programs or l

[2021-12-30 06:03] Xaeroxe commented on #92428
Nevermind, found it https://doc.rust-lang.org/reference/runtime.html#the-windows_subsystem-attribute

[2021-12-30 06:03] #92428 closed

[2021-12-30 07:31] JonathanWoollett-Light opened #92429 "thread 'rustc' panicked at 'index out of bounds: the len is 375 but the index is 375'"
### Code

The project repo [rust-code](https://github.com/JonathanWoollett-Light/rust-ad)

(minimal example currently WIP)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-30 07:34] JonathanWoollett-Light commented on #92429
It is worth mentioning I am aware this is improper usage of my own macros. This shouldn't however trigger a rustc error.

[2021-12-30 07:50] compiler-errors commented on #71723
This has bitten me a few times, so I sat down and tried to work on this. I think I've written an (at least partial) solution towards this issue.

I'll put up a (WIP) PR tomorrow or so, so people can take a look at my solution.

cc: @nikomatsakis, who owns this issue currently

[2021-12-30 08:50] JonathanWoollett-Light commented on #92429
The error in the full context of the repo being:
[code]

[2021-12-30 08:58] JonathanWoollett-Light commented on #92429
Need refining error

[2021-12-30 09:21] apiraino commented on #92163
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392163.20failed.20to.20lookup.20.60SourceFile.60.20in.20new.20context) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high +T-compiler

[2021-12-30 09:31] QiangHeisenberg commented on #91661
Plus, there's a bit of annotation problem, and it seems that large paragraphs of comments are also counted.
![image](https://user-images.githubusercontent.com/46313511/147739259-ebc22844-94a1-47b7-b4c2-018c3cd42e7f.png)

![image](https://user-images.githubusercontent.com/46313511/147739212-2c10593e-aac9-4ed7-9684-20bf7f7e0878.png)

[2021-12-30 09:32] apiraino commented on #92178
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392178.20Change.20in.20unrelated.20line.20causes.20compilation.20failure) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-30 09:38] apiraino commented on #91839
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391839.20AVX2.20related.20regression.20introduced.20by.20rust.201.2E56.2E0.20an.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-30 09:48] apiraino commented on #91027
Discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391027.20Incorrect.20Release.20Code.20Generation.20.28Works.20in.20Debug.29) of the Prioritization Working Group.

I'm going to close this as fixed / not reproducible anymore, but please anyone feel free to reopen if I'm wrong here.

@rustbot label -I-prioritize

[2021-12-30 09:48] #91027 closed

[2021-12-30 10:51] pmnoxx commented on #62358
How about using the word `any`?

Right now, you can use the world `any` on iterator
[code]

This also works on iterators from options:
[code]
Using the same name for option, directly, would be more discoverable.
[code]

[2021-12-30 10:57] rimathia opened #92430 "ice after error due to private type alias"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-30 11:03] rimathia commented on #92430
In the concrete state I could get this repeatably calling "cargo build". However, after a "cargo clean" I couldn't reproduce it anymore, so I decided to report it only with the backtrace for now. I do have a git commit with the repo state where I encountered the error, I hope I'll get back to getting a reproduction after a cargo clean.

[2021-12-30 11:05] hkratz commented on #92430
@rustbot label A-incr-comp

[2021-12-30 11:34] #92368 closed

[2021-12-30 11:38] mdibaiee commented on #90703
Hello, is this still being worked on? The last message on the Zulip thread is 25th November. If it's free to pick up I'd be happy to pick it up.

[2021-12-30 11:42] ShadowJonathan commented on #62358
It's been noted earlier in the thread that there are both stances of looking at `Option` as an iterator, and looking at it as it's own thing/`Result`-ish, just fyi.

[2021-12-30 11:45] wtfsck commented on #91809
This seems to be cargo related. I've copied cargo 1.56.1 to stable (1.57.0) and after that it compiles as fast as before.

I can only reproduce it when building with `--release`.

Seems to be https://github.com/rust-lang/cargo/pull/9943

[2021-12-30 12:06] JonathanWoollett-Light commented on #92429
Doing `cargo clean` fixes it.

[2021-12-30 12:06] #92429 closed

[2021-12-30 12:07] scalar438 commented on #70433
It is not reproduces on actual version of rust. On rust 1.56 I got:

   Compiling playground v0.0.1 (/playground)
error[E0381]: use of possibly-uninitialized variable: `x`
 --> src/main.rs:9:14
  |
9 |         drop(x);
  |              ^ use of possibly-uninitialized `x`

For more information about this error, try `rustc --explain E0381`.
error: could not compile `playground` due to previous error

[2021-12-30 12:07] #70433 closed

[2021-12-30 12:22] fweimer commented on #27970
We don't have patches yet. It's unclear how backportable they would be.

This is definitely *not* a glibc security vulnerability (if that's why mean by “advisory”). `setenv` is not required to be thread-safe.

[2021-12-30 12:23] hkratz commented on #91809
@wtfsck Could you run `cargo build -v` once with 1.57.0 + cargo 1.57.0 and once with 1.57.0 + cargo 1.56.1 and compare the `rustc` invocations? That should give us some clue what's going on.

[2021-12-30 12:39] Alexendoo commented on #82866
Fixed by #92237

[2021-12-30 13:02] flip1995 commented on #92163
For people looking for a workaround (without running `cargo clean`) https://github.com/rust-lang/rust-clippy/issues/8164#issuecomment-1001517341:

That worked for me.

[2021-12-30 13:20] Elliot-Roberts commented on #88716
I could write a PR for this and maybe also bundle in a redo of #90292.

[2021-12-30 13:26] pmnoxx commented on #62358
In my opinion current apis for `Option` / `Result`, `Iter<Val>` / `Iter<Result<Val, Error>` are a bit inconsistent.
I found out that I have to learn separate naming for all of those types above. Methods even though they do the same thing ,they are called differently.

I've thought a bit, on how we could make an easy to remember api, that works for both options, results, iterators, iterators of res

[2021-12-30 14:00] afetisov commented on #92416
Here is the smallest example that I could produce:

[code]

`cargo build`:

[code]

The traits are necessary, without them the error disappears, though I don't know if simpler traits could be used. The bodies of all functions are also significant.

[2021-12-30 14:04] torokati44 opened #92436 "Emitted `memset` and `memcpy` are really slow on WASM"
While both functions do the "usual" double-loop pattern, with one loop processing 4 or 8 bytes at a time, and the other one doing the remaining few, sadly, the former one also only does 1-byte wide loads and stores, just has more of them per iteration in series.
This does not look right, it could very well operate on single 32bit or 64bit wide primitives per iteration.

This is what `rustc` emits

[2021-12-30 14:17] JohnScience commented on #68318
Allowing negative trait bounds would make my code much better by allowing to express [di-](https://en.wikipedia.org/wiki/Dichotomy) and [poly-chotomy](https://en.wikipedia.org/wiki/Polychotomy).

In Rust 1.57.0 the following doesn't compile:
[code]

[2021-12-30 14:22] dgrunwald commented on #28785
Apparently `|| println!("Hello World") as ()()` was fixed at some point by the introduction of a "casts cannot be followed by a function call" error, but the issues with the interaction of `..` and lambdas still exist.

[2021-12-30 14:23] dcormier opened #92439 "Error could use some improvement: slice indices are of type `usize` or ranges of `usize`"
I had someone new to Rust ask me about an error he was running into. The problem was very simple, but the error was not clear enough for him to know that. And he was far from the only person to trip over this same error:

- https://www.reddit.com/r/rust/comments/8k4vwc/rust_noob_using_a_value_from_an_array_as_an_index/
- https://users.rust-lang.org/t/solved-need-help-with-slice/24296
- https://sta

[2021-12-30 14:26] wtfsck commented on #91809
@hkratz It was `cargo test --release`. Seems like cargo 1.56.1 and earlier ignored `[profile.release]` (if `cargo test --release`) but 1.57.0 uses it. Removing `--release` and adding a new `[profile.test]` fixes it for me.

[2021-12-30 14:27] theryangeary commented on #90703
Feel free to take it over. I haven't had the time to work on it
unfortunately.

On Thu, Dec 30, 2021, 06:38 Mahdi Dibaiee ***@***.***> wrote:

[2021-12-30 14:30] torokati44 commented on #92436
To reproduce, compile this as a binary package with `cargo build --release --target wasm32-unknown-unknown` (1.57.0):
[code]
(The weird IO stuff is to prevent the optimizer from eliding all of the memory operations.)

Then: `wasm2wat target/wasm32-unknown-unknown/release/memsettest.wasm  | grep "func .memset" -A 100`
and: `wasm2wat target/wasm32-unknown-unknown/release/memsettest.wasm  | grep "fun

[2021-12-30 14:35] WilliamVenner commented on #92163
If you don't mind downgrading, you can do

`rustup override set nightly-2021-12-01`

To override your project's toolchain to the older Nightly that doesn't have this issue.

[2021-12-30 14:37] 95th commented on #92163
I have currently downgraded to 1.56.1 with:
[code]

[2021-12-30 15:02] richfelker commented on #27970
No. At has been explained above and in the other tracker item of this form I took part in, this is purely a bug in the Rust specification, and needs to be fixed there. `setenv` (the POSIX function) is not thread-safe, and for every good reason should not be required to be. "Not thread-safe" means you are essentially not allowed to use it in a multi-threaded program at all. (There may be some subtl

[2021-12-30 15:24] CryZe commented on #92436
There's an open issue about this here: https://github.com/rust-lang/compiler-builtins/issues/339

[2021-12-30 15:58] rimathia commented on #92430
I can't reproduce the ICE from the [commit in question](https://github.com/rimathia/magichawk/commit/bb1b4ce680f5fe16be6036c97a99b0908afc81fc), sorry. It's unfortunate I didn't realize I should have preserved the complete directory immediately.

[2021-12-30 16:24] richkadel commented on #91661
This works as intended (WAI), for now.

LLVM coverage profiling tracks code regions (starting file position and ending file position). In Rust's implementation of LLVM coverage, comments don't break up the code region, which starts (for example, in your second image) after the open brace and ends before the closing brace.

See the Rust coverage test results to get a full understanding of what is c

[2021-12-30 16:58] Aaron1011 commented on #92430
This should be fixed on the latest nightly.

[2021-12-30 17:23] richkadel commented on #91661
@QiangHeisenberg - I think there is a problem in how you are generating the coverage report.

I ran the `rand_pcg` tests and got the following results, showing all functions covered:

[code]

[2021-12-30 17:31] richkadel commented on #91661
Thinking about possible causes for your missing coverage, I have another theory. The `advance()` function (the only function showing coverage, in your example) is `inline`. If you created a test that only calls that function, the inlined instantiation may have been compiled inside the calling module. The module that includes all of the other functions might then be an unused module, and therefore

[2021-12-30 18:06] #92292 closed

[2021-12-30 19:02] Badel2 commented on #92267
@inquisitivecrystal yes, I get the exact same error. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d6f2ff2571df87eca47e70fafc7d6da0). The error disappears if you add a new line after the `á`, so maybe your text editor did that automatically.

[2021-12-30 19:09] gliderkite opened #92445 "Cargo check panics on_disk_cache.rs"
Running `cargo check` panics on a project I have access to (unfortunately I cannot provide the full source for the time being).

Output of `RUST_BACKTRACE=1 cargo check`

[code]

`cargo clean` seems to fix the issue.

[2021-12-30 19:31] hkratz commented on #92445
Thanks for your report! This is a duplicate of #92163.

@rustbot label A-incr-comp

[2021-12-30 19:35] petar-dambovaliev opened #92446 "Compiler crash on `cargo +nightly udeps`"
[code]

`cargo clean` fixed it.
However, on `cargo check` now i get tons of the following messages
`WARN rustc_metadata::locator no metadata found: incompatible metadata version found: /Users/user/IdeaProjects/myprojecttarget/debug/deps/libproc_macro_error_attr-10f61cdaa9115e40.dylib`

[2021-12-30 19:39] Aaron1011 commented on #91639
Here's a case where it would be useful to have an explicit `'_` in an argument:

In https://github.com/rust-lang/rust/issues/91831#issuecomment-998545182, the following code:

[code]

produces the following error:

[code]

The error message itself is not great ("these two types"  doesn't make much sense), but it's made even worse by the fact that `&mut Foo` is hiding a lifetime (it's really `&mut

[2021-12-30 19:45] jsha commented on #92421
Alternately we could ellipsize it like we do for some other sidebar items:

![image](https://user-images.githubusercontent.com/220205/147783375-4714269e-0c9a-4bef-9059-140df44210a9.png)

We should pick one strategy or the other for the sidebar, or come up with some reasoning why we should do it differently for headings vs links.

[2021-12-30 20:11] NotAFile opened #92447 "Transient ICE after renaming"
### Code

Unfortunately I could not minimize the code or reproduce the issue, as this was a transient issue. I should have made a copy of the inrcemental compilation cache, but unfortunately I did not.

The issue started occurring after I issued a search and replace over my project. The issue resolved itself after I removed most of my crate while trying to minimize. Because of this I can't really

[2021-12-30 20:29] dtolnay commented on #28785
- Yep: https://github.com/rust-lang/rust/pull/68985

[2021-12-30 20:31] Aaron1011 commented on #92447
This should be fixed on the latest nightly

[2021-12-30 21:40] Archieeeeee commented on #54053
Hello, I have the same problem and did you find a solution?

[2021-12-30 21:41] jsha commented on #92421
Actually, the ellipsization is broken, because it will ellipsize _and_ wrap in some situations:

![image](https://user-images.githubusercontent.com/220205/147789693-baacf450-7b99-479d-80c8-34922b9940a5.png)

For instance `FromIterator<Box<str, Global>>` gets shown as `FromIterator<Bo...` and `Global>>` on the next line.

The example is from the sidebar for String, but with a larger font size than

[2021-12-30 23:30] NotAFile commented on #92447
Sounds like this is a duplicate of  #92163

[2021-12-30 23:30] #92447 closed

[2021-12-30 23:36] camelid commented on #92005
This will be fixed once #92252 has landed, which will happen shortly. Closing this issue.

[2021-12-30 23:36] #92005 closed

[2021-12-30 23:46] soc commented on #62358
None of the methods in question take a lambda.

[2021-12-31 00:11] briansmith commented on #27970
I don't think it's reasonable to change the behavior of the current `set_var` to panic or otherwise fail because that's a backward-incompatible change. Nor do I think it's reasonable to add any locking overhead or complexity to `get_var`.

What makes sense to me is to:
* Add an `unsafe fn set_var_unchecked(...)` that does exactly what the current set_var does.
* Clearly document the thread safety

[2021-12-31 00:17] ehuss commented on #92446
Thanks for the report!  This is a known issue, so I am going to close as a duplicate of #92163.

As a workaround, I would recommend running `cargo clean`. If the problem persists, you can turn off incremental compilation with `CARGO_INCREMENTAL=0` environment variable, or using an older nightly (one user reported nightly-2021-12-01 as working, but I don't know for sure).

[2021-12-31 00:17] #92446 closed

[2021-12-31 00:18] ehuss commented on #92445
Closing as a duplicate of #92163.

As a workaround, I would recommend running cargo clean. If the problem persists, you can turn off incremental compilation with CARGO_INCREMENTAL=0 environment variable, or using an older nightly (one user reported nightly-2021-12-01 as working, but I don't know for sure).

[2021-12-31 00:18] #92445 closed

[2021-12-31 00:41] briansmith commented on #37984
@tbu- wrote in 2017:

As of today, the current version of the SetCurrentDirectory documentation at https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-setcurrentdirectory?redirectedfrom=MSDN says:

The references to corruption have been removed. This is consistent with the locking behavior observed in comments above. My guess is that the locking wasn't originally there, and was a

[2021-12-31 00:44] liamwarfield opened #92450 "#[deprecated] to struct member causes IC"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-31 01:03] #92450 closed

[2021-12-31 01:04] oconnor663 opened #92451 "confusing warnings when the arguments to matches!() are backwards"
Here's a minimized example of a mistake I made today ([playgrond link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=74953874e096705cd0213487de68b86c)):

[code]

The intent there is for the match to fail, so `y` should be false. However, `y` is true! The issue is that I've screwed up the argument order for `matches!()`; it's supposed to be expression-pattern, and I've wri

[2021-12-31 01:04] liamwarfield commented on #92450
Copy of #92163

[2021-12-31 01:07] oconnor663 commented on #92451
Possibly related: https://github.com/rust-lang/rust/issues/86112

[2021-12-31 01:13] ssokolow commented on #27970
Based on the discussions here and on IRO, I've since come around to the view that marking it unsafe in a way that doesn't break existing code is the right thing to do, as long as it's understood that it's not "because of FFI data races".

(i.e. That it should be `unsafe` but it's important to think of the reasoning in terms of "In day to day coding, we generally don't think of `std`'s dependency o

[2021-12-31 01:15] torokati44 commented on #92436
I see. And these loops are looking a lot less bad already even in the current 1.58.0 beta!
While still nowhere near bulk-memory intrinsics levels of performance, at least not quite as terrible as right now.

[2021-12-31 01:15] sffc commented on #82901
+1 on the name `get_or_insert_default`

I wanted to use this today, but it's still experimental. :laughing:

[2021-12-31 01:23] jhpratt commented on #27970
On the contrary I believe that this should have an unsafe equivalent (in addition to the safe version being deprecated) because of FFI. As someone who calls a libc method that obtains an environment variable, I uphold all safety invariants of that method. It is std that is not upholding the safety invariants of set_env. Yes, it potentially manifests in pure Rust code, but it's much more likely whe

[2021-12-31 01:27] ssokolow commented on #27970
I'm not sure who you're replying to. Both I and @briansmith argued for this functionality to exist in `unsafe` form.

[2021-12-31 01:34] jhpratt commented on #27970
I was addressing this specific part

Though I'm certain we'd agree that we don't need to agree on the _reason_ for doing this so long as it's done.

[2021-12-31 01:38] ssokolow commented on #27970
Ahh. My point there was that, originally, I was seeing it more as "`LD_PRELOAD` can break Rust safety invariants, as can things like GTK plugin loading, so why are we complicating safe Rust code that relies only on the FFI in `std`?"

When you "turn to FFI", there's an expectation that either you or your dependency developer will take on the responsibility of abstracting away what unsafety can be

[2021-12-31 01:42] 21aslade opened #92452 "Cache-related ICE"
### Code

I wasn't able to find a MVE, but the error stopped after running `cargo clean`. I was not able to reproduce it, but the modification that (seemed to) prompt the crash looks something like this:
[code]
changed to
[code]
Redoing the same refactor, even after another `cargo clean`, did not reproduce the error.

### Meta

`rustc --version --verbose`:
[code]
Also exists on nightly

### Error

[2021-12-31 02:07] inquisitivecrystal commented on #92267
That was it, thanks.

I'm going to unassign myself from this. I do hope my exploration ends up being helpful to whoever fixes it though. @dwrensha: if you want to fix this yourself, you certainly seem further along than I was, though you shouldn't feel any pressure to do so if you don't want to.

[2021-12-31 02:08] zseri commented on #74465
@DefinitelyNotRobot If `OnceCell` belongs in `std::cell`, then `SyncOnceCell` belongs in `std::sync`, like `Rc`/`Arc`.

[2021-12-31 03:47] goldwind-ting opened #92453 "When I run `cargo check`, it shows: `internal compiler error: unexpected panic `"
I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=60d250385ca0f79b4578a020fff5a205
When I run `cargo check`, it shows: `internal compiler error: unexpected panic .
[code]

[2021-12-31 03:54] Aaron1011 commented on #92453
Can you post the full compiler output?

[2021-12-31 04:00] goldwind-ting commented on #92453
That's all.

[2021-12-31 04:06] goldwind-ting commented on #92453
I'll close this issue, now above code could compile successfully! I don't know what happened.

[2021-12-31 04:06] #92453 closed

[2021-12-31 04:10] aminya commented on #79442
I noticed that PGO fails in the final step when LTO is enabled for the builds.  Not sure why this happens, but I get a `(exit code: 0xc0000005, STATUS_ACCESS_VIOLATION)`.

[2021-12-31 06:10] asquared31415 commented on #92407
Yes this is a duplicate, currently allocators must be zero sized

[2021-12-31 06:28] petrochenkov commented on #92163
FWIW, it prevents building clippy with `x.py test` with enabled incremental for me.
The `cargo clean` recommendation doesn't work in that case, and removing the `incremental` directories manually doesn't help either because some intermediate build step creates them again.
The only fix is disabling the incremental flag, but it requires rebuilding everything from scratch (and rebuilding everything *

[2021-12-31 08:00] matklad commented on #87096
Two non-strong feelings:

* it feels a bit odd to stabilize this before https://github.com/rust-lang/rust/issues/86845. The `.lines()` construct *indirectly* exposes `StdinLock<'static>` type, which you otherwise can’t observe. I don’t see a way this can be actively problematic though.
* motivation for stabilizing `split` seems comparatively weaker than motivation for lines. It’s byte-level split,

[2021-12-31 09:55] yanganto commented on #68007
This crate helps you ignore test case when the environment variable is absent.
https://crates.io/crates/test-with

https://github.com/yanganto/test-with/blob/6ac0336a5f47558a467bd245427a540fdad6f46e/examples/env.rs#L3-L13
[code]

[2021-12-31 09:56] RalfJung commented on #27970
The current get_var already performs locking; I don't think anyone proposed to add more locking.
Under your proposal, one could consider removing that locking, though probably it is better to keep it for compatibility reasons? OTOH, removing that lock would finally fix https://github.com/rust-lang/rust/issues/64718.

[2021-12-31 10:01] SparrowLii commented on #92416
I think your question can be reduced to this:

    pub(crate) trait Trait {
        fn eval();
    }

    impl Trait for Foo<u32> {
        fn eval() {
            Self::map(|v| v);
        }
    }

    pub struct Foo<T>(T);

    impl<T> Foo<T> {
        pub fn f2<F>(_f: F) {
            Foo::<T>::map(|val| val);
        }

        pub fn map(f: impl FnMut(T) -> T) {
            Self::f2( f);

[2021-12-31 10:13] mdibaiee commented on #90703
@rustbot claim

[2021-12-31 11:06] djc opened #92454 "Surprising diagnostics about using const value in match pattern"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=48f1fc4c175b1e42b9e4e97d5412c053):

[code]

The current output is:

[code]

Surprisingly to me at least, using a custom `PartialEq` implementation still results in the same issue ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=103ed753194b4eb0204ff03

[2021-12-31 13:37] Alexendoo commented on #81827
No longer crashes due to #91519

[2021-12-31 14:34] SpriteOvO commented on #91988
Same problem. Panic when running `clippy` and works after `clean`.

[code]

`rustc --version --verbose`:
[code]

[2021-12-31 14:55] matthiaskrgr commented on #53841
Just ran into this again with a more simple case :(

[code]
IMO this should compile because we know that  `fn a()` is of type `Fn ..` and not `bool` so `if a` querying the `let a` variable is the only thing that makes sense here..?

The error message is not really helping imo
[code]

  I wonder if type ascription could solve this:
  `  if a: bool { `

[2021-12-31 14:57] apiraino commented on #92163
Seeing the increasing number of incoming reports, we raise the evaluation of this issue

([Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392163.20failed.20to.20lookup.20.60SourceFile.60.20in.20new.20context))

@rustbot label -P-high +P-critical

[2021-12-31 15:57] #92206 closed

[2021-12-31 16:20] Milo123459 commented on #92369
#88310 now that it is in the merge queue could possibly fix this. Not sure though, I'll test when merged,

[2021-12-31 16:28] mbartelsm opened #92458 "using `impl Trait` on a return type as part of a trait declaration results in a misleading error"
I tried this code:

[code]

I expected to see this happen: an error message stating that `impl Trait` is not allowed as part of trait declarations.

Instead, this happened: the following misleading error
[code]
This error is misleading because it states that the problem is that the keyword `impl` is not being used as part of a return type, even though it is.

### Meta

`rustc --version --verbose`:

[2021-12-31 16:49] benjamincoven opened #92459 "Compiler panic: failed to lookup `SourceFile` in new context ; on_disk_cache.rs:500:22"
Hello,

For an unknown reason, my compiler started to panic on my current project. I did not major change on sources and I restarted my computer without success.

`rustc --version --verbose`:
[code]

### Error output

[code]

Thank you for your help.

[2021-12-31 16:51] benjamincoven commented on #92459
Well I did not see that there is a pinned issue that is a duplicate.

[2021-12-31 16:51] #92459 closed

[2021-12-31 16:51] benjamincoven commented on #92459
#92163

[2021-12-31 17:06] fee1-dead commented on #92454
This is because `Cow` is not "[`StructualEq`](https://doc.rust-lang.org/std/marker/trait.StructuralEq.html)" (because it compares the borrowed version only and it is possible for `Cow::Owned` to be equal to a `Cow::Borrowed`) so constants of its type cannot be used in matches. I do believe the diagnostic should be improved.

cc @rust-lang/wg-const-eval

[2021-12-31 17:20] jackh726 commented on #91693
I think this is a known issue (iterator adapters don't play well with GATs atm), likely related to the leak check and universes work. Any fix here is probably going to be very involved.

[2021-12-31 17:29] djc commented on #92454
@fee1-dead that's helpful, my intuition was that it had something to do with const stuff.

Still, it seems this story is still really hard to explain:

* So the type actually has to be `StructuralEq`?
* And you can only be `StructuralEq` if you derive `Eq`?
* But if I derive `Eq` and keep my custom `PartialEq`, that's not sufficient either

This all seems really weird because apparently `Structura

[2021-12-31 17:34] dwrensha commented on #92267
I put up a PR for a fix: #92460

[2021-12-31 17:58] fee1-dead commented on #67792
I'm not sure why I'm not subscribed to this issue, I want to clarify a few problems left as comments on this issue:

@clarfonthey:

I think the way is to use the syntax for your second code block i.e. explicitly declare supertraits have to be `const`:  `trait Child: ~const Parent`. This is not yet implemented because I'm lazy and it has a relatively straightforward workaround :)

I think discussio

[2021-12-31 18:08] clarfonthey commented on #67792
Ah, so it's not necessarily that `~const Trait` bounds on the trait itself aren't wanted, but rather that they aren't implemented. May be worth updating the error in the meantime, then, since it says "not allowed" instead of "not supported."

[2021-12-31 18:11] apiraino commented on #91598
Update on my [previous comment](https://github.com/rust-lang/rust/issues/91598#issuecomment-987884828): I report a ~~substancial~~ massive improvement on my test repository with a recent nightly:

| Version | Command | Time |
|--------------|-----------|------------|
|1.56.1 | cargo clean ; time cargo +1.56.1 build | ~1m1s
|1.57.0 | cargo clean ; time cargo +1.57.0 build | ~1m52s
|nightly 2021-12-

[2021-12-31 18:23] teozkr commented on #91598
Can confirm! nightly now seems to beat 1.56.1 handily.

[2021-12-31 19:13] #92430 closed

[2021-12-31 19:14] rimathia commented on #92430
I wasn't sure whether I was expected to close this, please reopen if appropriate.

[2021-12-31 19:27] dwrensha opened #92462 "assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32"
[code]

Reported by @Badel2 here: https://github.com/rust-lang/rust/issues/92267#issuecomment-1002781379
(Note that #92460 fixes #92267, but does not fix this bug.)

[2021-12-31 19:28] dwrensha commented on #92267
@Badel2 I opened a new issue for your bug, because it's not exactly the same as this one.
#92462

[2021-12-31 19:54] #92014 closed

[2021-12-31 19:54] #92163 closed

[2021-12-31 20:55] dwrensha commented on #92462
searched nightlies: from nightly-2021-01-07 to nightly-2021-12-24
regressed nightly: nightly-2021-09-12
searched commits: from https://github.com/rust-lang/rust/commit/b69fe57261086e70aea9d5b58819a1794bf7c121 to https://github.com/rust-lang/rust/commit/8c2b6ea37d7719a0370bd404030eef9702c1752c
regressed commit: https://github.com/rust-lang/rust/commit/43769af69e43d0fb9770f0a392671f000595df78

<deta

[2021-12-31 20:58] the8472 commented on #91598
I have tried the reproducer from https://github.com/ipfs-rust/ipfs-embed/issues/109#issuecomment-980819604 appears to hang on beta and and builds in 42s on nightly.

[2021-12-31 21:03] Wopple commented on #83701
For anyone afflicted by this, the workaround I found was to specify the type parameters in the value you're binding to. For example:
[code]

[2021-12-31 21:08] dwrensha commented on #92462
This regression was introduced in #88779. cc @estebank

[2021-12-31 21:31] dwrensha commented on #92462
Not a fix, but if I make this change
[code]
then there is no longer an ICE and I get
[code]

[2021-12-31 22:12] MiSawa opened #92464 "ICE with aligned enum"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-31 22:18] MiSawa commented on #92464
FYI, also fails in stable `rustc 1.57.0 (f1edd0429 2021-11-29)`. https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=72d716ba5a7f274d8c518b82236688b8

[2021-12-31 22:50] briansmith commented on #27970
OK, I didn't realize that. This doesn't change my proposal. The `set_var_unchecked` that I am proposing would continue to do the locking, since I defined it to do exactly what `set_var` does now.

Since the locking versions are already implemented, I suspect some people already rely on that locking in their pure-Rust (or close enough) code, especially tests. In #64718, there was already a plan pro

[2021-12-31 22:57] #90445 closed

[2021-12-31 23:14] jrtc27 opened #92466 "Uses non-existent FreeBSD 11 syscall ABI for FreeBSD RISC-V"
All FreeBSD ports are currently hard-coded to use the FreeBSD 11 syscall ABI. For most targets this is "fine", since the default kernel configs include COMPAT_FREEBSD11. However, the current RISC-V FreeBSD port post-dates FreeBSD 11 (see https://www.freebsd.org/cgi/man.cgi?query=arch), so the syscalls that were removed in FreeBSD 12 never existed for RISC-V, and so the kernel does not, and should

[2021-12-31 23:18] jrtc27 commented on #92466
(in a way this may belong filed against libc, but the need to expose the FreeBSD version probably affects rustc itself so it may well in fact belong here)

[2022-01-01 00:11] compiler-errors commented on #92458
@rustbot label -C-bug +A-diagnostics +T-compiler +D-confusing
@rustbot claim

[2022-01-01 00:12] saethlin commented on #27970
Yes. We're aware of ~300 published crates which rely on this https://crater-reports.s3.amazonaws.com/pr-90799/index.html

[2022-01-01 00:29] compiler-errors commented on #92415
This is actually probably related to #60658 (and other issues) instead of #61949, and seems to be fixed under #92449.

[2022-01-01 01:30] camelid commented on #92000
This is causing a lot of spurious failures, as evidenced by the numerous "mentioned this issue" items in this issue. Should this test be ignored temporarily until the underlying problem is identified and fixed? cc @rust-lang/infra

[2022-01-01 01:52] claggers commented on #92355
I am able to repro this consinstently but my repo is not yet open.

cargo clean && cargo build -> change one line in a specific file -> cargo build -> ICE.

[code]

[2022-01-01 01:54] Aaron1011 commented on #92355
Fixed by https://github.com/rust-lang/rust/pull/92175

[2022-01-01 01:54] #92355 closed

[2022-01-01 02:00] sunjay commented on #23714
Ran into this today with some code very similar to the original example. Reduced version below: ([Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5da609b4e7d29ae246fb7010804481f0))

[code]

I believe this _should_ be accepted because the `Cow` ends up being an enum of either `&[Element]` or `Vec<Element>`, both of which are sized.

The error message is init

[2022-01-01 02:43] NieDzejkob commented on #73026
@rustbot claim

[2022-01-01 08:33] slightlyoutofphase commented on #42168
I think it's worth noting that the current API `Step` API does not accurately document what the blanket primitive implementations do. `Step::forward_unchecked` and `Step::backward_unchecked` are `unsafe` functions that are not actually unsafe or unchecked as they do nothing but call the safe `Step::forward` and `Step::backward` which do nothing but call `expect()` on the option returned from the a

[2022-01-01 09:24] kdy1 opened #92470 "ICE: bincode v2 alpha cannot be used with nightly rustc"
See: https://github.com/kdy1/wasm-perf/pull/1

### Code

[code]

minimal reproduction.

I'll see if I can reduce further.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-01 10:04] VictorKoenders commented on #92470
Still ICE's on `1.59.0-nightly (fcef61230 2021-12-17)`

[2022-01-01 11:32] Badel2 commented on #92462
Thanks for opening the issue @dwrensha.

If someone finds a fix but doesn't know how to add the test, this pull request which solves a similar ICE has an example of how to add a test when there is a missing newline:

https://github.com/rust-lang/rust/pull/91273

[2022-01-01 11:33] jplatte commented on #90722
Here's a simplified example ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b4e2bc41cdb9c5dd87929e55f6a45511)):

[code]

Let's see whether labeling via rustbot works...

@rustbot label: +C-bug +F-let_chains +T-compiler

[2022-01-01 12:13] petrochenkov commented on #83331
Crater run in https://github.com/rust-lang/rust/pull/83354 showed that there's some non-negligible breakage.

In particular, some cases fundamentally require out-of-order expansion like any helper attributes inside `cfg_attr`
[code]
So they will require using `#[cfg_eval]` (https://github.com/rust-lang/rust/issues/82679) if the left-to-right order is enforced by default.

[2022-01-01 12:14] petrochenkov commented on #83331
https://github.com/rust-lang/rust/pull/92473 is the current iteration that attempts to implement some pre-requisites without changing observable language behavior.

[2022-01-01 12:58] fee1-dead opened #92474 "Tracking Issue for `const` forwarding impls for `Fn` family traits"
Feature gate: `#![feature(const_closure_impls)]`

This is a tracking issue for `const` forwarding impls for `Fn` family traits.

### Public API

[code]

### Steps / History

- [ ] Implementation: #92433
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-01 13:06] fee1-dead opened #92475 "Tracking Issue for `const` `Extend` impls in libcore"
Feature gate: `#![feature(const_extend)]`

This is a tracking issue for `const` `Extend` impls in libcore.

### Public API

[code]

### Steps / History

- [ ] Implementation: #92433
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-01 13:14] 497e0bdf29873 commented on #37748
I ran into a similar issue trying to define custom container types that implement standard vector space operations when the contained type implements them (that for some odd reason—maybe this reason—the standard arrays do not). The following code that tries to implement all ref/noref combinations of multiplication with `f64` for `A<T>` completely fails:
[code]
The code compiles perfectly fine if t

[2022-01-01 13:16] fee1-dead opened #92476 "Tracking Issue for `const` `Iterator` impls and related `const fn`s"
Feature gate: `#![feature(const_iter)]`

This is a tracking issue for `const` `Iterator` impls and related `const fn`s.

### Public API

[code]

### Steps / History

- [ ] Implementation: #92433
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-01 13:28] #80849 closed

[2022-01-01 13:28] #92267 closed

[2022-01-01 13:52] 95th opened #92477 "thread 'rustc' panicked at 'no entry found for key', compiler/rustc_metadata/src/rmeta/decoder.rs:1631:13"
Seems like https://github.com/rust-lang/rust/issues/92163 is fixed but now a new error is coming.

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-01-01 14:02] RalfJung commented on #92454
StructuralEq is kind of a mess currently and something we want to clean up. Also see https://github.com/rust-lang/rust/issues/74446.

[2022-01-01 14:44] str4d commented on #60705
I'm writing a [Ghidra script for demangling Rust symbols](https://gist.github.com/str4d/e541f4c28e2bca80d222434ac1a204f4), and I have a question about the `<const>` grammar:
[code]

The `"p"` and `<backref>` cases are duplicated, because `<type>` is defined as:
[code]

So it seems to me that `<const>` can be parsed as either `"p"` or `"p" <const-data>`, and similarly either `<backref>` or `<backre

[2022-01-01 15:09] SimonSapin commented on #81513
This is not metadata that is being "unsized". Unsizing means going from (a pointer/reference to) a statically-sized type to (a pointer/reference to) a dynamically-sized type.

In your example, `*const [u8; 3]` is unsized to `*const [u8]`, where `[u8]` is dynamically-sized. Your `unsize_metadata` function then extracts the metadata *of that unsized pointer*. It also relies on `ptr::null()` which ha

[2022-01-01 15:24] str4d commented on #60705
I had a look at how `rustc` implements const mangling:
https://github.com/rust-lang/rust/blob/028c6f1454787c068ff5117e9000a1de4fd98374/compiler/rustc_symbol_mangling/src/v0.rs#L578-L733

I think this corresponds to the following grammar:
[code]

This also seems to be the grammar that [`rustc-demangle` uses](https://github.com/rust-lang/rustc-demangle/blob/2811a1ad6f7c8bead2ef3671e4fdc10de1553e96/s

[2022-01-01 15:24] tmiasko commented on #60705
@str4d in production `<const> = <type> <const-data>`, `<type>` is never `p`. There are pending updates to the grammar in https://github.com/rust-lang/rfcs/pull/3161 which make this explicit in the grammar.

[2022-01-01 15:25] dwrensha commented on #87790
Fixed by #91519. Thanks @petrochenkov!

[2022-01-01 15:25] #87790 closed

[2022-01-01 15:37] whjpji opened #92478 "Tracking Issue for `{BTreeMap, BTreeSet}::drain` with a range"
Feature gate: `#![feature(btree_drain_range)]`

This is a tracking issue for the implementation of a `drain` method with a range on `BTreeMap` and `BTreeSet`, which removes a range from the collection.

### Public API

[code]

### Steps / History

- [ ] Implementation: WIP
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Should the method be named `drain_range`?

[2022-01-01 15:42] str4d commented on #60705
Aha, yes that does indeed address my concern: `<const>` now never reaches `<type>` other than via `"V" <path> <const-fields>`, which has a separating prefix. Thanks!

[2022-01-01 17:41] xTibor opened #92479 "Suggest using single quotes when confusing single character strings and chars"
Consider the following example:

[code]

The compiler could be more friendly in this case, having a diagnostic for suggesting using single quotes when people confuse single character strings with char literals. Something like this:

[code]

This could help new Rust devs coming from languages where there are no distinction between these things. (Python, Javascript, etc.)

[2022-01-01 17:44] lf- commented on #85658
Related issue: https://github.com/rust-lang/rust/issues/56371

The use case that I want clang for is the integrated assembler, for assembling .s files in my rust kernel build process. I don't believe that there's currently any way of invoking the llvm based assembler except through the clang driver.

[2022-01-01 17:55] Xaeroxe commented on #85508
Yeah actually we talked about this when clamp was introduced. https://github.com/rust-lang/rfcs/pull/1961#issuecomment-290300091

The conclusion we came to is that PartialOrd was too likely to lead to surprising behavior. Thanks to the num crate you can still write your software the way you want to though.

[2022-01-01 18:22] sophrosyne97 commented on #80618
@rustbot claim

[2022-01-01 18:26] mypetyak commented on #92304
This was broken up until `nightly-2021-12-31`, but I just re-tested with `nightly-2022-01-01`, which includes 984a6bf, and this bug is now resolved - thanks @Aaron1011!

Fixed by #92175

[2022-01-01 18:26] #92304 closed

[2022-01-01 18:35] jackh726 commented on #91762
Okay, so here's what's happening:

So, we look up the function `<<Self as FunctorExt<T>>::Base as Functor>::fmap`, and get something that's roughly `fn(<<Self as FunctorExt<T>>::Base as Functor>::With<?0>) -> <<Self as FunctorExt<T>>::Base as Functor>::With<?1>`. Then, we try to normalize `<<Self as FunctorExt<T>>::Base as Functor>::With<?1>` and we find the predicate (ProjectionCandidate) `<<Self

[2022-01-01 19:27] rkuhn commented on #91598
Can confirm, with the nightly from Dec 31 it builds one of the binaries in 8.9 instead of 14.2 seconds (the latter with 1.56.1 — I wasn’t patient enough for 1.57).

[2022-01-01 19:40] madsmtm commented on #92192
Thanks for looking into it so quickly, I'm amazed you managed to figure anything out from so little information!

[2022-01-01 19:40] Patrick-Poitras commented on #90722
This is similar to #92145.

[2022-01-01 19:40] bugadani commented on #92464
Slightly different example, different error message, same cause:

[code]

`
error: internal compiler error: /rustc/b60e32c82864d841e87359333af1e6d1f9cff9ee/compiler/rustc_codegen_ssa/src/mir/operand.rs:118:18: not immediate: OperandRef(Ref((%Aligned*:  %2 = alloca %Aligned, align 2), None, Align { pow2: 1 }) @ TyAndLayout { ty: Aligned, layout: Layout { fields: Arbitrary { offsets: [Size { raw: 0

[2022-01-01 19:41] Aaron1011 commented on #92192
@madsmtm No problem - having incremental compilation set up in your Github Actions config was a huge help.

[2022-01-01 19:52] Badel2 opened #92481 "ICE: no type for local variable local _=m"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

The ICE happens after reporting some other errors, and the input is not syntactically correct (`fn r({)`), so low priority. Affected versions: I tried nightly 2021-12-31 and stable 1.57 and they both show the same ICE.

<details><

[2022-01-01 20:19] chordtoll commented on #92479
@rustbot claim

[2022-01-01 20:43] 497e0bdf29873 commented on #37748
As I posted on [stack oveflow](https://stackoverflow.com/questions/70542062/overloading-an-operator-with-both-a-type-and-a-reference/70551701#70551701), I came up with a few workarounds that do not require major changes to architecture, just adding some level counting to nested structures at the type system level. Maybe they will further help pinpoint the issue, so I'm posting them here as well.

[2022-01-01 20:54] djc commented on #92454
Okay, but then we should definitely improve diagnostics such that the messiness from an unstable filter leak out into stable Rust via crappy errors.

[2022-01-01 20:57] djc commented on #81883
`staged_api` is documented at https://rustc-dev-guide.rust-lang.org/stability.html#staged_api ([Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/How.20to.20use.20staged_api)). I've been unable to prioritize this for the past 9 months, so if someone else can give it a shot that would be great.

[2022-01-01 22:52] bnoordhuis commented on #88716
@Elliot-Roberts Please go ahead. I'm not working on this at the moment.

[2022-01-02 00:00] hellow554 commented on #85658
If you are  using a nightly compiler you could use the [`asm!`](https://doc.rust-lang.org/unstable-book/library-features/asm.html) macro?

[2022-01-02 00:02] WaffleLapkin commented on #43781
I'm confused. I thought that it worked before, but now it somehow doesn't? Was this behaviour reversed?
[code]
[code]
[code]
![screenshot of rustdoc output showing that feature is not shown](https://user-images.githubusercontent.com/38225716/147862609-bf44cd1b-9083-482e-8b2e-4848d1ca4949.png)
![another screenshot of rustdoc output showing that feature is not shown](https://user-images.githubuserco

[2022-01-02 00:05] is8ac commented on #73298
Sorry to keep bumping. I continue to encounter this issue when I attempt to use `SeedableRng` with `generic_const_exprs` on latest nightly.

<details>
  <summary>Code</summary>

[code]
</details>

<details>
  <summary>Error</summary>

[code]

</details>

<details>
  <summary>rustc --version --verbose</summary>

[code]
</details>

[2022-01-02 00:08] WaffleLapkin commented on #43781
Ah, so since #90502 the implication of `#[doc(cfg(...))]` by `#[cfg(...)]` needs a different feature, `doc_auto_cfg`. It's weird that this wasn't mentioned in this tracked issue at all.

[2022-01-02 00:10] Nemo157 opened #92484 "Missing documentation for rustdoc features `doc_cfg_hide` and `doc_auto_cfg`"
https://github.com/rust-lang/rust/pull/89596 and https://github.com/rust-lang/rust/pull/90502 added two new sub-features of `doc_cfg` but these are currently undocumented outside the implementation. They should probably both be sub-headings under <https://doc.rust-lang.org/nightly/rustdoc/unstable-features.html#doccfg-recording-what-platforms-or-features-are-required-for-code-to-be-present>.

[2022-01-02 00:11] Nemo157 commented on #43781
https://github.com/rust-lang/rust/pull/90502 split that feature out into a separate `doc_auto_cfg` feature, which is as of yet undocumented (I opened https://github.com/rust-lang/rust/issues/92484 for that).

[2022-01-02 00:31] mati865 commented on #73298
Reliably reproduces for me using latest code.

@rustbot modify labels: -E-needs-mcve +E-needs-test

[2022-01-02 01:05] sofia-m-a opened #92485 "Possible incremental compilation bug"
I have no idea where to start with minimizing this, it's a fairly tightly-coupled Bevy game codebase.

I can provide other code as needed. The bug was reproducible for a while, but after removing some dead code, it builds just fine, even if I go back to the code as it was when the error happened.

Here is the function that it panics on:

### Code

[code]

### Meta

`rustc --version --verbose`:
[co

[2022-01-02 01:46] budde25 opened #92486 "cargo check nightly compiler error"
### Code

Was unable to reproduce, after a `cargo clean` and `cargo check` it stopped crashing.
Also only cargo check caused the crash, `cargo clippy` and `cargo run` worked

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-02 02:27] OSS542 commented on #92160
closing to open as a new issue with clarification.

[2022-01-02 02:27] #92160 closed

[2022-01-02 02:27] the8472 opened #92488 "ICE error: internal compiler error: no region-bound-pairs for HirId when compiling benchmark"
I ran into this when trying to run `./x.py bench library/core` while working on iterators in `core`. Thankfully it was straight-forward to extract the code into an external crate.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-02 03:15] lf- commented on #85658
Not really, if you are a kernel. Generally you want your init code and similarly large pieces of assembly outside of rust files, since you want to create jump tables and such that don't belong to a function, among other things. It's rather hacky to try to do everything with inline assembly.

[2022-01-02 03:21] #73026 closed

[2022-01-02 03:25] nbdd0121 commented on #81513
`TypedMetadata` could be understood as a ZST pointer to null.

[2022-01-02 03:27] OSS542 opened #92489 "rustc-1.57.0: hang while building gkrust for firefox 91.0.1"
[code]

The following command hangs causing the entire build to hang :
[code]
output: gdb attach to  manual run, from "thread apply all bt" :

[code]

[2022-01-02 03:31] steffahn commented on #82775
I think there's a lot of value in having `assert_matches!(...)` be basically just an `assert!(matches!(...))` with better error messages (and hence with an additional `Debug` bound). It makes the macro much easier to understand if those two expressions are essentially equivalent. Even if both `assert_matches` and `matches` would both support the `=> expr` syntax, this rule would be broken: At leas

[2022-01-02 04:32] MSxDOS commented on #91490
This is fixed on nightly, apparently by https://github.com/rust-lang/rust/pull/91657

[2022-01-02 04:56] camelid commented on #91490
Ok, closing then. That PR also added a test for this issue.

[2022-01-02 04:56] #91490 closed

[2022-01-02 05:01] trentj commented on #86897
Does not seem to be fixed in all cases. While investigating a question raised on Discord:

[code]
gives the bogus error for `this` and `that` despite `const_precise_live_drops` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6647cd933a2e563e117c4aa32678839e)).

Curiously, adding `std::mem::forget(this);` triggers ``use of partially moved value: `this` `` whic

[2022-01-02 08:40] 0x7CFE opened #92491 "ICE when get_adt_def called on a non-ADT DefId(33:288 ~ syntax[67bd]::ptr::SyntaxNodePtr)"
Error happened while trying to build latest Rust Analyzer from the repo.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-02 08:57] 0x7CFE commented on #92491
Does not reproduce on latest nightly.

[code]

[2022-01-02 10:08] hellow554 commented on #85658
What about [`global_asm!`](https://doc.rust-lang.org/unstable-book/library-features/global-asm.html) together with `include_str!`? 🤔

[2022-01-02 10:17] Jonas-Wessner opened #92492 "Unexpected cache related panic in nightly rust"
Hello everyone,
I would like to report a bug.
I have a project that throws the below error.
However when I copy the entire project directory and build that copied directory, it compiles just fine.
Therefore, I suppose this must be a caching issue.
Unfortunately I was not able to extract a minimal example, as this issue is nondeterministic on the code base.

I hope this helps :)

### Code

[code]

[2022-01-02 10:29] jendrikw opened #92493 "FP `unused_import` when the import is only used in rustdoc links"
I tried this code:

[code]

I expected to see this happen: No warning

Instead, this happened:
[code]

This is especially annoying when you deny some lints:

`cargo build` errors, but `cargo doc` is fine:

[code]

When you comment out the use statement, `cargo build` is fine, but `cargo doc` errors.
[code]

I know I can use the links syntax with an explicit target, but I prefer the short form for

[2022-01-02 10:31] jendrikw commented on #92493
Oops, dupe of #79542.

[2022-01-02 10:31] #92493 closed

[2022-01-02 13:13] detly commented on #63193
@shreevatsa It seems the luck ran out on your trick there :slightly_smiling_face:

[2022-01-02 13:20] mati865 commented on #92000
@rustbot modify labels: +O-windows-msvc

[2022-01-02 13:41] wesleywiser commented on #92000
I'm on PTO but I'll put this on my list of things to look into when I get back next week. In the mean time, disabling the test seems reasonable to me.

[2022-01-02 13:44] xfix commented on #90747
[code]

I think the fact that `groups` uses a different type for VxWorks seems like a possible issue with the API. I understand that for backwards compatibility reasons `gid` uses a different type for VxWorks (albeit it may be worth fixing it anyway, see https://rust-lang.github.io/rfcs/1415-trim-std-os.html), but I see no reason to continue with this mistake for a nightly method.

[2022-01-02 14:47] m-ou-se commented on #92143
Sent a PR here: https://github.com/rust-lang/rust-artwork/pull/9

[2022-01-02 15:26] avl opened #92494 "Internal compiler error decoder.rs:1632:13"
Ran into an internal compiler error on nightly. I haven't had time to minimize.

Reporting it here in the hope that someone else can easily make sense of it.

Doing 'cargo clean' and trying again has fixed the problem so far.

### Code

Happens on a big project. I haven't had time to minimize.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backt

[2022-01-02 15:27] matthiaskrgr opened #92495 "ice: broken mir: end of phase transition to Optimization compiler/rustc_const_eval/src/transform/validate.rs:119:36"
### Code
code from `./compiler/rustc_codegen_gcc/tests/run/condition.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-02 16:01] jhpratt commented on #87517
To match the actual implementation, the RFC text was updated to use the `derive_default_enum` feature name. If someone could update the title and text of this issue that would be great.

[2022-01-02 16:24] peterkelly commented on #21182
While the elements don't necessarily have an ordering, their hashes do. This could be implemented by obtaining the hashes of all elements, sorting them, and then iterating through them to compute a hash for the set.

[2022-01-02 17:42] kjetilkjeka commented on #53099
Is this issue relevant after `-Z build-std` was implemented? I'm currently using it to build `core` for nvptx64-nvidia-cuda without seeing any problems like this on a couple of different recent nightly versions.

[2022-01-02 18:51] comex commented on #27970
@richfelker

The problem is that most people don't know about this rule and so their code doesn't follow it, even in otherwise high-quality codebases.  As a test, I hacked up glibc to log to syslog whenever `setenv` is called with multiple threads running, then installed this in a Debian VM and started up some random desktop sessions.  Here's what I got:

https://gist.github.com/comex/9fa0899293d1

[2022-01-02 19:16] richfelker commented on #27970
This "conclusion" makes no sense at all. Any C code doing this has **extreme** **serious** memory-corruption race-condition bugs, including when used from C, and needs to be fixed. It is not a thread-safe or a library-safe operation and you would not expect to find it in library code. "Rust becomes unsafe if you `dlopen` C code with extreme memory-safety violations" is not a surprise or a problem

[2022-01-02 19:27] jplatte commented on #87957
The original case has gotten a lot better, the actual doc string now gets ~60% of the horizontal space rather than ~30%:

![Screenshot_2022-01-02_202521](https://user-images.githubusercontent.com/951129/147887146-4d0237ed-3cf7-4404-a5f5-761e6703a648.png)

[2022-01-02 20:04] #92136 closed

[2022-01-02 20:13] jblachly commented on #80552
D calls this operation `chunkBy`, although Rust already uses `chunk` to mean fixed group of N elements in `std` IIRC.

Re @purpleP comment about implications:
While `chunk_by` IMO better conveys that the operation will "fail" if the Vec is not already sorted, overall given naming constraints (`chunk` already having a separate meaning in rust) and other languages' naming conventions `group_by` seem

[2022-01-02 20:30] HKalbasi commented on #44663
What about mandating every crate to explicitly depend on public dependencies of their dependencies? That is, if you depend on A which has B as its public dependency (export some B types) you should add B in your cargo.toml explicitly with a explicit version. In this way, problem of finding a solution for a SAT system will reduced to checking a particular solution for a SAT system, which can be don

[2022-01-02 20:57] euclio opened #92499 "Error message for accessing associated type on concrete type is misleading"
I tried this code:

[code]

I expected to see this happen: Compiler emits an error reporting that I cannot access associated types from concrete types, and must use fully-qualified syntax to specify the desired trait.

Instead, this happened: Compiler emits an error reporting that `AssocTy` is ambiguous:

[code]

This made me wonder why it's ambiguous, since there's only one trait implemented for

[2022-01-02 21:08] SkiFire13 commented on #80552
In my opinion `split_by` (or some other variation starting with `split`) is the one that makes most sense.

* `split` because we already have `split`, which has very similar semantics with the proposed method. The only difference between them is that `split` takes an `FnMut(&T) -> bool` while the proposed method takes an `FnMut(&T, &T) -> bool`;
* `_by` because we already have other methods that e

[2022-01-02 21:38] david-wb opened #92500 "Recursive macro expanding same inputs to different outputs"
I created a simple macro that converts any nested array of numbers into a recursive enum of vectors.

[code]

Using trace macros I can see some strange behavior happening.

On the first input above, it works as expected.

<img width="696" alt="Screen Shot 2022-01-02 at 2 34 01 PM" src="https://user-images.githubusercontent.com/1855225/147890088-d9c0e969-3c42-46fb-bbb3-663ee3907f6f.png">

However,

[2022-01-02 22:04] swooster opened #92501 "ICE in def_path_hash_to_def_index during cargo check"
### Code

Copying the directory (including `target/`) caused the ICE to stop happening, as did `cargo clean`, so I wasn't able to come up with a minimal example (though I do have a full copy of the code causing the error if that'd be useful).

### Meta

`rustc --version --verbose`:
[code]

### Error output

Running `cargo check` crashed with this error:

[code]

<details><summary><strong>Backtrace

[2022-01-02 22:08] Aaron1011 commented on #92501
This should be fixed on the latest nightly.

[2022-01-02 22:15] RalfJung commented on #27970
Quoting comex, emphasis mine: "print a message to syslog whenever setenv or putenv is called **while multiple threads [are] running**"

[2022-01-02 22:16] SimonSapin commented on #81513
That’s the kind of thing I mean by "shoehorning". Maybe not impossible but I don’t think it’s a good idea because that’s just not what `CoerceUnsized` means / is for.

[2022-01-02 22:32] richfelker commented on #27970
OK. From the look of the types of vars, it still appears these are being set to pass to a child process. I wonder if the evaluation of the "multiple threads" predicate is wrong after fork. I suppose I should dig in and look at one or more of them. Obvious approach would be just setting breakpoints on `setenv` and `putenv`.

[2022-01-02 22:48] jyn514 commented on #84419
We have currently stopped transitioning to templates because it's a fairly large performance regression (3.5% across the board for switching `print_item`: https://github.com/rust-lang/rust/issues/89732). I discussed this with the team [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/reconsidering.20tera) and we decided to try Askama out for now to see if it can avoid

[2022-01-02 23:20] mbartelsm commented on #80967
Agree with @joshtriplett. We already have value/eager and closure/lazy evaluators for Option and Result, having just one version for bool feels off.

Regarding the name, it's probably too late to fix it but maybe there's a chance to introduce a new method that does the same as `then` and deprecate `then`  next edition? that is, only if the naming issue is that big of a deal for people.

Anyway, wh

[2022-01-03 01:14] mathstuf commented on #68007
See [this pre-RFC thread](https://internals.rust-lang.org/t/pre-rfc-skippable-tests/14611) on IRLO.

[2022-01-03 01:32] thorjelly opened #92505 "Bound on associated type is not properly applied to T when associated type = T"
This compiles and runs: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0b6a35cad2587fe5d1d4cdb30e94aa47

However this doesn't: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4e6a1dc742260b4754b540349099fcb3

The first bound seems to be "forgotten" when the second bound is added. A few folks on the rust discord suggested this may be a bug. It appear

[2022-01-03 01:33] CAD97 commented on #44663
@HKalbasi this idea breaks for "facade crates," (like rand, futures, bevy, ...) where they reëxport all of the public dependency's types and you're expected to use primarily them through the facade crate.

Especially for e.g. rand, where using rand_core is encouraged if you're a library just implementing rand_core traits, whereas consumers want to consume via rand. For rand, the facade is meant to

[2022-01-03 02:20] DemiMarie commented on #27970
Is leaking memory an option?

[2022-01-03 02:21] leo60228 commented on #27970
Even if it works in most cases, an atomic write and non-atomic read is still a data race, right?

[2022-01-03 02:24] DemiMarie commented on #27970
Yes

[2022-01-03 06:46] nico-abram opened #92511 "Array copy const fn is surprisingly slow"
The following program is surprisingly slow, taking over 10 seconds to compile on my machine, even with `-Zmir-opt-level=3`
[code]

I wrote a const fn bmp parser and when I tried using it on a 6mb 1080x1920 image it made cargo check take 10+ minutes, and it is mostly copying an array element by element. I wrote this small sample for which I think the problem is basically the same. The full thing is

[2022-01-03 07:27] evgeni-nabokov commented on #91835
I've got the same issue. Switching to nightly toolchaing resolved the issue.

[2022-01-03 07:33] comex commented on #27970
It does correctly handle fork.  In case anyone wants to reproduce the results, [here is a slightly less ugly version](https://gist.github.com/comex/d80d45e05379e08769df5abe838d5528) of the glibc patch I used.  It can also capture core dumps.

It is unfixable in some cases, namely:
1. Accessing `environ` directly;
2. Calling `putenv` on a buffer, and then modifying the buffer.

The draft proposal I

[2022-01-03 09:31] RalfJung opened #92512 "CTFE: there is no way to compute the difference between two ptrs in the same allocation if they might be out-of-bounds"
[`offset_from`](https://doc.rust-lang.org/nightly/std/primitive.pointer.html#method.offset_from) is the only way to do pointer subtraction during CTFE (since casting pointers to integers is not possible). However, `offset_from` requires both pointers to be *in-bounds* of the same allocation, making it unsuited for code that handles possibly out-of-bounds pointers. The need for this arises, for exa

[2022-01-03 09:38] Xuanwo commented on #91789
@TennyZhuang https://github.com/rust-lang/rust/pull/92513 has been submitted for review. Let's go forward the stabilization!

[2022-01-03 09:50] RalfJung commented on #91978
At least in the space of C/C++ and similar languages (of which Rust is one, for the purpose of this discussion), they certainly are.

I agree that the terminology is not great, but w also have to be careful when deviating from it since many people come to Rust expecting exactly that kind of terminology.

[2022-01-03 09:52] RalfJung commented on #92464
So looks like we have that same problem both in the CTFE engine and in the codegen backend. Fun. At least we are consistent. ;)

[2022-01-03 09:54] RalfJung commented on #92511
Yeah, `copy_nonoverlapping` is reasonably efficient in the CTFE engine. But in general compile-time evaluation is pretty slow, so it is no wonder that executing a loop 3 million times take a while.

Cc @rust-lang/wg-const-eval

[2022-01-03 10:36] #92074 closed

[2022-01-03 11:02] oli-obk commented on #92511
I don't think we can do much here. Improving CTFE speed in general is not something we've put a lot of work in beyond reducing query calls. We could do some profiling on such programs and see whether there are obvious things. Beyond that, yea, CTFE just needs todo lots of work

[2022-01-03 11:56] m-ou-se commented on #82775
Looks like we reached consensus on not having the `=>` syntax.

@rfcbot merge

[2022-01-03 13:03] ChrisDenton commented on #37984
I understand you're making a broader point on libs policy but I wanted to address this specific issue. There has been no change in behaviour here for either supported or unsupported versions of Windows. As [the commit](https://github.com/MicrosoftDocs/sdk-api/commit/31a327f8f580afc8f643bdf4d48de3ba60e29ba6) that amended the docs says:

The old documentation was overzealous in warning about the dan

[2022-01-03 13:37] BurntSushi commented on #87096
@rfcbot concern split-is-too-niche

Yeah I think there is some concern with `split` here. If we're adding these routines specifically to work around common use cases, then I'm not sure `split` is one of them in a way that's consistent with the rest of std's APIs (which really wants all text oriented processing to happen inside `String`/`&str`). It looks like the FCP is done though, so I'm not sure

[2022-01-03 13:55] BurntSushi commented on #62370
It seems like this is something that should be mentioned in the docs of `into_pin`, specifically as something that differentiates it from `Pin::from`.

[2022-01-03 14:16] davidhalter opened #92520 "Trait lifetime bounds seem to be insufficient"
I have a lifetime issue where the `'global: 'a` lifetime bound does not seem to be honored by an HRTB. Adding a generic default parameter fixes this. The original code was something like this:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e804b85d0603f9d514bdbb0300177b12)

I expected to see this compile.

Instead, lifetime errors are raised.

However

[2022-01-03 14:18] whjpji commented on #43244
As I was working with the [btree_drain_range Pre-RFC](https://internals.rust-lang.org/t/pre-rfc-btreemap-btreeset-drain-with-a-range/15911), I was redirected here.

Having read a few context, I think the main concern might be the drain-on-drop design violates the laziness of `Iterator`, and a partly consumed draining iterator can easily leave the original collection in an incomplete state, especia

[2022-01-03 14:39] davidhalter commented on #91942
@BGR360 I hope you do not mind me removing the diagnostic labels. The reason for this is that @danielhenrymantilla brought up the `funnel`, which kind of proves that there is something wrong here.

@danielhenrymantilla It seems like that this is not necessary for the turbofish syntax?! If I remove the `'static` bound it still compiles. I'd still be interested in a more thorough explanation, becaus

[2022-01-03 15:07] abaptist-ocient commented on #91978
Thank you for the time and clarification - and I did look a little more at how C++ (and Rust) define things. I am happy to  close this issue out. (for reference C++ ref - http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2013/n3797.pdf page 4)

[2022-01-03 15:07] #91978 closed

[2022-01-03 15:09] lilasta opened #92521 "Tracking Issue for `const_box`"
Feature gate: `#![feature(const_box)]`

This is a tracking issue for implementing const `Box<T, A>` methods.

### Public API

[code]

### Steps / History

- [x] Implementation: #91884
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None

[2022-01-03 15:09] chenzhawyang opened #92522 "Rustc panicked at unexpected index out of Bound"
The data I am reading here is the Unihan Database (https://www.unicode.org/Public/UCD/latest/ucd/Unihan.zip). This happens randomly when I am testing out this toy example, after I run `cargo clearn` this runs fine, so I am not sure about the reproducibility of this error.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace

[2022-01-03 15:13] woppopo opened #92523 "Tracking Issue for `const_alloc_error`"
Feature gate: `#![feature(const_alloc_error)]`

This is a tracking issue for implementing `const fn handle_alloc_error`. This feature is needed to implement const `Box<T, A>`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #91884
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-01-03 15:20] sollyucko commented on #43244
Or what about something like this? (

[code]

[2022-01-03 15:37] zseri commented on #43244
@sollyucko this doesn't provide any option to stop the loop if not all elements are drained, thus not powerful enough (and also doesn't drain).

[2022-01-03 16:09] sollyucko commented on #43244
@zseri My intent was for the callback to return `(Err(...), ...)` to stop the loop, and/or return `(..., None)` to drain the element.

[2022-01-03 16:18] zseri commented on #43244
oh ok, missed that.

[2022-01-03 16:19] sollyucko commented on #43244
P.S. `!IS_EMPTY()` should really be `HAS_NEXT()` or similar, oops. Also, I'm not sure if the callee-induced stop is necessary since you could just keep returning `Some(value)` or `None`. (Also, you would have to choose which behavior to do, or make it configurable.) Also, `REMOVE_VALUE()` is what I meant to drain the value.

[2022-01-03 16:37] rustonaut commented on #43244
@sollyucko, @whjpji I don't think that adding such artificial limitations is necessary.

We can just mark the thing as `#[must_use = "Elements are only removed from the collection if you consume the iterator, e.g. `drain_filter(predicate).for_each(drop)`, or use `retain`."]`.

This should allow anyone independent of skill level to use it correctly in a reasonable amount of time.

The only reason w

[2022-01-03 16:40] jethrogb commented on #43244
@rustonaut Unfortunately the `must_use` message displayed is that of the latest iterator adapter in your chain, so if you do `.drain_filter.map` that message is gone.

[2022-01-03 16:41] rustonaut commented on #43244
The we might want to improve that.

[2022-01-03 16:46] tmccombs commented on #43244
Would it be useful to add a method to Iterator that does the equivalent of `foreach(drop)`?

[2022-01-03 16:48] danielhenrymantilla commented on #91942
@davidhalter you're right, the `'static :` "hack" is not needed here; if I had to guess it would be due to the `impl Fn(… 'lt …)` which already act as making Rust consider the `'lt` parameter is "non trivial" which is when it gets to be early-bound (rather than late-bound), which allows turbofishing it:

  - Here is a [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&

[2022-01-03 16:50] tux3 commented on #92477
I'm also affected, I get this panic frequently (every 4-5 incremental builds).
Here's the backtrace I get just in case:

<details>
<summary>Backtrace</summary>

[code]
</details>

[2022-01-03 17:00] rustonaut commented on #43244
Also tbh. I think we should lint by default when implementing Iterator on a type which is not `must_use` by default, but again out of scope of this issue.

More in scope is that the behavior what happens if you drop a "consume-on-drop" iterator which you wrapped inside of an map:
The "consume-on-drop" iterator gets consumed but the mapping (and side effects resulting from it) is _not_ done. Which

[2022-01-03 17:04] slightlyoutofphase commented on #92511
For what it's worth, your code compiles within less than 10 seconds even on [the Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=d4d3c7a9fec34d361c52cf7860494f79) if written like so:

[code]

As far as I can tell, the combination of defining the giant array inside of `main` and also making the compiler evaluate `data.len()` over and over rather than just once

[2022-01-03 17:18] psionic12 opened #92524 "calling functions casue STATUS_STACK_OVERFL on Windows"
I can't provide a minum reproducable code, but it can be reproduce by running the example in project https://github.com/derivator/egui_vulkano, just git clone it, and run `cargo run --example example`, the program will crash with message:

[code]
What the crate does is not important (it's for some graphic thing), the crash happens when calling the function `let pipeline = create_pipeline(device.cl

[2022-01-03 17:20] rustonaut commented on #43244
I think in most cases where you want to use `foreach(drop)` it's when there are two different kinds of
functions hiding in one, like e.g. for drain it's:

1. at once remove and drop all elements in a specific range
2. step by step move all elements in a specific range from the collection to another place

In generally I think it's preferable to provide to separate functions for this.

Jumbling the

[2022-01-03 17:22] djc commented on #84419
See https://github.com/rust-lang/rust/pull/92526.

[2022-01-03 17:30] slightlyoutofphase commented on #92512
One thing worth noting here again is that you can't actually use regular `some_ptr.offset_from(some_other_ptr)` on a typed ZST pointer anyways, as it explicitly panics when encountering them. You have to use `ptr_offset_from(some_ptr, some_other_ptr)`.

I'd also want to point out that the result of [the function](https://github.com/slightlyoutofphase/staticvec/blob/d8cd0efd5bfa7362b7cea64355fe7215

[2022-01-03 17:35] rust-highfive opened #92527 "`miri` no longer builds after rust-lang/rust#92518"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#92518, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-01-03 18:07] mdibaiee commented on #90703
#92443 will fix this for "simple" primitives such as:
char, str, bool, never, usize, u{8, 16, 32, 64, 128}, isize, i{8, 16, 32, 64, 128} and f32, f64. However, for types that wrap around other types, such as Tuple, Array, Slice, RawPtr, etc. I was not able to make it work at first sight. See the discussion here: https://github.com/rust-lang/rust/pull/92443#discussion_r776808181

As such, I think t

[2022-01-03 18:38] asquared31415 opened #92529 "Confusing error with bad generics in structs "error: expected one of `!`, `(`, `,`, `=`, `>`, `?`, `for`, `~`, lifetime, or path, found keyword `fn`""
Given the following code:

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5065c4a01d77d7e17aac442b1f75b7b2)

For structs with a keyword in place of a trait in generics an error of the form

[code]
appears. This happens for all keywords, but does not happen for "weak" keywords like `union` or keywords like `async` if compiled in an edition where they wer

[2022-01-03 18:46] asquared31415 commented on #92522
@rustbot label +A-incr-comp

[2022-01-03 18:54] Jonas-Wessner commented on #92492
This happened once again now to me. I can now say that both of the times it happened were after removing unued imports. Therefore I think it might be related to imports still being cached but non existent in the source code.

[2022-01-03 18:57] pierwill commented on #92052
I'm interested in working on this, but I might not be able to get to it for a few weeks. If someone else is interesting, feel free to ping me here. :) In the meantime, @rustbot claim

[2022-01-03 19:02] compiler-errors commented on #92520
Just for the record, this change also makes it compile (that is, explicitly naming the lifetime):

[code]

Desugaring `for<'a> FnMut(&dyn Trait<'global, 'a>` into `for<'a, 'b> FnMut(&'b Trait<'global, 'a>)` seems to yield the same error.

Interestingly, though possibly unrelated, changing that `foo` call to take `&'a self` also leads to some interesting (and quite unhelpful) errors: [playground](h

[2022-01-03 19:24] compiler-errors commented on #92520
Also interesting, if we put the reference into a wrapper type, it compiles as well: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=62858ebb5f1aceedf1ba655e5cf71865

[2022-01-03 19:26] ilyvion opened #92531 "Confusing error message with moving a value within a nested for loop"
I had code similar to the below (which is a minimal reproduction version of the original code), and its error was very confusing to me, enough so that I had to ask about what was wrong with it on the Rust discord, and even then it took a little while before anyone could get through to me what was even wrong.

Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition

[2022-01-03 19:30] ibraheemdev commented on #92531
@rustbot label +C-enhancement +D-terse +A-borrow-checker

[2022-01-03 19:34] RalfJung commented on #92512
The internal intrinsic `ptr_offset_from` is UB when the pointers point to a ZST.

No it is not -- it is UB. The UB just happens to give the correct result for current compilers.

Yes, that's what I would expect: when the two pointers are derived from the same pointer in a provenance-preserving way, CTFE will correctly compute their difference. However, it only does so because it fails to check for

[2022-01-03 20:12] tarcieri commented on #27970
For what it's worth, according to a straw poll on this thread, an overwhelming majority of people preferred this approach:

https://internals.rust-lang.org/t/synchronized-ffi-access-to-posix-environment-variable-functions/15475/155

[2022-01-03 20:16] slightlyoutofphase commented on #92512
It's a completely logical contexual result, at the very least. Don't get me wrong though, it's not like I don't _want_ to do "the right thing" (which I think I was in the first place with my original `usize`-cast implementation of that function, as it was consistent with the typical non-`const`-context usize cast approach I continue to use pretty much everywhere else for ZSTs).

What that did for

[2022-01-03 20:29] briansmith commented on #27970
The current documentation of `env::set_var` says: "Note that while concurrent access to environment variables is safe in Rust, some platforms only expose inherently unsafe non-threadsafe APIs for inspecting the environment. As a result, extra care needs to be taken when auditing calls to unsafe external FFI functions to ensure that any external environment accesses are properly synchronized with a

[2022-01-03 20:32] thomcc commented on #27970
I think those steps are not particularly uncontroversial (and I'm happy to see the concensus[^1]), the open question is whether or not that's sufficient.

[^1]: I'm *very* happy to see it being taken seriously, in a way that isn't "expose libstd's lock" (which would be a problem for no_std code) and "forbid calling functions that read from the environment" (which would be a problem for FFI code).

[2022-01-03 20:33] RalfJung commented on #92512
No, that won't work -- then one can cast an arbitrary `*const T` to `usize` by going through `*const ()`.

I see two solutions to the problem laid out in the issue description:
- Weakening the requirements of `offset_from` to just demand that both pointers are derived from the same pointer (to the same allocation). As you noted, this indeed already matches the current implementation, so this would

[2022-01-03 20:35] briansmith commented on #37984
Understood. One thing that isn't clear though, is how far back the MS team went to verify the change. I.e. is it their policy to consider versions that are no longer supported to have never existed (especially since, in practice, it is hard for any other policy to be a good use of time, as that's the whole purpose of dropping support)? I do feel some comfort in seeing that that commit was apparent

[2022-01-03 20:43] RalfJung commented on #27970
It's worse than that: Rust libraries must avoid calling `env::get_var` because that could race with a `setenv` from NSPR! Likewise, Firefox must not link with any C library that calls `getenv`, since that call would also fail to be protected by the lock.

The NSPR lock is just as bad as the Rust lock when it comes to compositionality with general-purpose C code. Both of them only work if they are

[2022-01-03 20:44] slightlyoutofphase commented on #92512
That seems like the best way to go to me, although I should be clear that my own use case for this does not extend beyond "something that works properly for ZST array element pointers (either directly or indirectly) without panicking".

It seems to already be as optimized as it could be if you ask me, so you're likely right.

[2022-01-03 20:44] briansmith commented on #27970
Regarding the specific issue of whether libstd's `getaddrinfo` wrapper should have a lock around the call to the C function, see https://emptysqua.re/blog/mac-python-getaddrinfo-queueing/, where the author notes that lock contention was a serious problem with CPython's implementation of exactly that idea. Rust's env lock would need to become, at minimum, a reader-writer lock so that the `getaddrin

[2022-01-03 20:48] tarcieri commented on #27970
It already is:

https://github.com/rust-lang/rust/blob/5e93f6e318e687c05c8c44517de4586ed75ce3f4/library/std/src/sys/unix/os.rs#L487

[code]

[2022-01-03 20:49] RalfJung commented on #92512
FWIW, the optimizations I alluded to would be optimizations of the *surrounding* code that could exploit the fact that these pointers are in-bounds.

But that, too, seems rather speculative, and is probably not the best way for the programmer to make such a guarantee to the compiler.

[2022-01-03 20:57] oldnewthing commented on #37984
@briansmith The lock has been there since Win95 and NT 3.51. (My archives don't go back to NT 3.1 but I doubt the story in 3.1 is any different.)

You are correct that when an old version of Windows is dropped, we stop updating the documentation for that obsolete version. For example, InterlockedIncrement originally returned only the sign of the result, but since NT 4.0, it has returns the increme

[2022-01-03 21:05] mdibaiee opened #92536 "rustdoc: cannot resolve links to associated trait items for complex primitives"
As a continuation of https://github.com/rust-lang/rust/issues/90703

#92443 fixes this for "simple" primitives such as:
char, str, bool, never, usize, u{8, 16, 32, 64, 128}, isize, i{8, 16, 32, 64, 128} and f32, f64. However, for types that wrap around other types, such as Tuple, Array, Slice, RawPtr, etc. I was not able to make it work at first try. See the discussion here: #92443

Basically we w

[2022-01-03 21:06] mdibaiee commented on #92536
@rustbot label +T-rustdoc +A-intra-doc-links

[2022-01-03 21:08] anderslanglands opened #92537 "dioxus hello world example causes compiler panic on windows"
### Code

main.rs:
[code]

Cargo.toml:
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-03 21:08] Aaron1011 opened #92538 "Inconsistency between Clippy and Rustdoc build stages"
If I run:

[code]

Then I get a `rustdoc` built against my local `stage1` compiler

However, if I run:

[code]

Then bootstrap will attempt to build a **stage2** compiler, and compile Clippy against it. In order to get the same result as with Rustdoc, I need to use  `./x.py build src/tools/clippy --stage 0`

As far as I know, both Clippy and Rustdoc are both the same 'kind' of tool (they are a fro

[2022-01-03 21:17] davidhewitt opened #92539 "`rustc_driver.dll` size on `x86_64-pc-windows-gnu` toolchain"
I noticed that the size of `rustc_driver.dll` for the windows `x86_64-pc-windows-gnu` toolchain seems suprisingly large compared to the `x86-64-pc-windows-msvc` toolchain. It's also been growing quickly in recent releases.

See chart below comparing the size of `rustc_driver.dll` for these two targets for stable releases since 1.40:

![chart](https://user-images.githubusercontent.com/1939362/14797

[2022-01-03 21:17] briansmith commented on #27970
That's not how Rust's memory unsafety model works, right? The unsafe action is the call to `setenv` in a thread executing concurrently with any other thread that might call `getenv`. Just like any thread could use `unsafe` code to scribble on memory concurrently with a thread running safe Rust code, and cause the safe Rust code to fault.

Generally environment variables aren't to be used in Firefo

[2022-01-03 21:24] briansmith commented on #27970
Oh, that lock in `PR_GetAddrInfoByName` separate from the NSPR environment lock, and is to guard against non-reentrant getaddrinfo. So, Firefox may indeed have a memory safety bug here, if `getaddrinfo` reads from the environment around the time a `PR_SetEnv`/etc. is called in another thread.

[2022-01-03 21:25] RalfJung commented on #27970
I am not quite sure what you mean by "Rust's memory unsafety model", but if a Rust function uses `get_var` and, concurrently, another thread uses the NSPR-protected `setenv`, then we have a data race and hence UB. This is the exact same problem that makes a call to `getaddrinfo` UB when there is a concurrent Rust call to `set_var`: we end up calling `setenv` and `getenv` concurrently without (prop

[2022-01-03 21:29] RalfJung commented on #27970
As @richfelker keeps saying: under current POSIX, the only correct thing to do in a concurrent program is to never call `setenv` once the first thread spawns. Adding a lock to protect environment accesses is *not* a viable alternative unless you can guarantee that the same lock protects *all* environment accesses. We are having this discussion because the Rust lock can not actually make this guara

[2022-01-03 21:31] briansmith commented on #27970
`setenv` is an unsafe function, and is breaking invariants that Rust doesn't enforce. This is equivalent to `*(char *)rand() = 42` that @richfelker noted above.

That's because `env::set_var` is an unsafe function and should be deprecated and eventually made `unsafe`.

I hope nothing I've written above makes it seem like I'm advocating for adding a lock or using the lock more. My proposal is in ht

[2022-01-03 21:33] RalfJung commented on #27970
@briansmith you wrote

I hope the subsequent discussion established that Firefox's lock is *not* one of these "subtle exceptions". It is just as broken as Rust's lock.

[2022-01-03 21:35] briansmith commented on #27970
FWIW, this is indeed what Firefox developers are expected to do. 1. Remove as many uses of the environment as possible. 2. Change any that can't be removed to use `PR_SetEnv`/`PR_GetEnv`. Note that it seems the Firefox developers overlooked the fact that `getaddrinfo` may access the environment; perhaps they were relying on it conforming to POSIX. If I were still working on Firefox I would add to

[2022-01-03 21:44] briansmith commented on #27970
I agree.

A very small part of the ecosystem needs that.

There are multiple issues:
1. Currently, `env::set_var` is an unsafe function, but it isn't marked `unsafe`. This is a serious bug that should be fixed immediately. I provided a proposal for this above.
2. `getaddrinfo` on Linux (in glibc at least) accesses the environment even though it isn't supposed to, which is problematic if anything c

[2022-01-03 21:47] Mark-Simulacrum commented on #66738
I suspect this is not actually a bug, in some sense. Currently, the closure being passed into the function here doesn't get a return type of `!`. Expressions like `loop {}` are typed as `!`, but the return type of the closure is inferred for this code -- and the `loop {}` expression sets no requirements on the return type due to `!` being coerceable to any type -- including the inference variable

[2022-01-03 21:47] catleeball opened #92540 "Error message improvement for a missing comma syntax error in `.fold()`"
Given the following code [play.rust-lang.org link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=eb1c2f0d199fae770683aa7a0d08a5ee):

[code]

The current output is (in both stable and nightly):

[code]

Ideally the output should look like:

[code]

Just a small suggestion to help point out an easy syntax mistake that (hopefully) isn't too hard to detect!

If this bug is ap

[2022-01-03 21:48] jyn514 commented on #92538
cc https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Idea.20for.20explaining.20stages.20better/near/212184384

[2022-01-03 21:59] slightlyoutofphase commented on #92512
I'm not sure there actually even are too many useful scenarios where a person would call `ptr_offset_from` or `offset_from` on pointers that were not either to proper sized array elements or at least _conceptually_ in bounds as in the case of ZST array elements, anyways, which probably helps the compiler along with knowing their validity I'd think.

Like, I don't know what you'd expect to do with

[2022-01-03 21:59] Patrick-Poitras commented on #92537
Can confirm bug is replicable with example above.

[code]

[2022-01-03 22:01] davidhewitt commented on #92539
It looks like #84449 might well be relevant. Here's some outputs from `dumpbin`:

First, nightly 2021-06-04 for the `gnu` toolchain:

[code]

Second, nightly 2021-06-05 for the `gnu` toolchain. Note that the output is very similar, except for a new `.rmeta` section. I'm not an expert on `dumpbin` output; if I understand the size of that section `E87F000` is a hex size in bytes, that converts to a

[2022-01-03 22:11] nikic commented on #92539
This would probably be fixed by https://github.com/rust-lang/rust/pull/92107. There was a typo that prevented actually setting the necessary flag.

[2022-01-03 22:15] RalfJung commented on #27970
I agree on all 3 of these, including your approach for (1) -- except I am not sure if changing `unsafe`ty of a function at an edition boundary is possible (and if it is, there are some other candidates, such as `Command::before_exec`), but that is mostly independent of the rest of the plan.

[2022-01-03 22:17] ssomers commented on #43244
And yet I have not seen anyone point out what is wrong with its design.

[2022-01-03 22:18] briansmith commented on #27970
Besides the three issues I noted above, there is a fourth issue: `getenv` is also not thread-safe:

@richfelker wrote:

This is the change in that doc:

We could either keep using `getenv` on the assumption that even though current and older POSIX says it isn't thread-safe, or we could just change `std::env` to use `environ` directly with pure Rust code and avoid `getenv()` completely; i.e. RiiR.

[2022-01-03 22:19] RalfJung commented on #66738
Ah, I see, that makes sense... and indeed this variant works:
[code]

[2022-01-03 22:21] RalfJung commented on #92512
Yeah, that would be the Technically Correct thing to do. I'd recommend to call the `offset_from` method though, `core_intrinsics` is one of those feature gates one should rather avoid -- directly calling intrinsics is not going to ever be stabilized and their API contract, including what is and is not UB, is not stable and not even always properly documented.

[2022-01-03 22:26] slightlyoutofphase commented on #92512
Yeah, I think the original reason I was using it is that the `method`-like `offset_from` from wasn't `const` at the time, while the intrinsic was. Guess I can just switch it over now, though.

I think I wrote that comment moreso in reference to the fact I'm casting the `isize` result to a usize, which is part of what makes it a useful "convenience" function.

[2022-01-03 22:30] RalfJung commented on #76661
I am afraid this is still not working properly: when I run `x.py` in the terminal while there is a vscode `x.py check` running in the background, I get
[code]
but once vscode is done, all that happens is that the `x.py` in the terminal starts using 100% CPU. It does not actually start running though.

[2022-01-03 22:35] richfelker commented on #27970
@briansmith wrote:

It does mean it's doing so unsafely. The only "subtle exception" is that the unsafety is defined as making the call concurrently with any other standard function, so a program where the only other thread(s) do not call library functions at all, only do raw computation and communication of results via raw atomics without invoking synchronization primitives, could in theory be we

[2022-01-03 22:40] Mark-Simulacrum commented on #76661
Ah: https://github.com/rust-lang/rust/pull/88310/files#diff-9e25a089f077eae8c8cefe9586cc07498e64cd950be4c954cb90e4245e5f9fc3R42-R46 looks like it missed actually breaking out of that loop -- happy to accept a PR to do so.

[2022-01-03 22:41] cbeust commented on #92537
Confirmed on Windows 10 for me as well (`cargo build` is enough to produce the error).

[2022-01-03 22:43] cbeust commented on #92537
Including the error for completeness.

[code]

[2022-01-03 22:46] richfelker commented on #27970
This isn't a response to any one comment, but I'd like to address a general theme I've seen that the environment could somehow be "made thread-safe for modification", either with a different API (more powerful than `getenv` that gives the caller a way to express the lifetime of its reference to the string) or by leaking memory (note: this would be bad for legacy single-threaded apps that repeatedl

[2022-01-03 23:03] briansmith commented on #27970
To add onto what @richfelker said, there's no way to implement a thread-safe `env::set_var` that modifies the environment returned by `getenv`, because `getenv` must use the environment in `environ[]` and because `environ` is a global variable and not a function, there's no way to add a lock to it transparently.

[2022-01-03 23:04] david-wb commented on #92500
This problem has been answered on the user forums here: https://users.rust-lang.org/t/recursive-macro-expanding-same-inputs-to-different-outputs/69756/3

[2022-01-03 23:04] #92500 closed

[2022-01-03 23:06] Patrick-Poitras commented on #92537
Seems like they managed to get a patch out that fixes the issue.

With that information, I think this may be related to #89189.

[2022-01-03 23:13] tarcieri commented on #27970
As long as we're spitballing about hypothetical new libc features, how about a feature that opts-in to actually enforcing this, i.e. a way to `freezeenv` the environment within a particular process such that calls to `setenv`/`unsetenv` return an error at the libc level?

If that were possible, it seems like the safety errors around `getenv` would just go away without the need for synchronization

[2022-01-03 23:27] rustonaut commented on #43244
You mean besides:

(that point can be super confusing for less experienced programmers)

And it generally behaving different to more or less all other iterators in std.

Sure it's to too bad but it's still a case where forcing two different functions into one resulted in sub-par end results.

---

It does drain-on-drop semantically, sure you can force the view that it instantly consumes the collec

[2022-01-03 23:30] probablykasper commented on #83154
Seems to be fixed by #83678

[2022-01-03 23:30] #83154 closed

[2022-01-03 23:31] rustonaut commented on #43244
The semantics of drain are:

- poison the collection (or at least parts of it)
- move the element step by step out of the poisoned collection
- when done: un-poison the collection
- on drop: proceed to move elements out, and drop them directly,
   even if they normally wouldn't have been dropped but passed to a different
   iterator.

[2022-01-03 23:41] #68779 closed

[2022-01-03 23:46] smijolovic commented on #90244
What is the proper way to build the stage2 compiler now?
With 1.57.0,
x.py build --stage 2 compiler/rustc

Copying stage1 rustc from stage1 (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu / x86_64-unknown-linux-gnu)
Assembling stage2 compiler (x86_64-unknown-linux-gnu)
Uplifting stage1 std (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu)
Copying stage2 std from stage1 (x86_64-unknown-l

[2022-01-03 23:59] nashley opened #92544 "Rustdoc doesn't complain about ambiguous link"
This causes `rustdoc` to link to `#method.foo`:

[code]

This causes `rustdoc` to link to `#structfield.foo`:

[code]

The only difference between the above two snippets is `Test::foo(&self)` being renamed to `Test::get_foo(&self)`.
For convenience, [here's a minimal repo with a commit demonstrating the issue](https://github.com/nashley/broken-doc-field-link/commits/main).

I expected to see `carg

[2022-01-04 00:05] nashley commented on #92544
Additionally, I don't see a way to force `rustdoc` to link to the field name explicitly with `[Test.foo]` [as described in the RFC](https://github.com/rust-lang/rfcs/blob/master/text/1946-intra-rustdoc-links.md#linking-to-fields), but perhaps that's expected.

[2022-01-04 00:42] saethlin commented on #81944
I think it would be better to have this feature sooner rather than later. I'm starting to notice instances where people are doing things that are probably or definitely UB because they want this functionality. So I think this API falls squarely into the standard library's mission to provide pre-built and correct implementations of things that are subtle or difficult to get right.

[`rayon`](https:

[2022-01-04 00:44] saethlin commented on #75017
I think it would be better to have this feature sooner rather than later. I'm starting to notice instances where people are doing things that are probably or definitely UB because they want this functionality. So I think this API falls squarely into the standard library's mission to provide pre-built and correct implementations of things that are subtle or difficult to get right.

[`rayon`](https:

[2022-01-04 01:24] saethlin commented on #27970
I don't want to harp on this well-known situation too much: `itoa` used `mem::uninitialized` for 2 years after it was deprecated for being essentially impossible to call, and for sure the way `itoa` used it was UB. Migration might be slower than we would hope.

[2022-01-04 01:24] Amanieu commented on #75017
I agree. I've been using this in my code and found it to be very useful. Even though `split_at_spare_mut` is more general, I've never had a need for it and I feel that `spare_capacity_mut` is useful on its own.

The API being stabilized is:

[code]

@rfcbot merge

[2022-01-04 01:26] Patrick-Poitras commented on #92537
I have spent the last 2 hours whittling down the entire codebase that they had, in order to have a minimal example. It's fairly weird.
[code]

I'm not 100%, but I figure that `mem::MaybeUninit::<*mut T>::uninit().assume_init()` isn't supposed to be like that. Either way, this reproduces the issue.

[2022-01-04 01:28] whjpji commented on #43244
Under any circumstance, I do not think the `.drain` and `.drain_filter` method should return an iterator that can cause UB if it is `std::mem::forget`ed.

Especially for `BTreeMap` and `BTreeSet`. Imagine there is a `.drain(range)` method which takes out the entries in range bound by iteration and then do range removal on drop. `std::mem::forget` can definitely leave the poisoned collection to cau

[2022-01-04 01:47] alexcrichton commented on #92539
Oh dear I apologize for the bug here! It was definitely an oversight on my part to let that typo through.

IIRC I tested at least on MSVC that the flag was respected, but given the graph in this issue and the fact that the typo flew under the radar it seems the MSVC `link.exe` linker doesn't need this flag to be set to ensure that `.rmeta` doesn't make it into binaries. I don't remember whether I

[2022-01-04 01:58] nnethercote commented on #60705
https://bugs.kde.org/show_bug.cgi?id=445916 has details of some progress on the gcc/libiberty/valgrind side about handling the suffixes added by LLVM.

[2022-01-04 02:01] ssomers commented on #43244
It's super confusing to me because I gaven't seen any example. I know things can get hairy on drop (I've written a `drain_filter`), but please include / link to an example or unit test using `drain`.

Yes you can, you can give the end of the range. If you want the interation to "interact" with the drain process, you end up with a different algorithm, basically a better version of `drain_filter`.

[2022-01-04 02:02] Patrick-Poitras commented on #92537
Can someone on Windows try this as well (build as lib), because I've tried to add this to glacier, but it seems to work there, and it seems to also work on Rust Playground. I'm a bit at a loss.

[2022-01-04 02:16] cbeust commented on #92537
@Patrick-Poitras Can you be more specific? What do you want me (us) to try?

[2022-01-04 02:22] anderslanglands commented on #92537
@Patrick-Poitras yep your example panics for me on Windows.

[2022-01-04 02:23] Patrick-Poitras commented on #92537
@cbeust I'd like someone to try the minimal example that I've pasted above, since it doesn't compile on my machine (Windows), but it seems from the other issues thread (on dioxus) that it's a Windows-specific problem. When I've run it on linux machines, it seems to compile there.

[2022-01-04 02:56] pkcinna01 commented on #35083
How is expect() not ambiguous?  Strange this was not addressed back in 2016 when this thread started.   If there is resistance to deprecating expect() then why not provide or_panic() or unwrap_or_panic() as permanent alternative?  "expect" clashes with every language I can think of... python has "except:", rx libraries have .catchException(), other languages have try/catch.  Javascript promises ha

[2022-01-04 03:10] camelid commented on #59502
Note: I have since added a regression test for this issue, in 908a9d4aad61f4b8108ff91ae42f76e67dec5148.

[2022-01-04 04:23] DemiMarie commented on #27970
I wonder if libc should expose an `is_single_threaded` function.  If this returns true, mutating the environment is safe.  The main use for this would be in assertions, such as:

[code]

This also means that any library that accepts configuration via the environment, without allowing this configuration to be overridden in a thread-safe way, is significantly lacking, if not outright buggy.  If one

[2022-01-04 04:41] QuineDot commented on #87751
The lifetime in the arguments can remain elided, and thus the function can remain higher-ranked, if [the bound is made to be higher-ranked](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f1a73c7e974f6a102d3786e66740dd49):
[code]

WF kicks in here and the second suggestion is still unnecessary (`R` need not be `'static`).

[code]

[2022-01-04 05:17] Firstyear opened #92547 "VecDeque missing operations for "front" handling."
From the docs of VecDeque:

"""
A double-ended queue implemented with a growable ring buffer.

The “default” usage of this type as a queue is to use push_back to add to the queue, and pop_front to remove from the queue. extend and append push onto the back in this manner, and iterating over VecDeque goes front to back.
"""

From this, we can assume the default way to use VecDeque when visualised i

[2022-01-04 06:46] saethlin opened #92549 "Miri detects UB (SB error) when setting a thread name"
I tried this code:

[code]
`MIRIFLAGS="-Zmiri-tag-raw-pointers" cargo miri run`

I expected to see this happen: Nothing

Instead, this happened: Miri is upset 😢

[code]

I truly have no idea what's going on here. I've tried a number of things with moving data or pointers to data into threads, and none of them can trip up the Stacked Borrows tracking. cc @RalfJung ?

[2022-01-04 07:04] SparrowLii commented on #92495
Adding the following statement can avoid this problem:

    impl Copy for isize {}
    impl<T: ?Sized> Copy for &T {}

Perhaps the compiler's error handling should consider the #![no_core] situation.

[2022-01-04 07:35] J-ZhengLi opened #92550 "ICE when testing new clippy lint"
I tried to learn some clippy lint development today but I just couldn't get my head around this annoying error, It seems like this `Internal Compiler Error` appears whenever I made any change to the original files, even by reverting all the changes doesn't make the error go away, only by deleting the `/target` folder and rebuild the whole thing does.

### Code
**In rust-clippy/test/ui/test_attr.rs

[2022-01-04 08:00] hellow554 commented on #92547
Maybe I don't understand you right, but `split_off` does exactly what you want. It gives you two independent deques.

As an alternative you could also use [`drain`](https://doc.rust-lang.org/std/collections/struct.VecDeque.html#method.drain) and drop the result.

[2022-01-04 08:06] davidhewitt commented on #92539
Thanks both - I see #92107 is about to be merged in a rollup, so I'll check the next nightly produced after that lands and report back here.

[2022-01-04 08:08] hellow554 commented on #92495
You can provoke this with only `cargo check`:

minimized:

[code]

[2022-01-04 08:10] hellow554 commented on #92492
Can you share the code with us? Maybe two exact git commits, one before the import chance, one after.

[2022-01-04 08:14] comex commented on #27970
Arguably this is an example of a difference between C and Rust philosophy.  You're treating memory safety as a special case of correctness, reasoning that there is no point making it memory-safe if it can't be correct.  From my perspective, an API that encourages logical race conditions is like a house that's not built to code, while a memory-unsafe API is like a house that's \*\*on fire\*\*.

To

[2022-01-04 08:52] nikic commented on #92181
This should be resolved now by https://github.com/llvm/llvm-project/commit/de92a13fec72a0aa80a466e7f228f5af435cebc9 (temporary workaround on the LLD side) and https://github.com/llvm/llvm-project/commit/4ef560ec6026a2cef71748852c68cd4a79c0ac0a (assigning correct section type for rustc's way of declaring it), so closing this.

[2022-01-04 08:52] #92181 closed

[2022-01-04 09:02] Firstyear commented on #92547
No it doesn't. If I have

[code]

What happens is that self.queue has it's right hand side (the back) removed similar to truncate. The only way to emulate this with "split off" to remove from the front (left) is:

[code]

[2022-01-04 09:18] 5225225 commented on #92549
I vaguely remember a previous issue where pointer -> int casts tripped up stacked borrows when used in a syscall like that.

I'd need to go find it, but IIRC the (proposed, i don't think tested) solution was to transmute if `cfg!(miri)`?

[2022-01-04 09:21] RalfJung commented on #76661
@worldeva is that something you could take a look at?

[2022-01-04 09:21] RalfJung commented on #90244
`x.py build --stage 2 compiler/rustc` works for me, you just have to ignore the error.

[2022-01-04 09:32] RalfJung commented on #92549
Yeah, the `<untagged>` is the smoking gun here -- good catch.

Int-to-ptr casts do not work with `-Zmiri-tag-raw-pointers`.

[2022-01-04 09:49] RalfJung commented on #27970
POSIX explicitly allows calling `MT-Unsafe const:X` functions if suitable locking is in place on *all* concurrent calls that are marked with `MT-(Un)Safe X`. So putting locks around these *can* make them thread safe, the difficulty is in ensuring that the locks are put *everywhere*. That can only be done in a "closed world" situation where one has full control over all code linked into the process

[2022-01-04 11:46] ChosunOne opened #92552 "Panic when checking Send obligation of type alias"
### Code
I'm not really sure what causes the crash, I'm using a lot of generic types here, and the snippets are just a fraction of the codebase.
[code]
where `G` is of the form:
[code]

Later on, in my tests module
[code]

### Meta

`rustc --version --verbose`:
[code]
It should be noted that I don't see this error in the latest beta or nightly versions, but I'm not sure if this crash was known so

[2022-01-04 11:57] ChosunOne commented on #92552
If I simply remove the type alias, things seem to work just fine when it uses inference for the type instead in my tests.

[2022-01-04 12:16] Alexendoo commented on #92537
Doesn't ICE for windows -gnu targets, just -msvc

[2022-01-04 12:21] Alexendoo commented on #92537
Seems to be debug info related, only ices with `-C debuginfo=1` or `-C debuginfo=2`

[2022-01-04 12:29] danielhenrymantilla commented on #75017
@saethlin while waiting for this feature to be _stabilized_, you should suggest that `rayon` and `protobuf` use one of the convenience methods in: https://docs.rs/uninit/0.4.0/uninit/extension_traits/trait.VecCapacity.html#method.split_at_extra_cap

[2022-01-04 12:30] Alexendoo commented on #88778
Fixed by #92080

[2022-01-04 12:30] #88778 closed

[2022-01-04 12:53] sfackler commented on #92547
[code]

[2022-01-04 13:59] whjpji commented on #92478
Close in favor of #81075.

[2022-01-04 13:59] #92478 closed

[2022-01-04 14:02] ssomers commented on #43244
To be clear, this is about the iterator returned by `drain_filter`.  Does such a `scope` parameter exist elsewhere in libraries?

I think that's a given in all official Rust. There are unit tests against (single) panic in a drop of the elements, panic in predicates, using mem::forget, and they don't allow UB, or leaving behind a poisoned collection later triggers UB later. Though I wouldn't be sur

[2022-01-04 14:48] b-naber commented on #87001
@rustbot claim

[2022-01-04 14:49] dvdsk opened #92554 "confusing dead code warning inside macro annotated function"
If I instrument an _unused function_ using the _tokio-tracing_ library I get a dead code warning that seems impossible.

The `instrument` procedural macro rewrites the _unused function_. Somewhere this causes the dead code warning for the function to not be reported. However dead code warnings from the function body, caused by the function not being used, are reported. As you miss the dead code wa

[2022-01-04 15:21] pnkfelix commented on #91671
Okay, *newest* update:
 * The pernosco links above are not as useful as I would like, because they do not have any logging output from LLVM, so its hard to understand the intermediate states of things as you work through the code.
 * I tried doing runs with an debug-enabled LLVM and passing the `-debug` flag as an LLVM arg. This, on its face, caused my Rust-debug-noopt build time to go from 48 sec

[2022-01-04 15:40] matthiaskrgr commented on #92550
This likely a duplicate of https://github.com/rust-lang/rust/issues/92163
Problem is that while this has already been fixed on maste/nightly, clippy is currently pinned to a rustc version that probably doesn't have fix yet, the next rustc <-> clippy sync should fix that.

And yes `cargo clean` should fix the problem, at least until next time :)

[2022-01-04 16:39] saethlin commented on #92549
Wow that's awkward. So we're backed into a corner here by the combination of this miri peculiarity and the signature of this libc function, because it is trying to be generic.

Is this something better fixed in miri?

[2022-01-04 16:56] briansmith commented on #27970
You could imagine defining an API like this, or a better API:
[code]
Each standard library (Ruby, NSPR, Rust libstd) would provide an implementation of that API and it wouldn't matter which implementation the linker chose as long as it chose the same implementation for all 4 functions. Even libc could opt into doing it. This works poorly for `getaddrinfo` and any other function that does I/O, whic

[2022-01-04 16:56] Patrick-Poitras commented on #92537
I have further narrowed it down:

[code]

The key here is really in the small modifications that will make it work. I now think the bug occurs when it's trying to check if `Option<VNode<'_>>` fits the `T:?Sized` condition. The `uninit().assume_init()` bit seems to only be required to get something that is not type resolved once it leaves the function.

[2022-01-04 17:05] briansmith commented on #27970
A long time ago @thomcc wrote:

I think it doesn't make sense to file bugs on projects that are just reading the environment. However, I do recommend filing issues against crates that are modifying the environment by calling `env::set_ver` or `env::remove_var` and making PRs to help them find an alternate solution (hopefully `Command::{env,envs}`). I would suggest prioritizing non-test instances o

[2022-01-04 17:07] Patrick-Poitras commented on #92537
Here is what I've gathered so far:

### Clue 1: The self-referential slice is important.

`VNode<'src>` can't be rewritten without the reference to the slice, as

[code]
Will give the ```the size for values of type `[VNode]` cannot be known at compilation time``` error.

However, removing the slice compiles:
[code]

### Clue 2: Not wrapping in an Option type compiles successfully.
If we change `Op

[2022-01-04 17:10] ISibboI opened #92557 "Miscompilation when using ..Default::default()"
When initializing a struct using `..Default::default()` instead of writing out the struct, the compiler produces erroneous code.

This happens in the integration tests of a project of mine. When constructing the struct without the shorthand (but simply setting the values to their defaults), the integration tests fail in an expected way. If I use the shorthand `..Default::default()`, the integratio

[2022-01-04 17:26] genIterator commented on #61796
Hello everyone,

the issue is directly related to firefox being provided as snap package now in Ubuntu. You can check that the snap package provides access to the home folder using the "snap connections firefox" command. However, as described [here](https://askubuntu.com/questions/1238211/how-to-make-snaps-access-hidden-files-and-folders-in-home#) access to the home folder does not include access

[2022-01-04 17:29] Aaron1011 commented on #92552
This is a known incremental compilation bug, and should be fixed on the latest nightly.

[2022-01-04 17:31] richfelker commented on #27970
@DemiMarie wrote:

Yes, absolutely.

If you need to modify the environment in the child without exec'ing, you can modify `environ` directly. However there are very few if any (likely no) applications for this since the functions which would consume it are almost surely AS-unsafe. Note however that relaxation of the rule about what you can do after MT `fork` is a common extension implementations of

[2022-01-04 17:36] Aaron1011 commented on #92492
This is a known issue, and will be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-01-04 17:41] richfelker commented on #27970
@RalfJung wrote:

This is not the case. `MT-Unsafe const:X` is a glibc invention that does not match the POSIX definition of thread-safety at all, and that's the source of a lot of this confusion. These glibc annotations were invented to describe the implementation properties of glibc and make what was previously a de facto contract with glibc into a documented one.

The [POSIX definition of threa

[2022-01-04 17:41] ocstl commented on #62649
Triage: Since this has been fixed and is covered by a regression test, is it still relevant to keep open?

[2022-01-04 18:15] nico-abram commented on #27970
If `std::env::set_var` is deprecated and/or made unsafe, should something like a safe `std::os::windows::env::set_var` be added to provide a migration path to users of non POSIX platforms?

[2022-01-04 18:28] LovecraftianHorror commented on #92557
Just to note, this isn't a miscompilation. Your definition of `default()` will recurse infinitely which will normally show up as a stack overflow, but it looks like `Client::new()` is doing some logic that causes you to have too many open files first instead

[2022-01-04 18:32] ehuss commented on #83534
Closing as a duplicate of #78474.

[2022-01-04 18:32] #83534 closed

[2022-01-04 18:33] ehuss commented on #92557
Yea, this is expected behavior.  It is recursively calling `Client::new()` which involves opening some file descriptors and it eventually runs out.

Rustc should warn about this, but it currently doesn't.  Closing as a duplicate of #78474.

[2022-01-04 18:33] #92557 closed

[2022-01-04 18:34] ehuss commented on #87482
Closing as a duplicate of #78474.

[2022-01-04 18:34] #87482 closed

[2022-01-04 18:36] briansmith opened #92558 "`std::env` uses `getenv` instead of `secure_getenv`"
The glibc manual at https://www.gnu.org/software/libc/manual/html_node/Environment-Access.html#Environment-Access says:

libstd is a library, and many (most?) Rust crates are libraries, so it seems like we either should follow glibc's advice and use `secure_getenv`, or we should document a clear rationale for going against its advice.

See https://github.com/rust-lang/rust/blob/1d71ba862309d59df71

[2022-01-04 18:41] briansmith commented on #27970
From the glibc official documentation (https://www.gnu.org/software/libc/manual/html_node/Environment-Access.html#Environment-Access):

I just filed https://github.com/rust-lang/rust/issues/92558 about that.

@richfelker Where can we find the similar documentation for musl? Specifically, I'm looking for documentation that says `getenv` is thread safe in the same way that glibc says it is.

@nico-a

[2022-01-04 18:49] Spanfile commented on #92477
Also got this same error. I haven't been able to reproduce it since it happens only with occasional incremental builds. These are the `Adlist` and `AdlistFormat` mentioned in the backtrace (the `serde` feature is enabled):

[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

[2022-01-04 18:55] briansmith commented on #90308
There is a lot of discussion in #27970 that's really about this issue. This is largely my fault because I didn't know this issue existed.

[2022-01-04 18:56] richfelker commented on #27970
@briansmith wrote:

This is an oversimplification and really depends on what they're doing with the variables.

Presently there is no such documentation. Having documentation for guarantees beyond the ones the standard makes is an open todo item. For this specific case, however, the POSIX-next requirement serves as the documentation.

[2022-01-04 18:58] briansmith commented on #27970
Sorry about all the discussion about deprecating `env::{set_var,remove_var}` above. I didn't realize there was a separate issue about it: #90308. I'll direct all my future comments about the deprecation there.

[2022-01-04 19:05] saethlin commented on #75017
@danielhenrymantilla Ralf mentioned this on #81944, mostly rewording with my own opinion: I would prefer not to recommend that function, because even if you just want access to the spare region, under SB, these interfaces invalidate all pointers to the initialized region. I think that's too much of a footgun for codebases where people are already writing code that is rejected by Miri.

[2022-01-04 19:26] ISibboI commented on #92557
Thanks. I did not actually know that the shorthand is supposed to behave this way.

[2022-01-04 19:29] RalfJung commented on #27970
I stand corrected, sorry for that -- I did not realize that this was all glibc-specific.

Existing practice clearly involves calling `setenv` in multi-threaded programs, so it does not seem to me like POSIX is interested in accounting for existing practice.

[2022-01-04 19:40] tstellar commented on #74657
@alexcrichton Is the intention with 1357af3a55e24c7d28abb5eda258662f2307fadd  that linkers will always ignore the .llvmbc section?  If so, then whatever mechanism was added to cause linkers to ignore the section is not working with bfd and the gold plugin.

I also wonder if this is fixed by #90326.

[2022-01-04 19:40] richfelker commented on #27970
@RalfJung wrote:

Here existing practice means what existing implementations support as well as what existing applications are using from that set. Bugs in existing applications that are going unnoticed or willfully unfixed aren't part of said "existing practice".

[2022-01-04 19:50] alexcrichton commented on #74657
Yes that was the original intention. We could probably rename the section to something like `.rustc_llvmbc` if LLVM linker plugins are picking up `.llvmbc` and doing things with it. (I'm not following this issue though so there may also be something we can do such that LLVM-linker-plugin-using-things can sitll work, not sure)

[2022-01-04 19:51] Jonas-Wessner commented on #92492
Unfortunately the project I am working on is not open source and I was not able to extract a minimal example :(.

[2022-01-04 20:19] tstellar commented on #74657
@alexcrichton I think renaming the section to .rustc_llvmbc is going to be the safest solution for rust if you want to guarantee that the section gets ignored.  The .llvmbc has special meaning in LLVM, so even if we were to update the gold plugin to ignore it (which may be possible), there could be other problems that pop up in the future as new features are added to LLVM.

Renaming the section is

[2022-01-04 20:23] #59767 closed

[2022-01-04 20:37] danielhenrymantilla commented on #75017
I wonder how many people do keep outstanding pointers to the initialized part while toying with the extra part 🤔 `::uninit`'s implementation is already way better than their 0-elems slices that get `unsafe`-ly converted into non-empty slices 😱

Anyhow, I've just released a new version with a dedicated `.spare_cap()` adapter: https://docs.rs/uninit/0.5.0-rc1/uninit/extension_traits/trait.VecCapacit

[2022-01-04 20:41] camelid commented on #90244
Yeah, the error is just annoying; it doesn't actually break anything.

[2022-01-04 20:51] saethlin commented on #75017
To be clear, my concern is that the splitting interfaces are adding a landmine for the future. If I'm sending someone a PR I'll make sure it passes Miri at the time, but that's a hard condition to maintain. Especially because the two aforementioned codebases have dependencies that do int-ptr casts, an operation that Miri just doesn't understand at the moment, so it would be hard to advocate Miri i

[2022-01-04 21:00] Nilstrieb opened #92561 "Unused generic parameter E0392 not emitted in recursive type that is behind Cell"
When you have an unused lifetime (or type) parameter, it is a hard error. If you "use" that parameter by having a recursive type,
`rustc` still notices that it's unused and gives the error. But if that recursion goes through `Cell` (also works with `RefCell`), the error is not emitted and the program works fine.

Maybe this should be a diagnostics issue, but I put this under bug since it causes pr

[2022-01-04 21:15] alexcrichton commented on #74657
IIRC we also rely on LLVM-internal functions to find the bytecode within an object, and I think those functions require the section to be named `.llvmbc` or similar. If we were to rename the section we would also need to reimplement those functions in Rust. I don't think that would be hard, but it's something to do. (I won't personally have time to do this).

[2022-01-04 21:55] briansmith commented on #90308
I looked at an application that is using `set_var` in multiple places:
* To provide a default value for `RUST_LOG=debug` when it wasn't already set. We'd prefer a way to do this without setting the environment variable.
* To force `RUST_BACKTRACE=full` regardless of what the environment says. Again, we'd prefer a way to do this without setting an environment variable.
* To test functions that read

[2022-01-04 22:17] Nemo157 commented on #90308
https://docs.rs/env_logger/latest/env_logger/struct.Env.html#method.filter_or

https://github.com/rust-lang/rust/pull/79085

[2022-01-04 22:21] Aaron1011 commented on #92561
This is a very subtle issue. The compiler is not actually checking if the lifetime `'a` get used - it's checking if has its *variance* inferred. With `Box<GivesAnError<'a>>`, there are no constraints placed in the variance of `'a` (`Box` is covariant). However, with `Box<Cell<NoError<'a>>>`, `Cell` ends up forcing `'a` to be **invariant**, allowing the code to compile.

[2022-01-04 22:24] leo60228 commented on #90308
have a new solution for supporting this.

I don't think there's a reasonable way to support this other than running
that test in its own process. That's already prone to logic race conditions
since tests are multithreaded.

At the very least, in an integration test it should be pretty much
obviously safe to put the relevant `set_env` calls at the top of `main`.

On Tue, Jan 4, 2022, 4:55 PM Brian

[2022-01-04 22:28] est31 commented on #92558
The difference is explained in the linked doc:

I think that concern is legitimate.

[2022-01-04 22:43] jyn514 opened #92563 "`impl core::fmt::Write` for `rustdoc::html::render::Buffer`"
A further performance improvement here would be to make sure that `Buffer` impls `core::fmt::Write`, in which case we could use `render_into(buf)` rather than `render()`, avoiding the allocation of a temporary `String` here. `Buffer` internally seems to just hold a `String` and it has `write_str()` and `write_fmt()` methods already, so perhaps it would make sense to implement that trait? I'm not s

[2022-01-04 22:43] briansmith commented on #90308
First, it turns out that our use of `RUST_LOG` was a bit different than I described. I agree current APIs are sufficient, at least for the logging crates we use.

As far as testing goes, if the `serial_test` crate truly ensures no other threads are doing anything during the test, then that might work for our test uses of `set_var` and `remove_var`.

[2022-01-04 22:44] jyn514 commented on #92544
Duplicate of https://github.com/rust-lang/rust/issues/80283.

[2022-01-04 22:44] #92544 closed

[2022-01-04 23:01] #91722 closed

[2022-01-04 23:01] #92479 closed

[2022-01-04 23:09] Firstyear commented on #92547
Given rust's pride in docs and accessibility, I think that methods for front operations should exist, so that others don't have to play a puzzle-solving game to achieve this behaviour.

[2022-01-04 23:17] djc commented on #92563
Since `askama::Template` implementers get a `std::fmt::Display` generated for them by Askama's macro, the simpler way to get the meat of this change would probably be to call `buf.write_fmt(format_args!("{}", tmpl));`

[2022-01-04 23:28] camelid opened #92565 "proc_macro: Add API for loading external files into the `SourceMap`"
### Summary

With this feature, proc macros (like [`askama::Template`](https://docs.rs/askama/0.11.0/askama/derive.Template.html)) could parse external files and **then emit diagnostics with appropriate spans**.

### Proposed API

Other APIs are possible, but I was thinking of something like this:

[code]

I'm not super familiar with the `proc_macro` API, so feel free to suggest better API designs

[2022-01-04 23:29] camelid commented on #92565
cc @djc

[2022-01-04 23:46] camelid commented on #92565
Another possible API for this is a function that could be called by a proc macro and would load a file and return a piece of AST representing that file as a string literal. In other words, this would be like `include_str!` that would be expanded immediately. I feel like I've seen this discussed before, but I can't remember where...

[2022-01-04 23:47] briansmith commented on #90308
In order to use `serial_test` to make `set_var` and `remove_var` in a test safe, the tests would have to be integration tests and where there are no other tests in the same file (really, resultant binary), so that all the tests in the binary are marked `#[serial]`, because `#[serial]` from the `serial_test` crate only serializes `#[serial]` tests; it doesn't prevent non-`#[serial]` tests from exec

[2022-01-05 00:27] petrochenkov commented on #92565
cc https://github.com/rust-lang/rust/issues/73921 https://github.com/rust-lang/rust/issues/55904

[2022-01-05 00:44] agausmann commented on #91722
Thank you @Patrick-Poitras! I was willing to fix this myself and finally get my first rust-lang contribution, but you swooped in out of nowhere and picked this up. It was a pleasure working with you though! 😄

[2022-01-05 01:11] J-ZhengLi commented on #92550
Thank you for the info, closing the issue now~

[2022-01-05 01:11] #92550 closed

[2022-01-05 01:46] George-lewis commented on #87181
Hello everyone, this issue seems to have stalled, so I think I'll take a crack at it myself if that's okay

[2022-01-05 01:46] George-lewis commented on #87181
@rustbot claim

[2022-01-05 01:47] the8472 commented on #92547
Improving the documentation might be sufficient.

[2022-01-05 01:51] George-lewis commented on #87181
It took me a lot of digging, but I've landed in `rustc_typeck::check::method::suggest::report_method_error`. This function is called when there was an error around a method, including when it's not found. So, in the case where the method isn't found, I check if the receiver is a no-argument constructor and apply the suggestion. I'm still working on it, but I think I'll open a PR soon-ish

[2022-01-05 01:53] camelid commented on #81070
Ok, I've looked into this and found the underlying issue. Rustdoc actually uses environment variables as a side channel to tell rustc, but the code is really messy and the filename and line number seem to be obtained separately:

https://github.com/rust-lang/rust/blob/7d6f948173ccb18822bab13d548c65632db5f0aa/src/librustdoc/doctest.rs#L327-L328

I'm still looking into ways to get the filename based

[2022-01-05 02:15] Firstyear commented on #92547
Actually, it's not @the8472. If you look at the source to vecdeque you will see that truncate operates differently to split_off, meaning that it's not sufficient to suggest it as a replacement to truncate. For split_off, retaining the right side, then sure, a documentation improvement would be sufficient. I still think truncate_front is needed.

[2022-01-05 02:23] George-lewis commented on #87181
I've found a related issue for field access on an unconstructed struct. It can be seen here:

[code]

Which yields: `error[E0609]: no field `0` on type `fn(u8) -> Inner {Inner}``

We could probably do something similar to what we're doing here, and tell them to construct the struct/enum variant? Does anyone know if there's an issue for this, and can I fix it here?

[2022-01-05 02:38] Patrick-Poitras commented on #91722
@agausmann it was a pleasure for me as well!

Usually I go in and try to provide some diagnostics, and in this case, I stumbled on the solution. It was actually the first (and to date only time) that has just worked.

On the subject of first contributions, there's a [tag for easy issues](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+label%3AE-easy), that gave me my first actually

[2022-01-05 03:35] ChosunOne commented on #92552
@compiler-errors It failed after a `rm -rf target`, so I would assume that it would also fail on `cargo clean`.
@Aaron1011 Feel free to close the issue if you are sure this bug is already reported/known.

[2022-01-05 04:11] rustonaut commented on #43244
men::forgetting an collection modifying iterator is normally leaving behind a "poisoned" collection.

Through that is with a definition of poison in the sense of "it has forgotten about all it's content due to poisoning" or similar unspecified potential non-stable but rust-safe (i.e. not UB) behavior. I probably should have used a different term there as poison is used e.g. in context of llvm in r

[2022-01-05 04:41] SNCPlay42 commented on #92561
Duplicate of #74165

[2022-01-05 05:29] alexeygrant opened #92572 "Internal Compiler Error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-05 05:34] camelid commented on #92565
Ah, that's the RFC I was thinking of!

[2022-01-05 05:56] jyn514 commented on #66079
Did you get a chance to follow up on this? :) I see you submitted a PR fixing a bug in the lint machinery, I'm not aware of any other bugs right now.

[2022-01-05 06:00] comex commented on #27970
Notably, this implies that it *is* safe for a multithreaded program to access the environment under a lock, as long as it does so by accessing `environ` directly rather than using `getenv` or `setenv`, and as long as no other threads simultaneously call "any function dependent on any environment variable".  However, it's not clear to me if there are any guarantees around what functions are "depend

[2022-01-05 06:39] richfelker commented on #27970
@comex wrote:

The standard is very explicit where functions are specified to use the environment, so my interpretation is that this behavior is non-conforming, and that's why we don't do it in musl. If I recall, we've had this discussion with glibc folks a few times in the past and the consensus was that stdlib extensions using the environment where it's not specified really should be scanning th

[2022-01-05 07:04] Nilstrieb commented on #92561
Ah, so the normal error is not really a lint but the compiler being forced to abort, that makes sense. I guess it makes sense to close this, since it's a duplicate, I couldn't find the duplicate when searching for duplicates 😅

[2022-01-05 08:23] hellow554 commented on #92572
Possible dup of https://github.com/rust-lang/rust/issues/91015

[2022-01-05 08:26] RalfJung commented on #90308
Miri needs something similar [here](https://github.com/rust-lang/miri/blob/b258eb3c27a87320c35860dc233a656838f65003/src/bin/miri.rs#L169), and I think we somehow have two loggers here in this process so I don't know if we can use the env_logger API as a replacement.

[2022-01-05 08:45] qiaolb opened #105478 "Can not run on ASUS Router with Merlin"
I install rust compiler on my ASUS Router with Merlin. And the information:
[code]

Error:

[code]

[code]
Because root path can not write, ld-linux-armhf.so.3 is installed in `/opt/lib`.

[code]

[2022-01-05 09:18] campbellC opened #92576 "Compiler panicked unexpectedly on Option::unwrap()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Error does not happen in 1.59.0-nightly (7d6f94817 2022-01-04) or rust version 1.58.0-beta.2 (0e07bcb68 2021-12-04).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>
[code]

Strangely this worked after a cargo clean whilst I was trying to produce a minimal test case so I c

[2022-01-05 09:18] Zalathar opened #92577 "Computing `<MyStruct as std::ptr::Pointee>::Metadata` fails when trailing field has a projection"
### Code

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8e31db4a857f6bcdbf287b8d9745ca22

[code]

### Meta

(Build fails with an ICE on current stable/beta/nightly on the playground.)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-05 09:22] Zalathar commented on #92577
Same error message as #90738, though it's unclear whether that issue is related.

[2022-01-05 09:28] Zalathar commented on #92577
[According to Godbolt this worked in 1.51.0, and started failing in 1.52.0.](https://rust.godbolt.org/z/T3cMcGMTP)

[2022-01-05 09:32] tsoutsman opened #92578 "Rustdoc: Incorrect closing quotation marks in text"
Hi,
Rustdoc seems to be incorrectly generating quotation marks if the enclosed string has leading or trailing spaces.
[code]
gets rendered like this:
![image](https://user-images.githubusercontent.com/32662194/148194128-e5c5a6b1-dbf4-4152-afac-81e8db0ede08.png)
Only the last one has the correct closing quotation mark.

## Version
`rustdoc 1.59.0-nightly (7d6f94817 2022-01-04)`

@rustbot modify lab

[2022-01-05 09:44] smoelius commented on #66079
Sorry, @jyn514, I've let this slip.

Are you asking because you wanted to make the report? If not, I can make it a priority to get this done.

[2022-01-05 10:41] qiujiangkun commented on #92522
I encountered this problem repeatedly after modifying source code and recompile
[code]

[2022-01-05 10:50] mbartelsm commented on #62358
I have to say I agree with @pmnoxx comment. Currently, the APIs for Option, Result, and Iter are all over the place. You can argue that they are not the same and should not be the same, but in practice, they all serve and are used as Monads whose inner values can be modified in consistent ways (albeit, with inconsistent APIs).

As a relatively new user, one of the most annoying parts of Rust is ha

[2022-01-05 11:02] Expyron commented on #92476
Does this issue also track `const` implementations of `slice` and `str` iterators and their related functions or would that be a separate tracking issue?

For example:
- `core::slice::Iter` and `slice.iter()`
- `core::str::Chars` and `str.chars()`

[2022-01-05 11:06] noelzubin commented on #79024
why did `.next` make it. where can i get more info on this ?

[2022-01-05 11:07] fee1-dead commented on #92476
@Expyron: those implementations have not been added yet. My plan is to land the smallest possible PR that simply makes it possible to work, and constify those in much smaller, finer grained PRs. Further work should use this tracking issue if related.

[2022-01-05 12:05] Aaron1011 commented on #92577
This appears to be fixed in the latest nightly.

[2022-01-05 12:08] Aaron1011 commented on #92576
This should be fixed on the latest Nightly.

[2022-01-05 12:45] campbellC commented on #92576
Yup confirmed that on both the latest beta and nightly I didn’t see the error.

[2022-01-05 12:47] Aaron1011 commented on #92576
Note that this is an incremental compilation issue - if it *wasn't* fixed, it could take several edit-compilr cycles to show up. However, this particular issue was fixed by https://github.com/rust-lang/rust/pull/91924

[2022-01-05 13:00] Spielerr commented on #92547
Yup, I agree with @Firstyear , achieving truncate at front of a deque using split_off or drop/drain workarounds is not ideal. A method such as truncate_front is very similar to the existing implementation of truncate, by altering the front and rear pointers, which would be the most optimized.
There are additional methods of deque which can be extended to respect the inherent property of a deque, t

[2022-01-05 13:22] m-ou-se commented on #62358
I disagree with trying to make `Option` look like an iterator. We already have a way to view an Option as an iterator: `option.into_iter()`, which gives a `std::option::IntoIter`: an Option wrapper with an Iterator interface. While Option is isomorphic with an `option::IntoIter`, they're separate types on purpose. `something.any(f)` makes it look like `f` might be executed multiple times, which is

[2022-01-05 13:25] soc commented on #62358
@mbartelsm You can divide these types roughly into data structures (i. e. things that usually hold concrete values: strings, arrays, slices, vecs, maps, sets) and descriptions of computation (i. e. things that describe how values should be processed: Iter in Rust, Stream in Java, etc.). They are closely related, but not the same – for good reasons.

I added `contains` because `Option` and `Result`

[2022-01-05 13:27] m-ou-se commented on #62358
@rust-lang/libs-api Any opinions on the discussion starting at https://github.com/rust-lang/rust/issues/62358#issuecomment-970280621 ?

[2022-01-05 14:03] BurntSushi commented on #62358
Briefly, for me, I'll say that I am not a fan of using `any` here. Largely for the same reasons [pointed out by @m-ou-se](https://github.com/rust-lang/rust/issues/62358#issuecomment-1005681278) earlier. It seems like a highly confusable name to me.

I also think whatever routine we settle on should probably accept a predicate. I think a routine that accepts a value based on `PartialEq` isn't nearl

[2022-01-05 14:17] cgwalters commented on #90308
And even inside such a serial test, any use of e.g. tokio or rayon could spawn threads in a not immediately obvious way.  So I wouldn't bet on this approach as a good mitigation.

[2022-01-05 14:48] jyn514 commented on #66079
I'm asking because I'd love this to stabilize, but don't have the time to follow up on it myself. (I also got here from https://github.com/trailofbits/dylint/issues/28 just now :grin:)

That would be great! :heart:

[2022-01-05 14:55] mbartelsm commented on #62358
While I did advocate for using `any` instead of `contains`, I do want to say that I find it more important to have this method with some name than to not have it, for the reasons that @m-ou-se points out in their comment. It's verbose to write and with the current stable methods and many of the ways to write it obscure legibility.

[2022-01-05 15:07] m-ou-se commented on #78186
I'm not sure how comfortable I feel with macros that provide safety guarantees based on shadowing etc. I guess it's commonly used by now so we'll just have to accept it.

As for pinned statics specifically, I don't think it makes sense to add a macro. Avoiding having to explicitly call `Pin::static_ref` would be nice, but the same holds for usages of `Pin::new`. This just seems like a special case

[2022-01-05 15:07] m-ou-se commented on #78186
@rfcbot merge

[2022-01-05 15:21] BurntSushi commented on #78186
I have no particular objection to these APIs, but I have to say, after reading the discussion above, I don't actually have a firm conceptual grasp of either why `static_ref` was thought to be problematic and how exactly it has been resolved. I don't have any interest in re-litigating that conversation, but is there a way to... ELIANRUWHUPY? ("Explain Like I'm A Novice Rust User Who Hasn't Used Pin

[2022-01-05 15:22] BurntSushi commented on #78186
Also, these routines do not appear to be documented. Examples would be helpful for why someone might want to use them.

[2022-01-05 15:24] ShadowJonathan commented on #62358
One last name suggestion; `has_with`, where `has` alludes to the "contains", and `with` implies a predicate.

[2022-01-05 15:28] #92527 closed

[2022-01-05 16:07] Aaron1011 commented on #92577
Minimized:

[code]

The `Pointee` trait gets used by the `Hash` impl for `*const MyStruct`, which leads to the bad monomorphization:

https://github.com/rust-lang/rust/blob/181e91567c9f347e055b33b1d7e9894f769aafe3/library/core/src/hash/mod.rs#L791-L799

The issue is caused by how we handle projections when computing the `Metadata` type. We don't normalize the 'tail' type: https://github.com/rust-l

[2022-01-05 16:14] Rustinante commented on #62358
@BurntSushi what do you think about the alternatives that were brought up earlier, eq_some, eq_err?

[2022-01-05 16:15] m-ou-se commented on #78186
Basically, this whole things comes down to the question of whether a `static X` is considered 'pinned' or not. From a very theoretical perspective it is not (yet, depending on if we stabilize this), since something being `static` (or `'static`) doesn't technically say anything about pinnedness, since we don't strictly define what it means for something to be pinned. From a more practical perspecti

[2022-01-05 16:25] Aaron1011 commented on #92522
This is a known issue with incremental compilation, and will be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-01-05 16:46] davidtwco commented on #48616
I think this is broadly sensible, if there's a value of some enum variant or struct type with a single field (regardless of whether it was generic in the definition), we could add a help.

This might make sense but seems quite different from the others and is probably harder to implement, so maybe after the others?

[2022-01-05 16:51] m-ou-se commented on #20063
@rust-lang/lang How realistic would it be to for a solution for [the problem](https://github.com/rust-lang/rust/issues/20063#issuecomment-105251291) here to be designed and accepted any time soon? Ideally we'd make `Some("1".to_string()) == Some("1")` work, but right now we can't do that without breaking `Some(1) == None` and `None == Some(1)`.

[2022-01-05 17:01] nicholasfagan commented on #87886
This is solved in 1.56.1. Closing.

[2022-01-05 17:01] #87886 closed

[2022-01-05 17:25] m-ou-se commented on #20063
Note that it wouldn't need to have `T = U` and `U = T` defaults on the PartialEq impl. Default of `T = !` and `U = !` (or some other dummy type) would also work, as long as `!` implements `PartialEq<T>` for all `T`, and all `T` implement `PartialEq<!>` (which overlap, but that should be fine for `!`).

[2022-01-05 17:27] andrewbanchich commented on #79254
This would be fantastic. It's been very annoying because we use a private GitHub repo, so our offline documentation just shows broken images. That also means we can't even confirm the links are correct before committing.

[2022-01-05 17:43] chenzhawyang commented on #92522
Cool, I should close it after that commit is merged right?

[2022-01-05 17:44] solsticedhiver opened #92588 "unexpected panic while compiling paru on archlinux ARM aarch64"
while using `makepkg` and rustc 1.57.0 on archlinux ARM on rpi3 (armv8/aarch64), one gets:

[code]

I just discovered there is prebuild binary package so I will not try to make it work.

[2022-01-05 17:57] matthiaskrgr commented on #92452
@rustbot modify labels: +A-incr-comp

[2022-01-05 18:43] davidhewitt commented on #92539
Following up on this - it looks like #92107 has fixed this.

Output of `dumpbin` with today's nightly no longer shows the `.rmeta` section:

[code]

`rustc_driver.dll` size is now back at ~230MB, which seems about right when comparing against nightlies back in May 2021.

Thanks @nikic for pushing a bugfix before I even reported this 😂

[2022-01-05 18:43] #92539 closed

[2022-01-05 18:46] alper commented on #92276
Thanks for the prodding. My change has now been merged. 🎉

[2022-01-05 18:46] #92276 closed

[2022-01-05 18:51] andylokandy commented on #74465
Is `OnceCell` safe in static considering multiple threads will try to initialize it? I've seen some usage like that, for example:
https://github.com/metrics-rs/quanta/blob/fbf383a33d7836d7303dd3aa8d9627e17cd613da/src/lib.rs#L170

[2022-01-05 18:54] SimonSapin commented on #92577
I’m sorry but I don’t think I can help much. I don’t even know what normalizing means precisely. As I mentioned in https://github.com/rust-lang/rust/pull/81172

So the only hint I can offer is: does the code for `DiscriminantKind` do something differently? Or is there a reason it’s not affected by this problem?

[2022-01-05 19:00] SimonSapin commented on #74465
@andylokandy There are two variants of `OnceCell`. One of them implements the `Sync` trait, which means it is safe to access from multiple threads. (The language won’t let you make a `static` item of a `!Sync` type.) Both variants exist because this extra synchronization has some cost. In your example, not the import `use once_cell::sync::OnceCell;` instead of `once_cell::unsync::OnceCell`.

[2022-01-05 19:02] palfrey opened #92591 "Incremental code compile caused issue with rustc_hir"
This is almost certainly to do with something broken in my local `target` folder (which even zipped is >800mb and I can't sensibly upload that right now), as I've hit this twice now today and both times I've deleted the target folder and the problem goes away. I've hit it with just plain `cargo run` but I've also been running `cargo fmt/clippy/doc` on it as well in parallel and although they shoul

[2022-01-05 19:06] Aaron1011 commented on #92591
This is a know issue, and is fixed in the latest nightly.

[2022-01-05 19:11] alexcrichton commented on #92539
Nice! Apologies again on the oversight and thanks @nikic for fixing it!

[2022-01-05 19:28] palfrey commented on #92591
Instance of https://github.com/rust-lang/rust/issues/90682 et al probably?

[2022-01-05 19:40] Aaron1011 commented on #90682
This should be fixed on the latest nightly by https://github.com/rust-lang/rust/pull/91924. Note that PR https://github.com/rust-lang/rust/pull/91919 just adds in a check to prevent new instances of this type of issue from being added to the rustc codebase.

[2022-01-05 19:44] briansmith commented on #90308
@cgwalters wrote:

That's right. For the tests we have, what I suggested above would work. What we're more likely to do is refactor the code so that reading the environment is done separately from the functionality being tested, and then run the tests using a private API that allows us to pass in a fake environment stored in a `HashMap` or similar. So we have workarounds that are good enough for a

[2022-01-05 19:45] briansmith commented on #90308
It seems like that could be solved by just making `rustc_driver`'s log initialization API more flexible, and then taking advantage of that flexibility?

[2022-01-05 19:46] Aaron1011 commented on #92577
cc @rust-lang/wg-traits - I'm not quite sure what the proper normalization behavior is. We need to be able to perform this projection during typecheck (e.g. `let a: <MyType as Pointee>::Metadata = foo();`), so I think we need to try to faillibly normalize the trailing field type here?

[2022-01-05 19:55] camelid commented on #92000
The test is now ignored, so there shouldn't be any more spurious failures. However, the underlying issue isn't fixed yet.

[2022-01-05 20:09] m-ou-se commented on #90904
This will be fixed by https://github.com/rust-lang/rust/pull/91484 and its backport.

[2022-01-05 20:39] jackh726 commented on #92577
Why are we *not* normalizing? Because we don't want to replace with an inference var?

[2022-01-05 20:54] Patrick-Poitras commented on #91603
[code]

[2022-01-05 21:02] sanxiyn commented on #39900
Triage: this is not fixed yet on Rust side.

@alexcrichton, can `no_default_flags` in `cc` crate be used to replace optimization flags filtering in `rustbuild`, or should I add `no_default_opt_flags` (proposed name) in `cc` crate?

[2022-01-05 21:29] Patrick-Poitras commented on #91603
Here's a version with the bevy calls minimized as well

[code]

[2022-01-05 21:40] Patrick-Poitras commented on #91603
This fails at the same spot as #92537. Common cause?

[2022-01-05 21:41] ocstl commented on #54256
I don't know if it helps, but even without the `adopt` method ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=2618ca423e63ebbe7bb3986c31b30578)):
[code]
We get the same error message:
[code]

[2022-01-05 21:42] Amanieu commented on #86941
@yaahc @m-ou-se Are your concerns are resolved? Could we unblock the FCP?

[2022-01-05 21:42] TimJentzsch opened #92595 "cargo check panic at 'failed to lookup `SourceFile` in new context' after refactor"
This error occurred when running `cargo check` after refactoring a module folder to a module file.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-05 21:44] TimJentzsch commented on #92595
Everything works again after running `cargo clean` and then `cargo check`.

[2022-01-05 21:48] m-ou-se commented on #86941
What I'd prefer is to move both into a submodule, just like `asm!()`, and re-export the x86 one through the prelude/root for backwards compatibility but acknowledge that was a mistake.

All of std's macros were originally in the root, because of `#[macro_export]`. But nowadays with the new `pub macro` syntax, we have the option of putting them in modules, which we've been using for `std::ptr::addr

[2022-01-05 22:00] m-ou-se commented on #66745
We discussed this in the libs-api meeting today. We concluded that before stabilizing this, we need to make sure it works (doesn't return `None`) for std::panic!() as well. That is already the case with Rust 2021's std::panic!() (since it's identical to core::panic!() in this edition), but not for Rust 2015/2018's std::panic!().

Once that is fixed, we feel okay with returning a placeholder messag

[2022-01-05 22:07] TimJentzsch commented on #92595
I wasn't able to set up a minimal example for this bug yet, but you can use my public repository to reproduce:

1. Clone the repository from https://github.com/TimJentzsch/stonefish_engine:
[code]
2. Checkout the commit before the refactor:
[code]
3. Run `cargo check` from a clean state:
[code]
4. Checkout the commit after the refactor:
[code]
5. Run `cargo check` again:
[code]
6. The compiler pan

[2022-01-05 22:10] joshtriplett commented on #86941
I'd support that if and only if we can actually deprecate the re-export. I think we could  deprecate the re-export by writing a deprecated wrapper macro that calls the version in `std::arch`.

Otherwise, if we can't deprecate it, I think we should re-export both at the top level.

[2022-01-05 22:20] nsunderland1 commented on #90258
I've also hit this, but there's another angle here. I have my own trait that was intended to be public, but I forgot to make it `pub`. rustc suggested that I try importing it, but what I'd really like for it to do is suggest that I make the trait public.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c106a9ccab60655a33e4388f77d0b4c6

[2022-01-05 22:35] Aaron1011 commented on #92595
Based on the fact that you're using such a recent nightly, this does **not** appear to be the same issue as https://github.com/rust-lang/rust/issues/92163

I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-01-05 22:43] camelid commented on #92137
It'd probably be better to fix this sooner rather than later, as the edition is still relatively new.

[2022-01-05 22:52] bjorn3 opened #92596 "Benchmark entirely unfair locks for parallel rustc"
My theory is that the accounting necessary for implementing eventually fair locks in parking lot causes an instruction count increase for parallel rusrc by a couple of percents without improving the wall time. Without this accounting taking a lock should be a matter of a cmpxchg and possibly a futex wait if it was already locked. I don't think it matters as much if a thread is starved for extended

[2022-01-05 22:59] m-ou-se commented on #91428
Hi, thanks for reporting this issue.

This issue was very briefly discussed in the libs-api meeting today.

This `spawn` function doesn't fall within the guidelines for `#[must_use]` that we've been using. See also https://github.com/rust-lang/libs-team/issues/35.

It's very reasonable to want to spawn a process without waiting for it to complete. We shouldn't force `let _ =` or something similar

[2022-01-05 22:59] #91428 closed

[2022-01-05 23:03] briansmith commented on #43596
If the `AllocError` is a XST and if `Box` of a ZST were implemented such that the inner pointer is `NULL` and allocators are required to implement freeing a `NULL` pointer as a no-op then there would be no issue, right?

More importantly, the oom=panic feature will create memory safety hazards in code that currently doesn't have memory-safety hazards. . In general I think we'll have to assume by d

[2022-01-05 23:24] yaahc commented on #86941
for sure

@rfcbot resolve to split `pauth` or not to split `pauth`

[2022-01-05 23:28] adrian17 commented on #89524
For the record, this and https://github.com/rust-lang/rust/issues/89647 still appear to hang and consume lots of memory. (I was quietly hoping  https://github.com/rust-lang/rust/pull/92110  would improve it)

Is this still considered a NewPM blocker?

[2022-01-05 23:29] m-ou-se commented on #86941
Yeah, good idea. That should work.

I'm not worried about naming conflicts. I'm concerned about adding more clutter to the front page of the standard library reference documentation (https://doc.rust-lang.org/stable/std/) and to auto-completion features in editors.

[2022-01-05 23:37] #63168 closed

[2022-01-05 23:44] xd009642 opened #92597 "Provide indicator of doctest attributes with --persist-doctests"
Relevant tarpaulin issue: https://github.com/xd009642/tarpaulin/issues/924

So in cargo-tarpaulin we use --persist-doctests in order to keep the doctest binaries around and run them for doctest coverage. In order to maintain the equivalent behaviour to cargo test, we need to keep track of the `no_run` and `ignore` attributes, as well as ensure the `should_panic` doctests exit with a non-zero exit

[2022-01-05 23:51] nnethercote commented on #80096
That issue is closed, and its final comment points to this issue.

[2022-01-05 23:54] nnethercote commented on #80096
I just hit this on the following sequence.
- Do a fresh clone of `rust-lang/rust`
- Run `./x.py setup`
- Select option (b) "compiler: Contribute to the compiler itself"
- Run `./x.py test`

The build finished like so:
[code]

[2022-01-06 00:08] jyn514 commented on #80096
IMO the proper fix for this is to remove error-index's dependency on rustdoc, either by moving the relevant code out into a library that doesn't use rustc_private, or by duplicating the code altogether. There are other ways to solve this but they'll be more complicated and take longer to compile for no real benefit.

[2022-01-06 00:19] camelid commented on #80096
...or by making it invoke rustdoc-the-binary (through `rustdoc foo.md`), rather than using rustdoc-the-library.

[2022-01-06 00:24] camelid commented on #92137
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2392137.20unreachable!.28.22.7B.7D.22.29.20works.20on.20Rust.202021) in the prioritization working group.

@rustbot label: +P-high -I-prioritize

[2022-01-06 00:35] roblabla commented on #43596
I'm not sure what you mean here, but it is currently guaranteed that `Box<T>` is a non-null pointer, no matter the `T`. This allows `Option<Box<T>>` to be represented as a single pointer. From https://doc.rust-lang.org/stable/std/boxed/index.html#memory-layout:

And the docs on pointer validity says:

[2022-01-06 00:47] Aaron1011 commented on #92495
Personally, I don't think ICEs with `#![no_core]` are worth addressing. It's a perma-unstable feature, and lang items are effectively internal compiler code that happens to be written in a crate. We don't try to prevent ICEs in the face of modifications to the compiler itself (in fact, many internal compiler APIs will deliberately ICE when they are used incorrectly).

The only correct way to use `

[2022-01-06 00:53] Aaron1011 commented on #43596
`Box` doesn't actually allocate for zero-sized values - it creates a non-null dangling pointer:

[code]

prints `0x1`

A while back, I experimented with getting a complete zero-alloc panic to work (I used a custom `GlobalAlloc` that enforced that no allocations happened after a certain point). I believe I got it working for ZST payloads - I can try to dig up the code.

[2022-01-06 01:12] Aaron1011 commented on #92000
The comment in the test seems potentially relevant:

https://github.com/rust-lang/rust/blob/f1ce0e6a00593493a12e0e3662119786c761f375/src/test/ui/panics/panic-short-backtrace-windows-x86_64.rs#L17-L20

If `dbghelp.dll` is essentially returning an arbitrary symbol name when the test passes, perhaps it's (non-deterministically?) choosing to give up and not return *any* symbol in the cases where the t

[2022-01-06 01:15] yaahc commented on #62358
I mentioned this in the libs team meeting but I'll reiterate here, but I personally don't agree that `deadline.map(|d| d > now).unwrap_or(false)` looks verbose or confusing, and I prefer it over `deadline.contains(|d| d > now)`.

I'm trying to think through why this is, and as an exercise I thought I'd try imagine how I'd read these expressions if they were part of an if statement. In the process

[2022-01-06 01:35] x87 commented on #42202
I have a library that builds for two targets: `i686-pc-windows-msvc` and `x86_64-pc-windows-msvc`. In this library there are two functions defined as:

[code]

they were compiling and working perfectly fine on Rust 1.57.

Now I get the hard error on `foo` when compiling to x86_64, saying
[code]

What I find inconsistent here is that both functions have x86-only calling conventions (`thiscall` and

[2022-01-06 01:46] Jarcho opened #92603 "Trait resolution with index operator and mixed lifetimes"
As far as I can tell the error generated by this is wrong.

[code]

[code]

If the lifetime comes from an impl block, a completely different error message is given.

[code]

[code]

Which is saying `&'static str` doesn't implement `Borrow<&'a str>`, which is technically true. The closest matching impl is `impl<T> Borrow<T> for T` which would mean it implements `Borrow<&'static str>` not `Borrow<&'

[2022-01-06 04:52] sanxiyn commented on #92588
I tried to reproduce this on Ubuntu running on an AWS ARM instance, but paru crate depends on alpm-sys crate which requires libalpm(Arch Linux Package Management library) to build. So if you want to reproduce, be sure to try on Arch Linux.

[2022-01-06 06:01] aleksanderkrauze opened #92606 "Unexpected compiler panic after changing struct's name"
### What happened

After I renamed a struct and tried to build my project compiler panicked with following message. However after doing a clean build everything was successful. I don't know how to extract code that is a cause for this panic, so here is my [repo](https://github.com/aleksanderkrauze/asyncdwmblocks/commit/8d565e6a039e5cca9bbbeae84421cc72085c2625) at the point of failure. Specifically

[2022-01-06 06:58] Nilstrieb commented on #90258
I think it should still suggest it if it's in the same crate. But better now for external crates. If there's some way to find out if the external crate is in the same workspace, then this could be special cased as well to show it again.

[2022-01-06 07:02] compiler-errors commented on #92577
@Aaron1011, so I put up a fix for this in #92248. Someone mind reviewing that PR? It's gone some time without being touched.

Is it really not sufficient to just normalize during selection? My PR seems to successfully compile both examples linked in this issue.

[2022-01-06 08:59] hkratz commented on #92000
We could modify the regex replacement to just remove the whole "5: ..." line if it exists.

[2022-01-06 09:05] rustonaut commented on #43244
That is deciding what to drain beforhand, not stopping draining. With any normal rustish iterator I can just decide to stop iterating and drop it. Not with drain which then will magically continue iterating.

The point of `drain` is to explicitly not be like `into_iter` but to drain a pre-specified range over time.

It drains the collection when dropped even if it is not iterated/consumed. If it w

[2022-01-06 09:27] rustonaut commented on #43244
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9beb242c04ec50e2ebaf2c02fd8151cd

note that it's just an ad-hoc example and you normally would write the algorithm in question differently,
through you totally can run into this in practice, just in more complex situations.

[2022-01-06 09:40] elichai commented on #85883
Can we maybe add a warning for that? in rust-secp256k1 we accidentally exposed a function that accepts a semi private struct: https://docs.rs/secp256k1/0.21.0/secp256k1/struct.XOnlyPublicKey.html#method.tweak_add_check so it would be great if the compiler/clippy could've warn us

[2022-01-06 10:50] hkratz commented on #92524
@psionic12 Why do you think that this is an issue with Rust and not one with `egui_vulkano` or a dependent crate?

[2022-01-06 11:13] tanriol commented on #43244
Note that even for normal iterators this is about laziness, not about stopping exactly at the desired point, so it would still be confusing with some combinators ("wait, why does new `drain` with `take_while` remove an element not matching the condition?").

[2022-01-06 11:23] rustonaut commented on #43244
But it wouldn't do it, at least not as long as it's not leaked. There is absolutely no reason logical it performance wise why a lazy drain should remove elements for which the predicate was not applied and returned `true`. Even if you drop it mid way.

Sure if you iterator had lookahead it will look ahead of if it's about an async/threaded stream it might also do more work. But for lazy implementa

[2022-01-06 11:33] apiraino commented on #89647
@adrian17 I'm not 100% sure but I'm thinking if a smaller reproducible would help correlating this to #89524 and  - by extension - to the new LLVM pass manager. Do some of the debugging done in #89524 also apply to this issue?

[2022-01-06 13:29] ssomers commented on #43244
That's apparently many people's expectation. My expectation is that it efficiently removes a range and somehow repurposes the elements. I would say the most explicit difference with `into_iter` is that there's no into or iter in the name - it's a verb, because it drains itself, it doesn't suggest it creates something that drains.

But clearly that's not how it lands. Therefore I conclude that `dra

[2022-01-06 13:47] psionic12 commented on #92524
@hkratz because I set break points and investigate for a while, the stack looks weird to me, there's no FFI, no recursion, just calling a function, but the stack overflowed without the body of function even get run.

I'm not 100% percent sure this is a bug of rustc, but it is really unusual, maybe it is worth investigating.

[2022-01-06 13:53] elichai commented on #52652
Is it possible to now write somewhere "official" that unwinding across `extern "C"` is well defined to abort?

[2022-01-06 14:51] fzyzcjy opened #92613 "Happens frequently and have to clean everything and rebuild (very slow): `thread 'rustc' panicked at 'Found unstable fingerprints for predicates_of(opencv[3272]::opencv::hub::core::MatTraitConst): GenericPredicates { parent: None, predicates: [(Binder(TraitPredicate(<Self as opencv::prelude::MatTraitConst>), [])`"
### Code

really cannot find a MVE... but the context is:

* use opencv_rust library
* sometimes compile to MacOS, and sometimes cross-compile to iOS and Android (using cargo ndk and cargo lipo)
* tried to `cargo clean -p my_project_name && cargo clean -p opencv`, but sometimes this does not work, and I have to `cargo clean` and rebuild everything, which is *VERY SLOW* :(

### Meta

`rustc --versi

[2022-01-06 15:01] ssomers commented on #43244
Wow, the [doc of Vec::drain](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.drain) says it "Creates a draining iterator"… only to describe what it actually accomplishes later.

I appreciate the effort, but now I'm even more lost. The surprise of the iterator returned by `drain` is that it acts lazily? Unless you yank its tail, it doesn't fire up the filter with its smelly side effect. Wh

[2022-01-06 15:30] #81024 closed

[2022-01-06 15:53] matthieu-m commented on #81513
This is fair, but leaves us with the problem unsolved.

A great benefit of the ability to split/join a pointer and its associated metadata is the creation of custom handles which contain "something" (not necessarily a pointer) and the associated metadata, and today such custom handles cannot implement `CoerceUnsized` making them less ergonomic than the language-supported pointers they emulate.

Im

[2022-01-06 15:54] NieDzejkob opened #92615 "Provide a better error when code is put outside of a function"
Examples in the documentation often provide excerpts instead of full programs. A beginner might try compiling that code directly, and be confused that it doesn't work. Currently, the error messages for that case don't provide any hints as to what might be wrong:

[code]

[code]

[code]

Ideally the output should look like:

[code]

[2022-01-06 16:01] pnkfelix commented on #29597
I think the T-compiler strategy should be this:

 1. Develop API for MIR-based analyses that we can commit to. The stakeholders I know of for this are Servo (e.g. https://github.com/servo/servo/pull/20264) and https://github.com/model-checking/rmc
 2. Once Servo is moved off of plugin and onto a MIR-based analysis, then we start officially deprecating and subsequent removal of plugin support.

[2022-01-06 16:45] Aaron1011 commented on #92613
This should be fixed in newer versions of Rust.

[2022-01-06 16:46] Aaron1011 commented on #92606
This should be fixed on the latest Nightly

[2022-01-06 16:57] SimonSapin commented on #29597
In my previous message I only replied to https://github.com/rust-lang/rust/issues/29597#issuecomment-965644083 factually.

Activity in the Servo project has been low lately and will be in the forseeable future. If a better API becomes available, it’s not clear when or if we’d be able to migrate the GC rooting lint to it. Given this, I feel it’s probably not fair to expect rustc to indefinitely kee

[2022-01-06 16:59] lcnr opened #92617 "move synthetic closure substs into `TypeckResults`"
right now, we add synthetic generic parameters to closures to represent a bunch of additional information about the closure, see
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/sty/struct.ClosureSubsts.html

These substs don't behave like ordinary generic parameters, negatively impact perf and are difficult to understand or deal with in some cases.

We should try to remove these sy

[2022-01-06 17:03] kaj opened #92618 "ICE after switching branches."
### Code

I got an ICE when compiling https://github.com/kaj/r4s/commit/eab4d2f5c066966634484f2064e84dd21f94b374 after switching from another branch.  Compiling with nightly did not error, but then compiling with stable (where I got the error initially) after a cargo clean worked fine as well.  I was able to reproduce the error several times before the clean, but not after, even by switching back

[2022-01-06 17:24] notriddle commented on #73014
Related discussion on Internals (some people here are proposing a lint to recommend `T::Default` over `Default::default`, to clear up some confusion related to the functional update syntax, which would make `default()` an anti-pattern right out of the gate):

https://internals.rust-lang.org/t/pre-pre-rfc-the-default-default-shorthand-is-misleading/15917

[2022-01-06 17:57] Aaron1011 commented on #92618
This should be fixed on the latest nightly.

[2022-01-06 18:48] #72081 closed

[2022-01-06 18:48] #90703 closed

[2022-01-06 18:48] #92015 closed

[2022-01-06 18:48] #90384 closed

[2022-01-06 19:04] kaj commented on #92618
Cool, then I guess this issue should just be closed.

[2022-01-06 19:18] GuillaumeGomez opened #92621 "Add rustdoc search "crate filter" into the URL when it's being used"
Currently, only current search is put in the URL but not the crate filter if you used one, preventing you to share the exact search you just performed.

This idea was suggested by @jsha and I think it's a very good one so I'll implement it as soon as possible.

[2022-01-06 19:20] eddyb commented on #92617
How can this soundly interact with inference? IIRC, the reason they're like this today, is so that parts of that information can be left as inference variables, in a way that interfaces with everything that handles inference variables (that is, I remember them being stored in an ad-hoc way in `InferCtxt` and that having issues).

The only thing I can think of, that would work with e.g. canonicaliz

[2022-01-06 19:25] eddyb commented on #92617
Also, regarding upvars, ADTs differ a lot from tuples, in how their fields interact with various aspects of traits and lifetimes, and tuples are much more straight-forward IMO - you would have to look for every place in the compiler where either `ty::Adt` or `ty::Tuple` are handled, and consider the implications of switching closures from one approach to the other.

But still, it would have to be

[2022-01-06 19:27] chbaker0 opened #92623 "Relative paths for target tools in config.toml don't work consistently"
I want to build Rust using a non-system toolchain. I'd like to point bootstrap to my tools using relative paths. For example, to build with Clang from a Chromium checkout, I tried the following config.toml:
[code]

But this doesn't work. The build system seems to assume paths are absolute, or are files in the PATH. When building several steps fail to find the specified tools.

Building with `./x.p

[2022-01-06 19:55] camelid commented on #91759
@Nemo157 could you review this when you get a chance? If you have any concerns, I'd be happy to discuss them here.

[2022-01-06 19:59] jsha commented on #84539
@GuillaumeGomez and I discussed via PM on Zulip, and came to a compromise solution: We'll show the theme picker icon only when visiting a file:/// URL. That way we get a nice uncluttered UI on doc.rust-lang.org and docs.rs, but we don't lose the theme-picking functionality on local files.

[2022-01-06 20:15] #92618 closed

[2022-01-06 20:26] cuviper commented on #72023
Looks like that fix released in LLVM 12. I just tried the reproducer again on Fedora 33, 34, and 35, with LLVM 11, 12, and 13 respectively -- it failed with 11 and passed with 12 and 13. Our minimum is 12 since #90175, so I think we're good!

[2022-01-06 20:26] #72023 closed

[2022-01-06 22:03] nzentzis opened #92626 "Inferring const parameters to wrapper type causes rustc to panic."
### Code
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=09d2ecb597fe07adb5f6cc7e4cab1c67)

[code]

Removing the const generic parameter `N` or annotating `out` inside `test` with an explicit type (e.g. `let mut out: Test<u64, 16> = Test::default();`) avoids the compiler panic.

### Meta
Reproduces on stable, beta, and the nightly version available on the

[2022-01-06 22:39] feds01 opened #92628 "ICE when running `cargo check`"
I tried to run `cargo check` on one of my projects after writing some new logic. `rustc` panics and reports the issue. Notably, running `cargo clean` fixes the issue.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-06 23:38] Patrick-Poitras commented on #92271
Same bug as #92537?

[2022-01-07 00:22] steffahn opened #92633 "Missing `A: Sync` bound for `Allocator` for `vec::IntoIter`"
I _think_ this is an issue? Especially in light of [`IntoIter::allocating(&self) -> A`](https://doc.rust-lang.org/nightly/std/vec/struct.IntoIter.html#method.allocator) existing. If so, the fix is trivial.

The instance in question: https://doc.rust-lang.org/nightly/std/vec/struct.IntoIter.html#impl-Sync

For comparison, the `Send` implementation right next to it does feature `A: Send`.

[2022-01-07 00:38] fzyzcjy commented on #92613
@Aaron1011 Hi do you mean stable 1.56.0? I use it in ios projects and seems that xcode's max compatible version is 1.55.0 (yet)....

[2022-01-07 00:55] gregoryquick opened #92634 "Compiler sometimes does not have generic_const_exprs and await play nice together"
### Code

[code]
### Meta

Error is with generic_const_exprs

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-01-07 01:16] Patrick-Poitras commented on #92537
Bisect results:

[code]

[2022-01-07 01:16] chordtoll commented on #92615
@rustbot claim

[2022-01-07 01:21] rwthompsonii commented on #31844
I'm interested in learning if and when this feature might be stabilized? I can very effectively use it for my use case... but it's hard to justify the use of nightly for it.

[2022-01-07 01:27] rwthompsonii commented on #31844
As a question, will min_specialization be stabilized?  I'm unsure of how this works.

[2022-01-07 01:39] chengniansun commented on #79494
I found a similar duplicate.

[code]

[2022-01-07 02:00] compiler-errors commented on #92634
I actually hit this same issue with capturing un-normalized types in generator interiors when playing around with #92449.

I think I know a fix.

@rustbot claim

[2022-01-07 02:07] #76661 closed

[2022-01-07 02:07] #81708 closed

[2022-01-07 02:07] #91816 closed

[2022-01-07 02:15] BGR360 commented on #91603
@Patrick-Poitras epic!

@rustbot label -E-needs-mcve

@rustbot glacier https://gist.github.com/rust-play/e8b5a9417bc791f1c1ec11f58279fab3

[2022-01-07 02:21] BGR360 commented on #91603
Oh, can the glacier command only be used by repository members? 😕

https://github.com/rust-lang/triagebot/blob/b6ccaa0fb46f815d3dbf56c9a8e9a10b6d796171/src/handlers/glacier.rs#L16

[2022-01-07 02:28] Aaron1011 commented on #92628
This should be fixed in https://github.com/rust-lang/rust/pull/92533

[2022-01-07 02:31] Aaron1011 commented on #92494
This should be fixed by https://github.com/rust-lang/rust/pull/92533

[2022-01-07 03:52] compiler-errors commented on #92626
So if I understand this ICE correctly, this is caused by an escaping type inference var that should've been rolled back during a `InferCtxt::probe`.

I'll take a stab at this, otherwise I'll give it up if I can't get to a solution.

@rustbot claim

[2022-01-07 04:12] jackh726 commented on #91762
I have a "working" branch here: https://github.com/jackh726/rust/tree/issue-91762

But it's absolutely awful and probably not a "correct" solution.

[2022-01-07 04:13] Aaron1011 commented on #92217
@chenyang8094 Sorry, I forgot to post my reponse.

While the type of the expression `return 3`  is `!`, the compiler also checks that the type of the 'argument' to `return` (in this case, `3`) matches the return type of the function. This is similar to how the compiler checks that a `for` loop is actually iterating over an iterator (e.g. `for val in 30` does not compile)

[2022-01-07 05:16] compiler-errors commented on #92626
Minimized slightly. This has to do with infer variables being introduced during autoderef.

[code]

[2022-01-07 05:31] DrMeepster commented on #42202
@x87 You can write a [tt muncher macro](https://danielkeep.github.io/tlborm/book/pat-incremental-tt-munchers.html) to set the abi, but I don't think that should be needed. A better solution would be to allow macros in abi position, but I'm unsure if an RFC is needed for this.