[2020-07-17 05:25] dingxiangfei2009 commented on #74339
I think it is no longer reproducible on the most recent nightly. Though I will report the other borrow checker issue. Thank you for the help, @jonas-schievink :smile:

[2020-07-17 05:25] #74339 closed

[2020-07-17 05:48] dingxiangfei2009 opened #74429 "Borrowck deduces empty lifetime"
I tried this code:

[code]

I expected to see this happen:
On Rust 1.44.0, this compiles.

Instead, this happened:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2020-07-17 05:49] dingxiangfei2009 commented on #74429
For reproduction, the following `Cargo.toml` is used.
[code]

[2020-07-17 05:49] dingxiangfei2009 commented on #74429
This is a regression from stable to nightly.

[2020-07-17 06:47] lzutao commented on #74427
"cyclone" has been renamed to "apple-a7" in #73086 .

[2020-07-17 06:52] Manishearth commented on #43466
https://github.com/rust-lang/rust/issues/65983 has landed, so now we're ready for stabilization. https://github.com/rust-lang/rust/issues/73363 should land soon

[2020-07-17 07:03] gotoxu commented on #73859
From the current situation, it should be that we upgraded the glibc library of centos7 from 2.17 to 2.18, which caused the problem. Now that we have upgraded glibc to 2.28, the problem disappeared. It is unknown why the 2.18 version of glibc causes this problem.

[2020-07-17 07:20] Manishearth commented on #43466
Stabilization PR is ready https://github.com/rust-lang/rust/pull/74430

[2020-07-17 07:32] WaffleLapkin commented on #29864
Is it possible for marker-trait implementations to ignore the `unconstrained type parameter` error? Marker-trait impl can't use type parameters in any way, so I would expect this to compile:
[code]
[[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dc61d948b3179672d3772c7be39dffeb)
However, today it gives an error:
[code]

[2020-07-17 07:53] jethrogb commented on #74420
I certainly expect libz to be available on Linux and BSDs, so I don't think it's a problem there. What happens on Windows/MacOS?

[2020-07-17 08:04] petrochenkov commented on #39016
I don't think this needs any support from `rustc`?

A new cargo feature needs to be added to [`libc` crate](https://github.com/rust-lang/libc).
Then `libc` crate will link debug crt using `#[link(..., cfg(the_debug_crt_feature))]`.

`cc` crate will probably need a `debug_crt` method for building C/C++ code with debug crt (similar to already existing [`static_crt`](https://docs.rs/cc/1.0.58/cc/stru

[2020-07-17 08:09] retep998 commented on #74420
On the latest `x86_64-pc-windows-msvc` nightly I do not see any zlib runtime dependencies in `rust-lld.exe` nor `rustc.exe`.

[2020-07-17 08:11] Keruspe opened #74431 "Rust 1.45.0 and above no longer install clippy"
When updating from 1.44.1 to 1.45.0, clippy-driver and cargo-clippy are no longer installed by `./x.py install`.
`miri` and `cargo-miri` weren't previously installed but they are now, and the opposite is true for clippy-driver and cargo-clippy

[2020-07-17 08:12] retep998 commented on #39016
@petrochenkov How is the user supposed to specify cargo features of the `libc` that `std` depends on? And why should choosing the debug CRT be different from choosing the static CRT?

[2020-07-17 08:27] petrochenkov commented on #39016
@retep998

By specifying the feature in `Cargo.toml`, apparently.
The only thing that is necessary is for the `the_debug_crt_feature` or `feature = the_debug_crt_feature` predicate to be defined during the user build.
Then link-time configuration will work, you don't need to build `libc` or `std` with those features enabled.
(Someone needs to make a proof of concept to show that it indeed works, t

[2020-07-17 08:48] Keruspe commented on #74431
Currently digging.

Might be related:

[code]

[2020-07-17 09:10] eddyb commented on #74420
This would be fine on NixOS but the Python wrapper around `src/bootstrap` needs to be updated. Working on that now.

[2020-07-17 09:11] davidtwco opened #74432 "Consider changing "mono item" terminology"
Requested by @eddyb in [this comment](https://github.com/rust-lang/rust/pull/69749#discussion_r455909581). After polymorphisation (#69749) lands, mono items may not actually be monomorphic and so it might be worth changing the terminology here, e.g. "codegen item".

[2020-07-17 09:13] mati865 commented on #68887
I'll get to that wall of text later 😉.
For now I'll address only

For MinGW the linker is shipped only when it's the host compiler and is preferred over external linkers in the PATH. So we assume that if user overridden the linker they don't want self contained mode.
However when cross compiling users don't need to specify the linker because it will be taken from the PATH. Hence self contained mod

[2020-07-17 09:28] Geal opened #74433 "adding #[track_caller] to #[global_allocator] to trace allocation source"
Hello,
I am using a [custom allocator](https://github.com/geal/tracing_allocator) to trace allocations and deallocations when debugging code. I was wondering if adding `#[track_caller]` to the `GlobalAlloc::alloc` and `GlobalAlloc::dealloc` methods could give me the origin of allocations (even if it ends up in libstd), but unfortunately, it only gives me the position of the `#[global_allocator]` a

[2020-07-17 09:48] hyd-dev commented on #73894
Closing as there is no response.

[2020-07-17 09:49] RalfJung commented on #70143
Ah I see, I somehow assumed stack probing would still have access to the old top-of-stack and could thus probe all the way from there to the aligned stack with the new frame.

[2020-07-17 10:00] mati865 commented on #74420
On `x86_64-pc-windows-gnu` zlib somehow got linked statically.

[2020-07-17 10:16] eddyb commented on #68436
This is probably not the best place for a debate but please keep in mind that Rust has almost always chosen opaque abstractions instead of exposing implementation details, and *it's always been a tradeoff*.

A lot of it also comes down to semver, and `auto trait`s are the only major exception AFAIK.

<hr/>

The most recent example is `const fn` where I had suggested we could *soundly* determine wh

[2020-07-17 10:19] mati865 commented on #74420
@rustbot claim

[2020-07-17 10:19] eddyb commented on #62830
I don't know much about name resolution, you want @petrochenkov.

Only thing I know is that it should be possible to get a `PerNs<Res>` and then use whichever namespace you want from there at your discretion.

[2020-07-17 10:33] jethrogb commented on #74420
@mati865 what are you claiming exactly? I feel like more discussion is needed to decide what to do.

[2020-07-17 10:38] mati865 commented on #74420
I believe I know how to link zlib statically. From discussion in https://github.com/rust-lang/rust/pull/74395 this seem like correct approach.

[2020-07-17 10:41] jonas-schievink commented on #74423
This is intended behavior according to https://github.com/rust-lang/const-eval/issues/19

[2020-07-17 10:41] #74423 closed

[2020-07-17 10:42] mati865 commented on #73894
cc @joshtriplett

[2020-07-17 10:44] #73363 closed

[2020-07-17 10:57] Keruspe commented on #74431
This was unrelated.

Turns out I get `Dist clippy stage2 (x86_64-unknown-linux-gnu)` but then `skipping Install clippy stage2 (x86_64-unknown-linux-gnu)`

[2020-07-17 11:03] Keruspe commented on #74431
Ok, before we basically has `if ensure().is_some() || Self::should_install` and now we only have `Self::should_install` which defaults to false if tools isn't set in the configuration, even if extended is set to true

[2020-07-17 11:08] oli-obk opened #74435 "Peephole optimization: remove `<T as Into::<T>>::into(x)` invocations"
We should replace these function calls with a `goto` to the target block and insert an assignment from `x` to the destination (the assignment should be just before the goto).

Leave a comment on the libcore impl mentioning that the optimization should be removed if the libcore impl ever becomes overwriteable via specialization (can't be done right now: https://play.rust-lang.org/?version=stable&mo

[2020-07-17 11:14] #74385 closed

[2020-07-17 11:22] jyn514 commented on #62834
I've also seen people trying to use `Some(T)` which would be nice to support. This one is tricky because `Some()` is parsed as a function disambiguator. But maybe since currently don't distinguish between functions and other types just stripping the `T` would work?

[2020-07-17 11:34] rbtcollins commented on #74385
I am so embarrased, how did I fluff that up. Sorry for the noise.

[2020-07-17 11:35] jonas-schievink commented on #74435
Wouldn't the inliner make this optimization redundant?

[2020-07-17 11:36] GuillaumeGomez commented on #62834
I'm still strongly against it. However, I don't remember if we can mix type and anchor? Like: `[Collection#some-impl]`. In this case, it'd fix all issues I assume and is far more simple to implement (if not already done).

[2020-07-17 11:41] oli-obk commented on #74435
I'm not sure if the inliner can figure out that there is only ever one implementation of `<T as Into<T>>`, but that's a good point... Maybe we should just focus on the inliner

@rust-lang/wg-mir-opt

[2020-07-17 11:44] Keruspe commented on #74431
I think either should_install should default to true if tools is empty (like should_build) or the condition for all optional tools should be `ensure().is_some() && Self::should_install` instead of `||`

As of now, if an optional tool builds fine, it gets installed no matter what the tools config contain, but as soon as it's no longer optional (like clippy in 1.45.0) it doesn't get installed anymor

[2020-07-17 11:47] jonas-schievink commented on #74435
IIRC The inliner just uses `Instance::resolve`, which takes specializable impls into account and would succeed and return the blanket impl's function here (but would fail if the impl was made specializable).

[2020-07-17 11:50] thomasjfox commented on #74431
Fedora added this to the configure line for the 1.45.0 upgrade:
[code]
That seems to be a workaround for the moment.

[2020-07-17 11:51] jyn514 commented on #62834
Direct link so all the discussion is in one place: https://github.com/rust-lang/rust/issues/43466#issuecomment-513503459

[2020-07-17 11:53] LeSeulArtichaut commented on #74429
Let’s bisect this and try to find an MCVE.
@rustbot ping cleanup

[2020-07-17 12:08] Keruspe commented on #74431
That's what I ended up doing here too.

The commented value in config.toml.example doesn't reflect the real default though

[2020-07-17 12:11] oli-obk commented on #74435
yea... true, let's leave it to the inliner, it's more general

[2020-07-17 12:11] #74435 closed

[2020-07-17 12:27] heftig commented on #74431
This is a regression. See also the discussion at https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/installing.20clippy.20from.20extended.20build

[2020-07-17 13:00] mati865 commented on #74420
I'll be away for few hours so I decided to post my findings in case somebody else wants to work on it.

MSVC builds probably don't have zlib linked at all since LLVM will ignore `LLVM_ENABLE_ZLIB` if zlib is not available in the system. Windows-gnu links LLVM and zlib statically.

Linux builds of Rust have ThinLTO enabled and that makes them link to LLVM dynamically: https://github.com/rust-lang/r

[2020-07-17 13:33] nikomatsakis commented on #74193
I think the docs should live on forge... or at least have links from forge.

[2020-07-17 13:58] m-ou-se opened #74442 "Tracking Issue for fmt::Arguments::as_str()"
Tracking issue for `fmt::Arguments::as_str()` (#74056), gated by `#![feature(fmt_as_str)]`.

[2020-07-17 14:11] cuviper commented on #70143
The Linux examples I gave do have the old pointer in `rbp`. However, once we've moved `rsp`, a signal could be delivered and run its handler from that stack location, before we've probed that it's safe.

[2020-07-17 14:12] SNCPlay42 commented on #74429
The code succeeds to compile on 1.44.1 and fails on 1.45, so this is actually a stable-to-stable regression.

[2020-07-17 14:17] nikomatsakis commented on #74193
But also the docs that @Manishearth listed to are pretty brief, and they don't give (e.g.) much guidance as to what the heck rollup=iffy means or when I should use rollup=always vs rollup=never. The internals thread is pretty good for that, though!

[2020-07-17 14:20] Manishearth commented on #62830
@eddyb the problem is that modules seem to be special and exist in all namespaces but also overlap. Do you have an idea of how that works?

[2020-07-17 14:21] shepmaster commented on #74420
In working on cross-compiling `rustc` from x86_64-apple-darwin to aarch64-apple-darwin, I ran into what I _think_ is the same root problem. In my case, [I had to forcibly add `-lz` to the linker arguments](https://github.com/shepmaster/rust/commit/62b2959dbac948e48f58d8bb867ebb10f80258a0#diff-02a1b29cb34a30a3ad2cd10b19b7b578R10-R11) in order to get a successful build.

I _think_ that enabling a st

[2020-07-17 14:21] Daniel-B-Smith opened #74443 "Breaking changes in rustfmt with 1.45.0"
This seems to be a re-occurrence of https://github.com/rust-lang/rust/issues/73078. The rustfmt released with 1.45.0 no longer respects `#![cfg_attr(rustfmt, rustfmt_skip)]` which breaks our CI for some auto-generated files.

[2020-07-17 14:32] mati865 commented on #74420
@shepmaster your issue is a bit different. See here and the discussion in PR from the comment: https://github.com/rust-lang/rust/blob/e2e29de5e8a2908260d54182638241ff086a26c2/src/bootstrap/native.rs#L180-L186

While it cannot be called proper fix for your issue linking zlib statically will make work without passing `-lz`.

[2020-07-17 14:32] jyn514 commented on #62834
Well, it's still possible to link to `Some` directly. But it makes you use `[Some(T)](Some)` instead of the direct `[Some(T)]`. So I think we should consider making it easier for the same reason as `Option<T>`. See https://github.com/rust-lang/rust/pull/74300#discussion_r456380463 for an example.

[2020-07-17 15:15] spastorino commented on #74429
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374429.20Borrowck.20deduces.20empty.20lifetime) and removing `I-prioritize`.

[2020-07-17 15:19] nikomatsakis commented on #64490
@RalfJung I think the report would include a short history of the feature and relevant PRs, some details about how it's in use, and links to a few tests or examples. Basically all info that can be scraped from the last few comments in this tracking issue, I imagine. =)

[2020-07-17 15:45] ehuss commented on #67782
This seems to have been fixed (or at least changed) via #71804 so that it no longer errors.

[2020-07-17 15:45] RalfJung commented on #64490
I'm on vacation now for a week; I can try to draft something once I am back.

[2020-07-17 15:56] mati865 commented on #74420
I've patched LLVM to link with static zlib but it fails on Ubuntu 20.04 VM with:
[code]
AFAICT the error is legit. `z_errmsg` symbol is not PIC so it cannot be used in PIC enabled LLVM shared library.
I can't fix it but maybe somebody else has an idea.

@rustbot release-assignment

[2020-07-17 16:37] eddyb commented on #62830
"Modules count as all three" sounds wrong? Modules live in the type namespace last I checked.

[2020-07-17 16:41] RalfJung opened #74446 "Clarify "structural equality" rules"
[RFC 1445](https://github.com/rust-lang/rfcs/blob/master/text/1445-restrict-constants-in-patterns.md) introduced the notion of a type supporting "structural match", which enables constants of that type to be used in patterns. The goal was to only let primitive types and types with `derive(PartialEq, Eq)` participate in patterns. Since then the `#[structural_match]` attribute was [replaced by two t

[2020-07-17 16:42] eddyb commented on #74042
I would expect this to "just work", if the attribute syntax parses.

[2020-07-17 16:47] eddyb commented on #74042
Although... the example is a bit suspect, it doesn't specify what the expected behavior is, but the call of the closure in the `with` method is what you'll get as the `assert!` failure location, if `#[track_caller]` works correctly on closures.

If you want to propagate all the way to `main`, that's hard.
You want to defer errors until you can panic *outside* the closure, so that you're not inside

[2020-07-17 16:48] lcnr opened #74447 "const generics lifetime ICE"
[code]
results in
[code]

[2020-07-17 17:02] elichai commented on #74042
Ha! That's interesting, I didn't think about the fact that I'm not actually the one calling the closure, so my `#[track_caller]` on `assert_done` doesn't do anything because there's no `#[track_caller]` on the `with` method and whatever its internals are.

[2020-07-17 17:05] tmiasko commented on #68464
Blocked on https://bugs.llvm.org/show_bug.cgi?id=33332. The cmpxchg release acquire is accepted by LLVM but miscompiled on AArch64.

[2020-07-17 17:23] SNCPlay42 commented on #74429
So far I've reduced it to this, which depends only on `ndarray` (without the `rayon` feature):

[code]

[2020-07-17 17:25] #74345 closed

[2020-07-17 17:25] matthiaskrgr commented on #74447
Could this be a duplicate of #73375 ?

[2020-07-17 17:26] Manishearth commented on #62830
Oh! Maybe we should just switch modules to being a type then, I was under the impression they lvied in all namespaces

[2020-07-17 17:26] Manishearth commented on #62830
And yeah, seems like types cannot overlap with modules.

[2020-07-17 17:28] Manishearth commented on #74193
I'm going to close this as it isn't necessary with the homu changes, but we should improve docs!

[2020-07-17 17:28] lcnr commented on #74447
:+1: This probably has the same fix. I do think that the issues are different enough to keep this one open though

[2020-07-17 17:34] Manishearth commented on #51284
Don't we already support this?

https://github.com/rust-lang/rust/blob/3014f23ddd437d2ba9947383c4565d09c1eb39f2/src/librustdoc/passes/collect_intra_doc_links.rs#L578

[2020-07-17 17:38] jyn514 commented on #62830
Wait I'm confused - I thought functions are in the type namespace? Are they values instead?

[2020-07-17 17:45] Manishearth commented on #62830
Functions are values

[2020-07-17 17:51] mbrubeck commented on #73837
For reference (in case anyone else finds this issue while searching for info), the work to upgrade hashbrown is #70052.

[2020-07-17 17:51] jesperdj commented on #55300
These algorithms (what C++ `std::nth_element` does and what these `partition_by_...` functions do) are [selection algorithms](https://en.wikipedia.org/wiki/Selection_algorithm) and they are related to partitioning and sorting algorithms such as [quicksort](https://en.wikipedia.org/wiki/Selection_algorithm).

[2020-07-17 17:59] joshtriplett commented on #64191
I'm interested in the outcome of this. Is it currently in a state where cargo could potentially implement a useful subset of it? Or is there further work needed on the final link step before cargo can do anything?

[2020-07-17 18:04] matthewjasper opened #74451 "Internal compiler error: find_vtable_types_for_unsizing: invalid coercion"
I tried this code (modified version of `src/test/ui/specialization/issue-44861.rs`):

[code]

I expected to see this happen: mismatched types error in conv due to mismatched types

Instead, this happened: ICE

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-07-17 18:05] SNCPlay42 commented on #74429
`cargo bisect-rustc`:

searched nightlies: from nightly-2020-04-20 to nightly-2020-06-02
regressed nightly: nightly-2020-05-25
searched commits: from https://github.com/rust-lang/rust/commit/8970e8bcf6153d1ead2283f1a0ed7b192230eca6 to https://github.com/rust-lang/rust/commit/46e85b4328fe18492894093c1092dfe509df4370
regressed commit: https://github.com/rust-lang/rust/commit/52b605c8cb2f730e607de077

[2020-07-17 18:10] ehuss commented on #74193
@Manishearth will you open a PR on the forge to capture those docs? If not, I can probably try to start something.

[2020-07-17 18:35] dingxiangfei2009 commented on #74429
@SNCPlay42 The reproduction does not produce error in `rustc 1.46.0-nightly (346aec9b0 2020-07-11)`.
However, I find this throws error on this nightly, as well as on 1.45.0.

[code]

[2020-07-17 18:38] #74193 closed

[2020-07-17 18:38] Manishearth commented on #74193
@ehuss If you can start something that would be great!

[2020-07-17 18:45] cuviper commented on #74426
The Linux `fs::copy` at least tries to use `copy_file_range` to avoid the trip through userspace memory, but it will still end up with duplicate data on the device.

GNU coreutils also tries to use `FICLONE` for `cp --reflink`, but that's an explicit opt-in.
https://github.com/coreutils/coreutils/blob/6a3d2883fed853ee01079477020091068074e12d/src/copy.c#L408

[2020-07-17 18:49] cuviper commented on #74405
With LLVM 11, I hope to switch to `"probe-stack"="inline-asm"`, which avoids any call and supports more targets. That code uses a loop for large stack allocations, but also does unroll to a series of probes for small cases.

[2020-07-17 19:02] jonas-schievink commented on #74429
cc @matthewjasper

[2020-07-17 19:18] SimonSapin commented on #74215
This logic is already implemented in the compiler. When the default memory representation of an enum uses a tag, the tag has the representation of the smallest integer type that works.

[2020-07-17 19:39] SNCPlay42 commented on #74429
The PR that made my reduced code (without `(0..1).filter(|_| true);`) start successfully compiling again is #73643, in case it helps show what's going on.

<details>
<summary>Full bisect-rustc</summary>

searched nightlies: from nightly-2020-05-25 to nightly-2020-07-17
regressed nightly: nightly-2020-06-24
searched commits: from https://github.com/rust-lang/rust/commit/6bb3dbfc6c6d8992d08431f320ba

[2020-07-17 19:45] nikomatsakis commented on #66173
This is an example of something where we would NOT lint but it still produces UB:

[code]

However, as far as I know we've never observed a pattern like this in the wild, but we have observed many examples where the warning here would be a false warning because the fn just never returned an `Err` variant (most of these were the variant constructors themselves).

[2020-07-17 19:50] matprec commented on #74302
Probably a duplicate of https://github.com/rust-lang/rust/issues/40100

[2020-07-17 19:51] nikomatsakis commented on #64490
@RalfJung no rush <3

[2020-07-17 19:51] GuillaumeGomez commented on #51284
We actually already do it, indeed. I'm closing this issue then.

[2020-07-17 19:51] #51284 closed

[2020-07-17 19:53] nikomatsakis commented on #74042
I had assumed that, in the example, the `with` function would also have `#[track_caller]`. I could see that becoming a common pattern, but yeah, it does rely on that.

[2020-07-17 20:05] syntacticsugarglider opened #74456 "Exponential growth in compile time, memory usage for obligation evaluation"
The source provided [here](https://github.com/syntacticsugarglider/self-profile-ice-repro), also used for reproduction of the previously filed #73593, takes an unexpectedly long time to compile and consumes substantial memory, growing exponentially as seemingly trivial complexity is added to the source. For example, uncommenting [this](https://github.com/syntacticsugarglider/self-profile-ice-repro

[2020-07-17 20:13] canova commented on #53188
Hi, It looks like previous PR is not being worked on currently. I'm working on this and will create a PR soon.
@rustbot claim

[2020-07-17 20:16] wesleywiser commented on #74456
@rustbot ping icebreakers-cleanup-crew

Help creating a smaller MCVE would be appreciated!

[2020-07-17 20:23] nikomatsakis commented on #66173
So @blitzerr and I spent some time explaining the problem and my proposed solution.

[Recording available on YouTube](https://youtu.be/ijknh_WhUwM)

[2020-07-17 20:28] jyn514 opened #74458 "rustdoc: No way to make an intra-doc link to an inlined Deref method"
A slight degradation in quality [from manual links] is that the `#method.foo` links would previously link to the same page on `String`'s documentation, and now they will navigate to `str`.

Originally posted by @manishearth in https://github.com/rust-lang/rust/pull/74453.

[2020-07-17 20:28] nikomatsakis commented on #29864
@WaffleLapkin I would not want to change something that fundamental without more thought, although I can't give an immediate reason why it is strictly *necessary*. Without that rule, though, you would have fundamentally "unconstrained" types that result from type check and which we cannot recover -- as things are, we have enough information to fully recover all the information we need for any trai

[2020-07-17 20:30] nikomatsakis commented on #29864
@rylev basically we just need to create a stabilization PR with a write-up that includes

* quick summary of the feature
* any changes since the RFC
* some tests that highlight key aspects of the feature

There is some [documentation here](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report) about writing a report and also [preparing a PR](https://rustc-dev-

[2020-07-17 20:30] mati865 commented on #62925
It's const stable for quite some time: https://github.com/rust-lang/rust/blob/86c0b85da98a3c69e0fc9014e36e1c88bd3ae8d7/src/libcore/num/mod.rs#L1596
This issue should be closed.

[2020-07-17 20:37] nikomatsakis commented on #74215
@SimonSapin yes, that logic is implemented, but it is implemented as part of the `Layout` code, and I am concerned that now we would have to execute that code in order to figure out the `DiscriminantKind::<SomeEnumType>`, whereas now we don't. At least that's my guess, I've not dug into the code and I might be misremembering things. Perhaps there's already a dependency.

[2020-07-17 20:38] #62925 closed

[2020-07-17 21:02] Manishearth commented on #74458
More in general, if the thing being linked to exists on the same page, we should link to it on the same page.

[2020-07-17 21:18] nwn opened #74462 "#[derive(Default)] fails when type parameters do not implement Default"
The `derive(Default)` macro fails when applied to a type with a non-`Default` type parameter.

I tried this code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce408b26f83b822e7bbba18f26ca2840))

[code]

I expected this to compile with `Default` being implemented using `PhantomData`'s `Default` implementation.

Instead, the following error was produced:
[cod

[2020-07-17 21:26] jonas-schievink commented on #74462
Duplicate of https://github.com/rust-lang/rust/issues/26925

[2020-07-17 21:26] #74462 closed

[2020-07-17 21:28] Mark-Simulacrum commented on #53720
This is still the case today, though is a bit harder to grep for as rustc uses symbols now for the elements, e.g., https://github.com/rust-lang/rust/blob/3014f23ddd437d2ba9947383c4565d09c1eb39f2/src/librustc_ast_lowering/expr.rs#L850

[2020-07-17 21:29] alexcrichton opened #74463 "#![allow(elided_lifetimes_in_paths)] doesn't work in submodules"
Given code such as:

[code]

When compiled this generates a warning:

[code]

I'm not entirely sure why the directives inside `mod foo` aren't taking effect. The crate-level ones do take effect, as can be seen with:

[code]

(no warnings)

[2020-07-17 21:34] the8472 commented on #74426
My understanding is that `copy_file_range` already uses reflink copies if supported. So all you need is a sufficiently recent kernel.
https://github.com/torvalds/linux/blob/b1b11d0063aab28aaf65f63cff56470bc01dc290/fs/read_write.c#L1728-L1744

`io::copy` would require specialization to make this work and this would be an unreliable optimization since wrapper types such as `BufWriter` could obscur t

[2020-07-17 21:46] cuviper commented on #74426
Thanks, I didn't realize it did that!

[2020-07-17 22:17] #22815 closed

[2020-07-17 22:25] Mark-Simulacrum commented on #27627
Closing in favor of https://github.com/rust-lang/rust/issues/29931 since it seems at least "mostly the same" and given the lack of ongoing effort two bugs seems not useful.

[2020-07-17 22:25] #27627 closed

[2020-07-17 22:30] Mark-Simulacrum commented on #30907
I'm going to close this as this is more than 4 years old at this point and we've changed so much that I would like re-confirmation if we're to reopen.

[2020-07-17 22:31] #30907 closed

[2020-07-17 22:43] ehuss commented on #74463
I think this is a duplicate of #71957.

[2020-07-17 22:48] ehuss commented on #74463
Also, a warning for this was recently added in #73300, but I think it is circumvented in your example by `#![allow(warnings)]`.

[2020-07-17 22:51] alexcrichton commented on #74463
Ah yep that looks like the same issue!

[2020-07-17 22:51] #74463 closed

[2020-07-18 00:07] KodrAus opened #74465 "Tracking Issue for `once_cell`"
This is a tracking issue for the RFC "standard lazy types" (rust-lang/rfcs#2788).
The feature gate for the issue is `#![feature(once_cell)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scal

[2020-07-18 00:27] #73608 closed

[2020-07-18 00:27] #73860 closed

[2020-07-18 00:27] #62830 closed

[2020-07-18 01:17] SNCPlay42 commented on #74429
Single-crate repro:

[code]

[2020-07-18 02:50] #73699 closed

[2020-07-18 02:55] jyn514 commented on #73423
I think we should consider moving primitives into libcore. Otherwise there's not a way to fix this without allowing links to _upstream_ types (https://github.com/rust-lang/rust/issues/73699), which is another can of worms and I don't think should be tied to this issue.

@Manishearth was concerned that this wouldn't show libstd implementations of libcore traits. A possible workaround here is to dup

[2020-07-18 02:57] jyn514 commented on #73423
Oh, I think it might be as simple as `primitive_docs.rs` being in libstd, not libcore. https://github.com/rust-lang/rust/blob/98450757e5fa18ee0be9213d2830c9363b0f5fd3/src/libstd/primitive_docs.rs

[2020-07-18 03:08] jyn514 commented on #73423
Doing this means that intra-doc links to `String`, etc. won't resolve in _either_ libstd or libcore.

[2020-07-18 03:24] lzutao commented on #74427
ping @Mark-Simulacrum

[2020-07-18 03:25] jyn514 commented on #64193
Closing as duplicate of https://github.com/rust-lang/rust/issues/73699: `futures_rs` is trying to link to the upstream crate `futures_channel`.

[2020-07-18 03:25] #64193 closed

[2020-07-18 03:50] hyd-dev commented on #74426
Oops, I didn't realize that either. The `copy_file_range(2)` man page says nothing about it.

Then, if you think it's not worth to optimization, feel free to close this issue.

[2020-07-18 06:59] CGQAQ opened #74472 "Better runtime panic message for RefCell borrow"
[code]
[code]
[code]
Backtrace number 17 is finally helpful.
What about just show it in panic info instead of `thread 'main' panicked at 'already mutably borrowed: BorrowError', /home/cg/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/src/libcore/cell.rs:797:9` this crap

Or at least have a Backtrace mode that only shows user code trace, I think it would be helpful as I can

[2020-07-18 07:03] qlcom opened #74473 "q: why doc on local machine isn't served by an HTTP server?"
we are viewing it on a web browser. but it isn't served by an HTTP server. I don't understand this.

[2020-07-18 07:18] VictorKoenders commented on #74473
Running `cargo doc` actually creates a completely static HTML file structure. If you look at the URL of your browser, you'll see something like `file:///<project path>/target/doc/<project name>/index.html`.
If you were to browse to `target/doc/` in your file explorer, you'll see a dozen or so HTML files generated.
Your browser simply serves these files from the filesystem, instead of from a HTTP s

[2020-07-18 07:21] qlcom commented on #74473
thanks, i know this.

Why it doesn't use an HTTP server. features like theme aren't persistent in file://

[2020-07-18 07:22] qlcom commented on #74473
Also what about Rust's own doc?

[2020-07-18 07:23] VictorKoenders commented on #74473
There seems to be a (stalled) discussion on being able to run rustdoc in a server: https://github.com/rust-lang/cargo/issues/4966

[2020-07-18 07:30] qlcom commented on #74473
this doesn't make any sense.

[2020-07-18 07:31] FedericoPonzi commented on #64045
I've just run this on the playground, and it looks fine:
[code]

[2020-07-18 07:42] matprec commented on #53984
The above minimization can be made to compile on stable when explicitly writing out the bound:

[code]

[2020-07-18 09:57] zhuxiujia opened #74474 "error: failed to run custom build command for `winapi-x86_64-pc-windows-gnu v0.4.0`"
error: failed to run custom build command for `winapi-x86_64-pc-windows-gnu v0.4.0`

rust version:

[code]
error: failed to run custom build command for `winapi-x86_64-pc-windows-gnu v0.4.0`

Caused by:
  could not execute process `D:\RustProject\cf\target\debug\build\winapi-x86_64-pc-windows-gnu-373993d98adf607f\build-script-build` (never executed)

Caused by:
  该版本的 %1 与你运行的 Windows 版本不兼容。请查看计算机

[2020-07-18 10:14] the8472 commented on #74426
Specializing io::copy may still be useful for generic code operating on `Read`/`Write` traits or already opened files.

[2020-07-18 11:21] zhuxiujia opened #74475 "rust virtual machine compile /run rust code in debug mode."
In some cases with large amounts of code, compilation can take a long time
Even modifying a string takes seconds (Even though my computer is 6 core Cpus)

rust virtual machine(Implemented in pure rust languages)  compile /run   rust  code in debug mode. (we need very fast Develop code)
llvm ir compile in release mode.   (we need very fast Execution speed)

advantage：
- compile fast (may be Less th

[2020-07-18 12:42] ijackson opened #74476 "compilation time (of volatile array read?) is super-quadratic in array size"
### Hi.  I tried this code: ###

[code]

### Expected results: ###

Relatively quick compilation of a program that prints 42.

### Actual results: ###

rustc took 45 seconds on my really rather fast laptop (and also uses a great deal of memory).  The compiled binary works as epected.

Changing the value of COUNT shows the following (with an earlier rustc, but the newly-updated one is about as slow

[2020-07-18 13:15] chansuke commented on #73904
I'd like to work on `sys/wasm`.

[2020-07-18 13:20] zhuxiujia commented on #74474
error: failed to run custom build command for `log v0.4.11`

[2020-07-18 13:23] zhuxiujia commented on #74474
error: failed to run custom build command for `proc-macro2 v1.0.18`

Caused by:
  could not execute process `D:\RustProject\rbatis\target\debug\build\proc-macro2-9f1eb5eb98a8fc0c\build-script-build` (never executed)

Caused by:
  该版本的 %1 与你运行的 Windows 版本不兼容。请查看计算机的系统信息，然后联系软件发布者。 (os error 216)
warning: build failed, waiting for other jobs to finish...
error: build failed

[2020-07-18 14:54] lzutao commented on #74349
Closed by #74371 .

[2020-07-18 14:54] #74349 closed

[2020-07-18 15:06] yoshuawuyts opened #74479 "Tracking Issue for `#![feature(available_parallelism)]`"
The feature gate for the issue is `#![feature(available_parallelism)]`.

This is a tracking issue for `std::thread::available_parallelism`; a portable API to determine how many threads to spawn in order to ensure a program can make use of all available parallelism available on a machine.

[stabilization-guide]: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr
[doc-gu

[2020-07-18 15:07] ayushmishra2005 commented on #74199
@lcnr I would like to fix it. Can you please guide me?

[2020-07-18 15:19] lcnr commented on #74199
I am not completely sure what's going wrong here myself yet.

I will try to look into what we can do here soon. If you open a new topic on zulip we can discuss it there.

[2020-07-18 15:30] mati865 commented on #74474
Windows docs say it's due to a virus: https://support.microsoft.com/en-gb/help/259279/error-message-runtime-error-216

[2020-07-18 15:41] JohnTitor commented on #74474
I'm going to close this as it seems to be more of an issue with your environment than with Rust itself I think. If we have any actions we can take here, please feel free to comment with reproducible steps, thanks!

[2020-07-18 15:41] #74474 closed

[2020-07-18 16:05] jyn514 opened #74481 "Figure out a way to link to upstream crates"
After #73101 there is no way to link to items in upstream crates. This is fairly common to try; `futures` does this extensively (#64193), as does `core`/`std` (#73423).

On one hand, this clearly breaks rust's scoping rules: downstream crates can't refer to the types of upstream crates because it causes a cyclic dependency. So there's an argument to be made for saying this is just not supported.

[2020-07-18 16:07] jyn514 commented on #74481
@Nemo157 also suggested that this be supported through cargo:

or does it not matter about rustc and we only care about cargo?

[2020-07-18 16:08] #69414 closed

[2020-07-18 16:08] #63866 closed

[2020-07-18 16:08] #67108 closed

[2020-07-18 16:08] #74431 closed

[2020-07-18 16:09] jyn514 commented on #73699
I opened https://github.com/rust-lang/rust/issues/74481 for the general issue of linking to upstream documentation.

[2020-07-18 16:09] Manishearth commented on #74481
I don't think cargo would support something like that. That still introduces a cyclic dependency, even if it's technically feasible. Cargo doesn't really distinguish in the crate graph

[2020-07-18 16:09] Nemo157 commented on #74481
It would be good to clarify "upstream", my assumption would be that an "upstream crate" is a dependency, which should work with intradoc links?

[2020-07-18 16:10] jyn514 commented on #74481
Oops, yeah I got upstream and downstream mixed up.

[2020-07-18 16:18] Nemo157 commented on #74481
@Manishearth cargo already allows "cyclic" dependencies for dev-dependencies, since they're not _really_ cyclic in its build graph. Changing it to pass the current crate and dependents of it in as metadata when it calls `rustdoc` seems relatively trivial. The `rustdoc` side changes to support a sort of mixed source-files+metadata for the crate being documented is more difficult (especially with `c

[2020-07-18 16:20] Manishearth commented on #74481
@Nemo157 it's not trivial: dev-dependencies are dependencies of the test crates, which are independent crates. That's not the case for docs.

_even if_ we somehow solve this in cargo, the rustc infrastructure rustdoc relies on would not work.

[2020-07-18 17:08] zhuxiujia commented on #74474
now,we use windows cmd  run command
[code]

It pops up a dialog saying 16-bit applications are not supported

[2020-07-18 17:08] zhuxiujia commented on #74474
It pops up a dialog saying 16-bit applications are not supported

[2020-07-18 17:19] hanna-kruppe commented on #74476
A tremendous amount of machine code is generated (depending on `COUNT`) which of course takes time. The volatile load is loading a huge value, and because it's volatile, the generated code has to ensure every byte is loaded exactly once, so it can't just call `memcpy`. I don't see any way to avoid this problem, but I also wonder why you're doing a volatile load of the entire array in the first pla

[2020-07-18 17:27] #52301 closed

[2020-07-18 17:28] hanna-kruppe commented on #74476
(Well, the amount of code generated should be linear in `COUNT`, not quadratic, but since it's all in one basic block, one of the many passes over that code probably takes quadratic time, and avoiding that is probably very hard and not worth the effort.)

[2020-07-18 17:42] eggyal opened #74483 "ICE with `min_specialization` feature on implementing trait for non-existent struct"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-18 17:58] ehuss commented on #32129
Reopening until the exclusions in the link checker can be removed.

[2020-07-18 17:58] ehuss commented on #32130
Reopening until the exclusions in the link checker can be removed.

[2020-07-18 18:45] Manishearth commented on #74481
So another thought I had: Perhaps the solution for this is _not_ in intra doc links. I'm not a fan of making intra doc links behave outside of the scope of paths and having forward decls: it's a major infrastructure change for rather minor benefit. The only main place that benefits is std which is designed as a facade crate.

An alternate idea is to have a `$DOC_ROOT`, i.e. you can define links as

[2020-07-18 18:52] lcnr commented on #74199
Not completely sure why this ICEs after the cycle error, will have to ask about this myself.
We can fix the ice for now by ignoring `ty::Error` here https://github.com/rust-lang/rust/blob/7d31ffc1ac9e9ea356e896e63307168a64501b9d/src/librustc_typeck/variance/constraints.rs#L164-L169

The cycle error itself seems like a quite difficult problem though x.x

[code]
I don't have the time to think too mu

[2020-07-18 18:58] jyn514 commented on #74481
This does not solve the more general case of linking to downstream crates :/ I'm ok with working around this for std but I'd like to eventually have something that works for `futures` and other non-std crates.

[2020-07-18 19:30] rust-highfive opened #74484 "`miri` no longer builds after rust-lang/rust#73441"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73441, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @alexcrichton, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-07-18 20:33] zhuxiujia commented on #74474
216 is ERROR_EXE_MACHINE_TYPE_MISMATCH. The build script should always match the host architecture of the compiler, so if the compiler is able to run in the first place to build the build script then there's no reason the build script itself shouldn't be able to run... What a bizarre issue.

What I do know however is that this is not winapi's fault. winapi's build script just happens to be one of

[2020-07-18 21:07] poliorcetics commented on #72186
@rustbot claim

[2020-07-18 21:10] the8472 commented on #74476
couldn't this be rewritten as a loop of volatile reads u64?

[2020-07-18 21:26] Manishearth commented on #74481
I kind of feel like there shouldn't be such a solution for other crates.

Though I'd be open to eventually stabilizing DOC_ROOT

[2020-07-18 21:33] Daniel-Liu-c0deb0t commented on #74413
I was looking at an older version of the documentation. It is fixed in the current version.

[2020-07-18 21:33] #74413 closed

[2020-07-18 22:03] jyn514 commented on #32553
This looks like a duplicate of #73423.

[2020-07-18 23:07] anp commented on #74042
I've opened https://github.com/rust-lang/rust/pull/74492 with a bare minimum change and test included. It's currently failing because MIR argument counts aren't happy. I'll dig in at some point soon, if anyone has suggestions I'm all ears.

[2020-07-19 00:21] calebcartwright commented on #74443
Looks like 1.45.0 shipped with an older version of rustfmt

* rustc 1.45.0 --> rustfmt 1.4.15
* rustc 1.44.1 --> rustfmt 1.4.16
* rustc 1.44.0 --> rustfmt 1.4.14

Not sure how that happened, but rustfmt v1.4.16 is the version that had the fix and both 1.4.14 and 1.4.15 had the bug from #73078

[2020-07-19 00:29] joshtriplett commented on #55614
It doesn't look like there's been any activity on this.

Concrete proposal: what if we added a new version of the `bind` constructor, which took a `backlog` parameter?

[2020-07-19 01:33] eloraiby opened #74494 "target wasm32-unknown-emscripten fails to compile in debug mode and external dependencies"
Using `https://github.com/NeoCogi/rs-glfw3-gles2-test`:
When compiling with:
[code]
fails with
[code]
I tracked it down to this:
[code]
Removing it, or compiling it with `--release` causes the compilation to succeed!:
[code]

[2020-07-19 01:42] Cldfire opened #74496 "Ayu theme search bar focus CSS is broken"
![2020-07-18 21_41_27-Window](https://user-images.githubusercontent.com/13814214/87865140-774ed880-c93f-11ea-8e0e-cc63a7c1dbb9.png)

Looks like 6969b3099623506bd3a99d0b06c2aaac8fb3602e accidentally reverted part of the change in ef6c0263b0fee291d31e3f3d49468b6df3eeff6c which is making things look weird.

I should be able to get a PR in later.

[2020-07-19 03:14] 95th opened #74497 "Unclear lifetime error in closure producing a future"
[Code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a24e79e957d04226ea4bc496cecf98bd):

[code]

produces following error:

[code]

Is this error correct? If yes, why?

[following](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3332034e029b63e7e54c1148d627c52c) also doesn't work:

[code]
error (still not clear):

[code]

meta:
[code]

[2020-07-19 03:33] AlyoshaVasilieva opened #74498 "LTO triggers apparent miscompilation on Windows 10 x64"
I tried this code:

Cargo.toml:

[code]

main.rs:

[code]

(extremely minimized form of grayscale BMP encoding from `image` crate)

Command: `cargo run --release`

I expected to see this happen: `1025 bytes written`

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

It appears to work fine on ARM Linux in my limited testing.

This minimized form works/doesn't work on t

[2020-07-19 03:37] kpp opened #74499 "A to_int_checked fn to cast floats to integers"
At the moment there are two ways to cast floats: `as` and `to_int_unchecked`. I am curious if there are plans to add more ways to cast floats to integers.

Integer arithmetic has explicit methods like `checked_add`, `overflowing_add`, etc. The compiler chooses appropriate operator to use instead of implicit `+` according to Debug/Release mode (or more specifically to -C overflow-checks=on|off flag

[2020-07-19 04:06] luojia65 opened #74500 "Linker error 'PC offset is too large' when building for specific target memory address"
To illustrate this problem, I have minimized the code: https://github.com/luojia65/runtime-test. This project depends on riscv-rt crate 0.8.0.

Clone the project down and try to compile, I expected to see it compiles normally. However there is a strange error:

[code]

I've uploaded full error message into ubuntu pastebin: https://paste.ubuntu.com/p/jdmhvmy3WS/. It shows that the linking process h

[2020-07-19 04:42] philip-peterson opened #74502 "Independent lifetimes still considered overly constrained"
I saw a confusing error message today which seems related to #60216, but not sure if it's the same.

[code]

The function in question takes four independent lifetimes which (in my mind) should be free to grow as large as the compiler would like.

[code]

[2020-07-19 04:57] BhuwanBhaskar opened #74503 "Is the error expected ?"
Hi,
I am beginner and learning rust. Not sure if it is the right place to ask such question.
I am seeing error with below code:

[code]
Error: **expected one of `)`, `,`, `@`, or `|`, found `:`**

This error is coming when I declare type of "howMany" to be "u8" (which is same as defined in the enum).
If I don't declare type of 'howMany', everything works fine. Shouldn't we be able to declare the t

[2020-07-19 05:12] leonardo-m commented on #74499
Some other int -> float ways to casts will probably be added. And eventually "as" will be made less and less common in Rust code.

[2020-07-19 05:27] alexschrod commented on #72186
I'm not sure I understand the confusion. This paragraph:

applies to *implementations* of `Read`, consumers don't need to pay attention to that bit at all. As for the bit that applies to consumers;

it just says to pass a regularly allocated `buf` and to not try being clever by using an uninitialized buffer.

[2020-07-19 05:37] petrochenkov commented on #74500
Quick guess: perhaps `-C code-model=large` may help.
(Didn't read the issue in detail.)

[2020-07-19 06:23] lzutao commented on #74503
The error is expected. The `Coin::Quarter(..)` in `match` expression is a pattern. Remove the `: u8`
you code will compile.

[2020-07-19 06:38] Lonami commented on #74503
User questions are better suited for https://users.rust-lang.org/ or StackOverflow.

[2020-07-19 06:41] Lonami commented on #74502
The problem isn't about growing but about dependency between them, as the compiler doesn't know the relationship between all of them four, and I don't think the compiler could infer it in this case.

[2020-07-19 06:43] BhuwanBhaskar commented on #74503
@lzutao thnx...But why not allow declaration of type in param?
@Lonami Thnx for pointing that out ...

[2020-07-19 07:25] #55103 closed

[2020-07-19 07:25] #56590 closed

[2020-07-19 07:39] dingxiangfei2009 commented on #74429
I can volunteer myself for looking into the issue. I have a question about the region inference. Is there a way to visualize, or trace the region inference? Guidance and mentoring instructions are _very_ welcome. :smile:

[2020-07-19 08:13] yoshuawuyts commented on #69912
These are the uses the `Wake` trait will replace:

- [`RawWaker` with raw pointers can be confusing for people learning about futures](https://twitter.com/mountain_ghosts/status/1284156484583120899). `Wake` makes this safe and easier to follow.
- Replacement for the [`waker-fn` crate](https://docs.rs/waker-fn/1.0.0/waker_fn/) and [`wakeful`](https://docs.rs/wakeful/0.1.1/wakeful/fn.waker_fn.html)

[2020-07-19 08:25] JohnTitor commented on #74483
I guess it's related to #71127.

[2020-07-19 09:22] JohnTitor commented on #74443
I think we missed a beta backport, as mentioned in https://rust-lang.zulipchat.com/#narrow/stream/241545-t-release/topic/rustfmt.20in.201.2E45.2E0.

[2020-07-19 09:58] eloraiby commented on #74494
I am closing this since it seems to be related to emsdk version installed. Problem is gone after installing the latest version of emsdk.

[2020-07-19 09:58] #74494 closed

[2020-07-19 10:02] hanna-kruppe commented on #74476
You're right that a loop would be a legal lowering, but I don't think there's a good way to actually generate that within the the context of how CodeGen and especially legalization is done in LLVM today. But I just remembered that "volatile memcpy" is now a thing in LLVM, so perhaps rustc could be modified to emit that for sufficiently large values? But this can call the ordinary `memcpy` (which m

[2020-07-19 10:05] oli-obk opened #74506 "`rust-src` component is not self-contained anymore"
Since https://github.com/rust-lang/rust/pull/73441 I'm getting a failure while building `libstd`.

[code]

Should we copy the `backtrace` folder into the `rust-src` rustup component or is there a better solution?

cc @alexcrichton

[2020-07-19 10:06] oli-obk commented on #74484
I don't think we can resolve this until https://github.com/rust-lang/rust/issues/74506 is fixed, as we can't build a libstd anymore :(

[2020-07-19 10:33] SNCPlay42 commented on #74497
This note

Is supposed to define the lifetime `'2` referred to by the error message by showing it as a parameter of the return type, but `'2` doesn't appear in the type anywhere, possibly because of the opaque `impl Future` type.

cc #74072

[2020-07-19 10:50] oli-obk commented on #70400
We're not printing the basic blocks without `-Zverbose` anymore, so I think there's nothing actionable here

[2020-07-19 10:50] #70400 closed

[2020-07-19 10:52] ijackson commented on #74476
### Thanks etc. ###

Hi again.  I'm afraid I don't have much to add in the discussion of
compiler internals.

My program does not need to do such a large volatile read and I have
changed it not to - ie, now it reads in smaller chunks.  So this bug
is not a practical problem for me and I'm not looking for help :-).

I thought I would report this as a bug as the behaviour seemed, to me
as a non-comp

[2020-07-19 10:56] the8472 commented on #74476
https://docs.rs/bencher/0.1.5/bencher/fn.black_box.html
https://doc.rust-lang.org/std/hint/fn.black_box.html
https://doc.rust-lang.org/test/bench/fn.black_box.html

[2020-07-19 10:57] ijackson commented on #74476
Interesting, thanks.  That is precisely right except it says it's not guaranteed to actually work :-).

[2020-07-19 11:03] oli-obk opened #74508 "Hide comments about constants in MIR dumps if they bring no additional information"
cc @lcnr @eddyb

We sometimes have super verbose things in MIR like

[code]

These constants give no useful additional information, as everything is already contained in the mir terminator. I think we could start out with just not printing these statements if the type is an integer, bool or char, which should cover most use cases. A more complex analysis could later look at constant in more detail

[2020-07-19 11:13] jonas-schievink commented on #74503
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-07-19 11:13] #74503 closed

[2020-07-19 11:15] the8472 commented on #74476
It's generally considered good enough for benchmarking, you can always look at the assembly output to make sure.

[2020-07-19 11:19] ijackson commented on #74476
I ended up (skim)reading a lot of the discussion in the various black_box issues etc.

I think what is needed is what is described in this comment:  https://github.com/rust-lang/rfcs/issues/1484#issuecomment-182392175  Unfortunately what is provided is something considerably weaker.  As documented, `black_blox` is not really useful even for benchmarking because (as you suggest) you still have to r

[2020-07-19 11:55] ijackson commented on #64102
(Hello.  I ended up reading this issue because I tried to solve the problem `black_box` is aimed at a different way, and found some to-me-surprising compiler behaviour -  #74476.  @the8472 helpfully referred me to `black_box`.)

Sorry to pick up on this.  I definitely do not want to re-litigate a decision which has already been made.  However:

I skimread a lot of these discussions including https

[2020-07-19 12:00] LeSeulArtichaut commented on #74498
@rustbot ping llvm

[2020-07-19 12:02] SNCPlay42 opened #74511 "nightly-rustc docs no longer document private items"
Compare [1.45.0 version](https://doc.rust-lang.org/1.45.0/nightly-rustc/rustc_mir/index.html), [nightly version](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/index.html)

* ~~The "This is an internal compiler API." warning has disappeared~~ this was intentional
* Items which are private, like `borrow_check`, have disappeared

[2020-07-19 12:03] LeSeulArtichaut commented on #74498
@rustbot ping windows

[2020-07-19 12:06] lzutao commented on #74511
The warnings is removed in #74351 .

[2020-07-19 12:11] lzutao commented on #74511
The `borrow_check` haven't never be public. Not sure if I made it disappeared.

cc @Mark-Simulacrum

[2020-07-19 12:12] lzutao commented on #74511
Also this page https://doc.rust-lang.org/nightly/nightly-rustc is 404 now.
Before it listed all the crates.

[2020-07-19 12:15] hanna-kruppe commented on #74476
I do think we should deprecate and warn about volatile reads and writes like this one. Generally, volatile accesses for aggregates (excluding those that map to architecturally-supported data types, such as `repr(transparent)` newtypes around primitives or SIMD types) have few legitimate use cases and several gotchas (no real guarantees about hardware memory access granularity, bad codegen as seen

[2020-07-19 12:21] mati865 commented on #74498
Works fine on Windows-gnu:
[code]
With MSVC it endlessly allocates memory.

@rustbot modify labels: -O-windows +O-windows-msvc

[2020-07-19 12:35] Mark-Simulacrum commented on #74511
I don't see how your PR could've done that -- cc @jyn514 I think you recently had a PR touching document-private-items?

[2020-07-19 12:38] Mark-Simulacrum commented on #74443
"Missed" sort of implies that someone had raised it for beta backport, which I think never happened -- it seems like we just didn't consider a beta backport at all. I would not be opposed to doing a 1.45.1 release personally with the backport, cc @rust-lang/release for opinions.

We should, regardless, make sure that at least rustfmt 1.4.16 is in beta and nightly today.

[2020-07-19 12:40] jyn514 commented on #74511
The PR just changed some warnings around intra-doc-links, nothing to do with `fn href`. My suspicion since the index page is gone is that something changed in bootstrap.

[2020-07-19 12:47] jyn514 commented on #74511
I take it back, I did modify href in https://github.com/rust-lang/rust/pull/72771/files#diff-2e4303616596f7b39dfebcbabb8a49b0R471. That was a few ago now and should have documented strictly more items, though.

[2020-07-19 12:49] jonas-schievink commented on #74443
:+1: for backport + stable patch release

[2020-07-19 13:03] ollie27 commented on #74511
This is the issue I pointed out in the second part of https://github.com/rust-lang/rust/pull/71670#discussion_r455875330. I clearly didn't explain the issue well enough.

[2020-07-19 13:03] luojia65 opened #74513 "LLVM codegen backend error in stable embedded Rust project"
### Code

I don't know exactly where, but somewhere in my embedded Rust code resulted in compile error. The compiler is stable Rust 1.45.0.

I cannot reproduce if I take a part of the source code, maybe I need further help to get a minimum ICE example.

Here's the file:

[gd32v-workspace.zip](https://github.com/rust-lang/rust/files/4943729/gd32v-workspace.zip)

Download this file, decompress and e

[2020-07-19 13:28] jyn514 opened #74515 "Intra-doc links do not resolve for value keywords"
[code]
The bug is here: https://github.com/rust-lang/rust/blob/fe98de2a8e3941bb33d1149c3717d8ea0744e39c/src/librustdoc/passes/collect_intra_doc_links.rs#L1124
It only checks for types, not for values.

I opened an issue because I'm not quite sure how to fix it: `Res` has `PrimTy`  but doesn't seem to have a place for keywords in the value namespace.

_Originally posted by @jyn514 in https://github

[2020-07-19 13:31] jyn514 commented on #74515
This looks like it might be the same issue as #63351.

[2020-07-19 14:00] Kixunil opened #74517 "Cross compilation x86_64-unknown-linux-gnu (Debian 9) -> arm-unknown-linux-gnueabihf (RPi Zero W) produces crashing binary"
I tried to cross-compile a basic hello world program (just `cargo new`) on x86_64 Debian 9 (installed using Rustup) with arm GCC linker for RPi Zero W. The compilation finished "successfully", but the produced binary crashes right after start.

[code]

Command used for compiling: `RUSTFLAGS="-v -g -C linker=arm-linux-gnueabihf-gcc" cargo build --target arm-unknown-linux-gnueabihf`, also tried with

[2020-07-19 14:15] csmoe commented on #74475
`cargo check` compiles rust code without involvement of llvm cc https://doc.rust-lang.org/edition-guide/rust-2018/cargo-and-crates-io/cargo-check-for-faster-checking.html

[2020-07-19 14:15] #74475 closed

[2020-07-19 14:17] #62516 closed

[2020-07-19 14:20] lzutao opened #74519 "Clean up some workarounds after upgrading minimum kernel version"
Good question! There are 6 workarounds in `libstd` for older Linux versions (that I could find).
Increasing the minimum version to 2.6.32 (aka 3rd Kernel LTS, aka RHEL 6) would fix 5 of them.
Code links are inline:

- [ ] [`File::open_c`](https://github.com/rust-lang/rust/blob/8b94e9e9188b65df38a5f1ae723617dc2dfb3155/src/libstd/sys/unix/fs.rs#L469-L505) uses the `O_CLOEXEC` flag with [`open(2)`](h

[2020-07-19 14:20] lzutao commented on #74519
Kernel updated in  #74163 .

[2020-07-19 14:31] cuviper commented on #74519
As noted, `copy_file_range` needs a much better kernel 4.5, so we'll still need that fallback. But all the `CLOEXEC` stuff should be ok to assume available now.

[2020-07-19 14:52] RalfJung commented on #74506
Yeah I think we need to do that, and we should do it ASAP. We can always find a better version later.

[2020-07-19 15:26] RalfJung commented on #74484
However, that cannot be the only problem -- Miri also fails to build in-tree. This is the Miri build failure:
[code]
@alexcrichton any idea why those might be missing?

[2020-07-19 15:29] RalfJung commented on #74484
`rustc-demangle` is an optional dependency of libstd, and Miri does not enable that option. Looks like the backtrace code incorrectly expects it to be present anyway?

[2020-07-19 15:35] gliderkite commented on #15701
The following code redirects to this issue on Rust 1.45:

[code]

with error and warning message:

[code]

[2020-07-19 15:36] jyn514 commented on #68455
This was recently implemented in #74066.

[2020-07-19 15:36] RalfJung commented on #74519
The new minimal version is 2.6.27 from what I can see, so "Socket::accept uses accept4(2) to permit use of SOCK_CLOEXEC" still needs a fallback, right?

[2020-07-19 15:37] alexcrichton commented on #74484
Ah this is my mistake, I didn't check that libstd still compiled without the `backtrace` dependency. I believe that unconditionally depending on `rustc-demangle` is indeed the right thing to do. I can send a PR for this tomorrow if no one else gets to it.

[2020-07-19 15:38] RalfJung commented on #74484
Just please make sure to also include it in rust-src then :)

[2020-07-19 15:41] calebcartwright commented on #74443
nightly (though broken ATM) is on rustfmt 1.4.18 and I believe beta is as well. Let us know if anything is needed from the rustfmt side though.

[2020-07-19 15:45] cuviper commented on #74519
The builder is using 2.6.32 headers, so I would call that our new minimum.

[2020-07-19 15:52] MSxDOS commented on #74425
The regression starts with Rust 1.38.0

[2020-07-19 16:00] RalfJung commented on #74519
Ah right; I am actually not sure where I got the 27 from...

[2020-07-19 16:28] nikic commented on #74425
IR contains this weirdness: `(i1 icmp ule ({}* bitcast (void ()* @_ZN7example6inner017hec4f5594ccddd419E to {}*), {}* null)` Because it's a constexpr, the `ule null` probably doesn't get folded to `ne null`.

I've seen this super weird pattern emitted by rustc a few times already, wonder where it comes from.

[2020-07-19 16:31] nikic commented on #74425
Most likely from here: https://github.com/rust-lang/rust/blob/48036804d2bc461b243c5d291b850e44bcca68ef/src/librustc_codegen_ssa/mir/place.rs#L264 The zero case is already special-cased, we should emit IntNE in that case instead of IntULE.

[2020-07-19 16:34] LunarLambda opened #74524 "macros by example: cannot expand non-nested repetitions inside of each other"
I don't know if this should be considered a bug or not, but I find it highly unintuitive behavior, which is potentially difficult to work around. It's also kind of difficult to describe, as I'm not completely sure what the *root* cause is.

In my code I have a macro by example with two separate repetitions, one `$(...)*` and one `$(...)?` and trying to expand one inside the other fails to compile.

[2020-07-19 16:40] jonas-schievink commented on #74524
I don't think this is supposed to work. What would be the expected behavior?

[2020-07-19 17:07] MSxDOS commented on #74183
This is most likely related to to fact that Rust\LLVM doesn't optimize out unused `match` branches for non-inline functions: https://rust.godbolt.org/z/TPY69b
As you can see, both the code and data for all five variants are present even though only two of them are ever used.

In C++ the story is the same on clang and MSVC, but GCC _does_ optimize those out with `-O3`:
https://godbolt.org/z/G6T9Y8

[2020-07-19 18:10] erikdesjardins commented on #74472
We can make the panic message point to your code instead of libcore internals, which I opened a PR for: #74526.

The backtrace issues are a duplicate of #47429.

[2020-07-19 18:37] SkiFire13 opened #74529 "keyword in's doc uses says it requires an Iterator instead of an IntoIterator"
In the [doc for the keyword in](https://doc.rust-lang.org/std/keyword.in.html) it's stated that "The expression immediately following `in` must implement the `Iterator` trait."
This is not completly right since it can be followed by anything that implements the `IntoIterator` trait.
The [doc for the keyword for](https://doc.rust-lang.org/std/keyword.for.html) instead correctly cites the `IntoItera

[2020-07-19 18:54] Mark-Simulacrum opened #74531 "Missing docs for non-first impl"
e.g., https://doc.rust-lang.org/nightly/std/panic/struct.Location.html is missing the file/line/column method docs which *are* present in beta https://doc.rust-lang.org/beta/std/panic/struct.Location.html#impl-1

cc @rust-lang/rustdoc

[2020-07-19 18:59] Mark-Simulacrum commented on #74473
I'm going to close this in favor of https://github.com/rust-lang/cargo/issues/4966, as this support is super unlikely to land in rustdoc IMO because including a full HTTP server in rustdoc seems like a significant expansion of scope, one that we're not prepared for at this time. Inclusion of an HTTP server in Cargo is similarly a big feature, but there at least it's more in scope as Cargo already

[2020-07-19 18:59] #74473 closed

[2020-07-19 19:08] JohnTitor commented on #74531
Removing `I-prioritize` as this is `T-rustdoc` issue.

[2020-07-19 19:10] Manishearth commented on #74531
@JohnTitor Why?

[2020-07-19 19:11] Manishearth commented on #74531
A quick test indicates that copying the source of std::panic::Location out into a no_std crate doesn't fix the problem

[2020-07-19 19:17] Manishearth commented on #74531
Oh wait I don't have the latest nightly

[2020-07-19 19:17] JohnTitor commented on #74531
@Manishearth As mentioned in https://github.com/rust-lang/rust/issues/72340#issuecomment-631482488, I'm not sure this should be prioritized under t-compiler's wg-prioritization. If this label is useful for the rustdoc team as well, we could tweak triagebot not to notify on Zulip.

[2020-07-19 19:19] Manishearth commented on #74531
@JohnTitor Yeah it seems like it would be useful for us

[2020-07-19 19:20] Manishearth commented on #74531
Hmm so I am unable to reproduce this bug on a self contained no-core file that contains the exact code of `Location` aside for changes in the body

[2020-07-19 19:28] Manishearth commented on #74531
Regression range 7e11379f3..5c9e5df3a

5c9e5df3a09 Auto merge of #74408 - Manishearth:rollup-9gxn4od, r=Manishearth
6ee1b62c811 Auto merge of #72481 - marmeladema:duration-consts-2, r=oli-obk
125c58caebc Auto merge of #74202 - oli-obk:mir_const, r=RalfJung
4cd0ee9343d Auto merge of #74388 - Manishearth:rollup-i7iueu8, r=Manishearth
e2e29de5e8a Auto merge of #74375 - Manishearth:rollup-10vbpdh, r=M

[2020-07-19 19:31] Manishearth commented on #74531
Works in 6ee1b62

Regressing PR is https://github.com/rust-lang/rust/pull/74408

[2020-07-19 19:33] Manishearth commented on #74531
Rustdoc PRs in that rollup

fc098170ce8 Rollup merge of #74370 - Manishearth:re-spotlight, r=GuillaumeGomez
61fccf05f90 Rollup merge of #74359 - lzutao:rustdoc-tostring, r=GuillaumeGomez
196243ed9bf Rollup merge of #74325 - GuillaumeGomez:focus-source-file-sidebar, r=kinnison
61a3f6701b5 Rollup merge of #74148 - GuillaumeGomez:doc-alias-check, r=Manishearth
b7008351186 Rollup merge of #73807 - euc

[2020-07-19 19:40] Manishearth commented on #74531
Confirmed, 9ffb7801363cff45dcb56fa2146a48aa0ae433db (try build from #73771) is the culprit

[2020-07-19 19:46] Manishearth commented on #74531
What's happening is that that code erroneously checks the stability of the impl, which apparently is "unstable if it contains unstable items". The "foreign item" check applies to libstd reexporting libcore. It shouldn't.

The minimal reproduction is two crates, one using stability attrs such that an impl has at least one unstable item, and the second crate reexporting the type.

[2020-07-19 20:17] Mark-Simulacrum commented on #74531
I'm going to take a stab at fixing this.

[2020-07-19 20:41] cuviper commented on #74519
The title of #62516 suggested 2.6.27, but we went a little higher to match the actual distros in use.

[2020-07-19 20:52] tgnottingham commented on #65822
This does seem like the kind of thing the compiler should catch.

@asajeffrey The clippy lints do apply to atomics. You may have gotten bitten by rust-lang/rust-clippy#4612 or similar.

[code]

Clippy produces:

[code]

[2020-07-19 21:59] LunarLambda commented on #74524
I would expect it to work like a nested loop, where the inner repetition is expanded every time the outer one is

[2020-07-19 22:45] Nicholas-Baron commented on #74529
PR ready for review. I tried to keep the changes to a minimum. Hopefully, the wording is understandable.

I'll just assign myself.
@rustbot claim

[2020-07-19 22:57] connorskees commented on #74498
A bit smaller,

[code]

[code]

[2020-07-19 23:02] andjo403 commented on #66617
for this specific case where a lot of vec's is used in the enums I was able to get the times down by adding inline to [RawVec::ptr](https://github.com/rust-lang/rust/blob/3f79d2f33e8b69812c9b981ff4adea0a1e7b9cb8/src/liballoc/raw_vec.rs#L213) this was one of the two functions that was defined in cgu0 but used in cgu1 and when inline was added it is defined in cgu1 also.

I do not understand why the

[2020-07-19 23:52] r1fl opened #74539 "ICE with the `@ ..` binding pattern"
### Code

[code]

### Meta

The bug exists in the beta,

`rustup run beta rustc --version --verbose`
[code]

nightly,

`rustup run nightly rustc --version --verbose`
[code]

and stable build channels.

`rustc --version --verbose`:
[code]

The error and the backtrace provided are produced by the stable build.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[co

[2020-07-19 23:59] nbdd0121 commented on #74319
That line is actually
[code]
And currently the `<Vec<_> as DerefMut>::deref_mut` would have to evaluate before `Vec::len`, which will fail borrowck.

[2020-07-20 00:26] Plecra commented on #71668
It seems like a new RFC would need to be made to elaborate on the motivation for this change at the moment, but I think the use case presented by `ringbahn::Event` is particularly important for developers writing *safe* code.

While there's little reason to write an unsafe function with a safe body, the implementor of an unsafe trait method doesn't control the signature. If they want to keep to th

[2020-07-20 00:31] alexcrichton commented on #74484
I'm hoping this will be fixed by https://github.com/rust-lang/rust/pull/74540

[2020-07-20 01:14] Dark-Legion opened #74542 "ICE - Panic while cross-compiling for i686/x86_64-unknown-uefi"
Must be compiled with nightly as `build-std=core` is used for cargo.

### Code

`lib.rs`:
[code]

### Meta

`rustc --version --verbose`:
[code]

Commands:
[code]

### Error output

On debug:
[code]

On release:
[code]
**...**
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

On debug:
[code]

On release:
[code]

</p>
</details>

[2020-07-20 01:34] shepmaster commented on #73908
# Status update

Thanks for your patience! Progress has continued at a suitable pace. If you haven't been refreshing the page manually every few hours, you can see a summary of the work to date in the "Current status summary" section in the top post. The most recent update is that we have opened [a pull request](https://github.com/rust-lang/rust/pull/74541) to add an appropriate target to the comp

[2020-07-20 05:11] Nicholas-Baron commented on #74517
I have reproduced this bug with rustc 1.44.1. It only occurs with cross compilation (running `cargo build` on a Pi does not cause the error).
For me, the crash comes from one of the first instructions in `_start` trying to read an address that the program has no access to. In my gdb session, the pc register was sent to that address, but I could not see an instruction that assigned to the register.

[2020-07-20 05:26] Nicholas-Baron commented on #74517
This seems to be an issue that affects all compilers from at least 1.43 onward. The binary from rustc 1.45 is also bad.
This may be a case for [`cargo-bisect-rustc`](https://github.com/rust-lang/cargo-bisect-rustc).

[2020-07-20 06:08] #72186 closed

[2020-07-20 06:08] #74511 closed

[2020-07-20 06:08] #74483 closed

[2020-07-20 06:08] #74506 closed

[2020-07-20 06:08] #74531 closed

[2020-07-20 06:19] lcnr commented on #71127
@bjorn I've fixed a similar bug in #74483, which had the same error (noticed by @JohnTitor), can you still reproduce this issue?

[2020-07-20 06:35] daboross commented on #72186
I don't think the text was ever _incorrect_, it's just that someone skimming the docs can read things incorrectly.

As I understand it, in the case I opened this issue for, the user certainly didn't read and understand the entire paragraph. They just saw "no guarantees", and decided this function wasn't the right thing to use.

I'm OK with needing people to read the entire doc, but I think this go

[2020-07-20 06:40] joshtriplett commented on #73894
This is a good catch. We certainly *try* to be signal-safe in such contexts, and failing to do so is a bug. Sorry to see that this didn't get a response. I'm reopening this, as it remains a bug.

[2020-07-20 06:45] joshtriplett commented on #74426
Tagging T-libs, as it seems like a libs team question whether it would be valid to change the underlying semantics of these copy operations.

It sounds like `std::fs::copy` is already doing the right thing. `std::io::copy` *might* be able to use more specialized operations in various cases, such as splice or FICLONE, or at the very least, sendfile. (Or, long-term, `io_uring`.)

[2020-07-20 07:24] miketimofeev commented on #74443
Is there any chance of a new release with rustfmt 1.4.16 or even 1.4.17 today or tomorrow?

[2020-07-20 07:44] Kixunil commented on #74517
Yes, `cargo build` on RPi itself works for me as well.

[2020-07-20 07:59] hyd-dev commented on #74426
Specializing `std::io::copy` is also useful to clone only *a part of* a file to only *a part of* another file - for example, when creating a `tar` archive.
Also, #60689 may get resolved if the specialization also applies to sockets.

[2020-07-20 08:30] #74529 closed

[2020-07-20 08:32] hyd-dev commented on #73894
I just realized if `libc::abort()` is not signal-safe (in glibc), then `rtabort!()` is not signal-safe, so the signal handlers in the standard library that call `rtabort!()` is actually not signal-safe:
https://github.com/rust-lang/rust/blob/891e6fee572009ff2be4d4057fb33483610c36a7/src/libstd/sys/unix/stack_overflow.rs#L92-L106
Maybe I should open a new issue or report the `abort(3)` bug to glibc.

[2020-07-20 08:51] GuillaumeGomez commented on #74481
I'm not much in favor for this and I really don't like the `DOC_ROOT` idea (not a fan of "environment variables", or variables more generally for intra-doc links). If someone wants to link to a downstream crate, why not reexporting it and then use this reexport?

[2020-07-20 08:59] RalfJung commented on #74484
You can test that via 'x.py test --stage 0 src/tools/miri'

[2020-07-20 09:11] ghost opened #74545 "missing-tools broken when tools are explicitly selected"
With `config.toml` setup like
[code]
installing of all tools is still attempted even after one of them breaks (exemplified below with the RLS failure on nightly 2020-07-18).  Since we specified that missing tools are ok the install should not be attempted at all.
[code]
Full log (IPv6 only): http://beefy5.nyi.freebsd.org/data/121i386-default/542539/logs/rust-nightly-1.47.0.20200718.log

[2020-07-20 09:36] eddyb commented on #65693
@oli-obk The problem is that they're *returned*, so you'd need something like a many-cased `enum` of different iterators. It could work, it was just cleaner to use `Cow<[_]>` I think.

[2020-07-20 09:51] Nemo157 commented on #64193
This isn't related to #73699/#74481, it's just normal cross-crate inlining intradoc issues.

On [`futures-channel::mpsc::TryRecvError`](https://docs.rs/futures-channel/0.3.5/futures_channel/mpsc/struct.TryRecvError.html) the link is correctly resolved, on [`futures::mpsc::TryRecvError`](https://docs.rs/futures/0.3.5/futures/channel/mpsc/struct.TryRecvError.html) it is not. I tried building with th

[2020-07-20 09:54] m-ou-se commented on #67984
Something missing from my notes/proposal above is making the behaviour consistent or at least not too unexpected on 2018/2015, after `format_implicit_args` becomes stable.

If the changes to core/std's panic!() are gated behind edition 2021, then in 2018/2015 we get:

[code]

Possible ways to make this better:
1. Gate all of `format_implicit_args` behind edition 2021. No `println!("{a}")` in 2018.

[2020-07-20 09:55] Nemo157 commented on #64193
Testing with _actual_ latest nightly works :tada: so this will be fixed for the next version published.

[2020-07-20 10:06] Nemo157 commented on #74481
`DOC_ROOT` won't work for docs.rs, each release has an independent `DOC_ROOT`.

I don't actually remember what the usecase for this in `futures` was, the overwhelming majority of its links are within-crate or to dependencies which appear to work ok with the cross-crate inlining fixes. I'll try and find some of the places where we did want to link up to the facade from the components.

[2020-07-20 10:25] LifeIsStrange opened #74547 "Towards faster binary search"
https://doc.rust-lang.org/src/core/slice/mod.rs.html#1497-1502
Could be improved in the same way as rust has switched it's old hashmap to the state of the art hashbrown.

It seems that there is a new state of the art Binary search in town leading up to 25% performance improvement and binary search is a foundational task.
Therefore it would be promising to investigate whether Rust could have a fast

[2020-07-20 10:37] lzutao commented on #74547
Please edit to use permanent link:  https://github.com/rust-lang/rust/blob/05630b06fdf76c25c6ccf2e9ac3567592eae6c67/src/libcore/slice/mod.rs#L1565-L1570

[2020-07-20 10:48] oli-obk commented on #65693
Ok, so I think this is the only actionable item from this issue then.

[2020-07-20 11:05] leonardo-m commented on #74547
I've just tried a quaternary search and it's slower than the std one

[2020-07-20 11:09] jplatte commented on #67984
This could also be `panic!({ "{" })` / `panic!(("{"))`, right? Still not great of course.

[2020-07-20 11:13] matthiaskrgr commented on #74539
reduced:
[code]

[2020-07-20 11:20] vandenheuvel commented on #74400
@jonas-schievink would you be so kind to label this issue? It's sliding down the list while being hard to search.

[2020-07-20 11:26] psumbera opened #74551 "error: could not compile `gkrust` since Rust 1.43 on SPARC Solaris"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/74551)*

When I build Firefox on Solaris SPARC it fails with:

[code]

This worked well till Rust 1.42. Since Rust 1.43 it fails. There is no problem on X86 Solaris.

I was able to bisect this to following change:

[code]

https://github.com/rust-lang/rust/commit/e82ec2315e5adb1c291c3702cd2ac1f46ecd0fcf

[2020-07-20 11:28] jakubadamw commented on #74547
Binary search ought to be the most overstudied algorithm in computer science. It's important to keep that in mind when one sees a new revelation about it on Hacker News.

If one is interested in experimenting with the different n-ary search algorithms in Rust in a crate, that sounds like an idea, but it seems out of scope for the standard library. All the more that the quaternary variant, where th

[2020-07-20 11:32] m-ou-se commented on #67984
Maybe, but *if* `panic!("{")` would be deprecated, I suppose using expressions like that should be deprecated as well.

[2020-07-20 11:32] psumbera commented on #74551
@ecstatic-morse any idea what can be wrong with it on SPARC (64 bits big endian system)?

There is also core file generated:

[code]

[2020-07-20 11:33] Dark-Legion commented on #74542
@jonas-schievink I have added a link to the repository and, as noted, will try to isolate the problem.

[2020-07-20 11:45] steveklabnik commented on #46358
Triage: this still compiles.

[2020-07-20 11:45] JohnTitor commented on #74400
Regression occurred between nightly-2020-06-23 and nightly-2020-06-24, I suspect #73643 is related.

[2020-07-20 11:45] steveklabnik commented on #62769
Triage: this error is a bit more descriptive today

[2020-07-20 12:22] Mark-Simulacrum commented on #74443
It won't be that quick, for sure, but I am currently thinking Tuesday or Thursday next week. I'm hoping to prepare artifacts and such today or tomorrow.

[2020-07-20 12:34] jonhoo commented on #71668
Interesting.. This does not match my experience very well — even within my `unsafe fn`s, _most_ of the code is safe, except for _some_ parts that are unsafe.

[2020-07-20 12:35] RalfJung commented on #74484
That indeed solved the libstd build issue, at least for in-tree builds. Now the problem is
[code]

Previously, disabling the `backtrace` feature meant we did not have to do anything. Now it seems like some C FFI (`_Unwind_Backtrace`) is mandatory? That's odd though, elsewhere @alexcrichton said this is now Rust-only.

[2020-07-20 12:35] #74547 closed

[2020-07-20 12:36] RalfJung commented on #74484
Interestingly, `_Unwind_Backtrace` is only called on a double-panic.

[2020-07-20 12:38] LeSeulArtichaut commented on #74400
It would be great to find the culprit PR.
@rustbot ping cleanup

[2020-07-20 12:47] LifeIsStrange commented on #74547
There is also branchless Binary searches that can benefit from SIMD
https://github.com/ehrmann/branchless-binary-search

[2020-07-20 12:54] saskenuba commented on #52380
I also have the same error, but in my case, it is a tiny file in comparison(82mb).

In debug mode, it compiles and tests normally, but on release, it fails to build after my computer freezes for about 2 seconds.

Does the compiler include the file on the binary even on tests? I thought it would check only at runtime.

trace:
[code]

[2020-07-20 12:56] vlad20012 opened #74556 "Glob Time Travel"
I tried this code:

[code]

I expected to see this happen: **Compilation error**. This `use bar::bar;` shadows one (glob-imported) `bar` with another `bar`. As far as I know, this should be forbidden.

Instead, this happened: **this code successfully compiled**.

### Meta

`rustc --version --verbose`:
[code]

c.c. @matklad
c.c. @petrochenkov

[2020-07-20 13:09] jakubadamw commented on #74539
@JohnTitor, oh, sorry, I've already got a fix. 🙂 I'll post it soon. Though it may not be the best one.

[2020-07-20 13:10] LeSeulArtichaut commented on #73904
@ryr3 Any updates on `io/`? I see you committed on your fork, but you didn’t open a PR.

[2020-07-20 13:11] jonhoo commented on #70929
@jonas-schievink I pinged the libs team on Zulip now, so we'll see :)
Thread here: https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/vecdeque_make_contiguous

[2020-07-20 13:14] JohnTitor commented on #74539
@jakubadamw Great! You should tweak `src/librustc_ast_lowering/pat.rs` not losing diags. For further reference, you could do `@rustbot claim` when you work on an issue.

[2020-07-20 13:26] jakubadamw commented on #74539
@JohnTitor, okay, thanks. 🙂

Better late than never…

@rustbot claim

[2020-07-20 13:30] toku-sa-n opened #74558 "asm!: `push offset` causes `unexpected token!`"
### Code

[code]

### Expectation

Compilable as this assembly code follows the syntax of `.intel_syntax noprefix`.

### Actual

The code will not compile, emitting these errors:

[code]

### Other info

See the comments of the question I posted:
https://stackoverflow.com/questions/62989703/push-label-pushs-label-not-the-address-of-label-rust-asm?noredirect=1#62989703

The equivalent code written

[2020-07-20 13:31] Mark-Simulacrum commented on #74443
Okay I looked at which rustfmt release to promote to 1.45.1 and wasn't able to find a good candidate. I think we'll want the rustc-ap crates to be at version 659 -- but no rustfmt release has that. @calebcartwright @topecongiro -- could one of you take a look? If you'd like, you can also post a PR against rust-lang/rust stable branch which bumps rustfmt to whatever commit you think is the right on

[2020-07-20 13:33] Plecra commented on #71668
Agreed! I meant to refer to `unsafe fn`s with *no* unsafe code in their bodies (and I strongly support proposals like unsafe fields for cases like `Vec::set_len`).

Since I was struggling to explain my reasoning, maybe this example could elaborate on it. With tools like `cargo-geiger` popping up, I think it's quite important that Rust considers this code "safe":

[code]

Afaik, Rust doesn't provid

[2020-07-20 13:35] JohnTitor commented on #74539
This is caused by #72677, I believe. 1.44 emits errors w/o ICE'ing but 1.45 hits it.
godbolt (1.44): https://rust.godbolt.org/z/E1rbvz
godbolt (1.45): https://rust.godbolt.org/z/MGjPG4

[2020-07-20 13:47] RalfJung commented on #74484
https://github.com/rust-lang/backtrace-rs/pull/360 should help (and that's way easier than finding all the methods we have to stub, in particular on Windows).

[2020-07-20 14:02] jonhoo commented on #70929
@95th Stabilization PR now up at https://github.com/rust-lang/rust/pull/74559 :tada:

[2020-07-20 14:12] alexcrichton commented on #74484
Backtraces are unconditionally generated on double panics, and some reshuffling of the crate itself probably meant that `#[cfg(miri)]` happened to go to the noop unwinder before and now it went to the libunwind unwinder. In any case https://github.com/rust-lang/backtrace-rs/pull/360 should fix that issue.

[2020-07-20 14:23] Manishearth commented on #74481
@GuillaumeGomez I don't see how reexporting works? If libcore wants to link to std::String it can't, right now.

DOC_ROOT is not an environment variable, it's just a signal to rustdoc to replace it.

[2020-07-20 14:24] Manishearth commented on #74481
@Nemo157 oh, hmm, that's a fair point.

[2020-07-20 14:26] GuillaumeGomez commented on #74481
Ah I see, for me it's upstream looking "up" this way. This explains my confusion. I still don't think this is a good idea, a crate shouldn't know about its users. And there is also the issue @Nemo157 brought up too. :)

[2020-07-20 14:29] jyn514 commented on #74481
One possibility is to resolve links on the extra docs on the re-export relative to the current crate. So
[code]
Would work correctly from std and the docs just wouldn't be present in libcore. That's really annoying for the end user though and also requires we fix the bug that it's currently resolved relative to the original crate.

[2020-07-20 14:37] Manishearth commented on #74481
@GuillaumeGomez Yeah, I agree. I would rather we didn't support this.

This ties in a bit to a wishlist item i've had for ages where Rust understands the concept of a "package": multiple rust crates that are friends and released together. Like all the futures-foo crates, or the regex-foo crates. They'd have special dispensation when it comes to breaking coherence rules, but you'd still be able to

[2020-07-20 15:25] Manishearth opened #74563 "Handle UFCS in intra doc links"
Related: https://github.com/rust-lang/rust/issues/62834

https://github.com/rust-lang/rust/pull/74489 makes it so that `Type::Item` works for trait items. There currently is anchor ambiguity between multiple traits that share an item, so it's not worth disambiguating further, however if we can fix that It would be nice if `<Type as Trait>::Item` could link to the appropriate bit in the type's impl

[2020-07-20 15:45] alexcrichton opened #74564 "Stack overflow in rustc, regression from 1.44"
First reported to me at https://github.com/rustwasm/wasm-bindgen/issues/2244 I believe the stack overflow is in rustc itself. [This code](https://gist.github.com/alexcrichton/52b962328c407994c227503e7896217f) when compiled yields:

[code]

where nightly today is:

[code]

[2020-07-20 16:37] Nicholas-Baron commented on #74517
Reading into cargo-bisect-rustc, I have realized that my current workflow will probably not work well with bisect, as I am using a VM to run Debian and using ssh from the host machine to load the binaries onto a Pi.
To manually do this, I would need to download the older rustc binaries, which I do not know where to do so.
I will probably not be able to diagnose this issue any further.

[2020-07-20 16:53] ehuss commented on #74193
I posted a PR at https://github.com/rust-lang/rust-forge/pull/402 to offer some guidance on rollup/priorities. Would appreciate if anyone following this issue could check it out and provide feedback.

[2020-07-20 17:12] bjorn3 commented on #71127
I am pretty sure that the patches to libcore that reproduced this error no longer apply.

It's fine to ping me.

[2020-07-20 17:45] lcnr commented on #71127
I originally pinged @ bjorn without the `3` at the end :sweat_smile:

Hmm, then there isn't much to do here I think... will go ahead and close this as I expect #74516 to have fixed this

[2020-07-20 17:45] #71127 closed

[2020-07-20 17:50] luqmana commented on #74498
Another datapoint: adding `-C llvm-args=-cvp-dont-add-nowrap-flags` makes it work.

That flag changed from default true to false about a year ago which kinda lines up with the repro chart above (minus 1.43.1). There was an LLVM bug about that causing some miscompilations last I checked.

cc @nikic  who I believe tried to fix it.

[2020-07-20 18:00] nikic commented on #74498
@luqmana Nowrap handling in LFTR post-inc canonicalization was fixed when the CVP flag was enabled, so this is most likely a new issue. Can you share how the optimized IR looks like on Windows? In particular it would be interesting to see whether it already infinitely loops there, or whether this goes wrong in the backend (e.g. in LSR).

[2020-07-20 18:15] AlyoshaVasilieva commented on #74498
[code]

Still fails on my end, unless I'm doing something wrong.

[2020-07-20 19:51] nikomatsakis commented on #73631
Ping @cramertj @pnkfelix and @withoutboats -- checkbox

[2020-07-20 20:03] nikomatsakis commented on #54445
Closing because this information is now available on our web page!

https://www.rust-lang.org/governance/wgs

[2020-07-20 20:03] #54445 closed

[2020-07-20 20:12] nikomatsakis commented on #67984
We discussed this in today's @rust-lang/lang meeting. The sense of the meeting was:

* We would be in favor of completing this RFC and using an edition transition to make `println!`, `panic!`, etc all behave in a uniform fashion.
* We would like to do so in a way however that preserves all existing capabilities (e.g., ability to panic with arbitrary values, and with string literals without allocat

[2020-07-20 20:13] bonsairobo opened #74571 "Address sanitizer fails to link on nightly-x86_64-apple-darwin toolchain"
I tried to build my project [here](https://github.com/bonsairobo/handsome-voxels) with address sanitizer:

[code]

and I got a link error about a bunch of undefined symbols:

[code]

### Meta

[code]

[2020-07-20 20:15] nikomatsakis commented on #67984
My personal opinion is that `panic!({expression})` would be quite reasonable as a way to 'panic with some explicit value', as opposed to `panic!("...", ...)` as the "with arguments" form.

One interesting question that I don't know the answer to is whether `panic!("foo")` ought to panic with a `&'static str` or a `String` -- it introduces an obvious "non-uniformity" in the type, depending on wheth

[2020-07-20 20:19] MaulingMonkey commented on #74571
Based on [this conversation](https://discord.com/channels/273534239310479360/335502067432947748/734839254416490516) in the Rust Community discord's `#dev-tools` channel, it sounds like this *might* be a matter of rustc trying to use a different version of address sanitizer than is available on the system?

Normally I'd expect some kind of error about failing to find an appropriate library, but per

[2020-07-20 20:39] tmiasko commented on #74571
Note that cc is linking a dylib and there is no sanitizer runtime on the link command line.

Probably this condition needs to be changed: https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_ssa/back/link.rs#L781-L783. It should be also possible to enable tests in `src/test/run-make-fulldeps/sanitizer-*-link/Makefile` afterwards (remove `only-linux` directive).

[2020-07-20 21:11] calebcartwright commented on #74443
IIRC rustfmt v1.4.17 has v659 of the rustc-ap crates, though may need to find the right pairing of rustfmt and rls that'll work there

[2020-07-20 21:23] Amanieu commented on #74558
This is a bug in LLVM's integrated assembler.

[2020-07-20 21:33] yujiri8 opened #74573 "rustc panics when run on a directory"
I tried running `rustc` on a directory, just to see what would happen. I expected it would error out cleanly. Instead (run with `RUST_BACKTRACE=full`):
[code]

`rustc --version --verbose`:
[code]

OS is FreeBSD 12.1-RELEASE-p6.

[2020-07-20 21:47] Amanieu commented on #67984
My preference would be to deprecate `panic!` with arbitrary expressions and only support format strings. I have never seen a use of non-string panics in the wild, so I think this functionality is better provided by a function in `std::panicking` that takes a `Box<Any>`.

[2020-07-20 21:51] Lokathor commented on #67984
Supporting Anicdote: I used a non-string panic once on accident and it took me well over 30 seconds to even understand what had gone wrong (because the compiler accepted it, so "clearly" i must have typed the right thing).

[2020-07-20 22:50] matthiaskrgr commented on #74573
What is the name of the directory? What command did you use?
When I do `mkdir a; rustc a` I only get
[code]

[2020-07-20 22:57] Mark-Simulacrum commented on #74443
Initial draft is up at https://github.com/rust-lang/rust/pull/74574, still has a few things left but I'm hoping to get that landed in the next few days so we can have artifacts ready for testing.

[2020-07-20 23:36] jsgf commented on #64191
@joshtriplett Kernel?

[2020-07-20 23:44] kanru commented on #74400
searched nightlies: from nightly-2020-06-23 to nightly-2020-06-24
regressed nightly: nightly-2020-06-24
searched commits: from https://github.com/rust-lang/rust/commit/6bb3dbfc6c6d8992d08431f320ba296a0c2f7498 to https://github.com/rust-lang/rust/commit/ff5b446d2fdbd898bc97a751f2f72858de185cf1
regressed commit: https://github.com/rust-lang/rust/commit/1557fb031b272b4c5bfcc7de5df7eddc7b36a584

<deta

[2020-07-20 23:53] davidhewitt commented on #67984
I too have only only ever experienced non-string panics in error. Especially the first time I did this it took quite a while to figure out where the `Box<dyn Any>` was originating from.

@nikomatsakis when you say the lang team intends to keep all existing functionality, do you mean that all of the functionality remains on the macros? Or is moving the "panic with expression" case to a new function

[2020-07-21 01:08] ehuss opened #74577 "cannot install rust-src component for nightly-2020-07-21"
Not sure if this is due to the packaging, or if it is a rustup bug, but I cannot install the rust-src component for the latest nightly-2020-07-21.

[code]

Fails on macOS and Linux with the same error.

I'll try to dig in some tonight, but figured I'd file this to see if anyone has any ideas.  If I had to take a wild guess, I would say it may be related to #74520.

`rustup 1.22.1 (b01adbbc3 2020-0

[2020-07-21 01:11] LeSeulArtichaut commented on #74400
Bisection seems to confirm this, cc @nikomatsakis

[2020-07-21 01:20] lzutao commented on #74577
Rustup doesn't support symlink entry in tar file: https://github.com/rust-lang/rustup/blob/ac1a8c415b5c2886275ca92a3a8f3a4cd0587711/src/dist/component/package.rs#L397-L407
There are two symlinks in backtrace:
[code]

[2020-07-21 01:23] #66770 closed

[2020-07-21 01:23] #72410 closed

[2020-07-21 01:23] #73252 closed

[2020-07-21 01:23] #73253 closed

[2020-07-21 01:23] #74496 closed

[2020-07-21 01:23] #74484 closed

[2020-07-21 01:25] Mark-Simulacrum commented on #74577
cc @alexcrichton

[2020-07-21 01:26] Mark-Simulacrum commented on #74577
Once this is fixed we should look into checking that we're not creating these tarballs on the dist builders (rather than failing "late" when rustup fails to install)

[2020-07-21 01:27] matthiaskrgr commented on #74577
Getting the same with `rust-toolchain-installer-master`:
`error: unsupported tar entry: Symlink`

[2020-07-21 01:54] calebcartwright commented on #74443
@Mark-Simulacrum - the same thing appears to have happened with rls, as 1.45.0 has an older version of rls than 1.44.1

* rustc 1.44.0 --> rls 1.41.0 (2659cbf 2020-04-14)
* rustc 1.44.1 --> rls 1.41.0 (7d3aba2 2020-06-17)
* rustc 1.45.0 --> rls 1.41.0 (085f24b 2020-05-28)

I'm thinking the same combination of rls/rustfmt from 1.44.1 should be fine together: `rls 1.41.0 (7d3aba2 2020-06-17)` and `r

[2020-07-21 02:12] Mark-Simulacrum commented on #74443
Okay, I'll try that tomorrow, cherry-picking exactly 1.44.1 RLS and rustfmt to the stable branch. FWIW 1.4.17 does seem to work fine on the current PR (at least toolstate is green for RLS and rustfmt).

[2020-07-21 02:17] calebcartwright commented on #74443
With which version of rls? From the rustfmt perspective 1.4.16 vs. 1.4.17 doesn't really matter (they're basically identical), so as long as the rustc-ap versions line up with rls then IMO which of those two versions of rustfmt to use would just be a be a matter of whatever's easiest.

[2020-07-21 02:18] Mark-Simulacrum commented on #74443
Ah okay then I'll probably leave things as is, since the current PR leaves RLS as-is (which seems good) and only bumps rustfmt, without duplicating any of the autopublished crates.

[2020-07-21 02:19] Mark-Simulacrum commented on #74443
Although, wait, no, you're saying we bumped RLS in 1.44.1 too... gah. Okay, I'll need to think about this some more tomorrow, I'm so confused how we're seemingly bumping things in both directions here :/

[2020-07-21 02:51] ehuss commented on #74577
Posted a fix at #74578.

[2020-07-21 04:19] memoryruins commented on #34651
Does #73441 help toward this goal? though I now see https://github.com/rust-lang/backtrace-rs/issues/287 is currently an open issue.

[2020-07-21 05:57] yujiri8 commented on #74573
My directory is `~/code/rust`, but I was running it as `rustc .`. When I run `rustc src`, I get a bunch of the `unknown start of token` errors, but not the panic.

Apparently it has to do with the directory being called `.` - even `rustc ../rust` doesn't crash, even though the actual directory referenced is the same.

My `~/code/rust` consists of a `Cargo.lock`, `Cargo.toml`, and `src/main.rs`. (I

[2020-07-21 06:00] Lonami commented on #74573
You selected the bug report template when creating the issue.

[2020-07-21 06:03] HeroicKatora commented on #74556
Shadowing a glob import with a specific item is allowed and will unambiguously resolve to the specific one. This is also how the prelude works. The following compiles fine as well:

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f07892dbe0f69232e66779000be2aeb9).

[2020-07-21 06:09] yujiri8 commented on #74573
New findings:

Running it on most directories doesn't yield the unknown start of token errors (and `rustc .` is fine too). There's some pattern to directories it does and doesn't happen with. I'm not sure what it is yet, but it seems to happen with all empty directories and some non-empty ones, and directories that get the `unknown start of token` errors always also get the panic when I run `rustc

[2020-07-21 06:11] lzutao commented on #74573
Cannot reproduce on x86_64-unknown-linux-gnu. Maybe this is a specific platform (FreeBSD) bug.
Also do you run FreeBSD on virtual machine or similar?
Does your home dir is network disk?

[2020-07-21 06:14] yujiri8 commented on #74573
I'm running FreeBSD on bare metal, and ZFS (not a network disk). I will try on other platforms tomorrow.

[2020-07-21 06:20] matklad commented on #74556
To clarify, the problem is not shadowing, but time travel. We shadow identifier *which have been already used to resolve another import*, so we end up with `bar` meaning two things at the same time in the same scope.

[2020-07-21 06:23] JohnTitor commented on #74539
Let's keep this open to track stable/beta backports.

[2020-07-21 06:39] nwn opened #74579 "CStr::from_bytes_with_nul_unchecked() incorrectly listed as const in docs"
The [documentation](https://doc.rust-lang.org/stable/std/ffi/struct.CStr.html#method.from_bytes_with_nul_unchecked) for `CStr::from_bytes_with_nul_unchecked()` lists it as a `const fn`, but its `const`-ness is still unstable (due to the `rustc_const_unstable` attribute and corroborated by the [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f3c0a4f1c3eefb6e33348

[2020-07-21 06:55] #46477 closed

[2020-07-21 06:56] rust-highfive opened #74580 "`miri` no longer builds after rust-lang/rust#69749"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#69749, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @davidtwco, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-07-21 07:29] JohnTitor commented on #74498
Assigning `P-critical` [as discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374498.20LTO.20triggers.20apparent.20miscompilation.20on) and removing `I-prioritize`.

[2020-07-21 07:34] programmerjake commented on #29497
Some potentially useful reference code: [Wine's implementation of `SHFileOperation`](https://github.com/wine-mirror/wine/blob/master/dlls/shell32/shlfileop.c)

[2020-07-21 08:22] matthiaskrgr opened #74581 "yet another (random?) bootstrap ICE"
Switched from f9a3086363f to b52522ade1f and ran `x.py build`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-21 08:43] trevyn commented on #74427
This is fixed in beta and nightly via #73086. Should probably be nominated for backport to a point release, if there is one.

[2020-07-21 08:57] mati865 commented on #74581
Seems like incremental is enabled, right?

[2020-07-21 09:21] matthiaskrgr commented on #74581
Mmh, probably, but I'm a bit confused because my config says no (I think?)
[code]

[2020-07-21 09:23] bjorn3 commented on #74513
The crash is at https://github.com/rust-lang/rust/blob/b52522ade1f6979a35b24087dadcf5ba5c981cbe/src/librustc_codegen_llvm/back/archive.rs#L274

I did notice that `riscv32imac-unknown-none-elf.a` contains the file `riscv32imac-unknown-none-elf.o` twice:

[code]

It is possible that LLVM couldn't handle this and returned a path without filename or a non-utf8 path.

[2020-07-21 09:24] mati865 commented on #74581
Interesting to see that with incremental disabled.

[2020-07-21 09:32] mati865 commented on #71060
Example of beautiful ICE backtrace on current nightly with gimli 🚀:
[code]

@alexcrichton should we keep this issue open considering https://github.com/rust-lang/rust/pull/73441 will be probably reverted and relanded?

[2020-07-21 09:42] bjorn3 commented on #74573
On FreeBSD trying to `read` a directory gives a list of filenames inside that directory instead of returning an error:

![image](https://user-images.githubusercontent.com/17426603/88038636-cd419d00-cb46-11ea-9ad3-f2edf366b7b6.png)

Fun fact: On the early UNIX systems `readdir` was just a utility function to call `read` on a directory and parse the resulting output.

[2020-07-21 10:46] heckad commented on #69267
How to pass this flag to compiler throw `cargo run` command?

[2020-07-21 10:52] dheatovwil commented on #74545
Problem exists when using `rustc-ap-rustc_ast v670.0.0` as well.

[code]

[2020-07-21 11:06] t6 commented on #74545
I am sorry but the specific compiler error is orthogonal to the bug reported here.  Please do not zoom in on it. It is about how `x.py install` is broken where even though RLS (probably same with any other tool) did not build (`Unable to build RLS, skipping dist`) and even though we have `missing-tools=true` in `config.toml`, the installation of it is still attempted when it should be skipped.

[2020-07-21 11:26] t6 commented on #74573
Thankfully FreeBSD 13.0 now returns EISDIR when you attempt to read a directory.  This has also been merged to 12-STABLE.

https://svnweb.freebsd.org/changeset/base/363017

[code]

[2020-07-21 11:32] petrochenkov commented on #74556
This is a change from Rust 1.44, in Rust 1.43 this is an ICE "inconsistent resolution for an import".
Possibly a consequence of https://github.com/rust-lang/rust/pull/70236.

[2020-07-21 11:35] ehuss commented on #74581
It's not too surprising, I don't think the rmeta format is stable. Since bootstrap reuses the artifacts from previous builds, this seems inevitable. The only option I can think of is to set `ignore-git` to false in `config.toml`. Unfortunately that would mean *everything* gets rebuilt each time you update the git tree.

The metadata could include a schema/format version (similar to what [increment

[2020-07-21 11:37] eggyal opened #74584 "-Clink-dead-code doesn't monomorphize dead functions on (instantiated) generic types"
I tried this code:

[code]

When compiled with `-Clink-dead-code`, I expected to see `Foo::<()>::bar` in the resulting binary.

Instead, it is omitted.

### Meta

`rustc --version --verbose`:
[code]

[2020-07-21 11:42] petrochenkov commented on #74556
cc https://github.com/rust-lang/rust/issues/62769 (somewhat related)

[2020-07-21 11:49] mglagla commented on #74508
I'd like to try this.

[2020-07-21 11:52] vandenoever opened #74585 "rustc 1.45.0 hangs when compiling criterion in release mode"
### Code

When compiling the criterion crate, starting with commit [1154c045655bdf6a750d0c3a21b42824e6e996e5](https://github.com/bheisler/criterion.rs/commit/1154c045655bdf6a750d0c3a21b42824e6e996e5) rustc 1.45.0 hangs (> 12 hours). This happens on NixOS with AMD or Intel compiler. The distribution is NixOS with Rust from the master branch of nixpkgs.

[code]

### Meta

`rustc --version --verbose`

[2020-07-21 11:57] eggyal commented on #74584
Thanks @jonas-schievink—but is this not contrary to what `-Clink-dead-code` should be doing?

[2020-07-21 12:00] toxeus opened #74586 "Trait implementation not found but exists"
I wanted to implement a mock version of a trait and then share it across crates as a dev-dependency. Unfortunately, the compilation fails and I think that this is a bug.

I've prepared a minimal example:
https://gitlab.com/toxeus/trait_issue

I expected this to compile fine.

Instead, this happened (`cargo test`):

[2020-07-21 12:01] luojia65 commented on #74513
I may need to recompile the `.a` file and try again. It would be better if LLVM could handle this issue

[2020-07-21 12:07] jonas-schievink commented on #74586
`one` is compiled against a previously built version of `two`, so the trait it implements is distinct from the one seen by `two`s test.

[2020-07-21 12:09] Dark-Legion commented on #74542
@jonas-schievink I have isolated the problem and added minimal example.

[2020-07-21 12:11] jonas-schievink commented on #74584
`-Clink-dead-code` only links dead code, it doesn't force all possible code to be generated in the first place.

[2020-07-21 12:17] jonas-schievink commented on #74585
Cannot reproduce using the officially distributed artifacts. Seems like NixOS needs to fix their LLVM. Closing as not-our-bug.

[2020-07-21 12:17] #74585 closed

[2020-07-21 12:22] eggyal commented on #74584
@jonas-schievink according to @nikomatsakis in https://github.com/rust-lang/rust/issues/46467#issuecomment-350000501:

Did I misunderstand?

[2020-07-21 12:26] toxeus commented on #74586
Thx @jonas-schievink, are you suggesting that this is "expected behavior"?

[2020-07-21 12:27] jonas-schievink commented on #74584
Hmm, yeah, that looks right.

[2020-07-21 12:28] jonas-schievink commented on #74586
yeah

[2020-07-21 12:31] vlad20012 commented on #74556
I think, the difference with `use my_crate;` is that `use my_crate;` doesn't replace one resolution with another. We already have a name `my_crate` that is resolved to a particular extern crate.

In my example, `use bar::bar;` uses `bar` name from the scope, and then rebinds this `bar` name to another item.

I can complicate by example a bit.

[code]

What this program prints, "111" or "222"? It'd

[2020-07-21 12:52] petrochenkov commented on #74556
The intent for the resolution results is to never depend on internal resolution order.
(cc https://github.com/rust-lang/rust/pull/53778#issuecomment-419224049, order-dependence can probably happen in practice due to the current not very principled implementation, but hopefully still can be eliminated in backward-compatible-in-practice way by rewriting the main resolution/expansion loop more carefu

[2020-07-21 12:57] petrochenkov commented on #74556
I'd still be ok with replacing the former ICE with an error though, since that's a more conservative choice.

[2020-07-21 13:04] petrochenkov commented on #74556
Actually enabling the property "name resolve to the same thing whether some items were excluded during its resolution to avoid cycles or not" may be useful for using something like "inference variables" for unresolved imports and making import resolution more like unification in type inference.

That's an idea I had for quite some, but I hadn't realized that merging https://github.com/rust-lang/ru

[2020-07-21 13:05] oli-obk commented on #74508
ooh, sorry, evanrichter (idk their twitter handle) is working on it already since yesterday.

[2020-07-21 13:12] toxeus commented on #74586
Interesting, I wouldn't have expected that time of build would leak into high-level abstractions like `trait`.

[2020-07-21 13:25] kanru commented on #74400
With a little more git bisect it seems 6873a76f2c34a318a540df65901d07baba1d217b is the first bad commit

[2020-07-21 14:19] eggyal commented on #74584
Just to clarify a little further what I had expected to see here, as obviously it is not generally reasonable to generate dead generic items (after all, for what types should they be monomorphized?).  However, it does seem reasonable to generate non-generic items that appear within generic `impl` blocks for which other items are being generated.

[2020-07-21 14:37] alexcrichton commented on #71060
I think let's go ahead and close and if that's backed out we can reopen.

[2020-07-21 14:40] zesterer opened #74588 "Casting repr(signed) negative enum inhabitant to an unsigned integer causes an underflow with no panic or warning"
It seems mighty fishy to me that code such as the following compiles, without warnings, and doesn't crash when run (even with the appropriate over/underflow compiler flags enabled).

[code]
([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1930cf6858d80041122b73c99f412c09))

I would expect one of the following to happen:

- The compiler does not allow casting be

[2020-07-21 14:52] jonas-schievink commented on #74588
`as` has always performed a truncating or wrapping cast. In fact, that's its purpose. For lossless conversions there are `From` impls between numeric types in libcore.

IIRC there were some plans to (soft-?)deprecate `as`, but I don't know if they went anywhere. They'd require an RFC regardless.

Closing as expected behavior.

[2020-07-21 14:52] #74588 closed

[2020-07-21 14:55] lzutao commented on #74588
Yeah, `(-1i8) as usize` doesn't warn either.

[2020-07-21 14:58] evanrichter commented on #74508
@mglagla we can work together if you want, as I'm new to rustc dev. would you like to claim by saying `@rustbot claim`?

[2020-07-21 15:28] patrickelectric commented on #50826
I'm getting this warning here:
[code]

[code]

[2020-07-21 15:35] lzutao commented on #74573
I thought this problem was solved long ago in FreeBSD.
Last time I checked I cannot `cat <dir>`.

[2020-07-21 15:43] dheatovwil commented on #74545
Oh no.  That's totally my bad, I was skimming through them way too quickly.  Yes it doesn't belong here, I have hidden the comment.

[2020-07-21 15:47] bbqsrc commented on #29641
Has there been any movement in this space since the last round of discussion, in particular perhaps about auto-deref for pattern matching instead of stabilising the `box` keyword for pattern matching?

Been implementing an AST and tearing out my hair. :smile:

[2020-07-21 15:48] SNCPlay42 commented on #74072
@rustbot claim

I've got as far as

[code]

I think I can make further improvements.

[2020-07-21 16:01] HeroicKatora opened #74594 "Importing name that shadows glob twice results in confusing error"
I encountered this error when accidentally duplicating an import from inside a glob.

[code]

I had expected this would error due to blantly defining the same name twice but instead it says something about name resolution failing.

[code]

The same example without the glob and defining the module directly results in the expected error message:

[code]

<details>
<summary>Expected error trace to er

[2020-07-21 16:04] comex commented on #74498
Reproduced on LLVM master and simplified: Run `opt -loop-reduce -S` on this:
[code]
The icmp gets changed to comparing the output of the 8-bit addition to 0, even though it will be `poison` if the input was 255 (because the `add` is marked as `nuw`).

[2020-07-21 16:07] nikic commented on #74498
Heh, so this is indeed the same as the LFTR bug, just for LSR. Surprised it took this long to surface.

[2020-07-21 16:24] ice1000 commented on #29641
I think people are looking at "default-binding mode" now.

[2020-07-21 16:43] mglagla commented on #74508
@evanrichter No, it's alright, I merely wanted to test if I could find the relevant part of code to edit and I did. I only would make a pull request if nobody worked on this already.

[2020-07-21 16:48] filtsin commented on #63997
If const is a qualifier of function like `unsafe` or `extern` we have next issue:

[code]
It compiles now but not compiles with these changes because x has `const fn()` type (`if` and `else` have incompatible types).
So it breaks an old code.

[2020-07-21 16:59] tema3210 commented on #63997
Const fn's are still fns, the type won't be charged. In fact const qualifier only allows const fn appear in const contexes, and be evaluated at compile time. You can think of this like implicit casting.

[2020-07-21 17:02] filtsin commented on #63997
[code]
This code does not compile for the same reason

[2020-07-21 17:12] tema3210 commented on #63997
This leads to possible unsafety in our code, and all which comes with it. `const ` fn casting on otherside don't brings any unsafety, so is allowed, const fn must not have any side effects only, it is compatible with fn contract.

[code]
This must not compile, because bar is not const and therefore can't be evaluated at compile time. Btw, it raises(?) "can't call non const fn inside of const one",

[2020-07-21 17:17] jplatte commented on #63997
I think you're missing the point. With implicit coercions, the type of `x` would be `unsafe fn()`, not `fn()`. There's nothing about that which leads to possible unsafety. Generally, `const fn()` can be coerced to `fn()` and `fn()` can be coerced to `unsafe fn()`. It just doesn't happen automatically, which is why changing `const fn foo()` to coerce into `const fn()` rather than `fn()` implicitly

[2020-07-21 17:22] nikomatsakis commented on #74497
This code is invalid. The closure is given a `&u8`, which is only valid during the closure execution. But `baz(x)` captures `x` and embeds it into a future that is returned -- this future, when awaited, will (or could) attempt to use `x`, even though the closure itself has returned, and hence `x` is no longer valid.

The error message here is obviously not great. We have specialized errors for the

[2020-07-21 17:22] jplatte commented on #63997
Personally I would love to see more implicit coercions for function pointers. Not sure how feasible that is though. I've previously wanted trait implementations for function pointer types to be considered when passing a function (which has a unique type) to a higher-order generic function. I posted about it on internals, but it didn't receive much attention.

[2020-07-21 17:30] nikomatsakis commented on #74497
There isn't a great workaround that uses stable syntax to make this compile, interestingly. [We discussed it some on Zulip](https://zulip-archive.rust-lang.org/187312wgasyncfoundations/09620meeting20200721.html#204576637).

The error message for a comparable scenario without async isn't *that* great either, actually, I am somewhat surprised ([playground](https://play.rust-lang.org/?version=nightly

[2020-07-21 17:31] nikomatsakis commented on #74497
Returning a reference to a *local variable* is somewhat better ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ea4ee72d513fba679ecb96c83ecdeff1)):

[code]

[2020-07-21 17:43] SNCPlay42 opened #74597 "Explain elision when it is relevant to lifetime errors"
[code]

Gives these errors

[code]

It's not made clear *why* the returns are expected to have lifetime `'1`. It would be helpful to have annotations like

[code]

Maybe link to the [book section](https://doc.rust-lang.org/book/ch10-03-lifetime-syntax.html#lifetime-elision) as well? For the second function, maybe adding a named lifetime (`f<'a>(&self, &'a i32) -> &'a i32`) could be automatically s

[2020-07-21 17:44] dogweather commented on #65669
I'll have a go at writing a PR. I'm a fan of `reject` from Elixir and Ruby. IMO it helps create more expressive code without mental overhead.

[2020-07-21 17:52] luqmana commented on #74498
Thanks @comex, that's a lot simpler than the repro I ended up getting down to and it also demonstrates it's not windows specific.

[2020-07-21 18:20] cuviper commented on #74519
@alexcrichton I know this is ancient history, but do you recall the problem with `F_DUPFD_CLOEXEC`? You introduced that comment about "some kernel" in 3d28b8b98e6e4f55ef4ecd8babf0a050f48a3d11, and you were the last to update it in 0fff73b64a9658c9a3aa228488964d09e63115b4. If the problem kernels were before 2.6.32, then I'd like to clean that up now.

[2020-07-21 18:25] vandenheuvel commented on #74018
Here is [another example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6ffb9b35685c9894e5b1c42327c59cfe) that triggers this ICE. Note that [this minor modification](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=431a8f6215ba0c539e73c59dfe1f713d) (replacing the tuples with only the second value) works.

[2020-07-21 18:35] cuviper commented on #74519
Just digging in kernel history, I did find one hiccup in https://github.com/torvalds/linux/commit/121977187ca0a7f20b848530deb04cc56167769b, but that bug was introduced and resolved during the 3.7 development cycle, not in a release.

[2020-07-21 18:49] SuperTails opened #74599 "Unwrap on a `None` in `librustc_mir/borrow_check/region_infer` when using `rustc_args_required_const`"
### Code

Minimization by @Kixiron

[code]

### Meta

This can only be built on nightly, since it requires an internal rustc attribute on `print_raw`.

`rustc +nightly --version --verbose`:
[code]

### Error output

When run with `RUST_BACKTRACE=1 rustc +nightly main.rs`

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-21 18:51] alexcrichton commented on #74519
IIRC we just mirrored what musl did at the time, which looks like it [still does](https://git.musl-libc.org/cgit/musl/tree/src/fcntl/fcntl.c):

[code]

Looks like the original mailing list thread is gone and there's no comments in the musl source, so I don't recall what happened here.

I suspect it would be safe to remove those workarounds and just assume `F_DUPFD_CLOEXEC` works one the first try

[2020-07-21 18:59] vorner commented on #73840
Ok, looking into this, how about wording like this?

On the into_raw:

And on the `from_raw`:

Do you think this would be better?

[2020-07-21 19:02] tema3210 commented on #63997
But not in oposite direction - thats what i wanted to say.

[2020-07-21 19:08] Kixiron commented on #74599
The absolute smallest I was able to get it is this ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=d325c308d02928ae65c2cac9ab29870d))
[code]

The specific external function doesn't seem to matter, nor do any variable names

The panicking line of code is [here](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/borrow_check/region_infer/mod.rs#L2

[2020-07-21 19:28] mibac138 commented on #74599
Further minimized ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=e2d3631d53e662c4a26778a8004f2867)):
[code]
It appears this issue happens when in `#[rustc_args_required_const(x)]`, `x`  is greater than the amount of a function's parameters

[2020-07-21 19:33] SuperTails commented on #74599
But in the original example, that's not true--
[code]
There are two parameters, and in the code I use both of them, yet the issue still seems to occur.
Same outcome, different cause?

[2020-07-21 19:39] pnadon commented on #71193
Hello,

I saw that this issue was still open but the last post was 2 months ago, is there a chance I could try and help out?

[2020-07-21 19:42] mibac138 commented on #74599
I might've worded my response poorly, however I still stand my ground. I believe that whenever any of the indexes in `rustc_args_required_const` exceeds the amount of parameters a function has, it will ICE. So, for example
[code]
Does this match with your experience?

[2020-07-21 19:45] pnadon commented on #73904
Is there a file in particular someone would recommend I help out with? I have yet to contribute to Rust but I am very interested in doing so!

If there are no suggestions, I will do `sys/wasi`

[2020-07-21 19:47] Kixiron commented on #74599
This ICE's, it's the original example
[code]
The indices line up with the function parameters, yet it still ICE's
[code]

[2020-07-21 19:57] mibac138 commented on #74599
Oh sorry, turns out I have misunderstood what @SuperTails meant. I guess I have accidentally found another ICE then.

[2020-07-21 19:58] Dylan-DPC commented on #71193
@pnadon sure.. 2 months is a short timeframe in rust's perspective :D

[2020-07-21 20:04] pnadon commented on #71193
@Dylan-DPC Ok sounds good,

From what I understand from the comments above, the two directories I should look in are

`src/librustc_middle/mir/interpret`
and
`src/librustc_mir/interpret`

And the goal would be to rename parts of names with "undef" in them to "uninit", along with some changes with "def" to "init". Is this correct?

[2020-07-21 20:08] RalfJung commented on #71193
@pnadon thanks for chiming in! As far as I know, the list at https://github.com/rust-lang/rust/issues/71193#issuecomment-626128359 is still up-to-date. Post in this thread or open a topic on Rust's Zulip if you need any help; my availability is spotty until mid next week but there'll always be someone around. :)

[2020-07-21 20:13] Kixunil commented on #74517
Heh, I also run VMs (Qubes), but I might get it to work if I fiddle with it enough. However, my time is not very abundant these days, so I'd appreciate if someone can do it instead.

Is there some bot command to add such a tag? I don't have the rights to do it using GitHub interface and didn't find any documentation on it.

[2020-07-21 21:10] yujiri8 commented on #74573
I can still `cat` directories on FreeBSD. As t6 says, they apparently fixed it in 12-STABLE but not yet in 12.1-RELEASE.

I have never seen the output bjorn3 shows, though. For me the output on catting a directory is one byte long + 2 (matching the size shown by `stat`), and the first byte is always `\x03` and most of the others are `\x00`, though for a large number of files, other bytes appear li

[2020-07-21 21:14] joshtriplett commented on #73894
On Mon, Jul 20, 2020 at 01:32:22AM -0700, hyd-dev wrote:

`signal-safety(7)` lists `abort(3)` as async-signal-safe. If it isn't in
practice async-signal-safe in glibc, that's a bug and you should report
it.

[2020-07-21 21:21] shamil-gadelshin opened #74603 "Internal Compiler Error: unexpected panic"
### Code

Tried to build this project:
[code]

Using this video:
[code]

The exact package that breaks the compiler:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-21 21:22] lcnr commented on #28475
What exactly has to be done to close this issue?

The example given here doesn't seem to compile.

[2020-07-21 21:22] nikomatsakis commented on #67984
I agree that `panic!({"foo"})` is perhaps too close to `panic!("{foo}")`. Another option is to have a `panic_with!` macro or something like that (though this name is perhaps non-ideal, since it suggests a closure).

In general, I think the way to "phase in" new syntax should fit this mold (and your suggestion does):

* Permit the new syntax when we can do so backwards compatibly.
* Have an "uglier

[2020-07-21 21:23] jonas-schievink commented on #74603
Duplicate of https://github.com/rust-lang/rust/issues/73993, please update your Rust version.

[2020-07-21 21:23] #74603 closed

[2020-07-21 21:27] lcnr commented on #74383
closing as intended behavior, see https://github.com/rust-lang/rust/pull/74525#discussion_r457465014 for more details

It looks to me like preventing the impl for `Foo<()>` is directly tracked in #13231.

[2020-07-21 21:27] #74383 closed

[2020-07-21 21:27] jonas-schievink commented on #28475
`impl Trait for ..` syntax doesn't exist anymore, so it's impossible to write this sort of impl now.

[2020-07-21 21:27] #28475 closed

[2020-07-21 21:28] nikomatsakis commented on #28475
Yeah, that syntax never made sense, and has been replaced with "auto trait" (or is it `#[auto] trait`). Probably this issue is just "outmoded".

One thing is that I think we should not permit a negative impl like `impl<T> !Foo for T` -- i.e., negative impls should always be implemented for specific types. The truth is that we have to write out the specific rules at some point.

[2020-07-21 21:36] SimonSapin commented on #62195
I’ve proposed FCP to stabilize with a signature change at https://github.com/rust-lang/rust/pull/74605

[2020-07-21 21:49] Xaeroxe opened #74607 "Consts and literals are not completely interchangable despite being very similar"
Code snippet:

[code]

What I expected: Both examples to compile and print string "foobar"

What actually happened: A const can't be used as a literal, this seems silly since both a const and a literal are available at compile time.

I tried to find prior discussion on this but couldn't find any. Please close this issue if it's a duplicate.

[2020-07-21 21:52] mibac138 opened #74608 "rustc_args_required_const ICE with missing parameter"
### Code ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=8abce847839d7173320e84c2649775a5))

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-21 21:59] davidhewitt commented on #67984
`panic_with!` is actually something I was wondering about yesterday too, though I hadn't considered the point you make about the closure.

One idea that crossed my mind was simply making this panic-with-a-value case a function called `start_unwind`. It fits well with the existing `catch_unwind` / `resume_unwind`. OTOH if it needs to stay a macro, I might avoid `start_unwind!` *because* the other t

[2020-07-21 22:00] jonas-schievink commented on #74607
Macros are expanded much earlier than when constants are available. This is working as intended.

[2020-07-21 22:00] #74607 closed

[2020-07-21 22:50] Nicholas-Baron commented on #74517
Sorry, I could not add tags either, so I assumed that you had the ability to. Shows my experience.

Also, [`rustup`](https://doc.rust-lang.org/edition-guide/rust-2018/rustup-for-managing-rust-versions.html) may be able to help us here. I thought that the binaries were hidden away, but here they are.

[2020-07-21 22:54] estebank opened #74609 "Provide suggestion when argument that should be a closure is any other type"
Given

[code]

[we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=450e191d7a7e171f1e616993d03bcf9b)

[code]

We already keep track of whether we're pointing at an argument.When the expectation is of a closure we should probably provide a suggestion along the lines of

[code]

_Taken from https://www.reddit.com/r/rust/comments/hv657u/question_mark_usage/_

[2020-07-21 23:13] mati865 commented on #74517
@rustbot modify labels: +E-needs-bisection

[2020-07-21 23:23] LeSeulArtichaut commented on #73904
@pnadon Thanks for your help! I have no particular advice on what to work on. If you have any particular knowledge for an environment, go ahead, but otherwise pick any of them.
The remaining files are only internal system-dependent APIs so it might be a little harder because of the lack of clear documentation. If you find yourself stuck the best would be to come on Zulip so you can have a discussi

[2020-07-21 23:50] calebcartwright commented on #74443
Yeah the rustc-ap shuffle can be a real pain sometimes. In fairness, the version of rls that shipped with v1.44.1 seems to be chronologically newer, though I'm not sure what the actual expected/desired version for rls in 1.45.0 would be.

@Xanewok what version of rls were you expecting with rust 1.45.0?

Here's what I'm seeing
    rustc 1.44.0 --> rls 1.41.0 (2659cbf 2020-04-14)
    rustc 1.44.1 -

[2020-07-22 00:01] CAD97 commented on #73840
Yeah, I think that wording captures the semantics properly.

[2020-07-22 00:14] tmandry commented on #74080
The build appears to be broken still. I'm seeing the following failure:

[code]

[2020-07-22 00:19] tmandry commented on #74081
Reopening: rustfmt still [appears to be](https://rust-lang-nursery.github.io/rust-toolstate/) broken

[2020-07-22 01:01] Bryysen opened #74612 "ICE: bad_placeholder_type"
First time filing a bug report, apologies if i missed anything or if this is a duplicate. Encountered this bug while writing some non-sensical associated function types. Searched around for any similar issues and the closest i found was #70291, seems closely related?

Minimal example:
[code]
Playground link:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=02cf6fb6aed04c3058

[2020-07-22 01:49] calebcartwright commented on #74081
The original cause for this issue was #74236 which AIUI did indeed resolve this issue (and thus #74080 as well as rls was broken since it has rustfmt in its dep tree). However, a separate issue relative to the rustc-ap crates in rustfmt's dep tree popped up the same day #74240 was merged so we didn't discover the other issue til the next day and the bot didn't open a new issue.

We're on the last

[2020-07-22 02:23] Nicholas-Baron commented on #74517
I have started backtracking to see what version broke. 1.35 still has the bug and 1.30 as well.

Interestingly, the debug version of 1.30 does not give a segmentation fault. Instead, it is an illegal instruction error.

Time to go to 1.25 and 1.20.

[2020-07-22 02:25] Lokathor commented on #67984
`panic!` is a macro because it does formatting.

Presumably if it's taking a single value the `start_unwind` operation could just be a generic function like `fn start_unwind<T>(t: T) -> !`

[2020-07-22 02:46] dtolnay opened #74614 "Regression in nightly-2020-07-22: collection encountered polymorphic constant"
The widely used `reqwest` crate began failing to compile in nightly-2020-07-22. To reproduce, clone https://github.com/seanmonstar/reqwest/tree/69288606bcf648967ddd09000f06e88161f80a2f and run `cargo build`.

[code]

Note the error is presented on tokio-0.2.22 but that crate compiles fine by itself. Running `cargo build` again indicates it's only `reqwest` being compiled when the ICE occurs.

<det

[2020-07-22 03:09] Nicholas-Baron commented on #74517
1.20.0 has the same bugs in both release and debug (segfault). This seems to be a rather old bug.

[2020-07-22 03:15] tmandry commented on #74081
Thanks for working on that and for clarifying! I figured there was probably a secondary issue here.

I guess the toolstate site only sees nightlies so that's why it thinks it's been red since the 5th and never opened a new issue 🤔

[2020-07-22 03:30] tmandry commented on #73818
It looks like the problem stems from the bound predicate not being normalized properly when checking the defaulted associated type. From my reproducer above:

[code]

which should instead be `<Never as std::cmp::PartialEq<Never>>`.

I'm not certain yet how this ought to be implemented. Perhaps a pass after normalization that looks for occurrences of the defaulted type (`<T as Foo>::Assoc` in this

[2020-07-22 03:56] JohnTitor commented on #74614
I think the culprit PR is #69749 (and this is the first failure of "Polymorphization"), cc @davidtwco

[2020-07-22 04:07] link2xt commented on #74614
Same bug encountered here: https://github.com/deltachat/deltachat-core-rust/pull/1743

[2020-07-22 04:31] nbdd0121 opened #74615 "Performance regression from Rust 1.37 to 1.38 when using unreachable_unchecked"
I tried this code when looking at the issue #73015.

[code]

I expect all other match arms to be optimised out, so basically the code would be equivalent to
[code]
or maybe even
[code]

On Rust 1.37 it is quite optimised but a huge chunk of code is generated for 1.38. Interestingly, if the unreachable_unchecked is replaced with a value such as `FpCategory::Nan`, `test` could still be optimised.

@

[2020-07-22 04:42] Aaron1011 opened #74616 "Remove `NtIdent` hack for regressed crates"
## What is this issue?

If you're a crate author who's been linked here, this issue tracks removing a backwards-compatibility hack in Rust.

Rust has a longstanding issue https://github.com/rust-lang/rust/issues/43081, which causes procedural macros to lose location and hygiene information (known as a "Span") under certain circumstances. Recently, pull request https://github.com/rust-lang/rust/pul

[2020-07-22 04:47] L-F-Stack-Exchange opened #74617 "Error message suggests using `&` and `mut` when matching on fields behind a `&mut`, rather than `&mut` or `ref mut`"
When compiling this code, which attempts to match a field behind a mutable reference against a moving pattern:

[code]

Here's the compiler message:

[code]

([Stable 1.45.0](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c7740d44dfb8ff005578978dd8f61ec3)) ([Beta 1.46.0-beta.1](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=05caf9c901ad9d056770967c01

[2020-07-22 04:52] hyd-dev commented on #73894
I just realized if `libc::abort()` is not signal-safe (in glibc), then `rtabort!()` is not signal-safe, so the signal handlers in the standard library that call `rtabort!()` is actually not signal-safe: https://github.com/rust-lang/rust/blob/891e6fee572009ff2be4d4057fb33483610c36a7/src/libstd/sys/unix/stack_overflow.rs#L92-L106 Maybe I should open a new issue or report the `abort(3)` bug to glibc.

[2020-07-22 05:09] JohnTitor commented on #74612
Yes, I think so too.
The snippet is rejected as expected on 1.42 but ICE occurs instead since 1.43.

[2020-07-22 05:21] hyd-dev commented on #73894
So I think `libc::abort()` can be used, and `if ... { something_like_rtabort!() }` is suitable as a replacement. WDYT?

[2020-07-22 05:49] #74577 closed

[2020-07-22 06:41] ecstatic-morse commented on #74551
This is concerning. To confirm, this occurs with recent nightlies as well?

The commit you bisected to (part of #69676) re-enabled the optimization around drop elaboration in #68528, which could have plausibly caused this kind of issue. There's nothing target-dependent about that PR, so while it's possible that #68528 triggered a SPARC-only LLVM bug, it's very possible that there's a latent miscom

[2020-07-22 06:55] vorner commented on #73840
Thanks. I'll get around to submitting the changes some time soonish.

[2020-07-22 07:18] psumbera commented on #74551
Latest version I have tested is Rust 1.44.1. I can revert the commit and I can use it to build Firefox.

I will try latest nightly build as well. But I will need to build Rust 1.45 first (there are no bootstrap archives for Solaris).

Unfortunately my knowledge of Rust and its internals are very limited. Plus I believe ASan is not available for SPARC.

[2020-07-22 07:19] ayushmishra2005 commented on #73263
@matthiaskrgr Can you please share the same snippet for reproducing this bug? I am not able to reproduce this. According to https://github.com/rust-lang/rust/blob/master/src/librustc_data_structures/profiling.rs#L597, this should not be the case.

[2020-07-22 08:07] Kixunil commented on #74517
Maybe it never worked and nobody noticed? Might be worth trying on other Pis as well, unfortunately, I don't have one laying around right now.

[2020-07-22 08:14] oli-obk commented on #74446
So, one thing I was surpised about but now think is important is that structural equality is not a recursive property. If we used a marker trait, that would mean that `[T; 3]` is only has structural equality if `T` has it. But we can destructure such an array trivially, we just can't continue destructuring the `T` if that doesn't have structural equality. We have to fall back to `T::eq` to check f

[2020-07-22 08:41] pipehappy1 commented on #45127
Agree, is there way to disable this warning for crate name while cargo build?

[2020-07-22 08:59] eddyb commented on #74614
Huh the code that emits the ICE is kind of broken in terms of user expectations: https://github.com/rust-lang/rust/blob/4825e12fc9c79954aa0fe18f5521efa6c19c7539/src/librustc_mir/monomorphize/collector.rs#L625-L630

It found a constant `vtable::<T, S>` (or maybe `vtable::<T, S>::promoted0`) *somewhere* but the `Span` it uses isn't that of the *use* site (`self.body.source_info(location).span`), but

[2020-07-22 09:22] Nemo157 commented on #67984
Panicking doesn't necessarily unwind, with the `panic=abort` setting, or with `no-std` and a custom `panic_handler`.

[2020-07-22 09:56] davidhewitt commented on #67984
Great point - in which case I think `start_unwind` is not a good name for this any more!

[2020-07-22 10:22] m-ou-se commented on #67984
Opened #74622 specifically for this arbitrary-payload-throwing-panic function, to have a place to bikeshed over the name etc.

[2020-07-22 10:34] xldenis commented on #72751
fixed by https://github.com/rust-lang/rust/pull/74491#

[2020-07-22 11:00] RalfJung opened #74624 "The rust-src component contains a symlink"
Extracting the rust-src component with `rustup-toolchain-install-master` fails because there is a symlink in that component (https://github.com/kennytm/rustup-toolchain-install-master/issues/39). The symlink was introduced some time between 567ad7455d5f25f6b38d2fded1cb621e0c34a48b and 734233d29771869f824d8ddbaddabb90b3b68e03.

The tool should be fixed, but I wonder -- is that expected? Not all fil

[2020-07-22 11:04] Mark-Simulacrum commented on #74624
I think this was fixed in https://github.com/rust-lang/rust/pull/74578.

[2020-07-22 11:04] #74624 closed

[2020-07-22 11:04] RalfJung commented on #74624
It was indeed, thanks!

[2020-07-22 11:10] RalfJung commented on #74624
This is unfortunate though as it landed after the other PR that broke Miri again recently... making it now 3 days or more straight during which it was impossible to build Miri against rustc master. We keep fixing things but new breakage is landing before the fixes make it through.^^

[2020-07-22 11:26] Mark-Simulacrum commented on #74624
Yeah we're reverting gimli entirely in a bit (hopefully not rebreaking anything) but next time we land it I plan to do some try-testing to make sure it's not breaking rustup etc.

I also hope to add tests that we don't have symlinks to our dist builders.

[2020-07-22 11:28] Trass3r commented on #34651
It still doesn't support DWARF5 but gcc's split dwarf works just fine, also in gdb.
For reference, this is similar to running [mspdbcmf](https://devblogs.microsoft.com/cppblog/faster-c-build-cycle-in-vs-15-with-debugfastlink/) on a /DEBUG:FASTLINK pdb on Windows.

[2020-07-22 11:57] leonardo-m opened #74626 "[ER] Better slices array type inference"
This code:
[code]
Currently (rustc 1.47.0-nightly 8ad7bc3f4 2020-07-21) this gives:
[code]
Is it possible to improve the type system so foo2 too compiles?

[2020-07-22 12:15] matthiaskrgr commented on #74581
I've had a couple of incremental ICEs while bootstrapping already, so all of these are "wontfix" essentially?

I can close them if you want. :)

[2020-07-22 12:39] psumbera opened #74628 "error: unknown lint: `clashing_extern_declarations` and others"
I'm trying to build latest Rust sources from github on Solaris. There are no Solaris bootstrap archives therefore I'm using for bootstrap Rust 1.45.0. But I'm getting thinks like:

[code]

Any idea what is wrong?

[2020-07-22 12:41] psumbera commented on #74551
I'm not able to build it now because of #74628 .

[2020-07-22 12:45] WaffleLapkin opened #74629 "`negative_impls` and `auto_traits` experimental features allow trait impls to overlap"
I tried this code (this is the most minimal example that I could create, though I think that there may exist a simpler one. my original code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9027b4ddd48a45475f548ca980963ced)):

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0279c655181f268b1a6e5d14911cb215))

I exp

[2020-07-22 13:04] vandenheuvel commented on #30472
@demurgos You example compiles now.

[2020-07-22 13:12] tmiasko commented on #74628
The current version of rustc used for bootstraping is 1.46.0, so those errors
would indicate that 1.45.0 doesn't have `clashing_extern_declarations` lint and
the `track_caller` feature is still unstable.

You could either try checking out rustc from before #74395 (at that point it
should be possible to bootstrap from 1.45.0), or try reverting some of changes
there.

[2020-07-22 13:15] NoussMaster opened #74630 "I don't understand my mistake: E0599"
Hello everyone! I use two libraries which are byteorder and trickster.

I'm working on a project I had done in C and now I have to convert it to rust.

I made a first test in my main and everything works:

[code]
Now when I want to do separate functions I get an error message.
My code :

[code]
And this is the error.
[code]

Can someone help me please.
Thanks

[2020-07-22 13:16] tmiasko commented on #74551
This kind of issues are often caught by LLVM assertions, so as a starting step
I would recommend enabling them if you haven't tried that already. Possibly
together with debuginfo=1 for more complete backtrace.

[2020-07-22 13:17] jonas-schievink commented on #74630
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-07-22 13:17] #74630 closed

[2020-07-22 13:38] xfix commented on #74585
Can confirm this happens with staging rustc in nixpkgs.

[2020-07-22 13:44] matthiaskrgr commented on #73263
When building cargo with ` RUSTFLAGS="-Ztime-passes" cargo build -j 1`, some of the deps miss the space.

[2020-07-22 14:01] JohnTitor commented on #74614
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374614.20Regression.20in.20nightly-2020-07-22.3A.20collec) and removing `I-prioritize`.

[2020-07-22 14:02] jberci opened #74632 "Ballooning compile time with LVI mitigations"
There seems to be a significant compile time regression when using the LVI mitigation passes on some crates. The smallest case I could come up with is:

[code]
TOML:
[code]

This happens with the `x86_64-fortanix-unknown-sgx` target, but also without it with the following codegen options (`.cargo/config.toml`):
[code]

*Expected:*
Without the `config.toml` on a vanilla rustup-installed nightly, a

[2020-07-22 14:15] jonas-schievink commented on #74632
These are LLVM passes. Is there any reason to believe this is a rustc bug and not an LLVM bug?

[2020-07-22 14:16] steffahn opened #74634 "ICE: eval_const_to_op: Unexpected ConstKind"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d6d51bae5e30d80030470d95a6cab2c0))

Errors:

[code]

Probably related: #72819

Removing (at least) one of the `impl`s for `Foobar` makes the panic go away, and the compiler correctly reports the error:
[code]
@rustbot modify labels: I-ICE, T-compiler, A-const-eval, A-const-generics, C-bug, F-const_generi

[2020-07-22 14:16] steffahn commented on #74634
@rustbot modify labels: F-const_generics

[2020-07-22 14:20] jberci commented on #74632
I wouldn't say so, but a rust reproducer is the only one I have and I couldn't find a way to open an issue on the rust-lang/llvm-project fork. Apologies if I missed it.

[2020-07-22 14:21] nikic commented on #74632
cc @jethrogb

[2020-07-22 14:23] jethrogb commented on #74632
cc @scottconstable @raoulstrackx

[2020-07-22 14:37] davidtwco opened #74636 "bug with polymorphisation + closures that inherit unused parameters"
#74614 discovered a regression in polymorphisation, fixed by disabling polymorphisation in #74633. This issue will track the fix for the regression, based on the [discussion in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/216091-t-compiler.2Fwg-polymorphization/topic/tokio.20regression.20%28.2374614%29/near/204640191) (with thanks to @lcnr, @oli-obk and @eddyb).

#74614 can be reduced to

[2020-07-22 15:16] petrochenkov commented on #72274
List of libraries that need to be shipped with Rust rather than bundled in rlibs:
- libc.a on musl (linked from libc crate on crates.io)
- libunwind.a on musl (linked from libunwind crate in tree)
- libc.a on wasi (linked from libc crate on crates.io)

Additionally:
- libunwind.a is also unconditionally bundled (regardless of the `crt-static` flag) on fuchsia and linux when `llvm-libunwind` featur

[2020-07-22 15:16] spastorino commented on #74551
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374551.20error.3A.20could.20not.20compile.20.60gkrust.60.20since) and removing `I-prioritize`.

[2020-07-22 15:21] spastorino commented on #74564
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374564.20Stack.20overflow.20in.20rustc.2C.20regression.20from) and removing `I-prioritize`.

[2020-07-22 15:23] spastorino commented on #74564
It would be nice to bisect this one if possible ...

@rustbot ping cleanup

[2020-07-22 15:24] wesleywiser commented on #73993
Hi @apopiak and @drahnr, have either of you had a chance to upgrade to a recently nightly? I just wanted to confirm this is fixed for you.

[2020-07-22 15:25] spastorino commented on #74400
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374400.20Type.20mismatch.20in.20function.20arguments.20E063) and removing `I-prioritize`.

[2020-07-22 15:26] evanrichter commented on #74508
@mglagla sounds like you are ahead of me and I am busy this week. If the issue is still available next week I'll claim it

[2020-07-22 15:31] spastorino commented on #74612
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374612.20ICE.3A.20bad_placeholder_type) and removing `I-prioritize`.

[2020-07-22 15:33] pnadon commented on #71193
no_bytes_init? I assumed it would be synonymous with  "all_bytes_uninit"

[2020-07-22 15:47] spastorino commented on #74384
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374384.20Compiler.20doesn't.20terminate.20with.20--releas) and removing `I-prioritize`.

[2020-07-22 15:48] pnadon commented on #71193
I have made commits for the above changes, however I would like to wait until everyone agrees on the new names for below:

I think InitMaskCompressed would be more of a mouthful but also more accurate based on the definition [here](https://en.wikipedia.org/wiki/Run-length_encoding).

As per my previous comment, no_bytes_init?

I agree.

[2020-07-22 15:49] varkor commented on #60814
Fixed by https://github.com/rust-lang/rust/pull/74051.

[2020-07-22 15:49] #60814 closed

[2020-07-22 15:58] alexcrichton opened #74640 "macOS x86_64 requires frame pointers to unwind functions with huge stack frames"
Currently macOS x86_64 forcibly has frame pointers enabled, but this is an unfortunate performance loss relative to other platforms. There's no fundamental need to use frame pointers on macOS and it'd be a nice perf boost if we could stop requiring them. https://github.com/rust-lang/rust/pull/74575 was a recent attempt to disable frame pointers on macOS but it ran into a lot of segfaults in the co

[2020-07-22 16:00] estebank commented on #54186
Reopening because I'm reverting the change that fixed it because of https://github.com/rust-lang/rust/issues/74233.

[2020-07-22 16:02] xfix commented on #74585
Doesn't happen if I build rustc with LLVM 10 instead of LLVM 9.

[2020-07-22 16:06] JohnTitor opened #74641 "Improve diagnostics for an invalid binding in a tuple struct pattern"
_Originally posted by @estebank in https://github.com/rust-lang/rust/pull/74557#discussion_r457614002_

Follow-up of #74557

[2020-07-22 16:08] scottconstable commented on #74632
Are these crates being compiled with the MIP optimization plugin?

https://github.com/intel/lvi-llvm-optimization-plugin

[2020-07-22 16:08] jethrogb commented on #74632
Probably not

[2020-07-22 16:08] varkor commented on #44580
We're now more than halfway through the year, so I'll briefly summarise the work that has been going on. There have been lots of people involved in improving const generics support in the last 6 months, so thank you to everyone who's helped in some way! I especially want to thank @skinny121 and @lcnr, who have both tackled some large features that const generics has been lacking for a while: [lazy

[2020-07-22 16:13] kanru commented on #74564
searched nightlies: from nightly-2020-05-05 to nightly-2020-07-22
regressed nightly: nightly-2020-05-08
searched commits: from https://github.com/rust-lang/rust/commit/1836e3b42a5b2f37fd79104eedbe8f48a5afdee6 to https://github.com/rust-lang/rust/commit/a08c47310c7d49cbdc5d7afb38408ba519967ecd
regressed commit: https://github.com/rust-lang/rust/commit/97f3eeec8216d7155c24674b9be55e7c672bcae3

<deta

[2020-07-22 16:22] coolreader18 commented on #27747
@camsteffen you might be looking for [`Itertools::format`](https://docs.rs/itertools/0.9.0/itertools/trait.Itertools.html#method.format)

[2020-07-22 16:22] pnadon commented on #73904
Something strange happened while I was applying the changes.. I used ripgrep to search through sys/wasi to find all files with a mention of "unsafe". From there, I added `#![deny(unsafe_op_in_unsafe_fn)]` at the top of the file, and then ran `./x.py check src/libstd` to check for errors, which surprisingly resulted in a successful compile. Should I run extra checks or am I going about this the wro

[2020-07-22 16:22] Alexendoo commented on #74626
Much like giving the hint of `_u32` to the first element, you can do

[code]

[2020-07-22 16:29] scottconstable commented on #74632
Then I think the culprit is probably this issue in CodeGen/RDF that I reported back in April: http://lists.llvm.org/pipermail/llvm-dev/2020-April/141332.html. Looks like it hasn't been fixed yet. I'll open up a bug report and ping Krzysztof.

[2020-07-22 16:36] spastorino commented on #74384
This was reconsidered, per @Mark-Simulacrum's comments and we consider now `P-medium`.

[2020-07-22 16:40] scottconstable commented on #74632
Bug report created: https://bugs.llvm.org/show_bug.cgi?id=46808. Hopefully this will address the issue reported by @jberci

[2020-07-22 16:47] leonardo-m commented on #74626
Thank you, your code compiles, and I'll use it. But I think my original ER issue is still valid.

[2020-07-22 17:00] crlf0710 commented on #62482
Already implemented and stablized. Closing.

[2020-07-22 17:00] #62482 closed

[2020-07-22 17:01] jethrogb commented on #74632
I've reduced the example from the initial post to one file without external dependencies: [main.rs](https://github.com/rust-lang/rust/files/4961355/main.rs.txt)

[code]

[2020-07-22 17:16] mark-i-m commented on #54883
Is there anything blocking a subset of this from being stabilized? It seems like the most basic form of this feature is working and used throughout the compiler and std.

[2020-07-22 17:40] steveklabnik commented on #60670
Triage: not aware of any changes

[2020-07-22 17:41] vandenheuvel commented on #67510
Is this a duplicate? I copied this from the RFC. [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ef0283dd9e3281802c69b059f97368c3).
[code]

[2020-07-22 17:59] varkor commented on #65556
@Xanewok: do you know if is this still an issue?

[2020-07-22 17:59] varkor commented on #54883
The most pressing blocking issue is the remaining ICE: https://github.com/rust-lang/rust/issues/72680, though there appear to be a couple of outstanding design questions. I would have thought it would be close to ready for stabilisation apart from that.

[2020-07-22 18:01] scottconstable commented on #74632
@jethrogb Would it be possible to run that example with Linux perf to see which function is responsible for adding all those cycles?

[2020-07-22 18:07] jethrogb commented on #74632
63% in `std::_Function_handler<void (llvm::ImmutableGraph<llvm::MachineInstr*, int>::Node const*, bool), (anonymous namespace)::X86LoadValueInjectionLoadHardeningPass::elimMitigatedEdgesAndNode`

[2020-07-22 18:13] lcnr commented on #74629
@rustbot claim

[2020-07-22 18:15] Xanewok commented on #65556
From what I know, this still needs to be fixed, yes.

[2020-07-22 18:16] #74321 closed

[2020-07-22 18:17] scottconstable commented on #74632
So it looks like ~63% is due to the LVI load hardening pass (specifically, the greedy heuristic for inserting LFENCEs), and another ~24% comes from RDF. I take it that Rust probably does a lot of aggressive inlining and LTO, and the function being mitigated is just absolutely huge?

[2020-07-22 18:19] jethrogb commented on #74632
Yes to all of the above. Most of the 5000-line file is one function. Is it unreasonable to expect such a case to ever be fast with LVI mitigations?

[2020-07-22 18:30] ecstatic-morse commented on #74551
Oof. This is gonna be a tough one to figure out.

CI builds and tests `rustc` with LLVM assertions enabled for all tier 1 platforms. I'd be surprised if we were violating an assertion late enough in the compilation pipeline that it only triggered on SPARC, but it doesn't hurt to check.

[2020-07-22 18:47] zserik commented on #67510
@vandenheuvel I think that is the same issue, yes.

[2020-07-22 18:56] psumbera commented on #74628
Thanks for explanation. So this is not real bug. Closing it.

[2020-07-22 18:56] #74628 closed

[2020-07-22 19:29] scottconstable commented on #74632
I think it should still be possible to have fast compilation for very large functions. I'm curious about the observation that a newer `uint` crate seems to solve the issue, as @jberci had observed. Does the updated crate also contain a 5,000 LoC function? There might be something more subtle going on.

[2020-07-22 19:32] the8472 commented on #74426
Since this would require specializing on the input and output type the naive approach would lead to quadratic blowup of types. So it's probably better to have an internal highly parameterized copy helper and two separate sets of specializations that each prepare one half of the parameter set.
That would allow extracting the file descriptors and some ancillary things from a large set of concrete wr

[2020-07-22 19:43] poliorcetics commented on #73844
@rustbot claim

[2020-07-22 20:04] LeSeulArtichaut commented on #73904
@pnadon lint levels get "inherited" in submodules, so you probably only need to add one in the parent module (probably mod.rs file?)
I think checking doesn’t work here since you’re not compiling for a wasi environment. I’m not sure how you can work around that, maybe you can use cargo directly and check for a wasm target?

[2020-07-22 20:19] namibj commented on #74539
The reference suggested this to be possible, which is how I came to suggest it to OP.
We wanted to avoid naming them to not suggest any specific content.

[2020-07-22 20:28] Nicholas-Baron commented on #74517
Yeah, that hypothesis sounds more likely.
1.10.0 has the same error.

Later models of Pi have [different architectures](https://en.wikipedia.org/wiki/Raspberry_Pi#Specifications).
To sum up Wikipedia, the Model 1s and 0s have the same processor and architecture: ARM1176JZF-S (ARMv6/arm).
The largest difference between the 0s and 1s is that 0s have a higher clock than the 1s.
The Model 2s transitio

[2020-07-22 21:08] panstromek opened #74655 "Broken mir with variadic static function pointer"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-22 21:12] panstromek commented on #74655
I also reproduced it on stable.

[2020-07-22 21:13] jonas-schievink commented on #74655
This is fixed on the current nightly.

[2020-07-22 21:13] #74655 closed

[2020-07-22 21:20] WaffleLapkin opened #74656 "Confusing error messages when using wrong trait in fully qualified syntax (`<T as Trait>::Assoc`)"
When, by mistake, you use wrong `Trait` in `type Assoc = <T as Trait>::Assoc;` the errors you get are confusing.

This example:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2f57856abc296d89f9321cc7380d377f))
Gives this error:
[code]

There are 2 problems with it:
1. the error is repeated 3 times
2. the 1-st and 3-rd errors don't point to the place o

[2020-07-22 21:21] #74614 closed

[2020-07-22 21:39] heftig opened #74657 "linker-plugin-lto stopped working in Rust 1.45.0"
After upgrading from Rust 1.44.1 to Rust 1.45.0, Firefox's LTO build failed to link a crate build script with `undefined reference to '__rust_probestack'`.

The system is Arch Linux, which has binutils 2.34, GCC 10.1.0, LLVM 10.0.0, Clang 10.0.0.

Originally posted at https://bugzilla.mozilla.org/show_bug.cgi?id=1640982#c30:

I can replicate the error with rustup and the rusqlite crate (https://gi

[2020-07-22 21:53] kolmogorov-fan-account opened #74658 "Segfault when using an ymm register as an out parameter in an asm! block."
### Code

The following code segfaults when compiled (`rustc asm-avx.rs -C target-cpu=native`)

[code]

Omitting (incorrectly) the register for the inputs and outputs does not cause a segfault.

[code]

`xmm` registers work fine even when they appear in outputs.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

There is no output, `rustc` segfaults before emitting any.

[2020-07-22 22:07] alexcrichton commented on #73591
I've posted https://github.com/rust-lang/rust/pull/74659 to improve the unchecked `-nontrapping-fptoint` case

[2020-07-22 22:09] alexcrichton commented on #73916
I tested this on LLVM trunk and wasn't able to reproduce the same crash, so this will likely get fixed when we update LLVM.

[2020-07-22 22:18] SNCPlay42 commented on #74256
Another case:

[code]

Output ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dade06b0635ac981a756e55f5783e861))

[code]

The error message for `async_fn` refers to returning when no returning is involved!

[2020-07-22 22:22] SNCPlay42 commented on #74256
Output for the async functions in both cases with `#![feature(nll)]`: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6cfe4677e9a4e83a1431ecf0180280d)

[code]

Looks like this can be tagged as fixed by NLL.

[2020-07-23 00:21] #74360 closed

[2020-07-23 01:13] luxxxxy commented on #73908
I am currently adding PAC/arm64e to a [fork using Apple's LLVM](https://github.com/Crabapple-iOS/rust/tree/arm64e-apple-ios). Hopefully some of my work can be reused whenever PAC/arm64e support is upstreamed into LLVM.

[2020-07-23 01:19] luxxxxy commented on #73628
I am currently adding PAC/arm64e to a [fork using Apple's LLVM](https://github.com/Crabapple-iOS/rust/tree/arm64e-apple-ios). Hopefully some of my work can be reused whenever PAC/arm64e support is upstreamed into LLVM.

[2020-07-23 01:32] asgmeonerandom commented on #73628
that's work on jailbreak only?

[2020-07-23 02:04] luxxxxy commented on #73628
That's how I'm testing it. However, most likely, this will also work on Apple Silicon (ARM) macs. Not sure if iOS lets you submit arm64e slice apps to the app store, though.

[2020-07-23 02:33] crlf0710 commented on #66173
I have another idea, which is a larger change itself but i think it is simpler and easier to implement and explain itself:
Introduce a opt-out `Inhabited` marker trait language item in the same way as `Sized`, so there is `Inhabited`, `!Inhabited` and `?Inhabited`. For type variables in generics, they'll be `Inhabited` by default and only opted-out explicitly.

For the type fallback change part, i

[2020-07-23 02:57] jyn514 commented on #74573
Maybe this is related to the shebang parsing? I think that's special cased in the lexer.

[2020-07-23 02:58] #73976 closed

[2020-07-23 02:58] #74612 closed

[2020-07-23 03:08] nbdd0121 commented on #73900
@WaffleLapkin The pattern in #73976 is now forbidden. However you can use this transmute hack:
[code]

[2020-07-23 03:33] lzutao opened #74663 "A lint to warn about generic in alias not used"
Consider [this snippet](https://github.com/snapview/tokio-tungstenite/blob/317569dfe0da6374476bf8048bf861902643b79b/src/connect.rs#L63):
[code]

Which actually does nothing useful but causes confusing such as https://github.com/snapview/tokio-tungstenite/issues/113 .

It would be great to have a lint to warn about this kind of alias.

[2020-07-23 04:56] GabrielMajeri commented on #73993
I've updated to rust version 1.47.0-nightly (bbebe7351 2020-07-22), and tried compiling the crate which was triggering this ICE (`sp-arithmetic`). I no longer encounter an ICE, the crate compiles successfully.

[2020-07-23 05:05] estebank commented on #74365
The entire file is underlined because of `E0601`, not because of the trailing comma. If you add a `main` function the underline will be way more useful. An option would be for `E0601` to only point at the beginning or end of the file.

[2020-07-23 08:11] drahnr commented on #73993
I can confirm `rustc 1.47.0-nightly (bbebe7351 2020-07-22)` is not throwing ICE :+1:

[2020-07-23 08:21] vorner commented on #71983
Hello

Would it make sense to also include similar methods for Rc? And possibly similar ones to both Weaks? It would be in part for the sake of completeness, but I do some manipulation like this in the arc-swap crate and if this would become the „official“ way, it would be nice to be supported on all the related types.

[2020-07-23 08:29] oli-obk commented on #74564
cc @nagisa

for anyone wanting to fix this, these kind of bugs are very easy to fix. You run rustc in `gdb` until you get a stack overflow, then you look at the backtrace and look for recursion in there. Then you break the recursion overflow by inserting a use of https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/stack/fn.ensure_sufficient_stack.html at the recursive call site.

[2020-07-23 09:00] kanru commented on #74564
That sounds a good first bug to me. I'll give it a shot.

[2020-07-23 09:02] Nemo157 opened #74672 "impl Deref for EndianSlice appears in std docs"
`impl Deref for EndianSlice` appears on the current nightly's[`std::ops::Deref` documentation page](https://doc.rust-lang.org/nightly/std/ops/trait.Deref.html#impl-Deref-for-EndianSlice%3C%27input%2C%20Endian%3E), even though it's not part of the (public) standard libraries. This appears to be [`gimli::read::EndianSlice`](https://docs.rs/gimli/0.22.0/gimli/read/struct.EndianSlice.html), so maybe r

[2020-07-23 09:12] matthiaskrgr opened #74673 "diagnostics: rustc displays confusing Ok(#[stable(feature = "rust1", since = "1.0.0")] T) if wrong match binding is used"
If I have a function that returns `Result<(), i32>`  and  try to match on it with `Ok()` instead of `Ok(())` or `Ok(_)`, I get an error:
[code]

The `Ok(#[stable(feature = "rust1", since = "1.0.0")] T),` comes from `std` but I think it can look very confusing to beginners, a simple `Ok(T)` would be much clearer here imo.

code:

[code]

[2020-07-23 09:31] jplatte opened #74674 "const-generic array splitting"
Creating a new issue about const-generic array splitting methods since it's been discussed on the [array_chunks PR](https://github.com/rust-lang/rust/pull/74373), where it really doesn't belong.

We probably want

[code]

The possibility of a variadic array splitting function was also mentioned (at least that's my interpretation) but since there's not even an active RFC about variadic generics, I

[2020-07-23 09:39] RalfJung commented on #71193
I like `no_bytes_init`.

[2020-07-23 09:59] leonardo-m commented on #74674
We also need two or more different use cases.

[2020-07-23 10:26] withoutboats commented on #74674
@DutchGhost pointed out that this could be implemented today by taking 2 const params, but the check that they subdivide the array evenly would have to be a runtime assertion.

[code]

We could add the API on nightly with an awareness that we intend to change the API someday.

[2020-07-23 10:44] #70471 closed

[2020-07-23 10:44] #74519 closed

[2020-07-23 10:50] matklad commented on #74269
I think I won't be working on this directly myself in the nearest future:

1. we do check licenses in rust-analyzer repo
2. rust-analyzer is somewhat provisional at the moment
3. rust-analyzer is a separate workspace, so adding to license check means some "interesting" build system work

That is, it seems relatively low-priority, and with a high chance that something will be changed in the future.

[2020-07-23 11:01] RalfJung commented on #74476
Cc https://github.com/rust-lang/unsafe-code-guidelines/pull/212

[2020-07-23 11:19] XAMPPRocky commented on #27336
I'm going to close this since there seems to be a agreement to close above and there hasn't been any activity since.

[2020-07-23 11:27] DutchGhost commented on #74674
I made an implementation that errors when you specify wrong array lengths!
[code]

[2020-07-23 11:30] RalfJung opened #74679 "Missing unsizing coercions for raw slice pointers"
With https://github.com/rust-lang/rust/pull/73986 having landed, one would expect something like this to work:
[code]
However, this fails saying
[code]
One has to add a `*const [_]` type annotation to force an unsizing coercion for this to work.

[2020-07-23 11:30] lzutao commented on #74573
The unwrap happens here: https://github.com/rust-lang/rust/blob/2bbfa02b1b15974d5772b520aa027bf79f8c248e/src/librustc_session/config.rs#L474
Note that the panic happens if `ifile` is empty.

[2020-07-23 11:32] RalfJung commented on #74265
https://github.com/rust-lang/rust/issues/74679 is a potential blocker for this.

[2020-07-23 11:33] RalfJung commented on #74679
Thanks to @ssomers for finding this problem!

[2020-07-23 11:37] wesleywiser commented on #73993
Great, thank you!

[2020-07-23 11:42] jethrogb commented on #74674
use case: Parsing binary data into structs that contain fixed-length arrays

[2020-07-23 11:43] withoutboats commented on #74674
I think something that uses traits to impose relational const constraints makes more sense outside of std right now.

[2020-07-23 11:46] DutchGhost commented on #74674
yeah, the error message you get when the assert hits is far from pretty and usefull. I'd say its a tradeoff between wanting some ugly compile error whenever the lenghts are wrong, or taking that assertion and finding out the lenghts are wrong during runtime.

[2020-07-23 11:47] leonardo-m commented on #74674
Compile-time errors are better. This means we need to add something to Rust to perform similar static casts in a nicer and shorter way.

[2020-07-23 11:56] withoutboats commented on #74674
@leonardo-m Aren't you the same leonardo from the internals forum who created [a thread](https://internals.rust-lang.org/t/const-generics-where-restrictions/12742) about this exact feature a week ago? I responded there with an explanation of the state of things in regard to that feature.

In any event the "correct" API is not to have two parameters and constrain them, but to derive the length of t

[2020-07-23 12:09] leonardo-m commented on #74674
There I asked for a "where" clause on const integers, while here I've suggested about a more general const_assert that's usable in more/different cases.

[2020-07-23 12:29] JohnTitor commented on #56445
Triage: https://github.com/rust-lang/rust/issues/56445#issuecomment-518402995 is now fixed in the latest nightly (I think it's fixed by #74051).
(And I've hidden comment as resolved to make the un-fixed ICEs easier to find.)

[2020-07-23 13:10] ehuss commented on #74269
No worries, I don't think there is a rush.

Assuming some point in the future, if rust analyzer is added to the workspace and shares Cargo.lock, it will automatically get the license checks.  I'm not sure if sharing the lock is feasible, but it would cut down on some compile times to share common dependencies.

[2020-07-23 14:17] pnadon commented on #73904
Ok sounds good, I'll look into this!

[2020-07-23 14:28] alexcrichton commented on #71060
Ok PR ended up being backed out.

[2020-07-23 14:52] TyPR124 opened #74683 "Failure to recognize and/or unify ! type with impl Trait in return"
I couldn't find an issue exactly like this one, but also probably don't know enough to recognize if any existing issue covered this specific case or not.

I tried this code:

[code]

I expected to see this happen: code to compile, just as this would

[code]

Instead, this happened: code fails to compile, explaining that type `()` does not implement `Drop`

### Meta

`rustc --version --verbose`:
[c

[2020-07-23 14:57] DutchGhost opened #74684 "Broken LLVM with GAT"
I tried this code:

[code]

I expected to see this happen: Throw a bunch of error becouse I wrote wrong types

Instead, this happened: `LLVM ERROR: Broken function found, compilation aborted!`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

Note that this issue *may* be very similar to https://github.com/rust-lang/rust/issues/6864

[2020-07-23 15:01] jonas-schievink commented on #69882
Reopening this to have a canonical issue to direct people to. This is still working as expected for the moment though.

[2020-07-23 15:01] jonas-schievink commented on #74363
Yes, closing in favor of https://github.com/rust-lang/rust/issues/69882

[2020-07-23 15:01] #74363 closed

[2020-07-23 15:01] jonas-schievink commented on #74683
duplicate of https://github.com/rust-lang/rust/issues/69882

[2020-07-23 15:11] jonas-schievink commented on #69882
Actually, let's classify this as a diagnostics enhancement

[2020-07-23 15:17] DutchGhost commented on #44265
You can add https://github.com/rust-lang/rust/issues/74684 as well :)

[2020-07-23 15:17] pnadon commented on #71193
I have also found:
- `inspect_with_undef_and_ptr_outside_interpreter` (line 160)
- `get_bytes_with_undef_and_ptr` (247)
- `allow_ptr_and_undef` parameter for `check_bytes` (312)
- `compress_undef_range` (597)
- and the `undef_end` variable (781)
 for `src/librustc_middle/mir/interpret`, all inside of allocation.rs. Should these be changed as well?

[2020-07-23 15:17] WaffleLapkin commented on #68125
Why only `Iterator::fold_first` was implemented and not `DoubleEndedIterator::rfold_first`? Is it appropriate to make a PR that adds the later method?

[2020-07-23 15:28] #74429 closed

[2020-07-23 15:49] RalfJung commented on #71193
Yes, those all should become "uninit" I think.

For consistency maybe `allow_ptr_and_undef` should become `allow_uninit_and_ptr`.

[2020-07-23 16:13] hellow554 commented on #74092
Hey @yorkart
To help you with this problem (and fix the compiler crash) we need the code that leads to this error. Can you provide it to us?

[2020-07-23 16:29] hellow554 commented on #74684
With `rustc 1.46.0-nightly (346aec9b0 2020-07-11)` I get an ICE

<details>

[code]
</details>

[2020-07-23 16:48] hellow554 commented on #74684
At lesat they are introduced at the very same day. Not sure, why the one ICEs and the other one not. Might be worth investigating?

searched toolchains nightly-2019-01-01 through nightly-2020-07-23

Regression in nightly-2019-12-23
[code]

[2020-07-23 16:50] DutchGhost commented on #74684
@hellow554 your ice with `cargo check` seems similar to https://github.com/rust-lang/rust/issues/68648

[2020-07-23 17:03] petrochenkov opened #74690 "Tracking Issue for tracked access to environment variables from proc macros"
https://github.com/rust-lang/rust/pull/74653 introduces `proc_macro::tracked_env::var` - a new function that is similar to regular `env::var` called from a proc macro, except that it also adds the accessed variable to depinfo.

This way build system executing the compiler will know that the variable was accessed during compilation, and will be able to rerun the build when the value of that variabl

[2020-07-23 17:37] rphmeier opened #74691 "rustc should probably warn on anonymous, unused closure statement"
Not quite sure how to name this issue, please change the title to something more accurate!

Recently ran into this issue:

[code]

The boolean statement was long, so I broke it out onto a new line. However, I accidentally added the annotated semi-colon. The `|| true` line is interpreted as an anonymous closure statement (no let binding, not even a callable closure) as opposed to a boolean OR.

Whe

[2020-07-23 17:39] rphmeier commented on #74691
After playing around a bit, it seems like one way to accomplish this would be to make the anonymous closure types `#[must_use]`. Would that be a reasonable approach? What are the downsides?

[2020-07-23 17:50] jyn514 commented on #74691
must_use is clever, I like that! Closures have some special casing in the compiler though, so I'm not exactly sure how to implement it, it would be a change to rustc and not to libstd.

[2020-07-23 18:36] ayrtonm commented on #72217
I'd like to work on this
@rustbot claim

[2020-07-23 18:37] joshtriplett commented on #27336
For anyone following this who may wish to start a new effort to solve it (which should probably begin with a lang MCP), one of the biggest use cases is adding a new type parameter to an existing type, without breaking semver compatibility.

[2020-07-23 18:42] estebank commented on #72217
@ayrtonm do not hesitate to reach out if you need help!

[2020-07-23 18:59] ayrtonm commented on #72217
Do we need to get the correct prefix strings from the contents of `ValuePairs::TraitRefs` or are they just `"trait"`?

[2020-07-23 19:07] estebank commented on #72217
I believe they can be just "trait".

[2020-07-23 19:28] oli-obk commented on #68436
# Summary

General information from this thread that I believe everyone considers true, correct me if I overread something.

1. Inferring bounds means changes in function bodies affect the API without you specifying that (so semver problematic)
2. Neither inferring bounds nor requiring users to write bounds leads to post-monomorphization errors
3. Post monomorphization checking for generic const p

[2020-07-23 19:36] alexcrichton commented on #73591
Ok, I've improved the last case at https://github.com/rust-lang/rust/pull/74695 and I think that's good enough to close this out.

[2020-07-23 19:47] maplant commented on #68436
So for proposal 2, would the following be valid?

[code]

I like this, because I believe that it would require all const-generic constructions of this type to carry this bound. For example:

[code]

[2020-07-23 19:51] felix91gr commented on #68436
I wonder if there's a way to break Proposals 2 and 3 by using some sort of control flow. I'm thinking of something like the following:

[code]

It should be noted that `foo` is always well-formed, but if you naïvely bubble up the restrictions of `foo`, you'd end up needing to satisfy `where (25 / C)` for all values of C, including `0`, which does not need that restriction.

I think this can work f

[2020-07-23 20:04] wulymammoth commented on #66513
Just encountered this issue on a virtual machine using Vagrant/VirtualBox:
[code]

**VM**
`Linux version 4.17.14-2ep.el6.x86_64 (vagrant@<redacted>) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-23) (GCC)) #1 SMP Thu Aug 9 22:58:00 UTC 2018`

**My (host) machine**
macOS (10.15.6 / Catalina) host machine, but it builds fine on the host.

To resolve it @chris-morgan, thankfully, pointed out that it's r

[2020-07-23 20:06] lcnr opened #74696 "Errors in constants and promoteds stop compilation (via deny-by-default lint) even in dead code"
example by @felix91gr
[code]
Note that this currently requires `allow(const_err)` because `25 /C` would panic at runtime.
This is however fine as it isn't reachable because of `C > 0`.

We probably should relax this slightly here, not sure what's the best approach though

**Other example (by @RalfJung)**
[code]

[2020-07-23 20:07] Avi-D-coder commented on #68436
Additionally with  2 and 3, what happens with recursion, const closures and loops?

[2020-07-23 20:07] estebank commented on #74673
Cc https://github.com/rust-lang/rust/issues/65515

[2020-07-23 20:10] felix91gr commented on #74696
For what it's worth: it works fine for me in a nightly playground. I'm assuming the current `const_err` feature is not in nightly yet, right? @lcnr, and that's why it currently builds?

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c1e04dc98cd3d125da836c4b1d5b147

[2020-07-23 20:11] lcnr commented on #74696
It works because I added `#![allow(const_err)]`. Remove that line and you get an error

[2020-07-23 20:13] felix91gr commented on #74696
AHH, I thought that flag was to enable the `const_err` checking :smile:

Here's the playground then, with the error enabled :3 https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=28ae219a9e7d1054cb7009c5bb254686

[2020-07-23 20:15] lcnr commented on #68436
Let's start with a  huge thanks to @oli-obk for the writeup :heart:

Answering the two questions posed after this writeup:

@maplant `pub type TruncatedVector<T, const N: usize> where (N - 1) = Vector<T, { N - 1 }>;` will work with proposal 2 (which I very strongly favor).

@felix91gr's example is a lot more interesting and had me shortly worried :sweat_smile:

So first of all using const generic

[2020-07-23 20:15] jyn514 opened #74697 "Add a spell checker for libcore/libstd documentation"
From #74141:

It would be great to have a tool that automated spell-checking for the docs. @pickfire suggested `cargo spellcheck` which [had some trouble](https://github.com/rust-lang/rust/pull/74141#issuecomment-663113306) with bootstrap. Maybe we could somehow modify it to work with bootstrap so it runs as part of `tidy`?

[2020-07-23 20:39] felix91gr commented on #68436
@lcnr nice! I think I get the idea.

So, any... variants, let's say, in particular types, that depend on type parameters that are const-generic or const-generic based, should always depend on a `const fn`. That's how we would solve it, is that correct?

I think there is a secondary benefit to that, which is that `const fn` always terminate (as far as I'm aware at least, by the restrictions imposed

[2020-07-23 21:19] ayrtonm commented on #72217
#74698

[2020-07-23 21:22] lcnr commented on #68436
Not necessarily, the only hard requirement on expression used as a const generic parameter is that they are evaluatable at compile time, so we could also write the above example like this:
[code]
Due to implementation reasons we may forbid using complex conditionals directly in non concrete const parameters, but in this case it should be quite easy to get a helpful error recommending the user to p

[2020-07-23 21:30] newpavlov commented on #68436
@oli-obk
Thank you for the summary! IIUC the main concern regarding Proposal 1 is quality of compiler errors and an ability of early error detection.

I prefer the third proposal, but with an ability to work across crate boundaries. Bubbling const constraints is a mechanical work which can be handled perfectly by compiler, in other words Proposal 2 not only will clutter public signatures with most

[2020-07-23 21:55] lcnr commented on #68436
Proposal 1 means that we can't catch these errors using `cargo check` because they happen during codegen.

There are apparent good reasons for why it is better to explicitly mention any guarantees of your API. These reasons might not be good enough to offset the cost of writing what's essentially boilerplate but we should not pretend that they don't exist.

What do you mean with other CTFE here? I

[2020-07-23 22:03] jyn514 commented on #74672
Relevant PRs (backtrace isn't really to blame here): https://github.com/rust-lang/rust/pull/73771, https://github.com/rust-lang/rust/pull/74534

[2020-07-23 22:04] jyn514 commented on #74672
https://github.com/rust-lang/rust/pull/74534/files#diff-d50f12822c671ab606392686fa769b98R349-R353

Maybe this should also skip the impl if there is no 'stability' attribute?

[2020-07-23 22:09] jyn514 commented on #74672
This is the default for everything not in the standard library. So it seems like the standard library needs special casing here. Maybe as simple as `|| cx.tcx.crate_name(LOCAL_CRATE) == "core" && stab.is_none()`?

[2020-07-23 22:15] estebank commented on #59713
Current output:

[code]

[2020-07-23 22:26] bjorn3 commented on #74672
Doesn't gimli get everything marked as unstable behind the rustc_private feature gate through a rustc flag?

[2020-07-23 22:54] scottconstable commented on #74632
I created a patch that should fix the overhead caused by X86LoadValueInjectionLoadHardeningPass::elimMitigatedEdgesAndNodes()
https://reviews.llvm.org/D84471

A complete solution will also require a patch to address the complexity issues in RDF.

[2020-07-23 23:01] Dylan-DPC commented on #74539
here is another one: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3f27a7faf85be38c646a6427b25b59c9 (assuming related)

[2020-07-23 23:03] rodrimati1992 opened #74701 "Confusing error message for `Foo{ bar @ .. }` pattern"
This erroneous code:
[code]

Produces this error message
[code]

It would be better if instead it produced an error message like this:
[code]

### Meta

Tried the code in these Rust versions and they all produced the same error message:

- 1.37.0 stable

- 1.45.0 stable

- 1.46.0-beta.1 (2020-07-15 e51b714db8ff82ac38ea)

- 1.47.0-nightly (2020-07-22 bbebe7351fcd29af1eb9)

[2020-07-23 23:23] namibj opened #74702 "ICE with the `(foo @ ..,)` pattern"
Closely related to #74539, where the `foo @ ..` was inside an _EnumItemTuple_ pattern, instead of a plain Tuple pattern.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bc403f81cedd9fa5c4cec7ce80dc3e90))

`rustc --version`:
[code]

Errors:

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-07-24 00:06] tmandry commented on #74047
I did some digging here. The source of the panic is here, during HAIR construction:

https://github.com/rust-lang/rust/blob/0820e54a8ad7795d7b555b37994f43cfe62356d4/src/librustc_mir_build/hair/pattern/mod.rs#L512-L515

In this case, the binding `err` below is of the error type (meaning type check for it failed). By replacing the binding with `_` we prevent a local from being created for it, which

[2020-07-24 00:44] newpavlov commented on #68436
Yes, but it's not a good reason for _requiring_ bounds for const expressions used in types. Robust code ideally should produce correct results for any combination of input value and generic parameters constrained by types and bounds, but in practice for various reasons we allow run- and compile-time failures. Imagine code like this:
[code]
Why we _have_ to properly constrain `M`, but not `N`? Also

[2020-07-24 01:14] frewsxcv commented on #39916
first class support for fuzzing was recently proposed for go https://go.googlesource.com/proposal/+/master/design/draft-fuzzing.md

[2020-07-24 02:14] youknowone commented on #71988
I am getting similar experience in other rust project, so happy to see Github is looking into this issue.

[2020-07-24 03:22] jyn514 opened #74704 "Don't run allowed lints"
First noticed in https://rust-lang.zulipchat.com/#narrow/stream/247081-t-compiler.2Fperformance/topic/Output.20of.20.60collector.20eprintln.60/near/204875468. If a lint is allowed, there is no need to run the lint pass. This could have large performance improvements for any crate where all lints are allowed (e.g. any dependency compiled by cargo, which uses `--cap-lints allow`).

As a first pass t

[2020-07-24 03:31] felix91gr commented on #68436
A small aside.

@newpavlov wrote:

Is this true?

Because if so, I guess you could impose arbitrary constraints on const parameters, by making functions in `where` clauses miscompile:

[code]

[2020-07-24 03:42] memoryruins commented on #68436
@felix91gr 👍 https://github.com/rust-lang/rust/issues/51999

[2020-07-24 03:45] felix91gr commented on #68436
**Holy heck**. Okay, I love it. I will use the crap out of these `where` clauses, if they end up being part of the solution in some shape or form.

(Thank you @memoryruins for the heads up 💐 )

[2020-07-24 05:17] dtolnay opened #74705 "Tracking issue for new LLVM pass manager (-Znew-llvm-pass-manager)"
This is a tracking issue for rustc's use of the new LLVM pass manager, which is currently behind an unstable rustc flag `-Znew-llvm-pass-manager` but which we will presumably want to make default at the right time, just like Clang intends to do.

When building with `-Znew-llvm-pass-manager`, both the pre-link optimization and LTO pipelines use the new pass manager.

There are some bits that are no

[2020-07-24 05:33] tmandry commented on #70651
I'm really glad this effort is underway. On Fuchsia we try to roll to a new tip-of-tree rust compiler every few weeks, which helps with catching bugs. If we could we'd roll more often. But the main thing slowing us down is the constant state of toolstate breakage.

Some of this (like rustfmt) we can work around in practice by distributing separate versions, but it's a pain to set up and maintain.

[2020-07-24 07:03] dvyukov commented on #39916
For completeness, Go support was proposed long long time ago:
https://docs.google.com/document/u/1/d/1zXR-TFL3BfnceEAWytV8bnzB2Tfp6EPFinWVJ5V4QC8/pub
https://github.com/golang/go/issues/19109
This new one is a respin.

[2020-07-24 07:10] Aaron1011 opened #74706 "Suggest reborrowing mutable reference when move error ocurrs"
The following code:

[code]

produces the following error:

[code]

When `self` is passed directly to `use_val` (e.g. `use_val(self`), a reborrow will automatically be inserted, allowing the code to compile. However, the fact that `use_val` takes an `&mut T` means that the compiler won't adjust the inferred type in any way (in this case, `&mut Wrapper<&mut Foo>`), leading to the move error.

The s

[2020-07-24 07:17] t-rapp commented on #59359
I think for files there could be a specialized `File::position()` method that takes an immutable `&self`, similar to the existing `Cursor::position()`. As the `Seek` trait is more general (and due to API stability) the `Seek::stream_len()` and `Seek::stream_position()` convenience / optimization function unfortunately requires a mutable borrow. They are still useful, in my opinion.

[2020-07-24 07:28] nikic commented on #74705
While it's supported in LLVM 10, it's not exposed as a PassBuilder option. So we'd have to manually schedule the pass, or add that option upstream.

[2020-07-24 07:51] dylanmckay commented on #44052
Alright, update time.

**All of the required patches for AVR exist in the current Rust nightly compiler** as of today's nighty `rustc 1.47.0-nightly (0820e54a8 2020-07-23)`. The Rust nightly compiler, without modification, can now compile the LED blink example successfully and generate an AVR ELF file.

* New, centralized project landing page created at [https://avr-rust.com/](https://avr-rust.com

[2020-07-24 07:51] #44052 closed

[2020-07-24 07:57] oli-obk commented on #68436
Can you give an example of an existing bloaty `typenum` using function and convert that to proposal 2 so so we have an actual example to talk about?

[2020-07-24 08:03] oli-obk commented on #70651
We've [protyped this with clippy](https://github.com/rust-lang/rust-clippy/issues/5565) but are waiting for an [upstream fix to `git subtree`](https://github.com/gitgitgadget/git/pull/493) before it becomes feasible for the rustc repo without a patched `git`

[2020-07-24 08:04] newpavlov commented on #68436
@oli-obk
I am not sure if it's exactly what you want, but here is one [example](https://github.com/RustCrypto/block-ciphers/blob/master/gost-modes/src/cfb.rs#L22). In it I am explicit about bounds because I use `u8` for cursor, with `usize` it could've been simplified a bit.

[2020-07-24 08:08] petrochenkov commented on #74702
To the future fixer - resolve is not a good place to fix this issue, https://github.com/rust-lang/rust/pull/74557 should probably be reverted and the fix should be applied to some other place (e.g. AST lowering).

[2020-07-24 08:15] oli-obk commented on #68436
So... I think there has been a major miscommunication due to the lack of examples in this issue. I apologize. The example below is what I had in mind the whole time, and I should have communicated that better. You basically end up with a single bound, and that bound conveys everything in a readable manner which took me a bit to untangle in typenum.

Before (with typenum):

[code]

After (with prop

[2020-07-24 08:41] matklad commented on #74465
Let's cross-out the "should get be blocking?" concern. I decided against this for once_cell, for the following reasons:

* it's makes Clone, Eq, Debug blocking, which is surprising
* the original issue that prompted this question used Lazy, and Lazy is immune from this issue, as it always uses blocking `get_or_init`.

[2020-07-24 08:48] jakubadamw commented on #74702
@petrochenkov, this would normally be invalid syntax, much like [in this case](https://github.com/rust-lang/rust/issues/74701). The only reason it is accepted as far as the parsing, resolve and/or AST lowering is so that the error message is more informative. Therefore, while the syntactic form is carried over further into the compiler pipeline for this very purpose, it seems reasonable to reject/

[2020-07-24 08:51] matklad commented on #74465
Added two more open questions from the RFC.

[2020-07-24 09:03] RalfJung opened #74709 "Do not build nightly-only tools on beta/stable CI"
Currently, we build nightly-only tools such as Miri even on beta/stable CI, only to then ignore whether they build or not. That seems like a waste. We certainly do that for the tools builders (that also run the tests); I do not know if we also do it for dist builders (that just build the tools to put them into rustup packages).

https://github.com/rust-lang/rust/pull/74389 is the beginning of fixi

[2020-07-24 09:07] RalfJung commented on #74446
Indeed. Condition (a) that I listed above is recursive, but condition (b) is not as `PartialEq` could be overwritten to not match value tree equality any more.

I am confused by this and the rest of your post, what do you mean here? It all seems to pertain only to matching and not do const generics?

What exactly is this working around?

[2020-07-24 09:18] oli-obk commented on #74446
Well, either we find rules that apply to both (which my post was assuming), and thus we can't leave out patterns, or we need to find different rules for patterns and const generics.

If you change the constants to use `Wrap` directly instead of `&Wrap`, you get a hard error

[2020-07-24 09:37] pickfire commented on #74697
Maybe we should also ping the author here @drahnr. He may have some ideas?

[2020-07-24 09:56] RalfJung commented on #74446
Oh I see. So somehow the "structural equality" test for matching assumes that all references have structural equality? That seems like a rather gaping hole in this story.^^

[2020-07-24 10:03] drahnr commented on #74697
@pickfire @jyn514 glad to hear there is interest in using `cargo-spellcheck`

The error you see is very most likely caused by an older version which had issues resolving, note that I plan to release `v0.3.0` is planned for this WE / early next week which should resolve quite a few issues. In the meantime you could give yesterdays alpha release a shot which should have the traversal fixes already a

[2020-07-24 10:10] pickfire commented on #74697
@drahnr What do you think?

[2020-07-24 10:19] drahnr commented on #74697
@euclio already said in https://github.com/rust-lang/rust/pull/74141#issuecomment-663180481 it should not be required anymore since `v0.3.0-alpha.4` / c041dca66b966610d216ec23aeb4cf386adcf54a which incorporates the latest `hunspell-sys` which uses `cc` without any `C`-buildtools to create the static lib from hunspell source files, so that should be :ballot_box_with_check: if not please open a tick

[2020-07-24 10:24] alecmocatta opened #74711 "Segfault with increased recursion_limit"
I would expect `rustc` to error with "overflow evaluating the requirement", or compile without issue. Instead it segfaults.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f0e40d318ed693e48c8af23ab7cad005))

Errors:

[code]

[2020-07-24 10:30] varkor commented on #27336
Presumably there's some overlap here with https://github.com/rust-lang/wg-allocators/issues/2, though I haven't been following this issue closely.

[2020-07-24 10:51] jethrogb commented on #74632
@jberci would you be able to test your build with Scott's patch?

[2020-07-24 11:09] pickfire commented on #74697
It doesn't work and probably displayed the wrong error.

[code]

[2020-07-24 11:14] giftal commented on #73725
Folks, any update here or plans?

[2020-07-24 11:27] oli-obk commented on #74446
You're very welcome to help fix this hole by reviewing https://github.com/rust-lang/rust/pull/70743 ^^

[2020-07-24 11:44] JohnTitor commented on #63340
Triage: Let's clean-up assignment.
@rustbot release-assignment

[2020-07-24 11:46] drahnr commented on #74697
@pickfire could you please open an issue with information on how to reproduce and commit sha / release so I can test this reproduce this?

[2020-07-24 11:47] JohnTitor commented on #62581
Triage: I'm going to release assignment due to inactivity.
@samsartor If you're still interested in this, feel free to re-claim.
@rustbot release-assignment

[2020-07-24 11:47] RalfJung commented on #74446
That seems to be about what actually happens during pattern building though? What I would have expected is a test there that shows that a constant of type `&NonStructuralEqType` is no longer accepted as a pattern.

[2020-07-24 11:48] JohnTitor commented on #62490
Triage: I'm going to release assignment due to inactivity.
@afnanenayet If you're still interested in this, feel free to re-claim.
@rustbot release-assignment

[2020-07-24 11:53] JohnTitor commented on #67347
Triage: I'm going to release assignment due to inactivity.
@hellow554 If you're still interested in this, feel free to re-claim.
@rustbot release-assignment

[2020-07-24 11:53] oli-obk commented on #74446
well, that's what's happening now, because we're essentially doing the const to value tree conversion, but the value tree is the pattern data structure. So if we move to actual value trees, we'll have a unified system and the value tree -> pattern conversion will become trivial and infallible. Though there's also the open question of whether it's ok to have `NonStructuralEqType`s in patterns and j

[2020-07-24 11:55] JohnTitor commented on #68972
Triage: I'm going to release assignment due to inactivity.
@hirschenberger If you're still interested in this, feel free to re-claim.
@rustbot release-assignment

[2020-07-24 12:00] RalfJung commented on #74446
I guess it depends on what you mean by "okay". I think it is "okay" for soundness as long as we ignore those arms for exhaustiveness checking. But we have an RFC with the clear intent of not allowing such matches. OTOH, the implementation of that RFC seems to have gaping holes.

[2020-07-24 12:01] JohnTitor commented on #61132
Triage: I'm going to release assignment due to inactivity.
@jumbatm If you're still interested in this, feel free to re-claim.
@rustbot release-assignment

[2020-07-24 12:21] canova commented on #55214
@dtolnay Hi, I’m interested in working on this but I have a question regarding the implementation. I guess we can implement this in two ways. First one is implementing like the example in the first comment, like returning `Map<IntoIter<K, V>>`. And the second option is to return a struct of its own (like a mixture of [IntoIter](https://github.com/rust-lang/rust/blob/4fb54ed484e2239a3e9eff3be17df00

[2020-07-24 12:25] jumbatm commented on #61132
I'm still actively working on this. Sorry I've been taking so long -- I'll hurry up and get a PR in soon.

@rustbot claim

[2020-07-24 13:11] DutchGhost opened #74713 "debug-assertion ICE: `assertion failed: !value.has_escaping_bound_vars()`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

New backtrace: https://gist.github.com/JohnTitor/8b492f5d69b0b704d618c11da81c05ff

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This probably is the same as found in https://github.com/rust-lang/rust/issues/70292, except *this* hits on stable :)

[2020-07-24 13:27] sfackler commented on #72175
#74699 would provide a more concrete source of UB if FromRawFd is misused.