[2022-10-13 00:00] SoniEx2 commented on #102810
also it's not similar to ManuallyDrop: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ef62faa188b41fd69f1561da05605db6

[2022-10-13 00:02] SumiGovindaraju commented on #102549
Hey, just was wondering if there was an update on this.

[2022-10-13 00:05] slondr opened #102993 "ELF binary built linked against fake loader"
hi, I'm compiling a Rust program on my ARM AArch64 machine which is running linux with a musl libc. Rust wants to compile the binary with the interpreter set as `/lib/ld-linux-aarch64.so.1` which does not exist on my system. I do have `/lib/ld-musl-aarch64.so.1` however.

As a result when I try to execute the binary built by rust in this case I just get ENOENT. In fact when I `strace ./binary` the

[2022-10-13 00:09] #101665 closed

[2022-10-13 00:40] thomcc commented on #102549
`cfg!(target_thread_local) == false` is definitely not expected on aarch64 macOS. And I'm fairly sure it has not been broken on nightly...

[2022-10-13 00:51] yash-dani commented on #95698
There doesn't seem to be a PR associated with this issue, @vincenzopalazzo @jyn514 can I claim this?

[2022-10-13 00:55] Amanieu commented on #43596
There are 2 levels of allocation when panicking, first a `Box<String>` or `Box<&str>` must be allocated to hold the panic message. Then (with dwarf unwinding) an exception objects needs to be allocated on the heap, which holds the `Box<Any>`.

[2022-10-13 00:57] nbdd0121 commented on #43596
The exception object doesn't need to be allocated on the heap. It can be `#[thread_local]`.

[2022-10-13 00:58] nathanwhit commented on #100513
@rustbot claim

[2022-10-13 00:58] ojeda commented on #78695
The start/end behaves differently, which is confusing, e.g. this:

[code]

will render 2 blank lines on top, but only 1 on the bottom.

[2022-10-13 01:05] Amanieu commented on #76001
That's ugly, but workable. I guess I can get rid of another nightly feature.

[2022-10-13 01:22] ojeda opened #102996 "rustdoc: inconsistent number of blank lines rendered top/bottom"
I tried this code:

[code]

I expected to see this happen: the same number of blank lines rendered on the top and bottom (0, 1 or 2 depending on what rule is followed).

Instead, this happened: currently it renders 2 on top, but 1 at the bottom, which is confusing.

I assume the idea is that the user does not add any blank line at all. However, since leaving 1 line in the bottom renders fine (even

[2022-10-13 01:29] robertbastian opened #102997 "Niche optimisation with disjoint tags"
These two types *could* be laid out the same. However, the second type makes it explicit that the tag is logically split across different bytes. Is this something we'd be okay with the compiler doing on its own? Inspecting the next part of the tag might require an extra load.

[code]
https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=a15d6b9d5389d781c5d778b250a02627

[2022-10-13 02:37] compiler-errors commented on #102986
cc @WaffleLapkin :smile:

[2022-10-13 02:37] compiler-errors commented on #102986
This really should fail before rustdoc gets to it, unless rustdoc has a `ty::Error` representation :thinking:

[2022-10-13 02:38] SumiGovindaraju commented on #102549
I'm not super familiar with this, so how/where is `target_thread_local` set? Could I set that to be true somehow?

[2022-10-13 02:39] compiler-errors commented on #102969
@andydGoram please open up a new issue if you actually found an compiler panic, thanks!

[2022-10-13 02:39] #102969 closed

[2022-10-13 02:40] compiler-errors commented on #102973
Yup it's a duplicate.

[2022-10-13 02:50] dpc commented on #102973
Closing then.

[2022-10-13 02:50] #102973 closed

[2022-10-13 03:10] thomcc commented on #102549
It should be set with your target definition, which isn't something you can change. What does `rustc --print cfg` output for you?

[2022-10-13 03:11] SumiGovindaraju commented on #102549
Output of `rustc --print cfg`:
[code]

[2022-10-13 03:16] thomcc commented on #102549
Yep, nearly identical to mine... [except that I have `target_thread_local` set](https://www.diffchecker.com/sObb1qBD).

I guess I'll look into rustc-target tomorrow to see if there's some weird logic you're falling through, but this really makes no sense.

[2022-10-13 03:24] thomcc commented on #102549
Hmm, do you happen have `MACOSX_DEPLOYMENT_TARGET` set in your environment? We do change the availability of thread locals based on this, if it's set to a version prior to when static thread locals worked at all.

We probably should not do this on aarch64, since all versions of macOS on this platform have thread locals (and once https://github.com/rust-lang/compiler-team/issues/556 happens we perh

[2022-10-13 03:30] georgemp commented on #21727
As an alternative (if you don't mind using nightly rust), we can also specify a `custom-target-spec`. The current target spec for iOS can be printed out via `rustc +nightly -Z unstable-options --print target-spec-json --target aarch64-apple-ios`. To these specs, add the flag `dynamic-linking: true`. I have the following saved in file `aarch64-apple-ios-dynamic.json`

[code]
A dynamic target can th

[2022-10-13 03:31] SumiGovindaraju commented on #102549
`MACOSX_DEPLOYMENT_TARGET` is set to 10.6.

I got Rust using `rustup`.

[2022-10-13 03:32] thomcc commented on #102549
Okay that's your problem. You should unset that environment variable.

[2022-10-13 03:33] #102157 closed

[2022-10-13 03:34] thomcc commented on #102549
FWIW, rust's oldest supported version of macOS is 10.7, and the oldest version we support on aarch64 targets is 11.0.

[2022-10-13 03:36] SumiGovindaraju commented on #102549
Alright, that worked. Thanks for your help!

[2022-10-13 03:36] #102549 closed

[2022-10-13 03:48] pcc opened #103001 "Synthetic object files disable control flow protection features"
I noticed that the synthetic object files added in #95604 will disable the IBT (on x86, enabled by `-Z cf-protection=branch`) and BTI (on AArch64, enabled by `-Z branch-protection=bti`) features because the object files are missing `.note.gnu.property` sections indicating that the object file is compatible with those features. Normally, if an object file is missing a `.note.gnu.property` section,

[2022-10-13 05:13] WaffleLapkin commented on #102986
An (the?) interesting bit here is that it's a very recent regression, for instance `nightly-2022-10-11` does not produce an ICE:
[code]

[2022-10-13 05:43] hellow554 opened #103004 "Methods are not shown for pub type that is imported from other crate"
### Location
I searched for `FatalError` in the rustc docs: https://doc.rust-lang.org/nightly/nightly-rustc/?search=fatalerror
The first two results are the interesting ones: [`rustc_errors::FatalError`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_errors/struct.FatalError.html) and [`rustc_span::fatal_error::FatalError`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/fatal_er

[2022-10-13 06:37] #102427 closed

[2022-10-13 06:37] #102964 closed

[2022-10-13 07:35] RalfJung commented on #86730
@rust-lang/lang https://github.com/rust-lang/lang-team/issues/111 has been closed, so what is the plan to make progress here? This seems to be one of the last blocking issues for inline const expr.

[2022-10-13 07:37] zseri commented on #43596
@nbdd0121 What if the exception object is subsequently passed across a thread boundary, and the thread later terminates while the exception object is still present on some other thread stack or heap?

[2022-10-13 07:41] vincenzopalazzo commented on #95698
There is some work on my side on this reported in the [zulip chat](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/rustc_expand.20keep.20into.20count.20expansion.20limit.20also.20the) and I have some half workaround.

However, my solution it is not super clean, do you have the solution on how to implement it? if yes, so feel free to claim it and can you ping me when you open

[2022-10-13 08:50] SoniEx2 commented on #102810
even more surprising is the behaviour of 0-length arrays:

with drop sibling: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a2e6095c7257fe95f3d07abc33b6417f
without drop sibling: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9810be804c68884cf6b2071f8bd4ad2a

note that 0-length arrays are not copy: https://github.com/rust-lang/rust/issues/94313

[2022-10-13 09:18] apiraino commented on #99656
Discussed in T-compiler meeting ([notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-10-06/near/302674247)), namely this part:

@rustbot label -i-compiler-nominated p-high -p-medium

[2022-10-13 09:33] apiraino commented on #102174
Discussed during T-compiler meeting ([notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-10-06/near/302674247))

@rustbot label -i-compiler-nominated

[2022-10-13 11:55] Amanieu commented on #43596
Libunwind exception objects can't be sent to another thread. They are freed when the exception is caught an not rethrown.

However the process of unwinding could trigger additional memory allocations due to drop impls, which could cause another out-of-memory exception to be thrown. C++ handles this by only having one OOM exception object in TLS, if that one is already taken then the exception is a

[2022-10-13 15:02] Nilstrieb commented on #77745
I'm interested in writing an RFC for allowing this (assuming no one else is working on one already). I'll reach out on Zulip once I have the first draft for feedback (feel free to reach out to me before that if you want to tell me something important about it) 🙂

[2022-10-13 15:34] nikic commented on #90595
Upstream patch: https://reviews.llvm.org/D135886

[2022-10-13 16:11] robertbastian commented on #102997
@mikebenfield

[2022-10-13 17:10] lyming2007 commented on #102972
@rustbot claim

[2022-10-13 17:52] compiler-errors commented on #102986
This regressed in #102890 cc @camsteffen

[2022-10-13 18:08] #102933 closed

[2022-10-13 18:08] #102946 closed

[2022-10-13 18:08] #102978 closed

[2022-10-13 18:08] #102985 closed

[2022-10-13 18:08] #102959 closed

[2022-10-13 19:17] vincenzopalazzo commented on #95698
@rustbot label -E-easy

This require to develop a new attribute for the rustc

[2022-10-13 19:30] navh commented on #102808
[code]

gives me
[code]
Not the `could not compile` you got.

The suggested byte grouping `_0f32` no longer looks like looks like a type annotation, but nothing at all shows up if someone uses x = 0x10f32, they may expect it to behave the same as y=10f32.

[2022-10-13 19:36] zseri commented on #43596
wouldn't it make more sense to collapse multiple out-of-memory exceptions into one (or, like, have a simple counter for the occurrences, not that it matters much), and stop executing that drop impl (I'm not sure how that would affect invariants and such, but the unwinding would be there either way, so I don't think it would change much), are there downsides to that besides even more unpredictable

[2022-10-13 19:51] bjorn3 commented on #43596
This breaks the pinning invariant for things on the stack that are pinned and as such is unsound.

[2022-10-13 20:08] camsteffen commented on #102986
Hmm I don't know how that caused it.

[2022-10-13 21:09] compiler-errors commented on #102993
See #82519 I think.

[2022-10-13 22:26] Be-ing commented on #99427
I think `-l link-arg` may have an unintended side effect: when build scripts run `println!("cargo:rustc-link-lib={some_value}")` to get cargo to call rustc with `-l`, cargo transitively passes the `-l some_value` down to the crates' reverse dependencies. By contrast, using the recently stabilized `cargo:rustc-link-arg`, which passes `-C link-arg` to rustc, [cargo does not pass the linker argument

[2022-10-13 23:08] anforowicz opened #103027 "ICE (failed to get layout for `[type error]`) when attempting to doc-test an internal struct of rustfmt"
### Code

To repro, try the following steps:

1. Get a local copy of https://github.com/rust-lang/rustfmt.git
2. Apply the patch from https://github.com/anforowicz/rustfmt/tree/doc-test-ice-repro (see the `git diff` output below)
3. Run `cargo test` against `rustfmt`

I haven't yet tried minimizing this example, because it seems that part of the repro may require depending on the internal `rustc_f

[2022-10-13 23:11] anforowicz commented on #103027
Ooops... I see that this is probably a duplicate of issue #102366

[2022-10-13 23:11] #103027 closed

[2022-10-13 23:37] jhodapp opened #103028 "Running cargo doc fails to generate with thread panic"
### Code

The following GitHub repository contains the Rust/cargo project that fails to generate cargo docs.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-14 00:01] kubycsolutions opened #103030 "E0603 trims comment off caller line"
Compiling one of the module examples from the book, I got the expected "private function" error... but what I didn't expect is that when displaying the caller, the error message shows only the call itself.

I had put comments on the relevant lines:
`    mod inside {		// private`
and
`    outermost::inside::secret_function(); // should err`
and the error output was
[code]
I can see why that might b

[2022-10-14 00:16] vincenzopalazzo commented on #102383
Minimal Exaple to reproduce it

[code]

[2022-10-14 00:22] est31 commented on #98361
I've made a PR to turn off the lint in this instance: #103031

The ideal fix would be to check for usages in the prefix of the bindings created by the match, but this is better than the status quo as for lints, a true negative is better than a false positive.

[2022-10-14 00:38] pcwalton commented on #73632
Hello! I've posted [a pre-RFC for minimal stabilization of the `rlib` format](https://internals.rust-lang.org/t/pre-rfc-stabilize-a-version-of-the-rlib-format/17558) on internals. Please feel free to comment there. Thanks!

[2022-10-14 01:02] kubycsolutions opened #103032 "Line numbers in error messages?"
(Caveat: Experienced coder, rust novice.)

I tried running `cargo build` on this `lib.rs` file (very slightly modified from what's in the beta version of the book rewrite):

[code]

I expected to see errors reported on lines 28, 31, and 33 (the ones marked `// should err`)

Instead, the errors seem to be being reported on lines 17, 20, and 21, assuming I'm understanding your error syntax correctly

[2022-10-14 02:07] IoIxD commented on #93633
As mentioned in one of those duplicate issues, running `cargo clean` and rebuilding solves the issue.

[2022-10-14 02:19] nathanwhit commented on #100276
@rustbot claim

[2022-10-14 02:20] chenyukang commented on #103030
I guess comments are removed after lexing phase finished?
And yes, if there are multiple line for a comment, it will be annoying for diagnostics.

[2022-10-14 02:23] kubycsolutions commented on #103030
The error message includes them in the definition line...

There's a separate issue opened about the fact that line numbers are getting out of synch, which may
be related.

Most compilers have found ways to handle this better. Rust should be able to.

[2022-10-14 02:25] kubycsolutions commented on #103032
May be related to #103030

[2022-10-14 02:25] kubycsolutions commented on #103030
May be related to  #103032

[2022-10-14 02:52] compiler-errors commented on #102965
Yup, fixed.

[2022-10-14 02:52] #102965 closed

[2022-10-14 03:58] SagnikHajra commented on #76869
Also faced the same issue. I was using VS code.
`>>> for i, line in enumerate(open("hello.rs")):
...  print(line)
...
ÿþfn main() {`

No idea how did I end up with "ÿþ". Created a new file and it worked.

[2022-10-14 04:16] #100267 closed

[2022-10-14 04:16] #101940 closed

[2022-10-14 04:16] #102986 closed

[2022-10-14 04:16] #102510 closed

[2022-10-14 04:16] #102649 closed

[2022-10-14 04:16] #102389 closed

[2022-10-14 05:40] TechTheAwesome opened #103037 "ADD automation to close stale issues?"
Since there remains a lot of open issues that are either resolved, or has been created a long time ago with no activity (way back in 2012). Would it be a good house-keeping policy to automatically close those stale issues?

[2022-10-14 06:05] saethlin commented on #103037
No. It would be good to have an automation that helps us locate and track issues that have since been fixed or rendered irrelevant. I do a bit of this manually, and I know a small handful of others do as well. It would be nice to be more effective/efficient at this, but I don't know how.

We really shouldn't close issues automatically. Some of them are about really hard problems that take time or

[2022-10-14 07:02] matthiaskrgr commented on #103037
We could have some kind of `close_it` label and once a quarter a triage team reviews the tagged issues and either removes the label, pings the authors or closes the issue or so? (a bit like the triage team for prs?)

[2022-10-14 07:10] blueglyph commented on #52811
I was wondering the same. Maybe it's a code size issue?

The current Grisu3 algorithm implementation seems to [have issues](https://github.com/rust-lang/rust/issues/70336), but it doesn't look like it's too hard [to fix](https://github.com/rust-lang/rust/pull/102935). Still, it has to fallback on Dragon4 sometimes, I don't know if DragonBox would avoid this altogether. Maybe I'll check it out, tho

[2022-10-14 07:14] silence-coding commented on #98245
Is there a planned stabilization time for this feature?

[2022-10-14 07:50] jhpratt opened #103040 "Misleading diagnostic when implementing `const Trait` method"
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a3365f81cce126a3852fa1b9ee193a45))

[code]

[code]

This error is _technically_ correct, as the only const `eq` method on `std::time::Instant` is the one being written. However, it is quite misleading. `&Instant` _is_ the type that we want to accept as a parameter, with one caveat. `Instant` has to implement `co

[2022-10-14 08:19] petrochenkov commented on #99427
@Be-ing
It's better to ask the cargo questions on the cargo repo, but in case of rustc `-l link-arg`s are supposed to be passed from rlibs to the final linking step, to address the use case from https://github.com/rust-lang/rust/issues/99427#issuecomment-1234443468, for example (libc crate adds `--(start,end)-group`, but they are actually passed to the linker later when libc crate is used as a dep

[2022-10-14 08:39] Rageking8 commented on #103040
@rustbot label +A-const-fn +A-diagnostics +D-confusing +F-const-trait-impl +T-compiler +requires-nightly

[2022-10-14 09:01] Rageking8 commented on #103032
@rustbot label +T-compiler +A-diagnostics

[2022-10-14 09:04] Rageking8 commented on #98361
@rustbot label +T-compiler +A-lint +C-bug +F-if-let-guard

[2022-10-14 09:11] fmease commented on #103004
@rustbot label -A-docs C-bug T-rustdoc A-local-reexports

[2022-10-14 09:19] gimbles opened #103043 "Needless, extra line before doc code example"
### Location

![image](https://user-images.githubusercontent.com/93856041/195810917-0e7ded50-6ef6-4de4-8c81-70f205bdc0e9.png)
https://doc.rust-lang.org/std/primitive.u32.html#method.overflowing_add

### Summary

There is an extra line before the documentation example, for some reason?

[2022-10-14 09:25] ehuss opened #103044 "rlib-format-packed-bundled-libs test failures on Xcode 14"
The tests `src/test/run-make/rlib-format-packed-bundled-libs` and `src/test/run-make/rlib-format-packed-bundled-libs-2` are failing with Xcode 14. The output is:

[code]

I'm not sure if it is helpful, but this error is curiously similar to the error that versions older than rust 1.54 produce when trying to build *any* program with Xcode 14. That was fixed via #84449.
See also https://rust-lang.zu

[2022-10-14 09:38] tavianator commented on #102712
`-opt-bisect-limit` points the finger at

[2022-10-14 09:46] petrochenkov commented on #103044
`-Z packed-bundled-libs` as implemented now puts bundled staticlibs into rlibs as is and ld above complains that they are not object files or bitcode files.
The bundled staticlibs need to be wrapped into object files, similarly to how `.rmeta` files are currently wrapped.
cc @BelovDV

[2022-10-14 09:48] petrochenkov commented on #103044
In the meantime the tests can always be ignored on macos, this is an unstable option, not enabled by default.

[2022-10-14 10:14] GoldsteinE commented on #50291
It could get even more confusing when using `Termination` trait as a bound:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3e4846799a8347bd969e5d5b841b157d

[2022-10-14 10:27] #102645 closed

[2022-10-14 10:32] tavianator commented on #102712
Looks similar to https://github.com/llvm/llvm-project/issues/50387

[2022-10-14 10:37] nikic commented on #102712
This is likely fine, loop unswitch can indeed introduce branches on uninitialized data. As valgrind has no notion of freeze, it cannot distinguish cases where this is well-defined.

[2022-10-14 12:04] Alexendoo opened #103050 "Rustdoc `.item-decl` links are no longer highlighted"
https://doc.rust-lang.org/std/collections/struct.HashMap.html
![image](https://user-images.githubusercontent.com/1830331/195842221-fc1eaac1-da74-47c5-81c3-0cf33c3823d5.png)

https://doc.rust-lang.org/nightly/std/collections/struct.HashMap.html
![image](https://user-images.githubusercontent.com/1830331/195842259-fdcd571d-88a9-40f2-bfd2-ffa79143f1ca.png)

Looks like they're losing the battle for spe

[2022-10-14 12:49] clubby789 opened #103052 "`#[rustc_on_unimplemented]` warning for `Termination` can be misleading"
Given the following code: [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=20afb24f7faa98343285039ddb868042)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
https://github.com/rust-lang/rust/blob/32717603f61a566ff0b8293ef3177cb7c4f50fa9/library/std/src/process.rs#L2154-L2160

[2022-10-14 12:51] mikialex opened #103053 "ICE in type checking when use type alias to construct struct"
### Code

also playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=605d6253e0286ecce2ac39a229a15ebd

[code]

### Meta

`rustc --version --verbose`:
[code]

I also checked on latest nightly

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-14 13:41] #98361 closed

[2022-10-14 13:48] nirvana-msu commented on #35853
Shouldn't this be re-opened given stabilization got reverted? This thread makes it look like `$$` is available on stable, but it isn't.

[2022-10-14 14:12] pnkfelix commented on #75890
see https://github.com/rust-lang/rust/pull/98350; you can now opt-into DWARF5 on Linux

[2022-10-14 14:17] aliemjay commented on #103053
Minimized: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2eff9d1bc6f57cc73fc8778ad947a45c
[code]

[2022-10-14 14:19] pnkfelix commented on #75890
discussed at T-compiler steering meeting

we are not currently in a position to change all targets to DWARF5; it seems clear from issues like #98746 that support for DWARF 5 is inconsistent at best.

there is on-going work to allow one to opt-into using DWARF5, e.g. in already mentioned #98350. We should open a different tracking issue regarding offering stable support for that opt-in.

but *defau

[2022-10-14 14:19] #75890 closed

[2022-10-14 14:21] vincenzopalazzo commented on #101980
I think this makes the trick, you are right! the last think is to explore what is the code of the method

https://github.com/rust-lang/rust/blob/9b0a099dfc9a97ecd10adb319396c731c4b2d169/compiler/rustc_middle/src/ty/util.rs#L824-L830

The code of the method looks not so trivial :)

https://github.com/rust-lang/rust/blob/32717603f61a566ff0b8293ef3177cb7c4f50fa9/compiler/rustc_middle/src/ty/sty.rs#L2

[2022-10-14 14:23] pnkfelix opened #103057 "Tracking issue for `-Zdwarf-version`"
This is a tracking issue for the `-Zdwarf-version` unstable flag (no RFC/MCP) added in #98350 which allows selecting the specific version of DWARF to use when creating debuginfo.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue

[2022-10-14 14:33] pnkfelix commented on #76113
Visiting for T-compiler steering backlog bonanza

Its not totally clear what this issue is meant to be tracking.

The description lists a pair of methods that *were already* made const in #75463.

We suspect the intent is to track the constification of the *remainder* of the `Ordering` methods that can be made `const`, but there's no clear specification of what the work items there are.

@rustbot

[2022-10-14 14:42] ehuss commented on #35853
Yea, unfortunately it got reverted. You can follow issues #83527 and #99035 for updates to `$$` expansion. We usually don't keep other issues open when there is a tracking issue for the RFC that specifically intends to resolve something (to prefer to have just one place for tracking).

[2022-10-14 14:43] pnkfelix commented on #76156
Visiting for T-compiler steering backlog bonanza.

We believe this feature will be most useful in concert with PR #101030. But the latter has not been merged yet.

So we're going to treat this as "needs to bake", and after PR #101030 has gotten some exercise in the wild, then we can talk about stabilizing them as a set.

@rustbot label: S-tracking-needs-to-bake

[2022-10-14 14:44] wesleywiser commented on #76156
@davidbarsky out of curiosity, does tracing need #101030 to be stabilized as well or just this feature?

[2022-10-14 14:45] pnkfelix commented on #76156
(there is also the question of whether #102911 should be merged in with this tracking issue. That's basically a question of whether this functionality is sufficiently useful on its own, *without* the ability to observe Location fields, that it would be worth stabilizing #76156 **without** stabilizing #102911.)

[2022-10-14 14:48] dobasy opened #103058 "Wrong documantation for core::arch::{x86, x86_64}::_mm_insert_ps"
### Location
[x86](https://doc.rust-lang.org/core/arch/x86/fn._mm_insert_ps.html), [x86_64](https://doc.rust-lang.org/core/arch/x86_64/fn._mm_insert_ps.html)

### Summary
The documentation says "Select a single value in `a` to store at some position in `b`, ...", but it actually works the other way around.

[2022-10-14 14:52] pnkfelix commented on #76579
Visiting for T-compiler steering meeting backlog bonanza.

This is tagged C-tracking-issue, but it is not a tracking issue in the sense that that label is meant for. (The C-tracking-issue label is meant to tag issues that we want ongoing knowledge of their current state, for e.g. coordination within the team or across the project.)

Removing label.

@rustbot label: -C-tracking-issue

[2022-10-14 14:55] Enselic commented on #93522
@Urgau Sounds good to me! I don't use it and don't plan to.

[2022-10-14 15:01] pnkfelix commented on #77071
Visited for T-compiler steering backlog bonanza.

Seems like 3 out of the 4 of the LLVM patches linked above are still undergoing review. So, tagging this as unimplemented. (And also blocked, since its waiting on LLVM review capacity that we really can't do much about ourselves.)

@rustbot label: S-tracking-unimplemented S-blocked

[2022-10-14 15:36] #102808 closed

[2022-10-14 16:19] RalfJung commented on #102712
All right, closing as not-a-bug then. Thanks for looking into this!

[2022-10-14 16:19] #102712 closed

[2022-10-14 16:27] #102528 closed

[2022-10-14 17:05] joshlf commented on #58599
@m-ou-se, could you clarify which intrinsics and what API surface you'd like to see added here? I'd like to post this issue on This Week in Rust's CFP section to see if we can find someone to implement it.

[2022-10-14 17:26] m0rg-dev commented on #102278
Yeah looks like #76930 is back. Can confirm nightly-2022-09-24 is where it starts breaking and that enabling LTO works as of nightly-2022-10-03.

[2022-10-14 17:27] lastmjs commented on #59346
Is rustc now officially using https://github.com/rust-lang/annotate-snippets-rs?

[2022-10-14 17:34] TaKO8Ki commented on #102989
It seems that the ICE does not need `-Cinstrument-coverage`.

A little bit smaller example is:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=23db069024dd9ca7fdc24383fffd2836

[2022-10-14 18:12] Alfred-Mountfield opened #103063 "Struct update behaves differently to explicitly destructuring when it comes to reborrowing"
This feels like very much an edge-case, but as you can see in [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b06ede397ba7665727e95e8e646bac4c), destructuring seems to reborrow elements within the struct, whereas struct updates don't.

Some members of the community discord informed me that this likely isn't a bug, so I'm reporting just in case it's somethi

[2022-10-14 18:15] bjorn3 commented on #102993
What linker did you tell rustc to use for AArch64?

[2022-10-14 18:16] slondr commented on #102993
@bjorn3  I am not cross-compiling, I'm just running `cargo build`

[2022-10-14 18:22] bjorn3 commented on #102993
My bad. What does `rustc -vV` show?

[2022-10-14 18:23] bjorn3 commented on #59346
No, we aren't using it right now afaik.

[2022-10-14 18:42] AE1020 opened #103064 "`RUSTFLAGS=-Clink-dead-code` breaks rustc build (alternatives?)"
[I'm attempting to add instrumentation functions to rustc, to be called from the LLDB debug console](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/Dumping.20e.2Eg.2E.20datatype.20.28Ty.29.20Without.20Recompiling/near/303684868).  Here's a simple example of trying to add a C-style function and a Rust function to a hello world program:

[code]

I built this wi

[2022-10-14 19:08] knjprojects opened #103066 "Crashed running hello world."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-14 20:10] Nilstrieb commented on #103066
Something appears to be weird with your `PATH` environment variable, causing the setup of the `PATH` for the linker command to fail.

[2022-10-14 20:23] est31 commented on #101991
@dtolnay how would you deal with join being already exposed on stable, without an Option like interface? I've pointed that out above in the thread, linking to a comment that links to a [join primitive in your syn crate](https://docs.rs/syn/1.0.23/src/syn/error.rs.html#219-238). Given that the API is already stable and doesn't return an Option, it should IMO be `source_text` that returns a None if

[2022-10-14 20:30] duplys commented on #95825
Using @scouten-adobe 's https://github.com/scouten-adobe/rust-bug-95825, I can reproduce the bug on my Linux system

[code]
When I run `cargo test`, the output looks like this:

[code]
When I run `RUSTFLAGS="-C instrument-coverage" cargo test --all-features`, it gives the output:

[code]
## Meta

[code]
I built the Rust compiler from the source:

[code]

[2022-10-14 21:04] bjorn3 commented on #103064
Without `-Clink-dead-code=yes` rustc will pass `--gc-section` to the linker. This will cause every symbol not reachable from an exported symbol to be omitted. In case of executables only main is exported unless `-Z export-executable-symbols=yes` is used.

The comment is about the functions that will be codegened, not about those that end up in the final executable after whatever logic the linker u

[2022-10-14 21:30] wesleywiser opened #103068 "MIR inlining causes incorrect line numbers for inlined code"
The following program generates a backtrace with incorrect line numbers:

[code]

[code]

Notice that frames 2 and 3 both indicate they come from line 12 (frame 2 should be at line 3).

This seems to be a result of MIR inlining because the LLVM IR (pre LLVM optimization) has the same issue:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-10-14 21:30] wesleywiser commented on #103068
I believe I have a fix and will post it shortly.

[2022-10-14 22:26] slondr commented on #102993
@bjorn3 Here you go:

[code]

[2022-10-14 23:33] griffi-gh commented on #95174
I think at least simple enums without assigned values should be allowed for now

[2022-10-14 23:35] SE2Dev opened #103073 "Weird Match Statement Codegen With Byte Strings"
It seems that with the following snippet of code results in some rather strange codegen:

[code]

The following is produced with `-C opt-level=2`:

[code]

I would expect something like this to be produced instead (specifically with optimizations enabled):

[code]

An example is available here: https://rust.godbolt.org/z/EEKr43rP8

For what it's worth, at `-C opt-level=0` it becomes apparent that

[2022-10-14 23:48] tarcieri commented on #95174
@griffi-gh I agree. However, in the meantime if you have an e.g. `repr(u64)` C-style enum, you can cast it with `as u64` (or whatever integer type) to sort of fake being const generic around an enum, and that works fine even in const contexts, while also hopefully being trivially upgradable to `adt_const_params` in the future.

[2022-10-15 00:37] jhpratt commented on #95174
For what it's worth, I am currently hacking around this in `time` by encoding a struct into a u128, passing as a const generic, and decoding it back to the original struct. All at compile time, as the values are then associated constants. This approach is tedious, but it works for everything up to 16 bytes in size.

[2022-10-15 03:02] MasterAwesome commented on #102162
Looks like b0343a38a5910e980bb031e4014655d77cd0c162 commit is the start of this bug.

Bug fixed by running: 
[code]

On the https://github.com/rust-lang/llvm-project project

[2022-10-15 04:16] mbartlett21 commented on #74465
Should the `set` method return `Result<&T, T>` rather than `Result<(), T>`?

[2022-10-15 05:55] Lokathor opened #103078 "deny(unsafe_code) should prevent `global_asm!` usage."
Similar to how deny(unsafe_code) prevents `#[no_mangle]` from being used, it should also prevent `global_asm!` blocks from being allowed. If misused, they can do any number of strange and horrible thing simply by being within the crate.

[2022-10-15 07:20] safinaskar commented on #29641
@KisaragiEffective , there is already nearly-finished work for strings here:
https://github.com/rust-lang/rust/pull/98914 . My opinion is this: we should create `DerefPure` as suggested in https://github.com/rust-lang/rust/pull/98914#issuecomment-1234545196 and then make String and Box both impls of DerefPure

[2022-10-15 09:11] ohno418 commented on #85089
@rustbot claim

[2022-10-15 09:40] walkerofcode opened #103081 "report bug"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
<output>
(.venv) root@alenservice2:~/pathfinder/py# cargo build --release --bin pathfinder
   Compiling pathfinder v0.3.6 (/root/pathfinder/crates/pathfinder)
    Building [=======================> ] 429/430: pathfinder(bin)
error: internal compiler error: no errors encountered even though `delay_span_bug` issued

error: internal comp

[2022-10-15 09:49] gimbles commented on #103081
@rustbot label +invalid

[2022-10-15 10:15] Nilstrieb commented on #103081
Also, could you verify that this issue is still present on the latest nightly version?
[code]

[2022-10-15 10:40] joshtriplett commented on #80937
https://github.com/rust-lang/rust/pull/98033 just merged.

[2022-10-15 11:56] Ayush1325 opened #103086 "Fix formmating in `src/test/ui`"
Many tests in `src/test/ui` are not formatted using `rustfmt`. I observed this while working on #100316. This caused a lot of noise in the PR since I had autoformatting enabled by default.

So I was wondering if not conforming to proper formatting was intentional or not? If it isn't, then I think this should be fixed.

[2022-10-15 13:13] ChrisDenton commented on #103086
It's intentional.

https://github.com/rust-lang/rust/blob/b15e2c129e732fb3f1ff3c707d76341047a66af0/rustfmt.toml#L14-L16

IIRC, there are a number of potential issues:

* Tests use special comments to describe the expected error, reformatting them may break this.
* Some tests may actually be testing something weird that should not be changed in any way.
* rustfmt sometimes deletes comments or redun

[2022-10-15 13:25] Ayush1325 commented on #103086
I see. I still think any tests which do not break should be formatted since I found a lot of tests that were formatted in weird ways. However, it will be a lot more work than I initially thought.

[2022-10-15 13:30] ChrisDenton commented on #103086
You can always split to formatting changes into another PR, or a series of PRs if there are too many to review in one go. I think that should be fine so long as the formatted tests still do what they're meant to and there's someone willing to do the review.

[2022-10-15 13:30] #100513 closed

[2022-10-15 13:30] #102989 closed

[2022-10-15 13:34] Rageking8 commented on #103086
IMO it might not even be worth it given the sheer amount of work (10-20k test iirc, which will require manual review). Together with the minute but non zero probability of accidentally changing the semantics of a test in subtle ways.

[2022-10-15 13:43] Ayush1325 commented on #103086
@Rageking8, Well, it does seem like a low-priority issue. However, it is possible that more targets will be added faster than before now that Rust has made its way to Linux Kernel. So it might not be a bad idea to fix the tests incrementally.

[2022-10-15 13:48] Rageking8 commented on #103086
Formatting tests to make it more readable while ensuring equivalent semantics is good however to me the benefits are pretty small. The few benefits I can think of is the auto formatting in which you mentioned together with any subsequent rustc dev reading the test for some related work (not many). Low priority indeed, but if anyone has time, by all means.

[2022-10-15 13:53] Lee-Janggun commented on #99938
Can confirm this no longer ICEs on most recent nightly:

https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=ca82d8f6583d900c67af8e1784a882f1

[2022-10-15 13:56] Rageking8 commented on #99938
@rustbot label +E-needs-test

[2022-10-15 13:57] rami3l commented on #53667
@lunabunn
According to https://github.com/rust-lang/rust-clippy/issues/9354, the feature was once stabilized, and reverted due to the issue https://github.com/rust-lang/rust/issues/100513. However the latter is closed now. So I guess we should be back on the right track now.

[2022-10-15 14:03] Lee-Janggun commented on #53667
There were a few ICEs related to this feature, including the following I could find.
- #100513
- #99852
- #100276
- #99938

After the remaining open issues are closed, another FCP may be possible (hopefully ready for 1.65).

[2022-10-15 16:16] semiviral commented on #102833
Seems to have been fixed with the latest nightly (10-15-2022). Closing this issue.

[2022-10-15 16:16] #102833 closed

[2022-10-15 17:16] berkus commented on #102849
I've validated this on real Raspberry Pi 4.

Kernel compiled with 08-12 boots fine.
Kernel compiled with 08-13 doesn't.

It will take some time to investigate the details, will need to jump through numerous gdb hoops.

[2022-10-15 17:20] berkus commented on #102849
Weird note that this triggers only in one specific kernel - the second kernel I build from same sources but that uses slightly different boot process (it relocates itself to higher memory addresses) seems to boot fine even with 08-13.

This smells of an UB.

[2022-10-15 20:22] EqualMa opened #103095 "borrowck: no entry for key (only panic for some types)"
### Code

[code]

Here is the playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=aba30e89981874a854cb8252c652b7f2

This might be related to #99665 and #102800 .

### Meta

`rustc --version --verbose`:
[code]

The bug also exists for `rustc 1.66.0-nightly (bf15a9e52 2022-10-14)`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[2022-10-15 20:25] petrochenkov commented on #100047
Fixed in https://github.com/rust-lang/rust/pull/103096.

[2022-10-15 20:25] petrochenkov commented on #100241
Fixed in https://github.com/rust-lang/rust/pull/103096.

[2022-10-15 21:25] est31 commented on #99938
Yeah likely this was fixed by #102394 . I wonder if it's worth adding a test for this, or it can just be closed as a dupe of #99852.

[2022-10-15 21:34] scottmcm commented on #103073
Remember that `b"ABCD"` is `&[b'A', b'B', b'C', b'D']`, so what it's doing is array patterns, not string matching.

You can see in MIR that it ends up in something more like a trie: <https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=b8b411ce3533333d2ba14259fa871b7c>
[code]
In general -- if you're matching different lengths against a `&[u8]` -- that's a nice way, but for th

[2022-10-15 21:54] scottmcm commented on #102709
It's small with opt-level `1`, `s`, and [`z`](https://rust.godbolt.org/z/fc3hM88TM).  Not getting something small is somewhat expected with opt-level `2` or `3`.

Note that rustc itself never does any auto-vectorization.  So I would encourage you to file this at <https://github.com/llvm/llvm-project/issues/new/choose>, as it's LLVM that makes such decisions.  (Everything related to the exact instr

[2022-10-15 22:58] SUPERCILEX commented on #96097
Docs patch extracted from #102023:
[code]

[2022-10-15 23:08] cybersoulK commented on #83527
when is this stabilized? it's so important

[2022-10-15 23:21] c410-f3r commented on #83527
I will probably review the concerns and try stabilization again in the next months

[2022-10-15 23:51] FabriceBazzaro opened #103100 "Confusing error message on trait bound not satisfied with supertraits"
I'm not sure about my interpretation but the message is for me a little confusing. I've reproduced a minimal case. In the following code, there is a missing implementation of the trait A for the structure S.

[Link to the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3876b71cd084f1e607eb81cd758dd301)

[code]

The current output is:

[code]

I don't think the

[2022-10-16 00:39] SUPERCILEX opened #103101 "Look into drop powered panic guards"
Origin: https://github.com/rust-lang/rust/pull/102023#discussion_r996362821

It's a bit weird to have `forget` and `ManuallyDrop`, especially since forget is just a `let _ = ManuallyDrop::new(t);` under the hood. The primary usage of `forget` that still makes sense is for panic guards, but using `forget` has the disadvantage of being unclear in its intent. Removing `forget` would probably make pan

[2022-10-16 00:44] thomcc commented on #103101
Strong -1 from me. That's a lot of churn and there are still totally reasonable cases to use `mem::forget`. I do agree that in cases where you can either use ManuallyDrop or mem::forget, ManuallyDrop is better.

More concretely, I think that `let _ = ManuallyDrop::new(t);` is a much less clear way to accomplish the same thing as `mem::forget`.

[2022-10-16 02:13] SUPERCILEX commented on #94071
@yaahc I gave your idea a go, but I don't think it makes sense:

[code]

Hiding the str and char behind a type doesn't really help because the type isn't opaque. People are presumably coming to do low-level stuff with the &str or char so we can't get rid of those constants. Maybe if every API had been designed from the start to take in a `Separator` this would have made more sense, but as it stand

[2022-10-16 02:13] pcwalton opened #103103 "Not using the byval attribute loses memcpy optimizations"
Consider this code ([Godbolt link](https://godbolt.org/z/x75Mc58ne)):

[code]

LLVM can't eliminate the memcpy between f and g, even though it should legally be able to do so. This is because memcpyopt can only forward to parameters marked byval. We don't use the byval attribute, and this seems to be by design. But we lose this optimization, which I've observed hurting codegen in several places ev

[2022-10-16 02:41] Nugine commented on #102709
Upstream:
+ https://github.com/llvm/llvm-project/issues/58387

[2022-10-16 03:02] pcwalton commented on #103103
Note that if we choose option (2) then there will need to be a little more work to tell LLVM that an indirectly-passed function argument was marked immutable by the programmer.

[2022-10-16 03:28] pcwalton commented on #103103
Actually, (2) is more complicated than I thought. There are actually two sub-options:

(2a) At the Rust ABI level, specify that callees are not allowed to write to indirectly-passed arguments. Currently, they can if they declare a by-val parameter `mut` (or it has `UnsafeCell` in it). With this change a callee would have to codegen a memcpy if it writes to a by-val parameter.

(2b) Keep the ABI th

[2022-10-16 03:46] pcwalton commented on #103103
Here's the LLVM change. Coupled with the suggested change in Rust ABI this should let us eliminate quite a few memcpys. https://github.com/pcwalton/llvm-project/commit/854b7c4a942e82b99f5f8fba47edd3ed63d258cb

[2022-10-16 05:09] scottmcm commented on #103103
I'm curious about why; any chance you have a link handy to a discussion about it?

[2022-10-16 05:34] pcwalton commented on #103103
I don't, but a comment from @bjorn3 seemed to indicate to me that it was deliberate.

[2022-10-16 05:48] est31 commented on #100513
Now that the first nightly with #102998 is out, I've tried running again the snippet from above. The snippet now prints:

[code]

This is not 100% what the desugaring from the RFC prints (should be "first", "1.5", "last"). It's closer than what is seen at the top of the issue's thread, but not quite it. Over at #102998 , @cjgillot has brought up [similar concerns](https://github.com/rust-lang/rust

[2022-10-16 06:11] Nilstrieb commented on #100513
I agree, I think this issue should only be closed once T-lang decided on a desired drop order and the compiler implements it.

[2022-10-16 06:13] Nilstrieb commented on #100513
Although actually I have to say that my desugaring might be be fully correct. I split up a normal `&&` into two nested ifs which is probably wrong. If it is let together, we should the current output.

[2022-10-16 07:03] RalfJung commented on #103101
The point that came up in https://github.com/rust-lang/rust/pull/102023 was that `forget` is often used for guards, and maybe it'd be more clear if guards had a method to 'defuse' them rather than people having to se a method in `std::mem`? In fact when talking about memory, you almost always want `ManuallyDrop` and not `forget`, as the docs indicate. `mem::forget` is only good for non-memory uses

[2022-10-16 07:07] thomcc commented on #103101
It's also reasonable to use if you want to run a function that returns an RAII type and just prevent its destructor from running. That is, cases like `forget(something.lock().unwrap())` are reasonable.

I agree that perhaps it's in the wrong module, but I don't think it's worth the degree of ecosystem churn that would be required to change it (I also don't know where else would be better).

[2022-10-16 07:10] est31 commented on #100513
Yeah it doesn't have to match it 100%, one always deviate in the end from the RFC. What is important is that the details are well understood and approved. #102998 has greatly improved the state but we aren't there yet I think.

## What is currently implemented

So in order to figure out what the current desugaring is doing, I've extended the drop_order.rs test that you added:

<details>

[code]

A

[2022-10-16 07:12] RalfJung commented on #103101
That is exactly the guard case I mentioned, which maybe should be `something.lock().defuse()`.

I am not suggesting to deprecate `mem::forget`, so this issue should be closed IMO, but we should have an issue tracking whether we want such `defuse` methods.

[2022-10-16 07:14] thomcc commented on #103101
I think it would be pretty confusing for a MutexGuard, and I don't really think a dedicated method makes sense in all cases  (it's quite rare that you want to leave a lock locked).

[2022-10-16 07:40] #85089 closed

[2022-10-16 07:55] est31 opened #103107 "Drop order twist of && and || chains"
If you consider the following program:

[code]

It will print "2,3,4,1," four times. The issue occurs on recent nightly as well as all the way back to 1.0.0. This is a bit weird IMO, and makes && and || chains non-associative. IMO it's a bug that should be fixed to print "1,2,3,4,".

IDK how much we can do about this at the current point, given backwards compatibility concerns. It might not stop p

[2022-10-16 07:56] Lee-Janggun commented on #97469
I can confirm the following code now produces the more helpful error:
https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=cc13cfcbb4f7aa698bec48eb1c63af52
[code]

[code]

[2022-10-16 08:26] est31 opened #103108 "if let should pre-drop wrt else"
Consider this snippet:

[code]

Here, `if let` complains about an access of `foo` in the else branch, while `if` is okay with this.

This is due to `if let` dropping its temporaries after the `else` block. This is not neccessary, it could also drop them before.

Similar to #103107

cc @Nilstrieb

@rustbot label T-lang

[2022-10-16 09:07] jruderman opened #103112 "When a macro isn't found, suggest calling a function with the same name"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7a15474e4972ff683b6d6c7208a5b37f)):

[code]

The current output is:

[code]

Ideally the output should include:

[code]

### Motivation

Note that the opposite mistake, trying to use a macro without the `!`:

[code]

gives:

[code]

### Related issues

This would complement #102601 (sugg

[2022-10-16 09:11] bjorn3 commented on #103103
byval means that the argument is passed at a specific stack location. This requires a copy to this stack location and is as such incompatible with unsized arguments. To solve the issue of these redundant copies I have long been advocating to use move arguments (which pass the orginal location in case of by-ref) instead of copy arguments (which copy the arguments to the stack and then pass the copy

[2022-10-16 09:21] Nilstrieb commented on #103108
This is probably a leftover from the time when `if let` used to desugar to a `match`, which keeps the scrutinee temporaries alive until the end of the match.

Dropping them early would be more consistent with if (it cannot be quite consistent as if let needs to keep them alive during the if block) but less consistent with match. Since if let is closer to if than match, I agree that it should behav

[2022-10-16 09:27] pcwalton commented on #103103
@RalfJung Can we get some forward progress on what to do here? These copies are hurting codegen across the board. I don't think the status quo is going to be tenable long-term; the pressure for a solution will be too great.

If I understand correctly, my proposal would be for all arguments to continue to be by-copy, but the copy moves from the caller side to the callee side and as such can be opti

[2022-10-16 09:30] bjorn3 commented on #103103
Your proposal of using byval would still do the copy at call site if the argument couldn't be constructed in place at the right stack location. For example when there are multiple calls with different byval arguments.

Your proposal of making arguments immutable is incompatible with unsized arguments as those can be mutated in place and can't be copied at the callee side to make the copy at the ca

[2022-10-16 09:32] bragov4ik commented on #90879
Also it might be helpful that there is a workaround
[code]

This way the compiler somehow understands to use the default hasher (not sure why it doesn't without `::<_, _>`).

[2022-10-16 09:38] pcwalton commented on #103103
So per [the unsized arguments RFC](https://github.com/rust-lang/rfcs/blob/master/text/1909-unsized-rvalues.md) unsized arguments are passed as `&move`. This implies that we're already using a different calling convention for unsized arguments. So my immutable arguments proposal could be a replacement for the cases in which we're using by-copy--the ABI for unsized arguments would remain the same as

[2022-10-16 09:42] bjorn3 commented on #103103
by-ref sized arguments are currently also passed &move. We just insert the extra copy at MIR building time as precaution due to unclear semantics of move arguments. Note that we need both to be abi compatible for trait object dispatch I think as is already stable through `Box<dyn FnOnce()>`.

[2022-10-16 09:45] pcwalton commented on #103103
What a mess. Maybe we could just mark by-ref arguments as `readonly` in the callee if they're declared immutable and freeze, and then rely on LTO to propagate that attribute to callers.

[2022-10-16 10:10] #99824 closed

[2022-10-16 11:32] petrochenkov commented on #96981
This issue was fixed in Rust 1.63.
There's no minimized reproduction to add as a test, so I'll just close this issue.

[2022-10-16 11:32] #96981 closed

[2022-10-16 12:07] chenyukang commented on #103112
@rustbot claim

[2022-10-16 12:51] #102301 closed

[2022-10-16 12:51] #102310 closed

[2022-10-16 12:51] #102918 closed

[2022-10-16 13:14] ohno418 commented on #71961
This issue seems to have been fixed:

[code]

[2022-10-16 13:23] petrochenkov commented on #98032
I cannot reproduce this issue on Rust 1.62.1 or on Rust Nightly, closing the issue.
I didn't bisect in more detail because polkadot requires enormous amount of time to document (its dependency tree is about 2000 crates).

If you have a specific commit of polkadot and Rust version that reproduce this issue, please reopen it (or create a new one).

[2022-10-16 13:23] #98032 closed

[2022-10-16 13:31] petrochenkov commented on #103028
I've reproduced the issue on nightly rustc, I'll check what happens.
In the meantime if you can minimize the failing case as much as possible, it would be very helpful.

[2022-10-16 13:45] gimbles commented on #103078
@rustbot claim

[2022-10-16 13:59] ChrisDenton commented on #103101
See also #62553. It's true that `mem::forget` can be a subtle footgun in `unsafe` code because of the uniqueness assertion which is easy to overlook. But I'm not sure if that warrants deprecation.

I'd also note that a large part of the docs for `mem::forget` are devoted to describing alternatives.

[2022-10-16 15:33] petrochenkov commented on #96288
Rustdoc assumes that there is always a `doc(primitive)` module for every primitive type referred to by a doc link, which is not the case in the code example above or any "minimal core" example not containing the primitive documentation modules.

[2022-10-16 15:59] tarcieri commented on #93481
We are encountering this limit in practice evaluating constants in a bignum arithmetic library:

https://github.com/RustCrypto/crypto-bigint/pull/130#issuecomment-1279132898

Namely we're trying to add support for modular arithmetic where the moduli are represented as (associated) constants, and encountering this limit while trying to compute the constant values using `const fn`.

This is a fairly

[2022-10-16 16:15] BelovDV commented on #103044
Please check if this fixes problem: https://github.com/BelovDV/rustc/tree/issue-103044.

[2022-10-16 16:25] Rageking8 commented on #103078
@rustbot label +C-bug +T-compiler

[2022-10-16 16:33] bjorn3 commented on #103044
That is an option to fix this issue. The other option is to in case of bundled static libs not just extract the static libs for the linker to use and pass the original rlib, but also produce a new rlib without the bundled static libs.

[2022-10-16 17:14] bergkvist commented on #39797
If you are explicitly writing `None` in the code, the compiler should (in theory) be able to ignore/drop all code paths that depend on the type argument to Option in the function though, right?

[2022-10-16 17:20] petrochenkov commented on #96288
Fixed in https://github.com/rust-lang/rust/pull/103120.

[2022-10-16 17:52] Spoonbender commented on #39181
triage: still reproduces on `rustc 1.64.0 (a55dd71d5 2022-09-19)`

[2022-10-16 18:03] petrochenkov commented on #103028
Fixed in https://github.com/rust-lang/rust/pull/103120.

[2022-10-16 18:19] Mark-Simulacrum commented on #102621
@craterbot run name=beta-1.65-2 start=1.64.0 end=beta-2022-10-11 mode=build-and-test cap-lints=warn p=1 crates=https://crater-reports.s3.amazonaws.com/beta-1.65-1/retry-regressed-list.txt

[2022-10-16 19:20] compiler-errors commented on #101750
I think @oli-obk fixed this (inadvertently?) in #102700

[2022-10-16 19:34] JakobDegen commented on #103103
The right solution here for the unsized case is to stop representing `&move` arguments in MIR with an `Operand::Move`. `Operand::Move` is also very clear about the fact that it makes a copy. This would require someone to go and actually come up with a design for a decent story for unsized locals in MIR though...

[2022-10-16 19:53] pcwalton commented on #103103
I still think it'd make sense to mark by-ref immutable freeze arguments as `readonly`, since we know that, and LLVM can use it for LTO more generally than just memcpyopt.

[2022-10-16 20:01] bjorn3 commented on #103103
@JakobDegen We can easily use a separate type for call arguments to solve the problem of Operand::Move being specified as doing a copy, but that won't solve this perf issue. The problem is that we aren't using Operand::Move too often, but that we use it too little, thus causing many needless copies.

[2022-10-16 20:23] Alexendoo commented on #94822
Fixed by #103003

[2022-10-16 20:23] #94822 closed

[2022-10-16 20:24] pcwalton commented on #103103
I wonder what the best way to propagate deduced `readonly` around across crates would be. Either it would have be a per-parameter bit in the Rust metadata, or it'd have to be added to the ThinLTO summaries.

[2022-10-16 20:34] #39137 closed

[2022-10-16 21:04] xxchan commented on #101750
Just tested it and I can confirm it works now! Thanks!

BTW, what about adding this issue as a test cast?

[2022-10-16 21:42] pcwalton commented on #103103
I verified that with my change to LLVM with the soundness fix suggested by @nikic, it can do the optimization for the cases I'm looking at as long as Rust codegen can either inspect the MIR for direct callees for readonly safety or to pull that information from the crate metadata. I think we have a way forward for most cases.

[2022-10-16 21:58] asquared31415 commented on #103078
I suppose it's probably too late to actually make it require `unsafe {}`?

[2022-10-16 22:12] nathanwhit commented on #100513
One note:

This is not quite accurate, in the current implementation it's inconsistent -- if the `let` is leading then it will drop after the `else` body, but if it is trailing it will drop before the `else` body. ([example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=295ed471b352a5ce7a6635cea4dbdbef), which at time of writing prints `1,2,` then `2,1,`).

This is the r

[2022-10-16 22:25] mattjperez commented on #102608
@rustbot claim

[2022-10-16 22:51] compiler-errors commented on #101750
Yes a minimized test PR would be appreciated.

[2022-10-16 23:22] xxchan commented on #101750
@rustbot claim

[2022-10-16 23:34] est31 commented on #100513
@nathanwhit thanks! I've edited my comment.

Regarding #103034, I wonder if it's possible to change it so that it always drops before `else`? Keeping around the references for the `then` block makes sense, but `else` doesn't need any of them, and it would be nice if you could re-access stuff in the `else` block that `if let` was accessing. The same holds for `if let` too, see #103108 which also co

[2022-10-17 01:17] est31 commented on #103108
Good point about the consistency. There are analogous drop order optimization for matches too: You can drop the scrutinee temporaries before entering the body of any arm that is binding free and only followed by other binding-free arms, so cases like:

[code]

for example, you would drop the temporaries before entering the bodies of the `ValB` and `_` arms. Applied to `if let`, this would mean alw

[2022-10-17 01:50] thomcc commented on #103101
I think a better solution there is to not make moving `Vec`/`String`/`CString`/`Box` assert uniqueness on typed copy. It doesn't help much for optimizations (reads and writes to these types still go through `&`/`&mut` respectively), and is a huge footgun for a number of reasons.

[2022-10-17 02:06] #69952 closed

[2022-10-17 02:06] #96288 closed

[2022-10-17 02:13] Lokathor commented on #103078
that isn't even currently possible from a syntax perspective because `unsafe` blocks only work as expressions, you can't just put them around a top level item. It would take a whole RFC thing, even separately from global_asm already being stable.

[2022-10-17 02:45] YaLTeR opened #103132 "Overflow checks don't get optimized out surprisingly"
I tried this code:

[code]

https://godbolt.org/z/9c8qc88qo

I expected to see this happen: all three versions of the loop body have no overflow checks and are optimized out.

Instead, this happened: `let result = f(*x, weight);` has no overflow checks whereas the two other versions do have overflow checks on 1.64.0 and below, and on beta/nightly all versions have overflow checks. Also, uncommenti

[2022-10-17 02:52] sundeep-kokkonda commented on #102299
@kpcyrd Thanks for the info... Is there a way available to eliminate build paths in final binary? I tried a few ways with `--remap-path-prefix` & `-Z binary-dep-depinfo` options but still the path info is present in final binary and which makes builds are not reproducible.
Let me know if you know any option/change in code removes the path in final binary, so that I can make my local patch...

[2022-10-17 03:50] SUPERCILEX commented on #63569
Yeah those methods are objectively bad. Nuke: #103133

[2022-10-17 04:50] #100047 closed

[2022-10-17 04:50] #100241 closed

[2022-10-17 06:02] jruderman commented on #103037
There's an automation called [Glacier](https://github.com/rust-lang/glacier) to notice when ICE bugs are unexpectedly fixed.

[2022-10-17 06:11] jruderman commented on #102997
How does the compiler determine that this sort of optimization [should be done for Option](https://doc.rust-lang.org/std/option/index.html#representation)?

[2022-10-17 06:23] SUPERCILEX commented on #103101
For the `MutexGuard` case, I can see forget kind of making sense? Then again, keeping a mutex locked forever is a super weird thing to do, so maybe the code that does so should look weird enough to wake people up during review.

---

Regarding the `PanicGuard`s of the stdlib, I thought about this some more and I'm now *extremely* opposed to the current approach. It is fundamentally flawed in that

[2022-10-17 06:25] RalfJung commented on #103101
Checking `thread::panicking` seems rather fragile and IMO is much less clear than the current approach.

[2022-10-17 06:33] SUPERCILEX commented on #103101
I don't know how thread::panicking works: why would it be fragile? Also saying thread::panicking is *more* fragile seems wrong. The current approach is: _let me think really hard about all the places I return stuff to the user and where I could panic and then make sure I forget in all the right places but not before I could panic_. The new approach would be: _just check for panicking inside Drop a

[2022-10-17 06:56] ChrisDenton commented on #103037
Even then it may be better to close the issue by adding a test rather than automatically. That way we prevent unexpectedly regressing the unexpected fix.

[2022-10-17 07:04] RalfJung commented on #103101
I am thinking of a function that takes 2 closures, the 2nd one to be executed only if a panic occurs while the first is running.

[2022-10-17 07:08] thomcc commented on #103101
I feel much more strongly about Vec/String/etc than Box, but yeah, I'd prefer those be NonNull than Unique (and everything that implies). For Box, I'm not sure. If we don't have evidence that it helps performance I think we should go with NonNull, though.

---

Performance. Checking `thread::panicking` is much more costly. I also disagree this is better -- I think it's much worse and needs much st

[2022-10-17 07:38] SUPERCILEX commented on #103101
Ah, dang. Found the implementation: https://github.com/rust-lang/rust/blob/9a97cc8ca5f863cacf39c9aaa4ca6ad872bc8172/library/std/src/panicking.rs#L373-L388 I guess that's a no-go.

Why? I think I'm missing something here because this is the analogy I'm seeing:

[code]

Interesting, so this-ish:

[code]

I'd have to see what that looks like at the call site, but I think that makes sense.

[2022-10-17 07:56] TheNeikos commented on #63084
Is there any outlook on stabilization/progress towards it?

[2022-10-17 08:00] matthiaskrgr commented on #103037
As for this ticket, we could just wait a year, close it for being inactive and call it a day? 🙃

[2022-10-17 08:46] RalfJung commented on #103101
The aliasing requirements we could make (as defined by Stacked Borrows) go well beyond what can be expressed in LLVM, so currently we don't have a way of evaluating their performance impact.

[2022-10-17 08:49] RalfJung commented on #103101
Yeah, except both closures probably want to share some state so we might have to introduce another parameter that is mutably borrowed by both.

[2022-10-17 08:50] kpcyrd commented on #102299
This has worked for me in the past:
[code]
I had a CI job in place that uses reprotest like this: https://github.com/kpcyrd/sniffglue/blob/main/ci/reprotest.sh

[2022-10-17 08:54] fmease commented on #103052
@rustbot claim

[2022-10-17 09:07] Aboussejra opened #103141 "Rust update from 1.63 to 1.64 introduce lifetime problem on build"
### Code

This is an attempt to reproduce a minimal example of a regression problem (backwards compatibility not assured) from a closed-source company codebase.

I tried this code: -> https://github.com/Aboussejra/rust_compiler_1.64_update_problem

[code]

I expected to see the code building (This code is old and was building for years on rust 1.54, and builds on rust 1.63. the code works as inten

[2022-10-17 10:15] Spoonbender commented on #37591
triage: still reproduces

adjusted repro:
[code]

[2022-10-17 10:16] Spoonbender commented on #43048
triage: no change

[2022-10-17 10:19] jruderman opened #103143 "Assertion failed: Cannot set `break_last_token` and have trailing token"
Found with [fuzz-rustc plus a new AST-guided mutator](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### What's going on

* The attribute `#[a]` applies to `y::<z>`
* The `>` was initially lexed as part of a `>>` token
* This seems to be exactly the case described by the [comment above the assertion](https://github.com/rust-lang/rust/blob/1536ab1b383f21b38f8d49230a2aecc51daffa3d/compi

[2022-10-17 10:25] Spoonbender commented on #25207
Triage: no change

[2022-10-17 10:33] Spoonbender commented on #63702
triage: no change

[2022-10-17 10:35] Spoonbender commented on #54501
triage: no change

[2022-10-17 10:37] Spoonbender commented on #52188
triage: no change

[2022-10-17 10:39] Spoonbender commented on #64261
triage: no change

the error message is much better though!
[code]

[2022-10-17 10:45] imp commented on #82901
My own experience (which may or may not be representative) tells that in every single case I wanted `option.get_or_insert_`-like functionality I actually wanted `option.get_or_insert_default()`. So in my books it is much closer to `unwrap_or_default` than to `resize_with`. Just my 2 two shekels.

[2022-10-17 10:53] #103053 closed

[2022-10-17 10:55] jruderman opened #103144 "Divergent suggestion "expressions must be enclosed in braces to be used as const generic arguments""
I noticed this while trying to understand #103143.

Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b666ac930eb1ca293487df5e13092a50)):

[code]

The current output starts with:

[code]

### Why this doesn't work

Adding the braces as suggested:

[code]

doesn't fix the problem, and the compiler continues suggesting to add more braces

[2022-10-17 11:06] m-ou-se commented on #70887
@rfcbot resolve log(0) behavior

[2022-10-17 12:01] xxchan opened #103147 "compilation stuck while resolving futures_async_stream"
### Code

[code]

It seems that Rust is very slow with resolving futures_async_stream. It took about 1sec for each resolving. As a comparison, previous builds only have 0 obligations for all these things.

_Originally posted by @skyzh in https://github.com/risingwavelabs/risingwave/issues/5119#issuecomment-1280114090_

And we have located the problem occurs on this function: https://github.com/ris

[2022-10-17 13:20] LeSnake04 opened #103148 "Suggest `.try_from`/`.try_into`"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f625bf004abe28d4c42c3c256d8f2aa2

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

When an users uses `.into()` and it doesnt work, they might do an complicated workaround while not realising the libray devs implemented `TryFrom<T>` instead. So it would be cool if

[2022-10-17 13:23] skyzh commented on #103147
Probably I'll get some easy-to-reproduce examples...

[2022-10-17 13:32] Dylan-DPC commented on #48620
Closing this as it complies in 1.30 and there is no mcve

[2022-10-17 13:32] #48620 closed

[2022-10-17 13:47] nappa85 opened #103149 "Trivial code edit makes build times 10 times slower"
I'm unable to reproduce the problem with a MVP, so I'll try to be more descriptive I can, sorry for that.

**Preamble:**
I have this crate that holds all common code between like 10 applications.
Those applications are simple services that takes data from a queue, does something and put the result in another queue, except for one that also exposes a good number of REST APIs using warp.
This last o

[2022-10-17 13:53] Nilstrieb commented on #103141
searched nightlies: from nightly-2022-08-01 to nightly-2022-10-01
regressed nightly: nightly-2022-08-11
searched commit range: https://github.com/rust-lang/rust/compare/34a6cae28e7013ff0e640026a8e46f315426829d...29e4a9ee0253cd39e552a77f51f11f9a5f1c41e6
regressed commit: https://github.com/rust-lang/rust/commit/1603a70f82240ba2d27f72f964e36614d7620ad3

<details>
<summary>bisected with <a href='http

[2022-10-17 14:06] stephenrkell commented on #101913
(Thanks @jryans for pointing me at this issue.)

If I've understood, the main problem is getting the file path associated with a particular region in the program's virtual address space. A secondary problem is that the link map leaves out the executable's filename (it is recorded as the empty string), and the target of `/proc/self/exe` is not a correct substitute in this run-via-ld.so case.

The o

[2022-10-17 14:08] pnkfelix commented on #45027
@michaelwoerister or @wesleywiser , can one of you look into whether you are able to reproduce this yourself? If so, then we can look into root causing it, and potential next steps...

[2022-10-17 14:11] pnkfelix commented on #59920
[Visiting for wg-debugging triage.](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/.5Btriage.20mtg.5D.202022-10-17/near/304470245)

@wesleywiser or @michaelwoerister , can one of you figure out whether the requested feature would require a rustc command line option (and thus this requires an [MCP](https://forge.rust-lang.org/compiler/mcp.html)), or if the req

[2022-10-17 14:12] Nilstrieb commented on #103149
Could you use `perf top` (if you're on linux) or something similar to find out where rustc is spending all of its time? Alternatively, building rustc yourself and then using `RUSTC_LOG=debug` or `trace` could help diagnose where it gets stuck.

[2022-10-17 14:33] pnkfelix commented on #20630
[Visiting for wg-debugging triage](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/.5Btriage.20mtg.5D.202022-10-17/near/304471165)

Some  questions that we had while thinking about this:

 * What does a debuggable libstd mean? As brson wrote above: It could mean a libstd built in developer mode (which means debug_asserts enabled, and maybe also optimizations t

[2022-10-17 14:33] CDirkx commented on #76113
This issue was created originally created as a tracking issue for constifying `reverse` and `then` under the feature `const_ordering`. However, because these methods were insta-const-stabilized, skipping `rustc_const_unstable(feature = "const_ordering", issue = "76113")`. This issue has thus never actually been used.

I agree that constifying the remainder of `Ordering` is a good idea, but not som

[2022-10-17 14:39] pnkfelix commented on #60194
[Visiting for wg-debugging triage](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/.5Btriage.20mtg.5D.202022-10-17/near/304476169)

@eddyb sorry, can you say more about the context of the breakage you are observing? Are you saying that you are seeing the debuginfo tests fail on your machine? Do you know what we might have to do on our own hosts to observe the

[2022-10-17 14:47] dtolnay commented on #82901
Be aware that whether or not you want the default value is not the only consideration here. You also require a situation in which `T` is completely inferrable. The combination of those 2 is less common in my experience (especially if I also take into account experience from similar situations in the `Entry` API). Extrapolating "every single case I wanted the default" to "therefore I would have fou

[2022-10-17 14:58] #76113 closed

[2022-10-17 15:11] tczajka commented on #87067
The problem with how `PartialEq` conditions have been changed is that now it contradicts the statement that `PartialEq` implements [partial equivalence relations](https://en.wikipedia.org/wiki/Partial_equivalence_relation).

See this [IRLO thread](https://internals.rust-lang.org/t/musings-on-partialeq/17577/6).

Example code from the thread:
[code]

This satisfies the `PartialEq` conditions, but i

[2022-10-17 15:16] nappa85 commented on #103149
Sorry, never used perf top before, if there is something specific I need to do, please tell me.

Simply lanching `perf top` while the project is building with new code, I've been able to see several changes in the top red part, but the names where more or less always those, sometimes combined between them:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2022-10-17 15:23] pnkfelix commented on #71437
[visited for wg-debugging triage](https://rust-lang.zulipchat.com/#narrow/stream/317568-t-compiler.2Fwg-debugging/topic/.5Btriage.20mtg.5D.202022-10-17/near/304480845)

we discussed this for a bit. @michaelwoerister had some ideas for ways we might revise the debuginfo tests to be more robust to targets that are feature delay-slots (and are making use of them when compiling these tests).

I think

[2022-10-17 16:05] apiraino commented on #47561
issue discussed during last week's T-compiler meeting ([notes](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-10-13/near/303856661)). Follow-up on this [Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/old.20perf.20issues.20reducing.20to.20delta.28inline.20heuristics.29.20.2347561)

@rustbot label -I-compiler

[2022-10-17 16:12] chenyukang commented on #103143
@rustbot claim

[2022-10-17 16:35] eddyb commented on #60194
Based on the paths in this report, this is `lldb` *locally built from source*.

But AFAICT there's no way to do that nowadays (@Mark-Simulacrum may be able to shed more light on this):
https://github.com/rust-lang/rust/blob/abd77441010d74430be5c34a2e62002e578fa165/src/bootstrap/native.rs#L469-L492

I think I can cheese it by shoving `LLVM_ENABLE_PROJECTS="lldb"` into `llvm.build-config` in `config

[2022-10-17 16:35] #60194 closed

[2022-10-17 16:37] jrtc27 commented on #71437
The GCC compile farm has various sparc64 machines available for anyone working on open-source projects (not just GCC) https://cfarm.tetaneutral.net/machines/list/

[2022-10-17 17:01] CAD97 commented on #83527
The main blocking issue is determining the exact behavior we want out of `$$crate` and ensuring that's what's implemented. This is what reverted the first stabilization attempt, anyway.

This question is essentially whether `$$crate` should be equivalent to writing `$crate` in the crate where the macro which wrote `$$crate` or the crate which expanded that macro. https://github.com/rust-lang/rust/

[2022-10-17 17:34] PatchMixolydic opened #103155 "Suboptimal diagnostics when trying to create a trait object for a trait with GATs"
Given the following code ([playground 1](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=283ceedf88927d7f7847fdccdb64d107)):

[code]

The current output is:
[code]

Following this suggestion ([playground 2](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=382ec29650ce0920540563ad24bfdfe8))...
[code]

... produces another diagnostic:
[code]

Finally,

[2022-10-17 17:51] ijackson opened #103156 "ICE compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:23:85 on stable"
### Code

I don't have a minimal repro.  Moving `target` aside makes the bug go away.  Putting the "busted" `target` back makes it reappear, so this looks like an incremental compilation bug.  The `target` directory in question is 42Gb.

I was running `cargo clippy`.  Switching to `cargo check` makes the bug go away.

The error message is:
[code]

I think this is probably #100521 but here it's hap

[2022-10-17 17:52] ijackson commented on #103156
@rustbot modify labels +A-incr-comp

[2022-10-17 18:09] stepantubanov opened #103157 "Illegal Eq derive in an enum with Option<f64>"
I tried this code:

[code]

I expected to see this happen: code fails to compile.
Instead, this happened: code compiles, and assertion fails.

Changing order of enum variants to make `Float` go first fixes the issue:
[code]

### Meta

`rustc --version --verbose`:
[code]

It's reproducible in [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cdd56f0d98da2afa2a89f0

[2022-10-17 18:13] the8472 commented on #101913
Would that be enough to get the debug info though? even if the file name wouldn't resolve, at least the symbols would.

[2022-10-17 18:25] BurntSushi commented on #98070
I don't feel strongly here either I think, but an alternative and perhaps slightly more idiosyncratic API would be `Result<(), SomeErrorTypeName>`. If the result is `Ok`, then it's a terminal, and otherwise there is an error explaining _why_ it is _believed_ to not be a terminal. AIUI, for example, the detection logic on Windows (assuming it was copied/derived from my patch to `atty`) is somewhat

[2022-10-17 18:50] cjgillot commented on #52188
In-band lifetimes do not exist any more.  This bug has become irrelevant.

[2022-10-17 18:50] #52188 closed

[2022-10-17 18:54] Spoonbender commented on #65700
triage: no change

(code still compiles)

[2022-10-17 18:55] Spoonbender commented on #38516
triage: no change

[2022-10-17 18:58] Spoonbender commented on #66505
triage: no change

[2022-10-17 19:06] Spoonbender commented on #59333
triage: partially resolved

I'm not seeing errors for [the original post](https://github.com/rust-lang/rust/issues/59333#issue-423561062) nor for [this example](https://github.com/rust-lang/rust/issues/59333#issuecomment-477822694), but [2nd example](https://github.com/rust-lang/rust/issues/59333#issuecomment-555973113) still generates an incorrect warning.

[2022-10-17 19:07] josephlr commented on #63291
It is possible to create a zeroed array or slice directly on the heap on Stable Rust and without using `unsafe`:
[code]
This doesn't blow the stack [even with `opt-level=0`](https://rust.godbolt.org/z/z63Gzs9jE).

[2022-10-17 19:08] Spoonbender commented on #66585
triage: still reproduces, error message improved:

[code]

[2022-10-17 19:10] Spoonbender commented on #51779
triage: no change

[2022-10-17 19:15] Spoonbender commented on #25050
Triage: no change

up-to-date repro:
[code]

[2022-10-17 19:15] Spoonbender commented on #27603
Triage: no change

[2022-10-17 19:18] Spoonbender commented on #26080
Triage: still reproduces

Do we still consider this a bug?

[2022-10-17 19:19] SimonSapin commented on #63291
That’s an optimization (based on [specialization of a private trait](https://github.com/rust-lang/rust/blob/1.64.0/library/alloc/src/vec/spec_from_elem.rs)) in current versions of the standard library, but it [only works for some types](https://github.com/rust-lang/rust/blob/1.64.0/library/alloc/src/vec/is_zero.rs) and is not a documented guarantee.

[2022-10-17 19:22] Spoonbender commented on #35177
Triage: resolved

The original code compiles on stable in the playground.
Can we close this one? @Mark-Simulacrum

[2022-10-17 19:28] Spoonbender commented on #68243
Triage: resolved

The invalid suggestion no longer shows.

The current flow is:
[code]
yields:
[code]

Then following the suggestion we get:
[code]
which yields
[code]

and once we follow up on that suggestion:
[code]

compiles!

Can we close this one? @jonas-schievink @olegnn

[2022-10-17 19:29] Nilstrieb commented on #103157
Expanding the macro yields a ```rust
impl ::core::cmp::Eq for Value {
    #[inline]
    #[doc(hidden)]
    #[no_coverage]
    fn assert_receiver_is_total_eq(&self) -> () {
        let _: ::core::cmp::AssertParamIsEq<Option<bool>>;
    }
}
[code]

[2022-10-17 19:30] Spoonbender commented on #28895
Triage: no change

[2022-10-17 19:32] Spoonbender commented on #63654
Triage: no change

[2022-10-17 19:33] imp commented on #82901
Very good example. However, in my opinion it doesn't lower the value of `get_or_insert_default`. Just my opinion - I realize others can feel differently.

[2022-10-17 19:45] #102396 closed

[2022-10-17 19:46] #100689 closed

[2022-10-17 19:46] #102899 closed

[2022-10-17 19:47] SUPERCILEX commented on #79995
Regarding the naming, I also think they should be called `{copy,clone}_from_slice` for consistency and ease of finding. The [original reasoning](https://github.com/rust-lang/rust/pull/79607#pullrequestreview-542275599) for their current name is to indicate that the cloned values will NOT be dropped. However, I'd argue most people don't even realize that value replacement causes the old values to b

[2022-10-17 20:20] Nilstrieb commented on #103157
Gonna hand it over to you @fuzzypixelz as discussed on zulip
@rustbot release

[2022-10-17 20:21] fuzzypixelz commented on #103157
@rustbot claim

[2022-10-17 20:27] Nilstrieb commented on #103156
This is probably still happening ln stable because the fix hasn't been released to stable yet I think

[2022-10-17 21:00] SNCPlay42 commented on #103157
On 1.63.0 this failed to compile, as expected ([godbolt](https://rust.godbolt.org/z/KPoGWs97c)):

[code]

@rustbot label regression-from-stable-to-stable

[2022-10-17 21:04] Nilstrieb commented on #103157
this was recently introduced when @nnethercote was doing derive optimizations.

[2022-10-17 21:06] LeSnake04 commented on #103148
I am not sure if  and how the other lints implicitly do do error handling when changing `T` into `Result<T, E>`.

I personally would just change  the call and let the lint of the resulting error do their job and let the user decide how to handle it themselve. I would dislike the compiler also changing the type in this case because I usally prefer returning it or handling the error on the same line

[2022-10-17 21:25] pdegler opened #103167 "Miri run fails with ICE since nightly-2022-10-07-x86_64-unknown-linux-gnu"
The ICE started to occur with bors merges from 6.10.2022. Or in other words with the ICEs started to occur with nightly-2022-10-07-x86_64-unknown-linux-gnu. Might be related to [this](https://github.com/rust-lang/miri/commit/f6016e21e3a11305c8ebb7e082271dec3303f772) ?

### Code

Unfortunately there is no simple example to reproduce the problem. Also the bug does not occur if I only execute the one

[2022-10-17 21:34] nnethercote commented on #103157
I'll take a look today, thanks for the report.

[2022-10-17 21:40] Amanieu commented on #93333
#103168

[2022-10-17 22:14] jsenkpiel-godaddy commented on #27721
Could `Pattern` have a flag that could be set on whether to use [`eq_ignore_ascii_case`](https://doc.rust-lang.org/std/primitive.str.html#method.eq_ignore_ascii_case) for its comparisons?

9note: i do not know how `Pattern` works so maybe it's not possible idk. but it would be very handy!)

[2022-10-17 22:15] Fishrock123 commented on #27721
Could `Pattern` have a flag that could be set on whether to use [`eq_ignore_ascii_case`](https://doc.rust-lang.org/std/primitive.str.html#method.eq_ignore_ascii_case) for its comparisons?

(note: i do not know how `Pattern` works so maybe it's not possible idk. but it would be very handy!)

[2022-10-17 22:52] #35177 closed

[2022-10-17 23:03] BurntSushi commented on #27721
@Fishrock123 It is doable, but substring search algorithms are usually not amenable to being adapted straight-forwardly to support case insensitivity. (This isn't true for all of them, but I think is likely true for Two-Way at least, which is the algorithm currently used for substring search.) So in order to support such a flag, you'd probably need to dispatch to an entirely different algorithm.

[2022-10-18 00:00] saethlin commented on #103167
You could pass `-Zmiri-tag-gc=0` as well, that will just make things slower but you'll still get Stacked Borrows checks.

Can you share the code that causes this crash?

[2022-10-18 00:23] thomcc opened #103170 "`std::error::Error` docs don't mention `e.downcast()` (only `downcast_{ref,mut}`)"
I didn't notice an issue on file for this already, feel free to dupe against it if one exists.

In https://github.com/rust-lang/rust/pull/99917 we landed support for error in core, and sadly one of the casualties was the docs got somewhat worse. Concretely, `Box<dyn Error + stuff>::downcast()` is no longer shown on the [docs page for Error](https://doc.rust-lang.org/nightly/std/error/trait.Error.h

[2022-10-18 00:25] saethlin commented on #103167
@rustbot claim
🤦 found the bug

[2022-10-18 00:56] skyzh commented on #103147
The difference:

[code]

where in nightly-07-29

[code]

Note that the latest nightly has an extra `::<'_>` after `boxed`. Not sure if this is the contributing factor of so many obligations... still working on a minimum reproducible example.

[2022-10-18 01:30] ErichDonGubler commented on #98070
I'm not sure if this has been discussed, but I'm actually surprised that this is proposed to be included in `std`. I know that until now, the `isatty` crate and others have served to expose this functionality. As a Rustacean, I'm accustomed to the notion of `std` taking on a very small scope. In this way, this new surface seems to change from that historical precedent? Out of curiosity, what's the

[2022-10-18 01:52] skyzh commented on #103147
Not related to futures_async_stream. Need investigate where are the 4000+ obligations from. cc @xxchan let's close for now until we find the root cause and submit another issue?

[2022-10-18 02:46] flukejones commented on #93050
Hexerator is currently using this https://github.com/crumblingstatue/hexerator/commit/8d643c5153dbe366b55b607972031cabaa7705c2

[2022-10-18 04:15] joshlf opened #103173 "const_trait_impl suggests `~const Trait` bound in illegal position"
I compiled [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=48ce3156989e38df4703a852f5189e68) on the playground:

[code]

I got this error:

[code]

When I [took the suggestion](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4d9dd99716669baeef9fc8d8181f89b4) and added a `~const Deref` bound, I got an error stemming from the location of

[2022-10-18 04:34] est31 opened #103174 "rustdoc adds 'static lifetime for consts and statics since 1.64.0"
Since [1.17.0](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1170-2017-04-27), one doesn't have to put `'static` in consts any more, the lifetime is implied to be static.

Rustdoc has respected this in printing, by omitting the `'static` lifetime when printing a `const` or `static`. This has regressed recently in the 1.64.0 release. Compare for example this rustc rustdoc for [1

[2022-10-18 04:50] plusls opened #103175 "Should unwind add no_default_flags when target is android and use ndk?"
I discuss it in https://github.com/rust-lang/cc-rs/issues/731#issuecomment-1281809211

I found that in cmake-rs set no_default_flags when use ndk, and I found that in ndk25, flag_if_supported always return false because of it check -luwind use the default flag `--target=aarch64-linux-android` cause compile failed.

[2022-10-18 04:53] jruderman commented on #103173
@rustbot label +A-diagnostics +T-compiler +D-invalid-suggestion +F-const_trait_impl

[2022-10-18 05:49] Nilstrieb commented on #103157
Don't worry, we've found the issue already, just wanted to let you know.

[2022-10-18 05:51] nnethercote commented on #103157
See #103176 for the fix.

[2022-10-18 07:23] oli-obk commented on #103173
cc @rust-lang/wg-const-eval we should probably just allow this. I think @fee1-dead was talking about that this would be very helpful for impl blocks in libstd.

[2022-10-18 07:33] pdegler commented on #103167
Just setting this flag did help to prevent the ICE. Seems like you really found it.

[2022-10-18 08:01] pcwalton commented on #103103
.

[2022-10-18 09:03] belooping opened #103181 "Error in compilation"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-10-18 09:09] belooping commented on #103181
I'm Rust newbie and I try to make a microservice.
The offending line was at first the following:
function serve
'''
let result = AssertUnwindSafe(request_handler(request)).catch_unwind().await;
'''
When I did "cargo check", I had an error and when I tried to correct it with the recommended option, this is what I received.
'''
let result = AssertUnwindSafe(request_handler(request, &jvs_file)).catch

[2022-10-18 09:34] oli-obk opened #103183 "valtree's `to_le()` actually produces different result on big-endian from little-endian."
[code]

_Originally posted by @ecnelises in https://github.com/rust-lang/rust/issues/96591#issuecomment-1282088638_

[2022-10-18 10:01] h4x3rotab commented on #78744
Here's another example reproducing the same problem differently:

https://github.com/Phala-Network/phat-stateful-rollup/tree/8ea712721410a1c28fc9b0a680abf41e2124f3de/phat/sample_oracle

With `cargo-contract` installed, under this flow, run:

[code]

[2022-10-18 10:05] aDotInTheVoid commented on #103174
searched nightlies: from nightly-2022-06-24 to nightly-2022-08-05
regressed nightly: nightly-2022-07-26
searched commit range: https://github.com/rust-lang/rust/compare/7fe022f5aa32bbbb33c3a58755729d6667a461a9...6dbae3ad19309bb541d9e76638e6aa4b5449f29a
regressed commit: https://github.com/rust-lang/rust/commit/6dbae3ad19309bb541d9e76638e6aa4b5449f29a

<details>
<summary>bisected with <a href='http

[2022-10-18 10:34] Rageking8 commented on #103174
cc @cjgillot

[2022-10-18 10:35] Rageking8 commented on #103183
@rustbot label +C-bug

[2022-10-18 11:30] Nilstrieb commented on #103181
Hi, thank you for your report. Can you verify that this issue still occurs on the latest nightly version?
[code]

[2022-10-18 11:42] douglas-raillard-arm opened #103186 "Crash on latest rustup update"
Seems similar to this bug: https://github.com/rust-lang/rust/issues/100818, and the affected toolchain seems to be the same:

### Code
https://github.com/douglas-raillard-arm/lisa/tree/_rust_bug0

git repo: https://github.com/douglas-raillard-arm/lisa.git
branch: _rust_bug0

This is a regular cargo project hosted at:
[code]

I unfortunately don't have the bandwidth to make a shorter reproducer, bu

[2022-10-18 11:44] DzenanJupic opened #103187 "Redundant closure works, but fn item doesn't"
I tried this code [[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=de57999cc0ff59a10c1932482811bfc0)]:

[code]

I expected to see this happen:

Both should compile, because the compiler should have the same information in both cases.

Instead, this happened:

[code]

### Meta

(nightly, and stable)

`rustc --version --verbose`:
[code]

[2022-10-18 12:22] #68243 closed

[2022-10-18 12:38] sosthene-nitrokey commented on #89940
This also affects enums.

[code]

gives

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9d4661a90c6704bc943980fa477af9b6)

And the trick of adding a field works also:

[code]

Compiles ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5cfe135dc2dcf29c4196d96d033e4503) )

[2022-10-18 12:46] oli-obk commented on #63084
There's a rendering bug and a soundness bug that we need to fix before we can stabilize. Both are linked from the main post

[2022-10-18 12:47] belooping commented on #103181
Hi Nilstrieb, yes, same behavior with the nightly build.

[2022-10-18 12:52] oli-obk commented on #94187
As a first step we should probably just remove the verbose flag check from rendering constants. That looks just useless even for compiler debugging.

But to fix this properly we'll likely need to create a way to tell the pretty printer whether to use verbose mode or not, and entirely avoid using verbosity checks within it.

[2022-10-18 13:14] skyzh commented on #103147
Probably has fixed by https://github.com/rust-lang/rust/pull/102945? Let's try again.

[2022-10-18 13:41] #103147 closed

[2022-10-18 13:51] krasimirgg opened #103191 "libstd: -Z build-std is newly broken for, e.g., x86_64-unknown-none; error: `sys_common::once::generic::Once::new` is not yet stable as a const fn"
Recent occurrence similar to https://github.com/rust-lang/rust/issues/98378, example adapted from there:
[code]
I can repro the same error via `x.py`:
[code]

https://users.rust-lang.org/t/compile-error-with-build-std-std/82696 mentions the same error.

I'll see if something similar to https://github.com/rust-lang/rust/pull/98457 resolves this.

[2022-10-18 13:53] stephenrkell commented on #101913
If you don't want to call out to the filesystem, then only the dynamic linking symbols are available (.dynsym but not .symtab). Exactly which symbols that includes depends on how the binary was linked... in executables, you can get away without exporting much, so sticking with this limitation will not reliably give good backtraces.

But 'debugging information' usually doesn't refer to either of th

[2022-10-18 14:14] jruderman commented on #103181
[code]

This check was promoted to 'internal compiler error' in commit 7808f69ad7a31e54719bf71017b745ee3ceac167 as part of pull request #99015 (@lcnr)

[2022-10-18 14:18] Nilstrieb commented on #103181
Looks like this is the same issue as #102588, which unfortunately also doesn't contain useful info.

[2022-10-18 14:40] belooping commented on #103181
Thank you for the info.
Best regards
Didier

On 18 Oct 2022, 16:14 +0200, Jesse Ruderman ***@***.***>, wrote:

[2022-10-18 14:54] est31 commented on #101991
@m-ou-se good point. I've tried building a similar primitive that joins spans in a similar fashion, but it doesn't work:

[code]

If you try that on the example from dtolnay given above, you get as output:

[code]

It's I think because the group wholly ignores the spans of its children and instead assumes the span of the macro invocation that created it. I guess this combination trick can only be

[2022-10-18 14:54] jruderman opened #103195 "Slow compilation with extremely borrowed type"
This fairly small Rust program takes 5–10 seconds to compile ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a3385d971c78cfd4a3edf0fc8ac39929)):

[code]

Found with [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc).

### Timings

The passes taking the most time are:
* wf_checking
* type_check_crate
* MIR_borrow_checking

<details><summary>Output with `-Z ti

[2022-10-18 14:56] m-ou-se commented on #101899
An alternative is to add an `assert!()` in the existing `from_size_align_unchecked` function (and perhaps deprecate it), and add a new `unchecked` function with the additional requirement. That way, the original function doesn't suddenly get a new unsafe requirement. But it'd require coming up with a new name. (`new_unchecked`?)

[2022-10-18 15:11] est31 commented on #101991
Stabilization PR: #103197

[2022-10-18 15:19] lyming2007 commented on #102972
[code]
It's hard to get 'c' in line 3 during the context where the compiler errors out the second mutable borrow message, because the mutable borrow happens between `chars.by_ref() and chars.next()`

[2022-10-18 15:20] lancethepants opened #103199 "Issue bootstrapping x86_64-unknown-linux-musl - using -static when linking llvm dynamic library"
I'm using  Debian 10 trying to bootstrap x86_64-unknown-linux-musl.
https://github.com/lancethepants/rust-bootstrap-x86_64-unknown-linux-musl

I've bootstrapped other platforms using musl libc but haven't encountered this issue. Near the end of compiling llvm for the target when everything is linking I get this and other issues like this.  The issue seems to be that `-static` is being passed to th

[2022-10-18 15:25] fmease commented on #103195
@rustbot label I-compiletime

[2022-10-18 15:45] jyn514 opened #103201 "Simplify --exclude syntax and make it more useful"
I think we should have a holistic conversation about what excludes should look like. The current syntax is currently quite baroque and AFAIK @pietroalbini's CI scripts are the only ones using most of the features. Slapping git-style ignores on top seems like it will make things more confusing, not less.

That said, I agree the behavior is confusing and there's room for improvement; I'd love to get

[2022-10-18 15:56] jruderman opened #103202 "ICE: panicked at 'unexpected unresolved segments'"
Found by fuzzing ([modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc))

### Code

This code ices the compiler ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4c1d4a8d2092c68fa49aef021d6fd688)):

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
<

[2022-10-18 16:01] TheAwiteb commented on #103148
I guess the problem is. rustc should write you a note of `try_into` to `Result<T, E>` if you're writing this

[code]

**If it is i want to claim it.**

[2022-10-18 16:19] LeSnake04 commented on #103148
I think it should also work if you dont take a result.

Also I did a minimal example. Normally you would use something like this:
(Consider  5 a struct that implements TryInto<f32> but not Into<f32>)

[code]
should be corected to
[code]

If you want to handle the error as well, it should rather become this:
[code]

[2022-10-18 16:32] #103052 closed

[2022-10-18 17:04] TheAwiteb commented on #103148
Yes i see, something like

[code]
in the core.

Can we do this?

[2022-10-18 17:20] TheAwiteb commented on #103148
@bors claim

[2022-10-18 17:24] TheAwiteb commented on #103148
@rustbot claim

[2022-10-18 17:35] fmease opened #103206 "`x.py build` no longer places `rustc` and `rustdoc` binaries into `stage2/` with config `profile = "tools"`"
`./x.py b` with `profile = "tools"` in `config.toml` no longer places `rustc` & `rustdoc` into `build/$TARGET/stage2/bin/` but just into `build/$TARGET/ci-rustc-sysroot/bin/`.
Tested on Linux.

[Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/Where.20does.20x.2Epy.20but.20stage2.20rustdoc/near/304099796).

@rustbot label T-infra A-bootstrap A-contributor-roadb

[2022-10-18 17:40] apiraino commented on #103141
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103141.20Rust.20update.20from.201.2E63.20to.201.2E64.20introduce.20lifetime.20pr.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-10-18 17:43] LeSnake04 commented on #103148
.into() being an alias to .try_from().unwrap() would also be quite useful. I also had that idea. Maybe its best best to do that and show a warning that the call was aliased and that the user might consider switching to .try_from() in order to handle errors properly.

[2022-10-18 17:46] TheAwiteb commented on #103148
No, i think we cannot use `unwrap` It's dangerous

[2022-10-18 17:52] compiler-errors commented on #103181
I can look into this. I was investigating the same assertion in #102858.

@rustbot claim

[2022-10-18 18:06] fmease commented on #24183
@rustbot claim

[2022-10-18 18:12] fmease commented on #25061
I can no longer reproduce this: Only *one* impl is shown for `Arc` on pages of [`Sync`](https://doc.rust-lang.org/std/marker/trait.Sync.html) & [`Send`](https://doc.rust-lang.org/std/marker/trait.Send.html).

[2022-10-18 18:19] fmease commented on #86632
Interestingly, rustdoc does render a source link for e.g. the `IntoIterator` impl for `BinaryHeap` on the [`std::iter::IntoIterator` page](https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html) but not on the [`core::iter::IntoIterator` page](https://doc.rust-lang.org/nightly/core/iter/trait.IntoIterator.html). `BinaryHeap` is defined in `alloc` and thus this is some kind of cross-cra

[2022-10-18 18:19] compiler-errors commented on #103181
Minimized quite a lot:

[code]

[2022-10-18 18:41] TheAwiteb commented on #103148
Yes we can't
![image](https://user-images.githubusercontent.com/59842932/196516413-96ccec1a-d8bd-4945-b8e0-aa1d877dbccb.png)

I think add note to use `try_into` will be clear

[2022-10-18 18:50] jruderman opened #103210 "ICE "no entry for node id" (new_named_lifetime_with_res in rustc_ast_lowering)"
Found by fuzzing with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

The compiler panics while compiling this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a3cfcf51d981b2a50c9e43377beddfe5)).

It then panics a second time while trying to explain why it panicked.

[code]

I believe this is a valid Rust program, based on the

[2022-10-18 18:57] jyn514 commented on #103206
I'm not convinced the binaries in `ci-rustc-sysroot` are actually the newly compiled binaries; I think they may just never be copied from `stage1-tools-bin` into a sysroot.

[2022-10-18 19:14] pnkfelix commented on #100276
@wesleywiser pointed this out to me.

It may be motivation to revert the stablization of let-chains on beta. Lets try to ensure we talk about this at Thursday triage

@rustbot label I-compiler-nominated

[2022-10-18 19:17] TheAwiteb opened #103212 "Help message to use `U::try_from(t)` when use `U::from(t)` to expect `Result<U, E>`"
Related to #103148

Given the following code: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1e82e2cfd989cd68f03106e5860124c9))

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-10-18 19:17] TheAwiteb commented on #103212
@rustbot claim

[2022-10-18 19:19] pnkfelix commented on #100276
False alarm; @wesleywiser pointed out to me that let-chains is already been marked unstable (on beta and nightly).

@rustbot label: -I-compiler-nominated

[2022-10-18 19:20] TheAwiteb commented on #103148
@rustbot release-assignment

[2022-10-18 19:49] Nilstrieb commented on #103195
Perf indicates that most of the time is spent during borrowck in `TransitiveRelationBuilder::add` from `rustc_data_structures`.
https://github.com/rust-lang/rust/blob/a24a020e6d926dffe6b472fc647978f92269504e/compiler/rustc_data_structures/src/transitive_relation.rs#L98-L105

Specifically, the `contains` on the `Vec<T>` seems to take up a significant amount of time:
[code]
And indeed, the `Vec<T>`

[2022-10-18 20:07] jhodapp commented on #103028
Thanks for such a quick turnaround on this!

[2022-10-18 20:09] Nilstrieb commented on #103195
Doubling the amount of nested references makes it go up to `196251`, so this is indeed quadratic.

[2022-10-18 20:16] Nilstrieb commented on #103195
@SparrowLii since you've recently touched that code

[2022-10-18 20:18] pnkfelix opened #103215 "tuple struct expressions with non-visible (private) fields should bias towards suggesting methods"
Given the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bda7f897fd748b52731a1f3dd0e61d2e)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

----

In other words: If a type from an external crate has non-public fields, we should not be suggesting the user attempt to use them for constructing an instance of the

[2022-10-18 20:45] heaths commented on #84277
@scottmcm asked me to share my experience with using these traits. I've been writing some Rust for a few years, but not as comfortable with it as with most other languages I know, but maybe that's useful.

My goal was to allow devs to use the `?` operator with any error type to convert to a `u32` (more specifically, a `UINT` or `unsigned int` in C / Win32) as seen here: https://github.com/heaths/m

[2022-10-18 20:51] cormacrelf commented on #102966
One more thing, the explicit lifetime bounds on associated type bounds don't seem to be returned by the `explicit_predicates_of` query, and hence we get this:

[code]

Not sure if this is wrong. Due to https://github.com/rust-lang/rust/blob/4bd30785eb6e55f317b41b7c278f438807eeb174/compiler/rustc_hir_analysis/src/collect/predicates_of.rs#L378-L385

[2022-10-18 20:59] cjgillot commented on #103202
cc @petrochenkov

[2022-10-18 21:11] #101926 closed

[2022-10-18 21:43] matklad commented on #38873
Couple of thoughts: at this point, there’s no way we actually flip the default presentation. At the same time, we already allow controlling backtrace formatting via RUST_BACKTRACE env var. I think implementing a nightly-only RUST_BACKTRACE=“short,reversed” would be an immediate win which wouldn’t require too much bike shedding.

[2022-10-18 22:19] chloekek commented on #101697
The same appears to happen with other attributes:

[code]

[2022-10-18 22:29] Alexendoo commented on #100672
Fixed by #102945

[2022-10-18 22:29] #100672 closed

[2022-10-18 22:39] ezracelli commented on #96339
@trrk did you find a solution or a way around this (or if this is intentional)?

[2022-10-18 23:15] TennyZhuang commented on #48994
Paste my potential solution from
https://internals.rust-lang.org/t/an-optimistic-version-of-collect-result-t-e/17584/2, do we need an RFC for that?

I’d prefer to implement two versions, collect_optimistic and collect_pessimistic, which will use size_hint.0 and size_hint.1, and leave `collect` as an opaque implementation (even leave for PGO?). When in the critical path, users can choose the versio

[2022-10-19 00:17] jruderman opened #103219 "Exponential compilation time on chained "invalid left-hand side of assignment""
This invalid code takes about 8 seconds to (not) compile:

[code]

Each added `1=` doubles the compilation time. Memory use also grows, although not as quickly.

Found by fuzzing with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc).

### What is slow

Compiling with `-Z time-passes` says the slow pass is `item_bodies_checking`.

<details><summary>Full output with -Z time-passes</s

[2022-10-19 00:56] scottmcm commented on #48994
My instinct is that the code doing the `collect` isn't the one that knows whether to call `optimistic` or `pessimistic`.  It feels to me like `filter_optimistic` or `filter_pessimistic` is the place that's more likely to know whether it'd be better to use a small or large reservation in a later `collect`.  And that way it can be passed to other things too.

[2022-10-19 01:01] scottmcm commented on #87008
Note that uninhabited is orthogonal to size.  You can have an uninhabited type of any size.

[2022-10-19 01:02] camelid commented on #87008
Hmm, I think that `layout_of` will report that the size is always 0 for an uninhabited type though, unless that's changed recently.

[2022-10-19 01:04] scottmcm commented on #87008
That would surprise me, since that'd be different from what `size_of` and `align_of` do: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e1ad034d9812b5356493e4faefe4be61>

[2022-10-19 01:07] Ben-Lichtman commented on #54886
Adding the comment I made on the PR:

I know that this issue is long-closed, however I'd like to add that this would allow the removal of panicking code paths from critical code which may not panic, so I suggest a reconsideration.

Without this, one has to rely on unstable optimizations to remove panicking code.

[2022-10-19 01:48] bridiver commented on #102754
@glandium do you have a link for the bug fix?

[2022-10-19 02:29] Riolku commented on #93396
I don't think these are useful. Surely it's not very hard to use `sort_unstable_by(f64::total_cmp)`.

I think, although longer, forcing the long usage makes users aware of the possible issues, instead of sweeping them under the rug.

[2022-10-19 02:46] RagibHasin commented on #84277
May I suggest `Unexpected` as an alternative to `Residual`? After reading through the RFC thoroughly (twice and early on), I think `Residual` conveys the meaning best, although English is not my first language. But the rationalization for `Residual` is a little hard to follow. `Unexpected` might be a better choice there because that is easier to model mentally, and I haven't seen it suggested befo

[2022-10-19 03:08] ssokolow commented on #77964
I may have run into the same issue on upgrading `actix-web-httpauth` from 0.6.0 to 0.8.0.

I got this error...

[code]

...and it took me about half an hour of confused fumbling with type annotations and the like to try to narrow down what had changed before I realized it was complaining about the return type of the `password_check` argument, not the return type of the `HttpAuthentication::basic`

[2022-10-19 03:20] tmccombs commented on #84277
I think Unexpected has the same problem as Error, where it can make it awkward to use it in places where it is actually expected that it is used. Perhaps "Exceptional" would work better, as it is an exception to the normal flow? But then you might have some baggage from exceptions in other languages.

[2022-10-19 03:31] glandium commented on #102754
https://reviews.llvm.org/D135728

[2022-10-19 03:56] compiler-errors commented on #103219
lol my fault

[2022-10-19 03:58] compiler-errors commented on #103219
regressed in d50d3fccdd3038b2621245e9591ea6e20eebde2a, I'll put up a fix.

[2022-10-19 04:01] blaine-dodson opened #103222 "Compiler Panic on specific macro expansion"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-19 04:03] js2xxx commented on #102886
The problem seems to have been fixed. Closing this issue.

[2022-10-19 04:03] #102886 closed

[2022-10-19 04:07] SafariMonkey commented on #84277
The RFC cites the Oxford definition as:

That aligns with my definition, but to me the intuitive interpretation was "extracting the diverging cases and leaving the remaining cases to continue execution", thus outputting (returning) the diverging type and continuing execution with what remained, the residual. If this is specifically for the `?` operator, could one use more explicit and less confusa

[2022-10-19 04:15] blaine-dodson commented on #103222
Also on latest stable.

### Meta

`rustc --version --verbose`:
[code]

### Error

<details>
<p>

[code]

</p>
</details>

[2022-10-19 04:38] blaine-dodson commented on #103222
Also on nightly.

### Meta

`rustc --version --verbose`:
[code]

### Error

<details>
<p>

[code]

</p>
</details>

[2022-10-19 04:41] raldone01 commented on #73900
See this pr for more information #101698.

[2022-10-19 04:43] compiler-errors commented on #103222
This regressed way back in #88546. Its approach is a bit flawed, because it assumes that within parentheses it's never valid to have a closure followed by a semicolon. Let me see if there's a way around this.

[2022-10-19 08:24] #103157 closed

[2022-10-19 08:34] oli-obk commented on #102352
I have been unable to fix this or apply a revert. @petrochenkov can you look at implementing this before the beta cutoff?

[2022-10-19 08:49] phimuemue commented on #102609
I was just trying to find out if `from_fn` actually guarantees that the function is called with 0, 1, ..., N *in that order*. Is there currently any such guarantee? (It seems that for [`array::map`](https://doc.rust-lang.org/std/primitive.array.html#method.map) there is, and `from_fn` is afaik implemented in terms of `array::map`.)

[2022-10-19 08:51] glandium opened #103229 "rustc doesn't say anything when PGO profile file can't be used"
The output of `llvm-profdata merge` from LLVM 15 can't be read by rustc 1.64 (LLVM 14), but rustc doesn't say anything about it, and proceeds to compile as if it didn't have profile data (which is fine in itself, but not when rustc doesn't say it's doing so).

[2022-10-19 09:03] jruderman opened #103232 "Misleading documentation for str::match_indices"
### Location

https://doc.rust-lang.org/std/primitive.str.html#method.match_indices
### Summary

[code]

[2022-10-19 09:15] eggyal commented on #48994
But `Iterator`s are often `collect`ed without first being filtered, and those should still have the ability to optimise either optimistically or pessimistically.

Perhaps there should be a trait that, if implemented by an `Iterator`, determines which optimisation approach it uses?  Then `collect` can specialise on that.

[2022-10-19 09:30] korejan opened #103233 "std lib compile errors for uwp-windows-msvc targets"
Building std library (-Zbuild-std) with nightly for uwp-windows-msvc targets has been failing with compile errors since around after 17/10/22

[code]

I expected to see this happen:

Last successeful build on 16/10:

https://github.com/korejan/ALXR-nightly/actions/runs/3257338692/jobs/5348560568

Instead, this happened:

Lastest failed build:

https://github.com/korejan/ALXR-nightly/actions/runs/3

[2022-10-19 09:30] Nehliin opened #103234 "ICE on stable 1.64.0 and nightly when running `cargo check`"
### Code

Code is proprietary unfortunately :( but I did narrow it down to a single line change.
The `create_session` signature looks like this:
`pub async fn create_session(&self, params: CreateSessionParrams) -> Result<Session, Error>`
and the error happend after I modified the `CreateSessionParams` struct and added a new field called `custom_name: Option<String>`.
In the method itself I incorre

[2022-10-19 09:34] bouk commented on #57972
Related: https://github.com/rust-lang/rust/issues/95360

[2022-10-19 09:34] jruderman opened #103235 "str::match_indices documentation is misleading re overlaps"
### Location

https://doc.rust-lang.org/std/primitive.str.html#method.match_indices

### Summary

"An iterator over the disjoint matches of a pattern"

It's weird to say "_the_ disjoint matches" as if this uniquely identifies a set of matches. It's certainly _a_ set of disjoint matches, and even _a maximal_ set of disjoint matches, but it isn't always the only such set.

"For matches of pat within

[2022-10-19 09:36] Nemo157 commented on #57972
Looks like #95360 fully covers this.

[2022-10-19 09:36] #57972 closed

[2022-10-19 09:58] belooping commented on #103181
Hello. Michael,
Thanks a. Lot, I will look at it and

Didier Rigoli
Senior Manager

On 18 Oct 2022, 20:20 +0200, Michael Goulet ***@***.***>, wrote:

[2022-10-19 10:31] jruderman opened #103238 "Terse diagnostic "unexpected end of macro invocation" when misusing `assert_eq!`"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a0807cc00e6a0104575403051e049b9f)):

[code]

### Current output: terse

[code]

### Better output: show macro correspondence

[code]

(See also #97108, which also asks for more verbose "missing tokens in macro arguments" errors.)

### Ideal output: fix my mistake

[code]

(See also #57507

[2022-10-19 10:43] haraldh commented on #23465
@masklinn a futex is just an AtomicU32. As long as the thread has access to the shared memory it can "own" it.

[2022-10-19 10:45] nnethercote commented on #98746
FWIW, the next release of Valgrind (3.20) will have better support for DWARF 5 and should be out in the next week or two.

[2022-10-19 10:54] petrochenkov commented on #102290
This issue should be fixed by https://github.com/rust-lang/rust/pull/103092.
Could you test it once that PR lands into nightly?

[2022-10-19 12:25] jruderman opened #103241 "Divergent suggestions to "borrow" when I actually need to path to the method via the reference type"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=df5c66b96626da8c8ca63b5969f4494f)):

[code]

### Current output

[code]

Neither of these suggestions gets me any closer to a working program:
* The first suggestion doesn't solve the problem, because it just tries to borrow the function that can't be found.
* The first suggestion diverg

[2022-10-19 12:27] ehuss commented on #103232
I'm going to close, assuming this was an unintentional duplicate of #103235. Feel free to reopen in case I misinterpreted.

[2022-10-19 12:27] #103232 closed

[2022-10-19 12:44] Mark-Simulacrum opened #103242 "regression: associated consts cannot be referenced in patterns"
Really bad spans in all of these (not related to this bug, I expect), but still a pretty wide ranging regression.

* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/gh/ChenYunShu-01.substrate-ink/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/gh/MSghais.flat_contract_mmr/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11

[2022-10-19 12:46] Mark-Simulacrum opened #103243 "regression: trait bound not satisfied"
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/reg/libreplica-0.1.1/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/reg/path-planning-0.1.0/log.txt

https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/reg/diesel-softdelete-0.1.0/log.txt might also be related but isn't the exact same error.

[2022-10-19 12:48] Mark-Simulacrum opened #103244 "regression: attributes on expressions are experimental"
Seems like something about our detection here changed, doesn't look like the cases here *should* be errors at a glance.

* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/gh/emily-signet.sleepyhead-kdl/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-10-11/gh/mozilla.rust-parsepatch/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.65-2/beta-2022-1

[2022-10-19 12:55] Mark-Simulacrum commented on #102621
*  regression: associated consts cannot be referenced in patterns #103242
*  regression: trait bound not satisfied #103243
*  regression: attributes on expressions are experimental #103244

@craterbot run name=beta-1.65-rustdoc-2 start=1.64.0 end=beta-2022-10-11 mode=rustdoc cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.65-rustdoc-1/retry-regressed-list.txt

[2022-10-19 12:56] Wyvern opened #103245 "Build -Zbuild-std with -Zsparse-registry failed."
Just found that, when build using `-Zbuild-std` and `-Zsparse-registry` got error like below.

[code]
Any suggestions? ...

[2022-10-19 12:59] petrochenkov commented on #102290
This should be fixed by https://github.com/rust-lang/rust/pull/103240.

[2022-10-19 13:53] #100276 closed

[2022-10-19 13:53] #102852 closed

[2022-10-19 13:53] #103210 closed

[2022-10-19 13:57] ehuss commented on #103244
This seems to be caused by #100232 (cc @cjgillot).

Here's a little repro:

[code]

Technically the error is correct, the attribute is being used in an expression in this example. Due to the [strange rules](https://doc.rust-lang.org/nightly/reference/expressions.html#expression-attributes) for when attributes are allowed on expressions, I'm guessing that self was previously being rewritten to be a

[2022-10-19 14:02] ehuss commented on #103245
Thanks for the report! This was a regression in Cargo. It should be fixed tomorrow. Closing as a duplicate of https://github.com/rust-lang/cargo/issues/11246.

[2022-10-19 14:02] #103245 closed

[2022-10-19 14:22] joshtriplett commented on #98070
@BurntSushi @kwi-dk I originally wrote this to return an error, but it turns out in practice that there aren't any interesting error cases on existing platforms. For instance, on UNIX, apart from "success, this is a terminal" or "this is not a terminal", the only error is "you passed something that isn't a file descriptor", and that isn't a *useful* case for any of the types you can call `is_termi

[2022-10-19 14:26] BurntSushi commented on #98070
@joshtriplett For Unix, yeah, I probably agree. All of the interesting error cases would be on the Windows side. And there is the question of not just "did a syscall fail somewhere" but also "*why* is it thought that this is a terminal" and "*why* is it thought that this is _not_ a terminal."

[2022-10-19 14:28] joshtriplett commented on #98070
@BurntSushi I don't think in practice "why is it thought that this *is* a terminal" has a very useful answer. And if you're looking for Windows-specific info like "did this have one of the magic names", that seems like something we shouldn't expose in any stable fashion, because eventually we hope it'll go away.

[2022-10-19 14:31] fmease commented on #103206
I am not familiar enough with the bootstrap process to be able to confirm or dispute this.
As far as I'm concerned, I've relinked my `rustup` toolchain `stage2` to `ci-rustc-sysroot` and everything appears to work flawlessly.

[2022-10-19 14:32] joshtriplett commented on #98070
@ErichDonGubler There are multiple crates providing this functionality, such as `atty`. But this is something widely useful, for which differentiation of any kind between implementations doesn't provide substantive value, and it isn't expected to ever become obsolete. We don't, in general, "bless" crates in the ecosystem; that tends to lead to multiple problems, not least of which if the implement

[2022-10-19 14:32] jyn514 commented on #103206
@fmease can you send the output of `rustc +stage2 --version` and `rustdoc +stage2 --version`?

[2022-10-19 14:33] fmease commented on #103206
Both output `rustc 1.66.0-nightly (e94827e5b 2022-10-18)`.

[2022-10-19 14:34] est31 opened #103248 "Let chain temporaries should drop before else"
Due to #103034, now the implementation of let chains has changed, to drop temporaries created by `let` after the `else` block terminates. Prior behaviour has mirrored the pre-dropping bheaviour of if as well as bool conditionals in the let chain, while current behaviour mirrors `if let`. However, post-dropping is suboptimal (#103108). In particular, before #103034 this was compiling:

[code]

But

[2022-10-19 14:35] est31 commented on #100513
I've filed an issue for let chains else dropping behaviour: #103248

[2022-10-19 14:35] jyn514 commented on #103206
yeah that looks like it's not actually reflecting your changes, just using the latest nightly unmodified

[2022-10-19 14:38] fmease commented on #103206
Hmm, that can't be. I am currently working on fixing #24183 and modifications to the rustdoc source code are indeed properly reflected in the compiled binaries. Maybe the version string is just wrong but my local changes *are* picked up.

[2022-10-19 14:39] est31 commented on #53667
Now with #103034 merged, only #99938 is open of your list @Lee-Janggun , which should be fairly easy to close.

I've also filed:

* #103248

It should ideally be resolved before stabilization. Also, while #100513 is closed, it should probably be reopened because the drop order isn't perfect yet.

[2022-10-19 14:39] fmease commented on #103206
Actually, I have a counterquestion. Can *you* reproduce this? Or is it just me and @aDotInTheVoid?

[2022-10-19 14:44] BurntSushi commented on #98070
I'm not advocating (or even suggesting hypothetically) that we expose "did this have one of the magic names" in any stable fashion. :-)

I'm not quite sure where the disconnect is here. I'll try again. Broadly, I have two points to bring up.

The first point are the docs. Today, the docs don't mention that heuristics _may_ be used in determining whether something is attached to a terminal or not.

[2022-10-19 14:48] boulanlo commented on #103242
Hi! A bit new to Rust contributing, but I saw this got a "needs bisection" label and thought I'd try to help. I picked the crate from the last log in the list (`zkink`).

I've managed to run the `cargo-bisect-rustc` tool up to the actual nightly that regressed (`nightly-2022-09-09`), but couldn't go further due to weird download issues with the actual commits.

Here's the list of relevant commits

[2022-10-19 15:00] petrochenkov commented on #102352
Reverted in https://github.com/rust-lang/rust/pull/103249.

[2022-10-19 15:09] ns-sjorgedeaguiar opened #103250 "index out of bounds with async and Fn"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-19 15:26] GuillaumeGomez commented on #102772
What do you think about this @Manishearth @jsha ?

[2022-10-19 15:28] Manishearth commented on #102772
Yeah we should do this.

[2022-10-19 15:30] GuillaumeGomez commented on #102772
I'll send a patch in the next days then.

[2022-10-19 15:31] heaths commented on #84277
As a follow-up to my [experience above](https://github.com/rust-lang/rust/issues/84277#issuecomment-1282984223) wherein my goal was to allow for any error to effectively return `ERROR_INSTALL_FAILURE` (1603), I wanted to support the case where a callee could return a wrapped `u32`.

The most obvious way was with specializations as seen here: https://github.com/heaths/msica-rs/pull/22. I'm consider

[2022-10-19 15:46] lyming2007 commented on #103238
@rustbot claim

[2022-10-19 15:59] bridiver commented on #102754
btw - why is `_rust_eh_personality` exported at all when panic == "abort"? It only applies to unwind, right?

[2022-10-19 16:18] sergio-ivanuzzo opened #103256 "Seems like quantificator symbol do not works correctly in macros expression"
I tried this code:

[code]

I expected to see this happen: *macros expression that use "?" should return error*

Instead, this happened: *both macros works in same way*

### Meta

`rustc --version --verbose`:
[code]

[2022-10-19 16:19] fmease commented on #91440
I can no longer reproduce this:

![rustdoc_91440](https://user-images.githubusercontent.com/14913065/196747690-115cfc76-e27a-4f87-8879-4b62bce3705a.png)

rustc 1.66.0-nightly (9062b780b 2022-09-21)

[2022-10-19 16:25] jyn514 commented on #91440
@fmease you need to also pass --document-private-items

[2022-10-19 16:29] pnkfelix commented on #101913
@stephenrkell [wrote](https://github.com/rust-lang/rust/issues/101913#issuecomment-1280918944):

I've started looking at this approach. It looks like it may be reasonably straight-foward to implement (something on the order of 100 lines of code in a standalone prototype), and does seem to resolve the `ld.so` case outlined by @jonhoo .

I'm going to see if I can make the corresponding change in htt

[2022-10-19 17:15] rillian commented on #102754
[This comment](https://github.com/rust-lang/rust/blob/a54ddd4/library/panic_abort/src/lib.rs#L89-L114) says it's because the distributed core/std libraries are compiled with panic=unwind and need an `eh_personality` symbol to link to even if it's not going the used.

Now, maybe it shouldn't be exported from a staticlib with that resolution having already happened?

[2022-10-19 17:26] bridiver commented on #102754
```// To handle this the compiler only requires the `eh_personality` is defined if
// the panic runtime being linked in is the unwinding runtime, and otherwise
// it's not required to be defined (rightfully so). In this case, however, this
// library just defines this symbol so there's at least some personality
// somewhere.```
It seems like this is actually having the reverse of the intended effe

[2022-10-19 17:57] PatchMixolydic commented on #103256
This is caught by the allow-by-default [`meta_variable_misuse`](https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#meta-variable-misuse) lint ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=02d7058d542d8821a666c598b75b6edb)):
[code]

See also #61053, the original tracking issue for the lint, and #95943, which contains a discussion on why th

[2022-10-19 17:58] fmease commented on #50291
This issue is now (mostly) fixed on nightly by #103142 and should be closed I think. The error message is now correct but the span is still “ugly”. I've overlooked this issue and only closed its duplicate, namely #103052.

[2022-10-19 17:58] oconnor663 opened #103259 "transitive coercion to slice doesn't work for arrays"
The first three coercions here work fine, but the last one fails on both `v1.64.0` and `v1.66.0-nightly` ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7ab90c5b24fc5b18fe23f31d3595f6c4)):

[code]

Is that expected? The [reference mentions](https://doc.rust-lang.org/reference/type-coercions.html#coercion-types) that transitive coercions are "not fully sup

[2022-10-19 18:07] fmease commented on #55000
Can't the concrete issue regarding `[a..b]` be fixed by replacing the `#[rustc_on_unimplemented]` “rule” with a *syntactic* check in the compiler similar to the logic you implemented in #89251 that suggests `a[a.len() - 1]` when encountering `a[-1]`?

[2022-10-19 18:13] estebank commented on #55000
@fmease yes, it could be by maybe introducing a new error code or do some special handling of E0277 like we already do for other things, I just have a desire to try to reduce the amount of probing code that we have to implement, and potentially get as "declarative" as possible, but we can indeed do that. The amount of code to get rustc_on_unimplemented to differentiate this and to implement custom

[2022-10-19 18:15] estebank commented on #50291
Actually, let's keep this open only for the span change :)

[2022-10-19 18:16] fmease commented on #59450
We could also reuse (abuse?) `#[doc(alias = "…")]` for this. I think I've seen this mentioned a few times.

[2022-10-19 18:20] Nilstrieb commented on #103195
This is now fixed, meaning the slowness is gone and it's reasonably fast now. I'm not sure whether we want to keep the issue though, as there seems to be some quadraticness in borrowck that caused this - using a better datastructure helped mitigate it, but the quadraticness is still _there_ - whether it matters is another question.

[2022-10-19 18:23] compiler-errors commented on #103243
The regression in `diesel-softdelete` is separate and regressed in #100757 cc @ouz-a

[2022-10-19 18:27] fmease commented on #57144
Code adjusted to modern Rust:

[code]

This code no longer emits a confusing error message, so I think this issue can be closed.

[code]

Further, the code above compiles under `#![feature(generic_const_exprs)]` with small modifications:

<details>
<summary>code</summary>

[code]

</details>

[2022-10-19 18:56] tmandry opened #103261 "-Z panic_abort_tests does not support #[bench]"
If we try to run a test binary built with `-Z panic-abort-tests` and that test has a function with the `#[bench]` attribute, the binary will panic with the following error:

`thread 'main' panicked at 'Cannot run dynamic test fn out-of-process', library/test/src/lib.rs:549:22`

This is because we convert `#[bench]` to a test using `DynTestFn` when not running benchmarks, but `DynTestFn` is not sup

[2022-10-19 19:13] #57144 closed

[2022-10-19 19:42] ehuss commented on #103261
I think this may be a duplicate of #73509?

[2022-10-19 19:49] ns-sjorgedeaguiar commented on #103250
Last working nightly `nightly-2022-09-26-aarch64-apple-darwin`

[2022-10-19 19:50] compiler-errors commented on #103250
I've got a fix for this, let me put up the PR in a sec.

[2022-10-19 20:07] the8472 opened #103265 "Partially const traits"
#102225 attempts to constify `Iterator` which would be a stepping stone towards `for _ in iter` loops in const fns.

The trouble there is that `#[const_trait]` requires that all trait methods are const and `Iterator` has an ever-growing set of methods which now all would have to be constified even though we only really need `Iterator::next` to be const to enable iterator loops.
And not only do tho

[2022-10-19 20:15] lyming2007 commented on #103238
I'm afraid we can't suggest some thing like:
[code]
Because `1 + 2 == 3` is a legal expression for RUST so we don't know if the programmer really wanted to write code like:
`assert_eq!(1+2 == 3, true); `or `assert_eq!(1+2 , 3)`

[2022-10-19 20:20] RalfJung commented on #103103
I'm sorry I am not familiar with LLVM `byref`. What do requirements do we need to impose on the MIR level to justify this attribute?

From the LangRef it sounds like using `byref` for `Operand::Copy` arguments is a no-brainer, and what is correct for `Operand::Copy` is certainly also correct for `Operand::Move`. When we use pointers to implement functions that, on the MIR level, perform a copy --

[2022-10-19 20:37] RalfJung commented on #87067
The notion of a PER is defined on binary relations in some set X. I am not aware of it even being a well-defined question to ask whether a relation on `X x Y` is a PER. Where are you taking that notion from?

[2022-10-19 20:48] jruderman opened #103267 ""Can't drop in const context" suggests adding a trivially false where clause"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a7f4897be9235f0aa6125f9207ee1f57)):

[code]

The current output is:

[code]

The suggestion at the end is nonsense for multiple reasons:
* `main` cannot have a `where` clause.
* The suggestion introduces a `where` clause with a [trivial bound](https://github.com/rust-lang/rust/issues/482

[2022-10-19 20:55] jruderman commented on #103238
I think it would be okay to suggest the more likely intended code.

Otoh, [Clippy has disabled lints suggesting to replace assert with assert_eq](https://github.com/rust-lang/rust-clippy/issues/2090) in anticipation of Rust changes. Perhaps it would be better to hold off for now on suggestions that commit to preferring a particular assert syntax.

[2022-10-19 20:56] compiler-errors commented on #103195
@Nilstrieb if this is fixed, then I'll probably close this. If we're tracking other quadraticness in the borrow checker, then we should both have examples that trigger such quadraticness and also open separate issues, since their fixes will likely be similar but distinct.

[2022-10-19 21:03] oli-obk commented on #103265
They were removed due to, once a trait is public and stable, it being a breaking change to add a non-const defaulted method to a trait. Just like adding a non-defaulted method to a trait is a breaking change today.

That said, until we stabilize the constness of Iterator, this is not an issue. We could add an attribute that can be added to defaulted methods that makes them not const (and thus also

[2022-10-19 21:18] RalfJung commented on #87067
Your previous post presupposes that there is some definition of "PER on `(A, B)`", which is not the case.

The stdlib docs also presuppose this, but your example doesn't demonstrate a problem with the stdlib docs, it just repeats the same mistake that the stdlib docs made.

That doesn't seem like a sensible definition to me. But note that if you made this choice, your example would be a PER, since

[2022-10-19 21:19] pnkfelix opened #103269 "A `:` instead of a `::` in a path of a `use` item should be a recoverable parsing error"
I tried this code:

[code]

I expected to see this happen: I expected to see two diagnostic messages, telling me about the distinct parse errors on lines 1 and 2.

Instead, this happened: The first error was treated as non-recoverable, yielding this output ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=90aeabb0d8644475e2614849634206df)):

[code]

----

I'm **

[2022-10-19 21:21] pnkfelix commented on #103269
(This needs a mentor. I am thinking that if someone doesn't pick it up by Friday, then I will see about using it as the basis for one or more instructional videos.)

[2022-10-19 21:22] the8472 commented on #103265
Yeah, that'd be a start to let the PR move forward, but eventually a proper solution will be needed for stabilization.

Counter-example: in dyn traits you can have non-object-safe methods with a `where Self: Sized` bound, Iterator has a bunch of those.
By that analogy the non-const functions shouldn't be available from a const context even on a const trait. So how would they break const contexts?

[2022-10-19 21:30] tczajka commented on #87067
My point is, my implementation of `PartialEq` on `A x B` is not a **subset** of any partial equivalence relation on `(A∪B) x (A∪B)`, which is what one might expect. The practical issue with that is that there are certain properties you'd expect from a partial equivalence relation, **even if you don't know how some of the comparisons work**, and those properties are violated here.

What? That makes

[2022-10-19 21:33] RalfJung commented on #87067
The symmetric difference is `T\U ∪ U\T`.

If the rules are carefully picked to ensure that they form a PER for the homogeneous case, it would IMO be silly not to mention that.

[2022-10-19 21:34] tczajka commented on #87067
Yes, and when `T` and `U` are disjoint, that is the same thing as `T ∪ U`, since `T\U == T` and `U\T == U`.

[2022-10-19 21:36] RalfJung commented on #87067
My statement is that no element of `T\U` can be on the LHS of a such-defined PER that is defined as a Rust instance of `PartialEq<U> for T`. Doing so would require having the same element also to the *right* of some pair in the relation, which is ill-typed in Rust.

But anyway, your ad-hoc extension of PERs to heterogeneous types is not really relevant for us here.

[2022-10-19 21:40] tczajka commented on #87067
It's not "an ad-hoc extension" -- before #81198 it was actually required by the docs.

[2022-10-19 21:41] compiler-errors commented on #103269
I can mentor whoever wants to work on this. See https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/item.rs#L950 for the general area where changes need to be made, and ping me if someone needs help on Zulip.

[2022-10-19 21:44] RalfJung commented on #87067
No it was not. The docs never said to consider a relation on `(T ∪ U) x (T ∪ U)`.

[2022-10-19 21:48] me-diru commented on #103269
May I work on this?

[2022-10-19 21:49] oli-obk commented on #103265
I'll have to think on this. `T: ~const Trait` implies `T: Trait` so it's not as simple as adding some bound to all non-const methods. I also don't know what bound could be added to `next` that would only permit `next` to be called from const contexts.

I guess we'd want a negative trait bound on all nonconst methods. Like `Self: ! ~const Iterator` (lots of sigils, but not user-writable syntax anyw

[2022-10-19 21:52] tczajka commented on #87067
I feel like you're just trying to trap me on some word games. They didn't say so *in those words*, but what they did say mathematically implied it.

The docs implied that if `==` on T x U is defined, then it must also be defined on U x T, and also (by transitivity) on T x T and on U x U.

In other words, the rules implied that it must be defined on `(T ∪ U) x (T ∪ U)`, because mathematically `(T ∪

[2022-10-19 21:55] cuviper commented on #103265
It might make more sense as an opt-in, like if `trait Iterator` wrote `~const fn next()` and nothing else, then that method would be the only thing `where I: ~const Iterator` could use. Implementors would have to match the same level of `const`ness to join in, and we'd need to spell out what that means for stability / breaking changes.

[2022-10-19 21:55] RalfJung commented on #87067
No they did not. They used (and use) the term PER in an ill-defined way. That doesn't imply anything, except that the docs need to be fixed.

[2022-10-19 21:59] the8472 commented on #103265
Additional methods will likely be made const later, but at least in the `Iterator` case all of them would have `default` bodies a const context could fall back to those.

[2022-10-19 22:17] jruderman opened #103271 "check_for_deref_method suggestion introduces a parse error"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=698ee23815c463c0aa5018a839b8a43f)):

[code]

The current output is:

[code]

This suggestion is on the right track, but unfortunately it introduces a parse error. It should be:

[code]

This suggestion is in [check_for_deref_method](https://github.com/rust-lang/rust/blob/4b8f4319954ff264

[2022-10-19 23:00] SUPERCILEX opened #103273 "Miri fails to test with tokio compilation error"
@RalfJung

[code]

This is the absolute unit of an error: https://pastebin.com/EakKbQw5. It's so long it doesn't even fit in github.

[2022-10-19 23:01] SUPERCILEX commented on #103273
Just noticed there's mention of serialization, so maybe I just need to run a clean?

[2022-10-19 23:09] SUPERCILEX commented on #103273
Oh yep, a clean did the trick.

[2022-10-19 23:09] #103273 closed

[2022-10-19 23:19] Mark-Simulacrum commented on #103242
Cc @lcnr as author of #98900

[2022-10-19 23:21] Mark-Simulacrum opened #103274 "regression: change in overflow checking"
The regression in `diesel-softdelete` is separate and regressed in #100757

Looks like we changed the boundary here which seems like it causes needless breakage for users - not convinced we should do that.

_Originally posted by @compiler-errors in https://github.com/rust-lang/rust/issues/103243#issuecomment-1284406703_

[2022-10-19 23:31] compiler-errors commented on #103269
You can [claim an issue with rustbot](https://rustc-dev-guide.rust-lang.org/rustbot.html), and I recommend checking out the [rustc dev guide](https://rustc-dev-guide.rust-lang.org/contributing.html) to find out what the contribution process looks like.

[2022-10-19 23:40] pcc commented on #103001
I can think of three possible solutions:

1. Emit the appropriate GNU property section into the synthetic object file according to the passed `-Z` flags. This would work, but it could easily get out of sync with the GNU properties produced by the compiler.
2. Implement a change in linker behavior so that the GNU properties are not affected by object files that do not contain `SHF_ALLOC` sections.

[2022-10-20 00:06] #103219 closed

[2022-10-20 00:23] tmandry commented on #103261
Yep, thanks.

[2022-10-20 00:23] #103261 closed

[2022-10-20 00:31] compiler-errors commented on #103181
This regressed in 7808f69ad7a31e54719bf71017b745ee3ceac167 -- I can't really work on it any further without a self-contained, minimized version of the ICE, which I attempted and failed to do. If someone wants to minimize it, then that would be greatly appreciated, and I can pick it up after that if nobody else has.

@rustbot ping icebreakers-cleanup-crew
@rustbot release-assignment

[2022-10-20 00:49] compiler-errors commented on #103243
I minimized this from `path-planning`:

[code]

[2022-10-20 01:15] SeeSpring opened #103278 "generic_const_exprs ICE when only enabled in lib and not bin"
### Code

[code]
Uncomment the lines in main.rs for a workaround.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-20 01:40] SeeSpring commented on #103278
Looks like dupe of #102640 depending on `--release` flag

[2022-10-20 01:40] #103278 closed

[2022-10-20 02:05] compiler-errors commented on #103243
I put up a potential fix in #103279

[2022-10-20 02:08] compiler-errors commented on #103234
@Nehliin can you share the type of `custom_name`? Otherwise it's pretty difficult to fix this.

If possible, it would be really appreciated if you could minimize this into something that reproduces the ICE, since you can't share the full code.

[2022-10-20 02:16] compiler-errors commented on #103234
Specifically, it's important to know things like:

1. was this `let` statement after any other statements? If so, then what?
2. Did rustc emit any other error messages before this ICE?

[2022-10-20 02:41] Lancern opened #103282 "Wrong documentation for `Instant::elapsed`"
### Location

https://github.com/rust-lang/rust/blob/57781b24c54f9548722927ba88c343ff28da94ce/library/std/src/time.rs#L355-L361

### Summary

This is part of the documentation for `std::time::Instant::elapsed`. The _Panics_ section on line 359 says:

Which is obviously not the case. It should be:

[2022-10-20 02:57] compiler-errors commented on #103242
This is also fixed by #103243.

[2022-10-20 03:03] PatchMixolydic commented on #103256
As far as I'm aware, you can leave it turned on as long as you're willing to accept a few false positives. For what its worth, I don't remember encountering any false positives, but this lint has saved me a bit of trouble several times.

[2022-10-20 03:07] #96996 closed

[2022-10-20 04:22] saethlin opened #103285 "Between opt-level=1 and opt-level=2, LLVM deoptimizes the output of ptr::addr, if it ptr::addr is #[inline]"
godbolt demo: https://godbolt.org/z/51o3hYjvv

This code:
[code]
At `opt-level=2` compiles to this:
[code]
Decreasing to `opt-level=1` or removing the `#[inline]` on the transmute wrapper function causes the panic path to go away.

As far as I can tell, this doesn't happen on stable but it happens on beta and nightly. This code pattern is used in the standard library here:
https://github.com/rust-

[2022-10-20 05:48] jonhoo opened #103289 "Lifetime may not live long enough when invoking HashMap::get with a temporary tuple"
As is always the case with lifetime issues, this could entirely be a me-problem where I don't understand what's going on well enough. But I _think_ the compiler is wrong here:

I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=819413ee6c8f3040b0a261d80c532d0e)):

[code]

I expected to see this happen: it compiles

Instead, this happened:
[code

[2022-10-20 05:51] jonhoo commented on #103289
Alternatively, is there something about the signature of `HashMap::get` that makes the lifetime of `Q` affect the inferred lifetime for the returned reference?

[2022-10-20 06:34] joshlf opened #103292 "Trait impls conflict even with different associated const bounds"
I have [the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4a75cb104ccf65eddd38c34fa66d550c):

[code]

I would expect that this code would be accepted. While there are multiple blanket impls of `AlignedTo<1>` and `AlignedTo<2>`, they're bounded by mutually-exclusive bounds - e.g., a type cannot be both `Align<ALIGN=1>` and `Align<ALIGN=2>` at the same time

[2022-10-20 06:44] jruderman commented on #103181
Minimized more:

[code]

<details>
<summary><strong>Error output</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-20 07:00] bjorn3 commented on #103001
Option 3 is not enough to solve this. The crate metadata object is also produced without these properties and can't be replaced with a linker option. Option 2 will take a long time before everyone has a new linker and needs coordination with ld.bfd, ld.gold, ld.ldd and ld.mold. As such option 1 makes most sense to me.

[2022-10-20 07:01] aliemjay commented on #103181
How could an ambiguity error be raised when the canonical request has no inference variables? This looks interesting.

[2022-10-20 07:04] compiler-errors commented on #103181
It's related to the variable name resolution error being emitted earlier, so maybe the inference context being tainted by errors causes something about evaluation to get messed up.

[2022-10-20 07:30] MaskRay commented on #103001
Option 2 needs coordination among linker maintainers and it does impose some complexity to linkers. And as mentioned, it requires very new linkers. If Rust is open to 1, I think it is a great direction.

[2022-10-20 07:50] oli-obk commented on #103265
I will give this a shot after #101900

[2022-10-20 07:59] #98468 closed

[2022-10-20 08:20] SarthakSingh31 commented on #89008
Hello, first time contributing to rust. I was trying to resolve this issue and after looking at the test I am a little confused. To me it looks like the test code is failing correctly and I can't understand where the TAIT bug is.

https://github.com/rust-lang/rust/blob/ebdde35dced40adb46f8aad054fb2adb86b39427/src/test/ui/generic-associated-types/bugs/issue-89008.rs#L1-L43

`<Empty<T> as Steam>::It

[2022-10-20 08:30] MSxDOS commented on #103285
Caused by mir inlining, `-Z inline-mir=no` removes the panic.

[2022-10-20 08:33] jackh726 commented on #89008
Yeah, I messed up my minimization. The test should just use the original MCVE in the OP. And that is indeed fixed.

[2022-10-20 08:35] jackh726 commented on #89008
For clarity: this can be closed when the current known-bug test is moved to the main directory for GAT tests and changed to use the OP MCVE.

[2022-10-20 10:19] nikic commented on #103285
Works fine with LLVM 16: https://llvm.godbolt.org/z/67WPE19xa Presumably due to https://github.com/llvm/llvm-project/commit/926e7312b2f20f2f7b0a3d5ddbd29da5625507f3.

Assigning to myself to check back on this after the next LLVM update.

[2022-10-20 10:47] est31 commented on #100513
PR filed to get rid of the && drop order twist in all Rust: #103293

[2022-10-20 10:50] nikic commented on #103285
Eh, we might as well fix this on the rustc side: https://github.com/rust-lang/rust/pull/103299

[2022-10-20 11:02] apiraino commented on #103242
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103242.20regression.3A.20associated.20consts.20cannot.20be.20referenced.20.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-10-20 11:02] apiraino commented on #103243
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103243.20regression.3A.20trait.20bound.20not.20satisfied)).

@rustbot label -I-prioritize +P-critical

[2022-10-20 11:04] RalfJung commented on #103273
Phew, happy that did it.^^
FWIW, `--stage 0` should work and save you a bunch of time.

[2022-10-20 11:17] apiraino commented on #103244
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103244.20regression.3A.20attributes.20on.20expressions.20are.20experimen.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-10-20 11:26] cobward opened #103300 "Conditionally derived traits using `cfg_attr` are not documented as being behind a feature flag."
When conditionally deriving a trait using `cfg_attr`, the `doc_cfg` feature gate is not documented. A minimal example can be found [here](https://github.com/cobward/doc_cfg_attr_issue), but is summarised below:

## Example:
[code]
### Generates:
![generated](https://user-images.githubusercontent.com/93085583/196935828-ab68f9fe-0075-426e-ad15-9d0d81fea049.png)

### Expectation:
![expected](https://

[2022-10-20 11:31] Nehliin commented on #103234
Hi,

Sorry I won't have time to minimize right now but I can answer the two questions you had:

1. No, this was he first statement in the method
2. There were no other errors or warnings before the error I posted

[2022-10-20 11:33] #88616 closed

[2022-10-20 11:34] Amanieu commented on #51346
We've upgraded to LLVM 15, which includes the fix.

[2022-10-20 11:34] #51346 closed

[2022-10-20 12:05] chetankokil commented on #103269
@compiler-errors i would like to work on this with your help.

[2022-10-20 12:23] spastorino commented on #103141
Reopening to track backports.

[2022-10-20 12:53] apiraino commented on #103285
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103285.20Between.20opt-level.3D1.20and.20opt-level.3D2.2C.20LLVM.20deoptimiz.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-10-20 13:01] nikic commented on #102174
I looked a bit closer into what clang is actually doing here. I referenced the wrong code above, the relevant bit is actually this: https://github.com/llvm/llvm-project/blob/1aaba40dcbe8fdc93d825d1f4e22edaa3e9aa5b1/clang/lib/CodeGen/TargetInfo.cpp#L1891-L1900

In words, what clang is going is to unpack structs <= 128 bits where all parts are 32-bit or 64-bit primitives (pointer, integer, float, en

[2022-10-20 13:05] nikic commented on #102174
And another extra peculiar case: If we combine this with the fastcall calling convention, we get this: https://clang.godbolt.org/z/MW797ehfj Now we have an additional inreg i32 undef argument on the call, before the i32 that actually passes the unpacked struct.

[2022-10-20 13:06] AntoineSebert opened #103301 "index out of bounds: the len is 188 but the index is 189"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-20 13:08] AntoineSebert commented on #103301
The code snippet is part of an application made with the `https://docs.rs/warp/latest/warp/` crate.
I am not allowed to share more of the code, unfortunately.

[2022-10-20 13:18] aliemjay commented on #103181
Minimized: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=094c295011fa93fe6abefbbe1674496b

[code]

@rustbot label S-bug-has-mcve

[2022-10-20 13:22] hellow554 commented on #103181
@aliemjay interesting enough you seem to trigger the ICE in a different way than me?
You're using the `ident_error` token, I use an incomplete trait impl.

Maybe it's worth to test a possible solution to both inputs?

[2022-10-20 13:37] krtab opened #103302 "Tracking Issue for (into_)inner() methods on iterator adapters"
Feature gate: `#![feature(inner_adaptor)]`

This is a tracking issue for adding two methods to each iterator adapter containing "only one" adaptor. This two methods allow accessing the inner iterator of the adapter either through non-mutable reference or by consuming the adaptor. A mutable accessor is purposefully not included to prevent logic error and avoid "confusing" the adaptor.

The use case

[2022-10-20 13:40] fmease commented on #103301
@rustbot label E-needs-mcve

[2022-10-20 13:48] krasimirgg opened #103304 "[MSAN when using rustc compiled with llvm at HEAD] Unexpected memory sanitizer error in core::hint::black_box (dummy=()) at /example/rust/build/x86_64-unknown-linux-gnu/stage1/lib/rustlib/src/rust/library/core/src/hint.rs:226"
We're building the rust toolchain with LLVM at HEAD (https://buildkite.com/llvm-project/rust-llvm-integrate-prototype/builds?branch=master). I'm looking into using sanitizers there. I noticed that building rust + llvm @ head produced a toolchain that is generally useable, but when using it to compile a sample binary with msan, running the binary fails with an msan error at `core::hint::black_box (

[2022-10-20 14:35] sunfishcode opened #103306 "std::os::wasi::io::AsFd regression on Rust 1.64"
I tried this code:

[code]

I expected to see this happen: it compiles

Instead, this happened:

With Rust 1.63, it compiles. With Rust 1.64 and Rust nightly, it gets this error:
[code]

[2022-10-20 14:43] wesleywiser commented on #102754
Does the lld fix need a backport to our LLVM fork?

[2022-10-20 15:01] apiraino commented on #101585
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101585.20Returning.20.5Bi128.3A.3AMIN.3B.201.5D.20from.20a.20function.20actually.20r.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-10-20 15:07] apiraino commented on #101588
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101588.20rustc.20lost.20compiler.20flag.20information.20in.20its.20backtra.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-10-20 15:19] Rageking8 commented on #97607
@rustbot claim
For the test

[2022-10-20 15:21] Rageking8 commented on #103292
@rustbot label +C-bug +T-compiler +F-associated_const_equality

[2022-10-20 15:31] compiler-errors commented on #103301
@AntoineSebert can you verify that this still crashes on nightly Rust?

[2022-10-20 16:10] Rageking8 commented on #98634
@rustbot claim
For the test

[2022-10-20 16:12] chenyukang commented on #103143
@Aaron1011 Do you have any suggestion for this case?

The code path is going like this:

eat first one of '>' at here and set `break_last_token`:
https://github.com/rust-lang/rust/blob/dbaf3e67aa156db0031a24383f3cc371a10da13b/compiler/rustc_parse/src/parser/mod.rs#L706

fall pass at here:
https://github.com/rust-lang/rust/blob/53728ff751df4c271d4ea565b6871057a3504fc5/compiler/rustc_parse/src/parse

[2022-10-20 16:20] #101991 closed

[2022-10-20 16:20] #103050 closed

[2022-10-20 16:20] #103250 closed

[2022-10-20 16:45] Aaron1011 commented on #103143
@chenyukang The assertion I wrote is overly conservative - it really just needs to check that we don't simultaneously break a token and 'really' capture a trailing token. Specifically, we only need to panic if we actually incremented `end_pos` in the match block.

I think the simplest fix would be to add a `captured_trailing` variable, which gets set to `true` in the parts of the `match` block tha

[2022-10-20 17:14] kornelski commented on #15701
Attributes on closures seem to compile on stable, but only if the syntax is just right. Is that a subtly different meaning, or an edge case stabilized by accident?

[code]

[code]

[2022-10-20 17:49] camsteffen commented on #102905
I think `str::split` would work since it's lazy.

[2022-10-20 17:49] briansmith commented on #74465
Somewhere I found mention of deprecation of `Once` if/when `once_cell` becomes stable. `Once` has an important guarantee that the new types don't make: "When this function returns [it] is also guaranteed that any memory writes performed by the executed closure can be reliably observed by other threads at this point (there is a happens-before relation between the closure and code executing after th

[2022-10-20 17:51] will-flores1 commented on #103269
@rustbot claim

[2022-10-20 17:57] briansmith commented on #74465
I have a codebase where Rust code that ensures a global `static mut GLOBAL_STATE: [u32; 4]` array is initialized before calling into C and assembly code code that directly reads `GLOBAL_STATE` on the assumption it has been initialized beforehand. I investigated adapting this codebase to use the new feature. I see this:

[code]

In order to support this pattern, it would be convenient to make it so

[2022-10-20 18:01] thomcc commented on #74465
I think anything not guaranteeing Acquire/Release semantics would be too much of a footgun (especially for how minor of a performance benefit it would likely be).

If we ever get some way of emulating Consume, user code can implement its own types that provide that instead, similar to how user code that wants a racy or relaxed behavior currently would need to implement that itself.

---

I'm a lot

[2022-10-20 18:03] briansmith commented on #74465
`UnsafeCell` itself is `repr(transparent)` so it has this property, IIUC.

[2022-10-20 18:04] thomcc commented on #74465
Do we ever guarantee the representation of something that isn't purely a wrapper? This would need additional state.

[2022-10-20 18:05] compiler-errors commented on #103181
I'm pretty sure I understand this error now.

Either via @aliemjay's solution of having a `async fn` without a body, or via @hellow554's solution of having a missing associated type , we end up trying to check a trait bound on a `[type error]` ([error](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/enum.TyKind.html#variant.Error)) type in order to normalize a type inside a closure

[2022-10-20 18:07] smmalis37 commented on #81408
Has any progress been made here? We just ran into this issue too.

[2022-10-20 18:23] ehuss commented on #15701
Correct, they are subtly different and it was stabilized by accident.

The rules are described in [Expression Attributes](https://doc.rust-lang.org/reference/expressions.html#expression-attributes).

In the first, arguments to call expressions are allowed to have outer attributes.

In the second, the closure is a sub-expression of a grouped expression. Outer attributes are not allowed in grouped e

[2022-10-20 19:06] Stargateur commented on #74465
No, `repr(C)` guarantee order, but compatibility only with most used layout of C compilers of the target.

[2022-10-20 19:08] thomcc commented on #74465
I meant if any existing types in the stdlib did this that aren't purely wrappers around other types.

[2022-10-20 19:18] l4l opened #103317 "Invalid unreachable_pub suggestion for enum with fields"
Given the following code:

[code]

The current output is:

[code]

Which basically brokes cargo-fix, i.e `cargo fix --broken-code` produces invalid code:

[code]

That seems to affect any enum with variant fields.

[2022-10-20 19:21] SoniEx2 opened #103318 "non-Drop types with drop glue leak may_dangle implementation details on stable"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ef62faa188b41fd69f1561da05605db6

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2c6e1a61081f093bab2b882e9ea676ae

I expected to see this happen: These should behave identically.

Instead, this happened: Implementation details of parametric dropck, also known as may_

[2022-10-20 19:23] stephanemagnenat commented on #42671
We just stumbled upon this problem in our project, which is kind of frustrating and makes the code ugly and less readable. Could the Rust edition mechanism (or similar) be used for doing some cleanup in the standard library? I understand that fully supporting programs using two different stdlib editions might requires having two versions of the standard library in memory sharing data together, but

[2022-10-20 19:44] lyming2007 commented on #103271
@rustbot claim

[2022-10-20 19:58] jruderman opened #103320 "Add explanatory message for `[#must_use]` on `std::ops::Add` et al"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9392fe010d75beaff3cc8a1208029775)):

[code]

The current output is:

[code]

Ideally the output should include:

[code]

### Precedent

Many other `std` methods have this exact `must_use` message, e.g. ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist

[2022-10-20 20:41] saethlin commented on #103304
I have seen the same errors when running the tests for `criterion`'s tests under ASan: https://asan.saethlin.dev/logs/criterion/0.4.0.html
[code]
As well as another benchmarking library which does the same `read_volatile` trick.

Similarly, I do not understand why this happens, but I have not reported that anywhere because I have been _completely_ unable to reproduce these ASan issues outside of m

[2022-10-20 20:47] Amanieu commented on #102738
Minimal reproduction on godbolt: https://rust.godbolt.org/z/v79M878Ye

@nikic Any idea why LLVM auto-upgrade isn't working in this case?

[2022-10-20 21:03] jruderman opened #103323 ""Use double quotes" suggestion turns overlong char literal into unterminated string literal"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ffec1b4fc6294dc7bed929e256e73b47)):

[code]

The current output is:

[code]

Ideally the suggestion should look like:

[code]

[2022-10-20 21:16] duplys commented on #95825
Hey @scouten-adobe, @estebank and @wesleywiser, some more :detective: work here, maybe it gets us somewhere.

With the nightly 2022-03-07 (commit `03918badd`), I get the same error like the one @scouten-adobe reported:

[code]

However, with the nightly 2022-03-06 (commit `38a0b81b1`), I get a different error:

[code]

@scouten-adobe: is there a rustc version that compiles `RUSTFLAGS="-C instrumen

[2022-10-20 21:35] CAD97 commented on #95825
@duplys the easy way to bisect is with [cargo-bisect-rustc](https://github.com/rust-lang/cargo-bisect-rustc/blob/master/TUTORIAL.md); so long as the change is recent enough[^gc], it can automatically download the builds from each merge's CI to bisect more granularly.

[^gc]: While the nightly toolchains are perpetually available through rustup, the each-merge builds are IIRC garbage collected afte

[2022-10-20 21:42] seniorjoinu opened #103324 "Generic const expressions bug: expected constant Self::SIZE found constant Self::SIZE"
I tried this code:
[code]

And I expected it to work just fine, since the compiler should know that `A` and `(A,)` have the same size.
But I got this error:
[code]

This made me think, maybe the compiler needs an additional explicit guarantee that `size_of::<A>()` and `size_of::<(A,)>()` are the same. _After all those `where [u8; size_of::<T>()]: Sized` I'm not sure in anything anymore._ So I trie

[2022-10-20 21:54] jruderman opened #103325 "Suggestion "you might have meant to call the method with the fully-qualified path" without a call"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7a747237d87e5e7b05441c29e800f80a)):

[code]

The current output is:

[code]

It's odd for the message to say "you might have meant to call..." and then show a suggestion that does not call anything.

### Possible improvements

I'm not sure which would be best:
* When it isn't part of a c

[2022-10-20 22:04] akonradi opened #103326 "Vec::capacity documentation is ambiguous"
### Location
Standard library documentation for `Vec::capacity` (https://doc.rust-lang.org/std/vec/struct.Vec.html#method.capacity)

### Summary
It's not clear whether the returned capacity is the _total_ capacity or _remaining_ capacity of the vector. The text and example don't seem to signal either way.

[2022-10-20 22:11] the8472 commented on #103326
The top-level documentation provides context: https://doc.rust-lang.org/std/vec/struct.Vec.html#capacity-and-reallocation

[2022-10-20 22:15] compiler-errors commented on #103325
This is the best one, imo. Adding parentheses changes the program in a way that's not the responsibility of name resolution, imo.

[2022-10-20 22:19] Nemo157 commented on #98407
To provide some motivation I have been using a more limited internal version of this for about 3 years [in `async-compression`](https://docs.rs/crate/async-compression/latest/source/src/unshared.rs). This is the sole bit of unsafety in that crate so I would love to be able to offload that onto `std`.

[2022-10-20 22:48] joshlf commented on #54726
Is there any way to work around this limitation at the crate root?

[2022-10-20 23:23] y21 opened #103327 "Missed optimization with short circuit AND"
Consider this code:
[code]
This compiles to just:
[code]
([Godbolt](https://godbolt.org/z/MGqTvb4ex))
However, changing any of the `&` to `&&` breaks this optimization and a bunch of cmps are generated as well as the addition, which seems unnecessary in this case, because `&`/`&&` shouldn't make any difference as short circuit can't be observed.
[code]
([Godbolt](https://godbolt.org/z/e57zEEor3))

[2022-10-20 23:49] #103202 closed

[2022-10-20 23:49] #103282 closed

[2022-10-20 23:49] #102772 closed

[2022-10-21 00:07] aslilac commented on #33881
has there been any further discussion on this? this'd be super handy

[2022-10-21 00:43] dtolnay commented on #74042
`#[track_caller]` on closures (and generators) got implemented in https://github.com/rust-lang/rust/pull/87064, unstable for now. I am closing this issue in favor of https://github.com/rust-lang/rust/issues/87417 which is the tracking issue for the `feature(closure_track_caller)` feature.

[2022-10-21 00:43] #74042 closed

[2022-10-21 01:33] QuineDot opened #103330 "function lifetime elision changed in 1.64"
[I tried this code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=02637fdcea99e2fb9593e41df6cc3475)

[code]

[I expected to see this happen:](https://rust.godbolt.org/z/oK3o15oxG)
[code]
Instead, this happened: Successful compilation

### Meta

Tested on the playground, all versions and editions.
* Stable channel: 1.64.0
* Beta channel: 1.65.0-beta.3 (2022-10-10 da7ffa2d

[2022-10-21 02:03] mlej8 opened #103332 "Discrepancy between as_nanos API and from_nanos API"
The `as_nanos` API in https://doc.rust-lang.org/src/core/time.rs.html#462 returns `u128`, however the `from_nanos` API https://doc.rust-lang.org/src/core/time.rs.html#276 only accepts `u64`. Can we make it `u128` so that it is consistent ?

[2022-10-21 02:11] chenyukang commented on #103325
@rustbot claim

[2022-10-21 03:45] pitaj commented on #102905
But `str::split` would not give you the rest of the string as the last element.

[2022-10-21 05:01] saethlin commented on #80937
@joshtriplett Should this have been closed by https://github.com/rust-lang/rust/pull/98033?

[2022-10-21 05:14] saethlin commented on #70492
I've wanted this from time to time.

I think `pthread_setname_np` would let us do this on `cfg(unix)`? But for Windows it looks like there is only an API for this in Windows 10 and later. So I'm not sure what would be accepted here. Are we just condemned to wait for a long time because we can't do this portably? Could we do this on some platforms by sticking a `#[cfg(unix)]` function into libtest?

[2022-10-21 05:36] camsteffen commented on #102905
How about `Split::as_str`?

[2022-10-21 05:51] chenyukang commented on #103327
@rustbot claim

[2022-10-21 06:10] pitaj commented on #102905
Sure, but that requires either special handling in the `FromIterator` (or whatever) adapter, or manual handling by the user. The first is unlikely to be included in std, and the second is not ergonomic.

[2022-10-21 06:15] fee1-dead commented on #90052
fixed in #103319.

[2022-10-21 06:15] #90052 closed

[2022-10-21 06:47] brmmm3 commented on #63010
Any progress here? Is there any chance to get this into stable branch anytime soon?

[2022-10-21 07:33] Nilstrieb commented on #103037
I don't see why an old issue shouldn't be around. Just because it's old doesn't mean that it doesn't matter or that it's not a real issue. The visibility problem can be solved using labels like P-high.

[2022-10-21 07:34] szabgab opened #103357 "search on https://doc.rust-lang.org/ not doing well"
I could not figure out a better place to report the issue with https://doc.rust-lang.org/  (which might be an issue on its own, to have a link from the docs to the source code)

The problem is that the search on https://doc.rust-lang.org/ does not seem to function well:

e.g. https://doc.rust-lang.org/std/index.html?search=regex returns lots of hits, none of them related to regex.

OTOH https://do

[2022-10-21 07:49] TechTheAwesome commented on #103037
Issues on GitHub feels like open-and-forget unless there's activities within it. I'm clear that I have nothing against old but are still relevant issues.

But I think there are quite a bit more `solved`, `out-dated`, or `wont-be-fix` issues that can just hang around for years if no one closes it and adds no value leaving it open. It might cost you a minute to sort out which issues you're looking f

[2022-10-21 07:49] Nilstrieb commented on #103332
Sadly not, as that would be a breaking change.

[2022-10-21 07:51] lcnr commented on #96514
That's imo the correct solution. Open to mentor someone here, ideally with some experience with working with `ty::Ty` and mir building.

If you're interested and need help, contact me on zulip and we can either chat about it there or on zoom.

[2022-10-21 07:56] lcnr commented on #101350
fixing this should also close #54940.

[2022-10-21 08:04] Nilstrieb commented on #103330
searched nightlies: from nightly-2022-01-01 to nightly-2022-10-01
regressed nightly: nightly-2022-07-26
searched commit range: https://github.com/rust-lang/rust/compare/7fe022f5aa32bbbb33c3a58755729d6667a461a9...6dbae3ad19309bb541d9e76638e6aa4b5449f29a
regressed commit: https://github.com/rust-lang/rust/commit/6dbae3ad19309bb541d9e76638e6aa4b5449f29a

<details>
<summary>bisected with <a href='http

[2022-10-21 08:05] Rageking8 commented on #103327
@rustbot label +T-compiler +A-codegen +I-slow

[2022-10-21 08:28] pemistahl opened #103336 "Provide better errors and docs for conditional compilation of binaries"
One of my Rust projects consists of a library and a binary. The library can be compiled to WASM but not the binary because one of the binary's dependencies does not support WASM compilation. I tried to disable compilation of the binary for WASM by putting the following attribute at the top-level of the `main.rs` file:

[code]

When compiling for WASM, the following error is thrown by the compiler:

[2022-10-21 08:30] Nemo157 commented on #90045
This seems to compile successfully now on `rustc 1.65.0-nightly (29e4a9ee0 2022-08-10)`.

[2022-10-21 08:36] Nilstrieb commented on #103330
@rustbot claim

[2022-10-21 08:58] Nilstrieb commented on #103330
Actually, this behavior is correct as [documented by the reference](https://doc.rust-lang.org/reference/lifetime-elision.html#lifetime-elision-in-functions):

There is exactly one lifetime used in the parameters (`'a`), so assigning it to the output lifetime is as expected.

[2022-10-21 09:07] jhpratt commented on #103086
What _would_ be nice is if there was a manner to indicate that a specific test should _not_ be affected by rustfmt. Then those tests could still be automatically formatted. Even if it's only used going forward, it's something.

[2022-10-21 09:09] nikic commented on #102738
Thanks for the minimal reproducer. This turned out to be a simple typo, fixed in https://github.com/llvm/llvm-project/commit/c8938809d155682ef5eec170897b8c26b8cbf3ea. This was hidden when doing simple tests with opt because the IR parser was doing another redundant remangle (fixed in https://github.com/llvm/llvm-project/commit/d25ef09466e4e4ca807e85360812cf9d139c4249 and https://github.com/llvm/ll

[2022-10-21 09:09] chenyukang commented on #103320
@rustbot claim

[2022-10-21 09:18] ouz-a commented on #102303
@claim

[2022-10-21 09:47] Veykril commented on #46188
Is this still an issue? It looks like since 1.63, rust no longer removes the branch for the shown example https://godbolt.org/z/n9PYEKexh

[2022-10-21 09:51] QuineDot commented on #103330
That verbiage [has existed since 2017](https://github.com/rust-lang/reference/pull/187) but it compiles on *no stable version of rustc prior to 1.64*, so I don't think it's actually relevant.  (The reference is also explicitly non-normative.)  [The nomicon](https://doc.rust-lang.org/nomicon/lifetime-elision.html) mirrors [the RFC](https://rust-lang.github.io/rfcs/0141-lifetime-elision.html#the-rul

[2022-10-21 10:07] michaelwoerister commented on #71437
To follow up: I think the way we are setting breakpoints in our tests is pretty consistent and would probably be compatible with the approach of setting the breakpoint by function name and then looking one frame up. It would be good if that function was defined in a central place (so we don't have to copy-and-paste it into every test file) and then we'd have to update the test runner and documenta

[2022-10-21 10:12] JanetJDavis123 commented on #93203
Is this useful for night vision scope, I want to know.

[2022-10-21 10:22] JanetJDavis123 commented on #93203
is this useful for night vision scope?

[2022-10-21 10:26] JanetJDavis123 commented on #93203
Tell me best night vision scope type?

[2022-10-21 10:27] RalfJung commented on #46188
I don't see any reason to assume that this changed in any fundamental way. Examples that show UB are always fragile, but LLVM to my knowledge still assumes the one-definition-rule.

[2022-10-21 10:31] RalfJung commented on #70492
This is basically the same bug as https://github.com/rust-lang/rust/issues/59122.

Miri supports threads nowadays, so from a Miri perspective we could revert https://github.com/rust-lang/rust/pull/56243, which would also fix the thread name problem.

[2022-10-21 11:04] pdegler commented on #103167
How do I know whether a miri-fix is part of the latest nightly?

[2022-10-21 11:25] kaweston opened #103343 "'rustc' panicked at 'index out of bounds: the len is 385 but the index is 386'"
### Code
I don't have an example yet; I'm pretty new to Rust.  Given the output indicates that the entry_points::apigateway::create_token_set function is being type checked hopefully the following code snippets will be of assistance.

I do have another code base that I largely borrowed from where the signature is nearly the same other than the parameter being passed as &dyn  (&dyn StorageService)

[2022-10-21 12:08] kaweston commented on #103343
Found issue.  Below is the before and after snippets of the last code block of the create_token_set function.  Note the changes on line 1 where there was a missing .await?, Line 2 now requiring the turbofish, and line 4 where the return value needed to be wrapped in Ok().

I note that the Intellij editor wasn't flagging these as errors/warnings even with the Clippy linter turned on.  Actually the

[2022-10-21 12:15] jyn514 commented on #103037
There are a lot of ways I would like to improve the issue tracker, but a stale bot is not one of them. Issues today usually fall into one of a few categories:

  1. A tracking issue, made because we documented they're required for new features. These use a template, have their own label, and are generally pretty easy to find. We should leave them open until the feature is stabilized or removed.

[2022-10-21 12:44] Dylan-DPC commented on #103037
I feel its more with state and if any work is left which is unknown for older issues so harder for people to spot and pick and work on even though if the work involved is simpler.

It does feel bad seeing the number of issues grow, but i feel that's a natural growth of most repositories and with number of contributors not growing at the same rate.

A tracking website would definitely help

I would

[2022-10-21 13:06] jyn514 commented on #103289
I think you should post this on users.rust-lang.org, it's unlikely to get traction here.

[2022-10-21 13:15] gendx opened #103348 "ICE: self.scc_universes[scc] == ty::UniverseIndex::ROOT', compiler/rustc_borrowck/src/region_infer/mod.rs:721:9"
### Code

[code]

### Meta

Using the Rust Playground.

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-10-21 13:22] alice-i-cecile commented on #103037
So, here's another way to frame this question:
- who has power to close issues?
- what process do they use to determine if an issue should be closed?
- how can we grow and empower that team?

For example, I'd like to get involved in casually contributing to Rust in a project management capacity. However:

1. https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md doesn't have the answer to a

[2022-10-21 13:25] gendx commented on #103348
This code was previously published as part of this blog post in December 2020: https://gendignoux.com/blog/2020/12/17/rust-async-type-system-limits.html.
I uploaded it on the Rust Playground back then (see the blog post links) and don't remember an ICE at the time.

Minimized example:

[code]

[2022-10-21 13:30] jyn514 commented on #103037
Anyone in the rust org *can*, but it's very unclear who *should*. For a while in 2020 I went around closing random issues that didn't seem relevant and no one complained, but I was never formally given permission, and it wasn't organized with a team or anything like that.

[2022-10-21 13:30] Dylan-DPC commented on #103037
@alice-i-cecile you are more than welcome to join the [triage team](https://rust-lang.zulipchat.com/#narrow/stream/242269-t-release.2Ftriage) which carries out some of this work (mostly [ at least in our full capacity which isnt at the moment] mostly deals with PRs but also issues)

[2022-10-21 13:33] alice-i-cecile commented on #103037
Thanks, I will :) Those broader challenges stand (c.f. [my RustConf talk](https://www.youtube.com/watch?v=xM7bI2OPPLQ) about automation in project management), but this is a good place to start.

[2022-10-21 14:01] lcnr commented on #100051
@rustbot claim

[2022-10-21 14:07] fasterthanlime opened #103352 "async_fn_in_trait: return type of method impl is not checked in default bodies"
Here's a MVCE:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b4c15bea7c05d1bd33224c503eab0af1)

I expected to see this happen: compilation fails because I'm clearly returning an `{integer}` instead of a `String`

Instead, this happened: bad codegen ("async fn resumed after completion")

### Meta

`rustc --version --verbose`:
[code]

[2022-10-21 14:17] compiler-errors commented on #103352
This is specifically a bug with default body `async fn` in traits, this doesn't happen in `impl`s. I'll check it out, it's probably a very simple fix.

[2022-10-21 14:31] apiraino commented on #103330
Ok, so we will consider this for now a `P-critical` regression that should be backported to stable (we're ~2 weeks away from the new release). WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103330.20function.20lifeitme.20elision.20changed.20in.201.2E64)).

@rustbot label -I-prioritize +

[2022-10-21 14:36] pnkfelix commented on #77463
This is done! Closing.

[2022-10-21 14:36] #77463 closed

[2022-10-21 14:38] msolters commented on #42839
What is the current status of this feature `peer_credentials_unix_socket` graduating to `stable`?  I was surprised to find this issue is 5 years old.
It's a great feature but it sucks having to be on nightly to get it!

[2022-10-21 14:46] matthiaskrgr commented on #103348
See also https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+%22self.scc_universes%5Bscc%5D+%3D%3D+ty%3A%3AUniverseIndex%3A%3AROOT%22  / https://github.com/rust-lang/rust/issues/97099  (probably duplicate)

[2022-10-21 15:00] pnkfelix commented on #77933
Discussed at backlog bonanza

https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bplanning.20meeting.5D.202022-10-21/near/305370223

We won't need a stable form of this flag until we have a  alternative backend that is far enough along to be a candidate to be stabilized. Once we do, then we'll figure out whether we need two tracking issues (one for the stable parts

[2022-10-21 15:01] pnkfelix commented on #77933
@rustbot label: S-tracking-impl-incomplete

[2022-10-21 15:27] #102183 closed

[2022-10-21 15:27] #97459 closed

[2022-10-21 15:28] Rageking8 commented on #103037
Can rustbot be used to close issues? If not maybe that can be a new feature to add. Then a few people may be given access to that feature to help close issues that are provably fixed and require no further actions or other off-topic issues. In hopes of reducing clutter in the issue tracker. Not sure if this is any good.

[2022-10-21 15:30] Dylan-DPC commented on #103037
If we allow rustbot to do that, I would be wary of people closing issues that are not supposed to be

[2022-10-21 15:33] Rageking8 commented on #103037
In that case, maybe the original idea of letting people add specific labels to issues that require closing or further action to bring attention to triage members may be better. But this adds work load to triage members.

[2022-10-21 15:42] Manishearth commented on #103357
cc @rust-lang/rustdoc

This is a rustdoc search issue

In general for the regex thing there's not much to be done since there's no regex in the stdlib (use docs.rs/regex). I suspect the unrelated ones come up due to Levenshtein distance searching (and same for pin)

Basically, rustdoc search attempts to catch typos, and that's what you're experiencing.

[2022-10-21 15:46] cjgillot opened #103358 "Point at shadowed name binding in `you might have meant to refer to` suggestion"
Makes sense, I just would rather we pointed at the ident for the item and not the whole thing.

_Originally posted by @estebank in https://github.com/rust-lang/rust/pull/103111#discussion_r1001294984_

The suggestion was introduced by #103111. The suggestion point to the definition of the suggested item. Pointing to the shadowed identifier would be more precise:
- the ident of the item in case of

[2022-10-21 15:49] alice-i-cecile commented on #103037
I'd be interested in a "proposed to be closed" label, especially if it was accompanied by clear public guidelines on when to close issues.

[2022-10-21 15:52] jonhoo commented on #103289
I think the issue here is related to `HashMap::get`'s use of `Borrow`, though ultimately this is (I think) a bug in either the borrow checker or the lack of explicit bounds on `HashMap::get` in `std` to ensure the returned reference is only tied to `&self`.

I don't actually need a workaround for myself (I've since rewritten the code to do something fairly different), but agree that asking on user

[2022-10-21 16:21] wesleywiser commented on #81408
I posted a fix in #103353. Huge thanks to @roblabla for creating the minimal repro which was instrumental in figuring out what was going on!

[2022-10-21 17:17] lukas-code opened #103361 "`align_offset` infinite loop"
I tried this code: [(Playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7d6bab35469fb1da274bb283e3cc1b7a)

[code]

I expected to see this happen: The program terminates.

Instead, this happened: The program loops indefinitely.

I encountered this while working on https://github.com/rust-lang/rust/pull/102795

### Meta

`rustc --version --verbose`:
[code]

[2022-10-21 17:22] lukas-code commented on #103361
Hangs here: https://github.com/rust-lang/rust/blob/master/library/core/src/ptr/mod.rs#L1611-L1623

@rustbot label I-hang

[2022-10-21 17:28] hlbarber commented on #103289
This seems to a related to the root obstruction: https://github.com/rust-lang/rust/issues/89265#issuecomment-927263213

[2022-10-21 17:31] bjorn3 opened #103362 "Check that unsized arguments are only moving locals or box contents in the mir verifier"
See https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/stack.20slot.20reuse.20Q/near/305406997 for more context.

[2022-10-21 17:31] Kixunil commented on #42839
Looks like there were at least no complaints about it apart from `UCred` being misleading name. Looking at the docs the struct description could use some polishing. Maybe open an ACP? If you have some experience with using it on nightly that should help. I changed my interests over time and don't have it.

[2022-10-21 17:35] RalfJung commented on #103362
You tagged this unsized-fn-params, but the check should apply to *all* `move` arguments, right? The relation to unsized-fn-params is that those must *always* be `move`?

[2022-10-21 17:42] bjorn3 commented on #103362
Yeah, that is why I changed the issue title.

[2022-10-21 17:43] bjorn3 commented on #103362
You were talking about the label? I tagged it because I assume that clarifying these semantics is a blocker for stabilizing unsized_fn_params if we ever want to stabilize it.

[2022-10-21 17:47] bjorn3 opened #103363 "Check that move arguments are disjoint in the mir verifier"
See https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/stack.20slot.20reuse.20Q/near/305409193 and https://github.com/rust-lang/rust/issues/103362.

Basically the check would disallow `foo(move _1, move _1)` (where `_1` is of any type) and `foo(move *_1, move *_1)` (where `_1` is a box).

[2022-10-21 17:49] RalfJung commented on #103363
It should also reject `foo(move _1, move *_1)`, probably.

[2022-10-21 17:51] compiler-errors commented on #103343
This is a bug that will get fixed with the next release of rustc, I think!

[2022-10-21 17:57] RalfJung commented on #103362
Looking at the [existing verifier](https://github.com/rust-lang/rust/blob/415d8fcc3e17f8c1324a81cf2aa7127b4fcfa32e/compiler/rustc_const_eval/src/transform/validate.rs#L809), the call destination probably needs the same treatment.

[2022-10-21 18:32] chbaker0 opened #103365 "`std` depends on `cfg-if` 1.0.0 and 0.1.10"
https://github.com/rust-lang/rust/pull/101861 added `cfg-if` v1.0.0 as a `std` dependency.

`std` still depends on `cfg-if` v0.1.10:

[code]

Depending on only one version would be nice. While it's a small library, it's still unnecessary bloat.

[2022-10-21 18:34] chbaker0 commented on #103365
@rustbot label T-libs

[2022-10-21 18:35] Rageking8 commented on #103037
Maybe we can start off by adding a new label like `S-fixed` (or some other better wording)(which people can add using rustbot). Then team members can check up on issues with those labels periodically to close them if appropriate.

This can maybe start off as a pliot for a short period of time to see if it works and team members can decide if this is worth it or not.

Other labels such as "further

[2022-10-21 18:37] tmiasko commented on #103363
One additional case that probably should be rejected: `f(move _1, _1)`.

[2022-10-21 18:40] Jules-Bertholet commented on #69835
Shouldn't these functions guarantee that they are safe to call at least when casting the pointer to a reference and calling `size_of_val`/`align_of_val` on that would be safe?

[2022-10-21 18:45] thomcc commented on #103365
Note that this bloat is only exposed to users of -Zbuild-std so it doesn't matter much. I'd take a patch removing it from `panic_abort` and `unwind` though.

`getrandom` should only be used as a dev-dep, and also we can't easily update it for various unfortunate reasons, so I'm not sure how much I'd recommend pushing on that.

[2022-10-21 18:49] chbaker0 commented on #103365
not exactly true, it's shipped in the normal distribution:

[code]

Though it is pretty minor.

Locally I was able to update it from 0.1.14 -> 0.1.16, which depends on cfg-if 1.0.0. Will this break in ways I don't understand?

[2022-10-21 18:52] jruderman opened #103366 "Suggest fix for misplaced generic params on `fn` item"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c43061fdd99675fe34603630cc40c25a)):

[code]

The current output is:

[code]

Ideally the output should look also include:

[code]

This is an easy mistake to make because `impl` items _do_ require the generic parameters to go immediately after the keyword.

[2022-10-21 18:55] thomcc commented on #103365
Good point.

That's probably be fine. I think the issue is with getrandom 0.2 rather than the 0.1.x series -- whichever one requires wasm_bindgen for the wasm impl and compile_errors  when it fails to resolve an impl (since std cannot depend on wasm-bindgen).

Feel free to `r? @thomcc` on a PR moving the stdlib to cfg-if v1.x.y.

[2022-10-21 18:55] chbaker0 commented on #103365
Cool! I put it up for discussion: https://github.com/rust-lang/rust/pull/103367

[2022-10-21 19:01] jonhoo commented on #103289
@jyn514 To be clear, I don't think this should be closed. This is (I believe) a bug either in `std` or in the borrow checker.

[2022-10-21 19:14] compiler-errors commented on #103366
this probably should be generalized for the other item kinds as well (`struct`, `enum`, `trait`, and `union`), if someone is planning on implementing this.

[2022-10-21 19:21] scottmcm commented on #103363
Is `f(_1, move _1)` allowed?

[2022-10-21 19:40] alice-i-cecile commented on #103037
`S-unactionable` is another good candidate :)

[2022-10-21 19:42] bjorn3 commented on #103363
It could be, but it did be more consistent to disallow it and require an explicit copy rather than an implicit one.

[2022-10-21 19:54] jsha commented on #103357
One problem here is that our acceptable Levenshtein distance is too high: we allow results with up to 3 edits (character deletion, insertion, or removal). For a query like regex, that means we allow deleting up to 3 characters to match an unreleated name like "ge". Reducing the max Levenshtein distance to 2 would go a long way towards improving these no-match cases. I think its exceedingly rare fo

[2022-10-21 20:45] jruderman commented on #103037
It's one thing to close years-old bugs that will clearly never become actionable. A [needs-mcve issue](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+label%3AE-needs-mcve) only provides 10 lines from a secretive company's internal tool, the reporter has retired, and the relevant part of the compiler has been refactored twice since then? Sure, that's a candidate for closing.

But i

[2022-10-21 21:06] Imberflur opened #103369 "Noisy conflicting implementations error for a trait which has a const generic parameter that panics in multiple implementations"
I tried this code:

[code]

I expected to see this happen:
<details>
<summary> Only errors due to the const panic being displayed</summary>

[code]

</details>

Instead, this happened:
<details>
<summary>In addition to the expected errors there is a conflicting implementation error showing the const generic as `[const error]`</summary>

[code]

</details>

This introduces excessive noise in the er

[2022-10-21 21:09] Imberflur commented on #103369
I meant to use the Diagnostic issue template but I guess I clicked on the wrong one...

[2022-10-21 21:22] CAD97 commented on #69835
It's not explicitly stated, but it the case that if the pointer is valid to reborrow as a reference that these functions are safe to call. The listed conditions should be a proper subset of "pointer valid to reborrow."

[2022-10-21 21:25] russrusnak opened #103371 "1822 missing token"
In 1822 game id 98155, the NER's destination token disappeared from the board even though it shows as there on the entities page.

I know nothing about coding, I am just trying to report a possible bug in an 1822 game on 18xx.games

Thank you for filing a bug report! 🐛 Please provide a short summary of the bug,
along with any information you feel relevant to replicating the bug.
-->

I tried this

[2022-10-21 21:36] Jules-Bertholet commented on #69835
@CAD97 they aren't really a proper subset, as they don't account for new unsized types that might be added to Rust in the future.

[2022-10-21 21:46] compiler-errors commented on #103371
@russrusnak -- this is the [Rust programming language](https://www.rust-lang.org/). I don't think this issue is reported to the right place. Hope you find a fix for your issue!

[2022-10-21 21:46] #103371 closed

[2022-10-21 21:49] Jules-Bertholet commented on #69835
I made a PR to fix this: https://github.com/rust-lang/rust/pull/103372

[2022-10-21 21:52] cadillion opened #103373 "async_graphql::DataLoader code generation via declarative and attribute macros causes compiler bug"
### Code

[code]

### Meta

Running `rust:1.64-slim-bullseye` Docker container on Mac M1
[code]

### Error output

Comment is too long so snipping here in favor of the backtrace.
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>
Snipped due to comment length
[code]

</p>
</details>

[2022-10-21 21:59] nagisa commented on #103361
Thanks for the report.

Priority wise, this seems like it isn’t going to be super high priority to resolve, given that 1<<47 is 128TiB. 128TiB, unfortunately, is half of the maximum supported address space on many modern x86_64 and aarch64 deployments, so it is conceivable that this could be actually hit. Still would be nice to actually fix it.

As for the strategies to fix this, there are a coupl

[2022-10-21 22:03] benwis commented on #91345
I think this would be a nice addition, not sure how to push it forward though.

[2022-10-21 22:33] jruderman commented on #103361
Would it work to change the termination condition from `going_mod >= m` to `going_mod >= m || going_mod == 0`? Where `going_mod == 0` means it wrapped, so the logical value is out of the type's range, and thus bigger than `m`.

[2022-10-21 22:42] jruderman commented on #103361
Or weirder: store `log_2_going_mod` instead of `going_mod`, so the comparison can be done using `ctlz(m)` and the squaring operation can be replaced with a doubling (bit shift).

[2022-10-21 23:01] will-flores1 commented on #103269
@rustbot release-assignment

[2022-10-21 23:08] cadillion commented on #103373
Related to #96962

[2022-10-21 23:50] lopopolo commented on #74990
@madsmtm @BatmanAoD: https://github.com/rust-lang/rust/pull/101263 has been merged 🎉 What remains before the `C-unwind` ABI can be stabilized?

Once the next nightly drops I should be able to push up a build of Artichoke Ruby which oxidizes a `setjmp`/`longjmp` unwinding mechanism with `catch_unwind`/`panic` if that would help with a motivating usecase for the stabilization report.

[2022-10-22 00:32] compiler-errors commented on #102308
This works now.

[2022-10-22 00:32] #102308 closed

[2022-10-22 00:44] cr1901 commented on #102290
I rebuilt Rust w/ #103240 and then tested against the code I linked in the initial post, and linking in debug mode succeeded; #103240 will indeed fix the issue.

[2022-10-22 00:50] compiler-errors commented on #101374
This issue might benefit from a better title, maybe talking about the parsing associativity of `()` and closure exprs.

[2022-10-22 00:52] compiler-errors commented on #101596
maybe useful to create a const-prop label for issues like this, given the bisection.

[2022-10-22 00:54] iximeow commented on #67674
yup, looks like this was fixed in the last few years:

[code]

neat!

[2022-10-22 00:54] #67674 closed

[2022-10-22 01:09] mat-1 opened #103380 "LLVM error when cloning Vec of certain struct in release mode"
I found this issue when I was compiling one of my large projects, and was able to track it down to the code below. Unfortunately, I haven't been able to reproduce the issue on any other machines other than this one (which is running Ubuntu 20.02.4 on Oracle Cloud, if that matters). The error only seems to happen in release mode in nightly.

### Code

[code]

### Meta

`rustc --version --verbose`: