[2020-11-06 04:42] arj101 commented on #78799
This can be reproduced in Chrome dev tools too.

https://imgur.com/CEorIrc.png

[2020-11-06 05:24] jyn514 commented on #76296
This is basically the same as https://github.com/rust-lang/rust/issues/56169, but I'll leave it open to make sure that someone remembers to update `extern-html-root-url` whenever the other issue gets fixed.

[2020-11-06 05:38] jyn514 opened #78800 "Intra-doc links do not resolve associated items for blanket impls"
I tried this code:

[code]

I expected to see this happen: The link resolves to `<S as Trait>::f`

Instead, this happened: rustdoc can't resolve the link:

[code]

### Meta

`rustdoc +nightly --version`: `rustdoc 1.49.0-nightly (ffa2e7ae8 2020-10-24)`

cc @seeplusplus

After seeing https://github.com/rust-lang/rust/issues/78761 I'm strongly considering getting rid of blanket impls altogether, clea

[2020-11-06 05:38] jyn514 commented on #78800
Note that rustc resolves it fine if you call `inner::S::f();` in a main function.

[2020-11-06 05:43] Alfriadox commented on #64260
I could see `some` and `some_with`.
I don't think we need the other one there though as it should be covered by `Option::and_then`.
For example:
[code]

[2020-11-06 05:45] jyn514 commented on #78800
Another related issue for after this is fixed: right now rustdoc doesn't consider scoping at all for blanket impls, only for direct impls like `impl Trait for MyType`. Notice how `module` isn't passed to `get_blanket_impls`: https://github.com/rust-lang/rust/blob/b385598c9658fef4a143a770c21db38b7872c134/src/librustdoc/passes/collect_intra_doc_links.rs#L605

[2020-11-06 05:48] ohsayan commented on #78743
Following on from your comment in https://github.com/actions/checkout/issues/376#issuecomment-722021339 the worst part about this is that it's impossible to repro this

[2020-11-06 05:50] jyn514 commented on #78800
If we change `get_blanket_impls` to take a `filter` parameter like I suggested in https://github.com/rust-lang/rust/issues/78761#issuecomment-722169913, we could filter traits in scope there. The way to tell that is

[code]

which is not as efficient as only looking up the relevant traits in the first place but I think is the best we can do while still being able to reuse the code for `clean`.

[2020-11-06 06:17] arora-aman commented on #63405
This has been fixed on the nightly https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a0564c5e235b20202f28fea65af76e19

[2020-11-06 08:26] arora-aman commented on #71895
@rustbot claim

[2020-11-06 08:26] arora-aman commented on #72457
@rustbot claim

[2020-11-06 08:32] arora-aman commented on #66869
If I understand correctly First part implemented here: https://github.com/rust-lang/rust/pull/76176

[2020-11-06 09:05] Nemo157 opened #78803 "Overzealous unconditional_panic (denied) warning"
To try and workaround the lack of `const` `Result::unwrap` on 1.47 I implemented a basic variant of it manually, but this fails to compile without suppressing the `unconditional_panic` warning:

[code]

[code]

This code panicking _is_ conditional on the input `success` value.

@rustbot modify labels: +A-const-fn, +A-lint

[2020-11-06 12:10] KodrAus commented on #64260
We've had lot of participation here with a lot of perspectives on how to name these functions being discussed! It doesn't seem like this latest round has really brought anything new to the table as far as naming goes and we haven't produced anything universally preferred to the current API of:

[code]

I don't think more discussion is likely to change this, and an alternative to `then` that return

[2020-11-06 12:12] est31 commented on #78665
Another instance: https://github.com/rust-lang/rust/pull/78804#issuecomment-723031906

[2020-11-06 12:16] KodrAus commented on #64260
Looks like `rfcbot` can't handle two FCPs in the same issue at the same time 😄

@rfcbot cancel

[2020-11-06 12:16] KodrAus commented on #64260
@rfcbot fcp merge

[2020-11-06 12:46] chengniansun opened #78806 "ICE: broken MIR in Item(WithOptConstParam { did: DefId(0:3 ~ reduced_mutant[8787]::test), const_param_did: None }) (after InstCombine in phase Optimization) at bb0[2]: `Operand::Copy` with non-`Copy` type &i32"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)

[2020-11-06 13:28] JwanMan opened #78807 "Error building rustc-ap-rustc_data_structures v686.0.0"
When compiling `rustc-ap-rustc_data_structures` version 686.0.0 on nightly, the following errors appear:

[code]

This happened while trying to install `racer v2.1.40` on `nightly-aarch64-unknown-linux-gnu`.

[2020-11-06 13:48] frostblooded opened #78808 "Error on deriving PartialEq on Foo and then implementing it for dyn Foo"
I tried this code:

[code]

I expected to see this happen:

A working `PartialEq` derived implementation for `Bar`.

Instead, this happened:
An error was thrown:

[code]

### Meta
The bug is present on nightly and stable in the two versions I tried:
`rustc --version --verbose`:
[code]

`rustc --version --verbose`:
[code]

Backtrace doesn't show anything different than the error.
Here is the reprod

[2020-11-06 13:52] danielhenrymantilla commented on #78808
@rustbot modify labels: +A-macros +A-diagnostics +D-confusing

[2020-11-06 13:58] #77309 closed

[2020-11-06 14:18] steveklabnik commented on #31436
I run into places where I would love to use try blocks a lot. It would be good to get this over the line. Personally, I would absolutely, 100% sacrifice type ascription if it were required to get try blocks over the line. Leaving a long-term, useful feature unstable because it conflicts with another long-term, unstable feature is a really unfortunate situation.

[2020-11-06 14:24] ehuss commented on #78807
Which exact version of nightly are you using?  It looks like `nightly-2020-10-26` should work, and it includes a rust-toolchain file to pin the version.

[2020-11-06 14:27] steveklabnik commented on #43606
There was serious effort to make it understand it at one point, but that idea was abandoned long ago, so 👍

[2020-11-06 14:37] zesterer commented on #50133
@ckaran I believe so, yes.

[2020-11-06 14:55] mark-i-m commented on #31436
Personally, I've wanted type ascription far more often than try blocks (though i have wanted both at times). In particular, I've often struggled with "type debugging" where the compiler infers a different type from what i expected. Usually, you have to add a new let binding somewhere, which is really disruptive and causes rustfmt to break the undo history. Moreover, there are lots of places where

[2020-11-06 15:13] pnkfelix commented on #78143
assigning to mark to ensure that release notes include the note about this being a bug fix with limited impact.

[2020-11-06 15:23] eddyb commented on #78140
Shouldn't #48552 prevent this from being an issue at all? Do we need to extend it in some way?
cc @nikomatsakis @pnkfelix

[2020-11-06 15:23] pnkfelix commented on #78139
hey @Mark-Simulacrum , did you manage to land a revert of  #70793 on beta (and nightly?)?

[2020-11-06 15:27] Mark-Simulacrum commented on #76480
This was shipped in 1.47, and included in release notes (IIRC). I don't think there's anything further here so let's go ahead and close.

[2020-11-06 15:27] #76480 closed

[2020-11-06 15:28] Mark-Simulacrum commented on #78520
Untagging as a regression, this requires nightly (const generics).

[2020-11-06 15:30] JwanMan commented on #78807
I'm on `nightly-2020-10-24`, what `rustup` installs on a fresh Rust installation when running `rustup toolchain add nightly`. I just found that, as @nlopes noted [here](https://github.com/racer-rust/racer/issues/1141#issuecomment-720090525), running `rustup update --force`, allows updating to a newer version and solves the problem. Thanks to both!

The reason `rustup` won't update to the latest ni

[2020-11-06 15:43] Mark-Simulacrum commented on #78210
Discussed in compiler team regression triage.

The regression seems to be because we're now trying to respect the new flag, which is then causing breakage. I think it is reasonable to expect users who want to build for crt-static to pass `--target`, because they're essentially modifying the target config they're compiling for. We likely want better diagnostics here, but that's not a regression pro

[2020-11-06 15:43] Mark-Simulacrum commented on #78210
cc @XAMPPRocky for the relnotes label

[2020-11-06 15:44] wesleywiser commented on #77458
Removing the regression label because this is actually a bug with the formatting implementation for a rustc internal type and isn't user impacting in anyway.

[2020-11-06 15:47] pnkfelix commented on #76980
ping @rust-lang/wg-llvm : is there anyone able to assist with investigating what change between LLVM 10 and LLVM 11 actually caused this, as described in https://github.com/rust-lang/rust/issues/76980#issuecomment-704725529

[2020-11-06 15:52] Mark-Simulacrum commented on #76605
Assigning to @estebank to change the lint on nightly to a hard warning, which should both prevent hard errors (and as such regressions).

[2020-11-06 15:56] jethrogb commented on #76980
@pnkfelix I think that's a red herring, see https://github.com/rust-lang/rust/issues/76980#issuecomment-705800997

[2020-11-06 15:58] Mark-Simulacrum commented on #74215
Untagging as a regression, since this landed in 1.45.

[2020-11-06 16:07] withoutboats commented on #64260
@rfcbot concern stabilize-only-then

Sorry for not responding sooner. For the reasons previously stated, I would prefer to stabilize only `then`. I don't think any other names than `then` and `then_some` should be considered at this point, but I'd like to have `then` on stable so we have more experience before considering if `then_some` as sugar over `then` carries its weight.

[2020-11-06 16:16] withoutboats commented on #31436
@steveklabnik @mark-i-m Try blocks and type ascription are not in any way in conflict, it is not a question of one feature or another. It's just `try` blocks have unergonomic type inference failures, and generalized type ascription could be a way to solve that problem, but since generalized type ascription is not a near term feature or even a sure thing, @joshtriplett (and I agree) doesn't want th

[2020-11-06 16:20] varkor commented on #64260
I'll just note that `then_some` is already used frequently throughout rustc. In fact, `then_some` occurs more times (43 times) than `then` (16 times). Personally, I think this already demonstrates its usefulness.

[2020-11-06 16:21] Mark-Simulacrum commented on #76980
@jethrogb Are there any potential downsides to passing -fno-gnu-unique when compiling LLVM? It seems like out of the options we have available that's the easiest and least invasive one, right?

[2020-11-06 16:32] jethrogb commented on #76980
I'm not aware of any downsides, but I also don't know what the purpose is of this unique type of symbols and why GCC added this special class. It is now my preferred option as well.

I'm hoping I can coerce x.py to use that flag sometime soon.

[2020-11-06 16:39] BurntSushi commented on #64260
I personally find these combinators to be less clear than an if statement, and they don't really save much typing. So I doubt I'd find myself using them and would probably oppose them in PR reviews for my crates. With that said, I don't feel strongly enough to mount an opposition to them. I don't think my clarity argument is that strong IMO, and is probably closer to a personal preference.

I also

[2020-11-06 16:39] richkadel commented on #34701
FYI: As of PR #78267, LLVM InstrProf-based code coverage is "feature complete"! (I believe this last PR will be in the Rust `nightly` distribution channel tomorrow, Nov 7.) It has been tested on a few large crate implementations, but will need more real world testing. Please cc me on any bug reports.

Usage is now documented in [The Rust Unstable Book](https://doc.rust-lang.org/nightly/unstable-bo

[2020-11-06 16:45] xd009642 commented on #34701
@richkadel which version of llvm-profdata does it require to work? I installed the one in my distros package manager and all it gives is an unhelpful message saying it's an incompatible version. When I'm on my machine later I can get the versions and error message

[2020-11-06 16:46] cuviper commented on #76980
Do we need that flag in the build of `libstdc++` as well? (Feasible since we do build our own toolchain for dist...)

[2020-11-06 16:57] danielhenrymantilla commented on #78808
I have managed to minimize the problem a bit more:

[code]

fails with the same error message:

[code]

So, either that is a valid error, and the macro should be unsugaring to `PartialEq::eq(& <left>, & <right>)` instead of `<left> == <right>`, or that is the actual bug, and the derive is fine since it assumes such code to be always valid.

@rustbot modify labels: +A-mir -A-diagnostics -D-confusin

[2020-11-06 17:03] a1phyr opened #78812 "Tracking Issue for `#![feature(const_io_structs)]`"
This is a tracking issue for `#![feature(const_io_structs)]`

New `const` functions are:
- `io::Cursor::new`
- `io::Cursor::get_ref`
- `io::Cursor::position`
- `io::empty`
- `io::repeat`
- `io::sink`

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questio

[2020-11-06 17:16] nikomatsakis commented on #31436
@withoutboats I agree with the need to collect all the information in one place and the desire to push this feature over the finish line. That said, I think the last time we investigated here it also became clear that changes to `Try` might be difficult because of backwards compatibility -- @cramertj mentioned some specific `Pin` impls, IIRC.

[2020-11-06 17:27] nikomatsakis commented on #23416
I opened #78248 which describes how (I think...) we can support coercions in a relatively straightforward way. I do think that coercions are an important part of this feature. However, there are some other concerns about the syntax that have been raised. Last time I checked we definitely did not have full consensus on going forward here.

[2020-11-06 17:34] Nicholas-Baron opened #78813 "./x.py clippy errors in library/core"
Running `./x.py clippy` produces [2,000 lines](https://github.com/rust-lang/rust/files/5502582/clippy.txt), where the first 500 are simple warnings.

The error come in around line 600 and are all
error: cannot find attribute `rustc_allow_const_fn_unstable` in this scope
out of the files
* `library/core/src/num/int_macros.rs` at lines 2048 and 2197
* `library/core/src/num/uint_macros.rs` at line 18

[2020-11-06 17:34] Nicholas-Baron commented on #78813
@rustbot adjust labels to +A-rustbuild.

[2020-11-06 17:36] mati865 commented on #78210
@Mark-Simulacrum to be more clear, `-C target-feature=+crt-static` is not a new flag. It existed for a long long time but `*-linux-gnu` targets were ignoring it until recently.

[2020-11-06 17:51] jyn514 commented on #78813
@Nicholas-Baron you're running an old version of nightly, the errors in the current version are tracked at https://github.com/rust-lang/rust-clippy/issues/6302. Beta works fine.

In general, nightly clippy on rustc is probably not a great idea because it rapidly desyncs with the master branch. beta has special handling with `cfg(bootstrap)`.

[2020-11-06 17:51] #78813 closed

[2020-11-06 17:58] kotauskas commented on #50504
I feel like there's a bug with the lint itself. My proc macro expands to the following (example taken from its unit test, slightly modified to demonstrate the problem):
[code]
The `use super::*;` there is what is expected to make the name resolution work correctly instead of failing because of the module. The macro's output compiles just fine, but produces the lint.

Even though I'm completely not

[2020-11-06 18:41] Nicholas-Baron commented on #78813
@jyn514 `rustup override beta` did fix the issue. Thank you.

[2020-11-06 18:41] GuillaumeGomez commented on #18370
Isn't it possible only for local builds? On docs.rs and hosted docs, it shouldn't be possible, no?

[2020-11-06 18:48] jyn514 commented on #18370
Hmm, I thought it was possible on docs.rs, but looking at https://docs.rs/zstd-sys/1.4.17+zstd.1.4.5/zstd_sys/struct.ZSTD_DDict_s.html it looks like the file path is not leaked. I could have sworn I'd seen this on docs.rs before, though.

[2020-11-06 18:56] Kixunil commented on #74913
Yes, exactly. Good job with the PR!

[2020-11-06 18:57] sanmai-NL commented on #62543
@cuviper I agree, but I had another application in mind. I was using it to implement Quicksort, and would like be able to control the sorting order through the predicate function. Since it got hairy with all the lifetimes in combination with recursion and mutable references in to the (sub)arrays, I was wondering whether I could use the natural ordering or some `Ordering` value directly.

But other

[2020-11-06 19:01] #76836 closed

[2020-11-06 19:01] #78464 closed

[2020-11-06 19:01] #30838 closed

[2020-11-06 19:01] #78517 closed

[2020-11-06 19:01] #71478 closed

[2020-11-06 19:10] JohnTitor commented on #78787
Fixed by #78798.

[2020-11-06 19:10] #78787 closed

[2020-11-06 19:12] Nicholas-Baron opened #78814 "Clippy seems a bit angry"
Running a simple `./x.py clippy` results in a roughly [49,000 line output](https://github.com/rust-lang/rust/files/5503002/clippy.txt).

Are we going to try to repair all ~3,500 warnings or are some of them not helpful?
There is an argument to be made that some do have performance implications (`unwrap_or` vs `unwrap_or_else`, `push` vs `push_str`).
Other are entirely cosmetic (one letter bindings

[2020-11-06 19:20] robinmoussu opened #78815 "tidy is not good at detecting untracked files"
When running `x.py test`, I got a bazillion errors (434 to be more precise). I think that all those errors comes from `.js` files. Most (all?) of them being:

Is this "expected"? Because of those errors, the command finishes with an error code (exit code: `1`).

[2020-11-06 19:25] jyn514 commented on #78815
@robinmoussu that's from `tidy` - do you have untracked files maybe? tidy tries to avoid untracked files but it's not very good at it.

[2020-11-06 19:26] Mark-Simulacrum commented on #78814
This is intentional -- clippy lints are not generally allow'd in compiler crates that we don't intend to fix, as there's many false positives in the general case. We do not check that clippy passes in CI either. IMO, it's a losing battle to try and get everything clippy complains about patched in rustc at this time, and many of the lints I at least disagree with so I don't think we would necessari

[2020-11-06 19:29] cuviper commented on #62543
@sanmai-NL So right now you have this, which already uses `PartialOrd` for the `<` operator:

[code]

If you have a custom parameter `cmp: impl FnMut(i16, i16) -> Ordering`, then you can use:

[code]

Or you might have a parameter `lt: impl FnMut(i16, i16) -> bool` without full ordering, then:

[code]

[2020-11-06 19:39] robinmoussu commented on #78815
I was effectively that. I generated the doc for `rustc_parse` and `rustc_lexer` by running `cargo doc` directly in those folder. Even a cargo clean didn't clear the `target` directory, and I didn't noticed it.

[2020-11-06 20:08] Coder-256 commented on #64260
I hate to be another random person contributing to the bikeshedding, during a FCP vote; I especially hate to hijack the thread with more unrelated, RFC-length bikeshedding; and I know that admitting my admittedly grievous sin doesn't make it any better, but I wanted to mention something that I think hasn't been said before.

IMO the general pattern of double combinators where one takes a value and

[2020-11-06 20:13] devsnek commented on #18370
What does docs.rs do differently so that this doesn't occur?

[2020-11-06 20:28] chorman0773 commented on #77664
This is surprising, coming from C++. Dead code elimination should not affect generic instantiation or odr-use.

Reading through the code in the first example, instantiating foo::<R,F> should instantiate, foo::<R,&mut dyn FnMut()->R>, which then self-instantiates and would recurse indefinitely. This is the case even if the call is elided by dead-code elimination. Having the well-formedness of the p

[2020-11-06 20:46] Nadrieril commented on #7462
The match exhaustiveness algorithm is indeed completely quadratic: for every branch, we check if it is redundant with any of the branches above. We could hack workarounds for some special cases like what #76918 did, but those usually stop working for non-trivial patterns, and I'm not sure they're worth it since most matches have only a few branches. (I would love some data to confirm that, if you

[2020-11-06 20:46] leonardo-m commented on #78814
One solution is to activate only one clippy lint at a time (and do not activate the ones that aren't good) and submit patch for each lint separately. This should simplify the review.

[2020-11-06 21:19] danielhenrymantilla commented on #78808
FWIW, I have implemented a fix for the "the macro should be unsugaring to …" case, although I think that it's rather `== *it` not working that should be fixed:

[code]

[2020-11-06 21:19] matthiaskrgr commented on #78814
I've been looking at the clippy output when run on the rustc codebase here and there and I by now my number of disabled lints is at around 70 :P

[2020-11-06 21:22] Nicholas-Baron commented on #78814
I am looking to work on the `unwrap_or` to `unwrap_or_else` lint, as it has performance implications (lazily constructing the replacement value will probably be more efficient).

[2020-11-06 21:22] Ichoran commented on #78248
Is it worth requiring `as` for coercions and leaving `:` as an ascription only?  This better matches what is already the case for numeric types.

[2020-11-06 21:48] #75521 closed

[2020-11-06 21:53] tmandry commented on #34701
Rust builds with LLVM 11 currently, so use that if you can. 10 may or may
not also work.

On Fri, Nov 6, 2020 at 8:45 AM xd009642 <notifications@github.com> wrote:

[2020-11-06 22:08] jonas-schievink opened #78819 "`const_item_mutation` incorrectly fires when using raw pointers"
I tried this code:

[code]

I expected to see this happen: This should compile without warnings, as I am just turning the `0x8000_0000` raw pointer into a mutable reference.

Instead, this happened:

[code]

The lint claims that I'm "taking a mutable reference to a `const` item", but I'm not – the const item *is* the reference.

This warning started popping up a lot for the [cortex-m](https://gith

[2020-11-06 22:27] MikailBag opened #78820 "ICE with cargo-miri: vtable not supported on type std::pin::Pin<&mut dyn futures::Future<Output = std::result::Result<..."
# Source
I partially reduced the codebase: I was able to delete all not `tokio::sync::mpsc`-related staff.
https://github.com/MikailBag/tokio/tree/ice
# Command
[code]
# Full error text
[code]
# Backtrace
[code]

[2020-11-06 22:34] matthiaskrgr commented on #78814
I added `./x.py clippy --only` in https://github.com/rust-lang/rust/pull/78821 which lets you silence all lints besides the specified ones.
Should help a bit with the overwhelming wall of default output of ./x.py clippy.

[2020-11-06 22:46] taiki-e commented on #78820
I think this is a duplicate of https://github.com/rust-lang/miri/issues/1038.

[2020-11-06 23:19] Boscop opened #78823 "ICE: thread 'rustc' panicked at 'Box<Any>', compiler\rustc_errors\src\lib.rs:945:9"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-11-06 23:26] Boscop opened #78824 "On docs search results page, make down/up arrows select search results by auto focusing search field"
Before, when you opened a rust doc page by a url containing a search query, after the page loaded, you could navigate with down/up arrows through the matched symbols.
Now it doesn't work anymore, you have to use the mouse to click!
E.g. an url like https://doc.rust-lang.org/nightly/std/?search=scan or https://docs.rs/imgui/0.4.0/imgui/struct.Ui.html?search=set

Maybe the fix is as simple as puttin

[2020-11-07 01:37] mark-i-m commented on #72680
I would have assumed that the implementation merely desugars into a bunch of top-level or-patterns. Is that not the case? Why are tuples special cased?

If it isn't too involved, I could take a crack at this with some guidance... very much want to see this over the finish line.

[2020-11-07 01:39] jonas-schievink commented on #73356
@rustbot release-assignment

[2020-11-07 03:35] Firstyear opened #78827 "Linking a static C library does not include all symbols"
This relates to #15460. On 1.47 stable and 1.48 nightly, when using cc/cbindgen, if a symbol in the C file is not used by the .rs file, then it is not in the resulting cdylib. It is possible to force the symbol to be included by "calling" it as show in https://github.com/rust-lang/rust/issues/19321 .

The linked repository is able to reproduce this. Testing on OpenSUSE tumbleweed (fully patched wi

[2020-11-07 08:02] nhynes commented on #44752
How do I get this to work with something like serde's `deserialize_with`? In [this specific example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=33bf44b1c931ef5e2c190ac37d649060), the lint complains about the `'de` in `Deserializer<'de>` being single-use, but then replacing it with `'_` nets an `expected named lifetime parameter`.

[2020-11-07 08:51] hellow554 commented on #78823
Could you at least give US the full backtrace?

[2020-11-07 08:56] thepowersgang opened #78829 "macro_rules expansion of `:expr` depends on content (can expand to a statement)"
The following code compiles, despite the macro specifing `$e` to be an expression (and not a statement).

[code]

It appears that the contents of an interpolated expression (`:expr` capture) changes how the rest of the expanded macro is parsed.

Not sure if this is a big issue, but is something I noticed while implementing mrustc (see `rustc-1.39.0-src\vendor\indexmap\src\map.rs:342`) for this beh

[2020-11-07 11:04] #78741 closed

[2020-11-07 12:51] RalfJung commented on #76064
@oli-obk the solution at https://github.com/rust-lang/rust/pull/78809, if I understand correctly, does not fix `TransmuteSizeDiff`... should that become a separate issue once this one is closed, or is there some reason that `TransmuteSizeDiff` cannot be fixed by adding a similar `ErrorReported` to the transmute size check?

[2020-11-07 14:17] jonas-schievink commented on #78829
Isn't this just caused by `if` not needing a trailing `;` to be a statement? If you expand the macro manually it behaves the same way:

[code]

[code]

[2020-11-07 14:27] alsoijw commented on #59220
Some additional information:
--emit=llvm-ir and --emit=llvm-bc aren't affected. They produced less code that rustc, so output binary is smaller.
[code]
[code]

All this parts build x32 binary that work fine.

And debugging original binary builded from rustc with gdb. I set breakpoint on main and disassemble code. I check 4 variants with `true`, `&true`, `""`, `8`. This is example for `""`
[code]
T

[2020-11-07 15:07] RalfJung commented on #78778
Miri also runs into this when doing `x.py test --stage 0 src/tools/miri` (which used to work)

[2020-11-07 15:23] DutchGhost opened #78834 "Wrong error about the size of a parameter not being known at compiletime"
I tried this code:

[code]

I expected to see this happen: This code should compile, as `A` is a generic type with the default type being `[(); 1]`. When I remove the `let x = [0u8; !0usize]` line, everything compiles fine.

Instead, this happened: I got an error message, `error[E0277]`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detail

[2020-11-07 15:43] jyn514 commented on #78778
[From zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/miri.20stage.202):

[2020-11-07 15:47] the8472 commented on #78139
If reverting the PR proves difficult more targeted options would be either removing the use of `needs_drop` or only removing / stubbing [the specialization that makes use of it](https://github.com/rust-lang/rust/blob/master/library/alloc/src/vec.rs#L2209-L2211) while leaving the rest of the machinery unchanged. But the former may be insufficient since it also uses similar methods such as `size_of`

[2020-11-07 16:13] petrochenkov opened #78835 "Tracking Issue for `#![feature(extended_key_value_attributes)]`"
Implemented in https://github.com/rust-lang/rust/pull/78837.

With this feature arbitrary expressions are supported in values of key-value attributes at parse time.
[code]
Previously only unsuffixed literals and interpolated expressions (`$expr`) were accepted.

If the attribute in question survives expansion, then the value is still restricted to unsuffixed literals by a semantic check. This rest

[2020-11-07 16:56] petrochenkov commented on #44732
https://github.com/rust-lang/rust/pull/78837 implements `#[doc = include_str!("my_doc.md")]` once more, this time for real, I hope.

[2020-11-07 17:09] aendeavor opened #78839 "Nightly compiler bug – thread 'rustc' panicked at 'Box<Any>'"
I tried this code:

[code]

I expected to see this happen: The debug output of the vector containing `pnet::datalink::NetworkInterface`s.

Instead, this happened:

I saw the following, which I cannot interpret well:

[code]

### Meta

`rustc --version --verbose`:
[code]

The verbose output of the compilation as suggested by `cargo` is:

[code]

The stable compiler will output:

[code]

which obvio

[2020-11-07 17:20] ghost opened #78840 "#[track_caller] does nothing on async fns"
I tried:
[code]
I expected the seventh line to be the panic location, but I got this:
[code]
<details>
<summary>With <code>RUST_BACKTRACE=1</code></summary>

[code]
</details>

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&code=%23%5Btrack_caller%5D%0Aasync%20fn%20panic()%20-%3E%20!%20%7B%0A%20%20%20%20panic!()%3B%0A%7D%0A%0Afn%20main()%20%7B%0A%20%20%20%20future

[2020-11-07 17:25] jonas-schievink commented on #78839
This is already fixed, you need to update your compiler

[2020-11-07 17:25] #78839 closed

[2020-11-07 17:28] jonas-schievink commented on #78840
This seems to be working correctly. The call to `panic` does not actually panic, so the `#[track_caller]` does nothing. `panic` just returns a future that, when polled, will panic.

[2020-11-07 17:31] GuillaumeGomez commented on #44732
:tada:

[2020-11-07 17:34] hyd-dev commented on #78840
But I expect it to work better: automatically generates the `Future` I implemented manually.

[2020-11-07 17:57] hyd-dev commented on #78840
@jonas-schievink Sorry for my wrong interpretation of this issue. But currently `#[track_caller]` on `async fn`s does nothing and compiles without warning, so maybe this is also a `C-enhancement`?

[2020-11-07 18:44] Mark-Simulacrum commented on #78143
https://github.com/rust-lang/rust/pull/78364/files#diff-4a00447b47c36ebd3ded77321deff288e424f4605496ee1199fc9953a20f4473R80 (though that link may go stale). Closing.

[2020-11-07 18:44] #78143 closed

[2020-11-07 18:46] shepmaster commented on #78440
I made some changes that might address this in #78842

[2020-11-07 20:14] jyn514 opened #78850 "Add support for --nocapture to compiletest"
Right now, the only way to get output from a test that succeeds _or_ fails is to use `-vv`. It would be nice to have a way to show all output from a test for help debugging, without having to look at hundreds of logs about rustbuild caching.

[2020-11-07 20:58] ehuss commented on #78850
You can set the environment variable `RUST_TEST_NOCAPTURE` which is the equivalent of `--nocapture`.  I think a CLI option would be pretty easy to add.

[2020-11-07 21:10] jonas-schievink commented on #76833
Closing as fixed. Please let us know if the issue persists.

[2020-11-07 21:10] #76833 closed

[2020-11-07 21:14] xfix commented on #74773
I wonder if it shouldn't return `(&str, Option<&str>)`, I don't think the first element when using `split` method could ever be `None`.

[2020-11-07 21:15] sanbox-irl commented on #56167
Just gonna add another ping here -- what's blocking this right now?

[2020-11-07 21:18] petrochenkov opened #78855 "Tracking Issue for `#![feature(pub_macro_rules)]`"
This is a tracking issue for
[code]

`pub` (or `pub(...)`) here makes the macro use regular module scoping (with specified visibility) used by all other non-macro items instead of the traditional `macro_rules` scoping.

~~Implemented in https://github.com/rust-lang/rust/pull/78166.~~

### Implementation History:
- Implemented in #78166 (merged in #82296)
- Reverted in #83713 (due to #83641)

[2020-11-07 21:29] mark-i-m commented on #54883
@varkor I've opened a PR for #72680, and I'm wondering if the design questions can be resolved after stabilization. It seems like both are backwards-compatible changes we can do later, right?

[2020-11-07 21:42] Aaron1011 commented on #78747
Note that the parenthesis are required due to the fact that we have special handling for macro invocations with curly braces:

https://github.com/rust-lang/rust/blob/b2d115f6db5172c961dfeb50de15f35784dbc7c9/compiler/rustc_parse/src/parser/stmt.rs#L108-L111

Without the parenthesis, we parse `x!{}` as a statement, not an expression. However, `x!().to_string()` (without any surrounding parenthesis)

[2020-11-07 21:45] mark-i-m commented on #75439
This might be a suitable way to solve the same problem, but I'm not really sure: https://github.com/rust-lang/rust/blob/b2d115f6db5172c961dfeb50de15f35784dbc7c9/compiler/rustc_mir_build/src/build/matches/mod.rs#L1233

[2020-11-07 22:21] Nicholas-Baron opened #78858 "Path has no Default"
Ran into this doing a [pull request](https://github.com/rust-lang/rust/pull/78825).

The `Path` struct has no `impl Default` [documented](https://doc.rust-lang.org/stable/std/path/struct.Path.html), but a value of `Path::new("")` seems to be a good default in my mind. (Update: it is not, I have been corrected)

This may be the incorrect way to ask for such a thing, but I would like to know why the

[2020-11-07 22:24] Nicholas-Baron commented on #78858
@rustbot modify labels to +libs-impl +C-feature-request.

[2020-11-07 22:35] jonas-schievink commented on #78858
What does an empty path mean? Does it refer to the current directory?

[2020-11-07 22:47] tmiasko opened #78859 "Calls to C variadic functions are inlined by MIR inliner"
[code]

[code]

@rustbot modify labels: +A-mir-opt, +A-mir-opt-inlining

[2020-11-07 22:47] Nicholas-Baron commented on #78858
@jonas-schievink Currently, the empty path refers to (at least on Linux) a nonexistent file or directory.
Code to test this
[code]

[2020-11-07 22:49] jonas-schievink commented on #78858
Hmm, I'm not sure why it would be a good default then

[2020-11-07 22:59] Nicholas-Baron commented on #78858
So the question shifts from "is `""` a good default" to "is there any *good* default for `Path`". (Second part of initial issue)
Even if there are multiple candidates, we can simply select the best of them and make that be the `impl Default for Path`.

[2020-11-07 23:00] CryZe commented on #78858
If there's no clear default, then it probably should not have a Default impl at all.

[2020-11-07 23:06] Nicholas-Baron commented on #78858
This issue seems to have been just me exploring why there is no `impl Default for Path`.
In summary,
1. `""` is an invalid path.
2. The current directory can be accessed differently (see [std::env::current_dir()](https://doc.rust-lang.org/stable/std/env/fn.current_dir.html)).
3. The root directory is unsuitable (Windows does not have a concept of "root", usually protected).
4. Any other directory

[2020-11-07 23:06] #78858 closed

[2020-11-07 23:33] msrd0 opened #78862 "Compiler suggests #[derive((DeriveMacro).try_into().unwrap())]"
Today I encountered a rather unhelpful suggestion from the compiler (1.47.0):

[code]

The code emited from the derive macro contains something along the lines of `let value: usize = -1 as i32`.

Applying the suggestion, however, doesn't really help (almost as if I had to fix the problem in the derive macro):

[code]

I believe the compiler should only emit that suggestion if the code it applies t

[2020-11-07 23:49] Nemo157 commented on #76296
Got a failing testcase at least: <https://github.com/rust-lang/rust/compare/master...Nemo157:issue-76296>.

I don't think this is really related to #56169 since this issue should be fixable without fixing that. If you have multiple crates with the same crate name, but different internally specified `html-root-url` it already works correctly. It's only the ability to override the `html-root-url` fo

[2020-11-08 00:13] tgnottingham commented on #45408
I'm far from an expert in this area, but I wanted to note some potential wrinkles.

As I understand it, anonymous nodes provide two things, which we probably want to preserve:

1) They enable, or at least interact with (sorry, hazy on the details) caching the querys' results in a single compilation session. If we make multiple calls to the same anonymous query in a single session, we don't have to

[2020-11-08 00:25] #77586 closed

[2020-11-08 00:45] thepowersgang commented on #78829
Maybe it's just my assumption that `:expr` fragments are completely pre-parsed and are always expanded as (effectively) parenthesised expressions.

[2020-11-08 01:21] Mark-Simulacrum commented on #77713
I have posted https://github.com/rust-lang/rust/pull/78864 which fixes the regression here in dependencies (i.e., cap-lints will affect the new lint/error).

[2020-11-08 01:29] Mark-Simulacrum commented on #78139
@nikomatsakis @pnkfelix Do we think given that we're likely to fix the regression here at least in #78845 and #78854 we should close this bug? Neither of those PRs fixes the underlying issue (whatever it is) since the lack of normalization is almost certainly still present, but we also don't have (AFAIK) a good test case here for the bug.

[2020-11-08 02:16] o752d commented on #78713
Simply testing the example code as provided I find,
[code]
, under,
[code]
, so this might be restricted to `O-windows` or is that already known?

[2020-11-08 02:27] jyn514 commented on #78850
RUST_TEST_NOCAPTURE is not printing the debug logging :/

[2020-11-08 02:30] Mark-Simulacrum commented on #34123
Closing as a duplicate of #15694, this was fixed in #64104. (And a test has been added in that PR).

[2020-11-08 02:30] #34123 closed

[2020-11-08 02:56] Aaron1011 commented on #78862
@msrd0 In general, there's not much that the compiler can do in this type of situation - it's up to the proc-macro to emit tokens with reasonable spans.

Is `DeriveMacro` the actual name of the macro you're invoking? Are you able to share your repository, or a link to the crate that defines the macro you're invoking?

[2020-11-08 03:17] detly opened #78871 "Internal compiler error compiling macro_rules_attribute on mipsel-unknown-linux-musl: inconsistent resolution for an import"
Trying to compile a project that depends on [`macro_rules_attribute`](https://docs.rs/macro_rules_attribute/0.0.1/macro_rules_attribute/), I get the following error for `mipsel-unknown-linux-musl`. No error on `stable-x86_64-unknown-linux-gnu`.

Get the toolchain for `mipsel-unknown-linux-musl`:

    rustup toolchain install stable -t mipsel-unknown-linux-musl

### src/main.rs
[code]

### Cargo.to

[2020-11-08 03:23] detly commented on #78871
By the way, if you know of a workaround I'd appreciate it. I don't want to replace all of these macros in my project if I can avoid it.

[2020-11-08 03:23] jonas-schievink commented on #78871
Duplicate of https://github.com/rust-lang/rust/issues/56935

[2020-11-08 03:23] #78871 closed

[2020-11-08 04:29] DrMeepster commented on #78485
I am slightly confused by the API of `ReadBufs`. What return type should methods like `initialized` have: `&[u8]` or `&[IoSlice]`? If its the former, how do you know which slices are initialized/filled? If it's the latter, what happens if a slice is partially initialized/filled?

[2020-11-08 06:19] Aaron1011 commented on #78840
Since the call to an `async fn` can never panic (it always returns an `impl Future`), I think forwarding the attribute to the returned `async` closure would make sense.

This would require impementing https://github.com/rust-lang/rust/issues/74042 (if only on nightly), so that the desugaring can forward `#[track_caller]` as needed.

[2020-11-08 07:25] hyd-dev commented on #78840
Since this issue was classified as a feature request, I edited the title to make it clear.

[2020-11-08 07:42] brmmm3 opened #78872 "rustfmt crashes with bad span error"
rustfmt (nightly on Linux) crashes with error code -32900.

It is correct that it recognizes the unclosed delimiter, but I would expect a simple error message instead of a crash.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-11-08 09:47] pickfire commented on #35203
[code]
Looks like this is giving me this error without suggestion, I didn't know the fix was just simply removing `mut` which does not seemed related to this issue. CC @estebank

<details>
  <summary>code</summary>

[code]

[2020-11-08 12:33] varkor commented on #54883
The former design question (about allowing `|` in closure arguments) does not need to be resolved immediately (alternatively, I think it should just be resolved in the negative now, because allowing them would be very confusing). But the latter seems like a backwards-incompatible change, if macro behaviour depends on it? But it seems like this was already considered for an edition change instead o

[2020-11-08 12:58] withoutboats commented on #64260
My concern is that this *doesn't* fit the pattern of our other APIs:

* The extended name is the one that takes a value, rather than the one that takes a closure.
* The by-value combinator includes `then` in its name, weakening the association between the word "then" and taking a closure that is otherwise common across our combinators.

As an additional concern with this pair of names, I'll point

[2020-11-08 12:59] njasm commented on #78872
@rustbot modify labels: +A-rustfmt

[2020-11-08 13:11] m-ou-se commented on #64260
In that case, how about an FCP for only `then`? Seems like that's the only way right now to get this moving forward. Then we can leave `then_some` unstable for now and see if anybody feels the need to get that stabilized later (or remove it otherwise).

[2020-11-08 13:14] msrd0 commented on #78862
This is a small extract of my macro that reproduces the error and suggestion: https://github.com/msrd0/proc-macro-try-into-suggestion

I believe the `let value: usize` part should have a span of the macro's call site (`#[derive(DeriveMacro)]`) while `-1 as i32` should point into the non-derive code (`#[custom = "{ -1 as i32 }"]`), not sure which span is important here.

[2020-11-08 13:28] withoutboats commented on #64260
I'm fully on board with that! That's what I hoped to convey by checking my box and filing the concern at the same time.

[2020-11-08 13:29] msrd0 commented on #78862
Still, the error message is unhelpful even if the code was completely unrelated to the macro's input and hence cannot point to a reasonable span outside of the generated code. So maybe, if the only available span is that of the call site, do not emit any suggestion?

[2020-11-08 13:41] Adam-Reeves commented on #75992
Has this been fixed? Pretty new to Rust in general but I've hit a similar issue using a futures Stream from mongodb. If I move the code into the main function it will compile, however if I move that code into a service that sits behind an actix endpoint the compile will hang seemingly indefinitely.

[2020-11-08 13:45] sfackler commented on #78485
It would return `&[IoSliceMut]`, and only include the slices that are fully initialized.

[2020-11-08 14:35] CDirkx opened #78877 "Tracking Issue for `#![feature(unsupported_error)]`"
This is a tracking issue for adding a new variant `Unsupported` to `std::io::ErrorKind`.
The feature gate for the issue is `#![feature(unssupported_error)]`.

[code]

Implementation PR: #78880

[2020-11-08 14:42] petrochenkov commented on #77586
Here's how to solve this step-by step.
- `foobar` is unambiguously introduced by `use bar::foobar;`, next we need to determine where `bar` (1) comes from.
- `bar` (1) is introduced by `use bar::bar;`, it could also be introduced by the glob or some prelude, but it doesn't matter because explicit imports shadow anything else, next we need to determine where `bar` (2) comes from.
- `bar` (2) is unam

[2020-11-08 15:11] #38287 closed

[2020-11-08 15:24] shepmaster opened #78881 "LLVM assertion failure after activating LTO on aarch64-apple-darwin"
[code]

[code]

This was on a locally-modified version of rustc starting from 9d78d1d02761b906038ba4d54c5f3427f920f5fb

[2020-11-08 15:29] Boscop commented on #64260
@withoutboats Why not use the names `some` and `some_with`?

I think it makes sense to have an eager version because the closure won't be optimized away so it's not a zero cost abstraction.

[2020-11-08 15:38] m-ou-se commented on #64260
@Boscop Why wouldn't it be optimized away? I can't find any example (where the expression doesn't have side effects / is constant) where `.then(|| ..)` and `.then_some(..)` result in different output on any opt level except 0. ([Example](https://godbolt.org/z/qY7P7G).)

[2020-11-08 16:00] jyn514 commented on #78872
I think this should be reported in https://github.com/rust-lang/rustfmt.

[2020-11-08 16:08] brmmm3 commented on #78872
I've created a bug report there.

[2020-11-08 16:11] Boscop commented on #64260
@m-ou-se Ah ok, I thought it won't optimize it. But yeah, if it always does, then it makes sense to only have the closure version. (Although it still would be nice to have a way to get the optimized version in debug builds.)

@Alfriadox

I mean this pattern: `if b { f() } else { None }` can't be expressed with `and_then` because there is no initial `Option`!
And `b.then(f)` can't be used because `

[2020-11-08 16:14] #78341 closed

[2020-11-08 16:14] #78340 closed

[2020-11-08 16:14] #78819 closed

[2020-11-08 16:14] Plecra commented on #64260
The "original" option can be created using `then`:

[code]

[2020-11-08 16:20] m-ou-se commented on #64260
Or `b.then(f).flatten()`.

[2020-11-08 17:14] SkiFire13 commented on #77433
Just tried the benchmark with changes from PR #78857 and `append` scores significantly better. The heuristic could still be improved though.

![benchmark78857](https://user-images.githubusercontent.com/9020423/98471608-d6d23c00-21ed-11eb-9d91-60a08efd0195.jpg)

[2020-11-08 17:16] matthiaskrgr commented on #72793
This ICEs again now:
[code]

[2020-11-08 17:33] lochsh commented on #78777
I'll have a crack at this if no one is working on it -- I'm a first-time contributor but the mentoring instructions look like enough to be getting on with :+1:

[2020-11-08 17:42] asomers commented on #78823
I'm hitting the same bug.  I can show you the query stack, but unfortunately not the backtrace due to issue #78184 .
[code]
[code]

[2020-11-08 17:45] jyn514 commented on #78777
@lochsh awesome! There's instructions for getting started on https://rustc-dev-guide.rust-lang.org/, and you can ask in the [Rustdoc Discord](https://discord.gg/4yEYPuT) channel if you need help.

[2020-11-08 18:36] Luis-Hebendanz opened #78886 "rustc paniced at Box<Any>"
The panic happened as I tried to de reference the generic type Tin `size_of::<*T>()`

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2020-11-08 18:38] jonas-schievink commented on #78886
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2020-11-08 18:38] #78886 closed

[2020-11-08 19:17] Davester47 commented on #75992
@Adam-Reeves I just tested beta and it works! Nightly however still hangs, and I think that the fix missed the latest nightly. It will probably work tomorrow. Thanks everyone for helping to get this fixed.

[2020-11-08 19:22] jethrogb commented on #29603
@nvzqz probably at least some resolution to #31508

[2020-11-08 19:52] mankinskin commented on #23246
@alexcrichton
I also had some issues with this and generic enums. It would be very useful if the compiler could recognize that the type parameter is only used in a trait bound for another type parameter. I don't understand the reason why this would not work now.. Can't the compiler derive the constraints from the trait the type parameter is passed to?

[2020-11-08 19:58] Boscop commented on #78823
@hellow554 I forgot what I did to cause the above, but I just hit it again:

[code]

[2020-11-08 20:08] ehuss commented on #78665
I'm not sure if anyone else is looking into this issue.  I've tried many experiments with little success. I've never been able to reproduce locally, but I can pretty reliably reproduce on GitHub Actions.

The only change that seems to reliably avoid the error is to [remove `-C prefer-dynamic`](https://github.com/ehuss/test/commit/babc73bdb7f8d4e1836f69416dd239e85f2a867d) when building the test.  I

[2020-11-08 20:26] scottmcm commented on #77433
Thanks for the update to remind me about this 🙂

One thing that I'd missed last time: `extend`ing from the contents of a `BinaryHeap` can never hit the worst case (needing to bubble to the root every time), since it's being extended by something that's in roughly-descending order.

Do you want to wait on #78857 before looking at #77435 more?

[2020-11-08 20:53] programmerjake commented on #78485
I would have expected it to return `(&[IoSliceMut], &[u8])` where it is some number of fully initialized buffers and the initialized portion of the partially initialized buffer.

[2020-11-08 21:08] sfackler commented on #78485
Sure, that makes sense.

[2020-11-08 21:30] SkiFire13 commented on #77433
I think for now it would be better to wait and/or work towards a better heuristic (even though `append` can perform better, it's still up to 25% slower when the second heap is much smaller).

PS/Disclaimer: I'm the author of #78857 and not a reviewer, so I may be a little biased, however the benchmarks should speak for themself. Would be nice someone else could confirm my claims

[2020-11-08 22:25] hanmertens commented on #77433
Nice performance improvements in #78857, just a pity it makes determining the switchover heuristic more difficult ;).

I ran the benchmark again with #78857 and on my machine it also improves `append`'s performance enough that it's the faster method when merging larger heaps. I guess it doesn't make much sense to merge #77435 as-is because of that. I'll have a look if I can determine a better heur

[2020-11-08 22:52] natsukagami commented on #73356
Would like to work on this, but it seems there is another check, not on the declaration like this one, but on the memory liveness. This should cover the case that the local is not declared (I think), or would it not?

https://github.com/rust-lang/rust/blob/1773f60ea5d42e86b8fdf78d2fc5221ead222bc1/compiler/rustc_mir/src/transform/validate.rs#L187-L192

[2020-11-08 23:49] liketechnik commented on #39726
I'm trying to resolve the issue with the `[src]` link pointing to the wrong point:

@rustbot claim

[2020-11-08 23:53] clarfonthey commented on #63351
Not sure if this is 100% related, but if you auto-link `[\`()\`]` or `[!]` it doesn't go to `tuple` or `never` as expected.

[2020-11-09 00:17] msrd0 commented on #78862
Testing this further, it seems that the compiler is confused by the span of every token in `-1 as i32` pointing to the string literal `"-1 as i32"`. If I used my own variation of `syn::Meta` that allows `syn::Expr` instead of `syn::Lit`, I was able to get `#[custom = (-1 as i32).try_into().unwrap())]` for input `#[custom = -1 as i32]` as the suggestion, which is actually what I'd expect.

[2020-11-09 02:02] jyn514 commented on #63351
@clarfonthey correct, that's this issue.

[2020-11-09 02:57] #78529 closed

[2020-11-09 02:57] #78560 closed

[2020-11-09 03:50] camelid commented on #78872
Closing as this has been reported "upstream".

[2020-11-09 03:50] #78872 closed

[2020-11-09 05:06] Stuffe commented on #27189
Maybe a compromise would be to order the errors in reverse, so the people who fix one error at a time dont have to scroll so much. Coming from other languages, I notice the constant scrolling really slows down my work flow

[2020-11-09 06:35] ab-hamza opened #78891 "call to print!() only executes at the end of the program"
`cat /etc/os-release`:
[code]

`rustc --version --verbose`:
[code]

I tried this code:

[code]

I expected the program to first print a string to stdout, read a string from stdin, then print again to stdout.

Instead, this happened:
The program reads from stdin first, then prints the two messages.

I noticed this only happens when using `print!`.
With `println!` the order is respected.

[2020-11-09 07:07] hyd-dev commented on #78891
I think this is #23818?

[2020-11-09 07:12] petrochenkov commented on #78665
Failed again and again in https://github.com/rust-lang/rust/pull/78782 and https://github.com/rust-lang/rust/pull/78826.

[2020-11-09 10:39] pietroalbini commented on #78665
I should get an actual macOS device to investigate this more productively early next week.

[2020-11-09 10:53] pietroalbini commented on #78251
The PR promoting the target to Tier 1 was just merged! The target is on track to be Tier 1 in Rust 1.49.0!

[2020-11-09 10:55] Nadrieril commented on #55123
I don't think `exhaustive_patterns` would fix the second issue: it would detect the arm as unreachable, but afaik that bit of match checking does not count towards counting the match as divergent.

[2020-11-09 11:29] liubog2008 commented on #65823
Any updates on this issues?

[2020-11-09 11:35] liubog2008 commented on #65823
I find stabilized [rfc2565](https://github.com/rust-lang/rfcs/blob/master/text/2565-formal-function-parameter-attributes.md) which seems related to this issue.

But I find no way to define `#[path_param]` and `#[query_param]` in rfc

[code]

[2020-11-09 11:40] liubog2008 commented on #65823
@petrochenkov

[2020-11-09 11:41] jonas-schievink commented on #78891
Yeah, closing as a duplicate of that

[2020-11-09 11:41] #78891 closed

[2020-11-09 12:10] mrowqa opened #78892 "ICE - "interpolated tokens should not be present in the HIR""
### Code

[code]

<details><summary>Off-topic note regarding clippy</summary> In the project I work on I deny everything and allow specific lints on "minimal" scopes. I run both clippy stable and nightly. "minimal", because it is not that rare that I need to apply `#[allow()]` to a larger scope; otherwise it does not work.</details>

### Meta

`rustc --version --verbose`:
[code]

Note: the bug doe

[2020-11-09 12:56] yshui opened #78893 "No error reported when an impl Trait doesn't met the requirement of an associated type"
### Code

I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

Code compiles

### Version it worked on

It most recently worked on: 1.48.0-beta.8

### Version with regression

rust nightly 2020-11-08 (likely not the earliest)

[2020-11-09 12:57] SNCPlay42 commented on #78892
Fixed by #77255 according to cargo bisect-rustc

@rustbot modify labels: +E-needs-test

[2020-11-09 13:01] jonas-schievink commented on #78893
cc @matthewjasper (might be caused by the projection bounds changes)

[2020-11-09 13:26] danielhenrymantilla commented on #78862
Yes, I don't think spans can point _inside_ a string literal, at least not in stable Rust. The best you could achieve is to manually respan the parsed `TokenStream` from the `LitStr` with the span of that very `LitStr` (otherwise it defaults to the `call_site()` span), but then it would suggest doing: `#[custom = "-1 as i32".try_into().unwrap()]`. So, if you care about the suggestion being on-poin

[2020-11-09 13:32] msrd0 commented on #78862
I didn't know that `syn` already supported this, but [`quote_spanned!(expr_span => #expr_parsed)`](https://github.com/msrd0/proc-macro-try-into-suggestion/blob/master/derive/src/derive_macro.rs#L35) should do exactly the same. Still, the compiler applies the suggestion to the call site and not the str.

This is probably the behaviour I expected to begin with when the span is that of the call site.

[2020-11-09 13:32] danielhenrymantilla opened #78894 "Incorrect `unused_import` lint firing for a function-local `macro_rules!`"
I tried this code:

[code]

I expected to see this happen: no warning.

Instead, this happened: [I get a warning](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=21509e89ac39afe8028e563cbf8530c6) saying:

[code]

This is incorrect since removing that `use` "statement" leads to the code not compiling.

### Meta

Affects all three versions currently available in the Playgroun

[2020-11-09 13:34] danielhenrymantilla commented on #78894
@rustbot modify labels: +A-diagnostics +D-incorrect +A-macros

[2020-11-09 14:30] raphaelcohn commented on #37854
Nearly four years, and it's still experimental. Sigh. Both inclusive and exclusive ranges are useful; when working with matches for odd usages of ASCII-like bytes (current: working on parsing the mess that is the DNS NAPTR service field), both inclusive and exclusive ranges may make code far more readable in different circumstances. Given that constant maths isn't possible in range patterns yet, i

[2020-11-09 14:57] ReverentOne opened #78895 "Killing girls/women"
This is a tracking issue for the RFC "XXX" (rust-lang/rfcs#NNN).
The feature gate for the issue is `#![feature(FFF)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions

[2020-11-09 15:01] #78895 closed

[2020-11-09 15:08] m-ou-se commented on #64260
@KodrAus @sfackler do your checkmarks still count if this is only for `then`? (I'm assuming @BurntSushi's checkmark does, looking at the thumbs-up-reactions to the comments suggesting this.) If so, we can resolve @withoutboats' concern and continue with the FCP.

[2020-11-09 16:12] oli-obk commented on #76064
It does indeed not fix `TransmuteSizeDiff`. We'll need to investigate what actually causes a transmute size check failure to not affect `tainted_by_errors`. We can likely fix this in a similar manner. Though we also have other bugs like `{ let x; &x }` getting all the way to interning when it fails due to a dangling pointer. We'll be collecting more and more error flags to keep track of. I'm not s

[2020-11-09 16:39] hniksic commented on #67751
While experimenting with something else, I figured out how to make this example compile. It seems that the type inference from closure is confused, and it compiles when `as _` is added after the closure, i.e. when `move |s| Box::new(f(s))` is changed to `move |s| Box::new(f(s)) as _`.

I'm not sure that `as _` should be required here, and the diagnostics could likely be better. I hope this helps w

[2020-11-09 16:45] hniksic commented on #67751
Note that the same issue is present when you emulate a type alias with a custom trait with a blanket implementation. Instead of a `BoxFactory` alias, we define a new trait with a blanket impl:

[code]

Then the original `to_box_factory` results in a very similar compilation error ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ad71948c6574fd669867c8b70d5b9944)

[2020-11-09 16:54] daniel5151 opened #78900 "Add #[track_caller] to slice::copy_from_slice"
In this trivial case:

[code]

The current panic message is: `thread 'main' panicked at 'source slice length (3) does not match destination slice length (16)', /rustc/18bf6b4f01a6feaf7259ba7cdae58031af1b7b39/library/core/src/slice/mod.rs:2517:13`

If `#[track_caller]` is added to `slice::copy_from_slice`, the panic message could instead be: `thread 'main' panicked at 'source slice length (3) does

[2020-11-09 17:23] ReverentOne1 opened #78902 "Kill/anihillate/wipe girls/women"
I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-11-09 17:39] #78902 closed

[2020-11-09 17:57] kevincox commented on #27189
That seems like a hack but I'll take anything at this point 😅

[2020-11-09 18:12] estebank opened #78905 "Better account for invalid `async fn main() {}`"
The following

[code]

[produces a lot of output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d1fd5d05934ea779d55be47c00c2912f) that is not quite good:

[code]

The two errors (E0277 and E0752) should be only a single error.

[2020-11-09 18:22] estebank opened #78906 "Detect type parameters that were meant to be `impl Trait` in return position"
[Given `fn foo<T: Any>() -> T { "" }` the output is](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3a80bb3729012bdbead2d4add63a3761):

[code]

We should be suggesting the use of `impl Trait` while explaining that the callers of `foo` will only be able to access whatever the trait bounds allow: `fn foo() -> impl Any { "" }`. We should also likely add an additional note fo

[2020-11-09 18:23] camelid commented on #78893
Note: not just `impl Trait`; also occurs with ordinary trait bounds.

[2020-11-09 18:25] mark-i-m commented on #54883
Personally, I'm inclined to wait for it to be a problem and address it in a future edition if needed. What would the process be for resolving the question? An MCP? An FCP? Or should I just open a stabilization PR?

[2020-11-09 18:28] camelid commented on #78893
searched nightlies: from nightly-2020-10-01 to nightly-2020-11-09
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654

<deta

[2020-11-09 18:38] estebank opened #78907 "Detect type ascription use that should be let assignment"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=64487fdbcf33ea4b31881538d418b8ca)

[code]

currently emits

[code]

but it should also suggest `let foo: i32 = 4;`

[2020-11-09 20:09] varkor commented on #54883
One would need to make sure that we have extensive tests for the feature, and also that sufficient documentation exists. Then you could open up a stabilisation PR, and the lang team could FCP on the PR.

[2020-11-09 20:09] nikomatsakis commented on #77841
@mahkoh are you interested in preparing a fix for this?

[2020-11-09 20:13] nikomatsakis commented on #78248
Well, the difference is that the coercions (unlike `as` conversions...) tend to be "lossless". i.e., coercing from a `Box<T>` to a `Box<dyn Foo>` doesn't make that value change behavior or modify it in any particular way, similarly `&[T; N]` to `&[T]`.  So presumably one might try to avoid `as` but feel no compulsion to avoid `:`.

[2020-11-09 20:25] Ichoran commented on #78248
@nikomatsakis - Ah, yes, that's a good point.

[2020-11-09 20:46] nikomatsakis commented on #78139
@Mark-Simulacrum I expect so.

[2020-11-09 21:33] nikomatsakis commented on #54883
I'll nominate this for the @rust-lang/lang meeting, also to discuss the two unresolved questions. I think I agree with @varkor about the first one (closure arguments) -- I would definitely find such notation quite confusing. The second one is less clear to me (modifications to macro pattern matching), but it is almost certainly backwards incompatible. We've definitely been bitten by changes like t

[2020-11-09 21:51] joshtriplett commented on #54883
:+1: for not allowing this notation in closure arguments.

[2020-11-09 22:01] tgnottingham opened #78911 "Fix cause of link failures in CI that necessitates ignore-32bit in run-make tests"
Some run-make tests require an `ignore-32bit` directive as a workaround for link failures that occur during CI. #76256 and #77901 added or modified tests to include this directive in order to avoid at least this error: `arm-none-eabi-gcc: error: unrecognized command line option '-m64'`.

I assume that this shouldn't be necessary, and that there is actually some deficiency in our CI build system th

[2020-11-09 22:26] seeplusplus commented on #78800
Currently looking into fixing this,
@rustbot claim

[2020-11-09 22:30] ibraheemdev commented on #44265
Would this RFC make `Monad` and `Functor` possible directly? Or is there more work that needs to be done in HKT's?

[2020-11-09 22:34] memoryruins commented on #44265
@ibraheemdev The RFC states

[2020-11-09 23:18] kevincox commented on #27189
<pre><font color="#FF6B6B"><b>error</b></font><b>: expected `;`, found `RedditSearch`</b>
  <font color="#729FCF"><b>--&gt; </b></font>src/main.rs:24:22
   <font color="#729FCF"><b>|</b></font>
<font color="#729FCF"><b>24</b></font> <font color="#729FCF"><b>| </b></font>        let state = State{}
   <font color="#729FCF"><b>| </b></font>                           <font color="#FF6B6B"><b>^</b></f

[2020-11-09 23:52] dcbaker opened #78913 "Support for generated sources, when building out of tree with non-cargo build systems"
For build systems other than cargo, it is generally considered best practice to build out of tree (ie, generated files go into a directory that is not tracked by version control). With rustc this works great, except when you need to generate rust sources. In that case a build system (meson in this case, but cmake and gnu autotools would be affected too) will place the generated .rs file in the bui

[2020-11-10 00:02] varkor commented on #44265
@ibraheemdev: my feeling is that the most idiomatic way to make monads and functors possible would be to introduce [generic associated traits](https://varkor.github.io/blog/2019/03/28/idiomatic-monads-in-rust.html), but generic associated types is certainly a prerequisite.

[2020-11-10 00:49] sfackler commented on #78913
What's wrong with the approach Cargo uses of setting the `OUT_DIR` environment variable at compilation time?

[2020-11-10 01:05] ibraheemdev commented on #44265
Is there a path to `Monad` that does not require GAT's?

[2020-11-10 01:38] rpjohnst commented on #44265
@ibraheemdev Hypothetically yes, it would be possible to implement HKTs directly and then implement a `Monad` trait on top. However, there is no work happening in that direction, and probably never will be, because that approach doesn't really solve the problems Rust has: https://twitter.com/withoutboats/status/1027702531361857536

[2020-11-10 02:23] dcbaker commented on #78913
For one, I can't set env variables at compile time, ninja doesn't support them, and never will. I can't change that. But that wouldn't solve the problem that my hand written files live in a source tree (which in many cases is read only) and my generated files are in my build tree, which is the only writeable tree I have

[2020-11-10 02:45] guswynn opened #78915 "What does compare-mode=nll do these days?"
See https://github.com/rust-lang/rust/pull/76765#issuecomment-724395274

what does compare-mode=nll actually represent these days? I thought nll was long-since stable

cc @tmandry

[2020-11-10 02:45] guswynn commented on #78915
@rustbot modify labels: +A-diagnostics +A-compiler

[2020-11-10 03:16] jyn514 commented on #38913
Now that [cargo passes `--embed-bitcode=no`](https://github.com/rust-lang/cargo/pull/8066), is there anything left to do for this?

[2020-11-10 03:24] advancedwebdeveloper commented on #39915
I just [such](https://github.com/riscv-rust/longan-nano/issues/15) a bug, on Ubuntu 16 i686

[2020-11-10 03:27] jyn514 commented on #38913
It turns out I was confused - this issue is about never going through LLVM at all, while `--embed-bitcode=no` instead embeds the object generated by LLVM.

https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/How.20to.20learn.20more.20about.20crate.20metadata.3F/near/216169138

[2020-11-10 04:30] camelid commented on #78807
This seems to have been solved, so I'm closing the issue. If it is in fact still unresolved, please feel free to re-open!

[2020-11-10 04:30] #78807 closed

[2020-11-10 04:32] jyn514 commented on #78827
@Firstyear can you confirm whether this worked in Rust 1.0 (or any later release)? https://github.com/rust-lang/rust/pull/16110/commits/1ae1461fbf59db8db5dd2fe11bbe22c6adeb1aed is present in every stable release, it would be helpful to know when this regressed.

[2020-11-10 04:35] Firstyear commented on #78827
I can probably make a smaller reproducer and do a rough bisect of some older releases, but I honestly only just found this problem the other day :(

[2020-11-10 04:39] inferiorhumanorgans commented on #76795
I'm seeing this with nightly on Windows with rustup 1.22.1.

`rustc-nightly-x86_64-pc-windows-gnu/rustc/bin/rustc_driver-caee5c31bf4bcccd.dll 202639115`

[2020-11-10 07:12] MikailBag commented on #44265
Maybe I'm wrong, but I think GAT allow something like
[code]

[2020-11-10 07:12] arora-aman commented on #78815
Duplicate of #75582

[2020-11-10 09:05] Tarnadas commented on #49773
Current workaround for Windows compiling a project in WSL2:

[code]

see https://github.com/rust-lang/rust/issues/66513#issuecomment-663205916

[2020-11-10 09:09] Hywan opened #78917 "Alternative highlighting for Rust code block in rustdoc"
Context https://twitter.com/imperioworld_/status/1325916530257833984 cc @GuillaumeGomez

# Description

I'm the author of https://github.com/Hywan/inline-c-rs/. It allows to write C code inside Rust. It's a super basic `proc_macro` that transforms the code into a string (with some extra manipulations), which is saved inside a temp file that is compiled by a C/C++ compiler, and finally run. That's

[2020-11-10 09:27] silverweed opened #78918 "Moving all elements out of a Vec generates worse assembly since 1.45"
I was looking for the best way to move all elements out of a Vec and returning them, basically what I'd write in C++ as:
[code]

This code generates very good assembly with clang ([link to Godbolt](https://godbolt.org/z/GhsoE3))
[code]

so I tried to do the equivalent with Rust.

### Code

**NOTE**: I always used `rustc -O` for all the following tests.

I tried this code:

[code]

I expected to se

[2020-11-10 09:29] silverweed commented on #78918
@rustbot modify labels: regression-untriaged

[2020-11-10 09:47] silverweed commented on #78918
Other the Godbolt, I also tested on my machine, running Windows 10. I ran `rustc --emit=asm --crate-type=lib -O -C llvm-args=-x86-asm-syntax=intel test.rs` and these are the results:

rustc 1.46.0:
[code]

rustc 1.44.0:
[code]

[2020-11-10 09:51] kinnison commented on #76795
We're making changes to support chunked unpacking in newer rustup.  though that file ought not to be too big.  Please file an issue on rustup if this continues.

[2020-11-10 09:54] mati865 commented on #76795
Weird, I had no issue updating `nightly-x86_64-pc-windows-gnu`:
[code]

[2020-11-10 10:32] SkiFire13 commented on #78918
Curiously `std::mem::take(&mut self.v)` compiles to the better assembly even on newer rustc versions, even though it is the same as your `move_out_of_vec` if manually inlined.

[2020-11-10 10:59] lcnr commented on #78433
I ended up implementing pretty much everything that was still left over in #78916 so it does seem like my help request in #65819 was a bit unnecessary :sweat_smile:

Thanks to everybody who both helped or wanted to help here, in case you are still interested in helping out in the future, feel free to join the #project-const-generics steam on zulip (https://rust-lang.zulipchat.com/#narrow/stream/26

[2020-11-10 12:14] #78815 closed

[2020-11-10 12:15] jyn514 commented on #75582
@ollie27 would you be ok with opting-in to check untracked files, maybe in `config.toml`?

[2020-11-10 13:00] GuillaumeGomez commented on #78917
So I thought a lot about this after our discussion, and I reached the following conclusion: people might want to give special classes to some code blocks without following a pattern. Therefore, I had the following idea: adding a new code "tag" (like `rust`, `ignore`, etc) which would look like `class-some-class-name` and that would generate the block with it (but without the prepending `class-`).

[2020-11-10 13:01] Jasagredo opened #78919 "Duplicate symbols when compiling a library with x86_64-unknown-linux-musl"
I created a toy project that was supposed to link against musl-libc. For that, I installed the target as described [here](https://doc.rust-lang.org/edition-guide/rust-2018/platform-and-target-support/musl-support-for-fully-static-binaries.html):
[code]

Proceeded then to create a rust library that only exported one function through ffi:
[code]

Tried then a simple compilation specifying the target

[2020-11-10 13:24] #76999 closed

[2020-11-10 13:24] #78477 closed

[2020-11-10 13:24] #78150 closed

[2020-11-10 13:24] #78573 closed

[2020-11-10 13:32] Hywan commented on #78917
That's a good idea yes!

We should also disable the Rust “HTML highlighting” (lexing + creating the HTML spans around the tokens). Note that this last part is **optional**: If we have a `@class` attribute, we can run Javascript to collect the text only, remove all the HTML tags, and do something with that.

As I understand the workflow, there is one step to remove the `# <line>`s, and one step tha

[2020-11-10 13:37] GuillaumeGomez commented on #78917
I just assumed that if the `class-whatever` tag was used, we were disabling default syntax highlighting, but you did well to bring it up, at least it makes it clear this way.

As for removing the `# <line>`, we still want to "keep it" (understanding, remove the lines from the display).

As for the final decision, I guess we just need someone else from the @rust-lang/rustdoc team to approve what th

[2020-11-10 13:38] Hywan commented on #78917
Of course! That's fine for me to get it on nightly for a moment. Feel free to ping me if you need anyhelp.

[2020-11-10 13:58] sfackler commented on #78913
Why is that a problem?

[2020-11-10 14:11] nikomatsakis commented on #77841
Removing nomination as we have resolved this fr the lang-team's perspective, though we still need to do implementation work here.

[2020-11-10 14:24] chengniansun opened #78922 "ICE: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/decoder.rs:945:54"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### NOTE: The bug is found by our work-in-progress compiler testing tool Kira, and the test program is reduced/minimized by [Perses](https://github.com/chengniansun/perses)

[2020-11-10 14:39] jethrogb commented on #76980
How does the statically-linked version of libLLVM get built? I ran the `dist-x86_64-linux` builder but that results in a dynamically-linked libstdc++.

[2020-11-10 14:53] Manishearth commented on #78917
custom class names seems fine. I don't want this feature to get too complicated though

[2020-11-10 15:00] jethrogb commented on #76980
https://github.com/rust-lang/rust/blob/master/src/ci/run.sh#L74

[2020-11-10 15:01] jyn514 commented on #78917
Instead of adding a new syntax, could we treat `rust,c` as 'rust for the purposes of tests, but with C highlighting'?

[2020-11-10 15:26] mati865 commented on #76980
Yeah, you have to use `DEPLOY=1 ./src/ci/docker/run.sh dist-x86_64-linux` like it's said in https://github.com/rust-lang/rust/blob/e46219c169f633466b2e5677a328c6afd2e37118/src/ci/docker/README.md#docker-images-for-ci

[2020-11-10 15:52] jethrogb commented on #76980
The GCC version in the build container is new enough to generate unique symbols but too old to have `-fno-gnu-unique` :sob:

[2020-11-10 16:09] guswynn commented on #78755
Oh I noticed this as well on https://github.com/rust-lang/rust/pull/78297, forgot to make an issue for it!

[2020-11-10 16:21] tyranron commented on #44265
@ibraheemdev

Yup, see [Method for Emulating Higher-Kinded Types in Rust](https://gist.github.com/edmundsmith/855fcf0cb35dd467c29a9350481f0ecf). It even works on stable now.

[2020-11-10 17:07] karolherbst commented on #78913
I've discussed this with @dcbaker and there was just a small missunderstanding on how all the `include!` stuff works out. In the end we see two use cases
1. include generated files via `include!`. This needs support for specifying arbitrary env variables which Ninja does not support. So we can't use this
2. Include generated files directly into the source code tree via normal `mod` declarations. D

[2020-11-10 17:32] dcbaker commented on #78913
for 1 what would be really useful is an option like `--cfg`, but for env, so you could do `--env SOURCE_TO_INCLUDE="<some value calculated by the build system>"`. I can workaround that with a wrapper, but it would be much nicer to not have to do that if possible.

for 2 what I have in mind is that we have in our tree a lot of code generated from xml descriptions, but that code additionally needs a

[2020-11-10 17:45] camelid commented on #78918
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378918.20Moving.20all.20elements.20out.20of.20a.20Vec.20genera.E2.80.A6) in the prioritization working group.

[2020-11-10 17:47] camelid commented on #78922
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378922.20ICE.3A.20thread.20'rustc'.20panicked.20at.20'called.E2.80.A6) in the prioritization working group.

[2020-11-10 17:50] camelid commented on #78893
Assigning `P-critical` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2378893.20No.20error.20reported.20when.20an.20impl.20Trait.20do.E2.80.A6) in the prioritization working group.

[2020-11-10 18:14] camelid commented on #78917
`rust,c` seems unclear to me. What about `rust,syntax-c` or something like that, to make it clear that it's just for syntax highlighting?

[2020-11-10 18:14] tmandry commented on #74779
Possible duplicate of #65978.

[2020-11-10 18:22] tmandry commented on #74779
Something like `#[rustc_backtrace_skip]` could possibly be implemented with a DWARF annotation, but I'm not sure if one exists for this purpose.

[2020-11-10 18:29] camelid commented on #54121
I just bisected, and indeed this was fixed by #73905. I think this needs a test, and then it can be closed.

[2020-11-10 18:30] tmandry commented on #78337
We have code to produce error messages which explain _why_ a particular Future type doesn't satisfy a trait bound, like `Send`, but it's not working in this case. It would be worth trying to understand why.

[2020-11-10 18:32] Kixiron opened #78925 "Heavy usage of traits & generics causes incredibly slow compile times & code bloat"
[`differential-datalog`](https://github.com/vmware/differential-datalog/tree/master/rust/template/differential_datalog) makes heavy use of [`timely-dataflow`](https://github.com/TimelyDataflow/timely-dataflow) and [`differential-dataflow`](https://github.com/TimelyDataflow/differential-dataflow). When using this library, compile times are excessively slow (even when no changes are made to the libr

[2020-11-10 18:41] bjorn3 commented on #78915
I could find two differences:

[code]

First regionck being skipped instead of given the opportunity to report errors:

https://github.com/rust-lang/rust/blob/85fbf49ce0e2274d0acf798f6e703747674feec3/compiler/rustc_infer/src/infer/lexical_region_resolve/mod.rs#L45-L59

Second a fix for https://github.com/rust-lang/rust/issues/56254 ([NLL] prohibit "two-phase borrows" with existing borrows?)

https

[2020-11-10 18:45] estebank opened #78927 "On "pattern in arg for fn def without body" emit structured suggestion"
Taken from https://github.com/rust-lang/rust/issues/35203#issuecomment-723553413

We should suggest to use an identifier. When possible take that identifier from the pattern, otherwise `_` should work just as well.

CC @pickfire

[2020-11-10 18:45] estebank commented on #35203
@pickfire filed https://github.com/rust-lang/rust/issues/78927 to track only that change.

[2020-11-10 18:49] chengniansun commented on #78922
Hi @camelid

Could you comment on https://github.com/rust-lang/rust/issues/78806 why it has not drawn attention from the community? Is that bug not important?

I am actively testing rustc, and would like to prioritize my efforts on important features.

Thanks.

[2020-11-10 18:52] camelid commented on #78922
It must not have been noticed. If you find a bug that you feel is somewhat severe, please post a comment including the phrase `@rustbot prioritize` which will alert us that we should prioritize it. I will mark the one you mentioned to be prioritized.

[2020-11-10 18:53] GuillaumeGomez commented on #78917
That's why I suggested what I did which allows to add whatever class you want to the code block. Like that, it's not necessarily about syntax highlighting but about whatever you want and it's pretty simple to handle for rustdoc.

I don't think this is a good idea because it'll mean adding support C syntax. And no one wants that. Also, what happens if other people wants more languages? The simplest

[2020-11-10 18:55] camelid commented on #78917
I wouldn't say *that* :)

I'm sure there are a lot of people that would like to have C syntax highlighting in their docs for their FFI code.

[2020-11-10 18:57] joshtriplett commented on #54883
We discussed this in the 2020-11-10 @rust-lang/lang meeting. Our conclusion:
- We seem to have consensus that we shouldn't allow this at the top level of closure arguments. It should suffice that we allow it within parentheses or deeper into a pattern. For instance, you can write `|SomeNewtype(A(x) | B(x))|` .
- We feel that it *should* be possible to match this using `:pat` in a macro, and this o

[2020-11-10 18:57] chengniansun commented on #78922
Thanks for your advice. I will do that.

[2020-11-10 18:57] GuillaumeGomez commented on #78917
I didn't mean it this way. More like "no one wants to add the C syntax highlighting in rustdoc directly". Even myself wants to have C support. :p

[2020-11-10 18:58] camelid commented on #78922
Also see this blog post that I wrote: https://blog.rust-lang.org/2020/10/20/regression-labels.html

[2020-11-10 19:31] tmiasko commented on #78806
The InstCombine transformation operates under assumption that `&T` will implement `Copy` trait. The code example uses a custom core (`#![no_core]` feature) which does not provide such implementation, which is subsequently detected by MIR validator `-Zvalidate-mir`. I would consider this to be essentially an unsupported configuration and not a bug.

I would recommend generating test cases without `

[2020-11-10 19:55] estebank commented on #78917
@GuillaumeGomez I like this idea as it's something that can have multiple uses. I was thinking we could try and do something slightly less magical than plain prefixes: we could have a colon syntax that would look like `rust,class:clang` and would also allow us to eventually add other things to the html `code` node (`id`, `data-` attrs, etc) for further customization.

_Removing_ the rust syntax hi

[2020-11-10 20:00] GuillaumeGomez commented on #78917
Oh, I like the syntax with the ":"!

As for *removing* the rust syntax highlighting, I just assumed that if you used "class:*", we wouldn't run it.

[2020-11-10 20:26] petrochenkov commented on #76605
So, I assumed that `$i` without a "fragment specifier" would behave like some actual fragment specifier, e.g. `tt`, but apparently it doesn't and it always produces an error on attempt to match, so the `Option` in `MetaVarDecl` is necessary.

[2020-11-10 21:56] jyn514 commented on #78925
@Kixiron could you run `-Z self-profile` on the crate and see if anything sticks out as taking much longer than the rest? https://github.com/rust-lang/measureme/blob/master/summarize/Readme.md

[2020-11-10 22:01] jyn514 opened #78931 "RUSTC_LOG shows output prefixed with `2:rustc`"
For example:

[code]

There are two issues here:
1. Is `2:rustc` actually helpful? All the code runs in the same thread with the same name, so it doesn't add any more info
2. There's no space between the output and the header, so it's hard to read the logs.

cc @hawkw, @oli-obk

[2020-11-10 22:04] infinity0 opened #78932 "1.48 beta installer spuriously installing libLLVM.so, also into the incorrect location"
Since 1.48 beta, `x.py install` is now installing libLLVM.so even when dynamically linking against the system one.

Not only that, the install path is unaware of the target architecture, which breaks during cross-compiling. I am not sure exactly what happens - possibly (a) the host is installed *instead* of the target or (b) both are installed, and the host clobbers the target - in any case the en

[2020-11-10 22:08] infinity0 commented on #78932
@Mark-Simulacrum Possibly to do with the new RustDev component and especially this snippet:

[code]

This is a regression; 1.47 had the correct behaviour of not trying to install LLVM at all. Note that I am not explicitly referencing RustDev at all, I am just calling `x.py install`.

[2020-11-10 22:08] hawkw commented on #78931
I believe the `tracing-tree` crate, which `rustc` is using, provides methods for [disabling thread IDs](https://docs.rs/tracing-tree/0.1.6/tracing_tree/struct.HierarchicalLayer.html#method.with_thread_ids) and [thread names](https://docs.rs/tracing-tree/0.1.6/tracing_tree/struct.HierarchicalLayer.html#method.with_thread_names) when constructing its layer, so it should be possible to turn this off.

[2020-11-10 22:10] Mark-Simulacrum commented on #78932
I plan to investigate fixing this soon, I think it's important we get this fixed.

Could you provide instructions on how to verify things are working so I can check locally? (I guess I can compare against a 1.47 build but would be good to get what command you're running).

[2020-11-10 22:28] jyn514 commented on #78931
Thanks, I'll do that :)

[2020-11-10 22:57] DeveloperC286 commented on #60302
@varkor Do you or someone want to take a look at my PR https://github.com/rust-lang/rust/pull/78590 it has been 11 days and no comments so far. Thanks,

[2020-11-10 23:44] Kixiron commented on #78925
<details>
<summary>Profile when the crate is depended on, but not actually executed</summary>

[code]

</details>

<details>
<summary>Profile when the crate is depended on and executed</summary>

[code]

</details>

[2020-11-10 23:53] camelid commented on #78806
Also: @chengniansun I am not able to reproduce this ICE on the latest nightly. What command are you running, and can you still reproduce this?

[2020-11-11 00:02] camelid commented on #78806
Note that the MIR validator only fails with `#[no_mangle]`, which seems pretty bizarre.

[2020-11-11 00:03] jonas-schievink commented on #78806
`#[no_mangle]` triggers codegen, which requests the optimized MIR

[2020-11-11 00:03] jonas-schievink commented on #78806
This is https://github.com/rust-lang/rust/issues/9307, so closing in favor of that

[2020-11-11 00:03] #78806 closed

[2020-11-11 00:05] jyn514 commented on #78925
Wow, that's almost completely LLVM.

Have you tried turning off LTO, or using ThinLTO instead?

[2020-11-11 00:09] mark-i-m commented on #54883
I created https://github.com/rust-lang/rust/pull/78935 for a crater run.

[2020-11-11 00:15] camelid commented on #78806
In case anyone's curious, this is the bisection:

---

searched nightlies: from nightly-2020-01-01 to nightly-2020-11-09
regressed nightly: nightly-2020-11-02
searched commits: from https://github.com/rust-lang/rust/commit/4f7612ac1499258025077f1fd05d2f429f9accfb to https://github.com/rust-lang/rust/commit/b2025326088b54fb3f083bebeba14e0a15bf00d3
regressed commit: https://github.com/rust-lang/rust

[2020-11-11 00:27] Kixiron commented on #78925
No matter the LTO settings it's still a long time, it is less though

[2020-11-11 01:59] chengniansun commented on #78806
Thanks, everyone, for the analysis.

I have disabled the validation of mir on my end in the future testing.

[2020-11-11 02:07] camelid commented on #78806
Well the MIR validator will still help you catch bugs, it's just that this particular bug is not significant because the code is somewhat bizarre.

[2020-11-11 02:08] jonas-schievink commented on #78806
Yes, I'd rather suggest not using `#[lang]` attributes, since they often just lead to #9307 again, especially with automated testing.

[2020-11-11 02:40] haileys opened #78936 "Compile error when providing explicit generic arguments where impl Trait appears in bound of generic type"
I tried this code:

[code]

I expected this to compile, however I received this error instead:

[code]

This error is unexpected, because `impl Debug` is not used in the argument position and is instead part of a trait bound on a named type parameter.

### Meta

`rustc --version --verbose`:
[code]

[2020-11-11 02:44] jonas-schievink commented on #78936
The error is intentional, as it would not be clear if/where its value can be specified by the caller (same reasoning as for `impl Trait` in argument position). The message could be improved though.

[2020-11-11 04:00] #78139 closed

[2020-11-11 04:00] #78892 closed

[2020-11-11 04:00] #39726 closed

[2020-11-11 04:01] rust-highfive opened #78937 "`miri` no longer builds after rust-lang/rust#78920"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#78920, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @jonas-schievink, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-11-11 05:10] jyn514 opened #78938 "Explain why borrows can't be held across yield point in async blocks/functions"
Consider the following code:

[code]

The error message has a helpful hint:

[code]

But it doesn't explain very well _why_ `move` is necessary:

[code]

In particular, 'async block may outlive the current function' makes no sense without a very good mental model of async: the future is `await`ed within the current function, so of course it can't outlive it. The thing to realize here is that even

[2020-11-11 05:11] jyn514 commented on #78938
cc @estebank

[2020-11-11 05:11] jyn514 commented on #78938
Hmm, reading that link, it looks like this issue is specific to multi-threaded executors and this would be fine without a `'static` bound on `spawn`? I'm not sure how much help the compiler can be then ...

[2020-11-11 06:33] chengniansun commented on #78806
Thanks, @camelid and @jonas-schievink .

I will enable this flag later. Currently my testing infrastructure has some problems with extracting crash signatures from stderr. This mainly because the ICE message usually contains some details about the program under compilation, and I rely on crash signatures to cluster duplicates.

Moreover, sometimes, the ICE message and the panic message contains ab

[2020-11-11 06:36] realaravinth opened #78939 "intra-doc links: re-exports are not resolved properly. Unclear scope of re-exports(?)"
I'm trying to migrate [actix-http](https://github.com/actix/actix-web/tree/master/actix-http) to `intra-doc`. The docs generated by re-export of `HeaderMap` doesn't have one of it's structs(`GetAll` )linked properly

### Code

There are two files involved: `src/header/map.rs` containing the definition and `src/lib.rs` containing it's re-exports.

- [`src/header/map.rs`](https://github.com/actix/ac

[2020-11-11 06:39] selendym commented on #62358
I'm quite surprised bikeshedders have not suggested `wraps` yet, so I guess I'll be that person. ;)
This would be consistent with both `Option` and `Result`, and also `unwrap`.

[2020-11-11 06:50] KodrAus commented on #71706
I'm not really familiar with this code yet, but I think the difference in formatting is because our panic backtrace formatter [constructs a new `BacktraceFrameFmt` for each symbol](https://github.com/rust-lang/rust/blob/master/library/std/src/sys_common/backtrace.rs#L90) but our `Backtrace` formatter [shares one for all symbols attached to a frame](https://github.com/rust-lang/rust/blob/master/lib

[2020-11-11 06:50] jyn514 commented on #78939
Hmm, I thought I fixed this a while ago in https://github.com/rust-lang/rust/pull/73101.

[2020-11-11 06:54] jyn514 commented on #78939
I can't reproduce this issue:
![image](https://user-images.githubusercontent.com/23638587/98778721-c0c8a500-23c0-11eb-841c-f4b9bce36392.png)

[code]

[2020-11-11 06:54] jyn514 commented on #78939
Are you sure you're using nightly rustdoc? intra-doc links won't be stable for another 3 weeks.

[2020-11-11 06:59] jyn514 commented on #78939
If you can send the output from `RUSTDOC_LOG=rustdoc::passes=info cargo +nightly doc`, that would also be helpful. You'll need to `touch src/lib.rs` because cargo doesn't invalidate the incremental cache (https://github.com/rust-lang/cargo/issues/8374).

[2020-11-11 06:59] realaravinth commented on #78939
I apologies for the troubles. I did a `rustup update` last night when I wrote the report, I should've ran it in the morning before filing it. I ran ran the update and it works now. Thanks!

[2020-11-11 06:59] #78939 closed

[2020-11-11 07:07] MihirLuthra opened #78940 "Destructor of one struct field depends on other without any correlation"
I have a struct with 2 fields. Destructor of one field depends on the other without any correlation (at least I don't see any). Below is a short snippet showing the bugged behaviour. Main code can be found on this stackoverflow post: [StackOverflow question](https://stackoverflow.com/questions/64769867/destructor-of-one-struct-field-depends-on-other-without-any-correlation)

[code]

This produces

[2020-11-11 07:08] jyn514 commented on #78940
Even stranger, if you get rid of the lifetime in the iterator, it also works: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9c7bca9400d8d7528a187ea5371928c0

[2020-11-11 07:52] jyn514 commented on #71818
There is now a tool called `x` which will find the appropriate version of python and run it: https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html#running-xpy-slightly-more-conveniently. Would that meet this use case?

[2020-11-11 07:53] jyn514 commented on #75156
There is now a tool called `x` which will find the appropriate version of python and run it: https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html#running-xpy-slightly-more-conveniently. Would that meet this use case?

[2020-11-11 07:54] Michael-F-Bryan commented on #74779
@tmandry I wouldn't say this is a direct duplicate, more a related issue around how async-await gets desugared. From what I can tell #65978 is about useless symbols being added to the binary, whereas this issue is just about them being visible in a backtrace.

[2020-11-11 08:06] octave99 commented on #77094
I can notice the issue even with the latest version 1.47.0 but everything works seamlessly with 1.45.2 and also with **1.48.0-beta.8**, so hopefully 1.48.0 release should fix this issue. Just in case it helps in someway, below are the crates in use:

[dependencies]
jsonwebtoken = "7.1"

[dependencies.log]
version = "0.4"

[dependencies.env_logger]
version = "0.8"

[dependencies.fern]
version = "0.

[2020-11-11 08:45] oli-obk commented on #77402
Sorry about the late response.

Yes, we still want this. I personally haven't used it before, so your guess is as good as mine, but what you wrote sounds reasonable. Ideally look at how other passes use it and then try to apply it to some pass that seems expensive

[2020-11-11 10:14] DutchGhost opened #78941 "Wrong suggestion: remove the qualifiers: `fn`"
When declaring extern functions with any qualifier (async, const, unsafe) like down below, rustc incorrectly suggests to remove the qualifier `fn`
[code]

The error message
[code]

[2020-11-11 11:08] matklad commented on #74465
I've added non-blocking flavors of the primitives to the once_cell crate: https://docs.rs/once_cell/1.5.1/once_cell/race/index.html. They are restricted (can be provided only for atomic types), but are compatible with no_std.

It seems to me that "first one wins" is a better semantics if you can't block, so I am going to resolve `Sync no_std subset` like this:

* only `std` supports sync module, a

[2020-11-11 12:00] infinity0 commented on #78932
in config.toml:

[code]

then with `x.py install`, the tarballs shouldn't contain a libLLVM.so but they do.

The documentation for llvm-config says "Note that if this is specified we don't compile LLVM at all for this target." - so possibly this bug can be fixed simply by changing this snippet in `src/bootstrap/dist.rs`:

[code]

to check for whether `llvm-config` was set or not.

[2020-11-11 12:10] infinity0 commented on #78932
The cross-compiling wrong-location/clobbering issue still exists as I described in the OP, but it does not affect my use-case since we're not installing libLLVM.so.

On Debian we are in fact moving everything from `/usr/lib` to `/usr/lib/${gnu_arch_triplet}` after `x.py install`, but I am not sure how cross-platform this is for you to adopt. I'm also not sure why it is the libLLVM.so specifically

[2020-11-11 12:21] dalance commented on #34701
Now `llvm-cov` should be shipped through llvm-tools-preview?
#50336 seems to skip it.

[2020-11-11 12:23] Hywan commented on #78917
Actually, using `plain` makes things less magical, which is good. It's a little bit more verbose though.

On the other side, one may argue that everytime a user will add a class, it's very likely to customize the CSS style, so… it may imply `plain`.

Anyway, if `plain` is not a feature, i.e. if `class:<class-names>` disables the Rust highlighting, a new feature must be provided to re-enable the Ru

[2020-11-11 12:32] GuillaumeGomez commented on #78917
I wonder: in which cases one could want to add a custom class but still want the rust syntax highlighting?

[2020-11-11 12:37] SkiFire13 commented on #78938
This isn't specific to async, it also happens with `std::thread::spawn` requiring the closure to be `'static` even if we later call `JoinHandle::join` in the same function.

[2020-11-11 12:41] Hywan commented on #78917
I've no idea, but if there is one way to disable a feature, there should be a way to re-enable it.

Also, I like the `attr:value` notation, for instance to add lines highlighting with [prism.js](https://prismjs.com/), such as `data-line:1-2`.

Be sure to allow `:` in the `value` part too.

[2020-11-11 12:49] GuillaumeGomez commented on #78917
Well, we don't split on ":" so the goal is to keep everything following "class:". As for re-enabling, I don't see the point for the moment so unless someone brings up a need for it (that's why we don't want to make it stable right away!), I think it'd be better not to add it.

[2020-11-11 13:18] shepmaster commented on #78881
@alexcrichton pointed out that it's likely not LTO itself that is at fault, just that the output of the LTO pass isn't well handled by a subsequent pass. They suggested to save the LLVM output and reduce it down:

[code]

Using bugpoint reduced this a good amount:

[code]

Next steps are to see if this fails on LLVM master and either file a bug or try to find the commit that fixes it.

[2020-11-11 13:19] Urcra opened #78944 "#[inline(never)] causes major improvements in codegen compared to default hints"
In fooling around with some benchmarks I found a peculiar event, where adding `#[inline(never)]` caused a major speedup due to better code generation. It seems quite counter-intuitive that inlining a rather trivial function with no side effects would cause the final assembly to be less optimized.

I reproduced the effect with the following minimal example:

[code]

Inspecting the assembly code gen

[2020-11-11 13:23] Urcra commented on #78944
@rustbot modify labels: +T-compiler and +I-slow and +C-enhancement

[2020-11-11 13:25] Urcra commented on #78944
@rustbot modify labels: +A-LLVM +A-codegen

[2020-11-11 13:45] Lonami opened #78945 "Suggest using -- --nocapture if tests run for too long"
When tests ran via `cargo test` take too long, a message like the following shows on the console:

[code]

I would like it if this little note could be updated to say something like the following, to help discoverability of the `--nocapture` flag:

[code]

Alternatively, perhaps `cargo` should stop capturing the outpuut if they take too long and dump it all on the console, so it would be like an i

[2020-11-11 13:45] ehuss commented on #78945
Transferred to rust-lang/rust.  Running of tests and control of the console is handled by the libtest harness which lives in this repo.

[2020-11-11 13:50] jethrogb commented on #76980
PR: #78946

[2020-11-11 14:44] m-ou-se commented on #74465
It's a bit of a shame that `Lazy` uses a `fn() -> T` by default. With that type, it needlessly stores a function pointer even if it is constant. Would it require big language changes to make it work without storing a function pointer (so, a closure as ZST), while still being as easy to use? Maybe if captureless closures would implement some kind of `const Default`? And some way to not have to name

[2020-11-11 15:01] phil-opp commented on #74465
@matklad

This seems like a very major restriction, which rules out most use cases of `SyncLazy`/`SyncOnceCell`. So I don't think that this really resolves the sync `no_std` use case.

I agree that spinlocks have their problems, but they're still better than using `static mut` instead. I understand that we don't want to hardcode `SyncLazy`/`SyncOnceCell` to use a deadlock-prone spinlock on `no_std

[2020-11-11 15:01] Lonami commented on #78945
Thanks! I wasn't sure where the binary actually running the test was, and since it's used via `cargo` I opened it there (https://doc.crates.io/contrib/issues.html did not mention anything about where the issues for the "test runner" belong, perhaps it's worth opening another issue to address that).

[2020-11-11 15:03] m-ou-se commented on #74465
Some thoughts about `&mut self` functions on (Sync)OnceCell:

These types have both `&mut self` and `&self` functions, but the `&mut` interface seems somewhat incomplete, and it's a bit tricky to pick names for overlapping functionality. For example, `take` can only be done with unique access, so `fn take(&mut self) -> Option<T>` makes sense. But `set` can be done on an empty cell through a shared

[2020-11-11 15:51] wader commented on #55120
I think my alpine static package issue is related to this https://gitlab.alpinelinux.org/alpine/aports/-/issues/11806

[2020-11-11 15:55] m-ou-se commented on #44095
Cancelling the FCP here, because that FCP now happened on the stabilization PR: https://github.com/rust-lang/rust/pull/77872#issuecomment-722982535

@fcpbot cancel

[2020-11-11 15:55] m-ou-se commented on #44095
uh

@rfcbot  cancel

[2020-11-11 16:10] pietroalbini commented on #78743
Since we didn't see any new error since the last comment, and because debug logging is noisy, I'm disabling debug logging. If the error happens again, someone on the infra team will need to set the `ACTIONS_RUNNER_DEBUG` and `ACTIONS_STEP_DEBUG` secrets to `true` in the [rust-lang-ci/rust](https://github.com/rust-lang-ci/rust/settings/secrets/actions) repository.

[2020-11-11 16:14] nagisa opened #78949 "Transparently retrying `Interrupted` `waitpid` calls is not always appropriate"
NB: this issue is just some rambling based on some drive-by review I've done elsewhere. I think its a genuine and useful thing to track, but its not something I hold strong opinions about.

Currently the `Child::wait` call on UNIX systems is implemented to retry in case the `waitpid` call gets interrupted, due to its use of `cvt_r`: https://github.com/rust-lang/rust/blob/d4ea0b3e46a0303d5802b632e8

[2020-11-11 16:32] richkadel commented on #34701
Yes! Thanks for the PR @dalance !

[2020-11-11 16:48] guswynn commented on #78915
@bjorn3 interesting, in https://github.com/rust-lang/rust/pull/76765, `src/test/ui/issues/issue-76547.nll.stderr` is materially different (and worse!) output in 'mir' instead of 'migrate'. I am inclined to think that, because nll is quite old at this point, and migrate is the default, we should perhaps get rid of the 2 modes and just use whatever codepaths are triggered by Migrate?(well, compare-m

[2020-11-11 16:55] bjorn3 commented on #78915
Regionck is an artifact of the fact that the old ast borrowck used lexical lifetimes. With polonius it doesn't even make sense to talk about regions anymore.

[2020-11-11 17:13] guswynn commented on #78915
@bjorn3 should we get rid of the distinction between "migrate" and "nll", it may say ci time and also will eventually be entirely replaced by polonious, as far as i can tell

[2020-11-11 17:15] bjorn3 commented on #78915
Migrate is the current behavior and nll is what it should become I think.

[2020-11-11 18:33] xd009642 commented on #64685
@jonas-schievink @richkadel Just tagging you both as you seem to be the two contributors who have interacted with this issue :wink:

 I was considering attempting to tackle this one as it's been a proverbial thorn in my side for a while. As an approach I was considering looking for `-wL as-needed`  when linking a dependency and then just not adding `link-dead-code` for that dependency. I know you

[2020-11-11 19:21] Lucretiel opened #78955 "Cargo timings graph is broken in Firefox"
When I run `cargo +nightly -Z timings`, it produces a timings report in HTML as expected. This renders correctly in Chrome and Safari. However, in Firefox, I only see the summary table and timings breakdown table. I can see the controls for the graph, but the graph itself doesn't render:
<img width="1247" alt="image" src="https://user-images.githubusercontent.com/1823405/98853598-5f87ec80-2427-11e

[2020-11-11 19:27] castarco commented on #76704
Would be OK if I pick this task?

[2020-11-11 19:29] pitust commented on #61721
fixed it in my operating system by enabling SSE (feature and hardware support). In my case the culprit is (i think) fontdue, but who knows.

[2020-11-11 19:36] Lucretiel commented on #78955
Here's the complete HTML report triggering this issue:
[cargo-timing.html.zip](https://github.com/rust-lang/rust/files/5526328/cargo-timing.html.zip)

[2020-11-11 19:46] DianaNites commented on #61721
Memchr seems to have silently and unexpectedly fixed it in https://github.com/BurntSushi/rust-memchr/pull/77, on crates.io as 2.3.4!

[2020-11-11 19:50] KodrAus commented on #64260
@m-ou-se Yep! I'm also ok with stabilizing just `then`.

[2020-11-11 19:50] amrhassan commented on #68125
I concur, this would be very useful regardless of the name.

[2020-11-11 20:35] betamos commented on #73002
Seconded that there needs to be more clarification in the `Future` contract.

Almost all futures are designed to follow this rough contract:

- Clear any previously stored wakers
  - If not ready, clone the waker and store it
  - If ready, return `Poll::Ready(T)`

This (unofficial) contract ensures that:

- Only the most recent waker is stored
- And only during the "yield-state" (or await point, i

[2020-11-11 20:41] lcnr opened #78957 "attributes on const params do not cause an error"
[code]
results in
[code]
So `inline` and `cold` are silently accepted and `repr(C)` only results in a lint.
All of these cases should error. Fixing this after stabilization would be an - although small - backcompat issue.

Blocking stabilization on this for now.

[2020-11-11 20:47] sfackler commented on #64260
I am on board with that as well.

[2020-11-11 20:47] withoutboats commented on #64260
@fcbot resolve stabilize-only-then

We agreed in the libs team today to stabilize just `then` for now.

[2020-11-11 20:48] withoutboats commented on #64260
@rfcbot resolve stabilize-only-then

[2020-11-11 22:23] Mark-Simulacrum commented on #76980
Reopening as E-needs-test, but dropping the regression label. See discussion on #78946 for some context there.

[2020-11-11 22:37] Grommish opened #78958 "rustfmt and RLS compile-from-source errors error[E0308]: mismatched types"
When building Rust from source (master@b2d115f6db5172c961dfeb50de15f35784dbc7c9), when compiling with `x.py --config ./config.toml dist cargo extended library/std llvm-tools miri rust-dev rustc-dev src src/librustc src/lldb_batchmode.py src/tool /build-manifest`

Building with the following `./configure` flags:

<details>

[code]

</details>

It should be noted that I've never gotten rustfmt and R

[2020-11-11 23:11] soc commented on #62358
I think `wraps` has nice symmetry (though I wonder what's a good approach for `Result`: `wraps_err`/`err_wraps`?).

I haven't chosen it, because I think `unwrap` is a terrible name and probably will be deprecated in the long-term, so I don't want to add methods with names that could be an obstacle to that.

[2020-11-11 23:43] jyn514 commented on #78958
RLS not building is a duplicate of https://github.com/rust-lang/rust/issues/78078. Not sure why rustfmt isn't building, it's available on the latest nightly.

[2020-11-11 23:45] tmiasko commented on #78442
Inlining exposes a use of unnormalized local in a call terminator (not sure if this is more of an issue with inlining or a validator):

[code]

Note: revision annotation doesn't work in an auxiliary file (so it isn't tested on CI with mir-opt-level=2).

@rustbot modify labels: +A-mir-opt-inlining

[2020-11-11 23:47] jyn514 commented on #78958
Rustfmt was fixed in https://github.com/rust-lang/rust/issues/78341, please rebase over the latest version of master.

[2020-11-11 23:47] #78958 closed

[2020-11-12 00:11] Grommish commented on #78958
Thank you @jyn514 !

[2020-11-12 00:33] #78329 closed

[2020-11-12 01:07] Nezeky opened #78964 "Doc-examples using `#[doc]` do not have triple backticks stripped before being compiled"
Nightly code fails to compile.

### Code

I tried this code:

[code]
    "#
)]
[code]
error: unknown start of token: `
   |
24 |     ```
   |     ^
   |
help: Unicode character '`' (Grave Accent) looks like ''' (Single Quote), but it is not
   |
24 |     '``
   |     ^
[code]
rustc 1.49.0-nightly (cf9cf7c92 2020-11-10)
binary: rustc
commit-hash: cf9cf7c923eb01146971429044f216a3ca905e06
commit-date

[2020-11-12 01:38] jyn514 commented on #78964
cc @GuillaumeGomez , I think https://github.com/rust-lang/rust/pull/76154 broke this.

[2020-11-12 01:41] richkadel commented on #64685
I'm afraid I don't really have enough depth-of-knowledge here to be of much help.

[2020-11-12 01:47] jyn514 commented on #71183
We decided in https://github.com/rust-lang/rust/issues/77501 not to add this. Instead rustdoc will now suggest to turn raw links into automatic links (`<http://example.com>`).

So I think the only thing left is adding task list parsing.

[2020-11-12 01:50] cuviper commented on #78932
I think it was actually #76349's commit a7b092f4188e9 that changed this, specifically around here:
https://github.com/rust-lang/rust/commit/a7b092f4188e927b3456fe6fe5ee2bd72c53cb57#diff-2c56335faa24486df09ba392d8900c57e2fac4633e1f7038469bcf9ed3feb871L2395

Before, we would only copy `libLLVM.so` if it was found in the `src_libdir`. Now it copies everything that `llvm-config --libfiles` says, even

[2020-11-12 01:53] jyn514 commented on #64245
@Goirad I don't quite understand - what is this tracking? It sounds like all the functionality is already implemented in rustdoc, what's left to do?

[2020-11-12 01:56] jyn514 commented on #63944
It sounds like this is https://github.com/rust-lang/rust/issues/74481, but for things that aren't rust paths. Maybe we should close https://github.com/rust-lang/rust/issues/74481 in favor of this issue?

[2020-11-12 02:05] Aaron1011 commented on #71249
The rustc side of this was implemented in https://github.com/rust-lang/rust/pull/75534

[2020-11-12 02:09] jyn514 commented on #61562
Since the change is fixing a bug and the backwards incompatible change landed almost 18 months ago, I'm going to close this.

[2020-11-12 02:09] #61562 closed

[2020-11-12 02:09] Mark-Simulacrum commented on #78932
Though one could argue that is wrong (in some cases) right? That is, if you don't copy, it'll not work unless the original location is in LD_LIBRARY_PATH or equivalent.

I'd be fine changing/reverting to not copy on custom llvm though, that seems like the right fix for now - it seems rare to have custom LLVM and want the copy.

[2020-11-12 02:27] jyn514 commented on #78925
@Kixiron in debug mode, `-C no-prepopulate-passes` brought this down from 31 to 24 seconds for me. It doesn't work for release mode though (or at least, the fix is worse than the cure: the flag means 'do absolutely no optimizations not even the easy ones').

[2020-11-12 02:33] jyn514 commented on #78925
Your main issue is that the compiler is just doing a staggering amount of work; `-Z print-mono-items` shows me over 100000 items being defined and compiled, even more than rustc_middle (https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Making.20rustc_middle.20faster.20to.20compile/near/212154272).

[mono-items.zip](https://github.com/rust-lang/rust/files/5527890/mono-items.zip

[2020-11-12 02:39] shepmaster commented on #78881
Bisecting points to https://github.com/llvm/llvm-project/commit/db464a3dbf0e8fed363a7b2b9a5b320514ca60f8, which does mention aarch64, so next step is to attempt backporting and seeing what happens.

[2020-11-12 03:42] yodaldevoid commented on #55002
I don't think this should be closed yet seeing as the depreciation has not been done.

[2020-11-12 03:49] mjbshaw commented on #46213
One optimization along these lines that might be a simple starting point is when the non-niche variants are ZTSs. For example:

[code]

[Currently](https://rust.godbolt.org/z/ToPnxK), `E1` is already optimized so its size is just 2. But `E2` has a size of 3. But it's possible for `E2` to be compressed to just 2 bytes by reusing `A.0` to store the discriminant when `A.1` is zero. In other words:

-

[2020-11-12 04:21] Firstyear commented on #78827
@jyn514 I've just checked back through to 1.34.0-x86_64-unknown-linux-gnu, where releases prior can't be used without lowering the version of cc. Every version from 1.34 to nightly exhibits this issue with the example repository. I have pushed an update that simplifies the example code so that anyone should be able to reproduce it.

[2020-11-12 05:35] jyn514 commented on #78827
@Firstyear I don't understand how to run your example. Do I need R installed or something?

[2020-11-12 05:57] Firstyear commented on #78827
Sorry to make it a bit clearer.

[code]

The function wrapper_add as defined https://github.com/Firstyear/demo_r_link/blob/main/src/wrapper.c which is built with  https://github.com/Firstyear/demo_r_link/blob/main/build.rs should be present in the resulting .so, but it is not.

[2020-11-12 06:01] lzutao commented on #76980
Not opened yet.

[2020-11-12 06:05] fghzxm opened #78973 "&mut coerced into & still precludes subsequent immutable borrows"
I tried this code:

[code]

I expected to see this happen:
- The code compiles.  Since the `&mut x` is not bound to any variable, no mutable references to `x` should be outstanding at `let _ = &x`.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-11-12 06:40] smmalis37 commented on #27970
This issue can also apply to any external crate that calls into something that calls get_env, for example https://github.com/time-rs/time/issues/293 and https://github.com/chronotope/chrono/issues/499. Maybe some way for these crates to observe the lock is called for?

[2020-11-12 10:11] fghzxm commented on #49733
@josephlr https://doc.rust-lang.org/std/boxed/struct.Box.html#method.new_zeroed_slice

[2020-11-12 10:19] RalfJung commented on #27970
Seems to me like this is a soundness issue, and should be marked I-unsound?

[2020-11-12 10:30] udf2457 opened #78975 "Building x86_64-unknown-freebsd on OS X Fails"
I guess this one is sort of related to #16259

[code]

[2020-11-12 10:50] kennytm opened #78977 "Choose a more reliable network clock source for the CI"
In #63511, we added a clock drift check using the Date: of `http://detectportal.firefox.com/success.txt` as reference. However, the reply is extremely unreliable recently (?), so we can't use it to detect any drift at all.

[code]

[2020-11-12 11:25] infinity0 opened #78979 "1.48 beta broken on mips due to copy_file_range EOVERFLOW"
https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mipsel&ver=1.48.0%7Ebeta.8%2Bdfsg1-1%7Eexp1&stamp=1605149146&raw=0

[code]

[2020-11-12 11:29] matklad commented on #74465
**Unresolved question: method naming**

Currently, we have `get_or_init` and `get_or_try_init`. Are those good names? Here are some alternatives (see also https://github.com/rust-lang/rust/pull/78943)

1) `get_or_init`, `get_or_try_init`
2) `get_or_insert_with`, `try_get_or_insert_with`
3) `get_with`, `try_get_with`

**1**. Pro: Status Quo, name specific to `OnceCell` (you see `x.get_or_init`, you

[2020-11-12 11:29] infinity0 commented on #78979
Actually the real culprit would appear to be `indexmap` which was upgraded from 1.5.1 to 1.6.0 for rust 1.48 - breaking the API that petgraph depends on. @bluss @cuviper

[2020-11-12 11:36] matklad commented on #74465
@phil-opp: I think it is rather certain that, even if std provides a subset of OnceCell for no_std, it will be non-blocking subset (`set` and `get`).

It certainly is possible to use spinlocks, or make sync::OnceCell parametric (compile-time or run-time) over blocking primitives. I am pretty sure that should be left for crates.io crate though.

I feel one important criterion for inclusion in std i

[2020-11-12 11:48] matklad commented on #74465
@m-ou-se yeah, totally agree that this is a hack and feels like a hack. It works well enough in practice, but there's one gotcha: specifying type for a local lazy does not work:

[code]

The `broken` variant is something that people occasionally write, and it fails with a somewhat confusing error. If we remove the default type, it will still be broken, but folks won't have intuition that "one para

[2020-11-12 11:58] SkiFire13 commented on #78973
This is not sound in the general case.

The following code coerces a mutable reference to a shared one without binding it to any variable, so following your reasoning the mutable borrow shouldn't be alive anymore. Except this allows to later grab a mutable reference to the inner value, which is UB because there's also a shared borrow alive!

[code]

You could probably add a special case for `&mut

[2020-11-12 12:06] thiolliere commented on #76874
the third input should be fixed by https://github.com/rust-lang/rust/pull/78980

[2020-11-12 12:39] MarimeGui opened #78981 "'inconsistent target specification' on custom .json target"
Hello everyone, this is my first Issue on the Rust project, let me know if I'm doing anthing wrong !

### Problem

I am in the process of building a library/runtime for the Wii fully written in Rust. To acheive this goal, I need to cross-compile my library to a custom target I named ```powerpc-none-eabi```.

The json file contains ```"target-endian": "big"``` and ```"data-layout": "E-m:e-p:32:32-i

[2020-11-12 12:42] nunolucas commented on #78981
I was also having the some issue and tracked it to this: https://github.com/rust-lang/rust/commit/dc004d4809f7e5fb5ea73ac630a0b1bdb58eabe4#diff-aa810a3be0834da891b171a8b04b09d0d3bbb76ac27c757cd232235099e062d2R1309

That commit broke the equivalence between "target_endian" and "target-endian" by adding a case to the `key!()` macro without the replace line for it.

[2020-11-12 12:57] Hywan commented on #78917
Both options are good to me :-).

What about extending the idea of `class:<class-names>` to `<attr-name>:<attr-value>` in general?

[2020-11-12 13:00] GuillaumeGomez commented on #78917
Let's say I'm "open" to the idea. But as always, I need a case for it to be useful otherwise I think it's better to focus on one thing only. After all, it's only about code blocks.

[2020-11-12 13:22] weiznich opened #78982 "Rustc failed to compile code due to overflowing trait bound"
The following code triggers a endless type recursion in rustc while the underlying trait bounds on calling `assert_sql_conversion` are trivially satisfied.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0e96e9944fa14ec7bdde0c953577f4fb), Note that this is a minimized example starting from the original diesel code, therefore some things there are just

[2020-11-12 13:44] smoelius opened #78983 "Inherent `impl` priority not respected for `FnMut`"
I am trying to implement something like `nvzqz`'s [`impls` trick](https://github.com/nvzqz/impls#how-it-works) for `FnMut`. What I see suggests that checking for this trait's implementation is not consistent with how other traits' implementations are checked for.

The way `nvzqz`'s trick works is to present the compiler with either (1) a trait `impl` or (2) a trait `impl` and an inherent `impl` wh

[2020-11-12 14:20] jonas-schievink commented on #78981
cc @petrochenkov

[2020-11-12 14:27] petrochenkov commented on #78981
I'll fix this today.

[2020-11-12 14:30] Mark-Simulacrum commented on #78979
So the problem is that indexmap's build script uses autocfg to try to discover the availability of some Rust features, and it is likely breaking on mips for some reason. See https://zulip-archive.rust-lang.org/182449tcompilerhelp/46175petgraphwrongnumberoftypearguments.html for some previous discussion.

I suspect the next step here is going to be identifying the cause of the problem -- you should

[2020-11-12 14:39] Hywan commented on #78917
I've presented a usecase in https://github.com/rust-lang/rust/issues/78917#issuecomment-725401622 with prism.js.

However, I agree we should focus on one feature at a time.

[2020-11-12 14:42] GuillaumeGomez commented on #78917
It can be included as a class (or multiple ones hehe). :stuck_out_tongue:

[2020-11-12 14:52] Mark-Simulacrum commented on #78932
Filed https://github.com/rust-lang/rust/pull/78986 with the suggested fix here.

[2020-11-12 14:53] pnkfelix commented on #74498
I have a patch that fixes (what I believe to be) the underlying LLVM bug; see https://bugs.llvm.org/show_bug.cgi?id=46943 ; I'm working on making a LLVM unit test and then I'll put up a patch for the llvm-devs to review.

[2020-11-12 14:53] pnkfelix commented on #78283
I have a patch that fixes (what I believe to be) the underlying LLVM bug; see https://bugs.llvm.org/show_bug.cgi?id=46943 ; I'm working on making a LLVM unit test and then I'll put up a patch for the llvm-devs to review.

[2020-11-12 14:54] Hywan commented on #78917
It isn't the API of Prism.js, but let's keep `class:<class-names>` for the moment :-)!

[2020-11-12 15:06] #78973 closed

[2020-11-12 15:23] kinnison commented on #75833
@spdionis https://rust-lang.github.io/rustup/concepts/profiles.html states quite clearly that `complete` should not be used.  Perhaps we should alter the tool to not mention it at all though.

[2020-11-12 15:34] #78931 closed

[2020-11-12 15:39] pnkfelix commented on #78893
We discussed this in today's T-compiler triage meeting.

This may or may not represent a significant change to the static semantics. It may or may not represent a footgun.

My original instinct was to revert PR #73905 before the beta cut, to buy us time. But team members convinced me that would be rash, given the amount of work that builds upon PR #73905.

We decided it would be best to let PR #73

[2020-11-12 15:45] oli-obk commented on #78893
Here's the zulip thread if you want to join the discussion: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Implied.20bounds.20analysis

[2020-11-12 15:49] frewsxcv commented on #62358
if `unwrap` is going to be renamed in the long-term, why not rename a theoretical `Option#wraps` at the same time?

[2020-11-12 15:49] pca006132 opened #78989 "Incorrect no_mangle attribute warning"
### Code

I tried this code:

[code]

I expected to see this happen: no warning.

Instead, this happened:
[code]

~The attribute is actually applied correctly, otherwise we would get undefined symbol error.~ Also, the extern variable is clearly declared as static, so the warning does not really make sense.

Edit: it seems that the code also works without the `no_mangle` attribute. So is the `no_ma

[2020-11-12 15:51] jonas-schievink commented on #78989
No, this is working correctly. `#[no_mangle]` does nothing on extern items, which already do not get mangled, even without the attribute.

[2020-11-12 15:52] pca006132 commented on #78989
OK, sorry for not understanding the behavior of `#[no_mangle]` on extern items.

[2020-11-12 16:01] pca006132 commented on #78989
So maybe this should not be marked as regression, this is just a confusing but indeed correct warning message. Is there a way to remove the labels?

[2020-11-12 16:06] nagisa commented on #78975
There's no way plain `ld` on MacOS is able to link and handle FreeBSD ELF binaries, is there?

[2020-11-12 16:22] Manishearth commented on #78917
There are tons of PLs out there, and we shouldn't lock ourselves out of future modifiers.

I think `class:classname` is good.

[2020-11-12 16:35] petrochenkov commented on #78981
Fixed in https://github.com/rust-lang/rust/pull/78993.

[2020-11-12 16:49] cauebs commented on #65280
Have you guys settled on the precision idea or are you open to other approaches? Using `Index` with ranges seems way more intuitive to me.

[2020-11-12 16:56] yshui commented on #78893
@pnkfelix Interesting. Keeping this regression means the user wouldn't get an error until they actually use the type. To me this doesn't feel very desirable. But I can also see the argument that this is not a very big problem, because the user is likely going to use it, otherwise they wouldn't have written it out.

Perhaps this would break the pattern where the user defines a trait, uses the trait

[2020-11-12 17:04] cuviper commented on #78932
I see it the same as any other system library that we might link against. e.g. Cargo links to the system openssl by default, and we don't try to pull that into dist tarballs.

[2020-11-12 17:09] Mark-Simulacrum commented on #78932
Good point :)

[2020-11-12 17:19] spastorino commented on #77869
This [was discussed during today's compiler weekly meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-11-12.20.2354818/near/216485592)

[2020-11-12 17:21] Amanieu commented on #56167
I see a few things that need to be resolved:
- We need proper documentation for the API functions, including examples.
- hashbrown has a few extensions to RawEntry, such as https://docs.rs/hashbrown/0.9.1/hashbrown/hash_map/enum.RawEntryMut.html#method.and_replace_entry_with. We should decide whether to port these to std as well.
- The name feels a bit wierd since it isn't clear what "raw" means.

[2020-11-12 17:22] simonvandel opened #78994 "Unused local not eliminated by MIR optimizations"
The following example (https://godbolt.org/z/54ze7P) has an unnecessary copy of `_1`:
[code]

I would have expected `_2 = _1` to be eliminated in the optimized MIR, as it appears unused besides storage markers.

[2020-11-12 17:27] wesleywiser commented on #78994
It's not unused because of debuginfo

In this case, the debuginfo could be adjusted to point to `_1` though.

[2020-11-12 17:29] cuviper commented on #78979
There's no API change: https://github.com/bluss/indexmap/compare/1.5.1...1.6.0

The error you're seeing is because `no_std` builds have `IndexMap<K, V, S>`, while `std` builds have default `S = RandomState` and add `new` and `with_capacity` using that default. We use `autocfg` to detect whether the target has `std`, and have done so since 1.3.0. There's a slight functional change in 1.5.2's new "s

[2020-11-12 18:04] #46744 closed

[2020-11-12 18:04] #59954 closed

[2020-11-12 18:04] #63161 closed

[2020-11-12 18:04] #73640 closed

[2020-11-12 18:04] #73967 closed

[2020-11-12 18:04] #74890 closed

[2020-11-12 18:04] #75900 closed

[2020-11-12 18:20] infinity0 commented on #78979
Thanks for the context, digging through the log I see:

[code]

The first occurence of this error "could not copy A to B: Value too large for defined data type (os error 79)" is for indexmap but it also happens for several other crates, so the problem is likely something else, I'll keep investigating..

[2020-11-12 18:20] steveklabnik commented on #66912
Triage: trying this today, the same error happens.

[2020-11-12 18:21] steveklabnik commented on #40640
Triage: as far as I know, these warnings are not silence-able today.

[2020-11-12 18:22] cuviper commented on #78979
If they're all in `probeN.ll` files, they're still likely via `autocfg`, but I think it will ultimately require a compiler fix.

[2020-11-12 18:28] cuviper commented on #78979
`EOVERFLOW` is also a weird error here -- these are definitely not large files or anything...

[2020-11-12 18:36] Mcdikmen opened #78997 "My horse doesn't pooping"
I waited like 1 hours and my horse did not pooped.

[2020-11-12 18:37] infinity0 commented on #78979
It's the stage1 build of indexmap that is failing, so annoyingly I can't reproduce this outside of the rustc-build context with just `indexmap` since we only have stage0 (1.47) on hand. So it could indeed be some issue with 1.48.

[2020-11-12 18:45] infinity0 commented on #78979
@the8472 You were the only one to make changes to `library/std/src/sys/unix/fs.rs` specifically `copy()` for 1.48, any ideas? It is giving `EOVERFLOW` on mips.

[2020-11-12 18:45] #78997 closed

[2020-11-12 18:47] infinity0 commented on #78979
I will try reverting 4ddedd521418d67e845ecb43dc02c09b0af53022 to see if this fixes the problem, will report back in a few hours.

[2020-11-12 18:47] Mcdikmen commented on #78997
Why you closed? It's not solved.

[2020-11-12 18:49] sfackler commented on #78997
This is the issue tracker for the Rust programming language. It has nothing to do with horses or pooping.

[2020-11-12 18:53] cuviper commented on #78979
I wonder if mips doesn't like the request for `usize::MAX` bytes here:
https://github.com/rust-lang/rust/blob/9722952f0bed5815cb22cb4878be09fb39f92804/library/std/src/sys/unix/fs.rs#L1233

[2020-11-12 19:26] infinity0 commented on #78979
That was already there in 1.47. However the general gist of that commit seems to be to copy MAX bytes regardless of the size of the file, which perhaps is not allowed on mips or something? It seems like a weird thing to want to do, anyway.

[2020-11-12 19:34] Mark-Simulacrum commented on #78979
I would be fine disabling copy_file_range on mips (or perhaps all platforms) for 1.48 at least since it seems like it's causing problems, presuming that fixes the bug here. I wouldn't want to revert just the latest commit though since it seems like it does fix real bugs (or at least claims to).

[2020-11-12 19:38] infinity0 commented on #78979
The commit description says "race conditions where a file is truncated while copying from it. if we blindly trusted the file size this would lead to an infinite loop" but this doesn't sound right since MAX is always greater than the actual file size, and we only read it once.

It could help in the situation {X: where a file is appended to while copying from it}, but again the previous behaviour wo

[2020-11-12 19:44] the8472 commented on #78979
The previous implementation queried the file size via `stat`. This has correctness issues (e.g. procfs reports sizes incorrectly) and is prone to races (files getting truncated while copying). The goal of the change was to instead copy until EOF is reached. That seemed to work on my 64bit linux.

Here's the `generic_copy_file_checks`

[code]

That's comparing signed and unsigned types, I'm not fam

[2020-11-12 19:46] the8472 commented on #78979
It's read in a loop. If the truncate happens between the `stat` call and any `copy_file_range` call then the old implementation wouldn't check for EOF and instead loop forever, expecting to be able to copy more bytes. And as mentioned above this isn't the only issue.

[2020-11-12 19:50] infinity0 commented on #78979
I can't see this - 4ddedd521418d67e845ecb43dc02c09b0af53022 removed one call to `reader_metadata.len()` but this was at the top-level of `std::sys::fs::copy` outside of any loops, and `std::fs::copy` calls this `copy` only once.

I am guessing this is the cause of EOVERFLOW but I have yet to confirm this, I should just write a short program to test it. Where is your `generic_copy_file_checks` from

[2020-11-12 19:54] cuviper commented on #78979
@infinity0

The prior code was capped by the file length, whereas `max_len` is now `u64::MAX`

@the8472

With 32-bit unsigned `size_t len` and 64-bit signed `loff_t pos_*`, the addition will promote to signed 64-bit integers, and then the comparison is signed.

With 64-bit `size_t`, I'm not sure off-hand...

[2020-11-12 19:58] the8472 commented on #78979
I think we should either disable it on all platforms or adding general EOVERFLOW handling and lower the chunk size so that an overflow is less likely to happen for anything but very large file offsets.

The length is not "read" in the loop (I was confused by the word read, I thought you meant `read(2)`). But data from the file is read in a loop and the loop did not terminate until a sufficient amo

[2020-11-12 20:02] infinity0 commented on #78979
Right, but your commit changes `len` to `max_len` (and the loop check becomes `written < max_len`) so I fail to see how this improves any supposed infinite loop - if there was an infinite loop previously, there would still be an infinite loop with this more relaxed condition.

[2020-11-12 20:16] the8472 commented on #78979
I did not say that that particular change solves the infinite loop case on its own. The change changes the semantics and that's why the name was changed from `len` to `max_len`. It now allows an upper bound for the bytes copied to be set, that's all it does. The happy path for termination (other than the upper bound) is reaching EOF. And probing for EOF does not require a size provided by `stat`.

[2020-11-12 20:17] infinity0 commented on #78979
It appears that `size_t` is signed on mips:

[code]

[code]

[2020-11-12 20:17] rsundahl commented on #74551
I'm seeing this bug when building firefox 1.43.0 from source on ubuntu focal (20.04) for amd64, so agreeing that this is not target-dependent.

[2020-11-12 20:19] TianyiShi2001 commented on #39446
In case anyone is still interested in this issue:

as of 2020-11-12, the benchmark program using `i32` is faster than `isize`. Here are the benchmarks on my computer:

- rust `i32`:  0.94s
- rust `isize`: 1.06s
- clang `-fwrapv`: 0.90s

[2020-11-12 20:19] the8472 commented on #78979
That would be a problem. The libc crate lists it as unsigned https://rust-lang.github.io/libc/mipsel-unknown-linux-gnu/libc/type.size_t.html

[2020-11-12 20:21] infinity0 commented on #78979
Sorry my bad, I miscoded, it should be `((size_t)INT_MAX) + 1` and `size_t` is unsigned. But for some reason `copy_file_range` doesn't like that value, whereas `INT_MAX` is fine.

[code]

[code]

[2020-11-12 20:23] nwn commented on #74465
I think 1 is the most appropriate. The `init` terminology makes more sense than `insert` in the context of a once cell. Depending on whether we expose a direct value initializer, it may be more consistent to add `_with` to these methods, though.

This doesn't seem very intuitive to me and isn't always true when there are multiple points of initialization. For example, consider:
[code]
In this case

[2020-11-12 20:27] infinity0 commented on #78979
"Invalid argument" is not EOVERFLOW however, so I'll have to investigate some more.

[2020-11-12 20:33] KodrAus commented on #53487
# Status Update: 2020-11-13

- Stabilization of the initial formattable `Backtrace` API has entered FCP: https://github.com/rust-lang/rust/pulls#issuecomment-726180149
- We've just got one remaining question on `Debug` formatting in #65280 about supporting the precision flag, but also noticed a difference in `Display` formatting with `panic!` backtraces in #71706
- Work has started on an API to ge

[2020-11-12 20:39] the8472 commented on #78979
It's good to know either way, then I'll lower the chunk size further to 1GB.

[2020-11-12 20:51] the8472 commented on #78979
Have you tried running the failing build under strace?

[2020-11-12 21:02] yaahc commented on #65280
My impression is that we're punting on the issue and instead focusing on making it possible for ppl to experiment with their own display formats by adding a `frames` method to `Backtrace`.

[2020-11-12 21:03] infinity0 commented on #78979
No, this machine is very very slow, it takes about 8 hours to run the whole build, running strace does not sound that appealing to me. :(

BTW `loff_t` is 32bits on mips, so from your `generic_copy_file_checks` snippet earlier it make sense that `0x80000000` fails, and it would be a kernel bug, although I'm still not sure why I got "Invalid argument" instead of EOVERFLOW. Do you have the link to t

[2020-11-12 21:10] the8472 commented on #78979
Userspace types don't have to be the same as kernel types. I think there are some glibc `#define`s that toggle large file offset compatibility or something like that.

This was introduced in 5.3. Before that each filesystem was responsible for its own `copy_file_range` implementation, which might explain inconsistencies if you're on an older kernel.

https://github.com/torvalds/linux/blob/0adc313c

[2020-11-12 21:12] infinity0 commented on #78979
Ugh my bad, I was looking at the wrong thing, it is 64 bits.

[code]

[2020-11-12 21:38] infinity0 commented on #78979
OK, I think this "Invalid argument" issue I mentioned is due to Linux 4.19 not mips in general - I've reproduced it on a x86-64 running Linux 4.9, and with x86-64 the difference is between (size_t)LONG_MAX vs (size_t)LONG_MAX+1. The issue does not exist on x86-64 Linux 5.7, unfortunately I do not have access to a mips Linux 5.7 to test this with.

The build log I reported in the OP was a mips Linu

[2020-11-12 21:51] the8472 commented on #78979
The current implementation already deals with EINVAL by falling back to the userspace copy implementation. This isn't ideal but shouldn't be a release blocker. The question is under which circumstances EOVERFLOW happens.

@Mark-Simulacrum what's the release timeline? How much time do we have for a fix and how small should it be kept? Rendering copy_file_range inert would be a 1-line change. A prop

[2020-11-12 21:54] camelid commented on #78994
For reference, this is the input code:

[code]

[2020-11-12 21:55] camelid commented on #78994
The debuginfo *could* be adjusted, but wouldn't be confusing when you're debugging? It would think `x` and `input` were the same. What's our policy on optimizations that change debuginfo?

[2020-11-12 22:03] parraman commented on #78981
I hope this gets merged asap :-)

[2020-11-12 22:15] Mark-Simulacrum commented on #78979
Any fix would ideally land in the next 72 hours, roughly. Please ping me and @pietroalbini on relevant PRs.

I suspect that given the timeframe just rendering this code inert is our best bet.

[2020-11-12 22:24] infinity0 commented on #78979
As a slight aside, @jrtc27 mentioned to me that mips64 does sign-extension by default, and the `copy_file_range` syscall does not have a compat version when running 32-bit user code on a 64-bit kernel so its `size_t` argument gets sign-extended as per this default behaviour. This does not really matter for this rust code in question, since the size parameter is secondary to the purpose of the logi

[2020-11-12 22:28] the8472 commented on #78979
@infinity0 yeah right now the size has no relevance, that will change again with #75272

Well, that's a funny way to put it, but yes.

@Mark-Simulacrum

Ok, will do.

[2020-11-12 22:29] the8472 commented on #78979
@rustbot claim

[2020-11-12 22:29] cuviper commented on #78979
This seems better than fully disabling `copy_file_range` -- just change the `usize::MAX` to 1GB?

I'm not sure what you mean -- `bytes_to_copy` is the `size_t len` of the syscall, no?

[2020-11-12 22:34] the8472 commented on #78979
Well, setting the length to 1GB is mostly about avoiding the EINVAL that @infinity0 reported in https://github.com/rust-lang/rust/issues/78979#issuecomment-726319596

The actual issue is EOVERFLOW for which we haven't pinpointed the exact cause yet. It could also be due to 32bit calculations on mipsel or older kernel versions so it might happen for any large files too. I intend to handle this prop

[2020-11-12 22:36] matklad commented on #76416
Just needed `saturating_sub` when dealing with time intervals.

Also, unresloved questions seem to be from another tracking issue?

[2020-11-12 22:40] parraman commented on #60551
I think the following problem is related to this issue. If not, I apologize in advance. I don't quite understand why this code works:
[code]
while this other one doesn't:
[code]
This last one produces the following error:
[code]
Thanks!

[2020-11-12 22:40] jrtc27 commented on #71437
Managed to dig out IRC logs; this is what past me said:

[code]

[2020-11-12 22:55] the8472 commented on #78979
Created two PRs against beta, pick one or the other.

For nightly I'll update #75272 to cover this case too and hope we'll get that merged soon(ish).

[2020-11-12 22:59] cuviper commented on #78979
Keep an eye on when that lands -- if it's after the next branch date, it may need backporting to 1.49-beta.

[2020-11-12 23:01] infinity0 opened #79009 "1.48 beta test failures, debuginfo-gdb 9.2 -> 10.1"
This is with 1.48.0-beta.8, and previously these all passed in 1.47.0. On Debian I see these failures on all architectures. The main difference is we are using gdb 10 now, gdb 9.2 previously. The other debuginfo tests pass fine.

<details><summary>test [debuginfo-gdb] debuginfo/extern-c-fn.rs ... FAILED</summary>

[code]
</details>

<details><summary>test [debuginfo-gdb] debuginfo/generator-object

[2020-11-12 23:07] Mark-Simulacrum commented on #79009
Can you verify that gdb 9.2 still passes with 1.48 beta? (Not sure how easy that is for you)

Regardless, it seems like this is probably too difficult for us to land a fix for in the next few days in time for 1.48, and it does not seem like a release blocker to me.

[2020-11-12 23:07] infinity0 opened #79010 "src tarballs are vendored without respecting lockfile"
This is with 1.48.0-beta.8, and previously all passed in 1.47.0. On Debian I see this failure on all architectures.

<details><summary>test [ui] ui/feature-gates/feature-gate-cfg-version.rs ... FAILED</summary>

[code]
</details>

It seems the failure is due to `version_check` being upgraded from 0.9.1 to 0.9.2 which now treats 1.65536.2 as malformed for some reason, even though I can't see this m

[2020-11-12 23:09] infinity0 commented on #79010
Apparently they made a design decision to reject numbers above 65536, but again I can't see this in the semver spec which allows any integer. https://github.com/SergioBenitez/version_check/issues/11

[2020-11-12 23:15] Mark-Simulacrum commented on #79010
Hm, version_check is at 0.9.1 on beta branch AFAICT -- can you say more about where you're getting 0.9.2 from? Maybe our vendoring is somehow buggy?

That said this is not really a beta regression since it's for an unstable feature so not marking as such.

[2020-11-12 23:29] infinity0 commented on #79009
@Mark-Simulacrum It's not easy for me to run the whole build - sadly Debian deletes old versions from the main archive when they get updated. However I still have gdb 9.2 locally and I can confirm running a random sample of these tests by hand against rustc 1.48 & gdb 9.2 does appear to produce the correct expected output.

The differences appear minor except that in generator-objects the output i

[2020-11-12 23:32] infinity0 commented on #79010
I downloaded https://static.rust-lang.org/dist/rustc-beta-src.tar.xz it's on 0.9.2 there.

tar xf rustc-beta-src.tar.xz rustc-beta-src/vendor/version_check/Cargo.toml

[2020-11-12 23:39] Mark-Simulacrum commented on #79010
That is indeed concerning. Looking at the logs for the dist-x86_64-linux builder, it uses version_check 0.9.1 for the main steps but the src tarball does indeed download 0.9.2, which is unexpected. I suspect it might be because of the additional Cargo.toml's included with --sync?

cc @ehuss @alexcrichton, I guess we should be passing `--locked`/`--frozen` to `cargo vendor`? I am surprised to see i

[2020-11-12 23:45] infinity0 commented on #79010
Not sure if this matters for your release policy, but the test is run at least and is expected to contain compiler errors saying "`cfg(version)` is experimental and subject to change", but the presence of these extra errors makes the test fail.

[2020-11-12 23:46] Mark-Simulacrum commented on #79010
Right, all tests run independent of the channel being targeted, and in this case the feature affected is not usable on stable regardless.

[2020-11-12 23:54] Ignition commented on #62543
Wouldn't returning a pair of iterators be better? ATM you return an index in reference to the where the partition happened, then you likely have to use that index to constuct iterators again.

[code]
vs
[code]

[2020-11-13 00:07] ehuss commented on #79010
I'm a bit uncertain what the issue is here.  Because the vendor directory is including multiple workspaces, it is to be expected that there are multiple versions of different dependencies like `version_check`.  From the beta tarball, there is a `vendor/version_check-0.9.1/` directory which contains the version used by the root workspace.  The root `Cargo.lock` contains the correct version, and sho

[2020-11-13 00:08] cuviper commented on #62543
@Ignition that's not possible with an arbitrary `Iterator` input. Once we step to an item, there's no going back. If we implemented this only as a slice method instead, then yes we could return a pair of slices.

For your C++ background, it may help to think of C++ iterators as _cursors_, whereas Rust iterators are more like _ranges_ that shrink each time an item is retrieved.

[2020-11-13 00:28] infinity0 commented on #79010
Ah right, this is an issue with how the Debian packaging works. The typical rustc tarball contains a lot of other tools and all of their dependencies as well. If we retained all of that, we would have to review all of this stuff every update to check it adheres to Debian policy and fix it if it doesn't (e.g. does not embed new C code & instead make it link to system shared libraries instead). This

[2020-11-13 00:30] infinity0 commented on #79010
I suppose this is not a rustc bug and I will just have to suck it up and deal with similar issues in the future. It's less work than reviewing all the extra stuff anyway.

[2020-11-13 01:20] estebank commented on #76605
@petrochenkov does that mean we need to revert #75516 in master too (and potentially on the upcoming beta)?

[2020-11-13 01:38] estebank commented on #66523
Current output:

[code]

[2020-11-13 02:04] #76517 closed

[2020-11-13 04:34] #78937 closed

[2020-11-13 07:20] petrochenkov commented on #76605
I think we need to revert on master and then do any other work starting from that state.

[2020-11-13 08:35] oli-obk commented on #78893
You can in fact implement both `A` and `B` in this situation (as the examples linked in the zulip show). All you did with `B` is to add additional constraints to callers of `B::x`. Though it is true that you don't have access (yet) to the bounds on `A::T` within `B::x`

[2020-11-13 09:06] pczarn commented on #78997
do it like this
[code]

[2020-11-13 10:05] DutchGhost commented on #68543
No, it does not:
[code]

Also even though it has a `#![feature(...)]`, the ICE also happens when compiling with stable

[2020-11-13 10:15] mati865 commented on #78827
You are not linking your C library anywhere so you cannot expect it be included.

Re-exporting C symbols in cdylibs currently doesn't work: https://github.com/rust-lang/rfcs/issues/2771. If that's what you are trying to achieve this issue can be closed as a duplicate.

[2020-11-13 12:15] raphaelcohn commented on #74465
Something I've recently got bitten by is the need to manage which memory allocator a memory uses. I've been workign wit ha design that has a different global memory allocator when running threads or coroutines (so restricting a coroutine to a maximum amount of memory). This could be thought of as a bit of a hack; one of the long-term design decisions of early Rust that still bites is not making th

[2020-11-13 13:16] petrochenkov commented on #78981
(Reopening because https://github.com/rust-lang/rust/pull/78993 isn't merged yet.)

[2020-11-13 14:10] RalfJung commented on #49147
Unfortunately that desugaring does not work in a generic function... here's an alternative that works:
[code]
This also shows why we need `const` blocks to support depending on generic parameters.

[2020-11-13 14:31] RalfJung commented on #49147
Turns out that [accidentally, part of this feature is already stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fbfad6fa9979c1696a25b82c62b20091).^^ From what I have seen so far, this only affects literal constants in array repeat expressions, which is fairly uncontroversial... but still entirely unintended.

We should at least figure out the code that enabled this to

[2020-11-13 14:36] RalfJung commented on #49147
I think this is the problem:

https://github.com/rust-lang/rust/blob/2c4df6bb343e89c382ae2301505013132af77319/compiler/rustc_mir/src/borrow_check/type_check/mod.rs#L1987

In case of `Operand::Copy`, no check whatsoever is performed.

[2020-11-13 14:40] jplatte opened #79018 "ICE: feature(generic_const_exprs) enabled in one crate but not another"
_Extracted out from https://github.com/rust-lang/rust/issues/78139#issuecomment-714720836, as that issue was closed but my case still ICEs_

Given this code:

`src/lib.rs`:

[code]

`examples/breakit.rs`:

[code]

I get the following error:

[code]

<details><summary>Backtrace</summary>

[code]

</details>

It goes away when putting all of the code into one compilation unit.

[2020-11-13 14:43] GuillaumeGomez commented on #78964
Absolutely!

@Nezeky: Since #76154, we don't allow to "align" comments anymore. You might want to take a look at this [blog post](https://blog.guillaume-gomez.fr/articles/2020-11-11+New+doc+comment+handling+in+rustdoc).

I'll close this issue and add the label "wont-fix" then.

[2020-11-13 14:43] #78964 closed

[2020-11-13 14:58] oli-obk commented on #49147
`Operand::Copy` is totally fine, because that is only valid for `Copy` types https://github.com/rust-lang/rust/blob/a1f7ca788d28f8df9ccd161137c3429be1ed9d0e/compiler/rustc_mir/src/transform/validate.rs#L205 the situation here is that we forgot that there's also `Operand::Constant`. The check should have never looked at the `Operand` but simply invoked [`Operand::ty`](https://doc.rust-lang.org/nigh

[2020-11-13 15:06] simias commented on #70530
I stumbled upon this issue from the docs and I must say that I'm a bit confused: I wanted to replace a HashMap with a BTreeMap in my code, but then I noticed that it didn't have a `retain` method unlike the hash counterpart. Then I noticed this experimental `drain_filter` method.

As far as I can tell isn't this method the same thing as HashMap's `retain`, just with the boolean result of the predi

[2020-11-13 15:10] simias commented on #70530
Oh, I noticed an obvious difference between retain and drain_filter: the later returns an iterator. So now I understand the need for both, but I'm still surprised by the lack of consistency between collections when it comes to mutability and the lack of `drain_filter` for HashMaps.

[2020-11-13 15:37] ssomers commented on #70530
When I first looked into it, I remember a `drain_filter` where the predicate had the opposite meaning. I liked the current one better: true means "yes, drain".

If you really do, please explain, but I think you mean you understand why someone made `retain` and later someone made a more general `drain_filter`, probably for another container. At least that's how I hope it went.

[2020-11-13 15:46] m-ou-se commented on #70758
Since `fill` is similar to `Vec::resize`, should there also be a `fill_with`, just like `resize_with`?

[2020-11-13 15:59] RalfJung commented on #49147
You mean, make a PR that switches to `Operand::ty` but allows constants, add tests, and FCP that?

[2020-11-13 16:01] Amanieu commented on #72016
My main concern is the possibility of confusion when there is a mismatch between the register size, value size and sub-register name. In such situations how should the register name be rendered in the code?

[code]

Modifiers add yet another layer of confusion since it isn't clear what the default should be when no modifier is specified: should it default to the full register name (`rax`) or shoul

[2020-11-13 16:02] N3xed opened #79020 "Unexpected panic when exporting an item of renamed proc-macro dependency with select targets."
I get an internal compiler error (unexpected panic) when I export an item of an (in `Cargo.toml`) renamed proc-macro library dependency. This only happens with select targets and only on stable and nightly. It still fails to compile on beta, but with a different error (see Error output section).

I've tested the following targets which all have this bug (on stable, beta (different as described) an

[2020-11-13 16:02] zserik commented on #70530
I think if we could replace `retain` with an implementation solely based upon `drain_filter`, this would prove that `retain` is therefore redundant.

[2020-11-13 16:04] oli-obk commented on #49147
There's no need to change the source, it does exactly what we would stabilize. So just a PR that adds tests and then FCP that.

Though I guess the implementation is a bit roundabout, so we could switch to checking the operand ty first and then checking for `Operand::Constant` if that check fails. But other than readability, that won't change anything.

[2020-11-13 16:30] sfackler commented on #72016
It seems like asm could just require that the value assigned to a named register must match the register's size.

Suppressing that rule for arguments assigned to a named register that don't provide an explicit name seems reasonable.

[2020-11-13 16:30] thiolliere commented on #43081
some question on this issue:
* Is there some in-progress work or does some people thought about what is needed in order to fix the fact that usage of `#[cfg(features="some_not_set")]` loses the spans ? I would like to provide some help (if it's in my skill/time)
* do we have a more complete list of all situation losing the span in proc_macros ? I am aware of:
  * outer attribute, with WIP PR https

[2020-11-13 16:37] jonas-schievink commented on #79020
Duplicate of https://github.com/rust-lang/rust/issues/56935

[2020-11-13 16:37] #79020 closed

[2020-11-13 16:40] Amanieu commented on #72016
The sub-register issue gets more complicated if you consider other architectures:
- RISC-V only has a single register name `x5` which is used for all data sizes.
- AArch64 has `x0` (64-bit) and `w0` (32-bit) but the latter is also used with 8-bit and 16-bit values.

[2020-11-13 16:44] fundon commented on #78975
@nagisa How to configure it on `~/.cargo/config`?

[2020-11-13 17:01] Aaron1011 commented on #43081
@thiolliere: Summary of the current progress:

* PR https://github.com/rust-lang/rust/pull/78991 fixed an inconsistency in parsing of statement macros (it's currently waiting on a Crater run)
* Assuming it gets merged, it will unblock https://github.com/rust-lang/rust/pull/78296, which fixes our handling of attributes on statements
* Once *that* PR is merged, I will continue to split up https://gi

[2020-11-13 17:02] nagisa commented on #78975
This is a tracker for the issues in rustc and not a support forum. For support, consider posting your question on [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/), or asking on one of the chat platforms: [discord](https://discordapp.com/invite/aVESxV8) or [zulip](https://rust-lang.zulipchat.com/#).

With regards to con

[2020-11-13 17:02] #78975 closed

[2020-11-13 17:21] RalfJung commented on #49147
I think the `if let` should be changed to a `match` to require explicit handling of all cases.

[2020-11-13 17:45] mbrubeck commented on #70530
`HashMap::drain_filter` is already available in the nightly toolchain.  It's behind a feature flag, like the other `drain_filter` methods.  On stable Rust, you can use `HashMap::drain_filter` via [hashbrown](https://crates.io/crates/hashbrown).

For the status of `drain_filter` in all the standard collection types, see https://github.com/rust-lang/rfcs/issues/2140.  For discussion of the naming an

[2020-11-13 18:01] yoshuawuyts opened #79024 "Tracking Issue for #![feature(async_stream)]"
This is a tracking issue for the RFC "2996" (rust-lang/rfcs#2996).
The feature gate for the issue is `#![feature(async_stream)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion

[2020-11-13 18:05] alex commented on #78433
With the merger of #78960, is this complete?

[2020-11-13 18:09] lcnr commented on #78433
yes, it is :tada:

[2020-11-13 18:09] #78433 closed

[2020-11-13 18:16] mbrubeck opened #79025 "Tracking Issue for {BTreeMap,BTreeSet}::retain"
This is a tracking issue for `BTreeMap::retain` and `BTreeSet::retain` (part of rust-lang/rfcs#1338).
The feature gate for the issue is `#![feature(btree_retain)]`.

### Unstable API

[code]

### Steps

- [x] Implement the RFC
- [x] FCP
- [ ] Adjust documentation
- [ ] Stabilization PR

### Unresolved Questions

* Is the performance of the current implementation (based on `drain_filter`) good enou

[2020-11-13 18:29] simias commented on #70530
Thank you @mbrubeck, this was the context I lacked.

[2020-11-13 18:32] mbrubeck commented on #70530
I submitted #79026 to add `BTreeMap::retain` and `BTreeSet::retain`, implemented in terms of `drain_filter` as suggested above.

[2020-11-13 18:39] pthariensflame commented on #63033
[Another case showed up yesterday:](https://www.reddit.com/r/rust/comments/jt1s5q/unexpected_borrow_checker_behavior/)

[code]

[2020-11-13 18:41] nikomatsakis commented on #49147
+1 to match

[2020-11-13 18:46] ssomers commented on #70530
I think `retain` is the same as `drain_filter` with the predicate inverted and the result dropped, [as in this playground demo](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=04931b36ae56a1089f76c3c96130aa3f). But in [the hashbrown code](https://github.com/rust-lang/hashbrown/blob/master/src/map.rs) they are unrelated. Maybe that's to improve performance, because `drain_f

[2020-11-13 18:49] simias commented on #43244
I've been struggling with API differences between `HashMap` and `BTreeMap` today and I just wanted to share a word of caution that I think it's important that various collections strive to maintain a coherent API whenever in makes sense, something which at this point isn't always the case.

For instance String, Vec, HashMap, HashSet, BinaryHeap and VecDeque have a `retain` method, but LinkedList a

[2020-11-13 19:13] ssomers commented on #70530
Note that this (nightly only) `drain_filter` in BTreeMap/Set is as optimal as I can imagine when you drain only a few elements, but definitely not when you drain a lot of elements. Of course, if you typically drain all but a few elements, you shouldn't be using `drain_filter` at all - better `into_iter`, `into_keys` or `into_values` the whole lot and divert the few ones you want to retain to a new

[2020-11-13 19:20] eddyb commented on #60705
@benesch's [updated version of the patch](https://gcc.gnu.org/pipermail/gcc-patches/2020-November/558905.html) just landed :tada:

It includes ports of @varkor's 3 PRs related to const generics:
* https://github.com/alexcrichton/rustc-demangle/pull/39 "Add demangling for `bool`, signed integers, and `char`"
* https://github.com/alexcrichton/rustc-demangle/pull/40 "Elide the type when the const val

[2020-11-13 20:00] camelid opened #79033 "Confusing lifetime error: expected `(&Location<'_>,)`, found `(&Location<'_>,)`"
For one, I'm not sure why this isn't working since `Location` is `Copy`, but you can fix this by just storing `self.start.line` and `self.end.line` in locals and adding `move` before the closure. One of the weird things about this error is it says

but those are the same! Also, why are they 1-tuples? The error is a bit different on stable, the message I showed is on nightly:

---

### Code

[code]

[2020-11-13 20:00] camelid commented on #79033
I marked this as a regression since the error has gotten worse since stable and beta.

[2020-11-13 20:02] benesch commented on #60705
And thank _you_, @eddyb, for doing all the heavy lifting here! I'll be very excited when we can stabilize the new mangling scheme.

[2020-11-13 20:05] jyn514 commented on #79033
This looks like another duplicate of https://github.com/rust-lang/rust/issues/41078.

[2020-11-13 20:07] Aaron1011 commented on #58781
Are any changes needed w.r.t https://github.com/rust-lang/rust/issues/59159 before we turn off migrate mode? We currently have a lint - are there any problems with just keeping this lint when migrate mode is disabled?

[2020-11-13 20:20] Mark-Simulacrum commented on #58781
See discussion in https://github.com/rust-lang/rust/pull/76104 -- the current thinking in my mind (and I think maybe partial consensus amongst lang, though that's less clear) is that we should set the lint to allow by default or perhaps even remove it entirely.

[2020-11-13 20:22] camelid commented on #79033
Adding type annotations to the closure doesn't fix it though:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e6707be1a4fbbb293d9ba55c51b84c8))

Errors:

[code]

[2020-11-13 20:24] camelid commented on #79033
Also, notice that the error note shows tuples on nightly but not stable – that seems like a bug. And, why does the error say:

[code]

I don't understand why it must match the `Location`'s lifetime and also why adding `move` before the closure doesn't fix the problem.

[2020-11-13 20:47] mark-i-m commented on #74878
#78433 is now complete 🎉

[2020-11-13 20:57] mqudsi commented on #54172
I don't see how this could be fixed, because at minimum you'd need a special syntax to resolve ambiguous matches. e.g. `Foo` implements traits `Bar` and `Baz` and both expose a method `qux()`. You'd need the docs intralink equivalent of `<Foo as Bar>::qux`, no?

[2020-11-13 21:04] jyn514 commented on #54172
@mqudsi disambiguating a specific trait impl is https://github.com/rust-lang/rust/issues/74563. But in the common case when `Bar` is the only trait implemented by `Foo` with an item named `qux`, it will work just fine.

[2020-11-13 21:05] joshtriplett commented on #72016
On Fri, Nov 13, 2020 at 08:01:34AM -0800, Amanieu wrote:

I can think of a few reasonable possibilities here.

First, we could require that if you use a template parameter to refer
to an explicit register, you must provide a modifier. That would be a
usability issue, but unambiguous. This seems better than not allowing a
template parameter to refer to an explicit register at all, at least.
But I d

[2020-11-13 21:27] bstrie commented on #60705
eddyb previously wrote:

So is that the next step? I'm unsure if by "upstream" that means that the same code will need to be landed in all those projects manually, or if it's implying that those are all using libiberty and we'll just need to wait for them to upgrade their dependency.

[2020-11-13 22:02] mzohreva commented on #63063
Why wouldn't this compile? [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b096de58a4df09527be64ca27990e85b)

[code]

The compile error is also confusing:
[code]

[2020-11-13 22:40] jyn514 commented on #79033
Here is a fixed version: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3d9156ed9de67e4bf402f54243f5f3e8
Here is a fixed version that still captures `self` in the closure (although that's rarely what you want): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8dd9c0596d4399be5bbdacb0629d7189

So the error is correct, it's just confusing.

[2020-11-13 23:58] Firstyear commented on #78827
The cc crate emits the metadata to link the C lib into the output.

This is not a duplicate as it is the C symbols that are not available after compilation.

[2020-11-14 00:31] mati865 commented on #78827
Rust won't link that C library if it doesn't find anything useful there and your code doesn't pull any symbol.
You can see this example how to import symbol from C library: https://doc.rust-lang.org/cargo/reference/build-script-examples.html#building-a-native-library

Re-exporting them is more complicated though, you'd have to do something like this: https://github.com/rust-lang/rust/pull/62287

[2020-11-14 01:18] #78673 closed

[2020-11-14 02:04] est31 commented on #79010
@infinity0 so close then?

[2020-11-14 04:32] camelid opened #79040 "Diagnostic suggests adding type `[type error]`"
I think the suggestion is trying to suggest a type, but gets a `TyKind::Error` due to the type error in the body of the `const`. Ideally we would just not suggest a type, but there are probably a lot of other places that this issue occurs.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dca4d4e8947686a6bad3656973181094))

Errors:

[code]

[2020-11-14 04:33] Dante-Broggi commented on #78734
I just tried on a separate clone of the repo, but the same computer, and it still failed with the same error.
I'm on Mac Mojave 10.14.6.

[2020-11-14 06:46] bjorn3 commented on #78734
Does `git clone https://github.com/bjorn3/rust-ar.git` work for you?

[2020-11-14 06:57] jhg commented on #70727
Maybe this is also same issue:
[code]
Maybe it is calling recursively to Display::fmt but the compiler does not detect it is calling to itself when it is a trait.

[2020-11-14 07:40] Boscop commented on #78823
I ran into something similar again today:

### Error output

[code]

It occured in the same module.

[2020-11-14 09:11] #77730 closed

[2020-11-14 09:48] hftautobot opened #79042 "No Sub Trait implementation for Option<f64> or other common types"
Shouldn't there be simple implementation of Sub Trait for Option<f64> where if both values are not None subtract and return Option<f64>, else return None ?

What I am missing here ?

[2020-11-14 11:33] oli-obk commented on #49147
Marking as E-easy for just the match + tests "stabilization" PR

[2020-11-14 12:09] Amanieu commented on #72016
the register size that matches the type provided, just as we do with
`in(reg)` today.

The current behavior is that a placeholder without a modifier will always default to the full register width (`rax` on x86-64, `eax` on x86) regardless of the input type. However the compiler will warn if there is a mismatch with the input type.

[2020-11-14 12:44] oli-obk commented on #79042
While it can be done, it's entirely unclear whether it should be done. Though I don't think an issue is the right place to discuss this. I think the best way to go about it is to start a discussion in https://users.rust-lang.org/ and close this issue.

[2020-11-14 12:49] oli-obk commented on #79040
Fix instructions:

1. find the place where the `provide a type for the item` suggestion is emitted
2. prevent the suggestion from being created if the suggested type is
    * `ty::Err`
    * `ty::FnDef` (`const FOO = main; fn main() {}` gives that)
    * `ty::Closure`
    * possibly other variants of https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/enum.TyKind.html

[2020-11-14 12:59] jonas-schievink commented on #79042
Yeah, this doesn't necessarily seem desirable to me either. For example, it isn't really clear to me why `Some(2) - None` should return `None` instead of `Some(2)`. Closing in favor of the forum discussion.

[2020-11-14 12:59] #79042 closed

[2020-11-14 13:13] infinity0 commented on #78979
The build on mips with disabling the flag succeeded https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mipsel&ver=1.48.0%7Ebeta.8%2Bdfsg1-1%7Eexp3&stamp=1605339163&raw=0

I'm still waiting on shell access on a similar machine.

[2020-11-14 14:33] #74426 closed

[2020-11-14 14:50] varkor commented on #78665
Failed in https://github.com/rust-lang/rust/pull/78590.

[2020-11-14 16:28] RalfJung opened #79047 "Constant gets evaluated even when it contains invalid `transmute`"
Consider the following code:
[code]
This code hits a peculiar code path in the interpreter:

https://github.com/rust-lang/rust/blob/30e49a9ead550551e879af64ba91a0316da1c422/compiler/rustc_mir/src/interpret/place.rs#L916-L927

This code path *should* be unreachable: just like the interpreter can assume that code code it runs on is well-typed, it should be able to assume that the code it runs on has

[2020-11-14 16:28] RalfJung commented on #76064
I opened a new issue for the `transmute` problem: https://github.com/rust-lang/rust/issues/79047.

[2020-11-14 16:45] pwnorbitals commented on #33286
Do we have any progress on this issue ? Doesn't seem to be much activity

[2020-11-14 16:47] alex opened #79048 "Incorrect "unreachable pattern" warning on nightly"
I tried this code:

[code]

It produces the following, incorrect, warning:

[code]

however, the output is `2` so it's clearly incorrect

### Meta

`rustc --version`:
[code]

[2020-11-14 16:48] jonas-schievink commented on #79048
Segfault:

[code]

[2020-11-14 16:52] jonas-schievink commented on #79048
cc @Nadrieril

[2020-11-14 16:56] sfackler commented on #79048
Fails to compile on both stable and beta:

[code]

[2020-11-14 17:05] alex commented on #79048
I'm bisecting now.

[2020-11-14 17:10] alex commented on #79048
f58ffc93815f76576eb56df4bdeec2fe8f12b766 is the regressing commit.

[2020-11-14 17:15] jyn514 commented on #79048
Might be https://github.com/rust-lang/rust/pull/78072 ?

[2020-11-14 17:18] alex commented on #79048
I'm far from a `rustc` expert, but based on the PR title and the fact that the changes to `compiler/rustc_mir_build/src/thir/pattern/const_to_pat.rs` specifically impact a special-case for bytes literals, I think that's   a very likely candidate.

[2020-11-14 17:20] estebank commented on #79048
Purely based of the description, https://github.com/rust-lang/rust/pull/78072 seems like a likely culprit. CC @Nadrieril, would you be able to take a look?

[2020-11-14 17:23] LeSeulArtichaut commented on #79048
Assigning `P-critical` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379048.20Incorrect.20.22unreachable.20pattern.22.20warning.E2.80.A6)

[2020-11-14 17:25] estebank commented on #78941
It would be clearer if this wasn't an inline suggestion. The suggestion is trying to communicate to write

[code]

This can be easily be fixed with a change from `span_suggestion` to `span_suggestion_verbose`.

[2020-11-14 17:59] Nadrieril commented on #79048
Ok, I can comfirm it's the `const_to_pat` expansion that's the problem, because it affects both exhaustiveness checking and codegen. I however am not familiar at all with `const_to_pat`. The linked PR was based on https://github.com/rust-lang/rust/pull/77390 by @oli-obk, who is the one who wrote the `const_to_pat` bit.

[2020-11-14 18:12] Nadrieril commented on #79048
I'm confused. The comment in `const_to_pat` says:

If that's the case then the `b""` pattern should behave exactly like `&[]`. But it doesn't: if I replace one by the other then the match behaves correctly. Since there's no special-casing of `u8` anywhere in `rustc_mir_build` I would think the problem occurs before `const_to_pat` :/

[2020-11-14 18:24] Nadrieril commented on #79048
Oh I know, the pattern gets assigned type `&[u8; 0]`, which has a single element so is found exhaustive:
[code]

[2020-11-14 18:51] Nadrieril commented on #79048
So, I think there's nothing that can be done in `const_to_pat`. The reason is that the following needs to be accepted:
[code]
And the following rejected:
[code]
Thus we need to know the type of `data`. So we need to drop the assumption I mentioned above I'm afraid :(. That's a problem because this assumption is quite pervasively used in `_match` :/

[2020-11-14 18:56] ehuss commented on #78665
Minor update of other clues I've discovered:
* Downgrading to Xcode 11.7 makes the problem go away (Xcode 12.0, 12.1, and 12.2 all seem to fail)
* [Removing `type synthetic add`](https://github.com/ehuss/test/commit/beab8ae6608fe444faeb3a3506fbaff4d8dece3b) from the debugger script makes the problem go away (or just changing it to [return None](https://github.com/ehuss/test/commit/ef1ec557f16af5cd

[2020-11-14 18:57] Nadrieril commented on #79048
Actually I want to blame typechecking here. If you have some magic hidden polymorphism where a pattern can have two different types, it would be cool if tck could hide it from the rest of the compiler and assign a consistent type to things. I have zero idea how to go about doing that.

[2020-11-14 18:58] oli-obk commented on #79048
typeck has magic, I found it when I was doing the PR you linked. Looking for it right now. Will have a link in a second

[2020-11-14 19:01] oli-obk commented on #79048
https://github.com/rust-lang/rust/blob/30e49a9ead550551e879af64ba91a0316da1c422/compiler/rustc_typeck/src/check/pat.rs#L393-L404

has seriously thrown me off before. I tried to figure out a general solution not specific to literals (so we could also allow this for constants), but all of this is extremely subtle. Maybe we can indeed make `const_to_pat` figure out this situation and add a special ca

[2020-11-14 19:06] Nadrieril commented on #79048
It shouldn't be the responsibility of `const_to_pat`. `b"x"` is a pattern of a polymorphic type; type inference should decide which and tell us, but currently it tells us the wrong one sometimes.
If `const_to_pat` wants to handle that, it will essentially have to redo a bit of type inference: probably pass around the type of the scrutinee and use that to decide which type the `b""` pattern should

[2020-11-14 19:07] oli-obk commented on #79048
So... typeck can't modify the type of `lt` here. One solution would be to put this information into the [`TypeckResults`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/context/struct.TypeckResults.html) and then have `const_to_pat` pick it up.

[2020-11-14 19:09] Nadrieril commented on #79048
Btw it's not just size 0, here's another fun one:
[code]
This is also detected exhaustive, and segfaults on `parse_data(b"x")`.

[2020-11-14 19:10] oli-obk commented on #79048
yea, this is for all sizes, but only for byte string literals. Let's move this chat to zulip? https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/exhaustiveness.20is.20broken.20.2379048/near/216744730

[2020-11-14 20:13] #76064 closed

[2020-11-14 20:24] botika opened #79054 "Call macro error depending on the context"
Details in https://github.com/botika/yarte/pull/195/commits/3a54fa5da4bc01d8c2f12b7eeff5bb5e332b9d42,

When I use `ascii!`, built this way:
[code]

It returns the compile error according to this inside or outside the crate. That is to say, in the tests it works correctly while in the crate, uncommenting the line, returns the compilation error that I have marked.

[2020-11-14 20:25] byusti commented on #79040
Hi i am interesting in tackling this issue! This would be my first time contributing.

[2020-11-14 20:30] Kechinator opened #79055 "Could not compile `ress`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-11-14 20:31] oli-obk commented on #79040
Cool! You can mark yourself as workin on this issue by writing `@rustbot claim` in it. Feel free to ask away with anything that is unclear. Or actually, just anything ^^ If you prefer chat over github messages, you can also reach out in [zulip](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics) by opening a new thread.

[2020-11-14 20:38] jonas-schievink commented on #79055
Cannot reproduce, please provide more information.

[2020-11-14 21:52] mgeisler commented on #67295
Hi @GuillaumeGomez,

I just ran into this also — I wanted to add a helper function for my doctests but I couldn't get it to work at all. I was initially encouraged by your [`cfg(doctest)` is stable and you should use it](https://blog.guillaume-gomez.fr/articles/2020-03-07+cfg%28doctest%29+is+stable+and+you+should+use+it) article, but I now understand that it's only talking about the test collectio

[2020-11-14 22:02] byusti commented on #79040
@rustbot claim

[2020-11-14 23:51] slerpyyy commented on #79054
I've simplified the problem further into this [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0a56ded42190abea06552dd3787476fc).

This program panics:
[code]

[2020-11-15 00:31] 13ros27 opened #79062 "Copying build files to a different drive and then building them"
I took all the build files so, src, target, Cargo.lock and Cargo.toml from one drive and moved them over to another drive and then ran `cargo run`. This resulted in a compiler error and it almost certainly shouldn't be supported and can be fixed simply by clearing the target directory and compiling again but it should possibly give a readable error to the user maybe suggesting they clear their tar

[2020-11-15 00:47] #32716 closed

[2020-11-15 01:05] jyn514 commented on #79062
This looks like a Cargo issue.

[2020-11-15 04:50] #72680 closed

[2020-11-15 04:50] #67863 closed

[2020-11-15 04:50] #75229 closed

[2020-11-15 04:50] #78859 closed

[2020-11-15 04:50] #78932 closed

[2020-11-15 04:50] #78981 closed

[2020-11-15 05:57] ThePuzzlemaker commented on #78941
@rustbot claim

[2020-11-15 06:54] jhpratt commented on #53487
This is probably tangential to this issue, but is there any plan to support returning a non-static errors from the `source` method? I just ran into that myself, and it unfortunately requires me to return `None`, despite the fact that there _is_ a better value.

[2020-11-15 07:04] matthiaskrgr opened #79066 "broken mir with -Zvalidate-mir"
I think all of these happen since https://github.com/rust-lang/rust/pull/78969

### Code
`./src/test/ui/trivial-bounds/trivial-bounds-inconsistent-associated-functions.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The following samples also did not crash with -Zvalidate-mir w

[2020-11-15 08:23] in42 commented on #79018
@lcnr Hi, I would like to work on this. Which files should I look at to get started?

[2020-11-15 10:56] Firstyear commented on #31844
specialize Is also locale dependent - as an Australian it's specialise for me, so using 'spec' removes the locale ambiguity.

[2020-11-15 11:14] ssomers commented on #78665
Failed in #78631.

Are you sure that is the problem, other than it is the only from the 3 errors displayed not yet debunked here? In my experience - with gdb, not lldb! - stderr is suppressed if the test succeeds, so you need to explicitly fail the test to see whether this error is also normal on that platform. What is displayed in the report is the contents of a file, that earlier in the test exe

[2020-11-15 11:59] RalfJung commented on #76999
This had some unintended side-effects: in a rollup like https://github.com/rust-lang/rust/pull/79056 that touches a clippy file, PR CI runs the "tools" builder, including Miri -- and then PR CI could fail because Miri is broken, even though the PR would land just fine as it is okay for Miri to be broken. (The PR did not update the Miri submodule.)

[2020-11-15 12:14] jyn514 commented on #76361
This is a recent regression, it was introduced sometime between `rustdoc 1.47.0 (18bf6b4f0 2020-10-07)` and `rustdoc 1.49.0-nightly (cf9cf7c92 2020-11-10)`. I suspect https://github.com/rust-lang/rust/pull/75775 is related, cc @matklad.

[2020-11-15 12:17] jyn514 commented on #76361
The issue is that `\r` is being marked as a doc-comment:

[code]

[2020-11-15 12:19] jyn514 commented on #76361
I guess this means `\r` is being marked as a `LineComment`? I don't see why it would.

https://github.com/rust-lang/rust/blob/75042566d1c90d912f22e4db43b6d3af98447986/src/librustdoc/html/highlight.rs#L169-L171

[2020-11-15 12:35] jyn514 commented on #76361
This is only happening for `///` lines, normal source lines are fine.

[2020-11-15 12:39] jonas-schievink commented on #79066
cc @tmiasko

[2020-11-15 12:41] jyn514 commented on #76361
This is not actually correct - it was a blank line in the original source code. The issue is that rustdoc used to strip `\r` in newlines, but no longer does. Here's 1.47:

[code]
and 1.48:
[code]

[2020-11-15 13:04] est31 opened #79071 "Can't use download-ci-llvm any more"
Enabling download-ci-llvm used to work just fine for me, until today.

After rebasing on top of 75042566d1c90d912f22e4db43b6d3af98447986 , doing anything with rustc beyond stage 1 fails:

[code]

To verify it's not due to some caching issue caused by my experiments in #79043 that temporarily turned the feature off I deleted the entire build directory. It correctly downloaded the stage0 and llvm ar

[2020-11-15 13:07] ortem commented on #78665
@ehuss Looks like the problem occurs only when using LLDB without native Rust support, isn't it? If so, it may be helpful to disable this specific test from `pretty-std-collections.rs` for such LLDB by deleting `// lldbg-check: ...` line right after `// lldb-command:print hash_map` command. If this doesn't help, you can also try to disable all the `pretty-std-collections.rs` tests on macOS by addi

[2020-11-15 13:10] nagisa commented on #60686
Yeah, I still consider it a bug, provided the original example behaves as it did when this was initially reported. It effectively fails to generate documentation for a public item, which is a major issue if the `Banana` type happens to be important in some way.

I also think it is an important bug to resolve because it is fairly easy to design a library around a concept such as this without ever n

[2020-11-15 13:32] est31 commented on #79071
The last commit I was on was 361c4ea22486557ec50c4fc6a93d60e7476ecbea

So the regression is somewhere in this range: 361c4ea22486557ec50c4fc6a93d60e7476ecbea...75042566d1c90d912f22e4db43b6d3af98447986

[2020-11-15 13:36] est31 commented on #79071
cc @Mark-Simulacrum maybe cause was #78986 ?

[2020-11-15 14:02] Mark-Simulacrum commented on #79071
Indeed. Posted https://github.com/rust-lang/rust/pull/79074 to fix this.

[2020-11-15 15:07] GuillaumeGomez commented on #67295
@mgeisler I updated the blog post.

[2020-11-15 15:39] #73356 closed

[2020-11-15 16:15] infinity0 commented on #79010
Closing. Would be nice if rust provided standalone releases, but I can see it being a bit awkward to maintain separate Cargo.lock files.

[2020-11-15 16:16] #79010 closed

[2020-11-15 17:05] Aaron1011 commented on #79054
cc @petrochenkov: I think this is due to the fact that we insert a `None`-delimited group when we expand `$x`.

[2020-11-15 17:07] yaahc commented on #53487
@jhpratt I think it may be possible to support that via [the generic member access RFC](https://github.com/rust-lang/rfcs/pull/2895).

[2020-11-15 17:31] ehuss commented on #78665
Thanks for the tip on the logger, I was assuming setting `PYTHONUNBUFFERED` would allow stderr to print, but I guess not.

I'm concerned about just disabling the test, as it feels like sweeping the problem under the rug without understanding what is wrong.  It does seem likely it is an issue with lldb, but I think it would be good to at least have some vague understanding of what is wrong, and why

[2020-11-15 17:32] NieDzejkob opened #79076 "Compiler suggests #[derive(Clone, Eq + Clone)]"
Let's say I want my struct to be comparable with anything that can be converted into the struct itself, but the actual comparison requires `Clone`:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e33b9eff546315e8260792228c183684))

Errors:

[code]

[2020-11-15 17:40] botika commented on #79054
@slerpyyy It is this, but it also works fine if it is used in another crate, it just fails to call it in the same crate. That is, it works well in a different crate or in the e2e tests.

[2020-11-15 18:57] programmerjake commented on #31844
that works, except for that 'spec' is a common abbreviation for specification, so I think using 'spec' to mean specialization would be confusing. Even if the words are spelled differently in Australia, everyone can still understand which word is intended if it's spelled with either a 'z' or an 's'.

[2020-11-15 19:36] ssokolow commented on #31844
As a Canadian, I have to say that specialization/specialisation isn't the only word used in programming that varies with locale.

Here, we use "colour", but it always trips me up on the rare occasions when a programming language or library uses that instead of "color". For better or worse, American English is a bit of a *de facto* standard in API design.

[2020-11-15 20:14] camelid commented on #77608
So are we going to use the "trivial" fix – adding a custom impl of `PartialEq` that ignores `span` – or some kind of more complex one – I think you mentioned a "multispan"?

[2020-11-15 20:29] ThePuzzlemaker commented on #78941
When using `span_suggestion_verbose`, the following is emitted:
[code]
Is this what is desired?

[2020-11-15 20:34] camelid commented on #77454
@jonas-schievink Can you describe where the change needs to be made? The visit method for debuginfo seems to be correct:

https://github.com/rust-lang/rust/blob/603ab5bd6e0ffefafa7411cd8bd23a6ca82bcff0/compiler/rustc_middle/src/mir/visit.rs#L827-L842

It shells out to `visit_place` with `PlaceContext::NonUse(NonUseContext::VarDebugInfo)`, and `visit_place` then shells out through some other method

[2020-11-15 20:49] lcnr commented on #79018
Looking at the the relevant tracking issue(#76560) this bug is caused by

We already have a `FIXME(const_evaluatable_checked)` in `rustc_privacy` which is relevant here.

Instead of just ignoring `ConstEvaluatable` predicates you want to instead walk their abstract consts and visit all contained constants. This will be quite similar to what we are doing here: https://github.com/rust-lang/rust/blob

[2020-11-15 20:53] jonas-schievink commented on #77454
Looks like the problem is here:

https://github.com/rust-lang/rust/blob/603ab5bd6e0ffefafa7411cd8bd23a6ca82bcff0/compiler/rustc_middle/src/mir/visit.rs#L1020-L1024

[2020-11-15 20:56] camelid commented on #77454
Okay, thank you!

[2020-11-15 21:29] jplatte commented on #79018
@lcnr Are you sure this is related to privacy? Making `my_const_fn` public in doesn't fix the issue.

[2020-11-15 21:40] lcnr commented on #79018
it does not :open_mouth:  then it looks like something else is also incorrect here

let me quickly check, don't have too much time atm

[2020-11-15 21:40] ArekPiekarz commented on #76209
#53188 has been reopened.

[2020-11-15 21:40] #76209 closed

[2020-11-15 21:41] karolherbst opened #79083 "rustc --explain E0744 says "while" is forbidden but accepts it nontheless"
I have to use some sort of loop construct within a const function. `rustc --explain E0744` does explain that loop constructs are at the moment not supported, but as I was trying out `for` first and the compiler rejected it, it would have been helpful if the explanation would hint me towards `while` working.

I think the doc just needs a small update and I think the file to update is https://github

[2020-11-15 22:26] lcnr commented on #79018
:/

closing this as somewhat intended.

`const_evaluatable_checked` has to be active in both the crate defining the generic const operation and in the crate which tries to use it.

I don't think there is much we can do here. This compiles if you change `example/breakit.rs` to the following
[code]

[2020-11-15 22:48] ThePuzzlemaker commented on #78271
I'd like to work on stabilizing this. @rustbot claim

As for a name, I think that either `insert_and_get_mut` or `replace_and_get_mut` would be better than `insert_and_get` and `replace_and_get` as it implies that you are getting a mutable reference just from the name, without having to look at any signatures or documentation.

[2020-11-15 23:07] jplatte commented on #79018
Ohh, of course. But surely this could produce an error instead of an ICE, no?

[2020-11-15 23:09] mgeisler commented on #67295
Thanks a lot!

[2020-11-15 23:22] Firstyear commented on #31844
It may be the defacto, but that doesn't mean it's okay to use them. I find myself doing imports like "use color as colour" for example. I always trip up on the s vs z as well. I think given Rust's positive attitude to inclusivity and accessibility, it makes sense to chose language terms that are not locale dependent, as small user frustrations like color/colour and s/z do build up.

[2020-11-15 23:31] ssokolow commented on #31844
I agree in principle. I'm just skeptical that, for this case, there's a locale-neutral choice which doesn't cause more problems than it solves.

[2020-11-15 23:43] ehuss commented on #78665
@shepmaster added a new data point that they were able to reproduce on the Apple DTK (`aarch64-apple-darwin`), which helps rule out anything special about GitHub's environment.

I'm going to be away for a week or two, so I won't be able to look at this anymore.  I would recommend that if nobody wants to investigate this further, that someone should add `// ignore-macos` just to avoid the CI errors

[2020-11-15 23:45] RalfJung commented on #31844
As a non-English native speaker, I find it somewhat amusing that native English speakers would complain about extra `u` as being a barrier to inclusivity. Just imagine what it'd be like if everything was not spelled a bit weird, but written in an entirely different language.

For better or worse, things in Rust are spelled in US English. For many here this means working in their second or third la

[2020-11-15 23:46] programmerjake commented on #31844
use `special` as the keyword?

[2020-11-15 23:47] joshtriplett commented on #78210
I do think we need a better solution for building statically in general.

Passing an explicit `--target` is a workaround. We should have better handling for host vs target, as @petrochenkov suggested.

[2020-11-15 23:59] infinity0 commented on #78979
I couldn't reproduce the original EOVERFLOW issue on a mips machine with linux 4.19, the build succeeded even without patching away that flag. (So probably the existing EINVAL workaround was sufficient.) I'm trying to source a mips linux 5 box to try to reproduce it...

[2020-11-16 00:01] Mark-Simulacrum commented on #78979
@infinity0 It would be helpful if you could confirm that current beta branch (likely no release quite yet) fixes this issue.

[2020-11-16 00:04] infinity0 commented on #78979
@Mark-Simulacrum with the flag set from true to false (as per #79008) the build succeeds, so I assume it works - sadly I don't have time to test the branch specifically before the Thursday release but I'm sure it'll be fine.

[2020-11-16 00:12] camsteffen commented on #76353
Is this the same issue? The error fails to make any mention of lifetime `'a`.

[code]

Error:

[code]

[2020-11-16 00:46] Dante-Broggi commented on #78734
I can successfully clone `https://github.com/bjorn3/rust-ar.git` separately.

[2020-11-16 01:22] shepmaster commented on #78881
I've opened https://bugs.llvm.org/show_bug.cgi?id=48188 as I think there's still an LLVM issue, even though my specific case appears to disappear on LLVM trunk. I _do_ have an LLVM patch that allows the Rust testsuite to pass, however, so that's encouraging.

[2020-11-16 02:04] jyn514 commented on #76353
@camjackson no, that one's because you explicitly restricted `name: &'a str` to one specific lifetime: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=428e0b2ea360140631ca300668635f97

https://doc.rust-lang.org/nomicon/hrtb.html

[2020-11-16 02:07] camsteffen commented on #76353
I know, but the compiler error is misleading.

[2020-11-16 02:15] jyn514 commented on #76353
Ok, can you open a separate issue for that then? This issue is about when the error isn't necessary at all, the compiler just isn't smart enough to infer the higher-ranked type.

[2020-11-16 02:22] ThePuzzlemaker commented on #79083
@rustbot claim

[2020-11-16 02:28] ThePuzzlemaker commented on #79083
`if`, `match`, and `loop` are also allowed, but `for` is not.

[2020-11-16 02:35] jyn514 commented on #79083
@karolherbst if it helps, the reason `for` is forbidden but the others work is that for uses `IntoIterator` and traits in const functions are still unstable (search for 'for loops' on https://rust-lang.github.io/const-eval/).

[2020-11-16 02:56] karolherbst commented on #79083
yeah, that's understandable. The confusion on my side was simply that I didn't know I was allowed to user other control flow constructs until somebody mentioned it on IRC I actually could.

[2020-11-16 03:22] #79071 closed

[2020-11-16 04:00] mark-i-m commented on #31844
Alternative, make two keywords: `specialize` and `specialise` and make them equivalent...

(Or you funny non-Americans can learn to spell real proper :us: 😂 )

[2020-11-16 04:03] joshtriplett opened #79089 "Lint against treating `c_char` as `i8` or `u8`, for portability"
One common source of portability issues is making assumptions about whether `c_char` is `i8` or `u8`. Code written for one platform may fail to build on another due because of this.

I think we could detect this fairly easily: we could add an attribute that means "yes, this is a type alias, but treat it as a slightly distinct type, and lint when matching it against the aliased type if not going th

[2020-11-16 04:04] jhpratt commented on #31844
I can't speak was to what most languages do, but CSS uses American English spellings for everything new. Anecdotally American English seems to be used more frequently in programming as well.

[2020-11-16 04:09] joshtriplett commented on #79089
I've tagged this T-lang (because it's a proposed new lint and new attribute), and I've also tagged it for the three common architectures where char differs from the normal signedness.

[2020-11-16 05:19] jyn514 commented on #79089
Another lint I'd like: treating i32 or i64 as c_int.

[2020-11-16 05:51] Firstyear commented on #78827
This is still not sufficient.

I have updated the example such that rust has a call into the C component now. From the symbol outputs:

[code]

[code]

You can find the updates in https://github.com/Firstyear/demo_r_link/tree/reverse-call . In this lib.rs calls from f64mul to reverse_call in wrapper.c, which does correctly compile in. However, the symble for "wrapper_add" that calls back to f64sum

[2020-11-16 07:58] lcnr commented on #79018
This could, I don't know how to do that though :thinking:

so yeah, let's keep that open for now

[2020-11-16 08:46] ssokolow commented on #31844
@mark-i-m Unfortunately, that's a slippery slope leading to arguments that Rust should have alternative sets of keywords in every major language that learners might be coming from.

It also needlessly complicates the language to have multiple synonyms for keywords since people and parsers are only used to the idea that *whitespace* can vary like that.

[2020-11-16 09:11] alercah commented on #31844
Rather than arguing about which dialect of English we want this identifier to be in, perhaps we can compromise and put it in [Hebrew](https://stackoverflow.com/questions/592322/php-expects-t-paamayim-nekudotayim) instead?

[2020-11-16 09:15] Kixunil commented on #31844
@ssokolow while slippery slope argument in general is not a strong argument to use, I do agree with you in this case. One could argue that multiple languages is fine but there are at least two reasons why it's not:

* Some words in different languages look the same but mean different things (can't come up with programming-related example right now, but a random example: `a` in Slovak is `and` in E

[2020-11-16 09:52] Nemo157 commented on #72469
External `tests/foobar.rs` feature tests and doctests are downstream and will need to obey `non_exhaustive`, only internal unit tests are part of the crate and will ignore it.

[2020-11-16 09:57] pietroalbini commented on #78665
This also reproduced locally on a pratically clean macOS 10.15 installation by running `./x.py test --stage 2 src/test/debuginfo` (before I was running it with `--stage 1`).

[2020-11-16 10:09] oli-obk commented on #79018
This is almost impossible to emit a real error about. What we can do is add more text to the ICE

[2020-11-16 10:17] oli-obk commented on #77608
Ideally we'd remove the `PartialEq` impl and leave a comment that it can't have that impl, but I'm not sure what the fallout of that is.

[2020-11-16 10:35] zikunfan commented on #76698
I pretty much sure this bug turns back on `nightly-2020-10-06`

[code]

[2020-11-16 10:45] burdges commented on #31844
At least nobody needs to discuss football in code.  ;)

Around [70%](https://en.wikipedia.org/wiki/Geographical_distribution_of_English_speakers) of native English speakers live in countries using US spelling.

Also..

["The -ize spelling is often incorrectly seen as an Americanism in Britain. It has been in use since the 15th century, predating -ise by over a century. -ize comes directly from Gre

[2020-11-16 10:46] lcnr commented on #78369
The issue is here
https://github.com/rust-lang/rust/blob/f5230fbf76bafd86ee4376a0e26e551df8d17fec/compiler/rustc_middle/src/ty/walk.rs#L199

We currently look at all substs while we should only look at the generic params which are actually mentioned by the constant.
The correct solution would be to instead walk the `AbstractConst` in case it exists, but for that we would have to move that to `rust