[2022-08-23 19:38] Xiretza commented on #100914
I've been able to bisect this back to 2018-05-03.

[2022-08-23 19:41] programmerjake commented on #100422
I would redefine that to include cases where the result is defined but you can't wrap that to the result type, e.g. `sqrt(-1)` or `infinity`

[2022-08-23 20:07] RemyNoulin opened #100929 "Compile error when macro names start with identical strings"
I tried this code:

[code]

I expected the compiler to find the macroname2 macro.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

I get the same result with nightly:
[code]

[2022-08-23 21:08] estebank commented on #90286
We can close now.

[2022-08-23 21:08] #90286 closed

[2022-08-23 21:22] ehuss commented on #100929
I don't think this is related to having two macros with similar names.  You need to place the `macroname2` at the top of the file. `macro_rules` macro name lookup works "textually" where the macro needs to be defined before it is referenced. More information about macro scoping can be found here: https://doc.rust-lang.org/reference/macros-by-example.html#scoping-exporting-and-importing

[2022-08-23 22:28] stevenengler commented on #98746
This also seems to prevent me from debugging binaries with rust code in gdb. For example with a C project that statically links a rust library on Ubuntu 20.04 with rustc/cargo 1.62.0 and 1.63.0:

[code]

Then gdb isn't able to show debugging symbols for most of the code.

An llvm thread says this is a bug with DWARF 5 and gdb: https://discourse.llvm.org/t/gdb-10-1-cant-read-clangs-dwarf-v5/6035

I

[2022-08-23 22:53] scottmcm commented on #100422
I agree, but was considering that implied by "in ℤ", as that set includes neither −∞ nor ⅈ.

(Like how `f32::log(-0.5)` is `NAN`, not a complex number.)

[2022-08-23 22:54] jkarneges opened #100932 "Box::new copies generated Future unless call is wrapped"
Sometimes boxing a generated Future causes the value to be (unnecessarily?) copied. This can be worked around by wrapping the call to `Box::new`.

Code:

[code]

Asm contains a ~16k memcpy:

[code]

In main, if you comment out the first line and uncomment the second, the memcpy goes away, even though the code is nearly identical. I'd expect both ways to compile down the same.

`Box::pin` is simila

[2022-08-23 23:02] est31 commented on #100929
The error message could be improved though to contain the hint that `macroname2` exists but is below in the code.

[2022-08-23 23:36] c410-f3r commented on #48331
https://github.com/rust-lang/rust/pull/99917 has been merged so is anyone going to create a PR?

[2022-08-24 01:20] guswynn commented on #100932
moves are actually implemented as `memcpy`'s under the hood! Boxing the future requires you move the value from the stack into the allocation on the heap. In practice, I haven't ever seen a move cause a meaningful performance problem, unless the type is huge (futures CAN be huge). There were some RFC's at one point to add the ability to guarantee a value is constructed in place on the heap, but th

[2022-08-24 01:21] Rageking8 opened #100936 "For function returning simple closure, suggest possible way to specify the return type"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9337a96600130af288cdbc9cb19c9dab)

[code]

The current output is:

[code]

Ideally the output should suggest how to specify the return type when a function returns a closure.

[2022-08-24 01:23] thomcc commented on #48331
I think it needs a lot more discussion. It returns `std::io::Error`, which cannot trivially be moved into core, even now that `std::error::Error` can.

See https://github.com/rust-lang/project-error-handling/issues/11 on some of the challenges there, and discussion if doing so is even desirable. My personal stance is that it should be closer to something like `core::io::Write<Error = ...>`, as I m

[2022-08-24 01:33] jyn514 commented on #48594
@eddyb you're right, I misread https://doc.rust-lang.org/nightly/reference/expressions/match-expr.html#match-expressions. `match` is not usable as an example here because match arms allow any `ExpressionWithBlock` (which eventually allows `LoopExpression`). Here's a correct example of it being disallowed on `BlockExpression`: https://doc.rust-lang.org/nightly/reference/expressions/if-expr.html#if-

[2022-08-24 01:36] est31 commented on #100932
For more, see #49733

[2022-08-24 02:02] Amdahl-rs opened #100939 "cargo bench (signal: 11, SIGSEGV: invalid memory reference)"
I found that the compiler is getting more and more unstable.
The same code, in the following environment, although the compilation is slow, it can be successfully completed.

However, under the new version, it can be cargo build --release , and the bench will report an error

### Meta

`rustc --version --verbose`:
[code]
<output>
Caused by:
process didn't exit successfully:
`rustc --crate-name que

[2022-08-24 02:33] jkarneges commented on #100932
Yeah it seems like a Rust best practice is to always work with smallish structs and basically assume everything might get copied when moved, and hope that such copying won't be meaningful. Unfortunately, generated futures often make working with big structs unavoidable.

Interestingly, I discovered this issue while attempting to avoid moving futures. Most runtime spawn functions (for example, toki

[2022-08-24 02:35] jyn514 commented on #96524
@kckeiks what parts of this issue are you currently working on? don't want to step on your toes, but I think there's enough work here we can split it up between us and have plenty of work for both :)

[2022-08-24 02:43] lyming2007 commented on #100584
[code]
Current output is:
[code]
With my fix https://github.com/lyming2007/rust/pull/new/issue-100584

The output looks like:
[code]
There are still 2 issues for me.
#1 I am not able to emit something like
[code]
please give me an example, then I can look how the compiler deal with it.

#2 I can't upload a specific test case for this issue, because the test script will opt out the unused variable.

[2022-08-24 02:57] saethlin commented on #100939
Is there a way that anyone else can reproduce this? Without a reproducer it seems unlikely anyone can even confirm that this is a bug in the compiler as opposed to your system.

[2022-08-24 03:07] Amdahl-rs commented on #100939
@saethlin  see #4793

[2022-08-24 03:32] saethlin commented on #100939
So are you saying this issue can be closed as a duplicate of that issue? I still don't know what code you compiled here.

[2022-08-24 04:05] Stargateur commented on #84277
I would advice if you don't want use nightly to split you `Response` into two, one for Ok, one for Err. If you have several ok value or err value use two enums.

[code]

then use `Result<ResponseOk, ResponseErr>` that way better than your current approach and will fit nicely when Try trait is stable. If you end up saying "but sometime a response can be either Ok or Err" then the try trait is proba

[2022-08-24 05:49] Amdahl-rs commented on #100939
Right, you still don't know what code you compiled here. Because the compiler's error message cannot be located at all. As a programmer, don't you understand this? Your reply is like a fly humming, useless @saethlin

[2022-08-24 06:12] RemyNoulin commented on #100929
Thanks, I understand now my mistake.
The code above is incomplete, I had a macro_export directive:
[code]

And the error message is like this:
[code]

So, I have to move macroname2 above the first use or export it.

[2022-08-24 06:13] #100929 closed

[2022-08-24 06:31] matthiaskrgr opened #100948 "ICE: unreachable in compiler/rustc_ast/src/util/literal.rs with -Zunpretty=hir"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./20108.rs -Zunpretty=hir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-24 06:32] matthiaskrgr commented on #100948
Reduced:
[code]

[2022-08-24 06:54] SLASHLogin commented on #100717
I'll start working on `rustc_codegen_llvm`

[2022-08-24 07:30] WilliamVenner commented on #100939
How is one supposed to know if a bug has been fixed, if they can't reproduce it in the first place? How is a programmer supposed to understand a bug and fix it without being able to reproduce it in a codebase as complex as rustc?

[2022-08-24 07:46] Dango-rs opened #100950 "Compiler panicked once, next compilation succeeded"
Happened once only, on second try the compilation succeeded.

### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-24 07:55] Victor-N-Suadicani commented on #84277
Unfortunately the Response type is an enum coming from autogenerated code that is generated by prost, i.e. a Protocol Buffers type definition. So changing it is not so easy.

Would the try trait not be able to handle an enum like Response? For instance, imagine this:
[code]
With the try trait fully part of the language, would I not be able to write short-circuiting return behavior for this type, u

[2022-08-24 09:44] vberger opened #100952 "rustdoc produces gigantic on-disk content in modules with large number of numerical constants"
We have in Smithay some modules that define a large number of numerical constants (`const u32`), and this triggers a pathological edge-case in terms of documentation generation: rustdoc generates one 4.6 KB file for each of these constants.

For example see this module: https://smithay.github.io/smithay/smithay/wayland/seat/keysyms/index.html

It contains something like ~2400 numerical constants,

[2022-08-24 11:44] ChayimFriedman2 commented on #100936
@rustbot claim

[2022-08-24 11:50] c410-f3r commented on #48331
Thank you for the explanation @thomcc.

Here goes a copy-and-paste of `library/std/src/io/error.rs` with the new `error_in_core` feature  -> https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e30835b743ae49d77feb0c1f7c89d934

As seen above, the only thing preventing the inclusion of `std::io` structures and traits into the `alloc` crate (not `core` but that would still enable

[2022-08-24 12:22] Daudongit commented on #100936
@Rageking8  Is some thing like this not ok ?

[code]

[2022-08-24 12:27] GuillaumeGomez commented on #100952
So I think there are a few leads on how to address this:

 * Group all items like constants or functions into a same file (one for constants, one for functions, etc). The problem with this solution is that it's not backward compatible.
 * Remove items from the same module in the sidebar.
 * Try to shorten the DOM even more, but I don't think the impact would be big.
 * Others?

[2022-08-24 13:20] jyn514 commented on #95518
Yes, that would be super helpful to cut down on compile times :) Are there a known set of tests that fail, that we can manually exclude? Or can the failed tests change as you improve cg_gcc? If the latter than we might want to still build GCC from source so we have reliable tests.

[2022-08-24 13:26] jyn514 commented on #96064
@ben0x539 I think what's going on is https://github.com/rust-lang/rust/issues/56922; we don't report the broken link because we don't think it's controlled by the same author as the original crate.

That said, it's weird we don't strip the link, I think we do normally for failures in the same crate. Would be good to test that and see why it differs.

[2022-08-24 13:37] camsteffen commented on #87961
I recently learned this is possible and I also wish rustc had taught me this sooner. I think it should say something like:

[code]

[2022-08-24 14:04] pnkfelix opened #100954 "repr(transparent) could accept singleton ZST with alignment > 1."
I tried this code:

[code]

I expected to see this happen: That code could be accepted.

Instead, this happened: The code is rejected, with the diagnostic:

[code]

----

That is, we could loosen the `repr(transparent)` rules to say that it "requires *at most* one field that *occupies memory*"; this is a loosening of our current rules on two levels:
 * It would allow for there to be *no* non-ZST f

[2022-08-24 14:07] pnkfelix commented on #100954
Nominating for discussion at lang team meeting.

1. Does this deserve an formal major change proposal, or is this a small enough tweak that we could just amend the RFC and the reference as well as revise the implementation?
2. Is this worth doing at all?
  * I was about to claim that it seems like a minor issue, but then I realized of course that we *accept* `#[repr(transparent)] struct R([usize;

[2022-08-24 14:15] aDotInTheVoid commented on #81359
Another thing we don't have tests for: `ItemEnum::TraitAlias`

[2022-08-24 14:18] RalfJung commented on #100954
I think this formulation makes it not at all clear that alignment matters.

I would just say, it can have at most one field that is not a 1-ZST.

(Also Cc https://github.com/rust-lang/rust/issues/96921)

[2022-08-24 14:21] RalfJung commented on #100954
Yeah, and it is possible to construct `repr(transparent)` where all fields are ZST via generics. So if we have logic bugs in the compiler because of this (which I kind of expect we do, a bunch of code will be looking for "the first non-ZST field" and I am not sure if it always has code to handle the situation where no field is found), they are already exposed, just harder to hit.

[2022-08-24 14:42] bjorn3 commented on #95518
https://github.com/rust-lang/rustc_codegen_gcc/blob/master/failing-ui-tests12.txt is appended to the list of known failed tests in failing-ui-tests.txt on CI when testing with GCC 12.

[2022-08-24 14:58] pnkfelix commented on #100910
(FYI I also nominated PR #100676 for discussion at T-compiler meeting, essentially because of this associated issue; I hadn't seen that this was tagged as P-critical at that time. I'm leaving it nominated for now, just to ensure doubly that we discuss the matter.)

[2022-08-24 15:00] memoryruins commented on #88852
Trying the basic bit manipulation target feature mentioned in https://github.com/rust-lang/rust/pull/100528, some of these examples reduce in size.

[code]

Without the target feature,
[code]

With `-Ctarget-feature=+zbb`,
[code]

https://godbolt.org/z/5abahK6r1

[2022-08-24 15:17] ckaran opened #100957 "Space in path prevents build"
I'm trying to build rust from commit 4a24f08ba43166cfee86d868b3fe8612aec6faca by running `x.py build`, but keep getting the build error `c++: error: TB/repositories/rust/build/x86_64-unknown-linux-gnu/llvm/build/./lib: No such file or directory`.  I've pasted the complete build output towards the bottom of this but report, but the issue is that I have a space in my path; the complete path to the l

[2022-08-24 15:19] eaglgenes101 commented on #100939
More to the point, _what_ code, when `cargo bench`ed, causes the error?

[2022-08-24 15:21] estebank commented on #100584
You'd have to use:

[code]

Have you run `python3 x.py test src/test/ui/type/issue-100584.rs --bless`?

[2022-08-24 15:32] davidtwco commented on #100717
Some one-off tasks for anyone interested, some quite large and involved, others very small:

- `SessionDiagnostic` on enums ([source](https://github.com/rust-lang/rust/pull/100831#discussion_r951403293))
- Renaming `warn_` on `SessionDiagnostic` to `warning` now that we use `diag` instead of `warning`.
- In [#100753](https://github.com/rust-lang/rust/pull/100753/files#diff-75e151b9de9e9418f72fab3e

[2022-08-24 15:40] LuisCardosoOliveira commented on #100717
Hey! I'm working on the renaming task, might send a PR soon.

[2022-08-24 15:46] kckeiks commented on #96524
@jyn514 I had started working on "Simplify QueryDescription trait" and looking into "Refactor make_query::$name functions to a generic version instead of a macro". I was planning on continuing working on these tasks in the next 1-2 weeks when I would have more bandwidth. Please let me know what you plan to pick up.

[2022-08-24 15:57] jyn514 commented on #96524
Cool :) I've already done the `make_query` bits I think: https://github.com/rust-lang/rust/pull/100943
I'll let you know if I start working on anything else, I'll avoid QueryDescription for now.

[2022-08-24 16:06] aDotInTheVoid opened #100961 "Rustdoc-Json: More inconsistant names"
- `use`'s are refered to as `Import`'s
- `FnDecl` uses short `Fn`, but `Function` and `FunctionPointer` don't abbreviate
- `OpaqueTy` uses short `Ty`, but full `type` uses everywhere else
- `Header` not called `FunctionHeader`
- `Header` has fields `async_`, `const_` and `unsafe_`, but should be `is_async` (etc), like rest of types.

Somewhat of a followup to #94889

@rustbot modify labels: +T-rus

[2022-08-24 16:11] antoyo commented on #95518
In both cases, the failed tests can change, but the files pointed by bjorn3 will be updated accordingly.

[2022-08-24 16:21] veber-alex commented on #100932
On nightly with `-Copt-level=3` instead of `-O` (which is `opt-level=2`) there is no memcpy.

[2022-08-24 16:34] TaKO8Ki commented on #100948
********************************************************************************
Regression in a1bea1551b8312b6abfbbf7d49bafac2e6ce8ee4
********************************************************************************

[2022-08-24 16:36] matthiaskrgr commented on #100948
The assert was added in https://github.com/rust-lang/rust/pull/100907

[2022-08-24 17:12] estebank commented on #100873
CC https://github.com/rust-lang/rust/pull/52788

[2022-08-24 17:28] jkarneges commented on #100932
The memcpy is still present for me with `opt-level=3`.

[2022-08-24 17:43] mystor commented on #53485
The example with the iterator works OK while the one with the slice does not due to a slight difference in the function signatures. `slice::is_sorted_by_key` takes `for<'a> FnMut(&'a T) -> K`, meaning that `K` cannot borrow the argument, whereas `Iterator::is_sorted_by_key` takes `FnMut(Self::Item) -> K`, meaning that `K` can borrow the argument. This was likely done for symmetry with `slice::sort

[2022-08-24 17:50] TaKO8Ki commented on #100778
Regression in https://github.com/rust-lang/rust/commit/db8086eb6056f022d3bb719f777307e9daa3f8d8 added in https://github.com/rust-lang/rust/pull/95548.

[2022-08-24 18:02] domenicquirl commented on #67295
Hi all, I'd like to add that running into this is somewhat confusing if you don't happen to have read the aforementioned blog post. At least, it wasn't clear to me from [this section in the rustdoc book](https://doc.rust-lang.org/rustdoc/write-documentation/documentation-tests.html#include-items-only-when-collecting-doctests) that this doesn't work. Maybe this should be clarified if it's not on tr

[2022-08-24 18:39] est31 commented on #100932
Generally, optimizers employ a large amount of heuristics which are unreliable. It's not uncommon that something like this causes changes in their output.

If I had to guess, I would point at the LLVM 15 upgrade (#99464). LLVM keeps changing their optimizer all the time so it's possible that it now detects this case, whether unintentionally or not.

[2022-08-24 18:52] eholk commented on #100932
@rustbot label +A-AsyncAwait

[2022-08-24 19:03] 5225225 commented on #100867
Testing with the latest rustc: this doesn't reproduce anymore, and looks to have been **fixed** in https://github.com/rust-lang/rust/pull/100757.

---

(This is a bisect for `non-ice`)

searched nightlies: from nightly-2022-08-01 to nightly-2022-08-24
regressed nightly: nightly-2022-08-23
searched commit range: https://github.com/rust-lang/rust/compare/c0941dfb5a7d07ef2d70cc54d319669d9d6f6c01...01

[2022-08-24 20:32] Xiretza commented on #100914
@Cl00e9ment, could you post the following?

@rustbot label +T-compiler +I-unsound

I think those labels should be right, there is definitely a miscompilation happening somewhere. Hopefully that'll draw some attention here.

[2022-08-24 21:09] CAD97 opened #100972 "Trying to return `c_void` should suggest to return `()` instead"
e.g. [this irlo thread](https://internals.rust-lang.org/t/allow-returning-t-where-t-default/17223?u=cad97) was likely the result of someone translating a `void`-returning C function to a `c_void`-returning Rust function.

Given the following:

[code]

The current output is:

[code]

Ideally, this should also contain a help message along the lines of

[code]

and a suggestion to remove the `-> c_vo

[2022-08-24 21:34] matthiaskrgr commented on #100778
Hm so this has always crashed since the introduction of cfisan...?
Wouldn't really call this a regression then since there was no previous "working" state  ^^

[2022-08-24 21:38] soooch commented on #100867
I can confirm I no longer see an ICE on my machine with the latest nightly.

[2022-08-24 22:35] #100648 closed

[2022-08-24 22:35] #93875 closed

[2022-08-24 22:35] #100442 closed

[2022-08-24 22:35] #100736 closed

[2022-08-24 22:35] #100873 closed

[2022-08-24 22:38] aDotInTheVoid opened #100973 "Rustdoc-Json: Reference to missing item with 2 glob imports"
[code]

Produces an output with references to non existant items: `0:3:1564` and `0:1:1563`

[code]

<details>

<summary> Full </summary>

[code]

</details>

If you remove one of the imports, everything is fine

[code]

[code]

<details>

<summary> Full </summary>

[code]

</details>

This should have been caught by `check_missing_items.py`, but wasn't. Instead is was caught by [`jsondoclint`](ht

[2022-08-24 22:41] Urgau commented on #100973
Seems like a duplicate of https://github.com/rust-lang/rust/issues/99513

[2022-08-24 22:52] aDotInTheVoid commented on #100973
I don't thinks so, as that occors with just 1 import, whereas this requires 2. Also thats for importing foreign items, whereas this happens for local items.

[2022-08-24 23:51] aliemjay commented on #100725
error output under #100976
[code]

[2022-08-25 00:37] wcampbell0x2a commented on #89498
I think this is related. My code doesn't have returns, but maybe `build-std` is causing it to crash?

I tried this code:

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-25 01:06] #100939 closed

[2022-08-25 01:14] Amdahl-rs commented on #100939
There are already many  about such issues, the attitude of the community, let me choose to close it

[2022-08-25 01:57] teckick opened #100979 "unused_qualifications lint does not work on import path prefix"
unused_qualifications lint does not work on import path prefix.

I tried this code:

tree:

|- main.rs
|- status.rs

[code]

[code]

I expected to see this happen: *explanation*

[code]

Instead, this happened: *explanation*

[code]

### Meta

`rustc --version --verbose`:
[code]

However, the code is warned in Clion with Rust plugin (version 0.4.176.4815-222):

![image](https://user-images.githubu

[2022-08-25 02:28] biuiko opened #100981 "thread 'rustc' panicked at 'index out of bounds: the len is 0 but the index is 0'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-25 02:38] compiler-errors commented on #100981
@biuiko it would be super useful if you could provide test code for this!

[2022-08-25 02:43] #100867 closed

[2022-08-25 02:51] biuiko commented on #100981
I'm sorry but I'm working on my company's project and this is a private project :( I'll see if I can make a minimal reproducible example

[2022-08-25 02:59] dawnofmidnight commented on #100981
FYI, I'm getting a similar error (i.e. the panic message looks like `thread 'rustc' panicked at 'index out of bounds: the len is 110 but the index is 111', /cargo/registry/src/github.com-1ecc6299db9ec823/ena-0.14.0/src/snapshot_vec.rs:199:10`. I'm on `rustc 1.65.0-nightly (addacb587 2022-08-24)`. I'm trying to get a minimal reproducible example, but no luck so far.

[2022-08-25 03:01] compiler-errors commented on #100981
@dawnofmidnight is your codebase also private? I can take a look at this issue if it's public, even if all you have to share is the whole codebase.

[2022-08-25 03:01] gimbles commented on #100981
This might be a duplicate of #92004, the PR for that iirc hasn't released into nightly *yet* but will soon.

[2022-08-25 03:06] dawnofmidnight commented on #100981
I have just made it public (beware, it's horrifying). I was working on https://github.com/dawnofmidnight/spyce/blob/main/crates/syntax/src/lexer/mod.rs when I got this, but I think I updated somewhere in between, so I'm not sure if it was that particular file.

[2022-08-25 03:07] compiler-errors commented on #100981
@dawnofmidnight if you don't have a commit that actually repro's the issue, then that's fine, but I probably won't be able to investigate it.

@gimbles Yeah, possibly this issue is fixed by the same fix for #92004, since this is happening during codegen. I would be surprised if that fixes @dawnofmidnight's issue, which I think might be fixed by #99928 instead.

Just for the record, any time that y

[2022-08-25 03:08] dawnofmidnight commented on #100981
The commit on that repo does error on the latest nightly.

[2022-08-25 03:08] alistaircarscadden commented on #91079
I agree that having pairs of functions such that `min != minimum` and `max != maximum` is an issue. I had to check the documentation for why there were two functions to do the same thing to realize that they were functionally different. I think whatever the most explicit possible name is should be chosen. I don't think `minimum / maximum` is correct.

Here are some suggestions to add to the brains

[2022-08-25 03:12] gwy15 commented on #100981
Hi college of @biuiko here. We tried nightly and the good news is that the panic from rustc is gone, but now we're getting a
`overflow evaluating the requirement `<SomeBuilder as BuilderTrait>::ParCloned`. This should be a code design problem for us, I'll let you know whether this will compile in nightly after I fix this code.

[2022-08-25 03:13] gimbles commented on #100889
Note that this also happens on simple expressions, there is no "add semicolon" diagnostic here either

[code]
[code]

Also, *ideally **ideally*** we should really show that the different help suggestions can not be used together, rather the developer can pick *one* of them, making an issue for this :)

[2022-08-25 03:14] gimbles commented on #100981
You could try increasing the recursion limit maybe?

[2022-08-25 03:16] compiler-errors commented on #100981
(unrelated to this thread, but @dawnofmidnight your issue is fixed by #99928.)

[2022-08-25 03:18] dawnofmidnight commented on #100981
Oh, yay! And sorry for ineligible interrupting the wrong thread. 😅

[2022-08-25 03:19] gimbles opened #100983 "Clarify that the different help suggestions can not be used together"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2527d830a9efb6bbeb947dd2a2a47c74

[code]

The current output is:

[code]

Ideally the output should clarify that the different help suggestions can't be used together, rather the developer can pick one of them.

@rustbot claim

[2022-08-25 03:20] chipsenkbeil commented on #66621
@joshtriplett I just published [typed-path](https://github.com/chipsenkbeil/typed-path) to provide a 3rd-party option to do this to some degree. Needed this for a server of mine that accepts user paths and parses them agnostic of the compiled platform.

[2022-08-25 03:22] chipsenkbeil commented on #100833
@ncihnegn @ChrisDenton I just published [typed-path](https://github.com/chipsenkbeil/typed-path) as a means to partially solve this problem by providing [`UnixPath`](https://docs.rs/typed-path/latest/typed_path/unix/type.UnixPath.html) and [`WindowsPath`](https://docs.rs/typed-path/latest/typed_path/windows/type.WindowsPath.html), in case you were interested in something like this.

[2022-08-25 04:26] pierwill commented on #98896
@rustbot release

[2022-08-25 04:59] rben01 commented on #91079
To throw some other ideas in the mix:

By analogy with the distinction between quiet NaN and signaling NaN, maybe the new minimum (maximum) function should be called `signaling_min` (`signaling_max`).

I also like `lesser_of` (`greater_of`), as it kind of implies that `<` (`>`) will be used, which obviously return NaN if at least one argument is NaN. You could imagine the following conversation: "

[2022-08-25 05:13] #100165 closed

[2022-08-25 05:36] chenyukang commented on #100983
I also saw some other examples, it will be an confusion when multiple help messages for potential fixes printed at the same time.

Maybe we need an general rules for this? When emit help messages and find there are multiples ones we construct it in a better format for fixing choices.

[2022-08-25 05:48] chenyukang commented on #100878
@rustbot claim

[2022-08-25 06:19] ChayimFriedman2 commented on #100936
@rustbot release-assignment

[2022-08-25 06:27] CryZe commented on #91079
This might also influence the naming situation: There's more than just these two algorithms.

Rust's max is IEEE Std 754-2008 maxNum
This new one is IEEE Std 754-2019 maximum
And there's also IEEE Std 754-2019 maximumNumber
And I feel like WebAssembly's pmax is also worth considering having (ignore's NaN for a fast impl)

[2022-08-25 07:38] colt-browning commented on #22932
This is fixed in Rust 2021, so no rust-2-breakage-wishlist label is needed.

[2022-08-25 07:45] scottmcm commented on #91079
The new one is arguably the "best" one, as it's the one that behaves most similarly to everything else with respect to NANs -- the other binary functions like `add` and `atan2` do the same "NAN if _either_ input is NAN", same as what `maximum` does.

So one option might be to deprecate `max` under that name and offer it as `max_ignoring_nans` or something, letting the new one get the name `maximum

[2022-08-25 07:53] apiraino commented on #100725
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100725.20Borrow.20checking.20for.20static.20methods.20became.20more.20stri.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-08-25 08:38] gwy15 commented on #100981
I fixed the infinite recursive type problem and now the code compiles both in nightly and stable.

I tried but couldn't get a minimal reproducible example :( Hopefully this is fixed in #100757

[2022-08-25 08:42] gwy15 commented on #100981
BTW I tried nightly-2022-08-22 and that gives the exact same ICE output. Given that #100757 is merged 3 days ago, I believe that is the issue here.

[2022-08-25 09:05] gimbles commented on #100981
PRs usually take a release or two *after* being merged to land into a nightly.

Honestly, considering the error message and the stacktrace 'n all are very similar, I'd bet that this is fixed and is a duplicate.

[2022-08-25 09:06] apiraino commented on #100923
@linkmauve is the provided code sample enough to reproduce without pulling in the `luma` project? Has `other_unrelated_function()` in your sample an observable effect on reproducing the issue?

I notice you're compiling on `x86_64-unknown-linux-gnu` but (iiuc) crosscompiling to `powerpc-unknown-eabi`: Can you provide a workflow to crosscompile the sample code for that platform outside `luma`?

tha

[2022-08-25 09:25] reez12g opened #100990 "Playground not working?"
I ran the code shown in the following image.
I received this error message.
`Response was not JSON: SyntaxError: Unexpected token '<',"<!DOCTYPE "... is not valid JSON`.

<img width="1578" alt="Screen Shot 2022-08-25 at 18 18 50" src="https://user-images.githubusercontent.com/46887885/186626750-85669ffa-f9bc-4e73-9f91-a3f7c0faed28.png">

Looking at the response to the Run request, it appears that

[2022-08-25 09:28] lcnr commented on #100910
this is an existing issue on stable if we prevent the projection from normalizing in the impl while normalizing it when using the impl:
[code]
that's the same issue as #98543, which has been only fixed for function signatures

[2022-08-25 09:37] TaKO8Ki opened #100991 "Recursion limit tripped in doc but not in other profiles"
The diesel benchmark has been broken in some recent commit: https://perf.rust-lang.org/status.html.

ref: [zulip comment](https://rust-lang.zulipchat.com/#narrow/stream/247081-t-compiler.2Fperformance/topic/.60diesel.60.20benchmark.20broken/near/295189845)

[2022-08-25 09:43] reez12g commented on #100990
When a colleague ran it, there was no problem, so it does not seem to occur 100% of the time.

I am not sure of the situation yet, so I will temporarily close it.

[2022-08-25 09:43] #100990 closed

[2022-08-25 09:45] m-ou-se opened #100992 "`named_arguments_used_positionally` lint drops some formatting options"
[code]

[code]

The `:x` disappears.

[2022-08-25 09:45] m-ou-se commented on #100992
I found this while refactoring `compiler/rustc_builtin_macros/src/format.rs`. Assigning to myself to fix as part of the refactor.

[2022-08-25 10:11] ValentinColin opened #100994 "Bad rendering Markdown table with rustdoc"
I tried this code:

[code]

I expected to see this happen:
The Markdown table in the doc is supposed to have the same rendering in a trait implementation and elsewhere.

Instead, this happened: *explanation*
The Markdown table in the doc of a trait function implementation is not correct.

There is no separation between columns and rows. Except for the header table.

Also, I don't know if it's inte

[2022-08-25 10:15] rylev commented on #100991
The error seems to be caused https://github.com/rust-lang/rust/issues/100757 (cc @ouz-a). Curiously, this only happens in `doc`.

Here's the error:

[code]

The line where the error triggers is:

[code]

You can reproduce this issue by:
* cloning the rustc-perf repo
* going to diesel-1.4.8 benchmark in that repo
* installing commit `a72b0e79ba45f05b339b45034996086bf10d3c26 ` using `rustup-toolchai

[2022-08-25 10:25] ouz-a commented on #100991
How can I run this via locally built rustc? @rylev

[2022-08-25 10:26] m-ou-se opened #100995 "Invalid diagnostic for 'extra required argument' for explicit numbered precision argument."
[code]

It says there are two arguments expected, but that's not true. This only needs one argument.

[2022-08-25 10:26] m-ou-se commented on #100995
I found this while refactoring `compiler/rustc_builtin_macros/src/format.rs`. Assigning to myself to fix as part of the refactor.

[2022-08-25 10:28] TaKO8Ki commented on #100992
I think this problem has already been solved in #100826.

[2022-08-25 11:08] m-ou-se commented on #100992
Ah, thanks. Yes, that fixes it.

It seems like it could've been fixed by only removing some 'special' cases in the original code, without `span_to_snippet`, but I'll do that as part of my refactor.

[2022-08-25 11:08] #100992 closed

[2022-08-25 11:24] weiznich commented on #100991
https://github.com/rust-lang/rust/issues/100620 might be related as well?

[2022-08-25 11:33] ouz-a commented on #100991
That indeed looks related, so #100705 should fix this ?

[2022-08-25 11:53] rylev commented on #100991
The comment [here](https://github.com/rust-lang/rust/pull/100705#issuecomment-1226849391) also makes it look like #100705 will fix this.

[2022-08-25 12:12] tspiteri commented on #76014
The `split_at_unchecked` method was made unstably const in #100076, such that stabilizing `slice_split_at_unchecked` will now also make it stably const.

[2022-08-25 12:22] Rageking8 commented on #100936
@Daudongit It's ok but I was wondering if it's possible to make the compiler give some form of a suggestion to the user on how to do this. Cause current the diagnostics does not suggest how to fix it.

[2022-08-25 12:34] GuillaumeGomez commented on #83428
So from the following code:

[code]

`BarPriv` is stripped and then inlined. The stripped version contains all the correct `cfg` information but the inlined one doesn't. Checking what's the best course here: either cloning the stripped item or propagating when inlining.

[2022-08-25 12:36] m-ou-se commented on #100992
That struct and that method are entirely gone after my refector, and the entire `has_formatting` will be unnecessary. :)

[2022-08-25 12:39] c410-f3r commented on #99852
Does not ICE any more after #100571. Test added in #100998.

[2022-08-25 12:40] c410-f3r commented on #99866
Does not ICE any more after #100571. Test added in #100998.

[2022-08-25 12:40] MingyuChen1 commented on #100717
I'll start working on ``rustc_middle``

[2022-08-25 12:42] TaKO8Ki commented on #100992
That's great!

[2022-08-25 12:55] Urgau commented on #91079
C/C++/Swift doesn't (yet ?). C#/Python have the IEEE 754-2019 `minimum` and `maximum` semantics as their `min`/`max` function from the start. BUT there doesn't seems to have any language that have both the 2008 and 2019 semantics.

They are named `minimum` and `maximum` in IEEE 754-2019.
Note that the previous functions `minNum` and `maxNum` from IEEE 754-2008 (and below) are deprecated in IEEE 75

[2022-08-25 12:58] wcampbell0x2a commented on #98378
Any update on this? I'm seeing the same issue with `cargo +nightly build --release -Zbuild-std --target thumbv7em-none-eabi`

[2022-08-25 13:12] CryZe commented on #91079
I still feel like the standard is being misrepresented here. There's 4 functions now, not 2:

![https://i.imgur.com/Nl3tXju.png](https://i.imgur.com/Nl3tXju.png)

[2022-08-25 13:19] klensy opened #101001 "-Zmeta-stats ICE: with thread 'rustc' panicked at 'called `Result::unwrap()` on an `Err` value: Os { code: 5, kind: PermissionDenied, message: "Access is denied." }"
`-Zmeta-stats` started ICEing between nightly-2022-07-15 and nightly-2022-07-16, looking at diff https://github.com/rust-lang/rust/compare/c2f428d2f3340a0e7d995f4726223db91b93704c...23e21bdd25026e2839ebe946c2a937c1904887d2 it's probably https://github.com/rust-lang/rust/pull/96544, so @m-ysk ?

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><sum

[2022-08-25 13:52] RalfJung commented on #76001
Yes, it is the same for const items defined inside an unused function.

[2022-08-25 14:01] SetTheorist opened #101003 "ICE ("broken MIR") when building nalgebra v0.24.1 in release mode"
In a freshly created bin, cargo build --release with the only dependency in Cargo.toml being nalgebra="0.24.1" gives a panic in rustc.

I am using rustc 1.65.0-nightly (060e47f74 2022-08-23) running on x86_64-unknown-linux-gnu

I expected to see this happen: code compiles successfully

Instead, this happened: compiler panics with ICE:

    Updating [crates.io](http://crates.io/) index
   Compiling

[2022-08-25 14:03] kornelski commented on #48043
@Toru3 Overcommit is a known limitation, and it's been considered in [the RFC](https://github.com/rust-lang/rfcs/blob/master/text/2116-alloc-me-maybe.md#additional-background-overcommit-and-killers). You can mitigate the problem on the OS level either by disabling overcommit, or running code in containers with limited amount of memory. Within Rust programs you can reduce chance of hitting the prob

[2022-08-25 14:19] RalfJung commented on #76001
... or that's what I thought, anyway. But [this example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=99ab83b46d3706bbac63d883474e7e36) shows the error. So something seems wrong.

@rust-lang/wg-const-eval are inline `const` not added to `required_const`?

[2022-08-25 14:23] pnkfelix opened #101004 "disable MIR inlining on beta-1.64"
As discussed in T-compiler meeting https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-08-25/near/295236517, we are going to disable MIR inlining on beta-1.64 in order to resolve issues like #100550 and #100476 without having to do semi-risky backports.

For reference, the PR that enabled MIR inlining was PR #91743

[2022-08-25 14:25] nbdd0121 commented on #76001
Inline consts can refer to generic params so it cannot be evaluated without monomorphization. It's more similar to associated consts, e.g. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=67a54b6741a3b5b09dbd5d70ed831681.

[2022-08-25 14:35] RalfJung commented on #76001
Ah, makes sense. This particular `const` does not use generic parameters so it could be treated differently...

Anyway we do guarantee that the inline const are evaluated if the function is ever actually potentially executed at runtime, even if the result of the inline const is unused.

[2022-08-25 15:08] Mark-Simulacrum commented on #101004
cc https://github.com/rust-lang/rust/issues/100550#issuecomment-1214876441 (and subsequent comments) -- it doesn't look like that was discussed prior to agreeing to do this.

[2022-08-25 17:25] khuey commented on #96438
The first half of this is fixed, `as_ref` is now suggested in the correct spot. But it still should be `as_mut` that's suggested.

[2022-08-25 17:28] scottmcm commented on #91079
@m-ou-se

When used in isolation as a normal binary function between two calculated values, I'd [say](https://github.com/rust-lang/rust/issues/91079#issuecomment-1226899050) that `maximum` is the one that does what people want and expect.

But when considered as a way to collapse a full sequence, both are usable in different cases.  You can think of them kinda like `.flatten().fold()` vs `.try_fol

[2022-08-25 17:57] mqudsi opened #101008 "Automatically `s/use core::/use std::/` where applicable"
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-25 18:53] tsuyoshi2 commented on #86442
`io::ErrorKind::FileTooLarge` corresponds to `EFBIG`, which is in POSIX, see [here](https://pubs.opengroup.org/onlinepubs/9699919799/functions/write.html#tag_16_685_05). This error is distinct from `io::ErrorKind::StorageFull` or `ENOSPC`.

[2022-08-25 19:56] khuey commented on #56068
This continues to be an enormous problem. I have a binary that's 1% useful stuff and 99% debug info, almost all of which is for dead code.  And that `--gc-debuginfo` LLD thing hasn't had any activity in almost two years.

[2022-08-25 20:06] Brisklemonade commented on #94071
What's the status on this?

[2022-08-25 20:25] isikkema commented on #101001
Looks like file is created write-only here: https://github.com/rust-lang/rust/blob/master/compiler/rustc_serialize/src/opaque.rs#L196

and is trying to be read here: https://github.com/rust-lang/rust/blob/master/compiler/rustc_metadata/src/rmeta/encoder.rs#L780

I haven't contributed here yet, but it looks to me like `File::options().read(true).write(true).create(true).truncate(true).open(path)?`

[2022-08-25 20:26] nkconnor commented on #86019
Note, the same paren suggestion is used in an example like this:

[code]

I was just tripped up by this trying to use a static function that inherits `impl MyTrait for FnOnce<(Arg1,)>` from another crate.

[2022-08-25 20:46] cjgillot commented on #101003
This is fixed by https://github.com/rust-lang/rust/pull/100571, to appear on the next nightly.

[2022-08-25 20:46] #101003 closed

[2022-08-25 21:08] kupiakos commented on #29603
For now, can we open up the restrictions of `#[linkage]` to allow for `Option<fn()>` as well as `*const T`/`*mut T`? That's the natural way to describe a nullable function pointer. Right now, the only way to `extern_weak` a function is by declaring it as `*const whatever` and `transmute`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=38b2a33945ac7481f7240896590b5c24.

[2022-08-25 21:58] scottmcm opened #101013 "Error for `.toString()` doesn't suggest `.to_string()`"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b273ae376e9d4fd5c5b14c61866b3d0b

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

AKA it would be nice to include in-scope trait methods in the typo possibilities list, not just inherent methods.

[2022-08-25 22:31] viviford opened #101015 "Unexpected Panic: the compiler unexpectedly panicked. this is a bug."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

Compiling snarkvm-algorithms v0.7.5 (https://github.com/AleoHQ/snarkVM.git?rev=e866f2d#e866f2d2)
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: reqwest::Error { kind: Request, url: Url { scheme: "https", cannot_be_a_base: false, username: "", password: None, host: Some(Domain("vm.ale

[2022-08-25 22:43] ChrisDenton commented on #100833
Great! I'm closing this issue in favour of #66621 or using a crate.

[2022-08-25 22:43] #100833 closed

[2022-08-25 23:54] saethlin opened #101034 "ICE in teensy4-fcb 0.3.0: error during interning should later cause validation failure"
I'm downloading this crate from crates.io with `cargo-download`, if you are looking to reproduce. Don't know what git commit this version corresponds to.
[code]
I have no idea how this is possible. This isn't a `#![forbid(unsafe)]` crate, but `cargo geiger` finds no unsafe.

<details><summary>backtrace</summary>
[code]
</details>

[code]

[2022-08-25 23:57] compiler-errors commented on #101015
@viviford please make sure to fill out the sections of this issue!

[2022-08-26 00:09] #49735 closed

[2022-08-26 00:45] viviford commented on #101015
Very new to rust (was trying to run a client node for a crypto project) so I apologize if this isn't helpful!

[2022-08-26 01:23] SUPERCILEX commented on #94071
Probs still waiting on using `AsRef`.

[2022-08-26 02:06] Aiden2207 opened #101020 "GAT ICE: cannot relate bound region"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
Note that on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b43c3871e5cb97633d94ded8a1b8a1ac) (nightly-2022-08-16) the correct error message is produced instead of an ICE.

### Error output

[code]

[2022-08-26 04:16] jyn514 commented on #100957
Duplicate of https://github.com/rust-lang/rust/issues/56650

[2022-08-26 04:16] #100957 closed

[2022-08-26 05:50] Roushlfy opened #101024 "Issue: Bring in Other packages/crates into scope"
[Issue0826.md](https://github.com/rust-lang/rust/files/9430170/Issue0826.md)

# Issue: Bring in Other packages/crates into scope

## Synopsis

I have encountered some problems when I tried to bring in other packages.

In a nutshell, I'm wondering how to use another binary crate in the current binary crate.

## Description

The structure of my project `wordle` is like this:

`.` is the current dire

[2022-08-26 06:05] #100948 closed

[2022-08-26 06:14] #101024 closed

[2022-08-26 08:11] vberger commented on #100952
Providing some update about this part:

Actually, updating our CI script to *not* store the history on `gh-pages` and instead just overwrite the branch every time drastically improved the situation. While the total size of the generated documentation is still 220 MB, it appears that git is able to compress it *very well*, as now a fresh pull of the smithay repository is only 15 MB (as opposed to ~

[2022-08-26 08:35] lcnr opened #101027 "E0311 references nonexistant lifetime"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d55c130a01f69dede262830dd4771bdf

[code]

The current output is:

[code]
`'a` does not exist, maybe it should get introduced by the diagnostic

[2022-08-26 08:40] faern commented on #56533
Hello from 2022 :wave: Just wanted to provide some updated info here

Windows 10 version 1803, the version introducing UDS, is now over four years old. This and all earlier Windows 10 version has reached [end of mainstream service](https://docs.microsoft.com/en-us/windows/release-health/release-information) already.

Windows 10 1803 is older than:
* Debian 10 - The oldest Debian release that is no

[2022-08-26 09:07] ahcm opened #101029 "nalgebra dependency causes compiler bug"
I wasn't working on this for a while and now it throws a compiler bug.
Made public for you:
https://github.com/ahcm/lrdf

[code]

### Meta

[code]

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-26 10:05] gimbles commented on #101029
I can compile the said repo just fine on both latest stable and latest nightly (2022-08-23), in both debug and release modes on x86_64-linux-gnu-unknown

[2022-08-26 10:07] gimbles commented on #101008
I'm going to be honest, this feels slightly unnecessary. While I'm sure it's coming from good intentions, "accidentally used an std type from the core crate" just seems like a situation that'd *very rarely* occur

[2022-08-26 10:12] rylev commented on #100991
Unfortunately, #100705 did *not* fix the issue.

Using the build bors creates after merge 983f4daddf238d114c4adc4751c5528fc6695a5a, `cargo +983f4daddf238d114c4adc4751c5528fc6695a5a doc` leads to the same error as above.

@ouz-a to reproduce this, you just need to clone the rustc-perf repo and cd into `collector/benchmarks/diesel-1.4.8`. Then run `rustup-toolchain-install-master 983f4daddf238d114c4

[2022-08-26 10:19] ouz-a commented on #100991
Thanks, I will try to push a fix today.

[2022-08-26 11:46] marmeladema opened #101035 "Tracking Issue for addr_parse_ascii feature"
Feature gate: `#![feature(addr_parse_ascii)]`

This is a tracking issue for parsing network addresses (IP, Socket, etc) from a slice of bytes.

Internally the parser already works on bytes, this feature exposes publicly the ability to parse network address from a slice of bytes and therefor avoid the need to do utf8 validation in case one has only bytes.

### Public API

[code]

### Steps / Histor

[2022-08-26 12:05] DutchGhost opened #101036 "Const generics out of range when substituting substs=[]"
This issue does *NOT* occur on nightly, so perhaps it's a duplicate that has already been fixed, but I could not find a similar issue on github. Feel free to close if this has already been fixed :)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-26 12:08] 5225225 commented on #101029
Can you include your Cargo.lock in the repo?

[2022-08-26 12:12] DutchGhost commented on #101036
Some tweaks are required to make it ICE on nightly rustc 1.65.0-nightly (86c6ebee8 2022-08-16):

[code]

[2022-08-26 12:13] RalfJung commented on #101034
I am pretty sure https://github.com/rust-lang/rust/pull/101038 should fix the problem. But I have no idea how to even trigger it in a self-contained testcase.

[2022-08-26 12:17] compiler-errors commented on #100620
This apparently was not fixed.

[2022-08-26 12:20] CryZe commented on #101029
Probably a dupe of https://github.com/rust-lang/rust/issues/101003

[2022-08-26 12:25] compiler-errors commented on #100991
I'm just gonna revert my original PR that introduced this overflow until I can create a version that works with diesel, @ouz-a, given the perf regression of my "fix" and the remaining existence of this issue, so don't waste too much time on this.

[2022-08-26 12:28] ouz-a commented on #100991
I already found a fix 😅

[2022-08-26 12:41] gimbles commented on #101029
@ahcm The fix is already merged into Rust for this issue, please update to a later nightly.

[2022-08-26 14:49] pnkfelix commented on #101004
I opened a zulip thread to discuss this further: https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.28re.29debating.20disabling.20MIR-inlining.20on.201.2E64-beta.20.23101004/near/295256039

[2022-08-26 14:50] xFrednet commented on #54503
Hey @ssokolow, is your comment in favor of forbidding other lint level attributes for `expect` like it's done for `forbid` or just a general statement? :upside_down_face:

[2022-08-26 15:00] camsteffen commented on #53667
I just tried writing `if <BOOL> && if let ...` and it fails pretty terribly. Shouldn't this be supported? If not, there should at least be better diagnostics.

[code]

[code]

[2022-08-26 15:03] steffahn commented on #100521
I can reproduce getting an ICE with
[code]

[2022-08-26 15:05] jsha commented on #100421
This still reproduces for me. I forgot to mention: this is in Chrome on Linux.

[2022-08-26 15:06] tronta commented on #53667
maybe you should try
[code]

[2022-08-26 15:40] klensy commented on #101001
That should probably works, `File::options().read(true).write(true).create(true).truncate(true).open(path)?`, but looks little hacky.

[2022-08-26 15:45] Helltraitor opened #101045 "Some error messages are invisible in Solorized Light"
In some cases, rust compiler doesn't provide full error information:
Here, all is fine: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=44b2e8f8c231c6475a366c84f25f4ecd

[code]

[Example on FreeImage.host](https://freeimage.host/i/4q7JuR)
This issue appears on Windows terminal, but also I think that this is platform independed.

Consider to make error message color red as i

[2022-08-26 15:47] #83428 closed

[2022-08-26 15:59] c410-f3r commented on #99866
Oooppsss... Sorry, this test still ICE.

On the bright side, I was able to reduce the compiler arguments to `--crate-type lib --emit=link`.

[2022-08-26 16:02] c410-f3r commented on #99852
Oooppsss... Sorry, this test still ICE.

Wasn't able to reproduce before but now it is known that the minimal compiler arguments are `--crate-type lib --emit=link -C opt-level=1`.

@H2WO4 Can you re-open?

[2022-08-26 16:10] the8472 commented on #101045
Assuming the compiler uses standard 8x2 ansi colors (8 colors x 2 brightness levels) and not RGB values then this is an issue with the terminal configuration. You have to set up your color scheme so that those 16 colors are distinct.

[2022-08-26 16:13] ojeda opened #101047 "`-Zunpretty=expanded` output with `global_asm!` loses semicolon thus cannot be formatted"
Consider:

[code]

(Note: the `f` function is important to reproduce the issue, otherwise the output disappears: see https://github.com/rust-lang/rust/issues/101051)

[code]

This generates a line like:

[code]

Which cannot be formatted because:

[code]

(It also loses the path to `global_asm!`, but that is not required for formatting)

### Meta

Reproduces in both stable (1.63.0) and nightly.

[2022-08-26 16:14] Nugine opened #101048 "codegen regression for bool"
### Code

I tried this code:

<https://rust.godbolt.org/z/3EW6zoffE>

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

There are two unnecessary instructions:

[code]

### Version it worked on

It most recently worked on: Rust 1.63, Rust beta

### Version with regression

`rustc --version --verbose`:
[code]

@rustbot modify labels: +regression-from-stable-to-nightly -

[2022-08-26 16:21] ojeda opened #101051 "`-Zunpretty=expanded` output may not contain `global_asm!` depending on comments/whitespace/..."
Consider:

[code]

(Note: the `//` line is important)

[code]

This generates lines like:

[code]

(See related issue https://github.com/rust-lang/rust/issues/101047 for the lack of semicolon and path).

However, removing the comment line:

[code]

Makes the `global_asm!` disappear in the output.

I have also observed similar problems with whitespace, e.g.:

[code]

vs.

[code]

### Meta

Reproduc

[2022-08-26 16:27] isikkema commented on #101001
I agree it looks wonky, but the only other option would be storing the path in `FileEncoder` and then creating a new read handle on it later, AFAIK. <-- I like this option much less.

[2022-08-26 16:39] Helltraitor commented on #101045
I'm not quite understand what I can or must do. Windows terminal supports RGB (or I don't get your message):
https://www.reddit.com/r/Batch/comments/k5iprq/the_windows_console_apparently_now_supports_rgb/

[2022-08-26 17:01] vahidmohsseni opened #101053 "SPLICE API removes ending bytes"
I tried this code:

[code]

As you see, I allocated 128 bytes of u8. The first print instruction shows the bytes and the size of the vector correctly (128). However, after adding data with `splice`, the size of the vector changes to 119.
It seems that the last `splice` with `some_random_string` eliminates some bytes from the end.

`rustc --version --verbose`:
[code]

[2022-08-26 17:13] 5225225 commented on #101053
some_random_string isn't 47-27=20 bytes long, is it? This is intended behavior.

See https://doc.rust-lang.org/std/vec/struct.Vec.html#method.splice

If you provide an iterator that's shorter than the range, you will remove items from the list. Same for providing one that's longer than the range.

Are you perhaps looking for https://doc.rust-lang.org/std/vec/struct.Vec.html#method.copy_from_slice

[2022-08-26 17:13] RalfJung commented on #97314
Why did you expect these to work?
The following should work: `./x.py test src/test/ui`, `./x.py test library/core`. I think currently this is by design.

Or is this a feature request to make  `./x.py test src/test` basically `./x.py test src/test/*`?

[2022-08-26 17:15] fitzgen opened #101054 "Suggest calling `size_of` when it is missing parens in a comparison"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

-------------------------

Probably worth not making this diagnostic suggestion specific to `size_of` but to any type error where there is a comparison of a function and the return type of that function.

[2022-08-26 17:21] AngelicosPhosphoros commented on #99682
I think, almost everyone expect it to catch everything as actual compilation would. This is a whole point of it: check compilation errors without generating code.

[2022-08-26 17:21] the8472 commented on #101045
There are multiple ways to tell a terminal to show a color. Either is to set explicit RGB values (which can be problematic if one uses an RGB value as foreground which matches the user-defined background) or as a 16-color palette that is user-configurable.

As far as I can tell rustc only [uses the latter](https://github.com/rust-lang/rust/blob/42fa8ac7236f4f78a82aeea543bdd445a59f02e0/compiler/rus

[2022-08-26 17:24] compiler-errors commented on #101054
We have similar diagnostics to suggest using parentheses other places, probably just need to generalize them to work for operator dispatch as well. I'll fix this this weekend.

@rustbot claim

[2022-08-26 17:27] est31 commented on #97314
Yeah it's a feature request. I filed it upon invitation of @jyn514 after he asked about pain points of bootstrap : https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/pain.20points.20of.20bootstrap/near/283314219

[2022-08-26 17:27] est31 commented on #97314
Yeah this exactly.

[2022-08-26 17:30] vahidmohsseni commented on #101053
Thanks for the information. It seems that I missed that part of the documentation.

I was looking for behavior that inserts into a range of a vector same as splice but maintains the size from the source.

[2022-08-26 17:30] #101053 closed

[2022-08-26 17:52] ChrisDenton commented on #101045
This is a known issue with the solarized colour scheme: https://github.com/microsoft/terminal/issues/6997. It is recommended to either use another theme or to override the invisible colours manually.

[2022-08-26 17:57] Monadic-Cat commented on #51245
Now that #88098 has been merged, what's the status of this issue?

[2022-08-26 18:16] vi commented on #98862
Can `mem::uninitialized` be re-purposed to return arbitrary, but frozen bytes, to allow old pre-`MaybeUninit`, pre-modern-definition-of-undefined code to compile and work?

Or can old code with some specific `mem::undefined` patterns that are also expressible in sound terms be somehow magically transformed into a sound code (maybe with this magic only happening in old edition).

Currently ability

[2022-08-26 18:21] RalfJung commented on #98862
It was recently changed to return memory filled with `0x01`.

[2022-08-26 18:23] RalfJung commented on #98862
Could you give more details on that?

Now that we do the `0x01`-filling, we might want to adjust the panics to only fire if `0x01` would lead to trouble.

[2022-08-26 18:29] 5225225 commented on #98862
We do have an explicit hole in our stability promise for making our underspecified semantics more specified. "What you can do with uninit memory" was previously rather unspecified, this is making it more specified. Yes, this does break code that was written assuming that uninit data was fine.

See: https://github.com/rust-lang/rfcs/blob/master/text/1122-language-semver.md

Now that doesn't mean we

[2022-08-26 18:44] CAD97 commented on #98862
To be clear, this is proposed as an alternative to removing the function, correct?

This is merely an improvement in performance over the current state of things, where IIUC `uninitialized` will only panic if the code is UB even under the arbitrary but consistent semantics. Thus, code using `uninitialized` is at least as functional as it ever was. (It may be more due to the support of zeroing or o

[2022-08-26 18:50] RalfJung commented on #98862
I don't think we should use `freeze` since we don't expose any other way of `freeze`ing memory, so there is a non-0 risk that users might reach for `mem::uninitiailized` if they want frozen memory.

Also, the 0x01 filling was picked because uses of `mem::uninitiailized` with `nonnull` types was fairly common. Those would be UB even with `freeze`, so there'd still be planty of panics needed (only p

[2022-08-26 19:20] Helltraitor commented on #101045
Thanks, I will choose another theme.

[2022-08-26 19:20] #101045 closed

[2022-08-26 19:35] vi commented on #98862
I remember two of my small projects: [one](https://github.com/vi/turnhammer/commit/08b15c5e8fc51b663d46bd6e3d1dfc40f43fc2c2) using Tokio 0.1 and [the other](https://github.com/vi/mal-rust-vi/tree/9614838720bc130d49d7a15777e6a1f73b13ca25) using old version of [pest](https://crates.io/crates/pest) to be buildable (with big compat warnings about `mem::uninitialized`), but not runnable (e.g. `futures:

[2022-08-26 19:43] inf0rm4tik3r opened #101058 "Compilation suddenly stopped working; Cargo clean fixed the problem"
Compilation suddenly stopped working. Rustc only reported the error below on every compilation attempt. I messed around with a rather complex trait involving many (16 at the moment) associated types.
After running `cargo clean` and rebuilding the project from scratch, the application compiled again and ran as good as always.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Err

[2022-08-26 20:26] b-naber commented on #101036
https://github.com/rust-lang/rust/pull/98429 might have solved the ICE in the first example. Will try to look into the second example on the weekend.

[2022-08-26 20:28] LukeMathWalker opened #101059 "Re-export information is lost [rustdoc's json output]"
Hi!
I have been playing around with rustdoc's JSON output for the past few weeks and I have now stumbled on a road block that I can't easily sort out on my own.

## The problem

I have a function signature that looks like this:
[code]

where `pavex_runtime` is a third-party dependency that does nothing more than a public re-export:
[code]

If I look at that function in the JSON output for the rele

[2022-08-26 20:36] RalfJung commented on #98862
Assuming that is the 0.1 branch of `futures`, it's not looking good... `Task` contains a `TaskUnpark` which is an `enum`. So it's far from obvious whether the `0x01` pattern actually makes this fine from an LLVM point-of-view. (Both enum variants *are* fine. But enum layout is complicated so depending on how the discriminant is stored, there might still be UB.)

[Here's a replication of that layou

[2022-08-26 20:47] steffahn commented on #100521
I’ve started some reduction work:
[code]

[2022-08-26 20:51] glandium commented on #51245
There's one unresolved question:

[2022-08-26 20:56] alion02 opened #101060 "Codegen weirdness for `sum` of `count_ones` over an array"
[code]

Before 1.62.0, this code correctly compiled to two popcounts and an addition on a modern x86-64 target.

[code]

Since 1.62.0 (up to latest nightly), the codegen is... [baffling at best.](https://godbolt.org/z/G9fa4Y8T7)

[code]

The assembly for the original function is now a terribly misguided autovectorization. And, just to make sure (even though it's pretty obvious), I did run a benchm

[2022-08-26 21:17] vi commented on #98862
Can `rustc` or `cargo` contain a list of specific formerly popular, but now broken-beyond-repair library versions and show some customized warnings explaining what users need to do in order to make their project work?

Imagine some Rust newbie tasked to revive old project with a `mem::uninitialized` dependency within some corporation. What error or warning message would be appropriate? Can somethi

[2022-08-26 21:20] 5225225 commented on #98862
Something basically exactly along those lines (but more general, just saying "you depend on a crate that uses mem::uninitialized") was implemented in https://github.com/rust-lang/rust/pull/100342 but we're still deciding on the exact situations that it should warn about.

I don't think hard-coding specific crates are a good idea, since then it might feel like the compiler is targeting specific cra

[2022-08-26 21:26] camsteffen commented on #53667
Oh no.

[2022-08-26 21:34] #100991 closed

[2022-08-26 22:47] CAD97 commented on #98862
tbf, the futures crate *is* a semiofficial rust-lang organization crate, so it may be a reasonable target for special behavior (in cargo, not rustc, though imho).

If they don't already have one, someone should add a RustSec advisory with that information, which `cargo audit` will surface.

[2022-08-26 22:53] mejrs commented on #89451
This no longer ices 🎉

[2022-08-26 22:53] #89451 closed

[2022-08-26 23:04] ahcm commented on #101029
It's fixed in nightly-2022-08-26 and still present in nightly-2022-08-25.
Profile with res kept nightly at 2022-08-10.
Thanks!

[2022-08-26 23:04] #101029 closed

[2022-08-26 23:16] fritschy opened #101065 "rustc nightly (7480389 2022-08-25) gives erroneous fix advice on mismatching if-branch types"
rustc version: rustc 1.65.0-nightly (748038961 2022-08-25)

I have a very small reproducer for a weird fix advice from rustc when the two branches of an if had a type mismatch:
[code]
This will produce the following output:
[code]
Applying this fix obviously doesn't help:
[code]

[2022-08-26 23:31] Kromey commented on #50784
This bit me today, I'm working on a large (well, will be) project, and for both myself and potential future contributors I've been using rustdoc with `--document-private-items` to create internal documentation. I threw a simple doctest in one, but because it's inside a private module it of course failed to compile.

Not knowing anything about how they work, would it be possible to have rustdoc gen

[2022-08-26 23:46] saethlin commented on #98862
In the past people (including myself) have suggested the we could emit a valid but unspecified bit pattern for any type. That would keep old code "working" for sure, but

1. It's a significant maintenance burden to support code that was explicitly not part of the stability guarantee to begin with, so it may be a concerning precedent.
2. We definitely don't want users to notice that this is the cas

[2022-08-27 00:13] divergentdave opened #101066 "Regression of "mismatched types" error on trait method call with multiple candidates"
### Code

I tried this code:

[code]

I expected to see this happen: Successful compilation.

Instead, this happened: I now get the following compiler error.

[code]

### Version it worked on

It most recently worked on: stable channel Rust 1.63.0, and nightly-2022-08-17.

### Version with regression

searched nightlies: from nightly-2022-08-11 to nightly-2022-08-26
regressed nightly: nightly-2022

[2022-08-27 00:38] rust-highfive opened #101067 "`miri` no longer builds after rust-lang/rust#100043"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100043, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-27 00:54] rcvalle commented on #100778
Thanks for finding and reporting it! I'll take a look at it soon.

[2022-08-27 00:54] rcvalle commented on #100778
@rustbot claim

[2022-08-27 00:54] rcvalle commented on #100772
@rustbot claim

[2022-08-27 00:54] rcvalle commented on #100783
@rustbot claim

[2022-08-27 01:46] carols10cents opened #101068 "E0004 says "note: `Option<i32>` defined here" when it's not"
I just noticed this regression from 1.60 to 1.61 because TRPL reasons.

## Code

Given [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=24be8ca60112182b3300a9e7d4ce2e17):

[code]

The current output is:

[code]

Notice especially this line:

[code]

Which... raises a few questions...

1. I definitely did not define `Option<i32>` in this code, so I don't

[2022-08-27 02:01] tmandry opened #101070 "rust-analyzer doesn't work on bootstrap anymore"
#97513 took bootstrap out of the cargo workspace, meaning that rust-analyzer can't see it anymore. I haven't yet found a config that makes rust-analyzer see it, short of opening bootstrap in a separate window.

This is annoying since I rust-analyzer particularly useful when working on bootstrap, but at least opening another window works for now.

cc @jyn514

[2022-08-27 02:01] ellishg commented on #100717
Now that I've finally managed to build `rustc_codegen_gcc`, I'd like to try working on it!

[2022-08-27 02:18] the8472 commented on #101060
Looks bad on stable and nightly, but oddly the current beta looks fine.

#100220 and #100214 might be relevant

[2022-08-27 02:21] nicholasbishop opened #101071 "UEFI targets fail to compile: "LLVM ERROR: dwo only supported with ELF and Wasm""
The UEFI targets (x86_64-unknown-uefi, i686-unknown-uefi, and aarch64-unknown-uefi) started failing to compile in the latest nightly when using `build-std`, failing with "LLVM ERROR: dwo only supported with ELF and Wasm".

### Code

`src/main`:

[code]

`.cargo/config.toml`:
[code]

Build:
[code]

### `cargo-bisect-rustc` output

searched nightlies: from nightly-2022-08-25 to nightly-2022-08-27
re

[2022-08-27 02:38] SparrowLii commented on #48685
@nikomatsakis Some refactoring work has been done. How should we update the task list?

[2022-08-27 02:38] alion02 commented on #101060
Beta still trips on length 4. So does 1.61.0, however. 1.59.0 is the latest that produces 4 popcounts and 3 adds.

[2022-08-27 03:00] compiler-errors commented on #101066
This is caused by #100652, and therefore fixed by #100966.

[2022-08-27 03:19] #100686 closed

[2022-08-27 04:36] Nugine commented on #101048
Related (maybe):
+ #101060

[2022-08-27 05:32] matthiaskrgr opened #101076 "ICE: rustdoc: local_def_id: no entry for HirId"
### Code
`./src/test/ui/macros/auxiliary/issue-75982.rs`
[code]

### Meta

`rustdoc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-27 06:04] kennystrawnmusic opened #101078 "LLVM ERROR: dwo only supported with ELF and Wasm"
### Code

Attempt to compile [this UEFI stub kernel project](https://github.com/kennystrawnmusic/cryptos) using the latest nightly

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-08-27 06:12] #96534 closed

[2022-08-27 06:13] HTG-YT commented on #99975
The ICE has been fixed as of latest nightly. Issue closing.

[2022-08-27 06:56] workingjubilee commented on #100752
This.. seems incorrect. The versions that don't build off and include AVX512 should be separate features, if I remember the ad copy around these.

[2022-08-27 07:27] HTG-YT commented on #99975
Oops, that was a mistake.. didn't ICE locally and thought I was using latest nightly.

[2022-08-27 07:55] jfrimmel commented on #101078
Looks like a duplicate of #101071.

[2022-08-27 08:53] #92980 closed

[2022-08-27 08:53] #100994 closed

[2022-08-27 11:13] EFanZh opened #101080 "Consider inlining `Poll::map`, `Poll::map_ok` and `Poll::map_err`"
I noticed that in one of my project, inlining [`Poll::map`] manually reduces some binary size, then I noticed `Poll::map` is not marked `#[inline]`. Since both [`Option::map`] and [`Result::map`] are marked `#[inline]`, I wonder whether this is an oversight. I failed to reproduce the binary size reduction effect with an example code, but maybe the reason behind inlining `Option::map` and `Result::

[2022-08-27 12:02] zachs18 opened #101081 "Regression transmuting `RwLockReadGuard<T: ?Sized>`."
`RwLockReadGuard<T>` is now not transmutable when `T` is (dependent on) a generic parameter and `?Sized`, when it was previously

(I don't necessarily think this is a significant enough problem to be worth "fixing", but I guess it is technically a regression).

### Code

I tried this code:

[code]

I expected to see this happen: compilation success

Instead, this happened: compilation error
[code]

[2022-08-27 12:04] weiznich commented on #100620
I can confirm that this is fixed for `rustc 1.65.0-nightly (c07a8b4e0 2022-08-26)`.

[2022-08-27 12:04] #100620 closed

[2022-08-27 12:12] liesauer commented on #75799
+1

[2022-08-27 12:13] sno2 opened #101082 "Regression: Inlined loops not fully evaluating with `const`-eable dependencies"
I tried this code:

[code]

I expected to see this happen: The loop should be inlined because `values` is const-known. For example, here is the generated assembly on Rust 1.63.0 ([Godbolt](https://godbolt.org/z/75Y1c63cE)) and Rust Beta ([Godbolt](https://godbolt.org/z/KhcozT55j)):

[code]

Instead, this happened: On nightly, the loop is inlined. However, the entire function is not computed despit

[2022-08-27 12:26] calebzulawski commented on #100752
I'm not sure if you mean my suggestion is incorrect, or the existing feature names, but rustc certainly isn't the first to be confused by the new convention used here: https://community.intel.com/t5/Intel-ISA-Extensions/GFNI-documentation-anomaly/td-p/1153193

[2022-08-27 12:33] istanbul-not-constantinople opened #101083 "enum variants that cannot be constructed still block auto trait implementation"
[code]

another example can be found [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=aa3eef5b14ff9a743116981cbb027584)

[2022-08-27 12:33] istanbul-not-constantinople commented on #101083
might be related to #38885

[2022-08-27 12:45] zachs18 opened #101084 "`transmute` calculates incorrect size of some generic types involving pointers to `T: ?Sized`."
I tried this code: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=256c0fd20475ff6526d4f3e80afbedbd)

[code]

I expected to see this happen: Compiler error because `*mut T` and `PtrAndOverAlignZST<T>` are not (known to be) the same size.

Instead, this happened: The above code compiles (and runs), but ICEs miri.
[code]

### Meta

`rustc --version --verbose

[2022-08-27 13:13] KoBruhh commented on #66362
snakeCaseIsNonSense

[2022-08-27 13:18] RalfJung commented on #98862
Ah, I was about to suggest if futures is a semi-official crate maybe we can get an 0.1.x point release, but seems like that would not help.

[2022-08-27 13:29] Rageking8 commented on #101082
@rustbot label regression-from-stable-to-nightly

[2022-08-27 13:35] Rageking8 commented on #101065
@rustbot A-diagnostics T-compiler D-invalid-suggestion

[2022-08-27 13:36] Rageking8 commented on #101065
@rustbot label +A-diagnostics +T-compiler +D-invalid-suggestion

[2022-08-27 13:52] saethlin commented on #101081
This is not a regression, but not for the reason you say. Quoting the reference: https://doc.rust-lang.org/stable/reference/type-layout.html

`RwLockReadGuard` does not have a `repr` attribute, so you're not allowed to rely on its layout.

[2022-08-27 14:01] #100910 closed

[2022-08-27 14:22] kennystrawnmusic commented on #101078
Closing as duplicate, thanks

[2022-08-27 14:24] kennystrawnmusic commented on #101071
Can confirm. Definitely needs to be looked into by the team — @phil-opp can you reproduce this?

[2022-08-27 14:26] joshtriplett commented on #53667
@camsteffen I think it'd be worth improving the diagnostics for that case; perhaps we could detect it and give a rustfix-able suggestion for "delete the `if`"?

[2022-08-27 14:26] Mark-Simulacrum commented on #101081
Nominating to get sign-off on acceptable breakage from libs-api; I expect this is an obvious case.

I think this is another case where we should consider making the compiler lint on transmutes of types that aren't marked with a repr, and maybe even hard error for std types.

[2022-08-27 14:26] kennystrawnmusic commented on #101078
Closing as duplicate, thanks

[2022-08-27 14:26] #101078 closed

[2022-08-27 14:46] Enselic commented on #101059
And also see https://github.com/rust-lang/rust/pull/99287 which is the PR that stopped including re-exported items of external crates to fix a bunch of ICEs

Also related: https://github.com/rust-lang/rust/issues/99513

[2022-08-27 14:49] saethlin commented on #101081
While I would be personally in favor of this, such a change _will_ cause breakage in the ecosystem, which I suspect others would conclude is too much.

[2022-08-27 14:51] Mark-Simulacrum commented on #101081
Yeah, I think it's a difficult tradeoff. We obviously can't catch everything (e.g., pointer casting is probably too far), but I think a warning is going to do 90% of the work for us and is hopefully relatively obviously OK.

[2022-08-27 15:03] nicholasbishop commented on #101071
I see in https://github.com/rust-lang/rust/pull/98051/files#diff-e8d72f87be1eb954600ca7d27ce0fdd7360fe43e393c5bb0d73e226f11abc67d that `debuginfo_kind: DebuginfoKind::Pdb` is set in `windows_msvc_base`. I think that needs to be added in https://github.com/rust-lang/rust/blob/master/compiler/rustc_target/src/spec/uefi_msvc_base.rs, or maybe directly in `msvc_base`?

I tested this out locally by usi

[2022-08-27 15:05] camsteffen commented on #53667
Yes I was thinking that. Seems tricky though since the parser will be in a nested if expression.

[2022-08-27 15:21] 5225225 commented on #101081
One thought I had was having transmute *Kinda* do the job of randomize_layout, in the sense that it goes "Okay, you're transmuting from `(u32, u32)` to `u64`. Now, the stdlib controls the layout of that tuple, and *could* legally insert padding there. So let's pretend it did, and then emit a warning (and later, ideally, a hard error)". Since we *can* just pretend that we laid out the type like tha

[2022-08-27 15:37] nejucomo opened #101087 "(report in progress) panic from `cargo check`"
Apologies, this is a report in progress, because I'm rushing between tasks. I intend to fill out more detail later… Currently I've pasted the stack trace.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-27 15:43] adrian17 opened #101089 "Missing bit operation optimization on wasm target"
Given the code:
[code]
I'd expect it to generate trivial code like it does on x86-64:
[code]
However, on `wasm32-unknown-unknown` target, it generates a full jump table:
[code]

And if I cover the `0x3` case like this:
[code]
it removes the jump table, but generates what appears to be way more code than necessary - there should still be just a single `and`:
[code]

Godbolt demo of case 1: https://

[2022-08-27 15:50] plaukiu opened #101095 "Examples for Iterator::rposition(F) do not differentiate it from ::position(F)"
https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.rposition
Description should provide a clear meaning for 'index' – index within the collection, or index as number of iteration?
Examples for rposition should demonstrate a clear difference from position.

Here's the example of rposition with an added comparison with the result of the situation with position.
[code]

My proposition: use

[2022-08-27 16:10] HKalbasi opened #101090 "Strange capture behaviour with `let _ = `"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1cdcf0a1b37c60649eadac9dae68a847)):

[code]

I expected to see this happen: Compile error, because `Rc` is not send.

Instead, this happened: Compiled, drop happened in the main thread.

[2022-08-27 16:56] vi commented on #98862
Maybe `tokio 0.1` and `tokio-core` point releases could help?

[2022-08-27 17:15] saethlin commented on #101080
That's surprising. Can you share your project?

[2022-08-27 17:19] Emm54321 opened #101094 "Using type_id() on a &mut dyn Any fails compiling"
[code]
fails compiling with `error[E0521]: borrowed data escapes outside of function`, while it compiles without the `mut`.
(The problem can be worked around by adding `let x: &dyn std::any::Any = x;` before the `println`.)

Tested on rustc 1.65.0-nightly (c07a8b4e0 2022-08-26) and on stable.

[2022-08-27 17:26] RalfJung commented on #66151
I think we should slightly change track here, and rather than trying to detect and root out all Rust-level UB (which at this point I consider a failed experiment), we should do what we can do mitigate the **LLVM-level UB** that can be caused by `mem::uninitialized`, while minimizing the pain for users that just followed the official advice they were given 5 years ago. https://github.com/rust-lang/

[2022-08-27 17:36] ehuss commented on #101095
Transferred to rust-lang/rust. The documentation of the standard library is part of the standard library itself which lives here.

[2022-08-27 17:43] ehuss commented on #101090
I believe this is intentional behavior. As part of edition 2021, closures now minimally capture only what is necessary. Values that are not "read" are not captured, and thus ignored.  There's more information [here](https://doc.rust-lang.org/nightly/edition-guide/rust-2021/disjoint-capture-in-closures.html#wild-card-patterns) in the edition guide.

[2022-08-27 17:50] 5225225 commented on #66151
Could we add a codegen test to *ensure* that we don't do this, leaving a comment back to this issue and saying that we must start recursing into arrays if we start emitting `nonnull` on a `[fn(); 1]` return?

It doesn't need to be done before #101061 lands, but I think it would be good to add at some point. I'll have a shot at it once I'm done with cleaning up the FCW PR.

[2022-08-27 17:50] EFanZh commented on #101080
@saethlin Unfortunately, it is a private project, I cannot share it.

[2022-08-27 18:05] HKalbasi commented on #101090
Thanks! I think I now understand how it works.

[2022-08-27 18:05] #101090 closed

[2022-08-27 18:13] andrepd opened #101096 "Union of non-null types should not be non-null"
### Example

[code]

### Expected behaviour

Just as `Option<Foo>` and `Option<Bar>` have the same size as `Foo` and `Bar` respectively, I expected that `Option<FooBar>` also has the same size as `FooBar`. However this does not happen. Adding `#[rustc_nonnull_optimization_guaranteed]` does not seem to make a difference.

[2022-08-27 18:19] saethlin commented on #101080
Ah okay. I find it suspicious that these functions aren't inlining already. Did you try building your project against a modified standard library with `#[inline]` added to those functions?

Do you still get a code size improvement from manual inlining if you compile with `codegen-units = 1` and/or `lto = "fat"` in your release profile? The functions in question ought to already be eligible for inl

[2022-08-27 18:35] deltragon commented on #101096
AFAIK, this is undecided currently - see https://github.com/rust-lang/unsafe-code-guidelines/issues/73 for more background/discussion on how to handle unions.

[2022-08-27 18:41] RalfJung commented on #66151
Yes, the PR that finishes up the panics and closes this issue (the PR after https://github.com/rust-lang/rust/pull/101061) should add such a codegen test.

[2022-08-27 19:09] kocsis1david opened #101097 "infinite loop during function argument check"
I tried this code:
[code]

I expected to see this happen: the compiler giving an error and showing a hint that order of the argument are not correct.

Instead, this happened: it stucks, waits forever.

### Meta

It happens on both stable and nightly.

Might be related to this: https://github.com/rust-lang/rust/issues/100478

[2022-08-27 19:26] alion02 commented on #101048
The "canonical" code produces identical (and, since it has early exit, much more performant in most cases) assemblies between versions.

[code]

[2022-08-27 19:40] aDotInTheVoid commented on #101059
# MCVE

**src/lib.rs**
[code]
**pavex_runtime/src/lib.rs**
[code]
**http/src/lib.rs**
[code]

<details>

<summary> Cargo files </summary>
**Cargo.toml**
[code]
**pavex_runtime/Cargo.toml**
[code]
**http/Cargo.toml**
[code]
</details>

Which produces (abridged)

[code]
[full](https://codeberg.org/adot/rust-101059/src/branch/trunk/doc.json)

[2022-08-27 19:43] soerenmeier commented on #99975
Just got the same ICE. Changing the code from this:
[code]
to this:
[code]
fixed it.
Interestingly it only happens on `--release` as noted above.
```note: rustc 1.65.0-nightly (c07a8b4e0 2022-08-26) running on x86_64-pc-windows-msvc```

[2022-08-27 20:04] aDotInTheVoid commented on #101059
Single crate version:

[code]

Produces

[code]

<details>
<summary> Full </summary>
[code]

[2022-08-27 20:23] aDotInTheVoid commented on #101059
One of the issues here is that the only item is `pavex_runtime` is its export of `http`, but not one for it's export of `http::Request`

I'm not sure how to solve this without having a item in `pavex_runtime` for every item in `http` that it exports, instead of just one item for exporting `http`

However, even when just using the struct, instead of a module, we don't link to the import

[code]

[c

[2022-08-27 21:13] semicoleon opened #101099 "Associated type bound with HRTBs causes an opaque type inference failure"
[URLO thread](https://users.rust-lang.org/t/associated-type-bound-with-hrtbs-says-type-doesnt-implement-trait/80441)

I tried this code:
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=41d3b1bd3f245f45df4a12ec93f290cf)
[code]

I expected to see this happen: `check_hrtb` should infer the type of `T` correctly.

Instead, this happened: The compiler indicates tha

[2022-08-27 21:53] LukeMathWalker commented on #101059
To an extent, this is what I'd expect to see - an item for every type that is exposed through the public API of the crate.

[2022-08-27 21:54] RalfJung commented on #99923
https://github.com/rust-lang/rust/pull/101101 implements the next step in the plan I outlined -- giving more context for "read pointer as bytes" errors.

[2022-08-27 22:24] JacobKfromIRC commented on #93157
That survey seems to require nonfree software to fill out? I was able to complete the survey using a script that I wrote, but I'm not sure if it actually submitted properly. I saw my text responses in the request but the formatting is unlike what I've seen before, so I'm not sure what the multiple choice answers are supposed to look like.

This is the script I wrote:
[code]

[2022-08-27 22:34] steffahn commented on #100521
Minimized:
[code]

@rustbot label -E-needs-mcve +S-bug-has-mcve

[2022-08-27 22:38] aDotInTheVoid commented on #100973
Smaller version:
[code]

[code]

It looks like empty modules are being stripped. This also happens in the above example because both functions are named `f`, so because the name clashes none are callable. renaming one of them, or adding items with non classing names to both modules fixes this

[2022-08-27 22:42] aDotInTheVoid commented on #100973
Caused by https://github.com/rust-lang/rust/blob/eaadb8947b850a025404082f6297766c4680a42a/src/librustdoc/json/conversions.rs#L52

@rustbot claim

[2022-08-27 23:33] steffahn commented on #101082
@rustbot label I-slow

[2022-08-27 23:59] aDotInTheVoid opened #101103 "Rustdoc-Json: Reexporting item in module adds that module to index"
[code]

Produces (abbridged)

[code]

But theirs no need for `0:1:1566` to be in the index: `0:1:1566`

@rustbot modify labels: +A-rustdoc-json +T-rustdoc

@rustbot claim

[2022-08-28 00:04] RalfJung commented on #101096
This is deliberate, unions are currently by design not having any niches. unions are used to do whacky low-level things with the underlying bytes, and e.g. we do not assume that the list of variants is actually exhaustive -- one might want to add new variants in a future-compatible way later (this is not an uncommon use of unions in C).

[2022-08-28 00:06] RalfJung commented on #101070
Also see https://github.com/rust-lang/rust-analyzer/issues/10793 -- this is somewhat blocked on RA getting better support for projects that use custom build scripts such as `./x.py`.

[2022-08-28 00:11] jyn514 commented on #101070
yeah, you can set linked-workspaces to have it use both, but then you get a bunch of spurious errors when you open the project

[2022-08-28 00:12] RalfJung commented on #100743
That entire check is anyway somewhat odd since it is easily circumvented:
[code]

[2022-08-28 00:14] RalfJung commented on #100698
Yeah, looks like `Result<u16, u16>` gets the `ScalarPair` layout but `Result<u16, i16>` [does not](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2153358e1c9f2dda2db0a36b1ccfff05). `Scalar` layout knows about the signedness of the type, which is probably the problem here, but I don't know if there is a good reason for it to be that way.

Cc @eddyb @oli-obk

[2022-08-28 00:40] aDotInTheVoid opened #101105 "Rustdoc-Json: Pub mod in private mod adds both to index"
[code]

Produces

[code]

@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-08-28 00:43] aDotInTheVoid commented on #101105
Interestingly, if the inner item is a `pub fn`, we get the correct result.

[code]

[code]

[2022-08-28 01:51] aDotInTheVoid commented on #101105
Caused by https://github.com/rust-lang/rust/blob/eaadb8947b850a025404082f6297766c4680a42a/src/librustdoc/json/mod.rs#L181-L185

which needs to be more conservitive

[2022-08-28 02:27] yvt opened #101107 "`-Zbuild-std` outputs a symbol just outside the containing section, causing a linker error"
I tried this code ([full code](https://gist.github.com/yvt/247089ce333f162d2a4e3a06f9b1090e)):

[code]

The above program causes a linker error starting from `nightly-2022-08-13`.

*`nightly-2022-08-13` (first known bad nightly):*

[code]

Notice the unnamed symbol at offset `0x00000030`, which is just outside the section `.rodata.cst16`.

*`nightly-2022-08-12` (last known good nightly):*

[code]

[2022-08-28 02:42] chenyukang opened #101108 "Unexpected panic when compiling rustdoc"
`./x.py build` crash after rebase https://github.com/rust-lang/rust/commit/eaadb8947b850a025404082f6297766c4680a42a.

### Code

Generally, what I do is:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-28 02:58] chenyukang commented on #101108
`./x.py clean` and the build will resolve the crash, I guess the are some deps issues when updated the source code of compiler without cleanup the old deps.

[2022-08-28 03:11] chenyukang opened #101109 "Add check for variables in Diagnostic"
When I trying to add a Diagnostic, I used the wrong variable name in `_diagnostics.rs` and `.ftl` file, for example I used `file` in `driver.ftl` and `path` in `session_diagnostics.rs`, compiling without error and run will get a crash.

we should add a check to make sure variables match between `_diagnostics.rs` and `ftl` files? If some compiler devloper forgeted to add a unit testcase, this kind

[2022-08-28 03:22] samuelbarrionuevo opened #101110 "join the repository rust"
good, I would like to collaborate in the project as a collaborator, greetings

[2022-08-28 03:43] Nugine commented on #101048
But constant-time functions can not early exit.
The "fold bool" variant should also be optimized when compiled with nighly. So I think it's regression.

[2022-08-28 03:56] compiler-errors commented on #101097
Yeah, this is probably a dupe of that other one. cc @chenyukang

[2022-08-28 05:30] workingjubilee commented on #101110
Of course we welcome collaborators, but you do not need repository access to open a pull request to the Rust compiler or any of rust-lang's other repositories. Just fork and clone it to your local environment. Enjoy, and I look forward to seeing your contribution! Feel free to ask any questions on Zulip!

[2022-08-28 05:30] #101110 closed

[2022-08-28 06:33] matthiaskrgr opened #101112 "weird output in E0080 diagnostic"
Given the following code:
`./src/test/ui/consts/invalid-union.rs`
[code]
Full output:
[code]

I am curious about the E0080, what is this ------alloc7------ supposed to tell me...? :sweat_smile:
Loos like some mangled diagram?
[code]

[2022-08-28 06:48] matthiaskrgr opened #101113 "clippy ICE: normalization works on validated constants: InterpErrorInfo"
### Code

[code]

This happens with clippy `clippy 0.1.65 (eaadb89 2022-08-27)` (master toolchain) but not with clippy nightly `clippy 0.1.65 (c07a8b4 2022-08-26)`, since clippy was not updated in a week I strongly suspect that this is caused by some underlying rustc change :/

[code]

[2022-08-28 06:51] matthiaskrgr commented on #101113
Unlike  https://github.com/rust-lang/rust/issues/100771 I was not able to reproduce this one with rustc and `-Zextra-const-ub-checks`

[2022-08-28 07:04] BoxyUwU commented on #101081
this is like forbidding transmuting `Vec<T>` -> `Vec<T>` though. The only thing differing here is the lifetime and I think it's a pretty reasonable assumption that types are never going to be able to change layout based on lifetime information. (The possibility of this happening is why `specialization` has basically been dead and considered unsound)

[2022-08-28 07:04] #41004 closed

[2022-08-28 07:05] workingjubilee commented on #100752
I am mostly expressing bafflement at the current situation.

[2022-08-28 07:56] zachs18 commented on #101081
(This is mostly unrelated to this "regression", and is more just questions about `transmute`/`transmute_copy`'s guarantees in general).

I agree that relying on a specific layout is not allowed, so I guess it makes sense that it's okay for `transmute` to not work when `T` is unknown (since it could affect the layout), but does this also mean that it is unsound to `transmute_copy` `RwLockReadGuard<

[2022-08-28 08:46] RobFosterNYC opened #101117 "Rust Tooling Missing ERR Msg - using VS-Code"
Rust Tooling Missing ERR: message - It constantly nags me to install **racer**,
But I was told not to install racer by friends who are trying to teach me Rust.
I constantly get windows popup reminding me,  every time I manipulate the code or save it or start VS-Code.

The ENV Path is set properly, and I have all the proper files installed in the Cargo folder in Cargo/bin
I don't know why this keep

[2022-08-28 08:51] programmerjake commented on #71871
Note that #83763 changed the default, so only wasm32-unknown-unknown uses the mismatched ABI, all other wasm targets now default to using the ABI that matches clang:
https://github.com/rust-lang/rust/blob/482a3d06c3d1f83761bf3c94e1bad4fac7d32db4/compiler/rustc_target/src/spec/wasm32_unknown_unknown.rs#L22-L30

[2022-08-28 09:48] proohit opened #101119 "bug in suggestion with reborrowing of mutable value reference"
I tried this code:

[code]

I expected to see this happen: Some suggestion that may be a solution (which even I don't know yet) or no suggestion at all

Instead, this happened: The following message, including a suggestion which doesn't help

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-28 10:34] adaszko opened #101120 "argument requires that [...] is borrowed for [...]"
Hi 👋.  I was instructed to create an issue here at a [users.rust-lang.org post](https://users.rust-lang.org/t/incomplete-lifetimes-error-message/80281).

Given the following code: [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=use+std%3A%3Async%3A%3AArc%3B%0Ause+tokio%3A%3Async%3A%3ARwLock%3B%0A%0Astruct+Context+%7B%0A++++field%3A+Arc%3CRwLock%3C%28%29%3E

[2022-08-28 11:13] matthiaskrgr commented on #101001
bash mvce
[code]

[2022-08-28 11:22] Gaelan opened #101121 ""unwinding" crate fails to compile after LLVM 15"
The [`unwinding`](https://crates.io/crates/unwinding) crate compiles on nightlies before e2b52ff73edc8b0b7c74bc28760d618187731fe8 (the LLVM 15 upgrade), but now it fails with this:

[code]

The error happens both when natively compiling on Arch Linux, and when cross compiling from macOS as shown here.

### Meta

`rustc --version --verbose`:
[code]

### Bisect output
searched nightlies: from nightl

[2022-08-28 12:05] WaffleLapkin opened #101122 "Tracking Issue for `vec::Drain{,Filter}::keep_rest`"
Feature gate: `#![feature(drain_keep_rest)]`

This is a tracking issue for `vec::Drain{,Filter}::keep_rest`, methods allowing to keep elements in a `Vec` after draining some of them.

### Public API

[code]

### Steps / History

- [x] Implementation: #95376
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- Just change the not-yet-stable Drop for DrainFilter t

[2022-08-28 12:26] #93305 closed

[2022-08-28 12:26] #101034 closed

[2022-08-28 12:26] #101076 closed

[2022-08-28 12:52] WalterSmuts opened #101125 "Trait not implemented for X where X is one of the "other types implement trait""
### Description
Code that works in a `#[test]` does not seem to work when consuming the library. I've double checked for anything that wasn't exported in the library code that the test had access to and can't seem to find anything. For easy replication I pushed [this branch](https://github.com/WalterSmuts/constfft/tree/example-compilation) where the final commit shows adding both a `#[test]` and a

[2022-08-28 13:01] WalterSmuts commented on #101125
I noticed the associated type wasn't really necessary (since the type is set to the generic parameter for both `impl` blocks). So I just removed, had to make the generic parameter it and now am getting an ICE when used from outside the `#[test]`. See [this branch](https://github.com/WalterSmuts/constfft/tree/attempted-solution).

[2022-08-28 13:04] Jarcho commented on #101113
I'm surprised that even compiles. My guess is `destructure_mir_constant` is failing when called on on the union value since it was never initialized.

[2022-08-28 13:22] RalfJung commented on #101081
Yes, indeed you are not supposed to transmute `Vec`. You should never assume you can transmute any type from another library unless the type explicitly says so. This is true even if they have a `repr` annotation, as not all `repr` annotations are stable guarantees. See e.g. https://github.com/rust-lang/rust/issues/90435 https://github.com/rust-lang/rust/issues/66401.

[2022-08-28 14:12] kennystrawnmusic commented on #91015
Can reproduce on the latest nightly too.

[2022-08-28 14:20] kennystrawnmusic commented on #91015
Workaround (at least in my case):

1. `cargo install cargo-cache`
2. `cargo cache -r all && cargo clean && cargo build`

Cleaning all cached packages and starting over seems to fix this — so it’s definitely to do with cache handling.

[2022-08-28 14:41] sjud opened #101126 "ICE"
[code]

[2022-08-28 15:09] vi opened #101127 "`rustc --print targets_list` should give hint about `target-list`"
Given the command line code:

[code]

The current output is:

[code]

Suggested output is:

[code]

I.e. it should list valid print targets with small edit distance.

Rustc version `rustc 1.64.0-nightly (3924dac7b 2022-07-29)`.

[2022-08-28 15:11] nikic commented on #99668
The regression has been addressed, so this issue is now about allowing load/store atomics on additional targets.

[2022-08-28 15:15] eddyb commented on #100698
There's a very thorny ABI problem of sign-extension that we sadly had to respect: on many platforms, passing e.g. `u8` vs `i8` around will zero- vs sign-extend it to a whole register, allowing 2's complement arithmetic on that register without additional sign-extension.
This is a choice that call ABI/"calling conventions" make - if we don't tell LLVM to do such sign-extension, Rust code will conti

[2022-08-28 15:37] steffahn commented on #99537
@rustbot label A-incr-comp

[2022-08-28 15:42] steffahn commented on #99503
Can’t reproduce this; presumably it’s an incremental compilation issue (i.e. the issue goes away with `cargo clean` and we’d need to do the same kind of modification you did before encountering the issue, building before and after the modification, in order to reproduce the issue). Also there are existing issues with similar ICEs that are incremental compilation issues. @rustbot label A-incr-comp.

[2022-08-28 15:42] steffahn commented on #97344
@rustbot label A-incr-comp

[2022-08-28 15:44] eddyb commented on #100698
As for the issue itself: `Result<u32, i32>` being represented with a single `i64` is actually caused by an (unnecessary, as described above) *pessimization* in the current system (`Abi::Aggregate` instead of `Abi::ScalarPair`), whereas this issue talks about it *the other way around* (more on that later below).

You'll also see this if you try to return `[u32; 2]` vs `(u32, u32)`, so we can mostly

[2022-08-28 15:48] steffahn commented on #96703
I ***can*** reproduce it on `nightly-2022-05-04-x86_64-unknown-linux-gnu`, so it’s not apple-darwin specific.

[2022-08-28 15:56] steffahn commented on #96526
Presumably @rustbot label A-incr-comp

[2022-08-28 16:01] steffahn commented on #96703
Appears to have disappeared in `nightly-2022-07-09`. Bisection for the commit is still running.

[2022-08-28 16:05] steffahn commented on #95564
Presumably an incremental compilation issue if it isn’t reproducible. @rustbot label A-incr-comp

[2022-08-28 16:26] steffahn commented on #96703
searched nightlies: from nightly-2022-05-04 to nightly-2022-08-26
regressed nightly: nightly-2022-07-09
searched commit range: https://github.com/rust-lang/rust/compare/1517f5de01c445b5124b30f02257b02b4c5ef3b2...06754d8852bea286a3a76d373ccd17e66afb5a8b
regressed commit: https://github.com/rust-lang/rust/commit/052495d0017e2b18b781bcf0469a048e5051f5c0

<details>
<summary>bisected with <a href='http

[2022-08-28 16:37] nicholasbishop opened #101129 "`doc_auto_cfg` doesn't notice when a trait is impl'd in a module gated by a feature"
I noticed that after enabling `doc_auto_cfg` on a crate on docs.rs, some impls are missing the badge showing that a feature flag is needed to get that impl. For example, [this impl](https://docs.rs/gpt_disk_types/0.14.0/gpt_disk_types/enum.GptPartitionEntryArrayError.html#impl-Error-for-GptPartitionEntryArrayError) is only available with the `std` feature enabled.

I think this is due to those imp

[2022-08-28 16:54] TimJentzsch commented on #98931
We ran into an issue that would benefit from const generic defaults working on generic functions as well.

We had a struct with a field of `petitset::PetitSet` which itself has a const generic maximum size. In our code, this was hard-coded to `8`.
We now wanted to make this generic instead, to give the user more control of the maximum size.
To avoid ergonomic regressions and breaking changes, we p

[2022-08-28 17:12] M3DZIK opened #101130 "Works on debug build, but not on release build."
I tried this code:

https://github.com/MedzikUser/rust-issue-101130

I expected it to work in the release build

Instead, this happened work only in debug build

About code:
This is a simple cryptography library which generates encryption key and encode text in build time.

For example, in the release build version if the key during the build is 7. Then during the runtime, key is for example, 39.

[2022-08-28 17:14] steffahn commented on #96703
Bisecting the other way shows that this ICE was also a regression. Precisely at #94081 like the two issues fixed by #98614. So I suppose I think it’s fairly safe to assume that this issue has been properly fixed, too? cc @oli-obk.

@rustbot label -E-needs-mcve.

[2022-08-28 17:41] zirconium-n commented on #101130
Note: OP used a non-deterministic proc-macro to generate a const `KEY` at comptime, which is used by the main crate and another proc-macro `macro` (which is used by the main crate).

What's happening here is that, in release build, the `KEY` in `macro` is different from the `KEY` in main.

This can be reproduced with replacing OP's random proc-macro with `const-random` crate on crates.io.

[2022-08-28 18:08] steffahn commented on #91156
Minimized:
[code]
[code]
[code]
In later versions of Rust, this kind of code, where pointers appear in const generics, is forbidden.

@rustbot label -E-needs-mcve

[2022-08-28 19:30] JanBeh opened #101133 "Rustdoc doesn't handle square brackets in link text properly when using non-inline link targets"
I tried this code:

[code]

When running `cargo rustdoc`, I expected each of the created documentation texts to contain a hyperlink.

Instead, this happened: Documentation of `dummy4` is

where the inner brackets and the text inside the brackets is using a monospaced font. But there is no hyperlink.

Documentation of functions `dummy1`, `dummy2`, and `dummy3` work fine.

This is a problem when hav

[2022-08-28 19:45] ChrisDenton opened #101134 "`__CxxFrameHandler3` still referenced even though `panic=abort`"
### Code

I tried this code:

[code]

With this section in `Cargo.toml`:

[code]

And also disabled msvcrt.lib. Unfortunately rust does not have a good way to do this so I used a build script to add a libs directory that contains an empty msvcrt.lib:

[code]

For a full example see: https://github.com/ChrisDenton/panic-abort

I expected to see this happen: When running `cargo build --release`, the

[2022-08-28 20:02] ehuss commented on #101133
I believe this is working as intended. Rustdoc follows closely to the Markdown specification which does not permit unescaped square brackets (see [link label](https://spec.commonmark.org/0.30/#link-label)).

If you want `[T]` to link to the slice documentation, I think ```[`[T]`][slice]``` or ```[`[T]`][prim@slice]``` should work.

[2022-08-28 20:10] ehuss commented on #100425
Closing as RLS has been removed.

[2022-08-28 20:10] #100425 closed

[2022-08-28 20:12] ehuss commented on #62225
Closing as #100863 has removed RLS.

[2022-08-28 20:12] #62225 closed

[2022-08-28 20:22] eddyb commented on #43606
The future of `save-analysis` was discussed in https://github.com/rust-lang/rust/pull/100863#issuecomment-1229540672 (i.e. on the PR to sunset RLS).

I had some suggestions but @bjorn3 pointed out (in https://github.com/rust-lang/rust/pull/100863#issuecomment-1229543510) that:

Based on that, I was able to find existing mentions of LSIF regarding `searchfox`'s indexer (the only project I've heard

[2022-08-28 20:54] JanBeh commented on #101133
I wasn't aware of that; in that case, I'd like to apologize for reporting this as a bug.

Does it still make sense to allow this syntax, or is adherence to Markdown specification of higher importance?

[2022-08-28 20:58] matthiaskrgr commented on #100878
This seems to be fixed in latest nightly?
[code]

[2022-08-28 21:10] ChayimFriedman2 opened #101135 "-Zdrop-tracking doesn't work if the value is borrowed"
I tried this code with `-Zdrop-tracking`:

[code]

I expected to see this happen: this should compiler, as `-Zdrop-tracking` should see that we drop the non-`Send` type before the yield point.

Instead, this happened: this does not compile with "future cannot be sent between threads safely" pointing to the `NonSend` type.

If I comment the `use_non_send(&non_send);` line it works fine.

I don't kn

[2022-08-28 21:13] plafer commented on #80437
My experience of learning the special dereference case for `Box` echoes the experience of others in this thread, and certainly confused me.

IMO special cases make the language harder to understand. Take someone learning the language, playing with moves, derefs, deref coercion, the dot operator, etc. and forming a model of how these features work. When they get to the dereference behavior of `Box`

[2022-08-28 21:34] scottmcm commented on #80437
I don't think this method actually does that, because it doesn't remove the special behaviour from `Box`, and thus one still needs to know it when reading code.

The long-term goal for reducing the complexity is to make `Box` not special by finding a way for *other* types to get this behaviour from `*` too.  (This is often called `DerefMove`, though the details have not been worked out.)

[2022-08-28 21:58] evopen commented on #101013
@rustbot claim

[2022-08-28 22:48] mejrs commented on #101094
This works fine for me, see https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3433fe6e7438ebd16dfc110e7a8458a2

[2022-08-28 23:16] obeis commented on #101068
@rustbot claim

[2022-08-29 01:32] compiler-errors commented on #100755
This has nothing to do with async specifically -- this has to do with the fact that you can't have a `Fn` trait object that returns an unsized type, like `dyn Future`. I can make the "call expression requires function" message instead say something along those lines.

[2022-08-29 01:34] compiler-errors commented on #101008
It would be neat to generalize this, for any `crate1::a::b::C` to search `{all other crates}::a::b::C`.

[2022-08-29 02:09] asutherland commented on #43606
Thanks for reaching out!  I noticed the rls removal earlier today and was wondering about the implications on save-analysis!

Yes, searchfox (https://github.com/mozsearch/mozsearch) will ideally move to RA+SCIP or RA+LSIF in the near-to-medium term.  We have a meeting tentatively planned for this Friday (2022-09-02) to discuss various searchfox meta issues like this, so I can:
1. Pass on any plann

[2022-08-29 02:28] ecnelises commented on #93618
Hi, there is ongoing proposal to add AIX support into Rust toolchain: https://github.com/rust-lang/compiler-team/issues/553 , including rustc, libraries and various crates needing port.

[2022-08-29 05:04] CAD97 opened #101144 "`x.py` submodule handling breaks when tracking upstream as `upstream`"
<details><summary><code>git --version --build-options</code></summary>

[code]
</details>

Example:

<details><summary><code>D:\tmp〉git clone git@github.com:rust-lang/rust.git -o upstream</code></summary>

[code]
</details>
<details><summary><code>D:\tmp〉cd rust</code></summary>

[code]
</details>
<details><summary><code>〉master:rust〉python ./x.py setup</code></summary>

[code]
</details>

(contin

[2022-08-29 05:06] CAD97 commented on #101144
Additional info: switching to a new branch that is not tracking upstream succeeds, so it is the upstream tracking that's messing something up:

<details><summary>terminal session</summary>

[code]

[2022-08-29 05:19] carbotaniuman opened #101145 "Suggest mutable self receiver if self is used mutably"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-29 05:59] veber-alex commented on #101130
[All profiles, by default, do not optimize build dependencies (build scripts, proc macros, and their dependencies).](https://doc.rust-lang.org/cargo/reference/profiles.html#build-dependencies)

In dev profile the key crate is compiled without optimizations and both the binary and the proc macro use the same artifacts, which means `KEY` is the same.
In release profile the proc macro and the binary

[2022-08-29 06:33] Emm54321 commented on #101094
Oops, the code I posted indeed works. The one that fails is :
[code]
(https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5eef6f00949caef38dc895c4b0e20c51)
It didn't come to my mind that removing the 'use' could make any difference.

[2022-08-29 07:19] leighmcculloch commented on #60196
The main reason to use `Cow` is to avoid copies, but `ToOwned` is an `&self` fn and so it always clones. `into_owned` delivers the lack of a clone if necessary since it has `self`.

[2022-08-29 07:35] Genysys commented on #100981
Getting something similar and the latest nightly doesnt fix it. Here is the [gist](https://gist.github.com/Genysys/099254736f6649bae14c99245cdddf6d) to the full error trace.

[2022-08-29 07:41] Genysys commented on #100981
Turns out not adding an await to a future triggered this on my path. The error message could be improved though i.e. it should not panic / crash

[2022-08-29 07:51] compiler-errors commented on #100981
@Genysys that is the same issue as the one fixed by #99928.

[2022-08-29 07:54] #94821 closed

[2022-08-29 07:54] #100414 closed

[2022-08-29 08:07] ChayimFriedman2 commented on #101145
If you'll try to apply the suggestion it'll error with
[code]
So this is not bad.

[2022-08-29 08:15] ChayimFriedman2 commented on #101117
You want the rust-analyzer extension, not the rust extension.

[2022-08-29 09:02] tobbelobb opened #101149 "Missing third layer of await after conditional triggers index out of bounds, snapshot_vec.rs"
Hello Rust Maintainers!

I ran into this bug on nightly:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2efc38c82d9d4b8ae0297447bbec9acf

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also panics with `rustc 1.65.0-nightly (015a824f2 2022-08-22)`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[code]

</details>

[2022-08-29 10:44] chenyukang commented on #101097
Yes, it's another bug in the same function, but the root cause is different.
I will working on the same PR for this issue.

[2022-08-29 11:14] MedzikUser commented on #101130
Use build.rs which generates and adds a key to env also solves this problem.

[2022-08-29 11:26] istanbul-not-constantinople commented on #83788
Rust isn’t C. Rust is Rust and Rust shouldn’t care what C (clang) does for anything not explicitly using the term `C` (`repr(C)` and `extern "C"`).

Rust on wasm’s first priority will always be compatibility with wasm and web standards not with C/C++ on wasm, especially considering wasm doesn’t even have a good way of interoperating betweeen Rust and C that isn’t already mangled through javascript

[2022-08-29 12:48] Mark-Simulacrum commented on #101144
My current working theory is that this is a git bug (maybe we can work around it though).

[code]

I think this is because git has created the submodule with a remote of `origin`, but probably due to the `-o upstream` passed for the rust checkout, it's trying to fetch/pull from the upstream remote inside the submodule too. That won't work; the upstream remote doesn't exist there, as the submodule

[2022-08-29 12:50] ChrisDenton commented on #101134
@BatmanAoD I think this suggests that panic's unwind structs are being included even when panic=abort? Whereas before it wasn't?

[2022-08-29 13:38] jyn514 commented on #101144
Can we report this bug upstream to git? I think they use a mailing list?

[2022-08-29 14:16] kamulos commented on #100882
OK thanks, I can see how this originated. And I certainly see how this is not changeable without breaking tons of code.

What seems unusual to me is how importing a crate breaks existing code. I think with the traits Rust goes to great length to avoid exactly this kind of situation. Wouldn't it be consistent for the compiler to say: "Please specify the type here, someone in the future might implem

[2022-08-29 15:19] obi1kenobi commented on #101059
Let's ignore the fact that `http` is quite a stable crate for a second. Say the re-export is for a fictional crate `foo`. Also say we're generating rustdoc JSON for a crate `bar`, which re-exports `foo`.

Is there a risk that "list what types are re-exported via `foo`" in the `bar` JSON is sensitive to the specific version of `foo` that was installed at rustdoc JSON generation time?

If `bar` does

[2022-08-29 15:26] estebank opened #101157 "E0525 should point at where a closure trait obligation was introduced"
Given a [closure that doesn't fulfill a trait bound](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3b139f3b2745725d5b1d4401ce117c82), E0525 is emitted but there's no span pointing at where the obligation was introduced:

[code]

We should point at it, like [we already do for E0277](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3e112f5d12ae0a8430c

[2022-08-29 15:44] tspiteri opened #101158 "Tracking Issue for slice::split_at in const context"
Feature gate: `#![feature(const_slice_split_at_not_mut)]`

This is a tracking issue for usage of `slice::split_at` in const context.

### Public API

[code]

### Steps / History

- [x] Implementation: #100076
- [x] Final comment period (FCP): https://github.com/rust-lang/rust/issues/101158#issuecomment-1529681484
- [x] Stabilization PR: https://github.com/rust-lang/rust/pull/108273

### Unresolved

[2022-08-29 15:46] tmandry commented on #100932
opt-level=3 can be quite aggressive, and I think we should be able to optimize this away at opt-level=2 at least.

[2022-08-29 15:47] eholk commented on #100932
Do we know that opt-level=2 doesn't catch this on nightly still? If there was an LLVM upgrade, maybe that caught this case as well.

[2022-08-29 15:49] eholk commented on #100932
We [talked about this](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/Triage.20meeting.202022-08-29/near/295936418) in the wg-async triage meeting. It sounds like this is a more general bug that async code happens to be more likely to expose, so we'll remove the async label.

@rustbot label -A-async-await

[2022-08-29 15:52] eholk commented on #100755
Marking as triaged since @compiler-errors is working on it.

@rustbot label +AsyncAwait-Triaged

[2022-08-29 15:54] pierwill commented on #95261
@rustbot release-assignment

[2022-08-29 15:55] pierwill commented on #92052
@GuillaumeGomez : Can this be closed now that https://github.com/rust-lang/rust/pull/98939 is merged?

[2022-08-29 15:59] #92052 closed

[2022-08-29 16:02] tmandry commented on #99492
These issues (this and #90656) seem pretty deep in the type / borrow checker and not all that specific to async. I think we should involve the types team for these. See the [MCVE](https://github.com/rust-lang/rust/issues/99492#issuecomment-1215965159) and surrounding conversation for more context.

@rustbot label +T-types +I-types-nominated +AsyncAwait-Triaged

(Not sure if nominating is the corre

[2022-08-29 16:39] jkarneges commented on #100932
opt-level=2 on nightly does not catch it

[2022-08-29 16:40] lyming2007 commented on #100584
thanks. please see my fix:
https://github.com/rust-lang/rust/pull/100941
@estebank

[2022-08-29 16:44] compiler-errors commented on #101157
@estebank on nightly:

[code]

Am I missing something?

[2022-08-29 16:53] mqudsi commented on #101008
I don't think it occurs as a rarely as you think, but the real reason it's not that big of a deal is because `no_std` developers tend to know what they're doing and can don't need a hand-holding explanation for what went wrong. I have a preference for not plugging in `std` when `core` will do so that I'm always aware of just how much `no_std`-friendly my code is; I don't know how prevalent of an a

[2022-08-29 17:00] jyn514 commented on #96524
I had an idea for how to change the 3 nested macros (`rustc_queries` -> `rustc_query_append` -> `define_callbacks`) but after spending a long time writing it up, I no longer think it's a good idea. Posting it below anyway because maybe it will give others ideas lol

I've realized one of the reasons `rustc_queries!` is so complicated is because it's a proc macro with multiple outputs; which isn't n

[2022-08-29 17:08] bjorn3 opened #101160 "undefined reference to `<alloc::vec::Vec<T,A> as core::ops::deref::DerefMut>::deref_mut' with rust dylib"
I tried this code:

[repro.zip](https://github.com/rust-lang/rust/files/9446523/repro.zip)

I expected to see this happen: It compiles fine

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Minimized from https://old.reddit.com/r/rust/comments/wz245y/how_to_link_a_library_dynamically_running_into/

[2022-08-29 17:14] bjorn3 commented on #101160
The original had a lot more linker errors: https://pastebin.com/raw/UqiqpxMq

[2022-08-29 18:05] lu-zero opened #101163 "asm_sub_register warnings should provide an example/quick-fix"
Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-29 18:09] Aex12 opened #101164 "dead_code warning on an used module."
I've got recently a warning about unused_code when the code was in fact being used. This warning was reported both by my IDE and by the cargo run / build commands.

The warning was caused because I was using "mod some_module" in both main.rs and lib.rs, but then I was using it on my main.rs importing it through lib.rs instead.

I think the compiler should throw the warning on the "mod some_module"

[2022-08-29 18:38] estebank commented on #101157
@compiler-errors I could have sworn that I tried it on nightly in the playground 🤦‍♂️

I knew that you'd done something "similar" recently (*very* similar) which is why this was in my head.

[2022-08-29 18:38] #101157 closed

[2022-08-29 20:01] ChrisDenton commented on #101134
Hm, then why did it only start needing it with 1.60?

[2022-08-29 20:12] lara-rium opened #101169 "unreachable_pub lint false positive"
I tried this code:

[code]
[Here's a link for the same code on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9f3fee55f1c272893d91b9ab645d79ee)

I expected to see this happen: *No warning, as the item is actually accessible from the root crate*

Instead, this happened: *It says the item is unreachable, even though it isn't*

[2022-08-29 21:13] PatchMixolydic commented on #101169
`unreachable_pub` trips when a `pub` item would be unreachable from a different crate using the current crate as a dependency, even if it can be reached in the current crate. The solution here is to either mark `Foo` as `pub(crate)` or allow `unreachable_pub` (which is nice for binaries where the distinction between `pub` and `pub(crate)` doesn't matter as much).

[2022-08-29 21:21] est31 commented on #43606
Does rust-analyzer support a bulk mode yet? Or is it still request based? I need the usage graph for *all* items in a given crate, so that I can determine which items are unused.

[2022-08-29 21:42] bjorn3 commented on #43606
You can use the LSIF or SCIP output formats of rust-analyzer for that I think.

[2022-08-29 21:50] Veykril commented on #43606
r-a doesn't have a simple way to just fetch all item declarations of a crate, but you can query declarations of a module, so you should be able to collect all item declarations of a crate by traversing the module hierarchy (this does leave out local items though I believe, not sure if those are easily accessible without resolving from the file source directly).

If with request based you mean lang

[2022-08-29 22:22] nikomatsakis commented on #99492
We've had some spurious errors similar to this around async functions for a while -- I have to find the citations -- is it likely that this is a duplicate? Searching the repo I see a lot of related issues, I can't quite find the one I'm thinking of. It also feels related to the implied bounds on GATs, in that the "right fix" is similar.

[2022-08-29 22:39] andrepd commented on #101096
Thanks for the link! I read through pretty much the entire thread. Looks like there's much more to it that I thought.

[2022-08-29 22:49] #96274 closed

[2022-08-29 22:49] #80218 closed

[2022-08-29 22:49] #100995 closed

[2022-08-29 22:55] thomcc opened #101172 "bootstrap cannot check library/std for windows from macOS (and possibly others)"
I often write patches for `std::sys::windows` while not using windows. It would be nice if `./x.py check --target x86_64-pc-windows-msvc library/std` worked, but instead it does not -- I get an error like https://gist.github.com/thomcc/7c889b3a1306922f7eda28f45f1d304e (this is from a build where `aarch64-apple-darwin` is the host).

As a result, to check changes to std::sys::windows while not on w

[2022-08-29 23:13] jyn514 commented on #101135
cc https://github.com/rust-lang/rust/issues/97331, @eholk

I don't think this needs to block stabilization.

[2022-08-29 23:41] edward-shen opened #101174 "rustc suggests invalid suggestion when attempting to implement invalid transitive trait impl"
Someone asked a question to me whether or not if there was a way to implement a blanket implementation for "transitive" traits, such that if `T => U`, and `U => V`, then `T => V`. I attempted the following (incorrect) implementation:

Given the following code: [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=fb389382dd933b87f0e037f21f5af513)

[code]

The curr

[2022-08-29 23:42] j-tai commented on #100914
Possibly the same issue as #83060

[2022-08-30 00:11] celinval commented on #62807
This could be related to the panic strategy. `WASM` only supports `-C panic=abort` (https://github.com/rustwasm/book/issues/76). If you run the test above with LLVM backend with `--C abort=panic` option, the test will fail because the generator size is different.

[2022-08-30 00:34] jyn514 commented on #98262
prior art: https://github.com/rust-lang/rust/blob/7b8e2a52ff29d400b4d869fad1d917ffa9bdce59/compiler/rustc_middle/src/ty/query.rs#L109-L113

[2022-08-30 01:30] #100894 closed

[2022-08-30 01:30] #100973 closed

[2022-08-30 01:30] #101103 closed

[2022-08-30 01:39] pierzchalski commented on #62924
@Amanieu @m-ou-se @yaahc I'm assuming this just flew under your radars?

[2022-08-30 02:04] jsha opened #101177 "rustdoc: back navigation in jump to definition is sometimes broken"
Steps to reproduce (Chrome / Linux):

1. Visit https://doc.rust-lang.org/beta/nightly-rustc/rustdoc/clean/index.html
2. Click source link (https://doc.rust-lang.org/beta/nightly-rustc/src/rustdoc/clean/mod.rs.html#1-2242)
3. Scroll down in page until you see a `self` link (e.g. line 85).
4. Click the link.
5. Navigate back in the browser.

Expected result:

The browser now shows the scroll positio

[2022-08-30 02:46] jsha commented on #100320
@compiler-errors any updates? BTW I think it would be reasonable to just special case "Box" and "Pin" by name and say they should never get the treatment.

[2022-08-30 03:20] jsha commented on #98413
Thinking about it some more, I'm convinced hashes are the right approach. My goal is to enable faster page loads in general. One was is by turning on caching of static files on doc.rust-lang.org. But another nice improvement would be to improve cache hit rates on docs.rs. Right now it's unlikely that any two crates have the same URL for, e.g. normalize.css, because it will always be specific to th

[2022-08-30 03:35] jyn514 commented on #98413
👍 for not having to keep track of this in docs.rs - ideally we could get rid of --print=invocation-specific at the same time

[2022-08-30 03:51] leighmcculloch opened #101181 "doctest builds have a different working directory in virtual workspaces that breaks proc-macros that read relative paths"
I tried this code in a crate that is in a virtual workspace:

[code]

I expected to see this happen:
- When the relative file path is present relative to the root of the workspace, I expected to see builds, tests, and doctests for the crate to pass.

Instead, this happened:
- Builds and tests both pass, as the file is found.
- Doctests fail to compile, stating that the file cannot be found.

It ap

[2022-08-30 06:16] zachs18 opened #101184 "Invalid suggestion for type mismatch in destructuring assignment."
Given the following code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5a25baabf7bba78fbc225da2c9844b06))

[code]

The current output is:

[code]

The error message is correct that there is a type mismatch (but maybe could be clarified to point to the value on the RHS), but the `help:` suggestion is incorrect.

The error message is the same on current stabl

[2022-08-30 06:32] compiler-errors commented on #101149
This should be fixed by #99928

[2022-08-30 06:56] compiler-errors commented on #100755
This is blocked on #101100, some machinery in that PR which I'll use to make this suggestion.

[2022-08-30 07:19] oli-obk opened #101186 "handle_opaque_type likely mis-uses `eq` relation"
I was unable to reproduce the issue in the defining scope (that doesn't mean it's not possible, just that I gave up for now ^^). I found this absolutely useless diagnostic though: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b80473c86172959763c139535154c3f9

Did some more thinking and I'm wondering now if the `did.is_local()` check should actually be `infcx.opaque_type_

[2022-08-30 07:23] compiler-errors commented on #101186
Yeah, I've considered this too.

Do we even need to pass down the relation? We just re-invoke `eq` just to turn it into an error -- could we just return `Err(Sorts(..))` right there?

[2022-08-30 07:35] compiler-errors commented on #101186
Ah yeah, totally overlooked the success case and was focusing too much on the error case 😅

[2022-08-30 08:33] xerxes12354 opened #101187 "Rust violates GPL by deriving code from libgcc"
GPL code means proprietary projects cannot copy it. Rust violates GPL license by reusing GPL code in non-GPL environment.

https://github.com/rust-lang/rust/blob/a0d07093f80a0206f42d3dbada66212eda52b694/library/std/src/personality/gcc.rs#L80

This is GPL license violation. Please fix.

[2022-08-30 08:44] TaKO8Ki commented on #98760
This have been already fixed on nightly.

[code]

[2022-08-30 08:44] #98760 closed

[2022-08-30 08:57] MichaelRawson commented on #99175
Indirection via trait with an associated type seems to work around the problem for now:
[code]

[2022-08-30 09:02] overlisted commented on #86934
Is anyone working on this?

[2022-08-30 09:12] ProkopRandacek opened #101188 "Cannot relate bound region"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Error output</strong></summary>
<p>

[code]
</p>
</details>

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Sorry for the plotters dependency. I was unable to factor it out. The error disapperas if I remove any of the `days.len()`, `days.iter()` or `chart.draw_series()`

[2022-08-30 09:34] 5225225 commented on #101188
searched nightlies: from nightly-2022-08-21 to nightly-2022-08-27
regressed nightly: nightly-2022-08-23
searched commit range: https://github.com/rust-lang/rust/compare/c0941dfb5a7d07ef2d70cc54d319669d9d6f6c01...015a824f2dffe32707fceb59c47effaf7b73486c
regressed commit: https://github.com/rust-lang/rust/commit/0b71ffca18a9f4a9515773b2c23d13f501d1e08f

<details>
<summary>bisected with <a href='http

[2022-08-30 09:38] jaykrell commented on #31670
It works better than you say, but not great.
The writer taking the mutex is a potential writer. A reader that might want to write.
To become a writer, it takes the rwlock for write.

[2022-08-30 09:40] nrc commented on #58520
In #100955, I renamed `chain` to `sources`, it still includes self in the iterator. I added a comment to try and record the issue with why `source` must be defined in the impl and not the trait. In terms of solutions, this should be fixed by the `dyn*` work which will permit more methods on trait objects. The other possible solution is to remove `self` from the iterator (this is a solution because

[2022-08-30 09:44] #93002 closed

[2022-08-30 10:46] vireshk opened #101194 "Deadlock with Rwlock and Thread with version 1.62 and 1.63"
I tried this code:

[code]

I expected to see this happen: *print [src/main.rs:25]*

Instead, this happened: *but it hangs*

### Meta

`rustc --version --verbose`:
[code]

[2022-08-30 10:47] b-naber commented on #101036
https://github.com/rust-lang/rust/pull/86580 Seems to be the cause of this. Didn't find a way to properly fix this, i.e. without causing the problem that that PR was trying to fix to re-occur.

[2022-08-30 11:05] m-ou-se commented on #101194
That's because your first `while` loop attempts to acquire two read locks at the same time, which can result in a deadlock. There is no guarantee that you can always acquire a second read lock if you already have one. Many RwLock implementations block new readers when there's a writer waiting.

(It's perhaps a bit surprising that `||` keeps the temporaries on the left side alive while evaluating t

[2022-08-30 11:07] vireshk commented on #101194
I was expecting here that the first lock gets dropped as soon as we reach `| |` and so the second one will be a fresh attempt.

[2022-08-30 11:11] m-ou-se commented on #101194
That's a very reasonable expectation, but unfortunately not what happens. Temporaries stay around until the end of the whole expression. It sometimes results in confusing situations with lock guards, just like in your snippet. It'd be nice if we can do something about this, but it's very tricky to change the language rules without breaking any existing code, or accidentally making the rules more c

[2022-08-30 11:14] #100075 closed

[2022-08-30 11:14] #100936 closed

[2022-08-30 11:14] #66080 closed

[2022-08-30 11:14] #101020 closed

[2022-08-30 11:22] m-ou-se commented on #101194
FWIW, the 'right' way to write that while loop would be something like this, by only locking once:

[code]

[2022-08-30 11:22] vireshk commented on #101194
From a common programmer's point of view, looks like something is broken somewhere since the compiler didn't complain at all. But I do understand what you are saying @m-ou-se . Thanks for quick response, really appreciate it.

Lets see if someone can come up with a solution to this.

[2022-08-30 11:26] vireshk commented on #101194
Hmm, I wasn't aware that we can write while's statement this way, like body i.e.. Interesting.

[2022-08-30 11:39] daxpedda opened #101196 "Tracking Issue for `Ready::into_inner()`"
Feature gate: `#![feature(ready_into_inner)]`

This is a tracking issue for `Ready::into_inner()`.

Adds a method to [`Ready`](https://doc.rust-lang.org/std/future/struct.Ready.html) that unwraps the value without an asynchronous context. See the [`futures`](https://docs.rs/futures/0.3.24/futures/future/struct.Ready.html#method.into_inner) library for an equivalent function.

### Public API

[code

[2022-08-30 11:47] m-ou-se commented on #100422
I'm not necessarily against panicking in that case. I just pointed out how it's a bit inconsistent with the other operations we have on integers. (Whether it makes sense for the other operations to have this difference in behavior between debug and release mode is an interesting discussion too, but I'm afraid that ship has sailed.)

The reason we don't always panic on overflow for `+` and `-` etc.

[2022-08-30 12:01] chenyukang commented on #100878
Yes, it's fixed in nightly.

[2022-08-30 12:05] laralove143 commented on #101169
This is for a library but nothing in this module should be public, I prefer this way and if I do pub(crate) clippy complains with https://rust-lang.github.io/rust-clippy/master/index.html#redundant_pub_crate so these lints are conflicting? Which one should I listen

[2022-08-30 12:08] d-sonuga opened #101198 "Custom Box::new throws error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-30 12:27] PatchMixolydic commented on #101169
It seems like [that's is a known bug in `clippy::redundant_pub_crate`](https://github.com/rust-lang/rust-clippy/issues/5369), which caused the lint to be moved to the [`clippy::nursery`](https://doc.rust-lang.org/nightly/clippy/index.html) category.

[2022-08-30 12:41] nikic commented on #98076
Could you please check whether this issue has been resolved? The LLVM fix and update landed a while ago already.

[2022-08-30 12:46] aDotInTheVoid opened #101199 "Rustdoc-Json: `async fn foo() -> T` return type is given as `impl Future<Output=T>` not `T`"
[code]

produces:

[code]

But I think it should be.

[code]

For the HTML backend, rustdoc "resugars" the return type to get the `T` from `impl Future<Output=T`>

https://github.com/rust-lang/rust/blob/0631ea5d73f4a3199c776687b12c20c50a91f0d2/src/librustdoc/html/format.rs#L1394-L1401

I think we should move this to a `clean` pass.

cc @CraftSpider @GuillaumeGomez  @Enselic, does this change seem

[2022-08-30 12:53] GuillaumeGomez commented on #101199
I'm not sure if it's worth adding a pass for this... Maybe handling this into a specific function shared between both formats could be a better idea?

[2022-08-30 12:54] 5225225 commented on #101198
I suspect it's failing because Box in the stdlib isn't defined like that, it has an Allocator generic parameter and allocator field.

[2022-08-30 12:55] nikic commented on #85133
The LLVM side of this is fixed now, and #100693 added a codegen test. Is a MIR transform still needed?

[2022-08-30 12:56] saethlin commented on #98076
Oops, thanks for reminder. Yes I can confirm that my example no longer reproduces.

[2022-08-30 12:56] #98076 closed

[2022-08-30 13:02] aDotInTheVoid commented on #101199
We could just call `sugared_async_return_type` in `json::conversions`. Or we could move this to when constructing `clean`. I'm not sure which makes most sense.

[2022-08-30 13:02] nikic commented on #58625
The uninit case looks good now: https://godbolt.org/z/vfo9PM1ca The init case still has memsets that could be combined: https://godbolt.org/z/eba6GT5xq

[2022-08-30 13:04] GuillaumeGomez commented on #101199
In `clean` directly seems like a good approach.

[2022-08-30 13:15] aDotInTheVoid opened #101201 "Rustdoc-Json: Large Amount of unreferenced `core` in `index`"
[code]

[Has an enormous output](https://gist.github.com/aDotInTheVoid/6859d98c07602f408ed967f16101bb99), that includes `core::fmt::Write`, and many other unreferenced items.

Many of these items also have dangling Id's.

~~Possibly caused by #101105~~

@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-08-30 13:24] est31 commented on #87335
Answering myself: I think [this](https://github.com/rust-lang/rust/pull/93628#issuecomment-1047140316) comment by @joshtriplett resolves this: We should just do whatever `let` is doing. As the current behaviour matches `let`, I think we can stabilize it this way (although tests for it would be good, reminder that I add them to #99291).

[2022-08-30 13:53] m-ou-se commented on #101081
Whether transmuting between types that only differ in lifetimes should work or not is not really a library issue, but more a question for the language team. One could argue it's a bug if `std::mem::transmute<Something<'a>, Something<'b>>` doesn't compile, which is not new to 1.63.

[2022-08-30 13:58] m-ou-se commented on #101081
So to clarify, the question for the language team:

- Should `std::mem::transmute<Something<'a>, Something<'b>>(..)` always be accepted (even if `Something<'_>` isn't repr(anything))? It's not uncommon to use `transmute` to unsafely change a lifetime, but today that sometimes results in an error, depending on some details of `Something`: see [above](https://github.com/rust-lang/rust/issues/101081#

[2022-08-30 14:02] ajsonky opened #101202 "Athonyjiasides is a gogd developer genius"
R3

[2022-08-30 14:36] nikic commented on #100834
Upstream issue: https://github.com/llvm/llvm-project/issues/57447

[2022-08-30 14:37] #101202 closed

[2022-08-30 14:39] Lee-Janggun commented on #91124
I can confirm that https://github.com/BurntSushi/memchr builds successfully with the following on a M2 MacBook Air, Monterey 12.4.
[code]

**Meta**
`rustc --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

[2022-08-30 14:43] pnkfelix commented on #101187
cc @Amanieu , as the author of that code.

Based on a cursory review, I think all of this falls under the category of the GCC Runtime Library Exception.

Namely, both of the files linked at those two urls ([eh_personality.cc](https://github.com/gcc-mirror/gcc/blob/master/libstdc++-v3/libsupc++/eh_personality.cc), [unwind-c.c](https://github.com/gcc-mirror/gcc/blob/trunk/libgcc/unwind-c.c))  say:

[2022-08-30 14:47] ma6254 commented on #67399
I desperately need some mechanism:
Perform some initialization actions (such as network, configuration files, etc.) before running the export function after the dll is loaded by the main program

[2022-08-30 14:53] Rageking8 opened #101205 "Suggest `_` in warning when match catch-all arm variable is unused"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=98cc6032446710079d5b59e4a583f797)

[code]

The current output is:

[code]

Ideally the output should suggest changing the variable in the last match arm to `_` as its slightly more idiomatic.

[2022-08-30 14:55] Lee-Janggun opened #101206 "Thread sanitizer reports data race for trivial scoped thread code."
I tried this code:

[code]

edit `main.rs` as follows,

[code]
run the following command
[code]

I expected to see this happen: run success.

Instead, this happened: A really long thread sanitizer report, summarized as follows.

[code]

### Meta

`rustc --version --verbose`:
[code]

Note: Even the [example in the docs](https://doc.rust-lang.org/stable/std/thread/fn.scope.html#example) give out a s

[2022-08-30 14:57] nikic commented on #101048
Upstream issue: https://github.com/llvm/llvm-project/issues/57448

[2022-08-30 14:57] 5225225 commented on #101206
I think thread sanitizer has false positives if you don't run it with `-Zbuild-std`, since it can't see the synchronisation inside the stdlib.

It runs fine with `-Zbuild-std`.

[2022-08-30 15:10] #101206 closed

[2022-08-30 15:37] cguimaraes commented on #100161
I am having a similar issue when installing Rust in my 10+ old laptop (running `Void Linux` Linux 5.13.19_1 i686 GNU/Linux).

[code]

[code]

[code]

[2022-08-30 15:40] WilliamForsdal commented on #96039
Just ran into this as well. I'm building a cdylib and I noticed that the final dll size is increased by about 300kB when adding "lib", so it's a tradeoff.

[2022-08-30 15:46] Rageking8 opened #101208 "Provide suggestion for error when `if let` used with enum variant whose values are not initialized"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ac515a35cf754b067d63ab16f3917383)

[code]

The current output is:

[code]

Ideally the output should suggest to the user that they need to initialize the enum variant's value in order to use the `if let`.

[2022-08-30 15:53] mqudsi commented on #101187
Additionally, my read of the quoted comment is that what the code does is based off what the gcc code does (in lieu of a spec), not "this code is copied from gcc."

[2022-08-30 16:45] fmease commented on #101208
It should probably look similar to the suggestion given for `let x: Option<i32> = Some;`.
So I guess sth. like:

[code]

[2022-08-30 16:54] compiler-errors commented on #101184
This is due to the desugaring of destructuring match... I'll probably be able to suppress this but not make it work as expected, I think.

[2022-08-30 16:57] compiler-errors commented on #101188
hehe I'll fix this if not fixed by the same fix as #101020, probably is though

[2022-08-30 17:04] est31 commented on #99975
This looks very similar to #99228, especially the error messages are very similar. But it is not the same. This ICE gets triggered just by passing the release flag, while the example in #99228 needs the unstable mir checking flag: it does not reproduce if you just do a release build.

@cjgillot do you know what the cause of this bug can be? I've checked the dumped (unoptimized) MIR but it seems ok

[2022-08-30 17:08] phip1611 opened #101209 "x86_64-unknown-none uses code-model kernel but statically linking it to high address results in "relocation R_X86_64_32 out of range""
I'm developing a kernel with Rust and wanted to use the built-in `x86_64-unknown-none` compiler target. This target uses the ["kernel" code model](https://github.com/rust-lang/rust/blob/1.63.0/compiler/rustc_target/src/spec/x86_64_unknown_none.rs#L30) of the System V ABI. [Since Rust 1.62 this is a Tier 2 target](https://github.com/rust-lang/rust/pull/95705/) which means that libcore is pre-compil

[2022-08-30 17:11] compiler-errors commented on #101184
specifically, we desugar it like this:

[code]

So the real type error happens in `z = lhs2` -- the RHS of that line has the span of the `z` in `(y, z) = ..`. There's not a general way of matching that back up to the span of the `2` in `(1, 2)`.

[2022-08-30 17:12] kleisauke commented on #44322
FWIW, I had hoped that PR https://github.com/rust-lang/rust/pull/92845 would fix this, but it seems that this issue is still reproducible with the latest nightly.
[code]

[2022-08-30 17:18] scottmcm opened #101210 "match-then-remake `Result` doesn't optimize away for some payload widths"
As [the new codegen test](https://github.com/rust-lang/rust/pull/100693/files#diff-68a12d31335d7f061169500381ebaf9634034cf419332c16512355df8c8cfddeR16) confirms, matching and rebuilding a `Result<i32, u32>` optimizes away now (on x64).

However, it seemingly *doesn't* optimize away if the ok and error types are *64* bits:
[code]
https://rust.godbolt.org/z/fMn6aqWG8
[code]

---

Interestingly, it *

[2022-08-30 17:21] scottmcm commented on #85133
I'll close this one because it does look like the match-of-match, as `?` does, is now working great.

Unfortunately, however, when just matching the result directly and rebuilding, it seems to only work for some widths.  The codegen test works with `Result<i32, u32>`, but doesn't optimize away any more for `Result<i64, u64>`.  I've opened #101210 to track that separately, @nikic .

[2022-08-30 17:21] #85133 closed

[2022-08-30 17:24] compiler-errors commented on #100320
Sorry, gotta rebase this, and I saw some weird regressions in the UI tests with this heuristic...

[2022-08-30 17:26] scottmcm commented on #85365
@human-0 Did you really mean `mut vec: Vec<Data>` here?  I would have expected `vec: &mut Vec<Data>`, which means the function isn't dropping the `Vec` any more and thus there's way less stuff generated.

There's still a small difference between the two, though: <https://rust.godbolt.org/z/M7v1PMjfv>

[2022-08-30 17:31] PatchMixolydic commented on #101198
This is probably related to #9307

[2022-08-30 17:33] #99914 closed

[2022-08-30 17:33] #99970 closed

[2022-08-30 17:33] #100463 closed

[2022-08-30 17:35] lyming2007 commented on #101163
@rustbot claim

[2022-08-30 17:52] rodrimati1992 opened #101211 "`$crate` -> `$ident:ident` -> `identity_proc_macro!($ident)` panics in the proc macro"
### Code

I tried `cargo test`-ing this proc macro crate:

[code]

I expected to see this happen: The test completes successfully

Instead, this happened:
The test fails compilation with this error:
[code]

### Version it worked on

It most recently worked on:

[code]

### Version with regression

`rustc --version --verbose`:
[code]
This also fails in 1.62 and 1.63.

### Meta

This appears to be f

[2022-08-30 18:16] ehuss commented on #57968
We discussed a little about having a `-O` flag as a shorter alias, and I don't think it is something we will would like to add at this time. There are some concerns, such as the exact semantics not being clear (if it replaces the profile, or augments the current one), how it is quite a bit different from `rustc -O`, how it relates to `-r` (both are "optimized"?), and how common such a workflow wou

[2022-08-30 18:17] nikomatsakis commented on #67264
@rfcbot resolve rust-reference

[2022-08-30 18:18] nikomatsakis commented on #67264
@rfcbot concern rust-reference

[2022-08-30 18:18] nikomatsakis commented on #67264
oops, looks like that is still a problem?

[2022-08-30 18:18] nikomatsakis commented on #74727
@rfcbot resolve documentation-pr

Thanks @xd009642 !

[2022-08-30 18:39] nikic commented on #101210
This is another casualty of LLVM's dumb type-based GEP representation. Both branches write the same values to the same locations, but LLVM doesn't realize this due to the nominally different GEPs. https://github.com/rust-lang/rust/pull/98615 would probably fix this.

[2022-08-30 18:48] bjorn3 commented on #100698
What would the effect of keeping ScalarPair for fat pointers (as a lot of codegen code depends on this) and maybe structs with two register sized fields, but using Aggregate for everything else be?

[2022-08-30 18:52] the8472 commented on #101210
This also works

[code]

[2022-08-30 19:20] scottmcm commented on #101210
@the8472 That doesn't really surprise me, since in that the matching is completely unused -- it's basically just `let val = x; val`, and thus has worked since even before LLVM 15: <https://rust.godbolt.org/z/G45rx9a3d>

[2022-08-30 19:32] scottmcm commented on #100698
Hmm, I suppose assumptions about whether something will inline is probably relevant too.  I'd guess that more registers is probably the better way if it's inlined, since I presume it's easier for LLVM to understand what's happening if it doesn't need to undo the bit packing first.

---

<small>

`-Z merge-functions=disabled` ?

</small>

[2022-08-30 20:29] Amanieu commented on #101187
Our actual implementation is based on LLVM's libcxxabi:
- https://github.com/rust-lang/rust/blob/a0d07093f80a0206f42d3dbada66212eda52b694/library/std/src/personality/dwarf/eh.rs#L144
- https://github.com/llvm/llvm-project/blob/7973346d1672dda58c5ba33918ef38bf707daa42/libcxxabi/src/cxa_personality.cpp#L257

[2022-08-30 22:19] steffahn commented on #101211
Bisection shows it regressed in #92472 and got fixed in #98189. Looks like this issue wasn’t deliberately fixed, since #98189 doesn’t call out any issue being fixed. Also #92472 did involve minor breakage, as discussed in its thread, but I haven’t looked into it enough to tell whether or not those cases of breakage were similar to this issue, or different.

[2022-08-30 22:23] steffahn commented on #101211
@rustbot label A-macros, A-proc-macros

[2022-08-30 22:29] steffahn commented on #101126
Looks like a duplicate of #100469 (same crate `SeaQL/sea-orm` as far as I can tell). Also that issue’s discussion mentions the issue is already fixed on nightly; @sjud, feel free to confirm or deny this by testing with something newer than nightly `2022-08-09`.

[2022-08-30 22:30] steffahn commented on #101126
@rustbot label -E-needs-mcve., since #100469 already has a mcve.

[2022-08-30 22:38] steffahn commented on #98294
This seems to be fixed on nightly. @rustbot label E-needs-test

Bisection would still be interesting, both for the regression and the fix.

[2022-08-30 23:18] steffahn commented on #98294
Alright, that’s pretty boring in terms of rustc-bisection: it was fixed by #99464 (Update to LLVM 15), and it regressed in `nightly-2021-03-05` which includes #81451 (Upgrade[^1] to LLVM 12).

@rustbot label -E-needs-bisection, +A-llvm.

[^1]: what’s up with the inconsistent naming, upgrade vs. update?

[2022-08-31 00:30] dtolnay commented on #96024
One minor thing that weirds me out about this API is this impl:

https://github.com/rust-lang/rust/blob/02654a0844f5c8d29bac318c3c6c666da3d8543d/library/core/src/error.rs#L197-L199

Since this is a blanket impl (`Self` type is a generic parameter), it is the _one_ blanket impl that `Provider` is ever going to be able to have, at least absent some far-future negative impls feature in the language.

[2022-08-31 01:08] ian-h-chamberlain commented on #67364
I found this issue while wondering why there wasn't an equivalent `finish_non_exhaustive` for `DebugTuple`, but in the meantime I though I'd share a workaround I found in case people are looking for something to use on stable.

You can (ab?)use the fact that `std::ops::RangeFull` has a `Debug` impl to your advantage, and use the existing `field()` to display `..` when you want to omit some fields:

[2022-08-31 01:28] TiagoCavalcante commented on #92476
Any updates on this?

[2022-08-31 02:16] HTG-YT commented on #99975
I used the Rust Playground to generate the corresponding MIR of this, FYI: https://gist.github.com/HTG-YT/bb9a63b5e06b155d1c5fe023f9638100

[2022-08-31 03:20] chenyukang commented on #100830
Spend some time to debug this issue, if the span is from a macro, it's difficult to get the right
 diagonstic message, this message is removed by PR: https://github.com/rust-lang/rust/pull/85937

Note there a special note: **this error originates in the macro `format`**

If we remove this check at: https://github.com/rust-lang/rust/blob/f07d6e8c0a90a6b03dcf96366d0462c7c25962bd/compiler/rustc_typec

[2022-08-31 03:23] eddyb commented on #43606
@est31 @Veykril I believe @bjorn3 is talking about `rust-analyzer lsif path/to/crate/dir` which looks to be working for me? Or am I missing some nuance here?

I assume worst case you can use the LSIF as a rough skeleton and then query more specific things based on it, but I'm not exactly sure.

[2022-08-31 04:30] eddyb commented on #100698
You also have to consider how much everything newtypes pointers, like `Box<[T]>` itself is only `ScalarPair` because it wraps something that *itself* is a `ScalarPair` (`NonNull<[T]>`, a newtype of `*mut [T]`, so that's two levels of "single-field aggregate" `ScalarPair`s!).

I would personally be inclined to ignore this issue until anyone actually shows a downside from "more registers" (I'm aware

[2022-08-31 04:49] eddyb commented on #57968
I would argue you basically would never write `--release` again outside of some CI job, distro packaging, etc.
(`cargo install` would still default to it but you also don't have to write it today either)

The *development workflow* isn't "three profiles", it's *two* (i.e. the development ones, with "release" being "not development") - or just one, really (I almost always end up using debug mode to

[2022-08-31 04:53] Lokathor commented on #57968
if you want development with optimizations, why not just set an optimization level? Similarly, if you want release with split debug, isn't that something you can set in the profile? (i admit I've never had to set split debug, on windows it's always split).

[2022-08-31 05:06] #85872 closed

[2022-08-31 05:06] #101071 closed

[2022-08-31 05:27] eddyb commented on #57968
I go into far more detail above, but the obvious choices today are:
* `RUSTFLAGS` (big hammer, won't really work well as it with fight w/ Cargo for many flags)
* *modifying* the `dev` profile (losing access to the unoptimized default)
* new custom profile (also requires modifying `Cargo.toml`/`.cargo/config.toml`, and then you have to pass `--profile ...`, but at least you get to keep the original

[2022-08-31 05:50] nmandery commented on #74393
I stumbled over a similar issue like this. Thre reason is that the `f128` type are not supported by rusts [compiler-builtins](https://github.com/rust-lang/compiler-builtins) - see the README there.

In my case I could resolve this by linking to the `libclang_rt.builtins-wasm32` of the [wasi-sdk](https://github.com/WebAssembly/wasi-sdk) - RUSTFLAGS I used are [in this Makefile](https://github.com/n

[2022-08-31 05:57] Lokathor commented on #57968
Sorry, the post with the `cargo build -O` proposal didn't seem to explain why a person wouldn't turn on optimizations in the dev profile when I read it.

I would suggest to turn `dev` into the optimized + debug and make an extra profile for "ultra slow" for the rare cases when you need the ultra slow build. My own experience is that it's usually not needed. That may be my own style of programming,

[2022-08-31 06:18] JakobDegen commented on #101210
I'm glad that LLVM is fixing this. This case can be covered by MIR optimizations, but doing it soundly turns out to be quite tricky. Discussion of the exact semantics surrounding this can be found [here](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/SB.20UnsafeCell.20.2B.20exhaustiveness.20check.20.2B.20layout.20opts), but the tldr is that under the

[2022-08-31 07:20] not-rusty opened #101226 "error: internal compiler error: src/value_and_place.rs:160:38: Please use load_scalar for ByVal"
### Code

(No code)
I'm trying to compile latest helix version to try rustc_codegen_cranelift. Apparently the ropey 1.5.0 dependency breaks. I don't know if I should post here this, I'm just following orders from the stacktrace.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-31 07:51] lilyball commented on #24135
@NoraCodes Can you replace the `io::Error` with an `Arc<io::Error>` instead?

[2022-08-31 08:21] nikic commented on #91124
Thanks for checking! This was probably fixed in LLVM 14 then.

[2022-08-31 08:21] #91124 closed

[2022-08-31 08:41] JanBeh opened #101227 "Bad help in case of nested closures: consider adding 'move' even if closure is already marked as 'move'"
I tried this code:

[code]

I expected to see a helpful error message.

Instead, this happened:

[code]

Following the compiler's advice and writing `move move`, this leads to:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-31 09:09] apiraino commented on #101134
probably a bisection could help understanding when this started

@rustbot label e-needs-bisection

[2022-08-31 09:19] Urgau commented on #101134
Probably because it there a fix for 1.60. There are currently some effort that are being done to fix the unsoundness around the `C` when unwinding. Or maybe there is just something that now required it.

[2022-08-31 09:47] apiraino commented on #101068
if case it's useful, the bisection points to the nightly-2022-03-09 and this rollup merge:
[code]

two of the them are also rollups :roll_eyes: I think the most likely is 94734 (possibly #94580?)

[2022-08-31 09:58] JakobDegen commented on #79580
Could someone close this? The underlying bug with `[foo; 0]` not dropping has been fixed

[2022-08-31 10:16] RalfJung commented on #79580
@JakobDegen sure, but we should leave a link to the PR that fixed it -- do you have a PR number?

[2022-08-31 10:17] ChrisDenton commented on #101134
Regression was in nightly-2022-01-19. I'm still attempting to narrow it down:

[code]

[2022-08-31 10:22] derekdreery commented on #67364
That's a great hack! Honestly though AFAIK the only thing stopping there being an impl for this on tuples is someone writing the PR. It should be relatively straightforward even for someone who doesn't know the rustc codebase if you use this PR as a template.

[2022-08-31 10:24] ChrisDenton commented on #101134
Most likely candidate: #92877

[2022-08-31 10:29] arctic-penguin commented on #39232
I bit my teeth out on that problem for an hour. Any indication if this is going to be fixed?

[2022-08-31 10:45] #81996 closed

[2022-08-31 10:45] #101054 closed

[2022-08-31 10:47] ChrisDenton commented on #81996
That PR was not intended to close this issue.

[2022-08-31 11:04] apiraino commented on #101082
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101082.20Regression.3A.20Inlined.20loops.20not.20fully.20evaluating.20with.E2.80.A6)).

@rustbot label -I-prioritize +P-high t-compiler

[2022-08-31 11:07] nikic commented on #100474
Can't reproduce this on current nightly, probably fixed by the LLVM 15 upgrade. Can you still reproduce this?

[2022-08-31 11:10] ChrisDenton commented on #101134
I can understand wanting to add exception handlers in some cases. But I don't understand using `__CxxFrameHandler3` instead of a handler function that immediately aborts. After all, it always sound to abort, no?

[2022-08-31 11:43] RalfJung commented on #81996
(prepare for more accidental closures of this issue when that commit lands on the beta and stable branches -- at least that's how things went in the past)

[2022-08-31 11:44] Lonami opened #101234 "Nested match not being treated as an expression"
Apologies if this has been reported before. I'm not sure what keywords I could use to find a similar issue. I tried this code:

[code]

I expected to see this happen: the code compiles, and `a` ends up being `true`.

Instead, this happened: the inner `match` does not seem to be treated as an expression and fails as follows:

[code]

Neither of the suggestions fix the problem. However, writing `tru

[2022-08-31 11:47] apiraino commented on #101066
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101066.20Regression.20of.20.22mismatched.20types.22.20error.20on.20trait.20met.E2.80.A6)) to add visibility to the relevant pr fixing it

@rustbot label -I-prioritize +P-critical t-compiler

[2022-08-31 11:54] apiraino commented on #101060
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101048.20codegen.20regression.20for.20bool)). IIUC this and the related issues seem to be caused by an LLVM regression (see [comment](https://github.com/rust-lang/rust/issues/101048#issuecomment-1231786309)).

@rustbot label -I-prioritize +

[2022-08-31 11:57] RalfJung opened #101235 "into_iter().rev() on a ZST hangs"
The following code works fine on stable but hangs in current nightly:
[code]
This started with https://github.com/rust-lang/rust/pull/101152.

[2022-08-31 12:14] plazmoid commented on #57612
Not a bug anymore, Oli's example compiles now (with fixing some lifetime issues):
[code]

Interestingly that moving HRTB into trait alias doesn't solve the lifetimes issue

[2022-08-31 12:21] Urgau commented on #101134
Yes, that must be the one. It even say in the PR description:

---

This is unfortunately outside my knowledge, sorry.
But from what I understand `__CxxFrameHandler3` is the CRT provided function on Windows for dealing with unwind, so it doesn't surprise me that it is used.

[2022-08-31 12:23] RalfJung commented on #101235
https://github.com/rust-lang/rust/pull/101237 fixes this.

[2022-08-31 12:25] JohnTitor commented on #97706
Triage: As @SparrowLii said, this is fixed by #100092, I'm not sure if the regression tests in that PR cover this case so marking as `E-needs-test`.

[2022-08-31 12:35] #57612 closed

[2022-08-31 12:48] nikic commented on #101060
Reduced example:
[code]

The cost model for znver2 says that ctpop.i64 costs 1 and ctpop.v2i64 costs 3, which is why the vectorization is considered profitable.

[2022-08-31 13:02] nikic commented on #101060
Upstream issue: https://github.com/llvm/llvm-project/issues/57476

Alternatively, this would also be fixed if we managed to unroll the loop early (during full unroll rather than runtime unroll). That's probably where the into_iter distinction comes from.

[2022-08-31 13:03] nikic commented on #101089
The switch happens on a `trunc i8 to i2` on wasm, and yeah, that does not get optimized as it should.

[2022-08-31 13:03] steffahn commented on #101211
cc @petrochenkov (author of #92472) and @mystor (author of #98189)

(read https://github.com/rust-lang/rust/issues/101211#issuecomment-1232226735 above to see how these issues are relevant)

[2022-08-31 13:04] dobkeratops commented on #65473
https://www.reddit.com/r/rust/comments/x28fea/zen4_avx512_support_reminds_me_32bit_indices_in/

Thanks for this issue. I've always been after this . basically an alternate target with 64bit addressing, but 32bit datastructures - a world where no individual collection can exceed 4gb. This is the GPU use case, and also suits the more advanced auto-vectorizable CPU SIMD options (AVX512 making a resur

[2022-08-31 13:15] davidtwco commented on #100717
Thanks everyone for your continued hard work on this, it's much appreciated, we're still making good progress!

I've went through the crate list and updated the statuses on everything, let me know if I've forgotten anything.

- I'm going to unassign @finalchild from `rustc_ast_passes` (if you're around though and want to continue, just ping me), so someone who wants to finish that crate off can fe

[2022-08-31 13:16] RalfJung commented on #101235
Kind of -- it would always have been merged, but it would have triggered notifications due to breaking Miri.

[2022-08-31 13:18] Xiretza commented on #100717
Still working on `rustc_parse`, I just got sidetracked repeatedly by infrastructure hurdles that I've had to cross while doing that :smile:

[2022-08-31 13:28] JhonnyBillM commented on #100717
@davidtwco
1. Yes, I plan to open a PR this week for `rustc_codegen_ssa`, [here is the branch with progress](https://github.com/jhonnybillm/rust/tree/migrate-codegen-ssa-to-diagnostics-structs). In https://github.com/JhonnyBillM/rust/commit/7a41fb285ac19f7608f82ccebe69278254935caf I added a FIXME note that we will probably have to discuss.
2. Yes, I still plan to work on `rustc_errors`, but haven'

[2022-08-31 13:35] LuisCardosoOliveira commented on #100717
It's so cool to see all this progress!

I'll be finishing `rustc_session` today or tomorrow first thing in the morning and I'll be avaliable to take another task!

BTW, thank you so much @davidtwco and all the diagnostic team! You folks have been really helpful and this project rocks ☀️☀️

[2022-08-31 13:41] RalfJung commented on #78717
FWIW Miri tests work fine in stage 0, and generally there are very few things that require building the compiler twice these days -- testing clippy is one of them.

[2022-08-31 13:54] KirillLykov commented on #90977
For me it worked partially: I can see lines in rust libraries now but not in my main function:
[code]

[2022-08-31 13:57] poliorcetics opened #101242 "Underlining with `~` for missing parameters in long functions overflow"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=use%20std%3A%3Acollections%3A%3A%7BBTreeSet%2C%20HashMap%2C%20VecDeque%7D%3B%0Ause%20std%3A%3Async%3A%3A%7BArc%2C%20Mutex%7D%3B%0A%0Afn%20main()%20%7B%0A%20%20%20%20my_very_long_function_name_with_lots_of_args()%3B%0A%7D%0A%0Afn%20my_very_long_function_name_with_lots_of_args(%0A%20%20%20%

[2022-08-31 14:16] bryanlarsen commented on #50784
As a workaround it's fairly straightforward to add a lib.rs and a [lib] entry to your Cargo.toml to make your crate both a binary and a library.

[2022-08-31 14:18] GuillaumeGomez commented on #50784
Already suggested here: https://github.com/rust-lang/rust/issues/50784#issuecomment-653895749. :wink:

[2022-08-31 14:52] ClementNerma commented on #86442
As this problem is still around, I wonder if it would be a good idea to think about how to handle such changes.

Concretely, this is NOT a breaking change but a _functional_ change, which is as important but not covered the same by Rust's guarantees.

The problems I see here are that:

1. It isn't really clear what Rust offers as guarantees for breaking functional changes such as this one (it was

[2022-08-31 15:26] #101199 closed

[2022-08-31 15:26] #90775 closed

[2022-08-31 15:37] #96703 closed

[2022-08-31 15:41] estebank commented on #101205
Maintaining the existing ident and only prepending `_` instead of fully replacing it can be useful for code documentation (I often leave binding names around purely to have an identifier explaining what it was). Replacing it in its entirety with `_` could remove that context.

[2022-08-31 15:42] yaahc commented on #96024
We could go back to what we had before we move Error into core which was a provide impl just on dyn Error which caused some other paper cuts but I can't remember exactly what those issues were.

[2022-08-31 15:49] matthiaskrgr opened #101243 "ICE: -Zdrop-tracking: Broken MIR: generator contains type &u32 in MIR, but typeck only knows about"
`./src/test/ui/async-await/issue-73137.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./issue-73137.rs -Zvalidate-mir   -Zdrop-tracking   --edition=2021`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-31 15:50] thomcc commented on #96024
Another issue for the provider API that matters for non-error cases is the lack of support for &mut.

I think the initial proposal did support this, at some cost to complexity. While I don't know that we need to support it out of the gate (I've wanted it multiple times when playing around with the API), it would be good to be sure we know it would look like, so that if we want to add it in the fut

[2022-08-31 15:52] yaahc commented on #96024
@thomcc I believe all we have to do is expose the tag APIs to support those cases. We didn't change the impl, only the exposed API.

[2022-08-31 15:55] rbtcollins commented on #86442
Sorry, I don't follow how this wasn't a breaking change. It was acknowledged as such much earlier on in the discussion. Code that did compile stopped compiling.

[2022-08-31 16:09] czzrr commented on #100972
@rustbot claim

[2022-08-31 16:41] arctic-penguin commented on #101234
`match` probably does not do what you expect it does. https://doc.rust-lang.org/reference/expressions/match-expr.html

You cannot use it like in other languages as an alternative to many `else if`s.

[2022-08-31 16:49] Rageking8 commented on #101205
Maybe keep the current note and just add a small "or `_`"?

[2022-08-31 16:56] shirshak55 opened #101247 "[Mac M2 pro] Seg faults on multiple libraries"
I am currently using m2 and have issues with multiple libraries like Tokio / Cargo what-features. It segfaults which means I am unable to use a rust compiler in my m2 pro 13inch 24 GB ram. I initially thought it was a crate issue, but I think it is a problem with rust in general and is related to formatted-related things.

This doesn't seg fault

Cargo.toml
[code]

main.rs
[code]

If I add process

[2022-08-31 17:30] cramertj commented on #99104
+1 to the previous comments-- I think the rule here winds up resembling NLL in that it's important whether or not the value is actually *used* after the yield.

[2022-08-31 17:33] scottmcm commented on #48594
Looks like this was merged for 1.65 in #99332 !

[2022-08-31 17:33] #48594 closed

[2022-08-31 17:44] cjgillot commented on #99975
This is a bug in MIR building. MIR validation detects that we insert a `drop(_2)` in the `else` branch of the `let-else`.
I'm not sure I know enough of MIR building to fix thing.

[2022-08-31 18:26] matthiaskrgr commented on #101243
reduced.
[code]

[2022-08-31 19:35] mystor commented on #101211
Looking at the code changes from #92472 it makes sense that this regressed, as the call to `Ident::new` (https://github.com/rust-lang/rust/pull/92472/files#diff-002b2429c67f4267af1485b8b9e2f95cbfe586971ed97f832da4d4d45d0e1e41R179) would have done a check and rejected creating `$crate`. The code (which was originally introduced in #73084: https://github.com/rust-lang/rust/pull/73084/files#diff-7593

[2022-08-31 19:55] steffahn commented on #101211
Thanks a lot for your insights!

[2022-08-31 19:56] steffahn commented on #101211
@rustbot label E-easy. (We only need a test to close this issue.)

[2022-08-31 21:08] lyming2007 commented on #101208
@rustbot claim

[2022-08-31 21:17] Aceeri commented on #34433
I'm not sure that it would even panic if we left it up to the `size_hint` of the existing iterator, since it already does a `saturating_add`, I suppose sure it wouldn't be accurate at that point...

[2022-08-31 21:48] gabrielBusta commented on #100717
@davidtwco

`rustc_trait_selection` is quite large indeed. I could definitely use some help.

[`traits/error_reporting/suggestions.rs`](https://github.com/rust-lang/rust/blob/15e2e5185a22207b18d2cbc47a48b39e63e84cd0/compiler/rustc_trait_selection/src/traits/error_reporting/suggestions.rs) has a higher number of errors than the rest of the files added together.

`suggestions.rs` and "the rest of th

[2022-08-31 22:40] mystor commented on #101211
For someone wanting to add a test for this, you should be able to add the use code in [`src/test/ui/proc-macro`](https://github.com/rust-lang/rust/tree/master/src/test/ui/proc-macro), and the proc-macro in [`src/test/ui/proc-macro/auxiliary`](https://github.com/rust-lang/rust/tree/master/src/test/ui/proc-macro/auxiliary).

You can see https://github.com/rust-lang/rust/blob/master/src/test/ui/proc-

[2022-08-31 23:16] est31 commented on #99975
Hmm so from local trying `rustc 1.64.0-nightly (263edd43c 2022-07-17)`, has the bug while `rustc 1.64.0-nightly (c396bb3b8 2022-07-10)` doesn't. The big change that happened to let else in that time was  #98574 so I'd say it's been caused by that PR. cc @dingxiangfei2009 do you have any ideas how to fix this?

[2022-08-31 23:24] woody77 opened #101255 "Unused crate dependency error confusingly points to a line of source about a different dependency"
The help text for the `unused-crate-dependencies` error is confusing.  See the example below:

[code]

The line of source that's called out isn't related to the unused crate.  Perhaps a better option would be:

[code]

Although in general, I think the option to `use <foo> as _;` isn't useful, and visually the source code snippet gets the most weight, and the most impact, vs say:
[code]
or
[code]

[2022-08-31 23:27] ChayimFriedman2 commented on #101234
This is https://doc.rust-lang.org/stable/reference/statements.html#expression-statements:

An expression that consists of only a [block expression](https://doc.rust-lang.org/stable/reference/expressions/block-expr.html) or control flow expression, if used in a context where a statement is permitted, can omit the trailing semicolon. **This can cause an ambiguity between it being parsed as a standal

[2022-09-01 00:26] #89064 closed

[2022-09-01 00:26] #100770 closed

[2022-09-01 01:34] wfeii1980 opened #101258 "A problem about cross compilation"
Example: cross compile windows MSVC 32-bit Release version

Will it be compiled twice in the following directory??
`target\release`
and
`target\i686-pc-windows-msvc\release`

Do you have a detailed introduction!

[2022-09-01 01:34] earthengine commented on #83291
I receive this error with
[code]

Trying to replicate with simpler code.

[2022-09-01 02:24] dingxiangfei2009 commented on #99975
@est31 I am running a suspicion that scoping with regards to `else` block is done improperly. I am investigating.

[2022-09-01 02:32] compiler-errors commented on #101188
This no longer ICEs as far as I can tell.

[2022-09-01 02:32] #101188 closed

[2022-09-01 02:33] compiler-errors commented on #101149
This is fixed.

[2022-09-01 02:33] #101149 closed

[2022-09-01 02:45] wfeii1980 commented on #101258
![2022-09-01 10-41-05](https://user-images.githubusercontent.com/20835589/187820860-aab256e0-7b2d-41bc-8373-52790689397b.png)

Non cross compilation is also compiled twice

[2022-09-01 02:49] wfeii1980 commented on #101258
![2022-09-01 10-41-05](https://user-images.githubusercontent.com/20835589/187821331-632a1831-cd66-488d-a54b-ee1cc136af8c.png)

Non cross compilation is also compiled twice!

One of them target_type != release, is debug.

[2022-09-01 04:21] SUPERCILEX commented on #63569
Why do the `slice_as[_mut]_ptr` methods exist? I'm poking through MaybeUninit's API to see if anything else can be simplified, and those two methods seem to just be hiding a simple `as *{const,mut} T` cast.

[2022-09-01 05:22] lopopolo commented on #74990
@madsmtm @BatmanAoD I've put up a PR to resolve this stabilization blocker:

- https://github.com/rust-lang/rust/pull/101263

[2022-09-01 05:36] lopopolo commented on #97659
@bjorn3 it looks like https://github.com/rust-lang/rust/pull/92845 was recently merged. Is there additional work to do here? I tried with a recent nightly I still get the fatal.

[code]

## Meta

[code]

[2022-09-01 06:15] elpiel commented on #91345
Another set of hands for stabilizing this feature. I think it is very useful for e.g. logging a given error too and it's a nice addition in general

[2022-09-01 07:10] Zalathar opened #101267 "`Sized` trait should have `#[doc(alias = "?")]`"
### Summary

Typing `?` into the standard library’s search field shows aliased links to the `Try` trait (and the old `try!` macro), but there is no link to the `Sized` trait, which frequently appears as `?Sized` in generic type bounds.

This could be a way to lead some users towards the documentation for this unusual use of the question mark character in trait-bound syntax.

[Inspired by this redd

[2022-09-01 07:44] bjorn3 commented on #97659
I forgot to pass `-Cpanic=abort` to rustc. Looks like we now emit a proper aborting landingpad. I now get

[code]

which seems to be due to no catch existing on the stack rather than from skipping past the aborting landingpad.

[2022-09-01 07:44] #97659 closed

[2022-09-01 07:56] djc opened #101268 "ICE: range start index 2 out of range for slice of length 0', library/core/src/slice/index.rs:52:5"
### Code

Not reduced so far. Can reproduce by checking out the code from https://github.com/InstantDomain/instant-xml/tree/ice and running `cargo test` (running `cargo check` is not enough). See the last commit for triggering changes.

### Meta

`rustc --version --verbose`:
[code]

Nightly does not panic.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code

[2022-09-01 08:11] blueForestIcarus commented on #71671
This results in very confusing errors sometimes multiple function calls removed from the change.
The join_all version works, but when changing to the version below, an error appears all the way in new(), despite
A) new not changing
B) the function being spawned not changing
C) no function's type signature changing

[code]

[2022-09-01 08:25] ChayimFriedman2 commented on #101117
rust-analyzer and the Rust extension don't work well together. Remove/disable the second. I said that because the popup says it is from the Rust extension.

[2022-09-01 08:34] apiraino commented on #101068
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23101068.20E0004.20says.20.22note.3A.20.60Option.3Ci32.3E.60.20defined.20here.22.20when.20.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-09-01 08:53] nikic commented on #101082
Partial fix: https://github.com/llvm/llvm-project/commit/5b219dd9e906c94a97c92e6bf9b2360f6f279f96 This at least allows the loop to be unrolled, though it only gets fully constant folded in the backend.

[2022-09-01 09:09] nikic commented on #101082
[code]

Oh my, if it isn't yet another casualty of LLVM's dumb typed GEP representation. This might get fixed by https://github.com/rust-lang/rust/pull/98615 as well.

[2022-09-01 09:44] ChrisDenton commented on #101134
Ok, it does surprise me. For [platform details see here](https://docs.microsoft.com/en-us/cpp/build/exception-handling-x64?view=msvc-170#language-specific-handler). This handler can choose not to handle the exception (which may mean the program continues to unwind) or it may explicitly continue unwinding.

I would (perhaps naively?) expect Rust to always abort instead of maybe abort or maybe unwin

[2022-09-01 10:08] apiraino commented on #99853
removing I-prioritize since this topic will be handled in a T-compiler meeting

@rustbot label -I-prioritize

[2022-09-01 10:24] rdvdev2 commented on #100717
Life got in the way, but now I'm retaking the work in the PR. I'm probably going to do some more commits the next hours.

[2022-09-01 10:52] davidtwco commented on #100717
I've split this crate up as you suggested, `rustc_trait_selection::traits::error_reporting::suggestions` and everything else, and left your assignment on "everything else" given what you've said you're working on currently.

[2022-09-01 10:56] sgued commented on #98601
This is particularly confusing when the `block is empty` points to a macro:

[code]

gives

[code]

on 1.65.0-nightly (2022-08-31 9243168fa5615ec8ebe9)

[2022-09-01 10:58] DesmondWillowbrook commented on #91345
Ok, from what I understand of [FCP protocol](https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html#when-is-an-fcp-appropriate), we should first make sure there are no outstanding concerns. The correct thing to do should be to ping one of the libs team members like @joshtriplett to give their comments and then potentially file an FCP.

[2022-09-01 11:34] GuillaumeGomez commented on #101133
We generally try to not make any rustdoc feature break the markdown specification.

[2022-09-01 11:35] GuillaumeGomez commented on #101129
This is an interesting case indeed! It seems to be very close to what was fixed in https://github.com/rust-lang/rust/pull/101006. I'll send a PR shortly.

[2022-09-01 11:51] ozkanonur opened #101277 "droping mutability of mutable addresses"
Since Rust provides bunch of useful macros, what about providing this one as well?

[code]
This is useful for preventing invalid data assignment to the mutable addresses in large code blocks. If there will any data assignment happen after droping mutability, we will be informed by the compiler error without facing with logical bugs on runtime. Since no extra `drop_in_place` getting called, I suppo

[2022-09-01 12:11] estebank opened #101278 "Unterminated char literal complains about lifetimes"
Given the following code

[code]

the current output is

[code]

It should instead recognize that a char literal was intended:

[code]

_https://internals.rust-lang.org/t/error-message-for-vec-1-2-3/17309_

[2022-09-01 12:16] ChrisDenton commented on #101277
How about:

[code]

[2022-09-01 12:30] ozkanonur commented on #101277
Same thing.
However, reading this:
[code]
instead of
[code]
can be more clear on code reviews in my opinion.

[2022-09-01 12:52] ChrisDenton commented on #101277
I'm not trying to be facetious here I'm just not really seeing the macro as having much of an advantage? And it may be surprising in some cases:

[code]

The manual method can be written in a slightly more compact way:
[code]

Or maybe this for some use cases:

[code]

[2022-09-01 12:55] dingxiangfei2009 commented on #99975
Indeed it is a scoping problem. It is dropping the storage not live yet because it is considered live nevertheless, whenever its `var_parent` in on the `scopes` stack while building the MIRs. In this case, the variable is registered to have lifetime of `Remainder` scopes but its lifetime only starts when the pattern matching is successful, not in the `else` block. I think intermediate scopes are n

[2022-09-01 12:56] joshtriplett commented on #86442
I think, at this point, we would provide the best experience by stabilizing these.

@rfcbot merge

[2022-09-01 13:07] steffahn opened #101280 "Stand-in lifetime names for printing HRTs doesn’t avoid name collisions."
E.g.
[code]
chooses the lifetime name “`'r`” for the fn-pointer type of the argument `f` and prints
[code]
---
However, rewriting the code into
[code]
does ***not*** currently make the compiler reconsider the choice of “`'r`” in the lifetime name, resulting in an unhelpful error message
[code]

[2022-09-01 13:21] steffahn commented on #101278
Note that users might deliberately try naming lifetimes `'1` or `'2`, too, in other cases; especially given that some error messages introduce lifetimes with such stand-in names, e.g.
[code]

[2022-09-01 13:23] JanBeh commented on #101133
Okay, you can just close this issue then if you think it should not be supported. I wrongly assumed it was a bug but apparently it isn't.

[2022-09-01 13:24] amanjeev opened #101281 "Improved messaging for `?` within a function with `()` return type - E0277"
This is mostly a suggestion if there can be some improvement to the diagnostics.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0aa16f03b3a56a8133bf2023fd8a0c4e

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This error is easier to miss because busy-ness and not knowing which function needs the return type.

[2022-09-01 13:48] ijackson commented on #86442
I very much agree that we should stabilise these.

Having said that, I can understand why it has taken a while.

The conversations in this area have been very long and detailed.  The change from `Other` to `Unrecognized`, which has already been done, and is *not* part of what we're proposing to stabilise, has (perhaps inevitablh) become entangled in the conversations (especially since it was promp

[2022-09-01 13:51] joshtriplett commented on #86442
I'm expecting `Unrecognized` to remain perma-unstable, by way of avoiding the problem that occurred with `Other`.

And yes, I think there have been a lot of questions, but I do think they've been answered. Anyone is free to call out questions that haven't been, though.

[2022-09-01 13:58] c410-f3r opened #101283 "CTFE does not warn arithmetic overflow of literal integer references"
Feel free to close if duplicated.

[code]

[2022-09-01 14:01] cuviper commented on #86442
Shouldn't this be a libs-api FCP?

[2022-09-01 14:20] lnicola opened #101284 "`rust-2021-incompatible-closure-captures` fires in 2021 edition code"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=92d18abb330e3fbc8a1425f3458830da

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The code is already being compiled for the 2021 edition, there's no need to issue any warnings about behaviour that was different in 2018.
The compiler should assume that the code is

[2022-09-01 14:32] pnkfelix commented on #101004
closed by merge of #101050

[2022-09-01 14:32] #101004 closed

[2022-09-01 14:38] pnkfelix commented on #100615
self-assigning to ensure we record a cargo-bisect to the injecting PR

[2022-09-01 14:40] GuillaumeGomez commented on #101133
Ok, closing then!

[2022-09-01 14:40] #101133 closed

[2022-09-01 14:41] nikic commented on #101082
This turns out to be surprisingly tricky due to phase ordering issues. Even with canonical GEPs, the loop bounds only become known after full unrolling, by which point it is too late. I think the best shot at this would be to generalize LICM scalar promotion to perform load promotion in the presence of potentially aliasing loads. https://reviews.llvm.org/D133111 is preparation to move in that dire

[2022-09-01 14:47] estebank commented on #101278
Yes, the error recovery should be constricted to places where a char literal would be completely valid.

[2022-09-01 14:48] pnkfelix commented on #101048
Aside: I think our labels here are a bit too general; while the text for "regression-from-stable-to-nightly" label itself says "Performance or correctness regression from stable to nightly", I think it should probably be revised to be restricted to "correctness or *severe* performance regression ..."

@rustbot label: -regression-from-stable-to-nightly

[2022-09-01 14:51] pnkfelix commented on #101048
I'm putting back the label for now; I want to get more consensus amongst the team about what the labels should be used for and what they denote (and how to get a narrower view when one wants to filter out cases like this)

@rustbot label: +regression-from-stable-to-nightly

[2022-09-01 14:59] #101277 closed

[2022-09-01 15:14] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-2 start=1.63.0 end=beta-2022-09-01 mode=build-and-test cap-lints=warn p=1

[2022-09-01 15:15] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-3 start=1.63.0 end=beta-2022-09-01 mode=build-and-test cap-lints=warn p=1

[2022-09-01 15:20] No-one-important opened #101286 "compiler panic running "cargo install bottom""
compiler output

[code]

[2022-09-01 15:22] No-one-important commented on #101286
this seems repeatable but I don't know what code is causing it

[2022-09-01 15:30] petrochenkov commented on #99427
There's one possible improvement to `-l link-arg` making it more portable between linkers and useful - befriending it with the `verbatim` modifier (https://github.com/rust-lang/rust/issues/99425).

`-l link-arg:-verbatim=-foo` would add `-Wl,-foo` (or equivalent) when C compiler is used as a linker, and just `-foo` when bare linker is used.
`-l link-arg:+verbatim=-bar` on the other hand would alwa

[2022-09-01 15:47] compiler-errors commented on #101278
I think we can do this with a stashed diagnostic.

[2022-09-01 15:59] nerdypepper opened #101288 "Tracking Issue for `char::is_ascii_octdigit`"
Feature gate: `#![feature(char_is_ascii_octdigit)]`

This is a tracking issue for the new `char::is_ascii_octdigit`, which, in the same vein as `char::is_ascii_hexdigit`, checks if a value is an ASCII octal digit (`'0'..='7'`).

This is a shorthand for `char::is_digit(self, 8)`. Prior discussion on [irlo](https://internals.rust-lang.org/t/new-api-char-is-ascii-octdigit/17306).

### Public API

[co

[2022-09-01 15:59] nerdypepper commented on #101288
@rustbot claim

[2022-09-01 16:00] estebank commented on #101278
I think a limited lookahead (and maybe some passed down info) that checks whether a literal is acceptable there.

[2022-09-01 16:10] ChayimFriedman2 commented on #101278
Are they even accepted in the same positions? Lifetimes are only in generic parameter lists and chars are only in expressions, no?

[2022-09-01 16:10] ijackson commented on #86442
Probably, yes, as I understand it.

Absolutely.

[2022-09-01 16:11] compiler-errors commented on #101278
Lifetimes are also labels that start blocks

[2022-09-01 16:11] ChayimFriedman2 commented on #101278
So a "if not followed by colon" can be a pretty good estimation.

[2022-09-01 16:16] ijackson commented on #86442
Yes.

[2022-09-01 16:48] jw2476 commented on #81872
What needs to be done to get this into stable?

[2022-09-01 17:06] Canop opened #101291 "Some errors could be better handled by detecting a pattern"
## Exemple Use Case:

It's possibly common enough for people using several languages to apply the wrong, easy to recognize, construct.

Recognizing this construct in case an error is detected would avoid a sequence of suboptimal hints.

Here's the exemple of typing `for let thing of some_iterator` (JavaScript inspired):

![image](https://user-images.githubusercontent.com/617006/187971605-2b473517-

[2022-09-01 17:21] Ultra-Gato commented on #92791
Is it not supposed to implement Eq? because Box does.

[2022-09-01 17:35] jakob-lilliemarck commented on #50133
I believe I also just issue in a multi-crate project:

[code]
and then in another crate:

[code]

It would indeed be very useful to be able to do this - as it guarantees the implemented tuple-type on some core-library-entity is of the same type as implemented in a consuming application or library.

I can work around it by exposing the a `pub type ScriptTuple` from the first crate, but that opens u

[2022-09-01 17:55] Ultra-Gato commented on #92791
Because I get this error:

`the trait `Eq` is not implemented for `ThinBox<Vec<Item>>`
`

[2022-09-01 17:57] cuviper commented on #92791
`Eq` is not implemented *yet*, but it seems reasonable to add, and eventually mirror most of `Box`'s API. For now, I think the initial implementation was intentionally kept light.

[2022-09-01 18:05] cuviper commented on #92791
We should think at least about the fundamental traits before stabilization -- `Fn`, `FnMut`, `FnOnce` -- because they can't be added later. (That's why `Rc` and `Arc` don't implement them -- see #71570.)

Maybe `ThinBox` should also be a fundamental type like `Box`.

[2022-09-01 18:28] cuviper commented on #92791
Another auto-trait consideration is `Unpin` -- `Box<T>` is unconditional, but `ThinBox<T>` is currently auto for `T: Unpin`. There's a big note about this on `Box`, so I'm not really sure whether `ThinBox` should get that same exception.

[2022-09-01 18:48] reynoldsbd commented on #96486
@operutka same here - the issue goes away after upgrading my compiler

[2022-09-01 19:05] compiler-errors commented on #101281
I'm not sure if that `hint:` you suggested adds more value than the labeled message that's directly above it. Regarding "not knowing which function needs the return type", it's already being pointed out in the error message? Do you have a better example for where this is particularly confusing?

[2022-09-01 19:26] compiler-errors commented on #101291
I think this issue could be phrase a bit more specifically, i.e. "parse JS style for-loop iteration and suggest fixing it", unless you're suggesting that we try to parse all sorts of different `for` loop concepts from a diverse set of languages, which I think is going to be significantly harder.

[2022-09-01 19:27] compiler-errors commented on #101291
Alternatively, this could be fixed with a few different error recoveries. First, we should recover from this:

[code]

Then we could also recover from:

[code]

[2022-09-01 19:29] yaahc commented on #86442
Going to cancel the fcp in progress because it was started under the wrong team. I haven't refreshed myself on the current state of the thread yet so I don't want to start the FCP since it will permanently check my box, @joshtriplett please restart the FCP under libs-api whenever you have a chance.

@rfcbot cancel

[2022-09-01 19:56] compiler-errors commented on #101242
oh goodness lol

[2022-09-01 20:03] compiler-errors commented on #101242
And it should be quite possible to do this in special cases too, like when you're just adding arguments or just removing them.

[2022-09-01 20:11] Globidev opened #101297 "ICE: generic RPIT with implicit HRTB when missing dyn"
### Code
Found originally via https://discord.com/channels/273534239310479360/273541522815713281/1014981030022750328

I managed to reduce it to
[code]

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=66591852861d8334fe46a9f3cb9417df)

This seems to be related to a combination of RPIT, missing `dyn` keyword, implicit HRTB (`&()`) and parenthesis syntax for

[2022-09-01 20:19] estebank commented on #101242
@compiler-errors I think those are the ones that will be easiest to deal with and that if we only do that, it'd be quite an improvement. The other change that can be generalized is to only target the span between the parens, instead of the whole call expr span.

[2022-09-01 20:22] estebank commented on #101291
Detecting `let` pattern after `for` is indeed one recovery. I believe we already have a `of` -> `in` check, but if not we can add it. Finally, I think it'd be nice if we could detect that we don't know for sure and "just" swallow the rest of the expression (find the next `;` accounting for nested braces) or the end of the item (easier).

[2022-09-01 20:32] apiraino commented on #100615
I went ahead and attempted a bisection. The breadcrumbs seem to lead to rollup of #99231 with possibly #97720 being the patchset where this issue originates cc @cjgillot ?

searched nightlies: from nightly-2022-07-13 to nightly-2022-07-15
regressed nightly: nightly-2022-07-15
searched commit range: https://github.com/rust-lang/rust/compare/87588a2afd9ca903366f0deaf84d805f34469384...c2f428d2f3340a0

[2022-09-01 21:42] cjgillot commented on #85417
https://github.com/rust-lang/rust/pull/97720 originally suggested to remove the difference between the async and regular fns. In order to avoid and insta-stable change, the choice was made to introduce the feature gate instead.

Removing this feature gate is trivial: revert https://github.com/rust-lang/rust/pull/97720/commits/5a20834884f653e84485fb905785fdbca98b7e02.
Re-introducing suggestions the

[2022-09-01 22:21] Ultra-Gato commented on #92791
I always thought that Unpin was automatically implemented on all types. Does unconditional simply mean you can't opt out of Unpin?

[2022-09-01 22:31] cuviper commented on #92791
The unconditional impl on `Box<T>` means it does **not** require `T: Unpin`, while `ThinBox<T>` does require that.

[2022-09-02 00:28] saethlin commented on #60076
@rustbot claim

[2022-09-02 00:42] Lokathor opened #101300 "rustc emits calls to `__sync_` when using load/store with `+forced-atomics`"
I went to start a new branch for the `gba` crate and things were going well *until* LLVM demanded that I add a bunch of definitions for atomic intrinsics:

[code]

These are all part of LLVM's [sync](https://llvm.org/docs/Atomics.html#libcalls-sync) function set, and they are probably caused by the atomic accesses I'm using:

* [lib.rs, u32 store](https://github.com/rust-console/gba/blob/v0.7.0-re

[2022-09-02 00:54] #100459 closed

[2022-09-02 00:54] #101227 closed

[2022-09-02 00:54] #101129 closed

[2022-09-02 00:58] saethlin commented on #96152
Possibly. But we have a small problem maybe? All three of those compile to different IR:
[code]
So I could write a codegen test that checks that they compile to what they do right now, but I feel like it would be valid and good for LLVM to produce the same IR for all 3, and it would be a bummer if the codegen test broke when it does.

If there's a way around this, I'm happy to PR the codegen test.

[2022-09-02 01:25] BatmanAoD commented on #101134
@Amanieu Does #92845 change this? I'm not really able to answer any of @ChrisDenton's questions above, but it seems like we should now be linking a personality function in std rather than `__CxxFrameHandler3`.

[2022-09-02 01:46] pnkfelix commented on #34596
I think the problem raised here is now addressed by rust-lang/rfcs#2834 and rust-lang/rust#71249, right?

[2022-09-02 01:50] joshtriplett commented on #86442
@rfcbot merge

[2022-09-02 02:35] nerdypepper commented on #101288
This method is also applicable to bytes, so the scope of this issue extends to `u8` as well.

[2022-09-02 02:40] jyn514 commented on #96524
oh heh, this is what @eddyb suggested 4 years ago https://github.com/rust-lang/rust/pull/56462#issuecomment-443959739

[2022-09-02 02:43] asquared31415 opened #101306 "rustfmt Not Downloaded Until Manual `x.py fmt`"
As of #97507 `rustfmt` is not downloaded until the user runs `x.py fmt`.  The rustc dev guide suggests setting the formatter to the rustfmt that is downloaded for stage0 in the build directory, but that is no longer downloaded with any other `x.py` commands.

@jyn514 (sorry for the delay in making this issue)

[2022-09-02 02:53] rodrimati1992 commented on #83452
This is intentionally allowed now, so no point in leaving this open.

[2022-09-02 02:53] #83452 closed

[2022-09-02 03:16] #101067 closed

[2022-09-02 04:44] zachs18 commented on #63292
In addition to variance, this also has problems with the existing (stabilized in `1.62.0`) `impl From<Rc<str>> for Rc<[u8]>` (likewise for `Arc`), since an `Rc<str>` can be cloned, converted into an `Rc<[u8]>`, `get_mut_unchecked`ed, and filled with invalid UTF-8, which can later be observed in the original `Rc<str>`. This should probably be mentioned in the docs as well as the variance issues (if