[2018-03-19 14:11] matthiaskrgr opened #49175 "bootstrap: support building rustc with monolithic lto"
I would like to be able to locally build rustc with monolithic lto enabled (````-C lto````) however it seems that using ````lto=true```` in ````src/Carto.toml```` does not have any effect.

```` RUSTFLAGS="-C lto" ./x.py build ```` fails as well

[code]

Edit: related: #49180

[2018-03-19 14:13] QuietMisdreavus commented on #49174
To make a PR for this, you can effectively follow the blueprint in https://github.com/rust-lang/rust/pull/48106. There's a conditional in `partition_source` in `src/librustdoc/test.rs` that checks for inner attributes and `extern crate` statements, so the change is as small as adding another condition to check for lines starting with `#[macro_use] extern crate` as well. You should also add another

[2018-03-19 14:13] SimonSapin commented on #27745
I don’t mind waiting for another solution, but in addition to implementing support for constants in vtables we’d need *syntax* to access them. As far as I know no such syntax exists today, and I don’t know have a clear idea of what it could look like.

[2018-03-19 14:16] alexcrichton commented on #44488
@rfcbot concern motivation-and-ergonomics

The [original motivation](https://github.com/rust-lang/rfcs/pull/2043) for these functions (unless it's changed, which it may have!) I believe was for miri and const evaluating various functions. Is that still the main motivation for these functions? If so do we expect that more things to be available on stable once these are stabilized?

I'm a little unc

[2018-03-19 14:19] rkruppe commented on #49175
rustc is primarily composed of dylibs, which as the error message states are incompatible with LTO. This is fundamentally impossible, at least until we get rid of the dylibs (they're currently required for compiler plugins and proc macros).

[2018-03-19 14:21] kkayal commented on #49171
The warning underlines the the part `mut foo`. So it is telling me that I am not using the left side of the assignment:

[code]

[2018-03-19 14:22] SimonSapin commented on #35729
One thing we can still do is revert the `Index` and `IndexMut` impls or slices to be separate for each range type rather than generic based on the `SliceIndex` trait. This would allow removing the `index` and `index_mut` methods of `SliceIndex`.

Also the `str::get_*` methods all return the same respective type regardless of the argument’s type, so they could be based on `RangeArgument` instead. B

[2018-03-19 14:24] matthiaskrgr commented on #49171
Yeah, I agree that's a bit confusing.

[2018-03-19 14:26] alexcrichton commented on #43570
@rfcbot concern footgun

I'd personally be somewhat concerned about the `replace_with` API in terms of the intended use case of `RefCell`. Used in the case where mutability doesn't cut it usage of `RefCell` often implies lots of aliasing all over the place which is often difficult to determine statically. As a result correct progress mostly minimize the amount of time a `RefCell` is borrowed or ot

[2018-03-19 14:26] alexcrichton commented on #43570
I'm also under the impression that this isn't a massively used method in the sense that the ergonomic win here isn't necessary critical, but I could be wrong!

[2018-03-19 14:28] michaelwoerister commented on #49168
Can we switch to one CGU for stable releases?

[2018-03-19 14:29] matthiaskrgr commented on #49175
Hmm so forcing everything to be linked statically is not possible at the moment, right?
// cc  https://github.com/rust-lang/rust/issues/39998

[2018-03-19 14:30] alexcrichton commented on #49168
Unfortunately not really, we're seriously bleeding for time on CI as-is and we're looking for any wins we can get anywhere. We can leave this open if we ever get enough time on CI, but otherwise I think we just can't afford to do this today

[2018-03-19 14:30] oli-obk commented on #44488
yes

This will allow making it const fn, which is a separate topic in the future

No matter which computation you use to figure out the number of bytes that you need to offset your pointer in order to make it aligned, you will need to check whether it still points into your buffer. If you have a `[u8; 3]` and have a pointer to the first element, how many bytes to do you need to offset in order to

[2018-03-19 14:31] alexcrichton commented on #44608
@rfcbot concern arc

We should add to `Arc` as well for consistency, right?

[2018-03-19 14:32] michaelwoerister commented on #49168
OK, thanks for the info. I'll close this issue since the regression is accounted for.

[2018-03-19 14:32] #49168 closed

[2018-03-19 14:35] SimonSapin commented on #44608
On the implementation PR:

We can still do that.

[2018-03-19 14:36] alexcrichton commented on #27745
Yes it's true that it's quite aways away, but is the rationale for stabilizing these *today* with known drawbacks?

[2018-03-19 14:38] steveklabnik commented on #49171
Tagging with `A-diagnostics` due to the `mut` issue; @matthiaskrgr is correct that fundamentally, this warning is correct.

[2018-03-19 14:44] alexcrichton commented on #44488
Ok, thanks for the info! It sounds like this function doesn't necessarily unlock anything in the near term as const-things are still pretty unstable? If that's the case I'm personally tempted to leave these as unstable until we've got the const story more fleshed out to see how they fit into the grand scheme of things

[2018-03-19 14:50] alexcrichton commented on #48826
Looks like with https://github.com/rust-lang/rust/pull/49095 our builds have stabilized at from 2.5 hours to 2 hours on the asmjs builder. That should hopefully buy us at least a few months!

[2018-03-19 14:51] vitvakatu commented on #48980
@Vurich no, `SystemTime` behaves different on different platforms as well.

[2018-03-19 14:54] sanxiyn commented on #49175
Yes, it is not possible.

[2018-03-19 14:58] sanxiyn commented on #49171
This is #33536 which was incorrectly closed.

[2018-03-19 15:06] alexcrichton commented on #44608
Indeed!

[2018-03-19 15:10] nikomatsakis opened #49177 "🛠 Extend the "chalk lowering" pass with remaining rules"
Now that @scalexm has created the [basic framework for lowering][], we need to flesh it out. This issue is intentionally structured as a "quest isuse" -- that is, a way for a lot of people to contribute, each doing one small thing. The goal is for everyone to get familiar with the overall "chalk" setup.

[basic framework for lowering]: https://github.com/rust-lang/rust/pull/48985

### The tasks

E

[2018-03-19 15:20] eddyb commented on #49146
@oli-obk It's a bit trickier because the complex control-flow means dataflow analysis needs to be employed. I need to get back to @alexreg and figure out how to integrate their changes.

[2018-03-19 16:03] tjkirch commented on #48967
Two other potentially interesting pieces of data:

I didn't try opt-level = "z" in my last round of testing, but I can confirm that one *works* with 2018-03-17.  I wouldn't have expected that, when "s" crashes.

I had earlier reported "A colleague found that dynamically linking libgcc (and libc) using "target-feature=-crt-static" works around this issue."  He says that this no longer works with th

[2018-03-19 16:05] SimonSapin commented on #27745
It doesn’t have to be *today*, but having a realistic path to some resolution one way or another within the next few months would be nice.

This issue is two and a half years old. This method has been unstable for as long as the stability mechanism has existed. In my opinion features being unstable should be a temporary state while we figure out unresolved questions (and ideally get some usage exp

[2018-03-19 16:06] alexreg commented on #49146
@eddyb A good starting point would probably be to take my [`const-qualif` branch](https://github.com/alexreg/rust/tree/const-qualif) (minus the top commit), rebase it over master (not going to be fun), and then add data annotation stuff, right?

[2018-03-19 16:13] jonathandturner commented on #49168
@michaelwoerister - sorry for jumping in, but is there a follow-up issue to track reclaiming this regression time?  One of our main deliverables this year is faster compile times, so each compile time regression is pretty serious.

Apologies if I'm misunderstanding the thread, just making sure we're keeping track of where we slip and where we need to recover.

[2018-03-19 16:13] clarcharr commented on #49137
Honestly, compile time of end-user crates matters a lot more than compile time of libstd and co. because for most users libstd will already be compiled. So, even adding a minute of compile time to libstd isn't super bad.

[2018-03-19 16:20] nox commented on #27745
I have a way out, I think:

 1. keep `Any::get_type_id` as unstable;
 2. introduce an inherent method `type_of(&self) -> TypeId` on `Any` calling `get_type_id`;
 3. change `type_of` to use vtable constants whenever those are introduced into the language.

[2018-03-19 16:30] ErichDonGubler commented on #40895
How does one contribute after the FCP has gone through for stabilization? I'm not familiar with it and want to learn. :) Is that something the community contributes, or do we have a big stabilization PR like [this one](https://github.com/rust-lang/rust/pull/43373)?

[2018-03-19 16:34] fintelia commented on #45323
With @sfackler's alternative (and IMO better) proposal just introduced, should this still be going into its final comment period?

[2018-03-19 16:38] SimonSapin commented on #45323
@rfcbot fcp cancel

Let’s start again after `buffer()` has landed.

[2018-03-19 16:41] SimonSapin commented on #40895
Both are possible. In this case I see that https://github.com/rust-lang/rust/pull/49121 has already been submitted.

[2018-03-19 16:46] bjorn3 commented on #49113
Cargo uses incremental builds by default now (rust-lang/cargo#4817)

[2018-03-19 16:48] michaelwoerister commented on #49168
@jonathandturner I have an item on my todo list for setting up a tracking issue about building our releases as optimized as possible (including PGO, once that's available, and maybe full LTO). Should be up later today.

[2018-03-19 17:14] mystor opened #49178 "save-analysis filters out public items"
save-analysis currently filters out items based on their span - namely, if the item is determined to be "from a macro" according to its span, it will not be included in the saved analysis.

This can mean that items which are part of a crate's public interface are often filtered out. I imagine we should ensure that we never filter out items which are not `#[doc(hidden)]` and are part of a crate's p

[2018-03-19 17:21] mystor commented on #49178
cc @nrc who I imagine would know the most about this.

[2018-03-19 17:31] michaelwoerister opened #49180 "Build released compiler artifacts as optimized as possible"
At the moment the compiler binaries that we release are not as fast and optimized as they could be. As of https://github.com/rust-lang/rust/commit/ff227c4a2d8a2fad5abf322f6f1391ae6779197f, they are built with multiple codegen units and ThinLTO again, which makes the compiler around [10% slower](https://github.com/rust-lang/rust/issues/49168) than when built with a single CGU per crate. We really s

[2018-03-19 17:40] matthiaskrgr opened #49181 "crash while compiling pango 0.1.3"
I was trying to build https://github.com/bvinc/gxi which pulls in pango 0.1.3 as dependency https://github.com/gtk-rs/pango .
While building pango, rustc segfaults
[code]

[code]
meta:
[code]

[2018-03-19 17:44] michaelwoerister commented on #49168
@jonathandturner: https://github.com/rust-lang/rust/issues/49180

[2018-03-19 18:33] Mark-Simulacrum commented on #49175
I'm going to close this as it's not feasible today and probably not something we'll want to do for quite some time if ever.

[2018-03-19 18:33] #49175 closed

[2018-03-19 18:39] matthiaskrgr commented on #49175
@Mark-Simulacrum  uhm, #49180 says that it would desirable to bootstrap with monolithic lto

[2018-03-19 18:41] abonander commented on #49153
I'll try to build the latest master and see what happens.

[2018-03-19 18:43] Mark-Simulacrum commented on #49175
True, but I don't think a dedicated issue will help move this along at this point -- I don't particularly care either way though.

[2018-03-19 18:49] memoryleak47 commented on #49174
I'd like to try this one. :)

[2018-03-19 18:51] bdrewery commented on #42681
The last piece for this should be updating the src/stage0.txt beta used. I am testing that now.

[2018-03-19 18:54] QuietMisdreavus commented on #49174
Great! Let me know if you run into any issues or want some help. :D

[2018-03-19 18:55] leonardo-m commented on #48777
Another case where suggesting "_" is better than suggesting "_i":

[code]

[2018-03-19 18:58] leonardo-m commented on #47354
Fixed since few Nightlies.

[2018-03-19 19:01] HeroicKatora opened #49183 "Segfault using `vec!` when running under valgrind"
Allocations bigger than `0x2000` with `vec!` crash with a segfault when running under valgrind.

[code]

This was first noticed and reported as [an issue to `image`](https://github.com/PistonDevelopers/image/issues/719).

Meta
-----

<details>
<summary>rustc - 1.26.0-nightly</summary>
<pre><code>
rustc 1.26.0-nightly (adf2135ad 2018-03-17)
binary: rustc
commit-hash: adf2135adc4a65a78ba053f04c29d7f

[2018-03-19 19:05] QuietMisdreavus commented on #42018
One thing i'd like to see (that will probably need cooperation from some rustbuild experts) is the ability to test the stdout-printing behavior of rustdoc in various situations. We don't have UI tests for rustdoc the same way the compiler does, so right now there's no place for these in the testing setup.

[2018-03-19 19:16] bluss commented on #44608
Hehe, I can't quite find the right way to pick the right implementations.

All four combinations are "Trait", "Trait + Send", "Trait + Sync", "Trait + Send + Sync".

The frugal approach is just the first one for Rc and just the last one for Arc. The perfect would be to write just one that covered them all, for each of Rc and Arc. I think the pragmatic would be all four for both Rc and Arc.

[2018-03-19 19:18] nikomatsakis commented on #48538
@giannicic this looks roughly right. I suspect we don't need to store the overlap edges in the graph --  after all, I think we only need them during overlap checking. We could keep a set of pairs instead. Regarding whether to store in "both directions", I would instead canonicalize the def-ids so that the "lower" one appears first, since you don't really need to store both directions.

[2018-03-19 19:34] alexcrichton commented on #49180
To make sure we set expectations, the [10% number of perf](http://perf.rust-lang.org/compare.html?start=39264539448e7ec5e98067859db71685393a4464&end=36b66873187e37a9d79adad89563088a9cb86028&stat=instructions:u) is not 10% slower, it's "executes 10%" more instructions. The change in the number of instructions is often an indicator that there *could* be a regression but it does not translate to a 10

[2018-03-19 19:48] alexcrichton commented on #27745
@SimonSapin I agree that we shouldn't leave issues in limbo forever, but I don't think it sounds like it's urgent we do anything on this in the near future? We have a theoretical path to stabilization and if necessary to stabilize in the near future we can do so with the understanding that it's not as good as it may be one day and plan appropriately.

To that end I'd still like to see an argument

[2018-03-19 20:11] nikomatsakis commented on #43302
@rfcbot fcp merge

I propose that we **stabilize** must-use lints. @zackmdavis has prepared an [excellent summary] here.

However, I am also in favor of @SimonSapin's change to report an error if `#[must_use]` is attached to a method in a trait impl (rather than having that be a no-op), and I'd prefer not to stabilize until we agree to that change as well (though this could be added to the stabili

[2018-03-19 20:16] nikomatsakis commented on #36122
This ought to be a mostly easy fix. The problem is that the well formedness check, which ought to be rejected this code, is ignoring things in an `extern`:

https://github.com/rust-lang/rust/blob/a04b88d1941644df01fa5e31dd43e0f57c13d938/src/librustc_typeck/check/wfcheck.rs#L86

They fall through to this `_` case:

https://github.com/rust-lang/rust/blob/a04b88d1941644df01fa5e31dd43e0f57c13d938/src/

[2018-03-19 20:19] scottmcm opened #49185 "Tracking issue for LLVM align attributes (-Z arg_align_attributes)"
In theory we should be emitting LLVM `align <n>` attributes (https://llvm.org/docs/LangRef.html#attr-align) for references, since they're always aligned.

However, it turns out that these get inlined as `assume` calls, which (per the HACK comment in the code) block other optimizations, so they're currently disabled.

-Z flag was added in https://github.com/rust-lang/rust/pull/49122

[2018-03-19 20:26] QuietMisdreavus commented on #49123
This test is running the "synthetic impls" functionality of rustdoc, where it will create an impl of Send/Sync if there is not an explicit one. This is entirely defined in `src/librustdoc/clean/auto_trait.rs`, so it's possible we can sort any where-clauses this generates.

[2018-03-19 20:27] nikomatsakis commented on #48871
Thanks!

[2018-03-19 20:27] #48871 closed

[2018-03-19 20:29] nikomatsakis commented on #48976
Indeed, this is not about NLL per se. The extension needed to fix this is sometimes called "pure deref" -- basically a way to let the compiler know that `Deref` just acts like an ordinary pointer deref. Closing for now since this is an RFC-worthy change. Thanks to @xliiv for question and @bobtwinkles for the detailed answer.

[2018-03-19 20:29] #48976 closed

[2018-03-19 20:33] withoutboats commented on #27745
I'm not certain that there's a benefit to stabilizing this. If I want to create a downcastable trait object, I have to define my own `get_type_id` in that trait any (see the `mopa` crate for example).

But I think any better solution would not benefit from this being unstable either. Probably, a better solution would involve deprecating the `Any` trait entirely, since it works so poorly for this f

[2018-03-19 20:36] robotal opened #49186 "Linker fails to find opendir and readdir in macho.c"
Currently on macOS 10.13.3 trying to compile a basic hello world program using rustc. Getting an error in the linker saying that the symbols "_opendir$INODE64" and "_readdir$INODE64" can not be found.

Not sure if this is a gcc issue since there are some warnings about using the IOS simulator of gcc.

Running gcc --version gives me:

[code]

I tried installing gcc-4.9 and symlinking the command gc

[2018-03-19 20:40] nikomatsakis commented on #49010
@joeschman Thanks! Btw, jfyi there is a new shiny tool by @Mark-Simulacrum that can do the bisection for you:

https://github.com/rust-lang-nursery/cargo-bisect-rustc

It will even find the problem down to the PR level if it arose in the last 90 days.

In any case, these are the diffs between those two nightlies, if I'm not mistaken:

https://github.com/rust-lang/rust/compare/3bcda48a3...45fba43b3

[2018-03-19 20:40] nikomatsakis commented on #49010
One thing jumps out at me:

https://github.com/rust-lang/rust/commit/6b7b6b63a928479a29d9fc1282e553e409c66934

Upgrade to LLVM 6 =)

[2018-03-19 20:49] HeroicKatora commented on #49183
Another code that doesn't crash:
[code]

If I read the source correctly, that means the offending part is located within `RawVec::with_capacity`(https://github.com/rust-lang/rust/blob/63739ab7b210c1a8c890c2ea5238a3284877daa3/src/liballoc/vec.rs#L1462)

[2018-03-19 20:59] termhn commented on #49010
Indeed. Definitely seems like the kind of bug a new LLVM version could introduce.

[2018-03-19 21:11] pr-yemibedu commented on #49171
Hello,
 Two things in the this and a point from the closed ticket:
  -  A message should point out the connecting value to the binding in question:
     -  `warning: value`**`String::new()`**`assigned to binding `**`foo`**` is never read`
  -  it would be nice to let the developer know that a `mut` was not needed from analysis

The tuple in the indirect link to the other ticket would not need a pr

[2018-03-19 21:15] mshal commented on #46816
@chmanchester, I gave your branch a whirl today. It looks awesome! All the extraneous file issues I had before were gone. Specifically,
 1) libc & librand are no longer read by all rustc invocations
 2) Multiple versions of eg: libbitflags are not read when only a single version is required
 3) Host/target versions of libraries are kept separate
 4) Random extra libraries that match a prefix (eg:

[2018-03-19 21:23] durka commented on #34303
@nikomatsakis please say "resolved" for the bot

[2018-03-19 21:28] SimonSapin commented on #49180
@alexcrichton thanks for clarifying.

[2018-03-19 21:32] Jayflux commented on #37543
hey @alexcrichton Whats the update on this?
Servo takes an awful long time to compile on Windows and i think its related to this

[2018-03-19 21:35] SimonSapin commented on #27745
It’s fine that those implementation details exist, but we should be clear about what items are in that category as opposed to features that are not stable yet but have some path to stabilization. Perma-unstable implementation details have `#[doc(hidden)]` and no tracking issue.

The existence of this open tracking issue indicates that there is something to be tracked. Closing it and deciding that

[2018-03-19 21:54] GuillaumeGomez commented on #49164
Working on it.

[2018-03-19 21:56] rocallahan commented on #39915
My project has 37 crates, and the build links about 70 binaries (lots of tests). Unscientifically (eyeballing `top`) at least half of the build time we are only running ld. I expect using lld would speed up our builds a lot. We're on stable Rust and I haven't managed to get lld 6.0 to work yet.

[2018-03-19 22:01] nikomatsakis commented on #48962
Worth noting: without the `feature(nll)` flag, we get this error:

[code]

I think this results not from NLL *per se* but rather MIR borrowck.

[2018-03-19 22:03] QuietMisdreavus commented on #49123
If i understand it correctly, the generics are handled in this section in that file. Sorting the collections in the resulting `Generics` will make the output deterministic.

https://github.com/rust-lang/rust/blob/a04b88d1941644df01fa5e31dd43e0f57c13d938/src/librustdoc/clean/auto_trait.rs#L135-L167

The key would be figuring out a proper sort, because with where clauses you can get arbitrary types

[2018-03-19 22:04] SimonSapin commented on #41079
Can’t it also happen with aligned pointers, if `size_of::<T>() > align_of::<T>()`?

[2018-03-19 22:07] Amanieu commented on #41079
That's a good point, I'm not sure why I thought of alignment there. You are correct.

[2018-03-19 22:08] nikomatsakis commented on #48962
It seems like the "move" analysis is wrong here -- `src` is moved as part of `while let`, then re-initialized in the loop body, but it may still be uninitializd at the point where we do `src.next = None`. Maybe the problem is that we are not checking the "assigned path" to see if it is referencing moved data?

[2018-03-19 22:11] nikomatsakis commented on #48962
Yep. For example, this code [is accepted](https://play.rust-lang.org/?gist=cf8c70b1d35dc895619685c2ea78a320&version=nightly) (but should not be):

[code]

Similarly, [this code will ICE](https://play.rust-lang.org/?gist=d8aee008591afdd385e8f55c74799d22&version=nightly):

[code]

The difference is that the latter code encounters drop elaboration.

[2018-03-19 22:18] nikomatsakis commented on #48962
### Mentoring instructions

The problem is that we have a mir assignment like so:

    place = rvalue

we have to check the `place` to make sure it is not reading from uninitialized data. In particular, if the place includes a deref (e.g., a place like `*p`), then the base path `p` must be initialized. We are actually **trying** to do that check by invoking `check_if_assigned_path_is_moved` here:

[2018-03-19 22:18] kennytm commented on #49123
Reminder. The `rustdoc/synthetic_auto/no-redundancy.rs` test will be ignored after  #49058. If #49058 landed first (likely due to p=100), please make sure to remove the `// ignore` header from that test in the fix.

[2018-03-19 22:21] nikomatsakis commented on #41073
Quite likely a duplicate of https://github.com/rust-lang/rust/issues/48962

[2018-03-19 22:26] bdrewery commented on #48574
#48588 fixed this.

[2018-03-19 22:26] #48574 closed

[2018-03-19 22:31] nikomatsakis commented on #48962
cc @rust-lang/wg-compiler-nll -- haven't fixed an NLL bug in a while? Here's a fresh one, complete with mentoring instructions! Come and get it while it's hot!

[2018-03-19 22:32] ExpHP commented on #49159
I can reproduce this.  I cloned the repo, set rustup to `nightly-2018-03-15`, entered `elfmalloc/`, and ran `cargo check` (which ICE'd).  Notably, it crashed on the **first** build; I mention this to contrast with #48923.

[2018-03-19 22:37] nikomatsakis commented on #48598
cc @bobtwinkles -- what do you think about trying to implement this change?

cc @pnkfelix -- do you object to this expansion?

[2018-03-19 22:39] ExpHP commented on #49159
That said, guess what; `CARGO_INCREMENTAL=0 cargo check` *does* resolve the crash.

[2018-03-19 22:40] Havvy commented on #43570
I sent the PR for it because I wrote the function freely in my own code where I wanted to recurse through a path in a tree without passing a Vec of RefCell borrows but rather keep the borrow information in the stack.

Putting a warning that the RefCell is borrowed for the duration of the closure into the documentation would help.

[2018-03-19 22:52] sunfishcode commented on #41079
@SimonSapin That's a good point. C manages to avoid that issue, because in C it's undefined behavior if the pointers aren't both pointing to elements of the same array (6.5.6p9). I don't know whether Rust's `offset_from` wants a similar rule, though you can get into dangerous territory with pointer aliasing if you access one object using a pointer to another plus the distance between the two.

[2018-03-19 22:55] alexcrichton commented on #39915
@briansmith have you tested out LLD for musl and your use case? In theory all you'd need to do to test it is to pass `-Z linker-flavor=ld.lld`, and if that works seems plausible we could switch the defaults!

@rocallahan just to confirm, y'all are using the gold linker currently, right? (as afaik it's faster than the standard binutils linker). If `-Z linker-flavor=ld.lld` works (and is faster) the

[2018-03-19 22:59] rocallahan commented on #39915
That's for a debug build BTW.

No, that's the Fedora system linker, the standard GNU linker.

Fedora 27, quad-core Skylake laptop with SSD. I will get some performance numbers.

[2018-03-19 23:03] alexcrichton commented on #39915
Ah ok good to know! Debug builds will probably get the most benefit in link time from split dwarf (https://github.com/rust-lang/rust/issues/34651) rather than linker improvements.

For timing information, though, @rocallahan if you get a chance mind testing with `ld.gold` and `ld.lld`?

[2018-03-19 23:06] alexcrichton commented on #44608
@bluss I'd be ok conservatively just doing `Arc<Any + Send + Sync>` as I doubt most other combinations don't actually show up that often in practice

[2018-03-19 23:06] bobtwinkles commented on #48598
I should be able to take a stab at this sometime this week. It might end up being as easy as switching an `allow_two_phase_borrow` somewhere, but I suspect not because life is never that easy :smile:. I'll try to have a PR by Monday at the latest, baring life smacking me upside the head

[2018-03-19 23:07] alexcrichton commented on #37543
Not much has happened on this AFAIK, but we can still implement it at any time!

[2018-03-19 23:28] rocallahan commented on #34651
To be clear: there are two flavours of split-DWARF: the pre-standard GNU flavour and the DWARF5 standardized flavour, and they are different. (Par for the course due to DWARF's broken development model :-(.)  LLVM/gcc/gdb support the former but not the latter and probably there is not yet any tool support for the DWARF5 standard flavour. See http://lists.dwarfstd.org/pipermail/dwarf-discuss-dwarfs

[2018-03-20 00:01] nikomatsakis commented on #49026
@Mark-Simulacrum would you rather just make the patches yourself, or mentor? Are there instructions I can point people at?

I say let's do these tests:

- [ ] syn-0.12.0
- [ ] clap-rs
- [ ] crates-io
- [ ] hyper
- [ ] html5ever
- [ ] inflate
- [ ] parser
- [ ] regex

How did I choose these? Semi-arbitrarily, but they seem like "real rust code in the wild". I guess we don't measure serde? Based on

[2018-03-20 00:03] ubsan commented on #41079
@sunfishcode it seems... incredibly suspect to allow `offset_from` between two pointers from different objects.

[2018-03-20 00:05] Zoxc commented on #49026
Could we parse the output of -Z time-passes to get some more details of things?

[2018-03-20 00:14] nikomatsakis commented on #49026
@Zoxc please no. `-Ztime-passes` does not yield useful information.

[2018-03-20 00:15] nikomatsakis commented on #49026
https://github.com/rust-lang-nursery/rustc-perf/issues/182 would be awesome though

[2018-03-20 00:25] briansmith commented on #34651
Really? Is there nothing like Microsoft's PDB for Linux?

[2018-03-20 00:32] rocallahan commented on #34651
You mean a way to link the debuginfo from all your object files into a single large debuginfo file for the binary?

I don't know if such a tool exists, but even if it did you'd lose most of the performance benefits described at the top of this issue, plus it would still be less convenient than having the debuginfo packed into the binary itself.

[2018-03-20 00:37] nikomatsakis opened #49191 "stage1 compiler emits color information during `x.py` build even when running with `TERM=dumb`"
When I run `x.py` from inside emacs, everything works fine for the stage0 build. But errors that arise in the stage1 build always have color information. This is annoying since the emacs compilation window can't interpret ansi colors, so I get this garbage:

[code]

It seems like the problem is this logic in rustbuild, which is a wee bit forceful:

https://github.com/rust-lang/rust/blob/a04b88d194

[2018-03-20 00:39] nikomatsakis commented on #49191
This patch solves the problem for me, but I don't know if it's the "right" thing to do:

[code]

[2018-03-20 01:14] briansmith commented on #34651
Yes

Linking all the object files into a single large debuginfo only would have to be done when cutting releases, not during day-to-day development. Basically one would publish the big debuginfo file as a release artifact and probably build some automation for retrieving it to assist with debugging release versions of the software.

[2018-03-20 01:17] rocallahan commented on #34651
For you perhaps, but in https://github.com/rust-lang/rust/issues/34651#issuecomment-374420388 I explained that we frequently need to move binaries around and debug them.

[2018-03-20 01:23] jonathandturner opened #49192 "Error message for mistyped enum variant isn't helpful"
Where we would normally put "^^^ did you mean Up" under mistyped names, I noticed that we don't do that for enum variants.

Here's an example I just saw:

![image](https://user-images.githubusercontent.com/547158/37630567-335cf4ac-2c4a-11e8-8c13-a1b23a5f0194.png)

[2018-03-20 01:43] Phlosioneer commented on #49123
@QuietMisdreavus I was under the impression that all impls are sorted, after the auto-generated ones are added to the list. That's why I mentioned #47833, which is the commit that added sorting of the impls for deterministic outputs.

If more stuff is being added to the list after that sort, _that_ is our bug. Otherwise, it should already be handled, and therefore the bug is within the sorting fun

[2018-03-20 01:49] briansmith commented on #34651
Right, I think different users have different goals. My use case is handled well by split dwarf because I care about build speed first for day-to-day builds and I want a PDB-like thing for making small final releases that can still be debugged well, even if those final releases take a long time to build.

[2018-03-20 01:50] QuietMisdreavus commented on #49123
@Phlosioneer Looking at that PR again, it looks like it does sort the where predicates. However, it looks like the issue is about sorting the conditions within a single predicate, which the last commit in that PR doesn't address. That should help the implementation some.

(Also, thanks for pointing that out; i didn't realize that was there `>_>`)

[2018-03-20 01:51] scottmcm commented on #49137
Sounds like I'm the only one who likes `Positive`, so let's mark that resolved and stick with `NonZeroU32`.

Maybe just put the signed ones under a different feature gate?  That way we'll find out which ones people use, and there's still nobody "attached" to them, stabilize/remove them separately.  (Personally I think `0` is a weird hole in a signed type, and would much rather have nice named type

[2018-03-20 01:55] rocallahan commented on #34651
Your final release situation is already served well by making a binary with full debuginfo and then moving the debuginfo out into an external debuginfo file. So split-DWARF is only needed to improve your build times.

[2018-03-20 01:57] Mark-Simulacrum commented on #49191
Seems fine to me, I guess, but I'm also not sure whether it's the right thing to do -- maybe @BurntSushi happens to know if there's more detection other than "tty" that we should be doing? Is our detection faulty somehow, and that's why we're printing color when we shouldn't be?

Is Cargo doing the right thing by-default with TERM=dumb?

cc @killercup -- this is sort of in the CLI WG area (how do

[2018-03-20 02:03] Mark-Simulacrum commented on #49026
I've added a sample PR of what I think we'll want this to look like here with some steps https://github.com/rust-lang-nursery/rustc-perf/pull/194, I'm going to merge and deploy that and if we like what we see then we can replicate it over the other benchmarks or change the approach.

[2018-03-20 02:03] BurntSushi commented on #49191
From a behavioral standpoint, if TERM=dumb, then you definitely shouldn't emit colors. Ideally whatever color library you are using would do that detection automatically though? I don't have a lot of context on what the right patch is to the compiler though. IIRC, @alexcrichton recently did work in this area?

[2018-03-20 02:11] Phlosioneer commented on #49123
Ah, okay then, I think I found the error: make_final_bounds does a .collect() on an .into_iter() on a FxHashMap. The output vec of make_final_bounds just needs to be sorted.

https://github.com/rust-lang/rust/blob/ddfbf2b0f4726f11bc8e857274ae1a0f8343a73f/src/librustdoc/clean/auto_trait.rs#L1017-L1025
https://github.com/rust-lang/rust/blob/ddfbf2b0f4726f11bc8e857274ae1a0f8343a73f/src/librustdoc/cle

[2018-03-20 02:16] QuietMisdreavus commented on #49123
I don't think that will affect it. Like i said, it's not a matter of sorting between `WherePredicate`s, it's about sorting the bounds within a predicate. It would be worth seeing how that function creates those predicates to sort within the `flat_map`, not after the final `collect`.

[2018-03-20 02:25] Mark-Simulacrum commented on #49191
In this case "library" is tty detection via copied code from somewhere -- https://github.com/rust-lang/rust/blob/master/src/bootstrap/compile.rs#L973-L994 -- which may be out of date and/or wrong.

[2018-03-20 02:26] Phlosioneer commented on #49123
Oh, so really we need to sort the `bounds` within that function:

https://github.com/rust-lang/rust/blob/ddfbf2b0f4726f11bc8e857274ae1a0f8343a73f/src/librustdoc/clean/auto_trait.rs#L1084-L1096

Because `bounds` is also a `FxHashMap`.

[2018-03-20 02:44] QuietMisdreavus commented on #49123
Yes, that's what i think the culprit is. Now that https://github.com/rust-lang/rust/pull/49058 is merged, re-enabling the test should make it fail, so whatever you add to librustdoc should either make it pass or make it stop toggling whenever a new type or impl is added to libstd.

[2018-03-20 02:55] abonander commented on #49153
@oli-obk Nope, just changed the file the error is emitted from. 😕

[code]

I have the backtrace here if you like but it's 88 frames deep so I don't know how much context you need.

[2018-03-20 02:59] clarcharr commented on #49137
I honestly think that `Positive8` is a bit ambiguous considering how it could mean only 1 to 127 instead of 255.

`NonZeroed8` may be a bit (heh) cleaner as it indicates that the bits aren't all zeroed, rather than the fact that 0 is an excluded value.

[2018-03-20 03:00] asypost opened #49195 "Low Level Socket API"
There's no Low Level Socket API Found in current stdlib.Is it possible to provide access to it.

[2018-03-20 04:17] zackmdavis commented on #49171
(I am working on this)

[2018-03-20 04:25] matthiaskrgr commented on #39915
You can try  ````RUSTC_BOOTSTRAP=1 RUSTFLAGS="-Z linker-flavor=foo" cargo build .... ````

[2018-03-20 04:48] abonander commented on #43988
##### Mentoring Instructions
This bug is caused by the fact that [`CheckAttrVisitor`](https://github.com/rust-lang/rust/blob/5e3ecdce4e42ccc34c49f32f81be71ae00f2cf11/src/librustc/hir/check_attr.rs) doesn't visit statements. What does this mean?

Attributes can be applied to a lot of things and the parser will accept all of them. However, most attributes don't make sense in a certain context: `#[in

[2018-03-20 04:53] scottmcm commented on #49171
Note that upon removing the unused initializer
[code]
one does indeed get another warning that
[code]
I assume in the general case getting both at once could be hard or false-positive-y, so the two-step is probably fine for this.

[2018-03-20 06:02] Phlosioneer commented on #46409
Triage: #48735 seems to have addressed this?

[2018-03-20 06:13] Phlosioneer commented on #45048
Fun fact: that's just a base-3 number with a number of digits equal to the number of parameters. Suuuuper easy to enumerate. For `n` params, that's `3^n` macro invocations.

To be clear: 0 is `A`, 1 is `&A`, 2 is `&mut A`. Start with a 0 for each parameter. Then treat it as a number in base 3, and increment until you get back to all 0's. Every time you increment, do a `fnptr_impls_argsptr!` call.

[2018-03-20 06:14] oli-obk commented on #49153
Thanks. I'll have a look. No need for a backtrace

[2018-03-20 06:45] codido opened #49198 "Performance penalty of an unused result type"
The following mock code seems to run substantially slower when executed multiple times if bar1() is used instead of bar2().

main.rs:
[code]

lib.rs:
[code]

Measuring the above code with:
[code]

...this yields:
[code]

But if foo() calls bar2(), the results are quite different:
[code]

Seemingly unrelated changes to the code, such as the removal of the path argument change the results of the exp

[2018-03-20 07:17] scottmcm commented on #41263
Hmm, I was bad at creating tracking issues a year ago :sweat_smile:

This is _sufficient_, but still feels suboptimal for the reasons from https://github.com/rust-lang/rust/pull/41009#issue-113803675:

- The directionality is weird.  In `clone_from` and assignment, the data moves right-to-left, but this moves it left-to-right.  And that means that autoref doesn't work well, usually forcing you to

[2018-03-20 07:17] oli-obk opened #49199 "miri interpretation of large array initialization is slow"
Right now, if you are initializing a large array either manually or with an array repeat expression takes a long time during interpretation.

* [ ] Fixing array repeat expressions requires us to stop filling each element individually and just manually filling up the virtual memory (https://github.com/rust-lang/rust/blob/master/src/librustc_mir/interpret/eval_context.rs#L591)

Arrays with lots of f

[2018-03-20 07:37] crumblingstatue commented on #49183
Does valgrind work properly with jemalloc?

Using the system allocator, this doesn't crash:

[code]

[2018-03-20 08:08] oli-obk commented on #49153
Repro:

[code]

The problem is that `extern` statics don't have allocations (because it makes no sense for them to have usable memory during const evaluation).

This is easy to fix :)

[2018-03-20 08:17] nikomatsakis commented on #48357
This should in theory be fixed now -- certainly the minimizations by @Aaron1011 have been fixed.

[2018-03-20 08:19] nikomatsakis commented on #48358
I think this may be a legitimate bug fix. Does `self.column_computed_inline_sizes[index]` implement `IndexMut` etc?

[2018-03-20 08:22] SimonSapin commented on #39915
Please let’s not recommend the bootstrap flag? I worry that if enough projects rely on it things will become de-facto stable, defeating the point of the entire stability mechanism.

[2018-03-20 08:24] SimonSapin commented on #48357
Confirmed that `cargo +nightly rustc -- -Znll -Ztwo-phase-borrows` now works in the `image` crate with rustc 1.26.0-nightly (a04b88d19 2018-03-19). Thanks.

[2018-03-20 08:24] #48357 closed

[2018-03-20 08:37] SimonSapin commented on #48358
`column_computed_inline_sizes` is a `Vec`.

[2018-03-20 08:46] eddyb commented on #49199
@oli-obk That is part of removing `Rvalue::Aggregate`, which I want to do at some point.
The plan, wrt borrowck, is to have a `SetDiscriminant(array, 0)` to indicate the value is fully initialized.
cc @nikomatsakis

[2018-03-20 09:02] eddyb commented on #46213
From IRC (cc @nox): we could extend this to always compute the size of the tagged layout (which would likely be larger than `A` itself) and allow using more space around `A`'s fields up to that size, to fit other variants, if we generally want to avoid overlapping variant data where possible.

This would make `Result<&T, &E>` and similar be represented as effectively `(*T, *E)`.

[2018-03-20 09:02] HeroicKatora commented on #49183
It likely messes with it somehow, quite curiously valgrind reports `32,804 bytes in 2 blocks` but we have `0x2001*8 = 32768` and that should be a single block.

[2018-03-20 09:06] nox commented on #46213
Logs: https://botbot.me/mozilla/rustc/2018-03-20/?msg=98016356&page=1

[2018-03-20 09:06] nox commented on #48741
Logs: https://botbot.me/mozilla/rustc/2018-03-20/?msg=98016356&page=1

Also, #46213.

[2018-03-20 09:09] sfackler commented on #49183
jemalloc does not support valgrind in the sense that its allocations will not be tracked, but I've never seen Valgrind cause it to crash.

[2018-03-20 09:09] eddyb commented on #48741
Closing as duplicate of https://github.com/rust-lang/rust/issues/46213#issuecomment-374522628.

[2018-03-20 09:09] #48741 closed

[2018-03-20 09:14] michaelwoerister commented on #49180
@alexcrichton Yes, I know that this won't make the compiler massively faster. On the other hand, it's not uncommon that we spend weeks of developer time on getting a 5% compile time improvement. If there's the opportunity of making the compiler 10% faster by letting a build machine chew on it for a few hours every six weeks, I think we should take it.

That being said, I don't underestimate the co

[2018-03-20 09:20] michaelwoerister commented on #34651
Yes, this would be a performance optimization first and foremost. And it would probably not be the default setting. That being said, there are no concrete plans for implementing this yet.

[2018-03-20 09:27] nikomatsakis commented on #48895
@csmoe How goes? Have you had a chance to take a look at this yet? It would be very useful. =)

[2018-03-20 09:43] Phlosioneer commented on #23708
`CycleIter` is used just for testing, so it's irrelevant.
There is no sensible implementation of `size_hint` for `$forward_iterator` and `$reverse_iterator`, as far as I can tell.
The rest are addressed in my PR.

I've compiled a more complete list of iterators without size_hints, and will make a new tracking issue for them.

[2018-03-20 09:51] csmoe commented on #48895
@nikomatsakis I have done mostly, but stuck at the lifetime errors.

[2018-03-20 10:18] #48836 closed

[2018-03-20 10:30] oli-obk commented on #49181
Crash happens in https://github.com/rust-lang/rust/blob/9b15ddb/src/librustc_mir/hair/pattern/mod.rs#L857-L860

So apparently const eval produces a discriminant that doesn't match any variant's discriminant.

[2018-03-20 11:08] Phlosioneer opened #49205 "Tracking issue for missing Iterator::size_hint implementations"
`size_hint()` can sometimes allow for more efficient memory allocations, and other good performance things.

I intend to make a PR to implement the trivial / easy ones, at least. I've already made a PR for the first batch, #49201. The ones in that PR are omitted from this list.

Liballoc:
- [ ] [`Range<'a, K, V>`](https://github.com/rust-lang/rust/blob/6bfa7d02d6713acd15ead20c199b808e85031f9e/src/

[2018-03-20 11:11] Phlosioneer commented on #23708
New tracking issue for expanded list: #49205

[2018-03-20 11:22] ExpHP commented on #27745
Hm? Did rfcbot not register the concern here? I thought it normally edits those into its post.

[2018-03-20 11:35] Boscop commented on #37543
FWIW, here is the log of one of my normal Rust projects that's not using Qt or any huge lib, also after just `touch`ing a file.
[code]
Win 8.1, rustc 1.26.0-nightly (2789b067d 2018-03-06)

The build before that one (also after just `touch`ing a src file) took 42 seconds.
This is a lot, especially considering that `cargo check` in sublime and `cargo watch -x run` can't run in parallel, so when I sa

[2018-03-20 11:40] ishitatsuyuki commented on #49180
Moving to opt-level=3 can see up up to 2%, but it's blocked on a Windows codegen bug. See also: #48204.

[2018-03-20 12:14] Michael-F-Bryan commented on #47391
I just encountered this as well. @saibatizoku, did you find a way to work around it?

[2018-03-20 12:35] axos88 commented on #46034
I also stumbled upon this cross-compiling from OS X to arm-linux: https://users.rust-lang.org/t/rust-binary-sizes-once-again/16287/2

[2018-03-20 12:36] nikomatsakis commented on #48895
@csmoe I see #49202 -- I'll take a look!

[2018-03-20 12:42] matthiaskrgr commented on #39915
Sorry =/

[2018-03-20 12:48] jDomantas opened #49206 "Rvalues are promoted to static even if they are not Sync"
This compiles ([playground](https://play.rust-lang.org/?gist=fa10d9ae0d7d9992a1c1d48862a417ca&version=nightly)):

[code]

And prints this (addresses vary, but always the same):

[code]

Which shows that two threads get the same `'static` reference to non-`Sync` struct.

The problem is that promotion to static does not check if the type is `Sync`, while doing it manually does (this does not compile

[2018-03-20 12:50] rkruppe commented on #49206
cc @eddyb

[2018-03-20 12:50] #48783 closed

[2018-03-20 12:51] #48987 closed

[2018-03-20 12:51] #47935 closed

[2018-03-20 12:51] #49040 closed

[2018-03-20 12:51] #49075 closed

[2018-03-20 12:51] #49100 closed

[2018-03-20 12:51] #42681 closed

[2018-03-20 13:03] Eijebong opened #49207 "[ICE] "we never error on empty config files: Error { inner: ErrorInner { kind: Custom, line: None, col: 0, message: "missing field `blacklisted-names`", key: [] } }""
Happens when compiling diesel on nightly
https://travis-ci.org/diesel-rs/diesel/jobs/355827115#L499

[2018-03-20 13:04] SimonSapin commented on #37543
That sounds unrelated to this issue, consider opening a new one (in the cargo repository).

[2018-03-20 13:06] michaelwoerister commented on #37543
@Boscop, are these timings with incremental compilation enabled?

[2018-03-20 13:41] pr-yemibedu commented on #49171
Hello,
 I agree with @scottmcm about the benefits of the layered approach staying as implemented.

 What @zackmdavis has presented in the merge looks clean and useful. Only one nitpick:
  -  The tuple test marks the whole value. That can confuse the developer into thinking [`x = (3, 4)`](https://github.com/zackmdavis/rust/blob/60e2af0d31761f697ed543062d280518393dfc2e/src/test/ui/lint/liveness-dead

[2018-03-20 13:42] Vurich opened #49208 "All fixed-size array impls show up as `<unevaluated[]>`"
After https://github.com/rust-lang/rust/pull/46882, when a trait bound fails and the trait was implemented by fixed-size arrays, the compiler will display an error like:

[code]

Which is pretty unhelpful. A solution would be to evaluate these and/or to show evaluated bounds preferably.

[2018-03-20 13:55] alexcrichton commented on #41263
@rfcbot concern direction

formally registering @scottmcm's [concern](https://github.com/rust-lang/rust/issues/41263#issuecomment-374498676)

[2018-03-20 14:00] Jayflux commented on #37543
@retep998 @alexcrichton are these all generated in the target folder?

[2018-03-20 14:03] michaelwoerister commented on #48923
It seems that something around `CanonicalTyGoal` is broken. In the example above, the compiler calls `dropck_outlives::try_get()` two times with the following key:

[code]
Both keys have the same stable hash and the same `Debug` representation, but different `std::hash` values. I suspect that we are hashing pointers for `std::hash` and something is not interned right?

cc @eddyb @nikomatsakis

[2018-03-20 14:04] dlrobertson commented on #44930
Looks like I'm a little late to the party :smile: ... sorry about that

A few questions:
1) How would functions that use a `va_list` multiple times work without the ability to explicitly use `va_start` and `va_end`? Are they expected to use copy? E.g. `execl` typically loops through the arguments to to get `argc`, creats a array `argv` of size `argc`, loops through the list again populating `argv`

[2018-03-20 14:27] alexcrichton commented on #49191
@BurntSushi to confirm, what would you expect to happen if `TERM=dumb` but `--color=always` is also passed?

[2018-03-20 14:28] alexcrichton commented on #49191
Er sorry, I talked a bit with @nikomatsakis and it turns out that rustbuild is passing `--color=always`, so it's not necessarily only `TERM=dumb` but rather that rustbuild is *also* passing `--color=always` to rustc which causes it to try to colorize things

[2018-03-20 14:36] BurntSushi commented on #49191
@alexcrichton Ah in that case I think I would expect the `--colors=always` to override any environment settings, generally under the principle of "CLI args override env vars." (This is consistent with GNU grep's behavior.)

[2018-03-20 14:37] michaelwoerister commented on #48923
OK, I can confirm that something is wrong with interning: The `caller_bounds` slices in the two cases have different addresses although they seem to have the same content.

[2018-03-20 14:41] Mark-Simulacrum commented on #49191
To better replicate Cargo's behavior it looks like we'll need to either depend on `termcolor` (which means a winapi dependency) on copy it's logic from here: https://docs.rs/termcolor/0.3.5/src/termcolor/lib.rs.html#132. I think it's fine to just copy the logic for now...

[2018-03-20 14:42] alexcrichton commented on #49191
Ok cool just making sure! In that case I think this is a rustbuild "bug" rather than any other component. Rustbuild will configure an environment variable [here](https://github.com/rust-lang/rust/blob/75af15ee6ca0c12b699a17984b033363cd25e9c3/src/bootstrap/compile.rs#L1008) which is read by our wrapper rustc script [here](https://github.com/rust-lang/rust/blob/75af15ee6ca0c12b699a17984b033363cd25e9

[2018-03-20 14:51] varkor commented on #49177
I'll take `Rule Implemented-From-Env` to get my feet wet!

[2018-03-20 14:52] alexcrichton commented on #37543
@Jayflux I'm not sure, but the incremental folder can be assumed to be preserved and so intermediate artifacts can be stored somewhere in there.

[2018-03-20 14:53] luser commented on #34651
I don't know about the DWARF5 flavor, but with the GNU flavor there's a `dwp` tool that functions like `dsymutil` to generate a file.dwp containing the linked debug info from a `-gsplit-dwarf` build:
https://gcc.gnu.org/wiki/DebugFissionDWP

[2018-03-20 14:55] avl commented on #48923
Interesting! I know serde uses a clever trick to be able to use extern types in the generated trait implementation. That trick creates a symbol named  _IMPL_SERIALIZE_FOR_<struct-name> .

[2018-03-20 14:56] luser commented on #34651
Note that @alexcrichton landed a patch to rustc to allow it to stop running `dsymutil` after every build (because it's slow):
https://github.com/rust-lang/rust/pull/47784

and he's planning on making this the default behavior in cargo to get faster rebuilds on Mac (https://github.com/rust-lang/rust/issues/47240). If that change lands then Mac builds will be functionally equivalent to split-DWARF b

[2018-03-20 15:03] alexcrichton commented on #34651
@luser ah unfortunately the plan to turn it on by default was [shot down](https://github.com/rust-lang/rust/pull/47784#issuecomment-360871965) when it was realized that line numbers disappered from `RUST_BACKTRACE=1`

[2018-03-20 15:05] Jayflux commented on #37543
Unless ive got this wrong, this bit of work has already been done

[2018-03-20 15:10] michaelwoerister commented on #37543
The incremental folder stores object files, but before linking they are copied to where the compiler would otherwise generate them. The final executable/dll is not touched by incremental compilation. I don't know if we have an explicit step in the compiler that would delete it before invoking the linker.

[2018-03-20 15:24] michaelwoerister commented on #48923
The `Substs` within the various `TraitRef`s already have a different address:

[code]

[2018-03-20 15:24] oli-obk commented on #49208
I can't reproduce triggering an error with these messages, do you have an example? I need it for a regression test, the fix was indeed as simple

[2018-03-20 15:29] luser commented on #34651
Bummer! Presumably we'd hit similar issues with split-DWARF on Linux. We need to lock fitzgen in a room and make him finish `unwind-rs`. 😉

[2018-03-20 15:31] Nemo157 commented on #49150
I now notice that stack pinning is not part of the RFC, @withoutboats are you planning on releasing a crate for this, or should I just copy the example code into my crate that needs it?

[2018-03-20 15:37] letheed commented on #27741
Then just call it `every`.

[2018-03-20 15:41] killercup commented on #49195
What are you looking for specifically? If it's Unix-specific, have a look at the [libc](https://docs.rs/libc) and [nix](https://docs.rs/libc) crates.

[2018-03-20 15:47] flip1995 commented on #44690
I would like to continue working on this, except @topecongiro wants to pick this up again?

Since #47773 already implemented the `tool_attributes` part, the next step would be doing the same for `tool_lints`?

[2018-03-20 15:58] alexcrichton commented on #39915
As a data point, linking the `rustc_trans` crate in the Rust repo itself plummeted from a 78s link time to 1s link time on my local machine.

[2018-03-20 16:01] cipriancraciun opened #49213 "Inconsistent `Path::file_stem` and `Path::extension` handling of files starting with multiple dots"
I've been using the `Path::file_stem` and `Path::extension` functions and while writing some tests for my code I've found an inconsistent handling of filenames which start with more than one dot (for example `..a` or `...a`), as exemplified below.  While names like these are atypical, they are however valid file names (which I would say have no extension).

The following code ( https://play.rust-l

[2018-03-20 16:07] nikomatsakis commented on #49010
cc @rust-lang/compiler -- anybody want to try to track down a potential LLVM bug introduced by LLVM 6 transition?

@nagisa seems like your speciality :)

[2018-03-20 16:08] nikomatsakis commented on #34303
@rfcbot resolved underscore-lifetime

Sigh.

[2018-03-20 16:21] retep007 commented on #48962
Hello, I will take this one

[2018-03-20 16:44] nikomatsakis commented on #49191
I agree with @alexcrichton's analysis -- though egads what a hack. Anyway, the patch I write above hacks rustbuild.

[2018-03-20 16:55] nikomatsakis commented on #44930
@dlrobertson

Seems likely that @plietar doesn't have much time, though they can speak for themselves.

I've not really looked closely at what would be needed to implement this, but if you need any help, please ping me, or reach out on gitter/IRC.

[2018-03-20 16:57] nikomatsakis commented on #48923
@michaelwoerister hmm. That sounds bad, yes. That interning-slices code can be subtle, I guess I messed it up somehow perhaps.

[2018-03-20 16:58] saibatizoku commented on #47391
@Michael-F-Bryan, no, I haven't been able to get it to work as it should. For now, if I need docs, I manually select the crates that don't crash (e.g. I build docs for `zmq`, not for `zmq-sys` using the `--no-deps` flag)

[2018-03-20 16:58] nikomatsakis commented on #48923
Although, that .. doesn't *necessarily* look related to canonicalization. But it seems likely to be the fault of that code.

[2018-03-20 17:02] nikomatsakis commented on #48962
@retep007 👍 feel free to pop in [on gitter](https://gitter.im/rust-impl-period/WG-compiler-nll) with any questions.

[2018-03-20 17:02] michaelwoerister commented on #48923
It turns out that `__S` is a `TyParam` (with index `#0`) in both cases. I'm now looking into whether the `Symbol` used for storing the name has a different interning key in both cases.

[2018-03-20 17:06] nikomatsakis commented on #48923
@michaelwoerister ok let me know if I can help

[2018-03-20 17:15] michaelwoerister commented on #48923
I think that's the problem: serde probably uses `Symbol::gensym()` (for hygiene?) and we end up with two different `Symbol` keys. `HashStable`, on the other hand, only hashes the string contents of the symbol. It does not make a difference between the two versions. The question is: how do we deal with this? What does it even mean that the names are gensymed? Do we need to find a stable way for has

[2018-03-20 17:31] SimonSapin opened #49215 "x.py: `bootstrap` keeps being recompiled"
Every `x.py` command seems to start like this for me:

[code]

Sometimes `bootstrap` and its dependencies are all rebuilt *twice* within the same `x.py` command!

12 seconds is not a lot compared to building two stages of rustc, but if it’s something that’s not too hard to fix it’s not negligible either.

[2018-03-20 18:05] petrochenkov commented on #49215
This is something relatively recent, maybe a few weeks or so.

[2018-03-20 18:09] michaelwoerister commented on #49180
@andjo403's comments on gitter have given me the idea that we could also try to build LLVM with PGO. I realize of course that this would require lots of new infrastructure support and isn't something that can be implemented quickly.

[2018-03-20 19:05] estebank commented on #49207
It seems to be an incorrect assumption in [clippy](https://github.com/rust-lang-nursery/rust-clippy/blob/4edd140e57cce900fa930e1439bab469f5bbce46/clippy_lints/src/utils/conf.rs#L214-L219).

[2018-03-20 19:09] estebank commented on #49133
Fixed in #49166.

[2018-03-20 19:09] #49133 closed

[2018-03-20 19:11] nikomatsakis commented on #48339
@glandium

Clarification: By this I guess you mean more "not stripped out", right? i.e., the implementation for `overflowing_mul` is in libcore, as I understand, but since it is not used, you expect it to be stripped?  Or am I confused.

This seems to interact with @aturon's [proposal to deprecate the facade](https://internals.rust-lang.org/t/a-vision-for-portability-in-rust/6719) and move towards

[2018-03-20 19:17] nikomatsakis commented on #48358
@SimonSapin so that would be "yes" =)

[2018-03-20 19:30] nikomatsakis commented on #42640
OK, there were a few concerns raised in the FCP. We discussed in the lang-team meeting and decided to go forward with the stabilization, but I wanted to record the concerns and the responses to them for posterity:

---

@nox [pointed out](https://github.com/rust-lang/rust/issues/42640#issuecomment-368159723) that this feature allows `ref mut` bindings when matching against `&mut` values (by design

[2018-03-20 19:32] nikomatsakis commented on #42640
I'm adding the E-mentor tag... we are in need of a stabilization PR here! Instructions can be found [on forge](https://forge.rust-lang.org/stabilization-guide.html), and I'd be happy to help with any other concerns.

In addition, we will need to update documentation: cc @rust-lang/docs, any recommendations on what to do there?

[2018-03-20 19:34] estebank commented on #43871
Fixed in #45942.

[2018-03-20 19:34] #43871 closed

[2018-03-20 19:41] estebank commented on #35937
Current output:

[code]

[2018-03-20 19:41] jethrogb commented on #48339
Added [issue for compiler_builtins](https://github.com/rust-lang-nursery/portability-wg/issues/16)

[2018-03-20 19:44] nikomatsakis commented on #44662
I was thinking about the "transition plan" -- it occurred to me that, if we adopt (as I hope we will) the "java-style leading-crate" proposal, then this means that the existing `::foo` paths are effectively deprecated (in favor of `crate::foo::bar`).

In that case, we can probably continue to interpret `dyn::foo` as a path in perpetuity, though I would expect a deny-by-default lint in Rust 2018.

[2018-03-20 20:04] nikomatsakis opened #49218 "stabilize `dyn Trait` in Rust 2015"
This is a sub-issue of https://github.com/rust-lang/rust/issues/44662 proposing the **Rust 2015 stabilization of `dyn Trait`**.

### Status

The decision is made, we just [need a stabilization PR!](https://github.com/rust-lang/rust/issues/49218#issuecomment-380593605)

### Details

The new syntactic form `dyn <relative-path>` is added. It is an error to use `dyn <relative-path>` if `path` does not

[2018-03-20 20:05] nikomatsakis commented on #49218
cc @petrochenkov, who implemented, and @Manishearth, who has been working on lint etc

[2018-03-20 20:05] nikomatsakis commented on #49218
@rfcbot fcp merge

I propose that we **stabilize** the Rust 2015 behavior of `dyn Trait`. Details found in the issue header.

[2018-03-20 20:05] nikomatsakis commented on #44662
I opened https://github.com/rust-lang/rust/issues/49218, which proposes stabilizing the Rust 2015  behavior of `dyn Trait`.

[2018-03-20 20:18] HeroicKatora commented on #49183
There is some code in jemalloc which explicitely works together with Valgrind, informing it about allocations as well as undefined and defined sections (`VALGRIND_MALLOCLIKE_BLOCK`). Another macro (`VALGRIND_FREELIKE_BLOCK`) gets called when the block is freed. This is invoked for every one of its internal allocations functions, `malloc` and `calloc` alike, e.g. (https://github.com/rust-lang/jemal

[2018-03-20 20:34] estebank commented on #33174
The current output has better wording:

[code]

It should probably be expanded to be

[code]

[2018-03-20 20:36] nagisa commented on #49010
Okay, I’ll try to take a look at this tomorrow.

[2018-03-20 20:39] Manishearth commented on #49207
https://github.com/rust-lang-nursery/rust-clippy/issues/2560

[2018-03-20 20:39] #49207 closed

[2018-03-20 20:41] onur commented on #48773
This is fixed in b26f108b6a213f5bf9f153f0a105ea367905f8c9

[2018-03-20 20:41] #48773 closed

[2018-03-20 20:53] durka commented on #35937
LGTM.

[2018-03-20 20:53] #35937 closed

[2018-03-20 20:55] abonander commented on #48747
@petrochenkov What do you think of the previous comment?

[2018-03-20 20:58] estebank commented on #47744
[Repro case](https://play.rust-lang.org/?gist=9456ac3fe8cb90a43b9c491c9830ba3b&version=nightly) for test.

[2018-03-20 20:58] tejom commented on #43988
Hey, I should have time to look at this. From the instructions and what I read so far there seems to be a bit of new code that needs to be written to do this? Something similar to `check_attributes`  but for a `Stmt` and `Expr` ?

[2018-03-20 21:01] GuillaumeGomez commented on #49192
Taking a look.

[2018-03-20 21:07] estebank commented on #43875
I believe the current output is reasonable for all the presented cases.

[2018-03-20 21:07] #43875 closed

[2018-03-20 21:15] abonander commented on #43988
Yeah, all you should have to do is add `visit_stmt` and `visit_expr` on `impl Visitor for CheckAttrVisitor`, look at the attributes on `Stmt` or `Expr`, respectively, and emit an error if they're one of the attribute names checked in the other methods (`inline`, `repr`, `target_feature`, and any others).

I made a mistake in my original assessment and assumed that this code used types from `libsyn

[2018-03-20 21:21] petrochenkov commented on #48747
If `mod m { call_macro!(); }`, `trait Tr { call_macro!(); }`, `impl [Tr for] Type { call_macro!(); }` all work I see no reasons for `extern "ABI" { call_macro!(); }` not to work.

I suspect it's not implemented yet just because the demand wasn't high enough.

[2018-03-20 21:25] abonander commented on #48747
So if I do enable all macros in `extern {}` blocks should I put it behind a feature? The primary issue is that the kinds of items that macros can emit in this context are restricted, and that might surprise some people.

[2018-03-20 21:28] petrochenkov commented on #48589
@nikomatsakis
The implementation (https://github.com/rust-lang/rust/pull/48942) is almost ready to be merged, a few nits remain to be fixed.

[2018-03-20 21:31] abonander commented on #43988
For bonus points, you could add a help message that suggests using `cfg_feature_enabled!()` when you encounter `#[target_feature]` on statements and expressions.

[2018-03-20 21:41] sfackler commented on #49183
@HeroicKatora we don't enable valgrind support when building jemalloc.

[2018-03-20 21:41] petrochenkov commented on #48747
Citing nikomatsakis, ["Basically every time I've skipped a feature gate I've
regretted it."](https://github.com/rust-lang/rust/pull/28336#issuecomment-141296913)

This is equivalent to something that already exist:
[code]

[2018-03-20 21:44] petrochenkov commented on #48747
Also see https://github.com/rust-lang/rust/issues/48137 about how treatment of module/trait/impl/foreign items in macros can be made more uniform.

[2018-03-20 22:01] oltdaniel commented on #49015
Looks more like a configuartion mistacke in the benchmarks. Sorry for spam.

[2018-03-20 22:01] #49015 closed

[2018-03-20 22:09] kornelski opened #49220 "Use of ptr::NonNull in FFI"
I think it would be interesting to use `ptr::NonNull`  to explicitly document FFI arguments that aren't allowed to be `NULL`, so that e.g.:

[code]

could be an implementation for:

[code]

However, `ptr::NonNull` doesn't have `#[repr(transparent)]`, so I'm not sure if that is sound. Whether it's supposed to be used this way or not, it may be worth explicitly documenting it. Currently its docs don

[2018-03-20 22:40] pietroalbini commented on #49086
cc @retep998

[2018-03-20 22:45] pietroalbini commented on #49114
Could you check with the latest nightly if this still happens? There was a regression affecting clippy a few days ago. Thanks!

[2018-03-20 22:47] pietroalbini commented on #29488
Seems like this is happening again?

[2018-03-20 22:48] pietroalbini commented on #49143
Closing this issue as a duplicate, but I have reopened the other one. Thank you!

[2018-03-20 22:48] #49143 closed

[2018-03-20 22:50] pietroalbini commented on #49149
[Our internals forum](https://internals.rust-lang.org) is more appropriate for suggestions, could you post this there? Thanks!

[2018-03-20 22:50] #49149 closed

[2018-03-20 23:03] CircuitCoder commented on #49114
I had a similar error on the latest nightly.
[code]

[2018-03-20 23:03] rocallahan commented on #39915
My performance results from making a whitespace change to a crate near the bottom of our crate hierarchy. Quad core Skylake laptop, 16GB RAM.

GNU ld:
[code]
LLD:
[code]
Gold didn't work, it barfed on our linker script. The results are fairly stable. LLD doesn't affect the end-to-end time that much but it does reduce CPU usage significantly; I guess that means our build doesn't spend much time wai

[2018-03-20 23:04] glandium commented on #48339
In the case of the code I pasted when filing this issue, it's "just" a problem of it not being stripped out. In fact, passing `-Wl,--gc-sections` to gcc makes the problem go away. But if you look closely at the generated libfoo.a, you'll see that the `__muloti4` calls are inlined in `from_str_radix`, which is called from various `from_str` functions, so it's really not hard to have it become a leg

[2018-03-20 23:38] retep998 commented on #49086
This was entirely the issue. The second `.cargo/config` was not actually applying because it wasn't in the set of paths that cargo searches for it.

[2018-03-21 00:03] little-dude commented on #49114
@pietroalbini I confirm it's still happening with:
[code]

[code]

[2018-03-21 00:13] Mark-Simulacrum commented on #49215
@alexcrichton Do you by chance recall the RUST_LOG invocation to make cargo print why it's rebuilding bootstrap?

[2018-03-21 00:19] Mark-Simulacrum commented on #49191
I think that patch is ~95% of what we want, though it may need to be expanded for Windows. I'm fine with just landing it though.

I think our copied unix/windows logic today is sufficient; we need termcolor's logic on TERM=dumb and perhaps a few more things on windows. I personally feel like checking for TERM=dumb will hold us until someone comes by again with this problem at which point we'll pro

[2018-03-21 00:26] stuhood commented on #34511
@nikomatsakis: Is it fair to say that in this case what is being returned is closer to a `dyn Trait` than to `impl Trait`, because the synthetic/anonymous return value implements something akin to dynamic dispatch?

[2018-03-21 00:30] Mark-Simulacrum commented on #49215
Found it: @petrochenkov or @SimonSapin, could you run with ` RUST_LOG=cargo::ops::cargo_rustc::fingerprint=info` and report back with the results? You should see messages from cargo as to why it's recompiling unless we're unsetting RUST_LOG somewhere.

[2018-03-21 00:42] Boscop commented on #37543
@michaelwoerister Incremental is enabled by default, right? So then it is enabled.

[2018-03-21 00:46] Boscop commented on #49086
But that's unintuitive. IMO cargo should be changed to use the `.cargo/config` in `examples` folder only for examples.

Also because currently there is no way to apply a cargo config only to the examples..

[2018-03-21 01:06] #49123 closed

[2018-03-21 02:02] alexcrichton commented on #49191
@Mark-Simulacrum ah yes indeed!

[2018-03-21 02:52] retep998 commented on #49086
Doing something like `target = "i686-pc-windows-msvc"` for just the `examples` folder doesn't really make sense, as building the examples for that target requires also building the crate and all its dependencies for that target too. `.cargo/config` currently affects the *entire build*. You can't just affect a specific crate with it.

As far as I can tell Cargo is working as designed here, and at w

[2018-03-21 02:56] sailfish009 opened #49226 "mismatched types in rust nigthly (i686-pc-windows-gnu)"
Hi i am trying to build simple win32 application.

extern crate winapi;
use winapi::shared::windef::HWND;
// use winapi::windef::HWND; // ^^^^^^ Could not find `windef` in `winapi`

here is error message :

[code]

--

$ gcc -v
Using built-in specs.
COLLECT_GCC=gcc
COLLECT_LTO_WRAPPER=/usr/lib/gcc/i686-pc-msys/6.4.0/lto-wrapper.exe
Target: i686-pc-msys
Configured with: /msys_scripts/gcc/src/gcc-6.

[2018-03-21 03:04] withoutboats commented on #49150
@Nemo157 You should copy it and report your experience!

The unresolved question about leaking `Unpin` data relates to this. That API is unsound if we say you cannot overwrite `Unpin` data in a `Pin` unless the destructor runs, as @cramertj requested. There are other, less ergonomic, stack pinning APIs that do work for this. Its unclear what the right choice here is - is the ergonomic stack pinnin

[2018-03-21 03:26] tejom commented on #43988
Hey, Maybe I misunderstood something but the two extra functions in that trait don't seem to be used.

These are the two extra functions I added in the impl Visitor here [here](https://github.com/rust-lang/rust/blob/5e3ecdce4e42ccc34c49f32f81be71ae00f2cf11/src/librustc/hir/check_attr.rs#L194)
[code]

`check_stmt_attributes` isn't to interesting so Ill leave it out. I also added  debug lines to the

[2018-03-21 03:44] abonander commented on #43988
Ah, you have to change the return value of `nested_visit_map` in that impl block. The `Visitor` trait won't recurse into function bodies unless you tell it to and give it a way to resolve them.

[code]

[2018-03-21 03:51] #49153 closed

[2018-03-21 04:12] tejom commented on #43988
Cool. I'm moving forward again heh. I guess that makes sense then. I was seeing `main()` as an item I think, but I guess that allows it to actually look inside `main()` Thanks

[2018-03-21 05:57] swiftcoder opened #49227 "Enabling debug symbols negatively affects the optimiser"
I have a [crate of moderate complexity](https://github.com/swiftcoder/isosurface), which I have recently been profiling.

When I enable `debug = true` in conjunction with `opt-level = 3`, and `lto = true`, I'm noticing a reduction in performance of the compiled code versus just `opt-level = 3`, and `lto = true`. The builds with debug info are exhibiting highly accurate debug symbols even for small

[2018-03-21 06:08] sinkuu opened #49228 "Vec::extend_from_slice documentation outdated?"
The documentation of [`Vec::extend_from_slice`] says:

But its implementation is just delegated to `SpecExtend`, so the doc may be misleading to use a less-ergonomic way that is going to be deprecated. Or, is there sill performance gains by using `extend_from_slice` in some circumstances?

https://github.com/rust-lang/rust/blob/c19264fa835a1eca86de4fd2e86a87b3919e57cf/src/liballoc/vec.rs#L1343-L13

[2018-03-21 07:58] bobtwinkles commented on #48598
OK, so some notes (mostly for myself but perhaps useful to those interested in how I'm progressing).
  - This will indeed not be as simple as changing a single `allow_two_phase_borrow` tag in one place.
  - When calling a method without using the `.` operator, in HIR the call is expressed as an `ExprCall` rather than an `ExprMethodCall`. This means that we go through a completely different code pa

[2018-03-21 08:24] retep998 commented on #49226
The error you are getting is due to `user32-sys` expecting a type from `winapi` 0.2 when your own code is using `winapi` 0.3. With `winapi` 0.3 you no longer need `user32-sys` and friends as all functions are defined directly inside `winapi` now. You can see `DefWindowProcW` directly in `winapi` [here](https://docs.rs/winapi/*/x86_64-pc-windows-msvc/winapi/um/winuser/fn.DefWindowProcW.html).

[2018-03-21 08:41] Nemo157 commented on #49150
My current usage is pretty trivial, a [single-threaded executor running a single `StableFuture` without spawning support](https://github.com/Nemo157/wfe-executor-rs/blob/master/src/lib.rs#L60). Switching to an API like @cramertj [suggests](https://github.com/rust-lang/rfcs/pull/2349#issuecomment-374702107) would work fine with this. I have wondered how to extend this to allow spawning multiple `St

[2018-03-21 08:43] sailfish009 commented on #49226
@retep998  thanks! it works.

[2018-03-21 08:43] #49226 closed

[2018-03-21 08:51] topecongiro commented on #44690
@flip1995 I do not think that I can update the initial PR any time soon. So it will be great if you are going to work on this!

[2018-03-21 09:04] 3442853561 opened #49230 "ICE on extremely large arrays"
When I test this program with ```cargo test```:

[code]

I got this:

[code]

[2018-03-21 09:12] GuillaumeGomez commented on #47391
Oups, it's been a while and I forgot about it. I'll put it back into my todo list.

[2018-03-21 09:27] sfackler commented on #49230
That slice is bigger than the 32 bit address space so this isn't going to compile, but we shouldn't panic.

[2018-03-21 09:30] sfackler commented on #29488
We don't control the TLS implementation unfortunately.

[2018-03-21 09:45] Vurich commented on #49208
It only appears if you explicitly disambiguate the trait, like `<[T; N] as Foo>::foo()`. [Playground link here](https://play.rust-lang.org/?gist=19ac245eb8f58692f9f4f18fe6976657&version=stable).

[2018-03-21 09:46] michaelwoerister commented on #37543
@Boscop It's only the default for debug builds and `cargo check`. The output above says `Finished dev [optimized + debuginfo] target(s)`, so I'm wondering. On the other hand, it shows a very high number of object files being generated, which usually indicates incremental compilation. If you run `cargo` with `--verbose`, then we'd know for sure.

If this is with incremental compilation enabled then

[2018-03-21 09:49] 3442853561 commented on #49230
@sfackler However it actually compiles and panic(s) at runtime

[2018-03-21 09:51] sfackler commented on #49230
The error you posted is of the compiler panicking, not your program panicking.

[2018-03-21 09:52] SimonSapin commented on #46409
Yes it has.

[2018-03-21 09:52] #46409 closed

[2018-03-21 09:58] 3442853561 commented on #49230
@sfackler thanks

[2018-03-21 10:20] Nemo157 opened #49232 "Broken MIR with immovable generators"
[code]

when compiled with `rustc src/lib.rs --crate-type lib` gives error:

[code]

[2018-03-21 10:22] jonas-schievink commented on #49227
This might be because frame pointers are force-enabled when debug info is requested: https://github.com/rust-lang/rust/issues/48785

[2018-03-21 10:52] michaelwoerister commented on #49227
That's the first time I've heard debuginfo of optimized builds being described as highly accurate `:)`
As @jonas-schievink mentions it might have to do with frame-pointer emission (which will soon be decoupled of debuginfo). Otherwise, this is mostly up to LLVM and I guess the situation is very similar to what clang does.

There is also `debug = 1`, which just generates line-tables and thus should

[2018-03-21 12:57] nikomatsakis commented on #49218
(Here is a question to ponder, that does not I think block stabilization: for Rust 2018, is it working making `dyn` a true keyword? If we opt towards `crate::foo` paths, as I currently prefer, then I am leaning towards "no", since the only weird behavior is around `dyn :: foo`, and `::foo` paths are likely deprecated, so there is then only one reasonable interpretation of such a path. This allows

[2018-03-21 13:09] frewsxcv opened #49233 "Update doc examples that use ? (Carrier) to use Termination"
Blocked on https://github.com/rust-lang/rust/pull/49162

Example: https://github.com/rust-lang/rust/blob/c19264fa835a1eca86de4fd2e86a87b3919e57cf/src/libstd/fs.rs#L40-L49

Instead of:

[code]

We can now do:

[code]

Which can be copied/pasted straight from the docs such that it will compile, unlike the old example

[2018-03-21 13:20] nikomatsakis commented on #15872
Update: I've started hacking on this myself. Building on the existing in-band lifetimes work that @cramertj did, it's not very hard. I think I'm close to a PR.

[2018-03-21 14:08] pnkfelix commented on #48336
I decided as a background task to go ahead and *try* bisecting.

Huge caveat: I did not take my own advice, in that I have not yet double-checked that the commit series looks like "bug; bug; ...; bug; working; working; ... working"
 * Basically, `git bisect` makes it far too easy to *not* attempt to double-check the above claim.
 * But of course now that I have identified a potential candidate, on

[2018-03-21 14:16] swiftcoder commented on #49227
Ah ha. That's good to know. The Cargo manifest documentation mentions in passing that the `debug` entry can takes the values `2`, `true`, and `false`, but I didn't pull on that thread sufficiently to realise that `1` was also a valid value.

[2018-03-21 14:28] mattico commented on #49220
cc #27730

[2018-03-21 14:28] nikomatsakis commented on #44752
### Issuing warnings at the right times

This is the first step for the mentoring instructions. The lint as is is partially implemented, but it often fires at the wrong times.

**Step one: Add the tests.** I've created a fairly comprehensive set of test cases in [this gist](https://gist.github.com/nikomatsakis/f13da812c97b8094a9566ca9b3d9677d). The first step then would be to add these tests into

[2018-03-21 14:29] newpavlov opened #49237 "Regression of compilation times on the latest nightly (2018-03-20)"
For [keccak](https://github.com/RustCrypto/sponges) crate I use simple loop unrolling macros:
[code]

Which combined generate a lot of unrolled code as a final result. On the latest Nightly it takes a lot more time to compile the crate than previously:
[code]
Here I've used only 10 iterations instead of 24 in the `unroll24` macro, full version takes more than several minutes to compile. Judging by

[2018-03-21 14:33] nikomatsakis commented on #48358
In short, this *looks* like a dup of https://github.com/rust-lang/rust/issues/47349 -- @SimonSapin do you agree?

[2018-03-21 15:10] steveklabnik commented on #49233
Big 👍 from me

[2018-03-21 15:22] jasondavies commented on #48923
Just ran into this issue when compiling stdsimd (incrementally) on Linux with nightly.  `CARGO_INCREMENTAL=0 cargo build` fixed the issue for me.

[2018-03-21 15:24] GuillaumeGomez commented on #49233
Seems a good idea to me as well.

[2018-03-21 15:28] steveklabnik commented on #42640
I'll be opening a pre-rfc in the next few hours; tl;dr don't worry about it. I'll make sure it won't get lost.

[2018-03-21 15:31] federicomenaquintero opened #49238 "Need more helpful warning when "pub extern" function is not exported via "pub use""
I'm creating a bunch of `#[no_mangle] pub extern fn` that will be callable from C code.  Sometimes I forget to put them in my toplevel `lib.rs` as `pub use`.  This is the warning I get:

[code]

At first sight, that function is already `pub`!  The warning should say that I need to export it from the crate via `pub use`.

[2018-03-21 15:36] teythoon opened #49239 "Please add a constructor for std::io::IntoInnerError"
Please add a constructor for `std::io::IntoInnerError` so that it can be used in objects similar to `std::io::BufWriter`.

I tried this code:

[code]

I expected to see this happen: It works.  No code duplication.  Rainbows.  Unicorns.

Instead, this happened: The compiler did not let me create the object because the fields are private, and I ended up making a verbatim copy of io::IntoInnerError m

[2018-03-21 15:48] retep998 commented on #49195
There's very little reason for Rust to offer this stuff in the standard library given doing FFI in Rust yourself is trivial. Just use `libc` or `nix` to get the raw low level stuff you need (and `winapi` on Windows).

[2018-03-21 15:56] QuietMisdreavus commented on #43301
Oh hey, i found the proper place to talk about this.

## Using `?` in doctests

The way doctests currently work is something like this:

* rustdoc scans the doctest for whether it declares a `fn main`
  * (currently it just does a line-by-line text search for "fn main" that's not after a `//`)
* If `fn main` was found, it won't touch what's already there
* If `fn main` was not found, it will wrap

[2018-03-21 15:57] gilescope commented on #44838
I’m probably not meant to comment now given the RFC has been merged, but spare a thought for if it’s possible to line up both sides of an == vertically above and below one another as that can make things much easier to spot the difference. Really love this rfc btw, looking forward to it.

[2018-03-21 16:03] ishitatsuyuki commented on #44838
@gilescope You're welcome to comment on how we should form the message. The RFC is just meant to be a brief proposal, and there are libraries in other languages that has much more helpful expansion outputs. (Example: https://github.com/power-assert-js/power-assert)

[2018-03-21 16:16] QuietMisdreavus commented on #49233
I think this will be a good thing for combating the most common error of pasting the trimmed examples into `fn main()` without seeing or considering the `?`. Being able to have main return the error like that will greatly help cut down the boilerplate these currently have, and allow us to stop hiding most of the test.

[2018-03-21 16:19] varkor opened #49240 "Suggest adding ' for incorrect loop labels"
[code]
In situations like these, a more helpful suggestion would be to change `label` to `'label`. I imagine this error could be special cased to look at the identifier and suggest something different for `loop`/`while`/`for`.

[2018-03-21 16:46] bronvic opened #49241 "internal compiler error: unexpected panic"
I get this in the console:
[code]

Here is my code:
[code]

## Meta
[code]

Backtrace:
[code]

[2018-03-21 17:28] frewsxcv commented on #49233
cool, i'll start working on this then 🤸‍♂️

[2018-03-21 18:20] nagisa commented on #49010
Ugh, I cannot reproduce the fault on Linux, so it is very hard for me to even start investigating this more seriously.

The supposed error location is within a huge inlined 1.5k line blob of IR and the function with and without the fix at https://github.com/tokio-rs/tokio-timer/pull/40 appears to be optimised down into identical code, at least for that specific function.

[2018-03-21 18:24] termhn commented on #49010
Anything I could provide from the windows side that would help with this—artifacts from building etc? I’m not super knowledgeable about everything that happens but willing to help if I can :)

[2018-03-21 18:26] nagisa opened #49245 "Add a way to generate function symbols with predictable hashes"
To debug one of the issues, I wanted to use `llvm-diff` to diff between old and new LLVM-IR. Alas, the attempt didn’t provide any meaningful outcome and all the diff tool could output was:

@michaelwoerister, is it possible to make rustc use *less* inputs into its hash algorithm?

[2018-03-21 18:33] nagisa commented on #49010
Can you see if the issue is reproducible on windows with the minimal sample provided in the first comment?

[2018-03-21 18:49] zackmdavis commented on #49238
This should be fixed on nightly and in 1.25: #47479

[2018-03-21 19:10] zackmdavis commented on #49238
Or rather, the bogus suggestion to add `pub` when it already says `pub` has been fixed, but we don't yet have the correct `pub use` suggestion.

[2018-03-21 20:11] killercup opened #49247 "Provide rustfix to upgrade code to Rust 2018 automatically"
Rustfix is a CLI tool that parses the compiler's suggestions and applies them to the source files. It is the official tool to migrate from Rust 2015 to 2018.

This issue is to track the development of the CLI tool. Other ways to interact with the compiler suggestions include "reading them and changing code manually" as well as "using RLS and clicking on lightbulb icons in VSCode".

## What needs t

[2018-03-21 20:11] killercup commented on #49247
## State of rustfix as of 2018-03-21

The rustfix available in [killercup/rustfix](https://github.com/killercup/rustfix) is pretty bare-bones: It currently is a simple interactive CLI tool that executes cargo (or clippy) and  presents the user a choice of "which suggestion to apply"/"skip" for each compiler diagnostic message that include one or more suggestions.

Its test suite works well and exe

[2018-03-21 20:11] killercup commented on #49247
## My initial suggestion for the user experience of `rustfix`

As a programmer I want to have a painless way of upgrading my code to the new Rust 2018 edition.

- When Rust 2018 is released, it includes `rustfix` as a tool that is distributed by rustup by default, similarly to rustdoc.
- Running `rustfix --edition 2018 foo.rs` will compile `foo.rs` (assuming the default edition, i.e., 2015) and tr

[2018-03-21 20:12] killercup commented on #49247
## Next steps

I'll meet with @Manishearth and @oli-obk at the All Hands next week to discuss this, and try to get implementation going. One explicit goal will be to create mentor-able issues.

[2018-03-21 20:18] nikomatsakis commented on #49247
BTW, should we nab the `cargo-fix` crate name? It seems clear we'll want to run this like `cargo fix`, right?

[2018-03-21 20:21] killercup commented on #49247
@nikomatsakis good idea! Let me write a crate that [does this]([well](https://github.com/killercup/rustfix/blob/1cbe64c453e5b0c0222222aa12234fb50df1a35c/src/bin/cargo-fix.rs)) but… as a crate :)

[2018-03-21 20:23] alexcrichton commented on #48493
I've sent a PR for this at https://github.com/rust-lang/rust/pull/49248

[2018-03-21 20:24] alexcrichton commented on #48788
We discussed this during libs triage today and the conclusion was that we didn't consider this a bug to fix in libstd but would of course be more than willing to update the documentation. As a result I'm reclassifying as a documentation issue.

[2018-03-21 20:41] Mark-Simulacrum commented on #49237
cc @rust-lang/compiler -- can we assign someone to investigate?

[2018-03-21 20:52] Zoxc commented on #49237
@oli-obk Could this be Miri?

[2018-03-21 20:55] estebank commented on #49230
Oddly enough, if you increase the value significantly and only allocate the slice, there's a non-ICE error that you would expect to see:

[code]

but with the provided size, the compilation succeeds but panics on execution:

[code]

[2018-03-21 20:56] Boiethios opened #49250 "ICE when building compiler plugin with nll"
I tried the [example of compiler plugin](https://doc.rust-lang.org/1.16.0/book/compiler-plugins.html) and added only the nll feature.

The result is an ICE:

[code]

[2018-03-21 21:19] estebank commented on #49208
@oli-obk are you displaying these as `<[(); _] as Foo>`? I feel that'd be a reasonable output for this.

[2018-03-21 21:23] nagisa commented on #49245
Chatted a bit with mw on IRC and managed to get it working by making the -Cmetadata flags the same. A `-Z` flag that ignores the -Cmetadata would be great.

[2018-03-21 21:34] Dylan-DPC commented on #42640
@nikomatsakis HI. Can work on this :+1:

[2018-03-21 21:38] Boscop commented on #43035
The search in [Rust docs](https://doc.rust-lang.org/std/) is not working in IE11. Entering a query and hitting Enter does nothing, it shows no search results etc. which makes the navigation difficult.

IE11 is still used in many educational institutions around the world (and often the only installed browser) and since Rust is striving for accessibility and inclusiveness, the search functionality s

[2018-03-21 21:47] QuietMisdreavus commented on #43035
The error i get when running the nightly docs in the IE11 debugger is

[According to MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/startsWith) it's possible to create a stopgap implementation for browsers without the `String.prototype` methods, which might help out. I'm not sure how many other things the search functionality requires that IE11 doesn't

[2018-03-21 22:03] vitalyd commented on #48493
@alexcrichton, not sure it really matters here but the constructor also fails:
[code]
The above still generates a bogus mov instruction.

[2018-03-21 22:22] steveklabnik commented on #43035
@Boscop this policy doesn't mean that we will not accept PRs to make things compatible; it's a statement about what we have the time, energy, and power to support as a project. In general, we're quite happy to merge things for broader compatibility, but it's up to the people who care about those platforms to help out. This is similar to the tier system for platform support generally.

[2018-03-21 22:56] pietroalbini commented on #49250
cc @rust-lang/wg-compiler-nll

[2018-03-21 23:04] pietroalbini commented on #49239
Thank you for this issue! I _think_ you can't do that because it would prevent any future modification of that type (without breaking backward compatibility), but a member of the libs team will surely explain that in more details.

[2018-03-21 23:08] mgattozzi commented on #49247
@killercup I'd be happy to help with this once you get some issues up after next weeks allhands.

[2018-03-21 23:12] pietroalbini commented on #49195
A whole new socket API would surely require a bit of design work to get it right, and [our internals forum](https://internals.rust-lang.org) is the best place to start working on that. Could you open a post there? Thanks!

[2018-03-21 23:12] #49195 closed

[2018-03-22 00:11] federicomenaquintero commented on #49238
I'm trying my hand at a fix for this.  It's my first contribution to the compiler :stuck_out_tongue:   What would be appropriate wording for the hint - something like `try exporting it in your crate's toplevel: pub use fully:qualified:id_name;`?

[2018-03-22 00:59] scottmcm commented on #45594
@SimonSapin Looks like the rfcbot command didn't take.  Does it need to be the first line?

[2018-03-22 01:43] cramertj commented on #45594
@scottmcm The issue was missing a team tag :). @SimonSapin If you try again it should enter FCP (I cannot, as I am not on the libs team).

[2018-03-22 01:50] matthiaskrgr opened #49256 "unused_assignments: false negative for dead stores in struct fields"
code like this causes a proper warning
[code]
=>
[code]

however if a is a struct field, I get no warning at all.
[code]

playground:  https://play.rust-lang.org/?gist=b4b8f875a0e53f80f24a2247816272ff&version=nightly

I ran into bugs in my code that could have been prevented by warning about this :(

[2018-03-22 01:53] Badel2 opened #49257 "Better error message for `..` in struct patterns not in last position"
Since the `let P(.., y) = p;` syntax is allowed in unnamed patterns, people will try the same in named patterns, `let P { .., y } = p;`,and it won't work. Right now the error is
[code]
followed by other errors about "pattern does not mention field x". Test code [playground link](https://play.rust-lang.org/?gist=507f4376c637ff7709c11925bc82b6c1&version=nightly)

[code]

Adding a clear error message

[2018-03-22 02:03] Badel2 commented on #49257
An alternative would be allowing `..` anywhere in struct patterns, to keep it similar to tuple patterns, but that would probably need an RFC, right?

Anyway, if someone wants to work on this issue, go ahead, otherwise I will fix it when I have some free time.

[2018-03-22 03:07] glennw commented on #49061
I didn't try it locally, but I gave it one more retry on CI today, and it merged. So I guess whatever PRs have landed in WebRender in the meantime were enough to stop this PR from timing out. Shall we close this, or is it still worth investigating further?

[2018-03-22 06:07] scottmcm commented on #43301
In a shallow sense, yes: https://play.rust-lang.org/?gist=8e353379f77a546d152c9113414a88f7&version=nightly

Unfortunately, I think that `-> impl Trait` is fundamentally troublesome with `?` due to the inbuilt error-conversion, which needs the inference context to tell it what type to use: https://play.rust-lang.org/?gist=23410fa4fa684710bc75e16f0714ec4b&version=nightly

Personally I was imagining

[2018-03-22 06:12] scottmcm commented on #49257
I think that it should remain accepted only at the end, the same as in struct literals.  Tuple patterns need the flexibility, but struct patterns are named, so there's no reason to every have it anywhere but the end.

[2018-03-22 06:31] oli-obk commented on #49061
Let's close it, without a repro it's hard to investigate

[2018-03-22 06:31] #49061 closed

[2018-03-22 06:36] oli-obk commented on #49237
Yes this is very likely to be miri related.

It has a lot of constants if I understand it correctly. It also looks like the collector and trans take up most of the time. This makes sense as we now collect all constants, which we didn't before. These private constants shouldn't be collected though.

[2018-03-22 07:08] oli-obk commented on #49208
@estebank that would be a better fallback than `<unevaluated[]>`, but I'm currently trying to get at the actual value (though that triggers cycle errors atm when building libcore's array impls ^^)

[2018-03-22 07:15] Manishearth commented on #49247
@mgattozzi Great! This will be a big help, rustfix is one of the items that needs a bunch of work but everyone is too busy to work on it.

For now, looking into https://github.com/killercup/rustfix/issues/57 may be helpful.

[2018-03-22 07:18] Manishearth commented on #49247
Overall I think there's _huge_ potential for fixture tests in rustc, both as a way to test suggestions and to test rustfix.

The way I envision it is that if any compile-fail or UI test foo.rs is accompanied by a foo.rs.fixed file, it's an indication that we must run rustfix on it, and the fixed source should match the .fixed file. Additionally, the fixed file should not emit any of the warning en

[2018-03-22 07:26] Manishearth commented on #49218
This isn't consistent -- `crate::foo` is an idiom and not a reqirement; however making `dyn::foo` parse differently is a breaking change; we can't rely on an idiom change to make a breakage "non breaking".

Though it seems like you're suggesting that we could scope the epoch breakage so that `dyn` stays a contextual keyword, but now `dyn::foo` parses as `dyn Trait` -- i.e. instead of breaking all

[2018-03-22 07:28] oli-obk commented on #49247
Tracked in https://github.com/rust-lang/rust/issues/45516

[2018-03-22 07:28] SimonSapin commented on #45594
Let’s try again:

@rfcbot fcp merge

[2018-03-22 08:20] SergioBenitez opened #49259 "rustdoc rendered `const`s should respect `#[doc(hidden)]` fields"
For a `struct` and `const` declared as:

[code]

`rustdoc` currently renders:

This _unhides_ the hidden `foo` field. Instead, it should respect the `#[doc(hidden)]` attribute on `foo` and render the following:

Or, better yet, if all fields are hidden, then I'd prefer for it to not render the definition at all:

[2018-03-22 08:25] joeschman commented on #49010
If there‘s any more information i can provide for the problem ln macos, just tell me what ;)

[2018-03-22 08:32] japaric opened #49260 "Serious binary size regression on ARMv7-M on nightly-2018-02-11"
### STR

[code]

- `nightly-2018-02-11` or newer

[code]

- `nightly-2018-02-10`

[code]

Basically as of nightly-2018-02-11 dev profile is better than release profile and that's better than
compiling with LTO ...

Also, in this case, today's LTO produces a 1 KB (756%) bigger binary that using LTO on
`nightly-2018-02-10` . On a more real world example I see a 2.4 KB (21%) increase in binary size.

[2018-03-22 08:47] gnzlbg opened #49261 "LLVM's maxnum builder is broken in LLVM6"
This was fixed in this LLVM commit: https://github.com/llvm-mirror/llvm/commit/e271f8c46c6bee271f75848b6110588da5df7d2f

Once we upgrade to LLVM 7 a couple of fail tests are going to start passing because of this.

This issue is referenced in all parts of the code that need updating.

[2018-03-22 08:57] berkus commented on #48884
Yes, sorry, will generate the debug log today.

[2018-03-22 09:08] nagisa commented on #49010
Wrote this comment yesterday but forgot to hit submit.

---

So here’s the thing that sticks out as a sore thumb to me in the optimised IR as far as differences between the "bad" and "fixed" versions goes:

[code]

I still haven’t checked the IR closely enough to confirm whether the CFG allows for this assume to ever called on falsy value, but this is really the only notable difference between the

[2018-03-22 09:14] nagisa commented on #49010
Things that would be helpful and make it easier to debug this:

1. A single-file minimal reproducer with as few dependencies on system utilities (such as threads) as possible;
2. Backtrace from a debugger, register dump at the time of the fault and disassembly of the function.

A minimal reproducer that works on windows would be better as I have an access to a windows VM, though perhaps it is as g

[2018-03-22 09:18] ordovicia commented on #49257
I'll take this.

[2018-03-22 09:25] oli-obk commented on #48866
I give up. There's absolutely no reason the **address** of `CACHE` should ever be stored without alignment.

[2018-03-22 09:29] japaric commented on #49260
@nagisa pointed out to me on IRC that `--emit=llvm-ir` produces the IR *after* LLVM optimizes what rustc emits. They also suggested to use `-C no-prepolutate-passes` to check the IR that rustc produces and I can see that the IR that rustc produces is pretty much the same before and after the LLVM upgrade.

It seems that LLVM 6 is deciding to unroll some for loops "for performance" (though I doubt

[2018-03-22 09:33] Vurich commented on #49208
@estebank That's better in some ways, but kinda implies that `for<const T> [(); T]: Foo`

[2018-03-22 09:44] GuillaumeGomez commented on #43035
Damn, I'll need to grab a windows...

[2018-03-22 09:45] GuillaumeGomez opened #49263 "Search not working on IE11"
Part of #43035.

[2018-03-22 09:46] #46541 closed

[2018-03-22 09:48] michaelwoerister commented on #49237
cc @eddyb

[2018-03-22 10:14] XRustacean opened #49265 "For-Loop changes the mutability of a variable"
Hello Rustaceans !
                         I'm new to Rust , I was experimenting with loops and vectors ,taking account of mutability I wrote this which worked as desired:

 let v = vec![1,2,3,4];
 let mut vec_index:usize = 0;
    for vec_index in 0..4 {
    	println!("Vec Val:{}",v[vec_index] );
    }

What seemed weird to me was when I removed _mut_ keyword , it compiled successfully.

 let  ve

[2018-03-22 10:34] sfackler commented on #49265
A for loop declares a new variable - it shadows the one you declared.

[2018-03-22 10:47] berkus commented on #48884
[code]

[2018-03-22 10:52] jonas-schievink commented on #49260
This can be fixed by optimizing for size instead of performance:

[code]

Add that to the main Cargo.toml and we're back to 130 Bytes:

[code]

[2018-03-22 11:06] XRustacean commented on #49265
Why it is designed as such to shadow the initially declared variable?
For e.g. if in some case I do need to my loop count out of the scope of for loop
(when I removed initial variable declaration and resorted to directly declare in for-loop it wasn't accessible outside the scope)
Wouldn't it be much better if compiler prohibits the use of immutable variables in for-loop?
Was their any pros which o

[2018-03-22 11:33] sfackler commented on #49265
It behaves like for-each loops do in other languages like Java and C++.

Again, it isn't using an immutable variable.

Iteration by index is rare in the Rust world - that loop would be written as this instead:

[code]

[2018-03-22 11:56] kepstin opened #49267 "binaryen is being built with inappropriate compiler flags for i586-unknown-linux-gnu host"
I've been trying to get an i586-unknown-linux-gnu build of rustc 1.24.1 going for a while, and I've gotten close, but the final rustc binary is crashing with an illegal instruction:

[code]

When looking into it, this particular piece of code is from the native binaryen library. From the build log `build/i586-unknown-linux-gnu/stage0-rustc/i586-unknown-linux-gnu/release/build/rustc_binaryen-b307d0

[2018-03-22 12:02] varkor commented on #41960
Note that this is currently intentional behaviour:
https://github.com/rust-lang/rust/blob/e57577314120bb5504d5ce4b180fb6befc86f672/src/librustc_typeck/impl_wf_check.rs#L115
https://github.com/rust-lang/rust/blob/e57577314120bb5504d5ce4b180fb6befc86f672/src/librustc_typeck/impl_wf_check.rs#L139-L156

[2018-03-22 12:25] japaric commented on #49260
Optimizing for size "fixes" the problem in this particular case but it's not a general solution to prevent loop unrolling where it makes no sense; that would require fine grained control over loop unrolling like clang's loop unroll pragma.

My experience with opt-level={s,z}, at least when LLVM 4 was around, is that they produce bigger binaries than opt-level=3 -- now that opt-level=3 binaries are

[2018-03-22 12:25] #49260 closed

[2018-03-22 12:31] vorner commented on #35784
Hello

This seems to have gone to sleep. I mean, the name for it is important, but no discussion seems to be happening for like 9 months ‒ is it likely to move forward? As for me, I'd rather have the feature stabilized (I'm often aiming at devices with chronic lack of storage space), no matter the actual values used.

Or is it blocked on anything else beside choosing the right name?

[2018-03-22 12:42] varkor commented on #41922
For reference, in Swift:
[code]
Swift opts to print code points for unicode scalars (but when converted to strings they display as in Rust).
This seems like reasonable behaviour (@clarcharr's first suggestion).

[2018-03-22 12:53] PlasmaPower commented on #48716
For anyone looking for a replacement, try `app_dirs2` or `directories`.

[2018-03-22 12:58] arbitrix opened #49269 "error: failed to load source for a dependency on 'cc'"
./x.py build && sudo ./x.py install

Doesn't work.

error: failed to load source for a dependency on 'cc'.

[2018-03-22 13:01] varkor commented on #41922
This seems to have been deliberately changed to the current output as a result of https://github.com/rust-lang/rust/issues/24588.

[2018-03-22 13:06] nikomatsakis commented on #48696
@sgrif and I had a brief conversation [in gitter](https://gitter.im/rust-lang/WG-traits?at=5ab388903fe1be3704ca0dce) going into a bit more detail. I'll try to get to writing up a rustc-guide chapter here.

[2018-03-22 13:25] matthiaskrgr opened #49270 "provide suggestions for typoed attributes"
[code]
It would be nice to have typo suggestions for mistyped attributes.
Maybe something like
[code]

[2018-03-22 13:32] michaelwoerister opened #49271 "Investigate if proc-macro crates can use regular crate metadata."
Currently, proc-macro crates require a lot of special-casing like the following:
https://github.com/rust-lang/rust/blob/b176285ba775f86301040fc624acb96b4499f562/src/librustc_metadata/decoder.rs#L503-L510

I wonder if this is really necessary. It would be preferable if proc-macro crates could be treated as regular crates.

cc @rust-lang/compiler @jseyfried

[2018-03-22 13:59] QuietMisdreavus commented on #43035
For those without an installation of Internet Explorer available, Microsoft makes [virtual machine images](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/) available with various versions of IE and Edge, for browser testing.

[2018-03-22 14:12] nikomatsakis commented on #48884
@canarysnort01 does that contain the info you needed?

[2018-03-22 14:12] XRustacean commented on #49265
Ok got you :')
for-loop creates shadows for its purpose.
Some mod should close down this issue.
Thank you.

[2018-03-22 14:17] pnkfelix commented on #48336
After discussion at compiler team meeting, closing under hypothesis that #48710 "fixed" this by removing the inferred_obligations, which were sometimes incorrectly dropped rather than proven (and which @nikomatsakis says could indeed lead to ICE's like this.)

[2018-03-22 14:17] #48336 closed

[2018-03-22 14:17] #49265 closed

[2018-03-22 14:18] nikomatsakis commented on #49237
triage: P-high

[2018-03-22 14:18] QuietMisdreavus commented on #43301
Ooh, those are very real concerns. I'd forgotten about how that would mess up type inference. If the catch block started Ok-wrapping like that linked issue, then that seems like a much easier (and much quicker, stabilization-wise) path forward.

The only thing i wonder is how that will be affected by the edition transition. Isn't the `catch` syntax changing in the 2018 epoch? Rustdoc will likely w

[2018-03-22 14:18] nikomatsakis commented on #49237
Looks like the fearless @oli-obk  is on it

[2018-03-22 14:18] oli-obk commented on #49237
The `keccak` crate is a great benchmark for ridiculous numbers of locals and basic blocks. We should add it to the list of perf tests.

Anyways, the fix works locally

[2018-03-22 14:23] nikomatsakis commented on #49113
Hopefully a duplicate of https://github.com/rust-lang/rust/issues/48923.

@sagiegurari can you verify if (a) using `CARGO_INCREMENTAL=0` stops the problem and (b) get the output using `RUST_BACKTRACE=1`?

[2018-03-22 14:23] nikomatsakis commented on #49113
triage: P-high

Since likely incremental bug, assigning to @michaelwoerister

[2018-03-22 14:25] nikomatsakis commented on #48728
triage: P-high

[2018-03-22 14:29] palango opened #49275 "Crash in program compiled with nightly"
This seems like a regression in the compiler.

Let's create a checkout of the glium crate.
[code]

Now, when running the tutorial-02 example with stable, it works fine and it shows a window with some gl output.
[code]

When running with `rustc 1.26.0-nightly (75af15ee6 2018-03-20)` The program crashes while running.
[code]

[2018-03-22 14:29] nikomatsakis commented on #48627
triage: P-medium

Seems curious and worthy of fixing, but not a P-high problem. @glandium do you believe this optimization (or lack of it) is affecting other things?

[2018-03-22 14:31] nikomatsakis commented on #48435
triage: P-medium

We'll pick this up when LLVM is next updated, I suppose.

[2018-03-22 14:37] varkor commented on #42213
The problem here, as far as I can tell, is a result of a combination of factors:
- The generated implementation of `decode()` generates an expression for the body of the lambda (rather than a block, unlike `encode()`:
https://github.com/rust-lang/rust/blob/b176285ba775f86301040fc624acb96b4499f562/src/libsyntax_ext/deriving/decodable.rs#L158-L160
- The closure-building method, `lambda`, generates t

[2018-03-22 14:40] nikomatsakis commented on #49010
triage: P-high

[2018-03-22 14:44] nikomatsakis commented on #49010
Assigning to @pnkfelix to try and reproduce on mac

[2018-03-22 14:57] varkor commented on #42213
On second thoughts, it seems reasonable for pprust to assume correct input. In that case, the correct fix would be: modify the closure printing code to omit return types of `TyInfer` (which the functions generated by `lambda` always return). I could imagine this having other side effects, but I can't immediately think if that would cause any other problems.

[2018-03-22 15:14] #47744 closed

[2018-03-22 15:15] MortenLohne opened #49276 "rustc crashes with stack overflow on 1.25.0 stable and 1.27 nightly"
Note: This issue was originally posted for 1.26 nightly. It seems to have been present since 1.25, and has now made its way into stable.

On the current stable (1.25.0) and nightly (rustc 1.27.0-nightly (0b72d48f8 2018-04-10)), the compiler fails to build [my project](https://github.com/MortenLohne/rasher/tree/f1a895ab1fa2e02243cf06f409e3be65d141708d) in release mode (With `cargo build --release`

[2018-03-22 15:20] nikomatsakis commented on #42640
@Dylan-DPC great! You basically want to search through for the feature flag `match_default_bindings`, as [described here](https://forge.rust-lang.org/stabilization-guide.html).

[2018-03-22 15:29] nikomatsakis commented on #49218
@Manishearth

I am proposing *not* making it parse differently. It currently parses as a path `dyn::foo`, and I am claiming that that is the only sensible interpretation in Rust 2018, since `::foo` would not be a path on its own (well, it's a deprecated form of path).

No. I am proposing that `dyn::foo` continues to parse as a path, not as a usage of `dyn Trait` (though perhaps it would be linted

[2018-03-22 15:32] nikomatsakis commented on #35784
Side note: the crash in https://github.com/rust-lang/rust/issues/48967 only reproduces with -Os (probably an LLVM bug)

[2018-03-22 15:59] nikomatsakis commented on #49218
I noticed something: in our error messages, we don't use `dyn` (of course). Once it's stable, we should fix that!

[2018-03-22 16:01] nikomatsakis opened #49277 "use `dyn` syntax in error messages"
We have not yet stabilized `dyn Trait` (see https://github.com/rust-lang/rust/issues/49218), but once we do, we should start using it in error messages. So for example this test:

[code]

should print

[code]

[2018-03-22 16:09] oli-obk commented on #49276
infinite recursion in llvm

backtrace:

[code]

[2018-03-22 16:14] clarcharr commented on #47338
Conversions for `Option<Option<T>>` and `Result<Result<T, E1>, E2>` are just `catch { val? }` and`catch { Ok(val??) }`, so, I'm not sure if they need dedicated functions.

[2018-03-22 16:14] tejom commented on #43988
Hey so I pushed a commit on my own fork. I wasn't sure if its ready for a pull request but feedback on the code i think could be helpful just in case I did anything incredibly wrong heh.

https://github.com/tejom/rust/commit/f52572e32d57bda1e162554b320c15cd76f31090

I wasn't sure what the best way to share a commit would be. If there's a better or more preferred way let me know.

[2018-03-22 16:16] memoryleak47 commented on #48879
I'd like to try this one. :)

[2018-03-22 16:17] clarcharr commented on #41922
I still just think that checking if the character is combining and then escaping if it's by itself is the best option.

[2018-03-22 16:26] kennytm opened #49278 "CI: We should be able to complete a build in 3 hours even without Docker image cache"
Our CI builders (except macOS and Windows) use Docker, and we'll cache the Docker repository on Travis. Thanks to the cache, normally the `docker build` command only takes a few seconds to complete. However, when the cache is invalidated for whatever reason, the Docker image will need to be actually built, and this may take a very long time.

Recently this happened with #49246 — the Docker image c

[2018-03-22 16:28] nikomatsakis commented on #48879
@memoryleak47 that would be super duper. @pnkfelix and I were just saying that this remains pretty high priority. Let me know if I can help in any way. (Of course there are already [mentoring instructions](https://github.com/rust-lang/rust/issues/48879#issuecomment-371828898).)

[2018-03-22 16:30] sagiegurari commented on #49113
I upgraded to the latest nightly 2018-03-20 and it looks like everything is working find now.
Wasn't aware there was a fix already.

[2018-03-22 16:44] varkor commented on #41922
Oh, I see: you already mentioned the earlier change! I agree: this would make sense for combining characters. The range described on [Wikipedia should probably be sufficient](https://en.wikipedia.org/wiki/Combining_character#Unicode_ranges)?

[2018-03-22 16:47] alexcrichton commented on #48493
@vitalyd interesting! Apparently that's reduced down to:

[code]

The `box` keyword is necessary there to reproduce the issue (interestingly enough). I've fixed that in #49248 I believe

[2018-03-22 16:49] alexcrichton commented on #27779
A curious case has [popped up](https://github.com/rust-lang/rust/issues/48493#issuecomment-375376475) where code like this causes a segfault:

[code]

but avoiding the use of `box` and instead using `Box::new` fixes the issue. I'm not sure if this code is even  supposed to work, though, and it may mean that whatever "fix" is in place for struct literals just hasn't made its way to the `box` keywor

[2018-03-22 16:49] Woyten commented on #49144
Did you try to remove `~/.xargo`?

[2018-03-22 16:55] plugwash opened #49280 "Armv6 builds of rust appear to be armv7 contaminated."
I maintain Raspbian, a project to re-build Debian armhf for armv6. I have been trying to upgrade the rustc package in Raspbian buster from 1.23 to 1.24.

We scan all built packages with readelf to look for armv7 code that has slipped through the net and while buliding rust 1.24 I ran into a couple of files where readelf shows armv7 tags.

/usr/lib/arm-linux-gnueabihf/librustc_trans-7f6686b7daae4f4

[2018-03-22 18:13] khumarahn opened #49281 "unexpected panic while compiling firefox on arm64"
Hi, I see this strange error while trying to compile firefox-59.0.1 with rust-1.23 on arm64 laptop running gentoo linux. It says, my bug report would be appreciated. I'd also appreciate any feedback.

I would be happy to provide any additional information.

[code]

[2018-03-22 18:15] jdm opened #49282 "mem::replace don't actually mutate the destination on Android"
I have a [branch of Servo](https://github.com/jdm/servo/tree/layoutstuff) which crashes when run on Android because a [key use of mem::replace](https://github.com/jdm/servo/blob/layoutstuff/components/layout/inline.rs#L274-L283) does not actually cause the destination to change values. When I add `println!("{:?}", self.pending_line)` before and after the mem::replace, on desktop the values are upd

[2018-03-22 18:21] jdm commented on #49282
The following also works:
[code]
(yes, performing the same operation twice)

[2018-03-22 18:38] bobtwinkles commented on #33159
This super hacky patch will let GDB load the files correctly, at least on my machine

[code]

[2018-03-22 18:40] nikomatsakis commented on #48697
This is a side-effect, I believe, of the hacky-ish way that we are enabling NLL while still running the old borrow check. In particular, this ICE originates from the **old** borrow check, I believe caused because we suppressed an error from the **old** region check (in favor of the new NLL check). We ought to be skipping the old borrow checker as well when NLL is enabled; but we can't do that unti

[2018-03-22 18:48] KiChjang commented on #48697
Work is tracked on this PR: https://github.com/rust-lang/rust/pull/48605.

[2018-03-22 18:53] nikomatsakis commented on #48697
I have a simple fix for the ICE in the meantime.

[2018-03-22 18:54] alexcrichton commented on #49278
I think the worst offenders here are definitely the dist images where we're commonly building entire gcc toolchains for older compat and whatnot. One of the major pros, I think, is that we can test out changes to toolchains before they land. That is, if you update the toolchain in the CentOS image (for whatever reason) it'll get automatically rebuilt and the PR is rejected if it causes a failure.

[2018-03-22 18:56] alexcrichton commented on #49278
Another idea is that this *may* be a perfect application for Travis's "stages". If we figure out an easy way to share the docker layers between images (aka fast network transfers) then we could split up the docker build stage from the actual rustc build stage. I think that'd far extend our timeout and we'd always comfortably fit within the final time limit.

[2018-03-22 19:33] cuviper commented on #49062
Confirmed, no ICE with `rustc 1.26.0-nightly (75af15ee6 2018-03-20)`.

It still would be nice to root-cause the inference failure from afar, effected by the dependency update.  But FWIW I did commit the necessary type annotations to rayon master already.  For reproducing the issue, the prior branch head was rayon-rs/rayon@68aabe9e460f.

[2018-03-22 19:48] SimonSapin commented on #27389
@rfcbot concern indirection overhead

(Does this still work after FCP has ended?)

The way this works at the moment is that [`Heap::alloc`](https://github.com/rust-lang/rust/blob/1.24.1/src/liballoc/heap.rs#L84-L86) for example calls a function declaration [`extern "Rust" { fn __rust_alloc(…) -> …; }`](https://github.com/rust-lang/rust/blob/1.24.1/src/liballoc/heap.rs#L31).

When `#[global_allocat

[2018-03-22 19:49] abonander commented on #43988
I've left a couple of comments but you can probably go ahead and open a pull request, it'll start running tests on it. It also makes it easier to review. I don't have review permissions so add `r? @petrochenkov` to get a reviewer who knows the frontend and mention me.

[2018-03-22 19:56] BatmanAoD commented on #37572
Unless I misunderstand (which is likely), this trait indicates that the number of iterations can be calculated in advance, and that it will be a finite number, possibly greater than max `usize`.

In that case, I would suggest one of `FiniteSizeIterator` or `KnownSizeIterator`.

 * `...SizeIterator` is consistent with `ExactSizeIterator`, as mentioned above.
   * "Size" is possibly ambiguous since

[2018-03-22 20:01] #49018 closed

[2018-03-22 20:01] #47326 closed

[2018-03-22 20:01] #39658 closed

[2018-03-22 20:01] #49174 closed

[2018-03-22 20:01] #49164 closed

[2018-03-22 20:01] #49241 closed

[2018-03-22 20:04] jethrogb commented on #27389
It might be avoidable in the future. This RFC doesn't actually commit to anything with regards to how the `alloc` crate finds the system allocator. I jot down some notes of how I think dependency inversion can work in the general case here: https://github.com/rust-lang-nursery/portability-wg/issues/3#issuecomment-374029037

[2018-03-22 20:07] sfackler commented on #27389
@SimonSapin the performance overhead is the overhead of a function call, which is the same as the overhead of calling functions (like `malloc`, for example).

[2018-03-22 20:12] cuviper commented on #27389
Depending on how we handle its link visibility, the overhead may even be less than calling `malloc`, if `__rust_alloc` can avoid the PLT.

[2018-03-22 20:12] alexcrichton commented on #27389
@SimonSapin note that the cost is also reduced to zero in cases of LTO.

[2018-03-22 20:13] sfackler commented on #37572
usize::max_value()

[2018-03-22 20:20] SimonSapin commented on #33417
https://github.com/rust-lang/rust/pull/49038 is merged. I believe this was the last blocker to stabilization, please let me know if I missed an unresolved issue.

@rfcbot fcp merge

[2018-03-22 20:26] bobtwinkles commented on #48598
A collection of tricky cases:

[code]

[2018-03-22 20:28] kennytm commented on #33417
rfcbot is not responding because another FCP has already been completed before at https://github.com/rust-lang/rust/issues/33417#issuecomment-302817297.

[2018-03-22 20:31] SimonSapin commented on #33417
Uhmm, there are a few impls that should be revisited. Now that we have `impl<T, U> TryFrom<U> for T where T: From<U>`, remaining impls of `TryFrom` that have `type Error = !` should either be replaced with impls of `From`, be removed, or be made fallible (changing the error type to some non-uninhabited type).

Those in that case that I can find involve `usize` or `isize`. I suppose that the corres

[2018-03-22 20:33] alexcrichton commented on #49278
Er scratch the idea of travis stages, they wouldn't work here. It looks like Travis stages only support parallelism inside one stage, and othewise stages are sequential. That's not quite what we want here...

[2018-03-22 20:37] SimonSapin commented on #33417
To clarify: different method *bodies* for different `target_pointer_width` in the same `impl` are fine (and likely necessary), different APIs (error types) are not.

[2018-03-22 20:55] nrc commented on #49178
Yeah, macro-generated stuff has caused all kinds of problems in the past. There is a long-term solution which is to handle macro-generated code properly. That means having some representation of the macro-generation in save-analysis and ensuring that all spans are correct (I'm 99% sure that currently there are multiple problems with some spans in the expansion trace).

Short-term it depends what y

[2018-03-22 20:55] SimonSapin commented on #27389
Alright, if people are confident that this is not an issue please carry on :)

[2018-03-22 21:03] nikomatsakis commented on #49026
Hmm, I'm finding this a bit harder to use than anticipated. It does give us some idea of the relative motion of NLL over time, but it's hard to get an "absolute" sense of how good/bad it is. For examine, I don't think that patch can be directly compared to any of the other lines -- if we did a make clean or something before, then we could compare to the "clean incremental" build though.

[2018-03-22 21:09] plugwash commented on #49280
I suspect https://github.com/rust-lang/rust/issues/49267 is related, different platform but a similar looking contamination issue on one of the same libraries.

[2018-03-22 21:38] varkor commented on #48740
This error is coming from a very similar location to https://github.com/rust-lang/rust/issues/48728. Maybe it's the same bug?

[2018-03-22 21:49] cuviper commented on #49281
I sometimes get messages like this on s390x too, and usually it will pass if I try again.  I haven't looked into it, but if this code insists on monotonicity, it may need to use a different clock source.

[2018-03-22 21:51] glandium commented on #48627
I think it could be the same underlying regression as #48253 but it's just a gut feeling, not backed by evidence. I guess I could take a stab at finding a regression range for both.

[2018-03-22 21:59] mark-i-m commented on #44113
playground example: https://play.rust-lang.org/?gist=db5d76e6c9da2e3e08de7592862e7ff3&version=nightly

[2018-03-22 22:05] tejom commented on #43988
Cool. Thanks a lot. I'll address your comments and open a pull request

[2018-03-22 22:24] mystor commented on #49178
Fair, that makes a lot of sense.

The particular use-case which I had for this was more rustdoc-like, so I wanted to be able to see the complete public API of the crate. It might be nice to have this spans-might-be-missing flag, but it might also just make the most sense to wait until the full solution has been implemented.

[2018-03-22 22:50] newpavlov commented on #49237
On nightly replacing `{ const $var: usize = N; $body; }` with `$var = N; $body;` reduces compilation time a bit, but not that much, but on the stable it's a vice versa.

[2018-03-22 22:51] Mark-Simulacrum commented on #49026
I've quickly implemented an alternative which makes all benchmarks (we might limit this in the future, but for now this was easier) have an "nll" mode which should look just like clean on the UI and will run after clean (with just a `touch` on all files, but that should be enough as Cargo will rebuild anyway).

Will deploy shortly and we'll see how this looks.

[2018-03-22 23:05] cramertj opened #49287 "Argument-position `impl Trait` requires a named lifetime"
This function produces an "expected lifetime parameter" error:

[code]

This code should instead be accepted and bound the `impl Trait` parameter by the elided lifetime.

cc https://github.com/rust-lang/rust/issues/34511

[2018-03-22 23:55] plugwash commented on #49280
Based on the other report I looked for a similarly named log and found

build/arm-unknown-linux-gnueabihf/stage0-rustc/arm-unknown-linux-gnueabihf/release/build/rustc_binaryen-881941f3666d29e3/output

And in there I found "-march=native"

Further searching found

ADD_COMPILE_FLAG("-march=native")

In

src/binaryen/CMakeLists.txt

I have commented that line out and will see where I get to.

As a ge

[2018-03-22 23:56] plugwash commented on #49267
Just a note, the offending code seems to be in src/binaryen/CMakeLists.txt

[2018-03-23 00:03] kennytm commented on #49267
Note that binaryen has been removed in Rust 1.26 (by #48125), which will enter beta next week.

[2018-03-23 00:15] andrewtj commented on #44732
I'd really like to use this in my DNS crate. I've got a lot of generated documentation from IANA parameters and the IETF's RFC index that would be much easier to integrate with this feature.

[2018-03-23 00:56] glandium commented on #48627
Okay, so I confirmed both this and #48253 have the same regression range, which is the last days *before* 1.23 made it to beta. 1.23.0.beta.2 exhibits both regressions, and stable-1.23 doesn't.
Going through the list of changes between the beginning of december when beta.2 was released and the 1.23.0 tag in the git repository points to a *very* likely cause for the regressions having been fixed on

[2018-03-23 01:14] scottmcm commented on #37572
The `Trusted` part here makes me think of https://github.com/rust-lang/rfcs/pull/2237#issuecomment-354511113.  It sortof feels like the things currently specializing on TrustedLen want instead of specialize on `I: unsafe ExactSizeIterator` as a way to say "I need to trust that this actually does what its documentation says it does".

As currently spec'd, they're complements of each other.  Speakin

[2018-03-23 01:54] canarysnort01 commented on #48884
Yes, that helps. I think this is what is happening:

- Even though you have set in your target file to produce position-independent-executables (pass the "-pie" flag), the code overrides this because it sees "-static" on the linker's command line and decides not to generate PIE.
- My PR made it pass "-no-pie" in this case, and fall back to removing -no-pie if the link fails
- For some reason this

[2018-03-23 02:26] kepstin commented on #49267
After looking into this a bit further, the binaryen folks have force-enabled sse2 with the note "wasm doesn't allow for x87 floating point math". I suppose this is referring to issues with precision/rounding when doing calculations with constants while compiling to wasm? It's unclear how much of a problem this might actually be.

If disabling sse operations in binaryen isn't an option, then the on

[2018-03-23 02:26] kennytm commented on #42640
Note that there is still an ICE involving `match_default_bindings`: #46197.

[2018-03-23 03:06] xftroxgpx commented on #48910
I still encounter the issue with `debuginfo = false`, tried just now (with latest rust master which is at commit 52f7e8836cc2e6c0edfaf402ee40ca724a8c0989)
(I was sure it wouldn't still happen with debuginfo false, for some reason.)

[code]

[full compilation output](https://gist.github.com/xftroxgpx/5eef3141eab2e4ccdfe0fa3255ff921d/5048058f2c1a2abb820b519d7c55e486b79c96db#file-console-rs-L5256-L52

[2018-03-23 04:15] clarcharr commented on #41960
@varkor they should be accepted, just linted.

[2018-03-23 04:39] glandium opened #49294 "Confusing error when breaking out of a loop and not returning a value from the surrounding function"
I had code like this:

[code]

which the compiler refused to compile, saying:
[code]

I'll pass on the fact that expected vs. found is often confusing, and that's one of those cases, but it's completely non-obvious what to make of this error, until you realize that the function itself never returns a value.

If the loop itself didn't have a value (with a semi-colon after its closing brace), the er

[2018-03-23 04:40] axos88 commented on #46507
I feel like `subsec_*` methods have limited use.
I find myself interested in converting the whole duration value to e.g. millis most of the time rather than interested in only the fractional part.
I would propose to add as_millis, as_micros, as_nanos, etc. conforming with the from_* methods.

[2018-03-23 05:08] axos88 commented on #49118
@bobtwinkles I believe the fix is not working for all cases. I would expect the compiler to also be able to infer that it has to extend the live of the MutexGuard for as long as there is a reference to whatever is inside:

https://play.rust-lang.org/?gist=3af98ef6bf9a631eaf0185f90e8f1183&version=nightly

[2018-03-23 06:06] birkenfeld commented on #46507
And similarly, for formatting/display purposes, `as_floating_secs` etc would be helpful.

[2018-03-23 06:25] glandium commented on #47493
Today I've hit the same error with the following:
[code]
And with the following added to the corresponding Cargo.toml:
[code]

The above fails to build with `cargo +nightly build` but builds fine with `cargo +nightly build --release`. x86_64-unknown-linux-gnu target.

[2018-03-23 06:34] thefallenidealist commented on #49144
Removing `~/.xargo` has no effect.

[2018-03-23 07:27] oli-obk opened #49296 "Unsafe shenigans in constants can result in missing errors or ICE"
[code]

produces

[code]

without any additional info. If the value is not dereferenced, but instead fed to llvm, we get an ICE in trans:

[code]

results in

[code]

Even though it should be reporting a dangling pointer const eval error

[2018-03-23 07:28] LukasKalbertodt commented on #39658
Shouldn't this issue also track "removing of unstable `AsciiExt` methods"? Otherwise we might forget to remove those. Or was there already a PR doing that which I missed?

[2018-03-23 07:37] daboross commented on #34511
Since this is the last chance before FCP closes, I'd like to make one last argument against automatic auto traits. I realize this is a bit last minute, so at most I'd like to formally address this issue before we commit to the current implementation.

To clarify for anyone who hasn't been following `impl Trait`, this is the issue I'm presenting. A type represented by `impl X` types currently autom

[2018-03-23 08:14] nikomatsakis commented on #49287
In my opinion, we should accept `'_`, in-band lifetimes, and friends in where clauses as well. I'm not 100% sure whether this was controversial though, have to check.

[2018-03-23 08:18] glandium commented on #47493
FWIW, when looking at the llvm-ir emitted for unwrap_failed, with opt-level=0, I can see multiple `to label %somelabel unwind label %cleanup`, but there are none with opt-level=1. They seem to correspond to the assembly calling `_Unwind_Resume`.

[2018-03-23 08:32] michaelwoerister commented on #48910
`debuginfo-lines = true` in `config.toml` unfortunately is sufficient for triggering the bug. I have not found out what the problem is. I was able to reproduce it but couldn't reduce it to a minimal example. And for some reason this has turned from an error to a warning for me locally.

If you need a compiler with debuginfo, you can compile it up to the crash and then set both `debuginfo` and `deb

[2018-03-23 08:36] scottmcm commented on #41079
I started on a PR for this at https://github.com/rust-lang/rust/pull/49297; feedback and suggestions appreciated.

[2018-03-23 08:46] Centril commented on #34511
Expanding on @daboross review wrt. trait aliases, one could improve ergonomics of non-leaking auto traits like so:

[code]

This is not so bad -- you'd have to come up with a good name (which `FutureNSS` is not). The main benefit is that it reduces the paper cut incurred by repetition of the bounds.

[2018-03-23 08:49] SimonSapin commented on #39658
I don’t know how useful it is to track such features individually. We can occasionally do a pass on the entire standard library looking for items that are both unstable and have been deprecated for a while.

[2018-03-23 09:22] sanxiyn commented on #49280
Since both `librustc_trans` and `librustc_binaryen` link LLVM and others don't, this points LLVM build as a source of a problem.

[2018-03-23 09:31] rickyhan commented on #44265
Is anyone still working on this? It seems to me that this has a long way to go. GAT is my most desired RFC. If not, I'd love to contribute some tests...

[2018-03-23 09:35] michaelwoerister commented on #49113
This was probably MIRI related then. Thanks for the update, @sagiegurari!

[2018-03-23 09:35] #49113 closed

[2018-03-23 09:37] oli-obk commented on #48850
closing in favour of the more general https://github.com/rust-lang/rust/issues/49292

[2018-03-23 09:37] #48850 closed

[2018-03-23 09:44] rickyhan commented on #48285
The trait system is pretty broken on all fronts. I hope it gets overhauled completely when HKT comes along.

[2018-03-23 09:44] glandium commented on #48627
So, to see whether this had an impact on actual code, I tried with some work-in-progress code to replace https://dxr.mozilla.org/mozilla-central/source/memory/replace/logalloc/ which happened to be much slower when compiled with 1.24 compared to 1.23 (670ms vs 550ms to process 1.3M lines).

So I tried the nightly before and after #45225, and ... they both were fast. Which is a good news of some so

[2018-03-23 10:00] RalfJung commented on #27389
However, at least for non-LTO the missing inlining does incur some cost, e.g. the `MIN_ALIGN` optimization in <https://github.com/rust-lang/rust/blob/master/src/liballoc_jemalloc/lib.rs> would be more effective if the alignment would be known at compile-time, which it typically is if inlining happens.

[2018-03-23 10:19] SimonSapin commented on #49215
I think this only happens when I run `./x.py test` without a specific test suite. `bootstrap` is built once (if necessary) to run the build system, then built once again after tidy runs:

[code]

(It looks like this second build is done in order to run a grand total of… zero tests.)

As the log say (thanks for the invocation @Mark-Simulacrum), `RUSTFLAGS` has changed.

[code]

This shows `RUSTFLAG

[2018-03-23 10:36] eddyb opened #49298 "Uninhabited types are ZSTs despite partial initialization being allowed in safe code."
When we optimized product types with uninhabited fields to be ZST, partial initialization was overlooked, i.e. writes to the inhabited sibling fields are allowed despite missing in the layout.
Thankfully, it's impossible to read or borrow such fields, because the whole value must be initialized (although this may be relaxed in the future). However , the initialized fields are still dropped.

One w

[2018-03-23 10:43] abonander commented on #49270
What attributes should this search for? Built-ins only? Imported proc-macro attributes?

[2018-03-23 10:55] SimonSapin commented on #44490
Stabilization PR (with mention in docs for `Clone` and `Copy`): https://github.com/rust-lang/rust/pull/49299

[2018-03-23 10:56] joeschman commented on #49010
I now minimized the example. All the code is now in the repository without dependencies to crates that are outside the repository. Pittily a one-file reproducer was not possible. It seems that the bug only occurs when the code is called from another crate. I minimized the size of that crate to 20 lines of code. When the same code is run from an internal module, no segfault occurs.
Both (calling th

[2018-03-23 11:06] SimonSapin commented on #47037
This seems to be fixed now, presumably by #48076. Thanks!

[2018-03-23 11:06] #47037 closed

[2018-03-23 11:07] xfix commented on #49298
Also, this regression was introduced in Rust 1.24.0.

[2018-03-23 11:08] michaelwoerister opened #49300 "syntax_pos::symbol::Symbol::gensym() is incompatible with stable hashing."
The current scheme for "gensym"ing names via `Symbol::gensym()` is rather clever and elegant but unfortunately it defies being hashed in a stable way as is needed for incremental compilation. So far, incr. comp. has erroneously treated differing `Symbols` with equal string contents as being the same. Now situations are starting to arise where this leads to problems (https://github.com/rust-lang/ru

[2018-03-23 11:18] pinkisemils opened #49301 "Incremental compilation doesn't update static strings."
When changing a static string in a way that doesn't change it's length, `cargo build` won't rebuild the changed string.
For instance, if the binary has already been built, changing `hello` to `xxxxx` will result in a binary that still outputs `hello`.
[code]
If built with `CARGO_INCREMENTAL=0`, everything works as expected. If the length of the string is changed, everything also works as expected.

[2018-03-23 11:28] michaelwoerister commented on #49301
Thanks for the bug report, @pinkisemils!

[2018-03-23 11:33] eddyb commented on #49300
I generally consider `gensym` problematic and would prefer it if all hygiene was done through `Span`.
There are maybe a few non-hygiene uses but they should probably be done in other ways.

[2018-03-23 11:48] michaelwoerister commented on #49301
OK, I can reproduce on nightly. Cannot reproduce on beta though. Could this be MIRI related, @oli-obk? Are we hashing just an ID instead of contents somewhere?

[2018-03-23 11:59] plugwash commented on #49280
Removing the -march=native from src/binaryen/CMakeLists.txt seems to have resulted in a build with no armv7 contamination.

[2018-03-23 11:59] petrochenkov commented on #49300
We should investigate implementing gensym via `SyntaxContext` (which means via `Span` after #49154).
In theory, every situation when `symbol != gensym(symbol)` makes sense should include hygiene into comparison as well.
If "gensymness" is kept in `SyntaxContext` side tables somehow, then `symbol1 == symbol2` will always be equivalent to `string_content(symbol1) == string_content(symbol2)`, that lo

[2018-03-23 12:05] Mark-Simulacrum commented on #49215
We should just set those rustflags during the second build probably... If someone wants to make a PR, it should be in `src/bootstrap/test.rs`, under `impl Step for Bootstrap`.

[2018-03-23 12:08] oli-obk commented on #49301
Hashing for statics just hashes the `DefId`, yes. https://github.com/rust-lang/rust/blob/15add366faac554db51244d1e27e4d10a08ab6e8/src/librustc/ich/impls_ty.rs#L392

[2018-03-23 12:19] oli-obk commented on #49301
So... we can't use recursion, because of recursive statics (which is the entire reason for the DefId-hashing), but we could keep a `Vec` of the current recursion stack and hash a `0` instead of recursing into an already seen memory and a `1` before every other "recursion" (hashing of an alloc that we're referring to).

This means we need to manually hash the allocation instead of using a generated

[2018-03-23 12:34] kepstin commented on #49267
I've cross-compiled a nightly rustc from after the #48125 merge, and I've confirmed that the result is able to bootstrap nightly rustc on my i586 box. I'm gonna consider this issue fixed - looking forwards to the beta release.

[2018-03-23 12:34] #49267 closed

[2018-03-23 13:19] thefallenidealist commented on #49144
Also, removing ~/.cargo and ~/.rustup and reinstalling all has no effect, the same error message is reported.

[2018-03-23 13:22] Centril opened #49303 "Tracking issue for RFC 2300, "`Self` in type definitions""
This is a tracking issue for the RFC "`Self` in type definitions" (rust-lang/rfcs#2300).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabiliz

[2018-03-23 13:34] vi commented on #34511
What about requiring `Send` unless it is marked as `!Send`, but not providing `Sync` unless marked as Sync? Isn't Send supposed to be more common compared to Sync?

Like this:

[code]

[2018-03-23 13:54] Centril commented on #34511
Is there an inconsistency between `impl Trait` in argument position and return position wrt. auto traits?

[code]

This makes sense for argument position cause if you were allowed to assume Send here, you would get post monomorphization errors. Of course, the rules for return position and argument position are not required to coincide here, but it presents a problem in terms of learnability.

[2018-03-23 14:25] xfix opened #49307 "Confusing suggestion when trying to use procedural macro without use_extern_macros feature"
Example code

[code]

This suggests using `Deserialize` instead.

[code]

Trying to use `Deserialize` instead causes Rust to suggest using `Serialize` instead.

[2018-03-23 14:30] sinkuu opened #49309 "Rustdoc for `impl Trait` in argument position is broken"
[code]

Running rustdoc on this code generates the following documentation:

![](https://user-images.githubusercontent.com/7091080/37831646-a61413c6-2ee9-11e8-8ec2-a6137956d922.png)

[2018-03-23 14:34] ExpHP commented on #34511
Well, this *is* true for the [upcoming auto trait `Unpin`](https://github.com/rust-lang/rust/issues/49150) (only not-implmented for self-referential generators), but... that seems to be dumb luck? Is this a limitation we can really live with?  I can't believe that there won't be something in the future that would need to be disabled for e.g. `&mut` or `Rc`...

[2018-03-23 14:52] eddyb commented on #49206
If you can make the constant, and it's immutable, I'm not sure what you can do with it that's unsound - only unsafe code relying on it not being possible for one reason or another.

Rvalue promotion is like `const` with a reference in it, not like `static`. Actually, `static` itself could be relaxed too when interior mutability is not involved.

I'm tempted to close as "working as intended", unles

[2018-03-23 14:52] eddyb commented on #49206
cc @nikomatsakis

[2018-03-23 14:54] LukasKalbertodt commented on #39658
@SimonSapin Ah, I missed the fact that the unstable methods were also marked deprecated. That makes sense then!

[2018-03-23 14:55] shepmaster commented on #48854
I think this is the right mindset. I've always envisioned `?` in tests to be a shorthand for what is currently an `unwrap`/`expect`: "theoretically this can fail, but it shouldn't in this test".

[2018-03-23 14:59] rkruppe commented on #49206
It seems in pretty clear violation of the `Sync` contract.  While unsoundness seems unlikely in practice (you'd need a set up where the non-Sync values are used as "tokens" for something thread-local or thread-unsafe), at least in theory unsafe code should really be allowed to rely on non-`Sync` data being truly not shared across threads.

cc @RalfJung

[2018-03-23 16:03] marmistrz commented on #27189
Well, while working on lifetimed handles, I killed the build process after 10 minutes of printing errors.

[2018-03-23 16:24] michaelwoerister commented on #49301
@oli-obk sounds good. I think you don't even need to hash the 0s and 1s as disambiguators, simply not recursing into allocations that have already been visited should be enough. Also, I would just use a `already_visited` hash set for keeping tracking of where to recurse. That should scale better than a stack that would require linear search.
This additional state can be kept in the `StableHashingC

[2018-03-23 16:36] mtn opened #49310 "Compiler panic on nightly"
The input code wasn't valid -- I had incorrectly tried to source a type (Address, at the top of src/blockchain.rs) from the wrong module. Compiling with this error in the input code, the linked backtrace was produced. After sourcing from the correct namespace, the compiler no longer panics.

Not at all familiar with the rust source, and this might be expected or usual given I'm running nightly!

I

[2018-03-23 16:38] nikomatsakis commented on #49206
For better or worse (worse, I guess), [this also builds](https://play.rust-lang.org/?gist=35a4620568d9c9cd7f01a66f683dc03d&version=nightly):

[code]

[2018-03-23 16:39] oli-obk commented on #49301
Oh so we could recurse! That makes things easier. I'll try to get to it on Sunday, but we might still end up needing to backport to beta.

[2018-03-23 16:41] michaelwoerister commented on #49301
Probably, yes. But the fix should be small and self-contained, so that's fine.

[2018-03-23 17:03] nikomatsakis commented on #27779
(Note that I believe the plan is to remove placement new, whenever @aidanhs gets a chance to rebase https://github.com/rust-lang/rust/pull/48333)

[2018-03-23 17:04] nikomatsakis commented on #27779
Though that's a good one to remember for the future. Huh.

[2018-03-23 17:04] nikomatsakis commented on #27779
I suppose that the call to `uninitialized` is basically considered UB.

[2018-03-23 17:07] nikomatsakis commented on #49026
@Mark-Simulacrum does it run with incremental enabled or disabled?

[2018-03-23 17:14] nikomatsakis commented on #42640
Oh yeah, forgot about that. We should fix it.

[2018-03-23 17:21] nikomatsakis commented on #44265
@rickyhan so @Centril and @gavento were talking on [the WG-traits gitter](https://gitter.im/rust-lang/WG-traits) about divvying up the test work, but I don't know if any progress has been made. Maybe they can chime in. I think a PR would be welcome. =)

[2018-03-23 17:24] Mark-Simulacrum commented on #49026
Disabled, but we can change that without too much difficulty. Or do both. Incremental shouldn't really matter too much here I'd hope since it's a clean environment anyway (so it might slow it down)...

[2018-03-23 17:32] eddyb commented on #48627
My initial guess is that LLVM is very finicky and sensitive to our exact enum representation.
However, in the examples, this doesn't look like a dead code elimination bug, but rather failing to fold a load from a constant, which seems even more suspicious?

Can we get LLVM IR for the relevant example & version combinations?
Assembly doesn't tell much of a story, while the LLVM IR probably has an o

[2018-03-23 17:42] nikomatsakis commented on #49026
@Mark-Simulacrum I prefer disabled for now at least, makes it easier for us to measure the delta.

[2018-03-23 17:43] nikomatsakis commented on #49026
@Mark-Simulacrum I didn't see anything yet on perf.rust-lang.org though (not sure if I should expect to, or am looking at the wrong things)

[2018-03-23 17:50] nikomatsakis commented on #47879
Good news and bad news:

@mark-si

[2018-03-23 17:52] nikomatsakis commented on #47879
Good news:

The indomitable @Mark-Simulacrum has added a special "NLL mode" to http://perf.rust-lang.org/, so we can now visualize our performance very easily. The NLL point should be compared to "clean" -- the delta is the 'extra work' we are doing when NLL is enabled (note that NLL still runs the old region analysis and borrow check, so it does strictly more work).

Bad news:

We got out work cu

[2018-03-23 18:08] varkor commented on #34680
This has been fixed now that miri is being used for const evaluation.

[2018-03-23 18:08] #34680 closed

[2018-03-23 18:23] rpjohnst commented on #34511
I believe this has been discussed, and this is of course very late, but I'm still unsatisfied with `impl Trait` in argument position.

The abilities to both a) work with closures/futures by value, and b) treat some types as "outputs" and thus implementation details, are idiomatic and have been since before 1.0, because they *directly* support Rust's core values of performance, stability, and safet

[2018-03-23 18:25] pietroalbini commented on #49310
Duplicate of #49159. Thanks for reporting this!

[2018-03-23 18:25] #49310 closed

[2018-03-23 18:40] vorner commented on #34511
That feels very… arbitrary and ad-hoc. Maybe it's less typing, but more remembering and more chaos.

[2018-03-23 18:42] rpjohnst commented on #34511
Bike shed-y idea here so as not to distract from my points above: instead of `impl`, use `type`? That's the keyword used for associated types, it's likely (one of) the keyword(s) used for `abstract type`, it's still fairly natural, and it hints more at the idea of "output types for functions":

[code]

[2018-03-23 18:46] nikomatsakis commented on #34511
I appreciate the well authored objection. As you pointed out, auto traits have always been a deliberate choice to "expose" some implementation details that one might have expected to remain hidden. I think that -- thus far -- that choice has actually worked out quite well, but I confess that I am constantly nervous about it.

It seems to me that the important question is the extent to which functi

[2018-03-23 18:57] SimonSapin commented on #49215
#49311

[2018-03-23 19:00] nikomatsakis commented on #34511
@rpjohnst

Indeed, it has :) ever since the [first `impl Trait` RFC](https://github.com/rust-lang/rfcs/pull/105) lo these many years ago. (Woah, 2014. I feel old.)

I feel quite the opposite. To me, without `impl Trait` in argument position, `impl Trait` in return position stands out all the more. The unifying thread that I see is:

- `impl Trait` -- where it appears, it indicates that there will

[2018-03-23 19:02] nikomatsakis commented on #46197
I spent some time digging into this. The actual *source* of the ICE is drop-elaboration, but it is failing because the code *ought* to be in error. Indeed, running with `-Zborrowck=mir` correctly reports an error. However, the old AST-based borrow checker seems to failing to do so.

[2018-03-23 19:18] nikomatsakis commented on #34511
Let me add a bit more about auto trait leakage:

First off, ultimately I think that auto trait leakage is actually the right thing to do here, precisely because it is consistent with the rest of the language. Auto traits were -- as I said earlier -- always a gamble, but they seem to have been one that has basically paid off. I just don't see `impl Trait` being so very different.

But also, I am pr

[2018-03-23 19:32] rpjohnst commented on #34511
I'm not terribly invested in it either; it was an afterthought based on my impression that `impl Trait` in argument position seem to be motivated by "filling in holes" *syntactically* rather than *semantically*, which seems to be correct given your response. :)

Given the analogy to associated types, this comes across very much like "without `type T` in argument position, associated types stand ou

[2018-03-23 19:42] Centril commented on #34511
@nikomatsakis

It seems to me that we should err on the side of being conservative then? Can we gain more confidence in the design with more time (by letting auto trait leakage be under a separate feature gate and only in nightly)? We can always add support for auto trait leakage later on if we don't leak now..

Understandable! However, and as I'm sure you have considered, the decisions here will

[2018-03-23 19:47] leodasvacas commented on #27745
Unfortunate timing, considering a new syntax will be introduced for them. This would otherwise be a good opportunity to introduce small breaking changes to behavior. But I guess that's off topic here.

[2018-03-23 19:51] leodasvacas commented on #49218
I wonder if by stabilizing the new syntax with the exact same semantics as the old one we are not missing an opportunity to make small semantic changes without breaking existing code? I don't have any such changes in mind, it's just a thought.

[2018-03-23 19:56] aturon commented on #34511
Like @nikomatsakis, I really appreciate the care taken in these last-minute comments; I know that it can feel like trying to throw yourself in front of a freight train, especially for a feature as long desired as this one!

---

@daboross, I wanted to drill into the opt-out idea a bit more. At first blush it seems promising, because it would allow us to fully state the signature, but with defaults

[2018-03-23 20:05] JustAPerson commented on #46588
looking forward to this being stabilized :) `read_as_string` seems good

[2018-03-23 21:09] cramertj commented on #34511
Thanks to everyone for their detailed comments! I'm really super excited to finally ship `impl Trait` on stable, so I'm heavily biased towards the current implementation and the design decisions that led up to it. That said, I'll try my best to respond as impartially as possible and consider things as if we were starting from square zero:

## `auto Trait` Leakage

The idea of `auto Trait` leakage

[2018-03-23 21:17] rpjohnst commented on #34511
@Centril

Yes, that is what I meant.

@aturon

You're right, apologies for that. I believe I made my point better elsewhere.

With support for `impl Trait` in argument position, you can write this function in two ways:

[code]

The choice of form determines whether the API consumer can even *write down* the name of any particular instantiation (e.g. to take its address). The `impl Trait` variant d

[2018-03-23 21:25] rpjohnst commented on #34511
@cramertj As far as the function signature redundancy goes... could we get rid of it some other way? In-band lifetimes were able to get away without backreferences; perhaps we could do "in-band type parameters" somehow. Or in other words, "the change is just as general and intended to be applied universally."

[2018-03-23 21:28] Centril commented on #34511
@rpjohnst

Not necessarily, with https://github.com/rust-lang/rfcs/pull/2176 you could add an extra type parameter `T: Trait` to the end and turbofish would still work (unless you are referring to breakage by some other means than turbofish-breakage).

[2018-03-23 21:41] alexcrichton commented on #47074
I've opened a PR for this at https://github.com/rust-lang/rust/pull/49316

[2018-03-23 21:41] #27730 closed

[2018-03-23 21:41] #47457 closed

[2018-03-23 21:42] #49208 closed

[2018-03-23 21:42] #48238 closed

[2018-03-23 21:48] SimonSapin commented on #27730
Tracking issue for the new `num::NonZero*` types: https://github.com/rust-lang/rust/issues/49137

[2018-03-23 22:10] nikomatsakis commented on #34511
Also, I think you mean that moving **from** the `<T>` syntax is a breaking change (because callers can no longer specify the value of `T` explicitly using turbofish).

[2018-03-23 22:15] glandium commented on #48627
LLVR IR for both the testcase here and the one in #48253, with nightly-2017-11-20:
https://gist.github.com/glandium/a73d38ae357154b194ec5eb9a4354730

with nightly-2017-11-21:
https://gist.github.com/glandium/7f0212770208d3a4105a7e275a10df2d

Those testcases don't seem to have been affected by #46623, so I'll try to reduce something from my code that got 20% slower.

[2018-03-23 22:17] lfairy commented on #34511
@nikomatsakis Moving **to** the explicit syntax can be a breaking change as well, if the old signature had a mixture of explicit type parameters and implicit ones -- anyone who provided `n` type parameters will now need to provide `n + 1` instead. That was one of the cases @Centril's RFC aimed to solve.

[2018-03-23 22:25] SimonSapin commented on #49137
The implementation https://github.com/rust-lang/rust/pull/48265 has landed, it should reach Nightly in a few hours.

[2018-03-23 22:59] rpjohnst commented on #34511
This technically reduces the number of breaking cases, but on the other hand it increases the number of cases where you can't name a specific instantiation. :(

[2018-03-23 23:14] Centril commented on #49137
@SimonSapin how do you feel about @scottmcm's note that we should:

[2018-03-23 23:27] Centril commented on #49137
@SimonSapin

👍

[2018-03-23 23:56] glandium commented on #48627
Here's a reduced example that is not affected by #45225 but is by #46623:
[code]

150ms with nightly-2017-12-15 vs 260ms with nightly-2017-12-16. Note that the inline(never) and the stupid loop in main are there to ensure the compiler doesn't eliminate dead code, and to reduce the IR size. Using a loop that generates random or sequential numbers to parse, with no inline(never) shows a perf differe

[2018-03-24 00:28] cuviper commented on #49280
If binaryen was the only problem, note that it's been removed in #48125.  So I guess the remaining question is whether we need to fix this on the beta branch, just for 1.25.

Also FWIW, the binaryen code will only execute if you target `wasm32-unknown-unknown`.

[2018-03-24 01:01] lfairy opened #49319 "`std_unicode::char::decode_utf16` should be in `core`"
The [`decode_utf16`](https://doc.rust-lang.org/std_unicode/char/fn.decode_utf16.html) function currently lives in the `std_unicode` crate. But, as far as I can tell, this function doesn't depend on any Unicode tables and has no reason to be in this crate.

I suggest moving this function (and its associated iterator) into the `core` crate. This will allow for decoding UTF-16 text under `#![no_std]`

[2018-03-24 01:05] termhn commented on #49010
Alright so I was testing on my Windows machine and confirmed the same behavior as @joeschman has on mac. I also pinpointed that it is *fixed* in `nightly-2018-03-03` and later, but broken in `nightly-2018-03-02` and earlier.

[2018-03-24 01:05] matthiaskrgr commented on #49181
@oli-obk  weird, I am still getting the panic with todays nightly ````rustc 1.26.0-nightly (c08480fce 2018-03-23)```` :(

[2018-03-24 01:17] glandium commented on #48627
And just in case, the LLVM IR with rustc built from the commit just before the merge of #46623, which is only trivially different from that of nightly-2017-12-15:
https://gist.github.com/glandium/45b90fe55e546edec1b5a9a452aba0aa
AFAICT, nightly-2017-12-16 was built from the merge of #46623, not a subsequent commit.

[2018-03-24 01:19] lfairy commented on #27830
Is there any reason that these items are defined in `std_unicode` and not `core`?

I was investigating #49319 and ended up here.

[2018-03-24 01:28] SimonSapin commented on #49319
I agree that there is no reason for this not to be in libcore. Feel free to submit a PR and ping me for review.

More generally I wonder if we can rely of various platforms’ linkers to remove unused tables, and if so if there’s any reason to keep `std_unicode` from `core` at all. But that doesn’t need to block moving `decode_utf16` specifically.

[2018-03-24 01:35] mark-i-m commented on #44113
Started working on this... It's very WIP at the moment, though. If anyone has feedback, let me know.

[2018-03-24 02:08] #49215 closed

[2018-03-24 02:18] scottmcm commented on #49282
Hmm, it looks like that type is pretty large (https://github.com/jdm/servo/blob/layoutstuff/components/layout/inline.rs#L221-L245) so will be hitting the simd path in swap (https://github.com/rust-lang/rust/blob/master/src/libcore/ptr.rs#L194-L227) that's currently disabled on some other platforms, so I wonder if the bug's in there somewhere...

[2018-03-24 02:42] scottmcm commented on #41079
[Amanieu and sunfishcode commented](https://github.com/rust-lang/rust/pull/49297#discussion_r176697574) that doing `fn(*const _, *const _) -> isize` needs a subtraction that doesn't fit with any of the "does not overflow" flags available for LLVM `sub` (like the GEP rules are specific to it, and not available on a normal `add` instruction).

As such, should this API change form to something where

[2018-03-24 03:06] Amanieu commented on #41079
Keep in mind that `std::distance` and pointer subtraction in C++ both return a signed value. This is one of the reasons why I proposed making `offset_to` return a signed value.

LLVM IR generated by Clang is just a `sub` (without `nsw`/`nuw`) and a `sdiv exact`, so we currently don't lose anything compared to C.

I considered the name `distance`, however I'm not a big fan of it because the name so

[2018-03-24 04:02] aloucks opened #49322 "Compile errors are no longer colorized"
Previously, the line numbers were in cyan and error codes and error underlines were in red.

Possibly related: https://github.com/rust-lang/rust/pull/48588

![image](https://user-images.githubusercontent.com/221559/37860135-c5777f12-2ef5-11e8-8b45-7f8607123b99.png)

[2018-03-24 06:02] retep998 commented on #49322
cc @alexcrichton who wrote the likely offending PR.

[2018-03-24 06:15] Michael-F-Bryan commented on #47391
@GuillaumeGomez, it looks like you were right. In the meantime I've made a PR to `rust-zmq` so it doesn't trigger this ICE (erickt/rust-zmq#214).

@saibatizoku I'm not sure whether the `rust-zmq` repo is being actively maintained, so if you want docs you can override which `zmq-sys` is used in your `Cargo.toml`.

[code]

[2018-03-24 06:49] oli-obk commented on #49181
Same backtrace? We do have a regression test for this exact issue

[2018-03-24 07:01] daboross commented on #34511
@nikomatsakis

Thank you for addressing this concern sincerely.

I'm still hesitant to say auto trait leaking is _the right_ solution, but I agree that we can't really know what's best until after the fact.

I'd mainly considered the Futures use case, but that's hardly the only one. Without leaking Send/Sync from local types, there isn't really a good story for using `impl Trait` in many different

[2018-03-24 08:01] matthiaskrgr commented on #49181
Yeah, backtrace is identical except for the rustc version string in the ICE notes. :/

[2018-03-24 10:00] crumblingstatue opened #49323 "Intra rustdoc links don't work with associated consts"
[code]

Renders as:
![](https://i.imgur.com/W5SBsea.png)

`rustdoc 1.26.0-nightly (c08480fce 2018-03-23)`

Ref #43466

[2018-03-24 10:14] canarysnort01 commented on #48884
nm, I think I was able to reproduce this. I don't see -no-pie documented for ld so I think that is the problem. I'll work on a fix.

[2018-03-24 10:20] SimonSapin commented on #49137
Deprecation of NonZeroI* https://github.com/rust-lang/rust/pull/49324

Support for NonZeroU* in serde: https://github.com/serde-rs/serde/pull/1191

[2018-03-24 10:29] SimonSapin commented on #35121
Too bad we can’t add `impl<T> From<!> for T` now. (It overlaps with `From<T> for T`, unless something something specialization?) We probably can’t add it later. (In release cycles after `!` has been stabilized, some crate might implement `From<!> for SomeConcreteType`.)

[2018-03-24 10:45] nikomatsakis commented on #34511
@lfairy

That is not presently allowed. If you use `impl Trait`, you don't get turbofish for any parameters (as I noted). This is not intended as a long-term solution though, more of a conservative step to dodge disagreement on how to proceed until we have time to come up with a rounded design. (And, as @rpjohnst noted, it [has its own downsides](https://github.com/rust-lang/rust/issues/34511#issu

[2018-03-24 10:50] Centril commented on #34511
@lfairy

Incidentally, it was actually @nikomatsakis who brought it to my intention that partial turbofish could ease the breaks between `<T: Trait>` and `impl Trait` ;) It was not a goal of the RFC at all from the start, but it was a nice surprise. 😄

Hopefully, once we gain more confidence around inference, defaults, named parameters, etc. we can have partial turbofish as well, Eventually™.

[2018-03-24 11:00] abonander commented on #44750
Some discussion concerning this bug has popped up on Reddit: https://www.reddit.com/r/rust/comments/85he4j/hey_rustaceans_got_an_easy_question_ask_here/dw6b71d/

[2018-03-24 11:13] Ericson2314 commented on #35121
@SimonSapin good point! This is very useful building block for many things, and I'd hate to loose it for ever. I'd seriously consider a one-off hack to allow both instances. They coincide semantically in the overlapping case, so there's no "operational incoherence".

[2018-03-24 13:33] bjorn3 opened #49327 "Rustc creates invalid mir for core::cell::BorrowRef::new"
Repro (copy of necessary parts of libcore/cell.rs): https://play.rust-lang.org/?gist=41cc5138c7765666a646bbcb09748ff3&version=stable

Notice the second statement in bb1: `_4 = discriminant(_2);` _2 is of type `usize` on which you are not allowed to the discriminant. `_4` isn't used anywhere. This has been detected while fixing miri.

cc @solson @oli-obk

[code]

[2018-03-24 13:41] SimonSapin commented on #35121
Then that hack needs to land in the next few days. (Or be backported during beta.)

[2018-03-24 13:49] bjorn3 commented on #49327
Found another instance inside the closure of std::sys_common::cleanup

[2018-03-24 13:53] davidtwco commented on #47184
With #48482 merged, there are some things that were not covered in that PR.

https://github.com/rust-lang/rust/blob/4161ae747740e9d61426d26da3e9f3f74fbabaca/src/librustc_mir/build/block.rs#L128-L135

- [ ] The current implementation does not handle patterns that are not bindings, such as `let (a, b): (u32, u32) = (84, 29);`.

https://github.com/rust-lang/rust/blob/4161ae747740e9d61426d26da3e9f3f74

[2018-03-24 14:10] telboon opened #49330 "Long Compile Time (with Optimization) with Large Arrays (2-3 hours)"
## Summary

I have gotten very long compile time (2 hrs plus)
[nolib.zip](https://github.com/rust-lang/rust/files/1844457/nolib.zip)
 when I tried to compile a code that has a large array inbuilt in the code when I turn optimization on. When the code is compiled without optimization, it has a acceptable compile time (10+ seconds).

The array contains 130,000 + strs.

## Details

I tried this code:

[2018-03-24 14:19] canndrew commented on #35121
@SimonSapin How quickly/easily could such a hack be added? It would really suck to never be able to have `From<!> for T`.

Alternatively, we could quickly throw on a warning against implementing `From<!> for SomeConcreteType`.

[2018-03-24 14:41] Lymia opened #49331 "rustdoc exposes private use rebindings in the signature of public functions."
Rust will document the `test` function the following code as taking a `ThisIsTotallyNotAnOption<String>` rather than a `Option<String>`. This is confusing at first glance because without looking at the source or actually following the link, there is no indication as to what the type actually is.

[code]

[2018-03-24 14:43] matthiaskrgr commented on #49330
Seems llvm is bottlenecking here

[code]

[2018-03-24 15:40] kennytm opened #49334 "rustdoc: The short description of #[doc(cfg(target_feature = ...))] shouldn't spell out "target feature""
* Repro: https://doc.rust-lang.org/nightly/core/arch/x86_64/index.html
* Discussion: https://twitter.com/QuietMisdreavus/status/977567670131359744

![The words "target feature" are redundant](https://user-images.githubusercontent.com/103023/37865771-4b57bff4-2fbc-11e8-9432-5354f1a92113.png)

rustdoc's short description of `#[doc(cfg(target_feature = ...))]` is showing something like \[x86-64 and t

[2018-03-24 16:33] bjorn3 commented on #49327
Seems to be at every match

[2018-03-24 16:34] Glazzerino commented on #48650
For some reason it works perfectly fine when the guessing_game is cargo-ed outside of my onedrive directory

[2018-03-24 16:50] SimonSapin commented on #35121
I don’t know, depends what the hack is. I think trait specialization can enable two overlapping impls if there’s a third for the intersection, but does that requires the trait to be publicly “specializable”?

[2018-03-24 16:58] alexcrichton commented on #49322
Thanks for the report @aloucks! This is almost for sure due to https://github.com/rust-lang/rust/pull/48588

The interesting part here is that it looks like rustc is detecting that it should use colors because somet of the messages look bold. It looks, though, like there may be a bug in how rustc is colorizing things as the wrong colors are coming out!

To confirm, @aloucks are you using `cmd.exe`

[2018-03-24 17:13] bheisler opened #49336 "Possible miscompilation in >= 1.24.0"
A user reported this to Criterion.rs - https://github.com/japaric/criterion.rs/issues/133

The short version is this - when the user's test crate's benchmarks are run on 1.24.0 or newer, Criterion.rs calculates some values incorrectly even though the code looks correct to me. They claim to have reproduced this behavior on Arch Linux, Windows and Raspbian. I have only been able to confirm it on Win

[2018-03-24 17:52] matthiaskrgr commented on #49330
Ok, it only needed 3.5 hours to compiler on a single core!

timing information
[code]

[2018-03-24 18:06] est31 commented on #49336
Manual bisection log using rustup:

good rustc 1.24.0-nightly (edbd7d232 2017-12-20)
bad rustc 1.25.0-nightly (73ac5d6a8 2018-01-11)
bad rustc 1.24.0-nightly (9389e23a8 2017-12-31)
good rustc 1.24.0-nightly (c284f8807 2017-12-24)
bad rustc 1.24.0-nightly (1abeb436d 2017-12-27) (nightly-2017-12-28 for rustup)
good rustc 1.24.0-nightly (cddc4a62d 2017-12-26) (nightly-2017-12-27 for rustup)

So the c

[2018-03-24 18:12] bluss commented on #49330
If you come across this issue and just wonder how to work around it, one can use slices instead of arrays for this code.

The diff for the reproducing code is like this, and then it compiles reasonably quickly (20 seconds) in release mode:

[code]

The original code was using very arrays, while using a static literal slice works just as well for the use case.

[2018-03-24 18:36] aloucks commented on #49322
@alexcrichton - Yes, the screen shot is using `cmd.exe`. I first noticed it from VSCode with the embedded powershell terminal. I noticed it was showing bold too. It is strange that it detects that it *should* use color, but doesn't apply it correctly.

[2018-03-24 18:39] mtak- commented on #49137
Sorry, I missed the RFC on this.

I implement `Zeroable` on a few structs that are defined like this `struct A(usize)`. Sometimes I would stick an `A` in a `NonZero` and sometimes I wouldn't depending on the context. `A` has some invariants it maintains. Is the recommended solution, in light of the deprecation, to have two different types with the same interface? `A` and `ANonZero` - mirroring the

[2018-03-24 18:50] SimonSapin commented on #49137
Although it probably happened to work out in this specific case (struct with a single field that is a primitive `Zeroable`) I don’t know if implementing `Zeroable` for other types was ever officially well-defined.

I’d recommend either `A` + `ANonZero` as you said, or a generic `A` with a trait that you implement for both `usize` and `NonZeroUsize`.

[2018-03-24 18:53] chisophugis opened #49339 "rustdoc `[src]` link for std::fmt is not very helpful"
When I click the master `[src]` link at https://doc.rust-lang.org/std/fmt/ I get taken to https://doc.rust-lang.org/src/alloc/lib.rs.html#178 which is a bit surprising.

I would have expected to be taken to something like https://doc.rust-lang.org/src/alloc/fmt.rs.html#11-567 which is the destination of the `[src]` link at https://doc.rust-lang.org/alloc/fmt/index.html

[2018-03-24 18:53] SimonSapin commented on #35121
Unfortunately, specialization:

* Would require `From::from` to be changed to a `default fn`, which would be “visible” outside of std. I don’t know if we want to do that in std traits as long as specialization is unstable.
* As accepted in RFC 1210, specifically does not support the language feature I was thinking of (disambiguating two overlapping impls where neither is more specific than the oth

[2018-03-24 19:11] Zoxc commented on #47381
I've been seeing this on https://github.com/Zoxc/rust/tree/run-fast-ice with `x.py test src/test/run-pass`

[2018-03-24 19:19] est31 commented on #49336
As @kennytm rightfully pointed out, this lies within the 90 day limit. So we can in fact compare single commits!

Further bisection gives me:

bad 71ed31f24
good e8098c5c4
good 3fd27b271

So the change is caused by 3fd27b2718438ceec6243869cde3edde7e5a904e...71ed31f24054863b807f68f244c6828ce6d2e516 , PR #47007 by @eddyb . cc @rust-lang/compiler

[2018-03-24 19:25] eddyb commented on #49336
Usually I only see a performance impact from some changes. Is there `unsafe` code involved? My fix could've let LLVM optimize some cases it never did before, which might break `unsafe` code.

[2018-03-24 19:29] oli-obk commented on #49330
The array was not const promoted I presume, while the slice is. Thus LLVM is trying to cope with a gigantic stack allocation.

[2018-03-24 20:47] bluss commented on #42034
Thanks @Phlosioneer, this issue is resolved. The possible panic was documented in #43563.

[2018-03-24 20:47] #42034 closed

[2018-03-24 21:02] vitiral opened #49342 "Windows: success of canonicalizing r"\" depends on whether set_current_dir has been called"
# Problem: sometimes `Path::new(r"\").canonicalize() fails

Note: apparently this isn't _necessarily_ [against the spec](https://stackoverflow.com/a/151875/1036670) (a better link to the windows spec would be nice)

Regardless of whether it is against the spec or not, I think basing the "root location" off of the `current_dir` is a best practice.

# Full Report
I hit this problem during one of my

[2018-03-24 21:11] pjhanzlik opened #49343 "The Rust Programming Language book doesn't clarify OS dependencies"
Just tried to compile the Hello World example using ArchLinuxARM and got an "OS error 2" message basically saying Rust couldn't find g++ or clang++.  Turns out, of course, I didn't have either installed which is easy enough to fix, but I think the install section of The Rust Programming Language could be improved if the book listed OS dependencies not installed with "$ curl https://sh.rustup.rs -s

[2018-03-24 21:20] ExpHP commented on #49298
To pile on the scary labels, that also makes this a regression from stable to stable!

[2018-03-24 21:28] #48345 closed

[2018-03-24 21:28] #40895 closed

[2018-03-24 21:28] #47787 closed

[2018-03-24 21:28] #48739 closed

[2018-03-24 21:28] #49257 closed

[2018-03-24 21:28] #49263 closed

[2018-03-24 21:40] SimonSapin commented on #44490
#49299 is merged, I think this is it. Let me know if I forgot something relevant to this tracking issue.

[2018-03-24 21:40] #44490 closed

[2018-03-24 21:43] bheisler commented on #49336
There is unsafe code elsewhere in Criterion.rs, yes. Not in this part of the code though.

[2018-03-24 22:02] ExpHP commented on #45594
To be clear, this is stabilizing before the `Try` trait?

This completely slipped by me even though I desperately wish for it all the time, as I never would've figured that functions involving Try would be receiving stabilization yet.  I hope we've gained enough experience using these to validate their utility?

[2018-03-24 22:24] Eh2406 commented on #44663
Would Rust2018 be a good opportunity to make the braking changes to `Cargo.toml`?

[2018-03-24 22:33] bsteinb opened #49344 "Regression in interaction between lifetime parameter and defaulted type parameter"
The [`mpi` crate](https://github.com/bsteinb/rsmpi) contains (approximately) the following code that used to work before nightly-2018-03-02:

[code]

The newest nightly compiler that successfully compiles this is:

[code]

It no longer compiles on:

[code]

Was this not supposed to ever work or is this a regression?

[2018-03-24 22:46] davidtwco commented on #44109
I've submitted a PR, #49345, that aims to address the finishing touches.

[2018-03-24 22:46] shepmaster commented on #25647
This is still a problem in the Rust 1.26 nightly.

[2018-03-24 22:48] davidtwco commented on #29893
Re-opening as this still depends on this rust-lang/rust-central-station#40 to land.

[2018-03-24 23:58] Diggsey opened #49347 "Tracking issue for {HashMap, BTreeMap}::get_key_value stabilization"
Implemented in #49346

[2018-03-25 00:45] Badel2 commented on #47811
I'm closing this since you can just `#![deny(unreachable_patterns)]`, however making the "binding is the same as a variant" lint deny-by-default looks like a good idea, maybe we can do it on the next edition?

[2018-03-25 00:45] #47811 closed

[2018-03-25 03:25] scottmcm commented on #45594
Yes, this is stabilizing before the `Try` trait.

That doesn't scare me on the flexibility side because, no matter how the `Try` trait changes, they have the same needs as `?` and `catch`: get the value with which to continue, and turn that back into the fallible type.

On the consumption side, I'm not worried because this is basically the same as itertools's [`fold_results`](https://docs.rs/itert

[2018-03-25 05:24] Phlosioneer opened #49352 "Stage 1 test failure on master branch"
I'm getting a test failure for `ui-fulldeps/proc-macro/load-panic.rs` on my local machine:

[code]

I'm running on the linux subsystem for windows, which is:
[code]
I have never had any issues compiling before. (`DevWindows` is my computer's name)

I'm running the tests using the command:
[code]

[2018-03-25 06:45] daboross opened #49354 "NLL breaks functions with intermingled lifetimes in return type when returned value is a (non-borrowed) associated type"
Code which returns this kind of complicated expression involving two different lifetimes compiles under normal compilation conditions, but fails with `#![feature(nll)]`.

Minified example (courtesy of @matthewjasper).

[code]

working playground: https://play.rust-lang.org/?gist=5f08095fda551daa89fadf0b8566989e&version=nightly
broken playground: https://play.rust-lang.org/?gist=a5d0d7619f610d94fe3

[2018-03-25 07:18] scottmcm commented on #41414
I'm going to take a stab at this.  `FIXME`-laden progress so far: https://github.com/rust-lang/rust/compare/master...scottmcm:catch-wrapping

[2018-03-25 07:21] ishitatsuyuki opened #49355 "Tracking issue for implementing stack probe correctly"
Stack guards are hard because it's different on every platform. [OpenJDK](https://github.com/dmlloyd/openjdk/search?utf8=%E2%9C%93&q=current_stack_base&type=) has a few kLOCs dedicated to correctly probing stack. Our detection is far from perfect, and we probably can use JVM's code as a reference documentation for all the Unixes.

Issues on widely used platforms:

- [ ] [Linux musl](https://github

[2018-03-25 07:27] retep998 commented on #49342
Personally I'd argue that we shouldn't try to "fix" the behavior from the OS with regards to canonicalization. It works as intended, which is to open a file or folder and then ask the OS what the canonical path to it is.

What you might actually want is to simply call `GetFullPathNameW` which has additional benefits in that it is able to handle drive relative paths such as `C:foo`. Win32 respects

[2018-03-25 07:29] SimonSapin commented on #44663
Maybe. Though such changes should be designed and proposed soon, have an easy migration path, and preferably only affect a minority of existing crates.

[2018-03-25 07:34] scottmcm opened #49356 "Trait "constructor" methods don't get coercions?"
Working on #41414, I found [this error](https://play.rust-lang.org/?gist=0e82ff6c3213d770794f586e40e62d2b&version=nightly) that surprised me:
[code]
I'd expected that it'd work, since the trait method is `-> Self`, and the result of the block is fully constrained, and writing it this way of course works:
[code]

Of course, this may well just be a normal "mixing coercions and inference is annoying"

[2018-03-25 07:54] xfix commented on #48890
This can be reproduced with simpler code.

[code]

[2018-03-25 07:54] ishitatsuyuki commented on #43347
We can probably use this code as reference:

https://github.com/dmlloyd/openjdk/blob/2f680fec58a8ffb818a48f542e493306d1113c69/src/hotspot/os_cpu/bsd_x86/os_bsd_x86.cpp#L902-L961

[2018-03-25 07:58] scottmcm commented on #43301
I'm concerned that this is now stabilized but simple cases apparently still ICE: https://github.com/rust-lang/rust/issues/48890#issuecomment-375952342
[code]
[code]
https://play.rust-lang.org/?gist=fe6ae28c67e7d3195a3731839d4aac84&version=nightly

[2018-03-25 08:05] scottmcm commented on #48854
That sounds great, @nikomatsakis; it resolves all my concerns about `#[should_panic]`.

And it allows the great "replace `.unwrap()` with `?`" crusade to continue :slightly_smiling_face: I added unit tests as another place a "whatever, I just want to use `?`" type would be nice (https://github.com/rust-lang/rfcs/issues/2367).

[2018-03-25 08:14] matthewjasper commented on #49354
Minified.

[code]

[2018-03-25 09:37] solson commented on #49327
cc @eddyb

This is fallout from https://github.com/rust-lang/rust/pull/48092, which invalidates [this assumption](https://github.com/rust-lang/rust/blob/482a913fb337855072a53c0d602cd19947f45285/src/librustc_mir/interpret/eval_context.rs#L758).

[2018-03-25 09:56] solson commented on #49327
Translation is more general and was already able to handle this, I believe: https://github.com/rust-lang/rust/blob/482a913fb337855072a53c0d602cd19947f45285/src/librustc_trans/mir/place.rs#L264

[2018-03-25 10:55] rkruppe commented on #49352
This is a proc macro test so it's expected that it doesn't work on stage1 right now. #49219 should fix that.

[2018-03-25 12:10] oli-obk commented on #49352
It should still be marked //ignore-stage1

[2018-03-25 12:27] steveklabnik commented on #49343
Hi there! thanks for caring about the book.

The correct repo to file issues against is https://github.com/rust-lang/book, rather than this one. So, normally I'd ask to you re-file over there. However, in this case, we've recently changed the introduction to add some text about this:

https://doc.rust-lang.org/nightly/book/second-edition/ch01-01-installation.html

Thanks!

[2018-03-25 12:27] #49343 closed

[2018-03-25 13:47] Gilnaa opened #49359 "Tracking issue for libtest JSON output"
Added in https://github.com/rust-lang/rust/pull/46450
Available in nightly behind a `-Z` flag.

[2018-03-25 14:42] pjhanzlik commented on #49343
That's awesome, thanks Steve!

[2018-03-25 16:44] stokhos opened #49361 "Confusing suggestion when if is missing in else if"
[code]
The error here is if is missing in else if

but compiler reports: error:

[code]

[2018-03-25 16:53] vitiral commented on #49342
Thanks for the advice! I won't argue with what the rust core team feels is the right behavior. I agree that doing workarounds of poor OS design is not ideal, but sometimes that's what you would expect a standard library to do so _shrug_.

Do you mean `C:/foo` instead of `C:foo`?

[2018-03-25 16:56] vitiral commented on #49342
Thanks for the advice! I won't argue with what the rust core team feels is the right behavior. I agree that doing workarounds of poor OS design is not ideal, but sometimes that's what you would expect a standard library to do so _shrug_.

Do you mean `C:/foo` instead of `C:foo`?

[2018-03-25 16:59] cynecx opened #49362 "ICE: Region parameter out of range when substituting in region..."
[code]

[code]

[Rust playground](https://play.rust-lang.org/?gist=755945d9d30e59068194aebe6b9fdf3a&version=nightly&mode=debug)

Probably related: https://github.com/rust-lang/rust/issues/47309

I can reproduce this with `rustc 1.26.0-nightly (f5631d9ac 2018-03-24)`.

[2018-03-25 17:05] krk opened #49363 "gcc internal error breaks Windows build"
@ 482a913fb337855072a53c0d602cd19947f45285

[code]

[code]

[2018-03-25 17:30] fschutt commented on #45599
It would be great if a `#[cfg(doctest)]` was added or `#[cfg(test)]` would work for doc tests. The workaround is simply annoying. I stumbled on this because I wanted to create a mock rendering function that is only available in doc-tests.

[2018-03-25 17:31] mattico commented on #49078
I also have this issue. I'd bet the cause is the same as https://github.com/rust-lang/rust/issues/48272, the version of crt2.o included with the `-gnu` target isn't the same as the one installed by MSYS2. When I switched to using the `gnu` compiler rather than the `gnu` target of an `msvc` compiler, it worked fine. Perhaps there's something different there?

[2018-03-25 17:52] retep998 commented on #49342
No, I mean `C:foo` which is relative to the current directory **for that drive**. If the current directory is `C:\bar` for example, then `C:foo` resolves to `C:\bar\foo`, whereas if the current directory is `D:\bar`, then you're gonna have a difficult time telling what `C:foo` resolves to unless you use `GetPathNameW`.

[2018-03-25 19:05] DustinByfuglien commented on #29488
Bug is critical as rust is panic. I think the `I-ICE` label must be added.
But I have no privilegies for this.
Can someone add `I-ICE` please?

[2018-03-25 20:45] DustinByfuglien commented on #29488
Thanks.
It seems this issue is related to [another old one](https://github.com/rust-lang/rust/issues/28129#issue-104099188).

[2018-03-25 20:48] RalfJung commented on #49206
Yeah I think this is a problem.

I imagine some (rather silly) pseudo-code like this, based on @rkruppe's idea of using `Foo` as a "token":
[code]

Given that `Foo` is non-`Sync`, which guarantees that all pointers to the same `&Foo` live in the same thread, I think unsafe code should be allowed to rely (for UB) on the fact that the event list will never, ever contain something like `(a, Acquire)

[2018-03-25 20:51] matthewjasper commented on #49362
Generic associated types aren't implemented past syntax yet, so this is probably expected. cc #44265

[2018-03-25 20:58] matthewjasper opened #49365 "Where clauses on associated types aren't feature gated"
`where` clauses on associated types don't work yet so should be feature gated, presumably with `feature(generic_associated_types)`. cc #44265. Happens on versions >= 1.24

[code]

[2018-03-25 21:05] Phlosioneer commented on #49352
I'm guessing `run-pass-fulldeps/compiler-calls.rs` and `run-pass-fulldeps/proc-macro/span-api-tests.rs` should be ignored too. I've added them to a PR.

I'm now getting an error for `double_bind()` in `src/libstd/net/tcp.rs:1199`. It's panicking because a double-bind is allowed?

There's no associated error message, it's just a raw `panic!()`.

Again, same test command; just a vanilla stage-1 test

[2018-03-25 21:12] Phlosioneer commented on #49352
`double_bind()` is also failing with stage 2 (`./x.py test`). I'm going to make a new issue for it.

[2018-03-25 21:18] Phlosioneer opened #49367 "Stage 2 test failure on master branch; windows linux subsystem"
[code]

I've never had issues doing a full compile and test of rust before. The windows linux subsystem should be equivalent to ubuntu for *most* intents and purposes, as far as I know.

Here's my version:
[code]

This technically isn't on master branch; but the only difference between master and my current working branch is a few ignored tests (#49366 ):
[code]

    The number of lanes between th

[2018-03-25 21:54] Phlosioneer commented on #20574
Should this be re-opened @nikomatsakis ? The type system can now handle `!` as a proper type, so the closure should get the `!` return type correctly now, and the lint should be able to handle that... We still have an ignored test about it: https://github.com/rust-lang/rust/blob/b1363a73ede57ae595f3a1be2bb75d308ba4f7f6/src/test/compile-fail/dead-code-closure-bang.rs#L13-L19

[2018-03-25 22:07] Phlosioneer commented on #49367
Can confirm that this still happens on master branch as-is, and with the newest commits.

[2018-03-25 22:09] Michael0x2a commented on #48700
I also ran into what seems to be a nearly identical issue just now, also on Windows.

I suspect based on similar errors I run into from time to time when working on other programs, that this may be due to conflicts between 3rd party file indexing programs and the compilation process.

In particular, if you're using any kind of antivirus software or any kind of automatic backup service like Dropbox

[2018-03-25 22:41] Phlosioneer commented on #44831
@arielb1 You left a note when ignoring this test:
https://github.com/rust-lang/rust/blob/cf30759a8409bee031ac252ee207452ab4804467/src/test/compile-fail/borrowck/borrowck-thread-local-static-borrow-outlives-fn.rs#L10-L24

When / under what conditions will this be fixed? Can we make an issue to track it or a more descriptive comment, so future issue triage knows what's going on?

[2018-03-25 22:45] andrewdavidmackenzie commented on #44342
I have the issue, I need the crate always (for test and normal config), but I only need the #[macro_use] in the test config.

If I use:
[code]

then I get the warning during compile (non-test config compile I guess).

I tried to use #[cfg(test)] but that then removes the extern crate for the normal config

so, I had to use this:

[code]

[2018-03-25 22:46] Ericson2314 commented on #35121
Here the two impls do the exact same thing. If we just hack turn off the coherence check it will be hard to determine which impl gets used, which is normally wildly unsound, but in this case fine. Might trip some panics in compile expecting e.g. one result but we can hack around that.

[2018-03-25 23:05] RReverser commented on #44342
@andrewdavidmackenzie Doesn't seem same as this issue, but have you tried `cfg_attr` for that instead?

[2018-03-26 00:11] estebank commented on #49361
[The output in the current beta](https://play.rust-lang.org/?gist=e98aa862eb7bccbef96f83c0cfeebffd&version=beta) already points out at the place where the `else if` should be, even if it doesn't suggest it:

[code]

[2018-03-26 00:45] ehuss commented on #49322
I did some investigation on this.  It looks like when you use both `bold` and `intense` that the color doesn't work.  It appears to be due to the fact that `termcolor` sets the color *before* issuing the bold VT100 command.  The Windows console currently does not support true "bold" fonts, and instead just shows a "bright" color.  It seems like setting "bold" is overriding the "intense" color.  I'

[2018-03-26 00:48] BurntSushi commented on #49322
@ehuss I don't have any special insight, no, but I do recall running into those sorts of problems when adding VT100 support for Windows. I can't remember the details. If re-arranging the ordering fixes things, then that seems like a fine thing to me. I'd be happy to take your patch!

[2018-03-26 01:26] sunjay opened #49370 "Improve error message: No rules expected the token 'a'"
Let's say you are a beginner to Rust and you forget a comma while using `println!`. (This could happen to anyone, but let's specifically imagine that you do not know the language and its features well.)

[code]

Here is the error you would get:
[code]

Since you're a beginner, it is likely that macros are going to be one of the last features you touch. So "no rules expected the token" would not ma

[2018-03-26 04:20] tmandry commented on #49177
Working on `Rule Implied-Bound-From-Trait`

[2018-03-26 07:29] frewsxcv commented on #49233
opened a pr for this: https://github.com/rust-lang/rust/pull/49357

[2018-03-26 09:14] Nemo157 opened #49373 "Rustdoc doesn't render all `impl Trait` details"
Given a function definition

[code]

then this is currently (`rustc 1.26.0-nightly (482a913fb 2018-03-25)`) rendered as

![impl-trait-doc](https://user-images.githubusercontent.com/81079/37897532-a8d1ed0a-30e6-11e8-9152-796512943a04.png)

There are two very important bits of information missing from this:

 * The associated types of the `Future` trait
 * The lifetime bound on the returned type

[2018-03-26 09:18] Nemo157 commented on #34511
If this is being shipped in 1.26 then https://github.com/rust-lang/rust/issues/49373 seems very important to me, `Future` and `Iterator` are two of the major use-cases and they are both very dependent on knowing the associated types.

[2018-03-26 09:37] Vlad-Shcherbina commented on #49159
Minimized repro:

1. `cargo new ice_demo --lib`
2. Replace the content of the `lib.rs` with the following:

[code]
3. `cargo build --verbose`

<details>
<summary>output</summary>

[code]
</details>

<details>
<summary>version info</summary>

[code]

</details>

[2018-03-26 10:15] frewsxcv commented on #48498
confirmed this is fixed in the latest nightly

---

reproducing the issue with nightly-2018-02-23:

[code]

[code]

-------

confirming the issue is fixed with nightly-2018-03-25:

[code]

[code]

[2018-03-26 10:15] #48498 closed

[2018-03-26 10:29] sbourdeauducq opened #49375 "ICE on ARM - missing MIR for `DefId(7/0:7 ~ cortex_m_rt[cc3c]::lang_items[0]::start[0])"
When compiling https://github.com/m-labs/ionpak at fe088d7bba189d4b0edf584b69c8b3974a1dce5a
new versions of the compiler crash:
[code]

[2018-03-26 10:29] sbourdeauducq commented on #49375
This was not a problem with rustc 1.22.0-nightly (ddd123ed9 2017-09-09).

[2018-03-26 10:35] frewsxcv commented on #48929
worth mentioning that the nomicon has a section on covriance: https://doc.rust-lang.org/beta/nomicon/subtyping.html

[2018-03-26 11:01] quininer opened #49376 "rustc has a stack overflow when using `impl Trait` of a trait with a generic parameter with a default type of Self"
https://play.rust-lang.org/?gist=a827cb4bc9dd29324227e3ac676dd47a&version=nightly

[code]

[2018-03-26 11:07] vorner commented on #44101
Hello

I don't really want to hijack this issue, but I don't see which other channel to use and it is a bit related… Please point me to another place if there's a better one.

The way this got accepted made me a bit sad. From discussions on Gitter, it seems I'm not the only one. I'm not really writing to complain, or to sound disrespectful, but to point out to a possible problem with the RFC proce

[2018-03-26 11:10] pnkfelix commented on #49010
I have reproduced the problem on my mac, using the [joeschman/tokio-timer-segfault](https://github.com/joeschman/tokio-timer-segfault) repo and the `nightly-2018-03-02` rustc. I'll report more as I dissect further.

[2018-03-26 11:13] Nemikolh commented on #38206
I found a way to get the linker output today if you need it now. You can set the `RUST_LOG` environnement variable to `rustc_trans=info`. With the nightly rust version I am using, you should see a line that says `linker output`.

[2018-03-26 11:17] pnkfelix commented on #49010
Here is a gist https://gist.github.com/pnkfelix/fdab1b374d49e8850073a357d4f492f4 with the things that @nagisa had asked for (a stack backtrace, dump of the register file, and a disassembly of the function).

[2018-03-26 11:29] aturon commented on #44101
@vorner, thanks much for your carefully-written and very thoughtful comment. I completely understand your concerns.

As a general rule RFCs/feature decisions are based on consensus within the relevant team, not necessarily the entire community. The teams are required to take arguments against an RFC very seriously, and address them on thread, but they may still decide the concerns don't outweigh t

[2018-03-26 11:38] pnkfelix commented on #49010
@joeschman by the way, the way I got the info in the above gist is I just ran the binary under `lldb`, like so:

[code]
 and then when I got the debugger prompt (`(lldb)`), I ran the program with `r`:

[code]

and then after the program exception occurred, I used the following commands (included in the gist output above) `bt`, `register read`, and `dis`.

`lldb` has an online help mechanism you ca

[2018-03-26 12:18] #49375 closed

[2018-03-26 12:47] jdm opened #49377 "Search results with long names cause unreadable documentation snippets"
https://doc.servo.org/servo/index.html?search=decoder currently causes this effect:
<img width="946" alt="screen shot 2018-03-26 at 8 46 24 am" src="https://user-images.githubusercontent.com/27658/37907137-3e53f3e2-30d2-11e8-8242-a6c87b7ba177.png">
It's not until you scroll down the page that the reason for it becomes clear:
<img width="937" alt="screen shot 2018-03-26 at 8 46 35 am" src="https://

[2018-03-26 12:55] GuillaumeGomez commented on #49259
Seems complicated since at the point we print it, we don't have fields declaration attributes anymore...

[2018-03-26 12:56] matthewjasper commented on #49376
I guess this should be erroring with [E0393](https://doc.rust-lang.org/error-index.html#E0393) or E0666 (nested impl trait is not allowed).

[2018-03-26 13:05] axos88 opened #49378 "Lifetime inference again"
I might be wrong here, but I would expect the following code to compile, and print  `Foo(6)`, as the value of `b`, owning the reference to a is moved into dropped after the match block.
Seems like it isn't because it is complaining that

[code]

But dropping the value of `b` doesn't work either, because it is partially moved:

[code]

Is there a better way to fix this rather than putting lines `le

[2018-03-26 13:08] cramertj commented on #42640
@Dylan-DPC Hey! Have you had a chance to look at this? 1.26 is supposed to branch soon, so if we want t get `match_default_bindings` as part of this release we need to have a PR open very soon. No pressure on you if you're too busy-- I just wanted to check in.

[2018-03-26 13:12] Badel2 commented on #24111
I would really like to have a `try_const!` macro which will try to evaluate any expression at compile time, and panic if not possible. This macro will be able to call non-const fns (using miri?), so we don't have to wait until every function in std has been marked const fn. However as the name implies, it can fail at any time, so if a function is updated and now can't be const, it will stop compil

[2018-03-26 13:21] japaric opened #49380 "Merge compiler-builtins into core"
This is a P-high embedded-WG issue that needs to be fixed to make embedded Rust work on stable.

### Background:

The `compiler-builtins` crate contains compiler intrinsics that LLVM may call when lowering operations like `i64` multiplication to machine code. This crate currently is its own crate due to these requirements: its object file needs to appear at the end of the linker argument list and

[2018-03-26 13:33] japaric opened #49382 "Build the rust-std component for embedded targets"
This is a P-high embedded-WG issue that needs to be fixed to make embedded Rust work on stable.

Targets like `thumbv7m-none-eabi` need to use Xargo, which requires nightly, because there's no
pre-compiled `core` crate (i.e. `rustup target add thumbv7m-none-eabi` doesn't work).

To fastest way to remove this nightly dependency is to provide a `rust-std` component (pre-compiled
core) for the embedd

[2018-03-26 13:42] nagisa commented on #44488
Oh dear, it has been almost a year since the RFC and it went totally outside my radar, until I really, really needed `[T]::align_to` for my current use case of… aligning a byte buffer :)

Thinking about possible implementation approaches, I realised that to implement `[T]::align_to` in some cases it would be necessary to resort to calling the intrinsic multiple times in a manner similar to this: