[2021-02-17 16:30] ehuss commented on #82188
I don't want to speak for the compiler team (I am not on it), but AFAIK in general there is an effort to maintain reproducible builds on linux only, assuming you set up the environment correctly (such as with `--remap-path-prefix` flags, having the same setup and whatnot).  If that regresses, then I think it is a bug (#82074 is a recent example, issues are tracked with [A-reproducibility](https://

[2021-02-17 16:34] alexcrichton commented on #80916
I think the relevant PR was reverted so closing.

[2021-02-17 16:34] #80916 closed

[2021-02-17 16:41] seanchen1991 opened #82222 "Setting aarch64-apple-darwin as default toolchain on M1 breaks compilation"
Installing via `rustup` and setting `aarch64-apple-darwin` as the default toolchain by opting for a custom installation seems to break any attempts at compiling any Rust project, even a brand new `cargo new`.

Running `rustup show` outputs
[code]

When attempting to compile any project via `cargo`, I get
[code]

Thankfully, opting for the `x86_64-apple-darwin` toolchain addresses the issue, allowi

[2021-02-17 16:47] jplatte commented on #82187
Okay, let's move this discussion to an issue on https://github.com/jplatte/async_auto_traits.

[2021-02-17 17:03] thomcc opened #82223 "Tracking Issue for `Result::into_ok_or_err` / `feature(result_into_ok_or_err)`"
Feature gate: `#![feature(result_into_ok_or_err)]`

This is a tracking issue for `Result::into_ok_or_err`, a method to get the `T` out of `Result<T, T>` regardless of which variant is active.

### Public API

[code]

### Steps / History

- [x] Implementation: #80572
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- [ ] ~~What color should the bikeshed be~~ Wha

[2021-02-17 17:08] Soveu opened #82224 "Variables with rustc_layout_scalar_valid_range are not assumed to be in their range"
I have noticed that for example `NonZero` integers are *not* assumed to be non-zero.

[code]
(it also affects division)

Manually adding `intrinsics::assume` fixes that issue, but this cannot be used in `const` functions.
Related to #79114 and #79134

[2021-02-17 17:17] estebank opened #82225 "Overly verbose output on invalid for loop due to recovery"
Given code like

[code]

the current output is

[code]

Ideally the output would be much less verbose. An option could be to track in `ParseSess` how many parse errors have occurred and only once recovery has been successful for a whole item allow further parse errors. For parse errors inside of any item we swallow every token until the closing `}`, but in this case multiple layers of recovery cau

[2021-02-17 17:18] est31 commented on #65512
cc #82217

[2021-02-17 17:29] Frago9876543210 commented on #79518
@BoxyUwU It doesn't fixed in rustc 1.52.0-nightly (5fa22fe6f 2021-02-14)
link to playground : https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a106731bbe121703f4e5a13fc3d97668

<details><summary><strong>Backtrace</strong></summary>
<p>

Standard Error

   Compiling playground v0.0.1 (/playground)
error: internal compiler error: compiler/rustc_traits/src/normalize_erasing_re

[2021-02-17 17:34] estebank commented on #78651
The problem is an empty suggestion, https://github.com/rust-lang/rust/pull/82087 fixes this.

[2021-02-17 17:35] lygstate opened #82227 "Tracking Issue for expose force_quotes in CommandExt on Win32"
Feature gate: `#![feature(windows_process_extensions_force_quotes)]`

This is a tracking issue for expose force_quotes in CommandExt on Win32

Forces all arguments to be wrapped in quote (`"`) characters.

This is useful for passing arguments to [MSYS2/Cygwin][1] based
executables: these programs will expand unquoted arguments containing
wildcard characters (`?` and `*`) by searching for any file

[2021-02-17 18:03] richkadel opened #82230 "`x.py test --bless` should not ignore tests"
Some `ignore` directives in tests (such as `needs-profiler-support`) direct `compiletest` to skip over tests when certain conditions are not present.

If a compiler change also requires rebuilding "blessed" (expected) test results, those results may need to be rebuild, regardless of the developer's local configuration choices.

For instance, tests that include `needs-profiler-support` will be igno

[2021-02-17 18:45] repnop opened #82232 "Tracking Issue for `#[repr(align = ...)]` on function items (fn_align)"
This feature allows specifying an alignment for function items by adding the `#[repr(align = ...)]` attribute to them.
The feature gate for the issue is `#![feature(fn_align)]`

### Example

[code]

### Steps

- [X] Implementation (https://github.com/rust-lang/rust/pull/81234)
- [ ] Adjust documentation
- [ ] Stabilization PR

[2021-02-17 19:39] jyn514 commented on #82230
Rather than doing this, I think it makes more sense not to bless the output of ignored tests (i.e. leave the outputs the same as they were before). I do agree that x.py should warn either way, though.

[2021-02-17 19:45] asquared31415 commented on #79869
Is anyone currently working on this?  I would like to do it if not.

[2021-02-17 19:52] tschuett opened #82237 "the trait `Foo` is not implemented for `Bar`"
I often get these errors. A more actionable error message would be helpful.
- Bar has no implemented function Braz.
- the signature of function Braz differs in the number of arguments
- ...

[2021-02-17 19:52] thomcc commented on #82223
I don't feel that strongly, but considered this and didn't do it becuase it can be achieved using [`Result::as_ref`](https://doc.rust-lang.org/core/result/enum.Result.html#method.as_ref), e.g: `r.as_ref().into_ok_or_err()`.

The same is true for a hypothetical `&mut` version (with `Result::as_mut`), etc.

[2021-02-17 19:53] richkadel commented on #82230
"not to bless the output of ignored tests" is how it works today (I'm fairly sure). The tests don't run at all, so there is no opportunity to bless them.

I thought about how to do a warning while still ignoring them, but since ignored tests don't run, how would we know if the ignored test is a test that cares about "bless". What part of `x.py test` would we know to warn, unless we always warn if

[2021-02-17 19:56] jyn514 commented on #82230
From what I can tell on https://github.com/rust-lang/rust/pull/82076, it's *deleting* the tests, not just ignoring them.

[2021-02-17 19:57] joshtriplett commented on #79869
@asquared31415 Not to my knowledge, no.

[2021-02-17 20:05] ehuss commented on #82222
It looks like maybe you have an old x86-64 version of XCode?  Maybe try uninstalling and reinstalling the arm64 version?

[2021-02-17 20:07] joshtriplett commented on #79490
Personally, I think printing `-0.0` as `-0` seems reasonable. If you end up with a negative zero, it seems reasonable to support round-tripping that.

[2021-02-17 20:09] asquared31415 commented on #79869
@rustbot claim

[2021-02-17 20:10] camsteffen commented on #82223
I would narrow down the names to ones that are `into_*` which I understand to mean "transform infallibly". `unwrap_*` means "transform or panic" and `ok_or_err` to me looks like an `Option`-returning function like `ok` and `err`.

[2021-02-17 20:10] leonardo-m commented on #82223
The API surface of Result/Option is quite large already. The bar for adding even more methods for them should be raised because it's getting harder for me to remember and use all of them.

[2021-02-17 20:19] thomcc commented on #82223
There are multiple cases in the stdlib (e.g. ignoring external crates) where something like this is beneficial. The alternatives are less clear (`r.unwrap_or_else(core::convert::identity)`) and/or more verbose (explicit match).

There were also multiple PRs proposing this, showing it's not just me that considers it to meet the bar for addition.

I also think that broadly the current design of thes

[2021-02-17 20:21] BoxyUwU commented on #79518
i dont think the fix was merged by then. it works in 1.52.0-nightly 2021-02-16 :)

[2021-02-17 20:28] leonardo-m commented on #82223
Please don't say this, it's a fallacy :-)

[2021-02-17 20:32] richkadel commented on #82230
Yes, that seems to be a different issue. But the first time you ran the test with `--bless` you said it didn't fail, and Eric suggested you needed `profiler = true`. I assumed that was one of your problems. But regardless, I'm fairly sure the issue described here would be a problem for anyone that did not have `profiler = true`, or for any other reason the test would have been disabled (such as tr

[2021-02-17 20:55] zommiommy opened #82239 "Internal Compiler Error when writing to an immutable reference"
I tried to minimize the code as much as possible. Basically in this code, we are trying to write using an immutable reference.
For some reason, it panics instead of pointing out the problem.

I created a [repository with a proof of concept](https://github.com/zommiommy/rustc_bug). If you need more info I'm happy to help.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error o

[2021-02-17 21:36] seanchen1991 commented on #82222
Oh wow. Yea, looks like that was the issue! Installing the latest XCode and switching back to `aarch64-apple-darwin` worked 🙂

Weird that Apple would include an x86 version of XCode with the M1 machines, but alas.

[2021-02-17 21:36] #82222 closed

[2021-02-17 21:37] bstrie commented on #71126
I got kind of a weird error message recently that probably isn't too concerning, but maybe someone more familiar with the implementation of the `_` desugaring might have more insight.

The following extremely weird program:
[code]
Errors with:
[code]
I'm wondering whether it's considered a problem that the compiler appears to consider `Some(_)` to be part of a destructuring assignment. Obviously e

[2021-02-17 21:58] jyn514 commented on #82239
Duplicate of https://github.com/rust-lang/rust/issues/82032, fixed in https://github.com/rust-lang/rust/pull/82056.

[2021-02-17 21:58] #82239 closed

[2021-02-17 22:03] slightlyoutofphase commented on #82164
As it stands currently, it definitely is possible to use const generics to write a trait that works exactly like `Concat` does while [generating significantly better assembly](https://rust.godbolt.org/z/dsW75c) for fixed size arrays:

[code]

With that said though, an IMO simpler / more powerful take on what calling `concat` actually does for arrays specifically that you _can't_ write currently wo

[2021-02-17 22:13] jyn514 commented on #82164
This would need full `const_generics` I think, which is still a very long way from stabilizing.

[2021-02-17 22:14] fanzier commented on #71126
@bstrie Thanks for reporting this. The error message is indeed a bit misleading.

In fact, the compiler does not consider this `_` to be part of a destructuring assignment. However, the *feature* `destructuring assignments` allows `_` to occur in more places than before (namely the left-hand side of an assignment). This necessitated a parser change: we allow `_` syntactically anywhere in an expres

[2021-02-17 22:16] HeroicKatora commented on #49572
With some experiment I found out that one can work around this by _introducing_ an indirection:

[code]

[code]

Somewhat confusingly this seems to depend on the order of passes. I also tried using a similar hack for removing the branch from `leading_zeros` and it _only_ works when the helper method is public.

[code]

[code]

[2021-02-17 22:18] scottmcm commented on #71126
I think this is ok -- the error it's giving about `_` is arguably better than the [older one](https://rust.godbolt.org/z/GK5vdb):
[code]

That said, it might be nice to tune the error based on whether there's a `=` nearby -- it could be nice to talk about patterns *and* destructuring assignments as places for `_`s.

[2021-02-17 22:37] #79744 closed

[2021-02-17 22:37] #82126 closed

[2021-02-17 23:13] crclark96 opened #82242 "[AVR] integer division incorrectly yields result value 1"
I'm writing some code for arduino using the avr-hal crate, and when I print the result of a division operation, I'm getting the result value of 1 for almost every combination of numbers. Exceptions that I've found so far include when the divisor is a power of two, which I'm assuming is being optimized to a bitshift operation (this is not happening in my minimum code example, I do not know why but

[2021-02-17 23:29] bstrie commented on #71126
No, I was just surprised and wanted to make sure this wasn't indicative of some deeper bug. :) Ship it!

[2021-02-17 23:45] svanderbleek commented on #59159
This came up for me I had to turn

[code]

into

[code]

which seems like a misapplication of the trigger for the warning. I was able to reproduce with the following code

[code]

which produces

[code]

into

[code]

which produces no warnings.

Is there anywhere I should follow this up? I'm new to Rust.

[2021-02-18 01:40] slightlyoutofphase commented on #82164
It would, yeah. That sort of thing did _kind_ of work (by accident I believe) as long as you wrote the function in just the right way for  6+ months last year though...

[2021-02-18 02:10] Y-Nak commented on #81851
@rustbot claim

[2021-02-18 02:20] mqudsi commented on #57241
While one concern with const evaluation of  floating point math is that the results may differ from the hardware (I think we are still using the host fpu when cross-compiling) there is a huge benefit to adding const evaluation of floating point arithmetic for no_std environments where runtime (soft or hard) fp math may be unavailable altogether.

In this context, constant evaluation can be a huge

[2021-02-18 03:26] estebank commented on #70997
Triage: the error still emits, but it is no longer duplicated.

[2021-02-18 04:22] #78600 closed

[2021-02-18 04:22] #81800 closed

[2021-02-18 07:58] eddyp commented on #82188
OK, reasonable enough.

Yet I see I'm not the only one interested in reproducible builds on Windows: https://github.com/rust-lang/rust/issues/71714

I would imagine this is also relevant for the Sealed Rust effort driven by Ferrous Systems as I imagine most/many corporate setups are around Windows systems, but I guess that's something @jamesmunns and @skade can give some inputs before the communit

[2021-02-18 08:51] qiujiangkun opened #82250 "Rustc internal panic with feature(let_chains)"
I tried this code:

[code]

### Meta
`rustc --version --verbose`:
[code]

[code]
Note:
A simpler program does not crash, but does not compile.
https://github.com/rust-lang/rfcs/issues/2411#issuecomment-575346318
[code]
[code]
https://github.com/rust-lang/rust/issues/53667

[2021-02-18 10:20] AlfredTH commented on #82193
This [stackoverflow question](https://stackoverflow.com/questions/62586808/how-are-relocations-supposed-to-work-in-static-pie-binaries) has good information on the subject of static pie and relocation.

[2021-02-18 10:21] leonardo-m opened #82251 "[ICE] With wrong rustc_layout_scalar_valid_range_start"
[code]

Gives:
[code]

[2021-02-18 10:22] survived opened #82252 "Rust incorrectly concludes that trait is not implemented"
Suppose I have a function:

[code]

Here, for some reason, Rust refuses to infer that `<T as TryFrom<&'a U64>>::Error` implements Debug. Can be checked by adding more code:

[code]

If we replace main function with:

[code]

then it will be compiled, so Rust is able to infer that TooLargeErr implements Debug, but it doesn't do the same in generic bounds.

[Here's a link on playground](https://play

[2021-02-18 10:36] RalfJung opened #82254 "toolstate repository not updated"
Updated the toolstate repository at https://rust-lang-nursery.github.io/rust-toolstate/ currently does not seem to work, see e.g. https://github.com/rust-lang/rust/pull/82150. To "tool failed to build"-issues are being created, either.

@hyd-dev remarked that the error [looks like some Python 2→3 issue](https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra/topic/Toolstate.20update.20was.20

[2021-02-18 10:51] RalfJung commented on #57241
CTFE *never* uses the host FPU. Floats during CTFE are implemented entirely via "softfloats", i.e., a software-only implementation of IEEE floating point semantics. This means the result is the same no matter the host you use to compile. However, the result might still be different from what would happen on the target since the IEEE float spec doesn't always uniquely determine what happens (in par

[2021-02-18 10:57] RalfJung commented on #57241
All the issues around floating-point semantics aside, we *do* allow floating-point operations in `const` outside `const fn`. We also promote floating-point operations, so e.g. `&(1.0*2.0)` will be evaluated at compile time. So we basically already have to live with whatever our CTFE floating-point semantics are, and we have to be careful with changing it. I don't immediately see how allowing the s

[2021-02-18 11:11] taralx commented on #82164
Even taking that into account, the code is peephole optimization levels of bad. Manually coding what concat does with a Vec return produces significantly less assembly.

[2021-02-18 11:57] eddyb commented on #82251
cc @oli-obk ICE-ing instead of user error on misuse seems somewhat okay given that it's an internal attribute, IMO.

[2021-02-18 11:59] oli-obk commented on #57241
Entirely done out of an abundance of caution. We just didn't want to have any discussion at min_const_fn stabilization time, so we avoided it. The only argument against stabilization is that running the same const fn at runtime and at compile time can yield different results, so *technically* optimizing away a const fn call by evaluating it at optimization time could change program behaviour. Ther

[2021-02-18 12:02] oli-obk commented on #82251
agreed. We don't protect against mis-use of rustc internal attributes beyond making sure that you can't trivially create buggy code. I don't think we should put any effort into making this nicer to use and instead create the const-generic based replacement.

[2021-02-18 12:02] #82251 closed

[2021-02-18 12:06] RalfJung commented on #57241
Doesn't ConstProp already use CTFE floats to optimize runtime code?

Also, if this is considered "changing program behavior", that would mean Rust floats would *not* be specified as "IEEE floats" but as "whatever-the-target-does floats". I don't think that decision was ever made, was it? It would arguably mean that Miri and CTFE are buggy if they diverge from the target behavior.

[2021-02-18 12:12] oli-obk commented on #57241
no, we explicitly opt out of floats.

It was not, I was just reiterating the argument that was made here. I don't remember who made the argument or whether they thought it an important argument, I just remember that it was easier to punt the decision into the future. I personally think we should just stabilize floats in const fn

[2021-02-18 12:17] AlfredTH commented on #82193
Although this is not solved, I solved it for my case. In [config.toml](https://doc.rust-lang.org/nightly/cargo/reference/config.html), I put this rustc flag:
[code]
And while it didn't work on my mixed-libc environment, it worked on my musl-only environment.
Now the binary links to musl. I'm not sure exactly which librariy is dynamically linked and which is statically linked, but at least libgbm s

[2021-02-18 12:45] RalfJung commented on #57241
Oh, interesting.
We do promote floating-point-ops though which is not too different from an optimization. (And I recently tried to disable that and found too many uses. Maybe we could disable it in `fn`/`const fn` only but still promote in `static`/`const`; not sure if that's worth it.)

[2021-02-18 13:20] osa1 commented on #82250
Is it possible for you to share the code?

[2021-02-18 13:54] osa1 commented on #81839
@rustbot claim

[2021-02-18 14:22] tspiteri opened #82257 "ICE for doc tests in beta and nightly"
I can reproduce this on beta and nightly, but I cannot reproduce on stable 1.50.

For the [fixed crate](https://gitlab.com/tspiteri/fixed.git), if I run
[code]
I get
[code]

### Meta

`rustc +stable --version --verbose`:
[code]
`rustc +beta --version --verbose`:
[code]
`rustc +stable --version --verbose`:
[code]

[2021-02-18 14:25] jonas-schievink commented on #82257
presumably a duplicate of https://github.com/rust-lang/rust/issues/81852

[2021-02-18 14:25] raphaelcohn commented on #81552
Under the covers, some of these intrinsics are actually trying to return the value of the `ZF` or `CF` bits in `EFLAGS` (or `RFLAGS`, if 64-bit). For example, `_ktestz_mask8_u8()`. Looking on godbolt, it seems what's happening is a `SETcc` instruction is being issued in addition to the core AVX512 VPTESTB, so the intrinsic is actually returning (in our world) an `u8` and so can be modelled as a Ru

[2021-02-18 14:29] tspiteri commented on #82257
It does look like it.

Above, I used `-- jobs 1` to try to use a single thread, but now on the other issue I'm seeing that I should have used `-- --test-threads`. When I run with `-- --test-threads 1` I cannot reproduce the bug.

[2021-02-18 14:32] tspiteri commented on #81852
This is now a regression from stable to beta.

[2021-02-18 14:56] osa1 commented on #82156
@rustbot claim

[2021-02-18 14:59] jyn514 commented on #82257
Closing as a duplicate, then.

[2021-02-18 14:59] #82257 closed

[2021-02-18 15:06] matsujika commented on #81852
Bisection says the regression happened in 1483e67addd37d9bd20ba3b4613b678ee9ad4d68.

[2021-02-18 15:07] marmeladema commented on #68585
Just encountered this error.
I wonder how does it relate to
* RFC 2195: https://github.com/rust-lang/rfcs/pull/2195
* RFC 2363: https://github.com/rust-lang/rust/issues/60553

Will that both those RFC obsolete?
Also, will it be turned into a hard error in edition 2021?

[2021-02-18 15:10] jyn514 commented on #81852
cc @andersk, do you have time to take a look?

[2021-02-18 15:17] SNCPlay42 commented on #78539
Possibly related to #68561. Something like the fix for that, #80828 might be able to fix this (that PR itself doesn't appear to fix this).

[2021-02-18 15:26] jethrogb commented on #75109
Close call: #82102

[2021-02-18 15:30] nagisa commented on #75109
What I think happened in the referenced PR was this:

I fetched the llvm-project with `git fetch origin` and wanting to make changes on top of the `rustc/11.0-2021-01-05` I ran `git checkout rustc/11.0-2021-01-05`, made my changes, committed them, and submitted a PR.

Later when the PR was already merged, I took care to `git fetch origin` and `git checkout -f rustc/11.0-2021-01-05` (note the missi

[2021-02-18 15:51] pnkfelix commented on #81051
@rustbot assign @cuviper

discussed at [compiler triage](https://zulip-archive.rust-lang.org/238009tcompilermeetings/76458weeklymeeting2021021854818.html#226827824). Assigning to @cuviper to own revert of cherry-picked commit and file issue to track fallout of such.

[2021-02-18 15:53] slightlyoutofphase commented on #82164
Yeah, I actually examined the assembly output for regular `[].concat()` with various inputs while I was making the `my_concat` example above, and it oddly seems to generate much better output for your original code snippet (that does not call `finish_grow` at all, specifically) for basically all numeric types larger than `u8` and `i8`.

On another note that I feel like is worth mentioning, I disco

[2021-02-18 16:15] oli-obk commented on #63169
I'm going to go ahead and close this as per the analysis above

[2021-02-18 16:15] #63169 closed

[2021-02-18 16:20] JulianKnodt opened #82264 "Add better diagnostic for const-generic `impl Foo for S<N>`"
Adding better diagnostics when we resolve to a type error for N.

Original comment:
Ideally this would suggest "you meant to add a `const N` here and write this as `A<{ N }>`".

_Originally posted by @estebank in https://github.com/rust-lang/rust/pull/82055#discussion_r575739240_

[2021-02-18 16:42] oli-obk commented on #78450
minimized:

[code]

[2021-02-18 17:00] zarix908 opened #82266 "Rustdoc book mistake"
This page https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html give instruction to create binary crate, but later use src/lib.rs file for example. Need to use src/main.rs file or create lib crate with --lib flag.

[2021-02-18 17:16] petar-dambovaliev opened #82267 "de-sugarring of async functions"
I expect this code to work.

[code]

Instead, i got an error

[code]

`rustc --version --verbose`:
[code]

If you remove one of the arguments, it works.
Which is rather strange.

[code]

[2021-02-18 18:07] e2-71828 opened #82268 "linker error with `feature(generic_const_exprs)`"
*edit: current minimal repro https://github.com/rust-lang/rust/issues/82268#issuecomment-1165530277*

## Error Message

[code]

## Code

[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=405c97e46c71c0ab9749ef23bbdb04cb))

[2021-02-18 18:09] sfackler commented on #82267
Duplicate of #63033

[2021-02-18 18:09] #82267 closed

[2021-02-18 18:30] andersk commented on #81852
It seems like the underlying problem is that it’s possible for different tests to collide to the same `TestDesc` when macros are involved. Minimal example:

[code]

Before #81367, this produced

[code]

and now it panics.

We should fix the underlying problem, but a simple band-aid for beta would be to turn the `unwrap` into an `if let`. The only side effect would be that we don’t get the benefits

[2021-02-18 18:58] estebank commented on #82264
Given

[code]

we should suggest

[code]

[2021-02-18 19:23] workingjubilee commented on #64609
@elichai C and C++ appear to handle this mostly via using the hardware vector types in question and then passing the rest of the burden on to the programmer, or avoiding the subject. This is solved by C and C++ programmers writing sophisticated SIMD libraries that opaquely handle the hardware details, providing a higher level abstraction that other C and C++ programmers can use. Here, we can do a

[2021-02-18 19:43] jyn514 commented on #82266
Good catch, thanks! Are you interested in adding the `--lib` flag? You'd modify `src/doc/rustdoc/src/what-is-rustdoc.md`.

[2021-02-18 20:16] thomcc commented on #62256
Note that this line: https://github.com/llvm/llvm-project/blob/eb75f250feb6822d57be95e8535e28724cde6e9d/llvm/lib/CodeGen/SelectionDAG/LegalizeDAG.cpp#L3998 (found by @Lymia) means it might lower into a call to `__sync_synchronize()` (on platforms without atomics, I think), which is annoying for no_std code.

I also would consider it to be "strictly incorrect from functional perspective", since the

[2021-02-18 20:35] cole-miller commented on #80908
Fwiw, this function is now used by hashbrown (`nightly` crate feature only, introduced in rust-lang/hashbrown#239). I'd love to see it stabilized soon! (Along with `maybe_uninit_uninit_array`.)

[2021-02-18 20:42] slightlyoutofphase commented on #82264
It's worth noting that the `impl` part is specifically the error there... the rest is fine. I don't think the "const braces" are required anywhere at all currently. For example:

[code]

[2021-02-18 20:46] Heliozoa commented on #45572
I believe I've hit the same issue on Ubuntu 20.04.2.
Given
[code]
[code]
[code]
Changing the `status` call to `output` or reducing the amount of iterations in `printer.rs` to 65535 fixes the problem. It's pretty niche and I only came across this when debugging another problem and trying different things out, but for what it's worth I expected this to work without issues, mainly because everything

[2021-02-18 20:48] andersk commented on #81852
I’ve submitted that workaround as #82274.

[2021-02-18 21:13] tschuett commented on #39915
[lld-macho] add code signature for native arm64 macOS
https://reviews.llvm.org/D96164

[2021-02-18 21:17] joshtriplett commented on #39186
This seems like something we should document, yes. It's an unusual special-case that people should be aware of.

This also interacts with https://github.com/rust-lang/rust/pull/72160 .

[2021-02-18 21:21] lahwran commented on #10389
checking in about this since I'm scanning through I-unsound issues. This one has been open for the longest. I read through the thread, but I may have missed it - what's the current situation with fixing this soundness hole? or in other words, what would a motivated contributor need to do to bring this issue from its current state into a merged pull request merged that closes this issue?

[2021-02-18 21:53] pnkfelix commented on #38686
@mark-i-m I would have expected the patch to cause a change to the output you saw from `./x.py build -vv`, though maybe I misremember whether `x.py` properly rebuilds itself when the rustbuild source changes?

[2021-02-18 22:00] matthiaskrgr opened #82276 "lint message paths are absolute in some cases"
[code]

The crate seems to generate some code as part of its `build.rs` and that code is dumped somewhere into the target dir.
Now when we issue lint warnings about that code (inside the target dir), the path to the file is an absolute (canonicalized?) path and not a relative path from the crate root, as usual:

[code]
Is that intentional?
Why is it not a relative path from the crate root like all

[2021-02-18 22:04] RReverser opened #82277 "std::fs::hard_link doesn't work on WASI"
I tried this code:

[code]

I compiled it with `--target wasm32-wasi` and executed with latest Wasmtime 0.23.0 with `wasmtime --mapdir=/::.` where the current directory contains valid file `a`.

I expected to see this happen:

A hard link `b` is created that points to `a`.

Instead, this happened:

It fails with an error:

[code]

### Meta

`rustc --version --verbose`:
[code]

`wasmtime --version`

[2021-02-18 22:10] SlaynAndKorpil opened #82278 ""Illegal instruction" when running release build"
When running this code with `cargo run --release`, it prints `Illegal instruction` and immedialy exits with error code 132. This only happens when running the release build, the debug build created by `cargo build` just runs endlessly as expected.

[code]

This happens when x is of any signed integer type. When I replace the content of the loop with `0isize % 1;`, the error does not occur. Using s

[2021-02-18 22:37] JulianKnodt commented on #82264
they are required for anything more than plain ints such as `{ [0u8, 1u8] }`, of `{ foo(N) }`. For the general type I think it'd be nicer to suggest braces if we don't have any prior info.

[2021-02-18 22:38] #82205 closed

[2021-02-18 23:19] marmeladema commented on #56431
I think https://github.com/rust-lang/rust/pull/81335 fixed the last remaining concern.
Could it be stabilized, at least for `Vec`?
I am ready to do the PR if needed :+1:

[2021-02-18 23:21] ibraheemdev commented on #29661
Has any work been going on regarding this issue since #61812?

[2021-02-18 23:32] joshtriplett commented on #39186
Ok, this is ready for a PR. I've labeled it accordingly.

[2021-02-18 23:35] jonas-schievink commented on #29661
Not to my knowledge, no

[2021-02-18 23:37] ehuss commented on #82278
Thanks for the report!  Infinite loops are undefined behavior in LLVM, which can result in anything happening.  This is a known issue, closing as a duplicate of #28728.

[2021-02-18 23:37] #82278 closed

[2021-02-19 00:03] steffahn opened #82279 "Adding generic trait impl with const_evaluatable_checked bound can lead to compilation error in code using the trait."
[code]

Note that the above code compiles without the function `f`, so the trait impl itself is valid. Also, obviously, it compiles without
the `impl`. Adding an `impl` should not be a breaking change like that. While adding a blanket impl _is_ a breaking change, AFAIR it isn’t for sealed traits; and anyways, a similar error occurs when `T` is replaced by `Struct<T>`, [like this](https://play.rust

[2021-02-19 00:33] lahwran commented on #18072
A few questions I have on reading this issue and discussion:

1. Will MIRI detect this issue now? if not, should it?
2. has this ever been encountered in practice, or what code would be most likely to accidentally generate this situation?
3. can valid, useful code ever generate this situation, or does encountering this situation necessarily entail invalid code? I don't *think* it makes sense to ha

[2021-02-19 00:35] HTG-YT commented on #82250
@qiujiangkun It might be better for you to share the code which reproduces the issue on your nightly, 2021-02-11, so that I can try to reproduce it on the latest nightly build.

[2021-02-19 01:03] lahwran commented on #50781
I'm going through the `I-unsound` issues to review their current status and next steps. Looks like the current status of this issue is that the compiler emits a warning for the entire class of unsoundness, leaving no holes arising from this issue in a program that compiles without warning, and further progress is expected to be possible once chalk is ready. If I'm wrong that the warning covers all

[2021-02-19 01:14] lahwran commented on #46188
current status: running the initial example [in the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8b5dbb84378eb9a01dbe0db76224b83
), it looks like a warning is emitted. running the example through MIRI also in the playground does not produce any additional warnings besides that the allocation is too large. I see that in the rust-lang/unsafe-code-guidelines [i

[2021-02-19 02:01] koutoftimer commented on #72802
@retep998 in ACM with tough memory limits and a lot of reads you may want to read input several times instead of allocating tons of additional memory.

[2021-02-19 02:17] jeanlucthumm commented on #82266
@jyn514 May I grab this?

[2021-02-19 02:30] buzmeg commented on #62633
If anything this is much closer to "Consensus Accept" and is certainly nowhere near "Consensus Reject".  I see lots of people articulating in the positive direction and very few articulating negatives.  Why is this being shut down?

I'd like to see some real reasoning for closing this given that it actually improves consistency with Option and Result, clearly had users even within the Rust codebas

[2021-02-19 02:31] jyn514 commented on #82266
@jeanlucthumm go for it!

[2021-02-19 02:44] henryboisdequin commented on #80173
@estebank Do you know roughly where I need to search for cases such as this one? Thanks

[2021-02-19 03:11] jeanlucthumm commented on #82266
The [md file from the repo](https://github.com/rust-lang/rust/blob/master/src/doc/rustdoc/src/what-is-rustdoc.md) has the `--lib` flag but I don't see it on the [webpage](https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html) are the two out of sync?

[2021-02-19 03:11] cuviper commented on #80810
I noticed that a bunch of `ui` tests were failing too, so I started bisecting based on that, and I got to 0183b4109a04ad78722b919366005df84878cf5d this time, from #79547 (cc @erikdesjardins @nagisa). I hope this is finally a real smoking gun, because that change could definitely have far-reaching codegen effects. That's not to say the change is necessarily wrong, but it may have exposed a latent L

[2021-02-19 03:14] jyn514 commented on #82266
Oh, this is fixed on nightly: https://doc.rust-lang.org/nightly/rustdoc/what-is-rustdoc.html#basic-usage

[2021-02-19 03:14] #82266 closed

[2021-02-19 03:43] Qwaz opened #82282 "Side effect handling in specialized zip implementation causes buffer overflow"
https://github.com/rust-lang/rust/blob/0148b971c921a0831fbf3357e5936eec724e3566/library/core/src/iter/adapters/zip.rs#L200-L208

https://github.com/rust-lang/rust/blob/0148b971c921a0831fbf3357e5936eec724e3566/library/core/src/iter/adapters/zip.rs#L214-L218

`self.index` can be set to a value greater than `self.len` in this branch. This causes integer overflow in `size_hint()` and lead to a buffer

[2021-02-19 03:44] jsha opened #82283 "rustdoc: improve web search snippets"
## Boilerplate

Some (but not all) search result snippets for rust items include the boilerplate "1.0.0[−][src]". Example screenshots below are linked to the Google search results page they are taken from.

Search results for "rust slice" show the boilerplate:
[![image](https://user-images.githubusercontent.com/220205/108453509-78225280-721f-11eb-8f38-ac9a8ee8c937.png)](https://www.google.com/sear

[2021-02-19 04:12] jyn514 commented on #82283
Rustdoc already does this for searches, it can use the same summaries for the title.

[2021-02-19 04:18] Qwaz commented on #82282
For the context, this causes a buffer overflow by violating the safety requirement of `TrustedRandomAccess` trait.

https://github.com/rust-lang/rust/blob/0148b971c921a0831fbf3357e5936eec724e3566/library/core/src/iter/adapters/zip.rs#L384-L406

[2021-02-19 04:19] jyn514 opened #82284 "`#![feature(intra_doc_pointers)]` checks the active crate for a feature gate, not the original"
This breaks e.g. serde: https://rust-lang.zulipchat.com/#narrow/stream/247081-t-compiler.2Fperformance/topic/serde.20doc.20runs.20broken

I tried this code:

[code]

I expected to see this happen: No error occurs, because re-exporting items of the standard library should never break your crate.

Instead, this happened:
[code]

### Meta

Version: https://github.com/rust-lang/rust/commit/386d02a615f

[2021-02-19 04:20] jyn514 commented on #82284
As a workaround, we can remove the fancy link from `Pointee` until this is fixed.

[2021-02-19 05:28] workingjubilee commented on #64609
For x86 SIMD (an obvious source of compatibility concerns here), AVX512, AVX, and SSE enable the zmm, ymm, and xmm registers, which support the `_m512`, `_m256`, and `_m128` data types, respectively. While their actual usage in intrinsics is slightly more complex, as far as the System V AMD64 ABI is concerned, these are mostly just bags of that many bits with corresponding alignment. The first 16

[2021-02-19 06:58] jsha opened #82286 "doc.rust-lang.org: add caching headers for static content"
Steps to reproduce:

1. Load any doc.rust-lang.org page, e.g. https://doc.rust-lang.org/std/str/index.html.
2. Open Developer Console.
3. Click the URL bar and hit enter to load the page again.

Expected result:

Most resources are cached and do not hit the network.

Actual result:

Many objects require a network fetch, but get a 304 Not Modified. These should be served with long caching headers.

[2021-02-19 07:34] jhpratt commented on #80896
Getting an error on nightly from this that _originates_ in stdlib.

Not sure if this needs special-casing, a feature gate added to `core`, or just the removal of the link. But something certainly isn't correct.

[code]

[This is the line](https://github.com/rust-lang/rust/blob/master/library/core/src/ptr/metadata.rs#L51) that the error traces to.

[2021-02-19 07:34] jhpratt commented on #80896
cc @jyn514 see above. It looks like you're the one that gated this.

[2021-02-19 07:48] osa1 commented on #82277
Generated code for C and Rust versions of this program are wildly different, so I think C version running fine does not rule out the possibility that this could be a wasmtime bug.

I'm unable to [build WASI-enabled stage1 compiler](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/.22rust-lld.20missing.22.20when.20building.20with.20wasm32-wasi.20target.3F) so I tried wi

[2021-02-19 08:00] jsha commented on #82286
Adding a separate topic here because it's closely related: We can achieve a significant decrease in file size by enabling Brotli compression, which is an option in CloudFront: https://aws.amazon.com/about-aws/whats-new/2020/09/cloudfront-brotli-compression/

Brotli has been supported in major browsers since 2016: https://en.wikipedia.org/wiki/Brotli

search-index1.50.0.js is currently served as 27

[2021-02-19 08:09] mati865 commented on #82172
With Clang one can use LLD command like that `-fuse-ld=lld-11` to use specific version, you can even provide the path to LLD.
GCC accepts only linker name (without version).

This issue is not actionable by Rust.

[2021-02-19 08:20] mati865 commented on #82193
Were you building the executable on musl based system (like Alpine or musl variant of Void Linux)?
From the description it seems you are trying to make musl binary linked to shared library that is linked to glibc.

[2021-02-19 09:06] e2-71828 commented on #82268
This appears to be related to using a const generic as a trait parameter.  A couple of variants I've tried:

* Wrapping the parameter in a struct still errors: ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4e466bb39dfbbabd50ec6532e98e97ef))
* But extracting the const computations into a separate trait compiles: ([Playground](https://play.rust-lang.org/?vers

[2021-02-19 09:06] AlfredTH commented on #82193
I was trying to build my crate on two different systems.
First one has arch-linux with glibc but also musl in /usr/lib/musl/lib.
Second one is a buildroot embedded linux distribution with musl in /usr/lib.
The config.toml trick worked on the buildroot system immediately (to my surprise), but it was generating a lot of problems on the arch system which I was first testing on.

The mess between musl

[2021-02-19 09:46] Seppel3210 opened #82288 "`x.py build` failing on x86_64-pc-windows-gnu"
when I run `./x.py build` in msys2-mingw64 I get
[code]

[2021-02-19 09:54] mati865 commented on #82193
When cross compiling musl target it defaults to static linking yet `gbm.rs` somehow got linked dynamically (not sure if `gbm.rs` bug or what). This didn't work because statically linked musl will not load any dynamic libraries.
`target-feature=-crt-static` made musl to be linked dynamically (it's default when not cross compiling, i.e. when using musl host) so it could load dynamic libraries.

You

[2021-02-19 10:02] jhpratt commented on #80896
Looks like this was noticed before I commented. The issue for it is #82284.

[2021-02-19 10:11] AlfredTH commented on #82193
Thanks for the explanation.

I guess that's the real bug then. The crate which links to libgbm is, to be precise, the gbm-sys subcrate. It uses bindgen and its code is [there](https://github.com/Smithay/gbm.rs/tree/master/gbm-sys). The link attribute is located [here](https://github.com/Smithay/gbm.rs/blob/master/gbm-sys/src/lib.rs#L96).

[2021-02-19 10:30] RalfJung commented on #18072
I don't think Miri can do anything here; Miri doesn't really have the concept of a stack frame with a given "size". Similar to "protect against stack and heap overlapping", this is below the level of abstraction that Miri works on, and needs to be handled by the codegen backend.

Note that Rust nowadays has that ability (for the unstable `unsized_locals` feature).

Cc @rust-lang/wg-llvm

[2021-02-19 11:13] mati865 commented on #82193
So it's `gbm-sys` bug since it tells Rust to always link shared libgbm: https://doc.rust-lang.org/reference/items/external-blocks.html#the-link-attribute

[2021-02-19 11:23] #78653 closed

[2021-02-19 11:23] #79716 closed

[2021-02-19 11:23] #81852 closed

[2021-02-19 11:23] #82156 closed

[2021-02-19 11:23] #81457 closed

[2021-02-19 11:49] RReverser commented on #82277
It's probably worth comparing the arguments and the result of `wasi.path_link` call, which both should invoke under the hood.

[2021-02-19 11:49] tesuji commented on #82286
Per https://caniuse.com/brotli, IE browser doesn't support this header. But since it's just a header, I don't think any incompatibility problems here with IE. However, changing the header shall be done by rust-infra/docs.rs team, not rustdoc it self as rustdoc have to serve pages from local files.

[2021-02-19 11:50] nagisa commented on #80810
Hm, I think it is fine if we revert that PR, as it was an attempt at optimizing the ABI, but we should also see if we can make a minimal reproducer so that we can pinpoint exactly what component is to blame here and if its LLVM – report it upstream.

[2021-02-19 12:11] RReverser commented on #82277
Ah, forgot to mention - I also tried to execute with Wasmer, but it silently doesn't do anything on both outputs, so I think that's a separate issue.

[2021-02-19 12:29] RReverser commented on #82277
Hmm, okay, I tried to execute both with Node.js WASI support, and it does work. So perhaps it is a Wasmtime issue after all.

[2021-02-19 12:32] RReverser commented on #82277
Oh... and it doesn't fail on Wasmtime 0.22, but fails on 0.23. Closing here.

[2021-02-19 12:32] #82277 closed

[2021-02-19 12:47] irevoire opened #82290 "let_chains causes a compiler panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I made a small git repo to reproduce the bug [here](https://github.com/irevoire/bug)

[2021-02-19 13:13] AlfredTH commented on #82193
I don't understand, the link attribute should select the appropriate link type if the `kind` key is not specified. An error should be reported if the linking cannot happen, way before it segfault, don't you think ? In which case it's a bug from rustc.

[2021-02-19 14:15] mati865 commented on #82193
AFAIK it cannot do it because of backwards compatibility. If you look at this text:

Empty `kind` means dynamic linking.

[2021-02-19 14:19] qiujiangkun commented on #82250
Okay, I'll trim down my base and share it later today.

[2021-02-19 14:20] AlfredTH commented on #82193
Oh, I see.

Should I leave the issue open for this part ?

[2021-02-19 14:20] Seppel3210 commented on #82288
fixed it by setting `[build] download-ci-llvm = true`

[2021-02-19 14:20] #82288 closed

[2021-02-19 14:23] SkiFire13 opened #82291 "Zip may call __iterator_get_unchecked twice with the same index"
Here `__iterator_get_unchecked` is called for potential side effects until `self.index == self.a.size()`, ignoring however that it could have already been called in `next_back` with those indexes.

https://github.com/rust-lang/rust/blob/0148b971c921a0831fbf3357e5936eec724e3566/library/core/src/iter/adapters/zip.rs#L200-L208

[Playground link](https://play.rust-lang.org/?version=nightly&mode=releas

[2021-02-19 14:33] mati865 commented on #82193
I'll leave it to somebody more experienced like @petrochenkov but IMO this would be hard to take any action here because some libc implementations allow to mix static libc with shared libraries.

[2021-02-19 14:37] jyn514 commented on #82290
MCVE ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d0b77648b72b7a293b20e165e8bcb570)):
[code]

[2021-02-19 15:06] qiujiangkun commented on #82250
I deleted my whole project and got this
lib.rs
[code]

[2021-02-19 15:06] drahnr opened #82293 "warning of unreachable code which should be reachable"
I tried this code:

https://github.com/paritytech/sccache/pull/31/files#diff-f0fe090c387c4c299e2af7120bb7b6c0be1e2269a7a7215dbdec6975b66bfe0cR992-R1060

[code]

[code]

I expected to see this happen: *explanation*

No warning about unreachable statement, since the for loop is bounded.

Instead, this happened: *explanation*

Observerd a warning.

### Meta

`rustc --version --verbose`:
[code]

[2021-02-19 15:08] drahnr commented on #82293
Note that a simplified (sync) example does not exhibit the issue https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6cd51605d7b8b31d9d519ac288d9217a so I would assume this is async only issue.

[2021-02-19 15:12] oli-obk commented on #71153
Yes, it's a duplicate. Closing as such.

For anyone reaching this issue, at the time of writing this comment, the workaround is to put all defining uses into their own module together with the TAIT itself. For all further development on this, follow #55997

[code]

[2021-02-19 15:12] #71153 closed

[2021-02-19 15:13] slightlyoutofphase commented on #82264
I tried out a few different things later on yesterday, and it seems like the compiler does aleady suggest _adding_ "consgt braces" in situations where they might actually help. However, in the scenarios above, they wouldn't help, and as far as I can tell the compiler is fully aware of that since the only place they _could_ be added is not a place that has anything to do with what's causing the syn

[2021-02-19 15:17] oli-obk commented on #73537
closing as duplicate

[2021-02-19 15:17] #73537 closed

[2021-02-19 15:18] jonas-schievink commented on #82293
The unreachable code is *inside* the for loop, following the match. Since every arm of the match expression diverges, the code is indeed unreachable.

[2021-02-19 15:18] #82293 closed

[2021-02-19 15:18] SkiFire13 commented on #82293
Your posted code has `continue` commented out, while the one that gives the warning has it in the actual code.

The simplified example doesn't have a warning because the reachable part is outside the loop, while in the one that gives the warning is inside the loop but after the match. In fact [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9bb09682a8e92b9eeb9fa0

[2021-02-19 15:21] rylev opened #82294 "rustdoc renders items synchronously"
Currently `rustdoc` is [rendering every item synchronously](https://github.com/rust-lang/rust/blob/8599bff5a3556059817503030e248507706e96b4/src/librustdoc/formats/renderer.rs#L84-L109) meaning that when there are many, many items, it takes longer than it would if these items could be processed in parallel. Moving this to being parallel won't be easy as `clean::Item` and `html::rendered::Context` a

[2021-02-19 15:21] drahnr commented on #82293
You are correct :facepalm: mea culpa.

[2021-02-19 15:25] oli-obk commented on #66980
This is a duplicate of https://github.com/rust-lang/rust/issues/64445

[2021-02-19 15:25] #66980 closed

[2021-02-19 15:58] jyn514 commented on #82284
Assigning `P-critical` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382284.20.60.23!.5Bfeature(intra_doc_pointers).5D.60.20checks.20the.20active.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-19 16:00] hameerabbasi commented on #82282
Assigning `P-critical` as part of the [WG-prioritization discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382282.20Side.20effect.20handling.20in.20specialized.20zip.20implementati.E2.80.A6).

[2021-02-19 16:25] osa1 commented on #82250
Thanks @qiujiangkun.

@rustbot label: -E-needs-mcve

[2021-02-19 16:30] osa1 commented on #82290
Probably a duplicate of #82250.

[2021-02-19 16:36] estebank commented on #82264
You're right. Single ident paths are accepted without braces and have always been meant to be so. suggesting just the addition of the const arguments to the impl block would be enough for this case.

[2021-02-19 17:14] RReverser commented on #82277
UPD: as mentioned on the linked Wasmtime issue, turns out this is partially a Rust issue after all and it already has a pending fix in https://github.com/rust-lang/rust/pull/81984.

[2021-02-19 17:35] diekmann opened #82298 "Closure syntax error crashes compiler: my code where I confused a variable and a type crashes rustc"
### Code

[code]

This code is syntactically wrong, so it it okay that it does not compile. Yet, the compiler nicely asked me to report this crash.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### More

With rust nightly, everything works as expected, without crash:

[code]

[2021-02-19 17:40] CAD97 commented on #81996
Drive-by comment from a Windows user who doesn't do much FFI.

I honestly think that the fact that `#[repr(C)]` is a consistent, obvious layout the same between all targets is more useful than matching the C ABI of the platform. If you're doing FFI it's already important to be double checking that your layouts are correct, because you're `unsafe`ly promising that they are, and getting it wrong is

[2021-02-19 17:48] Lokathor commented on #81996
Which so brings to mind the fact that GPU users are using repr C to match various graphics layout specs.

So we do need a `repr(simple)` layout of some sort which is the same anywhere, *regardless* of what the local repr(C) does.

[2021-02-19 18:08] jyn514 commented on #82298
If this is fixed on nightly, there's no need to report it. Thanks though!

[2021-02-19 18:08] #82298 closed

[2021-02-19 18:12] HeroicKatora opened #82299 "Rustdoc Json: structs and functions deserialize incorrect"
I tried this code:

[code]

Running `rustdoc` on this this happily produces the following json which I would judge to be correct.

<details>

[code]

</details>

However, deserializing this with the types defined in `src/rustdoc-json-types/lib.rs` leads to the incoherent representation:

[code]

This happens because the `ItemEnum` is an untagged enum, the `UnionItem` variant appears before the `St

[2021-02-19 18:42] jyn514 commented on #82299
hey @CraftSpider ;) are you interested in taking a look?

[2021-02-19 19:02] the8472 commented on #82291
The gift that keeps on giving 🤣

Maybe it is time to get rid of `TrustedRandomAccess` as it exists today and replace it with a [slightly safer (but still unsafe) variant](https://github.com/rust-lang/rust/pull/81607#issuecomment-774271704)? One that imposes the additional requirement on the caller that it must bring the iterator back into a safe state after it is done iterating.

The upside would

[2021-02-19 19:08] CraftSpider commented on #82299
Yes, I'll take a look at this

[2021-02-19 19:14] CraftSpider commented on #82299
@rustbot claim

[2021-02-19 20:11] SkiFire13 commented on #82291
I don't know, I feel like that would just make more complex to upheld the invariants. IMO a good improvement over the current `__iterator_get_unchecked` would be separating forward and backward iteration, this way it becomes easier to keep track of the state and I think would also make it possible to implement them for `vec::IntoIter<T> where T: Drop`

[2021-02-19 20:17] jrmuizel commented on #51608
See also #53929

[2021-02-19 20:18] the8472 commented on #82291
I don't see how separating the forward and backward state would help with a drop implementation. The issue is that the source (`IntoIter`) currently does not have access to that state, instead the consumer drives the iteration by direct access through `__iterator_get_unchecked` and never informs the source about it.

[2021-02-19 20:44] SkiFire13 commented on #82291
It would help because it allows the source iterator to keep track of its state by updating it when the method is called. Anyway, looks someone [tried this approach back in 2016](https://github.com/rust-lang/rust/pull/33090#issuecomment-212155768) and it resulted in worse optimizations but there's no data on that. Maybe LLVM got better in the meantime, or maybe that implementation could have been b

[2021-02-19 20:57] cjgillot opened #82301 "Rustdoc does not apply cfg(parallel_compiler) when bootstrapping"
Found while testing #70951.

I tried this code:

In rustc_middle:
[code]

In downstream crate rustc_query_system:
[code]

I expected to see this happen: rustdoc run successfully.

Instead, this happened: rustdoc complains of missing impl-item `deadlock`.

My understanding is that `./x.py check` compiles with `parallel_compiler = true` and
puts the trait with `deadcode` in its metadata.
Rustdoc tri

[2021-02-19 21:03] ojeda commented on #81996
If you only target a single platform, perhaps. However, for those writing portable software, it means they will need to think about all the possible layouts for all targets out there. The idea is to leave that burden to the compiler instead.

We need to differentiate several use cases:
  - "Exporting" Rust items in a consistent way in memory. That is, your program is the one controlling the layout

[2021-02-19 21:03] petertodd commented on #81270
FWIW this is also triggered with uninhabited types. Though looks like only when drop glue is involved. Eg `Box<(), NeverAlloc>` works but `<Box<Box<()>, NeverAlloc>` doesn't.

[2021-02-19 21:05] fanninpm commented on #82073
Minimization:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=359d88037cfdee97707619df172eeded)

[2021-02-19 21:25] SkiFire13 opened #82303 "Zip's __iterator_get_unchecked doesn't preserve side-effects"
I tried this code:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ea8aba7edc1f116ef5bf2bac4056464c)

I would expect the two iterators to behave the same, so either both asserts fail (actually the first should stop the program) or neither of them. Instead, the second iterator doesn't preserve side-effects. causing the second assert (and only that

[2021-02-19 21:44] cuviper commented on #80810
FWIW, after a successful [scratch build](https://koji.fedoraproject.org/koji/taskinfo?taskID=62262040), I pushed [this revert patch](https://src.fedoraproject.org/rpms/rust/blob/8148cbf67890e233c779daeddd4a4dfd5557fdf2/f/0001-Revert-Auto-merge-of-79547.patch) to Fedora so we can ship 1.50.

I'll continue trying to narrow down the effect before taking action here in rust-lang.

[2021-02-19 23:48] newpavlov commented on #55458
The autovectorization issue is fixed, but the first link still results in a better assembly. For some reason IIUC the compiler inserts a tail processing code in two other cases, even though chunks are guaranteed to be always 128-byte long.

[2021-02-20 00:26] tgnottingham commented on #45774
Things have changed a bit since the bug was opened, on 1.21.0 I believe, and from the last update from steveklabnik. Here's the [godbolt](https://rust.godbolt.org/z/Ghxrn7) for 1.50 with `-C opt-level=3`.

[code]

`<P as A>::k` seems to have been totally eliminated on account of being identical to `<O as A>::k`, but `R::j` is still a bit weird. The `add` was presumably left behind from a previous

[2021-02-20 00:48] estebank commented on #82290
I think I found the problem, lowering not being done in source order would cause this. The block of the then expression was being lowered _before_ the condition, leading to the node corresponding to the `x` pattern not being populated when expected.

[2021-02-20 01:00] HTG-YT commented on #82250
Not sure if this helps: I ran `bisect-rustc` on my host target `x86_64-pc-windows-msvc`, and it is shown that it ICEd back in 2018 (even before the initial implementation of the `let_chains` feature.

[2021-02-20 01:08] jhpratt commented on #54140
Given the tendency towards minimal subsets of features, is there any reason why this shouldn't be stabilized in its current form, perhaps excluding warnings? Having the ability to add errors with notes on a given span would still be incredibly useful.

[2021-02-20 01:20] jyn514 commented on #55938
This was fixed at some point, stable now correctly gives an error:

[code]

[2021-02-20 01:20] #55938 closed

[2021-02-20 01:21] jyn514 commented on #55938
This seems useful - could you open a separate issue for it?

[2021-02-20 01:23] jyn514 commented on #75135
This seems like a cargo bug, it should propagate the flag to rustdoc.

I'm not sure what `reason` is or what it has to do with rustdoc. Is this a cargo field? If so I think this should be moved to rust-lang/cargo.

[2021-02-20 02:00] estebank commented on #58504
Triage: no change.

[2021-02-20 02:16] estebank opened #82312 "Emit suggestion for `where &T: Trait`"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=15607160673cf42aa21981d222296eee):

[code]

we currently emit

[code]

`'static` suggestions are a lot of the time incorrect, but in this case what [we can suggest](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9751720f5fe25e6787b9ab332c85f092) is

[code]

and both errors go away. Ideally we

[2021-02-20 02:19] estebank commented on #81971
The first case is now handled, the second case of type params masking types is yet to be resolved. I think at least pointing out that that has happened on all E0277 by visiting every type involved in the obligation and seeing if there's any type parameter with the same name as another type in scope and emitting a note explaining that that's what's happening would improve the situation.

[2021-02-20 02:52] estebank commented on #57994
Triage: no change.

[Yet another error that needs to be accounted for](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d753d89887ddc01e983d65b2d565115e):

[code]

[2021-02-20 02:56] estebank commented on #39959
Triage: almost no change. The requirements list now hides the intermediary steps if they repeat, so at least now the output is less verbose.

The case still doesn't have a span.

[2021-02-20 03:15] jonas-schievink opened #82314 "x86 `asm!` accepts "lock" as a standalone instruction"
[code]

This is not rejected, and, according to objdump, results in the following assembly (when optimizations are on):

[code]

I'd expect this to result in an error, since `lock` by itself isn't a valid instruction (it doesn't really seem desirable to let `asm!()` affect how rustc-produced instructions are decoded).

[2021-02-20 04:00] frewsxcv commented on #82168
Would it be more clear if the help message also called out `IntoIterator`? For example:

[code]

[2021-02-20 07:29] osa1 commented on #75439
Update: my patch works mostly fine. There are two failures in the test suite, both are caused by disappeared `StorageDead` instructions after merging the duplicate blocks. I don't make any changes related to drop scheduling so I'm not sure what the reason is. I asked a question about this [on Zulip][1]. Once that's fixed it will be passing the test suite and I'll submit a PR.

In the meantime, if

[2021-02-20 07:49] osa1 opened #82317 "config.toml.example: wasi-root field is in a wrong section"
The `wasi-root` field needs to be in section `target.wasm32-wasi`, but in `config.toml.example` it's in `target.x86_64-unknown-linux-gnu` section. Just enabling `wasi-root` causes an unhelpful error message.

[code]

If having a `wasm32-wasi` section always in the example config file is fine then we could move the section and `wasi-root` field right before the beginning of next section (e.g. `[dis

[2021-02-20 08:55] GopherJ commented on #77018
I think we can close this as it only happened one time

[2021-02-20 08:55] #77018 closed

[2021-02-20 09:01] raphaelcohn opened #82319 "Rust preventing calculations on const generics"
I'm wrapping an AVX512 intrinsic, one of whose arguments needed to be const. So, far, so good. However, the wrapper of my wrapper needs to do a simple const calculation before use, and my old friend, `[E0401]: can't use generic parameters from outer function` (which has always struck me as broken regarding const, especially when it relates to a generic parameter as part of a struct's impl, when it

[2021-02-20 09:11] ojeda opened #82320 "rustc crash when proc macro panics if compiled with `-Cpanic=abort`"
### Code

Panicking proc macro `p.rs`:
[code]

User `m.rs`:
[code]

Then:
[code]

### Meta

Reproduces in 1.49.0, 1.50.0 as well as nightlies.

### Error output

Depends on how the proc macro is compiled. It can range from some output:

[code]

To nothing at all:

[code]

[2021-02-20 09:22] ojeda commented on #82320
By the way, passing `-Z proc-macro-backtrace` does display an ICE, which is useful to at least know in which line the proc macro failed, e.g.:

    thread 'rustc' panicked at 'explicit panic', p.rs:5:5

[2021-02-20 10:12] TyPR124 commented on #77998
Can this be added to `SplitWhitespace` and `SplitAsciiWhitespace`?

[2021-02-20 10:23] RalfJung commented on #46188
Miri checks the UB [listed here](https://doc.rust-lang.org/reference/behavior-considered-undefined.html), and so far there is no Rust-level UB related to these invalid declarations.

So arguably, right now, the code is fine but the LLVM backend handles it incorrectly. However, I am not sure if there is any way for the LLVM backend to prevent LLVM from "merging" these prototypes, or if there is any

[2021-02-20 10:51] WaffleLapkin commented on #77998
@TyPR124 as [noted](https://github.com/rust-lang/rust/pull/75265#issuecomment-715048698) in the implementation PR discussion it is possible, but not trivial.

Both `Split*Whitespace` are using [iterators internally](https://github.com/rust-lang/rust/blob/da5f7f10936198bad22c370118bad1ac332d2f46/library/core/src/str/iter.rs#L1136-L1161) which doesn't allow to access it's inner parts ([^1](https://g

[2021-02-20 11:11] SkiFire13 commented on #82319
`const`s are [items](https://doc.rust-lang.org/reference/items.html), and they (excluding impl and trait items) can't inherit generic parameters from the thing they're defined in. The exact same "issue" is present with `static`s that use a generic type from the environment.

If you want to do calculations with const generics you'll need the `const_evaluatable_checked` feature, however it is curren

[2021-02-20 11:41] kornelski opened #82323 "Struct with an error magically becomes a function, causing misleading diagnostics (`arc` is a function, perhaps you wish to call it)"
[code]

It correctly diagnoses that `oops` is undeclared. It should stop after this error, and not display any further errors related to the incomplete `arc` object.

But it continues and displays a second error, which doesn't make any sense and has a nonsense suggestion:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-02-20 11:57] matthiaskrgr opened #82325 "ICE: assertion failure with -Zunpretty=mir-cfg"
### Code
code from glacier `fixed/79666.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./79666.rs -Zunpretty=mir-cfg`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-20 12:00] matthiaskrgr opened #82326 "ICE: do not use `optimized_mir` for constants: Const with -Zunpretty=mir-cfg"
code from glacier  fixed/21073.rs
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./21073.rs -Zunpretty=mir-cfg `
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-20 12:01] RalfJung commented on #80647
Also see [this](https://github.com/rust-lang/rust/pull/82091#discussion_r579643179) for another opportunity: `super_projection` should probably use `iter_projections`, and `visit_projection_elem` should take `PlaceRef`.

[2021-02-20 12:18] matthiaskrgr opened #82327 "ICE: delay span bug / failed to process buffered lint here: lint-qualification.rs with -Zunpretty=everybody_loops"
### Code
code reduced from `./src/test/ui/lint/lint-qualification.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/lint/lint-qualification.rs -Zunpretty=everybody_loops`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-20 12:25] #82319 closed

[2021-02-20 12:27] matthiaskrgr opened #82328 "ICE: TypedAnnotation::typeck_results called outside of body: foo(-128..=127: i8) with -Zunpretty=hir,typed"
### Code
code reduced from `./src/tools/rust-analyzer/crates/syntax/test_data/parser/ok/0047_minus_in_inner_pattern.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  -Zunpretty=hir,typed   ./src/tools/rust-analyzer/crates/syntax/test_data/parser/ok/0047_minus_in_inner_pattern.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</de

[2021-02-20 12:32] matthiaskrgr opened #82329 "ICE: print_if saw if with weird alternative, if-let.rs with -Zunpretty=hir,typed"
### Code
code reduced from `./src/test/ui/expr/if/if-let.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  -Zunpretty=hir,typed  ./src/test/ui/expr/if/if-let.rs `
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-20 12:46] the8472 commented on #82291
https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Improving.20TrustedRandomAccess.20and.20its.20Zip.20specialization/near/227088066

[2021-02-20 13:00] phil-opp commented on #52362
I don't want to spam this issue, but I wanted to ask if the situation maybe changed with the [switch to GitHub actions](https://blog.rust-lang.org/inside-rust/2020/07/23/rust-ci-is-moving-to-github-actions.html)?

Also, is there any tracking issue for things blocked on CI capacity? In a quick search, I found https://github.com/rust-lang/rust/issues/42639, https://github.com/rust-lang/rust/issues/5

[2021-02-20 13:09] Mark-Simulacrum commented on #82317
I'd be happy to accept a PR moving it.

[2021-02-20 15:59] clehner commented on #67014
This repo contains its licenses in the files `COPYRIGHT`, `LICENSE-APACHE` and `LICENSE-MIT`. But it also depends on external packages (such as `hashbrown`) from `crates.io`. Existing tools for analyzing crate dependency licenses based on traversing the filesystem and/or reading the output of `cargo metadata`, such as [cargo-license](https://github.com/onur/cargo-license/), [cargo-about](https://g

[2021-02-20 16:06] Swatinem opened #82333 "`force-frame-pointers` on Windows does not allow directly unwinding"
As a learning excercise, I’m trying to build my own stack unwinder, where I first read the `rsp` and `rbp` registers, and later on unwinding from them. (using `-Cforce-frame-pointers=yes` to get base pointers)

[code]

When compiling this on linux, or in the compiler explorer, I do get the following expected assembly:

[code]

However, compiling this on Windows gives me the following disassembly:

[2021-02-20 16:15] matthiaskrgr commented on #82329
@rustbot modify labels: requires-nightly

[2021-02-20 16:15] matthiaskrgr commented on #82328
@rustbot modify labels: requires-nightly

[2021-02-20 16:15] matthiaskrgr commented on #82327
@rustbot modify labels: requires-nightly

[2021-02-20 16:15] matthiaskrgr commented on #82326
@rustbot modify labels: requires-nightly

[2021-02-20 16:15] matthiaskrgr commented on #82325
@rustbot modify labels: requires-nightly

[2021-02-20 16:16] osa1 commented on #82326
Duplicate of #81918.

[2021-02-20 16:18] osa1 commented on #81918
#82326 has a smaller repro.

[2021-02-20 16:54] Aaron1011 commented on #81920
This issue is unrelated to either of those

[2021-02-20 16:55] jonasmalacofilho opened #82334 "Transmute does not see the size of generic-over-constants types"
I tried this code:

[code]

I expected a successful compilation.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Note: this also reproduces with the current beta (`1.51.0-beta.2`) on the Rust Playground [[link]](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=6002f984b0cdfb5470943805fa6aae12).

<details><summary>Backtrace</summary>
<p>

[code]

[2021-02-20 16:56] jgarvin opened #82335 "Storing generic_array::GenericArray in union triggers ICE"
### Code

typenum="1.12.0"
generic-array="0.14.4"

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5c8a79854df7913050470fbaca231f2f)

[code]

### Meta

This bug exists both on current nightly and *stable*. Nightly output:

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[code]

</p>
</d

[2021-02-20 17:08] leonardo-m opened #82336 "[ER] Three Vec functions"
Some member functions that could be added to Vec:

This is similar to `Vec::remove` but like `Vec::pop` it returns an `Option`, avoiding panics:

[code]

(In alternative `Vec::pop_front` could often suffice).

- - - - - - - - - - - - - -

Probably this was already suggested elsewhere:

[code]

They contain a `debug_assert!()` to test the bounds only in debug builds. I think such `debug_assert` can

[2021-02-20 18:31] Nemo157 commented on #75135
It does, but as @GuillaumeGomez mentioned (and expanded on on discord iirc) the coverage output is treated as an "output artifact" not an "error message" so obeys the `--output-format` flag instead of the `--error-format` flag.

`reason` is a field added to every json message by `cargo` to allow distinguishing them, it takes the `--error-format=json` message from the compiler and re-emits it with

[2021-02-20 19:26] jyn514 commented on #82336
@leonardo-m this can't work because the standard library isn't recompiled between debug and release builds, it's always compiled in release mode. Adding a `debug_assert!` to get_unchecked seems fine but it won't affect anything other than testing the standard library itself.

[2021-02-20 19:29] RReverser opened #82339 "Suggestion: treat WASI preopen dirs as path prefixes"
Rust stdlib already has a concept of path prefixes ([`std::path::Prefix`](https://doc.rust-lang.org/std/path/enum.Prefix.html), [`std::path::PrefixComponent`](https://doc.rust-lang.org/std/path/struct.PrefixComponent.html) etc.), although they are applied only to Windows paths.

WASI paths are currently treated as starting with a root (`/`), even though WASI recognises only paths starting with a s

[2021-02-20 19:39] SoniEx2 opened #82342 "Rustdoc: emit hidden sections of doctest as <span hidden>"
It would be nice if rustdoc would emit hidden sections as `<span hidden>`, as those could be used to reconstruct the full doctests from the raw HTML. The rest of the docs are unimportant but having the doctests be easily machine-readable, even from the HTML, would be nice. (It somewhat easier to parse HTML than parse docs from source, after all. Mostly because HTML is ubiquitous so everyone has li

[2021-02-20 19:48] jyn514 commented on #82342
Parsing rustdoc HTML isn't really supported. I'd encourage you to use `--output-format json`; or if that doesn't work for your use case, open an issue as to why.

[2021-02-20 20:02] SoniEx2 commented on #82342
The json format is too rustdoc-specific whereas HTML code blocks just work with general-purpose tools.

(... if only rustdoc would emit them as `<pre><code>` instead of just `<pre>`, that is)

[2021-02-20 20:15] the8472 commented on #82336
I think `Vec` doesn't implement it because it would be a performance footgun as it has to move the entire Vec on each invocation, i.e. it's *O(n)*, it's better to use VecDeque in such a case where pop_front is *O(1)*.

[2021-02-20 20:17] tmiasko opened #82344 "Standard streams hold a lock while executing arbitrary user code"
The implementation of `Write::write_fmt` for `&Stdout` & `&Stderr` holds an
internal lock while executing an arbitrary user code. As a result, it might
introduce a lock order inversion and a deadlock, either between themselves or
another user held lock. For example:

[code]

[2021-02-20 20:24] Kobata commented on #82333
This appears to generally just be differences in calling conventions: The form for Windows matches the [Microsoft documentation](https://docs.microsoft.com/en-us/cpp/build/prolog-and-epilog)

Specifically, the frame pointer if used on Windows *does not* always equal the initial entry value of `rsp`, but is offset (by an amount that can be specific to each function, it can be anywhere from 0-240 an

[2021-02-20 20:24] leonardo-m commented on #82336
I see, thank for the answers.
Regarding Vec::pop_index, it's not slower than Vec::remove, the difference is just in the API, it returns an Option...

[2021-02-20 20:28] zackmdavis commented on #80165
#60199 and #71957 should be fixed before promoting `elided_lifetimes_in_paths`.

[2021-02-20 20:31] mgeisler commented on #57665
Hey, textwrap author here. I don't think this can be reproduced any longer: updating to the 0.10.0 tag of textwrap and trying to compile with Rust 1.31.1 yields
[code]

The dependencies have made new patch releases which push up the minimum supported Rust version. I suggest closing this as not reproducible.

[2021-02-20 21:29] Swatinem commented on #82333
@Kobata Thanks for pointing me to this. I think this is really what is happening according to the examples given in the [exception handling docs](https://docs.microsoft.com/en-us/cpp/build/exception-handling-x64). From that perspective it makes total sense, just unfortunate that you can’t really use the `force-frame-pointers` option to use just reg/stack-based unwinding without consulting any side

[2021-02-20 22:04] jyn514 commented on #82336
This was discussed and rejected in https://github.com/rust-lang/rust/pull/77480. Some relevant comments:

So `pop_index` would need an RFC, and the others are not possible to write.

[2021-02-20 22:04] #82336 closed

[2021-02-20 22:07] jyn514 commented on #82073
Even smaller:
[code]
Which means this is a duplicate of https://github.com/rust-lang/rust/issues/82290 and https://github.com/rust-lang/rust/issues/82250.

[2021-02-20 22:07] #82073 closed

[2021-02-20 22:11] jyn514 commented on #81845
Duplicate of https://github.com/rust-lang/rust/issues/82250.

[2021-02-20 22:11] #81845 closed

[2021-02-20 22:12] jyn514 commented on #82250
Duplicate of https://github.com/rust-lang/rust/issues/82290.

[2021-02-20 22:12] #82250 closed

[2021-02-20 22:35] nagisa commented on #81946
I believe we use unpatched/upstream LLVM in for the llvm-9 CI jobs, which would make this technically a not-a-rustc-issue, given that the original fix relied on patching LLVM (10 &later)

[2021-02-20 23:04] ehuss opened #82348 "Tracking Issue for exclude-should-panic"
This is a tracking issue for the `--exclude-should-panic` flag of libtest.

This prevents tests annotated with the `should_panic` attribute from running.

Implementation: #58689

### Unresolved Questions

- [ ] Is this useful for anyone?  It was added for miri, but as of https://github.com/rust-lang/miri/pull/1104, it appears miri no longer needs it.

[2021-02-20 23:04] nagisa commented on #82333
Given the Kobata's comment, removed the unsound flag.

[2021-02-20 23:07] Mark-Simulacrum commented on #82348
We had wanted this in https://github.com/rust-lang/rust/issues/55861#issuecomment-467560308, but ultimately those tests were also disabled. IIRC, I also ran into the problem that usually using this in a non-internal way (e.g., for miri) you also want it for rustdoc.

[2021-02-20 23:14] trevyn commented on #62633
Ok, how do we get a human review of this? :)

[2021-02-20 23:24] jsha commented on #82286
Opened issued on rust-lang/simpleinfra instead, so closing this. Thanks for the guidance!

[2021-02-20 23:24] #82286 closed

[2021-02-20 23:27] the8472 commented on #82334
Have you tried `transmute_copy`?

[2021-02-20 23:28] nikic commented on #81946
Right, I don't think there's anything we can really do here, as it's a bug in external LLVM. I think simply adding a `min-llvm-version` to the test would be fine.

[2021-02-20 23:34] Mark-Simulacrum commented on #82334
I think this is expected - transmute doesn't work with generics of any kind AFAIK. That said, the error could be better.

I think this is a duplicate of https://github.com/rust-lang/rust/issues/61956, though. Thanks!

[2021-02-20 23:34] #82334 closed

[2021-02-20 23:45] camelid commented on #82042
@jsha can you reproduce with `/beta/std` in Chrome? I can only reproduce in Chrome with `/stable/std` (which is currently 1.50).

[2021-02-20 23:46] camelid commented on #82042
As I understand it, this bug is only present in Chrome (maybe Edge etc. too) with rustdoc 1.50.0 or older. So if `@jsha` cannot reproduce with beta and nightly, I think this should probably just be closed.

[2021-02-20 23:49] jsha commented on #82042
Indeed, this does not reproduce for me in `/beta/std` and `/nightly/std`. Closing, thanks!

[2021-02-20 23:49] #82042 closed

[2021-02-21 00:05] sunfishcode commented on #82339
My initial thought is, the preopen path mechanism is a libc abstraction, so instead of exposing more details about how it works, we should ideally either extend the abstraction so that applications don't need to know about it, or give applications better ways to skip the abstraction and work in terms of WASI concepts directly.

If code is using preopens and finding things that don't work, can we i

[2021-02-21 00:06] lucas-deangelis commented on #82209
Hi, I don't know if anyone is already planning to work on it, but if not, would it be a good first issue? I'm still new to the language but I'd like to start contributing.

[2021-02-21 00:12] zackmdavis commented on #80929
I think my [previous comment](https://github.com/rust-lang/rust/issues/80929#issuecomment-761720615) was wrong. As part of a [Rust Awesome Mentors](https://rustbeginners.github.io/awesome-rust-mentors/), @MoreTacos and I tried that (changing the text to `"function"`), and overall, it made the error messages worse overall: a lot of inline errors in the UI tests became less clear when they said (_e.

[2021-02-21 00:19] #81839 closed

[2021-02-21 00:40] trevyn commented on #62633
I was a “weak merge” voice earlier, but after considering, I’m a “strong merge” voice. For one reason: It encourages a modern chained-monad functional programming style, which was also one of the considerations in the `.await()` postfix syntax decision, which I think has worked very well.

[2021-02-21 00:55] camelid commented on #82209
Yes, this should be a good first issue. You can claim it with `@rustbot claim`. Post here or [on Zulip](rust-lang.zulipchat.com/) if you have any questions :)

[2021-02-21 01:00] ThePuzzlemaker commented on #82083
I'm gonna try to take a shot at this.
@rustbot claim

[2021-02-21 01:59] mingweishih commented on #72274
Is there any follow-up on this issue?

[2021-02-21 03:54] buzmeg commented on #62633
@KodrAus @Amanieu @BurntSushi @dtolnay @m-ou-se @sfackler

Why did this close given the comments flying around with no response?

[2021-02-21 03:54] jonasmalacofilho commented on #82334
Oh, I hadn't come across this yet.

I also missed the other issue; apparently I made a typo somewhere when searching for existing issues.

Sorry about for noise, and thanks!

---

I did and it compiles, since it doesn't check the sizes.  And the optimizer appears to elide the copy away, as desired.

Still, thanks! : )

[2021-02-21 04:15] SoniEx2 opened #82357 "Using a type alias for dyn Trait somehow imports the whole Trait, but also not really"
I tried this code:

[code]

I expected to see this happen: Should've printed 1, as the trait is not in scope, so the inherent impl on the type should be used instead of the trait impl. And yet the trait impl isn't used either.

Instead, this happened: The following error happens:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detai

[2021-02-21 05:21] Manishearth opened #82358 ""Consider importing one of these" diagnostic should perhaps not suggest `use` statements from the parent module"
[code]

([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8c9a56f90c59b48525d7407f36153fac)]

[code]

It's not really standard style to reuse _private_ `use` statements from other modules, at least not in my experience. Should the suggestion filter these out?

cc @estebank

[2021-02-21 06:56] m-ou-se commented on #62633
It didn't close yet. The bot just comments that 10 days after FCP started.

---

Marking this as waiting-on-team.

[2021-02-21 06:58] thomcc commented on #82314
It seems like a pretty esoteric case, and also hard to prevent in the general case.

[2021-02-21 07:22] osa1 commented on #82317
@rustbot claim

[2021-02-21 07:47] isaacg1 opened #82361 "Incorrect help text when `if` and `else` differ by reference"
I tried this code:

[code]

I expected to see this happen: I expected that the help text would give syntactically correct code, or that there would be no help text.

Instead, this happened:

[code]

The provided code snippet is not valid - it tries to deference the else-block, which is impossible. Better would be to put the `*` inside the else-block.

### Meta

`rustc --version --verbose`:
[code]

[2021-02-21 08:12] m-ou-se commented on #62633
Here's my view on this:

The main purpose of `Option::unwrap()` or `Result::unwrap()` is to get the value held inside, which has no other option but to panic when tha value isn't there. Panicking is not its main purpose. This is similar to indexing an array: `a[3]` will panic if the array doesn't have a fourth element, but that bounds check is not its main purpose.

For example:
[code]
Here, if yo

[2021-02-21 08:18] osa1 commented on #81918
@rustbot claim

[2021-02-21 08:38] m-ou-se commented on #62633
`Result::unwrap();` on the other hand does have added value over `assert!(result.is_ok())`: It puts the value held in the `Err(..)` in the panic message. That's something `assert!()` couldn't do by itself.

[2021-02-21 09:13] KodrAus commented on #81944
@WaffleLapkin I just missed those questions that came up after the PR approval is all 🙂 They're in the tracking issue now.

[2021-02-21 09:23] osa1 commented on #82361
@rustbot claim

I have a fix for this bug + an improvement. Gotta got for now but will submit the PR later today.

[2021-02-21 09:35] trevyn commented on #62633
I would expect that _unwrapping_ is the main purpose of any `unwrap` function, and that the value held inside the wrapping is returned as a secondary consequence. This secondary consequence is often the reason *why* we unwrap, but best not to conflate that with *what unwrapping is*.

Further, `Option::None` is not any ordinary enum discriminant, it explicitly represents a container — a wrapper — t

[2021-02-21 09:41] raphaelcohn commented on #82319
@jonas-schievink You've closed this without even having the common courtesy to explain to me why that is; I don't appreciate that.

@SkiFire13 I'm aware of the link you've made. It doesn't stop me thinking it's a bug. Rust's `const` have never been particularly satisfying or rational as a consumer of the the language (can be declared after use in a method; adding a generic parameter to a function

[2021-02-21 09:42] KodrAus opened #82363 "Tracking Issue for NonZero_c_* integers"
Feature gate: `#![feature(raw_os_nonzero)]`

This is a tracking issue for non-zero variants of `c_int` type aliases.

### Public API

[code]

### Steps / History

- [x] Implementation: #82228
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- [ ] Naming.....

[2021-02-21 09:48] petrochenkov commented on #72274
@mingweishih
This is still waiting on someone to implement it.

[2021-02-21 09:55] tesuji commented on #82363
I think you mean *Usize or *Isize in NonZero_c_ulong type and friends.

[2021-02-21 10:05] raphaelcohn commented on #81552
@minybot Oh, there's no doubt Rust is the better choice for modelling problems (particularly for domain modelling); I and my colleagues have been using it for nearly 5 years now, and we wouldn't even have attempted the large and complex problems we use it for if we'd had to use C or C++.

Rust's great strength for me is not that it's a easier to code something (or quicker), but that's possible to

[2021-02-21 10:06] m-ou-se commented on #62633
This confuses me. Removing the wrapper around a value *is* unwrapping, right? I'm not sure what you mean here with 'unwrapping' if it's not to get to the value.

The documentation explains that `None` has no value. It doesn't wrap anything, there's nothing inside of it. Only `Some(..)` wraps a value. (Unlike `Result`, where both `Ok` and `Err` wrap a value.)

But you can't unwrap something if ther

[2021-02-21 10:28] tanriol commented on #62633
One possible alternative that may be interesting for more than just `Option` would be to have `assert_true` and/or `assert_false` methods on `bool` as a general-purpose chainable assertion.

[2021-02-21 10:41] SkiFire13 commented on #82319
It may be counterintuitive but it's definitely intended behaviour, so I wouldn't call it a bug. This however doesn't mean that the language is not open to changes, there's always the [internals forum](https://internals.rust-lang.org/) to propose and discuss them.

This is however perfectly intuitive if it's declared outside a function.

I don't think I understand how this may happen other than sha

[2021-02-21 11:03] raphaelcohn commented on #82319
@SkiFire13 Thanks for the explanation. We're going to disagree on the use of the word bug. That's ok; my view comes from a much wider perspective, and I understand where you're coming from.

I agree, and I wouldn't want any language to repeat C's need to declare before use; it's verbose and violates pyramid thinking and how we usually process information we read.
It does violate common human intui

[2021-02-21 11:21] Darksonn opened #82365 "Lifetime parameters in type aliases do not need to be used in the definition"
The following code compiles, even though it would emit an error about the lifetime being unused in any other context:
[code]
Interestingly enough,
[code]
fails to compile with
[code]
I'm not sure what exactly is going on here, but if nothing else, this error message seems pretty confusing.

context: [link](https://www.reddit.com/r/rust/comments/logr07/crust_of_rust_subtyping_and_variance_video/go7

[2021-02-21 11:40] the8472 commented on #82344
https://doc.rust-lang.org/std/io/fn.stdout.html

[2021-02-21 11:46] camzilla1050 opened #82366 "error: could not compile `solana-program-test`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-21 12:04] tmiasko commented on #82344
Let me clarify if existing description wasn't enough:

The synchronization could be at the level of write call (which doesn't execute
arbitrary user code) rather than formatting call (which does execute arbitrary
user code), avoiding deadlock in this situation.

In the case user takes the lock manually, I would expect them to have
responsibility to avoid such problems.

[2021-02-21 12:23] #82254 closed

[2021-02-21 12:25] the8472 commented on #82344
Wouldn't that require additional buffering to maintain the no-tearing properties that the lock offers?

[2021-02-21 12:26] RalfJung commented on #81944
That is not true: `split_at_spare_mut` creates mutable references to the entire initialized part of the vector and will thus invalidate any preexisting pointers. `spare_capacity_mut`, if it is implemented carefully (which I have not checked) could be made to *not* invalidate existing pointers into the initialized part of the vector.

[2021-02-21 12:34] RalfJung commented on #82189
Cc @oli-obk @eddyb any idea what might be causing this?

[2021-02-21 12:37] RalfJung commented on #82101
You used the term "unsound", which in Rust means "can cause UB without using unsafe code". I do not understand from your description how unsoundness can arise here. Could you go into more detail about that?

[2021-02-21 12:37] shlevy commented on #23246
I think perhaps we should reopen this one. The associated RFC doesn't seem to justify a compiler error in code like:

[code]

[2021-02-21 12:38] RalfJung commented on #82100
This looks like an incorrect ABI implementation then, but as long as Rust is self-consistent, "unsound" is the wrong term here I think?

[2021-02-21 12:49] RalfJung commented on #82101
So the expected behavior here is that `#[repr(C, align(n))]` on an enum yields a layout that's the same as "an aligned enum in Clang, GCC, and MSVC" (I don't know the syntax for that)? I can't say from the RFC is this was considered before.

Is that specific to enums, or does this also lead to differences with `#[repr(C, align(n))]` structs?

Can't this lead to types whose alignment is larger than

[2021-02-21 12:52] aWeinzierl opened #82368 "unexpected panic"
I accidentally broke the compilation.
The compiler output asked me to report this here:

### Code

https://github.com/aWeinzierl/minesweeper-rs/tree/uwp

### Meta

`rustc --version --verbose`:
[code]

Windows 10 Pro
`[System.Environment]::OSVersion.Version`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
No stacktrace is provided - tried settin

[2021-02-21 13:00] trevyn commented on #62633
|method|meaning|
|-|-|
|`Result::unwrap()` | "Assume `Ok` variant and unwrap that, otherwise panic." |
|`Result::unwrap_err()` | "Assume `Err` variant and unwrap that, otherwise panic." |
|`Option::unwrap()` | "Assume `Some` variant and unwrap that, otherwise panic." |
|`Option::unwrap_none()` | "Assume `None` variant and unwrap that, otherwise panic." |

The panic when we `Option::None.unwrap()`

[2021-02-21 13:02] RalfJung commented on #82101
Cc https://github.com/rust-lang/rust/issues/81996 -- the discussion about the purpose of `repr(C)` over there also seems relevant here.

[2021-02-21 13:07] BurntSushi commented on #62633
I agree with closing this. Using a normal assert for cases like these is more than good enough. I also find the notion of unwrapping _nothing_ quite strange and don't see a lot of value, if any, in adding it.

[2021-02-21 13:16] lucas-deangelis commented on #82209
Thanks! I'll have a look at it. @rustbot claim

[2021-02-21 13:31] danielhenrymantilla commented on #54722
Regarding the hygiene, there has just been an example of a user being confused by this never-seen-elsewhere `Span::def_site()`: https://stackoverflow.com/a/66302653/10776437

I don't know if weakening the hygiene is necessary, but at the very least a way to choose another transparency (_e.g._, opt into `::quote::quote_spanned!(Span::mixed_site() =>`-like behavior) would be desirable.

[2021-02-21 13:47] jonas-schievink commented on #82368
duplicate of https://github.com/rust-lang/rust/issues/56935

[2021-02-21 13:47] #82368 closed

[2021-02-21 14:19] trevyn commented on #62633
It's no stranger than a function returning _nothing_.

There's prior art in dataflow programming: The *production* of the value (even though in this case it is the unit value) is the thing of interest, the *purpose* of the function. Same with `unwrap_none()`: The *production of the value* is the result of interest, not necessarily the value itself (or whether it exists). It is the reified essence

[2021-02-21 14:20] chinedufn opened #82371 "LLVM global constructor support when targeting WebAssembly"
Opening this PR as a followup to @alexcrichton 's comment on supporting static constructors in wasm-bindgen https://github.com/rustwasm/wasm-bindgen/issues/1216#issuecomment-459137498 .

I'd like to implement support for static constructors in wasm on the rustc side.

I'm a first time contributor that could use some guidance.

I've outlined what I think needs to get done below. In areas where it s

[2021-02-21 14:24] the8472 commented on #82303
We could also update the documentation to clarify that next() might not always be called on empty iterators.

For example a valid implementation would be checking `size_hint()` before iterating and bailing out early in case the upper bound is 0. It should be permissible for safe code to make these kinds of checks, `size_hint` only can't be relied on to uphold unsafe contracts. Whether side-effects

[2021-02-21 14:24] BurntSushi commented on #62633
I understand what you're saying. I just don't find it compelling.

[2021-02-21 14:25] aclysma commented on #62633
There are comments with lots of +1s from before and after FCP. Can we please get responses to those before closing this?

[2021-02-21 14:26] chinedufn commented on #82371
I'm working on landing support for this in rustc. After that I will submit a PR to wasm-bindgen.

https://github.com/rust-lang/rust/issues/82371

[2021-02-21 15:04] #81632 closed

[2021-02-21 15:20] ijackson commented on #79630
I just stumbled across this.  It's weird.  In my local docs install the primitive links in the "crate level docs" for std, and in the "all items", are right and point to the local copy of std's docs.  It seems this only triggers with an explicit `primitive@`?

The code in https://github.com/rust-lang/rust/issues/79630#issuecomment-737388170 is strange.  Why would it ever be right to hardcode the u

[2021-02-21 15:22] trevyn commented on #62633
@BurntSushi Do you agree that the existing methods on `Result` and `Option` suggest the possible presence of and specify the exact meaning of `Option::unwrap_none()`, and that the `()` which it would return meaningfully represents the result of an unwrapping?

[2021-02-21 16:02] BurntSushi commented on #62633
@trevyn No.

[2021-02-21 16:05] jyn514 commented on #79630
I don't know. The same check for `cache.external_locations` is done for both primitives and `Result`, the hardcoded URL is just a fallback. Fixing this requires figuring out why `external_locations` isn't being hit *only* for primitives.

[2021-02-21 16:07] RalfJung commented on #82101
Also see [this Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Data.20layout.20.2F.20ABI.20expert.20needed).

[2021-02-21 16:17] trevyn commented on #62633
Here's what's stable today:

| |`Result<T, E>`|`Option<T>`|
|-|-|-|
| 😃 |`unwrap() -> T`|`unwrap() -> T`|
| 😞 |`unwrap_err() -> E`||

Every character of the fourth quadrant and its implementation is exactly specified by the rest of the chart, it performs a useful function, and it is missing from the language. I and multiple other people ended up here because we tried to use it. It is a phantom met

[2021-02-21 16:24] BurntSushi commented on #62633
We're just going in circles. I already responded to that. A missing quadrant on its own is uncompelling to me.

[2021-02-21 16:30] cuviper commented on #62633
Is there any room in `std` for stuff that a fair amount of users want, but the libs-team would personally not use?

I think there's no real _cost_ to adding these small methods, so the argument against seems mostly aesthetic to me.

[2021-02-21 16:31] naiveai commented on #62633
@cuviper The cost is inherent in increasing the API surface. No code is better than no code, as they say.

[2021-02-21 16:38] BurntSushi commented on #62633
I haven't been arguing from the stance of whether I would use this or not. I've been arguing from the stance of whether they are a good fit for std.

There is definitely a lower cost to adding methods like these on to existing types when compared to other types of API additions. And we have historically had a lower bar for such methods. But the cost isn't zero. Unwrapping an absent value doesn't c

[2021-02-21 16:39] jyn514 commented on #82366
@camzilla1050 I can't replicate this with `nightly-2021-02-11` nor with the latest nightly. Your commit hash doesn't match mine:

[code]

Can you replicate this with the latest nightly?

[2021-02-21 16:42] jyn514 commented on #82366
Oh I see, that's the stable compiler. I can't replicate with 1.50 stable either.

[2021-02-21 16:49] jyn514 commented on #75135
Ok, but that seems to me like cargo should also be propagating `--output-format=json` to rustdoc? Unless you're asking to combine `--error-format` and `--output-format` into the same flag, which seems less flexible.

That doesn't seem right - when you pass `--show-coverage`, rustdoc doesn't generate any HTML output, which means the coverage output is the *only* thing it emits. So I think it should

[2021-02-21 16:50] nagisa commented on #82371
Isn't this the life-before-main stuff that we've been historically against adding to Rust? It seems that adding a way to specify `llvm.global_ctors` would be going against that philosophy and would require an RFC.

[2021-02-21 17:04] trevyn commented on #62633
@BurntSushi Based on your "No." response above, I'm concerned that I may have failed to even express my argument in a way that is understandable.

I believe these are factual statements, above opinion and potential for disagreement. Could you be specific about where you disagree?

[2021-02-21 17:05] chinedufn commented on #82371
This was discussed in these two comments:

https://github.com/rustwasm/wasm-bindgen/issues/1216#issuecomment-459173728
https://github.com/rustwasm/wasm-bindgen/issues/1216#issuecomment-459413159

---

My particular use case is that I want to be able to use [typetag](https://github.com/dtolnay/typetag) and [rust-ctor](https://github.com/mmastrac/rust-ctor) in wasm.

My takeaway was that since stati

[2021-02-21 17:08] yodaldevoid opened #82373 "Cargo creates unremovable files when run in a Windows container"
If within a folder mounted from a host within a Windows container and Cargo is used to build a project with a build script or that has a dependency with a build script, the compiled build script is unremovable.

The following docker container was used for testing. It contains the bare minimum required to compile Rust on Windows using Rust 1.50.0 and Rustup 1.23.1.

<details><summary>Dockerfile</su

[2021-02-21 17:12] eddyb commented on #82189
Given that one is a reexport of the other, there is no meaningful difference between the two, MIR isn't *making a choice* here (nor could it - either way to refer to that function resolves to the same `DefId`, which is what the MIR sees).

<hr/>

So this is just an arbitrary *printing choice* between `std::ptr::drop_in_place` and `std::intrinsics::drop_in_place` - I would've thought that if the or

[2021-02-21 17:15] eddyb commented on #82189
You can also see it in this example ([run on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5bdfa5d8deb342774f371816f8a413db)):
[code]
[code]

`std::collections::btree_set::BTreeSet` is publicly accessible, but the printing picks its reexport `std::collections::BTreeSet`.

[2021-02-21 17:18] cuviper commented on #62633
It may also be worth reiterating the original motivation from #62431 -- `Option::is_none` has a rather verbose `must_use` suggestion because there's no simple method to make that assertion.

[code]

I think using `and_then` when you expect `None` is _really_ beating around the bush. If we (collectively) really think that it's best to wrap this as `assert!((expr).is_none())`, then `must_use` should

[2021-02-21 17:19] hyd-dev commented on #82371
FWIW I read this in https://github.com/rust-lang/miri/issues/450#issuecomment-419252911:

But... could [`.init_array` be made to work under WASM](https://github.com/rustwasm/wasm-bindgen/issues/1216#issuecomment-753296035) (if possible at all, *I'm not really sure*)? I think that doesn't require a language change?

[2021-02-21 17:25] nagisa commented on #82371
I'm not a sure a single comment by one person is sufficient grounds to change the overall direction a project as large as Rust.

We can't do much about people abusing a more general mechanism (`#[link_section]` for placing code in arbitrary sections) to manually implement life-before-main. Them doing so doesn't mean the project's take on the topic has changed and that we should build into the lang

[2021-02-21 17:34] BurntSushi commented on #62633
If you intend for them to be facts, then I probably agree with them. Otherwise, my disagreement lay in the fact that I think `unwrap_none` doesn't make a lot of sense. And the presence of certain methods on Result do not necessarily specify the behavior of unwrap_none. For example, I think it's just as reasonable to assume that since "none" represents absence, that there therefore is no analog to

[2021-02-21 17:38] RalfJung commented on #82189
Okay so seems like we should close this as not-a-bug? MIR is using the right `DefId`, printing is just making a somewhat odd choice?

[2021-02-21 17:44] eddyb commented on #82189
Yeah, and while you should be able to replicate with `let () = function;` normally, most of the user-facing diagnostics etc. were changed to use the opportunistic short path printing, so you can't even see it in there. Tho, hmm, give me a moment...

You *can* see it in the error message on 1.47 and earlier: https://godbolt.org/z/f6sj8d (i.e. before the short path changes).

[2021-02-21 17:44] #82189 closed

[2021-02-21 17:53] chinedufn commented on #82371
I am not suggesting that it is. I also don't know if he feels that way today. Just linking to some prior discussion and sharing how I interpreted it.

This makes sense to me, thank you.

Thanks for explaining.

I think that I was a bit blinded by trying to solve my own problem (`typetag` does not currently work in wasm), and ended up ignoring the wider implications.

My current thinking is that if

[2021-02-21 18:01] yodaldevoid commented on #82373
I feel I should note that I submitted this issue here rather than at `cargo` as my gut tells me it isn't `cargo`'s fault, but rather something with how `rustc` is being run. That said, I could close this and open it instead under `cargo`.

[2021-02-21 18:05] #82373 closed

[2021-02-21 18:07] nagisa commented on #82371
I think its going to be difficult to correctly gauge the sentiment today without writing at least a pre-RFC on [internals.rlo](https://internals.rust-lang.org). The sentiment was definitely negative in the past, but more than once a good RFC changed the opinions and features got implemented. It is feasible that an RFC for such a feature could be accepted today, especially now that there are somewh

[2021-02-21 18:28] dtolnay commented on #82371
FWIW as the author of the mentioned `typetag` crate and the underlying `inventory` crate that makes it work, I am also opposed to putting anything specific to that model into rustc. I strongly believe https://github.com/dtolnay/linkme is the correct model to pursue in rustc and *does not* involve any life before main.

[2021-02-21 18:46] kushwahashiv commented on #67644
how to use this in an app if I want to still use it

[2021-02-21 19:02] chinedufn commented on #82371
@nagisa awesome, thanks for explaining that.

It looks like there was a pre-RFC on this with a lot of discussion. https://internals.rust-lang.org/t/pre-rfc-add-language-support-for-global-constructor-functions/9840/60

Specifically, this comment about using a different approach than global constructors stood out to me: https://internals.rust-lang.org/t/pre-rfc-add-language-support-for-global-const

[2021-02-21 19:04] #82371 closed

[2021-02-21 19:07] Nemo157 commented on #75135
That wouldn't be appropriate for _other_ outputs of `cargo rustdoc`, if you run `cargo rustdoc --message-format=json` you would expect the docs built to still be in html format; `--show-coverage` feels different because it is output as a "message".

---

Does rustdoc or rustc have any other similar user facing output via `stdout` that can be configured to use `json`? The closest I can think of is

[2021-02-21 19:08] simias commented on #65439
@kanglioo it's just sugar to avoid having to import `OpenOptions` on its own. You could also argue that semantically it makes sense to tie OpenOptions explicitly to `File` since it's effectively a fancy builder for it. IMO it makes the code more readable on top of adding a small convenience when writing it.

[2021-02-21 19:19] hyd-dev commented on #82371
Personally I'm still curious about [`#[link_section = ".init_array"]` on WASM](https://github.com/rustwasm/wasm-bindgen/issues/1216#issuecomment-753296035). That seems a useful *workaround* and maybe useful elsewhere, and I *guess* it only requires minor changes and won't "pollute" the language.

[2021-02-21 19:39] WaffleLapkin commented on #81944
@RalfJung ohhh. I haven't thought of this. Then I guess the question "do we need both?" is resolved: yes.

Current implementation just calls `self.split_at_spare_mut().1` :sweat_smile:

[2021-02-21 19:42] naiveai commented on #62633
I'm really not super sure what the value is in arguing with core maintainers by claiming your statements are above disagreement over something that maybe had a decent amount of a support at one point but now no longer does.

[2021-02-21 19:43] RalfJung commented on #81944
Well, that doesn't count as "careful" I guess. ;)

[2021-02-21 19:48] WaffleLapkin commented on #81944
I guess so :sweat_smile:

I'll try to make the implementation more careful (revert it?) and make a PR :)

[2021-02-21 20:52] leonardo-m opened #82378 "[EF] Basic bit twiddling methods"
An simple enhancement request. I think in line with the idea of Rust design to give low level control, to offer an ergonomic API that reduces the chances for bugs while keeping code efficient, and at the same time avoiding too many special operators, I think Rust stdlib could add few simple functions to work on bits of integral values (u8, i8, ...etc, usize, isize and char):

[code]

Such function

[2021-02-21 21:19] xfix commented on #57563
"Integer arithmetic: #53718" may be marked as done.

[2021-02-21 22:06] jgarvin commented on #81895
I ended up finding this thread because I was confused by seeing SIGILL because I also assumed that if I was getting it that it meant I had a memory management problem. The whole idea with using Rust instead of C++ is not seeing SIGBUS, SIGSEGV, SIGILL etc anymore so I assumed I had made a mistake ;) But a panic during a panic is not technically unsafe (though it is guaranteed to end your program).

[2021-02-21 22:17] nagisa commented on #81895
We _could_ add additional blurb to the

I guess? Like "thread panicked while panicking. forcing termination via CPU trap". If people search for what CPU trap means they get [wikipedia](https://en.wikipedia.org/wiki/Trap_%28computing%29) as first hit.

[2021-02-21 22:18] camelid commented on #81895
Or:

Do you get a SIGILL on all architectures, or just x86-64?

[2021-02-21 22:30] nagisa commented on #81895
You are not guaranteed to get SIGILL everywhere, no. Some targets may even end up calling an `abort()` as they don't actually have a good way to force a trap, but those are exceedingly rare.

[2021-02-21 22:34] camelid commented on #81895
If it doesn't always use a trap, then it's probably more confusing to add "aborting via CPU trap". Maybe we could just add documentation to the reference about this?

[2021-02-21 22:39] nagisa commented on #81895
It does almost always use a trap of some sort, though. It will do so for the 99.manynines% of the market share. Targets supported by Rust that do not use a CPU trap to abort this way are pretty much just msp430 right now AFAIK.

[2021-02-21 22:43] ivan770 commented on #82378
I'm not sure if std really needs those methods, but if you think so, you could file an RFC in https://github.com/rust-lang/rfcs.

[2021-02-21 23:15] jyn514 commented on #75135
The closest I found was `rustc --print=target-spec-json`, and there is no corresponding `--print=target-spec`. I guess rustdoc could add `--show-coverage-json`, but it seems confusing to have both that and `--output-format`.

It seems reasonable to have one but not the other though - show the coverage as JSON, but if there's an error, pretty-print it for the user. I did something like that with `-

[2021-02-21 23:24] richkadel commented on #82144
@wesleywiser @tmandry - I've been thinking about how to reduce friction for cases like the one that prompted this issue (google/oss-fuzz#4697). Looking at that pull request, and seeing the challenges that @catenacyber has had, trying to disable optimizations, I think this must be a case where another tool is wrapping invocations of the Rust compiler, and forcing certain flags on it. It seems (in t

[2021-02-21 23:28] jacobmischka opened #82380 "[AVR] Shift left `<<` doesn't work correctly on >= 32-bit integers on a 16-bit platform"
Shift left seems to not behave correctly, but doing the same resulting operation using multiplication does work as a workaround. This occurs both when using the `<<` operator and when using `overflowing_shl`. This was tested on an Arduino Nano (actually an Elegoo knockoff with a CH340, [link](https://smile.amazon.com/gp/product/B0713XK923/ref=ppx_yo_dt_b_asin_title_o04_s01?ie=UTF8&psc=1)).

I trie

[2021-02-21 23:36] Kimundi commented on #48584
I just "rediscovered" these `{:x?}` formatting options. A short summary of the history here:

- https://github.com/rust-lang/rfcs/pull/2226 proposed this feature, including:
  - grammar changes to the formatting syntax to account for the new `radix` position where the `x` gets inserted in `{:x?}`
  - new fmt::Formatter APIs for querying that value
  - extension of the Debug impl for integers to co

[2021-02-22 00:06] estebank commented on #82358
I think it is useful to introduce people to the syntax, but it should likely always come _last_.

[2021-02-22 00:08] peter-kehl commented on #67441
Yes for constantifying `Option.expect`.

However, as per https://doc.rust-lang.org/nightly/src/core/option.rs.html, `Option.expect(self, msg: &str)` calls (private) `fn expect_failed(msg: &str)`, which uses `panic!("{}", msg)`. Using `panic!` with more than one argument is not `const`-friendly:
[code]

Since that is not specific to `Option`, is there any discussion/plan/tracking issue on making `p

[2021-02-22 00:09] #57665 closed

[2021-02-22 00:21] memoryruins commented on #67441
@peter-kehl the tracking issue for panicking in constants is https://github.com/rust-lang/rust/issues/51999

[2021-02-22 00:46] trevyn commented on #62633
@naiveai My intent is to improve the Rust language by identifying differences in mental models of how the language is structured that can be resolved through discussion.

@BurntSushi Thank you. It sounds like you believe that a `None` value should not be able to be "unwrapped", is that correct?

Specifically, I can't find a place in the Rust documentation that defines what "unwrap" means in an abs

[2021-02-22 00:46] buzmeg commented on #62633
I don't really think that support actually went away.  People with real uses cases are still here.

And the language developers have a *very* different view from the end users.

I am in the camp of thinking about the "unwrap machinery" rather than the value.  From the developers view, there is no difference.

However, if that is really true, should that not be locked down?  Or is this semantic bei

[2021-02-22 01:07] trevyn commented on #62633
Oh my, it's worse than I thought: [#68918 Don't use the word "unwrap" to describe "unwrap" methods](https://github.com/rust-lang/rust/pull/68918)

[2021-02-22 01:24] camelid opened #82381 "rustdoc: Get rid of shared mutable state in `Context`"
`Context` currently has a [`.shared`] field, which is shared mutable state.
It would be nice if we could redesign the code such that we don't have shared
mutable state.

One idea I have for accomplishing this is passing `&mut SharedContext` in
wherever it's needed, instead of getting it out of `Context`.

[`.shared`]: https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/html/render/struct.Conte

[2021-02-22 01:32] thomcc commented on #82378
It would be nice to have these on AtomicInts too, since x86/x86_64 has efficient instructions for them, which LLVM won't figure out that it can use: https://bugs.llvm.org/show_bug.cgi?id=37974

That said I've just been using inline asm for them, and since they're a performance thing, that's enough.

[2021-02-22 02:35] trevyn opened #82383 "Document the definition of the word "unwrap" as used by Rust"
[#68918 Don't use the word "unwrap" to describe "unwrap" methods](https://github.com/rust-lang/rust/pull/68918)

The English word "unwrap" is used in the name of numerous methods in `core` and `std`, but is not defined by the documentation and does not have a commonly accepted concrete definition in computer science. The everyday concept of "unwrapping" is not detailed enough to resolve questions

[2021-02-22 02:44] #82284 closed

[2021-02-22 02:50] sstudioer opened #82384 "crate or mod need init(), like golang;"
crate or mod  need init(), like golang;

example:  rand package  need set a dynamic seed with timestamp,  at init() ;

[2021-02-22 03:30] trevyn commented on #82378
Is this something that exists in any crates?

[2021-02-22 04:14] calebcartwright opened #82385 "Changing rustfmt from submod to subtree"
rustfmt is currently a submodule in this repository, but there's been ongoing discussion and experimentation for a while now to investigate the possibility of switching rustfmt to a subtree in a similar vein as #70651 (additional background/motivation at the bottom of the issue description)

Thanks to @jyn514, the bulk of the changes that would be needed for this conversion have been identified (e

[2021-02-22 04:18] tesuji commented on #82384
In general, Rust doesn't favor global states like `srand` in C.
You should open an issue with rand crate.
Also, I think rand crate works well enough in most cases.
What are your problems with how rand works?

[2021-02-22 04:33] Manishearth commented on #82385
It's supposed to be fast, so pinned nightly IMO.

Don't what to be prescriptive, but clippy runs its normal tests within rustc and an extended set of tests against external crates in its own CI. We're hesitant to include external crates as a part of Rust's main CI pipeline.

Minor, I think. It's "yet another folder of code that should be updated", like rustdoc.

I can handle access issues if we ha

[2021-02-22 04:40] jyn514 commented on #82385
I have no opinion on this either way, but if we do add it it might make sense to make it part of [cargotest](https://github.com/rust-lang/rust/blob/master/src/tools/cargotest/main.rs).

We discussed this some [on Discord](https://discord.com/channels/442252698964721669/459149107387170817/811787479266099210). The main relevant points:

- If we use in-tree rustfmt, then `x.py fmt` suddenly has to bu

[2021-02-22 04:43] calebcartwright commented on #82385
Agreed that the rustc dev guide item is minor, though there's multiple sections of text just on that one page which refer to rustfmt as a submodule, which use rustfmt as the example for allowed breaking changes, how to update a submodule, etc.

[2021-02-22 04:44] calebcartwright commented on #82385
Also @topecongiro know you've been busy and away for a while, but this is a fairly significant change so pinging to see if you have any concerns or objections

[2021-02-22 05:12] alercah opened #82386 "Using a const generic enum on stable links to `min_const_generics` issue which is closed."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8954b7837e80fbfce7d6a1d3d1ad0f89

The current output is:

[code]

But issue 74878 is closed and represents a feature released on stable. This link needs to be updated.

[2021-02-22 05:44] estebank opened #82387 "Account for type and trait errors due to incorrectly wrapped types"
[Given the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fc6054ff31f0d741e529808e0a618902):

[code]

The current output is:

[code]

[For the case of a type error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ec9f8aa7a8d7f035eff5fc262de59c05), the output is less verbose and clear enough:

[code]

But ideally, for both of these

[2021-02-22 05:45] da-kami commented on #25289
Also just ran into this problem, here is the CI build that failed with `error: linking with `cc` failed: exit code: 1` on a `Ubuntu 20.04.2 LTS` instance:

https://github.com/comit-network/xmr-btc-swap/runs/1949248307#step:4:29

[2021-02-22 05:53] estebank commented on #82387
Ideally, the output would look something along the lines of

[code]

[code]

[2021-02-22 06:09] ehuss commented on #82386
The error message has already been updated as part of stabilizing the feature.  Issues are closed as soon as they land on master/nightly, and it may take 6 to 12 weeks for that to reach the stable release.

The current beta channel message is:

[code]

[2021-02-22 06:29] silence-coding opened #82388 "【1.45.2】 More error information is provided when the bottom-layer commands of the operating system fail to be invoked."
There is too little confidence in this mistake, why not return to errno. The mmap interface provides the errno, such as the ENOMEM and SIGSEGV interfaces.

/rust/src/libstd/sys/unix/stack_overflow.rs:150
panic!("failed to allocate an alternative stack")

[2021-02-22 06:31] silence-coding commented on #82388
![image](https://user-images.githubusercontent.com/32766901/108670875-95ef0080-751a-11eb-81d3-8b72b9ef2c6d.png)

[2021-02-22 07:00] Pratyush commented on #82123
Relevant: https://github.com/rust-lang/rust/issues/30827

[2021-02-22 07:07] tesuji commented on #82388
Please try again your code latest nightly Rust version. Also could you paste the ICE backtrace?

@rustbot label E-needs-mcve I-ICE

[2021-02-22 07:26] ojeda commented on #81895
There are a couple other behaviors too. SystemZ maps the trap to an infinite loop. For WebAssembly, the trap will end up as a `WebAssembly.RuntimeError` in JS land.

I think the root of the confusion mostly comes from stating `aborting` in the error message, since it is not actually aborting but trapping. A user reading "abort" is likely to expect an abnormal termination of the program, yes, but n

[2021-02-22 07:45] thedavidmeister opened #82390 "cannot publish crates under CAL-1.0 license"
I cannot publish crates using the `CAL-1.0` license

[code]

here is the link to the `CAL-1.0` on opensource.org: https://opensource.org/licenses/CAL-1.0

I tried this code:

[code]

I expected to see this happen: published crate to crates.io

Instead, this happened: error about license

### Meta

`rustc --version --verbose`:
[code]

[2021-02-22 08:11] thomcc commented on #82390
I think this might belong in https://github.com/rust-lang/crates.io

[2021-02-22 08:14] thomcc commented on #81895
Hmm, doesn't SystemZ have multithreading? If so, this seems invalid. `core::intrinsics::abort` is used in some cases where it indicates cross-thread memory corruption may occur (for example, in `sync::Arc` on refcount overflow)...

[2021-02-22 08:24] ojeda commented on #81895
Ah, it does create a loop to itself *plus* two bytes, so I guess it is done as a way to jump into an illegal instruction (or perhaps a misaligned address).

[2021-02-22 08:24] thomcc commented on #82384
You can use crates like [`ctor`](https://crates.io/crates/ctor)` or [`startup`](https://crates.io/crates/startup) to get this. Note that it comes with caveats.

[2021-02-22 09:04] 12101111 commented on #82388
@tesuji This is not a ICE
This issue propose printing errno on this `panic`: https://github.com/rust-lang/rust/blob/e952db8fd02090a10024ae63ba9d34e3b9cef898/library/std/src/sys/unix/stack_overflow.rs#L142-L153

[2021-02-22 09:09] thomcc commented on #82388
Probably we want this then:

@rustbot label: -I-ICE, -T-compiler, +T-libs

[2021-02-22 09:17] bjorn3 opened #82392 "The build prefix is part of the compiled compiler"
This build prefix is incorrect when using rustup as rustup can install it everywhere. In addition it hurts reproducibility of builds.

https://github.com/rust-lang/rust/blob/3e826bb11228508fbe749e594038d6727208aa94/compiler/rustc_codegen_ssa/src/back/link.rs#L1581

Once this is no longer hard coded, the following line should be removed to prevent accidentally depending on it:

https://github.com/r

[2021-02-22 09:25] estebank commented on #78671
ICE fixed in beta, but the output has an incorrect suggestion:

[code]

[2021-02-22 09:26] ojeda commented on #81895
From a quick test under user QEMU, that jump in SystemZ ends up as a segmentation fault, rather than an illegal instruction. AArch64, instead, gives `SIGTRAP`. So if that is faithful to what happens natively, then I would say it would be best to give a custom message per arch.

[2021-02-22 09:28] #80207 closed

[2021-02-22 09:32] estebank commented on #36542
Current output:

[code]

[2021-02-22 09:32] #36542 closed

[2021-02-22 10:32] RalfJung commented on #82101
@hyd-dev points out that clang's behavior here seems really buggy... `Enum` an `Enum[1]` [have different sizes](https://godbolt.org/z/eGEdhj)!

[2021-02-22 10:36] vext01 commented on #81431
Oops, yes.

[2021-02-22 10:53] Y-Nak commented on #79210
The false-negative @matthiaskrgr pointed was indirectly solved in [this PR](https://github.com/rust-lang/rust-clippy/pull/6769).

[2021-02-22 11:07] matklad commented on #74465
I find "give sync versions the canonical name based on usage frequency" to be a strong and compelling argument. I like `std::lazy::{Once, Lazy}` and I think we should do that, provided that we do want to deprecate `std::sync::Once` eventually.

I find `cell::{OnceCell, LazyCell}` relatively less compelling, using `Cell` suffix to mean `!Sync` feels like a hack. But it's not like we have an obvious

[2021-02-22 11:26] eddyb commented on #82387
The real question IMO is whether we have `?` suggestions already *anywhere*, and if we don't, we could start with type mismatches.

Like if something expects `T` and you pass in a `Result<T, E>` (or any type that implements `Try`?) *from* a function in which `?` would work (i.e. returns a type that implements `Try`), we could suggest using `?` the same way we do `&` for `T` vs `&T`.

And we should

[2021-02-22 11:45] ojeda commented on #82101
It happens with a simple aligned integer too:

    typedef int __attribute__((aligned(128))) T;
    int f() { return sizeof(T); }
    int g() { return sizeof(T[1]); }

But that isn't quite portable since GCC does not allow such arrays even if of size 1 (which seems reasonable to me). So GCC allowing it for `enum`s seems like a bug more than anything else...

[2021-02-22 11:54] Ofenhed opened #82398 "Correctly expanded macro_rules! still throws error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
Also ran in rust playgrount with versions:
[code]

### Error output

[code]

Note that the `trace_macros!` macro shows the correct output of the macro, yet the compilation fails.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-22 12:14] #82100 closed

[2021-02-22 12:24] Kimundi commented on #53120
My experience in the last few years is that I only ever needed private, `pub` and `pub(crate)` visibility, and among those the last one is way noiser when reading and more annoying to write. This gets to the point that I get code review comments that try to nudge me to prefer `pub` more, as well as a tendency to mark things as `pub` when they are inside crate-local modules, but that of course conf

[2021-02-22 12:27] petrochenkov commented on #81661
Fixed in https://github.com/rust-lang/rust/pull/82399.

[2021-02-22 12:32] ojeda commented on #82398
Not an ICE, from the looks of it.

[2021-02-22 12:34] ojeda commented on #82320
@rustbot label: +I-crash, -I-ICE

[2021-02-22 12:34] Ofenhed commented on #82398
Sorry, I see not what ICE:s are only for when the compiler panics. Should I reopen this as a Rust bug, or can someone change the labels?

[2021-02-22 12:37] ojeda commented on #82398
You can ask the bot to do it for you :) For instance:

@rustbot label: -I-ICE

See https://github.com/rust-lang/triagebot/wiki/Labeling

[2021-02-22 13:09] jonas-schievink commented on #82384
Hi! Additions or changes to the language need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2021-02-22 13:09] #82384 closed

[2021-02-22 13:17] wngr opened #82400 "Accepting Incoming TCP Connections fails on Android"
Starting with Android Oreo (8), Android started using a seccomp based filter approach to syscalls, explicitly allowing syscalls, see https://android-developers.googleblog.com/2017/07/seccomp-filter-in-android-o.html.
https://android.googlesource.com/platform/bionic.git/+/master/libc/SYSCALLS.TXT enumerates the allowed syscalls.
This means, that dispatching a generic syscall mechanism as introduced

[2021-02-22 13:20] osa1 commented on #82323
I briefly looked into this issue. I guess there could be many ways of fixing this, but something strange I discovered as I debug this is this function

https://github.com/rust-lang/rust/blob/8535ec3ccea2530c70927966450e066c7a92a3fc/compiler/rustc_typeck/src/check/method/suggest.rs#L32-L69

returns `true` for `Arc<_>`, which is represented as an ADT (`TyKind::ADT`). So the last line (`predicate_may

[2021-02-22 13:20] jyn514 commented on #82283
This shouldn't have been closed, sorry, #82351 only addressed the "low information" part of the issue, not the "boilerplate" part.

[2021-02-22 13:29] camzilla1050 commented on #82366
Tnx, my knowledges using cargo are limited...now doing $"rustup install nightly" solved compiling error for "solana-program-test"
but:
   Compiling solana-exchange-program v1.6.0
   Compiling solana-transaction-status v1.6.0
error: could not compile `solana-transaction-status`

Caused by:
  process didn't exit successfully: `rustc --crate-name solana_transaction_status...

[2021-02-22 13:32] jyn514 commented on #82366
This sounds like something you should bring up with the maintainers of solana. This is the repository for the rust compiler itself.

[2021-02-22 13:35] camzilla1050 commented on #82366
No sorry it changes nothing...always same error

[2021-02-22 13:56] estebank commented on #82140
We can't know what item type you're trying to access because it couldn't find it, so the diagnostic infers what it might have been from the style of the used name. I don't see how we would be able to improve here.

[2021-02-22 13:57] nagisa commented on #82400
Is the x86 thing an emulator? From the strace output it would seem that an entirely wrong syscall is being invoked.

Can this issue reproduce if you call `accept4` from C? If so, consider reporting a bug against Android as well.

[2021-02-22 14:15] wngr commented on #82400
Happens both on an Emulator and a real x86 device (Zebra ET50).

I will try to whip up a minimal reproducer repo.

[2021-02-22 15:19] est31 commented on #82390
I think it belongs not there but https://github.com/rust-lang-nursery/license-exprs

[2021-02-22 15:21] est31 commented on #82390
In particular, see https://github.com/rust-lang-nursery/license-exprs/pull/34

[2021-02-22 15:22] eddyb commented on #81721
Regarding the suboptimal name, I wrote (in https://github.com/rust-lang/rust/pull/81732#discussion_r580335009):

I also had an idea that might be useful for avoiding misuse in most cases:

[2021-02-22 15:41] alexcrichton commented on #82371
I only briefly skimmed this thread via notifications and just now, but I personally believe it's important for rustc to provide bindings to the features of the WebAssembly target. I don't think that there's really any reason that design of the standard library and idioms of a language should **forbid** usage of a feature on a target.

I'm not personally convinced that the design proposed here is a

[2021-02-22 16:15] notriddle commented on #82323
If it autoderefs to something that `impl Fn`, then the suggestion would actually make sense. And it’s a free type variable, so it might.

I think the mistake here is using `predicate_may_hold`, which returns [true](https://github.com/rust-lang/rust/blob/9b2b02a840f358bcadef5c3ae861d2852da20b3d/compiler/rustc_middle/src/traits/select.rs#L234) on ambiguous results, instead of [predicate_must_hold_mo

[2021-02-22 16:19] osa1 commented on #82323
Hm, you're right. For example, this works:

[code]

I agree that it shouldn't return true when in case of an ambiguity/unknown type.

[2021-02-22 16:24] valff commented on #74156
Yes, seems to work now, thanks!

[2021-02-22 16:24] #74156 closed

[2021-02-22 16:30] valff commented on #45266
It's fixed now, thanks! The current warning is legitimate and unrelated to the issue.

[2021-02-22 16:30] #45266 closed

[2021-02-22 16:39] osa1 commented on #82323
Confirmed that using `predicate_must_hold_modulo_regions` "fixes" the incorrect suggestion.

Of course this doesn't fix the nonsensical error message, just removes the invalid suggestion.

[2021-02-22 16:42] nagisa opened #82405 "Fail tests that have a `--target` compile-flag, but not `needs-llvm-components`"
Typically when writing a target-specific test, one'll specify a `--target` compilation flag, but the test will fail when the LLVM does not have the corresponding targets enabled. This is mitigated by telling compiletest that certain llvm components are required in order to run said test. The header looks like this: `needs-llvm-components: aarch64`.

We should make sure that presence of this annota

[2021-02-22 16:50] davidspies opened #82406 "Get more info about hanging build"
I have a project where `cargo build` runs for about 5 minutes before spitting out:

[code]
(`cargo check` runs without issue)

I assume the compiler's getting stuck in a loop somewhere and `cargo` is killing it after some timeout, but to produce a MWE I need some idea of which bit of code is causing it. How can I figure this out?

### Meta

`rustc --version --verbose`:
[code]

Adding `RUST_BACKTRA

[2021-02-22 16:52] Aaron1011 commented on #82320
It might be possible to improve the error message here. However, proc macros are loaded into the compiler process via a shared library, so there's no way for us to 'catch' the abort panic without running proc macros in another process.

[2021-02-22 16:55] RReverser commented on #82339
The latest example of such conversation was when I was adding `std::os::wasi::fs::symlink_path`. That particular case is addressed now but @alexcrichton said:

So I thought we might want to still expose some API that allows such split-up.

More generally, I'm also worried about `Path` / `PathBuf` consumers which perform arbitrary manipulations via `.pop()` / `.push()` / `.join()` and might acciden

[2021-02-22 17:04] ojeda commented on #82320
We could make the proc macros' panic-abort not actually abort the process, communicating they are "dead" instead to the host process.

In general, I'd say a user passing `-Cpanic=abort` in a proc macro is likely trying to save space, rather than actually thinking about aborting `rustc`. Perhaps `-Cpanic=` shouldn't be supported for `--crate-type proc-macro` at all.

[2021-02-22 17:07] jyn514 commented on #82406
You can find where the time is being spent with `-Z time-passes`, which prints the times eagerly. Specifically `cargo rustc --bin -- -Z time-passes` should work here.

[2021-02-22 17:08] jyn514 commented on #82406
Also, SIGKILL usually means another process killed it - are you running out of memory maybe?

[2021-02-22 17:08] ojeda commented on #82320
For context: I ended up seeing this because I used a set of flags which I passed to both rlibs and proc-macros in a custom build system. It was definitely not my intention crashing `rustc` when a proc macro fails! A warning for `--crate-type proc-macro` + `-Cpanic=abort` could be another alternative.

[2021-02-22 17:23] thedavidmeister commented on #82390
sure

[2021-02-22 17:23] #82390 closed

[2021-02-22 17:28] Lokathor opened #82408 "Request: rustdoc option to merge impl blocks in the HTML output"
If you have a type with two impl blocks, like this:
[code]

Then in the generated output from rustdoc, you'll see two impl blocks in the methods section of the struct's docs. Each method will be in its own impl block.

What I would like is a flag you can pass to rustdoc to have it merge all the impl blocks and just present the methods together. That way the public docs change less when crate-inter

[2021-02-22 17:34] notriddle commented on #82323
`Arc<T>` is only `Clone` if `T: Sync`, and I’m guessing it uses a conservative guess there, so `Arc<_>` does not, in fact, have a method called clone.

This error is pointless, since if you fix the missing variable you’ll probably also fix the Sync bound. Is there any way to detect that the underscore in `Arc<_>` actually has “missing” constraints due to another error, and is not just a regular ty

[2021-02-22 17:37] memoryruins commented on #82408
Let's say we have the following:

[code]

and the flag was enabled, what should it do -- merge everything and the docs, merge nothing silently, or error about ambiguity?

I think the error route would need a rule where only one impl block has docs. The other options I listed would be surprising to me, even for an opt-in feature. There are probably more options so I would love those too ^^

I imagi

[2021-02-22 17:43] lucas-deangelis commented on #82209
I've taken a deeper look at the issue, and at the doc on contributions to Rust. Correct me if I'm wrong, but I think I'm supposed to start with making a failing test case. I made a `issue-82209.rs` file in `src/test/rustdoc/`. Here's the file:

[code]

I'm not sure about the `#![deny(broken_intra_doc_links)]`, but I couldn't get the test to fail without something like that, and it's more precise t

[2021-02-22 17:44] rylev opened #82409 "Diff on rustdoc test failure does not work on Windows"
When running `x .py test .\src\test\rustdoc` on Linux and a failure happens, a really nice diff of the output vs rustdoc-nightly is produced which very clearly shows the issue. This does not work on Windows for multiple reasons.

One the call to `diff` fails:
[code]

Second, the output from rustdoc-nightly seems to exactly match that from the local compiler making it not possible to do manual diff

[2021-02-22 17:45] nickbp commented on #82390
Does anyone own that license-exprs repo? It's had an update PR waiting since early September

[2021-02-22 17:48] jyn514 commented on #82409
How do you diff directories recursively on Windows? On Linux I would be very surprised for `diff` not to be installed.

Oh I just thought of something - do you have a rustup overide that defaults to your local toolchain? Right now compiletest assumes the default is nightly, I've been meaning to change it.

[2021-02-22 17:52] jyn514 commented on #82209
@lucas-deangelis yes, that looks fine. I have a couple nits but they can wait until you make a PR to review, that test is enough to what's going wrong.

[2021-02-22 17:57] rylev commented on #82409
No, I only set overrides on specific projects (and rust-lang/rust is not one of them). My default is the stable compiler.

[2021-02-22 17:58] camelid commented on #81895
We could just be more vague and say:

[code]

[2021-02-22 17:59] lucas-deangelis commented on #82209
Thanks! I'll start working on the fix now.

[2021-02-22 17:59] Lokathor commented on #82408
Error and explain the problem seems simplest.

Also, limiting the effect to the top level crate seems reasonable.

[2021-02-22 18:06] kurojishi opened #82410 "std::io::copy returns Bad File Descriptor with writer files in append mode in 1.50"
While updating my code base from 1.49 to 1.50 we noticed a failures in a program that rebuilds files from small chunks.

We are opening a file in append mode, one in read mode, and we stream one into the other (as for the snippet below).

Testing this out confirmed that the error happens on the reader file when the writer is in append mode, whenever we use a `BufWriter`/`BufReader` or not. If we l

[2021-02-22 18:09] sunfishcode commented on #82339
I actually think the security model is ok with allowing applications to `.pop()` and `.push()`, or to use `..`, from one preopen to another. I expect we could implement it all in libc, and as such WASI itself won't be affected.

My main question is how this impacts the ABI, and to what it extent it creates conventions that applications may come to depend on.

One of the things I'm interested in fo

[2021-02-22 18:11] davidspies commented on #82406
yup
That's what's happening.
I was looking at `top` and `rustc` seems to be trying to use more memory than I have on my laptop (32 GiB). I think the compiler needing more than 32 GiB memory for a ~5000 LOC project probably still qualifies as a bug.

[2021-02-22 18:13] jyn514 commented on #82406
Can you try to make an MCVE? If not, can you link the project that's using so much memory?

[2021-02-22 18:13] camelid commented on #82209
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382209.20rustdoc.3A.20Confusing.20intra-doc.20handling.20of.20.60Self.60.20in.20e.E2.80.A6) in the prioritization working group.

[2021-02-22 18:20] RReverser commented on #82339
Isn't the host blinding you describe essentially same as `--mapdir` which is already supported? (except for the magic of rewriting command-line args)

I guess if it's not part of the security model, that would work too. I just want userland and system APIs to be consistent in path handling.

But I thought I saw your comments on symlinks (or was it just hardlinks?) where you said it wasn't desirabl

[2021-02-22 18:21] davidspies commented on #82406
I tried `-Z time-passes` but it doesn't print out the step that's using all the memory because it's killed before finishing. I tried killing it with `ctrl-C` hoping that it would print out something on `SIGTERM` rather than `SIGKILL` but still nothing.

However, you can see an earlier step where it used 7 GiB. So it might just be another instantiation of that:

[code]

[2021-02-22 18:22] camelid commented on #53120
I find that I often create private modules with public items in them, which helps. However, I think that has a different semantic meaning than just using `pub(crate)`.

[2021-02-22 18:22] kaniini commented on #81702
This also affected rust 1.47 when we tried to do cross compilation for rustc on Alpine.  Using `x.py dist` worked around the issue.

[2021-02-22 18:25] bstrie commented on #82123
Good catch, I'll close this as a duplicate.

[2021-02-22 18:25] #82123 closed

[2021-02-22 18:29] lucas-deangelis commented on #82209
I've tried removing `variant_field` and all references to it as @jyn514 suggested, however I still had the same behavior as before. There's a part of `resolve` with `FIXME(jynelson): why is this different from variant_field?`, but even after removing it, the link is still resolved to `Bar::Bar::abc`. I think some of the logic is somewhere else.

[2021-02-22 18:29] bstrie commented on #30827
Note that this caused actual problems in the standard library itself, where two items that were supposedly deprecated were silently failing to trigger the deprecation warning for several years: https://github.com/rust-lang/rust/issues/82080

Would making the attribute itself error when applied to a `use` be easier than making this work properly? This would still be better than the current behavior

[2021-02-22 18:30] bstrie commented on #23937
Closing in favor of https://github.com/rust-lang/rust/issues/30827.

[2021-02-22 18:30] #23937 closed

[2021-02-22 18:38] matklad commented on #53120
The "use `pub` in lieu of `pub(crate)`" is indeed fairly popular. For example, TiKV styleguide recommends it: https://github.com/pingcap/style-guide/blob/c8101819c542314a0843a08b158a9ea0721a93f1/docs/rust/modules.md#privacy-and-visibility.

However, this defeats one of the biggest advantages of new visibility system: ability to `-W unreachable-pub`.

[2021-02-22 18:41] jyn514 commented on #82209
Hmm, if that doesn't fix it the bug might be in the `Self` handling: https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/src/librustdoc/passes/collect_intra_doc_links.rs#L870
You could try extending https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/src/librustdoc/passes/collect_intra_doc_links.rs#L837-L845 to also use the parent item for `D

[2021-02-22 18:46] badboy opened #82412 "Promote aarch64-apple-ios-sim to Tier 2"
With #81966 landed it's possible to build for the arm64 iOS simulator on M1 devices.

[code]

It would be nice to promote `aarch64-apple-ios-sim` to Tier 2 so users can get the pre-built `libstd` using rustup.

What steps are necessary to do that? I'm happy to do the work.
And who's to sign off on that?

/cc @deg4uss3r who did the initial work.

[2021-02-22 18:56] nikclayton-dfinity commented on #69517
Here's some example output when a test panics by using `unwrap()` on a result:

[code]

Good:
- Tells me exactly where the error happened

Bad:
- Error location is at the end of the line, so I can't look for it a specific place on the screen (or may require scrolling to see, as it does in this example)
- Contains a lot of boilerplate text ("panicked at ... an `Err`")

Here's the same test, where `

[2021-02-22 18:57] lucas-deangelis commented on #82209
This alone doesn't seem to fix it, however I've found that after adding `DefKind::Variant`, modifying the following part modify the error message for the resolved link:

https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/src/librustdoc/passes/collect_intra_doc_links.rs#L1016-L1026

The problem here seems to be that `name` refers to the kind and not the enum.

[2021-02-22 19:13] Tamschi commented on #74563
I'd also like to see `<Type as Trait>` (without member) to link directly to the respective implementation.

I use these links to highlight certain important implementations of custom traits on pre-existing types.

[2021-02-22 19:15] the8472 commented on #82410
syscall_326 is copy_file_range. And indeed, it has this error code overloading the more common meaning of EBADF.

@rustbot assign.

[2021-02-22 19:16] the8472 commented on #82410
@rustbot claim

[2021-02-22 19:59] jyn514 commented on #82412
You may want to ask [T-infra](https://rust-lang.zulipchat.com/#narrow/stream/242791-t-infra) on Zulip, you'll likely get more feedback there.

[2021-02-22 20:00] osa1 commented on #80258
I managed to make this work today. I can boot rustc, and the repro now works. However it's hacky, and I had to relax checks in two places to accept passing `*mut` to a method with `*const` receiver (as `*mut A` is not a subtype of `*const A`).

I think the right way to implement this would be to turn the argument (a `*mut` value) to `*const` by adding `&mut *`. If I understand the code correctly,

[2021-02-22 20:10] the8472 commented on #82410
If you need a workaround for the moment you can do `io::copy(..., &mut writer as &mut dyn Write)` which should defeat the incorrect optimizations by going through a trait object so it can't see it's dealing with a file.

[2021-02-22 20:12] badboy commented on #82412
Done.

[2021-02-22 20:18] crisidev commented on #82410
Nice, this is awesome. We will try this tomorrow which should allow to migrate our codebase to 1.50! Thanks a lot for the quick help on this..

[2021-02-22 20:34] Klemart3D commented on #50776
@andrewleek-droplab answer didn't works for me, still having issues with rust or cargo :(

@frakman1 : https://docs.brew.sh/Formula-Cookbook#homebrew-terminology

[2021-02-22 20:40] ibraheemdev commented on #27721
Why is `Pattern` not implemented for `String`?

[2021-02-22 20:47] davidspies commented on #82406
Okay
I have a MCVE (where `M` stands for "Much smaller")

`Cargo.toml`:
[code]

`main.rs`:
[code]

[2021-02-22 21:06] lukaslueg opened #82418 "ICE with `const_evaluatable_checked`"
The following code will cause an ICE [(playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e22ed5a309e2a886c3922e6f5094eedb) with `const_evaluatable_checked`. There are warnings that crashes are about to be expected, I'm reporting nevertheless.

cc #44580, #76560

[code]

`rustc --version --verbose`:
[code]

### Error output
[code]

[2021-02-22 21:33] bstrie commented on #27721
It is implemented for `&String`, is there a reason to implement it for `String` as well?

[2021-02-22 22:11] petrochenkov commented on #67839
Fixed in https://github.com/rust-lang/rust/pull/82419.

@pksunkara
I think your case is different, but it was recently addressed by https://github.com/rust-lang/rust/pull/79078.

[2021-02-22 22:11] petrochenkov commented on #81871
Fixed in https://github.com/rust-lang/rust/pull/82419.

[2021-02-22 22:54] pksunkara commented on #67839
@petrochenkov Really appreciate your hard work in fixing both the issues. I have reworked some of my APIs to not run into this, but I am happy that I can now pick the best ergonomics for my proc-macro libraries instead of trying to navigate these issues.

[2021-02-22 22:58] camelid commented on #82209
Did you try matching both `DefKind::Ctor` and `DefKind::Variant`?

[2021-02-22 23:07] cuviper commented on #80810
Filed: https://bugs.llvm.org/show_bug.cgi?id=49322

That came from analysis of a stage1 testing failure in `ui/proc-macro/macro-rules-derive`, specifically from its macro here:

https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/src/test/ui/proc-macro/auxiliary/first-second.rs#L10-L15

I see `_attr` starts as `TokenStream` handle 1, `item` is 2, and `tokens` gets 3. Wh

[2021-02-22 23:11] alex commented on #80810
Excellent job with the debugging! Very impressive minimization.

[2021-02-22 23:12] RalfJung commented on #80258
Without understanding the details here, this sounds wrong -- `&mut` creates a *reference*, not a raw pointer, and that should certainly not be done implicitly when the source code just used raw pointers.

[2021-02-22 23:19] ehuss opened #82423 "jemalloc does not seem to be working for rustc on macos"
jemalloc is supposed to be enabled on macos for rustc, but with all the testing I've done, it does not appear to work.

Noted by Thom Chiovoloni on Zulip [here](https://zulip-archive.rust-lang.org/247081tcompilerperformance/01486UsinganonsystemallocatorforrustconmacOS.html), the jemalloc-sys crate prevents using unprefixed symbols [here](https://github.com/gnzlbg/jemallocator/blob/c27a859e98e3cb79

[2021-02-22 23:56] Rynibami commented on #82104
I’ve got the same problem. I am building my software based upon the AVR template "avr-atmega328p.json” which I called "avr-unknown-gnu-atmega2560.json”. This file looks mostly identical to the existing atmega’s on the web :

[code]

I tried to build my project (which is just empty) on the nightly and stable versions, but I get the same type of error:

[code]

[2021-02-23 00:02] sfackler commented on #82423
You can't override the macos malloc by shadowing its symbols (I think very early allocations in the loader still use the original malloc or something?). Instead, jemalloc actually hooks directly into some macos allocator APIs to replace the guts behind the original symbols IIRC.

[2021-02-23 00:12] sfackler commented on #82423
This is where the magic happens I believe: https://github.com/jemalloc/jemalloc/blob/025d8c37c93a69ec0aa5d8a55e3793cb480a5ac8/src/zone.c#L436-L469

[2021-02-23 00:25] raw-bin commented on #77071
Hi @tmandry, folks.

Apologies for the delay.

There has been good progress.

Please note the following patches that have been posted by Linaro for review:

https://reviews.llvm.org/D96004
https://reviews.llvm.org/D96005
https://reviews.llvm.org/D96006
https://reviews.llvm.org/D96007

At present Linaro is blocking on review.

If possible, please do chime in.

I will provide further updates as need

[2021-02-23 00:32] ehuss commented on #82423
Thanks @sfackler for taking a look!  Do you happen to know if there's some way to validate that it is working?

When I run `rustc` with the environment variable `_RJEM_MALLOC_CONF=stats_print:true` I get that rustc has allocated 36224 bytes regardless of how big of a crate I build.  Is there maybe a better way to determine if it is actually working?

[2021-02-23 01:04] sfackler commented on #82423
Ah - when statically linking to jemalloc, the zone_register constructor function appears to be dropped by the linker: https://github.com/jemalloc/jemalloc/issues/708.

The compiler already manually marks other bits of jemalloc as `#[used]`: https://github.com/rust-lang/rust/blob/master/compiler/rustc/src/main.rs#L10-L27.

Extending that with

[code]

Gets it registered properly for me with a littl

[2021-02-23 01:14] cuviper commented on #80810
On the Rust side, maybe `max_by_val_size` should be target-specific? LLVM is converting back to indirect in this case, so it's kind of a waste.

[2021-02-23 01:18] c410-f3r commented on #81615
Although it is trivial to implement `generate`:

[code]

The same is not true for `try_generate` because `collect_into_array` returns `Option<[I::Item; N]>`. That said, it is possible to create `try_collect_into_array` (using `macro_rules!`?), continue with the current implementation or wait for https://github.com/rust-lang/rust/pull/69985#issuecomment-783645912 to write:

[code]

[2021-02-23 01:22] Aaron1011 opened #82429 "Come up with a way to de-duplicate common test 'headers'"
A growing number of tests having the following 'header':

[code]

This ensures that if a proc-macro prints out a `Span`, its `SyntaxContext` id will be platform-independent. Without this 'header', the prelude will import a large amount of hygiene information from libstd, some of which comes from expansion of platform-specific `cfg_if!` macros.

Normally, this could be accomplished by writing a mac

[2021-02-23 01:35] jyn514 commented on #82429
@Aaron1011 what about turning on some flags by default depending on the directory? I can imagine adding `-Z span-debug` for everything in `src/test/ui/macros`, or `-D broken_intra_doc_links` for everything in `src/test/rustdoc/intra-doc`.

[2021-02-23 01:42] Aaron1011 commented on #82429
@jyn514 The important part is the `#![no_std]` and `extern crate std;`. It might be possible to replicate most of that behavior via command-line flags, but I'm not sure.

Unfortunately, `#![no_implicit_prelude]` doesn't work for this use case. Even with `#![no_implicit_prelude]`, we still inject `use std::prelude::v1::*;`, which loads the hygiene information.

[2021-02-23 01:50] tmandry commented on #77071
Great, thanks for the update! Let me ask around to see if I can help get those patches reviewed.

[2021-02-23 01:53] Mark-Simulacrum commented on #82429
Can you say more about the motivation for deduplicating these headers? It feels like they'd largely not change over time or be readily changeable via some quick scripts - we could likely enforce that they are all the same, if that would be helpful, via tidy.

[2021-02-23 02:37] SOF3 commented on #62633
It appears that the controversy is mainly about `unwrap_none`. Could we stabilize just `Option::expect_none` first?

[2021-02-23 03:05] trevyn commented on #82383
@steveklabnik Do you have a sense of where in the documentation a canonical definition of the word "unwrap" might belong?

The `std` documentation appears to strictly break things down by module or other primitive, and this does not intuitively belong to any single one of those, since it cuts across `Result`, `Option`, `Rc`, and `Arc`. (Not to mention that it only involves re-exports from `core`,

[2021-02-23 03:08] aclysma commented on #62633
@SOF3 just curious, do you feel that `unwrap_none` is harmful or is it just that `expect_none` is better than nothing?

I do think `expect_none` is much better than nothing. (I can use `expect_none("")` to achieve `unwrap_none()`, it's just less "nice")

That said:
 * The core team's original rationale for closing was "all this method can do is either succeed with a () or panic, so is an assert, b

[2021-02-23 03:10] trevyn commented on #82383
@rustbot modify labels: T-doc

[2021-02-23 03:23] lucas-deangelis commented on #82209
This is my naive attempt:

[code]

I didn't add `DefKind::Variant` because it is already in the match, however, I think there's something here that I don't understand since you said "matching both", and here I'm matching either of them.

[2021-02-23 03:28] ehuss commented on #82423
Ah, I can confirm with those changes it seems to be working.

I might do some benchmarking to see how it does, but pending #81782, it may not be necessary.

[2021-02-23 03:30] camelid commented on #82209
What you wrote is what I meant :)

I meant match either `Ctor` or `Variant` (as in `DefKind::Ctor(..) | DefKind::Variant`), but I didn't realize that `Variant` was already in the match.

Does your attempt work?

[2021-02-23 03:40] steveklabnik commented on #82383
To be honest, I don't really understand why we would "define" a word. It's the name of a method, that's it. There's no special definition, or any strange usage. We don't write definitions of any other method names.

[2021-02-23 04:13] trevyn commented on #62633
I think there's a subtle error in this statement that affects judgement — `unwrap_none` has an *equivalency* to a sequence of `is_none` + assert, but it is not an assert.

Multiplication is *equivalent* to a sequence of additions, but it is not a sequence of additions.

Equivalency alone is not a meaningful standard, because we can write equivalent code to all of `std`.

[2021-02-23 04:27] dtolnay commented on #82383
I would not want to dedicate documentation to this either. The meaning in the context of Rust is 100% defined by the set of behaviors that have been given this name. When considering leveraging a preexisting name for a new behavior, the libs team evaluates how much the new behavior is in line with any old behaviors that already use the name. In my experience for those discussions a definition is n

[2021-02-23 04:33] buzmeg commented on #62633
That's an interesting point: Is it documented somewhere that assert!() *MUST* return ()?  Or is that simply an accident of implementation?  If assert!() becomes able to function in a postfix way for chaining, that will change, no?

[2021-02-23 04:51] trevyn commented on #82383
Ah, understood. Thank you for the clear explanation.

I still think that understanding “what unwrap actually means” is a meaningful hole in the user experience, but I suppose that’s a job for a community blog post or talk.

[2021-02-23 04:51] #82383 closed

[2021-02-23 05:04] SOF3 commented on #62633
If postfix macros are implemented, both `unwrap` and `expect` are not required anyway, because we could just `option.expect!()`, `option.expect!("message")`, `option.expect!("message {}", args)`, etc. the same way.

[2021-02-23 05:11] buzmeg commented on #62633
Ah, good point.  Shame that postfix macros have basically been stuck for four years now with no end in sight.

[2021-02-23 05:15] petertodd commented on #81513
Note how a `SliceLen<T>` would be the ideal metadata for a `[T]` slice, as it could express the fact that the range of valid lengths for a slice reference depends on the size of `T`.

However, as there's quite a few ways of manipulating slice pointers without `unsafe`, eg via `ptr::slice_from_raw_parts`, I don't know if such types can actually enforce all that much at compile time.

[2021-02-23 05:45] jyn514 commented on #82408
I think command line arguments should be recursive, and crate-level attributes should not be recursive. If some things only make sense as non-recursive, maybe they should only be available as attributes.

[2021-02-23 05:47] sanxiyn opened #82435 "i686 target spec disagrees with downstream definitions"
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=973414.

[2021-02-23 05:48] osa1 commented on #80258
(I had a typo in my comment above, I meant `&*` not `&mut *)

@RalfJung How else can I convert a `*mut T` to a `*const T`? To summarize, I'm trying to make `f.x()` work when `f` is `*mut T` and receiver of `x` is `*const T`.

[2021-02-23 05:57] jyn514 commented on #82435
IIUC, the issue is that rustc generates SSE2 instructions on a CPU that doesn't support SSE2? What would the fix be, to add a new target triple for Geode?

[2021-02-23 06:13] osa1 commented on #80258
Looking into the `Pick` type and how it's used, it turns out we don't coerce the `self` *value* so that it unifies with the expected receiver type, but we adjust the *receiver type* instead. So I won't need to insert any `&*`s.

[2021-02-23 06:16] ehuss commented on #82423
I ran a few benchmarks, and it looks promising:

[code]

(Not sure why the prebuilt nightly is so much slower. Maybe some random setting like MACOSX_DEPLOYMENT_TARGET?)

These are pretty typical numbers of the various projects I tried.

I also tested tikv-jemalloc-sys, but I didn't see much difference from the current jemalloc.

[2021-02-23 06:18] sanxiyn commented on #82435
I think what's going on is that Debian and Rust disagree on what i686 is. Debian is clearly right and Rust is clearly wrong (80686 lacks SSE2), but it's what it is and neither here nor there. The issue is analogous to ARM v6/v7 situation.

Rust's i686-unknown-linux-gnu target requires SSE2, so can't run on Geode. Rust's i586-unknown-linux-gnu will run on Geode, but that's unfortunate, because Geod

[2021-02-23 06:30] osa1 commented on #80258
Looking into the `Pick` type and its uses more, I think we don't really insert `&*` but in effect just cast the type. I may be wrong though, first time looking at this code. Relevant code:

- https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/compiler/rustc_typeck/src/check/method/confirm.rs#L133 picks generated by probing passed to this function
- https://github.com/r

[2021-02-23 07:19] #76690 closed

[2021-02-23 07:19] #80174 closed

[2021-02-23 07:19] #81157 closed

[2021-02-23 07:19] #81330 closed

[2021-02-23 07:22] JohnTitor commented on #82386
Closing in favor of the above comment.

[2021-02-23 07:22] #82386 closed

[2021-02-23 07:38] osa1 commented on #80258
I pushed my code and submitted draft PR #82436. As the description says, it's a hacky proof-of-concept currently, but I can boot rustc with it and the original repro works. I'll be working on it.

@rustbot claim

[2021-02-23 08:16] Lokathor commented on #82408
If each block to merge was marked with an attribute that just merged it with the first un-attributed block that would be output that would sufficiently solve the problem.

[2021-02-23 08:19] RalfJung commented on #80258
That's just as problematic.

You can just do `x as *const T`.

[2021-02-23 08:21] osa1 commented on #80258
Right, I'm aware that dereferencing a pointer is unsafe and hence problematic to do automatically.

That's what we do, yes. See my updates above.

[2021-02-23 08:21] LukasKalbertodt commented on #75243
With #82098, the assembly output has improve somewhat: https://godbolt.org/z/hsEdqv (Same link @eduardosm posted above, but Godbolt automatically updates the nightly). It's still not as good as the other two versions though.

[2021-02-23 08:34] lolgesten commented on #80486
I'm probably dense, but I don't understand how I am supposed to change my code.

This is what I had, but reading the `compare_exchange` documentation, I don't understand what I'm supposed to do now.

[code]

I understand the motivation for the deprecation, but I feel sad it's done at the cost of a more complex API. For my use case, I simply want atomic access to a bool, and now I'm forced to get m

[2021-02-23 08:39] RalfJung commented on #80486
@lolgesten without commenting on the rest of what you said, this is how you could change your code:
[code]
This translation can be applied systematically.

However, I *assume* what you really want to express here is "if the CAS happened successfully", which would be more clearly expressed as
[code]
Arguably, this code is more clear than your original code, since it is easier to see that it checks

[2021-02-23 08:51] lolgesten commented on #80486
@RalfJung thanks! This is what I was suspecting I should do.

In terms of improving the documentation. The table added in the doc for `compare_and_swap` has the column names "Original", "Success", "Failure". Maybe that could be improved to more clearly indicate the columns are for `compare_and_swap` and `compare_exchange arg1` and `compare_exchange arg2`.

And also

It's not clear to me whether th

[2021-02-23 08:54] cuviper commented on #82435
Debian could further patch `rustc_target` to disable target-features on i686 -- it seems they already lowered the cpu target from "pentium4" to "pentiumpro".

[2021-02-23 09:29] MarkDDR opened #82437 "rustc will rapidly eat your memory with `#[tokio::main]` macro and `"\ "` on 1.50 stable"
In `Cargo.toml`, add the following dependency
[code]

In `src/main.rs`, have the following

[code]
Then try to compile with either `cargo check` or `cargo build`

Example repo here: https://github.com/MarkDDR/rustc_backslash_space

### I expected to see this happen:
Compiler ends with error about invalid escape sequence then exits

### Instead, this happened:
Compiler gives the error about invalid

[2021-02-23 09:36] yvt commented on #32408
Naked functions generate a trap instruction at the end of them on some target architectures <https://rust.godbolt.org/z/f7To38> - is this an expected behavior? I'd expect naked functions to have absolutely no compiler-generated surrounding code (prologue, epilogue, and of course the trap instruction).

[code]

`x86_64`:

[code]

`armv7a`:

[code]

`thumbv6m`:

[code]

[2021-02-23 10:15] faern commented on #80486
I agree that the "Original" column could be better named. But the column names "Success" and "Failure" are named after the arguments to `compare_exchange`. I think that makes sense. `arg1` and `arg2` would be strange since the first two arguments to `compare_exchange` is `current` and `new`. But yes, the text could elaborate a bit more and show one example of a migration maybe.

[2021-02-23 10:43] marko1597 opened #82438 "thread 'rustc' panicked at 'LocalTableInContext: key not found'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-23 11:15] ulwlu commented on #25289
I've faced to this issue on Docker `rust:1-alpine3.12`.

It could be solved by the following steps.

[code]

[2021-02-23 11:18] jethrogb commented on #74674
Is it possible to add `[T; N]::split_array` now but adjust the signature so that its use is always a compile-time error? I'd like to land the slice version ASAP but I don't want to run into the same problem we had with `into_iter`.

[2021-02-23 11:29] the8472 commented on #75027
Bikeshed:

Would `windowed_iter()` be a better name? It follows the convention that `iter()` usually returns borrowed iterators.

[2021-02-23 11:37] Amanieu commented on #32408
This is due to LLVM inserting a trap instruction when lowering the `unreachable` IR instruction which we insert after a `noreturn` asm. It shouldn't hurt since it is inserted after the `asm` rather than before.

[2021-02-23 11:59] LeSeulArtichaut commented on #82438
This regressed in 1.51 according to the playground

[2021-02-23 12:17] LeSeulArtichaut commented on #82438
searched nightlies: from nightly-2020-12-15 to nightly-2021-02-01
regressed nightly: nightly-2021-01-30
searched commits: from https://github.com/rust-lang/rust/commit/c0b64d97beebb09325b5587abed39f4f1621026f to https://github.com/rust-lang/rust/commit/b122908617436af187252572ed5db96850551380
regressed commit: https://github.com/rust-lang/rust/commit/74500b99783d126e330184f0392a78f8b93b73ef

Regre

[2021-02-23 12:23] catenacyber commented on #82144
I now think I have indeed 2 problems.
The first one is indeed that `-Z instrument-coverage` is incompatible with optimisations such as shipped in by `cargo build --release`

The second one, I can reproduce with suricata
The important settings are
[code]

Then running llvm-cov, I get `Failed to load coverage: Malformed instrumentation profile data
error: Could not load coverage information`

So, I

[2021-02-23 12:26] LeSeulArtichaut commented on #82438
Most likely regressed in https://github.com/rust-lang/rust/pull/81158, cc @1000teslas @Aaron1011

[2021-02-23 12:43] #82074 closed

[2021-02-23 13:39] mati865 commented on #82409
Git for Windows provides `diff`:
[code]
Are you building Rust using Git Bash prompt?

[2021-02-23 14:13] Rahix commented on #82104
This is caused by https://github.com/rust-lang/compiler-builtins/issues/400.  A fix is pending in LLVM, but not yet merged...  In the meantime, you can use the `nightly-2021-01-07` compiler version:

[code]

[2021-02-23 14:26] jq-rs commented on #82423
Pretty neat! `mimalloc` would need macOS support too, so this should give clues on how to add it.

[2021-02-23 14:35] sunfishcode commented on #82339
Yeah, `--mapdir` is a step toward blinding. It's not yet automatic though. And it's not yet clear if the ecosystem will evolve in a way that's compatible with automatic blinding.

That's still mostly the case. Symlinks are resolved by the "OS", rather than libc, so they don't go through the preopen mechanism. If we really wanted to support cross-handle symlinks, there are a few ways we could make

[2021-02-23 14:36] steveklabnik commented on #82435
I've changed the title to something more descriptive.

[2021-02-23 14:47] Aaron1011 commented on #81920
I don't think this is `P-Medium` - it only occurs with a strange input, and then only after errors have already been emitted.

[2021-02-23 15:03] RReverser commented on #82339
Right, but we can't really ignore those :) A function to get relative path between `from` to `to` is most often bound to produce some `..` components.

The rest of what you're describing makes sense, but I hope that this kind of usecases is not ignored completely just because they're special :)

The general question about the direction of path handling still stands I think: do we want Rust path ma

[2021-02-23 15:10] richkadel commented on #82144
`cargo build --release` should not be a problem.

Are you trying to generate coverage from both C++ and Rust in the same binary? This has not been tried. I think it should work if you are using LLVM 11. I'm not sure about LLVM 12. Clang MUST generate Coverage Mapping Format version 4.

Note that there are multiple new version in the works, so generating both Rust and C/C++ coverage in the same bin

[2021-02-23 15:16] Shnatsel commented on #82435
Geode does not support some instructions that Pentium Pro does, so this behavior seems WAI:

from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=973414#61

[2021-02-23 16:00] kurojishi commented on #82410
Test out the workaround and it works, while we wait for the actual fix to come out, thanks a lot!

[2021-02-23 16:12] limchiahau opened #82444 "Module is private even when marked as public."
In my binary crate, I called a function within a public module but the compiler says that the module could not be found.

A sample of the code is as below:

In main.rs:
[code]

In my lib.rs:
[code]

The strange thing is that if I reverse the order in lib.rs, the client module is now correctly public. Something like this:

[code]

I believe this is a bug.

[2021-02-23 16:23] davidspies opened #82445 "LLVM ERROR: Invalid encoding"
The code is the same as in this issue https://github.com/rust-lang/rust/issues/82406
but I added `--release` to the command-line arguments

[code]

I tried this code:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

`RUST_BACKTRACE=1` didn't produce any backtrace

</p>
</details>

[2021-02-23 16:28] rylev commented on #82409
I don't think it'd be a good idea to require testing rustdoc in the Git for Windows bash shell. I'd like for this to work in cmd.exe and PowerShell if possible.

[2021-02-23 16:31] jonas-schievink commented on #82444
`#[cfg(test)]` is only active when building the library for unit testing

[2021-02-23 16:31] #82444 closed

[2021-02-23 16:47] Aaron1011 opened #82446 "Spurious 'help: store this in the heap' on error involving `&Box<dyn SomeTrait>`"
The following code:

[code]

produces the following error:

[code]

`val` is a `&Box<dyn MyTrait>`, so writing `Box::new(val)` would produce a `Box<&Box<dyn MyTrait>>`. This is very unlikely to be what the user wants - and in this case, it won't even work, since there are no impls for `MyTrait`.

### Meta
Tested on `rustc 1.52.0-nightly 2021-02-22`

[2021-02-23 16:54] chinedufn commented on #82371
Looked into the [linkme](https://github.com/dtolnay/linkme) approach.

As far as I can tell, it is not possible for a `linkme` (or a hypothetical RFC'd rustc first-class linkme like construct) based `typetag` to work in wasm, since custom sections in wasm cannot container function pointers.

https://github.com/rust-lang/rust/blob/e80c86c535b74cdd65c4b75b94ce38342d0bb946/src/librustc_typeck/check/m

[2021-02-23 17:09] dtolnay commented on #82371
@chinedufn the point of building it as a rustc feature instead of emulating it in the linker is to avoid any link_section related platform specific restrictions. For example, `#[test]` already works like this on wasm. The compiler builds the table of function pointers, not the linker.

[2021-02-23 17:16] steveklabnik commented on #62633
I just want to comment here, as someone who doesn't have a super strong opinion in any direction, and is not on the libs team:

at the end of the day, procedurally speaking, the libs team is empowered to make decisions about what goes into the standard library. We do not develop Rust based on comments, upvotes, or reactions on GitHub issues. If we did, there would be no reason to have the teams. T

[2021-02-23 17:21] steveklabnik commented on #62633
Okay, with my legalese hat off:

Is there anything blocking people from implementing this method themselves if they want it? Normally what happens in these scenarios is that people do so, make a package, and then then the ecosystem popularity can help inform decisions.

As a concrete example of this working, before Rust 1.0, [a function named `ref_slice` was removed](https://github.com/rust-lang/r

[2021-02-23 17:35] abonander opened #82449 "Rustdoc: in "Blanket Implementations" list for a given type, show std traits separately from non-std traits"
The "Blanket Implementations" section has a high noise level since it lists a lot of traits that you tend to assume every type implements:

* `Any`
* `Borrow<T> for T`
* `BorrowMut<T> for T`
* `From<T> for T`
* `Into<T> for T`
* `ToOwned` (for types implementing `Clone`)
* `TryFrom<T> for T`
* `TryInto<T> for T`

For example, [`blake2::Blake2b`](https://docs.rs/blake2/0.9.1/blake2/struct.Blake2b.h

[2021-02-23 17:58] chinedufn commented on #82371
Ahhhhhhhhh now I see. Ok I _may_ be back in the game here. I've been itching to make my first rustc RFC / implementation.

---

Ok here's my understanding of the very high level gist of this:

So, basically, in wasm we generate a table with all of the functions and it would be up to the user to read and make use of this at runtime (probably within something like lazy_static!).

In not(wasm) we wou

[2021-02-23 18:08] ehuss opened #82450 "Tracking Issue for RFC 3013: Checking conditional compilation at compile time"
This is a tracking issue for the RFC 3013: Checking conditional compilation at compile time (rust-lang/rfcs#3013).

Issues: https://github.com/rust-lang/rust/labels/F-check-cfg
Documentation: https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/check-cfg.html

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs

[2021-02-23 18:14] MarnixKuijs commented on #81381
When building llvm from source it seems to default to `MT`, so maybe `MD` isn't supported?

[code]

[2021-02-23 18:38] hyd-dev commented on #82371
I believe "emulating it in the linker is to avoid any link_section related platform specific restrictions" means the compiler should do the same thing for `wasm` and `not(wasm)` *totally* at compile time, that is, it should "just straight up set the value of the static list at compile time for you" on all targets.

Personally I expect the compiler to generate something like `extern "Rust" { static

[2021-02-23 19:12] matthiaskrgr opened #82452 "confusing diagnostic about allocator_api feature"
[code]
The Strings were supposed to be inside a tuple,
[code]
but instead of a some kind of a mismatched argument number message, I got a warning about `allocator_api` :sweat_smile:

[code]

[2021-02-23 19:19] steveklabnik commented on #23246
Changes of this magnitude would require an RFC these days, and I would encourage folks to either open an RFC or a thread on users or internals rather than continuing to comment on an issue that was closed almost six years ago.

[2021-02-23 19:22] joshtriplett commented on #81996
Following up on this with further discussion from the @rust-lang/lang meeting today:

- As stated in https://github.com/rust-lang/rust/issues/81996#issuecomment-780047179 , `repr(C)` is intended to be C-compatible, not just a generic "simple layout".
- We're potentially open to a separate `repr(inorder)` or `repr(stable)` or similar, but that'd need to be a separate proposal, with its own precisel

[2021-02-23 19:24] Aaron1011 opened #82453 "Suggest reborrowing mutable borrow when moved"
The following code:

[code]

results in the following error:

[code]

We should suggest `match (&mut *val, true)`, which will make this compile.

Note that the following code *does* compile:

[code]

It looks like we automatically insert a reborrow under some circumstances.

[2021-02-23 19:29] nagisa commented on #72016
During upgrade to LLVM 12, [which fixes the infamous `loop {}` soundness bug for good](https://github.com/rust-lang/rust/issues/28728), I noticed that we mark `pure` `asm!` as `willreturn`, This also implies forward progress. This means that any inline assembly that does not progress by infinitely looping would face the same issues as `loop {}` did in the past. This would be the only place to my k

[2021-02-23 19:29] mahkoh commented on #82101
I don't agree with this definition. What would you call `unsafe { *(1 as *mut u8) }` if not "unsound"?

This behavior is specific to typedes and enums. But not to enums in GCC. Since `repr` cannot be applied to `type`, this issue is only about enums.

The elements in the array start at multiples of `sizeof(T)`, the overall size of the array is rounded up to `_Alignof(T)`.

I do not see why this wo

[2021-02-23 19:37] hudson-ayers commented on #81092
On a similar note, is `r6` on ARM one of these registers? Currently, attempting to mark it as clobbered produces this error:

[code]

A similar error is produced if you attempt to mark `r7` as clobbered, because `r7` is used as the frame pointer.

[2021-02-23 19:41] chinedufn commented on #82371
@hyd-dev thanks for illustrating.

I think the big thing missing for me in order to tackle an RFC is some links to parts of the rustc codebase that I can read over in order to better understand where these pieces might fit together.

I can poke around and try to piece things together (i.e. I need to take a look through the rustc dev book to start getting myself familiar), but if you have any links

[2021-02-23 19:55] Amanieu commented on #81092
No, that's intentional. LLVM will sometimes use `r6` internally for stack-relative addressing.

[2021-02-23 20:04] jyn514 commented on #82449
cc @RDambrosio016, I think you suggested something like this in the Rustdoc discord a while back.

[2021-02-23 20:05] mankinskin commented on #23246
But can't this issue be reopened? This is kind of the first place you end up at when googling about this, and the discussion is basically already here. I don't think there is a lot of designing left to do, it just needs to be implemented in the right way.

I can try to write up an RFC some time, but it is not high on my priority list right now and I am completely unexperienced with rustc. Opening

[2021-02-23 20:06] RDambrosio016 commented on #82449
My suggestion applied to separating derived traits, not this, but i like this change too :)

[2021-02-23 20:08] jyn514 commented on #82452
Hmm, I'm not sure how the compiler could improve here - it's correct, Vec has two type parameters, one of which defaults to the global allocator: https://doc.rust-lang.org/stable/src/alloc/vec.rs.html#301-304.

[2021-02-23 20:09] lucas-deangelis commented on #82209
Nice, thanks for confirming.

My attempt doesn't work.

Right now I'm looking at [`resolve_link`](https://github.com/rust-lang/rust/blob/15598a83db88ec7a32ea18a44dd6309f32edc07e/src/librustdoc/passes/collect_intra_doc_links.rs#L920), since it's the part where the link is created. I think that by trying to understand more `resolve_link`, I can figure out from where exactly does the path comes from,

[2021-02-23 20:10] #82290 closed

[2021-02-23 20:10] #81918 closed

[2021-02-23 20:10] #82325 closed

[2021-02-23 20:10] #82326 closed

[2021-02-23 20:10] #81365 closed

[2021-02-23 20:10] #82109 closed

[2021-02-23 20:10] #82110 closed

[2021-02-23 20:10] #82111 closed

[2021-02-23 20:10] steveklabnik commented on #23246
Large scale changes to the language, of which this is one, require an RFC. I am not on the lang team, but this isn't actually a bug: this is a request for a change to how the language works. A bug being open for it is not the procedure by which this would be changed.

[2021-02-23 20:13] RalfJung commented on #82101
It is called "Undefined Behavior". See [the UCG glossary](https://rust-lang.github.io/unsafe-code-guidelines/glossary.html).

Soundness as a concept only makes sense as the property of a type system or a safe API.

[2021-02-23 20:28] hyd-dev commented on #82371
I'm not a compiler expert so I probably can't help much, but I can provide a (probably vague) link to the metadata handling part of the compiler: https://doc.rust-lang.org/nightly/nightly-rustc/rustc_metadata/

[2021-02-23 20:38] klensy opened #82454 "ICE: assertion failed: !self.substitutions.is_empty()"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-23 20:41] klensy commented on #82454
Slightly minimized:
[code]

[2021-02-23 20:45] jonas-schievink commented on #82454
duplicate of https://github.com/rust-lang/rust/issues/78651

[2021-02-23 20:45] #82454 closed

[2021-02-23 21:10] morrisonlevi opened #82455 "Compiler panic with incorrect JoinHandle in thread_local var"
Hello,

While trying to figure out how to keep a JoinHandle in a thread-local variable, I tried compiling this incorrect code, and rust crashed. It will not panic if I use a regular static var instead of in a `thread_local!` block.

### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-23 21:25] hudson-ayers commented on #81092
Does that mean it is invalid for inline assembly to trigger a context switch to a userspace that will modify `r6` and eventually return within the same assembly block? Or does it mean that the programmer is responsible for saving and restoring r6 before / after the calls that will modify it?

I have struggled to find any reference about when LLVM will modify/use `r6`. Sorry, I realize this may not

[2021-02-23 21:27] Amanieu commented on #81092
It means that the programmer is responsible for saving and restoring `r6`. The references are deep in LLVM's source code and not documented anywhere. However we have to do this since LLVM may generate incorrect code otherwise (by not saving/restoring `r6` properly).

[2021-02-23 22:12] matthiaskrgr commented on #82455
The ICE happens since 1.44
@rustbot label: +regression-from-stable-to-stable

[2021-02-23 22:24] differance1 commented on #50776
@andrewleek-droplab -- worked for me, also trying to upgrade ffmpeg !

Had to brew edit formulas from the same repository for cargo-c and rav1e, but other dependencies worked, except had to force the current asciidoc to link (brew link --overwrite asciidoc) after brew upgrade ffmpeg completed.

Really appreciate the tip, gave me a key window into the whole brew getup, have a sense now of how and w

[2021-02-23 22:28] CAD97 commented on #81996
@mahkoh  What's the correct behavior for _multiple_ zero-sized arrays?

[code]

With the C

[code]

[I get that](https://c.godbolt.org/z/a45nrv) Clang and GCC produce a zero-sized type, and MSVC _errors_ (illegal zero-sized array). This is legal Rust, so erroring out on Windows only is a definite no-go. We can't match platform C here, because the implementation doesn't even allow this structure.

[2021-02-23 22:31] CAD97 commented on #82101
Specifically: `unsafe { *(1 as *mut u8) }` in a safe context is unsound code, in that it causes UB when run.

`#[repr(C, align)]` is not by itself unsound (per the UCG definitions), as the presence of the attribute by itself does not cause any UB. Rather, the assumption that `#[repr(C)]` has the same result as `#pragma align` in C, and writing unsafe code based on that assumption, produces `unsoun

[2021-02-23 22:42] mahkoh commented on #82101
There are multiple types of alignments: https://github.com/mahkoh/repr-c/blob/2bbc981d874e5769637edc16dc27ed20c794ed0b/repc/impl/src/layout.rs#L71-L95

[2021-02-23 22:48] CAD97 commented on #82101
Maybe in C (implementations), but not in Rust. In Rust, types only have the singular alignment, are always aligned to at least that alignment, and always have a size that is a multiple of that alignment.

[2021-02-23 22:49] limchiahau commented on #82444
Am able to verify that `#[cfg(test)]` is the thing that's causing my issue.

Note: The example code in the book "The Rust Programming Language" 2018 version doesn't work as expected because of this.

[2021-02-23 22:51] mahkoh commented on #82101
https://doc.rust-lang.org/nightly/core/intrinsics/fn.min_align_of.html
https://doc.rust-lang.org/nightly/core/intrinsics/fn.pref_align_of.html

[2021-02-23 22:54] CAD97 commented on #82101
And `pref_align_of` is never used anywhere in the rust-lang repository: https://github.com/rust-lang/rust/search?q=pref_align_of

[2021-02-23 22:56] mahkoh commented on #82101
And?

[2021-02-23 23:00] stevecheckoway opened #82457 "Space for large, constant arrays is allocated on the stack"
When a large, constant array like
[code]
is accessed directly (rather than through a reference) in a function like this
[code]
rustc appears to be allocating enough space to hold the whole array on the stack for each reference. With a large enough array times number of uses, this can cause the stack probe to fail. (I didn't check if the whole array is actually materialized on the stack each time o

[2021-02-23 23:14] CAD97 commented on #82101
You pointed out that the function exists (assumedly to refute that Rust only has one concept of alignment). My point is that pointing at an unused intrinsic that's been around since 2012 and is [barely not a candidate for cleanup/removal](https://github.com/rust-lang/rust/issues/71666#issuecomment-621214046) (because it has a whole one (1) test) is not really a counterargument.

[2021-02-23 23:17] leonardo-m commented on #82457
Thank you for reporting this.

[2021-02-23 23:18] RalfJung commented on #82101
From what I can tell, pref_align is a leftover in rustc that has no observable effect but that nobody bothered to removed yet. But there might be hidden uses of that part of `TyLayout` I am not aware of.

However, I *am* sure that it is not used anywhere in Miri, so if pref_align is supposed to have any effect on the execution of a Rust program, then there's a Miri bug here in that Miri does not i

[2021-02-23 23:20] mahkoh commented on #82101
1. There are currently multiple concepts of alignment in rustc
2. Multiple concepts of alignment have to be implemented to correctly support MSVC
3. There is precedence in C compilers which expose different alignments via _Alignof and __alignof__

[2021-02-23 23:21] RalfJung commented on #82101
As demonstrated above, for all intents and purposes, this statement is false -- if you cannot point out any way in which pref_align actually affects compilation or program behavior (on stable Rust), then pref_align is irrelevant for the purpose of this discussion.

[2021-02-23 23:27] ricobbe commented on #58713
I'm looking into implementing this support, but I'm still very much investigating and learning about the problem.  Do folks mind if I assign this issue to myself while I do, or should I wait until I'm closer to implementation?

[2021-02-23 23:31] mahkoh commented on #82101
GCC and Clang do not guarantee that attribute((aligned)) has this effect.

You can. They will just not be aligned as much as requested.

attribute((aligned)) is not standard.

What UB are you talking about? This "problem" only occurs when the requested alignment is larger than the alignment required by the underlying type.

No such thing as "the" alignment. If you're talking about the value return

[2021-02-23 23:32] mahkoh commented on #82101
There are at least three types of alignment.

- The alignment of all valid pointers to `T`
- The alignment of `T` when used as a field or global or on the stack
- The required alignment of `T` which cannot be reduced by packing attributes

[2021-02-23 23:39] trevyn commented on #62633
Yes — In practice, it's an ergonomics issue, and having the overhead of another crate and having to `use` it everywhere negates the ergonomics benefit.

That does not sound... inclusive and empowering.

I'm not saying there should be a direct popular vote, but I think something of the spirit of Rust is missing here.

[2021-02-23 23:43] CryZe commented on #62633
Another way to go about this is to possible add a .assert postfix command to rust-analyzer. That probably makes sense

[2021-02-23 23:45] trevyn commented on #62633
This addresses "writing" ergonomics, but not "reading" ergonomics.

[2021-02-23 23:50] CryZe commented on #62633
The problem with this method, is that it opens a whole can of worms where you'd basically establish this as a new Rust pattern where every method returning a boolean should also have a .unwrap_*() / .expect_*() variation. Vec::is_empty? Better add Vec::unwrap_empty() / expect_empty() too. Metadata::is_dir / unwrap_dir / expect_dir. ptr::is_null / unwrap_null / expect_null and so on. You might argu

[2021-02-24 00:05] trevyn commented on #62633
Hmm, a crate that implements a whole bunch of useful postfix things on many standard types is not a bad idea; it would amortize the overhead of `use` to the point where it could work.

[2021-02-24 00:08] naiveai commented on #62633
@CryZe devil's advocate, most of the people here are arguing for this because of the "hole" implied by `unwrap` and `unwrap_err`. However I do find this argument compelling.

@trevyn If such a crate existed, I can nearly guarantee the vast majority of its users would be using solely for `unwrap_none`/`expect_none`, which kind of defeats the point of such an amortization, because then they'd be bri

[2021-02-24 00:25] rickvanprim commented on #62633
I'd expect the methods to be on `bool` not `Vec` for that example, `my_vec.is_empty().expect_true()`, which feels reasonable to me stylistically.  I'm not suggesting that those methods be added, but I do like the concept of postfix assertions 🙂

[2021-02-24 00:45] tesuji commented on #62531
This issue appears to be fixed on beta. Maybe we need a codegen test for it.

@rustbot label E-need-tests

[2021-02-24 00:48] tesuji commented on #82457
I think this is intentional. Use could use static instead of const to move the array to ".rodata" section.
Maybe related to #73825.

[2021-02-24 01:18] ojeda commented on #82101
C only has `_Alignas`, and you cannot apply it to types like you can do with `__attribute__((aligned(N)))`.

[2021-02-24 01:44] ojeda commented on #81996
Zero-length arrays are a GCC extension and are not intended to be used like that anyway. Standard C has flexible array members to fill a similar use case as the GCC extension.

Whether it is legal Rust or not is depends on how Rust wants to define `#[repr(C)]`. It already gives an error for zero-variant enums; it could also give it for other cases such as when there is no way to match the platform

[2021-02-24 01:48] aclysma commented on #62633
@CryZe @rickvanprim `Vec`, `Metadata`, `ptr`, and `bool` do not have `unwrap` or `expect` functions, so I don't think it makes as much sense to put `unwrap_*` or `expect_*` on them as it does for `Option` and `Result`. (Result already has them)

@steveklabnik I understand and respect that this is not a "vote" and that the lib team is free to form their own consensus among themselves. That consensu

[2021-02-24 01:49] thomcc commented on #81996
It's currently legal Rust. I've even seen it used for alignment reasons. E.g.

[code]

I suspect code that does this is going to be broken by fixing this issue regardless... This is part of the unfortunate consequence of `repr(C)` being both the "stable layout" and "C compatibility".

[2021-02-24 01:55] rickvanprim commented on #62633
I read it more as an assertion on the underlying value, so you're asserting that `Vec::is_empty()` returned true, similar to `Option::unwrap()` (in my mind) asserting that it's Some and returning the underlying T.

My only usage of `Option::unwrap_none()` is as an assertion that the entry I'm inserting into HashMap is a new entry not a replacement, so maybe there are better ways of expressing that

[2021-02-24 02:00] ojeda commented on #82101
What is incorrect? Your example is not about an overaligned array.

[2021-02-24 02:04] aclysma commented on #62633
is_empty() has no side effects, so I don't mind so much putting that in assert!(). Options are frequently returned from things that do have side effects, similarly to result. (such as inserting into a hash map)

[2021-02-24 02:05] jyn514 opened #82461 "x.py check creates work for itself"
I tried this: `x.py check && x.py check`

I expected to see this happen: The first invocation does as much work as it needs to, and the second invocation does no work at all.

Instead, this happened: The second invocation checks rustdoc, clippy, and bootstrap twice.

<details>

[code]

</details>

### Meta

Currently rebasing https://github.com/rust-lang/rust/pull/79341 over https://github.com/rus

[2021-02-24 02:07] jyn514 commented on #82461
I think the issue might be that some dependencies are shared between bootstrap and rustdoc? I'm not 100% sure.

[2021-02-24 02:08] ojeda commented on #82101
That is not what I claimed. Please read my comment again. I was answering to the "`Enum` an `Enum[1]` have different sizes" Clang issue, which is about arrays of overaligned aligned ints/enums.

[2021-02-24 02:25] Mark-Simulacrum commented on #82461
Yeah, there's definitely something odd going on. Running with `CARGO_LOG=cargo::core::compiler::fingerprint=info` gives me [this log](https://gist.githubusercontent.com/Mark-Simulacrum/8aaffe4191ec4cd57f0609aa86c8ff02/raw/cd7f8fee7c85946388dc4525be25ab1806e4d874/gistfile1.txt) for the second build (which should be clean, no rebuilding).

It's a bit noisy and hard to tell, but at least it looks lik

[2021-02-24 02:30] stevecheckoway commented on #82457
`static` rather than `const` does indeed work.

It's very surprising to me that it would work this way. A clippy warning for this might be a good idea.

Should I close this issue?

[2021-02-24 02:50] dcow commented on #79408
I also encountered this issue when trying to put together an `xcframework`. @ubamrein I don't quite understand your workaround. Is there an example of how to pass that config during the build step? When I put that config in a json file and pass it as the `--target` during `cargo rustc` or `cargo build`, cargo simply tells me the target may not be installed.

[2021-02-24 03:05] sapir opened #82462 "Diagnostic for iterator referencing temporary with Drop may suggest an invalid semicolon"
Given the following code on rust nightly (current nightly on playground is 2021-02-22 a15f484b918a4533ad63):

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=286e1d81ecdd9df68dc94e9b1b8ead5f

[code]

The current output is:

[code]

The suggestion regarding the semicolon is incorrect.

Additionally, it seems a little odd to me that the first half of the sentence beginning "

[2021-02-24 03:07] jyn514 commented on #82461
Oh hmm, good catch. I expect this is what changes it: https://github.com/rust-lang/rust/blob/fe1bf8e05c39bdcc73fc09e246b7209444e389bc/src/bootstrap/check.rs#L330-L332 which means this is probably a regression from https://github.com/rust-lang/rust/pull/81271. Is there a way to pass that flag only for the final crate and not the dependencies?

[2021-02-24 03:31] steveklabnik commented on #62633
My theme in this comment is "I was not clear enough before", heh. My bad.

Sorry, I wasn't clear before. I meant technical reasons. Sometimes, things like coherence rules prevent an out of tree implementation. That doesn't mean this ergonomics thing isn't real, and you're right that there's a tradeoff here, but it *is* fundamentally possible. Different people will way this tradeoff differently, bu

[2021-02-24 03:44] smmalis37 commented on #74736
Closing in favor of #76956

[2021-02-24 03:44] #74736 closed

[2021-02-24 04:05] camelid commented on #82437
I can reproduce this [on the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce873fad3033cbcbf58afde809dab374); it exits after a few seconds with SIGKILL, presumably because the playground has limited memory.

Given this is fixed on beta and nightly, should this be a `T-release` issue rather than `T-compiler`? Probably this should just be closed since it will be

[2021-02-24 04:07] camelid commented on #82437
Replacing `T-compiler` with `T-release`, nominating, and de-`I-prioritize`ing.

@rustbot label: -T-compiler +T-release, +I-nominated, -I-prioritize

[2021-02-24 04:10] camelid commented on #82438
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382438.20Compiler.20Crash) in the prioritization working group.

[2021-02-24 04:32] guswynn opened #82465 "rustdoc drops impl Foreign<Local> for Foreign"
I tried this code:

[code]

with `cargo doc` I get:
![image](https://user-images.githubusercontent.com/5404303/108947539-84d6ea00-7615-11eb-9d70-c275910f9152.png)

with `cargo +nightly` I get:
![image](https://user-images.githubusercontent.com/5404303/108947620-acc64d80-7615-11eb-88c8-ba5021b19964.png)

### Meta

stable: `rustc 1.50.0 (cb75ad5db 2021-02-10)`
nightly: `rustc 1.52.0-nightly (d1206f9

[2021-02-24 04:36] guswynn commented on #82465
this also appears to affect beta:
![image](https://user-images.githubusercontent.com/5404303/108948145-c4520600-7616-11eb-8c0f-065bd5ff8463.png)

[2021-02-24 04:39] jyn514 commented on #82465
That's `rustc 1.52.0-nightly (a15f484b9 2021-02-22)`, so your nightly is actually earlier.

[2021-02-24 04:53] SoniEx2 opened #82466 "Any should be marked unsafe"
Any should be marked unsafe as it currently relies on Rust not having specialization. While it is extremely unlikely Rust will ever have specialization, marking Any unsafe should be fully backwards-compatible, so there's no good reason not to do it, and there are some good reasons for doing it today rather than when we do get specialization. In particular, we feel it would serve good documentation

[2021-02-24 06:01] dcow commented on #79408
You have to [rebuild the standard library][build-std] in order to use a custom target as mentioned in: https://doc.rust-lang.org/nightly/rustc/targets/custom.html. Write the above target-spec into a file named `aarch64-apple-ios11.0.json` and then invoke your build like:
[code]

[build-std]: https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#build-std

[2021-02-24 06:09] jyn514 commented on #81930
While working on this, I found that the handling of `ENABLE_DOWNLOAD_STAGE0` is broken: if a `Step` is called as part of `ensure()` instead of through `maybe_run`, it will still be built even if the constant is set to false. Not yet sure how to fix this.

<details>

Note that this has local changes enabling the constant for clippy:

[code]

[code]

</details>