[2020-04-08 15:45] dtolnay commented on #64260
I would be on board with stabilizing `then` and deferring until later whether to remove or stabilize `then_some`.

[2020-04-08 15:46] Centril commented on #70917
[code]
reports that the regression happened in https://github.com/rust-lang/rust/commit/209b2be09fcaff937480d1fbbe8b31646e361c7a, i.e. https://github.com/rust-lang/rust/pull/70164. cc @eddyb

[2020-04-08 15:52] leonardo-m commented on #70887
Having those as const fn is going to be useful to initialize constants, etc.

[2020-04-08 15:55] netaneld122 commented on #59994
I believe that as long as [this issue](https://github.com/rust-lang/rust/issues/62785/) isn't properly handled in the Rust core libs, it's [never going to be safe](https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/using-floating-point-or-mmx-in-a-wdm-driver) to compile Rust Windows drivers (especially for x86_32 systems).

[2020-04-08 16:08] hrvolapeter commented on #36710
I've managed to compile C++ library as part of my workspace using the answer in the second comment.  I used [cross](https://github.com/rust-embedded/cross) with musl target and defined these functions in the main file of the C++ code.
[code]
To my understanding these are needed to be able to define global variables which have to be initialised before the main function and cleaned after main functi

[2020-04-08 16:28] eddyb commented on #70917
Reduced ([playground/stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b2ee3845061638d756ae082932ebea2e) -> [playground/nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b2ee3845061638d756ae082932ebea2e)):
[code]

@nikomatsakis Are we supposed to ignore *only* lifetime parameters in `ty::FnDef`s? If the argument is that the only thing y

[2020-04-08 16:29] eddyb commented on #70917
I should say, I didn't expect to fix a lifetime vs type inconsistency, the goal was to fix type vs const inconsistencies. Somehow we have a behavior with no tests, I'm not sure how intentional it was.

[2020-04-08 16:31] Centril commented on #70917
(I'm perfectly happy to issue a point release, 0.9.6, to proptest btw if we decide the new compiler behavior is correct and proptest is in the wrong.)

[2020-04-08 16:59] RalfJung commented on #70889
Once const-code can mutate things, it's not a DAG any more but a general tree.
Also, why is sharing unobservable, assuming CTFE allows raw ptr comparisons eventually?

Oh *I see*, so I cannot use just any type in const generics, but only types that have certain properties? Okay that's a totally different game, then the "value domain" is *even more* restricted of course.

I enforcing via some valid

[2020-04-08 17:13] pipehappy1 commented on #26309
This feature is much appreciated. Without this, the doc test can only benefit doc reader but less useful for debugging during dev.

[2020-04-08 17:39] eddyb commented on #70889
Sorry, unobservable *by type equality*. The same way you can't tell *from within the language* that this always results in a non-tree DAG of interned types, for any type passed to it:
[code]
e.g.:
[code]

The typesystem does not admit such an approach for *normalized* types, a type can either:
* have "unnormalized" components (like `ty::Projection` or `ty::ConstKind::Unevaluated`)
  * normalizatio

[2020-04-08 17:54] manio commented on #70924
I also tested 'cargo clean' - and it also worked for me :)
no more this panic...

[2020-04-08 18:02] jonas-schievink commented on #70924
Do you remember the change that induced this bug? It looks like this is a problem with incremental compilation, so we'll need to find a change that triggers the issue.

[2020-04-08 18:06] spastorino commented on #70905
This needs bisection

@rustbot ping cleanup

[2020-04-08 18:08] eddyb commented on #70905
I suspect #69981 based on `[u8; _]`.

[2020-04-08 18:12] spastorino commented on #70905
Assigning `P-high` and removing nomination. This was [discussed as part of pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193357001).

[2020-04-08 18:27] mbilker commented on #34538
Sorry for the delay. Is there any testing project out there for testing the Rust synchronization APIs?

[2020-04-08 18:27] spastorino commented on #70841
Assigning `P-high` to this bug and leaving the nomination, this could have been `P-critical` too. This was [discussed as part of our pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193357937).

[2020-04-08 18:28] manio commented on #70924
@jonas-schievink
I was compiling my project with stable rust version, but today I've started to play with Rocket, so I've added rocket crate and I also did:
```rustup override set nightly```
Maybe this was the trigger of this problem...

In the mean time I may be also did:
```rustup target add arm-unknown-linux-gnueabihf``` - but I am not 100% sure now :(

[2020-04-08 18:32] spastorino commented on #70819
According to @RalfJung this has possibly regressed on #67885.
I guess this needs confirmation ...

@rustbot ping cleanup

[2020-04-08 18:35] eddyb commented on #70905
Oops, forgot to cc @oli-obk.

[2020-04-08 18:36] spastorino commented on #70819
Assigning `P-medium` and removing nomination. This was [discussed as part of pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193360163).

[2020-04-08 18:36] RalfJung commented on #34538
Well as a start there is the [`RwLock` test suite](https://github.com/rust-lang/rust/blob/42abbd8878d3b67238f3611b0587c704ba94f39c/src/libstd/sync/rwlock.rs#L551). `Mutex` also has one.

[2020-04-08 18:39] jonas-schievink commented on #70924
@manio I was more wondering about any changes to your code, not the toolchain. It's fine if you don't remember of course, but it would make it easier to track this bug down. Thanks!

[2020-04-08 18:41] spastorino commented on #70819
Nominating also according to what was discussed during the meeting to `T-lang` for discussion.

[2020-04-08 18:42] RalfJung commented on #70819
Note that there are two separate regressions going on:
- The CLI argument regression in the original post, which I noticed first. I am reasonably sure that one stems from https://github.com/rust-lang/rust/pull/67885, though of course it can never hurt to double-check.
- The regression in the handling of inline attributes that I described in https://github.com/rust-lang/rust/issues/70819#issuecomme

[2020-04-08 18:47] manio commented on #70924
@jonas-schievink
Oh - that should be trivial as I am trying to commiting often :D
All changes I've done in the code (with switching from stable to nightly) has to be here in this commit:
https://github.com/manio/hard/commit/348cd8728478dcad7948a951ce8154101270f089
The code has errors if that matters.

[2020-04-08 18:49] spastorino commented on #70763
Assigning `P-low` and removing nomination. This was [discussed as part of pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193361797).

[2020-04-08 18:57] spastorino commented on #70746
Assigning `P-medium` and removing nomination. This was [discussed as part of pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193362939).

This one also sounds a bit similar to #69892. Would be nice to find if there are duplicates too.

[2020-04-08 19:01] spastorino commented on #70746
Pinging cleanup to find duplicates ...

@rustbot ping cleanup

[2020-04-08 19:06] spastorino commented on #68304
Removing nomination, this was already discussed in triage meeting and it's under control.

[2020-04-08 19:08] CAD97 opened #70933 "On error due to reference introduced by default binding modes, point out where reference was introduced"
Simple example:

[code]

[code]

(plus if/when `Some(&val)` works to destrucure the borrow, suggest that instead)

[Initially suggested on irlo](https://internals.rust-lang.org/t/is-ref-more-powerful-than-match-ergonomics/12111/28?u=cad97), cc @joshtriplett @rpjohnst

This should help remove some of the pain points people have had around default binding modes ("match ergonomics") introducing needl

[2020-04-08 19:08] spastorino commented on #70453
I'm not sure if this should still be nominated but in any case I guess it's nominated for `T-lang` cc @eddyb

[2020-04-08 19:13] joshtriplett commented on #69781
I would like to see this as well: show the real return type, and optionally add an `async` badge to any function returning an `impl Future`.

[2020-04-08 19:14] spastorino commented on #70917
Assigning `P-high` and leaving nomination. This was [discussed as part of pre-triage meeting in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/pre-meeting.20triage.202020-04-09.20.2354818/near/193365343).

[2020-04-08 19:19] jurkstas opened #70934 "ICE: No `move_errors` should be allowed in MIR borrowck"
I get an ICE when I try to build [evolvim](https://github.com/syberant/evolvim):
[code]
I tried stable, beta and nightly. All ended with an ICE.
[code]

[2020-04-08 19:26] jonas-schievink commented on #70934
Important detail: Only happens on the `develop` branch, not `master`

[2020-04-08 19:29] tmandry commented on #70818
We could fix this by outputting the nicer error messages, which does seem to happen anytime there exists an `await` in the async fn.

The reason we don't output the nice error messages is that [this code](https://github.com/rust-lang/rust/blob/42abbd8878d3b67238f3611b0587c704ba94f39c/src/librustc_typeck/check/generator_interior.rs) doesn't create a [`GeneratorInteriorTypeCause`](https://doc.rust-l

[2020-04-08 19:34] jonas-schievink commented on #70934
(bisecting)

[2020-04-08 19:38] steffahn opened #70935 "Hard to read error message with 2D line drawing and multi-line expressions"
Especially the fact that the lines are broken up seems like a bug.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5ced1cdea9b2d8b7827d73057b82fa91))

Errors:

[code]

@rustbot modify labels: A-diagnostics, C-bug, D-papercut, T-compiler

[2020-04-08 19:39] steffahn commented on #70935
@rustbot modify labels: A-diagnostics, C-bug, D-papercut, T-compiler

[2020-04-08 19:39] Centril commented on #70933
Duplicate of https://github.com/rust-lang/rust/issues/70047.

[2020-04-08 19:39] #70933 closed

[2020-04-08 19:43] spastorino commented on #70917
As discussed in the meeting this is nominated for `T-lang`

[2020-04-08 19:43] amadeusine commented on #70381
@rustbot claim
I'd like to take this up if this is still open.

[2020-04-08 19:43] Dylan-DPC commented on #70381
It is open, go ahead :)

[2020-04-08 19:53] jurkstas commented on #70934
It happens with master branch as well if I do `cargo update` before building. Without it, it fails due to nalgebra bug before it even gets to evolvim-lib.

[2020-04-08 20:11] jonas-schievink commented on #70934
Ah, I see

[2020-04-08 20:11] tmiasko commented on #47071
@mati865 the linking issue would be #53945 (SanitizerCoverage has poor compatibility with some linkers & dead code stripping & LTO).

@frewsxcv is this still an issue for you?

It builds correctly for me with gold linker:

[code]

Possibly a duplicate of already closed #47953 (also about SanitizerCoverage and opened around similar time)?

[2020-04-08 20:38] Catman155 commented on #70924
For me it happened after this. Also tried rocket, I set ‘rustup default nightly’ and successfully compiled and ran with ‘cargo run’. But I remembered you could override for single projects. So I did ‘rustup default stable’ and then rustup override set nightly. The when i did ‘cargo run’ it gave the error.

[2020-04-08 20:47] jonas-schievink commented on #70934
regression in nightly-2019-08-17

https://github.com/rust-lang/rust/compare/f7af19c27...bdfd698f3

[2020-04-08 20:52] tsandstr commented on #70926
I would like to take a stab at this one, if someone could give me a few pointers. Looking around, I feel like I probably want to put a fix here
https://github.com/rust-lang/rust/blob/42abbd8878d3b67238f3611b0587c704ba94f39c/src/librustc_parse/parser/expr.rs#L1759-L1762
But I'm not quite sure what that fix will look like. Since the `parse_expr_res()` call fails, I am not sure how to check for the d

[2020-04-08 21:06] #70836 closed

[2020-04-08 21:06] #70856 closed

[2020-04-08 21:06] #70717 closed

[2020-04-08 21:13] spastorino commented on #70934
@jonas-schievink great :). Unsure if you're bisecting this further, anyway pinging cleanup crew in case you are not doing it further and also to see if someone is able to get an mcve.

@rustbot ping cleanup

[2020-04-08 21:17] jonas-schievink commented on #70934
There don't seem to be any prebuilt artifacts for that commit range, so I've stopped there.

[2020-04-08 21:27] kfitch commented on #70381
@amadeusine , FYI what is in my branch:
https://github.com/kfitch/rust/tree/issue-70381-escape-sequence-ice
seems to solve the \r issue just fine, but does not address the \u{} issue at all. My quick dirty attempts at that failed. You are welcome to leverage off of my stuff if you are taking this over. This has just been a fun distraction when I have time, but I can't reliably dedicate time to it.

[2020-04-08 21:42] varkor commented on #61522
The behaviour is now as expected. We just need a test now.

[2020-04-08 21:43] AminArria commented on #70819
Bisect of CLI arguments:

searched nightlies: from nightly-2020-02-04 to nightly-2020-02-18
regressed nightly: nightly-2020-02-17
searched commits: from https://github.com/rust-lang/rust/commit/61d9231ff2604a0467987042d9ebf9ff9ea739b5 to https://github.com/rust-lang/rust/commit/5e7af4669f80e5f682141f050193ab679afdb4b1
regressed commit: https://github.com/rust-lang/rust/commit/5e7af4669f80e5f682141

[2020-04-08 21:44] varkor commented on #62058
The error is now:
[code]
which is expected, though the diagnostic could be better (i.e. can't unify complex expressions).

[2020-04-08 21:45] varkor commented on #62700
@DutchGhost: are you able to check if this still ICEs? We fixed some issues with hashing a while ago and hopefully this was addressed along with them.

[2020-04-08 21:46] varkor commented on #62875
Closing as duplicate of https://github.com/rust-lang/rust/issues/61956.

[2020-04-08 21:46] #62875 closed

[2020-04-08 21:49] tobithiel commented on #70819
I opened #70918 to address the CLI argument regression

[2020-04-08 21:51] varkor commented on #66596
This appears to be working now.

[2020-04-08 21:51] varkor commented on #65813
@comath: did you manage to test this?

[2020-04-08 21:56] varkor commented on #68385
This now appears to be working.

[2020-04-08 21:57] kornelski commented on #58234
I'd love to see these stabilized. I have a tool that manipulates lots of paths, so I'd like to avoid needless reallocations.

* I generate lots of temporary paths in a loop. `PathBuf.clear() + PathBuf.push()` would work nicely to reuse the buffer.

* I need to concatenate several components. I know their length, so I could use `PathBuf::with_capacity()`

* I want to store lots of paths for later.

[2020-04-08 22:04] varkor commented on #68400
I'm going to use this issue to make note of existing cost generic issues that I think may not require lazy normalisation to fix. The rest are probably blocked on #67890.

- https://github.com/rust-lang/rust/issues/70507
- https://github.com/rust-lang/rust/issues/69943
- https://github.com/rust-lang/rust/issues/70225
- https://github.com/rust-lang/rust/issues/68104
- https://github.com/rust-lang/ru

[2020-04-08 22:21] eddyb commented on #68400
Please cc me on each fix for anything const-generics-related.
I don't have the time to go through all the issues right now but a "make things work" approach to bugfixing is likely to lead to unsoundness.

A very important milestone is #70107, anything that it creates errors in (without ICE-ing) should probably be considered "fixed as not-a-bug" or rather the bug was in the quality of diagnostics b

[2020-04-08 22:29] Amanieu commented on #58234
@rfcbot merge

[2020-04-08 23:00] dtolnay commented on #58234
@rfcbot reviewed
assuming we're only stabilizing capacity + with_capacity + clear + reserve + reserve_exact + shrink_to_fit;&ensp;and shrink_to is being moved to https://github.com/rust-lang/rust/issues/56431 instead.

[2020-04-08 23:09] AminArria commented on #70819
Bisect of inline attributes:

[code]

Checking for commit hashes in that nightly and the one before
[code]

Commits by bors in that range:
[code]

[2020-04-08 23:24] tmandry commented on #70814
I just hit a similar error message in rustc (not rustdoc). Unused braces lint with no span or other information. I don't have a reproducer currently, since it's from a big crate and I don't have much to go by.

[2020-04-08 23:30] smessmer commented on #58533
Any reason why `Cursor`s aren't `Clone`?

[2020-04-08 23:52] varkor commented on #68385
Closing as a duplicate of https://github.com/rust-lang/rust/issues/66596.

[2020-04-08 23:52] #68385 closed

[2020-04-08 23:55] mbilker commented on #34538
So testing my changes would be with `python x.py test src/libstd/sync`?

[2020-04-09 00:33] crockpotveggies opened #70940 "'rustc' panicked at 'index out of bounds: the len is 265 but the index is 265'"
Bug encountered when running `cargo test` see below for error and reproducible repository.

### Code

A branch has been set up to reproduce the problem. You can find it at https://github.com/crockpotveggies/lora-mesh-rs/tree/rs_compiler_bug

Run `cargo test` to trigger the bug.

### Meta

rustc stable 1.42

### Error output

[code]

[2020-04-09 00:36] Amanieu commented on #58533
It seems to just be an oversight. Feel free to send a PR to add `Clone`.

[2020-04-09 01:48] joshtriplett opened #70941 "Resolving `Ok`-wrapping for `try` blocks"
Please read this issue all the way through before commenting; this issue carefully pulls out one particular bit of a previously contentious topic for evaluation in isolation.

There's been a long-standing dispute that blocks the stabilization of `try` blocks: whether `try` should wrap its final value in `Ok` or not, referred to by the shorthand of "`Ok`-wrapping".

There's been extensive discussio

[2020-04-09 01:49] joshtriplett commented on #70941
Do we have language team consensus on the specific position that `try` should `Ok`-wrap its expression?

@rfcbot merge

[2020-04-09 01:50] joshtriplett commented on #31436
Please see [this separate issue](https://github.com/rust-lang/rust/issues/70941) for a specific narrow question to resolve language team consensus on the matter of `Ok`-wrapping.

Please read the opening comment of that thread before commenting, and in particular, please note that that thread is only about that one question, not any other issue related to `try` or `?` or `Try`.

[2020-04-09 02:58] dwrensha opened #70942 "[trait constants] thread 'rustc' panicked at 'assertion failed: `(left == right)` ...'"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):

[code]

[code]

[2020-04-09 02:59] dwrensha commented on #70942
The ICE seems to have been introduced at some point between `rustc` versions 1.35 and 1.36.

[2020-04-09 03:12] scottmcm commented on #70941
Well I'm [obviously](https://github.com/rust-lang/rust/issues/41414) in favour 🙂

@rfcbot reviewed

Definitely good to get this separated out from the other, more complicated questions.

I think consistency with async/await also helps here, since that has the same
[code]

[2020-04-09 03:28] #70365 closed

[2020-04-09 03:28] #66107 closed

[2020-04-09 03:48] mark-i-m commented on #70941
I still dislike the implicit control flow, but I do have to admit that this is a pretty elegant argument, and I also have to admit that `?`'s implicit control flow hasn't caused me undue suffering either. So I guess that puts me in the neutral group...

[2020-04-09 04:34] joshtriplett commented on #70941
@mark-i-m This issue isn't about any other property of `try` blocks; this issue is only about whether `try` blocks should `Ok`-wrap their final expression. To the best of my knowledge, that doesn't have any impact on control flow.

[2020-04-09 04:54] mark-i-m commented on #70941
@joshtriplett Sorry, perhaps it's a poor choice of words on my part, but I mean that we are calling the `Ok(...)` constructor implicitly; a function call is control flow, no?

(But either way, I don't wish to create noise on this thread, so I'm content to just drop it)

[2020-04-09 06:24] manio commented on #70924
@jonas-schievink
I was trying hard to get a simple steps to reproduce the problem from the start. So I cloned to an empty repo without rocket, compiled with stable, added rocket, trying to compile stable - got an error, switched to nightly and then it compiles fine instead of panic :(
I spent over hour trying to reproduce the problem with different scenarios, but unfortunately I cannot reproduce i

[2020-04-09 06:39] fabianschuiki opened #70944 ""mismatched types" on indexing into trait with two Index subtraits via output type"
If a trait has two or more `Index` subtraits, and one obtains a reference to something that implements that trait under specific conditions, typeck reports an error for indexing with all but the last `Index`'s key. Seems to happen only if that reference was obtained through another trait's output type.

Consider the following example ([playground](https://play.rust-lang.org/?version=stable&mode=de

[2020-04-09 06:45] #70285 closed

[2020-04-09 06:53] RalfJung commented on #34538
On Linux I'd do `./x.py test --stage 0 --no-doc src/libstd`. The `--stage 0` avoids building the entire compiler, twice, just to run some libstd tests.

[2020-04-09 06:53] fabianschuiki commented on #70944
The problem also occurs if `Index::index` is called explicitly ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4a6f352218029551ab275608a53f1ed0)):
[code]

Or also when `Index::index` is called explicitly ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ad54f0054863790a9c12d9d4ed0e5f7c)):
[code]

However, the *problem does n

[2020-04-09 07:09] oli-obk opened #70945 "[mir-opt] New optimization: eliminate concrete type -> trait object conversions"
Basically I am suggesting to turn

[code]

into

[code]

While the above code is likely never written, you can easily get this after inlining some function that e.g. returns a `Box<dyn Trait>` where the type that was turned into a trait object is always the same. I case the function is a trait method, we can't change the function into one returning `impl Trait`. This optimization would do the tran

[2020-04-09 07:15] RalfJung commented on #70819
@AminArria thanks a lot! I would guess the most likely regression candidate is https://github.com/rust-lang/rust/pull/43522, then.

My guess would be that [somewhere around here](https://github.com/rust-lang/rust/pull/43522/files#diff-e520b564624a0691c0a4a66932d8c7feR239), lint groups are not handled properly. This code looks different from [the previous `forbid` handling](https://github.com/rust-

[2020-04-09 08:06] steffahn commented on #70944
@rustbot modify labels to A-traits, A-associated-items, A-inference, C-bug, and T-compiler.

[2020-04-09 08:07] Phosphorus15 commented on #70942
Seems like something went wrong with const eval

[2020-04-09 08:12] eddyb commented on #70945
This is not the only situation that needs a similar kind of optimization.

The general thing could be called, idk, "`Rvalue` propagation" or I guess it's a kind of "combine" thing.

<hr/>

The MIR for the example above looks like this:
[code]

If both `_3` and all of the `Operand`s in its `Rvalue` are SSA-like (one "def" site that *dominates* all "use" sites), we can have a really cheap way to loo

[2020-04-09 09:04] Centril commented on #70940
Can you try the code with a recent nightly and see if it reproduces?

[2020-04-09 09:05] DutchGhost commented on #62700
Could not reproduce locally any more, so I guess it's been solved :)

[2020-04-09 09:06] Centril commented on #70942
cc @oli-obk @RalfJung

[2020-04-09 09:15] RalfJung commented on #70889
Okay, so type equality has its own notion of equivalence, distinct from what CTFE can observe. Are there some crucial properties that relate the two, like one being strictly more fine-grained than the other or so? I suppose CTFE-observable-equal consts should always be type-equal (because why not), but I am not sure if that is crucial for soundness.

You seem to say that if `CONST1 == CONST2` (in

[2020-04-09 09:18] RalfJung commented on #70942
Opsie, that ICE is a safety net that protects us against using constant values at the wrong type (and accidentally transmuting them). Looks like something here isn't aware that there was a type error and goes on using the wrong type for the wrong data.

[2020-04-09 09:21] RalfJung commented on #70942
@dwrensha do you have a backtrace with line numbers?

Curiously, on stable the ICE message is different:
[code]

[2020-04-09 09:24] RalfJung commented on #70942
So this looks like something is actually running Miri on this ill-typed code, and then doing a MIR assignment where source and target do not have the same size. Since array lengths are involved, I suspect this is similar to

https://github.com/rust-lang/rust/blob/11f6096a9ef6ad52de2956f4d2df200de7617077/src/librustc_mir/interpret/place.rs#L932-L942

I wonder if there is some way we can *not* run M

[2020-04-09 09:31] Centril commented on #70942
With line numbers:
[code]

[2020-04-09 09:34] nikomatsakis commented on #55005
I was thinking about this some more. The rayon bug that we encountered was a typical data-race sort of bug -- it took us quite some time to track down the crash, and the code "appears" quite innocuous. This makes me wonder. If we had had the stricter rules, in which `&self` cannot be invalidated in the middle of the function's lifetime, and had had some way to dynamically test those rules, we woul

[2020-04-09 09:38] eddyb opened #70948 "ty::print::pretty's p! macro should support string literals."
E.g. printing `ty::Slice(ty)` uses:
[code]
but we could allow writing it like this, by letting the macro use `$...:literal`:
[code]

But I'm not sure the macro can handle it easily.

Maybe we should just have `Print` implemented for more types and just make `p!(a, b, c)` print `a`, `b` and `c` (and we can then rename it to `print!`).

This issue has been assigned to @jakevossen5 via [this comment]

[2020-04-09 09:47] Jasper-Bekkers commented on #21690
@hanna-kruppe I tried coming up with a list of llvm builtin ops that can listen to the `afn` flag, the llvm reference docs seem to suggest there are only a few, however, it looks like opencl has a bunch more `native_` ops then this. (And I'm aware of fast-math style approximations for many more, as are you most likely). Could you help out set up a list for this so we can make a proposal and evalua

[2020-04-09 09:56] steffahn commented on #70942
Bisection points to https://github.com/rust-lang/rust/commit/45bbd14db4f12172cfb4f00e46b1f65ced0dd224 (https://github.com/rust-lang/rust/pull/60126).

[2020-04-09 10:03] Phosphorus15 commented on #70942
related issue #30999, which is requesting for an adjustment of error messages' order (and finally leaves the type error along), wonder if we can simply revert this

[2020-04-09 10:51] hanna-kruppe commented on #21690
I can't invest significant time into this subject. But if it helps, I don't believe `afn` is the only or primary mechanism by which these and other functions get mapped to approximations. Depending on platform and operation, other options include:

- gated on other LLVM IR attributes (e.g., `"unsafe-fp-math"` function attribute)
- frontend emitting (or headers `#define`-ing) the symbols as differe

[2020-04-09 10:55] steffahn commented on #70942
Well, on a second look, the error message on that regression is different though, so perhaps that part is fixed, I don’t know, I’ll see where it changes.

<details><summary>message on nightly-2019-04-24</summary>

[code]

</details>

[2020-04-09 11:21] lcnr commented on #70945
This looks very interesting. While I don't have a lot of experience with mir optimizations
I would gladly try this in case someone has the time and motivation to mentor me here.

It might be more efficient for them to implement this by themselves though :laughing:

[2020-04-09 11:24] RalfJung commented on #70942
@steffahn indeed, see my message above -- the message changed between stable and nightly. But I think the underlying issue is the same, we just changed the order in which a few assertions are checked.

https://github.com/rust-lang/rust/pull/60126 sounds like exactly the kind of thing that would lead to running Miri on ill-typed MIR.

[2020-04-09 11:25] eddyb commented on #70945
Actually I think for "known local value" optimization we should consolidate all of the simplifications we have, instead of having separate passes. So we run all possible simplifications like the one in this issue, or constant-folding, and including removing never-read assignments (which is currently inside `SimplifyLocals`, but shouldn't IMO) until fixpoint.

[2020-04-09 11:26] RalfJung commented on #70942
Hm, however, looking at @Centril's stack trace above, I do quite wonder how we are getting past the `mir_assign_valid_types` check. That one should not let types with different size pass through. We recently changed that check, which explains the nightly vs. stable difference, but this is an unexpected consequence of this change. Cc @eddyb

[2020-04-09 11:30] eddyb commented on #70942
Thanks for pinging me, I believe I've already fixed this (https://github.com/rust-lang/rust/pull/70452/commits/7c0257f95093929b457a71381140b0c1f3ca0455), I should've submitted as a separate PR. Will do that now, assuming it fixes this issue.

[2020-04-09 11:58] marmistrz commented on #59359
Yes, therefore this should be implemented separately, just as it's done in yanix:
https://github.com/bytecodealliance/wasmtime/blob/c4e90f729ca5e17a29a778ace7971aeda7c22391/crates/wasi-common/yanix/src/file.rs#L251-L258

[2020-04-09 12:10] LukasKalbertodt commented on #59359
@marmistrz Unfortunately, I don't quite understand what you are suggesting. And in particular: are you opposing stabilization of the features as they currently are?

[2020-04-09 12:17] eddyb opened #70953 "ICEs should always print the top of the query stack."
E.g. for #70942, instead of:
<pre>
<strong>error: internal compiler error: unexpected panic</strong>

<strong>note: the compiler unexpectedly panicked. this is a bug.</strong>
</pre>

We could print something more like

<pre>
<strong>error: internal compiler error: unexpected panic</strong>
    while const-evaluating `main::{{constant}}#0`
    ... (full query stack hidden, use `RUST_BACKTRACE=1` t

[2020-04-09 12:17] eddyb commented on #70953
Nominating for a vibe check (this should be easy to implement if we agree we want it).

[2020-04-09 12:20] Zoxc commented on #70953
Getting / printing the query stack may panic, so I'd prefer it to be done after printing the backtrace, but I guess that would be hidden by default anyway.

[2020-04-09 12:21] eddyb opened #70954 "ICEs + RUST_BACKTRACE=1 should interleave the backtrace and query stack."
The interleaving can be done by looking for frames with a certain function path (that we need to make sure show up w/o debuginfo, so that this is useful on nightlies).

Downside: harder to see the aggregate query stack in one place (unless we duplicate it).
Upside: easier to find where a query was invoked from.

cc @Zoxc

[2020-04-09 12:46] marmistrz commented on #59359
In my opinion, instead of the cross-platform implementation present in
https://github.com/rust-lang/rust/pull/58422/files#diff-668f8f358d4a93474b396dcb3727399eR1407-R1410, platform-specific implementations should be used (`lseek` on Unix/something else on Windows/etc), so that a mutable borrow is not required.

I think that the API should not be stabilized, because it's semantically incorrect to r

[2020-04-09 13:16] nox commented on #70941
Does that stabilise and sets in stone that try blocks do Ok wrapping if it gets accepted, or is it just to experiment in nightly with try blocks doing Ok wrapping?

[2020-04-09 13:18] Centril commented on #70941
@nox point of information: `try { ... }` blocks already do `Try::from_ok`-wrapping on nightly.

[2020-04-09 13:20] nox commented on #70941
So that sets in stone that if try blocks get stabilised, they will do so with Ok wrapping and that cannot be discussed anymore, is that it?

[2020-04-09 13:20] #54444 closed

[2020-04-09 13:20] #69307 closed

[2020-04-09 13:20] #70830 closed

[2020-04-09 13:26] Amanieu commented on #55861
So, here's what I got so far. I've narrowed it down to this command line, which runs only 35 tests:
[code]
Crashes are rare, but when it does crash it seems to always be in `test_try_reserve_exact` (confirmed by disassembling the address in the tombstone):
[code]

The segmentation fault is misleading, that's just what Android's libc uses for `abort()` instead of SIGABRT. The abort message is:
[cod

[2020-04-09 13:27] spastorino commented on #70934
Assigning `P-high` meanwhile we don't have an mcve as [discussed as part of WG-prioritization procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/.2370934.20ICE.3A.20No.20.60move_errors.60.20in.20borrowck).

[2020-04-09 13:33] varkor commented on #62700
Since we weren't able to find a MCVE, I'm going to close, as we do have regressions tests for related issues.

[2020-04-09 13:33] #62700 closed

[2020-04-09 13:48] LukasKalbertodt commented on #59359
A few things:

- You are mainly talking about files, but `Seek` is implemented for many more things which potentially do not have a way to get the length otherwise. So "it's semantically incorrect to require mutable borrows for immutable queries." is only true for files and the like where mutability is indeed not required. But for some of `Seek`s implementors, a mutable borrow is indeed correct.

[2020-04-09 13:56] LeSeulArtichaut commented on #70851
@estebank Isn't it the opposite? If we try to convert a `u8` to a `usize`, we want `is_faillible` to be `false` so we suggest `.into()` instead of `.try_into().unwrap()`.

[2020-04-09 14:02] comath commented on #65813
Yes, it seems to be resolved.

[2020-04-09 14:02] #65813 closed

[2020-04-09 14:10] nikomatsakis commented on #70941
@nox Correct. That is what we are deciding on.

[2020-04-09 14:18] oli-obk commented on #70905
I just tried to repro in our test suite and

[code]

passes... This is on unmodified master from 03:00 this morning.

[2020-04-09 14:26] oli-obk commented on #70905
Oh interesting, this only reproduces with `--crate-type=lib`, probably because the `test` function is then never really compiled because it's dead code. The following also ICEs

[code]

[2020-04-09 14:32] sjep commented on #51405
Is there any update on this? I just ran into this issue in a graphics application I'm working on (MacOS) and I'm still not sure how to get a debug print out.

rustc --version: rustc 1.41.0 (5e1a79984 2020-01-27)

[2020-04-09 14:36] gilescope commented on #51405
Not that I’m aware of. I backed off this a year ago ostensibly because I had bit off a bit more than I could chew...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-09 14:46] Amanieu commented on #55861
Looking at the memory dumps from the tombstone, we can see that the bug is somewhere in `realloc`:
[code]
Note the chunk prefix of `8000000b` which says that "this chunk has a length of 2GB + 8". This is clearly impossible since the address of the block (0xb8caf518) is in the second half of the address space.

Note that this bug is not an issue for modern Android versions since those use jemalloc

[2020-04-09 14:47] steffahn commented on #70942
More precisely, the error message changes to (pretty much) the current one in https://github.com/rust-lang/rust/pull/69181.

[2020-04-09 14:51] oli-obk commented on #70905
found a fix, not sure if that is too ad-hoc though.

[2020-04-09 14:56] eddyb commented on #70841
Should this error, though, if *no `<X as Drop>::drop` code actually runs?
[This still errors as expected](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=58bc5a72ab4ace6ae402dda1986427fa).

[2020-04-09 14:57] tsandstr commented on #70851
Yeah. It's the other way around.

[2020-04-09 15:03] nikomatsakis commented on #70841
We definitely need to check into this, but I think @eddyb is correct that the special role of  `PhantomData` only comes into play when `Pending` actually implements `Drop`; otherwise, the compiler is allowed to know that dropping `Pending` is a no-op (except in so far as it drops the contents of `Pending`).

[2020-04-09 15:05] zserik commented on #59359
@LukasKalbertodt "`Seek` is not just about files" I'm curious, on which other "I/O objects" is this intended to be implemented on (just to make clear what we're talking about)? Are there existing I/O objects on which `stream_len` can only be implemented with a mutable borrow?

[2020-04-09 15:05] bjorn3 commented on #70953
I think always enabling backtraces for rustc would be useful, as it ensures that all bug reports contain a backtrace. Even when the issue is not reproducable.

[2020-04-09 15:22] pietroalbini commented on #55861
Thanks for investigating this :heart:

[2020-04-09 15:24] hank-der-hafenarbeiter opened #70959 "Type checker gives confusing tip when collecting std::str::Char into std::rc::Rc using std::from::From."
Hey everyone,

I noticed that when collecting an `std::str::Chars` into a `std::rc::Rc` using `Rc::from(...)`, the compiler tells you to annotate the type on your variable, when you actually need to annotate the type of your `std::Iter::collect()` call.

This [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=50c532e502901f9eec202e1f6396010b) produces the bug:

[code]
T

[2020-04-09 15:26] pietroalbini commented on #70738
This seems to be fixed.

[2020-04-09 15:26] #70738 closed

[2020-04-09 15:43] crockpotveggies commented on #70940
Looks fixed on the nightly. Closing.

[2020-04-09 15:43] #70940 closed

[2020-04-09 16:26] alexcrichton commented on #70819
I'm not sure I have a ton to add here myself, this definitely feels like a bug (both CLI and attribute handling) and seems reasonable to fix, and the fix is likely the same for both.

[2020-04-09 17:45] lcnr commented on #68400
#69239 seems to be related to #69913, afaict the most useful way to fix this would be #70122 which we decided was not worth it.

#69816, #63695, #61936 something something const args in methods, if I remember correctly these can't be fixed easily rn, @eddyb I can't find where you mentioned this. (maybe https://github.com/rust-lang/rust/issues/70167#issuecomment-602016539)

[2020-04-09 18:07] Centril commented on #70926
@tsandstr Here is what I would do:

- First consider extracting out this code into a method to get out of your way in terms of control flow restructuring; call the method something like `fn recover_bikeshed(...)`: https://github.com/rust-lang/rust/blob/93dc97a85381cc52eb872d27e50e4d518926a27c/src/librustc_parse/parser/expr.rs#L1771-L1803

- Before expecting a `,` in the code, look at `self.token.k

[2020-04-09 18:14] pnkfelix commented on #70841
Injected between  +nightly-2019-04-22 and +nightly-2019-04-23

[code]

So current guess is that this was fallout from PR #59114

[2020-04-09 18:17] pnkfelix commented on #70841
And I have now confirmed that if you enable edition=2018, you will see this behavior going all the way back to Rust version 1.31.0 (i.e. back when we first deployed stable support for the 2018 edition).

So now I just want to confirm the running hypothesis that this is logical according to NLL.

[2020-04-09 18:17] eddyb commented on #70889
The reason we require "structurally matchable" ADTs (i.e. with `#[derive(PartialEq, Eq)]`, not custom) is mostly for consistency (with regular `==` and patterns), because anything embedded into the typesystem is closer to a bitwise comparison (except references, which recurse), and if we ever extend this in the future, it could require e.g. `const impl PartialEq` (although this seems unlikely).

W

[2020-04-09 18:22] eddyb commented on #68400
Yeah we should just ban const args on `TypeRelative` segments and method calls.
Unless someone has a clever way about how to type-check them.

[2020-04-09 18:37] varkor commented on #68400
They _should_ work. This would be an unnatural restriction, even a temporary one. That said, I'm not sure how to type-check them yet either.

[2020-04-09 18:39] marmistrz commented on #59359
`file.metadata().len()` returns the total file length, not the current offset in the file and doesn't change after seeking. It's not a replacement for `ftell()`.

[2020-04-09 18:41] lcnr commented on #68400
Afaik type args work with TypeRelative segments, which means that I am missing a crucial difference between const and type args. :/

Can you explain this to me/guide me to some relevant ressources?

[2020-04-09 18:43] pnkfelix commented on #70841
At this point I agree with the logic put forth by @eddyb and @nikomatsakis up above: There is no destructor operating on the type that holds the `PhantomData` (i.e. `Pending` in this example), so it is sound to treat dropping `pending` as a no-op.

I do worry a little bit about the user's mental model for this case, however. The claim "`PhantomData<T>` is just like a `T`" doesn't quite hold up. (n

[2020-04-09 18:46] steveklabnik commented on #62958
Triage: first playpen now reports `16386`, second reports `8390655`

[2020-04-09 18:59] nikomatsakis commented on #70917
Let me leave a brief comment explaining what is going on, because it took me a bit to figure out what @eddyb was talking about.

The type in question is one of the "anonymous types" that we construct for functions. You can think of these types as being roughly `F<...>`, where `F` is the name of the function and `...` are the generic types from the function definition. In [this case](https://github

[2020-04-09 19:58] Aaron1011 commented on #55861
@Amanieu: How do you know it's caused by `realloc`? The tombstone file I capturec contained the following backtrace for one of the threads (not the crashing one):

[code]

It looks like Rust isn't actually calling into `realloc` from `dlmalloc` - instead, it's falling back to freeing and re-allocating memory. If `realloc` is getting called, then it's either being done by the standard library makin

[2020-04-09 19:59] nikomatsakis opened #70963 "regression on span for panics due to track-caller in cross-crate macros"
This example has regressed (including on stable by now): ([playground](
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d5d1dd7fc4b97a199f8501d9cbabcfa0))
[code]
The location reported is now `<::core::macros::panic macros>:3:10` (or on nightly, `src/libcore/macros/mod.rs:34:9`).
(the choice of `VecDeque::with_capacity` is arbitrary, it just happens to have an `assert!` insi

[2020-04-09 20:00] nikomatsakis commented on #47809
Bug that @eddyb raised relating to panics and cross-crate macro spans:

https://github.com/rust-lang/rust/issues/70963

[2020-04-09 20:01] Centril commented on #70963
cc @anp :)

[2020-04-09 20:11] eddyb commented on #70963
One way to handle replacing macro spans with invocation ones when serializing spans in MIR would be adding another `Span` to `Terminator` (or even just `TerminatorKind::Call`), that will only be used for the `Location` passed to `#[track_caller]` callees.

Probably the easiest way to handle the custom encoding strategy is a `SpanEncodedAsCallSite` newtype that has a specializable `Encodable` impl,

[2020-04-09 20:12] eddyb commented on #70963
cc @Aaron1011 as they have been working on a proper implementation of hygiene serialization (which would make the workaround obsolete)

[2020-04-09 20:16] pnkfelix commented on #70941
Forgive me for belaboring the point here: Am I right that when everyone in this issue (and in the linked discussion on #31436) says `Ok`-wrapping, that is meant as a short-hand for `Try::from_ok` wrapping?

That is, I'm trying to understand if @joshtriplett is proposing that we (simply) commit to the *current* behavior, according to @Centril 's [note above](https://github.com/rust-lang/rust/issues

[2020-04-09 20:17] eddyb commented on #68400
@lcnr Types don't have types (or more correctly, the type of all types is the same, some hypothetical `Type` that you can't refer to inside the Rust language).

Furthermore, the constant expression is a separate body that has to be fully type-checked before it can be evaluated.

So you have to compute the type *before* you type-check the constant expression, before you can evaluate it, before you

[2020-04-09 20:19] AaronKutch commented on #57189
I found simpler one of these in the wild on [the subreddit ask anything thread](https://www.reddit.com/r/rust/comments/fw2hd8/hey_rustaceans_got_an_easy_question_ask_here/) (I have simplified it here). The new user of Rust is trying to set up Gtk signal handlers. What happens here is that the closure tries to use `self` which conflicts with the static lifetime. The problem is that the error messag

[2020-04-09 20:19] joshtriplett commented on #70941
This issue isn't about whether we wrap using `Ok` or `Try::from_ok`; this is about whether we wrap at all. *How* we do that wrapping may depend on what the `Try` trait and the `try` desugaring ends up looking like.

In this issue I'm just seeking consensus on whether we should do wrapping at all.

[2020-04-09 20:20] pnkfelix commented on #70941
Thank you for the clarification @joshtriplett

@rfcbot reviewed

[2020-04-09 20:24] joshtriplett commented on #70941
Note: despite rfcbot's handling, I'd still like to get responses from @cramertj and @withoutboats as well, to confirm that we have full consensus here.

[2020-04-09 20:59] anp commented on #70963
Aha, I knew I was forgetting to file something that was ongoing. Is there an issue tracking the span hygeine work that’s ongoing?

[2020-04-09 21:04] lcnr commented on #68400
While this makes sense, do we even want to know the type/value of the generic argument before the relevant parameters are known? I still think that I am missing something here, as it seems easily solvable for me. :neutral_face:

Looking at this example:
[code]
Due to type inference, we should know that `a` is `A<7>`, which means that we know that `M = bool`.
This allows us to then type check `true

[2020-04-09 21:17] RalfJung commented on #70942
@steffahn thanks, that makes a lot of sense.

Turns out the types on both sides are fine. It's just that the value returned by `eval_operand` does not match the type (we are getting a 32bit-value at type `usize`). So the type check is fine but the value sanity check later ICEs. Just [like I was worried in #69181](https://github.com/rust-lang/rust/pull/69181/files#r379857833), that PR broke layer o

[2020-04-09 21:25] eddyb commented on #68400
`true` is *in another body*. You can't type-check while type-checking the parent function.

It's like this:
[code]

You can *infer* the type `main_ANON0` from the body (`true`), but I would suggest avoiding strawmans like `true` which is clearly `bool`: unsuffixed integer literals are more interesting because `0` infers as `i32`.

The cycle would be if `type_of(main_ANON0)` looked up the type in `

[2020-04-09 21:27] eddyb commented on #70963
Oh, there is: #68686.

[2020-04-09 21:35] varkor commented on #68400
From a user's perspective, there's no reason this shouldn't work. It's unnatural from a language POV. This is theoretically possible to implement. If the existing infrastructure in rustc makes that difficult, then something should change there.

[2020-04-09 21:39] lcnr commented on #68400
I never want to infer the type of `main_ANON0` from its body.

My expectation is that we never actually need `type_of(main_ANON0)`. I only want to evaluate const args after the corresponding parameter is known(which means that the type of `main_ANON0` is also known).

Once we know that `main_ANON0` corresponds to `const N: bool`, `type_of(main_ANON0)` can be set to `bool` and checked without relyi

[2020-04-09 21:55] philipc commented on #51405
@sjep Run it in a debugger and use the debugger's backtrace facility instead.

[2020-04-09 22:17] eddyb commented on #68400
The existing infrastructure is *sound* wrt incremental and query execution order. Most of the things proposed at various times, that don't fit the current system, turn out to not have that property!

You have no side-effects (see my previous paragraph: they would be unsound), `type_of` can only *compute* the type by doing queries, and querying `typeck_tables_of(main)` (*the only* query which *can

[2020-04-09 22:33] jbr opened #70965 "Truncated text in rustdoc warning"
I got this error message while updating some docs, formatting retained. Thought I should probably file this somewhere. ~~Let me know if the specific code is important.~~ Thanks!

[code]

Edit: After filing this, I looked at that utils.rs line, and now I'm unsure if this is an async_std issue or a rustdoc issue, since it has something to do with macro expansion

[2020-04-09 23:18] #70894 closed

[2020-04-09 23:18] #61522 closed

[2020-04-09 23:18] #66596 closed

[2020-04-09 23:18] #70875 closed

[2020-04-09 23:18] #55861 closed

[2020-04-09 23:39] Arnavion commented on #58520
What is the use case to default to returning an iterator that starts at `self` rather than `self.source()` ? From personal experience, the only time I've ever iterated the source chain of an error is to pretty-print it, which means every error except the root has a `caused by: ` prefix and thus needs to be treated differently.

If this is the common use case for others too, then it seems to me the

[2020-04-09 23:56] estebank commented on #70965
https://github.com/async-rs/async-std/blob/aebba2bd95c3977a9d54c540e417d793acfb5f97/src/utils.rs#L256-L257

Could you show us how you're using it? I think it might be a span issue exposed by async-std, but it could potentially be an issue on rustdoc's side. Could you make a minified repro case?

[2020-04-10 00:01] jbr commented on #70965
@estabank This error occurs on master of https://github.com/http-rs/tide, but I'm not exactly sure what the source is

[2020-04-10 00:16] steffahn commented on #70934
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=31724edefe3b09150653edafe3fa462a))

Errors:

[code]
@rustbot modify labels to -E-needs-mcve

[2020-04-10 00:25] varkor commented on #68400
@eddyb and I discussed this in Discord starting [here](https://discordapp.com/channels/442252698964721669/443151243398086667/697933728307085444). The summary is that it might be possible to make method calls work after all, by threading `DefId`s for const parameters in `typeck_tables_of` and related queries.

[2020-04-10 00:28] steffahn commented on #70934
The reduced example regresses at nightly-2019-09-29.

[2020-04-10 00:48] steffahn commented on #70934
Even smaller (same regressing nightly):
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=08904ba3fd3b4d73653187b26bb18e13))

Errors:
<details>
[code]
</details>

[2020-04-10 00:49] eddyb commented on #68400
Note that the only reason we found something that *may* work is that all of the regular queries still do the things I've described above as almost guaranteeing a query cycle.

But we could have `const_arg` variants of relevant queries, that *also* get the `DefId` of the `const` parameter "taking" the constant expression, besides the constant expression's `DefId`.

The normal query would call the `

[2020-04-10 00:49] estebank commented on #70965
There are two things here: the warning is probably _correct_ in that there's an invalid code block in _some_ doc comment, and `rustc` is losing the right span after going through the proc-macro.

[2020-04-10 01:53] CDirkx opened #70968 "Confusing error message with `let _ : impl Trait;`"
A let binding with an existential type annotation and without an initializer expression results in error[E0720]: opaque type expands to a recursive type.

[code]
[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0547dbbd21490ea22ad707cc39517071))

The mention of recursion here distracts from the actual problem (the type could not be resolved to/satisfie

[2020-04-10 02:25] CDirkx opened #70971 "`ICE: broken MIR` with nested opaque types."
The following code produces an internal compiler error:
[code]

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a34d0fb96b5db15969038c57ecc1674e))

I tried various other types, bounds and concrete types, all resulting in the same ICE:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5a5a618a046dfb99485afe0de

[2020-04-10 02:27] CDirkx commented on #69840
Like #70971, when using an anonymous binding (`_`), the above code [compiles](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ff748ac719ab13869120fbe4c50a4377):
[code]

[2020-04-10 02:45] jyn514 opened #70972 "error: internal compiler error: src/librustc_mir_build/hair/pattern/_match.rs:318: cannot deref ByRef"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Note that the error is also present on stable (1.42.0).

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-04-10 05:02] spease opened #70974 "Unclear compiler error: "local ambiguity: multiple parsing options""
[code]

[code]

I assume the 'b' comes from the prefix, but I don't understand where the 'd' comes in. This is just a hygienic macro.

[2020-04-10 05:45] Patryk27 commented on #70974
This is a place to report bugs in the Rust compiler - since you have a question, please create a thread e.g. [on Reddit](https://www.reddit.com/r/rust/).

[2020-04-10 06:07] noahsalvadordenjo opened #70976 "After downloading rustup default stable-x86_64-pc-windows-msvc cargo disappears"
I get the following error
[code]
after running the command error stays the same

[2020-04-10 07:09] e65934e2-2928d1c8-3edb22a0-cfac1e7a opened #70977 ""Can't leak private type" -- but the type mentioned is not public"
Hello Rust Developers,

I tried this code:

[code]

I expected to see this happen:

- `E` is private within `private` module.
- `inner::run()` is public, but public only within `private`.
- So I expect `inner::run()` to be legal.

Instead, this happened:

[code]

### Meta
`rustc --version --verbose`:
[code]

Thank you,

[2020-04-10 07:27] qwerty19106 commented on #61522
Const Generic RFC leads the code as possible:
[code]

Is there another issue that is tracking it?

[2020-04-10 09:01] xfix commented on #41758
From a quick search on grep.app (https://grep.app/search?q=.resize_with&filter[lang][0]=Rust), I decided to categorize every line using `resize_with`.

# Default parameter usages

[code]

# Non-default parameter

[code]

# No default implementation, but one could be derived

[code]

# UB

There was one usage from `glutin` crate that I'm pretty sure is an UB. After determining what is the type crea

[2020-04-10 09:08] RalfJung commented on #70819
Turns out the problem is not about lint groups, it is about `forbid` being on the same "scope level" as `allow`. The following behaves as expected (i.e., it fails to compile):
[code]

[2020-04-10 09:44] eddyb commented on #70942
Fix is up at #70970.

[2020-04-10 09:54] RalfJung commented on #54542
@iago-lito I think the feature you are asking for was also requested at https://github.com/rust-lang/rust/issues/61011.

[2020-04-10 10:14] EdorianDark commented on #44095
The ```[must_use]``` attribute was added [recently](https://github.com/rust-lang/rust/pull/63871).
@ Xaeroxe Did you come up with something for range based clamp?
I think that the function as it is right now would best fit to the other numeric functions of rust and would like to start stabilizing it again.

[2020-04-10 10:24] Centril commented on #70917
Notes from the language team meeting yesterday:
- We believe @eddyb's changes to be a fix, and not a bug.
- We try to assess the impact using crater (not sure how you do that -- @Mark-Simulacrum maybe you can help?)
- It seems to have broken proptest (I mistakenly suggested it broke structopt; it has not), but I am the maintainer of that crate so I am happy to publish a point release (I'll try to

[2020-04-10 10:36] Centril commented on #70819
Hmm... It feels clear to me that this is a bug (the attributes part, the command line aspect is up to T-compiler). So to potentially save the language team meeting some time (we didn't get to this issue on yesterday's meeting), I wonder if @pnkfelix could clarify what aspect the language team should discuss and provide feedback on here.

[2020-04-10 10:37] Nadrieril opened #70980 "Misplaced error on ambiguous `Borrow` impl"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a5a90fb5114552a75d900c53d1df1cd1)):

[code]

I initially didn't have the `Borrow` impl, so the `foo.get` line was unambiguous. When I added the impl, that line became ambiguous, because the `.into()` could mean into `Label` or into `String`. I expected the compiler to report that; instead, I go

[2020-04-10 10:50] GopherJ opened #70984 "specialization doesn't work properly?"
[code]

I got the following errors:

[code]

[2020-04-10 10:51] #70984 closed

[2020-04-10 10:53] Nadrieril commented on #70980
Minimized a bit:

[code]

([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7c5818cbb8635e74fcf058e93c0a9ae5))

I thought it was specific to HashMap and Borrow but it doesn't look like it anymore. It fails even when there is no link between the two lines at all. There's something about using the same type twice where one is ambiguous somehow.

[2020-04-10 11:08] Nadrieril commented on #70980
Ah, this is duplicate with https://github.com/rust-lang/rust/issues/70082 and https://github.com/rust-lang/rust/issues/69455 that I hadn't found before. Closing in favor of those.

[2020-04-10 11:08] #70980 closed

[2020-04-10 12:00] eddyb commented on #70963
(Let me know if it's inappropriate to use `regression-from-X-to-Y` labels for runtime behavior)

[2020-04-10 12:01] jonas-schievink commented on #70977
Whether a type is public is determined on what privacy modifier it has, in this case `pub`. Whether the type is actually nameable from other crates does not matter.

[2020-04-10 12:01] #70977 closed

[2020-04-10 12:03] Mark-Simulacrum commented on #70917
@craterbot run start=master#bf1f2eedda4fa02b7c9347dd849ed73ddd43dedc end=master#209b2be09fcaff937480d1fbbe8b31646e361c7a mode=check-only

[2020-04-10 12:17] hanna-kruppe commented on #70887
Another idea for the naming bikeshed: `log2_floor()` etc. or some variation. Prevents mistakes w.r.t. whether it computes floor(log(n)) or ceil(log(n)) or something else. I am aware of the reasons why it's floor, but it was not immediately obvious to me when I first saw their signature, and I am most likely not alone.

[2020-04-10 12:21] Centril commented on #70974
This is a fine place to ask for improvements to compiler diagnostics. :)

[2020-04-10 12:22] Centril commented on #70972
cc @eddyb @varkor @oli-obk @Nadrieril

[2020-04-10 12:24] yoshuawuyts commented on #70887
@hanna-kruppe This was brought up before, and was addressed in https://github.com/rust-lang/rust/pull/70835#issuecomment-609795147:

[2020-04-10 12:30] joachimm opened #70987 "mismatched types error without location info"
I am a complete beginner to rust, I tried the below code. I have tried to minimise as well as I could but the issue go away if I remove the use cached::Cached stuff, and the underlying error is then presented (wrong type for warp::redirect), I also have tried this outside the DropBox folder without any difference :

[code]

With this Cargo.toml

[code]

I expected to see this happen:
An Error mess

[2020-04-10 12:43] hanna-kruppe commented on #70887
I am aware of that exchange, it gives one of the reasons for preferring floor semantics that I was referring to. I don't disagree with that being the chosen behavior, I just think making it explicit in the name would be helpful sometimes and not cause any harm otherwise. While it's true that all the methods in `std` that have to pick one prefer floor over ceil, I believe *all* of those methods are

[2020-04-10 12:59] eddyb commented on #70972
cc @pnkfelix I don't think `dyn Trait` should be structurally matchable.

[2020-04-10 13:02] jyn514 commented on #70972
Note that this isn't matching on `dyn T`, it's matching on `&'static dyn T`. There's a double pointer indirection because AtomicPtr requires T to be Sized.

[2020-04-10 13:19] eddyb commented on #70972
@jyn514 References match by their pointee value, unlike raw pointers. You should use `*const dyn T` if you want to actually compare the pointers.

[2020-04-10 13:39] varkor commented on #61522
Yes, there are some subtle issues about making sure that constants in types are well-formed. The tracking issue for this is https://github.com/rust-lang/rust/issues/68436.

[2020-04-10 14:01] Centril commented on #70453
Based on the discussion thus far, I believe everyone who has commented is in favor of option 2. (see https://github.com/rust-lang/rust/issues/70453#issue-588822132) which means that the answer to the question in the title is: "Yes, enum discriminants should have generics in scope."

However, this also makes certain commitments which will be observable on stable, e.g., when `#![feature(arbitrary_en

[2020-04-10 14:03] ryr3 commented on #70851
Sorry about those notifications, all. I was experimenting a bit.
Would that fix be good for a PR here, @estebank ?

https://github.com/ryr3/rust/commit/39d2b4a985d17db32e18dcfaf19f8269a7f0adf8

[2020-04-10 14:33] LeSeulArtichaut commented on #70851
@ryr3 If it works you should open a PR I think. Have you fixed the [tests](https://github.com/rust-lang/rust/tree/master/src/test/ui) that will be affected by this change? You can do so by running `x.py` with the `--bless` flag, like: `x.py test -i --stage 1 --bless src/test/ui`.

[2020-04-10 14:52] sjep commented on #51405
As I said, this is a graphics application on MacOS, I can't easily virtualize (into docker for instance) _and_ it's particularly difficult to set up gdb natively on Mac. I do agree that this seems to be the best workaround. I mainly upvote @gilescope in the need for a proper debug stack peek.

[2020-04-10 14:54] sfackler commented on #51405
lldb is available on MacOS.

[2020-04-10 15:06] sjep commented on #51405
Thanks for the tip - this is certainly the best workaround 👍

[2020-04-10 15:13] estebank commented on #70851
There might not be tests exercising this code path, but you can add some cases to `src/test/ui/integer-literal-suffix-inference.rs`.

The code change looks good. You will want to also run `./x.py fmt` just to make sure it doesn't get rejected due to formatting style (although the diff I saw looks good to my eyes). Feel free to create a PR with these changes, I'll be more than happy to review/appro

[2020-04-10 15:14] pnkfelix commented on #70953
discussed in [yesterday's T-compiler meeting](https://zulip-archive.rust-lang.org/131828tcompiler/54835weeklymeeting2020040954818.html#193461875). There was general support for adding information about the query context to the ICE output.

when we had a second ad hoc triage meeting today, @eddyb [added](https://zulip-archive.rust-lang.org/131828tcompiler/35095adhoctriagemeeting2020041054818.html#1

[2020-04-10 15:17] LeSeulArtichaut commented on #70851
There still are some. For example:
https://github.com/rust-lang/rust/blob/53712f8637dbe326df569a90814aae1cc5429710/src/test/ui/numeric/numeric-cast.stderr#L23-L32
needs to be changed

[2020-04-10 15:18] eddyb commented on #70953
Not "always emit", but rather issues when enabling it via `RUST_BACKTRACE=1`, such as taking a minute to compute the backtrace or strange crashes. We may have updated/fixed `libbacktrace` since though.

If we ever made the default to emit the backtrace, `RUST_BACKTRACE=0` could be used as an opt-out.

[2020-04-10 15:26] GuillaumeGomez commented on #70871
Let's hope next version will be released soon then! :)

[2020-04-10 15:32] GuillaumeGomez commented on #70874
Oh that's bad. We should make a warning about empty code blocks though. I'll send a PR shortly.

[2020-04-10 15:33] 38569459 opened #70992 "Relocation R_X86_64_32S out of range"
I tried to link some code to large address using custom linker script but it says `'relocation R_X86_64_32S out of range'`

linker script:
[code]
command: `rustc main.rs -C link-arg='--script=link.ld' -C code-model=large`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-04-10 15:37] estebank commented on #70851
@LeSeulArtichaut that one seems almost incidental. Given that the test matrix in this case is small enough, it's a good idea to exhaust it in a central place. It's my fault that the `*size` cases weren't in that test already 😬.

[2020-04-10 15:58] bjorn3 commented on #70953
Both

[2020-04-10 16:13] #47759 closed

[2020-04-10 16:13] #70396 closed

[2020-04-10 16:14] rust-highfive opened #70993 "`clippy-driver` no longer builds after rust-lang/rust#70983"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70983, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritizatio

[2020-04-10 16:26] pnkfelix commented on #70917
Touched on briefly at the [ad hoc triage meeting](https://zulip-archive.rust-lang.org/131828tcompiler/35095adhoctriagemeeting2020041054818.html#193575463) today. But since we are awaiting crater results, there is nothing for us to discuss at the moment.

Leaving nominated for discussion at next week's triage meeting (or hopefully sooner, async), since by then the crater results should be available

[2020-04-10 16:29] DustinByfuglien commented on #70971
It seems this ICE occurs not only in *nested* opaque types.
In the following example it occurs when correct error message expected.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6f00d335788e5f02ff69cdec1f157afb))

Errors:

[code]

However if we wrote
[code]
then an expected error message successfully outputs.

[2020-04-10 16:32] pnkfelix commented on #70819
The reason @rust-lang/wg-prioritization added T-lang was because figured that the semantics of the attribute-based control of the lints was part of the language, not the tooling. (The fact that the command-line controls was changed to match that of the attribute-based control *is* in the domain of T-compiler.)

However, it seems likely that this is "just a bug" in how lint controls in the same "sc

[2020-04-10 16:37] pietroalbini opened #70995 "Insufficient concurrency in the rust-lang-ci organization"
Build times in the [rust-lang-ci](https://github.com/rust-lang-ci) organization are way higher than expected, with [the latest successful build](https://github.com/rust-lang-ci/rust/actions/runs/75242092) clocking at 2 hours and 52 minutes of build time.

To investigate the problem I [created a small script](https://gist.github.com/pietroalbini/fe5358cfd3c6d464ad8905dc3eb0b961) that generates a gr

[2020-04-10 16:45] DustinByfuglien commented on #70971
#63065

[2020-04-10 16:51] RalfJung commented on #70889
I highly doubt it, that would be a non-trivial piece of code.
Miri [might want something like that, too](https://github.com/rust-lang/miri/issues/845), but for *every* copy.

Fully agreed.

Could it be a `ByRef` vs. "immediate representation" (the other `ConstValue` variants) thing? I think what we do is normalizing in the sense that constants with the same type should result in the same represent

[2020-04-10 17:10] DustinByfuglien opened #70997 "Bug. Get doubled error message with impl_trait_in_bindings when no error must be"
This example compiling with error message. And it's not obvious:
1. what cycle is this message about?
2. why this error is doubled in output?
3. why error is at all? It seems no error must be.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5c2d049da830c650e930300fb6ee7591))

Errors:

[code]

May be must tracked by #63065

[2020-04-10 17:28] estebank commented on #38376
After looking at this ticket again, I realized that we already handle the last case left, [if and only if the types returned are "correct"](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e9c4d350cfdb3613c594becc1d7b4b36), but we don't if the return paths of the function body are `!`. Pushed #70998 that handles that last case.

[2020-04-10 17:30] pietroalbini commented on #70890
I came up with two workarounds that might unblock us here:

* As I said in the meeting, to correlate builds with PRs we can do the same thing we do today for job names, and write something like this in the build logs:

[code]

* To get information from the Actions API after receiving a webhook we can [fetch the last 100 builds that happened in the repository](https://developer.github.com/v3/action

[2020-04-10 17:50] Mark-Simulacrum commented on #70890
AFAICT, the check suite events should give us what we need: https://developer.github.com/v3/activity/events/types/#checksuiteevent

I think the PR list there will be empty for bors commits, but in that case we can look at the SHA and fetch that to parse out the commit from the bors commit message.

That doesn't support the PR builds I think directly but in the worst case we can keep track (or re-s

[2020-04-10 18:17] jonas-schievink opened #71000 "`Assert` MIR terminators are printed incorrectly"
[code]

[code]

Note how it says `"index out of bounds: the len is move _3 but the index is _2"`. The formatting arguments are inlined into the message.

It should either mirror the `format!` string syntax, or at least use braces around the arguments so that they don't look like they're part of the string itself.

This issue has been assigned to @robojumper via [this comment](https://github.com/ru

[2020-04-10 18:32] nagisa commented on #70995
Awesome graph!

[2020-04-10 18:49] nikomatsakis commented on #70941
So I started a comment some time ago but it seems like I never finished it. I just wanted to note my full thoughts.

I'm in favor of ok-wrapping. I do have some mild *other* concerns about try block -- in particular it is frequently necessary in practice to give hints as to the try of a try-block. This is for a few reasons:

* If you don't have any `?` inside, then with ok-wrapping there is no rea

[2020-04-10 18:51] mawis commented on #10184
The behavior I would expect to get for `f.trunc() > $Int::MAX` and `f.trunc() < $Int::MIN` is the same as when the floating point number imaginary gets converted to an infinite sized integer number and then the lowest significant bits of that are returned (as in the conversion of integer types). Technically this would be some bits of the significant shifted to the left depending on the exponent (f

[2020-04-10 18:59] pnkfelix commented on #70819
(anyway, we discussed this at today's [ad hoc triage meeting](https://zulip-archive.rust-lang.org/131828tcompiler/35095adhoctriagemeeting2020041054818.html#193575606)). I suspect at this point we can remove the nomination tag; its looking like everyone agree that this is "just a bug" that needs to be fixed, not even a terribly high priority one.)

[2020-04-10 19:00] Centril commented on #70941
I'm not sure how much you'd like to continue this discussion here @nikomatsakis. However, like @scottmcm (as they elaborate on in https://github.com/rust-lang/rfcs/pull/2388#issuecomment-381300774), I'm also not in favor of a strict requirement that the type be included.

As for `try as Result<_, _>  { ... }`, the syntax `"try" ":" Type Block` was initially proposed as part of my type ascription R

[2020-04-10 19:02] leo60228 commented on #70941
What reasonable code would cause ambiguity that only exists with `Ok`-wrapping? Try doesn't coerce `Option` to `Result` or `Result` to `Option`, so whether it's `Option<T>` or `Result<T, E>` shouldn't be ambiguous if the try block uses `?` anywhere. Why would you use a try block without `?`?

[2020-04-10 19:03] CryZe commented on #10184
WebAssembly just stabilized saturating casts with the following semantics:

https://github.com/WebAssembly/nontrapping-float-to-int-conversions/blob/master/proposals/nontrapping-float-to-int-conversion/Overview.md#design

[2020-04-10 19:09] nikomatsakis commented on #70941
I'd prefer not to continue the discussion here. I just wanted to note that this "rfcbot reviewed" on my part is not saying "let's stabilize try as is", but just on the ok-wrapping aspect.

[2020-04-10 19:23] nikomatsakis commented on #68304
So should we maybe try out the approach I proposed and see how well it works?

[2020-04-10 19:28] #65063 closed

[2020-04-10 19:58] awakecoding commented on #44322
I am also investigating this issue. I did a bunch of tests, and it looks like lto = true is the only way to avoid having the __rdl_alloc symbols defined without name mangling. lto = false or lto = "off" both get them defined and cause the conflict. While my primary concern is with iOS, I did notice that the multi-lib-lto-rust-bug-repro doesn't link on macOS because of a symbol conflict on _rust_eh

[2020-04-10 21:07] pietroalbini commented on #70890
Not really. To get all the information RLA needs we need to rely on the [GitHub Actions API](https://developer.github.com/v3/actions/) instead of the [Checks API](https://developer.github.com/v3/checks/), but the problem is, the IDs used in the GHA API are different than the IDs used by the Checks API, and those webhooks only include the Checks API IDs.

For auto/try builds [RLA already extracts t

[2020-04-10 21:26] Mark-Simulacrum commented on #70890
Okay. One hurdle that may not really be surmountable without storing all the logs ourselves is that GitHub doesn't have permanent direct "raw" log URLs -- you need to get a URL that's only valid for a minute I think (https://developer.github.com/v3/actions/workflow_runs/#list-workflow-run-logs).

[2020-04-10 21:59] GuillaumeGomez commented on #70874
It's not crashing the last nightly either. Something changed between the two but I really wonder what...

[2020-04-10 22:25] RalfJung commented on #10184
@CryZe so if I read that correctly, that matches `-Z saturating-casts` (and what Miri already implements)?

[2020-04-10 22:26] jonas-schievink opened #71008 "MIR `MutVisitor::visit_local` cannot mutate all `Local`s"
Specifically, when a `ProjectionElem::Index` is encountered, the contained `Local` is not passed to `visit_local`, requiring the `MutVisitor` to *also* implement `process_projection_elem`.

This is a footgun that may cause unsound MIR transforms, which is what happened to me while working on #71003. The `CopyProp` pass also has to explicitly implement `process_projection_elem` to be sound.

[2020-04-10 22:27] jonas-schievink commented on #71008
cc @rust-lang/wg-mir-opt

[2020-04-10 22:32] Mark-Simulacrum opened #71009 "De-stabilize target spec JSON"
In a recent [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Stability.20guarantees.20of.20custom.20target.20specifications), it was noted that we currently consider JSON target specifications unstable, in the sense that options are relatively freely added and removed.

Currently, the compiler will load target specifications from three places.

If a triple

[2020-04-10 22:33] Mark-Simulacrum commented on #71009
@rustbot prioritize

Let's try this out!

[2020-04-10 22:37] eddyb commented on #70874
cc @arlosi - we're discussing this on Discord and @GuillaumeGomez has bisected it to #69718.

[2020-04-10 22:47] jakevossen5 commented on #69282
@eddyb Do you mean a new element of the struct, like `param_consts` that keeps track of which are constants? Do I understand that correctly?

[2020-04-10 22:56] natemara opened #71010 "Bad error message using shared borrow of non-sync type across await point"
I tried this code:

[code]

I expected to see this happen: one of three things:

1. Both branches compile
2. Both branches don't compile
3. `foo` branch doesn't compile, but `bar` branch does, and error message explains that `&T` is non-sync while `&mut T` is sync `where T: !Sync`

Instead, this happened: *explanation*

`foo` branch doesn't compile, but `bar` branch does, error message implies tha

[2020-04-10 23:00] eddyb commented on #69282
I think we should resolve #70271 first before touching `#[rustc_args_required_const]` further.

[2020-04-10 23:02] jakevossen5 commented on #69282
Sounds good. I will watch that thread and when it it closed circle back to here.

[2020-04-10 23:05] therealprof commented on #71009
There seems to be some concern (raised on #rust-embedded:matrix.org) that this might negatively impact some tier 3 ports unless there're some guarantees along the lines of https://github.com/rust-lang/rfcs/pull/2803 to provide a miniscule bar of entry as internal target specification.

[2020-04-10 23:20] Mark-Simulacrum commented on #71009
Can you clarify how those tier 3 targets are currently working on stable?

[2020-04-10 23:20] LeSeulArtichaut commented on #70942
*This is a test*
@rustbot prioritize

[2020-04-10 23:24] jonas-schievink commented on #71009
They don't work on stable, there was just some confusion about what this means for eg. Rust forks using custom LLVM backends. I believe we've resolved all of that though.

[2020-04-10 23:36] therealprof commented on #71009
I've no idea whether and how/whether they could work on stable. All I know is that there are some target specifications around which might potentially work with a stable compiler (at least if they were included) and some people raised that concern that this would limit the ability to achieve support in the future.

[2020-04-10 23:36] sunfishcode commented on #10184
@RalfJung That's correct.

[2020-04-10 23:46] jonas-schievink commented on #71000
The code for formatting the `Assert` terminator is here:

https://github.com/rust-lang/rust/blob/14061868b3960d8a68a079bd276dde85936970ac/src/librustc_middle/mir/mod.rs#L1409-L1417

The printed message just needs to be changed so that the result looks closer to how the `write!` macro itself is invoked. Something like this maybe:

[2020-04-11 00:23] Mark-Simulacrum commented on #71009
Ah, okay. I would love to know what those use cases are.

I think I missed it in my first post - was thinking about it though - but I meant to also say that if we do move ahead with this I would want to do so very slowly; we'd land some warning on stable telling people that if they are using these today, to comment here, and let that sit for several cycles before actually removing the ability from

[2020-04-11 00:36] vertexclique opened #71015 "Implement interpolation methods in std"
Currently, linear interpolation (aka `lerp`) and `midpoint` don't exist in std.
But exists in C++20 forwards. It would be nice to have them.

[2020-04-11 00:45] vertexclique commented on #71015
I am working on lerp, soon I will open an issue for it.

[2020-04-11 02:57] swilcox3 commented on #63033
Any word on this?  I'm getting this error as well.
[code]
Changing `mut subscribers: Vec<Box<dyn ChangeSubscriber>>` to `subscribers: &mut Vec<Box<dyn ChangeSubscriber>>` fixes the issue.  Only problem is that I actually want to move that vector in because I want to `tokio::spawn` each call to `get_changes`.

[2020-04-11 03:12] passcod commented on #48594
Adding a note that I've wanted this feature but did not use it because I didn't know it existed, which I feel is a negative modifier on "people don't want it as evidenced by how few people use it".

I independently [reinvented the concept on IRLO this morning](https://internals.rust-lang.org/t/pre-rfc-breaking-out-from-blocks-already-exists-but-stalled/12136).

[2020-04-11 03:21] steffahn commented on #70934
regression in commit dfd365f3e4fed3df101bd2d3ea01c494f40bd345 (part of #64790)
cc @Centril
@rustbot modify labels: -E-needs-bisection

[2020-04-11 03:21] steffahn commented on #70934
@rustbot modify labels: -ICEBreaker-Cleanup-Crew

[2020-04-11 03:27] barkanido commented on #34601
would be very happy for formal documentation about `dyn`

[2020-04-11 04:42] Aaron1011 opened #71017 "Consider skipping 'unused import' lint for traits when error have occured"
The following code:

[code]

gives the following output:

[code]

I think the 'unused import' lint firing is questionable. If the trait in question is being imported only for its methods, then the user will never actually write down the trait name in their code. As a result, introducing a seemingly unrelated compilation error during development may cause a method to no longer be resolved (`a.dummy

[2020-04-11 05:25] tsandstr commented on #70926
I follow everything that you are saying, but I am not convinced that the second step is correct. The issue here is that, if we accidentally typed a `Dot` instead of a `Comma`, then the call to `parse_expr_res` will continue eating tokens past the `Dot`. When it finally finished eating tokens, it expects a `Comma`. If it doesn't find one, it drops an error on whatever it finds instead. In the code

[2020-04-11 06:39] RalfJung commented on #10184
Awesome, I'll copy https://github.com/WebAssembly/testsuite/blob/master/conversions.wast (with traps replaced by the specified results) to Miri's test suite then. :)

[2020-04-11 06:54] ldm0 commented on #54960
This doesn't ICE any more.

[2020-04-11 08:08] cr1901 commented on #27731
@thejpster Apologies for taking so long to get back to you.

## Short Version
I don't think I need `core::asm::nop`, as I was using it in place of a barrier. `core::asm::volatile_nop` may be valuable. `core::sync::atomic::compiler_fence` is currently broken on msp430, but will _probably_ work fine as a barrier once it works.

## Long Version
Looks like I made [offhand comments](https://freenode.lo

[2020-04-11 08:17] lcnr commented on #68615
@rustbot claim

[2020-04-11 08:50] ryr3 commented on #70851
With the changes I've made now, it's such that the compiler will suggest usize be .into() when the function requires a u8. Is that fine, because usize will greater than u8 on most targets?
And From(usize) is not implemented for u8/u16 anyway so that would be a bad suggestion.

Also, when I'm writing tests for the *size cases, should I use the `usize::max_value()` and min value functions or just th

[2020-04-11 08:52] DustinByfuglien commented on #70997
Compiler generate error when no error must be.
Woud I propose to add a "C-bug" label?

[2020-04-11 09:52] p0lunin opened #71019 "Allocation of 137 gigabytes"
I runc command:

[code]

And i get error when compiler try to compile crate `winapi`:
[code]
I think allocation of 137 Gb is bug. When i ran `cargo clippy` second time winapi was installed correctly.

[code]
### Meta

`rustc --version --verbose`:
[code]

[2020-04-11 10:03] Serentty commented on #49726
I would be very supportive of seeing this stabilized. Rust's standard library has the unfortunate duty of having to ship Unicode tables for stuff like case conversions. If it's going to do that, then software should at least be able to know what version of Unicode is being used. In fact, this seems like a clear gap right now.

[2020-04-11 10:12] main-- commented on #49921
How come? `io::copy` would allocate once at the beginning. Heap memory isn't inherently slower and one memory allocation is basically free compared to the heavy IO that's happening afterwards.

[2020-04-11 10:18] robojumper commented on #71000
@rustbot claim

[2020-04-11 10:57] LeSeulArtichaut commented on #70851
If I understand the code correctly, in your changes, the pattern `(None, Some(8 | 16))` represents the case where we expect a `usize` value, but we have a `u8` or `u16` value instead. In this case, we want `is_fallible` to be `false`.
The pattern `(Some(8 | 16), None)` however, represents the case where we expect a `u8` or a `u16` but we have a `usize`. Then, we want `is_fallible` to be `true` for

[2020-04-11 11:06] pyfisch commented on #49726
I've opened a PR #71020 which changes UNICODE_VERSION to a tuple as there is no apparent need for a dedicated struct.

[2020-04-11 11:23] phil-opp commented on #71009
I think de-stabilizing target JSON files is a good idea, given that they are effectively unstable already and only sparsely documented. However, I'm a bit worried about the user-experience for people that want to continue working with custom target specifications on nightly. I think we should provide some sort of file-based opt-in (e.g. a `feature` flag or a `.cargo/config` configuration key) inst

[2020-04-11 12:12] safinaskar opened #71022 "Please stop using non-declarative opaque build "scripts" and stop infecting other emerging programming languages"
As well as I understand current recommended practice for building is using so-called build "scripts" for all complex cases (code generation etc): https://doc.rust-lang.org/cargo/reference/build-scripts.html .

Build "scripts" are very big design bug. There is well known IT principle: everything that can be made declarative, should be declarative. I will give some links and quotes to prove my point

[2020-04-11 12:18] jonas-schievink commented on #71022
We cannot remove them since they're stable

[2020-04-11 12:18] #71022 closed

[2020-04-11 12:22] ryr3 commented on #70851
Thanks! I just realized that it would be the other way around here, because in
https://github.com/rust-lang/rust/blob/6dee5f1126dfd5c9314ee5ae9d9eb010e35ef257/src/librustc_typeck/check/demand.rs#L756 and https://github.com/rust-lang/rust/blob/6dee5f1126dfd5c9314ee5ae9d9eb010e35ef257/src/librustc_typeck/check/demand.rs#L765 the match parameters are found, exp whereas they are in the order of exp, f

[2020-04-11 12:26] safinaskar commented on #71022
@jonas-schievink, put a warning for creators of new programming languages

[2020-04-11 12:26] sunfishcode commented on #10184
@RalfJung Please update to the latest version of conversions.wast, which was just updated to include tests for the new saturating conversion operators. The new operators have "_sat" in their names, and they don't have trapping so you shouldn't need to replace anything.

[2020-04-11 12:28] lcnr commented on #63322
@rustbot claim

[2020-04-11 12:31] RalfJung commented on #10184
@sunfishcode thanks for updating! I have to translate the tests to Rust anyway so I still have to replace many things. ;)

Are the `_sat` tests any different in terms of the values being tested? For Rust's saturating casts I took many of these values and added them in https://github.com/rust-lang/miri/pull/1321. I was too lazy to do it for all of them...

For the UB intrinsic, the traps on the was

[2020-04-11 12:42] ChaiTRex opened #71024 "Tracking Issue for `or_insert_with_key` feature"
### Steps

- [x] Implementation in `std` (https://github.com/rust-lang/rust/pull/70996)
- [x] Merge into `std`
- [x] Implementation in `hashbrown` crate (https://github.com/rust-lang/hashbrown/pull/152)
- [x] Merge into `hashbrown`
- [x] Stabilization (https://github.com/rust-lang/rust/pull/78083)
- [x] Make pull request with documentation changes from [`ChaiTRex/hashbrown`](https://github.com/Cha

[2020-04-11 12:45] jonas-schievink commented on #71024
That seems like the wrong PR

[2020-04-11 13:00] ChaiTRex commented on #71024
@jonas-schievink Thank you. Corrected.

Also, added a 2015 issue that requested this feature so that it can be closed if this is accepted.

[2020-04-11 13:06] LaurentMazare commented on #57837
I ran into a similar issue today trying to link some libraries that end up needing `-Wl,--no-as-needed` at the beginning of the linker flags rather than at the end.
@LukeMauldin did you find a way around this?

[2020-04-11 13:27] vertexclique commented on #71015
@rustbot claim

[2020-04-11 13:27] Mark-Simulacrum commented on #70934
Now that we have an [MCVE](https://github.com/rust-lang/rust/issues/70934#issuecomment-611820782) -- thanks @steffahn! -- let's @rustbot prioritize again

[2020-04-11 13:28] sunfishcode commented on #10184
The input values are all the same, the only difference is that `_sat` operators have expected output values on inputs where the trapping operators have expected traps.

[2020-04-11 13:51] ejmahler opened #71025 "Sub-optimal codegen: Unnecessarily dumping AVX registers to stack"
I tried this code ([example 1](https://rust.godbolt.org/z/86FfSi)), in which we have a public function `mutate_array` that internally calls `mutate_chunk`:

[code]

This is a very stripped-down example of code that appears all over my project. We load data into AVX registers, do some sort of operation on the loaded data, then store it back to memory. The (more or less) optimal assembly for this ex

[2020-04-11 14:10] pietroalbini commented on #70890
While there is no permanent link available from the API, we can reconstruct the URL the frontend uses:

[code]

[2020-04-11 14:18] jerryajay opened #71027 "Auto-fix wrongly suggesting scope issues during struct manipulations"
Hi, there's a auto-fix bug. I'm using VSCode. The code explains itself:

I tried this code:

[code]

I expected to see the auto-fix suggest ways to print Point correctly.

Instead, auto-fix in VSCode suggests changing x and y to s in line 23.
However, the error message from rust displays fine.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
<

[2020-04-11 14:26] jonas-schievink commented on #71027
It's not really clear what this issue is about. Are you using RLS? I'm assuming it's displaying the suggestions in this error message?

[code]

If so, that is definitely a correct error message and `help`, even if the result is not what you wanted (`help` is only a suggestion, not a solution, after all).

Maybe we can add extra diagnostics for syntax that looks like a C struct initializer, but I d

[2020-04-11 14:33] jerryajay opened #71028 "Non-intuitive struct initialization syntax"
I have some concerns as to the proper initialization of a `struct`:

[code]

The syntax of using `:` doesn't seem natural since in my mind `:` is associated with a return type that follows. A more natural fit would be to use `=` instead of `:`. However, three `=` symbols may end up being used in the above code which may cause some parsing precedence issues.

Give it a thought. Rust should be more

[2020-04-11 14:36] jonas-schievink commented on #71028
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2020-04-11 14:36] #71028 closed

[2020-04-11 14:40] jerryajay commented on #71027
Yes, RLS is being used. Rust is powerful for a blatant help message like this. I'll submit a pull request for the extra diagnostics - time permitting.

[2020-04-11 14:54] dylni commented on #31436
I don't see why the `try` block is needed. This syntax

[code]

can be replaced with this:

[code]

They both use the same number of characters, but the second is already stable.

When assigning the result to a variable, that might indicate a helper function should be created to return the result. If that's not possible, a closure can be used instead.

[2020-04-11 14:59] SimonSapin commented on #31436
@dylni `try` blocks are especially useful when they don’t contain the entire body of a function. The `?` operator on error makes flow control go to the end of the inner-most `try` block, without returning from the function.

[code]

[2020-04-11 15:11] dylni commented on #31436
@SimonSapin Does that come up that often? I've rarely had a situation it would make sense for, and there's usually a good way to get around it. In your example:

[code]

That's more verbose, but I think the better solution would be a method closure syntax:

[code]

The type is also correctly inferred with `and_then`, where you need type annotations for `try`. I've had this come up infrequently eno

[2020-04-11 15:18] lcnr commented on #63322
@rustbot release-assignment

`&dyn Trait` is not structural match so this should not compile. We probably shouldn't ICE here though :laughing:

cc @eddyb

[2020-04-11 15:23] SimonSapin commented on #31436
The accepted RFC has some more reasoning: https://rust-lang.github.io/rfcs/0243-trait-based-exception-handling.html

Anyway the arguments in favor of language constructs for control flow with the `?` (and `.await`) operator over chaining methods like `and_then` have already been discussed extensively.

[2020-04-11 15:31] #70905 closed

[2020-04-11 15:31] #54094 closed

[2020-04-11 15:46] dylni commented on #31436
@SimonSapin Thanks. This and re-reading the RFC convinced me this can be useful.

[2020-04-11 15:56] eddyb commented on #58633
Just FYI, #70881 landed, please leave a comment here if you still hit this issue.
(it might move from libcore to other crates, not sure)

[2020-04-11 16:00] GuillaumeGomez commented on #34601
Can you open a separate PR for it and ping @rust-lang/rustdoc on it please?

[2020-04-11 16:05] retep998 commented on #49921
But we also don't want to be allocating 4MB *every* time we do `io::copy` as someone might be doing a bunch of small copies.

[2020-04-11 16:06] manuels opened #71032 "Improve compiler errors"
If you use traits error messages can become very long and complicated to read.

Consider this error message:

[code]

Especially people new to rust can be overwhelmed by all the information and a lot of information here is redundant because the type of `foo` is repeated over and over again. pas_mtts on reddit came up with the idea to replace the actual type of `foo` (`futures_util::stream::stream:

[2020-04-11 16:11] RalfJung opened #71033 "remove language-level UB for non-UTF-8 str"
This is the Rust-side issue for https://github.com/rust-lang/reference/pull/792 just so that we can use fcpbot. The change description follows.

Ever [since Rust 1.0](https://doc.rust-lang.org/1.0.0/reference.html#behavior-considered-undefined), the reference said that a non-UTF-8 `str` causes immediate UB. In terms of [today's terminology](https://www.ralfj.de/blog/2018/08/22/two-kinds-of-invaria

[2020-04-11 16:18] the8472 commented on #49921
possible approaches:

- thread local buffers or a buffer pool
- stat the input before deciding on the buffer size (this is what gnu cp does I think)
- heap-allocate a bigger buffer after a few iterations of the copy loop with an on-stack buffer
- specialize copy operations from file to memory to `read` directly into the already allocated target, thus skipping the need for a buffer

[2020-04-11 16:48] lcnr commented on #71033
Would this mean that the following stops being UB?

[code]

[2020-04-11 16:49] jonas-schievink commented on #71032
Duplicate of https://github.com/rust-lang/rust/issues/50310

[2020-04-11 16:49] #71032 closed

[2020-04-11 16:58] Mark-Simulacrum commented on #70934
@rustbot prioritize -- just testing the command

[2020-04-11 16:58] Mark-Simulacrum commented on #70934
@rustbot prioritize -- just testing the command

[2020-04-11 16:59] Mark-Simulacrum commented on #70963
@rustbot prioritize

[2020-04-11 17:07] RalfJung commented on #71033
@lcnr yes exactly.

To be more precise, it would be *library UB* -- the way the methods are implemented right now, there is actually no language-level UB and nothing that Miri could possibly find, but the library is permitted to change in the future in ways that would make this language UB.

[2020-04-11 17:24] hank-der-hafenarbeiter commented on #70959
Small update:

Replacing `let r:Rc<str> = Rc::from(s.chars().collect());` with `let r:Rc<str> = s.chars().collect().into();`
gives a meaningful error:

[code]

[2020-04-11 17:29] matthiaskrgr commented on #71019
We are talking about  https://github.com/retep998/winapi-rs , right?
When I try to run an up to date clippy `clippy 0.0.212 (d342cee 2020-04-07)` from `rustc 1.44.0-nightly (94d346360 2020-04-09)`, I don't see any crashes.

[2020-04-11 18:02] eddyb commented on #63322
It *shouldn't* be, but it currently is.

To fix it you need to change `src/librustc_trait_selection/traits/structural_match.rs`, [like this](https://github.com/rust-lang/rust/pull/70872/files#diff-8e2710289f47c1cdc66de1cfd4cb4655).

[2020-04-11 18:03] Centril commented on #70926
Hmm yes, sorry. I neglected to consider the fact that `Some(x).Err(...)` is a legal method call syntactically. This makes things difficult here. To fix it, we would probably need to use backtracking and some hacks to parse just until the `.` but no more, which I'm not sure about as a heuristic.

cc @petrochenkov @estebank -- I'm not so sure we should be proceeding with adding the diagnostic here,

[2020-04-11 18:16] manuels opened #71035 "Improve compiler error on associated types"
If you have a variable with type `impl TryStream<Ok=T, Error=E>` and want to use it as a `impl Stream<Item=Result<T,E>>`, the compiler complains.
The  compiler does not take you by the hand and helps you with helpful hints.

I tried (roughly) this code: (EDIT: find a self-contained example [here](https://github.com/rust-lang/rust/issues/71035#issuecomment-612627037))

[code]

I expected to see thi

[2020-04-11 18:17] Centril commented on #71033
Dear community and language team.

As Ralf notes, there are no compelling reasons to keep this Undefined Behavior (UB) at the level of the abstract machine in terms of the validity invariant of `str`. Therefore, keeping it UB at this level only complicates the language definition instead with no notable benefits.

Instead, we can make this a library invariant, and leave it as "library UB" or "unsp

[2020-04-11 18:17] timothee-haudebourg opened #71036 "Compiler panics while trying to implement `DispatchFromDyn`"
I was playing with `DisplatchFromDyn` while I encountered a
[code]

The simplest example I have producing the bug is
[code]
Here is [a link to the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4fa9dca4a55ee714d9ba07fb0f01607f).
It works if I remove the `Inner` struct and put the `&'a T` directly in `Local`.

The complete backtrace is
[code]

This issue has be

[2020-04-11 18:21] p0lunin commented on #71019
Yes, we talking about it.
Now i also cannot reproduce it crash at my machine. Crash like it with same allocation was got my acquaintance. I don't know under what circumstances does it occur.

[2020-04-11 18:35] tsandstr commented on #70926
What do you think about the special case where the arm is only one line long and ends with a Dot?

[2020-04-11 18:36] jonas-schievink commented on #71035
Please provide a self-contained example that shows the bad diagnostic

[2020-04-11 18:51] Centril commented on #70926
You still have to use backtracking for that to see if parsing the expression failed, and then you'd need to rewind and bump until the `\n` and see if we have a `.` before it. It could still have adverse compile-time perf implications, but perhaps not; we'd need to measure.

[2020-04-11 19:20] estebank commented on #70851
It'll be great if you can bring some consistency in the order.

[2020-04-11 19:46] steffahn opened #71039 "Confusing error message in macro expansion: “error: expected expression, found `1 + 1`”"
I’ll admit, the whole error message is not too bad if you ignore the first line.

If only it wouldn’t suggest that `1 + 1` is not an expression...

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=681495576df8424c896258d944c4243b))

Errors:

[code]

@rustbot modify labels to T-compiler, A-macros, C-enhancement, D-papercut, A-diagnostics

[2020-04-11 19:50] Centril commented on #71019
Closing since we cannot reproduce. :)

[2020-04-11 19:50] #71019 closed

[2020-04-11 19:56] jerryajay opened #71040 "Meaningful :help for mpsc::channel()"
When using multiple transmitters with a single receiver across multiple thread, the `:help` message is totally bonkers. Refer the `backtrace` lines 10 and 16:

[code]

The auto-fix seems to be too ambitious at the moment by suggesting wrong fixes. Let me know if I need to file a RFC for this. JAVA's auto-fix seems smarter and Rust can definitely borrow some of it's implementation.

### Meta

`rust

[2020-04-11 20:45] Centril commented on #70917
I've gone ahead and released [proptest 0.9.6](https://crates.io/crates/proptest/0.9.6) which has a fix for the problem here.

[2020-04-11 20:53] thomcc commented on #56167
This is a really great API, it's also what keeps crates (`hashlink` for example) using `hashbrown` instead of the stdlib hash map -- since `hashbrown` exposes this.

What could be next steps here towards stabilization?

[2020-04-11 21:00] Centril opened #71042 "ICE with opaquely typed constant used in pattern"
[code]

ICE message:
[code]

<details>
<summary>Backtrace</summary>

[code]
</summary>

[2020-04-11 21:01] Centril commented on #71042
This should be erroring in exhaustiveness checking; `ty::Opaque` shouldn't be allowed there.

cc @oli-obk @eddyb @pnkfelix @ecstatic-morse

[2020-04-11 21:03] CAD97 opened #71043 "Lint exported_private_dependencies misses public dependency via trait impl"
Tracking issue: #44663, RFC: rust-lang/rfcs#1977

Cargo.toml:

[code]

lib.rs:

[code]

Also, a plain `pub use` seems to be missed as well.

[2020-04-11 21:05] eddyb commented on #71042
It should be erroring earlier, when trying to create a pattern out of the constant.
And it should also not be considered structural-match.

[2020-04-11 21:52] main-- commented on #49921
I think some kind of specialization for `BufRead` sources would be ideal. Because in this case, `io::copy` should not buffer at all and simply use the reader's buffer. Effectively this also gives you a customizable buffer size by wrapping your `File` in a `BufReader` with whatever size you want.

Because as of today, if your source is `BufRead` then `io::copy` is always the wrong answer. I got a s

[2020-04-11 22:24] Amanieu commented on #60728
@rfcbot fcp merge

[2020-04-11 22:29] Amanieu commented on #60728
I would prefer if we made no guarantee as to what pointer value is generated for a dangling `Weak`. This could allow for a slightly more efficient implementation since we could just blindly apply the offset of `usize::MAX` to convert to/from a raw pointer.

@rfcbot concern dangling `Weak` are represented using null

The convention for returning raw pointers to a value is `as_ptr`. There is no prec

[2020-04-11 23:10] tyehle commented on #56545
This is a pretty serious issue for me. I've been trying to browse the documentation for the [atsamd-rs crate](https://atsamd-rs.github.io/atsamd/atsamd21g18a/feather_m0/index.html) and the `search-index.js` file is so large it has been crashing chrome and firefox. The only way to get the page to load reliably is by disabling js. Even when the page works "properly" it takes around 6 seconds to load

[2020-04-11 23:58] jakevossen5 commented on #70948
@rustbot claim

[2020-04-12 00:03] LeSeulArtichaut commented on #71040
@rustbot modify labels: +A-diagnostics +C-enhancement -C-bug

[2020-04-12 00:31] #69904 closed

[2020-04-12 00:31] #71000 closed

[2020-04-12 00:44] CAD97 commented on #60728
@Amanieu Consider not only that other types use `as_ptr`, but that `Arc`/`Rc` already have both `into_raw` and `from_raw`. I don't think any type actually has both the "`as_ptr`" and "`into_raw`" operations yet:

- [`as_ptr`](https://doc.rust-lang.org/nightly/std/sync/struct.Arc.html?search=%22as_ptr%22): `slice`, `str`, `Cell`, `RefCell`, `CStr`, `MaybeUninit`, `NonNull`, `Vec`
- [`into_ptr`](htt

[2020-04-12 01:33] estebank commented on #70926
We could get away with keeping a list of trailing "suspicious" tokens (certainly `.`, maybe `:` and `::`, my mid is not right now able to think of many) if the next one is in a different line (although _that_ check might be too expensive) and use that if we encounter a parse error. I would be intrigued at how well rust-analyzer handles this case.

[2020-04-12 02:22] eddyb commented on #71033
This leads to an interesting question: what *can* miri find?
My first guess would be some `unsafe { unreachable_unchecked() }` call in UTF-8 decoding.

It would be great to figure out if there is something like this that miri *does* detect, even if miri stops checking `str` values for UTF-8 validity altogether, and use it as a test case.

[2020-04-12 02:27] jyn514 opened #71047 "cargo fix: after fixes were applied the compiler reported errors"
I tried this code: https://github.com/jyn514/rcc/commit/16d8b2d763320311b59a2a5d48c3cc9390f63463

I expected to see this happen: Duplicate imports removed

Instead, this happened: `cargo fix` gave an internal error.

### Meta

`rustc --version --verbose`:
[code]

`cargo --version -v`: `cargo 1.44.0-nightly (8a0d4d9c9 2020-03-24)`

Note the error also occurs with 1.42.0 stable.

<details><summary>F

[2020-04-12 02:37] jyn514 commented on #71047
Minimal example:

[code]

Rustc warns that `P` is unreachable in `inner` even though it must be rexported in order for the `pub use inner::{A, P};` to compile. Looks related to https://github.com/rust-lang/rust/issues/64762.

[2020-04-12 02:44] rbtcollins commented on #49921
@main-- a single heap allocation is entirely reasonable for a single invocation of copy of a lot of data. For many copies of a small amount of data, one ends up with a lot of allocations again (consider for instance copying data out of a tar, where we have views on the data and there's no actual synchronous IO etc happening.

I like some of the suggested possibilities with specialisation.

[2020-04-12 03:11] yaahc commented on #45726
I'm interested in working on this, does it reaally really need an rfc?

[2020-04-12 03:31] arlosi commented on #70874
It seems that before #69718, the hash would not have matched, so the external source would be "not present". After #69718, the external source would be present, but not-normalized. Which I suspect would cause any offsets into it to be incorrect.

I'm not exactly sure how it worked before (given that it would have absent external source).

[2020-04-12 05:37] Skarlett opened #71050 "[Nightly] internal compiler error: unexpected panic"
Short summary:

This code holds a HashMap that contains "jobs", pushes them to be executed in `tokio::spawn` and sends the return value into mspc::channel (Tokio), finally it produces more jobs, and returns them from the `JoinHandle` to be appended back into the original HashMap mentioned.

I expected rust to let me know if this proceedure is legal (Appears so) by running `cargo check`. It returns

[2020-04-12 07:06] RalfJung commented on #71033
Note that Miri does not check behind references, so while `str` would be checked, that type is basically unused, and `&str` is not checked.

[2020-04-12 07:43] icy-ux opened #71052 "`cargo` occasionally fails to detect changed source code files"
Normally when I run cargo `build`, `test`, etc then any changes I've made to the code are picked up as expected & it re-compiles those parts of the binary.

Occasionally it does not do so, and I need to run `cargo clean`, then recompile to have my changes recognised.

### Meta

`rustc --version --verbose`:
[code]

Checking whether it happens in nightly isn't currently possible as it's an intermitt

[2020-04-12 08:01] RalfJung commented on #71033
My first guess would be some unsafe { unreachable_unchecked() } call in UTF-8 decoding.

I scrolled over `str/mod.rs` to see how the invariant gets used. I certainly missed some things, but here is what stood out:
* Calling `char::from_u32_unchecked`, which must be a valid unicode codepoint. Miri checks this.
* The searching/splitting talks a lot about indices being at unicode boundaries. I do not

[2020-04-12 08:20] LingMan commented on #48253
As of 1.42.0 the given example compiles down to:
[code]
Looks fixed to me.

[2020-04-12 08:51] RalfJung commented on #69488
I just thought of an alternative to adding a full initialization check that makes `try_read` fail for partially initialized integers. First of all, I am not even sure if that would be correct -- when loading at integer type, making the full integer uninitialized if any one byte is uninitialized might well be the desired semantics. That is the only way to preserve the idea that integers have anythi

[2020-04-12 09:10] icy-ux commented on #70781
The `cargo doc --open` generated HTML started working again
mysteriously. I'm not sure why. Maybe another package on my system was
updated?

[2020-04-12 10:02] #69638 closed

[2020-04-12 10:10] RalfJung commented on #10184
Tests for Miri (and thus also the Rust CTFE engine) were added in https://github.com/rust-lang/miri/pull/1321. I locally checked that `rustc -Zmir-opt-level=0 -Zsaturating-float-casts` also passes the tests in that file.
I now also implemented the unchecked intrinsic in Miri, see https://github.com/rust-lang/miri/pull/1325.

[2020-04-12 10:33] Lonami opened #71054 "no associated item found for struct in the current scope while it exists"
The following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e1b64e86edb39ace6b60a2cd4628a71b)):

[code]

Fails with this error:

[code]

However, if we alter `instance()` slightly to either of these, the code compiles successfully:

[code]

[code]

---

It is worth mentioning that explicitly using `as Trait` does **not** solve the issue, and fails with

[2020-04-12 10:51] mandreyel opened #71055 "Support positional vectored IO for unix files"
Next to the existing `write_vectored` and `read_vectored` APIs, it would be great to have `write_vectored_at` and `read_vectored_at` methods for `File`s on UNIX systems, corresponding to the `pwritev` and `preadv` syscalls. This would be an easy way to add means for high performance file IO using the standard library `File` type.

As far as I understand, the equivalent does not exist on Windows, s

[2020-04-12 11:05] #48253 closed

[2020-04-12 11:08] Amanieu commented on #60728
No it doesn't look like it should be allowed, and that's a good thing! You really should be using `into_raw` instead of `as_ptr` for this.

In fact I would be in favor of removing `as_ptr` + `forget` as a valid way of constructing a pointer that can be used with `from_raw`, specifically because of the provenance issues you mentioned earlier. The only valid pointer that can be passed to `from_raw`

[2020-04-12 11:09] Kixunil commented on #43467
If this doesn't support generics, I'd expect people to hack it like this:

[code]

Since the suggested syntax doesn't support it directly, I think that the idea with marker is superior. Maybe worth revisiting.

[2020-04-12 11:21] hrvolapeter commented on #50430
Also stumbled onto this problem. The error message is really confusing and initially I started creating bug report only to find out that this is the expected behaviour.

I tried this code:
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce2f6c5f0acc3ac54ee808d2450bbc44)
[code]

I expected to see this happen: Compile. Module A is not crate public so trait A  is

[2020-04-12 11:37] ChaiTRex commented on #71024
Merged into `hashbrown` (https://github.com/rust-lang/hashbrown/pull/152) and into `std` as unstable (https://github.com/rust-lang/rust/pull/70996).

[2020-04-12 11:48] vorner commented on #60728
I would prefer to be able to *create* dangling pointer from null (or, as dangling weak pointers exist, it's reasonable to assume that one will be created if I feed it null). But considering any pointer returned from weak may already be dangling because the count had dropped to 0, I think the other guarantee didn't really exist. I'll go over the docs and see if there are any mentions of guarantees.

[2020-04-12 12:00] eddyb commented on #43467
@Kixunil Btw you probably want `&'a mut &'a T` (or `*mut &'a T`), to be invariant over those parameters, unless you really want variance (it's wrong if you use `&MyExternType<'x, Y>` for any mutation that involves types like `&'x Y`, although I'm not sure what all the conditions are - better make it invariant if you're not sure either).

But yeah, that's a good way to describe some FFI APIs, altho

[2020-04-12 12:10] Kixunil commented on #43467
@eddyb oh, I was unclear, I didn't mean `&'a T` specifically, I meant "this is the syntax one would use to implement any variance needed using `PhantomData`".

[2020-04-12 12:13] eddyb commented on #43467
One advantage `extern { type Foo<'a, T>; }` syntax would have, is that it could only be invariant.
So it'd be "correct by default".

[2020-04-12 12:30] Amanieu commented on #60728
Yes, I think that's a good idea. Note that you'll need to use `wrapping_offset` instead of `offset` to support the dangling pointers.

[2020-04-12 12:42] Ekleog opened #71058 "Adding a `Send` bound generates `the parameter type `S` must be valid for any other region`"
I'm using `cargo 1.43.0-nightly (bda50510d 2020-03-02)` / `rustc 1.43.0-nightly (c20d7eecb 2020-03-11)`.

With this code (simplified from [this crate](https://github.com/Ekleog/yuubind/tree/7dbebd924fe73e7de905c24a46564f631b7e46c1), edition 2018 with as only dependency `futures = "0.3.4"`):
[code]

I get the following error:
[code]

However, removing the `Send` bounds on both the return type of `F

[2020-04-12 13:04] Kixunil commented on #43467
Would it be possible to override it if one knows what he's doing though?

[2020-04-12 13:12] eddyb commented on #43467
No, you'd need to do it like in your example if you wanted something weaker.

[2020-04-12 13:27] mati865 opened #71060 "Backtraces don't work during ICE"
Backtraces work fine when using `panic!()` inside crate but they don't when `rustc` ICEs.

### Meta
<details><summary>Backtrace from building Rust with `debuginfo-level = 1`</summary>
<p>

[code]

</p>
</details>

<details><summary>Backtrace from nightly</summary>
<p>

[code]

</p>
</details>

[2020-04-12 13:28] mati865 commented on #71060
@rustbot modify lables: +O-windows-gnu

[2020-04-12 13:30] jonas-schievink commented on #70781
Odd, closing as fixed then

[2020-04-12 13:32] jonas-schievink commented on #71052
Cargo issues should be filed over at https://github.com/rust-lang/cargo

[2020-04-12 14:00] Ekleog commented on #63063
A question about impl Trait in trait type aliases: has any thought been given about how they should handle defaults?

I'm trying to do something like this, without success:
[code]
[(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0094ea01075cc106ff3c0be8780c39b1)

I'd guess this just hasn't been RFC'd yes, but does someone know if thought on the topic hav

[2020-04-12 14:03] mati865 opened #71061 "`i686-pc-windows-gnu` executables depend on additional DLL"
I tried this code:

[code]

I expected to see this happen: Get portable executable depending only on `C:/Windows/System32` libraries.
Instead, this happened: Since `nightly-2020-03-15` (most likely https://github.com/rust-lang/rust/pull/67502) building with `i686-pc-windows-gnu` target results in executable that depends on `libwinpthread-1.dll` beside typical libraries.

### Meta
`rustc --version

[2020-04-12 14:03] mati865 commented on #71061
@rustbot modify labels: +O-windows-gnu +regression-from-stable-to-nightly

[2020-04-12 14:35] Ekleog commented on #63063
Also, just going to link as a related issue https://github.com/rust-lang/rust/issues/66551 ; as it almost immediately happens when returning `Future` from trait functions, which I assume is an important intended usage of this feature: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ebb2911238ff57bf988bc322474013d7

[2020-04-12 14:45] manuels commented on #71035
I tried to break it down to this code:
[code]

[2020-04-12 14:51] mati865 opened #71062 "`./x.py test <test_path> --target foo` does not work"
Wanted to quickly run test added in https://github.com/rust-lang/rust/pull/71023 but no tests were ran:
[code]

The same command without `--target`:
[code]

[2020-04-12 15:08] LeSeulArtichaut commented on #66219
@foeb I took the liberty of opening #71063. I hope you weren't working on those 3 files 😅

[2020-04-12 15:41] dwrensha commented on #69130
The problem is here:
https://github.com/rust-lang/rust/blob/32fb4dcdd7a57683a639a0959442711d0fd123bc/src/librustc_errors/lib.rs#L233-L236

`cur_lo.col.to_usize()` is a character index. It needs to be translated into a byte index before it can be used to slice `cur_line`.

I've submitted a fix: 71064

[2020-04-12 16:16] manuels commented on #71035
I just found out that defining `Stream::Item` by hand also works:
[code]
Why is that? Is the compiler not able to deduce `Stream::Item` by itself?

[2020-04-12 16:27] Boscop opened #71065 "impl PartialEq, Eq for std::char::{ToLowercase, ToUppercase}"
Please add this :)
I just had a real-world use case where I needed this.

[2020-04-12 16:29] steffahn commented on #71050
ICE doesn’t happen on latest nightly. @rustbot modify labels to +E-needs-test.

[2020-04-12 16:31] steffahn commented on #71050
Appears to be duplicate of https://github.com/rust-lang/rust/issues/69725.

[2020-04-12 16:54] LingMan opened #71066 "Filling short slices is slow even if they are provably short"
Take this method as baseline ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=6eed91dbb458e8eef083d0d24a958182)):
[code]
padding_length can take on values in the rage [0, 2], so we have to write either zero, one, or two bytes into our slice.
Benchmarking all three cases gives us these timings:
[code]
Chasing more idiomatic code we switch to iterators for the

[2020-04-12 17:03] LPeter1997 commented on #65439
From the name I'd associate it with a function that takes an `OpenOptions` parameter, just like `Vec::with_capacity` takes a capacity. Basically not a builder type. For consistency's sake, why not either add a `File::with_options(options: &OpenOptions)` or rename it to something like `File::builder()`?

[2020-04-12 17:19] Plecra opened #71067 "Cannot use trait with nested associated type bounds as type bound"
I'm struggling to name this, so sorry if it's a duplicate of another issue.

When a trait's associated type's associated type (ugh) is bound by a trait, it cannot be used as a type bound on its own. Hopefully this example can clarify what I mean:

[code]

Instead, you need to repeat the bound on the function:

[code]

[2020-04-12 17:22] jonas-schievink commented on #71067
This is a very old issue https://github.com/rust-lang/rust/issues/20671 where only supertrait bounds on traits are "elaborated" to where the subtrait bound is written. Closing in favor of that.

[2020-04-12 17:22] #71067 closed

[2020-04-12 17:25] kornelski commented on #67571
Referencing would help too:

[code]

[2020-04-12 17:37] steveklabnik commented on #49342
Triage; looks like @rust-lang/libs would have to make some sort of decision here.

[2020-04-12 17:40] steffahn commented on #67893
I’ve reduced it quite a bit. Down to dependencies on `std` only. Appears to need 2 crates.

**my_crate/src/main.rs**
[code]
**my_crate/src/lib.rs**
[code]

[code]

[2020-04-12 18:51] icy-ux commented on #70781
On Sun, Apr 12, 2020 at 06:31:08AM -0700, Jonas Schievink wrote:

I don't think it's fixed. I had this happen before a few months ago and
didn't pay much attention as it seemed to "fix itself." Then when it
came back just now I decided it was worth opening the issue.

[2020-04-12 19:07] jimblandy opened #71072 "rustc should suggest using async version of Mutex"
If one accidentally uses `std::sync::Mutex` in asynchronous code and holds a `MutexGuard` across an await, then the future is marked `!Send`, and you can't spawn it off to run on another thread - all correct. Rustc even gives you an excellent error message, pointing out the `MutexGuard` as the reason the future is not `Send`.

But people new to asynchronous programming are not going to immediately

[2020-04-12 19:10] jonas-schievink commented on #71072
cc https://github.com/rust-lang/rust-clippy/issues/4226

[2020-04-12 20:14] quark-zju commented on #42721
Would a subset of negative bounds be less problematic? For example, `!Sized`? That alone might already solve some problems.

[2020-04-12 20:20] foeb commented on #66219
@LeSeulArtichaut
I actually did one of those yesterday but it's fine, I'll take any help I can get for this. If it was just me alone, it'll take me years :smile:
Let's coordinate over email first next time though, so we don't have too much duplicated effort

[2020-04-12 20:28] Skarlett commented on #71050
Confirmed, applied patches from the lastest nightly fixed it.

[2020-04-12 20:28] #71050 closed

[2020-04-12 20:31] joshtriplett commented on #71033
This seems entirely reasonable to me. If you never call any of `str`'s functions, just *storing* non-UTF-8 in it shouldn't cause any issue.

I wonder if we might be able, in the future, to carefully exclude a few of `str`'s functions from the "library UB" requirements.

cc @BurntSushi: Would this change potentially simplify `bstr`?

[2020-04-12 20:57] CAD97 commented on #60728
@Amanieu

I use `Arc::as_raw` (currently spelled `Arc​::​into_raw​(​unsafe​ { ptr​::​read​(this) })`) rather pervasively to implement [`ArcBorrow<'_, _>`](https://lib.rs/rc-borrow), which is effectively "`&T` but can be upgraded to `Arc<T>`." This is "+0" passing for `Arc`, as opposed to double-indirect passing (`&Arc<T>`) or "+1" passing (`Arc<T>`).

I'm _not_ doing `as_raw` + `forget`, I'm doing

[2020-04-12 21:05] philnguyen opened #71075 "Infinite recursion gives bogus result in release mode"
I tried this code:

[code]

I expected to see this happen: Program should either get a stack overflow or loop forever (due to tail call).

Instead, this happened: With `cargo run --release`, program finishes normally:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-04-12 21:07] jonas-schievink commented on #71075
duplicate of https://github.com/rust-lang/rust/issues/28728

[2020-04-12 21:07] #71075 closed

[2020-04-12 21:09] #70874 closed

[2020-04-12 21:10] rust-highfive opened #71076 "`rls` no longer builds after rust-lang/rust#71059"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#71059, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-04-12 21:10] rust-highfive opened #71077 "`rustfmt` no longer builds after rust-lang/rust#71059"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#71059, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-04-12 21:13] rodrimati1992 opened #71078 "`static FOO:Foo=FOO;` doesn't cause cycle error for zero-sized-type with no public constructor."
I tried this code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8f15edf4886c9c8bb753636feb70ec2
[code]

I expected the code to fail to compile with a cycle error.

Instead, it compiled and ran,printing the value of `FOO` .

### Meta

I was able to verify that this bug happens for the 1.42.0 stable, 1.43-beta.5, and 1.44.0-nightly(2020-04-11 e82734e56b2a50d38e09) version

[2020-04-12 21:14] Amanieu commented on #60728
Fair enough, let's leave the semantics of `as_raw` as they are right now and just rename it to `as_ptr` for consistency with the rest of libstd. Since this is clearly something that would be useful for `Rc`/`Arc` it would make sense to add a method there as well.

[2020-04-12 22:36] steffahn commented on #71072
Related open RFC: https://github.com/rust-lang/rfcs/pull/2890

[2020-04-12 22:40] Boscop opened #71080 "Warning "unnecessary braces" for expr attribute after updating nightly"
I just updated my nightly from 02-14 to 04-12, and now I get this warning:
[code]
for this code using [`auto_enums`](https://github.com/taiki-e/auto_enums):
[code]
Notice that there are no braces.
It didn't produce a warning with the old nightly.

[2020-04-12 22:48] RalfJung commented on #71033
Yes I think that is definitely possible. It is somewhat similar to, for example, how we promise that `Vec::push` will keep existing pointers working if it does not reallocate (though that is AFAIK not very clearly documented): library methods can make extra promises beyond the ways they could be used in safe code.

[2020-04-12 23:02] steffahn commented on #68813
This is a duplicate of https://github.com/rust-lang/rust/issues/67893, judging by the error message and the fact that I just confirmed 41601a8c95240cada94c13466a1fea02e5fe87ed as the fixing commit for the mcve I created over there. @rustbot modify labels to -E-needs-mcve.

[2020-04-12 23:11] eddyb commented on #71078
cc @rust-lang/wg-const-eval

[2020-04-12 23:18] eddyb commented on #70997
@DustinByfuglien This is not a bug, but the error doesn't tell you how to fix it
This is the important part:
[code]

You have to write write `impl Generator + Unpin` if you want to use `Pin::new`, otherwise the compiler tries to figure it out on the spot and ends up in a cyclic dependency during type-checking.

[2020-04-12 23:36] retep998 commented on #71055
Windows actually does not support vectored reads and writes for anything other than sockets, so `write_vectored` and `read_vectored` for files just defaults to doing a single read/write of the first buffer. Windows *does* support reading and writing at a specific position, so I see no reason why `read_vectored_at` and `write_vectored_at` cannot be implemented in a similar fashion, where it does a

[2020-04-13 00:10] ecstatic-morse commented on #71078
`cargo-bisect-rustc` narrowed to the following:
  Auto merge of #63015 - Centril:rollup-ydhpcas, r=Centril
  Auto merge of #62086 - petrochenkov:builtout, r=eddyb
  Auto merge of #62748 - luca-barbieri:optimize-refcell-borrow, r=RalfJung
  Auto merge of #63043 - Centril:rollup-f4baee4, r=Centril
  Auto merge of #63029 - petrochenkov:rpass, r=Centril

Possibly #62982?

[2020-04-13 00:20] Centril commented on #71078
Weaponized soundness hole (using https://docs.rs/refl/0.2.1/refl/ as a foundation):
[code]

==>

[code]

[2020-04-13 00:23] Aloso commented on #70790
@varkor thanks for fixing this so quickly!

Is there a chance that this restriction will be lifted, so the above code compiles?

[2020-04-13 00:47] Centril commented on #71078
cc @oli-obk @RalfJung

[2020-04-13 00:48] Centril commented on #50422
Removing I-unsound as this issue doesn't track a specific known soundness hole.

[2020-04-13 00:59] #71008 closed

[2020-04-13 00:59] #69130 closed

[2020-04-13 01:25] Centril opened #71083 "Interactions in `type_alias_impl_trait` and `associated_type_defaults`"
A question about impl Trait in trait type aliases: has any thought been given about how they should handle defaults?

I'm trying to do something like this, without success:
[code]
[(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0094ea01075cc106ff3c0be8780c39b1)

I'd guess this just hasn't been RFC'd yes, but does someone know if thought on the topic hav

[2020-04-13 01:32] zero-systems opened #71084 "T: Clone -> Into<T> for &T and From<&T> for T?"
I tried:
[code]

I got:
[code]

Why there is no `Into` or `From` for T/&T?
My code does not make any sense, but it might be useful when you write function with generics like:
[code]
Where I want to put `&[char; 5]` as `i`.
Iterator `[char; 5]` returns items as references: `&char` for both .iter() .into_iter().
I don't want to clone my slice into vec, I wanna to process items just in time, inside m

[2020-04-13 01:33] Centril opened #71085 "TAIT: Add a test case using `Sized`"
Note to self (or whoever wants to help out); the following should be added as a test case in `src/test/ui/type-alias-impl-trait`:
[code]

This issue has been assigned to @samrat via [this comment](https://github.com/rust-lang/rust/issues/71085#issuecomment-612739030).

[2020-04-13 01:40] zero-systems commented on #71084
But I can't reimpl into for custom into:
[code]

[code]

It looks like compiler wanna say there is already impl I want, but I can't find it and still `Into<T> for &T` not works......

[2020-04-13 01:48] Amanieu commented on #49342
As I am not very familiar with the intricate details of Windows paths, I am inclined to defer to @retep998 for a decision.

[2020-04-13 01:52] varkor commented on #70790
We would like to lift the restriction, but probably not in the first stabilised version of const generics, as it's not easy to get right: we need to be very careful in making sure that we don't accidentally allow unsoundness to sneak in, and there are many subtleties.

[2020-04-13 02:34] ehuss opened #71086 "Invalid JSON for ast-json"
The JSON for `-Zast-json` is broken because the [`id` field](https://github.com/rust-lang/rust/blob/9fed36055070168e5238d6bf6e58a36f519fe427/src/librustc_ast/ast.rs#L2239) for attributes serializes to nothing.

An empty library produces the following:

The important bit `"id":,` which is clearly not valid JSON.

It looks like the [`AttrId`](https://github.com/rust-lang/rust/blob/9fed36055070168e52

[2020-04-13 02:44] jdm commented on #68076
https://github.com/jdm/rust/tree/heap-profiler is a branch that causes `heapallocsite` debug metadata to be added to LLVM call instructions for heap allocator functions. I haven't yet tested the effect on Windows yet, but the IR output is at least different now.

[2020-04-13 02:45] steveklabnik commented on #71033
Shouldn't this be an RFC, rather than just an issue on the Rust tracker?

[2020-04-13 02:50] Centril commented on #71033
The RFC format feels excessive as a matter of "filling in the forms" (I don't know that it would add anything). The design choices here aren't too complicated and it doesn't feel like there's any opposition thus far to the change here, given that LLVM et. al cannot exploit this. The FCP should provide the same chance of community input here I feel given the usual coverage in TWiR etc.

[2020-04-13 03:58] samrat commented on #71085
Hi, I would like to work on this.

[2020-04-13 03:59] Centril commented on #71085
@rustbot assign @samrat

[2020-04-13 04:13] Centril commented on #70934
Looks like this compiles but it shouldn't:
[code]
Dumping the MIR for this you get:
[code]

Presumably, what should happen here is:
[code]

The `delay_span_bug` occurs here:
[code]

cc @oli-obk @matthewjasper

[2020-04-13 04:16] #71061 closed

[2020-04-13 04:39] Centril commented on #67691
Was fixed in https://github.com/rust-lang/rust/pull/67766.

[2020-04-13 04:39] #67691 closed

[2020-04-13 04:42] DustinByfuglien commented on #70997
Thank you.
But what difference is with next example that successfully compiles?

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c5a4320a0cd48b6778803b2ae0c41f1b))
[code]

[2020-04-13 04:43] strega-nil opened #71088 "Format string parser does not fail on invalid input"
This code:

[code]

Compiles, and prints `32`. According to the `std::fmt` docs,

[code]

is the syntax of format specifications; however, `\t` does not fulfill any of these elements. I assumed that it might accidentally be implementing the syntax

[code]

however, if that were true, then this should print `9` (and not `32`). I haven't looked into the parsing code, but will after filing this issue

[2020-04-13 05:57] vorner commented on #60728
While implementing it, I've noticed one thing. The current implementation will return a pointer with invalid alignment. Is that Ok?

Here, as part of this feature?

[2020-04-13 06:50] spease commented on #49494
Thanks 👍

[2020-04-13 07:34] #70993 closed

[2020-04-13 07:38] RalfJung commented on #64586
Woah, `mut` "resets" the binding mode? That is quite absurd indeed.

[2020-04-13 07:40] RalfJung commented on #50008
This issue is still open, it seems, and now being tracked at https://github.com/rust-lang/rust/issues/64586.

[2020-04-13 08:13] RalfJung commented on #71078
*oopsie* yeah... https://github.com/rust-lang/rust/pull/62982 is probably where this started. But that is crucial to fix https://github.com/rust-lang/rust/issues/62189.

The problem is that "reading from a ZST" isn't actually doing anything. Here's the MIR for `FOO`:
[code]
So there actually is a `*_1` that loads from this static (I didn't expect that). But in Miri, a ZST load just checks that the

[2020-04-13 08:43] alvinhochun opened #71089 "Provide better compiler output when using `?` on `Option` in fn returning `Result` or vice-versa?"
It seems that `rustc` should provide a better error message or hint when one tries to use the `?` operator on an `Option` in a function returning a `Result` or vice-versa.

Currently this is the error you get:

[code]

However, it would be better to suggest the use of `Option::ok_or` or `Option::ok_or_else`, or `Result::ok`, instead of referencing something dependent on the `try_trait` feature (`N

[2020-04-13 09:48] phansch commented on #71077
Probably caused by https://github.com/rust-lang/rust/pull/71029

[2020-04-13 09:53] leonardo-m opened #71090 "Spurious compiler_builtins::int in error message"
This wrong code:

[code]

Gives (rustc 1.44.0-nightly (3712e11a8 2020-04-12)):

[code]

I think it's better to omit the second part of the error message, with the compiler_builtins::int::Int ghost trait.

[2020-04-13 10:19] ChrisDenton commented on #49342
I'd note that the Windows NT kernel does not really have the same concept of relative paths. All paths are absolute*. Interpreting relative paths happens in the Win32 user space. The Win32 API will call [`GetFullPathNameW`](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getfullpathnamew) (or actually the internal equivalent) to get an absolute path. When you use the `\\?\` p

[2020-04-13 10:36] taiki-e commented on #71080
Hmm... unused braces generated by macros seem to be properly ignored: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4c2befbd2e7486399bfbb521723d0a5

[2020-04-13 10:37] icy-ux commented on #71052
Done: https://github.com/rust-lang/cargo/issues/8100

[2020-04-13 10:37] #71052 closed

[2020-04-13 10:58] Amanieu commented on #60728
I think it's fine to return an unaligned pointer (you're not allowed to dereference it anyways). We should document it however.

Sure, might as well.

[2020-04-13 11:31] sfackler commented on #71088
This is just because the fmt parser ignores whitespace I believe: https://github.com/rust-lang/rust/blob/master/src/libfmt_macros/lib.rs#L397-L406.

[2020-04-13 11:46] jonas-schievink commented on #71084
The `From` impl would overlap with existing blanket impls like:

`impl<'_, T: ?Sized + AsRef<OsStr>> From<&'_ T> for OsString`

And the `Into` impl overlaps with the `impl<T, U: From<T>> Into<U> for T ` impl.

It's trivial to work around this by just calling `clone()` manually or dereferencing the reference.

[2020-04-13 11:46] #71084 closed

[2020-04-13 12:21] pavelrappo commented on #70898
Could _compiltest_ be a simple typo? (There's the [`compiletest`](https://docs.rs/crate/compiletest_rs/0.5.0) utility; note "e" in its name.)

[2020-04-13 12:39] RalfJung commented on #68364
According to @eddyb, discussion at https://github.com/rust-lang/rust/pull/71005#issuecomment-612420983 is relevant here. In particular, maybe whatever we use to model "return place must not alias with anything" could also be used to model "left-hand side of assignment must not alias with anything".

[2020-04-13 12:51] ChrisDenton commented on #49342
An alternative would be for `set_current_dir` to automatically strip the prefix and document that.

[2020-04-13 13:07] Screwtapello commented on #49342
Silently stripping the prefix probably isn't a good idea, since there's a variety of perfectly sensible paths that will break in confusing ways if Win32 is allowed to mess with them (paths longer than 256 characters, for example, or paths containing the segment `CON`).

I would support updating the `set_current_dir()` docs to advise against using prefixed paths, or updating the implementation to r

[2020-04-13 13:20] jeremystucki commented on #69701
Okay it is way harder than I thought, so I won't be able to get it to work

[2020-04-13 13:26] japaric opened #71093 "[codegen] unnecessary panicking branch in `foo().await` (vs equivalent `FutureImpl.await`)"
I compiled this `no_std` code with (LTO / `-Oz` / `-C panic=abort`) optimizations (full repro instructions at the bottom):

[code]

I got machine code that includes a panicking branch:

[code]

I expected to see no panicking branches in the output. If I comment out `foo().await` and uncomment `Foo.await` (which should be semantically equivalent) then I get the expected output:

[code]

Interesting

[2020-04-13 13:38] jonas-schievink commented on #71093
My fix should have taken `-Cpanic=abort` into account, I'm not sure why it's not working here:

https://github.com/rust-lang/rust/blob/d28a46444eacf066ea0e7fdf6eda066e315aaa4a/src/librustc_mir/transform/generator.rs#L997-L1000

Maybe `no_landing_pads` is really only for the `-Zno-landing-pads` option?

[2020-04-13 13:43] RalfJung opened #71094 "`x.py fmt` silently ignores argument"
Ever since rustfmt was introduced into this repository, I used `./x.py fmt src/librustc_mir` and similar commands to format only that part of the tree, thinking that this would cut down formatting time a bit. But I just realized that even when I do `./x.py fmt src/asdfgh`, it just formats the entire repository. Looks like the argument is being silently ignored.

Ideally the argument should be hono

[2020-04-13 13:50] nikomatsakis commented on #63033
No progress or major updates. The [description here](https://github.com/rust-lang/rust/issues/63033#issuecomment-521234696) is still accurate as to the root cause, but I think we don't yet know the best fix.

[2020-04-13 14:09] tspiteri opened #71096 "Missed optimization in i.div_euclid(power_of_two)"
If a signed integer is divided by a power of two using Euclidean division, it is equivalent to an arithmetic shift, but this is not caught. For example

[code]
produces the assembly code
[code]
while it could simply be
[code]

The LLVM IR is
[code]
which I interpret to be something like
[code]
(I did check that this function produces the same LLVM IR.)

I don't know LLVM enough to know whether the

[2020-04-13 14:15] jonas-schievink commented on #71093
This is the "`async fn` resumed after completion" panic in `foo`'s generator. It's probably not possible to rid of that in general (whether it's actually unreachable depends on how the returned future is polled, and getting this wrong is unsound).

The reason `bar` does not contain this branch is indeed because it never returns, which this optimization takes advantage of:

https://github.com/rust-

[2020-04-13 14:34] bluss commented on #45431
Is there a tangible use case for making Vec smaller for some types?

[2020-04-13 14:34] nikomatsakis commented on #71033
I think the main point is that all the library's routines are available as public routines to be invoked on any `&str`. So this means that having a `str` which is exposed to safe code must meet those invariants. This doesn't necessarily have to come from a validity invariant, but it is still a core propery of `str`.

[2020-04-13 14:43] Shnatsel opened #71098 "Exploit mitigations applied by default are not documented"
There seems to be no documentation on exploit mitigations in Rust, specifically:

1. What exploit mitigations are supported?
1. What mitigations are enabled by default?
    1. Is that answer different if building with `cargo` instead of `rustc` directly?
    1. Does that vary by platform?
1. How to enable/disable specific mitigations?

This is relevant not only for security assessment, but also fo

[2020-04-13 14:54] ChrisDenton commented on #49342
Sorry, I was not suggesting ignoring the prefix in the general case. Only when calling `set_current_dir`. E.g., something like this (not tested):

[code]
However, returning an error may well be a better option. Though my hunch is most people who call `set_current_dir` with a verbatim path are doing so because they called `canonicalize` on the path beforehand.

[2020-04-13 14:58] spastorino commented on #68304
@nikomatsakis yes, going to try that out.

[2020-04-13 15:33] tmiasko opened #71099 "SIGSEGV when running liballoc tests on musl"
From CI run on `i686-unknown-linux-musl` https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/26193/logs/1470:

[code]

Local reproduction on `x86_64-unknown-linux-musl` (using musl 1.1.22, i.e., the same as in CI):

[code]

[2020-04-13 15:50] tmiasko commented on #71099
The issue does not reproduce with musl-1.2.0.

[2020-04-13 15:55] eddyb commented on #70997
@DustinByfuglien Generators, like closures, have type-checking/inference done at the same time as the parent function. By moving the generator into a separate function, you break the cycle as `f` can be completely type-checked/inferred before `main` finishes type-checking.

[2020-04-13 16:01] spastorino commented on #70934
This issue is already prioritized as `P-high` removing `I-prioritize` label.

[2020-04-13 16:52] Boscop commented on #64586
@varkor

Do you mean that this is preventing us from allowing to move `y` out with the `&y` syntax? I don't think so, because we also support moving-out combined with making-mut like this:
[code]

Btw, I really hope we can enable a way to move out some pattern constituents explicitly in the presence of match-default-bindings, and I really prefer `&x` over `move x` for reasons explained here (consi

[2020-04-13 16:56] BurntSushi commented on #71033
I think this change makes a lot of sense. I've always kind of wondered why `str`'s UTF-8 invariant was defined at the language level. Although, since this is moving a language invariant to a library invariant, it kind of feels like the libs team should be consulted? cc @rust-lang/libs And in particular, it would be great to hear from @SimonSapin

Also, are there any changes the `str` API docs in s

[2020-04-13 17:08] Boscop commented on #71080
@taiki-e I guess this issue can be closed then?

[2020-04-13 17:09] taiki-e commented on #71080
Yes, this is due to `#[auto_enum]` incorrectly generates a block that contains the span of the brace of the if expression (i.e., bug of auto_enums crate).

[2020-04-13 17:11] Boscop commented on #71080
Ah ok.

[2020-04-13 17:11] #71080 closed

[2020-04-13 17:12] marmeladema opened #71104 "Some `NodeId`/`LocalDefId` don't have a corresponding `HirId`"
During refactor work to remove `DUMMY_HIR_ID` (see https://github.com/rust-lang/rust/pull/71116), I noticed that some queries like `has_typeck_tables` are called for some `NodeId` or `DefId` that do not have a corresponding `HirId`.

Some specific helper functions have been introduced to overcome this bug and used in different places:
* https://github.com/rust-lang/rust/commit/b9161ab880cb4f58b2b2

[2020-04-13 17:14] Amityville-DE commented on #56546
I also find it a bit confusing, I wanted to look up the `count()` function on `Chars`, but I did not realize that I have to look at the Iterator trait documentation. I also not found the (i) hint left from the function signature on the return type of `std::String::chars()`. As a beginner this was confusing and a bit time consuming to find what I wanted to know.

[2020-04-13 17:22] spastorino commented on #70963
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2370963.20regression.20on.20span.20for.20panics.20due.20to.20tra) and removing `I-prioritize`.

[2020-04-13 17:39] birkenfeld commented on #56546
At the very least, it would be nice not to label the hidden methods as **"undocumented"** (which they aren't) but as **"documented in the trait"** or somesuch.

"Undocumented" suggests "I won't need them anyway".

[2020-04-13 18:28] the8472 commented on #49921
It's a nice general optimization, but not necesarily *ideal* if you use a `Vec` as `Write`. Adding a `BufRead` on the reader size does let you control the buffer size but it still introduces an unnecessary memcopy compared to `File::read_to_end`.

Perhaps a writer-side optimization would be more flexible. Then you can specialize either for `BufWriter` or `Vec`

[2020-04-13 18:42] codesections commented on #56546
@Amityville-DE mentioned the "Important traits" icon to the left of the `String::chars()` method, which (when clicked) notes that `Iterator` is an important trait for `Chars`.  This shows that Rustdoc already has _some_ notion of "important traits".

Specifically, a trait is "important" if it is documented with the (currently unstable) `#[doc(spotlight)]` attribute; for the standard library, this

[2020-04-13 18:42] SimonSapin commented on #71033
This change sounds reasonable to me from the point of view of how the language is defined. I don’t expect it will have much or any practical impact for users of the language.

[2020-04-13 18:53] pnkfelix commented on #69798
For reference, d28560e is part of PR #67332; i.e. the latter PR either injected this bug, or tickled a latent bug in LLVM. (Which of the latter two cases we are in depends in part on how we resolve the [questions raised earlier](https://github.com/rust-lang/rust/issues/69798#issuecomment-596856956) by @Aaron1011 .)

[2020-04-13 18:57] nellshamrell commented on #70659
# CargoTest Summary

## What is Cargotest?
* componenet of rustc's CI
* ensures a predefined suite of libraries and applications successfully compile and pass tests with the rustc and cargo binaries
* test, called cargotest, which builds some projects on every auto CI run

## Goal of Cargotest
* decided by vote on 2020-03-25 (Discord log [starts here](https://discordapp.com/channels/44225269896472

[2020-04-13 19:12] nellshamrell commented on #70659
## Problems with Cargotest
* we need to manually update the pinned commit of each repo we test every time the repo is update (currently pinned to a version of xsv that was committed in 2017)
* rarely breaks
* takes about 20 min to run in CI
* crates like iron are outdated

[2020-04-13 19:34] pnkfelix commented on #69798
Of the options outlined by @Aaron1011 [above](https://github.com/rust-lang/rust/issues/69798#issuecomment-596856956), I think number 2 is best:

I have started prototyping it on my laptop, since I am familiar with the code I added in PR #67020

[2020-04-13 19:53] strega-nil commented on #71088
It turns out, it's implementing the syntax

[code]

due to a bug in this commit from 7 years ago: a447c3ca165dda7aa31d2be76ce1ff35a7884579

[2020-04-13 20:29] ChrisDenton commented on #49342
So to summarise: if the path contains a verbatim prefix `set_current_dir` should do one of the following:

* Return an error without calling `SetCurrentDirectory`.
  * Issue: It's not easy for users to manually remove the prefix.
* Silently call `SetCurrentDirectory` without the prefix.
  * Issue: May be unexpected.
* Call `SetCurrentDirectory` with the prefix (the current behaviour).
  * Issue: W

[2020-04-13 21:05] varkor commented on #64586
We could probably permit some examples that are currently forbidden, but we would not be able to make it behave consistently (e.g. with regards to `mut`) without a breaking change, so this would be ad hoc at best. It's debatable whether this would be an improvement, and also whether it would be worth considering changing the behaviour in a new edition.

[2020-04-13 22:07] Centril commented on #54883
- On 2020-04-13, https://github.com/rust-lang/rust/pull/67766, written by @sapir and reviewed by @matthewjasper, landed. The PR fixed https://github.com/rust-lang/rust/issues/67691, a bug in the `unused_variables` lint pertaining to or-patterns.

[2020-04-13 22:26] Dylan-DPC commented on #38390
Closing this, since it is no longer applicable.

[2020-04-13 22:26] #38390 closed

[2020-04-13 22:34] Centril commented on #64586
@varkor Before considering using the edition mechanism, I think it would be prudent to crater run a change and see if anyone is relying on the `mut x` resetting.

[2020-04-13 23:03] #70851 closed

[2020-04-13 23:03] #69489 closed

[2020-04-13 23:04] rust-highfive opened #71110 "`miri` no longer builds after rust-lang/rust#71105"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#71105, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-04-13 23:47] 0dvictor commented on #64191
Correct, but we can implement similar, if not the same, way to combine the CGUs for that non-LLVM backend.

Great points. I should've been clear that this proposed feature would be guarded by an option, say `-Z combine-cgus`, and even if the feature is stablized, user should be able to turn if on/off; so that user is able to pick the best behavior that fits their usecases. In other words, the new

[2020-04-13 23:49] Dylan-DPC commented on #49660
@rustbot unassign

[2020-04-13 23:56] mental32 commented on #49660
@rustbot claim

I'll try to get a PR in by next weekend, If nothing happens past that I'm afraid I may have been too busy so [anyone] feel free to overtake :smile:

[2020-04-14 01:14] sjep commented on #53827
Hi all - I've been dealing with this problem for allocating 2d arrays (probably a common problem) so I created a [heap array](https://crates.io/crates/arr) that should work for many of the users above. I built it specifically to avoid blowing the stack, and for fast allocation. Of course it is very light weight - so if someone finds this useful we can surely expand on it :)

[2020-04-14 01:17] nagisa commented on #71096
I market this as A-LLVM as it could also be an opttimisation in LLVM, but I suspect that we may just need to write the function in a way that would make this more obvious to LLVM.

[2020-04-14 01:32] tmandry commented on #64191
Can `llvm::Linker` not link both bitcode and object code? IIUC, it would indeed regress performance quite a bit in that case, since LLVM IR -> Object code is one of the slowest compilation steps.

@0dvictor, can we compare the build time using the flag in your working branch versus `-Ccodegen-units=1`, versus a baseline? That would help indicate if this flag is worth maintaining.

[2020-04-14 02:30] 0dvictor commented on #64191
Unfortunately, `llvm:Linker` is only for linking bitcode.

Good idea, let me do that.

[2020-04-14 02:59] estebank commented on #71089
This error is emitted here:

https://github.com/rust-lang/rust/blob/8e18e26f12b1e8b3e913b15278bf6185f0f61add/src/librustc_trait_selection/traits/error_reporting/mod.rs#L278-L313

We could look at whether the `trait_ref` is `std::convert::From<std::option::NoneError>`, and if so, provide a more targeted error, including a structured suggestion for `ok_or_else`.

[2020-04-14 03:11] #71085 closed

[2020-04-14 03:41] Jerald opened #71113 "Normalization error with `ToOwned`"
I've recently been messing around with `Cow` and discovered the very weird behaviour associated with it, rooted in `ToOwned`. In an attempt to make an enum that can hold a `Cow` of itself, I ran into an internal compiler error! Very fun.

I've been developing on nightly, but I tested it on stable and the error exists there as well. I included both versions I tested with below.

The code below seem

[2020-04-14 06:13] michaelsproul commented on #62208
Could be a good fit for the `itertools` crate (@hdevalke you could PR your code upstream)

[2020-04-14 06:48] rust-highfive opened #71114 "`clippy-driver` no longer builds after rust-lang/rust#70643"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#70643, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Rustin-Liu, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritiza

[2020-04-14 07:42] fundon opened #71115 "Trait where clause issue"
### Ok

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a2950badc52ce239a7ee2b0cef3e4747

### Err
No support?
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=754771285ea43f8e05580d49660cfad2

<img width="731" alt="Screen Shot 2020-04-14 at 15 05 06" src="https://user-images.githubusercontent.com/27926/79198603-51a8c380-7e66-11ea-8af7-6f21e987a3fd.png

[2020-04-14 08:57] RalfJung opened #71117 "Semantics of MIR function calls"
Some discussion at https://github.com/rust-lang/rust/pull/71005#issuecomment-612242397 revealed that we are not entirely sure what exactly the semantics of passing arguments and return values for function calls should be.

The simplest possible semantics is to say that when a stack frame is created, we allocate fresh memory for all arguments and return values (according to the known layout, determ

[2020-04-14 09:04] RalfJung commented on #71117
I think a first step we should take is to make the `Call` terminator always provide a return place. Right now, every backend has to replicate the same hack where some scratch memory still needs to be allocated for the return place in case the caller did not provide some (except for Miri which makes it illegal to access the return place in this situation, but that is likely just wrong).

Beyond tha

[2020-04-14 09:29] eddyb commented on #71117
cc @rust-lang/wg-mir-opt @nikomatsakis

[2020-04-14 09:31] dilyanpalauzov opened #71118 "Source binaries"
https://forge.rust-lang.org/infra/other-installation-methods.html#source-code says

“Source code: Binaries + Signatures”

Source code is the opposite of binary.  Use other words, so that no contradictions appear.

[2020-04-14 09:33] dilyanpalauzov opened #71119 "Reuse installed LLVM during rust compilation"
I download https://static.rust-lang.org/dist/rustc-1.42.0-src.tar.gz and then I want to build rustc. Since I have LLVM on my system, I want to use it, rather than compiling a separate LLVM during the rust build process.

I find no documentation describing how to reuse my installed LLVM for rust.

[2020-04-14 10:04] #68112 closed

[2020-04-14 10:07] jonas-schievink commented on #71119
Both `./configure` and `config.toml` document the options you need to set

[2020-04-14 10:15] lqd commented on #70917
All these depend on `proptest`, except:
- [`zenroom_minimal-0.1.0`](https://crater-reports.s3.amazonaws.com/pr-70917/master%23209b2be09fcaff937480d1fbbe8b31646e361c7a/reg/zenroom_minimal-0.1.0/log.txt)
- [`luster`](https://crater-reports.s3.amazonaws.com/pr-70917/master%23209b2be09fcaff937480d1fbbe8b31646e361c7a/gh/kyren.luster/log.txt)
- [`clint`](https://crater-reports.s3.amazonaws.com/pr-70917/

[2020-04-14 10:26] csmoe commented on #71119
`./configure --hep`

[2020-04-14 10:26] #71119 closed

[2020-04-14 10:27] main-- commented on #49921
That sounds rather uncommon to me though. After all, `read_to_end` is provided by the `Read` trait so it's always available. The only case I can see where you would invoke `io::copy` with a `Vec` as *destination* is some generic interfaces that takes any `W: Write`. But IMO such interfaces are ill-designed, as they could simply implement `Read` instead and offer a much more flexible API.

[2020-04-14 11:11] RalfJung commented on #68296
@matthiaskrgr
this example
[code]
Just looks like wrong code to me, the pointer is dangling as it refers to a local that does out of scope. I don't see a bug.

Since it seems like the example in the OP got fixed, could you describe expected and actual behavior with latest rustc to explain what the bug is that we are tracking here?

Cc @rust-lang/wg-const-eval

[2020-04-14 11:12] RalfJung commented on #67400
As far as I know this is deliberate. Cc @rust-lang/wg-mir-opt for some MIR experts.

[2020-04-14 11:26] csmoe commented on #71115
Duplicated of https://github.com/rust-lang/rust/issues/57923

[2020-04-14 11:26] #71115 closed

[2020-04-14 11:49] the8472 commented on #49921
yes, generic code taking a write was the concern. E.g. tar-rs has a tar archive [Builder](https://docs.rs/tar/0.4.26/tar/struct.Builder.html) which takes a `Write` and is fed with `Read` items. I'm not saying that creating an in-memory archive would be a good idea, just pointing out that these patterns do exist.

[2020-04-14 11:59] RalfJung commented on #28160
@nikomatsakis @eddyb are there any updates on this?

[2020-04-14 12:13] Duddino commented on #71089
Can I claim this issue?

[2020-04-14 13:12] spastorino commented on #71113
The ICE starts to happen in 1.32 but I'm getting the following error in 1.31 ...

[code]

[2020-04-14 13:12] #69556 closed

[2020-04-14 13:31] pnkfelix commented on #69798
My prototype is now done and appears to fix this case. I have not attempted to benchmark yet; I figure we can land it, or at least run it through perf.rlo, and see where it goes.

[2020-04-14 13:39] nikomatsakis commented on #71117
@RalfJung is the optional place only employed for functions that return uninhabited values? The type `!` has size 0, but I suppose in some cases the type might be non-zero in size..? I'm a bit confused about that part of what you wrote.

[2020-04-14 13:41] bjorn3 commented on #71117
`(!, u8)` has a size of 1.

[2020-04-14 13:41] eddyb commented on #71117
Because of partial initialization, you could have fields of e.g. `(A, B, C, !)` be written to.

[2020-04-14 13:42] nikomatsakis commented on #71117
Right. I just wanted to be sure that this is the kind of "dummy place" that @RalfJung was referring to, or if this was also a problem for the `!` type.

[2020-04-14 13:42] eddyb commented on #28160
I thought this has been resolved forever ago, am surprised this is still open.

[2020-04-14 13:44] nikomatsakis commented on #71117
I think that in general when we are assigning to a place, that place should not alias any of the values being read during the instruction. In other words, I think we should avoid the need for backends to introduce "temporaries".

I'm not 100% sure what this implies for arguments. I forget if we permit the arguments in MIR to be mutable, or do we have a function with a `mut` parameter copy those va

[2020-04-14 13:48] nikomatsakis commented on #70917
But oof, that's a lot of regressions. Looking at `zenroom_minimal` and `luster`, both issues seem to be related to lua. Not sure about clint.

[2020-04-14 13:50] eddyb commented on #71117
@nikomatsakis For optimization reasons we want calls to not do copies of anything we pass by reference in the ABI. Otherwise MIR optimizations could never remove those copies, even when it would be correct to do so.

[2020-04-14 13:55] varkor opened #71126 "Tracking Issue for `destructuring_assignment`"
This is a tracking issue for the RFC "Destructuring assignment" (https://github.com/rust-lang/rfcs/pull/2909).
The feature gate for the issue is `#![feature(destructuring_assignment)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking

[2020-04-14 13:56] nikomatsakis commented on #71117
Right, that'd be the other case. Still, it looks if I compile

[code]

I get this:

[code]

Note in particular the `_1 = move _2` at the end I think that if parameters were (at least sometimes) references into the caller's stack frame, that could be problematic, right? (In other words, we don't want the callee to be mutating the caller's variables.)

[2020-04-14 13:58] eddyb commented on #71117
We do, again, for optimizations reasons. This only happens with `Operand::Move` arguments, `Operand::Copy` arguments will do a copy in the caller before the call IIRC.

[2020-04-14 13:59] nikomatsakis commented on #28160
I'm going to just close the issue. We're not going to change the MIR we generate now in any major way. If in the process of looking at some of the issues around defining the semantics of MIR we make tweaks here, we can address those individually.

[2020-04-14 13:59] #28160 closed

[2020-04-14 14:00] bjorn3 opened #71127 "thread 'rustc' panicked at 'Failed to get parent for DefId(0:3721 ~ std[c8fe]::panic[0]::{{impl}}[20])', src/librustc_middle/traits/specialization_graph.rs:46:52"
Steps to reproduce:

1. Apply the patches at https://github.com/bjorn3/rustc_codegen_cranelift/blob/c03e824db78c83d2c5c37d37c45d2dcc964eca3f/patches to the standard library source.
2. Compile it

[code]

(keep alive: https://github.com/bjorn3/rustc_codegen_cranelift/commit/c03e824db78c83d2c5c37d37c45d2dcc964eca3f)

[2020-04-14 14:01] spastorino commented on #71113
Ok, I was guessing that this may have been because the compiler stops before exercising the code that produces the ICE and I've just confirmed that.

[code]

Also ICEs in 1.31

[2020-04-14 14:04] RalfJung commented on #28160
Note that this here is not a question of MIR semantics but of surface Rust semantics -- so MIR semantics discussion seems entirely orthogonal to me.

[2020-04-14 14:16] hanna-kruppe commented on #71117
To clarify, do you mean that e.g. in

[code]

the call to `bar` should pass on the same address `foo` received as argument? This is not currently the case, but IIUC it falls out of the aspiration / codegen strategy that you describe.

[2020-04-14 14:21] nikomatsakis commented on #68304
For the record, the "new plan" is this.

## Change to MIR construction

When generating the arguments to a call, we ordinarily will make a temporary `tmp` containing the value of each argument:

[code]

But we will modify this such that, for arguments that meet the following conditions:

* The argument is moved (not copied),
* and its type is not known to be `Sized`,
* and the "place" has outer de

[2020-04-14 14:26] RalfJung commented on #71117
This issue is not about assignments though but about function calls. Or do you view `_1 = foo(...)` as an assignment? (I don't, it's not `StatementKind::Assign`.)

I don't know if you are asking about current behavior or proposed change.
Right now, it seems like indeed diverging functions do get a return place *and a return destination (basic block)* if their return type has non-zero size ([demo](

[2020-04-14 14:26] vakaras opened #71129 "Refactor CTFE and const-prop machines to share common code"
[Miri](https://github.com/rust-lang/miri), [CTFE](https://github.com/rust-lang/rust/blob/8e18e26f12b1e8b3e913b15278bf6185f0f61add/src/librustc_mir/const_eval/machine.rs#L169), and [const-prop](https://github.com/rust-lang/rust/blob/8e18e26f12b1e8b3e913b15278bf6185f0f61add/src/librustc_mir/transform/const_prop.rs#L163) are implemented by using a MIR interpreter that can be customized by implementin

[2020-04-14 14:29] Speedy37 opened #71130 "Confusing error message with: A::from(x::into())"
The compiler given a hint about where the error is and can be corrected but this hint is confusing.

I created a minimal reproducer:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a96e7ba43b8b5661ab523c518653f026

[code]

I expected to see this happen:

An error about line 24 type annotations needed or the code to compile (A is well defined and there is no ambiguity about

[2020-04-14 14:36] nikomatsakis commented on #68304
Update: There is also [some discussion of implementation details on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/Box.3Cdyn.20FnOnce.3E.20doesn't.20respect.20self.20alignment.20.2368304)

[2020-04-14 14:39] RalfJung commented on #71129
I propose `ConstMachine` or so as trait name.

I wonder if there is a way to also share the `stack` field between the two? Though given how simple these two getters are it's probably not worth it...

[2020-04-14 14:41] nikomatsakis commented on #71117
@RalfJung I was including calls under the category of assignment, yes, but I am happy to limit the term "assignment" to `StmtAssign`.

Regarding the question of whether diverging calls should always have a "destination place", I think that's fine, simpler and more uniform MIR seems better.

---

@eddyb

Interesting. I guess that limiting this to `Move` arguments makes sense, in that the caller mus

[2020-04-14 14:44] nikomatsakis commented on #28160
Yes, I know. What I meant was: if we uncover some kind of problem with the current lowering in the course of that work, we might consider a specific proposal here, but it seems obvious that we don't want to be altering the observed semantics of running code at this juncture absent a very concrete proposal and strong motivation.

[2020-04-14 14:45] RalfJung commented on #71117
There's still something that makes no sense, and that is that an `Operand` would be used "by reference". It was my understanding that the entire point of `Operand` is to be a value, i.e., something you can copy out of, but not something that has an address in memory.

@eddyb

For reasons of basic sanity we want MIR semantics to be as simple as we can make it. So the question is, with MIR semantics

[2020-04-14 14:57] samrat commented on #71129
Hi, I am interested in working on this issue.

[2020-04-14 14:58] MiSawa opened #71132 "Improve documentation of slice::sort_by_key and slice::sort_unstable_by_key"
The current documentation for `slice::sort_by_key` and `slice::sort_unstable_by_key` method claims that for a slice of `n` elements, the method takes `O(m n log(m n))` worst-case, where the key function is `O(m)`.
https://github.com/rust-lang/rust/blob/d28a46444eacf066ea0e7fdf6eda066e315aaa4a/src/liballoc/slice.rs#L257-L258

Although this is [not wrong](https://en.wikipedia.org/wiki/Big_O_notation

[2020-04-14 14:58] pnkfelix commented on #69798
marking as stable-to-beta regression. The underlying bug here is old, but the change that *exposes* the bug here has not yet made it to stable.

[2020-04-14 15:05] shepmaster opened #71134 "Show values that lead to an arithmetic overflow when computing constants"
In Rust 1.42, this code correctly fails due to a misuse of bitwise-XOR as exponentiation:

[code]

[code]

However, the error message could be enhanced to show the values that lead to the overflow. One rough idea:

[code]

This originated from a Stack Overflow question: [How can I guarantee that overflow will not occur in const variables?](https://stackoverflow.com/q/61191434/155423)

/cc @oli-obk

[2020-04-14 15:05] vakaras commented on #71129
@samrat Perfect! If you have any questions, just post them here.

[2020-04-14 15:15] spastorino commented on #71113
Assigning `P-medium` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371113.20Normalization.20error.20with.20.60ToOwned.60) and removing `I-prioritize`.

[2020-04-14 15:29] spastorino commented on #71078
Assigning `P-critical` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2371078.20.60static.20FOO.3AFoo.3DFOO.3B.60.20doesn't.20cause.20cycl) and removing `I-prioritize`.

[2020-04-14 15:32] oli-obk commented on #70934
I guess we need to track down where `error[E0508]: cannot move out of type `[S; 1]`, a non-copy array` is emitted and make that code also look at the MIR of promoteds.

We can't avoid that code from getting promoted without getting into an unfun game of whack-a-mole in the promotion code.

[2020-04-14 15:46] Centril commented on #70934
The error is constructed here:
https://github.com/rust-lang/rust/blob/ba72b15666b2491415aec703a02c2364fe5e2790/src/librustc_mir/util/borrowck_errors.rs#L281-L305
which is called here:
https://github.com/rust-lang/rust/blob/ba72b15666b2491415aec703a02c2364fe5e2790/src/librustc_mir/borrow_check/diagnostics/move_errors.rs#L258
and here:
https://github.com/rust-lang/rust/blob/ba72b15666b2491415aec703a

[2020-04-14 15:52] oli-obk commented on #70934
hmmm... not sure what borrowck does to promoteds. I mean we basically declared all lifetimes to be static, but the same is true for the body of constants which we do run borrowck on. So... let's try to just run borrowck on promoteds and see how it goes.

[2020-04-14 15:54] oli-obk commented on #70934
alternatively we just run the `gather_moves` logic on promoteds instead of full borrowck, as the latter may have a significant perf impact.

[2020-04-14 16:03] LeSeulArtichaut commented on #71129
@rustbot assign @samrat

[2020-04-14 16:07] killercup commented on #45726
Can't answer the RFC question but I think this is a really nice feature, especially if you plan on having guide-like content in your docs. I've literally written [a tool](https://github.com/killercup/waltz) to have [that style](https://github.com/killercup/quicli/tree/b2b2ebc5ecde0fb361395d9ff050378b99072698/docs) in non-rustdoc context :smile:

[2020-04-14 16:11] estebank commented on #71035
I think that https://github.com/rust-lang/rust/pull/71108 might fulfill the last comment's request.

[2020-04-14 16:17] estebank commented on #70935
There are two things here

1. We have a label that has embedded newlines which causes the broken down ASCII art
2. We should find a way to reverse the order in which multiline spans are sorted, but this will require handling multiple labels. The current order is optimized for not having to tweak the label positions, but when no labels are involved, we could do much better.

[2020-04-14 16:18] gardrek opened #71136 "Compiler erroneously suggests inserting a syntax error in struct definition"
When defining a struct that derives Clone, that owns an instance of another struct, which is _not_ Clone, an invalid suggestion is given to resolve the problem.

I tried this code:

[code]

I expected any suggestions to at least be valid Rust. Instead, the compiler suggested "borrowing" but put the `&` in the wrong place, which is invalid syntax.

[code]

I checked this in Stable 1.42.0 and "Night

[2020-04-14 16:22] rokob opened #71137 "Improve await error messaging for trait obligations"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

Note that the await pointed to be the error message is wrong.

The code that gets the span for the await is here https://github.com/rust-lang/rust/blob/32fb4dcdd7a57683a639a0959442711d0fd123bc/src/librustc_trait_selection/traits/error_reporting/suggestions.rs#L1340. The last span in generator_inter

[2020-04-14 17:14] hdevalke commented on #62208
@michaelsproul `itertools` already contains [`take_while_ref`](https://docs.rs/itertools/0.9.0/itertools/trait.Itertools.html#method.take_while_ref).

[2020-04-14 17:19] awakecoding commented on #44322
@CryZe did you get any further on this? We are desperate for a workaround to make it work on iOS, where using shared libraries is not an option :(

[2020-04-14 17:23] eddyb commented on #70917
We should probably allow this, since it's sound (AFAIK). If nothing else, we should be more intentional about a breaking change.

[2020-04-14 17:29] Duddino commented on #71089
@rustbot claim

[2020-04-14 17:50] pietroalbini commented on #70890
Finished writing the code, I'll test that everything works as expected tomorrow, and then open a PR with the changes.

[2020-04-14 18:03] eddyb opened #71142 ""constant expression depends on a generic parameter" error can be improved."
Original discussion happened at https://github.com/rust-lang/rust/pull/70452#discussion_r399406715.

<hr/>

This was my last proposal in that comment thread (https://github.com/rust-lang/rust/pull/70452#discussion_r399580683):

cc @rust-lang/wg-diagnostics @varkor @yodaldevoid

[2020-04-14 18:07] davidbarsky commented on #69781
How would this apply to `#[async_trait]`-generated docs, if at all? Personally, I'd love to have a toggle in Rustdoc that showed the "pretty"/pre-macro expansion "type signature" in Rustdoc. Without that toggle, the documentation is pretty noisy, and arguably, a hindrance to accessibility and learning. For instance, see [`rusoto_dynamodb`](https://docs.rs/rusoto_dynamodb/0.43.0/rusoto_dynamodb/tra

[2020-04-14 18:26] eddyb commented on #71117
I think we all agree on this now, who's gonna do it? Do we want an issue just for that?

I keep bringing this up, but: I don't like it *either*. I have previously called it an abuse of `Operand`, including for the RHS of an assignment where (non-overlapping) `memcpy` may be used (a "by-reference" use with aliasing implications).

It's fine, you're just not detecting the UB necessary to observe the

[2020-04-14 18:47] GuillaumeGomez opened #71144 "[rustdoc] Remove object methods coming from trait impls in search results?"
Currently, if an object `A` implements a trait `B`, the search will show both `A::whatever` and `B::whatever`. I think this might be a bit too much. Removing this would in addition makes the search-index file ligher.

What do you think @rust-lang/rustdoc ?

[2020-04-14 19:06] deavid commented on #32498
I got the same while playing around with Rust:
[code]

While something like this might not make much sense in real programs I thought it might be useful to you to have a minimal source that demonstrates the problem.

Option is not needed here, but it cuts down the amount of "recursivity" in half. So it seems there is some kind of limit of 256 levels when building a struct.

I wonder if it's possib

[2020-04-14 19:17] NickeZ commented on #69781
the function you link to returns a boxed pin. if all async functions does that I've completely misunderstood what a async desugares to. then it is even more important that the real type is in the signature.

[2020-04-14 19:26] awakecoding commented on #44322
I came up with a "solution" that is wrong on so many levels, but at least makes the @CryZe reproduction sample link:

[code]

This effectively builds the first library, extracts the object files, does a search & replace on "rust_eh_personality" to rename it to "rust_eh_personaliti", and rebuilds the static library from the object files. By forcing the symbol change on one of the two libraries, the

[2020-04-14 19:31] neocturne opened #71146 "Tracking Issue for raw slice len() method (slice_ptr_len, const_slice_ptr_len)"
This is a tracking issue for the len() method on raw slice pointers, which allows to get the length of a raw slice pointer when conversion to a slice reference would be UB (because the pointer is null or unaligned).

It covers the feature gates `#![feature(slice_ptr_len)]` and `#![feature(const_slice_ptr_len)]` (for const fn).

## Public API

[code]

## History / Steps

- [x] #71082
- [x] #71940
-

[2020-04-14 19:31] davidbarsky commented on #69781
My belief is that once you understand that an `async fn` desugars to either an `impl Future` (or some trait object that derefs to `Future`, in the case of the example I linked), defaulting to rendering `async` is preferable. While I like @tmandry's and @joshtriplett's suggestion to provide an `async` badge, I'd also make the `async` badge a button that toggles between the two representations of an

[2020-04-14 19:53] yaahc commented on #45726
Okay I'm gonna go ahead with an impl then and deal with the RFC question when it becomes an issue!

[2020-04-14 20:03] NickeZ commented on #69781
There are probably many reasonable ways to document async functions. The best IMO is to list the real types by default, `impl Future`, and have a toggle button to switch to the pretty versions. More importantly it would be nice if it was consistent and not like today where some functions show `async` before the function and some show `impl Future` as return value. The inconsistency is right now th

[2020-04-14 20:09] eddyb commented on #67400
This is arguably a bug, although for codegen this doesn't usually matter since `_3` is never on the stack.

That's not a reason to not have `Storage{Live,Dead}` but rather why this hasn't caused enough problems to be changed. IIUC, only miri would take advantage of `Storage{Live,Dead}` for `_3`.

[2020-04-14 21:02] steffahn opened #71150 "Hint about missing trait method suggests incorrect code (self parameter not named "self")."
In the error message below, the first argument of  `poll` is not named `self`.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8760b4f73c3bc7e383edf62742ccbac5))

Errors:

[code]

@rustbot modify labels: T-compiler, A-diagnostics, C-enhancement, D-papercut, F-arbitrary_self_types.

This issue has been assigned to @Duddino via [this comment](https://gi

[2020-04-14 21:31] RalfJung commented on #68304
This needs MIR datastructure changes, right? It is not currently representable I think as fn arguments are `Operand`. (Cc https://github.com/rust-lang/rust/issues/71117#issuecomment-613459418 where @eddyb argues that these "operands" should already have a weird semantics in case of `move`.)

[2020-04-14 21:34] Timmmm commented on #65439
LPeter1997, that was my original suggestion but people overwhelmingly preferred this API.

[2020-04-14 21:39] matthiaskrgr opened #71152 "rustc_llvm need to be rebuilt after ./x.py check"
repo @ edc02580e4e80476ac1ded2cc1008eaf8b8400e6
running

[code]
invalidates the build cache for the `rustc_llvm` crate.
This means that after
[code]
the last `x.py build` will have to rebuild `rustc_llvm`, `rustc_codegen_llvm`, `rustc_interface`, `rustc_driver` and `rustc-main` which is less than optional given no code was changed.

[2020-04-14 21:40] steffahn opened #71153 "Weird "cycle detected" error around type_alias_impl_trait and auto traits."
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1fea0326c4960368613d9fdbeb2951e5))

Errors:

[code]

@rustbot modify labels: C-bug, T-compiler, F-type_alias_impl_trait, requires-nightly, A-traits.
_(Note: `optin_builtin_traits` only used to demonstrate that any auto trait works, for example `Send`.)_

[2020-04-14 21:40] steffahn commented on #71153
@rustbot modify labels to +requires-nightly.

[2020-04-14 21:51] eddyb commented on #68304
`move *tmp0` is a perfectly normal operand, I don't know what you mean.
It's the same kind of `Operand` as we currently have in @nikomatsakis' `let tmp0 = *x;` (on the RHS)

[2020-04-14 22:08] estebank opened #71155 "Account for use of `try!()` in 2018 edition and guide users in the right direction"
Old documentation and blogposts will never be updated to not talk about the `try` macro. [The current output of the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3761918397ede5963c3803f3c3e43201)

[code]

is

[code]

It should provide structured suggestions to either use `r#try` or `?`:

[code]

This request is similar in spirit to #67204 and feels like a

[2020-04-14 22:09] cuviper commented on #71152
I think it's because of this:
https://github.com/rust-lang/rust/blob/edc02580e4e80476ac1ded2cc1008eaf8b8400e6/src/bootstrap/builder.rs#L767-L771
https://github.com/rust-lang/rust/blob/edc02580e4e80476ac1ded2cc1008eaf8b8400e6/src/librustc_llvm/build.rs#L18-L22

[2020-04-14 22:39] steffahn commented on #71058
This is what I got so far. You could replace `MySend` and `MyUnpin` with the actual `Send` and `Unpin` and get rid of the need for `#![feature(optin_builtin_traits)]`.
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a1b13e5ae7a9ed027267fceeb754ce22))

Errors:

[code]

The error disappears if you replace the `dyn Send` with `dyn Trivial` where
[code]

T

[2020-04-14 22:49] steffahn commented on #71058
If you specialize `S` to `&'a ()`, the error message changes. Note that it still seems to disappear in all of the cases described above where the previous error disappeared.
(Only "_seems to_ ... in all", as I might have not tested all of them).

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e45dc16e119bf51675e898ea062d20e1))

Errors:

[code]

[2020-04-14 22:50] steffahn commented on #71058
I'm also curious as to why the `+ 'a` is even needed in the standard library in
[code]

[2020-04-14 22:52] nnethercote commented on #60608
I tried doing this one and it hurt performance on several benchmarks. Here are the `check-clean` instruction counts for benchmarks that saw a change.
[code]
Here is the top part of the Cachegrind diff for `unused-warnings`:
[code]
So that one currently isn't viable.

[2020-04-14 23:31] jyn514 commented on #67264
Is this waiting on anything to be stabilized? I would have liked to use it in [a complicated match](https://github.com/rust-lang/docs.rs/pull/685/files#diff-0aa36516a2a42b271d0c346c642fb5eaR409).

[2020-04-14 23:33] CAD97 opened #71157 "rustc overflowed its stack: extern crate inside const inside external trait impl"
...but only when the crate is introduced solely through edition2018 extern prelude and _not_ when an `extern crate` statement exists at root level.

### [Minimized reproduction (on playground)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ad4f022c95b19205268d9dcc3052d5c4)

[code]

(Reason for this code shape: deriving serde's traits puts the impl within a `const` and us

[2020-04-14 23:49] joshtriplett commented on #70436
I'm very happy to see this method added, thank you!

I regularly find myself wanting this method, when writing various different pieces of data into a buffer and not wanting to copy them around excessively.

[2020-04-14 23:59] CAD97 commented on #71157
Here's a mcve that works without serde, using a single manifest:

<details><summary>Cargo.toml</summary>

[code]
</details>
<details><summary>lib.rs</summary>

[code]
</details>
<details><summary>main.rs</summary>

[code]
</details>

[2020-04-15 00:06] joshtriplett commented on #70436
Regarding the API:

Normally, you can't split a `writev` call without creating a potential semantic difference. However, if `writev` returns early and hasn't written all the data, then the write already won't be atomic, so there's no requirement to keep the remaining iovecs together.

With that in mind, why don't we implement `write_all_vectored` to take a non-mutable `&[IoSlice]`, and then if `wr

[2020-04-15 00:39] #66706 closed

[2020-04-15 00:39] #70773 closed

[2020-04-15 00:50] sfackler commented on #70436
@joshtriplett - yep, that approach was discussed up above. The thought for the current implementation is that the caller isn't going to care about the contents of the buffers slice after the call completes, and mutating it minimizes the number of write calls.

[2020-04-15 00:51] DemiMarie-parity commented on #68983
Could these be implemented by means of a lookup table?

[2020-04-15 02:40] michaelsproul commented on #62208
I don't think `take_while_ref` or `peeking_take_while` are well suited to this because they require you to assign the iterator to a local variable, and muck around with mutation, which breaks the flow of the iterator chain. The best I could do with them was [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=70e0eaf47cb4b2bbeba99f8f690cc21d), which isn't anywhere as nice

[2020-04-15 03:03] zoujieorg opened #71160 "cargo run get "Segmetation fault" on Debian10"
### What needs to be fixed?
1) my operating system is debian10
$ cat /etc/debian_version
10.3
$ uname -a
Linux i5debain 4.19.0-8-amd64 rust-lang/www.rust-lang.org#1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux

2) cargo version
i5debain:projects/issue/something $ cargo --version
cargo 1.42.0 (86334295e 2020-01-31)

3) cargo run get "Segmentaion fault"
i5debain:projects $ mkdir issue
i5debain

[2020-04-15 03:18] XAMPPRocky commented on #71160
Thank you for your issue! Since the issue seems to be with rustc/cargo and not the website I've transferred it to `rust-lang/rust`.

[2020-04-15 03:28] csmoe commented on #71160
Please file an issue to https://github.com/rust-lang/cargo

[2020-04-15 03:28] #71160 closed

[2020-04-15 03:40] #70490 closed

[2020-04-15 03:40] #56828 closed

[2020-04-15 03:40] #71132 closed

[2020-04-15 03:51] Aaron1011 commented on #71058
I think this is another case of https://github.com/rust-lang/rust/issues/64552

[2020-04-15 04:00] comex commented on #42528
I guess this is the same as #56828, which was just closed, so this should be closed as well.

[2020-04-15 05:36] rw commented on #49601
Seconded.

[2020-04-15 05:57] petrochenkov commented on #71157
Looks like a duplicate of https://github.com/rust-lang/rust/issues/55779.

[2020-04-15 05:57] mpskowron commented on #70924
I got the exact same issue a moment ago. Cleaning has helped as well. It was happening only for 'cargo test' for me, 'cargo build' was working fine. It happened after adding constructor methods to simple 2 fields struct and changing one test to use them instead of standard struct creation. Unfortunately I cannot share the repo, since it is private.

[2020-04-15 06:26] lambda-fairy commented on #62195
@Lucretiel the lifetime parameter is necessary in case `T` has non-`'static` lifetimes, e.g. if it's a reference ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a4cd4a4927f4d87260ff2976dfa25cf3)).

`Box::leak` has a lifetime parameter for the same reason.

[2020-04-15 06:27] lambda-fairy commented on #41758
Thanks for the info @xfix.

If the majority of calls use `Default::default` then that would support having a specialized method for that case.

[2020-04-15 06:32] RalfJung commented on #60639
https://github.com/rust-lang/rust/pull/71082 does all the hard parts here -- now adding more raw slice methods (like indexing) is a libcore-only patch, rustc does not need any further changes.

[2020-04-15 06:40] RalfJung commented on #68304
Oh sorry, somehow I thought operands could only refer directly to locals, not also dereference them.

I think I am beginning to see the pieces here -- together with @eddyb-style `Operand::Move` function argument handling, this entirely avoids having to dynamically determine the size of a local. I have to agree that is quite elegant, even though baking "pass-by-reference" into MIR semantics still s

[2020-04-15 08:41] Skasselbard commented on #67400
I saw something similar in other places. If I remember correctly the return place of intrinsic and/or foreign functions (like calls to the pthread library in mutexes) missed the storage statements as well.
Something like the ``_x`` in this pseudo mir:
[code]

[2020-04-15 09:07] pietroalbini commented on #70890
I will also need to change RLA to stop hardcoding rust-lang/rust and support receiving builds from rust-lang-ci/rust as well.

[2020-04-15 09:13] Skasselbard commented on #67400
From my point of view, the mir graph is a nice intermediate representation that can act as source for a translation to other targets. Especially because all code generation (macros and generics) was done in previous compiler phases and because there are only few language constructs that have to be translated (mainly statements and terminators).
I used it as source to [translate into Petri-Nets](ht

[2020-04-15 09:41] RalfJung commented on #71017
I agree. I find I often have tons of "unused" warnings when working on code that doesn't compile yet due to various type errors, and many of them go away when the type errors are resolved.

[2020-04-15 10:21] #70886 closed

[2020-04-15 11:33] SimonSapin commented on #47336
I’ve removed KodrAus’ checkbox, per https://github.com/rust-lang/team/commit/45013d114d89480c33cab2a1a99828e4aacb8aee.

[2020-04-15 11:59] SimonSapin commented on #70758
+1 for taking a `&T` parameter

* Fewer type parameters reduces likelihood of type inference being ambiguous in various programs
* In this case there is no loss of functionality over `slice.fill(v.borrow())`, as @lcnr pointed out

This reads like a template meant for "large" language features and doesn’t seem to really apply here. There is not a github label for every single unstable library featu

[2020-04-15 12:14] eddyb commented on #68304
I would keep the more general feature but use two different feature-gates (if we can).

And just like with a few other feature-gates (`#![feature(const_generics)]`) we could warn that `#![feature(unsized_locals)]` (the general one) is incomplete and could lead to misaligned variables (or something along those lines).

We could also add runtime asserts that the (dynamic) alignment is respected, onc

[2020-04-15 12:14] SimonSapin commented on #40062
Checking KodrAus’ checkbox per https://github.com/rust-lang/team/commit/45013d114d89480c33cab2a1a99828e4aacb8aee

[2020-04-15 12:14] steffahn commented on #71153
@rustbot modify labels: A-traits.

[2020-04-15 12:16] steffahn commented on #71058
Yeah, I’ve even also gotten a version of the error message “mismatched types”, “note: expected type \`_xyz_\` found type \`_xyz_\`” while reducing.

I guess, for just an additional regression test I got the example small enough, so @rustbot modify labels to -E-needs-mcve.

[2020-04-15 12:26] yoshuawuyts commented on #70758
This does make the common case somewhat awkward:

[code]

Understanding why a `Copy` value needs to be passed by reference in just this API may confuse people. The rationale behind adding the `Borrow` bound was to reconcile the common case with the desire to not always take-by-value https://github.com/rust-lang/rust/pull/70752#issuecomment-609015399, which allows values to be passed both by refere

[2020-04-15 12:29] steffahn commented on #70924
Are you by any chance able to reliably reproduce the error, though?

[2020-04-15 12:35] lcnr commented on #70758
Using `T` is also fine with me, this would be similar to `iter::repeat`, which also always stores a `T` which cannot be used. [link](https://doc.rust-lang.org/nightly/std/iter/fn.repeat.html)

When filling a slice of `Arc<T>`? Considering that we clone the arc inside of `fill` I doubt that this is a problem, we could use the following, which ends up generating the same asm for copy types and saves

[2020-04-15 12:37] oli-obk commented on #49146
Status update:

This is ready for stabilization from an implementation perspective, but there is the question of whether we want to keep the value based dataflow we have right now instead of a type based (but less powerful) one. The value based dataflow is a bit more expensive (more on that further down), and we need it for functions like

[code]

which a type based analysis would reject, because

[2020-04-15 13:53] nikomatsakis commented on #70917
I'm thinking similarly. To recap what I said in the meeting, we *could* allow this -- it might even be something we want to consider generalizing to other types.

I think we could adjust [RFC 1214] to be more permissive, and it would be useful in some cases.

[2020-04-15 13:53] SimonSapin commented on #47336
PR https://github.com/rust-lang/rust/pull/57934 has added `Rc::into_raw_non_null` and `Arc::into_raw_non_null`, reusing this tracking issue. But nobody involved commented here or updated the issue description, so the proposed plan at https://github.com/rust-lang/rust/issues/47336#issuecomment-586589016 does not account for them.

Unlike `Box`, `Rc` and `Arc` do *not* have a `leak` method that coul

[2020-04-15 13:56] nikomatsakis commented on #71117
@RalfJung

Yes, that was bugging me too! It seems like what we're saying is that calls should take places, not operands.

[2020-04-15 14:08] nikomatsakis commented on #68304
I was wondering about that too. It seems like it'd be good to review the more general feature in any case.

This is partly why I brought up the idea of wanting a guaranteed "no alloca" path -- this was something I remember us discussing long ago, and so in some sense I feel like the work we're doing here isn't just *working around* LLVM's lack of dynamic alignment support (though it is doing that,

[2020-04-15 14:11] nikomatsakis commented on #68304
I added two notes to the tracking issue #48055 so we don't overlook this in the future.

[2020-04-15 14:21] nikomatsakis commented on #49146
@oli-obk

Just to check in on this: is it not an option to have a type-based analysis even in straightline code? I imagine that's kind of backwards incompatible, given that we already accept the following ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2cb3d1964c2b83c3fa6d7de5a70edfb0)):

[code]

[2020-04-15 14:23] nikomatsakis commented on #49146
Personally, I tend to think we should push for the more consistent, better experience for users. It seems like we can optimize as needed, and in any case the cost is not too bad. But I'd like to understand just a bit better exactly what's happening in this more expensive analysis: is the idea that we are basically doing "constant propagation", such that whenever something is dropped, we analyze th

[2020-04-15 14:24] Shnatsel commented on #41758
For completeness I've scanned crates.io for uses of `.resize_with`, exact command used was `rg --iglob '*.rs' -F '.resize_with'`. Here are the results: https://pastebin.com/UgpzzQxT

At a glance the results seem to align with the ones posted above - roughly half of the invocations just use the default value. On the other hand, there are just 207 uses of `resize_with` across the entire ecosystem, s

[2020-04-15 14:28] Shnatsel commented on #41758
For reference, `unwrap_or_else` occurs 24631 times and `unwrap_or_default` 6286 times.

[2020-04-15 14:31] SoniEx2 commented on #41758
for reference, how many unwrap_or with the default value for the type (`0`, `""`, etc)? how many unwrap_or_else with Default::default? is it possible that the problem is elsewhere?

[2020-04-15 14:38] Shnatsel commented on #41758
Here are all occurrences of `.resize*` and `.unwrap_or*` methods for your perusal:
[resize.gz](https://github.com/rust-lang/rust/files/4481829/resize.gz) [unwrap_or.gz](https://github.com/rust-lang/rust/files/4481827/unwrap_or.gz)

My point is, since the use of `.resize_with` is very rare, I'm not convinced adding further sugar for it is worth it.

[2020-04-15 14:41] dwijnand commented on #47336
The previous formulation did (https://github.com/rust-lang/rust/pull/56998):

I trust your call if you think it's too niche to be worth keeping.

[2020-04-15 14:43] awakecoding commented on #44322
After digging through some older tickets, I found https://github.com/rust-lang/rust/issues/43415 and it mentioned a different result when building in debug vs release. I modified the reproduction sample to build in debug, and there is no linker issue. It does significantly change the layout of internal object files and where the symbols are (extracting the .a with 'ar' to see where symbols are).

[2020-04-15 14:43] awakecoding commented on #43415
I'm thinking this issue is related to https://github.com/rust-lang/rust/issues/44322

[2020-04-15 14:44] kornelski commented on #65512
In addition to `TryInto`, I find adding quite frequently:

* `Path` and `PathBuf`
* `HashMap` and `HashSet`

I wouldn't add `Display`, because for implementing it, it also needs its formatter and result. It would be interesting to add `std::fmt` to the prelude, so that `fmt::Formatter` and `fmt::Result` work, but adding `use std::fmt` isn't too bad.

[2020-04-15 14:48] leonardo-m opened #71169 "[ICE] with const generics array"
[code]

Gives:

[code]

[2020-04-15 15:13] SimonSapin commented on #65512
@eaglgenes101 The problem with https://github.com/rust-lang/rust/issues/25725 is not collision with methods of other traits from other crates, but collision of `IntoInterator` for `[T; N]` with itself for `&[T; N]` though auto-ref. Code that was previously valid (iterating `&T` by reference) changes meaning.

Having a new dedicated trait does not change the problem if the method is still named `in

[2020-04-15 15:14] awakecoding commented on #44322
Nevermind about building as debug as a way to get it working, as it fails the same way as in release mode when using panic="abort":

[code]

[2020-04-15 15:27] awakecoding commented on #44322
@alexcrichton @TimNN any idea what affects the compilation of the rust_eh_personality symbol specifically? There is this: https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_ssa/back/symbol_export.rs#L118

I'm trying to figure out if there is a way to get this symbol definition built as part of a separate object file, like what happens when it gets built as part of panic_unwind.o (+

[2020-04-15 15:29] Lesiuk commented on #53014
@pnkfelix I just reproduced it on my personal windows pc and I am asking myself why can't we just pass /bigobj to linker and forget about it?

https://docs.microsoft.com/en-us/cpp/build/reference/bigobj-increase-number-of-sections-in-dot-obj-file?view=vs-2019

[2020-04-15 15:38] Zoxc commented on #53014
@Lesiuk What was the error message and did you change `config.toml`?

[2020-04-15 15:42] mpskowron commented on #70924
Just tried to go back and forth with my recent changes, but unfortunately I couldn't reproduce the error.

[2020-04-15 15:53] anp commented on #47809
I've updated the stabilization report with a couple more bug links, a better opening, and a history of PRs for the feature.

[2020-04-15 15:57] oli-obk commented on #49146
Yes, that's the reason we can't just move entirely to the type based analysis.

We're only propagating a list of flags (`Drop` and `Freeze`, I just showed `Drop` here because it's easier to explain). When we reach a `Drop` terminator without having set the `Drop` flag, we ignore the `Drop` terminator. This allows code like the following:

[code]

This does not happen at evaluation time, so the fol